USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_RE_NOVOEX_AVERBACAO_OUTROS]() RETURNS @RETORNO TABLE (
                                                            NR_PROCESSO         VARCHAR(18),
                                                            NM_DESPACHANTE      VARCHAR(255),
                                                            CPF_DESPACHANTE     VARCHAR(11),
                                                            PW_DESPACHANTE      VARCHAR(30),
                                                            NR_RE               VARCHAR(30),
                                                            NR_RE_FINAL         VARCHAR(30),
                                                            NM_USUARIO          VARCHAR(255),
                                                            NM_EMAIL            VARCHAR(255),
                                                            CD_CLIENTE          VARCHAR(5),
                                                            CD_GRUPO            VARCHAR(3),
                                                            IN_EXTRATO_RESUMIDO BIT
                                                        ) AS
--*/
BEGIN
    /*
    DECLARE @RETORNO AS TABLE (
        NR_PROCESSO         VARCHAR(18),
        NM_DESPACHANTE      VARCHAR(255),
        CPF_DESPACHANTE     VARCHAR(11),
        PW_DESPACHANTE      VARCHAR(30),
        NR_RE               VARCHAR(30),
        NR_RE_FINAL         VARCHAR(30),
        NM_USUARIO          VARCHAR(255),
        NM_EMAIL            VARCHAR(255),
        CD_CLIENTE          VARCHAR(5),
        CD_GRUPO            VARCHAR(3),
        IN_EXTRATO_RESUMIDO BIT
    )
    --*/

    DECLARE @TB_RE AS TABLE (
        NR_PROCESSO         VARCHAR(18),
        NR_RE               VARCHAR(30),
        NR_ANEXO_INICIAL    INT,
        NR_ANEXO_FINAL      INT,
        NM_DESPACHANTE      VARCHAR(255),
        CPF_DESPACHANTE     VARCHAR(11),
        PW_DESPACHANTE      VARCHAR(30),
        NM_USUARIO          VARCHAR(255),
        NM_EMAIL            VARCHAR(255),
        CD_CLIENTE          VARCHAR(5),
        CD_GRUPO            VARCHAR(3),
        IN_EXTRATO_RESUMIDO BIT
    )

    DECLARE @NR_PROCESSO         VARCHAR(18)
    DECLARE @NR_RE               VARCHAR(30)
    DECLARE @NR_ANEXO_INICIAL    INT
    DECLARE @NR_ANEXO_FINAL      INT
    DECLARE @NM_DESPACHANTE      VARCHAR(255)
    DECLARE @CPF_DESPACHANTE     VARCHAR(11)
    DECLARE @PW_DESPACHANTE      VARCHAR(30)
    DECLARE @NM_USUARIO          VARCHAR(255)
    DECLARE @NM_EMAIL            VARCHAR(255)
    DECLARE @CD_CLIENTE          VARCHAR(5)
    DECLARE @CD_GRUPO            VARCHAR(3)
    DECLARE @IN_EXTRATO_RESUMIDO BIT

    DECLARE @NR_RE_ATUAL         VARCHAR(30)

    -- Os Rodoviários são listados no final da função

    INSERT INTO @TB_RE
    SELECT RE.NR_PROCESSO,
           RE.NR_RE,
           '001' AS NR_ANEXO_INICIAL,
           RIGHT(RTRIM(LTRIM(REPLACE(RE.NR_RE,' ', ''))), 3) AS NR_ANEXO_FINAL,
           ISNULL(RE.NM_DESPACHANTE, ISNULL(D.NM_DESPACHANTE, ISNULL(DR.NM_DESPACHANTE, ISNULL(DS.NM_DESPACHANTE, DP.NM_DESPACHANTE)))) AS NM_DESPACHANTE,
           ISNULL(RE.CPF_DESPACHANTE, ISNULL(D.CPF_DESPACHANTE, ISNULL(DR.CPF_DESPACHANTE, ISNULL(DS.CPF_DESPACHANTE, DP.CPF_DESPACHANTE)))) AS CPF_DESPACHANTE,
           ISNULL(RE.NM_SENHA_DESPACHANTE, ISNULL(D.NM_SENHA, ISNULL(DR.NM_SENHA, ISNULL(DS.NM_SENHA, DP.NM_SENHA)))) AS NM_SENHA_DESPACHANTE,
           ISNULL(RTRIM(UD.NM_USUARIO) + ', ', '') + ISNULL(RTRIM(UR.NM_USUARIO), ''),
           ISNULL(RTRIM(UD.NM_EMAIL) + ', ', '') + ISNULL(RTRIM(UR.NM_EMAIL), ''),
           P.CD_CLIENTE,
           EN.CD_GRUPO,
           ISNULL(G.IN_EXTRATO_AVERBADO_RESUMIDO, 0)
    FROM TPROCESSO_RE_OUTROS RE
       INNER JOIN TPROCESSO        P  (NOLOCK) ON P.NR_PROCESSO = RE.NR_PROCESSO
       INNER JOIN TEMPRESA_NAC     EN (NOLOCK) ON EN.CD_EMPRESA = P.CD_CLIENTE
       INNER JOIN TGRUPO           G  (NOLOCK) ON G.CD_GRUPO = EN.CD_GRUPO
       LEFT  JOIN TDESPACHANTE     D  (NOLOCK) ON D.CD_DESPACHANTE = RE.CD_DESPACHANTE
       LEFT  JOIN VW_SERVICO_GERAL S  (NOLOCK) ON S.CD_SERVICO = P.CD_SERVICO
       LEFT  JOIN TSD              SD (NOLOCK) ON SD.NR_SD = RE.NR_PROCESSO
       LEFT  JOIN TSD_RE           SR (NOLOCK) ON SR.NR_SD = SD.NR_SD AND SR.NR_RE_SISCOMEX = RE.NR_RE
       LEFT  JOIN TDESPACHANTE     DS (NOLOCK) ON DS.CPF_DESPACHANTE = SD.CPF_USUARIO
       LEFT  JOIN TUSUARIO         UD (NOLOCK) ON UD.CD_USUARIO = ISNULL(SD.CD_PROPRIETARIO, P.CD_USUARIO)
       LEFT  JOIN TRE_CAPA         RC (NOLOCK) ON RC.NR_RE_SISCOMEX = RE.NR_RE
       LEFT  JOIN TDESPACHANTE     DR (NOLOCK) ON DR.CPF_DESPACHANTE = RC.TX_CPF_SISCOMEX
       LEFT  JOIN TUSUARIO         UR (NOLOCK) ON UR.CD_USUARIO = RC.CD_USUARIO_TRANSMISSAO
       LEFT  JOIN TDESPACHANTE     DP (NOLOCK) ON DP.CD_DESPACHANTE = P.CD_DESPACHANTE
    WHERE ISNULL(RE.IN_BAIXADO, '0') = '0'
      AND ISNULL(RE.TX_OBSERVACAO, '') = ''

    WHILE (SELECT COUNT(*) FROM @TB_RE) > 0
    BEGIN
        SELECT TOP 1 @NR_PROCESSO     = NR_PROCESSO,
                     @NR_RE               = NR_RE,
                     @NR_ANEXO_INICIAL    = ISNULL(NR_ANEXO_INICIAL, 0),
                     @NR_ANEXO_FINAL      = ISNULL(NR_ANEXO_FINAL, 0),
                     @NM_DESPACHANTE      = NM_DESPACHANTE,
                     @CPF_DESPACHANTE     = CPF_DESPACHANTE,
                     @PW_DESPACHANTE      = PW_DESPACHANTE,
                     @NM_USUARIO          = NM_USUARIO,
                     @NM_EMAIL            = NM_EMAIL,
                     @CD_CLIENTE          = CD_CLIENTE,
                     @CD_GRUPO            = CD_GRUPO,
                     @IN_EXTRATO_RESUMIDO = IN_EXTRATO_RESUMIDO
        FROM @TB_RE

        -- SÓ FAZ SE O REGISTRO ESTIVER CORRETO
        IF (CHARINDEX('-', @NR_RE) > 5) --AND (SUBSTRING(@NR_RE, 4, 1) >= 5)
        BEGIN
            IF (@NR_ANEXO_INICIAL > 0)
                WHILE (@NR_ANEXO_INICIAL <= @NR_ANEXO_FINAL)
                BEGIN
                    SET @NR_RE_ATUAL = LEFT(@NR_RE, CHARINDEX('-', @NR_RE)) + RIGHT('00' + CONVERT(VARCHAR, @NR_ANEXO_INICIAL), 3)

                    INSERT INTO @RETORNO(NR_PROCESSO, CPF_DESPACHANTE, NM_DESPACHANTE, PW_DESPACHANTE, NR_RE, NR_RE_FINAL, NM_USUARIO,
                                         NM_EMAIL, CD_CLIENTE, CD_GRUPO, IN_EXTRATO_RESUMIDO)
                    VALUES(@NR_PROCESSO, @CPF_DESPACHANTE, @NM_DESPACHANTE, @PW_DESPACHANTE, @NR_RE_ATUAL, @NR_RE, @NM_USUARIO,
                           @NM_EMAIL, @CD_CLIENTE, @CD_GRUPO, @IN_EXTRATO_RESUMIDO)

                    SET @NR_ANEXO_INICIAL = @NR_ANEXO_INICIAL + 1
                END
        END

        DELETE @TB_RE
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_RE           = @NR_RE
    END

    /*
    SELECT *
    FROM @RETORNO
    ORDER BY NR_PROCESSO, NR_RE
    --*/RETURN
END

GO
