USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_DOCTO_NUMERO](@STR VARCHAR(1000), @PREFIXO VARCHAR(10)) RETURNS INT AS
BEGIN
    /*
    DECLARE @STR     VARCHAR(1000) = 'RE08.PDF'
    DECLARE @PREFIXO VARCHAR(10)   = 'RE'
    --*/

    SET @STR = LTRIM(RTRIM(@STR))
    DECLARE @RETORNO VARCHAR(1000) = ''

    IF (LEN(@STR) < LEN(@PREFIXO)) OR
       ((LEN(@STR) > LEN(@PREFIXO)) AND ((LEFT(@STR, LEN(@PREFIXO)) <> @PREFIXO) OR (SUBSTRING(@STR, LEN(@PREFIXO) + 1, 1) NOT IN ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9'))))
        SET @RETORNO = '0'
    ELSE
    BEGIN
        WHILE (LEN(@STR) > 0) AND NOT (LEFT(@STR, 1) IN ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9'))
            SET @STR = RIGHT(@STR, LEN(@STR) -1)

        WHILE (LEN(@STR) > 0) AND (LEFT(@STR, 1) IN ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9'))
        BEGIN
            SET @RETORNO = @RETORNO + LEFT(@STR, 1)
            SET @STR = RIGHT(@STR, LEN(@STR) -1)
        END

        IF @RETORNO = ''
            SET @RETORNO = '0'
    END
    RETURN @RETORNO
END

GO
