USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_NF_DYSTAR](@NR_PROCESSO CHAR(18)) RETURNS @TB_RETORNO TABLE (
                                                               CD_TRIBUTACAO_ICMS CHAR(1),
                                                               NR_TIPO  INT,
                                                               NR_ORDEM INT IDENTITY(1, 1),
                                                               TX_LINHA VARCHAR(MAX)
                                                           ) AS --*/
BEGIN
    /*
    DECLARE @NR_PROCESSO    CHAR(18) = '0101IM-005210-14'

    DECLARE @TB_RETORNO AS TABLE (
        CD_TRIBUTACAO_ICMS CHAR(1),
        NR_TIPO            INT,
        NR_ORDEM           INT IDENTITY(1, 1),
        TX_LINHA           VARCHAR(MAX)
    )
    --*/

    DECLARE @CD_REFERENCIA       CHAR(30)
    DECLARE @TB_REFERENCIAS AS TABLE (
        CD_REFERENCIA CHAR(30)
    )

    INSERT INTO @TB_REFERENCIAS
    SELECT DISTINCT CD_REFERENCIA
    FROM TPROCESSO                P
       INNER JOIN TEMPRESA_NAC    E  ON E.CD_EMPRESA = P.CD_CLIENTE
       INNER JOIN TGRUPO          G  ON G.CD_GRUPO = E.CD_GRUPO
       LEFT  JOIN TREF_CLIENTE    R ON R.NR_PROCESSO = P.NR_PROCESSO AND R.TP_REFERENCIA = G.TP_PEDIDO_BUSCA_IMP
    WHERE P.NR_PROCESSO = @NR_PROCESSO

    DECLARE @IN_QUEBRA_ICMS      CHAR(1) = '1'

    DECLARE @IN_EMBUTE_FRETE     CHAR(1)
    DECLARE @IN_EMBUTE_SEGURO    CHAR(1)
    DECLARE @NR_REGISTRO         VARCHAR(20)
    DECLARE @DT_REGISTRO         DATETIME
    DECLARE @IN_AFRMM            CHAR(1)
    DECLARE @VL_AFRMM            FLOAT
    DECLARE @VL_AFRMM_REFERENCIA FLOAT
    DECLARE @CD_TRIBUTACAO_ICMS  CHAR(1)

    DECLARE @TDETALHE_MERCADORIA AS TABLE (
        NR_ORDEM                      INT,
        CD_FABRICANTE                 CHAR(5),
        CD_EXPORTADOR                 CHAR(5),
        CD_MERCADORIA                 CHAR(60),
        TX_DESC_DET_MERC              TEXT,
        CD_NCM_SH                     CHAR(8),
        CD_PREFIXO_NCM_SH             CHAR(2),
        CD_CFOP                       CHAR(4),
        CD_UNID_MEDIDA                CHAR(6),
        QT_MERC_UN_COMERC             DECIMAL(14, 4),
        VL_MLE_ITEM_MN                DECIMAL(15, 2),
        VL_FRETE_ITEM_MN              DECIMAL(15, 2),
        VL_SEGURO_ITEM_MN             DECIMAL(15, 2),
        CD_TRIBUTACAO_ICMS            CHAR(1),
        VL_BASE_ICMS_ITEM             DECIMAL(15, 2),
        PC_ICMS                       DECIMAL(5, 2),
        VL_ICMS_ITEM                  DECIMAL(15, 2),
        QT_MERC_UN_ESTAT              DECIMAL(15, 2),
        VL_MERC_UN_ESTAT              DECIMAL(15, 2),
        PC_IPI                        DECIMAL(15, 2),
        VL_IPI_ITEM                   DECIMAL(15, 2),
        VL_BASE_II_ITEM               DECIMAL(15, 2),
        VL_II_ITEM                    DECIMAL(15, 2),
        VL_BASE_PIS_ITEM              DECIMAL(15, 2),
        PC_PIS                        DECIMAL(15, 2),
        VL_PIS_ITEM                   DECIMAL(15, 2),
        PC_COFINS                     DECIMAL(15, 2),
        VL_COFINS_ITEM                DECIMAL(15, 2),
        PC_REDUCAO_ICMS               DECIMAL(15, 2),
        NR_REGISTRO                   CHAR(10),
        DT_REGISTRO                   DATE,
        NM_URF                        CHAR(60),
        CD_UF                         CHAR(2),
        CD_UF_IBGE                    INT,
        DT_DESEMBARACO                DATE,
        NR_CLIENTE_EXPORTADOR         CHAR(60),
        NR_ADICAO                     CHAR(3),
        NR_ITEM                       CHAR(3),
        NR_CLIENTE_FABRICANTE         CHAR(60),
        VL_DESCONTO_MERC              DECIMAL(15, 2),
        VL_BASE_IPI_ITEM              DECIMAL(15, 2),
        QTD_UNID_ESPECIFICA_PIS       DECIMAL(15, 2),
        VL_ALIQUOTA_ESPECIFICA_PIS    DECIMAL(15, 2),
        QTD_UNID_ESPECIFICA_COFINS    DECIMAL(15, 2),
        VL_ALIQUOTA_ESPECIFICA_COFINS DECIMAL(15, 2),
        VL_TX_SCX_ITEM                DECIMAL(15, 2),
        CD_UN_MED_COMERC              CHAR(3),
        VL_FOB                        DECIMAL(15, 2),
        VL_CIF                        DECIMAL(15, 2),
        VL_TOTAL                      DECIMAL(15, 2),
        VL_AFRMM_ITEM                 DECIMAL(15, 2),
        PL_MERCADORIA                 FLOAT,
        PB_MERCADORIA                 FLOAT
    )

    DECLARE @TRIBUTACOES_ICMS AS TABLE (
        CD_TRIBUTACAO_ICMS CHAR(1)
    )

    SELECT @IN_EMBUTE_FRETE  = ISNULL(IN_EMBUT_FRT_ITENS, '0'),
           @IN_EMBUTE_SEGURO = ISNULL(IN_EMBUT_SEG_ITENS, '0'),
           @NR_REGISTRO      = ISNULL(NR_DECLARACAO_IMP, ''),
           @DT_REGISTRO      = CONVERT(DATE, SUBSTRING(DT_REGISTRO_DI, 1, 2) + '/' + SUBSTRING(DT_REGISTRO_DI, 3, 2) + '/' + SUBSTRING(DT_REGISTRO_DI, 5, 4), 103)
    FROM TDECLARACAO_IMPORTACAO
    WHERE NR_PROCESSO = @NR_PROCESSO

    SET @IN_EMBUTE_FRETE  = ISNULL(@IN_EMBUTE_FRETE, '0')
    SET @IN_EMBUTE_SEGURO = ISNULL(@IN_EMBUTE_SEGURO, '0')

    SELECT @VL_AFRMM = ROUND(SUM(ROUND(VL_BASE_CALC_ICMS_AFRMM - VL_BASE_CALC_ICMS, 2) * (1 - PC_ICMS/100)), 2)
    FROM TADICAO_DE_IMPORTACAO
    WHERE NR_PROCESSO = @NR_PROCESSO

    SET @VL_AFRMM = ISNULL(@VL_AFRMM, 0)

    SELECT @IN_AFRMM = ISNULL(E.IN_MARINHA_MERCANTE_ICMS, '0')
    FROM TPROCESSO P
       INNER JOIN TEMPRESA_NAC E ON E.CD_EMPRESA = P.CD_CLIENTE
    WHERE P.NR_PROCESSO = @NR_PROCESSO

    WHILE (SELECT COUNT(*) FROM @TB_REFERENCIAS) > 0
    BEGIN
        SELECT TOP 1 @CD_REFERENCIA = CD_REFERENCIA
        FROM @TB_REFERENCIAS

        DELETE @TB_REFERENCIAS
        WHERE CD_REFERENCIA = @CD_REFERENCIA

        IF ISNULL(@IN_QUEBRA_ICMS, '0') = '0'
            INSERT INTO @TRIBUTACOES_ICMS VALUES('0')
        ELSE
            INSERT INTO @TRIBUTACOES_ICMS
            SELECT DISTINCT AI.CD_TRIBUTACAO_ICMS
            FROM TADICAO_DE_IMPORTACAO AI
               INNER JOIN TDETALHE_MERCADORIA DM ON DM.NR_PROCESSO = AI.NR_PROCESSO AND DM.NR_ADICAO = AI.NR_ADICAO
            WHERE AI.NR_PROCESSO = @NR_PROCESSO
              AND DM.NR_PROC_PO = @CD_REFERENCIA

        WHILE (SELECT COUNT(*) FROM @TRIBUTACOES_ICMS) > 0
        BEGIN
            SELECT TOP 1 @CD_TRIBUTACAO_ICMS = CD_TRIBUTACAO_ICMS
            FROM @TRIBUTACOES_ICMS
            ORDER BY CD_TRIBUTACAO_ICMS

            DELETE @TRIBUTACOES_ICMS
            WHERE CD_TRIBUTACAO_ICMS = @CD_TRIBUTACAO_ICMS

            DELETE @TDETALHE_MERCADORIA

            INSERT INTO @TDETALHE_MERCADORIA
            SELECT DENSE_RANK() OVER(ORDER BY DM.NR_ADICAO, DM.NR_ITEM),
                   DM.CD_FABRICANTE,
                   DM.CD_EXPORTADOR,
                   DM.CD_MERCADORIA,
                   --DM.TX_DESC_DET_MERC,
                   RTRIM(LTRIM(SUBSTRING(M.NM_MERCADORIA, CHARINDEX('NOME COMERCIAL:', M.NM_MERCADORIA) + 15, CHARINDEX(CHAR(13), M.NM_MERCADORIA, CHARINDEX('NOME COMERCIAL:', M.NM_MERCADORIA)) - (CHARINDEX('NOME COMERCIAL:', M.NM_MERCADORIA) + 14)))),
                   DM.CD_NCM_SH,
                   LEFT(DM.CD_NCM_SH, 2),
                   AI.CD_CFOP,
                   (SELECT UM.NM_SIGLA
                    FROM TUNID_MEDIDA_BROKER UM
                    WHERE UM.CD_UNID_MEDIDA = DM.CD_UN_MED_COMERC),
                   DM.QT_MERC_UN_COMERC,
                   DM.VL_MLE_ITEM_MN,
                   DM.VL_FRETE_ITEM_MN,
                   DM.VL_SEGURO_ITEM_MN,
                   AI.CD_TRIBUTACAO_ICMS,
                   CASE @IN_AFRMM
                       WHEN '0' THEN DM.VL_BASE_ICMS_ITEM
                   ELSE (AI.VL_BASE_CALC_ICMS_AFRMM * (DM.VL_BASE_CALC_II + DM.VL_II_ITEM + DM.VL_IPI_ITEM)) / (SELECT SUM(DM2.VL_BASE_CALC_II + DM2.VL_II_ITEM + DM2.VL_IPI_ITEM)
                                                                                                                FROM TDETALHE_MERCADORIA DM2
                                                                                                                WHERE DM2.NR_PROCESSO = DM.NR_PROCESSO
                                                                                                                  AND DM2.NR_ADICAO = DM.NR_ADICAO)
                   END AS VL_BASE_ICMS_ITEM,
                   AI.PC_ICMS,
                   CASE WHEN ISNULL(AI.CD_TRIBUTACAO_ICMS, '') IN ('3', '5', '7') THEN 0
                   ELSE DM.VL_ICMS_ITEM
                   END AS VL_ICMS_ITEM,
                   IPI.QT_MERC_UN_ALIQ_ES,
                   IPI.VL_ALIQ_ESPEC_IPT,
                   IPI.PC_ALIQ_NORM_ADVAL,
                   DM.VL_IPI_ITEM,
                   II.VL_BASE_CALC_ADVAL,
                   DM.VL_II_ITEM,
                   AI.VL_BASE_PIS,
                   AI.ALIQ_PIS,
                   DM.VL_PIS_ITEM,
                   AI.ALIQ_COFINS,
                   DM.VL_COFINS_ITEM,
                   AI.PC_REDUCAO_ICMS,
                   DI.NR_DECLARACAO_IMP,
                   (SELECT CONVERT(VARCHAR, YEAR(F.DT_REALIZACAO)) + '/' + CONVERT(VARCHAR, MONTH(F.DT_REALIZACAO)) + '/' + CONVERT(VARCHAR, DAY(F.DT_REALIZACAO))
                    FROM TFOLLOWUP F
                    WHERE F.NR_PROCESSO = DM.NR_PROCESSO
                      AND F.CD_EVENTO = '021'),
                   URF.DESCRICAO,
                   UF.CD_UF,
                   UF.CD_IBGE,
                   (SELECT CONVERT(VARCHAR, YEAR(F.DT_REALIZACAO)) + '/' + CONVERT(VARCHAR, MONTH(F.DT_REALIZACAO)) + '/' + CONVERT(VARCHAR, DAY(F.DT_REALIZACAO))
                    FROM TFOLLOWUP F
                    WHERE F.NR_PROCESSO = DM.NR_PROCESSO
                      AND F.CD_EVENTO = '088'
                      AND F.DT_REALIZACAO IS NOT NULL),
                   EE.NR_CLIENTE,
                   DM.NR_ADICAO,
                   DM.NR_ITEM,
                   CASE WHEN EF.CD_EMPRESA IS NOT NULL THEN EF.NR_CLIENTE
                   ELSE EE.NR_CLIENTE
                   END,
                   DM.VL_DESCONTO_MERC,
                   IPI.VL_BASE_CALC_ADVAL,
                   AI.QTD_UNID_ESPECIFICA_PIS,
                   AI.VL_ALIQUOTA_ESPECIFICA_PIS,
                   AI.QTD_UNID_ESPECIFICA_COFINS,
                   AI.VL_ALIQUOTA_ESPECIFICA_COFINS,
                   DM.VL_TX_SCX_ITEM,
                   DM.CD_UN_MED_COMERC,
                   DM.VL_MLE_ITEM_MN - CASE @IN_EMBUTE_FRETE
                                           WHEN '1' THEN DM.VL_FRETE_ITEM_MN
                                       ELSE 0
                                       END - CASE @IN_EMBUTE_SEGURO
                                                 WHEN '1' THEN DM.VL_SEGURO_ITEM_MN
                                             ELSE 0
                                             END,
                   DM.VL_MLE_ITEM_MN + CASE @IN_EMBUTE_FRETE
                                           WHEN '0' THEN DM.VL_FRETE_ITEM_MN
                                       ELSE 0
                                       END + CASE @IN_EMBUTE_SEGURO
                                                 WHEN '0' THEN DM.VL_SEGURO_ITEM_MN
                                             ELSE 0
                                             END + ISNULL(DM.VL_ACRESCIMO_ITEM_MN, 0) - ISNULL(DM.VL_DEDUCAO_ITEM_MN, 0),
                   DM.VL_MLE_ITEM_MN + CASE @IN_EMBUTE_FRETE
                                           WHEN '0' THEN DM.VL_FRETE_ITEM_MN
                                       ELSE 0
                                       END + CASE @IN_EMBUTE_SEGURO
                                                 WHEN '0' THEN DM.VL_SEGURO_ITEM_MN
                                             ELSE 0
                                             END + ISNULL(DM.VL_ACRESCIMO_ITEM_MN, 0) - ISNULL(DM.VL_DEDUCAO_ITEM_MN, 0) + DM.VL_II_ITEM,
                   CASE @IN_AFRMM
                       WHEN '0' THEN 0
                   ELSE ROUND((((AI.VL_BASE_CALC_ICMS_AFRMM - AI.VL_BASE_CALC_ICMS) * (DM.PL_MERCADORIA)) / (SELECT SUM(DM2.PL_MERCADORIA)
                                                                                                             FROM TDETALHE_MERCADORIA DM2
                                                                                                             WHERE DM2.NR_PROCESSO = DM.NR_PROCESSO
                                                                                                               AND DM2.NR_ADICAO = DM.NR_ADICAO)) * (1 - (AI.PC_ICMS / 100)), 2)
                   --ELSE ROUND((((AI.VL_BASE_CALC_ICMS_AFRMM - AI.VL_BASE_CALC_ICMS) * (DM.VL_BASE_CALC_II + DM.VL_II_ITEM + DM.VL_IPI_ITEM)) / (SELECT SUM(DM2.VL_BASE_CALC_II + DM2.VL_II_ITEM + DM2.VL_IPI_ITEM)
                   --                                                                                                                             FROM TDETALHE_MERCADORIA DM2
                   --                                                                                                                             WHERE DM2.NR_PROCESSO = DM.NR_PROCESSO
                   --                                                                                                                               AND DM2.NR_ADICAO = DM.NR_ADICAO)) * (1 - (AI.PC_ICMS / 100)), 2)
                   END AS VL_AFRMM_ITEM,
                   DM.PL_MERCADORIA,
                   DM.PB_MERCADORIA
            FROM TDETALHE_MERCADORIA             DM
               INNER JOIN TADICAO_DE_IMPORTACAO  AI  ON AI.NR_PROCESSO = DM.NR_PROCESSO AND AI.NR_ADICAO = DM.NR_ADICAO
               INNER JOIN TDECLARACAO_IMPORTACAO DI  ON DI.NR_PROCESSO = DM.NR_PROCESSO
               INNER JOIN TPROCESSO              P   ON P.NR_PROCESSO = DM.NR_PROCESSO
               INNER JOIN TURF                   URF ON URF.CODIGO = DI.CD_URF_DESPACHO
               LEFT  JOIN TUF                    UF  ON UF.CD_UF = URF.END_UF
               LEFT  JOIN TRIBUTO                II  ON II.NR_PROCESSO = DM.NR_PROCESSO AND II.NR_ADICAO = DM.NR_ADICAO AND II.CD_RECEITA_IMPOSTO = '0001'
               LEFT  JOIN TRIBUTO                IPI ON IPI.NR_PROCESSO = DM.NR_PROCESSO AND IPI.NR_ADICAO = DM.NR_ADICAO AND IPI.CD_RECEITA_IMPOSTO = '0002'
               LEFT  JOIN TEMPRESA_EST           EE  ON EE.CD_EMPRESA = DM.CD_EXPORTADOR
               LEFT  JOIN TEMPRESA_EST           EF  ON EF.CD_EMPRESA = ISNULL(DM.CD_FABRICANTE, DM.CD_EXPORTADOR)
               LEFT  JOIN TMERCADORIA            M   ON M.CD_MERCADORIA = DM.CD_MERCADORIA
            WHERE DM.NR_PROCESSO = @NR_PROCESSO
              AND @CD_TRIBUTACAO_ICMS IN ('0', AI.CD_TRIBUTACAO_ICMS)
              AND DM.NR_PROC_PO = @CD_REFERENCIA
            ORDER BY DM.NR_ADICAO, DM.NR_ITEM

            /*
            UPDATE @TDETALHE_MERCADORIA
            SET VL_BASE_ICMS_ITEM = (VL_TOTAL + VL_IPI_ITEM + VL_TX_SCX_ITEM + VL_PIS_ITEM + VL_COFINS_ITEM + VL_AFRMM_ITEM) / (1 - (CASE WHEN ISNULL(CD_TRIBUTACAO_ICMS, '') IN ('3', '5', '7') THEN 0
                                                                                                                                     ELSE PC_ICMS
                                                                                                                                     END / 100))
            --*/

            UPDATE @TDETALHE_MERCADORIA
            SET VL_ICMS_ITEM = ROUND((VL_BASE_ICMS_ITEM / 100) * CASE WHEN ISNULL(CD_TRIBUTACAO_ICMS, '') IN ('3', '5', '7') THEN 0
                                                                 ELSE PC_ICMS
                                                                 END, 2)

            UPDATE @TDETALHE_MERCADORIA
            SET VL_BASE_II_ITEM = ROUND((VL_BASE_II_ITEM * VL_CIF) / (SELECT SUM(VL_CIF) FROM @TDETALHE_MERCADORIA), 2),
                VL_BASE_IPI_ITEM = ROUND((VL_BASE_IPI_ITEM * VL_CIF) / (SELECT SUM(VL_CIF) FROM @TDETALHE_MERCADORIA), 2),
                VL_BASE_PIS_ITEM = ROUND((VL_BASE_PIS_ITEM * VL_CIF) / (SELECT SUM(VL_CIF) FROM @TDETALHE_MERCADORIA), 2)


            /********** Dados da Capa – Dados da Capa da  NF **********/
            -- 1	Identificação do Registro									SIM	   1	   4	C	CAPA - Fixo
            -- 2	Código UF – Tabela IBGE										SIM	   5	   2	N
            -- 3	Finalidade de emissão da NF-e								SIM	   7	   1	N	1 - NF-e normal/2 - NF-e Complementar/3 - NF-e de ajuste
            -- 4	Indicador de Forma de Pagamento								SIM	   8	   1	N	0-À Vista/1-À Prazo/2-Outros
            -- 5	Modelo														SIM	   9	   2	N	55 – Fixo
            -- 6	Série														SIM	  11	   3	N	“0” Para Série Única
            -- 7	Número da Nota Fiscal										SIM	  14	   9	N	
            -- 8	Data de Emissão da Nota Fiscal								SIM	  23	  10	D	AAAA-MM-DD
            -- 9	Tipo de Nota Fiscal											SIM	  33	   1	N	0-Entrada/1-Saída
            --10	Código do Município – Tabela IBGE							SIM	  34	   7	N
            --11	Formato de Impressão										SIM	  41	   1	N	1-Retrato/2-Paisagem
            --12	Forma de Emissão da Nota fiscal								SIM	  42	   1	N	1 – Normal – emissão normal;(não é contingência)/2 – Contingência FS – emissão em contingência com impressão do DANFE em Formulário de Segurança;3 – Contingência SCAN – emissão em contingência no Sistema de Contingência do Ambiente Nacional – SCAN;4 – Contingência DPEC – emissão em contingência com envio da Declaração Prévia de Emissão em Contingência – DPEC;5 – Contingência FS-DA – emissão em contingência com impressão do DANFE em Formulário de Segurança para Impressão de Documento Auxiliar de Documento
            --13	Modalidade do Frete											SIM	  43	   1	N	0-Por Conta Emitente/1-Por Conta Destinatário
            --14	Descrição da Natureza da Operação							SIM	  44	  60	N	
            --15	Código do Processo											SIM	 104	  30	C
            --16	Referencia do Processo											 134	  30	C
            --17	E-mail para contato												 164	  60	C	
            --18	Número da Chave NF-e											 224	  44	N	
            --19	CNPJ Transportadora												 268	  14	C	
            --20	CPF Transportadora												 282	  11	C	
            --21	Nome Transportadora												 293	  60	C	
            --22	Inscrição Estadual da Transportadora							 353	  14	C	
            --23	Endereço Transportadora											 367	  60	C	
            --24	Município Transportadora										 427	  60	C	
            --25	UF Transportadora												 487	   2	C	
            --26	Informações Complementares de interesse do Contribuinte			 489	5000	C	
            --27	Cancelar/Inutilizar												5489	   1	C	I – Inutilizar;/C – Cancelar.
            --28	Descrição da Justificativa									SIM 5490	  30	C	Obrigatório se Nota Fiscal de Cancelamento ou Inutilização (SE 27=I ou C)
            --29	Texto da Justificativa										SIM 5520	 255	C	Obrigatório se Nota Fiscal de Cancelamento ou Inutilização (SE 27=I ou C)
            --30	Órgão de autorização cancelamento							SIM 5775	   1	N	1- Secretaria da Fazenda Estadual/2- Receita Federal (SE 27=I ou C)
            --31	Informações Adicionais de Interesse do Fisco					5776	 256	C	
            --32	Número da nota fiscal de entrada								6032	   9	N	Preencher caso a nota fiscal gerada for complementar
            --33	Inscrição Estadual do Substituto Tributário						6041	  14	C	

            SELECT @VL_AFRMM_REFERENCIA = SUM(VL_AFRMM_ITEM)
            FROM @TDETALHE_MERCADORIA

            INSERT INTO @TB_RETORNO
            SELECT @CD_TRIBUTACAO_ICMS,
                   1 AS NR_TIPO,
                   --1 AS NR_ORDEM,
                   /* 1*/ 'CAPA' +
                   /* 2*/ CONVERT(CHAR(2), ISNULL(CONVERT(VARCHAR, LD.CD_UF), '')) + --CONVERT(CHAR(2), ISNULL(CONVERT(VARCHAR, U.CD_IBGE), '')) +
                   /* 3*/ CONVERT(CHAR(1), '1') +
                   /* 4*/ CONVERT(CHAR(1), '0') + 
                   /* 5*/ CONVERT(CHAR(2), '55') +
                   /* 6*/ CONVERT(CHAR(3), '') +
                   /* 7*/ CONVERT(CHAR(9), '') +
                   /* 8*/ CONVERT(CHAR(10), '') +
                   /* 9*/ CONVERT(CHAR(1), '') +
                   /*10*/ CONVERT(CHAR(7), ISNULL(M.CD_MUNICIPIO, '')) +
                   /*11*/ CONVERT(CHAR(1), '') +
                   /*12*/ CONVERT(CHAR(1), '1') +
                   /*13*/ CONVERT(CHAR(1), '') +
                   /*14*/ CONVERT(CHAR(60), '') +
                   /*15*/ CONVERT(CHAR(30), ISNULL(P.NR_PROCESSO, '')) +
                   /*16*/ CONVERT(CHAR(30), ISNULL(@CD_REFERENCIA, '')) +
                   /*17*/ CONVERT(CHAR(60), '') +
                   /*18*/ CONVERT(CHAR(44), '') +
                   /*19*/ CONVERT(CHAR(14), ISNULL(T.CNPJ_TRANSP_ROD, '')) +
                   /*20*/ CONVERT(CHAR(11), ISNULL(T.CPF_TRANSP_ROD, '')) +
                   /*21*/ CONVERT(CHAR(60), ISNULL(T.NM_TRANSP_ROD, '')) +
                   /*22*/ CONVERT(CHAR(14), ISNULL(T.IE_TRANSP_ROD, '')) +
                   /*23*/ CONVERT(CHAR(60), ISNULL(T.END_TRANSP_ROD, '')) +
                   /*24*/ CONVERT(CHAR(60), ISNULL(T.END_CIDADE, '')) +
                   /*25*/ CONVERT(CHAR(2), ISNULL(T.END_UF, '')) +
                   /*26*/ CONVERT(CHAR(5000), CASE @VL_AFRMM_REFERENCIA
                                                  WHEN 0 THEN ''
                                              ELSE 'AFRMM: ' + CONVERT(VARCHAR, @VL_AFRMM_REFERENCIA)
                                              END) +
                   /*27*/ CONVERT(CHAR(1), '') +
                   /*28*/ CONVERT(CHAR(30), '') +
                   /*29*/ CONVERT(CHAR(255), '') +
                   /*30*/ CONVERT(CHAR(1), '') +
                   /*31*/ CONVERT(CHAR(256), '') +
                   /*32*/ CONVERT(CHAR(9), '') +
                   /*33*/ CONVERT(CHAR(14), '') AS TX_LINHA
            FROM TPROCESSO                P
               LEFT  JOIN TLOCAL_EMBARQUE LD ON LD.CODIGO = P.CD_LOCAL_DESEMBARQUE
               LEFT  JOIN TUF             U  ON U.CD_UF = LD.CD_UF
               LEFT  JOIN TMUNICIPIO      M  ON M.CD_UF = LD.CD_UF AND M.CD_MUNICIPIO = LD.NM_CIDADE
               INNER JOIN TEMPRESA_NAC    E  ON E.CD_EMPRESA = P.CD_CLIENTE
               INNER JOIN TGRUPO          G  ON G.CD_GRUPO = E.CD_GRUPO
               LEFT  JOIN TTRANSP_ROD     T  ON T.CD_TRANSP_ROD = P.CD_TRANSP_NAC
            WHERE P.NR_PROCESSO = @NR_PROCESSO

            -------------------------------------------------------------------------------------------------------------------------------------------------------

            /**********Dados do Emitente – Dados do Emitente da  NF **********/
            -- 1	Identificação do Registro									SIM	   1	   4	C	EMIT - Fixo
            -- 2	CNPJ do Emitente											SIM	   5	  14	N	
            -- 3	Nome do Emitente											SIM	  19	  60	C	Razão Social
            -- 4	Logradouro													SIM	  79	 255	C	
            -- 5	Número															 334	  10	N	
            -- 6	Complemento														 344	  60	C	
            -- 7	Bairro															 404	  60	C	
            -- 8	Código do Município – Tabela IBGE								 464	   7	N	Informar ‘9999999’ para operações com o exterior
            -- 9	Município - Nome												 471	  60	C	Informar ‘EXTERIOR’ para operações com o exterior
            --10	UF – Tabela IBGE											SIM	 531	   2	C	Informar ‘EX’ para operações com o exterior
            --11	UF – Nome														 533	  60	C	
            --12	CEP															SIM	 593	   8	C	
            --13	Fone															 601	  10	N	
            --14	Inscrição Estadual												 611	  14	C	
            --15	Código do País (Siscomex)										 625	  04	C	
            --16	Nome do País													 629	  60	C	
            --17	Inscrição Municipal												 689	  15	C	
            --18	CNAE fiscal													SIM	 704	   7	C	
            --19	Nome Reduzido do Emitente										 711	  50	C	

            INSERT INTO @TB_RETORNO
            SELECT @CD_TRIBUTACAO_ICMS,
                   2 AS NR_TIPO,
                   --1 AS NR_ORDEM,
                   /* 1*/ 'EMIT' +
                   /* 2*/ CONVERT(CHAR(14), ISNULL(E.CGC_EMPRESA, '')) +
                   /* 3*/ CONVERT(CHAR(60), ISNULL(E.NM_EMPRESA, '')) +
                   /* 4*/ CONVERT(CHAR(255), ISNULL(E.END_EMPRESA, '')) +
                   /* 5*/ CONVERT(CHAR(10), ISNULL(E.END_NUMERO, '')) +
                   /* 6*/ CONVERT(CHAR(60), ISNULL(E.END_COMPL, '')) +
                   /* 7*/ CONVERT(CHAR(60), ISNULL(E.END_BAIRRO, '')) +
                   /* 8*/ CONVERT(CHAR(7), ISNULL(CONVERT(VARCHAR, M.CD_MUNICIPIO), '')) +
                   /* 9*/ CONVERT(CHAR(60), ISNULL(E.END_CIDADE, '')) +
                   /*10*/ CONVERT(CHAR(2), ISNULL(CONVERT(VARCHAR, E.END_UF), '')) + --CONVERT(CHAR(2), ISNULL(CONVERT(VARCHAR, U.CD_IBGE), '')) +
                   /*11*/ CONVERT(CHAR(60), ISNULL(U.NM_UF, '')) +
                   /*12*/ CONVERT(CHAR(8), ISNULL(E.END_CEP, '')) +
                   /*13*/ CONVERT(CHAR(10), ISNULL(E.NR_TELEFONE, '')) +
                   /*14*/ CONVERT(CHAR(14), ISNULL(E.IE_EMPRESA, '')) +
                   /*15*/ CONVERT(CHAR(04), '105') +
                   /*16*/ CONVERT(CHAR(60), ISNULL('BRASIL', '')) +
                   /*17*/ CONVERT(CHAR(15), ISNULL(E.IM_EMPRESA, '')) +
                   /*18*/ CONVERT(CHAR(7), ISNULL(E.NR_CAE, '')) +
                   /*19*/ CONVERT(CHAR(50), ISNULL(E.AP_EMPRESA, '')) AS TX_LINHA
            FROM TPROCESSO             P
               INNER JOIN TEMPRESA_NAC E ON E.CD_EMPRESA = P.CD_CLIENTE
               LEFT  JOIN TUF          U ON U.CD_UF = E.END_UF
               LEFT  JOIN TMUNICIPIO   M ON M.CD_UF = E.END_UF AND M.NM_MUNICIPIO = E.END_CIDADE
            WHERE P.NR_PROCESSO = @NR_PROCESSO

            -------------------------------------------------------------------------------------------------------------------------------------------------------

            /********** Dados do Destinatário – Dados do Emitente da  NF **********/
            -- 1	Identificação do Registro									SIM	   1	   4	C	DEST - Fixo
            -- 2	CNPJ do Destinatário											   5	  14	N	
            -- 3	Nome do Destinatário										SIM	  19	  60	C	Razão Social
            -- 4	Logradouro													SIM	  79	 255	C	
            -- 5	Número															 334	  10	N	
            -- 6	Complemento														 344	  60	C	
            -- 7	Bairro															 404	  60	C	
            -- 8	Código do Município – Tabela IBGE								 464	   7	N	Informar ‘9999999’ para operações com o exterior
            -- 9	Município - Nome												 471	  60	C	Informar ‘EXTERIOR’ para operações com o exterior
            --10	UF – Sigla														 531	   2	C	Informar ‘EX’ para operações com o exterior
            --11	UF – Nome														 533	  60	C	
            --12	CEP																 593	   8	C	
            --13	Inscrição Estadual												 601	  14	C	
            --14	Inscrição na SUFRAMA											 615	   9	C	
            --15	Código do País (Siscomex)										 624	  04	C	
            --16	Nome do País													 628	  60	C	
            --17	Fone															 688	  10	N	
            --18	Código do Fabricante											 698	  10	C	

            INSERT INTO @TB_RETORNO
            SELECT DISTINCT @CD_TRIBUTACAO_ICMS,
                   3 AS NR_TIPO,
                   --1 AS NR_ORDEM,
                   /* 1*/ 'DEST' +
                   /* 2*/ CONVERT(CHAR(14), ISNULL(E.CGC_EMPRESA, '')) +
                   /* 3*/ CONVERT(CHAR(60), ISNULL(E.NM_EMPRESA, '')) +
                   /* 4*/ CONVERT(CHAR(255), ISNULL(E.END_EMPRESA, '')) +
                   /* 5*/ CONVERT(CHAR(10), ISNULL(E.END_NUMERO, '')) +
                   /* 6*/ CONVERT(CHAR(60), ISNULL(E.END_COMPL, '')) +
                   /* 7*/ CONVERT(CHAR(60), ISNULL('', '')) +
                   /* 8*/ CONVERT(CHAR(7), ISNULL('', '')) +
                   /* 9*/ CONVERT(CHAR(60), ISNULL(E.END_CIDADE, '')) +
                   /*10*/ CONVERT(CHAR(2), ISNULL('', '')) +
                   /*11*/ CONVERT(CHAR(60), ISNULL(E.END_ESTADO, '')) +
                   /*12*/ CONVERT(CHAR(8), ISNULL('', '')) +
                   /*13*/ CONVERT(CHAR(14), ISNULL('', '')) +
                   /*14*/ CONVERT(CHAR(9), ISNULL('', '')) +
                   /*15*/ CONVERT(CHAR(4), ISNULL('', '')) +
                   /*16*/ CONVERT(CHAR(60), ISNULL('', '')) +
                   /*17*/ CONVERT(CHAR(10), ISNULL('', '')) +
                   /*18*/ CONVERT(CHAR(10), ISNULL(E.NR_CLIENTE, '')) AS TX_LINHA
            FROM @TDETALHE_MERCADORIA DM
               INNER JOIN TEMPRESA_EST E ON E.CD_EMPRESA = ISNULL(DM.CD_EXPORTADOR, DM.CD_FABRICANTE)

            -------------------------------------------------------------------------------------------------------------------------------------------------------

            /********** Dados do Item - TXT  –  Dados dos Itens da  NF **********/
            -- 1	Identificação do Registro									SIM	   1	   4	C	ITEM - Fixo
            -- 2	Seq. do Item na NF												   5	   3	N	
            -- 3	Código do Produto												   8	  60	C	
            -- 4	EAN																  68	  60	C	
            -- 5	Descrição do Produto											 128	 120	C	
            -- 6	NCM																 248	   8	N	
            -- 7	Gênero															 256	   2	C	Em caso de serviço não incluir a TAG/Gênero =  2 primeiros dígitos do NCM
            -- 8	CFOP														SIM	 258	   4	C	
            -- 9	Unidade de Medida											SIM	 262	   6	C	
            --10	Quantidade													SIM	 268	  12,4	N	0000000,0000
            --11	Valor Total do Produto										SIM	 280	  15,2	N	000000000000,00
            --12	Valor Frete														 295	  15,2	N	000000000000,00
            --13	Valor Seguro													 310	  15,2	N	000000000000,00
            --14	Valor Desconto													 325	  15,2	N	000000000000,00
            --15	Origem da Mercadoria										SIM  340	   1	N	0-Nacional/1-Estangeira – Import. Direta/2-Estrangeira – Aquirida no Mercado Interno (SE 16= 00, 10, 20. 30, 40, 41, 50, 51, 60, 70, 90)
            --16	CST - ICMS													SIM	 341	   2	N	Nota 01
            --17	Mod. De Determ. Da Base de Cálculo do ICMS					SIM  343	   1	N	0-Margem do Vr. Agregado/1-Pauta(Valor)/2-Preço Tabelado/3-Valor da Operação (SE 16=00, 10, 20, 51, 70, 90)
            --18	Base de Cálculo do ICMS											 344	  15,2	N	000000000000,00
            --19	Alíquota do ICMS												 359	   5,2	N	00,00
            --20	Valor do ICMS													 364	  15,2	N	000000000000,00
            --21	Cód. Enquadramento Legal										 379	   3	N	999 – Fixo – Nota 02
            --22	CST - IPI													SIM	 382	   2	N	Nota 03
            --23	Quantidade na Unidade de Medida								SIM  384	  16,4	N	00000000000,0000 (SE 22=00, 49, 50, 99)
            --24	Valor na Unidade de Medida									SIM  400	  15,4	N	0000000000,0000 (SE 22=00, 49, 50, 99)
            --25	Alíquota do IPI												SIM  415	   5,2	N	00,00 (SE 22=00, 49, 50, 99)
            --26	Valor do IPI												SIM  420	  15,2	N	000000000000,00 (SE 22=00, 49, 50, 99)
            --27	Base de Cálculo do II											 435	  15,2	N	000000000000,00
            --29	Valor do II														 465	  15,2	N	000000000000,00
            --30	Valor do IOF													 480	  15,2	N	000000000000,00
            --31	CST - PIS														 495	   2	N	Nota 04
            --32	Base de Cálculo do PIS											 497	  15,2	N	000000000000,00
            --33	Alíquota do PIS													 512	   5,2	N	00,00
            --34	Valor do PIS													 517	  15,2	N	000000000000,00
            --35	CST - COFINS													 532	   2	N	Nota 05
            --36	Base de Cálculo do COFINS										 534	  15,2	N	000000000000,00
            --37	Alíquota do COFINS												 549	   5,2	N	00,00
            --38	Valor do COFINS													 554	  15,2	N	000000000000,00
            --39	Percentual da Redução de BC - ICMS								 569	   5,2	N	00,00
            --40	Número do Doc. de Imp. DI/DSI/DA							SIM	 574	  10	C	
            --41	Data de Registro da DI/DSI/DA								SIM	 584	  10	D	AAAA-MM-DD
            --42	Local de desembaraço										SIM	 594	  60	C	Código? Nome? Etc.
            --43	Sigla da UF onde ocorreu o Desembaraço Aduaneiro			SIM	 654	   2	C	
            --44	Data do Desembaraço Aduaneiro								SIM	 656	  10	D	AAAA-MM-DD
            --45	Código do exportador										SIM	 666	  60	C	
            --46	Numero da adição											SIM	 726	   3	N	
            --47	Numero seqüencial do item dentro da adição					SIM	 729	   3	N	
            --48	Código do fabricante estrangeiro							SIM	 732	  60	C	
            --49	Valor do desconto do item da DI – adição						 792	  15,2	N	000000000000,00
            --50	Informações Adicionais do Produto								 807	 500	C	
            --51	Valor da BC do IPI												1307	  15,2	N	000000000000,00
            --52	Qtde Vendida PIS (específico)									1322	  16,4	N	00000000000,0000
            --53	Alíquota PIS (específico)										1338	  15,4	N	0000000000,0000
            --54	Qtde Vendida Cofins (específico)								1353	  16,4	N	00000000000,0000
            --55	Alíquota Cofins (específico)									1369	  15,4	N	0000000000,0000
            --56	Modalidade de determinação da Base de Cálculo do ICMS ST	SIM 1384	   1	N	0- Preço tabelado ou máximo sugerido;/1- Lista Negativa (valor);/2- Lista Positiva (valor);/3- Lista Neutra (valor);/4- Margem Valor Agregado (%);/5- Pauta (valor). (SE 16= 10, 30, 70, 90)
            --57	Percentual da margem de valor adicionado do ICMS ST				1385	   5,2	N	00,00
            --58	Percentual da redução de Base de Cálculo do ICMS ST				1390	   5,2	N	00,00
            --59	Valor da Base de Cálculo do ICMS ST							SIM 1395	  15,2	N	000000000000,00 (SE 16= 10, 30, 60, 70, 90)
            --60	Alíquota do imposto do ICMS ST								SIM 1410	   5,2	N	00,00 (SE 16= 10, 30, 70, 90)
            --61	Valor do ICMS ST											SIM 1415	  15,2	N	000000000000,00 (SE 16= 10, 30, 60, 70, 90)

            INSERT INTO @TB_RETORNO
            SELECT @CD_TRIBUTACAO_ICMS,
                   4 AS NR_TIPO,
                   --1 AS NR_ORDEM,
                   /* 1*/ 'ITEM' +
                   /* 2*/ RIGHT('000' + CONVERT(VARCHAR, ISNULL(DENSE_RANK() OVER(ORDER BY DM.NR_ADICAO, DM.NR_ITEM), '')), 3) +
                   /* 3*/ CONVERT(CHAR(60), ISNULL(DM.CD_MERCADORIA, '')) +
                   /* 4*/ CONVERT(CHAR(60), '') +
                   /* 5*/ CONVERT(CHAR(120), ISNULL(DM.TX_DESC_DET_MERC, '')) +
                   /* 6*/ CONVERT(CHAR(8), ISNULL(DM.CD_NCM_SH, '')) +
                   /* 7*/ CONVERT(CHAR(2), ISNULL(LEFT(DM.CD_NCM_SH, 2), '')) +
                   /* 8*/ CONVERT(CHAR(4), ISNULL(DM.CD_CFOP, '')) +
                   /* 9*/ CONVERT(CHAR(6), ISNULL(CD_UNID_MEDIDA, '')) +
                   /*10*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(12, 4), ISNULL(DM.QT_MERC_UN_COMERC, 0)), '.', ','), 12) +
                   /*11*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_CIF, 0)), '.', ','), 15) +
                   /*12*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_FRETE_ITEM_MN * 0, 0)), '.', ','), 15) +
                   /*13*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_SEGURO_ITEM_MN * 0, 0)), '.', ','), 15) +
                   /*14*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), 0), '.', ','), 15) +
                   /*15*/ CONVERT(CHAR(1), '1') +
                   /*16*/ CONVERT(CHAR(2), ISNULL(CASE DM.CD_TRIBUTACAO_ICMS
                                                      WHEN '1' THEN '00'
                                                      WHEN '3' THEN '40'
                                                      WHEN '4' THEN '20'
                                                      WHEN '5' THEN '50'
                                                      WHEN '6' THEN '50'
                                                      WHEN '7' THEN CASE DM.CD_UF
                                                                        WHEN 'SC' THEN '51'
                                                                    ELSE '50'
                                                                    END
                                                  ELSE ''
                                                  END, '')) +
                   /*17*/ CONVERT(CHAR(1), '3') +
                   /*18*/ RIGHT('000000000000000' + ISNULL(REPLACE(CONVERT(DECIMAL(15, 2), DM.VL_BASE_ICMS_ITEM), '.', ','), ''), 15) +
                   /*19*/ RIGHT('000000000000000' + ISNULL(REPLACE(CONVERT(DECIMAL(5, 2), DM.PC_ICMS), '.', ','), ''), 5) +
                   /*20*/ RIGHT('000000000000000' + ISNULL(REPLACE(CONVERT(DECIMAL(15, 2), DM.VL_ICMS_ITEM), '.', ','), ''), 15) +
                   /*21*/ CONVERT(CHAR(3), '999') +
                   /*22*/ CONVERT(CHAR(2), ISNULL('00', '')) +
                   /*23*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(16, 4), ISNULL(DM.QT_MERC_UN_ESTAT, 0)), '.', ','), 16) +
                   /*24*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 4), ISNULL(DM.VL_MERC_UN_ESTAT, 0)), '.', ','), 15) +
                   /*25*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(5, 2), ISNULL(DM.PC_IPI, 0)), '.', ','), 5) +
                   /*26*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_IPI_ITEM, 0)), '.', ','), 15) +
                   /*27*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_BASE_II_ITEM, 0)), '.', ','), 15) +
                   /*28*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), DM.VL_AFRMM_ITEM), '.', ','), 15) + -- FALTA - VALOR DAS DESPESAS
                   /*29*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_II_ITEM, 0)), '.', ','), 15) +
                   /*30*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), 0), '.', ','), 15) +
                   /*31*/ CONVERT(CHAR(2), '01') +
                   /*32*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_BASE_PIS_ITEM, 0)), '.', ','), 15) +
                   /*33*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(5, 2), ISNULL(DM.PC_PIS, 0)), '.', ','), 5) +
                   /*34*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_PIS_ITEM, 0)), '.', ','), 15) +
                   /*35*/ CONVERT(CHAR(2), '01') +
                   /*36*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_BASE_PIS_ITEM, 0)), '.', ','), 15) +
                   /*37*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.PC_COFINS, 0)), '.', ','), 5) +
                   /*38*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_COFINS_ITEM, 0)), '.', ','), 15) +
                   /*39*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.PC_REDUCAO_ICMS, 0)), '.', ','), 5) +
                   /*40*/ CONVERT(CHAR(10), ISNULL(DM.NR_REGISTRO, '')) +
                   /*41*/ CONVERT(CHAR(10), ISNULL(DM.DT_REGISTRO, '')) +
                   /*42*/ CONVERT(CHAR(60), ISNULL(DM.NM_URF, '')) +
                   /*43*/ CONVERT(CHAR(2), ISNULL(CONVERT(VARCHAR, DM.CD_UF), '')) +
                   /*44*/ CONVERT(CHAR(10), ISNULL(DM.DT_DESEMBARACO, '')) +
                   /*45*/ CONVERT(CHAR(60), ISNULL(DM.NR_CLIENTE_EXPORTADOR, '')) +
                   /*46*/ CONVERT(CHAR(3), ISNULL(DM.NR_ADICAO, '')) +
                   /*47*/ CONVERT(CHAR(3), ISNULL(DM.NR_ITEM, '')) +
                   /*48*/ CONVERT(CHAR(60), ISNULL(DM.NR_CLIENTE_FABRICANTE, '')) +
                   /*49*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_DESCONTO_MERC, 0)), '.', ','), 15) +
                   /*50*/ CONVERT(CHAR(500), ISNULL('', '')) +
                   /*51*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(DM.VL_BASE_IPI_ITEM, 0)), '.', ','), 15) +
                   /*52*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(16, 4), ISNULL(DM.QTD_UNID_ESPECIFICA_PIS, 0)), '.', ','), 16) +
                   /*53*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 4), ISNULL(DM.VL_ALIQUOTA_ESPECIFICA_PIS, 0)), '.', ','), 15) +
                   /*54*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(16, 4), ISNULL(DM.QTD_UNID_ESPECIFICA_COFINS, 0)), '.', ','), 16) +
                   /*55*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 4), ISNULL(DM.VL_ALIQUOTA_ESPECIFICA_COFINS, 0)), '.', ','), 15) +
                   /*56*/ CONVERT(CHAR(1), ISNULL('4', '')) +
                   /*57*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(5, 2), 0), '.', ','), 5) +
                   /*58*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(5, 2), 0), '.', ','), 5) +
                   /*59*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), 0), '.', ','), 15) +
                   /*60*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(5, 2), 0), '.', ','), 5) +
                   /*61*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), 0), '.', ','), 15) AS TX_LINHA
            FROM @TDETALHE_MERCADORIA DM
            ORDER BY DM.NR_ADICAO, DM.NR_ITEM

            -------------------------------------------------------------------------------------------------------------------------------------------------------

            /********** Detalhamento Específico de Medicamento – Dados dos Itens da  NF **********/
            -- 1	Identificação do Registro										   1	   4	C	MEDI - Fixo
            -- 2	Seq. do Item na NF												   5	   3	N	
            -- 3	Seq. do Medicamento no Item										   8	   4	N	
            -- 4	Número do Lote do medicamento									  12	  20	C	
            -- 5	Quantidade de produto no Lote									  32	  11,3	N	
            -- 6	Data de fabricação												  43	  10	D	AAAA-MM-DD
            -- 7	Data de validade												  53	  10	D	AAAA-MM-DD
            -- 8	Preço máximo consumidor											  63	  15,2	N	

            INSERT INTO @TB_RETORNO
            SELECT @CD_TRIBUTACAO_ICMS,
                   5 AS NR_TIPO,
                   --1 AS NR_ORDEM,
                   /* 1*/ 'MEDI'
                   /* 2*/ 
                   /* 3*/ 
                   /* 4*/ 
                   /* 5*/ 
                   /* 6*/ 
                   /* 7*/ 
                   /* 8*/ AS TX_LINHA
            WHERE 0 = 1

            -------------------------------------------------------------------------------------------------------------------------------------------------------

            /********** Detalhamento Específico de Veículos Novos – Dados dos Itens da  NF **********/
            -- 1	Identificação do Registro									SIM	   1	   4	C	VEIC - Fixo
            -- 2	Seq. do Item na NF											SIM	   5	   3	N	
            -- 3	Seq. do Veículo no Item											   8	   4	N	
            -- 4	Tipo da operação											SIM	  12	   1	C	
            -- 5	Chassi do veículo											SIM	  13	  17	C	
            -- 6	Cor															SIM	  30	   4	C	
            -- 7	Descrição da Cor											SIM	  34	  40	C	
            -- 8	Potência Motor												SIM	  74	   4	C	
            -- 9	CM3 (Potência)													  78	   4	C	
            --10	Peso Líquido													  82	   9	C	
            --11	Peso Bruto														  91	   9	C	
            --12	Serial (série)													 100	   9	C	
            --13	Tipo de combustível												 109	   8	C	
            --14	Número de Motor													 117	  21	C	
            --15	CMKG															 138	   9	C	
            --16	Distância entre eixos											 147	   4	C	
            --17	RENAVAM															 151	   9	C	
            --18	Ano Modelo de Fabricação										 160	   4	C	
            --19	Ano de Fabricação												 164	   4	C	
            --20	Tipo de Pintura													 168	   1	C	
            --21	Tipo de Veículo													 169	   2	C	
            --22	Espécie de Veículo												 171	   1	C	
            --23	Condição do VIN													 172	   1	C	
            --24	Condição do Veículo												 173	   1	C	
            --25	Código Marca Modelo												 174	   6	C	

            INSERT INTO @TB_RETORNO
            SELECT @CD_TRIBUTACAO_ICMS,
                   6 AS NR_TIPO,
                   --1 AS NR_ORDEM,
                   /* 1*/ 'VEIC'
                   /* 2*/ 
                   /* 3*/ 
                   /* 4*/ 
                   /* 5*/ 
                   /* 6*/ 
                   /* 7*/ 
                   /* 8*/ 
                   /* 9*/ 
                   /*10*/ 
                   /*11*/ 
                   /*12*/ 
                   /*13*/ 
                   /*14*/ 
                   /*15*/ 
                   /*16*/ 
                   /*17*/ 
                   /*18*/ 
                   /*19*/ 
                   /*20*/ 
                   /*21*/ 
                   /*22*/ 
                   /*23*/ 
                   /*24*/ 
                   /*25*/ AS TX_LINHA
            WHERE 0 = 1

            -------------------------------------------------------------------------------------------------------------------------------------------------------

            /********** Dados dos Volumes - TXT  –  Volumes da  NF **********/
            -- 1	Identificação do Registro									SIM	   1	   4	C	VOLU - Fixo
            -- 2	Seq. do Volume na NF										SIM	   5	   3	N	
            -- 3	Quantidade de volumes transportados							SIM	   8	  15	N	
            -- 4	Espécie dos volumes transportados							SIM	  23	  60	C	
            -- 5	Marca dos volumes transportados								SIM	  83	  60	C	
            -- 6	Numeração dos vol. transportados							SIM	 143	  60	C	
            -- 7	Peso Líquido (Kg)											SIM	 203	  15,3	N	00000000000,000
            -- 8	Peso Bruto (Kg)												SIM	 218	  15,3	N	00000000000,000

            INSERT INTO @TB_RETORNO
            SELECT @CD_TRIBUTACAO_ICMS,
                   7 AS NR_TIPO,
                   --1 AS NR_ORDEM,
                   /* 1*/ 'VOLU' +
                   /* 2*/ RIGHT('000' + CONVERT(VARCHAR, DENSE_RANK() OVER(ORDER BY EC.NR_SEQUENCIA)), 3) +
                   /* 3*/ RIGHT('000000000000000' + REPLACE(ISNULL(EC.QT_VOLUME_CARGA, ''), ' ', ''), 15) +
                   /* 4*/ CONVERT(CHAR(60), ISNULL(TE.DESCRICAO, '')) +
                   /* 5*/ CONVERT(CHAR(60), ISNULL(LEFT(PC.NR_CNTR, 4), 'S/M')) +
                   /* 6*/ CONVERT(CHAR(60), ISNULL(SUBSTRING(PC.NR_CNTR, 5, 3) + '.' + SUBSTRING(PC.NR_CNTR, 8, 3) + '-' + SUBSTRING(PC.NR_CNTR, 11, 1), 'S/N')) +
                   /* 7*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 3), ISNULL(DM.PL_MERCADORIA, 0)), '.', ','), 15) +
                   /* 8*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 3), ISNULL(DM.PB_MERCADORIA, 0)), '.', ','), 15) AS TX_LINHA
            FROM TEMBALAGEM_CARGA                EC
               INNER JOIN TTP_EMBALAGEM          TE ON TE.Codigo = EC.CD_TIPO_EMBALAGEM
               INNER JOIN (SELECT @NR_PROCESSO AS NR_PROCESSO,
                                  SUM(PL_MERCADORIA) AS PL_MERCADORIA,
                                  SUM(PB_MERCADORIA) AS PB_MERCADORIA
                           FROM @TDETALHE_MERCADORIA) AS DM ON DM.NR_PROCESSO = EC.NR_PROCESSO
               LEFT  JOIN (SELECT TOP 1 '08' AS TP_EMBALAGEM, PC.NR_CNTR
                           FROM TPROCESSO_CNTR PC
                           WHERE PC.NR_PROCESSO = @NR_PROCESSO) AS PC ON PC.TP_EMBALAGEM = EC.CD_TIPO_EMBALAGEM
            WHERE EC.NR_PROCESSO = @NR_PROCESSO
            ORDER BY NR_SEQUENCIA

            -------------------------------------------------------------------------------------------------------------------------------------------------------

            /********** Dados dos Totais – Dados Totais da  NF **********/
            -- 1	Identificação do Registro										   1	   5	C	TOTAL – Fixo
            -- 2	Base de Cálculo do ICMS											   6	  15,2	N	000000000000,00
            -- 3	Valor Total do ICMS												  21	  15,2	N	000000000000,00
            -- 4	Base de Cálculo do ICMS - ST									  36	  15,2	N	000000000000,00
            -- 5	Valor Total do ICMS – ST										  51	  15,2	N	000000000000,00
            -- 6	Valor Total dos Produtos										  66	  15,2	N	000000000000,00
            -- 7	Valor Total do Frete											  81	  15,2	N	000000000000,00
            -- 8	Valor Total do Seguro											  96	  15,2	N	000000000000,00
            -- 9	Valor Total do Desconto											 111	  15,2	N	000000000000,00
            --10	Valor Total do II												 126	  15,2	N	000000000000,00
            --11	Valor Total do IPI												 141	  15,2	N	000000000000,00
            --12	Valor Total do PIS												 156	  15,2	N	000000000000,00
            --13	Valor Total do COFINS											 171	  15,2	N	000000000000,00
            --14	Valor Outras Despesas Acessórias								 186	  15,2	N	000000000000,00
            --15	Valor Total da Nota Fiscal										 201	  15,2	N	000000000000,00

            INSERT INTO @TB_RETORNO
            SELECT @CD_TRIBUTACAO_ICMS,
                   8 AS NR_TIPO,
                   --1 AS NR_ORDEM,
                   /* 1*/ 'TOTAL' +
                   /* 2*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_BASE_ICMS_ITEM), 0)), '.', ','), 15) +
                   /* 3*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_ICMS_ITEM), 0)), '.', ','), 15) +
                   /* 4*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), 0), '.', ','), 15) +
                   /* 5*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), 0), '.', ','), 15) +
                   /* 6*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_CIF), 0)), '.', ','), 15) +
                   /* 7*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_FRETE_ITEM_MN * 0), 0)), '.', ','), 15) +
                   /* 8*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_SEGURO_ITEM_MN * 0), 0)), '.', ','), 15) +
                   /* 9*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), 0), '.', ','), 15) +
                   /*10*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_II_ITEM), 0)), '.', ','), 15) +
                   /*11*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_IPI_ITEM), 0)), '.', ','), 15) +
                   /*12*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_PIS_ITEM), 0)), '.', ','), 15) +
                   /*13*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_COFINS_ITEM), 0)), '.', ','), 15) +
                   /*14*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_TX_SCX_ITEM + DM.VL_AFRMM_ITEM), 0)), '.', ','), 15) +
                   /*15*/ RIGHT('000000000000000' + REPLACE(CONVERT(DECIMAL(15, 2), ISNULL(SUM(DM.VL_BASE_ICMS_ITEM), 0)), '.', ','), 15) AS TX_LINHA -- A VERIFICAR
            FROM @TDETALHE_MERCADORIA DM

            -------------------------------------------------------------------------------------------------------------------------------------------------------

            /********** Notas **********/
            /*
            Nota 01 –  Campo 16 - CST
            00 – Tributada Integralmente
            10 – Trib. e com cobrança do ICMS por Subst. Trib.
            20 – Com redução de Base de Cálculo
            30 – Isenta ou não Tribut. e com cobrança do ICMS por Subst. Trib.
            40 – Isenta
            41 – Não Tributada
            50 – Suspensão
            51 – Diferimento
            60 – ICMS cobrado anteriormente por substituição tributária
            70 – Com Redução de Base de Cálculo e com cobrança do ICMS por Subst. Trib.
            90 - Outros

            Nota 02 –  Campo 21 – Cód. Enquadramento Legal do IPI
            Tabela a ser criada pela RFB, informar 999 enquanto a tabela não for criada.
             
            Nota 03 –  Campo 22 - CST
            00 – Entrada com recuperação de crédito
            49 – Outras Entradas
            50 – Saída Tributada
            99 – Outras Saídas

            Nota 04 –  Campo 31 - CST
            01 – Operação Tributável (Base de Cálculo = Vr. da Operação – Alíquota Normal (cumulativo/não cumulativo))
            02 – Operação Tributável (Base de Cálculo = Vr. da Operação – (Alíquota Diferenciada))

            Nota 05 –  Campo 35 - CST
            01 – Operação Tributável (Base de Cálculo = Vr. da Operação – Alíquota Normal (cumulativo/não cumulativo))
            02 – Operação Tributável (Base de Cálculo = Vr. da Operação – (Alíquota Diferenciada))


            Obs.: Separador decimal -> ,
            */

            /*
            IF (SELECT COUNT(*)
                FROM TADICAO_DE_IMPORTACAO
                WHERE NR_PROCESSO = @NR_PROCESSO
                  AND ISNULL(CD_TRIBUTACAO_ICMS, '') IN ('5', '7')) > 0
            BEGIN
                INSERT INTO @TB_RETORNO
                SELECT 9 AS NR_TIPO,
                       1 AS NR_ORDEM,
                       'TEXTICMS SUSPENSO – REGIME ESPECIAL – PROCESSO UA51224 – 595685/2011'
            END
            */
            INSERT INTO @TB_RETORNO
            SELECT DISTINCT @CD_TRIBUTACAO_ICMS,
                            9 AS NR_TIPO,
                            --1 AS NR_ORDEM,
                            'TEXT' + RTRIM(E.NM_FUND_LEGAL)
            FROM TADICAO_DE_IMPORTACAO AI
              INNER JOIN @TDETALHE_MERCADORIA DM ON DM.NR_ADICAO = AI.NR_ADICAO
              INNER JOIN TTP_EXONERACAO E ON E.CD_EX = AI.CD_FUND_LEGAL_ICMS
            WHERE NR_PROCESSO = @NR_PROCESSO
              AND ISNULL(AI.CD_TRIBUTACAO_ICMS, '') IN ('5', '7')
              AND @CD_TRIBUTACAO_ICMS IN ('0', AI.CD_TRIBUTACAO_ICMS)
              AND ISNULL(E.NM_FUND_LEGAL, '') <> ''
        END -- LOOP - TRIBUTAÇÃO
    END -- LOOP - REFERENCIA

    UPDATE @TB_RETORNO
    SET TX_LINHA = REPLACE(REPLACE(REPLACE(TX_LINHA, CHAR(13) + CHAR(10), '  '), CHAR(13), ' '), CHAR(10), ' ')

    /*
    SELECT *
    FROM @TB_RETORNO
    ORDER BY /*CD_TRIBUTACAO_ICMS, NR_TIPO,*/ NR_ORDEM
    --*/RETURN
END
GO
