USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_JUROS_REEMBOLSO](@DT_INICIAL DATETIME, @DT_FINAL DATETIME, @VALOR FLOAT,@CD_GRUPO INT) RETURNS FLOAT AS
BEGIN
    /*
    DECLARE @DT_INICIAL DATETIME
    DECLARE @DT_FINAL   DATETIME
    DECLARE @VALOR      FLOAT

    SET @DT_INICIAL = CONVERT(DATETIME, '24/02/2012', 103)
    SET @DT_FINAL   = CONVERT(DATETIME, '06/03/2012', 103)
    SET @VALOR      = 160
    --*/
    
    -- Não utilizar o primeiro dia, começar do dia seguinte
    DECLARE @CD_MOEDA INT 
    SET @CD_MOEDA=''
    
    --SET @DT_INICIAL = DATEADD(DAY, 1, @DT_INICIAL)
    
    DECLARE @VALOR_TOTAL FLOAT
    declare @valor_reembolso float
    SET @VALOR_TOTAL = @VALOR
    
    IF @CD_GRUPO = '013' 
		SET @CD_MOEDA='999'
	ELSE IF @CD_GRUPO = '002'
		SET @CD_MOEDA='111'
	ELSE IF @CD_GRUPO = '069'	
		SET @CD_MOEDA='993'
	ELSE IF @CD_GRUPO = '742'	
		SET @CD_MOEDA='113'
			
	if @CD_MOEDA=''
	begin		
		set @CD_MOEDA='111'
	end

    DECLARE @DT_FINAL_MES DATETIME

    set @valor_reembolso = 0
    WHILE (@DT_INICIAL <= @DT_FINAL)
    BEGIN
        IF (MONTH(@DT_INICIAL) = MONTH(@DT_FINAL)) and (YEAR(@DT_INICIAL) = YEAR(@DT_FINAL))
            SET @DT_FINAL_MES = @DT_FINAL
        ELSE
            SET @DT_FINAL_MES = DATEADD(DAY, -DAY(@DT_INICIAL), DATEADD(MONTH, 1, @DT_INICIAL))

        SELECT @VALOR_TOTAL = @VALOR_TOTAL + Round((@VALOR * ((MAX(TX_CAMBIO / 100) / 30) *
           case when month(@DT_INICIAL) <> month(@DT_FINAL) then (DATEDIFF(DAY, @DT_INICIAL, @DT_FINAL_MES)+1)else 
        (DATEDIFF(DAY, @DT_INICIAL, @DT_FINAL_MES)) end)),2)
        FROM TTAXA_CAMBIO
        WHERE MONTH(DT_INICIO_VIGENCIA) = MONTH(@DT_FINAL)
          AND YEAR(DT_INICIO_VIGENCIA)  = YEAR(@DT_FINAL)
          AND CD_MOEDA = @CD_MOEDA
          
              SELECT  @valor_reembolso = @valor_reembolso + (@VALOR * ((MAX(TX_CAMBIO / 100) / 30) *
           case when month(@DT_INICIAL) <> month(@DT_FINAL) then (DATEDIFF(DAY, @DT_INICIAL, @DT_FINAL_MES)+1)else 
        (DATEDIFF(DAY, @DT_INICIAL, @DT_FINAL_MES)) end))
        FROM TTAXA_CAMBIO
        WHERE MONTH(DT_INICIO_VIGENCIA) = MONTH(@DT_FINAL)
          AND YEAR(DT_INICIO_VIGENCIA)  = YEAR(@DT_FINAL)
          AND CD_MOEDA = @CD_MOEDA

        SET @DT_INICIAL = DATEADD(MONTH, 1, @DT_INICIAL)
        IF DAY(@DT_INICIAL) > 1
            SET @DT_INICIAL = DATEADD(DAY, 1-DAY(@DT_INICIAL), @DT_INICIAL)
    END

    --/*
    RETURN round(@VALOR_rEEMBOLSO,2)--CONVERT(DECIMAL(28, 2), @VALOR_TOTAL - @VALOR)
    --*/SELECT @DT_INICIAL, @DT_FINAL, CONVERT(DECIMAL(28, 2), @VALOR_TOTAL - @VALOR)
END

GO
