USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_RETORNO_FESTO_EXP](@NR_PROCESSO VARCHAR(18)) RETURNS @TB_RETORNO TABLE (
                                                                          NR_LINHA INT IDENTITY(1, 1),
                                                                          TX_LINHA VARCHAR(1000)
                                                                      ) AS --*/
BEGIN
    /*
    DECLARE @TB_RETORNO TABLE (
                NR_LINHA INT IDENTITY(1, 1),
                TX_LINHA VARCHAR(1000)
            )

    DECLARE @NR_PROCESSO CHAR(18) = '0102EA-001229-14'
    --*/

    DECLARE @NR_PEDIDO VARCHAR(10)
    DECLARE @NR_FATURA VARCHAR(10)

    SELECT TOP 1 @NR_PEDIDO = RIGHT('0000000000' + RTRIM(CD_REFERENCIA), 10)
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND TP_REFERENCIA = '01'

    SELECT TOP 1 @NR_FATURA = RIGHT('0000000000' + RTRIM(CD_REFERENCIA), 10)
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND TP_REFERENCIA = '21'

    IF ISNULL(@NR_PEDIDO, '') = ''
        INSERT INTO @TB_RETORNO
        VALUES('ERRO: Pedido não encontrado para o processo ' + RTRIM(@NR_PROCESSO))
    IF ISNULL(@NR_PROCESSO, '') = ''
        INSERT INTO @TB_RETORNO
        VALUES('ERRO: Fatura não encontrada para o processo ' + RTRIM(@NR_PROCESSO))
    ELSE
    BEGIN
        INSERT INTO @TB_RETORNO
        SELECT @NR_PEDIDO + CHAR(9) +
               @NR_FATURA + CHAR(9) +
               RIGHT('000000' + ISNULL(PEI.NR_ITEM_PE, ''), 6) + CHAR(9) +
               RTRIM(ISNULL(ISNULL(REPLACE(REPLACE(A.NR_RE, '/', ''), '-', ''), PER.NR_RE), '')) + CHAR(9) +
               RTRIM(ISNULL(CONVERT(VARCHAR, YEAR(PER.DT_RE)) + RIGHT('0' + CONVERT(VARCHAR, MONTH(PER.DT_RE)), 2) + RIGHT('0' + CONVERT(VARCHAR, DAY(PER.DT_RE)), 2), '')) + CHAR(9) +
               RTRIM(ISNULL(CASE WHEN ISNULL(P.IN_DSE, '0') = '1' THEN P.NR_DDE ELSE '' END, '')) + CHAR(9) +
               RTRIM(ISNULL(CASE WHEN ISNULL(P.IN_DSE, '0') = '0' THEN P.NR_DDE ELSE '' END, '')) + CHAR(9) +
               RTRIM(ISNULL(P.NR_CONHECIMENTO_MASTER, '')) + CHAR(9) +
               RTRIM(ISNULL(P.NR_CONHECIMENTO, '')) + CHAR(9) +
               RTRIM(ISNULL(CONVERT(VARCHAR, YEAR(F.DT_REALIZACAO)) + RIGHT('0' + CONVERT(VARCHAR, MONTH(F.DT_REALIZACAO)), 2) + RIGHT('0' + CONVERT(VARCHAR, DAY(F.DT_REALIZACAO)), 2), '')) + CHAR(9) +
               RTRIM(ISNULL(CONVERT(VARCHAR, YEAR(P.DT_REG_DDE)) + RIGHT('0' + CONVERT(VARCHAR, MONTH(P.DT_REG_DDE)), 2) + RIGHT('0' + CONVERT(VARCHAR, DAY(P.DT_REG_DDE)), 2), ''))
        FROM TPROCESSO_EXP_ITEM PEI
           INNER JOIN TPROCESSO_EXP PE ON PE.NR_PROCESSO = PEI.NR_PROCESSO
           INNER JOIN TPROCESSO_EXP_RE PER ON PER.NR_PROCESSO = PEI.NR_PROCESSO
           LEFT  JOIN TRE_ANEXO_PURO AP ON AP.NR_PROCESSO = PEI.NR_PROCESSO
                                       AND ISNULL(AP.NR_PEDIDO_IMP, '') = ISNULL(PEI.NR_PEDIDO_IMP, '')
                                       AND ISNULL(AP.NR_ITEM_PE, '') = ISNULL(PEI.NR_ITEM_PE, '')
           LEFT  JOIN TRE_ANEXO A ON A.NR_PROCESSO = AP.NR_PROCESSO
                                 AND A.NR_PROCESSO_COMPLEMENTO = AP.NR_PROCESSO_COMPLEMENTO
                                 AND A.CD_RE_ANEXO = AP.CD_RE_ANEXO
           INNER JOIN TPROCESSO P ON P.NR_PROCESSO = PEI.NR_PROCESSO
           INNER JOIN TFOLLOWUP F ON F.NR_PROCESSO = PEI.NR_PROCESSO
                                 AND F.CD_EVENTO = '141'
        WHERE PEI.NR_PROCESSO = @NR_PROCESSO
        ORDER BY ISNULL(A.NR_RE, PER.NR_RE), PEI.NR_ITEM_PE

        IF (SELECT COUNT(*) FROM @TB_RETORNO) < (SELECT COUNT(*) FROM TPROCESSO_EXP_ITEM WHERE NR_PROCESSO = @NR_PROCESSO)
        BEGIN
            DELETE @TB_RETORNO

            INSERT INTO @TB_RETORNO
            VALUES('ERRO: Quantidade incorreta de itens encontrada para o processo. Verifique se está preenchido o RE na Manutenção.')
        END
    END

    /*
    SELECT *
    FROM @TB_RETORNO
    --*/RETURN
END

GO
