USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_CLIENTE_SERVICO_NOVO](@CD_CLIENTE CHAR(5), @CD_PRODUTO CHAR(2)) RETURNS CHAR(1) AS
BEGIN
    --DECLARE @CD_CLIENTE CHAR(5) = '00500'
    --DECLARE @CD_PRODUTO CHAR(2) = '01'

    DECLARE @RETORNO CHAR(1) = '0'

    SELECT @RETORNO = CASE WHEN GETDATE() >= CASE WHEN @CD_PRODUTO IN ('01') THEN ISNULL(G.DT_NOVO_FOLLOWUP_IMP, DATEADD(YEAR, 1, GETDATE()))
                                                 ELSE CASE WHEN @CD_PRODUTO IN ('02') THEN ISNULL(G.DT_NOVO_FOLLOWUP_EXP, DATEADD(YEAR, 1, GETDATE()))
                                                      ELSE DATEADD(YEAR, 1, GETDATE())
                                                      END
                                                 END THEN '1'
                      ELSE '0'
                      END
    FROM TGRUPO G (NOLOCK)
       INNER JOIN TEMPRESA_NAC E (NOLOCK) ON E.CD_GRUPO = G.CD_GRUPO
    WHERE E.CD_EMPRESA = @CD_CLIENTE

    --/*
    RETURN @RETORNO
    --*/SELECT @RETORNO
END

GO
