USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_SAMSUNG_IN](@NR_PROCESSO CHAR(18)) RETURNS @TB_RETORNO TABLE (
                                                                             TX_LINHA VARCHAR(4000)
                                                                         )--*/
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18) = '0101IM-001295-15'

    DECLARE @TB_RETORNO TABLE (
        TX_LINHA VARCHAR(4000)
    )
    --*/

    /*
    Índice     Field Name                    Type     Begin     Length     Format     End
    01         Process ID                    CHAR       1       10         10          10
    02         DI number                     CHAR      11       20         20          30
    03         Vessel code                   CHAR      31       30         30          60
    04         Channel                       CHAR      61        1          1          61
    05         DI date                       CHAR      62        8          8          69
    06         Customs date                  CHAR      70        8          8          77
    07         Arriving date                 CHAR      78        8          8          85
    08         Rate                          NUM       86       10          5,4        95
    09         Gross weight                  NUM       96       17         13,3       112
    10         Infraero weight               NUM      113       17         13,3       129
    11         International freight         NUM      130       17         13,3       146
    12         International freight unit    CHAR     147        3          3         149
    13         Local freight (Total)-        NUM      150       17         13,3       166
    14         II tax                        NUM      167       17         13,3       183
    15         IPI tax                       NUM      184       17         13,3       200
    16         ICMS tax                      NUM      201       17         13,3       217
    17         Tax AMT – APM                 NUM      218       17         13,3       234
    18         Capatazia                     NUM      235       17         13,3       251
    19         Insurance                     NUM      252       17         13,3       268
    20         Insurance Unit                CHAR     269        3          3         271
    21         Siscomex                      NUM      272       17         13,3       288
    22         Airport tax                   NUM      289       17         13,3       305
    23         Collect fee                   NUM      306       17         13,3       322
    24         CPMF                          NUM      323       17         13,3       339
    25         Disconsolation                NUM      340       17         13,3       356
    26         Broker fee                    NUM      357       17         13,3       373
    27         PIS tax value                 NUM      374       17         13,3       390
    28         COFINS tax value              NUM      391       17         13,3       407
    29         BL number                     CHAR     408       20         20         427
    30         Broker Code                   NUM      428        1          1         428
    31         ISS Tax Value                 NUM      429       17         13,3       445
    32         Local Frgt: Trucking-         NUM      446       17         13,3       462
    33         Local Frgt: Escolta           NUM      463       17         13,3       479
    34         Local Frgt: AD Valorem        NUM      480       17         13,3       496
    35         Local Frgt: ISS Frete         NUM      497       17         13,3       513
    36         Delivery Fee                  NUM      514       17         13,3       530
    37         ISS APM                       NUM      531       17         13,3       547
    38         FTI                           NUM      548       17         13,3       564
    39         EADI                          NUM      565       17         13,3       581
    40         DTC                           NUM      582       17         13,3       598
    41         Local Frgt: Trucking2         NUM      599       17         13,3       615
    42         Local Frgt: Escolta2          NUM      616       17         13,3       632
    43         Local Frgt: AD Valorem2       NUM      633       17         13,3       649
    44         Local Frgt: ISS Frete2        NUM      650       17         13,3       666
    45         Aditional Insurance           NUM      667       17         13,3       683
    46         Expurgo                       NUM      684       17         13,3       700
    47         Marinha Mercante              NUM      701       17         13,3       717
    48         Outras Despesas Marítimas     NUM      718       17         13,3       734
    49         Numero da LI                  CHAR     735       12         12         746
    50         Data da LI[MAO]               CHAR     747        8          8         754
    51         Numero da DTC[MAO]            NUM      755       12         12         766
    52         Data do DTC                   CHAR     767        8          8         774
    53         Suframa                       NUM      775       17         17         791
    54         Tax Recover                   NUM      792       17         13,3       808
    55         Notification [MAO]            CHAR     809       10         10         818
    56         IRRF                          CHAR     819       17         13,3       835
    57         Prepaid                       CHAR     836       17         13,3       852
    58         ICMS s/ Transporte            NUM      853       17         13,3       869
    59         ICMS s/ transporte            NUM      870       17         13,3       886
    60         PEDAGIO                       NUM      887       17         13,3       903
    61         PEDAGIO                       NUM      904       17         13,3       920
    62         IOF                           NUM      921       17         13,3       937
    63         Net weight                    NUM      938       17         13,3       954
    64         Bl Year                       CHAR     955        4          4         958
    */

    --SELECT CD_EMBARCACAO
    --FROM TPROCESSO
    --WHERE NR_PROCESSO = @NR_PROCESSO

    DECLARE @BL_NUMBER  CHAR(20)
    DECLARE @BL_YEAR    CHAR(4)
    DECLARE @NR_PROC_ID CHAR(10)

    SELECT TOP 1 @BL_NUMBER = ISNULL(PA.NR_CONHECIMENTO, P.NR_CONHECIMENTO),
                 @BL_YEAR   = YEAR(ISNULL(PA.DT_CONHECIMENTO, P.DT_CONHECIMENTO))
    FROM TPROCESSO P
       LEFT  JOIN TPROCESSO PA ON (DBO.FN_COPIA_APENAS(PA.NR_CONHECIMENTO, '0123456789') = P.NR_CONHECIMENTO OR PA.NR_CONHECIMENTO = P.NR_CONHECIMENTO)
                              AND PA.CD_PRODUTO = '06'
                              AND PA.CD_CLIENTE = P.CD_CLIENTE
                              AND PA.IN_CANCELADO = '0'
    WHERE P.NR_PROCESSO = @NR_PROCESSO
      AND ISNULL(P.NR_CONHECIMENTO, '') <> ''
    ORDER BY CASE WHEN PA.NR_CONHECIMENTO = P.NR_CONHECIMENTO THEN 1 ELSE 2 END

    SELECT TOP 1 @NR_PROC_ID = CD_REFERENCIA
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND TP_REFERENCIA = '04'
    ORDER BY DT_REFERENCIA

    INSERT INTO @TB_RETORNO
    SELECT CONVERT(CHAR(10), @NR_PROC_ID) + -- 01
           CONVERT(CHAR(20), SUBSTRING(NR_DECLARACAO_IMP, 1, 2) + '/' + SUBSTRING(NR_DECLARACAO_IMP, 3, 7) + '-' + SUBSTRING(NR_DECLARACAO_IMP, 10, 1)) + -- 02
           CONVERT(CHAR(30), ISNULL(EM.NM_EMBARCACAO, '')) + -- 03
           CONVERT(CHAR(1), CASE P.CD_CANAL
                                WHEN '0' THEN '4'
                                WHEN '2' THEN '3'
                                WHEN '3' THEN '2'
                                WHEN '1' THEN '1'
                            ELSE ''
                            END) + -- 04
           CONVERT(CHAR(8), DI.DT_REGISTRO_DI) + -- 05
           CONVERT(CHAR(8), (SELECT ISNULL(REPLACE(CONVERT(VARCHAR, DT_REALIZACAO, 103), '/', ''), '00000000')
                             FROM TFOLLOWUP F
                             WHERE F.NR_PROCESSO = DI.NR_PROCESSO
                               AND F.CD_EVENTO = '088')) + -- 06
           CONVERT(CHAR(8), (SELECT ISNULL(REPLACE(CONVERT(VARCHAR, DT_REALIZACAO, 103), '/', ''), '00000000')
                             FROM TFOLLOWUP F
                             WHERE F.NR_PROCESSO = DI.NR_PROCESSO
                               AND F.CD_EVENTO = '162')) + -- 07
           RIGHT('0000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(10,4), DI.TX_DOLAR)), 10) + -- 08
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), SUM(DM.PB_MERCADORIA)))), 17) + -- 09
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 10
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), SUM(DM.VL_FRETE_ITEM)))), 17) + -- 11
           CONVERT(CHAR(3), CASE WHEN ISNULL(DI.VL_TOT_FRT_PREPAID, 0) = 0 THEN '' ELSE ISNULL(MF.CD_SIGLA, '') END) + -- 12
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 13
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), SUM(ISNULL(DM.VL_II_ITEM, 0))))), 17) + -- 14
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), SUM(ISNULL(DM.VL_IPI_ITEM, 0))))), 17) + -- 15
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), SUM(ISNULL(DM.VL_ICMS_ITEM, 0))))), 17) + -- 16
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 17
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), ISNULL((SELECT AD.VL_MOEDA * ISNULL(TC.TX_CAMBIO, 1)
                                                                                                              FROM TACRESCIMO_DEDUCAO AD
                                                                                                                 LEFT JOIN TTAXA_CAMBIO TC ON TC.CD_MOEDA = AD.CD_MOEDA
                                                                                                                                          AND DI.DT_CALCULO BETWEEN TC.DT_INICIO_VIGENCIA AND TC.DT_TERMINO_VIGENCIA
                                                                                                              WHERE AD.NR_PROCESSO = DI.NR_PROCESSO
                                                                                                                AND AD.TP_BASE = 'A'), 0)))), 17) + -- 18
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), SUM(ISNULL(DM.VL_SEGURO_ITEM_MN / DI.TX_DOLAR, 0))))), 17) + -- 19
           --CONVERT(CHAR(3), ISNULL(MS.CD_SIGLA, '')) + -- 20
           'USD' + -- 20
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), SUM(ISNULL(DM.VL_TX_SCX_ITEM, 0))))), 17) + -- 21
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 22
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 23
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 24
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 25
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 26
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), ISNULL(SUM(ISNULL(DM.VL_PIS_ITEM, 0)), 0)))), 17) + -- 27
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), ISNULL(SUM(ISNULL(DM.VL_COFINS_ITEM, 0)), 0)))), 17) + -- 28
           CONVERT(CHAR(20), ISNULL(@BL_NUMBER, '')) + -- 29
           CONVERT(CHAR(1), 'C') + -- 30
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 31
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 32
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 33
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 34
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 35
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 36
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 37
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 38
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 39
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 40
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 41
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 42
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 43
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 44
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 45
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 46
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), (ISNULL(SUM(ROUND((AI.VL_BASE_CALC_ICMS_AFRMM - AI.VL_BASE_CALC_ICMS) * (1 - (AI.PC_ICMS / 100)), 2)), 0) / SUM(AI.PL_MERCADORIA)) * SUM(DM.PL_MERCADORIA)))), 17) + -- 47
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 48
           --CONVERT(CHAR(12), CASE WHEN ISNULL(AI.NR_OPER_TRAT_PREV, '') = '' THEN '' ELSE SUBSTRING(AI.NR_OPER_TRAT_PREV, 1, 2) + '/' + SUBSTRING(AI.NR_OPER_TRAT_PREV, 3, 7) + '-' + SUBSTRING(AI.NR_OPER_TRAT_PREV, 10, 1) END) + -- 49
           --CONVERT(CHAR(8), CASE ISNULL(AI.NR_OPER_TRAT_PREV, '')
           --                     WHEN '' THEN ''
           --                 ELSE REPLACE(CONVERT(VARCHAR, LI.DT_REGISTRO, 103), '/', '')
           --                 END) + -- 50
           CONVERT(CHAR(12), '') + -- 49
           CONVERT(CHAR(8), '') + -- 50
           RIGHT('000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(12), 0)), 12) + -- 51
           CONVERT(CHAR(8), '') + -- 52
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17), 0)), 17) + -- 53
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 54
           CONVERT(CHAR(10), '') + -- 55
           CONVERT(CHAR(17), '00000000000000000') + -- 56
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), CASE WHEN ISNULL(DI.VL_TOT_FRT_PREPAID, 0) = 0 THEN 0 ELSE SUM(ISNULL(DM.VL_FRETE_ITEM, 0)) END))), 17) + -- 57
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 58
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 59
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 60
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 61
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 62
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), CONVERT(DECIMAL(17,2), SUM(ISNULL(DM.PL_MERCADORIA, 0))))), 17) + -- 63
           CONVERT(CHAR(4), ISNULL(@BL_YEAR, YEAR(P.DT_CONHECIMENTO))) -- 64
    FROM TDECLARACAO_IMPORTACAO DI
       INNER JOIN TDETALHE_MERCADORIA DM ON DM.NR_PROCESSO = DI.NR_PROCESSO
       LEFT JOIN TPO_ITEM POI ON POI.NR_PROCESSO = DM.NR_PROC_PO
                              AND POI.NR_ITEM_CLIENTE = DM.NR_ITEM_PO
                              AND POI.NR_PARCIAL = DM.NR_PARCIAL
       INNER JOIN TADICAO_DE_IMPORTACAO AI ON AI.NR_PROCESSO = DM.NR_PROCESSO
                                          AND AI.NR_ADICAO = DM.NR_ADICAO
       LEFT  JOIN TRIBUTO II ON II.NR_PROCESSO = AI.NR_PROCESSO
                            AND II.NR_ADICAO = AI.NR_ADICAO
                            AND II.CD_RECEITA_IMPOSTO = '0001'
       LEFT  JOIN TRIBUTO IPI ON IPI.NR_PROCESSO = AI.NR_PROCESSO
                             AND IPI.NR_ADICAO = AI.NR_ADICAO
                             AND IPI.CD_RECEITA_IMPOSTO = '0002'
       INNER JOIN TPROCESSO P ON P.NR_PROCESSO = DI.NR_PROCESSO
       --INNER JOIN TPROCESSO PA ON RIGHT(RTRIM(PA.NR_CONHECIMENTO), LEN(P.NR_CONHECIMENTO)) = P.NR_CONHECIMENTO
       --                   AND PA.CD_PRODUTO = '06'
       --                   AND PA.CD_CLIENTE = P.CD_CLIENTE
       --                   AND PA.IN_CANCELADO = '0'
       --                   AND ISNULL(P.NR_CONHECIMENTO, '') <> ''
       LEFT  JOIN TMOEDAS_ISO MF ON MF.CD_MOEDA = DI.CD_MOEDA_FRETE
       LEFT  JOIN TMOEDAS_ISO MS ON MS.CD_MOEDA = DI.CD_MOEDA_SEGURO
       LEFT  JOIN TEMBARCACAO EM ON EM.CD_EMBARCACAO = P.CD_EMBARCACAO
       LEFT  JOIN TPROCESSO_LI LI ON LI.NR_PROCESSO = AI.NR_PROCESSO
                                 AND LI.NR_LI = AI.NR_OPER_TRAT_PREV
    WHERE DI.NR_PROCESSO = @NR_PROCESSO
    GROUP BY DI.NR_PROCESSO, DI.NR_DECLARACAO_IMP, EM.NM_EMBARCACAO, P.CD_CANAL, DI.DT_REGISTRO_DI, DI.TX_DOLAR, DI.DT_CALCULO,
             DI.VL_TOT_FRT_PREPAID, MF.CD_SIGLA, MS.CD_SIGLA, P.DT_CONHECIMENTO

    /*
    SELECT *
    FROM @TB_RETORNO
    --*/RETURN
END

GO
