USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_TRANS_DI](@NR_PROCESSO CHAR(18), @CD_MOTIVO_TRANS CHAR(1)) RETURNS @TB_RETORNO TABLE (
                                                                                                     NR_IDENT_USUARIO VARCHAR(15),
                                                                                                     NR_LINHA         INT IDENTITY(1, 1),
                                                                                                     CD_TIPO_LINHA    CHAR(2),
                                                                                                     TX_LINHA         VARCHAR(MAX)
                                                                                                 ) AS --*/
BEGIN

    /*
    DECLARE @NR_PROCESSO         CHAR(18) = '0101IM-003000-15'
    DECLARE @CD_MOTIVO_TRANS     CHAR(1)  = '1'

    DECLARE @TB_RETORNO AS TABLE (
        NR_IDENT_USUARIO VARCHAR(15),
        NR_LINHA         INT IDENTITY(1, 1),
        CD_TIPO_LINHA    CHAR(2),
        TX_LINHA         VARCHAR(MAX)
    )
    --*/

    DECLARE @NR_IDENT_USUARIO    CHAR(15) = REPLACE(@NR_PROCESSO, '-', '')
    DECLARE @CD_TIPO_DECLARACAO  INT
    DECLARE @VL_TOTAL_MLE_MNEG   DECIMAL(13, 2)
    DECLARE @VL_TOTAL_MLE_MN     DECIMAL(13, 2)
    DECLARE @VL_TOTAL_FRETE_MNEG DECIMAL(13, 2)
    DECLARE @VL_TOT_SEGURO_MNEG  DECIMAL(13, 2)
    DECLARE @IN_FMA              INT

    ---------------------------------------------------------------------------------------------------------------------------------
    -- DI
    ---------------------------------------------------------------------------------------------------------------------------------

    SELECT @CD_TIPO_DECLARACAO = CONVERT(INT, ISNULL(CD_TIPO_DECLARACAO, '1')),
           @VL_TOTAL_FRETE_MNEG = CASE WHEN ISNULL(CD_MOEDA_MLE, '') = ISNULL(CD_MOEDA_FRETE, '') THEN VL_TOTAL_FRETE_MNEG
                                  ELSE ISNULL(VL_TOTAL_FRETE_MN / TX_MLE, 0)
                                  END,
           @VL_TOT_SEGURO_MNEG = CASE WHEN ISNULL(CD_MOEDA_MLE, '') = ISNULL(CD_MOEDA_SEGURO, '') THEN VL_TOT_SEGURO_MNEG
                                  ELSE ISNULL(VL_TOTAL_SEG_MN / TX_MLE, 0)
                                  END,
           @VL_TOTAL_MLE_MNEG = CASE WHEN ISNULL(CD_MOEDA_MLE, '') = '' OR CONVERT(INT, ISNULL(CD_TIPO_DECLARACAO, '1')) IN (17, 16) THEN 0
                                ELSE CASE WHEN ISNULL(CD_INCOTERM, '') IN ('FOB', 'FCA', 'FAS', 'EXW') THEN ISNULL(VL_TOT_MLE_MNEG, 0) +
                                                                                                            ISNULL(VL_TOT_DESPS_MNEG, 0) +
                                                                                                            ISNULL(VL_TOTAL_ACRESCIMOS_MNEG, 0) -
                                                                                                            ISNULL(VL_TOTAL_DEDUCOES_MNEG, 0) +
                                                                                                            ISNULL(VL_TOT_FRT_COLLECT, 0)
                                     ELSE CASE WHEN ISNULL(CD_INCOTERM, '') IN ('DDU', 'DAP') THEN ISNULL(VL_TOT_MLE_MNEG, 0) +
                                                                                                   ISNULL(VL_TOT_DESPS_MNEG, 0) +
                                                                                                   ISNULL(VL_TOTAL_ACRESCIMOS_MNEG, 0) -
                                                                                                   ISNULL(VL_TOTAL_DEDUCOES_MNEG, 0) - CASE ISNULL(IN_EMBUT_FRT_ITENS, '0')
                                                                                                                                           WHEN '1' THEN @VL_TOTAL_FRETE_MNEG
                                                                                                                                       ELSE 0
                                                                                                                                       END - CASE ISNULL(IN_EMBUT_SEG_ITENS, '0')
                                                                                                                                                 WHEN '1' THEN @VL_TOT_SEGURO_MNEG
                                                                                                                                             ELSE 0
                                                                                                                                             END
                                          ELSE CASE WHEN ISNULL(CD_INCOTERM, '') IN ('CFR', 'CPT') THEN ISNULL(VL_TOT_MLE_MNEG, 0) +
                                                                                                        ISNULL(VL_TOT_DESPS_MNEG, 0) +
                                                                                                        ISNULL(VL_TOTAL_ACRESCIMOS_MNEG, 0) -
                                                                                                        ISNULL(VL_TOTAL_DEDUCOES_MNEG, 0) - CASE ISNULL(IN_EMBUT_FRT_ITENS, '0')
                                                                                                                                                WHEN '1' THEN @VL_TOTAL_FRETE_MNEG
                                                                                                                                            ELSE 0
                                                                                                                                            END
                                               ELSE CASE WHEN ISNULL(CD_INCOTERM, '') IN ('CIF', 'CIP', 'DAF', 'DES', 'DAT') THEN ISNULL(VL_TOT_MLE_MNEG, 0) +
                                                                                                                                  ISNULL(VL_TOT_DESPS_MNEG, 0) +
                                                                                                                                  ISNULL(VL_TOTAL_ACRESCIMOS_MNEG, 0) -
                                                                                                                                  ISNULL(VL_TOTAL_DEDUCOES_MNEG, 0) - CASE ISNULL(IN_EMBUT_FRT_ITENS, '0')
                                                                                                                                                                          WHEN '1' THEN @VL_TOTAL_FRETE_MNEG
                                                                                                                                                                      ELSE 0
                                                                                                                                                                      END - CASE ISNULL(IN_EMBUT_SEG_ITENS, '0')
                                                                                                                                                                                WHEN '1' THEN @VL_TOT_SEGURO_MNEG
                                                                                                                                                                            ELSE 0
                                                                                                                                                                            END
                                                    ELSE 0
                                                    END
                                               END
                                          END
                                     END
                                END,
           @VL_TOTAL_MLE_MN = ISNULL(VL_TOTAL_MLE_MN, 0) +
                              ISNULL(VL_TOT_DESPS_MN, 0) +
                              ISNULL(VL_TOTAL_ACRESCIMOS_MN, 0) -
                              ISNULL(VL_TOTAL_DEDUCOES_MN, 0) - CASE ISNULL(IN_EMBUT_FRT_ITENS, '0')
                                                                    WHEN '1' THEN ISNULL(VL_TOTAL_FRETE_MN, 0)
                                                                ELSE 0
                                                                END - CASE ISNULL(IN_EMBUT_SEG_ITENS, '0')
                                                                          WHEN '1' THEN ISNULL(VL_TOTAL_SEG_MN, 0)
                                                                      ELSE 0
                                                                      END,
           @IN_FMA = ISNULL(IN_FMA, '0')
    FROM TDECLARACAO_IMPORTACAO
    WHERE NR_PROCESSO = @NR_PROCESSO


    /*
    INFORMAÇÕES GERAIS DA DECLARAÇÃO


    INDICE     NOME DO CAMPO              FORMATO     TAMANHO     CONTEÚDO

    01           CD-TIPO-REGISTRO           N            2          01
    02           NR-IDENT-USUARIO           A           15
    03           NR-DECL-IMP-PROT           N           10          "0000000000"
    04           QT-ADICAO-DI               N            3
    05           CD-TIPO-DECLARACAO         N            2
    06           CD-MOTIVO-TRANS            N            1                    
    07           CD-TIPO-IMPORTADOR         N            1
    08           NR-IMPORTADOR              A           14
    09           CD-PAIS-IMPORTADOR         N            3
    10           NM-IMPORTADOR              A           60
    11           NR-TEL-IMPORTADOR          A           15
    12           ED-LOGR-IMPORTADOR         A           40
    13           ED-NR-IMPORTADOR           A            6
    14           ED-COMPL-IMPO              A           21
    15           ED-BA-IMPORTADOR           A           25
    16           ED-MUN-IMPORTADOR          A           25
    17           ED-UF-IMPORTADOR           A            2
    18           ED-CEP-IMPORTADOR          N            8
    19           NR-CPF-REPR-LEGAL          N           11
    20           CD-MODALIDADE-DESP         N            1
    21           IN-OPERACAO-FUNDAP         A            1
    22           CD-URF-ENTR-CARGA          N            7
    23           CD-URF-DESPACHO            N            7
    24           CD-TIPO-CONSIG             N            1
    25           NR-CONSIGNATARIO           A           14
    26           NM-CONSIGNATARIO           A           60
    27           CD-PAIS-PROC-CARGA         N            3
    28           CD-VIA-TRANSP-CARG         N            2
    29           IN-MULTIMODAL              A            1
    30           NR-VEICULO-TRANSP          A           15
    31           NM-VEICULO-TRANSP          A           30
    32           NM-TRANSPORTADOR           A           60
    33           CD-BANDEIRA-TRANSP         N            3
    34           CD-TIPO-AG-CARGA           N            1
    35           NR-AGENTE-CARGA            A           14
    36           CD-TIPO-DCTO-CARGA         N            2
    37           NR-DCT0-CARGA              A           18
    38           NR-DCT0-CARGA-MAST         A           18
    39           NM-LOCAL-EMBARQUE          A           50
    40           DT-EMBARQUE                N            8          AAAAMMDD
    41           PB-CARGA                   N           10,5
    42           PL-CARGA                   N           10,5
    43           DT-CHEGADA-CARGA           N            8          AAAAMMDD
    44           CD-TIPO-MANIFESTO          N            1
    45           NR-MANIFESTO               A           15
    46           CD-RECINTO-ALFAND          N            7
    47           VL-TOT-FRT-PREPAID         N           13,2
    48           VL-TOT-FRT-COLLECT         N           13,2
    49           VL-FRETE-TNAC-MNEG         N           13,2
    50           CD-MOEDA-FRETE             N            3
    51           VL-TOTAL-FRETE-MN          N           13,2
    52           VL-TOT-SEGURO-MNEG         N           13,2
    53           CD-MOEDA-SEGURO            N            3
    54           VL-TOTAL-SEG-MN            N           13,2
    55           VL-TOT-DESPS-MNEG          N           13,2        "0000000000000"
    56           CD-MOEDA-DESPESAS          N            3          "000"
    57           VL-TOT-DESPS-MN            N           13,2        "0000000000000"
    58           VL-TOTAL-MLE-MN            N           13,2
    59           CD-UTIL-DCTO-CARGA         N            1
    60           CD-ORIGEM-DI               N            1
    61           CD-MOTIVO-RETIF            N            2          "00"
    62           NR-SEQ-RETIFICACAO         N            2          "00"
    63           NR-DECL-A-RETIF            N           10          "0000000000"
    64           CD-SETOR-ARMAZENAM         N            3
    65           CD-TIPO-PGTO-TRIB          N            1          1: Débito em Conta, 2: Pagamento via DARF (obrigatório para Declaração com Processo Vinculado do tipo Declaração Preliminar ou Judicial Exclusivo DARF)
    66           NR-CONTA-PGTO-TRIB         A           19
    */

    INSERT INTO @TB_RETORNO
    SELECT @NR_IDENT_USUARIO,
           '01',
           '01' + -- 01
           @NR_IDENT_USUARIO + -- 02
           '          ' + -- 03
           RIGHT('000' + CONVERT(VARCHAR, DI.QT_ADICOES), 3) + -- 04
           RIGHT('00' + CONVERT(VARCHAR, @CD_TIPO_DECLARACAO), 2) + -- 05
           CONVERT(CHAR(1), ISNULL(@CD_MOTIVO_TRANS, '1')) + -- 06
           CONVERT(CHAR(1), DI.CD_TIPO_IMPORTADOR) + -- 07
           CONVERT(CHAR(14), CASE ISNULL(DI.CD_TIPO_IMPORTADOR, '')
                                 WHEN '1' THEN EN.CGC_EMPRESA
                                 WHEN '2' THEN EN.CPF_EMPRESA
                                 WHEN '3' THEN EN.OUTRO_DOC
                                 WHEN '4' THEN ''
                             ELSE ''
                             END, 14) + -- 08
           CASE WHEN ISNULL(DI.CD_TIPO_IMPORTADOR, '')     IN ('3', '4') THEN RIGHT('000' + ISNULL(EN.CD_PAIS_IMPORTADOR, '000'), 3) + -- 09
                                                                              CONVERT(CHAR(60), EN.NM_EMPRESA) + -- 10
                                                                              CONVERT(CHAR(15), ISNULL(EN.NR_TELEFONE, '')) + -- 11
                                                                              CONVERT(CHAR(40), ISNULL(EN.END_EMPRESA, '')) + -- 12
                                                                              CONVERT(CHAR(6), ISNULL(EN.END_NUMERO, '')) + -- 13
                                                                              CONVERT(CHAR(21), ISNULL(EN.END_COMPL, '')) + -- 14
                                                                              CONVERT(CHAR(25), ISNULL(EN.END_BAIRRO, '')) + -- 15
                                                                              CONVERT(CHAR(25), ISNULL(EN.END_CIDADE, '')) + -- 16
                                                                              CONVERT(CHAR(2), ISNULL(EN.END_UF, '')) + -- 17
                                                                              CONVERT(CHAR(8), ISNULL(EN.END_CEP, '')) -- 18
           ELSE CONVERT(CHAR(3), '000') + -- 09
                CONVERT(CHAR(60), '') + -- 10
                CONVERT(CHAR(15), '') + -- 11
                CONVERT(CHAR(40), '') + -- 12
                CONVERT(CHAR(6), '') + -- 13
                CONVERT(CHAR(21), '') + -- 14
                CONVERT(CHAR(25), '') + -- 15
                CONVERT(CHAR(25), '') + -- 16
                CONVERT(CHAR(2), '') + -- 17
                CONVERT(CHAR(8), '00000000') -- 18
           END +
           CONVERT(CHAR(11), '72738804853') + -- 19
           CONVERT(CHAR(1), CASE ISNULL(DI.CD_TIPO_DECLARACAO, '')
                                WHEN '' THEN ''
                            ELSE CASE ISNULL(DI.CD_MODALIDADE_DESP, '')
                                     WHEN '' THEN '1'
                                 ELSE DI.CD_MODALIDADE_DESP
                                 END
                            END) + -- 20
           CASE ISNULL(DI.IN_OPERACAO_FUNDAP, 0)
               WHEN 1 THEN 'S'
           ELSE 'N'
           END + -- 21
           CONVERT(CHAR(7), CASE WHEN (@CD_TIPO_DECLARACAO <> 17) AND (@CD_TIPO_DECLARACAO <> 16) AND (ISNULL(DI.CD_URF_ENTR_CARGA, '') <> '') THEN DI.CD_URF_ENTR_CARGA
                            ELSE ''
                            END) + -- 22
           CONVERT(CHAR(7), ISNULL(DI.CD_URF_DESPACHO, '')) + -- 23
           CASE WHEN ISNULL(CD_TIPO_DECLARACAO, '') IN ('01', '02', '05', '12', '13', '14', '15', '16', '17', '18') THEN CONVERT(CHAR(1), ISNULL(DI.CD_TIPO_CONSIG, '')) + -- 24
                                                                                                                         CONVERT(CHAR(14), CASE ISNULL(DI.CD_TIPO_CONSIG, '')
                                                                                                                                               WHEN '2' THEN ISNULL(DI.NR_CONSIGNATARIO, '')
                                                                                                                                           ELSE ''
                                                                                                                                           END) + -- 25
                                                                                                                         CONVERT(CHAR(60), CASE ISNULL(DI.CD_TIPO_CONSIG, '')
                                                                                                                                               WHEN '2' THEN ISNULL(DI.NM_CONSIGNATARIO, '')
                                                                                                                                           ELSE ''
                                                                                                                                           END) -- 26
           ELSE CONVERT(CHAR(1), '') + -- 24
                CONVERT(CHAR(14), '') + -- 25
                CONVERT(CHAR(60), '') -- 26
           END +
           RIGHT('000' + CASE WHEN CONVERT(INT, DI.CD_TIPO_DECLARACAO) <= 14 THEN ISNULL(DI.CD_PAIS_PROC_CARGA, '')
                         ELSE ''
                         END, 3) + -- 27
           RIGHT('00' + CASE ISNULL(DI.CD_VIA_TRANSP_CARG, '')
                            WHEN '' THEN '4'
                        ELSE CASE WHEN CONVERT(INT, DI.CD_VIA_TRANSP_CARG) >= 10 THEN '4'
                             ELSE CASE WHEN (@CD_TIPO_DECLARACAO <> 17) AND (@CD_TIPO_DECLARACAO <> 16) THEN DI.CD_VIA_TRANSP_CARG
                                  ELSE ''
                                  END
                             END
                        END, 2) + -- 28
           CONVERT(CHAR(1), CASE WHEN (@CD_TIPO_DECLARACAO <> 17) AND (@CD_TIPO_DECLARACAO <> 16) THEN CASE ISNULL(DI.IN_MULTIMODAL, 0)
                                                                                                           WHEN 1 THEN 'S'
                                                                                                       ELSE 'N'
                                                                                                       END
                            ELSE 'N'
                            END) + -- 29
           CASE WHEN CONVERT(INT, DI.CD_TIPO_DECLARACAO) <= 14 THEN CONVERT(CHAR(15), ISNULL(DI.NR_VEICULO_TRANSP, '')) + -- 30
                                                                    CONVERT(CHAR(30), ISNULL(DI.NM_VEICULO_TRANSP, '')) -- 31
           ELSE CONVERT(CHAR(15), '') + -- 30
                CONVERT(CHAR(30), '') -- 31
           END +
           CASE WHEN (@CD_TIPO_DECLARACAO <> 17) AND (@CD_TIPO_DECLARACAO <> 16) THEN CONVERT(CHAR(60), ISNULL(TR.DESCRICAO, '')) + -- 32
                                                                        CONVERT(CHAR(3), ISNULL(DI.CD_BANDEIRA_TRANSP, '')) -- 33
           ELSE CONVERT(CHAR(60), '') + -- 32
                CONVERT(CHAR(3), '') -- 33
           END +
           CONVERT(CHAR(1), ISNULL(DI.CD_TIPO_AG_CARGA, '0')) + -- 34
           CONVERT(CHAR(14), ISNULL(DI.NR_AGENTE_CARGA, '')) + -- 35
           RIGHT('00' + CASE ISNULL(DI.CD_VIA_TRANSP_CARG, '')
                            WHEN '07' THEN '13'
                            WHEN '01' THEN '12'
                        ELSE ISNULL(DI.CD_TIPO_DCTO_CARGA, '')
                        END, 2) + -- 36
           CASE WHEN ISNULL(DI.CD_VIA_TRANSP_CARG, '') IN ('01', '07') AND ISNULL(DI.CD_PRESENCA_CARGA, '') <> '' THEN CONVERT(CHAR(36), ISNULL(DI.CD_PRESENCA_CARGA, ''))
           ELSE CASE WHEN ISNULL(DI.CD_VIA_TRANSP_CARG, '') IN ('01', '07') THEN CASE ISNULL(DI.CD_TIPO_DECLARACAO, '')
                                                                                     WHEN '14' THEN CONVERT(CHAR(18), ISNULL(DI.NR_DCTO_CARGA, '')) + CONVERT(CHAR(18), ISNULL(DI.NR_DCTO_CARGA_MAST, ''))
                                                                                 ELSE CONVERT(CHAR(36), ISNULL(DI.CD_PRESENCA_CARGA, ''))
                                                                                 END
                ELSE CONVERT(CHAR(18), ISNULL(DI.NR_DCTO_CARGA, '')) + CONVERT(CHAR(18), ISNULL(DI.NR_DCTO_CARGA_MAST, ''))
                END
           END + -- 37, 38
           CASE WHEN CONVERT(INT, DI.CD_TIPO_DECLARACAO) <= 14 THEN CONVERT(CHAR(50), ISNULL(LE.DESCRICAO, '')) + -- 39
                                                                    CONVERT(CHAR(8), ISNULL(SUBSTRING(DI.DT_EMBARQUE, 5, 4) + SUBSTRING(DI.DT_EMBARQUE, 3, 2) + SUBSTRING(DI.DT_EMBARQUE, 1, 2), '')) -- 40
           ELSE CONVERT(CHAR(50), '') + -- 39
                CONVERT(CHAR(8), '') -- 40
           END +
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 5), ISNULL(DI.PB_CARGA, 0))), '.', ''), 15) + -- 41
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 5), ISNULL(DI.PL_CARGA, 0))), '.', ''), 15) + -- 42
           CONVERT(CHAR(8), CASE WHEN CONVERT(INT, DI.CD_TIPO_DECLARACAO) <= 14 THEN ISNULL(SUBSTRING(DI.DT_CHEGADA_CARGA, 5, 4) + SUBSTRING(DI.DT_CHEGADA_CARGA, 3, 2) + SUBSTRING(DI.DT_CHEGADA_CARGA, 1, 2), '')
           ELSE ''
           END) + -- 43
           CONVERT(CHAR(1), CASE WHEN ISNULL(DI.CD_TIPO_MANIFESTO, '') NOT IN ('', '5') THEN DI.CD_TIPO_MANIFESTO
                            ELSE ''
                            END) + -- 44
           CONVERT(CHAR(15), ISNULL(DI.NR_MANIFESTO, '')) + -- 45
           RIGHT('0000000' + ISNULL(DI.CD_RECINTO_ALFAND, ''), 7) + -- 46
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(DI.VL_TOT_FRT_PREPAID, 0))), '.', ''), 15) + -- 47
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(DI.VL_TOT_FRT_COLLECT, 0))), '.', ''), 15) + -- 48
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(DI.VL_FRETE_TNAC_MNEG, 0))), '.', ''), 15) + -- 49
           CONVERT(CHAR(3), LTRIM(ISNULL(DI.CD_MOEDA_FRETE, '') + '000')) + -- 50
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(DI.VL_TOTAL_FRETE_MN, 0))), '.', ''), 15) + -- 51
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(DI.VL_TOT_SEGURO_MNEG, 0))), '.', ''), 15) + -- 52
           CONVERT(CHAR(3), LTRIM(ISNULL(DI.CD_MOEDA_SEGURO, '') + '000')) + -- 53
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(DI.VL_TOTAL_SEG_MN, 0))), '.', ''), 15) + -- 54
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), (II.VL_BASE_II / TX_MLE) - (VL_TOTAL_FRETE_MN / TX_MLE) - (VL_TOTAL_SEGURO_MN / TX_MLE))), '.', ''), 15) + -- 55
           CASE ISNULL(DI.CD_MOEDA_MLE, '')
               WHEN '' THEN '000'
           ELSE DI.CD_MOEDA_MLE
           END + -- 56
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), II.VL_BASE_II - VL_TOTAL_FRETE_MN - VL_TOTAL_SEGURO_MN )), '.', ''), 15) + -- 57
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(@VL_TOTAL_MLE_MN, 0))), '.', ''), 15) + -- 58
           CONVERT(CHAR(1), ISNULL(CD_UTIL_DCTO_CARGA, '')) + -- 59
           '2' + -- 60
           '00' + -- 61
           '00' + -- 62
           '0000000000' + -- 63
           RIGHT('000' + ISNULL(DI.CD_SETOR_ARMAZENAM, ''), 3) + -- 64
           CASE @IN_FMA
               WHEN '1' THEN '2'
           ELSE CASE ISNULL(CD_TIPO_PGTO_TRIB, '')
                    WHEN '' THEN '3' + -- 65
                                 '0000000000000000000' -- 66
                    WHEN '1' THEN CASE WHEN (SELECT COUNT(*) FROM TPROCESSO_DI WHERE NR_PROCESSO = @NR_PROCESSO AND CD_TIPO_PROCESSO = '3') = 1 OR
                                            (SELECT COUNT(*) FROM TPROCESSO WHERE NR_PROCESSO = @NR_PROCESSO AND CD_SERVICO IN ('442', '443', '444')) = 1 THEN CONVERT(CHAR(1), CD_TIPO_PGTO_TRIB) + -- 65
                                                                                                                                                               '0000000000000000000' -- 66
                                  ELSE CONVERT(CHAR(1), CD_TIPO_PGTO_TRIB) + -- 65
                                       RIGHT('0000000000000000000' + RTRIM(ISNULL(NR_CONTA_PGTO_TRIB, '')), 19) -- 66
                                  END
                ELSE CONVERT(CHAR(1), CD_TIPO_PGTO_TRIB) + -- 65
                     '0000000000000000000' -- 66
                END
           END
    FROM TDECLARACAO_IMPORTACAO     DI
       LEFT JOIN TLOCAL_EMBARQUE    LE ON LE.CODIGO = DI.CD_LOCAL_EMBARQUE
       LEFT JOIN TEMPRESA_NAC       EN ON EN.CD_EMPRESA = DI.CD_IMPORTADOR
       LEFT JOIN TTRANSPORTADOR_ITL TR ON TR.CODIGO = DI.CD_TRANSPORTADOR
       LEFT JOIN (SELECT T.NR_PROCESSO, SUM(T.VL_BASE_CALC_ADVAL) AS VL_BASE_II
                  FROM TRIBUTO T
                  WHERE T.NR_PROCESSO = @NR_PROCESSO
                    AND T.CD_RECEITA_IMPOSTO = '0001'
                  GROUP BY NR_PROCESSO) AS II ON II.NR_PROCESSO = DI.NR_PROCESSO
    WHERE DI.NR_PROCESSO = @NR_PROCESSO

    /*
    OCORRÊNCIAS DE PROCESSOS NA DECLARAÇÃO

    INDICE     NOME DO CAMPO              FORMATO     TAMANHO     CONTEÚDO
    01         CD-TIPO-REGISTRO           N            2          02
    02         NR-IDENT-USUARIO           A           15
    03         CD-TIPO-PROCESSO           N            1
    04         NR-PROCESSO-INSTR          A           20
    */

    INSERT INTO @TB_RETORNO
    SELECT @NR_IDENT_USUARIO,
           '02',
           '02' + -- 01
           @NR_IDENT_USUARIO + -- 02
           CONVERT(CHAR(1), ISNULL(CD_TIPO_PROCESSO, '')) + -- 03
           CONVERT(CHAR(20), ISNULL(NR_PROCESSO_INSTR, '')) -- 04
    FROM TPROCESSO_DI
    WHERE NR_PROCESSO = @NR_PROCESSO
    ORDER BY NR_SEQUENCIA


    /*
    OCORRÊNCIA DE DOCUMENTOS DE INSTRUÇÃO DO DESPACHO

    INDICE     NOME DO CAMPO              FORMATO     TAMANHO     CONTEÚDO
    01         CD-TIPO-REGISTRO           N            2          03
    02         NR-IDENT-USUARIO           A           15
    03         CD-TIPO-DCTO-INSTR         N            2
    04         NR-DCTO-INSTRUCAO          A           25
    */

    INSERT INTO @TB_RETORNO
    SELECT @NR_IDENT_USUARIO,
           '03',
           '03' + -- 01
           @NR_IDENT_USUARIO + -- 02
           CONVERT(CHAR(2), ISNULL(RIGHT('00' + RTRIM(CD_TIPO_DCTO_INSTR), 2), '')) + -- 03
           CONVERT(CHAR(25), ISNULL(NR_DCTO_INSTRUCAO, '')) -- 04
    FROM TDOCUMENTO_INSTRUCAO
    WHERE NR_PROCESSO = @NR_PROCESSO
    ORDER BY NR_SEQUENCIA


    /*
    OCORRÊNCIAS DE EMBALAGEM DA CARGA 

    INDICE     NOME DO CAMPO              FORMATO     TAMANHO     CONTEÚDO
    01         CD-TIPO-REGISTRO           N            2          04
    02         NR-IDENT-USUARIO           N           15
    03         CD-TIPO-EMBALAGEM          N            2
    04         QT-VOLUME-CARGA            N            5
    */

    INSERT INTO @TB_RETORNO
    SELECT @NR_IDENT_USUARIO,
           '04',
           '04' + -- 01
           @NR_IDENT_USUARIO +-- 02
           CONVERT(CHAR(2), ISNULL(RIGHT('00' + CD_TIPO_EMBALAGEM, 2), '')) + -- 03
           CONVERT(CHAR(5), RIGHT('00000' + RTRIM(ISNULL(QT_VOLUME_CARGA, '0')), 5)) -- 04
    FROM TEMBALAGEM_CARGA
    WHERE NR_PROCESSO = @NR_PROCESSO


    /*
    OCORRÊNCIAS DE CARGA ARMAZENADA 

    INDICE     NOME DO CAMPO              FORMATO     TAMANHO     CONTEÚDO
    01         CD-TIPO-REGISTRO           N            2          05
    02         NR-IDENT-USUARIO           A           15
    03         NM-ARMAZEM-CARGA           A           10
    */

    INSERT INTO @TB_RETORNO
    SELECT @NR_IDENT_USUARIO,
           '05',
           '05' + -- 01
           @NR_IDENT_USUARIO + -- 02
           CONVERT(CHAR(10), ISNULL(NM_ARMAZEM_CARGA, '')) -- 03
    FROM TCARGA_ARMAZEM
    WHERE NR_PROCESSO = @NR_PROCESSO


    /*
    OCORRÊNCIAS DE COMPENSAÇÃO DE CRÉDITO DO TRIBUTO

    INDICE     NOME DO CAMPO              FORMATO     TAMANHO     CONTEÚDO
    01         CD-TIPO-REGISTRO           N            2          06
    02         NR-IDENT-USUARIO           A           15
    03         CD-RECEITA-CREDITO         N            4
    04         VL-COMPENSAR-CRED          N           13,2
    05         NR-DCTO-GERADOR-CR         N           15
    */



    /*
    OCORRÊNCIAS DE PAGAMENTOS DE TRIBUTOS 

    INDICE     NOME DO CAMPO              FORMATO     TAMANHO     CONTEÚDO
    01         CD-TIPO-REGISTRO           N            2          07
    02         NR-IDENT-USUARIO           A           15
    03         CD-RECEITA-PGTO            N            4
    04         CD-BANCO-PGTO-TRIB         N            3
    05         NR-AGENC-PGTO-TRIB         N            5
    06         VL-TRIBUTO-PAGO            N           13,2
    07         DT-PGTO-TRIBUTO            N            8          AAAAMMDD
    08         VL-MULTA-PGTO-TRIB         N            7,2
    09         VL-JUROS-PGTO-TRIB         N            7,2
    */

    INSERT INTO @TB_RETORNO
    SELECT @NR_IDENT_USUARIO,
           '07',
           '07' + --
           @NR_IDENT_USUARIO + -- 02
           CONVERT(CHAR(4), ISNULL(RTRIM(PT.CD_RECEITA_PGTO), '')) + -- 03
           CONVERT(CHAR(3), ISNULL(RTRIM(PT.CD_BANCO_PGTO_TRIB), '')) + -- 04
           CONVERT(CHAR(4), ISNULL(RTRIM(PT.NR_AGENC_PGTO_TRIB), '')) + -- 05
           RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(PT.VL_TRIBUTO_PAGO, 0))), '.', ''), 15) + -- 06
           --CONVERT(CHAR(8), CASE WHEN ISNULL(PT.DT_PGTO_TRIBUTO, '') <> '' AND ISNULL(DI.CD_TIPO_PGTO_TRIB, '') = '2' THEN SUBSTRING(PT.DT_PGTO_TRIBUTO, 5, 4) + SUBSTRING(PT.DT_PGTO_TRIBUTO, 3, 2) + SUBSTRING(PT.DT_PGTO_TRIBUTO, 1, 2)
           --                 ELSE '00000000'
           --                 END) + -- 07
           CONVERT(CHAR(8), CASE WHEN ISNULL(DI.DT_PAGAMENTO_DARF, '') <> '' AND @IN_FMA = '1' THEN CONVERT(VARCHAR, YEAR(DI.DT_PAGAMENTO_DARF)) + RIGHT('0' + CONVERT(VARCHAR, MONTH(DI.DT_PAGAMENTO_DARF)), 2) + RIGHT('0' + CONVERT(VARCHAR, DAY(DI.DT_PAGAMENTO_DARF)), 2)
                            ELSE '00000000'
                            END) + -- 07
           RIGHT('000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(10, 2), 0)), '.', ''), 9) + -- 08
           RIGHT('000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(10, 2), 0)), '.', ''), 9) -- 09
    FROM TPAGAMENTO_TRIBUTOS PT
       INNER JOIN TDECLARACAO_IMPORTACAO DI ON DI.NR_PROCESSO = PT.NR_PROCESSO
       LEFT JOIN TADICAO_DE_IMPORTACAO AI ON AI.NR_PROCESSO        = PT.NR_PROCESSO
                                         AND AI.CD_REGIME_TRIBUTAR = '5'
                                         AND AI.CD_FUND_LEG_REGIME = '37'
       LEFT JOIN TRIBUTO TRII ON TRII.NR_PROCESSO        = AI.NR_PROCESSO
                             AND TRII.NR_ADICAO          = AI.NR_ADICAO
                             AND TRII.CD_RECEITA_IMPOSTO = '0001'
       LEFT JOIN TRIBUTO TRIPI ON TRIPI.NR_PROCESSO        = AI.NR_PROCESSO
                              AND TRIPI.NR_ADICAO          = AI.NR_ADICAO
                              AND TRIPI.CD_RECEITA_IMPOSTO = '0002'
    WHERE PT.NR_PROCESSO = @NR_PROCESSO
    --GROUP BY PT.NR_PROCESSO,
    --       PT.CD_RECEITA_PGTO,
    --       PT.CD_BANCO_PGTO_TRIB,
    --       PT.NR_AGENC_PGTO_TRIB,
    --       PT.VL_TRIBUTO_PAGO,
    --       PT.DT_PGTO_TRIBUTO,
    --       PT.VL_MULTA_PGTO_TRIB,
    --       PT.VL_JUROS_PGTO_TRIB,
    --       DI.CD_TIPO_PGTO_TRIB
    --HAVING PT.VL_TRIBUTO_PAGO - SUM(CASE PT.CD_RECEITA_PGTO
    --                                          WHEN '0086' THEN ISNULL(TRII.VL_IPT_A_RECOLHER, 0)
    --                                          WHEN '1038' THEN ISNULL(TRIPI.VL_IPT_A_RECOLHER, 0)
    --                                          WHEN '5602' THEN ISNULL(AI.VL_PIS, 0)
    --                                          WHEN '5629' THEN ISNULL(AI.VL_COFINS, 0)
    --                                      ELSE 0
    --                                      END) > 0


    /*
    OCORRÊNCIAS DE INFORMAÇÕES COMPLEMENTARES 

    INDICE     NOME DO CAMPO              FORMATO     TAMANHO     CONTEÚDO
    01         CD-TIPO-REGISTRO           N              2        08
    02         NR-IDENT-USUARIO           A             15
    03         TX-INFO-COMPL              A           3900
    */

    DECLARE @TX_INFO_COMPL VARCHAR(MAX)
    DECLARE @TX_INFO_PARTE VARCHAR(3900)
    DECLARE @POS           INT
    DECLARE @QTD_INFO_COMPL INT = 0

    SELECT @TX_INFO_COMPL = ISNULL(TX_INFO_COMPL, '')
    FROM TDECLARACAO_IMPORTACAO
    WHERE NR_PROCESSO = @NR_PROCESSO

    SELECT @TX_INFO_COMPL = RTRIM(@TX_INFO_COMPL)

    WHILE (@TX_INFO_COMPL <> '') AND (@QTD_INFO_COMPL < 7800)
    BEGIN
        SELECT @POS = CHARINDEX(CHAR(13), @TX_INFO_COMPL)
        IF @POS < 1
        BEGIN
            SELECT @POS = CHARINDEX(CHAR(10), @TX_INFO_COMPL)
            IF @POS < 1
                SELECT @POS = LEN(@TX_INFO_COMPL) +1
        END
        SELECT @TX_INFO_PARTE = RTRIM(LEFT(@TX_INFO_COMPL, @POS -1))

        IF (@QTD_INFO_COMPL + LEN(@TX_INFO_PARTE)) > 7800
            SELECT @TX_INFO_PARTE = LEFT(@TX_INFO_PARTE, 7800 - @QTD_INFO_COMPL)

        SELECT @QTD_INFO_COMPL = @QTD_INFO_COMPL + LEN(@TX_INFO_PARTE) + 2 -- 2 Caracteres de quebra de linha

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '08',
               '08' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @TX_INFO_PARTE -- 03

        IF LEN(@TX_INFO_COMPL) > @POS
            SELECT @TX_INFO_COMPL = RIGHT(@TX_INFO_COMPL, LEN(@TX_INFO_COMPL) - @POS)
        ELSE
            SELECT @TX_INFO_COMPL = RIGHT(@TX_INFO_COMPL, 0)

        WHILE (@TX_INFO_COMPL <> '') AND (LEFT(@TX_INFO_COMPL, 1) IN (CHAR(13), CHAR(10)))
            SELECT @TX_INFO_COMPL = RIGHT(@TX_INFO_COMPL, LEN(@TX_INFO_COMPL) -1)
    END


    /*
    OCORRÊNCIAS DE INFORMAÇÕES MERCOSUL 

    INDICE     NOME DO CAMPO              FORMATO     TAMANHO     CONTEÚDO
    01         CD-TIPO-REGISTRO           N            2          09
    02         NR-IDENT-USUARIO           A           15
    03         NR-DE-MERCOSUL             A           16
    04         NR-RE-INICIAL              A            4
    05         NR-RE-FINAL                A            4
    */

    INSERT INTO @TB_RETORNO
    SELECT @NR_IDENT_USUARIO,
           '09',
           '09' + -- 01
           @NR_IDENT_USUARIO + -- 02
           CONVERT(CHAR(16), NR_DE_MERCOSUL) + -- 03
           RIGHT('0000' + ISNULL(NR_RE_INICIAL, ''), 4) + -- 04
           RIGHT('0000' + ISNULL(NR_RE_FINAL, ''), 4) -- 05
    FROM TDECLARACAO_IMPORTACAO_DE
    WHERE NR_PROCESSO = @NR_PROCESSO


    ---------------------------------------------------------------------------------------------------------------------------------
    -- ADIÇÃO
    ---------------------------------------------------------------------------------------------------------------------------------

    DECLARE @NR_ITEM            CHAR(3)
    DECLARE @QT_MERC_UN_COMERC  DECIMAL(15, 5)
    DECLARE @NM_UNID_MEDIDA     CHAR(20)
    DECLARE @VL_UNID_COND_VENDA DECIMAL(21,7)
    DECLARE @VL_UNID_LOC_EMB    DECIMAL(14, 2)
    DECLARE @TX_DESC_DET_MERC   VARCHAR(MAX)
    DECLARE @TX_DESC_DET_PARTE  VARCHAR(3900)
    DECLARE @TB_ITENS AS TABLE (
        NR_ITEM            CHAR(3),
        QT_MERC_UN_COMERC  DECIMAL(15, 5),
        NM_UNID_MEDIDA     CHAR(20),
        VL_UNID_COND_VENDA DECIMAL(21,7),
        VL_UNID_LOC_EMB    DECIMAL(14, 2),
        TX_DESC_DET_MERC   VARCHAR(MAX)
    )

    DECLARE @NR_ADICAO CHAR(3)
    DECLARE @TB_ADICOES AS TABLE (
        NR_ADICAO CHAR(3)
    )

    INSERT INTO @TB_ADICOES
    SELECT NR_ADICAO
    FROM TADICAO_DE_IMPORTACAO
    WHERE NR_PROCESSO = @NR_PROCESSO

    WHILE (SELECT COUNT(*) FROM @TB_ADICOES) > 0
    BEGIN
        SELECT TOP 1 @NR_ADICAO = NR_ADICAO
        FROM @TB_ADICOES
        ORDER BY NR_ADICAO

        DELETE @TB_ADICOES
        WHERE NR_ADICAO = @NR_ADICAO

        /*
        INFORMAÇÕES ESPECÍFICAS DA ADIÇÃO      

        INDICE     NOME DO CAMPO                    FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO                 N             2         10
        02         NR-IDENT-USUARIO                 A            15
        03         NR-ADICAO-USUARIO                N             3
        04         CD-URF-ENTR-MERC                 N             7
        05         CD-VIA-TRANSPORTE                N             2
        06         IN-MULTIMODAL                    A             1
        07         NM-FORN-ESTR                     A            60
        08         ED-LOGR-FORN-ESTR                A            40
        09         ED-NR-FORN-ESTR                  A             6
        10         ED-COMPL-FORN-ESTR               A            21
        11         ED-CIDAD-FORN-ESTR               A            25
        12         ED-ESTAD-FORN-ESTR               A            25
        13         CD-PAIS-AQUIS-MERC               N             3
        14         CD-MERCADORIA-NCM                N             8
        15         CD-PAIS-PROC-MERC                N             3
        16         CD-AUSENCIA-FABRIC               N             1
        17         NM-FABRICANTE-MERC               A            60
        18         ED-LOGR-FABRIC                   A            40
        19         ED-NR-FABRIC                     A             6
        20         ED-COMPL-FABRIC                  A            21
        21         ED-CIDAD-FABRIC                  A            25
        22         ED-ESTADO-FABRIC                 A            25
        23         CD-PAIS-ORIG-MERC                N             3
        24         CD-MERC-NBM-SH                   N            10
        25         CD-MERC-NALADI-NCC               N             7
        26         CD-MERC-NALADI-SH                N             8
        27         PL-MERCADORIA                    N            10,5
        28         QT-UN-ESTATISTICA                N             9,5
        29         CD-APLICACAO-MERC                N             1
        30         CD-MOEDA-NEGOCIADA               N             3
        31         CD-INCOTERMS-VENDA               A             3
        32         NM-LOC-COND-VENDA                A            60
        33         VL-MERC-COND-VENDA               N            13,2
        34         VL-MERC-VENDA-MN                 N            13,2
        35         VL-FRETE-MERC-MNEG               N            13,2
        36         CD-MD-FRETE-MERC                 N             3
        37         VL-FRETE-MERC-MN                 N            13,2
        38         VL-SEG-MERC-MNEG                 N            13,2
        39         CD-MOEDA-SEG-MERC                N             3
        40         VL-SEG-MERC-MN                   N            13,2
        41         CD-METOD-VALORACAO               N             2
        42         CD-VINC-IMPO-EXPO                N             1
        43         CD-TIPO-ACORDO-TAR               N             1
        44         CD-ACORDO-ALADI                  A             3
        45         CD-REGIME-TRIBUTAR               N             1
        46         CD-FUND-LEG-REGIME               N             2
        47         NR-DCTO-REDUCAO                  N             8
        48         VL-MERC-EMB-MN                   N            13,2
        49         VL-DESPESAS-MNEG                 N            13,2
        50         CD-MOEDA-DESPESAS                N             3
        51         VL-DESPESAS-MN                   N            13,2
        52         PC-COEF-REDUC-II                 N             3,2
        53         VL-II-CALC-DCR-MN                N            13,2
        54         VL-II-A-REC-ZFM                  N            13,2
        55         CD-COBERT-CAMBIAL                N             1
        56         CD-MODALIDADE-PGTO               N             2
        57         CD-ORGAO-FIN-INTER               N             2
        58         CD-MOTIVO-SEM-COB                N             2
        59         QT-PARC-FINANC-360               N             3
        60         CD-PERIOD-PGTO-360               N             1
        61         QT-PERIOD-PGTO-360               N             3
        62         VL-TOT-FINANC-360                N            13,2
        63         PC-TAXA-JUROS                    N             6,7
        64         CD-TAXA-JUROS                    N             4
        65         VL-FINANC-SUP-360                N            13,2
        66         NR-ROF                           A             8
        67         IN-PGTO-VARIAV-360               A             1
        68         IN-JUROS-ATE-360                 A             1
        69         PC-COMISSÃO-AG-IMP               N             3,3
        70         VL-COMISSAO-AG-IMP               N            13,2
        71         CD-TIPO-AGENTE-IMP               N             1
        72         NR-AGENTE-IMP                    A            14
        73         CD-BANC-AGENTE-IMP               N             5
        74         CD-AGENC-AGENT-IMP               N             4
        75         IN-BEM-ENCOMENDA                 A             1
        76         IN-MATERIAL-USADO                A             1
        77         TX-COMPL-VL-ADUAN                A           250
        78         CD-MOTIVO-ADM-TEMP               N             2
        79         VL-CALC-DCR-DOLAR                N            13,2
        80         VL-II-DEVIDO-ZFM                 N            13,2
        81         NR-OPER-TRAT-PREV                N            10
        82         VL-ALIQ-ICMS                     N             3,2
        83         CD-FUND-LEG-REDUC                N             2
        84         CD-REGIME-TRIBUTAR-PISCOFINS     N             1
        85         CD-FUND-LEG-REGIME-PISCOFINS     N             2
        86         IN-TIPO-CERTIFICADO              N             1
        */

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '10',
               '10' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               RIGHT('0000000' + RTRIM(ISNULL(A.CD_URF_ENTR_MERC, '')), 7) + -- 04
               RIGHT('00' + RTRIM(ISNULL(A.CD_VIA_TRANSPORTE, '')), 2) + -- 05
               CASE ISNULL(A.IN_MULTIMODAL, 0)
                   WHEN 1 THEN 'S'
               ELSE 'N'
               END + -- 06
               CONVERT(CHAR(60), ISNULL(A.NM_FORN_ESTR, '')) + -- 07
               CONVERT(CHAR(40), ISNULL(A.ED_LOGR_FORN_ESTR, '')) + -- 08
               CONVERT(CHAR(6), ISNULL(A.ED_NR_FORN_ESTR, '')) + -- 09
               CONVERT(CHAR(21), ISNULL(A.ED_COMPL_FORN_ESTR, '')) + -- 10
               CONVERT(CHAR(25), ISNULL(A.ED_CIDAD_FORN_ESTR, '')) + -- 11
               CONVERT(CHAR(25), ISNULL(A.ED_ESTAD_FORN_ESTR, '')) + -- 12
               CONVERT(CHAR(3), CASE WHEN ISNULL(D.CD_PAIS_AQUIS_MERC, '') <> '' THEN D.CD_PAIS_AQUIS_MERC
                                ELSE ISNULL(A.CD_PAIS_AQUIS_MERC, '')
                                END) + -- 13
               CONVERT(CHAR(8), ISNULL(A.CD_MERCADORIA_NCM, '')) + -- 14
               RIGHT('000' + RTRIM(ISNULL(A.CD_PAIS_PROC_MERC, '')), 3) + -- 15
               CONVERT(CHAR(1), ISNULL(A.CD_AUSENCIA_FABRIC, '0')) + -- 16
               CASE ISNULL(A.CD_AUSENCIA_FABRIC, '0')
                   WHEN '2' THEN CONVERT(CHAR(60), ISNULL(A.NM_FABRICANTE_MERC, '')) + -- 17
                                 CONVERT(CHAR(40), ISNULL(A.ED_LOGR_FABRIC, '')) + -- 18
                                 CONVERT(CHAR(6), ISNULL(A.ED_NR_FABRIC, '')) + -- 19
                                 CONVERT(CHAR(21), ISNULL(A.ED_COMPL_FABRIC, '')) + -- 20
                                 CONVERT(CHAR(25), ISNULL(A.ED_CIDAD_FABRIC, '')) + -- 21
                                 CONVERT(CHAR(25), ISNULL(A.ED_ESTADO_FABRIC, '')) + -- 22
                                 CONVERT(CHAR(3), ISNULL(A.CD_PAIS_ORIG_MERC, '')) -- 23
                   WHEN '1' THEN CONVERT(CHAR(60), '') + -- 17
                                 CONVERT(CHAR(40), '') + -- 18
                                 CONVERT(CHAR(6), '') + -- 19
                                 CONVERT(CHAR(21), '') + -- 20
                                 CONVERT(CHAR(25), '') + -- 21
                                 CONVERT(CHAR(25), '') + -- 22
                                 CONVERT(CHAR(3), CASE WHEN ISNULL(D.CD_PAIS_AQUIS_MERC, '') <> '' THEN D.CD_PAIS_AQUIS_MERC
                                                  ELSE ISNULL(A.CD_PAIS_AQUIS_MERC, '')
                                                  END) -- 23
               ELSE CONVERT(CHAR(60), '') + -- 17
                    CONVERT(CHAR(40), '') + -- 18
                    CONVERT(CHAR(6), '') + -- 19
                    CONVERT(CHAR(21), '') + -- 20
                    CONVERT(CHAR(25), '') + -- 21
                    CONVERT(CHAR(25), '') + -- 22
                    CONVERT(CHAR(3), ISNULL(A.CD_PAIS_ORIG_MERC, ''))
                                   /*CASE WHEN ISNULL(D.CD_PAIS_AQUIS_MERC, '') <> '' THEN D.CD_PAIS_AQUIS_MERC
                                     ELSE ISNULL(A.CD_PAIS_AQUIS_MERC, '')
                                     END) -- 23
                                   */  
               END +
               CONVERT(CHAR(10), ISNULL(RIGHT('0000000000' + RTRIM(A.CD_MERC_NBM_SH), 10), '')) + -- 24
               CONVERT(CHAR(7), ISNULL(RIGHT('0000000' + RTRIM(A.CD_MERC_NALADI_NCC), 7), '')) + -- 25
               CONVERT(CHAR(8), ISNULL(RIGHT('00000000' + RTRIM(A.CD_MERC_NALADI_SH), 8), '')) + -- 26
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 5), ISNULL(A.PL_MERCADORIA, 0))), '.', ''), 15) + -- 27
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(15, 5), ISNULL(A.QT_UN_ESTATISTICA, 0))), '.', ''), 14) + -- 28
               CONVERT(CHAR(1), CASE WHEN ISNULL(D.CD_TIPO_DECLARACAO, '') NOT IN ('', '02', '03', '04', '05', '06', '07', '08', '09', '10') THEN ISNULL(A.CD_APLICACAO_MERC, '0')
                                ELSE '0'
                                END) + -- 29
               CONVERT(CHAR(3), CASE WHEN ISNULL(D.CD_MOEDA_MLE, '') <> '' THEN D.CD_MOEDA_MLE
                                ELSE ISNULL(A.CD_MOEDA_NEGOCIADA, '')
                                END) + -- 30
               CONVERT(CHAR(3), CASE WHEN ISNULL(D.CD_INCOTERM, '') <> '' THEN D.CD_INCOTERM
                                ELSE ISNULL(A.CD_INCOTERMS_VENDA, '')
                                END) + -- 31
               CONVERT(CHAR(60), ISNULL(LE.DESCRICAO, '')) + -- 32
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(A.VL_MERC_COND_VENDA, 0))), '.', ''), 15) + -- 33
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(A.VL_MERC_VENDA_MN, 0))), '.', ''), 15) + -- 34
               CASE WHEN @CD_TIPO_DECLARACAO IN (16, 17) THEN RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(A.VL_FRETE_MERC_MNEG, 0))), '.', ''), 15) + -- 35
                                                              CONVERT(CHAR(3), ISNULL(A.CD_MD_FRETE_MERC, '000')) -- 36
               ELSE '000000000000000' + -- 35
                    '000' -- 36
               END +
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(A.VL_FRETE_MERC_MN, 0))), '.', ''), 15) + -- 37
               CASE WHEN @CD_TIPO_DECLARACAO IN (16, 17) THEN RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(A.VL_SEG_MERC_MNEG, 0))), '.', ''), 15) + -- 38
                                                              CONVERT(CHAR(3), ISNULL(A.CD_MOEDA_SEG_MERC, '000')) -- 39
               ELSE '000000000000000' + -- 38
                    '000' -- 39
               END +
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(A.VL_SEG_MERC_MN, 0))), '.', ''), 15) + -- 40
               RIGHT('00' + CASE WHEN ISNULL(A.CD_METOD_VALORACAO, '') = '' THEN '01'
                            ELSE RTRIM(A.CD_METOD_VALORACAO)
                            END, 2) + -- 41
               CONVERT(CHAR(1), CASE WHEN ISNULL(A.CD_VINC_IMPO_EXPO, '') = '' THEN '1'
                                ELSE RTRIM(A.CD_VINC_IMPO_EXPO)
                                END) + -- 42
               CONVERT(CHAR(1), CASE ISNULL(A.CD_TIPO_ACORDO_TAR, '')
                                    WHEN '' THEN '0'
                                ELSE A.CD_TIPO_ACORDO_TAR
                                END) + -- 43
               CONVERT(CHAR(3), ISNULL(A.CD_ACORDO_ALADI, '')) + -- 44
               CONVERT(CHAR(1), CASE ISNULL(A.CD_REGIME_TRIBUTAR, '')
                                    WHEN '' THEN '0'
                                ELSE A.CD_REGIME_TRIBUTAR
                                END) + -- 45
               CONVERT(CHAR(2), CASE ISNULL(A.CD_FUND_LEG_REGIME, '')
                                    WHEN '' THEN '00'
                                ELSE A.CD_FUND_LEG_REGIME
                                END) + -- 46
               CONVERT(CHAR(8), '00000000') + -- 47
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), 0)), '.', ''), 15) + -- 48
               '000000000000000' + -- 49
               '000' + -- 50
               '000000000000000' + -- 51
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), CASE WHEN @CD_TIPO_DECLARACAO = 19 AND A.PC_COEF_REDUC_II IS NOT NULL THEN A.PC_COEF_REDUC_II
                                                                               ELSE 0
                                                                               END)), '.', ''), 5) + -- 52
               '000000000000000' + -- 53
               '000000000000000' + -- 54
               CONVERT(CHAR(1), CASE WHEN ISNULL(A.CD_COBERT_CAMBIAL, '0') <> '0' THEN A.CD_COBERT_CAMBIAL
                                ELSE '0'
                                END) + -- 55
               CONVERT(CHAR(2), ISNULL(RIGHT('00' + RTRIM(A.CD_MODALIDADE_PGTO), 2), '00')) + -- 56
               CONVERT(CHAR(2), ISNULL(RIGHT('00' + RTRIM(A.CD_ORGAO_FIN_INTER), 2), '00')) + -- 57
               CONVERT(CHAR(2), ISNULL(RIGHT('00' + RTRIM(A.CD_MOTIVO_SEM_COB), 2), '00')) + -- 58
               CASE WHEN ((SELECT COUNT(*)
                          FROM TPAGAMENTO_PREVISTO PV
                          WHERE PV.NR_PROCESSO = A.NR_PROCESSO
                            AND PV.NR_ADICAO = A.NR_ADICAO) = 0 OR ISNULL(A.IN_PGTO_VARIAV_360, 0) = 0) AND ISNULL(A.CD_COBERT_CAMBIAL, '0') <> '4' THEN CONVERT(CHAR(3), ISNULL(RIGHT('000' + RTRIM(A.QT_PARC_FINANC_360), 3), '000')) + -- 59
                                                                                                                                                         CONVERT(CHAR(1), ISNULL(A.CD_PERIOD_PGTO_360, '0')) + -- 60
                                                                                                                                                         CONVERT(CHAR(3), ISNULL(RIGHT('000' + RTRIM(A.QT_PERIOD_PGTO_360), 3), '000')) + -- 61
                                                                                                                                                         RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(A.VL_TOT_FINANC_360, 0))), '.', ''), 15) -- 62
               ELSE CONVERT(CHAR(3), '000') + -- 59
                    CONVERT(CHAR(1), '0') + -- 60
                    CONVERT(CHAR(3), '000') + -- 61
                    CONVERT(CHAR(15), '000000000000000') -- 62
               END +
               CASE ISNULL(A.PC_TAXA_JUROS, 0)
                   WHEN 0 THEN CONVERT(CHAR(13), '0000000000000')
               ELSE RIGHT('0000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(14, 7), ISNULL(A.PC_TAXA_JUROS, 0))), '.', ''), 13)
               END + -- 63
               CONVERT(CHAR(4), ISNULL(RIGHT('0000' + RTRIM(A.CD_TAXA_JUROS), 4), '0000')) + -- 64
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(A.VL_FINANC_SUP_360, 0))), '.', ''), 15) + -- 65
               CONVERT(CHAR(8), ISNULL(A.NR_ROF, '')) + -- 66
               CASE WHEN ((SELECT COUNT(*)
                           FROM TPAGAMENTO_PREVISTO PV
                           WHERE PV.NR_PROCESSO = A.NR_PROCESSO
                             AND PV.NR_ADICAO = A.NR_ADICAO) > 0 AND ISNULL(A.IN_PGTO_VARIAV_360, 0) = 1) THEN 'S'
               ELSE 'N'
               END + -- 67
               'N' + -- 68
               CASE WHEN ISNULL(A.PC_COMISSÃO_AG_IMP, 0) <> 0 THEN RIGHT('000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(7, 3), A.VL_FINANC_SUP_360)), '.', ''), 6)
               ELSE CONVERT(CHAR(6), '000000')
               END + -- 69
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), 0)), '.', ''), 15) + -- 70
               CASE WHEN ISNULL(A.NR_AGENTE_IMP, '') <> '' THEN CONVERT(CHAR(1), ISNULL(A.CD_TIPO_AGENTE_IMP, '')) + -- 71
                                                                CONVERT(CHAR(14), ISNULL(A.NR_AGENTE_IMP, '')) + -- 72
                                                                CONVERT(CHAR(5), ISNULL(A.CD_BANC_AGENTE_IMP, '')) + -- 73
                                                                CONVERT(CHAR(4), ISNULL(A.CD_AGENC_AGENT_IMP, '')) -- 74
               ELSE CONVERT(CHAR(1), '0') + -- 71
                    CONVERT(CHAR(14), '') + -- 72
                    CONVERT(CHAR(5), '00000') + -- 73
                    CONVERT(CHAR(4), '0000') -- 74
               END +
               CASE ISNULL(A.IN_BEM_ENCOMENDA, 0)
                   WHEN 1 THEN 'S'
               ELSE 'N'
               END + -- 75
               CASE ISNULL(A.IN_MATERIAL_USADO, 0)
                   WHEN 1 THEN 'S'
               ELSE 'N'
               END + -- 76
               CONVERT(CHAR(250), ISNULL(A.TX_COMPL_VL_ADUAN, '')) + -- 77
               CONVERT(CHAR(2), CASE WHEN ISNULL(A.CD_MOTIVO_ADM_TEMP, '') <> '' AND @CD_TIPO_DECLARACAO IN (5, 12) THEN RIGHT('00' + RTRIM(A.CD_MOTIVO_ADM_TEMP), 2)
                                ELSE '00'
                                END) + -- 78
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), 0)), '.', ''), 15) + -- 79
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), 0)), '.', ''), 15) + -- 80
               RIGHT('0000000000' + RTRIM(ISNULl(A.NR_OPER_TRAT_PREV, '')), 10) + -- 81
               --RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), A.PC_ICMS + CASE ISNULL(A.IN_FUNDO_POBREZA, '0')
               --                                                                                WHEN '0' THEN 0
               --                                                                            ELSE (SELECT PC_FUNDO_POBREZA_RJ FROM TPARAMETROS)
               --                                                                            END)), '.', ''), 5) + -- 82
               '00000' + -- 82
               '00' + --CONVERT(CHAR(2), ISNULL(RIGHT('00' + CONVERT(CHAR(2), A.CD_FUND_LEGAL_ICMS), 2), '00')) + -- 83
               CONVERT(CHAR(1), CASE ISNULL(A.CD_TIPO_BENEF_PIS_COFINS, '')
                                    WHEN '1' THEN '1'
                                    WHEN '2' THEN '3'
                                    WHEN '3' THEN '4'
                                    WHEN '4' THEN '5'
                                    WHEN '5' THEN '6'
                                ELSE '0'
                                END) + -- 84
               CONVERT(CHAR(2), CASE ISNULL(A.CD_FUND_LEGAL_PISCOFINS, '')
                                    WHEN '' THEN '00'
                                ELSE A.CD_FUND_LEGAL_PISCOFINS
                                END) + -- 85
               CONVERT(CHAR(1), '') -- 86*/
        FROM TADICAO_DE_IMPORTACAO A
           INNER JOIN TDECLARACAO_IMPORTACAO D ON D.NR_PROCESSO = A.NR_PROCESSO
           LEFT  JOIN TUNID_MEDIDA_BROKER UP ON UP.CD_UNID_MEDIDA = A.CD_UNIDADE_MEDIDA_PIS
           LEFT  JOIN TUNID_MEDIDA_BROKER UC ON UC.CD_UNID_MEDIDA = A.CD_UNIDADE_MEDIDA_COFINS
           LEFT  JOIN TLOCAL_EMBARQUE LE ON LE.CODIGO = A.CD_LOC_COND_VENDA
        WHERE A.NR_PROCESSO = @NR_PROCESSO
          AND A.NR_ADICAO = @NR_ADICAO
        ORDER BY A.NR_PROCESSO

        /*
        OCORRENCIAS DE PAGTO. DAS PARCELAS VARIAVEIS DO CAMBIO

        INDICE     NOME DO CAMPO         FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO      N            2          11
        02         NR-IDENT-USUARIO      A           15
        03         NR-ADICAO-USUARIO     N            3
        04         DT-PREV-PGTO-360      N            6          AAAAMM
        05         VL-PREV-PGTO-360      N           13,2
        */

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '11',
               '11' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               CONVERT(CHAR(6), CASE ISNULL(DT_PREV_PGTO_360, '')
                                    WHEN '' THEN ''
                                ELSE SUBSTRING(DT_PREV_PGTO_360, 3, 4) + SUBSTRING(DT_PREV_PGTO_360, 1, 2)
                                END) + -- 04
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_PREV_PGTO_360, 0))), '.', ''), 15) -- 05
        FROM TPAGAMENTO_PREVISTO
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO


        /*
        OCORRÊNCIAS DE PAGAMENTO A VISTA DO CÂMBIO

        INDICE     NOME DO CAMPO          FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO       N            2          12
        02         NR-IDENT-USUARIO       A           15
        03         NR-ADICAO-USUARIO      N            3
        04         IN-PGTO-VISTA-MN       A            1
        05         CD-BANCO-PGTO-VIST     N            5
        06         CD-PRACA-PGTO-VIST     N            4
        07         NR-OP-CAMBIO-VIST      N            8
        08         VL-VINC-MD-VIST        N           13,2
        09         CD-COMPR-CAMB-VIST     N            1
        10         NR-COMPR-CAMB-VIST     A           14
        */

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '12',
               '12' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               CASE ISNULL(IN_PAGAMENTO_MN, '0')
                   WHEN '1' THEN 'S'
               ELSE 'N'
               END + -- 04
               RIGHT('00000' + ISNULL(RTRIM(CD_BANCO_PAGAMENTO), ''), 5) + -- 05
               RIGHT('0000' + ISNULL(RTRIM(CD_PRACA_PAGAMENTO), ''), 4) + -- 06
               RIGHT('00000000' + ISNULL(RTRIM(NR_OP_CAMBIO), ''), 8) + -- 07
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_VINC_MD_CAMBIO, 0))), '.', ''), 15) + -- 08
               RIGHT('0' + ISNULL(RTRIM(CD_TP_COMPR_CAMBIO), '0'), 1) + -- 09
               CONVERT(CHAR(14), ISNULL(NR_COMPR_CAMBIO, '')) -- 10
        FROM TPAGAMENTO_VINCULADO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO
          AND CD_FORMA_PAGAMENTO = '2'


        /*
        OCORRÊNCIAS DE PAGAMENTO ANTECIPADO DO CÂMBIO

        INDICE     NOME DO CAMPO         FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO      N            2          13
        02         NR-IDENT-USUARIO      A           15
        03         NR-ADICAO-USUARIO     N            3
        04         IN-PGTO-ANT-MN        A            1
        05         CD-BANCO-PGTO-ANT     N            5
        06         CD-PRACA-PGTO-ANT     N            4
        07         NR-OP-CAMBIO-ANT      N            8
        08         VL-VINC-MD-ANT        N           13,2
        09         CD-COMPR-CAMB-ANT     N            1
        10         NR-COMPR-CAMB-ANT     A           14
        */

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '13',
               '13' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               CASE ISNULL(IN_PAGAMENTO_MN, '0')
                   WHEN '1' THEN 'S'
               ELSE 'N'
               END + -- 04
               RIGHT('00000' + ISNULL(RTRIM(CD_BANCO_PAGAMENTO), ''), 5) + -- 05
               RIGHT('0000' + ISNULL(RTRIM(CD_PRACA_PAGAMENTO), ''), 4) + -- 06
               RIGHT('00000000' + ISNULL(RTRIM(NR_OP_CAMBIO), ''), 8) + -- 07
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_VINC_MD_CAMBIO, 0))), '.', ''), 15) + -- 08
               RIGHT('0' + ISNULL(RTRIM(CD_TP_COMPR_CAMBIO), '0'), 1) + -- 09
               CONVERT(CHAR(14), ISNULL(NR_COMPR_CAMBIO, '')) -- 10
        FROM TPAGAMENTO_VINCULADO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO
          AND CD_FORMA_PAGAMENTO = '1'


        /*
        OCORRÊNCIAS DE DESTAQUES TARIFÁRIOS - “EX”

        INDICE     NOME DO CAMPO          FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO       N            2          14
        02         NR-IDENT-USUARIO       A           15
        03         NR-ADICAO-USUARIO      N            3
        04         CD-ASSUNTO-VINCUL      N            1
        05         SG-TIPO-ATO-VINCUL     A            5
        06         SG-ORG-ATO-VINCUL      A            6
        07         DT-ANO-ATO-VINCUL      N            4
        08         NR-ATO-VINCULADO       N            6
        09         NR-EX-ATO-VINCUL       N            3
        */

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '14',
               '14' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               RIGHT('0' + RTRIM(ISNULL(CD_ASSUNTO_VINCUL, '')), 1) + -- 04
               CONVERT(CHAR(5), ISNULL(SG_TIPO_ATO_VINCUL, '')) + -- 05
               CONVERT(CHAR(6), ISNULL(SG_ORG_ATO_VINCUL, '')) + -- 06
               RIGHT('0000' + RTRIM(ISNULL(DT_ANO_ATO_VINCUL, '')), 4) + -- 07
               RIGHT('000000' + RTRIM(ISNULL(NR_ATO_VINCULADO, '')), 6) + -- 08
               RIGHT('000' + RTRIM(ISNULL(NR_EX_ATO_VINCUL, '')), 3) -- 09
        FROM TATO_VINCULADO
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO
        ORDER BY CD_ASSUNTO_VINCUL


        /*
        OCORRÊNCIAS DE TRIBUTOS

        INDICE     NOME DO CAMPO          FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO       N            2          15
        02         NR-IDENT-USUARIO       A           15
        03         NR-ADICAO-USUARIO      N            3
        04         CD-RECEITA-IMPOSTO     N            4
        05         CD-TIPO-ALIQ-IPT       N            1
        06         VL-BASE-CALC-ADVAL     N           13,2
        07         PC-ALIQ-NORM-ADVAL     N            3,2
        08         VL-CALC-IPT-ADVAL      N           13,2
        09         NM-UN-ALIQ-ESP-IPT     A           15
        10         QT-ML-RECIPIENTE       N            5
        11         QT-MERC-UN-ALIQ-ES     N            9
        12         VL-ALIQ-ESPEC-IPT      N            5,5
        13         VL-CALC-IPT-ESPEC      N           13,2
        14         CD-TIPO-BENEF-IPI      N            1
        15         PC-ALIQ-REDUZIDA       N            3,2
        16         PC-REDUCAO-IPT-BLI     N            3,2
        17         PC-ALIQ-ACOR-TARIF     N            3,2
        18         VL-CALC-II-AC-TARI     N           13,2
        19         VL-IMPOSTO-DEVIDO      N           13,2
        20         VL-IPT-A-RECOLHER      N           13,2
        21         CD-TIPO-DIREITO        N            1
        22         NR-NOTA-COMPL-TIPI     N            2
        23         CD-TIPO-RECIPIENTE     N            2
        */

        -- I.I.
        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '15',
               '15' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               RIGHT('0000' + RTRIM(CD_RECEITA_IMPOSTO), 4) + -- 04
               RIGHT('0' + RTRIM(ISNULL(CD_TIPO_ALIQ_IPT, '0')), 1) + -- 05
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_BASE_CALC_ADVAL, 0))), '.', ''), 15) + -- 06
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_ALIQ_NORM_ADVAL, 0))), '.', ''), 5) + -- 07
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_CALC_IPT_ADVAL, 0))), '.', ''), 15) + -- 08
               CONVERT(CHAR(15), ISNULL(NM_UN_ALIQ_ESP_IPT, '')) + -- 09
               RIGHT('00000' + RTRIM(CONVERT(VARCHAR, ISNULL(QT_ML_RECIPIENTE, 0))), 5) + -- 10
               RIGHT('000000000' + RTRIM(CONVERT(VARCHAR, ISNULL(QT_MERC_UN_ALIQ_ES, 0))), 9) + -- 11
               RIGHT('0000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(11, 5), ISNULL(VL_ALIQ_ESPEC_IPT, 0))), '.', ''), 10) + -- 12
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_CALC_IPT_ESPEC, 0))), '.', ''), 15) + -- 13
               RIGHT('0' + RTRIM(ISNULL(CD_TIPO_BENEF_IPI, '0')), 1) + -- 14
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_ALIQ_REDUZIDA, 0))), '.', ''), 5) + -- 15
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_REDUCAO_IPT_BLI, 0))), '.', ''), 5) + -- 16
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_ALIQ_ACOR_TARIF, 0))), '.', ''), 5) + -- 17
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_CALC_II_AC_TARI, 0))), '.', ''), 15) + -- 18
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_IMPOSTO_DEVIDO, 0))), '.', ''), 15) + -- 19
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_IPT_A_RECOLHER, 0))), '.', ''), 15) + -- 20
               RIGHT('0' + RTRIM(ISNULL(CD_TIPO_DIREITO, '0')), 1) + -- 21
               RIGHT('00' + RTRIM(ISNULL(NR_NOTA_COMPL_TIPI, '0')), 2) + -- 22
               RIGHT('00' + RTRIM(ISNULL(CD_TIPO_RECIPIENTE, '0')), 2) -- 23
        FROM TRIBUTO
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO
          AND CD_RECEITA_IMPOSTO = '0001'

        -- I.P.I. - Não transmite quando for 2-Imunidade, 6-Não Incidencia
        IF (SELECT ISNULL(CD_REGIME_TRIBUTAR, '0')
            FROM TADICAO_DE_IMPORTACAO
            WHERE NR_PROCESSO = @NR_PROCESSO
              AND NR_ADICAO = @NR_ADICAO) NOT IN ('2', '6')
        BEGIN
            INSERT INTO @TB_RETORNO
            SELECT @NR_IDENT_USUARIO,
                   '15',
                   '15' + -- 01
                   @NR_IDENT_USUARIO + -- 02
                   @NR_ADICAO + -- 03
                   RIGHT('0000' + RTRIM(CD_RECEITA_IMPOSTO), 4) + -- 04
                   RIGHT('0' + RTRIM(ISNULL(CD_TIPO_ALIQ_IPT, '0')), 1) + -- 05
                   RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_BASE_CALC_ADVAL, 0))), '.', ''), 15) + -- 06
                   RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_ALIQ_NORM_ADVAL, 0))), '.', ''), 5) + -- 07
                   RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_CALC_IPT_ADVAL, 0) *0)), '.', ''), 15) + -- 08
                   CONVERT(CHAR(15), ISNULL(NM_UN_ALIQ_ESP_IPT, '')) + -- 09
                   RIGHT('00000' + RTRIM(CONVERT(VARCHAR, ISNULL(QT_ML_RECIPIENTE, 0))), 5) + -- 10
                   RIGHT('000000000' + RTRIM(CONVERT(VARCHAR, ISNULL(QT_MERC_UN_ALIQ_ES, 0))), 9) + -- 11
                   RIGHT('0000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(11, 5), ISNULL(VL_ALIQ_ESPEC_IPT, 0))), '.', ''), 10) + -- 12
                   RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_CALC_IPT_ESPEC, 0))), '.', ''), 15) + -- 13
                   RIGHT('0' + RTRIM(ISNULL(CD_TIPO_BENEF_IPI, '0')), 1) + -- 14
                   RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_ALIQ_REDUZIDA, 0))), '.', ''), 5) + -- 15
                   RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_REDUCAO_IPT_BLI, 0))), '.', ''), 5) + -- 16
                   RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_ALIQ_ACOR_TARIF, 0))), '.', ''), 5) + -- 17
                   RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_CALC_II_AC_TARI, 0))), '.', ''), 15) + -- 18
                   RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_IMPOSTO_DEVIDO, 0))), '.', ''), 15) + -- 19
                   RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_IPT_A_RECOLHER, 0))), '.', ''), 15) + -- 20
                   RIGHT('0' + RTRIM(ISNULL(CD_TIPO_DIREITO, '0')), 1) + -- 21
                   RIGHT('00' + RTRIM(ISNULL(NR_NOTA_COMPL_TIPI, '0')), 2) + -- 22
                   RIGHT('00' + RTRIM(ISNULL(CD_TIPO_RECIPIENTE, '0')), 2) -- 23
            FROM TRIBUTO
            WHERE NR_PROCESSO = @NR_PROCESSO
              AND NR_ADICAO = @NR_ADICAO
              AND CD_RECEITA_IMPOSTO = '0002'
        END

        -- Antidumping
        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '15',
               '15' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               RIGHT('0000' + RTRIM(CD_RECEITA_IMPOSTO), 4) + -- 04
               RIGHT('0' + RTRIM(ISNULL(CD_TIPO_ALIQ_IPT, '0')), 1) + -- 05
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_BASE_CALC_ADVAL, 0))), '.', ''), 15) + -- 06
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_ALIQ_NORM_ADVAL, 0))), '.', ''), 5) + -- 07
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_CALC_IPT_ADVAL, 0) *0)), '.', ''), 15) + -- 08
               CONVERT(CHAR(15), ISNULL(NM_UN_ALIQ_ESP_IPT, '')) + -- 09
               RIGHT('00000' + RTRIM(CONVERT(VARCHAR, ISNULL(QT_ML_RECIPIENTE, 0))), 5) + -- 10
               RIGHT('000000000' + RTRIM(CONVERT(VARCHAR, ISNULL(QT_MERC_UN_ALIQ_ES, 0))), 9) + -- 11
               RIGHT('0000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(11, 5), ISNULL(VL_ALIQ_ESPEC_IPT, 0))), '.', ''), 10) + -- 12
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_CALC_IPT_ESPEC, 0))), '.', ''), 15) + -- 13
               RIGHT('0' + RTRIM(ISNULL(CD_TIPO_BENEF_IPI, '0')), 1) + -- 14
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_ALIQ_REDUZIDA, 0))), '.', ''), 5) + -- 15
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_REDUCAO_IPT_BLI, 0))), '.', ''), 5) + -- 16
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(PC_ALIQ_ACOR_TARIF, 0))), '.', ''), 5) + -- 17
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_CALC_II_AC_TARI, 0))), '.', ''), 15) + -- 18
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_IMPOSTO_DEVIDO, 0))), '.', ''), 15) + -- 19
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_IPT_A_RECOLHER, 0))), '.', ''), 15) + -- 20
               RIGHT('0' + RTRIM(ISNULL(CD_TIPO_DIREITO, '0')), 1) + -- 21
               RIGHT('00' + RTRIM(ISNULL(NR_NOTA_COMPL_TIPI, '0')), 2) + -- 22
               RIGHT('00' + RTRIM(ISNULL(CD_TIPO_RECIPIENTE, '0')), 2) -- 23
        FROM TRIBUTO
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO
          AND CD_RECEITA_IMPOSTO = '0003'

        -- PIS
        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '15',
               '15' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               '0005' + -- 04
               CASE WHEN ISNULL(AI.VL_ALIQUOTA_ESPECIFICA_PIS, 0) > 0 THEN '2'
               ELSE '1'
               END + -- 05
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), CASE ISNULL(AI.VL_PIS, 0)
                                                                                              WHEN 0 THEN 0
                                                                                          ELSE AI.VL_BASE_PIS *0
                                                                                          END)), '.', ''), 15) + -- 06
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(AI.ALIQ_PIS, 0))), '.', ''), 5) + -- 07
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(AI.VL_PIS, 0) *0)), '.', ''), 15) + -- 08
               CONVERT(CHAR(15), ISNULL(U.NM_UNID_MEDIDA, '')) + -- 09
               RIGHT('00000' + RTRIM(CONVERT(VARCHAR, 0)), 5) + -- 10
               RIGHT('000000000' + RTRIM(CONVERT(VARCHAR, ISNULL(AI.QTD_UNID_ESPECIFICA_PIS, 0))), 9) + -- 11
               RIGHT('0000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(11, 5), ISNULL(AI.VL_ALIQUOTA_ESPECIFICA_PIS, 0))), '.', ''), 10) + -- 12
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(AI.QTD_UNID_ESPECIFICA_PIS * AI.VL_ALIQUOTA_ESPECIFICA_PIS, 0))), '.', ''), 15) + -- 13
               '0' + -- 14
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(AI.ALIQ_PIS_REDUZIDA, 0))), '.', ''), 5) + -- 15
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(AI.PC_REDUCAO_PIS_COFINS, 0))), '.', ''), 5) + -- 16
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), 0)), '.', ''), 5) + -- 17
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), 0)), '.', ''), 15) + -- 18
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(AI.VL_PIS, 0) *0)), '.', ''), 15) + -- 19
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(AI.VL_PIS, 0) *0)), '.', ''), 15) + -- 20
               '0' + -- 21
               '00' + -- 22
               '00' -- 23
        FROM TADICAO_DE_IMPORTACAO AI
           LEFT JOIN TUNID_MEDIDA_BROKER U ON U.CD_UNID_MEDIDA = AI.CD_UNIDADE_MEDIDA_PIS
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO

        -- COFINS
        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '15',
               '15' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               '0006' + -- 04
               CASE WHEN ISNULL(AI.VL_ALIQUOTA_ESPECIFICA_COFINS, 0) > 0 THEN '2'
               ELSE '1'
               END + -- 05
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), CASE ISNULL(AI.VL_PIS, 0)
                                                                                              WHEN 0 THEN 0
                                                                                          ELSE AI.VL_BASE_PIS *0
                                                                                          END)), '.', ''), 15) + -- 06
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(AI.ALIQ_COFINS, 0))), '.', ''), 5) + -- 07
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(AI.VL_COFINS, 0) *0)), '.', ''), 15) + -- 08
               CONVERT(CHAR(15), ISNULL(U.NM_UNID_MEDIDA, '')) + -- 09
               RIGHT('00000' + RTRIM(CONVERT(VARCHAR, 0)), 5) + -- 10
               RIGHT('000000000' + RTRIM(CONVERT(VARCHAR, ISNULL(AI.QTD_UNID_ESPECIFICA_COFINS, 0))), 9) + -- 11
               RIGHT('0000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(11, 5), ISNULL(AI.VL_ALIQUOTA_ESPECIFICA_COFINS, 0))), '.', ''), 10) + -- 12
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(AI.QTD_UNID_ESPECIFICA_COFINS * AI.VL_ALIQUOTA_ESPECIFICA_COFINS, 0))), '.', ''), 15) + -- 13
               '0' + -- 14
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(AI.ALIQ_COFINS_REDUZIDA, 0))), '.', ''), 5) + -- 15
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), ISNULL(AI.PC_REDUCAO_PIS_COFINS, 0))), '.', ''), 5) + -- 16
               RIGHT('00000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(6, 2), 0)), '.', ''), 5) + -- 17
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), 0)), '.', ''), 15) + -- 18
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(AI.VL_COFINS, 0) *0)), '.', ''), 15) + -- 19
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(AI.VL_COFINS, 0) *0)), '.', ''), 15) + -- 20
               '0' + -- 21
               '00' + -- 22
               '00' -- 23
        FROM TADICAO_DE_IMPORTACAO AI
           LEFT JOIN TUNID_MEDIDA_BROKER U ON U.CD_UNID_MEDIDA = AI.CD_UNIDADE_MEDIDA_COFINS
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO


        -- ITENS
        
        INSERT INTO @TB_ITENS
        SELECT DM.NR_ITEM,
               ISNULL(QT_MERC_UN_COMERC, 0),
               ISNULL(U.NM_UNID_MEDIDA, ''),
               ISNULL(DM.VL_UNID_COND_VENDA, 0) + ISNULL(DM.VL_DED_CPT_MNEG, 0),
               0,
               TX_DESC_DET_MERC
        FROM TDETALHE_MERCADORIA DM
           LEFT JOIN TUNID_MEDIDA_BROKER U ON U.CD_UNID_MEDIDA = DM.CD_UN_MED_COMERC
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO
        ORDER BY NR_PROCESSO, NR_ITEM 

        WHILE (SELECT COUNT(*) FROM @TB_ITENS) > 0
        BEGIN
            SELECT TOP 1 @NR_ITEM = NR_ITEM,
                         @QT_MERC_UN_COMERC = QT_MERC_UN_COMERC,
                         @NM_UNID_MEDIDA = NM_UNID_MEDIDA,
                         @VL_UNID_COND_VENDA = VL_UNID_COND_VENDA,
                         @VL_UNID_LOC_EMB = VL_UNID_LOC_EMB,
                         @TX_DESC_DET_MERC = TX_DESC_DET_MERC
            FROM @TB_ITENS
            ORDER BY NR_ITEM

            DELETE @TB_ITENS
            WHERE NR_ITEM = @NR_ITEM

            /*
            OCORRÊNCIAS DO DETALHAMENTO DA MERCADORIA

            INDICE     NOME DO CAMPO          FORMATO     TAMANHO     CONTEÚDO
            01         CD-TIPO-REGISTRO       N            2          16
            02         NR-IDENT-USUARIO       A           15
            03         NR-ADICAO-USUARIO      N            3
            04         QT-MERC-UN-COMERC      N            9,5
            05         NM-UN-MEDID-COMER      A           20
            06         VL-UNID-COND-VENDA     N           13,7
            07         VL-UNID-LOC-EMB        N           11,2
            */

            INSERT INTO @TB_RETORNO
            SELECT @NR_IDENT_USUARIO,
                   '16',
                   '16' + -- 01
                   @NR_IDENT_USUARIO + -- 02
                   @NR_ADICAO + -- 03
                   RIGHT('00000000000000' + REPLACE(CONVERT(VARCHAR, @QT_MERC_UN_COMERC), '.', ''), 14) + -- 04
                   @NM_UNID_MEDIDA + -- 05
                   RIGHT('00000000000000000000' + REPLACE(CONVERT(VARCHAR, @VL_UNID_COND_VENDA), '.', ''), 20) + -- 06
                   RIGHT('0000000000000' + REPLACE(CONVERT(VARCHAR, 0), '.', ''), 13) -- 07

            /*
            OCORRÊNCIAS DO TEXTO DE DET. DA MERCADORIA

            INDICE     NOME DO CAMPO          FORMATO     TAMANHO     CONTEÚDO
            01         CD-TIPO-REGISTRO       N              2        19
            02         NR-IDENT-USUARIO       A             15
            03         NR-ADICAO-USUARIO      N              3
            04         TX-DESC-DET-MERC       A           3900
            */

            WHILE (@TX_DESC_DET_MERC <> '')
            BEGIN
                SELECT @POS = CHARINDEX(CHAR(13), @TX_DESC_DET_MERC)
                IF @POS < 1
                BEGIN
                    SELECT @POS = CHARINDEX(CHAR(10), @TX_DESC_DET_MERC)
                    IF @POS < 1
                        SELECT @POS = LEN(@TX_DESC_DET_MERC) +1
                END
                SELECT @TX_DESC_DET_PARTE = LEFT(@TX_DESC_DET_MERC, @POS -1)

                INSERT INTO @TB_RETORNO
                SELECT @NR_IDENT_USUARIO,
                       '19',
                       '19' + -- 01
                       @NR_IDENT_USUARIO + -- 02
                       @NR_ADICAO + -- 03
                       @TX_DESC_DET_PARTE -- 04

                IF LEN(@TX_DESC_DET_MERC) > @POS
                    SELECT @TX_DESC_DET_MERC = RIGHT(@TX_DESC_DET_MERC, LEN(@TX_DESC_DET_MERC) - @POS)
                ELSE
                    SELECT @TX_DESC_DET_MERC = ''
                WHILE (@TX_DESC_DET_MERC <> '') AND (LEFT(@TX_DESC_DET_MERC, 1) IN (CHAR(13), CHAR(10)))
                    SELECT @TX_DESC_DET_MERC = RIGHT(@TX_DESC_DET_MERC, LEN(@TX_DESC_DET_MERC) -1)
            END 
        END


        /*
        OCORRÊNCIAS DE DEDUÇÃO DO VALOR ADUANEIRO

        INDICE     NOME DO CAMPO          FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO       N            2          17
        02         NR-IDENT-USUARIO       A           15
        03         NR-ADICAO-IMP          N            3
        04         CD-MET-DEDUC-VALOR     A            2
        05         VL-DEDUCAO-MNEG        N           13,2
        06         CD-MD-NEGOC-DEDUC      N            3
        07         VL-DEDUCAO-MN          N           13,2
        */

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '17',
               '17' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               CONVERT(CHAR(2), ISNULL(CD_MET_DEDUC_VALOR, '')) + -- 04
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), ISNULL(VL_DEDUCAO_MNEG, 0))), '.', ''), 15) + -- 05
               RIGHT('000' + ISNULL(CD_MD_NEGOC_DEDUC, '000'), 3) + -- 06
               RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), ISNULL(VL_DEDUCAO_MN, 0))), '.', ''), 15) -- 07
        FROM TDEDUCAO_VALORACAO
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO


        /*
        OCORRÊNCIAS DE ACRÉSCIMO DO VALOR ADUANEIRO

        INDICE     NOME DO CAMPO          FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO       N            2          18
        02         NR-IDENT-USUARIO       A           15
        03         NR-ADICAO-USUARIO      N            3
        04         CD-MET-ACRES-VALOR     A            2
        05         VL-ACRESCIMO-MNEG      N           13,2
        06         CD-MD-NEGOC-ACRES      N            3
        07         VL-ACRESCIMO-MN        N           13,2
        */

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '18',
               '18' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               CONVERT(CHAR(2), ISNULL(CD_MET_ACRES_VALOR, '')) + -- 04
               RIGHT('0000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_ACRESCIMO_MOEDA, 0))), '.', ''), 15) + -- 05
               RIGHT('000' + ISNULL(CD_MD_NEGOC_ACRES, '000'), 3) + -- 06
               RIGHT('0000000000000' + REPLACE(CONVERT(VARCHAR, CONVERT(DECIMAL(16, 2), ISNULL(VL_ACRESCIMO_MN, 0))), '.', ''), 15) -- 07
        FROM TACRESCIMO_VALORACAO
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO


        /*
        OCORRÊNCIAS  DO  DESTAQUE  NCM

        INDICE     NOME DO CAMPO         FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO      N            2          20
        02         NR-IDENT-USUARIO      A           15
        03         NR-ADICAO-USUARIO     N            3
        04         NR-DESTAQUE-NCM       N            3
        */

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '20',
               '20' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               RIGHT('000' + RTRIM(ISNULL(NR_DESTAQUE_NCM, '000')), 3) -- 04
        FROM TDESTAQUE_NCM
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO


        /*
        OCORRÊNCIAS DO DOCUMENTO VINCULADO

        INDICE     NOME DO CAMPO         FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO      N            2          21
        02         NR-IDENT-USUARIO      A           15
        03         NR-ADICAO-USUARIO     N            3
        04         CD-TIPO-DCTO-VINC     N            1
        05         NR-DCTO-VINCULADO     A           15
        */

        INSERT INTO @TB_RETORNO
        SELECT @NR_IDENT_USUARIO,
               '21',
               '21' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               RIGHT('0' + RTRIM(ISNULL(CD_TIPO_DCTO_VINC, '0')), 1) + -- 04
               CONVERT(CHAR(15), ISNULL(NR_DCTO_VINCULADO, '')) -- 05
        FROM TDOCUMENTO_VINCULADO
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO


        /*
        OCORRÊNCIAS DE ESPECIFICAÇÕES DA MERCADORIA PARA FINS DE VALORAÇÃO ADUANEIRA

        INDICE     NOME DO CAMPO          FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO       N            2          22
        02         NR-IDENT-USUARIO       A           15
        03         NR-ADICAO-USUARIO      N            3
        04         CD-ABRANGENCIA-NCM     N            1
        05         CD-ATRIBUTO-NCM        A            2
        06         CD-ESPECIF-NCM         N            4
        */

        INSERT INTO @TB_RETORNO
        SELECT DISTINCT @NR_IDENT_USUARIO,
               '22',
               '22' + -- 01
               @NR_IDENT_USUARIO + -- 02
               @NR_ADICAO + -- 03
               CASE ISNULL(CD_NIVEL_NVE, '')
                   WHEN 'C' THEN '1'
                   WHEN 'N' THEN '6'
                   WHEN 'SB' THEN '5'
                   WHEN 'U' THEN '3'
                   WHEN 'P' THEN '2'
                   WHEN 'SA' THEN '4'
               ELSE '0'
               END + -- 04
               CONVERT(CHAR(2), ISNULL(CD_ATRIBUTO_NCM, '')) + -- 05
               RIGHT('0000' + RTRIM(ISNULL(CD_ESPECIF_NCM, '0000')), 4) -- 06
        FROM TDI_NVE
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO


        /*
        OCORRÊNCIAS DE DOCUMENTO MERCOSUL

        INDICE     NOME DO CAMPO           FORMATO     TAMANHO     CONTEÚDO
        01         CD-TIPO-REGISTRO        N            2          23
        01         NR-IDENT-USUARIO        A           15
        01         NR-ADICAO-USUARIO       N            3
        01         NR-DE-AD-MERCOSUL       A           16
        01         NR-RE-AD-INICIAL        A            4
        01         NR-RE-AD-FINAL          A            4
        01         CD-PAIS-CERTIFICADO     A            2
        01         NR-DI-CERTIFICADO       A           16
        01         NR-ITEM-CERTIFICADO     A            4
        01         QT-UNIDADE-MERCOSUL     N            9,5
        */

    END

    /*
    SELECT *
    FROM @TB_RETORNO
    WHERE CD_TIPO_LINHA = '07'
    ORDER BY NR_LINHA
    --*/RETURN
END
GO
