USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--/*
CREATE FUNCTION [FN_NF_EASY](@NR_PROCESSO CHAR(18), @NR_SERIE CHAR(3)) RETURNS @TB_RETORNO TABLE (
                                                                                 NR_TIPO  INT,
                                                                                 NR_ORDEM INT IDENTITY(1, 1),
                                                                                 TX_LINHA VARCHAR(MAX)
                                                                             ) AS --*/
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18) = '0101IA-004830-15'
    DECLARE @NR_SERIE   CHAR(3) = '008'

    DECLARE @TB_RETORNO AS TABLE (
        NR_TIPO  INT,
        NR_LINHA INT IDENTITY(1, 1),
        TX_LINHA VARCHAR(4000)
    )
    --*/

    /****************************************************************************************************\
    |TAM  | Tamanho do campo. No caso de campos numéricos com decimais, indica a quantidade de inteiros, |
    |     | mais a de decimais e uma posição para o caracter ponto ("."), que é o separador de decimais. |
    |     | Exemplo: se TAM = 15 e DEC = 2 então Nº de inteiros = 12.                                    |
    |*    | Indica tamanho máximo                                                                        |
    |DEC  | Número de decimais (já computadas no tamanho)                                                |
    |TIPO | Formato do campo                                                                             |
    |C    | Caracter ou alfanumérico                                                                     |
    |N    | Numérico                                                                                     |
    |D    | Data no formato DD/MM/AA                                                                     |
    |M    | Memo (texto com até 64K)                                                                     |
    |L    | Lógico (T - True, F - False                                                                  |
    \****************************************************************************************************/


    /*--------------------------------------------------------------------------------------------------*\
                                     "1" - CAPA DA NOTA FISCAL DE ENTRADA
                                               Versão 1                                  Versão 2
    Seq  Descrição do Campo              Tipo  Tam.  Dec  Posição      Obs.
    01   Tipo                            A     001   -    001 - 001    "1" / Capa
    02   Código da Empresa               N     002   -    002 - 003    Fixo "01"
    03   Código da Filial                N     002   -    004 - 005    Fixo "01"
    04   Número da Nota                  N     009   -    006 – 014
    05   Filler                          A     006   -    015 – 020
    06   Aliq. ICMS                      N     007   2    021 – 027    Nota 7
    07   CFOP                            N     006   -    028 – 033    Nota 8
    08   CFP                             A     005   -    034 – 038    Nota 2
    09   CGC - Emitente                  N     014   -    039 – 052
    10   Código do IPI                   A     003   -    053 – 055    Nota 2
    11   Número do processo              A     017   -    056 – 072
    12   Quantidade de Itens             N     002   -    073 – 074
    13   Data de Referência              N     006   -    075 – 080    Nota 3
    14   Data de Emissão                 N     008   -    081 – 088    Nota 5
    15   Data de Entrada                 N     008   -    089 – 096    Nota 5
    16   Filler                          A     006   -    097 – 102
    17   Data de Registro DI             N     008   -    103 – 110
    18   Filler                          A     002   -    111 – 112
    19   Entrada / Saída                 A     001   -    113 – 113    Fixo "E"
    20   Espécie                         A     003   -    114 – 116    Fixo "NFE"
    21   Flag Cancelada                  A     001   -    117 – 117    Nota 2
    22   Filler                          A     001   -    118 – 118
    23   Flag Entrada                    A     001   -    119 – 119    Fixo "I"
    24   Número da DI                    A     010   -    120 – 129
    25   Série                           A     003   -    130 – 132
    26   Código de Sit. Tributária       A     002   -    133 – 134
    27   Situação Tributária - E         A     005   -    135 – 139    Nota 2
    28   Situação Tributária - F         A     005   -    140 – 144    Nota 2
    29   UF do Emitente                  A     002   -    145 – 146
    30   Via de Transporte               A     001   -    147 – 147    Nota 4
    31   Valor do Frete                  N     015   02   148 – 162    Nota 7
    32   Valor do ICMS                   N     015   02   163 – 177    Nota 7
    33   Valor da Base do ICMS           N     015   02   178 – 192    Nota 7
    34   Código do Importador            A     004   -    193 – 196
    35   Código do Transportador         A     020   -    197 – 216
    36   Valor do Seguro                 N     015   02   217 – 231    Nota 7
    37   Valor do IPI                    N     015   02   232 – 246    Nota 7
    38   Valor Total da Mercadoria       N     015   02   247 – 261    Nota 7
    39   Valor Total da Nota             N     015   02   262 – 276    Nota 7
    40   Valor Base do IPI               N     015   02   277 – 291    Nota 7
    41   Filler                          A     002   -    292 – 293
    42   Código do Exportador            A     004   -    294 – 297
    43   Nome do Exportador              A     060   -    298 – 357
    44   Numero do PO                    A     017   -    358 – 374
    45   Perc. Redução de Base de ICMS   N     006   02   375 – 380    Nota 7
    46   Peso Bruto NF                   N     016   05   381 - 396
    47   Total de Volumes                N     005   00   397 - 401
    48   Espécie dos Volumes             C     003   00   402 - 404
    49   Número dos Volumes              C     020   00   405 - 424
    \*--------------------------------------------------------------------------------------------------*/

    SELECT @NR_SERIE = CONVERT(CHAR(3), CONVERT(INT, @NR_SERIE))

    DECLARE @NR_NOTA    INT
    DECLARE @VL_NOTA    FLOAT
    DECLARE @DT_NOTA    DATETIME

    SELECT TOP 1 @NR_NOTA = 0,--NR_NOTA,
                 @VL_NOTA = VL_NOTA,
                 @DT_NOTA = DT_NOTA
    FROM TPROCESSO_NF
    WHERE NR_PROCESSO = @NR_PROCESSO
    ORDER BY VL_NOTA DESC

    DECLARE @NR_PO CHAR(17)

    SELECT TOP 1 @NR_PO = CD_REFERENCIA
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND TP_REFERENCIA = '02'

    SET @NR_PO = ISNULL(@NR_PO, '')

    --SELECT @NR_NOTA = '', @VL_NOTA = 0

    IF @NR_NOTA IS NULL
    BEGIN
        SET @NR_NOTA = ''
        SET @DT_NOTA = CONVERT(DATE, GETDATE(), 103)
    END

    IF @NR_NOTA IS NULL
        INSERT INTO @TB_RETORNO
        VALUES(0, 'Erro: Falta Nota Fiscal na Manutenção do Processo.')
    ELSE
    BEGIN
        DECLARE @PC_ICMS       FLOAT
        DECLARE @CD_CFOP       CHAR(6)
        DECLARE @CD_FORNECEDOR CHAR(5)
        DECLARE @NR_CLIENTE    CHAR(4)
        DECLARE @NM_FORNECEDOR CHAR(60)

        DECLARE @TB_QUEBRAS AS TABLE (
            NR_ADICAO     CHAR(3),
            PC_ICMS       FLOAT,
            CD_CFOP       CHAR(6),
            CD_FORNECEDOR CHAR(5),
            NR_CLIENTE    CHAR(4),
            NM_FORNECEDOR CHAR(60)
        )

        INSERT INTO @TB_QUEBRAS
        SELECT AI.NR_ADICAO, ISNULL(AI.PC_ICMS, 0), ISNULL(AI.CD_CFOP, ''), ISNULL(AI.CD_FORNECEDOR, ''), ISNULL(EE.NR_CLIENTE, ''), ISNULL(EE.NM_EMPRESA, '')
        FROM TADICAO_DE_IMPORTACAO AI
           LEFT JOIN TEMPRESA_EST EE ON EE.CD_EMPRESA = AI.CD_FORNECEDOR
        WHERE AI.NR_PROCESSO = @NR_PROCESSO

        WHILE (SELECT COUNT(*) FROM @TB_QUEBRAS) > 0
        BEGIN
            SELECT TOP 1 @PC_ICMS       = PC_ICMS,
                         @CD_CFOP       = CD_CFOP,
                         @CD_FORNECEDOR = CD_FORNECEDOR,
                         @NR_CLIENTE    = NR_CLIENTE,
                         @NM_FORNECEDOR = NM_FORNECEDOR
            FROM @TB_QUEBRAS
            ORDER BY NR_ADICAO

            SET @NR_NOTA = @NR_NOTA +1

            INSERT INTO @TB_RETORNO
            SELECT 1 AS NR_TIPO,
                   '1'  + -- 01
                   '01' + -- 02
                   '01' + -- 03
                   RIGHT('000000000' + CONVERT(VARCHAR, @NR_NOTA), 9) + -- 04
                   CONVERT(CHAR(6), '') + -- 05
                   RIGHT('0000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28,2), @PC_ICMS)), 7) + -- 06
                   CONVERT(CHAR(6), @CD_CFOP) + -- 07
                   CONVERT(CHAR(5), '') + -- 08
                   --RIGHT('00000000000000' + RTRIM(ISNULL(ISNULL(TR.CNPJ_TRANSP_ROD, TR.CPF_TRANSP_ROD), '')), 14) + -- 09
                   RIGHT('00000000000000' + RTRIM(ISNULL(EN.CGC_EMPRESA, '')), 14) + -- 09
                   CONVERT(CHAR(3), '') + -- 10
                   CONVERT(CHAR(17), ISNULL((SELECT TOP 1 RTRIM(NR_PROC_PO)
                                             FROM TDETALHE_MERCADORIA (NOLOCK)
                                             WHERE NR_PROCESSO = @NR_PROCESSO
                                               AND NR_PROC_PO IS NOT NULL
                                             ORDER BY NR_ADICAO, NR_ITEM), '')) + -- 11
                   RIGHT('00' + CONVERT(VARCHAR, DM.QTD_ITENS), 2) + -- 12
                   CONVERT(CHAR(6), ISNULL((SELECT RIGHT('00' + CONVERT(VARCHAR, DAY(DT_REALIZACAO)), 2) + RIGHT('00' + CONVERT(VARCHAR, MONTH(DT_REALIZACAO)), 2) + RIGHT(CONVERT(VARCHAR, YEAR(DT_REALIZACAO)), 2)
                    FROM TFOLLOWUP
                    WHERE NR_PROCESSO = @NR_PROCESSO
                      AND CD_EVENTO = '168'), '')) + -- 13
                   CONVERT(CHAR(8), ISNULL(RIGHT('0000' + CONVERT(VARCHAR, YEAR(@DT_NOTA)), 4) + RIGHT('00' + CONVERT(VARCHAR, MONTH(@DT_NOTA)), 2) + RIGHT('00' + CONVERT(VARCHAR, DAY(@DT_NOTA)), 2), '')) + -- 14
                   CONVERT(CHAR(8), ISNULL((SELECT RIGHT('00' + CONVERT(VARCHAR, YEAR(DT_REALIZACAO)), 4) + RIGHT('00' + CONVERT(VARCHAR, MONTH(DT_REALIZACAO)), 2) + RIGHT(CONVERT(VARCHAR, DAY(DT_REALIZACAO)), 2)
                    FROM TFOLLOWUP
                    WHERE NR_PROCESSO = @NR_PROCESSO
                      AND CD_EVENTO = '164'), '')) + -- 15
                   CONVERT(CHAR(6), '') + -- 16
                   CONVERT(CHAR(8), ISNULL(SUBSTRING(DI.DT_REGISTRO_DI, 5, 4) + SUBSTRING(DI.DT_REGISTRO_DI, 3, 4) + SUBSTRING(DI.DT_REGISTRO_DI, 1, 2), '')) + -- 17
                   CONVERT(CHAR(2), '') + -- 18
                   'E' + -- 19
                   'NFE' + -- 20
                   CONVERT(CHAR(1), '') + -- 21
                   CONVERT(CHAR(1), '') + -- 22
                   'I' + -- 23
                   CONVERT(CHAR(10), ISNULL(DI.NR_DECLARACAO_IMP, '')) + -- 24
                   @NR_SERIE + -- 25
                   CONVERT(CHAR(2), '10') + -- 26
                   CONVERT(CHAR(5), '') + -- 27
                   CONVERT(CHAR(5), '') + -- 28
                   CONVERT(CHAR(2), ISNULL(TR.END_UF, '')) + -- 29
                   CONVERT(CHAR(1), '') + -- 30
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_FRETE)), 15) + -- 31
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_ICMS)), 15) + -- 32
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_BASE_ICMS)), 15) + -- 33
                   CONVERT(CHAR(4), '') + -- 34
                   CONVERT(CHAR(20), ISNULL(P.CD_TRANSP_NAC, '')) + -- 35
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_SEGURO_ITEM)), 15) + -- 36
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_IPI)), 15) + -- 37
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_MLE + CASE ISNULL(DI.IN_EMBUT_FRT_ITENS, '0')
                                                                                                      WHEN '0' THEN DM.VL_FRETE
                                                                                                  ELSE 0
                                                                                                  END + CASE ISNULL(DI.IN_EMBUT_SEG_ITENS, '0')
                                                                                                            WHEN '0' THEN DM.VL_SEGURO
                                                                                                        ELSE 0
                                                                                                        END + DM.VL_ACRESCIMO - DM.VL_DEDUCAO + CASE WHEN DI.CD_INCOTERM = 'CIF' THEN VL_II ELSE 0 END)), 15) + -- 38
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), (DM.VL_MLE + CASE ISNULL(DI.IN_EMBUT_FRT_ITENS, '0')
                                                                                                       WHEN '0' THEN DM.VL_FRETE
                                                                                                   ELSE 0
                                                                                                   END + CASE ISNULL(DI.IN_EMBUT_SEG_ITENS, '0')
                                                                                                             WHEN '0' THEN DM.VL_SEGURO
                                                                                                         ELSE 0
                                                                                                         END + DM.VL_ACRESCIMO - DM.VL_DEDUCAO) + DM.VL_II + DM.VL_IPI + DM.VL_PIS + DM.VL_COFINS + DM.VL_ICMS)), 15) + -- 39
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_BASE_IPI)), 15) + -- 40
                   CONVERT(CHAR(2), '') + -- 41
                   --CONVERT(CHAR(4), DP.CD_EXTERNO) + -- 42
                   CONVERT(CHAR(4), ISNULL(CONVERT(CHAR(4), SUBSTRING(@NR_CLIENTE, 4, 4)), '')) + -- 42
                   CONVERT(CHAR(60), RTRIM(@NM_FORNECEDOR)) + -- 43
                   CONVERT(CHAR(17), @NR_PO) + -- 44
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), CASE ISNULL(DI.PC_REDUCAO_ICMS, 0)
                                                                                          WHEN 0 THEN 0
                                                                                      ELSE DI.PC_REDUCAO_ICMS
                                                                                      END)), 6) /*+ -- 45
                   RIGHT('0000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(16, 5), DI.PB_CARGA)), 16) + -- 46
                   RIGHT('00000' + CONVERT(VARCHAR, ISNULL(EC.QT_VOLUME_CARGA, 0)), 5) + -- 47
                   CONVERT(CHAR(3), CONVERT(VARCHAR, ISNULL(EC.CD_TIPO_EMBALAGEM, ''))) + -- 48
                   CONVERT(CHAR(20), CONVERT(VARCHAR, ISNULL(PC.NR_CNTR, ''))) -- 49*/
            FROM TPROCESSO                          P  (NOLOCK)
               INNER JOIN TEMPRESA_NAC              EN (NOLOCK) ON EN.CD_EMPRESA = P.CD_CLIENTE
               INNER JOIN TDECLARACAO_IMPORTACAO    DI (NOLOCK) ON DI.NR_PROCESSO = P.NR_PROCESSO
               INNER JOIN (SELECT NR_PROCESSO,
                                  COUNT(*) AS QTD_ITENS,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_BASE_ICMS_ITEM)) AS VL_BASE_ICMS,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_ICMS_ITEM)) AS VL_ICMS,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_FRETE_ITEM_MN)) AS VL_FRETE,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_SEGURO_ITEM_MN)) AS VL_SEGURO,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_II_ITEM)) AS VL_II,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_IPI_ITEM)) AS VL_IPI,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_PIS_ITEM)) AS VL_PIS,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_COFINS_ITEM)) AS VL_COFINS,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_MLE_ITEM_MN)) AS VL_MLE,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_ACRESCIMO_ITEM_MN)) AS VL_ACRESCIMO,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_DEDUCAO_ITEM_MN)) AS VL_DEDUCAO,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_SEGURO_ITEM)) AS VL_SEGURO_ITEM,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_TX_SCX_ITEM)) AS VL_TAXA_SISCOMEX,
                                  SUM(CONVERT(DECIMAL(28, 2), VL_BASE_CALC_II + VL_II_ITEM)) AS VL_BASE_IPI
                           FROM TDETALHE_MERCADORIA (NOLOCK)
                           WHERE NR_PROCESSO = @NR_PROCESSO
                             --AND NR_ADICAO = '001'
                             AND NR_ADICAO IN (SELECT NR_ADICAO
                                               FROM @TB_QUEBRAS
                                               WHERE PC_ICMS       = @PC_ICMS
                                                 AND CD_CFOP       = @CD_CFOP
                                                 AND CD_FORNECEDOR = @CD_FORNECEDOR
                                                 AND NR_CLIENTE    = @NR_CLIENTE
                                                 AND NM_FORNECEDOR = @NM_FORNECEDOR)
                           GROUP BY NR_PROCESSO)    DM          ON DM.NR_PROCESSO = DI.NR_PROCESSO
               LEFT  JOIN TTRANSP_ROD               TR (NOLOCK) ON TR.CD_TRANSP_ROD = P.CD_TRANSP_NAC
               --LEFT  JOIN TDE_PARA                  DP (NOLOCK) ON DP.CD_DDBROKER = AI.CD_FORNECEDOR
               --                                                AND DP.CD_UNID_NEG = P.CD_UNID_NEG
               --                                                AND DP.CD_PRODUTO = P.CD_PRODUTO
               --                                                AND DP.CD_GRUPO = '155'
               --                                                AND DP.CD_TABELA = '78'
               LEFT JOIN TEMBALAGEM_CARGA           EC (NOLOCK) ON EC.NR_PROCESSO = DI.NR_PROCESSO
               LEFT JOIN TPROCESSO_CNTR             PC (NOLOCK) ON PC.NR_PROCESSO = DI.NR_PROCESSO
            WHERE P.NR_PROCESSO = @NR_PROCESSO


            /*--------------------------------------------------------------------------------------------------*\
                                             "2" - ITENS DA NOTA FISCAL DE ENTRADA
            Seq  Descrição do Campo              Tipo  Tam.  Dec  Posição      Obs.
            01   Tipo                            A     001   -    001 – 001    "2" / Itens
            02   Código da Empresa               N     002   -    002 – 003    Fixo "01"
            03   Código da Filial                N     002   -    004 – 005    Fixo "01"
            04   Número da Nota                  N     009   -    006 – 014
            05   Número do Lançamento            N     006   -    015 – 020
            06   Classificação Fiscal            N     010   -    021 – 030
            07   Código do Produto               A     020   -    031 – 050
            08   Código - Trib. - ICMS           N     001   -    051 – 051    Nota 2
            09   Código - Trib. - IPI            N     001   -    052 – 052    Nota 2
            10   Número do Item                  N     002   -    053 – 054
            11   Quantidade                      N     011   04   055 – 065    Nota 7
            12   Unidade                         A     003   -    066 – 068
            13   Vlr. – IPI                      N     015   02   069 – 083    Nota 7
            14   Valor Mercadoria (CIF+II)       N     015   02   084 – 098    Nota 7
            15   Flag de Entrada                 A     001   -    099 – 099    Fixo "I"
            16   Quantidade do Recebimento       N     011   04   100 – 110    Nota 2
            17   Descrição do Produto            A     150   -    111 – 260
            18   Valor Fob R$                    N     015   02   261 – 275    Nota 7
            19   Valor Frete R$                  N     015   02   276 – 290    Nota 7
            20   Valor do Seguro R$              N     015   02   291 – 305    Nota 7
            21   Valor II R$                     N     015   02   306 – 320    Nota 7
            22   Alíquota IPI                    N     005   02   321 – 325    Nota 7
            23   Valor Despesas                  N     015   02   326 – 340    Nota 7
            24   Nro Processo no Easy            A     017   -    341 – 357
            25   Numero da EX da NCM             A     003   -    358 – 360
            26   Numero da Invoice               A     015   -    361 – 375
            27   Valor do ICMS a recolher        N     015   02   376 – 390    Nota 7
            28   Peso Liquido do item            N     011   04   391 – 401    Nota 7
            29   Item do Pedido de Compra        C     004   -    402 – 405    Nota 6
            30   Alíquota de II                  N     005   2    406 – 410    Nota 7
            31   Numero do pedido                C     017   -    411 – 427
            32   Nro do Pedido de Licenciamento  C     010   -    428 – 437
            33   Série da Nota Fiscal            C     003   -    438 – 440
            34   Base de ICMS ( por item)        N     015   02   441 – 455    Nota 7
            35   Valor FOB na moeda de Origem    N     015   07   456 – 470    Nota 7
            36   Alíquota do PIS                 N     006   02   471 – 476    Nota 7
            37   Valor por quantidade do PIS     N     009   02   477 – 485
            38   Base de calculo do PIS          N     015   02   486 – 500    Nota 7
            39   Valor do PIS                    N     015   02   501 – 515    Nota 7
            40   Alíquota do COFINS              N     006   02   516 – 521    Nota 7
            41   Valor por quantidade do COFINS  N     009   02   522 – 530    Nota 7
            42   Base de calculo do COFINS       N     015   02   531 – 545    Nota 7
            43   Valor do COFINS                 N     015   02   546 – 560    Nota 7
            44   Número da adição                C     003   -    561 – 563
            45   Sequencia do item da adição     C     003   -    564 – 566
            46   Valor do desconto               N     015   02   567 – 581    Nota 7
            47   Valor do IOF                    N     015   02   582 – 596    Nota 7
            48   Despesas Aduaneiras             N     015   02   597 – 611    Nota 7
            49   Alíquota específica do IPI      N     015   04   612 – 626    Nota 7
            50   Qtde total - IPI                N     011   04   627 – 637    Nota 7
            51   Qtde total - PIS                N     011   04   638 – 648    Nota 7
            52   Qtde total - COFINS             N     011   04   649 – 659    Nota 7
            53   Lote                            C     010   00   660 – 669
            54   Validade                        D     008   00   670 - 677
            55   Alíquota de ICMS do Item        N     005   02   678 – 682    Nota 7
            56   Alíquota de Majoração de COFINS N     006   02   683 – 688
            \*--------------------------------------------------------------------------------------------------*/

            INSERT INTO @TB_RETORNO
            SELECT 2 AS NR_TIPO,
                   '2' + -- 01
                   '01' + -- 02
                   '01' + -- 03
                   RIGHT('000000000' + RTRIM(@NR_NOTA), 9) + -- 04
                   CONVERT(CHAR(6), '000000') + -- 05
                   CONVERT(CHAR(10), RTRIM(DM.CD_NCM_SH)) + -- 06
                   CONVERT(CHAR(20), RTRIM(DM.CD_MERCADORIA)) + -- 07
                   CONVERT(CHAR(1), '') + -- 08
                   CONVERT(CHAR(1), '') + -- 09
                   RIGHT('00' + CONVERT(VARCHAR, DENSE_RANK() OVER(ORDER BY DM.NR_ADICAO, DM.NR_ITEM)), 2) + -- 10
                   RIGHT('00000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 4), DM.QT_MERC_UN_COMERC)), 11) + -- 11
                   CONVERT(CHAR(3), ISNULL(UM.NM_SIGLA, '')) + -- 12
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_IPI_ITEM)), 15) + -- 13
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_MLE_ITEM_MN + CASE ISNULL(DI.IN_EMBUT_FRT_ITENS, '0')
                                                                                                              WHEN '0' THEN DM.VL_FRETE_ITEM_MN
                                                                                                          ELSE 0
                                                                                                          END + CASE ISNULL(DI.IN_EMBUT_SEG_ITENS, '0')
                                                                                                                    WHEN '0' THEN DM.VL_SEGURO_ITEM_MN
                                                                                                                ELSE 0
                                                                                                                END + /*CASE WHEN DI.CD_INCOTERM = 'CIF' THEN */ DM.VL_II_ITEM /*ELSE 0 END*/)), 15) + -- 14
                   'I' + -- 15
                   RIGHT('00000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 4), DM.QT_MERC_UN_COMERC)), 11) + -- 16
                   CONVERT(CHAR(150), RTRIM(CONVERT(VARCHAR(1000), M.NM_MERCADORIA))) + -- 17
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_MLE_ITEM_MN/* + CASE ISNULL(DI.IN_EMBUT_FRT_ITENS, '0')
                                                                                                              WHEN '1' THEN 0
                                                                                                          ELSE DM.VL_FRETE_ITEM_MN
                                                                                                          END + CASE ISNULL(DI.IN_EMBUT_SEG_ITENS, '0')
                                                                                                                    WHEN '1' THEN 0
                                                                                                                ELSE DM.VL_SEGURO_ITEM_MN
                                                                                                                END*/)), 15) + -- 18
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), CASE ISNULL(DI.IN_EMBUT_FRT_ITENS, '0')
                                                                                          WHEN '0' THEN DM.VL_FRETE_ITEM_MN
                                                                                      ELSE 0
                                                                                      END)), 15) + -- 19
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_SEGURO_ITEM_MN)), 15) + -- 20
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_II_ITEM)), 15) + -- 21
                   RIGHT('00000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), IPI.PC_ALIQUOTA)), 5) + -- 22
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), /*DM.VL_IPI_ITEM + DM.VL_PIS_ITEM + DM.VL_COFINS_ITEM +*/ DM.VL_TX_SCX_ITEM)), 15) + -- 23
                   CONVERT(CHAR(17), DM.NR_PROC_PO) + -- 24
                   CONVERT(CHAR(3), ISNULL((SELECT NR_EX_ATO_VINCUL
                                            FROM TATO_VINCULADO
                                            WHERE NR_PROCESSO = @NR_PROCESSO
                                              AND NR_ADICAO = ''
                                              AND (CD_ASSUNTO_VINCUL = '5' OR CD_ASSUNTO_VINCUL = '3')), '')) + -- 25
                   CONVERT(CHAR(15), RTRIM(ISNULL(POI.NR_FATURA, ISNULL(DM.NR_FATURA, '')))) + -- 26
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), CASE ISNULL(AI.VL_ICMS_A_RECOLHER, 0)
                                                                                          WHEN 0 THEN 0
                                                                                      ELSE DM.VL_ICMS_ITEM
                                                                                      END)), 15) + -- 27
                   RIGHT('00000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 4), DM.PL_MERCADORIA)), 11) + -- 28
                   CONVERT(CHAR(4), DM.NR_ITEM_PO) + -- 29
                   RIGHT('00000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), II.PC_ALIQUOTA)), 5) + -- 30
                   CONVERT(CHAR(17), POI.NR_PEDIDO_COMPRAS) + -- 31
                   --CONVERT(CHAR(10), ISNULL((SELECT TOP 1 RTRIM(CD_REFERENCIA)
                   --                          FROM TREF_CLIENTE RC
                   --                          WHERE RC.NR_PROCESSO = DM.NR_PROCESSO
                   --                            AND RC.TP_REFERENCIA = '08'
                   --                          ORDER BY RC.DT_REFERENCIA DESC), '')) + -- 32
                   CONVERT(CHAR(10), ISNULL(POI.NR_PROC_ID, '')) + -- 32
                   @NR_SERIE + -- 33
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_BASE_ICMS_ITEM)), 15) + -- 34
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 7), (DM.VL_MLE_ITEM_MN - CASE ISNULL(DI.IN_EMBUT_FRT_ITENS, '0')
                                                                                                              WHEN '0' THEN 0
                                                                                                          ELSE DM.VL_FRETE_ITEM_MN
                                                                                                          END - CASE ISNULL(DI.IN_EMBUT_SEG_ITENS, '0')
                                                                                                                    WHEN '0' THEN 0
                                                                                                                ELSE DM.VL_SEGURO_ITEM_MN
                                                                                                                END) / DI.TX_MLE)), 15) + -- 35
                   RIGHT('000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), AI.ALIQ_PIS)), 6) + -- 36
                   RIGHT('000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_PIS_ITEM / DM.QT_MERC_UN_COMERC)), 9) + -- 37
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), CASE ISNULL(AI.ALIQ_PIS, 0)
                                                                                          WHEN 0 THEN (AI.VL_BASE_PIS / AI.VL_MERC_COND_VENDA) * DM.VL_MLE_ITEM
                                                                                      ELSE (DM.VL_PIS_ITEM * 100) / AI.ALIQ_PIS
                                                                                      END)), 15) + -- 38
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_PIS_ITEM)), 15) + -- 39
                   RIGHT('000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), AI.ALIQ_COFINS)), 6) + -- 40
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), ISNULL(DM.VL_COFINS_ITEM, 0))), 9) + -- 41
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), CASE ISNULL(AI.ALIQ_PIS, 0)
                                                                                          WHEN 0 THEN (AI.VL_BASE_PIS / AI.VL_MERC_COND_VENDA) * DM.VL_MLE_ITEM
                                                                                      ELSE (DM.VL_PIS_ITEM * 100) / AI.ALIQ_PIS
                                                                                      END)), 15) + -- 42
                   /*RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), CASE ISNULL(AI.ALIQ_COFINS, 0)
                                                                                          WHEN 0 THEN (AI.VL_BASE_PIS / AI.VL_MERC_COND_VENDA) * DM.VL_MLE_ITEM
                                                                                      ELSE (DM.VL_COFINS_ITEM * 100) / AI.ALIQ_COFINS
                                                                                      END)), 15) + -- 42 */--Comentado por apresentar diferencas com o item 38
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_COFINS_ITEM)), 15) + -- 43
                   DM.NR_ADICAO + -- 44
                   DM.NR_ITEM + -- 45
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_DESCONTO_MERC)), 15) + -- 46
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), 0)), 15) + -- 47
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), DM.VL_TX_SCX_ITEM)), 15) + -- 48
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 4), CASE IPI.PC_ESPECIFICA
                                                                                          WHEN 0 THEN CONVERT(CHAR(15), 0)
                                                                                      ELSE (IPI.PC_ESPECIFICA / AI.PL_MERCADORIA) * DM.PL_MERCADORIA
                                                                                      END)), 15) + -- 49
                   RIGHT('000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 4), CASE IPI.PC_ESPECIFICA
                                                                                          WHEN 0 THEN CONVERT(CHAR(16), '')
                                                                                      ELSE (IPI.QTD_ESPECIFICA / AI.PL_MERCADORIA) * DM.PL_MERCADORIA
                                                                                      END)), 11) + -- 50
                   RIGHT('00000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 4), CASE ISNULL(AI.VL_ALIQUOTA_ESPECIFICA_PIS, 0)
                                                                                      WHEN 0 THEN CONVERT(CHAR(16), '')
                                                                                  ELSE (AI.QTD_UNID_ESPECIFICA_PIS / AI.PL_MERCADORIA) * DM.PL_MERCADORIA
                                                                                  END)), 11) + -- 51
                   RIGHT('00000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 4), CASE ISNULL(AI.VL_ALIQUOTA_ESPECIFICA_COFINS, 0)
                                                                                      WHEN 0 THEN CONVERT(CHAR(16), '')
                                                                                  ELSE (AI.QTD_UNID_ESPECIFICA_COFINS / AI.PL_MERCADORIA) * DM.PL_MERCADORIA
                                                                                  END)), 11) + -- 52
                   CONVERT(CHAR(10), '0000000000') + -- 53
                   CONVERT(CHAR(8), '00000000') + -- 54
                   RIGHT('00000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), AI.PC_ICMS)), 5) + -- 55
                   RIGHT('00000' + CONVERT(VARCHAR, CONVERT(DECIMAL(28, 2), 0)), 6) -- 56
            FROM TDETALHE_MERCADORIA             DM (NOLOCK)
               INNER JOIN TADICAO_DE_IMPORTACAO  AI (NOLOCK) ON AI.NR_PROCESSO = DM.NR_PROCESSO AND AI.NR_ADICAO = DM.NR_ADICAO
               INNER JOIN TDECLARACAO_IMPORTACAO DI (NOLOCK) ON DI.NR_PROCESSO = DM.NR_PROCESSO
               LEFT  JOIN TUNID_MEDIDA_BROKER    UM (NOLOCK) ON UM.CD_UNID_MEDIDA = DM.CD_UN_MED_COMERC
               LEFT  JOIN TMERCADORIA            M  (NOLOCK) ON M.CD_MERCADORIA = DM.CD_MERCADORIA
               LEFT  JOIN (SELECT NR_ADICAO,
                                  ISNULL(CD_TIPO_BENEF_IPI, '') AS CD_TIPO_BENEFICIO,
                                  ISNULL(PC_ALIQ_NORM_ADVAL, 0) AS PC_ALIQUOTA,
                                  ISNULL(VL_ALIQ_ESPEC_IPT, 0) AS PC_ESPECIFICA,
                                  ISNULL(TRIBUTO.QT_MERC_UN_ALIQ_ES, 0) AS QTD_ESPECIFICA
                           FROM TRIBUTO (NOLOCK)
                           WHERE NR_PROCESSO = @NR_PROCESSO
                             AND CD_RECEITA_IMPOSTO = '0002') IPI ON IPI.NR_ADICAO = DM.NR_ADICAO
               LEFT  JOIN (SELECT NR_ADICAO,
                                  ISNULL(CD_TIPO_BENEF_IPI, '') AS CD_TIPO_BENEFICIO,
                                  ISNULL(PC_ALIQ_NORM_ADVAL, 0) AS PC_ALIQUOTA,
                                  ISNULL(VL_ALIQ_ESPEC_IPT, 0) AS PC_ESPECIFICA,
                                  ISNULL(TRIBUTO.QT_MERC_UN_ALIQ_ES, 0) AS QTD_ESPECIFICA
                           FROM TRIBUTO (NOLOCK)
                           WHERE NR_PROCESSO = @NR_PROCESSO
                             AND CD_RECEITA_IMPOSTO = '0001') II ON II.NR_ADICAO = DM.NR_ADICAO
               LEFT JOIN TPO_ITEM POI ON POI.NR_PROCESSO = DM.NR_PROC_PO
                                     AND POI.NR_ITEM_CLIENTE = DM.NR_ITEM_PO
                                     AND POI.NR_PARCIAL = DM.NR_PARCIAL
                                     AND POI.CD_EMPRESA = DM.CD_EMPRESA
            WHERE DM.NR_PROCESSO = @NR_PROCESSO
              AND DM.NR_ADICAO IN (SELECT NR_ADICAO
                                   FROM @TB_QUEBRAS
                                   WHERE PC_ICMS       = @PC_ICMS
                                     AND CD_CFOP       = @CD_CFOP
                                     AND CD_FORNECEDOR = @CD_FORNECEDOR
                                     AND NR_CLIENTE    = @NR_CLIENTE
                                     AND NM_FORNECEDOR = @NM_FORNECEDOR)
            ORDER BY DM.NR_ADICAO, DM.NR_ITEM
        
            DELETE @TB_QUEBRAS
            WHERE PC_ICMS       = @PC_ICMS
              AND CD_CFOP       = @CD_CFOP
              AND CD_FORNECEDOR = @CD_FORNECEDOR
              AND NR_CLIENTE    = @NR_CLIENTE
              AND NM_FORNECEDOR = @NM_FORNECEDOR
        END
    END

    /*
    SELECT *
    FROM @TB_RETORNO
    ORDER BY NR_LINHA
    --*/RETURN
END


GO
