USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_PROCESSO_SERVICO_NOVO](@NR_PROCESSO CHAR(18)) RETURNS CHAR(1) AS
BEGIN
    --DECLARE @NR_PROCESSO CHAR(18) = '0102EM-5321-12'

    DECLARE @RETORNO CHAR(1) = '0'

    SELECT @RETORNO = CASE WHEN P.DT_ABERTURA >= CASE WHEN P.CD_PRODUTO IN ('01') THEN ISNULL(G.DT_NOVO_FOLLOWUP_IMP, DATEADD(YEAR, 1, GETDATE()))
                                                 ELSE CASE WHEN P.CD_PRODUTO IN ('02') THEN ISNULL(G.DT_NOVO_FOLLOWUP_EXP, DATEADD(YEAR, 1, GETDATE()))
                                                      ELSE DATEADD(YEAR, 1, GETDATE())
                                                      END
                                                 END THEN '1'
                      ELSE '0'
                      END
    FROM TGRUPO G (NOLOCK)
       INNER JOIN TPROCESSO P (NOLOCK) ON P.CD_GRUPO = G.CD_GRUPO
    WHERE P.NR_PROCESSO = @NR_PROCESSO

    RETURN @RETORNO
END

GO
