USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_NF_SAMSUNG_MAE](@NR_PROCESSO CHAR(18), @CD_CFOP CHAR(4)) RETURNS @TB_NF TABLE (
                                                                                       NR_LINHA   INT IDENTITY(1, 1),
                                                                                       NR_PROC_ID CHAR(15),
                                                                                       TX_LINHA   VARCHAR(MAX)
                                                                                   ) AS --*/
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18) = '0101IM-004613-15'
    DECLARE @CD_CFOP     CHAR(4)  = '3102'
    
    DECLARE @TB_NF TABLE (
                NR_LINHA   INT IDENTITY(1, 1),
                NR_PROC_ID CHAR(15),
                TX_LINHA   VARCHAR(MAX)
            )
    --*/

    /*
    Índice     Field Name           Type                Begin     Length     End
    01         NF_CLASS             CHAR(1)                1       1            1
    02         DI_NUMBER            CHAR(20)              2       20           21
    03         PLANT                CHAR(4)               22       4           25
    04         PO_NUMBER            CHAR(10)              26      10           35
    05         PO_ITEM              CHAR(5)               36       5           40
    06         VENDOR               CHAR(10)              41      10           50
    07         DATE                 CHAR(8)               51       8           58
    08         INCO                 CHAR(3)               59       3           61
    09         NET_WT               DECIMAL(17,3)         62      17           78
    10         NET_GR               DECIMAL(17,3)         79      17           95
    11         MATERIAL             CHAR(18)              96      18          113
    12         QTY                  DECIMAL(17,3)        114      17          130
    13         PRICE                DECIMAL(14,2)        131      14          144
    14         CFOP                 CHAR(6)              145       6          150
    15         FREIGHT              DECIMAL(14,2)        151      14          164
    16         INSU                 DECIMAL(14,2)        165      14          178
    17         EXPENSES             DECIMAL(17,3)        179      17          195
    18         ICMS_BASE            DECIMAL(18,2)        196      18          213
    19         ICMS_OTHER           DECIMAL(18,2)        214      18          231
    20         ICMS_EXCLUDED        DECIMAL(18,2)        232      18          249
    21         ICMS_RATE            DECIMAL(9,2)         250       9          258
    22         ICMS_VAL             DECIMAL(18,2)        259      18          276
    23         IPI_BASE             DECIMAL(18,2)        277      18          294
    24         IPI_OTHER            DECIMAL(18,2)        295      18          312
    25         IPI_EXCLUDED         DECIMAL(18,2)        313      18          330
    26         IPI_RATE             DECIMAL(9,2)         331       9          339
    27         IPI_VAL              DECIMAL(18,2)        340      18          357
    28         PIS_BASE             DECIMAL(18,2)        358      18          375
    29         PIS_OTHER            DECIMAL(18,2)        376      18          393
    30         PIS_EXCLUDED         DECIMAL(18,2)        394      18          411
    31         PIS_RATE             DECIMAL(9,2)         412       9          420
    32         PIS_VAL              DECIMAL(18,2)        421      18          438
    33         COFINS_BASE          DECIMAL(18,2)        439      18          456
    34         COFINS_OTHER         DECIMAL(18,2)        457      18          474
    35         COFINS_EXCLUDED      DECIMAL(18,2)        475      18          492
    36         COFINS_RATE          DECIMAL(9,2)         493       9          501
    37         COFINS_VAL           DECIMAL(18,2)        502      18          519
    38         BROKER               CHAR(5)              520       5          524
    39         INV_NUMBER           CHAR(16)             525      16          540
    40         LIFNR                CHAR(10)             541      10          550
    41         KUNNR                CHAR(10)             551      10          560
    42         VOLUM                CHAR(5)              561       5          565
    43         MEINS                CHAR(3)              566       3          568
    44         MESSAGE1 (DI)        CHAR(15)             569      15          583  
    45         MESSAGE1 - Other     CHAR(57)             569      72          640
    46         MESSAGE2             CHAR(72)             584      72          712
    47         MESSAGE3             CHAR(72)             713      72          784
    48         MESSAGE4             CHAR(72)             785      72          856
    49         MESSAGE5             CHAR(72)             857      72          928
    50         II_BASE              DECIMAL(18,2)        929      18          946
    51         II_OTHER             DECIMAL(18,2)        947      18          964
    52         II_EXCLUDED          DECIMAL(18,2)        965      18          982
    53         II_RATE              DECIMAL(9,2)         983       9          991
    54         II_VAL               DECIMAL(18,2)        992      18         1009
    */

    /*
    Tipo do Material      CFOP     PO no SAP      PO na DI       NF_CLASS (EP)
    Matéria-Prima         3101     5XXXXXXXXX     5XXXXXXXXX     1
    Matéria-Prima         3101     SXXXXXXXXX     SXXXXXXXXX     9
    Produto Acabado       3102     5XXXXXXXXX     5XXXXXXXXX     1
    Consumo e Amostra     3556     Não existe     SXXXXXXXXX     9
    Outra entrada de mer  3949     Não existe     SXXXXXXXXX     9
    Ativo Fixo            3551     5XXXXXXXXX     5XXXXXXXXX     1
    NF Container          3494     5XXXXXXXXX     5XXXXXXXXX     3
    NF Container          3494     Não existe     SXXXXXXXXX     7
    Nota Complementar     3551     5XXXXXXXXX     5XXXXXXXXX     2
    Nota Complementar     XXXX     Não existe     SXXXXXXXXX     8
    */

    DECLARE @NR_PROC_ID CHAR(10)
    DECLARE @NR_PLANTA  CHAR(20)
    
    SELECT @NR_PROC_ID = CD_REFERENCIA
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND TP_REFERENCIA = '04'

    SELECT TOP 1 @NR_PLANTA = POI.NR_PLANTA
    FROM TDETALHE_MERCADORIA DM
       INNER JOIN TPO_ITEM POI ON POI.NR_PROCESSO = DM.NR_PROC_PO
                              AND POI.NR_ITEM_CLIENTE = DM.NR_ITEM_PO
                              AND POI.NR_PARCIAL = DM.NR_PARCIAL
    WHERE DM.NR_PROCESSO = @NR_PROCESSO
      AND ISNULL(POI.NR_PLANTA, '') <> ''

    INSERT INTO @TB_NF
    SELECT @NR_PROC_ID,
           CONVERT(TEXT, CONVERT(CHAR(1), CASE WHEN ISNULL(@CD_CFOP, '') = '3101' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '1'
                                               WHEN ISNULL(@CD_CFOP, '') = '3101' AND LEFT(DM.NR_PROC_PO, 1) = 'S' THEN '9'
                                               WHEN ISNULL(@CD_CFOP, '') = '3102' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '1'
                                               WHEN ISNULL(@CD_CFOP, '') = '3556' AND LEFT(DM.NR_PROC_PO, 1) = 'S' THEN '9'
                                               WHEN ISNULL(@CD_CFOP, '') = '3949' /*AND LEFT(DM.NR_PROC_PO, 1) = 'S'*/ THEN '9'
                                               WHEN ISNULL(@CD_CFOP, '') = '3551' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '1'
                                               WHEN ISNULL(@CD_CFOP, '') = '3494' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '3'
                                               WHEN ISNULL(@CD_CFOP, '') = '3494' AND LEFT(DM.NR_PROC_PO, 1) = 'S' THEN '7'
                                               WHEN ISNULL(@CD_CFOP, '') = '3551' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '2'
                                               WHEN ISNULL(@CD_CFOP, '') = ''     AND LEFT(DM.NR_PROC_PO, 1) = 'S' THEN '8'
                                          ELSE '0'
                                          END) + -- 01
           CONVERT(CHAR(20), SUBSTRING(NR_DECLARACAO_IMP, 1, 2) + '/' + SUBSTRING(NR_DECLARACAO_IMP, 3, 7) + '-' + SUBSTRING(NR_DECLARACAO_IMP, 10, 1)) + -- 02
           CONVERT(CHAR(4), @NR_PLANTA) + -- 03
           CONVERT(CHAR(10), DM.NR_PROC_PO) + -- 04
           CONVERT(CHAR(5), RIGHT('00000' + RTRIM(DM.NR_ITEM_PO), 5)) + -- 05
           --CONVERT(CHAR(10), (SELECT TOP 1 DP.CD_EXTERNO
           --                   FROM TDE_PARA DP
           --                   WHERE DP.CD_GRUPO = 'B40'
           --                     AND DP.CD_TABELA = '80'
           --                     AND DP.CD_DDBROKER = DM.CD_EXPORTADOR)) + -- 06
           CONVERT(CHAR(10), ISNULL(EE.NR_CLIENTE, '')) + -- 06
           CONVERT(CHAR(8), CONVERT(VARCHAR, YEAR(GETDATE())) + RIGHT('0' + CONVERT(VARCHAR, MONTH(GETDATE())), 2) + RIGHT('0' + CONVERT(VARCHAR, DAY(GETDATE())), 2)) + -- 07
           CONVERT(CHAR(3), AI.CD_INCOTERMS_VENDA) + -- 08
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), SUM(DM.PL_MERCADORIA))), 17) + -- 09
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), SUM(DM.PB_MERCADORIA))), 17) + -- 10
           CONVERT(CHAR(18), UPPER(DM.CD_MERCADORIA)) + -- 11
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17, 3), SUM(DM.QT_MERC_UN_COMERC))), 17) + -- 12
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(11, 2), DM.VL_BASE_CALC_II / DM.QT_MERC_UN_COMERC)), 14) + -- 13
           CONVERT(CHAR(6), @CD_CFOP + CASE IPI.PC_ALIQ_NORM_ADVAL
                                           WHEN 0 THEN '01'
                                       ELSE '00'
                                       END) + -- 14
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(14,2), 0)), 14) + -- 15
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(14,2), 0)), 14) + -- 16
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), SUM(ISNULL(DM.VL_TX_SCX_ITEM, 0) + CASE WHEN ISNULL(AI.VL_ICMS_A_RECOLHER, 0) = 0 THEN 0 ELSE DM.VL_ICMS_ITEM END))), 17) + -- 17
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(AI.VL_ICMS_A_RECOLHER, 0) = 0 THEN 0 ELSE DM.VL_BASE_ICMS_ITEM END))), 18) + -- 18
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(AI.VL_ICMS_A_RECOLHER, 0) = 0 THEN DM.VL_BASE_ICMS_ITEM ELSE 0 END))), 18) + -- 19
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 20
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), AI.PC_ICMS)), 9) + -- 21
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(AI.VL_ICMS_A_RECOLHER, 0) = 0 THEN 0 ELSE DM.VL_ICMS_ITEM END))), 18) + -- 22
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(IPI.VL_IPT_A_RECOLHER, 0) = 0 THEN 0 ELSE CASE DM.VL_IPI_ITEM
                                                                                                                                                   WHEN 0 THEN ISNULL((IPI.VL_BASE_CALC_ADVAL * (DM.VL_BASE_CALC_II + DM.VL_II_ITEM)) / (DM2.VL_BASE_II + DM2.VL_II), 0)
                                                                                                                                               ELSE ISNULL((DM.VL_IPI_ITEM * 100) / IPI.PC_ALIQ_NORM_ADVAL, 0)
                                                                                                                                               END END))), 18) + -- 23
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(IPI.VL_IPT_A_RECOLHER, 0) = 0 THEN CASE DM.VL_IPI_ITEM
                                                                                                                                            WHEN 0 THEN ISNULL((IPI.VL_BASE_CALC_ADVAL * (DM.VL_BASE_CALC_II + DM.VL_II_ITEM)) / (DM2.VL_BASE_II + DM2.VL_II), 0)
                                                                                                                                        ELSE ISNULL((DM.VL_IPI_ITEM * 100) / IPI.PC_ALIQ_NORM_ADVAL, 0)
                                                                                                                                        END ELSE 0 END))), 18) + -- 24
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 25
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), ISNULL(IPI.PC_ALIQ_NORM_ADVAL, 0))), 9) + -- 26
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(IPI.VL_IPT_A_RECOLHER, 0) = 0 THEN 0 ELSE DM.VL_IPI_ITEM END))), 18) + -- 27
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(AI.VL_PIS, 0) = 0 THEN 0 ELSE ISNULL((DM.VL_PIS_ITEM * 100) / AI.ALIQ_PIS, 0) END))), 18) + -- 28
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(AI.VL_PIS, 0) = 0 THEN ISNULL((DM.VL_PIS_ITEM * 100) / AI.ALIQ_PIS, 0) ELSE 0 END))), 18) + -- 29
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 30
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), AI.ALIQ_PIS)), 9) + -- 31
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(AI.VL_PIS, 0) = 0 THEN 0 ELSE DM.VL_PIS_ITEM END))), 18) + -- 32
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(AI.VL_COFINS, 0) = 0 THEN 0 ELSE ISNULL((DM.VL_COFINS_ITEM * 100) / AI.ALIQ_COFINS, 0) END))), 18) + -- 33
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(AI.VL_COFINS, 0) = 0 THEN ISNULL((DM.VL_COFINS_ITEM * 100) / AI.ALIQ_COFINS, 0) ELSE 0 END))), 18) + -- 34
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 35
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), AI.ALIQ_COFINS)), 9) + -- 36
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(AI.VL_COFINS, 0) = 0 THEN 0 ELSE DM.VL_COFINS_ITEM END))), 18) + -- 37
           CONVERT(CHAR(5), 'DWXA') + -- 38
           CONVERT(CHAR(16), DM.NR_FATURA) + -- 39
           CONVERT(CHAR(10), ISNULL((SELECT TOP 1 RTRIM(CD_EXTERNO)
                                     FROM TDE_PARA
                                     WHERE CD_TABELA = '86'
                                       AND CD_GRUPO = 'B40'
                                       AND CD_DDBROKER = P.CD_TRANSP_NAC), '')) + -- 40
           CONVERT(CHAR(10), ISNULL((SELECT TOP 1 PC.CD_LOCAL_ENTREGA
                                     FROM TPROCESSO_CNTR PC
                                     WHERE PC.NR_PROCESSO = DI.NR_PROCESSO), ISNULL((SELECT TOP 1 PC.CD_LOCAL_ENTREGA
                                                                                     FROM TPROCESSO_CARGA_SOLTA PC
                                                                                     WHERE PC.NR_PROCESSO = DI.NR_PROCESSO), ''))) + -- 41
           CONVERT(CHAR(5), RIGHT('00000' + CASE P.TP_ESTUFAGEM
                                                WHEN '1' THEN (SELECT CONVERT(VARCHAR, COUNT(*))
                                                               FROM TPROCESSO_CNTR PC
                                                               WHERE PC.NR_PROCESSO = DI.NR_PROCESSO)
                                            ELSE ISNULL((SELECT CONVERT(VARCHAR, SUM(VL_QTDE))
                                                         FROM TPROCESSO_CARGA_SOLTA PC
                                                         WHERE PC.NR_PROCESSO = DI.NR_PROCESSO), '0')
                                            END, 5)) + -- 42
           CONVERT(CHAR(3), ISNULL((SELECT TOP 1 RTRIM(DP.CD_EXTERNO)
                                    FROM TEMBALAGEM_CARGA EC
                                      INNER JOIN TDE_PARA DP ON DP.CD_DDBROKER = EC.CD_TIPO_EMBALAGEM
                                    WHERE EC.NR_PROCESSO = DI.NR_PROCESSO
                                      AND DP.CD_TABELA = '82'
                                      AND DP.CD_GRUPO = 'B40'
                                    ORDER BY EC.CD_TIPO_EMBALAGEM), '')) + -- 43
                                    
		   /* 44: Add por Leandro, Jira IMPO-146 04/04/16 */                         	
           CONVERT(CHAR(15), SUBSTRING(NR_DECLARACAO_IMP, 1, 2) + '/' + SUBSTRING(NR_DECLARACAO_IMP, 3, 7) + '-' + SUBSTRING(NR_DECLARACAO_IMP, 10, 1)) + -- 44 
                                    
           CONVERT(CHAR(345), (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCAT(RIGHT('00' + RTRIM(EC.QT_VOLUME_CARGA), 2) + ' ' + UPPER(RTRIM(E.DESCRICAO)) + ', '), ', ')
                               FROM TEMBALAGEM_CARGA EC
                                  INNER JOIN TTP_EMBALAGEM E ON E.Codigo = EC.CD_TIPO_EMBALAGEM
                               WHERE EC.NR_PROCESSO = DI.NR_PROCESSO) + ' - ' +
                              (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(LES.CD_LOCAL_ENTREGA) + ' - ' + RTRIM(LES.NM_LOCAL_ENTREGA) + ' - ' + RTRIM(LES.DS_LOCAL_ENTREGA) + ' - '), ' - ')
                               FROM TPROCESSO_CNTR PC
                                  INNER JOIN TLOCAL_ENTREGA_SAMSUNG LES ON LES.CD_LOCAL_ENTREGA = PC.CD_LOCAL_ENTREGA
                               WHERE PC.NR_PROCESSO = DI.NR_PROCESSO) +
                              (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(LES.CD_LOCAL_ENTREGA) + ' - ' + RTRIM(LES.NM_LOCAL_ENTREGA) + ' - ' + RTRIM(LES.DS_LOCAL_ENTREGA) + ' - '), ' - ')
                               FROM TPROCESSO_CARGA_SOLTA PC
                                  INNER JOIN TLOCAL_ENTREGA_SAMSUNG LES ON LES.CD_LOCAL_ENTREGA = PC.CD_LOCAL_ENTREGA
                               WHERE PC.NR_PROCESSO = DI.NR_PROCESSO) + ' - ' +
                              'N/Ref: ' + RTRIM(DI.NR_PROCESSO)) + -- 45, 46, 47, 48, 49
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(II.VL_IPT_A_RECOLHER, 0) = 0 THEN 0 ELSE DM.VL_BASE_CALC_II END))), 18) + -- 50
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(II.VL_IPT_A_RECOLHER, 0) = 0 THEN DM.VL_BASE_CALC_II ELSE 0 END))), 18) + -- 51
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 52
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), II.PC_ALIQ_NORM_ADVAL)), 9) + -- 53
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), SUM(CASE WHEN ISNULL(II.VL_IPT_A_RECOLHER, 0) = 0 THEN 0 ELSE DM.VL_II_ITEM END))), 18) + -- 54
           '0' + 
           CONVERT(CHAR(3), '')) AS TX_LINHA
    FROM TDECLARACAO_IMPORTACAO DI
       INNER JOIN TDETALHE_MERCADORIA DM ON DM.NR_PROCESSO = DI.NR_PROCESSO
       INNER JOIN (SELECT NR_PROCESSO, NR_ADICAO, SUM(ISNULL(VL_BASE_CALC_II, 0)) AS VL_BASE_II, SUM(ISNULL(VL_II_ITEM, 0)) AS VL_II
                   FROM TDETALHE_MERCADORIA
                   GROUP BY NR_PROCESSO, NR_ADICAO) AS DM2 ON DM2.NR_PROCESSO = DM.NR_PROCESSO
                                                          AND DM2.NR_ADICAO = DM.NR_ADICAO
       --INNER JOIN TPO_ITEM POI ON POI.NR_PROCESSO = DM.NR_PROC_PO
       --                       AND POI.NR_ITEM_CLIENTE = DM.NR_ITEM_PO
       --                       AND POI.NR_PARCIAL = DM.NR_PARCIAL
       INNER JOIN TADICAO_DE_IMPORTACAO AI ON AI.NR_PROCESSO = DM.NR_PROCESSO
                                          AND AI.NR_ADICAO = DM.NR_ADICAO
       INNER JOIN TPROCESSO P ON P.NR_PROCESSO = DI.NR_PROCESSO
       LEFT  JOIN TRIBUTO II ON II.NR_PROCESSO = DM.NR_PROCESSO
                            AND II.NR_ADICAO = DM.NR_ADICAO
                            AND II.CD_RECEITA_IMPOSTO = '0001'
       LEFT  JOIN TRIBUTO IPI ON IPI.NR_PROCESSO = DM.NR_PROCESSO
                             AND IPI.NR_ADICAO = DM.NR_ADICAO
                             AND IPI.CD_RECEITA_IMPOSTO = '0002'
       LEFT  JOIN TEMPRESA_EST EE ON EE.CD_EMPRESA = DM.CD_EXPORTADOR
    WHERE DI.NR_PROCESSO = @NR_PROCESSO
    GROUP BY NR_DECLARACAO_IMP,
             --POI.NR_PLANTA,
             DM.NR_PROC_PO,
             DM.NR_ITEM_PO,
             EE.NR_CLIENTE,
             AI.CD_INCOTERMS_VENDA,
             DM.CD_MERCADORIA,
             AI.PC_ICMS,
             IPI.PC_ALIQ_NORM_ADVAL,
             AI.ALIQ_PIS,
             AI.ALIQ_COFINS,
             DM.NR_FATURA,
             P.CD_TRANSP_NAC,
             DI.NR_PROCESSO,
             II.PC_ALIQ_NORM_ADVAL,
             P.TP_ESTUFAGEM,
             CONVERT(DECIMAL(11, 2), DM.VL_BASE_CALC_II / DM.QT_MERC_UN_COMERC)
    ORDER BY DM.NR_PROC_PO, DM.NR_ITEM_PO

    /*
    SELECT *
    FROM @TB_NF
    ORDER BY NR_LINHA
    --*/RETURN
END

GO
