USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [FN_KPI_CORRIDOS](@DT1 DATETIME, @DT2 DATETIME) RETURNS INT AS
BEGIN
	DECLARE @QNTD_FERIADO INT
	DECLARE @QNTD_FINALSEMANA INT
	DECLARE @DTCONTADOR DATETIME

	IF (@DT1 ='1900-01-01 00:00:00.000')  OR  (@DT2 = '1900-01-01 00:00:00.000')
	BEGIN
		RETURN NULL
	END

	 RETURN DATEDIFF(day,@DT1,@DT2) 
	
END

GO
