USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_DIAS_UTEIS](@DT1 DATETIME, @DT2 DATETIME) RETURNS INT AS
BEGIN
    DECLARE @DiasSemana INT
    DECLARE @Feriados   INT
    DECLARE @Result     INT

    SELECT @DiasSemana = DBO.FN_DIAS_DE_SEMANA(@DT1, @DT2)

    SELECT @Feriados = COUNT(*)
    FROM TFERIADO
    WHERE DT_FERIADO BETWEEN @DT1 AND @DT2
      AND DATEPART(DW, DT_FERIADO) NOT IN (1, 7)

    SET @Result = @DiasSemana - @Feriados

    --/*
    RETURN @Result
    --*/ SELECT @Result
END

GO
