USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_REFERENCIAS](@NR_PROCESSO CHAR(18), @SEPARADOR CHAR(1), @REF CHAR(2), @REF_ALTERNATIVA CHAR(2)) RETURNS VARCHAR(4000)
BEGIN
    DECLARE @RETORNO VARCHAR(4000)

    SELECT @RETORNO = MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCATLEFT(RTRIM(CD_REFERENCIA) + @SEPARADOR + ' '), @SEPARADOR + ' ')
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND TP_REFERENCIA = @REF

    IF (ISNULL(@RETORNO, '') = '') AND (ISNULL(@REF_ALTERNATIVA, '') <> '')
        SELECT @RETORNO = MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCATLEFT(RTRIM(CD_REFERENCIA) + @SEPARADOR + ' '), @SEPARADOR + ' ')
        FROM TREF_CLIENTE
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND TP_REFERENCIA = @REF_ALTERNATIVA

    RETURN @RETORNO
END

GO
