USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_NF_SAMSUNG_FILHOTE](@NR_PROCESSO CHAR(18), @NR_ADICAO CHAR(3), @NR_ITEM CHAR(3), @QT_USAR FLOAT, @NR_CNTR CHAR(15)) RETURNS @TB_NF TABLE (
                                                                                                                                                         NR_LINHA        INT IDENTITY(1, 1),
                                                                                                                                                         NR_PROC_ID      CHAR(15),
                                                                                                                                                         NR_CONHECIMENTO CHAR(30),
                                                                                                                                                         NR_CNTR         CHAR(15),
                                                                                                                                                         TX_LINHA        VARCHAR(MAX)
                                                                                                                                                     ) AS --*/
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18) = '0101IM-010536-14'
    DECLARE @NR_ADICAO   CHAR(3)  = '002'
    DECLARE @NR_ITEM     CHAR(3)  = '001'
    DECLARE @QT_USAR     FLOAT    = 40
    DECLARE @NR_CNTR     CHAR(15) = 'CAXU8016239'

    --SELECT QT_MERC_UN_COMERC FROM TDETALHE_MERCADORIA WHERE NR_PROCESSO = @NR_PROCESSO AND NR_ADICAO = @NR_ADICAO AND NR_ITEM = @NR_ITEM

    DECLARE @TB_NF TABLE (
                NR_LINHA        INT IDENTITY(1, 1),
                 NR_PROC_ID      CHAR(15),
                 NR_CONHECIMENTO CHAR(30),
                 NR_CNTR         CHAR(15),
                 TX_LINHA        VARCHAR(MAX)
            )
    --*/

    DECLARE @CD_CFOP     CHAR(4)  = '3949'
    DECLARE @NR_DOC_NUM  CHAR(10) = ''
    DECLARE @NR_NOTA     CHAR(15) = 'CNTR0123456789'
    DECLARE @NR_PLANTA   CHAR(20)

    SELECT @NR_DOC_NUM = NR_DOCUMENTO,
           @NR_NOTA = RIGHT('000000000' + RTRIM(NF.NR_NOTA), 9)
    FROM TPROCESSO_NF NF
    WHERE NF.NR_PROCESSO = @NR_PROCESSO
    ORDER BY NF.VL_NOTA DESC

    SELECT TOP 1 @NR_PLANTA = POI.NR_PLANTA
    FROM TDETALHE_MERCADORIA DM
       INNER JOIN TPO_ITEM POI ON POI.NR_PROCESSO = DM.NR_PROC_PO
                              AND POI.NR_ITEM_CLIENTE = DM.NR_ITEM_PO
                              AND POI.NR_PARCIAL = DM.NR_PARCIAL
    WHERE DM.NR_PROCESSO = @NR_PROCESSO
      AND ISNULL(POI.NR_PLANTA, '') <> ''

    /*
    Índice     Field Name           Type                Begin     Length     End
    01         NF_CLASS             CHAR(1)                1        1           1
    02         DI_NUMBER            CHAR(20)               2       20          21
    03         PLANT                CHAR(4)               22        4          25
    04         PO_NUMBER            CHAR(10)              26       10          35
    05         PO_ITEM              CHAR(5)               36        5          40
    06         VENDOR               CHAR(10)              41       10          50
    07         DATE                 CHAR(8)               51        8          58
    08         INCO                 CHAR(3)               59        3          61
    09         NET_WT               DECIMAL(17,3)         62       17          78
    10         NET_GR               DECIMAL(17,3)         79       17          95
    11         MATERIAL             CHAR(18)              96       18         113
    12         QTY                  DECIMAL(17,3)        114       17         130
    13         PRICE                DECIMAL(14,2)        131       14         144
    14         CFOP                 CHAR(6)              145        6         150
    15         FREIGHT              DECIMAL(14,2)        151       14         164
    16         INSU                 DECIMAL(14,2)        165       14         178
    17         EXPENSES             DECIMAL(17,3)        179       17         195
    18         ICMS_BASE            DECIMAL(18,2)        196       18         213
    19         ICMS_OTHER           DECIMAL(18,2)        214       18         231
    20         ICMS_EXCLUDED        DECIMAL(18,2)        232       18         249
    21         ICMS_RATE            DECIMAL(9,2)         250        9         258
    22         ICMS_VAL             DECIMAL(18,2)        259       18         276
    23         IPI_BASE             DECIMAL(18,2)        277       18         294
    24         IPI_OTHER            DECIMAL(18,2)        295       18         312
    25         IPI_EXCLUDED         DECIMAL(18,2)        313       18         330
    26         IPI_RATE             DECIMAL(9,2)         331        9         339
    27         IPI_VAL              DECIMAL(18,2)        340       18         357
    28         PIS_BASE             DECIMAL(18,2)        358       18         375
    29         PIS_OTHER            DECIMAL(18,2)        376       18         393
    30         PIS_EXCLUDED         DECIMAL(18,2)        394       18         411
    31         PIS_RATE             DECIMAL(9,2)         412        9         420
    32         PIS_VAL              DECIMAL(18,2)        421       18         438
    33         COFINS_BASE          DECIMAL(18,2)        439       18         456
    34         COFINS_OTHER         DECIMAL(18,2)        457       18         474
    35         COFINS_EXCLUDED      DECIMAL(18,2)        475       18         492
    36         COFINS_RATE          DECIMAL(9,2)         493        9         501
    37         COFINS_VAL           DECIMAL(18,2)        502       18         519
    38         BROKER               CHAR(5)              520        5         524
    39         INV_NUMBER           CHAR(16)             525       16         540
    40         NF_ORIGEM            CHAR(10)             541       10         550
    41         LIFNR                CHAR(10)             551       10         560
    42         KUNNR                CHAR(10)             561       10         570
    43         VOLUM                CHAR(5)              571        5         575
    44         MEINS                CHAR(3)              576        3         578
    45         MESSAGE1 (DI)		CHAR(15)             579	   15         593
    46         MESSAGE1 (Container)	CHAR(15)             594	   15         608
    47         MESSAGE1 (Other)		CHAR(42)             609	   42         650
    48         MESSAGE2             CHAR(72)             651       72         722
    49         MESSAGE3             CHAR(72)             723       72         794
    50         MESSAGE4             CHAR(72)             795       72         866
    51         MESSAGE5             CHAR(72)             867       72         938
    52         II_BASE              DECIMAL(18,2)        939       18         956
    53         II_OTHER             DECIMAL(18,2)        957       18         974
    54         II_EXCLUDED          DECIMAL(18,2)        975       18         992
    55         II_RATE              DECIMAL(9,2)         993        9        1001
    56         II_VAL               DECIMAL(18,2)       1002       18        1019
    */

    /*
    Tipo do Material      CFOP     PO no SAP      PO na DI       NF_CLASS (EP)
    Matéria-Prima         3101     5XXXXXXXXX     5XXXXXXXXX     1
    Matéria-Prima         3101     SXXXXXXXXX     SXXXXXXXXX     9
    Produto Acabado       3102     5XXXXXXXXX     5XXXXXXXXX     1
    Consumo e Amostra     3556     Não existe     SXXXXXXXXX     9
    Outra entrada de mer  3949     Não existe     SXXXXXXXXX     9
    Ativo Fixo            3551     5XXXXXXXXX     5XXXXXXXXX     1
    Nota Complementar     3551     5XXXXXXXXX     5XXXXXXXXX     2
    Nota Complementar     XXXX     Não existe     SXXXXXXXXX     8
    NF Container          3494     5XXXXXXXXX     5XXXXXXXXX     3
    NF Container          3494     Não existe     SXXXXXXXXX     7
    */

    DECLARE @NR_PROC_ID CHAR(10)
    
    SELECT @NR_PROC_ID = CD_REFERENCIA
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND TP_REFERENCIA = '04'

    INSERT INTO @TB_NF
    SELECT @NR_PROC_ID,
           P.NR_CONHECIMENTO,
           @NR_CNTR AS NR_CNTR,
           CONVERT(TEXT, CONVERT(CHAR(1), CASE WHEN ISNULL(@CD_CFOP, '') = '3101' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '1'
                                               WHEN ISNULL(@CD_CFOP, '') = '3101' AND LEFT(DM.NR_PROC_PO, 1) = 'S' THEN '9'
                                               WHEN ISNULL(@CD_CFOP, '') = '3102' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '1'
                                               WHEN ISNULL(@CD_CFOP, '') = '3556' AND LEFT(DM.NR_PROC_PO, 1) = 'S' THEN '9'
                                               WHEN ISNULL(@CD_CFOP, '') = '3949' /*AND LEFT(DM.NR_PROC_PO, 1) = 'S'*/ THEN '3'
                                               WHEN ISNULL(@CD_CFOP, '') = '3551' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '1'
                                               WHEN ISNULL(@CD_CFOP, '') = '3494' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '3'
                                               WHEN ISNULL(@CD_CFOP, '') = '3494' AND LEFT(DM.NR_PROC_PO, 1) = 'S' THEN '7'
                                               WHEN ISNULL(@CD_CFOP, '') = '3551' AND LEFT(DM.NR_PROC_PO, 1) = '5' THEN '2'
                                               WHEN ISNULL(@CD_CFOP, '') = ''     AND LEFT(DM.NR_PROC_PO, 1) = 'S' THEN '8'
                                          ELSE '1'
                                          END) + -- 01
           CONVERT(CHAR(20), SUBSTRING(NR_DECLARACAO_IMP, 1, 2) + '/' + SUBSTRING(NR_DECLARACAO_IMP, 3, 7) + '-' + SUBSTRING(NR_DECLARACAO_IMP, 10, 1)) + -- 02
           CONVERT(CHAR(4), @NR_PLANTA) + -- 03
           CONVERT(CHAR(10), DM.NR_PROC_PO) + -- 04
           CONVERT(CHAR(5), RIGHT('00000' + DM.NR_ITEM_PO, 5)) + -- 05
           CONVERT(CHAR(10), ISNULL(EE.NR_CLIENTE, '')) + -- 06
           CONVERT(CHAR(8), CONVERT(VARCHAR, YEAR(GETDATE())) + RIGHT('0' + CONVERT(VARCHAR, MONTH(GETDATE())), 2) + RIGHT('0' + CONVERT(VARCHAR, DAY(GETDATE())), 2)) + -- 07
           CONVERT(CHAR(3), AI.CD_INCOTERMS_VENDA) + -- 08
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), (DM.PL_MERCADORIA / DM.QT_MERC_UN_COMERC) * @QT_USAR)), 17) + -- 09
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), (DM.PB_MERCADORIA / DM.QT_MERC_UN_COMERC) * @QT_USAR)), 17) + -- 10
           CONVERT(CHAR(18), UPPER(DM.CD_MERCADORIA)) + -- 11
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17, 3), @QT_USAR)), 17) + -- 12
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(11, 2), (DM.VL_BASE_CALC_II) / DM.QT_MERC_UN_COMERC)), 14) + -- 13
           CONVERT(CHAR(6), @CD_CFOP) + -- 14
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(14,2), 0)), 14) + -- 15
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(14,2), 0)), 14) + -- 16
           RIGHT('00000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(17,3), 0)), 17) + -- 17
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 18
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 19
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), (DM.VL_BASE_ICMS_ITEM / DM.QT_MERC_UN_COMERC) * @QT_USAR)), 18) + -- 20
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), AI.PC_ICMS)), 9) + -- 21
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 22
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 23
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 24
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), (DM.VL_BASE_ICMS_ITEM / DM.QT_MERC_UN_COMERC) * @QT_USAR)), 18) + -- 25
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), ISNULL(IPI.PC_ALIQ_NORM_ADVAL, 0))), 9) + -- 26
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 27
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 28
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 29
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), (DM.VL_BASE_ICMS_ITEM / DM.QT_MERC_UN_COMERC) * @QT_USAR)), 18) + -- 30
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), AI.ALIQ_PIS)), 9) + -- 31
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 32
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 33
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 34
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), (DM.VL_BASE_ICMS_ITEM / DM.QT_MERC_UN_COMERC) * @QT_USAR)), 18) + -- 35
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), AI.ALIQ_COFINS)), 9) + -- 36
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 37
           CONVERT(CHAR(5), 'DWXA') + -- 38
           CONVERT(CHAR(16), DM.NR_FATURA) + -- 39
           CONVERT(CHAR(10), @NR_DOC_NUM) + -- 40
           CONVERT(CHAR(10), ISNULL((SELECT TOP 1 RTRIM(CD_EXTERNO)
                                     FROM TDE_PARA
                                     WHERE CD_TABELA = '86'
                                       AND CD_GRUPO = 'B40'
                                       AND CD_DDBROKER = P.CD_TRANSP_NAC), '')) + -- 41
           CONVERT(CHAR(10), ISNULL(PC.CD_LOCAL_ENTREGA, '')) + -- 42
           CONVERT(CHAR(5), '00001') + -- 43
           CONVERT(CHAR(3), 'Z01') + -- 44
           /*Inserido itens 45 e 46 por Leandro 05/04/16 (Jira: IMPO-146)*/
           CONVERT(CHAR(15), SUBSTRING(NR_DECLARACAO_IMP, 1, 2) + '/' + SUBSTRING(NR_DECLARACAO_IMP, 3, 7) + '-' + SUBSTRING(NR_DECLARACAO_IMP, 10, 1)) + -- 45           
		   @NR_CNTR + --46         
           CONVERT(CHAR(330), (SELECT '01 ' + UPPER(RTRIM(E.DESCRICAO))
                               FROM TTP_EMBALAGEM E
                               WHERE E.CODIGO = '08') + ' - ' +
                              /*RTRIM(@NR_CNTR) + ' - ' +*/
                              'SIMPLES REMESSA PARA TRANSPORTE FRACIONADO. REFERENTE A NOSSA NOTA FISCAL NR. ' + @NR_NOTA + ' - ' +
                              'N/Ref: ' + RTRIM(DI.NR_PROCESSO)) + -- 47, 48, 49, 50, 51
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 52
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18) + -- 53
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), (DM.VL_BASE_CALC_II / DM.QT_MERC_UN_COMERC) * @QT_USAR)), 18) + -- 54
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(9,2), II.PC_ALIQ_NORM_ADVAL)), 9) + -- 55
           RIGHT('000000000000000000' + CONVERT(VARCHAR, CONVERT(DECIMAL(18,2), 0)), 18)) AS TX_LINHA -- 56
    FROM TDECLARACAO_IMPORTACAO DI
       INNER JOIN TDETALHE_MERCADORIA DM ON DM.NR_PROCESSO = DI.NR_PROCESSO
       --INNER JOIN TPO_ITEM POI ON POI.NR_PROCESSO = DM.NR_PROC_PO
       --                       AND POI.NR_ITEM_CLIENTE = DM.NR_ITEM_PO
       --                       AND POI.NR_PARCIAL = DM.NR_PARCIAL
       INNER JOIN TPROCESSO_CNTR PC ON PC.NR_PROCESSO = DM.NR_PROCESSO
                                   AND PC.NR_CNTR = @NR_CNTR
       INNER JOIN TADICAO_DE_IMPORTACAO AI ON AI.NR_PROCESSO = DM.NR_PROCESSO
                                          AND AI.NR_ADICAO = DM.NR_ADICAO
       INNER JOIN TPROCESSO P ON P.NR_PROCESSO = DI.NR_PROCESSO
       LEFT  JOIN TRIBUTO II ON II.NR_PROCESSO = DM.NR_PROCESSO
                            AND II.NR_ADICAO = DM.NR_ADICAO
                            AND II.CD_RECEITA_IMPOSTO = '0001'
       LEFT  JOIN TRIBUTO IPI ON IPI.NR_PROCESSO = DM.NR_PROCESSO
                             AND IPI.NR_ADICAO = DM.NR_ADICAO
                             AND IPI.CD_RECEITA_IMPOSTO = '0002'
       LEFT  JOIN TEMPRESA_EST EE ON EE.CD_EMPRESA = DM.CD_EXPORTADOR
    WHERE DI.NR_PROCESSO = @NR_PROCESSO
      AND DM.NR_ADICAO = @NR_ADICAO
      AND DM.NR_ITEM = @NR_ITEM

    /*
    SELECT *
    FROM @TB_NF
    ORDER BY NR_LINHA
    --*/ RETURN
END

GO
