USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_COPIA_APENAS](@TEXTO VARCHAR(1000), @ACEITAVEL VARCHAR(1000)) RETURNS VARCHAR(1000) AS
BEGIN
    --DECLARE @TEXTO VARCHAR(1000) = 'SUDU242978616WSF              '
    --DECLARE @ACEITAVEL VARCHAR(1000) = '0123456789'

    DECLARE @RETORNO VARCHAR(1000) = ''

    SET @TEXTO = RTRIM(@TEXTO)

    WHILE (@TEXTO <> '')
    BEGIN
        IF CHARINDEX(LEFT(@TEXTO, 1), @ACEITAVEL) > 0
            SELECT @RETORNO = @RETORNO + LEFT(@TEXTO, 1)

        SET @TEXTO = RIGHT(@TEXTO, LEN(@TEXTO) -1)
    END

    /*
    SELECT @RETORNO
    --*/RETURN @RETORNO
END

GO
