USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_DIVIDE] (@VALOR FLOAT, @DIVISOR FLOAT) RETURNS FLOAT
BEGIN
  IF ISNULL(@DIVISOR, 0) = 0
    SET @VALOR = 0
  ELSE
    SET @VALOR = ROUND(@VALOR/@DIVISOR,2)
  RETURN @VALOR
END

GO
