USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_LOCALIZAR](@TEXTO VARCHAR(1000), @ESCAPE VARCHAR(100)) RETURNS @TB_RETORNO TABLE (
                                                                                     OBJECT_ID     INT,
                                                                                     OBJECT_NAME   VARCHAR(255),
                                                                                     TRIGGER_TABLE VARCHAR(255),
                                                                                     TEXT          VARCHAR(MAX)
                                                                                 ) AS
BEGIN
    IF CHARINDEX('%', @TEXTO) = 0
        SET @TEXTO = '%' + @TEXTO + '%'

    IF ISNULL(@ESCAPE, '') = ''
        INSERT INTO @TB_RETORNO
        SELECT ID AS OBJECT_ID, O.NAME AS OBJECT_NAME, TB.NAME AS TRIGGER_TABLE, TEXT
        FROM SYSCOMMENTS C
           INNER JOIN SYS.ALL_OBJECTS O ON O.OBJECT_ID = C.ID
           LEFT  JOIN SYS.TRIGGERS TR ON TR.OBJECT_ID = C.ID
           LEFT  JOIN SYS.TABLES TB ON TB.OBJECT_ID = TR.PARENT_ID
        WHERE ID IN (SELECT ID FROM SYSCOMMENTS WHERE TEXT LIKE @TEXTO)
          AND C.COLID = 1
    ELSE
        INSERT INTO @TB_RETORNO
        SELECT ID AS OBJECT_ID, O.NAME AS OBJECT_NAME, TB.NAME AS TRIGGER_TABLE, TEXT
        FROM SYSCOMMENTS C
           INNER JOIN SYS.ALL_OBJECTS O ON O.OBJECT_ID = C.ID
           LEFT  JOIN SYS.TRIGGERS TR ON TR.OBJECT_ID = C.ID
           LEFT  JOIN SYS.TABLES TB ON TB.OBJECT_ID = TR.PARENT_ID
        WHERE ID IN (SELECT ID FROM SYSCOMMENTS WHERE TEXT LIKE @TEXTO ESCAPE @ESCAPE)
          AND C.COLID = 1

    RETURN
END

GO
