USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [FN_CO_FIESP](@NR_PROCESSO char(18), @NR_PEDIDO char(18), @CD_ACORDO char(10),  @IN_CLIENTE_EXPORTADOR CHAR(1)) 
       RETURNS @TABELA TABLE (
       NR_PROCESSO	char(18),
       NR_PEDIDO	char(18),
       CD_DECLARACAO	varchar(10),
       DT_VALIDADE	datetime,
       CD_NCM_NALADI	char(11),
       CD_UNID_MEDIDA	char(3),
       NM_UNID_MEDIDA	char(50),
       DESCRICAO_NCM_NALADI	varchar(255),
       NM_DECLARACAO	varchar(3000),
       CD_NORMAS	char(10),
       NM_NORMA	varchar(200),
       Qtd_MERCADORIA	float,
       Peso_Liquido	float,
       Peso_Bruto	float,
       Valor_FOB	float,
       CD_MERCADORIA	char(40),
       NM_MERCADORIA  varchar(8000),
       NR_ITEM char(3)
       )  AS

BEGIN
    
    --FAZ LEFT JOIN PELO EXPORTADOR
    IF @IN_CLIENTE_EXPORTADOR='0' BEGIN    
      INSERT INTO @TABELA

      select distinct
        i.NR_PROCESSO 
       ,i.NR_PEDIDO
      
       ,Isnull( me.CD_DECLARACAO_PREFERENCIAL, ( case when 
                                                    ( select count(df2.cd_declaracao)  
                                                      from TDeclaracoes_Fiesp df2  
                                                      where df2.CD_EMPRESA=df.CD_EMPRESA and df2.CD_NCM_NALADI=df.CD_NCM_NALADI and df2.CD_ACORDO_FIESP=df.CD_ACORDO_FIESP
                                                    ) > 1 then '-' else isnull(df.CD_DECLARACAO,'') end 
                                               )
              ) CD_DECLARACAO

    
      --, (select df3.DT_VALIDADE from TDECLARACOES_FIESP df3 where df3.CD_EMPRESA=df.CD_EMPRESA and df3.CD_NCM_NALADI=df.CD_NCM_NALADI and df3.CD_ACORDO_FIESP=df.CD_ACORDO_FIESP and df3.CD_DECLARACAO=me.CD_DECLARACAO_PREFERENCIAL) dt_validade      
      , df.DT_VALIDADE       
      , case when i.CD_ACORDO='ACE 18' then i.CD_NCM else i.CD_NALADI_SH end CD_NCM_NALADI 
      , i.CD_UNID_MEDIDA
      , m.NM_UNID_MEDIDA
      , case when i.CD_ACORDO='ACE 18' then ncm.DESCRICAO else n.DESCRICAO end  DESCRICAO_NCM_NALADI 
      , df.NM_DECLARACAO
      , i.CD_NORMAS 
      , nrm.NM_DESCRICAO NM_NORMA 
      --, i.VL_TOT_PESO_LIQ Qtd_MERCADORIA 
      , i.QT_MERCADORIA Qtd_MERCADORIA 
      , i.VL_TOT_PESO_LIQ Peso_Liquido 
      , i.VL_TOT_PESO_BRUTO Peso_Bruto 
      , i.VL_MLE Valor_FOB 
      , i.CD_MERCADORIA       
      , rtrim(cast(me.nm_mercadoria as varchar(8000))) NM_MERCADORIA
      , i.NR_ITEM  --ocorrencia a ser aberto pela carla (colocar isto para apareça todos os items do processo mesmo quando ambos forem iguais, pois o distinct está trazendo somente um item)
      from TPROCESSO_EXP_ITEM i             (NOLOCK)
      jOIN TPROCESSO_EXP pe                 (NOLOCK) ON pe.NR_PROCESSO   = i.NR_PROCESSO  
      jOIN TPROCESSO pr                     (NOLOCK) ON pr.NR_PROCESSO   = i.NR_PROCESSO 
      left JOIN TUNID_MEDIDA_BROKER M       (NOLOCK) ON i.CD_UNID_MEDIDA = M.CD_UNID_MEDIDA 
      left join TNALADISH_EXP n             (NOLOCK) ON i.CD_NALADI_SH   = n.Codigo 
      left join TNCM_EXP ncm                (NOLOCK) ON i.CD_NCM         = ncm.CODIGO 
      left join TNormas nrm                      (NOLOCK) ON nrm.CODIGO       = i.CD_NORMAS 
      left join  TMERCADORIA_EXP me         (NOLOCK) ON ME.CD_MERCADORIA = I.CD_MERCADORIA 
      left join TDECLARACOES_FIESP df       (NOLOCK) ON pe.CD_EXPORTADOR = df.CD_EMPRESA and i.CD_ACORDO = df.CD_ACORDO_BROKER and df.in_ativo=1 
                                                                       and df.CD_NCM_NALADI = case when i.CD_ACORDO = 'ACE 18' then i.CD_NCM else i.CD_NALADI_SH end                                                                                
                                                                       and df.CD_DECLARACAO= Isnull( me.CD_DECLARACAO_PREFERENCIAL, ( case when 
                                                    ( select count(df2.cd_declaracao)  
                                                      from TDeclaracoes_Fiesp df2  
                                                      where df2.CD_EMPRESA=df.CD_EMPRESA and df2.CD_NCM_NALADI=df.CD_NCM_NALADI and df2.CD_ACORDO_FIESP=df.CD_ACORDO_FIESP
                                                    ) > 1 then '' else isnull(df.CD_DECLARACAO,'-') end   ) )
      where i.NR_PROCESSO=@NR_PROCESSO and i.NR_PEDIDO=@NR_PEDIDO and i.CD_ACORDO=@CD_ACORDO and ( i.CD_NORMAS <> '0'  AND i.CD_NORMAS<>'' )

    END


    --FAZ LEFT JOIN PELO CLIENTE
    IF @IN_CLIENTE_EXPORTADOR='1' BEGIN    
      INSERT INTO @TABELA

      select distinct
        i.NR_PROCESSO 
       ,i.NR_PEDIDO
      
       ,Isnull( me.CD_DECLARACAO_PREFERENCIAL, ( case when 
                                                    ( select count(df2.cd_declaracao)  
                                                      from TDeclaracoes_Fiesp df2  
                                                      where df2.CD_EMPRESA=df.CD_EMPRESA and df2.CD_NCM_NALADI=df.CD_NCM_NALADI and df2.CD_ACORDO_FIESP=df.CD_ACORDO_FIESP
                                                    ) > 1 then '' else isnull(df.CD_DECLARACAO,'-') end 
                                               )
              ) CD_DECLARACAO
      
      --, (select df3.DT_VALIDADE from TDECLARACOES_FIESP df3 where df3.CD_EMPRESA=df.CD_EMPRESA and df3.CD_NCM_NALADI=df.CD_NCM_NALADI and df3.CD_ACORDO_FIESP=df.CD_ACORDO_FIESP and df3.CD_DECLARACAO=me.CD_DECLARACAO_PREFERENCIAL) dt_validade
      , df.DT_VALIDADE
      , case when i.CD_ACORDO='ACE 18' then i.CD_NCM else i.CD_NALADI_SH end CD_NCM_NALADI 
      , i.CD_UNID_MEDIDA
      , m.NM_UNID_MEDIDA
      , case when i.CD_ACORDO='ACE 18' then ncm.DESCRICAO else n.DESCRICAO end  DESCRICAO_NCM_NALADI 
      , df.NM_DECLARACAO
      , i.CD_NORMAS 
      , nrm.NM_DESCRICAO NM_NORMA 
      --, i.VL_TOT_PESO_LIQ Qtd_MERCADORIA 
      , i.QT_MERCADORIA qtd_mercadoria
      , i.VL_TOT_PESO_LIQ Peso_Liquido 
      , i.VL_TOT_PESO_BRUTO Peso_Bruto 
      , i.VL_MLE Valor_FOB 
      , me.CD_MERCADORIA       
      , rtrim(cast(me.nm_mercadoria as varchar(8000))) NM_MERCADORIA
      , i.NR_ITEM  --ocorrencia a ser aberto pela carla (colocar isto para apareça todos os items do processo mesmo quando ambos forem iguais, pois o distinct está trazendo somente um item)      
      from TPROCESSO_EXP_ITEM i             (NOLOCK)
      jOIN TPROCESSO_EXP pe                 (NOLOCK) ON pe.NR_PROCESSO   = i.NR_PROCESSO  
      jOIN TPROCESSO pr                     (NOLOCK) ON pr.NR_PROCESSO   = i.NR_PROCESSO 
      left JOIN TUNID_MEDIDA_BROKER M       (NOLOCK) ON i.CD_UNID_MEDIDA = M.CD_UNID_MEDIDA 
      left join TNALADISH_EXP n             (NOLOCK) ON i.CD_NALADI_SH   = n.Codigo 
      left join TNCM_EXP ncm                (NOLOCK) ON i.CD_NCM         = ncm.CODIGO 
      left join TNormas nrm                 (NOLOCK) ON nrm.CODIGO       = i.CD_NORMAS 
      left join  TMERCADORIA_EXP me         (NOLOCK) ON ME.CD_MERCADORIA = I.CD_MERCADORIA 
      left join TDECLARACOES_FIESP df       (NOLOCK) ON pr.CD_CLIENTE    = df.CD_EMPRESA and i.CD_ACORDO = df.CD_ACORDO_BROKER and df.in_ativo=1 
                                                                       and df.CD_NCM_NALADI = case when i.CD_ACORDO = 'ACE 18' then i.CD_NCM else i.CD_NALADI_SH end
                                                                       and df.CD_DECLARACAO= Isnull( me.CD_DECLARACAO_PREFERENCIAL, ( case when 
                                                    ( select count(df2.cd_declaracao)  
                                                      from TDeclaracoes_Fiesp df2  
                                                      where df2.CD_EMPRESA=df.CD_EMPRESA and df2.CD_NCM_NALADI=df.CD_NCM_NALADI 
                                                                                         and df2.CD_ACORDO_FIESP=df.CD_ACORDO_FIESP
                                                    ) > 1 then '' else isnull(df.CD_DECLARACAO,'-') end  ) )
      where i.NR_PROCESSO=@NR_PROCESSO and i.NR_PEDIDO=@NR_PEDIDO and i.CD_ACORDO=@CD_ACORDO and ( i.CD_NORMAS <> '0'  AND i.CD_NORMAS<>'' )

    END


    RETURN   
    
    
END














GO
