USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_PROCESSOS_CE](@IN_DESPACHANTE_INATIVO CHAR(1)) RETURNS @TB_RETORNO TABLE (
                                                                             NR_PROCESSO     VARCHAR(18),
                                                                             NM_CLIENTE      VARCHAR(255),
                                                                             NM_GRUPO        VARCHAR(255),
                                                                             NR_DDE          VARCHAR(15),
                                                                             CD_DESPACHANTE  VARCHAR(5),
                                                                             NM_DESPACHANTE  VARCHAR(255),
                                                                             CPF_DESPACHANTE VARCHAR(15),
                                                                             NM_SENHA        VARCHAR(20),
                                                                             IN_DSE          VARCHAR(1),
                                                                             NM_TIPO         VARCHAR(3),
                                                                             DT_AVERBACAO    DATETIME
                                                                         ) AS --*/
BEGIN
    /*
    DECLARE @IN_DESPACHANTE_INATIVO CHAR(1) = '0'
    DECLARE @TB_RETORNO TABLE (
        NR_PROCESSO     VARCHAR(18),
        NM_CLIENTE      VARCHAR(255),
        NM_GRUPO        VARCHAR(255),
        NR_DDE          VARCHAR(15),
        CD_DESPACHANTE  VARCHAR(5),
        NM_DESPACHANTE  VARCHAR(255),
        CPF_DESPACHANTE VARCHAR(15),
        NM_SENHA        VARCHAR(20),
        IN_DSE          VARCHAR(1),
        NM_TIPO         VARCHAR(3),
        DT_AVERBACAO    DATETIME
    )
    --*/

    INSERT INTO @TB_RETORNO
    SELECT RTRIM(P.NR_PROCESSO) AS NR_PROCESSO,
           RTRIM(EN.NM_EMPRESA) AS NM_CLIENTE,
           RTRIM(G.NM_GRUPO) AS NM_GRUPO,
           RTRIM(P.NR_DDE) AS NR_DDE,
           P.CD_DESPACHANTE,
           RTRIM(D.NM_DESPACHANTE) AS NM_DESPACHANTE,
           RTRIM(D.CPF_DESPACHANTE) AS CPF_DESPACHANTE,
           RTRIM(D.NM_SENHA) AS NM_SENHA,
           --CONVERT(VARCHAR(50), '') AS NM_STATUS,
           ISNULL(P.IN_DSE, '0') AS IN_DSE,
           CASE WHEN ISNULL(P.IN_DSE, '0') = '0' THEN 'DDE' ELSE 'DSE' END AS NM_TIPO,
           F141.DT_REALIZACAO AS DT_AVERBACAO
    FROM TPROCESSO             P
       INNER JOIN TFOLLOWUP    F141 ON F141.NR_PROCESSO = P.NR_PROCESSO AND F141.CD_EVENTO = '141'
       INNER JOIN TFOLLOWUP    F580 ON F580.NR_PROCESSO = P.NR_PROCESSO AND F580.CD_EVENTO = '580'
       INNER JOIN TDESPACHANTE D    ON D.CD_DESPACHANTE = P.CD_DESPACHANTE
       INNER JOIN TEMPRESA_NAC EN   ON EN.CD_EMPRESA = P.CD_CLIENTE
       INNER JOIN TGRUPO       G    ON G.CD_GRUPO = EN.CD_GRUPO
       LEFT  JOIN TSD          SD   ON SD.NR_SD = P.NR_PROCESSO
    WHERE F141.IN_APLICAVEL = '1'
      --/*
      AND F141.DT_REALIZACAO IS NOT NULL
      AND F580.IN_APLICAVEL = '1'
      AND F580.DT_REALIZACAO IS NULL
      AND F141.DT_REALIZACAO >= CONVERT(DATE, GETDATE() -60, 103)
      AND (D.IN_ATIVO <> '0' OR @IN_DESPACHANTE_INATIVO = '1')
      AND P.IN_CANCELADO = '0'
      AND ISNULL(SD.IN_WEB, '0') = '0'
      --AND P.CD_DESPACHANTE = '027'
      --*/AND P.NR_PROCESSO IN ('0102EA-0102-13', '0102EA-0054-13', '0102EA-1327-13')
      AND P.NR_PROCESSO NOT IN (SELECT NR_PROCESSO
                                FROM TPROCESSO_DOCTOS
                                WHERE CD_TIPO_DOCTO = '101'
                                  AND IN_ATIVO = '1')
    --ORDER BY P.CD_DESPACHANTE, F141.DT_REALIZACAO

    DELETE @TB_RETORNO
    WHERE ISNULL(NR_DDE, '') = ''

    /*
    SELECT *
    FROM @TB_RETORNO
    --*/RETURN
END

GO
