USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_DIAS_DE_SEMANA](@DT1 DATETIME, @DT2 DATETIME) RETURNS INT AS
BEGIN
    /*
    DECLARE @DT1 DATETIME = CONVERT(DATE, '06/08/2009', 103)
    DECLARE @DT2 DATETIME = CONVERT(DATE, '31/12/2015', 103)
    --*/

    DECLARE @DiaDaSemana2 INT
    DECLARE @DiaDaSemana1 INT
    DECLARE @DiasAdicionar INT
    DECLARE @Dias INT
    DECLARE @Semanas INT
    DECLARE @Excesso INT
    DECLARE @Result INT

    --Um numero que representa o dia da semana para a data final, exemplo segunda=1, terça=2, quarta=3...
    SET @DiaDaSemana2 = DATEPART(DW, @DT2)
    --Um numero que representa o dia da semana para a data inicial, exemplo segunda=1, terça=2, quarta=3...
    SET @DiaDaSemana1 = DATEPART(DW, @DT1)
    
    --Se a data final for sabado ou domingo, finja ser sexta-feira
    if (@DiaDaSemana2 = 1 OR @DiaDaSemana2 = 7)
    BEGIN
        SET @DiasAdicionar = 8 - @DiaDaSemana2
        SET @DT2 = DATEADD(DAY, @DiasAdicionar, @DT2)
        SET @DiaDaSemana1 = DATEPART(DW, @DT2)
    END

    --Se a data inicial for sabado ou domingo, finja ser segunda-feira
    if (@DiaDaSemana1 = 1 OR @DiaDaSemana1 = 7)
    BEGIN
        SET @DiasAdicionar = 8 - @DiaDaSemana1
        SET @DT1 = DATEADD(DAY, @DiasAdicionar, @DT1)
        SET @DiaDaSemana1 = DATEPART(DW, @DT1)
    END

    --Quantos dias se passaram contando os fins de semana
    SET @Dias = DATEDIFF(DAY, @DT1, @DT2)
    --Quantas semanas se passaram exatamente
    SET @Semanas = @Dias / 7
    --O excesso de dias que sobrou, exemplo: 1 semana e 3 dias o excess=3 e weeks=1
    SET @excesso = @Dias % 7

    --Se a data inicial for igual a data final, passou 0 dia
    if (@DT1 = @DT2)
        --/*
        SET @Result = 0
        --*/ SELECT 0
    else
    BEGIN
        --O excesso de dias passou pelo fim de semana, então deve-se retirar 2 dias da quantidade final de dias
        if (@Excesso + @DiaDaSemana1 >= 6)
            --Quantidade de semanas * 5 dias uteis + o excesso de dias - o final de semana que o excesso atravessou
            --/*
            SET @Result = @Semanas * 5 + @Excesso - 2
            --*/ SELECT @weeks * 5 + @excess - 2
        ELSE
            --Quantidade de semanas * 5 dias uteis + o excesso de dias
            --/*
            SET @Result = @Semanas * 5 + @Excesso
            --*/ SELECT @weeks * 5 + @excess
    END
    
    RETURN @Result
END

GO
