USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_PATH_DIGITALIZACAO](@NR_PROCESSO VARCHAR(18), @IN_LOCAL INT) RETURNS VARCHAR(500) AS
BEGIN
    DECLARE @IN_NOVO INT
    DECLARE @DIR     VARCHAR(500)

    /*
    Arquivo novo – retorna “docs_novo” 
    Arquivo velho – retorna “docs_old”
    */

    /*
    DECLARE @NR_PROCESSO VARCHAR(18), @IN_LOCAL INT
    SET @NR_PROCESSO = '01995'
    SET @IN_LOCAL = 1
    --*/

    SELECT @IN_NOVO = TB.IN_NOVO
    FROM(SELECT CASE WHEN DT_ABERTURA > DATEADD(YEAR, -1, GETDATE()) THEN 1
                    ELSE 0
                    END AS IN_NOVO
             FROM TPROCESSO
             WHERE NR_PROCESSO = @NR_PROCESSO
             UNION ALL
             SELECT CASE WHEN DT_CRIACAO > DATEADD(YEAR, -1, GETDATE()) THEN 1
                    ELSE 0
                    END AS IN_NOVO
             FROM TINSTRUCAO_DESEMBARACO
             WHERE ID_CODIGO = @NR_PROCESSO) AS TB

    IF ISNULL(@IN_LOCAL, 1) = 1
        SELECT @DIR = CASE ISNULL(@IN_NOVO, 0)
                          WHEN 1 THEN PATH_DIGITALIZACAO
                      ELSE PATH_DIGITALIZACAO_ANTIGOS
                      END
        FROM TPARAMETROS
    ELSE
        SELECT @DIR = CASE ISNULL(@IN_NOVO, 1)
                          WHEN 1 THEN 'docs_novo'
                      ELSE 'docs_old'
                      END

    IF @DIR IS NULL
        SELECT @DIR = PATH_DIGITALIZACAO
        FROM TPARAMETROS

    RETURN @DIR
    --SELECT @DIR
END

GO
