USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_DE_PARA](@CD_UNID_NEG CHAR(2), @CD_PRODUTO CHAR(2), @CD_TABELA CHAR(2), @CD_EXTERNO CHAR(30), @CD_GRUPO CHAR(3)) RETURNS VARCHAR(1000) AS
BEGIN
    DECLARE @RETORNO VARCHAR(1000)

    SELECT @RETORNO = CD_DDBROKER
    FROM TDE_PARA
    WHERE (ISNULL(@CD_UNID_NEG, 'XX') IN (ISNULL(CD_UNID_NEG, 'XX'), 'XX') OR ISNULL(CD_UNID_NEG, 'XX') = 'XX')
      AND (ISNULL(@CD_PRODUTO, 'XX') IN (ISNULL(CD_PRODUTO, 'XX'), 'XX') OR ISNULL(CD_PRODUTO, 'XX') = 'XX')
      AND (ISNULL(@CD_GRUPO, 'XXX') IN (ISNULL(CD_GRUPO, 'XXX'), 'XXX') OR ISNULL(CD_GRUPO, 'XXX') = 'XXX')
      AND @CD_TABELA = CD_TABELA
      AND @CD_EXTERNO = CD_EXTERNO

    RETURN @RETORNO
END

GO
