USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_NUM_EXP_BASF](@DATA_INICIAL DATETIME, @DATA_FINAL DATETIME) RETURNS @TB_NUM TABLE (
                                                                                  [Processo] CHAR(18),
                                                                                  [Documento] INT,
                                                                                  [Data Emissão] DATE,
                                                                                  [Hora Emissão] VARCHAR(30),
                                                                                  [Valor Solicitado] FLOAT,
                                                                                  [Código Cliente] INT,
                                                                                  [Nome Cliente] VARCHAR(80),
                                                                                  [CNPJ Cliente] CHAR(14),
                                                                                  [Código Grupo] CHAR(3),
                                                                                  [Referência] VARCHAR(4000)
                                                                              ) AS
BEGIN
    INSERT INTO @TB_NUM
    SELECT NR_PROCESSO AS [Processo],
           NR_EMISSAO AS [Documento],
           CONVERT(DATE, DT_EMISSAO, 103) AS [Data Emissão],
           CONVERT(VARCHAR, DT_EMISSAO,108) AS [Hora Emissão],
           VL_SOLICITADO AS [Valor Solicitado],
           CD_CLIENTE AS [Código Cliente],
           NM_CLIENTE AS [Nome Cliente],
           CNPJ_CLIENTE AS [CNPJ Cliente],
           CD_GRUPO AS [Código Grupo],
           REFERENCIA AS [Referência]
    FROM VW_CONSULTA_NUM
    WHERE CD_GRUPO = '002'
      AND SUBSTRING(NR_PROCESSO, 3, 2) = '02'
      AND DT_EMISSAO BETWEEN CONVERT(DATE, @DATA_INICIAL, 103) + CONVERT(DATETIME, '09:00:00', 108) AND CONVERT(DATE, @DATA_FINAL, 103) + CONVERT(DATETIME, '09:00:00', 108)
      AND CONVERT(DATE, DT_EMISSAO, 103) >= CONVERT(DATETIME, '01/08/2013', 103)

    RETURN
END

GO
