USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_INTEGRACAO_NF_DRAFT](@NR_PROCESSO CHAR(18)) 
RETURNS @TB_RETORNO TABLE ( NR_LINHA INT IDENTITY(1, 1),
                            TX_LINHA VARCHAR(1000)
                     ) AS
                     
                                                                                                                             
BEGIN

/* Registro header: 
Identificador do arquivo     X(10)     conteúdo "NOTAFISCAL"
Tipo                         X(01)     conteúdo "1"
*/

INSERT INTO @TB_RETORNO
SELECT 'NOTAFISCAL|1'

DECLARE @NR_ADICAO CHAR(3)
DECLARE @NR_ITEM   CHAR(3)
DECLARE @TB_ITENS AS TABLE (
    NR_ADICAO CHAR(3),
    NR_ITEM   CHAR(3)
)

INSERT INTO @TB_ITENS
SELECT NR_ADICAO, NR_ITEM
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @NR_PROCESSO

WHILE (SELECT COUNT(*) FROM @TB_ITENS) > 0
BEGIN
    SELECT TOP 1 @NR_ADICAO = NR_ADICAO,
                 @NR_ITEM   = NR_ITEM
    FROM @TB_ITENS
    ORDER BY NR_ADICAO, NR_ITEM

    DELETE @TB_ITENS
    WHERE NR_ADICAO = @NR_ADICAO
      AND NR_ITEM = @NR_ITEM

    /* Registro detalhe: I -> I|223139||DT-TRAVA PARA VALVULA PEDAL   FP -5-1/4-B, codigo: 223139|84819090||3101|PCS|

    Identificador I              X(01)     conteúdo "I" - Alterado de X(03) para X(01)
    Campo vazio                  X(01)     Invertido com o de baixo?
    Código do material           X(18)     Invertido com o de cima?
    Descrição do material        X(50)
    NCM                          X(10)
    Quantidade                   X(10)
    Campo Faltante               X(04)     CFOP?
    Unidade de peças             X(03)
    Separador pipe               X(01)     conteúdo "|"
    */

    INSERT INTO @TB_RETORNO
    SELECT 'I|' +
           RTRIM(DM.CD_MERCADORIA) + '|' +
           '|' +
           RTRIM(CONVERT(VARCHAR(MAX), ISNULL(M.NM_MERCADORIA, ''))) + '|' +
           RTRIM(ISNULL(DM.CD_NCM_SH, '')) + '|' +
           CONVERT(VARCHAR, DM.QT_MERC_UN_COMERC) + '|' +
           ISNULL(AI.CD_CFOP, '') + '|' +
           ISNULL(RTRIM(UM.NM_SIGLA), '') + '|'
    FROM TDETALHE_MERCADORIA DM
       INNER JOIN TADICAO_DE_IMPORTACAO AI ON AI.NR_PROCESSO = DM.NR_PROCESSO AND AI.NR_ADICAO = DM.NR_ADICAO
       INNER JOIN TMERCADORIA M ON M.CD_MERCADORIA = DM.CD_MERCADORIA --AND (M.CD_GRUPO IS NULL OR M.CD_GRUPO = 'B35')
       INNER JOIN TUNID_MEDIDA_BROKER UM ON UM.CD_UNID_MEDIDA = DM.CD_UN_MED_COMERC
    WHERE DM.NR_PROCESSO = @NR_PROCESSO
      AND DM.NR_ADICAO = @NR_ADICAO
      AND DM.NR_ITEM = @NR_ITEM


    /* Registro detalhe: I18 -> I18|123461|2012-11-15|SAO PAULO|SP|2012-09-06|000912|

    Identificador I18            X(03)     conteúdo "I18"
    Número da DI                 X(10)     
    Data da DI                   X(10)
    Local do desembaraço         X(30)
    Estado do desembaraço        X(02)
    Data do desembaraço          X(10)
    Campo Faltante               X(6)      Fixo? Qual a informação?
    Separador pipe               X(01)     conteúdo "|"
    */

    INSERT INTO @TB_RETORNO
    SELECT 'I18|' +
           RTRIM(DI.NR_DECLARACAO_IMP) + '|' +
           SUBSTRING(DI.DT_REGISTRO_DI, 5, 4) + '-' + SUBSTRING(DI.DT_REGISTRO_DI, 3, 2) + '-' + SUBSTRING(DI.DT_REGISTRO_DI, 1, 2) + '|' +
           RTRIM(ISNULL(UF.NM_UF, '')) + '|' +
           RTRIM(ISNULL(URF.END_UF, '')) + '|' +
           ISNULL((SELECT CONVERT(VARCHAR, YEAR(DT_REALIZACAO)) + '-' + CONVERT(VARCHAR, MONTH(DT_REALIZACAO)) + '-' + CONVERT(VARCHAR, DAY(DT_REALIZACAO))
                   FROM TFOLLOWUP F
                   WHERE F.NR_PROCESSO = DI.NR_PROCESSO
                     AND F.CD_EVENTO = '088'), '') + '|' +
           '000000|'
    FROM TDECLARACAO_IMPORTACAO DI
       INNER JOIN TPROCESSO P ON P.NR_PROCESSO = DI.NR_PROCESSO
       LEFT  JOIN TURF URF ON URF.CODIGO = DI.CD_URF_DESPACHO
       LEFT  JOIN TUF UF ON UF.CD_UF = URF.END_UF
    WHERE DI.NR_PROCESSO = @NR_PROCESSO


    /* Registro detalhe: I25 -> I25|1|1|0043|

    Identificador I25            X(03)     conteúdo "I25"
    adição                       X(5)      
    Sequencial da adição         X(5)      Esta informação é repetição da informação de cima, confere?
    Separador pipe               X(01)     conteúdo "|"
    */

    INSERT INTO @TB_RETORNO
    SELECT 'I25|' +
           CONVERT(VARCHAR, CONVERT(INT, @NR_ADICAO)) + '|' +
           CONVERT(VARCHAR, CONVERT(INT, @NR_ITEM)) + '|' +
           '0000|'

END  
 RETURN
END

GO
