USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_PAGAMENTOS_BASF](@DATA_INICIAL DATETIME, @DATA_FINAL DATETIME) RETURNS @PAGAMENTOS TABLE (
                                                                                             [Código Unidade] VARCHAR(2),
                                                                                             [Nome Unidade] VARCHAR(100),
                                                                                             [Código Produto] VARCHAR(2),
                                                                                             [Nome Produto] VARCHAR(100),
                                                                                             [Processo] VARCHAR(18),
                                                                                             [Código Área] VARCHAR(2),
                                                                                             [Nome Área] VARCHAR(100), 
                                                                                             [Código Agente] VARCHAR(4), 
                                                                                             [Nome Agente] VARCHAR(100),  
                                                                                             [Código Fornecedor] VARCHAR(5),
                                                                                             [Nome Fornecedor] VARCHAR(100),
                                                                                             [Código Armazém Estocagem] VARCHAR(4),
                                                                                             [Nome Armazém Estocagem] VARCHAR(100),
                                                                                             [Código Armazém Descarga] VARCHAR(4),
                                                                                             [Nome Armazém Descarga] VARCHAR(100),
                                                                                             [Código Armazém Atracação] VARCHAR(4),
                                                                                             [Nome Armazém Atracação] VARCHAR(100),
                                                                                             [Código Transportador] VARCHAR(4),
                                                                                             [Nome Transportador] VARCHAR(100),
                                                                                             [Código Armador] VARCHAR(4),
                                                                                             [Nome Armador] VARCHAR(100),
                                                                                             [Código Favorecido] VARCHAR(10),
                                                                                             [Nome Favorecido] VARCHAR(255),
                                                                                             [Empresa Estrangeira] VARCHAR(100),
                                                                                             [Código Grupo] VARCHAR(3),
                                                                                             [Nome Grupo] VARCHAR(100),
                                                                                             [CNPJ Cliente] VARCHAR(20),
                                                                                             [Embarcação] VARCHAR(100),
                                                                                             [Transportador Rodoviário] VARCHAR(100),
                                                                                             [Tipo Container] CHAR(255),
                                                                                             [Containers] CHAR(255),
                                                                                             [Data Devolução] CHAR(255),
                                                                                             [Referências] CHAR(255),
                                                                                             [Código Item] INT,
                                                                                             [Nome Item] VARCHAR(100),
                                                                                             [Data Lançamento] VARCHAR(10),
                                                                                             [Dia] INT,
                                                                                             [Mes] INT,
                                                                                             [Ano] INT,
                                                                                             [Valor Pago] FLOAT,
                                                                                             [Peso Líquido] FLOAT,
                                                                                             [Peso Bruto] FLOAT,
                                                                                             [Valor CIF] FLOAT,
                                                                                             [Valor CIF Moeda] FLOAT,
                                                                                             [Moeda] VARCHAR(10),
                                                                                             [Código Local Embarque] VARCHAR(4),
                                                                                             [Nome Local Embarque] VARCHAR(255),
                                                                                             [Código Local Desembarque] VARCHAR(4),
                                                                                             [Nome Local Desembarque] VARCHAR(255),
                                                                                             [Data Chegada Saída] VARCHAR(10),
                                                                                             [Tipo Estufagem] VARCHAR(30),
                                                                                             [Mercadorias] VARCHAR(MAX),
                                                                                             [Tipo Containers] VARCHAR(MAX),
                                                                                             [Carga Solta] VARCHAR(MAX)
                                                                                         ) AS
BEGIN
    DECLARE @RETORNO AS TABLE (Cod_Unidade VARCHAR(2),
                               Nome_Unidade VARCHAR(100),
                               Cod_Produto VARCHAR(2),
                               Nome_Produto VARCHAR(100),
                               Processo VARCHAR(18),
                               Cod_Area VARCHAR(2),
                               Nome_Area VARCHAR(100), 
                               Codigo_Agente VARCHAR(4), 
                               Nome_Agente VARCHAR(100),  
                               Codigo_Fornecedor VARCHAR(5),
                               Nome_Fornecedor VARCHAR(100),
                               Codigo_Armazem_Estocagem VARCHAR(4),
                               Nome_Armazem_Estocagem VARCHAR(100),
                               Codigo_Armazem_Descarga VARCHAR(4),
                               Nome_Armazem_Descarga VARCHAR(100),
                               Codigo_Armazem_Atracacao VARCHAR(4),
                               Nome_Armazem_Atracacao VARCHAR(100),
                               Codigo_Transportador VARCHAR(4),
                               Nome_Transportador VARCHAR(100),
                               Codigo_Armador VARCHAR(4),
                               Nome_Armador VARCHAR(100),
                               Codigo_Favorecido VARCHAR(10),
                               Nome_Favorecido VARCHAR(255),
                               Empresa_Estrangeira VARCHAR(100),  
                               Codigo_Grupo VARCHAR(3),
                               Nome_Grupo VARCHAR(100),  
                               CNPJ_Cliente VARCHAR(20),  
                               Embarcacao VARCHAR(100),  
                               Transportador_Rodoviario VARCHAR(100),  
                               Tipo_Container CHAR(255),  
                               Containers CHAR(255),  
                               Data_Devolucao CHAR(255),  
                               Referencias CHAR(255),  
                               Cod_Item INT,  
                               Nome_Item VARCHAR(100),  
                               Data_Lancamento VARCHAR(10),  
                               Dia INT,  
                               Mes INT,  
                               Ano INT,  
                               Valor_Pago FLOAT,
                               Peso_Liquido FLOAT,
                               Peso_Bruto FLOAT,
                               Valor_CIF FLOAT,
                               Valor_CIF_Moeda FLOAT,
                               Moeda VARCHAR(10),
                               Codigo_Local_Embarque VARCHAR(4),
                               Nome_Local_Embarque VARCHAR(255),
                               Codigo_Local_Desembarque VARCHAR(4),
                               Nome_Local_Desembarque VARCHAR(255),
                               Data_Chegada_Saida VARCHAR(10),
                               Tipo_Estufagem VARCHAR(30))

    DECLARE @PROCESSOS_MONEY  AS TABLE (CD_UNID_NEG          VARCHAR(2),  
                                        CD_PRODUTO           VARCHAR(2),  
                                        NR_PROCESSO          VARCHAR(18),  
                                        CD_AREA              VARCHAR(3),  
                                        CD_EMBARCACAO        VARCHAR(4),  
                                        CD_TRANSP_NAC        VARCHAR(4),  
                                        CD_CLIENTE           VARCHAR(5),  
                                        CD_IMPORTADOR        VARCHAR(5),  
                                        CD_EXPORTADOR        VARCHAR(5),  
                                        CD_AGENTE            VARCHAR(4),
                                        CD_ARMAZEM_DESCARGA  VARCHAR(4),
                                        CD_ARMAZEM_ESTOCAGEM VARCHAR(4),
                                        CD_ARMAZEM_ATRACACAO VARCHAR(4),
                                        CD_ARMADOR           VARCHAR(4),
                                        CD_TRANSPORTADOR     VARCHAR(4),
                                        CD_LOCAL_EMBARQUE    VARCHAR(4),
                                        CD_LOCAL_DESEMBARQUE VARCHAR(4),
                                        TP_ESTUFAGEM         VARCHAR(2))  

    DECLARE @PROCESSOS AS TABLE (CD_UNID_NEG          VARCHAR(2),  
                                 CD_PRODUTO           VARCHAR(2),  
                                 NR_PROCESSO          VARCHAR(18),  
                                 CD_AREA              VARCHAR(3),  
                                 CD_EMBARCACAO        VARCHAR(4),  
                                 CD_TRANSP_NAC        VARCHAR(4),  
                                 CD_CLIENTE           VARCHAR(5),  
                                 CD_IMPORTADOR        VARCHAR(5),  
                                 CD_EXPORTADOR        VARCHAR(5),  
                                 CD_AGENTE            VARCHAR(4),
                                 CD_ARMAZEM_DESCARGA  VARCHAR(4),
                                 CD_ARMAZEM_ESTOCAGEM VARCHAR(4),
                                 CD_ARMAZEM_ATRACACAO VARCHAR(4),
                                 CD_ARMADOR           VARCHAR(4),
                                 CD_TRANSPORTADOR     VARCHAR(4),
                                 CD_LOCAL_EMBARQUE    VARCHAR(4),
                                 CD_LOCAL_DESEMBARQUE VARCHAR(4),
                                 TP_ESTUFAGEM         VARCHAR(2))  
 
        INSERT INTO @PROCESSOS_MONEY  
        SELECT P.CD_UNID_NEG,  
               P.CD_PRODUTO,  
               P.NR_PROCESSO,  
               P.CD_AREA,  
               P.CD_EMBARCACAO,  
               P.CD_TRANSP_NAC,  
               P.CD_CLIENTE,  
               P.CD_IMPORTADOR,  
               P.CD_EXPORTADOR,  
               P.CD_AGENTE,  
               P.CD_ARMAZEM_DESCARGA,
               P.CD_ARMAZEM_ESTOCAGEM,
               P.CD_ARMAZEM_ATRACACAO,
               P.CD_ARMADOR,
               P.CD_TRANSPORTADOR,
               P.CD_LOCAL_EMBARQUE,
               P.CD_LOCAL_DESEMBARQUE,
               P.TP_ESTUFAGEM
        FROM BROKER.DBO.TPROCESSO P (NOLOCK)  
        WHERE P.IN_CANCELADO = '0'  
          AND P.IN_LIBERADO  = '1'  
          AND P.IN_PRODUCAO  = '1'  
          AND P.CD_GRUPO IN ('002', '013')
          AND P.NR_PROCESSO IN (SELECT L.NR_PROCESSO  
                                FROM MYMONEY.DBO.TB_LANCTO L  
                                   INNER JOIN MYMONEY.DBO.TB_EMISSAO_DETALHE ED ON ED.ANO_LANCTO = L.ANO_LANCTO AND ED.NR_LANCTO = L.NR_LANCTO  
                                   INNER JOIN MYMONEY.DBO.TB_EMISSAO E ON E.ANO_EMISSAO = ED.ANO_EMISSAO AND E.NR_EMISSAO = ED.NR_EMISSAO  
                                WHERE E.DT_EMISSAO BETWEEN @DATA_INICIAL AND @DATA_FINAL
                                  AND E.IN_CANCELADO = '0')  

    INSERT INTO @PROCESSOS
    SELECT *  
    FROM @PROCESSOS_MONEY  

    INSERT INTO @RETORNO  
    SELECT *
    FROM (SELECT P.CD_UNID_NEG AS Cod_Unidade,  
                 RTRIM(UN.AP_UNID_NEG) AS Nome_Unidade,  
                 P.CD_PRODUTO AS Cod_Produto,  
                 RTRIM(PD.NM_PRODUTO) AS Nome_Produto,  
                 RTRIM(RIGHT(P.NR_PROCESSO, 14)) AS Processo,  
                 P.CD_AREA AS Cod_Area,  
                 RTRIM(A.NM_AREA) AS Nome_Area,  
                 AG.CD_AGENTE AS Codigo_Agente,
                 RTRIM(AG.NM_AGENTE) AS Nome_Agente,  
                 L.CD_FORNECEDOR AS Codigo_Fornecedor,
                 CASE L.CD_ITEM
                     WHEN '822' THEN 'Despachante'
                 ELSE RTRIM(FAV.NM_FAVORECIDO)
                 END AS Nome_Fornecedor,
                 AE.CD_ARMAZEM AS Codigo_Armazem_Estocagem,
                 RTRIM(AE.NM_ARMAZEM) AS Nome_Armazem_Estocagem,
                 AD.CD_ARMAZEM AS Codigo_Armazem_Descarga,
                 RTRIM(AD.NM_ARMAZEM) AS Nome_Armazem_Descarga,
                 AA.CD_ARMAZEM AS Codigo_Armazem_Atracacao,
                 RTRIM(AA.NM_ARMAZEM) AS Nome_Armazem_Atracacao,
                 TI.CODIGO AS Codigo_Transportador,
                 RTRIM(TI.DESCRICAO) AS Nome_Transportador,
                 AR.CD_ARMADOR AS Codigo_Armador,
                 AR.NM_ARMADOR AS Nome_Armador,
                 FAV2.CD_FAVORECIDO AS Codigo_Favorecido,
                 RTRIM(FAV2.NM_FAVORECIDO) AS Nome_Favorecido,
                 RTRIM(EE.NM_EMPRESA) AS Empresa_Estrangeira,  
                 G.CD_GRUPO AS Codigo_Grupo,
                 RTRIM(G.NM_GRUPO) AS Nome_Grupo,  
                 LEFT(EN.CGC_EMPRESA, 2) + '.' + SUBSTRING(EN.CGC_EMPRESA, 3, 3) + '.' + SUBSTRING(EN.CGC_EMPRESA, 6, 3) + '/' +  
                    SUBSTRING(EN.CGC_EMPRESA, 9, 4) + '-' + RIGHT(RTRIM(EN.CGC_EMPRESA), 2) AS CNPJ_Cliente,  
                 RTRIM(EM.NM_EMBARCACAO) AS Embarcacao,  
                 RTRIM(TR.NM_TRANSP_ROD) AS Transportador_Rodoviario,  
                 CONVERT(CHAR(255), LEFT((SELECT REPLACE(REPLACE(MASTER.DBO.RowConcatLeft(DISTINCT RTRIM(TC.NM_TP_CNTR) + ', ') + '@@@@@@', ', @@@@@@', ''), '@@@@@@', '')  
                                              FROM BROKER.DBO.TPROCESSO_CNTR    PC (NOLOCK)  
                                                 INNER JOIN BROKER.DBO.TTP_CNTR TC (NOLOCK) ON TC.TP_CNTR = PC.TP_CNTR  
                                              WHERE PC.NR_PROCESSO = P.NR_PROCESSO), 1000)) AS Tipo_Container,  
                 CONVERT(CHAR(255), LEFT((SELECT REPLACE(REPLACE(MASTER.DBO.RowConcatLeft(DISTINCT RTRIM(PC.NR_CNTR) + ', ') + '@@@@@@', ', @@@@@@', ''), '@@@@@@', '')  
                                              FROM BROKER.DBO.TPROCESSO_CNTR PC (NOLOCK)  
                                              WHERE PC.NR_PROCESSO = P.NR_PROCESSO), 1000)) AS Containers,  
                 CONVERT(CHAR(255), LEFT((SELECT REPLACE(REPLACE(MASTER.DBO.RowConcatLeft(DISTINCT CONVERT(VARCHAR, PC.DT_DEVOLUCAO_CNTR, 103) + ', ') + '@@@@@@', ', @@@@@@', ''), '@@@@@@', '')  
                                              FROM BROKER.DBO.TPROCESSO_CNTR PC (NOLOCK)  
                                              WHERE PC.NR_PROCESSO = P.NR_PROCESSO), 1000)) AS Data_Devolucao,  
                 CONVERT(CHAR(255), LEFT((SELECT REPLACE(REPLACE(MASTER.DBO.RowConcatLeft(DISTINCT RTRIM(RC.CD_REFERENCIA) + ', ') + '@@@@@@', ', @@@@@@', ''), '@@@@@@', '')  
                                              FROM BROKER.DBO.TREF_CLIENTE RC (NOLOCK)  
                                              WHERE RC.NR_PROCESSO = P.NR_PROCESSO
                                                AND RC.TP_REFERENCIA = '01'), 1000)) AS Referencias,  
                 L.CD_ITEM AS Cod_Item,  
                 RTRIM(I.NM_ITEM) AS Nome_Item,  
                 CONVERT(VARCHAR, L.DT_LANCTO, 103) AS Data_Lancamento,  
                 DAY(L.DT_LANCTO) AS Dia,  
                 MONTH(L.DT_LANCTO) AS Mes,  
                 YEAR(L.DT_LANCTO) AS Ano,  
                 ROUND(SUM(CASE C.CD_MOVIMENTO  
                               WHEN 1 THEN ISNULL(LC.VL_LANCTO_CAIXA, 0)  
                           ELSE 0  
                           END), 2) AS Valor_Pago,
                 ISNULL(DI.PL_CARGA, 0) AS Peso_Liquido,
                 ISNULL(DI.PB_CARGA, 0) AS Peso_Bruto,
                 DI.VL_TOT_MLE_MNEG AS Valor_CIF,
                 DI.VL_TOT_MLE_MNEG * DI.TX_MLE AS Valor_CIF_Moeda,
                 MB.AP_MOEDA AS Moeda,
                 P.CD_LOCAL_EMBARQUE AS Codigo_Local_Embarque,
                 LE.DESCRICAO AS Nome_Local_Embarque,
                 P.CD_LOCAL_DESEMBARQUE AS Codigo_Local_Desembarque,
                 LD.DESCRICAO AS Nome_Local_Desembarque,
                 ISNULL((SELECT CONVERT(VARCHAR, DT_REALIZACAO, 103)
                         FROM TFOLLOWUP FP
                         WHERE FP.NR_PROCESSO = P.NR_PROCESSO
                           AND FP.CD_EVENTO = CASE P.CD_PRODUTO
                                                  WHEN '01' THEN '162'
                                                  WHEN '02' THEN '132'
                                              ELSE ''
                                              END), '') AS Data_Chegada_Saida,
                 TE.NM_ESTUFAGEM AS Tipo_Estufagem
          FROM @PROCESSOS_MONEY                           P  
             INNER JOIN BROKER.DBO.TUNID_NEG              UN   (NOLOCK) ON UN.CD_UNID_NEG = P.CD_UNID_NEG  
             INNER JOIN BROKER.DBO.TPRODUTO               PD   (NOLOCK) ON PD.CD_PRODUTO = P.CD_PRODUTO  
             LEFT  JOIN BROKER.DBO.TEMPRESA_EST           EE   (NOLOCK) ON EE.CD_EMPRESA = CASE P.CD_PRODUTO  
                                                                                               WHEN '01' THEN P.CD_EXPORTADOR  
                                                                                               WHEN '02' THEN P.CD_IMPORTADOR  
                                                                                           END  
             INNER JOIN BROKER.DBO.TEMPRESA_NAC           EN   (NOLOCK) ON EN.CD_EMPRESA = P.CD_CLIENTE  
             INNER JOIN BROKER.DBO.TGRUPO                 G    (NOLOCK) ON G.CD_GRUPO = EN.CD_GRUPO  
             INNER JOIN BROKER.DBO.TAREA                  A    (NOLOCK) ON A.CD_AREA = P.CD_AREA  
             LEFT  JOIN BROKER.DBO.TEMBARCACAO            EM   (NOLOCK) ON EM.CD_EMBARCACAO = P.CD_EMBARCACAO  
             LEFT  JOIN BROKER.DBO.TTRANSP_ROD            TR   (NOLOCK) ON TR.CD_TRANSP_ROD = P.CD_TRANSP_NAC  
             LEFT  JOIN BROKER.DBO.TFOLLOWUP              F088 (NOLOCK) ON F088.NR_PROCESSO  = P.NR_PROCESSO  
                                                                AND F088.CD_EVENTO    = '088'  
                                                                AND F088.IN_APLICAVEL = '1'  
             LEFT  JOIN BROKER.DBO.TAGENTE                AG   (NOLOCK) ON AG.CD_AGENTE = P.CD_AGENTE  
             INNER JOIN MYMONEY.DBO.TB_LANCTO             L    (NOLOCK) ON L.NR_PROCESSO = P.NR_PROCESSO  
             LEFT  JOIN BROKER.DBO.TFAVORECIDO            FAV  (NOLOCK) ON FAV.CD_FAVORECIDO = L.CD_FORNECEDOR
             INNER JOIN MYMONEY.DBO.TB_LANCTO_CAIXA       LC   (NOLOCK) ON LC.ANO_LANCTO = L.ANO_LANCTO AND LC.NR_LANCTO = L.NR_LANCTO  
             INNER JOIN MYMONEY.DBO.TB_CAIXA              C    (NOLOCK) ON C.ANO_CAIXA = LC.ANO_CAIXA AND C.NR_CAIXA = LC.NR_CAIXA  
             INNER JOIN BROKER.DBO.TITEM                  I    (NOLOCK) ON CONVERT(INT, I.CD_ITEM) = L.CD_ITEM  
             LEFT  JOIN BROKER.DBO.TARMAZEM               AE   (NOLOCK) ON AE.CD_ARMAZEM = P.CD_ARMAZEM_ESTOCAGEM
             LEFT  JOIN BROKER.DBO.TARMAZEM               AD   (NOLOCK) ON AD.CD_ARMAZEM = P.CD_ARMAZEM_DESCARGA
             LEFT  JOIN BROKER.DBO.TARMAZEM               AA   (NOLOCK) ON AA.CD_ARMAZEM = P.CD_ARMAZEM_ATRACACAO
             LEFT  JOIN BROKER.DBO.TARMADOR               AR   (NOLOCK) ON AR.CD_ARMADOR = P.CD_ARMADOR
             LEFT  JOIN BROKER.DBO.TTRANSPORTADOR_ITL     TI   (NOLOCK) ON TI.CODIGO = P.CD_TRANSPORTADOR
             LEFT  JOIN (SELECT *
                         FROM (SELECT ED.ANO_EMISSAO, ED.NR_EMISSAO, ED.ANO_LANCTO, ED.NR_LANCTO, E.CD_FAVORECIDO, DENSE_RANK() OVER(PARTITION BY ED.ANO_LANCTO, ED.NR_LANCTO ORDER BY ED.ANO_EMISSAO, ED.NR_EMISSAO) AS NR_ORDEM
                               FROM MYMONEY.DBO.TB_EMISSAO_DETALHE ED (NOLOCK)
                                  INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.ANO_EMISSAO = ED.ANO_EMISSAO AND E.NR_EMISSAO = ED.NR_EMISSAO
                               WHERE E.CD_FAVORECIDO IS NOT NULL) AS E
                         WHERE NR_ORDEM = 1) AS E ON E.ANO_LANCTO = L.ANO_LANCTO AND E.NR_LANCTO = L.NR_LANCTO
             LEFT  JOIN BROKER.DBO.TFAVORECIDO            FAV2 (NOLOCK) ON FAV2.CD_FAVORECIDO = E.CD_FAVORECIDO
             LEFT  JOIN BROKER.DBO.TDECLARACAO_IMPORTACAO DI   (NOLOCK) ON DI.NR_PROCESSO = P.NR_PROCESSO
             LEFT  JOIN BROKER.DBO.TMOEDA_BROKER          MB   (NOLOCK) ON MB.CD_MOEDA = DI.CD_MOEDA_MLE
             LEFT  JOIN BROKER.DBO.TLOCAL_EMBARQUE        LE   (NOLOCK) ON LE.CODIGO = P.CD_LOCAL_EMBARQUE
             LEFT  JOIN BROKER.DBO.TLOCAL_EMBARQUE        LD   (NOLOCK) ON LD.CODIGO = P.CD_LOCAL_DESEMBARQUE
             LEFT  JOIN BROKER.DBO.VW_TIPO_ESTUFAGEM      TE   (NOLOCK) ON TE.TP_ESTUFAGEM = P.TP_ESTUFAGEM
          WHERE L.IN_CANCELADO = '0'  
            --AND L.DT_LANCTO >= CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE() - 80, 103), 103)  
            AND L.DT_LANCTO BETWEEN @DATA_INICIAL AND @DATA_FINAL
            AND L.CD_ITEM <> 822
          GROUP BY P.CD_UNID_NEG,  
                   UN.AP_UNID_NEG,  
                   P.CD_PRODUTO,  
                   PD.NM_PRODUTO,  
                   P.NR_PROCESSO,  
                   P.CD_AREA,  
                   A.NM_AREA,  
                   AG.NM_AGENTE,  
                   AG.CD_AGENTE,
                   L.CD_FORNECEDOR,
                   CASE L.CD_ITEM
                       WHEN '822' THEN 'Despachante'
                   ELSE RTRIM(FAV.NM_FAVORECIDO)
                   END,
                   AE.CD_ARMAZEM,
                   AE.NM_ARMAZEM,
                   AD.CD_ARMAZEM,
                   AD.NM_ARMAZEM,
                   AA.CD_ARMAZEM,
                   AA.NM_ARMAZEM,
                   AR.CD_ARMADOR,
                   FAV2.CD_FAVORECIDO,
                   FAV2.NM_FAVORECIDO,
                   TI.CODIGO,
                   TI.DESCRICAO,
                   AR.NM_ARMADOR,
                   EE.NM_EMPRESA,
                   G.CD_GRUPO,
                   G.NM_GRUPO,  
                   EN.CGC_EMPRESA,  
                   EM.NM_EMBARCACAO,  
                   TR.NM_TRANSP_ROD,  
                   L.CD_ITEM,  
                   RTRIM(I.NM_ITEM),  
                   L.DT_LANCTO,
                   ISNULL(DI.PL_CARGA, 0),
                   ISNULL(DI.PB_CARGA, 0),
                   DI.VL_TOT_MLE_MNEG,
                   DI.VL_TOT_MLE_MNEG * DI.TX_MLE,
                   MB.AP_MOEDA,
                   P.CD_LOCAL_EMBARQUE,
                   P.CD_LOCAL_DESEMBARQUE,
                   P.TP_ESTUFAGEM,
                   LE.DESCRICAO,
                   LD.DESCRICAO,
                   TE.NM_ESTUFAGEM) AS VW WHERE VALOR_PAGO > 0  
    ORDER BY 1, 2, 3, 11  

    INSERT INTO @PAGAMENTOS
    SELECT *,
           (SELECT MASTER.DBO.RowConcatLeft(DISTINCT RTRIM(M.CD_MERCADORIA) + ' - ' + REPLACE(RTRIM(CONVERT(VARCHAR(MAX), M.NM_MERCADORIA)), CHAR(13), '') + ', ')
            FROM BROKER.DBO.TDETALHE_MERCADORIA DM
               INNER JOIN BROKER.DBO.TMERCADORIA M ON M.CD_MERCADORIA = DM.CD_MERCADORIA
            WHERE DM.NR_PROCESSO = VW1.Processo) AS Mercadorias,
           (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.RowConcatLeft(NM_QTD + ', '), ', ')
            FROM (SELECT CONVERT(VARCHAR, COUNT(*)) + ' ' + RTRIM(TC.NM_TP_CNTR) AS NM_QTD
                  FROM TPROCESSO_CNTR PC
                     INNER JOIN TTP_CNTR TC ON TC.TP_CNTR = PC.TP_CNTR
                  WHERE NR_PROCESSO = Cod_Unidade + Cod_Produto + Processo
                  GROUP BY TC.NM_TP_CNTR) AS V1) AS Tipo_Containers,
           (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.RowConcatLeft(CONVERT(VARCHAR, VL_QTDE) + ' ' + NM_ESPECIE + ', '), ', ')
            FROM TPROCESSO_CARGA_SOLTA
            WHERE NR_PROCESSO = Cod_Unidade + Cod_Produto + Processo) AS Carga_Solta
    FROM (SELECT Cod_Unidade,
                   Nome_Unidade,
                   Cod_Produto,
                   Nome_Produto,
                   Processo,
                   Cod_Area,
                   Nome_Area,
                   Codigo_Agente,
                   Nome_Agente,
                   Codigo_Fornecedor,
                   Nome_Fornecedor,
                   Codigo_Armazem_Estocagem,
                   Nome_Armazem_Estocagem,
                   Codigo_Armazem_Descarga,
                   Nome_Armazem_Descarga,
                   Codigo_Armazem_Atracacao,
                   Nome_Armazem_Atracacao,
                   Codigo_Transportador,
                   Nome_Transportador,
                   Codigo_Armador,
                   Nome_Armador,
                   Codigo_Favorecido,
                   Nome_Favorecido,
                   REPLACE(REPLACE(Empresa_Estrangeira, CHAR(9), ' '), ';', ',') AS Empresa_Estrangeira,
                   Codigo_Grupo,
                   Nome_Grupo,
                   CNPJ_Cliente,
                   Embarcacao,
                   Transportador_Rodoviario,
                   Tipo_Container,
                   Containers,
                   Data_Devolucao,
                   Referencias,
                   Cod_Item,
                   Nome_Item,
                   Data_Lancamento,
                   Dia,
                   Mes,
                   Ano,
                   Valor_Pago,
                   Peso_Liquido,
                   Peso_Bruto,
                   Valor_CIF,
                   Valor_CIF_Moeda,
                   Moeda,
                   Codigo_Local_Embarque,
                   Nome_Local_Embarque,
                   Codigo_Local_Desembarque,
                   Nome_Local_Desembarque,
                   Data_Chegada_Saida,
                   Tipo_Estufagem
            FROM @RETORNO
            UNION ALL
            --*/
            SELECT Cod_Unidade,
                   Nome_Unidade,
                   Cod_Produto,
                   Nome_Produto,
                   Processo,
                   Cod_Area,
                   Nome_Area,
                   Codigo_Agente,
                   Nome_Agente,
                   '' Codigo_Fornecedor,
                   'Despachante' Nome_Fornecedor,
                   Codigo_Armazem_Estocagem,
                   Nome_Armazem_Estocagem,
                   Codigo_Armazem_Descarga,
                   Nome_Armazem_Descarga,
                   Codigo_Armazem_Atracacao,
                   Nome_Armazem_Atracacao,
                   Codigo_Transportador,
                   Nome_Transportador,
                   Codigo_Armador,
                   Nome_Armador,
                   '' Codigo_Favorecido,
                   'Indaiá' Nome_Favorecido,
                   Empresa_Estrangeira,
                   Codigo_Grupo,
                   Nome_Grupo,
                   CNPJ_Cliente,
                   Embarcacao,
                   Transportador_Rodoviario,
                   Tipo_Container,
                   Containers,
                   Data_Devolucao,
                   Referencias,
                   L.CD_ITEM Cod_Item,
                   I.NM_ITEM Nome_Item,
                   CONVERT(VARCHAR, L.DT_LANCTO, 103) Data_Lancamento,
                   DAY(L.DT_LANCTO) Dia,
                   MONTH(L.DT_LANCTO) Mes,
                   YEAR(L.DT_LANCTO) Ano,
                   L.VL_LANCTO Valor_Pago,
                   Peso_Liquido,
                   Peso_Bruto,
                   Valor_CIF,
                   Valor_CIF_Moeda,
                   Moeda,
                   Codigo_Local_Embarque,
                   Nome_Local_Embarque,
                   Codigo_Local_Desembarque,
                   Nome_Local_Desembarque,
                   Data_Chegada_Saida,
                   Tipo_Estufagem
            FROM (SELECT *
                  FROM (SELECT Cod_Unidade,
                               Nome_Unidade,
                               Cod_Produto,
                               Nome_Produto,
                               Processo,
                               Cod_Area,
                               Nome_Area,
                               Codigo_Agente,
                               Nome_Agente,
                               Codigo_Fornecedor,
                               Nome_Fornecedor,
                               Codigo_Armazem_Estocagem,
                               Nome_Armazem_Estocagem,
                               Codigo_Armazem_Descarga,
                               Nome_Armazem_Descarga,
                               Codigo_Armazem_Atracacao,
                               Nome_Armazem_Atracacao,
                               Codigo_Transportador,
                               Nome_Transportador,
                               Codigo_Armador,
                               Nome_Armador,
                               Codigo_Favorecido,
                               Nome_Favorecido,
                               REPLACE(REPLACE(Empresa_Estrangeira, CHAR(9), ' '), ';', ',') AS Empresa_Estrangeira,
                               Codigo_Grupo,
                               Nome_Grupo,
                               CNPJ_Cliente,
                               Embarcacao,
                               Transportador_Rodoviario,
                               Tipo_Container,
                               Containers,
                               Data_Devolucao,
                               Referencias,
                               Cod_Item,
                               Nome_Item,
                               Data_Lancamento,
                               Dia,
                               Mes,
                               Ano,
                               Valor_Pago,
                               Peso_Liquido,
                               Peso_Bruto,
                               Valor_CIF,
                               Valor_CIF_Moeda,
                               Moeda,
                               Codigo_Local_Embarque,
                               Nome_Local_Embarque,
                               Codigo_Local_Desembarque,
                               Nome_Local_Desembarque,
                               Data_Chegada_Saida,
                               Tipo_Estufagem,
                               DENSE_RANK() OVER(PARTITION BY Processo ORDER BY Cod_Item, Nome_Item, Data_Lancamento, Dia, Mes, Ano, Valor_Pago) AS NR_ORDEM
                        FROM @RETORNO) AS VW
                        WHERE NR_ORDEM = 1) AS VW
               INNER JOIN MYMONEY.DBO.TB_LANCTO L (NOLOCK) ON L.NR_PROCESSO = VW.Cod_Unidade + VW.Cod_Produto + VW.Processo
               INNER JOIN BROKER.DBO.TITEM I (NOLOCK) ON I.CD_ITEM = L.CD_ITEM
            WHERE L.CD_ITEM IN (822, 143)) AS VW1

    RETURN
END

GO
