USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FNC_TAXA_MOEDA](@CD_MOEDA CHAR(3), @DT_TAXA  DATETIME) RETURNS FLOAT
BEGIN
    /*
    DECLARE @CD_MOEDA CHAR(3)
    DECLARE @DT_TAXA  DATETIME
    
    SET @CD_MOEDA = '220'
    SET @DT_TAXA  = CONVERT(DATETIME, '01/08/2010', 103)
    --*/
    DECLARE @VL_TAXA FLOAT
    
    SELECT @VL_TAXA = TX_CAMBIO
    FROM TTAXA_CAMBIO (NOLOCK)
    WHERE CD_MOEDA = @CD_MOEDA
      AND @DT_TAXA BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA
    
    IF @VL_TAXA IS NULL
        SELECT TOP 1 @VL_TAXA = TX_CAMBIO
        FROM TTAXA_CAMBIO (NOLOCK)
        WHERE CD_MOEDA = @CD_MOEDA
        ORDER BY DT_INICIO_VIGENCIA DESC
    
    RETURN @VL_TAXA
    --SELECT @VL_TAXA
END


GO
