USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_PRE_CALCULO_CIF](@NR_PROCESSO CHAR(18)) RETURNS FLOAT AS
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18)
    SET @NR_PROCESSO = '0101IM-0209-12'
    BEGIN TRAN
    --*/
    DECLARE @CD_INCOTERM         CHAR(3)
    DECLARE @VL_FOB_REAIS        FLOAT
    DECLARE @VL_FRETE_REAIS      FLOAT
    DECLARE @VL_SEGURO_REAIS     FLOAT
    DECLARE @TX_DOLAR            FLOAT
    DECLARE @VL_ACRESCIMOS_REAIS FLOAT
    DECLARE @VL_DEDUCOES_REAIS   FLOAT
    DECLARE @VL_CIF_REAIS        FLOAT
    DECLARE @VL_CIF_DOLAR        FLOAT
    
    SELECT @CD_INCOTERM         = ISNULL(CD_INCOTERM, ''),
           @VL_FOB_REAIS        = ISNULL(VL_FOB_MOEDA, 0) * ISNULL(TX_FOB, 0),
           @VL_FRETE_REAIS      = ISNULL(VL_FRETE_MOEDA, 0) * ISNULL(TX_FRETE, 0),
           @VL_SEGURO_REAIS     = ISNULL(VL_SEGURO_MOEDA, 0) * ISNULL(TX_SEGURO, 0),
           @TX_DOLAR            = ISNULL(TX_DOLAR, 0),
           @VL_ACRESCIMOS_REAIS = ISNULL(VL_ACRESCIMOS_REAIS, 0),
           @VL_DEDUCOES_REAIS   = ISNULL(VL_DEDUCOES_REAIS, 0)
    FROM BROKER.DBO.TPRE_CALCULO_CAPA
    WHERE NR_PROCESSO = @NR_PROCESSO
    
    SELECT @VL_CIF_REAIS = CASE @CD_INCOTERM
                               WHEN 'FOB' THEN @VL_FOB_REAIS
                               WHEN 'FCA' THEN @VL_FOB_REAIS
                               WHEN 'FAS' THEN @VL_FOB_REAIS
                               WHEN 'EXW' THEN @VL_FOB_REAIS
                               WHEN 'DDU' THEN @VL_FOB_REAIS + @VL_SEGURO_REAIS    
                               WHEN 'CFR' THEN @VL_FOB_REAIS + @VL_FRETE_REAIS     
                               WHEN 'CPT' THEN @VL_FOB_REAIS + @VL_FRETE_REAIS     
                               WHEN 'CIF' THEN @VL_FOB_REAIS + @VL_FRETE_REAIS + @VL_SEGURO_REAIS
                               WHEN 'DAF' THEN @VL_FOB_REAIS + @VL_FRETE_REAIS + @VL_SEGURO_REAIS
                               WHEN 'DES' THEN @VL_FOB_REAIS + @VL_FRETE_REAIS + @VL_SEGURO_REAIS
                               WHEN 'CIP' THEN @VL_FOB_REAIS + @VL_FRETE_REAIS + @VL_SEGURO_REAIS
                           ELSE 0    
                           END + @VL_ACRESCIMOS_REAIS - @VL_DEDUCOES_REAIS
    
    IF @TX_DOLAR = 0
        SET @VL_CIF_DOLAR = 0
    ELSE
        SET @VL_CIF_DOLAR = @VL_CIF_REAIS / @TX_DOLAR
    
    /*
    PRINT '@CD_INCOTERM         : ' + CONVERT(VARCHAR, @CD_INCOTERM)
    PRINT '@VL_FOB_REAIS        : ' + CONVERT(VARCHAR, @VL_FOB_REAIS)
    PRINT '@VL_FRETE_REAIS      : ' + CONVERT(VARCHAR, @VL_FRETE_REAIS)
    PRINT '@VL_SEGURO_REAIS     : ' + CONVERT(VARCHAR, @VL_SEGURO_REAIS)
    PRINT '@VL_ACRESCIMOS_REAIS : ' + CONVERT(VARCHAR, @VL_ACRESCIMOS_REAIS)
    PRINT '@VL_DEDUCOES_REAIS   : ' + CONVERT(VARCHAR, @VL_DEDUCOES_REAIS)
    PRINT '@TX_DOLAR            : ' + CONVERT(VARCHAR, @TX_DOLAR)
    PRINT '@VL_CIF_DOLAR        : ' + CONVERT(VARCHAR, @VL_CIF_DOLAR)
    PRINT '@VL_CIF_REAIS        : ' + CONVERT(VARCHAR, @VL_CIF_REAIS)
    ROLLBACK
    --*/
    
    RETURN ISNULL(@VL_CIF_DOLAR, 0)
END

GO
