USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [fnConcatenaTeste] (@teste varchar(max))
RETURNS VARCHAR (max)
AS
BEGIN
  DECLARE @Fones VARCHAR(max)

  SELECT @Fones = ''

SELECT @Fones = @Fones + NR_FATURA + ' - ' FROM dbo.TPROCESSO_EXP_PEDIDO
WHERE NR_PROCESSO = @TESTE

SELECT @Fones = LEFT (@Fones, LEN (@Fones) - 2)

  RETURN @Fones

end


GO
