USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_RE_NOVOEX_AVERBACAO]() RETURNS @RETORNO TABLE (
    NR_PROCESSO_DDE     VARCHAR(18),
    NR_REGISTRO_DDE     VARCHAR(12),
    CD_USUARIO_DDE      VARCHAR(4),
    NM_USUARIO_DDE      VARCHAR(100),
    NM_EMAIL_DDE        VARCHAR(100),
    CPF_DESPACHANTE_DDE VARCHAR(11),
    NM_DESPACHANTE_DDE  VARCHAR(100),
    PW_DESPACHANTE_DDE  VARCHAR(20),
    NR_PROCESSO_RE      VARCHAR(18),
    NR_COMPLEMENTO_RE   VARCHAR(3),
    NR_RE               VARCHAR(30),
    NR_RE_FINAL         VARCHAR(30),
    CD_USUARIO_RE       VARCHAR(4),
    NM_USUARIO_RE       VARCHAR(100),
    NM_EMAIL_RE         VARCHAR(100),
    CPF_DESPACHANTE_RE  VARCHAR(11),
    NM_DESPACHANTE_RE   VARCHAR(100),
    PW_DESPACHANTE_RE   VARCHAR(20),
    CD_CLIENTE          VARCHAR(5),
    CD_GRUPO            VARCHAR(3),
    IN_EXTRATO_RESUMIDO BIT
) AS
--*/
BEGIN
    /*
    DECLARE @RETORNO AS TABLE (
        NR_PROCESSO_DDE     VARCHAR(18),
        NR_REGISTRO_DDE     VARCHAR(12),
        CD_USUARIO_DDE      VARCHAR(4),
        NM_USUARIO_DDE      VARCHAR(100),
        NM_EMAIL_DDE        VARCHAR(100),
        CPF_DESPACHANTE_DDE VARCHAR(11),
        NM_DESPACHANTE_DDE  VARCHAR(100),
        PW_DESPACHANTE_DDE  VARCHAR(20),
        NR_PROCESSO_RE      VARCHAR(18),
        NR_COMPLEMENTO_RE   VARCHAR(3),
        NR_RE               VARCHAR(30),
        NR_RE_FINAL         VARCHAR(30),
        CD_USUARIO_RE       VARCHAR(4),
        NM_USUARIO_RE       VARCHAR(100),
        NM_EMAIL_RE         VARCHAR(100),
        CPF_DESPACHANTE_RE  VARCHAR(11),
        NM_DESPACHANTE_RE   VARCHAR(100),
        PW_DESPACHANTE_RE   VARCHAR(20),
        CD_CLIENTE          VARCHAR(5),
        CD_GRUPO            VARCHAR(3),
        IN_EXTRATO_RESUMIDO BIT
    )
    --*/

    DECLARE @DDE_RE AS TABLE (
        NR_PROCESSO_DDE     VARCHAR(18),
        NR_REGISTRO_DDE     VARCHAR(12),
        NR_RE               VARCHAR(30),
        NR_ANEXO_INICIAL    INT,
        NR_ANEXO_FINAL      INT,
        CD_USUARIO_DDE      VARCHAR(4),
        NM_USUARIO_DDE      VARCHAR(100),
        NM_EMAIL_DDE        VARCHAR(100),
        CPF_DESPACHANTE_DDE VARCHAR(11),
        NM_DESPACHANTE      VARCHAR(100),
        PW_DESPACHANTE      VARCHAR(20),
        NR_PROCESSO_RE      VARCHAR(18),
        NR_COMPLEMENTO_RE   VARCHAR(3),
        CD_USUARIO_RE       VARCHAR(4),
        NM_USUARIO_RE       VARCHAR(100),
        NM_EMAIL_RE         VARCHAR(100),
        CPF_DESPACHANTE_RE  VARCHAR(11),
        NM_DESPACHANTE_RE   VARCHAR(100),
        PW_DESPACHANTE_RE   VARCHAR(20),
        CD_CLIENTE          VARCHAR(5),
        CD_GRUPO            VARCHAR(3),
        IN_RE_RESUMIDO      BIT
    )

    DECLARE @NR_PROCESSO_DDE     VARCHAR(18)
    DECLARE @NR_REGISTRO_DDE     VARCHAR(12)
    DECLARE @NR_RE               VARCHAR(30)
    DECLARE @NR_ANEXO_INICIAL    INT
    DECLARE @NR_ANEXO_FINAL      INT
    DECLARE @CD_USUARIO_DDE      VARCHAR(4)
    DECLARE @NM_USUARIO_DDE      VARCHAR(100)
    DECLARE @NM_EMAIL_DDE        VARCHAR(100)
    DECLARE @CPF_DESPACHANTE_DDE VARCHAR(11)
    DECLARE @NM_DESPACHANTE      VARCHAR(100)
    DECLARE @PW_DESPACHANTE      VARCHAR(20)
    DECLARE @NR_PROCESSO_RE      VARCHAR(18)
    DECLARE @NR_COMPLEMENTO_RE   VARCHAR(3)
    DECLARE @CD_USUARIO_RE       VARCHAR(4)
    DECLARE @NM_USUARIO_RE       VARCHAR(100)
    DECLARE @NM_EMAIL_RE         VARCHAR(100)
    DECLARE @CPF_DESPACHANTE_RE  VARCHAR(11)
    DECLARE @NM_DESPACHANTE_RE   VARCHAR(100)
    DECLARE @PW_DESPACHANTE_RE   VARCHAR(20)
    DECLARE @CD_CLIENTE          VARCHAR(5)
    DECLARE @CD_GRUPO            VARCHAR(3)
    DECLARE @IN_RE_RESUMIDO      BIT

    DECLARE @NR_RE_ATUAL         VARCHAR(30)

    -- Os Rodoviários são listados no final da função
    /*
    INSERT INTO @DDE_RE
    SELECT SD.NR_SD,
           SD.NR_REGISTRO_SD,
           SR.NR_RE_SISCOMEX,
           SR.NR_ANEXO_INICIAL,
           SR.NR_ANEXO_FINAL,
           SD.CD_PROPRIETARIO,
           UD.NM_USUARIO,
           UD.NM_EMAIL,
           SD.CPF_USUARIO,
           RTRIM(DS.NM_DESPACHANTE),
           RTRIM(DS.NM_SENHA),
           RE.NR_PROCESSO,
           RE.NR_PROCESSO_COMPLEMENTO,
           RE.CD_USUARIO_TRANSMISSAO,
           UR.NM_USUARIO,
           UR.NM_EMAIL,
           RE.TX_CPF_SISCOMEX,
           RTRIM(DR.NM_DESPACHANTE),
           RTRIM(DR.NM_SENHA)
    FROM TSD                       SD (NOLOCK)
       INNER JOIN TSD_RE           SR (NOLOCK) ON SR.NR_SD = SD.NR_SD
       LEFT  JOIN TDESPACHANTE     DS (NOLOCK) ON DS.CPF_DESPACHANTE = SD.CPF_USUARIO AND DS.IN_ATIVO NOT IN ('3', '5') -- Não estar com senha inválida ou bloqueado
       LEFT  JOIN TUSUARIO         UD (NOLOCK) ON UD.CD_USUARIO = SD.CD_PROPRIETARIO
       LEFT  JOIN TRE_CAPA         RE (NOLOCK) ON RE.NR_RE_SISCOMEX = SR.NR_RE_SISCOMEX
       LEFT  JOIN TDESPACHANTE     DR (NOLOCK) ON DR.CPF_DESPACHANTE = RE.TX_CPF_SISCOMEX AND DR.IN_ATIVO NOT IN ('3', '5') -- Não estar com senha inválida ou bloqueado
       LEFT  JOIN TUSUARIO         UR (NOLOCK) ON UR.CD_USUARIO = RE.CD_USUARIO_TRANSMISSAO
       INNER JOIN TFOLLOWUP        F  (NOLOCK) ON F.NR_PROCESSO = SD.NR_SD
       LEFT  JOIN VW_SERVICO_GERAL S  (NOLOCK) ON S.CD_SERVICO = F.CD_SERVICO
    WHERE ISNULL(SR.IN_RE_AVERBADO, '0') = '0'
      AND ISNULL(SR.NR_RE_SISCOMEX, '-') <> '-'
      AND F.CD_EVENTO = '141'
      --AND F.DT_REALIZACAO IS NOT NULL
      --/*
      AND ISNULL(F.DT_REALIZACAO, 0) > DATEADD(MONTH, -1, CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103))
      --*/AND SD.NR_SD IN ('0702JA-0248-12')
      AND S.CD_VIA_TRANSPORTE <> '07'
      AND DS.IN_ATIVO NOT IN ('3', '5') -- Não estar com senha inválida ou bloqueado*/
    INSERT INTO @DDE_RE
    SELECT PR.NR_PROCESSO,
           SD.NR_REGISTRO_SD,
           PR.NR_RE_SISCOMEX,
           PR.NR_ANEXO_INICIAL,
           PR.NR_ANEXO_FINAL,
           ISNULL(SD.CD_PROPRIETARIO, P.CD_USUARIO),
           UD.NM_USUARIO,
           UD.NM_EMAIL,
           ISNULL(SD.CPF_USUARIO, DP.CPF_DESPACHANTE),
           RTRIM(ISNULL(DP.NM_DESPACHANTE, DS.NM_DESPACHANTE)),
           RTRIM(ISNULL(DP.NM_SENHA, DS.NM_SENHA)),
           RE.NR_PROCESSO,
           RE.NR_PROCESSO_COMPLEMENTO,
           RE.CD_USUARIO_TRANSMISSAO,
           UR.NM_USUARIO,
           UR.NM_EMAIL,
           RE.TX_CPF_SISCOMEX,
           RTRIM(DR.NM_DESPACHANTE),
           RTRIM(DR.NM_SENHA),
           P.CD_CLIENTE,
           G.CD_GRUPO,
           ISNULL(G.IN_EXTRATO_AVERBADO_RESUMIDO, 0)
    FROM (SELECT NR_PROCESSO,
                 LEFT(NR_RE, 2) + '/' + SUBSTRING(NR_RE, 3, 7) + '-' + RIGHT(RTRIM(NR_RE), 3) AS NR_RE_SISCOMEX,
                 '001' AS NR_ANEXO_INICIAL,
                 RIGHT(RTRIM(NR_RE), 3) AS NR_ANEXO_FINAL
          FROM TPROCESSO_EXP_RE (NOLOCK)
          WHERE NR_RE IS NOT NULL
            AND ISNULL(IN_RE_AVERBADO, '0') = '0'
            AND ISNULL(NR_RE, '-') <> '-') AS PR
       INNER JOIN TFOLLOWUP        F  (NOLOCK) ON F.NR_PROCESSO = PR.NR_PROCESSO
       INNER JOIN TPROCESSO        P  (NOLOCK) ON P.NR_PROCESSO = PR.NR_PROCESSO
       INNER JOIN TEMPRESA_NAC     EN (NOLOCK) ON EN.CD_EMPRESA = P.CD_CLIENTE
       INNER JOIN TGRUPO           G  (NOLOCK) ON G.CD_GRUPO = EN.CD_GRUPO
       LEFT  JOIN VW_SERVICO_GERAL S  (NOLOCK) ON S.CD_SERVICO = P.CD_SERVICO
       LEFT  JOIN TSD              SD (NOLOCK) ON SD.NR_SD = PR.NR_PROCESSO
       LEFT  JOIN TSD_RE           SR (NOLOCK) ON SR.NR_SD = SD.NR_SD AND SR.NR_RE_SISCOMEX = PR.NR_RE_SISCOMEX
       LEFT  JOIN TDESPACHANTE     DS (NOLOCK) ON DS.CPF_DESPACHANTE = SD.CPF_USUARIO
       LEFT  JOIN TUSUARIO         UD (NOLOCK) ON UD.CD_USUARIO = ISNULL(SD.CD_PROPRIETARIO, P.CD_USUARIO)
       LEFT  JOIN TRE_CAPA         RE (NOLOCK) ON RE.NR_RE_SISCOMEX = PR.NR_RE_SISCOMEX
       LEFT  JOIN TDESPACHANTE     DR (NOLOCK) ON DR.CPF_DESPACHANTE = RE.TX_CPF_SISCOMEX
       LEFT  JOIN TUSUARIO         UR (NOLOCK) ON UR.CD_USUARIO = RE.CD_USUARIO_TRANSMISSAO
       LEFT  JOIN TDESPACHANTE     DP (NOLOCK) ON DP.CD_DESPACHANTE = P.CD_DESPACHANTE
    WHERE F.CD_EVENTO = '141'
      --AND F.DT_REALIZACAO IS NOT NULL
      /*
      AND PR.NR_PROCESSO IN ('0202EO-000013-14')
      --*/AND ISNULL(F.DT_REALIZACAO, 0) > DATEADD(MONTH, -1, CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103))
      AND S.CD_VIA_TRANSPORTE <> '07'
      --AND DS.IN_ATIVO NOT IN ('3', '5') -- Não estar com senha inválida ou bloqueado
       AND ISNULL(DS.IN_ATIVO, '1') NOT IN ('0', '3', '5') -- Não estar com senha inválida ou bloqueado
       AND ISNULL(DR.IN_ATIVO, '1') NOT IN ('0', '3', '5') -- Não estar com senha inválida ou bloqueado
       AND ISNULL(DP.IN_ATIVO, '1') NOT IN ('0', '3', '5') -- Não estar com senha inválida ou bloqueado

    WHILE (SELECT COUNT(*) FROM @DDE_RE) > 0
    BEGIN
        SELECT TOP 1 @NR_PROCESSO_DDE     = NR_PROCESSO_DDE,
                     @NR_REGISTRO_DDE     = NR_REGISTRO_DDE,
                     @NR_RE               = NR_RE,
                     @NR_ANEXO_INICIAL    = ISNULL(NR_ANEXO_INICIAL, 0),
                     @NR_ANEXO_FINAL      = ISNULL(NR_ANEXO_FINAL, 0),
                     @CD_USUARIO_DDE      = CD_USUARIO_DDE,
                     @NM_USUARIO_DDE      = NM_USUARIO_DDE,
                     @NM_EMAIL_DDE        = NM_EMAIL_DDE,
                     @CPF_DESPACHANTE_DDE = CPF_DESPACHANTE_DDE,
                     @NM_DESPACHANTE      = NM_DESPACHANTE,
                     @PW_DESPACHANTE      = PW_DESPACHANTE,
                     @NR_PROCESSO_RE      = NR_PROCESSO_RE,
                     @NR_COMPLEMENTO_RE   = NR_COMPLEMENTO_RE,
                     @CD_USUARIO_RE       = CD_USUARIO_RE,
                     @NM_USUARIO_RE       = NM_USUARIO_RE,
                     @NM_EMAIL_RE         = NM_EMAIL_RE,
                     @CPF_DESPACHANTE_RE  = CPF_DESPACHANTE_RE,
                     @NM_DESPACHANTE_RE   = NM_DESPACHANTE_RE,
                     @PW_DESPACHANTE_RE   = PW_DESPACHANTE_RE,
                     @CD_CLIENTE          = CD_CLIENTE,
                     @CD_GRUPO            = CD_GRUPO,
                     @IN_RE_RESUMIDO      = IN_RE_RESUMIDO
        FROM @DDE_RE

        SELECT @IN_RE_RESUMIDO = ISNULL(G.IN_EXTRATO_AVERBADO_RESUMIDO, 0)
        FROM TEMPRESA_NAC    EN
           INNER JOIN TGRUPO G  ON G.CD_GRUPO = EN.CD_GRUPO
        WHERE EN.CD_EMPRESA = @CD_CLIENTE

        -- SÓ FAZ SE O REGISTRO ESTIVER CORRETO
        IF (CHARINDEX('-', @NR_RE) > 5) --AND (SUBSTRING(@NR_RE, 4, 1) >= 5)
        BEGIN
            IF (@NR_ANEXO_INICIAL > 0)
                WHILE (@NR_ANEXO_INICIAL <= @NR_ANEXO_FINAL)
                BEGIN
                    SET @NR_RE_ATUAL = LEFT(@NR_RE, CHARINDEX('-', @NR_RE)) + RIGHT('00' + CONVERT(VARCHAR, @NR_ANEXO_INICIAL), 3)

                    INSERT INTO @RETORNO(NR_PROCESSO_DDE, NR_REGISTRO_DDE, CD_USUARIO_DDE, NM_USUARIO_DDE, NM_EMAIL_DDE, CPF_DESPACHANTE_DDE, NM_DESPACHANTE_DDE,
                                         PW_DESPACHANTE_DDE, NR_PROCESSO_RE, NR_COMPLEMENTO_RE, NR_RE, NR_RE_FINAL, CD_USUARIO_RE, NM_USUARIO_RE, NM_EMAIL_RE,
                                         CPF_DESPACHANTE_RE, NM_DESPACHANTE_RE, PW_DESPACHANTE_RE, CD_CLIENTE, CD_GRUPO, IN_EXTRATO_RESUMIDO)
                    SELECT @NR_PROCESSO_DDE, @NR_REGISTRO_DDE, @CD_USUARIO_DDE, @NM_USUARIO_DDE, @NM_EMAIL_DDE, @CPF_DESPACHANTE_DDE, @NM_DESPACHANTE,
                           @PW_DESPACHANTE, @NR_PROCESSO_RE, @NR_COMPLEMENTO_RE, @NR_RE_ATUAL, @NR_RE, @CD_USUARIO_RE, @NM_USUARIO_RE, @NM_EMAIL_RE,
                           @CPF_DESPACHANTE_RE, @NM_DESPACHANTE_RE, @PW_DESPACHANTE_RE, @CD_CLIENTE, @CD_GRUPO, @IN_RE_RESUMIDO

                    SET @NR_ANEXO_INICIAL = @NR_ANEXO_INICIAL + 1
                END
        END

        DELETE @DDE_RE
        WHERE NR_PROCESSO_DDE = @NR_PROCESSO_DDE
          AND NR_RE           = @NR_RE
    END

    --  Rodoviários não tem DDE no Sistema
    INSERT INTO @RETORNO
    SELECT RA.NR_PROCESSO,
           NULL,
           NULL,
           NULL,
           NULL,
           NULL,
           NULL,
           NULL,
           RA.NR_PROCESSO,
           RA.NR_PROCESSO_COMPLEMENTO,
           RA.NR_RE,
           RC.NR_RE_SISCOMEX,
           RC.CD_USUARIO_TRANSMISSAO,
           RTRIM(U.NM_USUARIO),
           RTRIM(U.NM_EMAIL),
           RC.TX_CPF_SISCOMEX,
           RTRIM(D.NM_DESPACHANTE),
           RTRIM(D.NM_SENHA),
           P.CD_CLIENTE,
           G.CD_GRUPO,
           ISNULL(G.IN_EXTRATO_AVERBADO_RESUMIDO, 0)
    FROM TRE_ANEXO RA
       INNER JOIN TRE_CAPA         RC ON RC.NR_PROCESSO = RA.NR_PROCESSO AND RC.NR_PROCESSO_COMPLEMENTO = RA.NR_PROCESSO_COMPLEMENTO
       INNER JOIN TUSUARIO         U  ON U.CD_USUARIO = RC.CD_USUARIO_TRANSMISSAO
       INNER JOIN TDESPACHANTE     D  ON D.CPF_DESPACHANTE = RC.TX_CPF_SISCOMEX AND D.IN_ATIVO NOT IN ('0', '3', '5') -- Não estar com senha inválida ou bloqueado
       INNER JOIN TFOLLOWUP        F  ON F.NR_PROCESSO = RA.NR_PROCESSO
       --LEFT  JOIN TPROCESSO_DOCTOS PD ON PD.NR_PROCESSO = RA.NR_PROCESSO AND PD.NM_DESCRICAO LIKE '%' + RTRIM(RA.NR_RE) + '%AVERBADO%'
       INNER JOIN VW_SERVICO_GERAL S  ON S.CD_SERVICO = F.CD_SERVICO
       INNER JOIN TPROCESSO        P  ON P.NR_PROCESSO = RA.NR_PROCESSO
       INNER JOIN TEMPRESA_NAC     EN ON EN.CD_EMPRESA = P.CD_CLIENTE
       INNER JOIN TGRUPO           G  ON G.CD_GRUPO = EN.CD_GRUPO
    WHERE ISNULL(RA.IN_RE_AVERBADO, 0) = 0
      AND RC.IN_NOVOEX = 1
      --AND 1=0
      AND RC.NR_LOTE IS NOT NULL
      AND ISNULL(RC.NR_RE_SISCOMEX, '-') <> '-'
      AND F.CD_EVENTO = '141'
      AND F.DT_REALIZACAO IS NOT NULL
      /*
      AND RA.NR_PROCESSO IN ('0102ER-000984-14', '0102ER-001371-14', '0102ER-000445-14')
      --*/AND F.DT_REALIZACAO > DATEADD(MONTH, -1, CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103))
      --AND PD.NR_PROCESSO IS NULL
      AND S.CD_VIA_TRANSPORTE = '07'
      AND D.IN_ATIVO NOT IN ('3', '5') -- Não estar com senha inválida ou bloqueado

    -- Outros processos não listados acima
    INSERT INTO @RETORNO
    SELECT RA.NR_PROCESSO,
           NULL,
           NULL,
           NULL,
           NULL,
           NULL,
           NULL,
           NULL,
           RA.NR_PROCESSO,
           RA.NR_PROCESSO_COMPLEMENTO,
           RA.NR_RE,
           RC.NR_RE_SISCOMEX,
           RC.CD_USUARIO_TRANSMISSAO,
           RTRIM(U.NM_USUARIO),
           RTRIM(U.NM_EMAIL),
           RC.TX_CPF_SISCOMEX,
           RTRIM(D.NM_DESPACHANTE),
           RTRIM(D.NM_SENHA),
           P.CD_CLIENTE,
           G.CD_GRUPO,
           ISNULL(G.IN_EXTRATO_AVERBADO_RESUMIDO, 0)
    FROM TRE_ANEXO RA
       INNER JOIN TRE_CAPA         RC ON RC.NR_PROCESSO = RA.NR_PROCESSO AND RC.NR_PROCESSO_COMPLEMENTO = RA.NR_PROCESSO_COMPLEMENTO
       INNER JOIN TUSUARIO         U  ON U.CD_USUARIO = RC.CD_USUARIO_TRANSMISSAO
       INNER JOIN TDESPACHANTE     D  ON D.CPF_DESPACHANTE = RC.TX_CPF_SISCOMEX AND D.IN_ATIVO NOT IN ('0', '3', '5') -- Não estar com senha inválida ou bloqueado
       INNER JOIN TFOLLOWUP        F  ON F.NR_PROCESSO = RA.NR_PROCESSO
       --LEFT  JOIN TPROCESSO_DOCTOS PD ON PD.NR_PROCESSO = RA.NR_PROCESSO AND PD.NM_DESCRICAO LIKE '%' + RTRIM(RA.NR_RE) + '%AVERBADO%'
       INNER JOIN VW_SERVICO_GERAL S  ON S.CD_SERVICO = F.CD_SERVICO
       INNER JOIN TPROCESSO        P  ON P.NR_PROCESSO = RA.NR_PROCESSO
       INNER JOIN TEMPRESA_NAC     EN ON EN.CD_EMPRESA = P.CD_CLIENTE
       INNER JOIN TGRUPO           G  ON G.CD_GRUPO = EN.CD_GRUPO
       LEFT  JOIN @RETORNO         R  ON LEFT(R.NR_RE, 10) = LEFT(RA.NR_RE, 10)
    WHERE ISNULL(RA.IN_RE_AVERBADO, 0) = 0
      AND RC.IN_NOVOEX = 1
      --AND 1=0
      AND RC.NR_LOTE IS NOT NULL
      AND ISNULL(RC.NR_RE_SISCOMEX, '-') <> '-'
      AND F.CD_EVENTO = '141'
      AND F.DT_REALIZACAO IS NOT NULL
      /*
      AND RA.NR_PROCESSO IN ('0102EA-000638-15')
      --*/AND F.DT_REALIZACAO > DATEADD(MONTH, -1, CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103))
      --AND PD.NR_PROCESSO IS NULL
      AND D.IN_ATIVO NOT IN ('3', '5') -- Não estar com senha inválida ou bloqueado
      AND R.NR_RE IS NULL

    DELETE @RETORNO
    WHERE NR_RE IS NULL

    /*
    UPDATE R
    SET CD_GRUPO = ISNULL(E.CD_GRUPO, ''),
        IN_EXTRATO_RESUMIDO = ISNULL(G.IN_EXTRATO_AVERBADO_RESUMIDO, 0)
    FROM @RETORNO R
       LEFT JOIN TEMPRESA_NAC E ON E.CD_EMPRESA = R.CD_CLIENTE
       LEFT JOIN TGRUPO G ON G.CD_GRUPO = E.CD_GRUPO
    --*/

    /*
    DELETE @RETORNO
    WHERE NR_PROCESSO_DDE NOT IN ('0102EA-001516-14','0102EA-001515-14','0102EA-001481-14','0102EA-001565-14','0102EA-001582-14','0102EA-001562-14',
                                  '0102EA-001530-14','0102EA-001541-14','0102EA-001536-14','0102EA-001531-14','0102EA-001510-14','0102EA-001563-14',
                                  '0102EA-001544-14','0102EA-001543-14','0102EA-001545-14','0102EA-001574-14','0102EA-001542-14','0102EA-001575-14',
                                  '0102EA-001587-14','0102EA-001546-14','0102EA-001570-14','0102EA-001553-14','0102EA-001534-14','0102EA-001551-14',
                                  '0102EA-001548-14','0102EA-001517-14','0102EA-001552-14','0102EA-001564-14','0102EA-001547-14','0102EA-001550-14',
                                  '0102EA-001549-14','0102EA-001533-14','0102EA-001532-14')
    --*/

    /*
    SELECT *
    FROM @RETORNO
    --WHERE NR_PROCESSO_RE IN ('0102EA-000638-15')
    ORDER BY NR_PROCESSO_RE, NR_RE
    --*/RETURN
END
GO
