USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_CALC_TAXA_SISCOMEX_AD](@QT_ADICOES INT) RETURNS FLOAT AS
BEGIN
    DECLARE @QUANTIDADE         INT
    DECLARE @NR_ADICAO          INT
    DECLARE @NR_ADICAO_ANTERIOR INT
    DECLARE @TX_ADICAO          FLOAT
    DECLARE @VL_RESULTADO       FLOAT

    IF @QT_ADICOES IS NULL
    BEGIN
        SET @VL_RESULTADO = 0
    END
    ELSE
    BEGIN
        DECLARE @TAXAS AS TABLE (
            NR_ADICAO INT,
            TX_ADICAO FLOAT
        )
        INSERT INTO @TAXAS
        SELECT NR_ADICAO, TX_ADICAO 
        FROM TTAXA_SISCOMEX (NOLOCK)
        ORDER BY NR_ADICAO

        SELECT @VL_RESULTADO       = 0
        SELECT @NR_ADICAO_ANTERIOR = 0
      
        WHILE (SELECT COUNT(*) FROM @TAXAS) > 0
        BEGIN
            SELECT TOP 1 @NR_ADICAO = NR_ADICAO,
                         @TX_ADICAO = TX_ADICAO
            FROM @TAXAS
            ORDER BY NR_ADICAO

            DELETE @TAXAS
            WHERE NR_ADICAO = @NR_ADICAO

            IF @QT_ADICOES > @NR_ADICAO
                SELECT @QUANTIDADE = @NR_ADICAO - @NR_ADICAO_ANTERIOR
            ELSE
                SELECT @QUANTIDADE = @QT_ADICOES - @NR_ADICAO_ANTERIOR

            IF @NR_ADICAO = 0
                SELECT @VL_RESULTADO = @VL_RESULTADO + @TX_ADICAO
            ELSE
                SELECT @VL_RESULTADO = @VL_RESULTADO + ( @QUANTIDADE * @TX_ADICAO )

            IF @QT_ADICOES <= @NR_ADICAO
                BREAK

            SELECT @NR_ADICAO_ANTERIOR = @NR_ADICAo
      END
    END
    
    RETURN @VL_RESULTADO
END

GO
