USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_IS_NOVOEX](@NR_PROCESSO VARCHAR(18)) RETURNS CHAR(1) AS
BEGIN
    DECLARE @CD_SERVICO CHAR(3)
    DECLARE @CD_GRUPO   CHAR(3)
    DECLARE @RETORNO    CHAR(1)

    SELECT @CD_SERVICO = CD_SERVICO,
           @CD_GRUPO   = CD_GRUPO
    FROM TPROCESSO
    WHERE NR_PROCESSO = @NR_PROCESSO

    IF (ISNULL(@CD_SERVICO, '') IN ('929')) OR (ISNULL(@CD_GRUPO, '') IN ('002'))
        SET @RETORNO = '1'
    ELSE
        SET @RETORNO = '0'

    RETURN 1 --@RETORNO
END

GO
