USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [FN_KPI_UTEIS](@DT1 DATETIME, @DT2 DATETIME) RETURNS INT AS
BEGIN
	DECLARE @QNTD_FERIADO INT
	DECLARE @QNTD_FINALSEMANA INT
	DECLARE @DTCONTADOR DATETIME

	IF (@DT1 ='1900-01-01 00:00:00.000')  OR  (@DT2 = '1900-01-01 00:00:00.000')
	BEGIN
		RETURN NULL
	END


	---CALCULANDO A QUANTIDADE DE FERIADOS ENTRE AS DATAS
	SELECT @QNTD_FERIADO = COUNT(*) FROM BROKER.DBO.TFERIADO WHERE DT_FERIADO BETWEEN @DT1 AND @DT2

	---CALCULANDO A QUANTIDADE DE FINAIS DE SEMANA ENTRE AS DATAS
	SET @DTCONTADOR = @DT1
	SET @QNTD_FINALSEMANA=0

	WHILE @DT2 >= @DTCONTADOR 
	BEGIN
		--VERIFICANDO SE É SABADO OU DOMINGO E SE A DATA JA NAO FOI CALCULADA COMO FERIADO
		IF ((DATEPART(WEEKDAY,@DTCONTADOR) = 1) OR (DATEPART(WEEKDAY,@DTCONTADOR) =7 )) AND ((SELECT COUNT(*) FROM TFERIADO WHERE DT_FERIADO=@DTCONTADOR ) <= 0)
		BEGIN
			SET @QNTD_FINALSEMANA = @QNTD_FINALSEMANA + 1 	
		END
		SET @DTCONTADOR = @DTCONTADOR +1
	END
	
	WHILE (@DT2 <= @DTCONTADOR) 
	BEGIN
		--VERIFICANDO SE É SABADO OU DOMINGO E SE A DATA JA NAO FOI CALCULADA COMO FERIADO
		IF ((DATEPART(WEEKDAY,@DTCONTADOR) = 1) OR (DATEPART(WEEKDAY,@DTCONTADOR) =7 )) AND ((SELECT COUNT(*) FROM TFERIADO WHERE DT_FERIADO=@DTCONTADOR ) <= 0)
		BEGIN
			SET @QNTD_FINALSEMANA =@QNTD_FINALSEMANA - 1 	
		END
		SET @DTCONTADOR = @DTCONTADOR -1 	
	END

	 RETURN DATEDIFF(day,@DT1,@DT2) - (abs(isnull(@QNTD_FERIADO,0) + isnull(@QNTD_FINALSEMANA,0)))
	
END

GO
