USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE FUNCTION [FN_SAMSUNG_INI](@NR_PROCESSO CHAR(18), @NR_PROC_ID  VARCHAR(30)) RETURNS @TB_RETORNO TABLE (
                                                                                            NM_ARQUIVO VARCHAR(50),
                                                                                            NR_ADICAO INT,
                                                                                            NR_ITEM   INT,
                                                                                            TX_LINHA  CHAR(93)
                                                                                        ) AS --*/
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18) = '0101IM-000036-15'
    DECLARE @NR_PROC_ID  VARCHAR(30) = 'SAO1207914'

    DECLARE @TB_RETORNO AS TABLE (
        NM_ARQUIVO VARCHAR(50),
        NR_ADICAO INT,
        NR_ITEM   INT,
        TX_LINHA  CHAR(93)
    )
    --*/

    IF ISNULL(@NR_PROCESSO, '') = ''
        SELECT @NR_PROCESSO = NR_PROCESSO
        FROM TREF_CLIENTE
        WHERE CD_REFERENCIA = @NR_PROC_ID
    ELSE
        SELECT TOP 1 @NR_PROC_ID = CD_REFERENCIA
        FROM TREF_CLIENTE
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND TP_REFERENCIA = '04'

    DECLARE @NM_ARQUIVO VARCHAR(50)
    SELECT @NM_ARQUIVO = 'INI' + RTRIM(@NR_PROC_ID) +
       CONVERT(VARCHAR, YEAR(GETDATE())) + RIGHT('0' + CONVERT(VARCHAR, MONTH(GETDATE())), 2) + RIGHT('0' + CONVERT(VARCHAR, DAY(GETDATE())), 2) +
       RIGHT('0' + CONVERT(VARCHAR, DATEPART(HOUR, GETDATE())), 2) + RIGHT('0' + CONVERT(VARCHAR, DATEPART(MINUTE, GETDATE())), 2) + RIGHT('0' + CONVERT(VARCHAR, DATEPART(SECOND, GETDATE())), 2)

    DECLARE @NR_ADICAO_ITEM CHAR(3)
    DECLARE @NR_ADICAO      INT
    DECLARE @NR_ITEM        INT
    DECLARE @NR_FATURA      VARCHAR(50)
    DECLARE @NR_PROC_PO     VARCHAR(50)
    DECLARE @NR_ITEM_PO     VARCHAR(4)
    DECLARE @CD_MERCADORIA  VARCHAR(50)

    DECLARE @TB_ITENS AS TABLE (
        NR_ADICAO     CHAR(3),
        NR_ITEM       CHAR(3),
        NR_FATURA     VARCHAR(50),
        NR_PROC_PO    VARCHAR(50),
        NR_ITEM_PO    VARCHAR(4),
        CD_MERCADORIA VARCHAR(50),
        VL_AFRMM      FLOAT
    )

    INSERT INTO @TB_ITENS
    SELECT DM.NR_ADICAO,
           DM.NR_ITEM,
           DM.NR_FATURA,
           DM.NR_PROC_PO,
           DM.NR_ITEM_PO,
           DM.CD_MERCADORIA,
           CASE WHEN ISNULL(DI.IN_CALCULOU_COM_AFRMM, '0') = '0' OR ISNULL(EN.IN_MARINHA_MERCANTE_ICMS, '0') = '0' THEN 0
           ELSE DM.VL_AFRMM_ITEM
           END AS VL_AFRMM
    FROM TDETALHE_MERCADORIA DM
       LEFT JOIN TPO_ITEM POI ON POI.NR_PROCESSO = DM.NR_PROC_PO
                              AND POI.NR_ITEM_CLIENTE = DM.NR_ITEM_PO
                              AND POI.NR_PARCIAL = DM.NR_PARCIAL
       INNER JOIN TADICAO_DE_IMPORTACAO AI ON AI.NR_PROCESSO = DM.NR_PROCESSO
                                         AND AI.NR_ADICAO = DM.NR_ADICAO
       INNER JOIN TDECLARACAO_IMPORTACAO DI ON DI.NR_PROCESSO = DM.NR_PROCESSO
       INNER JOIN TPROCESSO P ON P.NR_PROCESSO = DM.NR_PROCESSO
       INNER JOIN TEMPRESA_NAC EN ON EN.CD_EMPRESA = P.CD_CLIENTE
       INNER JOIN (SELECT NR_PROCESSO, NR_ADICAO, SUM(PL_MERCADORIA) AS PL_MERCADORIA_TOTAL
                   FROM TDETALHE_MERCADORIA
                   GROUP BY NR_PROCESSO, NR_ADICAO) DM2 ON DM2.NR_PROCESSO = DM.NR_PROCESSO
                                                       AND DM2.NR_ADICAO = DM.NR_ADICAO
    WHERE DM.NR_PROCESSO = @NR_PROCESSO

    /*
    SELECT *
    FROM @TB_ITENS
    ORDER BY NR_ADICAO, NR_ITEM
    --*/

    SET @NR_ADICAO = 0
    WHILE (SELECT COUNT(*) FROM @TB_ITENS) > 0
    BEGIN
        SET @NR_ADICAO = @NR_ADICAO +1
        SET @NR_ITEM   = 0

        SELECT TOP 1 @NR_ADICAO_ITEM = NR_ADICAO
        FROM @TB_ITENS
        ORDER BY NR_ADICAO, NR_ITEM

        WHILE (SELECT COUNT(*) FROM @TB_ITENS WHERE NR_ADICAO = @NR_ADICAO_ITEM) > 0
        BEGIN
            SELECT TOP 1 @NR_FATURA      = NR_FATURA,
                         @NR_PROC_PO     = NR_PROC_PO,
                         @NR_ITEM_PO     = NR_ITEM_PO,
                         @CD_MERCADORIA  = CD_MERCADORIA
            FROM @TB_ITENS
            ORDER BY NR_ADICAO, NR_ITEM

            SET @NR_ITEM = @NR_ITEM + 1

            INSERT @TB_RETORNO
            SELECT @NM_ARQUIVO,
                   @NR_ADICAO,
                   @NR_ITEM,
                   CONVERT(CHAR(10), @NR_PROC_ID) + -- 01
                   CONVERT(CHAR(16), NR_FATURA) + -- 02
                   CONVERT(CHAR(10), NR_PROC_PO) + -- 03
                   RIGHT('00000' + RTRIM(CONVERT(CHAR(5), NR_ITEM_PO)), 5) + -- 04
                   CONVERT(CHAR(18), CD_MERCADORIA) + +-- 05
                   CONVERT(CHAR(3), RIGHT('00' + CONVERT(VARCHAR, @NR_ADICAO), 3)) + -- 06
                   CONVERT(CHAR(3), RIGHT('00' + CONVERT(VARCHAR, @NR_ITEM), 3)) +  -- 07
                   RIGHT('00000000000000000' + CONVERT(VARCHAR, SUM(CONVERT(DECIMAL(17,3), VL_AFRMM))), 17) + -- 08
                   CONVERT(CHAR(11), '') AS TX_LINHA -- 09
            FROM @TB_ITENS
            WHERE NR_PROC_PO = @NR_PROC_PO
              AND NR_ITEM_PO = @NR_ITEM_PO
            GROUP BY NR_FATURA, NR_PROC_PO, NR_ITEM_PO, CD_MERCADORIA

            DELETE @TB_ITENS
            WHERE NR_PROC_PO = @NR_PROC_PO
              AND NR_ITEM_PO = @NR_ITEM_PO
        END
    END

    /*
    SELECT *
    FROM @TB_RETORNO
    ORDER BY NR_ADICAO, NR_ITEM
    --*/RETURN
END

GO
