USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FN_USUARIOS_MYSENHAS_XE](@NM_LOGIN VARCHAR(100), @CD_USUARIO CHAR(4) = '') RETURNS @TB_USUARIOS TABLE (CD_USUARIO VARCHAR(4),
                                                                                                                              NM_USUARIO VARCHAR(100),
                                                                                                                              NM_EMAIL   VARCHAR(2000),
                                                                                                                              AP_USUARIO VARCHAR(100),
                                                                                                                              CD_PRODUTO VARCHAR(2)) AS
BEGIN
    /*
    DECLARE @NM_LOGIN VARCHAR(100)
    SET @NM_LOGIN = ''
    --*/

    SET @NM_LOGIN = CASE @NM_LOGIN
                        WHEN 'denilza' THEN 'denilza.dias'
                        WHEN 'silva' THEN 'fernando.silva'
                        WHEN 'amanda' THEN 'amanda.lima'
                        WHEN 'andressa' THEN 'andressa.cruz'
                        WHEN 'celina' THEN 'celina.curado'
                        WHEN 'geovanna' THEN 'geovanna.dias'
                        WHEN 'helio' THEN 'helio.pereira'
                        WHEN 'jaqueline' THEN 'jaqueline.campos'
                        WHEN 'nelson' THEN 'nelson.pontes'
                        WHEN 'evandro' THEN 'evandro.mansur'
                        WHEN 'fabricio' THEN 'fabricio.paulella'
                        WHEN 'trm-thalita.sirqueir' THEN 'thalita.sirqueira'
                        WHEN 'trm-rafael.sing' THEN 'rafael.sing'
                        WHEN 'trm-luis.silva' THEN 'luis.silva'
                        WHEN 'trm-daiane.lima' THEN 'daiane.lima'
                        WHEN 'henrique' THEN 'luiz.henrique'
                        WHEN 'luciane.silva' THEN 'luciane.donatz'
                        WHEN 'andrea.alves' THEN 'andrea.alertas'
                        WHEN 'marcos.vinicius' THEN 'danfe'
                        WHEN 'jefferson.oliveira' THEN 'officeboy'
                        WHEN 'cristiane.marcantoni' THEN 'cristiane.marcantonio'
                        WHEN 'Import' THEN 'Import-TI'
                        WHEN 'Export' THEN 'Export-TI'
                        WHEN 'Administrador' THEN 'Administrador-TI'
                        WHEN 'Administrator' THEN 'Administrator-TI'
                        WHEN 'bruno.ferreira' THEN 'importsga2'
                    ELSE @NM_LOGIN
                    END

    SET @NM_LOGIN = REPLACE(@NM_LOGIN, '.', '')

    INSERT INTO @TB_USUARIOS
    SELECT CD_USUARIO,
           NM_USUARIO,
           NM_EMAIL,
           AP_USUARIO,
           CD_PRODUTO
    FROM (SELECT DISTINCT U.CD_USUARIO,
                          U.NM_USUARIO,
                          U.NM_EMAIL,
                          U.AP_USUARIO,
                          CASE H.CD_PRODUTO
                              WHEN '03' THEN '01'
                              WHEN '06' THEN '01'
                              WHEN '10' THEN '02'
                          ELSE H.CD_PRODUTO
                          END AS CD_PRODUTO,
                          REPLACE(LEFT(NM_EMAIL, CHARINDEX('@', NM_EMAIL) - 1), '.', '') AS NM_LOGIN
          FROM TUSUARIO U INNER JOIN TUSUARIO_HABILITACAO H ON H.CD_USUARIO = U.CD_USUARIO
          WHERE U.IN_ATIVO = '1'
            AND H.IN_ATIVO = '1'
            AND CHARINDEX('@', NM_EMAIL) > 0
          UNION
          SELECT '0000' AS CD_USUARIO,
                 'Import' AS NM_USUARIO,
                 'ti@myindaia.com.br' AS NM_EMAIL,
                 'Import' AS AP_USUARIO,
                 'XX' AS CD_PRODUTO,
                 'Import-TI' AS NM_LOGIN
          UNION
          SELECT '0000' AS CD_USUARIO,
                 'Export' AS NM_USUARIO,
                 'ti@myindaia.com.br' AS NM_EMAIL,
                 'Export'AS AP_USUARIO,
                 '02' AS CD_PRODUTO,
                 'Export-TI' AS NM_LOGIN
          UNION
          SELECT '0000' AS CD_USUARIO,
                 'Administrador' AS NM_USUARIO,
                 'ti@myindaia.com.br' AS NM_EMAIL,
                 'Administrador' AS AP_USUARIO,
                 'XX' AS CD_PRODUTO,
                 'Administrador-TI' AS NM_LOGIN
          UNION
          SELECT '0000' AS CD_USUARIO,
                 'Administrator' AS NM_USUARIO,
                 'ti@myindaia.com.br' AS NM_EMAIL,
                 'Administrator' AS AP_USUARIO,
                 'XX' AS CD_PRODUTO,
                 'Administrator-TI' AS NM_LOGIN) AS U
    WHERE ((@NM_LOGIN <> 'XXXX') AND ((U.NM_LOGIN = @NM_LOGIN) OR (U.AP_USUARIO = @NM_LOGIN))) OR (@NM_LOGIN = 'XXXX')
    ORDER BY 1, 3

    IF ISNULL(@CD_USUARIO, '') <> ''
        DELETE @TB_USUARIOS
        WHERE CD_USUARIO <> @CD_USUARIO

    DECLARE @TMP AS TABLE (
        CD_USUARIO VARCHAR(4),
        NM_USUARIO VARCHAR(100),
        NM_EMAIL   VARCHAR(2000),
        AP_USUARIO VARCHAR(100),
        CD_PRODUTO VARCHAR(2)
    )
    INSERT INTO @TMP
    SELECT *
    FROM @TB_USUARIOS

    WHILE (SELECT COUNT(*) FROM @TMP) > 0
    BEGIN
        SELECT TOP 1 @CD_USUARIO = CD_USUARIO
        FROM @TMP

        IF (SELECT COUNT(*)
            FROM @TMP
            WHERE CD_USUARIO = @CD_USUARIO) > 1
        BEGIN
            INSERT INTO @TB_USUARIOS
            SELECT TOP 1 CD_USUARIO, NM_USUARIO, NM_EMAIL, AP_USUARIO, 'XX'
            FROM @TMP
            WHERE CD_USUARIO = @CD_USUARIO

            DELETE @TB_USUARIOS
            WHERE CD_PRODUTO <> 'XX'
              AND CD_USUARIO = @CD_USUARIO
        END

        DELETE @TMP
        WHERE CD_USUARIO = @CD_USUARIO
    END

    RETURN
END

GO
