USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [AddEntryData]
    @nodeid int,
    @partcount int,
    @leftoversize int,
    @entrydata image
AS
    declare @varcount int
    declare @vardata  varbinary(4096)
    declare @totalcount int
    SET @varcount = 0
    SET @totalcount = @partcount
    IF ( @leftoversize <> 0 )
        BEGIN
	        SET @totalcount = @partcount + 1
	        SET @vardata = SUBSTRING(@entrydata, @partcount*4096+1, @leftoversize)
	        INSERT INTO DATATABLE (nodeid,partno,partcount,datapart)
		        VALUES(@nodeid, @totalcount-1,@totalcount,@vardata)
        END        
    WHILE (@varcount < @partcount)
        BEGIN
	        SET @vardata = SUBSTRING(@entrydata, @varcount*4096+1, 4096)
	        INSERT INTO DATATABLE (nodeid,partno,partcount,datapart)
		        VALUES(@nodeid, @varcount,@totalcount,@vardata)
	        SET @varcount = @varcount +1
        END

GO
