USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [sp_rel_lead_time2] --'01', '01', '028', 'X', '01/01/2004', '01/02/2004', '1', '0', '0', null
                 @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
                 @dt_inicio datetime, @dt_fim datetime, @in_proc_pago char(1), @in_proc_desemb char(1), 
                 @in_proc_pago_desemb char(1), @in_completo char(1), @in_dias_uteis char(1),@nr_identificador int OUTPUT
AS

/*
BEGIN TRAN

DECLARE @cd_unid_neg 		char(2)
DECLARE @cd_produto 		char(2)
DECLARE @cd_grupo 		char(3)
DECLARE @cd_cliente 		char(5) 
DECLARE @dt_inicio 		datetime
DECLARE @dt_fim 		datetime
DECLARE @in_proc_pago 		char(1)
DECLARE @in_proc_desemb 	char(1)
DECLARE @in_proc_pago_desemb 	char(1)
DECLARE @in_completo		char(1)
DECLARE @in_dias_uteis		char(1)
DECLARE @nr_identificador 	int

SELECT @cd_unid_neg          = 'X'
SELECT @cd_produto           = 'X'
SELECT @cd_grupo             = '480'
SELECT @cd_cliente           = 'X'
SELECT @dt_inicio            = CONVERT(DATETIME, '2008/01/01')
SELECT @dt_fim 			     = CONVERT(DATETIME, '2008/10/15')
SELECT @in_proc_pago 		 = '1'
SELECT @in_proc_desemb 		 = '0'
SELECT @in_proc_pago_desemb  = '0'
SELECT @in_completo	         = '0'
SELECT @in_dias_uteis        = '1'
SELECT @nr_identificador     = NULL
--*/

SET @nr_identificador = (SELECT ISNULL(MAX(NR_IDENTIFICADOR)+1, 1) FROM TREL_LEAD_TIME2)  

INSERT INTO TREL_LEAD_TIME2
SELECT DISTINCT @nr_identificador, ' ', P.NR_PROCESSO, EN.AP_EMPRESA AS NM_CLIENTE, E.NM_EMBARCACAO, 
       F1.DT_REALIZACAO AS DT_CHEGADA_NAVIO, A1.NM_ARMAZEM AS ARMZ_ATRACACAO, M.NM_MARGEM, 
       FDT.DT_REALIZACAO AS DT_REGISTRO_DI, PC.DT_ENT_ARM, F2.DT_REALIZACAO AS DT_DESEMBARACO, 
       DATEDIFF ( DD, F1.DT_REALIZACAO, F2.DT_REALIZACAO ) AS TEMPO_DESEMBARACO,
       C.NM_CANAL, CC1.VL_ITEM AS VL_COMISSAO, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC2 (NOLOCK)
        WHERE P.NR_PROCESSO = CC2.NR_PROCESSO AND
              CC2.CD_ITEM = ('008')) AS VL_SDA,
       (DI.VL_TOTAL_MLE_MN + DI.VL_TOT_DESPS_MN + DI.VL_TOTAL_ACRESCIMOS_MN + DI.VL_TOTAL_DEDUCOES_MN) AS VL_CIF,
       A2.NM_ARMAZEM AS ARMZ_DESCARGA, NULL AS PERIODO_ARMAZENAGEM, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC3 (NOLOCK)
        WHERE P.NR_PROCESSO = CC3.NR_PROCESSO AND
              CC3.CD_ITEM = '015') AS VL_ARMZ_TERMINAL, 
       0  AS VL_ARMZ_NORMAL, 
       (SELECT F3.DT_REALIZACAO 
        FROM TFOLLOWUP F3 (NOLOCK) 
        WHERE P.NR_PROCESSO = F3.NR_PROCESSO AND 
              P.CD_SERVICO = F3.CD_SERVICO AND 
              F3.CD_EVENTO = ('041')) AS DT_ENVIO_NF, --CIF * PERÍODO_ARMAZ. * 0,0065, 
       0 AS QT_VOLUMES,
       '' AS NM_ESPECIE,  
       FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, 
       AG.NM_AGENTE, 
       A2.NM_ARMAZEM
FROM TPROCESSO P (NOLOCK), TREF_CLIENTE REF (NOLOCK), TEMPRESA_NAC EN (NOLOCK),  TEMBARCACAO E (NOLOCK), 
     TARMAZEM A1 (NOLOCK), TARMAZEM A2 (NOLOCK), TMARGEM M (NOLOCK), TAGENTE AG (NOLOCK),
     TDECLARACAO_IMPORTACAO DI (NOLOCK), TTP_CANAL C (NOLOCK), TPROCESSO_CNTR PC (NOLOCK), 
     TFOLLOWUP F1 (NOLOCK), TFOLLOWUP F2 (NOLOCK), TFOLLOWUP FPC (NOLOCK), TFOLLOWUP FNT (NOLOCK),
     TFATURAMENTO_CC CC1 (NOLOCK), TFOLLOWUP FDT (NOLOCK)
WHERE P.NR_PROCESSO 	=  REF.NR_PROCESSO 	  AND
      P.CD_CLIENTE 	=  EN.CD_EMPRESA 	  AND
      E.CD_EMBARCACAO 	=* P.CD_EMBARCACAO 	  AND
      AG.CD_AGENTE 	=* P.CD_AGENTE 		  AND
      A1.CD_ARMAZEM 	=  P.CD_ARMAZEM_ATRACACAO AND
      M.CD_MARGEM 	=* A1.CD_MARGEM 	  AND
      P.NR_PROCESSO 	=  DI.NR_PROCESSO 	  AND
      C.CD_CANAL 	=* P.CD_CANAL 		  AND
      PC.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      A2.CD_ARMAZEM 	=  P.CD_ARMAZEM_DESCARGA  AND
      F1.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      F1.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      F1.CD_EVENTO     IN ('162') 	    	  AND
      F2.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      F2.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      F2.CD_EVENTO 	= ('088') 	    	  AND
      FPC.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND 
      FPC.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FPC.CD_EVENTO 	= ('012') 		  AND
      FNT.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND 
      FNT.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FNT.CD_EVENTO 	= ('041') 	    	  AND
      CC1.NR_PROCESSO 	=*  P.NR_PROCESSO 	  AND
      CC1.CD_ITEM 	= ('822') 	    	  AND
      ((FDT.NR_PROCESSO = P.NR_PROCESSO) AND (FDT.CD_EVENTO = '021')) AND
      @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
      @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
      @cd_grupo IN ( P.CD_GRUPO, 'X' ) AND
      @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
      (( @in_proc_pago = '1' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '0' AND 
      FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
      ( @in_proc_pago = '0' AND @in_proc_desemb = '1' AND @in_proc_pago_desemb = '0' AND F2.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
      ( @in_proc_pago = '0' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '1' AND 
      FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim /*AND
      DI.DT_REGISTRO_DI BETWEEN @dt_inicio AND @dt_fim*/))
GROUP BY REF.CD_REFERENCIA, P.NR_PROCESSO, EN.AP_EMPRESA, E.NM_EMBARCACAO, F1.DT_REALIZACAO, A1.NM_ARMAZEM,
         M.NM_MARGEM, DI.DT_REGISTRO_DI, PC.DT_ENT_ARM, F2.DT_REALIZACAO, C.NM_CANAL, CC1.VL_ITEM, DI.VL_TOTAL_MLE_MN, 
         DI.VL_TOT_DESPS_MN, DI.VL_TOTAL_ACRESCIMOS_MN, DI.VL_TOTAL_DEDUCOES_MN, A2.NM_ARMAZEM, P.CD_SERVICO,
         PC.IN_DESOVA, PC.IN_DESOVA, PC.NR_PROCESSO, PC.TP_CNTR, PC.NR_CNTR, FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, 
         AG.NM_AGENTE, A2.NM_ARMAZEM, FDT.DT_REALIZACAO

INSERT INTO TREL_LEAD_TIME2
SELECT DISTINCT @nr_identificador, ' ',/*CD_REFERENCIA, */P.NR_PROCESSO, EN.AP_EMPRESA AS NM_CLIENTE, '',
       F1.DT_REALIZACAO AS DT_CHEGADA_NAVIO, A1.NM_ARMAZEM AS ARMZ_ATRACACAO, M.NM_MARGEM, 
       FDT.DT_REALIZACAO AS DT_REGISTRO_DI, NULL, F2.DT_REALIZACAO AS DT_DESEMBARACO, 
       DATEDIFF ( DD, F1.DT_REALIZACAO, F2.DT_REALIZACAO ) AS TEMPO_DESEMBARACO,
       C.NM_CANAL, CC1.VL_ITEM as VL_COMISSAO, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC2 (NOLOCK)
        WHERE P.NR_PROCESSO = CC2.NR_PROCESSO AND
              CC2.CD_ITEM = ('008')) as VL_SDA,
       (DI.VL_TOTAL_MLE_MN + DI.VL_TOT_DESPS_MN + DI.VL_TOTAL_ACRESCIMOS_MN + DI.VL_TOTAL_DEDUCOES_MN) AS VL_CIF,
       A2.NM_ARMAZEM AS ARMZ_DESCARGA, NULL AS PERIODO_ARMAZENAGEM, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC3 (NOLOCK)
        WHERE P.NR_PROCESSO = CC3.NR_PROCESSO AND
              CC3.CD_ITEM = '015') AS VL_ARMZ_TERMINAL, 
       0  AS VL_ARMZ_NORMAL, 
       (SELECT F3.DT_REALIZACAO 
        FROM TFOLLOWUP F3 (NOLOCK)
        WHERE P.NR_PROCESSO = F3.NR_PROCESSO AND 
             P.CD_SERVICO = F3.CD_SERVICO AND 
             F3.CD_EVENTO = ('041')) AS DT_ENVIO_NF, --CIF * PERÍODO_ARMAZ. * 0,0065, 
	0, '',
       FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, 
       AG.NM_AGENTE, 
       A2.NM_ARMAZEM
FROM TPROCESSO P (NOLOCK), TREF_CLIENTE REF (NOLOCK), TEMPRESA_NAC EN (NOLOCK), TARMAZEM A1 (NOLOCK),
     TARMAZEM A2 (NOLOCK), TMARGEM M (NOLOCK), TAGENTE AG (NOLOCK), TDECLARACAO_IMPORTACAO DI (NOLOCK),
     TTP_CANAL C (NOLOCK), TFOLLOWUP F1 (NOLOCK), TFOLLOWUP F2 (NOLOCK), TFOLLOWUP FPC (NOLOCK), TFOLLOWUP FNT (NOLOCK),
     TFATURAMENTO_CC CC1 (NOLOCK), TPROCESSO_CARGA_SOLTA CS (NOLOCK), TFOLLOWUP FDT (NOLOCK)
WHERE P.NR_PROCESSO 	=  REF.NR_PROCESSO 	  AND
      P.CD_CLIENTE 	=  EN.CD_EMPRESA 	  AND
      AG.CD_AGENTE 	=* P.CD_AGENTE 		  AND
      A1.CD_ARMAZEM 	=  P.CD_ARMAZEM_ATRACACAO AND
      M.CD_MARGEM 	=* A1.CD_MARGEM 	  AND
      P.NR_PROCESSO 	=  DI.NR_PROCESSO 	  AND
      C.CD_CANAL 	=* P.CD_CANAL 		  AND
      A2.CD_ARMAZEM 	=  P.CD_ARMAZEM_DESCARGA  AND
      F1.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      F1.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      F1.CD_EVENTO     IN ('154') 	    	  AND
      F2.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      F2.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      F2.CD_EVENTO 	= ('088') 	    	  AND
      FPC.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND 
      FPC.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FPC.CD_EVENTO 	= ('012') 		  AND
      FNT.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND 
      FNT.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FNT.CD_EVENTO 	= ('041') 	    	  AND
      CC1.NR_PROCESSO 	=*  P.NR_PROCESSO 	  AND
      CC1.CD_ITEM 	= ('822') 	    	  AND
      ((FDT.NR_PROCESSO = P.NR_PROCESSO) AND (FDT.CD_EVENTO = '021')) AND
      CS.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND
      P.IN_CANCELADO    = '0'                     AND
      @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
      @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
      @cd_grupo IN ( P.CD_GRUPO, 'X' ) AND
      @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
      (( @in_proc_pago = '1' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '0' AND 
      FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
      ( @in_proc_pago = '0' AND @in_proc_desemb = '1' AND @in_proc_pago_desemb = '0' AND F2.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
      ( @in_proc_pago = '0' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '1' AND 
      FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim /*AND
      DI.DT_REGISTRO_DI BETWEEN @dt_inicio AND @dt_fim*/))
GROUP BY REF.CD_REFERENCIA, P.NR_PROCESSO, EN.AP_EMPRESA, F1.DT_REALIZACAO, A1.NM_ARMAZEM,
         M.NM_MARGEM, DI.DT_REGISTRO_DI, F2.DT_REALIZACAO, C.NM_CANAL, CC1.VL_ITEM, DI.VL_TOTAL_MLE_MN, 
         DI.VL_TOT_DESPS_MN, DI.VL_TOTAL_ACRESCIMOS_MN, DI.VL_TOTAL_DEDUCOES_MN, A2.NM_ARMAZEM, P.CD_SERVICO,
         CS.VL_QTDE, CS.NM_ESPECIE, FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, AG.NM_AGENTE, A2.NM_ARMAZEM, FDT.DT_REALIZACAO

-- Importação Rodoviária
INSERT INTO TREL_LEAD_TIME2
SELECT DISTINCT @nr_identificador, ' ', P.NR_PROCESSO, EN.AP_EMPRESA AS NM_CLIENTE, DI.NR_VEICULO_TRANSP, 
       F1.DT_REALIZACAO AS DT_CHEGADA_CAMINHAO, A1.NM_ARMAZEM AS ARMZ_ATRACACAO, '' AS MARGEM, 
       FDT.DT_REALIZACAO AS DT_REGISTRO_DI, NULL , F2.DT_REALIZACAO AS DT_DESEMBARACO, 
       DATEDIFF ( DD, F1.DT_REALIZACAO, F2.DT_REALIZACAO ) AS TEMPO_DESEMBARACO,
       C.NM_CANAL, CC1.VL_ITEM as VL_COMISSAO, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC2 (NOLOCK)
        WHERE P.NR_PROCESSO = CC2.NR_PROCESSO AND
              CC2.CD_ITEM = ('008')) as VL_SDA,
       (DI.VL_TOTAL_MLE_MN + DI.VL_TOT_DESPS_MN + DI.VL_TOTAL_ACRESCIMOS_MN + DI.VL_TOTAL_DEDUCOES_MN) AS VL_CIF,
       A2.NM_ARMAZEM AS ARMZ_DESCARGA, NULL AS PERIODO_ARMAZENAGEM, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC3 (NOLOCK)
        WHERE P.NR_PROCESSO = CC3.NR_PROCESSO AND
              CC3.CD_ITEM = '015') AS VL_ARMZ_TERMINAL, 
       0  AS VL_ARMZ_NORMAL, 
       (SELECT F3.DT_REALIZACAO 
        FROM TFOLLOWUP F3 (NOLOCK) 
        WHERE P.NR_PROCESSO = F3.NR_PROCESSO AND 
             P.CD_SERVICO = F3.CD_SERVICO AND 
             F3.CD_EVENTO = ('041')) AS DT_ENVIO_NF, 
       0 AS QT_VOLUMES, 
       '' AS NM_ESPECIE,
       FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, 
       AG.NM_AGENTE, 
       A2.NM_ARMAZEM
FROM TPROCESSO P (NOLOCK), TREF_CLIENTE REF (NOLOCK), TEMPRESA_NAC EN (NOLOCK), TARMAZEM A1 (NOLOCK),
     TARMAZEM A2 (NOLOCK), TAGENTE AG (NOLOCK), TDECLARACAO_IMPORTACAO DI (NOLOCK), TTP_CANAL C (NOLOCK), 
     TFOLLOWUP F1 (NOLOCK), TFOLLOWUP F2 (NOLOCK), TFOLLOWUP FPC (NOLOCK), TFOLLOWUP FNT (NOLOCK), 
     TFATURAMENTO_CC CC1 (NOLOCK), TPROCESSO_CARGA_SOLTA CS (NOLOCK), TFOLLOWUP FDT (NOLOCK)
WHERE P.NR_PROCESSO 	=  REF.NR_PROCESSO 	  AND
      P.CD_CLIENTE 	=  EN.CD_EMPRESA 	  AND
      AG.CD_AGENTE 	=* P.CD_AGENTE 		  AND
      A1.CD_ARMAZEM 	=* P.CD_ARMAZEM_ATRACACAO AND
      P.NR_PROCESSO 	=  DI.NR_PROCESSO 	  AND
      C.CD_CANAL 	=* P.CD_CANAL 		  AND
      A2.CD_ARMAZEM 	=* P.CD_ARMAZEM_DESCARGA  AND
      F1.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      F1.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      F1.CD_EVENTO     IN ('259') 	    	  AND
      F2.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      F2.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      F2.CD_EVENTO 	= ('088') 	    	  AND
      FPC.NR_PROCESSO =* P.NR_PROCESSO 	  AND 
      FPC.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FPC.CD_EVENTO 	= ('012') 		  AND
      FNT.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND 
      FNT.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FNT.CD_EVENTO 	= ('041') 	    	  AND
      CC1.NR_PROCESSO 	=*  P.NR_PROCESSO 	  AND
      CC1.CD_ITEM 	= ('822') 	    	  AND
      ((FDT.NR_PROCESSO = P.NR_PROCESSO) AND (FDT.CD_EVENTO = '021')) AND
      CS.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND
      @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
      @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
      @cd_grupo IN ( P.CD_GRUPO, 'X' ) AND
      @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
      (( @in_proc_pago = '1' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '0' AND 
      FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
      ( @in_proc_pago = '0' AND @in_proc_desemb = '1' AND @in_proc_pago_desemb = '0' AND F2.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
      ( @in_proc_pago = '0' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '1' AND 
      FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim /*AND
      DI.DT_REGISTRO_DI BETWEEN @dt_inicio AND @dt_fim*/))
GROUP BY REF.CD_REFERENCIA, P.NR_PROCESSO, EN.AP_EMPRESA, DI.NR_VEICULO_TRANSP, F1.DT_REALIZACAO, A1.NM_ARMAZEM,
         DI.DT_REGISTRO_DI, F2.DT_REALIZACAO, C.NM_CANAL, CC1.VL_ITEM, DI.VL_TOTAL_MLE_MN, 
         DI.VL_TOT_DESPS_MN, DI.VL_TOTAL_ACRESCIMOS_MN, DI.VL_TOTAL_DEDUCOES_MN, A2.NM_ARMAZEM, P.CD_SERVICO,
         CS.VL_QTDE, CS.NM_ESPECIE, FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, AG.NM_AGENTE, A2.NM_ARMAZEM, FDT.DT_REALIZACAO

-- Importação Granel
INSERT INTO TREL_LEAD_TIME2
SELECT DISTINCT @nr_identificador, ' ', P.NR_PROCESSO, EN.AP_EMPRESA AS NM_CLIENTE, E.NM_EMBARCACAO, 
       F1.DT_REALIZACAO AS DT_CHEGADA_NAVIO, A1.NM_ARMAZEM AS ARMZ_ATRACACAO, M.NM_MARGEM, 
       FDT.DT_REALIZACAO AS DT_REGISTRO_DI, NULL, F2.DT_REALIZACAO AS DT_DESEMBARACO, 
       DATEDIFF ( DD, F1.DT_REALIZACAO, F2.DT_REALIZACAO ) AS TEMPO_DESEMBARACO,
       C.NM_CANAL, CC1.VL_ITEM as VL_COMISSAO, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC2 (NOLOCK)
        WHERE P.NR_PROCESSO = CC2.NR_PROCESSO AND
              CC2.CD_ITEM = ('008')) as VL_SDA,
       (DI.VL_TOTAL_MLE_MN + DI.VL_TOT_DESPS_MN + DI.VL_TOTAL_ACRESCIMOS_MN + DI.VL_TOTAL_DEDUCOES_MN) AS VL_CIF,
       A2.NM_ARMAZEM AS ARMZ_DESCARGA, NULL AS PERIODO_ARMAZENAGEM, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC3 (NOLOCK)
        WHERE P.NR_PROCESSO = CC3.NR_PROCESSO AND
              CC3.CD_ITEM = '015') AS VL_ARMZ_TERMINAL, 
       0  AS VL_ARMZ_NORMAL, 
       (SELECT F3.DT_REALIZACAO 
        FROM TFOLLOWUP F3 (NOLOCK)
        WHERE P.NR_PROCESSO = F3.NR_PROCESSO AND 
           P.CD_SERVICO = F3.CD_SERVICO AND 
           F3.CD_EVENTO = ('041')) AS DT_ENVIO_NF, --CIF * PERÍODO_ARMAZ. * 0,0065, 
       0 AS QT_VOLUMES,
       '' AS NM_ESPECIE,
       FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, 
       AG.NM_AGENTE, 
       A2.NM_ARMAZEM
FROM TPROCESSO P (NOLOCK), TREF_CLIENTE REF (NOLOCK), TEMPRESA_NAC EN (NOLOCK),  TEMBARCACAO E (NOLOCK), 
     TARMAZEM A1 (NOLOCK), TARMAZEM A2 (NOLOCK), TMARGEM M (NOLOCK), TAGENTE AG (NOLOCK),
     TDECLARACAO_IMPORTACAO DI (NOLOCK), TTP_CANAL C (NOLOCK), TFOLLOWUP F1 (NOLOCK), TFOLLOWUP F2 (NOLOCK),
     TFOLLOWUP FPC (NOLOCK), TFOLLOWUP FNT (NOLOCK), TFATURAMENTO_CC CC1 (NOLOCK), TPROCESSO_CARGA_SOLTA CS (NOLOCK), TFOLLOWUP FDT (NOLOCK)
WHERE P.NR_PROCESSO 	=  REF.NR_PROCESSO 	  AND
      P.CD_CLIENTE 	=  EN.CD_EMPRESA 	  AND
      E.CD_EMBARCACAO 	=* P.CD_EMBARCACAO 	  AND
      AG.CD_AGENTE 	=* P.CD_AGENTE 		  AND
      A1.CD_ARMAZEM 	=  P.CD_ARMAZEM_ATRACACAO AND
      M.CD_MARGEM 	=* A1.CD_MARGEM 	  AND
      P.NR_PROCESSO 	=  DI.NR_PROCESSO 	  AND
      C.CD_CANAL 	=* P.CD_CANAL 		  AND
      A2.CD_ARMAZEM 	=  P.CD_ARMAZEM_DESCARGA  AND
      F1.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      F1.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      F1.CD_EVENTO     IN ('162') 	    	  AND
      F2.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      F2.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      F2.CD_EVENTO 	= ('088') 	    	  AND
      FPC.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND 
      FPC.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FPC.CD_EVENTO 	= ('012') 		  AND
      FNT.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND 
      FNT.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FNT.CD_EVENTO 	= ('041') 	    	  AND
      CC1.NR_PROCESSO 	=*  P.NR_PROCESSO 	  AND
      CC1.CD_ITEM 	= ('822') 	    	  AND
      ((FDT.NR_PROCESSO = P.NR_PROCESSO) AND (FDT.CD_EVENTO = '021')) AND
      CS.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND
      SUBSTRING( P.NR_PROCESSO, 5, 2 ) = 'IG'	  AND
      @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
      @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
      @cd_grupo IN ( P.CD_GRUPO, 'X' ) AND
      @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
      (( @in_proc_pago = '1' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '0' AND 
       FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
       ( @in_proc_pago = '0' AND @in_proc_desemb = '1' AND @in_proc_pago_desemb = '0' AND F2.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
       ( @in_proc_pago = '0' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '1' AND 
        FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim /*AND
      DI.DT_REGISTRO_DI BETWEEN @dt_inicio AND @dt_fim*/))
GROUP BY REF.CD_REFERENCIA, P.NR_PROCESSO, EN.AP_EMPRESA, E.NM_EMBARCACAO, F1.DT_REALIZACAO, A1.NM_ARMAZEM,
         M.NM_MARGEM, DI.DT_REGISTRO_DI, F2.DT_REALIZACAO, C.NM_CANAL, CC1.VL_ITEM, DI.VL_TOTAL_MLE_MN, 
         DI.VL_TOT_DESPS_MN, DI.VL_TOTAL_ACRESCIMOS_MN, DI.VL_TOTAL_DEDUCOES_MN, A2.NM_ARMAZEM, P.CD_SERVICO,
         CS.VL_QTDE, CS.NM_ESPECIE, FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, AG.NM_AGENTE, A2.NM_ARMAZEM, FDT.DT_REALIZACAO


-- IN - Michel 15/10/2008
INSERT INTO TREL_LEAD_TIME2
SELECT TOP 1 @nr_identificador, ' ', P.NR_PROCESSO, EN.AP_EMPRESA AS NM_CLIENTE, E.NM_EMBARCACAO, 
       NULL /*F1.DT_REALIZACAO*/ AS DT_CHEGADA_NAVIO, A1.NM_ARMAZEM AS ARMZ_ATRACACAO, M.NM_MARGEM, 
       FDT.DT_REALIZACAO AS DT_REGISTRO_DI, NULL, F2.DT_REALIZACAO AS DT_DESEMBARACO, 
       DATEDIFF ( DD, NULL /*F1.DT_REALIZACAO*/, F2.DT_REALIZACAO ) AS TEMPO_DESEMBARACO,
       C.NM_CANAL, CC1.VL_ITEM as VL_COMISSAO, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC2 (NOLOCK)
        WHERE P.NR_PROCESSO = CC2.NR_PROCESSO AND
              CC2.CD_ITEM = ('008')) as VL_SDA,
       (DI.VL_TOTAL_MLE_MN + DI.VL_TOT_DESPS_MN + DI.VL_TOTAL_ACRESCIMOS_MN + DI.VL_TOTAL_DEDUCOES_MN) AS VL_CIF,
       A2.NM_ARMAZEM AS ARMZ_DESCARGA, NULL AS PERIODO_ARMAZENAGEM, 
       (SELECT SUM(VL_ITEM) 
        FROM TFATURAMENTO_CC CC3 (NOLOCK)
        WHERE P.NR_PROCESSO = CC3.NR_PROCESSO AND
              CC3.CD_ITEM = '015') AS VL_ARMZ_TERMINAL, 
       0  AS VL_ARMZ_NORMAL, 
       (SELECT F3.DT_REALIZACAO 
        FROM TFOLLOWUP F3 (NOLOCK)
        WHERE P.NR_PROCESSO = F3.NR_PROCESSO AND 
           P.CD_SERVICO = F3.CD_SERVICO AND 
           F3.CD_EVENTO = ('041')) AS DT_ENVIO_NF, --CIF * PERÍODO_ARMAZ. * 0,0065, 
       0 AS QT_VOLUMES,
       '' AS NM_ESPECIE,
       FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, 
       AG.NM_AGENTE, 
       A2.NM_ARMAZEM
FROM TPROCESSO P (NOLOCK), TREF_CLIENTE REF (NOLOCK), TEMPRESA_NAC EN (NOLOCK),  TEMBARCACAO E (NOLOCK), 
     TARMAZEM A1 (NOLOCK), TARMAZEM A2 (NOLOCK), TMARGEM M (NOLOCK), TAGENTE AG (NOLOCK),
     TDECLARACAO_IMPORTACAO DI (NOLOCK), TTP_CANAL C (NOLOCK), /*TFOLLOWUP F1 (NOLOCK),*/ TFOLLOWUP F2 (NOLOCK),
     TFOLLOWUP FPC (NOLOCK), TFOLLOWUP FNT (NOLOCK), TFATURAMENTO_CC CC1 (NOLOCK), TPROCESSO_CARGA_SOLTA CS (NOLOCK), TFOLLOWUP FDT (NOLOCK)
WHERE P.NR_PROCESSO 	=  REF.NR_PROCESSO 	  AND
      P.CD_CLIENTE 	=  EN.CD_EMPRESA 	  AND
      E.CD_EMBARCACAO 	=* P.CD_EMBARCACAO 	  AND
      AG.CD_AGENTE 	=* P.CD_AGENTE 		  AND
      A1.CD_ARMAZEM 	=  P.CD_ARMAZEM_ATRACACAO AND
      M.CD_MARGEM 	=* A1.CD_MARGEM 	  AND
      P.NR_PROCESSO 	=  DI.NR_PROCESSO 	  AND
      C.CD_CANAL 	=* P.CD_CANAL 		  AND
      A2.CD_ARMAZEM 	=  P.CD_ARMAZEM_DESCARGA  AND
      --F1.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      --F1.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      --F1.CD_EVENTO     IN ('162') 	    	  AND
      F2.NR_PROCESSO 	=  P.NR_PROCESSO 	  AND 
      F2.CD_SERVICO 	=  P.CD_SERVICO 	  AND 
      F2.CD_EVENTO 	= ('088') 	    	  AND
      FPC.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND 
      FPC.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FPC.CD_EVENTO 	= ('012') 		  AND
      FNT.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND 
      FNT.CD_SERVICO 	=* P.CD_SERVICO 	  AND 
      FNT.CD_EVENTO 	= ('041') 	    	  AND
      CC1.NR_PROCESSO 	=*  P.NR_PROCESSO 	  AND
      CC1.CD_ITEM 	= ('822') 	    	  AND
      ((FDT.NR_PROCESSO = P.NR_PROCESSO) AND (FDT.CD_EVENTO = '021')) AND
      CS.NR_PROCESSO 	=* P.NR_PROCESSO 	  AND
      SUBSTRING( P.NR_PROCESSO, 5, 2) = 'IN'	  AND
      @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
      @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
      @cd_grupo IN ( P.CD_GRUPO, 'X' ) AND
      @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
      (( @in_proc_pago = '1' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '0' AND 
       FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
       ( @in_proc_pago = '0' AND @in_proc_desemb = '1' AND @in_proc_pago_desemb = '0' AND F2.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) OR
       ( @in_proc_pago = '0' AND @in_proc_desemb = '0' AND @in_proc_pago_desemb = '1' AND 
        FDT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim /*AND
      DI.DT_REGISTRO_DI BETWEEN @dt_inicio AND @dt_fim*/))
GROUP BY REF.CD_REFERENCIA, P.NR_PROCESSO, EN.AP_EMPRESA, E.NM_EMBARCACAO, /*F1.DT_REALIZACAO,*/ A1.NM_ARMAZEM,
         M.NM_MARGEM, DI.DT_REGISTRO_DI, F2.DT_REALIZACAO, C.NM_CANAL, CC1.VL_ITEM, DI.VL_TOTAL_MLE_MN, 
         DI.VL_TOT_DESPS_MN, DI.VL_TOTAL_ACRESCIMOS_MN, DI.VL_TOTAL_DEDUCOES_MN, A2.NM_ARMAZEM, P.CD_SERVICO,
         CS.VL_QTDE, CS.NM_ESPECIE, FPC.DT_REALIZACAO, FNT.DT_REALIZACAO, AG.NM_AGENTE, A2.NM_ARMAZEM, FDT.DT_REALIZACAO


-- Atualiza o período de armazenagem
UPDATE TREL_LEAD_TIME2
SET PERIODO_ARMAZENAGEM =   DATEDIFF(DD, DT_ENT_ARM, DT_ENVIO_NF)
WHERE NR_IDENTIFICADOR = @NR_IDENTIFICADOR

-- Atualiza o valor
UPDATE TREL_LEAD_TIME2
SET VL_ARMZ_NORMAL = VL_CIF * PERIODO_ARMAZENAGEM *  0.0065
WHERE NR_IDENTIFICADOR = @NR_IDENTIFICADOR
-- Variáveis usadas no cursor
DECLARE @nr_processo char(18), 
        @dt_chegada_navio datetime, 
        @dt_desembaraco datetime,
        @qt_dias_uteis int,
        @cd_referencia char(15),
        @nm_especie varchar(100),
        @qt_volumes varchar(20),
        @ct int,
        @tipo       varchar(100),
	@chave      varchar(2),
   	@passa      varchar(100),	
	@terc       varchar(100)

-- Cursor para preencher o tempo de desembaraço ( dias úteis)
  DECLARE c_EnviaMsg CURSOR FOR
  SELECT NR_PROCESSO, CD_REFERENCIA, DT_CHEGADA_NAVIO, DT_DESEMBARACO
  FROM TREL_LEAD_TIME2 (NOLOCK)
  GROUP BY NR_PROCESSO, CD_REFERENCIA, DT_CHEGADA_NAVIO, DT_DESEMBARACO

  OPEN c_EnviaMsg
  FETCH c_EnviaMsg 
  INTO @nr_processo, @cd_referencia, @dt_chegada_navio, @dt_desembaraco
  WHILE @@fetch_status = 0
    BEGIN
     
     IF @in_dias_uteis = '0' 
     BEGIN
       EXEC @qt_dias_uteis = sp_lead_dias_uteis '0', @dt_chegada_navio, @dt_desembaraco, null
     END

     IF @in_dias_uteis = '1' 
     BEGIN
       EXEC @qt_dias_uteis = sp_lead_dias_uteis '1', @dt_chegada_navio, @dt_desembaraco, null
     END

     UPDATE TREL_LEAD_TIME2
     SET TEMPO_DESEMBARACO = @qt_dias_uteis
     WHERE NR_IDENTIFICADOR = @nr_identificador AND
           NR_PROCESSO = @nr_processo AND
           CD_REFERENCIA = @cd_referencia

     EXEC sp_qtde_especie @nr_identificador, @nr_processo, @cd_referencia
/*
-- Retirado em 05/08/5005 devido a lentidão para rodar a stored procedure
     IF @in_completo = '1'
     BEGIN
       -- COLOCA QUANTIDADE E ESPÉCIE
       IF EXISTS( SELECT IN_DESOVA FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = @nr_processo )
       BEGIN
         IF ( SELECT TOP 1 IN_DESOVA 
              FROM TPROCESSO_CNTR (NOLOCK)
              WHERE NR_PROCESSO = @nr_processo ) = '1'
         BEGIN
           -- Qtde Carga Solta
           SELECT @qt_volumes = ( SUM( VL_QTDE ) )
           FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
           WHERE  NR_PROCESSO = @nr_processo
       
           -- Tipo Carga Solta
           SELECT COUNT( P.NR_PROCESSO) AS PROCESSO, P.VL_QTDE AS VL_QTDE, P.NR_SEQUENCIA AS NR_SEQUENCIA, NM_ESPECIE
           INTO   #TEMP_CS
           FROM   TPROCESSO_CARGA_SOLTA P (NOLOCK)
           WHERE  P.NR_PROCESSO = @nr_processo
           GROUP BY VL_QTDE, NR_SEQUENCIA, NM_ESPECIE
 
           SET @tipo = ''
           SET @passa = ''
           SET @terc = ''
           WHILE ( SELECT COUNT ( PROCESSO ) FROM #TEMP_CS ) > 0
           BEGIN
             SELECT @chave = ( SELECT TOP 1 NR_SEQUENCIA FROM #TEMP_CS )
             SET @passa = ( SELECT RTRIM(NM_ESPECIE) + ' / ' FROM #TEMP_CS WHERE NR_SEQUENCIA = @chave )
             SET @tipo = @terc + @passa
             SET @terc = @tipo
  
             DELETE FROM #TEMP_CS WHERE NR_SEQUENCIA = @chave
           END
           IF LEN( @tipo ) > 4
             SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 3 )
           DROP TABLE #TEMP_CS

           SET @nm_especie = @tipo
        
           UPDATE TREL_LEAD_TIME2
           SET NM_ESPECIE = @nm_especie,
               QT_VOLUMES = @qt_volumes
           WHERE NR_IDENTIFICADOR = @nr_identificador AND
                 NR_PROCESSO = @nr_processo AND
                 CD_REFERENCIA = @cd_referencia           
         END
         ELSE
         BEGIN
           -- Qtde CNTR
           SELECT @qt_volumes = ( COUNT( NR_CNTR ) )
           FROM   TPROCESSO_CNTR (NOLOCK)
           WHERE  NR_PROCESSO = @nr_processo

           -- Tipo CNTR
           SELECT COUNT( NR_CNTR) AS CNTR, C.TP_CNTR AS TP_CNTR, NM_TP_CNTR
           INTO   #TEMP_CNTR
           FROM   TPROCESSO_CNTR P (NOLOCK)
                  INNER JOIN TTP_CNTR C (NOLOCK) ON ( P.TP_CNTR = C.TP_CNTR )
           WHERE  P.NR_PROCESSO = @nr_processo
           GROUP BY C.TP_CNTR, NM_TP_CNTR
 
           SET @tipo = ''
           SET @passa = ''
           SET @terc = ''
           WHILE ( SELECT COUNT ( CNTR ) FROM #TEMP_CNTR ) > 0
           BEGIN
             SELECT @chave = ( SELECT TOP 1 TP_CNTR FROM #TEMP_CNTR )
             SET @passa = ( SELECT RTRIM(NM_TP_CNTR) + ' / ' FROM #TEMP_CNTR WHERE TP_CNTR = @chave )
             SET @tipo = @terc + @passa
             SET @terc = @tipo
  
             DELETE FROM #TEMP_CNTR WHERE TP_CNTR = @chave
           END
           IF LEN( @tipo ) > 4
             SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 3 )
           DROP TABLE #TEMP_CNTR
 
           SET @nm_especie = @tipo
        
           UPDATE TREL_LEAD_TIME2
           SET NM_ESPECIE = @nm_especie,
               QT_VOLUMES = @qt_volumes
           WHERE NR_IDENTIFICADOR = @nr_identificador AND
                 NR_PROCESSO = @nr_processo AND
                 CD_REFERENCIA = @cd_referencia           
         END
       END
     END
*/
     /*   
     if @ct > 1 
     BEGIN
       -- Concatena os volumes e espécies para o processo
       UPDATE TREL_LEAD_TIME2
       SET NM_ESPECIE = NM_ESPECIE + ' / ' + @nm_especie,
           QT_VOLUMES = QT_VOLUMES + ' / ' + @qt_volumes
       WHERE NR_IDENTIFICADOR = @nr_identificador AND
             NR_PROCESSO = @nr_processo AND
             CD_REFERENCIA = @cd_referencia           
     END
     */

    FETCH c_EnviaMsg 
    INTO @nr_processo, @cd_referencia, @dt_chegada_navio, @dt_desembaraco
  END
  CLOSE c_EnviaMsg
  DEALLOCATE c_EnviaMsg

--SELECT * FROM TREL_LEAD_TIME2

/*
ROLLBACK TRAN
*/













GO
