USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/****** Object:  Stored Procedure dbo.sp_ev_prev_fabrica  Script Date: 26/11/1998 19:07:06 ******/
CREATE PROCEDURE [sp_ev_prev_emb]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)

SELECT @nr_processo = '0102EM-1498-04'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_realizacao      datetime
DECLARE @cd_ev_prev_embarque char(3)
DECLARE @cd_ev_embarque      char(3)


SELECT @cd_ev_prev_embarque = CD_EV_PREV_EMBARQUE,
       @cd_ev_embarque      = CD_EV_EMBARQUE
FROM   TPARAMETROS (NOLOCK)


SELECT @dt_realizacao = ISNULL( DT_REALIZACAO, 0 )
FROM   TFOLLOWUP (NOLOCK)
WHERE  NR_PROCESSO = @nr_processo AND
       CD_EVENTO   = @cd_ev_embarque

	
IF @dt_realizacao <> 0 
BEGIN
   -- Altera a data do evento Previsão de Embarque para a data do Embarque
   UPDATE TFOLLOWUP
   SET    DT_REALIZACAO = @dt_realizacao
   WHERE  NR_PROCESSO   = @nr_processo
     AND  CD_EVENTO     = @cd_ev_prev_embarque
END


/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
