USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [sp_followup_job] AS
/*
SET XACT_ABORT ON
BEGIN TRAN
*/
DECLARE @nr_processo           char(18)
DECLARE @cd_ref                char(15)
DECLARE @nr_nf_ent_c           char(10)
DECLARE @in_desova             char(1)
DECLARE @carga_solta           char(1)
DECLARE @via_transp            char(2)
DECLARE @cd_tp_dta             char(1)
DECLARE @cd_ev_reg_di          char(3)  -- CD_EV_REG_DI
DECLARE @cd_ev_espera_navio    char(3)  -- CD_EV_ESPERA_NAVIO
DECLARE @cd_ev_desemb          char(3)  -- CD_EV_DESEMB
DECLARE @cd_ev_ent             char(3)  -- CD_EV_ENT
DECLARE @cd_ev_pres_carga      char(3)  -- CD_EV_PRES_CARGA
DECLARE @cd_ev_recep_analise   char(3)  -- CD_EV_RECEP_ANALISE
DECLARE @cd_ev_desova          char(3)  -- CD_EV_DESOVA
DECLARE @cd_ev_pres_carga_eadi char(3)  -- CD_EV_PRES_CARGA_EADI
DECLARE @cd_ev_remocao         char(3)  -- CD_EV_REMOCAO
DECLARE @cd_ev_param_dta       char(3)  -- CD_EV_PARAM_DTA
DECLARE @cd_ev_reg_dta         char(3)  -- CD_EV_REG_DTA
DECLARE @dt_inicio             char(10)
DECLARE @dt_final              char(10)

DECLARE @data_hora_job         varchar(25)  
DECLARE @nr_nf_ent             varchar(20)
DECLARE @query_email           varchar(8000)  
DECLARE @email_cliente         varchar(50)

DECLARE @vl_nf_ent             float
DECLARE @vl_fatura             float

DECLARE @dt_ent                datetime
DECLARE @dt_receb_doc          datetime
DECLARE @dt_reg_di             datetime
DECLARE @dt_desemb             datetime
DECLARE @dt_nf_entrada         datetime
DECLARE @dt_entrega_merc       datetime
DECLARE @dt_espera_navio       datetime
DECLARE @dt_prev_entr_merc     datetime
DECLARE @dt_pres_carga         datetime
DECLARE @dt_nota               datetime
DECLARE @dt_receb_doc_fat      datetime
DECLARE @dt_desova             datetime
DECLARE @dt_chegada_arm        datetime
DECLARE @dt_remocao            datetime
DECLARE @dt_pres_carga_eadi    datetime
DECLARE @dt_param_dta          datetime
DECLARE @dt_reg_dta            datetime

DECLARE @qt_cntr_20            tinyint
DECLARE @qt_cntr_40            tinyint
DECLARE @qt_cntr_tank          tinyint

DECLARE @qt_carga              integer
DECLARE @nr_identificador      integer
DECLARE @entra                 integer


SELECT @dt_inicio = CONVERT( char(10), getdate() - 4, 103 )
SELECT @dt_final  = CONVERT( char(10), getdate() - 1, 103 )

SELECT @cd_ev_reg_di          = CD_EV_REG_DI,
       @cd_ev_espera_navio    = CD_EV_ESPERA_NAVIO,
       @cd_ev_desemb          = CD_EV_DESEMB,
       @cd_ev_ent             = CD_EV_ENT,
       @cd_ev_pres_carga      = CD_EV_PRES_CARGA,
       @cd_ev_recep_analise   = CD_EV_RECEP_ANALISE,
       @cd_ev_desova          = CD_EV_DESOVA,
       @cd_ev_pres_carga_eadi = CD_EV_PRES_CARGA_EADI,
       @cd_ev_remocao         = CD_EV_REMOCAO,
       @cd_ev_param_dta       = CD_EV_PARAM_DTA,
       @cd_ev_reg_dta         = CD_EV_REG_DTA
  FROM TPARAMETROS (NOLOCK)

SELECT @nr_identificador = ISNULL( MAX ( NR_IDENTIFICADOR ), 0 )  + 1
FROM   TDDIMPORT_FLP

DECLARE c_proc CURSOR FOR
  SELECT DISTINCT P.NR_PROCESSO, R.CD_REFERENCIA, P.CD_TP_DTA
    FROM TPROCESSO P ( NOLOCK ) 
                     INNER JOIN TEMPRESA_NAC E    ( NOLOCK ) ON ( P.CD_CLIENTE   = E.CD_EMPRESA     ) 
		     INNER JOIN TREF_CLIENTE R    ( NOLOCK ) ON ( P.NR_PROCESSO  = R.NR_PROCESSO    ) 
  WHERE  P.CD_PRODUTO   IN ( '01', '03' )  AND
         P.IN_CANCELADO = '0'              AND
         E.CD_GRUPO     = '065'            AND  -- grupo Valtra
         P.DT_ABERTURA > '20030101'		
  ORDER BY P.NR_PROCESSO, R.CD_REFERENCIA

OPEN c_proc
FETCH c_proc INTO @nr_processo, @cd_ref, @cd_tp_dta
WHILE @@fetch_status = 0
BEGIN

  SET @entra = 0

  IF NOT EXISTS( SELECT NR_PROCESSO
                 FROM   TFATURAMENTO_CC C ( NOLOCK ) 
                 WHERE  C.NR_PROCESSO = @nr_processo )
  BEGIN
    SET @entra = 1
  END
  ELSE  
  BEGIN 
    IF NOT EXISTS(SELECT ISNULL( T.IN_LIQUIDADO, '0' ) 
                  FROM   TFATURAMENTO_CC C ( NOLOCK ) 
                         INNER JOIN TS_FATURA T ( NOLOCK ) ON ( C.NR_SOLIC_FAT = T.NR_SOLICITACAO ) 
                  WHERE  C.NR_PROCESSO = @nr_processo
                    AND  T.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
                    AND  T.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )
                    AND  T.IN_CANCELADO = '0'              
                    AND  C.IN_CANCELADO = '0' )
    BEGIN
      SET @entra = 1
    END  
    ELSE
    BEGIN  
      IF ( SELECT MAX(ISNULL( T.IN_LIQUIDADO, '0' ) )
           FROM   TFATURAMENTO_CC C ( NOLOCK ) 
                  INNER JOIN TS_FATURA T ( NOLOCK ) ON ( C.NR_SOLIC_FAT = T.NR_SOLICITACAO ) 
           WHERE  C.NR_PROCESSO = @nr_processo
             AND  T.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
             AND  T.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )
             AND  T.IN_CANCELADO = '0'              
             AND  C.IN_CANCELADO = '0' ) = '0'
      BEGIN
        SET @entra = 1
      END
    END
  END

  IF @entra = 1  
  BEGIN                   
    SELECT @dt_reg_di = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO  = @nr_processo  AND
           CD_EVENTO    = @cd_ev_reg_di AND
           IN_APLICAVEL = '1'

    SELECT @dt_espera_navio = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO  = @nr_processo        AND
           CD_EVENTO    = @cd_ev_espera_navio AND
           IN_APLICAVEL = '1'

    SELECT @dt_desemb = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO  = @nr_processo  AND
           CD_EVENTO    = @cd_ev_desemb AND
           IN_APLICAVEL = '1'

    SELECT @dt_ent = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO  = @nr_processo AND
           CD_EVENTO    = @cd_ev_ent AND
           IN_APLICAVEL = '1'

    SELECT @dt_pres_carga = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO  = @nr_processo AND
           CD_EVENTO    = @cd_ev_pres_carga  AND
           IN_APLICAVEL = '1'

    SELECT @qt_cntr_20 = COUNT( NR_PROCESSO )
    FROM   TPROCESSO_CNTR (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           TP_CNTR = '02' 

    SELECT @qt_cntr_40 = COUNT( NR_PROCESSO )
    FROM   TPROCESSO_CNTR (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           TP_CNTR = '03' 

    SELECT @qt_cntr_tank = COUNT( NR_PROCESSO )
    FROM   TPROCESSO_CNTR (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           TP_CNTR IN ( '04', '05' )

    SELECT @in_desova = ( SELECT TOP 1 IN_DESOVA
                          FROM   TPROCESSO_CNTR (NOLOCK)
                          WHERE  NR_PROCESSO = @nr_processo )
    IF @in_desova = 0
    BEGIN
      SELECT @carga_solta = 'N'
    END 
    ELSE
    BEGIN
      SELECT @carga_solta = 'S'
    END

    SELECT @qt_carga = ( SELECT SUM( CAST ( QT_VOLUME_CARGA AS NUMERIC ) )
                         FROM   TEMBALAGEM_CARGA (NOLOCK)
                         WHERE  NR_PROCESSO = @nr_processo )

    SELECT @via_transp = CD_VIA_TRANSPORTE
    FROM   TPROCESSO P (NOLOCK)
              INNER JOIN VW_SERVICO_GERAL S (NOLOCK) ON ( P.CD_SERVICO = S.CD_SERVICO )
    WHERE  P.NR_PROCESSO = @nr_processo

    SELECT @dt_nota = ( SELECT TOP 1 DT_NOTA 
                        FROM TPROCESSO P (NOLOCK)
                             INNER JOIN TPROCESSO_NF N (NOLOCK) ON ( P.NR_PROCESSO = N.NR_PROCESSO )
                        WHERE P.NR_PROCESSO = @nr_processo )

    SELECT @dt_receb_doc_fat = DT_REALIZACAO
      FROM TFOLLOWUP (NOLOCK)
     WHERE NR_PROCESSO  = @nr_processo         AND
           CD_EVENTO    = @cd_ev_recep_analise AND
           IN_APLICAVEL = '1'

    SELECT @dt_desova = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO  = @nr_processo  AND
           CD_EVENTO    = @cd_ev_desova AND
           IN_APLICAVEL = '1'

    SELECT @dt_chegada_arm = DT_REALIZACAO, @dt_pres_carga_eadi = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_EVENTO   = @cd_ev_pres_carga_eadi AND
           IN_APLICAVEL = '1'

    SELECT @dt_remocao = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO  = @nr_processo AND
           CD_EVENTO    = @cd_ev_remocao AND
           IN_APLICAVEL = '1'

    SELECT @dt_param_dta = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO  = @nr_processo AND
           CD_EVENTO    = @cd_ev_param_dta AND
           IN_APLICAVEL = '1'

    SELECT @dt_reg_dta = DT_REALIZACAO
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO  = @nr_processo AND
           CD_EVENTO    = @cd_ev_reg_dta AND
           IN_APLICAVEL = '1'

    INSERT TDDIMPORT_FLP
          ( NR_IDENTIFICADOR,NR_PROCESSO, NR_DI, DT_REG_DI, DT_PREV_CHEGADA, 
            REF_DESPACHANTE, DT_DESEMB, DT_CHEGADA, DT_PREV_EMBARQUE, DT_EMBARQUE,
            DT_PRESENCA_CARGA, CD_TIPO_DCTO_CARGA, NR_DCTO_CARGA, NR_MASTER, 
            CD_VIA_TRANSPORTE, QT_CNTR_20, QT_CNTR_40, QT_CNTR_TANK, CD_CARGA_SOLTA,
            CD_CANAL, QT_VOLUMES, VL_PESO_BRUTO, VL_CHAR_WEIGHT, VL_TARIFA_FRETE,
            VL_FRETE_REAL, 
            DT_NF_ENTRADA, DT_BL_MASTER, DT_DCTO_CARGA, DT_REMOCAO, CD_RECINTO_ALFANDEGADO,
            DT_AUT_EMBARQUE, DT_RECEB_DCTO_FAT, DT_PREV_CHEGADA_IMP, DT_PAG_IMPOSTOS,
            DT_DESOVA, DT_AVISO_AVARIA, DT_ANUENCIA_LI, DT_CHEGADA_ARM, 
            DT_PRESENCA_CARGA_EADI, NR_DTA, DT_REG_DTA, CD_TIPO_DTA, 
            CD_CANAL_DTA, DT_PARAM_DTA, NR_MANIFESTO, NR_VOO, NR_VIAGEM_NAVIO, NR_CI )
     SELECT @nr_identificador, @cd_ref, DI.NR_DECLARACAO_IMP, @dt_reg_di, @dt_espera_navio,
            SUBSTRING( P.NR_PROCESSO, 5, 10 ), @dt_desemb, @dt_ent, NULL, NULL, 
            @dt_pres_carga, DI.CD_TIPO_DCTO_CARGA, P.NR_CONHECIMENTO, P.NR_CONHECIMENTO_MASTER,
            @via_transp, @qt_cntr_20, @qt_cntr_40, @qt_cntr_tank, @carga_solta,
            C.NM_CANAL, ISNULL( @qt_carga, '0' ), ISNULL( DI.PB_CARGA, 0 ), 0, ISNULL( P.VL_FRETE_CUSTO, 0 ), 
            ISNULL( DI.VL_TOTAL_FRETE_MN, 0 ), 
            @dt_nota, P.DT_CONHECIMENTO, NULL, @dt_remocao, DI.CD_RECINTO_ALFAND, 
            NULL, @dt_receb_doc_fat, NULL, @dt_reg_di, 
            @dt_desova, NULL, NULL, @dt_chegada_arm,
            @dt_pres_carga_eadi, P.NR_DTA, @dt_reg_dta, @cd_tp_dta, 
            '', @dt_param_dta, DI.NR_MANIFESTO, P.NR_VOO, '', @cd_ref
      FROM  TPROCESSO P
            INNER JOIN TDECLARACAO_IMPORTACAO DI ON ( P.NR_PROCESSO = DI.NR_PROCESSO )
            INNER JOIN TTP_CANAL C               ON ( P.CD_CANAL    = C.CD_CANAL     )
      WHERE P.NR_PROCESSO = @nr_processo
  END

  FETCH c_proc INTO @nr_processo, @cd_ref, @cd_tp_dta
END
CLOSE c_proc
DEALLOCATE c_proc

SELECT CAST( ISNULL( NR_PROCESSO, ''  )    as char(15) )                                                      AS NR_PROCESSO,   
       CAST( ISNULL( NR_DI, '' )           as char(10) )                                                      AS NR_DI,  
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_REG_DI, 103 ), '/', '' ), '' )           as char(8) )     AS DT_REG_DI,
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_PREV_CHEGADA, 103 ), '/', '' ), '' )     as char(8) )     AS DT_PREV_CHEGADA, 
       CAST( ISNULL( REF_DESPACHANTE, '' ) as char(20) )                                                      AS REF_DESPACHANTE, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_DESEMB, 103 ), '/', '' ), '' )           as char(8) )     AS DT_DESEMB,  
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_CHEGADA, 103 ), '/', '' ), '' )          as char(8) )     AS DT_CHEGADA, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_PREV_EMBARQUE, 103 ), '/', '' ), '' )    as char(8) )     AS DT_PREV_EMBARQUE, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_EMBARQUE, 103 ), '/', '' ), '' )         as char(8) )     AS DT_EMBARQUE,  
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_PRESENCA_CARGA, 103 ), '/', '' ), '' )   as char(8) )     AS DT_PRESENCA_CARGA, 
       CAST( ISNULL( CD_TIPO_DCTO_CARGA, '' ) as char(2) )                                                    AS CD_TIPO_DCTO_CARGA, 
       CAST( ISNULL( NR_DCTO_CARGA , '' )     as char(20) )                                                   AS NR_DCTO_CARGA,
       CAST( ISNULL( NR_MASTER, '' )          as char(20) )                                                   AS NR_MASTER, 
       CAST( ISNULL( CD_VIA_TRANSPORTE, '' )  as char(2)  )                                                   AS CD_VIA_TRANSPORTE, 
       CAST( ISNULL( QT_CNTR_20, '' )         as char(3)  )                                                   AS QT_CNTR_20,  
       CAST( ISNULL( QT_CNTR_40, '' )         as char(3)  )                                                   AS QT_CNTR_40, 
       CAST( ISNULL( QT_CNTR_TANK, '' )       as char(3)  )                                                   AS QT_CNTR_TANK, 
       CAST( ISNULL( CD_CARGA_SOLTA, '' )     as char(1)  )                                                   AS CD_CARGA_SOLTA,  
       CAST( ISNULL( CD_CANAL, '' )           as char(10) )                                                   AS CD_CANAL, 
       CAST( ISNULL( QT_VOLUMES, '' )         as char(3)  )                                                   AS QT_VOLUMES, 
       CAST( CAST( VL_PESO_BRUTO   as decimal(18, 5) ) as char(18) )                                          AS VL_PESO_BRUTO,  
       CAST( CAST( VL_CHAR_WEIGHT  as decimal(18, 5) ) as char(18) )                                          AS VL_CHAR_WEIGHT, 
       CAST( CAST( VL_TARIFA_FRETE as decimal(18, 5) ) as char(18) )                                          AS VL_TARIFA_FRETE, 
       CAST( CAST( VL_FRETE_REAL   as decimal(15, 2) ) as char(15) )                                          AS VL_FRETE_REAL,  
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_NF_ENTRADA, 103 ), '/', '' ), '' )          as char(8) )  AS DT_NF_ENTRADA, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_BL_MASTER, 103 ), '/', '' ), '' )           as char(8) )  AS DT_BL_MASTER, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_DCTO_CARGA, 103 ), '/', '' ), '' )          as char(8) )  AS DT_DCTO_CARGA,  
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_REMOCAO, 103 ), '/', '' ), '' )             as char(8) )  AS DT_REMOCAO, 
       CAST( ISNULL( CD_RECINTO_ALFANDEGADO, '' ) as char(7) )                                                AS CD_RECINTO_ALFANDEGADO, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_AUT_EMBARQUE, 103 ), '/', '' ), '' )        as char(8) )  AS DT_AUT_EMBARQUE, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_RECEB_DCTO_FAT, 103 ), '/', '' ), '' )      as char(8) )  AS DT_RECEB_DCTO_FAT, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_PREV_CHEGADA_IMP, 103 ), '/', '' ), '' )    as char(8) )  AS DT_PREV_CHEGADA_IMP, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_PAG_IMPOSTOS, 103 ), '/', '' ), '' )        as char(8) )  AS DT_PAG_IMPOSTOS,  
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_DESOVA, 103 ), '/', '' ), '' )              as char(8) )  AS DT_DESOVA, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_AVISO_AVARIA, 103 ), '/', '' ), '' )        as char(8) )  AS DT_AVISO_AVARIA, 
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_ANUENCIA_LI, 103 ), '/', '' ), '' )         as char(8) )  AS DT_ANUENCIA_LI,
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_CHEGADA_ARM, 103 ), '/', '' ), '' )         as char(8) )  AS DT_CHEGADA_ARM,
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_PRESENCA_CARGA_EADI, 103 ), '/', '' ), '' ) as char(8) )  AS DT_PRESENCA_CARGA_EADI,
       CAST( ISNULL( NR_DTA, '' )           as char(20) )                                                     AS NR_DTA,
       CAST( ISNULL( REPLACE( CONVERT( char(10), DT_REG_DTA, 103 ), '/', '' ), '' )             as char(8) )  AS DT_REG_DTA,
       CAST( ISNULL( CD_TIPO_DTA, '' )      as char(1) )                                                      AS CD_TIPO_DTA,
       CAST( ISNULL( CD_CANAL_DTA, '' )     as char(10) )                                                     AS CD_CANAL_DTA,
       CAST( ISNULL(  REPLACE( CONVERT( char(10), DT_PARAM_DTA, 103 ), '/', '' ), '' )          as char(8) )  AS DT_PARAM_DTA,
       CAST( ISNULL( NR_MANIFESTO, '' )     as char(15) )                                                     AS NR_MANIFESTO,
       CAST( ISNULL( NR_VOO, '' )           as char(15) )                                                     AS NR_VOO, 
       CAST( ISNULL( NR_VIAGEM_NAVIO, '' )  as char(15) )                                                     AS NR_VIAGEM_NAVIO,
       CAST( ISNULL( NR_CI, '' )            as char(20) )                                                     AS NR_CI 
  INTO TEMAIL_DDIMPORT_FLP
  FROM TDDIMPORT_FLP  
 WHERE NR_IDENTIFICADOR = @nr_identificador

EXEC master.dbo.xp_cmdshell 'D:\txtctx\email_followup.exe', NO_OUTPUT

DELETE FROM TDDIMPORT_FLP WHERE NR_IDENTIFICADOR = @nr_identificador

DROP TABLE TEMAIL_DDIMPORT_FLP
/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/
GO
