USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*
SET XACT_ABORT ON
BEGIN TRAN
*/
CREATE PROCEDURE [sp_atz_cheque_caixa] ( @dt_pagamento datetime, @cd_banco char(3), @nr_cheque char(6) ) AS

DECLARE @NR_PROCESSO_FAT	   CHAR(18)
DECLARE @novo_processo		   char(18)
DECLARE @NR_LANCAMENTO_FAT     CHAR(6)
DECLARE @DT_LANCAMENTO_FAT     datetime
DECLARE @cd_coligada           char(2)
DECLARE @dt_movimento          datetime
DECLARE @nr_lancamento         char(6)
DECLARE @nr_lanc_caixa         char(6)
DECLARE @novo_lanc_faturamento char(6)
DECLARE @cd_item  	           char(3)
DECLARE @cd_usuario            char(4)
DECLARE @contador              char(4)

/*
DECLARE @dt_pagamento datetime
DECLARE @cd_banco char(3)
DECLARE @nr_cheque char(6)

SELECT @dt_pagamento = CONVERT( datetime, CONVERT (VARCHAR, '13/08/2009', 103), 103)
SELECT @nr_cheque = '132432'
SELECT @cd_banco = '001'
*/


SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()


SELECT  @contador = '0'

 SELECT 
	CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO
  INTO #TMP_CAIXA
  FROM   TCAIXA C
  WHERE  DT_MOVIMENTO = @dt_pagamento
		 AND CD_BANCO = @cd_banco
         AND IN_CANCELADO = '0'
         AND NR_CHEQUE = @nr_cheque
		 AND IN_RESTITUI = '0'

DECLARE c_caixa CURSOR FOR 
  SELECT CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO FROM #TMP_CAIXA 
OPEN c_caixa
FETCH c_caixa INTO 
	@CD_COLIGADA, @DT_MOVIMENTO, @NR_LANCAMENTO
WHILE @@fetch_status = 0

BEGIN

  SELECT @dt_movimento = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103), 103)
  SELECT @nr_lanc_caixa = RIGHT ('000000' + CONVERT(VARCHAR, ISNULL(MAX(NR_LANCAMENTO ),'0') + 1 ), 6 )
		FROM TCAIXA WHERE DT_MOVIMENTO = @dt_movimento
 
  INSERT INTO TCAIXA 
	( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,
	IN_TRANSFERIDO, CD_HISTORICO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO,
	NR_CHEQUE, CD_CT_ACERTO, DT_ACERTO, NR_ACERTO, CD_CT_CONTABIL, CD_CT_CUSTO, CD_FAVORECIDO,
	NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, CD_DESPACHANTE, IN_RESTITUI, CD_ACESSO,
	CD_AUX, CD_HIST_PADRAO, DT_CANCELADO, IN_CONTABILIZA, IN_OPERACIONAL, NR_FP, VL_INSS,
	VL_PISCOFINS, VL_ISS, IN_CONCILIACAO, DT_CONCILIACAO, IN_FILTRO, NR_SOLIC_FAT, VL_MOEDA,
	CD_MOEDA, VL_TARIFA, IN_FATURADO, CD_USUARIO_CONCILIACAO, IN_CONCILIACAO_AUTOM, NR_SEQ_CONCILIACAO, CD_CT_CONTABIL_CTAAPAGAR,
	IN_SELECIONADO, NR_CTAAPAGAR, CODIGO_CTAAPAGAR_LANC, NR_LANCAMENTO_SELECIONADO, CD_RATEIO)
  SELECT 
	 @CD_COLIGADA, @dt_movimento, @nr_lanc_caixa, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,
	IN_TRANSFERIDO, CD_HISTORICO, 'ESTORNO', VL_LANCAMENTO, TP_PAGAMENTO, 'C', CD_BANCO,
	NR_CHEQUE, CD_CT_ACERTO, DT_ACERTO, NR_ACERTO, CD_CT_CONTABIL, CD_CT_CUSTO, CD_FAVORECIDO,
	NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, CD_DESPACHANTE, '1', CD_ACESSO,
	CD_AUX, CD_HIST_PADRAO, DT_CANCELADO, IN_CONTABILIZA, IN_OPERACIONAL, NR_FP, VL_INSS,
	VL_PISCOFINS, VL_ISS, IN_CONCILIACAO, DT_CONCILIACAO, IN_FILTRO, NR_SOLIC_FAT, VL_MOEDA,
	CD_MOEDA, VL_TARIFA, IN_FATURADO, CD_USUARIO_CONCILIACAO, IN_CONCILIACAO_AUTOM, NR_SEQ_CONCILIACAO, CD_CT_CONTABIL_CTAAPAGAR,
	IN_SELECIONADO, NR_CTAAPAGAR, CODIGO_CTAAPAGAR_LANC, NR_LANCAMENTO_SELECIONADO, CD_RATEIO
  FROM   TCAIXA
  WHERE  cd_coligada = @CD_COLIGADA
		 AND nr_lancamento =  @NR_LANCAMENTO
		 AND DT_MOVIMENTO = @dt_pagamento
		 AND CD_BANCO = @cd_banco
         AND IN_CANCELADO = '0'
         AND NR_CHEQUE = @nr_cheque
		 AND IN_RESTITUI = '0'
	
FETCH c_caixa INTO 
  @CD_COLIGADA, @DT_MOVIMENTO, @NR_LANCAMENTO
END
CLOSE c_caixa
DEALLOCATE c_caixa

DROP TABLE #TMP_CAIXA

--Insere itens de estorno no faturamento
 SELECT 
	NR_PROCESSO, NR_LANCAMENTO
  INTO #TMP_FATURAMENTO
  FROM   TFATURAMENTO_CC
  WHERE  DT_LANCAMENTO = @dt_pagamento
		 AND CD_BANCO = @cd_banco
         AND IN_CANCELADO = '0'
         AND NR_CHEQUE = @nr_cheque
		 AND IN_RESTITUI = '0'

DECLARE c_faturamento CURSOR FOR 
  SELECT NR_PROCESSO, NR_LANCAMENTO FROM #TMP_FATURAMENTO 
OPEN c_faturamento
FETCH c_faturamento INTO 
	@NR_PROCESSO_FAT, @NR_LANCAMENTO_FAT
WHILE @@fetch_status = 0

BEGIN

  SELECT @dt_movimento = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103), 103)


IF @contador = '0' OR @NR_PROCESSO_FAT <> @novo_processo
BEGIN
  SELECT @novo_lanc_faturamento = RIGHT ('0000' + CONVERT(VARCHAR, ISNULL(MAX(NR_LANCAMENTO ),0) + 1 ), 4 )
    	FROM TFATURAMENTO_CC(NOLOCK) WHERE nr_processo = @NR_PROCESSO_FAT --and DT_LANCAMENTO = @dt_movimento comentado André 14/08/2009
  SELECT @contador = '1'
END
  print @NR_PROCESSO_FAT 
  print @dt_movimento
  print @novo_lanc_faturamento 
  INSERT INTO TFATURAMENTO_CC 
    ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,
    CD_DESPACHANTE, CD_TIPO_LANC, CD_FORMA_PAGTO, CD_ORIGEM_LANC, CD_STATUS_LANC, NR_CHEQUE, VL_ITEM,
    VL_IR, VL_ASSIST, NM_ITEM_COMPLEMENTO, IN_FATURADO, CD_CANCELADOR, DT_CANCELAMENTO, IN_CANCELADO,
    NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO,
    INDICE, IN_SEL_FAT, NR_SOLIC_DEM, NR_FP, NR_LANCAMENTO_CAIXA, IN_FILTRO, VL_TARIFA,
    CD_MOEDA, VL_MOEDA)
  SELECT
    @NR_PROCESSO_FAT, @novo_lanc_faturamento, @dt_movimento, @cd_usuario, CD_FAVORECIDO, CD_BANCO, CD_ITEM,
    CD_DESPACHANTE, CD_TIPO_LANC, CD_FORMA_PAGTO, CD_ORIGEM_LANC, CD_STATUS_LANC, NR_CHEQUE, VL_ITEM,
    VL_IR, VL_ASSIST, 'ESTORNO', IN_FATURADO, CD_CANCELADOR, DT_CANCELAMENTO, IN_CANCELADO,
    NR_SOLIC_FAT, 1, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO,
    INDICE, IN_SEL_FAT, NR_SOLIC_DEM, NR_FP, NR_LANCAMENTO_CAIXA, IN_FILTRO, VL_TARIFA,
    CD_MOEDA, VL_MOEDA
  FROM TFATURAMENTO_CC
  WHERE NR_CHEQUE = @nr_cheque
		AND NR_PROCESSO = @NR_PROCESSO_FAT
		AND NR_LANCAMENTO = @NR_LANCAMENTO_FAT
		AND DT_LANCAMENTO = @dt_pagamento
		AND CD_BANCO = @cd_banco 
		AND IN_CANCELADO = '0'
		AND IN_RESTITUI = '0'

SELECT @novo_lanc_faturamento = RIGHT ('0000' + CONVERT(VARCHAR, @novo_lanc_faturamento + 1, 103), 4)
SELECT @novo_processo = @NR_PROCESSO_FAT

FETCH c_faturamento INTO 
  	@NR_PROCESSO_FAT, @NR_LANCAMENTO_FAT

END
CLOSE c_faturamento
DEALLOCATE c_faturamento


DROP TABLE #TMP_FATURAMENTO


/*
select * from tfaturamento_cc where nr_cheque = '132432'
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
