USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_inc_produto_usuario    Script Date: 02/09/1999 08:58:32 AM ******/
/****** Object:  Stored Procedure dbo.sp_inc_produto_usuario    Script Date: 22/11/1998 11:05:24 ******/
/****** Object:  Stored Procedure dbo.sp_inc_produto_usuario Script Date: 03/10/1998 19:56:48 ******/
CREATE PROCEDURE [sp_inc_produto_usuario] @cd_usuario char(4), @cd_unid_neg char(2), @cd_produto char(2) AS
declare @in_default    char(1)
select  @in_default    = '0'
select @in_default = in_default
       from tusuario_habilitacao 
       where cd_usuario = @cd_usuario and in_default = '1'
insert tusuario_habilitacao
       Values ( @cd_usuario, @cd_unid_neg, @cd_produto, GetDate(), '1', @in_default )


GO
