USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_GRAVA_HISTORICO_CALCULO_DI](@NR_PROCESSO CHAR(18)) AS
BEGIN
    INSERT INTO THISTORICO_CALCULO_DI(NR_PROCESSO, DT_OPERACAO, CD_USUARIO, ID_USUARIO, VL_TOTAL_AD, DT_CALCULO, TX_DOLAR, VL_CIF_MN, CD_MOEDA_MLE,
                                      TX_MLE, VL_MLE_MN, VL_MLE_MNEG, VL_II, VL_IPI, VL_PIS, VL_COFINS, VL_ICMS, VL_FUNDO_POBREZA, VL_TRIBUTO_PAGO,
                                      VL_SDA, VL_DESPS_MN, VL_ACRESCIMOS_MN, VL_DEDUCOES_MN, VL_DESPS_MNEG, CD_MOEDA_SEGURO, TX_SEGURO, VL_SEG_MN,
                                      VL_SEGURO_MNEG, CD_MOEDA_FRETE, TX_FRETE, VL_FRETE_MN, VL_FRETE_MNEG, CD_SERVICO, CD_RECINTO_ALFAND,
                                      CD_SETOR_ARMAZENAM, CD_URF_ENTR_CARGA, CD_APLICACAO, CD_AREA, CD_TRANSP_NAC, CD_EMBARCACAO, DT_CHEG_NAVIO)
    SELECT D.NR_PROCESSO,
           GETDATE(),
           (SELECT CD_USUARIO
            FROM TUSUARIO
            WHERE AP_USUARIO = SUSER_NAME()),
           SUSER_ID(),
           D.VL_TOTAL_AD,
           D.DT_CALCULO,
           D.TX_DOLAR,
           (SELECT SUM(ISNULL(TR.VL_BASE_CALC_ADVAL,0))
            FROM TRIBUTO TR
            WHERE TR.NR_PROCESSO        = D.NR_PROCESSO
              AND TR.CD_RECEITA_IMPOSTO = '0001' ),
           D.CD_MOEDA_MLE,
           D.TX_MLE,
           D.VL_TOTAL_MLE_MN,
           D.VL_TOT_MLE_MNEG,
           D.VL_TOTAL_II,
           D.VL_TOTAL_IPI,
           (SELECT SUM(ISNULL(A.VL_PIS,0))
            FROM TADICAO_DE_IMPORTACAO A
            WHERE A.NR_PROCESSO = D.NR_PROCESSO AND ((ISNULL(A.CD_TIPO_BENEF_PIS_COFINS, 0) IN ('1', '2')) OR
               ((ISNULL(A.CD_FUND_LEGAL_PISCOFINS, '') = '42') AND (P.CD_SERVICO = '706')))),
           (SELECT SUM(ISNULL(A.VL_COFINS,0))
            FROM TADICAO_DE_IMPORTACAO A
            WHERE A.NR_PROCESSO = D.NR_PROCESSO AND ((ISNULL(A.CD_TIPO_BENEF_PIS_COFINS, 0) IN ('1', '2')) OR
               ((ISNULL(A.CD_FUND_LEGAL_PISCOFINS, '') = '42') AND (P.CD_SERVICO = '706')))),
           D.VL_TOT_ICMS,
           (SELECT ROUND(SUM(CASE ISNULL(AD.IN_FUNDO_POBREZA, '0')
                                 WHEN '1' THEN CASE ISNULL(AD.CD_TRIBUTACAO_ICMS, '0')
                                                   WHEN '7' THEN 0
                                               ELSE (AD.VL_BASE_CALC_ICMS / 100) * PA.PC_FUNDO_POBREZA_RJ
                                               END
                             ELSE 0
                             END), 2)
            FROM TADICAO_DE_IMPORTACAO AD, TPARAMETROS PA
      	    WHERE AD.NR_PROCESSO = D.NR_PROCESSO),
      	   (SELECT T.VL_TRIBUTO_PAGO
      	    FROM TPAGAMENTO_TRIBUTOS T (NOLOCK)
      	    WHERE T.NR_PROCESSO = D.NR_PROCESSO
              AND T.CD_RECEITA_PGTO = '7811'),
           S.VL_SDA + S.VL_CONTR_ASSIST + S.VL_COMPL,
           D.VL_TOT_DESPS_MN,
           D.VL_TOTAL_ACRESCIMOS_MN,
           D.VL_TOTAL_DEDUCOES_MN,
           D.VL_TOT_DESPS_MNEG,
           D.CD_MOEDA_SEGURO,
           D.TX_SEGURO,
           D.VL_TOTAL_SEG_MN,
           D.VL_TOT_SEGURO_MNEG,
           D.CD_MOEDA_FRETE,
           D.TX_FRETE,
           D.VL_TOTAL_FRETE_MN,
           ISNULL(D.VL_TOT_FRT_COLLECT, 0) - ISNULL(D.VL_TOT_FRT_PREPAID, 0) - ISNULL(D.VL_FRETE_TNAC_MNEG, 0),
           P.CD_SERVICO,
           D.CD_RECINTO_ALFAND,
           D.CD_SETOR_ARMAZENAM,
           D.CD_URF_ENTR_CARGA,
           D.CD_APLICACAO_MERC,
           P.CD_AREA,
           D.CD_TRANSPORTADOR,
           P.CD_EMBARCACAO,
           (SELECT DT_REALIZACAO
            FROM TFOLLOWUP
            WHERE NR_PROCESSO = D.NR_PROCESSO
              AND CD_EVENTO   = '162')
    FROM TDECLARACAO_IMPORTACAO D (NOLOCK)
       INNER JOIN TPROCESSO     P (NOLOCK) ON P.NR_PROCESSO = D.NR_PROCESSO
       LEFT  JOIN TPROCESSO_SDA S (NOLOCK) ON S.NR_PROCESSO = D.NR_PROCESSO
    WHERE D.NR_PROCESSO = @NR_PROCESSO
END

GO
