USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE PROCEDURE [sp_rel_retencao] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), 
                                   @cd_cliente char(5), @dt_inicio datetime, @dt_final datetime, 
                                   @nr_identificador int OUTPUT ) AS



/*
SET XACT_ABORT ON
BEGIN TRAN


SET NOCOUNT ON


DECLARE @cd_unid_neg             char(2)
DECLARE @cd_produto              char(2)
DECLARE @cd_grupo                char(3)
DECLARE @cd_cliente              char(5)
DECLARE @dt_inicio               datetime
DECLARE @dt_final                datetime
DECLARE @nr_identificador        int

SELECT  @cd_unid_neg   = '01'
SELECT  @cd_produto    = 'X'
SELECT  @cd_grupo      = 'X'
SELECT  @cd_cliente    = 'X'
SELECT  @dt_inicio     = CONVERT( datetime, '01/10/2008', 103 )
SELECT  @dt_final      = CONVERT( datetime, '30/10/2008', 103 )
*/

DECLARE @nr_processo             char(18) 
DECLARE @cd_empresa              char(5) 
DECLARE @ap_empresa              char(15)
DECLARE @cnpj_empresa            char(14)
DECLARE @cd_grupo_cliente        char(3) 
DECLARE @nr_nota_fatura          char(8)
DECLARE @in_cobrar_iss           char(1)  
DECLARE @nr_declaracao           char(6) 
DECLARE @cd_unid_neg_proc        char(2)
DECLARE @cd_produto_proc         char(2) 

DECLARE @dt_fatura               datetime

DECLARE @vl_numerario            float
DECLARE @vl_comissao             float
DECLARE @vl_item_cofins_retencao float
DECLARE @vl_irrf                 float
DECLARE @vl_nao_tributavel       float
DECLARE @vl_tributavel           float
DECLARE @vl_saldo_fat            float
DECLARE @valor_iss               float
DECLARE @vl_total_fatura         float
DECLARE @vl_aliq_iss             float
DECLARE @vl_iss                  float 
DECLARE @vl_retencao             float

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
  FROM TREL_RETENCAO

DECLARE cursor_processos CURSOR FOR
  SELECT F.NR_SOLICITACAO, F.NR_NOTA_FATURA, F.DT_FATURA, F.CD_UNID_NEG, F.CD_PRODUTO
    FROM TS_FATURA F	
   WHERE F.CD_UNID_NEG    = @cd_unid_neg      AND
         ( ( F.CD_PRODUTO  = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ISNULL( F.IN_CANCELADO, '' ) = '0'   AND
         ISNULL( F.IN_IMPRESSO, ''  ) = '0'   AND                        
         ISNULL( F.NR_NOTA_FATURA, '' ) <> '' AND
         F.DT_FATURA BETWEEN CONVERT( datetime, @dt_inicio, 103 )   AND 
                           CONVERT( datetime, @dt_final, 103 ) 
         AND (((SELECT COUNT(*) FROM TRETENCAO_IR I 
		      WHERE I.NR_SOLICITACAO = F.NR_SOLICITACAO AND I.CD_UNID_NEG = F.CD_UNID_NEG AND I.CD_PRODUTO = F.CD_PRODUTO) = 1) or
		     ((SELECT COUNT(*) FROM TRETENCAO_COFINS C 
		      WHERE C.NR_SOLICITACAO = F.NR_SOLICITACAO AND C.CD_UNID_NEG = F.CD_UNID_NEG AND C.CD_PRODUTO = F.CD_PRODUTO) = 1))                      

  OPEN cursor_processos
  FETCH cursor_processos INTO @nr_declaracao, @nr_nota_fatura, @dt_fatura, @cd_unid_neg_proc, @cd_produto_proc
  WHILE @@fetch_status = 0 
  BEGIN
     SELECT @vl_numerario            = 0
     SELECT @vl_comissao             = 0
     SELECT @vl_item_cofins_retencao = 0
     SELECT @vl_irrf                 = 0
     SELECT @vl_nao_tributavel       = 0
     SELECT @vl_tributavel           = 0
     SELECT @vl_saldo_fat            = 0
     SELECT @valor_iss               = 0
     SELECT @vl_total_fatura         = 0
     SELECT @vl_aliq_iss             = 0      
     SELECT @vl_iss                  = 0
     SELECT @vl_retencao             = 0
     -- seleciona os processos   
     SELECT DISTINCT @nr_processo = ISNULL( C.NR_PROCESSO, '' ), @cd_empresa = N.CD_EMPRESA, 
                     @ap_empresa  =  N.AP_EMPRESA, @cnpj_empresa = N.CGC_EMPRESA, 
                     @cd_grupo_cliente = N.CD_GRUPO
       FROM TFATURAMENTO_CC C, TPROCESSO P, TEMPRESA_NAC N
      WHERE C.NR_PROCESSO      = P.NR_PROCESSO       AND
            P.CD_CLIENTE       = N.CD_EMPRESA        AND
            P.CD_UNID_NEG      = @cd_unid_neg_proc   AND
            P.CD_PRODUTO       = @cd_produto_proc    AND
            C.NR_SOLIC_FAT     = @nr_declaracao      AND
            ( N.CD_EMPRESA IN ( SELECT CD_EMPRESA 
                                  FROM TEMPRESA_NAC 
                                 WHERE ( CD_GRUPO  = @cd_grupo ) OR 
                                       ( @cd_grupo = 'X' ) 
                               )   
            ) AND
           ( ( N.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) )

   
      IF @nr_processo <> '' 
      BEGIN
        SELECT @in_cobrar_iss = IN_COBRAR_ISS
          FROM TCLIENTE_HABILITACAO
         WHERE CD_CLIENTE  = @cd_empresa AND
               CD_PRODUTO  = SUBSTRING( @nr_processo, 3, 2 ) AND
               CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
        
        --valor do numerário
           SELECT @vl_numerario = 
                  ( ( SELECT ISNULL( SUM( VL_ITEM ), 0 )
                        FROM TFATURAMENTO_CC 
                       WHERE CD_ITEM = ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
                             ISNULL( IN_FATURADO, '' )   = '1' AND
                             ISNULL( IN_CANCELADO, '' )  = '0' AND
                             NR_PROCESSO = @nr_processo AND
                             NR_SOLIC_FAT = @nr_declaracao  )  - 
                    ( SELECT ISNULL( SUM( VL_ITEM ), 0 )
                        FROM TFATURAMENTO_CC 
                       WHERE CD_ITEM = ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
                             ISNULL( IN_FATURADO, '' )   = '1' AND
                             ISNULL( IN_CANCELADO, '' )  = '0' AND
                             NR_PROCESSO = @nr_processo AND
                             NR_SOLIC_FAT = @nr_declaracao   ) )

        --valor comissão
        SELECT @vl_comissao = ISNULL( SUM( VL_ITEM ), 0 )
          FROM TFATURAMENTO_CC 
         WHERE CD_ITEM = ( SELECT CD_ITEM_COMISSAO FROM TPARAMETROS ) AND
               ISNULL( IN_FATURADO, '' )   = '1' AND
               ISNULL( IN_CANCELADO, '' ) <> '1' AND
               NR_PROCESSO  = @nr_processo       AND
               NR_SOLIC_FAT = @nr_declaracao     

    
        --valor retenção pis/cofins I IRRF (para calcular saldo da fatura)
      /*SELECT @vl_irrf = ISNULL(I.VL_IR_RETIDO, 0), @vl_item_cofins_retencao = ISNULL(C.VL_COFINS_RETIDO, 0)
        FROM TRETENCAO_IR I
        INNER JOIN TRETENCAO_COFINS C ON C.NR_PROCESSO = I.NR_PROCESSO AND C.NR_SOLICITACAO = I.NR_SOLICITACAO
      WHERE I.NR_PROCESSO = @nr_processo 
--			AND I.CD_UNID_NEG = @cd_unid_neg 
--			AND I.CD_PRODUTO = @cd_produto
			AND I.DT_FATURA BETWEEN CONVERT( datetime, @dt_inicio, 103 ) AND CONVERT( datetime, @dt_final, 103 )*/

      SELECT @vl_irrf = ISNULL(I.VL_IR_RETIDO, 0), @vl_item_cofins_retencao = ISNULL(C.VL_COFINS_RETIDO, 0)
        FROM TS_FATURA F
        INNER JOIN TS_FATURA_PROCESSO FP ON F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO = FP.CD_PRODUTO AND F.NR_SOLICITACAO = FP.NR_SOLICITACAO
        LEFT JOIN TRETENCAO_COFINS C ON C.NR_PROCESSO = FP.NR_PROCESSO AND C.NR_SOLICITACAO = FP.NR_SOLICITACAO
        LEFT JOIN TRETENCAO_IR I ON I.NR_PROCESSO = FP.NR_PROCESSO AND I.NR_SOLICITACAO = FP.NR_SOLICITACAO
      WHERE FP.NR_PROCESSO = @nr_processo AND
			F.NR_NOTA_FATURA = @nr_nota_fatura
--			AND I.CD_UNID_NEG = @cd_unid_neg 
--			AND I.CD_PRODUTO = @cd_produto
--			AND F.DT_FATURA BETWEEN CONVERT( datetime, @dt_inicio, 103 ) AND CONVERT( datetime, @dt_final, 103 )
			
			
    /*  SELECT @vl_item_cofins_retencao = ISNULL(VL_COFINS_RETIDO, 0)
		  FROM TRETENCAO_COFINS
		WHERE NR_PROCESSO = @nr_processo

        SELECT @vl_irrf = ISNULL(VL_IR_RETIDO, 0)
		  FROM TRETENCAO_IR
		WHERE NR_PROCESSO = @nr_processo */


/* -- comentado André 21/10/2008 a tabela não é mais usada
		SELECT @vl_item_cofins_retencao = ISNULL( SUM( VL_ITEM ), 0 )
          FROM TFATURAMENTO_CC 
         WHERE CD_ITEM = ( SELECT CD_ITEM_COFINS_RETENCAO FROM TPARAMETROS ) AND
               ISNULL( IN_FATURADO, '' )   = '1' AND
               ISNULL( IN_CANCELADO, '' ) <> '1' AND
               NR_PROCESSO  = @nr_processo       AND
               NR_SOLIC_FAT = @nr_declaracao     

        IF @vl_item_cofins_retencao = 0
		BEGIN
          --valor retenção	25/01/2005 - mesmo valores que não foram para a fatura são impressos
          SELECT @vl_retencao = ISNULL( VL_RETENCAO, 0 )
            FROM TNF_RETENCAO
           WHERE CD_UNID_NEG = @cd_unid_neg_proc AND 
                 CD_PRODUTO = @cd_produto_proc AND
                 NR_SOLICITACAO = @nr_declaracao AND
                 IN_STATUS IN ( 'I', 'A', 'T', 'S', 'N' )  
        END
        ELSE
          SET @vl_retencao = @vl_item_cofins_retencao
    
        --valor do IRRF
        SELECT @vl_irrf = ISNULL( SUM( VL_ITEM ), 0 )
          FROM TFATURAMENTO_CC
         WHERE CD_ITEM = ( SELECT CD_ITEM_IR FROM TPARAMETROS ) AND
               ISNULL( IN_FATURADO, '' )   = '1' AND
               ISNULL( IN_CANCELADO, '' ) <> '1' AND
               NR_PROCESSO  = @nr_processo       AND
               NR_SOLIC_FAT = @nr_declaracao     */


       --valor não tributável
       SELECT @vl_nao_tributavel =
              ISNULL( ROUND( SUM(
              CASE IN_RESTITUI 
                WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
                WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
              END ), 2 ), 0 )
         FROM TFATURAMENTO_CC FI, TITEM I
        WHERE FI.CD_ITEM = I.CD_ITEM AND
              I.IN_TRIBUTAVEL = '0' AND
              FI.IN_CANCELADO = '0' AND
              FI.IN_FATURADO = '1' AND
              FI.NR_PROCESSO  = @nr_processo   AND
              FI.NR_SOLIC_FAT = @nr_declaracao AND
              ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT   FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_IR        FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_COFINS_RETENCAO FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_COMISSAO  FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI  FROM TPARAMETROS )
    
       --valor tributavel
       SELECT @vl_tributavel =
              ISNULL( ROUND( SUM(
              CASE IN_RESTITUI 
                WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
                WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
              END ), 2 ), 0 )
         FROM TFATURAMENTO_CC FI, TITEM I
        WHERE FI.CD_ITEM = I.CD_ITEM AND
              I.IN_TRIBUTAVEL = '1' AND
              FI.IN_CANCELADO = '0' AND
              FI.IN_FATURADO  = '1' AND
              FI.NR_PROCESSO  = @nr_processo   AND
              FI.NR_SOLIC_FAT = @nr_declaracao AND
              ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT   FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_IR        FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_COFINS_RETENCAO FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_COMISSAO  FROM TPARAMETROS ) AND
              FI.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI  FROM TPARAMETROS )
       
       --valor do ISS
       SELECT @vl_aliq_iss = ISNULL( VL_ALIQ_ISS, 0 )
         FROM TUNID_NEG
        WHERE CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
 
       IF SUBSTRING( @nr_processo, 1, 2 ) = '02'
       BEGIN
         IF @in_cobrar_iss = '1' 
         BEGIN
           SELECT @vl_iss =
                  ISNULL( ROUND( SUM(
                  CASE IN_RESTITUI 
                    WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
                    WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
                  END ), 2 ), 0 )
             FROM TFATURAMENTO_CC FI, TITEM I
            WHERE FI.CD_ITEM = I.CD_ITEM AND
                  FI.IN_CANCELADO = '0' AND
                  FI.IN_FATURADO  = '1' AND
                  FI.NR_PROCESSO  = @nr_processo   AND
                  FI.NR_SOLIC_FAT = @nr_declaracao AND 
                  FI.CD_ITEM IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS )
         END
         ELSE
         BEGIN
           SELECT @vl_iss = ISNULL( ( ( @vl_tributavel + @vl_comissao ) * ( @vl_aliq_iss / 100 ) ), 0 )
         END
       END
       ELSE
       BEGIN
         SELECT @vl_iss = ISNULL( ( ( @vl_tributavel + @vl_comissao ) * ( @vl_aliq_iss / 100 ) ), 0 )
       END 

       --valor total da fatura
       SELECT @vl_total_fatura = @vl_tributavel + @vl_nao_tributavel + @vl_comissao

       --saldo da fatura
       SELECT @vl_saldo_fat = ( ( @vl_numerario + @vl_irrf + @vl_item_cofins_retencao ) - @vl_total_fatura )

       INSERT INTO TREL_RETENCAO ( NR_IDENTIFICADOR, NR_PROCESSO, CD_EMPRESA, AP_EMPRESA, CNPJ_EMPRESA, CD_GRUPO_CLIENTE, 
                                   NR_NOTA_FATURA, DT_FATURA, VL_NUMERARIO, VL_COMISSAO, VL_ITEM_COFINS_RETENCAO,
                                   VL_IRRF, VL_NAO_TRIBUTAVEL, VL_TRIBUTAVEL, VL_SALDO_FAT, VL_ISS, VL_TOTAL_FATURA ) 
                          VALUES ( @nr_identificador, @nr_processo, @cd_empresa, @ap_empresa, @cnpj_empresa, @cd_grupo_cliente,
                                   @nr_nota_fatura, @dt_fatura, @vl_numerario, @vl_comissao, @vl_item_cofins_retencao,
                                   @vl_irrf, @vl_nao_tributavel, @vl_tributavel, @vl_saldo_fat, @vl_iss, @vl_total_fatura )
        SELECT @nr_processo = ''
      END
    FETCH cursor_processos INTO @nr_declaracao, @nr_nota_fatura, @dt_fatura, @cd_unid_neg_proc, @cd_produto_proc
  END
  CLOSE cursor_processos
  DEALLOCATE cursor_processos



/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/





GO
