USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*   
ATUALIZA APENAS EXPORTAÇÃO  
  
Procedure sp_atz_myindaia_followup alimenta as tabelas  :   
  
MYINDAIA.DBO.TFOLLOWUP  
MYINDAIA.DBO.TFOLLOWUP_ETAPA           
MYINDAIA.DBO.TFOLLOWUP_OBS  
MYINDAIA.DBO.TFLP_EXPORT   
*/  
  
    
CREATE PROCEDURE [sp_atz_myindaia_followup2](@data int = 0) AS          
SET NOCOUNT ON          
/*          
BEGIN TRAN          
DECLARE @data int          
--*/          
DECLARE          
  @registros int,          
  @apCampo char(8),          
  @cdBroker char(3),          
  @txUpdate varchar(1024),
  @nr_processo char(18), 
  @cd_cliente char(5),
  @tabela varchar(100)    
  
DECLARE @TEVENTOS_EXP AS TABLE (CD_EVENTO CHAR(3), AP_CAMPO VARCHAR(50))              
          
IF ISNULL(@data, 0) = 0 SET @data = YEAR(GETDATE())-3          
SET @registros = 0          
PRINT 'Iniciando cópia de dados...'          
  
--deleta os cancelados  
DELETE ATZ         
FROM BROKER.DBO.TATZ_MYINDAIA_FOLLOWUP ATZ
  INNER JOIN BROKER.DBO.TPROCESSO PR ON PR.NR_PROCESSO = ATZ.NR_PROCESSO
WHERE PR.IN_CANCELADO = '1' 

--seleciona os registros de exportação          
SELECT TOP 300 ATZ.NR_PROCESSO, NM_TABELA, MIN(AP_USUARIO) AS AP_USUARIO, PR.CD_CLIENTE          
INTO #TMP_FOLLOWUP          
FROM BROKER.DBO.TATZ_MYINDAIA_FOLLOWUP ATZ /* Atendendo a cocorrencia 05081/07  (Denilza) excluí o ítem IW para que possam ser transferidos para a base WEB*/        /*WHERE SUBSTRING(NR_PROCESSO,5,2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')*/          
  INNER JOIN BROKER.DBO.TPROCESSO PR ON PR.NR_PROCESSO = ATZ.NR_PROCESSO
WHERE SUBSTRING(ATZ.NR_PROCESSO,5,2) NOT IN ('EW','FT','PO','TE','TS')   
  AND NM_TABELA = 'TFOLLOWUP'      
  AND YEAR(PR.DT_ABERTURA) >= @data  
  AND PR.IN_CANCELADO = '0'
GROUP BY ATZ.NR_PROCESSO, PR.CD_CLIENTE, NM_TABELA          
ORDER BY AP_USUARIO, MIN(CD_ATUALIZACAO)  

WHILE ((SELECT COUNT(NR_PROCESSO) FROM #TMP_FOLLOWUP) > 0)
BEGIN    
  BEGIN TRY  
    SELECT TOP 1 @nr_processo = NR_PROCESSO, @cd_cliente = CD_CLIENTE FROM #TMP_FOLLOWUP     
    DELETE FROM #TMP_FOLLOWUP WHERE NR_PROCESSO = @nr_processo 
  
    DELETE FU FROM MYINDAIA.DBO.TFOLLOWUP FU WHERE FU.NR_PROCESSO = @nr_processo   

    INSERT INTO MYINDAIA.DBO.TFOLLOWUP (          
      NR_PROCESSO, CD_SERVICO, CD_EVENTO, DT_REALIZACAO, DT_PREVISTA, DT_LIMITE, NR_ORDEM, IN_APLICAVEL, CD_RESP_REALIZACAO )          
    SELECT DISTINCT          
      FP.NR_PROCESSO, FP.CD_SERVICO, FP.CD_EVENTO, FP.DT_REALIZACAO, FP.DT_PREVISTA, FP.DT_LIMITE, FP.NR_ORDEM, FP.IN_APLICAVEL, FP.CD_RESP_REALIZACAO          
    FROM BROKER.DBO.TFOLLOWUP FP            
    WHERE ISNULL( FP.IN_BLOQUEADO, '0' ) = '0' 
      AND FP.NR_PROCESSO = @nr_processo         
    
    DELETE FROM MYINDAIA.DBO.TFOLLOWUP_ETAPA WHERE NR_PROCESSO = @nr_processo         

    INSERT INTO MYINDAIA.DBO.TFOLLOWUP_ETAPA (          
      CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, CD_FOLLOWUP_ETAPA, CD_ETAPA, CD_USUARIO, DT_ALTERACAO )          
    SELECT DISTINCT          
      FP.CD_UNID_NEG, FP.CD_PRODUTO, FP.NR_PROCESSO, FP.CD_FOLLOWUP_ETAPA, FP.CD_ETAPA, FP.CD_USUARIO, FP.DT_ALTERACAO
    FROM BROKER.DBO.TFOLLOWUP_ETAPA FP          
    WHERE FP.NR_PROCESSO = @nr_processo 
      
    DELETE FROM MYINDAIA.DBO.TFOLLOWUP_OBS WHERE NR_PROCESSO = @nr_processo  

    INSERT INTO MYINDAIA.DBO.TFOLLOWUP_OBS ( NR_PROCESSO, TX_OBSERVACAO, CD_EMPRESA, TP_OBS )    
      SELECT FP.NR_PROCESSO, TX_OBS, @cd_cliente, '2'          
    FROM BROKER.DBO.TFOLLOWUP FP 
    WHERE FP.NR_PROCESSO = @nr_processo         
      AND FP.CD_EVENTO = '022'          
      AND FP.TX_OBS IS NOT NULL          
   
   
    DELETE FROM MYINDAIA.DBO.TFOLLOWUP_NOTES WHERE NR_PROCESSO = @nr_processo 
    
    INSERT INTO MYINDAIA.DBO.TFOLLOWUP_NOTES ( NR_PROCESSO, TX_OBSERVACAO, CD_EMPRESA, TP_OBS )    
      SELECT FP.NR_PROCESSO, TX_OBS, @cd_cliente, '2'          
    FROM BROKER.DBO.TFOLLOWUP FP 
    WHERE FP.NR_PROCESSO = @nr_processo    
      AND FP.CD_EVENTO = '653'          
      AND FP.TX_OBS IS NOT NULL          


    DELETE FROM MYINDAIA.DBO.TFLP_EXPORT1 WHERE NR_PROCESSO = @nr_processo   
    DELETE FROM MYINDAIA.DBO.TFLP_EXPORT2 WHERE NR_PROCESSO = @nr_processo       
    
    INSERT INTO MYINDAIA.DBO.TFLP_EXPORT1 (NR_PROCESSO) VALUES (@nr_processo)               
    INSERT INTO MYINDAIA.DBO.TFLP_EXPORT2 (NR_PROCESSO) VALUES (@nr_processo)               
      --   /* 
    /***** FOLLOW UP DE EVENTOS DESEMBARAÇO *****/  
    
   DELETE FROM @TEVENTOS_EXP        
   
   INSERT INTO @TEVENTOS_EXP
      SELECT M10_CD_BROKER, M10_AP_CAMPO          
      FROM MYINDAIA.DBO.M10_DADOS  
      WHERE M10_TP_DADO = '1'          
        AND M10_CD_BROKER IN ( select CD_EVENTO from TEVENTO where IN_MOSTRAR_WEB_EXP = '1' and IN_ATIVO = '1' )    
        AND M10_CD_BROKER IN (SELECT CD_EVENTO FROM TFOLLOWUP WHERE NR_PROCESSO = @nr_processo)
      ORDER BY M10_CD_BROKER          
          
      
      WHILE (SELECT COUNT(CD_EVENTO) FROM @TEVENTOS_EXP) > 0          
      BEGIN          
        SELECT TOP 1 @cdBroker = CD_EVENTO, @apCampo = AP_CAMPO FROM @TEVENTOS_EXP
        DELETE FROM @TEVENTOS_EXP WHERE CD_EVENTO = @cdBroker
        
        IF (SELECT COUNT(*) 
            FROM MYINDAIA.DBO.SYSOBJECTS SO, MYINDAIA.DBO.SYSCOLUMNS SC
            WHERE SO.NAME = 'TFLP_EXPORT1'
              AND SC.NAME = 'RLZ_'+@apCampo
              AND SC.ID = SO.ID) > 0         
          SET @tabela = 'TFLP_EXPORT1'
        ELSE
          SET @tabela = 'TFLP_EXPORT2'
        
          SET @txUpdate = 'UPDATE FE SET          
            RLZ_'+@apCampo+' = FU.DT_REALIZACAO, EFT_'+@apCampo+' = FU.DT_REALIZACAO_EFETIVA, PVT_'+@apCampo+' = FU.DT_PREVISTA, IN_'+@apCampo+' = FU.IN_APLICAVEL          
            FROM MYINDAIA.DBO.' + @tabela + ' FE                           
            INNER JOIN BROKER.DBO.TFOLLOWUP FU ON (FU.NR_PROCESSO = FE.NR_PROCESSO AND FU.CD_EVENTO = '''+@cdBroker+''')          
            WHERE FU.NR_PROCESSO = ''' + @nr_processo + ''' '          
            exec(@txUpdate)                                                                
      END                          
      
    --*/
    DELETE FROM TATZ_MYINDAIA_FOLLOWUP WHERE NR_PROCESSO = @nr_processo    
  END TRY
  BEGIN CATCH
    --INSERT INTO TATZ_MYINDAIA_FOLLOWUP_LOG VALUES(@nr_processo, GETDATE(), 'E', LEFT(ERROR_MESSAGE(),500))
    PRINT '  MENSAGEM:' + ERROR_MESSAGE() 
    PRINT '  LINHA:' + CONVERT(VARCHAR, ERROR_LINE())
    PRINT '  ROTINA:' + ERROR_PROCEDURE()
  END CATCH
END
   
/*------------------------------------FLAVIO DEADLINE*/  
BEGIN TRY
UPDATE MYINDAIA.DBO.TFLP_EXPORT1   
SET    
 HR_CARGA=TV.HR_DEADLINE_CARGA ,   
 HR_TEMP=TV.HR_DEADLINE_CARTA_TEMP ,   
 HR_IMO=TV.HR_DEADLINE_IMO ,   
 HR_GATE= TV.HR_ABERTURA_GATE,   
 HR_DRAFT=TV.HR_DEADLINE_BL    
FROM   
 MYINDAIA.DBO.TFLP_EXPORT1 TF
INNER JOIN BROKER.DBO.TPROCESSO TP ON (TP.NR_PROCESSO=TF.NR_PROCESSO)    
INNER JOIN BROKER.DBO.TVIAGEM_DEADLINE TV ON   
 (TV.CD_UNID_NEG=TP.CD_UNID_NEG    AND TV.CD_PRODUTO=TP.CD_PRODUTO AND   
  TV.NR_VIAGEM=TP.NR_VIAGEM     AND TV.CD_AGENTE=TP.CD_AGENTE   AND   
  TV.CD_EMBARCACAO=TP.CD_EMBARCACAO AND TV.TP_ESTUFAGEM=TP.TP_ESTUFAGEM)    
/*------------------------------------FLAVIO DEADLINE*/       
END TRY
BEGIN CATCH
 IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_EXPORT VIAGEM'          
END CATCH
/*        
DELETE PR          
FROM TATZ_MYINDAIA_FOLLOWUP PR, #TMP_FOLLOWUP FE          
WHERE FE.NR_PROCESSO = PR.NR_PROCESSO          
  AND FE.NM_TABELA   = PR.NM_TABELA                
--*/          
--PRINT 'Registros atualizados: '+CAST(@registros as varchar)          
DROP TABLE #TMP_FOLLOWUP          
--ROLLBACK TRAN          
SET NOCOUNT OFF          

--COMMIT
GO
