USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_proc_itens_solic_pagto]( @nr_processo char(18), @nr_lancamento char(3), @cd_item char(3) ) AS

/*
set xact_abort on
begin tran

DECLARE @nr_processo char(18)
DECLARE @nr_lancamento char(3)
DECLARE @cd_item char(3)

SELECT @nr_processo = '0301MY-0025-05'
SELECT @nr_lancamento = '002'
SELECT @cd_item = '682'

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

DECLARE @cd_usuario         char(4)
DECLARE @vl_pagto           numeric(14,2)
DECLARE @vl_solicitado      numeric(14,2)
DECLARE @vl_recebido        numeric(14,2)
DECLARE @vl_utilizado       numeric(14,2)
DECLARE @vl_saldo           numeric(14,2)
DECLARE @vl_saldo_proc	    numeric(14,2)
DECLARE @cd_status_item     char(2)
DECLARE @in_liberacao       char(1)
DECLARE @tp_destino         char(1)

SELECT @cd_item          = CD_ITEM,
       @vl_pagto         = ISNULL( CONVERT( numeric(14,2), VL_PAGTO ), 0 ) - ISNULL( CONVERT( numeric(14,2), VL_DESCONTO ), 0 ),
       @cd_status_item   = CD_STATUS,
       @tp_destino       = TP_DESTINO
FROM   TSOLIC_PAGTO (PAGLOCK HOLDLOCK)
WHERE  ( NR_PROCESSO   = @nr_processo ) AND
       ( NR_LANCAMENTO = @nr_lancamento ) AND
       ( CD_ITEM       = @cd_item ) AND ( VL_PAGTO > 0 )

IF @@rowcount = 0
   RETURN(1)

IF @cd_status_item IN ('5') /* Solicitado Fora do Horário*/
BEGIN
  UPDATE TSOLIC_PAGTO 
  SET    IN_SOLICITADO = '1'
  WHERE  ( NR_PROCESSO = @nr_processo ) AND 
         ( NR_LANCAMENTO = @nr_lancamento ) AND 
         ( CD_ITEM = @cd_item ) AND ( VL_PAGTO > 0 )
END

IF @cd_status_item IN ('0') /* Em Processamento*/
BEGIN
  IF @cd_item = '991'
  BEGIN
    SELECT @cd_status_item = '0'
  END
  ELSE
  BEGIN
    SELECT @vl_solicitado = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_SOLICITADO)    , 0) ) ),
           @vl_recebido   = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_RECEBIDO)      , 0) ) ), 
           @vl_utilizado  = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_UTILIZADO)     , 0) ) ), 
           @vl_saldo      = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_SOLICITADO-VL_RECEBIDO)    , 0) ) ), 
           @vl_saldo_proc = ( MIN (ISNULL (CONVERT( numeric(14,2), VL_SOLICITADO), 0) ) ) 
    FROM   TNUMERARIO_NOTIFICA_ITEM
    WHERE  ( NR_PROCESSO = @nr_processo ) AND
           ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) )

    SELECT @cd_status_item =
    CASE
      WHEN ( ISNULL( @vl_saldo, 0 ) >= @vl_pagto ) AND
           ( ISNULL( @vl_saldo_proc, 0 ) >= @vl_pagto ) THEN '6'  /* Solicitado */
      WHEN ( ISNULL( @vl_solicitado, 0 ) = 0 )          THEN '2'  /* Numerário não solicitado */
      WHEN ( ISNULL( @vl_recebido, 0 )   = 0 )          THEN '3'  /* Numerário não recebido   */
      ELSE '1'                                               	  /* Saldo Insuficiente       */ 
    END
  END

  IF @tp_destino <> '5'
  BEGIN
    UPDATE TSOLIC_PAGTO 
    SET    CD_STATUS = @cd_status_item,
           IN_SOLICITADO = '1'
    WHERE  ( NR_PROCESSO = @nr_processo ) AND 
           ( nr_lancamento = @NR_LANCAMENTO ) AND
           ( CD_ITEM = @cd_item )  AND ( VL_PAGTO > 0 ) 
  END
  ELSE
  BEGIN
    UPDATE TSOLIC_PAGTO 
    SET    CD_STATUS = '6',  -- Solicitado
           IN_SOLICITADO = '1'
    WHERE  ( NR_PROCESSO = @nr_processo ) AND 
           ( nr_lancamento = @NR_LANCAMENTO ) AND
           ( CD_ITEM = @cd_item )  AND ( VL_PAGTO > 0 )
  END
END






GO
