USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROC [sp_RESOLVE] @tipo char(2) AS 


--SET XACT_ABORT ON
--BEGIN TRAN

/*
1- Favorecidos
2- Contas do Favorecido  
3- Banco
4- Item
5- Empresa Nacional
6- Conta Pai Fluxo de Caixa - TCT_Contabil
7- Contas a pagar
8- caixa
9- parametros
10- contas cliente
11- TADM
*/

DECLARE @codigo  	      char(5)
DECLARE @cd_ct_contabil       char(12)
DECLARE @cd_ct_contabil_pis   char(12)
DECLARE @CD_CT_CONTABIL_PAI   char(12)  
DECLARE @CD_CT_CONTABIL_FLUXO char(12)
DECLARE @QTD_REG 	      int
DECLARE @CD_COLIGADA	      char(2)
DECLARE @CD_UNID_NEG	      char(2)
DECLARE @CD_PRODUTO	      char(2)
DECLARE @DT_MOVIMENTO	      datetime
DECLARE @NR_LANCAMENTO	      char(6)
DECLARE @CD_CT_CONTABIL_CTAAPAGAR char(12)
DECLARE @CD_CLIENTE	      char(5)
DECLARE @cd_ct_contabilTMP    char(12)
DECLARE @TP_NATUREZA	      char(1)
DECLARE @CD_RATEIO	      char(4)

--declare @tipo char(2)
--select @tipo = 10

if @Tipo = 1 
begin

	DECLARE C_FAVOR CURSOR FOR
	  SELECT CD_FAVORECIDO, CD_CT_CONTABIL
	  FROM   TFAVORECIDO
	  where
 	    ISNULL(CD_CT_CONTABIL,'') <> '' 
	OPEN C_FAVOR
	
	FETCH C_FAVOR INTO @codigo, @cd_ct_contabil
	
	WHILE @@fetch_status = 0
	BEGIN

	  if @CD_CT_CONTABIL = '1120101891'	--U&Mineração
	    select @CD_CT_CONTABIL = '010100000140' 
	  else	
	  if @CD_CT_CONTABIL = '1120102090'	 --CPW
	    select @CD_CT_CONTABIL = '010100000148'
	  else	
	  if @CD_CT_CONTABIL = '1120105056'		--ficap
	    select @CD_CT_CONTABIL = '010100000110'
          else 
	  if @CD_CT_CONTABIL = '1120105161'		--paulo sergio
	    select @CD_CT_CONTABIL = '010100000156'
	  else
	  if @CD_CT_CONTABIL = '1120105323'		--3m do brasil 
	    select @CD_CT_CONTABIL = '010100000158'
	  else
	  if @CD_CT_CONTABIL = '1120300037'		--cristiano
	    select @CD_CT_CONTABIL = '010140000031'
	  else
	  if @CD_CT_CONTABIL = '1120300151'		--angela
	    select @CD_CT_CONTABIL = '010140000066'	
	  else
	  if @CD_CT_CONTABIL = '1120300509'		--santos
	    select @CD_CT_CONTABIL = '010140000000'	
	  else
	  if @CD_CT_CONTABIL = '1120302111'		--ronaldo wanderley
	    select @CD_CT_CONTABIL = '010140019020'
	  else
	  if @CD_CT_CONTABIL = '1120302455'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010140000267'
  	  else
	  if @CD_CT_CONTABIL = '1120302528'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010140000276'
	  else
	  if @CD_CT_CONTABIL = '1120400503'		--adiantamentos 13 salário
	    select @CD_CT_CONTABIL = '010150000000'
	  else
	  if @CD_CT_CONTABIL = '1120401186'		--diogo gomes de souza
	    select @CD_CT_CONTABIL = '010150000219'
	  else
	  if @CD_CT_CONTABIL = '1120402158'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010150000267'
	  else
	  if @CD_CT_CONTABIL = '1120402611'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010150000276'
	  else
	  if @CD_CT_CONTABIL = '1120805058'		--ar log e desemb
	    select @CD_CT_CONTABIL = '010130000008'
	  else
	  if @CD_CT_CONTABIL = '1121100368'		--transf internas
	    select @CD_CT_CONTABIL = '020160000001'
	  else
	  if @CD_CT_CONTABIL = '1121401368'		--Fermavi Eletroquimica
	    select @CD_CT_CONTABIL = '010120000075'
  	  else
	  if @CD_CT_CONTABIL = '2110100222'		--clipper
	    select @CD_CT_CONTABIL = '020000000007'
	  else
	  if @CD_CT_CONTABIL = '2111300063'		--valores a reembolsar
	    select @CD_CT_CONTABIL = '020110010005'
	  else
	  if @CD_CT_CONTABIL = '2111400823'		--energia eletricia
	    select @CD_CT_CONTABIL = '020000000278'	
	  else
	  if @CD_CT_CONTABIL = '6210100031'		--abatimentos NVOCC
	    select @CD_CT_CONTABIL = '060120000001'	
	  else
	  if @CD_CT_CONTABIL = '6210100040'		--abatimentos diversos
	    select @CD_CT_CONTABIL = '060120000003'	
	  else
	  if @CD_CT_CONTABIL = '6210100058'		--abatimentos logistica	
	    select @CD_CT_CONTABIL = '060120000002'	
  	  else
	  if @CD_CT_CONTABIL = '6310100076'		--despesas com veículos
	    select @CD_CT_CONTABIL = '060200000008'	
  	  else
	  if @CD_CT_CONTABIL = '6410100183'		--honorários PF
	    select @CD_CT_CONTABIL = '060510000023'	
  	  else
	  if @CD_CT_CONTABIL = '6410100426'		--desp com confraternização
	    select @CD_CT_CONTABIL = '060550000120'	
  	  else
	  if @CD_CT_CONTABIL = '6410100582'		--leasing
	    select @CD_CT_CONTABIL = '060210000132'	
  	  else
	  if @CD_CT_CONTABIL = '6410100647'		--despesas com combustíveis
	    select @CD_CT_CONTABIL = '060210000018'	
  	  else
	  if @CD_CT_CONTABIL = '6410100663'		--honorários profiss. PJ
	    select @CD_CT_CONTABIL = '060550000103'	
  	  else
	  if @CD_CT_CONTABIL = '6410100671'		--arrendam mercantil 
	    select @CD_CT_CONTABIL = '060210000104'	
  	  else
	  if @CD_CT_CONTABIL = '6410100710'		--alugueis PJ
	    select @CD_CT_CONTABIL = '060550000139'	
  	  else
	  if @CD_CT_CONTABIL = '6410100728'		--alugueis PJ equip
	    select @CD_CT_CONTABIL = '060210000040'	
  	  else
	  if @CD_CT_CONTABIL = '6410300271'		--comissões
	    select @CD_CT_CONTABIL = '060510000019'	
  	  else
	  if @CD_CT_CONTABIL = '6410400101'		--contr social FGTS
	    select @CD_CT_CONTABIL = '060520000010'	
  	  else
	  if @CD_CT_CONTABIL = '6510200029'		--variações monetárias
	    select @CD_CT_CONTABIL = '060020000001'	
  	  else
  	  begin
	    select @CD_CT_CONTABIL = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
	    from INDAIA15.CIN2007.dbo.conversao
	    where
	      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL
	  end

	  UPDATE TFAVORECIDO
	  SET    cd_ct_contabil =  @cd_ct_contabil
	  WHERE  
	    CD_FAVORECIDO = @codigo
	
	  FETCH C_FAVOR INTO @codigo, @cd_ct_contabil
	END
	CLOSE C_FAVOR
	DEALLOCATE C_FAVOR

end
else if @Tipo = 2 
begin

	DECLARE C_FAVOR_CONTAS CURSOR FOR
	  SELECT CD_FAVORECIDO, CD_CT_CONTABIL, CD_CT_CONTABIL
	  FROM   TFAVORECIDO_CONTAS
	  order by CD_FAVORECIDO
	OPEN C_FAVOR_CONTAS
	
	FETCH C_FAVOR_CONTAS INTO @codigo, @cd_ct_contabil, @cd_ct_contabilTMP
	
	WHILE @@fetch_status = 0
	BEGIN

	  if @CD_CT_CONTABIL = '1120101891'	--U&Mineração
	    select @CD_CT_CONTABIL = '010100000140' 
	  else	
	  if @CD_CT_CONTABIL = '1120102090'	 --CPW
	    select @CD_CT_CONTABIL = '010100000148'
	  else	
	  if @CD_CT_CONTABIL = '1120105056'		--ficap
	    select @CD_CT_CONTABIL = '010100000110'
          else 
	  if @CD_CT_CONTABIL = '1120105161'		--paulo sergio
	    select @CD_CT_CONTABIL = '010100000156'
	  else
	  if @CD_CT_CONTABIL = '1120105323'		--3m do brasil 
	    select @CD_CT_CONTABIL = '010100000158'
	  else
	  if @CD_CT_CONTABIL = '1120300037'		--cristiano
	    select @CD_CT_CONTABIL = '010140000031'
	  else
	  if @CD_CT_CONTABIL = '1120300151'		--angela
	    select @CD_CT_CONTABIL = '010140000066'	
	  else
	  if @CD_CT_CONTABIL = '1120300509'		--santos
	    select @CD_CT_CONTABIL = '010140000000'	
	  else
	  if @CD_CT_CONTABIL = '1120302111'		--ronaldo wanderley
	    select @CD_CT_CONTABIL = '010140019020'
	  else
	  if @CD_CT_CONTABIL = '1120302455'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010140000267'
  	  else
	  if @CD_CT_CONTABIL = '1120302528'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010140000276'
	  else
	  if @CD_CT_CONTABIL = '1120400503'		--adiantamentos 13 salário
	    select @CD_CT_CONTABIL = '010150000000'
	  else
	  if @CD_CT_CONTABIL = '1120401186'		--diogo gomes de souza
	    select @CD_CT_CONTABIL = '010150000219'
	  else
	  if @CD_CT_CONTABIL = '1120402158'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010150000267'
	  else
	  if @CD_CT_CONTABIL = '1120402611'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010150000276'
	  else
	  if @CD_CT_CONTABIL = '1120805058'		--ar log e desemb
	    select @CD_CT_CONTABIL = '010130000008'
	  else
	  if @CD_CT_CONTABIL = '1121100368'		--transf internas
	    select @CD_CT_CONTABIL = '020160000001'
	  else
	  if @CD_CT_CONTABIL = '1121401368'		--Fermavi Eletroquimica
	    select @CD_CT_CONTABIL = '010120000075'
  	  else
	  if @CD_CT_CONTABIL = '2110100222'		--clipper
	    select @CD_CT_CONTABIL = '020000000007'
	  else
	  if @CD_CT_CONTABIL = '2111300063'		--valores a reembolsar
	    select @CD_CT_CONTABIL = '020110010005'
	  else
	  if @CD_CT_CONTABIL = '2111400823'		--energia eletricia
	    select @CD_CT_CONTABIL = '020000000278'	
	  else
	  if @CD_CT_CONTABIL = '6210100031'		--abatimentos NVOCC
	    select @CD_CT_CONTABIL = '060120000001'	
	  else
	  if @CD_CT_CONTABIL = '6210100040'		--abatimentos diversos
	    select @CD_CT_CONTABIL = '060120000003'	
	  else
	  if @CD_CT_CONTABIL = '6210100058'		--abatimentos logistica	
	    select @CD_CT_CONTABIL = '060120000002'	
  	  else
	  if @CD_CT_CONTABIL = '6310100076'		--despesas com veículos
	    select @CD_CT_CONTABIL = '060200000008'	
  	  else
	  if @CD_CT_CONTABIL = '6410100183'		--honorários PF
	    select @CD_CT_CONTABIL = '060510000023'	
  	  else
	  if @CD_CT_CONTABIL = '6410100426'		--desp com confraternização
	    select @CD_CT_CONTABIL = '060550000120'	
  	  else
	  if @CD_CT_CONTABIL = '6410100582'		--leasing
	    select @CD_CT_CONTABIL = '060210000132'	
  	  else
	  if @CD_CT_CONTABIL = '6410100647'		--despesas com combustíveis
	    select @CD_CT_CONTABIL = '060210000018'	
  	  else
	  if @CD_CT_CONTABIL = '6410100663'		--honorários profiss. PJ
	    select @CD_CT_CONTABIL = '060550000103'	
  	  else
	  if @CD_CT_CONTABIL = '6410100671'		--arrendam mercantil 
	    select @CD_CT_CONTABIL = '060210000104'	
  	  else
	  if @CD_CT_CONTABIL = '6410100710'		--alugueis PJ
	    select @CD_CT_CONTABIL = '060550000139'	
  	  else
	  if @CD_CT_CONTABIL = '6410100728'		--alugueis PJ equip
	    select @CD_CT_CONTABIL = '060210000040'	
  	  else
	  if @CD_CT_CONTABIL = '6410300271'		--comissões
	    select @CD_CT_CONTABIL = '060510000019'	
  	  else
	  if @CD_CT_CONTABIL = '6410400101'		--contr social FGTS
	    select @CD_CT_CONTABIL = '060520000010'	
  	  else
	  if @CD_CT_CONTABIL = '6510200029'		--variações monetárias
	    select @CD_CT_CONTABIL = '060020000001'	
  	  else
  	  begin
	    select @CD_CT_CONTABIL = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
	    from INDAIA15.CIN2007.dbo.conversao
	    where
	      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL
	  end


	  UPDATE TFAVORECIDO_CONTAS
	  SET    cd_ct_contabil =  @cd_ct_contabil
	  WHERE  
	    CD_FAVORECIDO = @codigo and CD_CT_CONTABIL = @cd_ct_contabilTMP
	
	  FETCH C_FAVOR_CONTAS INTO @codigo, @cd_ct_contabil, @cd_ct_contabilTMP
	END
	
	
	CLOSE C_FAVOR_CONTAS
	DEALLOCATE C_FAVOR_CONTAS
end	
else if @Tipo = 3
begin


	DECLARE C_BANCO CURSOR FOR
	  SELECT CD_BANCO, CD_CT_CONTABIL
	  FROM   TBANCO
	  where  ISNULL(CD_CT_CONTABIL,'') <> ''
	OPEN C_BANCO
	
	FETCH C_BANCO INTO @codigo, @cd_ct_contabil
	
	WHILE @@fetch_status = 0
	BEGIN
	  UPDATE TBANCO
	  SET    cd_ct_contabil =  (select '0' + convert(char,convert(decimal(16,0),PLCCONTA)) CONTA
				    from INDAIA15.CIN2007.dbo.conversao
				    where
				      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @cd_ct_contabil )
	  WHERE  
	    CD_BANCO = @codigo
	
	  FETCH C_BANCO INTO @codigo, @cd_ct_contabil
	END
	
	
	CLOSE C_BANCO
	DEALLOCATE C_BANCO
end	
else if @Tipo = 4
begin


	DECLARE C_ITEM CURSOR FOR
	  SELECT CD_ITEM, CD_CT_CONTABIL
	  FROM   TITEM
	  WHERE  
	    ISNULL(CD_CT_CONTABIL,'') <> ''
	OPEN C_ITEM
	
	FETCH C_ITEM INTO @codigo, @cd_ct_contabil
	
	WHILE @@fetch_status = 0
	BEGIN


	  if @CD_CT_CONTABIL = '1120101891'	--U&Mineração
	    select @CD_CT_CONTABIL = '010100000140' 
	  else	
	  if @CD_CT_CONTABIL = '1120102090'	 --CPW
	    select @CD_CT_CONTABIL = '010100000148'
	  else	
	  if @CD_CT_CONTABIL = '1120105056'		--ficap
	    select @CD_CT_CONTABIL = '010100000110'
          else 
	  if @CD_CT_CONTABIL = '1120105161'		--paulo sergio
	    select @CD_CT_CONTABIL = '010100000156'
	  else
	  if @CD_CT_CONTABIL = '1120105323'		--3m do brasil 
	    select @CD_CT_CONTABIL = '010100000158'
	  else
	  if @CD_CT_CONTABIL = '1120300037'		--cristiano
	    select @CD_CT_CONTABIL = '010140000031'
	  else
	  if @CD_CT_CONTABIL = '1120300151'		--angela
	    select @CD_CT_CONTABIL = '010140000066'	
	  else
	  if @CD_CT_CONTABIL = '1120300509'		--santos
	    select @CD_CT_CONTABIL = '010140000000'	
	  else
	  if @CD_CT_CONTABIL = '1120302111'		--ronaldo wanderley
	    select @CD_CT_CONTABIL = '010140019020'
	  else
	  if @CD_CT_CONTABIL = '1120302455'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010140000267'
  	  else
	  if @CD_CT_CONTABIL = '1120302528'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010140000276'
	  else
	  if @CD_CT_CONTABIL = '1120400503'		--adiantamentos 13 salário
	    select @CD_CT_CONTABIL = '010150000000'
	  else
	  if @CD_CT_CONTABIL = '1120401186'		--diogo gomes de souza
	    select @CD_CT_CONTABIL = '010150000219'
	  else
	  if @CD_CT_CONTABIL = '1120402158'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010150000267'
	  else
	  if @CD_CT_CONTABIL = '1120402611'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010150000276'
	  else
	  if @CD_CT_CONTABIL = '1120805058'		--ar log e desemb
	    select @CD_CT_CONTABIL = '010130000008'
	  else
	  if @CD_CT_CONTABIL = '1121100368'		--transf internas
	    select @CD_CT_CONTABIL = '020160000001'
	  else
	  if @CD_CT_CONTABIL = '1121401368'		--Fermavi Eletroquimica
	    select @CD_CT_CONTABIL = '010120000075'
  	  else
	  if @CD_CT_CONTABIL = '2110100222'		--clipper
	    select @CD_CT_CONTABIL = '020000000007'
	  else
	  if @CD_CT_CONTABIL = '2111300063'		--valores a reembolsar
	    select @CD_CT_CONTABIL = '020110010005'
	  else
	  if @CD_CT_CONTABIL = '2111400823'		--energia eletricia
	    select @CD_CT_CONTABIL = '020000000278'	
	  else
	  if @CD_CT_CONTABIL = '6210100031'		--abatimentos NVOCC
	    select @CD_CT_CONTABIL = '060120000001'	
	  else
	  if @CD_CT_CONTABIL = '6210100040'		--abatimentos diversos
	    select @CD_CT_CONTABIL = '060120000003'	
	  else
	  if @CD_CT_CONTABIL = '6210100058'		--abatimentos logistica	
	    select @CD_CT_CONTABIL = '060120000002'	
  	  else
	  if @CD_CT_CONTABIL = '6310100076'		--despesas com veículos
	    select @CD_CT_CONTABIL = '060200000008'	
  	  else
	  if @CD_CT_CONTABIL = '6410100183'		--honorários PF
	    select @CD_CT_CONTABIL = '060510000023'	
  	  else
	  if @CD_CT_CONTABIL = '6410100426'		--desp com confraternização
	    select @CD_CT_CONTABIL = '060550000120'	
  	  else
	  if @CD_CT_CONTABIL = '6410100582'		--leasing
	    select @CD_CT_CONTABIL = '060210000132'	
  	  else
	  if @CD_CT_CONTABIL = '6410100647'		--despesas com combustíveis
	    select @CD_CT_CONTABIL = '060210000018'	
  	  else
	  if @CD_CT_CONTABIL = '6410100663'		--honorários profiss. PJ
	    select @CD_CT_CONTABIL = '060550000103'	
  	  else
	  if @CD_CT_CONTABIL = '6410100671'		--arrendam mercantil 
	    select @CD_CT_CONTABIL = '060210000104'	
  	  else
	  if @CD_CT_CONTABIL = '6410100710'		--alugueis PJ
	    select @CD_CT_CONTABIL = '060550000139'	
  	  else
	  if @CD_CT_CONTABIL = '6410100728'		--alugueis PJ equip
	    select @CD_CT_CONTABIL = '060210000040'	
  	  else
	  if @CD_CT_CONTABIL = '6410300271'		--comissões
	    select @CD_CT_CONTABIL = '060510000019'	
  	  else
	  if @CD_CT_CONTABIL = '6410400101'		--contr social FGTS
	    select @CD_CT_CONTABIL = '060520000010'	
  	  else
	  if @CD_CT_CONTABIL = '6510200029'		--variações monetárias
	    select @CD_CT_CONTABIL = '060020000001'	
  	  else
  	  begin
	    select @CD_CT_CONTABIL = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
	    from INDAIA15.CIN2007.dbo.conversao
	    where
	      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL
	  end

	  UPDATE TITEM
	  SET    cd_ct_contabil = @cd_ct_contabil 
	  WHERE  
	    CD_ITEM = @codigo
	
	  FETCH C_ITEM INTO @codigo, @cd_ct_contabil
	END
	
	
	CLOSE C_ITEM
	DEALLOCATE C_ITEM
end	
else if @Tipo = 5
begin

	DECLARE C_EMPRESA CURSOR FOR
	  SELECT CD_EMPRESA, ISNULL(CD_CT_CONTABIL,'') CD_CT_CONTABIL, ISNULL(CD_CT_CONTABIL_PIS,'')CD_CT_CONTABIL_PIS
	  FROM   TEMPRESA_NAC
	OPEN C_EMPRESA
	
	FETCH C_EMPRESA INTO @codigo, @cd_ct_contabil, @cd_ct_contabil_pis
	
	WHILE @@fetch_status = 0
	BEGIN
	  if @CD_CT_CONTABIL <> '' 
	  BEGIN
		  if @CD_CT_CONTABIL = '1120101891'	--U&Mineração
		    select @CD_CT_CONTABIL = '010100000140' 
		  else	
		  if @CD_CT_CONTABIL = '1120102090'	 --CPW
		    select @CD_CT_CONTABIL = '010100000148'
		  else	
		  if @CD_CT_CONTABIL = '1120105056'		--ficap
		    select @CD_CT_CONTABIL = '010100000110'
	          else 
		  if @CD_CT_CONTABIL = '1120105161'		--paulo sergio
		    select @CD_CT_CONTABIL = '010100000156'
		  else
		  if @CD_CT_CONTABIL = '1120105323'		--3m do brasil 
		    select @CD_CT_CONTABIL = '010100000158'
		  else
		  if @CD_CT_CONTABIL = '1120300037'		--cristiano
		    select @CD_CT_CONTABIL = '010140000031'
		  else
		  if @CD_CT_CONTABIL = '1120300151'		--angela
		    select @CD_CT_CONTABIL = '010140000066'	
		  else
		  if @CD_CT_CONTABIL = '1120300509'		--santos
		    select @CD_CT_CONTABIL = '010140000000'	
		  else
		  if @CD_CT_CONTABIL = '1120302111'		--ronaldo wanderley
		    select @CD_CT_CONTABIL = '010140019020'
		  else
		  if @CD_CT_CONTABIL = '1120302455'		--claudia lucia lopes
		    select @CD_CT_CONTABIL = '010140000267'
	  	  else
		  if @CD_CT_CONTABIL = '1120302528'		--marcelo eduardo
		    select @CD_CT_CONTABIL = '010140000276'
		  else
		  if @CD_CT_CONTABIL = '1120400503'		--adiantamentos 13 salário
		    select @CD_CT_CONTABIL = '010150000000'
		  else
		  if @CD_CT_CONTABIL = '1120401186'		--diogo gomes de souza
		    select @CD_CT_CONTABIL = '010150000219'
		  else
		  if @CD_CT_CONTABIL = '1120402158'		--claudia lucia lopes
		    select @CD_CT_CONTABIL = '010150000267'
		  else
		  if @CD_CT_CONTABIL = '1120402611'		--marcelo eduardo
		    select @CD_CT_CONTABIL = '010150000276'
		  else
		  if @CD_CT_CONTABIL = '1120805058'		--ar log e desemb
		    select @CD_CT_CONTABIL = '010130000008'
		  else
		  if @CD_CT_CONTABIL = '1121100368'		--transf internas
		    select @CD_CT_CONTABIL = '020160000001'
		  else
		  if @CD_CT_CONTABIL = '1121401368'		--Fermavi Eletroquimica
		    select @CD_CT_CONTABIL = '010120000075'
	  	  else
		  if @CD_CT_CONTABIL = '2110100222'		--clipper
		    select @CD_CT_CONTABIL = '020000000007'
		  else
		  if @CD_CT_CONTABIL = '2111300063'		--valores a reembolsar
		    select @CD_CT_CONTABIL = '020110010005'
		  else
		  if @CD_CT_CONTABIL = '2111400823'		--energia eletricia
		    select @CD_CT_CONTABIL = '020000000278'	
		  else
		  if @CD_CT_CONTABIL = '6210100031'		--abatimentos NVOCC
		    select @CD_CT_CONTABIL = '060120000001'	
		  else
		  if @CD_CT_CONTABIL = '6210100040'		--abatimentos diversos
		    select @CD_CT_CONTABIL = '060120000003'	
		  else
		  if @CD_CT_CONTABIL = '6210100058'		--abatimentos logistica	
		    select @CD_CT_CONTABIL = '060120000002'	
	  	  else
		  if @CD_CT_CONTABIL = '6310100076'		--despesas com veículos
		    select @CD_CT_CONTABIL = '060200000008'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100183'		--honorários PF
		    select @CD_CT_CONTABIL = '060510000023'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100426'		--desp com confraternização
		    select @CD_CT_CONTABIL = '060550000120'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100582'		--leasing
		    select @CD_CT_CONTABIL = '060210000132'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100647'		--despesas com combustíveis
		    select @CD_CT_CONTABIL = '060210000018'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100663'		--honorários profiss. PJ
		    select @CD_CT_CONTABIL = '060550000103'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100671'		--arrendam mercantil 
		    select @CD_CT_CONTABIL = '060210000104'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100710'		--alugueis PJ
		    select @CD_CT_CONTABIL = '060550000139'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100728'		--alugueis PJ equip
		    select @CD_CT_CONTABIL = '060210000040'	
	  	  else
		  if @CD_CT_CONTABIL = '6410300271'		--comissões
		    select @CD_CT_CONTABIL = '060510000019'	
	  	  else
		  if @CD_CT_CONTABIL = '6410400101'		--contr social FGTS
		    select @CD_CT_CONTABIL = '060520000010'	
	  	  else
		  if @CD_CT_CONTABIL = '6510200029'		--variações monetárias
		    select @CD_CT_CONTABIL = '060020000001'	
	  	  else
	  	  begin
		    select @CD_CT_CONTABIL = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
		    from INDAIA15.CIN2007.dbo.conversao
		    where
		      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL
		  end
	  end

	  if @cd_ct_contabil_pis <> '' 
	  begin

		  if @CD_CT_CONTABIL_PIS = '1120101891'	--U&Mineração
		    select @CD_CT_CONTABIL_PIS = '010100000140' 
		  else	
		  if @CD_CT_CONTABIL_PIS = '1120102090'	 --CPW
		    select @CD_CT_CONTABIL_PIS = '010100000148'
		  else	
		  if @CD_CT_CONTABIL_PIS = '1120105056'		--ficap
		    select @CD_CT_CONTABIL_PIS = '010100000110'
	          else 
		  if @CD_CT_CONTABIL_PIS = '1120105161'		--paulo sergio
		    select @CD_CT_CONTABIL_PIS = '010100000156'
		  else
		  if @CD_CT_CONTABIL_PIS = '1120105323'		--3m do brasil 
		    select @CD_CT_CONTABIL_PIS = '010100000158'
		  else
		  if @CD_CT_CONTABIL_PIS = '1120300037'		--cristiano
		    select @CD_CT_CONTABIL_PIS = '010140000031'
		  else
		  if @CD_CT_CONTABIL_PIS = '1120300151'		--angela
		    select @CD_CT_CONTABIL_PIS = '010140000066'	
		  else
		  if @CD_CT_CONTABIL_PIS = '1120300509'		--santos
		    select @CD_CT_CONTABIL_PIS = '010140000000'	
		  else
		  if @CD_CT_CONTABIL_PIS = '1120302111'		--ronaldo wanderley
		    select @CD_CT_CONTABIL_PIS = '010140019020'
		  else
		  if @CD_CT_CONTABIL_PIS = '1120302455'		--claudia lucia lopes
		    select @CD_CT_CONTABIL_PIS = '010140000267'
	  	  else
		  if @CD_CT_CONTABIL_PIS = '1120302528'		--marcelo eduardo
		    select @CD_CT_CONTABIL_PIS = '010140000276'
		  else
		  if @CD_CT_CONTABIL_PIS = '1120400503'		--adiantamentos 13 salário
		    select @CD_CT_CONTABIL_PIS = '010150000000'
		  else
		  if @CD_CT_CONTABIL_PIS = '1120401186'		--diogo gomes de souza
		    select @CD_CT_CONTABIL_PIS = '010150000219'
		  else
		  if @CD_CT_CONTABIL_PIS = '1120402158'		--claudia lucia lopes
		    select @CD_CT_CONTABIL_PIS = '010150000267'
		  else
		  if @CD_CT_CONTABIL_PIS = '1120402611'		--marcelo eduardo
		    select @CD_CT_CONTABIL_PIS = '010150000276'
		  else
		  if @CD_CT_CONTABIL_PIS = '1120805058'		--ar log e desemb
		    select @CD_CT_CONTABIL_PIS = '010130000008'
		  else
		  if @CD_CT_CONTABIL_PIS = '1121100368'		--transf internas
		    select @CD_CT_CONTABIL_PIS = '020160000001'
		  else
		  if @CD_CT_CONTABIL_PIS = '1121401368'		--Fermavi Eletroquimica
		    select @CD_CT_CONTABIL_PIS = '010120000075'
	  	  else
		  if @CD_CT_CONTABIL_PIS = '2110100222'		--clipper
		    select @CD_CT_CONTABIL_PIS = '020000000007'
		  else
		  if @CD_CT_CONTABIL_PIS = '2111300063'		--valores a reembolsar
		    select @CD_CT_CONTABIL_PIS = '020110010005'
		  else
		  if @CD_CT_CONTABIL_PIS = '2111400823'		--energia eletricia
		    select @CD_CT_CONTABIL_PIS = '020000000278'	
		  else
		  if @CD_CT_CONTABIL_PIS = '6210100031'		--abatimentos NVOCC
		    select @CD_CT_CONTABIL_PIS = '060120000001'	
		  else
		  if @CD_CT_CONTABIL_PIS = '6210100040'		--abatimentos diversos
		    select @CD_CT_CONTABIL_PIS = '060120000003'	
		  else
		  if @CD_CT_CONTABIL_PIS = '6210100058'		--abatimentos logistica	
		    select @CD_CT_CONTABIL_PIS = '060120000002'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6310100076'		--despesas com veículos
		    select @CD_CT_CONTABIL_PIS = '060200000008'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410100183'		--honorários PF
		    select @CD_CT_CONTABIL_PIS = '060510000023'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410100426'		--desp com confraternização
		    select @CD_CT_CONTABIL_PIS = '060550000120'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410100582'		--leasing
		    select @CD_CT_CONTABIL_PIS = '060210000132'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410100647'		--despesas com combustíveis
		    select @CD_CT_CONTABIL_PIS = '060210000018'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410100663'		--honorários profiss. PJ
		    select @CD_CT_CONTABIL_PIS = '060550000103'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410100671'		--arrendam mercantil 
		    select @CD_CT_CONTABIL_PIS = '060210000104'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410100710'		--alugueis PJ
		    select @CD_CT_CONTABIL_PIS = '060550000139'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410100728'		--alugueis PJ equip
		    select @CD_CT_CONTABIL_PIS = '060210000040'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410300271'		--comissões
		    select @CD_CT_CONTABIL_PIS = '060510000019'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6410400101'		--contr social FGTS
		    select @CD_CT_CONTABIL_PIS = '060520000010'	
	  	  else
		  if @CD_CT_CONTABIL_PIS = '6510200029'		--variações monetárias
		    select @CD_CT_CONTABIL_PIS = '060020000001'	
	  	  else
	  	  begin
		    select @CD_CT_CONTABIL_PIS = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
		    from INDAIA15.CIN2007.dbo.conversao
		    where
		      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL_PIS
		  end	
	  end

	  UPDATE TEMPRESA_NAC
	  SET    cd_ct_contabil = @cd_ct_contabil,
	  	 cd_ct_contabil_pis = @cd_ct_contabil_pis
	  WHERE  
	    CD_EMPRESA = @codigo
	
	  FETCH C_EMPRESA INTO @codigo, @cd_ct_contabil, @cd_ct_contabil_pis 
	END
	
	
	CLOSE C_EMPRESA
	DEALLOCATE C_EMPRESA
end	
else if @tipo = 6 
begin

	DECLARE C_CONTAS CURSOR FOR
	  select  CD_CT_CONTABIL, CD_CT_CONTABIL_FLUXO 
	  from  TCT_CONTABIL 
	  WHERE 
	    ANO_CONTA = 2007  and ISNULL(CD_CT_CONTABIL_FLUXO,'') <> ''
	OPEN C_CONTAS
	
	FETCH C_CONTAS INTO @CD_CT_CONTABIL, @CD_CT_CONTABIL_FLUXO 
	
	WHILE @@fetch_status = 0
	BEGIN

	  UPDATE TCT_CONTABIL
	  SET    
	    CD_CT_CONTABIL_FLUXO  = '00' + @CD_CT_CONTABIL_FLUXO
	  WHERE  
	    CD_CT_CONTABIL = (select '0' + convert(char,convert(decimal(16,0),PLCCONTA)) CONTA
		              from INDAIA15.CIN2007.dbo.conversao
			      where
			        convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL )
	  FETCH C_CONTAS INTO @CD_CT_CONTABIL, @CD_CT_CONTABIL_FLUXO 
	END
	
	
	CLOSE C_CONTAS
	DEALLOCATE C_CONTAS


end
else if @tipo = 7 
begin

	DECLARE C_CPAGAR CURSOR FOR

	select B.CODIGO, B.CD_CT_CONTABIL   
	FROM TCTAAPAGAR A, TCTAAPAGAR_LANC B
	where
	  B.DT_CTAAPAGAR = A.DT_CTAAPAGAR and 
	  B.NR_CTAAPAGAR = A.NR_CTAAPAGAR and 
	  B.CD_UNID_NEG  = A.CD_UNID_NEG and  
	  A.DT_VENCIMENTO between convert(datetime,'01/01/2008',103) and convert(datetime,'31/12/2008',103)
	  and LEN(CD_CT_CONTABIL) <= 10 and CD_CT_CONTABIL <> 0

	OPEN C_CPAGAR
	
	FETCH C_CPAGAR INTO @CODIGO, @CD_CT_CONTABIL
	
	WHILE @@fetch_status = 0
	BEGIN

	  if @CD_CT_CONTABIL = '1120101891'	--U&Mineração
	    select @CD_CT_CONTABIL = '010100000140' 
	  else	
	  if @CD_CT_CONTABIL = '1120102090'	 --CPW
	    select @CD_CT_CONTABIL = '010100000148'
	  else	
	  if @CD_CT_CONTABIL = '1120105056'		--ficap
	    select @CD_CT_CONTABIL = '010100000110'
          else 
	  if @CD_CT_CONTABIL = '1120105161'		--paulo sergio
	    select @CD_CT_CONTABIL = '010100000156'
	  else
	  if @CD_CT_CONTABIL = '1120105323'		--3m do brasil 
	    select @CD_CT_CONTABIL = '010100000158'
	  else
	  if @CD_CT_CONTABIL = '1120300037'		--cristiano
	    select @CD_CT_CONTABIL = '010140000031'
	  else
	  if @CD_CT_CONTABIL = '1120300151'		--angela
	    select @CD_CT_CONTABIL = '010140000066'	
	  else
	  if @CD_CT_CONTABIL = '1120300509'		--santos
	    select @CD_CT_CONTABIL = '010140000000'	
	  else
	  if @CD_CT_CONTABIL = '1120302111'		--ronaldo wanderley
	    select @CD_CT_CONTABIL = '010140019020'
	  else
	  if @CD_CT_CONTABIL = '1120302455'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010140000267'
  	  else
	  if @CD_CT_CONTABIL = '1120302528'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010140000276'
	  else
	  if @CD_CT_CONTABIL = '1120400503'		--adiantamentos 13 salário
	    select @CD_CT_CONTABIL = '010150000000'
	  else
	  if @CD_CT_CONTABIL = '1120401186'		--diogo gomes de souza
	    select @CD_CT_CONTABIL = '010150000219'
	  else
	  if @CD_CT_CONTABIL = '1120402158'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010150000267'
	  else
	  if @CD_CT_CONTABIL = '1120402611'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010150000276'
	  else
	  if @CD_CT_CONTABIL = '1120805058'		--ar log e desemb
	    select @CD_CT_CONTABIL = '010130000008'
	  else
	  if @CD_CT_CONTABIL = '1121100368'		--transf internas
	    select @CD_CT_CONTABIL = '020160000001'
	  else
	  if @CD_CT_CONTABIL = '1121401368'		--Fermavi Eletroquimica
	    select @CD_CT_CONTABIL = '010120000075'
  	  else
	  if @CD_CT_CONTABIL = '2110100222'		--clipper
	    select @CD_CT_CONTABIL = '020000000007'
	  else
	  if @CD_CT_CONTABIL = '2111300063'		--valores a reembolsar
	    select @CD_CT_CONTABIL = '020110010005'
	  else
	  if @CD_CT_CONTABIL = '2111400823'		--energia eletricia
	    select @CD_CT_CONTABIL = '020000000278'	
	  else
	  if @CD_CT_CONTABIL = '6210100031'		--abatimentos NVOCC
	    select @CD_CT_CONTABIL = '060120000001'	
	  else
	  if @CD_CT_CONTABIL = '6210100040'		--abatimentos diversos
	    select @CD_CT_CONTABIL = '060120000003'	
	  else
	  if @CD_CT_CONTABIL = '6210100058'		--abatimentos logistica	
	    select @CD_CT_CONTABIL = '060120000002'	
  	  else
	  if @CD_CT_CONTABIL = '6310100076'		--despesas com veículos
	    select @CD_CT_CONTABIL = '060200000008'	
  	  else
	  if @CD_CT_CONTABIL = '6410100183'		--honorários PF
	    select @CD_CT_CONTABIL = '060510000023'	
  	  else
	  if @CD_CT_CONTABIL = '6410100426'		--desp com confraternização
	    select @CD_CT_CONTABIL = '060550000120'	
  	  else
	  if @CD_CT_CONTABIL = '6410100582'		--leasing
	    select @CD_CT_CONTABIL = '060210000132'	
  	  else
	  if @CD_CT_CONTABIL = '6410100647'		--despesas com combustíveis
	    select @CD_CT_CONTABIL = '060210000018'	
  	  else
	  if @CD_CT_CONTABIL = '6410100663'		--honorários profiss. PJ
	    select @CD_CT_CONTABIL = '060550000103'	
  	  else
	  if @CD_CT_CONTABIL = '6410100671'		--arrendam mercantil 
	    select @CD_CT_CONTABIL = '060210000104'	
  	  else
	  if @CD_CT_CONTABIL = '6410100710'		--alugueis PJ
	    select @CD_CT_CONTABIL = '060550000139'	
  	  else
	  if @CD_CT_CONTABIL = '6410100728'		--alugueis PJ equip
	    select @CD_CT_CONTABIL = '060210000040'	
  	  else
	  if @CD_CT_CONTABIL = '6410300271'		--comissões
	    select @CD_CT_CONTABIL = '060510000019'	
  	  else
	  if @CD_CT_CONTABIL = '6410400101'		--contr social FGTS
	    select @CD_CT_CONTABIL = '060520000010'	
  	  else
	  if @CD_CT_CONTABIL = '6510200029'		--variações monetárias
	    select @CD_CT_CONTABIL = '060020000001'	
  	  else
  	  begin
	    select @CD_CT_CONTABIL = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
	    from INDAIA15.CIN2007.dbo.conversao
	    where
	      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL
	  end

	  UPDATE TCTAAPAGAR_LANC
	  SET    cd_ct_contabil =  @CD_CT_CONTABIL
	  WHERE  
	    CODIGO = @codigo 
	
	  FETCH C_CPAGAR INTO @CODIGO, @CD_CT_CONTABIL

	END
	
	
	
	CLOSE C_CPAGAR
	DEALLOCATE C_CPAGAR


end
else if @tipo = 8 
begin
	DECLARE C_CAIXA CURSOR FOR

		SELECT CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_CT_CONTABIL, CD_CT_CONTABIL_CTAAPAGAR 
		FROM TCAIXA
		WHERE
		  DT_MOVIMENTO  BETWEEN CONVERT(DATETIME, '01/01/2008',103) AND CONVERT(DATETIME, '31/01/2008',103) and
  			 ISNULL(CD_CT_CONTABIL,'') <> '' and  len(CD_CT_CONTABIL) < 12 and CD_CT_CONTABIL <> 0
	OPEN C_CAIXA

	FETCH C_CAIXA INTO @CD_COLIGADA, @DT_MOVIMENTO, @NR_LANCAMENTO, @CD_CT_CONTABIL, @CD_CT_CONTABIL_CTAAPAGAR 
	
	WHILE @@fetch_status = 0
	BEGIN

	  if @CD_CT_CONTABIL = '1120101891'	--U&Mineração
	    select @CD_CT_CONTABIL = '010100000140' 
	  else	
	  if @CD_CT_CONTABIL = '1120102090'	 --CPW
	    select @CD_CT_CONTABIL = '010100000148'
	  else	
	  if @CD_CT_CONTABIL = '1120105056'		--ficap
	    select @CD_CT_CONTABIL = '010100000110'
          else 
	  if @CD_CT_CONTABIL = '1120105161'		--paulo sergio
	    select @CD_CT_CONTABIL = '010100000156'
	  else
	  if @CD_CT_CONTABIL = '1120105323'		--3m do brasil 
	    select @CD_CT_CONTABIL = '010100000158'
	  else
	  if @CD_CT_CONTABIL = '1120300037'		--cristiano
	    select @CD_CT_CONTABIL = '010140000031'
	  else
	  if @CD_CT_CONTABIL = '1120300151'		--angela
	    select @CD_CT_CONTABIL = '010140000066'	
	  else
	  if @CD_CT_CONTABIL = '1120300509'		--santos
	    select @CD_CT_CONTABIL = '010140000000'	
	  else
	  if @CD_CT_CONTABIL = '1120302111'		--ronaldo wanderley
	    select @CD_CT_CONTABIL = '010140019020'
	  else
	  if @CD_CT_CONTABIL = '1120302455'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010140000267'
  	  else
	  if @CD_CT_CONTABIL = '1120302528'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010140000276'
	  else
	  if @CD_CT_CONTABIL = '1120400503'		--adiantamentos 13 salário
	    select @CD_CT_CONTABIL = '010150000000'
	  else
	  if @CD_CT_CONTABIL = '1120401186'		--diogo gomes de souza
	    select @CD_CT_CONTABIL = '010150000219'
	  else
	  if @CD_CT_CONTABIL = '1120402158'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010150000267'
	  else
	  if @CD_CT_CONTABIL = '1120402611'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010150000276'
	  else
	  if @CD_CT_CONTABIL = '1120805058'		--ar log e desemb
	    select @CD_CT_CONTABIL = '010130000008'
	  else
	  if @CD_CT_CONTABIL = '1121100368'		--transf internas
	    select @CD_CT_CONTABIL = '020160000001'
	  else
	  if @CD_CT_CONTABIL = '1121401368'		--Fermavi Eletroquimica
	    select @CD_CT_CONTABIL = '010120000075'
  	  else
	  if @CD_CT_CONTABIL = '2110100222'		--clipper
	    select @CD_CT_CONTABIL = '020000000007'
	  else
	  if @CD_CT_CONTABIL = '2111300063'		--valores a reembolsar
	    select @CD_CT_CONTABIL = '020110010005'
	  else
	  if @CD_CT_CONTABIL = '2111400823'		--energia eletricia
	    select @CD_CT_CONTABIL = '020000000278'	
	  else
	  if @CD_CT_CONTABIL = '6210100031'		--abatimentos NVOCC
	    select @CD_CT_CONTABIL = '060120000001'	
	  else
	  if @CD_CT_CONTABIL = '6210100040'		--abatimentos diversos
	    select @CD_CT_CONTABIL = '060120000003'	
	  else
	  if @CD_CT_CONTABIL = '6210100058'		--abatimentos logistica	
	    select @CD_CT_CONTABIL = '060120000002'	
  	  else
	  if @CD_CT_CONTABIL = '6310100076'		--despesas com veículos
	    select @CD_CT_CONTABIL = '060200000008'	
  	  else
	  if @CD_CT_CONTABIL = '6410100183'		--honorários PF
	    select @CD_CT_CONTABIL = '060510000023'	
  	  else
	  if @CD_CT_CONTABIL = '6410100426'		--desp com confraternização
	    select @CD_CT_CONTABIL = '060550000120'	
  	  else
	  if @CD_CT_CONTABIL = '6410100582'		--leasing
	    select @CD_CT_CONTABIL = '060210000132'	
  	  else
	  if @CD_CT_CONTABIL = '6410100647'		--despesas com combustíveis
	    select @CD_CT_CONTABIL = '060210000018'	
  	  else
	  if @CD_CT_CONTABIL = '6410100663'		--honorários profiss. PJ
	    select @CD_CT_CONTABIL = '060550000103'	
  	  else
	  if @CD_CT_CONTABIL = '6410100671'		--arrendam mercantil 
	    select @CD_CT_CONTABIL = '060210000104'	
  	  else
	  if @CD_CT_CONTABIL = '6410100710'		--alugueis PJ
	    select @CD_CT_CONTABIL = '060550000139'	
  	  else
	  if @CD_CT_CONTABIL = '6410100728'		--alugueis PJ equip
	    select @CD_CT_CONTABIL = '060210000040'	
  	  else
	  if @CD_CT_CONTABIL = '6410300271'		--comissões
	    select @CD_CT_CONTABIL = '060510000019'	
  	  else
	  if @CD_CT_CONTABIL = '6410400101'		--contr social FGTS
	    select @CD_CT_CONTABIL = '060520000010'	
  	  else
	  if @CD_CT_CONTABIL = '6510200029'		--variações monetárias
	    select @CD_CT_CONTABIL = '060020000001'	
  	  else
  	  begin
	    select @CD_CT_CONTABIL = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
	    from INDAIA15.CIN2007.dbo.conversao
	    where
	      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL
	  end


---------------------------------------------------------------------------------------

	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120101891'	--U&Mineração
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000140' 
	  else	
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120102090'	 --CPW
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000148'
	  else	
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120105056'		--ficap
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000110'
          else 
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120105161'		--paulo sergio
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000156'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120105323'		--3m do brasil 
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000158'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120300037'		--cristiano
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000031'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120300151'		--angela
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000066'	
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120300509'		--santos
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000000'	
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120302111'		--ronaldo wanderley
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010140019020'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120302455'		--claudia lucia lopes
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000267'
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120302528'		--marcelo eduardo
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000276'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120400503'		--adiantamentos 13 salário
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010150000000'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120401186'		--diogo gomes de souza
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010150000219'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120402158'		--claudia lucia lopes
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010150000267'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120402611'		--marcelo eduardo
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010150000276'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1120805058'		--ar log e desemb
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010130000008'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1121100368'		--transf internas
	    select @CD_CT_CONTABIL_CTAAPAGAR = '020160000001'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '1121401368'		--Fermavi Eletroquimica
	    select @CD_CT_CONTABIL_CTAAPAGAR = '010120000075'
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '2110100222'		--clipper
	    select @CD_CT_CONTABIL_CTAAPAGAR = '020000000007'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '2111300063'		--valores a reembolsar
	    select @CD_CT_CONTABIL_CTAAPAGAR = '020110010005'
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '2111400823'		--energia eletricia
	    select @CD_CT_CONTABIL_CTAAPAGAR = '020000000278'	
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6210100031'		--abatimentos NVOCC
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060120000001'	
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6210100040'		--abatimentos diversos
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060120000003'	
	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6210100058'		--abatimentos logistica	
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060120000002'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6310100076'		--despesas com veículos
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060200000008'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100183'		--honorários PF
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060510000023'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100426'		--desp com confraternização
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060550000120'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100582'		--leasing
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060210000132'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100647'		--despesas com combustíveis
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060210000018'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100663'		--honorários profiss. PJ
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060550000103'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100671'		--arrendam mercantil 
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060210000104'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100710'		--alugueis PJ
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060550000139'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100728'		--alugueis PJ equip
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060210000040'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410300271'		--comissões
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060510000019'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6410400101'		--contr social FGTS
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060520000010'	
  	  else
	  if @CD_CT_CONTABIL_CTAAPAGAR = '6510200029'		--variações monetárias
	    select @CD_CT_CONTABIL_CTAAPAGAR = '060020000001'	
  	  else
  	  begin
	    select @CD_CT_CONTABIL_CTAAPAGAR = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
	    from INDAIA15.CIN2007.dbo.conversao
	    where
	      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL_CTAAPAGAR
	  end


	  UPDATE TCAIXA
	  SET    cd_ct_contabil 	  =  @cd_ct_contabil,  
		 CD_CT_CONTABIL_CTAAPAGAR =  @CD_CT_CONTABIL_CTAAPAGAR
	  WHERE  
	    CD_COLIGADA = @CD_COLIGADA   AND 
	    DT_MOVIMENTO = @DT_MOVIMENTO AND 
            NR_LANCAMENTO = @NR_LANCAMENTO
	
	  FETCH C_CAIXA INTO @CD_COLIGADA, @DT_MOVIMENTO, @NR_LANCAMENTO, @CD_CT_CONTABIL, @CD_CT_CONTABIL_CTAAPAGAR 
	END
	CLOSE C_CAIXA
	DEALLOCATE C_CAIXA

end
else 
if @Tipo = 9
begin

	select 	CD_CT_CAIXA,CD_CT_CH_PAGTOS_DIV, CD_CT_FAT_A_CLASSIF, CD_CT_LP_SALDUS, CD_CT_CTAAPAGAR,	CD_CT_IR,			
		CD_CT_INSS, CD_CT_CONTABIL_JUROS, CD_CT_CONTABIL_DESCONTO, CD_CT_CTAARECEBER
	from TPARAMETROS

	update TPARAMETROS set CD_CT_CAIXA = (select '0' + convert(char,convert(decimal(16,0),PLCCONTA)) CONTA
		  			      from INDAIA15.CIN2007.dbo.conversao
				    	      where
				      		convert(char,convert(decimal(16,0),PLCCONTAANT)) = CD_CT_CAIXA)

	update TPARAMETROS set CD_CT_CH_PAGTOS_DIV = (select '0' + convert(char,convert(decimal(16,0),PLCCONTA)) CONTA
		  			      from INDAIA15.CIN2007.dbo.conversao
				    	      where
				      		convert(char,convert(decimal(16,0),PLCCONTAANT)) = CD_CT_CH_PAGTOS_DIV)

	update TPARAMETROS set CD_CT_FAT_A_CLASSIF = (select '0' + convert(char,convert(decimal(16,0),PLCCONTA)) CONTA
		  			      from INDAIA15.CIN2007.dbo.conversao
				    	      where
				      		convert(char,convert(decimal(16,0),PLCCONTAANT)) = CD_CT_FAT_A_CLASSIF)

	update TPARAMETROS set CD_CT_LP_SALDUS = (select '0' + convert(char,convert(decimal(16,0),PLCCONTA)) CONTA
		  			      from INDAIA15.CIN2007.dbo.conversao
				    	      where
				      		convert(char,convert(decimal(16,0),PLCCONTAANT)) = CD_CT_LP_SALDUS)


end
else if @Tipo = 10 
begin
	DECLARE C_CLIENTECONTA CURSOR FOR

	  select CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_CT_CONTABIL , CD_CT_CONTABIL
	  from TCLIENTE_CONTA_CONTABIL(nolock)
	  where 
 	    ISNULL(CD_CT_CONTABIL,'') <> ''  and CD_CT_CONTABIL in (
  		select convert(char,convert(decimal(16,0),PLCCONTAANT)) 
	    		from INDAIA15.CIN2007.dbo.conversao)

	OPEN C_CLIENTECONTA
	
	FETCH C_CLIENTECONTA INTO @CD_CLIENTE, @CD_UNID_NEG, @CD_PRODUTO, @CD_CT_CONTABIL, @cd_ct_contabilTMP
	
	WHILE @@fetch_status = 0
	BEGIN
	  if @CD_CT_CONTABIL = '1120101891'	--U&Mineração
	    select @CD_CT_CONTABIL = '010100000140' 
	  else	
	  if @CD_CT_CONTABIL = '1120102090'	 --CPW
	    select @CD_CT_CONTABIL = '010100000148'
	  else	
	  if @CD_CT_CONTABIL = '1120105056'		--ficap
	    select @CD_CT_CONTABIL = '010100000110'
          else 
	  if @CD_CT_CONTABIL = '1120105161'		--paulo sergio
	    select @CD_CT_CONTABIL = '010100000156'
	  else
	  if @CD_CT_CONTABIL = '1120105323'		--3m do brasil 
	    select @CD_CT_CONTABIL = '010100000158'
	  else
	  if @CD_CT_CONTABIL = '1120300037'		--cristiano
	    select @CD_CT_CONTABIL = '010140000031'
	  else
	  if @CD_CT_CONTABIL = '1120300151'		--angela
	    select @CD_CT_CONTABIL = '010140000066'	
	  else
	  if @CD_CT_CONTABIL = '1120300509'		--santos
	    select @CD_CT_CONTABIL = '010140000000'	
	  else
	  if @CD_CT_CONTABIL = '1120302111'		--ronaldo wanderley
	    select @CD_CT_CONTABIL = '010140019020'
	  else
	  if @CD_CT_CONTABIL = '1120302455'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010140000267'
  	  else
	  if @CD_CT_CONTABIL = '1120302528'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010140000276'
	  else
	  if @CD_CT_CONTABIL = '1120400503'		--adiantamentos 13 salário
	    select @CD_CT_CONTABIL = '010150000000'
	  else
	  if @CD_CT_CONTABIL = '1120401186'		--diogo gomes de souza
	    select @CD_CT_CONTABIL = '010150000219'
	  else
	  if @CD_CT_CONTABIL = '1120402158'		--claudia lucia lopes
	    select @CD_CT_CONTABIL = '010150000267'
	  else
	  if @CD_CT_CONTABIL = '1120402611'		--marcelo eduardo
	    select @CD_CT_CONTABIL = '010150000276'
	  else
	  if @CD_CT_CONTABIL = '1120805058'		--ar log e desemb
	    select @CD_CT_CONTABIL = '010130000008'
	  else
	  if @CD_CT_CONTABIL = '1121100368'		--transf internas
	    select @CD_CT_CONTABIL = '020160000001'
	  else
	  if @CD_CT_CONTABIL = '1121401368'		--Fermavi Eletroquimica
	    select @CD_CT_CONTABIL = '010120000075'
  	  else
	  if @CD_CT_CONTABIL = '2110100222'		--clipper
	    select @CD_CT_CONTABIL = '020000000007'
	  else
	  if @CD_CT_CONTABIL = '2111300063'		--valores a reembolsar
	    select @CD_CT_CONTABIL = '020110010005'
	  else
	  if @CD_CT_CONTABIL = '2111400823'		--energia eletricia
	    select @CD_CT_CONTABIL = '020000000278'	
	  else
	  if @CD_CT_CONTABIL = '6210100031'		--abatimentos NVOCC
	    select @CD_CT_CONTABIL = '060120000001'	
	  else
	  if @CD_CT_CONTABIL = '6210100040'		--abatimentos diversos
	    select @CD_CT_CONTABIL = '060120000003'	
	  else
	  if @CD_CT_CONTABIL = '6210100058'		--abatimentos logistica	
	    select @CD_CT_CONTABIL = '060120000002'	
  	  else
	  if @CD_CT_CONTABIL = '6310100076'		--despesas com veículos
	    select @CD_CT_CONTABIL = '060200000008'	
  	  else
	  if @CD_CT_CONTABIL = '6410100183'		--honorários PF
	    select @CD_CT_CONTABIL = '060510000023'	
  	  else
	  if @CD_CT_CONTABIL = '6410100426'		--desp com confraternização
	    select @CD_CT_CONTABIL = '060550000120'	
  	  else
	  if @CD_CT_CONTABIL = '6410100582'		--leasing
	    select @CD_CT_CONTABIL = '060210000132'	
  	  else
	  if @CD_CT_CONTABIL = '6410100647'		--despesas com combustíveis
	    select @CD_CT_CONTABIL = '060210000018'	
  	  else
	  if @CD_CT_CONTABIL = '6410100663'		--honorários profiss. PJ
	    select @CD_CT_CONTABIL = '060550000103'	
  	  else
	  if @CD_CT_CONTABIL = '6410100671'		--arrendam mercantil 
	    select @CD_CT_CONTABIL = '060210000104'	
  	  else
	  if @CD_CT_CONTABIL = '6410100710'		--alugueis PJ
	    select @CD_CT_CONTABIL = '060550000139'	
  	  else
	  if @CD_CT_CONTABIL = '6410100728'		--alugueis PJ equip
	    select @CD_CT_CONTABIL = '060210000040'	
  	  else
	  if @CD_CT_CONTABIL = '6410300271'		--comissões
	    select @CD_CT_CONTABIL = '060510000019'	
  	  else
	  if @CD_CT_CONTABIL = '6410400101'		--contr social FGTS
	    select @CD_CT_CONTABIL = '060520000010'	
  	  else
	  if @CD_CT_CONTABIL = '6510200029'		--variações monetárias
	    select @CD_CT_CONTABIL = '060020000001'	
  	  else
  	  begin
	    select @CD_CT_CONTABIL = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
	    from INDAIA15.CIN2007.dbo.conversao
	    where
	      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL
	  end



	  UPDATE TCLIENTE_CONTA_CONTABIL
	  SET    cd_ct_contabil =  @CD_CT_CONTABIL
	  WHERE  
	    CD_CLIENTE     = @CD_CLIENTE and 
	    CD_UNID_NEG    = @CD_UNID_NEG and 
	    CD_PRODUTO     = @CD_PRODUTO and
	    CD_CT_CONTABIL = @cd_ct_contabilTMP
	
	  FETCH C_CLIENTECONTA INTO @CD_CLIENTE, @CD_UNID_NEG, @CD_PRODUTO, @CD_CT_CONTABIL, @cd_ct_contabilTMP
	END



	CLOSE C_CLIENTECONTA
	DEALLOCATE C_CLIENTECONTA

end
else if @tipo = 11 
begin

	DECLARE C_ADM CURSOR FOR
	  SELECT 
		CD_UNID_NEG, DT_LANCTO, CD_CT_CONTABIL, CD_CT_CONTABIL, TP_NATUREZA, NR_LANCAMENTO, 
		ISNULL(CD_CT_CONTABIL_CTAAPAGAR,'') CD_CT_CONTABIL_CTAAPAGAR
	  FROM   TADM
	OPEN C_ADM
	
	FETCH C_ADM INTO @CD_UNID_NEG, @DT_MOVIMENTO, @CD_CT_CONTABIL, @cd_ct_contabilTMP, @TP_NATUREZA, @NR_LANCAMENTO, @CD_CT_CONTABIL_CTAAPAGAR
	
	WHILE @@fetch_status = 0
	BEGIN
	  if @CD_CT_CONTABIL <> '' 
	  BEGIN
		  if @CD_CT_CONTABIL = '1120101891'	--U&Mineração
		    select @CD_CT_CONTABIL = '010100000140' 
		  else	
		  if @CD_CT_CONTABIL = '1120102090'	 --CPW
		    select @CD_CT_CONTABIL = '010100000148'
		  else	
		  if @CD_CT_CONTABIL = '1120105056'		--ficap
		    select @CD_CT_CONTABIL = '010100000110'
	          else 
		  if @CD_CT_CONTABIL = '1120105161'		--paulo sergio
		    select @CD_CT_CONTABIL = '010100000156'
		  else
		  if @CD_CT_CONTABIL = '1120105323'		--3m do brasil 
		    select @CD_CT_CONTABIL = '010100000158'
		  else
		  if @CD_CT_CONTABIL = '1120300037'		--cristiano
		    select @CD_CT_CONTABIL = '010140000031'
		  else
		  if @CD_CT_CONTABIL = '1120300151'		--angela
		    select @CD_CT_CONTABIL = '010140000066'	
		  else
		  if @CD_CT_CONTABIL = '1120300509'		--santos
		    select @CD_CT_CONTABIL = '010140000000'	
		  else
		  if @CD_CT_CONTABIL = '1120302111'		--ronaldo wanderley
		    select @CD_CT_CONTABIL = '010140019020'
		  else
		  if @CD_CT_CONTABIL = '1120302455'		--claudia lucia lopes
		    select @CD_CT_CONTABIL = '010140000267'
	  	  else
		  if @CD_CT_CONTABIL = '1120302528'		--marcelo eduardo
		    select @CD_CT_CONTABIL = '010140000276'
		  else
		  if @CD_CT_CONTABIL = '1120400503'		--adiantamentos 13 salário
		    select @CD_CT_CONTABIL = '010150000000'
		  else
		  if @CD_CT_CONTABIL = '1120401186'		--diogo gomes de souza
		    select @CD_CT_CONTABIL = '010150000219'
		  else
		  if @CD_CT_CONTABIL = '1120402158'		--claudia lucia lopes
		    select @CD_CT_CONTABIL = '010150000267'
		  else
		  if @CD_CT_CONTABIL = '1120402611'		--marcelo eduardo
		    select @CD_CT_CONTABIL = '010150000276'
		  else
		  if @CD_CT_CONTABIL = '1120805058'		--ar log e desemb
		    select @CD_CT_CONTABIL = '010130000008'
		  else
		  if @CD_CT_CONTABIL = '1121100368'		--transf internas
		    select @CD_CT_CONTABIL = '020160000001'
		  else
		  if @CD_CT_CONTABIL = '1121401368'		--Fermavi Eletroquimica
		    select @CD_CT_CONTABIL = '010120000075'
	  	  else
		  if @CD_CT_CONTABIL = '2110100222'		--clipper
		    select @CD_CT_CONTABIL = '020000000007'
		  else
		  if @CD_CT_CONTABIL = '2111300063'		--valores a reembolsar
		    select @CD_CT_CONTABIL = '020110010005'
		  else
		  if @CD_CT_CONTABIL = '2111400823'		--energia eletricia
		    select @CD_CT_CONTABIL = '020000000278'	
		  else
		  if @CD_CT_CONTABIL = '6210100031'		--abatimentos NVOCC
		    select @CD_CT_CONTABIL = '060120000001'	
		  else
		  if @CD_CT_CONTABIL = '6210100040'		--abatimentos diversos
		    select @CD_CT_CONTABIL = '060120000003'	
		  else
		  if @CD_CT_CONTABIL = '6210100058'		--abatimentos logistica	
		    select @CD_CT_CONTABIL = '060120000002'	
	  	  else
		  if @CD_CT_CONTABIL = '6310100076'		--despesas com veículos
		    select @CD_CT_CONTABIL = '060200000008'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100183'		--honorários PF
		    select @CD_CT_CONTABIL = '060510000023'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100426'		--desp com confraternização
		    select @CD_CT_CONTABIL = '060550000120'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100582'		--leasing
		    select @CD_CT_CONTABIL = '060210000132'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100647'		--despesas com combustíveis
		    select @CD_CT_CONTABIL = '060210000018'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100663'		--honorários profiss. PJ
		    select @CD_CT_CONTABIL = '060550000103'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100671'		--arrendam mercantil 
		    select @CD_CT_CONTABIL = '060210000104'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100710'		--alugueis PJ
		    select @CD_CT_CONTABIL = '060550000139'	
	  	  else
		  if @CD_CT_CONTABIL = '6410100728'		--alugueis PJ equip
		    select @CD_CT_CONTABIL = '060210000040'	
	  	  else
		  if @CD_CT_CONTABIL = '6410300271'		--comissões
		    select @CD_CT_CONTABIL = '060510000019'	
	  	  else
		  if @CD_CT_CONTABIL = '6410400101'		--contr social FGTS
		    select @CD_CT_CONTABIL = '060520000010'	
	  	  else
		  if @CD_CT_CONTABIL = '6510200029'		--variações monetárias
		    select @CD_CT_CONTABIL = '060020000001'	
	  	  else
	  	  begin
		    select @CD_CT_CONTABIL = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
		    from INDAIA15.CIN2007.dbo.conversao
		    where
		      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL
		  end
	  end

	  if @CD_CT_CONTABIL_CTAAPAGAR <> '' 
	  begin

		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120101891'	--U&Mineração
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000140' 
		  else	
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120102090'	 --CPW
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000148'
		  else	
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120105056'		--ficap
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000110'
	          else 
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120105161'		--paulo sergio
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000156'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120105323'		--3m do brasil 
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010100000158'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120300037'		--cristiano
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000031'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120300151'		--angela
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000066'	
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120300509'		--santos
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000000'	
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120302111'		--ronaldo wanderley
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010140019020'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120302455'		--claudia lucia lopes
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000267'
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120302528'		--marcelo eduardo
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010140000276'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120400503'		--adiantamentos 13 salário
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010150000000'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120401186'		--diogo gomes de souza
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010150000219'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120402158'		--claudia lucia lopes
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010150000267'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120402611'		--marcelo eduardo
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010150000276'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1120805058'		--ar log e desemb
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010130000008'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1121100368'		--transf internas
		    select @CD_CT_CONTABIL_CTAAPAGAR = '020160000001'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '1121401368'		--Fermavi Eletroquimica
		    select @CD_CT_CONTABIL_CTAAPAGAR = '010120000075'
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '2110100222'		--clipper
		    select @CD_CT_CONTABIL_CTAAPAGAR = '020000000007'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '2111300063'		--valores a reembolsar
		    select @CD_CT_CONTABIL_CTAAPAGAR = '020110010005'
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '2111400823'		--energia eletricia
		    select @CD_CT_CONTABIL_CTAAPAGAR = '020000000278'	
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6210100031'		--abatimentos NVOCC
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060120000001'	
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6210100040'		--abatimentos diversos
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060120000003'	
		  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6210100058'		--abatimentos logistica	
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060120000002'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6310100076'		--despesas com veículos
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060200000008'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100183'		--honorários PF
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060510000023'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100426'		--desp com confraternização
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060550000120'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100582'		--leasing
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060210000132'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100647'		--despesas com combustíveis
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060210000018'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100663'		--honorários profiss. PJ
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060550000103'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100671'		--arrendam mercantil 
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060210000104'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100710'		--alugueis PJ
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060550000139'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410100728'		--alugueis PJ equip
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060210000040'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410300271'		--comissões
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060510000019'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6410400101'		--contr social FGTS
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060520000010'	
	  	  else
		  if @CD_CT_CONTABIL_CTAAPAGAR = '6510200029'		--variações monetárias
		    select @CD_CT_CONTABIL_CTAAPAGAR = '060020000001'	
	  	  else
	  	  begin
		    select @CD_CT_CONTABIL_CTAAPAGAR = '0' + convert(char,convert(decimal(16,0),PLCCONTA)) 
		    from INDAIA15.CIN2007.dbo.conversao
		    where
		      convert(char,convert(decimal(16,0),PLCCONTAANT)) = @CD_CT_CONTABIL_CTAAPAGAR
		  end	
	  end

	  UPDATE TADM
	  SET    cd_ct_contabil = @cd_ct_contabil,
	  	 CD_CT_CONTABIL_CTAAPAGAR = @CD_CT_CONTABIL_CTAAPAGAR
	  WHERE  
	    CD_UNID_NEG = @CD_UNID_NEG and DT_LANCTO = @DT_MOVIMENTO and 
	    CD_CT_CONTABIL = @cd_ct_contabilTMP and TP_NATUREZA = @TP_NATUREZA and NR_LANCAMENTO = @NR_LANCAMENTO
	
	  FETCH C_ADM INTO @CD_UNID_NEG, @DT_MOVIMENTO, @CD_CT_CONTABIL, @cd_ct_contabilTMP, @TP_NATUREZA, @NR_LANCAMENTO, @CD_CT_CONTABIL_CTAAPAGAR
	END
	
	
	CLOSE C_ADM
	DEALLOCATE C_ADM

end
else if @Tipo = 12
begin


	DECLARE C_ARRUMA CURSOR FOR

		select  CODIGO, CD_RATEIO
		FROM 
		  TCTAAPAGAR_RATEIO A 
		

	OPEN C_ARRUMA
	
	FETCH C_ARRUMA INTO @codigo, @CD_RATEIO 
	
	WHILE @@fetch_status = 0
	BEGIN
	  UPDATE TCTAAPAGAR_LANC set CD_RATEIO = @CD_RATEIO
	  where
  	    CODIGO = @CODIGO and 
	    substring(CD_CT_CONTABIL,1,2) <>  '01' and substring(CD_CT_CONTABIL,1,2) <> '02'

	  FETCH C_ARRUMA INTO @codigo, @CD_RATEIO 
	END
	
	
	CLOSE C_ARRUMA
	DEALLOCATE C_ARRUMA
end	


GO
