USE [BROKER]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
/* CASH FLOW - PREVISÃO DE DI, IMPOSTOS, ARMAZENAGEM, ETC. */
CREATE PROCEDURE [sp_atz_myindaia_cash_flow] AS
/*
SET XACT_ABORT ON
BEGIN TRAN
--*/
print '*Tem que arrumar antes de reativar!!!*'
CREATE TABLE #TMP_CASH_FLOW (
  NR_PROCESSO      char(18),
  NR_REFERENCIA    char(18),
  NR_ITEM_CLIENTE  char(4),
  CD_CLIENTE       char(5),
  CD_INCOTERM      char(3),
  CD_AGENTE        char(4),
  CD_ARMAZEM       char(4),
  CD_MOEDA_MLE     char(3),
  CD_MOEDA_FRETE   char(3),
  TP_FRETE         char(1),
  VL_FRETE_COLLECT decimal(16,2),
  VL_FRETE_PREPAID decimal(16,2),
  VL_SEGURO        decimal(16,2),
  VL_DESPESAS      decimal(16,2),
  VL_TOTAL         decimal(16,2),
  VL_TOTAL_ITEM    decimal(16,2),
  VL_PL_TOTAL      decimal(16,2),
  VL_PL_ITEM       decimal(16,2),
  VL_II_ITEM       decimal(16,2),
  VL_IPI_ITEM      decimal(16,2),
  VL_ICMS_ITEM     decimal(16,2),
  VL_TX_SCX_ITEM   decimal(16,2),
  VL_PIS_ITEM      decimal(16,2),
  VL_COFINS_ITEM   decimal(16,2),
  VL_ALIQUOTA_II   char(10),
  VL_ALIQUOTA_IPI  char(10),
  DT_PREV_NACION   datetime
)

DECLARE
  @nr_processo      char(18),
  @nr_referencia    char(18),
  @nr_item_cliente  char(4),
  @qtd_itens_po     integer,
  @cd_cliente       char(5),
  @cd_incoterm      char(3),
  @cd_agente        char(4),
  @cd_armazem       char(4),
  @cd_moeda_neg     char(3),
  @cd_moeda_frete   char(3),
  @tp_frete         char(1),
  @vl_frete         decimal(16,2),
  @vl_frete_collect decimal(16,2),
  @vl_frete_prepaid decimal(16,2),
  @vl_seguro        decimal(16,2),
  @vl_despesa       decimal(16,2),
  @vl_total         decimal(16,2),
  @vl_total_item    decimal(16,2),
  @vl_merc_real     decimal(16,2),
  @vl_merc_dolar    decimal(16,2),
  @vl_pl_total      decimal(16,2),
  @vl_pl_item       decimal(16,2),
  @vl_cif           decimal(16,2),
  @vl_liberacao_bl  decimal(16,2),
  @vl_siscomex      decimal(16,2),
  @vl_siscomex_item decimal(16,2),
  @vl_aliquota_ii   char(10),
  @vl_aliquota_ipi  char(10),
  @vl_aliq_ii       decimal(16,2),
  @vl_aliq_ipi      decimal(16,2),
  @vl_aliq_pis      decimal(16,2),
  @vl_aliq_cofins   decimal(16,2),
  @vl_ii            decimal(16,2),
  @vl_ipi           decimal(16,2),
  @vl_tx_scx        decimal(16,2),
  @vl_base_icms     decimal(16,2),
  @vl_icms          decimal(16,2),
  @vl_pis_cofins    decimal(16,2),
  @vl_pis           decimal(16,2),
  @vl_cofins        decimal(16,2),
  @valor_x          decimal(16,2),
  @valor_y          decimal(16,2),
  @nr_procs_armaz   nvarchar(4000)

DECLARE
  @dt_prev_nacion    datetime,
  @dt_atualizada     datetime,
  @dt_registro_di    datetime,
  @in_registro_di    bit,
  @vl_taxa_mle       decimal(16,2),
  @vl_taxa_ant       decimal(16,2),
  @vl_taxa_frete     decimal(16,2),
  @vl_frete_mneg     decimal(16,2),
  @vl_prev_frete     decimal(16,2),
  @vl_pago_frete     decimal(16,2),
  @vl_prev_lib_bl    decimal(16,2),
  @vl_pago_lib_bl    decimal(16,2),
  @vl_prev_capatazia decimal(16,2),
  @vl_pago_capatazia decimal(16,2),
  @vl_prev_marinha   decimal(16,2),
  @vl_pago_marinha   decimal(16,2),
  @vl_prev_sda       decimal(16,2),
  @vl_pago_sda       decimal(16,2),
  @vl_prev_ii        decimal(16,2),
  @vl_pago_ii        decimal(16,2),
  @vl_prev_ipi       decimal(16,2),
  @vl_pago_ipi       decimal(16,2),
  @vl_prev_tx_scx    decimal(16,2),
  @vl_pago_tx_scx    decimal(16,2),
  @vl_prev_icms      decimal(16,2),
  @vl_pago_icms      decimal(16,2),
  @vl_prev_pis       decimal(16,2),
  @vl_pago_pis       decimal(16,2),
  @vl_prev_cofins    decimal(16,2),
  @vl_pago_cofins    decimal(16,2)

--valores padrão para pis / confins
SELECT
  @vl_aliq_pis    = ISNULL( ALIQ_PIS   , 0 ),
  @vl_aliq_cofins = ISNULL( ALIQ_COFINS, 0 )
FROM TNCM_PIS_COFINS ( NOLOCK )
WHERE NCM = '00000000'

INSERT INTO #TMP_CASH_FLOW (
  NR_PROCESSO   , NR_REFERENCIA   , NR_ITEM_CLIENTE , CD_CLIENTE      , CD_AGENTE       , CD_ARMAZEM    , TP_FRETE    ,
  CD_INCOTERM   , CD_MOEDA_MLE    , CD_MOEDA_FRETE  , VL_FRETE_COLLECT, VL_FRETE_PREPAID, VL_SEGURO     , VL_DESPESAS ,
  VL_TOTAL      , VL_TOTAL_ITEM   , VL_PL_TOTAL     , VL_PL_ITEM      , VL_II_ITEM      , VL_IPI_ITEM   , VL_ICMS_ITEM,
  VL_TX_SCX_ITEM, VL_PIS_ITEM     , VL_COFINS_ITEM  , VL_ALIQUOTA_II  , VL_ALIQUOTA_IPI , DT_PREV_NACION
)
SELECT DISTINCT
  PR.NR_PROCESSO, RC.CD_REFERENCIA, RC.NR_ITEM_PO, PR.CD_CLIENTE, PR.CD_AGENTE, PR.CD_ARMAZEM_DESCARGA, PR.TP_FRETE,
  ISNULL( PR.CD_INCOTERM   , ISNULL( DI.CD_INCOTERM   , ISNULL( PO.CD_INCOTERM   , '' ) ) ) AS CD_INCOTERM,
  ISNULL( PR.CD_MOEDA_MLE  , ISNULL( DI.CD_MOEDA_MLE  , ISNULL( PO.CD_MOEDA_NEG  , '' ) ) ) AS CD_MOEDA_MLE,
  ISNULL( PR.CD_MOEDA_FRETE, ISNULL( DI.CD_MOEDA_FRETE, ISNULL( PO.CD_MOEDA_FRETE, '' ) ) ) AS CD_MOEDA_FRETE,
  ISNULL( PR.VL_FRETE_COLLECT_MNEG, ISNULL( DI.VL_TOT_FRT_COLLECT, ISNULL( PO.VL_FRETE_COLLECT, 0  ) ) ) AS VL_FRETE_COLLECT,
  ISNULL( PR.VL_FRETE_PREPAID_MNEG, ISNULL( DI.VL_TOT_FRT_PREPAID, ISNULL( PO.VL_FRETE_PREPAID, 0  ) ) ) AS VL_FRETE_PREPAID,
  ISNULL( DI.VL_TOT_SEGURO_MNEG, ISNULL( PO.VL_SEGURO  , 0 ) ) AS VL_SEGURO,
  ISNULL( DI.VL_TOT_DESPS_MNEG , ISNULL( PO.VL_DESPESAS, 0 ) ) AS VL_DESPESAS,
  ISNULL( DI.VL_TOT_MLE_MNEG   , ISNULL( PO.VL_TOTAL   , 0 ) ) AS VL_TOTAL, 
  ISNULL( DM.VL_MLE_ITEM       , ISNULL( PT.VL_TOTAL   , 0 ) ) AS VL_TOTAL_ITEM,
  ISNULL( DI.PL_CARGA          , ISNULL( PO.PL_PO      , 0 ) ) AS VL_PL_TOTAL,
  ISNULL( DM.PL_MERCADORIA     , ISNULL( PT.PL_ITEM    , 0 ) ) AS VL_PL_ITEM,
  ISNULL( DM.VL_II_ITEM    , 0 ) AS VL_II_ITEM,
  ISNULL( DM.VL_IPI_ITEM   , 0 ) AS VL_IPI_ITEM,
  ISNULL( DM.VL_ICMS_ITEM  , 0 ) AS VL_ICMS_ITEM,
  ISNULL( DM.VL_TX_SCX_ITEM, 0 ) AS VL_TX_SCX_ITEM,
  ISNULL( DM.VL_PIS_ITEM   , 0 ) AS VL_PIS_ITEM,
  ISNULL( DM.VL_COFINS_ITEM, 0 ) AS VL_COFINS_ITEM,
  ISNULL( N2.ALIQUOTA_II       , ISNULL( N1.ALIQUOTA_II , '0') ) AS VL_ALIQUOTA_II,
  ISNULL( N2.ALIQUOTA_IPI      , ISNULL( N1.ALIQUOTA_IPI, '0') ) AS VL_ALIQUOTA_IPI,
  ( FP.DT_REALIZACAO + 5) AS DT_PREV_NACION
FROM TATZ_MYINDAIA_PROCESSO ATZ ( NOLOCK )
  INNER JOIN TPROCESSO    PR ( NOLOCK ) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )
  INNER JOIN TFOLLOWUP    FP ( NOLOCK ) ON ( FP.NR_PROCESSO = ATZ.NR_PROCESSO AND FP.CD_EVENTO     = '161' )
  LEFT  JOIN TREF_CLIENTE RC ( NOLOCK ) ON ( RC.NR_PROCESSO = ATZ.NR_PROCESSO AND RC.TP_REFERENCIA = '01' )
  LEFT  JOIN TPO          PO ( NOLOCK ) ON ( PO.NR_PROCESSO = RC.CD_REFERENCIA )
  LEFT  JOIN TPO_ITEM     PT ( NOLOCK ) ON ( PT.NR_PROCESSO = RC.CD_REFERENCIA AND PT.NR_ITEM_CLIENTE = RC.NR_ITEM_PO )
  LEFT  JOIN TDECLARACAO_IMPORTACAO DI ( NOLOCK ) ON ( DI.NR_PROCESSO = ATZ.NR_PROCESSO )
  LEFT  JOIN TDETALHE_MERCADORIA    DM ( NOLOCK ) ON ( DM.NR_PROCESSO = ATZ.NR_PROCESSO AND DM.NR_PROC_PO = RC.CD_REFERENCIA AND DM.NR_ITEM_PO = RC.NR_ITEM_PO )
  LEFT  JOIN TNCM N1 ( NOLOCK ) ON ( PT.CD_NCM_SH = N1.CODIGO )
  LEFT  JOIN TNCM N2 ( NOLOCK ) ON ( DM.CD_NCM_SH = N2.CODIGO )
WHERE NM_TABELA IN ('TPROCESSO','TDECLARACAO_IMPORTACAO','TDETALHE_MERCADORIA','TFATURAMENTO_CC')
  AND ( PR.CD_PRODUTO = '01' )
  AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'
  AND ISNULL( PR.TP_FRETE    , ''  ) <> ''
--  AND ATZ.NR_PROCESSO = '0101I0-0006-06'

--agrupa todos processos selecionados para calculo de previsão de armazenagem
SET @nr_procs_armaz = 'C:\myArmazem2Site.exe '

DECLARE cProcArmz CURSOR FOR
  SELECT DISTINCT NR_PROCESSO, CD_CLIENTE, CD_ARMAZEM
  FROM #TMP_CASH_FLOW
  
OPEN cProcArmz
FETCH cProcArmz INTO @nr_processo, @cd_cliente, @cd_armazem
WHILE @@fetch_status = 0
BEGIN
  IF( SELECT COUNT(*) FROM TARMAZEM_TABELAS_CLIENTE (NOLOCK) WHERE CD_ARMAZEM = @cd_armazem AND CD_CLIENTE = @cd_cliente AND IN_ATIVO = '1' ) > 0
    IF( SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = @nr_processo AND DT_ENT_ARM IS NULL ) = 0
      SET @nr_procs_armaz = @nr_procs_armaz + LTRIM( RTRIM( @nr_processo ) ) + '/'

  FETCH cProcArmz INTO @nr_processo, @cd_cliente, @cd_armazem
END
CLOSE cProcArmz
DEALLOCATE cProcArmz
print @nr_procs_armaz
--executa programa para realizar calculo de armazenagem
IF LEN(@nr_procs_armaz) > 21 EXEC master.dbo.xp_cmdshell @nr_procs_armaz--, NO_OUTPUT

--seleciona os dados para calculo de armazenagem
SELECT CA.NR_PROCESSO, CF.NR_REFERENCIA, CF.NR_ITEM_CLIENTE, CA.CD_ITEM, CA.VL_ITEM, VL_PL_TOTAL, VL_PL_ITEM
INTO #TMP_ARMAZENAGEM
FROM TCASH_ARMAZENAGEM CA ( NOLOCK )
  INNER JOIN #TMP_CASH_FLOW CF ( NOLOCK ) ON ( CF.NR_PROCESSO = CA.NR_PROCESSO )
ORDER BY CA.NR_PROCESSO, CA.CD_ITEM

--inicia o calculo de previsões/pagamentos de frete, impostos e armazenagem
WHILE ( SELECT COUNT(*) FROM #TMP_CASH_FLOW ) > 0
BEGIN
  SELECT TOP 1
    @nr_processo      = NR_PROCESSO,
    @nr_referencia    = NR_REFERENCIA,
    @nr_item_cliente  = NR_ITEM_CLIENTE,
    @cd_incoterm      = CD_INCOTERM,
    @cd_agente        = CD_AGENTE,
    @cd_moeda_neg     = CD_MOEDA_MLE,
    @cd_moeda_frete   = CD_MOEDA_FRETE,
    @tp_frete         = TP_FRETE,
    @vl_frete_collect = VL_FRETE_COLLECT,
    @vl_frete_prepaid = VL_FRETE_PREPAID,
    @vl_seguro        = VL_SEGURO,
    @vl_despesa       = VL_DESPESAS,
    @vl_total         = VL_TOTAL,
    @vl_total_item    = VL_TOTAL_ITEM,
    @vl_pl_total      = VL_PL_TOTAL,
    @vl_pl_item       = VL_PL_ITEM,
    @vl_ii            = VL_II_ITEM,
    @vl_ipi           = VL_IPI_ITEM,
    @vl_tx_scx        = VL_TX_SCX_ITEM,
    @vl_icms          = VL_ICMS_ITEM,
    @vl_pis           = VL_PIS_ITEM,
    @vl_cofins        = VL_COFINS_ITEM,
    @vl_aliquota_ii   = VL_ALIQUOTA_II,
    @vl_aliquota_ipi  = VL_ALIQUOTA_IPI,
    @dt_prev_nacion   = DT_PREV_NACION
  FROM #TMP_CASH_FLOW

  SELECT
    @vl_prev_ii     = NULL,
    @vl_pago_ii     = NULL,
    @vl_prev_ipi    = NULL,
    @vl_pago_ipi    = NULL,
    @vl_prev_tx_scx = NULL,
    @vl_pago_tx_scx = NULL,
    @vl_prev_icms   = NULL,
    @vl_pago_icms   = NULL,
    @vl_prev_pis    = NULL,
    @vl_pago_pis    = NULL,
    @vl_prev_cofins = NULL,
    @vl_pago_cofins = NULL
  
  --data de registro da DI ou a data do dia, para conversão de valores para real
  SET @dt_registro_di = ( SELECT
                            CONVERT(datetime, SUBSTRING(DT_REGISTRO_DI, 1, 2) + '/' + 
                                              SUBSTRING(DT_REGISTRO_DI, 3, 2) + '/' +
                                              SUBSTRING(DT_REGISTRO_DI, 5, 4), 103) 
                          FROM TDECLARACAO_IMPORTACAO ( NOLOCK )
                          WHERE NR_PROCESSO = @nr_processo )
  IF ISDATE( @dt_registro_di ) = 1
  BEGIN
    SET @dt_atualizada  = @dt_registro_di
    SET @in_registro_di = 1
  END
  ELSE
  BEGIN
    SET @dt_atualizada  = @dt_prev_nacion
    SET @in_registro_di = 0
  END

  IF ISDATE( @dt_atualizada ) = 1
    SET @dt_atualizada = CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )

  --CALCULO DO VALOR DA MERCADORIA
  IF RTRIM( LTRIM( @cd_moeda_neg ) ) <> ''
  BEGIN
    IF @cd_moeda_neg <> '220' AND @cd_moeda_neg <> '790'
    BEGIN
      SELECT @vl_taxa_mle = TX_CAMBIO
      FROM TTAXA_CAMBIO ( NOLOCK )
      WHERE CD_MOEDA = '220'
        AND DT_INICIO_VIGENCIA <= @dt_atualizada
        AND @dt_atualizada     <= DT_TERMINO_VIGENCIA

      SELECT @vl_taxa_ant = TX_CAMBIO
      FROM TTAXA_CAMBIO ( NOLOCK )
      WHERE CD_MOEDA = @cd_moeda_neg
        AND DT_INICIO_VIGENCIA <= @dt_atualizada
        AND @dt_atualizada     <= DT_TERMINO_VIGENCIA

      SET @vl_merc_real  = @vl_total_item * @vl_taxa_ant 
      SET @vl_merc_dolar = @vl_merc_real / @vl_taxa_mle 
    END
    ELSE
    BEGIN
      IF @cd_moeda_neg = '220'
      BEGIN 
        SELECT @vl_taxa_mle = TX_CAMBIO
        FROM TTAXA_CAMBIO ( NOLOCK )
        WHERE CD_MOEDA = '220'
          AND DT_INICIO_VIGENCIA <= @dt_atualizada
          AND @dt_atualizada     <= DT_TERMINO_VIGENCIA
                                           
        SET @vl_merc_real  = @vl_total_item * @vl_taxa_mle 
        SET @vl_merc_dolar = @vl_total_item
      END

      IF @cd_moeda_neg = '790'
      BEGIN
        SELECT @vl_taxa_mle = TX_CAMBIO
        FROM TTAXA_CAMBIO ( NOLOCK )
        WHERE CD_MOEDA = '220'
          AND DT_INICIO_VIGENCIA <= @dt_atualizada
          AND @dt_atualizada     <= DT_TERMINO_VIGENCIA
                                                  
        SET @vl_merc_real  = @vl_total_item
        SET @vl_merc_dolar = @vl_total_item / @vl_taxa_mle
      END
    END
  END --FIM DO CALCULO DO VALOR DA MERCADORIA

  --CALCULO DO VALOR DO FRETE / SEGURO / DESPESAS
  SET @vl_frete_mneg = (@vl_frete_prepaid + @vl_frete_collect)
  SET @vl_prev_frete = NULL
  SET @vl_pago_frete = NULL

  IF @cd_moeda_frete <> '790' AND @cd_moeda_neg <> ''
    SELECT @vl_taxa_frete = TX_CAMBIO
    FROM TTAXA_CAMBIO ( NOLOCK )
    WHERE CD_MOEDA = @cd_moeda_frete
      AND DT_INICIO_VIGENCIA <= @dt_atualizada
      AND @dt_atualizada     <= DT_TERMINO_VIGENCIA
  ELSE
    IF @cd_moeda_neg = '790'
      SET @vl_taxa_frete = 1

  --valor do frete para calculo de impostos
  SET @vl_frete = @vl_frete_mneg * @vl_taxa_frete

  IF @vl_frete > 0 and @vl_total > 0
    SET @vl_frete = ( @vl_frete / @vl_total ) * @vl_total_item

  --valor do seguro para calculo de impostos
  SET @vl_seguro = @vl_seguro * @vl_taxa_frete

  IF @vl_seguro > 0 and @vl_total > 0
    SET @vl_seguro = ( @vl_seguro / @vl_total ) * @vl_total_item

  --valor das despesas
  IF @vl_despesa > 0 and @vl_total > 0
    SET @vl_despesa = ( @vl_despesa / @vl_total ) * @vl_total_item

  IF @tp_frete = '0'
  BEGIN
    SET @valor_x = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM IN ('001','029','421') AND IN_CANCELADO = 0 AND IN_RESTITUI = 0)
    SET @valor_y = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM IN ('001','029','421') AND IN_CANCELADO = 0 AND IN_RESTITUI = 1)
    SET @vl_pago_frete = @valor_x - @valor_y
    
    IF @vl_pago_frete = 0 or @vl_pago_frete IS NULL
      SET @vl_prev_frete = @vl_frete_collect * @vl_taxa_frete
  END

  IF @vl_pl_total > 0
  BEGIN
    IF @vl_frete_mneg > 0
      SET @vl_frete_mneg = ( @vl_frete_mneg / @vl_pl_total ) * @vl_pl_item
    IF @vl_prev_frete > 0
      SET @vl_prev_frete = ( @vl_prev_frete / @vl_pl_total ) * @vl_pl_item
    IF @vl_pago_frete > 0
      SET @vl_pago_frete = ( @vl_pago_frete / @vl_pl_total ) * @vl_pl_item
  END
  --FIM DO CALCULO DO FRETE

  --VALOR CIF
  IF @cd_incoterm = 'CFR'
    SET @vl_cif = @vl_merc_real + @vl_seguro + @vl_despesa
  ELSE
    SET @vl_cif = @vl_merc_real + @vl_frete + @vl_seguro + @vl_despesa

  --CALCULO LIBERAÇÃO DE BL
  SET @valor_x = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = '076' AND IN_CANCELADO = 0 AND IN_RESTITUI = 0)
  SET @valor_y = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = '076' AND IN_CANCELADO = 0 AND IN_RESTITUI = 1)
  SET @vl_pago_lib_bl = @valor_x - @valor_y

  IF @vl_pago_lib_bl = 0 or @vl_pago_lib_bl IS NULL
  BEGIN
    SELECT @vl_liberacao_bl = ISNULL( VL_LIBERACAO_BL, 0 )
    FROM TAGENTE A (NOLOCK), TAGENTE_TAXA T (NOLOCK)
    WHERE A.CD_AGENTE   = @cd_agente 
      AND A.CD_TAXA_IMP = T.CD_TAXA
    SET @vl_prev_lib_bl = ROUND((@vl_liberacao_bl * @vl_taxa_frete), 2)
  END

  IF @vl_pl_total > 0
  BEGIN
    IF @vl_prev_lib_bl > 0
      SET @vl_prev_lib_bl = ( @vl_prev_lib_bl / @vl_pl_total ) * @vl_pl_item
    IF @vl_pago_lib_bl > 0
      SET @vl_pago_lib_bl = ( @vl_pago_lib_bl / @vl_pl_total ) * @vl_pl_item
  END
  --FIM DO CALCULO LIBERAÇÃO DE BL

  --CALCULO MARINHA MERCANTE/AFRMM
  SET @valor_x = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = '160' AND IN_CANCELADO = 0 AND IN_RESTITUI = 0)
  SET @valor_y = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = '160' AND IN_CANCELADO = 0 AND IN_RESTITUI = 1)
  SET @vl_pago_marinha = @valor_x - @valor_y
  
  IF @vl_pago_marinha = 0 or @vl_pago_marinha IS NULL
    SET @vl_prev_marinha = ROUND(( @vl_frete_mneg * @vl_taxa_frete * 0.25), 2)

  IF @vl_pl_total > 0
  BEGIN
    IF @vl_prev_marinha > 0
      SET @vl_prev_marinha = ( @vl_prev_marinha / @vl_pl_total ) * @vl_pl_item
    IF @vl_pago_marinha > 0
      SET @vl_pago_marinha = ( @vl_pago_marinha / @vl_pl_total ) * @vl_pl_item
  END
  --FIM DO CALCULO MARINHA MERCANTE/AFRMM

  --CALCULO CAPATAZIAS
  SET @valor_x = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = '040' AND IN_CANCELADO = 0 AND IN_RESTITUI = 0)
  SET @valor_y = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = '040' AND IN_CANCELADO = 0 AND IN_RESTITUI = 1)
  SET @vl_pago_capatazia = @valor_x - @valor_y

  IF @vl_pago_capatazia = 0 or @vl_pago_capatazia IS NULL
    EXEC sp_calc_capatazias @nr_processo, '040', @vl_prev_capatazia output

  IF @vl_pl_total > 0
  BEGIN
    IF @vl_prev_capatazia > 0
      SET @vl_prev_capatazia = ( @vl_prev_capatazia / @vl_pl_total ) * @vl_pl_item
    IF @vl_pago_capatazia > 0
      SET @vl_pago_capatazia = ( @vl_pago_capatazia / @vl_pl_total ) * @vl_pl_item
  END
  --FIM DO CALCULO CAPATAZIAS

  --CALCULO SDA
  SET @valor_x = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = '008' AND IN_CANCELADO = 0 AND IN_RESTITUI = 0)
  SET @valor_y = (SELECT ISNULL(SUM(VL_ITEM), 0) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = '008' AND IN_CANCELADO = 0 AND IN_RESTITUI = 1)
  SET @vl_pago_sda = @valor_x - @valor_y

  IF @vl_pago_sda = 0 or @vl_pago_sda IS NULL
    EXEC sp_calc_sda_imp @nr_processo, '008', @vl_prev_sda output

  IF @vl_pl_total > 0
  BEGIN
    IF @vl_prev_sda > 0
      SET @vl_prev_sda = ( @vl_prev_sda / @vl_pl_total ) * @vl_pl_item
    IF @vl_pago_sda > 0
      SET @vl_pago_sda = ( @vl_pago_sda / @vl_pl_total ) * @vl_pl_item
  END
  --FIM DO CALCULO SDA

  /* CALCULO DAS PREVISÕES DE IMPOSTOS */
  --ALIQUOTA II - verificar as configurações regionais, se for o caso utilizar REPLACE( @vl_aliquota_ii, ',', '.')
  IF @vl_aliquota_ii <> 'NT' AND @vl_aliquota_ii <> ''
    SET @vl_aliq_ii = CONVERT( float, REPLACE( @vl_aliquota_ii, '.', ','), 1 )
  --ALIQUOTA IPI - verificar as configurações regionais, se for o caso utilizar REPLACE( @vl_aliquota_ii, ',', '.')
  IF @vl_aliquota_ipi <> 'NT' AND @vl_aliquota_ipi <> ''
    SET @vl_aliq_ipi = CONVERT( float, REPLACE( @vl_aliquota_ipi, '.', ','), 1 )

  IF @in_registro_di = 1
  BEGIN
    SET @vl_pago_ii     = @vl_ii
    SET @vl_pago_ipi    = @vl_ipi
    SET @vl_pago_tx_scx = @vl_tx_scx
    SET @vl_pago_icms   = @vl_icms
    SET @vl_pago_pis    = @vl_pis
    SET @vl_pago_cofins = @vl_cofins
  END
  ELSE
  BEGIN
    --CALCULO VALOR DO II
    SET @vl_prev_ii = @vl_cif * ( @vl_aliq_ii / 100 )
    SET @vl_ii      = @vl_prev_ii

    --CALCULO VALOR DO IPI
    SET @vl_prev_ipi = ( @vl_cif + @vl_ii ) * ( @vl_aliq_ipi / 100 )
    SET @vl_ipi      = @vl_prev_ipi

    --TAXA SISCOMEX
    SELECT @qtd_itens_po = COUNT( NR_PROCESSO ) FROM TPO_ITEM ( NOLOCK ) WHERE NR_PROCESSO = @nr_referencia
    SELECT @vl_siscomex  = ( ( SELECT TX_ADICAO FROM TTAXA_SISCOMEX ( NOLOCK ) WHERE NR_ADICAO = 0 ) +
                             ( SELECT TX_ADICAO FROM TTAXA_SISCOMEX ( NOLOCK ) WHERE NR_ADICAO = 2 ) )
    IF @qtd_itens_po = 0
      SELECT @qtd_itens_po = COUNT( NR_PROC_PO ) FROM TDETALHE_MERCADORIA ( NOLOCK ) WHERE NR_PROC_PO = @nr_referencia
  
    IF @qtd_itens_po = 0
      SET @vl_prev_tx_scx = 0
    ELSE
      SET @vl_prev_tx_scx = @vl_siscomex / @qtd_itens_po

    SET @vl_tx_scx = @vl_prev_tx_scx

    --BASE PIS / COFINS
    SET @valor_x = ( ( 1 + 0.18  * (  ( @vl_aliq_ii / 100 )  +  ( @vl_aliq_ipi / 100 )  * ( 1 + ( @vl_aliq_ii / 100 ) )  )  ) / ( 1 - ( @vl_aliq_pis / 100 ) -  ( @vl_aliq_cofins / 100 ) - 0.18 ) )
    SET @valor_y = ( 0.18  / ( 1 - @vl_aliq_pis - @vl_aliq_cofins - 0.18  ) )
  
    SET @vl_pis_cofins = ( @vl_cif * @valor_x  + @vl_tx_scx * @valor_y )

    -- VALOR PIS
    SET @vl_prev_pis = @vl_pis_cofins * ( @vl_aliq_pis / 100 )
    SET @vl_pis      = @vl_prev_pis
  
    -- VALOR COFINS
    SET @vl_prev_cofins = @vl_pis_cofins * ( @vl_aliq_cofins / 100 )
    SET @vl_cofins      = @vl_prev_cofins
  
    -- VALOR BASE ICMS
    SET @vl_base_icms = ( @vl_cif + @vl_ii + @vl_ipi + @vl_tx_scx + @vl_pis + @vl_cofins )
  
    -- VALOR ICMS
    SET @vl_prev_icms = ( @vl_base_icms / 0.82 ) * 0.18
    SET @vl_icms      = @vl_prev_icms 
  END

  --verifica se já existe o registro de cash flow, se sim atualiza os valores, se não, insere as previsões
  IF ( SELECT COUNT(*)
       FROM MYINDAIA.DBO.TCASH_FLOW ( NOLOCK )
       WHERE NR_PROCESSO     = @nr_processo
         AND NR_REFERENCIA   = @nr_referencia
         AND NR_ITEM_CLIENTE = @nr_item_cliente ) > 0
  BEGIN
    UPDATE MYINDAIA.DBO.TCASH_FLOW SET
      CD_MOEDA_FRETE  = ISNULL( @cd_moeda_frete   , CD_MOEDA_FRETE  ),
      TP_FRETE        = ISNULL( @tp_frete         , TP_FRETE        ),
      VL_FRETE_MNEG   = ISNULL( @vl_frete_mneg    , VL_FRETE_MNEG   ),
      VL_TAXA_FRETE   = ISNULL( @vl_taxa_frete    , VL_TAXA_FRETE   ),
      VL_ITEM008_PREV = ISNULL( @vl_prev_sda      , VL_ITEM008_PREV ),
      VL_ITEM008_PAGO = ISNULL( @vl_pago_sda      , VL_ITEM008_PAGO ),
      VL_ITEM025_PREV = ISNULL( @vl_prev_ii       , VL_ITEM025_PREV ),
      VL_ITEM025_PAGO = ISNULL( @vl_pago_ii       , VL_ITEM025_PAGO ),
      VL_ITEM026_PREV = ISNULL( @vl_prev_ipi      , VL_ITEM026_PREV ),
      VL_ITEM026_PAGO = ISNULL( @vl_pago_ipi      , VL_ITEM026_PAGO ),
      VL_ITEM027_PREV = ISNULL( @vl_prev_icms     , VL_ITEM027_PREV ),
      VL_ITEM027_PAGO = ISNULL( @vl_pago_icms     , VL_ITEM027_PAGO ),
      VL_ITEM032_PREV = ISNULL( @vl_prev_tx_scx   , VL_ITEM032_PREV ),
      VL_ITEM032_PAGO = ISNULL( @vl_pago_tx_scx   , VL_ITEM032_PAGO ),
      VL_ITEM040_PREV = ISNULL( @vl_prev_capatazia, VL_ITEM040_PREV ),
      VL_ITEM040_PAGO = ISNULL( @vl_pago_capatazia, VL_ITEM040_PAGO ),
      VL_ITEM076_PREV = ISNULL( @vl_prev_lib_bl   , VL_ITEM076_PREV ),
      VL_ITEM076_PAGO = ISNULL( @vl_pago_lib_bl   , VL_ITEM076_PAGO ),
      VL_ITEM160_PREV = ISNULL( @vl_prev_marinha  , VL_ITEM160_PREV ),
      VL_ITEM160_PAGO = ISNULL( @vl_pago_marinha  , VL_ITEM160_PAGO ),
      VL_ITEM193_PREV = ISNULL( @vl_prev_cofins   , VL_ITEM193_PREV ),
      VL_ITEM193_PAGO = ISNULL( @vl_pago_cofins   , VL_ITEM193_PAGO ),
      VL_ITEM339_PREV = ISNULL( @vl_prev_pis      , VL_ITEM339_PREV ),
      VL_ITEM339_PAGO = ISNULL( @vl_pago_pis      , VL_ITEM339_PAGO ),
      VL_ITEM584_PREV = ISNULL( @vl_prev_frete    , VL_ITEM584_PREV ),
      VL_ITEM584_PAGO = ISNULL( @vl_pago_frete    , VL_ITEM584_PAGO )
    WHERE NR_PROCESSO     = @nr_processo
      AND NR_REFERENCIA   = @nr_referencia
      AND NR_ITEM_CLIENTE = @nr_item_cliente
    IF (@@ERROR <> 0)
    BEGIN
      PRINT 'Verificar Processo: '+ @nr_processo +' Ref.: '+@nr_referencia+' Item: '+@nr_item_cliente 
      RETURN(1)
    END
  END
  ELSE
  BEGIN
    INSERT INTO MYINDAIA.DBO.TCASH_FLOW (
      NR_PROCESSO    , NR_REFERENCIA  , NR_ITEM_CLIENTE,
      CD_MOEDA_FRETE , TP_FRETE       , VL_FRETE_MNEG  , VL_TAXA_FRETE  ,
      VL_ITEM008_PREV, VL_ITEM008_PAGO, VL_ITEM025_PREV, VL_ITEM025_PAGO,
      VL_ITEM026_PREV, VL_ITEM026_PAGO, VL_ITEM027_PREV, VL_ITEM027_PAGO,
      VL_ITEM032_PREV, VL_ITEM032_PAGO, VL_ITEM040_PREV, VL_ITEM040_PAGO,
      VL_ITEM076_PREV, VL_ITEM076_PAGO, VL_ITEM160_PREV, VL_ITEM160_PAGO,
      VL_ITEM193_PREV, VL_ITEM193_PAGO, VL_ITEM339_PREV, VL_ITEM339_PAGO,
      VL_ITEM584_PREV, VL_ITEM584_PAGO   
    )
    VALUES (
      @nr_processo   , @nr_referencia , @nr_item_cliente  ,
      @cd_moeda_frete, @tp_frete      , @vl_frete_mneg    , @vl_taxa_frete    ,
      @vl_prev_sda   , @vl_pago_sda   , @vl_prev_ii       , @vl_pago_ii       ,
      @vl_prev_ipi   , @vl_pago_ipi   , @vl_prev_icms     , @vl_pago_icms     ,
      @vl_prev_tx_scx, @vl_pago_tx_scx, @vl_prev_capatazia, @vl_pago_capatazia,
      @vl_prev_lib_bl, @vl_pago_lib_bl, @vl_prev_marinha  , @vl_pago_marinha  ,
      @vl_prev_cofins, @vl_pago_cofins, @vl_prev_pis      , @vl_pago_pis      ,
      @vl_prev_frete , @vl_pago_frete
    )
    IF (@@ERROR <> 0)
    BEGIN
      PRINT 'Verificar Processo: '+ @nr_processo +' Ref.: '+@nr_referencia+' Item: '+@nr_item_cliente 
      RETURN(1)
    END
  END
  
  DELETE FROM #TMP_CASH_FLOW
  WHERE NR_PROCESSO     = @nr_processo
    AND NR_REFERENCIA   = @nr_referencia
    AND NR_ITEM_CLIENTE = @nr_item_cliente
END

DECLARE
  @cd_item   char(3),
  @vl_item   decimal(16,2),
  @vl_prev   decimal(16,2),
  @vl_pago   decimal(16,2),
  @nm_coluna char(15),
  @tx_update nvarchar(1000)

/* CALCULO DAS PREVISÕES DE ARMAZENAGEM */
WHILE ( SELECT COUNT(*) FROM #TMP_ARMAZENAGEM ) > 0
BEGIN
  SELECT TOP 1
    @nr_processo     = NR_PROCESSO,
    @nr_referencia   = NR_REFERENCIA,
    @nr_item_cliente = NR_ITEM_CLIENTE, 
    @cd_item         = CD_ITEM,
    @vl_item         = VL_ITEM,
    @vl_pl_total     = VL_PL_TOTAL,
    @vl_pl_item      = VL_PL_ITEM
  FROM #TMP_ARMAZENAGEM
  
  SET @nm_coluna = 'VL_ITEM'+@cd_item+'_PREV'
  
  IF( SELECT COUNT(*) FROM myindaia.dbo.sysobjects tb (NOLOCK)
        INNER JOIN myindaia.dbo.syscolumns co (NOLOCK) ON tb.id = co.id
      WHERE tb.name = 'TCASH_FLOW'
        AND co.name = @nm_coluna ) = 0
  BEGIN
    EXEC ('ALTER TABLE MYINDAIA.DBO.TCASH_FLOW ADD VL_ITEM'+@cd_item+'_PREV decimal(16, 2) NULL')
    EXEC ('ALTER TABLE MYINDAIA.DBO.TCASH_FLOW ADD VL_ITEM'+@cd_item+'_PAGO decimal(16, 2) NULL')
  END
  
  SET @valor_x = (SELECT SUM(ISNULL(VL_ITEM, 0)) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = @cd_item AND IN_CANCELADO = 0 AND IN_RESTITUI = 0)
  SET @valor_y = (SELECT SUM(ISNULL(VL_ITEM, 0)) FROM TFATURAMENTO_CC ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = @cd_item AND IN_CANCELADO = 0 AND IN_RESTITUI = 1)
  SET @vl_pago = @valor_x - @valor_y
  
  IF @vl_pago = 0 or @vl_pago IS NULL
    SET @vl_prev = @vl_item
  ELSE
    SET @vl_prev = NULL

  IF @vl_pl_total > 0
  BEGIN
    IF @vl_prev > 0
    BEGIN
      SET @vl_prev   = ( @vl_prev / @vl_pl_total ) * @vl_pl_item
      SET @tx_update = '  VL_ITEM'+@cd_item+'_PREV = ISNULL( '+CAST(@vl_prev AS varchar(20))+', VL_ITEM'+@cd_item+'_PREV ) '
    END
    IF @vl_pago > 0
    BEGIN
      SET @vl_pago   = ( @vl_pago / @vl_pl_total ) * @vl_pl_item
      SET @tx_update = '  VL_ITEM'+@cd_item+'_PAGO = ISNULL( '+CAST(@vl_pago AS varchar(20))+', VL_ITEM'+@cd_item+'_PAGO ) '
    END

    SET @tx_update = 'UPDATE MYINDAIA.DBO.TCASH_FLOW SET '+ @tx_update +'
                      WHERE NR_PROCESSO     = '''+@nr_processo+'''
                        AND NR_REFERENCIA   = '''+@nr_referencia+'''
                        AND NR_ITEM_CLIENTE = '''+@nr_item_cliente+''''
    EXEC (@tx_update)
    IF (@@ERROR <> 0)
    BEGIN
      PRINT 'Verificar Armzenagem Processo: '+ @nr_processo +' Ref.: '+@nr_referencia+' Item: '+@nr_item_cliente 
      RETURN(2)
    END
  END
  
  DELETE FROM #TMP_ARMAZENAGEM
  WHERE NR_PROCESSO     = @nr_processo
    AND NR_REFERENCIA   = @nr_referencia
    AND NR_ITEM_CLIENTE = @nr_item_cliente
    AND CD_ITEM         = @cd_item
END

--exclui a tabela temporaria
DROP TABLE #TMP_CASH_FLOW
DROP TABLE #TMP_ARMAZENAGEM
/*
SELECT * FROM MYINDAIA.DBO.TCASH_FLOW (NOLOCK) ORDER BY NR_PROCESSO

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
