USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_atz_recebimento    Script Date: 02/09/1999 08:58:58 AM ******/
CREATE PROCEDURE [sp_atz_recebimento] ( @nr_processo char(18), @nr_recebimento char(3) ) AS
DECLARE @vl_saldo_processo  numeric(14,2)
DECLARE @cd_produto  char(2)
DECLARE @dt_recebimento  datetime
DECLARE @cd_item char(3)
DECLARE @cd_banco char(3)

-- Atualiza Itens do Numerario para Tipo Terceiros
UPDATE TNUMERARIO_ITEM_SOLIC
SET    VL_RECEBIDO = ISNULL( VL_SOLICITADO, 0 ),
       CD_STATUS   = 'B'
WHERE  NR_PROCESSO = @nr_processo AND TP_DESTINO IN ( '0', '1' )

-- Atualiza Itens do Numerario
UPDATE TNUMERARIO_ITEM_SOLIC
SET    VL_RECEBIDO = ISNULL(
         ( SELECT SUM( CONVERT( numeric(14,2), ISNULL(R.VL_RECEBIDO, 0 ) ) -
                  CONVERT( numeric(14,2), ISNULL(R.VL_DEVOLVIDO ,0 ) ) )
           FROM   TRECEBIMENTO_ITEM_RECEB R
           WHERE  R.NR_PROCESSO = S.NR_PROCESSO AND
                  R.NR_SOLICITACAO = S.NR_SOLICITACAO AND
                  R.CD_ITEM = S.CD_ITEM AND
                  R.IN_CANCELADO = '0' ) , 0 )
FROM   TNUMERARIO_ITEM_SOLIC S
WHERE  NR_PROCESSO = @nr_processo AND TP_DESTINO IN ('2','3','4')

UPDATE TNUMERARIO_ITEM_SOLIC
SET CD_STATUS = 
  CASE 
    WHEN ( VL_RECEBIDO >= VL_SOLICITADO ) THEN 'B'
    ELSE 'A'
  END
WHERE NR_PROCESSO = @nr_processo AND
      CD_STATUS IN ('A','B') AND TP_DESTINO IN ('2','3','4')

-- Atualiza Numerario
UPDATE TNUMERARIO
SET    VL_RECEBIDO = ISNULL(
       ( SELECT SUM( CONVERT( numeric(14,2), VL_RECEBIDO ) )
         FROM   TNUMERARIO_ITEM_SOLIC S
         WHERE  S.NR_PROCESSO = N.NR_PROCESSO AND
                S.NR_SOLICITACAO = N.NR_SOLICITACAO AND
        CD_STATUS IN ('A','B') AND TP_DESTINO IN ('2','3','4') ), 0 )
FROM   TNUMERARIO N
WHERE  NR_PROCESSO = @nr_processo 

UPDATE TNUMERARIO
SET    CD_STATUS = 
  CASE 
    WHEN ( VL_RECEBIDO >= VL_SOLICITADO ) THEN 'B'
    ELSE 'A'
  END
WHERE  NR_PROCESSO = @nr_processo AND
       CD_STATUS IN ('A','B')

-- Exclui Item com recebimento = 0
DELETE TRECEBIMENTO_ITEM_RECEB
WHERE  NR_PROCESSO    = @nr_processo    AND
       NR_RECEBIMENTO = @nr_recebimento AND
       ISNULL( VL_RECEBIDO, 0 ) = 0

-- Atualiza Saldos
INSERT INTO TNUMERARIO_SALDO_POR_ITEM 
  SELECT DISTINCT NR_PROCESSO, CD_ITEM, 0, 0, 0, 0, 0 
  FROM   TRECEBIMENTO_ITEM_RECEB
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM NOT IN
         ( SELECT CD_ITEM
           FROM   TNUMERARIO_SALDO_POR_ITEM
           WHERE  NR_PROCESSO = @nr_processo)     

UPDATE TNUMERARIO_SALDO_POR_ITEM 
SET    VL_RECEBIDO = ISNULL(
       ( SELECT SUM( CONVERT( numeric(14,2), ISNULL( R.VL_RECEBIDO, 0 ) ) -
                    CONVERT( numeric(14,2), ISNULL( R.VL_DEVOLVIDO, 0) ) ) 
         FROM   TRECEBIMENTO_ITEM_RECEB R
         WHERE  R.NR_PROCESSO = S.NR_PROCESSO AND
                R.CD_ITEM = S.CD_ITEM AND
                R.IN_CANCELADO = '0' ), 0 )
FROM   TNUMERARIO_SALDO_POR_ITEM S
WHERE  S.NR_PROCESSO = @nr_processo  AND
       CD_ITEM NOT IN 
       ( SELECT CD_ITEM 
         FROM   TNUMERARIO_ITEM_SOLIC N
         WHERE  N.NR_PROCESSO = @nr_processo AND
                N.CD_ITEM = S.CD_ITEM AND 
	        N.TP_DESTINO IN ( '0', '1' ) )

UPDATE TNUMERARIO_SALDO_POR_ITEM
SET    VL_SALDO_ITEM = ROUND( ( CONVERT( numeric(14,2), ISNULL( VL_RECEBIDO, 0 ) ) -
                                CONVERT( numeric(14,2), ISNULL( VL_UTILIZADO, 0) ) ), 2 )
WHERE  NR_PROCESSO = @nr_processo

SELECT @vl_saldo_processo = ROUND( SUM( CONVERT( numeric(14,2), ISNULL( VL_SALDO_ITEM, 0 ) ) ), 2 )
FROM   TNUMERARIO_SALDO_POR_ITEM S
WHERE  NR_PROCESSO = @nr_processo AND
       CD_ITEM NOT IN 
         ( SELECT CD_ITEM 
           FROM   TNUMERARIO_ITEM_SOLIC N
           WHERE  N.NR_PROCESSO = S.NR_PROCESSO AND
                  N.CD_ITEM = S.CD_ITEM AND 
		  N.TP_DESTINO IN ( '0', '1' ) )


UPDATE TNUMERARIO_SALDO_POR_ITEM
SET    VL_SALDO_PROCESSO = @vl_saldo_processo
WHERE  NR_PROCESSO = @nr_processo

SELECT @cd_banco = CD_BANCO
FROM   TRECEBIMENTO
WHERE  NR_PROCESSO     = @nr_processo AND
       NR_RECEBIMENTO  = @nr_recebimento

-- Libera automático???
IF EXISTS( SELECT *
           FROM   TEMPRESA_NAC E, TPROCESSO P
           WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
                  P.NR_PROCESSO = @nr_processo AND
                  IN_LIBERA_DI = '0' )
BEGIN
  UPDATE TPROCESSO 
  SET    IN_DI_LIBERADA = '0'
  WHERE  NR_PROCESSO = @nr_processo
END
ELSE
BEGIN
  -- ATUALIZA DI LIBERADA
  IF ( SELECT COUNT(*)
       FROM   TCLIENTE_BANCO_LIBERADO L,
              TPROCESSO P
       WHERE  P.CD_CLIENTE  = L.CD_CLIENTE  AND
              P.CD_UNID_NEG = L.CD_UNID_NEG AND
              P.CD_PRODUTO  = L.CD_PRODUTO  AND
              P.NR_PROCESSO = @nr_processo  AND
              L.CD_BANCO = @cd_banco AND
              L.IN_ATIVO    = '1' ) > 0
  BEGIN
    UPDATE TPROCESSO 
    SET    IN_DI_LIBERADA = '1'
    WHERE  NR_PROCESSO = @nr_processo
  END
  ELSE
  BEGIN
    IF ( SELECT COUNT(*)
         FROM   TNUMERARIO_ITEM_SOLIC N, TNUMERARIO_SALDO_POR_ITEM S, TITEM I
         WHERE  N.NR_PROCESSO = S.NR_PROCESSO AND
                N.CD_ITEM = S.CD_ITEM AND
                N.TP_DESTINO IN ( '2', '3', '4' ) AND
                S.CD_ITEM = I.CD_ITEM AND
                S.VL_RECEBIDO < S.VL_SOLICITADO AND
                I.IN_ITEM_DI = '1' AND
                S.NR_PROCESSO = @nr_processo ) > 0
      UPDATE TPROCESSO 
      SET    IN_DI_LIBERADA = '0'
      WHERE  NR_PROCESSO = @nr_processo
    ELSE
      UPDATE TPROCESSO 
      SET    IN_DI_LIBERADA = '1'
      WHERE  NR_PROCESSO = @nr_processo
  END
END

-- ATUALIZA GESTAO
SELECT @cd_produto = CD_PRODUTO
FROM   TPROCESSO
WHERE  NR_PROCESSO = @nr_processo 

SELECT @dt_recebimento = DT_RECEBIMENTO
FROM   TRECEBIMENTO
WHERE  NR_PROCESSO     = @nr_processo AND
       NR_RECEBIMENTO  = @nr_recebimento

IF @cd_produto IN ( '01', '03' )
  EXEC sp_atz_evento @nr_processo, 'CD_EV_REC_IMP', @dt_recebimento
ELSE
  IF @cd_produto IN ( '02', '10' )
    EXEC sp_atz_evento @nr_processo, 'CD_EV_REC_EXP', @dt_recebimento

DECLARE c_pagto CURSOR FOR
  SELECT CD_ITEM
  FROM   TNUMERARIO_SALDO_POR_ITEM
  WHERE  NR_PROCESSO = @nr_processo

OPEN  c_pagto
FETCH c_pagto INTO @cd_item
WHILE @@fetch_status <> -1
BEGIN
  EXEC sp_atz_pagto @nr_processo, @cd_item
  FETCH c_pagto INTO @cd_item
END
CLOSE c_pagto
DEALLOCATE c_pagto


GO
