USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_solic_pagto_ag] (@NR_PROCESSO CHAR(18), @NR_LANC CHAR(3), @tp_processo char(1))  as  
  
 DECLARE @NR_LANCAMENTO CHAR(3),  @cd_item CHAR(3), @cd_moeda CHAR(3),  @cd_moeda_venda CHAR(3)    
 DECLARE @vl_compra FLOAT , @vl_venda FLOAT   
 DECLARE @tp_base_calculo CHAR(2)  
 DECLARE @cd_item_frete char(3)  
 DECLARE @TP_SOLICITACAO char(1)  
 DECLARE @cd_via_transp char(2)  
 DECLARE @tp_frete_master CHAR(1)
  
   --desembaraco 0   
   --ag consolidado 1  
   --ag direto 2  
 SET @TP_SOLICITACAO = CASE   
                       WHEN @tp_processo = '0' THEN '2'  
                       WHEN @tp_processo = '1' THEN '1'   
                       ELSE '0'  
                       END  
  
 SELECT @cd_via_transp = S.CD_VIA_TRANSPORTE   
  FROM TPROCESSO P, VW_SERVICO_GERAL S   
  WHERE P.NR_PROCESSO = @nr_processo  
    AND P.CD_SERVICO  = S.CD_SERVICO  
  
 SELECT @cd_item_frete = CASE   
     WHEN @cd_via_transp = '04' THEN  CD_ITEM_FRETE_AEREO   
     ELSE  CD_ITEM_FRETE_MAR  
     END  
  FROM TPARAMETROS  
  
 SET @NR_LANCAMENTO  = RIGHT( '000' + CONVERT( VARCHAR, ( ISNULL( @NR_LANC, 0)+1 ) ), 3)  
  
  SELECT @tp_frete_master = TP_FRETE_MASTER 
    FROM TMASTER M, THOUSE H
   WHERE M.CD_MASTER   = H.CD_MASTER
     AND H.NR_PROCESSO = @nr_processo 

  DECLARE c_itens CURSOR FOR  
    SELECT CD_ITEM, CD_MOEDA, VL_COMPRA_AG, VL_VENDA, CD_MOEDA_VENDA, TP_BASE_CALCULO  
    FROM   TPROCESSO_DESPESAS  
    WHERE  NR_PROCESSO = @nr_processo   
           AND IN_SOLICITADO = '0' AND TP_ORIGEM_DESPESA = '8' AND ISNULL(VL_COMPRA_AG,0) > 0   
           
  OPEN c_itens    

    FETCH c_itens INTO @cd_item, @cd_moeda, @vl_compra, @vl_venda, @cd_moeda_venda, @tp_base_calculo  
    WHILE @@fetch_status <> -1  
    BEGIN  

      IF @tp_frete_master = '0' OR @cd_item <> '001'
      BEGIN
      
        INSERT INTO TSOLIC_PAGTO (NR_PROCESSO, CD_ITEM, NR_LANCAMENTO, CD_MOEDA, VL_COMPRA, VL_COMPRA_EFETIVA,  
                                  CD_MOEDA_VENDA, VL_VENDA, VL_PAGTO, CD_STATUS, CD_CALCULO, TP_DESTINO, TP_SOLICITACAO)  
             VALUES (@nr_processo, @cd_item, @nr_lancamento, @cd_moeda, @vl_compra, @vl_compra,              
                     @cd_moeda_venda, @vl_venda,   
                     CASE WHEN @cd_moeda_venda = '790' THEN  @vl_compra ELSE 0.0 END, 
	    	     '0', '005', '2', @TP_SOLICITACAO)  

        SET @NR_LANCAMENTO  = RIGHT( '000' + CONVERT( VARCHAR, ( ISNULL( @NR_LANCAMENTO, 0)+1 ) ), 3)  

      END

      FETCH c_itens INTO @cd_item, @cd_moeda, @vl_compra, @vl_venda, @cd_moeda_venda, @tp_base_calculo  
    END  

  CLOSE c_itens  
  DEALLOCATE c_itens  
  
UPDATE TPROCESSO_DESPESAS SET IN_SOLICITADO = '1'  
     WHERE  NR_PROCESSO = @nr_processo   
         AND IN_SOLICITADO = '0' AND TP_ORIGEM_DESPESA = '8' AND ISNULL(VL_COMPRA_AG,0) > 0   
     
--INSERE O FRETE PARA PROCESSO DIRETOS  
  
SET @NR_LANCAMENTO  = RIGHT( '000' + CONVERT( VARCHAR, ( ISNULL( @NR_LANCAMENTO, 0)+1 ) ), 3)  
  
INSERT INTO TSOLIC_PAGTO (NR_PROCESSO, CD_ITEM, NR_LANCAMENTO, CD_MOEDA, VL_COMPRA, VL_COMPRA_EFETIVA,  
                                CD_MOEDA_VENDA, VL_VENDA, VL_PAGTO, CD_STATUS, CD_CALCULO, TP_DESTINO, TP_SOLICITACAO)  
       
SELECT P.NR_PROCESSO, @cd_item_frete, @nr_lancamento, P.CD_MOEDA_FRETE, P.VL_RATEIO, P.VL_FRETE,   
        P.CD_MOEDA_FRETE, P.VL_FRETE, 0.0, '0', '05','2', @TP_SOLICITACAO  
     FROM TPROCESSO P, TPRODUTO PR  
     WHERE P.NR_PROCESSO = @nr_processo    
     AND P.TP_PROCESSO = '0' --IDENTIFICA PROCESSO DIRETO  
     AND ((P.TP_FRETE = '0' AND PR.CD_PRODUTO = P.CD_PRODUTO AND PR.TP_PRODUTO = '01') OR    
           (P.TP_FRETE = '1' AND PR.CD_PRODUTO = P.CD_PRODUTO AND PR.TP_PRODUTO = '02'))    --IDENTIFICA PROCESSO COLLECT   
     AND  @cd_item_frete NOT IN (SELECT S.CD_ITEM FROM TSOLIC_PAGTO S   
          WHERE S.NR_PROCESSO = @nr_processo AND S.CD_STATUS  NOT IN('4','17'))




GO
