USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_atz_ref_cliente] @cd_cliente char(5), @cd_responsavel char(1), @cd_unid_neg char(2),
                                    @cd_produto char(2), @cd_evento char(3), @cd_area char(2), @cd_grupo char(3),
                                    @cd_analista_com char(4), @dt_inicio datetime, 
                                    @dt_fim datetime, @tipo char(1) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_responsavel char(1)
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_evento char(3)
DECLARE @cd_area char(2)
DECLARE @cd_analista_com char(4)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @tipo char(1)

SELECT @cd_grupo = 'XXX'
SELECT @cd_cliente = '00005'
SELECT @cd_responsavel = 'D'
SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_evento = 'XXX'
SELECT @cd_area = '09'
SELECT @cd_analista_com = '0056'
SELECT @dt_inicio = CONVERT (datetime, '20/04/2000', 103)
SELECT @dt_fim = convert (datetime, '06/05/2002', 103)
SELECT @tipo = '2'

ROLLBACK TRAN
SET XACT_ABORT OFF

*/

DECLARE @cd_referencia varchar(70)
DECLARE @cd_area_local char(2)
DECLARE @nm_area       varchar(50)

DECLARE @ptr_ref binary(16)
DECLARE @tamanho int
DECLARE @PrimVez bit
DECLARE @nr_processo char(18)

IF @tipo = '1'
BEGIN
DECLARE c_processo CURSOR FOR 
  SELECT DISTINCT F.NR_PROCESSO
  FROM   TFOLLOWUP F, TPROCESSO P, TEVENTO E, TEMPRESA_NAC EN
  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         F.CD_EVENTO = E.CD_EVENTO AND
         F.IN_APLICAVEL = '1' AND 
         P.CD_UNID_NEG = @cd_unid_neg  AND 
         P.CD_PRODUTO = @cd_produto  AND 
         P.IN_CANCELADO = '0' AND 
         P.IN_PRODUCAO = '1' AND
         ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'XXX' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'XXXXX' ) ) AND
         ( ( E.CD_RESPONSAVEL = @cd_responsavel ) OR ( @cd_responsavel = 'X' ) ) AND
         ( P.CD_UNID_NEG = @cd_unid_neg ) AND
         ( P.CD_PRODUTO = @cd_produto ) AND
         ( ( E.CD_EVENTO = @cd_evento ) OR ( @cd_evento = 'XXX' ) ) AND
         ( ( P.CD_ANALISTA_COMISSARIA = @cd_analista_com ) OR ( @cd_analista_com = 'XXXX' ) ) AND
         F.DT_REALIZACAO IS NULL
END
ELSE
BEGIN
DECLARE c_processo CURSOR FOR 
  SELECT DISTINCT F.NR_PROCESSO
  FROM   TFOLLOWUP F, TPROCESSO P, TEVENTO E, TAREA A, TEMPRESA_NAC EN
  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         F.CD_EVENTO = E.CD_EVENTO AND
         P.CD_AREA = A.CD_AREA AND
         F.IN_APLICAVEL = '1' AND 
         P.CD_UNID_NEG = @cd_unid_neg  AND 
         P.CD_PRODUTO = @cd_produto  AND 
         P.IN_CANCELADO = '0' AND 
         P.IN_PRODUCAO = '1' AND
         ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'XXX' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'XXXXX' ) ) AND
         ( ( E.CD_RESPONSAVEL = @cd_responsavel ) OR ( @cd_responsavel = 'X' ) ) AND
         ( P.CD_UNID_NEG = @cd_unid_neg ) AND
         ( P.CD_PRODUTO = @cd_produto ) AND
         ( ( E.CD_EVENTO = @cd_evento ) OR ( @cd_evento = 'XXX' ) ) AND
         ( ( A.CD_AREA = @cd_area ) or ( @cd_area = 'XX' ) ) AND
         ( ( P.CD_ANALISTA_COMISSARIA = @cd_analista_com ) OR ( @cd_analista_com = 'XXXX' ) ) AND
         F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim
END
OPEN c_processo
FETCH c_processo INTO @nr_processo
WHILE @@fetch_status <> -1 
BEGIN

  SELECT @PrimVez = 0

  DELETE TREF_CLIENTE_MEMO
  WHERE NR_PROCESSO = @nr_processo

  INSERT TREF_CLIENTE_MEMO ( NR_PROCESSO, TX_REFERENCIA )
  VALUES ( @nr_processo, '' )

  DECLARE c_ref CURSOR FOR
    SELECT R.CD_REFERENCIA, R.CD_AREA, A.NM_AREA
    FROM   TREF_CLIENTE R( NOLOCK ), TAREA A (NOLOCK)
    WHERE  ( R.NR_PROCESSO = @nr_processo ) AND 
           ( R.CD_REFERENCIA IS NOT NULL ) AND
           ( R.CD_AREA *= A.CD_AREA )
  
  OPEN c_ref
  FETCH c_ref INTO @cd_referencia, @cd_area_local, @nm_area

  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @tamanho = DATALENGTH( TX_REFERENCIA )
    FROM   TREF_CLIENTE_MEMO
    WHERE  NR_PROCESSO = @nr_processo

    SELECT @tamanho = ISNULL( @tamanho , 0 )

    SELECT @ptr_ref = ISNULL( TEXTPTR( TX_REFERENCIA ), 0 )
    FROM   TREF_CLIENTE_MEMO
    WHERE  NR_PROCESSO = @nr_processo 

    SELECT @cd_referencia = LTRIM( RTRIM( @cd_referencia ) ) 
    IF ( @tipo = '2' ) AND ( LTRIM( RTRIM( @nm_area ) ) <> '' )
      SELECT @cd_referencia = LTRIM( RTRIM( @cd_referencia ) ) + ' (' + LTRIM( RTRIM( @nm_area ) ) + ') '
    -- Atualizando Campo da Referência
    IF @PrimVez = 1 SELECT @cd_referencia = ', ' + @cd_referencia 

    UPDATETEXT TREF_CLIENTE_MEMO.TX_REFERENCIA @ptr_ref @tamanho 0 @cd_referencia 

    SELECT @PrimVez = 1

    FETCH c_ref INTO @cd_referencia, @cd_area_local, @nm_area
  END

  CLOSE c_ref
  DEALLOCATE c_ref

  FETCH c_processo INTO @nr_processo
END

CLOSE c_processo
DEALLOCATE c_processo


GO
