USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_lead_time_po]( @dt_inicio datetime, @dt_fim datetime, 
                                      @cd_fornecedor char(5), @cd_cliente char(5), @cd_grupo char(3) , @nr_identificador int OUTPUT  ) AS


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @cd_fornecedor char(5)
DECLARE @cd_cliente char(5)
DECLARE @cd_grupo char(3)

SELECT @dt_inicio   = CONVERT( datetime, '01/06/2003', 103 )
SELECT @dt_fim      = CONVERT( datetime, '30/06/2003', 103 )
SELECT @cd_fornecedor = 'X'
SELECT @cd_cliente = 'X'
SELECT @cd_grupo = 'X'


ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = MAX( NR_IDENTIFICADOR ) + 1
FROM   TREL_LEAD_TIME_PO

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT PO.NR_PROCESSO, ( SELECT CD_MERCADORIA 
                         FROM TPO_ITEM (NOLOCK)
                         WHERE NR_ITEM = '001' AND 
                               NR_PROCESSO = PO.NR_PROCESSO ) AS CD_MERCADORIA, 
       PO.CD_EXPORTADOR, PO.CD_IMPORTADOR,
       ( SELECT TFPO.DT_REALIZACAO 
         FROM   TFLP_PO TFPO
         WHERE  TFPO.NR_PROCESSO = PO.NR_PROCESSO AND
                TFPO.CD_EVENTO IN ( SELECT CD_EV_PED_REC FROM TPARAMETROS (NOLOCK) ) ) AS DT_RECEBIMENTO_PO,
       ( SELECT TFPO.DT_REALIZACAO
         FROM   TFLP_PO TFPO
         WHERE  TFPO.NR_PROCESSO = PO.NR_PROCESSO AND
                TFPO.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) ) AS DT_EMBARQUE,
       ( SELECT TFPO.DT_REALIZACAO
         FROM   TFLP_PO TFPO
         WHERE  TFPO.NR_PROCESSO = PO.NR_PROCESSO AND
                TFPO.CD_EVENTO IN ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS (NOLOCK) ) ) AS DT_DOCTOS_ORIG,
       ( SELECT TFPO.DT_REALIZACAO
         FROM   TFLP_PO TFPO
         WHERE  TFPO.NR_PROCESSO = PO.NR_PROCESSO AND
                TFPO.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS  (NOLOCK) ) ) AS DT_CHEGADA,
       ( SELECT TFPO.DT_REALIZACAO
         FROM   TFLP_PO TFPO
         WHERE  TFPO.NR_PROCESSO = PO.NR_PROCESSO AND
                TFPO.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) ) ) AS DT_DESEMB,
       ( SELECT TFPO.DT_REALIZACAO
         FROM   TFLP_PO TFPO
         WHERE  TFPO.NR_PROCESSO = PO.NR_PROCESSO AND
                TFPO.CD_EVENTO IN ( SELECT CD_EV_ENTR_MERC_FABR FROM TPARAMETROS  (NOLOCK) ) ) AS DT_ENTR_MERC_FABR
INTO #TMP_REL_LEAD_TIME_PO 
FROM  TPO PO (NOLOCK), /*TPO_ITEM POI,*/ TFLP_PO FPO (NOLOCK), TEMPRESA_NAC E (NOLOCK)
WHERE --PO.NR_PROCESSO = POI.NR_PROCESSO AND
      PO.NR_PROCESSO = FPO.NR_PROCESSO AND
      --POI.NR_ITEM = '001'              AND
      --POI.CD_MERCADORIA IN ( SELECT CD_MERCADORIA FROM TPO_ITEM WHERE NR_ITEM = '001' AND NR_PROCESSO = POI.NR_PROCESSO) AND
      PO.CD_IMPORTADOR = E.CD_EMPRESA AND
      ( ( PO.CD_IMPORTADOR = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
      ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
      ( ( PO.CD_EXPORTADOR = @cd_fornecedor ) OR ( @cd_fornecedor = 'X' ) ) AND
      ( FPO.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) 
GROUP BY PO.NR_PROCESSO, /*POI.CD_MERCADORIA,*/ PO.CD_EXPORTADOR, PO.CD_IMPORTADOR
--HAVING POI.CD_MERCADORIA IN ( SELECT CD_MERCADORIA FROM TPO_ITEM WHERE NR_ITEM = '001')

INSERT TREL_LEAD_TIME_PO( NR_IDENTIFICADOR, NR_PROCESSO, CD_MERCADORIA, CD_EXPORTADOR, CD_IMPORTADOR,
                          DT_REC_PO, DT_EMB, DT_DOCTOS_ORIG, DT_CHEGADA, DT_DESEMB, DT_ENTR_MERC, DT_REC_PO_DT_EMB, 
                          DT_EMB_DT_DOCTOS_ORIG, DT_DOCTOS_ORIG_DT_CHEG, DT_CHEG_DT_DESEMB, 
                          DT_REC_PO_DT_ENTR_MERC, DT_EMB_DT_ENTR_MERC, DT_CHEG_DT_ENTR_MERC ) 
SELECT @nr_identificador, NR_PROCESSO, CD_MERCADORIA, CD_EXPORTADOR, CD_IMPORTADOR, DT_RECEBIMENTO_PO, DT_EMBARQUE, 
       DT_DOCTOS_ORIG, DT_CHEGADA, DT_DESEMB, DT_ENTR_MERC_FABR,
       DATEDIFF( d, DT_RECEBIMENTO_PO, DT_EMBARQUE )       AS DT_REC_PO_DT_EMB,
       DATEDIFF( d, DT_EMBARQUE, DT_DOCTOS_ORIG )          AS DT_EMB_DT_DOCTOS_ORIG,
       DATEDIFF( d, DT_DOCTOS_ORIG, DT_CHEGADA )           AS DT_DOCTOS_ORIG_DT_CHEG,
       DATEDIFF( d, DT_CHEGADA, DT_DESEMB )                AS DT_CHEG_DT_DESEMB,
       DATEDIFF( d, DT_RECEBIMENTO_PO, DT_ENTR_MERC_FABR ) AS DT_REC_PO_DT_ENTR_MERC,
       DATEDIFF( d, DT_EMBARQUE, DT_ENTR_MERC_FABR )       AS DT_EMB_DT_ENTR_MERC,
       DATEDIFF( d, DT_CHEGADA, DT_ENTR_MERC_FABR )        AS DT_CHEG_DT_ENTR_MERC
FROM   #TMP_REL_LEAD_TIME_PO 

DROP TABLE #TMP_REL_LEAD_TIME_PO






GO
