USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_atz_myindaia_followup](@data int = 0) AS      
SET NOCOUNT ON      
/*      
BEGIN TRAN      
DECLARE @data int      
--*/      
DECLARE      
  @registros int,      
  @apCampo char(8),      
  @cdBroker char(3),      
  @txUpdate varchar(1024)      
      
IF ISNULL(@data, 0) = 0 SET @data = YEAR(GETDATE())-2      
SET @registros = 0      
PRINT 'Iniciando cópia de dados...'      
      
--seleciona os registros de exportação      
SELECT TOP 250 NR_PROCESSO, NM_TABELA, MIN(AP_USUARIO) AS AP_USUARIO      
INTO #TMP_FOLLOWUP      
FROM TATZ_MYINDAIA_FOLLOWUP (NOLOCK)      
/* Atendendo a cocorrencia 05081/07  (Denilza) excluí o ítem IW para que possam ser transferidos para a base WEB*/      
/*WHERE SUBSTRING(NR_PROCESSO,5,2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')*/      
WHERE SUBSTRING(NR_PROCESSO,5,2) NOT IN ('EW','FT','IF','PO','TE','TS')      
GROUP BY NR_PROCESSO, NM_TABELA      
ORDER BY AP_USUARIO, MIN(CD_ATUALIZACAO)      
      
DELETE PR      
FROM TATZ_MYINDAIA_FOLLOWUP PR (NOLOCK), #TMP_FOLLOWUP FE      
WHERE FE.NR_PROCESSO = PR.NR_PROCESSO      
  AND FE.NM_TABELA   = PR.NM_TABELA      
      
DELETE FU FROM MYINDAIA.DBO.TFOLLOWUP       FU (NOLOCK), #TMP_FOLLOWUP FE WHERE FU.NR_PROCESSO = FE.NR_PROCESSO      
DELETE FU FROM MYINDAIA.DBO.TFOLLOWUP_ETAPA FU (NOLOCK), #TMP_FOLLOWUP FE WHERE FU.NR_PROCESSO = FE.NR_PROCESSO      
DELETE FU FROM MYINDAIA.DBO.TFOLLOWUP_OBS   FU (NOLOCK), #TMP_FOLLOWUP FE WHERE FU.NR_PROCESSO = FE.NR_PROCESSO      
DELETE FU FROM MYINDAIA.DBO.TFLP_EXPORT     FU (NOLOCK), #TMP_FOLLOWUP FE WHERE FU.NR_PROCESSO = FE.NR_PROCESSO      
      
--inicio da seleção e inserção dos registros da tabela tb_followup da base myindaia em relação aos       
--processo que constam na tabela #TMP_PROCESSO      
INSERT INTO MYINDAIA.DBO.TFOLLOWUP (      
  NR_PROCESSO, CD_SERVICO, CD_EVENTO, DT_REALIZACAO, DT_PREVISTA, DT_LIMITE, NR_ORDEM, IN_APLICAVEL )      
SELECT DISTINCT      
  FP.NR_PROCESSO, FP.CD_SERVICO, FP.CD_EVENTO, FP.DT_REALIZACAO, FP.DT_PREVISTA, FP.DT_LIMITE, FP.NR_ORDEM, FP.IN_APLICAVEL      
FROM #TMP_FOLLOWUP ATZ      
  INNER JOIN TPROCESSO PR ( NOLOCK ) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )      
  INNER JOIN TFOLLOWUP FP ( NOLOCK ) ON ( FP.NR_PROCESSO = ATZ.NR_PROCESSO )      
WHERE ATZ.NM_TABELA   = 'TFOLLOWUP'      
--  AND ISNULL( PR.IN_LIBERADO,  '0' ) = '1'      
  AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'      
  AND ISNULL( FP.IN_BLOQUEADO, '0' ) = '0'      
  AND YEAR(PR.DT_ABERTURA) >= @data      
--verifica se ocorreram erros      
SET @registros = @registros + @@rowcount      
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFOLLOWUP'      
--termino da inclusão dos registros na tabela tb_followup do banco myindaia      
      
--inicio da seleção e inserção dos registros da tabela tb_followup_etapa da base myindaia em relação aos       
--processo que constam na tabela #TMP_PROCESSO      
INSERT INTO MYINDAIA.DBO.TFOLLOWUP_ETAPA (      
  CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, CD_FOLLOWUP_ETAPA, CD_ETAPA, CD_USUARIO, DT_ALTERACAO )      
SELECT DISTINCT      
  FP.CD_UNID_NEG, FP.CD_PRODUTO, FP.NR_PROCESSO, FP.CD_FOLLOWUP_ETAPA, FP.CD_ETAPA, FP.CD_USUARIO, FP.DT_ALTERACAO      
FROM #TMP_FOLLOWUP ATZ      
  INNER JOIN TPROCESSO PR ( NOLOCK ) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )      
  INNER JOIN TFOLLOWUP_ETAPA FP ( NOLOCK ) ON ( FP.NR_PROCESSO = ATZ.NR_PROCESSO )      
WHERE ATZ.NM_TABELA = 'TFOLLOWUP'      
--  AND ISNULL( PR.IN_LIBERADO,  '0' ) = '1'      
  AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'      
  AND YEAR(PR.DT_ABERTURA) >= @data      
--verifica se ocorreram erros      
SET @registros = @registros + @@rowcount      
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFOLLOWUP_ETAPA'      
--termino da inclusão dos registros na tabela tb_followup do banco myindaia      
      
      
--inicio da seleção e inserção dos registros da tabela tb_followup_etapa da base myindaia em relação aos       
--processo que constam na tabela #TMP_PROCESSO      
INSERT INTO MYINDAIA.DBO.TFOLLOWUP_OBS ( NR_PROCESSO, TX_OBSERVACAO )    SELECT FP.NR_PROCESSO, TX_OBS      
FROM #TMP_FOLLOWUP ATZ      
  INNER JOIN TPROCESSO PR ( NOLOCK ) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )      
  INNER JOIN TFOLLOWUP FP ( NOLOCK ) ON ( FP.NR_PROCESSO = ATZ.NR_PROCESSO )      
WHERE ATZ.NM_TABELA = 'TFOLLOWUP'      
--  AND ISNULL(PR.IN_LIBERADO,  '0') = '1'      
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'      
  AND YEAR(PR.DT_ABERTURA) >= @data      
  AND FP.CD_EVENTO = '022'      
  AND FP.TX_OBS IS NOT NULL      
--verifica se ocorreram erros      
SET @registros = @registros + @@rowcount       
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFOLLOWUP_OBS'      
--termino da inclusão dos registros na tabela tb_followup do banco myindaia      
      
--insere os registros selecionados na tflp_export(follow-up em linha)      
INSERT INTO MYINDAIA.DBO.TFLP_EXPORT (NR_PROCESSO)      
SELECT PR.NR_PROCESSO      
FROM #TMP_FOLLOWUP ATZ      
  INNER JOIN TPROCESSO PR ( NOLOCK ) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )      
WHERE ATZ.NM_TABELA = 'TFOLLOWUP'      
  AND SUBSTRING(PR.NR_PROCESSO, 3, 2) IN ('02','10')      
--  AND ISNULL(PR.IN_LIBERADO,  '0') = '1'      
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'      
  AND YEAR(PR.DT_ABERTURA) >= @data      
--verifica se ocorreram erros      
SET @registros = @registros + @@rowcount      
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_EXPORT'      
--termino da inserção dos registros      
      
/***** FOLLOW UP DE EVENTOS DESEMBARAÇO *****/      
DECLARE cEvento CURSOR LOCAL FOR      
    
  /*SELECT M10_AP_CAMPO, M10_CD_BROKER      
  FROM MYINDAIA.DBO.M10_DADOS A(NOLOCK), TEVENTO B  
  WHERE A.M10_TP_DADO = '1'      
 AND A.M10_CD_BROKER = B.CD_EVENTO and B.IN_MOSTRAR_WEB_EXP = '1'  
  ORDER BY M10_CD_BROKER     */  
  
  SELECT M10_AP_CAMPO, M10_CD_BROKER      
  FROM MYINDAIA.DBO.M10_DADOS (NOLOCK)      
  WHERE M10_TP_DADO = '1'      
    AND M10_CD_BROKER IN ( select CD_EVENTO from TEVENTO where IN_MOSTRAR_WEB_EXP = '1' and IN_ATIVO = '1' )
						/*('003','018','076','088','092','105','113','117','118','119','122','124','130','131','132','135','139','140',      
                          '141','143','147','149','165','181','204','211','213','214','227','235','236','250','251','252','261','268',      
                          '269','270','271','289','308','312','313','314','315','317','318','319','323','329','330','333','334','335',      
                          '336','337','342','343','344','347','348','367','369','370','371','372','373','374','398','400','402','403','427',      
                          '428','442','443','444','445','486','487','488','489','490','491','492','494','495','496','497','504','506',      
                          '507','517','524','525','527','528','526','531','545', '121', '440', '570', '571')*/
  ORDER BY M10_CD_BROKER      
      
OPEN cEvento      
FETCH cEvento INTO @apCampo, @cdBroker      
      
WHILE @@fetch_status = 0      
BEGIN      
  SET @txUpdate = 'UPDATE FE SET      
    RLZ_'+@apCampo+' = FU.DT_REALIZACAO, PVT_'+@apCampo+' = FU.DT_PREVISTA, IN_'+@apCampo+' = FU.IN_APLICAVEL      
  FROM MYINDAIA.DBO.TFLP_EXPORT FE (NOLOCK)      
    INNER JOIN #TMP_FOLLOWUP ATZ ON (ATZ.NR_PROCESSO = FE.NR_PROCESSO)      
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = FE.NR_PROCESSO)      
    INNER JOIN TFOLLOWUP FU (NOLOCK) ON (FU.NR_PROCESSO = FE.NR_PROCESSO AND FU.CD_EVENTO = '''+@cdBroker+''')      
  WHERE YEAR(PR.DT_ABERTURA) >= '+CAST(@data AS char)      
  exec(@txUpdate)      
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_EXPORT com o evento de Desembaraço '+@cdBroker      
  FETCH cEvento INTO @apCampo, @cdBroker      
END      
      
CLOSE cEvento      
DEALLOCATE cEvento  

/*------------------------------------FLAVIO DEADLINE*/
UPDATE MYINDAIA.DBO.TFLP_EXPORT SET  HR_CARGA=TV.HR_DEADLINE_CARGA , HR_TEMP=TV.HR_DEADLINE_CARTA_TEMP , HR_IMO=TV.HR_DEADLINE_IMO , HR_GATE= TV.HR_ABERTURA_GATE, HR_DRAFT=TV.HR_DEADLINE_BL
from MYINDAIA.DBO.TFLP_EXPORT TF 
inner join tprocesso tp on (tp.nr_processo=tf.nr_processo)
inner join tviagem_deadline tv on (TV.CD_UNID_NEG=TP.CD_UNID_NEG AND TV.CD_PRODUTO=TP.CD_PRODUTO AND TV.NR_VIAGEM=TP.NR_VIAGEM AND TV.CD_AGENTE=TP.CD_AGENTE AND TV.CD_EMBARCACAO=TP.CD_EMBARCACAO AND TV.TP_ESTUFAGEM=TP.TP_ESTUFAGEM)
/*------------------------------------FLAVIO DEADLINE*/   
    
      
PRINT 'Registros atualizados: '+CAST(@registros as varchar)      
DROP TABLE #TMP_FOLLOWUP      
--ROLLBACK TRAN      
SET NOCOUNT OFF      
  
  

GO
