USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [sp_di_classifica_item_2]( @nr_processo char(18), @nr_adicao char(3) output, @nr_item char(3) output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_adicao char(3)
DECLARE @nr_item char(3)

SELECT @nr_processo = '0101IA-000906-14'
SELECT @nr_adicao   = '001'
SELECT @nr_item     = '***'

UPDATE TDETALHE_MERCADORIA
SET CD_CFOP = NULL
WHERE NR_PROCESSO = @nr_processo
--*/

DECLARE @i_adicao                int
DECLARE @i_item                  int
DECLARE @s_adicao                char(3)
DECLARE @s_item                  char(3)
DECLARE @cd_ncm_sh               char(11)
DECLARE @cd_ncm_c8               char(8)
DECLARE @cd_naladi_sh            char(8)
DECLARE @cd_naladi_ncca          char(7)
DECLARE @cd_fabr_expo            char(1)
DECLARE @cd_exportador           char(5)
DECLARE @cd_fabricante           char(5)
DECLARE @cd_pais_origem          char(3)
DECLARE @cd_pais_aquisicao       char(3)
DECLARE @nr_oper_trat_prev       char(10)
DECLARE @cd_local_embarque       char(4)
DECLARE @cd_local_embarque_proc  char(4)
DECLARE @nr_destaque_ncm         char(3)
DECLARE @cd_moeda_negociada      char(3)
DECLARE @in_repassa_dados_adicao bit
DECLARE @cd_ausencia_fabric      char(1)

DECLARE @cd_regime_trib_ipi      char(1)
DECLARE @in_repassa_dados_cambio bit
DECLARE @in_moeda_unica          bit
DECLARE @nm_empresa1             char(60)
DECLARE @end_empresa1            char(40)
DECLARE @end_numero1             char(6)
DECLARE @end_compl1              char(21)
DECLARE @end_cidade1             char(25)
DECLARE @end_estado1             char(25)
DECLARE @cd_pais1                char(3)
DECLARE @nm_empresa2             char(60)
DECLARE @end_empresa2            char(40)
DECLARE @end_numero2             char(6)
DECLARE @end_compl2              char(21)
DECLARE @end_cidade2             char(25)
DECLARE @end_estado2             char(25)
DECLARE @cd_pais2                char(3)
DECLARE @pc_ii_ncm_str           char(6)
DECLARE @pc_ipi_ncm_str          char(6)
DECLARE @pc_ii_mercosul_str      char(6)
DECLARE @pc_ii_ncm               numeric(5,2)
DECLARE @pc_ipi_ncm              numeric(5,2)
DECLARE @pc_ii_mercosul          numeric(5,2)
DECLARE @nr_sequencia   	 int
DECLARE @existe_nve              bit
DECLARE @nEntrou                 bit
DECLARE @cd_exportador_capa      char(5)
--PUXAR CFOP DOS ITENS - FESTO - GUILHERME 11/04/2014
DECLARE @cd_cfop                 char(4)
DECLARE @cd_aplicacao_merc       char(1)

DECLARE @qt_total_itens_adicao   int
DECLARE @nr_adicao_verificacao   int

DECLARE @return INT

DECLARE @MAX_ITENS_ADICAO        INT
SET @MAX_ITENS_ADICAO = 80

SELECT @pc_ii_ncm                = 0
SELECT @pc_ipi_ncm               = 0
SELECT @pc_ii_mercosul           = 0
SELECT @existe_nve 		 = 0

SELECT @cd_local_embarque_proc = ''
SELECT @cd_local_embarque_proc = CASE D.CD_INCOTERM 
          WHEN 'CFR' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'CPT' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'DES' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'CIP' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'CIF' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'DDU' THEN P.CD_LOCAL_DESEMBARQUE
          ELSE P.CD_LOCAL_EMBARQUE
       END
FROM   TPROCESSO P (NOLOCK), TDECLARACAO_IMPORTACAO D (NOLOCK)
WHERE  ( D.NR_PROCESSO = @nr_processo ) AND
       ( P.NR_PROCESSO = D.NR_PROCESSO ) 

-- Traz os valores da capa da DI para variaveis de trabalho      
SELECT @in_repassa_dados_adicao = IN_REPASSA_DADOS_ADICAO,
       @cd_local_embarque       = CD_LOCAL_EMBARQUE,
       @cd_moeda_negociada      = CD_MOEDA_MLE,
       @cd_regime_trib_ipi      = CD_REG_TRIB_IPI,
       @in_repassa_dados_cambio = IN_REPASSA_DADOS_CAMBIO,
       @in_moeda_unica          = IN_MOEDA_UNICA
FROM   TDECLARACAO_IMPORTACAO (NOLOCK)
WHERE  ( NR_PROCESSO = @nr_processo )

IF LTRIM( RTRIM( @cd_local_embarque_proc ) ) <> ''
BEGIN
  SELECT @cd_local_embarque = @cd_local_embarque_proc  
END

SET @return = 0

IF EXISTS( SELECT NR_PROCESSO, NR_ADICAO, NR_ITEM 
           FROM   TDETALHE_MERCADORIA (NOLOCK) 
           WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ITEM = '***' ) )
BEGIN
  SELECT @cd_ncm_sh         = ISNULL( CD_NCM_SH, '' ),
         @cd_ncm_c8         = ISNULL( SUBSTRING( CD_NCM_SH, 1, 8 ), '' ),
         @cd_naladi_sh      = ISNULL( CD_NALADI_SH, '' ),
         @cd_naladi_ncca    = ISNULL( CD_NALADI_NCCA, '' ),
         @cd_fabr_expo      = ISNULL( CD_FABR_EXPO, '' ),
         @cd_exportador     = ISNULL( CD_EXPORTADOR, '' ),
         @cd_fabricante     = ISNULL( CD_FABRICANTE, '' ),
         @cd_pais_origem    = ISNULL( CD_PAIS_ORIGEM, '' ),
         @cd_pais_aquisicao = ISNULL( CD_PAIS_AQUISICAO, '' ),
         @nr_oper_trat_prev = ISNULL( NR_OPER_TRAT_PREV, '' ),
         @nr_destaque_ncm   = ISNULL( NR_DESTAQUE_NCM, '' ),
         @cd_cfop           = CD_CFOP
  FROM   TDETALHE_MERCADORIA (NOLOCK)
  WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ITEM = '***' )

  PRINT @cd_cfop

  SELECT @i_adicao = COUNT(*) 
  FROM   TADICAO_DE_IMPORTACAO  (NOLOCK)
  WHERE  ( NR_PROCESSO     = @nr_processo ) 

  IF EXISTS( SELECT NR_ADICAO
             FROM   TADICAO_DE_IMPORTACAO  (NOLOCK)
             WHERE  ( NR_PROCESSO                      = @nr_processo        ) AND
                    ( ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh          ) AND
                    ( ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh       ) AND
                    ( ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca     ) AND
                    ( ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador      ) AND
                    ( ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante      ) AND
                    ( ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem     ) AND
                    ( ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao  ) AND
                    ( ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev  ) AND
                    ( ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm    ) AND
                    ( ISNULL( CD_CFOP, '' )            = ISNULL(@cd_cfop, '')))
  BEGIN
    IF ( SELECT COUNT(*)  
         FROM   TADICAO_DE_IMPORTACAO  (NOLOCK)
         WHERE  ( NR_PROCESSO                      = @nr_processo        ) AND
                ( ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh          ) AND
                ( ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh       ) AND
                ( ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca     ) AND
                ( ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador      ) AND
                ( ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante      ) AND
                ( ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem     ) AND
                ( ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao  ) AND
                ( ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev  ) AND
                ( ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm    ) AND
                ( ISNULL( CD_CFOP, '' )            = ISNULL(@cd_cfop, '')) AND
                ( ISNULL( QT_ITENS_ADICAO, 0 ) < @MAX_ITENS_ADICAO ) ) > 1 
    BEGIN
      SELECT @qt_total_itens_adicao = MAX(QT_ITENS_ADICAO),
             @nr_adicao_verificacao = NR_ADICAO
      FROM   TADICAO_DE_IMPORTACAO  (NOLOCK)
      WHERE  ( NR_PROCESSO                      = @nr_processo        ) AND
             ( ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh          ) AND
             ( ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh       ) AND
             ( ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca     ) AND
             ( ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador      ) AND
             ( ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante      ) AND
             ( ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem     ) AND
             ( ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao  ) AND
             ( ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev  ) AND
             ( ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm    ) AND
             ( ISNULL( CD_CFOP, '' )            = ISNULL(@cd_cfop, '')) AND
             ( ISNULL( QT_ITENS_ADICAO, 0 ) < @MAX_ITENS_ADICAO )
      GROUP BY NR_ADICAO,QT_ITENS_ADICAO  
    END
    ELSE
    BEGIN
      IF ( SELECT COUNT(*)
           FROM   TADICAO_DE_IMPORTACAO  (NOLOCK)
           WHERE  ( NR_PROCESSO                      = @nr_processo        ) AND
                  ( ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh          ) AND
                  ( ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh       ) AND
                  ( ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca     ) AND
                  ( ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador      ) AND
                  ( ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante      ) AND
                  ( ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem     ) AND
                  ( ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao  ) AND
                  ( ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev  ) AND
                  ( ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm    ) AND
                  ( ISNULL( CD_CFOP, '' )            = ISNULL(@cd_cfop, '')) AND
                  ( ISNULL( QT_ITENS_ADICAO, 0 ) < @MAX_ITENS_ADICAO ) ) > 0
      BEGIN
        SELECT @nr_adicao_verificacao = NR_ADICAO,
               @qt_total_itens_adicao = ISNULL(QT_ITENS_ADICAO, 0)
        FROM   TADICAO_DE_IMPORTACAO  (NOLOCK)
        WHERE  ( NR_PROCESSO        = @nr_processo                      ) AND
               ( ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh          ) AND
               ( ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh       ) AND
               ( ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca     ) AND
               ( ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador      ) AND
               ( ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante      ) AND
               ( ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem     ) AND
               ( ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao  ) AND
               ( ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev  ) AND
               ( ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm    ) AND
               ( ISNULL( CD_CFOP, '' )            = ISNULL(@cd_cfop, '')) AND
               ( ISNULL( QT_ITENS_ADICAO, 0 ) < @MAX_ITENS_ADICAO )
      END
      ELSE
      BEGIN
        SELECT @nr_adicao_verificacao = ''
        SELECT @qt_total_itens_adicao = 0
      END
    END

    IF @qt_total_itens_adicao < @MAX_ITENS_ADICAO AND @qt_total_itens_adicao <> 0
    BEGIN  
      SELECT @nr_adicao = @nr_adicao_verificacao
    END
    ELSE
      SELECT @nr_adicao = NULL
  END 

  SELECT @s_item = '001'

  IF @nr_adicao IS NOT NULL
  BEGIN
    IF EXISTS ( SELECT * 
                FROM   TDI_NVE  (NOLOCK)
                WHERE NR_PROCESSO = @nr_processo AND NR_ADICAO = @nr_adicao ) 
      SELECT @existe_nve = 1
      ELSE SELECT @existe_nve = 0
  END

  -- TESTE DE EXISTÊNCIA DE ADICAO
  SELECT @nEntrou = 0    
  IF ( @nr_adicao IS NOT NULL  ) AND  @existe_nve = 0
  BEGIN
    IF EXISTS( 
            SELECT NR_ADICAO, QT_ITENS_ADICAO 
            FROM   TADICAO_DE_IMPORTACAO (NOLOCK)
            WHERE  ( NR_PROCESSO                      = @nr_processo       ) AND
                   ( ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh         ) AND
                   ( ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh      ) AND
                   ( ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca    ) AND
                   ( ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador     ) AND
                   ( ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante     ) AND
                   ( ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem    ) AND
                   ( ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao ) AND
                   ( ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev ) AND
                   ( ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm   ) AND
                   ( ISNULL( CD_CFOP, '' )            = ISNULL(@cd_cfop, '')))
    BEGIN
        SELECT @nEntrou = 1
    
        SELECT @s_adicao = NR_ADICAO, @i_item = QT_ITENS_ADICAO 
        FROM   TADICAO_DE_IMPORTACAO (NOLOCK)
        WHERE  ( NR_PROCESSO                      = @nr_processo       ) AND
               ( ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh         ) AND
               ( ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh      ) AND
               ( ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca    ) AND
               ( ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador     ) AND
               ( ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante     ) AND
   ( ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem    ) AND
               ( ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao ) AND
               ( ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev ) AND
               ( ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm   ) AND
               ( ISNULL( CD_CFOP, '' )            = ISNULL(@cd_cfop, '')) AND
               ( ISNULL( QT_ITENS_ADICAO, 0 ) < @MAX_ITENS_ADICAO )

        IF @i_item IS NOT NULL
          SELECT @i_item = @i_item + 1
        ELSE
          SELECT @i_item = 1
        
        SELECT @S_ITEM = CONVERT( CHAR(3), @i_item ) 
        SELECT @S_ITEM = RIGHT( ( '000' + RTRIM( @s_item ) ), 3 )
        
        UPDATE TADICAO_DE_IMPORTACAO
        SET    QT_ITENS_ADICAO = @i_item  
        WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao )
    END
    ELSE
    BEGIN
         SELECT @nEntrou = 0 
    END 
  END

  SELECT @pc_ii_ncm_str      = ALIQUOTA_II,
         @pc_ipi_ncm_str     = ALIQUOTA_IPI,
         @pc_ii_mercosul_str = ALIQUOTA_II_MERCOSUL
  FROM   TNCM (NOLOCK)
  WHERE  CODIGO = @cd_ncm_c8
--WHERE  CODIGO = @cd_ncm_sh
  
  
  -- ESTAVA TRAZENDO O VALOR EM BRANCO - GUILHERME 10/10/2011
  IF ISNULL(@pc_ii_mercosul_str, '') = '' SELECT @pc_ii_mercosul_str = 'NT'
  
  IF @pc_ii_ncm_str      IN ('NT', '') SELECT @pc_ii_ncm_str      = '000,00'
  IF @pc_ipi_ncm_str     IN ('NT', '') SELECT @pc_ipi_ncm_str     = '000,00'
  IF @pc_ii_mercosul_str IN ('NT', '') SELECT @pc_ii_mercosul_str = '000,00'

  SELECT @pc_ii_ncm      = ISNULL( CONVERT( numeric(5,2),( REPLACE( @pc_ii_ncm_str, ',', '.' ) ) ), 0 )
  SELECT @pc_ipi_ncm     = ISNULL( CONVERT( numeric(5,2),( REPLACE( @pc_ipi_ncm_str, ',', '.' ) ) ), 0 )
  SELECT @pc_ii_mercosul = ISNULL( CONVERT( numeric(5,2),( REPLACE( @pc_ii_mercosul_str, ',', '.' ) ) ), 0 )

  IF @nEntrou = 0 
  BEGIN
    -- Gera uma Nova Adicao
    SELECT @s_adicao = CONVERT( CHAR(3), ( @i_adicao + 1 ) )
    SELECT @s_adicao = RIGHT( ( '000' + RTRIM( @s_adicao ) ), 3 )
    SELECT @nm_empresa1  = ISNULL( NM_EMPRESA,  SPACE(60) ),
           @end_empresa1 = ISNULL( END_EMPRESA, SPACE(40) ),
           @end_numero1  = ISNULL( END_NUMERO,  SPACE(6) ),
           @end_compl1   = ISNULL( END_COMPL,   SPACE(21) ),
           @end_cidade1  = ISNULL( END_CIDADE,  SPACE(25) ), 
           @end_estado1  = ISNULL( END_ESTADO,  SPACE(25) ), 
           @cd_pais1     = ISNULL( CD_PAIS,     SPACE( 3) ) 
    FROM   TEMPRESA_EST  (NOLOCK)
    WHERE  CD_EMPRESA = @cd_exportador

    SELECT @nm_empresa2  = ISNULL( NM_EMPRESA,  SPACE(60) ),           @end_empresa2 = ISNULL( END_EMPRESA, SPACE(40) ),
           @end_numero2  = ISNULL( END_NUMERO,  SPACE( 6) ),
           @end_compl2   = ISNULL( END_COMPL,   SPACE(21) ),
           @end_cidade2  = ISNULL( END_CIDADE,  SPACE(25) ), 
           @end_estado2  = ISNULL( END_ESTADO,  SPACE(25) ), 
           @cd_pais2     = ISNULL( CD_PAIS,     SPACE( 3) ) 
    FROM   TEMPRESA_EST  (NOLOCK)
    WHERE  CD_EMPRESA = @cd_fabricante
    
    INSERT INTO TADICAO_DE_IMPORTACAO 
         ( NR_PROCESSO,             NR_ADICAO,               CD_MERCADORIA_NCM,       CD_MERC_NBM_SH,          
	   CD_NCM_SH,               CD_MERC_NALADI_SH,       CD_MERC_NALADI_NCC,      CD_AUSENCIA_FABRIC,      
           CD_FORNECEDOR,           CD_FABRICANTE,	     CD_PAIS_ORIG_MERC,       CD_PAIS_AQUIS_MERC,      
	   NM_FORN_ESTR,            ED_LOGR_FORN_ESTR,       ED_NR_FORN_ESTR,         ED_COMPL_FORN_ESTR,      
           ED_CIDAD_FORN_ESTR,      ED_ESTAD_FORN_ESTR,      NM_FABRICANTE_MERC,      ED_LOGR_FABRIC,          
           ED_NR_FABRIC,            ED_COMPL_FABRIC,         ED_CIDAD_FABRIC,         ED_ESTADO_FABRIC,        
	   QT_ITENS_ADICAO,         CD_LOC_COND_VENDA,       CD_MOEDA_NEGOCIADA,      NR_OPER_TRAT_PREV,
           NR_DESTAQUE_NCM, CD_CFOP )
    VALUES
         ( @nr_processo,            @s_adicao,               @cd_ncm_sh,              @cd_ncm_c8,              
	   @cd_ncm_c8,              @cd_naladi_sh,           @cd_naladi_ncca,         @cd_fabr_expo,           
	   @cd_exportador,          @cd_fabricante,          @cd_pais_origem,         @cd_pais_aquisicao,      
	   @nm_empresa1,            @end_empresa1,           @end_numero1,            @end_compl1,             
	   @end_cidade1,            @end_estado1,            @nm_empresa2,            @end_empresa2,           
	   @end_numero2,            @end_compl2,             @end_cidade2,            @end_estado2,            
	   1,                       @cd_local_embarque,      @cd_moeda_negociada,     @nr_oper_trat_prev,
           @nr_destaque_ncm, @cd_cfop )

    IF @in_repassa_dados_adicao = 1 AND LTRIM( RTRIM( @cd_exportador_capa ) ) <> ''
    BEGIN
      SELECT @cd_fabr_expo = @cd_fabr_expo
    END
    ELSE
    BEGIN
      UPDATE TADICAO_DE_IMPORTACAO 
      SET    CD_AUSENCIA_FABRIC = @cd_fabr_expo
      FROM   TADICAO_DE_IMPORTACAO (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo AND NR_ADICAO = @s_adicao
    END

    UPDATE TDECLARACAO_IMPORTACAO 
    SET    QT_ADICOES = @i_adicao + 1 
    WHERE ( NR_PROCESSO = @nr_processo )

    IF @in_moeda_unica = 1
    BEGIN
      UPDATE TADICAO_DE_IMPORTACAO
      SET    CD_MOEDA_NEGOCIADA = ISNULL( @cd_moeda_negociada, CD_MOEDA_NEGOCIADA )
      WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao )
    END

    /* 
    Infos sobre a integração da FESTO - Guilherme 23/04
    1 - CONSUMO 
    2 - REVENDA
    3101 - Consumo
    3102 - Revenda
    */

    IF ISNULL(@cd_cfop,'') <> ''
    BEGIN
      IF @cd_cfop = '3101'
        SET @cd_aplicacao_merc = '1'     
      ELSE
        SET @cd_aplicacao_merc = '2'
        
      UPDATE TADICAO_DE_IMPORTACAO
      SET    CD_APLICACAO_MERC = @cd_aplicacao_merc
      WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao )  
    END 
    
    IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO 
                   FROM   TRIBUTO  (NOLOCK)
                   WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao ) AND ( CD_RECEITA_IMPOSTO = '0001' ) )
      INSERT INTO TRIBUTO ( NR_PROCESSO,  NR_ADICAO, CD_RECEITA_IMPOSTO, CD_TIPO_ALIQ_IPT, PC_ALIQ_NORM_ADVAL ) 
      VALUES              ( @nr_processo, @s_adicao, '0001', '1', @pc_ii_ncm )  
    IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO 
                   FROM   TRIBUTO  (NOLOCK)
                   WHERE  ( NR_PROCESSO = @nr_processo ) AND 
                          ( NR_ADICAO = @s_adicao ) AND 
                          ( CD_RECEITA_IMPOSTO = '0002' ) )
       INSERT INTO TRIBUTO ( NR_PROCESSO,  NR_ADICAO, CD_RECEITA_IMPOSTO, CD_TIPO_ALIQ_IPT, PC_ALIQ_NORM_ADVAL, CD_TIPO_BENEF_IPI ) 
       VALUES              ( @nr_processo, @s_adicao, '0002', '1', @pc_ipi_ncm, @cd_regime_trib_ipi )  
    /*IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO 
                   FROM   TDESTAQUE_NCM  (NOLOCK)
                   WHERE  ( NR_PROCESSO = @nr_processo ) AND 
                          ( NR_ADICAO = @s_adicao ) ) AND 
       ( @nr_destaque_ncm <> '' )
    BEGIN
      SELECT @nr_sequencia = ISNULL( ( SELECT MAX( NR_SEQUENCIA ) 
                                       FROM   TDESTAQUE_NCM (NOLOCK)
                                       WHERE  NR_PROCESSO = @nr_processo AND
                                              NR_ADICAO   = @s_adicao ), 0 ) + 1 
      INSERT INTO TDESTAQUE_NCM ( NR_PROCESSO,  NR_ADICAO, NR_SEQUENCIA,  NR_DESTAQUE_NCM ) 
      VALUES                    ( @nr_processo, @s_adicao, @nr_sequencia, @nr_destaque_ncm )  
    END*/
  END

  UPDATE TDETALHE_MERCADORIA 
  SET    NR_ADICAO = @s_adicao, 
         NR_ITEM = @s_item
  WHERE  ( NR_PROCESSO = @nr_processo ) AND 
         ( NR_ITEM = '***' )  

  SELECT @nr_adicao = NR_ADICAO, 
         @nr_item   = NR_ITEM 
  FROM   TDETALHE_MERCADORIA (NOLOCK)
  WHERE  ( NR_PROCESSO = @nr_processo ) AND 
         ( NR_ADICAO = @s_adicao ) AND 
         ( NR_ITEM = @s_item )  

  EXEC sp_di_repassa_dados_adicao @nr_processo 
  EXEC sp_di_repassa_dados_cambio @nr_processo

END
ELSE
  SET @return = -1

-- COMENTANDO ACIMA E COLOCADO AQUI PARA SEMPRE VERIFICAR O DESTAQUE DO NCM - MICHEL - 06/08/2009 - OCORRENCIA 10449/09
SET @s_adicao = ISNULL(@s_adicao, @nr_adicao)
IF NOT EXISTS(SELECT NR_PROCESSO, NR_ADICAO
              FROM TDESTAQUE_NCM (NOLOCK)
              WHERE (NR_PROCESSO = @nr_processo)
                AND (NR_ADICAO = @s_adicao))
   AND (@nr_destaque_ncm <> '')
BEGIN
	SELECT @nr_sequencia = ISNULL((SELECT MAX(NR_SEQUENCIA)
	                               FROM TDESTAQUE_NCM (NOLOCK)
	                               WHERE NR_PROCESSO = @nr_processo
	                                 AND NR_ADICAO   = @s_adicao), 0) + 1

	INSERT INTO TDESTAQUE_NCM(NR_PROCESSO, NR_ADICAO, NR_SEQUENCIA, NR_DESTAQUE_NCM)
	VALUES(@nr_processo, @s_adicao, @nr_sequencia, @nr_destaque_ncm)
END

RETURN @return

/*
SELECT * FROM TDETALHE_MERCADORIA WHERE NR_PROCESSO = @NR_PROCESSO 

ROLLBACK TRAN
SELECT * FROM TDETALHE_MERCADORIA WHERE NR_PROCESSO = @NR_PROCESSO 

SET XACT_ABORT OFF
--*/








GO
