USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_pe_marca_proc]( @nr_processo char(18), @cd_unid_neg char(2) ) AS

UPDATE TPE
SET IN_SELECIONADO =  '1'
WHERE (NR_PROCESSO = @NR_PROCESSO) AND (CD_UNID_NEG = @cd_unid_neg)






GO
