USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_calc_zero]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
SELECT @Resultado = 0
RETURN(0)



GO
