USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [SP_MAIL_PENDENTES_AGENTE] @unidade char(2), @produto char(2), @evento char(3), @agente char(4) AS

  /********************************************************************************************************************/
  /* NOME      : SP_MAIL_PENDENTES							    			      */
  /* AUTOR     : VÍTOR ZANIN 										              */
  /* DATA      : 22/02/2005 										              */
  /* DESCRIÇÃO : STORED CHAMADA PELO JOB, PARA SEPARAR OS PROCESSOS E CHAMAR O MYSENDMAIL, QUE ENVIARA O REL POR MAIL */
  /********************************************************************************************************************/

--  DECLARE @UNIDADE CHAR(2)
--  DECLARE @PRODUTO CHAR(2)
--  DECLARE @EVENTO  CHAR(3)
--  SELECT  @UNIDADE = '01'
--  SELECT  @PRODUTO = '01'
--  SELECT  @EVENTO  = '088' 

  -- SELECIONANDO REGISTROS PARA O TAL EVENTO

  INSERT INTO TMAIL_PENDENTES ( NR_PROCESSO, PREVISAO, ATRASO, SALDO_PROC, CLIENTE, STATUS )
  SELECT F2.NR_PROCESSO PROCESSO, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, 0 VL_NUM_TAXA, EN.NM_EMPRESA, '-'  
  FROM  TPROCESSO PR           (NOLOCK)
    INNER JOIN TFOLLOWUP F2    (NOLOCK) ON F2.NR_PROCESSO =  PR.NR_PROCESSO AND F2.CD_EVENTO = @EVENTO
    INNER JOIN TFOLLOWUP F        (NOLOCK) ON F.NR_PROCESSO =  F2.NR_PROCESSO
    INNER JOIN TEMPRESA_NAC EN    (NOLOCK) ON EN.CD_EMPRESA  =  PR.CD_CLIENTE 
  WHERE  F.CD_EVENTO     = (SELECT CD_EV_BASICO FROM TFOLLOWUP SE (NOLOCK) WHERE SE.NR_PROCESSO = F2.NR_PROCESSO AND SE.CD_EVENTO = @EVENTO)
    AND  F.DT_REALIZACAO IS NOT NULL
    AND  @UNIDADE IN (PR.CD_UNID_NEG, '')
    AND  @PRODUTO IN (PR.CD_PRODUTO, '') 
    AND  PR.IN_CANCELADO = '0'
    AND  PR.CD_ARMAZEM_DESCARGA = @agente
    AND  DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) > -1
    AND  F2.IN_APLICAVEL = 1
    AND  F2.IN_BLOQUEADO = 0
    AND  F2.DT_REALIZACAO IS NULL
    AND  F2.DT_PREVISTA > convert(datetime,'01/01/2008',103)
  ORDER  BY ATRASO DESC

  -- RODA TODA A PREVIA FEITA ANTERIORMENTE, PARA FILTRAR SOMENTE PELOS DIAS UTEIS
  IF (SELECT COUNT(*) FROM TMAIL_PENDENTES) > 0
  BEGIN
    -- RODA TODA A PREVIA FEITA ANTERIORMENTE, PARA FILTRAR SOMENTE PELOS DIAS UTEIS        
    DECLARE @NR_PROCESSO CHAR(15)  
    DECLARE @ATRASO      INT
    DECLARE @DT_HOJE     DATETIME  
    DECLARE @PREVISAO    DATETIME  
    SELECT  @DT_HOJE = CONVERT(DATETIME,GETDATE(),103)  

    DECLARE CCURSOR CURSOR FOR
    SELECT DISTINCT NR_PROCESSO, CONVERT(DATETIME, PREVISAO, 103), ATRASO 
    FROM TMAIL_PENDENTES
    open cCursor
    fetch cCursor into @NR_PROCESSO, @PREVISAO, @ATRASO 
    while @@fetch_status = 0
    BEGIN       
      -- VERIFICAÇÃO DE DIAS UTEIS  
      WHILE DATEDIFF( D, @PREVISAO, @DT_HOJE ) > 0  
      BEGIN  
        IF DATEPART( dw, @PREVISAO ) IN ( 1, 7 )  
          SELECT @ATRASO = @ATRASO - 1  
        ELSE  
          IF CONVERT( datetime, @PREVISAO, 103 ) IN ( SELECT CONVERT( datetime, DT_FERIADO, 103 )  FROM   TFERIADO )  
            SELECT @ATRASO = @ATRASO - 1  
        SELECT @PREVISAO = @PREVISAO + 1  
      END  
      UPDATE TMAIL_PENDENTES  SET ATRASO = @ATRASO WHERE NR_PROCESSO = @NR_PROCESSO       
      
      FETCH CCURSOR INTO @NR_PROCESSO, @PREVISAO, @ATRASO
    END
    CLOSE CCURSOR
    DEALLOCATE CCURSOR       
  END  
  -- PROCESSOS REALIZADOS HOJE

  INSERT INTO TMAIL_PENDENTES ( NR_PROCESSO, PREVISAO, ATRASO, SALDO_PROC, CLIENTE, STATUS )
  SELECT F2.NR_PROCESSO PROCESSO, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, 0 VL_NUM_TAXA, EN.NM_EMPRESA, '+'
  FROM  TPROCESSO PR           (NOLOCK)
    INNER JOIN TFOLLOWUP F2    (NOLOCK) ON F2.NR_PROCESSO =  PR.NR_PROCESSO AND F2.CD_EVENTO = @EVENTO
	INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON EN.CD_EMPRESA  =  PR.CD_CLIENTE 
  WHERE  @UNIDADE IN (PR.CD_UNID_NEG, '')
    AND  @PRODUTO IN (PR.CD_PRODUTO, '') 
    AND  PR.IN_CANCELADO  = '0'
    AND  PR.CD_ARMAZEM_DESCARGA = @agente
    AND  F2.DT_REALIZACAO BETWEEN CONVERT(DATETIME,GETDATE()-1,103) AND CONVERT(DATETIME,GETDATE()+1,103)
  ORDER  BY ATRASO DESC

--  SELECT * FROM TMAIL_PENDENTES
--  DELETE FROM TMAIL_PENDENTES










GO
