USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ENVIA_EMAIL](@DE VARCHAR(100), @PARA VARCHAR(500), @ASSUNTO VARCHAR(300), @MENSAGEM VARCHAR(1000)) AS
BEGIN
    DECLARE @COMANDOSHELL VARCHAR(2000)
    DECLARE @HOST         VARCHAR(100)
    DECLARE @PORTA        VARCHAR(10)
    DECLARE @LOGIN        VARCHAR(100)
    DECLARE @SENHA        VARCHAR(100)

    BEGIN TRY
        SELECT @HOST  = NM_HOST,
           @PORTA = CONVERT(VARCHAR, NR_PORTA),
           @LOGIN = NM_LOGIN,
           @SENHA = NM_SENHA
        FROM VW_CONFIG_MAIL

        --/*
        --SET @COMANDOSHELL = 'H:\MYSENDMAIL.EXE "' + @HOST + ';' + @PORTA + ';' + @LOGIN + ';' + @SENHA + ';' +
        --   @DE + ';' + @PARA + ';' + @ASSUNTO + ';' + @MENSAGEM + '"'
        SET @COMANDOSHELL = 'C:\MYSENDMAIL.EXE "' + @HOST + ';' + @PORTA + ';' + @LOGIN + ';' + @SENHA + ';' +
           @DE + ';' + @PARA + ';' + @ASSUNTO + ';' + @MENSAGEM + '"'
        --*/SET @COMANDOSHELL = '\\INDAIA09\DRIVE_H\MYSENDMAIL.EXE /?'
        PRINT @COMANDOSHELL
        EXEC XP_CMDSHELL @COMANDOSHELL
    END TRY
    BEGIN CATCH
        PRINT ERROR_MESSAGE()
    END CATCH
END
GO
