USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18) 
SELECT  @nr_processo = '0101I0-1277-00'
*/

CREATE PROCEDURE [sp_di_libera_cc_propria] ( @nr_processo char(18) ) AS

DECLARE @in_di_liberada char(1)

SELECT @in_di_liberada = ISNULL( IN_DI_LIBERADA, '0' )
FROM   TPROCESSO 
WHERE  NR_PROCESSO = @nr_processo

IF @in_di_liberada = '2' 
  RETURN 0

IF ( EXISTS( SELECT *
             FROM   TEMPRESA_NAC E, TPROCESSO P
             WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
                    P.NR_PROCESSO = @nr_processo AND
                    IN_LIBERA_DI = '1' ) ) AND
  ( ( SELECT COUNT(*)
      FROM   TCLIENTE_BANCO_LIBERADO B, TPROCESSO P
      WHERE  B.CD_UNID_NEG = P.CD_UNID_NEG AND
             B.CD_PRODUTO = P.CD_PRODUTO AND
             B.CD_CLIENTE = P.CD_CLIENTE AND
             B.IN_ATIVO = '1' AND
             P.NR_PROCESSO = @nr_processo ) > 0 )
BEGIN
  UPDATE TPROCESSO 
  SET    IN_DI_LIBERADA = '1'
  WHERE  NR_PROCESSO = @nr_processo
END

-- Libera as DI´s com tributos pago pelo cliente
IF ( ( SELECT COUNT(*)
       FROM   TPROCESSO P, TCLIENTE_NUMERARIO N
       WHERE  P.CD_UNID_NEG = N.CD_UNID_NEG AND
              P.CD_PRODUTO = N.CD_PRODUTO AND
              P.CD_CLIENTE = N.CD_CLIENTE AND
              P.CD_SERVICO = N.CD_SERVICO AND
              N.CD_ITEM IN ( SELECT CD_ITEM_II FROM TPARAMETROS ) AND
              N.TP_DESTINO IN ( '1' ) AND
              P.NR_PROCESSO = @nr_processo ) > 0 ) AND
   ( ( SELECT COUNT(*)
       FROM   TPROCESSO P, TCLIENTE_NUMERARIO N
       WHERE  P.CD_UNID_NEG = N.CD_UNID_NEG AND
              P.CD_PRODUTO = N.CD_PRODUTO AND
              P.CD_CLIENTE = N.CD_CLIENTE AND
              P.CD_SERVICO = N.CD_SERVICO AND
              N.CD_ITEM IN ( SELECT CD_ITEM_IPI FROM TPARAMETROS ) AND
              N.TP_DESTINO IN ( '1' ) AND
              P.NR_PROCESSO = @nr_processo ) > 0 ) AND
   ( ( SELECT COUNT(*)
       FROM   TPROCESSO P, TCLIENTE_NUMERARIO N
       WHERE  P.CD_UNID_NEG = N.CD_UNID_NEG AND
              P.CD_PRODUTO = N.CD_PRODUTO AND
              P.CD_CLIENTE = N.CD_CLIENTE AND
              P.CD_SERVICO = N.CD_SERVICO AND
              N.CD_ITEM IN ( SELECT CD_ITEM_SISCOMEX FROM TPARAMETROS ) AND
              N.TP_DESTINO IN ( '1' ) AND
              P.NR_PROCESSO = @nr_processo ) > 0 )
BEGIN
  UPDATE TPROCESSO 
  SET    IN_DI_LIBERADA = '1'
  WHERE  NR_PROCESSO = @nr_processo
END

-- Libera todas as DI´s dependendo do parâmetro
IF ( EXISTS( SELECT *
             FROM   TEMPRESA_NAC E, TPROCESSO P
             WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
                    P.NR_PROCESSO = @nr_processo AND
                    IN_LIBERA_DI = '1' ) ) AND
   ( ( SELECT COUNT(*)
       FROM   TPROCESSO P, TCLIENTE_NUMERARIO N, TITEM I
       WHERE  P.CD_UNID_NEG = N.CD_UNID_NEG AND
              P.CD_PRODUTO = N.CD_PRODUTO AND
              P.CD_CLIENTE = N.CD_CLIENTE AND
              P.CD_SERVICO = N.CD_SERVICO AND
              N.CD_ITEM = I.CD_ITEM AND
              I.IN_ITEM_DI = '1' AND
              N.TP_DESTINO IN ( '2', '3' ) AND
              P.NR_PROCESSO = @nr_processo ) = 0 )
BEGIN
  UPDATE TPROCESSO 
  SET    IN_DI_LIBERADA = '1'
  WHERE  NR_PROCESSO = @nr_processo
END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
