USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_repassa_dt_vecto_fat] (@nr_boleto char(10), @dt_vencimento datetime ) AS

UPDATE TS_FATURA 
SET    DT_VENCTO_FATURA = @dt_vencimento
FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
WHERE  F.NR_BOLETO <> '' AND
       F.NR_BOLETO = @nr_boleto AND
       F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
       P.NR_PROCESSO = FP.NR_PROCESSO

UPDATE TBOLETO_FATURA 
SET    DT_VENCIMENTO = @dt_vencimento
WHERE  NR_BOLETO <> '' AND
       NR_BOLETO = @nr_boleto AND
       IN_CANCELADO = '0'


GO
