USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.sp_seleciona_proc   Script Date: 18/03/2000 18:58:11 AM ******/
CREATE PROCEDURE [sp_po_selec_proc]( @nr_processo char(18), @cFlag char(1), @cNum char(1) ) AS

-- @cNum = 1 => DI
-- @cNum = 0 => LI

IF @cNum = '1'
BEGIN
   UPDATE TPO
     SET IN_MONTADO = @cFlag
     FROM TPO A, 
                TDETALHE_MERCADORIA B
     WHERE (B.NR_PROCESSO = @nr_processo) AND
                    (A.NR_PROCESSO = B.NR_PROC_PO)
END
ELSE  
BEGIN
   UPDATE TPO
     SET IN_MONTADO = @cFlag
     FROM TPO A, 
                TLICENCA_ITENS B
     WHERE (B.NR_PROCESSO = @nr_processo) AND
                    (A.NR_PROCESSO = B.NR_PROC_PO)
END












GO
