USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_pe_prep_inc_proc]( @nr_processo char(18), @nr_proc_old char(18) ) AS

declare @cd_imp char(5)
declare @cd_exp char(5)

SELECT @cd_imp = CD_IMPORTADOR, 
       @cd_exp = CD_EXPORTADOR
FROM TPE 
WHERE NR_PROCESSO = @nr_proc_old

INSERT TPREPARA_PE
(NR_PROCESSO, NR_PROC_OLD, CD_IMPORTADOR, CD_EXPORTADOR, IN_PREPARACAO)
VALUES ( @nr_processo, @nr_proc_old, @cd_imp, @cd_exp, '0' )




GO
