USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [SP_CREATE_FILE_IMP_IMPORTADORES_X_GRUPO] AS

DECLARE @execstr1 VARCHAR(8000)
DECLARE @CD_GRUPO CHAR(3)
DECLARE @SQL VARCHAR(1000)
DECLARE @CD_EMPRESA CHAR(5)
DECLARE @NM_EMPRESA CHAR(150)
DECLARE @file CHAR(50)

SELECT DISTINCT CD_GRUPO 
  INTO #TMP_GRUPOS
  FROM TEMPRESA_NAC
 WHERE ISNULL(CD_GRUPO,'') <> ''

WHILE ( SELECT COUNT(*) FROM #TMP_GRUPOS ) > 0 
BEGIN

  SELECT TOP 1 @CD_GRUPO = CD_GRUPO
    FROM #TMP_GRUPOS

  set @file = 'option_imp_importador'+@CD_GRUPO+'.txt'
  EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @file, 1

  SELECT CD_EMPRESA, NM_EMPRESA 
    INTO #TMP_EMPRESAS
    FROM TEMPRESA_NAC (NOLOCK)
   WHERE ISNULL(CD_GRUPO,'') = @CD_GRUPO
     AND IN_IMPORTADOR = '1' 
	 AND IN_ATIVO = '1'
   ORDER BY NM_EMPRESA

  WHILE ( SELECT COUNT(*) FROM #TMP_EMPRESAS ) > 0 
  BEGIN

    SELECT TOP 1 @CD_EMPRESA = CD_EMPRESA, @NM_EMPRESA = RTRIM(LTRIM(NM_EMPRESA)) FROM #TMP_EMPRESAS

    SET @execstr1 = '<option value='+@CD_EMPRESA+'>'+rtrim(ltrim(@NM_EMPRESA))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @file, 0

    DELETE FROM #TMP_EMPRESAS WHERE CD_EMPRESA = @CD_EMPRESA

  END 
 
  DROP TABLE #TMP_EMPRESAS

  DELETE FROM #TMP_GRUPOS WHERE CD_GRUPO = @CD_GRUPO

END

DROP TABLE #TMP_GRUPOS



GO
