USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_calc_liberacao_bl]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_agente         char(4)
DECLARE @vl_liberacao_bl   float
DECLARE @vl_taxa_frete     float
DECLARE @vl_resultado      numeric (13,3)
SELECT  @Resultado         = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_agente     = CD_AGENTE,
       @vl_taxa_frete = VL_TAXA_FRETE
FROM   TPROCESSO
WHERE  ( NR_PROCESSO = @nr_processo )
IF @@rowcount = 0
BEGIN
  -- Processo nao cadastrado
  RETURN(1)
END
ELSE
BEGIN
  -- PESQUISA TAXA DA AGENCIA
  SELECT @vl_liberacao_bl   = ISNULL( VL_LIBERACAO_BL, 0 )
  FROM   TAGENTE A,
         TAGENTE_TAXA T
  WHERE  A.CD_AGENTE   = @cd_agente AND
         A.CD_TAXA_IMP = T.CD_TAXA
  IF @@rowcount = 0
  BEGIN
    -- Taxa da Ag^ncia nao cadastrada
    RETURN(2)
  END
  ELSE
  BEGIN
    -- CALCULA TAXA DE LIBERACAO DO BL
    SELECT @vl_resultado = ROUND ( ( @vl_liberacao_bl * @vl_taxa_frete ) , 2)
    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
    RETURN(0)
  END
END



GO
