USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROC [sp_fin_gera_tab_juros] @cd_moeda_juros char(3), @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
            @dt_atual datetime, @dt_final datetime, @in_rel_reemb char(1) AS 

/*
SET XACT_ABORT ON 
BEGIN TRAN

DECLARE @cd_moeda_juros char(3)
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_atual datetime
DECLARE @dt_final datetime
DECLARE @in_rel_reemb char(1)

SELECT @cd_moeda_juros = '111'
SELECT @cd_unid_neg    = '01'
SELECT @cd_produto     = '01'
SELECT @cd_grupo       = '002'
SELECT @cd_cliente     = 'X'
SELECT @dt_atual       = CONVERT( datetime, '16/11/2000', 103 )
SELECT @dt_final       = CONVERT( datetime, '16/11/2000', 103 )
SELECT @in_rel_reemb   = '1'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_compara          datetime
DECLARE @menor_dt_pagto_proc datetime
DECLARE @menor_dt_pagto_adm  datetime
DECLARE @menor_dt_pagto      datetime
DECLARE @dt_juros            datetime
DECLARE @vl_tx_cambio        float
DECLARE @vl_juros            float
DECLARE @vl_acumulado        float

SELECT @dt_compara = ( @dt_atual - 7 )

IF @in_rel_reemb = '1'
BEGIN
--  Retirado em 25/02/2004 - pq certos lançamentos não existiam na TSOLIC_PAGTO e não pegava a menor data
--  SELECT ( SELECT MAX( DT_PAGTO )
--           FROM   TSOLIC_PAGTO S
--           WHERE  S.NR_PROCESSO = FP.NR_PROCESSO AND
--                  S.CD_ITEM     = FI.CD_ITEM ) DT_PAGTO

  SELECT ( SELECT MAX( DT_LANCAMENTO )
           FROM   TFATURAMENTO_CC FI2
           WHERE  FI2.NR_PROCESSO = FP.NR_PROCESSO AND
                  FI2.CD_ITEM     = FI.CD_ITEM ) DT_PAGTO
  INTO #TMP_DATA
  FROM   TS_FATURA F, 
         TS_FATURA_PROCESSO FP, 
         TFATURAMENTO_CC FI,
         TPROCESSO P,
         TEMPRESA_NAC EN,
         TITEM I
  WHERE  F.CD_UNID_NEG = @cd_unid_neg AND
         ( ( F.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO  = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         FI.CD_ITEM = I.CD_ITEM AND
         F.IN_CANCELADO = '0' AND
         I.CD_TIPO_ITEM = 'D' AND
         ISNULL( F.NR_NOTA_FATURA, '' ) <> '' AND
         ( CONVERT( datetime, F.DT_FATURA, 103 ) BETWEEN @dt_compara AND @dt_atual ) AND
          LTRIM( RTRIM( ISNULL( F.NR_NOTA_FATURA, '' ) ) ) <> '' AND
         NOT EXISTS ( ( SELECT FI.DT_LANCAMENTO
                        FROM   TFATURAMENTO_CC F2
                        WHERE  F2.NR_PROCESSO = FI.NR_PROCESSO AND  
                               F2.CD_ITEM = FI.CD_ITEM AND
                               F2.CD_UNID_NEG = FI.CD_UNID_NEG AND
                               F2.CD_PRODUTO = FI.CD_PRODUTO AND
                               F2.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND
                               ISNULL( F2.VL_ITEM, 0 ) = ISNULL( FI.VL_ITEM, 0) AND
                               F2.IN_RESTITUI = '1' AND
                               F2.DT_LANCAMENTO = FI.DT_LANCAMENTO ) ) AND
         FI.CD_ITEM NOT IN ( SELECT CD_ITEM_CPMF FROM TPARAMETROS )

  SELECT @menor_dt_pagto_proc = MIN( DT_PAGTO )
  FROM   #TMP_DATA

  DROP TABLE #TMP_DATA

  SELECT @menor_dt_pagto_adm = MIN( A.DT_PAGTO )
  FROM   TADM A, 
         TTAXA_CPMF X,
         TCT_CONTABIL C,
         TEMPRESA_NAC E,
         TFAVORECIDO F
  WHERE  A.CD_FAVORECIDO = F.CD_FAVORECIDO AND
         F.CGC_EMPRESA = E.CGC_EMPRESA AND
         A.CD_UNID_NEG = @cd_unid_neg AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         A.CD_CT_CONTABIL = C.CD_CT_CONTABIL AND year(A.DT_LANCTO) = C.ANO_CONTA AND
         ( CONVERT( datetime, A.DT_PAGTO, 103 ) BETWEEN @dt_compara AND @dt_atual ) AND
         A.DT_PAGTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
         A.TP_NATUREZA = 'C' AND
         ISNULL( A.NR_DOCTO, '' ) <> ''

  IF ISNULL( @menor_dt_pagto_proc, @dt_atual ) <= ISNULL( @menor_dt_pagto_adm, @dt_atual )
     SELECT @menor_dt_pagto = ISNULL( @menor_dt_pagto_proc, @dt_atual )
  ELSE
     SELECT @menor_dt_pagto = ISNULL( @menor_dt_pagto_adm, @dt_atual )

  SELECT @dt_juros = @dt_atual
END
ELSE
BEGIN
  SELECT @menor_dt_pagto = @dt_atual

  SELECT @dt_juros = @dt_final
END

DELETE TJUROS_REEMB
WHERE  CD_MOEDA_JUROS = @cd_moeda_juros

SELECT @vl_acumulado = 0

WHILE @dt_juros >= @menor_dt_pagto
BEGIN
  SELECT @vl_tx_cambio = ISNULL( ( SELECT MAX( ISNULL( TX_CAMBIO, 0 ) )
                                   FROM   TTAXA_CAMBIO
                                   WHERE  CD_MOEDA = @cd_moeda_juros AND
                                          @dt_juros BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA ), 0 )
  
  SELECT @vl_acumulado = @vl_acumulado + @vl_tx_cambio
  SELECT @vl_juros     = ROUND( ( @vl_acumulado / 3000 ), 7 )

  INSERT TJUROS_REEMB ( CD_MOEDA_JUROS, DT_JUROS, VL_INDICE, VL_JUROS, VL_ACUMULADO )
  VALUES ( @cd_moeda_juros, @dt_juros, @vl_tx_cambio, @vl_juros, @vl_acumulado  )

  SELECT @dt_juros = @dt_juros - 1
END
GO
