USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_atz_obs_rel] (@nr_identificador int ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_analista char(4)
                                                                        
DECLARE @cd_servico char(3)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @tipo integer
DECLARE @nr_identificador int 
*/

DECLARE @nr_processo_fetch char(18)
DECLARE @cd_empresa_fetch char(5)
DECLARE @cd_servico_fetch char(3)
DECLARE @cd_analista_fetch char(4)
DECLARE @nr_conhecimento char(18)
DECLARE @nr_di char(10)
DECLARE @nm_canal char(10)
DECLARE @cd_referencia char(15)
DECLARE @dt_chegada datetime 
DECLARE @dt_receb_doc datetime 
DECLARE @dt_reg_di datetime 
DECLARE @dt_desemb datetime 
DECLARE @dt_remocao datetime 
DECLARE @cd_ev_remocao char(3)
DECLARE @nr_proc_flp char(18)     
DECLARE @in_aplicavel bit        
DECLARE @cd_evento char(3)

DECLARE @ptr_proc     binary(16)
DECLARE @ptr_followup binary(16)
DECLARE @tamanho      int
DECLARE @in_obs_unica char(1)
DECLARE @in_obs_por_data char(1)
DECLARE @caracter char(1)
DECLARE @lControla integer

    DECLARE c_processo CURSOR FOR
      SELECT NR_PROCESSO
         FROM TREL_AND_SERVICOS
         WHERE NR_IDENTIFICADOR = @NR_IDENTIFICADOR


OPEN c_processo
FETCH c_processo INTO @nr_processo_fetch
WHILE @@fetch_status <> -1
BEGIN

  SELECT @cd_ev_remocao = CD_EV_REMOCAO FROM TPARAMETROS

  -- Achando Descricao para Observacoes do Processo
  SELECT @in_obs_unica = IN_OBS_UNICA,
         @in_obs_por_data = IN_OBS_POR_DATA
  FROM   TCLIENTE_HABILITACAO H, TPROCESSO P
  WHERE  P.NR_PROCESSO = @nr_processo_fetch AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE

  IF @in_obs_unica = '1'
  BEGIN
    IF @in_obs_por_data <> '1'
    BEGIN
      DECLARE c_obs CURSOR FOR
        SELECT CD_EVENTO
          FROM   TFOLLOWUP
          WHERE  TX_OBS IS NOT NULL AND
                 NR_PROCESSO = @nr_processo_fetch
          ORDER BY NR_ORDEM
    END
    ELSE
    BEGIN  
      DECLARE c_obs CURSOR FOR
        SELECT CD_EVENTO
          FROM   TFOLLOWUP
          WHERE  TX_OBS IS NOT NULL AND
                 NR_PROCESSO = @nr_processo_fetch
          ORDER BY DT_REALIZACAO, NR_ORDEM
    END 
  END
  ELSE
  BEGIN
    DECLARE c_obs CURSOR FOR
      SELECT CD_EVENTO
        FROM   TFOLLOWUP
        WHERE  TX_OBS IS NOT NULL AND
                        NR_PROCESSO = @nr_processo_fetch
        ORDER BY NR_ORDEM
  END

  SELECT @lControla = 0

   UPDATE TREL_AND_SERVICOS SET TX_OBS = '' WHERE NR_IDENTIFICADOR = @nr_identificador AND NR_PROCESSO = @nr_processo_fetch 

      OPEN c_obs
      FETCH c_obs INTO @cd_evento
      WHILE @@fetch_status = 0
      BEGIN
        IF @lControla = 0 
        BEGIN
          SELECT @tamanho = DATALENGTH( TX_OBS )
            FROM TREL_AND_SERVICOS
            WHERE NR_IDENTIFICADOR = @nr_identificador AND NR_PROCESSO = @nr_processo_fetch 
  
          SELECT @ptr_proc = ISNULL( TEXTPTR(TX_OBS), 0 )
            FROM TREL_AND_SERVICOS
            WHERE NR_IDENTIFICADOR = @nr_identificador AND NR_PROCESSO = @nr_processo_fetch 

          SELECT @ptr_followup = ISNULL( TEXTPTR(TX_OBS), 0 )
            FROM   TFOLLOWUP
            WHERE  NR_PROCESSO = @nr_processo_fetch AND CD_EVENTO = @cd_evento

          --Atualizando Campo do FollowUp
          UPDATETEXT TREL_AND_SERVICOS.TX_OBS @ptr_proc @tamanho NULL TFOLLOWUP.TX_OBS @ptr_followup
  
          -- Inserindo quebra de linha
          SELECT @tamanho = DATALENGTH( TX_OBS )
            FROM TREL_AND_SERVICOS
            WHERE NR_IDENTIFICADOR = @nr_identificador AND NR_PROCESSO = @nr_processo_fetch 
   
          SELECT @ptr_proc = ISNULL( TEXTPTR(TX_OBS), 0 )
            FROM TREL_AND_SERVICOS
            WHERE NR_IDENTIFICADOR = @nr_identificador AND NR_PROCESSO = @nr_processo_fetch 
    
          SELECT @caracter = CHAR(13)
          UPDATETEXT TREL_AND_SERVICOS.TX_OBS @ptr_proc @tamanho NULL @caracter
  
          IF @cd_evento = @cd_ev_remocao 
          BEGIN 
            SELECT @lControla = 1
          END
        END
        FETCH c_obs INTO @cd_evento
      END
      CLOSE c_obs

    DEALLOCATE c_obs

  FETCH c_processo INTO @nr_processo_fetch

END

CLOSE c_processo
DEALLOCATE c_processo

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/









GO
