USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [sp_ddimport_custo_job] AS

/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON
*/

SET NOCOUNT ON


DECLARE @nr_identificador int

DECLARE @nr_fatura      varchar(50)
DECLARE @email_ddimport varchar(8000)
DECLARE @email_cliente  varchar(50)

DECLARE @dt_vencto_nota datetime, 
        @dt_nota        datetime

DECLARE @sigla           char(3) , @nr_processo      char(18), @nr_nota          char(6)
DECLARE @tp_frete        char(1) , @nr_pedido        char(10), @nr_item_po       char(5)
DECLARE @cd_moeda_mle    char(3) , @nr_adicao        char(3) , @cd_frete         char(1) 
DECLARE @moeda_neg       char(3) , @cd_mercadoria    varchar(30), @cd_item_frete    char(3)
DECLARE @cd_item_irrf    char(3) , @cd_item_sda      char(3) , @cd_item_cpmf     char(3)
DECLARE @cd_item_afrmm   char(3) , @cd_item_cofins   char(3) , @cd_item_siscomex char(3)
DECLARE @nr_nota_entrada char(10), @dt_emissao_relat char(10), @nr_item_cliente  char(4)

DECLARE @vl_nota        float, @vl_irrf            float, @vl_sda             float
DECLARE @qtde           float, @vl_merc            float, @vl_item            float
DECLARE @vl_fob	        float, @pl_merc            float, @vl_peso            float
DECLARE @vl_cpmf        float, @vl_despf           float, @vl_arm             float
DECLARE @vl_frete_rd    float, @vl_marinha         float, @vl_multa           float
DECLARE @vl_capat       float, @vl_txlibbl         float, @vl_txdesc          float
DECLARE @vl_comissao    float, @vl_decex           float, @vl_laudo           float
DECLARE @vl_movtopri    float, @vl_ccntr           float, @vl_outras_desp     float
DECLARE @vl_txsisx      float, @vl_frete           float, @vl_thc_terminal    float
DECLARE @vl_pis		float, @vl_cofins	   float


SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ) , 0 ) + 1
FROM   TDDIMPORT_CUSTO

SELECT @dt_emissao_relat = CONVERT( char(10), ( GETDATE() - 1 ), 103)


SELECT @cd_item_irrf     = '415',            -- item imposto de renda
       @cd_item_sda      = CD_ITEM_SDA,      -- item sda
       @cd_item_cpmf     = CD_ITEM_CPMF,     -- item cpmf
       @cd_item_afrmm    = CD_ITEM_AFRMM,    -- item marinha mercante
       @cd_item_siscomex = CD_ITEM_SISCOMEX, -- item siscomex
       @cd_item_cofins   = CD_ITEM_COFINS    -- item cofins
FROM TPARAMETROS

-- ITEM FRETE
SELECT @cd_item_frete = CD_ITEM    
  FROM TITEM
 WHERE CD_ITEM = '001'


DECLARE c_proc CURSOR FOR
  SELECT DISTINCT P.NR_PROCESSO, 
                  DM.NR_PROC_PO, DM.NR_ITEM_PO, DM.CD_MERCADORIA, DM.QT_MERC_UN_COMERC, DM.VL_MLE_ITEM, DM.PL_MERCADORIA, 
                  A.CD_MOEDA_NEGOCIADA, A.NR_ADICAO, P.TP_FRETE,  
                  T.DT_FATURA, T.NR_NOTA_FATURA, T.VL_LIQUIDACAO, T.DT_VENCTO_FATURA
   FROM TPROCESSO P 
            INNER JOIN TEMPRESA_NAC E          ON (  E.CD_EMPRESA   = P.CD_CLIENTE  ) 
            INNER JOIN TDETALHE_MERCADORIA DM  ON (  DM.NR_PROCESSO = P.NR_PROCESSO )
            INNER JOIN TADICAO_DE_IMPORTACAO A ON (  A.NR_PROCESSO  = P.NR_PROCESSO AND DM.NR_ADICAO = A.NR_ADICAO )  
            INNER JOIN TFATURAMENTO_CC C       ON (  P.NR_PROCESSO  = C.NR_PROCESSO    ) 
            INNER JOIN TS_FATURA T             ON (  C.NR_SOLIC_FAT = T.NR_SOLICITACAO AND 
                                                     P.CD_UNID_NEG  = T.CD_UNID_NEG    AND
                                                     P.CD_PRODUTO   = T.CD_PRODUTO     )      
  WHERE     P.CD_PRODUTO IN ( '01', '03' )
        AND P.IN_CANCELADO = '0'     
        AND T.IN_CANCELADO = '0'             
        AND C.IN_CANCELADO = '0'             
        AND E.CD_GRUPO     = '006' 
        AND T.DT_FATURA    = convert( datetime, @dt_emissao_relat, 103 )
  ORDER BY P.NR_PROCESSO, DM.NR_ITEM_PO

OPEN c_proc
FETCH c_proc INTO @nr_processo, 
                  @nr_pedido, @nr_item_po, @cd_mercadoria, @qtde, @vl_item, @pl_merc,
                  @moeda_neg, @nr_adicao, @cd_frete,
                  @dt_nota,  @nr_nota, @vl_nota, @dt_vencto_nota
                  
WHILE @@fetch_status = 0
BEGIN

  -- FOB na moeda
  SELECT @vl_fob = ISNULL( ( VL_TOTAL_MLE_MN / TX_MLE ), 0 )
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo

  -- Coeficiente do Valor da Mercadoria
  SET @vl_merc = @vl_fob / @vl_item

  -- Coeficiente de Peso
  IF @pl_merc <> 0 
  BEGIN
    SELECT @vl_peso = ISNULL( ( PL_CARGA / @pl_merc ), 0 )
      FROM TDECLARACAO_IMPORTACAO
     WHERE NR_PROCESSO = @nr_processo
  END
  ELSE
  BEGIN
    SELECT @vl_peso = 0
  END

  -- Número da Fatura
  SELECT @nr_fatura = NR_FATURA, @nr_item_cliente = NR_ITEM_CLIENTE
    FROM TPO_ITEM
   WHERE NR_PROCESSO  = @nr_pedido
         AND NR_ITEM = @nr_item_po

  -- Código da moeda negociada
  SELECT @cd_moeda_mle = CD_MOEDA_MLE
    FROM TDECLARACAO_IMPORTACAO
   WHERE NR_PROCESSO = @nr_processo
  
  -- Sigla da Moeda
  SELECT @sigla = AP_MOEDA
    FROM TMOEDA_BROKER
   WHERE CD_MOEDA = @cd_moeda_mle

  -- Data NFServiço / No NFServico / Valor NFServico / Dt Vencto NFServico


  -- IRRF
  SET @vl_irrf = 0
  SELECT @vl_irrf = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_irrf

  -- SDA
  SET @vl_sda = 0
  SELECT @vl_sda = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_sda

  -- CPMF
  SET @vl_cpmf = 0
  SELECT @vl_cpmf = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_cpmf

  -- Despesas Financeira
  SET @vl_despf = 0
  SELECT @vl_despf = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = '230'

  -- Armazenagem
  SET @vl_arm = 0
  SELECT @vl_arm = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = '015'

  -- Frete Rodoviário
  SET @vl_frete_rd = 0
  SELECT @vl_frete_rd = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = '421'

  -- Marinha Mercante
  SET @vl_marinha = 0
  SELECT @vl_marinha = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO  = @nr_processo 
         AND  CD_ITEM = @cd_item_afrmm

  -- Multa
  SET @vl_multa = 0
  SELECT @vl_multa = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '074'

  -- Capatazia
  SET @vl_capat = 0
  SELECT @vl_capat = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND  CD_ITEM = '040'

  -- Tx Lib BL
  SET @vl_txlibbl = 0
  SELECT @vl_txlibbl = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND  CD_ITEM = '076'
  
  -- Tx Desconsolidação
  SET @vl_txdesc = 0
  SELECT @vl_txdesc = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '060'

  -- Serviço Aduaneiro ( Comissão )
  SET @vl_comissao = 0
  SELECT @vl_comissao = SUM( VL_ITEM )
    FROM TFATURAMENTO_CC 
   WHERE NR_PROCESSO = @nr_processo AND
         CD_ITEM IN ( SELECT CD_ITEM FROM TITEM WHERE CD_TIPO_ITEM = 'R' )

  -- DECEX (LI)
  SET @vl_decex = 0
  SELECT @vl_decex = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '115'

  -- Laudo Técnico
  SET @vl_laudo = 0
  SELECT @vl_laudo = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '148'

  -- Movto Zona Primária ( Movimentação )
  SET @vl_movtopri = 0
  SELECT @vl_movtopri = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '305'

  -- Caução Conteiner ( Depósito Conteiner )
  SET @vl_ccntr = 0
  SELECT @vl_ccntr = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '044'

  -- Taxa Siscomex
  SET @vl_txsisx = 0
  SELECT @vl_txsisx = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_siscomex

  -- THC ( TERMINAL )
  SET @vl_thc_terminal = 0
  SELECT @vl_thc_terminal = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo
         AND CD_ITEM = '110'

  -- Tipo de Frete
  SELECT @tp_frete = SUBSTRING( DESCRICAO, 1, 1 )
  FROM   TTP_FRETE
  WHERE  CODIGO = @cd_frete

  -- Valor do Frete
  SET    @vl_frete = 0  
  IF @tp_frete = 'C'
  BEGIN
    SELECT @vl_frete   = ISNULL( VL_ITEM, 0 )
      FROM TFATURAMENTO_CC 
     WHERE NR_PROCESSO = @nr_processo
           AND CD_ITEM = @cd_item_frete
  END
  ELSE
  BEGIN
    SELECT @vl_frete = ( ISNULL( VL_TOTAL_FRETE_MN ,0 ) * @vl_peso ) 
      FROM TDECLARACAO_IMPORTACAO
     WHERE NR_PROCESSO = @nr_processo
  END

  -- Outras Despesa ( COFINS )
  SELECT @vl_outras_desp = ISNULL( SUM( VL_ITEM ), 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_cofins

  --Nota Fiscal Entrada
  SELECT TOP 1 @nr_nota_entrada = ISNULL( NR_NOTA, '' )
    FROM TPROCESSO_NF
   WHERE NR_PROCESSO  = @nr_processo AND 
         IN_CANCELADO = '0'

  --Base de cálculo do PIS / COFINS
  
  --Valor do PIS
  SELECT @vl_pis = VL_PIS_ITEM
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo
  --SELECT * FROM TDETALHE_MERCADORIA WHERE VL_COFINS_ITEM <> '0'

  --Valor do COFINS
  SELECT @vl_cofins = VL_COFINS_ITEM
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo
  
  --Valor do PIS sobre armazenagem
  
  --Valor do COFINS sobre armazenagem
   
  INSERT TDDIMPORT_CUSTO
       ( NR_IDENTIFICADOR, NR_DI, NR_PEDIDO, TX_CAMBIO_REG_DI, NR_ITEM_PEDIDO,                                       -- 1
  	 NR_FATURA, CD_PRODUTO, QTDE, VL_FOB_ITEM_MNEG,	RESERVA_1, VL_SEGURO,                                        -- 2
	 VL_CPMF, RESERVA_2, RESERVA_3, RESERVA_4, VL_II, VL_IPI, VL_ICMS,                                           -- 3
	 VL_FRETE, RESERVA_5, VL_DESPESAS_FIN, RESERVA_6, RESERVA_7,                                                 -- 4
  	 DT_FATURA, SL_MOEDA, DT_NF_SERVICO_DESP, NR_NF_SERVICO_DESP,                                                -- 5
  	 VL_NF_SERVICO_DESP, DT_VENCTO_NF_SERVICO_DESP, VL_IRRF_DESP,                                                -- 6
  	 RESERVA_8, RESERVA_9, NR_ADICAO_DI, RESERVA_10, REF_DESP, RESERVA_11,                                       -- 7   
  	 VL_TX_SISCOMEX, VL_ARMAZENAGEM, VL_SDA, NR_NF_ENTRADA, RESERVA_12,                                          -- 8
	 VL_MULTA, TP_FRETE, REF_EMB_DDIMPORT, VL_FRETE_ROD, VL_MARINHA,                                             -- 9
	 VL_CAPATAZIA, VL_REMOCAO_DAP, VL_TX_LIB_BL, VL_TX_DESC, VL_SERV_ADUAN,                                      -- 10
	 VL_DECEX_LI, VL_FITP, VL_LAUDO_TECN, VL_MOV_PRI, VL_MOV_RETRO, VL_CAUCAO_CNTR,                              -- 11
	 VL_DESPESA_1, VL_DESPESA_2, VL_DESPESA_3, VL_OUTRAS_DESPESA, VL_TX_CAMBIO_FRETE_DI,                         -- 12
	 VL_TX_CAMBIO_SEGURO_DI, VL_TX_CAMBIO_DOLAR_DI, DT_FECHAMENTO, NR_ITEM_EMBARQUE,                             -- 13
	 CD_DELIVERY_NOTE, VL_BASE_CALCULO_PIS_COFINS, VL_PIS, VL_COFINS, VL_PIS_ARMAZENAGEM, VL_COFINS_ARMAZENAGEM )-- 14
   SELECT @nr_identificador, NR_DECLARACAO_IMP, @nr_pedido, DI.TX_MLE, @nr_item_po,                                                                             -- 1
          @nr_fatura, @cd_mercadoria, @qtde, @vl_item, ( @vl_thc_terminal  * @vl_merc ), ( DI.VL_TOT_SEGURO_MNEG * @vl_merc ),                                  -- 2 
          (@vl_cpmf * @vl_merc), 0, 0, 0, (ISNULL(DI.VL_TOTAL_II,0) * @vl_merc), (ISNULL(DI.VL_TOTAL_IPI,0) * @vl_merc), (ISNULL(DI.VL_TOT_ICMS,0) * @vl_merc), -- 3 
          @vl_frete, 0, ( @vl_despf * @vl_merc ), 0, 0,                                                                                                         -- 4
          @dt_nota, @sigla, @dt_nota, @nr_nota,                                                                                                                 -- 5 
          @vl_nota, @dt_vencto_nota, ( @vl_irrf * @vl_merc ),                                                                                                   -- 6  
          '', '', @nr_adicao, '', SUBSTRING( P.NR_PROCESSO, 5, 10 ) , '',                                                                                       -- 7
          ( @vl_txsisx * @vl_merc ), ( @vl_arm * @vl_merc ),( @vl_sda * @vl_merc ), @nr_nota_entrada, '',                                                       -- 8 
          ( @vl_multa * @vl_merc ), @tp_frete, @nr_pedido, ( @vl_frete_rd * @vl_merc ), ( @vl_marinha * @vl_merc ),                                             -- 9
          (@vl_capat * @vl_merc), 0, (@vl_txlibbl * @vl_merc), (@vl_txdesc * @vl_merc), (@vl_comissao * @vl_merc),                                              -- 10
          (@vl_decex * @vl_merc), 0, (@vl_laudo * @vl_merc), (@vl_movtopri * @vl_merc), 0, (@vl_ccntr * @vl_merc),                                              -- 11  
          0, 0, 0, ( @vl_outras_desp * @vl_merc ), ISNULL( DI.TX_FRETE, 0 ),                                                                                    -- 12
          ISNULL( DI.TX_SEGURO, 0 ), ISNULL( DI.TX_DOLAR, 0 ), NULL, @nr_item_cliente,                                                            -- 13
          '', 0, @vl_pis, @vl_cofins, 0, 0                                                                                                                      -- 14
    FROM  TPROCESSO P (nolock)
	  join TDECLARACAO_IMPORTACAO DI (nolock) on ( P.NR_PROCESSO = DI.NR_PROCESSO )
	  --join TDETALHE_MERCADORIA DM    (nolock) on ( P.NR_PROCESSO = DM.NR_PROCESSO )
    WHERE P.NR_PROCESSO = @nr_processo


   FETCH c_proc INTO @nr_processo, 
                     @nr_pedido, @nr_item_po, @cd_mercadoria, @qtde, @vl_item, @pl_merc,
                     @moeda_neg, @nr_adicao, @cd_frete,
                     @dt_nota,  @nr_nota, @vl_nota, @dt_vencto_nota

END
CLOSE c_proc
DEALLOCATE c_proc


SELECT  CAST( ISNULL( NR_DI, '' ) AS CHAR(12) ) AS NR_DI,                                                   	        	  			-- Número da Di
        CAST( ISNULL( NR_PEDIDO, '' ) AS CHAR(10) ) AS NR_PEDIDO,                                                		  			-- Número do Pedido
        CAST( CAST( ISNULL( TX_CAMBIO_REG_DI, 0 ) AS DECIMAL( 10, 5) ) AS CHAR(10) ) AS TX_CAMBIO_REG_DI,              		  			-- Taxa de Cambio Reg.DI Moeda Fob( 5 casas decimais )
        CAST( ISNULL( NR_ITEM_PEDIDO, '' ) AS CHAR(5) ) AS NR_ITEM_PEDIDO,                                            		  			-- Número do Item Pedido
  	CAST( ISNULL( NR_FATURA, '' ) AS CHAR(16) ) AS NR_FATURA,                                                		  			-- Número da Fatura 
        CAST( ISNULL( CD_PRODUTO, '' ) AS CHAR(18) ) AS CD_PRODUTO,                                               		  			-- Código do Produto
        CAST( CAST( ISNULL( QTDE, 0 ) AS DECIMAL(17, 3) ) AS CHAR(17) ) AS QTDE,                                		  			-- Quantidade ( casas decimais )
        CAST( CAST( ISNULL( VL_FOB_ITEM_MNEG, 0 ) AS DECIMAL(16, 5) ) AS CHAR(16) ) AS VL_FOB_ITEM_MNEG,               		  			-- Valor Fob do Item na Moeda ( 5 casas Decimais) 	
        CAST( CAST( ISNULL( RESERVA_1, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS RESERVA_1,                          		  			-- Valor THC Terminal
        CAST( CAST( ISNULL( VL_SEGURO, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_SEGURO,                          		  			-- Seguro Internacional                              
	CAST( CAST( ISNULL( VL_CPMF, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_CPMF,                             		  			-- CPMF
        CAST( CAST( ISNULL( RESERVA_2, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS RESERVA_2,                          		  			-- Reserva 02
        CAST( CAST( ISNULL( RESERVA_3, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS RESERVA_3,                          		  			-- Reserva 03 
        CAST( CAST( ISNULL( RESERVA_4, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS RESERVA_4,                          		  			-- Reserva 04 
        CAST( CAST( ISNULL( VL_II, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_II,                              		          			-- II 
        CAST( CAST( ISNULL( VL_IPI, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_IPI,                        			  			-- IPI
        CAST( CAST( ISNULL( VL_ICMS, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_ICMS,                   		                  			-- ICMS
	CAST( CAST( ISNULL( VL_FRETE, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_FRETE,                          		          			-- Frete Internacional
        CAST( CAST( ISNULL( RESERVA_5, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS RESERVA_5,                		                  			-- Reserva 05
        CAST( CAST( ISNULL( VL_DESPESAS_FIN, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_DESPESAS_FIN,           		          			-- Despesas Financeiras
        CAST( CAST( ISNULL( RESERVA_6, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS RESERVA_6,                		                  			-- Reserva 06 
        CAST( CAST( ISNULL( RESERVA_7, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS RESERVA_7,                          		  			-- Reserva 07
  	CAST( ISNULL( REPLACE( CONVERT( char(10), DT_FATURA, 103 ), '/', '' ), '' ) AS CHAR(8) )  AS DT_FATURA,                   			-- Data da Fatura
        CAST( ISNULL( SL_MOEDA, '' ) AS CHAR(4) ) AS SL_MOEDA,						                          			-- Sigla da Moeda ( EX: USD, EUR )
        CAST( ISNULL( REPLACE( CONVERT( char(10), DT_NF_SERVICO_DESP, 103 ), '/', '' ), '' ) AS CHAR(8) ) AS DT_NF_SERVICO_DESP,  			-- Data NF Serviço Despachante
        CAST( ISNULL( NR_NF_SERVICO_DESP, '' ) AS CHAR(8) ) AS NR_NF_SERVICO_DESP,                                            				-- Número da NF Serviço Despachante
  	CAST( CAST( ISNULL( VL_NF_SERVICO_DESP, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_NF_SERVICO_DESP,                         			-- Valor da NF Serviço Despachante
        CAST( ISNULL( REPLACE( CONVERT( char(10), DT_VENCTO_NF_SERVICO_DESP, 103 ), '/', '' ), '' ) AS CHAR(8) ) AS DT_VENCTO_NF_SERVICO_DESP,          -- Data Vencimento NF Serviço Despachante
        CAST( CAST( ISNULL( VL_IRRF_DESP, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_IRRF_DESP, 					  			-- Valor IRRF Despachante       
  	CAST( ISNULL( RESERVA_8, '' ) AS CHAR(10) ) AS RESERVA_8,                        					  			-- Reserva 08 
        CAST( ISNULL( RESERVA_9, '' ) AS CHAR(10) ) AS RESERVA_9,                       					  			-- Reserva 09 
        CAST( ISNULL( NR_ADICAO_DI, '' ) AS CHAR(3) ) AS NR_ADICAO_DI,                      					  			-- Número da Adição da DI
        CAST( ISNULL( RESERVA_10, '' ) AS CHAR(25) ) AS RESERVA_10,                        					  			-- Reserva 10 
        CAST( ISNULL( REF_DESP, '' ) AS CHAR(15) ) AS REF_DESP,                      						  			-- Referencia do Despachante
        CAST( ISNULL( RESERVA_11, '' ) AS CHAR(15) ) AS RESERVA_11,                         					  			-- Reserva 11                                
  	CAST( CAST( ISNULL( VL_TX_SISCOMEX, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_TX_SISCOMEX,                          	  			-- Taxa siscomex 
        CAST( CAST( ISNULL( VL_ARMAZENAGEM, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_ARMAZENAGEM,                         	  			-- Armazenagem 
        CAST( CAST( ISNULL( VL_SDA, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_SDA,                         			  			-- SDA 
        CAST( ISNULL( NR_NF_ENTRADA, '' ) AS CHAR(16) ) AS NR_NF_ENTRADA,							  			-- Número da NF de Entrada
        CAST( ISNULL( RESERVA_12, '' )    AS CHAR(10) ) AS RESERVA_12,                          		                  			-- Reserva 12                               
	CAST( CAST( ISNULL( VL_MULTA, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_MULTA,       					  			-- Multa	
        CAST( ISNULL( TP_FRETE, '' )      AS CHAR(1) ) AS TP_FRETE,								  			-- Tipo de Frete ( P = Prepaid, C = Collect )
        CAST( ISNULL( REF_EMB_DDIMPORT, '' ) AS CHAR(15) ) AS REF_EMB_DDIMPORT,							  			-- Referencia do Embarque do DDImport
        CAST( CAST( ISNULL( VL_FRETE_ROD, 0 )       AS DECIMAL(16) ) AS CHAR(16) ) AS VL_FRETE_ROD,				  			-- Frete Rodoviario
        CAST( CAST( ISNULL( VL_MARINHA, 0 )         AS DECIMAL(16) ) AS CHAR(16) ) AS VL_MARINHA,				  			-- Marinha Mercante
        CAST( CAST( ISNULL( VL_CAPATAZIA, 0 )       AS DECIMAL(16) ) AS CHAR(16) ) AS VL_CAPATAZIA,				  			-- Capatazia
        CAST( CAST( ISNULL( VL_REMOCAO_DAP, 0 )     AS DECIMAL(16) ) AS CHAR(16) ) AS VL_REMOCAO_DAP,				  			-- Remoção DAP
        CAST( CAST( ISNULL( VL_TX_LIB_BL, 0 )       AS DECIMAL(16) ) AS CHAR(16) ) AS VL_TX_LIB_BL,				  			-- Taxa de Liberação de BL
        CAST( CAST( ISNULL( VL_TX_DESC, 0 )         AS DECIMAL(16) ) AS CHAR(16) ) AS VL_TX_DESC,				  			-- Taxa de Desconsolidação
        CAST( CAST( ISNULL( VL_SERV_ADUAN,0 )       AS DECIMAL(16) ) AS CHAR(16) ) AS VL_SERV_ADUAN,    	                  			-- Serviço Aduaneiro
        CAST( CAST( ISNULL( VL_DECEX_LI, 0 )        AS DECIMAL(16) ) AS CHAR(16) ) AS VL_DECEX_LI,				  			-- Decex ( LI )
        CAST( CAST( ISNULL( VL_FITP, 0 )            AS DECIMAL(16) ) AS CHAR(16) ) AS VL_FITP,			        	  			-- FITP
        CAST( CAST( ISNULL( VL_LAUDO_TECN, 0 )      AS DECIMAL(16) ) AS CHAR(16) ) AS VL_LAUDO_TECN,				  			-- Laudo Técnico
        CAST( CAST( ISNULL( VL_MOV_PRI, 0 )         AS DECIMAL(16) ) AS CHAR(16) ) AS VL_MOV_PRI,				  			-- MOVTO Zona Primaria
        CAST( CAST( ISNULL( VL_MOV_RETRO, 0 )       AS DECIMAL(16) ) AS CHAR(16) ) AS VL_MOV_RETRO,				  			-- MOVTO Retro Area
        CAST( CAST( ISNULL( VL_CAUCAO_CNTR,0 )      AS DECIMAL(16) ) AS CHAR(16) ) AS VL_CAUCAO_CNTR,				  			-- Caução Container
        CAST( CAST( ISNULL( VL_DESPESA_1, 0 )       AS DECIMAL(16) ) AS CHAR(16) ) AS VL_DESPESA_1,			 	  			-- Despesa 1
        CAST( CAST( ISNULL( VL_DESPESA_2, 0 )       AS DECIMAL(16) ) AS CHAR(16) ) AS VL_DESPESA_2,				  			-- Despesa 2
        CAST( CAST( ISNULL( VL_DESPESA_3, 0 )       AS DECIMAL(16) ) AS CHAR(16) ) AS VL_DESPESA_3,				  			-- Despesa 3
        CAST( CAST( ISNULL( VL_OUTRAS_DESPESA, 0 )  AS DECIMAL(16) ) AS CHAR(16) ) AS VL_OUTRAS_DESPESA,		          			-- Outras Despesas
        CAST( CAST( ISNULL( VL_TX_CAMBIO_FRETE_DI,  0 ) AS DECIMAL(16, 7) ) AS CHAR(14) ) AS VL_TX_CAMBIO_FRETE_DI, 		  			-- Taxa de Cambio Frete da DI ( 7 casas decimais )
        CAST( CAST( ISNULL( VL_TX_CAMBIO_SEGURO_DI, 0 ) AS DECIMAL(16, 7) ) AS CHAR(14) ) AS VL_TX_CAMBIO_SEGURO_DI,              			-- Taxa de Cambio Seguro da DI ( 7 casas decimais )
        CAST( CAST( ISNULL( VL_TX_CAMBIO_DOLAR_DI, 0 )  AS DECIMAL(16, 7) ) AS CHAR(14) ) AS VL_TX_CAMBIO_DOLAR_DI,               			-- Taxa de Cambio Dolar da DI ( 7 casas decimais )
        CAST( ISNULL( REPLACE( CONVERT( char(10), DT_FECHAMENTO, 103 ), '/', '' ), '' ) AS CHAR(8) )  AS DT_FECHAMENTO,           			-- Data do Fechamento 
        CAST( ISNULL( NR_ITEM_EMBARQUE, '' ) AS CHAR(4) ) AS NR_ITEM_EMBARQUE, 							  			-- Número do Item do Embarque no DDImport
        CAST( ISNULL( CD_DELIVERY_NOTE, '' ) AS CHAR(50) ) AS CD_DELIVERY_NOTE,							  			-- Codigo do Delivery Note 
	CAST( CAST( ISNULL( VL_BASE_CALCULO_PIS_COFINS, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_BASE_CALCULO_PIS_COFINS,				-- Base de Cálculo do PIS/COFINS
	CAST( CAST( ISNULL( VL_PIS, 0 )  	    AS DECIMAL(16) ) AS CHAR(16) ) AS VL_PIS,								-- Valor do PIS
	CAST( CAST( ISNULL( VL_COFINS, 0 )  	    AS DECIMAL(16) ) AS CHAR(16) ) AS VL_COFINS,							-- Valor do COFINS
	CAST( CAST( ISNULL( VL_PIS_ARMAZENAGEM, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_PIS_ARMAZENAGEM,						-- Valor do PIS sobre armazenagem
	CAST( CAST( ISNULL( VL_COFINS_ARMAZENAGEM, 0 ) AS DECIMAL(16) ) AS CHAR(16) ) AS VL_COFINS_ARMAZENAGEM						-- Valor do COFINS sobre armazenagem
  INTO TEMAIL_DDIMPORT_CUSTO
  FROM TDDIMPORT_CUSTO
 WHERE NR_IDENTIFICADOR = @nr_identificador



EXEC master.dbo.xp_cmdshell 'N:\email_custo.exe', NO_OUTPUT


--excluir registros 
DELETE FROM TDDIMPORT_CUSTO WHERE NR_IDENTIFICADOR = @nr_identificador
          
--SELECT * FROM TEMAIL_DDIMPORT_CUSTO

--excluindo tabela que foi usada para enviar o email
DROP TABLE TEMAIL_DDIMPORT_CUSTO

/*

SELECT * FROM TDDIMPORT_CUSTO WHERE NR_IDENTIFICADOR = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
*/







GO
