USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_proc_pag_desemb_li] ( @cd_unid_neg char(2), @cd_produto char(2),  @cd_grupo char(3), @cd_cliente char(5), @PeriodoInicial char(10), @PeriodoFinal char(10), @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3) 
DECLARE @cd_cliente char(5)
DECLARE @PeriodoInicial char(10)
DECLARE @PeriodoFinal char(10)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'
SELECT @cd_grupo    = '001'
SELECT @cd_cliente  = 'X'
SELECT @PeriodoInicial = '01/01/2000'
SELECT @PeriodoFinal   = '01/04/2001'
SELECT @nr_identificador = '1'
*/

  SELECT @nr_identificador = ( ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1 )
  FROM   TAUX_PROC_PAG_DES_LI (TABLOCK HOLDLOCK) 

  INSERT INTO TAUX_PROC_PAG_DES_LI
    SELECT @nr_identificador, TPROCESSO.NR_PROCESSO, TPROCESSO.CD_UNID_NEG, TPROCESSO.CD_PRODUTO, TPROCESSO.CD_CLIENTE, TPROCESSO.CD_SERVICO, TPROCESSO.NR_DI,
           TDECLARACAO_IMPORTACAO.CD_MOEDA_MLE, TDECLARACAO_IMPORTACAO.NR_DECLARACAO_IMP, TDECLARACAO_IMPORTACAO.VL_TOT_MLE_MNEG, TDECLARACAO_IMPORTACAO.VL_TOTAL_MLE_MN, TDECLARACAO_IMPORTACAO.TX_DOLAR,
           TEMPRESA_NAC.CD_EMPRESA, TEMPRESA_NAC.NM_EMPRESA, TEMPRESA_NAC.CD_GRUPO,  VW_DT_DESEMB.DT_REALIZACAO,  VW_DT_PAGTO_LI.DT_REALIZACAO 
    FROM   TPROCESSO TPROCESSO (NOLOCK), TDECLARACAO_IMPORTACAO TDECLARACAO_IMPORTACAO (NOLOCK), 
           TEMPRESA_NAC TEMPRESA_NAC (NOLOCK), VW_DT_DESEMB VW_DT_DESEMB (NOLOCK), VW_DT_PAGTO_LI VW_DT_PAGTO_LI (NOLOCK)
    WHERE  TPROCESSO.NR_PROCESSO *= TDECLARACAO_IMPORTACAO.NR_PROCESSO AND 
   	   TPROCESSO.CD_CLIENTE = TEMPRESA_NAC.CD_EMPRESA AND
    	   TPROCESSO.NR_PROCESSO = VW_DT_DESEMB.NR_PROCESSO AND
    	   TPROCESSO.NR_PROCESSO = VW_DT_PAGTO_LI.NR_PROCESSO AND
    	   TPROCESSO.CD_PRODUTO IN ( '01', '03' ) AND
           TPROCESSO.IN_CANCELADO = '0' AND
           TPROCESSO.IN_LIBERADO = '1' AND
	   @cd_unid_neg IN ( TPROCESSO.CD_UNID_NEG, 'X' ) AND
	   @cd_produto IN ( TPROCESSO.CD_PRODUTO, 'X' ) AND
           @cd_cliente IN ( TPROCESSO.CD_CLIENTE, 'X' ) AND
	   @cd_grupo IN ( TEMPRESA_NAC.CD_GRUPO, 'X' )  AND
	   ( ISNULL( VW_DT_DESEMB.DT_REALIZACAO, 0 ) BETWEEN CONVERT( datetime, @PeriodoInicial, 103 ) AND CONVERT( datetime, @PeriodoFinal, 103 )  OR
	     ISNULL( VW_DT_PAGTO_LI.DT_REALIZACAO, 0 ) BETWEEN CONVERT( datetime, @PeriodoInicial, 103 ) AND CONVERT( datetime, @PeriodoFinal, 103 ) )
    ORDER BY TEMPRESA_NAC.CD_EMPRESA ASC

/*
SELECT * FROM TAUX_PROC_PAG_DES_LI WHERE NR_IDENTIFICADOR = '1'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/





GO
