USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Michel
-- Create date: 28/01/2009
-- Description:	retirar os simbolos de quebra passado por parametro e quebra de linha, recriar as quebras e contar
-- =============================================

/*
DECLARE @TEXTO    VARCHAR(8000)
DECLARE @TXQUEBRA VARCHAR(10)
DECLARE @RETORNO  VARCHAR(8000)
DECLARE @QTD      INT

SET @TEXTO = 'Teste de mensagem com quebra por caractere passado como parâmetro. E este texto serve apenas para verificar se a quebra functionou mesmo ou se deu errado. Utilliza-la apenas como teste. Enrolando no texto para dar pelo menos 3 linhas'
SET @TXQUEBRA = '|' --(NCHAR(13) + NCHAR(10))
SELECT LEN(@TEXTO)
--*/

CREATE PROCEDURE [sp_FormataQuebra](@TEXTO VARCHAR(8000), @TXQUEBRA VARCHAR(10), @RETORNO VARCHAR(8000) OUTPUT, @QTD INT OUTPUT) AS
BEGIN
     DECLARE @TXT     VARCHAR(8000)
     DECLARE @PALAVRA VARCHAR(200)
     DECLARE @LINHA   VARCHAR(1000)

     SET @TXT = REPLACE(@TEXTO, @TXQUEBRA, ' ')
     SET @TXT = REPLACE(@TXT, (NCHAR(13) + NCHAR(10)), ' ')
     SET @TXT = REPLACE(@TXT, '|', ' ')
     SET @TXT = RTRIM(@TXT)
--PRINT '*******************************************************************************************************'
--PRINT '@TXT: ' + @TXT
--PRINT '*******************************************************************************************************'

     SET @PALAVRA = ''
     SET @RETORNO = ''
     SET @QTD = 0

     -- Percorre todo o texto
     WHILE (@TXT <> '') OR (@PALAVRA <> '')
     BEGIN
          --PRINT '@TXT: ' + @TXT
          SET @LINHA = ''
          -- Percorre todo o texto montando a linha por quantidade de caracteres
          WHILE ((@TXT <> '') OR (@PALAVRA <> '')) AND (LEN(@LINHA + @PALAVRA) <= 75)
          BEGIN
               SET @LINHA = @LINHA + @PALAVRA
               SET @PALAVRA = ''
               --PRINT '@LINHA: ' + @LINHA
               -- Se o primeiro caracatere for espaço, insere ele, se não deixa o LOOP abaixo pegar a palavra para ver se cabe nessa linha
               IF (@TXT <> '') 
               BEGIN
                    IF (LEFT(@TXT, 1) = ' ')
                    BEGIN
                         SET @LINHA = @LINHA + ' '
                         SET @TXT = RIGHT(@TXT, LEN(@TXT) -1)
                    END
                    ELSE
                    BEGIN
                         SET @PALAVRA = ''
                         WHILE (@TXT <> '') AND (LEFT(@TXT, 1) <> ' ')
                         BEGIN
                              SET @PALAVRA = @PALAVRA + LEFT(@TXT, 1)
                              SET @TXT = RIGHT(@TXT, LEN(@TXT) -1)
                         END
                         IF (@LINHA = '') OR (LEN(@LINHA + @PALAVRA) <= 75)
                         BEGIN
                              SET @LINHA = @LINHA + @PALAVRA
                              SET @PALAVRA = ''
                         END
                         --PRINT '--------------------------------------------------------------'
                         --PRINT '@PALAVRA: ' + @PALAVRA
                         --PRINT '@LINHA:   ' + @LINHA
                         --PRINT 'TAMANHO DA LINHA: ' + CONVERT(VARCHAR, LEN(@LINHA))
                         --PRINT '--------------------------------------------------------------'
                    END
               END -- ELSE -> IF -> Primeiro caracatere é espaço
          END -- WHILE -> Percorre o texto montando a linha

          IF ISNULL(@LINHA, '') <> ''
              SET @RETORNO = @RETORNO + @TXQUEBRA + RTRIM(@LINHA)
          --PRINT '@RETORNO: ' + @RETORNO
          --PRINT '@LINHA:   ' + ISNULL(@LINHA, '')
     END -- WHILE -> Percorre todo o texto

--PRINT LEN(@RETORNO)
--PRINT LEN(@TXQUEBRA)
--PRINT '@RETORNO: ' + @RETORNO
--PRINT '@LINHA:   ' + @LINHA
     --PRINT '-----------------------------------------------------------------------------------------------------------------------------------------'
     --PRINT '@RETORNO: ' + @RETORNO
     IF LEFT(@RETORNO, LEN(@TXQUEBRA)) = @TXQUEBRA
         SET @RETORNO = RIGHT(@RETORNO, LEN(@RETORNO) - LEN(@TXQUEBRA))
     --PRINT '@RETORNO: ' + @RETORNO
     --PRINT '@TXQUEBRA: ' + @TXQUEBRA

     --SELECT @RETORNO AS RETORNO, @QTD AS QTD, 'FINAL'
     -- Executa procedure para contar as linhas

     --PRINT 'SAIU DA FORMATAÇÃO DE QUEBRA ---------------------------------------------------------------------------------------------------'
     Exec sp_ContaQuebra @RETORNO, @TXQUEBRA, @QTD OUTPUT

     --SELECT @RETORNO AS RETORNO, @TXQUEBRA AS QUEBRA, @QTD AS QTD
END



GO
