USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_rateia_cambio]( @nr_processo CHAR(18) )  AS

/*
DECLARE @NR_PROCESSO CHAR(18)
SET @NR_PROCESSO = '0701IA-0267-10'
BEGIN TRAN
--*/

DECLARE @tipo_cambio char(1)
DECLARE @cIncoterms char(3)
DECLARE @taxa_conversao float
DECLARE @nNvseguroc float
DECLARE @nNvFretec float
DECLARE @in_seg char(1)
DECLARE @in_frete char(1)
DECLARE @total_cambio float
DECLARE @nr_adicao char(3)
DECLARE @cd_moeda_frete char(3)
DECLARE @cd_moeda_mle char(3)
DECLARE @cd_moeda_seguro char(3)
DECLARE @vl_mcv_adicao float
DECLARE @total_seguro float
DECLARE @total_frete float
DECLARE @n_adicoes int
DECLARE @cd_cobertura char(1)
DECLARE @cd_motivo char(2)
DECLARE @cd_modalidade char(2)
DECLARE @cd_orgao char(2)
DECLARE @nr_rof char(8)
DECLARE @tipo_pagto char(1)

DECLARE @banco_pagamento char(5)
DECLARE @praca_pagamento char(4)
DECLARE @in_pag_nacional char(1)
DECLARE @nr_contrato_cambio char(8)
DECLARE @nr_comprador char(14)
DECLARE @tipo_imp char(1)

DECLARE @valor_rateado float
DECLARE @pc_rateio_adicao float
DECLARE @in_pagto_variav_360 bit

DECLARE @repassa bit

SELECT @total_cambio = 0
SELECT @cd_moeda_mle    = ISNULL( CD_MOEDA_MLE, '' ),
       @cd_moeda_seguro = ISNULL( CD_MOEDA_SEGURO, '' ),
       @cd_moeda_frete  = ISNULL( CD_MOEDA_FRETE, '' ),
       @tipo_pagto      = ISNULL( CD_FORMA_PAGAMENTO, '2' ),
       @repassa         = ISNULL( IN_REPASSA_DADOS_CAMBIO, 0 )
FROM   TDECLARACAO_IMPORTACAO
WHERE  ( NR_PROCESSO = @nr_processo )

IF @repassa = 1
BEGIN
  /*SELECT @taxa_conversao = ( SELECT TAXA_CONVERSAO 
                             FROM   TCONVERSAO_CAMBIO
                             WHERE  CODIGO = ( @cd_moeda_mle ) AND
                                    CONVERT( datetime, VIGENCIA_INICIO_TAXA ) >= GETDATE() AND
                                    CONVERT( datetime, VIGENCIA_FIM_TAXA ) <= GETDATE() )*/                            
                                    
  SELECT @taxa_conversao = ( SELECT CONVERT(FLOAT, REPLACE(TAXA_CONVERSAO, ',', '.'))
                             FROM   TCONVERSAO_CAMBIO
                             WHERE  CODIGO = ( @cd_moeda_mle ) AND
                                    CONVERT( datetime, VIGENCIA_INICIO_TAXA, 103 ) <= CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103) AND
                                    CONVERT( datetime, VIGENCIA_FIM_TAXA, 103 ) >= CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103))
                                    --CONVERT( datetime, VIGENCIA_INICIO_TAXA, 103 ) <= GETDATE() AND
                                    --CONVERT( datetime, VIGENCIA_FIM_TAXA, 103 ) >= GETDATE() )

  DECLARE c_adicoes CURSOR FOR
    SELECT NR_PROCESSO, NR_ADICAO, CD_COBERT_CAMBIAL, CD_INCOTERMS_VENDA 
    FROM   TADICAO_DE_IMPORTACAO
    WHERE  ( NR_PROCESSO = @nr_processo )

  OPEN c_adicoes
  FETCH c_adicoes INTO @nr_processo, @nr_adicao, @tipo_cambio, @cIncoterms
  WHILE @@fetch_status <> -1 
  BEGIN
    SELECT @vl_mcv_adicao = VL_MERC_COND_VENDA,
           @total_seguro = VL_SEG_MERC_MN,
           @total_frete = VL_FRETE_MERC_MN
    FROM   TADICAO_DE_IMPORTACAO
    WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
        
    -- Colocado aqui para definir as variaveis - 16/08/2010 - Michel
    SELECT @in_seg = 
      CASE CONVERT( bit, ( SELECT IN_RATEAR_SEGURO_ITENS 
                           FROM   TDECLARACAO_IMPORTACAO 
                           WHERE  ( NR_PROCESSO = @nr_processo ) ) )
        WHEN 1  THEN '1'    
        WHEN 0  THEN '0'
      END
    SELECT @in_frete = 
      CASE CONVERT( bit, ( SELECT IN_RATEAR_FRETE_ITENS 
                           FROM   TDECLARACAO_IMPORTACAO 
                           WHERE  ( NR_PROCESSO = @nr_processo ) ) )
        WHEN 1  THEN '1'    
        WHEN 0  THEN '0'
      END
     
    IF ( @cIncoterms = 'FOB' ) OR ( @cIncoterms = 'FCA' ) OR ( @cIncoterms = 'FAS' ) OR ( @cIncoterms = 'EXW' )
    BEGIN
      SELECT @total_cambio = @total_cambio + @vl_mcv_adicao
    END
    
    IF ( @cIncoterms = 'DDU' ) OR ( @cIncoterms = 'DAP' )
    BEGIN
      IF @cd_moeda_mle = @cd_moeda_seguro
      BEGIN
        SELECT @total_cambio = @total_cambio + ( @total_seguro + @vl_mcv_adicao )
      END
      ELSE 
      BEGIN
        IF ISNULL( @cd_moeda_seguro, '000' ) <> '000'
        BEGIN
          SELECT @nNvseguroc = @total_seguro / @taxa_conversao
          SELECT @total_cambio = @total_cambio + ( @nNvseguroc + @vl_mcv_adicao )
        END
        ELSE
          SELECT @total_cambio = @total_cambio + @vl_mcv_adicao
      END
    END 

    IF ( @cIncoterms = 'CIF' OR @cIncoterms = 'DAF' OR @cIncoterms = 'DES' OR @cIncoterms = 'DAT' OR @cIncoterms = 'CIP' )
    BEGIN
      SELECT @nNvseguroc = 0
      IF ( @cd_moeda_frete = @cd_moeda_mle ) AND ( @cd_moeda_frete = @cd_moeda_seguro )
      BEGIN
        SELECT @in_seg = 
          CASE CONVERT( bit, ( SELECT IN_RATEAR_SEGURO_ITENS 
                               FROM   TDECLARACAO_IMPORTACAO 
                               WHERE  ( NR_PROCESSO = @nr_processo ) ) )
            WHEN 1  THEN '1'    
            WHEN 0  THEN '0'
          END
        SELECT @in_frete = 
          CASE CONVERT( bit, ( SELECT IN_RATEAR_FRETE_ITENS 
                               FROM   TDECLARACAO_IMPORTACAO 
                               WHERE  ( NR_PROCESSO = @nr_processo ) ) )
            WHEN 1  THEN '1'    
            WHEN 0  THEN '0'
          END
        IF @in_frete = '0' AND @in_seg = '0'
        BEGIN
          SELECT @total_cambio = @total_cambio + ( @vl_mcv_adicao + @total_seguro + @total_frete )
        END
        IF @in_frete = '1' AND @in_seg = '0'
        BEGIN
          SELECT @total_cambio = @total_cambio + ( @vl_mcv_adicao + @total_seguro )
        END
        IF @in_frete = '0' AND @in_seg = '1'
        BEGIN
          SELECT @total_cambio = @total_cambio + ( @vl_mcv_adicao + @total_frete )        END
        IF @in_frete = '1' AND @in_seg = '1'
        BEGIN
          SELECT @total_cambio = @total_cambio + @vl_mcv_adicao
        END
      END
      ELSE
      BEGIN
        SELECT @in_seg = 
          CASE CONVERT( bit, ( SELECT IN_RATEAR_SEGURO_ITENS 
                               FROM   TDECLARACAO_IMPORTACAO 
                               WHERE  ( NR_PROCESSO = @nr_processo ) ) )
            WHEN 1  THEN '1'    
            WHEN 0  THEN '0'
          END
        SELECT @in_frete = 
          CASE CONVERT( bit, ( SELECT IN_RATEAR_FRETE_ITENS 
                               FROM   TDECLARACAO_IMPORTACAO 
                               WHERE  ( NR_PROCESSO = @nr_processo ) ) )
            WHEN 1  THEN '1'    
            WHEN 0  THEN '0'
          END
        IF ( @cd_moeda_mle = @cd_moeda_frete ) 
        BEGIN
          SELECT @nNvFretec = @total_frete
        END
        ELSE
        BEGIN
          SELECT @nNvFretec = @total_frete / @taxa_conversao
        END
        IF ( @cd_moeda_mle = @cd_moeda_seguro )
        BEGIN
          SELECT @nNvSeguroc = @total_seguro
        END
        ELSE
        BEGIN
          SELECT @nNvSeguroc = @total_seguro  / @taxa_conversao
        END
        IF @in_frete = '0' AND @in_seg = '0'
        BEGIN
          SELECT @total_cambio = @total_cambio + ( @vl_mcv_adicao + @nNvSeguroc + @nNvFretec )
        END
        IF @in_frete = '1' AND @in_seg = '0'
        BEGIN
          SELECT @total_cambio = @total_cambio + ( @vl_mcv_adicao + @nNvSeguroc )
        END
        IF @in_frete = '0' AND @in_seg = '1'
        BEGIN
          SELECT @total_cambio = @vl_mcv_adicao + @nNvFretec
        END
        IF @in_frete = '1' AND @in_seg = '1'
        BEGIN
          SELECT @total_cambio = @vl_mcv_adicao
        END
      END
    END
    
    IF @cIncoterms = 'CFR' OR @cIncoterms = 'CPT' --OR @cIncoterms = 'DDP' -- Retirar DDP no final do dia - 16/08/2010 - Michel
    BEGIN
      IF @in_frete = '0'
      BEGIN
        IF @cd_moeda_mle <> @cd_moeda_frete
        BEGIN           
          SELECT @nNvFretec = @total_frete / @taxa_conversao
          SELECT @total_cambio = @total_cambio + ( @vl_mcv_adicao + @nNvFretec )
        END
        ELSE
        BEGIN
          SELECT @total_cambio = @total_cambio + ( @vl_mcv_adicao + @total_frete )
        END
      END
      ELSE
        SELECT @total_cambio = @total_cambio + @vl_mcv_adicao
    END
    
    DELETE FROM TPAGAMENTO_VINCULADO 
    WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
    DELETE FROM TPAGAMENTO_PREVISTO 
    WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )

    FETCH c_adicoes INTO @nr_processo, @nr_adicao, @tipo_cambio, @cIncoterms
  END
  
  CLOSE c_adicoes
  DEALLOCATE c_adicoes

  UPDATE TDECLARACAO_IMPORTACAO 
  SET    VL_TOTAL_CAMBIO = ROUND( @total_cambio, 2 )
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @tipo_cambio = ( SELECT CD_COBERTURA_CAMBIAL 
                          FROM   TDECLARACAO_IMPORTACAO 
                          WHERE  NR_PROCESSO = @nr_processo )
  SELECT @n_adicoes = ( SELECT COUNT(*) 
                        FROM   TADICAO_DE_IMPORTACAO 
                        WHERE NR_PROCESSO = @nr_processo )

  SELECT @cd_cobertura = CD_COBERTURA_CAMBIAL,
         @cd_motivo = CD_MOTIVO_SEM_COBERTURA,
         @cd_modalidade = CD_MODALIDADE_PAGTO,
         @cd_orgao = CD_ORGAO_FIN_INTER,
         @nr_rof = NR_ROF, 
         @in_pagto_variav_360 = IN_PGTO_VARIAV_360,
         @banco_pagamento = NR_BANCO_PAGAMENTO,
         @praca_pagamento = NR_PRACA_PAGAMENTO,
         @in_pag_nacional = IN_MOEDA_NACIONAL,
         @nr_contrato_cambio = NR_CONTRATO_CAMBIO,
         @nr_comprador = NR_COMPRADOR_ME,
         @tipo_imp = CD_TIPO_IMPORTADOR
  FROM   TDECLARACAO_IMPORTACAO 
  WHERE  NR_PROCESSO = @nr_processo 

  UPDATE TADICAO_DE_IMPORTACAO 
  SET    CD_COBERT_CAMBIAL = ISNULL( @cd_cobertura, CD_COBERT_CAMBIAL ),
         CD_MOTIVO_SEM_COB = ISNULL( @cd_motivo, CD_MOTIVO_SEM_COB ),
         NR_ROF = ISNULL( @nr_rof, NR_ROF ),
         CD_MODALIDADE_PGTO = ISNULL( @cd_modalidade, CD_MODALIDADE_PGTO ),
         CD_ORGAO_FIN_INTER = ISNULL( @cd_orgao, CD_ORGAO_FIN_INTER ),
         VL_FINANC_SUP_360 = 0,
         VL_TOT_FINANC_360 = 0
  WHERE  NR_PROCESSO = @nr_processo
  DECLARE c_adicoes CURSOR FOR
    SELECT NR_PROCESSO, NR_ADICAO, VL_MERC_COND_VENDA
    FROM   TADICAO_DE_IMPORTACAO
    WHERE  ( NR_PROCESSO = @nr_processo )
  OPEN c_adicoes
  FETCH c_adicoes INTO @nr_processo, @nr_adicao, @vl_mcv_adicao
  WHILE @@fetch_status <> -1 
  BEGIN
    SELECT @pc_rateio_adicao  = @vl_mcv_adicao * ( 100 / @total_cambio )
    SELECT @valor_rateado = ROUND( ISNULL( @total_cambio * ( @pc_rateio_adicao / 100 ), 0 ), 2 )
    IF ( @tipo_pagto = '1' ) OR ( @tipo_pagto = '2' )
    BEGIN
      INSERT TPAGAMENTO_VINCULADO 
        ( NR_PROCESSO, NR_ADICAO, CD_FORMA_PAGAMENTO, NR_SEQUENCIA, IN_PAGAMENTO_MN, CD_BANCO_PAGAMENTO, 
          CD_PRACA_PAGAMENTO, NR_OP_CAMBIO, VL_VINC_MD_CAMBIO, NR_COMPR_CAMBIO, CD_TP_COMPR_CAMBIO )
      VALUES 
        ( @nr_processo, @nr_adicao, @tipo_pagto, 1, @in_pag_nacional, @banco_pagamento, 
          @praca_pagamento, @nr_contrato_cambio, @valor_rateado, @nr_comprador, @tipo_imp )
    END
    ELSE 
      UPDATE TADICAO_DE_IMPORTACAO 
      SET    IN_PGTO_VARIAV_360 = @in_pagto_variav_360,
             QT_PARC_FINANC_360 = 1,
             VL_TOT_FINANC_360 = @valor_rateado
      WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) AND CD_COBERT_CAMBIAL <> '4'

      UPDATE TADICAO_DE_IMPORTACAO 
      SET    IN_PGTO_VARIAV_360 = @in_pagto_variav_360,
             QT_PARC_FINANC_360 = 0,
             VL_TOT_FINANC_360 = 0
      WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) AND ( CD_COBERT_CAMBIAL = '4' )

    IF ( @in_pagto_variav_360 = 1 ) AND ( @cd_cobertura <> '4' )
    BEGIN
      INSERT INTO TPAGAMENTO_PREVISTO (NR_PROCESSO, NR_ADICAO, NR_SEQUENCIA, DT_PREV_PGTO_360, VL_PREV_PGTO_360)
        SELECT @nr_processo, @nr_adicao, NR_SEQUENCIA+0, DT_PREV_PGTO_360, @valor_rateado
        FROM   TPAGTO_PREVISTO_CAMBIO_DI
        WHERE  NR_PROCESSO = @nr_processo
    END
    ELSE
    BEGIN
      IF @cd_cobertura = '4' 
      BEGIN
        DELETE TPAGAMENTO_PREVISTO
        WHERE  NR_PROCESSO = @nr_processo
      END
    END

    FETCH c_adicoes INTO @nr_processo, @nr_adicao, @vl_mcv_adicao
  END
  CLOSE c_adicoes
  DEALLOCATE c_adicoes
END

--ROLLBACK

GO
