USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_pe_marca_item]( @nr_processo char(18), @in_selecionado char(1), @cd_unid_neg char(2) ) AS

UPDATE TPE_ITEM
SET IN_SELECIONADO =  @IN_SELECIONADO
WHERE (NR_PROCESSO = @NR_PROCESSO)  AND CD_UNID_NEG = @cd_unid_neg





GO
