USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_exp_duplica]( @nr_processo_fonte char(18), @nr_processo_destino char(18) ) AS

INSERT INTO TPROCESSO_EXP 
  ( NR_PROCESSO, CD_EXPORTADOR, CD_IMPORTADOR, CD_DESPACHANTE, CD_AGENTE, CD_INCOTERM, CD_PAIS_DESTINO, CD_MOEDA,
    CD_VIA_TRANSPORTE, CD_SEGURADORA, CD_REPRESENTANTE, CD_LOCAL_ORIGEM, CD_LOCAL_DESTINO, CD_URF_DESPACHO, CD_URF_DESTINO,
    CD_TERMO_PAGTO, CD_FORMA_PAGTO, CD_LINGUA_PEDIDO, CD_TIPO_FRETE, CD_USUARIO, CD_CARTA_CREDITO, CD_INST_NEGOC,
    CD_CONSIGNATARIO, CD_NOTIFY1, CD_NOTIFY2, DT_REGISTRO_PEDIDO, DT_FATURA, IN_DRAWBACK, NR_LI, NR_FATURA, 
    VL_FRETE, VL_SEGURO, VL_PESO_BRUTO, VL_PESO_LIQUIDO, VL_DESCONTO, VL_COMISSAO_PERCENT, VL_TOT_ORIGEM, VL_TOT_CUBAGEM,
    VL_TOT_FOB, VL_TOT_COM_AGENTE, VL_TOT_QTDE_PROD, VL_TOT_QTDE_EMBALAGEM, VL_TOT_MCV, VL_TX_CAMBIO, VL_TOT_CONTAINER,
    VL_TOT_PALLETS, VL_TOT_EXW, TX_INF_EMBALAGEM, TX_DECL_EXPORTADOR, TX_TERMO_PAGTO, CD_TRANSPORTADORA, TP_CONSIGNATARIO,
    TP_NOTIFY1, TP_NOTIFY2, QT_TOTAL_ITENS, TX_MARCACAO_VOLUME, TX_DECL_ADICIONAL, VL_TOT_DESPESA, NR_SD, NR_CERTIFICADO,
    CD_LOCAL_EMISSAO, TX_OBSERVACAO, TX_CABECALHO,  DT_SD, IN_FABR_EXPO, CD_FABRICANTE, CD_PAIS_ORIGEM, TP_COPIA, TP_DOCUMENTO, CD_COPIA, CD_DOCUMENTO, IN_NUM_FAT_AUTO)
  SELECT @nr_processo_destino, CD_EXPORTADOR, CD_IMPORTADOR, CD_DESPACHANTE, CD_AGENTE, CD_INCOTERM, CD_PAIS_DESTINO, CD_MOEDA,
         CD_VIA_TRANSPORTE, CD_SEGURADORA, CD_REPRESENTANTE, CD_LOCAL_ORIGEM, CD_LOCAL_DESTINO, CD_URF_DESPACHO, CD_URF_DESTINO,
         CD_TERMO_PAGTO, CD_FORMA_PAGTO, CD_LINGUA_PEDIDO, CD_TIPO_FRETE, CD_USUARIO, CD_CARTA_CREDITO, CD_INST_NEGOC,
         CD_CONSIGNATARIO, CD_NOTIFY1, CD_NOTIFY2, DT_REGISTRO_PEDIDO, DT_FATURA, IN_DRAWBACK, NR_LI, NR_FATURA, VL_FRETE,
         VL_SEGURO, VL_PESO_BRUTO, VL_PESO_LIQUIDO, VL_DESCONTO, VL_COMISSAO_PERCENT, VL_TOT_ORIGEM, VL_TOT_CUBAGEM,
         VL_TOT_FOB, VL_TOT_COM_AGENTE, VL_TOT_QTDE_PROD, VL_TOT_QTDE_EMBALAGEM, VL_TOT_MCV, VL_TX_CAMBIO, VL_TOT_CONTAINER,
         VL_TOT_PALLETS, VL_TOT_EXW, TX_INF_EMBALAGEM, TX_DECL_EXPORTADOR, TX_TERMO_PAGTO, CD_TRANSPORTADORA, TP_CONSIGNATARIO,
         TP_NOTIFY1, TP_NOTIFY2, QT_TOTAL_ITENS, TX_MARCACAO_VOLUME, TX_DECL_ADICIONAL, VL_TOT_DESPESA, NR_SD, NR_CERTIFICADO,
         CD_LOCAL_EMISSAO, TX_OBSERVACAO, TX_CABECALHO, DT_SD, IN_FABR_EXPO, CD_FABRICANTE, CD_PAIS_ORIGEM, TP_COPIA, TP_DOCUMENTO, CD_COPIA, CD_DOCUMENTO, IN_NUM_FAT_AUTO
  FROM   TPROCESSO_EXP
  WHERE  NR_PROCESSO = @nr_processo_fonte

/* Transferir dados do PE_ITENS */
INSERT INTO TPROCESSO_EXP_ITEM 
  ( NR_PROCESSO, NR_ITEM, /*NR_PEDIDO_IMP, */CD_MERCADORIA, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA, CD_EMBALAGEM, CD_CLASSIF_EMBALAGEM,
    CD_FABR_EXPO, QT_POR_EMB, QT_EMBALAGEM, QT_MERCADORIA, VL_POR_EMB, VL_UNITARIO, VL_PESO_LIQ_UNIT, VL_COMPRIMENTO_EMB,
    VL_LARGURA_EMB, VL_ALTURA_EMB, VL_PESO_EMB, VL_TOT_ITEM, VL_TOT_PESO_LIQ, VL_TOT_PESO_BRUTO, VL_CUBAGEM, VL_MLE, VL_MCV,                                                
    TX_MERCADORIA, CD_EMBALAGEM_SUP, QT_POR_EMB_SUP, CD_EMBALAGEM_CLIENTE, CD_CLASSIF_EMBALAGEM_SUP, QT_EMBALAGEM_SUP, VL_POR_EMB_SUP,
    CD_NORMAS, CD_FABRICANTE, NR_PEDIDO, CD_PAIS_ORIGEM, CD_ACORDO, CD_NCM_DOC, CD_NALADI_DOC )
  SELECT @nr_processo_destino, NR_ITEM, /*NR_PEDIDO_IMP, */CD_MERCADORIA, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA, CD_EMBALAGEM, CD_CLASSIF_EMBALAGEM,
         CD_FABR_EXPO, QT_POR_EMB, QT_EMBALAGEM, QT_MERCADORIA, VL_POR_EMB, VL_UNITARIO, VL_PESO_LIQ_UNIT, VL_COMPRIMENTO_EMB,
         VL_LARGURA_EMB, VL_ALTURA_EMB, VL_PESO_EMB, VL_TOT_ITEM, VL_TOT_PESO_LIQ, VL_TOT_PESO_BRUTO, VL_CUBAGEM, VL_MLE, VL_MCV,                                                
         TX_MERCADORIA, CD_EMBALAGEM_SUP, QT_POR_EMB_SUP, CD_EMBALAGEM_CLIENTE, CD_CLASSIF_EMBALAGEM_SUP, QT_EMBALAGEM_SUP, VL_POR_EMB_SUP,
         CD_NORMAS, CD_FABRICANTE, NR_PEDIDO, CD_PAIS_ORIGEM, CD_ACORDO, CD_NCM_DOC, CD_NALADI_DOC
  FROM   TPROCESSO_EXP_ITEM
  WHERE NR_PROCESSO = @nr_processo_fonte

INSERT INTO TPROCESSO_EXP_DESP 
  ( NR_PROCESSO, NR_SEQUENCIA, CD_ITEM, VL_DESPESA )
  SELECT @nr_processo_destino, NR_SEQUENCIA, CD_ITEM, VL_DESPESA
  FROM   TPROCESSO_EXP_DESP
  WHERE  NR_PROCESSO = @nr_processo_fonte

INSERT INTO TPROCESSO_EXP_RE 
  ( NR_PROCESSO, NR_RE, DT_RE, CD_NBM_SH, VL_FOB, QT_PESO_LIQ )
  SELECT @nr_processo_destino,  NR_RE, DT_RE, CD_NBM_SH, VL_FOB, QT_PESO_LIQ
  FROM   TPROCESSO_EXP_RE
  WHERE  NR_PROCESSO = @nr_processo_fonte

INSERT INTO TPROCESSO_EXP_NF 
  ( NR_PROCESSO, NR_NF )
  SELECT @nr_processo_destino,  NR_NF
  FROM   TPROCESSO_EXP_NF
  WHERE  NR_PROCESSO = @nr_processo_fonte

RETURN (0)




GO
