USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_int_saldos_periodo] @nm_mercadoria varchar(40), @nr_articulo varchar(15), @nm_area varchar(15),
                 @nm_armazem varchar(40), @tp_data char(1), @dt_inicio char(10), @dt_fim char(10), @cgc_empresa char(14) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nm_mercadoria varchar(40)
DECLARE @nr_articulo varchar(15)
DECLARE @nm_area varchar(15)
DECLARE @nm_armazem varchar(40)
DECLARE @tp_data char(1)
DECLARE @cgc_empresa char(14)

SELECT @nm_mercadoria = ''
SELECT @nr_articulo   = ''
SELECT @nm_area       = ''
SELECT @nm_armazem    = ''
SELECT @dt_inicio     = CONVERT( datetime, '01/01/1900', 103 )
SELECT @dt_fim        = CONVERT( datetime, '31/12/2002', 103 )
SELECT @tp_data       = '2'
SELECT @cgc_empresa   = '48539407000118'
*/

DECLARE @dt_zero        datetime
DECLARE @cd_armazem     char(4)
DECLARE @cd_area        char(3)
DECLARE @cd_mercadoria  char(15)
DECLARE @tp_filtro_data integer
DECLARE @pl_lote        float
DECLARE @nm_empresa     varchar(50) 

SELECT @cd_armazem = ''
SELECT @cd_area    = ''

SELECT @nm_mercadoria = ISNULL( @nm_mercadoria, '' )
SELECT @nr_articulo   = ISNULL( @nr_articulo, '' )
SELECT @nm_area       = ISNULL( @nm_area, '' )
SELECT @nm_armazem    = ISNULL( @nm_armazem, '' )
SELECT @nm_empresa    = ISNULL( @nm_empresa, '')

DECLARE @vl_zero float
SELECT  @vl_zero = 0

-- Cria tabela temporária
SELECT @cd_armazem AS CD_ARMAZEM, @cd_area AS CD_AREA, CD_MERCADORIA, @vl_zero AS PL_ANTERIOR, @vl_zero AS PL_ENTRADA,
       @vl_zero AS PL_SAIDA, @vl_zero AS PL_FINAL, @nm_empresa AS NM_EMPRESA
INTO   #TMP_INT_SALDOS
FROM   TMERCADORIA
WHERE  1 = 0

-- Entradas anteriores
IF @tp_data = '1'
BEGIN
  DECLARE c_ent2 CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, L.CD_MERCADORIA, 
           SUM( ISNULL( L.PL_LOTE, 0 ) ) AS PL_LOTE, EN.NM_EMPRESA
    FROM   TDA D, TDA_LOTE L, TPROCESSO P, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  L.NR_PROCESSO = P.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND
           L.NR_PROCESSO = D.NR_PROCESSO AND       
           L.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           D.DT_VENCTO_DA BETWEEN CONVERT( datetime, '01/01/1900', 103 ) AND @dt_inicio AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa
    GROUP BY L.CD_MERCADORIA, D.DT_VENCTO_DA, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY L.CD_MERCADORIA, D.DT_VENCTO_DA, M.CD_AREA, P.CD_ARMAZEM_DESCARGA
END

IF @tp_data = '2'
BEGIN
  DECLARE c_ent2 CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, L.CD_MERCADORIA, 
           SUM( ISNULL( L.PL_LOTE, 0 ) ) AS PL_LOTE, EN.NM_EMPRESA
    FROM   TDA_LOTE L, TPROCESSO P, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  L.NR_PROCESSO = P.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND
           L.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           L.DT_VALIDADE BETWEEN CONVERT( datetime, '01/01/1900', 103 ) AND @dt_inicio AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa 
    GROUP BY L.CD_MERCADORIA, L.DT_VALIDADE, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY L.CD_MERCADORIA, L.DT_VALIDADE, M.CD_AREA, P.CD_ARMAZEM_DESCARGA
END

IF @tp_data = '3'
BEGIN
  DECLARE c_ent2 CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, L.CD_MERCADORIA, 
           SUM( ISNULL( L.PL_LOTE, 0 ) ) AS PL_LOTE, EN.NM_EMPRESA
    FROM   TDA_LOTE L, TPROCESSO P, TFOLLOWUP F, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  L.NR_PROCESSO = P.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND
           L.NR_PROCESSO = F.NR_PROCESSO AND       
           L.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           F.CD_EVENTO IN ( SELECT CD_EV_CI FROM TPARAMETROS ) AND    
           F.DT_REALIZACAO BETWEEN CONVERT( datetime, '01/01/1900', 103 ) AND @dt_inicio AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa  
    GROUP BY L.CD_MERCADORIA, F.DT_REALIZACAO, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY L.CD_MERCADORIA, F.DT_REALIZACAO, M.CD_AREA, P.CD_ARMAZEM_DESCARGA
END

OPEN c_ent2
FETCH c_ent2 INTO @cd_armazem, @cd_area, @cd_mercadoria, @pl_lote, @nm_empresa
WHILE @@fetch_status = 0
BEGIN
  IF EXISTS( SELECT *
             FROM   #TMP_INT_SALDOS
             WHERE  CD_ARMAZEM    = @cd_armazem AND
                    CD_AREA       = @cd_area    AND
                    CD_MERCADORIA = @cd_mercadoria )
  BEGIN
    UPDATE #TMP_INT_SALDOS
    SET    PL_ANTERIOR   = ISNULL( PL_ANTERIOR, 0 ) + @pl_lote
    WHERE  CD_ARMAZEM    = @cd_armazem AND
           CD_AREA       = @cd_area    AND
           CD_MERCADORIA = @cd_mercadoria
  END
  ELSE
  BEGIN
    INSERT #TMP_INT_SALDOS ( CD_ARMAZEM, CD_AREA, CD_MERCADORIA, PL_ANTERIOR, PL_ENTRADA, PL_SAIDA, PL_FINAL, NM_EMPRESA )
    VALUES ( @cd_armazem, @cd_area, @cd_mercadoria, @pl_lote, 0, 0, 0, @nm_empresa )
  END

  FETCH c_ent2 INTO @cd_armazem, @cd_area, @cd_mercadoria, @pl_lote, @nm_empresa
END
CLOSE c_ent2
DEALLOCATE c_ent2

-- Entradas no período
IF @tp_data = '1'
BEGIN
  DECLARE c_ent CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, L.CD_MERCADORIA, 
           SUM( ISNULL( L.PL_LOTE, 0 ) ) AS PL_LOTE, EN.NM_EMPRESA
    FROM   TDA D, TDA_LOTE L, TPROCESSO P, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  L.NR_PROCESSO = P.NR_PROCESSO AND
           L.NR_PROCESSO = D.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND       
           L.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           D.DT_VENCTO_DA BETWEEN @dt_inicio AND @dt_fim AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa
    GROUP BY L.CD_MERCADORIA, D.DT_VENCTO_DA, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY L.CD_MERCADORIA, D.DT_VENCTO_DA, M.CD_AREA, P.CD_ARMAZEM_DESCARGA
END

IF @tp_data = '2'
BEGIN
  DECLARE c_ent CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, L.CD_MERCADORIA, 
           SUM( ISNULL( L.PL_LOTE, 0 ) ) AS PL_LOTE, EN.NM_EMPRESA
    FROM   TDA_LOTE L, TPROCESSO P, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  L.NR_PROCESSO = P.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND
           L.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           L.DT_VALIDADE BETWEEN @dt_inicio AND @dt_fim AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa
    GROUP BY L.CD_MERCADORIA, L.DT_VALIDADE, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY L.CD_MERCADORIA, L.DT_VALIDADE, M.CD_AREA, P.CD_ARMAZEM_DESCARGA
END

IF @tp_data = '3'
BEGIN
  DECLARE c_ent CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, L.CD_MERCADORIA, 
           SUM( ISNULL( L.PL_LOTE, 0 ) ) AS PL_LOTE, EN.NM_EMPRESA
    FROM   TDA_LOTE L, TPROCESSO P, TFOLLOWUP F, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  L.NR_PROCESSO = P.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND
           L.NR_PROCESSO = F.NR_PROCESSO AND       
           L.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           F.CD_EVENTO IN ( SELECT CD_EV_CI FROM TPARAMETROS ) AND    
           F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa
    GROUP BY L.CD_MERCADORIA, F.DT_REALIZACAO, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY L.CD_MERCADORIA, F.DT_REALIZACAO, M.CD_AREA, P.CD_ARMAZEM_DESCARGA
END

OPEN c_ent
FETCH c_ent INTO @cd_armazem, @cd_area, @cd_mercadoria, @pl_lote, @nm_empresa
WHILE @@fetch_status = 0
BEGIN
  IF EXISTS( SELECT *
             FROM   #TMP_INT_SALDOS
             WHERE  CD_ARMAZEM    = @cd_armazem AND
                    CD_AREA       = @cd_area    AND
                    CD_MERCADORIA = @cd_mercadoria )
  BEGIN
    UPDATE #TMP_INT_SALDOS
    SET    PL_ENTRADA    = ISNULL( PL_ENTRADA, 0 ) + @pl_lote
    WHERE  CD_ARMAZEM    = @cd_armazem AND
           CD_AREA       = @cd_area    AND
           CD_MERCADORIA = @cd_mercadoria
  END
  ELSE
  BEGIN
    INSERT #TMP_INT_SALDOS ( CD_ARMAZEM, CD_AREA, CD_MERCADORIA, PL_ANTERIOR, PL_ENTRADA, PL_SAIDA, PL_FINAL, NM_EMPRESA )
    VALUES ( @cd_armazem, @cd_area, @cd_mercadoria, 0, @pl_lote, 0, 0, @nm_empresa )
  END

  FETCH c_ent INTO @cd_armazem, @cd_area, @cd_mercadoria, @pl_lote, @nm_empresa
END
CLOSE c_ent
DEALLOCATE c_ent

-- Saídas anteriores
IF @tp_data = '1'
BEGIN
  DECLARE c_sai2 CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, I.CD_MERCADORIA, 
           SUM( ISNULL( I.PL_NAC, 0 ) ) AS PL_NAC, EN.NM_EMPRESA
    FROM   TNAC N, TNAC_ITEM I, TPROCESSO P, TDA D, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  N.NR_PROCESSO = I.NR_PROCESSO AND 
           N.NR_PROCESSO = P.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND
           I.NR_PROCESSO_DA = D.NR_PROCESSO AND
           I.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           D.DT_VENCTO_DA BETWEEN CONVERT( datetime, '01/01/1900', 103 ) AND @dt_fim AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa 
    GROUP BY N.NR_PROCESSO, I.CD_MERCADORIA, D.DT_VENCTO_DA, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY N.NR_PROCESSO, I.CD_MERCADORIA, D.DT_VENCTO_DA
END

IF @tp_data = '2'
BEGIN
  DECLARE c_sai2 CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, I.CD_MERCADORIA, 
           SUM( ISNULL( I.PL_NAC, 0 ) ) AS PL_NAC, EN.NM_EMPRESA
    FROM   TNAC N, TNAC_ITEM I, TPROCESSO P, TDA_LOTE L, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  N.NR_PROCESSO = I.NR_PROCESSO AND 
           EN.CD_EMPRESA = P.CD_CLIENTE AND 
           N.NR_PROCESSO = P.NR_PROCESSO AND
           I.NR_PROCESSO_DA = L.NR_PROCESSO AND
           I.CD_MERCADORIA = L.CD_MERCADORIA AND
           I.NR_REF = L.NR_REF AND
           I.NR_LOTE = L.NR_LOTE AND
           I.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           L.DT_VALIDADE BETWEEN CONVERT( datetime, '01/01/1900', 103 ) AND @dt_fim AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa
    GROUP BY N.NR_PROCESSO, I.CD_MERCADORIA, L.DT_VALIDADE, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY N.NR_PROCESSO, I.CD_MERCADORIA, L.DT_VALIDADE
END

IF @tp_data = '3'
BEGIN
  DECLARE c_sai2 CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, I.CD_MERCADORIA, 
           SUM( ISNULL( I.PL_NAC, 0 ) ) AS PL_NAC, EN.NM_EMPRESA
    FROM   TNAC N, TNAC_ITEM I, TPROCESSO P, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  N.NR_PROCESSO = I.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND 
           N.NR_PROCESSO = P.NR_PROCESSO AND
           I.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           N.DT_VENDA BETWEEN CONVERT( datetime, '01/01/1900', 103 ) AND @dt_fim AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa 
    GROUP BY N.NR_PROCESSO, I.CD_MERCADORIA, N.DT_VENDA, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY N.NR_PROCESSO, I.CD_MERCADORIA, N.DT_VENDA
END

OPEN c_sai2
FETCH c_sai2 INTO @cd_armazem, @cd_area, @cd_mercadoria, @pl_lote, @nm_empresa
WHILE @@fetch_status = 0
BEGIN
  IF EXISTS( SELECT *
             FROM   #TMP_INT_SALDOS
             WHERE  CD_ARMAZEM    = @cd_armazem AND
                    CD_AREA       = @cd_area    AND
                    CD_MERCADORIA = @cd_mercadoria )
  BEGIN
    UPDATE #TMP_INT_SALDOS
    SET    PL_FINAL      = ISNULL( PL_FINAL, 0 ) - @pl_lote
    WHERE  CD_ARMAZEM    = @cd_armazem AND
           CD_AREA       = @cd_area    AND
           CD_MERCADORIA = @cd_mercadoria
  END
  ELSE
  BEGIN
    INSERT #TMP_INT_SALDOS ( CD_ARMAZEM, CD_AREA, CD_MERCADORIA, PL_ANTERIOR, PL_ENTRADA, PL_SAIDA, PL_FINAL, NM_EMPRESA )
    VALUES ( @cd_armazem, @cd_area, @cd_mercadoria, 0, 0, 0, @pl_lote, @nm_empresa )
  END

  FETCH c_sai2 INTO @cd_armazem, @cd_area, @cd_mercadoria, @pl_lote, @nm_empresa
END
CLOSE c_sai2
DEALLOCATE c_sai2

-- Saídas no período
IF @tp_data = '1'
BEGIN
  DECLARE c_sai CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, I.CD_MERCADORIA, 
           SUM( ISNULL( I.PL_NAC, 0 ) ) AS PL_NAC, EN.NM_EMPRESA
    FROM   TNAC N, TNAC_ITEM I, TPROCESSO P, TDA D, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  N.NR_PROCESSO = I.NR_PROCESSO AND 
           N.NR_PROCESSO = P.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND
           I.NR_PROCESSO_DA = D.NR_PROCESSO AND
           I.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           D.DT_VENCTO_DA BETWEEN @dt_inicio AND @dt_fim AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa
    GROUP BY N.NR_PROCESSO, I.CD_MERCADORIA, D.DT_VENCTO_DA, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY N.NR_PROCESSO, I.CD_MERCADORIA, D.DT_VENCTO_DA
END

IF @tp_data = '2'
BEGIN
  DECLARE c_sai CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, I.CD_MERCADORIA, 
           SUM( ISNULL( I.PL_NAC, 0 ) ) AS PL_NAC, EN.NM_EMPRESA
    FROM   TNAC N, TNAC_ITEM I, TPROCESSO P, TDA_LOTE L, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  N.NR_PROCESSO = I.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND 
           N.NR_PROCESSO = P.NR_PROCESSO AND
           I.NR_PROCESSO_DA = L.NR_PROCESSO AND
           I.CD_MERCADORIA = L.CD_MERCADORIA AND
           I.NR_REF = L.NR_REF AND
           I.NR_LOTE = L.NR_LOTE AND
           I.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           L.DT_VALIDADE BETWEEN @dt_inicio AND @dt_fim AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa 
    GROUP BY N.NR_PROCESSO, I.CD_MERCADORIA, L.DT_VALIDADE, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY N.NR_PROCESSO, I.CD_MERCADORIA, L.DT_VALIDADE
END

IF @tp_data = '3'
BEGIN
  DECLARE c_sai CURSOR FOR
    SELECT ISNULL( P.CD_ARMAZEM_DESCARGA, '' )AS CD_ARMAZEM, ISNULL( M.CD_AREA, '' ) AS CD_AREA, I.CD_MERCADORIA, 
           SUM( ISNULL( I.PL_NAC, 0 ) ) AS PL_NAC, EN.NM_EMPRESA
    FROM   TNAC N, TNAC_ITEM I, TPROCESSO P, TMERCADORIA M, TAREA A, TARMAZEM AM, TEMPRESA_NAC EN
    WHERE  N.NR_PROCESSO = I.NR_PROCESSO AND
           EN.CD_EMPRESA = P.CD_CLIENTE AND 
           N.NR_PROCESSO = P.NR_PROCESSO AND
           I.CD_MERCADORIA = M.CD_MERCADORIA AND
           M.CD_AREA = A.CD_AREA AND
           P.CD_ARMAZEM_DESCARGA = AM.CD_ARMAZEM AND
           N.DT_VENDA BETWEEN @dt_inicio AND @dt_fim AND
           ( ( M.AP_MERCADORIA LIKE '%' + @nm_mercadoria + '%' ) OR ( @nm_mercadoria = '' ) ) AND
           ( ( M.CD_MATERIAL LIKE '%' + @nr_articulo + '%' ) OR ( @nr_articulo = '' ) ) AND
           ( ( A.NM_AREA LIKE '%' + @nm_area + '%' ) OR ( @nm_area = '' ) ) AND
           ( ( AM.NM_ARMAZEM LIKE '%' + @nm_armazem + '%' ) OR ( @nm_armazem = '' ) ) AND
           EN.CGC_EMPRESA = @cgc_empresa
    GROUP BY N.NR_PROCESSO, I.CD_MERCADORIA, N.DT_VENDA, M.CD_AREA, P.CD_ARMAZEM_DESCARGA, EN.NM_EMPRESA
    ORDER BY N.NR_PROCESSO, I.CD_MERCADORIA, N.DT_VENDA
END

OPEN c_sai
FETCH c_sai INTO @cd_armazem, @cd_area, @cd_mercadoria, @pl_lote, @nm_empresa
WHILE @@fetch_status = 0
BEGIN
  IF EXISTS( SELECT *
             FROM   #TMP_INT_SALDOS
             WHERE  CD_ARMAZEM    = @cd_armazem AND
                    CD_AREA       = @cd_area    AND
                    CD_MERCADORIA = @cd_mercadoria )
  BEGIN
    UPDATE #TMP_INT_SALDOS
    SET    PL_SAIDA      = ISNULL( PL_SAIDA, 0 ) + @pl_lote
    WHERE  CD_ARMAZEM    = @cd_armazem AND
           CD_AREA       = @cd_area    AND
           CD_MERCADORIA = @cd_mercadoria
  END
  ELSE
  BEGIN
    INSERT #TMP_INT_SALDOS ( CD_ARMAZEM, CD_AREA, CD_MERCADORIA, PL_ANTERIOR, PL_ENTRADA, PL_SAIDA, PL_FINAL, NM_EMPRESA )
    VALUES ( @cd_armazem, @cd_area, @cd_mercadoria, 0, 0, @pl_lote, 0, @nm_empresa )
  END

  FETCH c_sai INTO @cd_armazem, @cd_area, @cd_mercadoria, @pl_lote, @nm_empresa
END

CLOSE c_sai
DEALLOCATE c_sai

UPDATE #TMP_INT_SALDOS
SET    PL_FINAL = ISNULL( PL_ANTERIOR, 0 ) + ISNULL( PL_ENTRADA, 0 ) - ISNULL( PL_SAIDA, 0 )

DELETE #TMP_INT_SALDOS
WHERE  ISNULL( PL_ENTRADA, 0 ) = 0 AND
       ISNULL( PL_SAIDA, 0 ) = 0

SELECT AM.NM_ARMAZEM AS NM_ARMAZEM, A.NM_AREA, S.CD_MERCADORIA, M.AP_MERCADORIA, M.CD_MATERIAL AS NR_ARTICULO,
       S.PL_ANTERIOR, S.PL_ENTRADA, S.PL_SAIDA, S.PL_FINAL, S.NM_EMPRESA
FROM   #TMP_INT_SALDOS S, TARMAZEM AM, TAREA A, TMERCADORIA M 
WHERE  S.CD_ARMAZEM = AM.CD_ARMAZEM AND
       S.CD_AREA = A.CD_AREA AND
       S.CD_MERCADORIA = M.CD_MERCADORIA
ORDER BY AM.NM_ARMAZEM, A.NM_AREA, M.AP_MERCADORIA

DROP TABLE #TMP_INT_SALDOS

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/

GRANT EXECUTE ON [dbo].[sp_int_saldos_periodo] TO [public]


GO
