USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_custos_job] AS
/*
SET XACT_ABORT ON
BEGIN TRAN
*/

SET NOCOUNT ON


DECLARE @nr_identificador int

DECLARE @nr_fatura       varchar(50), @email_ddimport varchar(8000),  @email_cliente  varchar(50)

DECLARE @dt_vencto_nota  datetime, @dt_nota          datetime, @dt_fatura	 datetime
DECLARE @sigla           char(3),  @nr_processo      char(18), @nr_nota          char(6)
DECLARE @tp_frete        char(1),  @nr_pedido        char(10), @nr_item_po       char(5)
DECLARE @cd_moeda_mle    char(3),  @nr_adicao        char(3),  @cd_frete         char(1) 
DECLARE @moeda_neg       char(3),  @cd_mercadoria    char(18), @cd_item_frete    char(3)
DECLARE @cd_item_irrf    char(3),  @cd_item_sda      char(3),  @cd_item_cpmf     char(3)
DECLARE @cd_item_afrmm   char(3),  @cd_item_cofins   char(3),  @cd_item_siscomex char(3)
DECLARE @nr_nota_entrada char(10), @dt_emissao_relat char(10), @nr_item_cliente  char(4)
DECLARE @nr_solic_fat    char(6)
DECLARE @vl_nota         float,    @vl_irrf          float,    @vl_sda           float
DECLARE @qtde            float,    @vl_merc          float,    @vl_item          float
DECLARE @vl_fob	         float,    @pl_merc          float,    @vl_peso          float
DECLARE @vl_cpmf         float,    @vl_despf         float,    @vl_arm           float
DECLARE @vl_frete_rd     float,    @vl_marinha       float,    @vl_multa         float
DECLARE @vl_capat        float,    @vl_txlibbl       float,    @vl_txdesc        float
DECLARE @vl_comissao     float,    @vl_decex         float,    @vl_laudo         float
DECLARE @vl_movtopri     float,    @vl_ccntr         float,    @vl_outras_desp   float
DECLARE @vl_txsisx       float,    @vl_frete         float,    @vl_thc_terminal  float
DECLARE @vl_pis		 float,    @vl_cofins	     float,    @vl_arm_ar        float 
DECLARE @vl_agente_car	 float,    @vl_transp_rod    float,    @vl_cofins_nf	 float 	
DECLARE @vl_carreg	 float,    @vl_frete_ar	     float,    @vl_rem_cntr      float
DECLARE @vl_ret_fonte	 float,	   @vl_transp_fer    float,    @vl_desp_term     float
DECLARE @vl_env_docs     float,    @vl_desp_adm      float,    @vl_iss_term      float
DECLARE @vl_darf         float,    @vl_icms	     float,    @vl_cofins_arm    float
DECLARE @vl_insp         float,    @vl_desp_port     float

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ) , 0 ) + 1
FROM   TDDIMPORT_CUSTO

-- subtrai um dia da data atual
SELECT @dt_emissao_relat = CONVERT( char(10), ( GETDATE() - 1 ), 103)

SELECT @cd_item_irrf     = '415',            -- item imposto de renda
       @cd_item_sda      = CD_ITEM_SDA,      -- item sda
       @cd_item_cpmf     = CD_ITEM_CPMF,     -- item cpmf
       @cd_item_afrmm    = CD_ITEM_AFRMM,    -- item marinha mercante
       @cd_item_siscomex = CD_ITEM_SISCOMEX, -- item siscomex
       @cd_item_cofins   = CD_ITEM_COFINS    -- item cofins
FROM TPARAMETROS (NOLOCK)

-- ITEM FRETE
SELECT @cd_item_frete = CD_ITEM    
  FROM TITEM (NOLOCK)
 WHERE CD_ITEM = '001'


DECLARE c_proc CURSOR FOR
           SELECT DISTINCT P.NR_PROCESSO, DM.NR_PROC_PO, DM.NR_ITEM_PO, DM.CD_MERCADORIA, DM.QT_MERC_UN_COMERC, 
                  DM.VL_MLE_ITEM, DM.PL_MERCADORIA, A.CD_MOEDA_NEGOCIADA, A.NR_ADICAO, P.TP_FRETE,  
                  T.DT_FATURA, T.NR_NOTA_FATURA, T.VL_LIQUIDACAO, T.DT_VENCTO_FATURA, T.DT_FATURA, C.NR_SOLIC_FAT
             FROM TPROCESSO P (NOLOCK)
            INNER JOIN TEMPRESA_NAC E (NOLOCK)          ON (  E.CD_EMPRESA   = P.CD_CLIENTE  ) 
            INNER JOIN TDETALHE_MERCADORIA DM (NOLOCK)  ON (  DM.NR_PROCESSO = P.NR_PROCESSO )
            INNER JOIN TADICAO_DE_IMPORTACAO A (NOLOCK) ON (  A.NR_PROCESSO  = P.NR_PROCESSO AND DM.NR_ADICAO = A.NR_ADICAO )  
            INNER JOIN TFATURAMENTO_CC C (NOLOCK)       ON (  P.NR_PROCESSO  = C.NR_PROCESSO    ) 
            INNER JOIN TS_FATURA T (NOLOCK)             ON (  C.NR_SOLIC_FAT = T.NR_SOLICITACAO AND 
                                                              P.CD_UNID_NEG  = T.CD_UNID_NEG    AND
                                                              P.CD_PRODUTO   = T.CD_PRODUTO     )      
            WHERE     P.CD_PRODUTO IN ( '01', '03' )
              AND P.IN_CANCELADO = '0'     
              AND T.IN_CANCELADO = '0'             
              AND C.IN_CANCELADO = '0'             
              AND T.TP_TIPO_FAT = 'F'    -- só entra o que foi faturado em Faturas 
              AND E.CD_GRUPO     = '065' -- Grupo Valtra
              AND T.DT_FATURA   > convert( datetime, @dt_emissao_relat, 103 )
--            AND P.NR_PROCESSO  IN ( '0101I0-2860-05' )
            ORDER BY P.NR_PROCESSO, DM.NR_ITEM_PO

OPEN c_proc
FETCH c_proc INTO @nr_processo, @nr_pedido, @nr_item_po, @cd_mercadoria, @qtde, 
                  @vl_item, @pl_merc, @moeda_neg, @nr_adicao, @cd_frete,
                  @dt_nota,  @nr_nota, @vl_nota, @dt_vencto_nota, @dt_fatura, @nr_solic_fat
                  
WHILE @@fetch_status = 0
BEGIN

  -- FOB na moeda
  SELECT @vl_fob = ISNULL( ( VL_TOTAL_MLE_MN / TX_MLE ), 0 )
    FROM TDECLARACAO_IMPORTACAO (NOLOCK)
   WHERE NR_PROCESSO = @nr_processo
  
  -- Coeficiente do Valor da Mercadoria
  SET @vl_merc = @vl_fob / @vl_item
  
  -- Coeficiente de Peso
  IF @pl_merc <> 0 
  BEGIN
    SELECT @vl_peso = ISNULL( ( PL_CARGA / @pl_merc ), 0 )
      FROM TDECLARACAO_IMPORTACAO (NOLOCK)
     WHERE NR_PROCESSO = @nr_processo
  END
  ELSE
  BEGIN
    SELECT @vl_peso = 0
  END

  -- Código da moeda negociada
  SELECT @cd_moeda_mle = CD_MOEDA_MLE
    FROM TDECLARACAO_IMPORTACAO (NOLOCK)
   WHERE NR_PROCESSO = @nr_processo

  -- Fatura
  SELECT @nr_fatura = NR_FATURA, @nr_item_cliente = NR_ITEM_CLIENTE
    FROM TPO_ITEM (NOLOCK)
   WHERE NR_PROCESSO = @nr_pedido
     AND NR_ITEM_CLIENTE = @nr_item_po

  -- Sigla da Moeda
  SELECT @sigla = AP_MOEDA
    FROM TMOEDA_BROKER (NOLOCK)
   WHERE CD_MOEDA = @cd_moeda_mle

  -- Data NFServiço / No NFServico / Valor NFServico / Dt Vencto NFServico

  -- ICMS
  SET @vl_icms = 0
  SELECT @vl_icms = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                        WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM IN ( '027', '075' )
                        AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                      ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                        WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM IN ( '027', '075' )
                        AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )
  -- IMPOSTO
  -- IRRF
  SET @vl_irrf = 0
  SELECT @vl_irrf = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                        WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '415'
                        AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                      ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                        WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '415'
                        AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  --COFINS
  SET @vl_cofins_nf = 0
  SELECT @vl_cofins_nf = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_cofins -- 577
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_cofins -- 577
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor Retenção Fonte
  SET @vl_ret_fonte = 0
  SELECT @vl_ret_fonte = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '578'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '578'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )
 
  SELECT @vl_irrf = @vl_irrf + @vl_cofins_nf + @vl_ret_fonte

  -- SDA
  SET @vl_sda = 0
  SELECT @vl_sda = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                       WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_sda
                       AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                     ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                       WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_sda
                       AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- CPMF
  SET @vl_cpmf = 0
  SELECT @vl_cpmf = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                        WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_cpmf  -- ítem '067'
                        AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                      ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                        WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_cpmf  -- ítem '067'
                        AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Despesas Financeira
  SET @vl_despf = 0
  SELECT @vl_despf = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '230'
                         AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                       ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '230'
                         AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Armazenagem
  SET @vl_arm = 0
  SELECT @vl_arm = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 )  FROM TFATURAMENTO_CC C (NOLOCK)   
                       WHERE C.NR_PROCESSO = @nr_processo    AND C.CD_ITEM IN ( '015', '061', '514', '056' )	-- 015 - armazenagem
                       AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) -            		-- 061 - arm_aérea   
                     ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 )  FROM TFATURAMENTO_CC C (NOLOCK)     		-- 514 - armazenagem
                       WHERE C.NR_PROCESSO = @nr_processo    AND C.CD_ITEM IN ( '015', '061', '514', '056' )	-- 056 - arm complementar
                       AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Frete Rodoviário
  SET @vl_frete_rd = 0
  SELECT @vl_frete_rd = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                            WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '421'
                            AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                          ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                            WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '421'
                            AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Marinha Mercante
  SET @vl_marinha = 0
  SELECT @vl_marinha = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                           WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_afrmm  -- ítem '160'
                           AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                         ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                           WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_afrmm  -- ítem '160'
                           AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Multa
  SET @vl_multa = 0
  SELECT @vl_multa = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '074'
                         AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                       ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '074'
                         AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )
  -- Capatazia
  SET @vl_capat = 0
  SELECT @vl_capat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '040'
                         AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                       ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '040'
                         AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Tx Lib BL
  SET @vl_txlibbl = 0
  SELECT @vl_txlibbl = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                           WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '076'
                           AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                         ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                           WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '076'
                           AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )
  
  -- Tx Desconsolidação
  SET @vl_txdesc = 0
  SELECT @vl_txdesc = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                          WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '060'
                          AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                        ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                          WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '060'
                          AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )


  -- Serviço Aduaneiro ( Comissão )
  SET @vl_comissao = 0
  SELECT @vl_comissao = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                            WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM IN ( SELECT CD_ITEM FROM TITEM (NOLOCK) WHERE CD_TIPO_ITEM = 'R' )
                            AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                          ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                            WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM IN ( SELECT CD_ITEM FROM TITEM (NOLOCK) WHERE CD_TIPO_ITEM = 'R' )
                            AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )
  -- DECEX (LI)
  SET @vl_decex = 0
  SELECT @vl_decex = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '115'
                         AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                       ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '115'
                         AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )
  -- Laudo Técnico
  SET @vl_laudo = 0
  SELECT @vl_laudo = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '148'
                         AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                       ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '148'
                         AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Movto Zona Primária ( Movimentação )
  SET @vl_movtopri = 0
  SELECT @vl_movtopri = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                            WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '305'
                            AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                          ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                            WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '305'
                            AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Caução Conteiner ( Depósito Conteiner )
  SET @vl_ccntr = 0
  SELECT @vl_ccntr = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '044'
                         AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                       ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                         WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '044'
                         AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Taxa Siscomex
  SET @vl_txsisx = 0
  SELECT @vl_txsisx = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                          WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_siscomex  -- ítem '032'
                          AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                        ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                          WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = @cd_item_siscomex  -- ítem '032'
                          AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- THC ( TERMINAL )
  SET @vl_thc_terminal = 0
  SELECT @vl_thc_terminal = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '110'
                                AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                              ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '110'
                                AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Tipo de Frete
  SELECT @tp_frete = SUBSTRING( DESCRICAO, 1, 1 )
    FROM TTP_FRETE (NOLOCK)
   WHERE CODIGO = @cd_frete

  -- Valor Frete Aéreo
  SET @vl_frete_ar = 0
  SELECT @vl_frete_ar = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                            WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '029'
                            AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                          ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                            WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '029'
                            AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor do Frete Marítimo
  SET @vl_frete = 0  
  IF @tp_frete = 'C'
  BEGIN
    SELECT @vl_frete = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                           WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '001'
                           AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                         ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                           WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '001'
                           AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )
  END
  ELSE
  BEGIN
    SELECT @vl_frete = ( ISNULL( VL_TOTAL_FRETE_MN ,0 ) * @vl_peso ) 
    FROM  TDECLARACAO_IMPORTACAO (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo
  END

  SELECT @vl_frete = @vl_frete + @vl_frete_ar

  -- Outras Despesa 
  SET @vl_outras_desp = 0

  --Nota Fiscal Entrada
  SELECT TOP 1 @nr_nota_entrada = ISNULL( NR_NOTA, '' )
    FROM TPROCESSO_NF (NOLOCK)
   WHERE NR_PROCESSO  = @nr_processo AND 
         IN_CANCELADO = '0'

  --Base de cálculo do PIS / COFINS
  
  --Valor do PIS
  SET @vl_pis = 0
  SELECT @vl_pis = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                       WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM IN ( '600', '615' )
                       AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                     ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                       WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM IN ( '600', '615' )
                       AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  --Valor do COFINS
  SET @vl_cofins = 0
  SELECT @vl_cofins = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                          WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM IN ( '599', '616' )
                          AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                        ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                          WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM IN ( '599', '616' )
                          AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )
  
  --Valor do PIS sobre armazenagem
  
  --Valor do COFINS Armazenagem
  SET @vl_cofins_arm = 0
  SELECT @vl_cofins_arm = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '579'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '579'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valores de despesas que serão colocados nos campos RESERVA

  -- Valor Despesas Agente Carga
  SET @vl_agente_car = 0
  SELECT @vl_agente_car = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '528'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '528'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor Transporte Rodoviário
  SET @vl_transp_rod = 0
  SELECT @vl_transp_rod = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '425'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '425'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Transporte Ferroviário
  SET @vl_transp_fer = 0
  SELECT @vl_transp_fer = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '662'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '662'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  SET @vl_transp_rod = @vl_transp_rod + @vl_transp_fer

  -- Valor Carregamento
  SET @vl_carreg = 0
  SELECT @vl_carreg  = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                           WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '083'
                           AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                         ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                           WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '083'
                           AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Outras Despesa 
  SET @vl_outras_desp = 0

  -- Valor Remoção CNTR
  SET @vl_rem_cntr = 0
  SELECT @vl_rem_cntr  = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '071'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '071'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor Despesa Terminal
  SET @vl_desp_term = 0
  SELECT @vl_desp_term  = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '308'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '308'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor Envio de Documentos
  SET @vl_env_docs = 0
  SELECT @vl_env_docs  = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '424'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '424'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor Despesas Administrativas
  SET @vl_desp_adm = 0
  SELECT @vl_desp_adm  = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '106'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '106'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor ISS Terminal
  SET @vl_iss_term = 0
  SELECT @vl_iss_term  = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '390'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '390'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor DARF
  SET @vl_darf = 0
  SELECT @vl_darf  = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '014'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '014'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor Inspeção CNTR
  SET @vl_insp = 0
  SELECT @vl_insp  = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '077'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '077'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Valor Desp Portuárias
  SET @vl_desp_port = 0
  SELECT @vl_desp_port  = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '527'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = @nr_processo   AND C.CD_ITEM = '527'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat ) )

  -- Outras Despesas
  SET @vl_outras_desp = @vl_outras_desp + @vl_rem_cntr + @vl_desp_term + @vl_env_docs + @vl_desp_adm + @vl_iss_term + @vl_darf + @vl_insp + @vl_desp_port

  INSERT TDDIMPORT_CUSTO
       ( NR_IDENTIFICADOR, NR_DI, NR_PEDIDO, TX_CAMBIO_REG_DI, NR_ITEM_PEDIDO,                                       -- 1
  	 NR_FATURA, CD_PRODUTO, QTDE, VL_FOB_ITEM_MNEG,	RESERVA_1, VL_SEGURO,                                        -- 2
	 VL_CPMF, RESERVA_2, RESERVA_3, RESERVA_4, VL_II, VL_IPI, VL_ICMS,                                           -- 3
	 VL_FRETE, RESERVA_5, VL_DESPESAS_FIN, RESERVA_6, RESERVA_7,                                                 -- 4
  	 DT_FATURA, SL_MOEDA, DT_NF_SERVICO_DESP, NR_NF_SERVICO_DESP,                                                -- 5
  	 VL_NF_SERVICO_DESP, DT_VENCTO_NF_SERVICO_DESP, VL_IRRF_DESP,                                                -- 6
  	 RESERVA_8, RESERVA_9, NR_ADICAO_DI, RESERVA_10, REF_DESP, RESERVA_11,                                       -- 7   
  	 VL_TX_SISCOMEX, VL_ARMAZENAGEM, VL_SDA, NR_NF_ENTRADA, RESERVA_12,                                          -- 8
	 VL_MULTA, TP_FRETE, REF_EMB_DDIMPORT, VL_FRETE_ROD, VL_MARINHA,                                             -- 9
	 VL_CAPATAZIA, VL_REMOCAO_DAP, VL_TX_LIB_BL, VL_TX_DESC, VL_SERV_ADUAN,                                      -- 10
	 VL_DECEX_LI, VL_FITP, VL_LAUDO_TECN, VL_MOV_PRI, VL_MOV_RETRO, VL_CAUCAO_CNTR,                              -- 11
	 VL_DESPESA_1, VL_DESPESA_2, VL_DESPESA_3, VL_OUTRAS_DESPESA, VL_TX_CAMBIO_FRETE_DI,                         -- 12
	 VL_TX_CAMBIO_SEGURO_DI, VL_TX_CAMBIO_DOLAR_DI, DT_FECHAMENTO, NR_ITEM_EMBARQUE,                             -- 13
	 CD_DELIVERY_NOTE, VL_BASE_CALCULO_PIS_COFINS, VL_PIS, VL_COFINS, VL_PIS_ARMAZENAGEM, VL_COFINS_ARMAZENAGEM,  -- 14
         NR_SOLIC_FAT )                                                                                              -- 15
   SELECT @nr_identificador, NR_DECLARACAO_IMP, @nr_pedido, DI.TX_MLE, @nr_item_po,                                   -- 1
          @nr_fatura, @cd_mercadoria, @qtde, @vl_item, 0, ( DI.VL_TOT_SEGURO_MNEG / @vl_merc ),                       -- 2 
          ( @vl_cpmf / @vl_merc), 0, 0, 0, (ISNULL(DI.VL_TOTAL_II,0) / @vl_merc), (ISNULL(DI.VL_TOTAL_IPI,0) / @vl_merc), ( @vl_icms / @vl_merc), -- 3 
          ( @vl_frete / @vl_merc), 0, ( @vl_despf / @vl_merc ), 0, 0,                                                 -- 4
          @dt_nota, @sigla, @dt_nota, @nr_nota,                                                                       -- 5 
          @vl_nota, @dt_vencto_nota, ( @vl_irrf / @vl_merc ),                                                         -- 6  
          '', '', @nr_adicao, '', SUBSTRING( P.NR_PROCESSO, 5, 10 ) , '',                                             -- 7
          ( @vl_txsisx / @vl_merc ), ( @vl_arm / @vl_merc ),( @vl_sda / @vl_merc ), @nr_nota_entrada, '',             -- 8 
          ( @vl_multa / @vl_merc ), @tp_frete, @nr_pedido, ( @vl_transp_rod / @vl_merc ), ( @vl_marinha / @vl_merc ), -- 9
          (@vl_capat / @vl_merc), 0, (@vl_txlibbl / @vl_merc), (@vl_txdesc / @vl_merc), (@vl_comissao / @vl_merc),    -- 10
          (@vl_decex / @vl_merc), 0, (@vl_laudo / @vl_merc), (@vl_movtopri / @vl_merc), 0, (@vl_ccntr / @vl_merc),    -- 11  
          ( @vl_thc_terminal  / @vl_merc ), (@vl_agente_car / @vl_merc), (@vl_carreg / @vl_merc), ( @vl_outras_desp / @vl_merc ), ISNULL( DI.TX_FRETE, 0 ), -- 12
          ISNULL( DI.TX_SEGURO, 0 ), ISNULL( DI.TX_DOLAR, 0 ), @dt_fatura, @nr_item_cliente,                          -- 13
          '', 0, ( @vl_pis / @vl_merc ), ( @vl_cofins / @vl_merc ), 0, ( @vl_cofins_arm / @vl_merc ),                 -- 14
          @nr_solic_fat                    									      -- 15
    FROM  TPROCESSO P (NOLOCK)
	  join TDECLARACAO_IMPORTACAO DI (NOLOCK) on ( P.NR_PROCESSO = DI.NR_PROCESSO )
    WHERE P.NR_PROCESSO = @nr_processo

FETCH c_proc INTO @nr_processo, @nr_pedido, @nr_item_po, @cd_mercadoria, @qtde, 
                  @vl_item, @pl_merc, @moeda_neg, @nr_adicao, @cd_frete,
                  @dt_nota,  @nr_nota, @vl_nota, @dt_vencto_nota, @dt_fatura, @nr_solic_fat

END
CLOSE c_proc
DEALLOCATE c_proc


SELECT  CAST( ISNULL( NR_DI, '' ) AS CHAR(12) ) AS NR_DI,                                                   	        	  			-- Número da Di
        CAST( ISNULL( NR_PEDIDO, '' ) AS CHAR(10) ) AS NR_PEDIDO,                                                		  			-- Número do Pedido
        CAST( CAST( ISNULL( TX_CAMBIO_REG_DI, 0 ) AS DECIMAL( 10, 5) ) AS CHAR(10) ) AS TX_CAMBIO_REG_DI,              		  			-- Taxa de Cambio Reg.DI Moeda Fob( 5 casas decimais )
        CAST( ISNULL( NR_ITEM_PEDIDO, '' ) AS CHAR(5) ) AS NR_ITEM_PEDIDO,                                            		  			-- Número do Item Pedido
  	CAST( ISNULL( NR_FATURA, '' ) AS CHAR(16) ) AS NR_FATURA,                                                		  			-- Número da Fatura 
        CAST( ISNULL( CD_PRODUTO, '' ) AS CHAR(18) ) AS CD_PRODUTO,                                               		  			-- Código do Produto
        CAST( CAST( ISNULL( QTDE, 0 ) AS DECIMAL(17, 3) ) AS CHAR(17) ) AS QTDE,                                		  			-- Quantidade ( casas decimais )
        CAST( CAST( ISNULL( VL_FOB_ITEM_MNEG, 0 ) AS DECIMAL(16, 5) ) AS CHAR(16) ) AS VL_FOB_ITEM_MNEG,               		  			-- Valor Fob do Item na Moeda ( 5 casas Decimais) 	
        CAST( CAST( ISNULL( RESERVA_1, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS RESERVA_1,                          		  			-- Valor THC Terminal
        CAST( CAST( ISNULL( VL_SEGURO, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_SEGURO,                          		  			-- Seguro Internacional                              
	CAST( CAST( ISNULL( VL_CPMF, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_CPMF,                             		  			-- CPMF
        CAST( CAST( ISNULL( RESERVA_2, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS RESERVA_2,                          		  			-- Reserva 02
        CAST( CAST( ISNULL( RESERVA_3, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS RESERVA_3,                          		  			-- Reserva 03 
        CAST( CAST( ISNULL( RESERVA_4, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS RESERVA_4,                          		  			-- Reserva 04 
        CAST( CAST( ISNULL( VL_II, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_II,                              		          			-- II 
        CAST( CAST( ISNULL( VL_IPI, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_IPI,                        			  			-- IPI
        CAST( CAST( ISNULL( VL_ICMS, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_ICMS,                   		                  			-- ICMS
	CAST( CAST( ISNULL( VL_FRETE, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_FRETE,                          		          			-- Frete Internacional
        CAST( CAST( ISNULL( RESERVA_5, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS RESERVA_5,                		                  			-- Reserva 05
        CAST( CAST( ISNULL( VL_DESPESAS_FIN, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_DESPESAS_FIN,           		          			-- Despesas Financeiras
        CAST( CAST( ISNULL( RESERVA_6, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS RESERVA_6,                		                  			-- Reserva 06 
        CAST( CAST( ISNULL( RESERVA_7, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS RESERVA_7,                          		  			-- Reserva 07
  	CAST( ISNULL( REPLACE( CONVERT( char(10), DT_FATURA, 103 ), '/', '' ), '' ) AS CHAR(8) )  AS DT_FATURA,                   			-- Data da Fatura
        CAST( ISNULL( SL_MOEDA, '' ) AS CHAR(4) ) AS SL_MOEDA,						                          			-- Sigla da Moeda ( EX: USD, EUR )
        CAST( ISNULL( REPLACE( CONVERT( char(10), DT_NF_SERVICO_DESP, 103 ), '/', '' ), '' ) AS CHAR(8) ) AS DT_NF_SERVICO_DESP,  			-- Data NF Serviço Despachante
        CAST( ISNULL( NR_NF_SERVICO_DESP, '' ) AS CHAR(8) ) AS NR_NF_SERVICO_DESP,                                            				-- Número da NF Serviço Despachante
  	CAST( CAST( ISNULL( VL_NF_SERVICO_DESP, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_NF_SERVICO_DESP,                         			-- Valor da NF Serviço Despachante
        CAST( ISNULL( REPLACE( CONVERT( char(10), DT_VENCTO_NF_SERVICO_DESP, 103 ), '/', '' ), '' ) AS CHAR(8) ) AS DT_VENCTO_NF_SERVICO_DESP,          -- Data Vencimento NF Serviço Despachante
        CAST( CAST( ISNULL( VL_IRRF_DESP, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_IRRF_DESP, 					  			-- Valor IRRF Despachante       
  	CAST( ISNULL( RESERVA_8, '' ) AS CHAR(10) ) AS RESERVA_8,                        					  			-- Reserva 08 
        CAST( ISNULL( RESERVA_9, '' ) AS CHAR(10) ) AS RESERVA_9,                       					  			-- Reserva 09 
        CAST( ISNULL( NR_ADICAO_DI, '' ) AS CHAR(3) ) AS NR_ADICAO_DI,                      					  			-- Número da Adição da DI
        CAST( ISNULL( RESERVA_10, '' ) AS CHAR(25) ) AS RESERVA_10,                        					  			-- Reserva 10 
        CAST( ISNULL( REF_DESP, '' ) AS CHAR(15) ) AS REF_DESP,                      						  			-- Referencia do Despachante
        CAST( ISNULL( RESERVA_11, '' ) AS CHAR(15) ) AS RESERVA_11,                         					  			-- Reserva 11                                
  	CAST( CAST( ISNULL( VL_TX_SISCOMEX, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_TX_SISCOMEX,                          	  			-- Taxa siscomex 
        CAST( CAST( ISNULL( VL_ARMAZENAGEM, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_ARMAZENAGEM,                         	  			-- Armazenagem 
        CAST( CAST( ISNULL( VL_SDA, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_SDA,                         			  			-- SDA 
        CAST( ISNULL( NR_NF_ENTRADA, '' ) AS CHAR(16) ) AS NR_NF_ENTRADA,							  			-- Número da NF de Entrada
        CAST( ISNULL( RESERVA_12, '' )    AS CHAR(10) ) AS RESERVA_12,                          		                  			-- Reserva 12                               
	CAST( CAST( ISNULL( VL_MULTA, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_MULTA,       					  			-- Multa	
        CAST( ISNULL( TP_FRETE, '' )      AS CHAR(1) ) AS TP_FRETE,								  			-- Tipo de Frete ( P = Prepaid, C = Collect )
        CAST( ISNULL( REF_EMB_DDIMPORT, '' ) AS CHAR(15) ) AS REF_EMB_DDIMPORT,							  			-- Referencia do Embarque do DDImport
        CAST( CAST( ISNULL( VL_FRETE_ROD, 0 )       AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_FRETE_ROD,				  			-- Frete Rodoviario
        CAST( CAST( ISNULL( VL_MARINHA, 0 )         AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_MARINHA,				  			-- Marinha Mercante
        CAST( CAST( ISNULL( VL_CAPATAZIA, 0 )       AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_CAPATAZIA,				  			-- Capatazia
        CAST( CAST( ISNULL( VL_REMOCAO_DAP, 0 )     AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_REMOCAO_DAP,				  			-- Remoção DAP
        CAST( CAST( ISNULL( VL_TX_LIB_BL, 0 )       AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_TX_LIB_BL,				  			-- Taxa de Liberação de BL
        CAST( CAST( ISNULL( VL_TX_DESC, 0 )         AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_TX_DESC,				  			-- Taxa de Desconsolidação
        CAST( CAST( ISNULL( VL_SERV_ADUAN,0 )       AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_SERV_ADUAN,    	                  			-- Serviço Aduaneiro
        CAST( CAST( ISNULL( VL_DECEX_LI, 0 )        AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_DECEX_LI,				  			-- Decex ( LI )
        CAST( CAST( ISNULL( VL_FITP, 0 )            AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_FITP,			        	  			-- FITP
        CAST( CAST( ISNULL( VL_LAUDO_TECN, 0 )      AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_LAUDO_TECN,				  			-- Laudo Técnico
        CAST( CAST( ISNULL( VL_MOV_PRI, 0 )         AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_MOV_PRI,				  			-- MOVTO Zona Primaria
        CAST( CAST( ISNULL( VL_MOV_RETRO, 0 )       AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_MOV_RETRO,				  			-- MOVTO Retro Area
        CAST( CAST( ISNULL( VL_CAUCAO_CNTR,0 )      AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_CAUCAO_CNTR,				  			-- Caução Container
        CAST( CAST( ISNULL( VL_DESPESA_1, 0 )       AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_DESPESA_1,			 	  			-- Despesa 1
        CAST( CAST( ISNULL( VL_DESPESA_2, 0 )       AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_DESPESA_2,				  			-- Despesa 2
        CAST( CAST( ISNULL( VL_DESPESA_3, 0 )       AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_DESPESA_3,				  			-- Despesa 3
        CAST( CAST( ISNULL( VL_OUTRAS_DESPESA, 0 )  AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_OUTRAS_DESPESA,		          			-- Outras Despesas
        CAST( CAST( ISNULL( VL_TX_CAMBIO_FRETE_DI,  0 ) AS DECIMAL(16, 7) ) AS CHAR(14) ) AS VL_TX_CAMBIO_FRETE_DI, 		  			-- Taxa de Cambio Frete da DI ( 7 casas decimais )
        CAST( CAST( ISNULL( VL_TX_CAMBIO_SEGURO_DI, 0 ) AS DECIMAL(16, 7) ) AS CHAR(14) ) AS VL_TX_CAMBIO_SEGURO_DI,              			-- Taxa de Cambio Seguro da DI ( 7 casas decimais )
        CAST( CAST( ISNULL( VL_TX_CAMBIO_DOLAR_DI, 0 )  AS DECIMAL(16, 7) ) AS CHAR(14) ) AS VL_TX_CAMBIO_DOLAR_DI,               			-- Taxa de Cambio Dolar da DI ( 7 casas decimais )
        CAST( ISNULL( REPLACE( CONVERT( char(10), DT_FECHAMENTO, 103 ), '/', '' ), '' ) AS CHAR(8) )  AS DT_FECHAMENTO,           			-- Data do Fechamento 
        CAST( ISNULL( NR_ITEM_EMBARQUE, '' ) AS CHAR(4) ) AS NR_ITEM_EMBARQUE, 							  			-- Número do Item do Embarque no DDImport
        CAST( ISNULL( CD_DELIVERY_NOTE, '' ) AS CHAR(50) ) AS CD_DELIVERY_NOTE,							  			-- Codigo do Delivery Note 
	CAST( CAST( ISNULL( VL_BASE_CALCULO_PIS_COFINS, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_BASE_CALCULO_PIS_COFINS,				-- Base de Cálculo do PIS/COFINS
	CAST( CAST( ISNULL( VL_PIS, 0 )  	    AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_PIS,								-- Valor do PIS
	CAST( CAST( ISNULL( VL_COFINS, 0 )  	    AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_COFINS,							-- Valor do COFINS
	CAST( CAST( ISNULL( VL_PIS_ARMAZENAGEM, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_PIS_ARMAZENAGEM,						-- Valor do PIS sobre armazenagem
	CAST( CAST( ISNULL( VL_COFINS_ARMAZENAGEM, 0 ) AS DECIMAL(16, 2) ) AS CHAR(16) ) AS VL_COFINS_ARMAZENAGEM,						-- Valor do COFINS sobre armazenagem
        CAST( ISNULL( NR_SOLIC_FAT, '' ) AS CHAR(6) ) AS NR_SOLIC_FAT                                                		  			-- Número da Solic Fatura   
  INTO #TEMAIL_DDIMPORT_CUSTO_TEMP
  FROM TDDIMPORT_CUSTO
  WHERE NR_IDENTIFICADOR = @nr_identificador

-------------------------------------------------------------------------------------------------------------------------
-- Acerta valores para baterem com a fatura ( diferença de centavos em virtude do rateio )
DECLARE @processo_p		char(10), @vl_ii_p	     float,  @vl_tx_sicomex_p		float,
	@vl_armazenagem_p	float,    @vl_cpmf_p         float,  @vl_marinha_p		float,
    	@vl_mov_pri_p		float,	  @vl_pis_p          float,  @vl_cofins_p		float,
	@nr_item_pedido		char(4),  @nr_solic_fat_p    char(6),@vl_ipi_p		        float,
        @vl_frete_p	        float,    @vl_frete_rod_p    float,  @vl_tx_desc_p		float,
        @vl_icms_fat	        float,    @vl_sda_fat        float,  @vl_seguro_p		float,
        @vl_desp_fin_p          float,	  @vl_multa_p        float,  @vl_capatazia_p		float,
        @vl_txlibbl_p           float,    @vl_comissao_p     float,  @vl_decex_p		float,
        @vl_laudo_p             float,    @vl_ccntr_p        float,  @vl_thc_terminal_p         float,      
        @vl_agente_car_p        float,    @vl_carreg_p       float,  @vl_outras_desp_p          float,
	@vl_imposto_p           float,    @pedido_p          char(10),@item_ped_p                char(6),
        @vl_cofins_arm_p        float
	  
DECLARE @vl_ii_fat		float,	  @vl_tx_sicomex_fat float,  @vl_armazenagem_fat	float,
        @vl_cpmf_fat		float,    @vl_marinha_fat    float,  @vl_mov_pri_fat		float,	
        @dif			float,	  @vl_pis_fat        float,  @vl_cofins_fat		float,
        @vl_ipi_fat             float,    @vl_frete_fat	     float,  @vl_frete_rod_fat          float,
        @vl_tx_desc_fat		float,    @vl_icms_p  	     float,  @vl_sda_p			float,
        @vl_seguro_fat		float,    @vl_desp_fin_fat   float,  @vl_multa_fat		float,
        @vl_capatazia_fat	float, 	  @vl_txlibbl_fat    float,  @vl_comissao_fat           float,
        @vl_decex_fat           float,    @vl_laudo_fat      float,  @vl_ccntr_fat              float,
        @vl_thc_terminal_fat    float,    @vl_agente_car_fat float,  @vl_carreg_fat             float,
        @vl_outras_desp_fat     float,    @vl_rem_cntr_fat   float,  @vl_desp_term_fat          float,
        @vl_env_docs_fat        float,    @vl_irrf_fat 	     float,  @vl_cofins_nf_fat		float,
        @vl_imposto_fat         float,    @vl_ret_fonte_fat  float,  @vl_frete_mar_fat          float,
        @vl_frete_ar_fat        float,    @vl_frete_fer_fat  float,  @vl_desp_adm_fat           float,
        @vl_iss_term_fat        float,    @vl_cofins_arm_fat float,  @vl_darf_fat		float,
        @vl_insp_fat            float,    @vl_desp_port_fat  float			

DECLARE c_acerta CURSOR FOR
  SELECT REF_DESP, MIN( NR_ITEM_PEDIDO ), MAX ( NR_SOLIC_FAT ), MAX( NR_PEDIDO ), MAX( NR_ITEM_PEDIDO ), 
         SUM( CAST( VL_SEGURO AS DECIMAL(16, 2) ) ), SUM( CAST( VL_II AS DECIMAL(16, 2) ) ), SUM( CAST( VL_TX_SISCOMEX AS DECIMAL(16, 2) ) ), 
         SUM( CAST( VL_ARMAZENAGEM AS DECIMAL(16, 2) ) ), SUM( CAST( VL_CPMF AS DECIMAL(16, 2) ) ), 
         SUM( CAST( VL_MARINHA AS DECIMAL(16, 2) ) ), SUM( CAST( VL_MOV_PRI AS DECIMAL(16, 2) ) ),
         SUM( CAST( VL_PIS AS DECIMAL(16, 2) ) ), SUM( CAST( VL_COFINS AS DECIMAL(16, 2) ) ),
         SUM( CAST( VL_DESPESAS_FIN AS DECIMAL(16, 2) ) ), SUM( CAST( VL_MULTA AS DECIMAL(16, 2) ) ), 
         SUM( CAST( VL_CAPATAZIA AS DECIMAL(16, 2) ) ), SUM( CAST( VL_TX_LIB_BL AS DECIMAL(16, 2) ) ),
         SUM( CAST( VL_SERV_ADUAN AS DECIMAL(16, 2) ) ), SUM( CAST( VL_DECEX_LI AS DECIMAL(16, 2) ) ),
         SUM( CAST( VL_IPI AS DECIMAL(16, 2) ) ), SUM( CAST( VL_FRETE AS DECIMAL(16, 2) ) ),
         SUM( CAST( VL_LAUDO_TECN AS DECIMAL(16, 2) ) ), SUM( CAST( VL_CAUCAO_CNTR AS DECIMAL(16, 2) ) ),
         SUM( CAST( VL_DESPESA_1 AS DECIMAL(16, 2) ) ), SUM( CAST( VL_DESPESA_2 AS DECIMAL(16, 2) ) ), 
         SUM( CAST( VL_DESPESA_3 AS DECIMAL(16, 2) ) ), SUM( CAST( VL_OUTRAS_DESPESA AS DECIMAL(16, 2) ) ),  
         SUM( CAST( VL_FRETE_ROD AS DECIMAL(16, 2) ) ), SUM( CAST( VL_TX_DESC AS DECIMAL(16, 2) ) ),
         SUM( CAST( VL_ICMS AS DECIMAL(16, 2) ) ), SUM( CAST( VL_SDA AS DECIMAL(16, 2) ) ),
         SUM( CAST( VL_IRRF_DESP AS DECIMAL(16, 2) ) ), SUM( CAST( VL_COFINS_ARMAZENAGEM AS DECIMAL(16, 2) ) )
    FROM #TEMAIL_DDIMPORT_CUSTO_TEMP
   GROUP BY REF_DESP

OPEN c_acerta
FETCH c_acerta INTO @processo_p, @nr_item_pedido, @nr_solic_fat_p, @pedido_p, @item_ped_p,
                    @vl_seguro_p, @vl_ii_p, @vl_tx_sicomex_p, @vl_armazenagem_p, @vl_cpmf_p, @vl_marinha_p, @vl_mov_pri_p,
                    @vl_pis_p, @vl_cofins_p, @vl_desp_fin_p, @vl_multa_p, @vl_capatazia_p, @vl_txlibbl_p, @vl_comissao_p,
                    @vl_decex_p, @vl_ipi_p, @vl_frete_p, @vl_laudo_p, @vl_ccntr_p, @vl_thc_terminal_p, @vl_agente_car_p,
                    @vl_carreg_p,  @vl_outras_desp_p, @vl_frete_rod_p, @vl_tx_desc_p,
                    @vl_icms_p, @vl_sda_p, @vl_imposto_p, @vl_cofins_arm_p
WHILE @@fetch_status = 0
BEGIN

  -- Verifica Seguro
  IF @vl_seguro_p <> 0
  BEGIN
    SET @vl_seguro_fat = 0
    SELECT @vl_seguro_fat = ISNULL( VL_TOT_SEGURO_MNEG, 0 )
    FROM  TDECLARACAO_IMPORTACAO (NOLOCK)
    WHERE NR_PROCESSO = '0101' + @processo_p

    SET @dif = @vl_seguro_fat - @vl_seguro_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_SEGURO = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_SEGURO) + (@dif))
      FROM  #TEMAIL_DDIMPORT_CUSTO_TEMP
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica CPMF
  IF @vl_cpmf_p <> 0
  BEGIN
    SET @vl_cpmf_fat = 0
    SELECT @vl_cpmf_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '067'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '067'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_cpmf_fat - @vl_cpmf_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_CPMF = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_CPMF) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica II
  IF @vl_ii_p <> 0
  BEGIN
    SET @vl_ii_fat = 0
    SELECT @vl_ii_fat = ISNULL( VL_TOTAL_II, 0 )
    FROM  TDECLARACAO_IMPORTACAO (NOLOCK)
    WHERE NR_PROCESSO = '0101' + @processo_p

    SET @dif = @vl_ii_fat - @vl_ii_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_II = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_II) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica IPI
  IF @vl_ipi_p <> 0
  BEGIN
    SET @vl_ipi_fat = 0
    SELECT @vl_ipi_fat = ISNULL( VL_TOTAL_IPI , 0 )
    FROM  TDECLARACAO_IMPORTACAO (NOLOCK)
    WHERE NR_PROCESSO = '0101' + @processo_p

    SET @dif = @vl_ipi_fat - @vl_ipi_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_IPI = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_IPI) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica ICMS
  IF @vl_icms_p <> 0
  BEGIN
    SET @vl_icms_fat = 0
    SELECT @vl_icms_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM IN ( '027', '075' )
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM IN ( '027', '075' )
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_icms_fat - @vl_icms_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_ICMS = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_ICMS ) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Frete
  IF @vl_frete_p <> 0
  BEGIN
    SET @vl_frete_fat = 0

    -- Valor Frete Aéreo
    SET @vl_frete_ar_fat = 0
    SELECT @vl_frete_ar_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                  WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '029'
                                  AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                  WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '029'
                                  AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    -- Valor Frete Marítimo
    SET @vl_frete_mar_fat = 0
    SELECT @tp_frete = TP_FRETE
    FROM   TPROCESSO
    WHERE  NR_PROCESSO = '0101' + @processo_p

    IF @tp_frete = '0'
    BEGIN
      SELECT @vl_frete_mar_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                     WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '001'
                                     AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                   ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                     WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '001'
                                     AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )
    END
    ELSE
    BEGIN
      SELECT @vl_frete_mar_fat = ( ISNULL( DI.VL_TOTAL_FRETE_MN ,0 ) * ISNULL( ( DI.PL_CARGA / DM.PL_MERCADORIA ), 0 ) ) 
      FROM  TDECLARACAO_IMPORTACAO DI (NOLOCK)
      INNER JOIN TDETALHE_MERCADORIA DM (NOLOCK) ON ( DI.NR_PROCESSO = DM.NR_PROCESSO )
      WHERE DI.NR_PROCESSO = '0101' + @processo_p
        AND DM.NR_PROC_PO = @pedido_p
        AND DM.NR_ITEM_PO = @item_ped_p
    END

    SET @vl_frete_fat = @vl_frete_ar_fat + @vl_frete_mar_fat 

    SET @dif = @vl_frete_fat - @vl_frete_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_FRETE = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_FRETE ) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

   -- Verifica Despesa Financeira
  IF @vl_desp_fin_p <> 0
  BEGIN
    SET @vl_desp_fin_fat = 0
    SELECT @vl_desp_fin_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                  WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '230'
                                  AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                  WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '230'
                                  AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_desp_fin_fat - @vl_desp_fin_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_DESPESAS_FIN = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_DESPESAS_FIN) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica IMPOSTO
  IF @vl_imposto_p <> 0
  BEGIN
    SET @vl_imposto_fat = 0
    
    -- IRRF
    SET @vl_irrf_fat = 0
    SELECT @vl_irrf_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '415'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '415'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    --COFINS
    SET @vl_cofins_nf_fat = 0
    SELECT @vl_cofins_nf_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '577'
                                   AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                 ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '577'
                                   AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    -- Valor Retenção Fonte 
    SET @vl_ret_fonte_fat = 0
    SELECT @vl_ret_fonte_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '578'
                                   AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                 ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '578'
                                   AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @vl_imposto_fat = @vl_irrf_fat + @vl_cofins_nf_fat + @vl_ret_fonte_fat

    SET @dif = @vl_imposto_fat - @vl_imposto_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_IRRF_DESP = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_IRRF_DESP) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Taxa Siscomex
  IF @vl_tx_sicomex_p <> 0
  BEGIN
    SET @vl_tx_sicomex_fat = 0
    SELECT @vl_tx_sicomex_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                    WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '032'
                                    AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                  ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                    WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '032'
                                    AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_tx_sicomex_fat - @vl_tx_sicomex_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_TX_SISCOMEX = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_TX_SISCOMEX) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Armazenagem
  IF @vl_armazenagem_p <> 0
  BEGIN
    SET @vl_armazenagem_fat = 0
    SELECT @vl_armazenagem_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                     WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM IN ( '015', '061', '514', '056' )
                                     AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                   ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                     WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM IN ( '015', '061', '514', '056' )
                                     AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )


    SET @dif = @vl_armazenagem_fat - @vl_armazenagem_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_ARMAZENAGEM = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_ARMAZENAGEM) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica SDA
  IF @vl_sda_p <> 0
  BEGIN
    SET @vl_sda_fat = 0
    SELECT @vl_sda_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '008'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '008'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )
   
    SET @dif = ISNULL( @vl_sda_fat - @vl_sda_p, 0 )

    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_SDA = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_SDA) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Multa
  IF @vl_multa_p <> 0
  BEGIN
    SET @vl_multa_fat = 0
    SELECT @vl_multa_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '074'
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '074'
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )
   
    SET @dif = ISNULL( @vl_multa_fat - @vl_multa_p, 0 )
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_MULTA = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_MULTA) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Transporte Rodoviário
  IF @vl_frete_rod_p <> 0
  BEGIN
    SET @vl_frete_rod_fat = 0
    SELECT @vl_frete_rod_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '425'
                                   AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                 ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '425'
                                   AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )
   
    -- Transporte Ferroviário
    SET @vl_frete_fer_fat = 0
    SELECT @vl_frete_fer_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '662'
                                   AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                 ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '662'
                                   AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @vl_frete_rod_fat = @vl_frete_rod_fat + @vl_frete_fer_fat

    SET @dif = ISNULL( @vl_frete_rod_fat - @vl_frete_rod_p, 0 )
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_FRETE_ROD = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_FRETE_ROD) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Marinha
  IF @vl_marinha_p <> 0
  BEGIN
    SET @vl_marinha_fat = 0
    SELECT @vl_marinha_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '160'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '160'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_marinha_fat - @vl_marinha_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_MARINHA = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_MARINHA) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Capatazia
  IF @vl_capatazia_p <> 0
  BEGIN
    SET @vl_capatazia_fat = 0
    SELECT @vl_capatazia_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '040'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '040'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_capatazia_fat - @vl_capatazia_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_CAPATAZIA = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_CAPATAZIA) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Tx Lib BL
  IF @vl_txlibbl_p <> 0
  BEGIN
    SET @vl_txlibbl_fat = 0
    SELECT @vl_txlibbl_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '076'
                              AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                            ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                              WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '076'
                              AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_txlibbl_fat - @vl_txlibbl_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_TX_LIB_BL = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_TX_LIB_BL) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Taxa Desconsolidação AWB
  IF @vl_tx_desc_p <> 0
  BEGIN
    SET @vl_tx_desc_fat = 0
    SELECT @vl_tx_desc_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '060'
                                 AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                               ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '060'
                                 AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )
   
    SET @dif = ISNULL( @vl_tx_desc_fat - @vl_tx_desc_p, 0 )
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_TX_DESC = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_TX_DESC) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Serviço Aduaneiro ( Comissão )
  IF @vl_comissao_p <> 0
  BEGIN
    SET @vl_comissao_fat = 0
    SELECT @vl_comissao_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                  WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM IN ( SELECT CD_ITEM FROM TITEM (NOLOCK) WHERE CD_TIPO_ITEM = 'R' )
                                  AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                  WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM IN ( SELECT CD_ITEM FROM TITEM (NOLOCK) WHERE CD_TIPO_ITEM = 'R' )
                                  AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )
   
    SET @dif = ISNULL( @vl_comissao_fat - @vl_comissao_p, 0 )
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_SERV_ADUAN = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_SERV_ADUAN) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica DECEX (LI)
  IF @vl_decex_p <> 0
  BEGIN
    SET @vl_decex_fat = 0
    SELECT @vl_decex_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '115'
                                 AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                               ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '115'
                                 AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )
   
    SET @dif = ISNULL( @vl_decex_fat - @vl_decex_p, 0 )
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_DECEX_LI = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_DECEX_LI) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Laudo Técnico 
  IF @vl_laudo_p <> 0
  BEGIN
    SET @vl_laudo_fat = 0
    SELECT @vl_laudo_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                               WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '148'
                               AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                             ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                               WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '148'
                               AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )
   
    SET @dif = ISNULL( @vl_laudo_fat - @vl_laudo_p, 0 )
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_LAUDO_TECN = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_LAUDO_TECN) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Movimentação
  IF @vl_mov_pri_p <> 0
  BEGIN
    SET @vl_mov_pri_fat = 0
    SELECT @vl_mov_pri_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '305'
                                 AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                               ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '305'
                                 AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_mov_pri_fat - @vl_mov_pri_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_MOV_PRI = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_MOV_PRI) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Caução Conteiner ( Depósito Conteiner )
  IF @vl_ccntr_p <> 0
  BEGIN
    SET @vl_ccntr_fat = 0
    SELECT @vl_ccntr_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                               WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '044'
                               AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                             ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                               WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '044'
                               AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_ccntr_fat - @vl_ccntr_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_CAUCAO_CNTR = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_CAUCAO_CNTR) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica THC ( TERMINAL )
  IF @vl_thc_terminal_p <> 0
  BEGIN
    SET @vl_thc_terminal_fat = 0
    SELECT @vl_thc_terminal_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                               WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '110'
                               AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                             ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                               WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '110'
                               AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_thc_terminal_fat - @vl_thc_terminal_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_DESPESA_1 = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_DESPESA_1) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Despesas Agente Carga 
  IF @vl_agente_car_p <> 0
  BEGIN
    SET @vl_agente_car_fat = 0
    SELECT @vl_agente_car_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                               WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '528'
                               AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                             ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                               WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '528'
                               AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_agente_car_fat - @vl_agente_car_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_DESPESA_2 = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_DESPESA_2) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica Carregamento 
  IF @vl_carreg_p <> 0
  BEGIN
    SET @vl_carreg_fat = 0
    SELECT @vl_carreg_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '083'
                                AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                              ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '083'
                                AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_carreg_fat - @vl_carreg_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_DESPESA_3 = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_DESPESA_3) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verificar Outras Despesas
  IF @vl_outras_desp_p <> 0
  BEGIN
    SET @vl_outras_desp_fat = 0

    -- Valor Remoção CNTR 
    SET @vl_rem_cntr_fat = 0
    SELECT @vl_rem_cntr_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                  WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '071'
                                  AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                  WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '071'
                                  AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    -- Valor Despesa Terminal 
    SET @vl_desp_term_fat = 0
    SELECT @vl_desp_term_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '308'
                                   AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                                 ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                   WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '308'
                                   AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

  -- Valor Envio de Documentos
  SET @vl_env_docs_fat = 0
  SELECT @vl_env_docs_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '424'
                                 AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                               ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '424'
                                 AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

  -- Valor Despesas Administrativas
  SET @vl_desp_adm_fat = 0
  SELECT @vl_desp_adm_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '106'
                                 AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                               ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '106'
                                 AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )



  -- Valor ISS Terminal
  SET @vl_iss_term_fat = 0
  SELECT @vl_iss_term_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '390'
                                 AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                               ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '390'
                                 AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

 -- Valor DARF
  SET @vl_darf_fat = 0
  SELECT @vl_darf_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '014'
                                 AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                               ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '014'
                                 AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

 -- Valor Inspeção CNTR
  SET @vl_insp_fat = 0
  SELECT @vl_insp_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '077'
                                 AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                               ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '077'
                                 AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

 -- Valor Inspeção CNTR
  SET @vl_desp_port_fat = 0
  SELECT @vl_desp_port_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '527'
                                 AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                               ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                 WHERE C.NR_PROCESSO = '0101' + @processo_p AND C.CD_ITEM = '527'
                                 AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @vl_outras_desp_fat = @vl_rem_cntr_fat + @vl_desp_term_fat + @vl_env_docs_fat + @vl_desp_adm_fat + @vl_iss_term_fat + @vl_darf_fat + @vl_insp_fat + @vl_desp_port_fat

    SET @dif = @vl_outras_desp_fat - @vl_outras_desp_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_OUTRAS_DESPESA = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_OUTRAS_DESPESA) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica PIS
  IF @vl_pis_p <> 0
  BEGIN
    SET @vl_pis_fat = 0
    SELECT @vl_pis_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM IN ( '600', '615' )
                             AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                           ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                             WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM IN ( '600', '615' )
                             AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_pis_fat - @vl_pis_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_PIS = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_PIS) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica COFINS
  IF @vl_cofins_p <> 0
  BEGIN
    SET @vl_cofins_fat = 0
    SELECT @vl_cofins_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM IN ( '599', '616' )
                                AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                              ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM IN ( '599', '616' )
                                AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_cofins_fat - @vl_cofins_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_COFINS = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_COFINS) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  -- Verifica COFINS Armazenagem
  IF @vl_cofins_arm_p <> 0
  BEGIN
    SET @vl_cofins_arm_fat = 0
    SELECT @vl_cofins_arm_fat = ( ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '579'
                                AND C.IN_RESTITUI = '0' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) - 
                              ( SELECT ISNULL( SUM( C.VL_ITEM ), 0 ) FROM TFATURAMENTO_CC C (NOLOCK)
                                WHERE C.NR_PROCESSO = '0101' + @processo_p  AND C.CD_ITEM = '579'
                                AND C.IN_RESTITUI = '1' AND C.NR_SOLIC_FAT = @nr_solic_fat_p ) )

    SET @dif = @vl_cofins_arm_fat - @vl_cofins_arm_p
    IF @dif <> 0 
    BEGIN
      UPDATE #TEMAIL_DDIMPORT_CUSTO_TEMP
      SET   VL_COFINS_ARMAZENAGEM = CONVERT( DECIMAL(16, 2), CONVERT( DECIMAL(16, 2), VL_COFINS_ARMAZENAGEM) + (@dif))
      WHERE REF_DESP = @processo_p  AND NR_ITEM_PEDIDO = @nr_item_pedido
    END
  END

  FETCH c_acerta INTO @processo_p, @nr_item_pedido, @nr_solic_fat_p, @pedido_p, @item_ped_p,
                      @vl_seguro_p, @vl_ii_p, @vl_tx_sicomex_p, @vl_armazenagem_p, @vl_cpmf_p, @vl_marinha_p, @vl_mov_pri_p,
                      @vl_pis_p, @vl_cofins_p, @vl_desp_fin_p, @vl_multa_p, @vl_capatazia_p, @vl_txlibbl_p, @vl_comissao_p,
                      @vl_decex_p, @vl_ipi_p, @vl_frete_p, @vl_laudo_p, @vl_ccntr_p, @vl_thc_terminal_p, @vl_agente_car_p,
                      @vl_carreg_p,  @vl_outras_desp_p, @vl_frete_rod_p, @vl_tx_desc_p,
                      @vl_icms_p, @vl_sda_p, @vl_imposto_p, @vl_cofins_arm_p
END

CLOSE c_acerta
DEALLOCATE c_acerta


SELECT  CAST( NR_DI AS CHAR(12) ) AS NR_DI,
        CAST( NR_PEDIDO AS CHAR(10) ) AS NR_PEDIDO,
        CAST( SUBSTRING( TX_CAMBIO_REG_DI, 1, ( CHARINDEX('.', TX_CAMBIO_REG_DI ) - 1 )  ) + ',' + SUBSTRING( TX_CAMBIO_REG_DI, ( CHARINDEX('.', TX_CAMBIO_REG_DI ) + 1 ), 5 ) AS CHAR(10) ) AS TX_CAMBIO_REG_DI,
        CAST( NR_ITEM_PEDIDO AS CHAR(5) ) AS NR_ITEM_PEDIDO,
        CAST( NR_FATURA AS CHAR(16) ) AS NR_FATURA,
        CAST( CD_PRODUTO AS CHAR(18) ) AS CD_PRODUTO,
        CAST( SUBSTRING( QTDE, 1, ( CHARINDEX('.', QTDE ) - 1 )  ) + ',' + SUBSTRING( QTDE, ( CHARINDEX('.', QTDE ) + 1 ), 3 ) AS CHAR(17) ) AS QTDE,
        CAST( SUBSTRING( VL_FOB_ITEM_MNEG, 1, ( CHARINDEX('.', VL_FOB_ITEM_MNEG ) - 1 )  ) + ',' + SUBSTRING( VL_FOB_ITEM_MNEG, ( CHARINDEX('.', VL_FOB_ITEM_MNEG ) + 1 ), 5 ) AS CHAR(16) ) AS VL_FOB_ITEM_MNEG,
        CAST( SUBSTRING( RESERVA_1, 1, ( CHARINDEX('.', RESERVA_1 ) - 1 )  ) + ',' + SUBSTRING( RESERVA_1, ( CHARINDEX('.', RESERVA_1 ) + 1 ), 2 ) AS CHAR(16) ) AS RESERVA_1,
        CAST( SUBSTRING( VL_SEGURO, 1, ( CHARINDEX('.', VL_SEGURO ) - 1 )  ) + ',' + SUBSTRING( VL_SEGURO, ( CHARINDEX('.', VL_SEGURO ) + 1 ), 2 ) AS CHAR(16) ) AS VL_SEGURO,
        CAST( SUBSTRING( VL_CPMF, 1, ( CHARINDEX('.', VL_CPMF ) - 1 )  ) + ',' + SUBSTRING( VL_CPMF, ( CHARINDEX('.', VL_CPMF ) + 1 ), 2 ) AS CHAR(16) ) AS VL_CPMF,
        CAST( SUBSTRING( RESERVA_2, 1, ( CHARINDEX('.', RESERVA_2 ) - 1 )  ) + ',' + SUBSTRING( RESERVA_2, ( CHARINDEX('.', RESERVA_2 ) + 1 ), 2 ) AS CHAR(16) ) AS RESERVA_2,
        CAST( SUBSTRING( RESERVA_3, 1, ( CHARINDEX('.', RESERVA_3 ) - 1 )  ) + ',' + SUBSTRING( RESERVA_3, ( CHARINDEX('.', RESERVA_3 ) + 1 ), 2 ) AS CHAR(16) ) AS RESERVA_3,
        CAST( SUBSTRING( RESERVA_4, 1, ( CHARINDEX('.', RESERVA_4 ) - 1 )  ) + ',' + SUBSTRING( RESERVA_4, ( CHARINDEX('.', RESERVA_4 ) + 1 ), 2 ) AS CHAR(16) ) AS RESERVA_4,
        CAST( SUBSTRING( VL_II, 1, ( CHARINDEX('.', VL_II ) - 1 )  ) + ',' + SUBSTRING( VL_II, ( CHARINDEX('.', VL_II ) + 1 ), 2 ) AS CHAR(16) ) AS VL_II,
        CAST( SUBSTRING( VL_IPI, 1, ( CHARINDEX('.', VL_IPI ) - 1 )  ) + ',' + SUBSTRING( VL_IPI, ( CHARINDEX('.', VL_IPI ) + 1 ), 2 ) AS CHAR(16) ) AS VL_IPI,
        CAST( SUBSTRING( VL_ICMS, 1, ( CHARINDEX('.', VL_ICMS ) - 1 )  ) + ',' + SUBSTRING( VL_ICMS, ( CHARINDEX('.', VL_ICMS ) + 1 ), 2 ) AS CHAR(16) ) AS VL_ICMS,
        CAST( SUBSTRING( VL_FRETE, 1, ( CHARINDEX('.', VL_FRETE ) - 1 )  ) + ',' + SUBSTRING( VL_FRETE, ( CHARINDEX('.', VL_FRETE ) + 1 ), 2 ) AS CHAR(16) ) AS VL_FRETE,
        CAST( SUBSTRING( RESERVA_5, 1, ( CHARINDEX('.', RESERVA_5 ) - 1 )  ) + ',' + SUBSTRING( RESERVA_5, ( CHARINDEX('.', RESERVA_5 ) + 1 ), 2 ) AS CHAR(16) ) AS RESERVA_5,
        CAST( SUBSTRING( VL_DESPESAS_FIN, 1, ( CHARINDEX('.', VL_DESPESAS_FIN ) - 1 )  ) + ',' + SUBSTRING( VL_DESPESAS_FIN, ( CHARINDEX('.', VL_DESPESAS_FIN ) + 1 ), 2 ) AS CHAR(16) ) AS VL_DESPESAS_FIN,
        CAST( SUBSTRING( RESERVA_6, 1, ( CHARINDEX('.', RESERVA_6 ) - 1 )  ) + ',' + SUBSTRING( RESERVA_6, ( CHARINDEX('.', RESERVA_6 ) + 1 ), 2 ) AS CHAR(16) ) AS RESERVA_6,
        CAST( SUBSTRING( RESERVA_7, 1, ( CHARINDEX('.', RESERVA_7 ) - 1 )  ) + ',' + SUBSTRING( RESERVA_7, ( CHARINDEX('.', RESERVA_7 ) + 1 ), 2 ) AS CHAR(16) ) AS RESERVA_7,
  	CAST( DT_FATURA AS CHAR(8) )  AS DT_FATURA,
        CAST( SL_MOEDA AS CHAR(4) ) AS SL_MOEDA,
        CAST( DT_NF_SERVICO_DESP AS CHAR(8) ) AS DT_NF_SERVICO_DESP,
        CAST( NR_NF_SERVICO_DESP AS CHAR(8) ) AS NR_NF_SERVICO_DESP,
        CAST( SUBSTRING( VL_NF_SERVICO_DESP, 1, ( CHARINDEX('.', VL_NF_SERVICO_DESP ) - 1 )  ) + ',' + SUBSTRING( VL_NF_SERVICO_DESP, ( CHARINDEX('.', VL_NF_SERVICO_DESP ) + 1 ), 2 ) AS CHAR(16) ) AS VL_NF_SERVICO_DESP,
        CAST( DT_VENCTO_NF_SERVICO_DESP AS CHAR(8) ) AS DT_VENCTO_NF_SERVICO_DESP,
        CAST( SUBSTRING( VL_IRRF_DESP, 1, ( CHARINDEX('.', VL_IRRF_DESP ) - 1 )  ) + ',' + SUBSTRING( VL_IRRF_DESP, ( CHARINDEX('.', VL_IRRF_DESP ) + 1 ), 2 ) AS CHAR(16) ) AS VL_IRRF_DESP,
  	CAST( RESERVA_8 AS CHAR(10) ) AS RESERVA_8,
        CAST( RESERVA_9 AS CHAR(10) ) AS RESERVA_9,
        CAST( NR_ADICAO_DI AS CHAR(3) ) AS NR_ADICAO_DI,
        CAST( RESERVA_10 AS CHAR(25) ) AS RESERVA_10,
        CAST( REF_DESP AS CHAR(15) ) AS REF_DESP,
        CAST( RESERVA_11 AS CHAR(15) ) AS RESERVA_11,
        CAST( SUBSTRING( VL_TX_SISCOMEX, 1, ( CHARINDEX('.', VL_TX_SISCOMEX ) - 1 )  ) + ',' + SUBSTRING( VL_TX_SISCOMEX, ( CHARINDEX('.', VL_TX_SISCOMEX ) + 1 ), 2 ) AS CHAR(16) ) AS VL_TX_SISCOMEX,
        CAST( SUBSTRING( VL_ARMAZENAGEM, 1, ( CHARINDEX('.', VL_ARMAZENAGEM ) - 1 )  ) + ',' + SUBSTRING( VL_ARMAZENAGEM, ( CHARINDEX('.', VL_ARMAZENAGEM ) + 1 ), 2 ) AS CHAR(16) ) AS VL_ARMAZENAGEM,
        CAST( SUBSTRING( VL_SDA, 1, ( CHARINDEX('.', VL_SDA ) - 1 )  ) + ',' + SUBSTRING( VL_SDA, ( CHARINDEX('.', VL_SDA ) + 1 ), 2 ) AS CHAR(16) ) AS VL_SDA,
        CAST( NR_NF_ENTRADA AS CHAR(16) ) AS NR_NF_ENTRADA,
        CAST( RESERVA_12 AS CHAR(10) ) AS RESERVA_12,
        CAST( SUBSTRING( VL_MULTA, 1, ( CHARINDEX('.', VL_MULTA ) - 1 )  ) + ',' + SUBSTRING( VL_MULTA, ( CHARINDEX('.', VL_MULTA ) + 1 ), 2 ) AS CHAR(16) ) AS VL_MULTA,
        CAST( TP_FRETE AS CHAR(1) ) AS TP_FRETE,
        CAST( REF_EMB_DDIMPORT AS CHAR(15) ) AS REF_EMB_DDIMPORT,
        CAST( SUBSTRING( VL_FRETE_ROD, 1, ( CHARINDEX('.', VL_FRETE_ROD ) - 1 )  ) + ',' + SUBSTRING( VL_FRETE_ROD, ( CHARINDEX('.', VL_FRETE_ROD ) + 1 ), 2 ) AS CHAR(16) ) AS VL_FRETE_ROD,
        CAST( SUBSTRING( VL_MARINHA, 1, ( CHARINDEX('.', VL_MARINHA ) - 1 )  ) + ',' + SUBSTRING( VL_MARINHA, ( CHARINDEX('.', VL_MARINHA ) + 1 ), 2 ) AS CHAR(16) ) AS VL_MARINHA,
        CAST( SUBSTRING( VL_CAPATAZIA, 1, ( CHARINDEX('.', VL_CAPATAZIA ) - 1 )  ) + ',' + SUBSTRING( VL_CAPATAZIA, ( CHARINDEX('.', VL_CAPATAZIA ) + 1 ), 2 ) AS CHAR(16) ) AS VL_CAPATAZIA,
        CAST( SUBSTRING( VL_REMOCAO_DAP, 1, ( CHARINDEX('.', VL_REMOCAO_DAP ) - 1 )  ) + ',' + SUBSTRING( VL_REMOCAO_DAP, ( CHARINDEX('.', VL_REMOCAO_DAP ) + 1 ), 2 ) AS CHAR(16) ) AS VL_REMOCAO_DAP,
        CAST( SUBSTRING( VL_TX_LIB_BL, 1, ( CHARINDEX('.', VL_TX_LIB_BL ) - 1 )  ) + ',' + SUBSTRING( VL_TX_LIB_BL, ( CHARINDEX('.', VL_TX_LIB_BL ) + 1 ), 2 ) AS CHAR(16) ) AS VL_TX_LIB_BL,
        CAST( SUBSTRING( VL_TX_DESC, 1, ( CHARINDEX('.', VL_TX_DESC ) - 1 )  ) + ',' + SUBSTRING( VL_TX_DESC, ( CHARINDEX('.', VL_TX_DESC ) + 1 ), 2 ) AS CHAR(16) ) AS VL_TX_DESC,
        CAST( SUBSTRING( VL_SERV_ADUAN, 1, ( CHARINDEX('.', VL_SERV_ADUAN ) - 1 )  ) + ',' + SUBSTRING( VL_SERV_ADUAN, ( CHARINDEX('.', VL_SERV_ADUAN ) + 1 ), 2 ) AS CHAR(16) ) AS VL_SERV_ADUAN,
        CAST( SUBSTRING( VL_DECEX_LI, 1, ( CHARINDEX('.', VL_DECEX_LI ) - 1 )  ) + ',' + SUBSTRING( VL_DECEX_LI, ( CHARINDEX('.', VL_DECEX_LI ) + 1 ), 2 ) AS CHAR(16) ) AS VL_DECEX_LI,
        CAST( SUBSTRING( VL_FITP, 1, ( CHARINDEX('.', VL_FITP ) - 1 )  ) + ',' + SUBSTRING( VL_FITP, ( CHARINDEX('.', VL_FITP ) + 1 ), 2 ) AS CHAR(16) ) AS VL_FITP,
        CAST( SUBSTRING( VL_LAUDO_TECN, 1, ( CHARINDEX('.', VL_LAUDO_TECN ) - 1 )  ) + ',' + SUBSTRING( VL_LAUDO_TECN, ( CHARINDEX('.', VL_LAUDO_TECN ) + 1 ), 2 ) AS CHAR(16) ) AS VL_LAUDO_TECN,
        CAST( SUBSTRING( VL_MOV_PRI, 1, ( CHARINDEX('.', VL_MOV_PRI ) - 1 )  ) + ',' + SUBSTRING( VL_MOV_PRI, ( CHARINDEX('.', VL_MOV_PRI ) + 1 ), 2 ) AS CHAR(16) ) AS VL_MOV_PRI,
        CAST( SUBSTRING( VL_MOV_RETRO, 1, ( CHARINDEX('.', VL_MOV_RETRO ) - 1 )  ) + ',' + SUBSTRING( VL_MOV_RETRO, ( CHARINDEX('.', VL_MOV_RETRO ) + 1 ), 2 ) AS CHAR(16) ) AS VL_MOV_RETRO,
        CAST( SUBSTRING( VL_CAUCAO_CNTR, 1, ( CHARINDEX('.', VL_CAUCAO_CNTR ) - 1 )  ) + ',' + SUBSTRING( VL_CAUCAO_CNTR, ( CHARINDEX('.', VL_CAUCAO_CNTR ) + 1 ), 2 ) AS CHAR(16) ) AS VL_CAUCAO_CNTR,
        CAST( SUBSTRING( VL_DESPESA_1, 1, ( CHARINDEX('.', VL_DESPESA_1 ) - 1 )  ) + ',' + SUBSTRING( VL_DESPESA_1, ( CHARINDEX('.', VL_DESPESA_1 ) + 1 ), 2 ) AS CHAR(16) ) AS VL_DESPESA_1,
        CAST( SUBSTRING( VL_DESPESA_2, 1, ( CHARINDEX('.', VL_DESPESA_2 ) - 1 )  ) + ',' + SUBSTRING( VL_DESPESA_2, ( CHARINDEX('.', VL_DESPESA_2 ) + 1 ), 2 ) AS CHAR(16) ) AS VL_DESPESA_2,
        CAST( SUBSTRING( VL_DESPESA_3, 1, ( CHARINDEX('.', VL_DESPESA_3 ) - 1 )  ) + ',' + SUBSTRING( VL_DESPESA_3, ( CHARINDEX('.', VL_DESPESA_3 ) + 1 ), 2 ) AS CHAR(16) ) AS VL_DESPESA_3,
        CAST( SUBSTRING( VL_OUTRAS_DESPESA, 1, ( CHARINDEX('.', VL_OUTRAS_DESPESA ) - 1 )  ) + ',' + SUBSTRING( VL_OUTRAS_DESPESA, ( CHARINDEX('.', VL_OUTRAS_DESPESA ) + 1 ), 2 ) AS CHAR(16) ) AS VL_OUTRAS_DESPESA,
        CAST( SUBSTRING( VL_TX_CAMBIO_FRETE_DI, 1, ( CHARINDEX('.', VL_TX_CAMBIO_FRETE_DI ) - 1 )  ) + ',' + SUBSTRING( VL_TX_CAMBIO_FRETE_DI, ( CHARINDEX('.', VL_TX_CAMBIO_FRETE_DI ) + 1 ), 7 ) AS CHAR(14) ) AS VL_TX_CAMBIO_FRETE_DI,
        CAST( SUBSTRING( VL_TX_CAMBIO_SEGURO_DI, 1, ( CHARINDEX('.', VL_TX_CAMBIO_SEGURO_DI ) - 1 )  ) + ',' + SUBSTRING( VL_TX_CAMBIO_SEGURO_DI, ( CHARINDEX('.', VL_TX_CAMBIO_SEGURO_DI ) + 1 ), 7 )AS CHAR(14) ) AS VL_TX_CAMBIO_SEGURO_DI,
        CAST( SUBSTRING( VL_TX_CAMBIO_DOLAR_DI, 1, ( CHARINDEX('.', VL_TX_CAMBIO_DOLAR_DI ) - 1 )  ) + ',' + SUBSTRING( VL_TX_CAMBIO_DOLAR_DI, ( CHARINDEX('.', VL_TX_CAMBIO_DOLAR_DI ) + 1 ), 7 ) AS CHAR(14) ) AS VL_TX_CAMBIO_DOLAR_DI,
        CAST( DT_FECHAMENTO AS CHAR(8) )  AS DT_FECHAMENTO,
        CAST( NR_ITEM_EMBARQUE AS CHAR(4) ) AS NR_ITEM_EMBARQUE,
        CAST( CD_DELIVERY_NOTE AS CHAR(50) ) AS CD_DELIVERY_NOTE,
        CAST( SUBSTRING( VL_BASE_CALCULO_PIS_COFINS, 1, ( CHARINDEX('.', VL_BASE_CALCULO_PIS_COFINS ) - 1 )  ) + ',' + SUBSTRING( VL_BASE_CALCULO_PIS_COFINS, ( CHARINDEX('.', VL_BASE_CALCULO_PIS_COFINS ) + 1 ), 2 ) AS CHAR(16) ) AS VL_BASE_CALCULO_PIS_COFINS,
        CAST( SUBSTRING( VL_PIS, 1, ( CHARINDEX('.', VL_PIS ) - 1 )  ) + ',' + SUBSTRING( VL_PIS, ( CHARINDEX('.', VL_PIS ) + 1 ), 2 ) AS CHAR(16) ) AS VL_PIS,
        CAST( SUBSTRING( VL_COFINS, 1, ( CHARINDEX('.', VL_COFINS ) - 1 )  ) + ',' + SUBSTRING( VL_COFINS, ( CHARINDEX('.', VL_COFINS ) + 1 ), 2 ) AS CHAR(16) ) AS VL_COFINS,
        CAST( SUBSTRING( VL_PIS_ARMAZENAGEM, 1, ( CHARINDEX('.', VL_PIS_ARMAZENAGEM ) - 1 )  ) + ',' + SUBSTRING( VL_PIS_ARMAZENAGEM, ( CHARINDEX('.', VL_PIS_ARMAZENAGEM ) + 1 ), 2 ) AS CHAR(16) ) AS VL_PIS_ARMAZENAGEM,
        CAST( SUBSTRING( VL_COFINS_ARMAZENAGEM, 1, ( CHARINDEX('.', VL_COFINS_ARMAZENAGEM ) - 1 )  ) + ',' + SUBSTRING( VL_COFINS_ARMAZENAGEM, ( CHARINDEX('.', VL_COFINS_ARMAZENAGEM ) + 1 ), 2 ) AS CHAR(16) ) AS VL_COFINS_ARMAZENAGEM
  INTO TEMAIL_DDIMPORT_CUSTO
  FROM #TEMAIL_DDIMPORT_CUSTO_TEMP

DROP TABLE #TEMAIL_DDIMPORT_CUSTO_TEMP

-- executa programa em Delphi que envia email
EXEC master.dbo.xp_cmdshell 'D:\txtctx\email_custo.exe', NO_OUTPUT

--excluir registros 
DELETE FROM TDDIMPORT_CUSTO WHERE NR_IDENTIFICADOR = @nr_identificador

--excluindo tabela que foi usada para enviar o email
DROP TABLE TEMAIL_DDIMPORT_CUSTO

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
