USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ALTERADO POR KLEBER (16/04/2007) - INCLUSAO DAS OPÇÕES SALDO CREDOR E/OU DEVEDOR E APENAS VENCIDOS OU ANTERIOR AO VENCTO

/****** Object:  Stored Procedure dbo.sp_atualiza_liquidacao    Script Date: 29/12/1998 10:23:30 ******/
CREATE PROCEDURE [sp_rel_liq_saldos_pendentes] ( @cd_unid_neg char(2), @cd_produto char(2), 
                                               @cd_grupo char(3), @cd_cliente char(5),
                                               @inVenc char(1), @inCredor char(1), @inDevedor char(1),
                                               @nr_identificador int OUTPUT ) AS
/*
OBSERVAÇÃO: 
SALDO:
  FATURAS C/ SALDO CREDOR:  inCredor = '1' e inDevedor = '0'
  FATURAS C/ SALDO DEVEDOR: inCredor = '0' e inDevedor = '1'
  AMBOS: (inCredor = '1' e inDevedor = '1') ou (inCredor = '0' e inDevedor = '0')
VENCIMENTO:
  FATURAS VENCIDAS: inVenc = '1'
  FATURAS NÃO VENCIDAS: inVenc = '2'
  AMBAS: inVenc = '0'
*/


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2) 
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @inVenc char(1)
DECLARE @inCredor char(1)
DECLARE @inDevedor char(1)
DECLARE @nr_identificador int 



SELECT @cd_unid_neg = '01'
SELECT @cd_produto = 'X' 
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @inVenc ='1'
SELECT @inCredor ='1'
SELECT @inDevedor ='0'


ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

DECLARE
  @sqlDet   varchar(2048),
  @sqlTot   varchar(2048),
  @sqlWhere varchar(2048),
  @sqlGroup varchar(256)

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_LIQ_SALDOS_PENDENTES

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SET @sqlDet = 'INSERT TREL_LIQ_SALDOS_PENDENTES
( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, CD_REFERENCIA, NR_SOLICITACAO, CD_CLIENTE, DT_FATURA, TP_TIPO_FAT, 
  NR_NOTA_FATURA, VL_FATURA, VL_LIQUIDACAO, VL_SALDO_PENDENTE, DT_LIQUIDACAO, DT_VENCIMENTO, NR_DIAS_VENC_EMISSAO, CD_GRUPO, NM_GRUPO)
  SELECT '+ CONVERT(VARCHAR,@nr_identificador) + ', FP.NR_PROCESSO, F.CD_UNID_NEG, F.CD_PRODUTO, 
         ( SELECT R.CD_REFERENCIA
           FROM   TREF_CLIENTE R (NOLOCK)
           WHERE  R.NR_PROCESSO = FP.NR_PROCESSO AND
                  R.NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                      FROM   TREF_CLIENTE R2 (NOLOCK)
                                      WHERE  R2.NR_PROCESSO = FP.NR_PROCESSO ) ) AS CD_REFERENCIA,
         F.NR_SOLICITACAO, P.CD_CLIENTE, F.DT_FATURA,
         F.TP_TIPO_FAT, F.NR_NOTA_FATURA, 
         ROUND( ISNULL( FP.VL_FATURA, 0 ), 2 ) AS VL_FATURA, 
         ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) AS VL_LIQUIDACAO, 
         ROUND( ROUND( ISNULL( FP.VL_FATURA, 0 ), 2 ), 2 ) + ROUND( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ), 2 ) AS VL_SALDO_PENDENTE,
         F.DT_LIQUIDACAO, DT_VENCTO_FATURA, 
         DATEDIFF( day, DT_VENCTO_FATURA, GETDATE()),
         E.CD_GRUPO, (SELECT G.NM_GRUPO FROM TGRUPO G (NOLOCK) WHERE G.CD_GRUPO = E.CD_GRUPO)
  FROM   TS_FATURA F (NOLOCK),
         TS_FATURA_PROCESSO FP (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK) '

SET @sqlTot = 'INSERT TREL_LIQ_SALDOS_PENDENTES_TOTAIS
( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, VL_FATURA, VL_LIQUIDACAO, VL_SALDO_PENDENTE )
  SELECT '+ CONVERT(VARCHAR,@nr_identificador) + ', F.CD_UNID_NEG, F.CD_PRODUTO, 
         SUM( ROUND( ISNULL( FP.VL_FATURA, 0 ), 2 ) ) AS VL_FATURA, 
         SUM( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) ) AS VL_LIQUIDACAO, 
         SUM( ROUND( ROUND( ISNULL( FP.VL_FATURA, 0 ), 2 ), 2 ) + ROUND( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ), 2 ) ) AS VL_SALDO_PENDENTE
  FROM   TS_FATURA F (NOLOCK),
         TS_FATURA_PROCESSO FP (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK) '

SET @sqlGroup = '   GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO'


SET @sqlWhere = ' WHERE  F.CD_UNID_NEG    = FP.CD_UNID_NEG
         AND F.CD_PRODUTO     = FP.CD_PRODUTO 
         AND F.NR_SOLICITACAO = FP.NR_SOLICITACAO
         AND FP.NR_PROCESSO   = P.NR_PROCESSO
         AND P.CD_CLIENTE     = E.CD_EMPRESA 
         AND ( ( ISNULL( F.NR_NOTA_FATURA, '''' ) <> '''' ) OR ( ISNULL( F.NR_NF_SERV, '''' ) <> '''' ) )
         AND F.IN_LIQUIDADO = ''0''
         AND F.IN_CANCELADO = ''0''
         AND P.IN_CANCELADO = ''0''
         AND FP.VL_FATURA <> 0   
         AND ROUND( ROUND( ISNULL( FP.VL_FATURA, 0 ), 2 ), 2 ) + ROUND( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ), 2 ) <> 0  '

IF @cd_unid_neg <> 'X'
  SET @sqlWhere = @sqlWhere + ' AND (F.CD_UNID_NEG = '''+@cd_unid_neg+''') '

IF @cd_produto <> 'X'
  SET @sqlWhere = @sqlWhere + ' AND (F.CD_PRODUTO = '''+@cd_produto+''') '

IF @cd_cliente <> 'X'
  SET @sqlWhere = @sqlWhere + ' AND (P.CD_CLIENTE = '''+@cd_cliente+''') '

IF @cd_grupo <> 'X'
  SET @sqlWhere = @sqlWhere + ' AND (E.CD_GRUPO = '''+@cd_grupo+''') '
        
IF @inVenc = '1'
  SET @sqlWhere = @sqlWhere + ' AND (DT_VENCTO_FATURA < CONVERT(DATETIME, CONVERT(VARCHAR,GETDATE(), 103),103)) '

IF @inVenc = '2'
  SET @sqlWhere = @sqlWhere + ' AND (DT_VENCTO_FATURA >= CONVERT(DATETIME, CONVERT(VARCHAR,GETDATE(), 103),103)) '


IF @inCredor <> @inDevedor
BEGIN
  IF @inCredor = '1'
    SET @sqlWhere = @sqlWhere + ' AND (ROUND( ROUND( ISNULL( FP.VL_FATURA, 0 ), 2 ), 2 ) + ROUND( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ), 2 ) > 0) '    
  IF @inDevedor = '1'
    SET @sqlWhere = @sqlWhere + ' AND (ROUND( ROUND( ISNULL( FP.VL_FATURA, 0 ), 2 ), 2 ) + ROUND( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ), 2 ) < 0) '       
END


--print @sqlDet+@sqlWhere
EXEC(@sqlDet+@sqlWhere)
--print @sqlTot+@sqlWhere+@sqlGroup
EXEC(@sqlTot+@sqlWhere+@sqlGroup)






GO
