USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_nac_gera_di]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0101IE-1677-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @in_moeda_unica   bit
DECLARE @vl_count_moeda   int

SELECT @vl_count_moeda = COUNT( DISTINCT CD_MOEDA_MLE )
FROM   TNAC_ITEM
WHERE  NR_PROCESSO = @nr_processo

IF @vl_count_moeda = 1
  SELECT @in_moeda_unica = 1
ELSE
  SELECT @in_moeda_unica = 0

IF EXISTS( SELECT NR_PROCESSO
           FROM   TNAC
           WHERE  NR_PROCESSO = @nr_processo )
BEGIN
  UPDATE TDECLARACAO_IMPORTACAO
  SET    VL_TOT_MLE_MNEG     = ROUND( ( SELECT ROUND( SUM( ISNULL( I.VL_MLE_MNEG, 0 ) ), 2 )
                                        FROM   TNAC_ITEM I
                                        WHERE  I.NR_PROCESSO = N.NR_PROCESSO ), 2 ),
         VL_TOTAL_MLE_MN     = ROUND( ( SELECT ROUND( SUM( ISNULL( I.VL_MLE_MNEG, 0 ) * I.TX_MLE ), 2 )
                                        FROM   TNAC_ITEM I
                                        WHERE  I.NR_PROCESSO = N.NR_PROCESSO ), 2 ),
         VL_TOT_FRT_PREPAID  = ROUND( ( SELECT SUM( ISNULL( I.VL_FRETE_MNEG, 0 ) )
                                        FROM   TNAC_ITEM I
                                        WHERE  I.NR_PROCESSO = N.NR_PROCESSO ), 2 ),
         VL_TOTAL_FRETE_MNEG = ROUND( ( SELECT SUM( ISNULL( I.VL_FRETE_MNEG, 0 ) )
                                        FROM   TNAC_ITEM I
                                        WHERE  I.NR_PROCESSO = N.NR_PROCESSO ), 2 ),
         VL_TOTAL_FRETE_MN   = ROUND( ( SELECT ROUND( SUM( ISNULL( I.VL_FRETE_MNEG, 0 ) * I.TX_MLE ), 2 )
                                        FROM   TNAC_ITEM I
                                        WHERE  I.NR_PROCESSO = N.NR_PROCESSO ), 2 ),
         IN_EMBUT_FRT_ITENS  = ( SELECT MAX( I.IN_EMBUT_FRT_ITENS )
                                 FROM   TNAC_ITEM I
                                 WHERE  I.NR_PROCESSO = N.NR_PROCESSO ),
         PL_CARGA            = ( SELECT ROUND( SUM( ISNULL( PL_NAC, 0 ) ), 5 )
                                 FROM   TNAC_ITEM I
                                 WHERE  I.NR_PROCESSO = N.NR_PROCESSO ),
         TX_MLE              = ( SELECT MAX( ISNULL( I.TX_MLE, 0 ) )
                                 FROM   TNAC_ITEM I
                                 WHERE  I.NR_PROCESSO = N.NR_PROCESSO ),
         TX_FRETE            = ( SELECT MAX( ISNULL( I.TX_FRETE, 0 ) )
                                 FROM   TNAC_ITEM I
                                 WHERE  I.NR_PROCESSO = N.NR_PROCESSO ),
         TX_DOLAR            = ( SELECT MAX( ISNULL( I.TX_DOLAR, 0 ) )
                                 FROM   TNAC_ITEM I
                                 WHERE  I.NR_PROCESSO = N.NR_PROCESSO ),
         IN_MOEDA_UNICA      = @in_moeda_unica,
         CD_MOEDA_MLE        = CASE @vl_count_moeda
                                 WHEN 1 THEN N.CD_MOEDA_MLE
                                 ELSE ''
                               END,
         CD_MOEDA_FRETE      = ( SELECT MAX( ISNULL( I.CD_MOEDA_FRETE, 0 ) )
                                 FROM   TNAC_ITEM I
                                 WHERE  I.NR_PROCESSO = N.NR_PROCESSO )
  FROM   TDECLARACAO_IMPORTACAO DI, TNAC N
  WHERE  DI.NR_PROCESSO      = N.NR_PROCESSO AND
         DI.NR_PROCESSO      = @nr_processo
END


GO
