USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_inf_rend_imp    Script Date: 02/12/1999 17:34:11 ******/
CREATE PROCEDURE [sp_inf_rend_imp] (@cd_coligada char(2), @ano int, @mes int)  AS

DECLARE @aaaa		char(4)
SELECT  @aaaa 		= convert (char(4), @ano)
SELECT F.CD_FAVORECIDO, 
       SUM(ISNULL(C.VL_LANCAMENTO,0)) VL_REND, 
       SUM(ISNULL(C.VL_IR,0)) VL_IR
INTO #TMP_MOV_AUT
FROM TCAIXA C
JOIN TFAVORECIDO F
  ON (C.CD_FAVORECIDO = F.CD_FAVORECIDO)
WHERE C.IN_CANCELADO = '0' AND
      C.TP_PROCEDENCIA <> '9' AND
      C.CD_COLIGADA = @cd_coligada AND
      DATEPART( YEAR, C.DT_MOVIMENTO) = @ano AND
      DATEPART( MONTH, C.DT_MOVIMENTO) = @mes AND
      F.IN_CONTROLA_IR = 1
GROUP BY F.CD_FAVORECIDO

INSERT #TMP_MOV_AUT
SELECT F.CD_FAVORECIDO, 
       SUM(ISNULL(VL_DESPESA, 0) - ISNULL(VL_DESCONTO, 0) + ISNULL(VL_ACRESCIMO, 0) ) VL_REND,
       SUM(ISNULL(VL_IR, 0)) VL_IR
FROM TCTAAPAGAR A
JOIN TFAVORECIDO F
  ON (A.CD_FORNECEDOR = F.CD_FAVORECIDO)
WHERE DATEPART( YEAR, A.DT_PAGAMENTO) = @ano AND
      DATEPART( MONTH, A.DT_PAGAMENTO) = @mes AND
      A.IN_CANCELADO = '0' AND
      A.CD_COLIGADA = @cd_coligada
GROUP BY F.CD_FAVORECIDO

INSERT #TMP_MOV_AUT
SELECT F.CD_FAVORECIDO, 
       SUM(ISNULL(VL_FRETE, 0) + ISNULL(VL_TRANSPORTE, 0)) VL_REND,
       SUM(ISNULL(VL_IR, 0)) VL_IR
FROM TPAG_AUTONOMOS A
JOIN TFAVORECIDO F
  ON (A.CD_FAVORECIDO = F.CD_FAVORECIDO)
WHERE DATEPART( YEAR, A.DT_IMP_CHEQUE) = @ano AND
      DATEPART( MONTH, A.DT_IMP_CHEQUE) = @mes AND
      A.CD_STATUS_CHEQUE <> '0' AND
      @cd_coligada = '01'GROUP BY F.CD_FAVORECIDO

SELECT A.CD_FAVORECIDO, 
       ROUND(SUM( ISNULL ( A.VL_REND, 0)),2) VL_REND, 
       ROUND(
       SUM( CASE 
              WHEN F.IN_TRANSP = '1' THEN ROUND( ( ISNULL( A.VL_REND, 0) * .4), 2)
              ELSE ISNULL( A.VL_REND, 0)
            END ),2) VL_REND_TRIB,
       ROUND(SUM( ISNULL( A.VL_IR, 0)),2) VL_IR
INTO #TMP_TOT_AUT
FROM #TMP_MOV_AUT A
JOIN TFAVORECIDO F
  ON (A.CD_FAVORECIDO = F.CD_FAVORECIDO)
GROUP BY A.CD_FAVORECIDO

INSERT TMOV_AUTONOMOS
SELECT @aaaa, @cd_coligada, F.CD_RECOL, F.CD_FAVORECIDO, 
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
FROM #TMP_TOT_AUT A
JOIN TFAVORECIDO F
  ON (A.CD_FAVORECIDO = F.CD_FAVORECIDO)
LEFT JOIN TMOV_AUTONOMOS X
  ON (X.ANO           = @aaaa           AND
      X.CD_COLIGADA   = @cd_coligada   AND
      X.CD_RECOL      = F.CD_RECOL     AND
      X.CD_FAVORECIDO = F.CD_FAVORECIDO)
WHERE X.ANO = NULL

UPDATE M
  SET VL_REND_01      = CASE WHEN @mes = 01 THEN A.VL_REND      ELSE VL_REND_01      END,
      VL_REND_02      = CASE WHEN @mes = 02 THEN A.VL_REND      ELSE VL_REND_02      END,
      VL_REND_03      = CASE WHEN @mes = 03 THEN A.VL_REND      ELSE VL_REND_03      END,
      VL_REND_04      = CASE WHEN @mes = 04 THEN A.VL_REND      ELSE VL_REND_04      END,
      VL_REND_05      = CASE WHEN @mes = 05 THEN A.VL_REND      ELSE VL_REND_05      END,
      VL_REND_06      = CASE WHEN @mes = 06 THEN A.VL_REND      ELSE VL_REND_06      END,
      VL_REND_07      = CASE WHEN @mes = 07 THEN A.VL_REND      ELSE VL_REND_07      END,
      VL_REND_08      = CASE WHEN @mes = 08 THEN A.VL_REND      ELSE VL_REND_08      END,
      VL_REND_09      = CASE WHEN @mes = 09 THEN A.VL_REND      ELSE VL_REND_09      END,
      VL_REND_10      = CASE WHEN @mes = 10 THEN A.VL_REND      ELSE VL_REND_10      END,
      VL_REND_11      = CASE WHEN @mes = 11 THEN A.VL_REND      ELSE VL_REND_11      END,
      VL_REND_12      = CASE WHEN @mes = 12 THEN A.VL_REND      ELSE VL_REND_12      END,
      VL_REND_TRIB_01 = CASE WHEN @mes = 01 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_01 END,
      VL_REND_TRIB_02 = CASE WHEN @mes = 02 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_02 END,
      VL_REND_TRIB_03 = CASE WHEN @mes = 03 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_03 END,
      VL_REND_TRIB_04 = CASE WHEN @mes = 04 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_04 END,
      VL_REND_TRIB_05 = CASE WHEN @mes = 05 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_05 END,
      VL_REND_TRIB_06 = CASE WHEN @mes = 06 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_06 END,
      VL_REND_TRIB_07 = CASE WHEN @mes = 07 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_07 END,
      VL_REND_TRIB_08 = CASE WHEN @mes = 08 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_08 END,
      VL_REND_TRIB_09 = CASE WHEN @mes = 09 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_09 END,
      VL_REND_TRIB_10 = CASE WHEN @mes = 10 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_10 END,
      VL_REND_TRIB_11 = CASE WHEN @mes = 11 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_11 END,
      VL_REND_TRIB_12 = CASE WHEN @mes = 12 THEN A.VL_REND_TRIB ELSE VL_REND_TRIB_12 END,
      VL_IR_01        = CASE WHEN @mes = 01 THEN A.VL_IR        ELSE VL_IR_01        END,
      VL_IR_02        = CASE WHEN @mes = 02 THEN A.VL_IR        ELSE VL_IR_02        END,
      VL_IR_03        = CASE WHEN @mes = 03 THEN A.VL_IR        ELSE VL_IR_03        END,
      VL_IR_04        = CASE WHEN @mes = 04 THEN A.VL_IR        ELSE VL_IR_04        END,
      VL_IR_05        = CASE WHEN @mes = 05 THEN A.VL_IR        ELSE VL_IR_05        END,
      VL_IR_06        = CASE WHEN @mes = 06 THEN A.VL_IR        ELSE VL_IR_06        END,
      VL_IR_07        = CASE WHEN @mes = 07 THEN A.VL_IR        ELSE VL_IR_07        END,
      VL_IR_08        = CASE WHEN @mes = 08 THEN A.VL_IR        ELSE VL_IR_08        END,
      VL_IR_09        = CASE WHEN @mes = 09 THEN A.VL_IR        ELSE VL_IR_09        END,
      VL_IR_10        = CASE WHEN @mes = 10 THEN A.VL_IR        ELSE VL_IR_10        END,
      VL_IR_11        = CASE WHEN @mes = 11 THEN A.VL_IR        ELSE VL_IR_11        END,
      VL_IR_12        = CASE WHEN @mes = 12 THEN A.VL_IR        ELSE VL_IR_12        END
FROM TMOV_AUTONOMOS M
JOIN #TMP_TOT_AUT A
  ON (M.CD_FAVORECIDO = A.CD_FAVORECIDO)
JOIN TFAVORECIDO F
  ON (A.CD_FAVORECIDO = F.CD_FAVORECIDO)
WHERE M.ANO          = @aaaa        AND
      M.CD_COLIGADA  = @cd_coligada 

DROP TABLE #TMP_MOV_AUT
DROP TABLE #TMP_TOT_AUT


GO
