USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_canal_mes_mod2] --'01', '002', 'x', 'x', 'x', '20030701', '20030731', null
                                  ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), @cd_area char(5),
                                    @cd_grupo_area char(3), @dt_inicio datetime, @dt_fim datetime, 
                                    @nr_identificador int OUTPUT ) AS


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_area          char(2)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @cd_grupo_area    char(3)

DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_area = '15'
SELECT @cd_grupo_area = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/01/2003', 103 )
SELECT @dt_fim = CONVERT( datetime, '28/02/2003', 103 )
*/

SELECT @nr_identificador =  ISNULL(MAX( NR_IDENTIFICADOR ) + 1, 1)
FROM   TREL_CANAL_MES_MOD2

CREATE TABLE #TMP_MEDIA_CANAL (
      NR_PROCESSO    char(18),
      CD_UNID_NEG    char(2) ,
      CD_CANAL       char(1),
      CD_AREA        char(2),
      NM_GRUPO_AREA  char(3),
      DT_REALIZACAO  datetime,
      DIAS           int
)

IF @cd_area = 'X'
BEGIN
INSERT INTO #TMP_MEDIA_CANAL
  SELECT P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CANAL, P.CD_AREA, A.NM_GRUPO AS NM_GRUPO_AREA, F.DT_REALIZACAO,
         ISNULL( DATEDIFF( DAY, ( SELECT DT_REALIZACAO
                                  FROM   TFOLLOWUP F2 (NOLOCK)
                                  WHERE  F2.NR_PROCESSO = P.NR_PROCESSO AND
                                         F2.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
                                         F2.IN_APLICAVEL = '1' ),
                                ( SELECT DT_REALIZACAO
                                  FROM   TFOLLOWUP F2 (NOLOCK)
                                  WHERE  F2.NR_PROCESSO = P.NR_PROCESSO AND
                                         F2.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) ) AND
                                         F2.IN_APLICAVEL = '1' ) ), 0 ) AS DIAS
  --INTO   #TMP_MEDIA_CANAL
  FROM   TPROCESSO P (NOLOCK), TFOLLOWUP F (NOLOCK), TEMPRESA_NAC E (NOLOCK), TAREA A (NOLOCK)
  WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
         F.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         A.CD_AREA = P.CD_AREA AND
         P.IN_CANCELADO = '0' AND
         F.IN_APLICAVEL = '1' AND
         ISNULL( P.CD_CANAL, '' ) NOT IN( '', '4' ) AND
         SUBSTRING( P.NR_PROCESSO, 5, 2 ) NOT IN ( 'IE' ) AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( A.NM_GRUPO = @cd_grupo_area ) OR ( @cd_grupo_area = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
         ( ( P.CD_AREA = @cd_area ) OR ( @cd_area = 'X' ) OR @cd_area IN ( SELECT CD_AREA
                                                                           FROM   TREF_CLIENTE R (NOLOCK)
                                                                           WHERE  R.NR_PROCESSO = P.NR_PROCESSO ) )
END
ELSE
BEGIN
INSERT INTO #TMP_MEDIA_CANAL
  SELECT P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CANAL, P.CD_AREA, A.NM_GRUPO AS NM_GRUPO_AREA, F.DT_REALIZACAO,
         ISNULL( DATEDIFF( DAY, ( SELECT DT_REALIZACAO
                                  FROM   TFOLLOWUP F2 (NOLOCK)
                                  WHERE  F2.NR_PROCESSO = P.NR_PROCESSO AND
                                         F2.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
                                         F2.IN_APLICAVEL = '1' ),
                                ( SELECT DT_REALIZACAO
                                  FROM   TFOLLOWUP F2 (NOLOCK)
                                  WHERE  F2.NR_PROCESSO = P.NR_PROCESSO AND
                    F2.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) ) AND
                                         F2.IN_APLICAVEL = '1' ) ), 0 ) AS DIAS
  --INTO   #TMP_MEDIA_CANAL
  FROM   TPROCESSO P (NOLOCK), TFOLLOWUP F (NOLOCK), TEMPRESA_NAC E (NOLOCK), TAREA A (NOLOCK)
  WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
         F.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS ) AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         A.CD_AREA = P.CD_AREA AND
         P.IN_CANCELADO = '0' AND
         F.IN_APLICAVEL = '1' AND
         ISNULL( P.CD_CANAL, '' ) NOT IN( '', '4' ) AND
         SUBSTRING( P.NR_PROCESSO, 5, 2 ) NOT IN ( 'IE' ) AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_grupo_area IN ( A.NM_GRUPO, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
         ( ( P.CD_AREA = @cd_area ) OR ( @cd_area = 'X' ) AND @cd_area IN ( SELECT CD_AREA
                                                                           FROM   TREF_CLIENTE R (NOLOCK)
                                                                           WHERE  R.NR_PROCESSO = P.NR_PROCESSO ) )
END

INSERT TREL_CANAL_MES_MOD2 ( NR_IDENTIFICADOR, MES, CD_UNID_NEG, CD_AREA, 
       NM_GRUPO_AREA, QT_PROC_VERMELHO, QT_PROC_AMARELO, QT_PROC_VERDE, QT_PROC_CINZA, MEDIA_DIAS_VERMELHO, 
       MEDIA_DIAS_AMARELO, MEDIA_DIAS_VERDE, MEDIA_DIAS_CINZA, QT_PROC_TOTAL_AREA, QT_TOTAL_MEDIA_DIAS,
       QT_PROC_TOTAL_VERMELHO, QT_PROC_TOTAL_AMARELO, QT_PROC_TOTAL_VERDE, QT_PROC_TOTAL_CINZA)
SELECT DISTINCT @nr_identificador, DATEPART( m, TMP1.DT_REALIZACAO ) AS MES, TMP1.CD_UNID_NEG, TMP1.CD_AREA, 
      TMP1.NM_GRUPO_AREA,  
      (SELECT COUNT( TMP.NR_PROCESSO ) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '0' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) AS QT_VERMELHO,
      (SELECT COUNT( TMP.NR_PROCESSO ) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '1' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) AS QT_AMARELO,
      (SELECT COUNT( TMP.NR_PROCESSO ) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '2' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) AS QT_VERDE,
      (SELECT COUNT( TMP.NR_PROCESSO ) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '3' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) AS QT_CINZA, 
      (SELECT ISNULL(AVG( TMP.DIAS ), 0) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '0' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) AS MEDIA_DIAS_VERMELHO,
      (SELECT ISNULL(AVG( TMP.DIAS ), 0) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '1' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) AS MEDIA_DIAS_AMARELO,
      (SELECT ISNULL(AVG( TMP.DIAS ), 0) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '2' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) AS MEDIA_DIAS_VERDE,
      (SELECT ISNULL(AVG( TMP.DIAS ), 0) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '3' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) AS MEDIA_DIAS_CINZA,
      (SELECT COUNT( TMP.NR_PROCESSO ) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) AS QT_TOTAL_AREA,
     ((SELECT ISNULL(AVG( TMP.DIAS ), 0) FROM #TMP_MEDIA_CANAL TMP 
 WHERE TMP.CD_CANAL = '0' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) +
      (SELECT ISNULL(AVG( TMP.DIAS ), 0) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '1' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) +
      (SELECT ISNULL(AVG( TMP.DIAS ), 0) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '2' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )) +
      (SELECT ISNULL(AVG( TMP.DIAS ), 0) FROM #TMP_MEDIA_CANAL TMP 
       WHERE TMP.CD_CANAL = '3' AND TMP.CD_AREA = TMP1.CD_AREA AND 
         DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO ))) AS QT_TOTAL_MEDIA,
      ((SELECT COUNT( TMP.NR_PROCESSO ) FROM #TMP_MEDIA_CANAL TMP 
        WHERE TMP.CD_CANAL = '0' AND 
           DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO ))/ 
       (SELECT COUNT( NR_PROCESSO ) FROM #TMP_MEDIA_CANAL 
        WHERE DATEPART( m, DT_REALIZACAO) = DATEPART( m, TMP1.DT_REALIZACAO))) AS QT_PROC_TOTAL_VERMELHO,
      ((SELECT COUNT( TMP.NR_PROCESSO ) FROM #TMP_MEDIA_CANAL TMP 
        WHERE TMP.CD_CANAL = '1' AND 
           DATEPART( m, TMP.DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO ))/ 
       (SELECT COUNT( NR_PROCESSO ) FROM #TMP_MEDIA_CANAL 
        WHERE DATEPART( m, DT_REALIZACAO) = DATEPART( m, TMP1.DT_REALIZACAO))) AS QT_PROC_TOTAL_AMARELO,
      ((SELECT COUNT( TMP.NR_PROCESSO ) FROM #TMP_MEDIA_CANAL TMP 
        WHERE TMP.CD_CANAL = '2' AND 
          DATEPART( m, DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO )/ 
      (SELECT COUNT( NR_PROCESSO ) FROM #TMP_MEDIA_CANAL 
       WHERE DATEPART( m, TMP.DT_REALIZACAO)= DATEPART( m, TMP1.DT_REALIZACAO)))) AS QT_PROC_TOTAL_VERDE,
      ((SELECT COUNT( TMP.NR_PROCESSO ) FROM #TMP_MEDIA_CANAL TMP 
        WHERE TMP.CD_CANAL = '3' AND 
          DATEPART( m, DT_REALIZACAO ) = DATEPART( m, TMP1.DT_REALIZACAO ))/ 
      (SELECT COUNT( NR_PROCESSO ) FROM #TMP_MEDIA_CANAL 
       WHERE DATEPART( m, DT_REALIZACAO)= DATEPART( m, TMP1.DT_REALIZACAO))) AS QT_PROC_TOTAL_CINZA
FROM   #TMP_MEDIA_CANAL TMP1
GROUP BY DATEPART( m, TMP1.DT_REALIZACAO ), TMP1.CD_UNID_NEG, TMP1.CD_CANAL, TMP1.CD_AREA, TMP1.NM_GRUPO_AREA, TMP1.DT_REALIZACAO
ORDER BY MES, TMP1.NM_GRUPO_AREA, TMP1.CD_AREA

-- Dados para o gráfico
INSERT INTO TREL_CANAL_GRAF (NR_IDENTIFICADOR, NM_CANAL, QT_PROC_CANAL, QT_PROC_TOTAL, 
  QT_MEDIA_DIAS_TOTAL, QT_MEDIA_DIAS_CANAL, NR_ORDEM)
SELECT @nr_identificador, 'VERMELHO', SUM(QT_PROC_VERMELHO), (SELECT COUNT( NR_PROCESSO ) FROM #TMP_MEDIA_CANAL),
(SELECT SUM(DIAS) FROM #TMP_MEDIA_CANAL), (SELECT SUM(DIAS) FROM #TMP_MEDIA_CANAL WHERE CD_CANAL = '0'), 1
FROM   TREL_CANAL_MES_MOD2
WHERE NR_IDENTIFICADOR = @nr_identificador

INSERT INTO TREL_CANAL_GRAF (NR_IDENTIFICADOR, NM_CANAL, QT_PROC_CANAL, QT_PROC_TOTAL, 
  QT_MEDIA_DIAS_TOTAL, QT_MEDIA_DIAS_CANAL, NR_ORDEM)
SELECT @nr_identificador, 'AMARELO', SUM(QT_PROC_AMARELO), (SELECT COUNT( NR_PROCESSO ) FROM #TMP_MEDIA_CANAL),
(SELECT SUM(DIAS) FROM #TMP_MEDIA_CANAL), (SELECT SUM(DIAS) FROM #TMP_MEDIA_CANAL WHERE CD_CANAL = '1'), 3
FROM   TREL_CANAL_MES_MOD2
WHERE NR_IDENTIFICADOR = @nr_identificador

INSERT INTO TREL_CANAL_GRAF (NR_IDENTIFICADOR, NM_CANAL, QT_PROC_CANAL, QT_PROC_TOTAL, 
  QT_MEDIA_DIAS_TOTAL, QT_MEDIA_DIAS_CANAL, NR_ORDEM)
SELECT @nr_identificador, 'VERDE', SUM(QT_PROC_VERDE), (SELECT COUNT( NR_PROCESSO ) FROM #TMP_MEDIA_CANAL),
(SELECT SUM(DIAS) FROM #TMP_MEDIA_CANAL), (SELECT SUM(DIAS) FROM #TMP_MEDIA_CANAL WHERE CD_CANAL = '2'), 2
FROM   TREL_CANAL_MES_MOD2
WHERE NR_IDENTIFICADOR = @nr_identificador

INSERT INTO TREL_CANAL_GRAF (NR_IDENTIFICADOR, NM_CANAL, QT_PROC_CANAL, QT_PROC_TOTAL, 
  QT_MEDIA_DIAS_TOTAL, QT_MEDIA_DIAS_CANAL, NR_ORDEM)
SELECT @nr_identificador, 'CINZA', SUM(QT_PROC_CINZA), (SELECT COUNT( NR_PROCESSO ) FROM #TMP_MEDIA_CANAL),
(SELECT SUM(DIAS) FROM #TMP_MEDIA_CANAL), (SELECT SUM(DIAS) FROM #TMP_MEDIA_CANAL WHERE CD_CANAL = '3'), 4
FROM   TREL_CANAL_MES_MOD2
WHERE NR_IDENTIFICADOR = @nr_identificador

DROP TABLE #TMP_MEDIA_CANAL

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/












GO
