USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ATUALIZA_FOLLOWUP](@NR_PROCESSO CHAR(18)) AS
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18) = '0201IP-0493-13'
    BEGIN TRAN
    --*/

    IF DBO.FN_PROCESSO_SERVICO_NOVO(@NR_PROCESSO) = '0'
    BEGIN
        EXEC SP_ATZ_FOLLOWUP @NR_PROCESSO
        RETURN
    END

    -- Variáveis fixas de eventos
    DECLARE @CD_EVENTO_PREV_CHEGADA     CHAR(3) = '333'
    DECLARE @CD_EVENTO_PREV_CHEGADA_ATZ CHAR(3) = '668'

    DECLARE @EVENTOS AS TABLE (
        CD_EVENTO        CHAR(3),
        CD_EVENTO_BASE   CHAR(3),
        PZ_EVENTO_BASE   INT,
        IN_PRAZO_UTIL    CHAR(1),
        IN_PRAZO_FERIADO CHAR(1),
        NR_ORDEM         INT
    )

    -- Atualizar as previsões
    DECLARE @IN_PRAZO_UTIL    CHAR(1) -- Não calcular os finais de semana
    DECLARE @IN_PRAZO_FERIADO CHAR(1) -- Não calcular os feriados

    -- Variáveis do Followup
    DECLARE @IN_APLICAVEL     CHAR(1)
    DECLARE @DT_REALIZACAO    DATETIME
    DECLARE @DT_520           DATETIME
    DECLARE @QT_DIAS_DESVIO   INT

    DECLARE @CD_EVENTO        CHAR(3)
    DECLARE @CD_EVENTO_BASE   CHAR(3)
    DECLARE @PZ_EVENTO_BASE   INT

    INSERT INTO @EVENTOS
    EXEC SP_LISTA_EVENTOS_PROCESSO @NR_PROCESSO, '0'

    --/*-- Verificar se há a mesma quantidade de eventos no followup e no serviço, e verificar se são os mesmos eventos que constam
    IF (((SELECT COUNT(*) FROM TFOLLOWUP (NOLOCK) WHERE NR_PROCESSO = @NR_PROCESSO) <> (SELECT COUNT(*) FROM @EVENTOS)) OR
       ((SELECT COUNT(*)
         FROM TFOLLOWUP F (NOLOCK)
            INNER JOIN @EVENTOS E ON E.CD_EVENTO = F.CD_EVENTO
         WHERE F.NR_PROCESSO = @NR_PROCESSO) <> (SELECT COUNT(*) FROM @EVENTOS))) AND ((SELECT COUNT(*) FROM @EVENTOS) > 0)
        EXEC SP_CRIA_FOLLOWUP @NR_PROCESSO
    ELSE--*/
    BEGIN
        -- Atualizar Ordens, caso estejam diferentes
        IF (SELECT COUNT(*)
            FROM TFOLLOWUP F (NOLOCK)
               INNER JOIN @EVENTOS E ON E.CD_EVENTO = F.CD_EVENTO AND E.NR_ORDEM = F.NR_ORDEM AND E.CD_EVENTO_BASE = F.CD_EV_BASICO AND E.PZ_EVENTO_BASE = F.PZ_DO_EV_BASICO
            WHERE F.NR_PROCESSO = @NR_PROCESSO) <> (SELECT COUNT(*) FROM @EVENTOS)
        BEGIN
            UPDATE F
            SET NR_ORDEM = E.NR_ORDEM,
                CD_EV_BASICO = E.CD_EVENTO_BASE,
                PZ_DO_EV_BASICO = E.PZ_EVENTO_BASE
            FROM TFOLLOWUP F 
               INNER JOIN @EVENTOS E ON E.CD_EVENTO = F.CD_EVENTO --AND E.NR_ORDEM = F.NR_ORDEM
            WHERE F.NR_PROCESSO = @NR_PROCESSO
        END

        -- Limpar as datas previstas
        UPDATE TFOLLOWUP
        SET DT_PREVISTA = NULL,
            DT_LIMITE   = NULL
        WHERE NR_PROCESSO = @NR_PROCESSO

        -- Guardar variáveis de campos que são mais utilizadas
        DECLARE @CD_SERVICO        INT
        DECLARE @CD_CLIENTE        CHAR(5)
        DECLARE @CD_UNID_NEG       CHAR(2)
        DECLARE @CD_PRODUTO        CHAR(2)
        DECLARE @CD_EMBARCACAO     CHAR(4)
        DECLARE @NR_VIAGEM         CHAR(15)
        DECLARE @CD_LOCAL_EMBARQUE CHAR(4)
        DECLARE @VL_TRANSIT_TIME   INT
        DECLARE @VL_TRANSIT_TRANSB INT
        DECLARE @CD_VIA_TRANSPORTE CHAR(2)

        SELECT @CD_SERVICO        = CD_SERVICO,
               @CD_CLIENTE        = CD_CLIENTE,
               @CD_UNID_NEG       = CD_UNID_NEG,
               @CD_PRODUTO        = CD_PRODUTO,
               @CD_EMBARCACAO     = CD_EMBARCACAO,
               @NR_VIAGEM         = NR_VIAGEM,
               @CD_LOCAL_EMBARQUE = CD_LOCAL_EMBARQUE,
               @VL_TRANSIT_TIME   = ISNULL(VL_TRANSIT_TIME, 0)
        FROM TPROCESSO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO

        SELECT @VL_TRANSIT_TRANSB = ISNULL(MAX(ISNULL(T.VL_TRANSIT_TIME, 0)), 0)
        FROM TPROCESSO                  P (NOLOCK)
           INNER JOIN VW_SERVICO_GERAL  S          ON S.CD_SERVICO = P.CD_SERVICO
           INNER JOIN TTRANSIT_TIME_EXP T (NOLOCK) ON T.CD_LOCAL_EMBARQUE = P.CD_LOCAL_EMBARQUE
                                                  AND ISNULL(T.CD_LOCAL_TRANSBORDO, '') = ''
                                                  AND T.CD_LOCAL_DESEMBARQUE = P.CD_LOCAL_TRANSBORDO
                                                  AND T.CD_AGENTE = P.CD_AGENTE
                                                  AND T.CD_VIA_TRANSPORTE = S.CD_VIA_TRANSPORTE
        WHERE P.NR_PROCESSO = @NR_PROCESSO

        SELECT @CD_VIA_TRANSPORTE = ISNULL(S.CD_VIA_TRANSPORTE, '01')
        FROM TPROCESSO                  P (NOLOCK)
           INNER JOIN VW_SERVICO_GERAL  S          ON S.CD_SERVICO = P.CD_SERVICO
        WHERE P.NR_PROCESSO = @NR_PROCESSO

        -- Hora no Serviço
        DECLARE @IN_HORA_EVENTOS BIT

        SELECT @IN_HORA_EVENTOS = IN_HORA_EVENTOS
        FROM TCLIENTE_SERVICO (NOLOCK)
        WHERE CD_CLIENTE  = @CD_CLIENTE
          AND CD_SERVICO  = CONVERT(VARCHAR, @CD_SERVICO) -- Converter o inteiro para texto para nunca comparar 001 = 1 que resultaria em 1 = 1 e neste caso traria mais de um registro
          AND CD_UNID_NEG = @CD_UNID_NEG
          AND CD_PRODUTO  = @CD_PRODUTO
          AND IN_ATIVO    = 1

        IF @IN_HORA_EVENTOS IS NULL
            SET @IN_HORA_EVENTOS = 0

        -- Limpar hora dos eventos que tenham hora se o Serviço não é em hora
        IF (@IN_HORA_EVENTOS = 0) AND ((SELECT COUNT(*)
                                        FROM TFOLLOWUP F (NOLOCK)
                                        WHERE F.NR_PROCESSO = @NR_PROCESSO
                                          AND (DATEPART(HOUR, ISNULL(F.DT_REALIZACAO, 0)) +
                                               DATEPART(MINUTE, ISNULL(F.DT_REALIZACAO, 0)) +
                                               DATEPART(SECOND, ISNULL(F.DT_REALIZACAO, 0)) +
                                               DATEPART(MILLISECOND, ISNULL(F.DT_REALIZACAO, 0))) > 0) > 0)
        BEGIN
            INSERT INTO @EVENTOS(CD_EVENTO)
            SELECT CD_EVENTO
            FROM TFOLLOWUP F (NOLOCK)
            WHERE F.NR_PROCESSO = @NR_PROCESSO
              AND (DATEPART(HOUR, ISNULL(F.DT_REALIZACAO, 0)) +
                   DATEPART(MINUTE, ISNULL(F.DT_REALIZACAO, 0)) +
                   DATEPART(SECOND, ISNULL(F.DT_REALIZACAO, 0)) +
                   DATEPART(MILLISECOND, ISNULL(F.DT_REALIZACAO, 0))) > 0

            WHILE (SELECT COUNT(*) FROM @EVENTOS) > 0
            BEGIN
                SELECT TOP 1 @CD_EVENTO = CD_EVENTO
                FROM @EVENTOS

                DELETE @EVENTOS
                WHERE CD_EVENTO = @CD_EVENTO

               UPDATE F
                SET DT_REALIZACAO = CONVERT(DATETIME, CONVERT(VARCHAR, F.DT_REALIZACAO, 103), 103)
                FROM TFOLLOWUP F
                WHERE F.NR_PROCESSO = @NR_PROCESSO
                  AND F.CD_EVENTO   = @CD_EVENTO
            END
        END

        SELECT @DT_REALIZACAO = CASE @VL_TRANSIT_TIME
                                    WHEN 0 THEN NULL
                                ELSE ISNULL(DT_ENT, DT_ESPERADA) + @VL_TRANSIT_TIME + CASE @IN_HORA_EVENTOS
                                                                                          WHEN 0 THEN 0
                                                                                      ELSE CASE DT_ESPERADA
                                                                                               WHEN CONVERT(INT, DT_ESPERADA) THEN CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 108), 103)
                                                                                           ELSE 0
                                                                                           END
                                                                                      END
                                END,
               @DT_520 = CASE @VL_TRANSIT_TRANSB
                             WHEN 0 THEN NULL
                         ELSE ISNULL(DT_ENT, DT_ESPERADA) + @VL_TRANSIT_TIME + CASE @IN_HORA_EVENTOS
                                                                                   WHEN 0 THEN 0
                                                                               ELSE CASE DT_ESPERADA
                                                                                        WHEN CONVERT(INT, DT_ESPERADA) THEN CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 108), 103)
                                                                                    ELSE 0
                                                                                    END
                                                                               END
                         END
        FROM TVIAGEM (NOLOCK)
        WHERE CD_UNID_NEG   = CASE @CD_UNID_NEG
                                  WHEN '07' THEN '01'
                              ELSE @CD_UNID_NEG
                              END
          AND CD_PRODUTO    = @CD_PRODUTO
          AND CD_EMBARCACAO = @CD_EMBARCACAO
          AND NR_VIAGEM     = @NR_VIAGEM
          AND CD_LOCAL      = @CD_LOCAL_EMBARQUE

        -- Atualização de eventos de exportação, produtos 02 e 10
        IF @CD_PRODUTO IN ('02', '10') AND (ISNULL(@DT_REALIZACAO, 0) <> 0)
        BEGIN
            -- Atualizar a data de realização do evento "Previsão de Chegada no Destino" (333)
            UPDATE TFOLLOWUP
            SET DT_REALIZACAO = @DT_REALIZACAO,
                CD_RESP_REALIZACAO = '0707'
            WHERE CD_EVENTO     = @CD_EVENTO_PREV_CHEGADA
              AND IN_APLICAVEL  = '1'
              AND NR_PROCESSO   = @NR_PROCESSO

            -- Atualizar a data de realização do evento "Previsão ATUALIZADA de chegada no destino" (668) - Na primeira vez será sempre igual ao 333
            UPDATE TFOLLOWUP
            SET DT_REALIZACAO = @DT_REALIZACAO,
                CD_RESP_REALIZACAO = '0707'
            WHERE CD_EVENTO = @CD_EVENTO_PREV_CHEGADA_ATZ
              AND NR_PROCESSO   = @NR_PROCESSO
              AND DT_REALIZACAO IS NULL

            -- Atualizar a data de Transbordo
            /*UPDATE TFOLLOWUP
            SET DT_REALIZACAO = @DT_520,
                CD_RESP_REALIZACAO = '0707'
            WHERE CD_EVENTO = '520'
              AND NR_PROCESSO   = @NR_PROCESSO
              AND DT_REALIZACAO IS NULL
            */-- Comentado a pedido do David via e-mail em 16/09/2014
        END

        -- Atualização de eventos de exportação, produtos 02 e 10, a partir do 147, para Rodoviários
        IF (@CD_PRODUTO IN ('02', '10')) AND (@CD_VIA_TRANSPORTE = '07')
        BEGIN
            SET @DT_REALIZACAO = NULL
            SELECT @DT_REALIZACAO = DT_REALIZACAO + @VL_TRANSIT_TIME
            FROM TFOLLOWUP
            WHERE NR_PROCESSO = @NR_PROCESSO
              AND CD_EVENTO = '147'

            IF (ISNULL(@DT_REALIZACAO, 0) <> 0)
            BEGIN
                IF @IN_HORA_EVENTOS = 0
                    SET @DT_REALIZACAO = CONVERT(DATE, @DT_REALIZACAO, 103)

                IF (SELECT COUNT(*)
                    FROM TFOLLOWUP
                    WHERE NR_PROCESSO = @NR_PROCESSO
                      AND CD_EVENTO = '333'
                      AND ISNULL(DT_REALIZACAO, 0) < @DT_REALIZACAO) > 0
                BEGIN
                    UPDATE TFOLLOWUP
                    SET DT_REALIZACAO      = @DT_REALIZACAO,
                        CD_RESP_REALIZACAO = '0707'
                    WHERE NR_PROCESSO = @NR_PROCESSO
                      AND CD_EVENTO = '333'

                    IF (SELECT COUNT(*)
                        FROM TFOLLOWUP
                        WHERE NR_PROCESSO = @NR_PROCESSO
                          AND CD_EVENTO = '668') > 0
                    BEGIN
                        UPDATE TFOLLOWUP
                        SET DT_REALIZACAO      = @DT_REALIZACAO,
                            CD_RESP_REALIZACAO = '0707'
                        WHERE NR_PROCESSO = @NR_PROCESSO
                          AND CD_EVENTO = '668'
                    END
                END
            END
        END

        -- Atualizar o evento 289 a partir do 041, se o 289 não estiver preenchido e o 041 estiver
        IF (SELECT COUNT(*)
            FROM TFOLLOWUP         F (NOLOCK)
              INNER JOIN TFOLLOWUP F2 (NOLOCK) ON F2.NR_PROCESSO = F.NR_PROCESSO
                                              AND F2.CD_EVENTO = '041'
                                              AND ISNULL(F2.DT_REALIZACAO, 0) = 0
              INNER JOIN TSERVICO S (NOLOCK) ON S.CD_SERVICO = F.CD_SERVICO
                                            AND S.CD_VIA_TRANSPORTE = '07'
            WHERE F.NR_PROCESSO = @NR_PROCESSO
              AND F.CD_EVENTO = '289'
              AND ISNULL(F.DT_REALIZACAO, 0) <> 0) > 0
        BEGIN
            UPDATE F
            SET F.DT_REALIZACAO = F2.DT_REALIZACAO,
                F.CD_RESP_REALIZACAO = '0707'
            FROM TFOLLOWUP         F (NOLOCK)
              INNER JOIN TFOLLOWUP F2 (NOLOCK) ON F.NR_PROCESSO = F2.NR_PROCESSO
                                              AND F2.CD_EVENTO = '041'
              INNER JOIN TSERVICO S (NOLOCK) ON F.CD_SERVICO = S.CD_SERVICO
                                            AND S.CD_VIA_TRANSPORTE  = '07'
            WHERE F.CD_EVENTO = '289'
              AND F.NR_PROCESSO = @NR_PROCESSO
        END

        -- Exclui os eventos que não tem evento base, pois esses não tem como calcular
        DELETE @EVENTOS
        WHERE ISNULL(CD_EVENTO_BASE, '') = ''

        WHILE (SELECT COUNT(*) FROM @EVENTOS) > 0
        BEGIN
            SELECT TOP 1 @CD_EVENTO        = CD_EVENTO,
                         @CD_EVENTO_BASE   = CD_EVENTO_BASE,
                         @PZ_EVENTO_BASE   = ISNULL(PZ_EVENTO_BASE, 0),
                         @IN_PRAZO_UTIL    = ISNULL(IN_PRAZO_UTIL, '0'),
                         @IN_PRAZO_FERIADO = ISNULL(IN_PRAZO_FERIADO, '0')
            FROM @EVENTOS
            ORDER BY NR_ORDEM

            SELECT @IN_APLICAVEL   = IN_APLICAVEL,
                   @DT_REALIZACAO  = ISNULL(DT_REALIZACAO, DT_PREVISTA),
                   @QT_DIAS_DESVIO = ISNULL(QT_DIAS_DESVIO, 0)
            FROM TFOLLOWUP (NOLOCK)
            WHERE NR_PROCESSO = @NR_PROCESSO
              AND CD_EVENTO   = @CD_EVENTO_BASE

            -- Só precisa efetuar o Loop se a data não estiver vazia e o prazo for maior que zero horas
            IF (@DT_REALIZACAO IS NOT NULL) AND (@PZ_EVENTO_BASE <> 0)
            BEGIN
                /*
                SET @IN_PRAZO_UTIL    = '0'
                SET @IN_PRAZO_FERIADO = '0'
                SELECT @IN_PRAZO_UTIL    = ISNULL(IN_PRAZO_UTIL, '0'),
                       @IN_PRAZO_FERIADO = ISNULL(IN_PRAZO_FERIADO, '0')
                FROM TSERVICO_EVENTO_NOVO (NOLOCK)
                WHERE CD_SERVICO = @CD_SERVICO
                  AND CD_EVENTO  = @CD_EVENTO
                --*/

                WHILE (@DT_REALIZACAO IS NOT NULL) AND (@PZ_EVENTO_BASE <> 0)
                BEGIN
                    IF ((@IN_PRAZO_UTIL = '1') AND (DATEPART(WEEKDAY, @DT_REALIZACAO) = 1))
                    BEGIN
                        IF @PZ_EVENTO_BASE > 0
                            SET @DT_REALIZACAO = DATEADD(DAY, 1, @DT_REALIZACAO)
                        ELSE
                            SET @DT_REALIZACAO = DATEADD(DAY, -1, @DT_REALIZACAO)
                    END
                    ELSE IF ((@IN_PRAZO_UTIL = '1') AND (DATEPART(WEEKDAY, @DT_REALIZACAO) = 7))
                    BEGIN
                        IF @PZ_EVENTO_BASE > 0
                            SET @DT_REALIZACAO = DATEADD(DAY, 2, @DT_REALIZACAO)
                        ELSE
                            SET @DT_REALIZACAO = DATEADD(DAY, -2, @DT_REALIZACAO)
                    END
                    ELSE IF (@IN_PRAZO_FERIADO = '1') AND ((SELECT COUNT(*)
                                                            FROM TFERIADO (NOLOCK)
                                                            WHERE DT_FERIADO = CONVERT(DATETIME, CONVERT(VARCHAR, @DT_REALIZACAO, 103), 103)) > 0)
                    BEGIN
                        IF @PZ_EVENTO_BASE > 0
                            SET @DT_REALIZACAO = DATEADD(DAY, 1, @DT_REALIZACAO)
                        ELSE
                            SET @DT_REALIZACAO = DATEADD(DAY, -1, @DT_REALIZACAO)
                    END
                    ELSE
                    BEGIN
                        IF @PZ_EVENTO_BASE > 0
                            SET @DT_REALIZACAO = DATEADD(HOUR, 1, @DT_REALIZACAO)
                        ELSE
                            SET @DT_REALIZACAO = DATEADD(HOUR, -1, @DT_REALIZACAO)

                        IF @PZ_EVENTO_BASE > 0
                            SET @PZ_EVENTO_BASE = @PZ_EVENTO_BASE - 1
                        ELSE
                            SET @PZ_EVENTO_BASE = @PZ_EVENTO_BASE + 1
                    END -- ELSE - IF
                END -- LOOP -> @PZ_EVENTO_BASE
            END -- IF para o LOOP

            IF (@DT_REALIZACAO IS NOT NULL)
            BEGIN
                UPDATE TFOLLOWUP
                SET DT_PREVISTA = @DT_REALIZACAO + @QT_DIAS_DESVIO
                WHERE NR_PROCESSO = @NR_PROCESSO
                  AND CD_EVENTO = @CD_EVENTO
            END

            DELETE @EVENTOS
            WHERE CD_EVENTO = @CD_EVENTO
        END -- LOOP -> @EVENTOS
    END -- IF - Verifica os eventos do followup com os do serviço

    -- Atualizar o DashBoard
    --EXEC SP_ATUALIZA_DASHBOARD @NR_PROCESSO
    --INSERT INTO TATZ_DASHBOARD
    --VALUES(@NR_PROCESSO, GETDATE())

    /*
    INSERT INTO @EVENTOS
    EXEC SP_LISTA_EVENTOS_PROCESSO @NR_PROCESSO, '0'

    SELECT F.CD_EVENTO, F.DT_REALIZACAO, F.DT_PREVISTA, E.CD_EVENTO_BASE, E.PZ_EVENTO_BASE, F.NR_ORDEM
    FROM TFOLLOWUP F
       INNER JOIN @EVENTOS E ON E.CD_EVENTO = F.CD_EVENTO
    WHERE F.NR_PROCESSO = @NR_PROCESSO
    ORDER BY E.NR_ORDEM

    /*
    SELECT *
    FROM @EVENTOS
    ORDER BY NR_ORDEM
    --*/

    ROLLBACK

    SELECT F.CD_EVENTO, F.DT_REALIZACAO, F.DT_PREVISTA, E.CD_EVENTO_BASE, E.PZ_EVENTO_BASE, F.NR_ORDEM
    FROM TFOLLOWUP F
       INNER JOIN @EVENTOS E ON E.CD_EVENTO = F.CD_EVENTO
    WHERE F.NR_PROCESSO = @NR_PROCESSO
    ORDER BY E.NR_ORDEM
    --*/
END
GO
