USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
               
CREATE PROCEDURE [sp_gera_kpi_resultado] AS                  

DECLARE @TB_DATAS AS TABLE (NR_PROCESSO CHAR(18), 
                            DT_REALIZACAO_1 DATETIME, 
                            DT_REALIZACAO_2 DATETIME)    
DECLARE @TB_KPI_SELECIONADO AS TABLE (CD_KPI CHAR(12), 
                                      NM_KPI VARCHAR(MAX),
                                      TP_KPI CHAR(1),
                                      CD_EVENTO_1 CHAR(3),
                                      CD_EVENTO_2 CHAR(3))                                                     
DECLARE @NR_PROCESSO CHAR(18)                            
DECLARE @CD_MBF INT
DECLARE @CD_USUARIO CHAR(4)
DECLARE @CD_GRUPO CHAR(3)
DECLARE @CD_KPI CHAR(12)
DECLARE @NM_KPI VARCHAR(200)
DECLARE @NM_KPI_PRINCIPAL VARCHAR(200)
DECLARE @NM_COMPLETO VARCHAR(200)
DECLARE @NM_QUEBRAS VARCHAR (200)
DECLARE @TP_KPI      INT
DECLARE @CD_EVENTO_1 CHAR(3)
DECLARE @CD_EVENTO_2 CHAR(3)
DECLARE @MES_SELECIONADO INT
DECLARE @ANO_SELECIONADO INT
DECLARE @IN_MODAL BIT
DECLARE @IN_ESTUFAGEM BIT
DECLARE @IN_CNPJ BIT
DECLARE @IN_AREA BIT
DECLARE @CD_MODAL CHAR(2)
DECLARE @CD_ESTUFAGEM CHAR(1)
DECLARE @CD_CNPJ CHAR(5)
DECLARE @CD_AREA CHAR(2)
DECLARE @NM_MODAL VARCHAR(200)
DECLARE @NM_ESTUFAGEM VARCHAR(200)
DECLARE @NM_CNPJ VARCHAR(200)
DECLARE @NM_AREA VARCHAR(200)
DECLARE @FERIADOS    INT
DECLARE @FDS INT
DECLARE @TOTAL INT
DECLARE @TOTAL_DIFERENCA INT
DECLARE @CONTADOR INT
DECLARE @DATA_1 DATETIME
DECLARE @DATA_2 DATETIME
DECLARE @SINAL VARCHAR(1)
DECLARE @DIA INT
DECLARE @CD_SELECIONADO INT
DECLARE @CD_PRODUTO CHAR(2)
DECLARE @NR_META INT

IF (SELECT COUNT (*) FROM TMBF_SELECIONADO (NOLOCK) WHERE IN_GERADO = 0) > 0
BEGIN  
  SELECT TOP 1 @CD_MBF = I.CD_MBF, @CD_USUARIO = I.CD_USUARIO, @CD_GRUPO = I.CD_GRUPO,  
    @MES_SELECIONADO = S.MES_SELECIONADO, @ANO_SELECIONADO = S.ANO_SELECIONADO,@CD_SELECIONADO = CD_SELECIONADO,
    @IN_MODAL = I.IN_MODAL, @IN_AREA = I.IN_AREA, @IN_CNPJ = I.IN_CNPJ, @IN_ESTUFAGEM = I.IN_ESTUFAGEM, 
    @CD_PRODUTO = I.CD_PRODUTO 
  FROM TMBF_SELECIONADO S (NOLOCK)
    INNER JOIN TMBF_INFO I (NOLOCK) ON (I.CD_MBF = S.CD_MBF AND I.CD_USUARIO = S.CD_USUARIO)
  WHERE IN_GERADO = 0  
  ORDER BY DT_SOLICITADO, IN_URGENTE
  
  INSERT INTO @TB_KPI_SELECIONADO
  SELECT CD_KPI , NM_KPI, RIGHT(CD_KPI, 1), SUBSTRING(CD_KPI, 4, 3), SUBSTRING(CD_KPI, 8, 3)
  FROM TMBF_KPI
  WHERE CD_MBF = @CD_MBF
    AND CD_USUARIO = @CD_USUARIO

  WHILE (SELECT COUNT(*) FROM @TB_KPI_SELECIONADO) > 0  
  BEGIN
    SELECT TOP 1 @CD_KPI = CD_KPI, @NM_KPI_PRINCIPAL = NM_KPI, @TP_KPI = TP_KPI, 
      @CD_EVENTO_1 = CD_EVENTO_1, @CD_EVENTO_2 = CD_EVENTO_2
    FROM @TB_KPI_SELECIONADO
    
    INSERT INTO @TB_DATAS
      SELECT P.NR_PROCESSO, F.DT_REALIZACAO, F2.DT_REALIZACAO
      FROM TPROCESSO P (NOLOCK)
        LEFT JOIN TFOLLOWUP F (NOLOCK) ON (F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = @CD_EVENTO_1)
        LEFT JOIN TFOLLOWUP F2 (NOLOCK) ON (F2.NR_PROCESSO = P.NR_PROCESSO AND F2.CD_EVENTO = @CD_EVENTO_2)  
      WHERE P.CD_GRUPO = @CD_GRUPO
        AND MONTH(P.DT_ABERTURA) = @MES_SELECIONADO
        AND YEAR(P.DT_ABERTURA) = @ANO_SELECIONADO 
        AND P.CD_PRODUTO = @CD_PRODUTO
        AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN ('FT')  

    WHILE (SELECT COUNT (*) FROM @TB_DATAS) > 0
    BEGIN
      SET @NM_KPI = @NM_KPI_PRINCIPAL
      IF LEN(@NM_KPI) > 80
        SET @NM_KPI = LEFT(@NM_KPI_PRINCIPAL, 80) + '...' 
      SET @NM_QUEBRAS = ''
      SET @NM_COMPLETO = @NM_KPI_PRINCIPAL
      SELECT TOP 1 @NR_PROCESSO = NR_PROCESSO, @DATA_1 = CONVERT(DATETIME, DT_REALIZACAO_1, 103), @DATA_2 = CONVERT(DATETIME, DT_REALIZACAO_2, 103) 
      FROM @TB_DATAS
    
      IF @IN_AREA = '1'
      BEGIN       
        SELECT @CD_AREA = A.CD_AREA, @NM_AREA = LTRIM(RTRIM(A.NM_AREA))
        FROM TPROCESSO P (NOLOCK)
          INNER JOIN TAREA A (NOLOCK) ON A.CD_AREA = P.CD_AREA
        WHERE P.NR_PROCESSO = @NR_PROCESSO
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_AREA 
        
        IF LEN(@NM_AREA) > 20
          SET @NM_AREA = LEFT(@NM_AREA, 17) + '...'        
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_AREA         
      END
      
      IF @IN_MODAL = '1'
      BEGIN
        SELECT @CD_MODAL =  S.CD_VIA_TRANSPORTE, @NM_MODAL = LTRIM(RTRIM(V.NM_VIA_TRANSPORTE)) 
        FROM TPROCESSO P (NOLOCK)
          INNER JOIN VW_SERVICO_GERAL S (NOLOCK) ON S.CD_SERVICO = P.CD_SERVICO 
          INNER JOIN TVIA_TRANSPORTE V (NOLOCK) ON V.CD_VIA_TRANSPORTE = S.CD_VIA_TRANSPORTE
        WHERE NR_PROCESSO = @NR_PROCESSO     
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_MODAL
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_MODAL
      END  
    
      IF @IN_CNPJ = '1'
      BEGIN
        SELECT @CD_CNPJ = E.CD_EMPRESA, @NM_CNPJ = LTRIM(RTRIM(E.AP_EMPRESA)) + ' (' + LTRIM(RTRIM(E.END_CIDADE)) + ')'  
        FROM TPROCESSO P (NOLOCK)
          INNER JOIN TEMPRESA_NAC E (NOLOCK) ON E.CD_EMPRESA = P.CD_CLIENTE
        WHERE P.NR_PROCESSO = @NR_PROCESSO
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_CNPJ
        
        IF LEN(@NM_CNPJ) > 20
          SET @NM_CNPJ = LEFT(@NM_CNPJ, 17) + '...'        
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_CNPJ        
      END  
    
      IF @IN_ESTUFAGEM = '1' 
      BEGIN
        SELECT @CD_ESTUFAGEM = E.TP_ESTUFAGEM, @NM_ESTUFAGEM = LTRIM(RTRIM(E.NM_ESTUFAGEM)) 
        FROM TPROCESSO P (NOLOCK)
          INNER JOIN VW_TIPO_ESTUFAGEM E (NOLOCK) ON E.TP_ESTUFAGEM = P.TP_ESTUFAGEM
        WHERE NR_PROCESSO = @NR_PROCESSO
        SET @NM_KPI = @NM_KPI 
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_ESTUFAGEM
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_ESTUFAGEM
      END
          
      IF @TP_KPI = '0'
      BEGIN
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' (Úteis)'
        SET @NM_COMPLETO = @NM_COMPLETO + ' (Úteis)'
        SET @TOTAL =  DATEDIFF(DAY, @DATA_1, @DATA_2)
  
        SET @TOTAL_DIFERENCA = @TOTAL
        
        SELECT @NR_META = ISNULL(NR_META, 0)
		FROM TMBF_RESULTADO
		WHERE CD_MBF = @CD_MBF
          AND CD_USUARIO = @CD_USUARIO
          AND ISNULL(CD_MODAL, '') = ISNULL(@CD_MODAL, '')
          AND ISNULL(CD_ESTUFAGEM, '') = ISNULL(@CD_ESTUFAGEM, '')
          AND CD_KPI = @CD_KPI
          AND TP_KPI = @TP_KPI
        
        INSERT INTO TMBF_RESULTADO(CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2,
            DIAS_KPI, NR_PROCESSO, MES_RESULTADO, ANO_RESULTADO,
            CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO)
        VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
          @TOTAL_DIFERENCA, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
          @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1')  	   
      END

      IF @TP_KPI = '1'
      BEGIN
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' (Corridos)'
        SET @NM_COMPLETO = @NM_COMPLETO + ' (Corridos)'
      
        SELECT @FERIADOS = COUNT(*) 
        FROM TFERIADO (NOLOCK)
        WHERE MONTH(DT_FERIADO) = @MES_SELECIONADO
          AND YEAR(DT_FERIADO) = @ANO_SELECIONADO
          AND DATEPART(WEEKDAY,DT_FERIADO) NOT IN ('1','7')
 
        SET @TOTAL =  DATEDIFF(DAY, @DATA_1, @DATA_2)        
        SET @CONTADOR = 0
        SET @FDS = 0
  
        IF @TOTAL < 0
          SET @TOTAL_DIFERENCA = @TOTAL * (-1)
  
        WHILE NOT @CONTADOR >= @TOTAL_DIFERENCA
        BEGIN
          SELECT @DIA = DATEPART(WEEKDAY, @DATA_1)
          IF @DIA IN (1, 7)
            SET @FDS = @FDS + 1
   
          IF @TOTAL < 0
            SET @DATA_1 = CONVERT(VARCHAR, CONVERT(DATETIME, @DATA_1, 103) - 1, 103)
          ELSE
            SET @DATA_1 = CONVERT(VARCHAR, CONVERT(DATETIME, @DATA_1, 103) + 1, 103)
    
          SET @CONTADOR = @CONTADOR + 1 
        END	
		
	    IF @TOTAL < 0
          SET @TOTAL_DIFERENCA = @TOTAL_DIFERENCA * (-1)	
        SET @TOTAL_DIFERENCA = @TOTAL_DIFERENCA - @FERIADOS - @FDS
        
        SELECT @NR_META = ISNULL(NR_META, 0)
		FROM TMBF_RESULTADO
		WHERE CD_MBF = @CD_MBF
          AND CD_USUARIO = @CD_USUARIO
          AND ISNULL(CD_MODAL, '') = ISNULL(@CD_MODAL, '')
          AND ISNULL(CD_ESTUFAGEM, '') = ISNULL(@CD_ESTUFAGEM, '')
          AND CD_KPI = @CD_KPI
          AND TP_KPI = @TP_KPI
  
        INSERT INTO TMBF_RESULTADO(CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2,
            DIAS_KPI, NR_PROCESSO, MES_RESULTADO, ANO_RESULTADO,
            CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO)
        VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
          @TOTAL_DIFERENCA, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
          @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1')    	
      END

      IF @TP_KPI = '2'
      BEGIN
        --0
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' (Úteis)'
        SET @NM_COMPLETO = @NM_COMPLETO + ' (Úteis)'
        SELECT @TOTAL =  DATEDIFF(DAY, @DATA_1, @DATA_2)    
  
        SET @TOTAL_DIFERENCA = @TOTAL
        
        SELECT @NR_META = ISNULL(NR_META, 0)
		FROM TMBF_RESULTADO
		WHERE CD_MBF = @CD_MBF
          AND CD_USUARIO = @CD_USUARIO
          AND ISNULL(CD_MODAL, '') = ISNULL(@CD_MODAL, '')
          AND ISNULL(CD_ESTUFAGEM, '') = ISNULL(@CD_ESTUFAGEM, '')
          AND CD_KPI = @CD_KPI
          AND TP_KPI = @TP_KPI
        
        INSERT INTO TMBF_RESULTADO(CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2,
            DIAS_KPI, NR_PROCESSO, MES_RESULTADO, ANO_RESULTADO,
            CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO)
        VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
          @TOTAL_DIFERENCA, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
          @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1')  
        
        --1 
        SET @NM_QUEBRAS = REPLACE(@NM_QUEBRAS, '(Úteis)', '(Corridos)') 
        SET @NM_COMPLETO = REPLACE(@NM_COMPLETO, '(Úteis)', '(Corridos)')
       
        SELECT @FERIADOS = COUNT(*) 
        FROM TFERIADO (NOLOCK)
        WHERE MONTH(DT_FERIADO) = @MES_SELECIONADO
          AND YEAR(DT_FERIADO) = @ANO_SELECIONADO
          AND DATEPART(WEEKDAY,DT_FERIADO) NOT IN ('1','7')
 
        SELECT @TOTAL =  DATEDIFF(DAY, @DATA_1, @DATA_2)    
        SET @CONTADOR = 0
        SET @FDS = 0
   
        IF @TOTAL < 0
          SET @TOTAL_DIFERENCA = @TOTAL * (-1)
  
        WHILE NOT @CONTADOR >= @TOTAL_DIFERENCA
        BEGIN
          SELECT @DIA = DATEPART(WEEKDAY, @DATA_1)
          IF @DIA IN (1, 7)
            SET @FDS = @FDS + 1
   
          IF @TOTAL < 0
            SET @DATA_1 = CONVERT(DATETIME, @DATA_1, 103) - 1
          ELSE
            SET @DATA_1 = CONVERT(DATETIME, @DATA_1, 103) + 1
    
          SET @CONTADOR = @CONTADOR + 1 
        END	
  
	    IF @TOTAL < 0
          SET @TOTAL_DIFERENCA = @TOTAL_DIFERENCA * (-1)	  
        SET @TOTAL_DIFERENCA = @TOTAL_DIFERENCA - @FERIADOS - @FDS
		
		SELECT @NR_META = ISNULL(NR_META, 0)
		FROM TMBF_RESULTADO
		WHERE CD_MBF = @CD_MBF
          AND CD_USUARIO = @CD_USUARIO
          AND ISNULL(CD_MODAL, '') = ISNULL(@CD_MODAL, '')
          AND ISNULL(CD_ESTUFAGEM, '') = ISNULL(@CD_ESTUFAGEM, '')
          AND CD_KPI = @CD_KPI
          AND TP_KPI = @TP_KPI         
      
        INSERT INTO TMBF_RESULTADO(CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2,
            DIAS_KPI, NR_PROCESSO, MES_RESULTADO, ANO_RESULTADO,
            CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO)
        VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
          @TOTAL_DIFERENCA, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
          @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1')   	  
      END
      DELETE FROM @TB_DATAS WHERE NR_PROCESSO = @NR_PROCESSO
    END
    DELETE FROM @TB_KPI_SELECIONADO WHERE CD_KPI = @CD_KPI
  END  
  UPDATE TMBF_SELECIONADO SET IN_GERADO = '1', DT_GERADO = GETDATE() WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO AND CD_SELECIONADO = @CD_SELECIONADO
END
        
SET NOCOUNT OFF                                

GO
