USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_di_ded_cpt]( @nr_processo char(18) ) AS

/*
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0101IR-0059-12'
--*/

IF EXISTS( SELECT *
           FROM   TDECLARACAO_IMPORTACAO
           WHERE  NR_PROCESSO = @nr_processo AND
                  CD_INCOTERM = 'CPTX' AND -- Incluído o X para não entrar aqui - Michel - 13/08/2012
                  ISNULL( VL_FRETE_TNAC_MNEG, 0 ) > 0 )
BEGIN
  DECLARE @nAcoxambro numeric(14, 2)
  DECLARE @nAcoxambro_item numeric(14, 2)
  DECLARE @pl_di numeric(16, 6)
  DECLARE @pl_adicao numeric(16, 6)
  DECLARE @pl_item numeric(16, 6)
  DECLARE @vl_deducao numeric(14, 2)
  DECLARE @vl_deducao_mn numeric(14, 2)
  DECLARE @vl_deducao_item numeric(14, 5)
  DECLARE @vl_frete_ter_nac numeric(14, 5)
  DECLARE @tx_frete numeric(14, 7)
  DECLARE @qt_adicoes int
  DECLARE @qt_mercadoria numeric(14, 5)
  DECLARE @qt_itens int
  DECLARE @contador int
  DECLARE @contador_item int
  DECLARE @nr_adicao char(3)
  DECLARE @nr_item char(3)
  DECLARE @cd_moeda_frete char(3)

  DELETE TDEDUCAO_VALORACAO
  WHERE NR_PROCESSO = @nr_processo
    AND CD_MET_DEDUC_VALOR = '1'

  UPDATE TDETALHE_MERCADORIA
  SET    VL_DED_CPT_MNEG = 0
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @pl_di = ISNULL( PL_CARGA, 0 ),
         @tx_frete = ISNULL( TX_FRETE, 0 ),
         @vl_frete_ter_nac = ISNULL( VL_FRETE_TNAC_MNEG, 0 ),
         @cd_moeda_frete = CD_MOEDA_FRETE,
         @qt_adicoes = QT_ADICOES
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @contador = 1
  SELECT @nAcoxambro = 0

  WHILE @contador <= @qt_adicoes
  BEGIN
    SELECT @nr_adicao = RIGHT( '000' + CONVERT( varchar, @contador ), 3 )

    SELECT @pl_adicao = ISNULL( PL_MERCADORIA, 0 ),
           @qt_itens = QT_ITENS_ADICAO
    FROM   TADICAO_DE_IMPORTACAO
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_ADICAO = @nr_adicao

    IF @contador = @qt_adicoes
    BEGIN
      SELECT @vl_deducao = @vl_frete_ter_nac - @nAcoxambro
    END
    ELSE
    BEGIN
      SELECT @vl_deducao = ROUND( ( ( @vl_frete_ter_nac / @pl_di ) * @pl_adicao ), 2 )
      SELECT @nAcoxambro = @nAcoxambro + @vl_deducao
    END

    SELECT @vl_deducao_mn = ROUND( @vl_deducao * @tx_frete, 7 )

    INSERT TDEDUCAO_VALORACAO ( NR_PROCESSO, NR_ADICAO, CD_MET_DEDUC_VALOR, VL_DEDUCAO_MNEG, CD_MD_NEGOC_DEDUC, VL_DEDUCAO_MN )
    VALUES ( @nr_processo, @nr_adicao, '1', @vl_deducao, @cd_moeda_frete, @vl_deducao_mn )

    -- Itens
    SELECT @contador_item = 1
    SELECT @nAcoxambro_item = 0

    DECLARE c_itens CURSOR FOR
      SELECT NR_ITEM, PL_MERCADORIA, QT_MERC_UN_COMERC
      FROM   TDETALHE_MERCADORIA
      WHERE  NR_PROCESSO = @nr_processo AND
             NR_ADICAO = @nr_adicao
      ORDER BY NR_ITEM

    OPEN c_itens
    FETCH c_itens INTO @nr_item, @pl_item, @qt_mercadoria
    WHILE @@fetch_status = 0
    BEGIN
      IF @contador_item = @qt_itens
      BEGIN
        SELECT @vl_deducao_item = ROUND( ( (@vl_frete_ter_nac / @pl_di ) * @pl_adicao) - @nAcoxambro_item, 5 )
      END
      ELSE
      BEGIN
        SELECT @vl_deducao = ROUND( ( ( ( @vl_frete_ter_nac / @pl_di ) * @pl_adicao ) / @qt_mercadoria ), 2 )
        SELECT @vl_deducao_item = ROUND( ( @vl_deducao / @pl_item ), 2 )
        SELECT @nAcoxambro_item = @nAcoxambro_item + @vl_deducao_item
      END

      UPDATE TDETALHE_MERCADORIA
      SET    VL_DED_CPT_MNEG = @vl_deducao_item
      WHERE  NR_PROCESSO = @nr_processo AND
             NR_ADICAO = @nr_adicao AND
             NR_ITEM = @nr_item

      SELECT @contador_item = @contador_item + 1
      FETCH c_itens INTO @nr_item, @pl_item, @qt_mercadoria
    END
    CLOSE c_itens
    DEALLOCATE c_itens

    SELECT @contador = @contador + 1
  END
END

/*
SELECT VL_UNID_COND_VENDA, VL_DED_CPT_MNEG, QT_MERC_UN_COMERC, (VL_UNID_COND_VENDA + VL_DED_CPT_MNEG) * QT_MERC_UN_COMERC
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @nr_processo

ROLLBACK

SELECT VL_UNID_COND_VENDA, VL_DED_CPT_MNEG, QT_MERC_UN_COMERC, (VL_UNID_COND_VENDA + VL_DED_CPT_MNEG) * QT_MERC_UN_COMERC
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @nr_processo
--*/
GO
