USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


create procedure [sp_calc_thc]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
declare @cd_agente       char(4)
declare @qt_cntr20       float
declare @qt_cntr40       float
declare @peso_bruto      float
declare @tx_cambio       float
declare @vl_cptz_cntr20  float
declare @vl_cptz_cntr40  float
declare @vl_cptz_c_solta float
declare @vl_cptz_minima  float
declare @vl_cntr20       numeric (13,7)
declare @vl_cntr40       numeric (13,7)
declare @vl_c_solta      numeric (13,7)
declare @vl_minima       numeric (13,7)
declare @vl_resultado    numeric (13,3)
select  @Resultado = 0
-- SELECIONA OS VALORES PARA CALCULO
select @cd_agente = cd_agente
  from tprocesso where ( nr_processo = @nr_processo ) 
if @@rowcount = 0
  Return(1)
else
begin
  select @qt_cntr20 = isnull(sum(pe.qt_embalagem),0)
    from tprocesso_embalagem pe,
         tembalagem e
    where pe.cd_embalagem = e.cd_embalagem and
          e.cd_tipo in ('2','4')
  select @qt_cntr40 = isnull(sum(pe.qt_embalagem),0)
    from tprocesso_embalagem pe,
         tembalagem e
    where pe.cd_embalagem = e.cd_embalagem and
          e.cd_tipo in ('3','5')
  select @peso_bruto = isnull(sum(pe.pb_embalagem),0)
    from tprocesso_embalagem pe,
         tembalagem e
    where pe.cd_embalagem = e.cd_embalagem and
          e.cd_tipo in ('1','6')
  -- PESQUISA TAXA DA AGENCIA
  select @vl_cptz_cntr20  = isnull(vl_cptz_cntr_20,0),
         @vl_cptz_cntr40  = isnull(vl_cptz_cntr_40,0),
         @vl_cptz_c_solta = isnull(vl_cptz_c_solta,0),
         @vl_cptz_minima  = isnull(vl_cptz_minima,0)
    from tagente a,
         tagente_taxa t
    where a.cd_agente   = @cd_agente and
          a.cd_taxa_imp = t.cd_taxa
  if @@rowcount = 0
    Return(2)
  else
  begin
    select @tx_cambio = isnull(tx_cambio,0)
      from ttaxa_cambio
      where cd_moeda = '220' and
            dt_inicio_vigencia <= getdate() and
            dt_termino_vigencia >= getdate()
    if @@rowcount = 0
      Return(3)
    else
    begin
      -- CALCULA THC
      select @vl_cntr20  = @vl_cptz_cntr20  * @tx_cambio
      select @vl_cntr40  = @vl_cptz_cntr40  * @tx_cambio
      select @vl_c_solta = @vl_cptz_c_solta * @tx_cambio
      select @vl_minima  = @vl_cptz_minima  * @tx_cambio
      if (@qt_cntr20 + @qt_cntr40) > 0
      begin
        select @vl_resultado = Round ( ( ( @qt_cntr20 * @vl_cntr20 ) +
                                         ( @qt_cntr40 * @vl_cntr40 ) ) , 2)            
      end
      else
      begin
        select @vl_resultado = Round ( ( @peso_bruto * @vl_c_solta ) , 2)
        if @vl_resultado < @vl_minima 
           select @vl_resultado = @vl_minima 
      end
      -- RETORNA O CALCULO
      select @Resultado = @vl_resultado
      Return(0)
    end
  end     
end



GO
