USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* Verifica a integridade dos nas tabelas de estagio de processo da internet com a base local */      
CREATE PROCEDURE [sp_web_verifica_estagio] (@nrAnoProc int = 0) AS      
/*      
SET XACT_ABORT ON      
BEGIN TRAN      
DECLARE @nrAnoProc int      
--*/      
SET NOCOUNT ON      
DECLARE      
  @nrRowProc int,      
  @apCampo char(10),      
  @cdBroker char(3),      
  @txInsert varchar(1024)      
      
IF ISNULL(@nrAnoProc, 0) = 0 SET @nrAnoProc = YEAR(GETDATE())-2      
SET @nrRowProc = 0      
      
/***** 1ª ETAPA DA VERIFICAÇÃO *****/      
--insere na estagio as pos/item que não existem      
INSERT INTO TESTAGIO_PROCESSO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM)      
--SELECT PR.NR_REFERENCIA, POI.NR_ITEM_CLIENTE, DATEADD(second, CAST(POI.NR_ITEM_CLIENTE AS int), PR.DT_ABERTURA), PR.NR_PROCESSO      
SELECT PR.NR_REFERENCIA, POI.NR_ITEM_CLIENTE, POI.NR_PARCIAL, POI.CD_EMPRESA, DATEADD(second, CAST(POI.NR_ITEM AS int), PR.DT_ABERTURA), PR.NR_PROCESSO      
FROM TPROCESSO PR (NOLOCK)      
  INNER JOIN TPO_ITEM POI (NOLOCK) ON (POI.NR_PROCESSO = PR.NR_REFERENCIA
                                   AND POI.CD_EMPRESA  = PR.CD_CLIENTE)      
WHERE PR.CD_PRODUTO = '06'      
  AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')      
  AND YEAR(PR.DT_ABERTURA) >= @nrAnoProc      
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'      
  AND LEN(ISNULL(POI.NR_ITEM_CLIENTE, '')) = 4      
  AND NOT EXISTS (SELECT *
                  FROM TESTAGIO_PROCESSO (NOLOCK)      
                  WHERE NR_REFERENCIA   = PR.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE = POI.NR_ITEM_CLIENTE
                    AND NR_PARCIAL      = POI.NR_PARCIAL
                    AND CD_EMPRESA      = POI.CD_EMPRESA)
      
INSERT INTO TESTAGIO_PROCESSO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_DES)  
SELECT RC.CD_REFERENCIA, RC.NR_ITEM_PO, RC.NR_PARCIAL, RC.CD_EMPRESA, DATEADD(second, CAST(SUBSTRING(PR.NR_PROCESSO, 8, 4) AS int), PR.DT_ABERTURA), PR.NR_PROCESSO      
FROM TPROCESSO PR (NOLOCK)      
  INNER JOIN TREF_CLIENTE RC (NOLOCK) ON (RC.NR_PROCESSO = PR.NR_PROCESSO)      
WHERE PR.CD_PRODUTO = '01'      
  AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')      
  AND YEAR(PR.DT_ABERTURA) >= @nrAnoProc      
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'      
  AND RC.TP_REFERENCIA = '01'      
  AND ISNULL(RC.CD_REFERENCIA, '') <> ''      
  AND LEN(ISNULL(RC.NR_ITEM_PO, '')) = 4      
  AND ISNULL(RC.IN_FLAG_LI, '0') = '0'
  AND NOT EXISTS (SELECT *
                  FROM TESTAGIO_PROCESSO (NOLOCK)  
                  WHERE NR_REFERENCIA   = RC.CD_REFERENCIA  
                    AND NR_ITEM_CLIENTE = RC.NR_ITEM_PO  
                    AND NR_PARCIAL      = RC.NR_PARCIAL
                    AND CD_EMPRESA      = RC.CD_EMPRESA)
      
      
/***** 2ª ETAPA DA VERIFICAÇÃO *****/      
--desvincula da referencia/item o embarque cancelado      
UPDATE EP
SET NR_PROCESSO_DES = NULL      
FROM TESTAGIO_PROCESSO EP (NOLOCK)      
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_DES)
WHERE ISNULL(PR.IN_CANCELADO, '0') = '1'      

      
--desvincula da referencia/item a gestão cancelada      
UPDATE EP
SET NR_PROCESSO_ADM = NULL      
FROM TESTAGIO_PROCESSO EP (NOLOCK)      
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)      
WHERE ISNULL(PR.IN_CANCELADO, '0') = '1'      
      
--apaga referencia/item sem gestão ou embarque      
DELETE TESTAGIO_PROCESSO      
WHERE (NR_PROCESSO_DES IS NULL AND NR_PROCESSO_ADM IS NULL)      
   OR SUBSTRING(NR_PROCESSO_DES, 5, 2) IN ('EW','FT','IF','IW','PO','TE','TS')      

--apaga referencia/item sem gestão e embarque      
delete from TESTAGIO_PROCESSO where isnull(NR_PROCESSO_ADM,'') = '' and isnull(NR_PROCESSO_DES,'') = ''
      
--apaga as referencias que estão na estagio e não sejam pedido      
DELETE EP       
FROM TESTAGIO_PROCESSO EP (NOLOCK), TREF_CLIENTE RC (NOLOCK)      
WHERE RC.CD_REFERENCIA = EP.NR_REFERENCIA      
  AND RC.NR_ITEM_PO    = EP.NR_ITEM_CLIENTE      
  AND RC.NR_PARCIAL    = EP.NR_PARCIAL  
  AND RC.NR_PROCESSO   = EP.NR_PROCESSO_DES      
  AND RC.TP_REFERENCIA <> '01'      
      
      
/***** 3ª ETAPA DA VERIFICAÇÃO *****/      
DECLARE      
  @nr_referencia char(18),      
  @nr_item_cliente char(4),      
  @nr_parcial int,   
  @cd_empresa char(5),
  @dt_alteracao datetime,      
  @nr_processo_des char(18),      
  @nr_processo_adm char(18)      
      
CREATE TABLE #DUPLICIDADE (      
  VL_TOTAL integer,      
  NR_REFERENCIA char(18),      
  NR_ITEM_CLIENTE char(4),      
  NR_PARCIAL int,   
  CD_EMPRESA char(5),
  NR_PROCESSO_ADM char(18),      
  NR_PROCESSO_DES char(18)      
)      
--seleciona os processos que estão em duplicidade      
INSERT INTO #DUPLICIDADE (VL_TOTAL, NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, NR_PROCESSO_DES, NR_PROCESSO_ADM)      
SELECT COUNT(*), NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, NR_PROCESSO_DES, NR_PROCESSO_ADM      
FROM TESTAGIO_PROCESSO (NOLOCK)      
WHERE YEAR(DT_ULT_ALTERACAO) >= @nrAnoProc      
GROUP BY NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, NR_PROCESSO_DES, NR_PROCESSO_ADM      
HAVING COUNT(*) > 1      
ORDER BY COUNT(*) DESC, NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, NR_PROCESSO_DES, NR_PROCESSO_ADM      
      
WHILE (SELECT COUNT(*) FROM #DUPLICIDADE) > 0      
BEGIN      
  --roda todos os processos exluindo aqueles com data de alteração mais antiga      
  SELECT TOP 1      
    @nr_referencia   = NR_REFERENCIA,      
    @nr_item_cliente = NR_ITEM_CLIENTE,      
    @nr_parcial      = NR_PARCIAL,   
    @cd_empresa      = CD_EMPRESA,
    @nr_processo_des = NR_PROCESSO_DES,      
    @nr_processo_adm = NR_PROCESSO_ADM      
  FROM #DUPLICIDADE      
  --numero de linhas recuperadas no cadastro      
  SET @nrRowProc = @nrRowProc + 1      
      
  IF (@nr_processo_des IS NOT NULL) AND (@nr_processo_adm IS NOT NULL) 
  BEGIN      
    --seleciona a maior data de alteração      
    SELECT @dt_alteracao = MAX(DT_ULT_ALTERACAO)      
    FROM TESTAGIO_PROCESSO (NOLOCK)      
    WHERE NR_REFERENCIA   = @nr_referencia
      AND NR_ITEM_CLIENTE = @nr_item_cliente
      AND NR_PARCIAL      = @nr_parcial
      AND CD_EMPRESA      = @cd_empresa
      AND NR_PROCESSO_DES = @nr_processo_des
      AND NR_PROCESSO_ADM = @nr_processo_adm      
    --apaga os processos com data inferior      
    DELETE TESTAGIO_PROCESSO      
    WHERE NR_REFERENCIA   = @nr_referencia
      AND NR_ITEM_CLIENTE = @nr_item_cliente
      AND NR_PARCIAL      = @nr_parcial
      AND CD_EMPRESA      = @cd_empresa
      AND NR_PROCESSO_DES = @nr_processo_des
      AND NR_PROCESSO_ADM = @nr_processo_adm
      AND DT_ULT_ALTERACAO < @dt_alteracao  
    --exclui da tabela de duplicidade      
    DELETE FROM #DUPLICIDADE  
    WHERE NR_REFERENCIA   = @nr_referencia
      AND NR_ITEM_CLIENTE = @nr_item_cliente
      AND NR_PARCIAL      = @nr_parcial
      AND CD_EMPRESA      = @cd_empresa
      AND NR_PROCESSO_DES = @nr_processo_des
      AND NR_PROCESSO_ADM = @nr_processo_adm      
  END      
  ELSE   
  BEGIN      
    IF @nr_processo_adm IS NULL   
    BEGIN      
      --seleciona a maior data de alteração      
      SELECT @dt_alteracao = MAX(DT_ULT_ALTERACAO)      
      FROM TESTAGIO_PROCESSO (NOLOCK)      
      WHERE NR_REFERENCIA   = @nr_referencia
        AND NR_ITEM_CLIENTE = @nr_item_cliente
        AND NR_PARCIAL      = @nr_parcial
        AND CD_EMPRESA      = @cd_empresa
        AND NR_PROCESSO_DES = @nr_processo_des  
      --apaga os processos com data inferior      
      DELETE TESTAGIO_PROCESSO      
      WHERE NR_REFERENCIA    = @nr_referencia
        AND NR_ITEM_CLIENTE  = @nr_item_cliente
        AND NR_PARCIAL       = @nr_parcial
        AND CD_EMPRESA       = @cd_empresa
        AND NR_PROCESSO_DES  = @nr_processo_des      
        AND DT_ULT_ALTERACAO < @dt_alteracao      
      --exclui da tabela de duplicidade      
      DELETE FROM #DUPLICIDADE       
      WHERE NR_REFERENCIA   = @nr_referencia
        AND NR_ITEM_CLIENTE = @nr_item_cliente
        AND NR_PARCIAL      = @nr_parcial
        AND CD_EMPRESA      = @cd_empresa
        AND NR_PROCESSO_DES = @nr_processo_des      
    END      
    IF @nr_processo_des IS NULL 
	BEGIN      
      --seleciona a maior data de alteração      
      SELECT @dt_alteracao = MAX(DT_ULT_ALTERACAO)      
      FROM TESTAGIO_PROCESSO (NOLOCK)      
      WHERE NR_REFERENCIA   = @nr_referencia
        AND NR_ITEM_CLIENTE = @nr_item_cliente
        AND NR_PARCIAL      = @nr_parcial
        AND CD_EMPRESA      = @cd_empresa
        AND NR_PROCESSO_ADM = @nr_processo_adm      
      --apaga os processos com data inferior      
      DELETE TESTAGIO_PROCESSO      
      WHERE NR_REFERENCIA    = @nr_referencia
        AND NR_ITEM_CLIENTE  = @nr_item_cliente
        AND NR_PARCIAL       = @nr_parcial
        AND CD_EMPRESA       = @cd_empresa
        AND NR_PROCESSO_ADM  = @nr_processo_adm  
        AND DT_ULT_ALTERACAO < @dt_alteracao      
      --exclui da tabela de duplicidade      
      DELETE #DUPLICIDADE       
      WHERE NR_REFERENCIA   = @nr_referencia
        AND NR_ITEM_CLIENTE = @nr_item_cliente
        AND NR_PARCIAL      = @nr_parcial
        AND CD_EMPRESA      = @cd_empresa
        AND NR_PROCESSO_ADM = @nr_processo_adm  
    END      
  END      
END      
DROP TABLE #DUPLICIDADE      
      
      
/***** 4ª ETAPA DA VERIFICAÇÃO *****/      
--seleciona os registros perdidos na web e exclui
--Comentado por Rodrigo Capra - 
DELETE EP
FROM MYINDAIA.DBO.TESTAGIO_PROCESSO EP
WHERE 
  NOT EXISTS (SELECT * FROM TESTAGIO_PROCESSO A
                  WHERE A.NR_REFERENCIA    = EP.NR_REFERENCIA      
                    AND A.NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE      
                    AND A.NR_PARCIAL       = EP.NR_PARCIAL
                    AND A.CD_EMPRESA       = EP.CD_EMPRESA)      



/*INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES  
FROM MYINDAIA.DBO.TESTAGIO_PROCESSO EP (NOLOCK)      
WHERE YEAR(DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND NOT EXISTS (SELECT * FROM TESTAGIO_PROCESSO (NOLOCK)      
                  WHERE NR_REFERENCIA    = EP.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE      
                    AND NR_PARCIAL       = EP.NR_PARCIAL)      
      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT DISTINCT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES      
FROM MYINDAIA.DBO.TFLP_IMPORT EP (NOLOCK)      
WHERE YEAR(DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND NOT EXISTS (SELECT * FROM TESTAGIO_PROCESSO (NOLOCK)      
                  WHERE NR_REFERENCIA    = EP.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE      
                    AND NR_PARCIAL       = EP.NR_PARCIAL)      
      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT DISTINCT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES      
FROM MYINDAIA.DBO.TFLP_ESTAGIO EP (NOLOCK)  
WHERE YEAR(DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND NOT EXISTS (SELECT * FROM TESTAGIO_PROCESSO (NOLOCK)      
                  WHERE NR_REFERENCIA    = EP.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE      
                    AND NR_PARCIAL = EP.NR_PARCIAL)       */
      
--seleciona os processos no periodo na base local      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.CD_EMPRESA, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES      
FROM TESTAGIO_PROCESSO EP (NOLOCK)      
WHERE YEAR(DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND NOT EXISTS (SELECT *
                  FROM MYINDAIA.DBO.TESTAGIO_PROCESSO (NOLOCK)      
                  WHERE NR_REFERENCIA    = EP.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE      
                    AND NR_PARCIAL       = EP.NR_PARCIAL
                    AND CD_EMPRESA       = EP.CD_EMPRESA)      
      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)  
SELECT DISTINCT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.CD_EMPRESA, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES  
FROM TESTAGIO_PROCESSO EP (NOLOCK)      
WHERE YEAR(DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND NOT EXISTS (SELECT *
                  FROM MYINDAIA.DBO.TFLP_IMPORT (NOLOCK)      
                  WHERE NR_REFERENCIA    = EP.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE      
                    AND NR_PARCIAL       = EP.NR_PARCIAL
                    AND CD_EMPRESA       = EP.CD_EMPRESA)      
      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT DISTINCT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.CD_EMPRESA, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES      
FROM TESTAGIO_PROCESSO EP (NOLOCK)      
WHERE YEAR(DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND NOT EXISTS (SELECT *
                  FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)      
                  WHERE NR_REFERENCIA    = EP.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE     
                    AND NR_PARCIAL       = EP.NR_PARCIAL
                    AND CD_EMPRESA       = EP.CD_EMPRESA)      

     
      
/***** 5ª ETAPA DA VERIFICAÇÂO *****/      
-- verificação dos eventos na fup estagio que não foram copiados - desembaraço      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)  
SELECT DISTINCT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.CD_EMPRESA, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES      
FROM TESTAGIO_PROCESSO EP (NOLOCK)      
  INNER JOIN TFOLLOWUP FU (NOLOCK) ON (FU.NR_PROCESSO = EP.NR_PROCESSO_DES)      
WHERE EP.NR_PROCESSO_ADM IS NULL      
  AND YEAR(EP.DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND NOT EXISTS (SELECT *
                  FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)      
                  WHERE NR_REFERENCIA   = EP.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE      
                    AND NR_PARCIAL      = EP.NR_PARCIAL
                    AND CD_EMPRESA      = EP.CD_EMPRESA
                    AND CD_EVENTO       = FU.CD_EVENTO)      
      
-- verificação dos eventos na fup estagio que não foram copiados - po      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT DISTINCT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.CD_EMPRESA, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES      
FROM TESTAGIO_PROCESSO EP (NOLOCK)      
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = EP.NR_REFERENCIA
                             AND PO.CD_EMPRESA  = EP.CD_EMPRESA)      
  INNER JOIN TFLP_PO FU (NOLOCK) ON (FU.NR_PROCESSO = EP.NR_REFERENCIA
                                 AND FU.CD_EMPRESA  = EP.CD_EMPRESA)
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND EP.NR_PROCESSO_ADM IS NOT NULL      
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)      
                  WHERE NR_REFERENCIA   = EP.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE      
                    AND NR_PARCIAL      = EP.NR_PARCIAL
                    AND CD_EMPRESA      = EP.CD_EMPRESA
                    AND CD_EVENTO       = FU.CD_EVENTO)  
      
-- verificação dos eventos na fup estagio que não foram copiados - po item      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT DISTINCT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.CD_EMPRESA, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES      
FROM TESTAGIO_PROCESSO EP (NOLOCK)      
  INNER JOIN TPO_ITEM POI (NOLOCK) ON (POI.NR_PROCESSO = EP.NR_REFERENCIA AND POI.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND POI.NR_PARCIAL = EP.NR_PARCIAL AND POI.CD_EMPRESA = EP.CD_EMPRESA)
  INNER JOIN TFLP_PO_ITEM FU (NOLOCK) ON (FU.NR_PROCESSO = POI.NR_PROCESSO AND FU.NR_ITEM = POI.NR_ITEM AND FU.NR_PARCIAL = POI.NR_PARCIAL AND FU.CD_EMPRESA = POI.CD_EMPRESA)
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND EP.NR_PROCESSO_ADM IS NOT NULL      
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)      
                  WHERE NR_REFERENCIA   = EP.NR_REFERENCIA      
                    AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE      
                    AND NR_PARCIAL      = EP.NR_PARCIAL
                    AND CD_EMPRESA      = EP.CD_EMPRESA
                    AND CD_EVENTO       = FU.CD_EVENTO)      
      
--seleciona os processos que tenham divergencia em seus eventos - desembaraço      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT DISTINCT FE.NR_REFERENCIA, FE.NR_ITEM_CLIENTE, FE.NR_PARCIAL, FE.CD_EMPRESA, FE.DT_ULT_ALTERACAO, FE.NR_PROCESSO_ADM, FE.NR_PROCESSO_DES      
FROM MYINDAIA.DBO.TFLP_ESTAGIO FE (NOLOCK)      
  INNER JOIN TFOLLOWUP FU (NOLOCK) ON (FU.NR_PROCESSO = FE.NR_PROCESSO_DES AND FU.CD_EVENTO = FE.CD_EVENTO)
WHERE YEAR(FE.DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND FE.NR_PROCESSO_ADM IS NULL      
  AND (ISNULL(FE.DT_PREVISTA, '') <> ISNULL(FU.DT_PREVISTA, '')      
    OR ISNULL(FE.DT_REALIZACAO, '') <> ISNULL(FU.DT_REALIZACAO, '')      
    OR ISNULL(FE.IN_APLICAVEL, '') <> ISNULL(FU.IN_APLICAVEL, ''))      
      
--seleciona os processos que tenham divergencia em seus eventos - po      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT DISTINCT FE.NR_REFERENCIA, FE.NR_ITEM_CLIENTE, FE.NR_PARCIAL, FE.CD_EMPRESA, FE.DT_ULT_ALTERACAO, FE.NR_PROCESSO_ADM, FE.NR_PROCESSO_DES      
FROM MYINDAIA.DBO.TFLP_ESTAGIO FE (NOLOCK)      
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = FE.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = FE.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = FE.NR_PARCIAL AND EP.CD_EMPRESA = FE.CD_EMPRESA)
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = FE.NR_REFERENCIA AND PO.CD_EMPRESA = FE.CD_EMPRESA)
  INNER JOIN TFLP_PO FU (NOLOCK) ON (FU.NR_PROCESSO = PO.NR_PROCESSO AND FU.CD_EVENTO = FE.CD_EVENTO AND FU.CD_EMPRESA = PO.CD_EMPRESA)      
WHERE YEAR(FE.DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND FE.NR_PROCESSO_ADM IS NOT NULL      
  AND (ISNULL(FE.DT_REALIZACAO, '') <> ISNULL(FU.DT_REALIZACAO, '')      
    OR ISNULL(FE.IN_APLICAVEL, '') <> ISNULL(FU.IN_APLICAVEL, ''))      
  AND ISNULL(EP.IN_SUBSTITUIDO, '0') = '0'      
      
--seleciona os processos que tenham divergencia em seus eventos - po item      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT DISTINCT FE.NR_REFERENCIA, FE.NR_ITEM_CLIENTE, FE.NR_PARCIAL, FE.CD_EMPRESA, FE.DT_ULT_ALTERACAO, FE.NR_PROCESSO_ADM, FE.NR_PROCESSO_DES      
FROM MYINDAIA.DBO.TFLP_ESTAGIO FE (NOLOCK)      
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = FE.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = FE.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = FE.NR_PARCIAL AND EP.CD_EMPRESA = FE.CD_EMPRESA)
  INNER JOIN TPO_ITEM POI (NOLOCK) ON (POI.NR_PROCESSO = FE.NR_REFERENCIA AND POI.NR_ITEM_CLIENTE = FE.NR_ITEM_CLIENTE AND POI.NR_PARCIAL = FE.NR_PARCIAL AND POI.CD_EMPRESA = FE.CD_EMPRESA)
  INNER JOIN TFLP_PO_ITEM FU (NOLOCK) ON (FU.NR_PROCESSO = POI.NR_PROCESSO AND FU.NR_ITEM = POI.NR_ITEM AND FU.NR_PARCIAL = POI.NR_PARCIAL AND FU.CD_EVENTO = FE.CD_EVENTO AND FU.CD_EMPRESA = FE.CD_EMPRESA)
WHERE YEAR(FE.DT_ULT_ALTERACAO) >= @nrAnoProc      
  AND FE.NR_PROCESSO_ADM IS NOT NULL      
  AND (ISNULL(FE.DT_REALIZACAO, '') <> ISNULL(FU.DT_REALIZACAO, '')      
    OR ISNULL(FE.IN_APLICAVEL, '') <> ISNULL(FU.IN_APLICAVEL, ''))      
  AND ISNULL(EP.IN_SUBSTITUIDO, '0') = '0'      
      
--verifica se os evento de desembaraço estão preenchidos corretamente na tflp_import(sem adm)      
DECLARE cEvento CURSOR LOCAL FOR      
  SELECT M10_AP_CAMPO, M10_CD_BROKER      
  FROM MYINDAIA.DBO.M10_DADOS (NOLOCK)      
  WHERE M10_TP_DADO = '1'      
    AND M10_CD_BROKER IN ('001','003','012','017','018','021','034','035','041','045','050','052','072','076','082','083','084','086',      
                          '088','090','092','146','154','156','158','161','162','164','166','168','186','207','215','216','218','220',      
                          '235','253','257','259','289','297','342','381','384','387','390','391','397','416','417','418','419','420',      
                          '421','422','423','438','439','440','441','468','469','470','471','472','498','533')      
    AND M10_AP_CAMPO NOT LIKE '%PO'      
  ORDER BY M10_CD_BROKER      
      
OPEN cEvento      
FETCH cEvento INTO @apCampo, @cdBroker      
      
WHILE @@fetch_status = 0      
BEGIN      
  SET @txInsert = 'INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA, NR_ITEM_CLIENTE, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PARCIAL)      
    SELECT DISTINCT FI.NR_REFERENCIA, FI.NR_ITEM_CLIENTE, FI.CD_EMPRESA, FI.DT_ULT_ALTERACAO, FI.NR_PROCESSO_ADM, FI.NR_PROCESSO_DES, FI.NR_PARCIAL      
    FROM MYINDAIA.DBO.TFLP_IMPORT FI (NOLOCK)      
      INNER JOIN TPROCESSO PR ON (PR.NR_PROCESSO = FI.NR_PROCESSO_DES)      
      INNER JOIN TFOLLOWUP FU (NOLOCK) ON (FU.NR_PROCESSO = FI.NR_PROCESSO_DES AND FU.CD_EVENTO = '''+@cdBroker+''')      
    WHERE YEAR(PR.DT_ABERTURA) >= '+CAST(@nrAnoProc AS char)+'      
      AND (ISNULL(FI.PVT_'+@apCampo+', '''') <> ISNULL(FU.DT_PREVISTA, '''')      
        OR ISNULL(FI.RLZ_'+@apCampo+', '''') <> ISNULL(FU.DT_REALIZACAO, '''')      
        OR ISNULL(FI.IN_'+@apCampo+', '''') <> ISNULL(FU.IN_APLICAVEL, ''''))'      
  exec(@txInsert)      
  FETCH cEvento INTO @apCampo, @cdBroker      
END   
CLOSE cEvento      

DEALLOCATE cEvento      







      
--compacta os registros selecionados      
SELECT DISTINCT NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES      
INTO #TMP_ESTAGIO  
FROM TATZ_MYINDAIA_ESTAGIO (NOLOCK)      
WHERE SUBSTRING(NR_PROCESSO_ADM, 5, 2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')      
   OR SUBSTRING(NR_PROCESSO_DES, 5, 2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')      
      
TRUNCATE TABLE TATZ_MYINDAIA_ESTAGIO      
      
INSERT INTO TATZ_MYINDAIA_ESTAGIO (NR_REFERENCIA,NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES)      
SELECT NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES      
FROM #TMP_ESTAGIO      
--numero de linhas recuperadas no cadastro      
SET @nrRowProc = @nrRowProc + @@rowcount      
      
DROP TABLE #TMP_ESTAGIO      
      
PRINT 'Registros encontrados: '+CAST(@nrRowProc as varchar)      
RETURN(@nrRowProc)      
      
SET NOCOUNT OFF      
/*      
ROLLBACK TRAN      
SET XACT_ABORT ON      
--*/



/*
Insere na TATZ_MYINDAIA_FOLLOWUP o que não estiver na MYINDAIA.DBO.TFOLLOWUP 
Insere na TATZ_MYINDAIA_FOLLOWUP o que não estiver na MYINDAIA.DBO.TFOLLOWUP 
Insere na TATZ_MYINDAIA_FOLLOWUP o que não estiver na MYINDAIA.DBO.TFOLLOWUP 
Insere na TATZ_MYINDAIA_FOLLOWUP o que não estiver na MYINDAIA.DBO.TFOLLOWUP 
*/








GO
