USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_RE_CLASSIFICA_ANEXO_NOVOEX_TODOS](@NR_PROCESSO CHAR(18)) AS
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18)

    SET @NR_PROCESSO = '0102EM-5776-10'

    BEGIN TRAN
    --*/

    DECLARE @NR_PROCESSO_COMPLEMENTO CHAR(3)

    DECLARE @TB_RE AS TABLE (
        NR_PROCESSO_COMPLEMENTO CHAR(3)
    )

    INSERT INTO @TB_RE
    SELECT NR_PROCESSO_COMPLEMENTO
    FROM TRE_CAPA C
    WHERE C.NR_PROCESSO = @NR_PROCESSO
      AND NOT C.NR_PROCESSO_COMPLEMENTO IN (SELECT NR_PROCESSO_COMPLEMENTO
                                            FROM TRE_ANEXO A
                                            WHERE A.NR_PROCESSO = C.NR_PROCESSO)

    WHILE (SELECT COUNT(*) FROM @TB_RE) > 0
    BEGIN
        SELECT TOP 1 @NR_PROCESSO_COMPLEMENTO = NR_PROCESSO_COMPLEMENTO
        FROM @TB_RE
        ORDER BY CONVERT(INT, NR_PROCESSO_COMPLEMENTO) ASC

        UPDATE TRE_CAPA
        SET IN_AGRUPAR               = '1',
            IN_QUEBRA_POR_FABRICANTE = '1'
        WHERE NR_PROCESSO             = @NR_PROCESSO
          AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

        UPDATE TRE_ANEXO_PURO
        SET CD_FABR_EXPO = CASE ISNULL(CD_FABR_EXPO, '0')
                               WHEN '1' THEN '1'
                           ELSE '0'
                           END
        WHERE NR_PROCESSO             = @NR_PROCESSO
          AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

        BEGIN TRY
            EXEC SP_RE_CLASSIFICA_ANEXO_NOVOEX @NR_PROCESSO, @NR_PROCESSO_COMPLEMENTO
        END TRY
        BEGIN CATCH
            PRINT 'ERRO NO ANEXO ' + @NR_PROCESSO_COMPLEMENTO
        END CATCH

        DELETE FROM @TB_RE
        WHERE NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
    END

    /*
    SELECT CD_ENQUAD1, VL_VALOR_COBER_CAMBIAL, VL_SEM_COB_CAMBIAL
    FROM TRE_CAPA RC
    WHERE NR_PROCESSO = @NR_PROCESSO

    SELECT *
    FROM TRE_ANEXO
    WHERE NR_PROCESSO = @NR_PROCESSO

    SELECT *
    FROM TRE_ANEXO_PURO
    WHERE NR_PROCESSO = @NR_PROCESSO

    SELECT *
    FROM TRE_ANEXO_FABRIC
    WHERE NR_PROCESSO = @NR_PROCESSO

    SELECT *
    FROM TRE_ANEXO_DRAWBACK
    WHERE NR_PROCESSO = @NR_PROCESSO

    ROLLBACK
    --COMMIT
    --*/
END

GO
