USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_po_prep_inc_item   Script Date: 02/09/1999 08:58:11 AM ******/
CREATE PROCEDURE [sp_po_prep_inc_nve]( @nr_processo char(18), @nr_item char(3), @nr_proc char(18)) AS

INSERT TPREPARA_PO_NVE (NR_PROCESSO, NR_ITEM,CD_NIVEL_NVE,CD_ATRIBUTO_NCM,CD_ESPECIF_NCM )
SELECT @nr_proc, NR_ITEM,CD_NIVEL_NVE,CD_ATRIBUTO_NCM,CD_ESPECIF_NCM
    FROM TPO_NVE 
    WHERE (NR_PROCESSO = @nr_processo) and (NR_ITEM = @nr_item)




GO
