USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.sp_apaga_receb    Script Date: 22/11/1998 10:59:47 ******/
CREATE PROCEDURE [sp_apaga_receb]( @nr_processo char(18), @nr_recebimento char(3), @escopo char(1) ) AS
DELETE FROM TRECEBIMENTO_ITEM_RECEB
WHERE  ( NR_PROCESSO    = @nr_processo ) AND 
       ( NR_RECEBIMENTO = @nr_recebimento )
IF @escopo = 'R'
  DELETE FROM TRECEBIMENTO
  WHERE  ( NR_PROCESSO    = @nr_processo ) AND 
         ( NR_RECEBIMENTO = @nr_recebimento )




GO
