USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored Procedure dbo.sp_cancela_item_solic_ch    Script Date: 02/09/1999 08:58:59 AM ******/
CREATE PROCEDURE [sp_cancela_item_solic_ch]( @dt_solic_ch char(10), @nr_solic_ch char(3), @nr_lancamento char(3), @cd_usuario char(4) ) AS
DECLARE @nr_processo   char(18)
DECLARE @cd_item  char(3)
DECLARE @vl_item  float
DECLARE @cd_status   char(1)
DECLARE @vl_saldo_processo  numeric(14,2)
DECLARE @result   integer
DECLARE @in_restitui  char(1)
DECLARE @nr_devolucao  char(3)
DECLARE @nr_liquidacao  char(6)
SELECT @nr_processo = NR_PROCESSO,
       @cd_item     = CD_ITEM,
       @cd_status   = CD_STATUS,
       @vl_item     = 
         CASE IN_RESTITUI
           WHEN '0' THEN ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) )
           WHEN '1' THEN ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * (-1)
         END,
       @in_restitui = IN_RESTITUI
FROM   TSOLIC_CHEQUE_ITENS
WHERE  DT_SOLIC_CH   = @dt_solic_ch AND 
       NR_SOLIC_CH   = @nr_solic_ch AND
       NR_LANCAMENTO = @nr_lancamento
IF ( SELECT COUNT(*)
     FROM   TCLIENTE_BANCO_LIBERADO L,
            TSOLIC_CHEQUE S,
            TPROCESSO P
     WHERE  P.CD_CLIENTE  = L.CD_CLIENTE  AND
            P.CD_UNID_NEG = L.CD_UNID_NEG AND
            P.CD_PRODUTO  = L.CD_PRODUTO  AND
            S.CD_BANCO    = L.CD_BANCO    AND
            P.NR_PROCESSO = @nr_processo  AND
            S.DT_SOLIC_CH = @dt_solic_ch  AND
            S.NR_SOLIC_CH = @nr_solic_ch  AND
            L.IN_ATIVO    = '1' ) > 0
BEGIN
  IF @cd_item NOT IN ('991','992','993','997','998','987','988')
  BEGIN
    IF @in_restitui = '0'
    BEGIN
       EXEC sp_cancela_receb_autom @nr_processo, @cd_item, @vl_item, @cd_usuario, @dt_solic_ch, @nr_solic_ch
    END
    ELSE
    BEGIN
      SELECT @nr_devolucao = NR_DEVOLUCAO
      FROM   TDEVOLUCAO
      WHERE  DT_SOLIC_CH = @dt_solic_ch AND
            NR_SOLIC_CH = @nr_solic_ch
      IF @nr_devolucao IS NOT NULL
         EXEC sp_cancela_devolucao @nr_processo, @nr_devolucao
    END
  END
END
IF @cd_status IN ('0','4','6','8') AND @cd_item <> '991'
BEGIN
  EXEC sp_atualiza_utilizado @nr_processo, @cd_item, @vl_item, '-'
END
UPDATE TSOLIC_CHEQUE_ITENS
  SET CD_STATUS = 'C'          /*Cancelado pelo Sistema */
  WHERE DT_SOLIC_CH   = @dt_solic_ch AND 
        NR_SOLIC_CH   = @nr_solic_ch AND
        NR_LANCAMENTO = @nr_lancamento
IF ( SELECT COUNT(*) 
     FROM   TSOLIC_CHEQUE_ITENS
     WHERE  DT_SOLIC_CH = @dt_solic_ch AND 
            NR_SOLIC_CH = @nr_solic_ch AND
            CD_STATUS  <> 'C') = 0
BEGIN
  UPDATE TSOLIC_CHEQUE 
  SET    CD_STATUS_SOLIC_CH = '7', /*Cancelado pelo Sistema */
         CD_STATUS_CHEQUE = '3',
         DT_CANCELAMENTO  = CONVERT( char(10), GETDATE(), 103),
         CD_CANCELADOR    = @cd_usuario
  WHERE  DT_SOLIC_CH      = @dt_solic_ch AND 
         NR_SOLIC_CH      = @nr_solic_ch
END
IF @cd_item <> '991'
BEGIN
  -- Atualiza Saldos
  UPDATE TNUMERARIO_SALDO_POR_ITEM
  SET VL_SALDO_ITEM = ISNULL( VL_RECEBIDO, 0) - ISNULL( VL_UTILIZADO, 0)
  WHERE NR_PROCESSO = @nr_processo 
  SELECT @vl_saldo_processo = SUM( ISNULL( VL_SALDO_ITEM, 0 ) ) 
  FROM   TNUMERARIO_SALDO_POR_ITEM
  WHERE  NR_PROCESSO = @nr_processo 
  UPDATE TNUMERARIO_SALDO_POR_ITEM
  SET    VL_SALDO_PROCESSO = @vl_saldo_processo
  WHERE  NR_PROCESSO = @nr_processo
END
EXEC sp_soma_solic_ch @dt_solic_ch, @nr_solic_ch 
EXEC sp_liberar_solic_ch @dt_solic_ch, @nr_solic_ch

SELECT @nr_liquidacao = NR_LIQUIDACAO_LIQ
  FROM TLIQUIDACAO
  WHERE DT_SOLIC_CH     = @dt_solic_ch AND 
        NR_SOLIC_CH     = @nr_solic_ch AND
        NR_PROCESSO_LIQ = @nr_processo AND   
        ( ( TP_LIQUIDACAO = 'R' AND @cd_item = '998' ) OR
          ( TP_LIQUIDACAO = 'P' AND @cd_item = '997' ) )
GROUP BY NR_PROCESSO_LIQ, NR_LIQUIDACAO_LIQ, DT_SOLIC_CH, NR_SOLIC_CH, TP_LIQUIDACAO
HAVING SUM(VL_LIQUIDACAO) = @vl_item    

UPDATE TLIQUIDACAO
  SET DT_SOLIC_CH = NULL,
      NR_SOLIC_CH = NULL,
      IN_TRANSFERIDO = '0'
  WHERE NR_PROCESSO_LIQ   = @nr_processo AND
        NR_LIQUIDACAO_LIQ = @nr_liquidacao

GO
