USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE    PROCEDURE [sp_forecast_calculo] ( @nr_forecast char(15) ) AS 

/*

SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_forecast char(5)
SELECT @nr_forecast = '00103'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @vl_viabilidade_db float
DECLARE @vl_var_cambial_db float
DECLARE @pc_seguro_db      float
DECLARE @CD_MERCADORIA     char(20)
DECLARE @NR_LAUDO  	       char(5)


SELECT @vl_viabilidade_db = VL_VIABILIDADE_DB,
       @vl_var_cambial_db = VL_VAR_CAMBIAL_DB,
       @pc_seguro_db      = PC_SEGURO_DB
FROM   TPARAMETROS


DELETE TFORECAST_VIAB
WHERE  NR_FORECAST = @nr_forecast

SELECT @NR_LAUDO = NR_LAUDO, 
      @CD_MERCADORIA = CD_MERCADORIA
FROM  TFORECAST_IMP
WHERE NR_FORECAST = @nr_forecast

INSERT TFORECAST_VIAB( NR_FORECAST, NR_LAUDO, CD_MERCADORIA, CD_MAT_PRI, VL_II, VL_IPI, VL_ICMS, 
		       VL_AFRMM, VL_TOTAL, VL_TOTAL_GERAL, VL_CIF, VL_FOB, VL_VAR_CAMBIAL, IN_VIAVEL ) 
SELECT @nr_forecast AS NR_FORECAST, @NR_LAUDO AS NR_LAUDO, @CD_MERCADORIA AS CD_MERCADORIA, CD_MAT_PRI, SUM( VL_II ) AS VL_II, SUM( VL_IPI ) AS VL_IPI, SUM( VL_ICMS ) AS VL_ICMS,
       SUM( VL_AFRMM ) AS VL_AFRMM, SUM( VL_II + VL_AFRMM ) AS VL_TOTAL, 
       SUM( VL_IPI + VL_ICMS + VL_PIS + VL_COFINS ) AS VL_TOTAL_GERAL, 
       SUM( VL_CIF ) AS VL_CIF,
       ( ISNULL( ( SELECT MIN(E.VL_FOB_LIQ)
                   FROM   TFORECAST_EXP E, TFORECAST_IMP I
                   WHERE  E.NR_FORECAST = @nr_forecast AND
                          E.NR_FORECAST = I.NR_FORECAST AND
                          E.CD_MERCADORIA = I.CD_MERCADORIA AND
                          E.NR_LAUDO = I.NR_LAUDO AND
                          I.CD_MAT_PRI = I2.CD_MAT_PRI ), 1 ) )AS VL_FOB_LIQ,
       ROUND( ( SUM( VL_CIF ) /
                ISNULL( ( SELECT SUM(E.VL_FOB_LIQ)
                          FROM   TFORECAST_EXP E, TFORECAST_IMP I
                          WHERE  E.NR_FORECAST = @nr_forecast AND
                                 E.NR_FORECAST = I.NR_FORECAST AND
                                 E.CD_MERCADORIA = I.CD_MERCADORIA AND
                                 E.NR_LAUDO = I.NR_LAUDO AND
                                 I.CD_MAT_PRI = I2.CD_MAT_PRI ), 1 ) ) * 100, 2 ) AS VL_VAR_CAMBIAL,
       CASE 
         WHEN        ROUND( ( SUM( VL_CIF ) /
                ISNULL( ( SELECT SUM(E.VL_FOB_LIQ)
                          FROM   TFORECAST_EXP E, TFORECAST_IMP I
                          WHERE  E.NR_FORECAST = @nr_forecast AND
                                 E.NR_FORECAST = I.NR_FORECAST AND
                                 E.CD_MERCADORIA = I.CD_MERCADORIA AND
                                 E.NR_LAUDO = I.NR_LAUDO AND
                                 I.CD_MAT_PRI = I2.CD_MAT_PRI ), 1 ) ) * 100, 2 )  <= @vl_var_cambial_db THEN '1'
         ELSE '0'
       END AS IN_VIAVEL         
FROM   TFORECAST_IMP I2
WHERE  I2.NR_FORECAST = @nr_forecast
GROUP BY I2.NR_FORECAST, CD_MAT_PRI 


GO
