USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_cria_modulo] @cd_modulo char(2), @nm_modulo varchar(60), @ap_modulo char(3) AS 

SET XACT_ABORT ON
BEGIN TRAN

IF NOT EXISTS( SELECT *
               FROM   TMODULO
               WHERE  CD_MODULO = @cd_modulo )
BEGIN
  INSERT TMODULO( CD_MODULO, NM_MODULO, AP_MODULO )
  VALUES( @cd_modulo, @nm_modulo, @ap_modulo )

  EXEC sp_atz_controle_acesso

  UPDATE TCARGO_MODULO
  SET    IN_ATIVO = '1'
  WHERE  CD_CARGO = '001' AND
         CD_MODULO = @cd_modulo
END

COMMIT TRAN
SET XACT_ABORT OFF


GO
