USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROC [sp_nf_serv_op]  @cd_unid_neg char(2), @cd_produto char(2), @nr_solicitacao char(6) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6)

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '02'
SELECT @nr_solicitacao = 'A01881'

*/

DECLARE @nr_processo           char(18)
DECLARE @dt_emissao            datetime
DECLARE @dt_vencimento         datetime
DECLARE @nr_relatorio          char(3)
DECLARE @nr_ano                char(4)
DECLARE @cd_cliente            char(5)
DECLARE @cd_emp_est            char(5)
DECLARE @cd_area               char(2)
DECLARE @cd_analista           char(3)
DECLARE @nm_referencia         varchar(4000)
DECLARE @tp_referencia         varchar(185)
DECLARE @nm_nat_despacho       varchar(15)
DECLARE @cd_via_transp         char(2)
DECLARE @nm_veiculo            varchar(40)
DECLARE @cd_local_origem       char(4)
DECLARE @cd_local_destino      char(4)
DECLARE @qt_embalagem          int
DECLARE @cd_embalagem          char(2)
DECLARE @nm_especie            varchar(100)
DECLARE @vl_peso_bruto         float
DECLARE @vl_peso_liquido       float
DECLARE @vl_fob                float
DECLARE @vl_frete              float
DECLARE @vl_seguro             float
DECLARE @vl_cif                float
DECLARE @nr_di                 char(15)
DECLARE @vl_tot_num            float
DECLARE @vl_tot_nao_tributavel float
DECLARE @vl_sub_tot_tributavel float
DECLARE @vl_comissao           float
DECLARE @vl_tot_geral          float
DECLARE @vl_tot_tributavel     float
DECLARE @nm_ir                 varchar(30)
DECLARE @vl_ir                 float
DECLARE @vl_iss                float
DECLARE @nm_saldo              varchar(10)
DECLARE @vl_saldo              float
DECLARE @cd_referencia         char(20)
DECLARE @vl_aliq_iss           float
DECLARE @vl_aliq_ir            float
DECLARE @in_quadro_total       char(1)
DECLARE @in_cobrar_iss         char(1)
DECLARE @nm_aliq_ir            varchar(5)
DECLARE @cd_usuario            char(4)
DECLARE @in_embut_frt_itens    bit
DECLARE @in_embut_seg_itens    bit
DECLARE @vl_cofins_dest_imp    float
DECLARE @vl_pis_dest_imp       float
DECLARE @vl_aliq_retencao      float
DECLARE @nm_aliq_retencao      varchar(5)
DECLARE @nm_retencao           varchar(30)
DECLARE @vl_retencao           float
DECLARE @in_status 	       char(1)	
DECLARE @CD_ITEM_RECEB_NUM       CHAR(3)
DECLARE @CD_ITEM_DEVOL_NUM       CHAR(3)
DECLARE @CD_ITEM_EXTOR_NUM       CHAR(3)
DECLARE @CD_ITEM_SALDO_CRE       CHAR(3)
DECLARE @CD_ITEM_SALDO_DEB       CHAR(3)
DECLARE @CD_ITEM_RECEB_SD        CHAR(3)
DECLARE @CD_ITEM_PAGTO_SD        CHAR(3)
DECLARE @CD_ITEM_EXT_RECEB       CHAR(3)
DECLARE @CD_ITEM_EXT_PAGTO       CHAR(3)
DECLARE @CD_ITEM_NAO_FAT         CHAR(3)
DECLARE @CD_ITEM_IR              CHAR(3)
DECLARE @CD_ITEM_COFINS_RETENCAO CHAR(3)
DECLARE @CD_ITEM_COMISSAO        CHAR(3)
DECLARE @CD_ITEM_PAGO_CLI        CHAR(3)
DECLARE @CD_ITEM_PIS_COFINS      CHAR(3)
DECLARE @CD_ITEM_ISS             CHAR(3)
DECLARE @CD_ITEM_COFINS          CHAR(3)

SELECT @cd_usuario = ISNULL( CD_USUARIO, '0000' )
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

DELETE TNF_SERV_OP
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO  = @cd_produto AND
       NR_SOLICITACAO = @nr_solicitacao

DELETE TNF_SERV_OP_ITEM
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO  = @cd_produto AND
       NR_SOLICITACAO = @nr_solicitacao

DELETE TNF_SERV_OP_NUM
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO  = @cd_produto AND
       NR_SOLICITACAO = @nr_solicitacao

SELECT @nr_processo = MAX( FP.NR_PROCESSO )
FROM   TS_FATURA F (NOLOCK),
       TS_FATURA_PROCESSO FP (NOLOCK),
       TPROCESSO P (NOLOCK)
WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
       F.CD_PRODUTO = FP.CD_PRODUTO AND
       F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
       FP.NR_PROCESSO = P.NR_PROCESSO AND
       F.CD_UNID_NEG = @cd_unid_neg AND
       F.CD_PRODUTO = @cd_produto AND
       F.NR_SOLICITACAO = @nr_solicitacao

--IF @nr_processo IS NULL RETURN 0

SELECT @CD_ITEM_RECEB_NUM       = CD_ITEM_RECEB_NUM  ,
       @CD_ITEM_DEVOL_NUM       = CD_ITEM_DEVOL_NUM  ,
       @CD_ITEM_EXTOR_NUM       = CD_ITEM_EXTOR_NUM  ,
       @CD_ITEM_SALDO_CRE       = CD_ITEM_SALDO_CRE  ,
       @CD_ITEM_SALDO_DEB       = CD_ITEM_SALDO_DEB  ,
       @CD_ITEM_RECEB_SD        = CD_ITEM_RECEB_SD   ,
       @CD_ITEM_PAGTO_SD        = CD_ITEM_PAGTO_SD   ,
       @CD_ITEM_EXT_RECEB       = CD_ITEM_EXT_RECEB  ,
       @CD_ITEM_EXT_PAGTO       = CD_ITEM_EXT_PAGTO  ,
       @CD_ITEM_NAO_FAT         = CD_ITEM_NAO_FAT    ,
       @CD_ITEM_IR              = CD_ITEM_IR         ,
       @CD_ITEM_COFINS_RETENCAO = CD_ITEM_COFINS_RETENCAO,
       @CD_ITEM_COMISSAO        = CD_ITEM_COMISSAO   ,
       @CD_ITEM_PAGO_CLI        = CD_ITEM_PAGO_CLI   ,
       @CD_ITEM_PIS_COFINS      = CD_ITEM_PIS_COFINS ,
       @CD_ITEM_ISS             = CD_ITEM_ISS        ,
       @CD_ITEM_COFINS          = CD_ITEM_COFINS     ,
       @vl_aliq_ir              = VL_ALIQ_IR         ,
       @vl_aliq_retencao        = VL_ALIQ_COFINS_RETENÇÃO
FROM   TPARAMETROS (NOLOCK)

SELECT @dt_emissao    = DT_FATURA, 
       @dt_vencimento = DT_VENCTO_FATURA,
       @nr_relatorio  = ISNULL( NR_RELATORIO, '' ),
       @nr_ano        = ISNULL( NR_ANO, '' )
FROM   TS_FATURA (NOLOCK)
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO = @cd_produto AND
       NR_SOLICITACAO = @nr_solicitacao

SELECT @cd_cliente         = P.CD_CLIENTE,
       @cd_emp_est         = P.CD_EMP_EST,
       @cd_area            = P.CD_AREA,
       @cd_analista        = P.CD_CONTATO,
       @nm_nat_despacho    = CASE P.CD_PRODUTO 
                               WHEN '01' THEN 'IMPORTAÇÃO' 
                               WHEN '02' THEN 'EXPORTAÇÃO' 
                               WHEN '03' THEN 'AGENCIAMENTO' 
                               WHEN '06' THEN 'ADM PEDIDO'
                               WHEN '10' THEN 'AGENCIAMENTO'
                             END,
       @nm_veiculo         = CASE S.CD_VIA_TRANSPORTE 
                               WHEN '01' THEN E.NM_EMBARCACAO
                               WHEN '04' THEN P.NR_VOO
                               WHEN '07' THEN P.NR_PLACA_VEICULO
                               ELSE ''
                             END,
       @cd_via_transp      = S.CD_VIA_TRANSPORTE,
       @cd_local_origem    = P.CD_LOCAL_EMBARQUE,
       @cd_local_destino   = P.CD_LOCAL_DESEMBARQUE,
       @vl_peso_bruto      = CASE P.CD_PRODUTO 
                               WHEN '01' THEN ISNULL( DI.PB_CARGA, 0 )
                               WHEN '02' THEN ISNULL( P.VL_PESO_BRUTO, 0 )
                               WHEN '03' THEN ISNULL( DI.PB_CARGA, 0 )
                               WHEN '10' THEN ISNULL( P.VL_PESO_BRUTO, 0 )
                             END,
       @vl_peso_liquido    = CASE P.CD_PRODUTO 
                               WHEN '01' THEN ISNULL( DI.PL_CARGA, 0 )
                               WHEN '02' THEN ISNULL( P.VL_PESO_LIQUIDO, 0 )
                               WHEN '03' THEN ISNULL( DI.PL_CARGA, 0 )
                               WHEN '10' THEN ISNULL( P.VL_PESO_LIQUIDO, 0 )
                             END,
       @vl_fob             = ISNULL( P.VL_MLE_MN, 0 ),
       @vl_frete           = ISNULL( P.VL_FRETE_MN, 0 ),
       @vl_seguro          = ISNULL( P.VL_SEGURO_MN, 0 ),
       @vl_cif             = ISNULL( P.VL_CIF_MN, 0 ),
       @nr_di 		   = NR_DI,
       @in_embut_frt_itens = ISNULL( IN_EMBUT_FRT_ITENS, 0 ),
       @in_embut_seg_itens = ISNULL( IN_EMBUT_SEG_ITENS, 0 )
FROM   TPROCESSO P (NOLOCK),
       VW_SERVICO_GERAL S (NOLOCK),
       TEMBARCACAO E (NOLOCK),
       TDECLARACAO_IMPORTACAO DI (NOLOCK),
       TPROCESSO_EXP EX (NOLOCK)
WHERE  P.NR_PROCESSO = @nr_processo AND
       P.CD_SERVICO = S.CD_SERVICO AND
       P.CD_EMBARCACAO *= E.CD_EMBARCACAO AND
       P.NR_PROCESSO *= DI.NR_PROCESSO AND
       P.NR_PROCESSO *= EX.NR_PROCESSO

IF @cd_produto IN ( '01', '03' )
BEGIN
  IF @in_embut_frt_itens = 1 SELECT @vl_fob = @vl_fob - @vl_frete
  IF @in_embut_seg_itens = 1 SELECT @vl_fob = @vl_fob - @vl_seguro
END

SELECT @nm_referencia = ''
SELECT @tp_referencia = ''

IF SUBSTRING(@nr_processo,3,2) = '02' 
  SELECT @tp_referencia = ''''+ISNULL(G.TP_PEDIDO_BUSCA,'01')+''''
			FROM TPROCESSO P (NOLOCK) INNER JOIN TGRUPO G (NOLOCK) ON G.CD_GRUPO = P.CD_GRUPO WHERE P.NR_PROCESSO = @nr_processo
ELSE
BEGIN
  IF (SELECT P.CD_GRUPO FROM TPROCESSO P (NOLOCK) WHERE P.NR_PROCESSO = @nr_processo) = '446'
    SELECT @tp_referencia = '''01'', ''04'''
  else   
    SELECT @tp_referencia = '01'
END

--SELECT @nm_referencia = MASTER.DBO.ROWCONCAT(DISTINCT CD_REFERENCIA) FROM TREF_CLIENTE WHERE NR_PROCESSO = @nr_processo GROUP BY CD_REFERENCIA
IF SUBSTRING(@nr_processo,3,2) = '06' 
  SELECT @nm_referencia = REPLACE(MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(R.CD_REFERENCIA)+'/'+R.NR_ITEM_PO+', ')+'##',', ##','') FROM TREF_CLIENTE R (NOLOCK) WHERE R.NR_PROCESSO = @nr_processo
ELSE
BEGIN
  /*SELECT @nm_referencia = MASTER.DBO.RowConcat(DISTINCT RTRIM(R.CD_REFERENCIA)) FROM TREF_CLIENTE R (NOLOCK) 
    WHERE R.NR_PROCESSO = @nr_processo  AND R.TP_REFERENCIA in (@tp_referencia)*/
  DECLARE @sql NVARCHAR(4000)
  /*SET @sql = N'SELECT @retorno = MASTER.DBO.RowConcat(DISTINCT RTRIM(R.CD_REFERENCIA)+''/''+R.NR_ITEM_PO) FROM TREF_CLIENTE R (NOLOCK)   
      WHERE R.NR_PROCESSO = ''' + @nr_processo + '''  AND 
      R.TP_REFERENCIA in (' + @tp_referencia + ')'*/
      
      
    IF @cd_produto <> '02'
      SET @sql = N'SELECT @retorno = REPLACE(MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(R.CD_REFERENCIA)+''/''+R.NR_ITEM_PO+'', '')+''##'','', ##'','''') 
			  					 FROM TS_FATURA_PROCESSO FP (NOLOCK) 
				  				   INNER JOIN TREF_CLIENTE R (NOLOCK) on FP.NR_PROCESSO = R.NR_PROCESSO
					  			 WHERE FP.CD_UNID_NEG = '''+@cd_unid_neg+''' AND
						  		   FP.CD_PRODUTO = '''+@cd_produto+''' AND
							  	   FP.NR_SOLICITACAO = '''+@nr_solicitacao+''' AND 
								  	 R.TP_REFERENCIA in ('+@tp_referencia+') '      
		ELSE
      SET @sql = N'SELECT @retorno = MASTER.DBO.RowConcat(DISTINCT RTRIM(R.CD_REFERENCIA) +'' '') 
			  					 FROM TS_FATURA_PROCESSO FP (NOLOCK) 
				  				   INNER JOIN TREF_CLIENTE R (NOLOCK) on FP.NR_PROCESSO = R.NR_PROCESSO
					  			 WHERE FP.CD_UNID_NEG = '''+@cd_unid_neg+''' AND
						  		   FP.CD_PRODUTO = '''+@cd_produto+''' AND
							  	   FP.NR_SOLICITACAO = '''+@nr_solicitacao+''' AND 
								  	 R.TP_REFERENCIA in ('+@tp_referencia+') '									 
  EXEC sp_executesql @statement = @sql, @params = N'@retorno varchar(4000) output' , @retorno = @nm_referencia OUTPUT  
END


/*DECLARE c_ref_cliente CURSOR FOR
  SELECT CASE P.CD_GRUPO
           WHEN '002' THEN LTRIM( RTRIM( R.CD_REFERENCIA ) ) + ' / ' + ISNULL( R.NR_ITEM_PO, '' )
	   WHEN '013' THEN LTRIM( RTRIM( R.CD_REFERENCIA ) ) + ' / ' + ISNULL( R.NR_ITEM_PO, '' )-- Rodrigo Capra - 01/04/2008
           ELSE R.CD_REFERENCIA 
	--LTRIM( RTRIM( R.CD_REFERENCIA ) ) + ' / ' + ISNULL( R.NR_ITEM_PO, '' )
         END AS CD_REFERENCIA 
  FROM   TREF_CLIENTE R (NOLOCK) 
         INNER JOIN TPROCESSO P (NOLOCK) ON ( R.NR_PROCESSO = P.NR_PROCESSO )
  WHERE  R.NR_PROCESSO = @nr_processo
  ORDER BY R.NR_SEQUENCIA

OPEN c_ref_cliente
FETCH c_ref_cliente INTO @cd_referencia
WHILE @@fetch_status = 0
BEGIN
  IF ( LEN( LTRIM( RTRIM( @nm_referencia ) ) ) + LEN( LTRIM( RTRIM( @cd_referencia ) ) ) + 2 ) <= 185
  BEGIN
    IF LTRIM( RTRIM( @nm_referencia ) ) = ''
      SELECT @nm_referencia = LTRIM( RTRIM( @cd_referencia ) )
    ELSE
      SELECT @nm_referencia = LTRIM( RTRIM( @nm_referencia ) ) + ', ' + LTRIM( RTRIM( @cd_referencia ) )
  END
   FETCH c_ref_cliente INTO @cd_referencia
END
CLOSE c_ref_cliente
DEALLOCATE c_ref_cliente*/

IF @cd_via_transp <> '01'
BEGIN
  SELECT TOP 1 @qt_embalagem = P.QT_EMBALAGEM,
               @nm_especie = E.DESCRICAO
  FROM   TPROCESSO_EMBALAGEM P (NOLOCK), TTP_EMBALAGEM E (NOLOCK)
  WHERE  P.CD_EMBALAGEM = E.CODIGO AND
         P.NR_PROCESSO = @nr_processo
END
ELSE
BEGIN
  SELECT TOP 1 @qt_embalagem = VL_QTDE,
               @nm_especie = NM_ESPECIE
  FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
END

IF @cd_produto IN ( '02', '10' )
BEGIN
  SELECT TOP 1 @nr_di = LTRIM( RTRIM( NR_RE ) ) + LTRIM( RTRIM( NR_ANEXO_FIM ) )
  FROM   TPROCESSO_EXP_DDE_RE (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
END

SELECT @vl_tot_num =
      ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                FROM   TFATURAMENTO_CC FI (NOLOCK)
                WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                       FI.CD_PRODUTO = F.CD_PRODUTO AND
                       FI.NR_SOLIC_FAT = F.NR_SOLICITACAO AND
                       FI.IN_CANCELADO = '0' AND
                       FI.IN_FATURADO = '1' AND
      FI.CD_ITEM = ( @CD_ITEM_RECEB_NUM) ), 0 ) -
     ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                 FROM   TFATURAMENTO_CC FI (NOLOCK)
                 WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                        FI.CD_PRODUTO = F.CD_PRODUTO AND
                        FI.NR_SOLIC_FAT = F.NR_SOLICITACAO AND
                        FI.IN_CANCELADO = '0' AND
                        FI.IN_FATURADO = '1' AND
                        FI.CD_ITEM = ( @CD_ITEM_EXTOR_NUM) ), 0 ) -
       ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                 FROM   TFATURAMENTO_CC FI (NOLOCK)
                 WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                        FI.CD_PRODUTO = F.CD_PRODUTO AND
                        FI.NR_SOLIC_FAT = F.NR_SOLICITACAO AND
                        FI.IN_CANCELADO = '0' AND
                        FI.IN_FATURADO = '1' AND
                        FI.IN_RESTITUI = '0' AND
                        FI.CD_ITEM = ( @CD_ITEM_DEVOL_NUM) ), 0 ) +
       ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                 FROM   TFATURAMENTO_CC FI (NOLOCK)
                 WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                        FI.CD_PRODUTO = F.CD_PRODUTO AND
                        FI.NR_SOLIC_FAT = F.NR_SOLICITACAO AND
                        FI.IN_CANCELADO = '0' AND
                        FI.IN_FATURADO = '1' AND
                        FI.IN_RESTITUI = '1' AND
                        FI.CD_ITEM = ( @CD_ITEM_DEVOL_NUM) ), 0 )
FROM   TS_FATURA F (NOLOCK)
WHERE  F.IN_CANCELADO = '0' AND
       F.CD_UNID_NEG = @cd_unid_neg AND
       F.CD_PRODUTO = @cd_produto AND
       F.NR_SOLICITACAO = @nr_solicitacao

SELECT @vl_tot_nao_tributavel =
       ISNULL( ROUND( SUM(
       CASE IN_RESTITUI 
         WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
         WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
       END ), 2 ), 0 )
FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
WHERE  FI.CD_ITEM = I.CD_ITEM AND
       I.IN_TRIBUTAVEL = '0' AND
       FI.IN_CANCELADO = '0' AND
       FI.IN_FATURADO = '1' AND
       FI.CD_UNID_NEG = @cd_unid_neg AND
       FI.CD_PRODUTO = @cd_produto AND
       FI.NR_SOLIC_FAT = @nr_solicitacao AND
       ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
       FI.CD_ITEM NOT IN ( @CD_ITEM_RECEB_NUM, @CD_ITEM_DEVOL_NUM, @CD_ITEM_EXTOR_NUM, @CD_ITEM_SALDO_CRE,
                           @CD_ITEM_SALDO_DEB, @CD_ITEM_RECEB_SD , @CD_ITEM_PAGTO_SD , @CD_ITEM_EXT_RECEB,
                           @CD_ITEM_EXT_PAGTO, @CD_ITEM_NAO_FAT  , @CD_ITEM_IR       , @CD_ITEM_COFINS_RETENCAO,
			   @CD_ITEM_COMISSAO , @CD_ITEM_PAGO_CLI , @CD_ITEM_PIS_COFINS )

SELECT @vl_sub_tot_tributavel =
       ISNULL( ROUND( SUM(
       CASE IN_RESTITUI 
         WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
         WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
       END ), 2 ), 0 )
FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
WHERE  FI.CD_ITEM = I.CD_ITEM AND
       I.IN_TRIBUTAVEL = '1' AND
       FI.IN_CANCELADO = '0' AND
       FI.IN_FATURADO = '1' AND
       FI.CD_UNID_NEG = @cd_unid_neg AND
       FI.CD_PRODUTO = @cd_produto AND
       FI.NR_SOLIC_FAT = @nr_solicitacao AND
       ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
       FI.CD_ITEM NOT IN ( @CD_ITEM_RECEB_NUM, @CD_ITEM_DEVOL_NUM, @CD_ITEM_EXTOR_NUM, @CD_ITEM_SALDO_CRE,
			   @CD_ITEM_SALDO_DEB, @CD_ITEM_RECEB_SD , @CD_ITEM_PAGTO_SD , @CD_ITEM_EXT_RECEB,	
			   @CD_ITEM_EXT_PAGTO, @CD_ITEM_NAO_FAT  , @CD_ITEM_IR       , @CD_ITEM_COFINS_RETENCAO,
			   @CD_ITEM_COMISSAO , @CD_ITEM_PAGO_CLI , @CD_ITEM_PIS_COFINS, @CD_ITEM_ISS ) 

SELECT @vl_comissao =
       ISNULL( ROUND( SUM(
       CASE IN_RESTITUI 
         WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
         WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
       END ), 2 ), 0 )
FROM   TFATURAMENTO_CC FI (NOLOCK), TITEM I (NOLOCK)
WHERE  FI.CD_ITEM = I.CD_ITEM AND
       FI.IN_CANCELADO = '0' AND
       FI.IN_FATURADO = '1' AND
       FI.CD_UNID_NEG = @cd_unid_neg AND
       FI.CD_PRODUTO = @cd_produto AND
       FI.NR_SOLIC_FAT = @nr_solicitacao AND
       FI.CD_ITEM = ( @CD_ITEM_COMISSAO)

SELECT @vl_ir =
       ISNULL( ROUND( SUM(
       CASE IN_RESTITUI 
         WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
         WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
       END ), 2 ), 0 )
FROM   TFATURAMENTO_CC FI (NOLOCK), TITEM I (NOLOCK)
WHERE  FI.CD_ITEM = I.CD_ITEM AND
       FI.IN_CANCELADO = '0' AND
       FI.IN_FATURADO = '1' AND
       FI.CD_UNID_NEG = @cd_unid_neg AND
       FI.CD_PRODUTO = @cd_produto AND
       FI.NR_SOLIC_FAT = @nr_solicitacao AND
       FI.CD_ITEM = ( @CD_ITEM_IR)

SELECT @vl_tot_geral      = ISNULL( @vl_tot_nao_tributavel, 0 ) + ISNULL( @vl_sub_tot_tributavel, 0 ) + ISNULL( @vl_comissao, 0 )
SELECT @vl_tot_tributavel = ISNULL( @vl_sub_tot_tributavel, 0 ) + ISNULL( @vl_comissao, 0 )

-- Descrição IRRF
SELECT @nm_aliq_ir = CAST( @vl_aliq_ir AS varchar(5) )
IF CHARINDEX( ',', @nm_aliq_ir ) = 0 
   SELECT @nm_aliq_ir = @nm_aliq_ir + '.00'
ELSE
  SELECT @nm_aliq_ir = @nm_aliq_ir + REPLICATE( '0', LEN( @nm_aliq_ir ) - CHARINDEX( ',', @nm_aliq_ir ) )

SELECT @nm_ir =
       CASE H.CD_IR_FAT 
          WHEN '0' THEN 'RETENÇÃO IMP.RENDA' -- DEMONSTRATIVO
          WHEN '1' THEN 'RETENÇÃO IMP.RENDA' -- CRÉDITO
          WHEN '2' THEN 'RETENÇÃO IMP.RENDA' -- DÉBITO
       END,
       @in_quadro_total = H.IN_QUADRO_TOTAL_FAT,
       @in_cobrar_iss = H.IN_COBRAR_ISS
FROM   TPROCESSO P (NOLOCK), 
       TCLIENTE_HABILITACAO H (NOLOCK)
WHERE  P.CD_CLIENTE = H.CD_CLIENTE AND
       P.CD_UNID_NEG = H.CD_UNID_NEG AND
       P.CD_PRODUTO = H.CD_PRODUTO AND
       P.NR_PROCESSO = @nr_processo

-- Valor RETENÇÃO
SELECT @vl_retencao = FI.VL_ITEM
FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
WHERE  FI.CD_ITEM = I.CD_ITEM AND
       FI.IN_CANCELADO = '0' AND
       FI.IN_FATURADO = '1' AND
       FI.CD_UNID_NEG = @cd_unid_neg AND
       FI.CD_PRODUTO = @cd_produto AND
       FI.NR_SOLIC_FAT = @nr_solicitacao AND
       FI.CD_ITEM = ( @CD_ITEM_COFINS_RETENCAO )

-- Descrição da RETENÇAO
SELECT @nm_aliq_retencao = CAST( @vl_aliq_retencao AS varchar(5) )
IF CHARINDEX( ',', @nm_aliq_retencao ) = 0 
   SELECT @nm_aliq_retencao = @nm_aliq_retencao + '.00'
ELSE
  SELECT @nm_aliq_retencao = @nm_aliq_retencao + REPLICATE( '0', LEN( @nm_aliq_retencao ) - CHARINDEX( ',', @nm_aliq_retencao ) )

SELECT @nm_retencao =
       CASE H.IN_TP_RETENCAO_COFINS 
          WHEN '0' THEN '' -- NÃO RETEM
          ELSE 'RETENÇÃO COFINS/PIS/CSLL' -- RETEM 
       END,
       @in_quadro_total = H.IN_QUADRO_TOTAL_FAT,
       @in_cobrar_iss = H.IN_COBRAR_ISS
FROM   TPROCESSO P (NOLOCK), 
       TCLIENTE_HABILITACAO H (NOLOCK)
WHERE  P.CD_CLIENTE = H.CD_CLIENTE AND
       P.CD_UNID_NEG = H.CD_UNID_NEG AND
       P.CD_PRODUTO = H.CD_PRODUTO AND
       P.NR_PROCESSO = @nr_processo

SELECT @vl_aliq_iss = VL_ALIQ_ISS
FROM   TUNID_NEG (NOLOCK)
WHERE  CD_UNID_NEG = @cd_unid_neg

IF @cd_unid_neg = '02'
BEGIN
  IF @in_cobrar_iss = '1' 
  BEGIN
    SELECT @vl_iss =
           ISNULL( ROUND( SUM(
           CASE IN_RESTITUI 
             WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
             WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
           END ), 2 ), 0 )
    FROM   TFATURAMENTO_CC FI (NOLOCK), TITEM I (NOLOCK)
    WHERE  FI.CD_ITEM = I.CD_ITEM AND
           FI.IN_CANCELADO = '0' AND
           FI.IN_FATURADO = '1' AND
           FI.CD_UNID_NEG = @cd_unid_neg AND
           FI.CD_PRODUTO = @cd_produto AND
           FI.NR_SOLIC_FAT = @nr_solicitacao AND
           FI.CD_ITEM = ( @CD_ITEM_ISS )
  END
  ELSE
  BEGIN
    SELECT @vl_iss = ROUND ( ( ( @vl_tot_tributavel * 100 ) / ( 100 - @vl_aliq_iss ) ) - @vl_tot_tributavel, 2 )
  END
END
ELSE
  SELECT @vl_iss = ROUND( @vl_tot_tributavel * ( @vl_aliq_iss / 100 ), 2 )




/* CALCULAR ISS POR DENTRO */
IF @in_cobrar_iss = '1' AND ROUND( ISNULL( @vl_iss, 0 ), 2 ) > 0
BEGIN
  -- Tira da coluna Serviços e coloca em Numerário Indaiá
  SELECT @vl_tot_nao_tributavel = @vl_tot_nao_tributavel --+ ROUND( @vl_iss, 2 )
  SELECT @vl_sub_tot_tributavel = @vl_sub_tot_tributavel --- ROUND( @vl_iss, 2 )
END
else
  set @vl_iss = 0 -- Incluido André Ocorrencia 06675/10 18/08/2010

/*SELECT @vl_saldo =
       ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                 FROM   TFATURAMENTO_CC FI (NOLOCK)
                 WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                        FI.CD_PRODUTO = F.CD_PRODUTO AND
                        FI.NR_SOLIC_FAT = F.NR_SOLICITACAO AND
                        FI.IN_CANCELADO = '0' AND
                        FI.IN_FATURADO = '1' AND
                        FI.CD_ITEM = ( @CD_ITEM_SALDO_CRE ) ), 0 ) -
       ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                 FROM   TFATURAMENTO_CC FI (NOLOCK)
                 WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                        FI.CD_PRODUTO = F.CD_PRODUTO AND
                        FI.NR_SOLIC_FAT = F.NR_SOLICITACAO AND
                        FI.IN_CANCELADO = '0' AND
                        FI.IN_FATURADO = '1' AND
                        FI.CD_ITEM = ( @CD_ITEM_SALDO_DEB ) ), 0 )
FROM   TS_FATURA F (NOLOCK)
WHERE  F.IN_CANCELADO = '0' AND
       F.CD_UNID_NEG = @cd_unid_neg AND
       F.CD_PRODUTO = @cd_produto AND
       F.NR_SOLICITACAO = @nr_solicitacao*/ --COMENTADO ANDRÉ 05/11/2010
       
SELECT @vl_saldo = VL_FATURA FROM TS_FATURA F (NOLOCK) 
WHERE  F.IN_CANCELADO = '0' AND F.CD_UNID_NEG = @cd_unid_neg AND F.CD_PRODUTO = @cd_produto AND F.NR_SOLICITACAO = @nr_solicitacao

/*SELECT ROUND(SUM(VL_ITEM), 2) FROM TFATURAMENTO_CC 
WHERE CD_ITEM IN ('995', '996') AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND NR_SOLIC_FAT = @nr_solicitacao
SELECT * FROM TFATURAMENTO_CC 
WHERE CD_ITEM IN ('995', '996') AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND NR_SOLIC_FAT = @nr_solicitacao
SELECT VL_FATURA FROM TS_FATURA F (NOLOCK) 
WHERE  F.IN_CANCELADO = '0' AND F.CD_UNID_NEG = @cd_unid_neg AND F.CD_PRODUTO = @cd_produto AND F.NR_SOLICITACAO = @nr_solicitacao
PRINT @vl_saldo*/


-- Alteração em 06/08/2004 em virtude da mudança da Lei
-- Valores de retenção menores que 232.5 não deverão contabilizar no saldo
DECLARE @vl_retencao_lei   float
SET @vl_retencao_lei = 0

SELECT @vl_retencao_lei = ISNULL( VL_ITEM, 0 ) 
FROM TFATURAMENTO_CC (NOLOCK)
WHERE  CD_UNID_NEG = @cd_unid_neg AND
            CD_PRODUTO = @cd_produto AND
            NR_SOLIC_FAT = @nr_solicitacao AND
            IN_CANCELADO = '0' AND
            IN_FATURADO = '1' AND
            CD_ITEM = ( @CD_ITEM_COFINS_RETENCAO )

/* antiga rotina
IF @vl_retencao_lei < 232.5
BEGIN
  SELECT @vl_saldo = @vl_saldo - @vl_retencao_lei
END
*/
-- nova rotina 02/02/2005
/*
SELECT @in_status = IN_STATUS 
FROM TNF_RETENCAO
WHERE CD_UNID_NEG = @cd_unid_neg AND
      CD_PRODUTO = @cd_produto AND
      NR_SOLICITACAO = @nr_solicitacao

IF @in_status IN ( 'T', 'N', 'S' )
BEGIN
  SELECT @vl_saldo = @vl_saldo - @vl_retencao_lei
END
ELSE
BEGIN
  SET @vl_retencao = 0
END
*/

IF ROUND( @vl_saldo, 2 ) > 0 SELECT @nm_saldo = 'S/FAVOR'
ELSE IF ROUND( @vl_saldo, 2 ) < 0 SELECT @nm_saldo = 'N/FAVOR'
ELSE IF ROUND( @vl_saldo, 2 ) = 0 SELECT @nm_saldo = 'SALDO '


--Capa/Rodapé
INSERT TNF_SERV_OP ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, DT_EMISSAO, DT_VENCIMENTO, NR_RELATORIO, NR_ANO,
                     CD_CLIENTE, CD_AREA, CD_ANALISTA, NM_REFERENCIA, NM_NAT_DESPACHO, CD_VIA_TRANSP, NM_VEICULO, 
                     CD_LOCAL_ORIGEM, CD_LOCAL_DESTINO, CD_EMP_EST, QT_EMBALAGEM, NM_ESPECIE, VL_PESO_BRUTO, VL_PESO_LIQUIDO,
                     VL_FOB, VL_CIF, NR_DI, VL_TOT_NUM, VL_TOT_NAO_TRIBUTAVEL, VL_SUB_TOT_TRIBUTAVEL, VL_COMISSAO,
                     VL_TOT_GERAL, VL_TOT_TRIBUTAVEL, NM_IR, VL_IR, VL_ISS, NM_SALDO, VL_SALDO, CD_EMISSOR, IN_QUADRO_TOTAL,
                     NM_RETENCAO, VL_RETENCAO )
VALUES( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @dt_emissao, @dt_vencimento, @nr_relatorio, @nr_ano,
        @cd_cliente, @cd_area, @cd_analista, @nm_referencia, @nm_nat_despacho, @cd_via_transp, @nm_veiculo, @cd_local_origem,
        @cd_local_destino, @cd_emp_est, @qt_embalagem, @nm_especie, @vl_peso_bruto, @vl_peso_liquido, @vl_fob, @vl_cif, @nr_di, 
        @vl_tot_num, @vl_tot_nao_tributavel, @vl_sub_tot_tributavel, @vl_comissao, @vl_tot_geral, @vl_tot_tributavel, 
        @nm_ir, @vl_ir, @vl_iss, @nm_saldo, @vl_saldo, @cd_usuario, @in_quadro_total,
        @nm_retencao, ISNULL( @vl_retencao, 0 ) ) 

UPDATE TNF_SERV_OP
SET    TX_HISTORICO = F.TX_OBSERVACOES
FROM   TS_FATURA F, TNF_SERV_OP N
WHERE  F.CD_UNID_NEG = N.CD_UNID_NEG AND
       F.CD_PRODUTO = N.CD_PRODUTO AND
       F.NR_SOLICITACAO = N.NR_SOLICITACAO AND
       F.CD_UNID_NEG = @cd_unid_neg AND
       F.CD_PRODUTO = @cd_produto AND
       F.NR_SOLICITACAO = @nr_solicitacao

--Obs
UPDATE TNF_SERV_OP
SET    TX_OBS = A.TX_OBS
FROM   TS_FATURA A, TNF_SERV_OP B
WHERE  A.CD_UNID_NEG    = B.CD_UNID_NEG    AND
       A.CD_PRODUTO     = B.CD_PRODUTO     AND
       A.NR_SOLICITACAO = B.NR_SOLICITACAO AND
       B.CD_UNID_NEG    = @cd_unid_neg     AND
       B.CD_PRODUTO     = @cd_produto      AND
       B.NR_SOLICITACAO = @nr_solicitacao  AND
       B.NR_PROCESSO    = @nr_processo     AND
       A.CD_UNID_NEG    = @cd_unid_neg     AND
       A.CD_PRODUTO     = @cd_produto      AND
       A.NR_SOLICITACAO = @nr_solicitacao 

--Itens
-- É um select com top 26 para que o DESTAQUE DE IMPOSTOS E O RETENÇÃO NA FONTE SAIAM NO RELATÓRIO, SE A QTDE DE 
-- ITENS exceder 26.
-- Alterado em 31/01/2006
-- Não há mais TOP 26, ao final da procedure se existir mais de 26 itens exclui - 19/07/2006
INSERT TNF_SERV_OP_ITEM ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_ITEM, 
       NM_ITEM, VL_ITEM, IN_COLUNA, NR_ORDEM_FAT, CD_ITEM_NAO_FAT )
  SELECT F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, I.NM_ITEM,
         ROUND( SUM( 
           CASE IN_RESTITUI 
              WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) + ISNULL( FI.VL_IR, 0 ) ) 
              WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) + ISNULL( FI.VL_IR, 0 ) ) * (-1)
           END ), 2 ) AS VL_ITEM, 
           CASE ISNULL( FI.CD_ITEM_NAO_FAT, '' )
             WHEN '*' THEN '1'
             ELSE CASE I.IN_TRIBUTAVEL
                     WHEN '0' THEN '2'
                     WHEN '1' THEN '3'
                  END
           END IN_COLUNA, I.NR_ORDEM_FAT,
           ISNULL( FI.CD_ITEM_NAO_FAT, '' )
  FROM   TS_FATURA F (NOLOCK),
         TS_FATURA_PROCESSO FP (NOLOCK),
         TPROCESSO P (NOLOCK),
         TFATURAMENTO_CC FI (NOLOCK),
         TITEM I (NOLOCK)
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         FI.CD_ITEM = I.CD_ITEM AND
         F.IN_CANCELADO = '0' AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_ITEM NOT IN ( @CD_ITEM_RECEB_NUM, @CD_ITEM_DEVOL_NUM, @CD_ITEM_EXTOR_NUM, @CD_ITEM_SALDO_CRE,
			     @CD_ITEM_SALDO_DEB, @CD_ITEM_RECEB_SD , @CD_ITEM_PAGTO_SD , @CD_ITEM_EXT_RECEB,
			     @CD_ITEM_EXT_PAGTO, @CD_ITEM_NAO_FAT  , @CD_ITEM_IR       , @CD_ITEM_COFINS_RETENCAO,
			     @CD_ITEM_COMISSAO , @CD_ITEM_PAGO_CLI , @CD_ITEM_COFINS   , @CD_ITEM_PIS_COFINS ) AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solicitacao
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, I.NM_ITEM, ISNULL( FI.CD_ITEM_NAO_FAT, '' ), I.IN_TRIBUTAVEL, I.NR_ORDEM_FAT
  ORDER BY I.NR_ORDEM_FAT

-- Insere o item 577 COFINS, se CH.IN_COBRAR_COFINS = '1'
INSERT TNF_SERV_OP_ITEM ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_ITEM, 
       NM_ITEM, VL_ITEM, IN_COLUNA, NR_ORDEM_FAT, CD_ITEM_NAO_FAT )
  SELECT F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, I.NM_ITEM,
         ROUND( SUM( 
           CASE IN_RESTITUI 
              WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) + ISNULL( FI.VL_IR, 0 ) ) 
              WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) + ISNULL( FI.VL_IR, 0 ) ) * (-1)
           END ), 2 ) AS VL_ITEM, 
           CASE ISNULL( FI.CD_ITEM_NAO_FAT, '' )
             WHEN '*' THEN '1'
             ELSE CASE I.IN_TRIBUTAVEL
                     WHEN '0' THEN '2'
                     WHEN '1' THEN '3'
                  END
           END IN_COLUNA, I.NR_ORDEM_FAT,
           ISNULL( FI.CD_ITEM_NAO_FAT, '' )
  FROM   TS_FATURA F (NOLOCK),
         TS_FATURA_PROCESSO FP (NOLOCK),
         TPROCESSO P (NOLOCK),
         TFATURAMENTO_CC FI (NOLOCK),
         TITEM I (NOLOCK), TCLIENTE_HABILITACAO CH (NOLOCK), TEMPRESA_NAC EN (NOLOCK) 
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         CH.CD_UNID_NEG = F.CD_UNID_NEG AND
         CH.CD_PRODUTO = F.CD_PRODUTO AND
         CH.CD_CLIENTE = EN.CD_EMPRESA AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         CH.IN_COBRAR_COFINS = '1' AND
         F.IN_CANCELADO = '0' AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_ITEM = ( @CD_ITEM_COFINS ) AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solicitacao
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, I.CD_ITEM, I.NM_ITEM, ISNULL( FI.CD_ITEM_NAO_FAT, '' ), I.IN_TRIBUTAVEL, I.NR_ORDEM_FAT
  ORDER BY I.NR_ORDEM_FAT
---

-- Se possuir vl_tot_tributavel,  calcula as taxas e insere registros na tabela
IF @vl_tot_tributavel > 0
BEGIN

  -- Calcula os valores Cofins e PIS
  SET @vl_cofins_dest_imp = cast( ( @vl_tot_tributavel * 1.076 - @vl_tot_tributavel )as decimal (15, 2))
  SET @vl_pis_dest_imp    = cast( ( @vl_tot_tributavel * 1.0165 - @vl_tot_tributavel ) as decimal (15, 2))

/*  INSERT INTO TNF_SERV_OP_ITEM ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_ITEM, NM_ITEM, 
              NR_ORDEM_FAT, CD_ITEM_NAO_FAT )
  SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, '889', 'DESTAQUE DE IMPOSTOS', '1000', ''
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO FP,
         TPROCESSO P,
         TFATURAMENTO_CC FI,
         TITEM I, TCLIENTE_HABILITACAO CH, TEMPRESA_NAC EN 
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         CH.CD_UNID_NEG = F.CD_UNID_NEG AND
         CH.CD_PRODUTO = F.CD_PRODUTO AND
         CH.CD_CLIENTE = EN.CD_EMPRESA AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         CH.IN_COBRAR_COFINS = '1' AND
         F.IN_CANCELADO = '0' AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_ITEM IN ( SELECT  CD_ITEM_COFINS_RETENCAO  FROM TPARAMETROS ) AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solicitacao
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, I.CD_ITEM, I.NM_ITEM, ISNULL( FI.CD_ITEM_NAO_FAT, '' ), I.IN_TRIBUTAVEL, I.NR_ORDEM_FAT
  ORDER BY I.NR_ORDEM_FAT

  INSERT INTO TNF_SERV_OP_ITEM ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_ITEM, NM_ITEM,  
              NR_ORDEM_FAT, CD_ITEM_NAO_FAT )
  SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao,
         '868', 'COFINS - 7,6% - R$ ' + CAST( @vl_cofins_dest_imp as varchar(20)) , '1001', ''
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO FP,
         TPROCESSO P,
         TFATURAMENTO_CC FI,
         TITEM I, TCLIENTE_HABILITACAO CH, TEMPRESA_NAC EN 
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         CH.CD_UNID_NEG = F.CD_UNID_NEG AND
         CH.CD_PRODUTO = F.CD_PRODUTO AND
         CH.CD_CLIENTE = EN.CD_EMPRESA AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         CH.IN_COBRAR_COFINS = '1' AND
         F.IN_CANCELADO = '0' AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_ITEM IN ( SELECT  CD_ITEM_COFINS_RETENCAO  FROM TPARAMETROS ) AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solicitacao
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, I.CD_ITEM, I.NM_ITEM, ISNULL( FI.CD_ITEM_NAO_FAT, '' ), I.IN_TRIBUTAVEL, I.NR_ORDEM_FAT
  ORDER BY I.NR_ORDEM_FAT

  INSERT INTO TNF_SERV_OP_ITEM ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_ITEM, NM_ITEM, 
              NR_ORDEM_FAT, CD_ITEM_NAO_FAT )
  SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao,
         '865', 'PIS - 1,65% - R$ ' + CAST( @vl_pis_dest_imp as varchar(20)) , '1002', ''
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO FP,
         TPROCESSO P,
         TFATURAMENTO_CC FI,
         TITEM I, TCLIENTE_HABILITACAO CH, TEMPRESA_NAC EN 
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         CH.CD_UNID_NEG = F.CD_UNID_NEG AND
         CH.CD_PRODUTO = F.CD_PRODUTO AND
         CH.CD_CLIENTE = EN.CD_EMPRESA AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         CH.IN_COBRAR_COFINS = '1' AND
         F.IN_CANCELADO = '0' AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_ITEM IN ( SELECT  CD_ITEM_COFINS_RETENCAO  FROM TPARAMETROS ) AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solicitacao
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, I.CD_ITEM, I.NM_ITEM, ISNULL( FI.CD_ITEM_NAO_FAT, '' ), I.IN_TRIBUTAVEL, I.NR_ORDEM_FAT
  ORDER BY I.NR_ORDEM_FAT
*/
  -- Insere o item RETENÇÃO NA FONTE
  INSERT TNF_SERV_OP_ITEM ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_ITEM, 
       NM_ITEM, NR_ORDEM_FAT, CD_ITEM_NAO_FAT )
  SELECT F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, 'RETENÇÃO NA FONTE LEI 10833/03', '1003', ''
  FROM   TS_FATURA F (NOLOCK),
         TS_FATURA_PROCESSO FP (NOLOCK),
         TPROCESSO P (NOLOCK),
         TFATURAMENTO_CC FI (NOLOCK),
         TITEM I (NOLOCK), TCLIENTE_HABILITACAO CH (NOLOCK), TEMPRESA_NAC EN (NOLOCK)
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         CH.CD_UNID_NEG = F.CD_UNID_NEG AND
         CH.CD_PRODUTO = F.CD_PRODUTO AND
         CH.CD_CLIENTE = EN.CD_EMPRESA AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
--         CH.IN_COBRAR_COFINS = '1' AND
         F.IN_CANCELADO = '0' AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_ITEM = ( @CD_ITEM_COFINS_RETENCAO ) AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solicitacao
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, I.CD_ITEM, I.NM_ITEM, ISNULL( FI.CD_ITEM_NAO_FAT, '' ), I.IN_TRIBUTAVEL, I.NR_ORDEM_FAT
  ORDER BY I.NR_ORDEM_FAT

  -- Insere o item RETENÇÃO NA FONTE
  INSERT TNF_SERV_OP_ITEM ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_ITEM, 
       NM_ITEM,  IN_COLUNA, NR_ORDEM_FAT, CD_ITEM_NAO_FAT )
  SELECT F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, '867', 'COFINS, PIS, CSLL (4,65%)- R$ ' + 
         CAST(CAST(ROUND( SUM( 
           CASE IN_RESTITUI 
              WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) + ISNULL( FI.VL_IR, 0 ) ) 
              WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) + ISNULL( FI.VL_IR, 0 ) ) * (-1)
           END ), 2 ) AS DECIMAL (10, 2)) AS VARCHAR(20)) AS VL_ITEM, 
           CASE ISNULL( FI.CD_ITEM_NAO_FAT, '' )
             WHEN '*' THEN '1'
             ELSE CASE I.IN_TRIBUTAVEL
                     WHEN '0' THEN '2'
                     WHEN '1' THEN '3'
                  END
           END IN_COLUNA, '1004', -- Esse valor foi colocado somente aqui para que esse item seja último no relatório(não existe na TITEM)
           ISNULL( FI.CD_ITEM_NAO_FAT, '' )
  FROM   TS_FATURA F (NOLOCK),
         TS_FATURA_PROCESSO FP (NOLOCK),
         TPROCESSO P (NOLOCK),
         TFATURAMENTO_CC FI (NOLOCK),
         TITEM I (NOLOCK), TCLIENTE_HABILITACAO CH (NOLOCK), TEMPRESA_NAC EN (NOLOCK)
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         CH.CD_UNID_NEG = F.CD_UNID_NEG AND
         CH.CD_PRODUTO = F.CD_PRODUTO AND
         CH.CD_CLIENTE = EN.CD_EMPRESA AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
--         CH.IN_COBRAR_COFINS = '1' AND
         F.IN_CANCELADO = '0' AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_ITEM = ( @CD_ITEM_COFINS_RETENCAO ) AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solicitacao
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, FI.CD_ITEM, I.NM_ITEM, ISNULL( FI.CD_ITEM_NAO_FAT, '' ), I.IN_TRIBUTAVEL, I.NR_ORDEM_FAT
  ORDER BY I.NR_ORDEM_FAT
END

-- Atualiza a TNF_SERV_OP para ser utilizada no preview
UPDATE TNF_SERV_OP
SET NM_COFINS_PREVIEW = I.NM_ITEM
FROM TNF_SERV_OP_ITEM I (NOLOCK)
WHERE I.CD_ITEM = '867' AND
      I.CD_UNID_NEG    = @cd_unid_neg AND
      I.CD_PRODUTO     = @cd_produto AND
     I.NR_SOLICITACAO = @nr_solicitacao

INSERT TNF_SERV_OP_NUM ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, DT_NUM, NR_FP, VL_NUM )
SELECT distinct @cd_unid_neg, @cd_produto, @nr_solicitacao, F.DT_LANCAMENTO, ISNULL( F.NR_FP, '' ) AS NR_FP,
       ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                 FROM   TFATURAMENTO_CC FI (NOLOCK)
                 WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                        FI.CD_PRODUTO = F.CD_PRODUTO AND
                        FI.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                        FI.IN_CANCELADO = '0' AND
                        FI.IN_FATURADO = '1' AND
                        FI.DT_LANCAMENTO = F.DT_LANCAMENTO AND
                        ISNULL( FI.NR_FP, '' ) = ISNULL( F.NR_FP, '' ) AND
                        FI.CD_ITEM = ( @CD_ITEM_RECEB_NUM ) ), 0 ) -
       ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                 FROM   TFATURAMENTO_CC FI (NOLOCK)
                 WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                        FI.CD_PRODUTO = F.CD_PRODUTO AND
                        FI.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                        FI.IN_CANCELADO = '0' AND
                        FI.IN_FATURADO = '1' AND
                        FI.DT_LANCAMENTO = F.DT_LANCAMENTO AND
                        ISNULL( FI.NR_FP, '' ) = ISNULL( F.NR_FP, '' ) AND
                        FI.CD_ITEM = ( @CD_ITEM_EXTOR_NUM ) ), 0 ) -
       ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                 FROM   TFATURAMENTO_CC FI (NOLOCK)
                 WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                        FI.CD_PRODUTO = F.CD_PRODUTO AND
                        FI.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                        FI.IN_CANCELADO = '0' AND
                        FI.IN_FATURADO = '1' AND
                        FI.DT_LANCAMENTO = F.DT_LANCAMENTO AND
                        ISNULL( FI.NR_FP, '' ) = ISNULL( F.NR_FP, '' ) AND
                        FI.IN_RESTITUI = '0' AND
                        FI.CD_ITEM = ( @CD_ITEM_DEVOL_NUM ) ), 0 ) +
       ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
FROM   TFATURAMENTO_CC FI (NOLOCK)
                 WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                        FI.CD_PRODUTO = F.CD_PRODUTO AND
                        FI.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                        FI.IN_CANCELADO = '0' AND
            FI.IN_FATURADO = '1' AND
                        FI.DT_LANCAMENTO = F.DT_LANCAMENTO AND
                        ISNULL( FI.NR_FP, '' ) = ISNULL( F.NR_FP, '' ) AND
                        FI.IN_RESTITUI = '1' AND
                        FI.CD_ITEM = ( @CD_ITEM_DEVOL_NUM ) ), 0 ) AS VL_NUM
FROM   TFATURAMENTO_CC F (NOLOCK)
WHERE  F.IN_CANCELADO = '0' AND
       F.IN_FATURADO = '1' AND
       F.CD_UNID_NEG = @cd_unid_neg AND
       F.CD_PRODUTO = @cd_produto AND
       F.NR_SOLIC_FAT = @nr_solicitacao AND
       ( F.CD_ITEM IN ( @CD_ITEM_RECEB_NUM, @CD_ITEM_EXTOR_NUM, @CD_ITEM_DEVOL_NUM) ) 
GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLIC_FAT, F.DT_LANCAMENTO, F.NR_FP
HAVING 
      ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                FROM   TFATURAMENTO_CC FI (NOLOCK)
                WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                       FI.CD_PRODUTO = F.CD_PRODUTO AND
                       FI.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                       FI.IN_CANCELADO = '0' AND
                       FI.IN_FATURADO = '1' AND
                       FI.DT_LANCAMENTO = F.DT_LANCAMENTO AND
                       ISNULL( FI.NR_FP, '' ) = ISNULL( F.NR_FP, '' ) AND
                       FI.CD_ITEM = ( @CD_ITEM_RECEB_NUM ) ), 0 ) -
      ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                FROM   TFATURAMENTO_CC FI (NOLOCK)
                WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                       FI.CD_PRODUTO = F.CD_PRODUTO AND
                       FI.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                       FI.IN_CANCELADO = '0' AND
                       FI.IN_FATURADO = '1' AND
                       FI.DT_LANCAMENTO = F.DT_LANCAMENTO AND
                       ISNULL( FI.NR_FP, '' ) = ISNULL( F.NR_FP, '' ) AND
                       FI.CD_ITEM = ( @CD_ITEM_EXTOR_NUM ) ), 0 ) -
      ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                FROM   TFATURAMENTO_CC FI (NOLOCK)
                WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                       FI.CD_PRODUTO = F.CD_PRODUTO AND
                       FI.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                       FI.IN_CANCELADO = '0' AND
                       FI.IN_FATURADO = '1' AND
                       FI.DT_LANCAMENTO = F.DT_LANCAMENTO AND
                       ISNULL( FI.NR_FP, '' ) = ISNULL( F.NR_FP, '' ) AND
                       FI.IN_RESTITUI = '0' AND
                       FI.CD_ITEM = ( @CD_ITEM_DEVOL_NUM ) ), 0 ) +
      ISNULL( ( SELECT ROUND( SUM( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) ), 2 )
                FROM   TFATURAMENTO_CC FI (NOLOCK)
                WHERE  FI.CD_UNID_NEG = F.CD_UNID_NEG AND
                       FI.CD_PRODUTO = F.CD_PRODUTO AND
                       FI.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                       FI.IN_CANCELADO = '0' AND
                       FI.IN_FATURADO = '1' AND
                       FI.DT_LANCAMENTO = F.DT_LANCAMENTO AND
                       ISNULL( FI.NR_FP, '' ) = ISNULL( F.NR_FP, '' ) AND
                       FI.IN_RESTITUI = '1' AND
                       FI.CD_ITEM = ( @CD_ITEM_DEVOL_NUM ) ), 0 ) <> 0

DELETE TNF_SERV_OP_ITEM
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO = @cd_produto AND
       NR_SOLICITACAO = @nr_solicitacao AND
       ROUND( VL_ITEM, 2 ) = 0 AND NR_ORDEM_FAT NOT IN ('1000', '1001', '1002', '1003', '1004')

DECLARE @cd_item_delete char(3)

-- Exclui itens se a quantidade para ser impressa for maior que 26 - 19/07/2006
WHILE ( SELECT COUNT (NR_SOLICITACAO) FROM  TNF_SERV_OP_ITEM  (NOLOCK)
        WHERE  CD_UNID_NEG = @cd_unid_neg AND
               CD_PRODUTO = @cd_produto AND
               NR_SOLICITACAO = @nr_solicitacao ) > 45
BEGIN
  SET @cd_item_delete = ( SELECT TOP 1 CD_ITEM FROM  TNF_SERV_OP_ITEM WHERE  CD_UNID_NEG = @cd_unid_neg AND
                               CD_PRODUTO = @cd_produto AND NR_SOLICITACAO = @nr_solicitacao  
                               ORDER BY NR_ORDEM_FAT DESC )

  DELETE FROM TNF_SERV_OP_ITEM
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao AND
         CD_ITEM = @cd_item_delete

END

/* CALCULAR ISS POR DENTRO */
IF @in_cobrar_iss = '1' AND ROUND( ISNULL( @vl_iss, 0 ), 2 ) > 0
BEGIN
  UPDATE TNF_SERV_OP_ITEM
  SET    IN_COLUNA = '2'
  WHERE  IN_COLUNA = '3' AND
         CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao AND
         CD_ITEM = ( @CD_ITEM_ISS )
END
GO
