USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_CIFxTAXA]( @NR_SOLICITACAO char(6), @CD_CLIENTE char(5), @CD_UNID_NEG char(2),
			      @CD_PRODUTO char(2), @CD_SERVICO char(3), @CD_ITEM char(3) , @TAXA FLOAT OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @NR_PROCESSO char(18)
DECLARE @CD_CLIENTE char(5)
DECLARE @CD_UNID_NEG char(2)
DECLARE @CD_PRODUTO char(2)
DECLARE @CD_SERVICO char(3)
DECLARE @CD_ITEM char(3)
DECLARE @@TAXA varchar(20)
SELECT @CD_CLIENTE = '00001'
SELECT @CD_UNID_NEG = '01'
SELECT @CD_PRODUTO = '01'
SELECT @CD_SERVICO = '001'
SELECT @CD_ITEM = '001'


ROLLBACK TRAN
SET XACT_ABORT OFF

*/


DECLARE @DATA datetime
DECLARE @VL_NUM_TAXA float
DECLARE @VL_DEN_TAXA float
DECLARE @VL_TAXA float
DECLARE @CD_MOEDA_TAXA char(3)
DECLARE @TX_CAMBIO float




DECLARE TAXA_CURSOR CURSOR FOR
SELECT	--TP_DT_BASE,
	VL_NUM_TAXA,
	VL_DEN_TAXA,
	CD_MOEDA_TAXA
FROM TRECEITAS_IMP

WHERE CD_REGIME_TRIB = 0
AND IN_ATIVO = 1
AND TP_BASE_CALC_TAXA = 6

AND CD_CLIENTE = @CD_CLIENTE
AND CD_UNID_NEG = @CD_UNID_NEG
AND CD_PRODUTO = @CD_PRODUTO
AND CD_SERVICO = @CD_SERVICO
AND CD_ITEM = @CD_ITEM


OPEN TAXA_CURSOR

FETCH NEXT FROM TAXA_CURSOR
--INTO @TP_DT_BASE, @VL_NUM_TAXA, @VL_DEN_TAXA, @CD_MOEDA_TAXA
INTO @VL_NUM_TAXA, @VL_DEN_TAXA, @CD_MOEDA_TAXA

CLOSE TAXA_CURSOR
DEALLOCATE TAXA_CURSOR

SET @VL_TAXA = @VL_NUM_TAXA / @VL_DEN_TAXA

DECLARE DATA_CURSOR CURSOR FOR
SELECT
 DT_FATURA FROM TS_FATURA
WHERE IN_CANCELADO = 0
AND CD_UNID_NEG = @CD_UNID_NEG
AND CD_PRODUTO = @CD_PRODUTO
AND NR_SOLICITACAO = @NR_SOLICITACAO

OPEN DATA_CURSOR

FETCH NEXT FROM DATA_CURSOR
INTO @DATA

CLOSE DATA_CURSOR
DEALLOCATE DATA_CURSOR


DECLARE CAMBIO_CURSOR CURSOR FOR
SELECT TX_CAMBIO
FROM TTAXA_CAMBIO
WHERE CD_MOEDA = @CD_MOEDA_TAXA
AND CONVERT( DATETIME, @DATA, 103) BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA
OPEN CAMBIO_CURSOR

FETCH NEXT FROM CAMBIO_CURSOR
INTO @TX_CAMBIO

CLOSE CAMBIO_CURSOR
DEALLOCATE CAMBIO_CURSOR


SELECT @TAXA = @VL_TAXA * @TX_CAMBIO
/*
PRINT 'VL_NUM_TAXA:'
PRINT @VL_NUM_TAXA
PRINT 'VL_DEN_TAXA:'
PRINT @VL_DEN_TAXA
PRINT 'VL_TAXA'
PRINT @VL_TAXA
PRINT 'CD_MOEDA'
PRINT @CD_MOEDA_TAXA
PRINT 'DATA'
PRINT @DATA
PRINT 'CAMBIO'
PRINT @TX_CAMBIO
PRINT 'TAXA'
PRINT @TAXA
*/

RETURN(0)


GO
