USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_cancela_item_solic_pagamento]( @nr_processo char(18), @nr_lancamento char(3), @cd_item char(3) ) AS

/*
SET XACT_ABORT ON 
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_lancamento char(3)
DECLARE @cd_item char(3)

SELECT @nr_processo = '0101DP-1060-01'
SELECT @nr_lancamento = '008'
SELECT @cd_item = '992'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_usuario	    char(4)
DECLARE @vl_pagto  	    float
DECLARE @cd_status   	    char(2)
DECLARE @cd_status_item     char(2)
DECLARE @vl_saldo_processo  numeric(14,2)
DECLARE @result   	    integer
DECLARE @in_restitui  	    char(1)
DECLARE @nr_ref  	    char(3)
DECLARE @tp_destino  	    char(1)
DECLARE @nr_docto  	    char(6)
DECLARE @nr_devolucao  	    char(3)
DECLARE @nr_liquidacao      char(6)
DECLARE @dt_pagto	    datetime
DECLARE @dt_solic_pagto     datetime
DECLARE @nr_novo_lancamento char(3)
DECLARE @cd_item_pagto_sd   char(3)
DECLARE @dt_canc            datetime

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

SELECT @cd_item_pagto_sd = CD_ITEM_PAGTO_SD
FROM   TPARAMETROS

SELECT @cd_status_item = CD_STATUS
FROM   TSOLIC_PAGTO
WHERE  NR_PROCESSO      = @nr_processo AND 
       NR_LANCAMENTO    = @nr_lancamento AND
       CD_ITEM          = @cd_item

IF ( @cd_status_item NOT IN ( '4', '17' ) ) AND ( @cd_item <> @cd_item_pagto_sd )
BEGIN
  -- Solicita pagamento novamente
  SELECT @nr_novo_lancamento = ISNULL( MAX( NR_LANCAMENTO ), '000' )
  FROM   TSOLIC_PAGTO
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @nr_novo_lancamento = RIGHT( '000' + CONVERT( varchar(3), ( CONVERT( int, @nr_novo_lancamento ) + 1 ) ), 3 )

  INSERT TSOLIC_PAGTO ( NR_PROCESSO, CD_ITEM, VL_PAGTO, CD_DESTINO, DT_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, 
                        DT_SOLIC_PAGTO, HM_SOLIC_PAGTO, CD_CALCULO, IN_CALCULADO, CD_FAVORECIDO, CD_BANCO, NR_DOCTO, 
                        NR_REF, CD_USUARIO_SOLIC, CD_USUARIO_MONTA, CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, VL_DESCONTO, 
                        VL_PERC_DESCONTO, DT_CANCELAMENTO, CD_CANCELADOR, NR_LANCAMENTO, IN_TED )
  SELECT NR_PROCESSO, CD_ITEM, VL_PAGTO, CD_DESTINO, DT_PAGTO, '0', '1', IN_RESTITUI,
         DT_SOLIC_PAGTO, HM_SOLIC_PAGTO, CD_CALCULO, IN_CALCULADO, CD_FAVORECIDO, CD_BANCO, NULL,
         NULL, CD_USUARIO_SOLIC, NULL, '0', TP_DESTINO, '0', VL_DESCONTO, VL_PERC_DESCONTO, NULL,
         NULL, @nr_novo_lancamento, IN_TED
  FROM   TSOLIC_PAGTO
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_LANCAMENTO = @nr_lancamento AND
         CD_ITEM = @cd_item

  EXEC sp_proc_itens_solic_pagto @nr_processo, @nr_novo_lancamento, @cd_item
  
END

UPDATE TSOLIC_PAGTO
SET    CD_STATUS_CHEQUE = '3',
       CD_STATUS = '4',
       DT_CANCELAMENTO  = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103), 103 ),
       CD_CANCELADOR = @cd_usuario,
       IN_TRANSF_FIN = '0'
WHERE  NR_PROCESSO      = @nr_processo AND 
       NR_LANCAMENTO    = @nr_lancamento AND
       CD_ITEM          = @cd_item

SELECT @dt_pagto       = DT_PAGTO,
       @dt_solic_pagto = DT_SOLIC_PAGTO,
       @nr_ref         = NR_REF,
       @tp_destino     = TP_DESTINO,
       @nr_docto       = NR_DOCTO,
       @cd_status      = CD_STATUS,
       @vl_pagto       = 
         CASE IN_RESTITUI
           WHEN '0' THEN ( ISNULL( VL_PAGTO, 0 ) )
           WHEN '1' THEN ( ISNULL( VL_PAGTO, 0 ) ) * (-1)
         END,
       @in_restitui    = IN_RESTITUI
FROM   TSOLIC_PAGTO (NOLOCK)
WHERE  NR_PROCESSO = @nr_processo AND 
       NR_LANCAMENTO = @nr_lancamento AND
       CD_ITEM = @cd_item

IF ( SELECT COUNT(*)
     FROM   TCLIENTE_BANCO_LIBERADO L,
            TSOLIC_PAGTO S,
            TPROCESSO P
     WHERE  P.CD_CLIENTE  = L.CD_CLIENTE  AND
            P.CD_UNID_NEG = L.CD_UNID_NEG AND
            P.CD_PRODUTO  = L.CD_PRODUTO  AND
            S.CD_BANCO    = L.CD_BANCO    AND
            P.NR_PROCESSO = @nr_processo  AND
            S.DT_PAGTO    = @dt_pagto  AND
            S.CD_ITEM = @nr_ref AND
            L.IN_ATIVO    = '1' ) > 0
BEGIN
  IF @cd_item NOT IN ('991','992','993','997','998','987','988')
  BEGIN
    IF @in_restitui = '0'
    BEGIN       EXEC sp_cancela_receb_autom @nr_processo, @cd_item, @vl_pagto, @cd_usuario, @dt_pagto, @nr_ref
    END
    ELSE
    BEGIN
      SELECT @nr_devolucao = NR_DEVOLUCAO
      FROM   TDEVOLUCAO
      WHERE  DT_SOLIC_CH = @dt_pagto AND
             NR_SOLIC_CH = @nr_ref
      IF @nr_devolucao IS NOT NULL
         EXEC sp_cancela_devolucao @nr_processo, @nr_devolucao
    END
  END
END

IF ( @cd_status IN ('0','4','6','8') ) AND ( @cd_item <> '991' ) AND ( @cd_item <> '992' ) AND ( ISNULL( @nr_ref, '' ) <> '' )
BEGIN
  EXEC sp_atualiza_utilizado @nr_processo, @cd_item, @vl_pagto, '-'
END

IF ( SELECT COUNT(*) 
     FROM   TSOLIC_PAGTO
     WHERE  NR_PROCESSO = @nr_processo AND 
            NR_LANCAMENTO = @nr_lancamento AND
            CD_ITEM = @cd_item AND
            @cd_status  NOT IN ( '4' ) ) > 0
BEGIN
  UPDATE TSOLIC_PAGTO
  SET    CD_STATUS = '17', /*Cancelado pelo Sistema */
         CD_STATUS_CHEQUE = '3',
         DT_CANCELAMENTO  = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103), 103 ),
         CD_CANCELADOR    = @cd_usuario
  WHERE  NR_PROCESSO      = @nr_processo AND 
         NR_LANCAMENTO    = @nr_lancamento AND
         CD_ITEM          = @cd_item
END

SELECT @nr_liquidacao = NR_LIQUIDACAO
FROM   TLIQUIDACAO
WHERE  DT_SOLIC_CH   = CONVERT( char(10), @dt_solic_pagto, 103 ) AND 
       NR_SOLIC_CH   = @nr_lancamento AND
       NR_PROCESSO   = @nr_processo AND
       ABS( VL_LIQUIDACAO ) = ABS( @vl_pagto ) AND
       ( ( TP_LIQUIDACAO = 'R' AND @cd_item = '998' ) OR
         ( TP_LIQUIDACAO = 'P' AND @cd_item = '997' ) )

UPDATE TLIQUIDACAO
SET    DT_SOLIC_CH = NULL,
       NR_SOLIC_CH = NULL,
       IN_TRANSFERIDO = '0'
WHERE  NR_PROCESSO   = @nr_processo AND
       NR_LIQUIDACAO = @nr_liquidacao

SELECT @nr_devolucao = NR_DEVOLUCAO
FROM   TDEVOLUCAO
WHERE  DT_SOLIC_CH = CONVERT( char(10), @dt_pagto, 103 ) AND
       NR_SOLIC_CH = @nr_lancamento AND       NR_PROCESSO = @nr_processo

IF @nr_devolucao IS NOT NULL
BEGIN
  UPDATE TDEVOLUCAO  
  SET    DT_SOLIC_CH = NULL,
         NR_SOLIC_CH = NULL
  WHERE  NR_PROCESSO  = @nr_processo AND
         NR_DEVOLUCAO = @nr_devolucao
END

-- Atualiza Financeiro/Faturamento
IF @cd_status_item IN ( '4', '7', '8', '9', '10', '11', '16' )
BEGIN
  SELECT @dt_canc = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )
  IF ISNULL( @nr_ref, '' ) <> '' 
     EXEC sp_distribui_pagamento @dt_pagto, @dt_canc, @nr_ref, @tp_destino
END
ELSE
BEGIN
  UPDATE TSOLIC_PAGTO
  SET    IN_TRANSF_FIN = '1'
  WHERE  NR_PROCESSO      = @nr_processo AND 
         NR_LANCAMENTO    = @nr_lancamento AND
         CD_ITEM          = @cd_item
END






GO
