USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_duplica_po    Script Date: 02/09/1999 08:58:11 AM ******/
CREATE PROCEDURE [sp_duplica_po]( @nr_processo_fonte char(18), @nr_processo_destino char(18) ) AS
/* Verifica se Processo fonte Existe */
IF ( SELECT COUNT (*) 
     FROM   TPO
     WHERE  ( NR_PROCESSO = @nr_processo_fonte ) ) = 0
BEGIN
  /* Processo Nao Existe */
  RETURN (1)
END
ELSE
BEGIN
  /* Verifica se Processo destino Existe */
  IF ( SELECT COUNT (*) 
       FROM   TPO
       WHERE  ( NR_PROCESSO = @nr_processo_destino ) ) > 0
  BEGIN
    /* Processo ja Existe */
    RETURN (2)
  END
  ELSE
  BEGIN
    /* Transferir dados da PO */
    INSERT INTO TPO ( NR_PROCESSO, NR_IDENT_USUARIO, CD_IMPORTADOR, CD_CONSIGNATARIO, CD_FABRICANTE, CD_EXPORTADOR,
      CD_VIA_TRANSP, CD_REPRESENTANTE, CD_MOD_PAGAMENTO, CD_PAIS_ORIGEM, CD_REGIME_TRIB, CD_PAIS_PROCEDENCIA,
      CD_MOEDA_NEG, CD_PAIS_AQUISICAO, CD_TP_DECLARACAO, CD_URF_DESPACHO, CD_INCOTERM, CD_TRANSP_INTERN, CD_BANDEIRA_VEIC,
      CD_SETOR_ARMAZENAGEM, CD_LOCAL_EMBARQUE, CD_AGENTE_CARGA, CD_URF_ENTRADA, CD_RECINTO_ALFAND, CD_MOEDA_FRETE,
      CD_MOEDA_SEGURO, CD_MOEDA_CARGA, CD_LOCAL_INCOTERM, CD_TX_JUROS, CD_INSTIT_FINANC, CD_MOTIVO_CAMBIO_SEM_COBERT,
      CD_BARRA,  CD_MET_VALORACAO_ADUAN, DT_ABERTURA, 
      IN_APLICACAO_MERC, IN_COMISSAO, IN_DESCONTO, IN_TP_COMISSAO, 
      IN_TP_DESCONTO, IN_INDICADOR_CONSIG_IMPORT, IN_INDICADOR_PROC,
      IN_VINC_IMPO_EXPO, IN_COND_MERCADORIA, IN_FABR_EXPOR_IMP, IN_INDIC_MULTMODAL, IN_FUNDAP, IN_UTILIZ_CARGA,
      IN_INDIC_TX_JUROS, IN_SEGURO, NR_PLACA_VEICULO, NM_IDENT_CRT, NM_VEICULO, PC_COMISSAO, PC_DESCONTO, 
      PC_SEGURO, PC_COMISSAO_AGENTE, PL_PO, PB_PO, QT_TOTAL_PESO,
      QT_PORC_ICMS, QT_TOTAL_ITENS, QT_PORC_RED_ICMS, QT_TOTAL_DISPONIVEL, QT_PERIODICIDADE, TP_COBERT_CAMBIO, TP_CAMBIO,
      TP_DOC_CARGA, TP_FRETE, TP_SEGURO, TP_MOD_DESPACHO, TP_MANIFESTO, TX_JUROS, TX_OBSERVACAO, VL_COMISSAO,
      VL_CARGA, VL_CAMBIO, VL_DESCONTO, VL_FRETE_PREPAID, VL_FRETE_COLLECT, VL_FRETE_TERRIT_NAC, VL_SEGURO, VL_TOTAL,
      VL_TOTAL_PARCELA, VL_PAGTO_ANTECIPADO, VL_PAGTO_VISTA, VL_PERIODIC_MENSAL, VL_DESPESAS, VL_DESCONTOS, 
      IN_SELECIONADO, IN_MONTADO, IN_IND_COND_MERC, IN_IND_CAMBIO_ITENS, NR_PARCELAS, IN_PERIODICIDADE,
      CD_AREA, CD_COMPRADOR, CD_TERMO_PAGTO, DT_NECESSIDADE, CD_TIPO_FRETE, IN_ENTREPOSTO, IN_FATURADO, IN_IMEDIATO, 
      CD_LOCAL_DESEMBARQUE, VL_FRETE_INTERNO, VL_EMBALAGEM, TX_OBS_INTERNO )
    SELECT @nr_processo_destino, NR_IDENT_USUARIO, CD_IMPORTADOR, CD_CONSIGNATARIO, CD_FABRICANTE, CD_EXPORTADOR,
      CD_VIA_TRANSP, CD_REPRESENTANTE, CD_MOD_PAGAMENTO, CD_PAIS_ORIGEM, CD_REGIME_TRIB, CD_PAIS_PROCEDENCIA,
      CD_MOEDA_NEG, CD_PAIS_AQUISICAO, CD_TP_DECLARACAO, CD_URF_DESPACHO, CD_INCOTERM, CD_TRANSP_INTERN, CD_BANDEIRA_VEIC,
      CD_SETOR_ARMAZENAGEM, CD_LOCAL_EMBARQUE, CD_AGENTE_CARGA, CD_URF_ENTRADA, CD_RECINTO_ALFAND, CD_MOEDA_FRETE,
      CD_MOEDA_SEGURO, CD_MOEDA_CARGA, CD_LOCAL_INCOTERM, CD_TX_JUROS, CD_INSTIT_FINANC, CD_MOTIVO_CAMBIO_SEM_COBERT,
      CD_BARRA, CD_MET_VALORACAO_ADUAN, convert( datetime, convert( varchar(10), getdate(), 103), 103 ), 
      IN_APLICACAO_MERC, IN_COMISSAO, IN_DESCONTO, IN_TP_COMISSAO, 
      IN_TP_DESCONTO, IN_INDICADOR_CONSIG_IMPORT, IN_INDICADOR_PROC,
      IN_VINC_IMPO_EXPO, IN_COND_MERCADORIA, IN_FABR_EXPOR_IMP, IN_INDIC_MULTMODAL, IN_FUNDAP, IN_UTILIZ_CARGA,
      IN_INDIC_TX_JUROS, IN_SEGURO, NR_PLACA_VEICULO, NM_IDENT_CRT, NM_VEICULO, PC_COMISSAO, PC_DESCONTO, 
      PC_SEGURO, PC_COMISSAO_AGENTE, PL_PO, PB_PO, QT_TOTAL_PESO,
      QT_PORC_ICMS, QT_TOTAL_ITENS, QT_PORC_RED_ICMS, 999, QT_PERIODICIDADE, TP_COBERT_CAMBIO, TP_CAMBIO,
      TP_DOC_CARGA, TP_FRETE, TP_SEGURO, TP_MOD_DESPACHO, TP_MANIFESTO, TX_JUROS, TX_OBSERVACAO, VL_COMISSAO,
      VL_CARGA, VL_CAMBIO, VL_DESCONTO, VL_FRETE_PREPAID, VL_FRETE_COLLECT, VL_FRETE_TERRIT_NAC, VL_SEGURO, VL_TOTAL,
      VL_TOTAL_PARCELA, VL_PAGTO_ANTECIPADO, VL_PAGTO_VISTA, VL_PERIODIC_MENSAL, VL_DESPESAS, VL_DESCONTOS, 
      '0', '0', IN_IND_COND_MERC, IN_IND_CAMBIO_ITENS, NR_PARCELAS, IN_PERIODICIDADE, CD_AREA, CD_COMPRADOR, CD_TERMO_PAGTO, DT_NECESSIDADE, CD_TIPO_FRETE, IN_ENTREPOSTO, IN_FATURADO, IN_IMEDIATO, 
      CD_LOCAL_DESEMBARQUE, VL_FRETE_INTERNO, VL_EMBALAGEM, TX_OBS_INTERNO
    FROM   TPO
    WHERE  NR_PROCESSO = @nr_processo_fonte

    /* Transferir dados da PO - Itens */
    INSERT INTO TPO_ITEM ( NR_PROCESSO, NR_ITEM, CD_EXPORTADOR, CD_NALADI_SH, CD_PAIS_AQUISICAO, CD_MERCADORIA, 
      CD_FABRICANTE, CD_PAIS_ORIGEM, CD_NCM_SH, CD_NALADI_NCCA, CD_MET_VALOR_ADUANEIRA, CD_DISP_LEGAL_EXONERA, 
      CD_MOEDA_NEGOCIADA, CD_INCOTERM, CD_ACORDO_ALADI, CD_REG_TRIB_II, CD_FUND_LEGAL_II, CD_UNID_MEDIDA, CD_UNID_MED_II, 
      CD_UNID_MED_IPI, CD_UNID_MED_AD, CD_AGENTE_CAMBIO, CD_MOD_PAGTO, CD_TX_JUROS, CD_INSTITUICAO_FINANC, 
      CD_MOT_SEM_COBERT_CAMBIAL, CD_EX_II, CD_EX_IPI, CD_VIA_TRANSP, CD_PAIS_PROCEDENCIA, CD_URF_ENTRADA, IN_NECESSITA_LI, 
      IN_INDICADOR_COND_MERC, IN_COND_MERC, IN_APLIC_MERC, NM_ORGAO_EMISSOR_AL_EX_NALADI, NM_AL_EX_NALADI, 
      NM_ORGAO_EMISSOR_AL_NCM, NM_AL_EX_NALADI_NCCA, NM_ORG_EMISSOR_EX_NALADI_NCCA, NM_AL_II, NM_ORGAO_EMISSOR_II, 
      NM_ORGAO_EMISSOR_IPI, NM_AL_IPI, NM_AL_AD, NM_ORGAO_EMISSOR_AD, NM_IDENTIFICACAO, NR_ANO_EMISSAO_AL_EX_NALADI, 
      NR_AL_EX_NALADI, NR_EX_NCM, NR_AL_EX_NCM, NR_ANO_EMISSAO_AL, NR_ATO_LEGAL, NR_EX_NALADI, NR_EX_NALADI_NCCA, 
      NR_ANO_EMISSAO_EX_NALADI_NCCA, NR_AL_EX_NALADI_NCCA, NR_ANO_II, NR_AL_II, NR_ALIQ_NORMAL_II, NR_ALIQ_ACORDO_II, 
      NR_ALIQ_REDUZIDA_II, NR_ALIQ_PERC_RED_II, NR_ANO_IPI, NR_AL_IPI, NR_NOTA_COMPL_IPI, NR_ALIQ_NORMAL_IPI, 
      NR_ALIQ_REDUZIDA_IPI, NR_ALIQ_PERC_RED_IPI, NR_EX_AD, NR_ANO_AD, NR_AL_AD, NR_ALIQ_AD, NR_BASE_CALC_AD,
      NR_PARCELAS, NR_PERIODICIDADE, NR_ROF_BACEN, PC_DESCONTO, PC_ICMS, PC_ICMS_REDUCAO, PC_COMISSAO,
      PL_ITEM, QT_INICIAL, QT_BAIXADA_DI, QT_BAIXADA_LI, QT_ESPEC_II, QT_ESPEC_IPI, QT_AD, QT_MED_ESTATISTICA,
      TP_CALCULO, TP_COMISSAO, TP_ACORDO_TARIFARIO, TP_TRIBUTACAO_IPI, TP_CAMBIO, TP_IND_TX_JUROS, TP_IND_PERIODICIDADE,
      TP_RECIPIENTE, TP_IND_MULTIMODAL, TX_MERCADORIA, TX_JUROS_CAMBIO, VL_DESPESA_MOEDA, VL_DESCONTO_MOEDA,
      VL_UNITARIO, VL_TOTAL, VL_DESCONTO, VL_COMISSAO, VL_ESPEC_II, VL_ESPEC_IPI, VL_ESPEC_AD, VL_TOTAL_PARCELAS,
      VL_COBERT_ACIMA_360, VL_PAGTO_ANTECIPADO, VL_PAGTO_AVISTA, VL_FRETE_NAC_MOEDA, VL_SEGURO_MOEDA,
      VL_ACRESC_MOEDA, VL_DEDUC_MOEDA, VL_FRETE_PREPAID_MOEDA, VL_FRETE_COLLECT, IN_SELECIONADO, QT_BAIXAR,
      QT_DISPONIVEL, IN_MONTADO, IN_FABR_EXP_PROD, NR_ANO_EX_NCM, NR_NUM_EX_NCM, IN_IND_COND_MERC, NM_LOCAL_INCOTERM,
      NM_TIPO_AL_AD, IN_IND_PERIODICIDADE, IN_REG_TRIB_IPI, QT_INICIAL_EST )
    SELECT @nr_processo_destino, NR_ITEM, CD_EXPORTADOR, CD_NALADI_SH, CD_PAIS_AQUISICAO, CD_MERCADORIA, 
      CD_FABRICANTE, CD_PAIS_ORIGEM, CD_NCM_SH, CD_NALADI_NCCA, CD_MET_VALOR_ADUANEIRA, CD_DISP_LEGAL_EXONERA, 
      CD_MOEDA_NEGOCIADA, CD_INCOTERM, CD_ACORDO_ALADI, CD_REG_TRIB_II, CD_FUND_LEGAL_II, CD_UNID_MEDIDA, CD_UNID_MED_II, 
      CD_UNID_MED_IPI, CD_UNID_MED_AD, CD_AGENTE_CAMBIO, CD_MOD_PAGTO, CD_TX_JUROS, CD_INSTITUICAO_FINANC, 
      CD_MOT_SEM_COBERT_CAMBIAL, CD_EX_II, CD_EX_IPI, CD_VIA_TRANSP, CD_PAIS_PROCEDENCIA, CD_URF_ENTRADA, IN_NECESSITA_LI, 
      IN_INDICADOR_COND_MERC, IN_COND_MERC, IN_APLIC_MERC, NM_ORGAO_EMISSOR_AL_EX_NALADI, NM_AL_EX_NALADI, 
      NM_ORGAO_EMISSOR_AL_NCM, NM_AL_EX_NALADI_NCCA, NM_ORG_EMISSOR_EX_NALADI_NCCA, NM_AL_II, NM_ORGAO_EMISSOR_II, 
      NM_ORGAO_EMISSOR_IPI, NM_AL_IPI, NM_AL_AD, NM_ORGAO_EMISSOR_AD, NM_IDENTIFICACAO, NR_ANO_EMISSAO_AL_EX_NALADI, 
      NR_AL_EX_NALADI, NR_EX_NCM, NR_AL_EX_NCM, NR_ANO_EMISSAO_AL, NR_ATO_LEGAL, NR_EX_NALADI, NR_EX_NALADI_NCCA, 
      NR_ANO_EMISSAO_EX_NALADI_NCCA, NR_AL_EX_NALADI_NCCA, NR_ANO_II, NR_AL_II, NR_ALIQ_NORMAL_II, NR_ALIQ_ACORDO_II, 
      NR_ALIQ_REDUZIDA_II, NR_ALIQ_PERC_RED_II, NR_ANO_IPI, NR_AL_IPI, NR_NOTA_COMPL_IPI, NR_ALIQ_NORMAL_IPI, 
      NR_ALIQ_REDUZIDA_IPI, NR_ALIQ_PERC_RED_IPI, NR_EX_AD, NR_ANO_AD, NR_AL_AD, NR_ALIQ_AD, NR_BASE_CALC_AD,
      NR_PARCELAS, NR_PERIODICIDADE, NR_ROF_BACEN, PC_DESCONTO, PC_ICMS, PC_ICMS_REDUCAO, PC_COMISSAO,
      PL_ITEM, QT_INICIAL, 0, 0, QT_ESPEC_II, QT_ESPEC_IPI, QT_AD, QT_MED_ESTATISTICA,
      TP_CALCULO, TP_COMISSAO, TP_ACORDO_TARIFARIO, TP_TRIBUTACAO_IPI, TP_CAMBIO, TP_IND_TX_JUROS, TP_IND_PERIODICIDADE,
      TP_RECIPIENTE, TP_IND_MULTIMODAL, TX_MERCADORIA, TX_JUROS_CAMBIO, VL_DESPESA_MOEDA, VL_DESCONTO_MOEDA,
      VL_UNITARIO, VL_TOTAL, VL_DESCONTO, VL_COMISSAO, VL_ESPEC_II, VL_ESPEC_IPI, VL_ESPEC_AD, VL_TOTAL_PARCELAS,
      VL_COBERT_ACIMA_360, VL_PAGTO_ANTECIPADO, VL_PAGTO_AVISTA, VL_FRETE_NAC_MOEDA, VL_SEGURO_MOEDA,
      VL_ACRESC_MOEDA, VL_DEDUC_MOEDA, VL_FRETE_PREPAID_MOEDA, VL_FRETE_COLLECT, '0', 0,
      QT_INICIAL, '0', IN_FABR_EXP_PROD, NR_ANO_EX_NCM, NR_NUM_EX_NCM, IN_IND_COND_MERC, NM_LOCAL_INCOTERM,
      NM_TIPO_AL_AD, IN_IND_PERIODICIDADE, IN_REG_TRIB_IPI, QT_INICIAL_EST
      FROM   TPO_ITEM
      WHERE  NR_PROCESSO = @nr_processo_fonte

    /* Transferir dados da PO - NVE */
    INSERT INTO TPO_NVE ( NR_PROCESSO, NR_ITEM, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM, CD_NCM_ATRIBUTO, CD_NCM_ESPECIF )
      SELECT @nr_processo_destino, NR_ITEM, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM, CD_NCM_ATRIBUTO, CD_NCM_ESPECIF  
      FROM   TPO_NVE
      WHERE  NR_PROCESSO = @nr_processo_fonte
    RETURN (0)
  END
END








GO
