USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [sp_aviso_po_drawback]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18) 
SELECT @nr_processo = '0101IN-0088-01'
SELECT @cd_usuario = '0053'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/
DECLARE @nr_proc_po    char(18)
DECLARE @vl_qtde       float
DECLARE @cd_mercadoria varchar(30)
DECLARE @ap_mercadoria char(15)
DECLARE @mensagem      varchar(5000)
DECLARE @cabecalho    varchar(50)

SELECT @cabecalho = 'Pedidos Indaia - Drawback' + char(10) + char(10)

SELECT @mensagem = ''
DECLARE c_ato CURSOR FOR
  SELECT I.NR_PROCESSO, I.QT_INICIAL, I.CD_MERCADORIA, M.AP_MERCADORIA
  FROM   TPO_ITEM I, TMERCADORIA M
  WHERE  I.CD_MERCADORIA = M.CD_MERCADORIA AND
         M.IN_ATO_DRAWBACK = '1' AND
         I.NR_PROCESSO = @nr_processo
  GROUP BY I.NR_PROCESSO, I.QT_INICIAL, I.CD_MERCADORIA, M.AP_MERCADORIA
OPEN c_ato
FETCH c_ato INTO @nr_proc_po, @vl_qtde, @cd_mercadoria, @ap_mercadoria
WHILE @@fetch_status = 0
BEGIN
  SELECT @mensagem = @mensagem +
                     'Pedido: ' + @nr_proc_po + char(10) + 
                     'Cod:    ' + @cd_mercadoria + char(10) + 
                     'Merc.:  ' + @ap_mercadoria + char(10) +
                     'Qtde:   ' + CONVERT( varchar(12), CONVERT( numeric(14,5), @vl_qtde ) ) + char(10) + char(10)

  FETCH c_ato INTO @nr_proc_po, @vl_qtde, @cd_mercadoria, @ap_mercadoria
END
CLOSE c_ato
DEALLOCATE c_ato

IF LTRIM( RTRIM( @mensagem ) ) <> ''
BEGIN
  SELECT @mensagem = @cabecalho + @mensagem

  DECLARE @destino varchar(5000)
  DECLARE @nm_mail varchar(50)

  SELECT @destino = ''
  DECLARE c_contato CURSOR FOR 
    SELECT NM_EMAIL
    FROM   TCLIENTE_CONTATO C, TPO P
    WHERE  C.CD_UNID_NEG = '01' AND
           C.CD_PRODUTO = '01' AND
           P.CD_IMPORTADOR  = C.CD_CLIENTE AND
           C.IN_DRAWBACK = 1 AND
           P.NR_PROCESSO = @nr_processo

  OPEN c_contato
  FETCH c_contato INTO @nm_mail
  WHILE @@fetch_status = 0
  BEGIN
    IF LTRIM( RTRIM( @destino ) ) <> ''
      SELECT @destino = @destino + ';'

    SELECT @destino = @destino + LTRIM( RTRIM( @nm_mail ) )
    
    FETCH c_contato INTO @nm_mail
  END
  CLOSE c_contato
  DEALLOCATE c_contato

  IF LTRIM( RTRIM( @destino ) ) <> ''
    EXEC master.dbo.xp_sendmail @destino, 
         @subject = 'Pedidos - Drawback',
         @message = @mensagem
END




GO
