USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_prev_calculo](@nr_processo CHAR(18)) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo CHAR(18)
SELECT @nr_processo = '0701IA-1132-13'
--*/

DECLARE @pc_aliq_reduzida              FLOAT
DECLARE @in_calc_mp164                 CHAR(1)
DECLARE @vl_icms_total                 NUMERIC(16, 3)
DECLARE @pc_reducao_icms_ad            FLOAT
DECLARE @cd_reg_trib_icms              CHAR(1)
DECLARE @cd_tipo_benef_pis_cofins      CHAR(1)
DECLARE @vl_mcv_mn                     FLOAT
DECLARE @Incoterm                      CHAR(3)
DECLARE @cd_item_vmle                  CHAR(3)
DECLARE @cd_item_frete                 CHAR(3)
DECLARE @cd_item_frete_aereo           CHAR(3)
DECLARE @cd_item_frete_mar             CHAR(3)
DECLARE @cd_item_seg                   CHAR(3)
DECLARE @cd_item_ii                    CHAR(3)
DECLARE @cd_item_ipi                   CHAR(3)
DECLARE @cd_item_siscomex              CHAR(3)
DECLARE @cd_item_icms                  CHAR(3)
DECLARE @cd_item_sda                   CHAR(3)
DECLARE @CD_ITEM_PIS_IMP               CHAR(3)
DECLARE @CD_ITEM_COFINS_IMP            CHAR(3)
DECLARE @cd_via_transp                 CHAR(2)
DECLARE @cd_moeda_mle                  CHAR(3)
DECLARE @cd_moeda_mle_ad               CHAR(3)
DECLARE @cd_moeda_frete                CHAR(3)
DECLARE @cd_moeda_seg                  CHAR(3)
DECLARE @cd_base_seg                   CHAR(1)
DECLARE @cd_reg_trib_ii                CHAR(1)
DECLARE @cd_fund_leg_regime            CHAR(2)
DECLARE @in_moeda_unica                BIT
DECLARE @in_ipi_nao_tributavel         BIT
DECLARE @in_embut_frt_itens            BIT
DECLARE @in_embut_seg_itens            BIT
DECLARE @cd_tipo_benef_ipi             CHAR(1)
DECLARE @cd_incoterm                   CHAR(3)
DECLARE @pc_ii_normal                  NUMERIC(11, 6)
DECLARE @pc_ii_reduzida                NUMERIC(11, 6)
DECLARE @pc_ii_reducao                 NUMERIC(11, 6)
DECLARE @pc_ipi_normal                 NUMERIC(11, 6)
DECLARE @pc_ipi_reduzida               NUMERIC(11, 6)
DECLARE @pc_icms                       NUMERIC(11, 6)
DECLARE @pc_aliq_icms                  NUMERIC(11, 6)
DECLARE @pc_aliq_icms_red              NUMERIC(11, 6)
DECLARE @pc_aliq_acordo                NUMERIC(11, 6)
DECLARE @CD_TIPO_ACORDO_TAR            CHAR(1)
DECLARE @pc_taxa_sda                   FLOAT
DECLARE @pc_contr_assist               FLOAT
DECLARE @vl_mle_mn                     NUMERIC(16, 3)
DECLARE @vl_mle_mneg                   NUMERIC(16, 3)
DECLARE @vl_frete_mn                   NUMERIC(16, 3)
DECLARE @vl_frete_mneg                 NUMERIC(16, 3)
DECLARE @vl_desp_mn                    NUMERIC(16, 3)
DECLARE @vl_desp_mneg                  NUMERIC(16, 3)
DECLARE @vl_seg_mn                     NUMERIC(16, 3)
DECLARE @vl_seg_mneg                   NUMERIC(16, 3)
DECLARE @vl_tx_mneg                    NUMERIC(14, 7)
DECLARE @vl_tx_mneg_ad                 NUMERIC(14, 7)
DECLARE @vl_tx_dolar                   NUMERIC(14, 7)
DECLARE @vl_tx_frete                   NUMERIC(14, 7)
DECLARE @vl_tx_seg                     NUMERIC(14, 7)
DECLARE @vl_soma_frete_mneg            NUMERIC(16, 3)
DECLARE @vl_soma_frete_mn              NUMERIC(16, 3)
DECLARE @vl_soma_desp_mneg             NUMERIC(16, 3)
DECLARE @vl_soma_desp_mn               NUMERIC(16, 3)
DECLARE @vl_soma_seg_mneg              NUMERIC(16, 3)
DECLARE @vl_soma_seg_mn                NUMERIC(16, 3)
DECLARE @vl_soma_mle_mneg              NUMERIC(16, 3)
DECLARE @vl_soma_mle_mn                NUMERIC(16, 3)
DECLARE @vl_soma_pl                    NUMERIC(16, 6)
DECLARE @vl_soma_tx_scx                NUMERIC(16, 3)
DECLARE @vl_tot_mle_mn                 NUMERIC(16, 3)
DECLARE @vl_tot_mle_mn_ad              NUMERIC(16, 3)
DECLARE @vl_tot_mle_mneg               NUMERIC(16, 3)
DECLARE @vl_tot_frete_mn               NUMERIC(16, 3)
DECLARE @vl_tot_frete_mneg             NUMERIC(16, 3)
DECLARE @vl_tot_desp_mn                NUMERIC(16, 3)
DECLARE @vl_tot_desp_mneg              NUMERIC(16, 3)
DECLARE @vl_tot_seg_mn                 NUMERIC(16, 3)
DECLARE @vl_tot_seg_mneg               NUMERIC(16, 3)
DECLARE @vl_cif_mn                     NUMERIC(16, 3)
DECLARE @pl_tot_merc                   NUMERIC(16, 6)
DECLARE @pl_merc                       NUMERIC(16, 6)
DECLARE @VL_PIS                        NUMERIC(16, 2)
DECLARE @VL_PIS_TOTAL                  NUMERIC(16, 2)
DECLARE @vl_pis_calculado              FLOAT
DECLARE @vl_aliq_pis                   NUMERIC(16, 2)
DECLARE @vl_aliq_cofins                NUMERIC(16, 2)
DECLARE @aliq_pis_reduzida             NUMERIC(16, 2)
DECLARE @aliq_cofins_reduzida          NUMERIC(16, 2)
DECLARE @VL_COFINS                     NUMERIC(16, 2)
DECLARE @VL_COFINS_TOTAL               NUMERIC(16, 2)
DECLARE @vl_cofins_calculado           FLOAT
DECLARE @vl_aliquota_especifica_pis    FLOAT  -- Campo adicionado para aliquota especifica - Michel - 12 / 03 / 2010
DECLARE @vl_aliquota_especifica_cofins FLOAT  -- Campo adicionado para aliquota especifica - Michel - 12 / 03 / 2010
DECLARE @qtd_unid_especifica_pis       FLOAT  -- Campo adicionado para aliquota especifica - Michel - 12 / 03 / 2010
DECLARE @qtd_unid_especifica_cofins    FLOAT  -- Campo adicionado para aliquota especifica - Michel - 12 / 03 / 2010
DECLARE @VL_BASE_PIS                   NUMERIC(16, 2)
DECLARE @VL_BASE_PIS_RED               NUMERIC(16, 2)
DECLARE @pc_reducao_pis_cofins         NUMERIC(16, 2)
DECLARE @vl_taxa_siscomex              NUMERIC(16, 2)
DECLARE @vl_despesas_adic              NUMERIC(16, 2)
DECLARE @vl_min_di_diretor             NUMERIC(16, 2)
DECLARE @qt_mercad_aliq_especif        NUMERIC(10, 1)
DECLARE @vl_aliq_unit_especif          NUMERIC(11, 6)
DECLARE @vl_calc_aliq_especif          NUMERIC(16, 3)
DECLARE @vl_base_calc_ii               NUMERIC(16, 3)
DECLARE @vl_base_calc_ipi              NUMERIC(16, 3)
DECLARE @vl_ii_normal                  NUMERIC(16, 3)
DECLARE @vl_ii_reduzido                NUMERIC(16, 3)
DECLARE @vl_ii_devido                  NUMERIC(16, 3)
DECLARE @vl_ii_a_recolher              NUMERIC(16, 3)
DECLARE @vl_ipi_normal                 NUMERIC(16, 3)
DECLARE @vl_ipi_reduzido               NUMERIC(16, 3)
DECLARE @vl_ipi_devido                 NUMERIC(16, 3)
DECLARE @vl_ipi_a_recolher             NUMERIC(16, 3)
DECLARE @vl_tot_ii                     NUMERIC(16, 3)
DECLARE @vl_tot_ipi                    NUMERIC(16, 3)
DECLARE @vl_tot_icms                   NUMERIC(16, 3)
DECLARE @vl_tot_siscomex               NUMERIC(16, 3)
DECLARE @vl_tx_scx_ad                  NUMERIC(16, 3)
DECLARE @vl_icms                       NUMERIC(16, 3)
DECLARE @vl_icms_devido                NUMERIC(16, 3)
DECLARE @vl_icms_a_recolher            NUMERIC(16, 3)
DECLARE @vl_base_calc                  FLOAT
DECLARE @vl_sda_minimo                 FLOAT
DECLARE @vl_sda_maximo                 FLOAT
DECLARE @vl_sda                        FLOAT
DECLARE @vl_contr_assist               FLOAT
DECLARE @cd_cliente                    CHAR(5)
DECLARE @cd_unid_neg                   CHAR(2)
DECLARE @cd_produto                    CHAR(2)
DECLARE @cd_tabela_sda                 CHAR(3)
DECLARE @nr_adicao                     CHAR(3)
DECLARE @nr_adicao_previsao            INT
DECLARE @nr_adicao_anterior            INT
DECLARE @s_adicoes                     CHAR(3)
DECLARE @qt_adicoes                    INT
DECLARE @i_adicao                      INT
DECLARE @dt_calculo                    DATETIME
DECLARE @quantidade                    INT
DECLARE @tx_adicao                     FLOAT
DECLARE @cd_uf_cliente                 CHAR(2)
DECLARE @vl_base_calc_icms             NUMERIC(16, 2)
DECLARE @vl_acrescimo                  NUMERIC(16, 2)
DECLARE @vl_deducao                    NUMERIC(16, 2)
DECLARE @vl_acrescimo_ad               NUMERIC(16, 2)
DECLARE @vl_tot_acrescimo_ad           NUMERIC(16, 2)
DECLARE @vl_deducao_ad                 NUMERIC(16, 2)
DECLARE @vl_tot_deducao_ad             NUMERIC(16, 2)
DECLARE @vl_tot_acrescimo_mn           NUMERIC(16, 2)
DECLARE @vl_tot_deducao_mn             NUMERIC(16, 2)
DECLARE @in_tx_scx_icms                CHAR(1)
DECLARE @cd_fund_legal_piscofins       CHAR(2)

DECLARE @vl_base_antidump              NUMERIC(28, 3)
DECLARE @pc_antidump                   NUMERIC(28, 6)
DECLARE @vl_antidump                   NUMERIC(28, 3)
DECLARE @vl_antidump_devido            NUMERIC(28, 3)
DECLARE @vl_antidump_a_recolher        NUMERIC(28, 3)
DECLARE @vl_antidump_total             NUMERIC(28, 3)

-- Michel - 08 / 03 / 2010 - Cálculo do Fundo de Pobreza
DECLARE @IN_FUNDO_POBREZA              CHAR(1)
DECLARE @PC_FUNDO_POBREZA              FLOAT

-- Michel - 23 / 03 / 2010 - Cálculo da Admissão Temporária
DECLARE @QT_MESES_ADM_TEMP              FLOAT
DECLARE @IN_SUSPENDE_II_RETIFIC         BIT
DECLARE @IN_SUSPENDE_IPI_RETIFIC        BIT
DECLARE @IN_SUSPENDE_PIS_COFINS_RETIFIC BIT

-- Michel - 01 / 09 / 2010 - Cáculo do Seguro com porcentagem
DECLARE @PC_SEGURO_MLE                  FLOAT
DECLARE @CD_BASE_SEGURO                 CHAR(1)

DECLARE @PL_TOTAL                       FLOAT

SELECT @vl_tx_mneg            = 0
SELECT @vl_tx_mneg_ad         = 0
SELECT @vl_tx_dolar           = 0
SELECT @vl_tx_frete           = 0
SELECT @vl_tx_seg             = 0
SELECT @vl_soma_mle_mneg      = 0
SELECT @vl_soma_pl            = 0
SELECT @vl_icms               = 0
SELECT @pc_ii_normal          = 0
SELECT @pc_ii_reduzida        = 0
SELECT @pc_ii_reducao         = 0
SELECT @pc_ipi_normal         = 0
SELECT @pc_ipi_reduzida       = 0
SELECT @pc_aliq_icms          = 0
SELECT @pc_aliq_icms_red      = 0
SELECT @pc_aliq_acordo        = 0
SELECT @vl_tot_mle_mn         = 0
SELECT @vl_tot_mle_mn_ad      = 0
SELECT @vl_tot_mle_mneg       = 0
SELECT @vl_tot_frete_mn       = 0
SELECT @vl_tot_frete_mneg     = 0
SELECT @vl_tot_desp_mn        = 0
SELECT @vl_tot_desp_mneg      = 0
SELECT @vl_tot_seg_mn         = 0
SELECT @vl_tot_seg_mneg       = 0
SELECT @pl_tot_merc           = 0
SELECT @pl_merc               = 0
SELECT @vl_ii_normal          = 0
SELECT @vl_ii_reduzido        = 0
SELECT @vl_ii_devido          = 0
SELECT @vl_ii_a_recolher      = 0
SELECT @vl_ipi_normal         = 0
SELECT @vl_ipi_reduzido       = 0
SELECT @vl_ipi_devido         = 0
SELECT @vl_ipi_a_recolher     = 0
SELECT @vl_icms_devido        = 0
SELECT @vl_icms_a_recolher    = 0
SELECT @vl_icms               = 0
SELECT @vl_tot_ii             = 0
SELECT @vl_tot_ipi            = 0
SELECT @vl_tot_icms           = 0
SELECT @vl_acrescimo          = 0
SELECT @vl_deducao            = 0
SELECT @vl_tot_acrescimo_mn   = 0
SELECT @vl_tot_deducao_mn     = 0
SELECT @vl_tx_scx_ad           = 0
SELECT @vl_pis                  = 0
SELECT @vl_cofins              = 0
SELECT @VL_BASE_PIS           = 0
SELECT @VL_BASE_PIS_RED          = 0
SELECT @pc_reducao_pis_cofins = 0

SET @vl_icms_total = 0

DECLARE @VL_BASE_CALC_ICMS_AFRMM        NUMERIC(28, 2)
DECLARE @VL_ICMS_DEVIDO_AFRMM           NUMERIC(28, 3)
DECLARE @VL_ICMS_A_RECOLHER_AFRMM       NUMERIC(28, 3)
DECLARE @FLAG_MARINHA_MERCANTE          CHAR(1)
DECLARE @CD_ITEM_AFRMM                  CHAR(3)
DECLARE @CD_ITEM                        CHAR(3)
DECLARE @IN_CALCULOU_COM_AFRMM          CHAR(1)
DECLARE @VL_PAGTO_AFRMM                 NUMERIC(28, 3)
DECLARE @VL_PAGTO_DESPESAS              NUMERIC(28, 3)
DECLARE @VL_PAGTO_AFRMM_TOTAL           NUMERIC(28, 3)
DECLARE @VL_PAGTO_DESPESAS_TOTAL        NUMERIC(28, 3)
DECLARE @VL_TX_UTILIZACAO_AFRMM         NUMERIC(28, 3)
DECLARE @CD_ACORDO_ALADI                CHAR(3)

-- Traz os valores da tabela de parametros
SELECT @cd_item_vmle        = CD_ITEM_VMLE,
       @cd_item_frete_aereo = CD_ITEM_FRETE_AEREO,
       @cd_item_frete_mar   = CD_ITEM_FRETE_MAR,
       @cd_item_seg         = CD_ITEM_SEGURO,
       @cd_item_ii          = CD_ITEM_II,
       @cd_item_ipi         = CD_ITEM_IPI,
       @cd_item_icms        = CD_ITEM_ICMS,
       @cd_item_sda         = CD_ITEM_SDA,
       @cd_item_siscomex    = CD_ITEM_SISCOMEX,
       @CD_ITEM_PIS_IMP     = CD_ITEM_PIS_IMP,
       @CD_ITEM_COFINS_IMP  = CD_ITEM_COFINS_IMP,
       @PC_FUNDO_POBREZA    = PC_FUNDO_POBREZA_RJ
FROM TPARAMETROS (NOLOCK)

SELECT @VL_PIS_TOTAL     = 0
SELECT @VL_COFINS_TOTAL  = 0

--  Traz os valores da capa da previsao para variaveis de trabalho
SELECT @cd_unid_neg        = SUBSTRING(NR_PROCESSO, 1, 2),
       @cd_produto         = SUBSTRING(NR_PROCESSO, 3, 2),
       @cd_cliente         = CD_CLIENTE,
       @cd_via_transp      = CD_VIA_TRANSP,
       @cd_incoterm        = CD_INCOTERM,
       @in_embut_frt_itens = IN_EMBUT_FRT_ITENS,
       @in_embut_seg_itens = IN_EMBUT_SEG_ITENS,
       @in_moeda_unica     = IN_MOEDA_UNICA,
       @vl_tot_frete_mn    = ROUND(ISNULL(VL_FRETE_MN, 0), 2),
       @vl_tot_frete_mneg  = ROUND(ISNULL(VL_FRETE_MNEG, 0) - ISNULL(VL_FRETE_TNAC_MNEG, 0) , 2),
       @vl_tot_seg_mn      = ROUND(ISNULL(VL_SEGURO_MN, 0), 2),
       @vl_tot_seg_mneg    = ROUND(ISNULL(VL_SEGURO_MNEG, 0), 2),
       @vl_tot_mle_mn      = ROUND(ISNULL(VL_MLE_MN, 0), 2),
       @vl_tot_mle_mneg    = ROUND(ISNULL(VL_MLE_MNEG, 0), 2),
       @vl_tot_desp_mn     = ROUND(ISNULL(VL_DESP_MN, 0), 2),
       @vl_tot_desp_mneg   = ROUND(ISNULL(VL_DESP_MNEG, 0), 2),
       @pl_tot_merc        = ISNULL(PL_PREVISAO, 0),
       @cd_moeda_mle       = ISNULL(CD_MOEDA_MLE, ''),
       @cd_moeda_frete     = ISNULL(CD_MOEDA_FRETE, ''),
       @cd_moeda_seg       = ISNULL(CD_MOEDA_SEGURO, ''),
       @cd_base_seg        = CD_BASE_SEGURO,
       @qt_adicoes         = ISNULL(QT_ADICOES, 0),
       @dt_calculo         = ISNULL(DT_CALCULO, CONVERT(DATETIME, CONVERT(CHAR(10), GETDATE(), 103), 103)),
       @PC_SEGURO_MLE      = ISNULL(PC_SEGURO, 0),
       @CD_BASE_SEGURO     = ISNULL(CD_BASE_SEGURO, '1')
FROM TPREVISAO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo

SELECT @vl_tot_deducao_ad = SUM(ISNULL(VL_DEDUCOES_MN, 0))
FROM TADICAO_DE_IMPORTACAO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo

PRINT 'DATA : ' + CONVERT(VARCHAR, @dt_calculo, 103)

SELECT @vl_tot_acrescimo_mn = ISNULL(SUM(ISNULL(VL_ACRESCIMO, 0)), 0),
       @vl_tot_deducao_mn   = ISNULL(SUM(ISNULL(VL_DEDUCAO, 0)), 0)
FROM TPREVISAO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo

IF @cd_via_transp = '01' /* MARITIMO  */
    SELECT @cd_item_frete = @cd_item_frete_mar
ELSE /* AEREO / OUTROS */
    SELECT @cd_item_frete = @cd_item_frete_aereo

--  Pega a Taxa para conversao de Cambio cf. cd_moeda
IF NOT EXISTS(SELECT MAX(TX_CAMBIO)
              FROM TTAXA_CAMBIO (NOLOCK)
              WHERE CD_MOEDA = @cd_moeda_frete
                AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA)
    --/* Comente esta linha para Debug, assim funcinará o SELECT ao invés do RETURN - Michel - 15/02/2011
    RETURN 3
    --*/ SELECT 'Return 3'

SELECT @vl_tx_frete = MAX(TX_CAMBIO)
FROM TTAXA_CAMBIO (NOLOCK)
WHERE CD_MOEDA = @cd_moeda_frete
  AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

IF NOT EXISTS(SELECT MAX(TX_CAMBIO)
              FROM TTAXA_CAMBIO (NOLOCK)
              WHERE CD_MOEDA = @cd_moeda_seg
                AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA)
    --/* Comente esta linha para Debug, assim funcinará o SELECT ao invés do RETURN - Michel - 15/02/2011
    RETURN 3
    --*/ SELECT 'Return 3'

SELECT @vl_tx_seg = MAX(TX_CAMBIO)
FROM TTAXA_CAMBIO (NOLOCK)
WHERE CD_MOEDA = @cd_moeda_seg
  AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

IF NOT EXISTS(SELECT MAX(TX_CAMBIO)
              FROM TTAXA_CAMBIO (NOLOCK)
              WHERE CD_MOEDA = @cd_moeda_mle
                AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA)
    --/* Comente esta linha para Debug, assim funcinará o SELECT ao invés do RETURN - Michel - 15/02/2011
    RETURN 3
    --*/ SELECT 'Return 3'

SELECT @vl_tx_mneg = MAX(TX_CAMBIO)
FROM TTAXA_CAMBIO (NOLOCK)
WHERE CD_MOEDA = @cd_moeda_mle
  AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

IF NOT EXISTS(SELECT MAX(TX_CAMBIO)
              FROM TTAXA_CAMBIO (NOLOCK)
              WHERE CD_MOEDA = '220'
                AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA)
    --/* Comente esta linha para Debug, assim funcinará o SELECT ao invés do RETURN - Michel - 15/02/2011
    RETURN 3
    --*/ SELECT 'Return 3'

SELECT @vl_tx_dolar = MAX(TX_CAMBIO)
FROM TTAXA_CAMBIO (NOLOCK)
WHERE CD_MOEDA = '220'
  AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

SELECT @PL_TOTAL = SUM(PL_MERCADORIA)
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @NR_PROCESSO

SELECT @VL_TX_UTILIZACAO_AFRMM  = VL_TX_UTILIZACAO_AFRMM,
       @CD_ITEM_AFRMM           = CD_ITEM_AFRMM,
       @PC_FUNDO_POBREZA        = PC_FUNDO_POBREZA_RJ
FROM TPARAMETROS (NOLOCK)

IF (SELECT COUNT(*)
    FROM TSOLIC_PAGTO (NOLOCK)
    WHERE CD_ITEM     IN ( @CD_ITEM_AFRMM, '618')
      AND NR_PROCESSO = @nr_processo) > 0
BEGIN
    SELECT @CD_ITEM = CD_ITEM
    FROM TSOLIC_PAGTO (NOLOCK)
    WHERE CD_ITEM     IN ( @CD_ITEM_AFRMM, '618')
      AND NR_PROCESSO = @nr_processo
END
ELSE
BEGIN
    -- Alterada a query abaixo para verificar se a Marinha foi paga no Money, pois se o cliente da DI estiver configurado para calcular a AFRMM na Base do ICMS e
    -- na DI em questão a AFRMM não tiver sido usada, ele avisa na hora do cálculo. O problema é que ele não verificava se a AFRMM, embora estivesse no Money, já
    -- tinha sido paga, por isso a alteração abaixo.                                     Eric    10/09/2012               10:41h
    /*SELECT top 1 @CD_ITEM = CD_ITEM
    FROM MYMONEY.DBO.TB_LANCTO L (NOLOCK)
    INNER JOIN MYMONEY.DBO.TB_EMISSAO_DETALHE ED (NOLOCK)
    ON ED.ANO_LANCTO = L.ANO_LANCTO AND ED.NR_LANCTO = L.NR_LANCTO
    INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK)
    ON E.ANO_EMISSAO = ED.ANO_EMISSAO AND E.NR_EMISSAO = ED.NR_EMISSAO
    WHERE CD_ITEM     IN ( @CD_ITEM_AFRMM, '618')
      AND E.CD_ROTINA_EMISSAO = 401
      AND E.IN_EMITIDO = '1'
      AND E.IN_CANCELADO = '0'
      AND NR_PROCESSO = @nr_processo*/
    -- Comentado acima e utilizando abaixo para que pegue o valor pago pelo cliente também - Michel - 27/02/2013
    SELECT TOP 1 @CD_ITEM = CD_ITEM
    FROM (SELECT CD_ITEM
          FROM MYMONEY.DBO.TB_LANCTO L (NOLOCK)
             INNER JOIN MYMONEY.DBO.TB_EMISSAO_DETALHE ED (NOLOCK) ON ED.ANO_LANCTO = L.ANO_LANCTO AND ED.NR_LANCTO = L.NR_LANCTO
             INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.ANO_EMISSAO = ED.ANO_EMISSAO AND E.NR_EMISSAO = ED.NR_EMISSAO
          WHERE L.CD_ITEM IN ( '160','028')
            AND L.CD_DESTINO = '1' -- Pago pela Indaia, pega Ordem de Pagamengo emitida
            AND E.CD_ROTINA_EMISSAO = 401
            AND E.IN_EMITIDO = '1'
            AND E.IN_CANCELADO = '0'
            AND NR_PROCESSO = @NR_PROCESSO
          UNION ALL
          SELECT CD_ITEM
          FROM MYMONEY.DBO.TB_LANCTO L (NOLOCK)
          WHERE CD_ITEM IN ( '160','028')
            AND L.CD_DESTINO = '2' -- Pago pelo cliente, não pega ordem de pagamento, só o valor lançado
            AND NR_PROCESSO = @NR_PROCESSO) AS VW
END

IF @CD_ITEM <> ''
    SELECT @IN_CALCULOU_COM_AFRMM = '1'
ELSE
    SELECT @IN_CALCULOU_COM_AFRMM = '0'

--Cálculo da marinha mercante
IF (SELECT COUNT(*)
    FROM TSOLIC_PAGTO (NOLOCK)
    WHERE CD_ITEM     IN ( SELECT CD_ITEM FROM TGRUPO_DESPESAS_BASE_ICMS GD, TPROCESSO P WHERE GD.CD_GRUPO = P.CD_GRUPO AND P.NR_PROCESSO = @nr_processo )
      AND NR_PROCESSO = @nr_processo) > 0
BEGIN
    IF @IN_CALCULOU_COM_AFRMM = '1'
        SELECT @VL_PAGTO_AFRMM_TOTAL = (VL_PAGTO - @VL_TX_UTILIZACAO_AFRMM)
        FROM TSOLIC_PAGTO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_ITEM     IN ('160')

    SELECT @VL_PAGTO_DESPESAS_TOTAL = VL_PAGTO
    FROM TSOLIC_PAGTO (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo
      AND CD_ITEM     IN ( SELECT CD_ITEM FROM TGRUPO_DESPESAS_BASE_ICMS GD, TPROCESSO P WHERE GD.CD_GRUPO = P.CD_GRUPO AND P.NR_PROCESSO = @nr_processo )
      AND CD_ITEM     <> '160'
END
ELSE
BEGIN
    IF @IN_CALCULOU_COM_AFRMM = '1'
        SELECT @VL_PAGTO_AFRMM_TOTAL = SUM(VL_ITEM)
        FROM (SELECT SUM(ED.VL_EMISSAO) AS VL_ITEM
              FROM MYMONEY.DBO.TB_LANCTO L (NOLOCK)
                 INNER JOIN MYMONEY.DBO.TB_EMISSAO_DETALHE ED (NOLOCK) ON ED.ANO_LANCTO = L.ANO_LANCTO AND ED.NR_LANCTO = L.NR_LANCTO
                 INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.ANO_EMISSAO = ED.ANO_EMISSAO AND E.NR_EMISSAO = ED.NR_EMISSAO
              WHERE L.CD_ITEM IN ( '160','028')
                AND L.CD_DESTINO = '1' -- Pago pela Indaia, pega Ordem de Pagamengo emitida
                AND E.CD_ROTINA_EMISSAO = 401
                AND E.IN_EMITIDO = '1'
                AND E.IN_CANCELADO = '0'
                AND NR_PROCESSO = @NR_PROCESSO
              UNION ALL
              SELECT VL_LANCTO
              FROM MYMONEY.DBO.TB_LANCTO L (NOLOCK)
              WHERE CD_ITEM IN ( '160','028')
                AND L.CD_DESTINO = '2' -- Pago pelo cliente, não pega ordem de pagamento, só o valor lançado
                AND NR_PROCESSO = @NR_PROCESSO) AS VW
        /*SELECT @VL_PAGTO_AFRMM = (SUM(VL_LANCTO) / @qt_adicoes)
        FROM MYMONEY.DBO.TB_LANCTO (NOLOCK)
        WHERE CD_ITEM      IN ('160')
          AND NR_PROCESSO  = @nr_processo
          AND IN_CANCELADO = 0

    SELECT @VL_PAGTO_DESPESAS = (SUM(VL_LANCTO) / @qt_adicoes)
    FROM MYMONEY.DBO.TB_LANCTO (NOLOCK)
    WHERE CD_ITEM      IN ( SELECT CD_ITEM FROM TGRUPO_DESPESAS_BASE_ICMS GD, TPROCESSO P WHERE GD.CD_GRUPO = P.CD_GRUPO AND P.NR_PROCESSO = @nr_processo )
      AND CD_ITEM      <> '160'
      AND NR_PROCESSO  = @nr_processo
      AND IN_CANCELADO = 0*/

    SELECT @VL_PAGTO_DESPESAS_TOTAL = SUM(VL_ITEM)
    FROM (SELECT SUM(ED.VL_EMISSAO) AS VL_ITEM
          FROM MYMONEY.DBO.TB_LANCTO L (NOLOCK)
             INNER JOIN MYMONEY.DBO.TB_EMISSAO_DETALHE ED (NOLOCK) ON ED.ANO_LANCTO = L.ANO_LANCTO AND ED.NR_LANCTO = L.NR_LANCTO
             INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.ANO_EMISSAO = ED.ANO_EMISSAO AND E.NR_EMISSAO = ED.NR_EMISSAO
          WHERE L.CD_ITEM <> '160'
            AND L.CD_ITEM      IN ( SELECT CD_ITEM FROM TGRUPO_DESPESAS_BASE_ICMS GD, TPROCESSO P WHERE GD.CD_GRUPO = P.CD_GRUPO AND P.NR_PROCESSO = @NR_PROCESSO )
            AND L.CD_DESTINO = '1' -- Pago pela Indaia, pega Ordem de Pagamengo emitida
            AND E.CD_ROTINA_EMISSAO = 401
            AND E.IN_EMITIDO = '1'
            AND E.IN_CANCELADO = '0'
            AND NR_PROCESSO = @NR_PROCESSO
          UNION ALL
          SELECT SUM(L.VL_LANCTO) AS VL_LANCTO
          FROM MYMONEY.DBO.TB_LANCTO L (NOLOCK)
          WHERE L.CD_ITEM NOT IN ('160', '028')
            AND L.CD_ITEM IN ( SELECT CD_ITEM FROM TGRUPO_DESPESAS_BASE_ICMS GD, TPROCESSO P WHERE GD.CD_GRUPO = P.CD_GRUPO AND P.NR_PROCESSO = @NR_PROCESSO)
            AND L.CD_DESTINO = '2' -- Pago pelo cliente, não pega ordem de pagamento, só o valor lançado
            AND NR_PROCESSO = @NR_PROCESSO) AS VW
END

SELECT @VL_PAGTO_AFRMM_TOTAL = ISNULL(@VL_PAGTO_AFRMM_TOTAL, 0)
SELECT @VL_PAGTO_DESPESAS_TOTAL = ISNULL(@VL_PAGTO_DESPESAS_TOTAL, 0)

IF @in_moeda_unica = 0
BEGIN
    SELECT @i_adicao = 1
    WHILE @i_adicao <= @qt_adicoes
    BEGIN
        SELECT @nr_adicao = CONVERT(CHAR(3), @i_adicao)
        SELECT @nr_adicao = RIGHT(('000' + RTRIM(@nr_adicao)), 3)

        SELECT @cd_moeda_mle_ad = CD_MOEDA_MLE,
               @vl_mle_mneg     = ISNULL(VL_MLE_MNEG_TOT, 0)
        FROM TPREVISAO_ADICAO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao

        IF NOT EXISTS(SELECT MAX(TX_CAMBIO)
                      FROM TTAXA_CAMBIO (NOLOCK)
                      WHERE CD_MOEDA = @cd_moeda_mle_ad
                        AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA)
            --/* Comente esta linha para Debug, assim funcinará o SELECT ao invés do RETURN - Michel - 15/02/2011
            RETURN 3
            --*/ SELECT 'Return 3'
        SELECT @vl_tx_mneg_ad = MAX(TX_CAMBIO)
        FROM TTAXA_CAMBIO (NOLOCK)
        WHERE CD_MOEDA = @cd_moeda_mle_ad
          AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

        SELECT @vl_mle_mn = ROUND(@vl_mle_mneg * @vl_tx_mneg_ad, 2)
        SELECT @vl_tot_mle_mn_ad = @vl_tot_mle_mn_ad + @vl_mle_mn

        SELECT @i_adicao = @i_adicao + 1
    END
END
ELSE
BEGIN
    SELECT @vl_tot_mle_mn_ad = ISNULL(ROUND(SUM(ISNULL(VL_MLE_MNEG_TOT, 0)) * @vl_tx_mneg, 2), 0)
    FROM TPREVISAO_ADICAO (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo
END

--------------------------------------------------------------------------------------------------------
--  Posicionar nas Adições
SELECT @vl_soma_pl = ISNULL(SUM(PL_MERCADORIA), 0),
       @vl_soma_mle_mneg = ISNULL(SUM(VL_MLE_MNEG_TOT), 0)
FROM TPREVISAO_ADICAO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo

 /* Soma do VMLE das adicoes diferente do VMLE da Capa */
IF (@vl_soma_mle_mneg <> @vl_tot_mle_mneg) AND (@in_moeda_unica = 1)
    --/* Comente esta linha para Debug, assim funcinará o SELECT ao invés do RETURN - Michel - 15/02/2011
    RETURN 1
    --*/ SELECT 'Return 1'

IF (@vl_tot_mle_mn <> @vl_tot_mle_mn_ad) AND (@in_moeda_unica = 0)
    --/* Comente esta linha para Debug, assim funcinará o SELECT ao invés do RETURN - Michel - 15/02/2011
    RETURN 1
    --*/ SELECT 'Return 1'

 /* Soma do Peso Liquido das adicoes diferente do Peso Liquido da Capa */
IF (@vl_soma_pl <> @pl_tot_merc)
    --/* Comente esta linha para Debug, assim funcinará o SELECT ao invés do RETURN - Michel - 15/02/2011
    RETURN 2
    --*/ SELECT 'Return 2'

SELECT @vl_tot_desp_mn  = ISNULL(ROUND(@vl_tot_desp_mneg  * @vl_tx_mneg, 2), 0)
SELECT @vl_tot_frete_mn = ISNULL(ROUND(@vl_tot_frete_mneg * @vl_tx_frete, 2), 0)
--SELECT @vl_tot_seg_mn   = ISNULL(ROUND(@vl_tot_seg_mneg   * @vl_tx_seg, 2), 0) -- Comentado para utilizar a procedure acima

-- Verificar porcentagem do seguro e calcular baseado na porcentagem - Michel - 27 / 08 / 2010
SET @vl_tot_seg_mneg = ISNULL(@vl_tot_seg_mneg, 0)
SET @vl_tot_seg_mn = ISNULL(@vl_tot_seg_mneg * @vl_tx_seg, 0)

IF (@PC_SEGURO_MLE > 0)
    IF @CD_BASE_SEGURO IN ('1', '2')
        EXEC SP_CALCULO_SEGURO_PREVISAO @nr_processo, @vl_tot_seg_mn OUTPUT, @vl_tot_seg_mneg OUTPUT, @cd_base_seguro
    ELSE IF @CD_BASE_SEGURO IN ('3')
    BEGIN
        --EXEC SP_CALCULO_SEGURO_PREVISAO @nr_processo, @vl_tot_seg_mn OUTPUT, @vl_tot_seg_mneg OUTPUT, '3' -- Calcula só sem os impostos porque os impostos serão calculados depois - Michel - 27 / 08 / 210
        SET @vl_tot_seg_mneg = 0
        SET @vl_tot_seg_mn   = 0
    END

SELECT @vl_cif_mn = ROUND(@vl_tot_mle_mn + @vl_tot_desp_mn + @vl_tot_frete_mn + @vl_tot_seg_mn + @vl_tot_acrescimo_mn - @vl_tot_deducao_mn, 2)

IF @in_embut_frt_itens = 1
BEGIN
    SELECT @vl_cif_mn = @vl_cif_mn - @vl_tot_frete_mn
END
IF @in_embut_seg_itens = 1
BEGIN
    SELECT @vl_cif_mn = @vl_cif_mn - @vl_tot_seg_mn
END

UPDATE TPREVISAO
SET VL_MLE_MN        = @vl_tot_mle_mn,
    VL_MLE_MNEG      = @vl_tot_mle_mneg,
    VL_DESP_MN       = @vl_tot_desp_mn,
    VL_FRETE_MN      = @vl_tot_frete_mn,
    VL_SEGURO_MN     = @vl_tot_seg_mn,
    VL_SEGURO_MNEG   = @vl_tot_seg_mneg,
    VL_ACRESCIMO_MN  = @vl_tot_acrescimo_mn,
    VL_DEDUCAO_MN    = @vl_tot_deducao_mn,
    VL_CIF_MN        = @vl_cif_mn,
    VL_TAXA_MLE      = @vl_tx_mneg,
    VL_TAXA_FRETE    = @vl_tx_frete,
    VL_TAXA_SEGURO   = @vl_tx_seg
WHERE NR_PROCESSO      = @nr_processo

/*
IF (@PC_SEGURO_MLE > 0)
BEGIN
    IF @CD_BASE_SEGURO IN ('1', '2')
        EXEC SP_CALCULO_SEGURO_PREVISAO @nr_processo, @vl_tot_seg_mn OUTPUT, @vl_tot_seg_mneg OUTPUT, @cd_base_seguro
    ELSE IF @CD_BASE_SEGURO IN ('3')
    BEGIN
        --EXEC SP_CALCULO_SEGURO_PREVISAO @nr_processo, @vl_tot_seg_mn OUTPUT, @vl_tot_seg_mneg OUTPUT, '2' -- Calcula só sem os impostos porque os impostos serão calculados depois - Michel - 27 / 08 / 210
        SET @vl_tot_seg_mneg = 0
        SET @vl_tot_seg_mn   = 0
    END

    UPDATE TPREVISAO
    SET VL_SEGURO_MN     = @vl_tot_seg_mn,
        VL_SEGURO_MNEG   = @vl_tot_seg_mneg
    WHERE NR_PROCESSO      = @nr_processo
END
*/

SELECT @in_tx_scx_icms = ISNULL(IN_TX_SCX_ICMS, '0')
FROM TPROCESSO P (NOLOCK), TCLIENTE_HABILITACAO H (NOLOCK)
WHERE P.CD_UNID_NEG = H.CD_UNID_NEG
  AND P.CD_PRODUTO  = H.CD_PRODUTO
  AND P.CD_CLIENTE  = H.CD_CLIENTE
  AND P.NR_PROCESSO = @nr_processo

----------------------- SELECIONA OS VALORES PARA CALCULO DA TAXA SISCOMEX -----------------------
SELECT @vl_tot_siscomex = 0

SELECT @qt_adicoes = QT_ADICOES
FROM TPREVISAO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo

IF @@rowcount > 0
BEGIN
    DECLARE c_taxa CURSOR FOR
        SELECT NR_ADICAO, TX_ADICAO
        FROM TTAXA_SISCOMEX (NOLOCK)
        ORDER BY NR_ADICAO

    SELECT @nr_adicao_anterior = 0

    OPEN c_taxa
    FETCH c_taxa INTO @nr_adicao_previsao, @tx_adicao
    WHILE @@fetch_status <> -1
    BEGIN
        IF @qt_adicoes > @nr_adicao_previsao
            SELECT @quantidade = @nr_adicao_previsao - @nr_adicao_anterior
        ELSE
            SELECT @quantidade = @qt_adicoes - @nr_adicao_anterior

        IF @nr_adicao_previsao = 0
            SELECT @vl_tot_siscomex = @vl_tot_siscomex + @tx_adicao
        ELSE
            SELECT @vl_tot_siscomex = @vl_tot_siscomex + (@quantidade * @tx_adicao)

        IF @qt_adicoes <= @nr_adicao_previsao
            BREAK

        SELECT @nr_adicao_anterior = @nr_adicao_previsao
        FETCH c_taxa INTO @nr_adicao_previsao, @tx_adicao
    END
    CLOSE c_taxa
    DEALLOCATE c_taxa
END

/*
--Cálculo da marinha mercante
IF (SELECT COUNT(*)
    FROM TSOLIC_PAGTO (NOLOCK)
    WHERE CD_ITEM     IN ( SELECT CD_ITEM FROM TGRUPO_DESPESAS_BASE_ICMS GD, TPROCESSO P WHERE GD.CD_GRUPO = P.CD_GRUPO AND P.NR_PROCESSO = @nr_processo )
      AND NR_PROCESSO = @nr_processo) > 0
BEGIN
    SELECT @VL_PAGTO_AFRMM = ((VL_PAGTO - @VL_TX_UTILIZACAO_AFRMM) / @qt_adicoes)
    FROM TSOLIC_PAGTO (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo
      AND CD_ITEM     IN ('160')

    SELECT @VL_PAGTO_DESPESAS = (VL_PAGTO / @qt_adicoes)
    FROM TSOLIC_PAGTO (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo
      AND CD_ITEM     IN ( SELECT CD_ITEM FROM TGRUPO_DESPESAS_BASE_ICMS GD, TPROCESSO P WHERE GD.CD_GRUPO = P.CD_GRUPO AND P.NR_PROCESSO = @nr_processo )
      AND CD_ITEM     <> '160'
END
ELSE
BEGIN
    SELECT @VL_PAGTO_AFRMM = (SUM(VL_LANCTO) / @qt_adicoes)
    FROM MYMONEY.DBO.TB_LANCTO (NOLOCK)
    WHERE CD_ITEM      IN ('160')
      AND NR_PROCESSO  = @nr_processo
      AND IN_CANCELADO = 0

    SELECT @VL_PAGTO_DESPESAS = (SUM(VL_LANCTO) / @qt_adicoes)
    FROM MYMONEY.DBO.TB_LANCTO (NOLOCK)
    WHERE CD_ITEM      IN ( SELECT CD_ITEM FROM TGRUPO_DESPESAS_BASE_ICMS GD, TPROCESSO P WHERE GD.CD_GRUPO = P.CD_GRUPO AND P.NR_PROCESSO = @nr_processo )
      AND CD_ITEM      <> '160'
      AND NR_PROCESSO  = @nr_processo
      AND IN_CANCELADO = 0
END
*/
--SELECT @VL_PAGTO_AFRMM = ISNULL(@VL_PAGTO_AFRMM, 0)
SELECT @VL_PAGTO_DESPESAS = ISNULL(@VL_PAGTO_DESPESAS, 0)

IF @vl_tot_siscomex > 0
    UPDATE TPREVISAO
    SET VL_TX_SISCOMEX = @vl_tot_siscomex
    WHERE NR_PROCESSO = @nr_processo

SELECT @vl_soma_desp_mneg  = 0
SELECT @vl_soma_desp_mn    = 0
SELECT @vl_soma_frete_mneg = 0
SELECT @vl_soma_frete_mn   = 0
SELECT @vl_soma_seg_mneg   = 0
SELECT @vl_soma_seg_mn     = 0 SELECT @vl_soma_tx_scx     = 0

SELECT @vl_tot_acrescimo_ad = ISNULL(SUM(VL_ACRESCIMO_MN), 0)
FROM TACRESCIMO_VALORACAO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo

--------------------------------------------------------------------------------------------------------
SELECT @i_adicao = 1
WHILE @i_adicao <= @qt_adicoes
BEGIN
    --  Converte o Número da Adição para uma string no formato '999'
    SELECT @nr_adicao = CONVERT(CHAR(3), @i_adicao)
    SELECT @nr_adicao = RIGHT(('000' + RTRIM(@nr_adicao)), 3)

    --  Verifica se a adição solicitada para cálculo existe
    IF (SELECT COUNT(*)
        FROM TPREVISAO_ADICAO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao) > 0
    BEGIN
        SELECT @vl_acrescimo_ad = ISNULL(SUM(VL_ACRESCIMO_MN), 0)
        FROM TACRESCIMO_VALORACAO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO   = @nr_adicao

        SELECT @vl_deducao_ad = ISNULL(SUM(VL_DEDUCAO_MN), 0)
        FROM TDEDUCAO_VALORACAO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO   = @nr_adicao


        SELECT @vl_mle_mneg                    = ISNULL(VL_MLE_MNEG_TOT, 0),
               @Incoterm                       = ISNULL(CD_INCOTERMS_VENDA, ''),
               @cd_moeda_mle_ad                = CD_MOEDA_MLE,
               @cd_reg_trib_ii                 = CD_REG_TRIB_II,
               @cd_fund_leg_regime             = CD_FUND_LEG_REGIME,
               @in_ipi_nao_tributavel          = IN_IPI_NAO_TRIBUT,
               @pc_aliq_icms                   = ISNULL(PC_ALIQ_ICMS, 0),
               @pc_aliq_icms_red               = ISNULL(PC_ALIQ_ICMS_RED, 0),
               @pl_merc                        = PL_MERCADORIA,
               @pc_ii_normal                   = ISNULL(PC_ALIQ_II, 0),
               @pc_ii_reduzida                 = ISNULL(PC_ALIQ_REDUZIDA_II, 0),
               @pc_ii_reducao                  = ISNULL(PC_REDUCAO_IPT_BLI, 0),
               @pc_ipi_normal                  = ISNULL(PC_ALIQ_IPI, 0),
               @pc_ipi_reduzida                = ISNULL(PC_ALIQ_REDUZIDA_IPI, 0),
               @pc_aliq_acordo                 = ISNULL(PC_ALIQ_ACORDO, 0),
               @CD_TIPO_ACORDO_TAR             = ISNULL(CD_TIPO_ACORDO_TAR, '0'),
               @cd_tipo_benef_ipi              = CD_REG_TRIB_IPI,
               @qt_mercad_aliq_especif         = ISNULL(QT_MERC_UN_ALIQ_ES, 0),
               @vl_aliq_unit_especif            = ISNULL(VL_ALIQ_ESPEC_IPT, 0),
               @vl_aliq_pis                       = ISNULL(ALIQ_PIS, 0),
               @vl_aliq_cofins                   = ISNULL(ALIQ_COFINS, 0),
               @aliq_cofins_reduzida           = ISNULL(ALIQ_COFINS_REDUZIDA, ISNULL(ALIQ_COFINS, 0)),
               @aliq_pis_reduzida               = ISNULL(ALIQ_PIS_REDUZIDA, ISNULL(ALIQ_PIS, 0)),
               @VL_BASE_PIS                       = ISNULL(VL_BASE_PIS, 0),
               @pc_reducao_pis_cofins          = ISNULL(PC_REDUCAO_PIS_COFINS, 0),
               @vl_aliquota_especifica_pis     = ISNULL(VL_ALIQUOTA_ESPECIFICA_PIS, 0),
               @vl_aliquota_especifica_cofins  = ISNULL(VL_ALIQUOTA_ESPECIFICA_COFINS, 0),
               @qtd_unid_especifica_pis        = ISNULL(QTD_UNID_ESPECIFICA_PIS, 0),
               @qtd_unid_especifica_cofins     = ISNULL(QTD_UNID_ESPECIFICA_COFINS, 0),
               @IN_FUNDO_POBREZA               = ISNULL(IN_FUNDO_POBREZA, '0'), -- Michel - 08 / 03 / 2010
               @QT_MESES_ADM_TEMP              = ISNULL(QT_MESES_ADM_TEMP, 0), -- Michel - 19 / 03 / 2010
               @IN_SUSPENDE_II_RETIFIC         = ISNULL(IN_SUSPENDE_II_RETIFIC, 0), -- Michel - 27 / 03 / 2010
               @IN_SUSPENDE_IPI_RETIFIC        = ISNULL(IN_SUSPENDE_IPI_RETIFIC, 0), -- Michel - 27 / 03 / 2010
               @IN_SUSPENDE_PIS_COFINS_RETIFIC = ISNULL(IN_SUSPENDE_PIS_COFINS_RETIFIC, 0), -- Michel - 27 / 03 / 2010
               @vl_frete_mn                    = ISNULL(VL_FRETE, 0),
               @cd_tipo_benef_pis_cofins       = ISNULL(CD_TIPO_BENEF_PIS_COFINS, ''),
               @cd_fund_legal_piscofins        = ISNULL(CD_FUND_LEGAL_PISCOFINS, ''),
               @cd_acordo_aladi                = ISNULL(CD_ACORDO_ALADI, '')
        FROM TPREVISAO_ADICAO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao

        SET @VL_PAGTO_AFRMM    = ROUND((@VL_PAGTO_AFRMM_TOTAL * @pl_merc) / @PL_TOTAL, 2)
        SET @VL_PAGTO_DESPESAS = ROUND((@VL_PAGTO_DESPESAS_TOTAL * @pl_merc) / @PL_TOTAL, 2)

        -- Incluir o Fundo de Pobreza na porcentagem do ICMS - Michel - 09 / 03 / 2010
        IF @IN_FUNDO_POBREZA = '1'
            SET @pc_aliq_icms = @pc_aliq_icms + @PC_FUNDO_POBREZA

        IF @cd_reg_trib_ii = '4' -- Reducao
        BEGIN
            SELECT @pc_aliq_reduzida = ISNULL(PC_ALIQ_REDUZIDA, 0)
            FROM TRIBUTO (NOLOCK)
            WHERE NR_PROCESSO = @nr_processo
              AND NR_ADICAO = @nr_adicao
              AND CD_RECEITA_IMPOSTO = '0001'

            IF @pc_aliq_reduzida = 0
                SELECT @pc_ii_normal = ((@pc_ii_normal - (@pc_ii_normal * (@pc_ii_reducao / 100))))
            ELSE
                --SELECT @pc_ii_normal = (@pc_aliq_reduzida)
                SELECT @pc_ii_normal = (@pc_ii_reduzida) -- Alterado para pegar a redução da conferência - Michel - 23 / 08 / 2010
        END

        IF @cd_reg_trib_ii IN ( /*'5', */ '3', '6', '2', '9') -- Suspensao e Isenção respectivamente
            SELECT @pc_ii_normal = 0

        IF @cd_moeda_mle <> @cd_moeda_mle_ad
        BEGIN
            SELECT @in_moeda_unica = 0

            IF NOT EXISTS(SELECT MAX(TX_CAMBIO)
                          FROM TTAXA_CAMBIO (NOLOCK)
                          WHERE CD_MOEDA = @cd_moeda_mle_ad
                            AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA)
                --/* Comente esta linha para Debug, assim funcinará o SELECT ao invés do RETURN - Michel - 15/02/2011
                RETURN 3
                --*/ SELECT 'Return 3'

            SELECT @vl_tx_mneg_ad = MAX(TX_CAMBIO)
            FROM TTAXA_CAMBIO (NOLOCK)
            WHERE CD_MOEDA = @cd_moeda_mle_ad
              AND @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

            SELECT @vl_mle_mn = ROUND(@vl_mle_mneg * @vl_tx_mneg_ad, 2)
        END
        ELSE
        BEGIN
            SELECT @vl_mle_mn = ROUND(@vl_mle_mneg * @vl_tx_mneg, 2)
        END

        --------------------------------------------------------------------------------------------------------

        SELECT @vl_mcv_mn = CASE @Incoterm
                                WHEN 'FOB' THEN @vl_mle_mn
                                WHEN 'FCA' THEN @vl_mle_mn
                                WHEN 'FAS' THEN @vl_mle_mn
                                WHEN 'EXW' THEN @vl_mle_mn
                                WHEN 'DDU' THEN @vl_mle_mn + @vl_tot_seg_mn
                                WHEN 'CFR' THEN @vl_mle_mn + @vl_frete_mn
                                WHEN 'CPT' THEN @vl_mle_mn + @vl_frete_mn
                                WHEN 'CIF' THEN @vl_mle_mn + @vl_frete_mn -- + @vl_tot_seg_mn
                                WHEN 'DAF' THEN @vl_mle_mn + @vl_frete_mn + @vl_tot_seg_mn
                                WHEN 'DES' THEN @vl_mle_mn + @vl_frete_mn + @vl_tot_seg_mn
                                WHEN 'DAT' THEN @vl_mle_mn + @vl_frete_mn + @vl_tot_seg_mn -- Incluido igual ao DES - Michel - 29/04/2011
                                WHEN 'CIP' THEN @vl_mle_mn + @vl_frete_mn -- + @vl_tot_seg_mn
                            ELSE 0
                            END

        --  Rateio em Real --
        IF @i_adicao = @qt_adicoes
        BEGIN
            SELECT @vl_desp_mn  = @vl_tot_desp_mn  - @vl_soma_desp_mn
            SELECT @vl_frete_mn = @vl_tot_frete_mn - @vl_soma_frete_mn
            SELECT @vl_seg_mn   = @vl_tot_seg_mn   - @vl_soma_seg_mn
        END
        ELSE
        BEGIN
            /* Pelo MLE
            IF @vl_tot_mle_mn > 0
                SELECT @vl_desp_mn = ROUND((@vl_tot_desp_mn * @vl_mle_mn / @vl_tot_mle_mn), 2)
            ELSE
                SELECT @vl_desp_mn = 0
            */

            -- Pelo Peso
            IF @pl_tot_merc > 0
                SELECT @vl_desp_mn = ROUND((@vl_tot_desp_mn * @pl_merc / @pl_tot_merc), 2)
            ELSE
                SELECT @vl_desp_mn = 0

            IF @pl_tot_merc > 0
                SELECT @vl_frete_mn = ROUND((@vl_tot_frete_mn * @pl_merc / @pl_tot_merc), 2)
            ELSE
                SELECT @vl_frete_mn = 0

            /*
            IF (@vl_mle_tot_mn_ajust + @vl_despesa_tot_mn) > 0
            BEGIN
                  IF (@in_embut_frt_itens = 1)
                 BEGIN
                    SELECT @vl_seguro_mn = CAST(ROUND((@vl_seguro_tot_mn * (@vl_mle_mn - @vl_frete_mn) / (@vl_mle_tot_mn - @vl_frete_tot_mn)), 2) AS DECIMAL (10, 2))
                END
                ELSE
                BEGIN
                    SELECT @vl_seguro_mn = CAST(ROUND((@vl_seguro_tot_mn * (@vl_mle_mn) / (@vl_mle_tot_mn)), 2) AS DECIMAL (10, 2))
                END
            END
            ELSE
            BEGIN
                SELECT @vl_seguro_mn = 0
            END
            --*/

            IF (@vl_tot_mle_mn + @vl_tot_desp_mn) > 0
            BEGIN
                /*IF @PC_SEGURO_MLE > 0 -- IF incluído porque a procedure já elimina o frente se for embutido - Michel - 27/08/2010
                    SELECT @vl_seg_mn = ROUND((@vl_tot_seg_mn * (@vl_mle_mn - @vl_frete_mn /*- @vl_deducao_ad*/ ) / (@vl_tot_mle_mn - @vl_tot_frete_mn /*- @vl_tot_deducao_ad*/ )), 2)
                ELSE*/ IF (@in_embut_frt_itens = 1)
                    SELECT @vl_seg_mn = ROUND((@vl_tot_seg_mn * (@vl_mle_mn - @vl_frete_mn /*- @vl_deducao_ad*/ + CASE @Incoterm WHEN 'FCA' THEN @vl_acrescimo_ad ELSE 0 END) / (@vl_tot_mle_mn - @vl_tot_frete_mn /*- @vl_tot_deducao_ad*/ + CASE @Incoterm WHEN 'FCA' THEN @vl_tot_acrescimo_ad ELSE 0 END)), 2)
                ELSE
                    SELECT @vl_seg_mn = ROUND((@vl_tot_seg_mn * (@vl_mle_mn /*- @vl_deducao_ad*/ + CASE @Incoterm WHEN 'FCA' THEN @vl_acrescimo_ad ELSE 0 END) / (@vl_tot_mle_mn /*- @vl_tot_deducao_ad*/ + CASE @Incoterm WHEN 'FCA' THEN @vl_tot_acrescimo_ad ELSE 0 END)), 2)
            END
            ELSE
            BEGIN
                SELECT @vl_seg_mn = 0
            END -- Calculo do seguro com deduções - Michel - 01 / 09 / 2009

            /*
            IF @cd_base_seg = '1'
            BEGIN
                IF @vl_tot_mle_mn > 0
                BEGIN
                    IF @in_embut_frt_itens = 1
                        SELECT @vl_seg_mn = ROUND((@vl_tot_seg_mn * @vl_mle_mn / @vl_tot_mle_mn), 2)
                    ELSE
                        SELECT @vl_seg_mn = ROUND((@vl_tot_seg_mn * (@vl_mle_mn - @vl_frete_mn) / (@vl_tot_mle_mn - @vl_tot_frete_mn)), 2)
                END
                ELSE
                BEGIN
                    SELECT @vl_seg_mn = 0
                END
            END
            ELSE
            BEGIN
                IF (@vl_tot_mle_mn + @vl_tot_frete_mn) > 0
                BEGIN
                    IF @in_embut_frt_itens = 1
                        SELECT @vl_seg_mn = ROUND((@vl_tot_seg_mn * @vl_mle_mn / @vl_tot_mle_mn), 2)
                    ELSE
                        SELECT @vl_seg_mn = ROUND((@vl_tot_seg_mn * (@vl_mle_mn + @vl_frete_mn) / (@vl_tot_mle_mn + @vl_tot_frete_mn)), 2)
                END
                ELSE
                BEGIN
                    SELECT @vl_seg_mn = 0
                END
            END
            --*/
        END

        SELECT @vl_soma_desp_mn  = @vl_soma_desp_mn  + @vl_desp_mn
        SELECT @vl_soma_frete_mn = @vl_soma_frete_mn + @vl_frete_mn
        SELECT @vl_soma_seg_mn   = @vl_soma_seg_mn   + @vl_seg_mn

        --------------------------------------------------------------------------------------------------------

        --  Rateio na Moeda
        IF @i_adicao = @qt_adicoes
        BEGIN
            SELECT @vl_frete_mneg = @vl_tot_frete_mneg - @vl_soma_frete_mneg
            SELECT @vl_desp_mneg  = @vl_tot_desp_mneg  - @vl_soma_desp_mneg
            SELECT @vl_seg_mneg   = @vl_tot_seg_mneg   - @vl_soma_seg_mneg
        END
        ELSE
        BEGIN
            /* Pelo MLE
            IF @vl_tot_mle_mneg > 0
                SELECT @vl_desp_mneg = ROUND((@vl_tot_desp_mneg * @vl_tot_mle_mneg / @vl_tot_mle_mneg), 2)
            ELSE
                SELECT @vl_desp_mneg = 0
            --*/

            /* Pelo Peso */
            IF @pl_tot_merc > 0
                SELECT @vl_desp_mneg = ROUND((@vl_tot_desp_mneg * @pl_merc / @pl_tot_merc), 2)
            ELSE
                SELECT @vl_desp_mneg =0

            IF @pl_tot_merc > 0
                SELECT @vl_frete_mneg = ROUND((@vl_tot_frete_mneg * @pl_merc / @pl_tot_merc), 2)
            ELSE
                SELECT @vl_frete_mneg = 0

            IF (@cd_base_seg = '1') OR (@in_embut_frt_itens = 1)
            BEGIN
                IF (@vl_tot_mle_mneg + @vl_tot_desp_mneg) > 0
                    SELECT @vl_seg_mneg = ROUND((@vl_tot_seg_mneg * (@vl_mle_mneg + @vl_desp_mneg - @vl_frete_mneg) / (@vl_tot_mle_mneg + @vl_tot_desp_mneg - @vl_tot_frete_mneg)), 2)
                ELSE
                    SELECT @vl_seg_mneg = 0
            END
            ELSE
            BEGIN
                IF (@vl_tot_mle_mneg + @vl_tot_desp_mneg + @vl_tot_frete_mneg) > 0
                    SELECT @vl_seg_mneg = ROUND((@vl_tot_seg_mneg * (@vl_mle_mneg + @vl_desp_mneg + @vl_frete_mneg) / (@vl_tot_mle_mneg + @vl_tot_desp_mneg + @vl_tot_frete_mneg)), 2)
                ELSE
                    SELECT @vl_seg_mneg = 0
            END

            /*
            IF @cd_base_seg = '1'
            BEGIN
                IF @vl_tot_mle_mneg > 0
                    SELECT @vl_seg_mneg = ROUND((@vl_tot_seg_mneg * @vl_mle_mneg / @vl_tot_mle_mneg), 2)
                ELSE
                    SELECT @vl_seg_mneg = 0
            END
            ELSE
BEGIN
                IF (@vl_tot_mle_mneg + @vl_tot_frete_mneg) > 0
                    SELECT @vl_seg_mneg = ROUND((@vl_tot_seg_mneg * (@vl_mle_mneg + @vl_frete_mneg) / (@vl_tot_mle_mneg + @vl_tot_frete_mneg)), 2)
                ELSE
                    SELECT @vl_seg_mneg = 0
            END
            --*/
        END

        /*
        -- GAMBIARRA - MICHEL
        SET @vl_seg_mneg = CASE @i_adicao
                               WHEN 1 THEN 958.96
                               WHEN 2 THEN 12.27
                               WHEN 3 THEN 9.91
                               WHEN 4 THEN 1.14
                               WHEN 5 THEN 235.35
                               WHEN 6 THEN 66.94
                               WHEN 7 THEN 0.07
                               WHEN 8 THEN 0.02
                               WHEN 9 THEN 0.02
                           END
        SET @vl_seg_mn = @vl_seg_mneg
        --*/

        SELECT @vl_soma_frete_mneg = ISNULL(@vl_soma_frete_mneg, 0) + @vl_frete_mneg
        SELECT @vl_soma_desp_mneg  = ISNULL(@vl_soma_desp_mneg, 0)  + @vl_desp_mneg
        SELECT @vl_soma_seg_mneg   = ISNULL(@vl_soma_seg_mneg, 0)   + @vl_seg_mneg

        --  Rateia Taxa Siscomex
        /*
        IF @in_tx_scx_icms = '1'
        BEGIN
            IF @i_adicao = @qt_adicoes
                SELECT @vl_tx_scx_ad = @vl_tot_siscomex - @vl_soma_tx_scx
            ELSE
                SELECT @vl_tx_scx_ad = ROUND(@vl_tot_siscomex / @qt_adicoes, 2)

            SELECT @vl_soma_tx_scx = @vl_soma_tx_scx + @vl_tx_scx_ad
        END
        ELSE
        BEGIN
            SELECT @vl_tx_scx_ad = 0
        END
        --*/

        SELECT @VL_TX_SCX_AD = VL_TX_SCX_AD
        FROM TADICAO_DE_IMPORTACAO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao

        --------------------------------------------------------------------------------------------------------

        --  Adiciona ao VMLE as Despesas
        SELECT @vl_mle_mneg = ISNULL(@vl_mle_mneg, 0) + ISNULL(@vl_desp_mneg, 0)
        SELECT @vl_mle_mn   = ISNULL(@vl_mle_mn, 0)   + ISNULL(@vl_desp_mn, 0)

        --  Formacao da base de calculo - I.I.
        IF @cd_incoterm = 'DDU'
            SELECT @vl_base_calc_ii = (ISNULL(@vl_mle_mn, 0) + ISNULL(@vl_acrescimo_ad, 0) - ISNULL(@vl_deducao_ad, 0)) + ISNULL(@vl_seg_mn, 0)
        ELSE
            SELECT @vl_base_calc_ii = (ISNULL(@vl_mle_mn, 0) + ISNULL(@vl_acrescimo_ad, 0) - ISNULL(@vl_deducao_ad, 0)) + ISNULL(@vl_frete_mn, 0) + ISNULL(@vl_seg_mn, 0)

        -- Desconta Seguro Embutido nos Itens
        IF @in_embut_seg_itens = 1
            SELECT @vl_base_calc_ii = @vl_base_calc_ii - @vl_seg_mn

        IF (@in_embut_frt_itens = 1) AND (@cd_incoterm <> 'DDU')
            SELECT @vl_base_calc_ii = @vl_base_calc_ii - ISNULL(@vl_frete_mn, 0)
--        IF @in_embut_seg_itens = 1
--            SELECT @vl_base_calc_ii = @vl_base_calc_ii - ISNULL(@vl_seg_mn, 0)

        PRINT '@vl_mle_mneg   :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_mle_mneg))
        PRINT '@vl_mle_mn     :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_mle_mn))
        PRINT '@vl_desp_mneg  :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_desp_mneg))
        PRINT '@vl_desp_mn    :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_desp_mn))
        PRINT '@vl_frete_mn   :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_frete_mn))
        PRINT '@vl_seg_mn     :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_seg_mn))

        -- DESPESAS
        SELECT @vl_despesas_adic = ISNULL(VL_DESPESAS, 0)
        FROM TADICAO_DE_IMPORTACAO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao

        --  Calculo do I.I.
        IF @cd_reg_trib_ii <> '2' AND @cd_reg_trib_ii <> '6' /* 2 - IMUNIDADE 6 - NAO INCIDENCIA */
        BEGIN
            SELECT @vl_ii_normal     = 0
            SELECT @vl_ii_devido     = 0
            SELECT @vl_ii_a_recolher = 0

            IF @CD_TIPO_ACORDO_TAR <> '0' --by Carlos 25 / 06 / 2010  im-0232-10
                SELECT @pc_ii_normal = @pc_aliq_acordo

            SELECT @vl_ii_normal = ROUND((@vl_base_calc_ii * @pc_ii_normal / 100), 2)
            SELECT @vl_ii_a_recolher = @vl_ii_normal

            /*
            IF @cd_reg_trib_ii = '4'
            BEGIN
                IF @pc_ii_reducao = 0
                BEGIN
                    SELECT @vl_ii_reduzido   = ROUND((@vl_base_calc_ii * @pc_ii_reduzida / 100), 2)
                    SELECT @vl_ii_devido     = @vl_ii_reduzido
                    SELECT @vl_ii_a_recolher = @vl_ii_reduzido
                END
                ELSE
                BEGIN
                    IF @pc_ii_reducao > 0
                    BEGIN
                        SELECT @vl_ii_reduzido   = ROUND(((@vl_base_calc_ii * @pc_ii_normal / 100) * (1 - (@pc_ii_reducao / 100))), 2)
                        SELECT @vl_ii_devido     = @vl_ii_normal
                        SELECT @vl_ii_a_recolher = @vl_ii_reduzido
                    END
                END
            END
            --*/
            IF @cd_reg_trib_ii = '3'
            BEGIN
                SELECT @vl_ii_devido     = @vl_ii_normal
                SELECT @vl_ii_a_recolher = 0
            END
            IF @cd_reg_trib_ii = '5'
            BEGIN
                SELECT @vl_ii_devido     = @vl_ii_normal
                SELECT @vl_ii_a_recolher = 0
            END
        END
        ELSE
        BEGIN
            SELECT @vl_ii_normal     = 0
            SELECT @vl_ii_devido     = 0
            SELECT @vl_ii_a_recolher = 0
        END

        -- Cálculo de Admissão Temporária - Michel - 23 / 03 / 2010
        IF (@cd_reg_trib_ii = '5') and (@cd_fund_leg_regime = '37') -- Suspensão com Admissão Temporária
        BEGIN
            SET @vl_ii_normal     = ROUND((@vl_base_calc_ii / 100) * @pc_ii_normal, 2)
            SET @vl_ii_devido     = @vl_ii_normal
            /*IF @IN_SUSPENDE_II_RETIFIC = 1
                SET @vl_ii_a_recolher = 0
            ELSE*/
                SET @vl_ii_a_recolher = ROUND((@vl_ii_normal / 100) * @QT_MESES_ADM_TEMP, 2)

        END

        --  Calculo do antidumping
        SELECT @pc_antidump            = 0
        SELECT @vl_antidump            = 0
        SELECT @vl_antidump_devido     = 0
        SELECT @vl_antidump_a_recolher = 0

        SELECT @pc_antidump            = ISNULL(PC_NORMAL_ANTIDUMPING, 0),
               @vl_base_antidump       = ISNULL(VL_BASE_CALC_ANTIDUMPING, 0)
        FROM TPREVISAO_ADICAO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao

        IF (ISNULL(@pc_antidump, 0) > 0) AND (ISNULL(@vl_base_antidump, 0) > 0)
            SET @vl_antidump = CAST(ROUND((@vl_base_antidump * @pc_antidump / 100), 2) AS DECIMAL(28,2))
        ELSE
        BEGIN
            SELECT @pc_antidump            = ISNULL(PC_ESPEC_ANTIDUMPING, 0),
                   @vl_base_antidump       = ISNULL(QT_UNID_ESPEC_ANTIDUMPING, 0)
            FROM TPREVISAO_ADICAO (NOLOCK)
            WHERE NR_PROCESSO = @nr_processo
              AND NR_ADICAO = @nr_adicao

            SET @vl_antidump = CAST(ROUND(@vl_base_antidump * @pc_antidump, 2) AS DECIMAL(28,2))
        END

        SET @vl_antidump_a_recolher = ISNULL(@vl_antidump, 0)

        SELECT @vl_antidump_total = @vl_antidump_total + @vl_antidump

        SELECT @vl_tot_ii = @vl_tot_ii + @vl_ii_a_recolher
        --  Calculo do I.P.I.
        SELECT @vl_base_calc_ipi     = 0
        SELECT @vl_ipi_normal        = 0
        SELECT @vl_ipi_devido        = 0
        SELECT @vl_ipi_a_recolher    = 0
        SELECT @vl_calc_aliq_especif = 0

        IF @cd_reg_trib_ii = '5'
            SELECT @vl_base_calc_ipi = @vl_base_calc_ii + @vl_ii_devido
        ELSE
            SELECT @vl_base_calc_ipi = @vl_base_calc_ii + @vl_ii_a_recolher

        IF @in_ipi_nao_tributavel = 0 AND @cd_reg_trib_ii <> '6'
        BEGIN
            IF @vl_aliq_unit_especif > 0
            BEGIN
                SELECT @vl_calc_aliq_especif = @vl_aliq_unit_especif * @qt_mercad_aliq_especif
                SELECT @vl_ipi_devido        = @vl_calc_aliq_especif
                SELECT @vl_ipi_a_recolher    = @vl_calc_aliq_especif
            END
            ELSE
            BEGIN
                IF @pc_ipi_reduzida > 0
                    SELECT @pc_ipi_normal = @pc_ipi_reduzida

                SELECT @vl_ipi_normal     = ROUND((@vl_base_calc_ipi * @pc_ipi_normal / 100), 2)
                SELECT @vl_ipi_devido     = @vl_ipi_normal
                SELECT @vl_ipi_a_recolher = @vl_ipi_normal

                IF @cd_tipo_benef_ipi = '2'
                BEGIN
                    SELECT @vl_ipi_reduzido   = ROUND((@vl_base_calc_ipi * @pc_ipi_reduzida / 100), 2)
                    SELECT @vl_ipi_devido     = @vl_ipi_reduzido
                    SELECT @vl_ipi_a_recolher = @vl_ipi_reduzido
                END

                IF @cd_tipo_benef_ipi = '5'
                    SELECT @vl_ipi_a_recolher = 0

                IF @cd_tipo_benef_ipi = '1'
                    SELECT @vl_ipi_a_recolher = 0
            END
        END

        -- Cálculo de Admissão Temporária - Michel - 19 / 03 / 2010
        IF (@cd_reg_trib_ii = '5') and (@cd_fund_leg_regime = '37') -- Suspensão com Admissão Temporária
        BEGIN
            SET @vl_ipi_normal     = ROUND(((@vl_base_calc_ii + @vl_ii_normal) / 100) * @pc_ipi_normal, 2)
            SET @vl_ipi_devido     = @vl_ipi_normal
            /*
            IF @IN_SUSPENDE_IPI_RETIFIC = 1
                SET @vl_ipi_a_recolher = 0
            ELSE*/
                SET @vl_ipi_a_recolher = ROUND((@vl_ipi_normal / 100) * @QT_MESES_ADM_TEMP, 2)
        END

        SELECT @vl_tot_ipi = @vl_tot_ipi + @vl_ipi_a_recolher

        -- calculo PIS / COFINS
        SELECT @vl_taxa_siscomex         = ISNULL(VL_TX_SCX_AD, 0),
               @Incoterm                 = CD_INCOTERMS_VENDA,
               --@cd_tipo_benef_pis_cofins = ISNULL(CD_TIPO_BENEF_PIS_COFINS, 0),
               @cd_reg_trib_icms         = CD_TRIBUTACAO_ICMS,
               @pc_reducao_icms_ad       = ISNULL(PC_REDUCAO_ICMS, 0),
               @vl_mcv_mn                  = VL_MERC_VENDA_MN
        FROM TADICAO_DE_IMPORTACAO (NOLOCK)
        WHERE NR_ADICAO = @NR_ADICAO
          AND NR_PROCESSO = @NR_PROCESSO

        -- Incluir o Fundo de Pobreza na porcentagem do ICMS - Michel - 09 / 03 / 2010
        IF @IN_FUNDO_POBREZA = '1'
            SET @pc_reducao_icms_ad = @pc_reducao_icms_ad + @PC_FUNDO_POBREZA

        DECLARE @II                  FLOAT
        DECLARE @IPI                 FLOAT
        DECLARE @ALIQ_ICMS2          FLOAT
        DECLARE @1                   FLOAT
        DECLARE @2                   FLOAT
        DECLARE @3                   FLOAT
        DECLARE @aliq_ipi_PIS_COFINS FLOAT

        DECLARE @base_pis_cofins     FLOAT

        SET @aliq_ipi_PIS_COFINS = @pc_ipi_normal

        --SELECT @II  = ((@vl_base_calc_ii*@pc_ii_normal) / 100)
        SET @II  = @VL_II_A_RECOLHER
        SET @IPI = @VL_IPI_A_RECOLHER

        IF @cd_tipo_benef_ipi IN ('5', '1')
            SELECT @IPI = 0--(((@vl_base_calc_ii + ((@vl_base_calc_ii*@pc_ii_normal) / 100)) * @aliq_ipi_PIS_COFINS) / 100)
        ELSE IF @in_ipi_nao_tributavel = '0'
            SELECT @IPI = (((@vl_base_calc_ii + ((@vl_base_calc_ii*@pc_ii_normal) / 100)) * @pc_ipi_normal) / 100)
        ELSE
            SELECT @IPI = 0
        -- Incluido acima as linhas "IF @in_ipi_nao_tributavel = '0'" e "SELECT @IPI = 0" para não incluir o IPI no cálculo do ICMS quando não for tributável - Michel - 15/09/2010

        SELECT @pc_aliq_icms = @pc_aliq_icms / 100
        SELECT @ALIQ_ICMS2 = (@pc_aliq_icms*100)
        SELECT @1 = (((@vl_base_calc_ii+@II+@IPI) / (1-@pc_aliq_icms))*@ALIQ_ICMS2) / 100
        --SELECT @2 = (@vl_base_calc_ii+@1) / (1-((@vl_aliq_pis+@vl_aliq_cofins) / 100))
        SELECT @2 = @vl_base_calc_ii

        SET @base_pis_cofins = @2

        PRINT '@vl_base_calc_ii     :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_base_calc_ii))
        PRINT '@pc_ii_normal        :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @pc_ii_normal))
        PRINT '@aliq_ipi_PIS_COFINS :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @aliq_ipi_PIS_COFINS))
        PRINT '@II                  :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @II))
        PRINT '@IPI                 :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @IPI))
        PRINT '@pc_aliq_icms        :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @pc_aliq_icms))
        PRINT '@ALIQ_ICMS2          :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @ALIQ_ICMS2))
        PRINT '@1                   :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @1))
        PRINT '@vl_aliq_pis         :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_aliq_pis))
        PRINT '@vl_aliq_cofins      :  ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_aliq_cofins))

        -- Incluído para utilizar a base de redução, pois hoje está transmitindo o valor integral para o siscomex e danfe - Michel - 08/03/2013
        IF (@cd_tipo_benef_pis_cofins = '3') -- Redução
        BEGIN
            SET @vl_aliq_pis    = @aliq_pis_reduzida
            SET @vl_aliq_cofins = @aliq_cofins_reduzida
        END

        IF (@cd_fund_legal_piscofins = 39) --AND (@nr_processo IN ('0701IM-0456-10', '0701IM-0633-10'))
        BEGIN
            SET @vl_aliq_pis    = 0
            SET @vl_aliq_cofins = 0
        END

        IF @vl_aliquota_especifica_pis > 0
            SELECT @VL_PIS     = @vl_aliquota_especifica_pis * @qtd_unid_especifica_pis
        --ELSE IF @cd_tipo_benef_pis_cofins = '2' -- IF incluido para zerar o valor caso seja isenção - Michel - 16/09/2010
        --    SELECT @VL_PIS = 0
        ELSE
            SELECT @VL_PIS     = CAST(ROUND((@2 * (@vl_aliq_pis / 100)), 2)AS DECIMAL (10, 2))

        IF @vl_aliquota_especifica_cofins > 0
            SELECT @VL_COFINS  = @vl_aliquota_especifica_cofins * @qtd_unid_especifica_cofins
        --ELSE IF @cd_tipo_benef_pis_cofins = '2' -- IF incluido para zerar o valor caso seja isenção - Michel - 16/09/2010
        --    SELECT @VL_COFINS = 0
        ELSE
            SELECT @VL_COFINS  = CAST(ROUND((@2 * (@vl_aliq_cofins / 100)), 2)AS DECIMAL (10, 2))

        -- Cálculo de Admissão Temporária - Michel - 22 / 03 / 2010
        IF (@cd_reg_trib_ii = '5') and (@cd_fund_leg_regime = '37') -- Suspensão com Admissão Temporária
        BEGIN
            --SET @base_pis_cofins     = (@vl_base_calc_ii * (1 + (@ALIQ_ICMS2 / 100) * ((@pc_ii_normal / 100) + (@pc_ipi_normal / 100) * (1 + (@pc_ii_normal / 100)))) / ((1-(@vl_aliq_pis / 100)-(@vl_aliq_cofins / 100))*(1-(@ALIQ_ICMS2 / 100))))

            SET @vl_pis_calculado    = ROUND((@base_pis_cofins / 100) * @vl_aliq_pis, 2)
            /*IF @IN_SUSPENDE_PIS_COFINS_RETIFIC = 1
                SET @vl_pis          = 0
            ELSE*/
                SET @vl_pis          = ROUND((@vl_pis_calculado / 100) * @QT_MESES_ADM_TEMP, 2)

            SET @vl_cofins_calculado = ROUND((@base_pis_cofins / 100) * @vl_aliq_cofins, 2)
            /*IF @IN_SUSPENDE_PIS_COFINS_RETIFIC = 1
                SET @vl_cofins       = 0
            ELSE*/
                SET @vl_cofins       = ROUND((@vl_cofins_calculado / 100) * @QT_MESES_ADM_TEMP, 2)
        END

        --SELECT 'PIS', @vl_pis, @vl_pis_calculado, @QT_MESES_ADM_TEMP
        --SELECT 'COFINS', @vl_cofins, @vl_cofins_calculado, @QT_MESES_ADM_TEMP

        -- CASE foi colocado abaixo para não incluir o valor da suspensão - Michel - 03/12/2010
        SELECT @VL_PIS_TOTAL     = @VL_PIS_TOTAL + CASE ISNULL(@cd_tipo_benef_pis_cofins, '')
                                                       WHEN '4' THEN 0
                                                   ELSE @VL_PIS
                                                   END
        SELECT @VL_COFINS_TOTAL  = @VL_COFINS_TOTAL + CASE ISNULL(@cd_tipo_benef_pis_cofins, '')
                                                          WHEN '4' THEN 0
                                                      ELSE @VL_COFINS
                                                      END

        -- CALCULO DO ICMS --
        SELECT @pc_ii_normal = ISNULL(PC_ALIQ_II, 0)
        FROM TPREVISAO_ADICAO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao

        SELECT @cd_uf_cliente  = E.END_UF
        FROM TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
        WHERE P.NR_PROCESSO = @nr_processo
          AND E.CD_EMPRESA = P.CD_CLIENTE

        SELECT @in_calc_mp164 = IN_CALC_MP164
        FROM TPARAMETROS (NOLOCK)

        -- Antiga MP164

        IF (@cd_uf_cliente = 'SP') or (@cd_uf_cliente = 'PR') OR (@cd_uf_cliente = 'BA') OR (@cd_uf_cliente = 'RS')
        BEGIN
            IF @in_calc_mp164 = '1'
            BEGIN
                SELECT @vl_base_calc_icms = CAST(ROUND(@VL_PAGTO_DESPESAS + @2 + @vl_antidump_a_recolher + (@pc_ipi_normal / 100) * (@vl_mcv_mn + ((@pc_ii_normal / 100) * @vl_mcv_mn)) + @vl_taxa_siscomex + @vl_despesas_adic, 2)AS DECIMAL (10, 2))
                IF (@cd_tipo_acordo_tar <> '2') OR ((@cd_tipo_acordo_tar = '2') AND (@cd_acordo_aladi IN ('504', '')))
                   SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(@VL_PAGTO_DESPESAS + @2 + @vl_antidump_a_recolher + @VL_PAGTO_AFRMM + (@pc_ipi_normal / 100) * (@vl_mcv_mn + ((@pc_ii_normal / 100) * @vl_mcv_mn)) + @vl_taxa_siscomex + @vl_despesas_adic, 2)AS DECIMAL (10, 2))
                ELSE
                   SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(@VL_PAGTO_DESPESAS + @2 + @vl_antidump_a_recolher + (@pc_ipi_normal / 100) * (@vl_mcv_mn + ((@pc_ii_normal / 100) * @vl_mcv_mn)) + @vl_taxa_siscomex + @vl_despesas_adic, 2)AS DECIMAL (10, 2))
                PRINT 'ICMS : 1'
            END
            ELSE
            BEGIN
                SELECT @vl_base_calc_icms = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher) / (1 - (@ALIQ_ICMS2 / 100))), 2)AS DECIMAL (10, 2))
                IF (@cd_tipo_acordo_tar <> '2') OR ((@cd_tipo_acordo_tar = '2') AND (@cd_acordo_aladi IN ('504', '')))
                   SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @VL_PAGTO_AFRMM + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher) / (1 - (@ALIQ_ICMS2 / 100))), 2)AS DECIMAL (10, 2))
                ELSE
                   SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_antidump_a_recolher + @vl_ipi_a_recolher) / (1 - (@ALIQ_ICMS2 / 100))), 2)AS DECIMAL (10, 2))
                PRINT 'ICMS : 2'
            END
        END
        ELSE
        BEGIN
            --SELECT @vl_base_calc_icms = CAST(ROUND((@vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher), 2)AS DECIMAL (10, 2))
            SELECT @vl_base_calc_icms = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END + @vl_pis + @vl_cofins) / (1 - @pc_aliq_icms)), 2) AS DECIMAL(28,2))
            IF (@cd_tipo_acordo_tar <> '2') OR ((@cd_tipo_acordo_tar = '2') AND (@cd_acordo_aladi IN ('504', '')))
                SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @VL_PAGTO_AFRMM + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END + @vl_pis + @vl_cofins) / (1 - @pc_aliq_icms)), 2) AS DECIMAL(28,2))
            ELSE
                SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END + @vl_pis + @vl_cofins) / (1 - @pc_aliq_icms)), 2) AS DECIMAL(28,2))
            PRINT 'ICMS : 3'
        END

        PRINT 'PARCIAL @2 : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @2))
        PRINT 'PARCIAL @pc_ipi_normal : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @pc_ipi_normal))
        PRINT 'PARCIAL @vl_mcv_mn : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_mcv_mn))
        PRINT 'PARCIAL @pc_ii_normal : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @pc_ii_normal))
        PRINT 'PARCIAL @vl_mcv_mn : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_mcv_mn))
        PRINT 'PARCIAL @vl_taxa_siscomex : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_taxa_siscomex))
        PRINT 'PARCIAL @vl_despesas_adic : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_despesas_adic))

        PRINT 'PARCIAL @vl_base_calc_icms : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_base_calc_icms))

        -- ICMS devido
        IF @in_calc_mp164 = '1'
        BEGIN
            IF @cd_tipo_benef_pis_cofins IN ('2', '4') -- Isenção e Suspensão
            BEGIN
                --SELECT @vl_base_calc_icms = CAST(ROUND(((@vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END) / (1 - (@ALIQ_ICMS2 / 100))), 2)  AS DECIMAL (10, 2))
                SELECT @vl_base_calc_icms = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END) / (1 - (@ALIQ_ICMS2 / 100))), 2) AS DECIMAL(28,2))
                IF (@cd_tipo_acordo_tar <> '2') OR ((@cd_tipo_acordo_tar = '2') AND (@cd_acordo_aladi IN ('504', '')))
                    SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @VL_PAGTO_AFRMM + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END) / (1 - (@ALIQ_ICMS2 / 100))), 2) AS DECIMAL(28,2))
                ELSE
                    SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END) / (1 - (@ALIQ_ICMS2 / 100))), 2) AS DECIMAL(28,2))
                PRINT 'ICMS : 4'
            END
            ELSE
            BEGIN
                --SELECT @vl_base_calc_icms = CAST(ROUND(((@vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END + (@2 * (@vl_aliq_pis / 100)) +  (@2 * (@vl_aliq_cofins / 100))) / (1 - (@ALIQ_ICMS2 / 100))), 2)AS DECIMAL (10, 2))
                SELECT @vl_base_calc_icms = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END + @vl_pis + @vl_cofins) / (1 - (@ALIQ_ICMS2 / 100))), 2) AS DECIMAL(28,2))
                IF (@cd_tipo_acordo_tar <> '2') OR ((@cd_tipo_acordo_tar = '2') AND (@cd_acordo_aladi IN ('504', '')))
                    SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @VL_PAGTO_AFRMM + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END + @vl_pis + @vl_cofins) / (1 - (@ALIQ_ICMS2 / 100))), 2) AS DECIMAL(28,2))
                ELSE
                    SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END + @vl_pis + @vl_cofins) / (1 - (@ALIQ_ICMS2 / 100))), 2) AS DECIMAL(28,2))
                PRINT 'ICMS : 5'
            END
        END
        ELSE -- (Obs especifico eich, basear-se pela base antiga do cliente)
        BEGIN
            SELECT @vl_base_calc_icms = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END) / (1 - (@ALIQ_ICMS2 / 100))), 2)AS DECIMAL (10, 2))
            IF (@cd_tipo_acordo_tar <> '2') OR ((@cd_tipo_acordo_tar = '2') AND (@cd_acordo_aladi IN ('504', '')))
                SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @VL_PAGTO_AFRMM + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END) / (1 - (@ALIQ_ICMS2 / 100))), 2)AS DECIMAL (10, 2))
            ELSE
                SELECT @vl_base_calc_icms_AFRMM = CAST(ROUND(((@VL_PAGTO_DESPESAS + @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher + CASE @in_tx_scx_icms WHEN '0' THEN 0 ELSE @vl_tx_scx_ad END) / (1 - (@ALIQ_ICMS2 / 100))), 2)AS DECIMAL (10, 2))
        END

        -- Retirar o Fundo de Pobreza da porcentagem do ICMS - Michel - 09 / 03 / 2010
        IF @IN_FUNDO_POBREZA = '1'
        BEGIN
            SET @ALIQ_ICMS2         = @ALIQ_ICMS2 - @PC_FUNDO_POBREZA
            SET @pc_reducao_icms_ad = @pc_reducao_icms_ad - @PC_FUNDO_POBREZA
        END

        PRINT 'PARCIAL2 @vl_base_calc_ii : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_base_calc_ii))
        PRINT 'PARCIAL2 @vl_ii_a_recolher : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_ii_a_recolher))
        PRINT 'PARCIAL2 @vl_ipi_a_recolher : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_ipi_a_recolher))
        PRINT 'PARCIAL2 @in_tx_scx_icms : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @in_tx_scx_icms))
        PRINT 'PARCIAL2 @vl_tx_scx_ad : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_tx_scx_ad))

        PRINT 'PARCIAL @vl_base_calc_icms : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_base_calc_icms))

        IF (@cd_reg_trib_icms = '3')
        BEGIN
            SELECT @vl_icms_devido = 0
            SELECT @VL_ICMS_DEVIDO_AFRMM = 0
        END
        ELSE
        BEGIN
            SELECT @vl_icms_devido = ROUND(@vl_base_calc_icms * (@ALIQ_ICMS2 / 100), 2)
            IF (@cd_tipo_acordo_tar <> '2') OR ((@cd_tipo_acordo_tar = '2') AND (@cd_acordo_aladi IN ('504', '')))
                 SELECT @VL_ICMS_DEVIDO_AFRMM = ROUND(@VL_BASE_CALC_ICMS_AFRMM * (@ALIQ_ICMS2 / 100), 2)
             ELSE
                 SELECT @VL_ICMS_DEVIDO_AFRMM = @vl_icms_devido
        END

        -- ICMS A RECOLHER
        IF (@cd_reg_trib_icms = '3') OR (@cd_reg_trib_icms = '5') OR (@cd_reg_trib_icms = '7') OR (@cd_reg_trib_icms = '8')
        BEGIN
            SELECT @vl_icms_a_recolher = 0
            SELECT @VL_ICMS_A_RECOLHER_AFRMM = 0
        END
        ELSE
        BEGIN
            SELECT @vl_icms_a_recolher = @vl_icms_devido
            SELECT @VL_ICMS_A_RECOLHER_AFRMM = @VL_ICMS_DEVIDO_AFRMM
            IF @pc_reducao_icms_ad > 0
            BEGIN
                SELECT @vl_icms_a_recolher = @vl_icms_devido - (@vl_icms_devido * @pc_reducao_icms_ad / 100)
                SELECT @VL_ICMS_A_RECOLHER_AFRMM = @VL_ICMS_DEVIDO_AFRMM - (@VL_ICMS_DEVIDO_AFRMM * @pc_reducao_icms_ad / 100)
            END
        END

        -- Cálculo de Admissão Temporária - Michel - 22 / 03 / 2010
        IF (@cd_reg_trib_ii = '5') and (@cd_fund_leg_regime = '37') -- Suspensão com Admissão Temporária
        BEGIN
            SET @vl_icms_devido     = (((@vl_base_calc_ii + @vl_ii_normal + @vl_ipi_normal + @vl_pis_calculado + @vl_cofins_calculado + @vl_tx_scx_ad) / ((100 - @ALIQ_ICMS2) / 100)) / 100) * @ALIQ_ICMS2
            SET @vl_icms_a_recolher = ROUND((@vl_icms_devido / 100) * @QT_MESES_ADM_TEMP, 2)
            --SET @VL_ICMS_A_RECOLHER_AFRMM = ROUND((@VL_ICMS_DEVIDO_AFRMM / 100) * @QT_MESES_ADM_TEMP, 2)
        END

        PRINT '@vl_base_calc_icms : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_base_calc_icms))
        PRINT '@VL_BASE_PIS : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @2))
        PRINT '@pc_ipi_normal : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @pc_ipi_normal))
        PRINT '@vl_mcv_mn : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_mcv_mn))
        PRINT '@pc_ii_normal : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @pc_ii_normal))
        PRINT '@vl_taxa_siscomex : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_taxa_siscomex))
        PRINT '@vl_despesas_adic : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_despesas_adic))
        PRINT '@vl_base_calc_ii : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_base_calc_ii))
        PRINT '@vl_ii_a_recolher : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_ii_a_recolher))
        PRINT '@vl_ipi_a_recolher : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_ipi_a_recolher))
        PRINT '@cd_uf_cliente : ' + @cd_uf_cliente
        PRINT '@pc_aliq_icms : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @aliq_icms2))
        PRINT '@cd_reg_trib_icms : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @cd_reg_trib_icms))
        PRINT '@vl_icms_devido : ' + CONVERT(VARCHAR, CONVERT(DECIMAL(15, 2), @vl_icms_devido))

        --  Atualiza calculos na Adicao atual
        UPDATE TPREVISAO_ADICAO
        SET PL_MERCADORIA            = ROUND(@pl_merc, 7),
            VL_BASE_CALC_II          = @vl_base_calc_ii,
            VL_BASE_CALC_IPI         = @vl_base_calc_ipi,
            VL_BASE_CALC_ICMS        = @vl_base_calc_icms,
            VL_MLE                   = @vl_mle_mn,
            VL_DESPESAS              = @vl_desp_mn,
            VL_FRETE                 = @vl_frete_mn,
            VL_SEGURO                = @vl_seg_mn,
            VL_II                    = @vl_ii_a_recolher,
            VL_IPI                   = @vl_ipi_a_recolher,
            VL_ICMS                  = @vl_icms_a_recolher,
            VL_PIS                   = @VL_PIS,
            VL_COFINS                = @VL_COFINS,
            VL_BASE_PIS              = @2,
            VL_BASE_CALC_ICMS_AFRMM  = @VL_BASE_CALC_ICMS_AFRMM,
            VL_ICMS_A_RECOLHER_AFRMM = @VL_ICMS_A_RECOLHER_AFRMM,
            VL_ICMS_DEVIDO_AFRMM     = @VL_ICMS_DEVIDO_AFRMM
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao
    END
    SELECT @i_adicao = @i_adicao + 1
END

----------------------- Cálculo de Seguro com porcentagem - Michel - 01/09/2010 -----------------------
--/*
-- Comentado o AND abaixo, pois é necessário calcular o seguro pela segunda vez - Michel - 11/07/2011
IF (@PC_SEGURO_MLE > 0) AND (@cd_base_seguro = '3')
BEGIN
    DECLARE @VL_MLE_TOTAL_ADICOES FLOAT

    EXEC SP_CALCULO_SEGURO_PREVISAO @nr_processo, @vl_tot_seg_mn OUTPUT, @vl_tot_seg_mneg OUTPUT, @cd_base_seguro

    UPDATE TPREVISAO
    SET VL_SEGURO_MNEG = @vl_tot_seg_mneg,
        VL_SEGURO_MN   = @vl_tot_seg_mn
    WHERE NR_PROCESSO = @nr_processo

    SELECT @VL_MLE_TOTAL_ADICOES = SUM(ISNULL(VL_MERC_COND_VENDA, 0))
    FROM TADICAO_DE_IMPORTACAO (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo

    UPDATE PA
    SET VL_SEGURO   = (@vl_tot_seg_mn / @VL_MLE_TOTAL_ADICOES) * AI.VL_MERC_COND_VENDA
    FROM TPREVISAO_ADICAO PA INNER JOIN TADICAO_DE_IMPORTACAO AI ON AI.NR_PROCESSO = PA.NR_PROCESSO
                                                                AND AI.NR_ADICAO   = PA.NR_ADICAO
    WHERE PA.NR_PROCESSO = @nr_processo

    -- Cálcular a DI novamente sem recalcular o seguro - Michel - 13/09/2010
    --/*
    UPDATE TPREVISAO
    SET PC_SEGURO = 0
    WHERE NR_PROCESSO = @nr_processo

    EXEC SP_PREV_CALCULO @NR_PROCESSO

    UPDATE TPREVISAO
    SET PC_SEGURO = @PC_SEGURO_MLE
    WHERE NR_PROCESSO = @nr_processo
    --*/
END
--*/
----------------------- SELECIONA OS VALORES PARA CALCULO DO SDA -----------------------
SELECT @cd_tabela_sda = CD_TAB_SDA
FROM TCLIENTE_HABILITACAO (NOLOCK)
WHERE CD_CLIENTE  = @cd_cliente
  AND CD_UNID_NEG = @cd_unid_neg
  AND CD_PRODUTO  = @cd_produto

SELECT @pc_taxa_sda     = PC_TAXA,
       @vl_sda_minimo   = VL_MINIMO,
       @vl_sda_maximo   = VL_MAXIMO,
       @pc_contr_assist = PC_ASSIST_SOCIAL
FROM TSDA (NOLOCK)
WHERE CD_SDA = @cd_tabela_sda

-----------------------  PREPARA A BASE DE CALCULO -----------------------
SELECT @vl_base_calc = ROUND(@vl_mle_mn + @vl_frete_mn + @vl_seg_mn , 2)

-----------------------------  CALCULA O SDA ----------------------------
SELECT @vl_sda = ROUND((@vl_base_calc * @pc_taxa_sda / 100), 2)

IF @vl_sda > @vl_sda_maximo
    SELECT @vl_sda = @vl_sda_maximo

IF @vl_sda < @vl_sda_minimo
    SELECT @vl_sda = @vl_sda_minimo

SELECT @vl_contr_assist = ROUND((@vl_sda * @pc_contr_assist / 100), 2)

----------------------------- ATUALIZA DESPESAS --------------------------
DELETE TPREVISAO_DESPESA
WHERE NR_PROCESSO = @nr_processo
  AND CD_ITEM IN (@cd_item_vmle, @cd_item_frete, @cd_item_seg, @cd_item_ii, @cd_item_ipi, @cd_item_icms, @cd_item_sda, @cd_item_siscomex, @CD_ITEM_PIS_IMP, @CD_ITEM_COFINS_IMP)
  /*AND (CD_ITEM = @cd_item_vmle
    OR CD_ITEM = @cd_item_frete
    OR CD_ITEM = @cd_item_seg
    OR CD_ITEM = @cd_item_ii
    OR CD_ITEM = @cd_item_ipi
    OR CD_ITEM = @cd_item_icms
    OR CD_ITEM = @cd_item_sda
    OR CD_ITEM = @cd_item_siscomex
    OR CD_ITEM = @CD_ITEM_PIS_IMP
    OR CD_ITEM = @CD_ITEM_COFINS_IMP)
  --*/

IF (@vl_tot_mle_mn + @vl_tot_desp_mn) > 0
    INSERT TPREVISAO_DESPESA
    VALUES(@nr_processo, @cd_item_vmle, (@vl_tot_mle_mn + @vl_tot_desp_mn))

IF @vl_tot_frete_mn > 0
    INSERT TPREVISAO_DESPESA
    VALUES (@nr_processo, @cd_item_frete, (@vl_tot_frete_mn))

IF @vl_tot_seg_mn > 0
    INSERT TPREVISAO_DESPESA
    VALUES (@nr_processo, @cd_item_seg, (@vl_tot_seg_mn))

IF @vl_tot_ii > 0
    INSERT TPREVISAO_DESPESA
    VALUES (@nr_processo, @cd_item_ii, (@vl_tot_ii))

IF @vl_tot_ipi > 0
    INSERT TPREVISAO_DESPESA
    VALUES (@nr_processo, @cd_item_ipi, (@vl_tot_ipi))

IF @vl_tot_icms > 0
    INSERT TPREVISAO_DESPESA
    VALUES (@nr_processo, @cd_item_icms, (@vl_tot_icms))

IF @vl_tot_siscomex > 0
    INSERT TPREVISAO_DESPESA
    VALUES (@nr_processo, @cd_item_siscomex, (@vl_tot_siscomex))

IF (@vl_sda + @vl_contr_assist) > 0
    INSERT TPREVISAO_DESPESA
    VALUES (@nr_processo, @cd_item_sda, (@vl_sda + @vl_contr_assist))

IF @VL_PIS_TOTAL > 0
    INSERT TPREVISAO_DESPESA
    VALUES (@nr_processo, @CD_ITEM_PIS_IMP, @VL_PIS_TOTAL)

IF @VL_COFINS_TOTAL > 0
    INSERT TPREVISAO_DESPESA
    VALUES (@nr_processo, @CD_ITEM_COFINS_IMP, @VL_COFINS_TOTAL)

/*
SELECT NR_ADICAO, VL_BASE_CALC_ICMS, VL_ICMS, VL_PIS, VL_COFINS
FROM TPREVISAO_ADICAO
WHERE NR_PROCESSO = @NR_PROCESSO
ORDER BY NR_ADICAO

--COMMIT
ROLLBACK TRAN
SET XACT_ABORT OFF

SELECT NR_ADICAO, VL_BASE_CALC_ICMS, VL_ICMS, VL_PIS, VL_COFINS
FROM TPREVISAO_ADICAO
WHERE NR_PROCESSO = @NR_PROCESSO
ORDER BY NR_ADICAO
--*/
GO
