USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_rel_com_imp_exp] ( @nr_identificador INT OUTPUT, @cd_unid_neg CHAR(02), @cd_produto CHAR(02),
                                      @cd_grupo CHAR(03), @cd_cliente CHAR(05), @cd_servico CHAR(03), 
                                      @prefixo CHAR(02), @dt_conhec DATETIME ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador INT
DECLARE @cd_unid_neg      CHAR(02)
DECLARE @cd_produto       CHAR(02)
DECLARE @cd_grupo         CHAR(03)
DECLARE @cd_cliente       CHAR(05)
DECLARE @cd_servico       CHAR(03)
DECLARE @prefixo          CHAR(02)
DECLARE @dt_conhec        DATETIME

SELECT @cd_unid_neg = '01',
       @cd_produto  = '01',
       @cd_grupo    = 'X',
       @cd_cliente  = 'X',
       @cd_servico  = 'X',
       @prefixo     = 'X',
       @dt_conhec   = CONVERT( DATETIME,'04/07/2001',103 )
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ),0 ) + 1
FROM   TREL_COM_IMP_EXP

INSERT TREL_COM_IMP_EXP
SELECT @nr_identificador, P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_SERVICO, 
       P.NR_CONHECIMENTO, P.DT_CONHECIMENTO,
       CASE 
         WHEN P.VL_FRETE_COLLECT_MNEG > 0 THEN 'Collect'
         ELSE 'Prepaid'
       END AS TIPO_FRETE,
       CASE 
         WHEN P.VL_FRETE_COLLECT_MNEG > 0 THEN P.VL_FRETE_COLLECT_MNEG
         ELSE ISNULL( P.VL_FRETE_PREPAID_MNEG,0 )
       END AS VALOR_FRETE,
       P.VL_FRETE_CUSTO
FROM   TPROCESSO P, TEMPRESA_NAC E
WHERE  ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
       ( ( P.CD_PRODUTO  = @cd_produto  ) OR ( @cd_produto  = 'X' ) ) AND
       ( ( E.CD_GRUPO    = @cd_grupo    ) OR ( @cd_grupo    = 'X' ) ) AND
       ( ( P.CD_CLIENTE  = @cd_cliente  ) OR ( @cd_cliente  = 'X' ) ) AND 
       ( ( P.CD_SERVICO  = @cd_servico  ) OR ( @cd_servico  = 'X' ) ) AND 
       ( ( P.NR_PROCESSO LIKE '%' + @prefixo + '%'  ) OR ( @prefixo  = 'X' ) ) AND  
       P.DT_CONHECIMENTO = CONVERT( DATETIME,CONVERT( VARCHAR(10),@dt_conhec,103 ),103 ) AND 
       P.CD_CLIENTE = E.CD_EMPRESA

/*
SELECT * FROM TREL_COM_IMP_EXP WHERE NR_IDENTIFICADOR = 2

ROLLBACK TRAN
SET XACT_ABORT OFF

--*/


GO
