USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_REDISTRIBUI_SDA](@NR_PROCESSO CHAR(18)) AS
BEGIN
    /*
    BEGIN TRAN
    DECLARE @NR_PROCESSO CHAR(18) = '0101IM-001000-15'
    --*/

    DECLARE @CD_UNID_NEG CHAR(2) = LEFT(@NR_PROCESSO, 2)
    DECLARE @CD_PRODUTO  CHAR(2) = SUBSTRING(@NR_PROCESSO, 3, 2)
    DECLARE @CD_USUARIO  CHAR(4)
    DECLARE @LOGIN       VARCHAR(100)

    SELECT @LOGIN = SUSER_NAME()

    SELECT @CD_USUARIO = CD_USUARIO
    FROM TUSUARIO
    WHERE AP_USUARIO = @LOGIN

    IF @CD_USUARIO IS NULL
        SET @CD_USUARIO = '0707'

    UPDATE TPROCESSO_SDA SET IN_DISTR = '1', CD_STATUS = '0', CD_USUARIO_DISTR = @CD_USUARIO WHERE NR_PROCESSO = @NR_PROCESSO

    EXEC SP_DISTRIBUI_SDA @CD_UNID_NEG, @CD_PRODUTO, @CD_USUARIO

    /*
    SELECT *
    FROM TPROCESSO_SDA
    WHERE NR_PROCESSO = @NR_PROCESSO

    ROLLBACK

    SELECT *
    FROM TPROCESSO_SDA
    WHERE NR_PROCESSO = @NR_PROCESSO
    --*/
END

GO
