USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_muda_servico] (@nr_processo char(18)) AS
BEGIN
    IF DBO.FN_PROCESSO_SERVICO_NOVO(@NR_PROCESSO) = '1'
        EXEC SP_CRIA_FOLLOWUP @NR_PROCESSO
    ELSE
    BEGIN
        DECLARE @cd_servico         char(3)
        DECLARE @cd_servico_old     char(3)
        DECLARE @qt_evento_processo int
        DECLARE @qt_evento_servico  int
        DECLARE @qt_evento_comum    int
        DECLARE @cd_unid_neg        char(2)
        DECLARE @cd_produto         char(2)
        DECLARE @cd_cliente         char(5)
        DECLARE @in_incide_sda      char(1)
        DECLARE @cd_status_sda      char(1)

        SELECT @cd_unid_neg = CD_UNID_NEG,
               @cd_produto  = CD_PRODUTO,
               @cd_cliente  = CD_CLIENTE,
               @cd_servico  = CD_SERVICO
        FROM TPROCESSO
        WHERE NR_PROCESSO = @nr_processo

        -- Verifica se Incide SDA
        SELECT @in_incide_sda = IN_INCIDE_SDA
        FROM TCLIENTE_SERVICO
        WHERE CD_CLIENTE  = @cd_cliente
          AND CD_UNID_NEG = @cd_unid_neg
          AND CD_PRODUTO  = @cd_produto
          AND CD_SERVICO  = @cd_servico

        UPDATE TPROCESSO_SDA
        SET CD_STATUS = CASE
                            WHEN @in_incide_sda = '0' THEN '4'
                        ELSE CASE CD_STATUS
                                 WHEN '4' THEN '0'
                             ELSE CD_STATUS
                             END
                        END
        WHERE NR_PROCESSO = @nr_processo

        SELECT @cd_servico_old = MIN(CD_SERVICO),
               @qt_evento_processo = COUNT(*)
        FROM TFOLLOWUP
        WHERE NR_PROCESSO = @nr_processo 

        SELECT @qt_evento_servico = COUNT(*)
        FROM TSERVICO_EVENTO
        WHERE CD_SERVICO = @cd_servico

        SELECT @qt_evento_comum = COUNT(*) 
        FROM TFOLLOWUP F, TSERVICO_EVENTO S
        WHERE F.NR_PROCESSO     = @nr_processo
          AND F.CD_SERVICO      = S.CD_SERVICO
          AND F.CD_EVENTO       = S.CD_EVENTO
          AND ISNULL(F.CD_EV_BASICO, '') = ISNULL(S.CD_EV_BASICO, '')
          AND ISNULL(F.PZ_DO_EV_BASICO, 0) = ISNULL(S.PZ_DO_EV_BASICO, 0)

        IF (@cd_servico <> @cd_servico_old) OR
           (@qt_evento_processo <> @qt_evento_servico) OR
           (@qt_evento_processo <> @qt_evento_comum) 
        BEGIN
            DELETE TFOLLOWUP
            WHERE NR_PROCESSO = @nr_processo
              AND CD_EVENTO NOT IN (SELECT CD_EVENTO 
                                    FROM TSERVICO_EVENTO
                                    WHERE CD_SERVICO = @cd_servico)

            UPDATE TFOLLOWUP
            SET CD_SERVICO = @cd_servico
            WHERE NR_PROCESSO = @nr_processo

            UPDATE F
            SET CD_EV_BASICO    = S.CD_EV_BASICO,
                PZ_DO_EV_BASICO = S.PZ_DO_EV_BASICO
            FROM TFOLLOWUP F, TSERVICO_EVENTO S
            WHERE F.NR_PROCESSO     = @nr_processo
              AND F.CD_SERVICO      = S.CD_SERVICO
              AND F.CD_EVENTO       = S.CD_EVENTO
              AND (ISNULL(F.CD_EV_BASICO, '') <> ISNULL(S.CD_EV_BASICO, '') OR  ISNULL(F.PZ_DO_EV_BASICO, 0) <> ISNULL(S.PZ_DO_EV_BASICO, 0))

            INSERT TFOLLOWUP (NR_PROCESSO, CD_SERVICO, CD_EVENTO, IN_APLICAVEL, CD_EV_BASICO, PZ_DO_EV_BASICO)
            SELECT @nr_processo, @cd_servico, cd_evento, '1', CD_EV_BASICO, PZ_DO_EV_BASICO
            FROM TSERVICO_EVENTO
            WHERE CD_SERVICO = @cd_servico
              AND CD_EVENTO NOT IN (SELECT CD_EVENTO 
                                    FROM TFOLLOWUP
                                    WHERE NR_PROCESSO = @nr_processo
                                      AND CD_SERVICO  = @cd_servico)

            EXEC sp_atz_followup @nr_processo
        END
    END
END
GO
