USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [sp_rel_cli_cc_resumo] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), 
			         @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON 
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = '00022'
SELECT @dt_inicio = CONVERT( datetime, '01/09/2001', 103 )
SELECT @dt_fim = CONVERT( datetime, '15/09/2001', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @vl_saldo float
DECLARE @vl_zero float
DECLARE @dt_saldo_inicial datetime

SELECT @vl_zero = 0

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_CC_CLI

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT @dt_saldo_inicial = MAX( DT_EMISSAO )
FROM   TREL_FIN_CONTROLE
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       ( ( CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       DT_EMISSAO <= @dt_inicio

--Pega data inicial informada para os casos em que não possuírem relatório de reembolso
SELECT @dt_saldo_inicial = ISNULL( @dt_saldo_inicial, @dt_inicio )

--Determinando saldo inicial
SELECT @vl_saldo = 0
DECLARE @dt_saldo_existente datetime

IF @cd_grupo <> 'X' --Por grupo
BEGIN
  SELECT @dt_saldo_existente = MAX( DT_SALDO )
  FROM   TSALDO_CC_GRUPO
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_GRUPO = @cd_grupo AND
         DT_SALDO < @dt_saldo_inicial

  SELECT @vl_saldo = ISNULL( VL_SALDO, 0 )
  FROM   TSALDO_CC_GRUPO
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_GRUPO = @cd_grupo AND
         DT_SALDO = @dt_saldo_existente
END
ELSE -- Por Cliente
BEGIN
  SELECT @dt_saldo_existente = MAX( DT_SALDO )
  FROM   TSALDO_CC_CLI
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_CLIENTE = @cd_cliente AND
         DT_SALDO < @dt_saldo_inicial

  SELECT @vl_saldo = ISNULL( VL_SALDO, 0 )
  FROM   TSALDO_CC_CLI
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_CLIENTE = @cd_cliente AND
         DT_SALDO = @dt_saldo_existente
END

-- Cria  #TMP_REL_CC_CLI_RESUMO
SELECT @nr_identificador NR_IDENTIFICADOR, DT_LANCAMENTO, NR_PROCESSO, CD_ITEM,
       ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) VL_DEBITO, 
       ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) VL_CREDITO, 
       SPACE(15) CD_REFERENCIA
INTO   #TMP_REL_CC_CLI_RESUMO
FROM   TFATURAMENTO_CC F
WHERE  1 = 0

INSERT #TMP_REL_CC_CLI_RESUMO ( NR_IDENTIFICADOR, DT_LANCAMENTO, NR_PROCESSO, CD_ITEM, VL_DEBITO, VL_CREDITO, CD_REFERENCIA )
  SELECT @nr_identificador NR_IDENTIFICADOR, F.DT_LANCAMENTO, F.NR_PROCESSO, F.CD_ITEM, 
         CASE F.CD_ITEM 
            WHEN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) THEN SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) )
            WHEN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) THEN SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) )
            WHEN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) THEN 0
            ELSE
              CASE F.IN_RESTITUI
                WHEN '0' THEN SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) )
                WHEN '1' THEN 0
              END
         END,
         CASE F.CD_ITEM 
            WHEN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) THEN 0
            WHEN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) THEN 0
            WHEN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) THEN SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) )
            ELSE
              CASE F.IN_RESTITUI
                WHEN '0' THEN 0
                WHEN '1' THEN SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) )
              END
         END,
         ( SELECT CD_REFERENCIA
           FROM   TREF_CLIENTE REF
           WHERE  F.NR_PROCESSO = REF.NR_PROCESSO AND
                  NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                    FROM   TREF_CLIENTE REF2
                                    WHERE  REF.NR_PROCESSO = REF2.NR_PROCESSO ) )          
  FROM   TFATURAMENTO_CC F,
         TS_FATURA FAT,
         TPROCESSO P,
         TEMPRESA_NAC E,
         TITEM I 
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         ( ( ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' ) OR ( FAT.TP_TIPO_FAT = 'N' ) ) AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         F.IN_CANCELADO = '0' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_UNID_NEG = @cd_unid_neg AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT   FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS       FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI  FROM TPARAMETROS )
  GROUP BY F.DT_LANCAMENTO, F.NR_PROCESSO, F.CD_ITEM, F.IN_RESTITUI

DELETE TREL_CC_CLI_RESUMO
WHERE  NR_IDENTIFICADOR = @nr_identificador

INSERT TREL_CC_CLI_RESUMO ( NR_IDENTIFICADOR, DT_LANCAMENTO, NR_PROCESSO, CD_ITEM, VL_DEBITO, VL_CREDITO, CD_REFERENCIA )
  SELECT NR_IDENTIFICADOR, DT_LANCAMENTO, NR_PROCESSO, CD_ITEM, SUM( VL_DEBITO ), SUM( VL_CREDITO ), MAX( CD_REFERENCIA )
  FROM   #TMP_REL_CC_CLI_RESUMO 
  WHERE  NR_IDENTIFICADOR = @nr_identificador
  GROUP BY NR_IDENTIFICADOR, DT_LANCAMENTO, NR_PROCESSO, CD_ITEM

DECLARE @dt_lancamento datetime
DECLARE @vl_debito float
DECLARE @vl_credito float

DECLARE c_rel_cc_cli_resumo CURSOR FOR
  SELECT DT_LANCAMENTO, VL_DEBITO, VL_CREDITO
  FROM   TREL_CC_CLI_RESUMO R, TITEM I
  WHERE  R.CD_ITEM = I.CD_ITEM AND
         R.CD_ITEM NOT IN ( SELECT CD_ITEM_CPMF FROM TPARAMETROS ) AND
         R.NR_IDENTIFICADOR = @nr_identificador
  ORDER BY R.NR_IDENTIFICADOR, R.DT_LANCAMENTO, R.NR_PROCESSO, R.CD_ITEM

OPEN c_rel_cc_cli_resumo
FETCH c_rel_cc_cli_resumo INTO 
   @dt_lancamento, @vl_debito, @vl_credito
WHILE @@fetch_status = 0
BEGIN
  --Atualiza Saldo
  SELECT @vl_saldo = @vl_saldo + ROUND( @vl_credito, 2 ) - ROUND( @vl_debito, 2 )

  IF @cd_grupo <> 'X' --Por grupo
  BEGIN
    DELETE TSALDO_CC_GRUPO
    WHERE  CD_UNID_NEG = @cd_unid_neg AND
           CD_GRUPO = @cd_grupo AND
           DT_SALDO = @dt_lancamento
 
    INSERT TSALDO_CC_GRUPO( CD_UNID_NEG, CD_GRUPO, DT_SALDO, VL_SALDO )
    VALUES ( @cd_unid_neg, @cd_grupo, @dt_lancamento, ISNULL( @vl_saldo, 0 ) )
  END
  ELSE -- Por Cliente
  BEGIN
    DELETE TSALDO_CC_CLI
    WHERE  CD_UNID_NEG = @cd_unid_neg AND
           CD_CLIENTE = @cd_cliente AND
           DT_SALDO = @dt_lancamento
 
    INSERT TSALDO_CC_CLI( CD_UNID_NEG, CD_CLIENTE, DT_SALDO, VL_SALDO )
    VALUES ( @cd_unid_neg, @cd_cliente, @dt_lancamento, ISNULL( @vl_saldo, 0 ) )
  END

  UPDATE TREL_CC_CLI_RESUMO
  SET    VL_SALDO = @vl_saldo
  WHERE CURRENT OF c_rel_cc_cli_resumo

  FETCH c_rel_cc_cli_resumo INTO 
     @dt_lancamento, @vl_debito, @vl_credito
END

CLOSE c_rel_cc_cli_resumo
DEALLOCATE c_rel_cc_cli_resumo

DROP TABLE #TMP_REL_CC_CLI_RESUMO 

DELETE TREL_CC_CLI_RESUMO_TOTAIS
WHERE  NR_IDENTIFICADOR = @nr_identificador

INSERT TREL_CC_CLI_RESUMO_TOTAIS( NR_IDENTIFICADOR, CD_ITEM, VL_ITEM )
  SELECT NR_IDENTIFICADOR, CD_ITEM, SUM(VL_DEBITO) - SUM(VL_CREDITO)
  FROM   TREL_CC_CLI_RESUMO 
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         CD_ITEM NOT IN ( SELECT CD_ITEM_CPMF FROM TPARAMETROS ) AND
         CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
         CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
         CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS )
  GROUP BY NR_IDENTIFICADOR, CD_ITEM


GO
