USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_followup] (@nr_processo CHAR(18)) AS
BEGIN
    /*IF (SELECT CASE WHEN P.DT_ABERTURA >= CASE WHEN P.CD_PRODUTO IN ('01'/*, '03', '06', '17'*/) THEN ISNULL(G.DT_NOVO_FOLLOWUP_IMP, DATEADD(YEAR, 1, GETDATE()))
                                         ELSE CASE WHEN P.CD_PRODUTO IN ('02'/*, '10', '18'*/) THEN ISNULL(G.DT_NOVO_FOLLOWUP_EXP, DATEADD(YEAR, 1, GETDATE()))
                                              ELSE DATEADD(YEAR, 1, GETDATE())
                                              END
                                         END THEN '1'
               ELSE '0'
               END
        FROM TPROCESSO P (NOLOCK)
           INNER JOIN TGRUPO G (NOLOCK) ON G.CD_GRUPO = P.CD_GRUPO
        WHERE P.NR_PROCESSO = @nr_processo) = '1'
        EXEC SP_ATUALIZA_FOLLOWUP @NR_PROCESSO*/
    IF DBO.FN_PROCESSO_SERVICO_NOVO(@NR_PROCESSO) = '1'
    BEGIN
        EXEC SP_ATUALIZA_FOLLOWUP @NR_PROCESSO
        RETURN
    END
    ELSE
    BEGIN
        BEGIN TRY
            /*
            SET XACT_ABORT ON
            BEGIN TRAN

            DECLARE @nr_processo CHAR(18)
            SET @nr_processo = '0102EM-2973-10'
            --*/
            DECLARE @cd_servico        CHAR(3),
                    @cd_evento         CHAR(3),
                    @in_aplicavel      CHAR(1),
                    @pz_do_ev_basico   FLOAT,
                    @pz_ate_ev_futuro  FLOAT,
                    @prazo             INT,
                    @dt_realizacao     DATETIME,
                    @dt_prevista       DATETIME,
                    @dt_limite         DATETIME,
                    @nr_dias_conclusao INT,
                    @cd_ev_conclusor   CHAR(3),
                    @cd_ev_abre_proc   CHAR(3),
                    @cd_ev_envio_nf    CHAR(3),
                    @cd_ev_prev_fabr   CHAR(3),
                    @cd_ev_merc_fabr   CHAR(3),
                    @cd_ev_prev_cheg   CHAR(3),
                    @in_auto_merc_fabr CHAR(1),
                    @in_hora_eventos   BIT,
                    @in_prazo_util     CHAR(1),
                    @in_prazo_feriado  CHAR(1),
                    @dt_calculada      DATETIME,
                    @DT_520            DATETIME

            /*
            SELECT @cd_ev_abre_proc = CD_EV_ABRE_PROC,
                   @cd_ev_prev_fabr = CD_EV_PREV_FABRICA
            FROM TPARAMETROS (NOLOCK)
            --*/

            SET @cd_ev_abre_proc = '003'
            SET @cd_ev_envio_nf  = '041'
            SET @cd_ev_prev_fabr = '146'
            SET @cd_ev_merc_fabr = '164'
            SET @cd_ev_prev_cheg = '333'

            SELECT @cd_servico        = PR.CD_SERVICO,
                   @in_auto_merc_fabr = CH.IN_AUTO_MERC_FABR
            FROM TPROCESSO PR (NOLOCK), TCLIENTE_HABILITACAO CH (NOLOCK)
            WHERE PR.NR_PROCESSO = @nr_processo
              AND PR.CD_CLIENTE  = CH.CD_CLIENTE
              AND PR.CD_UNID_NEG = CH.CD_UNID_NEG
              AND PR.CD_PRODUTO  = CH.CD_PRODUTO

            -- VERIFICA SE TEM ALGUM EVENTO NA TSERVICO_EVENTO COM NR_ORDEM DIFERENTE DA TFOLLOWUP
            IF (SELECT COUNT(*)
                FROM TSERVICO_EVENTO SE (NOLOCK), TFOLLOWUP FUP (NOLOCK)
                WHERE FUP.NR_PROCESSO = @nr_processo
                  AND SE.CD_SERVICO   = @cd_servico
                  AND SE.CD_EVENTO    = FUP.CD_EVENTO
                  AND (ISNULL(SE.NR_ORDEM, 0)  <> ISNULL(FUP.NR_ORDEM, 0)
                    OR ISNULL(SE.CD_EV_BASICO, '')  <> ISNULL(FUP.CD_EV_BASICO, '')
                    OR ISNULL(SE.PZ_DO_EV_BASICO, 0)  <> ISNULL(FUP.PZ_DO_EV_BASICO, 0))) > 0
            BEGIN
             --atualiza a ordem dos eventos no fup do processo e apaga todas as previsões e datas limite
                UPDATE F
                SET NR_ORDEM = E.NR_ORDEM,
                    CD_EV_BASICO = E.CD_EV_BASICO,
                    PZ_DO_EV_BASICO = E.PZ_DO_EV_BASICO,
                    DT_PREVISTA = NULL,
                    DT_LIMITE   = NULL
                FROM TFOLLOWUP F, TSERVICO_EVENTO E (NOLOCK)
                WHERE F.CD_SERVICO = E.CD_SERVICO
                  AND F.CD_EVENTO  = E.CD_EVENTO
                  AND F.NR_PROCESSO = @nr_processo
            END
            ELSE
            BEGIN
                --apaga todas as previsões e datas limite
                UPDATE TFOLLOWUP
                SET DT_PREVISTA = NULL,
                    DT_LIMITE   = NULL
                WHERE NR_PROCESSO = @nr_processo
            END

            -- Atualizar as datas de realização de acordo com o cadastro de Serviço do Cliente - Hora nos eventos - Michel - 04/08/2010
            /*
            DECLARE CUR_EVENTOS CURSOR LOCAL FOR
                SELECT CD_EVENTO
                FROM TFOLLOWUP                 F  (NOLOCK)
                   INNER JOIN TPROCESSO        P  (NOLOCK) ON P.NR_PROCESSO = F.NR_PROCESSO
                   LEFT JOIN TCLIENTE_SERVICO  CS (NOLOCK) ON CS.CD_CLIENTE  = P.CD_CLIENTE
                                                          AND CS.CD_SERVICO  = P.CD_SERVICO
                                                          AND CS.CD_UNID_NEG = P.CD_UNID_NEG
                                                          AND CS.CD_PRODUTO  = P.CD_PRODUTO
                WHERE F.NR_PROCESSO = @nr_processo
                  AND ISNULL(CS.IN_HORA_EVENTOS, 0) = 0
                  AND DATEPART(HOUR, ISNULL(F.DT_REALIZACAO, 0)) +
                      DATEPART(MINUTE, ISNULL(F.DT_REALIZACAO, 0)) +
                      DATEPART(SECOND, ISNULL(F.DT_REALIZACAO, 0)) +
                      DATEPART(MILLISECOND, ISNULL(F.DT_REALIZACAO, 0)) > 0

            OPEN CUR_EVENTOS
            FETCH CUR_EVENTOS INTO @CD_EVENTO
            WHILE @@FETCH_STATUS = 0
            BEGIN
                UPDATE TFOLLOWUP
                SET DT_REALIZACAO = CONVERT(DATETIME, CONVERT(VARCHAR, DT_REALIZACAO, 103), 103)
                WHERE NR_PROCESSO = @nr_processo
                  AND CD_EVENTO   = @CD_EVENTO

                FETCH CUR_EVENTOS INTO @CD_EVENTO
            END

            CLOSE CUR_EVENTOS
            DEALLOCATE CUR_EVENTOS
            --*/

            DECLARE @CD_UNID_NEG       CHAR(2)
            DECLARE @CD_PRODUTO        CHAR(2)
            DECLARE @CD_CLIENTE        CHAR(5)
            DECLARE @CD_EMBARCACAO     CHAR(4)
            DECLARE @CD_LOCAL_EMBARQUE CHAR(4)
            DECLARE @NR_VIAGEM         CHAR(15)
            DECLARE @VL_TRANSIT_TIME   INT
            DECLARE @VL_TRANSIT_TRANSB INT
            DECLARE @CD_VIA_TRANSPORTE CHAR(2)

            SELECT @VL_TRANSIT_TIME   = VL_TRANSIT_TIME,
                   @CD_UNID_NEG       = CD_UNID_NEG,
                   @CD_PRODUTO        = CD_PRODUTO,
                   @CD_CLIENTE        = CD_CLIENTE,
                   @NR_VIAGEM         = NR_VIAGEM,
                   @CD_EMBARCACAO     = CD_EMBARCACAO,
                   @CD_LOCAL_EMBARQUE = CD_LOCAL_EMBARQUE
            FROM TPROCESSO (NOLOCK)
            WHERE NR_PROCESSO = @nr_processo

            SELECT @VL_TRANSIT_TRANSB = ISNULL(MAX(ISNULL(T.VL_TRANSIT_TIME, 0)), 0)
            FROM TPROCESSO                  P (NOLOCK)
               INNER JOIN VW_SERVICO_GERAL  S          ON S.CD_SERVICO = P.CD_SERVICO
               INNER JOIN TTRANSIT_TIME_EXP T (NOLOCK) ON T.CD_LOCAL_EMBARQUE = P.CD_LOCAL_EMBARQUE
                                                      AND ISNULL(T.CD_LOCAL_TRANSBORDO, '') = ISNULL(P.CD_LOCAL_TRANSBORDO, '')
                                                      AND T.CD_LOCAL_DESEMBARQUE = P.CD_LOCAL_DESEMBARQUE
                                                      AND T.CD_AGENTE = P.CD_AGENTE
                                                      AND T.CD_VIA_TRANSPORTE = S.CD_VIA_TRANSPORTE
            WHERE P.NR_PROCESSO = @NR_PROCESSO

            SELECT @CD_VIA_TRANSPORTE = ISNULL(S.CD_VIA_TRANSPORTE, '01')
            FROM TPROCESSO                  P (NOLOCK)
               INNER JOIN VW_SERVICO_GERAL  S          ON S.CD_SERVICO = P.CD_SERVICO
            WHERE P.NR_PROCESSO = @NR_PROCESSO

            SELECT @in_hora_eventos  = IN_HORA_EVENTOS
            FROM TCLIENTE_SERVICO (NOLOCK)
            WHERE CD_SERVICO  = @CD_SERVICO
              AND CD_CLIENTE  = @CD_CLIENTE
              AND CD_UNID_NEG = @CD_UNID_NEG
              AND CD_PRODUTO  = @CD_PRODUTO

            IF @in_hora_eventos IS NULL
                SET @in_hora_eventos = 0

            -- Comentado acima e utilizando abaixo para agilizar - Michel - 20/09/2010
            IF @in_hora_eventos = 0
            BEGIN
                DECLARE @TB_EVENTOS_SEM_HORA AS TABLE (
                    CD_EVENTO CHAR(3)
                )
                INSERT INTO @TB_EVENTOS_SEM_HORA
                SELECT CD_EVENTO
                    FROM TFOLLOWUP                 F  (NOLOCK)
                       INNER JOIN TPROCESSO        P  (NOLOCK) ON P.NR_PROCESSO = F.NR_PROCESSO
                    WHERE F.NR_PROCESSO = @nr_processo
                      AND ISNULL(@IN_HORA_EVENTOS, 0) = 0
                      AND DATEPART(HOUR, ISNULL(F.DT_REALIZACAO, 0)) +
                          DATEPART(MINUTE, ISNULL(F.DT_REALIZACAO, 0)) +
                          DATEPART(SECOND, ISNULL(F.DT_REALIZACAO, 0)) +
                          DATEPART(MILLISECOND, ISNULL(F.DT_REALIZACAO, 0)) > 0

                WHILE (SELECT COUNT(*) FROM @TB_EVENTOS_SEM_HORA) > 0
                BEGIN
                    SELECT TOP 1 @cd_evento = CD_EVENTO
                    FROM @TB_EVENTOS_SEM_HORA

                    UPDATE TFOLLOWUP
                    SET DT_REALIZACAO = CONVERT(DATETIME, CONVERT(VARCHAR, DT_REALIZACAO, 103), 103)
                    WHERE NR_PROCESSO = @nr_processo
                      AND CD_EVENTO   = @cd_evento

                    DELETE FROM @TB_EVENTOS_SEM_HORA
                    WHERE CD_EVENTO = @cd_evento
                END
            END
            
            SELECT @dt_realizacao = CASE ISNULL(@VL_TRANSIT_TIME, 0)
                                        WHEN 0 THEN NULL
                                    ELSE ISNULL(DT_ENT, DT_ESPERADA) + ISNULL(@VL_TRANSIT_TIME, 0) + CASE ISNULL(@IN_HORA_EVENTOS, 0) -- Utilizando essa linha ao inves da linha acima - Michel - 19/07/2010
                                                                                                         WHEN 0 THEN 0
                                                                                                     ELSE CASE DT_ESPERADA
                                                                                                              WHEN CONVERT(INT, DT_ESPERADA) THEN CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 108), 103)
                                                                                                          ELSE 0
                                                                                                          END
                                                                                                     END
                                    END,
                   @DT_520 = CASE @VL_TRANSIT_TRANSB
                                 WHEN 0 THEN NULL
                             ELSE ISNULL(DT_ENT, DT_ESPERADA) + @VL_TRANSIT_TIME + CASE @IN_HORA_EVENTOS
                                                                                       WHEN 0 THEN 0
                                                                                   ELSE CASE DT_ESPERADA
                                                                                            WHEN CONVERT(INT, DT_ESPERADA) THEN CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 108), 103)
                                                                                        ELSE 0
                                                                                        END
                                                                                   END
                             END
            FROM TVIAGEM (NOLOCK)
            WHERE CD_UNID_NEG   = CASE @CD_UNID_NEG
                                      WHEN '07' THEN '01'
                                  ELSE @CD_UNID_NEG
                                  END
              AND CD_PRODUTO    = @CD_PRODUTO
              AND CD_EMBARCACAO = @CD_EMBARCACAO
              AND NR_VIAGEM     = @NR_VIAGEM
              AND CD_LOCAL      = @CD_LOCAL_EMBARQUE

            IF (@CD_PRODUTO IN ('02', '10')) AND (ISNULL(@dt_realizacao, 0) <> 0)
            BEGIN
                -- Atualizar a data de realização do evento "Previsão de Chegada no Destino" (333), mesmo código da TR_PROC - Michel - 19/07/2010
                UPDATE TFOLLOWUP
                --SET DT_REALIZACAO = V.DT_ESPERADA + ISNULL(V.NR_TRANSIT_TIME, 0) + CASE ISNULL(CS.IN_HORA_EVENTOS, 0)
                SET DT_REALIZACAO = @dt_realizacao,
                    CD_RESP_REALIZACAO = '0707'  -- MyIndaia
                WHERE CD_EVENTO     = @cd_ev_prev_cheg
                  AND IN_APLICAVEL  = '1'
                  AND NR_PROCESSO   = @nr_processo
                  AND ISNULL(DT_REALIZACAO, 0) <> ISNULL(@dt_realizacao, 0)

                -- EVENTO 668 EXP - Previsão ATUALIZADA de chegada no destino - Na primeira vez será sempre igual a previsão de chegada (333)
                UPDATE TFOLLOWUP
                --SET DT_REALIZACAO = V.DT_ESPERADA + ISNULL(V.NR_TRANSIT_TIME, 0) + CASE ISNULL(CS.IN_HORA_EVENTOS, 0)
                SET DT_REALIZACAO = @dt_realizacao,
                    CD_RESP_REALIZACAO = '0707'  -- MyIndaia
                FROM TFOLLOWUP                 F  (NOLOCK)
                WHERE CD_EVENTO     = '668'
                  AND NR_PROCESSO   = @nr_processo
                  AND DT_REALIZACAO IS NULL

                -- Atualizar a data de Transbordo
                /*UPDATE TFOLLOWUP
                SET DT_REALIZACAO = @DT_520,
                    CD_RESP_REALIZACAO = '0707'
                WHERE CD_EVENTO = '520'
                  AND NR_PROCESSO   = @NR_PROCESSO
                  AND DT_REALIZACAO IS NULL
                */-- Comentado a pedido do David via e-mail em 16/09/2014
            END

            -- Atualização de eventos de exportação, produtos 02 e 10, a partir do 147, para Rodoviários
        IF (@CD_PRODUTO IN ('02', '10')) AND (@CD_VIA_TRANSPORTE = '07')
        BEGIN
            SET @DT_REALIZACAO = NULL
            SELECT @DT_REALIZACAO = DT_REALIZACAO + @VL_TRANSIT_TIME
            FROM TFOLLOWUP
            WHERE NR_PROCESSO = @NR_PROCESSO
              AND CD_EVENTO = '147'

            IF (ISNULL(@DT_REALIZACAO, 0) <> 0)
            BEGIN
                IF @IN_HORA_EVENTOS = 0
                    SET @DT_REALIZACAO = CONVERT(DATE, @DT_REALIZACAO, 103)

                IF (SELECT COUNT(*)
                    FROM TFOLLOWUP
                    WHERE NR_PROCESSO = @NR_PROCESSO
                      AND CD_EVENTO = '333'
                      AND ISNULL(DT_REALIZACAO, 0) < @DT_REALIZACAO) > 0
                BEGIN
                    UPDATE TFOLLOWUP
                    SET DT_REALIZACAO      = @DT_REALIZACAO,
                        CD_RESP_REALIZACAO = '0707'
                    WHERE NR_PROCESSO = @NR_PROCESSO
                      AND CD_EVENTO = '333'

                    IF (SELECT COUNT(*)
                        FROM TFOLLOWUP
                        WHERE NR_PROCESSO = @NR_PROCESSO
                          AND CD_EVENTO = '668') > 0
                    BEGIN
                        UPDATE TFOLLOWUP
                        SET DT_REALIZACAO      = @DT_REALIZACAO,
                            CD_RESP_REALIZACAO = '0707'
                        WHERE NR_PROCESSO = @NR_PROCESSO
                          AND CD_EVENTO = '668'
                    END
                END
            END
        END

            --seleciona a qtde de dias e evento para conclusão
            /*SELECT
              @nr_dias_conclusao = ISNULL( NR_DIAS_CONCLUSAO, 0),
              @cd_ev_conclusor   = CD_EVENTO_CONCLUSOR
            FROM TSERVICO S (NOLOCK), TPROCESSO P (NOLOCK)
            WHERE P.CD_SERVICO = S.CD_SERVICO
              AND P.NR_PROCESSO = @nr_processo*/

            --atualiza a data limite de conclusão
            /*UPDATE F SET
              DT_LIMITE = DATEADD(day, @nr_dias_conclusao, X.DT_REALIZACAO)
            FROM TFOLLOWUP F (NOLOCK), TFOLLOWUP X (NOLOCK)
            WHERE F.NR_PROCESSO = X.NR_PROCESSO
              AND X.CD_EVENTO   = @cd_ev_abre_proc
              AND F.NR_PROCESSO = @nr_processo
              AND F.CD_EVENTO   = @cd_ev_conclusor*/

            IF (SELECT COUNT(F.CD_EVENTO)
                FROM TFOLLOWUP F (NOLOCK)
                INNER JOIN TFOLLOWUP F2 (NOLOCK) ON F.NR_PROCESSO = F2.NR_PROCESSO
                                                AND F2.CD_EVENTO = '289'
                                                AND ISNULL(F2.DT_REALIZACAO, '') =  ''
                WHERE F.NR_PROCESSO = @NR_PROCESSO
                  AND F.CD_EVENTO = '041'
                  AND ISNULL(F.DT_REALIZACAO, '') <>  '') > 0
            BEGIN
              UPDATE F
              SET F.DT_REALIZACAO = F2.DT_REALIZACAO,
                  F.CD_RESP_REALIZACAO = '0707'
              FROM TFOLLOWUP F (NOLOCK)
                INNER JOIN TFOLLOWUP F2 (NOLOCK) ON F.NR_PROCESSO = F2.NR_PROCESSO
                                                AND F2.CD_EVENTO = '041'
                INNER JOIN TSERVICO S (NOLOCK) ON F.CD_SERVICO = S.CD_SERVICO
                                              AND S.CD_VIA_TRANSPORTE  = '07'
              WHERE F.CD_EVENTO = '289'
                AND F.NR_PROCESSO = @NR_PROCESSO
                AND ISNULL(F.DT_REALIZACAO, 0) <> ISNULL(F2.DT_REALIZACAO, 0)
            END

            /*IF (SELECT COUNT(F.CD_EVENTO)
                FROM TFOLLOWUP F
                INNER JOIN TFOLLOWUP F2 ON F.NR_PROCESSO = F2.NR_PROCESSO AND F2.CD_EVENTO = '289' AND ISNULL(F2.DT_REALIZACAO, '') =  ''
                WHERE F.NR_PROCESSO = @NR_PROCESSO AND F.CD_EVENTO = '041' AND ISNULL(F.DT_REALIZACAO, '') <>  '') > 0
            BEGIN
            UPDATE F SET F.DT_REALIZACAO = F2.DT_REALIZACAO, F.CD_RESP_REALIZACAO = F2.CD_RESP_APLICACAO
            FROM TFOLLOWUP F (NOLOCK)
              INNER JOIN TFOLLOWUP F2 (NOLOCK) ON F.NR_PROCESSO = F2.NR_PROCESSO AND F2.CD_EVENTO = '041'
            WHERE F.CD_EVENTO = '289' AND F.NR_PROCESSO = @nr_processo
            PRINT @NR_PROCESSO
            END*/

            DECLARE cPrevista CURSOR LOCAL FOR
                SELECT F.CD_SERVICO, F.CD_EVENTO, F.IN_APLICAVEL, SE.PZ_DO_EV_BASICO, FB.DT_REALIZACAO, FB.DT_PREVISTA
                FROM TFOLLOWUP F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK), TFOLLOWUP FB (NOLOCK)
                WHERE F.CD_SERVICO    = SE.CD_SERVICO
                  AND F.CD_EVENTO     = SE.CD_EVENTO
                  AND FB.NR_PROCESSO  = F.NR_PROCESSO
                  AND SE.CD_EV_BASICO = FB.CD_EVENTO
                  AND F.NR_PROCESSO   = @nr_processo
                ORDER BY SE.NR_ORDEM

            OPEN cPrevista
            FETCH cPrevista INTO @cd_servico, @cd_evento, @in_aplicavel, @pz_do_ev_basico, @dt_realizacao, @dt_prevista

            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF @in_aplicavel = '0'
                    SET @pz_do_ev_basico = 0

                SET @prazo = ISNULL(@pz_do_ev_basico, 0)

                SELECT @in_prazo_util    = ISNULL(IN_PRAZO_UTIL, '0'),
                       @in_prazo_feriado = ISNULL(IN_PRAZO_FERIADO, '0')
                FROM TSERVICO_EVENTO (NOLOCK)
                WHERE CD_SERVICO = @cd_servico
                  AND CD_EVENTO  = @cd_evento
                /*
                SELECT @dt_calculada = DATEADD(HOUR, @prazo, ISNULL(@dt_realizacao, @dt_prevista)) + ISNULL(QT_DIAS_DESVIO, 0)
                FROM TFOLLOWUP (NOLOCK)
                WHERE NR_PROCESSO = @nr_processo
                  AND CD_SERVICO  = @cd_servico
                  AND CD_EVENTO   = @cd_evento--*/ -- Comentado por Michel para utilizar LOOP a abaixo

                --/*
                --PRINT '----------------------------------------------------------------------------------------------------------'
                --PRINT 'EVENTO: ' + @cd_evento
                SELECT @dt_realizacao = ISNULL(@dt_realizacao, @dt_prevista)
                WHILE (@dt_realizacao IS NOT NULL) AND (@prazo <> 0)
                BEGIN
                    IF @prazo > 0
                        SET @dt_realizacao = DATEADD(HOUR, 1, @dt_realizacao)
                    ELSE
                        SET @dt_realizacao = DATEADD(HOUR, -1, @dt_realizacao)
                    IF ((@in_prazo_util = '0') OR (DATEPART(WEEKDAY, @dt_realizacao) NOT IN (1, 7))) AND
                       ((@in_prazo_feriado = '0') OR ((SELECT COUNT(*)
                                                       FROM TFERIADO (NOLOCK)
                                                       WHERE DT_FERIADO = CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103)) = 0))
                        IF @prazo > 0
                            SET @prazo = @prazo - 1
                        ELSE
                            SET @prazo = @prazo + 1
                    --PRINT 'PRAZO: ' + CONVERT(VARCHAR, @prazo)
                    --PRINT 'DATA : ' + CONVERT(VARCHAR, @dt_realizacao)
                END

                SELECT @dt_realizacao = @dt_realizacao + ISNULL(QT_DIAS_DESVIO, 0)
                FROM TFOLLOWUP (NOLOCK)
                WHERE NR_PROCESSO = @nr_processo
                  AND CD_SERVICO  = @cd_servico
                  AND CD_EVENTO   = @cd_evento

                --PRINT '----------------------------------------------------------------------------------------------------------'
                --*/
                --SELECT @nr_processo, @cd_evento, @dt_calculada, @dt_realizacao

                -- Retirar a hora caso o evento não tenha hora - Michel - 07/04/2010
                IF @in_hora_eventos = 0
                    SET @dt_realizacao = CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103)

                UPDATE TFOLLOWUP
                SET DT_PREVISTA = @dt_realizacao
                WHERE NR_PROCESSO = @nr_processo
                  AND CD_SERVICO  = @cd_servico
                  AND CD_EVENTO   = @cd_evento

                FETCH cPrevista INTO @cd_servico, @cd_evento, @in_aplicavel, @pz_do_ev_basico, @dt_realizacao, @dt_prevista
            END

            CLOSE cPrevista
            DEALLOCATE cPrevista

            --atualiza as previsões dos eventos
            /*  SELECT F.CD_SERVICO, F.CD_EVENTO, F.IN_APLICAVEL, SE.PZ_DO_EV_BASICO, FB.DT_REALIZACAO, FB.DT_PREVISTA
                INTO #FUP
                FROM TFOLLOWUP F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK), TFOLLOWUP FB (NOLOCK)
               WHERE F.CD_SERVICO    = SE.CD_SERVICO
                 AND F.CD_EVENTO     = SE.CD_EVENTO
                 AND FB.NR_PROCESSO  = F.NR_PROCESSO
                 AND SE.CD_EV_BASICO = FB.CD_EVENTO
                 AND F.NR_PROCESSO   = @nr_processo
               ORDER BY SE.NR_ORDEM

            WHILE (SELECT COUNT(*) FROM #FUP) > 0
            BEGIN
              SELECT TOP 1 @cd_evento = CD_EVENTO, @cd_servico = CD_SERVICO,
                           @prazo = PZ_DO_EV_BASICO, @dt_realizacao = DT_REALIZACAO,
                    @dt_prevista = DT_PREVISTA, @in_aplicavel = IN_APLICAVEL
                FROM #FUP
               ORDER BY CD_EVENTO

              IF @in_aplicavel = '0'
                SET @pz_do_ev_basico = 0
              SET @prazo = ISNULL( @pz_do_ev_basico, 0)

              UPDATE TFOLLOWUP
                 SET DT_PREVISTA = DATEADD( day, @prazo, ISNULL( @dt_realizacao, @dt_prevista ) )
               WHERE NR_PROCESSO = @nr_processo
                 AND CD_SERVICO  = @cd_servico
                 AND CD_EVENTO   = @cd_evento

              DELETE FROM #FUP WHERE CD_EVENTO = @cd_evento
            END

            DROP TABLE #FUP
            */

            --atualiza a data limite para realização dos eventos
            /*DECLARE cLimite CURSOR FOR
              SELECT F.CD_SERVICO, F.CD_EVENTO, F.IN_APLICAVEL, SE.PZ_ATE_EV_FUTURO, FB.DT_REALIZACAO, FB.DT_LIMITE
              FROM TFOLLOWUP F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK), TFOLLOWUP FB (NOLOCK)
              WHERE F.CD_SERVICO    = SE.CD_SERVICO
                AND F.CD_EVENTO     = SE.CD_EVENTO
                AND FB.NR_PROCESSO  = F.NR_PROCESSO
                AND SE.CD_EV_FUTURO = FB.CD_EVENTO
                AND F.NR_PROCESSO   = @nr_processo
              ORDER  BY SE.NR_ORDEM DESC

            OPEN cLimite
            FETCH cLimite INTO @cd_servico, @cd_evento, @in_aplicavel, @pz_ate_ev_futuro, @dt_realizacao, @dt_limite

            WHILE @@fetch_status = 0
            BEGIN
              IF @in_aplicavel = '0' SET @pz_ate_ev_futuro = 0
              SET @prazo = ISNULL( @pz_ate_ev_futuro, 0)

              UPDATE TFOLLOWUP SET
                DT_LIMITE   = DATEADD( day,( (-1) * @prazo ), @dt_limite )
              WHERE NR_PROCESSO = @nr_processo
                AND CD_SERVICO  = @cd_servico
                AND CD_EVENTO   = @cd_evento

              FETCH cLimite INTO @cd_servico, @cd_evento, @in_aplicavel, @pz_ate_ev_futuro, @dt_realizacao, @dt_limite
            END
            CLOSE cLimite
            DEALLOCATE cLimite
            */

            --atualiza o evento de previsão na fábrica
            --IF @in_auto_merc_fabr = '1'
            --BEGIN
            --  SELECT @dt_prevista = DATEADD(day, 2, ISNULL(DT_REALIZACAO,DT_PREVISTA) )
            --    FROM TFOLLOWUP (NOLOCK)
            --   WHERE NR_PROCESSO = @nr_processo
            --     AND CD_EVENTO   = @cd_ev_envio_nf
            --  --se a data existe, preenche a previsão e chegada na fabrica
            --  IF @dt_prevista IS NOT NULL
            --  BEGIN
            --    UPDATE TFOLLOWUP
            --       SET DT_REALIZACAO = @dt_prevista
            --     WHERE NR_PROCESSO   = @nr_processo
            --       AND CD_EVENTO     = @cd_ev_prev_fabr
            --
            --    UPDATE TFOLLOWUP
            --       SET DT_PREVISTA = @dt_prevista
            --     WHERE NR_PROCESSO = @nr_processo
            --       AND CD_EVENTO   = @cd_ev_merc_fabr
            --  END
            --END
        END TRY
        BEGIN CATCH
            PRINT 'EXEC BROKER.DBO.SP_GRAVA_ERRO ''BROKER'''
        END CATCH

        --EXEC SP_ATUALIZA_DASHBOARD @NR_PROCESSO
        --INSERT INTO TATZ_DASHBOARD
        --VALUES(@NR_PROCESSO, GETDATE())
    END
    /*
    SELECT NR_PROCESSO, CD_SERVICO, CD_EVENTO, DT_PREVISTA, DT_REALIZACAO
    FROM TFOLLOWUP (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_EVENTO   = '333'
    ORDER BY NR_ORDEM

    ROLLBACK TRAN
    SET XACT_ABORT OFF
    --*/
END
GO
