USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_liberar_solic_pagto_ag]( @nr_processo char(18), @nr_lancamento char(3), @cd_item char(3), @operacao char(1), @cd_usuario char(4) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_lancamento char(3)
DECLARE @cd_item char(3)
DECLARE @operacao char(1)

SELECT @nr_processo = '4001CL-0015-01'
SELECT @nr_lancamento = '001'
SELECT @cd_item = '007'
SELECT @operacao = '+'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_status  char(2)
DECLARE @vl_pagto   numeric(7,2)
DECLARE @tp_destino char(1)
DECLARE @dt_pagto   datetime
DECLARE @nr_ref     char(3)

SELECT @cd_status  = CD_STATUS, 
       @tp_destino = TP_DESTINO,
       @dt_pagto   = DT_PAGTO,
       @nr_ref     = NR_REF,
       @vl_pagto = CONVERT( numeric(7, 2), ISNULL( VL_PAGTO, 0 ) ) - CONVERT( numeric(7, 2), ISNULL( VL_DESCONTO, 0 ) )
FROM   TSOLIC_PAGTO
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( NR_LANCAMENTO = @nr_lancamento ) AND
       ( CD_ITEM = @cd_item )

IF @operacao = '+' --Liberar
BEGIN
  IF @tp_destino = '3' 
  BEGIN
    SELECT @cd_status = '7'
  END
  ELSE
  BEGIN
    IF @cd_status = '1' --Saldo Insuficiente
      SELECT @cd_status = '8'
    IF @cd_status = '2' --Numerário não Solicitado
      SELECT @cd_status = '9'
    IF @cd_status = '3' --Numerário não Recebido
      SELECT @cd_status = '10'
    IF @cd_status = '5' --Solicitado Fora do Horário
      SELECT @cd_status = '11'
  END
END
ELSE --Não Liberar
BEGIN
  IF @cd_status = '1' --Saldo Insuficiente
    SELECT @cd_status = '12'
  IF @cd_status = '2' --Numerário não Solicitado
    SELECT @cd_status = '13'
  IF @cd_status = '3' --Numerário não Recebido
    SELECT @cd_status = '14'
  IF @cd_status = '5' --Solicitado Fora do Horário
    SELECT @cd_status = '15'
END

UPDATE TSOLIC_PAGTO
SET    CD_STATUS = @cd_status
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( NR_LANCAMENTO = @nr_lancamento ) AND
       ( CD_ITEM = @cd_item )

/*IF ( ( @cd_status NOT IN ('0', '6', '7', '17', '18' ) AND 
       @cd_item NOT IN ( '991', '992', '993', '997', '998', '987', '988' ) ) OR
     ( ( @cd_status  = '7' AND @tp_destino <> '2' ) ) ) AND 
   @operacao = '+'
BEGIN
  EXEC sp_atualiza_utilizado @nr_processo, @cd_item, @vl_pagto, '+'
END
*/
IF @tp_destino NOT IN ( '2', '4' ) --Débito em Conta da Comissária ==> Atualiza Financeiro
BEGIN
  EXEC sp_distribui_pagto_ag @dt_pagto, @nr_ref, @tp_destino, @cd_usuario
END





GO
