USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_aditivo_drawback ******/
CREATE PROCEDURE [sp_aditivo_drawback]  ( @nr_ato_concessorio char(15), @nr_forecast char(6), @nr_item char(3) ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON

DECLARE @nr_ato_concessorio  char(15)
DECLARE @nr_forecast         char(6)
DECLARE @nr_item             char(3)

SELECT @nr_ato_concessorio = '2000036351'
SELECT @nr_forecast        = '00903'
SELECT @nr_item            = '001'
*/


--Capa
DECLARE @dt_vigencia      datetime

--Exportação
DECLARE @cd_mercadoria    char(20)
DECLARE @cd_moeda         char(3)
DECLARE @nr_laudo         char(5)

DECLARE @qt_export        float
DECLARE @vl_fob_unit      float
DECLARE @vl_com_agente    float
DECLARE @vl_frete_unit    float
DECLARE @vl_peso_liq_unit float

--Importação
DECLARE @cd_mat_pri         char(15)
DECLARE @cd_mercadoria_imp  char(15)
DECLARE @nr_laudo_imp       char(5)
 
DECLARE @qt_import          float
DECLARE @vl_fob_imp         float
DECLARE @vl_frete_imp       float
DECLARE @vl_seguro_imp      float





UPDATE TATO_CONC_ADITIVO SET IN_ATIVO = '0' WHERE NR_FORECAST = @nr_forecast

INSERT INTO TATO_CONC_ADITIVO
            ( NR_FORECAST, NR_ATO_CONCESSORIO, NR_ADITIVO, IN_ATIVO )
     VALUES ( @nr_forecast, @nr_ato_concessorio, @nr_item,  '1' )        
 

DECLARE cursor_exportacao CURSOR FOR
  SELECT CD_MERCADORIA, VL_UNITARIO, QT_EXP, NR_LAUDO,
         VL_COM_AGENTE, VL_FRETE_UNIT, PL_UNIT_EXP, CD_MOEDA
    FROM TFORECAST_EXP
   WHERE NR_FORECAST = @nr_forecast
  
  OPEN cursor_exportacao 
  FETCH cursor_exportacao INTO @cd_mercadoria, @vl_fob_unit, @qt_export, @nr_laudo, 
                               @vl_com_agente, @vl_frete_unit, @vl_peso_liq_unit, @cd_moeda 
  WHILE @@fetch_status = 0 
  BEGIN

    INSERT INTO TATO_CONC_ADITIVO_EXP 
                ( NR_ATO_CONCESSORIO, NR_FORECAST, NR_ITEM, CD_MERCADORIA, CD_MOEDA, QT_EXPORT,
                  VL_FOB_UNIT, VL_COM_AGENTE, VL_FRETE_UNIT, VL_PESO_LIQ_UNIT, NR_LAUDO )    
         VALUES ( @nr_ato_concessorio, @nr_forecast, @nr_item, @cd_mercadoria, @cd_moeda, @qt_export,
                  @vl_fob_unit, @vl_com_agente, @vl_frete_unit, @vl_peso_liq_unit, @nr_laudo )
    
    FETCH cursor_exportacao INTO @cd_mercadoria, @vl_fob_unit, @qt_export, @nr_laudo, 
                                 @vl_com_agente, @vl_frete_unit, @vl_peso_liq_unit, @cd_moeda
  END
  CLOSE cursor_exportacao
  DEALLOCATE cursor_exportacao





DECLARE cursor_importacao CURSOR FOR
  SELECT CD_MAT_PRI, CD_MERCADORIA, NR_LAUDO, QT_IMP, VL_UNITARIO, VL_FRETE_UNIT, VL_SEGURO 
    FROM TFORECAST_IMP
   WHERE NR_FORECAST = @nr_forecast

  OPEN cursor_importacao
  FETCH cursor_importacao INTO @cd_mat_pri, @cd_mercadoria_imp, @nr_laudo_imp, @qt_import, @vl_fob_imp, 
                               @vl_frete_imp, @vl_seguro_imp
  WHILE @@fetch_status = 0
  BEGIN
        
    INSERT INTO TATO_CONC_ADITIVO_IMP 
                ( NR_ATO_CONCESSORIO, NR_FORECAST, NR_ITEM, CD_MAT_PRI, CD_MERCADORIA, CD_MOEDA, 
                  QT_IMPORT, VL_FOB_UNIT, VL_SEGURO, VL_FRETE_UNIT, NR_LAUDO )
         VALUES ( @nr_ato_concessorio, @nr_forecast, @nr_item, @cd_mat_pri, @cd_mercadoria_imp, '220',
                  @qt_import, @vl_fob_imp, @vl_seguro_imp, @vl_frete_imp, @nr_laudo_imp  )


    FETCH cursor_importacao INTO @cd_mat_pri, @cd_mercadoria_imp, @nr_laudo_imp, @qt_import, @vl_fob_imp, 
                                 @vl_frete_imp, @vl_seguro_imp
  END
  CLOSE cursor_importacao
  DEALLOCATE cursor_importacao
  





/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
