USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_obs_followup] (@NR_PROCESSO char(18), @CD_EVENTO CHAR(3) = '022') AS

--DECLARE @nr_processo CHAR(18)
--SET @nr_processo = '0101IM-5000-07'

--DECLARE @TX_OBS VARCHAR(8000)

--SELECT @TX_OBS = TX_OBS FROM TFOLLOWUP (NOLOCK) 
-- WHERE NR_PROCESSO = @NR_PROCESSO
--   AND CD_EVENTO = '022'

--UPDATE TPROCESSO SET TX_OBSERVACOES = @TX_OBS
-- WHERE NR_PROCESSO = @NR_PROCESSO

IF @CD_EVENTO = '022'
    UPDATE PR
    SET TX_OBSERVACOES = FUP.TX_OBS
    FROM TPROCESSO PR (NOLOCK)
       INNER JOIN TFOLLOWUP FUP (NOLOCK) ON FUP.NR_PROCESSO = PR.NR_PROCESSO
    WHERE FUP.NR_PROCESSO = @NR_PROCESSO
      AND FUP.CD_EVENTO = '022'
GO
