USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_gastos_armazenagem    Script Date: 02/09/1999 08:59:01 AM ******/
create procedure [sp_gastos_armazenagem]( @cd_grupo   char(3),
     @cd_cliente   char(5),
     @cd_unid_neg  char(2),
     @cd_produto  char(2),
     @periodo_inicial datetime,
     @periodo_final  datetime,
     @cd_grupo_item  char(2),
     @cd_moeda  char(3),
     @nr_identificador int output) as
/*declare @cd_grupo   char(3)
declare @cd_cliente  char(5)
declare @cd_unid_neg  char(2)
declare @cd_produto  char(2)
declare @periodo_inicial datetime
declare @periodo_final  datetime
declare @cd_grupo_item  char(2)
declare @cd_moeda  char(3)
declare @nr_identificador int
select @cd_grupo  = '010'
select @cd_cliente  = ''
select @cd_unid_neg  = '01'
select @cd_produto  = '02'
select @periodo_inicial  = convert(datetime, '01/12/1998', 103)
select @periodo_final  = convert(datetime, '31/12/1998', 103)
select @cd_grupo_item  = '01'
select @cd_moeda  = '220'
*/
SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TGASTOS_ARMAZEMAGEM

SELECT P.NR_PROCESSO, 
       P.CD_CLIENTE,
       F.CD_ITEM,
       CASE P.CD_PRODUTO
         WHEN '01' THEN ISNULL( P.CD_LOCAL_DESEMBARQUE, 'NINF' )
         WHEN '02' THEN ISNULL( P.CD_LOCAL_EMBARQUE, 'NINF' )
         WHEN '03' THEN ISNULL( P.CD_LOCAL_DESEMBARQUE, 'NINF' )
         WHEN '10' THEN ISNULL( P.CD_LOCAL_EMBARQUE, 'NINF' )
         ELSE 'NINF'
       END CD_LOCAL, 
       ISNULL( P.VL_MLE_MN, 0 ) VL_MLE_MN,
       ISNULL( ( CASE IN_RESTITUI
                   WHEN '0' THEN ( F.VL_ITEM + F.VL_ASSIST )
                   WHEN '1' THEN ( F.VL_ITEM + F.VL_ASSIST ) * (-1)
                   ELSE 0
                 END ), 0 ) VL_ITEM,
       ISNULL( ( SELECT TX_CAMBIO
                 FROM   TTAXA_CAMBIO
                 WHERE  F.DT_LANCAMENTO BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA AND
                        CD_MOEDA = @cd_moeda ), 0 ) VL_CAMBIO,
       ISNULL( B.PESO_BRUTO, 0 ) PESO_BRUTO
INTO  #tmp_arm_aux
FROM  TPROCESSO P, 
      TFATURAMENTO_CC F, 
      TEMPRESA_NAC E,
      TGRUPO_ITEM_ITEM G,
      VW_DT_EMB_DESEMB A,
      VW_PROC_PESO_BRUTO B
WHERE P.NR_PROCESSO = F.NR_PROCESSO AND
      P.NR_PROCESSO *= B.NR_PROCESSO AND
      E.CD_EMPRESA  = P.CD_CLIENTE AND
      ( ( E.CD_GRUPO = @cd_grupo AND @cd_grupo <> '' ) OR
      ( E.CD_EMPRESA = @cd_cliente AND @cd_cliente <> '' ) ) AND
      P.CD_UNID_NEG = @cd_unid_neg AND
      P.CD_PRODUTO = @cd_produto AND
      P.NR_PROCESSO = A.NR_PROCESSO AND
      A.DT_REALIZACAO BETWEEN @periodo_inicial AND @periodo_final AND
      F.CD_ITEM = G.CD_ITEM AND 
      G.CD_GRUPO_ITEM = @cd_grupo_item AND
      F.IN_CANCELADO = '0'

SELECT NR_PROCESSO, CD_CLIENTE, CD_LOCAL, CD_ITEM, MIN( VL_MLE_MN ) VL_MLE_MN, 
       SUM( VL_ITEM ) VL_ITEM, MIN( VL_CAMBIO ) VL_CAMBIO, MIN( PESO_BRUTO ) PESO_BRUTO
INTO   #tmp_arm
FROM   #tmp_arm_aux
GROUP BY NR_PROCESSO, CD_CLIENTE, CD_LOCAL, CD_ITEM

UPDATE #tmp_arm
SET    VL_ITEM = ROUND( CONVERT( numeric(14,2), ( 7 * PESO_BRUTO ) ), 2 )
WHERE  CD_ITEM = '004'

INSERT INTO TGASTOS_ARMAZENAGEM
SELECT @nr_identificador NR_IDENTIFICADOR, CD_CLIENTE, CD_LOCAL,
       CASE 
         WHEN ( VL_CAMBIO <> 0 ) THEN ROUND( ( VL_ITEM / VL_CAMBIO ), 2 )
         ELSE 0
       END VL_DESPESAS,
       VL_MLE_MN,
       PESO_BRUTO,
       CASE 
         WHEN ( VL_CAMBIO <> 0 AND VL_MLE_MN <> 0 ) THEN ROUND( ( ( VL_ITEM / VL_CAMBIO ) / VL_MLE_MN ), 2 )
         ELSE 0
       END DESP_FOB,
       CASE 
         WHEN ( VL_CAMBIO <> 0 AND PESO_BRUTO <> 0 ) THEN ROUND( ( ( VL_ITEM / VL_CAMBIO ) / PESO_BRUTO ), 2 )
         ELSE 0
       END DESP_PESO
FROM   #tmp_arm

DROP TABLE #tmp_arm
DROP TABLE #tmp_arm_aux


GO
