USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_rel_est_cntr_vl_cif] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                          @dt_ini datetime, @dt_fim datetime, @nr_identificador int output ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_ini datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = 'X' 
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_ini = CONVERT( datetime, '01/01/2001', 103 )
SELECT @dt_fim = CONVERT( datetime, '10/02/2002', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_EST_CNTR_VL_CIF (TABLOCK HOLDLOCK)

INSERT TREL_EST_CNTR_VL_CIF ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, TP_CNTR, CD_CLIENTE, 
                              CD_ARM_ATRACACAO, CD_ARM_DESCARGA, VL_QTDE, VL_CIF_MN, VL_PESO_LIQUIDO )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, C.TP_CNTR, MAX( P.CD_CLIENTE ) AS CD_CLIENTE, 
         MAX( P.CD_ARMAZEM_ATRACACAO ) AS CD_ARM_ATRACACAO, 
         MAX( P.CD_ARMAZEM_DESCARGA ) AS CD_ARM_DESCARGA, 
         COUNT( ISNULL( C.TP_CNTR, '' ) ) AS VL_QTDE, 0 AS VL_CIF_MN, 0 AS VL_PESO_LIQUIDO
  FROM   TPROCESSO_CNTR C, TPROCESSO P, TEMPRESA_NAC EN, TDECLARACAO_IMPORTACAO DI, TTP_CNTR T, TPROCESSO_EXP EX
--         , TFOLLOWUP F
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         P.NR_PROCESSO *= DI.NR_PROCESSO AND
         P.NR_PROCESSO *= EX.NR_PROCESSO AND
--         P.NR_PROCESSO = F.NR_PROCESSO AND
--         F.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS ) AND
--         F.IN_APLICAVEL = '1' AND
         C.TP_CNTR = T.TP_CNTR AND
         P.IN_CANCELADO = '0' AND
         ISNULL( C.TP_CNTR, '' ) NOT IN ( '', '01' ) AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )AND
         ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) )AND
         ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         P.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim
--         F.DT_REALIZACAO BETWEEN @dt_ini AND @dt_fim
  GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, C.TP_CNTR
  ORDER BY P.NR_PROCESSO

UPDATE TREL_EST_CNTR_VL_CIF
SET    VL_CIF_MN = ISNULL( 
                   ( SELECT SUM( ISNULL( I.VL_MLE_ITEM_MN, 0 ) + 
                            CASE DI.IN_EMBUT_FRT_ITENS 
                              WHEN '0' THEN ISNULL( I.VL_FRETE_ITEM_MN, 0 )
                              ELSE 0
                            END +
                            CASE DI.IN_EMBUT_SEG_ITENS 
                              WHEN '0' THEN ISNULL( I.VL_SEGURO_ITEM_MN, 0 )
                              ELSE 0
                            END + 
                            ISNULL( I.VL_DESPESA_ITEM_MN, 0 ) + ISNULL( I.VL_ACRESCIMO_ITEM_MN, 0 ) - ISNULL( I.VL_DEDUCAO_ITEM_MN, 0 ) )
                     FROM   TDETALHE_MERCADORIA I, TDECLARACAO_IMPORTACAO DI
                     WHERE  I.NR_PROCESSO = DI.NR_PROCESSO AND
                            I.NR_PROCESSO = R.NR_PROCESSO ), 0 ),
       VL_PESO_LIQUIDO = ISNULL( 
                   ( SELECT SUM( ISNULL( I.PL_MERCADORIA, 0 ) )
                     FROM   TDETALHE_MERCADORIA I
                     WHERE  I.NR_PROCESSO = R.NR_PROCESSO ), 0 )
FROM   TREL_EST_CNTR_VL_CIF R
WHERE  CD_PRODUTO IN ( '01', '03' )

UPDATE TREL_EST_CNTR_VL_CIF
SET    VL_CIF_MN = ISNULL( 
                   ( SELECT SUM( ISNULL( I.VL_MLE, 0 ) + 
                                 ISNULL( I.VL_FRETE, 0 ) + 
                                 ISNULL( I.VL_SEGURO, 0 ) + 
                                 ISNULL( I.VL_DESPESA, 0 ) - 
                                 ISNULL( I.VL_DESCONTO, 0 ) )
                     FROM   TPROCESSO_EXP_ITEM I
                     WHERE  I.NR_PROCESSO = R.NR_PROCESSO ), 0 ),
       VL_PESO_LIQUIDO = ISNULL( 
                   ( SELECT SUM( ISNULL( I.VL_TOT_PESO_LIQ, 0 ) )
                     FROM   TPROCESSO_EXP_ITEM I
                     WHERE  I.NR_PROCESSO = R.NR_PROCESSO ), 0 )
FROM   TREL_EST_CNTR_VL_CIF R
WHERE  CD_PRODUTO IN ( '02', '10' )

-- Mercadorias Importação
INSERT TREL_EST_CNTR_VL_CIF_MERC ( NR_IDENTIFICADOR, NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_MERCADORIA, VL_CIF_MN )
  SELECT @nr_identificador, I.NR_PROCESSO, I.NR_ADICAO, I.NR_ITEM, I.CD_MERCADORIA, 
         ( ISNULL( I.VL_MLE_ITEM_MN, 0 ) + 
         CASE DI.IN_EMBUT_FRT_ITENS 
           WHEN '0' THEN ISNULL( I.VL_FRETE_ITEM_MN, 0 )
           ELSE 0
         END + 
         CASE DI.IN_EMBUT_SEG_ITENS 
           WHEN '0' THEN ISNULL( I.VL_SEGURO_ITEM_MN, 0 )
           ELSE 0
         END + 
         ISNULL( I.VL_DESPESA_ITEM_MN, 0 ) + ISNULL( I.VL_ACRESCIMO_ITEM_MN, 0 ) - ISNULL( I.VL_DEDUCAO_ITEM_MN, 0 ) ) AS VL_CIF_MN
  FROM   TDETALHE_MERCADORIA I, TDECLARACAO_IMPORTACAO DI
  WHERE  I.NR_PROCESSO = DI.NR_PROCESSO AND
         I.NR_PROCESSO IN ( SELECT DISTINCT NR_PROCESSO
                            FROM   TREL_EST_CNTR_VL_CIF
                            WHERE  NR_IDENTIFICADOR = @nr_identificador )
  ORDER BY I.NR_PROCESSO

-- Mercadorias Exportação
INSERT TREL_EST_CNTR_VL_CIF_MERC ( NR_IDENTIFICADOR, NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_MERCADORIA, VL_CIF_MN )
  SELECT @nr_identificador, I.NR_PROCESSO, 'X', I.NR_ITEM, I.CD_MERCADORIA, 
         ( ISNULL( I.VL_MLE, 0 ) + ISNULL( I.VL_FRETE, 0 ) + ISNULL( I.VL_SEGURO, 0 ) + 
           ISNULL( I.VL_DESPESA, 0 ) - ISNULL( I.VL_DESCONTO, 0 ) ) AS VL_CIF_MN
  FROM   TPROCESSO_EXP_ITEM I
  WHERE  I.NR_PROCESSO IN ( SELECT DISTINCT NR_PROCESSO
                            FROM   TREL_EST_CNTR_VL_CIF
                            WHERE  NR_IDENTIFICADOR = @nr_identificador )
  ORDER BY I.NR_PROCESSO




GO
