USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE PROCEDURE [sp_rel_kpi_exportacao1] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5),
                                         @cd_area char(2), @dt_ini datetime, @dt_fim datetime,  @in_lead_time char(1),
                                         @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_area char(2)
DECLARE @dt_ini datetime
DECLARE @dt_fim datetime
DECLARE @in_lead_time char(1)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_area = 'X'
SELECT @dt_ini = CONVERT( datetime, '01/10/2003', 103 )
SELECT @dt_fim = CONVERT( datetime, '20/10/2003', 103 )
SELECT @in_lead_time = '2'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TREL_KPI_EXPORTACAO (TABLOCK HOLDLOCK)

INSERT TREL_KPI_EXPORTACAO
     ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_CLIENTE, NR_REF_PEDIDO, DT_REF_PEDIDO,															-- 1
       CD_PAIS_DESTINO, CD_AREA, CD_IMPORTADOR, DT_ENV_COMEXT, NR_REF_ORDEM, DT_REF_ORDEM, DT_LIB_EST, 			-- 2
       NR_REF_REMESSA, DT_REF_REMESSA, DT_CONSOLIDACAO, DT_LIB_FAB, DT_LIB_PROC, NR_NF, DT_NF, NR_PROCESSO,	-- 3
       CD_VIA_TRANSPORTE, NR_CAMINHAO, CD_EMBARCACAO, CD_TRANSP_NAC, DT_PREV_EMB, DT_DESEMB, DT_EMB, 				-- 4
       DT_ENV_DOC, DT_ENT_DOC, DT_AVERBACAO, DT_CHEGADA_DOC, DT_CH_MERC, 																		-- 5
       CD_MOEDA, VL_TOTAL, CD_INCOTERM, CD_CONTATO, DT_REC_PEDIDO, DT_SOLIC_OV, DT_SOLIC_REMESSA ) 					-- 6
 

SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_CLIENTE,
       ( SELECT MAX( CD_REFERENCIA ) 
         FROM   TREF_CLIENTE R
         WHERE  R.NR_PROCESSO = P.NR_PROCESSO AND
                R.TP_REFERENCIA = '01' AND -- PEDIDO
                R.NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                    FROM   TREF_CLIENTE R2
                                    WHERE  R.NR_PROCESSO = R2.NR_PROCESSO 
                                      AND  R2.TP_REFERENCIA = '01' ) ) AS NR_REF_PEDIDO,
      -- ( SELECT MAX( DT_REFERENCIA )
      --  FROM   TREF_CLIENTE R
      --   WHERE  R.NR_PROCESSO = P.NR_PROCESSO AND
      --          R.TP_REFERENCIA = '01' AND  -- PEDIDO
      --          R.NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
      --                              FROM   TREF_CLIENTE R2
      --                              WHERE  R.NR_PROCESSO = R2.NR_PROCESSO 
      --                                AND  R2.TP_REFERENCIA = '01') ) AS DT_REF_PEDIDO, 

       ( SELECT MAX( DT_REFERENCIA )
         FROM   TREF_CLIENTE R
         WHERE  R.NR_PROCESSO = P.NR_PROCESSO AND
                R.TP_REFERENCIA = '01' ) AS DT_REF_PEDIDO,  

-- 2------------------------- 
       ( SELECT CD_PAIS
         FROM   TEMPRESA_EST EE
         WHERE  EE.CD_EMPRESA = X.CD_IMPORTADOR ) AS CD_PAIS_DESTINO,
       
       P.CD_AREA, X.CD_IMPORTADOR,

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_ENV_COMEXT FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_ENV_COMEXT,

       ( SELECT MIN( CD_REFERENCIA )
         FROM   TREF_CLIENTE R
         WHERE  R.NR_PROCESSO = P.NR_PROCESSO AND
                R.TP_REFERENCIA = '02' AND  -- ORDEM
                R.DT_REFERENCIA IN ( SELECT MAX( DT_REFERENCIA )
                                     FROM   TREF_CLIENTE R2
                                     WHERE  R.NR_PROCESSO = R2.NR_PROCESSO AND 
					    R2.TP_REFERENCIA = '02' ) ) AS NR_REF_ORDEM,
       ( SELECT MAX( DT_REFERENCIA )
         FROM   TREF_CLIENTE R
         WHERE  R.NR_PROCESSO = P.NR_PROCESSO AND
                R.TP_REFERENCIA = '02') AS DT_REF_ORDEM,

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_LIB_EST FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_LIB_EST,
-- 3-----------------------------------------------
       ( SELECT MIN( CD_REFERENCIA )
         FROM   TREF_CLIENTE R
         WHERE  R.NR_PROCESSO = P.NR_PROCESSO AND
                R.TP_REFERENCIA = '03' AND  -- REMESSA
                R.DT_REFERENCIA IN ( SELECT MAX( DT_REFERENCIA )
                                     FROM   TREF_CLIENTE R2
                                     WHERE  R.NR_PROCESSO = R2.NR_PROCESSO AND 
					    R2.TP_REFERENCIA = '03' ) ) AS NR_REF_REMESSA,

       ( SELECT MAX( DT_REFERENCIA )
         FROM   TREF_CLIENTE R
         WHERE  R.NR_PROCESSO = P.NR_PROCESSO AND
                R.TP_REFERENCIA = '03' ) AS DT_REF_REMESSA, 

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_DT_CONSOLIDACAO FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_CONSOLIDACAO,

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_LIB_FAB FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_LIB_FAB,
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_EMAIL_LIB FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_LIB_PROC,
       ( SELECT MAX( NR_NF )
         FROM   TPROCESSO_EXP_NF N
         WHERE  N.NR_PROCESSO = P.NR_PROCESSO AND
                N.DT_NOTA IN ( SELECT MAX( DT_NOTA )
                               FROM   TPROCESSO_EXP_NF N2
                               WHERE  N.NR_PROCESSO = N2.NR_PROCESSO ) ) AS NR_NF,
       ( SELECT MAX( DT_NOTA )
         FROM   TPROCESSO_EXP_NF N
         WHERE  N.NR_PROCESSO = P.NR_PROCESSO AND
                N.DT_NOTA IN ( SELECT MAX( DT_NOTA )
                               FROM   TPROCESSO_EXP_NF N2
                               WHERE  N.NR_PROCESSO = N2.NR_PROCESSO ) ) AS DT_NF, 
       P.NR_PROCESSO,
-- 4--------------------------------------------------------------------------

       X.CD_VIA_TRANSPORTE, P.NR_CAMINHAO,
        ISNULL( P.CD_EMBARCACAO, '' ), ISNULL( P.CD_TRANSP_NAC, '' ),

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_PREV_EMBARQUE FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_PREV_EMB,

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_DESEMB,
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_EMB,

-- 5-----------------------------------------------------
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_ENVIO_DOC_CLI FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_ENV_DOC, 

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_ENVIO_SAQUE_BORDERO FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_ENT_DOC,

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_AVERBACAO FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_AVERBACAO,
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_REC_DHL FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_CHEGADA_DOC,
       NULL, 
-- 6------------------------- 
       X.CD_MOEDA, X.VL_TOT_MCV, X.CD_INCOTERM, P.CD_CONTATO,

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_RECEB_PED FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_REC_PEDIDO,

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_SOLIC_OV FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_SOLIC_OV,

       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_SOLIC_REM FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_SOLIC_REMESSA

FROM   TPROCESSO P, TPROCESSO_EXP X,  TEMPRESA_NAC E
WHERE  P.NR_PROCESSO = X.NR_PROCESSO 
  AND  P.CD_CLIENTE = E.CD_EMPRESA 
  AND  P.CD_PRODUTO IN ( '02', '10' ) 
  AND  ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
  AND  ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) 
  AND  ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) 
  AND  ( ( P.CD_AREA = @cd_area ) OR ( @cd_area = 'X' ) ) 
  AND  ( ( P.IN_REL_LEAD_TIME = @in_lead_time ) OR ( @in_lead_time = '2' ) )
  AND  ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO 
           AND  F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS ) 
           AND  F.IN_APLICAVEL = '1' ) BETWEEN @dt_ini AND @dt_fim
      
ORDER BY P.NR_PROCESSO


-- Grava a data correta do dia de Entrega de Doc 
DECLARE @nr_processo_kpi char (18)
DECLARE @dt_ent_doc_kpi  datetime
DECLARE @nova_kpi        datetime
DECLARE @sai             int 

SELECT @sai = 0

DECLARE c_kpi CURSOR FOR
  SELECT NR_PROCESSO, ISNULL( DT_ENT_DOC, '' )
  FROM   TREL_KPI_EXPORTACAO
  WHERE  NR_IDENTIFICADOR = @nr_identificador

OPEN c_kpi
FETCH c_kpi INTO @nr_processo_kpi, @dt_ent_doc_kpi
WHILE @@fetch_status = 0
BEGIN
  IF @dt_ent_doc_kpi <> ''
  BEGIN
    SELECT @nova_kpi = convert( datetime, @dt_ent_doc_kpi, 103 ) + 1

    WHILE @sai = 0
    BEGIN
      IF DATEPART(weekday, CONVERT( DATETIME, @nova_kpi, 103 ) ) <> 1
      BEGIN
        IF DATEPART(weekday, CONVERT( DATETIME, @nova_kpi, 103 ) ) <> 7
        BEGIN
          IF NOT EXISTS( SELECT *
                         FROM   TFERIADO (NOLOCK)
                         WHERE  DT_FERIADO = @nova_kpi )
          BEGIN
            SELECT @sai = 1
          END
          ELSE
            SELECT @nova_kpi = convert( datetime, @nova_kpi, 103 ) + 1
        END
        ELSE
        BEGIN
          SELECT @nova_kpi = convert( datetime, @nova_kpi, 103 ) + 2
        END
      END
      ELSE
      BEGIN
        SELECT @nova_kpi = convert( datetime, @nova_kpi, 103 ) + 1      
      END
    END  

    UPDATE TREL_KPI_EXPORTACAO
    SET    DT_ENT_DOC = @nova_kpi
    WHERE  NR_IDENTIFICADOR = @nr_identificador AND
           NR_PROCESSO = @nr_processo_kpi
  END
 
  FETCH c_kpi INTO @nr_processo_kpi, @dt_ent_doc_kpi
END
CLOSE c_kpi
DEALLOCATE c_kpi



-- Medições

DECLARE @nr_processo_med      char (18)

DECLARE @dt_rec_pedido_med    datetime, @dt_ref_pedido_med    datetime
DECLARE @dt_lib_est_med       datetime, @dt_solic_ov_med      datetime

DECLARE @dt_ref_ordem_med     datetime, @dt_ref_remessa_med   datetime
DECLARE @dt_solic_remessa_med datetime, @dt_lib_fab_med       datetime

DECLARE @dt_nf_med            datetime, @dt_desemb_med        datetime
DECLARE @dt_emb_med           datetime, @dt_averbacao_med     datetime
DECLARE @dt_env_doc_med       datetime, @dt_lib_proc_med      datetime

DECLARE @dt_consolidacao_med  datetime, @dt_ch_merc_med       datetime

DECLARE @nr_dias_1   integer, @nr_dias_2   integer, @nr_dias_3   integer, @nr_dias_4   integer
DECLARE @nr_dias_5   integer, @nr_dias_6   integer, @nr_dias_7   integer, @nr_dias_8   integer
DECLARE @nr_dias_9   integer, @nr_dias_10  integer, @nr_dias_11  integer, @nr_dias_12  integer
DECLARE @nr_dias_13  integer, @nr_dias_14  integer, @nr_dias_15  integer, @nr_dias_16  integer
DECLARE @nr_dias_17  integer, @nr_dias_18  integer, @nr_dias_19  integer, @nr_dias_20  integer
DECLARE @nr_dias_21  integer

DECLARE c_med CURSOR FOR
  SELECT NR_PROCESSO, DT_REC_PEDIDO, DT_REF_PEDIDO, DT_LIB_EST, DT_SOLIC_OV,
         DT_REF_ORDEM, DT_REF_REMESSA, DT_SOLIC_REMESSA, DT_LIB_FAB,
         DT_NF, DT_DESEMB, DT_EMB, DT_AVERBACAO, DT_ENV_DOC, DT_LIB_PROC,
         DT_CONSOLIDACAO, DT_CH_MERC
  FROM   TREL_KPI_EXPORTACAO
  WHERE  NR_IDENTIFICADOR = @nr_identificador

OPEN c_med
FETCH c_med INTO @nr_processo_med, @dt_rec_pedido_med, @dt_ref_pedido_med, @dt_lib_est_med, @dt_solic_ov_med,
                 @dt_ref_ordem_med, @dt_ref_remessa_med, @dt_solic_remessa_med, @dt_lib_fab_med,
                 @dt_nf_med, @dt_desemb_med, @dt_emb_med, @dt_averbacao_med, @dt_env_doc_med, @dt_lib_proc_med,
                 @dt_consolidacao_med, @dt_ch_merc_med
WHILE @@fetch_status = 0
BEGIN
  IF @dt_rec_pedido_med <> '' AND @dt_ref_pedido_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_ref_pedido_med, @dt_rec_pedido_med, @nr_dias_1 OUTPUT  
  END
  IF @dt_lib_est_med <> '' AND @dt_rec_pedido_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_rec_pedido_med, @dt_lib_est_med, @nr_dias_2 OUTPUT  
  END
  IF @dt_solic_ov_med <> '' AND @dt_lib_est_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_lib_est_med, @dt_solic_ov_med, @nr_dias_3 OUTPUT  
  END
  IF @dt_ref_ordem_med <> '' AND @dt_solic_ov_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_solic_ov_med, @dt_ref_ordem_med, @nr_dias_4 OUTPUT  
  END
  IF @dt_ref_remessa_med <> '' AND @dt_solic_remessa_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_solic_remessa_med, @dt_ref_remessa_med, @nr_dias_5 OUTPUT  
  END
  IF @dt_solic_ov_med <> '' AND @dt_ref_remessa_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_ref_remessa_med, @dt_solic_ov_med, @nr_dias_6 OUTPUT  
  END
  IF @dt_lib_fab_med <> '' AND @dt_ref_remessa_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_ref_remessa_med, @dt_lib_fab_med, @nr_dias_7 OUTPUT  
  END
  IF @dt_nf_med <> '' AND @dt_lib_fab_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_lib_fab_med, @dt_nf_med, @nr_dias_8 OUTPUT  
  END
  IF @dt_emb_med <> '' AND @dt_env_doc_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_env_doc_med, @dt_emb_med, @nr_dias_9 OUTPUT  
  END
  IF @dt_emb_med <> '' AND @dt_rec_pedido_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_rec_pedido_med, @dt_emb_med, @nr_dias_10 OUTPUT  
  END
  IF @dt_emb_med <> '' AND @dt_ref_pedido_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_ref_pedido_med, @dt_emb_med, @nr_dias_11 OUTPUT  
  END
  IF @dt_lib_proc_med <> '' AND @dt_lib_fab_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_lib_fab_med, @dt_lib_proc_med, @nr_dias_12 OUTPUT  
  END
  IF @dt_emb_med <> '' AND @dt_nf_med <> '' 
  BEGIN
    EXEC sp_lead_dias_uteis_kpi '1', @dt_nf_med, @dt_emb_med, @nr_dias_13 OUTPUT  
  END
  IF SUBSTRING( @nr_processo_med, 5, 2 ) = 'EM'
  BEGIN
    IF @dt_desemb_med <> '' AND @dt_nf_med <> '' 
    BEGIN
      EXEC sp_lead_dias_uteis_kpi '1', @dt_nf_med, @dt_desemb_med, @nr_dias_14 OUTPUT  
    END
    IF @dt_emb_med <> '' AND @dt_desemb_med <> '' 
    BEGIN
      EXEC sp_lead_dias_uteis_kpi '1', @dt_desemb_med, @dt_emb_med, @nr_dias_15 OUTPUT  
    END
    IF @dt_averbacao_med <> '' AND @dt_emb_med <> '' 
    BEGIN
      EXEC sp_lead_dias_uteis_kpi '1', @dt_emb_med, @dt_averbacao_med, @nr_dias_16 OUTPUT  
    END
  END
  IF SUBSTRING( @nr_processo_med, 5, 2 ) = 'ER'
  BEGIN
    IF @dt_consolidacao_med <> '' AND @dt_nf_med <> '' 
    BEGIN
      EXEC sp_lead_dias_uteis_kpi '1', @dt_nf_med, @dt_consolidacao_med, @nr_dias_17 OUTPUT  
    END
    IF @dt_emb_med <> '' AND @dt_consolidacao_med <> '' 
    BEGIN
      EXEC sp_lead_dias_uteis_kpi '1', @dt_consolidacao_med, @dt_emb_med, @nr_dias_18 OUTPUT  
    END
    IF @dt_desemb_med <> '' AND @dt_emb_med <> '' 
    BEGIN
      EXEC sp_lead_dias_uteis_kpi '1', @dt_emb_med, @dt_desemb_med, @nr_dias_19 OUTPUT  
    END
    IF @dt_averbacao_med <> '' AND @dt_desemb_med <> '' 
    BEGIN
      EXEC sp_lead_dias_uteis_kpi '1', @dt_desemb_med, @dt_averbacao_med, @nr_dias_20 OUTPUT  
    END
    IF @dt_ch_merc_med <> '' AND @dt_desemb_med <> '' 
    BEGIN
      EXEC sp_lead_dias_uteis_kpi '1', @dt_desemb_med, @dt_ch_merc_med, @nr_dias_21 OUTPUT  
    END
  END

  UPDATE TREL_KPI_EXPORTACAO
  SET    NR_DIAS_REC_PED = @nr_dias_1,
         NR_DIAS_LIB_REC = @nr_dias_2,
         NR_DIAS_SOLIC_LIB = @nr_dias_3,
         NR_DIAS_OR_SOLIC = @nr_dias_4,
         NR_DIAS_REM_SOLIC = @nr_dias_5,
         NR_DIAS_SOLIC_REM = @nr_dias_6,
         NR_DIAS_LIB_REM = @nr_dias_7,
         NR_DIAS_NF_LIB = @nr_dias_8,
         NR_DIAS_DES_NF = @nr_dias_9,
         NR_DIAS_EMB_DES = @nr_dias_10,
         NR_DIAS_AV_EMB = @nr_dias_11,
         NR_DIAS_EMB_DOCS = @nr_dias_12,
         NR_DIAS_EMB_REC = @nr_dias_13,
         NR_DIAS_EMB_PED = @nr_dias_14,
         NR_DIAS_LIB_LIB = @nr_dias_15,
         NR_DIAS_EMB_NF = @nr_dias_16,
         NR_DIAS_CON_NF = @nr_dias_17,
         NR_DIAS_EMB_CON = @nr_dias_18,
         NR_DIAS_DES_EMB = @nr_dias_19,
         NR_DIAS_AV_DES = @nr_dias_20,
         NR_DIAS_CH_DES = @nr_dias_21
  WHERE  NR_IDENTIFICADOR = @nr_identificador 
    AND  NR_PROCESSO = @nr_processo_med

SET @nr_dias_1 = 0
SET @nr_dias_2 = 0
SET @nr_dias_3 = 0
SET @nr_dias_4 = 0
SET @nr_dias_5 = 0
SET @nr_dias_6 = 0
SET @nr_dias_7 = 0
SET @nr_dias_8 = 0
SET @nr_dias_9 = 0
SET @nr_dias_10 = 0
SET @nr_dias_11 = 0
SET @nr_dias_12 = 0
SET @nr_dias_13 = 0
SET @nr_dias_14 = 0
SET @nr_dias_15 = 0
SET @nr_dias_16 = 0
SET @nr_dias_17 = 0
SET @nr_dias_18 = 0
SET @nr_dias_19 = 0
SET @nr_dias_20 = 0
SET @nr_dias_21 = 0

FETCH c_med INTO @nr_processo_med, @dt_rec_pedido_med, @dt_ref_pedido_med, @dt_lib_est_med, @dt_solic_ov_med,
                 @dt_ref_ordem_med, @dt_ref_remessa_med, @dt_solic_remessa_med, @dt_lib_fab_med,
                 @dt_nf_med, @dt_desemb_med, @dt_emb_med, @dt_averbacao_med, @dt_env_doc_med, @dt_lib_proc_med,
                 @dt_consolidacao_med, @dt_ch_merc_med
END
CLOSE c_med
DEALLOCATE c_med


----------------------------------------------------------------------------------------------------------------

IF NOT EXISTS( SELECT NR_IDENTIFICADOR
               FROM   TREL_KPI_EXPORTACAO
               WHERE NR_IDENTIFICADOR = @nr_identificador )
  SELECT @nr_identificador = 0







GO
