USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_faturamento] ( @cd_coligada char(2), @cd_unid_neg char(2), @dt_movimento datetime, @nr_lancamento char(6) ) AS

/*
BEGIN TRAN
SET XACT_ABORT ON

DECLARE @cd_coligada   char(2)
DECLARE @cd_unid_neg   char(2)
DECLARE @dt_movimento  datetime
DECLARE @nr_lancamento char(3)

SELECT @cd_coligada   = '01',
       @cd_unid_neg   = '01',
       @dt_movimento  = CONVERT( datetime, '04/10/2001', 103 ),
       @nr_lancamento = '014'
--*/

DECLARE @nr_processo  char(18)
DECLARE @cd_usuario   char(04)
DECLARE @nr_lanc      char(04)
DECLARE @cd_item      char(03)
DECLARE @in_cancelado char(01)

EXEC sp_busca_usuario @cd_usuario

SELECT @nr_processo  = NR_PROCESSO,
       @in_cancelado = IN_CANCELADO,
       @cd_item      = CD_ITEM
FROM   TCAIXA (NOLOCK)
WHERE  CD_COLIGADA   = @cd_coligada  AND
       CD_UNID_NEG   = @cd_unid_neg  AND
       DT_MOVIMENTO  = @dt_movimento AND
       NR_LANCAMENTO = @nr_lancamento

SELECT @nr_lanc = ISNULL( CONVERT( int, MAX( NR_LANCAMENTO ), 103 ) + 1, '0001' ) 
FROM   TFATURAMENTO_CC (NOLOCK)
WHERE  NR_PROCESSO   = @nr_processo

SELECT @nr_lanc = RIGHT( '0000' + RTRIM( LTRIM( @nr_lanc ) ), 4 )

IF @in_cancelado = '0'
BEGIN
  INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_ITEM, VL_ITEM, CD_BANCO, 
                           NR_CHEQUE, CD_DESPACHANTE, IN_RESTITUI, CD_ORIGEM_LANC, CD_FORMA_PAGTO, NR_LANCAMENTO_CAIXA )
  SELECT NR_PROCESSO, @nr_lanc, DT_MOVIMENTO, @cd_usuario, CD_FAVORECIDO, CD_ITEM, VL_LANCAMENTO, CD_BANCO, NR_CHEQUE, 
         CD_DESPACHANTE, IN_RESTITUI, '0', TP_PAGAMENTO, NR_LANCAMENTO
  FROM   TCAIXA (NOLOCK)
  WHERE  CD_COLIGADA   = @cd_coligada  AND
         CD_UNID_NEG   = @cd_unid_neg  AND
         DT_MOVIMENTO  = @dt_movimento AND
         NR_LANCAMENTO = @nr_lancamento 
END
ELSE
BEGIN
  UPDATE TFATURAMENTO_CC 
  SET    IN_CANCELADO = '1',
         CD_CANCELADOR = @cd_usuario,
         DT_CANCELAMENTO = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = @cd_item AND
         DT_LANCAMENTO = @dt_movimento AND
         NR_LANCAMENTO_CAIXA = @nr_lancamento 
END

UPDATE TCAIXA 
SET    IN_TRANSFERIDO = '1'
WHERE  CD_COLIGADA   = @cd_coligada  AND
       CD_UNID_NEG   = @cd_unid_neg  AND
       DT_MOVIMENTO  = @dt_movimento AND
       NR_LANCAMENTO = @nr_lancamento 

/*
SELECT * 
FROM   TFATURAMENTO_CC 
WHERE  NR_PROCESSO   = @nr_processo  AND
       DT_LANCAMENTO = @dt_movimento AND
       NR_LANCAMENTO = @nr_lanc  

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/





GO
