USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_imp_pag_autonomos] ( @dt_movimento datetime, @cd_unid_neg char(2),
                                        @cd_coligada char(2), @qt_imp int output ) AS
DECLARE @nr_rpa         char(6)
DECLARE @cd_banco       char(3)
DECLARE @nr_cheque      char(6)
DECLARE @nr_ult_lanc    int
DECLARE @ult_lanc       char(6)
DECLARE @vl_lancamento  float
DECLARE @vl_frete       float
DECLARE @vl_transporte  float
DECLARE @vl_ir          float
DECLARE @vl_issqn       float
DECLARE @vl_sest_senat  float
DECLARE @cd_ct_contabil char(8)
--Parametros
DECLARE @cd_hist_nch        char(8)
DECLARE @cd_hist_frete      char(8)
DECLARE @cd_hist_transporte char(8)
DECLARE @cd_hist_ir         char(8)
DECLARE @cd_hist_issqn      char(8)
DECLARE @cd_hist_sest_senat char(8)
DECLARE @cd_ct_frete        char(8)
DECLARE @cd_ct_transporte   char(8)
DECLARE @cd_ct_ir           char(8)
DECLARE @cd_ct_issqn        char(8)
DECLARE @cd_ct_sest_senat   char(8)
DECLARE @cd_cst_frete       char(3)
DECLARE @cd_cst_transporte  char(3)
DECLARE @cd_ct_gerencial    char(4)

SELECT  @cd_hist_nch  = ISNULL( CD_HIST_NCH, ''),
	@cd_hist_frete  = ISNULL( CD_HIST_FRETE, ''),
	@cd_hist_transporte = ISNULL( CD_HIST_TRANSPORTE, ''),
	@cd_hist_ir  = ISNULL( CD_HIST_IR, ''),
	@cd_hist_issqn  = ISNULL( CD_HIST_ISSQN, ''),
	@cd_hist_sest_senat = ISNULL( CD_HIST_SEST_SENAT, ''),
	@cd_ct_frete  = ISNULL( CD_CT_FRETE, ''),
	@cd_ct_transporte = ISNULL( CD_CT_TRANSPORTE, ''),
	@cd_ct_ir  = ISNULL( CD_CT_IR, ''),
	@cd_ct_issqn  = ISNULL( CD_CT_ISSQN, ''),
	@cd_ct_sest_senat = ISNULL( CD_CT_SEST_SENAT, '')
FROM    TPARAMETROS

SELECT  @cd_cst_frete      = '206'
SELECT  @cd_cst_transporte = '206'
SELECT  @cd_ct_gerencial   = '5106'

DECLARE c_imp CURSOR FOR 
SELECT  NR_RPA, 
 ( ISNULL(VL_FRETE, 0) + ISNULL(VL_TRANSPORTE, 0) -
 ISNULL(VL_IR, 0) - ISNULL(VL_ISSQN, 0) - ISNULL(VL_SEST_SENAT, 0) ) VL_LANCAMENTO,
 CD_BANCO, ISNULL(NR_CHEQUE,'')
FROM    TPAG_AUTONOMOS (TABLOCK HOLDLOCK)
WHERE   IN_TRANSF_FIN = '0' AND 
        DT_IMP_CHEQUE <= @dt_movimento AND 
        CD_STATUS_CHEQUE <> '0'
SELECT @vl_frete = ISNULL( SUM(VL_FRETE) ,0)
FROM   TPAG_AUTONOMOS (TABLOCK HOLDLOCK)
WHERE  IN_TRANSF_FIN = '0' AND 
       DT_IMP_CHEQUE <= @dt_movimento AND 
       CD_STATUS_CHEQUE <> '0'
SELECT @vl_transporte = ISNULL( SUM(VL_TRANSPORTE) ,0)
FROM   TPAG_AUTONOMOS (TABLOCK HOLDLOCK)
WHERE  IN_TRANSF_FIN = '0' AND 
       DT_IMP_CHEQUE <= @dt_movimento AND 
       CD_STATUS_CHEQUE <> '0'
SELECT @vl_ir = ISNULL( SUM(VL_IR) ,0)
FROM   TPAG_AUTONOMOS (TABLOCK HOLDLOCK)
WHERE  IN_TRANSF_FIN = '0' AND 
       DT_IMP_CHEQUE <= @dt_movimento AND 
       CD_STATUS_CHEQUE <> '0'
SELECT @vl_issqn = ISNULL( SUM(VL_ISSQN) ,0)
FROM   TPAG_AUTONOMOS (TABLOCK HOLDLOCK)
WHERE  IN_TRANSF_FIN = '0' AND 
       DT_IMP_CHEQUE <= @dt_movimento AND 
       CD_STATUS_CHEQUE <> '0'
SELECT @vl_sest_senat = ISNULL( SUM(VL_SEST_SENAT) ,0)
FROM   TPAG_AUTONOMOS (TABLOCK HOLDLOCK)
WHERE  IN_TRANSF_FIN = '0' AND 
       DT_IMP_CHEQUE <= @dt_movimento AND 
       CD_STATUS_CHEQUE <> '0'

SELECT @qt_imp  = 0

--Lan+amentos Cheque a cheque
OPEN c_imp
FETCH c_imp INTO 
  @nr_rpa, @vl_lancamento, @cd_banco, @nr_cheque
WHILE @@fetch_status <> -1
BEGIN

  SELECT @cd_ct_contabil = ISNULL( CT_CONTABIL, '')
  FROM TCONTA_CAIXA
  WHERE CD_BANCO    = @cd_banco AND 
        CD_COLIGADA = @cd_coligada

  SELECT @cd_ct_contabil = ISNULL( @cd_ct_contabil, '')

  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM TCAIXA 
  WHERE DT_MOVIMENTO = @dt_movimento 

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )
  SELECT @qt_imp = @qt_imp + 1

  INSERT TCAIXA( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, 
                 IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, IN_RESTITUI )
  VALUES( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'C', '8', '0', '0', @vl_lancamento, '$', '0' )
         
  SELECT @nr_ult_lanc = @nr_ult_lanc + 1
  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, @nr_ult_lanc ), 6 )

  UPDATE TPAG_AUTONOMOS
  SET    IN_TRANSF_FIN = '1'
  WHERE  NR_RPA = @nr_rpa

  FETCH c_imp INTO @nr_rpa, @vl_lancamento, @cd_banco, @nr_cheque
END

CLOSE c_imp
DEALLOCATE c_imp

--Lan+amentos dos totais dos valores
--Frete
IF @vl_frete > 0
BEGIN
  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM TCAIXA 
  WHERE DT_MOVIMENTO = @dt_movimento 

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

  INSERT TCAIXA 
  VALUES
    (@cd_coligada, @dt_movimento, @ult_lanc,
     @cd_unid_neg, 'C', '8', '0', '0', @cd_hist_frete,
     NULL, @vl_frete, '$', 'C', NULL, NULL, NULL, NULL, NULL,
     @cd_ct_frete, @cd_cst_frete, NULL, NULL, NULL, 0, 0, NULL, '0', NULL, NULL, NULL, NULL, NULL, NULL, NULL)

  IF SUBSTRING( @cd_ct_frete, 1, 1 ) IN ( '3', '4' ) 
  BEGIN
    INSERT INTO TCAIXA_CONTABIL_DISTR
    VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_ct_gerencial, @vl_frete, NULL )
  END
  SELECT @qt_imp = @qt_imp + 1
END

--Transporte
IF @vl_transporte > 0
BEGIN
  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM TCAIXA 
  WHERE DT_MOVIMENTO = @dt_movimento 

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

  INSERT TCAIXA VALUES
    (@cd_coligada, @dt_movimento, @ult_lanc,
     @cd_unid_neg, 'C', '8', '0', '0', @cd_hist_transporte,
     NULL, @vl_transporte, '$', 'C', NULL, NULL, NULL, NULL, NULL,
     @cd_ct_transporte, @cd_cst_transporte, NULL, NULL, NULL, 0, 0, NULL, '0', NULL, NULL, NULL, NULL, NULL, NULL, NULL)

  IF SUBSTRING( @cd_ct_transporte, 1, 1 ) IN ( '3', '4' ) 
  BEGIN
    INSERT INTO TCAIXA_CONTABIL_DISTR
    VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_ct_gerencial, @vl_transporte, NULL )
  END
  SELECT @qt_imp = @qt_imp + 1
END

--IR
IF @vl_ir > 0
BEGIN
  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM TCAIXA 
  WHERE DT_MOVIMENTO = @dt_movimento 

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

  INSERT TCAIXA VALUES
    (@cd_coligada, @dt_movimento, @ult_lanc,
     @cd_unid_neg, 'C', '8', '0', '0', @cd_hist_ir,
     NULL, @vl_ir, '$', 'D', NULL, NULL, NULL, NULL, NULL,
     @cd_ct_ir, NULL, NULL, NULL, NULL, 0, 0, NULL, '0', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
  SELECT @qt_imp = @qt_imp + 1
END

--ISSQN
IF @vl_issqn > 0
BEGIN
  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM TCAIXA 
  WHERE DT_MOVIMENTO = @dt_movimento 

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

  INSERT TCAIXA VALUES
    (@cd_coligada, @dt_movimento, @ult_lanc,
     @cd_unid_neg, 'C', '8', '0', '0', @cd_hist_issqn,
     NULL, @vl_issqn, '$', 'D', NULL, NULL, NULL, NULL, NULL,
     @cd_ct_issqn, NULL, NULL, NULL, NULL, 0, 0, NULL, '0', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
  SELECT @qt_imp = @qt_imp + 1
END

--SEST/SENAT
IF @vl_sest_senat > 0
BEGIN
  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM TCAIXA 
  WHERE DT_MOVIMENTO = @dt_movimento 

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

  INSERT TCAIXA VALUES
    (@cd_coligada, @dt_movimento, @ult_lanc,
     @cd_unid_neg, 'C', '8', '0', '0', @cd_hist_sest_senat,
     NULL, @vl_sest_senat, '$', 'D', NULL, NULL, NULL, NULL, NULL,
     @cd_ct_sest_senat, NULL, NULL, NULL, NULL, 0, 0, NULL, '0', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
  SELECT @qt_imp = @qt_imp + 1
END

EXEC sp_atz_saldos_caixa '01', @cd_unid_neg, @dt_movimento



GO
