USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_po_estorno_di]( @nr_proc_controle char(18), @nr_proc_po char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_proc_controle char(18)
DECLARE @nr_proc_po char(18)

SELECT @nr_proc_controle = '0101DT-0001-00'
SELECT @nr_proc_po = '4580000067'
*/

-- ITEM DA DI 
DECLARE @cNR_PROCESSO char(18)
DECLARE @cNR_ADICAO char(3)
DECLARE @cNR_ITEM char(3)
DECLARE @nQt_Merc_Prep_PO_Item float
DECLARE @nQT_Merc_de_acordo_com_proc float
DECLARE @cNR_ITEM_PO char(3)

DECLARE @nQtde integer
DECLARE @nNrItem integer
DECLARE @cMudouAdicao char(3)
DECLARE @lEntrou bit
DECLARE @nTotItem1 integer
DECLARE @nTotItem2 integer

DECLARE @i_item integer 
DECLARE @nr_Item char(3)
DECLARE @nr_Adicao char(3)
DECLARE @s_item char(3)
DECLARE @s_adicao char(3)

DECLARE @nConta integer
DECLARE @nQtBaixada_DI float
DECLARE @nNum integer

DECLARE c_DI_ITEM CURSOR FOR
 SELECT NR_PROCESSO, 
        NR_ADICAO, 
        NR_ITEM,
        ISNULL( NR_ITEM_PO, '' ) 
 FROM   TDETALHE_MERCADORIA
 WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND 
        ( NR_PROC_PO  = @NR_PROC_PO )

OPEN c_DI_ITEM 
FETCH c_DI_ITEM
  INTO @cNR_PROCESSO, @cNR_ADICAO, @cNR_ITEM, @cNR_ITEM_PO

SELECT @cMudouAdicao = '000'
SELECT @lEntrou = 0
SELECT @nNum  = 0

WHILE @@fetch_status <> -1
BEGIN

  IF @cNR_ADICAO <> @cMudouAdicao
  BEGIN
    SELECT @nQtde = COUNT(*) 
    FROM   TDETALHE_MERCADORIA 
    WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND
           ( NR_PROC_PO  = @NR_PROC_PO ) AND
           ( NR_ADICAO   = @cNR_ADICAO ) 
  END 

  --SELECT @nNrItem = CONVERT( Integer, @cNR_ITEM )
  SELECT @nNum = @nNum + 1
  SELECT @nNrItem = @nNum

  SELECT @nQtBaixada_DI = QT_INICIAL
  FROM   TPO_ITEM
  WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND
                 ( NR_ITEM = @cNR_ITEM_PO )
                  
  SELECT @nQt_Merc_Prep_PO_Item = ISNULL(QT_BAIXADA, 0 )
  FROM   TPREPARA_PO_ITEM
  WHERE  ( NR_PROCESSO = @nr_proc_controle ) AND 
         ( NR_PROC_OLD = @nr_proc_po ) AND
         ( NR_ITEM_OLD = @cNR_ITEM_PO )  AND
         ( TP_PROCESSO = 1 )

  IF @nQt_Merc_Prep_PO_Item > 0 
  BEGIN  
    SELECT @nQtBaixada_DI = @nQtBaixada_DI - @nQT_Merc_Prep_PO_Item   
    SELECT @nQT_Merc_de_acordo_com_proc = @nQT_Merc_Prep_PO_Item   
  END 
  ELSE
    SELECT @nQT_Merc_de_acordo_com_proc = @nQtBaixada_DI

  UPDATE TPO_ITEM 
  SET    QT_BAIXADA_DI = ISNULL(QT_BAIXADA_DI - @nQT_Merc_de_acordo_com_proc,0),
         QT_DISPONIVEL = ISNULL(QT_DISPONIVEL + @nQT_Merc_de_acordo_com_proc,0),
         QT_BAIXAR     = 0,
         IN_SELECIONADO = '0',
         IN_MONTADO = '0' ,
         CD_USUARIO_MONTA = '' 
  WHERE  ( NR_PROCESSO = @NR_PROC_PO ) AND
         ( NR_ITEM = @cNR_ITEM_PO )

  UPDATE TPO
  SET    QT_TOTAL_DISPONIVEL = ROUND( ( SELECT SUM( ISNULL( QT_INICIAL, 0 ) - ISNULL( QT_BAIXADA_DI, 0) - ISNULL( QT_BAIXADA_LI, 0 ) )
                                        FROM   TPO_ITEM I
                                        WHERE  I.NR_PROCESSO = P.NR_PROCESSO ), 5 ),
         CD_USUARIO_MONTA = '' 
  FROM   TPO P
  WHERE  NR_PROCESSO = @NR_PROC_PO

  UPDATE TPREPARA_PO_ITEM 
  SET    QT_BAIXADA = ISNULL( QT_BAIXADA - @nQT_Merc_de_acordo_com_proc, 0 ),
         IN_MONTADO = '0' 
  WHERE  ( NR_PROCESSO = @nr_proc_controle ) AND
                  ( NR_ITEM = @cNR_ITEM_PO ) AND
                  ( TP_PROCESSO = 1 )

  IF @nQtde = @nNrItem 
  BEGIN
    SELECT @nNum = 0

    SELECT @nTotItem1 = COUNT(*) 
    FROM   TDETALHE_MERCADORIA 
    WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND 
           ( NR_ADICAO = @cNR_ADICAO )

    SELECT @nTotItem2 = COUNT(*) 
    FROM   TDETALHE_MERCADORIA 
    WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND 
           ( NR_ADICAO = @cNR_ADICAO ) AND
           ( NR_PROC_PO = @NR_PROC_PO )

    DELETE FROM TDETALHE_MERCADORIA 
    WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND
           ( NR_PROC_PO  = @NR_PROC_PO ) AND
           ( NR_ADICAO   = @cNR_ADICAO ) 

    IF ( @nTotItem1 = @nTotItem2 ) AND ( @nTotItem1 <> 0 )
    BEGIN
      DELETE FROM TADICAO_DE_IMPORTACAO WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TACRESCIMO_VALORACAO  WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TATO_VINCULADO        WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TDEDUCAO_VALORACAO    WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TDESTAQUE_NCM         WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TDOCUMENTO_VINCULADO  WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TPAGAMENTO_PREVISTO   WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TPAGAMENTO_VINCULADO  WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TRIBUTO               WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TVALORACAO_NCM        WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
      DELETE FROM TDI_NVE               WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cNR_ADICAO ) 
    END   
  END

  SELECT @cMudouAdicao = @cNR_ADICAO
  SELECT @lEntrou = 1

  FETCH c_DI_ITEM INTO 
       @cNR_PROCESSO, @cNR_ADICAO, @cNR_ITEM, @cNR_ITEM_PO
END

CLOSE c_DI_ITEM
DEALLOCATE c_DI_ITEM

IF @lEntrou = 1
BEGIN

  SELECT @cNR_ADICAO = NR_ADICAO
  FROM   TDETALHE_MERCADORIA 
  WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND
         ( NR_PROC_PO  = @NR_PROC_PO )

  DELETE FROM TDETALHE_MERCADORIA 
  WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND
         ( NR_PROC_PO  = @NR_PROC_PO )

  IF ( SELECT COUNT(*)
       FROM   TDETALHE_MERCADORIA 
       WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) ) > 0 
  BEGIN
    -- RENUMERA ITENS 
    DECLARE c_itens CURSOR FOR 
      SELECT NR_ITEM 
      FROM   TDETALHE_MERCADORIA 
      WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND 
             ( NR_ADICAO = @cNR_ADICAO )

    SELECT @i_item = 0

    OPEN c_itens 
    FETCH c_itens INTO @nr_item
    WHILE @@fetch_status <> -1
    BEGIN
      SELECT @i_item = @i_item + 1
      SELECT @s_item = CONVERT( char(3), @i_item )
      SELECT @s_item = RIGHT( ( '000' + RTRIM( @s_item ) ), 3 )

      UPDATE TDETALHE_MERCADORIA 
      SET    NR_ITEM = @s_item 
      WHERE CURRENT OF c_itens

      UPDATE TDI_NVE 
      SET    NR_ITEM = @s_item 
      WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND
             ( NR_ADICAO = @s_adicao ) AND ( NR_ITEM = @nr_item )

      FETCH c_itens INTO @nr_item
    END

    UPDATE TADICAO_DE_IMPORTACAO 
    SET    QT_ITENS_ADICAO = @i_item
    WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND 
           ( NR_ADICAO = @s_adicao )

    UPDATE TDECLARACAO_IMPORTACAO
    SET    QT_ADICOES = ( SELECT COUNT(*) 
                          FROM   TADICAO_DE_IMPORTACAO 
                          WHERE  NR_PROCESSO = @NR_PROC_CONTROLE ) 
    WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE )

    CLOSE c_itens 
    DEALLOCATE c_itens

  END

  IF ( SELECT COUNT(*) 
       FROM   TADICAO_DE_IMPORTACAO
       WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) ) = 0
  BEGIN 
    DELETE FROM TDECLARACAO_IMPORTACAO WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TACRESCIMO_VALORACAO   WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TATO_VINCULADO         WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TDEDUCAO_VALORACAO     WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TDESTAQUE_NCM          WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TDOCUMENTO_VINCULADO   WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TPAGAMENTO_PREVISTO    WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TPAGAMENTO_VINCULADO   WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TRIBUTO                WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TVALORACAO_NCM         WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TDI_NVE                WHERE NR_PROCESSO = @NR_PROC_CONTROLE
    DELETE FROM TPREPARA_PO            WHERE NR_PROCESSO = @NR_PROC_CONTROLE AND TP_PROCESSO = 1
    DELETE FROM TPREPARA_PO_ITEM       WHERE NR_PROCESSO = @NR_PROC_CONTROLE AND TP_PROCESSO = 1
  END
  ELSE
  BEGIN
    -- RENUMERA ADICOES
    DECLARE c_DI_ADIC CURSOR FOR
      SELECT NR_ADICAO 
      FROM   TADICAO_DE_IMPORTACAO 
      WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE )

    SELECT @i_item = 0

    OPEN c_DI_ADIC
    FETCH c_DI_ADIC INTO @nr_adicao
    WHILE @@fetch_status <> -1
    BEGIN
      SELECT @i_item = @i_item + 1
      SELECT @s_item = CONVERT( char(3), @i_item )
      SELECT @s_item = RIGHT( ( '000' + RTRIM( @s_item ) ), 3 )
  
      UPDATE TADICAO_DE_IMPORTACAO 
      SET    NR_ADICAO = @s_item 
      WHERE CURRENT OF c_DI_ADIC

      UPDATE TDI_NVE               SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TDETALHE_MERCADORIA   SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TACRESCIMO_VALORACAO  SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TATO_VINCULADO        SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TDEDUCAO_VALORACAO    SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TDESTAQUE_NCM         SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TDOCUMENTO_VINCULADO  SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TPAGAMENTO_PREVISTO   SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TPAGAMENTO_VINCULADO  SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TRIBUTO               SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )
      UPDATE TVALORACAO_NCM        SET NR_ADICAO = @s_item WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @nr_adicao )

      SELECT @nConta = COUNT(*) 
      FROM   TDETALHE_MERCADORIA 
      WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND 
             ( NR_ADICAO   = @s_item )

      UPDATE TADICAO_DE_IMPORTACAO 
      SET    QT_ITENS_ADICAO = @nConta 
      WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND
             ( NR_ADICAO   = @s_item )
      
      FETCH c_DI_ADIC INTO @nr_adicao
    END

    CLOSE c_DI_ADIC
    DEALLOCATE c_DI_ADIC    

  END

END

RETURN(0)

/*
SELECT * FROM TPREPARA_PO_ITEM WHERE NR_PROCESSO = '0101DT-0001-00'
SELECT * FROM TPO_ITEM WHERE NR_PROCESSO = '4580000067'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
