USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atualiza_proc_armazem] ( @nr_processo char(18), @dt_realizacao datetime) AS

DECLARE @flag_inseriu char(1) 

/*
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_servico char(3)
DECLARE @cd_cliente char(5)
DECLARE @CD_ARMAZEM_DESCARGA char(4)
DECLARE @CD_TABELA Char(3)
DECLARE @NR_PERIODO int
DECLARE @QT_DIAS int
DECLARE @dt_inc datetime

--declare @dt_realizacao datetime
--dECLARE @nr_processo char(18)


--select @nr_processo  ='0101i0-0087-05'
--select @nr_processo  ='0101MY-0042-05'
--select @dt_realizacao  = '06-18-2005' 
*/
set @flag_inseriu = '0' --não inseriu
/*
--IF @dt_realizacao IS NOT NULL
--  SELECT @dt_realizacao = CONVERT( datetime, CONVERT( char(10), @dt_realizacao, 103 ), 103 )

select 
  @cd_unid_neg = A.CD_UNID_NEG, 
  @cd_produto = A.CD_PRODUTO, 
  @cd_cliente = A.CD_CLIENTE, 
  @cd_servico = A.CD_SERVICO, 
  @CD_ARMAZEM_DESCARGA = CD_ARMAZEM_DESCARGA
from TPROCESSO A
where
  A.nr_processo = @nr_processo

select 
  ISNULL(C.CD_TABELA,'') CD_TABELA, 
  C.NR_PERIODO, 
  C.QT_DIAS
INTO #TAB_PERIODO
FROM 
  TARM_TABELA A, TCLIENTE_ARMAZEM B, TARM_TAB_PERIODO C
WHERE
  A.CD_ARMAZEM = B.CD_ARMAZEM AND
  A.CD_TABELA = B.CD_TABELA AND
  B.CD_ARMAZEM = @CD_ARMAZEM_DESCARGA AND
  B.CD_CLIENTE = @cd_cliente and 
  B.CD_PRODUTO = @cd_produto AND
  B.cd_unid_neg = @cd_unid_neg and 
  B.cd_servico = @cd_servico AND
  C.CD_ARMAZEM = A.CD_ARMAZEM and 
  C.CD_TABELA = B.CD_TABELA
ORDER by C.NR_PERIODO 

  set @dt_inc = @dt_realizacao
  WHILE (select count(*) from #TAB_PERIODO) > 0 
  BEGIN 
    SELECT  top 1 
      @CD_TABELA = ISNULL(CD_TABELA,''), 
      @NR_PERIODO = NR_PERIODO, 
      @QT_DIAS = QT_DIAS
    FROM #TAB_PERIODO

    delete from TPROCESSO_ARMAZENAGEM  --evita duplicidade 
    where 
      NR_PROCESSO = @NR_PROCESSO AND IN_AUTOM = 'S'


    set @dt_inc = @dt_inc+@QT_DIAS
    
    IF @flag_inseriu = '0'   
    BEGIN
      IF @dt_inc > getdate()
      BEGIN  --qdo inserir por este IF, deve parar pois a data já é maior que a dt de chegada do navio
        INSERT INTO TPROCESSO_ARMAZENAGEM
          (NR_PROCESSO, NR_PERIODO, DT_VENCTO, CD_TABELA, CD_ARMAZEM, IN_AUTOM)
        VALUES
          (@NR_PROCESSO, @NR_PERIODO,@dt_inc, @CD_TABELA, @CD_ARMAZEM_DESCARGA, 'S')
        set @flag_inseriu = '1' 
      END
      ELSE
      BEGIN
        INSERT INTO TPROCESSO_ARMAZENAGEM
          (NR_PROCESSO, NR_PERIODO, DT_VENCTO, CD_TABELA, CD_ARMAZEM, IN_PRORROG, IN_AUTOM)
        VALUES
         (@NR_PROCESSO, @NR_PERIODO, @dt_inc, @CD_TABELA, @CD_ARMAZEM_DESCARGA, '1', 'S')
      END
    END
  DELETE from #TAB_PERIODO where NR_PERIODO = @NR_PERIODO
END

--drop table #TAB_PERIODO

*/



GO
