USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
SET XACT_ABORT ON
BEGIN TRAN

--Object:  Stored Procedure dbo.sp_ordena_rank_receita    Script Date: 02/02/1999 11:13:30 
--*/
CREATE PROCEDURE [sp_ordena_rank_receita] (@cd_unid_neg char(2), @cd_produto char(2), @periodo_inicial datetime, @periodo_final datetime, @nr_identificador int output) AS
/*
declare @cd_produto  char(2)
declare @cd_unid_neg char(2)
declare @periodo_inicial datetime
declare @periodo_final datetime
declare @nr_identificador int
--*/

declare @contador   int
declare @soma_receitas  float
declare @cd_cliente   char(5)
declare @nr_abertos  int
declare @nr_faturas  int
declare @media_faturas  float
declare @classificacao_abertos int
declare @porcentagem  float
declare @soma_receita_total float
declare @conta_reg  int

/*
select @cd_unid_neg = '40'
select @cd_produto  = 'X'
select @periodo_inicial = convert(datetime, '01/01/1999', 103)
select @periodo_final   = convert(datetime, '31/01/2002', 103)
--*/

select  @media_faturas   = 0
select  @porcentagem  = 0
select @nr_identificador = isnull(max(nr_identificador),0) 
  from TRANK_RECEITA
select @nr_identificador = @nr_identificador + 1

select @soma_receita_total = isnull(sum(f.vl_item), 0) 
  from tprocesso p,
       tfaturamento_cc f,
       titem i
  where p.nr_processo = f.nr_processo and
        f.dt_lancamento between @periodo_inicial and 
        @periodo_final and
        f.in_cancelado = '0' and
        f.cd_item = i.cd_item and
        (p.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and
        (p.cd_produto  = @cd_produto  OR @cd_produto  = 'X') and
        i.cd_tipo_item = 'R'
select @nr_identificador nr_identificador, 
 isnull(sum(f.vl_item), 0) soma_receitas,  
        p.cd_cliente,p.cd_unid_neg, p.cd_produto,
       (select count(*) 
          from tprocesso pa
          where pa.cd_cliente = p.cd_cliente and
                pa.dt_abertura between @periodo_inicial and @periodo_final ) nr_abertos,
       (select count(*) 
          from tprocesso pa,
               ts_fatura_processo fp,
               ts_fatura f
          where pa.cd_cliente = p.cd_cliente and
                fp.nr_processo = pa.nr_processo and
                f.cd_unid_neg = fp.cd_unid_neg and                
                f.cd_produto = fp.cd_produto and
                f.nr_solicitacao = fp.nr_solicitacao and
                f.dt_fatura between @periodo_inicial and @periodo_final and
                f.in_cancelado = '0') nr_faturas, 
  @media_faturas media_faturas, 
  0 classificacao_abertos, 
  isnull(@porcentagem,0) porcentagem
  into #tmp_cliente
  from tprocesso p,
       tfaturamento_cc f,
       titem i
  where p.nr_processo = f.nr_processo and
        f.dt_lancamento between @periodo_inicial and @periodo_final and
        f.in_cancelado = '0' and
        f.cd_item = i.cd_item and
        (p.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and
        (p.cd_produto  = @cd_produto  OR @cd_produto  = 'X') and
        i.cd_tipo_item = 'R'
  group by p.cd_cliente, p.cd_unid_neg, p.cd_produto
select @contador = 0
declare c_cursor cursor for 
  select nr_identificador, soma_receitas, cd_unid_neg, cd_produto, cd_cliente, nr_abertos, nr_faturas, 
  media_faturas, classificacao_abertos, porcentagem
  from #tmp_cliente
  order by cd_unid_neg,cd_produto,nr_abertos desc
open c_cursor
fetch c_cursor into @nr_identificador, @soma_receitas, @cd_unid_neg, @cd_produto, @cd_cliente, 
  @nr_abertos, @nr_faturas, @media_faturas, @classificacao_abertos, @porcentagem
select @conta_reg = 0
while (@@fetch_status = 0) and (@conta_reg < 7)
begin
  if @nr_faturas <> 0 
    select @media_faturas = @soma_receitas / @nr_faturas
  else
    select @media_faturas = 0
  select @contador = @contador + 1
  select @classificacao_abertos = @contador
  select @porcentagem = (@soma_receitas * 100) / @soma_receita_total
  insert TRANK_RECEITA values (@nr_identificador, @cd_unid_neg, @soma_receitas, 
  @cd_cliente, @nr_abertos, @nr_faturas, @media_faturas, 
  @classificacao_abertos, @porcentagem, @cd_produto)
  fetch c_cursor into @nr_identificador, @soma_receitas, @cd_unid_neg, @cd_produto, @cd_cliente, 
  @nr_abertos, @nr_faturas, @media_faturas, @classificacao_abertos, @porcentagem
  select @conta_reg = @conta_reg + 1
end
close c_cursor
deallocate c_cursor
drop table #tmp_cliente

/*
select * from trank_receita where nr_identificador = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/


GO
