USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_flp_po] (@nr_processo char(18), @cd_empresa char(5)) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_empresa  char(5)
SELECT @nr_processo = '4500181714'
SELECT @cd_empresa  = ''
--*/
SET NOCOUNT ON

DECLARE @cd_evento         char(3),
        @cd_ev_basico      char(3),
        @cd_ev_futuro      char(3),
        @in_aplicavel      char(1),
        @pz_do_ev_basico   float,
        @pz_ate_ev_futuro  float,
        @prazo             int,
        @dt_realizacao     datetime,
        @dt_ev_basico      datetime,
        @dt_ev_futuro      datetime,
        @dt_limite         datetime,
        @dt_prevista       datetime,
        @nr_dias_conclusao int,
        @cd_ev_conclusor   char(3),
        @cd_ev_abre_proc   char(3),
        @hoje              datetime,
        @cd_status         char(1),
        @cd_servico        char(3)

SET @cd_ev_abre_proc = '003'
--SET @hoje = CONVERT(DATETIME, CONVERT(VARCHAR(10), GETDATE(), 103), 103)
SET @hoje = GETDATE()

SELECT @cd_servico = PR.CD_SERVICO
FROM BROKER.DBO.TPROCESSO PR (NOLOCK)
WHERE PR.NR_REFERENCIA = @nr_processo
  AND PR.CD_CLIENTE    = @cd_empresa

-- Limpa previsões e data limite, atualiza a ordem dos eventos
IF EXISTS(SELECT F.CD_EVENTO
          FROM TFLP_PO F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK) 
          WHERE F.NR_PROCESSO = @nr_processo
            AND F.CD_EMPRESA  = @cd_empresa
            AND SE.CD_SERVICO = @cd_servico
            AND SE.CD_EVENTO  = F.CD_EVENTO
            AND SE.NR_ORDEM  <> F.NR_ORDEM)
BEGIN
    --atualiza a ordem dos eventos no fup do processo e apaga todas as previsões e datas limite
    UPDATE F
    SET DT_PREVISTA = NULL,
        DT_LIMITE   = NULL,
        NR_ORDEM    = SE.NR_ORDEM
    FROM TFLP_PO F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK)
    WHERE F.NR_PROCESSO = @nr_processo
      AND F.CD_EMPRESA  = @cd_empresa
      AND SE.CD_SERVICO = @cd_servico
      AND SE.CD_EVENTO  = F.CD_EVENTO
END
ELSE
BEGIN
    --apaga todas as previsões e datas limite
    UPDATE TFLP_PO
    SET DT_PREVISTA = NULL,
        DT_LIMITE   = NULL
    WHERE NR_PROCESSO = @nr_processo
      AND CD_EMPRESA  = @cd_empresa
END


SELECT @nr_dias_conclusao = ISNULL(NR_DIAS_CONCLUSAO_PO, 0),
       @cd_ev_conclusor   = CD_EVENTO_CONCLUSOR_PO
FROM BROKER.DBO.TPARAMETROS (NOLOCK)

-- Determina Limites para Evento Base
DECLARE cPrevisto CURSOR FOR
    SELECT F.CD_EVENTO, F.IN_APLICAVEL, SE.CD_EV_BASICO, SE.PZ_DO_EV_BASICO, F.DT_REALIZACAO
    FROM TFLP_PO F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK)
    WHERE F.NR_PROCESSO = @nr_processo
      AND F.CD_EMPRESA  = @cd_empresa
      AND SE.CD_SERVICO = @cd_servico
      AND SE.CD_EVENTO  = F.CD_EVENTO
      AND ISNULL( SE.CD_EV_BASICO, '' ) <> '' 
    ORDER  BY SE.NR_ORDEM

OPEN cPrevisto
FETCH cPrevisto INTO @cd_evento, @in_aplicavel, @cd_ev_basico, @pz_do_ev_basico, @dt_realizacao

WHILE @@fetch_status = 0
BEGIN
    SELECT @dt_ev_basico = ISNULL(DT_REALIZACAO,DT_PREVISTA)
    FROM TFLP_PO (NOLOCK)
    WHERE NR_PROCESSO  = @nr_processo
      AND CD_EMPRESA   = @cd_empresa
      AND CD_EVENTO    = @cd_ev_basico

    IF @in_aplicavel = '0'
        SET @pz_do_ev_basico = 0

    SET @prazo = ISNULL(@pz_do_ev_basico, 0)

    UPDATE TFLP_PO
    SET DT_PREVISTA = DATEADD(HOUR, @prazo, ISNULL(@dt_ev_basico, @hoje))
    WHERE NR_PROCESSO = @nr_processo
      AND CD_EMPRESA  = @cd_empresa
      AND CD_EVENTO   = @cd_evento

    FETCH cPrevisto INTO @cd_evento, @in_aplicavel, @cd_ev_basico, @pz_do_ev_basico, @dt_realizacao
END

CLOSE cPrevisto
DEALLOCATE cPrevisto

/* dasativado em 02/07/2007
-- Determina Limites para Evento Futuro
DECLARE cLimite CURSOR FOR
  SELECT F.CD_EVENTO, F.IN_APLICAVEL, SE.CD_EV_FUTURO, SE.PZ_ATE_EV_FUTURO, F.DT_REALIZACAO
  FROM   TFLP_PO F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK), TPO P (NOLOCK)
  WHERE  F.NR_PROCESSO   = P.NR_PROCESSO  AND
         P.CD_SERVICO    = SE.CD_SERVICO  AND
         F.CD_EVENTO     = SE.CD_EVENTO   AND
         F.NR_PROCESSO   = @nr_processo   AND
         ISNULL( SE.CD_EV_FUTURO, '' ) <> ''
  ORDER  BY SE.NR_ORDEM

OPEN cLimite
FETCH cLimite INTO @cd_evento, @in_aplicavel, @cd_ev_futuro, @pz_ate_ev_futuro, @dt_realizacao

WHILE @@fetch_status = 0
BEGIN
  SELECT @dt_ev_futuro = DT_REALIZACAO
  FROM   TFLP_PO (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO   = @cd_ev_futuro

  SET @prazo = ISNULL( @pz_ate_ev_futuro, 0 )

  IF @in_aplicavel = '0'
    SELECT @prazo = 0

  UPDATE TFLP_PO
  SET    DT_LIMITE   = DATEADD( day,( (-1) * @prazo ), ISNULL( @dt_ev_futuro, @hoje ) )
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO   = @cd_evento

  FETCH cLimite INTO @cd_evento, @in_aplicavel, @cd_ev_futuro, @pz_ate_ev_futuro, @dt_realizacao
END
CLOSE cLimite
DEALLOCATE cLimite

-- Verifica Status
DECLARE cStatus CURSOR FOR
  SELECT F.IN_APLICAVEL, F.DT_REALIZACAO, F.DT_PREVISTA, F.DT_LIMITE
  FROM   TFLP_PO F 
  WHERE  F.NR_PROCESSO = @nr_processo 
  ORDER BY F.NR_ORDEM

OPEN cStatus
FETCH cStatus INTO @in_aplicavel, @dt_realizacao, @dt_prevista, @dt_limite

WHILE @@fetch_status = 0
BEGIN
  IF @in_aplicavel = '1'
  BEGIN
    IF @dt_prevista is NULL SET @dt_prevista = @dt_limite

    IF @dt_realizacao IS NULL 
    BEGIN
      IF @hoje = @dt_prevista SET @cd_status = '0'
      IF @hoje > @dt_prevista SET @cd_status = '1'
      IF @hoje < @dt_prevista SET @cd_status = '5'
    END
    ELSE
    BEGIN
      IF @dt_realizacao >  @dt_prevista SET @cd_status = '1'
      IF @dt_realizacao <= @dt_prevista SET @cd_status = '5'
    END
  END
  ELSE SET @cd_status = '4'

  UPDATE TFLP_PO
  SET    CD_STATUS = ISNULL( @cd_status, '5' )
  WHERE  CURRENT OF cStatus

  FETCH cStatus INTO @in_aplicavel, @dt_realizacao, @dt_prevista, @dt_limite
END
CLOSE cStatus
DEALLOCATE cStatus
*/
SET NOCOUNT OFF
/*
select nr_processo, cd_evento, dt_prevista, dt_realizacao
from tflp_po (nolock) where nr_processo = @nr_processo order by nr_ordem
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/


GO
