USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_calc_mov_codesp]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @qt_cntr20          float
DECLARE @qt_cntr40          float
DECLARE @pb_cntr20          float
DECLARE @pb_cntr40          float
DECLARE @pb_granel          float
DECLARE @pb_outros          float
DECLARE @tx_cambio          float
DECLARE @vl_mov_ate_5       float    
DECLARE @vl_mov_acima_5     float
DECLARE @vl_mov_granel      float
DECLARE @vl_mov_cntr        float
DECLARE @pc_iss             float 
DECLARE @vl_resultado       numeric(13,3)
SELECT  @vl_resultado       = 0
SELECT  @Resultado          = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @qt_cntr20  = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 ),
       @pb_cntr40  = ISNULL( SUM( PE.PB_EMBALAGEM ), 0 )
FROM   TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
       E.CD_TIPO IN ('2','4')
SELECT @qt_cntr40 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 ),
       @pb_cntr40 = ISNULL( SUM( PE.PB_EMBALAGEM ), 0 )
FROM   TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
       E.CD_TIPO IN ('3','5')
SELECT @pb_granel = ISNULL( SUM( PE.PB_EMBALAGEM), 0 )
FROM   TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
       E.CD_TIPO IN ('1')
SELECT @pb_outros = ISNULL( SUM( PE.PB_EMBALAGEM ), 0 )
FROM   TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
       E.CD_TIPO IN ('6')
-- PESQUISA TAXA DA CODESP
SELECT @vl_mov_ate_5       = ISNULL( VL_MOV_ATE_5, 0 ),
       @vl_mov_acima_5     = ISNULL( VL_MOV_ACIMA_5, 0 ),
       @vl_mov_granel      = ISNULL( VL_MOV_GRANEL, 0 ),
       @vl_mov_cntr        = ISNULL( VL_MOV_CNTR, 0 ),
       @pc_iss             = ISNULL( PC_ISS, 0 )
FROM   TTAXA_CODESP
IF @@rowcount = 0
BEGIN
  -- Taxa CODESP nao informado
  RETURN(2)
END
ELSE
BEGIN
  SELECT @tx_cambio = ISNULL( tx_cambio, 0 )
  FROM   TTAXA_CAMBIO
  WHERE  CD_MOEDA = '220' AND
         DT_INICIO_VIGENCIA <= GETDATE() AND
         DT_TERMINO_VIGENCIA >= GETDATE()
  IF @@rowcount = 0
  BEGIN
    -- Taxa de Cƒmbio nao informado
    RETURN(3)
  END
  ELSE
  BEGIN
    -- CALCULA MOVIMENTACAO CODESP
    IF ( @qt_cntr20 + @qt_cntr40 ) > 0
    BEGIN
      SELECT @vl_resultado = ( ( @qt_cntr20 + @qt_cntr40 ) * @vl_mov_cntr * @tx_cambio )
    END
    ELSE
    BEGIN
      IF @pb_granel > 0
      BEGIN
        SELECT @vl_resultado = ( ( @pb_granel / 1000 ) * @vl_mov_granel * @tx_cambio )
      END
      ELSE
      BEGIN
        IF @pb_outros <= 5000
        BEGIN
          SELECT @vl_resultado = ( ( @pb_outros / 1000 ) * @vl_mov_ate_5 * @tx_cambio )
        END
        ELSE
        BEGIN
          SELECT @vl_resultado = ( ( @pb_outros / 1000 ) * @vl_mov_acima_5 * @tx_cambio )
        END
      END
    END
    SELECT @vl_resultado = ROUND ( @vl_resultado, 2 )
    SELECT @vl_resultado = ROUND ( ( @vl_resultado * ( 1 + @pc_iss ) ), 2 )
    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
    RETURN(0)
  END     
END



GO
