USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_calc_ipi] ( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_base_calc char(1)
-- SELECIONA O IPI DE ACORDO COM O PROCESSO/PREVISAO
IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  SELECT @cd_base_calc = '0'
  SELECT @Resultado = ISNULL( VL_IPI_MN, 0)
  FROM   TPROCESSO (NOLOCK)
  WHERE  ( NR_PROCESSO = @nr_processo ) 
END
ELSE
BEGIN
  SELECT @cd_base_calc = '1'
  SELECT @Resultado = SUM( ISNULL( VL_IPI, 0) )
  FROM   TPREVISAO_ADICAO (NOLOCK)
  WHERE  ( NR_PROCESSO = @nr_processo ) 
END

IF ISNULL(@Resultado, 0) = 0
    SELECT @Resultado = SUM(ISNULL(VL_IPI_REAIS, 0))
    FROM TPRE_CALCULO_ADICAO (NOLOCK)
    WHERE (NR_PROCESSO = @nr_processo)

IF @Resultado > 0
BEGIN
  -- ATRIBUI PARA O PARAMETRO DE SAIDA O VALOR DO IPI
  RETURN(0)
END
ELSE
BEGIN
  /*SELECT *
  FROM   TNUMERARIO_ITEM_SOLIC
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = ( SELECT CD_ITEM_IPI FROM TPARAMETROS ) AND
         TP_DESTINO = '1'*/
  IF @@rowcount = 0
  BEGIN
    -- Processo/Previsao nao Localizado e IPI não informado
    SELECT @Resultado = 0
    IF @cd_base_calc = '0' RETURN(1)
    ELSE RETURN(2)
  END
  ELSE
  BEGIN
    SELECT @resultado = ISNULL( ROUND( VL_RECEBIDO, 2 ), 0 )
    FROM   TNUMERARIO_ITEM_SOLIC (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_ITEM = ( SELECT CD_ITEM_IPI FROM TPARAMETROS )
    RETURN(0)
  END
END


GO
