USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_delete    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_atz_delete] (@cd_instalacao char(1) ) AS
DECLARE @cd_chave  varchar(120)
DECLARE @nm_chave  varchar(120)
DECLARE @nm_tabela  varchar(30)
DECLARE @nm_banco  varchar(10)
DECLARE @nm_servidor  varchar(15)
DECLARE @nm_stored_proc varchar(255)
SELECT @nm_servidor = NM_SERVIDOR_DESTINO 
FROM TINSTALACAO  (TABLOCK HOLDLOCK)
WHERE CD_INSTALACAO = @cd_instalacao
DECLARE c_reg CURSOR FOR
SELECT DISTINCT A.CD_CHAVE, T.NM_BANCO, T.NM_TABELA, T.NM_CHAVE
FROM   TATZ A,
       TTABELA T (TABLOCK HOLDLOCK)
WHERE  A.CD_TABELA = T.CD_TABELA AND
       A.CD_MOVIMENTO = 'E' AND
       A.DT_MOVIMENTO > ISNULL(T.DT_ATZ, CONVERT(datetime, '01/01/1900', 103) ) AND
       T.NM_BANCO IN ( SELECT NM_BANCO FROM TINSTALACAO_BANCO WHERE CD_INSTALACAO = @cd_instalacao )
OPEN c_reg
FETCH c_reg INTO @cd_chave, @nm_banco, @nm_tabela, @nm_chave
WHILE @@fetch_status <> -1
BEGIN
  SELECT @nm_stored_proc = @nm_servidor + '.BROKER..sp_deleta_chave "' + @nm_banco + '", "' + @nm_tabela + '", "' + @cd_chave + '", "' + @nm_chave + '"'
  EXEC (@nm_stored_proc)
 
  FETCH c_reg INTO @cd_chave, @nm_banco, @nm_tabela, @nm_chave
END
CLOSE c_reg
DEALLOCATE c_reg


GO
