USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_exclui_di    Script Date: 02/09/1999 08:58:11 AM ******/
CREATE PROCEDURE [sp_po_desmarca] AS

UPDATE TPO_ITEM
SET    IN_SELECIONADO =  0
WHERE  ( IN_SELECIONADO = '1' ) AND ( IN_MONTADO <> '1' )

UPDATE TPO 
SET    IN_SELECIONADO = 0
WHERE  ( IN_SELECIONADO = '1' )


GO
