USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [SP_MAIL_PENDENTES_PO_COMUM] @UNIDADE char(2), @PRODUTO char(2), @EVENTO char(3), @CLIENTE char(5), @GRUPO char(3), @AREA char(2), @SUBAREA char(2), @ANALISTA_COMISSARIA char(4), @ANALISTA_CLIENTE char(4) AS

  /********************************************************************************************************************/
  /* NOME      : SP_MAIL_PENDENTES							    			      */
  /* AUTOR     : VÍTOR ZANIN 										              */
  /* DATA      : 22/02/2005 										              */
  /* DESCRIÇÃO : STORED CHAMADA PELO JOB, PARA SEPARAR OS PROCESSOS E CHAMAR O MYSENDMAIL, QUE ENVIARA O REL POR MAIL */
  /********************************************************************************************************************/

/*
  BEGIN TRAN

  DECLARE @UNIDADE CHAR(2)
  DECLARE @PRODUTO CHAR(2)
  DECLARE @EVENTO  CHAR(3)
  DECLARE @CLIENTE CHAR(5)
  DECLARE @GRUPO   CHAR(3)
  DECLARE @AREA    CHAR(2)
  DECLARE @SUBAREA CHAR(2)
  SELECT  @UNIDADE = '01'
  SELECT  @PRODUTO = '01'
  SELECT  @EVENTO  = '300' 
  SELECT  @CLIENTE = ''
  SELECT  @GRUPO   = '002'
  SELECT  @AREA    = '' 
  SELECT  @SUBAREA = '' 
--*/

  -- SELECIONANDO REGISTROS PARA O TAL EVENTO

  INSERT INTO TMAIL_PENDENTES_PO ( NR_PO, NR_ITEM, AREA, PREVISAO, ATRASO, CLIENTE, STATUS )
  SELECT F2.NR_PROCESSO PROCESSO, POI.NR_ITEM, PO.CD_AREA, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, PR.NR_PROCESSO, '-'
  FROM TPROCESSO PR (NOLOCK)
    INNER JOIN TFLP_PO F2 (NOLOCK) ON F2.NR_PROCESSO =  PR.NR_PROCESSO AND F2.CD_EVENTO = @EVENTO AND F2.IN_APLICAVEL = 1 AND F2.DT_REALIZACAO IS NULL
    INNER JOIN TFLP_PO F  (NOLOCK) ON PR.NR_REFERENCIA = F.NR_PROCESSO	
    INNER JOIN TPO        PO  (NOLOCK) ON PO.NR_PROCESSO   = PR.NR_REFERENCIA
    INNER JOIN TPO_ITEM   POI (NOLOCK) ON POI.NR_PROCESSO  = PR.NR_REFERENCIA
  WHERE  @UNIDADE IN (PR.CD_UNID_NEG, '')
    AND @PRODUTO IN (PR.CD_PRODUTO, '')    
    AND PR.IN_CANCELADO = '0'  
    AND @CLIENTE IN (PR.CD_CLIENTE, '') 
    AND @GRUPO   IN (PR.CD_GRUPO, '')   
    AND F.CD_EVENTO = (SELECT CD_EV_BASICO FROM TSERVICO_EVENTO SE (NOLOCK) WHERE SE.CD_SERVICO = PO.CD_SERVICO AND SE.CD_EVENTO = @EVENTO)  
    AND F.DT_REALIZACAO IS NOT NULL  
    AND @SUBAREA IN (PO.CD_AREA, '')
    AND ((@AREA IN ( SELECT NM_GRUPO FROM TAREA WHERE @SUBAREA IN (PR.CD_AREA, '') )) OR @AREA = '')    
    AND F2.DT_PREVISTA > convert(datetime,'01/01/2008',103)          
    AND DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) > -1            
    AND  ( ( PR.CD_CONTATO IN (SELECT CD_CONTATO FROM TCLIENTE_CONTATO WHERE CD_USUARIO = @ANALISTA_CLIENTE )) OR (@ANALISTA_CLIENTE = ''))
  ORDER  BY ATRASO DESC

  IF (SELECT COUNT(*) FROM TMAIL_PENDENTES_PO) > 0
  BEGIN
    -- RODA TODA A PREVIA FEITA ANTERIORMENTE, PARA FILTRAR SOMENTE PELOS DIAS UTEIS        
    DECLARE @NR_PROCESSO CHAR(15)  
    DECLARE @ATRASO      INT
    DECLARE @DT_HOJE     DATETIME  
    DECLARE @PREVISAO    DATETIME  
    SELECT  @DT_HOJE = CONVERT(DATETIME,GETDATE(),103)  

    DECLARE CCURSOR CURSOR FOR
    SELECT DISTINCT NR_PO, CONVERT(DATETIME, PREVISAO, 103), ATRASO 
    FROM TMAIL_PENDENTES_PO
    open cCursor
    fetch cCursor into @NR_PROCESSO, @PREVISAO, @ATRASO 
    while @@fetch_status = 0
    BEGIN       
      -- VERIFICAÇÃO DE DIAS UTEIS  
      WHILE DATEDIFF( D, @PREVISAO, @DT_HOJE ) > 0  
      BEGIN  
        IF DATEPART( dw, @PREVISAO ) IN ( 1, 7 )  
          SELECT @ATRASO = @ATRASO - 1  
        ELSE  
          IF CONVERT( datetime, @PREVISAO, 103 ) IN ( SELECT CONVERT( datetime, DT_FERIADO, 103 )  FROM   TFERIADO )  
            SELECT @ATRASO = @ATRASO - 1  
        SELECT @PREVISAO = @PREVISAO + 1  
      END  
      UPDATE TMAIL_PENDENTES_PO SET ATRASO = @ATRASO WHERE NR_PO = @NR_PROCESSO             
      
      FETCH CCURSOR INTO @NR_PROCESSO, @PREVISAO, @ATRASO
    END
    CLOSE CCURSOR
    DEALLOCATE CCURSOR       
  END  
  
  -- PROCESSOS REALIZADOS HOJE

  INSERT INTO TMAIL_PENDENTES_PO ( NR_PO, NR_ITEM, AREA, PREVISAO, ATRASO, CLIENTE, STATUS )
  SELECT F2.NR_PROCESSO PROCESSO, POI.NR_ITEM, PO.CD_AREA, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, PR.NR_PROCESSO, '+'
  FROM TFLP_PO F2  (NOLOCK)
       INNER JOIN TPROCESSO    PR  (NOLOCK) ON PR.NR_REFERENCIA = F2.NR_PROCESSO	
       INNER JOIN TPO          PO  (NOLOCK) ON PO.NR_PROCESSO   = PR.NR_REFERENCIA
       INNER JOIN TPO_ITEM     POI (NOLOCK) ON POI.NR_PROCESSO  = PR.NR_REFERENCIA
  WHERE  @UNIDADE IN (PR.CD_UNID_NEG, '')
    AND @PRODUTO IN (PR.CD_PRODUTO, '')      
    AND PR.IN_CANCELADO = '0'  
    AND @CLIENTE IN (PR.CD_CLIENTE, '') 
    AND @GRUPO   IN (PR.CD_GRUPO, '')      
    AND @SUBAREA IN (PO.CD_AREA, '')
    AND @AREA IN ( SELECT NM_GRUPO FROM TAREA WHERE @SUBAREA IN (PO.CD_AREA, '') )  
    AND F2.CD_EVENTO    = @EVENTO
    AND F2.DT_REALIZACAO BETWEEN CONVERT(DATETIME,GETDATE()-1,103) AND CONVERT(DATETIME,GETDATE()+1,103)
  ORDER  BY ATRASO DESC

--  SELECT * FROM TMAIL_PENDENTES_PO
--  DELETE FROM TMAIL_PENDENTES_PO

--ROLLBACK TRAN





GO
