USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [sp_liq_cancel_grupo] @cd_unid_neg char(2), @dt_liquidacao datetime, @nr_grupo_liquidacao char(3) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @dt_liquidacao datetime
DECLARE @nr_grupo_liquidacao char(3)

SELECT @cd_unid_neg = '01'
SELECT @dt_liquidacao = CONVERT( datetime, '19/02/2001', 103 )
SELECT @nr_grupo_liquidacao = '001'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo    char(18)
DECLARE @nr_liquidacao  char(6)
DECLARE @vl_tot_liq     float
DECLARE @nr_ult_lanc    int
DECLARE @ult_lanc       char(6)
DECLARE @cd_usuario     char(4)
DECLARE @cd_ct_contabil char(10)
DECLARE @cd_acesso      char(1)
DECLARE @cd_aux         char(3)
DECLARE @cd_grupo       char(3)
DECLARE @cd_cliente     char(5)
DECLARE @cd_favorecido  char(5)
DECLARE @tp_natureza    char(1)
DECLARE @cd_forma_pagto char(1)
DECLARE @cd_banco       char(3)

IF EXISTS( SELECT *
           FROM   TADM
           WHERE  CONVERT( datetime, DT_LANCTO, 103 ) = @dt_liquidacao AND
                  ISNULL( NR_GRUPO_LIQUIDACAO, '' ) = @nr_grupo_liquidacao AND
                  CD_STATUS_ADM <> '4' )  
   RETURN (2)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

-- Definindo Conta Contábil / Favorecido
IF ( SELECT COUNT( DISTINCT( P.CD_CLIENTE ) )
     FROM   TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
     WHERE  FP.NR_PROCESSO = P.NR_PROCESSO AND
            P.CD_CLIENTE = E.CD_EMPRESA AND
            FP.DT_LIQUIDACAO =  @dt_liquidacao AND
            FP.NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
            FP.CD_UNID_NEG = @cd_unid_neg ) > 1
BEGIN
  SELECT @cd_grupo = ( 
  SELECT DISTINCT( E.CD_GRUPO )
  FROM   TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
  WHERE  FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         FP.DT_LIQUIDACAO = @dt_liquidacao AND
         FP.NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
         FP.CD_UNID_NEG = @cd_unid_neg )
  SELECT @cd_cliente = 'X'
END
ELSE
BEGIN
  SELECT @cd_grupo = 'X'
  SELECT @cd_cliente = (
  SELECT DISTINCT( P.CD_CLIENTE )
  FROM   TS_FATURA_PROCESSO FP, TPROCESSO P
  WHERE  FP.NR_PROCESSO = P.NR_PROCESSO AND
         FP.DT_LIQUIDACAO = @dt_liquidacao AND
         FP.NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
         FP.CD_UNID_NEG = @cd_unid_neg )
END

SELECT @cd_favorecido = ''

IF @cd_grupo <> 'X'
BEGIN
  SELECT @cd_ct_contabil = CD_CT_CONTABIL, 
         @cd_acesso      = CD_ACESSO, 
         @cd_aux         = CD_AUX
  FROM   TEMPRESA_NAC
  WHERE  CGC_EMPRESA IN ( SELECT CNPJ_GRUPO
                          FROM   TGRUPO
                          WHERE  CD_GRUPO = @cd_grupo )
  SELECT @cd_favorecido = ISNULL( F.CD_FAVORECIDO, '' )
  FROM   TFAVORECIDO F, TGRUPO G
  WHERE  G.CNPJ_GRUPO = F.CGC_EMPRESA AND
         G.CD_GRUPO = @cd_grupo
END
ELSE
BEGIN
  SELECT @cd_ct_contabil = CD_CT_CONTABIL, 
         @cd_acesso      = CD_ACESSO, 
         @cd_aux         = CD_AUX
  FROM   TEMPRESA_NAC
  WHERE  CD_EMPRESA = @cd_cliente

  SELECT @cd_favorecido = ISNULL( F.CD_FAVORECIDO, '' )
  FROM   TFAVORECIDO F, TEMPRESA_NAC E
  WHERE  E.CGC_EMPRESA = F.CGC_EMPRESA AND
         E.CD_EMPRESA = @cd_cliente
END

SELECT @vl_tot_liq = 0

SELECT @vl_tot_liq = ISNULL( SUM(  CASE TP_LIQUIDACAO
                                     WHEN 'R' THEN ISNULL( VL_LIQUIDACAO, 0 ) * (-1)
                                     WHEN 'P' THEN ISNULL( VL_LIQUIDACAO, 0 )
                                     ELSE 0
                                   END ), 0 )
FROM   TLIQUIDACAO
WHERE  DT_LIQUIDACAO = @dt_liquidacao AND
       NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
       IN_CANCELADO = '0'

-- Deverá ter Conta Contábil para gerar movimento no Caixa
IF ( ISNULL( @cd_ct_contabil, '' ) = '' ) RETURN(1)

DECLARE c_liq_grupo CURSOR FOR
  SELECT NR_PROCESSO, NR_LIQUIDACAO
  FROM   TLIQUIDACAO
  WHERE  DT_LIQUIDACAO = @dt_liquidacao AND
         NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
         IN_CANCELADO = '0'

OPEN c_liq_grupo

FETCH c_liq_grupo INTO @nr_processo, @nr_liquidacao

WHILE @@fetch_status = 0
BEGIN
  UPDATE TLIQUIDACAO
  SET    IN_CANCELADO = '1',
         CD_CANCELADOR =  @cd_usuario,
         DT_CANCELAMENTO =  GETDATE()
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_LIQUIDACAO = @nr_liquidacao

  EXEC sp_atualiza_liquidacao @nr_processo, @nr_liquidacao

  FETCH c_liq_grupo INTO @nr_processo, @nr_liquidacao
END

CLOSE c_liq_grupo
DEALLOCATE c_liq_grupo

-- Inserindo total do grupo estornado no financeiro
IF ( @vl_tot_liq < 0 ) OR ( @cd_forma_pagto IN ( '$', 'L' ) )
BEGIN
  SELECT @cd_banco       = CD_BANCO,
         @cd_forma_pagto = CD_FORMA_PAGTO
  FROM   TLIQUIDACAO
  WHERE  DT_LIQUIDACAO = @dt_liquidacao AND
         NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao

  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM   TCAIXA 
  WHERE  DT_MOVIMENTO = @dt_liquidacao

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

  IF ( @vl_tot_liq < 0 ) SELECT @tp_natureza = 'D'
  ELSE SELECT @tp_natureza = 'C'

  INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,
                  IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO,
                  CD_CT_CONTABIL, IN_RESTITUI, CD_ACESSO, CD_AUX )
  VALUES        ( '01', @dt_liquidacao, @ult_lanc, @cd_unid_neg, 'C', '4', '0', 
                  '1', 'ESTORNO DE DEVOLUÇÃO A CLIENTE....', ABS( @vl_tot_liq ), @cd_forma_pagto, @tp_natureza, @cd_banco, 
                  @cd_ct_contabil, '0', @cd_acesso, @cd_aux )
END

RETURN (0)





GO
