USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [sp_calculo_sda_ag](@nr_processo char(18), @dt_embarque datetime) AS

/*DECLARE @nr_processo char(18)
DECLARE @dt_embarque datetime
SET @nr_processo = '0104EA-0790-04'
SET @dt_embarque = CONVERT(DATETIME,'15/07/2004',103)
*/

DECLARE @vl_mle_mneg      decimal(14, 2)
DECLARE @vl_mle_mn        decimal(14, 2)
--DECLARE @vl_base_calc     decimal(14, 2)
DECLARE @vl_sda_minimo    decimal(14, 2)
DECLARE @vl_sda_maximo    decimal(14, 2)
DECLARE @pc_taxa_sda      decimal(14, 2)
DECLARE @pc_contr_assist  decimal(14, 2)
DECLARE @vl_sda           decimal(14, 2)
DECLARE @vl_contr_assist  decimal(14, 2)
DECLARE @cd_cliente       char(5)
DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_servico       char(3)
DECLARE @cd_tabela_sda    char(3)
DECLARE @vl_taxa          decimal(14, 6)
DECLARE @cd_moeda_mle     char(3)
DECLARE @vl_tx_contr_social_sda decimal(14, 2)
DECLARE @in_comp_sda      char(1)
DECLARE @in_calc_fob      char(1)
DECLARE @cd_item_sda      char(3)
DECLARE @cd_via_transp    char(2)
------------------PARAMETROS-------------------------------
SELECT @vl_tx_contr_social_sda = VL_TX_CONTR_SOCIAL_SDA, 
       @cd_item_sda            = CD_ITEM_SDA
FROM   TPARAMETROS


-----------------VALIDAÇÕES--------------------
IF (SELECT COUNT(*) FROM TPROCESSO_DESPESAS 
      WHERE NR_PROCESSO = @nr_processo 
        AND CD_ITEM = @cd_item_sda
        AND NR_NOTIFICACAO > '0') > 0 
    RETURN (1)

IF (SELECT COUNT(*) FROM TPROCESSO_DESPESAS 
      WHERE NR_PROCESSO = @nr_processo 
        AND CD_ITEM = @cd_item_sda
        AND IN_SOLICITADO = '1') > 0 
    RETURN 2
  

----------VALORES NO PROCESSO---------------------------
SELECT @cd_cliente       = CD_CLIENTE, 
       @cd_unid_neg      = CD_UNID_NEG,
       @cd_produto       = CD_PRODUTO,
       @cd_servico       = CD_SERVICO, 
       @vl_mle_mneg      = ISNULL( VL_MLE_MNEG, 0 ),
       @cd_moeda_mle     = CD_MOEDA_MLE
FROM   TPROCESSO 
WHERE  ( NR_PROCESSO = @nr_processo ) 
----------MODAL DO PROCESSO--------------------
SELECT @cd_via_transp = CD_VIA_TRANSPORTE
  FROM VW_SERVICO_GERAL 
  WHERE CD_SERVICO = @cd_servico
--------TAXA EM RELAÇÃO A DATA DE EMBARQUE-----------------
SET @vl_taxa = CASE
     WHEN @cd_via_transp = '04' THEN 
      (SELECT ISNULL(VL_TAXA,0) FROM TTAXA_IATA WHERE CD_MOEDA = @cd_moeda_mle AND DT_INICIO = @dt_embarque)
     ELSE (SELECT ISNULL(VL_TAXA,0) FROM TTAXA_FRETE WHERE CD_MOEDA = @cd_moeda_mle AND DT_INICIO = @dt_embarque)
     END
IF @vl_taxa = 0 
 RETURN 4
--------CONVERSÃO DA MERCADORIA PARA MOEDA NACIONAL------------------
SET @vl_mle_mn = @vl_mle_mneg * @vl_taxa

---------BUSCA TABELA DE SDA --------------

SELECT @cd_tabela_sda = CD_TAB_SDA,       
       @in_comp_sda   = IN_COMP_SDA
FROM   TCLIENTE_HABILITACAO 
WHERE  ( CD_CLIENTE  = @cd_cliente  ) AND
       ( CD_UNID_NEG = @cd_unid_neg ) AND
       ( CD_PRODUTO  = @cd_produto  )

IF ISNULL(@cd_tabela_sda,'') = '' 
  RETURN 3

SELECT @pc_taxa_sda     = PC_TAXA,
       @vl_sda_minimo   = VL_MINIMO,
       @vl_sda_maximo   = VL_MAXIMO,
       @pc_contr_assist = PC_ASSIST_SOCIAL,
       @in_calc_fob     = IN_CALC_FOB
FROM   TSDA 
WHERE ( CD_SDA = @cd_tabela_sda )

/****************************** CALCULA O SDA *********************************************/
SET @vl_sda = ISNULL(( @vl_mle_mn * ( @pc_taxa_sda / 100 ) ),0)

SET  @vl_sda = CASE
     WHEN @vl_sda > @vl_sda_maximo THEN @vl_sda_maximo
     WHEN @vl_sda < @vl_sda_minimo THEN @vl_sda_minimo
     ELSE @vl_sda END 

SET @vl_contr_assist = ( @vl_sda * ( @pc_contr_assist / 100 ) )

/*********************** ATUALIZA O PROCESSO COM OS VALORES CALCULADOS ********************/
IF @in_comp_sda = '0' SELECT @vl_tx_contr_social_sda = 0

UPDATE TPROCESSO 
SET    BASE_CALCULO_SDA =  @vl_mle_mn,
       VL_SDA           =  @vl_sda,
       VL_CONTR_ASSIST  =  @vl_contr_assist, 
       VL_COMPL_SDA     =  @vl_tx_contr_social_sda, 
       VL_MLE_MN        =  @vl_mle_mn
WHERE  ( NR_PROCESSO = @nr_processo )

DECLARE @vl_tot_sda DECIMAL(14,2)

SET @vl_tot_sda = ISNULL(@vl_sda, 0) + ISNULL(@vl_contr_assist, 0) + ISNULL(@vl_tx_contr_social_sda, 0 )

IF (SELECT COUNT(*) FROM TPROCESSO_DESPESAS 
         WHERE NR_PROCESSO = @nr_processo 
           AND CD_ITEM     = @cd_item_Sda ) = 0 
BEGIN
DECLARE @cd_desp char(4)

SELECT @cd_desp = RIGHT( '0000' + CONVERT( varchar, ISNULL (MAX(CD_DESP)+ 1 , 1 ) ), 4 ) 
FROM TPROCESSO_DESPESAS WHERE NR_PROCESSO = @nr_processo
 
INSERT INTO TPROCESSO_DESPESAS
 (NR_PROCESSO, CD_DESP, CD_ITEM, TP_BASE_CALCULO, CD_MOEDA, TP_ORIGEM_DESPESA, VL_BASE_DESPESA, VL_COMPRA_AG, VL_COMPRA_CIA, VL_VENDA, IN_DESPESA, IN_MENCIONADO, 
  CD_TAB_REF, TP_FRETE, TP_ESTUFAGEM, IN_REPASSA, VL_BASE_AG, VL_BASE_CLI, IN_PROFIT, VL_VENDA_EST, VL_CUSTO_EST, CD_MOEDA_VENDA, NR_NOTIFICACAO, IN_SOLICITADO)
VALUES(@nr_processo, @cd_desp, @cd_item_sda, '03', '790', '8', 0, @vl_tot_sda, 0, @vl_tot_sda, '4', '0', 
 NULL, '2', NULL, '6', @vl_tot_sda, @vl_tot_sda, '0', 0, 0 , '790', '0', '0')

END
ELSE
BEGIN
UPDATE TPROCESSO_DESPESAS
  SET VL_COMPRA_AG   = @vl_tot_sda, 
      VL_VENDA       = @vl_tot_sda, 
      VL_BASE_CLI    = @vl_tot_sda, 
      VL_BASE_AG     = @vl_tot_sda
 WHERE NR_PROCESSO   = @nr_processo
   AND CD_ITEM       = @cd_item_sda
   AND IN_SOLICITADO = '0'   
END







GO
