USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [sp_po_planilha] @cd_unid_neg char(2), @cd_produto char(2),    @cd_grupo char(3),   @cd_cliente char(5), 
                               @cd_area char(2),     @cd_grupo_area char(2), @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS 


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2),
        @cd_produto       char(2),
        @cd_grupo         char(3),
        @cd_cliente       char(5),
        @cd_area          char(2),
        @dt_inicio        datetime,
        @dt_fim           datetime,
        @nr_identificador int

SELECT  @cd_unid_neg = '01'
SELECT  @cd_produto  = '01'
SELECT  @cd_grupo    = '002'
SELECT  @cd_cliente  = 'X'
SELECT  @cd_area     = 'X'
SELECT  @dt_inicio   = convert( datetime, '02/05/2004', 103 )
SELECT  @dt_fim      = convert( datetime, '03/10/2004', 103 )


ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SET @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR ) + 1, 1 ) FROM TREL_PO_PLANILHA )  

INSERT TREL_PO_PLANILHA ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NR_REFERENCIA, NR_ITEM, 
       NR_ORDEM, CD_MERCADORIA, AP_MERCADORIA, NM_IMPORTADOR, CD_REF_IMP, NM_MODALIDADE, 
       NM_CLIENTE, CD_INCOTERM, NM_PORTO, NM_NAVIO_VOO, NM_AREA, IN_NEC_LI, DT_EMISSAO, 
       DT_NECESSIDADE, DT_ALOCADO, DT_RESERVA, DT_ETD, DT_ETA, DT_DOC, DT_AUT_EMBARQUE, DT_VENC_LI,
       DT_DEF_LI, TX_OBS )
SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, P.NR_REFERENCIA, GPI.NR_ITEM_CLIENTE, 
       P.NR_ORDEM, GPI.CD_MERCADORIA, M.AP_MERCADORIA, EN.NM_EMPRESA, P.CD_REF_IMP, VT.NM_VIA_TRANSP,
       EN.AP_EMPRESA, P.CD_INCOTERM, LE.DESCRICAO, 
       CASE S.CD_VIA_TRANSPORTE
         WHEN '01' THEN EM.NM_EMBARCACAO	
         ELSE  P.NR_VOO
       END AS NAVIO_VOO,
       A.NM_AREA, YN.TX_YESNO,
       P.DT_ABERTURA, 
/*
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO
         AND  CD_EVENTO = '100' ) AS DT_EMISSAO, 
*/
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO_ITEM (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '354' ) AS DT_NECESSIDADE, 	--205
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '300' ) AS DT_ALOCACAO, 	--295
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '355' ) AS DT_RESERVA, 	--296
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '359' ) AS DT_ETD, 		--297
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '161' ) AS DT_ETA, 		--298
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '001' ) AS DT_DOCS, 		--082
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '263' ) AS DT_AUT_EMBARQUE, 	--263
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '100' ) AS DT_VENC_LI, 	--
     ( SELECT DT_REALIZACAO
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '351' ) AS DT_DEF_LI,		-- Autorização LI = Deferimento LI
     ( SELECT CONVERT( VARCHAR(2000), TX_OBS )
       FROM   TFLP_PO (NOLOCK)
       WHERE  NR_PROCESSO = P.NR_PROCESSO AND NR_ITEM_CLIENTE = GPI.NR_ITEM_CLIENTE
         AND  CD_EVENTO = '022' ) AS TX_OBS 
FROM   TPROCESSO P (NOLOCK) 
       INNER JOIN VW_SERVICO_GERAL S (NOLOCK) ON ( P.CD_SERVICO = S.CD_SERVICO ) 
       INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON ( P.CD_CLIENTE = EN.CD_EMPRESA )
       INNER JOIN TGESTAO_PO_NEC_LI GPI (NOLOCK) ON ( P.NR_PROCESSO = GPI.NR_PROCESSO AND P.NR_REFERENCIA = GPI.NR_REFERENCIA )
       LEFT  JOIN TVIA_TRANSP_BROKER VT (NOLOCK) ON ( S.CD_VIA_TRANSPORTE = VT.CD_VIA_TRANSP )
--       LEFT  JOIN TEMPRESA_EST EE (NOLOCK) ON ( P.CD_IMPORTADOR = EE.CD_EMPRESA )
       LEFT  JOIN TMERCADORIA M (NOLOCK) ON ( GPI.CD_MERCADORIA = M.CD_MERCADORIA ) 
       LEFT  JOIN TLOCAL_EMBARQUE LE (NOLOCK) ON ( P.CD_LOCAL_EMBARQUE = LE.CODIGO )
       LEFT  JOIN TEMBARCACAO EM (NOLOCK) ON ( P.CD_EMBARCACAO = EM.CD_EMBARCACAO )
       LEFT  JOIN TYES_NO YN (NOLOCK) ON ( GPI.IN_NECESSIDADE_LI = YN.CD_YESNO )
       LEFT  JOIN TAREA A (NOLOCK) ON ( P.CD_AREA = A.CD_AREA )
WHERE  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
  AND  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )  
  AND  @cd_produto IN ( P.CD_PRODUTO, 'X' )
  AND  @cd_grupo IN ( EN.CD_GRUPO, 'X' )
  AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
  AND  @cd_area IN ( P.CD_AREA, 'X' )
  AND  @cd_grupo_area IN ( A.NM_GRUPO, 'X' )
  AND  P.IN_CANCELADO = '0' 
  AND  P.IN_LIBERADO = '1'






GO
