USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROC [sp_rel_ctrl_demurrage] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_cliente char(5)
DECLARE @cd_grupo char(3)
DECLARE @nr_identificador int 

SELECT @cd_unid_neg = 'X'
SELECT @cd_produto = 'X'
SELECT @cd_cliente = 'X'
SELECT @cd_grupo = 'X'
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_CTRL_DEMURRAGE (TABLOCK HOLDLOCK)

INSERT TREL_CTRL_DEMURRAGE ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, CD_CLIENTE, CD_GRUPO, NR_CNTR, DT_ENTRADA_ARM, 
                            VL_CHEQUE_CAUCAO, NR_CHEQUE_CAUCAO,  DT_EMISSAO, NM_NAVIO  )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, P.CD_CLIENTE, EN.CD_GRUPO, C.NR_CNTR, C.DT_ENT_ARM, 
                            C.VL_CHEQUE_CAUCAO, C.NR_CHEQUE_CAUCAO, C.DT_EMISSAO_CNTR, P.NR_VIAGEM
  FROM   TPROCESSO P (NOLOCK),
         TEMPRESA_NAC EN (NOLOCK),
         TPROCESSO_CNTR C (NOLOCK)
  WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
         @cd_grupo IN ( EN.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND 
         P.NR_PROCESSO = C.NR_PROCESSO AND C.DT_DEMURRAGE IS NOT NULL AND
         P.NR_PROCESSO = C.NR_PROCESSO AND convert(datetime, C.DT_DEMURRAGE,103) <= convert(datetime, convert( char(10), getdate(),103), 103)+1 AND
         P.NR_PROCESSO = C.NR_PROCESSO AND ISNULL(C.IN_PAGTO_EFETIVADO,0) <> 1

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/






GO
