USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_COPIA_CONTROLE_ACESSO_NOVO](@CD_CARGO_ORIGEM CHAR(3), @CD_CARGO_DESTINO CHAR(3),@CD_MODULO CHAR(4),@CD_SISTEMA CHAR(3),@VCOPIAMODULO CHAR(1)) AS

/*SET XACT_ABORT ON
BEGIN TRAN

DECLARE @CD_CARGO_ORIGEM CHAR(3)
DECLARE @CD_CARGO_DESTINO CHAR(3)

SELECT @CD_CARGO_ORIGEM = '038'
SELECT @CD_CARGO_DESTINO ='083'

ROLLBACK TRAN
SET XACT_ABORT OFF*/


BEGIN
    --VERIFICA SE COPIA O ACESSO DESDE O SISTEMA ou APENAS O MÓDULO
    IF @VCOPIAMODULO <> '1' 
    BEGIN 
        --VERIFICA SE JÁ EXISTE ESSE SISTEMA PARA ESSE CARGO 
        IF @CD_SISTEMA <> ''
        BEGIN
            DELETE [MYLOGIN].[DBO].TB_CONTROLE_ACESSO 
            WHERE CD_CARGO= CONVERT(INT,@CD_CARGO_ORIGEM) AND CD_SISTEMA= @CD_SISTEMA
    
            INSERT INTO [MYLOGIN].[DBO].TB_CONTROLE_ACESSO 
            SELECT CD_SISTEMA,CD_MODULO,CD_ROTINA,CONVERT(INT,@CD_CARGO_ORIGEM),IN_ATIVO,IN_VISIVEL
            FROM [MYLOGIN].[DBO].TB_CONTROLE_ACESSO 
            WHERE CD_CARGO = CONVERT(INT,@CD_CARGO_DESTINO) 
                AND CD_SISTEMA= @CD_SISTEMA
        END
        ELSE
        BEGIN
            DELETE [MYLOGIN].[DBO].TB_CONTROLE_ACESSO 
            WHERE CD_CARGO= CONVERT(INT,@CD_CARGO_ORIGEM) 
    
            INSERT INTO [MYLOGIN].[DBO].TB_CONTROLE_ACESSO 
            SELECT CD_SISTEMA,CD_MODULO,CD_ROTINA,CONVERT(INT,@CD_CARGO_ORIGEM),IN_ATIVO,IN_VISIVEL
            FROM [MYLOGIN].[DBO].TB_CONTROLE_ACESSO 
            WHERE CD_CARGO = CONVERT(INT,@CD_CARGO_DESTINO) 
        END   
    END
    ELSE
    BEGIN
        DELETE [MYLOGIN].[DBO].TB_CONTROLE_ACESSO 
        WHERE CD_CARGO= CONVERT(INT,@CD_CARGO_ORIGEM) AND CD_SISTEMA= @CD_SISTEMA AND CD_MODULO=@CD_MODULO
    
        INSERT INTO [MYLOGIN].[DBO].TB_CONTROLE_ACESSO 
        SELECT CD_SISTEMA,CD_MODULO,CD_ROTINA,CONVERT(INT,@CD_CARGO_ORIGEM),IN_ATIVO,IN_VISIVEL
        FROM [MYLOGIN].[DBO].TB_CONTROLE_ACESSO 
        WHERE CD_CARGO = CONVERT(INT,@CD_CARGO_DESTINO) 
            AND CD_SISTEMA= @CD_SISTEMA AND CD_MODULO=@CD_MODULO
    END       
END

GO
