USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_fecha_caixa    Script Date: 02/09/1999 08:59:01 AM ******/
CREATE PROCEDURE [sp_fecha_caixa] ( @cd_coligada char(2), @cd_unid_neg char(2), @dt_movimento datetime, 
                                  @cd_usuario char(4) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_coligada  char(2)
DECLARE @cd_unid_neg  char(2)
DECLARE @dt_movimento datetime
DECLARE @cd_usuario   char(4)

SELECT @cd_coligada  = '01'
SELECT @cd_unid_neg  = '01'
SELECT @dt_movimento = CONVERT( datetime, '27/12/2002', 103 )
SELECT @cd_usuario   = '0053'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_ult_lanc        int
DECLARE @ult_lanc           char(4)
DECLARE @nr_ult_lanc_acerto int
DECLARE @ult_lanc_acerto    char(4)
DECLARE @nr_processo        char(18)
DECLARE @cd_favorecido      char(5)
DECLARE @cd_banco           char(3)
DECLARE @cd_item            char(3)
DECLARE @cd_item_nao_fat    char(3)
DECLARE @cd_despachante     char(3)
DECLARE @tp_pagamento       char(1)
DECLARE @tp_procedencia     char(1)
DECLARE @nr_cheque          char(6)
DECLARE @vl_lancamento      float
DECLARE @vl_ir              float
DECLARE @vl_assist          float
DECLARE @nm_historico       varchar(180)
DECLARE @in_restitui        char(1)
DECLARE @cd_ct_acerto       char(3)
DECLARE @tp_natureza        char(1)
DECLARE @dt_base            datetime
DECLARE @cd_item_nfat       char(3)

SELECT @cd_item_nfat = CD_ITEM_NAO_FAT
FROM   TPARAMETROS (NOLOCK)

IF ( SELECT MAX( CONVERT( datetime, CONVERT( varchar(10), DT_MOVIMENTO, 103 ), 103 ) )
     FROM   TCAIXA
     WHERE  CD_COLIGADA = @cd_coligada   AND 
            DT_MOVIMENTO < @dt_movimento AND 
            CD_UNID_NEG = @cd_unid_neg   AND
            IN_CANCELADO = '0' ) IS NOT NULL
BEGIN
  IF ( SELECT MAX( CONVERT( datetime, CONVERT( varchar(10), DT_MOVIMENTO, 103 ), 103 ) )
       FROM   TCAIXA
       WHERE  CD_COLIGADA = @cd_coligada AND 
              CONVERT( datetime, CONVERT( varchar(10), DT_MOVIMENTO, 103 ), 103 ) < @dt_movimento AND 
              CD_UNID_NEG = @cd_unid_neg AND
              IN_CANCELADO = '0') NOT IN ( SELECT CONVERT( datetime, CONVERT( varchar(10), DT_MOVIMENTO, 103 ), 103 )
   	 			           FROM   TCAIXA_CONTROLE
		 			   WHERE  CD_COLIGADA = @cd_coligada )
  RETURN (1)
END

IF ( SELECT COUNT(*) 
     FROM   TCAIXA_CONTROLE
     WHERE  CD_COLIGADA = @cd_coligada   AND
            DT_MOVIMENTO = @dt_movimento AND
            CD_UNID_NEG = @cd_unid_neg ) > 0
RETURN (2)

DECLARE c_fat_cc CURSOR FOR 
  SELECT NR_PROCESSO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, CD_DESPACHANTE, TP_PAGAMENTO, 
         TP_PROCEDENCIA, NR_CHEQUE, VL_LANCAMENTO, VL_IR, VL_ASSIST, NM_HISTORICO, IN_RESTITUI
  FROM   TCAIXA (PAGLOCK HOLDLOCK)
  WHERE  CD_COLIGADA    = @cd_coligada  AND 
         CD_UNID_NEG    = @cd_unid_neg  AND 
         DT_MOVIMENTO   = @dt_movimento AND 
         TP_LANCAMENTO  = 'F'           AND 
         IN_CANCELADO   = '0'           AND
         IN_TRANSFERIDO = '0'
OPEN  c_fat_cc
FETCH c_fat_cc INTO 
  @nr_processo, @cd_favorecido, @cd_banco, @cd_item, @cd_despachante, @tp_pagamento, 
  @tp_procedencia, @nr_cheque, @vl_lancamento, @vl_ir, @vl_assist, @nm_historico, @in_restitui
WHILE @@fetch_status <> -1
BEGIN
  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '0000' ) ) ) + 1
  FROM   TFATURAMENTO_CC 
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @ult_lanc = RIGHT( '0000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 4 )
  IF ( SELECT COUNT(*)
       FROM   TCLIENTE_ITEM_POR_TON T, TPROCESSO P
       WHERE  T.CD_CLIENTE  = P.CD_CLIENTE  AND
              T.CD_UNID_NEG = P.CD_UNID_NEG AND
              T.CD_PRODUTO  = P.CD_PRODUTO  AND
              P.NR_PROCESSO = @nr_processo  AND
              T.CD_ITEM     = @cd_item      AND
              T.IN_ATIVO    = '1' ) > 0
  BEGIN 
    SELECT @cd_item_nao_fat = @cd_item
    SELECT @nm_historico    = ( SELECT NM_ITEM 
			        FROM   TITEM 
				WHERE  CD_ITEM = @cd_item )
    SELECT @cd_item         = @cd_item_nfat
  END
  ELSE
  BEGIN
    SELECT @cd_item_nao_fat = NULL
  END

  INSERT INTO TFATURAMENTO_CC 
    ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, CD_DESPACHANTE, 
      CD_FORMA_PAGTO, CD_ORIGEM_LANC, NR_CHEQUE, VL_ITEM, VL_IR, VL_ASSIST, NM_ITEM_COMPLEMENTO, IN_FATURADO, 
      IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO )
  VALUES ( @nr_processo, @ult_lanc, @dt_movimento, @cd_usuario, @cd_favorecido, @cd_banco,
           @cd_item, @cd_despachante, @tp_pagamento, @tp_procedencia, @nr_cheque, @vl_lancamento, @vl_ir, 
           @vl_assist, @nm_historico, '0', '0', @in_restitui, '0', @cd_item_nao_fat, '0' )

  UPDATE TCAIXA 
  SET    IN_TRANSFERIDO = '1' 
  WHERE  CURRENT OF c_fat_cc

  FETCH c_fat_cc INTO 
    @nr_processo, @cd_favorecido, @cd_banco, @cd_item, @cd_despachante, @tp_pagamento, 
    @tp_procedencia, @nr_cheque, @vl_lancamento, @vl_ir, @vl_assist, @nm_historico, @in_restitui
END

CLOSE c_fat_cc
DEALLOCATE c_fat_cc

DECLARE c_acerto CURSOR FOR 
  SELECT C.CD_CT_ACERTO, C.NM_HISTORICO, C.VL_LANCAMENTO, C.TP_NATUREZA
  FROM   TCAIXA C (PAGLOCK HOLDLOCK), 
         TCONTA_CAIXA CX
  WHERE  C.CD_CT_ACERTO = CX.CD_CONTA AND
         C.CD_COLIGADA = CX.CD_COLIGADA AND 
         CX.IN_BAIXA_ACERTO = '1' AND
         C.CD_COLIGADA = @cd_coligada AND 
         C.CD_UNID_NEG = @cd_unid_neg AND
         C.DT_MOVIMENTO = @dt_movimento AND 
         C.TP_LANCAMENTO = 'A' AND 
         C.IN_CANCELADO = '0' AND
         C.DT_ACERTO = NULL AND 
         C.NR_ACERTO = NULL
OPEN  c_acerto
FETCH c_acerto INTO 
  @cd_ct_acerto, @nm_historico, @vl_lancamento, @tp_natureza
WHILE @@fetch_status <> -1
BEGIN
  SELECT @nr_ult_lanc_acerto = CONVERT( int, MAX( ISNULL( NR_ACERTO, '0000' ) ) ) + 1
  FROM   TACERTO
  WHERE  CD_COLIGADA = @cd_coligada AND 
         CD_CT_ACERTO = @cd_ct_acerto 
  
  SELECT @ult_lanc_acerto = RIGHT( '0000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc_acerto, 1 ) ), 4 )
 
  INSERT INTO TACERTO( CD_COLIGADA, CD_CT_ACERTO, NR_ACERTO, DT_ACERTO, NM_ACERTO, VL_ACERTO,
                       TP_NATUREZA, IN_BAIXADO, CD_UNID_NEG )
  VALUES( @cd_coligada, @cd_ct_acerto, @ult_lanc_acerto, @dt_movimento, @nm_historico, 
          @vl_lancamento, @tp_natureza, '0', @cd_unid_neg )
 
  UPDATE TCAIXA 
  SET    IN_TRANSFERIDO = '1' 
  WHERE  CURRENT OF c_acerto
  
  FETCH c_acerto INTO
    @cd_ct_acerto, @nm_historico, @vl_lancamento, @tp_natureza
END
CLOSE c_acerto
DEALLOCATE c_acerto

INSERT INTO TCAIXA_CONTROLE ( CD_COLIGADA, CD_UNID_NEG, DT_MOVIMENTO, CD_USUARIO )
VALUES( @cd_coligada, @cd_unid_neg, CONVERT( datetime, CONVERT( varchar(10), @dt_movimento, 103 ), 103 ) , @cd_usuario )

RETURN(0)



GO
