USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_di_calculo2    Script Date: 02/09/1999 08:58:11 AM ******/
CREATE PROCEDURE [sp_di_calculo2]( @nr_processo char(18) ) AS
declare @saida   char(100)
declare @status   smallint
declare @nr_adicao  char(3)
declare @s_adicoes  char(3)
declare @i_adicao  int
declare @qt_adicoes  int
declare @nr_item  char(3)
declare @i_itens  int
declare @qt_itens  int
declare @nr_declaracao_imp char(10)
declare @dt_registro_di  datetime
declare @dt_processamento datetime
declare @in_ratear_frete bit
declare @in_ratear_seguro bit
declare @in_moeda_unica  bit
declare @Incoterm  char(3)
declare @cd_moeda  char(3)
declare @cd_moeda_mle  char(3)
declare @cd_moeda_frete  char(3)
declare @cd_moeda_negoc_ad char(3)
declare @cd_moeda_seguro char(3)  
declare @vl_tx_mneg  numeric(14, 7)
declare @vl_tx_dolar  numeric(14, 7)
declare @vl_tx_frete  numeric(14, 7)
declare @vl_tx_seguro  numeric(14, 7)
declare @vl_mle_mn  numeric(16, 3)
declare @vl_mle_mneg  numeric(16, 3)
declare @vl_mle_mn_ajust numeric(16, 3)
declare @vl_mle_mneg_ajust numeric(16, 3)
declare @vl_mle_mn_puro  numeric(16, 3)
declare @vl_mle_mneg_puro numeric(16, 3)
declare @vl_mle_tot_mn  numeric(16, 3)
declare @vl_mle_tot_mn1  numeric(16, 3)
declare @vl_mle_tot_mneg numeric(16, 3)
declare @vl_mle_tot_mn_ajust numeric(16, 3)
declare @vl_mle_tot_mneg_ajust numeric(16, 3)
declare @vl_mle_tot_mn_puro numeric(16, 3)
declare @vl_mle_tot_mneg_puro numeric(16, 3)
declare @vl_mle_item_mneg numeric(16, 3)
declare @vl_mle_item_mn  numeric(16, 3)
declare @vl_despesa_mn  numeric(16, 3)
declare @vl_despesa_tot_mn1 numeric(16, 3)
declare @vl_despesa_mneg numeric(16, 3)
declare @vl_despesa_tot_mn numeric(16, 3)
declare @vl_despesa_tot_mneg numeric(16, 3)
declare @vl_despesa_item_mneg numeric(16, 3)
declare @vl_despesa_item_mn numeric(16, 3)
declare @vl_frete_prepaid_mneg numeric(16, 3)
declare @vl_frete_collect_mneg numeric(16, 3)
declare @vl_frete_ter_nac_mneg numeric(16, 3)
declare @vl_frete_tot_mneg numeric(16, 3)
declare @vl_frete_tot_mn numeric(16, 3)
declare @vl_frete_tot_mn1 numeric(16, 3)
declare @vl_frete_mneg  numeric(16, 3)
declare @vl_frete_mn  numeric(16, 3)
declare @vl_frete_item_mneg numeric(16, 3)
declare @vl_frete_item_mneg_aj numeric(16, 3)
declare @vl_frete_item_mn numeric(16, 3)
declare @vl_frete_mneg_ajust numeric(16, 3)
declare @vl_seguro_tot_mneg numeric(16, 3)
declare @vl_seguro_tot_mn numeric(16, 3)
declare @vl_seguro_tot_mn1 numeric(16, 3)
declare @vl_seguro_mneg  numeric(16, 3)
declare @vl_seguro_mn  numeric(16, 3)
declare @vl_seguro_item_mneg numeric(16, 3)
declare @vl_seguro_item_mneg_aj numeric(16, 3)
declare @vl_seguro_item_mn numeric(16, 3)
declare @vl_seguro_mneg_ajust numeric(16, 3)
declare @vl_soma_despesa_mneg numeric(16, 3)
declare @vl_soma_frete_mneg numeric(16, 3)
declare @vl_soma_seguro_mneg numeric(16, 3)
declare @vl_soma_despesa_mn numeric(16, 3)
declare @vl_soma_frete_mn numeric(16, 3)
declare @vl_soma_seguro_mn numeric(16, 3)
declare @pl_tot_merc  numeric(16, 6)
declare @pl_merc_total  numeric(16, 6)
declare @pl_mercadoria  numeric(16, 6)
declare @pl_merc_ad  numeric(16, 6)
declare @vl_acrescimos_mn numeric(16, 3)
declare @vl_acrescimos_mneg numeric(16, 3)
declare @vl_acrescimos_i_mn numeric(16, 3)
declare @vl_acrescimos_i_mneg numeric(16, 3)
declare @vl_deducoes_mn  numeric(16, 3)
declare @vl_deducoes_mneg numeric(16, 3)
declare @vl_deducoes_i_mn numeric(16, 3)
declare @vl_deducoes_i_mneg numeric(16, 3)
declare @vl_tot_acrescimos_mn numeric(16, 3)
declare @vl_tot_deducoes_mn numeric(16, 3)
declare @vl_tot_acrescimos_i_mn numeric(16, 3)
declare @vl_tot_deducoes_i_mn numeric(16, 3)
declare @vl_tot_acrescimos_mneg numeric(16, 3)
declare @vl_tot_deducoes_i_mneg numeric(16, 3)
declare @vl_tot_acrescimos_i_mneg numeric(16, 3)
declare @vl_tot_deducoes_mneg numeric(16, 3)
declare @qt_merc_un_comerc_ad numeric(16, 6)
declare @qt_merc_un_estat_ad numeric(16, 6)
declare @vl_mcv_tot_mneg numeric(16, 3)
declare @vl_mcv_tot_mn  numeric(16, 3)
declare @vl_mcv_mneg  numeric(16, 3)
declare @vl_mcv_mn  numeric(16, 3)
declare @vl_mcv_item  numeric(16, 3)
declare @vl_mcv_item_mn  numeric(16, 3)
declare @pl_merc_item  numeric(16, 6)
declare @qt_merc_un_comerc numeric(16, 6)
declare @vl_ucv   numeric(21, 8)
declare @vl_ucv_mn  numeric(21, 8)
declare @vl_soma_despesa_i_mneg numeric(16, 3)
declare @vl_soma_frete_i_mneg numeric(16, 3)
declare @vl_soma_seguro_i_mneg numeric(16, 3)
declare @vl_soma_frete_i_mneg_aj numeric(16, 3)
declare @vl_soma_seguro_i_mneg_aj numeric(16, 3)
declare @vl_soma_despesa_i_mn numeric(16, 3)
declare @vl_soma_frete_i_mn numeric(16, 3)
declare @vl_soma_seguro_i_mn numeric(16, 3)
declare @vl_soma_mcv_item numeric(16, 3)
declare @vl_soma_mcv_item_mn numeric(16, 3)
declare @cd_reg_trib_ii  char(1)
declare @cd_tipo_acordo_tar char(1)
declare @pc_aliq_normal  numeric(11, 6)
declare @pc_aliq_acordo  numeric(11, 6)
declare @pc_aliq_reduzida numeric(11, 6)
declare @pc_reducao_imp  numeric(11, 6)
declare @vl_base_calc_ii_item numeric(16, 3)
declare @vl_base_calc_ii numeric(16, 3)
declare @vl_base_calc_ipi numeric(16, 3)
declare @vl_base_antidump numeric(16, 3)
declare @pc_ii_normal  numeric(11, 6)
declare @pc_ii_acordo  numeric(11, 6)
declare @pc_ii_reduzida  numeric(11, 6)
declare @pc_ii_reducao  numeric(11, 6)
declare @in_ipi_nao_tributavel bit
declare @pc_ipi_normal  numeric(11, 6)
declare @pc_ipi_reduzida numeric(11, 6)
declare @pc_antidump  numeric(11, 6)
declare @vl_ii_normal  numeric(16, 3)
declare @vl_ii_acordo  numeric(16, 3)
declare @vl_ii_reduzido  numeric(16, 3)
declare @vl_ii_devido  numeric(16, 3)
declare @vl_ii_a_recolher numeric(16, 3)
declare @cd_tipo_benef_ipi char(1)
declare @vl_ipi_normal  numeric(16, 3)
declare @vl_ipi_reduzido numeric(16, 3)
declare @vl_ipi_devido  numeric(16, 3)
declare @vl_ipi_a_recolher numeric(16, 3)
declare @vl_antidump  numeric(16, 3)
declare @vl_antidump_devido numeric(16, 3)
declare @vl_antidump_a_recolher numeric(16, 3)
declare @vl_vinc_md_cambio numeric(16, 3)
declare @vl_ja_vinculado numeric(16, 3)
declare @vl_ii_total  numeric(16, 3)
declare @vl_ipi_total  numeric(16, 3)
declare @vl_antidump_total numeric(16, 3)
declare @vl_icms_total  numeric(16, 3)
declare @cd_forma_pagamento char(1)
declare @in_reb   char(1)
declare @in_liga_debug  bit
declare @vl_reb   numeric(16, 3)
declare @cd_tipo_base_seguro char(1)
declare @pc_icms  numeric(11, 6)
declare @pc_icms_ad  numeric(11, 6)
declare @pc_reducao_icms numeric(16, 3)
declare @pc_reducao_icms_ad numeric(16, 3)
declare @vl_icms_devido  numeric(16, 3)
declare @vl_icms_a_recolher numeric(16, 3)
declare @nm_unid_aliq_especif char(15)
declare @cd_tipo_recipiente char(2)
declare @qt_ml_recipiente numeric(6, 1)
declare @qt_mercad_aliq_especif numeric(10, 1)
declare @vl_aliq_unit_especif numeric(11, 6)
declare @vl_calc_aliq_especif numeric(16, 3)
declare @pl_merc_item_read float
declare @vl_mle_item_read float
declare @qt_merc_un_comerc_read float
declare @cd_receita_pgto char(4)
declare @cd_banco_pgto_trib char(3)
declare @nr_agenc_pgto_trib char(5)
declare @dt_pgto_tributo char(8)
declare @vl_multa_pgto_trib float
declare @vl_juros_pgto_trib float
declare @vl_ii_item  numeric(16, 3)
declare @vl_ipi_item  numeric(16, 3)
declare @vl_ad_item  numeric(16, 3)
declare @vl_icms_item  numeric(16, 3)
declare @vl_soma_ii_item numeric(16, 3)
declare @vl_soma_ipi_item numeric(16, 3)
declare @vl_soma_ad_item numeric(16, 3)
declare @vl_soma_icms_item numeric(16, 3)
declare @vl_taxa_siscomex  float
declare @sum_vl_mle   numeric(16, 2)
declare @sum_pl_merc_total   numeric(16, 3)
declare @vl_mle_tot   numeric(16, 2)
declare @dt_realizacao  datetime
select  @dt_realizacao = convert(datetime,convert(char(10),getdate(),103),103)
select @vl_tx_mneg  = 0
select @vl_tx_dolar  = 0
select @vl_tx_frete  = 0
select @vl_tx_seguro  = 0
select @vl_ii_normal  = 0
select @vl_ii_acordo  = 0
select @vl_ii_reduzido  = 0
select @vl_ii_devido  = 0
select @vl_ii_a_recolher = 0
select @vl_ipi_normal  = 0
select @vl_ipi_reduzido  = 0
select @vl_ipi_devido  = 0
select @vl_ipi_a_recolher = 0
select @pc_ii_normal  = 0
select @pc_ii_acordo  = 0
select @pc_ii_reduzida  = 0
select @pc_ii_reducao  = 0
select @pc_ipi_normal  = 0
select @pc_ipi_reduzida  = 0
select @pc_antidump  = 0
select @pc_icms   = 0
select @pc_reducao_icms  = 0
select @pc_antidump  = 0
select @vl_antidump  = 0
select @vl_antidump_devido = 0
select @vl_antidump_a_recolher = 0
select @vl_icms_devido  = 0
select @vl_icms_a_recolher = 0
select @pc_icms_ad  = 0
select @pc_reducao_icms_ad = 0
select @vl_ii_total  = 0
select @vl_ipi_total  = 0
select @vl_antidump_total = 0
select @vl_icms_total  = 0
DELETE TDETALHE_MERCADORIA WHERE NR_PROCESSO = @nr_processo AND NR_ITEM = '***'
--  Traz os valores da capa da DI para variaveis de trabalho
SELECT @nr_declaracao_imp = NR_DECLARACAO_IMP, 
 @in_ratear_frete = ISNULL( IN_RATEAR_FRETE_ITENS, 0 ),
 @in_ratear_seguro = ISNULL( IN_RATEAR_SEGURO_ITENS, 0 ),
 @vl_frete_tot_mn1 = ISNULL( VL_TOTAL_FRETE_MN, 0 ),
 @vl_frete_prepaid_mneg = ISNULL( VL_TOT_FRT_PREPAID, 0 ),
 @vl_frete_collect_mneg = ISNULL( VL_TOT_FRT_COLLECT, 0 ),
 @vl_frete_ter_nac_mneg = ISNULL( VL_FRETE_TNAC_MNEG, 0 ),
 @vl_seguro_tot_mn1 = ISNULL( VL_TOTAL_SEG_MN, 0 ),
 @vl_seguro_tot_mneg = ISNULL( VL_TOT_SEGURO_MNEG, 0 ),
 @vl_mle_tot_mn1  = ISNULL( VL_TOTAL_MLE_MN, 0 ),
 @vl_mle_tot_mneg = ISNULL( VL_TOT_MLE_MNEG, 0 ),
 @vl_despesa_tot_mn1 = ISNULL( VL_TOT_DESPS_MN, 0 ),
 @vl_despesa_tot_mneg = ISNULL( VL_TOT_DESPS_MNEG, 0 ),
 @pl_merc_total  = ISNULL( PL_CARGA, 0 ),
 @in_moeda_unica  = ISNULL( IN_MOEDA_UNICA, 0 ),
 @cd_moeda_mle  = CD_MOEDA_MLE,
 @cd_moeda_frete  = CD_MOEDA_FRETE,
 @cd_moeda_seguro = CD_MOEDA_SEGURO,
 @in_REB   = IN_REB,
 @cd_tipo_base_seguro = CD_TIPO_BASE_SEGURO,
 @pc_icms  = ISNULL( PC_ICMS, 0 ),
 @pc_reducao_icms = ISNULL( PC_REDUCAO_ICMS, 0 ),
 @qt_adicoes  = ISNULL( QT_ADICOES, 0 ) 
  FROM TDECLARACAO_IMPORTACAO WHERE (NR_PROCESSO = @nr_processo)
SELECT @sum_vl_mle = SUM(ISNULL(VL_MLE_ITEM,0))
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @nr_processo
SELECT @sum_pl_merc_total = SUM(ISNULL(PL_MERCADORIA,0))
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @nr_processo
SELECT @pl_mercadoria = ISNULL(@pl_merc_total,0)
if @in_moeda_unica = 1
begin
  if (@vl_mle_tot_mneg <> @sum_vl_mle) and (@pl_mercadoria <> @sum_pl_merc_total)
  begin
    Return 3
  end 
  if @vl_mle_tot_mneg <> @sum_vl_mle
  begin
    Return 2
  end
end
if @pl_merc_total <> @pl_mercadoria
begin
  Return 1
end
--  Verifica se DI jÿ foi registrada
if @nr_declaracao_imp = null or @nr_declaracao_imp = ''
begin
  --  Calcula o valor total do frete levando em consideraØao Prepaid/Collect/Ter_nac
  select @vl_frete_tot_mneg = @vl_frete_prepaid_mneg  + @vl_frete_collect_mneg - @vl_frete_ter_nac_mneg
  --  Pega a Taxa para conversao de Cambio cf. cd_moeda 
  SELECT @vl_tx_frete  = Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) FROM TCONVERSAO_CAMBIO WHERE CODIGO = @cd_moeda_frete
  SELECT @vl_tx_seguro = Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) FROM TCONVERSAO_CAMBIO WHERE CODIGO = @cd_moeda_seguro
  SELECT @vl_tx_mneg   = Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) FROM TCONVERSAO_CAMBIO WHERE CODIGO = @cd_moeda_mle
  SELECT @vl_tx_dolar  = Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) FROM TCONVERSAO_CAMBIO WHERE CODIGO = '220'
  if @in_moeda_unica <> 0 
  begin
    select @vl_mle_tot_mn = Round(@vl_mle_tot_mneg * @vl_tx_mneg, 2)
    select @vl_despesa_tot_mn = Round(@vl_despesa_tot_mneg * @vl_tx_mneg, 2)
  end
  else
  begin
    select @vl_mle_tot_mn = @vl_mle_tot_mn1
    select @vl_despesa_tot_mn = @vl_despesa_tot_mn1
  end
  select @vl_frete_tot_mn  = Round(@vl_frete_tot_mneg * @vl_tx_frete, 2)
  select @vl_seguro_tot_mn = Round(@vl_seguro_tot_mneg * @vl_tx_seguro, 2)
  UPDATE TDECLARACAO_IMPORTACAO 
     SET TX_MLE  = Round(@vl_tx_mneg, 7),
         TX_FRETE = Round(@vl_tx_frete, 7),
         TX_SEGURO = Round(@vl_tx_seguro, 7),
         TX_DOLAR = Round(@vl_tx_dolar, 7) WHERE (nr_processo = @nr_processo)
  if @in_moeda_unica <> 0
  begin
    if @vl_mle_tot_mn <> @vl_mle_tot_mn1
      UPDATE TDECLARACAO_IMPORTACAO SET VL_TOTAL_MLE_MN = @vl_mle_tot_mn where (nr_processo = @nr_processo)
    if @vl_despesa_tot_mn <> @vl_despesa_tot_mn1
      UPDATE TDECLARACAO_IMPORTACAO SET VL_TOT_DESPS_MN = @vl_despesa_tot_mn where (nr_processo = @nr_processo)
  end
  if @vl_frete_tot_mn <> @vl_frete_tot_mn1
    UPDATE TDECLARACAO_IMPORTACAO SET VL_TOTAL_FRETE_MN = @vl_frete_tot_mn where (nr_processo = @nr_processo)
  if @vl_seguro_tot_mn <> @vl_seguro_tot_mn1
    UPDATE TDECLARACAO_IMPORTACAO SET VL_TOTAL_SEG_MN = @vl_seguro_tot_mn where (nr_processo = @nr_processo)
  --  Acerta Valores em Real para Acrescimos
  UPDATE  TACRESCIMO_VALORACAO
  SET VL_ACRESCIMO_MN = round(VL_ACRESCIMO_MOEDA *
    (SELECT Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) FROM
       TCONVERSAO_CAMBIO WHERE CODIGO = CD_MD_NEGOC_ACRES), 2)
  WHERE (NR_PROCESSO = @nr_processo)
  --  Acerta Valores em Real para DeduØoes
  UPDATE  TDEDUCAO_VALORACAO
  SET VL_DEDUCAO_MN = round(VL_DEDUCAO_MNEG *
                           (SELECT Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) FROM
           TCONVERSAO_CAMBIO WHERE CODIGO = CD_MD_NEGOC_DEDUC), 2)
  WHERE (NR_PROCESSO = @nr_processo)
  --  Totaliza Acrescimos e Deducoes da DI
  SELECT @vl_tot_acrescimos_mn   = ISNULL(sum(VL_ACRESCIMO_MN), 0)
         FROM TACRESCIMO_VALORACAO
         WHERE (NR_PROCESSO = @nr_processo)
  SELECT @vl_tot_deducoes_mn     = ISNULL(sum(VL_DEDUCAO_MN), 0)
         FROM TDEDUCAO_VALORACAO
  WHERE (NR_PROCESSO = @nr_processo)
  if @in_moeda_unica <> 0
  begin
    SELECT @vl_tot_acrescimos_mneg = ISNULL(sum( VL_ACRESCIMO_MOEDA), 0)
         FROM TACRESCIMO_VALORACAO
         WHERE (NR_PROCESSO = @nr_processo) AND
               (CD_MD_NEGOC_ACRES = @cd_moeda_mle)
    SELECT @vl_tot_acrescimos_mneg = @vl_tot_acrescimos_mneg + ISNULL(sum(VL_ACRESCIMO_MN / @vl_tx_mneg), 0)
         FROM TACRESCIMO_VALORACAO
         WHERE (NR_PROCESSO = @nr_processo) AND
               (CD_MD_NEGOC_ACRES = @cd_moeda_mle)
    SELECT @vl_tot_deducoes_mneg = ISNULL(sum(VL_DEDUCAO_MNEG), 0)
         FROM TDEDUCAO_VALORACAO
  WHERE (NR_PROCESSO = @nr_processo) AND
               (CD_MD_NEGOC_DEDUC = @cd_moeda_mle)
    SELECT @vl_tot_deducoes_mneg = @vl_tot_deducoes_mneg + ISNULL(sum(VL_DEDUCAO_MN / @vl_tx_mneg), 0)
         FROM TDEDUCAO_VALORACAO
         WHERE (NR_PROCESSO = @nr_processo) AND
               (CD_MD_NEGOC_DEDUC = @cd_moeda_mle)
  end
  UPDATE TDECLARACAO_IMPORTACAO
     SET VL_TOTAL_ACRESCIMOS_MN = @vl_tot_acrescimos_mn,
         VL_TOTAL_DEDUCOES_MN   = @vl_tot_deducoes_mn
     WHERE (NR_PROCESSO = @nr_processo)
  --  Soma Acrescimoes e Subtrai Deducoes do VMLE
  select @vl_mle_tot_mn_puro    = @vl_mle_tot_mn
  select @vl_mle_tot_mneg_puro  = @vl_mle_tot_mneg
  select @vl_mle_tot_mn_ajust   = @vl_mle_tot_mn + @vl_tot_acrescimos_mn - @vl_tot_deducoes_mn
  select @vl_mle_tot_mneg_ajust = @vl_mle_tot_mneg + @vl_tot_acrescimos_mneg - @vl_tot_deducoes_mneg
  --  Posicionar nas Adicoes
  select @vl_soma_despesa_mneg = 0
  select @vl_soma_frete_mneg   = 0
  select @vl_soma_seguro_mneg  = 0
  select @vl_soma_despesa_mn   = 0
  select @vl_soma_frete_mn     = 0
  select @vl_soma_seguro_mn    = 0
  select @i_adicao = 1
  while @i_adicao <= @qt_adicoes
  begin
    --  Converte o Numero da Adicoes para uma string no formato 999
    select @nr_adicao = Convert(char(3), @i_adicao)
    select @nr_adicao = right(('000' + rtrim(@nr_adicao)), 3)
    --  Verifica se a adicao solicitada para calculo existe
    if (SELECT count(*) FROM TADICAO_DE_IMPORTACAO
                        WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) ) > 0
    begin
      SELECT @Incoterm   = CD_INCOTERMS_VENDA,
      @cd_moeda_negoc_ad  = CD_MOEDA_NEGOCIADA,
      @cd_reg_trib_ii  = CD_REGIME_TRIBUTAR,
      @cd_tipo_acordo_tar = CD_TIPO_ACORDO_TAR,
      @in_ipi_nao_tributavel = IN_IPI_NAO_TRIBUT,
      @pc_icms_ad  = ISNULL(PC_ICMS, 0),
      @pc_reducao_icms_ad = ISNULL(PC_REDUCAO_ICMS, 0)
        FROM TADICAO_DE_IMPORTACAO
        WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao)
      --  Seleciona a moeda da capa ou a moeda da adicao
      if @in_moeda_unica <> 0
         select @cd_moeda = @cd_moeda_mle
      else
         select @cd_moeda = @cd_moeda_negoc_ad
      SELECT @vl_tx_mneg   = Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) FROM TCONVERSAO_CAMBIO WHERE CODIGO = @cd_moeda
      --  Totaliza Quantidades e Valores dos Itens
      SELECT @pl_merc_ad  = ISNULL(sum(PL_MERCADORIA), 0),
             @qt_merc_un_estat_ad = ISNULL(sum(QT_MERC_UN_ESTAT), 0),
             @vl_mle_mneg  = ISNULL(sum(VL_MLE_ITEM), 0)
        FROM TDETALHE_MERCADORIA
             WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao)
      select @vl_mle_mneg = Round(@vl_mle_mneg, 7)
      --  Converte o total mle para moeda nacional
      select @vl_mle_mn = round(@vl_mle_mneg * @vl_tx_mneg, 2)
      --  Totaliza Acrescimos e Deducoes a nivel de Adicao
      SELECT @vl_acrescimos_mn   = ISNULL(sum(VL_ACRESCIMO_MN), 0),
             @vl_acrescimos_mneg = ISNULL(sum(VL_ACRESCIMO_MOEDA), 0)
             FROM TACRESCIMO_VALORACAO
             WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao)
      SELECT @vl_deducoes_mn     = ISNULL(sum(VL_DEDUCAO_MN), 0),
             @vl_deducoes_mneg   = ISNULL(sum(VL_DEDUCAO_MNEG), 0)
             FROM TDEDUCAO_VALORACAO
             WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao)
      --  Desconta Acrescimoes e Deducoes
      select @vl_mle_mneg_puro  = @vl_mle_mneg
      select @vl_mle_mn_puro    = @vl_mle_mn
      select @vl_mle_mneg_ajust = @vl_mle_mneg + @vl_acrescimos_mneg - @vl_deducoes_mneg
      select @vl_mle_mn_ajust   = @vl_mle_mn + @vl_acrescimos_mn - @vl_deducoes_mn
      --  Rateio em Real
      if @i_adicao = @qt_adicoes
         select @vl_despesa_mn = @vl_despesa_tot_mn - @vl_soma_despesa_mn
      else
         if @vl_mle_tot_mn_puro > 0
            select @vl_despesa_mn = round((@vl_despesa_tot_mn * @vl_mle_mn_puro / @vl_mle_tot_mn_puro), 2) 
         else
            select @vl_despesa_mn =0
      select @vl_soma_despesa_mn = @vl_soma_despesa_mn + @vl_despesa_mn
      if @i_adicao = @qt_adicoes
         select @vl_frete_mn = @vl_frete_tot_mn - @vl_soma_frete_mn 
      else
         if @pl_merc_total > 0
            select @vl_frete_mn = round((@vl_frete_tot_mn * @pl_merc_ad / @pl_merc_total), 2)
         else 
            select @vl_frete_mn = 0
      select @vl_soma_frete_mn = @vl_soma_frete_mn + @vl_frete_mn
      if @i_adicao = @qt_adicoes
         select @vl_seguro_mn = @vl_seguro_tot_mn - @vl_soma_seguro_mn 
      else
         if (@vl_mle_tot_mn_ajust + @vl_despesa_tot_mn) > 0
            select @vl_seguro_mn = round((@vl_seguro_tot_mn * 
                   (@vl_mle_mn_ajust + @vl_despesa_mn) /
                   (@vl_mle_tot_mn_ajust + @vl_despesa_tot_mn)), 2)  
         else
            select @vl_seguro_mn = 0
      select @vl_soma_seguro_mn = @vl_soma_seguro_mn + @vl_seguro_mn    
      --  Rateio na Moeda
      if @i_adicao = @qt_adicoes
         select @vl_frete_mneg = @vl_frete_tot_mneg - @vl_soma_frete_mneg 
      else
         if @pl_merc_total > 0
            select @vl_frete_mneg = round((@vl_frete_tot_mneg * @pl_merc_ad / @pl_merc_total), 2)
         else 
            select @vl_frete_mneg = 0
      select @vl_soma_frete_mneg = @vl_soma_frete_mneg + @vl_frete_mneg
      if @in_moeda_unica <> 0 
      begin
        if @i_adicao = @qt_adicoes
          select @vl_despesa_mneg = @vl_despesa_tot_mneg - @vl_soma_despesa_mneg
        else
           if @vl_mle_tot_mneg_puro > 0
              select @vl_despesa_mneg = round((@vl_despesa_tot_mneg * @vl_mle_mneg_puro / @vl_mle_tot_mneg_puro), 2) 
           else
              select @vl_despesa_mneg =0
        select @vl_soma_despesa_mneg = @vl_soma_despesa_mneg + @vl_despesa_mneg
        if @i_adicao = @qt_adicoes
           select @vl_seguro_mneg = @vl_seguro_tot_mneg - @vl_soma_seguro_mneg 
        else
           if (@vl_mle_tot_mneg_ajust + @vl_despesa_tot_mneg) > 0
              select @vl_seguro_mneg = round((@vl_seguro_tot_mneg * 
                     (@vl_mle_mneg_ajust + @vl_despesa_mneg) / 
                     (@vl_mle_tot_mneg_ajust + @vl_despesa_tot_mneg)), 2)
           else
              select @vl_seguro_mneg = 0
        select @vl_soma_seguro_mneg = @vl_soma_seguro_mneg + @vl_seguro_mneg    
      end
      else
      begin
        select @vl_despesa_mneg = round(@vl_despesa_mn / @vl_tx_mneg, 2)
        if @i_adicao = @qt_adicoes
           select @vl_seguro_mneg = @vl_seguro_tot_mneg - @vl_soma_seguro_mneg 
        else
           if (@vl_mle_tot_mn_ajust + @vl_despesa_tot_mn) > 0
              select @vl_seguro_mneg = round((@vl_seguro_tot_mneg * 
                     (@vl_mle_mn_ajust + @vl_despesa_mn) /
                     (@vl_mle_tot_mn_ajust + @vl_despesa_tot_mn)), 2)
           else
              select @vl_seguro_mneg = 0
        select @vl_soma_seguro_mneg = @vl_soma_seguro_mneg + @vl_seguro_mneg    
      end
      --  Adiciona ao VMLE as Despesas
      select @vl_mle_mneg       = @vl_mle_mneg       + @vl_despesa_mneg
      select @vl_mle_mn         = @vl_mle_mn         + @vl_despesa_mn
      select @vl_mle_mneg_ajust = @vl_mle_mneg_ajust + @vl_despesa_mneg
      select @vl_mle_mn_ajust   = @vl_mle_mn_ajust   + @vl_despesa_mn
      --  Tratamento do REB
      if @in_reb = '1'
      begin
        if (SELECT count(*) FROM TDEDUCAO_VALORACAO 
                            WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_MET_DEDUC_VALOR = '5')) = 0 
        begin
          INSERT INTO TDEDUCAO_VALORACAO
          ( NR_PROCESSO, NR_ADICAO, CD_MET_DEDUC_VALOR, VL_DEDUCAO_MNEG, CD_MD_NEGOC_DEDUC, VL_DEDUCAO_MN ) values
          ( @nr_processo, @nr_adicao, '5', Round( @vl_frete_mneg, 2 ), @cd_moeda_frete, Round( @vl_frete_mn, 2 ) )
        end
        else
        begin
          UPDATE TDEDUCAO_VALORACAO
          SET VL_DEDUCAO_MNEG   = Round(@vl_frete_mneg, 2),
              CD_MD_NEGOC_DEDUC = @cd_moeda_frete,
              VL_DEDUCAO_MN     = Round(@vl_frete_mn, 2) 
          WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_MET_DEDUC_VALOR = '5')
        end 
        SELECT @vl_deducoes_mn = ISNULL(sum(VL_DEDUCAO_MN),0) 
               FROM TDEDUCAO_VALORACAO 
               WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
      end
      else
        if (SELECT count(*) FROM TDEDUCAO_VALORACAO 
                            WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_MET_DEDUC_VALOr = '5')) > 0 /* 5 - Juros e Financiamento */
        begin
          DELETE FROM TDEDUCAO_VALORACAO 
                 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_MET_DEDUC_VALOR = '5')
          SELECT @vl_deducoes_mn = ISNULL(sum(VL_DEDUCAO_MN), 0)
                 FROM TDEDUCAO_VALORACAO 
                 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
        end
      --  Ajusta Valores quando moeda do frete ou do seguro diferente a da MLE
      if @vl_tx_mneg <> @vl_tx_frete 
         select @vl_frete_mneg_ajust = Round((@vl_frete_mneg * @vl_tx_frete / @vl_tx_mneg), 2)
      else
         select @vl_frete_mneg_ajust = @vl_frete_mneg
      if @vl_tx_mneg <> @vl_tx_seguro 
         select @vl_seguro_mneg_ajust = Round((@vl_seguro_mneg * @vl_tx_seguro / @vl_tx_mneg), 2)
      else
         select @vl_seguro_mneg_ajust = @vl_seguro_mneg
      --  Apura o Valor da Mercadoria na Condicao da Venda
      select @vl_mcv_mneg = 
      case @Incoterm
        when 'FOB' then @vl_mle_mneg
        when 'FCA' then @vl_mle_mneg 
        when 'FAS' then @vl_mle_mneg 
        when 'EXW' then @vl_mle_mneg 
        when 'DDU' then @vl_mle_mneg + @vl_seguro_mneg_ajust
        when 'CFR' then @vl_mle_mneg + @vl_frete_mneg_ajust 
        when 'CPT' then @vl_mle_mneg + @vl_frete_mneg_ajust 
        when 'CIF' then @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
        when 'DAF' then @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
        when 'DES' then @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust 
        when 'CIP' then @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
        else 0
      end
      select @vl_mcv_mn = 
      case @Incoterm
        when 'FOB' then @vl_mle_mn
        when 'FCA' then @vl_mle_mn 
        when 'FAS' then @vl_mle_mn 
        when 'EXW' then @vl_mle_mn
        when 'DDU' then @vl_mle_mn + @vl_seguro_mn
        when 'CFR' then @vl_mle_mn + @vl_frete_mn
        when 'CPT' then @vl_mle_mn + @vl_frete_mn
        when 'CIF' then @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
        when 'DAF' then @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
        when 'DES' then @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
        when 'CIP' then @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
        else 0
      end
      --  Formacao da base de calculo - I.I.
      select @vl_base_calc_ii = 
      case @Incoterm 
        when 'FOB' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'FCA' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'FAS' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'EXW' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'DDU' then @vl_mle_mn_ajust + @vl_seguro_mn
        when 'CFR' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'CPT' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'CIF' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'DAF' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'DES' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'CIP' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        else 0
      end
      --  Atualiza calculos na Adicao atual
      UPDATE TADICAO_DE_IMPORTACAO
 SET  PL_MERCADORIA  = Round(@pl_merc_ad, 7),
  QT_UN_ESTATISTICA = Round(@qt_merc_un_estat_ad, 7),
  vl_merc_loc_emb_mneg = Round(@vl_mle_mneg, 2),
  CD_MOEDA_MLE  = @cd_moeda,
  vl_merc_loc_emb_mn = Round(@vl_mle_mn, 2),
  VL_FRETE_MERC_MNEG = Round(@vl_frete_mneg, 2),
  CD_MD_FRETE_MERC = @cd_moeda_frete,
  VL_FRETE_MERC_MN = Round(@vl_frete_mn, 2),
  VL_SEG_MERC_MNEG = Round(@vl_seguro_mneg, 2),
  CD_MOEDA_SEG_MERC = @cd_moeda_seguro,
--  CD_MOEDA_NEGOCIADA = @cd_moeda,
  VL_SEG_MERC_MN  = Round(@vl_seguro_mn, 2),
  VL_MERC_COND_VENDA = Round(@vl_mcv_mneg, 2),
  VL_MERC_VENDA_MN = Round(@vl_mcv_mn, 2),
  VL_ACRESCIMOS_MN = Round(@vl_acrescimos_mn, 2),
  VL_DEDUCOES_MN  = Round(@vl_deducoes_mn, 2),
  TX_MLE   = Round(@vl_tx_mneg, 7),
  TX_FRETE  = Round(@vl_tx_frete, 7),
  TX_SEGURO  = Round(@vl_tx_seguro, 7),
  TX_DOLAR  = Round(@vl_tx_dolar, 7),
  IN_ADICAO_CALCULADA = 1 
 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
      --  Atualiza valores para cambio
      select @vl_vinc_md_cambio = 
      case @Incoterm 
        when 'EXW' then @vl_mle_mneg 
        when 'FAS' then @vl_mle_mneg 
        when 'FOB' then @vl_mle_mneg  
        when 'FCA' then @vl_mle_mneg 
        when 'DES' then @vl_mle_mneg + @vl_seguro_mneg_ajust + @vl_frete_mneg_ajust 
        when 'CFR' then @vl_mle_mneg + @vl_frete_mneg_ajust 
        when 'CPT' then @vl_mle_mneg + @vl_frete_mneg_ajust 
        when 'CIF' then @vl_mle_mneg + @vl_seguro_mneg_ajust + @vl_frete_mneg_ajust 
        when 'DDU' then @vl_mle_mneg + @vl_seguro_mneg_ajust
        else 0
      end
      SELECT @cd_forma_pagamento = CD_FORMA_PAGAMENTO,
             @vl_ja_vinculado    = VL_VINC_MD_CAMBIO
             FROM TPAGAMENTO_VINCULADO 
             WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
      If (@vl_ja_vinculado = 0) or (@vl_ja_vinculado = null)
         UPDATE TPAGAMENTO_VINCULADO
            SET VL_VINC_MD_CAMBIO  = @vl_vinc_md_cambio  
            WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_FORMA_PAGAMENTO = @cd_forma_pagamento) 
      --  Atualiza a base de calculo do I.I.
      if not exists( SELECT * FROM TRIBUTO 
                              WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0001') )
         INSERT INTO TRIBUTO ( nr_processo, nr_adicao, cd_receita_imposto, cd_tipo_aliq_ipt, vl_base_calc_adval ) 
                     values  ( @nr_processo, @nr_adicao,'0001', '1', Round( @vl_base_calc_ii, 2 ) )
      --  Calculo do I.I.
      if @cd_reg_trib_ii <> '2' and @cd_reg_trib_ii <> '6'  /* 2 - IMUNIDADE 6 - NAO INCIDENCIA */
      begin
 select @pc_ii_normal     = 0
 select @pc_ii_acordo     = 0
 select @pc_ii_reduzida   = 0
 select @pc_ii_reducao    = 0
 select @vl_ii_normal     = 0
 select @vl_ii_acordo     = 0
 select @vl_ii_devido     = 0
 select @vl_ii_a_recolher = 0
 SELECT @pc_aliq_normal   = ISNULL(PC_ALIQ_NORM_ADVAL, 0),
        @pc_aliq_acordo   = ISNULL(PC_ALIQ_ACOR_TARIF, 0),
        @pc_aliq_reduzida = ISNULL(PC_ALIQ_REDUZIDA, 0),
        @pc_reducao_imp   = ISNULL(PC_REDUCAO_IPT_BLI, 0)
        FROM TRIBUTO WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0001')
 if @pc_aliq_normal   > 0 select @pc_ii_normal   = @pc_aliq_normal
 if @pc_aliq_acordo   > 0 select @pc_ii_acordo   = @pc_aliq_acordo
 if @pc_aliq_reduzida > 0 select @pc_ii_reduzida = @pc_aliq_reduzida
 if @pc_reducao_imp   > 0 select @pc_ii_reducao  = @pc_reducao_imp
 select @vl_ii_normal = Round((@vl_base_calc_ii * @pc_ii_normal / 100),2)
 if @cd_tipo_acordo_tar = '1' or
    @cd_tipo_acordo_tar = '2' or
    @cd_tipo_acordo_tar = '3'
 begin
   select @vl_ii_acordo = Round((@vl_base_calc_ii * @pc_ii_acordo / 100),2)
   select @vl_ii_devido = @vl_ii_acordo
   select @vl_ii_a_recolher = @vl_ii_acordo
 end
 else
 begin
   select @vl_ii_acordo = 0
 end
 if @cd_reg_trib_ii = '1' and @cd_tipo_acordo_tar <> '2'
 begin
   select @vl_ii_devido = @vl_ii_normal
   select @vl_ii_a_recolher = @vl_ii_normal
 end
 if @cd_reg_trib_ii = '4'
    if @pc_reducao_imp = 0
    begin
      select @vl_ii_reduzido = Round((@vl_base_calc_ii * @pc_ii_reduzida / 100),2)
      select @vl_ii_devido = @vl_ii_reduzido
      select @vl_ii_a_recolher = @vl_ii_reduzido
      if @pc_ii_acordo > 0
      begin
        select @vl_ii_acordo = Round((@vl_base_calc_ii * @pc_ii_acordo / 100),2)
        select @vl_ii_devido = @vl_ii_acordo
        select @vl_ii_a_recolher = @vl_ii_acordo
      end
    end
    else
    begin
      if @pc_reducao_imp > 0
      begin
        select @vl_ii_acordo = 0
        select @vl_ii_reduzido = Round(((@vl_base_calc_ii * @pc_ii_normal / 100) * (1 - (@pc_ii_reducao / 100))), 2)
        select @vl_ii_devido = @vl_ii_normal
        select @vl_ii_a_recolher = @vl_ii_reduzido
        if @pc_ii_acordo > 0
        begin
   select @vl_ii_acordo = Round((@vl_base_calc_ii * @pc_ii_acordo / 100), 2)
   select @vl_ii_devido = @vl_ii_acordo
   select @vl_ii_a_recolher = @vl_ii_acordo
        end
      end
    end
 if @cd_reg_trib_ii = '3'
 begin
   select @vl_ii_devido = @vl_ii_normal
   select @vl_ii_a_recolher = 0
 end
 if @cd_reg_trib_ii = '5'
 begin
   if @pc_ii_acordo > 0
   begin
     select @vl_ii_acordo = Round((@vl_base_calc_ii * @pc_ii_acordo / 100),2)
     select @vl_ii_devido = @vl_ii_acordo
   end
   else
     select @vl_ii_devido = @vl_ii_normal
   select @vl_ii_a_recolher = 0
 end
      end
      else
      begin
 select @vl_ii_normal = 0
 select @vl_ii_acordo = 0
 select @vl_ii_devido = 0
 select @vl_ii_a_recolher = 0
      end
      UPDATE TRIBUTO 
  SET VL_CALC_IPT_ADVAL  = @vl_ii_normal,
      VL_CALC_II_AC_TARI = @vl_ii_acordo,                
      VL_IMPOSTO_DEVIDO  = @vl_ii_devido,                
      VL_IPT_A_RECOLHER  = @vl_ii_a_recolher,                
      vl_base_calc_adval = Round( @vl_base_calc_ii, 2) 
  WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0001') 
      select @vl_ii_total = @vl_ii_total + @vl_ii_a_recolher
      --  Atualiza a base de calculo do I.P.I.
      if not exists( SELECT * FROM TRIBUTO 
   WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0002') )
         begin
    INSERT INTO TRIBUTO ( nr_processo, nr_adicao, cd_receita_imposto, cd_tipo_aliq_ipt, vl_base_calc_adval ) 
         values  ( @nr_processo, @nr_adicao, '0002', '1', 0 )
         end
      --  Calculo do I.P.I.
      select @pc_ipi_normal        = 0
      select @pc_ipi_reduzida      = 0
      select @vl_base_calc_ipi     = 0
      select @vl_ipi_normal        = 0
      select @vl_ipi_devido        = 0
      select @vl_ipi_a_recolher    = 0
      select @vl_calc_aliq_especif = 0 
      if @cd_reg_trib_ii = '5'
         select @vl_base_calc_ipi = @vl_base_calc_ii + @vl_ii_devido 
      else           
         select @vl_base_calc_ipi = @vl_base_calc_ii + @vl_ii_a_recolher
      if @in_ipi_nao_tributavel = 0 and @cd_reg_trib_ii <> '6'
      begin
        SELECT @pc_aliq_normal         = ISNULL(PC_ALIQ_NORM_ADVAL, 0),
        @pc_aliq_reduzida       = ISNULL(PC_ALIQ_REDUZIDA, 0),
        @cd_tipo_benef_ipi      = CD_TIPO_BENEF_IPI,
        @nm_unid_aliq_especif   = NM_UN_ALIQ_ESP_IPT,
        @cd_tipo_recipiente     = CD_TIPO_RECIPIENTE,
        @qt_ml_recipiente       = ISNULL(QT_ML_RECIPIENTE, 0),
        @qt_mercad_aliq_especif = ISNULL(QT_MERC_UN_ALIQ_ES, 0),
        @vl_aliq_unit_especif   = ISNULL(VL_ALIQ_ESPEC_IPT, 0)
        FROM TRIBUTO WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0002')  
 if @vl_aliq_unit_especif > 0
 begin
   select @vl_calc_aliq_especif = @vl_aliq_unit_especif * @qt_mercad_aliq_especif
   select @vl_ipi_devido        = @vl_calc_aliq_especif 
   select @vl_ipi_a_recolher    = @vl_calc_aliq_especif 
 end
 else
 begin
   if @pc_aliq_normal   > 0 select @pc_ipi_normal = @pc_aliq_normal   
   if @pc_aliq_reduzida > 0 select @pc_ipi_reduzida = @pc_aliq_reduzida 
   select @vl_ipi_normal = Round((@vl_base_calc_ipi * @pc_ipi_normal / 100),2)
   select @vl_ipi_devido = @vl_ipi_normal 
   select @vl_ipi_a_recolher = @vl_ipi_normal 
   if @cd_tipo_benef_ipi = '2'         
   begin
     select @vl_ipi_reduzido = Round((@vl_base_calc_ipi * @pc_ipi_reduzida / 100),2)
     select @vl_ipi_devido = @vl_ipi_reduzido
     select @vl_ipi_a_recolher = @vl_ipi_reduzido
   end
   if @cd_tipo_benef_ipi = '5' select @vl_ipi_a_recolher = 0
   if @cd_tipo_benef_ipi = '1' select @vl_ipi_a_recolher = 0
 end
      end
      UPDATE TRIBUTO
 SET VL_CALC_IPT_ESPEC = @vl_calc_aliq_especif, 
     VL_CALC_IPT_ADVAL = @vl_ipi_normal,
     VL_IMPOSTO_DEVIDO = @vl_ipi_devido,
     VL_IPT_A_RECOLHER = @vl_ipi_a_recolher,
     vl_base_calc_adval = Round( @vl_base_calc_ipi, 2)
 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0002') 
      select @vl_ipi_total = @vl_ipi_total + @vl_ipi_a_recolher
      --  Calculo do antidumping
      select @pc_antidump            = 0
      select @vl_antidump            = 0
      select @vl_antidump_devido     = 0
      select @vl_antidump_a_recolher = 0
      SELECT @pc_antidump      = ISNULL( PC_ALIQ_NORM_ADVAL, 0 ),
      @vl_base_antidump = ISNULL( VL_BASE_CALC_ADVAL, 0 )
      FROM TRIBUTO WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0003')  
      if @pc_antidump > 0 select @vl_antidump = Round((@vl_base_antidump * @pc_antidump / 100),2)
      UPDATE TRIBUTO
  SET VL_IMPOSTO_DEVIDO = @vl_antidump, 
      VL_IPT_A_RECOLHER = @vl_antidump 
  WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0003') 
      select @vl_antidump_total = @vl_antidump_total + @vl_antidump 
      --  Calculo do ICMS
      if @pc_icms_ad = 0 Select @pc_icms_ad = @pc_icms
      if @pc_reducao_icms_ad = 0 Select @pc_reducao_icms_ad = @pc_reducao_icms
      select @vl_icms_devido = (@vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher) * @pc_icms_ad / 100
      select @vl_icms_a_recolher = @vl_icms_devido
      if @pc_reducao_icms_ad > 0
      begin
 select @vl_icms_a_recolher = @vl_icms_devido - (@vl_icms_devido * @pc_reducao_icms_ad / 100)
      end
      UPDATE TADICAO_DE_IMPORTACAO
 SET PC_ICMS            = Round(@pc_icms_ad, 2),
     PC_REDUCAO_ICMS    = Round(@pc_reducao_icms_ad, 2),
     VL_ICMS_CALCULADO  = Round(@vl_icms_devido, 2),
     VL_ICMS_A_RECOLHER = Round(@vl_icms_a_recolher, 2) 
 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
 
      select @vl_icms_total = @vl_icms_total + Round(@vl_icms_a_recolher, 2)
      --  Gera o valor do item na Condicao da venda
      SELECT @qt_itens = count(*) from TDETALHE_MERCADORIA
 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
      select @i_itens  = 1
      -- Abre um cursor para tratamento "Linha a Linha"
      declare c_item cursor for select nr_item, pl_mercadoria, vl_mle_item, qt_merc_un_comerc from tdetalhe_mercadoria where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
      open c_item
      fetch c_item into @nr_item, @pl_merc_item_read, @vl_mle_item_read, @qt_merc_un_comerc_read 
      select @vl_acrescimos_i_mn = 0
      select @vl_acrescimos_i_mneg = 0
      select @vl_deducoes_i_mn  = 0
      select @vl_deducoes_i_mneg = 0
      select @vl_despesa_item_mn = 0
      select @vl_despesa_item_mneg = 0
      select @vl_frete_item_mneg = 0
      select @vl_frete_item_mn  = 0
      select @vl_seguro_item_mneg = 0
      select @vl_seguro_item_mn  = 0
      select @vl_ii_item  = 0
      select @vl_ipi_item  = 0
      select @vl_ad_item  = 0
      select @vl_icms_item  = 0
      select @vl_tot_acrescimos_i_mneg = 0
      select @vl_tot_acrescimos_i_mn = 0
      select @vl_tot_deducoes_i_mneg = 0
      select @vl_tot_deducoes_i_mn = 0
      select @vl_soma_despesa_i_mneg = 0
      select @vl_soma_despesa_i_mn = 0
      select @vl_soma_frete_i_mneg = 0
      select @vl_soma_frete_i_mneg_aj = 0
      select @vl_soma_frete_i_mn = 0
      select @vl_soma_seguro_i_mneg = 0
      select @vl_soma_seguro_i_mneg_aj = 0
      select @vl_soma_seguro_i_mn = 0
      select @vl_soma_ii_item  = 0
      select @vl_soma_ipi_item  = 0
      select @vl_soma_ad_item  = 0
      select @vl_soma_icms_item  = 0
      select @vl_soma_mcv_item  = 0
      select @vl_soma_mcv_item_mn = 0
      while @@fetch_status <> -1
      begin
   
 select @pl_merc_item  = @pl_merc_item_read
 select @vl_mle_item_mneg = @vl_mle_item_read
 select @qt_merc_un_comerc = @qt_merc_un_comerc_read
 select @vl_mle_item_mn  = Round ((@vl_mle_item_mneg * @vl_tx_mneg), 2)
 -- Rateio Acrescimo MNEG
 if @i_itens = @qt_itens
    select @vl_acrescimos_i_mneg = @vl_acrescimos_mneg - @vl_tot_acrescimos_i_mneg
 else
    if @vl_mle_mneg_puro > 0
       select @vl_acrescimos_i_mneg = round((@vl_acrescimos_mneg * @vl_mle_item_mneg / @vl_mle_mneg_puro), 2)
    else
       select @vl_acrescimos_i_mneg = 0
 select @vl_tot_acrescimos_i_mneg= @vl_tot_acrescimos_i_mneg + @vl_acrescimos_i_mneg
 -- Rateio Acrescimo MN
 if @i_itens = @qt_itens
    select @vl_acrescimos_i_mn = @vl_acrescimos_mn - @vl_tot_acrescimos_i_mn
 else
    if @vl_mle_mneg_puro > 0
       select @vl_acrescimos_i_mn = round((@vl_acrescimos_mn * @vl_mle_item_mn / @vl_mle_mn_puro), 2)
    else
       select @vl_acrescimos_i_mn = 0
 select @vl_tot_acrescimos_i_mn= @vl_tot_acrescimos_i_mn + @vl_acrescimos_i_mn
 -- Rateio Deducao MNEG
 if @i_itens = @qt_itens
    select @vl_deducoes_i_mneg = @vl_deducoes_mneg - @vl_tot_deducoes_i_mneg
 else
    if @vl_mle_mneg_puro > 0
       select @vl_deducoes_i_mneg = round((@vl_deducoes_mneg * @vl_mle_item_mneg / @vl_mle_mneg_puro), 2)
    else
       select @vl_deducoes_i_mneg = 0
 select @vl_tot_deducoes_i_mneg = @vl_tot_deducoes_i_mneg + @vl_deducoes_i_mneg
 -- Rateio Deducao MN
 if @i_itens = @qt_itens
    select @vl_deducoes_i_mn = @vl_deducoes_mn - @vl_tot_deducoes_i_mn
 else
    if @vl_mle_mneg_puro > 0
       select @vl_deducoes_i_mn = round((@vl_deducoes_mn * @vl_mle_item_mn / @vl_mle_mn_puro), 2)
    else
       select @vl_deducoes_i_mn = 0
 select @vl_tot_deducoes_i_mn = @vl_tot_deducoes_i_mn + @vl_deducoes_i_mn
 -- Rateio Despesa MNEG
 if @i_itens = @qt_itens
    select @vl_despesa_item_mneg = @vl_despesa_mneg - @vl_soma_despesa_i_mneg
 else
    if @vl_mle_mneg_puro > 0
       select @vl_despesa_item_mneg = round((@vl_despesa_mneg * @vl_mle_item_mneg / @vl_mle_mneg_puro), 2)
    else
       select @vl_despesa_item_mneg = 0
 select @vl_soma_despesa_i_mneg = @vl_soma_despesa_i_mneg + @vl_despesa_item_mneg
 -- Rateio Despesa MN
 if @i_itens = @qt_itens
    select @vl_despesa_item_mn = @vl_despesa_mn - @vl_soma_despesa_i_mn
 else
    if @vl_mle_mneg_puro > 0
       select @vl_despesa_item_mn = round((@vl_despesa_mn * @vl_mle_item_mn / @vl_mle_mn_puro), 2)
    else
       select @vl_despesa_item_mn = 0
 select @vl_soma_despesa_i_mn = @vl_soma_despesa_i_mn + @vl_despesa_item_mn
 -- Rateio Frete MNEG
 if @i_itens = @qt_itens
    select @vl_frete_item_mneg = @vl_frete_mneg - @vl_soma_frete_i_mneg
 else
    if @pl_merc_ad > 0
       select @vl_frete_item_mneg = round((@vl_frete_mneg * @pl_merc_item / @pl_merc_ad), 2)
    else
       select @vl_frete_item_mneg = 0
 select @vl_soma_frete_i_mneg = @vl_soma_frete_i_mneg + @vl_frete_item_mneg
 -- Rateio Frete MNEG Ajust
 if @i_itens = @qt_itens
    select @vl_frete_item_mneg_aj = @vl_frete_mneg_ajust - @vl_soma_frete_i_mneg_aj
 else
    if @pl_merc_ad > 0
       select @vl_frete_item_mneg_aj = round((@vl_frete_mneg_ajust * @pl_merc_item / @pl_merc_ad), 2)
    else
       select @vl_frete_item_mneg_aj = 0
 select @vl_soma_frete_i_mneg_aj = @vl_soma_frete_i_mneg_aj + @vl_frete_item_mneg_aj
 -- Rateio Frete MN
 if @i_itens = @qt_itens
    select @vl_frete_item_mn  = @vl_frete_mn - @vl_soma_frete_i_mn
 else
    if @pl_merc_ad > 0
       select @vl_frete_item_mn = round((@vl_frete_mn * @pl_merc_item / @pl_merc_ad), 2)
    else
       select @vl_frete_item_mn = 0
 select @vl_soma_frete_i_mn = @vl_soma_frete_i_mn + @vl_frete_item_mn
 -- Rateio Seguro MNEG
 if @i_itens = @qt_itens
    select @vl_seguro_item_mneg = @vl_seguro_mneg - @vl_soma_seguro_i_mneg 
 else
    if (@vl_mle_mneg_puro + @vl_despesa_mneg)>0
       select @vl_seguro_item_mneg = round((@vl_seguro_mneg *
              (@vl_mle_item_mneg + @vl_despesa_item_mneg) /
              (@vl_mle_mneg_puro + @vl_despesa_mneg)), 2)
    else
       select @vl_seguro_item_mneg = 0
 select @vl_soma_seguro_i_mneg = @vl_soma_seguro_i_mneg + @vl_seguro_item_mneg
 -- Rateio Seguro MNEG Ajust
 if @i_itens = @qt_itens
    select @vl_seguro_item_mneg_aj = @vl_seguro_mneg_ajust - @vl_soma_seguro_i_mneg_aj
 else
    if (@vl_mle_mneg_puro + @vl_despesa_mneg)>0
       select @vl_seguro_item_mneg_aj = round((@vl_seguro_mneg_ajust *
              (@vl_mle_item_mneg + @vl_despesa_item_mneg) /
              (@vl_mle_mneg_puro + @vl_despesa_mneg)), 2)
    else
       select @vl_seguro_item_mneg_aj = 0
 select @vl_soma_seguro_i_mneg_aj= @vl_soma_seguro_i_mneg_aj+ @vl_seguro_item_mneg_aj
 -- Rateio Seguro MN
 if @i_itens = @qt_itens
    select @vl_seguro_item_mn = @vl_seguro_mn - @vl_soma_seguro_i_mn 
 else
    if (@vl_mle_mn_puro + @vl_despesa_mn)>0
       select @vl_seguro_item_mn = round((@vl_seguro_mn *
              (@vl_mle_item_mn + @vl_despesa_item_mn) /
              (@vl_mle_mn_puro + @vl_despesa_mn)), 2)
    else
       select @vl_seguro_item_mn = 0
 select @vl_soma_seguro_i_mn = @vl_soma_seguro_i_mn + @vl_seguro_item_mn
 --  Base Calculo II Item
 select @vl_base_calc_ii_item = @vl_acrescimos_i_mn - @vl_deducoes_i_mn +
 case @Incoterm 
   when 'FOB' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'FCA' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'FAS' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'EXW' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'DDU' then @vl_mle_item_mn + @vl_seguro_item_mn
   when 'CFR' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'CPT' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'CIF' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'DAF' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'DES' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'CIP' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   else 0
 end
 --  Rateio do II
 if @i_itens = @qt_itens
    select @vl_ii_item  = @vl_ii_a_recolher - @vl_soma_ii_item 
 else
    if @vl_base_calc_ii > 0
       select @vl_ii_item  = round((@vl_ii_a_recolher * @vl_base_calc_ii_item / @vl_base_calc_ii), 2)
    else
       select @vl_ii_item  = 0
 select @vl_soma_ii_item = @vl_soma_ii_item + @vl_ii_item
 --  Rateio do IPI
 if @i_itens = @qt_itens
    select @vl_ipi_item  = @vl_ipi_a_recolher - @vl_soma_ipi_item 
 else
    if (@vl_base_calc_ii + @vl_ii_a_recolher) > 0
       select @vl_ipi_item  = round((@vl_ipi_a_recolher *
         (@vl_base_calc_ii_item + @vl_ii_item) /
                (@vl_base_calc_ii + @vl_ii_a_recolher)), 2)
    else
       select @vl_ipi_item  = 0
 select @vl_soma_ipi_item = @vl_soma_ipi_item + @vl_ipi_item
 --  Rateio do AD
 if @i_itens = @qt_itens
    select @vl_ad_item  = @vl_antidump - @vl_soma_ad_item
 else
    if (@vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher) > 0
       select @vl_ad_item  = round((@vl_antidump * 
         (@vl_base_calc_ii_item + @vl_ii_item + @vl_ipi_item) /
         (@vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher)), 2 )
    else
       select @vl_ad_item  = 0
 select @vl_soma_ad_item = @vl_soma_ad_item + @vl_ad_item
 --  Rateio do ICMS
 if @i_itens = @qt_itens
    select @vl_icms_item  = @vl_icms_a_recolher - @vl_soma_icms_item
 else
    if (@vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher) > 0
       select @vl_icms_item  = round((@vl_icms_a_recolher *
         (@vl_base_calc_ii_item + @vl_ii_item + @vl_ipi_item) /
         (@vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher)), 2)
    else
       select @vl_icms_item  = 0
        select @vl_soma_icms_item = @vl_soma_icms_item + @vl_icms_item
 --  Apura o valor da mercadoria na condicao da venda MNEG
 if @i_itens = @qt_itens
    begin
      select @vl_mcv_item = @vl_mcv_mneg - @vl_soma_mcv_item
    end
 else
    begin  
      select @vl_mcv_item = @vl_despesa_item_mneg +
        case @Incoterm
      when 'FOB' then @vl_mle_item_mneg 
      when 'FCA' then @vl_mle_item_mneg 
      when 'FAS' then @vl_mle_item_mneg
      when 'EXW' then @vl_mle_item_mneg
      when 'DDU' then @vl_mle_item_mneg + @vl_seguro_item_mneg_aj
      when 'CFR' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj 
      when 'CPT' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj 
      when 'CIF' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj + @vl_seguro_item_mneg_aj
      when 'DAF' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj + @vl_seguro_item_mneg_aj
      when 'DES' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj + @vl_seguro_item_mneg_aj 
      when 'CIP' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj + @vl_seguro_item_mneg_aj
      else 0
        end
      select @vl_mcv_item = Round(@vl_mcv_item, 2)
      select @vl_soma_mcv_item = @vl_soma_mcv_item + @vl_mcv_item   
    end
 if @qt_merc_un_comerc <> 0
    select @vl_ucv = Round((@vl_mcv_item / @qt_merc_un_comerc), 7)
 else
    select @vl_ucv = 0
 --  Apura o valor da mercadoria na condicao da venda MN
 if @i_itens = @qt_itens
    begin
      select @vl_mcv_item_mn = @vl_mcv_mn - @vl_soma_mcv_item_mn 
    end
 else
    begin  
      select @vl_mcv_item_mn = @vl_despesa_item_mn +
        case @Incoterm
      when 'FOB' then @vl_mle_item_mn
      when 'FCA' then @vl_mle_item_mn 
      when 'FAS' then @vl_mle_item_mn
      when 'EXW' then @vl_mle_item_mn
      when 'DDU' then @vl_mle_item_mn + @vl_seguro_item_mn
      when 'CFR' then @vl_mle_item_mn + @vl_frete_item_mn 
      when 'CPT' then @vl_mle_item_mn + @vl_frete_item_mn 
      when 'CIF' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
      when 'DAF' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
      when 'DES' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn 
      when 'CIP' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
      else 0
         end
      select @vl_mcv_item_mn = Round(@vl_mcv_item_mn, 2)
      select @vl_soma_mcv_item_mn = @vl_soma_mcv_item_mn + @vl_mcv_item_mn
    end
 if @qt_merc_un_comerc <> 0
    select @vl_ucv_mn = Round((@vl_mcv_item_mn / @qt_merc_un_comerc), 7)
 else
    select @vl_ucv_mn = 0
 UPDATE TDETALHE_MERCADORIA 
   SET VL_UNID_COND_VENDA = @vl_ucv,
  VL_MCV_ITEM  = @vl_mcv_item, 
  VL_FRETE_ITEM  = @vl_frete_item_mneg, 
  VL_SEGURO_ITEM  = @vl_seguro_item_mneg,
  VL_MLE_ITEM_MN  = @vl_mle_item_mn,
  VL_FRETE_ITEM_MN = @vl_frete_item_mn,
  VL_SEGURO_ITEM_MN = @vl_seguro_item_mn,
  VL_MCV_ITEM_MN  = @vl_mcv_item_mn,
  VL_UNID_COND_VENDA_MN = @vl_ucv_mn, 
  VL_ACRESCIMO_ITEM = @vl_acrescimos_i_mneg,
  VL_DEDUCAO_ITEM  = @vl_deducoes_i_mneg,
  VL_ACRESCIMO_ITEM_MN = @vl_acrescimos_i_mn,
  VL_DEDUCAO_ITEM_MN = @vl_deducoes_i_mn,
  VL_DESPESA_ITEM  = @vl_despesa_item_mneg,
  VL_DESPESA_ITEM_MN = @vl_despesa_item_mn,
  VL_II_ITEM  = @vl_ii_item,
  VL_IPI_ITEM  = @vl_ipi_item,
  VL_AD_ITEM  = @vl_ad_item,
  VL_ICMS_ITEM  = @vl_icms_item 
   WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (NR_ITEM = @nr_item)
        select @i_itens = @i_itens + 1
        fetch c_item into @nr_item, @pl_merc_item_read, @vl_mle_item_read, @qt_merc_un_comerc_read 
      end
      close c_item
      deallocate c_item
    end
    select @i_adicao = @i_adicao + 1    
  end
  UPDATE TDECLARACAO_IMPORTACAO
     SET VL_TOTAL_II = @vl_ii_total,
         VL_TOTAL_IPI = @vl_ipi_total,
         VL_TOTAL_AD = @vl_antidump_total,
         VL_TOT_ICMS = @vl_icms_total,
         DT_CALCULO     = getdate()
     WHERE (NR_PROCESSO = @nr_processo)
  if @vl_ii_total > 0
  begin
     if (select count(*) from TPAGAMENTO_TRIBUTOS 
         where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '0086') ) > 0
     begin
       select @cd_banco_pgto_trib = cd_banco_pgto_trib,
              @nr_agenc_pgto_trib = nr_agenc_pgto_trib,
              @dt_pgto_tributo    = dt_pgto_tributo,    
              @vl_multa_pgto_trib = vl_multa_pgto_trib, 
              @vl_juros_pgto_trib = vl_juros_pgto_trib     
         from TPAGAMENTO_TRIBUTOS 
         where (NR_PROCESSO = @nr_processo) and (CD_RECEITA_PGTO = '0086') 
       delete TPAGAMENTO_TRIBUTOS 
         where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '0086')
       insert into TPAGAMENTO_TRIBUTOS 
         (nr_processo, cd_receita_pgto, cd_banco_pgto_trib, nr_agenc_pgto_trib, 
          vl_tributo_pago, dt_pgto_tributo, vl_multa_pgto_trib, vl_juros_pgto_trib ) values
         (@nr_processo, '0086', @cd_banco_pgto_trib, @nr_agenc_pgto_trib, 
          @vl_ii_total, @dt_pgto_tributo, @vl_multa_pgto_trib, @vl_juros_pgto_trib )
     end
     else
     begin
       insert into TPAGAMENTO_TRIBUTOS 
       ( nr_processo, cd_receita_pgto, vl_tributo_pago ) values
       ( @nr_processo, '0086', @vl_ii_total)
     end
  end
  else
    delete TPAGAMENTO_TRIBUTOS 
    where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '0086')
  if @vl_ipi_total > 0
  begin
     if (select count(*) from TPAGAMENTO_TRIBUTOS 
         where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '1038') ) > 0
     begin
       select @cd_receita_pgto    = cd_receita_pgto,
              @cd_banco_pgto_trib = cd_banco_pgto_trib,
              @nr_agenc_pgto_trib = nr_agenc_pgto_trib,
              @dt_pgto_tributo    = dt_pgto_tributo,    
              @vl_multa_pgto_trib = vl_multa_pgto_trib, 
              @vl_juros_pgto_trib = vl_juros_pgto_trib     
         from TPAGAMENTO_TRIBUTOS 
         where (NR_PROCESSO = @nr_processo) and (CD_RECEITA_PGTO = '1038') 
       delete TPAGAMENTO_TRIBUTOS 
         where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '1038')
       insert into TPAGAMENTO_TRIBUTOS 
         (nr_processo, cd_receita_pgto, cd_banco_pgto_trib, nr_agenc_pgto_trib, 
          vl_tributo_pago, dt_pgto_tributo, vl_multa_pgto_trib, vl_juros_pgto_trib ) values
         (@nr_processo, '1038', @cd_banco_pgto_trib, @nr_agenc_pgto_trib, 
          @vl_ipi_total, @dt_pgto_tributo, @vl_multa_pgto_trib, @vl_juros_pgto_trib )
     end
     else
     begin
       insert into TPAGAMENTO_TRIBUTOS 
       ( nr_processo, cd_receita_pgto, vl_tributo_pago ) values
       ( @nr_processo, '1038', @vl_ipi_total)
     end
  end
  else
    delete TPAGAMENTO_TRIBUTOS 
    where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '1038')
  Execute sp_calc_taxa_siscomex @nr_processo, @vl_taxa_siscomex output
  if @vl_taxa_siscomex > 0
  begin
     if (select count(*) from TPAGAMENTO_TRIBUTOS 
         where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '7811') ) > 0
     begin
       select @cd_receita_pgto    = cd_receita_pgto,
              @cd_banco_pgto_trib = cd_banco_pgto_trib,
              @nr_agenc_pgto_trib = nr_agenc_pgto_trib,
              @dt_pgto_tributo    = dt_pgto_tributo,    
              @vl_multa_pgto_trib = vl_multa_pgto_trib, 
              @vl_juros_pgto_trib = vl_juros_pgto_trib     
         from TPAGAMENTO_TRIBUTOS 
         where (NR_PROCESSO = @nr_processo) and (CD_RECEITA_PGTO = '7811') 
       delete TPAGAMENTO_TRIBUTOS 
         where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '7811')
       insert into TPAGAMENTO_TRIBUTOS 
         (nr_processo, cd_receita_pgto, cd_banco_pgto_trib, nr_agenc_pgto_trib, 
          vl_tributo_pago, dt_pgto_tributo, vl_multa_pgto_trib, vl_juros_pgto_trib ) values
         (@nr_processo, '7811', @cd_banco_pgto_trib, @nr_agenc_pgto_trib, 
          @vl_taxa_siscomex, @dt_pgto_tributo, @vl_multa_pgto_trib, @vl_juros_pgto_trib )
     end
     else
     begin
       insert into TPAGAMENTO_TRIBUTOS 
       ( nr_processo, cd_receita_pgto, vl_tributo_pago ) values
       ( @nr_processo, '7811', @vl_taxa_siscomex )
     end
  end
  else
    delete TPAGAMENTO_TRIBUTOS 
    where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '7811')
  if @vl_antidump_total > 0
  begin
     if (select count(*) from TPAGAMENTO_TRIBUTOS 
         where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '9999') ) > 0
     begin
       select @cd_receita_pgto    = cd_receita_pgto,
              @cd_banco_pgto_trib = cd_banco_pgto_trib,
              @nr_agenc_pgto_trib = nr_agenc_pgto_trib,
              @dt_pgto_tributo    = dt_pgto_tributo,
              @vl_multa_pgto_trib = vl_multa_pgto_trib,
              @vl_juros_pgto_trib = vl_juros_pgto_trib
         from TPAGAMENTO_TRIBUTOS 
         where (NR_PROCESSO = @nr_processo) and (CD_RECEITA_PGTO = '9999')
       delete TPAGAMENTO_TRIBUTOS 
         where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '9999')
       insert into TPAGAMENTO_TRIBUTOS 
         (nr_processo, cd_receita_pgto, cd_banco_pgto_trib, nr_agenc_pgto_trib,
          vl_tributo_pago, dt_pgto_tributo, vl_multa_pgto_trib, vl_juros_pgto_trib ) values
         (@nr_processo, '9999', @cd_banco_pgto_trib, @nr_agenc_pgto_trib, 
          @vl_antidump_total, @dt_pgto_tributo, @vl_multa_pgto_trib, @vl_juros_pgto_trib )
     end
     else
     begin
       insert into TPAGAMENTO_TRIBUTOS 
       ( nr_processo, cd_receita_pgto, vl_tributo_pago ) values
       ( @nr_processo, '9999', @vl_antidump_total )
     end
  end
  else
    delete TPAGAMENTO_TRIBUTOS 
    where (nr_processo = @nr_processo) and (CD_RECEITA_PGTO = '9999')
end
Execute sp_atualiza_processo @NR_PROCESSO
Execute sp_calcula_sda @NR_PROCESSO
Execute sp_atz_evento @NR_PROCESSO, 'CD_EV_DIG_DI', @dt_realizacao
Return 0



GO
