USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored Procedure dbo.sp_ev_prev_fabrica  Script Date: 26/11/1998 19:07:06 ******/
CREATE PROCEDURE [sp_ev_prev_fabrica_viagem]( @cd_unid_neg char(2), @cd_produto char(2), @cd_embarcacao char(4), @nr_viagem char(4), @cd_local char (4) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg   char(2)
DECLARE @cd_produto    char(2)
DECLARE @cd_embarcacao char(4)
DECLARE @nr_viagem     char(4)

SELECT @cd_unid_neg   = '01'
SELECT @cd_produto    = '01'
SELECT @cd_embarcacao = '0014'
SELECT @nr_viagem     = '0101'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo         char(18)
DECLARE @cd_ev_espera_navio  char(3)
DECLARE @cd_ev_ent           char(3)
DECLARE @cd_ev_prev_embarque char(3)
DECLARE @cd_ev_embarque      char(3)

DECLARE @dt_espera_navio     datetime
DECLARE @dt_ent              datetime
DECLARE @dt_prevista         datetime
DECLARE @dt_embarque         datetime

DECLARE @controle            int

SELECT @controle = 33000

IF @cd_produto = '01' or @cd_produto = '03'
BEGIN
    SELECT @cd_ev_espera_navio = CD_EV_ESPERA_NAVIO,
           @cd_ev_ent          = CD_EV_ENT
    FROM TPARAMETROS (NOLOCK)

    SELECT @dt_espera_navio = ISNULL( DT_ESPERADA, NULL ), 
           @dt_ent          = ISNULL( DT_ENT, NULL )
    FROM TVIAGEM (NOLOCK)
    WHERE NR_VIAGEM     = @nr_viagem
      AND CD_EMBARCACAO = @cd_embarcacao
      AND CD_PRODUTO    = @cd_produto
      AND CD_UNID_NEG   = @cd_unid_neg
      AND CD_LOCAL      = @cd_local

    DECLARE c_proc_imp CURSOR FOR
        SELECT NR_PROCESSO
        FROM TPROCESSO P (NOLOCK), TVIAGEM V (NOLOCK)
        WHERE V.CD_UNID_NEG   = P.CD_UNID_NEG
          AND V.CD_PRODUTO    = P.CD_PRODUTO
          AND V.CD_EMBARCACAO = P.CD_EMBARCACAO
          AND V.NR_VIAGEM     = P.NR_VIAGEM
          AND V.CD_LOCAL      = P.CD_LOCAL_DESEMBARQUE
          AND V.NR_VIAGEM     = @nr_viagem
          AND V.CD_EMBARCACAO = @cd_embarcacao
          AND V.CD_PRODUTO    = @cd_produto
          AND V.CD_UNID_NEG   = @cd_unid_neg
  
    OPEN c_proc_imp
    FETCH c_proc_imp INTO @nr_processo
    WHILE @@FETCH_STATUS = 0
    BEGIN    
        EXEC sp_ev_prev_fabrica @nr_processo, @cd_ev_espera_navio
        EXEC sp_ev_prev_fabrica @nr_processo, @cd_ev_ent

        FETCH c_proc_imp INTO @nr_processo
    END
    CLOSE c_proc_imp
    DEALLOCATE c_proc_imp
END
ELSE 
BEGIN
    IF @cd_produto = '02' or @cd_produto = '10'
    BEGIN
        SELECT @cd_ev_prev_embarque = CD_EV_PREV_EMBARQUE,
               @cd_ev_embarque      = CD_EV_EMBARQUE
        FROM TPARAMETROS (NOLOCK)

        SELECT @dt_prevista  = ISNULL( DT_ESPERADA, NULL ), 
               @dt_embarque  = ISNULL( DT_ENT, NULL )
        FROM TVIAGEM (NOLOCK)
        WHERE NR_VIAGEM     = @nr_viagem
          AND CD_EMBARCACAO = @cd_embarcacao
          AND CD_PRODUTO    = @cd_produto
          AND CD_UNID_NEG   = @cd_unid_neg
          AND CD_LOCAL      = @cd_local

        DECLARE c_proc_exp CURSOR FOR
        SELECT NR_PROCESSO
        FROM TPROCESSO P (NOLOCK), TVIAGEM V (NOLOCK)
        WHERE V.CD_UNID_NEG   = P.CD_UNID_NEG
          AND V.CD_PRODUTO    = P.CD_PRODUTO
          AND V.CD_EMBARCACAO = P.CD_EMBARCACAO
          AND V.NR_VIAGEM     = P.NR_VIAGEM
          AND V.CD_LOCAL      = P.CD_LOCAL_EMBARQUE
          AND V.NR_VIAGEM     = @nr_viagem
          AND V.CD_EMBARCACAO = @cd_embarcacao
          AND V.CD_PRODUTO    = @cd_produto
          AND V.CD_UNID_NEG   = @cd_unid_neg
          AND V.CD_LOCAL      = @cd_local
 
        OPEN c_proc_exp
        FETCH c_proc_exp INTO @nr_processo
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- atualiza os dados do evento PREVISÃO EMBARQUE / CARREGANDO 
            UPDATE TFOLLOWUP
            SET DT_REALIZACAO = CASE
                                    WHEN (CONVERT(INT, @dt_prevista) < @controle) THEN NULL
                                ELSE @dt_prevista
                                END
            WHERE NR_PROCESSO = @nr_processo
              AND CD_EVENTO   = @cd_ev_prev_embarque

            -- atualiza os dados do evento DATA DE EMBARQUE / ETD
            UPDATE TFOLLOWUP
            SET DT_REALIZACAO = CASE
                                    WHEN (CONVERT(INT, @dt_embarque) < @controle) THEN NULL
                                ELSE @dt_embarque
                                END
            WHERE NR_PROCESSO = @nr_processo
              AND CD_EVENTO   = @cd_ev_embarque 

            FETCH c_proc_exp INTO @nr_processo
        END
        CLOSE c_proc_exp
        DEALLOCATE c_proc_exp
    END
END



GO
