USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_rel_cntr_nao_dev] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                 @cd_agente char(4), @cd_transp_nac char(4), @dt_inicio datetime, @dt_fim datetime,
                 @nr_identificador int OUTPUT AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_agente char(4)
DECLARE @cd_transp_nac char(4)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_agente = 'X'
SELECT @cd_transp_nac = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/06/2002', 103 )
SELECT @dt_fim = CONVERT( datetime, '30/06/2002', 103 )
--*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_CNTR_NAO_DEV

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )


INSERT TREL_CNTR_NAO_DEV ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, CODIGO, NR_CNTR, DT_ENT, DT_NF_TRANSP, CD_CLIENTE, CD_AGENTE, CD_TRANSP_NAC )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, C.NR_PROCESSO, C.CODIGO,
         SUBSTRING( C.NR_CNTR, 1, 4 ) + '-' + SUBSTRING( C.NR_CNTR, 5, 3 ) + '-' + SUBSTRING( C.NR_CNTR, 8, 3 ) + '-' + SUBSTRING( C.NR_CNTR, 11, 1 ) AS NR_CNTR,
         ( SELECT DT_REALIZACAO
            FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_SERVICO = P.CD_SERVICO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND 
                  F.IN_APLICAVEL = '1' ) AS DT_ENT,
         ( SELECT DT_REALIZACAO
            FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_SERVICO = P.CD_SERVICO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS (NOLOCK) ) AND 
                  F.IN_APLICAVEL = '1' ) AS DT_NF_TRANSP,
         P.CD_CLIENTE, P.CD_AGENTE, P.CD_TRANSP_NAC_DOC
  FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         C.DT_DEVOLUCAO_CNTR IS NULL AND
         C.IN_DEMURRAGE = '1' AND
         ISNULL( C.NR_CNTR, '' ) <> '' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( P.CD_AGENTE = @cd_agente ) OR ( @cd_agente = 'X' ) ) AND
         ( ( P.CD_TRANSP_NAC_DOC = @cd_transp_nac ) OR ( @cd_transp_nac = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_SERVICO = P.CD_SERVICO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS (NOLOCK) ) AND
                  F.IN_APLICAVEL = '1' ) BETWEEN @dt_inicio AND @dt_fim AND
         SUBSTRING( C.NR_PROCESSO, 5, 2 ) <> 'IE' AND
         SUBSTRING( C.NR_PROCESSO, 5, 2 ) <> 'DT' AND
                 P.IN_CANCELADO <> '1'
  ORDER BY C.DT_ENT_ARM, C.NR_PROCESSO

INSERT TREL_CNTR_NAO_DEV ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, CODIGO, NR_CNTR, DT_ENT, DT_NF_TRANSP, CD_CLIENTE, CD_AGENTE, CD_TRANSP_NAC )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, C.NR_PROCESSO, C.CODIGO,
         SUBSTRING( C.NR_CNTR, 1, 4 ) + '-' + SUBSTRING( C.NR_CNTR, 5, 3 ) + '-' + SUBSTRING( C.NR_CNTR, 8, 3 ) + '-' + SUBSTRING( C.NR_CNTR, 11, 1 ) AS NR_CNTR,
         ( SELECT DT_REALIZACAO
            FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_SERVICO = P.CD_SERVICO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND 
                  F.IN_APLICAVEL = '1' ) AS DT_ENT,
         ( SELECT DT_REALIZACAO
            FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_SERVICO = P.CD_SERVICO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_DTA_TRANSP FROM TPARAMETROS (NOLOCK) ) AND 
                  F.IN_APLICAVEL = '1' ) AS DT_NF_TRANSP,
         P.CD_CLIENTE, P.CD_AGENTE, P.CD_TRANSP_NAC_DOC
  FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         C.DT_DEVOLUCAO_CNTR IS NULL AND
         C.IN_DEMURRAGE = '1' AND
         ISNULL( C.NR_CNTR, '' ) <> '' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( P.CD_AGENTE = @cd_agente ) OR ( @cd_agente = 'X' ) ) AND
         ( ( P.CD_TRANSP_NAC_DOC = @cd_transp_nac ) OR ( @cd_transp_nac = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_SERVICO = P.CD_SERVICO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_DTA_TRANSP FROM TPARAMETROS (NOLOCK) ) AND
                  F.IN_APLICAVEL = '1' ) BETWEEN @dt_inicio AND @dt_fim AND
         SUBSTRING( C.NR_PROCESSO, 5, 2 ) = 'DT' AND
                 P.IN_CANCELADO <> '1'
  ORDER BY C.DT_ENT_ARM, C.NR_PROCESSO


INSERT TREL_CNTR_NAO_DEV ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, CODIGO, NR_CNTR, DT_ENT, DT_NF_TRANSP, CD_CLIENTE, CD_AGENTE, CD_TRANSP_NAC )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, C.NR_PROCESSO, C.CODIGO,
         SUBSTRING( C.NR_CNTR, 1, 4 ) + '-' + SUBSTRING( C.NR_CNTR, 5, 3 ) + '-' + SUBSTRING( C.NR_CNTR, 8, 3 ) + '-' + SUBSTRING( C.NR_CNTR, 11, 1 ) AS NR_CNTR,
         ( SELECT DT_REALIZACAO
            FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_SERVICO = P.CD_SERVICO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND 
                  F.IN_APLICAVEL = '1' ) AS DT_ENT,
         C.DT_DESOVA AS DT_NF_TRANSP,
         P.CD_CLIENTE, P.CD_AGENTE, P.CD_TRANSP_NAC_DOC
  FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         C.DT_DEVOLUCAO_CNTR IS NULL AND
         C.IN_DEMURRAGE = '1' AND
         ISNULL( C.NR_CNTR, '' ) <> '' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( P.CD_AGENTE = @cd_agente ) OR ( @cd_agente = 'X' ) ) AND
         ( ( P.CD_TRANSP_NAC_DOC = @cd_transp_nac ) OR ( @cd_transp_nac = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_SERVICO = P.CD_SERVICO AND 
                  F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS (NOLOCK) ) AND 
                  F.IN_APLICAVEL = '1' ) BETWEEN @dt_inicio AND @dt_fim AND
         SUBSTRING( C.NR_PROCESSO, 5, 2 ) = 'IE' AND
                 P.IN_CANCELADO <> '1'
  ORDER BY C.DT_ENT_ARM, C.NR_PROCESSO

--select * from trel_cntr_nao_dev

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/






GO
