USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE  procedure [sp_di_repassa_dados_adicao]( @nr_processo char(18) ) AS


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo  char(18)

SELECT @nr_processo = '0101DD-0049-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nm_empresa3             char(60)
DECLARE @end_empresa3            char(40)
DECLARE @end_numero3             char(6)
DECLARE @end_compl3              char(21)
DECLARE @end_cidade3             char(25)
DECLARE @end_estado3             char(25)
DECLARE @cd_pais3                char(3)
DECLARE @nm_empresa4             char(60)
DECLARE @end_empresa4            char(40)
DECLARE @end_numero4             char(6)
DECLARE @end_compl4              char(21)
DECLARE @end_cidade4             char(25)
DECLARE @end_estado4             char(25)
DECLARE @cd_pais4                char(3)

DECLARE @in_rep_dados_adicao     bit
DECLARE @cd_vinc_impo_expo       char(1)
DECLARE @cd_incoterm             char(3)
DECLARE @cd_metodo_valoracao     char(2)
DECLARE @cd_regime_trib_ii       char(1)
DECLARE @cd_fund_legal_ii        char(2)
DECLARE @cd_reg_trib_ipi         char(1)
DECLARE @nr_destaque_ncm         char(3)
DECLARE @pc_icms                 float
DECLARE @pc_reducao_icms         float
DECLARE @pc_reducao_ipt_bli      float
DECLARE @cd_aplicacao_mercadoria char(1)
DECLARE @in_bem_encomenda        bit
DECLARE @in_material_usado       bit
DECLARE @cd_tributacao_icms	 char(1)
DECLARE @cd_fund_legal_icms      char(3)
DECLARE @in_ipi_nao_tribut	 bit
DECLARE @n_adicao		 char(3)

DECLARE @cd_ausencia_fabric 	 char(1)
DECLARE @cd_fornecedor 		 char(5)
DECLARE @cd_fabric     		 char(5)
DECLARE @cd_pais_aquis_merc2 	 char(3)
DECLARE @cd_pais_orig_merc2 	 char(3)
DECLARE @nr_sequencia   	 int
DECLARE @cd_local_embarque 	 char(4)
DECLARE @cd_local_embarque_proc  char(4)
DECLARE @docvinculado            char(10)

SELECT @cd_local_embarque_proc = ''
SELECT @cd_local_embarque_proc = CASE D.CD_INCOTERM 
          WHEN 'CFR' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'CPT' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'DES' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'CIP' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'CIF' THEN P.CD_LOCAL_DESEMBARQUE
          WHEN 'DDU' THEN P.CD_LOCAL_DESEMBARQUE
          ELSE P.CD_LOCAL_EMBARQUE
       END
FROM   TPROCESSO P (NOLOCK), TDECLARACAO_IMPORTACAO D (NOLOCK)
WHERE  ( D.NR_PROCESSO = @nr_processo ) AND
       ( P.NR_PROCESSO = D.NR_PROCESSO ) 

-- Atualiza Local de Embarque da Capa
UPDATE TDECLARACAO_IMPORTACAO
SET    CD_LOCAL_EMBARQUE = @cd_local_embarque
WHERE  NR_PROCESSO = @nr_processo AND
       ISNULL( CD_LOCAL_EMBARQUE, '' ) = ''

IF LTRIM( RTRIM( @cd_local_embarque_proc ) ) <> ''
BEGIN
  SELECT @cd_local_embarque = @cd_local_embarque_proc  
END

SELECT @in_rep_dados_adicao     = IN_REPASSA_DADOS_ADICAO,
       @cd_incoterm             = CD_INCOTERM,
       @cd_vinc_impo_expo       = CD_VINC_IMPO_EXPO,       
       @cd_metodo_valoracao     = CD_METODO_VALORACAO,
       @cd_regime_trib_ii       = CD_REG_TRIB_II,
       @cd_fund_legal_ii        = CD_FUND_LEGAL_II,
       @cd_reg_trib_ipi         = ISNULL( CD_REG_TRIB_IPI, '3' ),
       @nr_destaque_ncm         = CD_DESTAQUE_NCM,
       @pc_icms                 = PC_ICMS,
       @pc_reducao_icms         = PC_REDUCAO_ICMS,
       @pc_reducao_ipt_bli      = PC_REDUCAO_IPT_BLI,
       @cd_aplicacao_mercadoria = CD_APLICACAO_MERC,
       @in_bem_encomenda        = IN_BEM_ENCOMENDA,
       @in_material_usado       = IN_MATERIAL_USADO,
       @cd_tributacao_icms	= CD_TRIBUTACAO_ICMS,
       @cd_fund_legal_icms      = CD_FUND_LEGAL_ICMS,
       @cd_ausencia_fabric 	= CD_AUSENCIA_FABRIC,
       @cd_fornecedor 		= CD_FORNECEDOR,
       @cd_fabric 		= CD_FABRICANTE,
       @cd_pais_aquis_merc2 	= CD_PAIS_AQUIS_MERC,
       @cd_pais_orig_merc2 	= CD_PAIS_ORIG_MERC
FROM   TDECLARACAO_IMPORTACAO  (NOLOCK)
WHERE  ( NR_PROCESSO = @nr_processo )

SELECT @nm_empresa3  = ISNULL( NM_EMPRESA,  SPACE(60) ),
       @end_empresa3 = ISNULL( END_EMPRESA, SPACE(40) ),
       @end_numero3  = ISNULL( END_NUMERO,  SPACE(6) ),
       @end_compl3   = ISNULL( END_COMPL,   SPACE(21) ),
       @end_cidade3  = ISNULL( END_CIDADE,  SPACE(25) ), 
       @end_estado3  = ISNULL( END_ESTADO,  SPACE(25) ), 
       @cd_pais3     = ISNULL( CD_PAIS,     SPACE( 3) ) 
FROM   TEMPRESA_EST  (NOLOCK)
WHERE  CD_EMPRESA = @cd_fornecedor

SELECT @nm_empresa4  = ISNULL( NM_EMPRESA,  SPACE(60) ),       @end_empresa4 = ISNULL( END_EMPRESA, SPACE(40) ),
       @end_numero4  = ISNULL( END_NUMERO,  SPACE( 6) ),
       @end_compl4   = ISNULL( END_COMPL,   SPACE(21) ),
       @end_cidade4  = ISNULL( END_CIDADE,  SPACE(25) ), 
       @end_estado4  = ISNULL( END_ESTADO,  SPACE(25) ), 
       @cd_pais4     = ISNULL( CD_PAIS,     SPACE( 3) ) 
FROM   TEMPRESA_EST  (NOLOCK)
WHERE  CD_EMPRESA = @cd_fabric

IF @in_rep_dados_adicao = 1
BEGIN
  IF @cd_reg_trib_ipi = '' SELECT @cd_reg_trib_ipi = '3'
--  IF @cd_reg_trib_ipi = '3' SELECT @in_ipi_nao_tribut = 1
--  ELSE SELECT @in_ipi_nao_tribut = 0

--  IF ( @cd_ausencia_fabric IS NULL ) OR
--     ( @cd_ausencia_fabric = '0' ) OR
--     ( @cd_ausencia_fabric = '' )
--     SELECT @cd_ausencia_fabric = '1'

  UPDATE TADICAO_DE_IMPORTACAO
  SET    CD_INCOTERMS_VENDA = CASE ISNULL( @cd_incoterm, '' )
                                 WHEN '' THEN CD_INCOTERMS_VENDA
                                 ELSE @cd_incoterm
                              END,
         CD_VINC_IMPO_EXPO  = CASE ISNULL( @cd_vinc_impo_expo, '' )
                                 WHEN '' THEN CD_VINC_IMPO_EXPO
                                 ELSE @cd_vinc_impo_expo
                              END,
         CD_METOD_VALORACAO = CASE ISNULL( @cd_metodo_valoracao, '' )
                                 WHEN '' THEN CD_METOD_VALORACAO
                                 ELSE @cd_metodo_valoracao
                              END,
         CD_REGIME_TRIBUTAR = CASE ISNULL( @cd_regime_trib_ii, '' )
                                 WHEN '' THEN CD_REGIME_TRIBUTAR
                                 ELSE @cd_regime_trib_ii 
                              END,
         CD_FUND_LEG_REGIME = CASE ISNULL( @cd_fund_legal_ii, '' )
                                 WHEN '' THEN CD_FUND_LEG_REGIME
                                 ELSE @cd_fund_legal_ii
                              END,
         IN_IPI_NAO_TRIBUT  = ISNULL( @in_ipi_nao_tribut, IN_IPI_NAO_TRIBUT ),
         CD_APLICACAO_MERC  = CASE ISNULL( @cd_aplicacao_mercadoria, '' )
                                 WHEN '' THEN CD_APLICACAO_MERC
                                 ELSE @cd_aplicacao_mercadoria
                              END,
         IN_BEM_ENCOMENDA   = ISNULL( @in_bem_encomenda, IN_BEM_ENCOMENDA ),
	 IN_MATERIAL_USADO  = ISNULL( @in_material_usado, IN_MATERIAL_USADO ) ,
         PC_ICMS =
         CASE ISNULL( @pc_icms, 0 )
           WHEN 0 THEN PC_ICMS
           ELSE @pc_icms
         END,
         PC_REDUCAO_ICMS = @pc_reducao_icms,
/*
         CASE ISNULL( @pc_reducao_icms, 0 )
           WHEN 0 THEN PC_REDUCAO_ICMS
           ELSE @pc_reducao_icms
         END,
*/
	 CD_TRIBUTACAO_ICMS = CASE ISNULL( @cd_tributacao_icms, '' )
                                 WHEN '' THEN CD_TRIBUTACAO_ICMS
                                 ELSE @cd_tributacao_icms
                              END,
	 CD_FUND_LEGAL_ICMS = CASE ISNULL( @cd_fund_legal_icms, '' )
                                 WHEN '' THEN CD_FUND_LEGAL_ICMS
                                 ELSE @cd_fund_legal_icms
                              END,
         CD_AUSENCIA_FABRIC = CASE ISNULL( @cd_ausencia_fabric, '' ) 
                               WHEN '' THEN CD_AUSENCIA_FABRIC
                               ELSE @cd_ausencia_fabric
                               END,
         CD_FORNECEDOR      =  @cd_fornecedor,
         NM_FORN_ESTR       =  @nm_empresa3,
         ED_LOGR_FORN_ESTR  =  @end_empresa3,
         ED_NR_FORN_ESTR    =  @end_numero3,
         ED_COMPL_FORN_ESTR =  @end_compl3,
         ED_CIDAD_FORN_ESTR =  @end_cidade3,
         ED_ESTAD_FORN_ESTR =  @end_estado3,
         CD_FABRICANTE      = CASE ISNULL( @cd_fabric, '' )
                                 WHEN '' THEN CD_FABRICANTE
                                 ELSE @cd_fabric
                              END, 
         NM_FABRICANTE_MERC = CASE ISNULL( @nm_empresa4, '' )
                                 WHEN '' THEN NM_FABRICANTE_MERC
                                 ELSE @nm_empresa4
                              END,
         ED_LOGR_FABRIC     = CASE ISNULL( @end_empresa4, '' )
                                 WHEN '' THEN ED_LOGR_FABRIC
                                 ELSE @end_empresa4
                              END,
         ED_NR_FABRIC       = CASE ISNULL( @end_numero4, '' )
                                 WHEN '' THEN ED_NR_FABRIC
                                 ELSE @end_numero4
                              END,
         ED_COMPL_FABRIC    = CASE ISNULL( @end_compl4, '' )
                                 WHEN '' THEN ED_COMPL_FABRIC
                                 ELSE @end_compl4
                              END,
         ED_CIDAD_FABRIC    = CASE ISNULL( @end_cidade4, '' )
                                 WHEN '' THEN ED_CIDAD_FABRIC
                                 ELSE @end_cidade4
                              END,
         ED_ESTADO_FABRIC   = CASE ISNULL( @end_estado4, '' )
                                 WHEN '' THEN ED_ESTADO_FABRIC
                                 ELSE @end_estado4
                              END,
         CD_PAIS_AQUIS_MERC =  @cd_pais_aquis_merc2,
         CD_PAIS_ORIG_MERC  = CASE ISNULL( @cd_pais_orig_merc2, '' )
                                 WHEN '' THEN CD_PAIS_ORIG_MERC
                                 ELSE @cd_pais_orig_merc2
                              END,
         /*CD_LOC_COND_VENDA  = CASE ISNULL( @cd_local_embarque, '' )
                                 WHEN '' THEN CD_LOC_COND_VENDA
                                 ELSE @cd_local_embarque
                              END,*/ -- Comentado a pedido da Andrea Alves - Michel - 20/02/2013
         NR_DESTAQUE_NCM    = CASE ISNULL( @nr_destaque_ncm, '' )
                                 WHEN '' THEN NR_DESTAQUE_NCM
                                 ELSE @nr_destaque_ncm
                              END
  WHERE  ( NR_PROCESSO = @nr_processo )

  UPDATE TADICAO_DE_IMPORTACAO
  SET    CD_PAIS_AQUIS_MERC = @cd_pais3
  WHERE  ( NR_PROCESSO = @nr_processo ) AND 
         ( ISNULL( CD_PAIS_AQUIS_MERC, '' ) = '' )
  
  UPDATE TADICAO_DE_IMPORTACAO
  SET    CD_PAIS_ORIG_MERC = @cd_pais4
  WHERE  ( NR_PROCESSO = @nr_processo ) AND 
         ( ISNULL( CD_PAIS_ORIG_MERC, '' ) = '' )

  UPDATE TRIBUTO
  SET    CD_TIPO_BENEF_IPI = ISNULL( @cd_reg_trib_ipi, CD_TIPO_BENEF_IPI )
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_RECEITA_IMPOSTO = '0002'

  UPDATE TRIBUTO
  SET    PC_REDUCAO_IPT_BLI = 
         CASE ISNULL( @pc_reducao_ipt_bli, 0 )
           WHEN 0 THEN PC_REDUCAO_IPT_BLI
           ELSE @pc_reducao_ipt_bli
         END
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_RECEITA_IMPOSTO = '0001'

  IF ISNULL( @nr_destaque_ncm, '' ) <> '' 
  BEGIN
    DELETE TDESTAQUE_NCM
    WHERE  NR_PROCESSO = @nr_processo
  END

  -- Verifica se existe DA p/ o processo
  SELECT @docvinculado = ISNULL( NR_DA, '')
  FROM   TPROCESSO (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo

  DECLARE c_adicao_rep_dados_adicao CURSOR FOR
    SELECT NR_ADICAO
    FROM   TADICAO_DE_IMPORTACAO (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo
    ORDER BY NR_PROCESSO, NR_ADICAO

  OPEN c_adicao_rep_dados_adicao
  FETCH c_adicao_rep_dados_adicao INTO @n_adicao
  WHILE @@fetch_status <> -1
  BEGIN
    EXEC sp_di_repassa_campos_classif @nr_processo, @n_adicao

    IF ISNULL( @nr_destaque_ncm, '' ) <> ''
    BEGIN 
      IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO 
                     FROM   TDESTAQUE_NCM  (NOLOCK)
                     WHERE  ( NR_PROCESSO = @nr_processo ) AND 
                            ( NR_ADICAO = @n_adicao ) ) AND 
                            ( @nr_destaque_ncm <> '' )
      BEGIN
        SELECT @nr_sequencia = ISNULL( ( SELECT MAX( NR_SEQUENCIA ) 
                                         FROM   TDESTAQUE_NCM (NOLOCK)
                                         WHERE  NR_PROCESSO = @nr_processo AND
                                                NR_ADICAO   = @n_adicao ), 0 ) + 1 

        INSERT TDESTAQUE_NCM
        VALUES ( @nr_processo, @n_adicao, @nr_sequencia, @nr_destaque_ncm )
      END
    END

    -- TDOCUMENTO_VINCULADO
    IF @docvinculado <> ''
    BEGIN
      IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO 
                     FROM   TDOCUMENTO_VINCULADO  (NOLOCK)
                     WHERE  ( NR_PROCESSO = @nr_processo ) AND
                            ( NR_ADICAO = @n_adicao ) AND
                            ( CD_TIPO_DCTO_VINC = '2' ) AND
                            ( NR_DCTO_VINCULADO = @docvinculado ) )
      BEGIN
        SELECT @nr_sequencia = ISNULL( ( SELECT MAX( NR_SEQUENCIA ) 
                                         FROM   TDOCUMENTO_VINCULADO (NOLOCK)
                                         WHERE  NR_PROCESSO = @nr_processo AND
                                                NR_ADICAO   = @n_adicao ), 0 ) + 1 
        INSERT TDOCUMENTO_VINCULADO
        VALUES ( @nr_processo, @n_adicao, @nr_sequencia, '2', @docvinculado )
      END    
    END
   
    FETCH c_adicao_rep_dados_adicao INTO @n_adicao
  END 
  CLOSE c_adicao_rep_dados_adicao
  DEALLOCATE c_adicao_rep_dados_adicao
END




GO
