USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- Envia e-mail alertando sobre EADI que vencerá em 10 dias

CREATE PROCEDURE [sp_aviso_eadi]

AS

SET NOCOUNT ON

-- Coloca numa temporária os processos cuja data de nacionalização vencerá em 10 dias (ANALISTA E CONTATO)
SELECT DISTINCT P.NR_PROCESSO, R.CD_REFERENCIA, P.CD_ANALISTA_COMISSARIA, U.NM_USUARIO, 
ISNULL(U.NM_EMAIL, 'suporte@indaialogistica.com.br') as NM_EMAIL_ANALISTA, 
  C.CD_CONTATO, C.NM_CONTATO, ISNULL(C.NM_EMAIL, 'suporte@indaialogistica.com.br') as NM_EMAIL_CONTATO, D.DT_VENCTO_NAC
INTO #TVENCE_EADI
FROM TDOCUMENTO_INSTRUCAO D JOIN
  TPROCESSO P ON 
    P.NR_PROCESSO = D.NR_PROCESSO JOIN
  TUSUARIO  U ON
    U.CD_USUARIO = P.CD_ANALISTA_COMISSARIA JOIN
  TPROCESSO P1 ON
    P.NR_PROCESSO = P1.NR_PROCESSO JOIN
  TCLIENTE_CONTATO C ON
   C.CD_UNID_NEG = P1.CD_UNID_NEG AND
   C.CD_PRODUTO = P1.CD_PRODUTO AND
   C.CD_CLIENTE = P1.CD_CLIENTE AND
   C.CD_CONTATO = P1.CD_CONTATO JOIN
  TREF_CLIENTE R ON
    P.NR_PROCESSO = R.NR_PROCESSO JOIN
  TEMPRESA_NAC EN ON
    EN.CD_EMPRESA = P.CD_CLIENTE
WHERE D.CD_TIPO_DCTO_INSTR = '01' AND 
  EN.CD_GRUPO = '002' AND
  CONVERT(CHAR(10), D.DT_VENCTO_NAC, 104) = CONVERT(CHAR(10), getdate()+ 10, 104) AND D.DT_VENCTO_NAC is not null 
GROUP BY P.NR_PROCESSO, R.CD_REFERENCIA, P.CD_ANALISTA_COMISSARIA, U.NM_USUARIO, U.NM_EMAIL, 
  C.CD_CONTATO, C.NM_CONTATO, C.NM_EMAIL, D.DT_VENCTO_NAC
ORDER BY D.DT_VENCTO_NAC, P.CD_ANALISTA_COMISSARIA, C.CD_CONTATO, P.NR_PROCESSO 

-- Declaração das variáveis usadas no cursor
declare @mensagem_analista varchar(5000),
	@mensagem_contato varchar(5000),
        @cabecalho varchar(50),
 	@nr_processo char(18), 
	@cd_referencia char(15), 
	@cd_analista_comissaria char(4), 
	@nm_usuario char(50), 
	@nm_email_analista varchar(255), 
	@New_EmailAnalista varchar(255),
	@New_EmailContato varchar(255),
	@cd_contato char(3), 
	@nm_contato varchar(50), 
	@nm_email_contato char(50),
	@NewCdAnalista char(4),
	@NewCdContato char(3),
	@dt_vencto_nac datetime,
        @count int, 
	@total int

set @cabecalho = ('Vencimento para nacionalizacao' + char(10) + char(10))
set @mensagem_analista = ''
set @mensagem_contato = ''
set @count = 0

-- Abre o cursor
DECLARE c_EnviaMsg CURSOR FOR
SELECT NR_PROCESSO, CD_REFERENCIA, CD_ANALISTA_COMISSARIA, NM_USUARIO, NM_EMAIL_ANALISTA, 
  CD_CONTATO, NM_CONTATO, NM_EMAIL_CONTATO, DT_VENCTO_NAC, (SELECT COUNT(CD_REFERENCIA) FROM #TVENCE_EADI)
FROM #TVENCE_EADI
GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ANALISTA_COMISSARIA, NM_USUARIO, NM_EMAIL_ANALISTA, 
  CD_CONTATO, NM_CONTATO, NM_EMAIL_CONTATO, DT_VENCTO_NAC
OPEN c_EnviaMsg
FETCH c_EnviaMsg INTO @nr_processo, @cd_referencia, @cd_analista_comissaria, @nm_usuario, @nm_email_analista, 
  @cd_contato, @nm_contato, @nm_email_contato, @dt_vencto_nac, @total
WHILE @@fetch_status = 0
BEGIN

  -- Contador de registros retornados pelo cursor
  set @count = @count + 1

-- ANALISTA
  -- Se o código do analista é igual ao código do registro anterior, concatena
  if (@NewCdAnalista = @cd_analista_comissaria) or @count = 1
    BEGIN
      SELECT @mensagem_analista = @mensagem_analista +
        '* Pedido: ' + LTRIM( RTRIM( @cd_referencia ) ) + ' - ' + LTRIM( RTRIM( @nr_processo ) ) + ' deve ser registrado ate ' + 
       REPLACE(CONVERT ( char(10), @dt_vencto_nac, 105 ), '-', '/') + char(10)
    END 
  ELSE
    -- Caso contrário, envia o e-mail para o analista	
    BEGIN      
      -- Monta a mensagem
      set @mensagem_analista = @cabecalho + @mensagem_analista      

      EXEC master.dbo.xp_sendmail @New_EmailAnalista, 
        @subject = 'Vencimento Nacionalizacao',
        @message = @mensagem_analista

      -- Após o envio do e-mail, alterar o status do IN_AVISO_EADI
      UPDATE TDOCUMENTO_INSTRUCAO
      SET IN_AVISO_EADI = 1 -- Avisado
      WHERE NR_PROCESSO = @nr_processo

      --Inicializa a variável
      set @mensagem_analista = '* Pedido: ' + LTRIM( RTRIM( @cd_referencia ) ) + ' - ' + LTRIM( RTRIM( @nr_processo ) ) + ' deve ser registrado ate ' + 
       REPLACE(CONVERT ( char(10), @dt_vencto_nac, 105 ), '-', '/') + char(10)
    END	

-- CONTATO
  -- Se o código do contato é igual ao código do registro anterior, concatena
  if (@NewCdContato = @cd_contato) or @count = 1
    BEGIN
      SELECT @mensagem_contato = @mensagem_contato +
        '* Pedido: ' + LTRIM( RTRIM( @cd_referencia ) ) + ' - ' + LTRIM( RTRIM( @nr_processo ) ) + ' deve ser registrado ate ' + 
       REPLACE(CONVERT ( char(10), @dt_vencto_nac, 105 ), '-', '/') + char(10)
    END 
  ELSE
    -- Caso contrário, envia o e-mail para o contato	
    BEGIN      
      -- Monta a mensagem para o contato
      set @mensagem_contato = @cabecalho + @mensagem_contato


      EXEC master.dbo.xp_sendmail @New_EmailContato, 
        @subject = 'Vencimento Nacionalizacao',
        @message = @mensagem_contato

	-- Após o envio do e-mail, alterar o status do IN_AVISO_EADI
      UPDATE TDOCUMENTO_INSTRUCAO
      SET IN_AVISO_EADI = 1 -- Avisado
      WHERE NR_PROCESSO = @nr_processo

      --Inicializa as variáveis
      set @mensagem_contato = '* Pedido: ' + LTRIM( RTRIM( @cd_referencia ) ) + ' - ' + LTRIM( RTRIM( @nr_processo ) ) + ' deve ser registrado ate ' + 
       REPLACE(CONVERT ( char(10), @dt_vencto_nac, 105 ), '-', '/') + char(10)
    END	

  set @NewCdAnalista = @cd_analista_comissaria
  set @NewCdContato = @cd_contato
  set @New_EmailAnalista = @nm_email_analista
  set @New_EmailContato = @nm_email_contato

      -- Se for o último registro a ser retornado, envia o e-mail
      if @count = @total
        BEGIN
          -- Monta a mensagem
          set @mensagem_analista = @cabecalho + @mensagem_analista
          set @mensagem_contato = @cabecalho + @mensagem_contato

          -- Envia o e-mail para o analista 
          EXEC master.dbo.xp_sendmail @New_EmailAnalista, 
            @subject = 'Vencimento Nacionalizacao',
            @message = @mensagem_analista


	  -- Envia o e-mail para o contato
          EXEC master.dbo.xp_sendmail @New_EmailContato, 
            @subject = 'Vencimento Nacionalizacao',
            @message = @mensagem_contato

	  -- Após o envio do e-mail, alterar o status do IN_AVISO_EADI
	  UPDATE TDOCUMENTO_INSTRUCAO
	  SET IN_AVISO_EADI = 1 -- Avisado
	  WHERE NR_PROCESSO = @nr_processo
        END	

  FETCH c_EnviaMsg INTO @nr_processo, @cd_referencia, @cd_analista_comissaria, @nm_usuario, @nm_email_analista, 
    @cd_contato, @nm_contato, @nm_email_contato, @dt_vencto_nac, @total
END
CLOSE c_EnviaMsg
DEALLOCATE c_EnviaMsg

-- Apaga a temporária
DROP TABLE #TVENCE_EADI











GO
