USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*
Insere os registros de eventos especifícos na TFLP_PO_ITEM
quando for criado um processo na gestão do pedido
Criada por alexandre gonçalves neto - 21.09.2004
*/

CREATE PROC [sp_flp_po_item] ( @nr_processo CHAR(18), @cd_empresa char(5), @nr_item char(3), @nr_item_cliente char(4), @cd_servico CHAR(3), @NR_PARCIAL INT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo     char(18),
        @cd_empresa      char(5),
        @nr_item         char(3),
        @nr_item_cliente char(4),
        @cd_servico      char(3),
        @nr_parcial      int

SELECT @nr_processo     = '4501062442',
       @cd_empresa      = '00061',
       @nr_item         = '001',
       @nr_item_cliente = '0001',
       @cd_servico      = '445',
       @nr_parcial      = 1
--*/
DECLARE @total int

--verifica se já existe o follow-up para o processo/item
SELECT @total = COUNT(*)
FROM TFLP_PO_ITEM ( NOLOCK )
WHERE NR_PROCESSO = @nr_processo
  AND CD_EMPRESA  = @cd_empresa
  AND NR_ITEM     = @nr_item    
  AND NR_PARCIAL  = @NR_PARCIAL

PRINT 'SP_FLP_PO_ITEM'
PRINT '@TOTAL: ' + CONVERT(VARCHAR, @TOTAL)
PRINT ''

--se o follow-up não existe, cria ele
--SELECT @TOTAL
IF @total <= 0
BEGIN
  INSERT TFLP_PO_ITEM ( NR_PROCESSO, CD_EMPRESA, NR_ITEM, NR_PARCIAL, NR_ITEM_CLIENTE, CD_EVENTO, IN_APLICAVEL, NR_ORDEM )
  SELECT @nr_processo, @cd_empresa, @nr_item, @NR_PARCIAL, @nr_item_cliente, CD_EVENTO ,'1', NR_ORDEM
  FROM TSERVICO_EVENTO ( NOLOCK )
  WHERE CD_SERVICO = @cd_servico
    AND CD_TIPO_EVENTO = '01'
END

/*
SELECT *
FROM TFLP_PO_ITEM
WHERE NR_PROCESSO = @NR_PROCESSO
  AND CD_EMPRESA  = @CD_EMPRESA

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/







GO
