USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_exp_repassa_ncm_naladi_doc]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0102ER-1884-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

UPDATE TPROCESSO_EXP_ITEM
SET    CD_ACORDO         = M.CD_ACORDO,
       CD_NORMAS         = M.CD_NORMA,
       CD_NCM_DOC        = M.CD_NCM_DOC,
       CD_NALADI_DOC     = M.CD_NALADI_SH_DOC,
       NR_SEQ_NCM_DOC    = M.NR_SEQ_NCM,
       NR_SEQ_NALADI_DOC = M.NR_SEQ_NALADI 
FROM   TACORDO_PAIS A, TMERC_EXP_ACORDO M, TNORMAS N, TPROCESSO_EXP P, TPROCESSO_EXP_ITEM I
WHERE  P.NR_PROCESSO = I.NR_PROCESSO AND
       P.NR_PROCESSO = @nr_processo AND
       M.CD_ACORDO = A.CD_ACORDO AND
       M.CD_NORMA = N.CODIGO AND
       A.CD_PAIS = P.CD_PAIS_DESTINO AND
       N.CD_PAIS = P.CD_PAIS_DESTINO AND
       M.CD_MERCADORIA = I.CD_MERCADORIA

/* Antigo ( sem Acordo / Norma )

UPDATE TPROCESSO_EXP_ITEM
SET    CD_NCM_DOC        = M.CD_NCM_DOC,
       CD_NALADI_DOC     = M.CD_NALADI_SH_DOC,
       NR_SEQ_NCM_DOC    = M.NR_SEQ_NCM,
       NR_SEQ_NALADI_DOC = M.NR_SEQ_NALADI 
FROM   TPROCESSO_EXP_ITEM I, TMERC_EXP_ACORDO M
WHERE  NR_PROCESSO = @nr_processo AND
       I.CD_MERCADORIA = M.CD_MERCADORIA AND
       I.CD_ACORDO = M.CD_ACORDO AND
       I.CD_NORMAS = M.CD_NORMA
*/


GO
