USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_recadastra_logins    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_recadastra_logins] AS
declare @usuario  varchar(20)
declare c_usuario cursor for
  select ap_usuario from tusuario where in_ativo = '1'
open c_usuario
fetch c_usuario into @usuario
while @@fetch_status <> -1
begin
  exec sp_inclui_login @usuario
  fetch c_usuario into @usuario
end
close c_usuario
deallocate c_usuario


GO
