USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_calc_vmle_mn] ( @nr_processo char(18) ) AS
DECLARE @cd_unid_neg  char(2)
DECLARE @cd_produto  char(2)
DECLARE @cd_cliente char(5)
DECLARE @cd_servico char(4)
DECLARE @cd_moeda_mle   char(3)
DECLARE @dt_abertura datetime
DECLARE @dt_fatura datetime
DECLARE @dt_hoje datetime
DECLARE @dt_base datetime
DECLARE @vl_taxa float
DECLARE @vl_mle_mn_calc numeric(14,2)
DECLARE @vl_mle_mn float
DECLARE @vl_mle_mneg float
DECLARE @tp_dt_base char(1)
DECLARE @cd_ev_embarque char(3)
SELECT @cd_unid_neg = CD_UNID_NEG,
       @cd_produto  = CD_PRODUTO,
       @cd_cliente = CD_CLIENTE,
       @cd_servico = CD_SERVICO,
       @dt_abertura = DT_ABERTURA,
       @cd_moeda_mle = CD_MOEDA_MLE,
       @vl_mle_mneg = VL_MLE_MNEG
FROM   TPROCESSO
WHERE  NR_PROCESSO  = @nr_processo
IF @@rowcount = 0 
BEGIN
  -- Processo nao encontrado
  RETURN(1)
END
IF @cd_produto = '02'
BEGIN
  SELECT @cd_ev_embarque  = CD_EV_EMBARQUE
  FROM   TPARAMETROS
  SELECT @dt_fatura   = MAX( F.DT_FATURA )
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO P
  WHERE  F.CD_UNID_NEG   = P.CD_UNID_NEG AND
         F.CD_PRODUTO   = P.CD_PRODUTO AND
         F.NR_SOLICITACAO = P.NR_SOLICITACAO AND
         F.TP_TIPO_FAT   = 'F'   AND
         F.IN_CANCELADO   = '0'   AND
         P.NR_PROCESSO    = @nr_processo 
  SELECT @dt_hoje = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )
  SELECT @tp_dt_base = MIN( TP_DT_BASE )
  FROM   TRECEITAS_EXP
  WHERE  CD_CLIENTE = @cd_cliente AND
         CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         CD_SERVICO = @cd_servico AND
         IN_ATIVO = '1'
  IF @@rowcount = 0 
  BEGIN
    -- Data Base para Moeda/Indice nao cadastrada
    RETURN(2)
  END
  SELECT @dt_base = ISNULL( (
      CASE
        WHEN @tp_dt_base = '1' THEN ( @dt_abertura )
        WHEN @tp_dt_base = '2' THEN ( @dt_fatura )
        WHEN @tp_dt_base = '3' THEN ( SELECT DT_REALIZACAO
                                      FROM   TFOLLOWUP 
                                      WHERE  NR_PROCESSO = @nr_processo AND
                                             CD_EVENTO   = @cd_ev_embarque )
      END ), @dt_hoje )
   
  SELECT @vl_taxa            = TX_CAMBIO
  FROM   TTAXA_CAMBIO
  WHERE  CD_MOEDA       =  @cd_moeda_mle AND
         DT_INICIO_VIGENCIA  <= @dt_base AND
         DT_TERMINO_VIGENCIA >= @dt_base 
  IF @@rowcount = 0 
  BEGIN
    -- Taxa de Cƒmbio do VMLE nao cadastrada
    RETURN(3)
  END
  SELECT @vl_mle_mn_calc = ROUND( ( @vl_mle_mneg * @vl_taxa ), 2 )
  SELECT @vl_mle_mn  = @vl_mle_mn_calc
  UPDATE TPROCESSO
  SET    VL_MLE_MN   = @vl_mle_mn_calc
  WHERE  NR_PROCESSO = @nr_processo
END



GO
