USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROC [sp_rel_armaz_rem] (@cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
                              @cd_armazem char(4), @cd_agente char(3), @cd_transportador char(4), @busca char(1), 
                              @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT)
AS 

/*
BEGIN TRAN

SET NOCOUNT ON 

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_armazem       char(4)
DECLARE @cd_agente 	  char(3)
DECLARE @cd_transportador char(4)
DECLARE @busca		  char(1)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime

DECLARE @nr_identificador int 

SELECT  @cd_unid_neg      = '01'
SELECT  @cd_produto       = '01'
SELECT  @cd_grupo         = 'X'
SELECT  @cd_cliente       = '00006'
SELECT  @cd_armazem       = 'X'
SELECT  @cd_agente	  = 'X'
SELECT  @cd_transportador = 'X'
SELECT  @busca		  = '1'
SELECT  @dt_inicio    = CONVERT( datetime, '01/10/2004', 103 )
SELECT  @dt_fim       = CONVERT( datetime, '30/10/2004', 103 ) 


ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ),0 ) + 1
FROM   TREL_ARMAZ_REM


-- Seleciona processos na TCAIXA que atendam ao filtro
SELECT C.NR_PROCESSO, C.CD_BANCO, C.NR_CHEQUE, C.VL_LANCAMENTO
INTO   #TMP_CHEQUE
FROM   TPROCESSO P (NOLOCK)
       INNER JOIN TCAIXA C (NOLOCK) ON ( P.NR_PROCESSO = C.NR_PROCESSO )
WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
       @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
       @cd_grupo IN ( P.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND  
       @cd_armazem  IN ( P.CD_ARMAZEM_DESCARGA, 'X' ) AND
       @cd_agente   IN ( P.CD_AGENTE, 'X' ) AND
       @cd_transportador IN ( P.CD_TRANSP_NAC, 'X' ) AND
       C.CD_ITEM IN ( '514', '015', '056' ) AND
       C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND
       C.IN_CANCELADO = '0'
ORDER BY C.NR_PROCESSO, C.CD_BANCO, C.NR_CHEQUE


DECLARE @nr_processo   char(18),     	 @cd_banco      char(3),		@nr_cheque     char(6),
        @vl_lancamento float,		 @tipo          varchar(80),   		@passa         varchar(80),
        @terc 	       varchar(80),	 @chave		varchar(15),		@vl_qtde       integer,
	@nm_volume     char(11)  	

SELECT @nr_processo AS NR_PROCESSO,  @cd_banco AS CD_BANCO, @nr_cheque AS NR_CHEQUE, @vl_lancamento AS VL_LANCAMENTO, 
       @tipo AS NM_EMBALAGEM, @vl_qtde AS VL_QTDE, @nm_volume AS NM_VOLUME  
INTO   #TMP_PROCESSO  
FROM   #TMP_CHEQUE
WHERE  1 = 0

-- Verifica se há cheques estornados e Tipo de Embalagem/Volume/Qtde
WHILE ( SELECT COUNT( NR_PROCESSO ) FROM #TMP_CHEQUE ) > 0
BEGIN
  SELECT @nr_processo = NR_PROCESSO, @cd_banco = CD_BANCO, @nr_cheque = NR_CHEQUE, @vl_lancamento = VL_LANCAMENTO
  FROM #TMP_CHEQUE

  IF ( SELECT COUNT(NR_PROCESSO) 
       FROM   #TMP_CHEQUE  
       WHERE  NR_PROCESSO = @nr_processo AND CD_BANCO = @cd_banco AND
              NR_CHEQUE = @nr_cheque AND VL_LANCAMENTO = @vl_lancamento ) < 2
  BEGIN
    -- Tipo da Embalagem/Volume/Qtde
 
    -- CARGA SOLTA
    SELECT @vl_qtde = SUM(VL_QTDE)
    FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo

    IF ( SELECT COUNT(NR_PROCESSO ) FROM TPROCESSO_CNTR P WHERE NR_PROCESSO = @nr_processo AND TP_CNTR = '01' ) > 0 
    BEGIN
      SET @nm_volume = 'Carga Solta'
      SELECT NR_PROCESSO, NR_SEQUENCIA, NM_ESPECIE
      INTO   #TMP_CARGA_SOLTA
      FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo 

      SET @tipo = ''
      SET @passa = ''
      SET @terc = ''
      WHILE ( SELECT COUNT( NR_PROCESSO ) FROM #TMP_CARGA_SOLTA ) > 0 
      BEGIN
        SELECT @chave = ( SELECT TOP 1 NR_SEQUENCIA FROM #TMP_CARGA_SOLTA )
        SET @passa = ( SELECT RTRIM( NM_ESPECIE ) + '/' FROM #TMP_CARGA_SOLTA WHERE NR_SEQUENCIA = @chave )
        SET @tipo = @terc + @passa
        SET @terc = @tipo  
     
        DELETE FROM #TMP_CARGA_SOLTA WHERE NR_SEQUENCIA = @chave
      END 
      IF LEN( @tipo ) > 4
        SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 1 )
 
      DROP TABLE #TMP_CARGA_SOLTA
    END
    ELSE
    BEGIN    
      -- CNTR
      SET @nm_volume = 'Contêiner' 
      SELECT COUNT( NR_CNTR ) AS CNTR, C.TP_CNTR AS TP_CNTR, C.NM_TP_CNTR
      INTO   #TMP_CNTR
      FROM   TPROCESSO_CNTR P (NOLOCK)
             INNER JOIN TTP_CNTR C (NOLOCK) ON ( P.TP_CNTR = C.TP_CNTR )
      WHERE  P.NR_PROCESSO = @nr_processo AND
             P.TP_CNTR <> '01'
      GROUP  BY C.TP_CNTR, NM_TP_CNTR
       
      SELECT @vl_qtde = ( SELECT COUNT( CNTR ) FROM #TMP_CNTR )  
      
      SET @tipo = ''
      SET @passa = ''
      SET @terc = ''
      WHILE ( SELECT COUNT( CNTR ) FROM #TMP_CNTR ) > 0 
      BEGIN
        SELECT @chave = ( SELECT TOP 1 TP_CNTR FROM #TMP_CNTR )
        SET @passa = ( SELECT RTRIM( NM_TP_CNTR ) + '/' FROM #TMP_CNTR WHERE TP_CNTR = @chave )
        SET @tipo = @terc + @passa
        SET @terc = @tipo  
     
        DELETE FROM #TMP_CNTR WHERE TP_CNTR = @chave
      END 
      IF LEN( @tipo ) > 4
        SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 1 )

      DROP TABLE #TMP_CNTR
    END

    INSERT #TMP_PROCESSO ( NR_PROCESSO, CD_BANCO, NR_CHEQUE, VL_LANCAMENTO, NM_EMBALAGEM, VL_QTDE, NM_VOLUME )
    VALUES ( @nr_processo, @cd_banco, @nr_cheque, @vl_lancamento, @tipo, @vl_qtde, @nm_volume )
  END

  DELETE FROM #TMP_CHEQUE WHERE NR_PROCESSO = @nr_processo AND CD_BANCO = @cd_banco AND NR_CHEQUE = @nr_cheque
END

-- Grava na tabela do relatório
INSERT TREL_ARMAZ_REM (NR_IDENTIFICADOR, NR_PROCESSO,
                      NM_EMPRESA, NM_ARM_DESCARGA, VL_ARMAZENAGEM, 
                      NM_AGENTE, NR_CONHECIMENTO, VL_FUMIGACAO, 
                      NM_ARM_ATRACACAO, AP_TRANSP_ROD, NM_EMBALAGEM, VL_QTDE,
                      NM_EMP_FUMIGACAO, NM_VOLUME )
SELECT DISTINCT @nr_identificador, SUBSTRING(P.NR_PROCESSO, 5, LEN(P.NR_PROCESSO)-4) AS NR_PROCESSO_INDAIA, 
      E.AP_EMPRESA, SUBSTRING( A.NM_ARMAZEM, 1, 20 ), SUM(TP.VL_LANCAMENTO) AS VALOR_ARMAZENAGEM,
      SUBSTRING( AG.NM_AGENTE, 1, 20 ), P.NR_CONHECIMENTO, F.VL_ITEM,
      SUBSTRING( A1.NM_ARMAZEM, 1, 20 ), T.AP_TRANSP_ROD, TP.NM_EMBALAGEM, TP.VL_QTDE,
      SUBSTRING( FV.NM_FAVORECIDO, 1, 20 ), TP.NM_VOLUME
FROM #TMP_PROCESSO TP
     INNER JOIN TPROCESSO P       (NOLOCK) ON ( TP.NR_PROCESSO = P.NR_PROCESSO )
     INNER JOIN TEMPRESA_NAC E    (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )
     LEFT  JOIN TARMAZEM A        (NOLOCK) ON ( P.CD_ARMAZEM_DESCARGA = A.CD_ARMAZEM ) 
     LEFT  JOIN TAGENTE AG        (NOLOCK) ON ( P.CD_AGENTE = AG.CD_AGENTE ) 
     LEFT  JOIN TARMAZEM A1       (NOLOCK) ON ( P.CD_ARMAZEM_ATRACACAO = A1.CD_ARMAZEM ) 
     LEFT  JOIN TTRANSP_ROD T     (NOLOCK) ON ( P.CD_TRANSP_NAC = T.CD_TRANSP_ROD )
     LEFT  JOIN TFATURAMENTO_CC F (NOLOCK) ON ( P.NR_PROCESSO = F.NR_PROCESSO AND F.CD_ITEM = '304' AND F.IN_CANCELADO = '0') 
     LEFT  JOIN TFAVORECIDO FV    (NOLOCK) ON ( F.CD_FAVORECIDO = FV.CD_FAVORECIDO )
GROUP BY  SUBSTRING(P.NR_PROCESSO, 5, LEN(P.NR_PROCESSO)-4), 
      E.AP_EMPRESA, A.NM_ARMAZEM, AG.NM_AGENTE, P.NR_CONHECIMENTO, F.VL_ITEM,
      A1.NM_ARMAZEM, T.AP_TRANSP_ROD, TP.NM_EMBALAGEM, TP.VL_QTDE, FV.NM_FAVORECIDO, TP.NM_VOLUME

DROP TABLE #TMP_CHEQUE

DROP TABLE #TMP_PROCESSO

/*
SELECT *
FROM TREL_ARMAZ_REM 
WHERE NR_IDENTIFICADOR = @nr_identificador
*/







GO
