USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_proc_itens_solic_ch    Script Date: 02/09/1999 08:59:02 AM ******/
/****** Object:  Stored Procedure dbo.sp_proc_itens_solic_ch    Script Date: 22/11/1998 10:59:49 ******/
/****** Object:  Stored Procedure dbo.sp_proc_itens_solic_ch    Script Date: 17/07/1998 12:06:55 ******/
/****** Object:  Stored Procedure dbo.sp_proc_itens_solic_ch    Script Date: 29/04/1998 12:18:55 ******/
CREATE PROCEDURE [sp_proc_itens_solic_ch]( @dt_solic_ch char(10), @nr_solic_ch char(3), @nr_lancamento char(3), @operacao char(1) ) AS
DECLARE @nr_processo        char(18)
DECLARE @nr_lanc_solic_ch   char(3)
DECLARE @cd_item            char(3)
DECLARE @cd_banco     char(3)
DECLARE @cd_usuario     char(4)
DECLARE @vl_item            numeric(14,2)
DECLARE @vl_ir              numeric(14,2)
DECLARE @vl_assist          numeric(14,2)
DECLARE @vl_despesa         numeric(14,2)
DECLARE @vl_solicitado      numeric(14,2)
DECLARE @vl_recebido        numeric(14,2)
DECLARE @vl_utilizado       numeric(14,2)
DECLARE @vl_saldo           numeric(14,2)
DECLARE @vl_saldo_proc      numeric(14,2)
DECLARE @cd_status_item     char(1)
DECLARE @in_liberacao       char(1)
DECLARE @in_restitui     char(1)
DECLARE @nr_devolucao     char(3)
DECLARE @nr_recebimento     char(3)
DECLARE @nr_lanc_receb      char(3)
SELECT @nr_processo      = NR_PROCESSO, 
       @nr_lanc_solic_ch = NR_LANCAMENTO,
       @cd_item          = CD_ITEM,
       @vl_item          = ISNULL( CONVERT( numeric(14,2), VL_ITEM) ,   0 ),
       @vl_ir            = ISNULL( CONVERT( numeric(14,2), VL_IR ),     0 ),
       @vl_assist        = ISNULL( CONVERT( numeric(14,2), VL_ASSIST ), 0 ),
       @cd_status_item   = CD_STATUS,
       @in_restitui  = IN_RESTITUI
FROM   TSOLIC_CHEQUE_ITENS (PAGLOCK HOLDLOCK)
WHERE  ( DT_SOLIC_CH   = @dt_solic_ch ) AND 
       ( NR_SOLIC_CH   = @nr_solic_ch ) AND 
       ( NR_LANCAMENTO = @nr_lancamento )
IF @@rowcount = 0
   RETURN(1)
SELECT @vl_despesa = @vl_item + @vl_assist
IF @in_restitui = '1' 
   SELECT @vl_despesa = @vl_despesa * (-1)
IF ( SELECT COUNT(*)
     FROM   TCLIENTE_BANCO_LIBERADO L,
            TSOLIC_CHEQUE S (PAGLOCK HOLDLOCK),
            TPROCESSO P
     WHERE  P.CD_CLIENTE  = L.CD_CLIENTE  AND
            P.CD_UNID_NEG = L.CD_UNID_NEG AND
            P.CD_PRODUTO  = L.CD_PRODUTO  AND
            S.CD_BANCO    = L.CD_BANCO    AND
            P.NR_PROCESSO = @nr_processo  AND
            S.DT_SOLIC_CH = @dt_solic_ch  AND
            S.NR_SOLIC_CH = @nr_solic_ch  AND
            L.IN_ATIVO    = '1' ) > 0
  SELECT @in_liberacao = '1'
ELSE
  SELECT @in_liberacao = '0'
IF @operacao = '+'
BEGIN
  IF @cd_status_item IS NULL
  BEGIN
    IF @in_liberacao = '1' OR @cd_item = '991' OR @in_restitui = '1'
    BEGIN
      SELECT @cd_status_item = '0'
    END
    ELSE
    BEGIN
      SELECT @vl_solicitado = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_SOLICITADO)    , 0) ) ),
             @vl_recebido   = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_RECEBIDO)      , 0) ) ), 
             @vl_utilizado  = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_UTILIZADO)     , 0) ) ), 
             @vl_saldo      = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_SALDO_ITEM)    , 0) ) ), 
             @vl_saldo_proc = ( MIN (ISNULL (CONVERT( numeric(14,2), VL_SALDO_PROCESSO), 0) ) ) 
      FROM   TNUMERARIO_SALDO_POR_ITEM
      WHERE  ( NR_PROCESSO = @nr_processo ) AND
             ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) )
      SELECT @cd_status_item =
      CASE
        WHEN ( ISNULL( @vl_saldo, 0 ) >= @vl_despesa ) AND
             ( ISNULL( @vl_saldo_proc, 0 ) >= @vl_despesa )  THEN '0'  /* Liberado pelo Sistema */
        WHEN ( ISNULL( @vl_solicitado, 0 ) = 0 )             THEN '2'  /* Numer rio nao solicitado */
        WHEN ( ISNULL( @vl_recebido, 0 )   = 0 )             THEN '3'  /* Numer rio nao recebido */
        ELSE '1'                                               /* Saldo Insuficiente */ 
      END
    END
    UPDATE TSOLIC_CHEQUE_ITENS 
    SET CD_STATUS = @cd_status_item 
    WHERE ( DT_SOLIC_CH = @dt_solic_ch ) AND 
          ( NR_SOLIC_CH = @nr_solic_ch ) AND 
          ( NR_LANCAMENTO = @nr_lancamento )
  END
END
ELSE
BEGIN
  DELETE TSOLIC_CHEQUE_ITENS
  WHERE  ( DT_SOLIC_CH = @dt_solic_ch ) AND 
         ( NR_SOLIC_CH = @nr_solic_ch ) AND 
         ( NR_LANCAMENTO = @nr_lancamento )
END
EXEC sp_soma_solic_ch @dt_solic_ch, @nr_solic_ch 
EXEC sp_liberar_solic_ch @dt_solic_ch, @nr_solic_ch 
IF @cd_status_item in ('0','4','6','8') AND @cd_item NOT IN ('991','992','993','997','998','987','988')
BEGIN
  EXEC sp_atualiza_utilizado @nr_processo, @cd_item, @vl_despesa, @operacao
END
IF @operacao = '+' AND @in_liberacao = '1' AND @cd_item NOT IN ('991','992','993','997','998','987','988') 
BEGIN
  IF @in_restitui = '0'
  BEGIN
    SELECT @cd_banco   = CD_BANCO,
           @cd_usuario = CD_USUARIO
    FROM   TSOLIC_CHEQUE
    WHERE  ( DT_SOLIC_CH = @dt_solic_ch ) AND 
           ( NR_SOLIC_CH = @nr_solic_ch ) 
    EXEC sp_gera_receb @nr_processo, @cd_item, @cd_banco, @vl_despesa, @cd_usuario, '0', @dt_solic_ch, @nr_solic_ch
  END
  ELSE
  BEGIN
    SELECT @nr_recebimento = NR_RECEBIMENTO,
    @nr_lanc_receb  = NR_LANC_RECEB
    FROM   TRECEBIMENTO_ITEM_RECEB
    WHERE  NR_PROCESSO     = @nr_processo AND
    CD_ITEM         = @cd_item     AND
           VL_RECEBIDO     > 0
    -- Existe Recebimento?
    IF ( @nr_recebimento IS NOT NULL ) AND ( @nr_lanc_receb IS NOT NULL )
    BEGIN
      SELECT @nr_devolucao = MAX( NR_DEVOLUCAO )
      FROM   TDEVOLUCAO
      WHERE  NR_PROCESSO = @nr_processo
      SELECT @nr_devolucao = RIGHT( ( '000' + CONVERT( char(3), ( CONVERT( integer, ISNULL( @nr_devolucao, '0') ) + 1 ) ) ), 3 )
      INSERT INTO TDEVOLUCAO
      VALUES ( @nr_processo, @nr_devolucao, CONVERT( datetime, CONVERT( char(10), GETDATE() ), 103 ), @cd_usuario, ( @vl_despesa * (-1) ), '0', NULL, NULL, '0', @dt_solic_ch, @nr_solic_ch, NULL, NULL  )
      INSERT INTO TDEVOLUCAO_ITENS
      VALUES ( @nr_processo, @nr_devolucao, '001', @nr_recebimento, @nr_lanc_receb, @cd_item, ( @vl_despesa * (-1) ), NULL, NULL, NULL )
      EXEC sp_atz_devolucao @nr_processo , @nr_devolucao
    END
    ELSE 
    BEGIN
      RETURN (2)
    END
  END
END




GO
