USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_apaga_itens_receb    Script Date: 02/09/1999 08:58:57 AM ******/
/****** Object:  Stored Procedure dbo.sp_apaga_itens_receb    Script Date: 31/03/1998 13:55:28 ******/
CREATE PROCEDURE [sp_apaga_itens_receb]( @nr_processo char(18), @nr_recebimento char(3) ) AS
DELETE FROM TRECEBIMENTO_ITEM_RECEB
WHERE  ( NR_PROCESSO    = @nr_processo ) AND 
       ( NR_RECEBIMENTO = @nr_recebimento )



GO
