USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_contabiliza_pagto_dinheiro_ctapagar](
                                        @cd_unid_neg char(2),
                                        @nr_cta_pagar char(3), 
                                        @cd_banco char(3), 
                                        @dt_movimento datetime, 
                                        @dt_pagto datetime, 
                                        @nr_docto varchar(20) ) AS

DECLARE @nr_conta_debito varchar(40)
DECLARE @nr_conta_credito varchar(40)
DECLARE @vl_lanc float
DECLARE @nm_hist VARCHAR(250)
DECLARE @cd_hist varchar(10)
DECLARE @cd_usuario char(4)
DECLARE @cd_favorecido char(5)
DECLARE @nr_outro_deb VARchar(40)
DECLARE @nr_outro_cre VARchar(40)
DECLARE @vl_debito numeric(15,2)
DECLARE @vl_credito numeric(15,2)

SET @vl_debito  = 0 
SET @vl_credito = 0 


SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_SNAME()

--CONTABILIZAR CREDITO - BAIXA BANCO
SELECT P.VL_ITEM AS VL_LANCAMENTO, C.CD_BANCO, CA.NR_CONTA_CONTABIL, 
       I.CD_HIST_PAGTO_BAIXAII, I.NM_HIST_PAGTO_BAIXAII
 INTO #TACPAGAR_BANCO
 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC_PROCESSO P, TITEM_CONTABIL I, TCONTA_CAIXA CA
 WHERE 1 = 0
--INSERIR NA TABELA TEMPORARIA
 INSERT #TACPAGAR_BANCO(VL_LANCAMENTO, CD_BANCO, CA.NR_CONTA_CONTABIL,
                           CD_HIST_PAGTO_BAIXAII, NM_HIST_PAGTO_BAIXAII)

 SELECT SUM(P.VL_ITEM) AS VL_LANCAMENTO, C.CD_BANCO, CA.NR_CONTA_CONTABIL,
        I.CD_HIST_PAGTO_BAIXAII, I.NM_HIST_PAGTO_BAIXAII

 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC_PROCESSO P, TITEM T , TITEM_CONTABIL I, TBANCO B, TCONTA_CAIXA CA 
 
 WHERE     C.NR_CTAAPAGAR         = @nr_cta_pagar
   AND     C.DT_CTAAPAGAR         = @dt_movimento
   AND     C.CD_UNID_NEG          = @cd_unid_neg
   AND     C.TP_PAGAMENTO         IN('$','D')
   AND     C.NR_CTAAPAGAR         = P.NR_CTAAPAGAR
   AND     C.DT_CTAAPAGAR         = P.DT_CTAAPAGAR
   AND     C.CD_UNID_NEG          = P.CD_UNID_NEG
   AND     C.CD_BANCO             = B.CD_BANCO
   AND     B.CD_BANCO             = CA.CD_BANCO   
   AND     P.CD_ITEM_SOLIC_PAGTO  = T.CD_ITEM 
   AND     T.CD_ITEM_CONTABIL     = I.CD_ITEM_CONTABIL
   AND     I.IN_CONTABILIZA       = '1' 
   AND     I.CD_MODULO_PAGTO_BAIX= '08'
   AND     I.IN_PAGTO_CRE_BAIXA   = '1' 
 GROUP BY  C.CD_BANCO,  
           CA.NR_CONTA_CONTABIL,
           I.CD_HIST_PAGTO_BAIXAII,
           I.NM_HIST_PAGTO_BAIXAII           
----------------------------------------   
---CONTABILIZAR LANCAMENTOS DE BAIXA CREDITO
WHILE (SELECT COUNT(*) FROM #TACPAGAR_BANCO)> 0 
BEGIN
  SELECT TOP 1 @vl_lanc = VL_LANCAMENTO, @nr_conta_credito  = NR_CONTA_CONTABIL,
               @cd_hist = CD_HIST_PAGTO_BAIXAII,  @nm_hist = NM_HIST_PAGTO_BAIXAII
           
  FROM #TACPAGAR_BANCO

SET @nm_hist = CASE
     WHEN @nm_hist = '[NPROC]' THEN @nr_cta_pagar
     WHEN @nm_hist = '[NDOC]'  THEN @nr_docto
     WHEN @nm_hist = '[DATA]'  THEN CONVERT(VARCHAR(10), @dt_pagto, 103)
  --   WHEN @nm_hist = '[NCLI]'  THEN @cd_cliente
    ELSE @nm_hist
   END
 
 SET @vl_credito = @vl_credito + @vl_lanc



 DELETE FROM #TACPAGAR_BANCO WHERE CD_BANCO  = @cd_banco 
                               AND ISNULL( CD_HIST_PAGTO_BAIXAII,'') = ISNULL(@cd_hist,'') 
END
DROP TABLE #TACPAGAR_BANCO
--***************************************************************************

--CONTABILIZAR DEBITO - BAIXA - FAVORECIDO
SELECT P.VL_ITEM AS VL_LANCAMENTO, C.CD_FORNECEDOR, F.NR_CONTA_CONTABIL, 
       I.CD_HIST_PAGTO_BAIXA, I.NM_HIST_PAGTO_BAIXA 
 INTO #TACPAGAR_FAV
 
 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC_PROCESSO P, TITEM_CONTABIL I, TFAVORECIDO F
 
 WHERE 1 = 0

--INSERIR NA TABELA TEMPORARIA

 INSERT #TACPAGAR_FAV(VL_LANCAMENTO, CD_FORNECEDOR, NR_CONTA_CONTABIL, 
                      CD_HIST_PAGTO_BAIXA, NM_HIST_PAGTO_BAIXA)
 SELECT SUM(P.VL_ITEM) AS VL_LANCAMENTO, C.CD_FORNECEDOR, F.NR_CONTA_CONTABIL, 
         I.CD_HIST_PAGTO_BAIXA, I.NM_HIST_PAGTO_BAIXA
 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC_PROCESSO P, TITEM T , TITEM_CONTABIL I, TFAVORECIDO F   
 WHERE     C.NR_CTAAPAGAR         = @nr_cta_pagar
   AND     C.DT_CTAAPAGAR         = @dt_movimento
   AND     C.CD_UNID_NEG          = @cd_unid_neg
   AND     C.TP_PAGAMENTO         IN('$','D')
   AND     C.NR_CTAAPAGAR         = P.NR_CTAAPAGAR
   AND     C.DT_CTAAPAGAR         = P.DT_CTAAPAGAR
   AND     C.CD_UNID_NEG          = P.CD_UNID_NEG
   AND     P.CD_ITEM_SOLIC_PAGTO  = T.CD_ITEM 
   AND     T.CD_ITEM_CONTABIL     = I.CD_ITEM_CONTABIL
   AND     I.IN_CONTABILIZA       = '1' 
   AND     I.CD_MODULO_PAGTO_BAIX = '08'
   AND     I.IN_PAGTO_DEB_BAIXA   = '4' 
   AND     C.CD_FORNECEDOR        = F.CD_FAVORECIDO
 GROUP BY  C.CD_FORNECEDOR,  
           F.NR_CONTA_CONTABIL, 
           I.CD_HIST_PAGTO_BAIXA,
           I.NM_HIST_PAGTO_BAIXA
----------------------------------------   
---CONTABILIZAR LANCAMENTOS DE DEBITO BAIXA
WHILE (SELECT COUNT(*) FROM #TACPAGAR_FAV)> 0 
BEGIN
  SELECT TOP 1 @vl_lanc = VL_LANCAMENTO,  @cd_favorecido = CD_FORNECEDOR,
     @nr_conta_debito  = NR_CONTA_CONTABIL,  @cd_hist = CD_HIST_PAGTO_BAIXA,  
     @nm_hist = NM_HIST_PAGTO_BAIXA     
  FROM #TACPAGAR_FAV

SET @nm_hist = CASE
     WHEN @nm_hist = '[NPROC]' THEN @nr_cta_pagar
     WHEN @nm_hist = '[NDOC]'  THEN @nr_docto
     WHEN @nm_hist = '[DATA]'  THEN CONVERT(VARCHAR(10), @dt_pagto, 103)
  --   WHEN @nm_hist = '[NCLI]'  THEN @cd_cliente
    ELSE @nm_hist
   END

 SET @vl_debito = @vl_debito + @vl_lanc
 
 DELETE FROM #TACPAGAR_FAV WHERE CD_FORNECEDOR  = @cd_favorecido 
                             AND ISNULL(CD_HIST_PAGTO_BAIXA,'') = ISNULL(@cd_hist,'') 
                           --  AND NM_HIST_PAGTO_BAIXA = @nm_hist 
END
DROP TABLE #TACPAGAR_FAV


--CONTABILIZAR DEBITOO - BAIXA - OUTRO
SELECT P.VL_ITEM AS VL_LANCAMENTO, C.NR_OUTRO_PAGTO_DEB_BAIXA, C.CD_HIST_PAGTO_BAIXA, 
       C.NM_HIST_PAGTO_BAIXA    
 INTO #TPAGTO_OUTRO_DEB
  FROM TCTAAPAGAR_LANC_PROCESSO P, TITEM_CONTABIL C
 WHERE 1 = 0

 INSERT #TPAGTO_OUTRO_DEB(VL_LANCAMENTO, NR_OUTRO_PAGTO_DEB_BAIXA, CD_HIST_PAGTO_BAIXA, 
                           NM_HIST_PAGTO_BAIXA)

 SELECT SUM(P.VL_ITEM) AS VL_LANCAMENTO, I.NR_OUTRO_PAGTO_DEB_BAIXA, I.CD_HIST_PAGTO_BAIXA, 
        I.NM_HIST_PAGTO_BAIXA

 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC_PROCESSO P, TITEM T , TITEM_CONTABIL I
 
 WHERE     C.NR_CTAAPAGAR         = @nr_cta_pagar
   AND     C.DT_CTAAPAGAR         = @dt_movimento
   AND     C.CD_UNID_NEG          = @cd_unid_neg
   AND     C.TP_PAGAMENTO         IN('$','D')
   AND     C.NR_CTAAPAGAR         = P.NR_CTAAPAGAR
   AND     C.DT_CTAAPAGAR         = P.DT_CTAAPAGAR
   AND     C.CD_UNID_NEG          = P.CD_UNID_NEG
   AND     P.CD_ITEM_SOLIC_PAGTO  = T.CD_ITEM 
   AND     T.CD_ITEM_CONTABIL     = I.CD_ITEM_CONTABIL
   AND     I.IN_CONTABILIZA       = '1' 
   AND     I.CD_MODULO_PAGTO_BAIX= '08'
   AND     I.IN_PAGTO_DEB_BAIXA   = '6' 
 GROUP BY  I.NR_OUTRO_PAGTO_DEB_BAIXA, 
           I.CD_HIST_PAGTO_BAIXA,
           I.NM_HIST_PAGTO_BAIXA


WHILE (SELECT COUNT(*) FROM #TPAGTO_OUTRO_DEB)> 0 
BEGIN
 SELECT TOP 1 @vl_lanc = VL_LANCAMENTO, @nr_outro_deb = NR_OUTRO_PAGTO_DEB_BAIXA,
              @cd_hist = CD_HIST_PAGTO_BAIXA, @nm_hist = NM_HIST_PAGTO_BAIXA 
 FROM #TPAGTO_OUTRO_DEB

SET @nm_hist = CASE
     WHEN @nm_hist = '[NPROC]' THEN @nr_cta_pagar
     WHEN @nm_hist = '[NDOC]'  THEN @nr_docto
     WHEN @nm_hist = '[DATA]'  THEN CONVERT(VARCHAR(10), @dt_pagto, 103)
  --   WHEN @nm_hist = '[NCLI]'  THEN @cd_cliente
    ELSE @nm_hist
   END
 
 SET @vl_debito = @vl_debito + @vl_lanc
  
 DELETE FROM #TPAGTO_OUTRO_DEB WHERE NR_OUTRO_PAGTO_DEB_BAIXA = @nr_outro_deb 
                                  AND ISNULL(CD_HIST_PAGTO_BAIXA,'') = ISNULL(@cd_hist,'')
END
DROP TABLE #TPAGTO_OUTRO_DEB


--CONTABILIZAR CREDITO - BAIXA - OUTRO
SELECT P.VL_ITEM AS VL_LANCAMENTO, C.NR_OUTRO_PAGTO_CRE_BAIXA, C.CD_HIST_PAGTO_BAIXA, 
       C.NM_HIST_PAGTO_BAIXA    
 INTO #TPAGTO_OUTRO_CRE
  FROM TCTAAPAGAR_LANC_PROCESSO P, TITEM_CONTABIL C
 WHERE 1 = 0

 INSERT #TPAGTO_OUTRO_CRE(VL_LANCAMENTO, NR_OUTRO_PAGTO_CRE_BAIXA, CD_HIST_PAGTO_BAIXA, 
                           NM_HIST_PAGTO_BAIXA)

 SELECT SUM(P.VL_ITEM) AS VL_LANCAMENTO, I.NR_OUTRO_PAGTO_CRE_BAIXA, I.CD_HIST_PAGTO_BAIXA, 
        I.NM_HIST_PAGTO_BAIXA

 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC_PROCESSO P, TITEM T , TITEM_CONTABIL I
 
 WHERE     C.NR_CTAAPAGAR         = @nr_cta_pagar
   AND     C.DT_CTAAPAGAR         = @dt_movimento
   AND     C.CD_UNID_NEG          = @cd_unid_neg
   AND     C.TP_PAGAMENTO         IN('$','D')
   AND     C.NR_CTAAPAGAR         = P.NR_CTAAPAGAR
   AND     C.DT_CTAAPAGAR         = P.DT_CTAAPAGAR
   AND     C.CD_UNID_NEG          = P.CD_UNID_NEG
   AND     P.CD_ITEM_SOLIC_PAGTO  = T.CD_ITEM 
   AND     T.CD_ITEM_CONTABIL     = I.CD_ITEM_CONTABIL
   AND     I.IN_CONTABILIZA       = '1' 
   AND     I.CD_MODULO_PAGTO_BAIX= '08'
   AND     I.IN_PAGTO_CRE_BAIXA   = '6' 
 GROUP BY  I.NR_OUTRO_PAGTO_CRE_BAIXA, 
           I.CD_HIST_PAGTO_BAIXA,
           I.NM_HIST_PAGTO_BAIXA


WHILE (SELECT COUNT(*) FROM #TPAGTO_OUTRO_CRE)> 0 
BEGIN
 SELECT TOP 1 @vl_lanc = VL_LANCAMENTO, @nr_outro_cre = NR_OUTRO_PAGTO_CRE_BAIXA,
              @cd_hist = CD_HIST_PAGTO_BAIXA, @nm_hist = NM_HIST_PAGTO_BAIXA 
 FROM #TPAGTO_OUTRO_CRE

SET @nm_hist = CASE
     WHEN @nm_hist = '[NPROC]' THEN @nr_cta_pagar
     WHEN @nm_hist = '[NDOC]'  THEN @nr_docto
     WHEN @nm_hist = '[DATA]'  THEN CONVERT(VARCHAR(10), @dt_pagto, 103)
  --   WHEN @nm_hist = '[NCLI]'  THEN @cd_cliente
    ELSE @nm_hist
   END

 SET @vl_credito = @vl_credito + @vl_lanc
 
 DELETE FROM #TPAGTO_OUTRO_CRE WHERE NR_OUTRO_PAGTO_CRE_BAIXA = @nr_outro_cre 
                                  AND ISNULL(CD_HIST_PAGTO_BAIXA,'') = ISNULL(@cd_hist,'')
END
DROP TABLE #TPAGTO_OUTRO_CRE


-- exec sp_log_contabil @dt_pagto, @nr_docto, '08', @vl_debito, @vl_credito







GO
