USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_si_digito]( @cd_ct_contabil char(10), @digito tinyint OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_ct_contabil char(10)
SELECT @cd_ct_contabil = '1120100119'

DECLARE @digito tinyint
*/

DECLARE @i tinyint
DECLARE @j tinyint
DECLARE @soma int

SELECT @cd_ct_contabil = '0' + SUBSTRING( @cd_ct_contabil, 1, 9 )

-- Gerando zeros + dígito de verificação
SELECT @i = 11
SELECT @j = 1
SELECT @soma = 0

WHILE @i > 1
BEGIN
  SELECT @soma = @soma + ( @i * CONVERT( int, ( SUBSTRING( @cd_ct_contabil, @j, 1 ) ) ) )

  SELECT @i = @i - 1
  SELECT @j = @j + 1
END

SELECT @digito = CASE 11 - ( @soma - ( ( @soma / 11 ) * 11 ) ) 
                   WHEN '10' THEN '0'
                   WHEN '11' THEN '1'
                   ELSE 11 - ( @soma - ( ( @soma / 11 ) * 11 ) ) 
                 END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
