USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored Procedure dbo.sp_exclui_di    Script Date: 02/09/1999 08:58:11 AM ******/
CREATE PROCEDURE [sp_li_exclui]( @nr_processo char(18) ) AS
BEGIN TRANSACTION
  DELETE FROM TLICENCA_IMPORTACAO WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TLICENCA_ITENS      WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TLICENCA_NVE      WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TPROC_ANUENTES      WHERE ( NR_PROCESSO = @nr_processo )
  IF @@error != 0
  BEGIN
    ROLLBACK TRANSACTION
    RETURN(1)
  END
COMMIT TRANSACTION
RETURN(0)
GO
