USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_calc_movimentacao]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_armazem     char(4)
DECLARE @tp_taxa        char(1)
DECLARE @erro  int
SELECT  @Resultado      = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_armazem  = CD_ARMAZEM_DESCARGA
FROM   TPROCESSO
WHERE  ( NR_PROCESSO = @nr_processo ) 
IF @@rowcount = 0
BEGIN
  -- Processo nao encontrado
  RETURN(1)
END
ELSE
BEGIN
  SELECT @tp_taxa = TP_TAXA
  FROM   TARMAZEM
  WHERE  CD_ARMAZEM = @cd_armazem
  IF @@rowcount = 0
  BEGIN
    -- Armaz'm nao encontrado
    RETURN(2)
  END
  ELSE
  BEGIN
    IF @tp_taxa = '1' EXEC @erro = sp_calc_mov_codesp @nr_processo, @cd_item, @Resultado output
    -- Taxa CODESP nao cadastrada
    IF @erro = 2 RETURN(3)
    -- Taxa de Cƒmbio nao cadastrada
    IF @erro = 3 RETURN(4)
    IF @tp_taxa = '2' EXEC @erro = sp_calc_carregamento_tra @nr_processo, @cd_item, @Resultado output
    -- Taxa TRA nao cadastrada
    IF @erro = 2 RETURN(5)
  END
END



GO
