USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_pe_desmarca] ( @cd_unid_neg char(2) ) AS

UPDATE TPE_ITEM
SET IN_SELECIONADO =  0
WHERE (IN_SELECIONADO = '1') and (IN_MONTADO <> '1') and (CD_UNID_NEG = @cd_unid_neg)

UPDATE TPE 
SET IN_SELECIONADO = 0
WHERE (IN_SELECIONADO = '1')  and (CD_UNID_NEG = @cd_unid_neg)










GO
