USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROC [sp_rel_followup_navio] @cd_unid_neg char(2), @cd_produto char(2), 
                                  @cd_grupo char(3), @cd_cliente char(5), 
                                  @dt_inicio char(10), @dt_fim char(10),      
                                  @cd_embarcacao char(4), @cd_area char(2),
                                  @cd_analista_comissaria char(4),
                                  @in_obs char(1),
                                  @cd_servico char(3),
                                  @nr_identificador int OUTPUT AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @cd_unid_neg char(2) 
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio char(10)
DECLARE @dt_fim char(10)
DECLARE @cd_embarcacao char(4)
DECLARE @cd_area char(2)
DECLARE @cd_analista_comissaria char(4)
DECLARE @in_obs char(1)
DECLARE @cd_servico char(3)

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = '01/01/2001'
SELECT @dt_fim    = '01/06/2001'
SELECT @cd_embarcacao = 'X'
SELECT @cd_area = 'X'
SELECT @cd_analista_comissaria = 'X'
SELECT @in_obs = '1'
SELECT @cd_servico  = '016'
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_FOLLOWUP_NAVIO (TABLOCK HOLDLOCK)

IF @dt_inicio = 'X' OR @dt_fim = 'X'
BEGIN
  INSERT TREL_FOLLOWUP_NAVIO ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, NR_PROCESSO, CD_REFERENCIA, NM_EMBARCACAO, CD_CANAL, NR_VIAGEM,
                               NM_EMPRESA, ARM_ATRAC, ARM_DESC, NM_URGENCIA, NM_AGENTE, NM_AREA, NM_AREA_SUB, DT_CI, DT_ESPERA_NAVIO, DT_ENT, DT_DESOVA, DT_LIB_BL, 
                               DT_REC_DOC, DT_DOC_OK, DT_DESEMB, DT_CAMBIO, DT_REG_DI, DT_ENT_MERC, DT_NF_TRANSP, DT_PRES_CARGA, DT_PREV_FABRICA, TX_OBS, TX_MERC )
    SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, S.CD_SERVICO, P.NR_PROCESSO, REF.CD_REFERENCIA, EMB.NM_EMBARCACAO, P.CD_CANAL, P.NR_VIAGEM,
           E.AP_EMPRESA, ARM_ATRAC.NM_ARMAZEM ARM_ATRAC, ARM_DESC.NM_ARMAZEM ARM_DESC, Y.TX_YESNO NM_URGENCIA, AG.NM_AGENTE, AREA.NM_AREA,
           ( SELECT TOP 1 AR.NM_AREA
               FROM TREF_CLIENTE RF (NOLOCK), TAREA AR (NOLOCK)
              WHERE P.NR_PROCESSO = RF.NR_PROCESSO AND
                    RF.CD_AREA    = AR.CD_AREA ) AS NM_AREA_SUB,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_CI FROM TPARAMETROS (NOLOCK) ) ) DT_CI,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS (NOLOCK) ) ) DT_ESPERA_NAVIO,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) ) DT_ENT,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_DESOVA FROM TPARAMETROS (NOLOCK) ) ) DT_DESOVA,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_LIB_BL FROM TPARAMETROS (NOLOCK) ) ) DT_LIB_BL,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_RECEB_DOC FROM TPARAMETROS (NOLOCK) ) ) DT_REC_DOC,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS (NOLOCK) ) ) DT_DOC_OK,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) ) ) DT_DESEMB,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_CAMBIO_OK FROM TPARAMETROS (NOLOCK) ) ) DT_CAMBIO,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS (NOLOCK) ) ) DT_REG_DI,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND                     F.CD_EVENTO = ( SELECT CD_EV_ENT_REC_FED FROM TPARAMETROS (NOLOCK) ) ) DT_ENT_MERC,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS (NOLOCK) ) ) DT_NF_TRANSP,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_PRES_CARGA FROM TPARAMETROS (NOLOCK) ) ) DT_PRES_CARGA,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_PREV_ENTR_MERC FROM TPARAMETROS (NOLOCK) ) ) DT_PREV_FABRICA,
           CASE @in_obs
             WHEN '1' THEN P.TX_OBSERVACOES
             ELSE NULL
           END,
           P.TX_MERCADORIA 
    FROM   TPROCESSO P (NOLOCK),
           TEMBARCACAO EMB (NOLOCK),
           TAREA AREA (NOLOCK),
           TAGENTE AG (NOLOCK),
           TARMAZEM ARM_ATRAC (NOLOCK),
           TARMAZEM ARM_DESC (NOLOCK),
           TEMPRESA_NAC E (NOLOCK),  
           TREF_CLIENTE REF (NOLOCK),
           TYES_NO Y (NOLOCK),
           VW_SERVICO_GERAL S (NOLOCK)    WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
           @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
           @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
           @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
           @cd_servico IN ( S.CD_SERVICO, 'X' ) AND
           @cd_embarcacao IN ( P.CD_EMBARCACAO, 'X' ) AND
           @cd_area IN ( P.CD_AREA, 'X' ) AND
           P.CD_EMBARCACAO *= EMB.CD_EMBARCACAO AND
           P.CD_AREA *= AREA.CD_AREA AND
           P.CD_AGENTE *= AG.CD_AGENTE AND
           P.CD_SERVICO = S.CD_SERVICO AND
           P.IN_URGENTE = Y.CD_YESNO AND
           P.CD_ARMAZEM_ATRACACAO *= ARM_ATRAC.CD_ARMAZEM AND
           P.CD_ARMAZEM_DESCARGA *= ARM_DESC.CD_ARMAZEM AND
           P.CD_CLIENTE = E.CD_EMPRESA AND       
           P.NR_PROCESSO *= REF.NR_PROCESSO AND
           REF.NR_SEQUENCIA = ( SELECT MIN( NR_SEQUENCIA ) FROM TREF_CLIENTE REF2 (NOLOCK) WHERE P.NR_PROCESSO = REF2.NR_PROCESSO ) AND
           ( 
             ( NOT EXISTS( SELECT DT_REALIZACAO
                           FROM   TFOLLOWUP CONCLUSOR (NOLOCK)
                           WHERE  CONCLUSOR.NR_PROCESSO = P.NR_PROCESSO AND
                                  CONCLUSOR.CD_EVENTO IN ( SELECT CD_EVENTO_CONCLUSOR FROM VW_SERVICO_GERAL SE (NOLOCK) WHERE P.CD_SERVICO = SE.CD_SERVICO ) AND
                                  CONCLUSOR.IN_APLICAVEL = '1' AND 
                                  CONCLUSOR.DT_REALIZACAO IS NOT NULL ) )  OR 
             ( EXISTS( SELECT DT_REALIZACAO
                       FROM   TFOLLOWUP CONCLUSOR (NOLOCK)
                       WHERE  CONCLUSOR.NR_PROCESSO = P.NR_PROCESSO AND
                              CONCLUSOR.CD_EVENTO IN ( SELECT CD_EVENTO_CONCLUSOR FROM VW_SERVICO_GERAL SE (NOLOCK) WHERE P.CD_SERVICO = SE.CD_SERVICO ) AND
                              CONCLUSOR.IN_APLICAVEL = '1' AND
                              ( CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ) <= ( CONCLUSOR.DT_REALIZACAO + 1 ) ) ) ) ) AND 
           P.CD_EMBARCACAO IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( ( P.CD_ANALISTA_COMISSARIA = @cd_analista_comissaria ) OR ( @cd_analista_comissaria = 'X' ) )
END
ELSE
BEGIN
    INSERT TREL_FOLLOWUP_NAVIO ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, NR_PROCESSO, CD_REFERENCIA, NM_EMBARCACAO, CD_CANAL, NR_VIAGEM,
                               NM_EMPRESA, ARM_ATRAC, ARM_DESC, NM_URGENCIA, NM_AGENTE, NM_AREA, NM_AREA_SUB, DT_CI, DT_ESPERA_NAVIO, DT_ENT, DT_DESOVA, DT_LIB_BL, 
                               DT_REC_DOC, DT_DOC_OK, DT_DESEMB, DT_CAMBIO, DT_REG_DI, DT_ENT_MERC, DT_NF_TRANSP, DT_PRES_CARGA, DT_PREV_FABRICA, TX_OBS, TX_MERC )
    SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, S.CD_SERVICO, P.NR_PROCESSO, REF.CD_REFERENCIA, EMB.NM_EMBARCACAO, P.CD_CANAL, P.NR_VIAGEM,
           E.AP_EMPRESA, ARM_ATRAC.NM_ARMAZEM ARM_ATRAC, ARM_DESC.NM_ARMAZEM ARM_DESC, Y.TX_YESNO NM_URGENCIA, AG.NM_AGENTE, AREA.NM_AREA,
           ( SELECT TOP 1 AR.NM_AREA
               FROM TREF_CLIENTE RF (NOLOCK), TAREA AR (NOLOCK)
              WHERE P.NR_PROCESSO = RF.NR_PROCESSO AND
                    RF.CD_AREA    = AR.CD_AREA ) AS NM_AREA_SUB,   
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_CI FROM TPARAMETROS (NOLOCK) ) ) DT_CI,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS (NOLOCK) ) ) DT_ESPERA_NAVIO,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) ) DT_ENT,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_DESOVA FROM TPARAMETROS (NOLOCK) ) ) DT_DESOVA,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_LIB_BL FROM TPARAMETROS (NOLOCK) ) ) DT_LIB_BL,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_RECEB_DOC FROM TPARAMETROS (NOLOCK) ) ) DT_REC_DOC,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS (NOLOCK) ) ) DT_DOC_OK,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) ) ) DT_DESEMB,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_CAMBIO_OK FROM TPARAMETROS (NOLOCK) ) ) DT_CAMBIO,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS (NOLOCK) ) ) DT_REG_DI,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_ENT_REC_FED FROM TPARAMETROS (NOLOCK) ) ) DT_ENT_MERC,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS (NOLOCK) ) ) DT_NF_TRANSP,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_PRES_CARGA FROM TPARAMETROS (NOLOCK) ) ) DT_PRES_CARGA,
           ( SELECT F.DT_REALIZACAO 
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                    F.CD_EVENTO = ( SELECT CD_EV_PREV_ENTR_MERC FROM TPARAMETROS (NOLOCK) ) ) DT_PREV_FABRICA,
           CASE @in_obs
             WHEN '1' THEN P.TX_OBSERVACOES
             ELSE NULL
           END,
           P.TX_MERCADORIA
    FROM   TPROCESSO P (NOLOCK),
           TEMBARCACAO EMB (NOLOCK),
           TAREA AREA (NOLOCK),
           TAGENTE AG (NOLOCK),
           TARMAZEM ARM_ATRAC (NOLOCK),
           TARMAZEM ARM_DESC (NOLOCK),
           TEMPRESA_NAC E (NOLOCK), 
           TREF_CLIENTE REF (NOLOCK),
           TYES_NO Y (NOLOCK),
           VW_SERVICO_GERAL S (NOLOCK)
    WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
           @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
           @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
           @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
           @cd_servico IN ( S.CD_SERVICO, 'X' ) AND
           @cd_embarcacao IN ( P.CD_EMBARCACAO, 'X' ) AND
           @cd_area IN ( P.CD_AREA, 'X' ) AND
           P.CD_EMBARCACAO *= EMB.CD_EMBARCACAO AND
           P.CD_AREA *= AREA.CD_AREA AND
           P.CD_AGENTE *= AG.CD_AGENTE AND
           P.CD_SERVICO = S.CD_SERVICO AND
           P.IN_URGENTE = Y.CD_YESNO AND
           P.CD_ARMAZEM_ATRACACAO *= ARM_ATRAC.CD_ARMAZEM AND
           P.CD_ARMAZEM_DESCARGA *= ARM_DESC.CD_ARMAZEM AND
           P.CD_CLIENTE = E.CD_EMPRESA AND       
           P.NR_PROCESSO *= REF.NR_PROCESSO AND
           REF.NR_SEQUENCIA = ( SELECT MIN( NR_SEQUENCIA ) FROM TREF_CLIENTE REF2 (NOLOCK) WHERE P.NR_PROCESSO = REF2.NR_PROCESSO ) AND
           ( 
             ( NOT EXISTS( SELECT DT_REALIZACAO
                           FROM   TFOLLOWUP CONCLUSOR (NOLOCK)
                           WHERE  CONCLUSOR.NR_PROCESSO = P.NR_PROCESSO AND
                                  CONCLUSOR.CD_EVENTO IN ( SELECT CD_EVENTO_CONCLUSOR FROM VW_SERVICO_GERAL SE (NOLOCK) WHERE P.CD_SERVICO = SE.CD_SERVICO ) AND
                                  CONCLUSOR.IN_APLICAVEL = '1' AND 
                                  CONCLUSOR.DT_REALIZACAO IS NOT NULL ) )  OR 
             ( EXISTS( SELECT DT_REALIZACAO
                       FROM   TFOLLOWUP CONCLUSOR (NOLOCK)
                       WHERE  CONCLUSOR.NR_PROCESSO = P.NR_PROCESSO AND
                              CONCLUSOR.CD_EVENTO IN ( SELECT CD_EVENTO_CONCLUSOR FROM VW_SERVICO_GERAL SE (NOLOCK) WHERE P.CD_SERVICO = SE.CD_SERVICO ) AND
                              CONCLUSOR.IN_APLICAVEL = '1' AND
                              ( CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ) <= ( CONCLUSOR.DT_REALIZACAO + 1 ) ) ) ) 
           ) AND          
           P.CD_EMBARCACAO IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( ( P.CD_ANALISTA_COMISSARIA = @cd_analista_comissaria ) OR ( @cd_analista_comissaria = 'X' ) ) AND
           ( ( 
               EXISTS ( SELECT DT_REALIZACAO
                        FROM   TFOLLOWUP ENT (NOLOCK)
                        WHERE  ENT.NR_PROCESSO = P.NR_PROCESSO AND
                               ENT.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
                               ENT.IN_APLICAVEL = '1' ) AND
               EXISTS( SELECT DT_REALIZACAO
                       FROM   TFOLLOWUP ENT (NOLOCK)
                       WHERE  ENT.NR_PROCESSO = P.NR_PROCESSO AND
                              ENT.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
                              ENT.IN_APLICAVEL = '1' AND
                              ENT.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) 
             ) OR
             ( 
               NOT EXISTS ( SELECT DT_REALIZACAO
                            FROM   TFOLLOWUP ENT (NOLOCK)
                            WHERE  ENT.NR_PROCESSO = P.NR_PROCESSO AND
                                   ENT.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
                                   ENT.IN_APLICAVEL = '1' AND 
                                   ENT.DT_REALIZACAO IS NOT NULL ) AND 
               EXISTS ( SELECT DT_REALIZACAO
                        FROM   TFOLLOWUP ESPERADO (NOLOCK)
                        WHERE  ESPERADO.NR_PROCESSO = P.NR_PROCESSO AND
                               ESPERADO.CD_EVENTO IN ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS (NOLOCK) ) AND
                               ESPERADO.IN_APLICAVEL = '1' AND
                               ESPERADO.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) 
             ) OR
             ( 
               NOT EXISTS ( SELECT DT_REALIZACAO
                            FROM   TFOLLOWUP ENT (NOLOCK)
                            WHERE  ENT.NR_PROCESSO = P.NR_PROCESSO AND
                                   ENT.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
                                   ENT.IN_APLICAVEL = '1' ) AND 
               NOT EXISTS ( SELECT DT_REALIZACAO
                            FROM   TFOLLOWUP ESPERADO (NOLOCK)
                            WHERE  ESPERADO.NR_PROCESSO = P.NR_PROCESSO AND
                                   ESPERADO.CD_EVENTO IN ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS (NOLOCK) ) AND
                                   ESPERADO.IN_APLICAVEL = '1' ) 
             ) ) 
END

/*
SELECT NR_IDENTIFICADOR,CD_UNID_NEG,CD_PRODUTO,NR_PROCESSO, DT_PREV_FABRICA
 FROM TREL_FOLLOWUP_NAVIO ORDER BY DT_ENT, DT_ESPERA_NAVIO, NM_EMBARCACAO

ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
