USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_pe_exclui    Script Date: 07/04/2000 08:58:11 AM ******/
CREATE PROCEDURE [sp_pe_exclui]( @nr_processo char(18), @cd_unid_neg char(2) ) AS
  DELETE FROM TPE              WHERE ( NR_PROCESSO = @nr_processo ) AND CD_UNID_NEG = @cd_unid_neg
  DELETE FROM TPE_ITEM   WHERE ( NR_PROCESSO = @nr_processo ) AND CD_UNID_NEG = @cd_unid_neg





GO
