USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_EXCLUI_SERVICO_EVENTO_NOVO](@cd_servico INT, @cd_evento char(3), @in_consiste bit) AS
BEGIN
    DECLARE @nr_ordem int

    IF @in_consiste = 1
    BEGIN
      IF ( SELECT COUNT(*) 
           FROM TSERVICO_EVENTO_NOVO
           WHERE CD_SERVICO = @cd_servico
             AND (CD_EV_BASICO = @cd_evento OR CD_EV_FUTURO = @cd_evento)) > 0
         RETURN (1)
    END

    SELECT @nr_ordem = nr_ordem
    FROM TSERVICO_EVENTO_NOVO
    WHERE CD_SERVICO = @cd_servico
      AND CD_EVENTO  = @cd_evento

    DELETE TSERVICO_EVENTO_NOVO
    WHERE CD_SERVICO = @cd_servico
      AND CD_EVENTO  = @cd_evento

    UPDATE TSERVICO_EVENTO_NOVO
    SET NR_ORDEM = NR_ORDEM - 1
    WHERE CD_SERVICO = @cd_servico
    AND NR_ORDEM > @nr_ordem

    RETURN (0)
END

GO
