USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_calc_padrao] ( @nr_processo char(18), @nr_solicitacao char(3)) AS
DECLARE @tp_destino      char(1)
DECLARE @cd_destino      char(3)
DECLARE @cd_item         char(3)
DECLARE @cd_banco        char(3)
DECLARE @cd_banco_deb_cc char(3)
DECLARE @cd_banco_com    char(3)
DECLARE @cd_banco_deb_com char(3)
DECLARE @nm_stored_proc  varchar(30)
DECLARE @nr_lancamento   char(3)
DECLARE @nr_lanc         int
DECLARE @vl_calculado    numeric(14,2)
DECLARE @erro   int
DECLARE @cd_usuario      char(4)
DECLARE @cd_base_calc char(1)

IF ( SELECT COUNT(*) 
     FROM   TPROCESSO P,
            TCLIENTE_NUMERARIO N
     WHERE  P.CD_CLIENTE     = N.CD_CLIENTE     AND
            P.CD_UNID_NEG    = N.CD_UNID_NEG    AND
            P.CD_PRODUTO     = N.CD_PRODUTO     AND
            P.CD_SERVICO     = N.CD_SERVICO     AND
            P.NR_PROCESSO    = @nr_processo     AND
            N.NR_SOLICITACAO = @nr_solicitacao ) > 0
BEGIN
  SELECT @cd_base_calc = CD_BASE_CALCULO
  FROM TNUMERARIO
  WHERE NR_PROCESSO = @nr_processo AND
    NR_SOLICITACAO = @nr_solicitacao

  SELECT @nr_lanc = 0
  SELECT @cd_banco_deb_cc = ISNULL(S.CD_BANCO_DEB_CC, ''),  @cd_banco_com = ISNULL(S.CD_BANCO_COM, ''),
	 @cd_banco_deb_com = ISNULL(S.CD_BANCO_DEB_COM, '')
    FROM   TPROCESSO P,
           TCLIENTE_SERVICO S
    WHERE  P.CD_CLIENTE     = S.CD_CLIENTE     AND
           P.CD_UNID_NEG    = S.CD_UNID_NEG    AND
           P.CD_PRODUTO     = S.CD_PRODUTO     AND
           P.CD_SERVICO     = S.CD_SERVICO     AND
           P.NR_PROCESSO    = @nr_processo

  DECLARE c_numerario CURSOR FOR
    SELECT N.CD_ITEM, S.NM_STORED_PROCEDURE, N.TP_DESTINO
    FROM   TPROCESSO P,
           TCLIENTE_NUMERARIO N,
           TCALCULO S
    WHERE  P.CD_CLIENTE     = N.CD_CLIENTE     AND
           P.CD_UNID_NEG    = N.CD_UNID_NEG    AND
           P.CD_PRODUTO     = N.CD_PRODUTO     AND
           P.CD_SERVICO     = N.CD_SERVICO     AND
           N.TP_CALCULO     = S.CD_CALCULO     AND
           P.NR_PROCESSO    = @nr_processo     AND
           N.NR_SOLICITACAO = @nr_solicitacao 

 SELECT @cd_usuario = CD_USUARIO
 FROM   TUSUARIO
 WHERE  AP_USUARIO  = SUSER_NAME()

  DELETE TLOG_ERRO_CALCULO 
  WHERE CD_USUARIO = @cd_usuario 

  OPEN c_numerario
  FETCH c_numerario INTO @cd_item, @nm_stored_proc, @tp_destino
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @nr_lanc       = @nr_lanc + 1
    SELECT @nr_lancamento = CONVERT( char(3), @nr_lanc )
    SELECT @nr_lancamento = RIGHT( ( '000' + RTRIM( @nr_lancamento ) ), 3 )

    IF ISNULL( @cd_base_calc, '0' ) = '0'  SELECT @vl_calculado = 0
    ELSE SELECT @vl_calculado = 1

    EXEC   @erro = @nm_stored_proc @nr_processo, @cd_item, @vl_calculado output
    IF @erro > 0 
    BEGIN
      -- Gravar erro    
      INSERT INTO TLOG_ERRO_CALCULO VALUES ( @cd_usuario, @nm_stored_proc, @erro, @cd_item )
    END
    ELSE
    BEGIN
      IF @tp_destino = '1' SELECT @cd_banco = @cd_banco_deb_cc
      ELSE IF @tp_destino = '2'  SELECT @cd_banco = @cd_banco_com
      ELSE IF @tp_destino = '3'  SELECT @cd_banco = @cd_banco_deb_com

      INSERT TNUMERARIO_ITEM_SOLIC
      VALUES ( @nr_processo, @nr_solicitacao, @nr_lancamento, 
               @cd_item, NULL, 'A', @cd_banco, @vl_calculado, 
               @vl_calculado, 'A', 0, 0, 0, @tp_destino, NULL )
    END

    FETCH c_numerario INTO @cd_item, @nm_stored_proc, @tp_destino
  END
  CLOSE c_numerario
  DEALLOCATE c_numerario
  EXEC sp_soma_solinum @nr_processo, @nr_solicitacao
END




GO
