USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_calc_arm_tra    Script Date: 02/09/1999 08:58:58 AM ******/
/****** Object:  Stored Procedure dbo.sp_calc_arm_tra    Script Date: 22/11/1998 10:59:48 ******/
CREATE PROCEDURE [sp_calc_arm_tra]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_armazem               char(4)
DECLARE @in_merc_perigosa         char(1)
DECLARE @cd_servico               char(3)
DECLARE @dt_estocagem             datetime
DECLARE @in_reimportacao          bit
DECLARE @in_transito              bit
DECLARE @in_bagagem               bit
DECLARE @qt_cntr20                float
DECLARE @qt_cntr40                float
DECLARE @pb_cntr20                float
DECLARE @pb_cntr40                float
DECLARE @peso_bruto               float
DECLARE @vl_cif_mn                float
DECLARE @vl_ii                    numeric (13,3)
DECLARE @vl_ipi                   float
DECLARE @vl_estadia               numeric (13,3)
DECLARE @qt_periodo               int
DECLARE @nr_periodo_arm           float
DECLARE @vl_arm_cntr_1p           float
DECLARE @vl_arm_cntr_dp           float
DECLARE @vl_arm_cntr_20_min       float
DECLARE @vl_arm_cntr_40_min       float
DECLARE @vl_arm_cntr_reimp        float
DECLARE @vl_arm_c_solta_1p        float
DECLARE @vl_arm_c_solta_2p        float
DECLARE @vl_arm_c_solta_3p        float
DECLARE @vl_arm_c_solta_dp        float
DECLARE @vl_arm_c_solta_min       float
DECLARE @vl_arm_c_solta_bagagem   float
DECLARE @vl_arm_c_solta_reimp     float
DECLARE @pc_acr_arm_perigo        float
DECLARE @pc_iss                   float
DECLARE @vl_minimo                numeric (13,3)
DECLARE @vl_resultado             numeric (13,3)
SELECT  @Resultado                = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_armazem       = CD_ARMAZEM_DESCARGA,
       @dt_estocagem     = DT_ESTOCAGEM,
       @in_merc_perigosa = IN_MERC_PERIGOSA,
       @vl_cif_mn        = VL_CIF_MN,
       @vl_ipi           = VL_IPI_MN
FROM TPROCESSO 
WHERE ( NR_PROCESSO = @nr_processo ) 
IF @@rowcount = 0
  -- Processo nao encontrado
  RETURN(1)
ELSE
BEGIN
  -- PESQUISA CLASSIFICACAO DO SERVICO
  SELECT @in_reimportacao = 1 
  FROM   VW_SERVICO_GERAL S,
         TSERVICO_CLASSIFICACAO C
  WHERE  S.CD_SERVICO = @cd_servico AND
         S.CD_CLASSIFICACAO = C.CD_CLASSIFICACAO AND
         C.NM_CLASSIFICACAO LIKE '%reimportacao%'
  SELECT @in_transito = 1 
  FROM   VW_SERVICO_GERAL S,
         TSERVICO_CLASSIFICACAO C
  WHERE  S.CD_SERVICO = @cd_servico AND
         S.CD_CLASSIFICACAO = C.CD_CLASSIFICACAO AND
         C.NM_CLASSIFICACAO LIKE '%transito%'
  SELECT @in_bagagem = 1 
  FROM   VW_SERVICO_GERAL S,
         TSERVICO_CLASSIFICACAO C
  WHERE  S.CD_SERVICO = @cd_servico AND
         S.CD_CLASSIFICACAO = C.CD_CLASSIFICACAO AND
         C.NM_CLASSIFICACAO LIKE '%bagagem%'
  -- PESQUISA EMBALAGEM
  SELECT @qt_cntr20 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 )
  FROM TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
  WHERE PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
        E.CD_TIPO IN ('2','4')
  SELECT @qt_cntr40 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 )
  FROM TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
  WHERE PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
        E.CD_TIPO IN ('3','5')
  SELECT @peso_bruto = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 ) 
  FROM TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
  WHERE PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
        E.CD_TIPO IN ('1','6')
  -- PESQUISA TAXA DO TRA
  SELECT @nr_periodo_arm           = ISNULL( NR_PERIODO_ARM, 0 ),
         @vl_arm_cntr_1p           = ISNULL( VL_ARM_CNTR_1P, 0 ),
         @vl_arm_cntr_dp           = ISNULL( VL_ARM_CNTR_DP, 0 ),
         @vl_arm_cntr_20_min       = ISNULL( VL_ARM_CNTR_20_MIN, 0 ),
         @vl_arm_cntr_40_min       = ISNULL( VL_ARM_CNTR_40_MIN, 0 ),
         @vl_arm_cntr_reimp        = ISNULL( VL_ARM_CNTR_REIMP, 0 ),
         @vl_arm_c_solta_1p        = ISNULL( VL_ARM_C_SOLTA_1P, 0 ),
         @vl_arm_c_solta_2p        = ISNULL( VL_ARM_C_SOLTA_2P, 0 ),
         @vl_arm_c_solta_3p        = ISNULL( VL_ARM_C_SOLTA_3P, 0 ),
         @vl_arm_c_solta_dp        = ISNULL( VL_ARM_C_SOLTA_DP,0 ),
         @vl_arm_c_solta_min       = ISNULL( VL_ARM_C_SOLTA_MIN, 0 ),
         @vl_arm_c_solta_bagagem   = ISNULL( VL_ARM_C_SOLTA_BAGAGEM, 0 ),
         @vl_arm_c_solta_reimp     = ISNULL( VL_ARM_C_SOLTA_REIMP, 0 ),
         @pc_acr_arm_perigo        = ISNULL( PC_ACR_ARM_PERIGO, 0 ),
         @pc_iss                   = ISNULL( PC_ISS, 0 )
  FROM TARMAZEM A,
       TTAXA_TRA T
  WHERE A.CD_ARMAZEM   = @cd_armazem AND
        A.CD_TAXA      = T.CD_TAXA_TRA
  IF @@rowcount = 0
  BEGIN
    -- Taxa TRA nao cadastrada
    RETURN(2)
  END
  ELSE
  BEGIN
    -- CALCULA ARMAZENAGEM TRA
    SELECT @qt_periodo = DATEDIFF( day, @dt_estocagem, GETDATE() )
    SELECT @qt_periodo = ROUND( (@qt_periodo / @nr_periodo_arm ) + 0.5, 0)
    IF (@qt_cntr20 + @qt_cntr40) > 0
    BEGIN
      IF ( @in_reimportacao = 1 ) OR
         ( @in_transito = 1 ) OR
         ( @in_bagagem = 1 )
      BEGIN
        SELECT @vl_resultado = ROUND ( ( ( ( @pb_cntr20 + @pb_cntr40 ) / 1000 ) * @vl_arm_cntr_reimp ), 2)
      END
      ELSE
      BEGIN
        SELECT @vl_resultado = ROUND ( ( ( @pb_cntr20 + @pb_cntr40) * @vl_arm_cntr_1p ) , 2 )
        IF @qt_periodo > 1
        BEGIN
          SELECT @vl_ii = ROUND ( ( @vl_cif_mn * 0.5 ), 2 )
          SELECT @vl_estadia = ROUND ( ( ( @vl_cif_mn + @vl_ii + @vl_ipi ) * 0.3 ) , 2 )
          SELECT @vl_resultado = @vl_resultado + ROUND ( ( ( @vl_cif_mn + @vl_estadia ) * @vl_arm_cntr_dp * ( @qt_periodo - 1 ) ) , 2)
          SELECT @vl_minimo = ( @qt_cntr20 * @vl_arm_cntr_20_min ) + ( @qt_cntr40 * @vl_arm_cntr_40_min )
          IF @vl_resultado < @vl_minimo SELECT @vl_resultado = @vl_minimo          
        END
      END
    END
    ELSE
    BEGIN
      IF ( @in_reimportacao = 1 ) OR 
         ( @in_transito = 1 ) 
      BEGIN
        SELECT @vl_resultado = ROUND ( ( ( @peso_bruto / 1000 ) * @vl_arm_c_solta_reimp ), 2)
      END
      ELSE
      BEGIN
        IF ( @in_bagagem = 1 ) 
        BEGIN
          SELECT @vl_cif_mn = ROUND ( ( ( @peso_bruto / 1000 ) * @vl_arm_c_solta_bagagem ), 2)
        END
        SELECT @vl_resultado = ROUND ( ( @vl_cif_mn * @vl_arm_c_solta_1p ), 2 )
        IF @qt_periodo > 1
        BEGIN
          SELECT @vl_resultado = @vl_resultado + ROUND ( ( @vl_cif_mn * @vl_arm_c_solta_2p ), 2 ) 
          IF @qt_periodo > 2
          BEGIN
            SELECT @vl_resultado = @vl_resultado + ROUND ( ( @vl_cif_mn * @vl_arm_c_solta_3p ), 2 ) 
            IF @qt_periodo > 3
            BEGIN
              SELECT @vl_resultado = @vl_resultado + ROUND ( ( @vl_cif_mn * @vl_arm_c_solta_dp * ( @qt_periodo - 3 ) ), 2 ) 
            END
          END          
        END
        IF @vl_resultado < @vl_arm_c_solta_min 
          SELECT @vl_resultado = @vl_arm_c_solta_min
      END
    END
    IF @in_merc_perigosa = '1'
      SELECT @vl_resultado = ROUND ( ( @vl_resultado * ( 1 + @pc_acr_arm_perigo ) ), 2)
    SELECT @vl_resultado = ROUND ( ( @vl_resultado * ( 1 + @pc_iss ) ), 2)
    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
    RETURN(0)
  END
END



GO
