USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_rel_ev_critico_po] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                       @cd_area char(2), @cd_evento char(3), @dt_inicio datetime, @dt_fim datetime, @dt_hoje datetime, 
                                       @tp_dias char(1), @nr_identificador int output ) AS 

--exclui as tabelas temporárias caso elas ainda existam
if exists (select * from sysobjects where id = object_id(N'[dbo].[#TMP_DIAS]') and OBJECTPROPERTY(id, N'IsTable') = 1)
DROP TABLE #TMP_DIAS
if exists (select * from sysobjects where id = object_id(N'[dbo].[#TMP_DIAS_UTEIS]') and OBJECTPROPERTY(id, N'IsTable') = 1)
DROP TABLE #TMP_DIAS_UTEIS

/*
SET XACT_ABORT ON  
BEGIN TRAN  

DECLARE @nr_identificador int
DECLARE @cd_unid_neg char(2)  
DECLARE @cd_produto  char(2)  
DECLARE @cd_grupo    char(3)  
DECLARE @cd_cliente  char(5)  
DECLARE @cd_area     char(2) 
DECLARE @cd_evento   char(3) 
DECLARE @dt_inicio   datetime  
DECLARE @dt_fim      datetime 
DECLARE @dt_hoje     datetime 
DECLARE @tp_dias     char(1)  
 
SELECT @cd_unid_neg = '01'  
SELECT @cd_produto  = '01'  
SELECT @cd_grupo    = '002'  
SELECT @cd_cliente  = 'X'  
SELECT @cd_area     = 'X'
SELECT @cd_evento   = '092'
SELECT @dt_inicio   = CONVERT( datetime, '25/04/2004', 103 )  
SELECT @dt_fim      = CONVERT( datetime, '25/05/2004', 103 )  
SELECT @dt_hoje     = CONVERT( datetime, '27/09/2004', 103 ) 
SELECT @tp_dias     = '1' 
*/
SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TREL_EV_CRITICO (TABLOCK HOLDLOCK)

--seleciona todos os processos realizados e insere na tabela temporária #TMP_DIAS
SELECT P.NR_REFERENCIA AS NR_PROCESSO, 
       F.DT_PREVISTA AS DT_INICIO,
       F.DT_REALIZACAO AS DT_FIM,
       SE.PZ_DO_EV_BASICO AS NR_PRAZO,
       '0' AS IN_ATRAZADO,
       '1' AS IN_REALIZADO
INTO #TMP_DIAS
FROM TFLP_PO F ( NOLOCK )
     INNER JOIN TPO       	PO ( NOLOCK ) ON PO.NR_PROCESSO  = F.NR_PROCESSO
     INNER JOIN TPROCESSO       P  ( NOLOCK ) ON P.NR_REFERENCIA = PO.NR_PROCESSO
     INNER JOIN VW_SERVICO_EVENTO_GERAL SE ( NOLOCK ) ON P.CD_SERVICO    = SE.CD_SERVICO
                                             AND F.CD_EVENTO     = SE.CD_EVENTO
WHERE DATEDIFF( D, F.DT_PREVISTA, F.DT_REALIZACAO ) <= SE.PZ_DO_EV_BASICO
  AND F.IN_APLICAVEL = 1
--  AND F.IN_BLOQUEADO = 0
  AND F.CD_EVENTO    = @cd_evento
  AND @cd_unid_neg   IN ( P.CD_UNID_NEG, 'X') 
  AND @cd_produto    IN ( P.CD_PRODUTO, 'X') 
  AND ( @cd_cliente  IN ( P.CD_CLIENTE, 'X') AND @cd_grupo IN ( P.CD_GRUPO, 'X') )
  AND @cd_area       IN ( P.CD_AREA, 'X') 
  AND P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
  AND P.IN_LIBERADO  = 1
  AND P.IN_CANCELADO = 0
  AND SE.CD_TIPO_EVENTO = '00'

INSERT INTO #TMP_DIAS ( NR_PROCESSO, DT_INICIO, DT_FIM, NR_PRAZO, IN_ATRAZADO, IN_REALIZADO ) 
SELECT RTRIM(P.NR_REFERENCIA) + ' / ' + POI.NR_ITEM AS PO, 
       F.DT_PREVISTA AS DT_INICIO,
       F.DT_REALIZACAO AS DT_FIM,
       SE.PZ_DO_EV_BASICO AS NR_PRAZO,
       '0' AS IN_ATRAZADO,
       '1' AS IN_REALIZADO
FROM TFLP_PO_ITEM F ( NOLOCK )
     INNER JOIN TPO_ITEM        POI( NOLOCK ) ON POI.NR_PROCESSO = F.NR_PROCESSO
					     AND POI.NR_ITEM     = F.NR_ITEM
     INNER JOIN TPROCESSO       P  ( NOLOCK ) ON P.NR_REFERENCIA = F.NR_PROCESSO
     INNER JOIN VW_SERVICO_EVENTO_GERAL SE ( NOLOCK ) ON P.CD_SERVICO    = SE.CD_SERVICO
                                             AND F.CD_EVENTO     = SE.CD_EVENTO
WHERE DATEDIFF( D, F.DT_PREVISTA, F.DT_REALIZACAO ) <= SE.PZ_DO_EV_BASICO
  AND F.IN_APLICAVEL = 1
  AND F.CD_EVENTO    = @cd_evento
  AND @cd_unid_neg   IN ( P.CD_UNID_NEG, 'X') 
  AND @cd_produto    IN ( P.CD_PRODUTO, 'X') 
  AND ( @cd_cliente  IN ( P.CD_CLIENTE, 'X') AND @cd_grupo IN ( P.CD_GRUPO, 'X') )
  AND @cd_area       IN ( P.CD_AREA, 'X') 
  AND P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
  AND P.IN_LIBERADO  = 1
  AND P.IN_CANCELADO = 0
  AND SE.CD_TIPO_EVENTO = '01'

--seleciona todos os processos que tenham a data de realização do evento maior 
--que a data prevista e que a diferença de dias seja maior que o prazo do evento
--básico na tabela temporaria #TMP_DIAS
INSERT INTO #TMP_DIAS ( NR_PROCESSO, DT_INICIO, DT_FIM, NR_PRAZO, IN_ATRAZADO, IN_REALIZADO ) 
SELECT P.NR_REFERENCIA AS NR_PROCESSO, 
       F.DT_PREVISTA AS DT_INICIO,
       F.DT_REALIZACAO AS DT_FIM,
       SE.PZ_DO_EV_BASICO AS NR_PRAZO,
       '1' AS IN_ATRAZADO,
       '1' AS IN_REALIZADO
FROM TFLP_PO F ( NOLOCK )
     INNER JOIN TPO       	PO ( NOLOCK ) ON PO.NR_PROCESSO  = F.NR_PROCESSO
     INNER JOIN TPROCESSO       P  ( NOLOCK ) ON P.NR_REFERENCIA = PO.NR_PROCESSO
     INNER JOIN VW_SERVICO_EVENTO_GERAL SE ( NOLOCK ) ON P.CD_SERVICO    = SE.CD_SERVICO
                                             AND F.CD_EVENTO     = SE.CD_EVENTO
WHERE F.DT_REALIZACAO > F.DT_PREVISTA
  AND DATEDIFF( D, F.DT_PREVISTA, F.DT_REALIZACAO ) > SE.PZ_DO_EV_BASICO
  AND ISNULL( F.DT_PREVISTA, '' ) <> ''
  AND F.IN_APLICAVEL = 1
--  AND F.IN_BLOQUEADO = 0
  AND F.CD_EVENTO    = @cd_evento
  AND @cd_unid_neg   IN ( P.CD_UNID_NEG, 'X') 
  AND @cd_produto    IN ( P.CD_PRODUTO, 'X') 
  AND ( @cd_cliente  IN ( P.CD_CLIENTE, 'X') AND @cd_grupo IN ( P.CD_GRUPO, 'X') )
  AND @cd_area       IN ( P.CD_AREA, 'X') 
  AND P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
  AND P.IN_LIBERADO  = 1
  AND P.IN_CANCELADO = 0
  AND SE.CD_TIPO_EVENTO = '00'
ORDER BY P.NR_PROCESSO

INSERT INTO #TMP_DIAS ( NR_PROCESSO, DT_INICIO, DT_FIM, NR_PRAZO, IN_ATRAZADO, IN_REALIZADO ) 
SELECT RTRIM(P.NR_REFERENCIA) + ' / ' + POI.NR_ITEM AS PO, 
       F.DT_PREVISTA AS DT_INICIO,
       F.DT_REALIZACAO AS DT_FIM,
       SE.PZ_DO_EV_BASICO AS NR_PRAZO,
       '1' AS IN_ATRAZADO,
       '1' AS IN_REALIZADO
FROM TFLP_PO_ITEM F ( NOLOCK )
     INNER JOIN TPO_ITEM        POI( NOLOCK ) ON POI.NR_PROCESSO = F.NR_PROCESSO
					     AND POI.NR_ITEM     = F.NR_ITEM
     INNER JOIN TPROCESSO       P  ( NOLOCK ) ON P.NR_REFERENCIA = F.NR_PROCESSO
     INNER JOIN VW_SERVICO_EVENTO_GERAL SE ( NOLOCK ) ON P.CD_SERVICO    = SE.CD_SERVICO
                                             AND F.CD_EVENTO     = SE.CD_EVENTO
WHERE F.DT_REALIZACAO > F.DT_PREVISTA
  AND DATEDIFF( D, F.DT_PREVISTA, F.DT_REALIZACAO ) > SE.PZ_DO_EV_BASICO
  AND ISNULL( F.DT_PREVISTA, '' ) <> ''
  AND F.IN_APLICAVEL = 1
  AND F.CD_EVENTO    = @cd_evento
  AND @cd_unid_neg   IN ( P.CD_UNID_NEG, 'X') 
  AND @cd_produto    IN ( P.CD_PRODUTO, 'X') 
  AND ( @cd_cliente  IN ( P.CD_CLIENTE, 'X') AND @cd_grupo IN ( P.CD_GRUPO, 'X') )
  AND @cd_area       IN ( P.CD_AREA, 'X') 
  AND P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
  AND P.IN_LIBERADO  = 1
  AND P.IN_CANCELADO = 0
  AND SE.CD_TIPO_EVENTO = '01'

--seleciona todos os processos que tenham a data de realização do evento nula e
--que a data prevista e que a diferença de dias seja maior que o prazo do evento
--básico na tabela temporaria #TMP_DIAS 
--será atribuida para a data de realização o data atual, apenas para referencia do atrazo
INSERT INTO #TMP_DIAS ( NR_PROCESSO, DT_INICIO, DT_FIM, NR_PRAZO, IN_ATRAZADO, IN_REALIZADO )
SELECT P.NR_REFERENCIA AS NR_PROCESSO, 
       F.DT_PREVISTA AS DT_INICIO,
       @dt_hoje AS DT_FIM,
       SE.PZ_DO_EV_BASICO AS NR_PRAZO,
       '1' AS IN_ATRAZADO,
       '0' AS IN_REALIZADO
FROM TFLP_PO F ( NOLOCK )
     INNER JOIN TPO       	PO ( NOLOCK ) ON PO.NR_PROCESSO  = F.NR_PROCESSO
     INNER JOIN TPROCESSO       P  ( NOLOCK ) ON P.NR_REFERENCIA = PO.NR_PROCESSO
     INNER JOIN VW_SERVICO_EVENTO_GERAL SE ( NOLOCK ) ON P.CD_SERVICO    = SE.CD_SERVICO
                                             AND F.CD_EVENTO     = SE.CD_EVENTO
WHERE ISNULL( F.DT_REALIZACAO, '' ) = ''
  AND ISNULL( F.DT_PREVISTA, '' ) <> ''
  AND ISNULL( SE.PZ_DO_EV_BASICO, 0 ) <> 0 
  AND DATEDIFF( D, F.DT_PREVISTA, @dt_hoje ) > SE.PZ_DO_EV_BASICO
  AND F.IN_APLICAVEL = 1
--  AND F.IN_BLOQUEADO = 0
  AND F.CD_EVENTO    = @cd_evento
  AND @cd_unid_neg   IN ( P.CD_UNID_NEG, 'X') 
  AND @cd_produto    IN ( P.CD_PRODUTO, 'X') 
  AND ( @cd_cliente  IN ( P.CD_CLIENTE, 'X') AND @cd_grupo IN ( P.CD_GRUPO, 'X') )
  AND @cd_area       IN ( P.CD_AREA, 'X') 
  AND P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
  AND P.IN_LIBERADO  = 1
  AND P.IN_CANCELADO = 0
  AND SE.CD_TIPO_EVENTO = '00'
ORDER BY P.NR_PROCESSO

INSERT INTO #TMP_DIAS ( NR_PROCESSO, DT_INICIO, DT_FIM, NR_PRAZO, IN_ATRAZADO, IN_REALIZADO ) 
SELECT RTRIM(P.NR_REFERENCIA) + ' / ' + POI.NR_ITEM AS PO, 
       F.DT_PREVISTA AS DT_INICIO,
       @dt_hoje AS DT_FIM,
       SE.PZ_DO_EV_BASICO AS NR_PRAZO,
       '1' AS IN_ATRAZADO,
       '0' AS IN_REALIZADO
FROM TFLP_PO_ITEM F ( NOLOCK )
     INNER JOIN TPO_ITEM        POI( NOLOCK ) ON POI.NR_PROCESSO = F.NR_PROCESSO
					     AND POI.NR_ITEM     = F.NR_ITEM
     INNER JOIN TPROCESSO       P  ( NOLOCK ) ON P.NR_REFERENCIA = F.NR_PROCESSO
     INNER JOIN VW_SERVICO_EVENTO_GERAL SE ( NOLOCK ) ON P.CD_SERVICO    = SE.CD_SERVICO
                                             AND F.CD_EVENTO     = SE.CD_EVENTO
WHERE ISNULL( F.DT_REALIZACAO, '' ) = ''
  AND ISNULL( F.DT_PREVISTA, '' ) <> ''
  AND ISNULL( SE.PZ_DO_EV_BASICO, 0 ) <> 0 
  AND DATEDIFF( D, F.DT_PREVISTA, @dt_hoje ) > SE.PZ_DO_EV_BASICO
  AND F.IN_APLICAVEL = 1
  AND F.CD_EVENTO    = @cd_evento
  AND @cd_unid_neg   IN ( P.CD_UNID_NEG, 'X') 
  AND @cd_produto    IN ( P.CD_PRODUTO, 'X') 
  AND ( @cd_cliente  IN ( P.CD_CLIENTE, 'X') AND @cd_grupo IN ( P.CD_GRUPO, 'X') )
  AND @cd_area       IN ( P.CD_AREA, 'X') 
  AND P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
  AND P.IN_LIBERADO  = 1
  AND P.IN_CANCELADO = 0
  AND SE.CD_TIPO_EVENTO = '01'

--seleciona todos os processos que tenham a data de realização do evento nula,
--que a data prevista esteja preenchida e que a diferença de dias seja menor que o prazo do evento
--básico na tabela temporaria #TMP_DIAS
INSERT INTO #TMP_DIAS ( NR_PROCESSO, DT_INICIO, DT_FIM, NR_PRAZO, IN_ATRAZADO, IN_REALIZADO ) 
SELECT P.NR_REFERENCIA AS NR_PROCESSO, 
       F.DT_PREVISTA AS DT_INICIO,
       @dt_hoje AS DT_FIM,
       SE.PZ_DO_EV_BASICO AS NR_PRAZO,
       '0' AS IN_ATRAZADO,
       '0' AS IN_REALIZADO
FROM TFLP_PO F ( NOLOCK )
     INNER JOIN TPO       	PO ( NOLOCK ) ON PO.NR_PROCESSO  = F.NR_PROCESSO
     INNER JOIN TPROCESSO       P  ( NOLOCK ) ON P.NR_REFERENCIA = PO.NR_PROCESSO
     INNER JOIN VW_SERVICO_EVENTO_GERAL SE ( NOLOCK ) ON P.CD_SERVICO    = SE.CD_SERVICO
                                             AND F.CD_EVENTO     = SE.CD_EVENTO
WHERE ISNULL( F.DT_REALIZACAO, '' ) = ''
  AND ISNULL( F.DT_PREVISTA, '' ) <> ''
  AND DATEDIFF( D, F.DT_PREVISTA, @dt_hoje ) <= SE.PZ_DO_EV_BASICO
  AND F.IN_APLICAVEL = 1
--  AND F.IN_BLOQUEADO = 0
  AND F.CD_EVENTO    = @cd_evento
  AND @cd_unid_neg   IN ( P.CD_UNID_NEG, 'X') 
  AND @cd_produto    IN ( P.CD_PRODUTO, 'X') 
  AND ( @cd_cliente  IN ( P.CD_CLIENTE, 'X') AND @cd_grupo IN ( P.CD_GRUPO, 'X') )
  AND @cd_area       IN ( P.CD_AREA, 'X') 
  AND P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
  AND P.IN_LIBERADO  = 1
  AND P.IN_CANCELADO = 0
  AND SE.CD_TIPO_EVENTO = '00'
ORDER BY P.NR_PROCESSO

INSERT INTO #TMP_DIAS ( NR_PROCESSO, DT_INICIO, DT_FIM, NR_PRAZO, IN_ATRAZADO, IN_REALIZADO ) 
SELECT RTRIM(P.NR_REFERENCIA) + ' / ' + POI.NR_ITEM AS PO, 
       F.DT_PREVISTA AS DT_INICIO,
       @dt_hoje AS DT_FIM,
       SE.PZ_DO_EV_BASICO AS NR_PRAZO,
       '0' AS IN_ATRAZADO,
       '0' AS IN_REALIZADO
FROM TFLP_PO_ITEM F ( NOLOCK )
     INNER JOIN TPO_ITEM        POI( NOLOCK ) ON POI.NR_PROCESSO = F.NR_PROCESSO
					     AND POI.NR_ITEM     = F.NR_ITEM
     INNER JOIN TPROCESSO       P  ( NOLOCK ) ON P.NR_REFERENCIA = F.NR_PROCESSO
     INNER JOIN VW_SERVICO_EVENTO_GERAL SE ( NOLOCK ) ON P.CD_SERVICO    = SE.CD_SERVICO
                                             AND F.CD_EVENTO     = SE.CD_EVENTO
WHERE ISNULL( F.DT_REALIZACAO, '' ) = ''
  AND ISNULL( F.DT_PREVISTA, '' ) <> ''
  AND DATEDIFF( D, F.DT_PREVISTA, F.DT_REALIZACAO ) <= SE.PZ_DO_EV_BASICO
  AND F.IN_APLICAVEL = 1
  AND F.CD_EVENTO    = @cd_evento
  AND @cd_unid_neg   IN ( P.CD_UNID_NEG, 'X') 
  AND @cd_produto    IN ( P.CD_PRODUTO, 'X') 
  AND ( @cd_cliente  IN ( P.CD_CLIENTE, 'X') AND @cd_grupo IN ( P.CD_GRUPO, 'X') )
  AND @cd_area       IN ( P.CD_AREA, 'X') 
  AND P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
  AND P.IN_LIBERADO  = 1
  AND P.IN_CANCELADO = 0
  AND SE.CD_TIPO_EVENTO = '01'

--cria um cursor para vereficar se os dados selecionados devem ser só
--considerados dias uteis ou não. Caso seja, verifica novamente o prazo
--do evento básico e aqueles que a diferença de dias seja igual ou
--inferior ao prazo, não serão salvos na tabela temporaria #TMP_DIAS_UTEIS
DECLARE @nr_dias      int,
        @nr_prazo     int,
        @dt_inicio_i  datetime, 
        @dt_fim_f     datetime,
        @nr_processo  char(18),
        @in_atrazado  char(1),
        @in_realizado char(1)  

--cria cursor para vereficação do prazo
DECLARE c_data_cursor CURSOR FAST_FORWARD FOR  
SELECT NR_PROCESSO, DT_INICIO, DT_FIM, NR_PRAZO, IN_ATRAZADO, IN_REALIZADO
FROM #TMP_DIAS ( NOLOCK )

--cria a tabela temporaria #TMP_DIAS_UTEIS
SELECT @nr_processo AS NR_PROCESSO, 
       @nr_dias AS NR_DIAS, 
       @dt_inicio_i AS DT_INICIO, 
       @dt_fim_f AS DT_FIM, 
       @in_atrazado AS IN_ATRAZADO,
       @in_realizado AS IN_REALIZADO,
       @nr_prazo AS NR_PRAZO
INTO #TMP_DIAS_UTEIS  
FROM #TMP_DIAS 
WHERE 1 = 0 

OPEN c_data_cursor  

--executa a verificação  
FETCH c_data_cursor INTO @nr_processo, @dt_inicio_i, @dt_fim_f, @nr_prazo, @in_atrazado, @in_realizado   
  WHILE ( @@FETCH_STATUS = 0 )  
  BEGIN  
    --verifica se a diferença de dias da realizada para a prevista não é nula
    EXEC sp_lead_dias_uteis @tp_dias, @dt_inicio_i, @dt_fim_f, @nr_dias OUTPUT
  
    IF @nr_dias > @nr_prazo
    BEGIN
      INSERT INTO #TMP_DIAS_UTEIS ( NR_PROCESSO, NR_DIAS, DT_INICIO, DT_FIM, IN_ATRAZADO, IN_REALIZADO, NR_PRAZO )  
      VALUES ( @nr_processo, ISNULL(@nr_dias,0) , @dt_inicio_i, @dt_fim_f, @in_atrazado, @in_realizado, @nr_prazo ) 
    END 
    ELSE
    BEGIN
      INSERT INTO #TMP_DIAS_UTEIS ( NR_PROCESSO, NR_DIAS, DT_INICIO, DT_FIM, IN_ATRAZADO, IN_REALIZADO, NR_PRAZO )  
      VALUES ( @nr_processo, ISNULL(@nr_dias,0) , @dt_inicio_i, @dt_fim_f, '0', @in_realizado, @nr_prazo )
    END
 
    FETCH c_data_cursor INTO @nr_processo, @dt_inicio_i, @dt_fim_f, @nr_prazo, @in_atrazado, @in_realizado
  END  
CLOSE c_data_cursor  
DEALLOCATE c_data_cursor 

INSERT INTO TREL_EV_CRITICO ( NR_IDENTIFICADOR, NR_PROCESSO, NR_DIAS, DT_INICIO, DT_FIM, IN_ATRAZADO, IN_REALIZADO, NR_PRAZO )
SELECT @nr_identificador,
       NR_PROCESSO, 
       NR_DIAS, 
       DT_INICIO, 
       DT_FIM, 
       IN_ATRAZADO,
       IN_REALIZADO,
       NR_PRAZO
FROM #TMP_DIAS_UTEIS

DROP TABLE #TMP_DIAS
DROP TABLE #TMP_DIAS_UTEIS
/*
ROLLBACK TRAN  
SET XACT_ABORT OFF
*/




GO
