USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_calc_icms] ( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_base_calc char(1)
/*    
SET XACT_ABORT ON    
BEGIN TRAN    
DECLARE @nr_processo char(18)    
declare @Resultado float
SELECT @nr_processo = '0201ia-0045-10'    
*/


-- SELECIONA O ICMS DE ACORDO COM O PROCESSO/PREVISAO
IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  SELECT @cd_base_calc = '0'
  SELECT @Resultado = ISNULL( VL_ICMS_MN, 0)
  FROM   TPROCESSO (NOLOCK)
  WHERE  ( NR_PROCESSO = @nr_processo )   
END
ELSE
BEGIN
  SELECT @cd_base_calc = '1'
  SELECT @Resultado = ISNULL( VL_ICMS, 0) + (SELECT SUM(VL_BASE_CALC_ICMS) * (SELECT (PC_FUNDO_POBREZA_RJ/100) FROM TPARAMETROS)
                                             FROM TPREVISAO_ADICAO WHERE ISNULL(IN_FUNDO_POBREZA, '0') = '1' AND NR_PROCESSO = @nr_processo)  
  FROM   TPREVISAO_ADICAO (NOLOCK)
  WHERE  ( NR_PROCESSO = @nr_processo ) 
END

IF ISNULL(@Resultado, 0) = 0
    SELECT @Resultado = SUM(ISNULL(VL_ICMS_REAIS, 0))
    FROM TPRE_CALCULO_ADICAO (NOLOCK)
    WHERE (NR_PROCESSO = @nr_processo)

IF @Resultado > 0
BEGIN
  -- ATRIBUI PARA O PARAMETRO DE SAIDA O VALOR DO ICMS
  RETURN(0)
END
ELSE
BEGIN
  DECLARE @CONTADOR INT
  SELECT @CONTADOR = COUNT(*)
  FROM   TNUMERARIO_ITEM_SOLIC (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = ( SELECT CD_ITEM_ICMS FROM TPARAMETROS (NOLOCK) ) AND
         TP_DESTINO = '1'
  IF @CONTADOR = 0
  BEGIN
    -- Processo/Previsao nao Localizado e ICMS não informado
    IF @cd_base_calc = '0' RETURN(1)
    ELSE RETURN(2)
  END
  ELSE
  BEGIN
    SELECT @resultado = ISNULL( ROUND( VL_RECEBIDO, 2 ), 0 )
    FROM   TNUMERARIO_ITEM_SOLIC (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_ITEM = ( SELECT CD_ITEM_ICMS FROM TPARAMETROS (NOLOCK))
    RETURN(0)
  END
END

/*
ROLLBACK TRAN    
SET XACT_ABORT OFF    
*/    




GO
