USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_CRIA_REF_CLIENTE_PADRAO](@NR_PROCESSO CHAR(18) = '0201IM-000002-14') AS
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18) = '0201IM-000002-14'
    BEGIN TRAN

    DELETE TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO
    --*/

    DECLARE @MAX_PARCIAL INT
    DECLARE @NR_ITEM     CHAR(4)
    DECLARE @CD_CLIENTE  CHAR(5)

    IF SUBSTRING(@NR_PROCESSO, 3, 2) <> '06' AND (SELECT COUNT(*)
                                                  FROM TREF_CLIENTE
                                                  WHERE NR_PROCESSO = @NR_PROCESSO
                                                    AND TP_REFERENCIA = '01') = 0
    BEGIN
        SELECT @NR_ITEM    = CONVERT(VARCHAR, YEAR(DT_ABERTURA)),
               @CD_CLIENTE = CD_CLIENTE
        FROM TPROCESSO
        WHERE NR_PROCESSO = @NR_PROCESSO

        SELECT @MAX_PARCIAL = ISNULL(MAX(NR_PARCIAL), 0) +1
        FROM TREF_CLIENTE
        WHERE CD_REFERENCIA = 'AGDO. REF.'
          AND NR_ITEM_PO = @NR_ITEM
          AND CD_EMPRESA = @CD_CLIENTE
          AND TP_REFERENCIA = '01'

        INSERT INTO TREF_CLIENTE
        SELECT P.NR_PROCESSO,
               RIGHT('00000' + RTRIM((SELECT CONVERT(VARCHAR, ISNULL(MAX(CONVERT(INT, RC.NR_SEQUENCIA)), 0) +1)
                                      FROM TREF_CLIENTE RC
                                      WHERE RC.NR_PROCESSO = P.NR_PROCESSO)), 5),
               'AGDO. REF.',
               NULL,
               GETDATE(),
               '01',
               P.CD_AREA,
               @NR_ITEM,
               @MAX_PARCIAL,
               NULL,
               P.CD_CLIENTE
        FROM TPROCESSO P
        WHERE P.NR_PROCESSO = @NR_PROCESSO
    END

    /*
    SELECT *
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO

    ROLLBACK

    SELECT *
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO
    --*/
END

GO
