USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [sp_atz_myindaia_pedido2](@data int = 0) AS                                      
SET NOCOUNT ON                                      
                    
--BEGIN TRAN                                        
--DECLARE @data int                                        
                    
DECLARE                                        
  @nr_processo_adm char(18),                                        
  @nr_processo_des char(18),        
  @nr_referencia char(18),
  @cd_empresa char(5),
  @nr_processo_fi char(18),
  @nr_item_cliente char(4),                                        
  @nr_parcial int,
  @dt_ult_alteracao datetime,                                        
  @dt_prevista datetime,
  @dt_realizacao datetime,        
  @in_aplicavel char(1),          
  @nr_ordem int,         
  @errors int,                                        
  @registros int,                                        
  @apCampo char(10),                                        
  @cdBroker char(3),                                        
  @txUpdate varchar(8000),                      
  @nr_item char(3),                    
  @cd_evento char(3),
  @tabela varchar(100)          
        
IF ISNULL(@data, 0) = 0 SET @data = YEAR(GETDATE())-3                                        
SET @errors = 0                                        
SET @registros = 0                                        
PRINT 'Iniciando cópia de dados...'                                        
                      
/**************************************************************************************************/                      
                      
/*1º ETAPA */                      
SELECT TOP 500 NR_PROCESSO_DES, NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, ISNULL(CD_EMPRESA, '') AS CD_EMPRESA, DT_ULT_ALTERACAO, MIN(AP_USUARIO) AS AP_USUARIO                                        
INTO #TMP_ESTAGIO                                        
FROM TATZ_MYINDAIA_ESTAGIO                                    
WHERE NR_PROCESSO_ADM IS NOT NULL                                        
AND SUBSTRING(NR_PROCESSO_ADM,5,2) NOT IN ('EW','FT','PO','TE','TS') and NR_PARCIAL IS NOT NULL                        
GROUP BY NR_PROCESSO_DES, NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO                                        
ORDER BY AP_USUARIO, MIN(CD_ATUALIZACAO)                                        
                                        
--exclui os processos das tabelas de atualizao                                        
BEGIN TRAN 
  BEGIN TRY                                       
  /***** APAGA OS REGISTROS SELECIONADOS NO MYINDAIA **************************************************************************************/                                        
  DELETE EP                                        
  FROM MYINDAIA.DBO.TESTAGIO_PROCESSO EP, #TMP_ESTAGIO ED                                        
  WHERE ED.NR_REFERENCIA    = EP.NR_REFERENCIA                                        
    AND ED.NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE                                        
    AND ED.NR_PARCIAL       = EP.NR_PARCIAL
    AND ED.CD_EMPRESA       = EP.CD_EMPRESA
                                          
  DELETE FI                                        
  FROM MYINDAIA.DBO.TFLP_IMPORT1 FI, #TMP_ESTAGIO ED                                        
  WHERE ED.NR_REFERENCIA    = FI.NR_REFERENCIA                                        
    AND ED.NR_ITEM_CLIENTE  = FI.NR_ITEM_CLIENTE                                        
    AND ED.NR_PARCIAL       = FI.NR_PARCIAL
    AND ED.CD_EMPRESA       = FI.CD_EMPRESA
    
  DELETE FI                                     
  FROM MYINDAIA.DBO.TFLP_IMPORT2 FI, #TMP_ESTAGIO ED                                        
  WHERE ED.NR_REFERENCIA    = FI.NR_REFERENCIA                                        
    AND ED.NR_ITEM_CLIENTE  = FI.NR_ITEM_CLIENTE                                        
    AND ED.NR_PARCIAL       = FI.NR_PARCIAL
    AND ED.CD_EMPRESA       = FI.CD_EMPRESA  
                                          
  DELETE FE             
  FROM MYINDAIA.DBO.TFLP_ESTAGIO FE, #TMP_ESTAGIO ED                                        
  WHERE ED.NR_REFERENCIA    = FE.NR_REFERENCIA                                        
    AND ED.NR_ITEM_CLIENTE  = FE.NR_ITEM_CLIENTE
    AND ED.NR_PARCIAL       = FE.NR_PARCIAL
    AND ED.CD_EMPRESA       = FE.CD_EMPRESA
                                          
  /***** INCLUI OS REGISTROS SELECIONADOS NO MYINDAIA *************************************************************************************/                                        
  --INCLUI OS REGISTROS DA TABELA TEMPORÁRIA NA TESTAGIO_PROCESSO                                     
  INSERT INTO MYINDAIA.DBO.TESTAGIO_PROCESSO (
    NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, IN_SUBSTITUIDO, NR_PARCIAL, CD_EMPRESA )
  SELECT DISTINCT
    EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.IN_SUBSTITUIDO, EP.NR_PARCIAL, EP.CD_EMPRESA
  FROM #TMP_ESTAGIO ATZ
    INNER JOIN TESTAGIO_PROCESSO EP ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ATZ.CD_EMPRESA = EP.CD_EMPRESA)
  WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @DATA                                        
  --VERIFICA SE OCORRERAM ERROS                                        
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                        
  IF @@ERROR <> 0 PRINT 'ERRO NA INCLUSÃO DA TESTAGIO_PROCESSO'                                        
                                          
  --INCLUI OS REGISTROS DA TABELA TEMPORRIA NA TFLP_IMPORT                                        
  INSERT INTO MYINDAIA.DBO.TFLP_IMPORT1 (                                        
    NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, NR_PARCIAL, CD_EMPRESA )
  SELECT DISTINCT                                        
    EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.NR_PARCIAL, EP.CD_EMPRESA
  FROM #TMP_ESTAGIO ATZ 
    INNER JOIN TESTAGIO_PROCESSO EP ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ATZ.CD_EMPRESA = EP.CD_EMPRESA)
  WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @DATA                                        
  --VERIFICA SE OCORRERAM ERROS                                        
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                        
  IF @@ERROR <> 0 PRINT 'ERRO NA INCLUSÃO DA TFLP_IMPORT'   

  INSERT INTO MYINDAIA.DBO.TFLP_IMPORT2 (                                        
    NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, NR_PARCIAL, CD_EMPRESA )
  SELECT DISTINCT                                        
    EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.NR_PARCIAL, EP.CD_EMPRESA
  FROM #TMP_ESTAGIO ATZ 
    INNER JOIN TESTAGIO_PROCESSO EP ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ATZ.CD_EMPRESA = EP.CD_EMPRESA)
  WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @DATA                                        
  --VERIFICA SE OCORRERAM ERROS                                        
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                        
  IF @@ERROR <> 0 PRINT 'ERRO NA INCLUSÃO DA TFLP_IMPORT2'                                          
                        
                        
                        
                        
                        
  /**************************************************************************************************/                      
  --PEDIDOS                      
                        
  --SELECIONA OS PROCESSOS QUE ESTÃO TIVERAM ALGUM TIPO DE ALTERAÇÃO OU INCLUSÃO                                                
  SELECT DISTINCT ATZ.NR_REFERENCIA, ATZ.NR_ITEM, ATZ.NR_PARCIAL, ISNULL(ATZ.CD_EMPRESA, '') AS CD_EMPRESA, ATZ.NM_TABELA, MIN(ATZ.AP_USUARIO) AS AP_USUARIO                                                  
  INTO #TMP_PEDIDO                      
  FROM TATZ_MYINDAIA_PEDIDO ATZ, #TMP_ESTAGIO TMP                     
  WHERE                                
    ATZ.NR_REFERENCIA = TMP.NR_REFERENCIA AND
    ATZ.CD_EMPRESA    = TMP.CD_EMPRESA
  GROUP BY ATZ.NR_REFERENCIA, ATZ.NR_ITEM, ATZ.NR_PARCIAL, ATZ.CD_EMPRESA, ATZ.NM_TABELA                                                  
  --ORDER BY ATZ.AP_USUARIO, MIN(ATZ.CD_ATUALIZACAO)                                                  
                        

    
  --IMPORTAÇÃO                                                
  DELETE P FROM MYINDAIA.DBO.TPO P, #TMP_PEDIDO PE WHERE P.NR_PROCESSO = PE.NR_REFERENCIA AND P.CD_EMPRESA = PE.CD_EMPRESA AND NM_TABELA = 'TPO'                                                    
  DELETE I FROM MYINDAIA.DBO.TPO_ITEM I, #TMP_PEDIDO PE WHERE I.NR_PROCESSO = PE.NR_REFERENCIA AND I.NR_ITEM = PE.NR_ITEM AND I.CD_EMPRESA = PE.CD_EMPRESA /*AND I.NR_PARCIAL = PE.NR_PARCIAL*/ AND NM_TABELA = 'TPO_ITEM'                                                
  DELETE F FROM MYINDAIA.DBO.TFLP_PO F, #TMP_PEDIDO PE  WHERE F.NR_PROCESSO = PE.NR_REFERENCIA AND F.CD_EMPRESA = PE.CD_EMPRESA AND NM_TABELA = 'TFLP_PO'                                                    
  DELETE F FROM MYINDAIA.DBO.TFLP_PO_ITEM F, #TMP_PEDIDO PE  WHERE F.NR_PROCESSO = PE.NR_REFERENCIA AND F.NR_ITEM = PE.NR_ITEM AND F.CD_EMPRESA = PE.CD_EMPRESA /*AND F.NR_PARCIAL = PE.NR_PARCIAL */ AND NM_TABELA = 'TFLP_PO_ITEM'                                                    
              
  --APAGA AS REFERENCIAS QUE ESTÃO NA WEB E QUE NÃO ESTÃO NO MYINDAIALOCAL            
  DELETE F
  FROM MYINDAIA.DBO.TFLP_PO_ITEM F, #TMP_PEDIDO PE              
  WHERE F.NR_PROCESSO = PE.NR_REFERENCIA AND 
        F.CD_EMPRESA = PE.CD_EMPRESA AND
        NM_TABELA = 'TFLP_PO_ITEM' AND             
        RTRIM(LTRIM(PE.NR_REFERENCIA)) + RTRIM(LTRIM(F.NR_ITEM))            
        NOT IN ( SELECT RTRIM(LTRIM(X.NR_PROCESSO)) + RTRIM(LTRIM(X.NR_ITEM))
                 FROM TFLP_PO_ITEM X            
                 WHERE X.NR_PROCESSO = PE.NR_REFERENCIA
                   AND X.CD_EMPRESA  = PE.CD_EMPRESA)
              
              
  DELETE E
  FROM MYINDAIA.DBO.TFLP_PO_ITEM_ETAPA E, #TMP_PEDIDO PE
  WHERE E.NR_PROCESSO = PE.NR_REFERENCIA
    AND E.NR_ITEM     = PE.NR_ITEM
    AND E.CD_EMPRESA  = PE.CD_EMPRESA
    AND NM_TABELA     = 'TFLP_PO_ITEM_ETAPA'                                                    

  DELETE F
  FROM MYINDAIA.DBO.TFOLLOWUP_OBS F , #TMP_PEDIDO PE
  WHERE F.NR_PROCESSO = PE.NR_REFERENCIA
    AND F.CD_EMPRESA  = PE.CD_EMPRESA
    AND NM_TABELA     = 'TFLP_PO'                                                    
                                              
  /* IMPORTAÇÃO */                                                
  --INICIO DA SELEÇÃO E INSERÇÃO DOS REGISTROS DA TABELA TPO DA BASE MYINDAIA EM RELAÇÃO AOS                                                 
  --PROCESSO QUE CONSTAM NA TABELA #TMP_PEDIDO                                                
  PRINT 'DELETANDO DUPLICADOS'  
  -- COPIAR PARA TEMPORARIA

  -- DELETA POS DUPLICADAS DA TEMPORARIA 
    DECLARE CATZPO CURSOR LOCAL FOR                                                
    SELECT DISTINCT RTRIM(LTRIM(NR_PROCESSO)), ISNULL(PO.CD_EMPRESA, '')
    FROM TATZ_MYINDAIA_PEDIDO ATZ 
      INNER JOIN TPO PO ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA AND ISNULL(PO.CD_EMPRESA, '') = ISNULL(ATZ.CD_EMPRESA, ''))                                     
    WHERE ATZ.NM_TABELA = 'TPO'  
                                                    
    OPEN CATZPO                                                
    FETCH CATZPO INTO @NR_REFERENCIA, @CD_EMPRESA
                                                    
    WHILE @@FETCH_STATUS = 0                                                
    BEGIN                                                
      IF ( SELECT COUNT(*) 
           FROM TATZ_MYINDAIA_PEDIDO
           WHERE NR_REFERENCIA = RTRIM(LTRIM(@NR_REFERENCIA))
             AND CD_EMPRESA = @CD_EMPRESA AND NM_TABELA = 'TPO' ) > 1   
         DELETE FROM TATZ_MYINDAIA_PEDIDO
         WHERE NM_TABELA = 'TPO'
           AND NR_REFERENCIA = RTRIM(LTRIM(@NR_REFERENCIA))
           AND CD_EMPRESA = @CD_EMPRESA
           AND CD_ATUALIZACAO < (SELECT MAX(CD_ATUALIZACAO)
                                 FROM TATZ_MYINDAIA_PEDIDO 
                                 WHERE NR_REFERENCIA = RTRIM(LTRIM(@NR_REFERENCIA))
                                   AND CD_EMPRESA = @CD_EMPRESA
                                   AND NM_TABELA = 'TPO' )  
      PRINT 'DELETADOS ( ' + RTRIM(LTRIM(@NR_REFERENCIA)) + ', ' + RTRIM(ISNULL(@CD_EMPRESA, '')) + ' ) : ' + CAST(@@ROWCOUNT AS CHAR)  
      FETCH CATZPO INTO @NR_REFERENCIA, @CD_EMPRESA
    END                                                
                                                  
    CLOSE CATZPO                                                
    DEALLOCATE CATZPO                                                
    
  PRINT 'INSERT NA MYINDAIA.DBO.TPO'
  INSERT INTO MYINDAIA.DBO.TPO (                                                
    NR_PROCESSO, NR_IDENT_USUARIO, CD_IMPORTADOR, CD_CONSIGNATARIO, CD_FABRICANTE, CD_EXPORTADOR, CD_VIA_TRANSP, CD_REPRESENTANTE,                                                
    CD_MOD_PAGAMENTO, CD_PAIS_ORIGEM, CD_REGIME_TRIB, CD_PAIS_PROCEDENCIA, CD_MOEDA_NEG, CD_PAIS_AQUISICAO, CD_TP_DECLARACAO,                                                
    CD_URF_DESPACHO, CD_INCOTERM, CD_TRANSP_INTERN, CD_BANDEIRA_VEIC, CD_SETOR_ARMAZENAGEM, CD_LOCAL_EMBARQUE, CD_AGENTE_CARGA,                                                
    CD_URF_ENTRADA, CD_RECINTO_ALFAND, CD_MOEDA_FRETE, CD_MOEDA_SEGURO, CD_MOEDA_CARGA, CD_LOCAL_INCOTERM, CD_TX_JUROS, CD_INSTIT_FINANC,                                                
    CD_MOTIVO_CAMBIO_SEM_COBERT, CD_BARRA, CD_MET_VALORACAO_ADUAN, DT_ABERTURA, DT_EMISSAO_DOC_CARGA, DT_CHEGADA_CARGA, DT_FATURA,                                                
    IN_APLICACAO_MERC, IN_COMISSAO, IN_DESCONTO, IN_TP_COMISSAO, IN_TP_DESCONTO, IN_INDICADOR_CONSIG_IMPORT, IN_INDICADOR_PROC,                                      
    IN_VINC_IMPO_EXPO, IN_COND_MERCADORIA, IN_FABR_EXPOR_IMP, IN_INDIC_MULTMODAL, IN_FUNDAP, IN_UTILIZ_CARGA, IN_INDIC_TX_JUROS, IN_SEGURO,                                                
    NR_PLACA_VEICULO, NR_MANIFESTO, NR_DOC_MASTER, NR_DOC_HOUSE, NR_BACEN, NR_FATURA, NM_IDENT_CRT, NM_VEICULO, PC_COMISSAO, PC_DESCONTO,                                                
    PC_SEGURO, PC_COMISSAO_AGENTE, PL_PO, PB_PO, QT_TOTAL_PESO, QT_PORC_ICMS, QT_TOTAL_ITENS, QT_PORC_RED_ICMS, QT_PERIODICIDADE,                                                
    TP_COBERT_CAMBIO, TP_CAMBIO, TP_DOC_CARGA, TP_FRETE, TP_SEGURO, TP_MOD_DESPACHO, TP_MANIFESTO, TX_JUROS, TX_OBSERVACAO, VL_COMISSAO,                                                
    VL_CARGA, VL_CAMBIO, VL_DESCONTO, VL_FRETE_PREPAID, VL_FRETE_COLLECT, VL_FRETE_TERRIT_NAC, VL_SEGURO, VL_TOTAL, VL_TOTAL_PARCELA,                                                
    VL_PAGTO_ANTECIPADO, VL_PAGTO_VISTA, VL_PERIODIC_MENSAL, VL_DESPESAS, VL_DESCONTOS, IN_SELECIONADO, IN_MONTADO, IN_IND_COND_MERC,                     
    IN_IND_CAMBIO_ITENS, NR_PARCELAS, IN_PERIODICIDADE, QT_TOTAL_DISPONIVEL, CD_USUARIO_MONTA, CD_AREA, CD_COMPRADOR, CD_TERMO_PAGTO,            
    DT_NECESSIDADE, CD_TIPO_FRETE, CD_LOCAL_DESEMBARQUE, IN_ENTREPOSTO, IN_FATURADO, IN_IMEDIATO, VL_FRETE_INTERNO, VL_EMBALAGEM,                                                
    TX_OBS_INTERNO, VL_PB_EMBALAGEM, VL_PL_EMBALAGEM, NR_DA, CD_SERVICO, TX_VOLUMES, TX_INF_ENTREPOSTO, TP_NEGOCIACAO, NR_ARTICULO,                                                
    NR_ORDEM, CD_USUARIO_INT, CD_AGENTE, CD_BANCO, CD_USUARIO, TX_OBS, CD_CANAL, IN_CARGA_PERIGOSA, VL_M3, NM_EMPRESA_BASF, CD_EMPRESA )                                                      
  SELECT 
    NR_PROCESSO, NR_IDENT_USUARIO, CD_IMPORTADOR, CD_CONSIGNATARIO, CD_FABRICANTE, CD_EXPORTADOR, CD_VIA_TRANSP, CD_REPRESENTANTE,                                                
    CD_MOD_PAGAMENTO, CD_PAIS_ORIGEM, CD_REGIME_TRIB, CD_PAIS_PROCEDENCIA, CD_MOEDA_NEG, CD_PAIS_AQUISICAO, CD_TP_DECLARACAO,                                                
    CD_URF_DESPACHO, CD_INCOTERM, CD_TRANSP_INTERN, CD_BANDEIRA_VEIC, CD_SETOR_ARMAZENAGEM, CD_LOCAL_EMBARQUE, CD_AGENTE_CARGA,                                                
    CD_URF_ENTRADA, CD_RECINTO_ALFAND, CD_MOEDA_FRETE, CD_MOEDA_SEGURO, CD_MOEDA_CARGA, CD_LOCAL_INCOTERM, CD_TX_JUROS, CD_INSTIT_FINANC,                                                
    CD_MOTIVO_CAMBIO_SEM_COBERT, CD_BARRA, CD_MET_VALORACAO_ADUAN, DT_ABERTURA, DT_EMISSAO_DOC_CARGA, DT_CHEGADA_CARGA, DT_FATURA,                                                
    IN_APLICACAO_MERC, IN_COMISSAO, IN_DESCONTO, IN_TP_COMISSAO, IN_TP_DESCONTO, IN_INDICADOR_CONSIG_IMPORT, IN_INDICADOR_PROC,                                                
    IN_VINC_IMPO_EXPO, IN_COND_MERCADORIA, IN_FABR_EXPOR_IMP, IN_INDIC_MULTMODAL, IN_FUNDAP, IN_UTILIZ_CARGA, IN_INDIC_TX_JUROS, IN_SEGURO,                                                
    NR_PLACA_VEICULO, NR_MANIFESTO, NR_DOC_MASTER, NR_DOC_HOUSE, NR_BACEN, NR_FATURA, NM_IDENT_CRT, NM_VEICULO, PC_COMISSAO, PC_DESCONTO,                                                
    PC_SEGURO, PC_COMISSAO_AGENTE, PL_PO, PB_PO, QT_TOTAL_PESO, QT_PORC_ICMS, QT_TOTAL_ITENS, QT_PORC_RED_ICMS, QT_PERIODICIDADE,                                                
    TP_COBERT_CAMBIO, TP_CAMBIO, TP_DOC_CARGA, TP_FRETE, TP_SEGURO, TP_MOD_DESPACHO, TP_MANIFESTO, TX_JUROS, TX_OBSERVACAO, VL_COMISSAO,                                                
    VL_CARGA, VL_CAMBIO, VL_DESCONTO, VL_FRETE_PREPAID, VL_FRETE_COLLECT, VL_FRETE_TERRIT_NAC, VL_SEGURO, VL_TOTAL, VL_TOTAL_PARCELA,                                                
    VL_PAGTO_ANTECIPADO, VL_PAGTO_VISTA, VL_PERIODIC_MENSAL, VL_DESPESAS, VL_DESCONTOS, IN_SELECIONADO, IN_MONTADO, IN_IND_COND_MERC,                                                
    IN_IND_CAMBIO_ITENS, NR_PARCELAS, IN_PERIODICIDADE, QT_TOTAL_DISPONIVEL, CD_USUARIO_MONTA, CD_AREA, CD_COMPRADOR, CD_TERMO_PAGTO,                                                
    DT_NECESSIDADE, CD_TIPO_FRETE, CD_LOCAL_DESEMBARQUE, IN_ENTREPOSTO, IN_FATURADO, IN_IMEDIATO, VL_FRETE_INTERNO, VL_EMBALAGEM,                                                
    TX_OBS_INTERNO, VL_PB_EMBALAGEM, VL_PL_EMBALAGEM, NR_DA, CD_SERVICO, TX_VOLUMES, TX_INF_ENTREPOSTO, TP_NEGOCIACAO, NR_ARTICULO,                                                
    NR_ORDEM, CD_USUARIO_INT, CD_AGENTE, CD_BANCO, CD_USUARIO, TX_OBS, CD_CANAL, IN_CARGA_PERIGOSA, VL_M3, NM_EMPRESA_BASF, PO.CD_EMPRESA                                                
  FROM #TMP_PEDIDO ATZ                                                
    INNER JOIN TPO PO  ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA AND PO.CD_EMPRESA = ATZ.CD_EMPRESA)                                     
  WHERE ATZ.NM_TABELA = 'TPO'                                                
    AND YEAR(PO.DT_ABERTURA) >= @DATA                                                
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                  
  --VERIFICA SE OCORRERAM ERROS                                                
  IF (@@ERROR <> 0)                                                
  BEGIN                                                
   PRINT 'VERIFICAR CADASTRO DE TPO. ERRO Nº. '+CAST(@@ERROR AS VARCHAR)                                                
    SET @ERRORS = @ERRORS + 1                                          
  END                                                
  --TERMINO DA INCLUSÃO DOS REGISTROS NA TABELA TPO DO BANCO MYINDAIA                                                

  -- DROP NA TEMPORARIA
                                                  
  PRINT 'POS INSERIDAS'
  PRINT ''
  PRINT 'INSERT NA MYINDAIA.DBO.TPO_ITEM'
  --INICIO DA SELEÇÃO E INSERÇÃO DOS REGISTROS DA TABELA TPO_ITEM DA BASE MYINDAIA EM RELAÇÃO AOS                                                 
  --PROCESSO QUE CONSTAM NA TABELA #TMP_PEDIDO                                                
  INSERT INTO MYINDAIA.DBO.TPO_ITEM (                                                
    NR_PROCESSO, NR_ITEM, NR_PARCIAL, CD_EXPORTADOR, CD_NALADI_SH, CD_PAIS_AQUISICAO, CD_MERCADORIA, CD_FABRICANTE, CD_PAIS_ORIGEM,                                                
    CD_NCM_SH, CD_NALADI_NCCA, CD_MET_VALOR_ADUANEIRA, CD_DISP_LEGAL_EXONERA, CD_MOEDA_NEGOCIADA, CD_INCOTERM, CD_ACORDO_ALADI,                                                
    CD_REG_TRIB_II, CD_FUND_LEGAL_II, CD_UNID_MEDIDA, CD_UNID_MED_II, CD_UNID_MED_IPI, CD_UNID_MED_AD, CD_AGENTE_CAMBIO, CD_MOD_PAGTO,                                                
    CD_TX_JUROS, CD_INSTITUICAO_FINANC, CD_MOT_SEM_COBERT_CAMBIAL, CD_EX_II, CD_EX_IPI, CD_VIA_TRANSP, CD_PAIS_PROCEDENCIA, CD_URF_ENTRADA,
    IN_NECESSITA_LI, IN_INDICADOR_COND_MERC, IN_COND_MERC, IN_APLIC_MERC, NM_ORGAO_EMISSOR_AL_EX_NALADI, NM_AL_EX_NALADI,                                                
    NM_ORGAO_EMISSOR_AL_NCM, NM_AL_EX_NALADI_NCCA, NM_ORG_EMISSOR_EX_NALADI_NCCA, NM_AL_II, NM_ORGAO_EMISSOR_II, NM_ORGAO_EMISSOR_IPI,                                                
    NM_AL_IPI, NM_AL_AD, NM_ORGAO_EMISSOR_AD, NM_IDENTIFICACAO, NR_ANO_EMISSAO_AL_EX_NALADI, NR_AL_EX_NALADI, NR_EX_NCM, NR_AL_EX_NCM,                                                
    NR_ANO_EMISSAO_AL, NR_ATO_LEGAL, NR_EX_NALADI, NR_EX_NALADI_NCCA, NR_ANO_EMISSAO_EX_NALADI_NCCA, NR_AL_EX_NALADI_NCCA, NR_ANO_II,                                                
    NR_AL_II, NR_ALIQ_NORMAL_II, NR_ALIQ_ACORDO_II, NR_ALIQ_REDUZIDA_II, NR_ALIQ_PERC_RED_II, NR_ANO_IPI, NR_AL_IPI, NR_NOTA_COMPL_IPI,                                                
    NR_ALIQ_NORMAL_IPI, NR_ALIQ_REDUZIDA_IPI, NR_ALIQ_PERC_RED_IPI, NR_PROC_LI, NR_EX_AD, NR_ANO_AD, NR_AL_AD, NR_ALIQ_AD, NR_BASE_CALC_AD,                                                
    NR_PARCELAS, NR_PERIODICIDADE, NR_ROF_BACEN, NR_FATURA, PC_DESCONTO, PC_ICMS, PC_ICMS_REDUCAO, PC_COMISSAO, PL_ITEM,                                                
    QT_INICIAL, QT_BAIXADA_DI, QT_BAIXADA_LI, QT_ESPEC_II, QT_ESPEC_IPI, QT_AD, QT_MED_ESTATISTICA, TP_CALCULO, TP_COMISSAO, TP_ACORDO_TARIFARIO,                                                
    TP_TRIBUTACAO_IPI, TP_CAMBIO, TP_IND_TX_JUROS, TP_IND_PERIODICIDADE, TP_RECIPIENTE, TP_IND_MULTIMODAL, TX_MERCADORIA, TX_JUROS_CAMBIO,                                                
    VL_DESPESA_MOEDA, VL_DESCONTO_MOEDA, VL_UNITARIO, VL_TOTAL, VL_DESCONTO, VL_COMISSAO, VL_ESPEC_II, VL_ESPEC_IPI, VL_ESPEC_AD,                                                
    VL_TOTAL_PARCELAS, VL_COBERT_ACIMA_360, VL_PAGTO_ANTECIPADO, VL_PAGTO_AVISTA, VL_FRETE_NAC_MOEDA, VL_SEGURO_MOEDA, VL_ACRESC_MOEDA,                                                
    VL_DEDUC_MOEDA, VL_FRETE_PREPAID_MOEDA, VL_FRETE_COLLECT, IN_SELECIONADO, QT_BAIXAR, QT_DISPONIVEL, IN_MONTADO, IN_FABR_EXP_PROD,                                                
    NR_ANO_EX_NCM, NR_NUM_EX_NCM, IN_IND_COND_MERC, NM_LOCAL_INCOTERM, NM_TIPO_AL_AD, IN_IND_PERIODICIDADE, IN_REG_TRIB_IPI, QT_INICIAL_EST,                                              
    CD_USUARIO_MONTA, CD_MODALIDADE, NR_ATO_DRAWBACK, IN_AVISO_DB, NR_ITEM_CLIENTE, TX_OBSERVACAO, CD_AREA, CD_LOCAL_DESEMBARQUE,                                                
    CD_EMBARCACAO, CD_AGENTE, NR_VIAGEM, NR_VOO, NR_CONHECIMENTO, NR_COURRIER, IN_CONSOLIDADO, IN_URGENTE, IN_SEGURO, CD_MERC_FORNEC, DT_FATURA, CD_EMPRESA, TP_STATUS_CRODA, NR_ORDEM, ID_CODIGO_INSTR_DESEMB)
  SELECT                                                
    POI.NR_PROCESSO, POI.NR_ITEM, POI.NR_PARCIAL, POI.CD_EXPORTADOR, CD_NALADI_SH, POI.CD_PAIS_AQUISICAO, CD_MERCADORIA, POI.CD_FABRICANTE, POI.CD_PAIS_ORIGEM,                                                
    CD_NCM_SH, CD_NALADI_NCCA, CD_MET_VALOR_ADUANEIRA, CD_DISP_LEGAL_EXONERA, CD_MOEDA_NEGOCIADA, POI.CD_INCOTERM, CD_ACORDO_ALADI,                                                
    CD_REG_TRIB_II, CD_FUND_LEGAL_II, CD_UNID_MEDIDA, CD_UNID_MED_II, CD_UNID_MED_IPI, CD_UNID_MED_AD, CD_AGENTE_CAMBIO, CD_MOD_PAGTO,                                            
    POI.CD_TX_JUROS, CD_INSTITUICAO_FINANC, CD_MOT_SEM_COBERT_CAMBIAL, CD_EX_II, CD_EX_IPI, POI.CD_VIA_TRANSP, POI.CD_PAIS_PROCEDENCIA,                                                
    POI.CD_URF_ENTRADA, IN_NECESSITA_LI, IN_INDICADOR_COND_MERC, IN_COND_MERC, IN_APLIC_MERC, NM_ORGAO_EMISSOR_AL_EX_NALADI, NM_AL_EX_NALADI,                
    NM_ORGAO_EMISSOR_AL_NCM, NM_AL_EX_NALADI_NCCA, NM_ORG_EMISSOR_EX_NALADI_NCCA, NM_AL_II, NM_ORGAO_EMISSOR_II, NM_ORGAO_EMISSOR_IPI,                                                
    NM_AL_IPI, NM_AL_AD, NM_ORGAO_EMISSOR_AD, NM_IDENTIFICACAO, NR_ANO_EMISSAO_AL_EX_NALADI, NR_AL_EX_NALADI, NR_EX_NCM, NR_AL_EX_NCM,                                                
    NR_ANO_EMISSAO_AL, NR_ATO_LEGAL, NR_EX_NALADI, NR_EX_NALADI_NCCA, NR_ANO_EMISSAO_EX_NALADI_NCCA, NR_AL_EX_NALADI_NCCA, NR_ANO_II,                                         
    NR_AL_II, NR_ALIQ_NORMAL_II, NR_ALIQ_ACORDO_II, NR_ALIQ_REDUZIDA_II, NR_ALIQ_PERC_RED_II, NR_ANO_IPI, NR_AL_IPI, NR_NOTA_COMPL_IPI,                                                
    NR_ALIQ_NORMAL_IPI, NR_ALIQ_REDUZIDA_IPI, NR_ALIQ_PERC_RED_IPI, NR_PROC_LI, NR_EX_AD, NR_ANO_AD, NR_AL_AD, NR_ALIQ_AD, NR_BASE_CALC_AD,                                                
    POI.NR_PARCELAS, NR_PERIODICIDADE, NR_ROF_BACEN, POI.NR_FATURA, POI.PC_DESCONTO, PC_ICMS, PC_ICMS_REDUCAO, POI.PC_COMISSAO, PL_ITEM,                                                
    QT_INICIAL, QT_BAIXADA_DI, QT_BAIXADA_LI, QT_ESPEC_II, QT_ESPEC_IPI, QT_AD, QT_MED_ESTATISTICA, TP_CALCULO, TP_COMISSAO, TP_ACORDO_TARIFARIO,                                                
    TP_TRIBUTACAO_IPI, POI.TP_CAMBIO, TP_IND_TX_JUROS, TP_IND_PERIODICIDADE, TP_RECIPIENTE, TP_IND_MULTIMODAL, TX_MERCADORIA, TX_JUROS_CAMBIO,                                                
    VL_DESPESA_MOEDA, VL_DESCONTO_MOEDA, VL_UNITARIO, POI.VL_TOTAL, POI.VL_DESCONTO, POI.VL_COMISSAO, VL_ESPEC_II, VL_ESPEC_IPI, VL_ESPEC_AD,                                                
    VL_TOTAL_PARCELAS, VL_COBERT_ACIMA_360, POI.VL_PAGTO_ANTECIPADO, VL_PAGTO_AVISTA, VL_FRETE_NAC_MOEDA, VL_SEGURO_MOEDA, VL_ACRESC_MOEDA,                                                
    VL_DEDUC_MOEDA, VL_FRETE_PREPAID_MOEDA, POI.VL_FRETE_COLLECT, POI.IN_SELECIONADO, QT_BAIXAR, QT_DISPONIVEL, POI.IN_MONTADO, IN_FABR_EXP_PROD,                                                
    NR_ANO_EX_NCM, NR_NUM_EX_NCM, POI.IN_IND_COND_MERC, NM_LOCAL_INCOTERM, NM_TIPO_AL_AD, IN_IND_PERIODICIDADE, IN_REG_TRIB_IPI, QT_INICIAL_EST,                                                
    POI.CD_USUARIO_MONTA, CD_MODALIDADE, NR_ATO_DRAWBACK, IN_AVISO_DB, NR_ITEM_CLIENTE, POI.TX_OBSERVACAO, POI.CD_AREA, POI.CD_LOCAL_DESEMBARQUE,                                                
    CD_EMBARCACAO, POI.CD_AGENTE, POI.NR_VIAGEM, NR_VOO, NR_CONHECIMENTO, NR_COURRIER, IN_CONSOLIDADO, IN_URGENTE, POI.IN_SEGURO, POI.CD_MERC_FORNEC, POI.DT_FATURA, PO.CD_EMPRESA, POI.TP_STATUS_CRODA, POI.NR_ORDEM, POI.ID_CODIGO_INSTR_DESEMB
  FROM #TMP_PEDIDO ATZ                                              
    INNER JOIN TPO PO ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA AND PO.CD_EMPRESA = ATZ.CD_EMPRESA)
    INNER JOIN TPO_ITEM POI ON (POI.NR_PROCESSO = ATZ.NR_REFERENCIA AND POI.NR_ITEM = ATZ.NR_ITEM AND POI.NR_PARCIAL = ATZ.NR_PARCIAL AND POI.CD_EMPRESA = ATZ.CD_EMPRESA)
  WHERE ATZ.NM_TABELA = 'TPO_ITEM'                                                
    AND YEAR(PO.DT_ABERTURA) >= @DATA                                                
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                        
  --VERIFICA SE OCORRERAM ERROS                                                
  IF (@@ERROR <> 0)              
  BEGIN                         
    PRINT 'VERIFICAR CADASTRO DE TPO_ITEM. ERRO Nº. '+CAST(@@ERROR AS VARCHAR)                                                
    SET @ERRORS = @ERRORS + 1                                                
  END                                                
  --TERMINO DA INCLUSÃO DOS REGISTROS NA TABELA TPO_ITEM DO BANCO MYINDAIA                                                
  PRINT 'PO ITEM INSERIDA'                                                

  PRINT ''
  PRINT 'INSERT NA MYINDAIA.DBO.TFLP_PO'
  --INICIO DA SELEÇÃO E INSERÇÃO DOS REGISTROS DA TABELA TFLP_PO DA BASE MYINDAIA EM RELAÇÃO AOS                                                 
  --PROCESSO QUE CONSTAM NA TABELA #TMP_PEDIDO                                                
  INSERT INTO MYINDAIA.DBO.TFLP_PO (                                                
    NR_PROCESSO, CD_EVENTO, IN_APLICAVEL, CD_RESP_REALIZACAO, DT_REALIZACAO, --DT_PREVISTA,                                                
    DT_LIMITE, NR_ORDEM, CD_STATUS, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO_INDAIA, CD_EMPRESA )           
  SELECT                                                
    FU.NR_PROCESSO, CD_EVENTO, IN_APLICAVEL, CD_RESP_REALIZACAO, DT_REALIZACAO, --DT_PREVISTA,                                                
    DT_LIMITE, FU.NR_ORDEM, CD_STATUS, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO_INDAIA, PO.CD_EMPRESA
  FROM #TMP_PEDIDO ATZ                                                
    INNER JOIN TPO PO  ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA AND PO.CD_EMPRESA = ATZ.CD_EMPRESA)
    INNER JOIN TFLP_PO FU  ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA AND FU.CD_EMPRESA = ATZ.CD_EMPRESA)
  WHERE ATZ.NM_TABELA = 'TFLP_PO'                                                
    AND YEAR(PO.DT_ABERTURA) >= @DATA                                                
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                             
  --VERIFICA SE OCORRERAM ERROS                                                
  IF (@@ERROR <> 0)                                                
  BEGIN                                                
    PRINT 'VERIFICAR CADASTRO DE TFLP_PO. ERRO Nº. '+CAST(@@ERROR AS VARCHAR)                                                
    SET @ERRORS = @ERRORS + 1                                       
  END                                                
  ELSE                                                
  BEGIN                 
  /*  17-10-2008                      
    --JOGA PARA A TABELA DE ATUALIZAÇÃO DE ESTAGIO OS PROCESSOS ATUALIZADOS                                                
    INSERT INTO TATZ_MYINDAIA_ESTAGIO ( NR_REFERENCIA, NR_ITEM_CLIENTE, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PARCIAL )                                                
    SELECT ATZ.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PARCIAL                                              
    FROM #TMP_PEDIDO ATZ                        
      INNER JOIN TPO_ITEM FU (NOLOCK) ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA)                                                  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = FU.NR_ITEM_CLIENTE)   
    
                                               
    WHERE ATZ.NM_TABELA = 'TFLP_PO'                          */                      
                        
    --EXECUTA A ATUALIZAÇÃO DE FUP DA PO                                                
    DECLARE CATZPO CURSOR LOCAL FOR                                                
      SELECT NR_REFERENCIA, CD_EMPRESA                                
      FROM #TMP_PEDIDO                                                   
      WHERE NM_TABELA = 'TFLP_PO'                                                
      GROUP BY NR_REFERENCIA, CD_EMPRESA                                                
                                                    
    OPEN CATZPO                                                
    FETCH CATZPO INTO @NR_REFERENCIA, @CD_EMPRESA                                                
                                                    
    WHILE @@FETCH_STATUS = 0                                                
    BEGIN                                                
      EXEC MYINDAIA.DBO.SP_ATZ_FLP_PO @NR_REFERENCIA, @CD_EMPRESA
      FETCH CATZPO INTO @NR_REFERENCIA, @CD_EMPRESA
    END                                                
                                                    
    CLOSE CATZPO                                                
    DEALLOCATE CATZPO                                                
  END                                                
  --TERMINO DA INCLUSÃO DOS REGISTROS NA TABELA TFLP_PO DO BANCO MYINDAIA                                                
                                                  
                                                  
  --INICIO DA SELEÇÃO E INSERÇÃO DOS REGISTROS DA TABELA TFLP_PO_ITEM DA BASE MYINDAIA EM RELAÇÃO AOS                                                 
  --PROCESSO QUE CONSTAM NA TABELA #TMP_PEDIDO                                                
  INSERT INTO MYINDAIA.DBO.TFLP_PO_ITEM (                                                
    NR_PROCESSO, NR_ITEM, CD_EVENTO, IN_APLICAVEL, CD_RESP_REALIZACAO, DT_REALIZACAO, --DT_PREVISTA,                                                
    DT_LIMITE, NR_ORDEM, CD_STATUS, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO_INDAIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, TX_OBS )
  SELECT                                                
    FU.NR_PROCESSO, FU.NR_ITEM, CD_EVENTO, IN_APLICAVEL, CD_RESP_REALIZACAO, DT_REALIZACAO, --DT_PREVISTA,                                                
    DT_LIMITE, FU.NR_ORDEM, CD_STATUS, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO_INDAIA, NR_ITEM_CLIENTE, FU.NR_PARCIAL, FU.CD_EMPRESA, FU.TX_OBS
  FROM #TMP_PEDIDO ATZ                                               
    INNER JOIN TPO PO  ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA AND PO.CD_EMPRESA = ATZ.CD_EMPRESA)
    INNER JOIN TFLP_PO_ITEM FU  ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA AND FU.NR_ITEM = ATZ.NR_ITEM AND FU.CD_EMPRESA = ATZ.CD_EMPRESA)
  WHERE ATZ.NM_TABELA = 'TFLP_PO_ITEM'                                                
    AND YEAR(PO.DT_ABERTURA) >= @DATA                                                
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                       
                        
  --VERIFICA SE OCORRERAM ERROS                                                
  IF (@@ERROR <> 0)                                                
  BEGIN                                                
    PRINT 'VERIFICAR CADASTRO DE TFLP_PO_ITEM. ERRO Nº. '+CAST(@@ERROR AS VARCHAR)                                                
    SET @ERRORS = @ERRORS + 1                                                
  END                                                
  ELSE                                                
  BEGIN                                                
   /* 17-10-2008                      
    --JOGA PARA A TABELA DE ATUALIZAÇÃO DE ESTAGIO OS PROCESSOS ATUALIZADOS                                               
    INSERT INTO TATZ_MYINDAIA_ESTAGIO ( NR_REFERENCIA, NR_ITEM_CLIENTE, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PARCIAL )                                                
    SELECT ATZ.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PARCIAL                                                
    FROM #TMP_PEDIDO ATZ                                                
      INNER JOIN TPO_ITEM FU (NOLOCK) ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA AND FU.NR_ITEM = ATZ.NR_ITEM AND FU.NR_PARCIAL = ATZ.NR_PARCIAL)                                                
      INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = FU.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = FU.NR_PARCIAL)                                                
    WHERE ATZ.NM_TABELA = 'TFLP_PO_ITEM'                          */                      
    --EXECUTA A ATUALIZAÇÃO DE FUP DA PO                                                
    DECLARE CATZPOITEM CURSOR LOCAL FOR                                                
      SELECT NR_REFERENCIA, NR_ITEM, CD_EMPRESA                                                
      FROM #TMP_PEDIDO                                        
      WHERE NM_TABELA = 'TFLP_PO_ITEM'                                                
    GROUP BY NR_REFERENCIA, NR_ITEM, CD_EMPRESA                                                
                         
    OPEN CATZPOITEM                                                
    FETCH CATZPOITEM INTO @NR_REFERENCIA, @NR_ITEM, @CD_EMPRESA                                                
                                                    
    WHILE @@FETCH_STATUS = 0                                                
    BEGIN                       
      EXEC MYINDAIA.DBO.SP_ATZ_FLP_PO_ITEM @NR_REFERENCIA, @NR_ITEM, @CD_EMPRESA                                                
      FETCH CATZPOITEM INTO @NR_REFERENCIA, @NR_ITEM, @CD_EMPRESA
    END                                                
                                            
    CLOSE CATZPOITEM                                                
    DEALLOCATE CATZPOITEM                                                
  END                                                
  --TERMINO DA INCLUSÃO DOS REGISTROS NA TABELA TFLP_PO_ITEM DO BANCO MYINDAIA                                                
                                                  
                                                 
  --INICIO DA SELEÇÃO E INSERÇÃO DOS REGISTROS DA TABELA TFLP_PO_ITEM_ETAPA DA BASE MYINDAIA EM RELAÇÃO AOS                                                 
  --PROCESSO QUE CONSTAM NA TABELA #TMP_PEDIDO                                                
  INSERT INTO MYINDAIA.DBO.TFLP_PO_ITEM_ETAPA (                                                
    NR_PROCESSO, NR_ITEM, CD_FLP_PO_ITEM_ETAPA, CD_ETAPA, CD_USUARIO, DT_ALTERACAO, CD_EMPRESA )                                                
  SELECT                                                
    FU.NR_PROCESSO, FU.NR_ITEM, CD_FLP_PO_ITEM_ETAPA, CD_ETAPA, FU.CD_USUARIO, DT_ALTERACAO, ATZ.CD_EMPRESA
  FROM #TMP_PEDIDO ATZ                                               
    INNER JOIN TPO PO ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA AND PO.CD_EMPRESA = ATZ.CD_EMPRESA )                                                
    INNER JOIN TFLP_PO_ITEM_ETAPA FU  ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA AND FU.NR_ITEM = ATZ.NR_ITEM AND FU.CD_EMPRESA = ATZ.CD_EMPRESA)                                                
  WHERE ATZ.NM_TABELA = 'TFLP_PO_ITEM_ETAPA'                                                
    AND YEAR(PO.DT_ABERTURA) >= @DATA                                                
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                                
  --VERIFICA SE OCORRERAM ERROS                                                
  IF (@@ERROR <> 0)                                                
  BEGIN                                                
    PRINT 'VERIFICAR CADASTRO DE TFLP_PO_ITEM. ERRO Nº. '+CAST(@@ERROR AS VARCHAR)                               
    SET @ERRORS = @ERRORS + 1                                                
  END                    
  --TERMINO DA INCLUSÃO DOS REGISTROS NA TABELA TFLP_PO_ITEM DO BANCO MYINDAIA                                                
                                                  
                                                  
  --INICIO DA SELEÇÃO E INSERÇÃO DOS REGISTROS DA TABELA TB_FOLLOWUP_ETAPA DA BASE MYINDAIA EM RELAÇÃO AOS                                                 
  --PROCESSO QUE CONSTAM NA TABELA #TMP_PROCESSO                                                
  INSERT INTO MYINDAIA.DBO.TFOLLOWUP_OBS ( NR_PROCESSO, TX_OBSERVACAO, CD_EMPRESA, TP_OBS )                                                
  SELECT FP.NR_PROCESSO, FP.TX_OBS, FP.CD_EMPRESA, '1'
  FROM #TMP_PEDIDO ATZ                                               
    INNER JOIN TPO PO  ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA AND PO.CD_EMPRESA = ATZ.CD_EMPRESA)                                                
    INNER JOIN TFLP_PO FP  ON (FP.NR_PROCESSO = ATZ.NR_REFERENCIA AND FP.CD_EMPRESA = ATZ.CD_EMPRESA)                                                
  WHERE ATZ.NM_TABELA = 'TFLP_PO'                                                
    AND YEAR(PO.DT_ABERTURA) >= @DATA                                                
    AND FP.CD_EVENTO = '022'                                                
    AND FP.TX_OBS IS NOT NULL                                                
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                                
  --VERIFICA SE OCORRERAM ERROS                      
  IF (@@ERROR <> 0)                                                
  BEGIN                                                
    PRINT 'VERIFICAR CADASTRO DE TFOLLOWUP_OBS. ERRO Nº. '+CAST(@@ERROR AS VARCHAR)                                                
    SET @ERRORS = @ERRORS + 1                                                
  END                        
  --TERMINO DA INCLUSÃO DOS REGISTROS NA TABELA TB_FOLLOWUP DO BANCO MYINDAIA                              
  /**************************************************************************************************/                      
  /***** FOLLOW UP DE EVENTOS PO *****/                                        
  DECLARE CEVENTO CURSOR LOCAL FOR                                        
    SELECT M10_AP_CAMPO, M10_CD_BROKER                                        
    FROM MYINDAIA.DBO.M10_DADOS                                 
    WHERE M10_TP_DADO = '1'                                        
     AND M10_CD_BROKER IN ('003','019','020','168','219','349','352','353','354','425','426','459','461','554','400')                                        
      AND M10_AP_CAMPO NOT LIKE '%DE'                                        
    ORDER BY M10_CD_BROKER                                        
                                          
  OPEN CEVENTO                       
  FETCH CEVENTO INTO @APCAMPO, @CDBROKER                                        
  PRINT 'FOLLOWUP ATUALIZADO'                                        
  WHILE @@FETCH_STATUS = 0                                        
  BEGIN   
    IF (SELECT COUNT(*) 
        FROM MYINDAIA.DBO.SYSOBJECTS SO, MYINDAIA.DBO.SYSCOLUMNS SC
        WHERE SO.NAME = 'TFLP_IMPORT1'
          AND SC.NAME = 'RLZ_'+@APCAMPO
          AND SC.ID = SO.ID) > 0         
      SET @TABELA = 'TFLP_IMPORT1'
    ELSE
      SET @TABELA = 'TFLP_IMPORT2'
                                       
    SET @TXUPDATE = 'UPDATE FI SET                                        
      RLZ_'+@APCAMPO+' = FP.DT_REALIZACAO, PVT_'+@APCAMPO+' = FP.DT_PREVISTA, IN_'+@APCAMPO+' = FP.IN_APLICAVEL                                        
    FROM MYINDAIA.DBO.' + @TABELA + ' FI                                         
      INNER JOIN #TMP_ESTAGIO ATZ  ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL AND FI.CD_EMPRESA = ATZ.CD_EMPRESA)                                        
      INNER JOIN TPO PO  ON (PO.NR_PROCESSO = FI.NR_REFERENCIA AND PO.CD_EMPRESA = FI.CD_EMPRESA)                                        
      INNER JOIN MYINDAIA.DBO.TFLP_PO FP  ON (FP.NR_PROCESSO = FI.NR_REFERENCIA AND FP.CD_EMPRESA = FI.CD_EMPRESA AND CD_EVENTO = '''+@CDBROKER+''')                                        
    WHERE FI.NR_PROCESSO_ADM IS NOT NULL                                        
      AND YEAR(PO.DT_ABERTURA) >= '+CAST(@DATA AS CHAR)                                        
    EXEC(@TXUPDATE)                                        
    IF @@ERROR <> 0 PRINT 'ERRO NA ATUALIZAÇÃO DA TFLP_IMPORT COM O EVENTO DE PO '+@CDBROKER                   
    FETCH CEVENTO INTO @APCAMPO, @CDBROKER                                        
  END                                        
                                          
  CLOSE CEVENTO                                        
  DEALLOCATE CEVENTO                                        
                                          
  /***** FOLLOW UP DE EVENTOS PO/ITEM *****/                                        
  DECLARE CEVENTO CURSOR LOCAL FOR                                   
    SELECT M10_AP_CAMPO, M10_CD_BROKER                                        
    FROM MYINDAIA.DBO.M10_DADOS                                        
    WHERE M10_TP_DADO = '1'                                        
      AND M10_CD_BROKER IN ('001','012','018','021','041','076','088','082','123','146','161','162','164','207','216','218','219','257','297',                                        
                            '300','354','355','356','357','362','363','364','365','397','433','448','450','451','453','455','456','457','458','459',                                        
                            '460','464','486','500','551','554','798','879','880','881','878','955')                                        
      AND M10_AP_CAMPO NOT LIKE '%DE'                                        
    ORDER BY M10_CD_BROKER                                        
                                          
  OPEN CEVENTO                                        
  FETCH CEVENTO INTO @APCAMPO, @CDBROKER                                        
                                          
  WHILE @@FETCH_STATUS = 0                                        
  BEGIN                                        
    IF  @CDBROKER = '164'    
    BEGIN                                       
       SET @TXUPDATE = 'UPDATE FI SET                                        
          RLZ_DT_EV164 = FP.DT_REALIZACAO, PVT_DT_EV164 = ISNULL(FP.DT_PREVISTA, CONVERT(DATETIME,     
       (CASE SV.CD_VIA_TRANSPORTE    
         WHEN ''04'' THEN CONVERT(VARCHAR, 7 + CONVERT(DATETIME,(ISNULL(FI.RLZ_DT_EV161, FI.PVT_DT_EV161)),103),103)     
         WHEN ''01'' THEN CONVERT(VARCHAR, 10 + CONVERT(DATETIME,(ISNULL(FI.RLZ_DT_EV161, FI.PVT_DT_EV161)),103),103) END),103)),     
       IN_DT_EV164 = FP.IN_APLICAVEL                                        
       FROM MYINDAIA.DBO.TFLP_IMPORT1 FI                                     
          INNER JOIN #TMP_ESTAGIO ATZ ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL AND FI.CD_EMPRESA = ATZ.CD_EMPRESA)                                        
          INNER JOIN TPROCESSO PR ON (PR.NR_PROCESSO = FI.NR_PROCESSO_ADM)    
          INNER JOIN TSERVICO SV ON (SV.CD_SERVICO = PR.CD_SERVICO)      
          INNER JOIN TPO PO  ON (PO.NR_PROCESSO = FI.NR_REFERENCIA AND PO.CD_EMPRESA = FI.CD_EMPRESA)                                        
          INNER JOIN MYINDAIA.DBO.TFLP_PO_ITEM FP ON (FP.NR_PROCESSO = FI.NR_REFERENCIA AND FP.NR_ITEM_CLIENTE = FI.NR_ITEM_CLIENTE AND FP.NR_PARCIAL = FI.NR_PARCIAL AND FP.CD_EMPRESA = FI.CD_EMPRESA AND CD_EVENTO = '''+@CDBROKER+''')                                        
       WHERE FI.NR_PROCESSO_ADM IS NOT NULL                                        
          AND YEAR(PO.DT_ABERTURA) >= '+CAST(@DATA AS CHAR)                                        
       EXEC(@TXUPDATE)                                        
       IF @@ERROR <> 0 PRINT 'ERRO NA ATUALIZAÇÃO DA TFLP_IMPORT COM O EVENTO DE PO/ITEM '+@CDBROKER                                        
          FETCH CEVENTO INTO @APCAMPO, @CDBROKER                                        
    END    
    ELSE    
    BEGIN    
      IF (SELECT COUNT(*) 
          FROM MYINDAIA.DBO.SYSOBJECTS SO, MYINDAIA.DBO.SYSCOLUMNS SC
          WHERE SO.NAME = 'TFLP_IMPORT1'
            AND SC.NAME = 'RLZ_'+@APCAMPO
            AND SC.ID = SO.ID) > 0         
        SET @TABELA = 'TFLP_IMPORT1'
      ELSE
        SET @TABELA = 'TFLP_IMPORT2'
    
       SET @TXUPDATE = 'UPDATE FI SET                                        
          RLZ_'+@APCAMPO+' = ISNULL(FP.DT_REALIZACAO, RLZ_'+@APCAMPO+'), PVT_'+@APCAMPO+' = ISNULL(FP.DT_PREVISTA, PVT_'+@APCAMPO+'), IN_'+@APCAMPO+' = ISNULL(FP.IN_APLICAVEL, IN_'+@APCAMPO+')                                        
       FROM MYINDAIA.DBO.' + @TABELA + ' FI                                         
          INNER JOIN #TMP_ESTAGIO ATZ ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL AND FI.CD_EMPRESA = ATZ.CD_EMPRESA)                                        
          INNER JOIN TPO PO ON (PO.NR_PROCESSO = FI.NR_REFERENCIA AND PO.CD_EMPRESA = FI.CD_EMPRESA)                                        
          INNER JOIN MYINDAIA.DBO.TFLP_PO_ITEM FP ON (FP.NR_PROCESSO = FI.NR_REFERENCIA AND FP.NR_ITEM_CLIENTE = FI.NR_ITEM_CLIENTE AND FP.NR_PARCIAL = FI.NR_PARCIAL AND FP.CD_EMPRESA = FI.CD_EMPRESA AND CD_EVENTO = '''+@CDBROKER+''')                                        
       WHERE FI.NR_PROCESSO_ADM IS NOT NULL                                        
          AND YEAR(PO.DT_ABERTURA) >= '+CAST(@DATA AS CHAR)                                        
       EXEC(@TXUPDATE)                                        
       IF @@ERROR <> 0 PRINT 'ERRO NA ATUALIZAÇÃO DA TFLP_IMPORT COM O EVENTO DE PO/ITEM '+@CDBROKER                                        
          FETCH CEVENTO INTO @APCAMPO, @CDBROKER         
    END                                  
  END                                        
                                          
  CLOSE CEVENTO                                        
  DEALLOCATE CEVENTO                                        
                                          
  /***** FOLLOW UP DE EVENTOS DESEMBARAÇO *****/                                        
  DECLARE CEVENTO CURSOR LOCAL FOR                                        
    SELECT M10_AP_CAMPO, M10_CD_BROKER                                        
    FROM MYINDAIA.DBO.M10_DADOS                                      
    WHERE M10_TP_DADO = '1'                                        
      AND M10_CD_BROKER IN (SELECT CD_EVENTO FROM TEVENTO_ATZ )                                        
  AND M10_AP_CAMPO NOT LIKE '%PO'                                        
    ORDER BY M10_CD_BROKER                                        
                                          
  OPEN CEVENTO                                        
  FETCH CEVENTO INTO @APCAMPO, @CDBROKER                                        
                                          
  WHILE @@FETCH_STATUS = 0                                        
  BEGIN   
    IF (SELECT COUNT(*) 
        FROM MYINDAIA.DBO.SYSOBJECTS SO, MYINDAIA.DBO.SYSCOLUMNS SC
        WHERE SO.NAME = 'TFLP_IMPORT1'
          AND SC.NAME = 'RLZ_'+@APCAMPO
          AND SC.ID = SO.ID) > 0         
      SET @TABELA = 'TFLP_IMPORT1'
    ELSE
      SET @TABELA = 'TFLP_IMPORT2'
                                       
    SET @TXUPDATE = 'UPDATE FI SET '                                        
    IF @CDBROKER IN ('001','012','018','021','041','076','088','146','161','162','164','207','215','216','381')                      
    BEGIN                                        
      SET @TXUPDATE = @TXUPDATE + '                                         
      RLZ_'+@APCAMPO+' = FU.DT_REALIZACAO, EFT_'+@APCAMPO+' = FU.DT_REALIZACAO_EFETIVA, PVT_'+@APCAMPO+' = FU.DT_PREVISTA, IN_'+@APCAMPO+' = FU.IN_APLICAVEL'                               
    END                                        
    ELSE                                       
    BEGIN                                        
      SET @TXUPDATE = @TXUPDATE + '                                         
      RLZ_'+@APCAMPO+' = ISNULL(FU.DT_REALIZACAO, RLZ_'+@APCAMPO+'),                                        
      PVT_'+@APCAMPO+' = ISNULL(FU.DT_PREVISTA, PVT_'+@APCAMPO+'),     
      EFT_'+@APCAMPO+' = ISNULL(FU.DT_REALIZACAO_EFETIVA, EFT_'+@APCAMPO+'),                                        
      IN_'+@APCAMPO+' = ISNULL(FU.IN_APLICAVEL, IN_'+@APCAMPO+') '                                        
    END                                        
    SET @TXUPDATE = @TXUPDATE + '                                         
    FROM MYINDAIA.DBO.' + @TABELA + ' FI                                        
      INNER JOIN #TMP_ESTAGIO ATZ ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL AND FI.CD_EMPRESA = ATZ.CD_EMPRESA)                                        
      INNER JOIN TPROCESSO PR ON (PR.NR_PROCESSO = FI.NR_PROCESSO_DES)
      INNER JOIN TFOLLOWUP FU ON (FU.NR_PROCESSO = FI.NR_PROCESSO_DES AND FU.CD_EVENTO = '''+@CDBROKER+''')                                        
    WHERE FI.NR_PROCESSO_ADM IS NOT NULL                                        
      AND YEAR(PR.DT_ABERTURA) >= '+CAST(@DATA AS CHAR)                                        
    EXEC(@TXUPDATE)                                        
    IF @@ERROR <> 0 PRINT 'ERRO NA ATUALIZAÇÃO DA TFLP_IMPORT COM O EVENTO DE DESEMBARAÇO '+@CDBROKER                                        
    FETCH CEVENTO INTO @APCAMPO, @CDBROKER                                        
  END                                        
                                          
  CLOSE CEVENTO                                        
  DEALLOCATE CEVENTO                                          
                                          
  --FOLLOW-UP DE ITENS DA PO(ADMINISTRAO DE PEDIDO)                                        
  PRINT 'INSERT NA TFLP_ESTAGIO 1'          
          
  DECLARE CESTAGIO CURSOR LOCAL FOR                                        
    SELECT DISTINCT                                        
      EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                                       
      EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM, EP.CD_EMPRESA         
    FROM #TMP_ESTAGIO ATZ                                    
      INNER JOIN TESTAGIO_PROCESSO EP  ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ATZ.CD_EMPRESA = EP.CD_EMPRESA)                                      
      INNER JOIN TPROCESSO PR  ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)             
      INNER JOIN MYINDAIA.DBO.TFLP_PO_ITEM FP  ON (FP.NR_PROCESSO = EP.NR_REFERENCIA AND FP.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND FP.NR_PARCIAL = EP.NR_PARCIAL AND FP.CD_EMPRESA = EP.CD_EMPRESA)                                        
    WHERE YEAR(PR.DT_ABERTURA) >= @DATA AND ISNULL(PR.IN_CANCELADO, '0') = '0'                      
  OPEN CESTAGIO                                        
          
  FETCH CESTAGIO INTO         
      @NR_REFERENCIA, @NR_ITEM_CLIENTE, @NR_PARCIAL, @DT_ULT_ALTERACAO, @CD_EVENTO, @NR_PROCESSO_ADM,                                       
      @NR_PROCESSO_DES, @NR_PROCESSO_FI, @DT_PREVISTA, @DT_REALIZACAO, @IN_APLICAVEL, @NR_ORDEM, @CD_EMPRESA         
                                          
  WHILE @@FETCH_STATUS = 0                                        
  BEGIN                                        
    IF ( SELECT COUNT(*) FROM MYINDAIA.DBO.TFLP_ESTAGIO          
      WHERE NR_REFERENCIA   = @NR_REFERENCIA   AND         
      NR_ITEM_CLIENTE = @NR_ITEM_CLIENTE AND         
      NR_PARCIAL   = @NR_PARCIAL      AND         
      CD_EMPRESA = @CD_EMPRESA AND
      CD_EVENTO   = @CD_EVENTO) = 0          
    BEGIN        
       INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO         
       ( NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI,        
         DT_PREVISTA, DT_REALIZACAO, IN_APLICAVEL, NR_ORDEM, TP_FOLLOWUP, CD_EMPRESA )            
       VALUES        
       ( @NR_REFERENCIA, @NR_ITEM_CLIENTE, @NR_PARCIAL, @DT_ULT_ALTERACAO, @CD_EVENTO, @NR_PROCESSO_ADM,         
         @NR_PROCESSO_DES, @NR_PROCESSO_FI, @DT_PREVISTA, @DT_REALIZACAO,  @IN_APLICAVEL, @NR_ORDEM, '1', @CD_EMPRESA )        
                  
       SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                        
       IF @@ERROR <> 0 PRINT 'ERRO NA INCLUSÃO DA TFLP_ESTAGIO COM EVENTOS DA PO/ITEM'
    END        
          
    FETCH CESTAGIO INTO @NR_REFERENCIA, @NR_ITEM_CLIENTE, @NR_PARCIAL, @DT_ULT_ALTERACAO, @CD_EVENTO,         
         @NR_PROCESSO_ADM, @NR_PROCESSO_DES, @NR_PROCESSO_FI, @DT_PREVISTA, @DT_REALIZACAO,         
         @IN_APLICAVEL, @NR_ORDEM, @CD_EMPRESA         
  END        
          
  CLOSE CESTAGIO                                     
  DEALLOCATE CESTAGIO        
          
          
  /*INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (        
    NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI,        
    DT_PREVISTA, DT_REALIZACAO, IN_APLICAVEL, NR_ORDEM, TP_FOLLOWUP )        
  SELECT DISTINCT                                        
    EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                                       
    EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM,         
    '1' AS TP_FOLLOWUP        
  FROM #TMP_ESTAGIO ATZ                                        
    INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL)                                      
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)             
    INNER JOIN MYINDAIA.DBO.TFLP_PO_ITEM FP (NOLOCK) ON (FP.NR_PROCESSO = EP.NR_REFERENCIA AND FP.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND FP.NR_PARCIAL = EP.NR_PARCIAL)                                        
  WHERE YEAR(PR.DT_ABERTURA) >= @DATA                                        
    AND ISNULL(PR.IN_CANCELADO, '0') = '0'                      
    AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)                                        
                    WHERE NR_REFERENCIA = EP.NR_REFERENCIA                                        
                      AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE                                        
                      AND NR_PARCIAL = EP.NR_PARCIAL                                        
                      AND CD_EVENTO = FP.CD_EVENTO)  */         
  --VERIFICA SE OCORRERAM ERROS                                        
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                        
  IF @@ERROR <> 0 PRINT 'ERRO NA INCLUSÃO DA TFLP_ESTAGIO COM EVENTOS DA PO/ITEM'                                        
                                          
  --FOLLOW-UP DE PO(ADMINISTRAO DE PEDIDO)                                        
  PRINT 'INSERT NA TFLP_ESTAGIO 2'          
  INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                                        
    NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI,                                        
    DT_PREVISTA, DT_REALIZACAO, IN_APLICAVEL, NR_ORDEM, TP_FOLLOWUP, CD_EMPRESA )                                        
  SELECT DISTINCT                                        
    EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE,  EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                                       
    EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM, '0' AS TP_FOLLOWUP, EP.CD_EMPRESA                                        
  FROM #TMP_ESTAGIO ATZ                     
    INNER JOIN TESTAGIO_PROCESSO EP  ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ATZ.CD_EMPRESA = EP.CD_EMPRESA)                                        
    INNER JOIN TPROCESSO PR  ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)                                        
    INNER JOIN MYINDAIA.DBO.TFLP_PO FP  ON (FP.NR_PROCESSO = EP.NR_REFERENCIA AND FP.CD_EMPRESA = EP.CD_EMPRESA)                                        
  WHERE YEAR(PR.DT_ABERTURA) >= @DATA                                        
    AND ISNULL(PR.IN_CANCELADO, '0') = '0'                  
    AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFLP_ESTAGIO                                        
                    WHERE NR_REFERENCIA = EP.NR_REFERENCIA                                        
                      AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE                                        
                      AND NR_PARCIAL = EP.NR_PARCIAL                                        
                      AND CD_EMPRESA = EP.CD_EMPRESA
                      AND CD_EVENTO = FP.CD_EVENTO)                                        
  --VERIFICA SE OCORRERAM ERROS                                        
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                        
  IF @@ERROR <> 0 PRINT 'ERRO NA INCLUSÃO DA TFLP_ESTAGIO COM EVENTOS DA PO'                                        
                                          
  --FOLLOW-UP DE DESEMBARAÇO - INSERE REGISTROS AUSENTES                                        
  PRINT 'INSERT NA TFLP_ESTAGIO 3'          
  INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                                        
    NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, NR_ORDEM, TP_FOLLOWUP, CD_EMPRESA )
  SELECT DISTINCT                                
    EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                                       
    EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.NR_ORDEM, '2', EP.CD_EMPRESA
  FROM #TMP_ESTAGIO ATZ                                
    INNER JOIN TESTAGIO_PROCESSO EP  ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ATZ.CD_EMPRESA = EP.CD_EMPRESA)
    INNER JOIN TPROCESSO PR ON (PR.NR_PROCESSO = EP.NR_PROCESSO_DES)
    INNER JOIN TFOLLOWUP FP ON (FP.NR_PROCESSO = EP.NR_PROCESSO_DES)
  WHERE YEAR(PR.DT_ABERTURA) >= @DATA
    AND ISNULL(PR.IN_CANCELADO, '0') = '0'
    AND NOT EXISTS (SELECT *
                    FROM MYINDAIA.DBO.TFLP_ESTAGIO                                         
                    WHERE NR_REFERENCIA = EP.NR_REFERENCIA                                        
                      AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE                     
                      AND NR_PARCIAL = EP.NR_PARCIAL
                      AND CD_EMPRESA = EP.CD_EMPRESA
                      AND CD_EVENTO = FP.CD_EVENTO)                       
  --VERIFICA SE OCORRERAM ERROS                                        
  SET @REGISTROS = @REGISTROS + @@ROWCOUNT                                        
  IF @@ERROR <> 0 PRINT 'ERRO NA INCLUSÃO DA TFLP_ESTAGIO COM EVENTOS DO DESEMBARAÇO'                                        
  --FOLLOW-UP DE DESEMBARAÇO - ATUALIZA REGISTROS                                        
  UPDATE FE SET                                        
    DT_PREVISTA = ISNULL(FP.DT_PREVISTA, FE.DT_PREVISTA),                                        
    DT_REALIZACAO = ISNULL(FP.DT_REALIZACAO, FE.DT_REALIZACAO),                                        
    IN_APLICAVEL = ISNULL(FP.IN_APLICAVEL, FE.IN_APLICAVEL)                                        
  FROM #TMP_ESTAGIO ATZ                                      
    INNER JOIN MYINDAIA.DBO.TFLP_ESTAGIO FE ON (FE.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FE.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FE.NR_PARCIAL = ATZ.NR_PARCIAL AND FE.CD_EMPRESA = ATZ.CD_EMPRESA)                                        
    INNER JOIN TESTAGIO_PROCESSO EP  ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = ATZ.NR_PARCIAL AND EP.CD_EMPRESA = ATZ.CD_EMPRESA)                                        
    INNER JOIN TFOLLOWUP FP  ON (FP.NR_PROCESSO = FE.NR_PROCESSO_DES AND FP.CD_EVENTO = FE.CD_EVENTO)                                        
  WHERE ISNULL(EP.IN_SUBSTITUIDO, '0') = '0'                  
  --VERIFICA SE OCORRERAM ERROS                                        
  IF @@ERROR <> 0 PRINT 'ERRO NA ATUALIZAÇÃO DA TFLP_ESTAGIO COM O EVENTO DE DESEMBARAÇO E NÃO SUSBSTITUIDO'         
  --FOLLOW-UP DE DESEMBARAÇO - ATUALIZA REGISTROS                                        
  UPDATE FE SET                                        
    DT_PREVISTA = FP.DT_PREVISTA,                                        
    DT_REALIZACAO = FP.DT_REALIZACAO,                                        
    IN_APLICAVEL = FP.IN_APLICAVEL                                        
  FROM #TMP_ESTAGIO ATZ                                      
    INNER JOIN MYINDAIA.DBO.TFLP_ESTAGIO FE ON (FE.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FE.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FE.NR_PARCIAL = ATZ.NR_PARCIAL AND FE.CD_EMPRESA = ATZ.CD_EMPRESA)                                        
    INNER JOIN TESTAGIO_PROCESSO EP  ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = ATZ.NR_PARCIAL AND EP.CD_EMPRESA = ATZ.CD_EMPRESA)                                        
    INNER JOIN TFOLLOWUP FP  ON (FP.NR_PROCESSO = FE.NR_PROCESSO_DES AND FP.CD_EVENTO = FE.CD_EVENTO)                                       
  WHERE ISNULL(EP.IN_SUBSTITUIDO, '0') = '1'                                        
  --VERIFICA SE OCORRERAM ERROS                              
  IF @@ERROR <> 0                                       
    PRINT 'ERRO NA ATUALIZAÇÃO DA TFLP_ESTAGIO COM O EVENTO DE DESEMBARAÇO E SUSBSTITUIDO'                                        
                                          
  --INSERE OS EVENTOS LIMITADORES NA FOLLOWUP (CASO NÃO EXISTAM)                      
  DECLARE CPROCESSO CURSOR LOCAL FOR                                        
    SELECT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.CD_EMPRESA                                        
    FROM #TMP_ESTAGIO ATZ                                       
      INNER JOIN TESTAGIO_PROCESSO EP  ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ATZ.CD_EMPRESA = EP.CD_EMPRESA)                                
      INNER JOIN TPROCESSO PR  ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)                                        
    WHERE EP.NR_PROCESSO_DES IS NULL                                        
      AND YEAR(PR.DT_ABERTURA) >= @DATA                                        
      AND ISNULL(PR.CD_TP_PEDIDO, 0) IN ('4','5')                             
                                            
  OPEN CPROCESSO                                        
  FETCH CPROCESSO INTO @NR_REFERENCIA, @NR_ITEM_CLIENTE, @NR_PARCIAL, @DT_ULT_ALTERACAO, @NR_PROCESSO_ADM, @CD_EMPRESA
  WHILE @@FETCH_STATUS = 0                                        
  BEGIN                                        
    PRINT 'INSERT NA TFLP_ESTAGIO WHILE ' + @NR_REFERENCIA + ' - ' + @NR_ITEM_CLIENTE + ' - ' + CONVERT(VARCHAR, @NR_PARCIAL)          
    INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                                        
    NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, TP_FOLLOWUP, NR_PROCESSO_ADM, IN_APLICAVEL, CD_EMPRESA )                                        
    SELECT                                         
      @NR_REFERENCIA, @NR_ITEM_CLIENTE, @NR_PARCIAL, @DT_ULT_ALTERACAO, M10_CD_BROKER, '2', @NR_PROCESSO_ADM, '1' , @CD_EMPRESA
    FROM MYINDAIA.DBO.M03_LIMITADOR , MYINDAIA.DBO.M10_DADOS                                         
    WHERE M03_CD_MENU = '01'                                        
      AND M03_CD_SUBM = '01'                                        
      AND M03_CD_DADO = M10_CD_DADO                                        
      AND M10_CD_BROKER NOT IN (SELECT CD_EVENTO                                        
                                FROM MYINDAIA.DBO.TFLP_ESTAGIO                                         
                                WHERE NR_REFERENCIA    = @NR_REFERENCIA                                        
                                  AND NR_ITEM_CLIENTE  = @NR_ITEM_CLIENTE                                        
                                  AND NR_PARCIAL       = @NR_PARCIAL
                                  AND CD_EMPRESA       = @CD_EMPRESA
      AND NR_PROCESSO_ADM  = @NR_PROCESSO_ADM)                                        
    IF @@ERROR <> 0 PRINT 'ERRO NA ATUALIZAÇÃO DA TFLP_ESTAGIO COM O EVENTO LIMITADOR'                                        
    FETCH CPROCESSO INTO @NR_REFERENCIA, @NR_ITEM_CLIENTE, @NR_PARCIAL, @DT_ULT_ALTERACAO, @NR_PROCESSO_ADM, @CD_EMPRESA                                        
  END                                        
  CLOSE CPROCESSO                    
  DEALLOCATE CPROCESSO                           
                        
  /**************************************************************************************************/                      
  PRINT 'REGISTROS ATUALIZADOS: '+CAST(@REGISTROS AS VARCHAR)     

  --EXCLUI OS PROCESSOS DAS TABELAS DE ATUALIZAÇÃO                                                
  DELETE MY                                                
  FROM TATZ_MYINDAIA_PEDIDO MY, #TMP_PEDIDO ATZ                                                 
  WHERE MY.NR_REFERENCIA = ATZ.NR_REFERENCIA                                                
    AND MY.NR_ITEM = ATZ.NR_ITEM
  --  AND MY.NR_PARCIAL = ATZ.NR_PARCIAL                                            
    AND ISNULL(MY.NR_PARCIAL,'') = ISNULL(ATZ.NR_PARCIAL, '')                        
    AND ISNULL(MY.NM_TABELA,'') = ISNULL(ATZ.NM_TABELA                            ,'')
     AND MY.CD_EMPRESA = ATZ.CD_EMPRESA
     
  DELETE EP                                        
  FROM TATZ_MYINDAIA_ESTAGIO EP, #TMP_ESTAGIO ED                                        
  WHERE ED.NR_REFERENCIA    = EP.NR_REFERENCIA                                        
    AND ED.NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE                                        
    AND ED.NR_PARCIAL       = EP.NR_PARCIAL
    AND ED.CD_EMPRESA       = EP.CD_EMPRESA


  /***** APAGA OS REGISTROS ORFAOS NO MYINDAIA **************************************************************************************/                    

  DELETE EP 
  FROM #TMP_ESTAGIO ATZ 
    INNER JOIN MYINDAIA.DBO.TESTAGIO_PROCESSO EP ON (EP.NR_PROCESSO_DES = ATZ.NR_PROCESSO_DES)
  WHERE   RTRIM( EP.NR_PROCESSO_DES)+RTRIM( EP.NR_REFERENCIA)+ EP.NR_ITEM_CLIENTE+CONVERT(VARCHAR, EP.NR_PARCIAL)+ EP.CD_EMPRESA NOT IN
  (SELECT RTRIM(EP2.NR_PROCESSO_DES)+RTRIM(EP2.NR_REFERENCIA)+EP2.NR_ITEM_CLIENTE+CONVERT(VARCHAR,EP2.NR_PARCIAL)+EP2.CD_EMPRESA
   FROM TESTAGIO_PROCESSO EP2 
   WHERE EP2.NR_PROCESSO_DES = EP.NR_PROCESSO_DES)
   
  DELETE FP
  FROM #TMP_ESTAGIO ATZ 
    INNER JOIN MYINDAIA.DBO.TFLP_ESTAGIO FP ON (FP.NR_PROCESSO_DES = ATZ.NR_PROCESSO_DES)
  WHERE   RTRIM( FP.NR_PROCESSO_DES)+RTRIM( FP.NR_REFERENCIA)+ FP.NR_ITEM_CLIENTE+CONVERT(VARCHAR, FP.NR_PARCIAL)+ FP.CD_EMPRESA NOT IN
  (SELECT RTRIM(EP2.NR_PROCESSO_DES)+RTRIM(EP2.NR_REFERENCIA)+EP2.NR_ITEM_CLIENTE+CONVERT(VARCHAR,EP2.NR_PARCIAL)+EP2.CD_EMPRESA
   FROM TESTAGIO_PROCESSO EP2 
   WHERE EP2.NR_PROCESSO_DES = FP.NR_PROCESSO_DES) 
   
  DELETE FI
  FROM #TMP_ESTAGIO ATZ 
    INNER JOIN MYINDAIA.DBO.TFLP_IMPORT1 FI ON FI.NR_PROCESSO_DES = ATZ.NR_PROCESSO_DES
  WHERE   RTRIM( FI.NR_PROCESSO_DES)+RTRIM( FI.NR_REFERENCIA)+ FI.NR_ITEM_CLIENTE+CONVERT(VARCHAR, FI.NR_PARCIAL)+ FI.CD_EMPRESA NOT IN
  (SELECT RTRIM(EP2.NR_PROCESSO_DES)+RTRIM(EP2.NR_REFERENCIA)+EP2.NR_ITEM_CLIENTE+CONVERT(VARCHAR,EP2.NR_PARCIAL)+EP2.CD_EMPRESA
   FROM TESTAGIO_PROCESSO EP2 
   WHERE EP2.NR_PROCESSO_DES = FI.NR_PROCESSO_DES)  

  DELETE FI
  FROM #TMP_ESTAGIO ATZ 
    INNER JOIN MYINDAIA.DBO.TFLP_IMPORT2 FI ON FI.NR_PROCESSO_DES = ATZ.NR_PROCESSO_DES
  WHERE   RTRIM( FI.NR_PROCESSO_DES)+RTRIM( FI.NR_REFERENCIA)+ FI.NR_ITEM_CLIENTE+CONVERT(VARCHAR, FI.NR_PARCIAL)+ FI.CD_EMPRESA NOT IN
  (SELECT RTRIM(EP2.NR_PROCESSO_DES)+RTRIM(EP2.NR_REFERENCIA)+EP2.NR_ITEM_CLIENTE+CONVERT(VARCHAR,EP2.NR_PARCIAL)+EP2.CD_EMPRESA
   FROM TESTAGIO_PROCESSO EP2 
   WHERE EP2.NR_PROCESSO_DES = FI.NR_PROCESSO_DES)  
                                     
  DROP TABLE #TMP_PEDIDO                                         
  DROP TABLE #TMP_ESTAGIO  
  
  --RESSUSCITAR OS MORTOS
  UPDATE EP
  SET DT_ULT_ALTERACAO = EP.DT_ULT_ALTERACAO
  FROM TATZ_MYINDAIA_PEDIDO ATZ
    INNER JOIN TESTAGIO_PROCESSO EP ON EP.NR_REFERENCIA = ATZ.NR_REFERENCIA
                                    AND EP.CD_EMPRESA = ATZ.CD_EMPRESA
  WHERE ATZ.NR_REFERENCIA NOT IN (SELECT NR_REFERENCIA FROM TATZ_MYINDAIA_ESTAGIO)                                        
  
  COMMIT
END TRY  
BEGIN CATCH
  ROLLBACK
END CATCH       
                        
--COMMIT TRAN                                        
SET NOCOUNT OFF 


--ROLLBACK
GO
