USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_atz_controle_acesso    Script Date: 02/09/1999 08:58:32 AM ******/
/****** Object:  Stored Procedure dbo.sp_atz_controle_acesso    Script Date: 22/11/1998 11:05:24 ******/
/****** Object:  Stored Procedure dbo.sp_atz_controle_acesso Script Date: 03/10/1998 19:56:48 ******/
CREATE PROCEDURE [sp_atz_controle_acesso]  AS
/* inclui cargo_modulo */
select c.cd_cargo, m.cd_modulo, 
       cm.cd_cargo cd_cargo_cm, cm.cd_modulo cd_modulo_cm
  into #tb_acesso_modulo_i
  from tcargo c, tmodulo m, tcargo_modulo cm 
  where cm.cd_cargo  =* c.cd_cargo and
        cm.cd_modulo =* m.cd_modulo
  order by c.cd_cargo, m.cd_modulo
insert tcargo_modulo
       select cd_cargo, cd_modulo, 0
       from #tb_acesso_modulo_i
       where cd_cargo_cm is null and
             cd_modulo_cm is null
/* inclui controle de acesso */
select c.cd_cargo, m.cd_modulo, r.cd_rotina, 
       a.cd_cargo cd_cargo_a, a.cd_modulo cd_modulo_a, a.cd_rotina cd_rotina_a
  into #tb_acesso_rotina_i
  from tcargo c, tmodulo m, tmodulo_rotina r, tcontrole_acesso a
  where m.cd_modulo =  r.cd_modulo and
        a.cd_cargo  =* c.cd_cargo  and
        a.cd_modulo =* m.cd_modulo and
        a.cd_rotina =* r.cd_rotina 
  order by c.cd_cargo, m.cd_modulo, r.cd_rotina 
insert tcontrole_acesso 
       select cd_cargo, cd_modulo, cd_rotina, 0, 0, 0, 0
       from #tb_acesso_rotina_i
       where cd_cargo_a is null and 
             cd_modulo_a is null and
             cd_rotina_a is null
/* exclui acrgo_modulo */
select c.cd_cargo, m.cd_modulo, 
  cm.cd_cargo cd_cargo_cm, cm.cd_modulo cd_modulo_cm
  into #tb_acesso_modulo_e
  from tcargo c, tmodulo m, tcargo_modulo cm 
  where cm.cd_cargo  *= c.cd_cargo and
        cm.cd_modulo *= m.cd_modulo
delete tcargo_modulo
where (cd_cargo+cd_modulo) in 
      (select distinct (cd_cargo_cm+cd_modulo_cm) 
       from #tb_acesso_modulo_e
       where cd_cargo  is null or
             cd_modulo is null)
/* exclui controle de acesso */
select c.cd_cargo, m.cd_modulo, r.cd_rotina, 
       a.cd_cargo cd_cargo_a, a.cd_modulo cd_modulo_a, a.cd_rotina cd_rotina_a
  into #tb_acesso_rotina_e
  from tcargo c, tmodulo m, tmodulo_rotina r, tcontrole_acesso a
  where a.cd_cargo  *= c.cd_cargo  and
        a.cd_modulo *= m.cd_modulo and
        a.cd_rotina *= r.cd_rotina 
delete tcontrole_acesso 
where (cd_cargo+cd_modulo+cd_rotina) in 
      (select distinct (cd_cargo_a+cd_modulo_a+cd_rotina_a) 
       from #tb_acesso_rotina_e
       where cd_cargo  is null or
             cd_modulo is null or
             cd_rotina is null)



GO
