USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_fat_atz_rateio_imp]( @cd_usuario char(4), @cd_unid_neg char(2), 
                                       @cd_produto char(2), @nr_solicitacao char(6) ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_usuario char(4) 
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6)
DECLARE @vl_sd_fat_zero float

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solicitacao = '034817'
SELECT @cd_usuario = '0001'
*/

DECLARE @nr_identificador int

-- SE FOR OXITENO, SEMPRE FAZER RATEIO
IF ( SELECT TOP 1 EN.CD_GRUPO 
       FROM TEMPRESA_NAC EN (NOLOCK), TPROCESSO PR (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK)
      WHERE FP.NR_SOLICITACAO = @nr_solicitacao
        AND PR.NR_PROCESSO = FP.NR_PROCESSO
        AND EN.CD_EMPRESA = PR.CD_CLIENTE) = '036'
BEGIN

  EXEC sp_fat_consiste_rateio @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_identificador OUTPUT

END
ELSE
BEGIN

  -- SE NAO FOR, VERIFICA SE JÁ FOI FEITO, PARA NÃO PERDER TEMPO FAZENDO NOVAMENTE
  IF NOT EXISTS( SELECT *
                   FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                  WHERE CD_UNID_NEG    = @cd_unid_neg AND
                        CD_PRODUTO     = @cd_produto  AND 
                        NR_SOLICITACAO = @nr_solicitacao )
  BEGIN 
    EXEC sp_fat_consiste_rateio @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_identificador OUTPUT

    IF EXISTS ( SELECT *
                  FROM TCALCULO_RATEIO_DESP (NOLOCK)
                 WHERE NR_IDENTIFICADOR = @nr_identificador )
    BEGIN 
      RETURN(8)
    END  
  END

END

UPDATE TFAT_CALCULO_RATEIO_DESP 
   SET CD_USUARIO     = @cd_usuario
 WHERE CD_UNID_NEG    = @cd_unid_neg AND
       CD_PRODUTO     = @cd_produto AND 
       NR_SOLICITACAO = @nr_solicitacao

/*
ROLLBACK TRAN
SET XACT_ABORT OFF  
*/






GO
