USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO








CREATE        PROCEDURE [sp_proc_itens_monta_pagto_ag]( @nr_processo char(18), @nr_lancamento char(3), @cd_item char(3), @cd_usuario char (4) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_lancamento char(3)
DECLARE @cd_item char(3)

SELECT @nr_processo = '0101DP-1057-01'
SELECT @nr_lancamento = '001'
SELECT @cd_item = '993'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/


DECLARE @vl_pagto           numeric(14,2)
DECLARE @vl_solicitado      numeric(14,2)
DECLARE @vl_recebido        numeric(14,2)
DECLARE @vl_utilizado       numeric(14,2)
DECLARE @vl_saldo           numeric(14,2)
DECLARE @vl_saldo_proc	    numeric(14,2)
DECLARE @cd_status_item     char(2)
DECLARE @in_liberacao       char(1)
DECLARE @tp_destino	    char(1)
--DECLARE @dt_pagto	    datetime   
DECLARE @dt_montagem	    datetime
DECLARE @nr_ref	    	    char(3)
DECLARE @tp_solicitacao      char(1)
DECLARE @vl_pagto_total     float
--VALOR DO ITEM SOLICITADO
SELECT @vl_pagto         = ISNULL( CONVERT( numeric(14,2), VL_PAGTO ), 0 ) - ISNULL( CONVERT( numeric(14,2), VL_DESCONTO ), 0 ),
       @dt_montagem      = DT_MONTAGEM,
       @nr_ref           = NR_REF,
       @tp_destino       = TP_DESTINO,
       @cd_status_item   = CD_STATUS, 
       @tp_solicitacao   = TP_SOLICITACAO
FROM   TSOLIC_PAGTO (PAGLOCK HOLDLOCK)
WHERE  NR_PROCESSO = @nr_processo AND
       NR_LANCAMENTO = @nr_lancamento AND
       CD_ITEM     = @cd_item AND TP_DESTINO IN ( '2', '3', '4' )

IF @@rowcount = 0
   RETURN(1)
--VALOR TOTAL PAGO PARA TODAS AS DESPESAS 
  SELECT @vl_pagto_total   = ISNULL(SUM(VL_PAGTO),0) 
   FROM   TSOLIC_PAGTO (PAGLOCK HOLDLOCK)
      WHERE  NR_PROCESSO = @nr_processo AND
       CD_STATUS = '7' AND 
       TP_DESTINO IN ( '2', '3', '4' )


IF ( SELECT COUNT(*)
     FROM   TCLIENTE_BANCO_LIBERADO L,
            TSOLIC_PAGTO S (PAGLOCK HOLDLOCK),
            TPROCESSO P
     WHERE  P.CD_CLIENTE  = L.CD_CLIENTE  AND
            P.CD_UNID_NEG = L.CD_UNID_NEG AND
            P.CD_PRODUTO  = L.CD_PRODUTO  AND
            S.CD_BANCO    = L.CD_BANCO    AND
            P.NR_PROCESSO = S.NR_PROCESSO AND
            S.NR_PROCESSO = @nr_processo  AND
            S.NR_LANCAMENTO = @nr_lancamento AND
            S.CD_ITEM = @cd_item  AND
            L.IN_ATIVO    = '1' ) > 0
  SELECT @in_liberacao = '1'
ELSE
  SELECT @in_liberacao = '0'

IF @in_liberacao = '1' OR 
   @cd_item IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS ) OR
   @cd_item IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) OR
   @cd_item IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) 
BEGIN
  SELECT @cd_status_item = '16'
END
ELSE
BEGIN


  SELECT @vl_solicitado = ( SUM ( ISNULL ( CONVERT( numeric(14,2), VL_SOLICITADO )    , 0 ) ) ),
         @vl_recebido   = ( SUM ( ISNULL ( CONVERT( numeric(14,2), VL_RECEBIDO )      , 0 ) ) ) 
         --@vl_utilizado  = ( SUM ( ISNULL ( CONVERT( numeric(14,2), VL_UTILIZADO )     , 0 ) ) ), 
         --@vl_saldo      = @vl_recebido - @vl_utilizado--( SUM ( ISNULL ( CONVERT( numeric(14,2), VL_SALDO_ITEM )    , 0 ) ) ) 
       --  @vl_saldo_proc = ( MIN ( ISNULL ( CONVERT( numeric(14,2), VL_SALDO_PROCESSO ), 0 ) ) ) 
   FROM   TNUMERARIO_NOTIFICA
        WHERE  NR_PROCESSO = @nr_processo  
               AND CD_STATUS IN ('A','B')


    SET @vl_saldo = @vl_recebido - @vl_pagto_total

--  FROM   TNUMERARIO_NOTIFICA_ITEM
 -- WHERE  ( NR_PROCESSO = @nr_processo ) AND
   --      ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) )

  IF ( @tp_destino <> '2' ) AND ( @tp_destino <> '4' ) AND
     ( ( @cd_status_item = '6' ) OR
       ( ( ISNULL( @vl_saldo, 0 ) >= @vl_pagto )) )
    SELECT @cd_status_item = '7'
  ELSE
  BEGIN
    SELECT @cd_status_item =
      CASE
        WHEN ( ISNULL( @vl_saldo, 0 ) >= @vl_pagto )  --AND ( ISNULL( @vl_saldo_proc, 0 ) >= @vl_pagto )
              THEN '16' /* Liberado pelo Sistema    */
        WHEN ( ISNULL( @vl_solicitado, 0 ) = 0 ) THEN '2'  /* Numerário não solicitado */
        WHEN ( ISNULL( @vl_recebido, 0 )   = 0 ) THEN '3'  /* Numerário não recebido   */
        ELSE '1'                                               	    /* Saldo Insuficiente       */ 
      END
  END
END

UPDATE TSOLIC_PAGTO 
SET    CD_STATUS = @cd_status_item,
       IN_SOLICITADO = '1', 
       DT_PAGTO = CASE WHEN  @cd_status_item IN('7','16') THEN dt_montagem
                       ELSE NULL
                  END     
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( NR_LANCAMENTO = @nr_lancamento ) AND
       ( CD_ITEM = @cd_item )

IF ( @cd_status_item IN ('8', '9', '10', '11', '16') AND @cd_item NOT IN ('991','992','993','997','998','987','988') ) OR
   ( @cd_status_item  = '7' AND @tp_destino <> '2' )
BEGIN
  EXEC sp_atualiza_utilizado @nr_processo, @cd_item, @vl_pagto, '+'
END

IF @tp_destino NOT IN ( '2', '4' ) --Débito em Conta da Comissária ==> Atualiza Financeiro
BEGIN
  EXEC sp_distribui_pagto_ag @dt_montagem, @nr_ref, @tp_destino, @cd_usuario
END










GO
