USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_rel_acomp_proc] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente  char(5), 
                                    @dt_inicio datetime, @dt_fim datetime, @usuario char(4), @nr_identificador int output ) AS



/*
SET XACT_ABORT ON 
BEGIN TRAN

DECLARE 	@cd_unid_neg      char(2),			@cd_produto       char(2),			@cd_grupo         char(3),
       		@cd_cliente       char(5),			@dt_inicio        datetime,			@dt_fim           datetime,
		@usuario	  char(4),			@nr_identificador integer

SELECT 		@cd_unid_neg = '01',				@cd_produto = '01',				@cd_grupo = '036',
       		@cd_cliente = 'X',				@dt_inicio = '20050301',			@dt_fim = '20050331',
		@usuario = '0001'
--*/

DECLARE 	@nr_processo      char(18),			@cd_referencia    char(18),			@nm_cntr          integer,
		@tp_embalagem     char(15),			@dt_embarque      datetime,			@dt_chegada       datetime,
		@dt_desembaraco   datetime,			@qtde_cntr        integer,			@tipo   	  varchar(80),
		@chave  	  varchar(2),			@passa  	  varchar(80),			@terc   	  varchar(80),
		@nr_fat		  varchar(25),			@cd_unidade_neg   char(2),			@cd_prod	  char(2),
		@nr_solicitacao	  char(6),			@vl_movimentacao decimal(15,2), 		@vl_icms          DECIMAL(15,2),		
		@vl_cpmf	  DECIMAL(15,2),		@vl_demurrage	  DECIMAL(15,2),		@vl_siscomex	  DECIMAL(15,2),
		@vl_ipi		  DECIMAL(15,2),		@vl_ii		  DECIMAL(15,2),		@vl_afrmm	  DECIMAL(15,2),
		@vl_fumigacao     DECIMAL(15,2),		@vl_fundaf	  DECIMAL(15,2), 		@emp_fumigacao	  varchar(20),
		@vl_armazenagem   DECIMAL(15,2),		@tx_demurrage	  float,			@vl_demurrage_dolar float,
		@dt_pagto_demurrage datetime, 			@tx_lib_bl	  DECIMAL(15,2),		@dt_atracacao	  datetime,
		@dt_ci		  datetime,			@qt_dias_uteis    int,				@prazo		  char(20),
		@dt_emissao_1	  datetime, 			@vl_recebido_1	  float,			@dt_emissao_2	  datetime,
		@vl_recebido_2	  float,			@vl_acerto	  float,			@dt_acerto	  datetime,
		@tp_acerto        char(10),			@vl_comissao	  DECIMAL(15,2),		@nr_fatura	  char(6),
		@nr_adicao	  char(3),			@vl_mle		  float,			@vl_frete	  float,
		@vl_cif_real	  float,			@vl_seguro	  float,			@vl_cif		  float,
		@vl_mcv		  float, 			@cd_incoterm      char(3),			@cd_regime_tributacao char(1),
		@tp_drawback      char(1), 			@nm_navio 	  char(20), 			@tp_via           char(2),
		@nm_voo		  char(18),			@nm_via		  char(20),			@navio_voo	  char(20),
		@cd_ref           char(15),			@cd_refer         char(15),			@vl_icms_dolar    DECIMAL(15,2),
		@tx_dolar	  float,			@aliq_ii	  float,			@aliq_ipi	  float,
		@vl_ipi_dolar     DECIMAL(15,2),		@vl_ii_dolar	  DECIMAL(15,2),		@vl_tx_sisc	  DECIMAL(15,2),
		@vl_multas	  DECIMAL(15,2),		@laudo 		  char(3),			@item_multa	  varchar(120),
		@vl_pis		  float,			@vl_cofins	  float,			@vl_pis_dolar	  DECIMAL(15,2),
		@vl_cofins_dolar  DECIMAL(15,2),		@aliq_pis	  float,			@aliq_cofins	  float,
		@vl_tup		  DECIMAL(15,2),		@vl_frete_rat	  DECIMAL(15,2),		@vl_desp_div	  DECIMAL(15,2),
		@cd_servico	  char(3),			@cd_cliente_proc  char(5),			@vl_comissao_serv DECIMAL(15,2),
		@qt_ref		  integer,			@tipo_emb         varchar(80),			@vl_capatazia	  DECIMAL(15,2),
		@CHAVE_REFERENCIA CHAR(18), 			@NR_ITEM_PO       char(4),			@chave_item  	  varchar(3),
		@dt_comissao datetime,				@vl_sda           DECIMAL(15,2)

-- Seleciona o nº identificador
SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TREL_ACOMP_PROC 

SELECT P.NR_PROCESSO, RC.CD_REFERENCIA, RC.NR_ITEM_PO
  INTO #TMP_PROCESSOS
  FROM TPROCESSO P (NOLOCK)
       INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON ( P.CD_CLIENTE = EN.CD_EMPRESA )
       LEFT OUTER JOIN TREF_CLIENTE RC (NOLOCK) ON ( P.NR_PROCESSO = RC.NR_PROCESSO ) 
       LEFT OUTER JOIN TFOLLOWUP    FL (NOLOCK) ON ( FL.NR_PROCESSO = P.NR_PROCESSO )
 WHERE @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )
   AND @cd_produto IN ( P.CD_PRODUTO, 'X' )
   AND @cd_grupo IN ( EN.CD_GRUPO, 'X' )
   AND @cd_cliente IN ( P.CD_CLIENTE, 'X' )
   AND FL.CD_EVENTO = '162'
   AND FL.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim
   AND P.IN_CANCELADO = '0'
 ORDER BY P.NR_PROCESSO

WHILE (SELECT COUNT(*) FROM #TMP_PROCESSOS) > 0
BEGIN 

  SELECT TOP 1 @nr_processo = NR_PROCESSO, @CHAVE_REFERENCIA = CD_REFERENCIA, @NR_ITEM_PO = NR_ITEM_PO FROM #TMP_PROCESSOS ORDER BY NR_PROCESSO

--  PRINT 'LINHA ATUAL: ' + isnull(@CHAVE_REFERENCIA,'1') + ' / ' + isnull(@nr_processo,'1')

  if SUBSTRING(@CHAVE_REFERENCIA,1,1) = '$'
    SET @CD_REFERENCIA = SUBSTRING(@CHAVE_REFERENCIA,7,11)
  ELSE
    SET @CD_REFERENCIA = @CHAVE_REFERENCIA

  IF @cd_unid_neg = 'X'
    SELECT @cd_unidade_neg = SUBSTRING( @nr_processo, 1, 2 )

  IF @cd_produto = 'X'
    SELECT @cd_prod = SUBSTRING( @nr_processo, 2, 2 )

  SELECT @qtde_cntr = 0,	@dt_embarque = NULL, 	@dt_chegada = NULL,		@dt_desembaraco = NULL,
	 @dt_atracacao = NULL,	@dt_ci = NULL,		@qt_dias_uteis = 0,		@dt_emissao_1 = NULL,
 	 @dt_emissao_2 = NULL,	@vl_recebido_1 = 0,	@vl_recebido_2 = 0,		@vl_acerto = 0, 
	 @dt_acerto = NULL,	@tp_acerto = '',	@cd_unidade_neg = '',		@cd_prod = '',
	 @nr_solicitacao = '',	@vl_comissao = 0,	@nr_fatura = '', 		@vl_icms = 0,
	 @vl_sda = 0,		@vl_cpmf = 0,		@vl_movimentacao = 0, @vl_siscomex = 0,		@vl_ipi = 0,
	 @vl_ii = 0,		@vl_afrmm= 0,		@vl_fundaf = 0,			@tx_lib_bl = 0,
	 @vl_armazenagem = 0,	@emp_fumigacao = '',	@vl_fumigacao = 0,		@vl_demurrage = 0,
	 @tx_demurrage = 0,	@vl_demurrage_dolar = 0,@dt_pagto_demurrage = NULL,	@cd_regime_tributacao = '',
 	 @nr_adicao = '',	@vl_mle = 0,		@vl_frete = 0,	        	@vl_cif_real = 0,
 	 @vl_seguro = 0,	@vl_cif = 0,		@vl_mcv = 0, 			@cd_incoterm = '',
	 @tp_drawback = '',	@nm_navio = '',		@tp_via = '',			@nm_voo = '',
	 @nm_via = '',		@navio_voo = '',	@cd_ref = '',			@cd_refer = '',
	 @vl_icms_dolar = 0,	@tx_dolar = 0,		@aliq_ii = 0,			@aliq_ipi = 0,
         @vl_ipi_dolar = 0,	@vl_ii_dolar = 0,	@vl_tx_sisc = 0,		@vl_multas = 0,
	 @laudo = 'Não',	@vl_pis = 0,		@vl_cofins = 0,			@vl_pis_dolar = 0,
  	 @vl_cofins_dolar = 0,	@aliq_pis = 0,		@aliq_cofins = 0,		@vl_tup = 0,
	 @vl_frete_rat = 0,	@vl_desp_div = 0,	@cd_servico = '', 		@cd_cliente_proc = '',
 	 @vl_comissao_serv = 0,	@qt_ref = 0,		@tipo_emb = '',			@vl_capatazia = 0

  -- Qtde de CNTR ( apenas CNTR sem desova )
  SELECT @qtde_cntr = COUNT( NR_CNTR )
  FROM   TPROCESSO_CNTR (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  IN_DESOVA = '0'

  -- Qtde de CNTR ( apenas CNTR sem desova )
  if isnull(@qtde_cntr,0) = 0
      SELECT @qtde_cntr = SUM ( VL_QTDE )
      FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo

  -- Tipo da Embalagem
/*  SELECT COUNT( NR_CNTR) AS CNTR, C.TP_CNTR AS TP_CNTR, NM_TP_CNTR
  INTO   #TEMP_CNTR
  FROM   TPROCESSO_CNTR P (NOLOCK)
         INNER JOIN TTP_CNTR C (NOLOCK) ON ( P.TP_CNTR = C.TP_CNTR )
  WHERE  P.NR_PROCESSO = @nr_processo
  GROUP BY C.TP_CNTR, NM_TP_CNTR

  SET @tipo = ''
  SET @passa = ''
  SET @terc = ''
  WHILE ( SELECT COUNT ( CNTR ) FROM #TEMP_CNTR ) > 0
  BEGIN
    SELECT TOP 1 @chave = TP_CNTR FROM #TEMP_CNTR
    SET @passa = ( SELECT RTRIM(NM_TP_CNTR) + ' / ' FROM #TEMP_CNTR WHERE TP_CNTR = @chave )
    IF @passa = 'PIER / '
      SET @passa = 'CARGA SOLTA / '
    SET @tipo = @terc + @passa
    SET @terc = @tipo
  
    DELETE FROM #TEMP_CNTR WHERE TP_CNTR = @chave
  END
  IF LEN( @tipo ) > 4
    SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 3 )
  DROP TABLE #TEMP_CNTR
*/

  SELECT COUNT( NR_CNTR) AS CNTR, C.TP_CNTR AS TP_CNTR, NM_TP_CNTR
  INTO   #TEMP_CNTR
  FROM   TPROCESSO_CNTR P (NOLOCK)
         INNER JOIN TTP_CNTR C (NOLOCK) ON ( P.TP_CNTR = C.TP_CNTR )
  WHERE  P.NR_PROCESSO = @nr_processo AND C.TP_CNTR <> '01'
  GROUP BY C.TP_CNTR, NM_TP_CNTR

  SET @tipo = ''
  SET @passa = ''
  SET @terc = ''
  WHILE ( SELECT COUNT ( CNTR ) FROM #TEMP_CNTR ) > 0
  BEGIN
    SELECT TOP 1 @chave = TP_CNTR FROM #TEMP_CNTR
    SET @passa = ( SELECT RTRIM(NM_TP_CNTR) + ' / ' FROM #TEMP_CNTR WHERE TP_CNTR = @chave )
    SET @tipo = @terc + @passa
    SET @terc = @tipo

    DELETE FROM #TEMP_CNTR WHERE TP_CNTR = @chave
  END

  DROP TABLE #TEMP_CNTR

  DECLARE @CHAVE_CARGA CHAR(50)

  SELECT COUNT(NR_SEQUENCIA) AS CARGA, NM_ESPECIE AS TP_CARGA
  INTO   #TEMP_CARGA
  FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
  GROUP BY NM_ESPECIE

  WHILE ( SELECT COUNT ( CARGA ) FROM #TEMP_CARGA ) > 0
  BEGIN
    SELECT TOP 1 @CHAVE_CARGA = TP_CARGA FROM #TEMP_CARGA

    SET @passa = ( SELECT RTRIM(TP_CARGA) + ' / ' FROM #TEMP_CARGA WHERE TP_CARGA = @CHAVE_CARGA )
    SET @tipo = @terc + @passa
    SET @terc = @tipo

    DELETE FROM #TEMP_CARGA WHERE TP_CARGA = @CHAVE_CARGA
  END

  DROP TABLE #TEMP_CARGA

  PRINT 'TIPO: ' + @TIPO

  IF @TIPO <> ''
    SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 2 )

  PRINT 'TIPO: ' + @TIPO

  -- Verifica processos aéreos/granel
  IF SUBSTRING( @nr_processo, 5, 2 ) = 'IA' OR SUBSTRING( @nr_processo, 5, 2 ) = 'IG'
  BEGIN
    SELECT COUNT( CD_EMBALAGEM ) AS EMB, E.CODIGO AS CODIGO, E.DESCRICAO AS DESCRICAO
    INTO   #TEMP_EMB
    FROM   TPROCESSO_EMBALAGEM P (NOLOCK)
           INNER JOIN TTP_EMBALAGEM E (NOLOCK) ON ( P.CD_EMBALAGEM = E.CODIGO )
    WHERE  P.NR_PROCESSO = @nr_processo
    GROUP BY E.CODIGO, E.DESCRICAO

    SET @tipo_emb = ''
    SET @passa = ''
    SET @terc = ''
    WHILE ( SELECT COUNT ( EMB ) FROM #TEMP_EMB ) > 0
    BEGIN
      SELECT TOP 1 @chave = CODIGO FROM #TEMP_EMB
      SET @passa = ( SELECT RTRIM(DESCRICAO) + ' / ' FROM #TEMP_EMB WHERE CODIGO = @chave )
      SET @tipo_emb = @terc + @passa
      SET @terc = @tipo_emb
  
      DELETE FROM #TEMP_EMB WHERE CODIGO = @chave
    END

    IF LEN( @tipo_emb ) > 4
      SET @tipo_emb = SUBSTRING( @tipo_emb, 1, LEN( @tipo_emb ) - 2 )
    DROP TABLE #TEMP_EMB
  END
  
  SET @tipo = @tipo + ' ' + @tipo_emb

  -- Fatura ou Ref Fornecedor
  SELECT NR_SEQUENCIA, NR_DCTO_INSTRUCAO
  INTO   #TEMP_DCTO
  FROM   TDOCUMENTO_INSTRUCAO (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_TIPO_DCTO_INSTR = '01'

  SET @nr_fat = ''
  SET @passa = ''
  SET @terc = ''
  WHILE ( SELECT COUNT( NR_SEQUENCIA ) FROM #TEMP_DCTO ) > 0
  BEGIN
    SELECT TOP 1 @chave = NR_SEQUENCIA FROM #TEMP_DCTO
    SET @passa = ( SELECT RTRIM(NR_DCTO_INSTRUCAO) + ' / ' FROM #TEMP_DCTO WHERE NR_SEQUENCIA = @chave )
    SET @nr_fat = @terc + @passa
    SET @terc = @nr_fat

    DELETE FROM #TEMP_DCTO WHERE NR_SEQUENCIA = @chave
  END
  IF LEN( @nr_fat ) > 4
    SET @nr_fat = SUBSTRING( @nr_fat, 1, LEN( @nr_fat ) - 2 )
  DROP TABLE #TEMP_DCTO

  -- Valor FOB / Frete / Seguro / MCV / CIF
  SELECT @nr_adicao = NR_ADICAO,
         @vl_cif = ( VL_MLE_ITEM + VL_FRETE_ITEM + VL_SEGURO_ITEM + VL_ACRESCIMO_ITEM - VL_DEDUCAO_ITEM ),
         @vl_cif_real = ( VL_MLE_ITEM_MN + VL_FRETE_ITEM_MN + VL_SEGURO_ITEM_MN + VL_ACRESCIMO_ITEM_MN - VL_DEDUCAO_ITEM_MN )
  FROM   TDETALHE_MERCADORIA (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  NR_PROC_PO = @chave_referencia
    AND  NR_ITEM_PO = @NR_ITEM_PO -- RTRIM( LTRIM( SUBSTRING( @cd_referencia, 8, 4) ) )

  -- INCOTERM
  SELECT @cd_regime_tributacao = CD_REGIME_TRIBUTAR
  FROM   TADICAO_DE_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo
    AND  NR_ADICAO = @nr_adicao

  -- ALIQ II 
  SELECT @aliq_ii = PC_ALIQ_NORM_ADVAL
  FROM   TRIBUTO
  WHERE  NR_PROCESSO = @nr_processo
    AND  NR_ADICAO = @nr_adicao
    AND  CD_RECEITA_IMPOSTO = '0001'

  -- ALIQ IPI 
  SELECT @aliq_ipi = PC_ALIQ_NORM_ADVAL
  FROM   TRIBUTO
  WHERE  NR_PROCESSO = @nr_processo
    AND  NR_ADICAO = @nr_adicao
    AND  CD_RECEITA_IMPOSTO = '0002'

  -- Tipo de Drawback
  IF @cd_regime_tributacao = '3' 
    SET @tp_drawback = 'I'
  IF @cd_regime_tributacao = '5' 
    SET @tp_drawback = 'S'
  IF ( @cd_regime_tributacao <> '3' ) and ( @cd_regime_tributacao <> '5' )
    SET @tp_drawback = '-'
  -- Nome Navio / Vôo / Via Transporte
  SELECT @nm_navio = ISNULL( SUBSTRING( EM.NM_EMBARCACAO, 1, 20 ), '' ), @tp_via = S.CD_VIA_TRANSPORTE,
         @nm_voo = ISNULL(PR.NR_VOO, '' ), @nm_via = VT.NM_VIA_TRANSP, @cd_servico = PR.CD_SERVICO,
         @cd_cliente_proc = PR.CD_CLIENTE 
  FROM   TPROCESSO PR (NOLOCK)
         LEFT JOIN VW_SERVICO_GERAL S (NOLOCK) ON ( PR.CD_SERVICO = S.CD_SERVICO )
         LEFT JOIN TVIA_TRANSP_BROKER VT (NOLOCK) ON ( S.CD_VIA_TRANSPORTE = VT.CD_VIA_TRANSP ) 
         LEFT JOIN TEMBARCACAO EM (NOLOCK) ON ( PR.CD_EMBARCACAO = EM.CD_EMBARCACAO )
  WHERE  PR.NR_PROCESSO = @nr_processo

  IF @tp_via = '01'	-- Marítimo
    SET @navio_voo = @nm_navio
  IF @tp_via = '04'	-- Aéreo
    SET @navio_voo = @nm_voo

  -- Data de Embarque
  SELECT @dt_embarque = convert(datetime,SUBSTRING(DT_EMBARQUE,1,2)+'/'+SUBSTRING(DT_EMBARQUE,3,2)+'/'+SUBSTRING(DT_EMBARQUE,5,4),103)
  FROM   TDECLARACAO_IMPORTACAO (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo

  -- Data de Chegada
  IF @tp_via = '01'	-- Marítimo
  BEGIN 
    SELECT @dt_chegada = DT_REALIZACAO
    FROM   TFOLLOWUP F (NOLOCK)
    WHERE  F.NR_PROCESSO = @nr_processo
      AND  CD_EVENTO IN ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS (NOLOCK) )
  END ELSE IF @tp_via = '04'	-- Aéreo
  BEGIN 
    SELECT @dt_chegada = DT_REALIZACAO
    FROM   TFOLLOWUP F (NOLOCK)
    WHERE  F.NR_PROCESSO = @nr_processo
      AND  CD_EVENTO IN ( SELECT CD_EV_CHEGADA FROM TPARAMETROS (NOLOCK) )
  END

  -- Data de Desembaraço
  SELECT @dt_desembaraco = DT_REALIZACAO
  FROM   TFOLLOWUP F (NOLOCK)
  WHERE  F.NR_PROCESSO = @nr_processo
    AND  CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) )
  -- Período de Desembaraço
  IF @tp_via = '01'	-- Marítimo
  BEGIN 
    SELECT @dt_atracacao = DT_REALIZACAO
       FROM  TFOLLOWUP F (NOLOCK)    WHERE  F.NR_PROCESSO = @nr_processo
           AND CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) )	-- Evento 162
  END ELSE IF @tp_via = '04'	-- Aéreo
  BEGIN 
    SELECT @dt_atracacao = DT_REALIZACAO
    FROM   TFOLLOWUP F (NOLOCK)
    WHERE  F.NR_PROCESSO = @nr_processo
      AND  CD_EVENTO IN ( SELECT CD_EV_CHEGADA FROM TPARAMETROS (NOLOCK) )	-- Evento 162
  END

  SELECT @dt_ci = DT_REALIZACAO
  FROM   TFOLLOWUP F (NOLOCK)
  WHERE  F.NR_PROCESSO = @nr_processo
    AND  CD_EVENTO IN ( SELECT CD_EV_CI FROM TPARAMETROS (NOLOCK) )	-- Evento 035

  EXEC sp_lead_dias_uteis '1', @dt_atracacao, @dt_ci, @qt_dias_uteis OUTPUT

-- print 'processo : ' + @nr_processo
-- print 'adicao : ' + @nr_adicao

  -- Prazo Pagamento 
  SET @prazo = ''

--  SELECT @PRAZO = CASE CD_MODALIDADE_PGTO
--				    WHEN '21' THEN 'À VISTA'
--				    WHEN '10' THEN 'ANTECIPADO'
--				    WHEN '99' THEN 'S/COBERTURA'
--				    WHEN '31' THEN 'À PRAZO ( ' + QT_PERIOD_PGTO_360 + ' )'
--				    WHEN '96' THEN 'ROF'
--				END FROM TADICAO_DE_IMPORTACAO WHERE NR_PROCESSO = @nr_processo AND NR_ADICAO = @NR_ADICAO


  IF ( SELECT CD_MODALIDADE_PGTO FROM TADICAO_DE_IMPORTACAO WHERE NR_PROCESSO = @nr_processo AND NR_ADICAO = @NR_ADICAO ) = '21'
  BEGIN
    SET @prazo = 'À VISTA'
  END

  IF ( SELECT CD_MODALIDADE_PGTO FROM TADICAO_DE_IMPORTACAO WHERE NR_PROCESSO = @nr_processo AND NR_ADICAO = @NR_ADICAO ) = '10'
  BEGIN
    SET @prazo = 'ANTECIPADO'
  END

  IF ( SELECT CD_MODALIDADE_PGTO FROM TADICAO_DE_IMPORTACAO WHERE NR_PROCESSO = @nr_processo AND NR_ADICAO = @NR_ADICAO ) = '31'
  BEGIN
    SELECT @prazo = 'À PRAZO ( ' + CONVERT(VARCHAR,QT_PERIOD_PGTO_360) + ' )' FROM TADICAO_DE_IMPORTACAO WHERE NR_ADICAO = @NR_ADICAO AND NR_PROCESSO = @NR_PROCESSO
  END

  IF ( SELECT CD_MODALIDADE_PGTO FROM TADICAO_DE_IMPORTACAO WHERE NR_PROCESSO = @nr_processo AND NR_ADICAO = @NR_ADICAO ) = '99'
  BEGIN
    SELECT @prazo = 'S/COBERTURA'
  END

  IF ( SELECT CD_MODALIDADE_PGTO FROM TADICAO_DE_IMPORTACAO WHERE NR_PROCESSO = @nr_processo AND NR_ADICAO = @NR_ADICAO ) = '96'
  BEGIN
    SELECT @prazo = 'ROF'
  END

  DECLARE @DT_EMISSAO_INT_1   DATETIME
  DECLARE @VL_RECEBIDO_INT_1 DECIMAL(15,2)
  DECLARE @DT_EMISSAO_INT_2   DATETIME
  DECLARE @VL_RECEBIDO_INT_2 DECIMAL(15,2)

  DECLARE @NR_RECEBIMENTO1 CHAR(3)
  DECLARE @NR_RECEBIMENTO2 CHAR(3)
  DECLARE @NR_RECEBIMENTO4 CHAR(3)

  -- ADIANTAMENTO 1
  SELECT  TOP 1 @dt_emissao_1 = DT_RECEBIMENTO, @vl_recebido_1 = VL_RECEBIMENTO, @NR_RECEBIMENTO1 = NR_RECEBIMENTO
  FROM TRECEBIMENTO (NOLOCK)
  WHERE NR_PROCESSO = @nr_processo AND IN_CANCELADO = '0'
  ORDER BY DT_RECEBIMENTO 

  -- ADIANTAMENTO 2
  IF ( SELECT COUNT(*) FROM TRECEBIMENTO (NOLOCK) WHERE NR_PROCESSO = @nr_processo  AND IN_CANCELADO = '0' ) > 1
    SELECT  TOP 1 @dt_emissao_2 = DT_RECEBIMENTO, @vl_recebido_2 = VL_RECEBIMENTO, @NR_RECEBIMENTO4 = NR_RECEBIMENTO
    FROM TRECEBIMENTO (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo  AND IN_CANCELADO = '0'
    ORDER BY DT_RECEBIMENTO DESC

  -- ADIANTAMENTO INTERMEDIARIO 1
  IF ( SELECT COUNT(*) FROM TRECEBIMENTO (NOLOCK) WHERE NR_PROCESSO = @nr_processo  AND IN_CANCELADO = '0' ) > 2
  SELECT  TOP 1 @DT_EMISSAO_INT_1 = DT_RECEBIMENTO, @VL_RECEBIDO_INT_1 = VL_RECEBIMENTO, @NR_RECEBIMENTO2 = NR_RECEBIMENTO
  FROM TRECEBIMENTO (NOLOCK)
  WHERE NR_PROCESSO = @nr_processo AND IN_CANCELADO = '0'
        AND NR_RECEBIMENTO NOT IN (@NR_RECEBIMENTO1, @NR_RECEBIMENTO4)
  ORDER BY DT_RECEBIMENTO 

  -- ADIANTAMENTO INTERMEDIARIO 2

  IF ( SELECT COUNT(*) FROM TRECEBIMENTO (NOLOCK) WHERE NR_PROCESSO = @nr_processo  AND IN_CANCELADO = '0' ) > 3
  SELECT  TOP 1 @DT_EMISSAO_INT_2 = DT_RECEBIMENTO, @VL_RECEBIDO_INT_2 = VL_RECEBIMENTO
  FROM TRECEBIMENTO (NOLOCK)
  WHERE NR_PROCESSO = @nr_processo AND IN_CANCELADO = '0'
        AND NR_RECEBIMENTO NOT IN (@NR_RECEBIMENTO1, @NR_RECEBIMENTO4, @NR_RECEBIMENTO2)
  ORDER BY DT_RECEBIMENTO 

  -- Ítens
  SELECT @cd_unidade_neg = P.CD_UNID_NEG, @cd_prod = P.CD_PRODUTO, @nr_solicitacao = F.NR_SOLICITACAO
  FROM   TPROCESSO P (NOLOCK)
         INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON ( P.NR_PROCESSO = FP.NR_PROCESSO ) 
         INNER JOIN TS_FATURA F (NOLOCK) ON ( FP.CD_UNID_NEG = F.CD_UNID_NEG AND FP.CD_PRODUTO = F.CD_PRODUTO AND FP.NR_SOLICITACAO = F.NR_SOLICITACAO )  
  WHERE  P.NR_PROCESSO = @nr_processo
    AND  F.TP_TIPO_FAT = 'F'

  -- ACERTO
  SELECT TOP 1 @tp_acerto = NM_SALDO
  FROM   TNF_SERV_OP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
  ORDER BY DT_EMISSAO
  IF SUBSTRING( @tp_acerto, 1, 1 ) = 'N'
    SET @tp_acerto = 'Depósito'
  IF SUBSTRING( @tp_acerto, 1, 1 ) = 'S'
    SET @tp_acerto = 'TED'

  SELECT TOP 1 @dt_acerto = DT_LIQUIDACAO FROM TS_FATURA_PROCESSO WHERE NR_PROCESSO = @NR_PROCESSO

  EXEC sp_fat_atz_rateio_imp @usuario, @cd_unidade_neg, @cd_prod, @nr_solicitacao

  -- Formata variável @cd_ref por causa do formato da referência no rateio
--  PRINT 'REFERENCIA: ' + @cd_referencia
--  SET @cd_refer = SUBSTRING( @cd_referencia, 1, 6 ) 
--  SET @cd_ref = SUBSTRING( @cd_referencia, 1, 6 ) + '/' + CONVERT( varchar, CONVERT( int, ISNULL( RTRIM( LTRIM( SUBSTRING( @cd_referencia, 8, 3) ) ), '' ) ) ) 

  -- ACERTO
  SELECT @vl_acerto = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(10,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = '995'

  if @vl_acerto = 0
     SELECT  @vl_acerto = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(10,2) ) * (-1)
        FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
     WHERE   NR_PROCESSO = @nr_processo
            AND  CD_USUARIO = @usuario
            AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
            AND  CD_ITEM = '996'

  -- COMISSÃO '822'
  SELECT @vl_comissao = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = ( SELECT CD_ITEM_COMISSAO FROM TPARAMETROS (NOLOCK) )

  IF @vl_comissao = 0 
  BEGIN
    IF SUBSTRING( @nr_processo, 3, 2 ) = '01'	--Importação
    BEGIN
      SELECT @vl_comissao_serv = CAST( ISNULL( VL_NUM_TAXA, 0 ) AS DECIMAL(15,2) )
      FROM   TRECEITAS_IMP (NOLOCK)
      WHERE  CD_CLIENTE = @cd_cliente_proc
        AND  CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
        AND  CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )
        AND  CD_SERVICO = @cd_servico
        AND  CD_ITEM = '822'
        AND  CD_REGIME_TRIB = '0'
    END

    SELECT @qt_ref = COUNT( NR_PROCESSO )
    FROM   TDETALHE_MERCADORIA
    WHERE  NR_PROCESSO = @nr_processo

    IF @qt_ref > 1
      SET @vl_comissao = ( @vl_comissao_serv / ISNULL(@qt_ref,1) )
    ELSE
      SET @vl_comissao = @vl_comissao_serv
  END

  select top 1 @dt_comissao = dt_lancamento from tfaturamento_cc where nr_processo = @nr_processo

  -- DEMURRAGE	'039'
--  SELECT @vl_demurrage = CAST(  ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
--  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
--  WHERE  NR_PROCESSO = @nr_processo
--    AND  CD_USUARIO = @usuario
--    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
--    AND  CD_ITEM = ( SELECT CD_ITEM_DEMURRAGE FROM TPARAMETROS (NOLOCK) )

select @VL_DEMURRAGE = VL_ITEM from tfaturamento_cc where nr_solic_fat = (  SELECT TOP 1 F.NR_SOLICITACAO
												  FROM   TPROCESSO P (NOLOCK)
												         INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON ( P.NR_PROCESSO = FP.NR_PROCESSO ) 
							 					         INNER JOIN TS_FATURA F (NOLOCK) ON ( FP.CD_UNID_NEG = F.CD_UNID_NEG AND FP.CD_PRODUTO = F.CD_PRODUTO AND FP.NR_SOLICITACAO = F.NR_SOLICITACAO )  
												  WHERE  P.NR_PROCESSO = @nr_processo 
												          and f.tp_tipo_fat = 'n')
	and nr_processo = @nr_processo and cd_item = '039'


    IF @qt_ref > 1
      SET @VL_DEMURRAGE = ( @VL_DEMURRAGE / ISNULL(@qt_ref,1) )
    ELSE
      SET @VL_DEMURRAGE = @VL_DEMURRAGE

  -- NR_NOTA
  SELECT @nr_fatura = NR_NOTA_FATURA
  FROM   TS_FATURA (NOLOCK)
  WHERE  NR_SOLICITACAO = ( SELECT TOP 1 NR_SOLIC_FAT FROM TFATURAMENTO_CC (NOLOCK) WHERE NR_PROCESSO = @nr_processo )
         AND NR_NOTA_FATURA IS NOT NULL

  -- ICMS '027'
  SELECT @vl_icms = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
   WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = ( SELECT CD_ITEM_ICMS FROM TPARAMETROS (NOLOCK) )

  -- ICMS US$
  SELECT @tx_dolar = ISNULL(TX_DOLAR,1)
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo

  IF ( @TX_DOLAR = '' ) OR ( @TX_DOLAR = 0 ) OR ( @TX_DOLAR IS NULL )
    SET @TX_DOLAR = 1

  SET @vl_icms_dolar = CAST( ( @vl_icms / ISNULL(@tx_dolar,1) ) AS DECIMAL(15,2) )

  -- PIS US$
--  SET @vl_pis_dolar = CAST( ( @vl_pis / ISNULL(@tx_dolar,1) ) AS DECIMAL(15,2) )

  -- COFINS US$
--  SET @vl_cofins_dolar = CAST( ( @vl_cofins / ISNULL(@tx_dolar,1) ) AS DECIMAL(15,2) )

  -- SDA	'008'
  SELECT @vl_sda = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))) )
    AND  CD_ITEM = ( SELECT CD_ITEM_SDA FROM TPARAMETROS (NOLOCK) )

  -- CPMF	'067'
  SELECT @vl_cpmf = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = ( SELECT CD_ITEM_CPMF FROM TPARAMETROS (NOLOCK) )

  -- TAXA SISCOMEX	'032'
--  SELECT @vl_siscomex = CAST( ROUND( ISNULL( VL_ITEM, 0 ), 2 ) AS DECIMAL(15,2) )
--  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
--  WHERE  NR_PROCESSO = @nr_processo
--    AND  CD_USUARIO = @usuario
--    AND  CD_REFERENCIA IN ( @cd_ref, @cd_refer )
--    AND  CD_ITEM = ( SELECT CD_ITEM_SISCOMEX FROM TPARAMETROS (NOLOCK) )

  -- IPI	'026'
  SELECT @vl_ipi = CAST(  ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))   
    AND  CD_ITEM = ( SELECT CD_ITEM_IPI FROM TPARAMETROS (NOLOCK) )

--PRINT 'TESTE: ' + @cd_ref + '  -  ' + @cd_refer + '  -  ' + LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) + '  -  ' + LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO))))

  -- IPI US$
  SET @vl_ipi_dolar = CAST(  ( @vl_ipi / ISNULL(@tx_dolar,1) ) AS DECIMAL(15,2) )

  -- II		'025'
  SELECT @vl_ii = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = ( SELECT CD_ITEM_II FROM TPARAMETROS (NOLOCK) )

  -- II US$
  SET @vl_ii_dolar = CAST( ( @vl_ii / ISNULL(@tx_dolar,1) ) AS DECIMAL(15,2) )

  -- AFRMM	'160'
  SELECT @vl_afrmm = CAST(  ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = ( SELECT CD_ITEM_AFRMM FROM TPARAMETROS (NOLOCK) )

  -- TX SISCOMEX   '032'
--  SELECT @vl_tx_sisc = CAST( ROUND( ISNULL( VL_ITEM, 0 ), 2 ) AS DECIMAL(15,2) )
--  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
--  WHERE  NR_PROCESSO = @nr_processo
--    AND  CD_USUARIO = @usuario
--    AND  CD_REFERENCIA IN ( @cd_ref, @cd_refer )
--    AND  CD_ITEM = ( SELECT CD_ITEM_SISCOMEX FROM TPARAMETROS (NOLOCK) )

  -- FUNDAF   '465'
--  SELECT @vl_fundaf = CAST( ROUND( ISNULL( VL_ITEM, 0 ), 2 ) AS DECIMAL(15,2) )
--  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
--  WHERE  NR_PROCESSO = @nr_processo
--    AND  CD_USUARIO = @usuario
--    AND  CD_REFERENCIA IN ( @cd_ref, @cd_refer )
--    AND  CD_ITEM = '465'

  -- MULTAS
  SELECT @vl_multas = CAST( ROUND( ISNULL( SUM( VL_ITEM ), 0 ), 2 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN ( @cd_ref, @cd_refer )
    AND  CD_ITEM IN ('479','658','490','300','660','585','072','661','392','074','659','299','328','297','298')

  -- TIPO DE MULTAS
  SELECT COUNT( F.NR_PROCESSO ) AS PROCESSO, I.CD_ITEM AS CD_ITEM, NM_ITEM
  INTO   #TEMP_MULTA
  FROM   TFAT_CALCULO_RATEIO_DESP F (NOLOCK)
         INNER JOIN TITEM I (NOLOCK) ON ( F.CD_ITEM = I.CD_ITEM )
  WHERE  F.NR_PROCESSO = @nr_processo
    AND  F.CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  F.CD_ITEM IN ('479','658','490','300','660','585','072','661','392','074','659','299','328','297','298')
  GROUP BY I.CD_ITEM, NM_ITEM

  SET @item_multa = ''
  SET @passa = ''
  SET @terc = ''
  WHILE ( SELECT COUNT ( PROCESSO ) FROM #TEMP_MULTA ) > 0
  BEGIN
    SELECT TOP 1 @chave_item = CD_ITEM FROM #TEMP_MULTA
    SET @passa = ( SELECT RTRIM(NM_ITEM) + ' / ' FROM #TEMP_MULTA WHERE CD_ITEM = @chave_item )
    SET @item_multa = @terc + @passa
    SET @terc = @item_multa
  
    DELETE FROM #TEMP_MULTA WHERE CD_ITEM = @chave_item
  END
  IF LEN( @item_multa ) > 4
    SET @tipo = SUBSTRING( @item_multa, 1, LEN( @item_multa ) - 3 )
  DROP TABLE #TEMP_MULTA

  -- TUP	'149'
  SELECT @vl_tup = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = '149'

  -- CAPATAZIA	'040
  SELECT @vl_capatazia = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = '040'

  -- LAUDO TÉCNICO   '148'
  SELECT @laudo = ( CASE COUNT( NR_PROCESSO )
           WHEN 0 THEN 'Não'
           ELSE 'Sim'
         END )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = '148'

  -- TAXA LIBERAÇÃO BL  '076'
  SELECT @tx_lib_bl = CAST(  ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = '076'

  -- ARMAZENAGEM
  SELECT @vl_armazenagem = CAST( ISNULL( SUM( VL_ITEM ), 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM IN ( '514', '015', '041', '588', '504', '061', '420', '422', '056', '416', '507', '503' )

  -- EMPRESA FUMIGAÇÃO
  SELECT @emp_fumigacao = SUBSTRING( NM_FAVORECIDO, 1, 20 )
  FROM   TFATURAMENTO_CC F (NOLOCK)
         INNER JOIN TFAVORECIDO FV (NOLOCK) ON ( F.CD_FAVORECIDO = FV.CD_FAVORECIDO )
  WHERE  F.NR_PROCESSO = @nr_processo
    AND  CD_ITEM = '304'

  -- FUMIGAÇÃO	  '304'
  SELECT @vl_fumigacao = CAST( ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM in ('304','647','461')

  -- FRETE
  SELECT @vl_frete_rat = CAST( ISNULL( SUM( VL_ITEM ), 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM IN ( '029', '524', '001', '475', '549', '421' )

  -- DESPESAS DIVERSAS
  SELECT @vl_desp_div = CAST( ISNULL( SUM( VL_ITEM ), 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM NOT IN ( '029', '524', '001', '475', '549', '421', '822', '027', '008', '067', '032', '465',
                          '479', '490', '300', '585', '072', '392', '074', '299', '328', '297', '298', '149', 
                          '148', '076', '514', '015', '041', '588', '504', '061', '420', '422', '056', '416', 
                          '507', '503', '304', '029', '524', '001', '475', '549', '421', '039' )

-- movimentação
  SELECT @vl_movimentacao = CAST(  ISNULL( VL_ITEM, 0 ) AS DECIMAL(15,2) )
  FROM   TFAT_CALCULO_RATEIO_DESP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_USUARIO = @usuario
    AND  CD_REFERENCIA IN (LTRIM(RTRIM(@CHAVE_REFERENCIA)), LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(@NR_ITEM_PO)) , LTRIM(RTRIM(@CHAVE_REFERENCIA))+'/'+LTRIM(RTRIM(CONVERT(CHAR,CONVERT(INT,@NR_ITEM_PO)))))
    AND  CD_ITEM = ( '305' )

  -- DEMURRAGE EM DÓLAR
--  SELECT @tx_demurrage = ISNULL( AVG(TX_FATURA), 1 )
--  FROM   TDEM_FAT_CNTR (NOLOCK)
--  WHERE  NR_PROCESSO = @nr_processo

--  IF ( @tx_demurrage <> 0 ) AND ( @tx_demurrage IS NOT NULL )
--    SET @vl_demurrage_dolar = ( @vl_demurrage / ISNULL(@tx_demurrage,1) )

  -- DATA DA DEMURRAGE
  SELECT @dt_pagto_demurrage = DT_PAGTO
  FROM   TDEM_FAT (NOLOCK)
  WHERE  CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
    AND  NR_FATURA = ( SELECT TOP 1 NR_FATURA
                       FROM   TDEM_FAT_CNTR (NOLOCK)
		       WHERE  NR_PROCESSO = @nr_processo )

  DECLARE @SIGLA_MOEDA_FOB_TOTAL CHAR(3)
  DECLARE @SIGLA_MOEDA_FOB_UNIT  CHAR(3)
  DECLARE @SIGLA_MOEDA_FRETE_TOTAL  CHAR(3)
  DECLARE @SIGLA_MOEDA_FRETE_UNIT  CHAR(3)
  DECLARE @SIGLA_MOEDA_CFR_TOTAL  CHAR(3)

  SELECT @SIGLA_MOEDA_FOB_TOTAL   = AP_MOEDA FROM TMOEDA_BROKER WHERE CD_MOEDA = (SELECT CD_MOEDA_NEGOCIADA FROM TADICAO_DE_IMPORTACAO WHERE NR_PROCESSO = @NR_PROCESSO AND NR_ADICAO = @NR_ADICAO)
  SET @SIGLA_MOEDA_FOB_UNIT    = @SIGLA_MOEDA_FOB_TOTAL
  SELECT @SIGLA_MOEDA_FRETE_TOTAL = AP_MOEDA FROM TMOEDA_BROKER WHERE CD_MOEDA = (SELECT CD_MOEDA_FRETE     FROM TDECLARACAO_IMPORTACAO WHERE NR_PROCESSO = @NR_PROCESSO)
  SET @SIGLA_MOEDA_FRETE_UNIT  = @SIGLA_MOEDA_FRETE_TOTAL
  SET @SIGLA_MOEDA_CFR_TOTAL   = @SIGLA_MOEDA_FOB_TOTAL

  DECLARE @NM_BANCO CHAR(40)

  SELECT TOP 1 @NM_BANCO = NM_BCO
     FROM TBCO BC, TPAGAMENTO_TRIBUTOS PT
   WHERE PT.NR_PROCESSO = @NR_PROCESSO
         AND BC.CD_BCO = PT.CD_BANCO_PGTO_TRIB  

  PRINT 'TIPO: ' + @TIPO

  INSERT INTO TREL_ACOMP_PROC
	 ( NR_IDENTIFICADOR, NR_PROCESSO_INDAIA, NR_PROC_PO, NM_SIGLA_PO, NR_ITEM_PO, CD_CIAFILIAL, TP_MERC,           --1		
	 CFI, AP_MERCADORIA, CD_NCM, QT_EMBARCADA, QT_RECEBIDA,                                                        --2
              CD_UNID_MED_COMERC, TP_EMBALAGEM, NR_CNTR, TP_VIA_TRANSP, CD_INCOTERM, AP_FABRICANTE,                         --3 
              NM_PAIS, AP_FORNECEDOR, NR_FATURA, VL_FOB_MNEG, CD_MOEDA_FOB_MNEG, VL_UNITARIO_FOB_MNEG, CD_MOEDA_UNITARIO_FOB_MNEG,--4
              VL_FRETE_MNEG, CD_MOEDA_FRETE_MNEG, VL_UNITARIO_FRETE_MNEG, CD_MOEDA_UNITARIO_FRETE_MNEG, VL_CFR_MNEG, CD_MOEDA_CFR_MNEG, --5
              VL_UNITARIO_CFR_MNEG, CD_MOEDA_UNITARIO_CFR_MNEG, VL_SEGURO_MNEG, CD_MOEDA_SEGURO_MNEG, VL_CIF_MNEG, VL_CIF, TP_DRAWBACK,--6
              AP_PORTO_AERO_ORIGEM, AP_PAIS_PROCEDENCIA, AP_PORTO_AERO_DESTINO,                                             --7
              AP_NAVIO, AP_TRANSBORDO, DT_EMBARQUE, DT_CHEGADA, DT_DESEMBARACO, TX_OBSERVACOES,                             --8
	 NM_DIAS, NM_CANAL, PR_PAGAMENTO, NR_DI, VL_ADIANTAMENTO_1, DT_ADIANTAMENTO_1, VL_ADIANTAMENTO_2,              --9
	 DT_ADIANTAMENTO_2, VL_ACERTO, DT_ACERTO, TP_ACERTO, VL_SALDO_ACERTO, TP_STATUS_ACERTO, VL_HONORARIO,          --10
	 NR_NOTA_HONORARIO, DT_PAGAMENTO, VL_SDA, VL_DESPACHANTES, NM_DETALHAMENTO, VL_CPMF, VL_TAXA_DI, VL_ICMS,      --11
	 VL_ICMS_MNEG, NM_BANCO, DT_PAGTO_BCO, PC_IPI, VL_IPI, VL_IPI_MNEG, PC_II, VL_II, VL_II_MNEG,                  --12
              VL_AFRMM, VL_TX_SICOMEX, VL_TX_REG_LI, VL_FUNDAF, VL_MULTAS, NM_MOTIVO, VL_TAXI_ENG,                          --13 
              NM_LANCHA, VL_LANCHA, NM_LAUDO_TEC, VL_LAUDO_TEC, NM_MINISTERIO, VL_LAUDO_MINISTERIO,                         --14 
	 VL_RECEITA_FED, VL_TUP_SOP, VL_CAPATAZIA, VL_MOVIMENTACAO, VL_ATRACACAO, VL_DRAGAGEM,                         --15 
	 VL_DESCONSOLIDACAO, VL_DESP_AERO, VL_DESP_AERO_MNEG, VL_ARMAZENAGEM, NM_TERMINAL, NM_AGENCIA,                 --16
	 VL_FRETE, DT_PAGTO_FR, VL_FRETE_TX_AGENCIA, VL_TX_LIB_BL, VL_TX_LIB_BL_MNEG, NM_FUMIGACAO,                    --17
	 VL_FUMIGACAO, VL_DEMURRAGE, VL_DEMURRAGE_MNEG, DT_PAGTO_DEM,                                                  --18
              PC_PIS, VL_PIS, VL_PIS_MNEG, PC_COFINS, VL_COFINS, VL_COFINS_MNEG, SIGLA_MOEDA_FOB_TOTAL, SIGLA_MOEDA_FOB_UNIT,
	 SIGLA_MOEDA_FRETE_TOTAL, SIGLA_MOEDA_FRETE_UNIT, SIGLA_MOEDA_CFR_TOTAL,					--19	 
	DT_EMISSAO_INT_1, VL_RECEBIDO_INT_1, DT_EMISSAO_INT_2, VL_RECEBIDO_INT_2, DT_DI ) --20
  SELECT @nr_identificador, SUBSTRING( P.NR_PROCESSO, 5, 10 ), upper(@cd_referencia),                     --1
         SUBSTRING( upper(@cd_referencia), 1, 2 ), @NR_ITEM_PO, ISNULL( EN.OUTRO_DOC, '' ), M.IN_TIPO_M_E,--1
         ' ', SUBSTRING( M.AP_MERCADORIA, 1, 25 ), DM.CD_NCM_SH, DM.PL_MERCADORIA, DM.PL_MERCADORIA,          --2
         SUBSTRING( UM.NM_UNID_MEDIDA, 1, 3 ), @tipo, @qtde_cntr, @nm_via, DI.CD_INCOTERM, ISNULL( EE.AP_EMPRESA, ES.AP_EMPRESA ), --3
         ISNULL( SUBSTRING( PA.DESCRICAO, 1, 20 ), (SELECT DESCRICAO FROM TPAIS WHERE CODIGO = ES.CD_PAIS) ), ISNULL( ES.AP_EMPRESA, '' ), @nr_fat, DI.VL_TOT_MLE_MNEG, '', DM.VL_UNITARIO, '', --4
         DI.VL_TOTAL_FRETE_MNEG, '', ( ( DI.VL_TOTAL_FRETE_MNEG * DM.PL_MERCADORIA ) / DI.PL_CARGA ), '', 0, '',                                                            --5 
         DM.VL_MCV_ITEM, '', DI.VL_TOT_SEGURO_MNEG , '', @vl_cif, @vl_cif_real, @tp_drawback,                                            --6
         ISNULL( SUBSTRING( LE.DESCRICAO, 1, 20 ), '' ), ISNULL( SUBSTRING( PS.DESCRICAO, 1, 20 ), '' ), ISNULL( SUBSTRING( LM.DESCRICAO, 1, 20 ), '' ),--7
         @navio_voo, ' ', @dt_embarque, @dt_chegada, @dt_desembaraco, '',                                             --8
         @qt_dias_uteis, C.NM_CANAL, LTRIM(RTRIM(@prazo)), DI.NR_DECLARACAO_IMP, @vl_recebido_1, @dt_emissao_1, @vl_recebido_2,     --9
         @dt_emissao_2, @vl_acerto, @dt_acerto, @tp_acerto, 0, '', @vl_comissao,                                      --10 
         @nr_fatura, @dt_comissao, @vl_sda, @vl_desp_div, '', @vl_cpmf, AI.TX_MLE, @vl_icms,                                --11 
         @vl_icms_dolar, @NM_BANCO, @dt_emissao_1, (SELECT TOP 1 PC_ALIQ_NORM_ADVAL FROM TRIBUTO WHERE NR_PROCESSO = RC.NR_PROCESSO AND CD_RECEITA_IMPOSTO = '0002' ), @vl_ipi, @vl_ipi_dolar, (SELECT TOP 1 CASE ISNULL(AI.CD_TIPO_ACORDO_TAR,'') WHEN  '' THEN PC_ALIQ_NORM_ADVAL ELSE PC_ALIQ_ACOR_TARIF END FROM TRIBUTO WHERE NR_PROCESSO = RC.NR_PROCESSO AND CD_RECEITA_IMPOSTO = '0001' ), @vl_ii, @vl_ii_dolar,  --12
         @vl_afrmm, DM.VL_TX_SCX_ITEM, 0, @vl_fundaf, @vl_multas, @item_multa, 0,                                           --13 
         '', 0, @laudo, 0, '', 0,                                                                                     --14 
         0, @vl_tup, @vl_capatazia, @vl_movimentacao, 0, 0,                                                                          --15 
         0, 0, 0, @vl_armazenagem, ISNULL( SUBSTRING( AR.NM_ARMAZEM, 1, 20 ), '' ), ISNULL( SUBSTRING( NM_AGENTE, 1, 20 ), '' ), --16
         @vl_frete_rat, NULL, 0, @tx_lib_bl, 0, @emp_fumigacao,                                                       --17
         @vl_fumigacao, @vl_demurrage, @vl_demurrage_dolar, @dt_pagto_demurrage,                                      --18
         AI.ALIQ_PIS, DM.VL_PIS_ITEM, @vl_pis_dolar, AI.ALIQ_COFINS, DM.VL_COFINS_ITEM, @vl_cofins_dolar, @SIGLA_MOEDA_FOB_TOTAL, @SIGLA_MOEDA_FOB_UNIT,
         @SIGLA_MOEDA_FRETE_TOTAL, @SIGLA_MOEDA_FRETE_UNIT, @SIGLA_MOEDA_CFR_TOTAL,                                --19
         @DT_EMISSAO_INT_1, @VL_RECEBIDO_INT_1, @DT_EMISSAO_INT_2, @VL_RECEBIDO_INT_2, DI.DT_REGISTRO_DI 	--20
 FROM    TPROCESSO P (NOLOCK)
         INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON ( P.CD_CLIENTE = EN.CD_EMPRESA )
         INNER JOIN TREF_CLIENTE RC (NOLOCK) ON ( P.NR_PROCESSO = RC.NR_PROCESSO )
         LEFT  JOIN TDETALHE_MERCADORIA DM (NOLOCK) ON ( ( DM.NR_PROCESSO = RC.NR_PROCESSO ) AND 
		    ( LTRIM(RTRIM(DM.NR_PROC_PO)) = LTRIM(RTRIM(RC.CD_REFERENCIA)) ) AND ( LTRIM(RTRIM(DM.NR_ITEM_PO)) = LTRIM(RTRIM((RC.NR_ITEM_PO)) ) ) ) --SUBSTRING('0000',1,4-LEN(RC.NR_ITEM_PO)) + RC.NR_ITEM_PO ) ) )
         LEFT JOIN  TADICAO_DE_IMPORTACAO AI (NOLOCK) ON ((AI.NR_PROCESSO = DM.NR_PROCESSO) AND (AI.NR_ADICAO = DM.NR_ADICAO))
         LEFT  JOIN TMERCADORIA M (NOLOCK) ON ( DM.CD_MERCADORIA = M.CD_MERCADORIA )
         LEFT  JOIN TUNID_MEDIDA_BROKER UM (NOLOCK) ON ( UM.CD_UNID_MEDIDA = DM.CD_UN_MED_COMERC )		
         LEFT  JOIN TDECLARACAO_IMPORTACAO DI (NOLOCK) ON ( P.NR_PROCESSO = DI.NR_PROCESSO )
         LEFT  JOIN TEMPRESA_EST EE (NOLOCK) ON ( DM.CD_FABRICANTE = EE.CD_EMPRESA )
         LEFT  JOIN TPAIS PA (NOLOCK) ON ( DM.CD_PAIS_ORIGEM = PA.CODIGO )
         LEFT  JOIN TEMPRESA_EST ES (NOLOCK) ON ( DM.CD_EXPORTADOR = ES.CD_EMPRESA )   
         LEFT  JOIN TLOCAL_EMBARQUE LE (NOLOCK) ON ( P.CD_LOCAL_EMBARQUE = LE.CODIGO )
         LEFT  JOIN TPAIS PS (NOLOCK) ON ( DI.CD_PAIS_PROC_CARGA = PS.CODIGO )
         LEFT  JOIN TLOCAL_EMBARQUE LM (NOLOCK) ON ( P.CD_LOCAL_DESEMBARQUE = LM.CODIGO )
         LEFT  JOIN TTP_CANAL C (NOLOCK) ON ( P.CD_CANAL = C.CD_CANAL )
         LEFT  JOIN TARMAZEM AR (NOLOCK) ON ( P.CD_ARMAZEM_DESCARGA = AR.CD_ARMAZEM ) 
         LEFT  JOIN TAGENTE AG (NOLOCK) ON ( P.CD_AGENTE = AG.CD_AGENTE )
  WHERE  P.NR_PROCESSO = @nr_processo
         AND  RC.CD_REFERENCIA = @CHAVE_REFERENCIA
        AND  DM.NR_ITEM_PO = @NR_ITEM_PO

  -- Atualiza a obs 
  UPDATE TREL_ACOMP_PROC
  SET    TX_OBSERVACOES = F.TX_OBS
  FROM   TREL_ACOMP_PROC A (NOLOCK), TFOLLOWUP F (NOLOCK)
  WHERE  F.NR_PROCESSO = @nr_processo
    AND  F.CD_EVENTO = ( SELECT CD_EV_DIG_DI FROM TPARAMETROS (NOLOCK) )
    AND  A.NR_IDENTIFICADOR = @nr_identificador
    AND  A.NR_PROCESSO_INDAIA = SUBSTRING( @nr_processo, 5, 10 )

  PRINT 'CHAVE: ' + @CHAVE_REFERENCIA
  PRINT 'REFERENCIA: ' + @CD_REFERENCIA
  PRINT 'PROCESSO: ' + @NR_PROCESSO

  DELETE FROM #TMP_PROCESSOS WHERE NR_PROCESSO = @nr_processo AND CD_REFERENCIA = @CHAVE_REFERENCIA AND NR_ITEM_PO = @NR_ITEM_PO
END

DROP TABLE #TMP_PROCESSOS

RETURN 0

/*
SELECT * FROM TREL_ACOMP_PROC WHERE NR_IDENTIFICADOR = @nr_identificador
DELETE FROM TREL_ACOMP_PROC
--*/

--SELECT * FROM TFAT_CALCULO_RATEIO_DESP WHERE NR_SOLICITACAO = '049143'

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

--ALTER TABLE TREL_ACOMP_PROC ALTER COLUMN PR_PAGAMENTO CHAR(15)
--ALTER TABLE TREL_ACOMP_PROC ADD SIGLA_MOEDA_FOB_TOTAL CHAR(3)
--ALTER TABLE TREL_ACOMP_PROC ADD SIGLA_MOEDA_FOB_UNIT CHAR(3)
--ALTER TABLE TREL_ACOMP_PROC ADD SIGLA_MOEDA_FRETE_TOTAL CHAR(3)
--ALTER TABLE TREL_ACOMP_PROC ADD SIGLA_MOEDA_FRETE_UNIT CHAR(3)
--ALTER TABLE TREL_ACOMP_PROC ADD SIGLA_MOEDA_CFR_TOTAL CHAR(3)
--ALTER TABLE TMERCADORIA ADD IN_TIPO_M_E CHAR(1)

--SELECT * FROM TDECLARACAO_IMPORTACAO WHERE NR_PROCESSO = '0101I0-2240-05'
--SELECT * FROM TDETALHE_MERCADORIA WHERE NR_PROCESSO = '0101I0-2231-05'

--SELECT * FROM TDETALHE_MERCADORIA where nr_processo = '0101I0-2935-05'


--ALTER TABLE TREL_ACOMP_PROC ADD DT_DI CHAR(8)
--GO




GO
