USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_atualiza_receb_num_ag] (@nr_recebimento char(6), @cd_unid_neg char(2), @cd_cliente char(5), @cd_usuario char(4))AS  

DECLARE @nr_processo char(18)
DECLARE @nr_solicitacao char(3)  
DECLARE @vl_recebido float
DECLARE @vl_recebido_item float
DECLARE @nr_lcto char(3)

DECLARE c_processo CURSOR FOR 

    SELECT NR_PROCESSO, NR_SOLICITACAO, VL_RECEBIDO
    FROM   TRECEBIMENTO_PROCESSO (NOLOCK)
    WHERE  NR_RECEBIMENTO = @nr_recebimento
      AND  CD_CLIENTE = @cd_cliente
      AND  CD_UNID_NEG = @cd_unid_neg
     
OPEN  c_processo 

FETCH c_processo INTO @nr_processo, @nr_solicitacao, @VL_RECEBIDO

WHILE @@fetch_status <> -1
BEGIN

   IF (SELECT VL_RECEBIDO - @VL_RECEBIDO FROM TNUMERARIO_NOTIFICA (NOLOCK) WHERE NR_PROCESSO = @nr_processo AND NR_SOLICITACAO = @nr_solicitacao) > 0

	UPDATE TNUMERARIO_NOTIFICA 
 	SET    VL_RECEBIDO = VL_RECEBIDO - @VL_RECEBIDO,
	       CD_STATUS = 'P'
	WHERE  NR_PROCESSO = @nr_processo AND 
	       NR_SOLICITACAO = @nr_solicitacao
   ELSE
	UPDATE TNUMERARIO_NOTIFICA 
 	SET    VL_RECEBIDO = VL_RECEBIDO - @VL_RECEBIDO,
	       CD_STATUS = 'A'
	WHERE  NR_PROCESSO = @nr_processo AND 
	       NR_SOLICITACAO = @nr_solicitacao

    /* ITENS */

    DECLARE c_processo_item CURSOR FOR 

        SELECT NR_LANCAMENTO, VL_RECEBIDO
        FROM   TRECEBIMENTO_PROCESSO_ITEM (NOLOCK)
        WHERE  NR_RECEBIMENTO = @nr_recebimento
          AND  CD_CLIENTE     = @cd_cliente
          AND  CD_UNID_NEG    = @cd_unid_neg
	  AND  NR_PROCESSO    = @nr_processo     

    OPEN  c_processo_item

    FETCH c_processo_item INTO @nr_lcto, @vl_recebido_item

    WHILE @@fetch_status <> -1
    BEGIN

	UPDATE TNUMERARIO_NOTIFICA_ITEM 
	SET    VL_RECEBIDO = VL_RECEBIDO - @vl_recebido_item,
	       CD_STATUS   = 'A'
	WHERE  NR_PROCESSO    = @nr_processo    AND 
	       NR_SOLICITACAO = @nr_solicitacao AND
               NR_LANCAMENTO  = @nr_lcto 

        FETCH c_processo_item INTO @nr_lcto, @vl_recebido_item

    END

    CLOSE c_processo_item
    DEALLOCATE c_processo_item   

    FETCH c_processo INTO @nr_processo, @nr_solicitacao, @VL_RECEBIDO
 
END

CLOSE c_processo
DEALLOCATE c_processo   





GO
