USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_rel_pagto_razao] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), @cd_grupo_item char(2),
			       @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @cd_grupo_item char(2)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/11/2000', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/12/2000', 103 )
SELECT @cd_grupo_item = 'X'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_PAGTO_RAZAO

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

INSERT TREL_PAGTO_RAZAO ( NR_IDENTIFICADOR, NR_PROCESSO, CD_CLIENTE, CD_ITEM, NR_CHEQUE, DT_PAGTO, IN_RESTITUI, CD_BANCO, VL_LANCAMENTO )
SELECT @nr_identificador, F.NR_PROCESSO, E.CD_EMPRESA CD_CLIENTE, F.CD_ITEM, ISNULL( F.NR_CHEQUE, 'X' ) AS NR_CHEQUE, F.DT_LANCAMENTO DT_PAGTO, F.IN_RESTITUI, 
       ISNULL( F.CD_BANCO, '' ), SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) VL_LANCAMENTO
FROM   TFATURAMENTO_CC F,
       TPROCESSO P,
       TEMPRESA_NAC E,
       TGRUPO_ITEM_ITEM G
WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       F.CD_ITEM = G.CD_ITEM AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       ( ( G.CD_GRUPO_ITEM = @cd_grupo_item ) OR ( @cd_grupo_item = 'X' ) ) AND
       P.CD_UNID_NEG = @cd_unid_neg AND
       F.DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim AND
       P.IN_CANCELADO = '0' AND
       F.IN_CANCELADO = '0' AND
       F.CD_FORMA_PAGTO IN ( '$', 'C', 'D', 'T', 'O' ) AND
       ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT   FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI  FROM TPARAMETROS )
GROUP BY F.NR_PROCESSO, E.CD_EMPRESA, F.CD_ITEM, ISNULL( F.NR_CHEQUE, 'X' ), F.DT_LANCAMENTO, F.IN_RESTITUI, ISNULL( F.CD_BANCO, '' )
GO
