USE [BROKER]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_myindaia_ano] (@ano int output) AS
--Define a data inicial a partir da qual os registros dos sistema serão enviados para atualização na web
SET @ano = 2005
GO
