USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_calc_marinha_com_frete_prep]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS

DECLARE @vl_frete_mneg float
DECLARE @vl_taxa_frete float
DECLARE @vl_resultado numeric (13,3)
DECLARE @cd_base_calc char(1)

-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_base_calc = '0'

SELECT @vl_taxa_frete  = ISNULL( VL_TAXA_FRETE, 0)
FROM   TPROCESSO
WHERE  ( NR_PROCESSO = @nr_processo )

SELECT @vl_frete_mneg  = ISNULL( VL_TOT_FRT_PREPAID, 0)
FROM   TDECLARACAO_IMPORTACAO
WHERE  ( NR_PROCESSO = @nr_processo )

IF @@rowcount > 0
BEGIN
  SELECT  @Resultado = 0
  IF ( @vl_frete_mneg > 0 ) AND ( @vl_taxa_frete > 0 )
  BEGIN
    -- CALCULA O FRETE
    SELECT @vl_resultado = ROUND( ( @vl_frete_mneg * @vl_taxa_frete * 0.25 ), 2 )
    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
    RETURN(0)
  END
  ELSE
  BEGIN
    -- Frete igual a zero
    IF ( @vl_frete_mneg <= 0 ) RETURN(2)
    -- Taxa igual a zero
    IF ( @vl_taxa_frete <= 0 ) RETURN(3)
  END
END
ELSE
BEGIN
  -- Nao encontrou Processo
  SELECT  @Resultado = 0
  IF @cd_base_calc = '0' RETURN(1)
  ELSE RETURN(4)
END


GO
