USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_com_ind_por]( @cd_indicado CHAR(03), @cd_depto CHAR(03), @nr_identificador INT OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador INT
DECLARE @cd_indicado      CHAR(03)
DECLARE @cd_depto         CHAR(03)

SELECT @cd_indicado = '001',
       @cd_depto    = 'X'
--*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ),0 ) + 1
FROM   TREL_COM_IND_POR

INSERT TREL_COM_IND_POR
SELECT @nr_identificador, I.CD_CLIENTE_INDICADO, I.CD_DEPTO, E.CD_EMPRESA, C.CD_UNID_NEG, 
       C.CD_PRODUTO, C.CD_CONTATO, C.NM_CONTATO, C.TX_CARGO, C.NM_EMAIL
FROM   TEMPRESA_NAC E, TCLIENTE_INDICADO I, TCLIENTE_CONTATO C
WHERE  ( ( E.CD_INDICADO_POR = @cd_indicado ) OR ( @cd_indicado = 'X' ) ) AND
       ( ( I.CD_DEPTO        = @cd_depto )    OR ( @cd_depto    = 'X' ) ) AND
       E.CD_INDICADO_POR     = I.CD_CLIENTE_INDICADO AND
       C.CD_CLIENTE          = E.CD_EMPRESA

/*
SELECT * FROM TREL_COM_IND_POR WHERE NR_IDENTIFICADOR = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/



GO
