USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [sp_fat_calc_padrao] ( @nr_processo char(18), @nr_solicitacao char(6)) AS

/* 
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo    char(18)
DECLARE @nr_solicitacao char(6)
SELECT  @nr_processo    = '0101I0-3045-01'
SELECT  @nr_solicitacao = '013645'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/ 

DECLARE @cd_item          char(3)
DECLARE @nm_stored_proc   varchar(30)
DECLARE @vl_calculado     numeric(14,2)
DECLARE @dt_fatura        datetime
DECLARE @proc_cd_cliente  char(5)
DECLARE @proc_cd_unid_neg char(2)
DECLARE @proc_cd_produto  char(2)
DECLARE @proc_cd_servico  char(3)
DECLARE @cd_usuario       char(4)
DECLARE @erro             int
DECLARE @tp_tipo_fat      char(1)
DECLARE @cd_item_nvocc    char(3)
DECLARE @in_nvocc         char(1)
DECLARE @peso_bruto       float
DECLARE @cd_ct_custo      char(25)

SELECT @proc_cd_cliente  = CD_CLIENTE,
       @proc_cd_unid_neg = CD_UNID_NEG,
       @proc_cd_produto  = CD_PRODUTO,
       @proc_cd_servico  = CD_SERVICO
FROM   TPROCESSO
WHERE  NR_PROCESSO = @nr_processo

SELECT @tp_tipo_fat = TP_TIPO_FAT,
       @dt_fatura   = DT_FATURA
FROM   TS_FATURA
WHERE  CD_UNID_NEG    = @proc_cd_unid_neg AND
       CD_PRODUTO     = @proc_cd_produto  AND
       NR_SOLICITACAO = @nr_solicitacao 

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_NAME()

DELETE TLOG_ERRO_CALCULO 
WHERE CD_USUARIO = @cd_usuario 

IF ISNULL(@tp_tipo_fat,'') = 'F'
BEGIN
  IF ( SELECT COUNT(*) 
       FROM   TPROCESSO P,
              TCLIENTE_FATURAMENTO F
       WHERE  P.CD_CLIENTE     = F.CD_CLIENTE     AND
              P.CD_UNID_NEG    = F.CD_UNID_NEG    AND
              P.CD_PRODUTO     = F.CD_PRODUTO     AND
              P.CD_SERVICO     = F.CD_SERVICO     AND
              P.NR_PROCESSO    = @nr_processo ) > 0
  BEGIN
    DECLARE  c_faturamento CURSOR FOR 
      SELECT F.CD_ITEM, S.NM_STORED_PROCEDURE
      FROM   TCLIENTE_FATURAMENTO F,
             TCALCULO S
      WHERE  F.CD_CLIENTE     = @proc_cd_cliente  AND
             F.CD_UNID_NEG    = @proc_cd_unid_neg AND
             F.CD_PRODUTO     = @proc_cd_produto  AND
             F.CD_SERVICO     = @proc_cd_servico  AND
             F.TP_CALCULO     = S.CD_CALCULO
    OPEN c_faturamento
    FETCH c_faturamento INTO @cd_item, @nm_stored_proc
    WHILE @@fetch_status <> -1
    BEGIN
      SELECT @vl_calculado = 0

      EXEC @erro = @nm_stored_proc @nr_processo, @cd_item, @vl_calculado output

      IF @erro > 0
      BEGIN
        -- Gravar erro
        INSERT INTO TLOG_ERRO_CALCULO VALUES (@cd_usuario, @nm_stored_proc, @erro, @cd_item)    
      END
      ELSE
      BEGIN 
        SELECT @cd_ct_custo = CD_CT_CUSTO FROM TITEM_CUSTO where CD_UNIDADE = @proc_cd_unid_neg and 
								 CD_PRODUTO = @proc_cd_produto  and 
								 CD_ITEM    = @cd_item

        INSERT TS_FATURA_PROCESSO_ITEM
           ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, VL_CALCULADO, VL_INFORMADO, IN_RESTITUI, CD_CT_CUSTO )
        VALUES ( @proc_cd_unid_neg, @proc_cd_produto, @nr_solicitacao, @nr_processo, @cd_item, 
                 @vl_calculado, @vl_calculado, '0', @cd_ct_custo )
      END
      FETCH c_faturamento INTO @cd_item, @nm_stored_proc
    END
    CLOSE c_faturamento
    DEALLOCATE c_faturamento
  END
END

-- NVOCC --
SELECT @cd_item_nvocc = CD_ITEM_NVOCC
FROM   TPARAMETROS

SELECT @vl_calculado = 0
SELECT @vl_calculado = 
         ROUND( SUM ( 
           CASE IN_RESTITUI
             WHEN '0' THEN ( ISNULL( F.VL_ITEM, 0) + ISNULL( F.VL_ASSIST, 0) )
             WHEN '1' THEN ( ISNULL( F.VL_ITEM, 0) + ISNULL( F.VL_ASSIST, 0) ) * (-1)
             ELSE 0
           END ), 2)
FROM   TFATURAMENTO_CC F,
       TITEM I
WHERE  F.CD_ITEM = I.CD_ITEM AND
       F.NR_PROCESSO = @nr_processo AND
       I.CD_TIPO_ITEM = 'N' AND
       F.IN_FATURADO = '0' AND
       F.IN_CANCELADO = '0'

IF ISNULL( @vl_calculado, 0 ) <> 0 
BEGIN
  INSERT TS_FATURA_PROCESSO_ITEM
    ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, VL_CALCULADO, VL_INFORMADO, IN_RESTITUI )
  VALUES ( @proc_cd_unid_neg, @proc_cd_produto, @nr_solicitacao, @nr_processo, @cd_item_nvocc, 
      @vl_calculado, @vl_calculado, '0' )
  SELECT @in_nvocc = '1'
END
ELSE
  SELECT @in_nvocc = '0'

UPDATE TS_FATURA_PROCESSO
SET    IN_NVOCC = @in_nvocc
WHERE  CD_UNID_NEG    = @proc_cd_unid_neg AND
       CD_PRODUTO     = @proc_cd_produto  AND
       NR_SOLICITACAO = @nr_solicitacao   AND
       NR_PROCESSO    = @nr_processo

-- NAO FATURAVEL - ITEM POR TON
IF ( SELECT COUNT(*)
     FROM   TCLIENTE_ITEM_POR_TON T
            JOIN TPROCESSO P
              ON (T.CD_CLIENTE   = P.CD_CLIENTE AND
            T.CD_UNID_NEG  = P.CD_UNID_NEG    AND
            T.CD_PRODUTO   = P.CD_PRODUTO     AND
            T.CD_SERVICO   = P.CD_SERVICO )
            LEFT OUTER JOIN TTAXA_CAMBIO C
              ON (T.CD_MOEDA = C.CD_MOEDA AND
                 @dt_fatura BETWEEN C.DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA )
            LEFT OUTER JOIN VW_PROC_PESO_BRUTO B
              ON (P.NR_PROCESSO  = B.NR_PROCESSO)
     WHERE  P.NR_PROCESSO  = @nr_processo AND
            ISNULL(C.TX_CAMBIO,0) > 0     AND
            ISNULL(B.PESO_BRUTO,0) > 0 ) > 0
BEGIN
  INSERT TS_FATURA_PROCESSO_ITEM
    ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, VL_CALCULADO, VL_INFORMADO, IN_RESTITUI, IN_NAO_FAT )
    SELECT @proc_cd_unid_neg, @proc_cd_produto, @nr_solicitacao, @nr_processo,
           T.CD_ITEM, ISNULL(ROUND(((T.VL_NUM / T.VL_DEN)*C.TX_CAMBIO*B.PESO_BRUTO),2),0),
           ISNULL(ROUND(((T.VL_NUM / T.VL_DEN)*C.TX_CAMBIO*B.PESO_BRUTO),2),0), '0', '1'
    FROM   TCLIENTE_ITEM_POR_TON T
           JOIN TPROCESSO P
             ON ( T.CD_CLIENTE   = P.CD_CLIENTE   AND
                  T.CD_UNID_NEG  = P.CD_UNID_NEG  AND
                  T.CD_PRODUTO   = P.CD_PRODUTO   AND
                  T.CD_SERVICO   = P.CD_SERVICO )
           LEFT OUTER JOIN TTAXA_CAMBIO C
             ON (T.CD_MOEDA = C.CD_MOEDA)
           LEFT OUTER JOIN VW_PROC_PESO_BRUTO B
             ON (P.NR_PROCESSO  = B.NR_PROCESSO)
    WHERE  P.NR_PROCESSO  = @nr_processo    AND
            @dt_fatura BETWEEN C.DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA
END
ELSE
BEGIN
  -- Gravar erro
  SELECT @nm_stored_proc = 'sp_fat_calc_padrao'
  SELECT @erro           = 1
  INSERT INTO TLOG_ERRO_CALCULO 
    SELECT @cd_usuario, @nm_stored_proc, @erro, CD_ITEM
    FROM   TCLIENTE_ITEM_POR_TON T
           JOIN TPROCESSO P
             ON ( T.CD_CLIENTE   = P.CD_CLIENTE   AND
                  T.CD_UNID_NEG  = P.CD_UNID_NEG  AND
                  T.CD_PRODUTO   = P.CD_PRODUTO   AND
                  T.CD_SERVICO   = P.CD_SERVICO )
           LEFT OUTER JOIN TTAXA_CAMBIO C
             ON ( T.CD_MOEDA = C.CD_MOEDA AND
                  @dt_fatura BETWEEN C.DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA )
    WHERE  P.NR_PROCESSO  = @nr_processo AND
           ISNULL( C.TX_CAMBIO, 0 ) = 0     

  INSERT INTO TLOG_ERRO_CALCULO 
    SELECT @cd_usuario, @nm_stored_proc, @erro, CD_ITEM
    FROM   TCLIENTE_ITEM_POR_TON T
           JOIN TPROCESSO P
             ON ( T.CD_CLIENTE   = P.CD_CLIENTE   AND
                  T.CD_UNID_NEG  = P.CD_UNID_NEG  AND
                  T.CD_PRODUTO   = P.CD_PRODUTO   AND
                  T.CD_SERVICO   = P.CD_SERVICO )
           LEFT OUTER JOIN VW_PROC_PESO_BRUTO B
             ON ( P.NR_PROCESSO  = B.NR_PROCESSO )
    WHERE  P.NR_PROCESSO  = @nr_processo AND
           ISNULL( B.PESO_BRUTO, 0 ) = 0

END

-- Faturamento de Itens Complementares
UPDATE TFATURAMENTO_CC
SET    IN_SEL_FAT = '1'
WHERE  NR_PROCESSO = @nr_processo AND
       IN_FATURADO = '0' AND
       IN_CANCELADO = '0'

UPDATE TFATURAMENTO_CC
SET    IN_SEL_FAT = '0'
WHERE  NR_PROCESSO = @nr_processo AND
       IN_FATURADO = '0' AND
       IN_CANCELADO = '0' AND
       CD_ITEM IN ( SELECT CD_ITEM
                    FROM   TCLIENTE_FAT_ITEM_COMPLEMENTAR FI, TPROCESSO P
                    WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                           P.CD_CLIENTE = FI.CD_CLIENTE AND
                           P.CD_UNID_NEG = FI.CD_UNID_NEG AND
                           P.CD_PRODUTO = FI.CD_PRODUTO AND
                           P.CD_SERVICO = FI.CD_SERVICO AND
                           FI.IN_ATIVO = '1' ) 


IF ISNULL(@tp_tipo_fat,'') = 'F'
BEGIN
  -- Verificar se a fatura é somente com receitas (EMBRAER - SERVIMEX)
  IF EXISTS( SELECT *
             FROM   TCLIENTE_HABILITACAO H, 
                    TPROCESSO P
             WHERE  H.CD_UNID_NEG = P.CD_UNID_NEG AND
                    H.CD_PRODUTO = P.CD_PRODUTO AND
                    H.CD_CLIENTE = P.CD_CLIENTE AND 
                    H.IN_FAT_REC = '1' AND 
                    P.NR_PROCESSO = @nr_processo )
  BEGIN
    UPDATE TFATURAMENTO_CC
    SET    IN_SEL_FAT = '0'
    FROM   TFATURAMENTO_CC F, TITEM I
    WHERE  F.CD_ITEM = I.CD_ITEM AND
           I.CD_TIPO_ITEM <> 'R' AND
           F.IN_FATURADO = '0' AND
           F.NR_PROCESSO = @nr_processo
  END
END





GO
