USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_rel_bol_port] ( @cd_unid_neg CHAR(02), @cd_produto CHAR(02), @cd_cliente CHAR(05), @cd_grupo CHAR(03), 
                                   @in_portador char(1), @cd_banco CHAR(03), @dt_inicial DATETIME, @dt_final DATETIME, 
                                   @in_aberto CHAR(01), @in_emitido CHAR(01), @in_pago CHAR(01), @in_vencido CHAR(01), 
                                   @nr_identificador INT OUTPUT ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador INT
DECLARE @cd_unid_neg      CHAR(02)
DECLARE @cd_produto       CHAR(02)
DECLARE @cd_cliente       CHAR(05)
DECLARE @cd_grupo         CHAR(03)
DECLARE @in_portador      CHAR(01)
DECLARE @cd_banco         CHAR(03)
DECLARE @dt_inicial       DATETIME
DECLARE @dt_final         DATETIME
DECLARE @in_aberto        CHAR(01)
DECLARE @in_emitido       CHAR(01)
DECLARE @in_pago          CHAR(01)
DECLARE @in_vencido       CHAR(01)

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'
SELECT @cd_grupo    = 'X'
SELECT @cd_cliente  = 'X'
SELECT @cd_banco    = 'X'
SELECT @dt_inicial  = CONVERT( datetime, '01/02/2001', 103 )
SELECT @dt_final    = CONVERT( datetime, '01/08/2001', 103 )

SELECT @in_portador = '1' { '0' - Carteira , '1' Banco }
SELECT @in_aberto  = '1'
SELECT @in_emitido = '0'
SELECT @in_pago    = '0'
SELECT @in_vencido = '0'
--*/

SELECT @nr_identificador = ( SELECT MAX( NR_IDENTIFICADOR ) FROM TREL_BOL_PORT )

IF ISNULL( @nr_identificador,0 ) = 0 
  SELECT @nr_identificador = 1
ELSE
  SELECT @nr_identificador = @nr_identificador + 1

IF @in_portador = '0'
BEGIN
  IF @in_emitido = '1'
  BEGIN
    IF NOT EXISTS( SELECT * 
                   FROM   TREL_BOL_PORT
                   WHERE  NR_BOLETO IN ( SELECT SUBSTRING( R.NR_RELATORIO, 1, 3 ) + '/' + SUBSTRING( R.NR_RELATORIO, 4, 2 )
                                         FROM   TREL_COBR_CARTEIRA R, TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
                                         WHERE  R.CD_UNID_NEG     = F.CD_UNID_NEG AND
                                                R.CD_PRODUTO      = F.CD_PRODUTO  AND
                                                R.NR_NF           = F.NR_NOTA_FATURA AND
                                                F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
                                                F.CD_PRODUTO      = FP.CD_PRODUTO AND
                                                F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
                                                FP.NR_PROCESSO    = P.NR_PROCESSO AND
                                                P.CD_CLIENTE      = E.CD_EMPRESA AND
                                                ( ( R.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
                                                ( ( R.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
                                                ( ( E.CD_GRUPO    = @cd_grupo )  OR ( @cd_grupo = 'X' ) ) AND
                                                ( ( E.CD_EMPRESA  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
                                                R.IN_CANCELADO = '0' AND
                                                R.DT_VENCIMENTO <= @dt_final AND
                                                EXISTS( SELECT * 
                                                        FROM   TS_FATURA F2
                                                        WHERE  F.CD_UNID_NEG = F2.CD_UNID_NEG AND
                                                               F.CD_PRODUTO = F2.CD_PRODUTO AND
                                                               F.NR_SOLICITACAO = F2.NR_SOLICITACAO AND
                                                               F2.IN_LIQUIDADO = '0' AND
                                                               F2.IN_CANCELADO = '0' AND
                                                               F2.DT_FATURA BETWEEN @dt_inicial AND @dt_final ) ) )
    INSERT TREL_BOL_PORT ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, NR_BOLETO, NR_FATURA, DT_GERACAO, 
                           DT_VENCIMENTO, VL_BOLETO, CD_REFERENCIA )
    SELECT @nr_identificador, R.CD_UNID_NEG, R.CD_PRODUTO, E.CD_EMPRESA, SUBSTRING( R.NR_RELATORIO, 1, 3 ) + '/' + SUBSTRING( R.NR_RELATORIO, 4, 2 ), R.NR_NF, R.DT_GERACAO,
           R.DT_VENCIMENTO, R.VL_SALDO, ( SELECT CD_REFERENCIA
                                          FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TREF_CLIENTE REF
                                          WHERE  R.CD_UNID_NEG = F.CD_UNID_NEG AND
                                                 R.CD_PRODUTO = F.CD_PRODUTO AND
                                                 R.NR_NF = F.NR_NOTA_FATURA AND
                                                 F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                                                 F.CD_PRODUTO = FP.CD_PRODUTO AND
                                                 F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                                                 FP.NR_PROCESSO = REF.NR_PROCESSO AND
                                                 NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                                                   FROM   TREF_CLIENTE REF2
                                                                   WHERE  REF.NR_PROCESSO = REF2.NR_PROCESSO ) ) 
    FROM   TREL_COBR_CARTEIRA R, TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
    WHERE  R.CD_UNID_NEG     = F.CD_UNID_NEG AND
           R.CD_PRODUTO      = F.CD_PRODUTO  AND
           R.NR_NF           = F.NR_NOTA_FATURA AND
           F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
           F.CD_PRODUTO      = FP.CD_PRODUTO AND
           F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
           FP.NR_PROCESSO    = P.NR_PROCESSO AND
           P.CD_CLIENTE      = E.CD_EMPRESA AND
           ( ( R.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
           ( ( R.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
           ( ( E.CD_GRUPO    = @cd_grupo )  OR ( @cd_grupo = 'X' ) ) AND
           ( ( E.CD_EMPRESA  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
           R.IN_CANCELADO = '0' AND
           R.DT_VENCIMENTO <= @dt_final AND
           EXISTS( SELECT * 
                   FROM   TS_FATURA F2
                   WHERE  F.CD_UNID_NEG = F2.CD_UNID_NEG AND
                          F.CD_PRODUTO = F2.CD_PRODUTO AND
                          F.NR_SOLICITACAO = F2.NR_SOLICITACAO AND
                          F2.IN_LIQUIDADO = '0' AND
                          F2.IN_CANCELADO = '0' AND
                          F2.DT_FATURA BETWEEN @dt_inicial AND @dt_final )
  END

  IF @in_pago = '1'
  BEGIN
    IF NOT EXISTS( SELECT * 
                   FROM   TREL_BOL_PORT
                   WHERE  NR_BOLETO IN ( SELECT SUBSTRING( R.NR_RELATORIO, 1, 3 ) + '/' + SUBSTRING( R.NR_RELATORIO, 4, 2 )
                                         FROM   TREL_COBR_CARTEIRA R, TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
                                         WHERE  R.CD_UNID_NEG     = F.CD_UNID_NEG AND
                                                R.CD_PRODUTO      = F.CD_PRODUTO  AND
                                                R.NR_NF           = F.NR_NOTA_FATURA AND
                                                F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
                                                F.CD_PRODUTO      = FP.CD_PRODUTO AND
                                                F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
                                                FP.NR_PROCESSO    = P.NR_PROCESSO AND
                                                P.CD_CLIENTE      = E.CD_EMPRESA AND
                                                ( ( R.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
                                                ( ( R.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
                                                ( ( E.CD_GRUPO    = @cd_grupo )  OR ( @cd_grupo = 'X' ) ) AND
                                                ( ( E.CD_EMPRESA  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
                                                R.IN_CANCELADO = '0' AND
                                                EXISTS( SELECT * 
                                                        FROM   TS_FATURA F2
                                                        WHERE  F.CD_UNID_NEG = F2.CD_UNID_NEG AND
                                                               F.CD_PRODUTO = F2.CD_PRODUTO AND
                                                               F.NR_SOLICITACAO = F2.NR_SOLICITACAO AND
                                                               F2.IN_LIQUIDADO = '1' AND
                                                               F2.IN_CANCELADO = '0' AND
                                                               F2.DT_FATURA BETWEEN @dt_inicial AND @dt_final ) ) )
    INSERT TREL_BOL_PORT ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, NR_BOLETO, NR_FATURA, DT_GERACAO, 
                           DT_VENCIMENTO, VL_BOLETO, CD_REFERENCIA )
    SELECT @nr_identificador, R.CD_UNID_NEG, R.CD_PRODUTO, E.CD_EMPRESA, SUBSTRING( R.NR_RELATORIO, 1, 3 ) + '/' + SUBSTRING( R.NR_RELATORIO, 4, 2 ), R.NR_NF, R.DT_GERACAO,
           R.DT_VENCIMENTO, R.VL_SALDO, ( SELECT CD_REFERENCIA
                                          FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TREF_CLIENTE REF
                                          WHERE  R.CD_UNID_NEG = F.CD_UNID_NEG AND
                                                 R.CD_PRODUTO = F.CD_PRODUTO AND
                                                 R.NR_NF = F.NR_NOTA_FATURA AND
                                                 F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                                                 F.CD_PRODUTO = FP.CD_PRODUTO AND
                                                 F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                                                 FP.NR_PROCESSO = REF.NR_PROCESSO AND
                                                 NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                                                   FROM   TREF_CLIENTE REF2
                                                                   WHERE  REF.NR_PROCESSO = REF2.NR_PROCESSO ) ) 
    FROM   TREL_COBR_CARTEIRA R, TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
    WHERE  R.CD_UNID_NEG     = F.CD_UNID_NEG AND
           R.CD_PRODUTO      = F.CD_PRODUTO  AND
           R.NR_NF           = F.NR_NOTA_FATURA AND
           F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
           F.CD_PRODUTO      = FP.CD_PRODUTO AND
           F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
           FP.NR_PROCESSO    = P.NR_PROCESSO AND
           P.CD_CLIENTE      = E.CD_EMPRESA AND
           ( ( R.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
           ( ( R.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
           ( ( E.CD_GRUPO    = @cd_grupo )  OR ( @cd_grupo = 'X' ) ) AND
           ( ( E.CD_EMPRESA  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
           R.IN_CANCELADO = '0' AND
           EXISTS( SELECT * 
                   FROM   TS_FATURA F2
                   WHERE  F.CD_UNID_NEG = F2.CD_UNID_NEG AND
                          F.CD_PRODUTO = F2.CD_PRODUTO AND
                          F.NR_SOLICITACAO = F2.NR_SOLICITACAO AND
                          F2.IN_LIQUIDADO = '1' AND
                          F2.IN_CANCELADO = '0' AND
                          F2.DT_FATURA BETWEEN @dt_inicial AND @dt_final )
  END

  IF @in_vencido = '1'
  BEGIN
    IF NOT EXISTS( SELECT * 
                   FROM   TREL_BOL_PORT
                   WHERE  NR_BOLETO IN ( SELECT SUBSTRING( R.NR_RELATORIO, 1, 3 ) + '/' + SUBSTRING( R.NR_RELATORIO, 4, 2 )
                                         FROM   TREL_COBR_CARTEIRA R, TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
                                         WHERE  R.CD_UNID_NEG     = F.CD_UNID_NEG AND
                                                R.CD_PRODUTO      = F.CD_PRODUTO  AND
                                                R.NR_NF           = F.NR_NOTA_FATURA AND
                                                F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
                                                F.CD_PRODUTO      = FP.CD_PRODUTO AND
                                                F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
                                                FP.NR_PROCESSO    = P.NR_PROCESSO AND
                                                P.CD_CLIENTE      = E.CD_EMPRESA AND
                                                ( ( R.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
                                                ( ( R.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
                                                ( ( E.CD_GRUPO    = @cd_grupo )  OR ( @cd_grupo = 'X' ) ) AND
                                                ( ( E.CD_EMPRESA  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
                                                R.IN_CANCELADO = '0' AND
                                                R.DT_VENCIMENTO < @dt_final AND
                                                EXISTS( SELECT * 
                                                        FROM   TS_FATURA F2
                                                        WHERE  F.CD_UNID_NEG = F2.CD_UNID_NEG AND
                                                               F.CD_PRODUTO = F2.CD_PRODUTO AND
                                                               F.NR_SOLICITACAO = F2.NR_SOLICITACAO AND
                                                               F2.IN_LIQUIDADO = '0' AND
                                                               F2.IN_CANCELADO = '0' AND
                                                               F2.DT_FATURA BETWEEN @dt_inicial AND @dt_final ) ) )
    INSERT TREL_BOL_PORT ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, NR_BOLETO, NR_FATURA, DT_GERACAO, 
                           DT_VENCIMENTO, VL_BOLETO, CD_REFERENCIA )
    SELECT @nr_identificador, R.CD_UNID_NEG, R.CD_PRODUTO, E.CD_EMPRESA, SUBSTRING( R.NR_RELATORIO, 1, 3 ) + '/' + SUBSTRING( R.NR_RELATORIO, 4, 2 ), R.NR_NF, R.DT_GERACAO,
           R.DT_VENCIMENTO, R.VL_SALDO, ( SELECT CD_REFERENCIA
                                          FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TREF_CLIENTE REF
                                          WHERE  R.CD_UNID_NEG = F.CD_UNID_NEG AND
                                                 R.CD_PRODUTO = F.CD_PRODUTO AND
                                                 R.NR_NF = F.NR_NOTA_FATURA AND
                                                 F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                                                 F.CD_PRODUTO = FP.CD_PRODUTO AND
                                                 F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                                                 FP.NR_PROCESSO = REF.NR_PROCESSO AND
                                                 NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                                                   FROM   TREF_CLIENTE REF2
                                                                   WHERE  REF.NR_PROCESSO = REF2.NR_PROCESSO ) ) 
    FROM   TREL_COBR_CARTEIRA R, TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
    WHERE  R.CD_UNID_NEG     = F.CD_UNID_NEG AND
           R.CD_PRODUTO      = F.CD_PRODUTO  AND
           R.NR_NF           = F.NR_NOTA_FATURA AND
           F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
           F.CD_PRODUTO      = FP.CD_PRODUTO AND
           F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
           FP.NR_PROCESSO    = P.NR_PROCESSO AND
           P.CD_CLIENTE      = E.CD_EMPRESA AND
           ( ( R.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
           ( ( R.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
           ( ( E.CD_GRUPO    = @cd_grupo )  OR ( @cd_grupo = 'X' ) ) AND
           ( ( E.CD_EMPRESA  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
           R.IN_CANCELADO = '0' AND
           R.DT_VENCIMENTO < @dt_final AND
           EXISTS( SELECT * 
                   FROM   TS_FATURA F2
                   WHERE  F.CD_UNID_NEG = F2.CD_UNID_NEG AND
                          F.CD_PRODUTO = F2.CD_PRODUTO AND
                          F.NR_SOLICITACAO = F2.NR_SOLICITACAO AND
                          F2.IN_LIQUIDADO = '0' AND
                          F2.IN_CANCELADO = '0' AND
                          F2.DT_FATURA BETWEEN @dt_inicial AND @dt_final )
  END
END

IF @in_portador = '1'
BEGIN
  --SELECT 'Aberto'
  IF @in_aberto = '1'
  BEGIN
    INSERT TREL_BOL_PORT ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, NR_BOLETO, NR_FATURA, DT_GERACAO, 
                           DT_VENCIMENTO, VL_BOLETO, CD_REFERENCIA )
    SELECT @nr_identificador, B.CD_UNID_NEG, B.CD_PRODUTO, B.CD_CLIENTE, B.NR_BOLETO, B.NR_FATURA, B.DT_GERACAO,  
           B.DT_VENCIMENTO, B.VL_BOLETO,( SELECT CD_REFERENCIA
                                          FROM   TS_FATURA_PROCESSO FP, TREF_CLIENTE REF
                                          WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                                                 F.CD_PRODUTO = FP.CD_PRODUTO AND
                                                 F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                                                 FP.NR_PROCESSO = REF.NR_PROCESSO AND
                                                 NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                                                   FROM   TREF_CLIENTE REF2
                                                                   WHERE  REF.NR_PROCESSO = REF2.NR_PROCESSO ) ) 
    FROM   TBOLETO_FATURA B, TS_FATURA F
    WHERE  F.CD_UNID_NEG     = B.CD_UNID_NEG AND
           F.CD_PRODUTO      = B.CD_PRODUTO  AND
           F.NR_NOTA_FATURA  = B.NR_FATURA   AND
           ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
           ( ( B.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
           ( ( B.CD_CLIENTE  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
           ( ( B.CD_CLIENTE IN ( SELECT CD_EMPRESA
                                 FROM   TEMPRESA_NAC 
                                 WHERE  CD_GRUPO = @cd_grupo ) ) OR ( @cd_grupo = 'X' ) ) AND 
           ( ( B.CD_CLIENTE IN ( SELECT CD_CLIENTE
                                 FROM   TCLIENTE_HABILITACAO 
                                 WHERE  CD_UNID_NEG = B.CD_UNID_NEG AND
                                        CD_PRODUTO  = B.CD_PRODUTO  AND
                                        CD_BANCO_PORTADOR = @cd_banco ) ) OR ( @cd_banco = 'X' ) ) AND
           B.IN_IMPRESSO  = '0' AND 
           F.IN_CANCELADO = '0' AND
           F.IN_LIQUIDADO = '1' AND
           F.DT_FATURA BETWEEN ( @dt_inicial ) AND ( @dt_final ) 
  END

  IF @in_emitido = '1'
  BEGIN
    IF NOT EXISTS( SELECT *
                   FROM   TREL_BOL_PORT
                   WHERE  NR_IDENTIFICADOR = @nr_identificador AND
                          NR_BOLETO IN ( SELECT B.NR_BOLETO
                                         FROM   TBOLETO_FATURA B, TS_FATURA F
                                         WHERE  F.CD_UNID_NEG     = B.CD_UNID_NEG AND
                                                F.CD_PRODUTO      = B.CD_PRODUTO  AND
                                                F.NR_NOTA_FATURA  = B.NR_FATURA   AND
                                                ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
                                                ( ( B.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
                                                ( ( B.CD_CLIENTE  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
                                                ( ( B.CD_CLIENTE IN ( SELECT CD_EMPRESA 
                                                                      FROM   TEMPRESA_NAC 
                                                                      WHERE  CD_GRUPO = @cd_grupo ) ) OR ( @cd_grupo = 'X' ) ) AND 
                                                                             B.IN_IMPRESSO  = '1' AND
                                                                             F.IN_LIQUIDADO = '0' AND
                                                                             B.DT_VENCIMENTO <= @dt_final AND
                                                                             F.IN_CANCELADO = '0' AND
                                                                             F.DT_FATURA BETWEEN ( @dt_inicial ) AND ( @dt_final ) ) )
    INSERT TREL_BOL_PORT ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, NR_BOLETO, NR_FATURA, DT_GERACAO, 
                           DT_VENCIMENTO, VL_BOLETO, CD_REFERENCIA )
    SELECT @nr_identificador, B.CD_UNID_NEG, B.CD_PRODUTO, B.CD_CLIENTE, B.NR_BOLETO, B.NR_FATURA, B.DT_GERACAO,  
 	   B.DT_VENCIMENTO, B.VL_BOLETO,( SELECT CD_REFERENCIA
                                          FROM   TS_FATURA_PROCESSO FP, TREF_CLIENTE REF
                                          WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                                                 F.CD_PRODUTO = FP.CD_PRODUTO AND
                                                 F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                                                 FP.NR_PROCESSO = REF.NR_PROCESSO AND
                                                 NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                                                   FROM   TREF_CLIENTE REF2
                                                                   WHERE  REF.NR_PROCESSO = REF2.NR_PROCESSO ) ) 
    FROM   TBOLETO_FATURA B, TS_FATURA F
    WHERE  F.CD_UNID_NEG     = B.CD_UNID_NEG AND
           F.CD_PRODUTO      = B.CD_PRODUTO  AND
           F.NR_NOTA_FATURA  = B.NR_FATURA   AND
           ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
           ( ( B.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
           ( ( B.CD_CLIENTE  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
           ( ( B.CD_CLIENTE IN ( SELECT CD_EMPRESA 
                                 FROM   TEMPRESA_NAC 
                                 WHERE  CD_GRUPO = @cd_grupo ) ) OR ( @cd_grupo = 'X' ) ) AND 
           B.IN_IMPRESSO  = '1' AND
           F.IN_LIQUIDADO = '0' AND
           B.DT_VENCIMENTO <= @dt_final AND
           F.IN_CANCELADO = '0' AND
           F.DT_FATURA BETWEEN ( @dt_inicial ) AND ( @dt_final )
  END
 
  --SELECT 'Pago'
  IF @in_pago = '1'
  BEGIN
    IF NOT EXISTS( SELECT *
                   FROM   TREL_BOL_PORT
                   WHERE  NR_IDENTIFICADOR = @nr_identificador AND
                          NR_BOLETO IN ( SELECT B.NR_BOLETO
                                         FROM   TBOLETO_FATURA B, TS_FATURA F
                                         WHERE  F.CD_UNID_NEG     = B.CD_UNID_NEG AND
                                                F.CD_PRODUTO      = B.CD_PRODUTO  AND
                                                F.NR_NOTA_FATURA  = B.NR_FATURA   AND
                                                ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
                                                ( ( B.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
                                                ( ( B.CD_CLIENTE  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
                                                ( ( B.CD_CLIENTE IN ( SELECT CD_EMPRESA
                                                                      FROM   TEMPRESA_NAC 
                                                                      WHERE  CD_GRUPO = @cd_grupo ) ) OR ( @cd_grupo = 'X' ) ) AND
                                                                             B.IN_IMPRESSO  = '1' AND
                                                                             F.IN_LIQUIDADO = '1' AND
                                                                             F.IN_CANCELADO = '0' AND
                                                                             F.DT_FATURA BETWEEN ( @dt_inicial ) AND ( @dt_final ) ) )
    INSERT TREL_BOL_PORT ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, NR_BOLETO, NR_FATURA, DT_GERACAO, 
                           DT_VENCIMENTO, VL_BOLETO, CD_REFERENCIA )
    SELECT @nr_identificador, B.CD_UNID_NEG, B.CD_PRODUTO, B.CD_CLIENTE, B.NR_BOLETO, B.NR_FATURA, B.DT_GERACAO,  
 	   B.DT_VENCIMENTO, B.VL_BOLETO,( SELECT CD_REFERENCIA
                                          FROM   TS_FATURA_PROCESSO FP, TREF_CLIENTE REF
                                          WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                                                 F.CD_PRODUTO = FP.CD_PRODUTO AND
                                                 F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                                                 FP.NR_PROCESSO = REF.NR_PROCESSO AND
                                                 NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                                                   FROM   TREF_CLIENTE REF2
                                                                   WHERE  REF.NR_PROCESSO = REF2.NR_PROCESSO ) ) 
    FROM   TBOLETO_FATURA B, TS_FATURA F
    WHERE  F.CD_UNID_NEG     = B.CD_UNID_NEG AND
           F.CD_PRODUTO      = B.CD_PRODUTO  AND
           F.NR_NOTA_FATURA  = B.NR_FATURA   AND
           ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
           ( ( B.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
           ( ( B.CD_CLIENTE  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND
           ( ( B.CD_CLIENTE IN ( SELECT CD_EMPRESA
                                 FROM   TEMPRESA_NAC 
                                 WHERE  CD_GRUPO = @cd_grupo ) ) OR ( @cd_grupo = 'X' ) ) AND
           B.IN_IMPRESSO  = '1' AND
           F.IN_LIQUIDADO = '1' AND
           F.IN_CANCELADO = '0' AND
           F.DT_FATURA BETWEEN ( @dt_inicial ) AND ( @dt_final )
  END

  --SELECT 'Vencido'
  IF @in_vencido = '1'
  BEGIN
    IF NOT EXISTS( SELECT *
                   FROM   TREL_BOL_PORT
                   WHERE  NR_IDENTIFICADOR = @nr_identificador AND
                          NR_BOLETO IN ( SELECT B.NR_BOLETO
                                         FROM   TBOLETO_FATURA B, TS_FATURA F
                                         WHERE  F.CD_UNID_NEG     = B.CD_UNID_NEG AND
                                                F.CD_PRODUTO      = B.CD_PRODUTO  AND
                                                F.NR_NOTA_FATURA  = B.NR_FATURA   AND
                                                ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
                                                ( ( B.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
                                                ( ( B.CD_CLIENTE  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND                  
                                                ( ( B.CD_CLIENTE IN ( SELECT CD_EMPRESA
                                                                      FROM   TEMPRESA_NAC 
                                                                      WHERE  CD_GRUPO = @cd_grupo ) ) OR ( @cd_grupo = 'X' ) ) AND  
                                                                              F.IN_IMPRESSO  = '1' AND
                                                                              F.IN_LIQUIDADO = '0' AND
                                                                              B.DT_VENCIMENTO < @dt_final AND
                                                                              F.IN_CANCELADO = '0' AND
                                                                              F.DT_FATURA BETWEEN ( @dt_inicial ) AND ( @dt_final ) ) )
    INSERT TREL_BOL_PORT ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, NR_BOLETO, NR_FATURA, DT_GERACAO, 
                           DT_VENCIMENTO, VL_BOLETO, CD_REFERENCIA )
    SELECT @nr_identificador, B.CD_UNID_NEG, B.CD_PRODUTO, B.CD_CLIENTE, B.NR_BOLETO, B.NR_FATURA, B.DT_GERACAO,  
 	   B.DT_VENCIMENTO, B.VL_BOLETO,( SELECT CD_REFERENCIA
                                          FROM   TS_FATURA_PROCESSO FP, TREF_CLIENTE REF
                                          WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                                                 F.CD_PRODUTO = FP.CD_PRODUTO AND
                                                 F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                                                 FP.NR_PROCESSO = REF.NR_PROCESSO AND
                                                 NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                                                   FROM   TREF_CLIENTE REF2
                                                                   WHERE  REF.NR_PROCESSO = REF2.NR_PROCESSO ) ) 
    FROM   TBOLETO_FATURA B, TS_FATURA F
    WHERE  F.CD_UNID_NEG     = B.CD_UNID_NEG AND
           F.CD_PRODUTO      = B.CD_PRODUTO  AND
           F.NR_NOTA_FATURA  = B.NR_FATURA   AND
           ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
           ( ( B.CD_PRODUTO  = @cd_produto )  OR ( @cd_produto  = 'X' ) ) AND
           ( ( B.CD_CLIENTE  = @cd_cliente )  OR ( @cd_cliente  = 'X' ) ) AND                  
           ( ( B.CD_CLIENTE IN ( SELECT CD_EMPRESA
                                 FROM   TEMPRESA_NAC 
                                 WHERE  CD_GRUPO = @cd_grupo ) ) OR ( @cd_grupo = 'X' ) ) AND  
           F.IN_IMPRESSO  = '1' AND
           F.IN_LIQUIDADO = '0' AND
           B.DT_VENCIMENTO < @dt_final AND
           F.IN_CANCELADO = '0' AND
           F.DT_FATURA BETWEEN ( @dt_inicial ) AND ( @dt_final )
  END
END

/*
SELECT * FROM TREL_BOL_PORT WHERE NR_IDENTIFICADOR = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
