USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_rateia_di    Script Date: 02/09/1999 08:58:12 AM ******/
CREATE PROCEDURE [sp_rateia_di] (@nr_processo char(18)) AS
declare @saida    char(100)
declare @status    smallint
declare @nr_adicao   char(3)
declare @s_adicoes   char(3)
declare @i_adicao   int
declare @qt_adicoes   int
declare @nr_item   char(3)
declare @i_itens   int
declare @qt_itens   int
declare @nr_declaracao_imp  char(10)
declare @dt_registro_di   datetime
declare @dt_processamento  datetime
declare @in_ratear_frete  bit
declare @in_ratear_seguro  bit
declare @in_moeda_unica   bit
declare @Incoterm   char(3)
declare @cd_moeda   char(3)
declare @cd_moeda_mle   char(3)
declare @cd_moeda_frete   char(3)
declare @cd_moeda_negoc_ad  char(3)
declare @cd_moeda_seguro  char(3)  
declare @vl_tx_mneg   numeric(14, 7)
declare @vl_tx_dolar   numeric(14, 7)
declare @vl_tx_frete   numeric(14, 7)
declare @vl_tx_seguro   numeric(14, 7)
declare @vl_mle_mn   numeric(16, 3)
declare @vl_mle_mneg   numeric(16, 3)
declare @vl_mle_mn_ajust  numeric(16, 3)
declare @vl_mle_mneg_ajust  numeric(16, 3)
declare @vl_mle_mn_puro   numeric(16, 3)
declare @vl_mle_mneg_puro_a  numeric(16, 3)
declare @vl_mle_mn_puro_a  numeric(16, 3)
declare @vl_mle_mneg_puro  numeric(16, 3)
declare @vl_mle_tot_mn   numeric(16, 3)
declare @vl_mle_tot_mn1   numeric(16, 3)
declare @vl_mle_tot_mneg  numeric(16, 3)
declare @vl_mle_tot_mn_ajust  numeric(16, 3)
declare @vl_mle_tot_mneg_ajust  numeric(16, 3)
declare @vl_mle_tot_mn_puro  numeric(16, 3)
declare @vl_mle_tot_mneg_puro  numeric(16, 3)
declare @vl_mle_item_mneg  numeric(16, 3)
declare @vl_mle_item_mn   numeric(16, 3)
declare @vl_despesa_mn   numeric(16, 3)
declare @vl_despesa_tot_mn1  numeric(16, 3)
declare @vl_despesa_mneg  numeric(16, 3)
declare @vl_despesa_tot_mn  numeric(16, 3)
declare @vl_despesa_tot_mneg  numeric(16, 3)
declare @vl_despesa_item_mneg  numeric(16, 3)
declare @vl_despesa_item_mn  numeric(16, 3)
declare @vl_frete_prepaid_mneg  numeric(16, 3)
declare @vl_frete_collect_mneg  numeric(16, 3)
declare @vl_frete_ter_nac_mneg  numeric(16, 3)
declare @vl_frete_tot_mneg  numeric(16, 3)
declare @vl_frete_tot_mn  numeric(16, 3)
declare @vl_frete_tot_mn1  numeric(16, 3)
declare @vl_frete_mneg   numeric(16, 3)
declare @vl_frete_mn   numeric(16, 3)
declare @vl_frete_item_mneg  numeric(16, 3)
declare @vl_frete_item_mneg_aj  numeric(16, 3)
declare @vl_frete_item_mn  numeric(16, 3)
declare @vl_frete_mneg_ajust  numeric(16, 3)
declare @vl_seguro_tot_mneg  numeric(16, 3)
declare @vl_seguro_tot_mn  numeric(16, 3)
declare @vl_seguro_tot_mn1  numeric(16, 3)
declare @vl_seguro_mneg   numeric(16, 3)  
declare @vl_seguro_mn   numeric(16, 3)
declare @vl_seguro_item_mneg  numeric(16, 3)
declare @vl_seguro_item_mneg_aj  numeric(16, 3)
declare @vl_seguro_item_mn  numeric(16, 3)
declare @vl_seguro_mneg_ajust  numeric(16, 3)
declare @vl_soma_mle_mn   numeric(16, 3)
declare @vl_soma_despesa_mneg  numeric(16, 3)
declare @vl_soma_frete_mneg  numeric(16, 3)
declare @vl_soma_seguro_mneg  numeric(16, 3)
declare @vl_soma_despesa_mn  numeric(16, 3)
declare @vl_soma_frete_mn  numeric(16, 3)
declare @vl_soma_seguro_mn  numeric(16, 3)
declare @pl_tot_merc   numeric(16, 6)
declare @pl_merc_total   numeric(16, 6)
declare @pl_mercadoria   numeric(16, 6)
declare @pl_merc_ad   numeric(16, 6)
declare @vl_acrescimos_mn  numeric(16, 3)
declare @vl_acrescimos_mneg  numeric(16, 3)
declare @vl_acrescimos_i_mn  numeric(16, 3)
declare @vl_acrescimos_i_mneg  numeric(16, 3)
declare @vl_deducoes_mn   numeric(16, 3)
declare @vl_deducoes_mneg  numeric(16, 3)
declare @vl_deducoes_i_mn  numeric(16, 3)
declare @vl_deducoes_i_mneg  numeric(16, 3)
declare @vl_tot_acrescimos_mn  numeric(16, 3)
declare @vl_tot_deducoes_mn  numeric(16, 3)
declare @vl_tot_acrescimos_i_mn  numeric(16, 3)
declare @vl_tot_deducoes_i_mn  numeric(16, 3)
declare @vl_tot_acrescimos_mneg  numeric(16, 3)
declare @vl_tot_deducoes_i_mneg  numeric(16, 3)
declare @vl_tot_acrescimos_i_mneg numeric(16, 3)
declare @vl_tot_deducoes_mneg  numeric(16, 3)
declare @qt_merc_un_comerc_ad  numeric(16, 6)
declare @qt_merc_un_estat_ad  numeric(16, 6)
declare @vl_mcv_tot_mneg  numeric(16, 3)
declare @vl_mcv_tot_mn   numeric(16, 3)
declare @vl_mcv_mneg   numeric(16, 3)
declare @vl_mcv_mn   numeric(16, 3)
declare @vl_mcv_item   numeric(16, 3)
declare @vl_mcv_item_mn   numeric(16, 3)
declare @pl_merc_item   numeric(16, 6)
declare @qt_merc_un_comerc  numeric(16, 6)
declare @vl_ucv    numeric(21, 8)
declare @vl_ucv_mn   numeric(21, 8)
declare @vl_soma_despesa_i_mneg  numeric(16, 3)
declare @vl_soma_frete_i_mneg  numeric(16, 3)
declare @vl_soma_seguro_i_mneg  numeric(16, 3)
declare @vl_soma_frete_i_mneg_aj numeric(16, 3)
declare @vl_soma_seguro_i_mneg_aj numeric(16, 3)
declare @vl_soma_mle_i_mn  numeric(16, 3)
declare @vl_soma_despesa_i_mn  numeric(16, 3)
declare @vl_soma_frete_i_mn  numeric(16, 3)
declare @vl_soma_seguro_i_mn  numeric(16, 3)
declare @vl_soma_mcv_item  numeric(16, 3)
declare @vl_soma_mcv_item_mn  numeric(16, 3)
declare @cd_reg_trib_ii   char(1)
declare @cd_tipo_acordo_tar  char(1)
declare @pc_aliq_normal   numeric(11, 6)
declare @pc_aliq_acordo   numeric(11, 6)
declare @pc_aliq_reduzida  numeric(11, 6)
declare @pc_reducao_imp   numeric(11, 6)
declare @vl_base_calc_ii_item  numeric(16, 3)
declare @vl_base_calc_ii  numeric(16, 3)
declare @vl_base_calc_ipi  numeric(16, 3)
declare @vl_base_antidump  numeric(16, 3)
declare @pc_ii_normal   numeric(11, 6)
declare @pc_ii_acordo   numeric(11, 6)
declare @pc_ii_reduzida   numeric(11, 6)
declare @pc_ii_reducao   numeric(11, 6)
declare @in_ipi_nao_tributavel  bit
declare @pc_ipi_normal   numeric(11, 6)
declare @pc_ipi_reduzida  numeric(11, 6)
declare @pc_antidump   numeric(11, 6)
declare @vl_ii_normal   numeric(16, 3)
declare @vl_ii_acordo   numeric(16, 3)
declare @vl_ii_reduzido   numeric(16, 3)
declare @vl_ii_devido   numeric(16, 3)
declare @vl_ii_a_recolher  numeric(16, 3)
declare @cd_tipo_benef_ipi  char(1)
declare @vl_ipi_normal   numeric(16, 3)
declare @vl_ipi_reduzido  numeric(16, 3)
declare @vl_ipi_devido   numeric(16, 3)
declare @vl_ipi_a_recolher  numeric(16, 3)
declare @vl_antidump   numeric(16, 3)
declare @vl_antidump_devido  numeric(16, 3)
declare @vl_antidump_a_recolher  numeric(16, 3)
declare @vl_vinc_md_cambio  numeric(16, 3)
declare @vl_ja_vinculado  numeric(16, 3)
declare @vl_ii_total   numeric(16, 3)
declare @vl_ipi_total   numeric(16, 3)
declare @vl_antidump_total  numeric(16, 3)
declare @vl_icms_total   numeric(16, 3)
declare @cd_forma_pagamento  char(1)
declare @in_reb    char(1)
declare @in_liga_debug   bit
declare @vl_reb    numeric(16, 3)
declare @cd_tipo_base_seguro  char(1)
declare @pc_icms   numeric(11, 6)
declare @pc_icms_ad   numeric(11, 6)
declare @pc_reducao_icms  numeric(16, 3)
declare @pc_reducao_icms_ad  numeric(16, 3)
declare @vl_icms_devido   numeric(16, 3)
declare @vl_icms_a_recolher  numeric(16, 3)
declare @nm_unid_aliq_especif  char(15)
declare @cd_tipo_recipiente  char(2)
declare @qt_ml_recipiente  numeric(6, 1)
declare @qt_mercad_aliq_especif  numeric(10, 1)
declare @vl_aliq_unit_especif  numeric(11, 6)
declare @vl_calc_aliq_especif  numeric(16, 3)
declare @pl_merc_item_read  float
declare @vl_mle_item_read  float
declare @qt_merc_un_comerc_read  float
declare @cd_receita_pgto  char(4)
declare @cd_banco_pgto_trib  char(3)
declare @nr_agenc_pgto_trib  char(5)
declare @dt_pgto_tributo  char(8)
declare @vl_multa_pgto_trib  float
declare @vl_juros_pgto_trib  float
declare @vl_ii_item   numeric(16, 3)
declare @vl_ipi_item   numeric(16, 3)
declare @vl_ad_item   numeric(16, 3)
declare @vl_icms_item   numeric(16, 3)
declare @vl_soma_ii_item  numeric(16, 3)
declare @vl_soma_ipi_item  numeric(16, 3)
declare @vl_soma_ad_item  numeric(16, 3)
declare @vl_soma_icms_item  numeric(16, 3)
declare @vl_taxa_siscomex   float
select @vl_tx_mneg   = 0
select @vl_tx_dolar   = 0
select @vl_tx_frete   = 0
select @vl_tx_seguro   = 0
select @vl_ii_normal   = 0
select @vl_ii_acordo   = 0
select @vl_ii_reduzido   = 0
select @vl_ii_devido   = 0
select @vl_ii_a_recolher  = 0
select @vl_ipi_normal   = 0
select @vl_ipi_reduzido   = 0
select @vl_ipi_devido   = 0
select @vl_ipi_a_recolher  = 0
select @pc_ii_normal   = 0
select @pc_ii_acordo   = 0
select @pc_ii_reduzida   = 0
select @pc_ii_reducao   = 0
select @pc_ipi_normal   = 0
select @pc_ipi_reduzida   = 0
select @pc_antidump   = 0
select @pc_icms    = 0
select @pc_reducao_icms   = 0
select @pc_antidump   = 0
select @vl_antidump   = 0
select @vl_antidump_devido  = 0
select @vl_antidump_a_recolher  = 0
select @vl_icms_devido   = 0
select @vl_icms_a_recolher  = 0
select @pc_icms_ad   = 0
select @pc_reducao_icms_ad  = 0
select @vl_ii_total   = 0
select @vl_ipi_total   = 0
select @vl_antidump_total  = 0
select @vl_icms_total   = 0
--  Traz os valores da capa da DI para variaveis de trabalho
SELECT @nr_declaracao_imp = NR_DECLARACAO_IMP, 
 @in_ratear_frete = ISNULL( IN_RATEAR_FRETE_ITENS, 0 ),
 @in_ratear_seguro = ISNULL( IN_RATEAR_SEGURO_ITENS, 0 ),
 @vl_frete_tot_mn = ISNULL( VL_TOTAL_FRETE_MN, 0 ),
 @vl_frete_prepaid_mneg = ISNULL( VL_TOT_FRT_PREPAID, 0 ),
 @vl_frete_collect_mneg = ISNULL( VL_TOT_FRT_COLLECT, 0 ),
 @vl_frete_ter_nac_mneg = ISNULL( VL_FRETE_TNAC_MNEG, 0 ),
 @vl_seguro_tot_mn = ISNULL( VL_TOTAL_SEG_MN, 0 ),
 @vl_seguro_tot_mneg = ISNULL( VL_TOT_SEGURO_MNEG, 0 ),
 @vl_mle_tot_mn  = ISNULL( VL_TOTAL_MLE_MN, 0 ),
 @vl_mle_tot_mneg = ISNULL( VL_TOT_MLE_MNEG, 0 ),
 @vl_despesa_tot_mn = ISNULL( VL_TOT_DESPS_MN, 0 ),
 @vl_despesa_tot_mneg = ISNULL( VL_TOT_DESPS_MNEG, 0 ),
 @pl_merc_total  = ISNULL( PL_CARGA, 0 ),
 @in_moeda_unica  = ISNULL( IN_MOEDA_UNICA, 0 ),
 @cd_moeda_mle  = CD_MOEDA_MLE,
 @cd_moeda_frete  = CD_MOEDA_FRETE,
 @cd_moeda_seguro = CD_MOEDA_SEGURO,
 @in_REB   = IN_REB,
 @cd_tipo_base_seguro = CD_TIPO_BASE_SEGURO,
 @pc_icms  = ISNULL( PC_ICMS, 0 ),
 @pc_reducao_icms = ISNULL( PC_REDUCAO_ICMS, 0 ),
 @qt_adicoes  = ISNULL( QT_ADICOES, 0 ) ,
 @vl_tx_mneg  = ISNULL( TX_MLE, 0 ),
        @vl_tx_frete  = ISNULL( TX_FRETE, 0 ),
        @vl_tx_seguro  = ISNULL( TX_SEGURO, 0 ),
        @vl_tx_dolar  = ISNULL( TX_DOLAR, 0 )
  FROM TDECLARACAO_IMPORTACAO WHERE (NR_PROCESSO = @nr_processo)
--  Verifica se DI j  foi registrada
--if @nr_declaracao_imp = null or @nr_declaracao_imp = ''
begin
  --  Calcula o valor total do frete levando em considera+ao Prepaid/Collect/Ter_nac
  select @vl_frete_tot_mneg = @vl_frete_prepaid_mneg  + @vl_frete_collect_mneg - @vl_frete_ter_nac_mneg  
  --  Totaliza Acrescimos e Deducoes da DI
  SELECT @vl_tot_acrescimos_mn   = ISNULL( sum( VL_ACRESCIMO_MN ), 0 )
         FROM TACRESCIMO_VALORACAO 
         WHERE (NR_PROCESSO = @nr_processo)
  SELECT @vl_tot_deducoes_mn     = ISNULL( sum( VL_DEDUCAO_MN ), 0 )
         FROM TDEDUCAO_VALORACAO
  WHERE (NR_PROCESSO = @nr_processo) 
  if @in_moeda_unica <> 0 
  begin
    SELECT @vl_tot_acrescimos_mneg = ISNULL( sum( VL_ACRESCIMO_MOEDA ), 0 )
         FROM TACRESCIMO_VALORACAO 
         WHERE (NR_PROCESSO = @nr_processo) AND
               (CD_MD_NEGOC_ACRES = @cd_moeda_mle)
    SELECT @vl_tot_acrescimos_mneg = @vl_tot_acrescimos_mneg + ISNULL( sum( VL_ACRESCIMO_MN / @vl_tx_mneg ), 0 )
         FROM TACRESCIMO_VALORACAO 
         WHERE (NR_PROCESSO = @nr_processo) AND
               (CD_MD_NEGOC_ACRES = @cd_moeda_mle)
    SELECT @vl_tot_deducoes_mneg = ISNULL( sum( VL_DEDUCAO_MNEG ), 0 )
         FROM TDEDUCAO_VALORACAO   
  WHERE (NR_PROCESSO = @nr_processo) AND
               (CD_MD_NEGOC_DEDUC = @cd_moeda_mle)
    SELECT @vl_tot_deducoes_mneg = @vl_tot_deducoes_mneg + ISNULL( sum( VL_DEDUCAO_MN / @vl_tx_mneg ), 0 )
         FROM TDEDUCAO_VALORACAO   
         WHERE (NR_PROCESSO = @nr_processo) AND
               (CD_MD_NEGOC_DEDUC = @cd_moeda_mle)
  end
  --  Soma Acrescimoes e Subtrai Deducoes do VMLE
  select @vl_mle_tot_mn_puro    = @vl_mle_tot_mn
  select @vl_mle_tot_mneg_puro  = @vl_mle_tot_mneg
  select @vl_mle_tot_mn_ajust   = @vl_mle_tot_mn   + @vl_tot_acrescimos_mn - @vl_tot_deducoes_mn 
  select @vl_mle_tot_mneg_ajust = @vl_mle_tot_mneg + @vl_tot_acrescimos_mneg - @vl_tot_deducoes_mneg 
  --  Posicionar nas Adicoes
  select @vl_soma_mle_mn = 0
  select @vl_soma_despesa_mneg  = 0
  select @vl_soma_frete_mneg    = 0
  select @vl_soma_seguro_mneg   = 0
  select @vl_soma_despesa_mn    = 0
  select @vl_soma_frete_mn      = 0
  select @vl_soma_seguro_mn     = 0
  select @i_adicao = 1
  while @i_adicao <= @qt_adicoes
  begin
    --  Converte o Numero da Adicoes para uma string no formato 999
    select @nr_adicao = Convert( char(3), @i_adicao )
    select @nr_adicao = right( ( '000' + rtrim( @nr_adicao ) ), 3 )
    --  Verifica se a adicao solicitada para calculo existe
    if (SELECT count(*) FROM TADICAO_DE_IMPORTACAO 
                        WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) ) > 0
    begin
      SELECT @Incoterm   = CD_INCOTERMS_VENDA,
      @cd_moeda_negoc_ad  = CD_MOEDA_NEGOCIADA,
      @cd_reg_trib_ii  = CD_REGIME_TRIBUTAR,
      @cd_tipo_acordo_tar = CD_TIPO_ACORDO_TAR,
      @in_ipi_nao_tributavel = IN_IPI_NAO_TRIBUT,
      @pc_icms_ad  = ISNULL( PC_ICMS, 0 ),
      @pc_reducao_icms_ad = ISNULL( PC_REDUCAO_ICMS, 0 ),
      @vl_tx_mneg  = ISNULL( TX_MLE, 0 ),
      @pc_icms_ad  = PC_ICMS,
      @pc_reducao_icms_ad = PC_REDUCAO_ICMS,
      @vl_icms_devido   = VL_ICMS_CALCULADO,
      @vl_icms_a_recolher = VL_ICMS_A_RECOLHER 
         FROM TADICAO_DE_IMPORTACAO 
        WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
      --  Totaliza Quantidades e Valores dos Itens
      SELECT @pl_merc_ad  = ISNULL( sum( PL_MERCADORIA ),    0 ),
             @qt_merc_un_estat_ad = ISNULL( sum( QT_MERC_UN_ESTAT ), 0 ),
             @vl_mle_mneg  = ISNULL( sum( VL_MLE_ITEM ),      0 ) 
        FROM TDETALHE_MERCADORIA
             WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
      select @vl_mle_mneg = Round( @vl_mle_mneg, 7 )
      SELECT @vl_ii_normal = VL_CALC_IPT_ADVAL,
      @vl_ii_acordo = VL_CALC_II_AC_TARI,
      @vl_ii_devido = VL_IMPOSTO_DEVIDO,
      @vl_ii_a_recolher = VL_IPT_A_RECOLHER,
      @vl_base_calc_ii = vl_base_calc_adval
        FROM TRIBUTO
 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0001') 
      SELECT @vl_calc_aliq_especif  = VL_CALC_IPT_ESPEC,
      @vl_ipi_normal  = VL_CALC_IPT_ADVAL,
      @vl_ipi_devido  = VL_IMPOSTO_DEVIDO,
      @vl_ipi_a_recolher  = VL_IPT_A_RECOLHER,
      @vl_base_calc_ipi  = vl_base_calc_adval
        FROM TRIBUTO
 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0002') 
      SELECT @vl_antidump = VL_IMPOSTO_DEVIDO, 
      @vl_antidump = VL_IPT_A_RECOLHER
         FROM TRIBUTO
 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (CD_RECEITA_IMPOSTO = '0003') 
      --  Converte o total mle para moeda nacional
      if @i_adicao = @qt_adicoes
        select @vl_mle_mn = @vl_mle_tot_mn - @vl_soma_mle_mn 
      else
        select @vl_mle_mn = round( @vl_mle_mneg * @vl_tx_mneg , 2 ) 
      select @vl_soma_mle_mn = @vl_soma_mle_mn + @vl_mle_mn
      --  Totaliza Acrescimos e Deducoes a nivel de Adicao
      SELECT @vl_acrescimos_mn   = ISNULL( sum( VL_ACRESCIMO_MN ), 0 ),
             @vl_acrescimos_mneg = ISNULL( sum( VL_ACRESCIMO_MOEDA ), 0 )
             FROM TACRESCIMO_VALORACAO 
             WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
      SELECT @vl_deducoes_mn     = ISNULL( sum( VL_DEDUCAO_MN ), 0 ),
             @vl_deducoes_mneg   = ISNULL( sum( VL_DEDUCAO_MNEG ), 0 )
             FROM TDEDUCAO_VALORACAO
             WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
      --  Desconta Acrescimoes e Deducoes
      select @vl_mle_mneg_puro  = @vl_mle_mneg
      select @vl_mle_mn_puro    = @vl_mle_mn
      select @vl_mle_mneg_ajust = @vl_mle_mneg + @vl_acrescimos_mneg - @vl_deducoes_mneg
      select @vl_mle_mn_ajust   = @vl_mle_mn   + @vl_acrescimos_mn   - @vl_deducoes_mn
      --  Rateio em Real
      if @i_adicao = @qt_adicoes
         select @vl_despesa_mn = @vl_despesa_tot_mn - @vl_soma_despesa_mn
      else
         if @vl_mle_tot_mn_puro > 0
            select @vl_despesa_mn = round( ( @vl_despesa_tot_mn * @vl_mle_mn_puro / @vl_mle_tot_mn_puro ), 2 ) 
         else
            select @vl_despesa_mn =0
      select @vl_soma_despesa_mn = @vl_soma_despesa_mn + @vl_despesa_mn
      if @i_adicao = @qt_adicoes
         select @vl_frete_mn = @vl_frete_tot_mn - @vl_soma_frete_mn 
      else
         if @pl_merc_total > 0
            select @vl_frete_mn = round( ( @vl_frete_tot_mn * @pl_merc_ad / @pl_merc_total ), 2 )
         else 
            select @vl_frete_mn = 0
      select @vl_soma_frete_mn = @vl_soma_frete_mn + @vl_frete_mn
      if @i_adicao = @qt_adicoes
         select @vl_seguro_mn = @vl_seguro_tot_mn - @vl_soma_seguro_mn 
      else
         if ( @vl_mle_tot_mn_ajust + @vl_despesa_tot_mn ) > 0
            select @vl_seguro_mn = round( ( @vl_seguro_tot_mn * 
                   ( @vl_mle_mn_ajust + @vl_despesa_mn ) /
                   ( @vl_mle_tot_mn_ajust + @vl_despesa_tot_mn ) ), 2 )  
         else
            select @vl_seguro_mn = 0
      select @vl_soma_seguro_mn = @vl_soma_seguro_mn + @vl_seguro_mn    
      --  Rateio na Moeda
      if @i_adicao = @qt_adicoes
         select @vl_frete_mneg = @vl_frete_tot_mneg - @vl_soma_frete_mneg 
      else
         if @pl_merc_total > 0
            select @vl_frete_mneg = round( ( @vl_frete_tot_mneg * @pl_merc_ad / @pl_merc_total ), 2 )
         else 
            select @vl_frete_mneg = 0
      select @vl_soma_frete_mneg = @vl_soma_frete_mneg + @vl_frete_mneg
      if @in_moeda_unica <> 0 
      begin
        if @i_adicao = @qt_adicoes
          select @vl_despesa_mneg = @vl_despesa_tot_mneg - @vl_soma_despesa_mneg
        else
           if @vl_mle_tot_mneg_puro > 0
              select @vl_despesa_mneg = round( ( @vl_despesa_tot_mneg * @vl_mle_mneg_puro / @vl_mle_tot_mneg_puro ), 2 ) 
           else
              select @vl_despesa_mneg =0
        select @vl_soma_despesa_mneg = @vl_soma_despesa_mneg + @vl_despesa_mneg
        if @i_adicao = @qt_adicoes
           select @vl_seguro_mneg = @vl_seguro_tot_mneg - @vl_soma_seguro_mneg 
        else
           if ( @vl_mle_tot_mneg_ajust + @vl_despesa_tot_mneg ) > 0
              select @vl_seguro_mneg = round( ( @vl_seguro_tot_mneg * 
                     ( @vl_mle_mneg_ajust + @vl_despesa_mneg ) / 
                     ( @vl_mle_tot_mneg_ajust + @vl_despesa_tot_mneg ) ), 2 )  
           else
              select @vl_seguro_mneg = 0
        select @vl_soma_seguro_mneg = @vl_soma_seguro_mneg + @vl_seguro_mneg    
      end
      else
      begin
        select @vl_despesa_mneg = round( @vl_despesa_mn / @vl_tx_mneg, 2 )
        if @i_adicao = @qt_adicoes
           select @vl_seguro_mneg = @vl_seguro_tot_mneg - @vl_soma_seguro_mneg 
        else
           if ( @vl_mle_tot_mn_ajust + @vl_despesa_tot_mn ) > 0
              select @vl_seguro_mneg = round( ( @vl_seguro_tot_mneg * 
                     ( @vl_mle_mn_ajust + @vl_despesa_mn ) / 
                     ( @vl_mle_tot_mn_ajust + @vl_despesa_tot_mn ) ), 2 )  
           else
              select @vl_seguro_mneg = 0
        select @vl_soma_seguro_mneg = @vl_soma_seguro_mneg + @vl_seguro_mneg    
      end
      --  Adiciona ao VMLE as Despesas
      select @vl_mle_mneg_puro_a= @vl_mle_mneg
      select @vl_mle_mn_puro_a = @vl_mle_mn
      select @vl_mle_mneg       = @vl_mle_mneg       + @vl_despesa_mneg
      select @vl_mle_mn         = @vl_mle_mn         + @vl_despesa_mn
      select @vl_mle_mneg_ajust = @vl_mle_mneg_ajust + @vl_despesa_mneg
      select @vl_mle_mn_ajust   = @vl_mle_mn_ajust   + @vl_despesa_mn
      --  Ajusta Valores quando moeda do frete ou do seguro diferente a da MLE
      if @vl_tx_mneg <> @vl_tx_frete 
         select @vl_frete_mneg_ajust = Round ( ( @vl_frete_mneg * @vl_tx_frete / @vl_tx_mneg )  , 2 )
      else
         select @vl_frete_mneg_ajust = @vl_frete_mneg
      if @vl_tx_mneg <> @vl_tx_seguro 
         select @vl_seguro_mneg_ajust = Round ( ( @vl_seguro_mneg * @vl_tx_seguro / @vl_tx_mneg )  , 2 )
      else
         select @vl_seguro_mneg_ajust = @vl_seguro_mneg
      --  Apura o Valor da Mercadoria na Condicao da Venda
      select @vl_mcv_mneg = 
      case @Incoterm
        when 'FOB' then @vl_mle_mneg
        when 'FCA' then @vl_mle_mneg 
        when 'FAS' then @vl_mle_mneg 
        when 'EXW' then @vl_mle_mneg 
        when 'DDU' then @vl_mle_mneg + @vl_seguro_mneg_ajust
        when 'CFR' then @vl_mle_mneg + @vl_frete_mneg_ajust 
        when 'CPT' then @vl_mle_mneg + @vl_frete_mneg_ajust 
        when 'CIF' then @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
        when 'DAF' then @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
        when 'DES' then @vl_mle_mneg 
        when 'CIP' then @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
        else 0
      end
      select @vl_mcv_mn = 
      case @Incoterm
        when 'FOB' then @vl_mle_mn
        when 'FCA' then @vl_mle_mn 
        when 'FAS' then @vl_mle_mn 
        when 'EXW' then @vl_mle_mn
        when 'DDU' then @vl_mle_mn + @vl_seguro_mn
        when 'CFR' then @vl_mle_mn + @vl_frete_mn
        when 'CPT' then @vl_mle_mn + @vl_frete_mn
        when 'CIF' then @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
        when 'DAF' then @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
        when 'DES' then @vl_mle_mn 
        when 'CIP' then @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
        else 0
      end
      --  Formacao da base de calculo - I.I.
      select @vl_base_calc_ii = 
      case @Incoterm 
        when 'FOB' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'FCA' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'FAS' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'EXW' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'DDU' then @vl_mle_mn_ajust + @vl_seguro_mn
        when 'CFR' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'CPT' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'CIF' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'DAF' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'DES' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        when 'CIP' then @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
        else 0
      end
      --  Gera o valor do item na Condicao da venda
      SELECT @qt_itens = count(*) from TDETALHE_MERCADORIA
 WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) 
      select @i_itens  = 1
      -- Abre um cursor para tratamento "Linha a Linha"
      declare c_item cursor for select nr_item, pl_mercadoria, vl_mle_item, qt_merc_un_comerc from tdetalhe_mercadoria where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
      open c_item
      fetch c_item into @nr_item, @pl_merc_item_read, @vl_mle_item_read, @qt_merc_un_comerc_read 
      select @vl_acrescimos_i_mn = 0
      select @vl_acrescimos_i_mneg = 0
      select @vl_deducoes_i_mn  = 0
      select @vl_deducoes_i_mneg = 0
      select @vl_despesa_item_mn = 0
      select @vl_despesa_item_mneg = 0
      select @vl_frete_item_mneg = 0
      select @vl_frete_item_mn  = 0
      select @vl_seguro_item_mneg = 0
      select @vl_seguro_item_mn  = 0
      select @vl_ii_item  = 0
      select @vl_ipi_item  = 0
      select @vl_ad_item  = 0
      select @vl_icms_item  = 0
      select @vl_tot_acrescimos_i_mneg = 0
      select @vl_tot_acrescimos_i_mn = 0
      select @vl_tot_deducoes_i_mneg = 0
      select @vl_tot_deducoes_i_mn = 0
      select @vl_soma_mle_i_mn  = 0
      select @vl_soma_despesa_i_mneg = 0
      select @vl_soma_despesa_i_mn = 0
      select @vl_soma_frete_i_mneg = 0
      select @vl_soma_frete_i_mneg_aj = 0
      select @vl_soma_frete_i_mn = 0
      select @vl_soma_seguro_i_mneg = 0
      select @vl_soma_seguro_i_mneg_aj = 0
      select @vl_soma_seguro_i_mn = 0
      select @vl_soma_ii_item  = 0
      select @vl_soma_ipi_item  = 0
      select @vl_soma_ad_item  = 0
      select @vl_soma_icms_item  = 0
      select @vl_soma_mcv_item  = 0
      select @vl_soma_mcv_item_mn = 0
      while @@fetch_status <> -1
      begin
   
 select @pl_merc_item  = @pl_merc_item_read
 select @vl_mle_item_mneg = @vl_mle_item_read
 select @qt_merc_un_comerc = @qt_merc_un_comerc_read
 -- Rateio VMLE MN
 if @i_itens = @qt_itens
          select @vl_mle_item_mn = @vl_mle_mn_puro_a - @vl_soma_mle_i_mn 
        else
   select @vl_mle_item_mn = Round ((@vl_mle_item_mneg * @vl_tx_mneg), 2)
        select @vl_soma_mle_i_mn = @vl_soma_mle_i_mn + @vl_mle_item_mn
 -- Rateio Acrescimo MNEG
 if @i_itens = @qt_itens
    select @vl_acrescimos_i_mneg = @vl_acrescimos_mneg - @vl_tot_acrescimos_i_mneg
 else
    if @vl_mle_mneg_puro > 0
       select @vl_acrescimos_i_mneg = round( ( @vl_acrescimos_mneg * @vl_mle_item_mneg / @vl_mle_mneg_puro ), 2 ) 
    else
       select @vl_acrescimos_i_mneg = 0
 select @vl_tot_acrescimos_i_mneg= @vl_tot_acrescimos_i_mneg + @vl_acrescimos_i_mneg 
 -- Rateio Acrescimo MN
 if @i_itens = @qt_itens
    select @vl_acrescimos_i_mn = @vl_acrescimos_mn - @vl_tot_acrescimos_i_mn
 else
    if @vl_mle_mneg_puro > 0
       select @vl_acrescimos_i_mn = round( ( @vl_acrescimos_mn * @vl_mle_item_mn / @vl_mle_mn_puro ), 2 ) 
    else
       select @vl_acrescimos_i_mn = 0
 select @vl_tot_acrescimos_i_mn= @vl_tot_acrescimos_i_mn + @vl_acrescimos_i_mn 
 -- Rateio Deducao MNEG
 if @i_itens = @qt_itens
    select @vl_deducoes_i_mneg = @vl_deducoes_mneg - @vl_tot_deducoes_i_mneg
 else
    if @vl_mle_mneg_puro > 0
       select @vl_deducoes_i_mneg = round( ( @vl_deducoes_mneg * @vl_mle_item_mneg / @vl_mle_mneg_puro ), 2 ) 
    else
       select @vl_deducoes_i_mneg = 0
 select @vl_tot_deducoes_i_mneg = @vl_tot_deducoes_i_mneg + @vl_deducoes_i_mneg 
 -- Rateio Deducao MN
 if @i_itens = @qt_itens
    select @vl_deducoes_i_mn = @vl_deducoes_mn - @vl_tot_deducoes_i_mn
 else
    if @vl_mle_mneg_puro > 0
       select @vl_deducoes_i_mn = round( ( @vl_deducoes_mn * @vl_mle_item_mn / @vl_mle_mn_puro ), 2 ) 
    else
       select @vl_deducoes_i_mn = 0
 select @vl_tot_deducoes_i_mn = @vl_tot_deducoes_i_mn + @vl_deducoes_i_mn 
 -- Rateio Despesa MNEG
 if @i_itens = @qt_itens
    select @vl_despesa_item_mneg = @vl_despesa_mneg - @vl_soma_despesa_i_mneg
 else
    if @vl_mle_mneg_puro > 0
       select @vl_despesa_item_mneg = round( ( @vl_despesa_mneg * @vl_mle_item_mneg / @vl_mle_mneg_puro ), 2 ) 
    else
       select @vl_despesa_item_mneg = 0
 select @vl_soma_despesa_i_mneg = @vl_soma_despesa_i_mneg + @vl_despesa_item_mneg
 -- Rateio Despesa MN
 if @i_itens = @qt_itens
    select @vl_despesa_item_mn = @vl_despesa_mn - @vl_soma_despesa_i_mn
 else
    if @vl_mle_mneg_puro > 0
       select @vl_despesa_item_mn = round( ( @vl_despesa_mn * @vl_mle_item_mn / @vl_mle_mn_puro ), 2 ) 
    else
       select @vl_despesa_item_mn = 0
 select @vl_soma_despesa_i_mn = @vl_soma_despesa_i_mn + @vl_despesa_item_mn
 -- Rateio Frete MNEG
 if @i_itens = @qt_itens
    select @vl_frete_item_mneg  = @vl_frete_mneg - @vl_soma_frete_i_mneg
 else
    if @pl_merc_ad > 0
       select @vl_frete_item_mneg = round( ( @vl_frete_mneg * @pl_merc_item / @pl_merc_ad ), 2 ) 
    else
       select @vl_frete_item_mneg = 0
 select @vl_soma_frete_i_mneg = @vl_soma_frete_i_mneg + @vl_frete_item_mneg
 -- Rateio Frete MNEG Ajust
 if @i_itens = @qt_itens
    select @vl_frete_item_mneg_aj = @vl_frete_mneg_ajust - @vl_soma_frete_i_mneg_aj
 else
    if @pl_merc_ad > 0
       select @vl_frete_item_mneg_aj = round( ( @vl_frete_mneg_ajust * @pl_merc_item / @pl_merc_ad ), 2 ) 
    else
       select @vl_frete_item_mneg_aj = 0
 select @vl_soma_frete_i_mneg_aj = @vl_soma_frete_i_mneg_aj + @vl_frete_item_mneg_aj 
 -- Rateio Frete MN
 if @i_itens = @qt_itens
    select @vl_frete_item_mn  = @vl_frete_mn - @vl_soma_frete_i_mn
 else
    if @pl_merc_ad > 0
       select @vl_frete_item_mn = round( ( @vl_frete_mn * @pl_merc_item / @pl_merc_ad ), 2 ) 
    else
       select @vl_frete_item_mn = 0
 select @vl_soma_frete_i_mn = @vl_soma_frete_i_mn + @vl_frete_item_mn
 -- Rateio Seguro MNEG
 if @i_itens = @qt_itens
    select @vl_seguro_item_mneg = @vl_seguro_mneg - @vl_soma_seguro_i_mneg 
 else
    if ( @vl_mle_mneg_puro + @vl_despesa_mneg ) >0
       select @vl_seguro_item_mneg = round( ( @vl_seguro_mneg * 
              ( @vl_mle_item_mneg + @vl_despesa_item_mneg ) /
              ( @vl_mle_mneg_puro + @vl_despesa_mneg ) ), 2 )  
    else
       select @vl_seguro_item_mneg = 0
 select @vl_soma_seguro_i_mneg = @vl_soma_seguro_i_mneg + @vl_seguro_item_mneg  
 -- Rateio Seguro MNEG Ajust
 if @i_itens = @qt_itens
    select @vl_seguro_item_mneg_aj = @vl_seguro_mneg_ajust - @vl_soma_seguro_i_mneg_aj
 else
    if ( @vl_mle_mneg_puro + @vl_despesa_mneg ) >0
       select @vl_seguro_item_mneg_aj = round( ( @vl_seguro_mneg_ajust * 
              ( @vl_mle_item_mneg + @vl_despesa_item_mneg ) /
              ( @vl_mle_mneg_puro + @vl_despesa_mneg ) ), 2 )  
    else
       select @vl_seguro_item_mneg_aj = 0
 select @vl_soma_seguro_i_mneg_aj= @vl_soma_seguro_i_mneg_aj+ @vl_seguro_item_mneg_aj 
 -- Rateio Seguro MN
 if @i_itens = @qt_itens
    select @vl_seguro_item_mn = @vl_seguro_mn - @vl_soma_seguro_i_mn 
 else
    if (@vl_mle_mn_puro + @vl_despesa_mn) >0
       select @vl_seguro_item_mn = round( ( @vl_seguro_mn * 
              ( @vl_mle_item_mn + @vl_despesa_item_mn ) /
              ( @vl_mle_mn_puro + @vl_despesa_mn ) ), 2 )  
    else
       select @vl_seguro_item_mn = 0
 select @vl_soma_seguro_i_mn = @vl_soma_seguro_i_mn + @vl_seguro_item_mn
 --  Base Calculo II Item
 select @vl_base_calc_ii_item = @vl_acrescimos_i_mn - @vl_deducoes_i_mn +
 case @Incoterm 
   when 'FOB' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'FCA' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'FAS' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'EXW' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'DDU' then @vl_mle_item_mn + @vl_seguro_item_mn
   when 'CFR' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'CPT' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'CIF' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'DAF' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'DES' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   when 'CIP' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
   else 0
 end
 --  Rateio do II
 if @i_itens = @qt_itens
    select @vl_ii_item  = @vl_ii_a_recolher - @vl_soma_ii_item 
 else
    if @vl_base_calc_ii > 0
       select @vl_ii_item  = round( ( @vl_ii_a_recolher * @vl_base_calc_ii_item / @vl_base_calc_ii ), 2 ) 
    else
       select @vl_ii_item  = 0
 select @vl_soma_ii_item = @vl_soma_ii_item + @vl_ii_item  
 --  Rateio do IPI
 if @i_itens = @qt_itens
    select @vl_ipi_item  = @vl_ipi_a_recolher - @vl_soma_ipi_item 
 else
    if ( @vl_base_calc_ii + @vl_ii_a_recolher ) > 0
       select @vl_ipi_item  = round( ( @vl_ipi_a_recolher * 
         ( @vl_base_calc_ii_item + @vl_ii_item ) /
                ( @vl_base_calc_ii + @vl_ii_a_recolher ) ) , 2 ) 
    else
       select @vl_ipi_item  = 0
 select @vl_soma_ipi_item = @vl_soma_ipi_item + @vl_ipi_item  
 --  Rateio do AD
 if @i_itens = @qt_itens
    select @vl_ad_item  = @vl_antidump - @vl_soma_ad_item 
 else
    if ( @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher ) > 0
       select @vl_ad_item  = round( ( @vl_antidump * 
         ( @vl_base_calc_ii_item + @vl_ii_item + @vl_ipi_item ) /
         ( @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher ) ) , 2 ) 
    else
       select @vl_ad_item  = 0
 select @vl_soma_ad_item = @vl_soma_ad_item + @vl_ad_item  
 --  Rateio do ICMS
 if @i_itens = @qt_itens
    select @vl_icms_item  = @vl_icms_a_recolher - @vl_soma_icms_item 
 else
    if ( @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher ) > 0
       select @vl_icms_item  = round( ( @vl_icms_a_recolher * 
         ( @vl_base_calc_ii_item + @vl_ii_item + @vl_ipi_item ) /
         ( @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher ) ) , 2 ) 
    else
       select @vl_icms_item  = 0
        select @vl_soma_icms_item = @vl_soma_icms_item + @vl_icms_item  
 --  Apura o valor da mercadoria na condicao da venda MNEG
 if @i_itens = @qt_itens
    begin
      select @vl_mcv_item = @vl_mcv_mneg - @vl_soma_mcv_item 
    end
 else
    begin  
      select @vl_mcv_item = @vl_despesa_item_mneg +
        case @Incoterm
      when 'FOB' then @vl_mle_item_mneg 
      when 'FCA' then @vl_mle_item_mneg 
      when 'FAS' then @vl_mle_item_mneg
      when 'EXW' then @vl_mle_item_mneg
      when 'DDU' then @vl_mle_item_mneg + @vl_seguro_item_mneg_aj
      when 'CFR' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj 
      when 'CPT' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj 
      when 'CIF' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj + @vl_seguro_item_mneg_aj
      when 'DAF' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj + @vl_seguro_item_mneg_aj
      when 'DES' then @vl_mle_item_mneg 
      when 'CIP' then @vl_mle_item_mneg + @vl_frete_item_mneg_aj + @vl_seguro_item_mneg_aj
      else 0
        end
      select @vl_mcv_item = Round( @vl_mcv_item, 2 ) 
      select @vl_soma_mcv_item = @vl_soma_mcv_item + @vl_mcv_item   
    end
 if @qt_merc_un_comerc <> 0
    select @vl_ucv = Round( ( @vl_mcv_item / @qt_merc_un_comerc ), 7 )
 else
    select @vl_ucv = 0
 --  Apura o valor da mercadoria na condicao da venda MN
 if @i_itens = @qt_itens
    begin
      select @vl_mcv_item_mn = @vl_mcv_mn - @vl_soma_mcv_item_mn 
    end
 else
    begin  
      select @vl_mcv_item_mn = @vl_despesa_item_mn +
        case @Incoterm
      when 'FOB' then @vl_mle_item_mn
      when 'FCA' then @vl_mle_item_mn 
      when 'FAS' then @vl_mle_item_mn
      when 'EXW' then @vl_mle_item_mn
      when 'DDU' then @vl_mle_item_mn + @vl_seguro_item_mn
      when 'CFR' then @vl_mle_item_mn + @vl_frete_item_mn 
      when 'CPT' then @vl_mle_item_mn + @vl_frete_item_mn 
      when 'CIF' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
      when 'DAF' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
      when 'DES' then @vl_mle_item_mn 
      when 'CIP' then @vl_mle_item_mn + @vl_frete_item_mn + @vl_seguro_item_mn
      else 0
         end
      select @vl_mcv_item_mn = Round( @vl_mcv_item_mn, 2 ) 
      select @vl_soma_mcv_item_mn = @vl_soma_mcv_item_mn + @vl_mcv_item_mn
    end
 if @qt_merc_un_comerc <> 0
    select @vl_ucv_mn = Round( ( @vl_mcv_item_mn / @qt_merc_un_comerc ), 7 )
 else
    select @vl_ucv_mn = 0
 UPDATE TDETALHE_MERCADORIA 
   SET VL_UNID_COND_VENDA = @vl_ucv,
  VL_MCV_ITEM  = @vl_mcv_item, 
  VL_FRETE_ITEM  = @vl_frete_item_mneg, 
  VL_SEGURO_ITEM  = @vl_seguro_item_mneg,
  VL_MLE_ITEM_MN  = @vl_mle_item_mn,
  VL_FRETE_ITEM_MN = @vl_frete_item_mn,
  VL_SEGURO_ITEM_MN = @vl_seguro_item_mn,
  VL_MCV_ITEM_MN  = @vl_mcv_item_mn,
  VL_UNID_COND_VENDA_MN = @vl_ucv_mn, 
  VL_ACRESCIMO_ITEM = @vl_acrescimos_i_mneg,
  VL_DEDUCAO_ITEM  = @vl_deducoes_i_mneg,
  VL_ACRESCIMO_ITEM_MN = @vl_acrescimos_i_mn,
  VL_DEDUCAO_ITEM_MN = @vl_deducoes_i_mn,
  VL_DESPESA_ITEM  = @vl_despesa_item_mneg,
  VL_DESPESA_ITEM_MN = @vl_despesa_item_mn,
  VL_II_ITEM  = @vl_ii_item,
  VL_IPI_ITEM  = @vl_ipi_item,
  VL_AD_ITEM  = @vl_ad_item,
  VL_ICMS_ITEM  = @vl_icms_item 
   WHERE (NR_PROCESSO = @nr_processo) and (NR_ADICAO = @nr_adicao) and (NR_ITEM = @nr_item)
        select @i_itens = @i_itens + 1
        fetch c_item into @nr_item, @pl_merc_item_read, @vl_mle_item_read, @qt_merc_un_comerc_read 
      end
      close c_item
      deallocate c_item
    end
    select @i_adicao = @i_adicao + 1    
  end
end



GO
