USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
SET XACT_ABORT ON
BEGIN TRAN
--*/

--/*
CREATE PROCEDURE [sp_duplica_param_cli] ( @cd_cliente_fonte char(5), @cd_cliente_destino char(5), @cd_unid_neg char(2), 
     @cd_produto char(2), @cd_servico char(3), @CD_SERVICO_FONTE char(3) , @in_num bit, @in_fat bit, @in_item bit, @in_repres bit ) AS
--*/

/*
DECLARE @cd_cliente_fonte   char(5)
DECLARE @cd_cliente_destino char(5)
DECLARE @cd_unid_neg        char(2)
DECLARE @cd_produto         char(2)
DECLARE @cd_servico         char(3)
DECLARE @in_num             bit
DECLARE @in_fat             bit
DECLARE @in_item            bit
DECLARE @in_repres          bit

SELECT @cd_cliente_fonte   = '00150'
SELECT @cd_cliente_destino = '00105'
SELECT @cd_unid_neg        = '01'
SELECT @cd_produto         = '01'
SELECT @cd_servico         = '048'
SELECT @in_num             = 0
SELECT @in_fat             = 0
SELECT @in_item            = 0
SELECT @in_repres          = 1

--*/

INSERT INTO TRECEITAS_IMP
   SELECT @cd_cliente_destino, @cd_unid_neg, @cd_produto, @cd_servico, CD_ITEM, CD_REGIME_TRIB, TP_DT_BASE, VL_NUM_TAXA,
          VL_DEN_TAXA, TP_BASE_CALC_TAXA, CD_MOEDA_TAXA, VL_NUM_ACR, VL_DEN_ACR, TP_BASE_CALC_ACR, CD_MOEDA_ACR, 
          VL_NUM_FORA_REGIAO, VL_DEN_FORA_REGIAO, TP_BASE_CALC_FORA_REGIAO, CD_MOEDA_FORA_REGIAO, VL_NUM_MIN,
          VL_DEN_MIN, TP_BASE_CALC_MIN, CD_MOEDA_MIN, VL_NUM_MAX, VL_DEN_MAX, TP_BASE_CALC_MAX, CD_MOEDA_MAX, IN_ATIVO
   FROM   TRECEITAS_IMP
   WHERE  CD_CLIENTE = @cd_cliente_fonte AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND CD_SERVICO = @cd_servico AND
          ( @cd_cliente_destino + @cd_unid_neg + @cd_produto + @cd_servico + CD_ITEM + CD_REGIME_TRIB ) NOT IN 
          ( SELECT CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + CD_ITEM + CD_REGIME_TRIB
            FROM   TRECEITAS_IMP )
UPDATE A
SET   A.TP_DT_BASE    = B.TP_DT_BASE,
      A.VL_NUM_TAXA   = B.VL_NUM_TAXA,
      A.VL_DEN_TAXA   = B.VL_DEN_TAXA, 
      A.TP_BASE_CALC_TAXA  = B.TP_BASE_CALC_TAXA, 
      A.CD_MOEDA_TAXA   = B.CD_MOEDA_TAXA, 
      A.VL_NUM_ACR   = B.VL_NUM_ACR, 
      A.VL_DEN_ACR   = B.VL_DEN_ACR, 
      A.TP_BASE_CALC_ACR  = B.TP_BASE_CALC_ACR, 
      A.CD_MOEDA_ACR   = B.CD_MOEDA_ACR,
      A.VL_NUM_FORA_REGIAO  = B.VL_NUM_FORA_REGIAO, 
      A.VL_DEN_FORA_REGIAO  = B.VL_DEN_FORA_REGIAO,
      A.TP_BASE_CALC_FORA_REGIAO = B.TP_BASE_CALC_FORA_REGIAO, 
      A.CD_MOEDA_FORA_REGIAO  = B.CD_MOEDA_FORA_REGIAO, 
      A.VL_NUM_MIN   = B.VL_NUM_MIN,
      A.VL_DEN_MIN   = B.VL_DEN_MIN, 
      A.TP_BASE_CALC_MIN  = B.TP_BASE_CALC_MIN, 
      A.CD_MOEDA_MIN   = B.CD_MOEDA_MIN, 
      A.VL_NUM_MAX   = B.VL_NUM_MAX, 
      A.VL_DEN_MAX   = B.VL_DEN_MAX, 
      A.TP_BASE_CALC_MAX  = B.TP_BASE_CALC_MAX, 
      A.CD_MOEDA_MAX   = B.CD_MOEDA_MAX, 
      A.IN_ATIVO   = B.IN_ATIVO
FROM  TRECEITAS_IMP A, 
      TRECEITAS_IMP B 
WHERE A.CD_UNID_NEG       = B.CD_UNID_NEG AND
      A.CD_PRODUTO        = B.CD_PRODUTO  AND
      A.CD_SERVICO        = B.CD_SERVICO  AND
      A.CD_ITEM           = B.CD_ITEM  AND
      A.CD_REGIME_TRIB    = B.CD_REGIME_TRIB AND
      A.CD_CLIENTE        = @cd_cliente_destino AND 
      A.CD_UNID_NEG       = @cd_unid_neg  AND 
      A.CD_PRODUTO        = @cd_produto  AND 
      A.CD_SERVICO        = @cd_servico  AND
      B.CD_CLIENTE        = @cd_cliente_fonte


 INSERT INTO TRECEITAS_EXP
   SELECT @cd_cliente_destino, @cd_unid_neg, @cd_produto, @cd_servico, CD_ITEM, TP_DT_BASE, TP_FAIXA, TP_FAIXA_VALOR,
   VL_NUM_TAXA, VL_DEN_TAXA, TP_BASE_CALC_TAXA, CD_MOEDA_TAXA, VL_NUM_MIN, VL_DEN_MIN, TP_BASE_CALC_MIN,
          CD_MOEDA_MIN, VL_NUM_MAX, VL_DEN_MAX, TP_BASE_CALC_MAX, CD_MOEDA_MAX, PC_REDUC_RE_CANC, IN_ATIVO
   FROM   TRECEITAS_EXP
   WHERE  CD_CLIENTE = @cd_cliente_fonte AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND CD_SERVICO = @cd_servico AND
          ( @cd_cliente_destino + @cd_unid_neg + @cd_produto + @cd_servico + CD_ITEM ) NOT IN 
          ( SELECT CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + CD_ITEM
            FROM   TRECEITAS_EXP )
UPDATE A
SET   A.TP_DT_BASE        = B.TP_DT_BASE,
      A.TP_FAIXA    = B.TP_FAIXA,
      A.TP_FAIXA_VALOR    = B.TP_FAIXA_VALOR,
      A.VL_NUM_TAXA    = B.VL_NUM_TAXA,
      A.VL_DEN_TAXA    = B.VL_DEN_TAXA,
      A.TP_BASE_CALC_TAXA = B.TP_BASE_CALC_TAXA,
      A.CD_MOEDA_TAXA    = B.CD_MOEDA_TAXA,
      A.VL_NUM_MIN    = B.VL_NUM_MIN,
      A.VL_DEN_MIN    = B.VL_DEN_MIN,
      A.TP_BASE_CALC_MIN  = B.TP_BASE_CALC_MIN,
      A.CD_MOEDA_MIN    = B.CD_MOEDA_MIN, 
      A.VL_NUM_MAX    = B.VL_NUM_MAX, 
      A.VL_DEN_MAX    = B.VL_DEN_MAX, 
      A.TP_BASE_CALC_MAX  = B.TP_BASE_CALC_MAX, 
      A.CD_MOEDA_MAX    = B.CD_MOEDA_MAX, 
      A.PC_REDUC_RE_CANC  = B.PC_REDUC_RE_CANC, 
      A.IN_ATIVO    = B.IN_ATIVO
FROM  TRECEITAS_EXP A,
      TRECEITAS_EXP B
WHERE A.CD_UNID_NEG       = B.CD_UNID_NEG       AND
      A.CD_PRODUTO        = B.CD_PRODUTO AND
      A.CD_SERVICO        = B.CD_SERVICO        AND
      A.CD_ITEM           = B.CD_ITEM           AND
      A.CD_CLIENTE        = @cd_cliente_destino AND 
      A.CD_UNID_NEG       = @cd_unid_neg  AND 
      A.CD_PRODUTO        = @cd_produto         AND 
      A.CD_SERVICO        = @cd_servico         AND
      B.CD_CLIENTE        = @cd_cliente_fonte


INSERT INTO TRECEITAS_EXP_FAIXA
   SELECT @cd_cliente_destino, @cd_unid_neg, @cd_produto, @cd_servico, CD_ITEM, NR_FAIXA, VL_INICIO_FAIXA,
          VL_FIM_FAIXA, VL_NUM_FAIXA, VL_DEN_FAIXA, TP_BASE_CALC_FAIXA, CD_MOEDA_FAIXA, TP_POR_BASE_CALC 
   FROM   TRECEITAS_EXP_FAIXA
   WHERE  CD_CLIENTE = @cd_cliente_fonte AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND CD_SERVICO = @cd_servico AND
          ( @cd_cliente_destino + @cd_unid_neg + @cd_produto + @cd_servico + CD_ITEM + NR_FAIXA ) NOT IN
          ( SELECT CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + CD_ITEM + NR_FAIXA 
            FROM   TRECEITAS_EXP_FAIXA )
UPDATE A
SET   A.VL_INICIO_FAIXA    = B.VL_INICIO_FAIXA, 
      A.VL_FIM_FAIXA    = B.VL_FIM_FAIXA, 
      A.VL_NUM_FAIXA       = B.VL_NUM_FAIXA, 
      A.VL_DEN_FAIXA    = B.VL_DEN_FAIXA, 
      A.TP_BASE_CALC_FAIXA = B.TP_BASE_CALC_FAIXA, 
      A.CD_MOEDA_FAIXA     = B.CD_MOEDA_FAIXA, 
      A.TP_POR_BASE_CALC   = B.TP_POR_BASE_CALC
FROM  TRECEITAS_EXP_FAIXA A,
      TRECEITAS_EXP_FAIXA B
WHERE A.CD_UNID_NEG     = B.CD_UNID_NEG  AND
      A.CD_PRODUTO      = B.CD_PRODUTO  AND
      A.CD_SERVICO      = B.CD_SERVICO  AND
      A.CD_ITEM         = B.CD_ITEM   AND
      A.NR_FAIXA        = B.NR_FAIXA   AND
      A.CD_CLIENTE         = @cd_cliente_destino AND 
      A.CD_UNID_NEG        = @cd_unid_neg  AND 
      A.CD_PRODUTO         = @cd_produto  AND 
      A.CD_SERVICO         = @cd_servico  AND
      B.CD_CLIENTE         = @cd_cliente_fonte

  
IF @in_num = 1
BEGIN

 INSERT INTO TCLIENTE_NUMERARIO
     SELECT @cd_cliente_destino, @cd_unid_neg, @cd_produto, @cd_servico, NR_SOLICITACAO, CD_ITEM, TP_CALCULO, CD_BANCO, TP_DESTINO
     FROM   TCLIENTE_NUMERARIO
     WHERE  CD_CLIENTE = @cd_cliente_fonte AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND CD_SERVICO = @cd_servico_fonte  AND
            ( @cd_cliente_destino + @cd_unid_neg + @cd_produto + @cd_servico + NR_SOLICITACAO + CD_ITEM ) NOT IN
            ( SELECT CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + NR_SOLICITACAO + CD_ITEM 
              FROM   TCLIENTE_NUMERARIO )
  UPDATE A
  SET   A.TP_CALCULO  = B.TP_CALCULO,
        A.CD_BANCO  = B.CD_BANCO
  FROM  TCLIENTE_NUMERARIO A,
        TCLIENTE_NUMERARIO B
  WHERE A.CD_UNID_NEG    = B.CD_UNID_NEG AND
        A.CD_PRODUTO     = B.CD_PRODUTO  AND
        A.CD_SERVICO     = B.CD_SERVICO  AND
        A.NR_SOLICITACAO = B.NR_SOLICITACAO AND
        A.CD_ITEM        = B.CD_ITEM  AND
        A.CD_CLIENTE     = @cd_cliente_destino AND 
        A.CD_UNID_NEG    = @cd_unid_neg  AND 
        A.CD_PRODUTO     = @cd_produto  AND 
        A.CD_SERVICO     = @cd_servico  AND
        B.CD_CLIENTE     = @cd_cliente_fonte
END



IF @in_fat = 1
BEGIN

  INSERT INTO TCLIENTE_FATURAMENTO
     SELECT @cd_cliente_destino, @cd_unid_neg, @cd_produto, @cd_servico, CD_ITEM, TP_CALCULO
     FROM   TCLIENTE_FATURAMENTO
     WHERE  CD_CLIENTE = @cd_cliente_fonte AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND CD_SERVICO = @cd_servico AND
            ( @cd_cliente_destino + @cd_unid_neg + @cd_produto + @cd_servico + CD_ITEM ) NOT IN
            ( SELECT CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + CD_ITEM
              FROM   TCLIENTE_FATURAMENTO )
  UPDATE A
  SET   A.TP_CALCULO  = B.TP_CALCULO
  FROM  TCLIENTE_FATURAMENTO A,
        TCLIENTE_FATURAMENTO B
  WHERE A.CD_UNID_NEG    = B.CD_UNID_NEG AND
        A.CD_PRODUTO     = B.CD_PRODUTO  AND
        A.CD_SERVICO     = B.CD_SERVICO  AND
        A.CD_ITEM        = B.CD_ITEM  AND
        A.CD_CLIENTE     = @cd_cliente_destino AND 
        A.CD_UNID_NEG    = @cd_unid_neg  AND 
        A.CD_PRODUTO     = @cd_produto  AND 
        A.CD_SERVICO     = @cd_servico  AND
        B.CD_CLIENTE     = @cd_cliente_fonte
END

IF @in_item = 1
BEGIN

 INSERT INTO TCLIENTE_FAT_ITEM_COMPLEMENTAR
     SELECT @cd_cliente_destino, @cd_unid_neg, @cd_produto, @cd_servico, CD_ITEM, IN_ATIVO
     FROM   TCLIENTE_FAT_ITEM_COMPLEMENTAR
     WHERE  CD_CLIENTE = @cd_cliente_fonte AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND CD_SERVICO = @cd_servico AND
            ( @cd_cliente_destino + @cd_unid_neg + @cd_produto + @cd_servico + CD_ITEM ) NOT IN
            ( SELECT CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + CD_ITEM 
              FROM   TCLIENTE_FAT_ITEM_COMPLEMENTAR )

END

IF @in_repres = 1
BEGIN

 INSERT INTO TCLIENTE_REPRESENTANTE
     SELECT @cd_cliente_destino, @cd_unid_neg, @cd_produto, CD_REPRESENTANTE, IN_ATIVO, @cd_servico, IN_DEST_NUM, IN_DEST_FAT, IN_DEST_NF
     FROM   TCLIENTE_REPRESENTANTE
     WHERE  CD_CLIENTE = @cd_cliente_fonte AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND CD_SERVICO = @cd_servico AND
            ( @cd_cliente_destino + @cd_unid_neg + @cd_produto + @cd_servico + CD_REPRESENTANTE ) NOT IN
            ( SELECT CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + CD_REPRESENTANTE 
              FROM   TCLIENTE_REPRESENTANTE )

END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
