USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_da_atz_taxa_cambio    Script Date: 02/09/1999 08:58:10 AM ******/
CREATE PROCEDURE [sp_da_atz_taxa_cambio]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)

SELECT @nr_processo = '0101MA-0636-01'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @tx_mle          numeric(14, 7)
DECLARE @tx_frete        numeric(14, 7)
DECLARE @tx_seguro       numeric(14, 7)
DECLARE @tx_dolar        numeric(14, 7) 
DECLARE @cd_moeda_mle    char(3)
DECLARE @cd_moeda_frete  char(3)
DECLARE @cd_moeda_seguro char(3)
DECLARE @dt_calculo      datetime
DECLARE @nr_ref          varchar(15) 
DECLARE @cd_mercadoria   char(15)

--  Traz os valores das Referências capa da DI para variáveis de trabalho
SELECT @dt_calculo      = DT_CALCULO,
       @cd_moeda_mle    = CD_MOEDA_MLE,
       @cd_moeda_frete  = CD_MOEDA_FRETE,
       @cd_moeda_seguro = CD_MOEDA_SEGURO,
       @tx_mle          = ISNULL( TX_MLE, 0 ),
       @tx_frete        = ISNULL( TX_FRETE, 0 ),
       @tx_seguro       = ISNULL( TX_SEGURO, 0 ),
       @tx_dolar        = ISNULL( TX_DOLAR, 0 )
FROM   TDA
WHERE  NR_PROCESSO = @nr_processo

SELECT @tx_mle = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
FROM   TTAXA_CAMBIO
WHERE  CD_MOEDA = @cd_moeda_mle AND 
       @cd_moeda_mle <> '' AND
       @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

SELECT @tx_frete = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
FROM   TTAXA_CAMBIO
WHERE  CD_MOEDA = @cd_moeda_frete AND 
       @cd_moeda_frete <> '' AND
       @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

SELECT @tx_seguro = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
FROM   TTAXA_CAMBIO
WHERE  CD_MOEDA = @cd_moeda_seguro AND 
       @cd_moeda_seguro <> '' AND
       @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

SELECT @tx_dolar = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
FROM   TTAXA_CAMBIO
WHERE  CD_MOEDA = '220' AND
       @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

UPDATE TDA
SET    TX_MLE    = @tx_mle,
       TX_FRETE  = @tx_frete,
       TX_SEGURO = @tx_seguro,
       TX_DOLAR  = @tx_dolar
WHERE  NR_PROCESSO = @nr_processo

DECLARE c_da CURSOR FOR
  SELECT NR_REF, CD_MERCADORIA
  FROM   TDA_REF
  WHERE  NR_PROCESSO = @nr_processo

OPEN c_da
FETCH c_da INTO @nr_ref, @cd_mercadoria
WHILE @@fetch_status = 0
BEGIN
  SELECT @cd_moeda_mle = CD_MOEDA_MLE,
         @tx_mle    = ISNULL( TX_MLE, 0 ),
         @tx_dolar  = ISNULL( TX_DOLAR, 0 )
  FROM   TDA_REF
  WHERE  NR_PROCESSO   = @nr_processo AND
         NR_REF        = @nr_ref AND
         CD_MERCADORIA = @cd_mercadoria

  SELECT @tx_mle = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
  FROM   TTAXA_CAMBIO
  WHERE  CD_MOEDA = @cd_moeda_mle AND 
         @cd_moeda_mle <> '' AND
         @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

  SELECT @tx_dolar = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
  FROM   TTAXA_CAMBIO
  WHERE  CD_MOEDA = '220' AND
         @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

  UPDATE TDA_REF
  SET    TX_MLE   = @tx_mle,
         TX_DOLAR = @tx_dolar
  WHERE  CURRENT OF c_da

  FETCH c_da INTO @nr_ref, @cd_mercadoria
END

CLOSE c_da
DEALLOCATE c_da


GO
