USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_ordena_priori_item    Script Date: 02/10/1998 12:17:14 ******/

CREATE PROCEDURE [sp_ordena_priori_item]( @cd_unid_neg char(2), @cd_produto char(2), @nr_priori_origem int, @nr_priori_destino int ) AS
/* Se ( Nº da Prioridade Origem ) > ( Nº Prioridade Destino ) então */
IF @nr_priori_origem > @nr_priori_destino
BEGIN
  /* Atualiza com + 1 */
  UPDATE TITEM_PRIORIDADE
  SET    NR_PRIORIDADE =  NR_PRIORIDADE + 1
  WHERE  CD_UNID_NEG   =  @cd_unid_neg AND
         CD_PRODUTO    =  @cd_produto  AND
         NR_PRIORIDADE >= @nr_priori_destino AND
         NR_PRIORIDADE <  @nr_priori_origem
  RETURN(0)
END
/* Senão */
ELSE
BEGIN
  /* Se ( Nº da Prioridade Origem ) < ( Nº Prioridade Destino ) então */
  IF @nr_priori_origem < @nr_priori_destino
  BEGIN
    /* Atualiza com - 1 */
    UPDATE TITEM_PRIORIDADE
    SET    NR_PRIORIDADE =  NR_PRIORIDADE - 1
    WHERE  CD_UNID_NEG   =  @cd_unid_neg AND
           CD_PRODUTO    =  @cd_produto  AND
           NR_PRIORIDADE <= @nr_priori_destino AND
           NR_PRIORIDADE >  @nr_priori_origem
    RETURN(0)
  END
  /* Senão (, igual) */
  ELSE
  BEGIN
    /* A prioridade de destino não pode ser a prioridade de origem */
    RETURN(1)
  END
END

GO
