USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [sp_rel_pagto_pend] @cd_unid_neg char(2),@cd_produto char (2), @cd_grupo char(3),  @cd_cliente char(5), 
			      @cd_grupo_item char(2), @dt_inicio datetime, @dt_fim datetime, @cd_analista_comissaria char(4),
                              @in_pendentes char(1), @in_desemb char(1), @in_faturado char(1), @nr_identificador int OUTPUT AS 

-- inclusão de produto como filtro (a pedido de Wagner Branco - 12/05/2006)
-- inclusão de filtro por processos faturados  - Rodrigo Capra 27/11/2007
/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON 

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @cd_grupo_item char(2)
DECLARE @cd_analista_comissaria char(4)
DECLARE @in_pendentes char(1)
DECLARE @in_desemb char(1)
DECLARE @nr_identificador int
DECLARE @in_faturado char(1)

SELECT @cd_unid_neg = 'X'
SELECT @cd_produto = 'X'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @cd_analista_comissaria = 'X'
SELECT @dt_inicio = CONVERT( datetime, '10/09/2008', 103 )
SELECT @dt_fim = CONVERT( datetime, '10/10/2008', 103 )
SELECT @cd_grupo_item = 'X'
SELECT @in_pendentes = '1'
SELECT @in_desemb = '1'
SELECT @in_faturado = '1'
*/

DECLARE @cd_item_saldo_cre  char(3)
DECLARE @cd_item_saldo_deb  char(3)
DECLARE @cd_item_receb_sd   char(3)
DECLARE @cd_item_pagto_sd   char(3)
DECLARE @cd_item_ext_receb  char(3)
DECLARE @cd_item_ext_pagto  char(3)
DECLARE @cd_item_nao_fat    char(3)
DECLARE @cd_item_pago_cli   char(3)
DECLARE @cd_ev_desemb       char(3)
DECLARE @cd_item_receb_num  char(3)

DECLARE @cd_ev_faturado     char(3) --Rô

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1 FROM   TREL_PAGTO_PEND

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT @cd_item_saldo_cre = CD_ITEM_SALDO_CRE, 
       @cd_item_saldo_deb = CD_ITEM_SALDO_DEB,
       @cd_item_receb_sd = CD_ITEM_RECEB_SD,
       @cd_item_pagto_sd = CD_ITEM_PAGTO_SD,
       @cd_item_ext_receb = CD_ITEM_EXT_RECEB,
       @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO,
       @cd_item_nao_fat = CD_ITEM_NAO_FAT,
       @cd_item_pago_cli = CD_ITEM_PAGO_CLI,
       @cd_ev_desemb = CD_EV_DESEMB,
       @cd_item_receb_num = CD_ITEM_RECEB_NUM, 
       @cd_ev_faturado    = CD_EV_ENVIO_FAT
FROM TPARAMETROS (NOLOCK)

DELETE FROM TREL_ERRO_RESUMO_FAT

-- CONSULTA MODIFICADA PARA SE ADAPTAR A DUAS CONSULTAS, REDUZINDO O TEMPO DE EXECUÇÃO - MICHEL 13/10/2008
-- SELECT 1
SELECT @nr_identificador AS NR_IDENTIFICADOR, F.CD_ITEM, @cd_unid_neg AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, E.CD_EMPRESA CD_CLIENTE, F.CD_BANCO, F.DT_LANCAMENTO DT_PAGTO, ISNULL( F.NR_CHEQUE, 'X' ) AS NR_CHEQUE, 
       CASE IN_RESTITUI 
          WHEN '0' THEN ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 )
          WHEN '1' THEN ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) * ( -1 )
       END VL_LANCAMENTO, 1 INDICE, P.CD_PRODUTO CD_PRODUTO, P.CD_GRUPO CD_GRUPO, F.NR_PROCESSO
INTO   #TMP_VERIFICA1
FROM   TFATURAMENTO_CC F WITH(NOLOCK),
       TPROCESSO P WITH(NOLOCK),
       TEMPRESA_NAC E WITH(NOLOCK),
       TS_FATURA FAT WITH(NOLOCK),
       TITEM I WITH(NOLOCK)
WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       F.CD_UNID_NEG *= FAT.CD_UNID_NEG AND
       F.CD_PRODUTO *= FAT.CD_PRODUTO AND
       F.NR_SOLIC_FAT *= FAT.NR_SOLICITACAO AND
       F.CD_ITEM = I.CD_ITEM AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       ( ( P.CD_ANALISTA_COMISSARIA = @cd_analista_comissaria ) OR ( @cd_analista_comissaria = 'X' ) ) AND
-- A linha abaixo foi alterada para atender a varias unidades - Michel 14/10/2008
       ( (P.CD_UNID_NEG = @cd_unid_neg) OR (@cd_unid_neg = 'X')) AND
       ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
       -- F.DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim AND
       -- F.IN_FATURADO = '0' AND
       ( ( ( F.IN_FATURADO = '0' ) AND ( F.DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim ) ) OR
         ( ( SELECT FAT.DT_FATURA
             FROM   TS_FATURA FAT WITH(NOLOCK)
             WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
                    F.CD_PRODUTO = FAT.CD_PRODUTO AND
                    F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
                    FAT.IN_CANCELADO = '0' ) > @dt_fim ) AND
         ( F.DT_LANCAMENTO /*<=*/ BETWEEN @dt_inicio AND @dt_fim ) AND
         ( @in_pendentes = '0' ) ) AND
       P.IN_CANCELADO = '0' AND
       F.IN_CANCELADO = '0' AND
       I.IN_TRIBUTAVEL = '0' AND
       ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND

       ( ( ( @in_desemb = '1' ) AND
           ( SELECT DES.DT_REALIZACAO
                   FROM   TFOLLOWUP DES WITH(NOLOCK)
                   WHERE  DES.NR_PROCESSO = P.NR_PROCESSO AND
                          DES.CD_EVENTO = @cd_ev_desemb AND
                          DES.IN_APLICAVEL = '1' AND
                          ISNULL( DES.DT_REALIZACAO, 0 ) <> 0 ) IS NOT NULL ) OR
         ( ( @in_desemb = '1' ) AND
           ( SELECT CD_SERVICO
                       FROM   TFOLLOWUP SE WITH(NOLOCK)
                       WHERE  P.NR_PROCESSO = SE.NR_PROCESSO AND
                              SE.CD_EVENTO IN ( @cd_ev_desemb ) ) IS NULL ) OR
         ( @in_desemb = '0' ) ) AND
       F.CD_ITEM NOT IN ( @cd_item_saldo_cre, @cd_item_saldo_deb, @cd_item_receb_sd, @cd_item_pagto_sd,
                          @cd_item_ext_receb, @cd_item_ext_pagto, @cd_item_nao_fat, @cd_item_pago_cli )

AND
--Rodrigo Capra ( filtro para trazer somente os processos já faturados )
( ( ( @in_faturado = '1' ) AND
           ( SELECT DES.DT_REALIZACAO
                   FROM   TFOLLOWUP DES (NOLOCK)
                   WHERE  DES.NR_PROCESSO = P.NR_PROCESSO AND
                          DES.CD_EVENTO = @cd_ev_faturado AND
                          DES.IN_APLICAVEL = '1' AND
                          ISNULL( DES.DT_REALIZACAO, 0 ) <> 0) IS NOT NULL ) or @in_faturado = '0' )


IF ( SELECT COUNT(*)
     FROM #TMP_VERIFICA1
     WHERE CD_ITEM NOT IN ( SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK))) = 0
BEGIN
--INSERT 1
SELECT TMP1.NR_PROCESSO, TMP1.CD_CLIENTE, TMP1.CD_BANCO, TMP1.CD_ITEM, TMP1.DT_PAGTO, TMP1.NR_CHEQUE, 
       VL_LANCAMENTO, INDICE, TMP1.CD_PRODUTO, TMP1.CD_GRUPO
INTO   #TMP_REL_PAGTO_PEND
FROM   #TMP_VERIFICA1 TMP1, TGRUPO_ITEM_ITEM G (NOLOCK)
WHERE  TMP1.CD_ITEM = G.CD_ITEM AND
       ( ( G.CD_GRUPO_ITEM = @cd_grupo_item ) OR ( @cd_grupo_item = 'X' ) ) 


    INSERT TREL_PAGTO_PEND ( NR_IDENTIFICADOR, NR_PROCESSO, CD_CLIENTE, CD_ITEM, DT_PAGTO, CD_BANCO, NR_CHEQUE, VL_LANCAMENTO, INDICE, CD_PRODUTO, CD_GRUPO )
    SELECT @nr_identificador, NR_PROCESSO, CD_CLIENTE, CD_ITEM, DT_PAGTO, MAX( CD_BANCO ), NR_CHEQUE, SUM(  VL_LANCAMENTO ) VL_LANCAMENTO, MAX( INDICE ), CD_PRODUTO, CD_GRUPO
    FROM   #TMP_REL_PAGTO_PEND
    GROUP BY NR_PROCESSO, CD_CLIENTE, CD_ITEM, DT_PAGTO, NR_CHEQUE, CD_PRODUTO, CD_GRUPO
    ORDER BY CD_CLIENTE, NR_PROCESSO, CD_ITEM, NR_CHEQUE
/*
    DELETE FROM TREL_PAGTO_PEND WHERE NR_PROCESSO NOT IN (
      SELECT NR_PROCESSO FROM TREL_PAGTO_PEND
       WHERE CD_ITEM <> @cd_item_receb_num
       GROUP BY NR_PROCESSO)
*/

DROP TABLE #TMP_REL_PAGTO_PEND
END

INSERT TREL_ERRO_RESUMO_FAT ( NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA/*, VL_LANCAMENTO, NR_PROCESSO*/ )
SELECT TMP1.NR_IDENTIFICADOR, TMP1.CD_ITEM, TMP1.CD_UNID_NEG, TMP1.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 
FROM   #TMP_VERIFICA1 TMP1
WHERE TMP1.CD_ITEM NOT IN ( SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK) ) AND
      NOT EXISTS( SELECT *
                  FROM TREL_ERRO_RESUMO_FAT (NOLOCK)
                  WHERE NR_IDENTIFICADOR = TMP1.NR_IDENTIFICADOR AND
                        CD_ITEM = TMP1.CD_ITEM AND
                        CD_UNID_NEG = TMP1.CD_UNID_NEG AND
                        NM_DESPESA = TMP1.NM_DESPESA
                  GROUP BY NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA )
GROUP BY TMP1.NR_IDENTIFICADOR, TMP1.CD_ITEM, TMP1.CD_UNID_NEG, TMP1.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 

DROP TABLE #TMP_VERIFICA1

--ROLLBACK


IF ( SELECT COUNT(*)
     FROM TREL_ERRO_RESUMO_FAT
     WHERE NR_IDENTIFICADOR = @nr_identificador ) > 0
BEGIN
  RETURN(1) 
END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/













GO
