USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_exp_monta_re] ( @NR_PROCESSO CHAR(18) ) AS  
BEGIN
    /*
    BEGIN TRAN  
    DECLARE @NR_PROCESSO CHAR(18) = '0102ER-002765-14'

    DELETE FROM TRE_CAPA WHERE NR_PROCESSO = @NR_PROCESSO
    DELETE FROM TRE_ANEXO WHERE NR_PROCESSO = @NR_PROCESSO
    DELETE FROM TRE_ANEXO_PURO WHERE NR_PROCESSO = @NR_PROCESSO

    --*/
    -- COLOCA TODOS OS ITENS DO PROCESSO EM UMA TABELA TEMPORARIA, ONDE IREMOS PASSAR UM POR UM E JOGAREMOS NAS DEVIDAS RE  
    -- RESPEITANDO AS REGRAS DE DRAWBACK E CNPJ DO FABRICANTE/EXPORTADOR  

    SELECT PEI.*, ISNULL(ME.IN_IMPORTADO, '0') AS IN_IMPORTADO
    INTO #TMP_ITENS_PROCESSOS
    FROM TPROCESSO_EXP_ITEM PEI (NOLOCK)
       INNER JOIN TMERCADORIA_EXP ME (NOLOCK) ON ME.CD_MERCADORIA = PEI.CD_MERCADORIA
    WHERE PEI.NR_PROCESSO = @NR_PROCESSO

    EXEC SP_EXP_CALCULA @NR_PROCESSO

    DECLARE @ITEM_ATUAL              CHAR(3)
    DECLARE @NR_PROCESSO_COMPLEMENTO CHAR(3)
    DECLARE @ULT_NR_ATO_CONCESSORIO  CHAR(13)
    DECLARE @ULT_CD_FABRICANTE       CHAR(5)
    DECLARE @NR_ATO_CONCESSORIO      CHAR(13)
    DECLARE @CD_FABRICANTE           CHAR(5)
    DECLARE @PC_COMISSAO             DECIMAL(28, 2)
    DECLARE @VL_TOT_MCV              DECIMAL(28, 2)
    DECLARE @VL_PGTO_ANT             DECIMAL(28, 2)
    DECLARE @CD_FORMA_PAGTO          CHAR(1)
    DECLARE @CD_TERMO_PAGTO          CHAR(6)
    DECLARE @NR_PERIODICIDADE        INTEGER
    DECLARE @NR_PARCELAS             INTEGER
    DECLARE @CD_MODALIDADE_TRANS     CHAR(3)
    DECLARE @PESO_LIQUIDO_TOTAL      DECIMAL(28, 5)
    DECLARE @VL_FRETE_TOTAL          DECIMAL(28, 2)
    DECLARE @VL_SEGURO_TOTAL         DECIMAL(28, 2)
    DECLARE @NR_PEDIDO               CHAR(18)
    DECLARE @ULT_NR_PEDIDO           CHAR(18)
    DECLARE @IN_IMPORTADO            CHAR(1)
    DECLARE @ULT_IN_IMPORTADO        CHAR(1)
    DECLARE @CD_DEP_COLETA           CHAR(5)

    DECLARE @CD_GRUPO                CHAR(3)

    SET @NR_ATO_CONCESSORIO = 'XYZ666XYZ666X'
    SET @CD_FABRICANTE      = 'XYZ66'
    SET @NR_PEDIDO          = 'XYZ666XYZ666XYZ666'
    SET @VL_PGTO_ANT        = 0
    SET @IN_IMPORTADO       = 'X'
    

    SELECT @CD_GRUPO = CD_GRUPO
    FROM TPROCESSO
    WHERE NR_PROCESSO = @NR_PROCESSO

    WHILE (SELECT COUNT(*) FROM #TMP_ITENS_PROCESSOS) > 0
    BEGIN
        SET @ULT_NR_ATO_CONCESSORIO = @NR_ATO_CONCESSORIO
        SET @ULT_CD_FABRICANTE      = @CD_FABRICANTE
        SET @ULT_NR_PEDIDO          = @NR_PEDIDO
        SET @ULT_IN_IMPORTADO       = @IN_IMPORTADO

        IF @CD_GRUPO = '560'
            SELECT TOP 1 @ITEM_ATUAL         = NR_ITEM,
                         @NR_ATO_CONCESSORIO = ISNULL(NR_ATO_CONCESSORIO, ''),
                         @CD_FABRICANTE      = ISNULL(CD_FABRICANTE, ''),
                         @NR_PEDIDO          = ISNULL(NR_PEDIDO, ''),
                         @IN_IMPORTADO       = IN_IMPORTADO
            FROM #TMP_ITENS_PROCESSOS
            WHERE NR_PROCESSO = @NR_PROCESSO
            ORDER BY NR_ITEM
        ELSE
            SELECT TOP 1 @ITEM_ATUAL         = NR_ITEM,
                         @NR_ATO_CONCESSORIO = ISNULL(NR_ATO_CONCESSORIO, ''),
                         @CD_FABRICANTE      = ISNULL(CD_FABRICANTE, ''),
                         @NR_PEDIDO          = ISNULL(NR_PEDIDO, ''),
                         @IN_IMPORTADO       = IN_IMPORTADO
            FROM #TMP_ITENS_PROCESSOS
            WHERE NR_PROCESSO = @NR_PROCESSO
            ORDER BY IN_IMPORTADO, ISNULL(NR_ATO_CONCESSORIO, ''), ISNULL(NR_PEDIDO, ''), ISNULL(CD_FABRICANTE, '')

        SELECT @PC_COMISSAO    = VL_COMISSAO_PERCENT,
               @CD_FORMA_PAGTO = CD_FORMA_PAGTO,
               @CD_TERMO_PAGTO = CD_TERMO_PAGTO
        FROM TPROCESSO_EXP (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO

        IF ((@ULT_NR_ATO_CONCESSORIO <> '') AND (@NR_ATO_CONCESSORIO = '')) OR (@ULT_NR_ATO_CONCESSORIO = '') AND (@NR_ATO_CONCESSORIO <> '') OR
           (@ULT_NR_PEDIDO <> @NR_PEDIDO) OR (@ULT_IN_IMPORTADO <> @IN_IMPORTADO)
        BEGIN
            SELECT @NR_PROCESSO_COMPLEMENTO = ISNULL(MAX(NR_PROCESSO_COMPLEMENTO), 0) + 1
            FROM TRE_CAPA (NOLOCK)
            WHERE NR_PROCESSO = @NR_PROCESSO

            SET @NR_PROCESSO_COMPLEMENTO = RIGHT(('000' + RTRIM(@NR_PROCESSO_COMPLEMENTO)), 3)

            -- INCLUINDO A CAPA DA RE A PARTIR DO PROCESSO DE EXPORTAÇÃO
            SELECT @VL_TOT_MCV = SUM(VL_MCV)
            FROM #TMP_ITENS_PROCESSOS
            WHERE NR_PEDIDO = @NR_PEDIDO
              AND NR_ATO_CONCESSORIO = @NR_ATO_CONCESSORIO
              AND IN_IMPORTADO = @IN_IMPORTADO

            SELECT @NR_PERIODICIDADE    = ISNULL(NR_PERIODICIDADE, 0),
                   @NR_PARCELAS         = ISNULL(NR_PARCELAS, 0),
                   @CD_MODALIDADE_TRANS = CD_MODALIDADE_TRANS
            FROM TTERMO_PAGTO (NOLOCK)
            WHERE CD_TERMO_PAGTO = @CD_TERMO_PAGTO

            SET @CD_DEP_COLETA = NULL
            SELECT @CD_DEP_COLETA = CD_DEP_COLETA
            FROM MYINDAIA.DBO.TRAP
            WHERE NR_PROCESSO = @NR_PROCESSO
              AND CASE WHEN LEN(@NR_PEDIDO) < 3 THEN 0
                  ELSE CASE WHEN CD_RAP = LEFT(RTRIM(@NR_PEDIDO), LEN(RTRIM(@NR_PEDIDO)) - 3) THEN 1
                       ELSE 0
                       END
                  END = 1

            -- Retirar valores e pesos do insert  
            INSERT INTO TRE_CAPA (NR_PROCESSO, NR_PROCESSO_COMPLEMENTO, CD_EXPORTADOR, CD_URF_DESPACHO, CD_URF_EMBARQUE, 
                                  CD_IMPORTADOR, CD_INST_NEGO,  CD_INCOTERM, CD_MOEDA, DT_DATA_RE, CD_ENQUAD1, CD_ENQUAD2, 
                                  CD_ENQUAD3, CD_ENQUAD4, CD_ENQUAD5, CD_ENQUAD6, NR_OUTRA_REF, TX_END_IMPORTADOR, 
                                  CD_PAIS_IMPORTADOR, CD_PAIS_FINAL, VL_VALOR_COBER_CAMBIAL, VL_SEM_COB_CAMBIAL)  
            SELECT @NR_PROCESSO,
                   @NR_PROCESSO_COMPLEMENTO,  
                   /*CASE
                       WHEN IN_FABR_EXPO = '1' THEN CD_EXPORTADOR
                   ELSE CD_FABRICANTE
                   END,*/--  by Vitor/Carlos 03/08/2010
                   --ISNULL(@CD_DEP_COLETA, PE.CD_EXPORTADOR), -- Alterado por Michel para trazer como exportador o departamento de coleta - 17/05/2011
                   CASE @CD_GRUPO
                       WHEN '028' THEN CASE ISNULL(@CD_FABRICANTE, '')
                                           WHEN '' THEN PE.CD_EXPORTADOR
                                       ELSE @CD_FABRICANTE
                                       END
                   ELSE PE.CD_EXPORTADOR
                   END,
                   PE.CD_URF_DESPACHO,
                   PE.CD_URF_DESTINO,
                   PE.CD_IMPORTADOR,
                   PE.CD_INST_NEGOC,
                   PE.CD_INCOTERM,
                   PE.CD_MOEDA,
                   GETDATE(),  
                   /*CASE RTRIM(LTRIM(ISNULL(@NR_ATO_CONCESSORIO, '')))
                       WHEN '' THEN PE.CD_ENQUAD_OP
                   ELSE '81101'
                   END*/ PE.CD_ENQUAD_OP,
                   '', '', '', '', '',
                   @NR_PEDIDO,
                   (SELECT CAST(SUBSTRING(LTRIM(RTRIM(END_EMPRESA)) + ', ' + LTRIM(RTRIM(END_NUMERO)) + ', ' + LTRIM(RTRIM(END_COMPL)),1,55) AS CHAR (55))
                    FROM TEMPRESA_EST (NOLOCK)
                    WHERE CD_EMPRESA = PE.CD_IMPORTADOR) AS TX_END_IMPORTADOR,
                   (SELECT CD_PAIS
                    FROM TEMPRESA_EST (NOLOCK)
                    WHERE CD_EMPRESA = PE.CD_IMPORTADOR) AS CD_PAIS_IMPORTADOR,
                    CD_PAIS_DESTINO,
                    --VL_TOT_MCV,
                    --VL_SEM_COBERTURA_CAMBIAL
                    -- Comentados os campos acima e utilizando os SELECTs abaixo porque estava levando o valor total de todos os itens para todas as capas ao invés de levar apenas o total dos itens do complemento - Michel - 23/04/2012
                    (SELECT SUM(PEI.VL_MCV)
                     FROM #TMP_ITENS_PROCESSOS PEI
                     WHERE PEI.NR_PEDIDO = @NR_PEDIDO
                       AND ((ISNULL(PEI.NR_ATO_CONCESSORIO, '') = '' AND (@NR_ATO_CONCESSORIO = '')) OR (ISNULL(PEI.NR_ATO_CONCESSORIO, '') <> '' AND (@NR_ATO_CONCESSORIO <> '')))
                       AND PEI.IN_IMPORTADO = @IN_IMPORTADO),
                    (SELECT SUM(PEI.VL_SEM_COBERTURA_CAMBIAL)
                     FROM #TMP_ITENS_PROCESSOS PEI
                     WHERE PEI.NR_PEDIDO = @NR_PEDIDO
                       AND ((ISNULL(PEI.NR_ATO_CONCESSORIO, '') = '' AND (@NR_ATO_CONCESSORIO = '')) OR (ISNULL(PEI.NR_ATO_CONCESSORIO, '') <> '' AND (@NR_ATO_CONCESSORIO <> '')))
                       AND PEI.IN_IMPORTADO = @IN_IMPORTADO)
            FROM TPROCESSO_EXP PE (NOLOCK)
            WHERE PE.NR_PROCESSO = @NR_PROCESSO
        END

        -- INCLUINDO OS ANEXOS DO RE A PARTIR DOS ITENS DO PROCESSO DE EXPORTAÇÃO  

        INSERT TRE_ANEXO_PURO (NR_PROCESSO,
                               NR_PROCESSO_COMPLEMENTO,
                               CD_NCM,
                               CD_SULF_NCM,
                               CD_NALADI_SH,
                               CD_UNID_MEDIDA,
                               CD_FABR_EXPO,
                               QT_MERCADORIA,
                               VL_TOT_PESO_LIQ,
                               VL_UNITARIO,
                               VL_TOT_ITEM,
                               CD_MERCADORIA,
                               TX_MERCADORIA,
                               TX_MERCADORIA_ITEM,
                               VL_TOT_PESO_BRUTO,
                               VL_MLE,
                               VL_MCV,
                               VL_FRETE,
                               VL_SEGURO,
                               NR_ATO,
                               CD_FABRICANTE,
                               IN_ACORDO,
                               CD_UF_PRODUTOR,
                               CD_FINALIDADE_MERC,
                               VL_COND_VENDA,
                               VL_LOCAL_VENDA,
                               PC_COMISSAO,
                               CD_FORMA_PGTO,
                               NR_PEDIDO,
                               NR_PEDIDO_IMP,
                               NR_ITEM_PE,
                               VL_SEM_COBERTURA,
                               CD_UNID_MEDIDA_ESTAT,
                               QT_UNID_MEDIDA_ESTAT)
        SELECT E.NR_PROCESSO,
               @NR_PROCESSO_COMPLEMENTO,
               SUBSTRING(ISNULL(E.CD_NCM, ''), 1, 8),
               ISNULL(E.CD_SULF_NCM, '00'),
               ISNULL( E.CD_NALADI_SH, ''),
               E.CD_UNID_MEDIDA,
               ISNULL(E.CD_FABR_EXPO, '1'),
               CONVERT(DECIMAL(28, 5), ISNULL(E.QT_MERCADORIA, 0)), -- 0.00000
               CONVERT(DECIMAL(28, 5), ISNULL(E.VL_TOT_PESO_LIQ, 0)), -- 0.00000
               E.VL_UNITARIO,--CONVERT(DECIMAL(28, 2), E.VL_UNITARIO), -- 0.00
               E.VL_TOT_ITEM,-- + ISNULL(E.VL_SEM_COBERTURA_CAMBIAL, 0),--CONVERT(DECIMAL(28, 2), E.VL_TOT_ITEM), -- 0.00
               E.CD_MERCADORIA,
               CASE ISNULL(@CD_GRUPO, '')
                   WHEN '028' THEN M.NM_MERCADORIA -- Se for "Saint Gobain" pega a descrição do cadastro da mercadoria, senão dá preferencia pelo item do processo - Pedido de Vitor Zanin - 16/12/2010
                   WHEN '217' THEN M.NM_MERCADORIA -- Se for "IBBL" pega a descrição do cadastro da mercadoria, senão dá preferencia pelo item do processo - Pedido de Vitor Zanin - 16/12/2010
                   WHEN '083' THEN M.NM_MERCADORIA -- Se for "CRODA" pega a descrição do cadastro da mercadoria, senão dá preferencia pelo item do processo - Pedido de Mauricio Mota - 25/05/2013
                   WHEN '497' THEN M.NM_MERCADORIA -- Se for "PPG" pega a descrição do cadastro da mercadoria, senão dá preferencia pelo item do processo - Pedido de Mauricio Mota - 25/05/2013
               ELSE CASE ISNULL(CONVERT(VARCHAR(255), E.TX_MERCADORIA), '')
                        WHEN '' THEN M.NM_MERCADORIA
                    ELSE E.TX_MERCADORIA
                    END
               END,
               CASE ISNULL(@CD_GRUPO, '')
                   WHEN '028' THEN M.NM_MERCADORIA -- Se for "Saint Gobain" pega a descrição do cadastro da mercadoria, senão dá preferencia pelo item do processo - Pedido de Vitor Zanin - 16/12/2010
                   WHEN '217' THEN M.NM_MERCADORIA -- Se for "IBBL" pega a descrição do cadastro da mercadoria, senão dá preferencia pelo item do processo - Pedido de Vitor Zanin - 16/12/2010
                   WHEN '083' THEN M.NM_MERCADORIA -- Se for "CRODA" pega a descrição do cadastro da mercadoria, senão dá preferencia pelo item do processo - Pedido de Mauricio Mota - 23/05/2013
                   WHEN '497' THEN M.NM_MERCADORIA -- Se for "PPG" pega a descrição do cadastro da mercadoria, senão dá preferencia pelo item do processo - Pedido de Mauricio Mota - 25/05/2013
               ELSE CASE ISNULL(CONVERT(VARCHAR(255), E.TX_MERCADORIA), '')
                        WHEN '' THEN M.NM_MERCADORIA
                    ELSE E.TX_MERCADORIA
                    END
               END,
               CONVERT(DECIMAL(28, 5), E.VL_TOT_PESO_BRUTO), -- 0.00000
               E.VL_MLE + ISNULL(E.VL_SEM_COBERTURA_CAMBIAL, 0),--CONVERT(DECIMAL(28, 2), E.VL_MLE), -- 0.00
               E.VL_MCV + ISNULL(E.VL_SEM_COBERTURA_CAMBIAL, 0),--CONVERT(DECIMAL(28, 2), E.VL_MCV), -- 0.00
               E.VL_FRETE,--CONVERT(DECIMAL(28, 2), E.VL_FRETE), -- 0.00
               E.VL_SEGURO,--CONVERT(DECIMAL(28, 2), E.VL_SEGURO), -- 0.00
               E.NR_ATO_CONCESSORIO,
               E.CD_FABRICANTE,
               0,
               CASE ISNULL(E.CD_FABR_EXPO, '1')
                   WHEN '0' THEN EX.END_UF
                   WHEN '1' THEN FA.END_UF
                   WHEN '2' THEN M.CD_UF_PRODUTOR
               END,
               M.CD_FINALIDADE_MERC,
               E.VL_MCV + ISNULL(E.VL_SEM_COBERTURA_CAMBIAL, 0),--CONVERT(DECIMAL(28, 2), E.VL_MCV), -- 0.00
               E.VL_MLE + ISNULL(E.VL_SEM_COBERTURA_CAMBIAL, 0),--CONVERT(DECIMAL(28, 2), E.VL_MLE), -- 0.00
               @PC_COMISSAO,
               CASE
                   WHEN ISNULL(@CD_FORMA_PAGTO, ' ') = '0' THEN 'G'
                   WHEN ISNULL(@CD_FORMA_PAGTO, ' ') = '1' THEN 'R'
                   WHEN ISNULL(@CD_FORMA_PAGTO, ' ') = '2' THEN 'F'
               END,
               @NR_PEDIDO,
               E.NR_PEDIDO_IMP,
               E.NR_ITEM_PE,
               ISNULL(E.VL_SEM_COBERTURA_CAMBIAL, 0),
               CASE WHEN E.QT_UNID_MEDIDA_ESTAT IS NOT NULL THEN CASE ISNULL(E.CD_UNID_MEDIDA_ESTAT, '')
                                                                     WHEN '' THEN N.UNIDADE_MEDIDA
                                                                 ELSE E.CD_UNID_MEDIDA_ESTAT
                                                                 END
               ELSE N.UNIDADE_MEDIDA
               END,
               CASE WHEN EX.CD_GRUPO = 'B31Z' THEN E.QT_MERCADORIA
               ELSE CASE WHEN EX.CD_GRUPO NOT IN ('028', '986') AND E.QT_UNID_MEDIDA_ESTAT IS NOT NULL THEN E.QT_UNID_MEDIDA_ESTAT
                    ELSE CASE WHEN (U.NM_UNID_MEDIDA LIKE 'QUILO%') OR (U.NM_UNID_MEDIDA LIKE 'KG%') OR (U.NM_UNID_MEDIDA LIKE 'KILO%') THEN CONVERT(DECIMAL(28, 5), VL_TOT_PESO_LIQ)
                         ELSE CONVERT(DECIMAL(28, 5), QT_MERCADORIA)
                         END
                    END
               END
        FROM TPROCESSO_EXP_ITEM            E  (NOLOCK)
           LEFT JOIN TPROCESSO_EXP         PE (NOLOCK) ON PE.NR_PROCESSO = E.NR_PROCESSO
           LEFT JOIN TMERCADORIA_EXP       M  (NOLOCK) ON M.CD_MERCADORIA = E.CD_MERCADORIA
           LEFT JOIN TEMPRESA_NAC          EX (NOLOCK) ON EX.CD_EMPRESA = PE.CD_EXPORTADOR
           LEFT JOIN TEMPRESA_NAC          FA (NOLOCK) ON FA.CD_EMPRESA = PE.CD_FABRICANTE
           LEFT JOIN TNCM                  N  (NOLOCK) ON N.CODIGO = E.CD_NCM
           LEFT JOIN TUNID_MEDIDA_BROKER   U  (NOLOCK) ON U.CD_UNID_MEDIDA = CASE WHEN E.QT_UNID_MEDIDA_ESTAT IS NOT NULL THEN CASE ISNULL(E.CD_UNID_MEDIDA_ESTAT, '')
                                                                                                                                   WHEN '' THEN N.UNIDADE_MEDIDA
                                                                                                                               ELSE E.CD_UNID_MEDIDA_ESTAT
                                                                                                                               END
                                                                             ELSE N.UNIDADE_MEDIDA
                                                                             END
        WHERE E.NR_PROCESSO = @NR_PROCESSO
          AND E.NR_ITEM     = @ITEM_ATUAL

        SELECT @PESO_LIQUIDO_TOTAL = SUM(VL_TOT_PESO_LIQ),
               @VL_FRETE_TOTAL     = SUM(VL_FRETE),
               @VL_SEGURO_TOTAL    = SUM(VL_SEGURO)
        FROM TRE_ANEXO_PURO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

        IF @NR_PERIODICIDADE > 1
        BEGIN
            UPDATE TRE_CAPA
            SET VL_PAGT_VISTA       = 0,
                NR_PARCELAS         = @NR_PARCELAS,
                NR_PERIODICIDADE    = @NR_PERIODICIDADE,
                TP_INDICADOR        = 'D',
                VL_PARCELA          = @VL_TOT_MCV,
                CD_MODALIDADE_TRANS = CONVERT(INT, @CD_MODALIDADE_TRANS),
                PESO_LIQUIDO_TOTAL  = @PESO_LIQUIDO_TOTAL,
                VL_FRETE_TOTAL      = @VL_FRETE_TOTAL,
                VL_SEGURO_TOTAL     = @VL_SEGURO_TOTAL
            WHERE NR_PROCESSO             = @NR_PROCESSO
              AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
        END
        ELSE
        BEGIN
            UPDATE TRE_CAPA
            SET VL_PAGT_VISTA       = @VL_TOT_MCV,
                VL_PAGTO_ANTEC      = @VL_PGTO_ANT,
                NR_PARCELAS         = '',
                NR_PERIODICIDADE    = '',
                TP_INDICADOR        = '',
                VL_PARCELA          = 0,
                CD_MODALIDADE_TRANS = CONVERT(INT, @CD_MODALIDADE_TRANS),
                PESO_LIQUIDO_TOTAL  = @PESO_LIQUIDO_TOTAL,
                VL_FRETE_TOTAL      = @VL_FRETE_TOTAL,
                VL_SEGURO_TOTAL     = @VL_SEGURO_TOTAL
            WHERE NR_PROCESSO             = @NR_PROCESSO
              AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
        END

        DELETE FROM #TMP_ITENS_PROCESSOS
        WHERE NR_ITEM =  @ITEM_ATUAL
    END

    DECLARE @NOVA_DESC   VARCHAR(1000)
    DECLARE @DESC_QUEBRA VARCHAR(1000)
    DECLARE @CONT        INTEGER
    DECLARE @TAMDESC     INTEGER
    DECLARE @ANEXOS      INTEGER
    DECLARE @CONT_ANEXO  INTEGER

    SELECT @CONT_ANEXO = MIN(ID_ANEXO),
           @ANEXOS     = MAX(ID_ANEXO)
    FROM TRE_ANEXO_PURO (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO

    WHILE @CONT_ANEXO <= @ANEXOS
    BEGIN
        SELECT @NOVA_DESC = TX_MERCADORIA
        FROM TRE_ANEXO_PURO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND ID_ANEXO    = @CONT_ANEXO

        SELECT @TAMDESC     = LEN(@NOVA_DESC)
        SELECT @TAMDESC     = (@TAMDESC / 75)
        SELECT @NOVA_DESC   = REPLACE(@NOVA_DESC, CHAR(13), '')
        SELECT @NOVA_DESC   = REPLACE(@NOVA_DESC, CHAR(10), '')
        SELECT @NOVA_DESC   = REPLACE(@NOVA_DESC, '  ', '')
        SELECT @CONT        = 0
        SELECT @DESC_QUEBRA = ''

        WHILE @CONT <= @TAMDESC
        BEGIN
            SELECT @DESC_QUEBRA = @DESC_QUEBRA + SUBSTRING(@NOVA_DESC,((@CONT * 75) + 1), 75) + ' |'
            SELECT @CONT = @CONT + 1
        END

        UPDATE TRE_ANEXO_PURO
        SET TX_MERCADORIA = @DESC_QUEBRA
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND ID_ANEXO    = @CONT_ANEXO

        SELECT @CONT_ANEXO = @CONT_ANEXO + 1
    END

    IF @CD_MODALIDADE_TRANS = '005'  --Pagamento Antecipado
    BEGIN
        --Se for pagamento antecipado ( cód 005 ) então trocar o valor do campo VL_PGT_VISTA para VL_PAGTO_ANTEC
        --Ocorrência 01460/08
        UPDATE TRE_CAPA
        SET VL_PAGTO_ANTEC = VL_PAGT_VISTA,
            VL_PAGT_VISTA  = 0
        WHERE nr_processo = @NR_PROCESSO
    END

    -- MARCA O PROCESSO COMO MONTADO
    UPDATE TPROCESSO_EXP
    SET IN_MONTADO = '1'
    WHERE NR_PROCESSO = @NR_PROCESSO

    -- EXCLUI A TABELA TEMPORARIA
    DROP TABLE #TMP_ITENS_PROCESSOS

    --/*
    RETURN 0
    --*/SELECT 0

    /*
    SELECT NR_PROCESSO_COMPLEMENTO, VL_SEM_COB_CAMBIAL, VL_VALOR_COBER_CAMBIAL, CD_EXPORTADOR
    FROM TRE_CAPA
    WHERE NR_PROCESSO = @NR_PROCESSO

    ROLLBACK TRAN

    SELECT NR_PROCESSO_COMPLEMENTO, VL_SEM_COB_CAMBIAL, VL_VALOR_COBER_CAMBIAL, CD_EXPORTADOR
    FROM TRE_CAPA
    WHERE NR_PROCESSO = @NR_PROCESSO
    --*/

    /*  
    SELECT E.NR_PROCESSO, SUBSTRING(ISNULL( E.CD_NCM,'' ), 1,8 ), '00', ISNULL( E.CD_NALADI_SH, ''), E.CD_UNID_MEDIDA, E.CD_FABR_EXPO,  
    ISNULL( E.QT_MERCADORIA, 0 ), ISNULL( E.VL_TOT_PESO_LIQ, 0 ) AS VL_PESO_LIQ, E.VL_UNITARIO, E.VL_TOT_ITEM,  
    E.CD_MERCADORIA, E.TX_MERCADORIA, E.VL_TOT_PESO_BRUTO, E.VL_MLE, E.VL_MCV, E.VL_FRETE, E.VL_SEGURO, E.NR_ATO_CONCESSORIO, E.CD_FABRICANTE, 0,  
    M.CD_UF_PRODUTOR, M.CD_FINALIDADE_MERC, E.VL_MCV, E.VL_MLE  
    FROM TPROCESSO_EXP_ITEM E (NOLOCK)  
    LEFT OUTER JOIN TMERCADORIA_EXP M ON (M.CD_MERCADORIA = E.CD_MERCADORIA)  
    WHERE  NR_PROCESSO = '0102EA-0002-07' AND NR_ITEM = @ITEM_ATUAL  
    --*/
END
GO
