USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.sp_liberar_solic_ch    Script Date: 31/03/1998 13:55:28 ******/
CREATE PROCEDURE [sp_liberar_solic_ch]( @dt_solic_ch char(10), @nr_solic_ch char(3) ) AS
DECLARE @qt_itens_solicitados     int
DECLARE @qt_itens_aguardando      int
DECLARE @qt_itens_liberados       int
DECLARE @qt_itens_liberados_fin   int
DECLARE @qt_itens_liberados_sis   int
DECLARE @qt_itens_cancelados      int
DECLARE @cd_status_solic_ch       char(1)
DECLARE @cd_status_ch    char(1)
SELECT  @qt_itens_solicitados     = 0
SELECT  @qt_itens_aguardando      = 0
SELECT  @qt_itens_liberados_fin   = 0
SELECT  @qt_itens_liberados_sis   = 0
SELECT  @qt_itens_cancelados      = 0
SELECT @qt_itens_solicitados      = ISNULL( COUNT(*), 0 ) 
FROM   TSOLIC_CHEQUE_ITENS 
WHERE  ( DT_SOLIC_CH = @dt_solic_ch ) AND 
       ( NR_SOLIC_CH = @nr_solic_ch ) AND 
       ( CHARINDEX( CD_STATUS, '0-1-2-3-4-5-6-7-8-9' ) > 0 )
SELECT @qt_itens_aguardando     = ISNULL( COUNT(*), 0 ) 
FROM   TSOLIC_CHEQUE_ITENS 
WHERE  ( DT_SOLIC_CH = @dt_solic_ch ) AND 
       ( NR_SOLIC_CH = @nr_solic_ch ) AND 
       ( CHARINDEX( CD_STATUS, '1-2-3' ) > 0 )
SELECT @qt_itens_liberados_fin  = ISNULL( COUNT(*), 0 ) 
FROM   TSOLIC_CHEQUE_ITENS
WHERE  ( DT_SOLIC_CH = @dt_solic_ch ) AND 
       ( NR_SOLIC_CH = @nr_solic_ch ) AND 
       ( CHARINDEX( CD_STATUS, '4-6-8' ) > 0 )
SELECT @qt_itens_liberados_sis  = ISNULL( COUNT(*), 0 ) 
FROM   TSOLIC_CHEQUE_ITENS
WHERE  ( DT_SOLIC_CH = @dt_solic_ch ) AND 
       ( NR_SOLIC_CH = @nr_solic_ch ) AND 
       ( CHARINDEX( CD_STATUS, '0' ) > 0 )
SELECT @qt_itens_cancelados     = ISNULL( COUNT(*), 0 ) 
FROM   TSOLIC_CHEQUE_ITENS
WHERE  ( DT_SOLIC_CH = @dt_solic_ch ) AND 
       ( NR_SOLIC_CH = @nr_solic_ch ) AND 
       ( CHARINDEX( CD_STATUS, 'C' ) > 0 )
SELECT @qt_itens_liberados = @qt_itens_liberados_fin + @qt_itens_liberados_sis
IF ( @qt_itens_solicitados = 0 AND @qt_itens_cancelados = 0)
BEGIN
  SELECT @cd_status_solic_ch = '2' /* Aguarda Disposicao Financeiro */
END
ELSE
BEGIN
  IF ( @qt_itens_aguardando > 0 ) 
  BEGIN
    SELECT @cd_status_solic_ch = '2' /* Aguarda Disposicao Financeiro */
  END
  ELSE
  BEGIN
    IF ( ( @qt_itens_solicitados > 0 ) AND
         ( @qt_itens_solicitados = @qt_itens_liberados ) )
    BEGIN
      IF @qt_itens_liberados = @qt_itens_liberados_sis
        SELECT @cd_status_solic_ch = '1' /* Liberado pelo Sistema */
      ELSE
        SELECT @cd_status_solic_ch = '3' /* Liberado pelo Financeiro */
    END
    ELSE
    BEGIN
      IF ( ( @qt_itens_solicitados > 0 ) AND 
           ( @qt_itens_liberados > 0 )   AND
           ( @qt_itens_solicitados <> @qt_itens_liberados ) )
      BEGIN
        SELECT @cd_status_solic_ch = '4'  /* Liberado Parcialmente pelo Financeiro */
      END
      ELSE
      BEGIN
        SELECT @cd_status_solic_ch = '5' /* Nao Liberado pelo Financeiro */
      END
    END
  END
END
SELECT @cd_status_ch = CD_STATUS_CHEQUE
  FROM TSOLIC_CHEQUE 
  WHERE ( DT_SOLIC_CH = @dt_solic_ch ) AND 
        ( NR_SOLIC_CH = @nr_solic_ch )
IF @cd_status_ch = 'C' 
  SELECT @cd_status_ch = '1'
UPDATE TSOLIC_CHEQUE 
  SET CD_STATUS_SOLIC_CH = @cd_status_solic_ch,
      CD_STATUS_CHEQUE   = @cd_status_ch 
  WHERE ( DT_SOLIC_CH = @dt_solic_ch ) AND 
        ( NR_SOLIC_CH = @nr_solic_ch )



GO
