USE [BROKER]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*Função: duplicar as personalizações de um usuário para outro.*/
/**/
CREATE PROCEDURE [sp_mbf_duplica] (
  @cd_mbf  int,
  @cd_usuario char(4),
  @cd_grupo  char(3),
  @nm_mbf varchar(1024)
) AS
--*/

DECLARE @MAXIMO INT

SELECT @MAXIMO = ISNULL(MAX(CD_MBF), 0) + 1 FROM TMBF_INFO WHERE CD_USUARIO = @CD_USUARIO 

INSERT INTO TMBF_INFO
SELECT @MAXIMO, UPPER(@NM_MBF), CD_USUARIO, @CD_GRUPO, CD_PRODUTO, 
  IN_MODAL, IN_CNPJ, IN_AREA, IN_ESTUFAGEM, IN_DESVIOS
FROM TMBF_INFO
WHERE CD_USUARIO = @CD_USUARIO
  AND CD_MBF = @CD_MBF
  
INSERT INTO TMBF_KPI
SELECT @MAXIMO, CD_USUARIO, CD_KPI, NM_KPI
FROM TMBF_KPI
WHERE CD_USUARIO = @CD_USUARIO
  AND CD_MBF = @CD_MBF
   


GO
