USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atualiza_receb_num    Script Date: 02/09/1999 08:58:57 AM ******/
/****** Object:  Stored Procedure dbo.sp_atualiza_receb_num    Script Date: 22/11/1998 10:59:47 ******/
CREATE PROCEDURE [sp_atualiza_receb_num] ( @nr_processo char(18), @nr_recebimento char(3), @operacao char(1)) AS
DECLARE @nr_solicitacao   char(3)
DECLARE @nr_lancamento    char(3)
DECLARE @vl_recebido      float
DECLARE @vl_solicitado_n  numeric(14,2)
DECLARE @vl_recebido_n    numeric(14,2)
DECLARE @cd_status        char(1)
DECLARE c_recebimento CURSOR FOR 
  SELECT NR_SOLICITACAO, NR_LANCAMENTO, VL_RECEBIDO
  FROM   TRECEBIMENTO_ITEM_RECEB
  WHERE  NR_PROCESSO    = @nr_processo    AND
         NR_RECEBIMENTO = @nr_recebimento AND
         VL_RECEBIDO    > 0
OPEN c_recebimento
FETCH c_recebimento INTO @nr_solicitacao, @nr_lancamento, @vl_recebido
WHILE @@fetch_status <> -1
BEGIN
  SELECT @vl_solicitado_n = ISNULL( VL_SOLICITADO, 0 ) ,
         @vl_recebido_n   = ISNULL( VL_RECEBIDO, 0 )
  FROM   TNUMERARIO_ITEM_SOLIC
  WHERE  NR_PROCESSO      = @nr_processo    AND
         NR_SOLICITACAO   = @nr_solicitacao AND
         NR_LANCAMENTO    = @nr_lancamento
  IF @operacao='+' 
    SELECT @vl_recebido_n = @vl_recebido_n + @vl_recebido
  ELSE
    SELECT @vl_recebido_n = @vl_recebido_n - @vl_recebido
  IF @vl_recebido_n < @vl_solicitado_n
     SELECT @cd_status = 'A'
  ELSE
     SELECT @cd_status = 'B'
 
  UPDATE TNUMERARIO_ITEM_SOLIC
  SET    VL_RECEBIDO    = @vl_recebido_n ,
         CD_STATUS      = @cd_status 
  WHERE  NR_PROCESSO    = @nr_processo    AND
         NR_SOLICITACAO = @nr_solicitacao AND
         NR_LANCAMENTO  = @nr_lancamento
  SELECT @vl_solicitado_n = ISNULL( VL_SOLICITADO, 0 ),
         @vl_recebido_n   = ISNULL( VL_RECEBIDO, 0 )
  FROM   TNUMERARIO
  WHERE  NR_PROCESSO      = @nr_processo AND
         NR_SOLICITACAO   = @nr_solicitacao 
  IF @operacao='+' 
    SELECT @vl_recebido_n = @vl_recebido_n + @vl_recebido
  ELSE
    SELECT @vl_recebido_n = @vl_recebido_n - @vl_recebido
  
  IF @vl_recebido_n < @vl_solicitado_n AND @nr_solicitacao <> '999'
     SELECT @cd_status = 'A'
  ELSE
     SELECT @cd_status = 'B'
 
  UPDATE TNUMERARIO
  SET    VL_RECEBIDO    = @vl_recebido_n,
         CD_STATUS      = @cd_status 
  WHERE  NR_PROCESSO    = @nr_processo AND
         NR_SOLICITACAO = @nr_solicitacao 
  FETCH c_recebimento INTO @nr_solicitacao, @nr_lancamento, @vl_recebido
END
CLOSE c_recebimento
DEALLOCATE c_recebimento
DELETE TRECEBIMENTO_ITEM_RECEB
WHERE  NR_PROCESSO    = @nr_processo    AND
       NR_RECEBIMENTO = @nr_recebimento AND
       ISNULL( VL_RECEBIDO, 0 ) = 0
EXEC sp_atualiza_saldos @nr_processo
RETURN(0)



GO
