USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [sp_di_adicao_com_li]( @cd_unid_neg char(2), @cd_prod char(2), @nr_processo char(20), @nr_li char(10), @dt_registro datetime ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_prod char(2)
DECLARE @nr_processo char(20)
DECLARE @nr_li char(10)
DECLARE @dt_registro datetime

SELECT @cd_unid_neg = '02'
SELECT @cd_prod = '01'
SELECT @nr_processo = '0201IM-000578-14'
SELECT @nr_li = '1437693924'
SELECT @dt_registro = CONVERT(DATETIME, '22/11/2003', 103)
--*/

DECLARE @ptr_li                       binary(16)
DECLARE @ptr_di                       binary(16)
DECLARE @tamanho                      int

DECLARE @nr_adicao                    char(3)
DECLARE @nr_item                      char(3)
DECLARE @erro                         int
DECLARE @cExportador                  char(60)
DECLARE @cFabricante                  char(60)
DECLARE @dbl_peso_liq                 numeric(28, 5)
DECLARE @dbl_soma_peso_liq            numeric(28, 5)
DECLARE @dbl_qt_estat                 numeric(28, 7)
DECLARE @dbl_soma_qt_estat            numeric(28, 8)
DECLARE @dbl_total_quant              numeric(28, 2)
DECLARE @nr_ultimo_item               char(2)
DECLARE @str_unidade                  char(3)
DECLARE @nAcoxambro                   numeric(28, 2)
DECLARE @nSoma_MCV                    numeric(28, 2)
DECLARE @nSoma_MLE                    numeric(28, 2)

--Itens
DECLARE @nm_un_med_comerc             char(20)
DECLARE @ult_cd_unid_medida           int
DECLARE @cd_unid_medida               char(3)
DECLARE @qt_merc_un_comerc            numeric(28, 5)
DECLARE @vl_unid_cond_venda           numeric(28, 7)
DECLARE @vl_mle_item                  numeric(28, 2)
DECLARE @nr_destaque_ncm              char(3)
DECLARE @nr_proc_po                   char(20)
DECLARE @nr_item_po                   char(4)
DECLARE @nr_fatura                    varchar(20)
DECLARE @cd_produto                   char(30)

--Capa
DECLARE @nr_seq_produto               char(2)
DECLARE @pl_mercadoria                numeric(28, 5)
DECLARE @qt_un_estatistica            numeric(28, 5)
DECLARE @nm_forn_estr                 char(60)
DECLARE @nm_fabricante_merc           char(60)
DECLARE @cd_merc_naladi_ncc           char(7)
DECLARE @cd_merc_naladi_sh            char(8)
DECLARE @cd_mercadoria_ncm            char(8)
DECLARE @cd_pais_aquis_merc           char(3)
DECLARE @cd_pais_orig_merc            char(3)
DECLARE @cd_ausencia_fabric           char(1)
DECLARE @in_repassa_dados_adicao      bit
DECLARE @nr_ato_drawback              char(13)
DECLARE @cd_cliente                   char(5)
DECLARE @in_recuperado_web            char(1)

DECLARE @nr_processo_broker           char(20)
DECLARE @pl_mercadoria_broker_capa    numeric( 28,5 )
DECLARE @nItem                        int
DECLARE @pl_mercadoria_broker_item    numeric( 28,5 )
DECLARE @qt_merc_un_estat_broker_item numeric( 28,5 )
DECLARE @nr_sequencia_broker          char(3)

DECLARE @vl_unitario 		          numeric( 28, 7)
DECLARE @vl_mcv_item 		          numeric( 28, 2 )
DECLARE @cd_ult_emp_est               char(5)

SELECT @nr_adicao = ''
SELECT @nr_item   = ''

SELECT @in_repassa_dados_adicao = IN_REPASSA_DADOS_ADICAO
FROM   TDECLARACAO_IMPORTACAO (NOLOCK)
WHERE  NR_PROCESSO = @nr_processo

-- Desabilita caso esteja selecionado para repassar
IF @in_repassa_dados_adicao = 1
BEGIN
  UPDATE TDECLARACAO_IMPORTACAO
  SET    IN_REPASSA_DADOS_ADICAO = 0
  WHERE  NR_PROCESSO = @nr_processo
END

DELETE TDETALHE_MERCADORIA
WHERE  NR_PROCESSO = @nr_processo AND
       NR_ITEM = '***'

SELECT @nAcoxambro = 0
SELECT @dbl_total_quant = 0
SELECT @nSoma_MCV       = 0

--Capa
SELECT @nSoma_MLE          = ROUND( ( CONVERT( numeric, ISNULL( VL_MERC_MNEG_EMB,  0 ) ) / 10000000 ), 2 ),
       @pl_mercadoria      = ROUND( ( CONVERT( numeric, ISNULL( PL_MERCADORIA,     0 ) ) / 100000 ), 5 ),
       @qt_un_estatistica  = ROUND( ( CONVERT( numeric, ISNULL( QT_UN_ESTATISTICA, 0 ) ) / 100000 ), 5 ),
       @nm_forn_estr       = LTRIM( RTRIM( ISNULL( NM_FORN_ESTR, '' ) ) ),
       @nm_fabricante_merc = LTRIM( RTRIM( ISNULL( NM_FABRICANTE_MERC, '' ) ) ),
       @cd_merc_naladi_ncc = ISNULL( CD_MERC_NALADI_NCC, '' ),
       @cd_merc_naladi_sh  = ISNULL( CD_MERC_NALADI_SH, '' ),
       @cd_mercadoria_ncm  = ISNULL( CD_MERCADORIA_NCM, '' ),
       @cd_pais_aquis_merc = ISNULL( CD_PAIS_AQUIS_MERC, '' ),
       @cd_pais_orig_merc  = ISNULL( CD_PAIS_ORIG_MERC, '' ),
       @cd_ausencia_fabric = ISNULL( CD_AUSENCIA_FABRIC, '' ),
       @nr_ato_drawback    = ISNULL( NR_ATO_DRAWBACK, '' ),
       @nr_processo_broker = CASE LTRIM( RTRIM( NR_IDENT_USUARIO ))
                                WHEN '' THEN ''
		                ELSE @cd_unid_neg + @cd_prod + ISNULL( NR_IDENT_USUARIO, '')
		                END 
FROM   OPERAÇÃO_COM_TRATAMENTO
WHERE  NR_OPER_TRAT_PREV = @nr_li

IF ISNUMERIC(LEFT(@nr_processo_broker, 4)) = 0
    SET @nr_processo_broker = '0' + LEFT(@nr_processo_broker, 1) + '0' + SUBSTRING(@nr_processo_broker, 2, 20)

--PEGA O CODIGO DO CLIENTE GUILHERME 02/06/2014
SELECT @cd_cliente = CD_IMPORTADOR FROM TLICENCA_IMPORTACAO WHERE NR_REGISTRO_LI = @nr_li
--VE SE FOI RECUPERADO PELO SISCOMEX WEB 05/03/2014
SELECT @in_recuperado_web = IN_FILA_RECUPERAR FROM TPROCESSO_LI WHERE NR_LI = @nr_li

--/*guilherme
IF (ISNULL(@nr_processo_broker, '') <> '' AND @cd_cliente IN ('02274')) OR (@in_recuperado_web = '1')
  SELECT @nr_processo_broker = NR_PROCESSO FROM TLICENCA_IMPORTACAO WHERE NR_REGISTRO_LI = @nr_li 
--*/

SELECT @dbl_total_quant = SUM( ROUND( CONVERT( numeric, ISNULL( QT_MERC_UN_COMERC, '0' ) ) / 100000, 2 ) )
FROM   DETALHE_MERC_COM_TRATAMENTO
WHERE  NR_OPER_TRAT_PREV = @nr_li

SELECT @nSoma_MCV = SUM( ROUND( ( CONVERT( numeric, ISNULL( QT_MERC_UN_COMERC, '0' ) ) / 100000 ) *
                                ( CONVERT( numeric, ISNULL( VL_UNID_COND_VENDA, '0' ) ) / 10000000 ), 2 ) ) 
FROM   DETALHE_MERC_COM_TRATAMENTO
WHERE  NR_OPER_TRAT_PREV = @nr_li

SELECT @pl_mercadoria_broker_capa = QT_TOTAL_PES_LIQ
FROM   TLICENCA_IMPORTACAO 
WHERE  NR_PROCESSO = @cd_unid_neg + @cd_prod + LTRIM( RTRIM( @nr_processo_broker ) )

SELECT @nr_ultimo_item = MAX( NR_SEQ_PRODUTO )
FROM   DETALHE_MERC_COM_TRATAMENTO
WHERE  NR_OPER_TRAT_PREV = @nr_li

DECLARE cItemLI CURSOR FOR 
  SELECT NR_SEQ_PRODUTO, NM_UN_MEDID_COMER, ROUND( ( CONVERT( numeric, ISNULL( QT_MERC_UN_COMERC, '0' ) ) ) / 100000, 5 ),
         ROUND( ( CONVERT( numeric, ISNULL( VL_UNID_COND_VENDA, '0' ) ) ) / 10000000, 7 ), CD_PRODUTO
  FROM   DETALHE_MERC_COM_TRATAMENTO
  WHERE  NR_OPER_TRAT_PREV = @nr_li
  ORDER BY NR_SEQ_PRODUTO

SELECT @dbl_soma_peso_liq = 0
SELECT @dbl_soma_qt_estat = 0

OPEN cItemLI
FETCH cItemLI INTO @nr_seq_produto, @nm_un_med_comerc, @qt_merc_un_comerc, @vl_unid_cond_venda, @cd_produto
WHILE @@fetch_status = 0
BEGIN

  IF @nr_seq_produto = @nr_ultimo_item 
  BEGIN
    SELECT @dbl_peso_liq = @pl_mercadoria - @dbl_soma_peso_liq
    SELECT @dbl_qt_estat = @qt_un_estatistica - @dbl_soma_qt_estat
    SELECT @vl_mle_item  = ROUND( ( @nSoma_MLE - @nAcoxambro ), 2 )
  END
  ELSE
  BEGIN
    SELECT @vl_mle_item  = ROUND( ( @vl_unid_cond_venda * ( @qt_merc_un_comerc * ( @nSoma_MLE / @nSoma_MCV ) ) ), 2 )

    IF @dbl_total_quant > 0 
    BEGIN
      SELECT @dbl_peso_liq = ROUND( ( @pl_mercadoria     * ( @qt_merc_un_comerc / @dbl_total_quant ) ), 5 )
      SELECT @dbl_qt_estat = ROUND( ( @qt_un_estatistica * ( @qt_merc_un_comerc / @dbl_total_quant ) ), 5 )
    END
    ELSE
    BEGIN
      SELECT @dbl_peso_liq = 0
      SELECT @dbl_qt_estat = 0
    END
  END

  SELECT @dbl_soma_peso_liq = @dbl_soma_peso_liq + @dbl_peso_liq
  SELECT @dbl_soma_qt_estat = @dbl_soma_qt_estat + @dbl_qt_estat
  SELECT @nAcoxambro = @nAcoxambro + @vl_mle_item

  --Exportador
  SELECT @cExportador = CD_EMPRESA
  FROM   TEMPRESA_EST ( NOLOCK )
  WHERE  NM_EMPRESA = @nm_forn_estr
  IF @@rowcount = 0 SELECT @cExportador = ''

  /* Cadastrar Exportador */
  IF ( @cExportador = '' ) AND ( @nm_forn_estr <> '' )
  BEGIN
    SELECT @cd_ult_emp_est = RIGHT( '00000' + CONVERT( varchar(5), ( CONVERT( int, MAX( CD_EMPRESA ) ) + 1 ) ), 5 )
    FROM   TEMPRESA_EST

    SELECT @cd_ult_emp_est = ISNULL( @cd_ult_emp_est, '00001' )
    SELECT @cExportador = @cd_ult_emp_est 

    INSERT TEMPRESA_EST( CD_EMPRESA,    NM_EMPRESA,    AP_EMPRESA,    END_EMPRESA,   END_NUMERO,   END_COMPL,  END_CIDADE,
                         END_ESTADO,    CD_PAIS,       DT_INCLUSAO,   IN_ATIVO,      IN_AGENTE,    IN_BANCO,   IN_IMPORTADOR, 
                         IN_SEGURADORA, IN_EXPORTADOR )
    SELECT @cd_ult_emp_est, O.NM_FORN_ESTR, SUBSTRING( O.NM_FORN_ESTR, 1, 10 ), O.ED_LOGR_FORN_ESTR, O.ED_NR_FORN_ESTR,
           O.ED_COMPL_FORN_ESTR, O.ED_CIDAD_FORN_ESTR, O.ED_ESTAD_FORN_ESTR, O.CD_PAIS_AQUIS_MERC, 
           CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 ), '1', 0, 0, 0, 0, 1
    FROM   OPERAÇÃO_COM_TRATAMENTO O
    WHERE  NR_OPER_TRAT_PREV = @nr_li
  END

  --Fabricante
  SELECT @cFabricante = CD_EMPRESA
  FROM   TEMPRESA_EST ( NOLOCK )
  WHERE  NM_EMPRESA = @nm_fabricante_merc
  IF @@rowcount = 0 SELECT @cFabricante = ''

  /* Cadastrar Fabricante */
  IF ( @cFabricante = '' ) AND ( @nm_fabricante_merc <> '' )
  BEGIN
    SELECT @cd_ult_emp_est = RIGHT( '00000' + CONVERT( varchar(5), ( CONVERT( int, MAX( CD_EMPRESA ) ) + 1 ) ), 5 )
    FROM   TEMPRESA_EST

    SELECT @cd_ult_emp_est = ISNULL( @cd_ult_emp_est, '00001' )
    SELECT @cFabricante = @cd_ult_emp_est

    INSERT TEMPRESA_EST( CD_EMPRESA,    NM_EMPRESA,    AP_EMPRESA,    END_EMPRESA,   END_NUMERO,   END_COMPL,  END_CIDADE,
                         END_ESTADO,    CD_PAIS,       DT_INCLUSAO,   IN_ATIVO,      IN_AGENTE,    IN_BANCO,   IN_IMPORTADOR, 
                         IN_SEGURADORA, IN_EXPORTADOR )
    SELECT @cd_ult_emp_est, O.NM_FABRICANTE_MERC, SUBSTRING( O.NM_FABRICANTE_MERC, 1, 10 ), O.ED_LOGR_FABRIC, O.ED_NR_FABRIC,
           O.ED_COMPL_FABRIC, O.ED_CIDAD_FABRIC, O.ED_ESTADO_FABRIC, 
           CASE O.CD_AUSENCIA_FABRIC WHEN '1' THEN '' ELSE O.CD_PAIS_ORIG_MERC END,
           CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 ), '1', 0, 0, 0, 0, 1
    FROM   OPERAÇÃO_COM_TRATAMENTO O
    WHERE  NR_OPER_TRAT_PREV = @nr_li
  END

  SELECT @cd_unid_medida = ISNULL(CD_UNID_MEDIDA, '')
  FROM   TUNID_MEDIDA_BROKER ( NOLOCK )
  WHERE  LTRIM( RTRIM( NM_UNID_MEDIDA ) ) = LTRIM( RTRIM( @nm_un_med_comerc ) )

  IF @@rowcount = 0 -- Unidade não existe portanto cadastra
  BEGIN
    SELECT @ult_cd_unid_medida = MAX( CONVERT( int, ISNULL( CD_UNID_MEDIDA, '000' ) ) ) + 1
    FROM   TUNID_MEDIDA_BROKER (TABLOCK HOLDLOCK)

    SELECT @cd_unid_medida = RIGHT( '000' + CONVERT( varchar, ISNULL ( @ult_cd_unid_medida, 1 ) ), 3 )

    INSERT TUNID_MEDIDA_BROKER ( CD_UNID_MEDIDA, NM_UNID_MEDIDA, IN_ATIVO  )
    VALUES ( @cd_unid_medida, @nm_un_med_comerc, '1' )
  END

  SELECT  @vl_unitario = 0 
  SELECT  @vl_mcv_item = 0 

  if @vl_unid_cond_venda > 0
    SELECT  @vl_unitario = @vl_unid_cond_venda
  else
    SELECT  @vl_unitario = ROUND( ( @vl_mle_item / @qt_merc_un_comerc ), 7 )

  SELECT  @vl_mcv_item = ROUND( ( @vl_unid_cond_venda * @qt_merc_un_comerc ), 2 )

  print '@vl_mle_item: ' + cast(@vl_mle_item as varchar)

  IF @cd_ausencia_fabric = '1' SELECT @cd_pais_orig_merc = ''

  INSERT TDETALHE_MERCADORIA 
         ( NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_FABR_EXPO, CD_EXPORTADOR, CD_FABRICANTE, CD_MERCADORIA, CD_NALADI_NCCA, 
           CD_NALADI_SH, CD_NCM_SH, CD_PAIS_AQUISICAO, CD_PAIS_ORIGEM, CD_TIPO_CALCULO_ITEM, 
           CD_UN_MED_COMERC, NR_FATURA, PC_DESCONTO_MERC, PL_MERCADORIA, QT_MERC_UN_COMERC, QT_MERC_UN_ESTAT,
           VL_DESCONTO_MERC, VL_FRETE_ITEM, VL_MCV_ITEM, VL_SEGURO_ITEM, VL_UNID_COND_VENDA, VL_MLE_ITEM, VL_UNITARIO, NR_OPER_TRAT_PREV, TX_DESC_DET_MERC)
  VALUES ( @nr_processo, '001', '***', @cd_ausencia_fabric, @cExportador, @cFabricante, @cd_produto, @cd_merc_naladi_ncc,
           @cd_merc_naladi_sh, @cd_mercadoria_ncm, @cd_pais_aquis_merc, @cd_pais_orig_merc, '1', 
           @cd_unid_medida, '', 0, @dbl_peso_liq, @qt_merc_un_comerc, @dbl_qt_estat, 
           0, 0, @vl_mcv_item, 0, @vl_unid_cond_venda, @vl_mle_item, @vl_unitario, @nr_li, '')
  


  IF @nr_processo_broker <> ''
  BEGIN
    SELECT @nItem = CONVERT( int, @nr_seq_produto )
    SELECT @nr_sequencia_broker = CONVERT( char(3), @nItem )
    SELECT @nr_sequencia_broker = RIGHT( ( '000' + RTRIM( @nr_sequencia_broker ) ), 3 )
  
    SELECT @pl_mercadoria_broker_item = PL_MERCADORIA, 
           @qt_merc_un_estat_broker_item = QT_MERC_UN_ESTAT,
           @nr_proc_po = ISNULL( NR_PROC_PO, '' ),
           @nr_item_po = ISNULL( NR_ITEM_PO, '' ),
           @nr_fatura = ISNULL( NR_FATURA_PO, '' )

    FROM   TLICENCA_ITENS 
    WHERE  NR_PROCESSO = @nr_processo_broker AND
           NR_ITEM = @nr_sequencia_broker
   
    UPDATE TDETALHE_MERCADORIA 
    SET    PL_MERCADORIA = @pl_mercadoria_broker_item,
           QT_MERC_UN_ESTAT = @qt_merc_un_estat_broker_item,
           NR_PROC_PO = @nr_proc_po,
           NR_ITEM_PO = @nr_item_po,
           NR_FATURA = @nr_fatura,
           NR_PARCIAL = 1,
           IN_PROVEM_PO = CASE ISNULL( @nr_proc_po, '' )
                            WHEN '' THEN '0'
                            ELSE '1'
                          END
    FROM   TDETALHE_MERCADORIA ( NOLOCK )
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_ADICAO = '001' AND
           NR_ITEM = '***'
  END

  SELECT @tamanho = DATALENGTH( TX_DESC_DET_MERC )
  FROM   TDETALHE_MERCADORIA ( NOLOCK )
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO = '001' AND
         NR_ITEM = '***'

  SELECT @ptr_di = ISNULL( TEXTPTR( TX_DESC_DET_MERC ), 0 )
  FROM   TDETALHE_MERCADORIA ( NOLOCK )
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO = '001' AND
         NR_ITEM = '***'

  SELECT @ptr_li = ISNULL( TEXTPTR( TX_DESC_DET_MERC ), 0 )
  FROM   DETALHE_MERC_COM_TRATAMENTO ( NOLOCK )
  WHERE  NR_OPER_TRAT_PREV = @nr_li AND
         NR_SEQ_PRODUTO = @nr_seq_produto
  
  -- Atualizando Campo da DI
  UPDATETEXT TDETALHE_MERCADORIA.TX_DESC_DET_MERC @ptr_di @tamanho NULL DETALHE_MERC_COM_TRATAMENTO.TX_DESC_DET_MERC @ptr_li

  EXEC @erro = sp_di_classifica_item @nr_processo, @nr_adicao output, @nr_item output

  -- 'Classificação da Adição não foi feita com sucesso.'
  IF NOT EXISTS( SELECT COUNT(*)
                 FROM   TADICAO_DE_IMPORTACAO
                 WHERE  NR_PROCESSO = @nr_processo AND
                        NR_ADICAO = @nr_adicao ) 
    /*
        SELECT 1
    --*/RETURN(1)

  UPDATE TADICAO_DE_IMPORTACAO
  SET    NR_OPER_TRAT_PREV = @nr_li
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO   = @nr_adicao

  IF @qt_un_estatistica = @pl_mercadoria
     SELECT @qt_un_estatistica = @pl_mercadoria

  UPDATE TADICAO_DE_IMPORTACAO
  SET    CD_ACORDO_ALADI = L.CD_ACORDO_ALADI,
         CD_AGENC_AGENT_IMP = '',
         CD_APLICACAO_MERC = '1',
         CD_AUSENCIA_FABRIC = L.CD_AUSENCIA_FABRIC,
         CD_BANC_AGENTE_IMP = '',
         CD_COBERT_CAMBIAL = L.CD_COBERT_CAMBIAL,
         CD_FABRICANTE = @cFabricante,
         CD_FORNECEDOR = @cExportador,
         CD_FUND_LEG_REGIME = L.CD_FUND_LEG_REGIME,
         CD_INCOTERMS_VENDA = L.CD_INCOTERMS_VENDA,
         CD_LOC_COND_VENDA = '',
         CD_MD_FRETE_MERC = '',
         CD_MERC_NALADI_NCC = L.CD_MERC_NALADI_NCC,
         CD_MERC_NALADI_SH = L.CD_MERC_NALADI_SH,
         CD_MERC_NBM_SH = L.CD_MERCADORIA_NCM,
         CD_NCM_SH = L.CD_MERCADORIA_NCM,
         CD_METOD_VALORACAO = '01',
         CD_MODALIDADE_PGTO = L.CD_MODALIDADE_PGTO,
         CD_MOEDA_NEGOCIADA =L.CD_MOEDA_NEGOCIADA,
         CD_MOEDA_SEG_MERC = '',
         CD_MOEDAS_DESPESAS = '',
         CD_MOTIVO_ADM_TEMP = '',
         CD_MOTIVO_SEM_COB = L.CD_MOTIVO_SEM_COB,
         CD_ORGAO_FIN_INTER = L.CD_ORGAO_FIN_INTER,
         CD_PAIS_AQUIS_MERC = L.CD_PAIS_AQUIS_MERC,
         CD_PAIS_ORIG_MERC =  CASE L.CD_AUSENCIA_FABRIC
                                 WHEN '1' THEN ''
                                 ELSE L.CD_PAIS_ORIG_MERC
                              END,
         CD_PERIOD_PGTO_360 = '',
         CD_REGIME_TRIBUTAR = L.CD_REGIME_TRIBUTAR,
         CD_TAXA_JUROS = '',
         CD_TIPO_ACORDO_TAR = L.CD_TIPO_ACORDO_TAR,
         CD_TIPO_AGENTE_IMP = '',
         CD_VINC_IMPO_EXPO = '1',
         ED_CIDAD_FABRIC = L.ED_CIDAD_FABRIC,
         ED_CIDAD_FORN_ESTR = L.ED_CIDAD_FORN_ESTR,
         ED_COMPL_FABRIC = L.ED_COMPL_FABRIC,
         ED_COMPL_FORN_ESTR = L.ED_COMPL_FORN_ESTR,
         ED_ESTAD_FORN_ESTR = L.ED_ESTAD_FORN_ESTR,
         ED_ESTADO_FABRIC = L.ED_ESTADO_FABRIC,
         ED_LOGR_FABRIC = L.ED_LOGR_FABRIC,
         ED_LOGR_FORN_ESTR = L.ED_LOGR_FORN_ESTR,
         ED_NR_FABRIC = L.ED_NR_FABRIC,
         ED_NR_FORN_ESTR = L.ED_NR_FORN_ESTR,
         IN_BEM_ENCOMENDA = 0,
         IN_IPI_NAO_TRIBUT = 0,
         IN_JUROS_ATE_360 = 0,
         IN_MATERIAL_USADO = 0,
         IN_MULTIMODAL = 0,
         IN_PGTO_VARIAV_360 = 0,
         NM_FABRICANTE_MERC = L.NM_FABRICANTE_MERC,
         NM_FORN_ESTR = L.NM_FORN_ESTR,
         NR_ATO_DRAWBACK = L.NR_ATO_DRAWBACK,
         NR_AGENTE_IMP = '',
         NR_DCTO_REDUCAO = '',
         NR_ROF = '',
         PC_COEF_REDUC_II = 0,
         PC_COMISSAO_AG_IMP = 0,
         PC_TAXA_JUROS = 0,
         PL_MERCADORIA = @pl_mercadoria,
         QT_ITENS_ADICAO = CONVERT( int, @nr_item ),
         QT_UN_ESTATISTICA = @qt_un_estatistica,
         QT_PARC_FINANC_360 = 0,
         QT_PERIOD_PGTO_360 = 0,
         TX_COMPL_VL_ADUAN = '',
         VL_ACRESCIMOS_MN = 0,
         VL_BASE_CALCULO_MN = 0,
         VL_CALC_DCR_DOLAR = 0,
         VL_COMISSAO_AG_IMP = 0,
         VL_DEDUCOES_MN = 0,
         VL_DESPESAS_MN = 0,
         VL_DESPESAS_MNEG = 0,
         VL_FINANC_SUP_360 = 0,
         VL_FRETE_MERC_MN = 0,
         VL_FRETE_MERC_MNEG = 0,
         VL_II_A_REC_ZFM = 0,
         VL_II_CALC_DCR_MN = 0,
         VL_II_DEVIDO_ZFM = 0,
         VL_MERC_COND_VENDA = 0,
         VL_MERC_EMB_MN = 0,
         VL_MERC_LOC_EMB_MN = 0,
         VL_MERC_VENDA_MN = 0,
         VL_SEG_MERC_MN = 0,
         VL_SEG_MERC_MNEG = 0,
         VL_TOT_FINANC_360 = 0,
         VL_UNID_LOC_EMP = 0,
         IN_ADICAO_CALCULADA = 0
  FROM   TADICAO_DE_IMPORTACAO A, OPERAÇÃO_COM_TRATAMENTO L
  WHERE  A.NR_OPER_TRAT_PREV = L.NR_OPER_TRAT_PREV AND
         A.NR_PROCESSO = @nr_processo AND
         A.NR_ADICAO = @nr_adicao

  FETCH cItemLI INTO @nr_seq_produto, @nm_un_med_comerc, @qt_merc_un_comerc, @vl_unid_cond_venda, @cd_produto
END
CLOSE cItemLI
DEALLOCATE cItemLI

DECLARE @nr_seq_dest_ncm int
SELECT @nr_seq_dest_ncm = 1

DECLARE cDestaqueLI CURSOR FOR 
  SELECT NR_DESTAQUE_NCM
  FROM   DESTAQUE_NCM
  WHERE  NR_OPER_TRAT_PREV = @nr_li AND
        ISNULL( NR_DESTAQUE_NCM, '' ) <> ''
OPEN cDestaqueLI
FETCH cDestaqueLI INTO @nr_destaque_ncm
WHILE @@fetch_status = 0
BEGIN
  IF NOT EXISTS( SELECT *
                 FROM   TDESTAQUE_NCM
                 WHERE  NR_PROCESSO = @nr_processo AND
                        NR_ADICAO = @nr_adicao AND
                        NR_SEQUENCIA = @nr_seq_dest_ncm AND
                        NR_DESTAQUE_NCM = @nr_destaque_ncm )
  BEGIN
    INSERT TDESTAQUE_NCM( NR_PROCESSO, NR_ADICAO, NR_SEQUENCIA, NR_DESTAQUE_NCM )
    VALUES( @nr_processo, @nr_adicao, @nr_seq_dest_ncm, @nr_destaque_ncm )

    SELECT @nr_seq_dest_ncm = @nr_seq_dest_ncm + 1
  END

  UPDATE TADICAO_DE_IMPORTACAO
  SET    NR_DESTAQUE_NCM = @nr_destaque_ncm
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO = @nr_adicao

  UPDATE TDETALHE_MERCADORIA
  SET    NR_DESTAQUE_NCM = @nr_destaque_ncm
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO = @nr_adicao

  FETCH cDestaqueLI INTO @nr_destaque_ncm
END
CLOSE cDestaqueLI 
DEALLOCATE cDestaqueLI 

EXEC sp_di_calculo @nr_processo

IF @in_repassa_dados_adicao = 1
BEGIN
  UPDATE TDECLARACAO_IMPORTACAO
  SET    IN_REPASSA_DADOS_ADICAO = 1
  WHERE  NR_PROCESSO = @nr_processo

  EXEC sp_di_repassa_dados_adicao @nr_processo
END



/*
Rodrigo Capra - Comentado em 30/07/2008
IF ( SELECT COUNT(*)
               FROM   TADICAO_DE_IMPORTACAO
               WHERE  NR_OPER_TRAT_PREV  = @nr_li) > 0
BEGIN
  --Atualiza a flag, indicando que a LI já foi utilizada
  UPDATE 
    OPERAÇÃO_COM_TRATAMENTO 
  SET 
    IN_LI_INCLUIDA = '1'
  WHERE  
    NR_OPER_TRAT_PREV = @nr_li
END
--*/


-- Inserir Li na Manutenção de Processo
--INSERT INTO TPROCESSO_LI ( NR_PROCESSO, NR_LI, DT_REGISTRO ) 
  --   VALUES ( @nr_processo, @nr_li, CONVERT(DATETIME, @dt_registro, 103) )

/*
--SELECT NR_OPER_TRAT_PREV, PL_MERCADORIA, QT_UN_ESTATISTICA, VL_MERC_MNEG_EMB, VL_TOT_DOLAR_EMB FROM OPERACAO_COM_TRATAMENTO WHERE NR_OPER_TRAT_PREV IN ('0103792438', '0103792446', '0103792454', '0103792462', '0103792470')
--SELECT NR_OPER_TRAT_PREV, NR_SEQ_PRODUTO, QT_MERC_UN_COMERC, VL_UNID_COND_VENDA, CD_PRODUTO FROM DETALHE_MERC_COM_TRATAMENTO WHERE NR_OPER_TRAT_PREV IN ('0103792438', '0103792446', '0103792454', '0103792462', '0103792470')

SELECT * FROM TADICAO_DE_IMPORTACAO WHERE NR_PROCESSO = @NR_PROCESSO
SELECT * FROM TDETALHE_MERCADORIA WHERE NR_PROCESSO = @NR_PROCESSO

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/RETURN(0)

GO
