USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***** APAGA E RENUMERA OS ITENS DA LI *****/

CREATE PROCEDURE [sp_li_apaga_renum_itens]( @nr_processo char(20), @nr_item char(3) )  AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @nr_processo char(18),
  @nr_item     char(3)

SET @nr_processo = '0101I0-1945-05-001'
SET @nr_item     = '001'
--*/

DECLARE
  @qt_total char(3),
  @s_item   char(3),
  @i_item   int

--apaga o item da li
IF ( SELECT COUNT(*) FROM TLICENCA_ITENS ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo )  > 0
BEGIN
   DELETE FROM TLICENCA_ITENS 
   WHERE NR_PROCESSO = @nr_processo
     AND NR_ITEM     = @nr_item
END
--apaga o nve do item da li
IF ( SELECT COUNT(*) FROM TLICENCA_NVE ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo )  > 0
BEGIN
  DELETE FROM TLICENCA_NVE
  WHERE NR_PROCESSO = @nr_processo
    AND NR_ITEM     = @nr_item
END

--verifica se a qtde de itens da li é maior que zero
IF ( SELECT COUNT(*) FROM TLICENCA_ITENS ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo ) > 0
BEGIN 
  SELECT
    NR_ITEM
  INTO #TMP_ITENS_LI 
  FROM TLICENCA_ITENS ( NOLOCK )
  WHERE NR_PROCESSO = @nr_processo 

  --atualiza a qtde de itens na li
  SET @qt_total = CONVERT(  char(3), ( SELECT COUNT(*) 
			                                 FROM TLICENCA_ITENS ( NOLOCK )
						                           WHERE NR_PROCESSO = @nr_processo ) )

  SET @qt_total = RIGHT( ( '000' + RTRIM( @qt_total ) ), 3 )
  
  UPDATE TLICENCA_IMPORTACAO 
  SET QT_TOTAL_ITEM = @qt_total
  WHERE NR_PROCESSO = @nr_processo

  --Renumera os itens da LI
  SET @i_item = 0

  WHILE ( SELECT COUNT(*) FROM #TMP_ITENS_LI ) > 0 
  BEGIN
    SELECT TOP 1
      @nr_item = NR_ITEM
    FROM #TMP_ITENS_LI
    ORDER BY NR_ITEM

    SET @i_item = @i_item + 1
    SET @s_item = CONVERT( char(3), @i_item )
    SET @s_item = RIGHT( ( '000' + rtrim( @s_item ) ), 3 )

    IF ( SELECT COUNT(*) FROM TLICENCA_NVE ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo )  > 0
    BEGIN
      UPDATE TLICENCA_NVE 
      SET NR_ITEM = @s_item 
      WHERE NR_PROCESSO = @nr_processo
        AND NR_ITEM     = @nr_item
    END

    UPDATE TLICENCA_ITENS 
    SET NR_ITEM = @s_item 
    WHERE NR_PROCESSO = @nr_processo
      AND NR_ITEM     = @nr_item

    DELETE FROM #TMP_ITENS_LI WHERE NR_ITEM = @nr_item
  END
END
ELSE
BEGIN 
  UPDATE TLICENCA_IMPORTACAO 
  SET QT_TOTAL_ITEM = '000'
  WHERE NR_PROCESSO = @nr_processo
END

RETURN(0)
/*
select * from tlicenca_importacao ( nolock ) where nr_processo = @nr_processo
select * from tlicenca_itens      ( nolock ) where nr_processo = @nr_processo

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
