USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE      PROC [sp_distribui_recebimento] (@nr_recebimento char(6), @cd_unid_neg char(2),
                                        @cd_cliente char(5), @vl_recebimento float,
                                        @cd_banco char(3)) AS
DECLARE @nr_processo char(18)
DECLARE @cd_item char(3)
DECLARE @nr_lancamento char(3)
DECLARE @nr_lanc_receb char(6)
DECLARE @vl_recebido float
DECLARE @vl_tot_Processo float
DECLARE @vl_saldo float
DECLARE @nr_lanc_prioridade char(3)
DECLARE @nr_proc_prioridade char(4)

SET @nr_lanc_prioridade = ''
SET @nr_proc_prioridade = ''

SET @vl_saldo = @vl_recebimento

--CRIA UM TEMP PARA ALOCAR OS ITENS CANCELADOS
SELECT NR_LANC_RECEB, NR_PROCESSO, NR_SOLICITACAO
INTO   #TM_PROCESSO
FROM   TRECEBIMENTO_PROCESSO (NOLOCK)
WHERE  1 = 0
  --ITEMS DO AGECIAMENTO...TEM MAIS PRIORIDADE QUE DO DESEMBARAÇO
SELECT NR_LANCAMENTO, CD_ITEM, VL_RECEBIDO
INTO   #TM_ITEM_AG
FROM   TRECEBIMENTO_PROCESSO_ITEM (NOLOCK)
WHERE  1 = 0
  --ITEM DO DESEMBARAÇO SEGUE AS PRIORIDADE CADASTRADAS
SELECT NR_LANCAMENTO, CD_ITEM, VL_RECEBIDO
INTO   #TM_ITEM_DES
FROM   TRECEBIMENTO_PROCESSO_ITEM (NOLOCK)
WHERE  1 = 0


INSERT #TM_PROCESSO (NR_LANC_RECEB, NR_PROCESSO, NR_SOLICITACAO)
 SELECT NR_LANC_RECEB, NR_PROCESSO, NR_SOLICITACAO
   FROM TRECEBIMENTO_PROCESSO  (NOLOCK)
  WHERE NR_RECEBIMENTO = @nr_recebimento
    AND CD_CLIENTE     = @cd_cliente 
    AND CD_UNID_NEG    = @cd_unid_neg
 ORDER BY NR_PRIORIDADE

UPDATE TRECEBIMENTO_PROCESSO
   SET VL_RECEBIDO  = 0, 
       VL_ADICIONAL = 0 
 WHERE NR_RECEBIMENTO = @nr_recebimento 
   AND CD_CLIENTE     = @cd_cliente
   AND CD_UNID_NEG    = @cd_unid_neg  


UPDATE TRECEBIMENTO_PROCESSO_ITEM 
   SET VL_RECEBIDO       = 0, 
       VL_ADICIONAL_ITEM = 0 
 WHERE NR_RECEBIMENTO  = @nr_recebimento 
   AND CD_CLIENTE      = @cd_cliente
   AND CD_UNID_NEG     = @cd_unid_neg 

WHILE (SELECT COUNT(*) FROM #TM_PROCESSO (NOLOCK))> 0
 BEGIN
 -- DISTRIBUINDO ITENS DO AGENCIAMENTO
  SELECT TOP 1 @nr_lanc_receb = NR_LANC_RECEB FROM #TM_PROCESSO  (NOLOCK)

  IF @nr_proc_prioridade = '' SET @nr_proc_prioridade = @nr_lanc_receb

  set @vl_tot_processo = 0 

  INSERT #TM_ITEM_AG (NR_LANCAMENTO, CD_ITEM, VL_RECEBIDO)
  SELECT NR_LANCAMENTO, CD_ITEM, VL_UTILIZADO
   FROM TRECEBIMENTO_PROCESSO_ITEM  (NOLOCK)
  WHERE NR_RECEBIMENTO = @nr_recebimento
    AND CD_CLIENTE     = @cd_cliente 
    AND CD_UNID_NEG    = @cd_unid_neg  
    AND NR_LANC_RECEB  = @nr_lanc_receb 
    AND VL_VENDA > 0        
  
  WHILE  (SELECT COUNT(*) FROM #TM_ITEM_AG (NOLOCK))> 0  
  BEGIN
   SELECT TOP 1 @nr_lancamento = NR_LANCAMENTO, @cd_item = CD_ITEM , 
                @vl_recebido = VL_RECEBIDO FROM #TM_ITEM_AG (NOLOCK)
   IF @nr_lanc_prioridade = '' SET @nr_lanc_prioridade = @nr_lancamento
    
   IF (@vl_saldo < @vl_recebido) set @vl_recebido = @vl_saldo
  
   UPDATE TRECEBIMENTO_PROCESSO_ITEM 
     SET VL_RECEBIDO   = @vl_recebido,
         CD_BANCO_ITEM = @cd_banco 
   WHERE  NR_RECEBIMENTO = @nr_recebimento 
     AND CD_CLIENTE      = @cd_cliente
     AND CD_UNID_NEG     = @cd_unid_neg  
     AND NR_LANC_RECEB   = @nr_lanc_receb
     AND NR_LANCAMENTO   = @nr_lancamento  
     
   SET @vl_saldo = @vl_saldo - @vl_recebido 
   set @vl_tot_processo =  @vl_tot_processo + @vl_recebido    
     
   IF (@vl_saldo < 0) OR (@vl_saldo = 0) BREAK

   DELETE FROM #TM_ITEM_AG WHERE NR_LANCAMENTO = @nr_lancamento
  END--WHILE #TM_ITEM_AG
--FIM DA GRAVACAO DOS ITENS DO AGENCIAMENTO

--GRAVANDO DISTRIBUINDO ITENS DO FESEMBARAÇO
 INSERT #TM_ITEM_DES (NR_LANCAMENTO, CD_ITEM, VL_RECEBIDO)
 SELECT N.NR_LANCAMENTO, N.CD_ITEM, N.VL_UTILIZADO
   FROM TRECEBIMENTO_PROCESSO_ITEM N (NOLOCK), TITEM_PRIORIDADE I (NOLOCK)
  WHERE N.NR_RECEBIMENTO = @nr_recebimento
    AND N.CD_CLIENTE       = @cd_cliente 
    AND N.CD_UNID_NEG      = @cd_unid_neg  
    AND N.NR_LANC_RECEB    = @nr_lanc_receb 
    AND ISNULL(N.CD_MOEDA_VENDA,'') = '' 
    AND N.CD_ITEM          = I.CD_ITEM
    AND I.CD_UNID_NEG      = N.CD_UNID_NEG 
    AND I.CD_PRODUTO  = SUBSTRING(N.NR_PROCESSO, 3,2)
 ORDER BY I.NR_PRIORIDADE
   
 WHILE (SELECT COUNT(*) FROM #TM_ITEM_DES (NOLOCK))> 0  
  BEGIN
   SELECT TOP 1 @nr_lancamento = NR_LANCAMENTO, @cd_item = CD_ITEM , 
                  @vl_recebido = VL_RECEBIDO FROM #TM_ITEM_DES (NOLOCK)

   IF @nr_lanc_prioridade = '' SET @nr_lanc_prioridade = @nr_lancamento

   IF (@vl_saldo < @vl_recebido)    set @vl_recebido = @vl_saldo
  
  UPDATE TRECEBIMENTO_PROCESSO_ITEM 
     SET VL_RECEBIDO   = @vl_recebido,
         CD_BANCO_ITEM = @cd_banco
  WHERE  NR_RECEBIMENTO = @nr_recebimento 
    AND CD_CLIENTE      = @cd_cliente
    AND CD_UNID_NEG     = @cd_unid_neg  
    AND NR_LANC_RECEB   = @nr_lanc_receb
    AND NR_LANCAMENTO   = @nr_lancamento  
     
  SET @vl_saldo = @vl_saldo - @vl_recebido 
  set @vl_tot_processo =  @vl_tot_processo + @vl_recebido    
     
  IF (@vl_saldo < 0) OR (@vl_saldo = 0) BREAK

  DELETE FROM #TM_ITEM_DES WHERE NR_LANCAMENTO = @nr_lancamento 
 END

 UPDATE TRECEBIMENTO_PROCESSO
    SET VL_RECEBIDO = @vl_tot_processo
  WHERE NR_RECEBIMENTO = @nr_recebimento 
    AND CD_CLIENTE     = @cd_cliente
    AND CD_UNID_NEG    = @cd_unid_neg  
    AND NR_LANC_RECEB  = @nr_lanc_receb 

  IF (@vl_saldo < 0) OR (@vl_saldo = 0) BREAK

  DELETE FROM #TM_PROCESSO WHERE NR_LANC_RECEB = @nr_lanc_receb
  
 END --WHILE #TM_PROCESSO

UPDATE TRECEBIMENTO_PROCESSO_ITEM 
   SET VL_ADICIONAL_ITEM= @vl_saldo
  WHERE  NR_RECEBIMENTO = @nr_recebimento 
    AND CD_CLIENTE      = @cd_cliente
    AND CD_UNID_NEG     = @cd_unid_neg  
    AND NR_LANC_RECEB   = @nr_proc_prioridade
    AND NR_LANCAMENTO   = @nr_lanc_prioridade  

UPDATE TRECEBIMENTO_PROCESSO
   SET VL_ADICIONAL = @vl_saldo
 WHERE NR_RECEBIMENTO = @nr_recebimento 
   AND CD_CLIENTE     = @cd_cliente
   AND CD_UNID_NEG    = @cd_unid_neg  
   AND NR_LANC_RECEB  = @nr_proc_prioridade 

UPDATE TRECEBIMENTO_AG
   SET VL_TT_ADICIONAL = @vl_saldo
 WHERE NR_RECEBIMENTO  = @nr_recebimento 
   AND CD_CLIENTE      = @cd_cliente
   AND CD_UNID_NEG     = @cd_unid_neg  


DROP TABLE #TM_ITEM_AG
DROP TABLE #TM_PROCESSO






GO
