USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [sp_rel_vl_retencao] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), 
                                      @cd_cliente char(5), @dt_inicio datetime, @dt_final datetime, 
                                      @nr_identificador int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON

DECLARE @cd_unid_neg             char(2)
DECLARE @cd_produto              char(2)
DECLARE @cd_grupo                char(3)
DECLARE @cd_cliente              char(5)
DECLARE @dt_inicio               datetime
DECLARE @dt_final                datetime
DECLARE @nr_identificador        int

SELECT  @cd_unid_neg   = '01'
SELECT  @cd_produto    = '01'
SELECT  @cd_grupo      = 'X'
SELECT  @cd_cliente    = 'X'
SELECT  @dt_inicio     = CONVERT( datetime, '01/02/2004', 103 )
SELECT  @dt_final      = CONVERT( datetime, '29/02/2004', 103 )
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM TREL_VL_RETENCAO


/* -- comentado André 21/10/2008 a tabela não é mais usada
INSERT TREL_VL_RETENCAO ( NR_IDENTIFICADOR, NR_PROCESSO, NR_SOLICITACAO, CD_CLIENTE, AP_CLIENTE, CD_GRUPO, NR_NOTA, DT_FATURA,
                          VL_TRIBUTAVEL, VL_RETENCAO, NR_NOTA_ACUMULADA, IN_STATUS, NM_USUARIO_CANC, DT_CANC )
SELECT @nr_identificador, R.NR_PROCESSO, R.NR_SOLICITACAO, R.CD_CLIENTE, 
       ( SELECT SUBSTRING( E.NM_EMPRESA, 1, 20 )
         FROM   TEMPRESA_NAC E (NOLOCK) 
         WHERE  E.CD_EMPRESA = R.CD_CLIENTE ) AS AP_EMPRESA, 
       R.CD_GRUPO, R.NR_NOTA, R.DT_FATURA, 
       R.VL_TRIBUTAVEL, R.VL_RETENCAO, R.NR_NOTA_ACUMULADA, R.IN_STATUS, 
       ( SELECT SUBSTRING( U.NM_USUARIO, 1, 20 )
         FROM TUSUARIO U (NOLOCK)
         WHERE U.CD_USUARIO = R.CD_USUARIO_CANC ) AS USUARIO , 
       R.DT_CANC
FROM   TNF_RETENCAO R (NOLOCK)
WHERE  @cd_unid_neg IN ( CD_UNID_NEG, 'X' ) AND 
       @cd_produto  IN ( CD_PRODUTO, 'X' ) AND
       @cd_grupo    IN ( CD_GRUPO, 'X' ) AND 
       @cd_cliente  IN ( CD_CLIENTE, 'X' ) AND
       DT_FATURA BETWEEN @dt_inicio AND @dt_final*/

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
