USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ALIMENTA_REF_CLIENTE](@NR_PROCESSO CHAR(18), @ID_CODIGO CHAR(18)) AS
BEGIN

/*
    BEGIN TRAN

    DECLARE @NR_PROCESSO CHAR(18) = '0101IM-003690-14'
    DECLARE @ID_CODIGO   CHAR(18) = 'ID00000816-14'
--*/

    IF ISNULL(@NR_PROCESSO, '') = ''
        /*
        SELECT 1
        --*/RETURN 1
    ELSE IF ISNULL(@ID_CODIGO, '') = ''
        /*
        SELECT 2
        --*/RETURN 2
    ELSE IF (SELECT COUNT(*)
             FROM TPROCESSO
             WHERE NR_PROCESSO = @NR_PROCESSO
               AND IN_CANCELADO = '0') = 0
        /*
        SELECT 1
        --*/RETURN 3

    DELETE TREF_CLIENTE
    WHERE TP_REFERENCIA = '01'
      AND NR_PROCESSO = @NR_PROCESSO


    DECLARE @CD_SERVICO   CHAR(3)
    DECLARE @CD_AREA      CHAR(3)
    DECLARE @IN_LI        CHAR(1)
    DECLARE @NR_SEQUENCIA INT

    SELECT @CD_SERVICO = CD_SERVICO,
           @CD_AREA = CD_AREA
    FROM TPROCESSO
    WHERE NR_PROCESSO = @NR_PROCESSO

    SELECT @IN_LI = IN_LI
    FROM VW_SERVICO_GERAL
    WHERE CD_SERVICO = @CD_SERVICO

    SELECT @NR_SEQUENCIA = ISNULL(MAX(CONVERT(INT, NR_SEQUENCIA)), 0)
    FROM TREF_CLIENTE (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO

    DECLARE @NR_REFERENCIA CHAR(18)
    DECLARE @CD_CLIENTE    CHAR(5)
    DECLARE @NR_ITEM_PO    CHAR(4)
    DECLARE @NR_PARCIAL    INT

    DECLARE @TB_REFERENCIA AS TABLE (
        NR_REFERENCIA CHAR(18),
        CD_CLIENTE    CHAR(5),
        NR_ITEM_PO    CHAR(4),
        NR_PARCIAL    INT
    )

    INSERT INTO TREF_CLIENTE(IN_FLAG_LI, NR_PROCESSO, NR_SEQUENCIA, CD_REFERENCIA, CD_EMPRESA, NR_ITEM_PO, NR_PARCIAL, CD_AREA, TP_REFERENCIA)
    SELECT @IN_LI,
           @NR_PROCESSO,
           RIGHT('0000' + CONVERT(VARCHAR, DENSE_RANK() OVER(ORDER BY ID.CD_CLIENTE, IDP.NR_REFERENCIA, IDP.NR_ITEM_PO, IDP.NR_PARCIAL) + @NR_SEQUENCIA), 5),
           NR_REFERENCIA,
           CD_CLIENTE,
           NR_ITEM_PO,
           NR_PARCIAL,
           @CD_AREA, '01'
    FROM TINSTRUCAO_DESEMBARACO_PEDIDO IDP
       INNER JOIN TINSTRUCAO_DESEMBARACO ID ON ID.ID_CODIGO = IDP.ID_CODIGO
    WHERE IDP.ID_CODIGO = @ID_CODIGO

    /*
    SELECT 0
    --*/RETURN 0

    /*
    SELECT *
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @NR_PROCESSO

    ROLLBACK
    --*/
END

GO
