USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_calc_padrao_base_icms_sul] ( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0101AE-1073-01'
*/

DECLARE @tp_calculo      char(3)
DECLARE @nr_seq          char(3)
DECLARE @cd_item         char(3)
DECLARE @nm_stored_proc  varchar(30)
DECLARE @vl_calculado    numeric(14,2)
DECLARE @erro   int
DECLARE @cd_usuario      char(4)

IF ( SELECT COUNT(*) 
     FROM   TPROCESSO P,
            TCLIENTE_ICMS_SUL I
     WHERE  P.CD_CLIENTE     = I.CD_CLIENTE     AND
            P.CD_UNID_NEG    = I.CD_UNID_NEG    AND
            P.CD_PRODUTO     = I.CD_PRODUTO     AND
            P.NR_PROCESSO    = @nr_processo) > 0
BEGIN

  DECLARE c_base_icms CURSOR FOR
    SELECT I.CD_ITEM, S.NM_STORED_PROCEDURE, I.TP_CALCULO, I.NR_SEQ
    FROM   TPROCESSO P,
           TCLIENTE_ICMS_SUL I,
           TCALCULO S
    WHERE  P.CD_CLIENTE     = I.CD_CLIENTE     AND
           P.CD_UNID_NEG    = I.CD_UNID_NEG    AND
           P.CD_PRODUTO     = I.CD_PRODUTO     AND
           I.TP_CALCULO     = S.CD_CALCULO     AND
           P.NR_PROCESSO    = @nr_processo    

  IF (SELECT COUNT(*)
           FROM TICMS_SUL 
           WHERE NR_PROCESSO = @nr_processo) > 0
  BEGIN
       DELETE FROM TICMS_SUL WHERE NR_PROCESSO = @nr_processo
  END

  OPEN c_base_icms
  FETCH c_base_icms INTO @cd_item, @nm_stored_proc, @tp_calculo, @nr_seq
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @vl_calculado = 0

    EXEC @nm_stored_proc @nr_processo, @cd_item, @vl_calculado output

    INSERT TICMS_SUL 
      VALUES (@nr_processo, @nr_seq, @cd_item, @tp_calculo, @vl_calculado)
    
    FETCH c_base_icms INTO @cd_item, @nm_stored_proc, @tp_calculo, @nr_seq
  END
  CLOSE c_base_icms
  DEALLOCATE c_base_icms

END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
