USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_abre_processo] @nr_registro int, @nr_processo char(18), @cd_restricao char(1), @in_liberado char(1) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_registro int
DECLARE @nr_processo char(18)
DECLARE @cd_restricao char(1)
DECLARE @in_liberado char(1)

SELECT @nr_processo = '0101I0-8888-01'
SELECT @cd_restricao = '0'
SELECT @in_liberado = '1'
SELECT @nr_registro = 1

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_usuario char(4)
DECLARE @in_incide_sda char(1)
DECLARE @cd_status_sda char(1)
DECLARE @cd_produto char(2)
DECLARE @cd_representante char(5)
DECLARE @cd_pais_destino char(03)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_NAME()

IF ( SELECT CD_PRODUTO 
     FROM   TABRE_PROCESSO 
     WHERE  NR_REGISTRO = @nr_registro ) IN ( '02', '10' )
BEGIN
  SELECT @cd_pais_destino = CD_PAIS 
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = ( SELECT CD_UNID_NEG 
                         FROM   TABRE_PROCESSO 
                         WHERE  NR_REGISTRO = @nr_registro )
END
ELSE SELECT @cd_pais_destino = ''

SELECT @cd_representante = ( SELECT MAX( CD_REPRESENTANTE ) 
                             FROM TCLIENTE_REPRESENTANTE  
                             WHERE CD_CLIENTE  = ( SELECT CD_CLIENTE  FROM TABRE_PROCESSO 
                                                   WHERE  NR_REGISTRO = @nr_registro ) AND
                                   CD_PRODUTO  = ( SELECT CD_PRODUTO  FROM TABRE_PROCESSO 
                                                   WHERE  NR_REGISTRO = @nr_registro ) AND
                                   CD_UNID_NEG = ( SELECT CD_UNID_NEG FROM TABRE_PROCESSO 
                                                   WHERE  NR_REGISTRO = @nr_registro ) AND
                                   CD_SERVICO  = ( SELECT CD_SERVICO  FROM TABRE_PROCESSO 
                                                   WHERE  NR_REGISTRO = @nr_registro ) AND 				      
                                   ISNULL( IN_ATIVO,'0' ) = '1' )

SELECT @in_incide_sda = S.IN_INCIDE_SDA,
       @cd_produto = S.CD_PRODUTO
FROM   TABRE_PROCESSO A, TCLIENTE_SERVICO S
WHERE  A.CD_CLIENTE = S.CD_CLIENTE AND
       A.CD_UNID_NEG = S.CD_UNID_NEG AND
       A.CD_PRODUTO = S.CD_PRODUTO AND
       A.CD_SERVICO = S.CD_SERVICO AND
       A.NR_REGISTRO = @nr_registro

IF @in_incide_sda = '0' SELECT @cd_status_sda = '*'
ELSE SELECT @cd_status_sda = '0'

INSERT TPROCESSO ( NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_REPRESENTANTE, CD_EMP_EST, CD_SERVICO, NR_CONHECIMENTO, NR_CONHECIMENTO_MASTER, 
                   DT_CONHECIMENTO, CD_TRANSP_NAC, CD_PAIS_ORIGEM, CD_PAIS_DESTINO, TX_MERCADORIA, VL_PESO_LIQUIDO, VL_PESO_BRUTO, 
                   VL_MLE_MNEG, CD_INCOTERM, VL_FRETE_PREPAID_MNEG, VL_FRETE_COLLECT_MNEG, VL_FRETE_TNAC_MNEG, VL_SEGURO_MNEG, 
                   DT_ABERTURA, CD_USUARIO, CD_STATUS_SDA, IN_LIBERADO, CD_RESTRICAO, CD_UNID_NEG_VINC, CD_PRODUTO_VINC, 
                   NR_PROCESSO_VINC, TP_FRETE )
  SELECT @nr_processo, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, @cd_representante, CD_EMP_EST, CD_SERVICO, NR_CONHECIMENTO, NR_CONHECIMENTO_MASTER, 
         DT_CONHECIMENTO, CD_TRANSP_NAC, CD_PAIS_ORIGEM, @cd_pais_destino, TX_MERCADORIA, VL_PESO_LIQUIDO, VL_PESO_BRUTO, 
         VL_MLE, CD_INCOTERM, VL_FRETE_PREPAID, VL_FRETE_COLLECT, VL_FRETE_TER_NAC, VL_SEGURO, 
         CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ), @cd_usuario, @cd_status_sda, @in_liberado, @cd_restricao, CD_UNID_NEG_VINC, CD_PRODUTO_VINC, 
         NR_PROCESSO_VINC,
         CASE VL_FRETE_COLLECT
            WHEN 0 THEN  '1' 
            ELSE '0'
         END
  FROM   TABRE_PROCESSO
  WHERE  NR_REGISTRO = @nr_registro

INSERT TDOCUMENTO_INSTRUCAO( NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_DCTO_INSTR, NR_DCTO_INSTRUCAO )
  SELECT @nr_processo, ( SELECT ( ISNULL( MAX( NR_SEQUENCIA ), 0 ) + 1 )
                         FROM   TDOCUMENTO_INSTRUCAO
                         WHERE  NR_PROCESSO = @nr_processo ),
         '01', 
         CASE CD_PRODUTO 
            WHEN '01' THEN ( SELECT MAX( CD_REFERENCIA )
                             FROM   TABRE_PROCESSO_DOCUMENTO 
                             WHERE  NR_REGISTRO = @nr_registro AND
                                    CD_DOCUMENTO IN ( SELECT CD_DOC_FAT_IMP FROM TPARAMETROS ) )
            WHEN '02' THEN ( SELECT MAX( CD_REFERENCIA )
                             FROM   TABRE_PROCESSO_DOCUMENTO 
                             WHERE  NR_REGISTRO = @nr_registro AND
                                    CD_DOCUMENTO IN ( SELECT CD_DOC_FAT_EXP FROM TPARAMETROS ) )
            WHEN '03' THEN ( SELECT MAX( CD_REFERENCIA )
                             FROM   TABRE_PROCESSO_DOCUMENTO 
                             WHERE  NR_REGISTRO = @nr_registro AND
                                    CD_DOCUMENTO IN ( SELECT CD_DOC_FAT_IMP FROM TPARAMETROS ) )
            WHEN '10' THEN ( SELECT MAX( CD_REFERENCIA )
                             FROM   TABRE_PROCESSO_DOCUMENTO 
                             WHERE  NR_REGISTRO = @nr_registro AND
                                    CD_DOCUMENTO IN ( SELECT CD_DOC_FAT_EXP FROM TPARAMETROS ) )
            ELSE ''
          END
  FROM   TABRE_PROCESSO
  WHERE  NR_REGISTRO = @nr_registro

IF @cd_produto IN ( '02', '10' )
BEGIN
  INSERT TPROCESSO_EXP_DDE_RE ( NR_PROCESSO, NR_RE, NR_ANEXO_INI, NR_ANEXO_FIM )
  SELECT @nr_processo, NR_RE, NR_ANEXO_INI, NR_ANEXO_FIM
  FROM   TABRE_PROCESSO_EXP_DDE_RE
  WHERE  NR_REGISTRO = @nr_registro

  INSERT TPROCESSO_EXP_DDE_NF ( NR_PROCESSO, NR_NF_INI, NR_NF_FIM, SERIE_NF )
  SELECT @nr_processo, NR_NF_INI, NR_NF_FIM, SERIE_NF
  FROM   TABRE_PROCESSO_EXP_DDE_NF
  WHERE  NR_REGISTRO = @nr_registro
END


GO
