USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_saldo_drawback]( @NR_PROCESSO char(18), @tp_movimento char(2)) AS

/*
DECLARE @nr_processo_db char(18)
DECLARE @nr_processo    char(18)
DECLARE @tp_movimento   char(2)

SELECT @nr_processo     = '0101I0-0660-03'
SELECT @tp_movimento    = 'DI' 
*/

DECLARE @NR_ATO_DRAWBACK     char(15)
DECLARE @CD_MAT_PRI          char(18)  
DECLARE @NR_ITEM             char(3)
DECLARE @CD_MERCADORIA       varchar(40)
DECLARE @VL_UNIT_MLE         float(8)
DECLARE @VL_CIF              float(8)
DECLARE @VL_SEGURO           float(8)
DECLARE @VL_ALIQ_SEGURO      float(8)
DECLARE @VL_FOB              float(8)
DECLARE @VL_FOB_LIQ          float(8)
DECLARE @VL_FRETE            float(8)
DECLARE @QT_IMP_ATO          float(8)
DECLARE @QT_MERC_UN_COMERC   float(8)
DECLARE @SALDO_TRANSM        float(8)
DECLARE @NR_ADICAO           char(3)
DECLARE @NR_REGISTRO_LI      char(10)
DECLARE @NR_PEDIDO           char(10)
DECLARE @CD_MERCADORIA_EXP   char(40)
DECLARE @CD_MOEDA_FRETE      char(3)
DECLARE @CD_MOEDA_FOB        char(3)
DECLARE @PL_MERCADORIA       float(8)
DECLARE @QT_MERCADORIA       float(8)
DECLARE @NR_DDE              char(11)
DECLARE @DT_DDE              datetime
DECLARE @NR_FORECAST         char(14)
DECLARE @VL_COMISSAO_PERCENT float
DECLARE @MOEDA_RE            char(3)
DECLARE @COTACAO_DOLAR       float
DECLARE @COTACAO_EURO        float
DECLARE @INDICE_EURO_DOLAR   float
DECLARE @VL_FOB_USD          float
DECLARE @DT_REGISTRO_PEDIDO  datetime


  IF @tp_movimento = 'LI' 
  BEGIN 
    SELECT @NR_ATO_DRAWBACK = NR_ATO_DRAWBACK,  @CD_MOEDA_FRETE  = CD_MOEDA_FRETE, 
           @CD_MOEDA_FOB = CD_MOEDA_FOB
     FROM TLICENCA_IMPORTACAO
    WHERE NR_PROCESSO = @NR_PROCESSO AND
          NR_ATO_DRAWBACK IN ( SELECT NR_ATO_CONC FROM TATO_CONC_SUSP )  -- ato do myindaia
  
    SELECT NR_PROCESSO, NR_ITEM, CD_MERCADORIA, VL_UNIT_MLE, QT_MERC_UN_COMERC, PL_MERCADORIA
      INTO #LICENC_IMPORT_ITENS
      FROM TLICENCA_ITENS
     WHERE NR_PROCESSO = @NR_PROCESSO AND ISNULL(CD_MERCADORIA,'') <> ''

    WHILE ( SELECT COUNT(*) FROM #LICENC_IMPORT_ITENS ) > 0 
    BEGIN
      SELECT @NR_ITEM = NR_ITEM, @CD_MERCADORIA = CD_MERCADORIA, @VL_UNIT_MLE = VL_UNIT_MLE,
             @QT_MERC_UN_COMERC = QT_MERC_UN_COMERC, @PL_MERCADORIA     = PL_MERCADORIA
        FROM #LICENC_IMPORT_ITENS

      IF @NR_ATO_DRAWBACK <> '' 
      BEGIN
        -- Caso precise transmitir novamente o mesmo processo/ato/mercadoria então limpar antes
        DELETE FROM TSALDO_DRAWBACK
        WHERE  NR_ATO_DRAWBACK = @NR_ATO_DRAWBACK AND CD_MAT_PRI = @CD_MERCADORIA AND 
              NR_PROCESSO = @NR_PROCESSO

        -- Verifica se a Mercadoria já está incluída na tabela de Controle de Saldos	
      	SELECT @SALDO_TRANSM = SUM(SALDO_TRANSM_LI) 
          FROM TSALDO_DRAWBACK
         WHERE NR_ATO_DRAWBACK = @NR_ATO_DRAWBACK AND CD_MAT_PRI = @CD_MERCADORIA --AND NR_PROCESSO <> @NR_PROCESSO

  	    SELECT @QT_IMP_ATO = B.QT_IMP, @VL_ALIQ_SEGURO = B.VL_ALIQ_SEGURO, 
      	       @VL_FOB = B.VL_FOB, @VL_FRETE = B.VL_FRETE_UNIT, 
      	       @CD_MERCADORIA_EXP = B.CD_MERCADORIA
        	FROM TATO_CONC_SUSP A, TFORECAST_IMP B
         WHERE A.NR_ATO_CONC = @NR_ATO_DRAWBACK AND B.NR_FORECAST = A.NR_FORECAST AND
               B.CD_MAT_PRi = @CD_MERCADORIA

       SELECT @VL_SEGURO = (@VL_UNIT_MLE * @QT_MERC_UN_COMERC) + (@VL_FRETE * @QT_MERC_UN_COMERC) * (@VL_ALIQ_SEGURO/100)
   	   SELECT @VL_CIF = (@VL_UNIT_MLE * @QT_MERC_UN_COMERC) + (@VL_FRETE * @QT_MERC_UN_COMERC) + @VL_SEGURO  
		

	      IF @SALDO_TRANSM > 0 
 	      BEGIN
    	    INSERT INTO TSALDO_DRAWBACK (NR_ATO_DRAWBACK, NR_PROCESSO, NR_ITEM, CD_MERCADORIA, CD_MAT_PRI, DT_TRANSM_LI, QTD_TRANSM_LI, SALDO_TRANSM_LI, VL_UNITARIO, VL_CIF, VL_SEGURO, VL_FOB, VL_FRETE, STATUS_LI, CD_MOEDA, CD_MOEDA_FRETE, PL_MAT_PRI)
          VALUES (@NR_ATO_DRAWBACK, @NR_PROCESSO, @NR_ITEM, @CD_MERCADORIA_EXP, @CD_MERCADORIA, GetDate(), @QT_MERC_UN_COMERC, @SALDO_TRANSM - @QT_MERC_UN_COMERC, @VL_UNIT_MLE, @VL_CIF, @VL_SEGURO, @VL_UNIT_MLE * @QT_MERC_UN_COMERC, @VL_FRETE, 'T', @CD_MOEDA_FOB, @CD_MOEDA_FRETE, @PL_MERCADORIA)
	      END
        ELSE
	      BEGIN
    	    INSERT INTO TSALDO_DRAWBACK (NR_ATO_DRAWBACK, NR_PROCESSO, NR_ITEM, CD_MERCADORIA, CD_MAT_PRI, DT_TRANSM_LI, QTD_TRANSM_LI, SALDO_TRANSM_LI, VL_UNITARIO, VL_CIF, VL_SEGURO, VL_FOB, VL_FRETE, STATUS_LI, CD_MOEDA, CD_MOEDA_FRETE, PL_MAT_PRI) 
       	  VALUES (@NR_ATO_DRAWBACK, @NR_PROCESSO, @NR_ITEM, @CD_MERCADORIA_EXP, @CD_MERCADORIA, GetDate(), @QT_MERC_UN_COMERC, @QT_IMP_ATO - @QT_MERC_UN_COMERC, @VL_UNIT_MLE, @VL_CIF, @VL_SEGURO, @VL_UNIT_MLE * @QT_MERC_UN_COMERC, @VL_FRETE, 'T', @CD_MOEDA_FOB, @CD_MOEDA_FRETE, @PL_MERCADORIA)
	      END
      END
      DELETE from #LICENC_IMPORT_ITENS where NR_PROCESSO = @NR_PROCESSO and NR_ITEM = @NR_ITEM
    END
    DROP TABLE #LICENC_IMPORT_ITENS
  END
  ELSE IF @tp_movimento = 'DI'
  BEGIN
    SELECT A.NR_PROCESSO,	A.NR_ADICAO, A.NR_ATO_DRAWBACK, A.NR_OPER_TRAT_PREV, B.CD_MOEDA_MLE, B.CD_MOEDA_FRETE
      INTO #ADICOES_IMPORT
      FROM TADICAO_DE_IMPORTACAO A, TDECLARACAO_IMPORTACAO B
     WHERE A.NR_PROCESSO = @NR_PROCESSO AND
           A.NR_ATO_DRAWBACK IN ( SELECT NR_ATO_CONC FROM TATO_CONC_SUSP ) AND -- ato do myindaia
           B.NR_PROCESSO = A.NR_PROCESSO

    SELECT NR_PROCESSO, NR_ADICAO, NR_ITEM, NR_PEDIDO, CD_MERCADORIA, VL_UNITARIO, QT_MERC_UN_COMERC, PL_MERCADORIA
      INTO #TDETALHE_MERC
      FROM TDETALHE_MERCADORIA
     WHERE NR_PROCESSO = @NR_PROCESSO AND ISNULL(CD_MERCADORIA,'') <> ''
	
    WHILE ( SELECT count(*) FROM #ADICOES_IMPORT ) > 0
    BEGIN
      SELECT @NR_PROCESSO = NR_PROCESSO, @NR_ADICAO = NR_ADICAO, @NR_ATO_DRAWBACK = NR_ATO_DRAWBACK, @NR_REGISTRO_LI  = NR_OPER_TRAT_PREV, 
             @CD_MOEDA_FOB    = CD_MOEDA_MLE, @CD_MOEDA_FRETE  = CD_MOEDA_FRETE
        FROM #ADICOES_IMPORT
       WHERE NR_PROCESSO = @NR_PROCESSO and ISNULL(NR_ATO_DRAWBACK,'') <> '' 
	
      WHILE (select count(*) from #TDETALHE_MERC where NR_PROCESSO = @NR_PROCESSO and NR_ADICAO = @NR_ADICAO) > 0 
      BEGIN
	      SELECT @NR_ADICAO = NR_ADICAO, @NR_ITEM = NR_ITEM, @CD_MERCADORIA = CD_MERCADORIA, @VL_UNIT_MLE = VL_UNITARIO, 
               @QT_MERC_UN_COMERC = QT_MERC_UN_COMERC, @NR_PEDIDO = NR_PEDIDO, @PL_MERCADORIA = PL_MERCADORIA
          FROM #TDETALHE_MERC 
	
        -- se o numero da LI for do MyIndaia, então atualiza a tabela de saldos	
      	IF ( SELECT COUNT(*) FROM TLICENCA_IMPORTACAO WHERE NR_REGISTRO_LI = @NR_REGISTRO_LI ) > 0 
      	BEGIN
       	  UPDATE TSALDO_DRAWBACK 
	        SET DT_TRANSM_DI = getdate(), 
        	    STATUS_DI = 'T', 
         	    NR_ADICAO = @NR_ADICAO, 
        	    NR_PEDIDO = @NR_PEDIDO
    	  WHERE NR_ATO_DRAWBACK = @NR_ATO_DRAWBACK and 
        	    NR_LI = @NR_REGISTRO_LI and
        	    CD_MAT_PRI = @CD_MERCADORIA
      	END
        ELSE
	      BEGIN
          -- Verifica se a Mercadoria já está incluída na tabela de Controle de Saldos	
	        SELECT @SALDO_TRANSM = SUM(SALDO_TRANSM_LI) 
            FROM TSALDO_DRAWBACK
	         WHERE NR_ATO_DRAWBACK = @NR_ATO_DRAWBACK AND
	               CD_MAT_PRI = @CD_MERCADORIA AND 
	               NR_PROCESSO <> SUBSTRING(@NR_PROCESSO,1,14)

  	      SELECT @QT_IMP_ATO = B.QT_IMP,  @VL_CIF = B.VL_CIF,  @VL_ALIQ_SEGURO = B.VL_ALIQ_SEGURO, 
	               @VL_FOB = B.VL_FOB,  @VL_FRETE = B.VL_FRETE_UNIT,  @CD_MERCADORIA_EXP = B.CD_MERCADORIA
	          FROM TATO_CONC_SUSP A, TFORECAST_IMP B
	         WHERE A.NR_ATO_CONC = @NR_ATO_DRAWBACK AND B.NR_FORECAST = A.NR_FORECAST AND
	               B.CD_MAT_PRi = @CD_MERCADORIA

       	 SELECT @VL_SEGURO = (@VL_UNIT_MLE * @QT_MERC_UN_COMERC) + (@VL_FRETE * @QT_MERC_UN_COMERC) * (@VL_ALIQ_SEGURO/100)	  
         SELECT @VL_CIF = (@VL_UNIT_MLE * @QT_MERC_UN_COMERC) + (@VL_FRETE * @QT_MERC_UN_COMERC) + @VL_SEGURO  

         -- Caso precise transmitir novamente então limpar os registros repetidos
    	   DELETE FROM TSALDO_DRAWBACK
	       WHERE NR_ATO_DRAWBACK = @NR_ATO_DRAWBACK AND CD_MAT_PRI = @CD_MERCADORIA AND 
	             NR_PROCESSO = @NR_PROCESSO + '-' + @NR_ADICAO
		
  	  IF @SALDO_TRANSM > 0 
	    BEGIN
    	    INSERT INTO TSALDO_DRAWBACK (NR_ATO_DRAWBACK, NR_PROCESSO, NR_ITEM, NR_LI, CD_MERCADORIA, CD_MAT_PRI, DT_TRANSM_LI, QTD_TRANSM_LI, SALDO_TRANSM_LI, VL_UNITARIO, VL_CIF, VL_SEGURO, VL_FOB, VL_FRETE, STATUS_LI, DT_TRANSM_DI, STATUS_DI, CD_MOEDA, CD_MOEDA_FRETE, PL_MAT_PRI)
    	    VALUES (@NR_ATO_DRAWBACK, @NR_PROCESSO, @NR_ITEM, @NR_REGISTRO_LI, @CD_MERCADORIA_EXP, @CD_MERCADORIA, GetDate(), @QT_MERC_UN_COMERC, @SALDO_TRANSM - @QT_MERC_UN_COMERC, @VL_UNIT_MLE, @VL_CIF, @VL_SEGURO, @VL_UNIT_MLE * @QT_MERC_UN_COMERC, @VL_FRETE, 'T', getdate(),'T', @CD_MOEDA_FOB, @CD_MOEDA_FRETE, @PL_MERCADORIA) 
	    END
	    ELSE
	    BEGIN
    	    INSERT INTO TSALDO_DRAWBACK (NR_ATO_DRAWBACK, NR_PROCESSO, NR_ITEM, CD_MERCADORIA, CD_MAT_PRI, DT_TRANSM_LI, QTD_TRANSM_LI, SALDO_TRANSM_LI, VL_UNITARIO, VL_CIF, VL_SEGURO, VL_FOB, VL_FRETE, STATUS_LI, DT_TRANSM_DI, STATUS_DI, CD_MOEDA, CD_MOEDA_FRETE, PL_MAT_PRI) 
    	    VALUES (@NR_ATO_DRAWBACK, @NR_PROCESSO, @NR_ITEM, @CD_MERCADORIA_EXP, @CD_MERCADORIA, GetDate(), @QT_MERC_UN_COMERC, @QT_IMP_ATO - @QT_MERC_UN_COMERC, @VL_UNIT_MLE, @VL_CIF, @VL_SEGURO, @VL_UNIT_MLE * @QT_MERC_UN_COMERC, @VL_FRETE, 'T', getdate(),'T', @CD_MOEDA_FOB, @CD_MOEDA_FRETE, @PL_MERCADORIA) 
	    END
	END
	DELETE FROM #TDETALHE_MERC 
	WHERE NR_PROCESSO = @NR_PROCESSO AND NR_ADICAO = @NR_ADICAO AND NR_ITEM = @NR_ITEM
      END	
      DELETE FROM #ADICOES_IMPORT 
      WHERE  NR_PROCESSO = @NR_PROCESSO and NR_ADICAO = @NR_ADICAO
    END
    DROP TABLE #ADICOES_IMPORT
    DROP TABLE #TDETALHE_MERC    
  END 
  ELSE IF @tp_movimento = 'RE' 
  BEGIN
    SELECT 
      @VL_COMISSAO_PERCENT = VL_COMISSAO_PERCENT,
      @MOEDA_RE	     = CD_MOEDA, 
      @DT_REGISTRO_PEDIDO  = DT_REGISTRO_PEDIDO
    FROM TPROCESSO_EXP
    WHERE
      NR_PROCESSO = @NR_PROCESSO

--tabela de itens da exportação

    SELECT 
      NR_PROCESSO, NR_ITEM, CD_NCM, CD_UNID_MEDIDA, VL_UNITARIO, VL_PESO_LIQ_UNIT, 
      VL_SEGURO, VL_FRETE, NR_PEDIDO, NR_ATO_CONCESSORIO, QT_MERCADORIA, CD_MERCADORIA
    INTO #TMP_PROC_EXP_ITEM
    FROM tprocesso_exp_item
    WHERE
      NR_PROCESSO = @NR_PROCESSO


    WHILE (select count(*) from #TMP_PROC_EXP_ITEM) > 0
    BEGIN
      SELECT 
        @NR_ITEM = NR_ITEM,  
        @VL_UNIT_MLE = VL_UNITARIO, 
        @VL_SEGURO = VL_SEGURO, 
        @VL_FRETE = VL_FRETE, 
        @NR_PEDIDO = NR_PEDIDO,  
        @NR_ATO_DRAWBACK = NR_ATO_CONCESSORIO, 
        @QT_MERCADORIA = QT_MERCADORIA, 
        @CD_MERCADORIA = CD_MERCADORIA, 
	@PL_MERCADORIA = VL_PESO_LIQ_UNIT
      FROM #TMP_PROC_EXP_ITEM

      SELECT @VL_FOB = ISNULL( @VL_UNIT_MLE * @QT_MERCADORIA,0)
      SELECT @VL_FOB_LIQ  = ISNULL( @VL_FOB - ( ( @VL_FOB/100) * @VL_COMISSAO_PERCENT),0) 

      IF @MOEDA_RE = '978' --SE for EURO então será criado um indice multiplicador e multiplicará pelo FOB
      BEGIN	
	SELECT @COTACAO_DOLAR = TX_CAMBIO FROM TTAXA_CAMBIO 
	WHERE CD_MOEDA = '220' AND CONVERT(DATETIME, CONVERT(CHAR, DT_INICIO_VIGENCIA,103),103) 
  	BETWEEN CONVERT(DATETIME, CONVERT(CHAR, @DT_REGISTRO_PEDIDO,103),103) AND CONVERT(DATETIME, CONVERT(CHAR, @DT_REGISTRO_PEDIDO,103),103)

	SELECT @COTACAO_EURO  = TX_CAMBIO FROM TTAXA_CAMBIO 
	WHERE CD_MOEDA = '978' AND CONVERT(DATETIME, CONVERT(CHAR, DT_INICIO_VIGENCIA,103),103) 
  	BETWEEN CONVERT(DATETIME, CONVERT(CHAR, @DT_REGISTRO_PEDIDO,103),103) AND CONVERT(DATETIME, CONVERT(CHAR, @DT_REGISTRO_PEDIDO,103),103)
	
	SELECT @INDICE_EURO_DOLAR = ISNULL(@COTACAO_EURO/@COTACAO_DOLAR,0);
      END 
      ELSE 
	SELECT @INDICE_EURO_DOLAR = 1

      SELECT @VL_FOB_USD = @VL_FOB * @INDICE_EURO_DOLAR
      
      IF @NR_ATO_DRAWBACK <> '' 
      BEGIN
--caso precise transmitir novamente o mesmo processo/ato/mercadoria então limpar antes
        DELETE FROM TSALDO_DRAWBACK_EXP
        WHERE
 	  NR_ATO_DRAWBACK = @NR_ATO_DRAWBACK AND
	  CD_MERCADORIA = @CD_MERCADORIA AND 
	  NR_PROCESSO = @NR_PROCESSO

--Verifica se a Mercadoria já está incluída na tabela de Controle de Saldos	
	SELECT @SALDO_TRANSM = SUM(SALDO_TRANSM_RE) FROM TSALDO_DRAWBACK_EXP
	WHERE
 	  NR_ATO_DRAWBACK = @NR_ATO_DRAWBACK AND
	  CD_MERCADORIA = @CD_MERCADORIA 

  	SELECT @QT_IMP_ATO = B.QT_EXP, 
	       @CD_MERCADORIA_EXP = B.CD_MERCADORIA, 
	       @NR_FORECAST = B.NR_FORECAST
	FROM TATO_CONC_SUSP A, TFORECAST_EXP B
	WHERE
	  A.NR_ATO_CONC = @NR_ATO_DRAWBACK AND
  	  B.NR_FORECAST = A.NR_FORECAST AND
	  B.CD_MERCADORIA = @CD_MERCADORIA
	
			
	IF @SALDO_TRANSM > 0 
	BEGIN
    	  INSERT INTO TSALDO_DRAWBACK_EXP
	    (NR_ATO_DRAWBACK, NR_PROCESSO, NR_ITEM, CD_MERCADORIA, DT_TRANSM_RE, QTD_TRANSM_RE, SALDO_TRANSM_RE, VL_UNITARIO, VL_FOB, STATUS_RE, NR_DDE, DT_DDE, PL_UNIT_MERC, PERC_COM_AGENTE, VL_FOB_LIQ, VL_FOB_USD)
    	  VALUES
	    (@NR_ATO_DRAWBACK, @NR_PROCESSO, @NR_ITEM, @CD_MERCADORIA, GetDate(), @QT_MERCADORIA, @SALDO_TRANSM - @QT_MERCADORIA, @VL_UNIT_MLE, @VL_FOB, 'T', @NR_DDE, @DT_DDE, @PL_MERCADORIA, @VL_COMISSAO_PERCENT, @VL_FOB_LIQ, @VL_FOB_USD)
	END
	ELSE
	BEGIN
    	  INSERT INTO TSALDO_DRAWBACK_EXP 
	    (NR_ATO_DRAWBACK, NR_PROCESSO, NR_ITEM, CD_MERCADORIA, DT_TRANSM_RE, QTD_TRANSM_RE, SALDO_TRANSM_RE, VL_UNITARIO, VL_FOB, STATUS_RE, NR_DDE, DT_DDE, PL_UNIT_MERC, PERC_COM_AGENTE, VL_FOB_LIQ, VL_FOB_USD)
    	  VALUES
	    (@NR_ATO_DRAWBACK, @NR_PROCESSO, @NR_ITEM, @CD_MERCADORIA, GetDate(), @QT_MERCADORIA, @QT_IMP_ATO - @QT_MERCADORIA, @VL_UNIT_MLE, @VL_FOB, 'T', @NR_DDE, @DT_DDE, @PL_MERCADORIA, @VL_COMISSAO_PERCENT, @VL_FOB_LIQ, @VL_FOB_USD)
	END
	DELETE FROM TATO_CONC_SUSP_EXP_NF 
	WHERE NR_PROCESSO = @NR_PROCESSO and NR_FORECAST = @NR_FORECAST
  
 	INSERT INTO TATO_CONC_SUSP_EXP_NF
	(NR_FORECAST, NR_PROCESSO, NR_NF, DT_NF, NR_SERIE)
	select @NR_FORECAST, NR_PROCESSO, NR_NF, DT_NOTA, '' from TPROCESSO_EXP_NF where NR_PROCESSO = @NR_PROCESSO 

      END
      DELETE FROM #TMP_PROC_EXP_ITEM where NR_PROCESSO = @NR_PROCESSO and CD_MERCADORIA = @CD_MERCADORIA
    END
    DROP TABLE #TMP_PROC_EXP_ITEM
  END





GO
