USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_contabiliza_rm_tito] ( @cd_coligada char(2), @cd_unid_neg char(2), @cd_produto char(2), 
                                          @dt_movimento datetime, @tp_contab char(1), @cd_usuario char(4), 
                                          @nr_cont char(4) output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_coligada char(2)
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @dt_movimento datetime
DECLARE @tp_contab char(1)
DECLARE @cd_usuario char(4)
DECLARE @nr_cont char(4) 

SELECT @cd_coligada = '01' 
SELECT @cd_unid_neg = '01'
SELECT @cd_produto = ''
SELECT @tp_contab = 'C'
SELECT @dt_movimento = CONVERT( datetime, '26/09/2001', 103 )
SELECT @cd_usuario = '0051'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_unid_cx  		char(2)
DECLARE @nr_lanc_cx  		char(3)
DECLARE @cd_hist_cx  		char(8)
DECLARE @nm_hist_cx  		char(186)
DECLARE @vl_lanc_cx  		float
DECLARE @tp_pgto_cx  		char(1)
DECLARE @tp_natu_cx  		char(1)
DECLARE @cd_cont_cx  		char(10)
DECLARE @cd_cust_cx  		char(3)
DECLARE @cd_banc_cx  		char(3)
DECLARE @cd_tipo_item  		char(12)
DECLARE @cd_forma_pagto  	char(4)
DECLARE @in_favorecido  	char(1)
DECLARE @tp_ct_devedora  	char(1)
DECLARE @cd_ct_devedora  	char(10)
DECLARE @tp_ct_credora  	char(1)
DECLARE @cd_ct_credora  	char(10)
DECLARE @cd_ct_custo  		char(3)
DECLARE @cd_natureza  		char(1)
DECLARE @tp_totalizacao  	char(1)
DECLARE @tp_valor  		char(1)
DECLARE @cd_fator  		char(1)
DECLARE @nm_historico  		char(80)
DECLARE @nm_hist  		char(186)
DECLARE @cd_cliente  		char(5)
DECLARE @nr_processo  		char(18)
DECLARE @nr_cheque  		char(6)
DECLARE @nm_item  		char(30)
DECLARE @nm_item_complemento 	varchar(20)
DECLARE @nm_favorecido  	varchar(50)
DECLARE @nm_empresa  		varchar(50)
DECLARE @vl_valor  		float	
DECLARE @vl_lancamento  	numeric(14,2)
DECLARE @vl_lanc_gerencial 	numeric(14,2)
DECLARE @in_restitui  		char(1)
DECLARE @in_cancelado  		char(1)
DECLARE @cd_ct_item  		char(10)
DECLARE @cd_ct_custo_item 	char(3)
DECLARE @vl_acrescimo           numeric(14,2)
DECLARE @vl_desconto            numeric(14,2)
DECLARE @vl_ir                  numeric(14,2)

DECLARE @cd_ct_favorecido 	char(10)
DECLARE @cd_ct_cliente  	char(10)
DECLARE @cd_ct_caixa  		char(10)
DECLARE @cd_ct_banco  		char(10)
DECLARE @cd_ct_desp_proc 	char(10)
DECLARE @cd_ct_acerto    	char(10)
DECLARE @cd_ct_dev  		char(10)
DECLARE @cd_ct_cre  		char(10)
DECLARE @cd_ct_aux  		char(10)
DECLARE @cd_ct_ir  		char(10)
DECLARE @cd_ct_cpmf_adm_01 	char(10)
DECLARE @cd_ct_cpmf_adm_02 	char(10)
DECLARE @cd_ct_cpmf_adm  	char(10)
DECLARE @cd_ct_cpmf_op  	char(10)
DECLARE @cd_ct_cpmf_passivo 	char(10)
DECLARE @cd_ct_juros            char(10)
DECLARE @cd_ct_desconto         char(10)
DECLARE @cd_ct_cst_cpmf_adm     char(3)
DECLARE @cd_ct_cst_cpmf_op      char(3)

DECLARE @cd_filial  		char(3)
DECLARE @cd_filial_item  	char(3)
DECLARE @nr_contab   		char(4)
DECLARE @nr_lancamento  	char(3)
DECLARE @pos   			int
DECLARE @in_cancel  		char(1)
DECLARE @cd_prod_cx  		char(2)
DECLARE @cd_banco  		char(3)
DECLARE @nm_banco  		varchar(40)
DECLARE @tipo   		char(1)
DECLARE @pc_taxa_distr  	numeric(6,2)
DECLARE @vl_distr  		numeric(14,2)
DECLARE @nr_row   		int
DECLARE @cursor_row  		int
DECLARE @cd_hist_cheque  	char(10)
DECLARE @cd_hist_deposito 	char(10)
DECLARE @cd_hist_ch_saldus 	char(10)
DECLARE @procedencia  		char(1)
DECLARE @cd_ct_gerencial 	char(4)
DECLARE @cd_ct_gerenc_item 	char(4)
DECLARE @cd_ct_gerencial_cli 	char(4)
DECLARE @cd_ct_ger_ctaareceber 	char(4)
DECLARE @cd_ct_ger_desconto     char(4)
DECLARE @cd_ct_ger_financeiro   char(4)

DECLARE @cd_item_receb_num char(3)
DECLARE @cd_item_extor_num char(3)
DECLARE @cd_item_devol_num char(3)
DECLARE @cd_item_saldo_deb char(3)
DECLARE @cd_item_saldo_cre char(3)
DECLARE @cd_item_comissao char(3)
DECLARE @cd_item_cpmf char(3)
DECLARE @cd_item_ir char(3)
DECLARE @cd_item_iss char(3)
DECLARE @cd_ct_ctaareceber char(10)

SELECT @cd_item_receb_num     = CD_ITEM_RECEB_NUM,
       @cd_item_extor_num     = CD_ITEM_EXTOR_NUM,
       @cd_item_devol_num     = CD_ITEM_DEVOL_NUM,
       @cd_item_saldo_deb     = CD_ITEM_SALDO_DEB,
       @cd_item_saldo_cre     = CD_ITEM_SALDO_CRE,
       @cd_item_comissao      = CD_ITEM_COMISSAO,
       @cd_item_cpmf          = CD_ITEM_CPMF,
       @cd_item_ir            = CD_ITEM_IR,
       @cd_item_iss           = CD_ITEM_ISS,
       @cd_ct_ctaareceber     = CD_CT_CTAARECEBER,
       @cd_ct_juros           = CD_CT_CONTABIL_JUROS,
       @cd_ct_desconto        = CD_CT_CONTABIL_DESCONTO,
       @cd_ct_ger_ctaareceber = CD_CT_GER_CTAARECEBER,
       @cd_ct_ger_desconto    = CD_CT_GER_DESCONTO,
       @cd_ct_ger_financeiro  = CD_CT_GER_FINANCEIRO
FROM   TPARAMETROS

SELECT @cd_ct_ir = CD_CT_CONTABIL 
FROM   TITEM 
WHERE  CD_ITEM = @cd_item_ir

SELECT @cd_ct_caixa = CT_CONTABIL
FROM   TCONTA_CAIXA
WHERE  TP_CONTA = '1'

SELECT @nr_contab = RIGHT('0000' + CONVERT( varchar, ( MAX( CONVERT( int, NR_CONTAB ) ) + 1 ) ), 4 )
FROM   TCONTABILIZACAO_RM_TITO (TABLOCK HOLDLOCK)
WHERE  CD_COLIGADA = @cd_coligada

SELECT @nr_contab = ISNULL( @nr_contab, '0001' )

INSERT TCONTABILIZACAO_RM_TITO
VALUES ( @cd_coligada, @nr_contab, GETDATE(), @cd_usuario, @tp_contab, @dt_movimento, @cd_unid_neg, @cd_produto, 0, 0 )
SELECT @nr_cont = @nr_contab

SELECT @nr_lancamento = '000'

-- CONTABILIZAÇÃO FINANCEIRO
DECLARE c_fin_banco CURSOR FOR
  SELECT C.CD_UNID_NEG, ISNULL( C.NR_CHEQUE, '' ) + ' - Pagto Op. ' AS NM_HISTORICO, 
         SUM( CASE C.IN_RESTITUI WHEN '0' THEN C.VL_LANCAMENTO ELSE C.VL_LANCAMENTO * (-1) END ) VL_LANCAMENTO,
         C.TP_PAGAMENTO, C.TP_NATUREZA, C.CD_BANCO, 
         CASE C.TP_PAGAMENTO WHEN '$' THEN @cd_ct_caixa ELSE MAX( B.CD_CT_CONTABIL ) END CD_CT_CONTABIL
  FROM   TCAIXA C, TBANCO B, TITEM I( PAGLOCK HOLDLOCK )
  WHERE  C.CD_ITEM = I.CD_ITEM AND
         C.CD_BANCO *= B.CD_BANCO AND
         C.CD_COLIGADA   = @cd_coligada  AND
         C.CD_UNID_NEG   = @cd_unid_neg  AND
         C.DT_MOVIMENTO  = @dt_movimento AND
         C.TP_LANCAMENTO = 'F'    	 AND
         C.IN_CANCELADO  = '0'    	 AND
         C.IN_CONTABILIZA = '1'          AND
         I.CD_TIPO_ITEM  = 'D'           
 GROUP BY C.CD_COLIGADA, C.CD_UNID_NEG, C.TP_PAGAMENTO, C.TP_NATUREZA, C.CD_BANCO, C.NR_CHEQUE, C.CD_FAVORECIDO

OPEN c_fin_banco
FETCH c_fin_banco INTO 
  @cd_unid_cx, @nm_hist_cx, @vl_lanc_cx, @tp_pgto_cx, @tp_natu_cx, @cd_banc_cx, @cd_cont_cx
WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        CD_HISTORICO, NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, '', @cd_cont_cx, @vl_lanc_cx, @cd_hist_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  --Clientes
  DECLARE c_fin_cliente CURSOR FOR
    SELECT SUM( CASE C.IN_RESTITUI WHEN '0' THEN C.VL_LANCAMENTO ELSE C.VL_LANCAMENTO * (-1) END ) VL_LANCAMENTO,
           C.TP_PAGAMENTO, C.TP_NATUREZA, C.CD_BANCO, E.CD_CT_CONTABIL AS CD_CT_CONTABIL, 
           E.CD_CT_GERENCIAL, I.CD_CT_GERENCIAL
    FROM   TCAIXA C, TPROCESSO P, TEMPRESA_NAC E, TITEM I ( PAGLOCK HOLDLOCK )
    WHERE  C.CD_ITEM = I.CD_ITEM AND
           C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_CLIENTE = E.CD_EMPRESA AND
           C.CD_COLIGADA = @cd_coligada AND
           C.CD_UNID_NEG = @cd_unid_neg AND
           C.DT_MOVIMENTO = @dt_movimento AND
           C.TP_LANCAMENTO = 'F' AND
           C.IN_CANCELADO = '0' AND
           C.IN_CONTABILIZA = '1' AND
           I.CD_TIPO_ITEM = 'D'
   GROUP BY C.CD_COLIGADA, C.CD_UNID_NEG, C.TP_PAGAMENTO, C.TP_NATUREZA, C.CD_BANCO, C.NR_CHEQUE, E.CD_CT_CONTABIL, C.CD_ITEM, E.CD_CT_GERENCIAL, I.CD_CT_GERENCIAL

  OPEN c_fin_cliente
  FETCH c_fin_cliente INTO
    @vl_lanc_cx, @tp_pgto_cx, @tp_natu_cx, @cd_banc_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
  WHILE @@fetch_status <> -1
  BEGIN

    SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

    INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
    VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial_cli, @vl_lanc_cx )

    INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
    VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerenc_item, @vl_lanc_cx )

    FETCH c_fin_cliente INTO 
      @vl_lanc_cx, @tp_pgto_cx, @tp_natu_cx, @cd_banc_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
  END
  CLOSE c_fin_cliente
  DEALLOCATE c_fin_cliente

  FETCH c_fin_banco INTO 
    @cd_unid_cx, @nm_hist_cx, @vl_lanc_cx, @tp_pgto_cx, @tp_natu_cx, @cd_banc_cx, @cd_cont_cx
END
CLOSE c_fin_banco
DEALLOCATE c_fin_banco

-- CONTABILIZAÇÃO NUMERÁRIO
DECLARE c_fin_banco CURSOR FOR
  SELECT C.CD_UNID_NEG, CASE C.CD_ITEM 
                          WHEN @cd_item_receb_num THEN 'Numerario' 
                          WHEN @cd_item_extor_num THEN 'Estorno Numerario' 
                          WHEN @cd_item_devol_num THEN 'Devolução Numerario' 
                        END AS NM_HISTORICO,
         SUM( CASE C.IN_RESTITUI WHEN '0' THEN C.VL_LANCAMENTO ELSE C.VL_LANCAMENTO * (-1) END ) VL_LANCAMENTO,
         C.TP_PAGAMENTO, C.TP_NATUREZA, C.CD_BANCO, MAX( E.CD_CT_CONTABIL ), MAX( B.CD_CT_CONTABIL )
  FROM   TCAIXA C, TBANCO B, TPROCESSO P, TEMPRESA_NAC E, TITEM I( PAGLOCK HOLDLOCK )
  WHERE  C.CD_ITEM = I.CD_ITEM AND
         C.CD_BANCO *= B.CD_BANCO AND
         C.NR_PROCESSO = P.NR_PROCESSO   AND
         P.CD_CLIENTE = E.CD_EMPRESA     AND
         C.CD_COLIGADA   = @cd_coligada  AND
         C.CD_UNID_NEG   = @cd_unid_neg  AND
         C.DT_MOVIMENTO  = @dt_movimento AND
         C.TP_LANCAMENTO = 'F'    	 AND
         C.IN_CANCELADO  = '0'    	 AND
         C.IN_CONTABILIZA = '1'          AND
         ( C.CD_ITEM = @cd_item_receb_num OR
           C.CD_ITEM = @cd_item_extor_num OR 
           C.CD_ITEM = @cd_item_devol_num  )
 GROUP BY C.CD_COLIGADA, C.CD_UNID_NEG, C.TP_PAGAMENTO, C.TP_NATUREZA, C.CD_BANCO, C.NR_CHEQUE, C.CD_ITEM

OPEN c_fin_banco
FETCH c_fin_banco INTO 
  @cd_unid_cx, @nm_hist_cx, @vl_lanc_cx, @tp_pgto_cx, @tp_natu_cx, @cd_banc_cx, @cd_ct_credora, @cd_ct_devedora
WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        CD_HISTORICO, NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_devedora, @cd_ct_credora, @vl_lanc_cx, @cd_hist_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  --Clientes
  DECLARE c_fin_cliente CURSOR FOR
    SELECT SUM( CASE C.IN_RESTITUI WHEN '0' THEN C.VL_LANCAMENTO ELSE C.VL_LANCAMENTO * (-1) END ) VL_LANCAMENTO,
           C.TP_PAGAMENTO, C.TP_NATUREZA, C.CD_BANCO, E.CD_CT_CONTABIL AS CD_CT_CONTABIL, 
           E.CD_CT_GERENCIAL, I.CD_CT_GERENCIAL
    FROM   TCAIXA C, TPROCESSO P, TEMPRESA_NAC E, TITEM I ( PAGLOCK HOLDLOCK )
    WHERE  C.CD_ITEM = I.CD_ITEM AND
           C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_CLIENTE = E.CD_EMPRESA AND
           C.CD_COLIGADA = @cd_coligada AND
           C.CD_UNID_NEG = @cd_unid_neg AND
           C.DT_MOVIMENTO = @dt_movimento AND
           C.TP_LANCAMENTO = 'F' AND
           C.IN_CANCELADO = '0' AND
           C.IN_CONTABILIZA = '1' AND
          ( C.CD_ITEM = @cd_item_receb_num OR
            C.CD_ITEM = @cd_item_extor_num OR 
            C.CD_ITEM = @cd_item_devol_num )
   GROUP BY C.CD_COLIGADA, C.CD_UNID_NEG, C.TP_PAGAMENTO, C.TP_NATUREZA, C.CD_BANCO, C.NR_CHEQUE, E.CD_CT_CONTABIL, C.CD_ITEM, E.CD_CT_GERENCIAL, I.CD_CT_GERENCIAL

  OPEN c_fin_cliente
  FETCH c_fin_cliente INTO
    @vl_lanc_cx, @tp_pgto_cx, @tp_natu_cx, @cd_banc_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
  WHILE @@fetch_status <> -1
  BEGIN

    SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

    INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
    VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial_cli, @vl_lanc_cx )

    INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
    VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerenc_item, @vl_lanc_cx )

    FETCH c_fin_cliente INTO 
      @vl_lanc_cx, @tp_pgto_cx, @tp_natu_cx, @cd_banc_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
  END
  CLOSE c_fin_cliente
  DEALLOCATE c_fin_cliente

  FETCH c_fin_banco INTO 
    @cd_unid_cx, @nm_hist_cx, @vl_lanc_cx, @tp_pgto_cx, @tp_natu_cx, @cd_banc_cx, @cd_ct_credora, @cd_ct_devedora
END
CLOSE c_fin_banco
DEALLOCATE c_fin_banco

-- CONTABILIZAÇÃO FATURAMENTO
DECLARE c_fat CURSOR FOR
  SELECT P.CD_UNID_NEG, CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END, I.NM_ITEM,
         E.CD_CT_CONTABIL, E.CD_CT_GERENCIAL, I.CD_CT_GERENCIAL
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO FP,
         TFATURAMENTO_CC FI,
         TPROCESSO P,
         TEMPRESA_NAC E, 
         TITEM I
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         FI.NR_PROCESSO = P.NR_PROCESSO AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         I.CD_TIPO_ITEM = 'D' AND
         F.DT_FATURA = @dt_movimento AND
         F.CD_UNID_NEG = @cd_unid_neg 

OPEN c_fat
FETCH c_fat INTO 
  @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item

WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, '', @cd_cont_cx, @vl_lanc_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial_cli, @vl_lanc_cx )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerenc_item, @vl_lanc_cx )

  FETCH c_fat INTO 
    @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
END
CLOSE c_fat
DEALLOCATE c_fat

-- CONTABILIZAÇÃO FATURAMENTO COMISSÃO+ISSQN
DECLARE c_comissao CURSOR FOR
  SELECT P.CD_UNID_NEG, SUM( CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END ), 
         ( SELECT MAX( I.NM_ITEM ) FROM TITEM WHERE CD_ITEM = @cd_item_comissao ),
         MAX( E.CD_CT_CONTABIL ), MAX( E.CD_CT_GERENCIAL ), 
         ( SELECT MAX( I.CD_CT_GERENCIAL ) FROM TITEM WHERE CD_ITEM = @cd_item_comissao )
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO FP,
         TFATURAMENTO_CC FI,
         TPROCESSO P,
         TEMPRESA_NAC E, 
         TITEM I
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         FI.NR_PROCESSO = P.NR_PROCESSO AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         ( FI.CD_ITEM = @cd_item_comissao OR
           FI.CD_ITEM = @cd_item_iss ) AND
         F.DT_FATURA = @dt_movimento AND
         F.CD_UNID_NEG = @cd_unid_neg 
  GROUP BY P.CD_UNID_NEG, FI.CD_ITEM

OPEN c_comissao
FETCH c_comissao INTO 
  @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item

WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, '', @cd_cont_cx, @vl_lanc_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  FETCH c_comissao INTO 
    @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
END
CLOSE c_comissao
DEALLOCATE c_comissao

-- CONTABILIZAÇÃO FATURAMENTO CPMF
DECLARE c_cpmf CURSOR FOR
  SELECT P.CD_UNID_NEG, SUM( CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END ), 
         ( SELECT MAX( I.NM_ITEM ) FROM TITEM WHERE CD_ITEM = @cd_item_cpmf ),
         MAX( E.CD_CT_CONTABIL ), MAX( E.CD_CT_GERENCIAL ), 
         ( SELECT MAX( I.CD_CT_GERENCIAL ) FROM TITEM WHERE CD_ITEM = @cd_item_cpmf )
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO FP,
         TFATURAMENTO_CC FI,
         TPROCESSO P,
         TEMPRESA_NAC E, 
         TITEM I
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         FI.NR_PROCESSO = P.NR_PROCESSO AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         FI.CD_ITEM = @cd_item_cpmf AND
         F.DT_FATURA = @dt_movimento AND
         F.CD_UNID_NEG = @cd_unid_neg 
  GROUP BY P.CD_UNID_NEG, FI.CD_ITEM

OPEN c_cpmf
FETCH c_cpmf INTO 
  @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item

WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, '', @cd_cont_cx, @vl_lanc_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  FETCH c_cpmf INTO 
    @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
END
CLOSE c_cpmf
DEALLOCATE c_cpmf

-- CONTABILIZAÇÃO FATURAMENTO NUMERARIO - ESTORNO - DEVOLUÇÃO
DECLARE c_num CURSOR FOR
  SELECT P.CD_UNID_NEG, 
         SUM( CASE FI.CD_ITEM 
           WHEN @cd_item_receb_num THEN CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END 
           WHEN @cd_item_extor_num THEN CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END * (-1)
           WHEN @cd_item_devol_num THEN CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END * (-1)
         END ), 
         ( SELECT MAX( I.NM_ITEM ) FROM TITEM WHERE CD_ITEM = @cd_item_receb_num ),
         MAX( E.CD_CT_CONTABIL ), MAX( E.CD_CT_GERENCIAL ), 
         ( SELECT MAX( I.CD_CT_GERENCIAL ) FROM TITEM WHERE CD_ITEM = @cd_item_receb_num )
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO FP,
         TFATURAMENTO_CC FI,
         TPROCESSO P,
         TEMPRESA_NAC E, 
         TITEM I
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         FI.NR_PROCESSO = P.NR_PROCESSO AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         FI.CD_ITEM = @cd_item_cpmf AND
         F.DT_FATURA = @dt_movimento AND
         F.CD_UNID_NEG = @cd_unid_neg 
  GROUP BY P.CD_UNID_NEG, FI.CD_ITEM

OPEN c_num
FETCH c_num INTO 
  @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item

WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, '', @cd_cont_cx, @vl_lanc_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial_cli, @vl_lanc_cx )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerenc_item, @vl_lanc_cx )

  FETCH c_num INTO 
    @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
END
CLOSE c_num
DEALLOCATE c_num

-- CONTABILIZAÇÃO FATURAMENTO SALDO DEVEDOR
DECLARE c_saldo_deb CURSOR FOR
  SELECT P.CD_UNID_NEG, 
         SUM( CASE FI.CD_ITEM 
           WHEN @cd_item_saldo_deb THEN CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END 
           WHEN @cd_item_ir        THEN CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END * (-1)
         END ), 
         ( SELECT MAX( I.NM_ITEM ) FROM TITEM WHERE CD_ITEM = @cd_item_saldo_deb ),
         MAX( E.CD_CT_CONTABIL ), MAX( E.CD_CT_GERENCIAL ), 
         ( SELECT CD_CT_GER_CTAARECEBER FROM TPARAMETROS )
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO FP,
         TFATURAMENTO_CC FI,
         TPROCESSO P,
         TEMPRESA_NAC E, 
         TITEM I
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         FI.NR_PROCESSO = P.NR_PROCESSO AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         ( FI.CD_ITEM = @cd_item_saldo_deb OR
           FI.CD_ITEM = @cd_item_ir ) AND
         F.DT_FATURA = @dt_movimento AND
         F.CD_UNID_NEG = @cd_unid_neg 
  GROUP BY P.CD_UNID_NEG, FI.CD_ITEM

OPEN c_saldo_deb
FETCH c_saldo_deb INTO 
  @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item

WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_cont_cx, '', @vl_lanc_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial_cli, @vl_lanc_cx )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerenc_item, @vl_lanc_cx )

  FETCH c_saldo_deb INTO 
    @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
END
CLOSE c_saldo_deb
DEALLOCATE c_saldo_deb

-- CONTABILIZAÇÃO FATURAMENTO SALDO CREDOR
DECLARE c_saldo_cre CURSOR FOR
  SELECT P.CD_UNID_NEG, 
         SUM( CASE FI.CD_ITEM 
           WHEN @cd_item_saldo_cre THEN CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END 
           WHEN @cd_item_ir        THEN CASE FI.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE VL_ITEM * (-1) END
         END ), 
         ( SELECT MAX( I.NM_ITEM ) FROM TITEM WHERE CD_ITEM = @cd_item_saldo_cre ),
         MAX( E.CD_CT_CONTABIL ), MAX( E.CD_CT_GERENCIAL ), 
         ( SELECT CD_CT_GER_CTAARECEBER FROM TPARAMETROS )
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO FP,
         TFATURAMENTO_CC FI,
         TPROCESSO P,
         TEMPRESA_NAC E, 
         TITEM I
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.CD_UNID_NEG = FI.CD_UNID_NEG AND
         FP.CD_PRODUTO = FI.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
         FP.NR_PROCESSO = FI.NR_PROCESSO AND
         FI.NR_PROCESSO = P.NR_PROCESSO AND
         FI.CD_ITEM = I.CD_ITEM AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         ( FI.CD_ITEM = @cd_item_saldo_cre OR
           FI.CD_ITEM = @cd_item_ir ) AND
         F.DT_FATURA = @dt_movimento AND
         F.CD_UNID_NEG = @cd_unid_neg 
  GROUP BY P.CD_UNID_NEG, FI.CD_ITEM

OPEN c_saldo_cre
FETCH c_saldo_cre INTO 
  @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item

WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, '', @cd_cont_cx, @vl_lanc_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial_cli, @vl_lanc_cx )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerenc_item, @vl_lanc_cx )

  FETCH c_saldo_cre INTO 
    @cd_unid_cx, @vl_lanc_cx, @nm_hist_cx, @cd_cont_cx, @cd_ct_gerencial_cli, @cd_ct_gerenc_item
END
CLOSE c_saldo_cre
DEALLOCATE c_saldo_cre

-- CONTABILIZAÇÃO S/PAGTO
DECLARE c_receb_sd CURSOR FOR
  SELECT L.CD_UNID_NEG, SUM( L.VL_LIQUIDACAO ), SUM( L.VL_ACRESCIMO ), SUM( L.VL_DESCONTO ), 
         ( SELECT CASE F.IN_RESTITUI WHEN '0' THEN F.VL_ITEM ELSE F.VL_ITEM * (-1) END
           FROM   TFATURAMENTO_CC F 
           WHERE  F.CD_UNID_NEG = L.CD_UNID_NEG AND
                  F.CD_PRODUTO = L.CD_PRODUTO AND
                  F.NR_SOLIC_FAT = L.NR_SOLIC_FAT AND
                  F.NR_PROCESSO = L.NR_PROCESSO AND
                  F.CD_ITEM = @cd_item_ir ) AS VL_IR,
         'Recebimento de Saldo',
         MAX( E.CD_CT_CONTABIL ), 
         CASE L.CD_FORMA_PAGTO WHEN '$' THEN @cd_ct_caixa ELSE MAX( B.CD_CT_CONTABIL ) END CD_CT_CONTABIL,
         MAX( E.CD_CT_GERENCIAL )
  FROM   TLIQUIDACAO L,
         TPROCESSO P,
         TEMPRESA_NAC E,
         TBANCO B
  WHERE  L.IN_CANCELADO = '0' AND
         L.DT_LIQUIDACAO = @dt_movimento AND
         P.CD_UNID_NEG = @cd_unid_neg AND
         L.CD_BANCO *= B.CD_BANCO AND
         L.VL_LIQUIDACAO > 0
  GROUP BY L.NR_PROCESSO, L.CD_UNID_NEG, L.CD_PRODUTO, L.NR_SOLIC_FAT, L.CD_FORMA_PAGTO

OPEN c_receb_sd
FETCH c_receb_sd INTO 
  @cd_unid_cx, @vl_lanc_cx, @vl_acrescimo, @vl_desconto, @vl_ir, @nm_hist_cx, @cd_ct_credora, @cd_ct_devedora, @cd_ct_gerencial_cli
WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  -- Debita Banco ==> S/Pagto + Juros - Desconto ==> Sem Gerencial
  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_devedora, '', @vl_lanc_cx + @vl_acrescimo - @vl_desconto, @nm_hist_cx, @cd_filial, @dt_movimento )

  -- Credita Cliente ==> S/Pagto + IRRF
  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, '', @cd_ct_credora, @vl_lanc_cx + @vl_ir, @nm_hist_cx, @cd_filial, @dt_movimento )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial_cli, @vl_lanc_cx + @vl_ir )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_ger_ctaareceber, @vl_lanc_cx + @vl_ir )

  -- Juros
  IF @vl_acrescimo > 0
  BEGIN
    INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                          NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
    VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, '', @cd_ct_juros, @vl_acrescimo, @nm_hist_cx, @cd_filial, @dt_movimento )
  END

  -- Desconto
  IF @vl_desconto > 0
  BEGIN
    INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                          NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
    VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_desconto, '', @vl_desconto, @nm_hist_cx, @cd_filial, @dt_movimento )
 
    INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
    VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_ger_desconto, @vl_desconto )

    INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
    VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_ger_financeiro, @vl_desconto )
  END

  -- I.R.R.F.
  IF @vl_ir > 0
  BEGIN
    INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                          NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
    VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_ir, '', @vl_desconto, @nm_hist_cx, @cd_filial, @dt_movimento )
  END

  FETCH c_receb_sd INTO 
    @cd_unid_cx, @vl_lanc_cx, @vl_acrescimo, @vl_desconto, @vl_ir, @nm_hist_cx, @cd_ct_credora, @cd_ct_devedora, @cd_ct_gerencial_cli
END
CLOSE c_receb_sd
DEALLOCATE c_receb_sd

-- CONTABILIZAÇÃO N/PAGTO
DECLARE c_pagto_sd CURSOR FOR
  SELECT L.CD_UNID_NEG, SUM( L.VL_LIQUIDACAO * (-1) ), SUM( L.VL_ACRESCIMO ), SUM( L.VL_DESCONTO ), 
         ( SELECT CASE F.IN_RESTITUI WHEN '0' THEN F.VL_ITEM ELSE F.VL_ITEM * (-1) END
           FROM   TFATURAMENTO_CC F 
           WHERE  F.CD_UNID_NEG = L.CD_UNID_NEG AND
                  F.CD_PRODUTO = L.CD_PRODUTO AND
                  F.NR_SOLIC_FAT = L.NR_SOLIC_FAT AND
                  F.NR_PROCESSO = L.NR_PROCESSO AND
                  F.CD_ITEM = @cd_item_ir ) AS VL_IR,
         'Pagamento de Saldo',
         CASE L.CD_FORMA_PAGTO WHEN '$' THEN @cd_ct_caixa ELSE MAX( B.CD_CT_CONTABIL ) END CD_CT_CONTABIL,
         MAX( E.CD_CT_CONTABIL ), 
         MAX( E.CD_CT_GERENCIAL )
  FROM   TLIQUIDACAO L,
         TPROCESSO P,
         TEMPRESA_NAC E,
         TBANCO B
  WHERE  L.IN_CANCELADO = '0' AND
         L.DT_LIQUIDACAO = @dt_movimento AND
         P.CD_UNID_NEG = @cd_unid_neg AND
         L.CD_BANCO *= B.CD_BANCO AND
         L.VL_LIQUIDACAO < 0
  GROUP BY L.NR_PROCESSO, L.CD_UNID_NEG, L.CD_PRODUTO, L.NR_SOLIC_FAT, L.CD_FORMA_PAGTO

OPEN c_pagto_sd
FETCH c_pagto_sd INTO 
  @cd_unid_cx, @vl_lanc_cx, @vl_acrescimo, @vl_desconto, @vl_ir, @nm_hist_cx, @cd_ct_credora, @cd_ct_devedora, @cd_ct_gerencial_cli
WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  -- Credita Banco ==> N/Pagto + Juros - Desconto ==> Sem Gerencial
  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento,  '', @cd_ct_credora, @vl_lanc_cx + @vl_acrescimo - @vl_desconto, @nm_hist_cx, @cd_filial, @dt_movimento )

  -- Debita Cliente ==> S/Pagto - IRRF
  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_devedora, '', @vl_lanc_cx - @vl_ir, @nm_hist_cx, @cd_filial, @dt_movimento )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial_cli, @vl_lanc_cx - @vl_ir )

  INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
  VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_ger_ctaareceber, @vl_lanc_cx - @vl_ir )

  -- I.R.R.F.
  IF @vl_ir > 0
  BEGIN
    INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                          NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
    VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, '', @cd_ct_ir, @vl_desconto, @nm_hist_cx, @cd_filial, @dt_movimento )
  END

  FETCH c_pagto_sd INTO 
    @cd_unid_cx, @vl_lanc_cx, @vl_acrescimo, @vl_desconto, @vl_ir, @nm_hist_cx, @cd_ct_credora, @cd_ct_devedora, @cd_ct_gerencial_cli
END
CLOSE c_pagto_sd
DEALLOCATE c_pagto_sd

-- Movimentos Administrativos
DECLARE c_fin_adm CURSOR FOR
  SELECT C.NR_LANCAMENTO, C.CD_UNID_NEG, 
         ISNULL( C.NR_CHEQUE, '' ) + ' - Pagto Adm. ' AS NM_HISTORICO, 
         SUM( CASE C.IN_RESTITUI WHEN '0' THEN C.VL_LANCAMENTO ELSE C.VL_LANCAMENTO * (-1) END ) VL_LANCAMENTO,
         CASE C.TP_NATUREZA
           WHEN 'D' THEN CASE C.TP_PAGAMENTO WHEN '$' THEN @cd_ct_caixa ELSE MAX( B.CD_CT_CONTABIL ) END
           ELSE MAX( I.CD_CT_CONTABIL )
         END AS CD_CT_CREDORA,
         CASE C.TP_NATUREZA
           WHEN 'D' THEN MAX( I.CD_CT_CONTABIL )
           ELSE CASE C.TP_PAGAMENTO WHEN '$' THEN @cd_ct_caixa ELSE MAX( B.CD_CT_CONTABIL ) END
         END AS CD_CT_DEVEDORA
  FROM   TCAIXA C, TBANCO B, TITEM I( PAGLOCK HOLDLOCK )
  WHERE  C.CD_ITEM = I.CD_ITEM AND
         C.CD_BANCO *= B.CD_BANCO AND
         C.CD_COLIGADA   = @cd_coligada  AND
         C.CD_UNID_NEG   = @cd_unid_neg  AND
         C.DT_MOVIMENTO  = @dt_movimento AND
         C.TP_LANCAMENTO = 'C'    	 AND
         C.IN_CANCELADO  = '0'    	 AND
         C.IN_CONTABILIZA = '1'
 GROUP BY C.NR_LANCAMENTO, C.CD_UNID_NEG, C.NR_CHEQUE, C.TP_PAGAMENTO, C.TP_NATUREZA, C.CD_BANCO, C.CD_FAVORECIDO

OPEN c_fin_adm 
FETCH c_fin_adm INTO 
  @nr_lanc_cx, @cd_unid_cx, @nm_hist_cx, @vl_lanc_cx, @cd_ct_credora, @cd_ct_devedora
WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_devedora, @cd_ct_credora, @vl_lanc_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  DECLARE c_gerencial CURSOR FOR
    SELECT CD_CT_GERENCIAL, VL_DISTRIBUICAO
    FROM   TCAIXA_CONTABIL_DISTR 
    WHERE  CD_COLIGADA     = @cd_coligada AND
           DT_MOVIMENTO    = @dt_movimento AND
           NR_LANCAMENTO   = @nr_lanc_cx 
  OPEN c_gerencial
  FETCH c_gerencial INTO  
    @cd_ct_gerencial, @vl_lanc_gerencial
  WHILE @@fetch_status <> -1
  BEGIN
    INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
    VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_lanc_gerencial )

    FETCH c_gerencial INTO  
      @cd_ct_gerencial, @vl_lanc_gerencial
  END
  CLOSE c_gerencial
  DEALLOCATE c_gerencial

  FETCH c_fin_adm INTO 
    @nr_lanc_cx, @cd_unid_cx, @nm_hist_cx, @vl_lanc_cx, @cd_ct_credora, @cd_ct_devedora
END
CLOSE c_fin_adm
DEALLOCATE c_fin_adm

-- Contas a Pagar
DECLARE c_ctaapagar CURSOR FOR
  SELECT C.NR_CTAAPAGAR, C.CD_UNID_NEG, 
         'Contas a Pagar ' AS NM_HISTORICO, SUM( C.VL_LANCAMENTO ) AS VL_LANCAMENTO,
         F.CD_CT_CONTABIL, C.CD_CT_CONTABIL
  FROM   TCTAAPAGAR A, TCTAAPAGAR_LANC C, TBANCO B, TFAVORECIDO F( PAGLOCK HOLDLOCK )
  WHERE  A.CD_UNID_NEG = C.CD_UNID_NEG AND
         A.DT_CTAAPAGAR = C.DT_CTAAPAGAR AND
         A.NR_CTAAPAGAR = C.NR_CTAAPAGAR AND
         A.CD_FAVORECIDO *= F.CD_FAVORECIDO AND
         C.CD_UNID_NEG = @cd_unid_neg  AND
         C.DT_CTAAPAGAR = @dt_movimento AND
         A.IN_CANCELADO  = '0'
 GROUP BY A.TP_PAGAMENTO, A.CD_FAVORECIDO, C.NR_CTAAPAGAR, C.CD_UNID_NEG, F.CD_CT_CONTABIL, C.CD_CT_CONTABIL

OPEN c_ctaapagar
FETCH c_ctaapagar INTO 
  @nr_lanc_cx, @cd_unid_cx, @nm_hist_cx, @vl_lanc_cx, @cd_ct_credora, @cd_ct_devedora
WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_filial  = CD_FILIAL
  FROM   TUNID_NEG
  WHERE  CD_UNID_NEG = @cd_unid_cx

  SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

  INSERT TCONTABILIZACAO_LANC_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                                        NM_HISTORICO, CD_FILIAL, DT_MOVIMENTO )
  VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_devedora, @cd_ct_credora, @vl_lanc_cx, @nm_hist_cx, @cd_filial, @dt_movimento )

  DECLARE c_gerencial CURSOR FOR
    SELECT CD_CT_GERENCIAL, VL_DISTRIBUICAO
    FROM   TCAIXA_CONTABIL_DISTR 
    WHERE  CD_COLIGADA     = @cd_coligada AND
           DT_MOVIMENTO    = @dt_movimento AND
           NR_LANCAMENTO   = @nr_lanc_cx 
  OPEN c_gerencial
  FETCH c_gerencial INTO  
    @cd_ct_gerencial, @vl_lanc_gerencial
  WHILE @@fetch_status <> -1
  BEGIN
    INSERT TCONTABILIZACAO_GERENCIAL_RM_TITO ( CD_COLIGADA, NR_CONTAB, NR_LANCAMENTO, CT_GERENCIAL, VL_GERENCIAL )
    VALUES( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_lanc_gerencial )

    FETCH c_gerencial INTO  
      @cd_ct_gerencial, @vl_lanc_gerencial
  END
  CLOSE c_gerencial
  DEALLOCATE c_gerencial

  FETCH c_ctaapagar INTO 
    @nr_lanc_cx, @cd_unid_cx, @nm_hist_cx, @vl_lanc_cx, @cd_ct_credora, @cd_ct_devedora
END
CLOSE c_ctaapagar
DEALLOCATE c_ctaapagar


GO
