USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[sp_atz_obs_flwup]    Script Date: 07/15/2010 18:03:35 ******/

CREATE PROCEDURE [sp_atz_familia_prod] ( @cd_familia_prod char(8), @cd_pais char(3), @texto char(500) ) AS

DECLARE @ptr_proc        binary(16)
DECLARE @ptr_followup    binary(16)
DECLARE @tamanho         int

/*
declare @cd_familia_prod char(8)
declare @cd_pais char(3)
declare @texto char(500)

set @nr_processo = '0102EM-2891-10'
set @texto = 'teste'
*/
  SELECT @tamanho = DATALENGTH( TX_INSTRUCAO )  
  FROM TFAMILIA_DOCS
  WHERE CD_DOCUMENTO = '004' AND CD_FAMILIA_PROD = @cd_familia_prod AND CD_PAIS = @cd_pais
     
  SELECT @ptr_proc = TEXTPTR(TX_INSTRUCAO)
  FROM TFAMILIA_DOCS
  WHERE CD_DOCUMENTO = '004' AND CD_FAMILIA_PROD = @cd_familia_prod AND CD_PAIS = @cd_pais

  if  @ptr_proc is null 
  begin 
    update TFAMILIA_DOCS set TX_INSTRUCAO = null
		WHERE CD_DOCUMENTO = '004' AND CD_FAMILIA_PROD = @cd_familia_prod AND CD_PAIS = @cd_pais
     
    SELECT @ptr_proc =  TEXTPTR(TX_INSTRUCAO)
		FROM TFAMILIA_DOCS
		WHERE CD_DOCUMENTO = '004' AND CD_FAMILIA_PROD = @cd_familia_prod AND CD_PAIS = @cd_pais
  end
  SELECT @ptr_followup = convert(binary,@texto)
  -- Atualizando Campo do TFAMILIA_DOCS
  UPDATETEXT TFAMILIA_DOCS.TX_INSTRUCAO @ptr_proc  @tamanho 0 @ptr_followup
GO
