USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_tdocumento_instrucao  Script Date: 05/11/2003 08:26:00 ******/
CREATE PROCEDURE [sp_atz_tdocumento_instrucao] AS 


/*
SET XACT_ABORT ON
BEGIN TRAN
*/


DECLARE @cd_grupo        char(3)
DECLARE @nr_processo     char(18)



--atualiza todos os clientes não basf
DECLARE atz_nao_basf CURSOR FOR
  SELECT  DISTINCT P.CD_GRUPO
  FROM    TPROCESSO P, TDOCUMENTO_INSTRUCAO D
  WHERE   D.NR_PROCESSO = P.NR_PROCESSO  AND
          P.CD_GRUPO NOT IN ('002', '005', '008', '013')

  OPEN atz_nao_basf
  FETCH atz_nao_basf INTO @cd_grupo
  WHILE @@fetch_status = 0
  BEGIN
    UPDATE TDOCUMENTO_INSTRUCAO SET
           IN_ABERTURA_PROC = '1'
           FROM TPROCESSO P, TDOCUMENTO_INSTRUCAO D
           WHERE P.NR_PROCESSO = D.NR_PROCESSO AND
                 P.CD_GRUPO    = @cd_grupo
                 
  
    FETCH atz_nao_basf INTO @cd_grupo
  END
  CLOSE atz_nao_basf
  DEALLOCATE atz_nao_basf       

--atualiza todas as DI'S registradas
DECLARE atz_dis_registradas CURSOR FOR
  SELECT D.NR_PROCESSO
  FROM   TDOCUMENTO_INSTRUCAO D, TDECLARACAO_IMPORTACAO I
  WHERE  D.NR_PROCESSO = I.NR_PROCESSO AND
         ISNULL(D.IN_ABERTURA_PROC, '0') <> '1'     AND
         ISNULL(I.NR_DECLARACAO_IMP, '') <> '' 
         
  OPEN atz_dis_registradas
  FETCH atz_dis_registradas INTO @nr_processo
  WHILE @@fetch_status = 0
  BEGIN
    UPDATE TDOCUMENTO_INSTRUCAO SET
    IN_ABERTURA_PROC = '1'
    WHERE NR_PROCESSO = @nr_processo


    FETCH atz_dis_registradas INTO @nr_processo
  END
  CLOSE atz_dis_registradas
  DEALLOCATE atz_dis_registradas       

--atualiza todos os clientes basf que não estão registrados e com a condição de venda não controla
DECLARE atz_dis_nao_registradas CURSOR FOR  
  SELECT DISTINCT D.NR_PROCESSO
  FROM   TDOCUMENTO_INSTRUCAO D, TPROCESSO P, TDECLARACAO_IMPORTACAO I
  WHERE  D.NR_PROCESSO  =  P.NR_PROCESSO            AND
         D.NR_PROCESSO  =  I.NR_PROCESSO            AND
         ISNULL( D.IN_ABERTURA_PROC, '0' ) <> '1'   AND
         ISNULL( I.NR_DECLARACAO_IMP, '')  = ''     AND
         ISNULL( D.CD_COND_VENDA_ENT, '0') = '0'    AND
         P.CD_GRUPO IN ('002', '005', '008', '013') 
         
  OPEN atz_dis_nao_registradas
  FETCH atz_dis_nao_registradas INTO @nr_processo
  WHILE @@fetch_status = 0
  BEGIN
    UPDATE TDOCUMENTO_INSTRUCAO 
       SET IN_ABERTURA_PROC = '1'
     WHERE NR_PROCESSO = @nr_processo


    FETCH atz_dis_nao_registradas INTO @nr_processo
  END
  CLOSE atz_dis_nao_registradas
  DEALLOCATE atz_dis_nao_registradas 

--atualiza todos os processo que não são 'I0'
DECLARE  atz_proc_nao_I0 CURSOR FOR
  SELECT NR_PROCESSO
    FROM TDOCUMENTO_INSTRUCAO
   WHERE SUBSTRING(NR_PROCESSO, 5, 2) <> 'I0' AND
         ISNULL( IN_ABERTURA_PROC, '0' ) <> '1'        

  OPEN atz_proc_nao_I0
  FETCH atz_proc_nao_I0 INTO @nr_processo
  WHILE @@fetch_status = 0
  BEGIN
    UPDATE TDOCUMENTO_INSTRUCAO 
       SET IN_ABERTURA_PROC = '1'
     WHERE NR_PROCESSO = @nr_processo

    FETCH atz_proc_nao_I0 INTO @nr_processo
  END
  CLOSE atz_proc_nao_I0
  DEALLOCATE atz_proc_nao_I0


/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
