USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_atz_evento_po_di] ( @nr_processo char(18), @cd_empresa char(5)  ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo      char(18)  -- NR_PROCESSO=0101I0-9068-02 COM NR_PROC_PO=NULL 
DECLARE @cd_empresa       char(5)

SELECT  @nr_processo = '0101I0-1465-01'
SELECT  @cd_empresa  = ''

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_evento        char(3) 
DECLARE @nr_proc_po_c1    char(18)
DECLARE @nr_item_po_c1    char(3)
DECLARE @dt_realizacao_c1 datetime

SELECT DM.NR_PROCESSO, DM.NR_PROC_PO, DM.NR_ITEM_PO, FPO.CD_EVENTO, FPO.DT_REALIZACAO
INTO   #TMP_PO
FROM   TDETALHE_MERCADORIA DM, TPO PO, TPO_ITEM POI, TFLP_PO FPO, TPROCESSO P, TFOLLOWUP F
WHERE  DM.NR_PROCESSO = @nr_processo    AND 
       DM.CD_EMPRESA  = @cd_empresa     AND
       DM.NR_PROC_PO  = POI.NR_PROCESSO AND
       DM.NR_ITEM_PO  = POI.NR_ITEM     AND
       PO.NR_PROCESSO = POI.NR_PROCESSO AND
       PO.NR_PROCESSO = FPO.NR_PROCESSO AND
       DM.NR_PROCESSO = P.NR_PROCESSO   AND
       DM.NR_PROCESSO = F.NR_PROCESSO   AND
       NOT ISNULL(FPO.DT_REALIZACAO, '') = ''
GROUP BY DM.NR_PROCESSO, DM.NR_PROC_PO, DM.NR_ITEM_PO, FPO.CD_EVENTO, FPO.DT_REALIZACAO 

DECLARE cursor_tmp_processo CURSOR FOR
  SELECT   NR_PROC_PO, NR_ITEM_PO, CD_EVENTO, DT_REALIZACAO  
  FROM     #TMP_PO 
  GROUP BY NR_PROCESSO, NR_PROC_PO, NR_ITEM_PO, CD_EVENTO, DT_REALIZACAO  

OPEN cursor_tmp_processo
FETCH cursor_tmp_processo INTO @nr_proc_po_c1, @nr_item_po_c1, @cd_evento, @dt_realizacao_c1
WHILE ( @@FETCH_STATUS = 0 ) 
BEGIN
  UPDATE F
  SET    F.DT_REALIZACAO = @dt_realizacao_c1
  FROM   TDETALHE_MERCADORIA DM, TPROCESSO P, TFOLLOWUP F
  WHERE  DM.NR_PROC_PO  = @nr_proc_po_c1     AND
         DM.NR_ITEM_PO  = @nr_item_po_c1     AND
         DM.NR_PROCESSO = @nr_processo       AND
         DM.CD_EMPRESA  = @cd_empresa        AND
         F.CD_EVENTO    = @cd_evento         AND
         DM.NR_PROCESSO = P.NR_PROCESSO      AND
         DM.NR_PROCESSO = F.NR_PROCESSO

FETCH cursor_tmp_processo INTO @nr_proc_po_c1, @nr_item_po_c1, @cd_evento, @dt_realizacao_c1
END
CLOSE cursor_tmp_processo
DEALLOCATE cursor_tmp_processo

DROP TABLE #TMP_PO


GO
