USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_imp_deb_cta] (@dt_movimento datetime, @cd_unid_neg char(2), 
                             @cd_coligada char(2), @qt_imp int output) AS

DECLARE @nr_ult_lanc        int
DECLARE @ult_lanc           char(6)
DECLARE @dt_solic_ch        char(10)
DECLARE @nr_solic_ch        char(3)
DECLARE @cd_status_solic_ch char(1)
DECLARE @cd_status_cheque   char(1)
DECLARE @cd_banco           char(3)
DECLARE @cd_fornecedor      char(5)
DECLARE @nr_lancamento      char(3)
DECLARE @vl_item            float
DECLARE @nr_processo        char(18)
DECLARE @cd_item            char(3)
DECLARE @vl_ir              float
DECLARE @vl_assist          float
DECLARE @cd_despachante     char(3)
DECLARE @in_restitui        char(1)
DECLARE @in_restitui_item   char(1)
DECLARE @nm_historico       varchar(180)

DECLARE c_imp CURSOR FOR 
   SELECT DT_SOLIC_CH, NR_SOLIC_CH, CD_STATUS_SOLIC_CH, CD_STATUS_CHEQUE, CD_BANCO
   FROM   TSOLIC_CHEQUE (TABLOCK HOLDLOCK)
   WHERE  IN_TRANSFERIDO = '0' AND 
          CD_TIPO_LANC = '2' AND
          CONVERT(DATETIME, DT_SOLIC_CH, 103) <= @dt_movimento
SELECT @qt_imp  = 0
OPEN c_imp
FETCH c_imp INTO @dt_solic_ch, @nr_solic_ch, @cd_status_solic_ch, @cd_status_cheque, @cd_banco
WHILE @@fetch_status <> -1
BEGIN
    
  IF ( @cd_status_cheque IN ( '0', '1', '2', '3' ) )
  BEGIN
  
    IF @cd_status_solic_ch IN ( '6', '7' ) 
      SELECT @nm_historico = 'EXTORNO'
    ELSE
      SELECT @nm_historico = NULL
    DECLARE c_itens CURSOR FOR
      SELECT NR_LANCAMENTO, VL_ITEM, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, CD_DESPACHANTE, CD_FORNECEDOR, IN_RESTITUI
        FROM TSOLIC_CHEQUE_ITENS (TABLOCK HOLDLOCK)
        WHERE DT_SOLIC_CH = @dt_solic_ch AND 
              NR_SOLIC_CH = @nr_solic_ch AND
       IN_TRANSF = '0' AND
              CD_STATUS IN ( '0', '4', '6', '8' ) AND
              CD_ITEM IN ( SELECT CD_ITEM 
      FROM TTIPO_ITEM 
      WHERE CD_TIPO_ITEM IN ( 'D', 'X', 'T', 'V', 'N', '+', '-' ) )
    OPEN c_itens 
    FETCH c_itens INTO
      @nr_lancamento, @vl_item, @nr_processo, @cd_item, @vl_ir, @vl_assist, @cd_despachante, @cd_fornecedor, @in_restitui_item
    WHILE @@fetch_status <> -1
    BEGIN
      SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
      FROM   TCAIXA 
      WHERE  DT_MOVIMENTO = @dt_movimento 
      SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )
      SELECT @qt_imp = @qt_imp + 1

      IF @cd_status_solic_ch IN ( '6', '7' ) 
      BEGIN
      IF @in_restitui_item = '1'        
          SELECT @in_restitui = '0'
        ELSE
          SELECT @in_restitui = '1'
      END
      ELSE
        SELECT @in_restitui = @in_restitui_item
      INSERT TCAIXA( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, 
                     IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, CD_BANCO, CD_FAVORECIDO,
                     NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, CD_DESPACHANTE, IN_RESTITUI )
       VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', '2', '0', '0', @vl_item, 'D', @cd_banco, 
                @cd_fornecedor, @nr_processo, @cd_item, @vl_ir, @vl_assist, @cd_despachante, @in_restitui )
         
      SELECT @nr_ult_lanc = @nr_ult_lanc + 1
      SELECT @ult_lanc    = RIGHT( '000000' + CONVERT( varchar, @nr_ult_lanc ), 6 )
      UPDATE TSOLIC_CHEQUE_ITENS
      SET    IN_TRANSF = '1'
      WHERE  CURRENT OF c_itens
      FETCH c_itens INTO
        @nr_lancamento, @vl_item, @nr_processo, @cd_item, @vl_ir, @vl_assist, @cd_despachante, @cd_fornecedor, @in_restitui_item
    END
    CLOSE c_itens
    DEALLOCATE c_itens 
  END
  UPDATE TSOLIC_CHEQUE
  SET    IN_TRANSFERIDO = '1'
  WHERE  CURRENT OF c_imp

  FETCH c_imp INTO @dt_solic_ch, @nr_solic_ch, @cd_status_solic_ch, @cd_status_cheque, @cd_banco
END
CLOSE c_imp
DEALLOCATE c_imp

DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco
EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa



GO
