USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_gera_solic_ch_sda    Script Date: 02/09/1999 08:59:01 AM ******/
/****** Object:  Stored Procedure dbo.sp_gera_solic_ch_liq    Script Date: 02/02/1999 6:04:06 PM ******/
CREATE PROCEDURE [sp_gera_solic_ch_sda] ( @dt_solic_ch char(10), @nr_solic_ch char(3), @cd_unid_neg char(2), 
                                        @cd_produto char(2) ) AS
DECLARE @nr_lancamento  char(3)
DECLARE @nr_processo  char(18)
DECLARE @vl_sda   float
DECLARE @vl_contr_assist float
DECLARE @cd_item_sda    char(3)
DECLARE @cd_cliente  char(5)
DECLARE @cd_fornecedor  char(5)
DECLARE @cd_despachante_sda char(3)
SELECT @cd_item_sda = CD_ITEM_SDA
FROM   TPARAMETROS (NOLOCK)
IF @@rowcount > 0
BEGIN
  SELECT @nr_lancamento = MAX( NR_LANCAMENTO )
  FROM   TSOLIC_CHEQUE_ITENS 
  WHERE  DT_SOLIC_CH = @dt_solic_ch AND
         NR_SOLIC_CH = @nr_solic_ch
  
  DECLARE c_sda CURSOR FOR
    SELECT P.NR_PROCESSO, P.CD_CLIENTE, P.VL_SDA, P.VL_CONTR_ASSIST, P.CD_DESPACHANTE_SDA
    FROM   TPROCESSO P 
    WHERE  P.CD_UNID_NEG   = @cd_unid_neg AND
           P.CD_PRODUTO    = @cd_produto AND
        P.CD_STATUS_SDA = '2' AND
           P.IN_PRODUCAO   = '1' AND
           P.IN_CANCELADO  = '0' AND
           P.IN_LIBERADO   = '1' AND
           P.IN_CHEQUE_SDA = '1' AND
           P.VL_SDA        > 0   AND
           P.NR_PROCESSO NOT IN ( SELECT F.NR_PROCESSO
                                  FROM   TFATURAMENTO_CC F,
                                         TPARAMETROS A
                                  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                                         F.CD_ITEM = A.CD_ITEM_SDA AND
                                         F.IN_CANCELADO = '0') AND
           P.NR_PROCESSO NOT IN ( SELECT I.NR_PROCESSO
                           FROM   TSOLIC_CHEQUE S,
                                         TSOLIC_CHEQUE_ITENS I,
                                         TPARAMETROS A
                                  WHERE  S.DT_SOLIC_CH = I.DT_SOLIC_CH AND
                                         S.NR_SOLIC_CH = I.NR_SOLIC_CH AND
                                         I.NR_PROCESSO = P.NR_PROCESSO AND
                                         I.CD_ITEM     = A.CD_ITEM_SDA AND
                                         S.CD_STATUS_SOLIC_CH IN ('1','3','4') AND
                                         I.CD_STATUS IN ('0','4','6','8') ) 
  OPEN c_sda
  FETCH c_sda INTO @nr_processo, @cd_cliente, @vl_sda, @vl_contr_assist, @cd_despachante_sda
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @cd_fornecedor = CD_FAVORECIDO
    FROM   TDESPACHANTE 
    WHERE  CD_DESPACHANTE = @cd_despachante_sda
    SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ISNULL ( ( CONVERT( int, @nr_lancamento) + 1 ), 1 ) ), 3 )
    INSERT TSOLIC_CHEQUE_ITENS 
    VALUES ( @dt_solic_ch, @nr_solic_ch, @nr_lancamento, @nr_processo, @cd_item_sda,
       @vl_sda, 0, @vl_contr_assist, '0', @cd_despachante_sda, @cd_cliente, '0', @cd_fornecedor, '0' )
    EXEC sp_proc_itens_solic_ch @dt_solic_ch, @nr_solic_ch, @nr_lancamento, '+'
    FETCH c_sda INTO @nr_processo, @cd_cliente, @vl_sda, @vl_contr_assist, @cd_despachante_sda
  END
  CLOSE c_sda
  DEALLOCATE c_sda
END
ELSE
BEGIN
  RETURN(1)
END



GO
