USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_dias_uteis_flp]( @dt_inicio datetime, @dt_fim datetime, @prazo char(3), @evento char(1), @flag_ok int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @dt_inicio datetime
DECLARE @dt_fim    datetime
DECLARE @prazo     char(3)
DECLARE @evento    char(1)
DECLARE @flag_ok   int

SELECT @dt_inicio = CONVERT( datetime, '01/10/2003', 103 )
SELECT @dt_fim    = CONVERT( datetime, '20/10/2003', 103 )
SELECT @prazo     = 2
SELECT @evento    = 1

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_temp datetime
DECLARE @nr_dias int

SELECT @nr_dias = DATEDIFF( d, @dt_inicio, @dt_fim )

-- Data do evento ocorreu no mesmo dia que evento base/futuro
IF @nr_dias = 0 
BEGIN
  IF @evento = 2			-- MESMO DIA
    SELECT @flag_ok = 1
  ELSE
    SELECT @flag_ok = 3
  
  RETURN
END


IF @nr_dias > 0 
BEGIN
  IF @evento = 2			-- MESMO DIA
  BEGIN 
    SELECT @flag_ok = 3
    RETURN
  END
  ELSE
  BEGIN

    SELECT @dt_temp = @dt_inicio
    WHILE @dt_temp <> @dt_fim + 1
    BEGIN
      
      IF DATEPART( dw, @dt_temp ) IN ( 1, 7 )
        SELECT @nr_dias = @nr_dias - 1
      ELSE
        IF CONVERT( datetime, @dt_temp, 103 ) IN ( SELECT CONVERT( datetime, DT_FERIADO, 103 )  FROM   TFERIADO )
          SELECT @nr_dias = @nr_dias - 1
        
      SELECT @dt_temp = @dt_temp + 1
    END
    
    IF @nr_dias = @prazo
      SELECT @flag_ok = 1
    ELSE
      SELECT @flag_ok = 3
  END  

  RETURN
END
      
IF @nr_dias < 0
BEGIN
  SELECT @flag_ok = 3
  RETURN
END




GO
