USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_calc_thc_tra]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_armazem          char(4)
DECLARE @cd_embarcacao       char(4)
DECLARE @in_roro             char(1)
DECLARE @in_merc_perigosa    char(1)
DECLARE @qt_cntr20           float
DECLARE @qt_cntr40           float
DECLARE @peso_bruto          float
DECLARE @vl_thc_cntr_20      float     
DECLARE @vl_thc_cntr_40      float    
DECLARE @vl_thc_c_solta      float    
DECLARE @vl_thc_cntr_20_roro float    
DECLARE @vl_thc_cntr_40_roro float    
DECLARE @vl_thc_c_solta_roro float    
DECLARE @vl_thc_min          float    
DECLARE @pc_iss              float
DECLARE @pc_acr_thc_perigo   float
DECLARE @vl_resultado        numeric (13,3)
SELECT  @Resultado           = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_armazem       = CD_ARMAZEM_DESCARGA,
       @in_merc_perigosa = IN_MERC_PERIGOSA,
       @cd_embarcacao    = CD_EMBARCACAO
FROM   TPROCESSO
WHERE ( NR_PROCESSO = @nr_processo ) 
IF @@rowcount = 0
BEGIN
  -- Processo nao encontrado
  RETURN(1)
END
ELSE
BEGIN
  SELECT @qt_cntr20 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 )
  FROM   TPROCESSO_EMBALAGEM PE,
         TEMBALAGEM E
  WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
         E.CD_TIPO IN ('2','4')
  SELECT @qt_cntr40 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 ) 
  FROM   TPROCESSO_EMBALAGEM PE,
         TEMBALAGEM E
  WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
         E.CD_TIPO IN ('3','5')
  SELECT @peso_bruto = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 )
  FROM   TPROCESSO_EMBALAGEM PE,
         TEMBALAGEM E
  WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
         E.CD_TIPO IN ('1','6')
  -- PESQUISA TAXA DO TRA
  SELECT @vl_thc_cntr_20       = ISNULL( VL_THC_CNTR_20, 0 ),
         @vl_thc_cntr_40       = ISNULL( VL_THC_CNTR_40, 0 ), 
         @vl_thc_c_solta       = ISNULL( VL_THC_C_SOLTA, 0 ), 
         @vl_thc_c_solta_roro  = ISNULL( VL_THC_C_SOLTA_RORO, 0 ), 
         @vl_thc_min           = ISNULL( VL_THC_MIN, 0 ),
         @pc_acr_thc_perigo    = ISNULL( PC_ACR_CARR_PERIGO, 0 ),
         @pc_iss               = ISNULL( PC_ISS, 0 )
  FROM   TARMAZEM A,
         TTAXA_TRA T
  WHERE  A.CD_ARMAZEM          = @cd_armazem AND
         A.CD_TAXA             = T.CD_TAXA_TRA
  IF @@rowcount = 0
  BEGIN
    -- Armaz'm ou taxa nao cadastrada
    RETURN(2)
  END
  ELSE
  BEGIN
    -- PESQUISA EMBARCACAO
    SELECT @in_roro = IN_RORO
    FROM   TEMBARCACAO
    WHERE  CD_EMBARCACAO = @cd_embarcacao
    IF @@rowcount = 0
    BEGIN
      -- Embarca+ao nao cadastrada
      RETURN(3)
    END
    ELSE
    BEGIN
      -- CALCULA THC
      IF ( @qt_cntr20 + @qt_cntr40 ) > 0
      BEGIN
        SELECT @vl_resultado = ROUND ( ( ( @qt_cntr20 * @vl_thc_cntr_20) +
                                         ( @qt_cntr40 * @vl_thc_cntr_40) ) , 2 )
      END
      ELSE
      BEGIN
        IF @in_roro = '0'
        BEGIN
          SELECT @vl_resultado = ROUND ( ( @peso_bruto * @vl_thc_c_solta ) , 2 )
        END
        ELSE
        BEGIN
          SELECT @vl_resultado = ROUND ( ( @peso_bruto * @vl_thc_c_solta_roro ) , 2 )
        END
        IF @vl_resultado < @vl_thc_min 
          SELECT @vl_resultado = @vl_thc_min
      END
      IF @in_merc_perigosa = '1'
         SELECT @vl_resultado = ROUND ( ( @vl_resultado * ( 1 + @pc_acr_thc_perigo ) ), 2 )
      SELECT @vl_resultado = ROUND ( ( @vl_resultado * ( 1 + @pc_iss ) ), 2 )
      -- RETORNA O CALCULO
      SELECT @Resultado = @vl_resultado
      RETURN(0)
    END
  END
END



GO
