USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
Procedure sp_atz_myindaia_estagio_adm alimenta as tabelas  : 

MYINDAIA.DBO.TESTAGIO_PROCESSO
MYINDAIA.DBO.TFLP_IMPORT
MYINDAIA.DBO.TFLP_ERRO 
MYINDAIA.DBO.TFLP_ESTAGIO
*/


CREATE PROCEDURE [sp_atz_myindaia_estagio_adm2](@data int = 0) AS                  
SET NOCOUNT ON                  
/*                  
BEGIN TRAN                  
DECLARE @data int                  
--*/                  
DECLARE                  
  @nr_processo_adm char(18),                  
  @nr_referencia char(18),
  @cd_empresa char(5),
  @NR_PARCIAL int,                
  @nr_item_cliente char(4),                  
  @dt_ult_alteracao datetime,                  
  @errors int,                  
  @registros int,                  
  @apCampo char(10),                  
  @cdBroker char(3),                  
  @txUpdate varchar(1024),
  @tabela varchar(100)                    
IF ISNULL(@data, 0) = 0 SET @data = YEAR(GETDATE())-3                 
SET @errors = 0                  
SET @registros = 0                  
PRINT 'Iniciando cópia de dados...'                  
                
SELECT TOP 1000 NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, MIN(AP_USUARIO) AS AP_USUARIO                  
INTO #TMP_ESTAGIO                  
FROM TATZ_MYINDAIA_ESTAGIO (NOLOCK)                  
WHERE NR_PROCESSO_ADM IS NOT NULL                  
/*  AND SUBSTRING(NR_PROCESSO_ADM,5,2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')**/ /* Atendendo a cocorrencia 05081/07  (Denilza) excluí o ítem IW para que possam ser transferidos para a base WEB*/                  
AND SUBSTRING(NR_PROCESSO_ADM,5,2) NOT IN ('EW','FT','IF','PO','TE','TS') and NR_PARCIAL IS NOT NULL  
GROUP BY NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO                  
ORDER BY AP_USUARIO, MIN(CD_ATUALIZACAO)                  
                  
--exclui os processos das tabelas de atualizao                  
DELETE EP                  
FROM TATZ_MYINDAIA_ESTAGIO EP, #TMP_ESTAGIO ED                  
WHERE ED.NR_REFERENCIA    = EP.NR_REFERENCIA                  
  AND ED.NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE                  
  AND ED.NR_PARCIAL       = EP.NR_PARCIAL 
  AND ED.CD_EMPRESA       = ISNULL(EP.CD_EMPRESA, '')
                  
/***** APAGA OS REGISTROS SELECIONADOS NO MYINDAIA **************************************************************************************/                  
DELETE EP                  
FROM MYINDAIA.DBO.TESTAGIO_PROCESSO EP, #TMP_ESTAGIO ED                  
WHERE ED.NR_REFERENCIA    = EP.NR_REFERENCIA                  
  AND ED.NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE                  
  AND ED.NR_PARCIAL       = EP.NR_PARCIAL
  AND ISNULL(ED.CD_EMPRESA, '')       = EP.CD_EMPRESA                 
                
                  
DELETE FI                  
FROM MYINDAIA.DBO.TFLP_IMPORT1 FI, #TMP_ESTAGIO ED                  
WHERE ED.NR_REFERENCIA    = FI.NR_REFERENCIA                  
  AND ED.NR_ITEM_CLIENTE  = FI.NR_ITEM_CLIENTE                  
  AND ED.NR_PARCIAL       = FI.NR_PARCIAL
  AND ISNULL(ED.CD_EMPRESA, '')       = FI.CD_EMPRESA                 
                
DELETE FI                  
FROM MYINDAIA.DBO.TFLP_IMPORT2 FI, #TMP_ESTAGIO ED                  
WHERE ED.NR_REFERENCIA    = FI.NR_REFERENCIA                  
  AND ED.NR_ITEM_CLIENTE  = FI.NR_ITEM_CLIENTE                  
  AND ED.NR_PARCIAL       = FI.NR_PARCIAL
  AND ISNULL(ED.CD_EMPRESA, '')       = FI.CD_EMPRESA                   
                  
DELETE FE                  
FROM MYINDAIA.DBO.TFLP_ESTAGIO FE, #TMP_ESTAGIO ED                  
WHERE ED.NR_REFERENCIA    = FE.NR_REFERENCIA                  
  AND ED.NR_ITEM_CLIENTE  = FE.NR_ITEM_CLIENTE                  
  AND ED.NR_PARCIAL       = FE.NR_PARCIAL 
  AND ISNULL(ED.CD_EMPRESA, '')       = FE.CD_EMPRESA                
                
                  
/***** INCLUI OS REGISTROS SELECIONADOS NO MYINDAIA *************************************************************************************/                  
--inclui os registros da tabela temporria na TESTAGIO_PROCESSO                  
INSERT INTO MYINDAIA.DBO.TESTAGIO_PROCESSO (                  
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, IN_SUBSTITUIDO, NR_PARCIAL, CD_EMPRESA )                  
SELECT DISTINCT                  
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.IN_SUBSTITUIDO, EP.NR_PARCIAL, EP.CD_EMPRESA
FROM #TMP_ESTAGIO ATZ                  
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA )
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @data                  
--verifica se ocorreram erros                  
SET @registros = @registros + @@rowcount                  
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TESTAGIO_PROCESSO'                  
                  
--inclui os registros da tabela temporria na TFLP_IMPORT                  
INSERT INTO MYINDAIA.DBO.TFLP_IMPORT1 (                  
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, NR_PARCIALM, CD_EMPRESA )                  
SELECT DISTINCT                  
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.NR_PARCIAL, EP.CD_EMPRESA
FROM #TMP_ESTAGIO ATZ                  
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA )
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @data                  
--verifica se ocorreram erros                  
SET @registros = @registros + @@rowcount                  
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_IMPORT'          

--inclui os registros da tabela temporria na TFLP_IMPORT                  
INSERT INTO MYINDAIA.DBO.TFLP_IMPORT2 (                  
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, NR_PARCIALM, CD_EMPRESA )                  
SELECT DISTINCT                  
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.NR_PARCIAL, EP.CD_EMPRESA
FROM #TMP_ESTAGIO ATZ                  
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA )
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @data                  
--verifica se ocorreram erros                  
SET @registros = @registros + @@rowcount                  
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_IMPORT'        
                  
                  
/***** FOLLOW UP DE EVENTOS PO *****/                  
DECLARE cEvento CURSOR LOCAL FOR                  
  SELECT M10_AP_CAMPO, M10_CD_BROKER                  
  FROM MYINDAIA.DBO.M10_DADOS (NOLOCK)                  
  WHERE M10_TP_DADO = '1'                  
    AND M10_CD_BROKER IN ('003','019','020','168','219','349','352','353','354','425','426','459','461','554')                  
    AND M10_AP_CAMPO NOT LIKE '%DE'                  
  ORDER BY M10_CD_BROKER                  
                  
OPEN cEvento                  
FETCH cEvento INTO @apCampo, @cdBroker                  
                  
WHILE @@fetch_status = 0                  
BEGIN 
  IF (SELECT COUNT(*) 
      FROM MYINDAIA.DBO.SYSOBJECTS SO, MYINDAIA.DBO.SYSCOLUMNS SC
      WHERE SO.NAME = 'TFLP_IMPORT1'
        AND SC.NAME = 'RLZ_'+@apCampo
        AND SC.ID = SO.ID) > 0         
    SET @tabela = 'TFLP_IMPORT1'
  ELSE
    SET @tabela = 'TFLP_IMPORT2'

                 
  SET @txUpdate = 'UPDATE FI SET                  
    RLZ_'+@apCampo+' = FP.DT_REALIZACAO, PVT_'+@apCampo+' = FP.DT_PREVISTA, IN_'+@apCampo+' = FP.IN_APLICAVEL                  
  FROM MYINDAIA.DBO.' + @tabela + ' FI (NOLOCK)                  
    INNER JOIN #TMP_ESTAGIO ATZ ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL AND FI.CD_EMPRESA = ISNULL(ED.CD_EMPRESA, ''''))                  
    INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = FI.NR_REFERENCIA AND PO.CD_EMPRESA = FI.CD_EMPRESA)                  
    INNER JOIN MYINDAIA.DBO.TFLP_PO FP (NOLOCK) ON (FP.NR_PROCESSO = FI.NR_REFERENCIA AND FP.CD_EMPRESA = FI.CD_EMPRESA AND CD_EVENTO = '''+@cdBroker+''')                  
  WHERE FI.NR_PROCESSO_ADM IS NOT NULL                  
    AND YEAR(PO.DT_ABERTURA) >= '+CAST(@data AS char)                  
  exec(@txUpdate)                  
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_IMPORT com o evento de PO '+@cdBroker                  
  FETCH cEvento INTO @apCampo, @cdBroker                  
END                  
                  
CLOSE cEvento                  
DEALLOCATE cEvento                  
                  
/***** FOLLOW UP DE EVENTOS PO/ITEM *****/                  
DECLARE cEvento CURSOR LOCAL FOR                  
  SELECT M10_AP_CAMPO, M10_CD_BROKER                  
  FROM MYINDAIA.DBO.M10_DADOS (NOLOCK)                  
  WHERE M10_TP_DADO = '1'                  
    AND M10_CD_BROKER IN ('001','012','018','021','041','076','088','082','123','146','161','162','164','207','216','218','219','297',                  
                          '300','354','355','356','357','362','363','364','365','397','448','450','451','453','455','456','457','458',                  
                          '460','464','500','551','554')                  
    AND M10_AP_CAMPO NOT LIKE '%DE'                  
  ORDER BY M10_CD_BROKER                  
                  
OPEN cEvento                  
FETCH cEvento INTO @apCampo, @cdBroker                  
                  
WHILE @@fetch_status = 0                  
BEGIN           
  IF (SELECT COUNT(*) 
      FROM MYINDAIA.DBO.SYSOBJECTS SO, MYINDAIA.DBO.SYSCOLUMNS SC
      WHERE SO.NAME = 'TFLP_IMPORT1'
        AND SC.NAME = 'RLZ_'+@apCampo
        AND SC.ID = SO.ID) > 0         
    SET @tabela = 'TFLP_IMPORT1'
  ELSE
    SET @tabela = 'TFLP_IMPORT2'
       
  SET @txUpdate = 'UPDATE FI SET                  
    RLZ_'+@apCampo+' = FP.DT_REALIZACAO, PVT_'+@apCampo+' = FP.DT_PREVISTA, IN_'+@apCampo+' = FP.IN_APLICAVEL                  
  FROM MYINDAIA.DBO.' + @tabela + ' FI (NOLOCK)                  
    INNER JOIN #TMP_ESTAGIO ATZ ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL AND FI.CD_EMPRESA = ISNULL(ED.CD_EMPRESA, ''''))
    INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = FI.NR_REFERENCIA AND PO.CD_EMPRESA = FI.CD_EMPRESA)                  
    INNER JOIN MYINDAIA.DBO.TFLP_PO_ITEM FP (NOLOCK) ON (FP.NR_PROCESSO = FI.NR_REFERENCIA AND FP.CD_EMPRESA = FI.CD_EMPRESA AND FP.NR_ITEM_CLIENTE = FI.NR_ITEM_CLIENTE AND FP.NR_PARCIAL = FI.NR_PARCIAL AND CD_EVENTO = '''+@cdBroker+''')                  
  WHERE FI.NR_PROCESSO_ADM IS NOT NULL                  
    AND YEAR(PO.DT_ABERTURA) >= '+CAST(@data AS char)                  
  exec(@txUpdate)                  
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_IMPORT com o evento de PO/Item '+@cdBroker                  
  FETCH cEvento INTO @apCampo, @cdBroker                  
END                  
                  
CLOSE cEvento                  
DEALLOCATE cEvento                  
                  
                  
/***** FOLLOW UP DE EVENTOS DESEMBARAÇO *****/                  
DECLARE cEvento CURSOR LOCAL FOR                  
  SELECT M10_AP_CAMPO, M10_CD_BROKER                  
  FROM MYINDAIA.DBO.M10_DADOS (NOLOCK)                  
  WHERE M10_TP_DADO = '1'                  
    AND M10_CD_BROKER IN ('001','003','012','017','018','021','034','035','041','045','050','052','072','076','082','083','084','086',                  
                          '088','090','092','114','146','154','156','158','161','162','164','166','168','186','207','215','216','218','220',                  
                          '235','253','257','259','289','297','342','381','384','387','390','391','397','416','417','418','419','420',                  
                          '421','422','423','438','439','440','441','468','469','470','471','472','498','533')                  
AND M10_AP_CAMPO NOT LIKE '%PO'                  
  ORDER BY M10_CD_BROKER                  
                  
OPEN cEvento                  
FETCH cEvento INTO @apCampo, @cdBroker                  
                  
WHILE @@fetch_status = 0                  
BEGIN    
  IF (SELECT COUNT(*) 
      FROM MYINDAIA.DBO.SYSOBJECTS SO, MYINDAIA.DBO.SYSCOLUMNS SC
      WHERE SO.NAME = 'TFLP_IMPORT1'
        AND SC.NAME = 'RLZ_'+@apCampo
        AND SC.ID = SO.ID) > 0         
    SET @tabela = 'TFLP_IMPORT1'
  ELSE
    SET @tabela = 'TFLP_IMPORT2'
              
  SET @txUpdate = 'UPDATE FI SET '                  
  IF @cdBroker IN ('001','012','018','021','041','076','088','146','161','162','164','207','215','216','381') BEGIN                  
    SET @txUpdate = @txUpdate + '                   
    RLZ_'+@apCampo+' = FU.DT_REALIZACAO, PVT_'+@apCampo+' = FU.DT_PREVISTA, IN_'+@apCampo+' = FU.IN_APLICAVEL'                  
  END                  
  ELSE                 
  BEGIN                  
    SET @txUpdate = @txUpdate + '                   
    RLZ_'+@apCampo+' = ISNULL(FU.DT_REALIZACAO, RLZ_'+@apCampo+'),                  
    PVT_'+@apCampo+' = ISNULL(FU.DT_PREVISTA, PVT_'+@apCampo+'),                  
    IN_'+@apCampo+' = ISNULL(FU.IN_APLICAVEL, IN_'+@apCampo+') '                  
  END                  
  SET @txUpdate = @txUpdate + '                   
  FROM MYINDAIA.DBO.' + @tabela + ' FI (NOLOCK)                  
    INNER JOIN #TMP_ESTAGIO ATZ ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL AND FI.CD_EMPRESA = ISNULL(ED.CD_EMPRESA, ''''))
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = FI.NR_PROCESSO_DES)                  
    INNER JOIN TFOLLOWUP FU (NOLOCK) ON (FU.NR_PROCESSO = FI.NR_PROCESSO_DES AND FU.CD_EVENTO = '''+@cdBroker+''')                  
  WHERE FI.NR_PROCESSO_ADM IS NOT NULL                  
    AND YEAR(PR.DT_ABERTURA) >= '+CAST(@data AS char)                  
  exec(@txUpdate)                  
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_IMPORT com o evento de Desembaraço '+@cdBroker                  
  FETCH cEvento INTO @apCampo, @cdBroker                  
END                  
                  
CLOSE cEvento                  
DEALLOCATE cEvento                  
                  
/* PARA TENTAR PEGAR O ERRO DA DUPLICAÇÃO - APAGAR APÓS  */                  
INSERT INTO MYINDAIA.DBO.TFLP_ERRO (                  
  NR_REFERENCIA,  NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES,                 
  NR_PROCESSO_FI, DT_PREVISTA, DT_REALIZACAO, IN_APLICAVEL, NR_ORDEM, CD_EMPRESA )                  
SELECT                  
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                 
  EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM, CD_EMPRESA                 
FROM #TMP_ESTAGIO ATZ                  
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)                  
  INNER JOIN MYINDAIA.DBO.TFLP_PO_ITEM FP (NOLOCK) ON (FP.NR_PROCESSO = EP.NR_REFERENCIA AND FP.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND FP.NR_PARCIAL = EP.NR_PARCIAL AND FP.CD_EMPRESA = EP.CD_EMPRESA)
WHERE YEAR(PR.DT_ABERTURA) >= @data                  
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'                  
GROUP BY EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                 
  EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM, CD_EMPRESA                  
HAVING COUNT(*) > 1                  
                  
--Follow-Up de Itens da PO(Administrao de Pedido)                  
INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                  
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI,                  
  DT_PREVISTA, DT_REALIZACAO, IN_APLICAVEL, NR_ORDEM, TP_FOLLOWUP, CD_EMPRESA )                  
SELECT DISTINCT                  
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                 
  EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM, '1' AS TP_FOLLOWUP, EP.CD_EMPRESA                  
FROM #TMP_ESTAGIO ATZ                  
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)                  
  INNER JOIN MYINDAIA.DBO.TFLP_PO_ITEM FP (NOLOCK) ON (FP.NR_PROCESSO = EP.NR_REFERENCIA AND FP.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE and FP.NR_PARCIAL = EP.NR_PARCIAL AND FP.CD_EMPRESA = EP.CD_EMPRESA)
WHERE YEAR(PR.DT_ABERTURA) >= @data                  
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'                  
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFLP_ERRO (NOLOCK)                  
                  WHERE NR_REFERENCIA = EP.NR_REFERENCIA                  
                    AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE                  
                    AND NR_PARCIAL = EP.NR_PARCIAL
                    AND CD_EMPRESA = EP.CD_EMPRESA)                  
--verifica se ocorreram erros                  
SET @registros = @registros + @@rowcount                  
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_ESTAGIO com eventos da PO/Item'                  
                  
--Follow-Up de PO(Administrao de Pedido)                  
INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                  
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI,                  
  DT_PREVISTA, DT_REALIZACAO, IN_APLICAVEL, NR_ORDEM, TP_FOLLOWUP, CD_EMPRESA )                  
SELECT DISTINCT                  
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE,  EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                 
  EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM, '0' AS TP_FOLLOWUP, EP.CD_EMPRESA                  
FROM #TMP_ESTAGIO ATZ                  
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)                  
  INNER JOIN MYINDAIA.DBO.TFLP_PO FP (NOLOCK) ON (FP.NR_PROCESSO = EP.NR_REFERENCIA AND FP.CD_EMPRESA = FP.CD_EMPRESA)
WHERE YEAR(PR.DT_ABERTURA) >= @data                  
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'                  
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)                  
                  WHERE NR_REFERENCIA = EP.NR_REFERENCIA                  
                    AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE                  
                    AND NR_PARCIAL = EP.NR_PARCIAL                  
                    AND CD_EVENTO = FP.CD_EVENTO
                    AND CD_EMPRESA = FP.CD_EMPRESA)                  
--verifica se ocorreram erros                  
SET @registros = @registros + @@rowcount                  
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_ESTAGIO com eventos da PO'                  
                  
--Follow-Up de Desembaraço - insere registros ausentes                  
INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                  
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, NR_ORDEM, TP_FOLLOWUP, CD_EMPRESA )
SELECT DISTINCT                  
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                 
  EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.NR_ORDEM, '2', EP.CD_EMPRESA
FROM #TMP_ESTAGIO ATZ         
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_DES)                  
  INNER JOIN TFOLLOWUP FP (NOLOCK) ON (FP.NR_PROCESSO = EP.NR_PROCESSO_DES)                  
WHERE YEAR(PR.DT_ABERTURA) >= @data                  
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'                  
  AND NOT EXISTS (SELECT *
                  FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)
                  WHERE NR_REFERENCIA = EP.NR_REFERENCIA                  
                    AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE                  
                    AND NR_PARCIAL = EP.NR_PARCIAL                  
                    AND CD_EVENTO = FP.CD_EVENTO
                    AND CD_EMPRESA = EP.CD_EMPRESA)                  
--verifica se ocorreram erros                  
SET @registros = @registros + @@rowcount                  
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_ESTAGIO com eventos do Desembaraço'                  
--Follow-Up de Desembaraço - atualiza registros                  
UPDATE FE SET                  
  DT_PREVISTA = ISNULL(FP.DT_PREVISTA, FE.DT_PREVISTA),                  
  DT_REALIZACAO = ISNULL(FP.DT_REALIZACAO, FE.DT_REALIZACAO),                  
  IN_APLICAVEL = ISNULL(FP.IN_APLICAVEL, FE.IN_APLICAVEL)                  
FROM #TMP_ESTAGIO ATZ                  
  INNER JOIN MYINDAIA.DBO.TFLP_ESTAGIO FE (NOLOCK) ON (FE.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FE.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FE.NR_PARCIAL = ATZ.NR_PARCIAL AND FE.CD_EMPRESA = ISNULL(ATZ.CD_EMPRESA, ''))
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = ATZ.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)                  
  INNER JOIN TFOLLOWUP FP (NOLOCK) ON (FP.NR_PROCESSO = FE.NR_PROCESSO_DES AND FP.CD_EVENTO = FE.CD_EVENTO)                  
WHERE ISNULL(EP.IN_SUBSTITUIDO, '0') = '0'                  
--verifica se ocorreram erros                  
IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_ESTAGIO com o evento de Desembaraço e não susbstituido'                  
--Follow-Up de Desembaraço - atualiza registros                  
UPDATE FE SET                  
  DT_PREVISTA = FP.DT_PREVISTA,                  
  DT_REALIZACAO = FP.DT_REALIZACAO,                  
  IN_APLICAVEL = FP.IN_APLICAVEL                  
FROM #TMP_ESTAGIO ATZ                  
  INNER JOIN MYINDAIA.DBO.TFLP_ESTAGIO FE (NOLOCK) ON (FE.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FE.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FE.NR_PARCIAL = ATZ.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = FE.CD_EMPRESA)                  
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = ATZ.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)                  
  INNER JOIN TFOLLOWUP FP (NOLOCK) ON (FP.NR_PROCESSO = FE.NR_PROCESSO_DES AND FP.CD_EVENTO = FE.CD_EVENTO)                  
WHERE ISNULL(EP.IN_SUBSTITUIDO, '0') = '1'                  
--verifica se ocorreram erros        
IF @@ERROR <> 0                 
  PRINT 'Erro na atualização da TFLP_ESTAGIO com o evento de Desembaraço e susbstituido'                  
                  
--insere os eventos limitadores na followup (caso não existam)                  
DECLARE cProcesso CURSOR LOCAL FOR                  
  SELECT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.CD_EMPRESA                  
  FROM #TMP_ESTAGIO ATZ                  
    INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)          
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)                  
  WHERE EP.NR_PROCESSO_DES IS NULL                  
    AND YEAR(PR.DT_ABERTURA) >= @data                  
    AND ISNULL(PR.CD_TP_PEDIDO, 0) IN ('4','5')                  
                    
OPEN cProcesso                  
FETCH cProcesso INTO @nr_referencia, @nr_item_cliente, @NR_PARCIAL, @dt_ult_alteracao, @nr_processo_adm, @cd_empresa                  
WHILE @@fetch_status = 0                  
BEGIN                  
  INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                  
    NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, TP_FOLLOWUP, NR_PROCESSO_ADM, IN_APLICAVEL, CD_EMPRESA )                  
  SELECT                   
    @nr_referencia, @nr_item_cliente, @NR_PARCIAL, @dt_ult_alteracao, M10_CD_BROKER, '2', @nr_processo_adm, '1', @cd_empresa                  
  FROM MYINDAIA.DBO.M03_LIMITADOR (NOLOCK), MYINDAIA.DBO.M10_DADOS (NOLOCK)                  
  WHERE M03_CD_MENU = '01'                  
    AND M03_CD_SUBM = '01'                  
    AND M03_CD_DADO = M10_CD_DADO                  
    AND M10_CD_BROKER NOT IN (SELECT CD_EVENTO                  
                              FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)                  
                              WHERE NR_REFERENCIA    = @nr_referencia                  
                                AND NR_ITEM_CLIENTE  = @nr_item_cliente                  
                                AND NR_PARCIAL       = @NR_PARCIAL                  
                                AND NR_PROCESSO_ADM  = @nr_processo_adm
                                AND CD_EMPRESA       = @cd_empresa)                  
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_ESTAGIO com o evento limitador'                  
  FETCH cProcesso INTO @nr_referencia, @nr_item_cliente, @NR_PARCIAL, @dt_ult_alteracao, @nr_processo_adm, @cd_empresa                  
END                  
CLOSE cProcesso                  
DEALLOCATE cProcesso                  
/*                  
select * from myindaia.dbo.tflp_import  fe (NOLOCK), #TMP_ESTAGIO ep where fe.nr_referencia = ep.nr_referencia and fe.nr_item_cliente = ep.nr_item_cliente and fe.dt_ult_alteracao = ep.dt_ult_alteracao                  
select * from myindaia.dbo.tflp_estagio fe (NOLOCK), #TMP_ESTAGIO ep where fe.nr_referencia = ep.nr_referencia and fe.nr_item_cliente = ep.nr_item_cliente and fe.dt_ult_alteracao = ep.dt_ult_alteracao                  
--*/                  
PRINT 'Registros atualizados: '+CAST(@registros as varchar)                  
DROP TABLE #TMP_ESTAGIO                  
--ROLLBACK TRAN                  
SET NOCOUNT OFF 


GO
