USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_RE_CLASSIFICA_ANEXOS]( @NR_PROCESSO char(18), @NR_PROCESSO_COMPLEMENTO char(3)) AS  

/* 
 BEGIN TRAN  

 DECLARE @NR_PROCESSO CHAR(18)  
 DECLARE @NR_PROCESSO_COMPLEMENTO CHAR(18)  
 SELECT  @NR_PROCESSO = '0102EM-5669-10'
 SELECT  @NR_PROCESSO_COMPLEMENTO = '001'  --*/

 /* -- VARIAVEIS PARA A COMPARACAO DOS ITENS ----------------------------------------------------------- */
   
 DECLARE @CD_NCM_COMP          CHAR(11) /* agrupar NCM´s iguais (1)       */  
 DECLARE @CD_FABR_EXPO_COMP    CHAR(1)  
 DECLARE @CD_FABRICANTE_COMP   CHAR(5)  /* agrupar Fabricantes iguais (1) */   
 DECLARE @CD_UNID_MEDIDA_COMP  CHAR(3)  
  
 DECLARE @CD_NCM_COMP2         CHAR(11) /* agrupar NCM´s iguais (2)       */  
 DECLARE @CD_FABR_EXPO_COMP2   CHAR(1)  
 DECLARE @CD_FABRICANTE_COMP2  CHAR(5)  /* agrupar Fabricantes iguais (2) */  
 DECLARE @CD_UNID_MEDIDA_COMP2 CHAR(3)  

 DECLARE @CD_SULF_NCM  CHAR(11)  
 DECLARE @CD_ULT_NCM   CHAR(11)
   
 /* -- VARIAVEIS DE PARAMETROS ------------------------------------------------------------------------- */
   
 DECLARE @IN_AGRUPAR                      CHAR(1)  
 DECLARE @IN_QUEBRA_POR_VALOR             CHAR(1)  
 DECLARE @IN_QUEBRA_POR_FABRICANTE        CHAR(1)  
 DECLARE @IN_DESC_TIPO_RECOF              CHAR(1)  
 DECLARE @IN_DESC_MERCADORIA              CHAR(1)
 DECLARE @IN_NAO_QUEBRAR_LINHAS           CHAR(1)  
 DECLARE @TP_NAO_QUEBRAR_LINHAS_SEPARADOR CHAR(1)  
   
 /* -- OUTRAS VARIAVEIS -------------------------------------------------------------------------------- */
   
 DECLARE @CD_RE_ANEXO      	    INTEGER 
 DECLARE @CD_ULT_RE_ANEXO       INTEGER
 DECLARE @QT_REGISTROS      	INTEGER  
 DECLARE @NOVO_ANEXO          	INTEGER  
 DECLARE @ID_ANEXO       	    INTEGER  
 DECLARE @CD_RE_ANEXO_FABRIC    INTEGER  
 DECLARE @PESO_LIQUIDO   	    DECIMAL(15,4)  
 DECLARE @PESO_BRUTO_RATEADO    DECIMAL(15,4)  
 DECLARE @VL_FRETE_RATEADO      DECIMAL(15,4)  
 DECLARE @VL_SEGURO_RATEADO     DECIMAL(15,4)  
 DECLARE @VL_COND_VENDA       	DECIMAL(15,4)  
 DECLARE @VL_LOCAL_VENDA       	DECIMAL(15,4)  
 DECLARE @QUANTIDADE          	DECIMAL(15,4)  
 DECLARE @TX_MERCADORIA      	VARCHAR(800)  
 DECLARE @QT_MERCADORIA      	DECIMAL(15,4)  
 DECLARE @NR_ATO        	    CHAR(13)  
   
 /* -- VARIAVEIS PARA CONTROLE DE VALOR UNITARIO E DESCRIÇÃO DA MERCADORIA ----------------------------- */
   
 DECLARE @VL_UNITARIO          		     DECIMAL(15,4)  
 DECLARE @VL_UNITARIO_MLE       	     DECIMAL(15,4)  
 DECLARE @MENOR_VALOR       		     DECIMAL(15,4)  
 DECLARE @ACUMULADOR_TX_MERCADORIA  	 INTEGER  
 DECLARE @ACUMULADOR_TX_MERCADORIA_LINHA INTEGER
 DECLARE @CARACTERES_TX_MERCADORIA  	 INTEGER  
 DECLARE @TEXTO_MERCADORIA_A_GRAVAR 	 VARCHAR(800)  
 DECLARE @CD_MERCADORIA             	 VARCHAR(40)  
 DECLARE @ULT_CD_MERCADORIA         	 VARCHAR(40)  
 DECLARE @PC_COMISSAO       		     FLOAT  
 DECLARE @CONTATOR_LINHAS                INTEGER

 DECLARE @TX_MERCADORIA_QUEBRADA         VARCHAR(1000)
 DECLARE @TX_MERCADORIA_AUX              VARCHAR(1000)
 DECLARE @TEXTO_MERCADORIA               VARCHAR(1000)
 DECLARE @QTD_LINHAS                     INT
 DECLARE @IMPORTADO                      CHAR
 DECLARE @OLD_IMPORTADO                  CHAR
   
 /* -- COMEÇO DA ROTINA -------------------------------------------------------------------------------- */

 SELECT @IN_AGRUPAR      		         = IN_AGRUPAR,  
	    @IN_QUEBRA_POR_VALOR     	     = IN_QUEBRA_POR_VALOR,  
    	@IN_QUEBRA_POR_FABRICANTE    	 = IN_QUEBRA_POR_FABRICANTE,  
    	@IN_DESC_TIPO_RECOF     	     = IN_DESC_TIPO_RECOF,  
        @IN_DESC_MERCADORIA              = IN_DESCRICAO_MERCADORIA,
    	@IN_NAO_QUEBRAR_LINHAS    	     = IN_NAO_QUEBRAR_LINHAS,  
    	@TP_NAO_QUEBRAR_LINHAS_SEPARADOR = TP_NAO_QUEBRAR_LINHAS_SEPARADOR  
  FROM TRE_CAPA  
  WHERE NR_PROCESSO 		    = @NR_PROCESSO  
    AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  

 /* -- TESTAR VARIÁVEIS DE PARAMETROS ------------------------------------------------------------------ */
 /*   
 SET @IN_AGRUPAR               		    = '1'  
 SET @IN_QUEBRA_POR_VALOR      		    = '1'  
 SET @IN_QUEBRA_POR_FABRICANTE 		    = '0'   
 SET @TP_NAO_QUEBRAR_LINHAS_SEPARADOR   = '/'
 SET @IN_NAO_QUEBRAR_LINHAS    		    = '0'  
 SET @IN_DESC_TIPO_RECOF                = '1'
 SET @IN_DESC_MERCADORIA                = '0' --*/  

 /* -- LIMPANDO A ATUAL CONFIGURAÇÃO DOS ANEXOS -------------------------------------------------------- */

 DELETE 
   FROM TRE_ANEXO 
  WHERE NR_PROCESSO = @NR_PROCESSO 
    AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  

 DELETE 
   FROM TRE_ANEXO_FABRIC  
  WHERE NR_PROCESSO = @NR_PROCESSO 
    AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  
   
 /* -- COMEÇANDO A VERIFICAR E CLASSIFICAR OS ANEXOS --------------------------------------------------- */

 SELECT *, CASE ISNULL(@IN_DESC_MERCADORIA, '0')
               WHEN '0' THEN TX_MERCADORIA
               ELSE (SELECT NM_MERCADORIA
                     FROM TMERCADORIA_EXP
                     WHERE TMERCADORIA_EXP.CD_MERCADORIA = TRE_ANEXO_PURO.CD_MERCADORIA)
           END AS TX_MERCADORIA_COMP, CASE CHARINDEX('IMP', TX_MERCADORIA) WHEN 0 THEN '1' ELSE '2' END 'IMPORTADO'
   INTO #TMP_ANEXO  
 FROM TRE_ANEXO_PURO  
 WHERE NR_PROCESSO = @NR_PROCESSO 
   AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  
 ORDER BY 'IMPORTADO', CD_NCM, CD_UNID_MEDIDA, CD_MERCADORIA, CD_NALADI_SH, CD_FABR_EXPO, CD_FABRICANTE, VL_UNITARIO

 SELECT @QT_REGISTROS = COUNT(*)
 FROM #TMP_ANEXO  
 
 SELECT @CD_RE_ANEXO               = 0  
 SELECT @NOVO_ANEXO                = 0     
 SELECT @CD_NCM_COMP               = ''  
 SELECT @CD_FABRICANTE_COMP        = ''
 SELECT @CD_UNID_MEDIDA_COMP       = ''
 SELECT @MENOR_VALOR               = 0  
 SELECT @TEXTO_MERCADORIA_A_GRAVAR = ''  
 SELECT @ULT_CD_MERCADORIA         = ''   
 SELECT @CD_ULT_NCM                = '' 
 SELECT @ACUMULADOR_TX_MERCADORIA  = 0  
   
 PRINT '@QT_REGISTROS ' + CONVERT(CHAR, @QT_REGISTROS)

 DECLARE @ACUMULA_QTDE FLOAT
 DECLARE @TEXTO_MERCADORIA_PROVISORIO VARCHAR(800)
 DECLARE @CD_ULT_UNID_MEDIDA CHAR(3)  

 SELECT @CD_ULT_UNID_MEDIDA = ''
 SELECT @TEXTO_MERCADORIA_A_GRAVAR = ''

 SET @OLD_IMPORTADO = ''
 SELECT TOP 1 @IMPORTADO = IMPORTADO
 FROM #TMP_ANEXO

WHILE (SELECT COUNT(*)
       FROM #TMP_ANEXO) > 0
BEGIN  

   SELECT @CD_NCM_COMP2         = @CD_NCM_COMP  
   SELECT @CD_FABRICANTE_COMP2  = @CD_FABRICANTE_COMP  
   SELECT @CD_UNID_MEDIDA_COMP2 = @CD_UNID_MEDIDA_COMP
   
   SELECT TOP 1  
      @ID_ANEXO             = ID_ANEXO,
      @CD_NCM_COMP          = ltrim(rtrim(CD_NCM))+isnull(CD_SULF_NCM,'00'), 	    
	  @CD_SULF_NCM          = CD_SULF_NCM,
      @CD_FABRICANTE_COMP   = CD_FABRICANTE,   
	  @VL_UNITARIO          = VL_UNITARIO,
      @TX_MERCADORIA        = ISNULL(TX_MERCADORIA_COMP, TX_MERCADORIA),
	  @NR_ATO               = NR_ATO,
      @QT_MERCADORIA        = QT_MERCADORIA,     
	  @VL_UNITARIO_MLE      = VL_LOCAL_VENDA,
      @PC_COMISSAO          = PC_COMISSAO,     
	  @VL_COND_VENDA        = VL_MCV,
      @VL_LOCAL_VENDA       = VL_MLE,  
      @PESO_LIQUIDO         = VL_TOT_PESO_LIQ,
      @PESO_BRUTO_RATEADO   = VL_TOT_PESO_BRUTO, 
	  @VL_FRETE_RATEADO     = VL_FRETE,
      @VL_SEGURO_RATEADO    = VL_SEGURO,       
  	  @CD_MERCADORIA        = CD_MERCADORIA,
      @CD_UNID_MEDIDA_COMP  = CD_UNID_MEDIDA
     FROM #TMP_ANEXO
   
   PRINT 'MERCADORIA : ' + @TX_MERCADORIA
   PRINT 'NCM : ' + @CD_NCM_COMP

--   SET @TX_MERCADORIA = @TX_MERCADORIA + ' '
   --SET @TX_MERCADORIA_QUEBRADA = ISNULL(@TEXTO_MERCADORIA_A_GRAVAR, '') + ISNULL(@TX_MERCADORIA, '')
   SET @TX_MERCADORIA_QUEBRADA = ISNULL(@TX_MERCADORIA, '')
   EXEC sp_FormataQuebra @TX_MERCADORIA_QUEBRADA, '|', @TX_MERCADORIA_QUEBRADA OUTPUT, @QTD_LINHAS OUTPUT
   SET @TX_MERCADORIA_QUEBRADA = @TEXTO_MERCADORIA_A_GRAVAR + '|' + @TX_MERCADORIA_QUEBRADA

   IF LEFT(@TEXTO_MERCADORIA_A_GRAVAR, 1) = '|'
       SET @TEXTO_MERCADORIA_A_GRAVAR = RIGHT(@TEXTO_MERCADORIA_A_GRAVAR, LEN(@TEXTO_MERCADORIA_A_GRAVAR) -1)

   EXEC sp_ContaQuebra @TX_MERCADORIA_QUEBRADA, '|', @QTD_LINHAS OUTPUT

--PRINT '_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-'
--PRINT '@QTD_LINHAS: ' + CONVERT(VARCHAR, @QTD_LINHAS)

   SET @OLD_IMPORTADO = @IMPORTADO
   SELECT TOP 1 @IMPORTADO = IMPORTADO
   FROM #TMP_ANEXO

   

   /* -- ALTERA TEXTO DA MERCADORIA DEPENDENDO DA OPÇÃO ESCOLHIDA -------------------------------------- */
   IF @IN_DESC_TIPO_RECOF = 1  
   BEGIN  
   /* -- AGRUPA OS ITENS DEPENDENDO DA ESCOLHA NA TELA DE RECLASSIFICAÇÃO ------------------------------ */

PRINT ''
PRINT ''
PRINT '----------------------------------------------------------------------------------------------------------------------------------------'
PRINT 'IMPORTADO: ' + @IMPORTADO
PRINT 'OLD_IMPORTADO: ' + @OLD_IMPORTADO

        IF @IN_AGRUPAR = 1  
        BEGIN
             IF  ( ( @IN_QUEBRA_POR_FABRICANTE = 1 ) AND ( @CD_NCM_COMP2 <> @CD_NCM_COMP OR @CD_FABRICANTE_COMP2 <> @CD_FABRICANTE_COMP OR @CD_UNID_MEDIDA_COMP2 <> @CD_UNID_MEDIDA_COMP ) )
	              OR
                  ( ( @IN_QUEBRA_POR_FABRICANTE = 0 ) AND ( @CD_NCM_COMP2 <> @CD_NCM_COMP OR @CD_UNID_MEDIDA_COMP2 <> @CD_UNID_MEDIDA_COMP ) )
                OR (@QTD_LINHAS >= 9) OR (@OLD_IMPORTADO <> @IMPORTADO)
             BEGIN  
                  
PRINT '*******************************************      **********************   *************************'
PRINT '@CD_NCM_COMP2: ' + @CD_NCM_COMP2
PRINT '@CD_NCM_COMP: ' + @CD_NCM_COMP
PRINT '@CD_UNID_MEDIDA_COMP2: ' + @CD_UNID_MEDIDA_COMP2
PRINT '@CD_UNID_MEDIDA_COMP: ' + @CD_UNID_MEDIDA_COMP 
PRINT '@QTD_LINHAS: ' + CONVERT(VARCHAR, @QTD_LINHAS)
PRINT '*******************************************      **********************   *************************'

                  SELECT @TX_MERCADORIA_QUEBRADA = RTRIM(CAST(ISNULL(@ACUMULA_QTDE,0) AS VARCHAR)) + ' ' +  
			              (SELECT RIGHT( ( '   ' + ISNULL(NM_SIGLA, ISNULL(CD_UNID_MEDIDA, '')) ), 3 ) 
				           FROM TUNID_MEDIDA_BROKER 
				           WHERE CD_UNID_MEDIDA = @CD_ULT_UNID_MEDIDA) + ' - ' + 
				                   RTRIM(ISNULL(@ULT_CD_MERCADORIA, '')) + ' ' + RTRIM(ISNULL(@TEXTO_MERCADORIA_PROVISORIO, '')) --+ ' ' + @TX_MERCADORIA

                  EXEC sp_FormataQuebra @TX_MERCADORIA_QUEBRADA, '|', @TX_MERCADORIA_QUEBRADA OUTPUT, @QTD_LINHAS OUTPUT
                  SET @TEXTO_MERCADORIA_A_GRAVAR = @TEXTO_MERCADORIA_A_GRAVAR + '|' + @TX_MERCADORIA_QUEBRADA
                  --EXEC sp_FormataQuebra @TEXTO_MERCADORIA_A_GRAVAR, '|', @TEXTO_MERCADORIA_A_GRAVAR OUTPUT, @QTD_LINHAS OUTPUT

                  IF LEFT(@TEXTO_MERCADORIA_A_GRAVAR, 1) = '|'
                      SET @TEXTO_MERCADORIA_A_GRAVAR = RIGHT(@TEXTO_MERCADORIA_A_GRAVAR, LEN(@TEXTO_MERCADORIA_A_GRAVAR) -1)

                  IF @TEXTO_MERCADORIA_A_GRAVAR = ''
                      SET @TEXTO_MERCADORIA_A_GRAVAR = @TX_MERCADORIA_QUEBRADA

                  PRINT ' UPDATE / GRAVANDO : ' + @TEXTO_MERCADORIA_A_GRAVAR

                  UPDATE TRE_ANEXO  
                  SET TX_DESC_MERCADORIA        = @TEXTO_MERCADORIA_A_GRAVAR
                  WHERE NR_PROCESSO             = @NR_PROCESSO
                    AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
                    AND CD_RE_ANEXO             = @CD_ULT_RE_ANEXO

                  PRINT 'NOVO ANEXO / ACUMULADO : ' + @TEXTO_MERCADORIA_A_GRAVAR
                  SELECT @NOVO_ANEXO                     = 1  
                  SELECT @CD_RE_ANEXO                    = @CD_RE_ANEXO + 1  
                  SELECT @MENOR_VALOR                    = @VL_UNITARIO  
                  SELECT @TEXTO_MERCADORIA_A_GRAVAR      = ''
                  SELECT @ACUMULADOR_TX_MERCADORIA       = 0  
                  SELECT @ACUMULADOR_TX_MERCADORIA_LINHA = 0 
                  SELECT @CARACTERES_TX_MERCADORIA       = LEN(@TX_MERCADORIA)
                  SELECT @ACUMULADOR_TX_MERCADORIA       = @CARACTERES_TX_MERCADORIA  
                  SELECT @ACUMULADOR_TX_MERCADORIA_LINHA = @CARACTERES_TX_MERCADORIA  
                  SELECT @CONTATOR_LINHAS                = 1
                  SELECT @ACUMULA_QTDE                      = @QT_MERCADORIA

             END
             ELSE
             BEGIN

                  SELECT @NOVO_ANEXO  = 0

       /* -- VERIFICA CAMPO DESCRIÇÃO DA MERCADORIA (1)------------------------------------------------- */

                  IF @ULT_CD_MERCADORIA = @CD_MERCADORIA
                  BEGIN
                       --EXEC sp_FormataQuebra @TEXTO_MERCADORIA_A_GRAVAR, '|', @TEXTO_MERCADORIA_A_GRAVAR OUTPUT, @QTD_LINHAS OUTPUT

                       IF LEFT(@TEXTO_MERCADORIA_A_GRAVAR, 1) = '|'
                           SET @TEXTO_MERCADORIA_A_GRAVAR = RIGHT(@TEXTO_MERCADORIA_A_GRAVAR, LEN(@TEXTO_MERCADORIA_A_GRAVAR) -1)

                       SET @ACUMULA_QTDE = @ACUMULA_QTDE + @QT_MERCADORIA
                       PRINT 'MESMA MERCADORIA / ACUMULADO : ' + @TEXTO_MERCADORIA_A_GRAVAR

                       UPDATE TRE_ANEXO  
                       SET TX_DESC_MERCADORIA   = @TEXTO_MERCADORIA_A_GRAVAR
                       WHERE NR_PROCESSO = @NR_PROCESSO
                         AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
                         AND CD_RE_ANEXO = @CD_ULT_RE_ANEXO
                  END

                  IF @ULT_CD_MERCADORIA <> @CD_MERCADORIA  
                  BEGIN  
                       SELECT @CARACTERES_TX_MERCADORIA = LEN(@TX_MERCADORIA)
                       SELECT @CONTATOR_LINHAS = @CONTATOR_LINHAS + 1
                       SELECT @TX_MERCADORIA_QUEBRADA = RTRIM(CAST(ISNULL(@ACUMULA_QTDE,0) AS VARCHAR)) + ' ' +  
				               (SELECT RIGHT( ( '   ' + ISNULL(NM_SIGLA,CD_UNID_MEDIDA) ), 3 ) 
				                FROM TUNID_MEDIDA_BROKER 
                                WHERE CD_UNID_MEDIDA = @CD_UNID_MEDIDA_COMP) + ' - ' + 
					          RTRIM(@ULT_CD_MERCADORIA) + ' ' + RTRIM(@TEXTO_MERCADORIA_PROVISORIO)

                       EXEC sp_FormataQuebra @TX_MERCADORIA_QUEBRADA, '|', @TX_MERCADORIA_QUEBRADA OUTPUT, @QTD_LINHAS OUTPUT
                       SET @TEXTO_MERCADORIA_A_GRAVAR = @TEXTO_MERCADORIA_A_GRAVAR + '|' + @TX_MERCADORIA_QUEBRADA
                       --EXEC sp_FormataQuebra @TEXTO_MERCADORIA_A_GRAVAR, '|', @TEXTO_MERCADORIA_A_GRAVAR OUTPUT, @QTD_LINHAS OUTPUT

                       IF LEFT(@TEXTO_MERCADORIA_A_GRAVAR, 1) = '|'
                           SET @TEXTO_MERCADORIA_A_GRAVAR = RIGHT(@TEXTO_MERCADORIA_A_GRAVAR, LEN(@TEXTO_MERCADORIA_A_GRAVAR) -1)

                       PRINT 'OUTRA MERCADORIA / ACUMULADO : ' + @TEXTO_MERCADORIA_A_GRAVAR

                       UPDATE TRE_ANEXO  
                       SET TX_DESC_MERCADORIA   = @TEXTO_MERCADORIA_A_GRAVAR
                       WHERE NR_PROCESSO = @NR_PROCESSO
                         AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
                         AND CD_RE_ANEXO = @CD_ULT_RE_ANEXO

	                   IF @CONTATOR_LINHAS = 10
                       BEGIN 
                            PRINT 'NOVO ANEXO / ACUMULADO : ' + @TEXTO_MERCADORIA_A_GRAVAR
 
                            --UPDATE TRE_ANEXO  
                            --SET TX_DESC_MERCADORIA   = @TEXTO_MERCADORIA_A_GRAVAR
                            --WHERE NR_PROCESSO = @NR_PROCESSO
                            --  AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
                            --  AND CD_RE_ANEXO = @CD_ULT_RE_ANEXO

                            SELECT @TEXTO_MERCADORIA_A_GRAVAR = ''
                            SELECT @CONTATOR_LINHAS  = 1
                            SELECT @NOVO_ANEXO       = 1  
                            SELECT @CD_RE_ANEXO      = @CD_RE_ANEXO + 1  
                            print '@CD_RE_ANEXO ' + convert(char,@CD_RE_ANEXO)
	                   END
                       SET @ACUMULA_QTDE = @QT_MERCADORIA
                  END  
             END
         END
    END -- IF @IN_DESC_TIPO_RECOF = 1
    ELSE
    BEGIN

   /* -- AGRUPA OS ITENS DEPENDENDO DA ESCOLHA NA TELA DE RECLASSIFICAÇÃO ------------------------------ */

         IF @IN_AGRUPAR = 1  
         BEGIN

              IF ( ( @IN_QUEBRA_POR_FABRICANTE = 1 ) AND ( @CD_NCM_COMP2 <> @CD_NCM_COMP OR @CD_FABRICANTE_COMP2 <> @CD_FABRICANTE_COMP OR @CD_UNID_MEDIDA_COMP2 <> @CD_UNID_MEDIDA_COMP ) ) 
	               OR
	               ( ( @IN_QUEBRA_POR_FABRICANTE = 0 ) AND ( @CD_NCM_COMP2 <> @CD_NCM_COMP OR @CD_UNID_MEDIDA_COMP2 <> @CD_UNID_MEDIDA_COMP ) )
                 OR (@QTD_LINHAS > 9) OR (@OLD_IMPORTADO <> @IMPORTADO)
              BEGIN  

                   PRINT 'NOVO'   
                   SELECT @NOVO_ANEXO  = 1  
                   SELECT @CD_RE_ANEXO = @CD_RE_ANEXO + 1  
                   SELECT @MENOR_VALOR = @VL_UNITARIO  
                   SELECT @TEXTO_MERCADORIA_A_GRAVAR      = @TX_MERCADORIA  
                   SELECT @ACUMULADOR_TX_MERCADORIA       = 0  
                   SELECT @ACUMULADOR_TX_MERCADORIA_LINHA = 0 
                   SELECT @CARACTERES_TX_MERCADORIA   = LEN(@TX_MERCADORIA)
                   SELECT @ACUMULADOR_TX_MERCADORIA       = @CARACTERES_TX_MERCADORIA  
                   SELECT @ACUMULADOR_TX_MERCADORIA_LINHA = @CARACTERES_TX_MERCADORIA  
                   SELECT @CONTATOR_LINHAS = 1

                   EXEC sp_FormataQuebra @TEXTO_MERCADORIA_A_GRAVAR, '|', @TEXTO_MERCADORIA_A_GRAVAR OUTPUT, @QTD_LINHAS OUTPUT
              END
              ELSE
              BEGIN

                   SELECT @NOVO_ANEXO  = 0  

    /* -- VERIFICA CAMPO DESCRIÇÃO DA MERCADORIA (1)------------------------------------------------- */

                   IF @ULT_CD_MERCADORIA <> @CD_MERCADORIA  
                   BEGIN  
                        SELECT @CARACTERES_TX_MERCADORIA = LEN(@TX_MERCADORIA)
	                    IF @IN_NAO_QUEBRAR_LINHAS = '1'
	                    BEGIN
                             IF @ACUMULADOR_TX_MERCADORIA + @CARACTERES_TX_MERCADORIA > 670  
                             BEGIN  
                                  PRINT 'NOVO'   
                                  SELECT @NOVO_ANEXO       = 1  
                                  SELECT @CD_RE_ANEXO      = @CD_RE_ANEXO + 1  
                                  SELECT @TEXTO_MERCADORIA_A_GRAVAR = @TX_MERCADORIA  
                                  SELECT @ACUMULADOR_TX_MERCADORIA       = 0  
                                  SELECT @ACUMULADOR_TX_MERCADORIA_LINHA = 0  
                                  SELECT @ACUMULADOR_TX_MERCADORIA       = @ACUMULADOR_TX_MERCADORIA + @CARACTERES_TX_MERCADORIA
                                  SELECT @ACUMULADOR_TX_MERCADORIA_LINHA = @ACUMULADOR_TX_MERCADORIA_LINHA + @CARACTERES_TX_MERCADORIA
                             END
                             ELSE IF @ACUMULADOR_TX_MERCADORIA_LINHA + @CARACTERES_TX_MERCADORIA > 115   
                             BEGIN  
                                  PRINT 'JA EXISTENTE 1'   
                                  SELECT @ACUMULADOR_TX_MERCADORIA       = @ACUMULADOR_TX_MERCADORIA  + @CARACTERES_TX_MERCADORIA
                                  SELECT @TEXTO_MERCADORIA_A_GRAVAR      = @TEXTO_MERCADORIA_A_GRAVAR + '|' + @TX_MERCADORIA_QUEBRADA
                                  SELECT @ACUMULADOR_TX_MERCADORIA_LINHA = @CARACTERES_TX_MERCADORIA  
 	                         END
                             ELSE
 	                         BEGIN
                                  PRINT 'JA EXISTENTE 2'   
                                  SELECT @ACUMULADOR_TX_MERCADORIA       = @ACUMULADOR_TX_MERCADORIA + @CARACTERES_TX_MERCADORIA  
                                  SELECT @ACUMULADOR_TX_MERCADORIA_LINHA = @ACUMULADOR_TX_MERCADORIA_LINHA + @CARACTERES_TX_MERCADORIA  
                                  SET @TEXTO_MERCADORIA_A_GRAVAR = SUBSTRING(@TEXTO_MERCADORIA_A_GRAVAR,1,LEN(@TEXTO_MERCADORIA_A_GRAVAR)-2) + ' ' + @TP_NAO_QUEBRAR_LINHAS_SEPARADOR
                                  EXEC sp_FormataQuebra @TEXTO_MERCADORIA_A_GRAVAR, '|', @TEXTO_MERCADORIA_A_GRAVAR OUTPUT, @QTD_LINHAS OUTPUT
                                  --SELECT @TEXTO_MERCADORIA_A_GRAVAR  = SUBSTRING(@TEXTO_MERCADORIA_A_GRAVAR,1,LEN(@TEXTO_MERCADORIA_A_GRAVAR)-2) + 
 	  					          --             ' ' + @TP_NAO_QUEBRAR_LINHAS_SEPARADOR + '|' + @TX_MERCADORIA_QUEBRADA
                                  SET @TEXTO_MERCADORIA_A_GRAVAR = @TEXTO_MERCADORIA_A_GRAVAR + '|' + @TX_MERCADORIA_QUEBRADA
                             END  
                             --EXEC sp_FormataQuebra @TEXTO_MERCADORIA_A_GRAVAR, '|', @TEXTO_MERCADORIA_A_GRAVAR OUTPUT, @QTD_LINHAS OUTPUT
                        END
                        ELSE
                        BEGIN
                             SELECT @CONTATOR_LINHAS = @CONTATOR_LINHAS + 1
                             SELECT @TX_MERCADORIA_QUEBRADA = @TX_MERCADORIA
	                         IF @CONTATOR_LINHAS = 10
                             BEGIN 
                                  SELECT @TEXTO_MERCADORIA_A_GRAVAR = @TX_MERCADORIA
                                  SELECT @CONTATOR_LINHAS = 1
                                  SELECT @NOVO_ANEXO       = 1  
                                  SELECT @CD_RE_ANEXO      = @CD_RE_ANEXO + 1  
                                  print '@CD_RE_ANEXO ' + convert(char,@CD_RE_ANEXO)
                                  EXEC sp_FormataQuebra @TEXTO_MERCADORIA_A_GRAVAR, '|', @TEXTO_MERCADORIA_A_GRAVAR OUTPUT, @QTD_LINHAS OUTPUT
	                         END
                             ELSE
                             BEGIN
                                  EXEC sp_FormataQuebra @TX_MERCADORIA_QUEBRADA, '|', @TX_MERCADORIA_QUEBRADA OUTPUT, @QTD_LINHAS OUTPUT
                                  SET @TEXTO_MERCADORIA_A_GRAVAR = @TEXTO_MERCADORIA_A_GRAVAR + '|' + @TX_MERCADORIA_QUEBRADA
                             END
                        END
                   END
              END
         END
    END -- ELSE -> IF @IN_DESC_TIPO_RECOF = 1

    -- Comentado porque gerava erro quando não havia tantas linhas - Michel - 13/03/2009
    --IF @QTD_LINHAS > 9
    --    RETURN 1

    print '@ACUMULADOR_TX_MERCADORIA_LINHA ' + convert(char,@ACUMULADOR_TX_MERCADORIA_LINHA)
    print '@CARACTERES_TX_MERCADORIA ' + convert(char,@CARACTERES_TX_MERCADORIA)
    print '@ACUMULADOR_TX_MERCADORIA ' + convert(char,@ACUMULADOR_TX_MERCADORIA)

   /* -- CASO SELECIONADO AGRUPAR MAS NÃO SELECIONADO NENHUMA OPÇÃO NÃO IRÁ AGRUPAR -------------------- */
  
    IF @IN_AGRUPAR = 1  AND @IN_QUEBRA_POR_VALOR = 0 AND @IN_QUEBRA_POR_FABRICANTE = 0  
        SET @IN_AGRUPAR = 0   
   
   /* -- SE NÃO FOR PRA AGRUPAR, NAO AGRUPA (BELA EXPLICAÇÃO HEIN...) ---------------------------------- */
   
    IF @IN_AGRUPAR = 0  
    BEGIN  
         SELECT @CD_RE_ANEXO                 = @CD_RE_ANEXO + 1  
         SELECT @NOVO_ANEXO                  = 1  
         SELECT @ACUMULADOR_TX_MERCADORIA    = 0  

         IF @IN_DESC_TIPO_RECOF = 1  
              SELECT @TX_MERCADORIA = RTRIM(CAST(ISNULL(@QT_MERCADORIA,0) AS VARCHAR)) + ' ' +  
	                            ( SELECT RIGHT( ( '   ' + ISNULL(NM_SIGLA,CD_UNID_MEDIDA) ), 3 )
                                  FROM TUNID_MEDIDA_BROKER 
  		    	                  WHERE CD_UNID_MEDIDA = TMP.CD_UNID_MEDIDA ) + ' - ' + RTRIM(@CD_MERCADORIA) + ' ' + @TX_MERCADORIA
              FROM #TMP_ANEXO TMP 
              WHERE ID_ANEXO = @ID_ANEXO  

         --SELECT @TEXTO_MERCADORIA_A_GRAVAR   = @TX_MERCADORIA
         EXEC sp_FormataQuebra @TX_MERCADORIA, '|', @TEXTO_MERCADORIA_A_GRAVAR OUTPUT, @QTD_LINHAS OUTPUT
         --SET @TEXTO_MERCADORIA_A_GRAVAR = @TEXTO_MERCADORIA_A_GRAVAR + '|' + @TX_MERCADORIA_QUEBRADA
    END  
   
  /* -- FEITA A VERIFICACAO, GRAVA ONDE DEVE ----------------------------------------------------------- */
     
   DECLARE @GRAVA17A CHAR(1)  

   SET @GRAVA17A = '0'  

   IF ( SELECT COUNT(*) FROM TNCM 
         WHERE CODIGO = ( SELECT  CD_NCM FROM #TMP_ANEXO WHERE ID_ANEXO = @ID_ANEXO )
           AND UNIDADE_MEDIDA IN ('104','121','100','149','024','010','129','141') ) = 0
     SET @GRAVA17A = '1'  

   IF LEFT(@TEXTO_MERCADORIA_A_GRAVAR, 1) = '|'
       SET @TEXTO_MERCADORIA_A_GRAVAR = RIGHT(@TEXTO_MERCADORIA_A_GRAVAR, LEN(@TEXTO_MERCADORIA_A_GRAVAR) -1)

   IF @NOVO_ANEXO = 1  
   BEGIN  

     PRINT ' NOVO / GRAVANDO : ' + @TEXTO_MERCADORIA_A_GRAVAR

     INSERT TRE_ANEXO (NR_PROCESSO, NR_PROCESSO_COMPLEMENTO, CD_RE_ANEXO, CD_NALADI, CD_NCM,   
		       CD_SULF_NCM, CD_NBM, CD_UNID_MEDIDA, IN_EXPORTADOR_FABRICANTE, PESO_LIQUIDO,   
		       QT_UNIDADE_COMERCIAL, QT_MEDIA_NBM, VL_FRETE_RATEADO, VL_SEGURO_RATEADO, 
		       PESO_BRUTO_RATEADO, DT_DATA, TX_DESC_MERCADORIA, VL_COND_VENDA, VL_LOCAL_VENDA, 
		       CD_FINALIDADE, CD_UF_PRODUTOR, PC_COMISSAO, CD_FORMA_PGTO_REBATE, VL_COM_AG_EFET)  
               SELECT  @NR_PROCESSO, NR_PROCESSO_COMPLEMENTO,  
		           (SELECT ISNULL(MAX(RA.CD_RE_ANEXO),0)+1   
                    FROM TRE_ANEXO RA   
                    WHERE RA.NR_PROCESSO = @NR_PROCESSO   
                      AND RA.NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO),   
	               CD_NALADI_SH, CD_NCM, CD_SULF_NCM, CD_NCM, CD_UNID_MEDIDA,  
		           CD_FABR_EXPO, VL_TOT_PESO_LIQ, QT_MERCADORIA,  
                   CASE @GRAVA17A 
                       WHEN '1' THEN 0  
                       ELSE QT_MERCADORIA    
		           END,                        
                   VL_FRETE, VL_SEGURO, VL_TOT_PESO_BRUTO, CONVERT(DATETIME,GETDATE(),103),   
                   @TEXTO_MERCADORIA_A_GRAVAR , VL_MCV, VL_MLE, CD_FINALIDADE_MERC, CD_UF_PRODUTOR, 
		           PC_COMISSAO, CD_FORMA_PGTO, (VL_MLE * @PC_COMISSAO) / 100  
               FROM  #TMP_ANEXO  
               WHERE  ID_ANEXO = @ID_ANEXO  

     DECLARE @CD_FABRICANTE CHAR(5)  
   
     SELECT @CD_FABRICANTE = CD_FABRICANTE  
       FROM #TMP_ANEXO  
      WHERE ID_ANEXO = @ID_ANEXO  
   
     IF @CD_FABR_EXPO_COMP = '2'  
     BEGIN  
  
         SELECT @CD_RE_ANEXO_FABRIC = ISNULL(MAX(CD_RE_ANEXO_FABRIC),0) + 1 
	   FROM TRE_ANEXO_FABRIC   
          WHERE NR_PROCESSO = @NR_PROCESSO  
	    AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  
	    AND CD_RE_ANEXO = @CD_RE_ANEXO  
         
         INSERT TRE_ANEXO_FABRIC ( NR_PROCESSO, NR_PROCESSO_COMPLEMENTO, CD_RE_ANEXO_FABRIC, CD_RE_ANEXO, 
				   CD_FABRICANTE, QT_MERCADORIA, VL_TOTAL)  
                          SELECT  @NR_PROCESSO, @NR_PROCESSO_COMPLEMENTO, @CD_RE_ANEXO_FABRIC,@CD_RE_ANEXO,
				  @CD_FABRICANTE,  QT_MERCADORIA, VL_MCV  
			    FROM  #TMP_ANEXO  
			   WHERE  ID_ANEXO = @ID_ANEXO  
     END  
   
   END  
   ELSE  
   BEGIN  

     PRINT ' UPDATE / GRAVANDO : ' + @TEXTO_MERCADORIA_A_GRAVAR

     UPDATE TRE_ANEXO  
        SET PESO_LIQUIDO         = ( PESO_LIQUIDO + @PESO_LIQUIDO ),  
            PESO_BRUTO_RATEADO   = ( PESO_BRUTO_RATEADO + @PESO_BRUTO_RATEADO ),  
            VL_COND_VENDA        = ( VL_COND_VENDA + @VL_COND_VENDA ),  
            VL_LOCAL_VENDA       = ( VL_LOCAL_VENDA + @VL_LOCAL_VENDA ),  
            QT_UNIDADE_COMERCIAL = ( QT_UNIDADE_COMERCIAL + @QT_MERCADORIA ),  
            VL_FRETE_RATEADO     = ( VL_FRETE_RATEADO + @VL_FRETE_RATEADO ),  
            VL_SEGURO_RATEADO    = ( VL_SEGURO_RATEADO + @VL_SEGURO_RATEADO ),  
            VL_COM_AG_EFET       = ( VL_COM_AG_EFET + @VL_COND_VENDA * @PC_COMISSAO) / 100,  
            TX_DESC_MERCADORIA   = @TEXTO_MERCADORIA_A_GRAVAR   
      WHERE NR_PROCESSO = @NR_PROCESSO  
        AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  
        AND CD_RE_ANEXO = @CD_RE_ANEXO  
   END             

   DECLARE @TX_OBSERVACAO_EXPORTADOR VARCHAR(1000)  
   
   SELECT @TX_OBSERVACAO_EXPORTADOR = TX_DECL_EXPORTADOR   
     FROM TPROCESSO_EXP   
    WHERE NR_PROCESSO = @NR_PROCESSO  

   IF LTRIM(RTRIM(ISNULL(@TX_OBSERVACAO_EXPORTADOR, ''))) = ''  
   BEGIN       
     UPDATE TRE_ANEXO  
        SET TX_OBSERVACAO_EXPORTADOR = @TX_OBSERVACAO_EXPORTADOR,  
            IN_OBS_EXPORTADOR = '0'  
      WHERE NR_PROCESSO = @NR_PROCESSO  
        AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  
        AND CD_RE_ANEXO = @CD_RE_ANEXO
   END 
   ELSE 
   BEGIN          
     UPDATE TRE_ANEXO  
        SET TX_OBSERVACAO_EXPORTADOR = @TX_OBSERVACAO_EXPORTADOR,  
            IN_OBS_EXPORTADOR = '1'  
      WHERE NR_PROCESSO = @NR_PROCESSO  
        AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  
        AND CD_RE_ANEXO = @CD_RE_ANEXO
   END

   /* -- INCLUINDO NA TRE_ANEXO_FABRIC ----------------------------------------------------------------- */
   
   IF ( SELECT COUNT(*)   
          FROM TRE_ANEXO_FABRIC  
         WHERE NR_PROCESSO   = @NR_PROCESSO   
           AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  
           AND CD_RE_ANEXO   = @CD_RE_ANEXO   
           AND CD_FABRICANTE = @CD_FABRICANTE_COMP ) > 0  
   BEGIN   
     UPDATE TRE_ANEXO_FABRIC   
        SET QT_MERCADORIA   = @QT_MERCADORIA,  
            VL_TOTAL = @VL_UNITARIO_MLE  
      WHERE NR_PROCESSO   = @NR_PROCESSO   
        AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO  
        AND CD_RE_ANEXO   = @CD_RE_ANEXO   
        AND CD_FABRICANTE = @CD_FABRICANTE_COMP  
   END
   ELSE  
   BEGIN              
     IF @CD_FABR_EXPO_COMP = '2'  
     BEGIN  
       INSERT INTO TRE_ANEXO_FABRIC(NR_PROCESSO, NR_PROCESSO_COMPLEMENTO, CD_RE_ANEXO, CD_RE_ANEXO_FABRIC, CD_FABRICANTE, NR_ATO, QT_MERCADORIA, VL_TOTAL)
       VALUES (@NR_PROCESSO, @NR_PROCESSO_COMPLEMENTO, @CD_RE_ANEXO, @CD_RE_ANEXO_FABRIC, @CD_FABRICANTE_COMP, @NR_ATO, @QT_MERCADORIA, @VL_UNITARIO_MLE)  
     END  
   END
   SET @TEXTO_MERCADORIA_PROVISORIO = @TX_MERCADORIA  
   SET @CD_ULT_RE_ANEXO = @CD_RE_ANEXO
   SELECT @QT_REGISTROS = @QT_REGISTROS - 1 

   PRINT '@QT_REGISTROS : ' + CAST(@QT_REGISTROS AS CHAR)

   IF @IN_DESC_TIPO_RECOF = 1  
   BEGIN  
     IF @QT_REGISTROS = 0
     BEGIN

       SET @TX_MERCADORIA_QUEBRADA = RTRIM(CAST(ISNULL(@ACUMULA_QTDE,0) AS VARCHAR)) + ' ' +  
			(SELECT RIGHT( ( '   ' + ISNULL(NM_SIGLA,CD_UNID_MEDIDA) ), 3 ) 
			 FROM TUNID_MEDIDA_BROKER 
			WHERE CD_UNID_MEDIDA = @CD_UNID_MEDIDA_COMP) + ' - ' +  RTRIM(@CD_MERCADORIA) + ' ' + RTRIM(@TEXTO_MERCADORIA_PROVISORIO)

       IF @IN_AGRUPAR = '1'
       BEGIN
            EXEC sp_FormataQuebra @TX_MERCADORIA_QUEBRADA, '|', @TX_MERCADORIA_QUEBRADA OUTPUT, @QTD_LINHAS OUTPUT
            SET @TEXTO_MERCADORIA_A_GRAVAR = @TEXTO_MERCADORIA_A_GRAVAR + '|' + @TX_MERCADORIA_QUEBRADA
            --EXEC sp_FormataQuebra @TEXTO_MERCADORIA_A_GRAVAR, '|', @TEXTO_MERCADORIA_A_GRAVAR OUTPUT, @QTD_LINHAS OUTPUT
       END

       IF LEFT(@TEXTO_MERCADORIA_A_GRAVAR, 1) = '|'
           SET @TEXTO_MERCADORIA_A_GRAVAR = RIGHT(@TEXTO_MERCADORIA_A_GRAVAR, LEN(@TEXTO_MERCADORIA_A_GRAVAR) -1)

       IF @QTD_LINHAS > 9
           RETURN 1

       PRINT ' UPDATE / GRAVANDO : ' + @TEXTO_MERCADORIA_A_GRAVAR
       UPDATE TRE_ANEXO  
         SET TX_DESC_MERCADORIA   = @TEXTO_MERCADORIA_A_GRAVAR
       WHERE NR_PROCESSO = @NR_PROCESSO
         AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
         AND CD_RE_ANEXO = @CD_ULT_RE_ANEXO
    END
   END
 
   SET @ULT_CD_MERCADORIA = @CD_MERCADORIA  
   SET @CD_ULT_UNID_MEDIDA = @CD_UNID_MEDIDA_COMP

   DELETE FROM #TMP_ANEXO WHERE ID_ANEXO = @ID_ANEXO
 END -- END WHILE

 DROP TABLE #TMP_ANEXO

 IF @QTD_LINHAS > 9
     RETURN 1
 
 RETURN 0

/* 
  SELECT *
  FROM TRE_ANEXO
  WHERE NR_PROCESSO = @NR_PROCESSO   
    AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

ROLLBACK TRAN
--COMMIT


--*/

--SELECT SUBSTRING(TX_DESC_MERCADORIA,1,50), * FROM TRE_ANEXO WHERE NR_PROCESSO = '0102EA-0840-07'










GO
