USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE PROCEDURE [sp_verif_rateio_desp] ( @cd_unid_neg char(2), @cd_produto char(2), @nr_solicitacao char(6), 
                                                                                              @nr_identificador int OUTPUT ) AS


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solicitacao = '034940'
*/


DECLARE @cont_dif               int
DECLARE @cont_rat               int
DECLARE @cont_area              int
DECLARE @resp_rat               char(1)
DECLARE @resp_dif               char(1)
DECLARE @cd_item_calc           char(3)		
DECLARE @cd_area                char(2)
DECLARE @nr_processo_area       char(18)
DECLARE @nr_processo_calc       char(18)
DECLARE @cd_grupo_basf          char(3)
DECLARE @cd_grupo_bsg           char(3)
DECLARE @cd_referencia          char(15)
DECLARE @nr_proc_po_nr_item_po  char(21)

/*** Atualizando parametros ***/
SELECT  @cd_grupo_basf   = CD_GRUPO_BASF,
        @cd_grupo_bsg    = CD_GRUPO_BSG
FROM   TPARAMETROS



/* Verificação de Rateio de Despesas */
IF ( @cd_produto = '01' ) OR  ( @cd_produto = '03' )
BEGIN
SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR,0 ) ) + 1
FROM   TCALCULO_RATEIO_DESP

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 ) 

SELECT DISTINCT FP.NR_PROCESSO, R.CD_AREA, ( RTRIM( DM.NR_PROC_PO ) + CASE 
                                                                        WHEN ISNULL( DM.NR_ITEM_PO, '' ) = '' THEN ''
                                                                        ELSE '/' + CONVERT( varchar, CONVERT( int, ISNULL( DM.NR_ITEM_PO, '' ) ) ) 
                                                                      END) AS NR_PROC_PO_NR_ITEM_PO, R.CD_REFERENCIA
INTO   #TMP_AREA
FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TREF_CLIENTE R (NOLOCK), 
       TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK), TDETALHE_MERCADORIA DM (NOLOCK)
WHERE  F.CD_UNID_NEG    = @cd_unid_neg AND
       F.CD_PRODUTO     = @cd_produto AND
       F.NR_SOLICITACAO = @nr_solicitacao AND
       F.CD_UNID_NEG    = FP.CD_UNID_NEG AND
       F.CD_PRODUTO     = FP.CD_PRODUTO AND
       F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
       FP.NR_PROCESSO   = R.NR_PROCESSO AND
       FP.NR_PROCESSO   = P.NR_PROCESSO AND
       DM.NR_PROCESSO   = FP.NR_PROCESSO AND
       P.CD_CLIENTE     = E.CD_EMPRESA AND
       E.CD_GRUPO       IN ( @cd_grupo_basf, @cd_grupo_bsg )

SELECT DISTINCT FP.NR_PROCESSO, R.CD_AREA, R.CD_REFERENCIA
INTO   #TMP_PROCESSO
FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TREF_CLIENTE R (NOLOCK), 
       TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
WHERE  F.CD_UNID_NEG    = @cd_unid_neg AND
       F.CD_PRODUTO     = @cd_produto AND
       F.NR_SOLICITACAO = @nr_solicitacao AND
       F.CD_UNID_NEG    = FP.CD_UNID_NEG AND
       F.CD_PRODUTO     = FP.CD_PRODUTO AND
       F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
       FP.NR_PROCESSO   = R.NR_PROCESSO AND
       FP.NR_PROCESSO   = P.NR_PROCESSO AND       
       P.CD_CLIENTE     = E.CD_EMPRESA AND
       E.CD_GRUPO       IN ( @cd_grupo_basf, @cd_grupo_bsg )

SELECT DISTINCT FC.NR_PROCESSO, FC.CD_ITEM
INTO   #TMP_ITEM
FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TFATURAMENTO_CC FC (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
WHERE  F.CD_UNID_NEG     = @cd_unid_neg AND
       F.CD_PRODUTO      = @cd_produto AND
       F.NR_SOLICITACAO  = @nr_solicitacao AND
       F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
       F.CD_PRODUTO      = FP.CD_PRODUTO AND
       F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
       FP.CD_UNID_NEG    = FC.CD_UNID_NEG AND
       FP.CD_PRODUTO     = FC.CD_PRODUTO AND
       FP.NR_SOLICITACAO = FC.NR_SOLIC_FAT AND
       FP.NR_PROCESSO    = FC.NR_PROCESSO AND
       FP.NR_PROCESSO    = P.NR_PROCESSO AND
       P.CD_CLIENTE      = E.CD_EMPRESA AND
       E.CD_GRUPO       IN ( @cd_grupo_basf, @cd_grupo_bsg ) AND
       FC.CD_ITEM < '900'                  


SELECT @cont_dif  = 0
SELECT @cont_rat  = 0
SELECT @cont_area = 0
DECLARE item_cursor CURSOR FOR
  SELECT NR_PROCESSO, CD_ITEM
  FROM #TMP_ITEM
  GROUP BY NR_PROCESSO, CD_ITEM
OPEN item_cursor
FETCH item_cursor INTO @nr_processo_calc, @cd_item_calc
WHILE ( @@FETCH_STATUS = 0 ) 
BEGIN
  DECLARE c_item_area CURSOR FOR
    SELECT NR_PROCESSO, CD_AREA, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA
    FROM   #TMP_AREA
    WHERE NR_PROCESSO = @nr_processo_calc AND
          ISNULL( CD_AREA, '' ) <> '' AND
          ( ISNULL( NR_PROC_PO_NR_ITEM_PO, '' ) <> '' ) AND
          ( ISNULL( CD_REFERENCIA, '' ) <> '' )
    GROUP BY NR_PROCESSO, CD_AREA, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA
  OPEN c_item_area
  FETCH c_item_area INTO @nr_processo_area, @cd_area, @nr_proc_po_nr_item_po, @cd_referencia
  WHILE @@FETCH_STATUS = 0
  BEGIN
    IF ( SELECT COUNT(*)
         FROM TREF_CLIENTE (NOLOCK)
         WHERE NR_PROCESSO = @nr_processo_area AND
               ISNULL( CD_AREA, '' ) <> '') > 0
    BEGIN
      IF NOT EXISTS( SELECT NR_PROCESSO, CD_ITEM, CD_AREA
                     FROM   TCALCULO_RATEIO_DESP (NOLOCK)
                     WHERE  NR_IDENTIFICADOR = @nr_identificador AND
                            NR_PROCESSO = @nr_processo_area      AND
                            CD_ITEM = @cd_item_calc              AND
                            CD_AREA = @cd_area                   AND
                            NR_PROC_PO_NR_ITEM_PO = @nr_proc_po_nr_item_po AND
                            CD_REFERENCIA = @cd_referencia )
      BEGIN
        IF NOT EXISTS( SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP
                       FROM   TITEM_AREA (NOLOCK)
		       WHERE  CD_ITEM = @cd_item_calc AND
                              CD_AREA = @cd_area AND
                              ISNULL( CD_AREA, '' ) <> ''
                       GROUP BY  CD_ITEM, CD_AREA, TP_RATEIO_DESP )
        BEGIN
          INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
          VALUES( @nr_identificador, @nr_processo_area, @cd_item_calc , @cd_area, 'Não existe área para este item.', @nr_proc_po_nr_item_po, @cd_referencia ) 
        
          SELECT @cont_area = @cont_area + 1
        END
      END
    END
    FETCH c_item_area INTO @nr_processo_area, @cd_area, @nr_proc_po_nr_item_po, @cd_referencia
  END
  CLOSE c_item_area
  DEALLOCATE c_item_area

  SELECT @resp_rat = CASE WHEN EXISTS ( SELECT TP_RATEIO_DESP
	                                FROM   TITEM_AREA (NOLOCK)
                                        WHERE  CD_ITEM = @cd_item_calc AND
                                               CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA WHERE ISNULL( CD_AREA, '' ) <> '' )
                                        GROUP BY TP_RATEIO_DESP
                                        HAVING TP_RATEIO_DESP IS NULL )THEN '1'
                     END	

  IF @resp_rat = '1'
  BEGIN   
    SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP
    INTO   #TMP_TP_RATEIO_DESP
    FROM   TITEM_AREA (NOLOCK)
    WHERE  CD_ITEM = @cd_item_calc AND
	   CD_AREA IN ( SELECT CD_AREA 
                        FROM #TMP_AREA 
                        WHERE ISNULL( CD_AREA, '' ) <> '' AND 
                              ( ISNULL( NR_PROC_PO_NR_ITEM_PO, '' ) <> '' ) AND
                               ( ISNULL( CD_REFERENCIA, '' ) <> '' ) ) AND
           TP_RATEIO_DESP IS NULL

    INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, TP_RATEIO_DESP, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, 'Forma de Rateio nao especificada.', TMPA.NR_PROC_PO_NR_ITEM_PO, TMPA.CD_REFERENCIA
    FROM   #TMP_TP_RATEIO_DESP TMPR, #TMP_ITEM TMPI, #TMP_AREA TMPA
    WHERE  TMPI.CD_ITEM = TMPR.CD_ITEM AND
           TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND
           ( ISNULL( TMPA.CD_AREA, '' ) <> '' ) AND
           ( ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) <> '' ) AND 
           ( ISNULL( TMPA.CD_REFERENCIA, '' ) <> '' ) AND
           NOT EXISTS (SELECT * 
                       FROM TCALCULO_RATEIO_DESP R (NOLOCK)
                       WHERE R.NR_IDENTIFICADOR = @nr_identificador AND
                             R.NR_PROCESSO = TMPI.NR_PROCESSO AND
                             R.CD_ITEM = TMPR.CD_ITEM AND
                             R.CD_AREA = TMPR.CD_AREA AND
                             R.NR_PROC_PO_NR_ITEM_PO = TMPA.NR_PROC_PO_NR_ITEM_PO AND
                             R.CD_REFERENCIA = TMPA.CD_REFERENCIA)
    GROUP BY TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP
 
    SELECT @cont_rat = @cont_rat + 1
  END

  SELECT @resp_dif = CASE WHEN EXISTS ( SELECT COUNT( DISTINCT( TP_RATEIO_DESP ) )
                                        FROM   TITEM_AREA (NOLOCK)
			                WHERE  CD_ITEM = @cd_item_calc AND
			                       CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA WHERE ISNULL( CD_AREA, '' ) <> '' )
                                        HAVING COUNT( DISTINCT( TP_RATEIO_DESP ) ) > 1 ) THEN '1'
                     END

  IF @resp_dif = '1'
  BEGIN
    SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP
    INTO   #TMP_TP_RATEIO_DESP_DISTINCT
    FROM   TITEM_AREA (NOLOCK)
    WHERE  CD_ITEM = @cd_item_calc AND
	   CD_AREA IN ( SELECT CD_AREA 
                        FROM #TMP_AREA 
                        WHERE ISNULL( CD_AREA, '' ) <> '' AND 
                              ( ISNULL( NR_PROC_PO_NR_ITEM_PO, '' ) <> '' ) AND
                              ( ISNULL( CD_REFERENCIA, '' ) <> '' ) )

    INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, TP_RATEIO_DESP, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA) 
    SELECT  @nr_identificador, TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, 'Formas de Rateio distintas em Item.', TMPA.NR_PROC_PO_NR_ITEM_PO, TMPA.CD_REFERENCIA
    FROM    #TMP_TP_RATEIO_DESP_DISTINCT TMPR, #TMP_ITEM TMPI, #TMP_AREA TMPA
    WHERE   TMPI.CD_ITEM = TMPR.CD_ITEM AND
            TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND
            ( ISNULL( TMPA.CD_AREA, '' ) <> '' ) AND
            ( ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) <> '' ) AND
            ( ISNULL( TMPA.CD_REFERENCIA, '' ) <> '' ) AND
            NOT EXISTS (SELECT * 
                       FROM TCALCULO_RATEIO_DESP R (NOLOCK)
                       WHERE R.NR_IDENTIFICADOR = @nr_identificador AND
                             R.NR_PROCESSO = TMPI.NR_PROCESSO AND
                             R.CD_ITEM = TMPI.CD_ITEM AND
                             R.CD_AREA = TMPR.CD_AREA AND
                             R.NR_PROC_PO_NR_ITEM_PO = TMPA.NR_PROC_PO_NR_ITEM_PO AND
                             R.CD_REFERENCIA = TMPA.CD_REFERENCIA)
    GROUP BY TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP
 
    SELECT @cont_dif = @cont_dif + 1
  END
					
FETCH item_cursor INTO @nr_processo_calc, @cd_item_calc
END
CLOSE item_cursor
DEALLOCATE item_cursor

--VERIFICA SE HÁ COD. REFERENCIA É IGUAL AO Nº DE PO OU NAO EXISTE NA DI
IF ( SELECT COUNT(*) 
     FROM #TMP_AREA 
     WHERE ( ISNULL( NR_PROC_PO_NR_ITEM_PO, '' ) = '' ) ) > 0 
BEGIN
    INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente não existente na DI.', 'X', TMPA.CD_REFERENCIA
    FROM   #TMP_AREA TMPA, #TMP_ITEM TMPI, TCALCULO_RATEIO_DESP CR (NOLOCK)
    WHERE  TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND        
           CR.NR_IDENTIFICADOR <> @nr_identificador AND
           CR.NR_PROCESSO <> TMPA.NR_PROCESSO AND
           CR.CD_ITEM <> TMPI.CD_ITEM AND
           CR.CD_AREA <> TMPA.CD_AREA AND
           ( ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) = '' )
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, TMPA.CD_REFERENCIA
  
    SELECT @cont_area = @cont_area + 1
END


SELECT R.NR_PROCESSO, R.CD_REFERENCIA
INTO #TMP_CD_REFERENCIA
FROM TREF_CLIENTE R (NOLOCK), #TMP_AREA TMPA
WHERE R.CD_REFERENCIA NOT IN ( SELECT NR_PROC_PO_NR_ITEM_PO FROM #TMP_AREA ) AND
      TMPA.NR_PROCESSO = R.NR_PROCESSO AND   
      ISNULL( TMPA.CD_AREA, '' ) <> ''      AND
      ( ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) <> '' ) AND
      ( ISNULL( TMPA.CD_REFERENCIA, '' ) <> '' )
GROUP BY R.NR_PROCESSO, R.CD_REFERENCIA

  IF ( SELECT COUNT(*)
       FROM   #TMP_CD_REFERENCIA ) > 0
  BEGIN
    INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPC.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente não existente na DI.', 'X', TMPC.CD_REFERENCIA
    FROM   #TMP_AREA TMPA, #TMP_ITEM TMPI, TCALCULO_RATEIO_DESP CR (NOLOCK), #TMP_CD_REFERENCIA TMPC
    WHERE  TMPC.NR_PROCESSO = TMPA.NR_PROCESSO AND
           TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND        
           CR.NR_IDENTIFICADOR <> @nr_identificador AND
           CR.NR_PROCESSO <> TMPA.NR_PROCESSO AND
           CR.CD_ITEM <> TMPI.CD_ITEM AND
           CR.CD_AREA <> TMPA.CD_AREA 
    GROUP BY TMPC.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, TMPC.CD_REFERENCIA
  
    SELECT @cont_area = @cont_area + 1
  END

--VERIFICA SE HÁ COD. REFERENCIA É IGUAL AO Nº DE PO OU NAO EXISTE NA PO
IF ( SELECT COUNT(*)
     FROM #TMP_AREA
     WHERE ( ISNULL( CD_REFERENCIA, '' ) = '' ) ) > 0
BEGIN
    INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Nº de PO não existente na Ref. Cliente', TMPA.NR_PROC_PO_NR_ITEM_PO, 'X'
    FROM   #TMP_AREA TMPA, #TMP_ITEM TMPI, TCALCULO_RATEIO_DESP CR (NOLOCK)
    WHERE  TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND
           CR.NR_IDENTIFICADOR <> @nr_identificador AND
           CR.NR_PROCESSO <> TMPA.NR_PROCESSO AND
           CR.CD_ITEM <> TMPI.CD_ITEM AND
           CR.CD_AREA <> TMPA.CD_AREA AND
           ( ISNULL( TMPA.CD_REFERENCIA, '' ) = '' )
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, TMPA.NR_PROC_PO_NR_ITEM_PO

 SELECT @cont_area = @cont_area + 1
END 


SELECT TMPA.NR_PROCESSO, TMPA.NR_PROC_PO_NR_ITEM_PO
INTO #TMP_CD_NR_PROC_PO_NR_ITEM_PO
FROM  #TMP_AREA TMPA, TREF_CLIENTE R (NOLOCK)
WHERE TMPA.NR_PROC_PO_NR_ITEM_PO NOT IN ( SELECT CD_REFERENCIA FROM TREF_CLIENTE (NOLOCK) WHERE NR_PROCESSO = TMPA.NR_PROCESSO ) AND
      TMPA.NR_PROCESSO = R.NR_PROCESSO AND
      ISNULL( TMPA.CD_AREA, '' ) <> ''      AND
      ( ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) <> '' ) AND
      ( ISNULL( TMPA.CD_REFERENCIA, '' ) <> '' )
GROUP BY TMPA.NR_PROCESSO, TMPA.NR_PROC_PO_NR_ITEM_PO

  IF ( SELECT COUNT(*)
       FROM   #TMP_CD_NR_PROC_PO_NR_ITEM_PO ) > 0
  BEGIN
    INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPO.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Nº de PO não existente na Ref. Cliente', TMPO.NR_PROC_PO_NR_ITEM_PO, 'X'
    FROM   #TMP_AREA TMPA, #TMP_ITEM TMPI, TCALCULO_RATEIO_DESP CR (NOLOCK), #TMP_CD_NR_PROC_PO_NR_ITEM_PO TMPO
    WHERE  TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND
           TMPO.NR_PROCESSO = TMPA.NR_PROCESSO AND
           CR.NR_IDENTIFICADOR <> @nr_identificador AND
           CR.NR_PROCESSO <> TMPA.NR_PROCESSO AND
           CR.CD_ITEM <> TMPI.CD_ITEM AND
           CR.CD_AREA <> TMPA.CD_AREA 
    GROUP BY TMPO.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, TMPO.NR_PROC_PO_NR_ITEM_PO
  
    SELECT @cont_area = @cont_area + 1
  END

--VERIFICA SE POSSUI PROCESSOS SEM ITEM NA DI
IF  EXISTS( SELECT NR_PROCESSO 
               FROM   #TMP_PROCESSO  
               WHERE  NR_PROCESSO NOT IN ( SELECT NR_PROCESSO 
                                           FROM TDETALHE_MERCADORIA (NOLOCK)
                                           GROUP BY NR_PROCESSO ) AND
                      SUBSTRING(NR_PROCESSO, 5, 2) NOT IN ('TE', 'IW', 'IZ')
               GROUP BY NR_PROCESSO )
BEGIN
  INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
  SELECT @nr_identificador, NR_PROCESSO, 'X', 'X', 'Processo não possui Item na DI.', 'X', CD_REFERENCIA 
  FROM   #TMP_PROCESSO
  WHERE  NR_PROCESSO NOT IN ( SELECT NR_PROCESSO 
                              FROM TDETALHE_MERCADORIA (NOLOCK)
                              GROUP BY NR_PROCESSO ) AND
         SUBSTRING(NR_PROCESSO, 5, 2) NOT IN ('TE', 'IW', 'IZ') AND
         ( ISNULL( CD_AREA, '' ) <> '' ) AND
         ( ISNULL( CD_REFERENCIA, '' ) <> '' ) AND
         NOT EXISTS (SELECT * 
                       FROM TCALCULO_RATEIO_DESP R (NOLOCK)
                       WHERE R.NR_IDENTIFICADOR = @nr_identificador AND
                             R.NR_PROCESSO = NR_PROCESSO AND
                             R.CD_ITEM =  'X' AND
                             R.CD_AREA =  'X' AND
                             R.CD_REFERENCIA = CD_REFERENCIA )
  GROUP BY NR_PROCESSO, CD_REFERENCIA 
 
  SELECT @cont_area = @cont_area + 1
END


IF EXISTS( SELECT NR_PROCESSO, CD_AREA
           FROM #TMP_AREA
           WHERE ISNULL( CD_AREA, '' ) = '' 
           GROUP BY NR_PROCESSO, CD_AREA )
BEGIN
  SELECT DISTINCT FC.NR_PROCESSO, FC.CD_ITEM, R.CD_REFERENCIA
  INTO   #TMP_AREA_REF_CLI
  FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TFATURAMENTO_CC FC (NOLOCK), TPROCESSO P (NOLOCK), 
         TEMPRESA_NAC E (NOLOCK), TREF_CLIENTE R (NOLOCK)
  WHERE  F.CD_UNID_NEG     = @cd_unid_neg AND
         F.CD_PRODUTO      = @cd_produto AND
         F.NR_SOLICITACAO  = @nr_solicitacao AND
         F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
         F.CD_PRODUTO      = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
         FP.CD_UNID_NEG    = FC.CD_UNID_NEG AND
         FP.CD_PRODUTO     = FC.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FC.NR_SOLIC_FAT AND
         FP.NR_PROCESSO    = FC.NR_PROCESSO AND
         FP.NR_PROCESSO    = P.NR_PROCESSO AND
         FP.NR_PROCESSO    = R.NR_PROCESSO AND
         P.CD_CLIENTE      = E.CD_EMPRESA AND
         E.CD_GRUPO       IN ( @cd_grupo_basf, @cd_grupo_bsg ) AND
         ISNULL( R.CD_AREA, '' ) = ''
  GROUP BY FC.NR_PROCESSO, FC.CD_ITEM, R.CD_AREA, R.CD_REFERENCIA

  INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
  SELECT @nr_identificador, TMPR.NR_PROCESSO, TMPR.CD_ITEM, 'X', 'Área não informada na Ref. Cliente', 'X', TMPR.CD_REFERENCIA
  FROM   #TMP_AREA_REF_CLI TMPR, TCALCULO_RATEIO_DESP FR (NOLOCK)
  WHERE  FR.NR_IDENTIFICADOR <> @nr_identificador AND
         FR.NR_PROCESSO <> TMPR.NR_PROCESSO       AND
         FR.CD_ITEM <> TMPR.CD_ITEM               AND
         FR.CD_AREA <> 'X'                        AND
         FR.NR_PROC_PO_NR_ITEM_PO <> 'X'          AND
         FR.CD_REFERENCIA <> TMPR.CD_REFERENCIA
  GROUP BY TMPR.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_REFERENCIA

  SELECT @cont_area = @cont_area + 1
  DROP TABLE #TMP_AREA_REF_CLI 
END 

DROP TABLE #TMP_PROCESSO
DROP TABLE #TMP_CD_REFERENCIA
DROP TABLE #TMP_CD_NR_PROC_PO_NR_ITEM_PO

IF ( ( @cont_rat >= 1 ) OR ( @cont_dif >= 1 ) OR ( @cont_area >= 1 ) )
BEGIN
  IF @cont_rat >=1
  BEGIN
    DROP TABLE #TMP_AREA
    DROP TABLE #TMP_ITEM
    DROP TABLE #TMP_TP_RATEIO_DESP
  END
  ELSE
  BEGIN
    DROP TABLE #TMP_AREA
    DROP TABLE #TMP_ITEM
  END   	

  IF @cont_dif >= 1
  BEGIN
    DROP TABLE #TMP_TP_RATEIO_DESP_DISTINCT	
  END

END
ELSE
BEGIN
  DROP TABLE #TMP_AREA
  DROP TABLE #TMP_ITEM

/* Rateio de Despesas */
EXEC sp_fat_calculo_rateio_despesas @cd_unid_neg, @cd_produto, @nr_solicitacao
END

END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF 
*/













GO
