USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_mapa_an] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), 
                                  @cd_cliente char(5), @cd_analista char(3), @cd_destino char(3),
                                  @cd_modal char(2), @dt_inicio datetime, @dt_fim datetime,
                                  @nr_identificador int output ) AS


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_analista      char(3)
DECLARE @cd_destino       char(3)
DECLARE @cd_modal         char(2)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @nr_identificador int 

SELECT  @cd_unid_neg  = '01'
SELECT  @cd_produto   = '02'
SELECT  @cd_grupo     = '036'
SELECT  @cd_cliente   = 'X'
SELECT  @cd_analista  = 'X' 
SELECT  @cd_destino   = 'X' 
SELECT  @cd_modal     = 'X'
SELECT  @dt_inicio    = CONVERT( datetime, '01/06/2004', 103 )
SELECT  @dt_fim       = CONVERT( datetime, '30/06/2004', 103 ) 

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo   char(18)
DECLARE @tp_cntr       char(2)
DECLARE @in_desova     char(1)
DECLARE @qt_cntr       varchar(70)
DECLARE @qt_cntr_20    varchar(10)
DECLARE @qt_cntr_40    varchar(10)
DECLARE @qt_tk_20      varchar(10)
DECLARE @qt_tk_40      varchar(10)
DECLARE @qt_granel     varchar(10)
DECLARE @qtc_20        int
DECLARE @qtc_40        int
DECLARE @qtt_20        int
DECLARE @qtt_40        int
DECLARE @qt_gr         int

SET @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR),0 ) + 1
                            FROM TREL_MAPA_ANALITICO_OXITENO )

INSERT TREL_MAPA_ANALITICO_OXITENO ( NR_IDENTIFICADOR, NR_PROCESSO, CD_REFERENCIA, AP_EMPRESA, AP_MERCADORIA, QT_PESO_LIQ,
                                     NM_EMBARCACAO, DT_PREV_CHEGADA, DT_EMBARQUE, DT_SAIDA, NR_RE, NR_SD, IN_RE, DT_ETA, 
                                     DT_CI, DESCRICAO, NM_AGENTE )
SELECT DISTINCT @nr_identificador as NR_IDENTIFICADOR, P.NR_PROCESSO, RC.CD_REFERENCIA, EE.NM_EMPRESA AS AP_EMPRESA, 
                ME.AP_MERCADORIA, CAST( PEI.VL_TOT_PESO_LIQ AS DECIMAL (11,3)) AS QT_PESO_LIQ,

--se a exportação for maritima será colocado o nome do navio, caso contrario o numero do voo
       CASE  
         WHEN ( SELECT SUBSTRING( PRO.NR_PROCESSO, 5, 2 )
                  FROM TPROCESSO PRO (NOLOCK)
                 WHERE PRO.NR_PROCESSO = P.NR_PROCESSO ) = 'EM' THEN EM.NM_EMBARCACAO  
         ELSE P.NR_VOO  
       END AS NM_EMBARCACAO,
       ( SELECT FT.DT_REALIZACAO 
           FROM TFOLLOWUP FT (NOLOCK)
          WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	        FT.CD_EVENTO = ( SELECT CD_EV_PREV_EMBARQUE FROM TPARAMETROS T (NOLOCK) ) ) AS DT_PREV_CHEGADA,
       ( SELECT FT.DT_REALIZACAO 
           FROM TFOLLOWUP FT (NOLOCK)
          WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	        FT.CD_EVENTO = ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS T (NOLOCK) ) ) AS DT_EMBARQUE,

       ( SELECT FT.DT_REALIZACAO
           FROM TFOLLOWUP FT (NOLOCK)
          WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	        FT.CD_EVENTO = '260' ) AS DT_SAIDA,

       RE.NR_RE, PE.NR_DDE AS NR_SD,
       
       CASE  
           WHEN    (  SELECT ISNULL(FT.DT_REALIZACAO ,'')
                        FROM TFOLLOWUP FT(NOLOCK)
                       WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	                     FT.CD_EVENTO = ( SELECT CD_EV_AVERBACAO FROM TPARAMETROS (NOLOCK))) = '01/01/1900'
           THEN 'Solic. Desp.'
           ELSE 'Averbado' 
       END AS IN_RE,

       ( SELECT FT.DT_REALIZACAO
           FROM TFOLLOWUP FT (NOLOCK)
          WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	        FT.CD_EVENTO = '261' ) AS DT_ETA,

       ('Liberado em:'+ CAST((SELECT FT.DT_REALIZACAO 
	                       FROM TFOLLOWUP FT (NOLOCK)
                              WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	                            FT.CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS T (NOLOCK)) ) AS VARCHAR(11)))AS DT_CI,
       LE.DESCRICAO, A.NM_AGENTE

FROM TPROCESSO P
     LEFT  JOIN TEMPRESA_EST EE (NOLOCK)        ON ( P.CD_EMP_EST     = EE.CD_EMPRESA )
     INNER JOIN TEMPRESA_NAC EN (NOLOCK)        ON ( P.CD_CLIENTE     = EN.CD_EMPRESA )
     LEFT  JOIN TPROCESSO_EXP_ITEM PEI (NOLOCK) ON ( PEI.NR_PROCESSO  = P.NR_PROCESSO )
     LEFT  JOIN TMERCADORIA_EXP ME (NOLOCK)     ON ( ME.CD_MERCADORIA = PEI.CD_MERCADORIA )
     INNER JOIN TEMBARCACAO EM (NOLOCK)         ON ( EM.CD_EMBARCACAO = P.CD_EMBARCACAO )
     LEFT  JOIN TPROCESSO_EXP_RE RE (NOLOCK)    ON ( RE.NR_PROCESSO   = P.NR_PROCESSO )
     LEFT  JOIN TAGENTE A (NOLOCK)              ON ( A.CD_AGENTE      = P.CD_AGENTE )
     INNER JOIN TLOCAL_EMBARQUE LE (NOLOCK)     ON ( LE.CODIGO        = P.CD_LOCAL_DESEMBARQUE )
     INNER JOIN TFOLLOWUP F (NOLOCK)            ON ( F.NR_PROCESSO    = P.NR_PROCESSO )
     INNER JOIN VW_SERVICO_GERAL SE (NOLOCK)            ON ( SE.CD_SERVICO    = P.CD_SERVICO )
     LEFT  JOIN TPROCESSO_EXP PE (NOLOCK)       ON ( PE.NR_PROCESSO   = P.NR_PROCESSO )
     INNER  JOIN TREF_CLIENTE RC (NOLOCK)       ON ( RC.NR_PROCESSO   = P. NR_PROCESSO )
WHERE    P.CD_PRODUTO = '02'                           AND
         ISNULL( P.IN_CANCELADO, '0') <> '1'           AND
         ISNULL( RC.TP_REFERENCIA, '0') = '03'         AND
	 @cd_unid_neg IN ( P.CD_UNID_NEG,        'X' ) AND    
         P.CD_CLIENTE IN ( SELECT CD_EMPRESA 
                             FROM TEMPRESA_NAC 
                            WHERE CD_GRUPO = @cd_grupo or @cd_grupo = 'X')    AND
         @cd_cliente  IN ( P.CD_CLIENTE,         'X' ) AND
         @cd_analista IN ( P.CD_CONTATO,         'X' ) AND
         @cd_destino  IN ( P.CD_PAIS_DESTINO,    'X' ) AND 
         @cd_modal    IN ( SE.CD_VIA_TRANSPORTE, 'X' ) AND
         P.DT_ABERTURA BETWEEN @dt_inicio and @dt_fim
               
ORDER BY P.NR_PROCESSO

-- Cursor para contar a quantidade de CNTR por PROCESSO
DECLARE c_oxi CURSOR FOR
  SELECT NR_PROCESSO
  FROM   TREL_MAPA_ANALITICO_OXITENO
  WHERE  NR_IDENTIFICADOR = @nr_identificador

OPEN c_oxi
FETCH c_oxi INTO @nr_processo
WHILE @@FETCH_STATUS = 0
BEGIN

  SET @qt_cntr_20 = ''
  SET @qt_cntr_40 = ''
  SET @qt_tk_20 = ''
  SET @qt_tk_40 = ''
  SET @qt_granel = ''
  
  SET @qtc_20 = 0
  SET @qtc_40 = 0
  SET @qtt_20 = 0
  SET @qtt_40 = 0
  SET @qt_gr = 0 

  -- Verifica qtde CNTR na TPROCESSO_CNTR
  DECLARE c_cntr CURSOR FOR
    SELECT ISNULL( TP_CNTR, '0' ), ISNULL( IN_DESOVA, '0' )
    FROM   TPROCESSO_CNTR
    WHERE  NR_PROCESSO = @nr_processo
  
  OPEN c_cntr
  FETCH c_cntr INTO @tp_cntr, @in_desova
  WHILE @@FETCH_STATUS = 0
  BEGIN
    if @in_desova = '0' 
    begin
      if @tp_cntr = '01'
        SET @qt_gr = @qt_gr + 1
      if @tp_cntr = '02'
        SET @qtc_20 = @qtc_20 + 1
      if @tp_cntr = '03'
        SET @qtc_40 = @qtc_40 + 1
      if @tp_cntr = '04'
        SET @qtt_20 = @qtt_20 + 1
      if @tp_cntr = '05'
        SET @qtt_40 = @qtt_40 + 1
    end
    else
      SET @qt_gr = @qt_gr + 1
    
    FETCH c_cntr INTO @tp_cntr, @in_desova
  END
  CLOSE c_cntr
  DEALLOCATE c_cntr

  -- 
  if @qtc_20 <> 0
    SET @qt_cntr_20 = CAST( @qtc_20 AS CHAR (3) ) + 'x20  '
  if @qtc_40 <> 0
    SET @qt_cntr_40 = CAST( @qtc_40 AS CHAR (3) ) + 'x40  '
  if @qtt_20 <> 0
     SET @qt_tk_20 = CAST( @qtt_20 AS CHAR (3) ) + 'tk20  '
  if @qtt_40 <> 0
     SET @qt_tk_40 = CAST( @qtt_40 AS CHAR (3) ) + 'tk40  ' 
  if @qt_gr <> 0 
     SET @qt_granel = 'granel'

   -- Concatena strings 
   SET @qt_cntr = @qt_cntr_20 + @qt_cntr_40 + @qt_tk_20 + @qt_tk_40 + @qt_granel


  -- Grava quantidade de cntrs na tabela
  UPDATE TREL_MAPA_ANALITICO_OXITENO
  SET    QT_CNTR = @qt_cntr
  WHERE  NR_IDENTIFICADOR = @nr_identificador
    AND  NR_PROCESSO = @nr_processo

  FETCH c_oxi INTO @nr_processo
END
CLOSE c_oxi
DEALLOCATE c_oxi



GO
