USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_exclui_evento_po    Script Date: 02/09/1999 08:57:47 AM ******/
CREATE PROCEDURE [sp_exclui_evento_po] ( @cd_evento char(3), @in_consiste bit ) AS
DECLARE @nr_ordem int
IF @in_consiste = 1
BEGIN
  IF ( SELECT COUNT(*) 
       FROM   TEVENTO_PO
       WHERE  ( CD_EV_BASICO = @cd_evento OR
                CD_EV_FUTURO = @cd_evento ) ) > 0
     RETURN (1)
END
SELECT @nr_ordem = nr_ordem
FROM   TEVENTO_PO
WHERE  CD_EVENTO  = @cd_evento

DELETE TEVENTO_PO
WHERE  CD_EVENTO  = @cd_evento

UPDATE TEVENTO_PO
SET    NR_ORDEM   = NR_ORDEM - 1
WHERE  NR_ORDEM > @nr_ordem

RETURN (0)


GO
