USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored Procedure dbo.sp_rec_imp    Script Date: 02/09/1999 08:57:48 AM ******/
/****** Object:  Stored Procedure dbo.sp_rec_imp    Script Date: 10/06/1999 08:57:37 ******/
CREATE PROCEDURE [sp_rec_imp] (@cd_cliente char(5), @cd_unid_neg char(2), 
                             @cd_produto char(2), @cd_servico char(3), @cd_item char(3),
                             @cd_usuario char(4), @operacao char(1)) AS 
if @operacao = '+'
begin
  INSERT INTO TRECEITAS_IMP
    SELECT @cd_cliente, @cd_unid_neg, @cd_produto, @cd_servico, @cd_item, CD_REGIME_TRIB,
           '1', 0, 1, null, null, 0, 1, null, null, 0, 1, null, null, 0, 1, null, null, 
            0, 1, null, null, '1'
    FROM TREGIME_TRIB
/*
  INSERT INTO TLOG
    SELECT @cd_usuario, '232', 'I', '22', '2202', 
           @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item + CD_REGIME_TRIB,
           getdate()
    FROM TREGIME_TRIB
*/
end
else if @operacao = '-'
begin
  if ( ( SELECT COUNT(*) 
         FROM   TCLIENTE_NUMERARIO
         WHERE CD_CLIENTE     = @cd_cliente  AND 
               CD_UNID_NEG    = @cd_unid_neg AND
               CD_PRODUTO     = @cd_produto  AND
               CD_SERVICO     = @cd_servico  AND
               CD_ITEM        = @cd_item ) > 0 )
     AND
     ( ( SELECT COUNT(*) 
         FROM   TCLIENTE_FATURAMENTO
         WHERE CD_CLIENTE     = @cd_cliente  AND 
               CD_UNID_NEG    = @cd_unid_neg AND
               CD_PRODUTO     = @cd_produto  AND
               CD_SERVICO     = @cd_servico  AND
               CD_ITEM        = @cd_item ) > 0 )
  Return(0)
/*
  INSERT INTO TLOG
    SELECT @cd_usuario, '232', 'E', '22', '2202', 
           @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item + CD_REGIME_TRIB,
           getdate()
    FROM TREGIME_TRIB
*/
  DELETE TRECEITAS_IMP
  WHERE CD_CLIENTE     = @cd_cliente  AND 
        CD_UNID_NEG    = @cd_unid_neg AND
        CD_PRODUTO     = @cd_produto  AND
        CD_SERVICO     = @cd_servico  AND
        CD_ITEM        = @cd_item     
end



GO
