USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_atz_distr_gerencial    Script Date: 28/12/1998 12:01:05 ******/
CREATE PROCEDURE [sp_atz_distr_gerencial]( @cd_coligada char(2), @cd_unid_neg char(2), @dt_movimento datetime, @nr_lancamento char(6) ) AS
DECLARE @cd_ct_contabil  char(8)
DECLARE @vl_lancamento   numeric(14,2)
DECLARE @tot_vl_distribuicao  numeric(14,2)
DECLARE @cd_ct_gerencial  char(4)

SELECT @vl_lancamento  = CONVERT( numeric(14,2), VL_LANCAMENTO ),
       @cd_ct_contabil = CD_CT_CONTABIL
FROM   TCAIXA
WHERE  CD_COLIGADA     = @cd_coligada  AND
       CD_UNID_NEG     = @cd_unid_neg  AND
       DT_MOVIMENTO    = @dt_movimento AND
       NR_LANCAMENTO   = @nr_lancamento

INSERT INTO TCAIXA_CONTABIL_DISTR( CD_COLIGADA, CD_UNID_NEG, DT_MOVIMENTO, NR_LANCAMENTO, CD_CT_GERENCIAL, VL_DISTRIBUICAO )
  SELECT @cd_coligada, @cd_unid_neg, @dt_movimento, @nr_lancamento, CD_CT_GERENCIAL, 
         ROUND( PC_TAXA * ( @vl_lancamento / 100 ) , 2 )
  FROM   TCONTABIL_DISTRIBUICAO
  WHERE  CD_COLIGADA    = @cd_coligada AND
         CD_UNID_NEG    = @cd_unid_neg AND
         CD_CT_CONTABIL = @cd_ct_contabil

SELECT @tot_vl_distribuicao = SUM( CONVERT( numeric(14,2), VL_DISTRIBUICAO ) ),
       @cd_ct_gerencial = MAX( CD_CT_GERENCIAL )
FROM   TCAIXA_CONTABIL_DISTR
WHERE  CD_COLIGADA   = @cd_coligada  AND
       CD_UNID_NEG   = @cd_unid_neg  AND
       DT_MOVIMENTO  = @dt_movimento AND
       NR_LANCAMENTO = @nr_lancamento

IF @tot_vl_distribuicao <> @vl_lancamento 
BEGIN
  UPDATE TCAIXA_CONTABIL_DISTR
  SET    VL_DISTRIBUICAO = CONVERT( numeric(14,2), VL_DISTRIBUICAO ) + 
                           ( @vl_lancamento - @tot_vl_distribuicao )
  WHERE  CD_COLIGADA     = @cd_coligada   AND
         CD_UNID_NEG     = @cd_unid_neg   AND
         DT_MOVIMENTO    = @dt_movimento  AND
         NR_LANCAMENTO   = @nr_lancamento AND
         CD_CT_GERENCIAL = @cd_ct_gerencial
END



GO
