USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_distr_ger_ctaapagar    Script Date: 02/12/1999 17:34:11 ******/
CREATE PROCEDURE [sp_atz_distr_ger_ctaapagar]( @cd_unid_neg char(2),  @dt_ctaapagar datetime, 
					     @nr_ctaapagar char(3), @cd_ct_contabil char(8),
                                             @cd_filial char(3),    @cd_ct_custo char(3) ) AS
	
DECLARE @vl_lancamento 		numeric(14,2)
DECLARE @tot_vl_distribuicao 	numeric(14,2)
DECLARE @cd_ct_gerencial 	char(4)

SELECT @vl_lancamento  = CONVERT( numeric(14,2), VL_LANCAMENTO )
FROM   TCTAAPAGAR_LANC
WHERE  CD_UNID_NEG     = @cd_unid_neg    AND
       DT_CTAAPAGAR    = @dt_ctaapagar   AND
       NR_CTAAPAGAR    = @nr_ctaapagar   AND
       CD_CT_CONTABIL  = @cd_ct_contabil AND
       CD_FILIAL       = @cd_filial      AND
       CD_CT_CUSTO     = @cd_ct_custo

INSERT INTO TCTAAPAGAR_GER
  SELECT @cd_unid_neg, @dt_ctaapagar, @nr_ctaapagar, @cd_ct_contabil, @cd_filial, 
         CD_CT_GERENCIAL, @cd_ct_custo, ROUND( PC_TAXA * ( @vl_lancamento / 100 ) , 2 )
  FROM   TCONTABIL_DISTRIBUICAO  
  WHERE  CD_CT_CONTABIL = @cd_ct_contabil

SELECT @tot_vl_distribuicao = SUM( CONVERT( numeric(14,2), VL_LANCAMENTO ) ),
       @cd_ct_gerencial = MAX( CD_CT_GERENCIAL )
FROM   TCTAAPAGAR_GER
WHERE  CD_UNID_NEG	= @cd_unid_neg    AND
       DT_CTAAPAGAR     = @dt_ctaapagar   AND
       NR_CTAAPAGAR     = @nr_ctaapagar   AND
       CD_CT_CONTABIL 	= @cd_ct_contabil AND
       CD_FILIAL        = @cd_filial      AND
       CD_CT_CUSTO      = @cd_ct_custo

IF @tot_vl_distribuicao <> @vl_lancamento 
BEGIN
  UPDATE TCTAAPAGAR_GER
  SET    VL_LANCAMENTO   = CONVERT( numeric(14,2), VL_LANCAMENTO ) + 
                           ( @vl_lancamento - @tot_vl_distribuicao )
  WHERE  CD_UNID_NEG	 = @cd_unid_neg     AND
	 DT_CTAAPAGAR    = @dt_ctaapagar    AND         NR_CTAAPAGAR	 = @nr_ctaapagar    AND
	 CD_CT_CONTABIL	 = @cd_ct_contabil  AND
	 CD_CT_GERENCIAL = @cd_ct_gerencial AND
         CD_FILIAL       = @cd_filial       AND
         CD_CT_CUSTO     = @cd_ct_custo
END

GO
