USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spWriteStringToFile]    
(    
@String TEXT,    
@Path VARCHAR(255),    
@Filename VARCHAR(100),    
@type int -- 0 writeline, 1 create    
--    
)    
AS    
DECLARE  @objFileSystem int,    
         @objTextStream int,    
         @objErrorObject int,    
  @strErrorMessage Varchar(1000),    
  @Command varchar(1000),    
  @hr int,    
   @fileAndPath varchar(80)    
    
set nocount on    
    
select @strErrorMessage='opening the File System Object'    
EXECUTE @hr = sp_OACreate  'Scripting.FileSystemObject' , @objFileSystem OUT    
    
Select @FileAndPath=@path+'\'+rtrim(ltrim(@filename))  
if @HR=0 Select @objErrorObject=@objFileSystem , @strErrorMessage='Creating file "'+@FileAndPath+'"'    
if @HR=0     
begin    
  IF @type = 0    
  BEGIN    
    --open the text stream for append    
    EXECUTE @hr = sp_OAMethod @objFileSystem,'OpenTextFile', @objTextStream OUTPUT, @FileAndPath, 8    
  END    
  ELSE    
  BEGIN    
    --Create the text file for write    
    EXECUTE @hr = sp_OAMethod @objFileSystem,'CreateTextFile',@objTextStream OUTPUT,@FileAndPath,-1    
  END    
--  execute @hr = sp_OAMethod  @objFileSystem, 'CreateTextFile', @objTextStream OUT, @FileAndPath,2,True    
end    
    
if @HR=0 Select @objErrorObject=@objTextStream,     
 @strErrorMessage='writing to the file "'+@FileAndPath+'"'    
if @HR=0     
begin    
  execute @hr = sp_OAMethod  @objTextStream, 'WriteLine', Null, @String      
end    
    
if @HR=0 Select @objErrorObject=@objTextStream, @strErrorMessage='closing the file "'+@FileAndPath+'"'    
if @HR=0 execute @hr = sp_OAMethod  @objTextStream, 'Close'    
    
if @hr<>0    
 begin    
 Declare     
  @Source varchar(255),    
  @Description Varchar(255),    
  @Helpfile Varchar(255),    
  @HelpID int    
     
 EXECUTE sp_OAGetErrorInfo  @objErrorObject,     
  @source output,@Description output,@Helpfile output,@HelpID output    
 Select @strErrorMessage='Error whilst '    
   +coalesce(@strErrorMessage,'doing something')    
   +', '+coalesce(@Description,'')    
 raiserror (@strErrorMessage,16,1)    
 end    
EXECUTE  sp_OADestroy @objFileSystem
EXECUTE sp_OADestroy @objTextStream 
GO
