USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [sp_exp_apaga_renum_itens]( @nr_processo char(18), @nr_item char(3) )  AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @nr_processo char(18),
  @nr_item char(3)
SET @nr_processo = '0102EA-0320-07'
SET @nr_item     = '022'
--*/
SET NOCOUNT ON
DECLARE
  @nrQtdeItem char(3),
  @i_item int,
  @s_item char(3),
  @nrProcesso char(18),
  @nrItem char(3)

--verifica se existem itens no processo
IF( SELECT COUNT(*) FROM TPROCESSO_EXP_ITEM (NOLOCK) WHERE NR_PROCESSO = @nr_processo ) > 0
BEGIN
  --apaga o item do processo e da tabela de paletização(se existir)
  DELETE TPROCESSO_EXP_ITEM WHERE NR_PROCESSO = @nr_processo AND NR_ITEM = @nr_item
  DELETE TPROCESSO_PALETIZACAO WHERE NR_PROCESSO = @nr_processo AND NR_ITEM = @nr_item
END

--renumera os itens do processo
IF( SELECT COUNT(*) FROM TPROCESSO_EXP_ITEM WHERE NR_PROCESSO = @nr_processo ) > 0
BEGIN 
  --seleciona o total de itens e adicona zeros a esquerda pa criar o código do item
  SET @nrQtdeItem = CONVERT(char(3), (SELECT COUNT(*)FROM TPROCESSO_EXP_ITEM WHERE NR_PROCESSO = @nr_processo))
  SET @nrQtdeItem = RIGHT(('000' + RTRIM( @nrQtdeItem)), 3)
  UPDATE TPROCESSO_EXP SET QT_TOTAL_ITENS = @nrQtdeItem WHERE NR_PROCESSO = @nr_processo

  DECLARE cProcesso CURSOR FOR
    SELECT NR_ITEM 
    FROM TPROCESSO_EXP_ITEM
    WHERE NR_PROCESSO = @nr_processo
    ORDER BY NR_ITEM
  
  SET @i_item = 0

  OPEN cProcesso 
  FETCH cProcesso INTO @nrItem
  WHILE @@fetch_status <> -1
  BEGIN
    SET @i_item = @i_item + 1
    SET @s_item = CONVERT(char(3), @i_item)
    SET @s_item = RIGHT(('000'+RTRIM(@s_item)), 3)

    UPDATE TPROCESSO_EXP_ITEM SET NR_ITEM = @s_item WHERE CURRENT OF cProcesso

    FETCH cProcesso INTO @nrItem
  END

  CLOSE cProcesso
  DEALLOCATE cProcesso
END
ELSE
BEGIN 
  UPDATE TPROCESSO_EXP SET QT_TOTAL_ITENS = '000' WHERE  NR_PROCESSO = @nr_processo
END

--renumera os itens no palet
IF( SELECT COUNT(*) FROM TPROCESSO_PALETIZACAO WHERE NR_PROCESSO = @nr_processo ) > 0
BEGIN 
  DECLARE cProcesso CURSOR FOR
    SELECT NR_PROCESSO, NR_ITEM 
    FROM TPROCESSO_PALETIZACAO
    WHERE NR_PROCESSO = @nr_processo
    GROUP BY NR_PROCESSO, NR_ITEM

  SET @i_item = 0

  OPEN cProcesso 
  FETCH cProcesso INTO @nrProcesso, @nrItem
  WHILE @@fetch_status <> -1
  BEGIN
    SET @i_item = @i_item + 1
    SET @s_item = CONVERT(char(3), @i_item)
    SET @s_item = RIGHT(('000' + RTRIM(@s_item)), 3)

    UPDATE TPROCESSO_PALETIZACAO SET NR_ITEM = @s_item WHERE NR_PROCESSO = @nrProcesso AND NR_ITEM = @nrItem

    FETCH cProcesso INTO @nrProcesso, @nrItem
  END

  CLOSE cProcesso
  DEALLOCATE cProcesso
END

SET NOCOUNT OFF
RETURN(0)
/*
select NR_PROCESSO, NR_ITEM from tprocesso_exp_item (nolock) where nr_processo = @nr_processo order by nr_item
select NR_PROCESSO, NR_ITEM from tprocesso_paletizacao (nolock) where nr_processo = @nr_processo order by nr_item

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
