USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored Procedure dbo.sp_ensaios    Script Date: 02/09/1999 08:57:47 AM ******/
CREATE PROCEDURE [sp_ensaios] (@cd_cliente char(5), @cd_unid_neg char(2), 
                             @cd_produto char(2), @cd_servico char(3), @cd_item char(3),
                             @dt_ini datetime, @dt_fim datetime,
        @operacao char(1), @mod char(1) ) AS 
DECLARE @cd_usuario char(4)
SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_NAME()
IF @operacao = '+'
BEGIN
  IF @mod = 'I'
  BEGIN
    INSERT INTO TENSAIOS_IMP
      SELECT @cd_cliente, @cd_unid_neg, @cd_produto, @cd_servico, @cd_item, CD_REGIME_TRIB,
             @dt_ini, @dt_fim, '1', 0, 1, NULL, NULL, 0, 1, NULL, NULL, 0, 1, NULL, NULL, 0, 1, NULL, NULL, 
              0, 1, NULL, NULL, '1'
      FROM TREGIME_TRIB
    /*
    INSERT INTO TLOG
      SELECT @cd_usuario, '254', 'I', '15', '1530', 
             @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item + CD_REGIME_TRIB, GETDATE()
      FROM TREGIME_TRIB
    */
  END
  ELSE 
  IF @mod = 'E'
  BEGIN
    INSERT INTO TENSAIOS_EXP 
      VALUES ( @cd_unid_neg, @cd_produto, @cd_cliente, @cd_servico, @cd_item, 
        @dt_ini, @dt_fim, '1', '0', '0', 0, 1, '0', NULL, 0, 1, '0',
      NULL, 0, 1, '0', NULL, 0, '1' )
    /*
    INSERT INTO TLOG
      VALUES( @cd_usuario, '255', 'I', '15', '1530', 
             @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item, GETDATE() )
    */
  END
END
ELSE 
IF @operacao = '-'
BEGIN
  IF @mod = 'I'
  BEGIN
    /*
    INSERT INTO TLOG
      SELECT @cd_usuario, '254', 'E', '15', '1530', 
             @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item + CD_REGIME_TRIB, GETDATE()
      FROM TREGIME_TRIB
    */
    DELETE TENSAIOS_IMP
    WHERE CD_CLIENTE     = @cd_cliente  AND 
          CD_UNID_NEG    = @cd_unid_neg AND
          CD_PRODUTO     = @cd_produto  AND
          CD_SERVICO     = @cd_servico  AND
          CD_ITEM        = @cd_item     
  END
  ELSE
  IF @mod = 'E'
  BEGIN
    /*
    INSERT INTO TLOG
      VALUES( @cd_usuario, '255', 'E', '15', '1530', 
             @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item, GETDATE() )
    */
    DELETE TENSAIOS_EXP
    WHERE CD_CLIENTE     = @cd_cliente  AND 
          CD_UNID_NEG    = @cd_unid_neg AND
          CD_PRODUTO     = @cd_produto  AND
          CD_SERVICO     = @cd_servico  AND
          CD_ITEM        = @cd_item     
  END
END




GO
