USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Stored Procedure dbo.sp_atualiza_liquidacao    Script Date: 29/12/1998 10:23:30 ******/
CREATE PROCEDURE [sp_rel_liquidacao] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                     @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT ) AS

/*
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2) 
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @nr_identificador int 
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01' 
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '16/03/2007', 103 )
SELECT @dt_fim = CONVERT( datetime, '16/03/2007', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_LIQUIDACAO

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

INSERT TREL_LIQUIDACAO
( NR_IDENTIFICADOR, NR_PROCESSO_LIQ, NR_LIQUIDACAO, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, DT_LIQUIDACAO, CD_FORMA_PAGTO, 
  CD_BANCO, TP_LIQUIDACAO, VL_LIQUIDACAO, IN_CANCELADO, DT_CANCELAMENTO )
  SELECT @nr_identificador, L.NR_PROCESSO_LIQ, L.NR_LIQUIDACAO_LIQ, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, L.DT_LIQUIDACAO,
         L.CD_FORMA_PAGTO, L.CD_BANCO, L.TP_LIQUIDACAO, ROUND(SUM( ISNULL( L.VL_LIQUIDACAO, 0 )), 2 ) AS VL_LIQUIDACAO,
         L.IN_CANCELADO, L.DT_CANCELAMENTO
  FROM   TLIQUIDACAO L (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK)
  WHERE  L.NR_PROCESSO_LIQ = P.NR_PROCESSO AND
         P.CD_CLIENTE  = E.CD_EMPRESA AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( L.IN_CANCELADO = '0' ) AND ( L.DT_LIQUIDACAO BETWEEN @dt_inicio AND @dt_fim ) )


GROUP BY L.NR_PROCESSO_LIQ, L.NR_LIQUIDACAO_LIQ, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, L.DT_LIQUIDACAO,
         L.CD_FORMA_PAGTO, L.CD_BANCO, L.TP_LIQUIDACAO, L.IN_CANCELADO, L.DT_CANCELAMENTO



INSERT TREL_LIQUIDACAO_FATURAS
( NR_IDENTIFICADOR, NR_PROCESSO_LIQ, NR_LIQUIDACAO, NR_PROCESSO, NR_SOLICITACAO, VL_LIQUIDACAO, CD_REFERENCIA,
  DT_FATURA, NR_NOTA_FATURA, DT_VENCIMENTO, NR_DIAS )
  SELECT @nr_identificador, L.NR_PROCESSO_LIQ, L.NR_LIQUIDACAO_LIQ, FP.NR_PROCESSO, FP.NR_SOLICITACAO, 
         ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) AS VL_LIQUIDACAO, 
         ( SELECT R.CD_REFERENCIA
           FROM   TREF_CLIENTE R (NOLOCK)
           WHERE  R.NR_PROCESSO = FP.NR_PROCESSO AND
                  R.NR_SEQUENCIA IN ( SELECT MIN( NR_SEQUENCIA )
                                      FROM   TREF_CLIENTE R2 (NOLOCK)
                                      WHERE  R2.NR_PROCESSO = FP.NR_PROCESSO ) ) AS CD_REFERENCIA,
         F.DT_FATURA, F.NR_NOTA_FATURA, F.DT_VENCTO_FATURA, DATEDIFF( day, F.DT_VENCTO_FATURA, L.DT_LIQUIDACAO )
  FROM   TLIQUIDACAO L (NOLOCK),
         TS_FATURA F (NOLOCK),
         TS_FATURA_PROCESSO FP (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK)
  WHERE  L.NR_PROCESSO_LIQ    = FP.NR_PROCESSO_LIQ AND
         L.NR_LIQUIDACAO_LIQ  = FP.NR_LIQUIDACAO   AND
         L.NR_PROCESSO = FP.NR_PROCESSO AND
         F.CD_UNID_NEG    = FP.CD_UNID_NEG     AND
         F.CD_PRODUTO     = FP.CD_PRODUTO      AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO  AND
         L.NR_SOLIC_FAT   = FP.NR_SOLICITACAO  AND
         FP.NR_PROCESSO   = P.NR_PROCESSO      AND
         P.CD_CLIENTE     = E.CD_EMPRESA       AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( L.IN_CANCELADO = '0' ) AND ( L.DT_LIQUIDACAO BETWEEN @dt_inicio AND @dt_fim ) )







GO
