USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_exp_bordero_exclui]( @nr_processo char(18) ) AS
  DELETE FROM TPROCESSO_EXP_BORD           WHERE NR_PROCESSO = @nr_processo
  DELETE FROM TPROCESSO_EXP_BORD_ITEM WHERE NR_PROCESSO = @nr_processo


GO
