USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*  
Procedure sp_atz_myindaia_estagio_adm alimenta as tabelas  :   
  
MYINDAIA.DBO.TESTAGIO_PROCESSO  
MYINDAIA.DBO.TFLP_IMPORT  
*/  
  
  
/* ATUALIZAO DE ESTAGIO DO PROCESSO E FOLLOWUP DE PO*/                    
CREATE PROCEDURE [sp_atz_myindaia_estagio_des2](@data int = 0) AS                    
SET NOCOUNT ON                    
/*                    
--BEGIN TRAN                    
DECLARE @data int                    
--*/                    
DECLARE                    
  @nr_processo_adm char(18),                    
  @nr_referencia char(18),                    
  @nr_item_cliente char(4),                    
  @NR_PARCIAL int,                 
  @dt_ult_alteracao datetime,                    
  @errors int,                    
  @registros int,                    
  @apCampo char(10),                    
  @cdBroker char(3),                    
  @txUpdate varchar(1024),
  @tabela varchar(100)   
                      
IF ISNULL(@data, 0) = 0 SET @data = YEAR(GETDATE())-3                    
SET @errors = 0                    
SET @registros = 0                    
PRINT 'Iniciando cópia de dados...'                    
                    
SELECT TOP 500 NR_PROCESSO_DES, NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO, MIN(AP_USUARIO) AS AP_USUARIO                    
INTO #TMP_ESTAGIO                    
FROM TATZ_MYINDAIA_ESTAGIO                     
WHERE NR_PROCESSO_ADM IS NULL                    
                    
/* Atendendo a cocorrencia 05081/07  (Denilza) excluí o ítem IW para que possam ser transferidos para a base WEB*/                    
/*  AND SUBSTRING(NR_PROCESSO_DES,5,2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')*/                    
  AND SUBSTRING(NR_PROCESSO_DES,5,2) NOT IN ('EW','FT','PO','TE','TS')                    
  --AND NR_PROCESSO_DES = '0101IM-4728-10'
  AND NR_PARCIAL IS NOT NULL    
GROUP BY NR_PROCESSO_DES, NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, CD_EMPRESA, DT_ULT_ALTERACAO                
ORDER BY AP_USUARIO, MIN(CD_ATUALIZACAO)                    
                    
--exclui os processos das tabelas de atualizao                    
DELETE EP                    
FROM TATZ_MYINDAIA_ESTAGIO EP, #TMP_ESTAGIO ED                    
WHERE ED.NR_REFERENCIA    = EP.NR_REFERENCIA                    
  AND ED.NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE                    
  AND ED.NR_PARCIAL       = EP.NR_PARCIAL
  AND ED.CD_EMPRESA       = EP.CD_EMPRESA               
                    
/***** APAGA OS REGISTROS SELECIONADOS NO MYINDAIA **************************************************************************************/                    
DELETE EP                    
FROM MYINDAIA.DBO.TESTAGIO_PROCESSO EP, #TMP_ESTAGIO ED                    
WHERE ED.NR_REFERENCIA    = EP.NR_REFERENCIA                    
  AND ED.NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE                    
  AND ED.NR_PARCIAL       = EP.NR_PARCIAL
  AND ED.CD_EMPRESA       = EP.CD_EMPRESA
                    
DELETE FI                    
FROM MYINDAIA.DBO.TFLP_IMPORT1 FI, #TMP_ESTAGIO ED                    
WHERE ED.NR_REFERENCIA    = FI.NR_REFERENCIA                    
  AND ED.NR_ITEM_CLIENTE  = FI.NR_ITEM_CLIENTE                    
  AND ED.NR_PARCIAL       = FI.NR_PARCIAL
  AND ED.CD_EMPRESA       = FI.CD_EMPRESA
 
DELETE FI                    
FROM MYINDAIA.DBO.TFLP_IMPORT2 FI, #TMP_ESTAGIO ED                    
WHERE ED.NR_REFERENCIA    = FI.NR_REFERENCIA                    
  AND ED.NR_ITEM_CLIENTE  = FI.NR_ITEM_CLIENTE                    
  AND ED.NR_PARCIAL       = FI.NR_PARCIAL
  AND ED.CD_EMPRESA       = FI.CD_EMPRESA 
                    
DELETE FE                    
FROM MYINDAIA.DBO.TFLP_ESTAGIO FE, #TMP_ESTAGIO ED                    
WHERE ED.NR_REFERENCIA    = FE.NR_REFERENCIA                    
  AND ED.NR_ITEM_CLIENTE  = FE.NR_ITEM_CLIENTE                    
  AND ED.NR_PARCIAL       = FE.NR_PARCIAL
  AND ED.CD_EMPRESA       = FE.CD_EMPRESA
                    
/***** INCLUI OS REGISTROS SELECIONADOS NO MYINDAIA *************************************************************************************/                    
--inclui os registros da tabela temporria na TESTAGIO_PROCESSO                    
INSERT INTO MYINDAIA.DBO.TESTAGIO_PROCESSO (                    
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, NR_PARCIAL, CD_EMPRESA )
SELECT DISTINCT                    
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.NR_PARCIAL, EP.CD_EMPRESA
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN TESTAGIO_PROCESSO EP  ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)                
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @data     
--verifica se ocorreram erros                    
SET @registros = @registros + @@rowcount                    
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TESTAGIO_PROCESSO'                
                    
--inclui os registros da tabela temporria na TFLP_IMPORT                    
INSERT INTO MYINDAIA.DBO.TFLP_IMPORT1 (           
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, NR_PARCIAL, CD_EMPRESA )                    
SELECT DISTINCT               
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.NR_PARCIAL, EP.CD_EMPRESA
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN TESTAGIO_PROCESSO EP  ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @data                    
--verifica se ocorreram erros                    
SET @registros = @registros + @@rowcount                  
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_IMPORT'                    
                    
INSERT INTO MYINDAIA.DBO.TFLP_IMPORT2 (           
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, NR_PARCIAL, CD_EMPRESA )                    
SELECT DISTINCT               
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.NR_PARCIAL, EP.CD_EMPRESA
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN TESTAGIO_PROCESSO EP  ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @data                    
--verifica se ocorreram erros                    
SET @registros = @registros + @@rowcount                  
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_IMPORT'   
                    
/***** FOLLOW UP DE EVENTOS DESEMBARAÇO *****/                    
DECLARE cEvento CURSOR LOCAL FOR                    
  SELECT M10_AP_CAMPO, M10_CD_BROKER                    
  FROM MYINDAIA.DBO.M10_DADOS                     
  WHERE M10_TP_DADO = '1'                    
    AND M10_CD_BROKER IN (SELECT CD_EVENTO FROM TEVENTO_ATZ )                    
    AND M10_AP_CAMPO NOT LIKE '%PO'                    
  ORDER BY M10_CD_BROKER                    
                    
OPEN cEvento                    
FETCH cEvento INTO @apCampo, @cdBroker                    
                    
WHILE @@fetch_status = 0                    
BEGIN    
  IF (SELECT COUNT(*) 
      FROM MYINDAIA.DBO.SYSOBJECTS SO, MYINDAIA.DBO.SYSCOLUMNS SC
      WHERE SO.NAME = 'TFLP_IMPORT1'
        AND SC.NAME = 'RLZ_'+@apCampo
        AND SC.ID = SO.ID) > 0         
    SET @tabela = 'TFLP_IMPORT1'
  ELSE
    SET @tabela = 'TFLP_IMPORT2'

                
  SET @txUpdate = 'UPDATE FI SET                    
    RLZ_'+@apCampo+' = FU.DT_REALIZACAO, EFT_'+@apCampo+' = FU.DT_REALIZACAO_EFETIVA, PVT_'+@apCampo+' = FU.DT_PREVISTA, IN_'+@apCampo+' = FU.IN_APLICAVEL                    
  FROM MYINDAIA.DBO.' + @tabela + ' FI                
    INNER JOIN #TMP_ESTAGIO ATZ  ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '''') = FI.CD_EMPRESA)                    
    INNER JOIN TPROCESSO PR  ON (PR.NR_PROCESSO = FI.NR_PROCESSO_DES)                    
    INNER JOIN TFOLLOWUP FU  ON (FU.NR_PROCESSO = FI.NR_PROCESSO_DES AND FU.CD_EVENTO = '''+@cdBroker+''')                    
  WHERE FI.NR_PROCESSO_ADM IS NULL                    
    AND YEAR(PR.DT_ABERTURA) >= '+CAST(@data AS char)                    
  exec(@txUpdate)                    
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_IMPORT com o evento de Desembaraço '+@cdBroker                    
  FETCH cEvento INTO @apCampo, @cdBroker                    
END                    
                    
CLOSE cEvento                    
DEALLOCATE cEvento                    
                    
                    
--Follow-Up de Desembaraço                    
INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                    
  NR_REFERENCIA, NR_ITEM_CLIENTE, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI,                    
  DT_PREVISTA, DT_REALIZACAO, IN_APLICAVEL, NR_ORDEM, TP_FOLLOWUP, NR_PARCIAL, CD_EMPRESA )
SELECT DISTINCT                    
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI,
  FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM, '1' AS TP_FOLLOWUP, EP.NR_PARCIAL, EP.CD_EMPRESA
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN TESTAGIO_PROCESSO EP  ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL AND ISNULL(ATZ.CD_EMPRESA, '') = EP.CD_EMPRESA)
  INNER JOIN TPROCESSO PR  ON ( PR.NR_PROCESSO = EP.NR_PROCESSO_DES )                  
  INNER JOIN TFOLLOWUP FP  ON ( FP.NR_PROCESSO = EP.NR_PROCESSO_DES )                    
WHERE ISNULL(PR.IN_CANCELADO, '0') = '0'                    
  AND YEAR(PR.DT_ABERTURA) >= @data                    
--verifica se ocorreram erros         
SET @registros = @registros + @@rowcount                    
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_ESTAGIO com eventos do Desembaraço'                    
/*                    
select * from myindaia.dbo.tflp_import  fe , #TMP_ESTAGIO ep where fe.nr_referencia = ep.nr_referencia and fe.nr_item_cliente = ep.nr_item_cliente and fe.dt_ult_alteracao = ep.dt_ult_alteracao                    
select * from myindaia.dbo.tflp_estagio fe , #TMP_ESTAGIO ep where fe.nr_referencia = ep.nr_referencia and fe.nr_item_cliente = ep.nr_item_cliente and fe.dt_ult_alteracao = ep.dt_ult_alteracao                    
*/                    
PRINT 'Registros atualizados: '+CAST(@registros as varchar)      

/***** APAGA OS REGISTROS ORFAOS NO MYINDAIA **************************************************************************************/                    

DELETE EP 
FROM #TMP_ESTAGIO ATZ 
  INNER JOIN MYINDAIA.DBO.TESTAGIO_PROCESSO EP  ON (EP.NR_PROCESSO_DES = ATZ.NR_PROCESSO_DES)
WHERE   RTRIM( EP.NR_PROCESSO_DES)+RTRIM( EP.NR_REFERENCIA)+ EP.NR_ITEM_CLIENTE+CONVERT(VARCHAR, EP.NR_PARCIAL)+ EP.CD_EMPRESA NOT IN
(SELECT RTRIM(EP2.NR_PROCESSO_DES)+RTRIM(EP2.NR_REFERENCIA)+EP2.NR_ITEM_CLIENTE+CONVERT(VARCHAR,EP2.NR_PARCIAL)+EP2.CD_EMPRESA
 FROM TESTAGIO_PROCESSO EP2 
 WHERE EP2.NR_PROCESSO_DES = EP.NR_PROCESSO_DES)
 
DELETE FP
FROM #TMP_ESTAGIO ATZ 
  INNER JOIN MYINDAIA.DBO.TFLP_ESTAGIO FP  ON (FP.NR_PROCESSO_DES = ATZ.NR_PROCESSO_DES)
WHERE   RTRIM( FP.NR_PROCESSO_DES)+RTRIM( FP.NR_REFERENCIA)+ FP.NR_ITEM_CLIENTE+CONVERT(VARCHAR, FP.NR_PARCIAL)+ FP.CD_EMPRESA NOT IN
(SELECT RTRIM(EP2.NR_PROCESSO_DES)+RTRIM(EP2.NR_REFERENCIA)+EP2.NR_ITEM_CLIENTE+CONVERT(VARCHAR,EP2.NR_PARCIAL)+EP2.CD_EMPRESA
 FROM TESTAGIO_PROCESSO EP2 
 WHERE EP2.NR_PROCESSO_DES = FP.NR_PROCESSO_DES) 
 
DELETE FI
FROM #TMP_ESTAGIO ATZ 
  INNER JOIN MYINDAIA.DBO.TFLP_IMPORT1 FI  ON FI.NR_PROCESSO_DES = ATZ.NR_PROCESSO_DES
WHERE   RTRIM( FI.NR_PROCESSO_DES)+RTRIM( FI.NR_REFERENCIA)+ FI.NR_ITEM_CLIENTE+CONVERT(VARCHAR, FI.NR_PARCIAL)+ FI.CD_EMPRESA NOT IN
(SELECT RTRIM(EP2.NR_PROCESSO_DES)+RTRIM(EP2.NR_REFERENCIA)+EP2.NR_ITEM_CLIENTE+CONVERT(VARCHAR,EP2.NR_PARCIAL)+EP2.CD_EMPRESA
 FROM TESTAGIO_PROCESSO EP2 
 WHERE EP2.NR_PROCESSO_DES = FI.NR_PROCESSO_DES)  
 
DELETE FI
FROM #TMP_ESTAGIO ATZ 
  INNER JOIN MYINDAIA.DBO.TFLP_IMPORT2 FI  ON FI.NR_PROCESSO_DES = ATZ.NR_PROCESSO_DES
WHERE   RTRIM( FI.NR_PROCESSO_DES)+RTRIM( FI.NR_REFERENCIA)+ FI.NR_ITEM_CLIENTE+CONVERT(VARCHAR, FI.NR_PARCIAL)+ FI.CD_EMPRESA NOT IN
(SELECT RTRIM(EP2.NR_PROCESSO_DES)+RTRIM(EP2.NR_REFERENCIA)+EP2.NR_ITEM_CLIENTE+CONVERT(VARCHAR,EP2.NR_PARCIAL)+EP2.CD_EMPRESA
 FROM TESTAGIO_PROCESSO EP2 
 WHERE EP2.NR_PROCESSO_DES = FI.NR_PROCESSO_DES)  
             
DROP TABLE #TMP_ESTAGIO                    
--ROLLBACK TRAN                    
SET NOCOUNT OFF 


GO
