USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_rel_regs] ( @nr_processo char(18), @nr_solic_fat char(6), @nr_identificador int OUTPUT ) AS     
    
/*    
SET XACT_ABORT ON    
BEGIN TRAN    
    
DECLARE @nr_identificador  int    
DECLARE @nr_processo       char(18)    
DECLARE @nr_solic_fat      char(6)    
    
SELECT @nr_processo  = '0201IA-0252-07'     
SELECT @nr_solic_fat = '080136'     
--*/    
    
DECLARE @CD_ITEM_COMISSAO  char(3)      
DECLARE @CD_ITEM_RECEB_NUM char(3)    
DECLARE @CD_ITEM_EXTOR_NUM char(3)    
DECLARE @CD_ITEM_DEVOL_NUM char(3)    
DECLARE @CD_ITEM_SALDO_CRE char(3)    
DECLARE @CD_ITEM_SALDO_DEB char(3)    
DECLARE @CD_ITEM_RECEB_SD  char(3)    
DECLARE @CD_ITEM_PAGTO_SD  char(3)    
DECLARE @CD_ITEM_EXT_RECEB char(3)    
DECLARE @CD_ITEM_EXT_PAGTO char(3)    
DECLARE @CD_ITEM_ISS       char(3)     
DECLARE @CD_ITEM_NAO_FAT   char(3)    
DECLARE @CD_ITEM_PAGO_CLI  char(3)    
DECLARE @CD_ITEM_IR        char(3)    
    
DECLARE @nr_lancamento     char(6)    
DECLARE @dt_lancamento     datetime    
DECLARE @dt_l_c            datetime    
DECLARE @nr_l_c            char(6)    
DECLARE @vl_l_c            float    
    
    
SELECT @nr_identificador = ISNULL( MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ), 0 ) + 1    
FROM TREL_REGS    
    
SELECT  @CD_ITEM_COMISSAO = CD_ITEM_COMISSAO,     
 @CD_ITEM_RECEB_NUM = CD_ITEM_RECEB_NUM,     
 @CD_ITEM_EXTOR_NUM = CD_ITEM_EXTOR_NUM,     
 @CD_ITEM_DEVOL_NUM = CD_ITEM_DEVOL_NUM,     
 @CD_ITEM_SALDO_CRE = CD_ITEM_SALDO_CRE,     
 @CD_ITEM_SALDO_DEB = CD_ITEM_SALDO_DEB,     
 @CD_ITEM_RECEB_SD = CD_ITEM_RECEB_SD,     
 @CD_ITEM_PAGTO_SD = CD_ITEM_PAGTO_SD,     
 @CD_ITEM_EXT_RECEB = CD_ITEM_EXT_RECEB,     
 @CD_ITEM_EXT_PAGTO = CD_ITEM_EXT_PAGTO,     
 @CD_ITEM_ISS = CD_ITEM_ISS,     
 @CD_ITEM_NAO_FAT = CD_ITEM_NAO_FAT,     
 @CD_ITEM_PAGO_CLI = CD_ITEM_PAGO_CLI,     
 @CD_ITEM_IR = CD_ITEM_IR    
FROM TPARAMETROS (NOLOCK)    
    
-- Cria tabela temporária #TMP_REGS    
SELECT NR_IDENTIFICADOR, NR_PROCESSO, NR_SOLIC_FAT, DT_LANCAMENTO, CD_ITEM, NM_ITEM, VL_LANC_DEBITO, VL_LANC_CREDITO, NR_LANCAMENTO = @nr_lancamento    
INTO #TMP_REGS    
FROM TREL_REGS    
WHERE 1 = 0    
    
-- Inclui Numerários    
INSERT INTO #TMP_REGS( NR_IDENTIFICADOR, NR_PROCESSO, NR_SOLIC_FAT, DT_LANCAMENTO, CD_ITEM, NM_ITEM, VL_LANC_DEBITO, VL_LANC_CREDITO, NR_LANCAMENTO )    
SELECT @nr_identificador, F.NR_PROCESSO, F.NR_SOLIC_FAT, F.DT_LANCAMENTO, F.CD_ITEM, I.NM_ITEM, 0,     
       CASE F.CD_ITEM    
         WHEN '993' THEN F.VL_ITEM * ( -1 )    
         ELSE F.VL_ITEM    
       END AS VL_ITEM, NR_LANCAMENTO    
FROM TFATURAMENTO_CC F (NOLOCK),     
     TITEM I (NOLOCK)    
WHERE F.NR_PROCESSO = @nr_processo    
AND F.NR_SOLIC_FAT = @nr_solic_fat     
AND F.CD_ITEM IN ( '991', '993' )    
AND F.CD_ITEM = I.CD_ITEM    
ORDER BY F.DT_LANCAMENTO    
    
    
-- Acerta Adiantamentos e Estornos    
DECLARE c_num CURSOR FOR    
  SELECT DT_LANCAMENTO, VL_LANC_CREDITO, NR_LANCAMENTO    
  FROM #TMP_REGS    
  WHERE CD_ITEM = '993'    
    
OPEN c_num    
FETCH c_num INTO @dt_l_c, @vl_l_c, @nr_l_c    
WHILE @@fetch_status <> -1    
BEGIN    
  DELETE FROM #TMP_REGS    
  WHERE NR_LANCAMENTO = @nr_l_c AND DT_LANCAMENTO = @dt_l_c    
    
  SELECT @nr_lancamento = MIN( NR_LANCAMENTO ), @dt_lancamento = DT_LANCAMENTO    
  FROM #TMP_REGS    
  WHERE CD_ITEM = '991'    
    AND VL_LANC_CREDITO = ( @vl_l_c * (-1) )    
  GROUP BY DT_LANCAMENTO    
    
  DELETE FROM #TMP_REGS    
  WHERE NR_LANCAMENTO = @nr_lancamento AND DT_LANCAMENTO = @dt_lancamento    
      
    
  FETCH c_num INTO @dt_l_c, @vl_l_c, @nr_l_c    
END    
CLOSE c_num    
DEALLOCATE c_num    
    
INSERT TREL_REGS ( NR_IDENTIFICADOR, NR_PROCESSO, NR_SOLIC_FAT, DT_LANCAMENTO, CD_ITEM, NM_ITEM, VL_LANC_DEBITO, VL_LANC_CREDITO )    
SELECT NR_IDENTIFICADOR, NR_PROCESSO, NR_SOLIC_FAT, DT_LANCAMENTO, CD_ITEM, NM_ITEM, VL_LANC_DEBITO, VL_LANC_CREDITO    
FROM #TMP_REGS    
    
DROP TABLE #TMP_REGS    
    
-- Inclui itens não pagos pelo cliente    
INSERT TREL_REGS ( NR_IDENTIFICADOR, NR_PROCESSO, NR_SOLIC_FAT, DT_LANCAMENTO, CD_ITEM,    
                  NM_ITEM, VL_LANC_DEBITO, VL_LANC_CREDITO )    
SELECT @nr_identificador, F.NR_PROCESSO, F.NR_SOLIC_FAT, MIN( F.DT_LANCAMENTO ) DT_LANCAMENTO,    
       F.CD_ITEM, I.NM_ITEM,    
       ROUND( SUM( CASE F.IN_RESTITUI    
                      WHEN '0' THEN ( ISNULL( F.VL_ITEM, 0 ) )    
                      WHEN '1' THEN ( ISNULL( F.VL_ITEM, 0 ) ) * (-1)    
                   END ), 2 ) VL_LANC_DEBITO, 0    
FROM TFATURAMENTO_CC F (NOLOCK),    
     TITEM I (NOLOCK)    
WHERE F.NR_PROCESSO = @nr_processo    
AND F.NR_SOLIC_FAT = @nr_solic_fat     
AND F.CD_ITEM NOT IN ( SELECT CD_ITEM FROM TFATURAMENTO_CC_CLIENTE CC (NOLOCK)     
                                  WHERE CC.NR_PROCESSO = @nr_processo AND IN_CANCELADO = '0' )  
AND F.CD_ITEM NOT IN ( @CD_ITEM_COMISSAO, @CD_ITEM_RECEB_NUM, @CD_ITEM_EXTOR_NUM, /*@CD_ITEM_DEVOL_NUM, */@CD_ITEM_SALDO_CRE,     
                               @CD_ITEM_SALDO_DEB, @CD_ITEM_RECEB_SD, @CD_ITEM_PAGTO_SD, @CD_ITEM_EXT_RECEB, @CD_ITEM_EXT_PAGTO,     
                               @CD_ITEM_ISS, @CD_ITEM_NAO_FAT, @CD_ITEM_PAGO_CLI, @CD_ITEM_IR )    
AND F.IN_CANCELADO = '0'    
AND F.CD_ITEM = I.CD_ITEM    
GROUP BY  F.NR_PROCESSO, F.NR_SOLIC_FAT, F.CD_ITEM, I.NM_ITEM     
ORDER BY F.CD_ITEM    
    
/*    
SELECT * FROM TREL_REGS WHERE NR_IDENTIFICADOR = @nr_identificador    
    
ROLLBACK TRAN    
SET XACT_ABORT OFF    
--*/    
  


GO
