USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_atz_devolucao    Script Date: 02/09/1999 08:58:57 AM ******/
CREATE PROCEDURE [sp_atz_devolucao] ( @nr_processo char(18), @nr_devolucao char(3) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_devolucao char(3)
SELECT @nr_processo = '0101DP-1060-01'
SELECT @nr_devolucao = '005'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @vl_saldo_processo  numeric(14,2)
DECLARE @vl_devolucao       float
DECLARE @dt_devolucao       datetime
DECLARE @cd_item_devol_num  char(3)
DECLARE @cd_favorecido      char(5)
DECLARE @nr_ult_lanc        int
DECLARE @ult_lanc           char(3)
DECLARE @cd_banco           char(3)
DECLARE @cd_usuario         char(4)
DECLARE @in_cancelado       char(1)
DECLARE @nr_solic_ch        char(3)
DECLARE @in_solicitado      char(1) 

SELECT @cd_favorecido = F.CD_FAVORECIDO
FROM   TFAVORECIDO F, TEMPRESA_NAC E, TPROCESSO P
WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
       E.CGC_EMPRESA = F.CGC_EMPRESA AND
       P.NR_PROCESSO = @nr_processo

IF ISNULL( @cd_favorecido, '' ) = '' RETURN (1)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

-- Atualiza Itens do Recebimento
UPDATE TRECEBIMENTO_ITEM_RECEB
SET    VL_DEVOLVIDO = ISNULL(
       ( SELECT SUM( CONVERT( numeric(14,2), VL_DEVOLVIDO ) )
         FROM   TDEVOLUCAO_ITENS I,
                TDEVOLUCAO D
         WHERE  D.NR_PROCESSO    = I.NR_PROCESSO    AND
                D.NR_DEVOLUCAO   = I.NR_DEVOLUCAO   AND
                I.NR_PROCESSO    = R.NR_PROCESSO    AND
                I.NR_RECEBIMENTO = R.NR_RECEBIMENTO AND
                I.NR_LANC_RECEB  = R.NR_LANC_RECEB  AND
                I.CD_ITEM        = R.CD_ITEM     AND
                D.IN_CANCELADO   = '0' ), 0 )
FROM   TRECEBIMENTO_ITEM_RECEB R
WHERE  NR_PROCESSO = @nr_processo 

-- Atualiza Recebimento
UPDATE TRECEBIMENTO
SET    VL_DEVOLVIDO = ROUND( ISNULL(
       ( SELECT SUM( ISNULL( CONVERT( numeric(14,2), VL_DEVOLVIDO) ,0 ) )
         FROM   TRECEBIMENTO_ITEM_RECEB I
         WHERE  I.NR_PROCESSO    = R.NR_PROCESSO AND
                I.NR_RECEBIMENTO = R.NR_RECEBIMENTO), 0), 2)
FROM   TRECEBIMENTO R
WHERE  NR_PROCESSO = @nr_processo

-- Atualiza Itens do Numerario
UPDATE TNUMERARIO_ITEM_SOLIC
SET    VL_RECEBIDO = ROUND( ISNULL(
       ( SELECT SUM( ISNULL( CONVERT( numeric(14,2), R.VL_RECEBIDO ), 0 ) -
                     ISNULL( CONVERT( numeric(14,2), R.VL_DEVOLVIDO ), 0 ) )
         FROM   TRECEBIMENTO_ITEM_RECEB R
         WHERE  R.NR_PROCESSO    = S.NR_PROCESSO    AND
                R.NR_SOLICITACAO = S.NR_SOLICITACAO AND
                R.CD_ITEM        = S.CD_ITEM      AND
                R.IN_CANCELADO   = '0' ), 0 ), 2 )
FROM   TNUMERARIO_ITEM_SOLIC S
WHERE  NR_PROCESSO = @nr_processo 

UPDATE TNUMERARIO_ITEM_SOLIC
SET    CD_STATUS = CASE 
         WHEN ( VL_RECEBIDO >= VL_SOLICITADO ) THEN 'B'
         ELSE 'A'
         END
WHERE  NR_PROCESSO = @nr_processo AND
       CD_STATUS IN ('A','B')

-- Atualiza Numerario
UPDATE TNUMERARIO
SET    VL_RECEBIDO = ROUND( ISNULL(
       ( SELECT SUM( CONVERT( numeric(14,2), VL_RECEBIDO ) )
         FROM   TNUMERARIO_ITEM_SOLIC S
         WHERE  S.NR_PROCESSO    = N.NR_PROCESSO AND
                S.NR_SOLICITACAO = N.NR_SOLICITACAO ), 0 ), 2 )
FROM   TNUMERARIO N
WHERE  NR_PROCESSO = @nr_processo 
UPDATE TNUMERARIO
SET    CD_STATUS = CASE 
         WHEN ( VL_RECEBIDO >= VL_SOLICITADO ) THEN 'B'
         ELSE 'A'
       END
WHERE  NR_PROCESSO = @nr_processo AND
       CD_STATUS IN ('A','B')

-- Exclui Item com devolucao = 0
DELETE TDEVOLUCAO_ITENS
WHERE  NR_PROCESSO  = @nr_processo AND
       NR_DEVOLUCAO = @nr_devolucao AND
       ISNULL( VL_DEVOLVIDO, 0 ) = 0

-- Atualiza Saldos
UPDATE TNUMERARIO_SALDO_POR_ITEM 
SET    VL_RECEBIDO = ROUND( ISNULL(
       ( SELECT SUM( ISNULL( CONVERT( numeric(14,2), R.VL_RECEBIDO ), 0 ) -
                     ISNULL( CONVERT( numeric(14,2), R.VL_DEVOLVIDO ), 0 ) ) 
         FROM   TRECEBIMENTO_ITEM_RECEB R
         WHERE  R.NR_PROCESSO = S.NR_PROCESSO AND
                R.CD_ITEM = S.CD_ITEM         AND
                R.IN_CANCELADO = '0' ), 0 ), 2 )
FROM   TNUMERARIO_SALDO_POR_ITEM S
WHERE  S.NR_PROCESSO = @nr_processo 

UPDATE TNUMERARIO_SALDO_POR_ITEM
SET    VL_SALDO_ITEM = ROUND( ( ISNULL( CONVERT( numeric(14,2), VL_RECEBIDO ), 0 ) - 
                                ISNULL( CONVERT( numeric(14,2), VL_UTILIZADO ), 0 ) ), 2 )
WHERE  NR_PROCESSO = @nr_processo 

SELECT @vl_saldo_processo = SUM( ISNULL( CONVERT( numeric(14,2), VL_SALDO_ITEM ), 0 ) )
FROM   TNUMERARIO_SALDO_POR_ITEM
WHERE  NR_PROCESSO = @nr_processo 

UPDATE TNUMERARIO_SALDO_POR_ITEM
SET    VL_SALDO_PROCESSO = @vl_saldo_processo
WHERE  NR_PROCESSO       = @nr_processo

-- Libera automático???
IF EXISTS( SELECT *
           FROM   TEMPRESA_NAC E, TPROCESSO P
           WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
                  P.NR_PROCESSO = @nr_processo AND
                  IN_LIBERA_DI = '0' )
BEGIN
  UPDATE TPROCESSO 
  SET    IN_DI_LIBERADA = '0'
  WHERE  NR_PROCESSO = @nr_processo
END
ELSE
BEGIN
  -- Atualiza DI Liberada
  IF ( SELECT COUNT(*)
       FROM   TNUMERARIO_ITEM_SOLIC N, TNUMERARIO_SALDO_POR_ITEM S, TITEM I
       WHERE  N.NR_PROCESSO = S.NR_PROCESSO AND
              N.CD_ITEM = S.CD_ITEM AND
              N.TP_DESTINO IN ( '2', '3' ) AND
              S.CD_ITEM = I.CD_ITEM AND
              S.VL_RECEBIDO < S.VL_SOLICITADO AND
              I.IN_ITEM_DI = '1' AND
              S.NR_PROCESSO = @nr_processo ) > 0
    UPDATE TPROCESSO 
    SET    IN_DI_LIBERADA = '0'
    WHERE  NR_PROCESSO = @nr_processo
  ELSE
    UPDATE TPROCESSO 
    SET    IN_DI_LIBERADA = '1'
    WHERE  NR_PROCESSO = @nr_processo
END

-- Gerar cheque
SELECT @cd_item_devol_num = CD_ITEM_DEVOL_NUM 
FROM   TPARAMETROS

SELECT @dt_devolucao = DT_DEVOLUCAO,
       @in_cancelado = IN_CANCELADO,
       @nr_solic_ch  = NR_SOLIC_CH
FROM   TDEVOLUCAO
WHERE  NR_PROCESSO = @nr_processo AND
       NR_DEVOLUCAO = @nr_devolucao
  
IF @in_cancelado = '0'
BEGIN
  SELECT @vl_devolucao = SUM( ISNULL( VL_DEVOLVIDO, 0 ) )
  FROM   TDEVOLUCAO_ITENS
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_DEVOLUCAO = @nr_devolucao

  SELECT @cd_banco = ISNULL( CD_BANCO, '' )
  FROM   TRECEBIMENTO
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_RECEBIMENTO = ( SELECT MAX( NR_RECEBIMENTO ) 
                            FROM   TDEVOLUCAO_ITENS 
                            WHERE  NR_PROCESSO = @nr_processo AND NR_DEVOLUCAO = @nr_devolucao )

  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000' ) ) ) + 1
  FROM   TSOLIC_PAGTO 
  WHERE  NR_PROCESSO = @nr_processo
  SELECT @ult_lanc = RIGHT( '000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 3 )

  IF @cd_item_devol_num = ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS )
    SELECT @in_solicitado = '0' 
  ELSE
    SELECT @in_solicitado = '1'  

  INSERT TSOLIC_PAGTO ( NR_PROCESSO, CD_ITEM, VL_PAGTO, DT_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO, HM_SOLIC_PAGTO, IN_CALCULADO, CD_FAVORECIDO, CD_BANCO, CD_USUARIO_SOLIC, CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, NR_LANCAMENTO )
  VALUES( @nr_processo, @cd_item_devol_num, @vl_devolucao, @dt_devolucao, '0', @in_solicitado, '0', @dt_devolucao, GETDATE(), '0', @cd_favorecido, @cd_banco, @cd_usuario, '0', '2', '0', @ult_lanc )

  -- Atualiza Devolução
  UPDATE TDEVOLUCAO
  SET    DT_SOLIC_CH = CONVERT( char(10), @dt_devolucao, 103 ),
         NR_SOLIC_CH = @ult_lanc
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_DEVOLUCAO = @nr_devolucao
END
ELSE
BEGIN
  EXEC sp_cancela_item_solic_pagto @nr_processo, @nr_solic_ch, @cd_item_devol_num
END



GO
