USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_contabiliza_ctaapagar]( @cd_unid_neg char(2), @nr_contab char(4) output ) AS

DECLARE @cd_coligada            char(2)
DECLARE @cd_ct_favorecido	char(10)
DECLARE @cd_ct_ctaapagar	char(10)
DECLARE @cd_ct_ir		char(10)
DECLARE @cd_ct_inss		char(10)
DECLARE @cd_ct_credora		char(10)
DECLARE @cd_ct_devedora		char(10)
DECLARE @cd_usuario		char(4)
DECLARE @nr_lancamento		char(6)DECLARE @dt_ctaapagar		datetime
DECLARE @nr_ctaapagar		char(3)
DECLARE @vl_ir			float
DECLARE @vl_inss		float
DECLARE @nm_hist		varchar(180) 
DECLARE @nm_historico		varchar(180) 
DECLARE @nm_hist_aux		varchar(180) 
DECLARE @cd_lt_contab		char(4)
DECLARE @cd_lt_contab_ext 	char(4)
DECLARE @in_cancelado		char(1)
DECLARE @cd_filial		char(3)
DECLARE @cd_ct_custo		char(3)
DECLARE @vl_lancamento		float
DECLARE @cd_ct_contabil		char(10) 
DECLARE @cd_ct_gerencial	char(4) 
DECLARE @vl_gerencial		float
DECLARE @nm_fav			varchar(10)
DECLARE @cnpj_cpf_fav		varchar(30)
DECLARE @dt_vencimento		varchar(10)

SELECT @cd_ct_ctaapagar = CD_CT_CTAAPAGAR,
       @cd_ct_ir        = CD_CT_IR,
       @cd_ct_inss      = CD_CT_INSS
FROM   TPARAMETROS

SELECT @cd_coligada = '01'
SELECT @cd_usuario = CD_USUARIO 
FROM   TUSUARIO (TABLOCK HOLDLOCK)
WHERE  AP_USUARIO  = suser_name()

SELECT @nr_contab = RIGHT('0000' + CONVERT( varchar, ( MAX( CONVERT( int, NR_CONTAB ) ) + 1 ) ), 4 )
FROM   TCONTABILIZACAO
WHERE  CD_COLIGADA = @cd_coligada

INSERT TCONTABILIZACAO 
VALUES ( @cd_coligada, @nr_contab, GETDATE(), @cd_usuario, 'P', GETDATE(), NULL, NULL, NULL, NULL )

SELECT @nr_lancamento = '000000'

--***** CONTAS *****--
DECLARE c_contas CURSOR FOR
SELECT C.DT_CTAAPAGAR,
       C.NR_CTAAPAGAR,
       ISNULL( C.VL_IR, 0 ) VL_IR, 
       ISNULL( C.VL_INSS, 0 ) VL_INSS, 
       C.NM_HISTORICO,
       C.CD_LT_CONTAB, 
       C.CD_LT_CONTAB_EXT,
       C.IN_CANCELADO,
       F.AP_FAVORECIDO,
       CASE CD_TIPO_PESSOA
         WHEN '1' THEN 
                  ( 'CNPJ - ' + 
                    SUBSTRING( F.CGC_EMPRESA, 1, 2 ) + '.' + 
                    SUBSTRING( F.CGC_EMPRESA, 3, 3 ) + '.' +
                    SUBSTRING( F.CGC_EMPRESA, 6, 3 ) + '/' +                     SUBSTRING( F.CGC_EMPRESA, 9, 4 ) + '-' + 
                    SUBSTRING( F.CGC_EMPRESA, 13, 2 ) )
         ELSE     ( 'CPF - ' + 
                    SUBSTRING( F.CPF_EMPRESA, 1, 3 ) + '.' +
                    SUBSTRING( F.CPF_EMPRESA, 4, 3 ) + '.' +                    SUBSTRING( F.CPF_EMPRESA, 7, 3 ) + '-' +
                    SUBSTRING( F.CPF_EMPRESA, 10, 2 ) )
       END CNPJ_CPF_FAV,
       CONVERT( char(10), C.DT_VENCIMENTO, 103 ),
       F.CD_CT_CONTABIL
FROM   TCTAAPAGAR C
LEFT OUTER JOIN TFAVORECIDO F
  ON   ( C.CD_FORNECEDOR = F.CD_FAVORECIDO )
WHERE  C.CD_UNID_NEG = @cd_unid_neg AND
       C.IN_DISTRIBUICAO = '1' AND
       C.IN_CONTABILIZADO = '0' 

OPEN c_contas
FETCH c_contas INTO @dt_ctaapagar, @nr_ctaapagar, @vl_ir, @vl_inss, @nm_hist, 
		    @cd_lt_contab, @cd_lt_contab_ext, @in_cancelado, @nm_fav,
                    @cnpj_cpf_fav, @dt_vencimento, @cd_ct_favorecido
WHILE @@fetch_status <> -1
BEGIN
  --***** LANCAMENTOS *****--
  SELECT @nm_historico = @nm_hist + ' - ' + @nm_fav + ' - ' + @cnpj_cpf_fav + 
                         ' - VENC. ' + @dt_vencimento    

  DECLARE c_lanc CURSOR FOR
    SELECT CD_CT_CONTABIL, CD_FILIAL, CD_CT_CUSTO, VL_LANCAMENTO 
    FROM   TCTAAPAGAR_LANC
    WHERE  CD_UNID_NEG  = @cd_unid_neg AND
	   DT_CTAAPAGAR = @dt_ctaapagar AND	   NR_CTAAPAGAR = @nr_ctaapagar AND
           SUBSTRING(CD_CT_CONTABIL, 1, 1) <> '1' AND
           SUBSTRING(CD_CT_CONTABIL, 1, 1) <> '2'
  OPEN c_lanc
  FETCH c_lanc INTO @cd_ct_contabil, @cd_filial, @cd_ct_custo, @vl_lancamento
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @nr_lancamento = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 6 )

    IF @in_cancelado = '0' 
    BEGIN
      SELECT @cd_ct_credora  = @cd_ct_favorecido --@cd_ct_ctaapagar
      SELECT @cd_ct_devedora = @cd_ct_contabil
    END
    ELSE
    BEGIN
      SELECT @cd_ct_credora  = @cd_ct_contabil
      SELECT @cd_ct_devedora = @cd_ct_favorecido --@cd_ct_ctaapagar
      SELECT @nm_historico   = 'ESTORNO/' + @nm_historico
    END

    INSERT TCONTABILIZACAO_LANC     VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_devedora, @cd_ct_credora, @vl_lancamento, 
             NULL, @nm_historico, @cd_filial, @cd_ct_custo, @dt_ctaapagar )

    --***** GERENCIAL *****--
    DECLARE c_ger CURSOR FOR
      SELECT CD_CT_GERENCIAL, 
	     VL_LANCAMENTO VL_GERENCIAL
      FROM   TCTAAPAGAR_GER
      WHERE  CD_UNID_NEG    = @cd_unid_neg    AND	     DT_CTAAPAGAR   = @dt_ctaapagar   AND
	     NR_CTAAPAGAR   = @nr_ctaapagar   AND
	     CD_CT_CONTABIL = @cd_ct_contabil AND
             CD_FILIAL      = @cd_filial      AND
             CD_CT_CUSTO    = @cd_ct_custo
    OPEN c_ger
    FETCH c_ger INTO @cd_ct_gerencial, @vl_gerencial
    WHILE @@fetch_status <> -1
    BEGIN
      IF SUBSTRING( @cd_ct_devedora, 1, 1 ) IN ( '3', '4' ) 
      BEGIN
        INSERT INTO TCONTABILIZACAO_GERENCIAL
        VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_gerencial )      END
      IF SUBSTRING( @cd_ct_credora, 1, 1) IN ( '3', '4' ) 
      BEGIN        SELECT @vl_gerencial = @vl_gerencial * (-1)        INSERT INTO TCONTABILIZACAO_GERENCIAL
        VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_gerencial )      END

      FETCH c_ger INTO @cd_ct_gerencial, @vl_gerencial
    END
    --***** FIM GERENCIAL *****--

    CLOSE c_ger
    DEALLOCATE c_ger

    FETCH c_lanc INTO @cd_ct_contabil, @cd_filial, @cd_ct_custo, @vl_lancamento
  END
  --***** FIM LANCAMENTOS *****--

  CLOSE c_lanc
  DEALLOCATE c_lanc

  --** IR **--
  IF @vl_ir > 0
  BEGIN
    SELECT @nr_lancamento = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 6 )

    IF @in_cancelado = '0' 
    BEGIN
      SELECT @cd_ct_credora  = @cd_ct_ir
      SELECT @cd_ct_devedora = @cd_ct_favorecido --@cd_ct_ctaapagar
    END
    ELSE
    BEGIN
      SELECT @cd_ct_credora  = @cd_ct_favorecido --@cd_ct_ctaapagar
      SELECT @cd_ct_devedora = @cd_ct_ir
      SELECT @nm_historico   = 'ESTORNO/' + @nm_historico
    END

    SELECT @nm_hist_aux = 'IR / ' + @nm_historico

    INSERT TCONTABILIZACAO_LANC     VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_devedora, @cd_ct_credora, @vl_ir, 
             NULL, @nm_hist_aux, '001', NULL, @dt_ctaapagar  )
  END

  --** INSS **--
  IF @vl_inss > 0
  BEGIN
    SELECT @nr_lancamento = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 6 )

    IF @in_cancelado = '0' 
    BEGIN
      SELECT @cd_ct_credora  = @cd_ct_inss
      SELECT @cd_ct_devedora = @cd_ct_favorecido --@cd_ct_ctaapagar
    END
    ELSE
    BEGIN
      SELECT @cd_ct_credora  = @cd_ct_favorecido --@cd_ct_ctaapagar
      SELECT @cd_ct_devedora = @cd_ct_inss
      SELECT @nm_historico   = 'ESTORNO/' + @nm_historico
    END

    SELECT @nm_hist_aux = 'INSS / ' + @nm_historico

    INSERT TCONTABILIZACAO_LANC     VALUES ( @cd_coligada, @nr_contab, @nr_lancamento, @cd_ct_devedora, @cd_ct_credora, @vl_inss, 
             NULL, @nm_hist_aux, '001', NULL, @dt_ctaapagar )
  END

  --** ATUALIZA CONTAS **--
  IF @in_cancelado = '0'
    UPDATE TCTAAPAGAR 
    SET    IN_CONTABILIZADO = '1',
	   CD_LT_CONTAB     = @nr_contab
    WHERE CD_UNID_NEG  = @cd_unid_neg  AND
          DT_CTAAPAGAR = @dt_ctaapagar AND
          NR_CTAAPAGAR = @nr_ctaapagar
  ELSE
    UPDATE TCTAAPAGAR 
    SET    IN_CONTABILIZADO = '1',
	   CD_LT_CONTAB_EXT = @nr_contab
    WHERE CD_UNID_NEG  = @cd_unid_neg  AND
          DT_CTAAPAGAR = @dt_ctaapagar AND
          NR_CTAAPAGAR = @nr_ctaapagar

FETCH c_contas INTO @dt_ctaapagar, @nr_ctaapagar, @vl_ir, @vl_inss, @nm_hist, 
		    @cd_lt_contab, @cd_lt_contab_ext, @in_cancelado, @nm_fav,
                    @cnpj_cpf_fav, @dt_vencimento, @cd_ct_favorecido
END
--***** FIM CONTAS *****--
CLOSE c_contas
DEALLOCATE c_contas


GO
