USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [sp_rel_est_volumes_mod2]  ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                          @cd_agente char(4), @dt_ini datetime, @dt_fim datetime, @in_cntr char(1),
                                          @in_carga_solta char(1), @nr_identificador int output ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_agente char(4)
DECLARE @dt_ini datetime
DECLARE @dt_fim datetime
DECLARE @in_cntr char(1)
DECLARE @in_carga_solta char(1)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = 'X' 
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_agente = 'X'
SELECT @dt_ini = CONVERT( datetime, '01/01/2006', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/12/2006', 103 )
SELECT @in_cntr = '1'
SELECT @in_carga_solta = '1'

--*/

SET NOCOUNT ON

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_EST_VOLUMES_MOD2 (TABLOCK HOLDLOCK)

IF @in_cntr = '1' 
BEGIN
  INSERT TREL_EST_VOLUMES_MOD2 ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NM_VOLUME, CD_AGENTE, CD_CLIENTE, 
	 CD_SERVICO, CD_TRANSPORTADOR, CD_ARMAZEM_DESCARGA, CD_ARMAZEM_ATRACACAO, DT_DESEMB, 
	 DT_ENVIO_NF_TRANSP, TP_FRETE, CD_MOEDA_FRETE, VL_QTDE, VL_FRETE_MNEG, VL_FRETE_MN, VL_PESO_BRUTO, 
	 VL_CIF_DOLAR, VL_CIF_MN, CD_MOEDA_MLE, VL_MLE_MNEG, VL_MLE_MN, NR_SEQUENCIA, CD_REFERENCIA, 
	 CD_AREA, VL_ALIQUOTA_II, VL_II_MN, VL_ALIQUOTA_IPI, VL_IPI_MN, CD_CANAL, DT_CHEGADA_NAVIO, DT_REGISTRO,
         DT_DESEMBARACO, DT_LIB_NF_TRANSP, CD_REGIME_TRIBUTAR, NR_ADICAO, DT_PRES_CARGA, CD_PAIS_ORIG)
    SELECT DISTINCT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, ISNULL( T.NM_TP_CNTR, '' ) AS NM_VOLUME, MAX( P.CD_AGENTE ) AS CD_AGENTE, 
           MAX( P.CD_CLIENTE ) AS CD_CLIENTE, CSe.CD_SERVICO,           
           MAX( ISNULL( P.CD_TRANSPORTADOR, '' ) ), 
           MAX( ISNULL( P.CD_ARMAZEM_DESCARGA, '' ) ),
           MAX( ISNULL( P.CD_ARMAZEM_ATRACACAO, '' ) ),
           ( SELECT DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) ) AND
                    IN_APLICAVEL = '1' ) AS DT_DESEMB, 
           ( SELECT DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS (NOLOCK) ) AND
                    IN_APLICAVEL = '1' ) AS DT_NF_TRANSP,
           MAX( ISNULL( P.TP_FRETE, '' ) ) AS TP_FRETE, MAX( P.CD_MOEDA_FRETE ) AS CD_MOEDA_FRETE, 
           COUNT( ISNULL( C.TP_CNTR, '' ) ) AS VL_QTDE, 
           MAX(
           CASE P.TP_FRETE
              WHEN '0' THEN ISNULL( VL_FRETE_COLLECT_MNEG, 0 )
              WHEN '1' THEN ISNULL( VL_FRETE_PREPAID_MNEG, 0 )
           END ) AS VL_FRETE_MNEG,
           MAX( ISNULL( P.VL_FRETE_MN, 0 ) ) AS VL_FRETE_MN,
           CASE P.CD_PRODUTO
             WHEN '01' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '02' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
             WHEN '03' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '10' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
           END AS VL_PESO_BRUTO,
           P.VL_CIF_DOLAR, P.VL_CIF_MN, 
           MAX( P.CD_MOEDA_MLE ), MAX( P.VL_MLE_MNEG ), MAX( P.VL_MLE_MN ), RC.NR_SEQUENCIA, RC.CD_REFERENCIA, RC.CD_AREA, 
            '0', P.VL_II_MN, '0', P.VL_IPI_MN, P.CD_CANAL, F.DT_REALIZACAO AS DT_CHEGADA_NAVIO, 
           (SELECT FL.DT_REALIZACAO FROM TFOLLOWUP FL (NOLOCK)
            WHERE FL.NR_PROCESSO = F.NR_PROCESSO AND 
              CD_EVENTO = (SELECT CD_EV_REG_DI FROM TPARAMETROS (NOLOCK))) AS DT_REGISTRO,
           (SELECT FL.DT_REALIZACAO FROM TFOLLOWUP FL (NOLOCK)
            WHERE FL.NR_PROCESSO = F.NR_PROCESSO AND 
              CD_EVENTO = (SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK))) AS DT_DESEMBARACO,
           (SELECT FL.DT_REALIZACAO FROM TFOLLOWUP FL (NOLOCK)
            WHERE FL.NR_PROCESSO = F.NR_PROCESSO AND 
              CD_EVENTO = (SELECT CD_EV_NF_TRANSP FROM TPARAMETROS (NOLOCK))) AS DT_LIB_NF_TRANSP, A.CD_REGIME_TRIBUTAR, A.NR_ADICAO,
           (SELECT FL.DT_REALIZACAO FROM TFOLLOWUP FL (NOLOCK)
            WHERE FL.NR_PROCESSO = F.NR_PROCESSO AND 
              CD_EVENTO = (SELECT CD_EV_PRES_CARGA FROM TPARAMETROS (NOLOCK))) AS DT_PRES_CARGA,
           ISNULL(A.CD_PAIS_ORIG_MERC, P.CD_PAIS_ORIGEM) AS CD_PAIS_ORIG
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC EN (NOLOCK), TDECLARACAO_IMPORTACAO DI (NOLOCK),
           TTP_CNTR T (NOLOCK), TPROCESSO_EXP EX (NOLOCK), TFOLLOWUP F (NOLOCK), TCLIENTE_SERVICO CSe (NOLOCK), 
           TREF_CLIENTE RC (NOLOCK), TADICAO_DE_IMPORTACAO A (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
	   F.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_CLIENTE = EN.CD_EMPRESA AND
           P.NR_PROCESSO *= DI.NR_PROCESSO AND
           P.NR_PROCESSO *= EX.NR_PROCESSO AND
           C.TP_CNTR = T.TP_CNTR AND
	   P.CD_UNID_NEG = CSe.CD_UNID_NEG AND
           P.CD_PRODUTO = CSe.CD_PRODUTO AND
           EN.CD_EMPRESA = CSe.CD_CLIENTE AND
	   CSe.CD_SERVICO = F.CD_SERVICO AND
	   P.NR_PROCESSO = RC.NR_PROCESSO AND
	   A.NR_PROCESSO = P.NR_PROCESSO AND
           P.IN_CANCELADO = '0' AND
           ISNULL( C.TP_CNTR, '' ) NOT IN ( '', '01' ) AND
           ISNULL( P.TP_FRETE, '' ) <> '' AND
           ISNULL( P.CD_EMP_EST, '' ) <> '' AND
           ISNULL( P.CD_AGENTE, '' ) <> '' AND
           ISNULL( P.CD_LOCAL_EMBARQUE, '' ) <> '' AND
           ISNULL( P.CD_MOEDA_FRETE, '' ) <> '' AND
           @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
           @cd_produto IN ( P.CD_PRODUTO, 'X' )AND
           @cd_agente IN ( P.CD_AGENTE, 'X' ) AND
           @cd_grupo IN ( EN.CD_GRUPO, 'X' ) AND
           @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
             F.CD_EVENTO = (SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
	     F.DT_REALIZACAO BETWEEN @dt_ini AND @dt_fim AND
	     CSE.IN_REL_VOL_MOD2 = '1'
    GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, ISNULL( T.NM_TP_CNTR, '' ),
             P.VL_CIF_DOLAR, P.VL_CIF_MN, A.CD_PAIS_ORIG_MERC, P.CD_PAIS_ORIGEM, P.CD_PAIS_DESTINO, RC.CD_REFERENCIA, RC.CD_AREA, P.VL_II_MN, P.VL_IPI_MN,
	     P.CD_CANAL, F.DT_REALIZACAO, F.NR_PROCESSO, RC.NR_SEQUENCIA, CSe.CD_SERVICO, A.CD_REGIME_TRIBUTAR, A.NR_ADICAO
    ORDER BY P.NR_PROCESSO
END

IF @in_carga_solta = '1'
BEGIN
  INSERT TREL_EST_VOLUMES_MOD2 ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NM_VOLUME, CD_AGENTE, CD_CLIENTE, 
	 CD_SERVICO, CD_TRANSPORTADOR, CD_ARMAZEM_DESCARGA, CD_ARMAZEM_ATRACACAO, DT_DESEMB, 
	 DT_ENVIO_NF_TRANSP, TP_FRETE, CD_MOEDA_FRETE, VL_QTDE, VL_FRETE_MNEG, VL_FRETE_MN, VL_PESO_BRUTO, 
	 VL_CIF_DOLAR, VL_CIF_MN, CD_MOEDA_MLE, VL_MLE_MNEG, VL_MLE_MN, NR_SEQUENCIA, CD_REFERENCIA, 
	 CD_AREA, VL_ALIQUOTA_II, VL_II_MN, VL_ALIQUOTA_IPI, VL_IPI_MN, CD_CANAL, DT_CHEGADA_NAVIO, DT_REGISTRO, DT_DESEMBARACO,
         DT_LIB_NF_TRANSP, CD_REGIME_TRIBUTAR, NR_ADICAO, DT_PRES_CARGA, CD_PAIS_ORIG)
    SELECT DISTINCT  @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, CS.NR_PROCESSO, ISNULL( CS.NM_ESPECIE, '' ) AS NM_VOLUME, MAX( P.CD_AGENTE ) AS CD_AGENTE, 
           MAX( P.CD_CLIENTE ) AS CD_CLIENTE, CSe.CD_SERVICO, 
           MAX( ISNULL( P.CD_TRANSPORTADOR, '' ) ), 
           MAX( ISNULL( P.CD_ARMAZEM_DESCARGA, '' ) ),
           MAX( ISNULL( P.CD_ARMAZEM_ATRACACAO, '' ) ),
           ( SELECT DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = CS.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK)) AND
                    IN_APLICAVEL = '1' ) AS DT_DESEMB, 
           ( SELECT DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = CS.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS (NOLOCK)) AND
                    IN_APLICAVEL = '1' ) AS DT_EV_NF_TRANSP, 
           MAX( ISNULL( P.TP_FRETE, '' ) ) AS TP_FRETE, MAX( P.CD_MOEDA_FRETE ) AS CD_MOEDA_FRETE, 
           COUNT( ISNULL( CS.NM_ESPECIE, '' ) ) AS VL_QTDE,
           MAX(
           CASE P.TP_FRETE
              WHEN '0' THEN ISNULL( VL_FRETE_COLLECT_MNEG, 0 )
              WHEN '1' THEN ISNULL( VL_FRETE_PREPAID_MNEG, 0 )
           END ) AS VL_FRETE_MNEG,
           MAX( ISNULL( P.VL_FRETE_MN, 0 ) ) AS VL_FRETE_MN,
           CASE P.CD_PRODUTO
             WHEN '01' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '02' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
             WHEN '03' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '10' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
           END AS VL_PESO_BRUTO,
           P.VL_CIF_DOLAR, P.VL_CIF_MN, MAX( P.CD_MOEDA_MLE ), 
	   MAX( P.VL_MLE_MNEG ), MAX( P.VL_MLE_MN ), RC.NR_SEQUENCIA, RC.CD_REFERENCIA, RC.CD_AREA, 
	   '0', P.VL_II_MN, '0', P.VL_IPI_MN, P.CD_CANAL, F.DT_REALIZACAO AS DT_CHEGADA_NAVIO, 
           (SELECT FL.DT_REALIZACAO FROM TFOLLOWUP FL (NOLOCK)
            WHERE FL.NR_PROCESSO = F.NR_PROCESSO AND 
              CD_EVENTO = (SELECT CD_EV_REG_DI FROM TPARAMETROS (NOLOCK))) AS DT_REGISTRO,
           (SELECT FL.DT_REALIZACAO FROM TFOLLOWUP FL (NOLOCK)
            WHERE FL.NR_PROCESSO = F.NR_PROCESSO AND 
              CD_EVENTO = (SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK))) AS DT_DESEMBARACO,
           (SELECT FL.DT_REALIZACAO FROM TFOLLOWUP FL (NOLOCK)
            WHERE FL.NR_PROCESSO = F.NR_PROCESSO AND 
              CD_EVENTO = (SELECT CD_EV_NF_TRANSP FROM TPARAMETROS (NOLOCK))) AS DT_LIB_NF_TRANSP, A.CD_REGIME_TRIBUTAR, A.NR_ADICAO,
           (SELECT FL.DT_REALIZACAO FROM TFOLLOWUP FL (NOLOCK)
            WHERE FL.NR_PROCESSO = F.NR_PROCESSO AND 
              CD_EVENTO = (SELECT CD_EV_PRES_CARGA FROM TPARAMETROS (NOLOCK))) AS DT_PRES_CARGA,
           ISNULL(A.CD_PAIS_ORIG_MERC, P.CD_PAIS_ORIGEM) AS CD_PAIS_ORIG
    FROM   TPROCESSO P (NOLOCK), TEMPRESA_NAC EN (NOLOCK), TDECLARACAO_IMPORTACAO DI (NOLOCK), TPROCESSO_CARGA_SOLTA CS (NOLOCK),
           TPROCESSO_EXP EX (NOLOCK), TFOLLOWUP F (NOLOCK), TCLIENTE_SERVICO CSe (NOLOCK), TREF_CLIENTE RC (NOLOCK),
           TADICAO_DE_IMPORTACAO A (NOLOCK)
    WHERE  CS.NR_PROCESSO IN ( SELECT C.NR_PROCESSO
                               FROM   TPROCESSO_CNTR C (NOLOCK)
                               WHERE  ISNULL( C.TP_CNTR, '' ) IN ( '', '01' ) ) AND
	   F.NR_PROCESSO = P.NR_PROCESSO AND
           CS.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_CLIENTE = EN.CD_EMPRESA AND
           P.NR_PROCESSO *= DI.NR_PROCESSO AND
           P.NR_PROCESSO *= EX.NR_PROCESSO AND
	   P.CD_UNID_NEG = CSe.CD_UNID_NEG AND
           P.CD_PRODUTO = CSe.CD_PRODUTO AND
           EN.CD_EMPRESA = CSe.CD_CLIENTE AND
	   CSe.CD_SERVICO = F.CD_SERVICO AND
           P.IN_CANCELADO = '0' AND
	   P.NR_PROCESSO = RC.NR_PROCESSO AND
	   A.NR_PROCESSO = P.NR_PROCESSO AND
           ISNULL( P.TP_FRETE, '' ) <> '' AND
           ISNULL( P.CD_EMP_EST, '' ) <> '' AND
           ISNULL( P.CD_AGENTE, '' ) <> '' AND
           ISNULL( P.CD_LOCAL_EMBARQUE, '' ) <> '' AND
           ISNULL( P.CD_MOEDA_FRETE, '' ) <> '' AND
           @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
           @cd_produto IN ( P.CD_PRODUTO, 'X' )AND
           @cd_agente IN ( P.CD_AGENTE, 'X' ) AND
           @cd_grupo IN ( EN.CD_GRUPO, 'X' ) AND
           @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
             F.CD_EVENTO = (SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK)) AND
	     F.DT_REALIZACAO BETWEEN @dt_ini AND @dt_fim AND
	     CSe.IN_REL_VOL_MOD2 = '1'
    GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, CS.NR_PROCESSO, CS.NM_ESPECIE,
             P.VL_CIF_DOLAR, P.VL_CIF_MN, A.CD_PAIS_ORIG_MERC, P.CD_PAIS_ORIGEM,  P.CD_PAIS_DESTINO, RC.CD_REFERENCIA, RC.CD_AREA, P.VL_II_MN, P.VL_IPI_MN,
	     P.CD_CANAL, F.DT_REALIZACAO, F.NR_PROCESSO, RC.NR_SEQUENCIA, CSe.CD_SERVICO, A.CD_REGIME_TRIBUTAR, A.NR_ADICAO
    ORDER BY CS.NR_PROCESSO
END

-- Valores Faturamento
UPDATE TREL_EST_VOLUMES_MOD2
SET    VL_AFRMM = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                            FROM   TFATURAMENTO_CC F (NOLOCK)
                            WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                   F.IN_CANCELADO = '0' AND 
                                   F.CD_ITEM IN ( '160' ) ), 0 ),
       VL_LIB_BL = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                             FROM   TFATURAMENTO_CC F (NOLOCK)
                             WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                    F.IN_CANCELADO = '0' AND 
                                    F.CD_ITEM IN ( '076' ) ), 0 ),
       VL_TX_DESC = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                              FROM   TFATURAMENTO_CC F (NOLOCK)
             WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                     F.IN_CANCELADO = '0' AND 
                                     F.CD_ITEM IN ( '060' ) ), 0 ),
       VL_HANDLING = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                               FROM   TFATURAMENTO_CC F (NOLOCK)
                               WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                      F.IN_CANCELADO = '0' AND 
                                      F.CD_ITEM IN ( '377' ) ), 0 ),
       VL_CAPATAZIA = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                                FROM   TFATURAMENTO_CC F (NOLOCK)
                                WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                       F.IN_CANCELADO = '0' AND 
                                       F.CD_ITEM IN ( '040' ) ), 0 ),
       VL_THC_TERMINAL = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                                   FROM   TFATURAMENTO_CC F (NOLOCK)
                                   WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                          F.IN_CANCELADO = '0' AND 
                                          F.CD_ITEM IN ( '110' ) ), 0 ),
       VL_MOV_CARREGAMENTO = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                                       FROM   TFATURAMENTO_CC F (NOLOCK)
                                       WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                              F.IN_CANCELADO = '0' AND 
                                              F.CD_ITEM IN ( '083', '305' ) ), 0 ),
       VL_ARMAZENAGEM = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                                  FROM   TFATURAMENTO_CC F (NOLOCK)
                                  WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                         F.IN_CANCELADO = '0' AND 
                                         F.CD_ITEM IN ( '015', '041' ) ), 0 )
FROM   TREL_EST_VOLUMES_MOD2 R
WHERE  NR_IDENTIFICADOR = @nr_identificador

DECLARE @nr_processo char(18), 
	@pc_aliq_norm_adval char(8), 
	@cd_receita_imposto char (4),
	@vl_aliquota_ii char(40), 
	@vl_aliquota_ipi char(40)

DECLARE c_int005 CURSOR FOR
  SELECT DISTINCT T.NR_PROCESSO, CAST( PC_ALIQ_NORM_ADVAL AS CHAR(8)), CD_RECEITA_IMPOSTO
  FROM   TREL_EST_VOLUMES_MOD2 R, TRIBUTO T
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
	 R.NR_PROCESSO = T.NR_PROCESSO AND
         (CD_RECEITA_IMPOSTO = '0001' OR CD_RECEITA_IMPOSTO = '0002')

OPEN c_int005 
FETCH c_int005 INTO @nr_processo, @pc_aliq_norm_adval, @cd_receita_imposto
WHILE @@fetch_status = 0
BEGIN
   
  -- Atualiza II 
  IF @cd_receita_imposto = '0001'
  BEGIN
    SET @vl_aliquota_ii = (SELECT TOP 1 ISNULL(VL_ALIQUOTA_II, '0') FROM TREL_EST_VOLUMES_MOD2 
			   WHERE NR_PROCESSO = @nr_processo AND NR_IDENTIFICADOR = @nr_identificador )

    IF @vl_aliquota_ii = '0' 
    BEGIN 
      SET @vl_aliquota_ii = RTRIM(LTRIM(@pc_aliq_norm_adval)) 	
    END
    ELSE
    BEGIN
      SET @vl_aliquota_ii = (RTRIM(LTRIM(@vl_aliquota_ii)) + ' * '+ @pc_aliq_norm_adval)
    END

    UPDATE TREL_EST_VOLUMES_MOD2
    SET VL_ALIQUOTA_II = @vl_aliquota_ii
    WHERE NR_PROCESSO = @nr_processo AND NR_IDENTIFICADOR = @nr_identificador
  END
  ELSE
  -- Atualiza IPI
  BEGIN
    SET @vl_aliquota_ipi = (SELECT TOP 1 ISNULL(VL_ALIQUOTA_IPI, '0') FROM TREL_EST_VOLUMES_MOD2 
			   WHERE NR_PROCESSO = @nr_processo AND NR_IDENTIFICADOR = @nr_identificador)

    if @vl_aliquota_ipi = '0'
    BEGIN
      SET @vl_aliquota_ipi = @pc_aliq_norm_adval 	
    END
    ELSE
    BEGIN
      SET @vl_aliquota_ipi =  RTRIM(LTRIM(@vl_aliquota_ipi))  + ' * '+ @pc_aliq_norm_adval 	
    END

    UPDATE TREL_EST_VOLUMES_MOD2
    SET VL_ALIQUOTA_IPI = @vl_aliquota_ipi
    WHERE NR_PROCESSO = @nr_processo AND NR_IDENTIFICADOR = @nr_identificador
  END

  FETCH c_int005 INTO @nr_processo, @pc_aliq_norm_adval, @cd_receita_imposto
END
CLOSE c_int005
DEALLOCATE c_int005





















GO
