USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_fat_saldos]( @cd_unid_neg char(2), @cd_produto char(2), @nr_solic char(6), @nr_processo char(18),
                                @vl_cred_proc float output, @vl_deb_proc float output,
                                @vl_cred_sol  float output, @vl_deb_sol  float output ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solic char(6)
DECLARE @nr_processo char(18)

DECLARE @vl_cred_proc float 
DECLARE @vl_deb_proc float 
DECLARE @vl_cred_sol float 
DECLARE @vl_deb_sol float 

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solic= '000854'
SELECT @nr_processo = '0101I0-0831-00'

ROLLBACK TRAN 
SET XACT_ABORT OFF
*/

DECLARE @vl_cred_proc_cc   float
DECLARE @vl_deb_proc_cc    float
DECLARE @vl_cred_proc_item float
DECLARE @vl_deb_proc_item  float
DECLARE @vl_cred_sol_cc    float
DECLARE @vl_deb_sol_cc     float
DECLARE @vl_cred_sol_item  float
DECLARE @vl_deb_sol_item   float
DECLARE @in_calculado      char(1)
DECLARE @tp_tipo_fat       char(1)
DECLARE @in_cobrar_iss     char(1)
DECLARE @nm_cidade         varchar(30)
DECLARE @vl_iss            float
DECLARE @vl_base_iss       numeric (14,2)
DECLARE @vl_aliq_iss       float

DECLARE @CD_ITEM_SALDO_DEB char(1)
DECLARE @CD_ITEM_SALDO_CRE char(1)
DECLARE @CD_ITEM_ISS 	   char(1)
DECLARE @CD_ITEM_COFINS_RETENCAO char(1)
DECLARE @CD_ITEM_PAGO_CLI char(1)
DECLARE @CD_ITEM_IR 	  char(1)


SELECT @vl_aliq_iss = VL_ALIQ_ISS
FROM   TUNID_NEG
WHERE  CD_UNID_NEG = @cd_unid_neg

SELECT @in_calculado = IN_CALCULADO,
       @tp_tipo_fat = TP_TIPO_FAT
FROM   TS_FATURA
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO = @cd_produto  AND
       NR_SOLICITACAO = @nr_solic 

SELECT @in_cobrar_iss = IN_COBRAR_ISS,
       @nm_cidade = E.END_CIDADE
FROM   TPROCESSO P (NOLOCK), 
       TCLIENTE_HABILITACAO H (NOLOCK),
       TEMPRESA_NAC E (NOLOCK)
WHERE  P.NR_PROCESSO = @nr_processo  AND
       P.CD_UNID_NEG = H.CD_UNID_NEG AND
       P.CD_PRODUTO  = H.CD_PRODUTO  AND
       P.CD_CLIENTE  = H.CD_CLIENTE  AND
       P.CD_CLIENTE  = E.CD_EMPRESA

--Rodrigo Capra - 25/03/2008 
--Foi trocado o acesso aos campos da tabela de parâmetros com a finalidade de melhorar a performance.
SELECT 
	@CD_ITEM_SALDO_DEB = CD_ITEM_SALDO_DEB, 
	@CD_ITEM_SALDO_CRE = CD_ITEM_SALDO_CRE,  
	@CD_ITEM_IR = CD_ITEM_IR,
	@CD_ITEM_ISS = CD_ITEM_ISS,
	@CD_ITEM_COFINS_RETENCAO = CD_ITEM_COFINS_RETENCAO,
	@CD_ITEM_PAGO_CLI = CD_ITEM_PAGO_CLI
FROM TPARAMETROS


/* verificando a nivel de processo */ 
SELECT @vl_cred_proc_cc =
ISNULL(
( SELECT SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) )
  FROM   TFATURAMENTO_CC F, 
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '1' ) ) AND
         F.IN_CANCELADO    = '0' AND
         ( ( F.IN_SEL_FAT = '1' ) OR ( ( F.IN_SEL_FAT = '0' ) AND ( @in_calculado = '1' ) ) ) AND
         T.IN_FATURAR      = '1' AND
         ( ( F.IN_FATURADO   = '0' AND @in_calculado = '0' ) OR 
           ( F.CD_UNID_NEG   = @cd_unid_neg  AND
             F.CD_PRODUTO    = @cd_produto   AND
             F.NR_SOLIC_FAT  = @nr_solic ) ) AND
         ( F.NR_PROCESSO     = @nr_processo ) AND
         ( ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_SALDO_DEB) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_SALDO_CRE) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_IR) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_ISS) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_COFINS_RETENCAO  ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI) ) ), 0 )

-- Soma IRRF a Crédito
SELECT @vl_cred_proc_cc = @vl_cred_proc_cc + 
ISNULL(
( SELECT SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) )
  FROM   TFATURAMENTO_CC F, 
         TPROCESSO P,
         TCLIENTE_HABILITACAO H,
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         F.IN_CANCELADO    = '0' AND
         T.IN_FATURAR      = '1' AND
         ( ( F.IN_FATURADO   = '0' AND @in_calculado = '0' ) OR 
           ( F.CD_UNID_NEG   = @cd_unid_neg  AND
             F.CD_PRODUTO    = @cd_produto   AND
             F.NR_SOLIC_FAT  = @nr_solic ) ) AND
         ( F.NR_PROCESSO     = @nr_processo ) AND
         ( ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM IN (@CD_ITEM_IR) ) AND
         ( F.CD_ITEM NOT IN (@CD_ITEM_PAGO_CLI) ) AND
         ( H.CD_IR_FAT = '1' ) ), 0 )
         
SELECT @vl_deb_proc_cc =
ISNULL(
( SELECT SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) )
  FROM   TFATURAMENTO_CC F, 
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '1' ) ) AND
         F.IN_CANCELADO    = '0' AND
         ( ( F.IN_SEL_FAT = '1' ) OR ( ( F.IN_SEL_FAT = '0' ) AND ( @in_calculado = '1' ) ) ) AND
         T.IN_FATURAR      = '1' AND
         ( ( F.IN_FATURADO   = '0' AND @in_calculado = '0' ) OR 
           ( F.CD_UNID_NEG   = @cd_unid_neg AND
             F.CD_PRODUTO    = @cd_produto AND
             F.NR_SOLIC_FAT  = @nr_solic ) ) AND
         ( F.NR_PROCESSO     = @nr_processo ) AND
         ( ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_SALDO_DEB) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_SALDO_CRE ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_IR ) ) AND
         ( ( F.CD_ITEM NOT IN ( @CD_ITEM_ISS ) ) OR ( @in_cobrar_iss = '1' ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_COFINS_RETENCAO ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) ), 0 )

-- Soma IRRF a Débito
SELECT @vl_deb_proc_cc = @vl_deb_proc_cc + 
ISNULL(
( SELECT SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) )
  FROM   TFATURAMENTO_CC F, 
         TPROCESSO P,
         TCLIENTE_HABILITACAO H,
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         F.IN_CANCELADO    = '0' AND
         ( ( F.IN_SEL_FAT = '1' ) OR ( ( F.IN_SEL_FAT = '0' ) AND ( @in_calculado = '1' ) ) ) AND
         T.IN_FATURAR      = '1' AND
         ( ( F.IN_FATURADO   = '0' AND @in_calculado = '0' ) OR 
           ( F.CD_UNID_NEG   = @cd_unid_neg AND
             F.CD_PRODUTO    = @cd_produto AND
             F.NR_SOLIC_FAT  = @nr_solic ) ) AND
         ( F.NR_PROCESSO     = @nr_processo ) AND
         ( ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM IN ( @CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) AND
         ( H.CD_IR_FAT = '2' ) ), 0 )

SELECT @vl_cred_proc_item =
ISNULL(
( SELECT SUM( ISNULL( VL_INFORMADO, 0 ) )
  FROM   TS_FATURA_PROCESSO_ITEM F, 
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR   = '1' AND
         CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto AND
         NR_SOLICITACAO = @nr_solic AND
         ( F.NR_PROCESSO  = @nr_processo ) AND
         ( ISNULL( F.IN_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM NOT IN (@CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_ISS ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) ), 0 )

-- Soma IRRF a Crédito Item
SELECT @vl_cred_proc_item = @vl_cred_proc_item + 
ISNULL(
( SELECT SUM( ISNULL( VL_INFORMADO, 0 ) )
  FROM   TS_FATURA_PROCESSO_ITEM F, 
         TPROCESSO P,
         TCLIENTE_HABILITACAO H,
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         ( ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR      = '1' AND
         F.CD_UNID_NEG   = @cd_unid_neg  AND
         F.CD_PRODUTO    = @cd_produto   AND
         F.NR_SOLICITACAO = @nr_solic AND
         ( F.NR_PROCESSO     = @nr_processo ) AND
         ( ISNULL( F.IN_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM IN ( @CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) AND
         ( H.CD_IR_FAT = '1' ) ), 0 )

SELECT @vl_deb_proc_item =
ISNULL(
( SELECT SUM( ISNULL( VL_INFORMADO, 0 ) )
  FROM   TS_FATURA_PROCESSO_ITEM F, 
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR   = '1' AND
         CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto AND
         NR_SOLICITACAO = @nr_solic AND
         ( F.NR_PROCESSO     = @nr_processo ) AND
         ( ISNULL( F.IN_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_IR ) ) AND
         ( ( F.CD_ITEM NOT IN ( @CD_ITEM_ISS ) ) OR ( @in_cobrar_iss = '1' ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) ), 0 )

-- Soma IRRF a Débito
SELECT @vl_deb_proc_item = @vl_deb_proc_item + 
ISNULL(
( SELECT SUM( ISNULL( VL_INFORMADO, 0 ) )
  FROM   TS_FATURA_PROCESSO_ITEM F, 
         TPROCESSO P,
         TCLIENTE_HABILITACAO H,
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         ( ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR      = '1' AND
         F.CD_UNID_NEG   = @cd_unid_neg AND
         F.CD_PRODUTO    = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solic AND
         ( F.NR_PROCESSO     = @nr_processo ) AND
         ( ISNULL( F.IN_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM IN ( @CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) AND
         ( H.CD_IR_FAT = '2' ) ), 0 )

--ISS
/* ADICIOANR ISS DO SALDO QUANDO MUNICÍPIO DE SANTOS */
IF @nm_cidade = 'SANTOS'
BEGIN
  SELECT @vl_base_iss = ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 )
  FROM   TFATURAMENTO_CC F, 
         TITEM I
  WHERE  F.CD_UNID_NEG   = @cd_unid_neg  AND
         F.CD_PRODUTO    = @cd_produto   AND
         F.NR_SOLIC_FAT  = @nr_solic     AND
         F.NR_PROCESSO   = @nr_processo  AND
         F.IN_CANCELADO  = '0'           AND
         F.CD_ITEM       = I.CD_ITEM     AND
         F.IN_RESTITUI   = '0'           AND
         I.IN_TRIBUTAVEL = '1'           AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

  SELECT @vl_base_iss = ROUND( @vl_base_iss - ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 ), 2 )
  FROM   TFATURAMENTO_CC F, 
         TITEM I
  WHERE  F.CD_UNID_NEG   = @cd_unid_neg  AND
         F.CD_PRODUTO    = @cd_produto   AND
         F.NR_SOLIC_FAT  = @nr_solic     AND
         F.NR_PROCESSO   = @nr_processo  AND
         F.IN_CANCELADO  = '0'           AND
         F.CD_ITEM       = I.CD_ITEM     AND
         F.IN_RESTITUI   = '1'           AND
         I.IN_TRIBUTAVEL = '1'           AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

  SELECT @vl_iss = ROUND( @vl_base_iss * ( @vl_aliq_iss / 100 ), 2 )

  SELECT @vl_cred_proc_cc = ISNULL( @vl_cred_proc_cc, 0 ) + ISNULL( @vl_iss, 0 )
END    

IF @in_calculado = '1'
BEGIN
  SELECT @vl_cred_proc = ISNULL( @vl_cred_proc_cc, 0 )
  SELECT @vl_deb_proc  = ISNULL( @vl_deb_proc_cc, 0 )
END
ELSE
BEGIN
  SELECT @vl_cred_proc = ISNULL( @vl_cred_proc_cc, 0 ) + ISNULL( @vl_cred_proc_item, 0 )
  SELECT @vl_deb_proc  = ISNULL( @vl_deb_proc_cc, 0 )  + ISNULL( @vl_deb_proc_item, 0 )
END

-------------------------------------------------------------------------------
/* Verificando a Nível de Solicitação */ 
SELECT @vl_cred_sol_cc =
ISNULL(
( SELECT SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) )
  FROM   TS_FATURA_PROCESSO P,
         TFATURAMENTO_CC F, 
         TITEM I, 
         TTIPO_ITEM T
  WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
         F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '1' ) ) AND
         F.IN_CANCELADO = '0' AND
         ( ( F.IN_SEL_FAT = '1' ) OR ( ( F.IN_SEL_FAT = '0' ) AND ( @in_calculado = '1' ) ) ) AND
         T.IN_FATURAR   = '1' AND
         ( ( F.IN_FATURADO    = '0' AND @in_calculado = '0' ) OR 
           ( F.CD_UNID_NEG    = P.CD_UNID_NEG    AND
             F.CD_PRODUTO     = P.CD_PRODUTO     AND
             F.NR_SOLIC_FAT   = P.NR_SOLICITACAO ) ) AND
         P.CD_UNID_NEG    = @cd_unid_neg AND
         P.CD_PRODUTO     = @cd_produto AND
         P.NR_SOLICITACAO = @nr_solic AND
         ( ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_SALDO_DEB ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_SALDO_CRE ) ) AND
         ( ( F.CD_ITEM NOT IN ( @CD_ITEM_ISS ) ) OR ( @in_cobrar_iss = '1' ) ) AND
--         ( F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_COFINS_RETENCAO ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) ), 0 )

--Soma IRRF a Crédito
SELECT @vl_cred_sol_cc = @vl_cred_sol_cc +
ISNULL(
( SELECT SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) )
  FROM   TS_FATURA_PROCESSO FP,
         TFATURAMENTO_CC F, 
         TPROCESSO P,
         TCLIENTE_HABILITACAO H
  WHERE  F.NR_PROCESSO = FP.NR_PROCESSO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         FP.CD_UNID_NEG = @cd_unid_neg AND
         FP.CD_PRODUTO = @cd_produto AND
         FP.NR_SOLICITACAO = @nr_solic AND
         ( ( F.IN_SEL_FAT = '1' ) OR ( ( F.IN_SEL_FAT = '0' ) AND ( @in_calculado = '1' ) ) ) AND
         F.IN_CANCELADO = '0' AND
         ( ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM IN ( @CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) AND
         ( H.CD_IR_FAT = '1' ) ), 0 )

SELECT @vl_deb_sol_cc =
ISNULL(
( SELECT SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) )
  FROM   TS_FATURA_PROCESSO P,
         TFATURAMENTO_CC F, 
         TITEM I,          TTIPO_ITEM T
  WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
         F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '1' ) ) AND
         F.IN_CANCELADO = '0' AND
         ( ( F.IN_SEL_FAT = '1' ) OR ( ( F.IN_SEL_FAT = '0' ) AND ( @in_calculado = '1' ) ) ) AND
         T.IN_FATURAR   = '1' AND
         ( ( F.IN_FATURADO    = '0' AND @in_calculado = '0' ) OR 
           ( F.CD_UNID_NEG    = P.CD_UNID_NEG    AND
             F.CD_PRODUTO     = P.CD_PRODUTO     AND
             F.NR_SOLIC_FAT   = P.NR_SOLICITACAO ) ) AND
         P.CD_UNID_NEG    = @cd_unid_neg AND
         P.CD_PRODUTO     = @cd_produto AND
         P.NR_SOLICITACAO = @nr_solic AND
         ( ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_SALDO_DEB ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_SALDO_CRE ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_IR ) ) AND
         ( ( F.CD_ITEM NOT IN ( @CD_ITEM_ISS ) ) OR ( @in_cobrar_iss = '1' ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_COFINS_RETENCAO ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) ), 0 )

--Soma IRRF a Débito
SELECT @vl_deb_sol_cc = @vl_deb_sol_cc +
ISNULL(
( SELECT SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) )
  FROM   TS_FATURA_PROCESSO FP,
         TFATURAMENTO_CC F, 
         TPROCESSO P,
         TCLIENTE_HABILITACAO H
  WHERE  F.NR_PROCESSO = FP.NR_PROCESSO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         FP.CD_UNID_NEG    = @cd_unid_neg AND
         FP.CD_PRODUTO     = @cd_produto AND
         FP.NR_SOLICITACAO = @nr_solic AND
         F.IN_CANCELADO = '0' AND
         ( ( F.IN_SEL_FAT = '1' ) OR ( ( F.IN_SEL_FAT = '0' ) AND ( @in_calculado = '1' ) ) ) AND
         ( ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM IN ( @CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) AND
         ( H.CD_IR_FAT = '2' ) ), 0 )

SELECT @vl_cred_sol_item =
ISNULL( 
( SELECT SUM( ISNULL( VL_INFORMADO, 0 ) )
  FROM   TS_FATURA_PROCESSO_ITEM F, 
         TITEM I, 
         TTIPO_ITEM T  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR     = '1' AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solic AND
         ( ISNULL( F.IN_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_ISS ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) ), 0 )

--Soma IRRF a Crédito
SELECT @vl_cred_sol_item = @vl_cred_sol_item +
ISNULL( 
( SELECT SUM( ISNULL( VL_INFORMADO, 0 ) )
  FROM   TS_FATURA_PROCESSO_ITEM F, 
         TPROCESSO P,
         TCLIENTE_HABILITACAO H,
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR     = '1' AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solic AND
         ( ISNULL( F.IN_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM IN ( @CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) AND
         ( H.CD_IR_FAT = '1' ) ), 0 )

SELECT @vl_deb_sol_item =
ISNULL(
( SELECT SUM( ISNULL( VL_INFORMADO, 0 ) )
  FROM   TS_FATURA_PROCESSO_ITEM F, 
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR     = '1' AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solic AND
         ( ISNULL( F.IN_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_IR ) ) AND
         ( ( F.CD_ITEM NOT IN ( @CD_ITEM_ISS ) ) OR ( @in_cobrar_iss = '1' ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) ), 0 )

-- Soma IRRF a Débito
SELECT @vl_deb_sol_item = @vl_deb_sol_item +
ISNULL(
( SELECT SUM( ISNULL( VL_INFORMADO, 0 ) )
  FROM   TS_FATURA_PROCESSO_ITEM F, 
         TPROCESSO P,
         TCLIENTE_HABILITACAO H,
         TITEM I, 
         TTIPO_ITEM T
  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR     = '1' AND
         F.CD_UNID_NEG    = @cd_unid_neg AND
         F.CD_PRODUTO     = @cd_produto AND
         F.NR_SOLICITACAO = @nr_solic AND
         ( ISNULL( F.IN_NAO_FAT, '' ) <> '*' ) AND
         ( F.CD_ITEM IN ( @CD_ITEM_IR ) ) AND
         ( F.CD_ITEM NOT IN ( @CD_ITEM_PAGO_CLI ) ) AND
         ( H.CD_IR_FAT = '2' ) ), 0 )

--ISS
/* ADICIONAR ISS AO SALDO QUANDO MUNICÍPIO DE SANTOS */
DECLARE c_iss_santos CURSOR FOR
  SELECT P.NR_PROCESSO, E.END_CIDADE
  FROM   TS_FATURA_PROCESSO F (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  F.NR_PROCESSO    = P.NR_PROCESSO AND
         P.CD_CLIENTE     = E.CD_EMPRESA  AND
         F.CD_UNID_NEG    = @cd_unid_neg  AND
         F.CD_PRODUTO     = @cd_produto   AND
         F.NR_SOLICITACAO = @nr_solic

OPEN c_iss_santos
FETCH c_iss_santos INTO @nr_processo, @nm_cidade
WHILE @@fetch_status = 0
BEGIN
  IF @nm_cidade = 'SANTOS'
  BEGIN
    SELECT @vl_base_iss = ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 )
    FROM   TFATURAMENTO_CC F, 
           TITEM I
    WHERE  F.CD_UNID_NEG   = @cd_unid_neg  AND
           F.CD_PRODUTO    = @cd_produto   AND
           F.NR_SOLIC_FAT  = @nr_solic     AND
           F.NR_PROCESSO   = @nr_processo  AND
           F.IN_CANCELADO  = '0'           AND
           F.CD_ITEM       = I.CD_ITEM     AND
           F.IN_RESTITUI   = '0'           AND
           I.IN_TRIBUTAVEL = '1'           AND 
           LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

    SELECT @vl_base_iss = ROUND( @vl_base_iss - ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 ), 2 )
    FROM   TFATURAMENTO_CC F, 
           TITEM I
    WHERE  F.CD_UNID_NEG   = @cd_unid_neg  AND
           F.CD_PRODUTO    = @cd_produto   AND
           F.NR_SOLIC_FAT  = @nr_solic     AND
           F.NR_PROCESSO   = @nr_processo  AND
           F.IN_CANCELADO  = '0'           AND
           F.CD_ITEM       = I.CD_ITEM     AND
           F.IN_RESTITUI   = '1'           AND
           I.IN_TRIBUTAVEL = '1'           AND 
           LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

    SELECT @vl_iss = ROUND( @vl_base_iss * ( @vl_aliq_iss / 100 ), 2 )

    SELECT @vl_cred_sol_cc = ISNULL( @vl_cred_sol_cc, 0 ) + ISNULL( @vl_iss, 0 )
  END    

  FETCH c_iss_santos INTO @nr_processo, @nm_cidade
END
CLOSE c_iss_santos
DEALLOCATE c_iss_santos

IF @in_calculado = '1'
BEGIN
  SELECT @vl_cred_sol = ISNULL( @vl_cred_sol_cc, 0 )
  SELECT @vl_deb_sol  = ISNULL( @vl_deb_sol_cc, 0 )
END
ELSE
BEGIN
  SELECT @vl_cred_sol = ISNULL( @vl_cred_sol_cc, 0 ) + ISNULL( @vl_cred_sol_item, 0 )
  SELECT @vl_deb_sol  = ISNULL( @vl_deb_sol_cc, 0 )  + ISNULL( @vl_deb_sol_item, 0 )
END
GO
