USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_VERIFICA_RETENCAO](@NR_EMISSAO INT, @ANO_EMISSAO INT, @MSG VARCHAR(255) OUTPUT) AS
BEGIN
    DECLARE @CD_ROTINA    INT
    DECLARE @NR_NOTA      VARCHAR(255)
    DECLARE @CNPJ_CLIENTE VARCHAR(255)
    DECLARE @CNPJ_UNIDADE VARCHAR(255)
    DECLARE @DT_FATURA    DATETIME
    DECLARE @CD_CLIENTE   INT
    DECLARE @CD_UNIDNEG   INT
    DECLARE @CD_PRODUTO   INT
    DECLARE @DATA_EMISSAO DATETIME

    DECLARE @RETORNO VARCHAR(255)

    /*
      Parametros de retorno
      2 - Fatura não pode ser cancelada devido a retenção!
    */

    SELECT @NR_NOTA = NR_NOTA
    FROM TB_EMISSAO
    WHERE NR_EMISSAO = @NR_EMISSAO
      AND  ANO_EMISSAO = @ANO_EMISSAO

    SELECT @CNPJ_CLIENTE = CNPJ_CLIENTE,
           @CNPJ_UNIDADE = CNPJ_UNID_NEG
    FROM TB_RETENCAO_IR
    WHERE NR_EMISSAO = @NR_EMISSAO
      AND  ANO_EMISSAO = @ANO_EMISSAO

    SELECT TOP 1 @CD_CLIENTE = P.CD_CLIENTE,
                 @CD_UNIDNEG = P.CD_UNID_NEG,
                 @CD_PRODUTO = P.CD_PRODUTO
    FROM VW_PROCESSO P
       INNER JOIN TB_LANCTO L ON L.NR_PROCESSO = P.NR_PROCESSO
       INNER JOIN TB_EMISSAO_DETALHE ED ON ED.NR_LANCTO = L.NR_LANCTO AND ED.ANO_LANCTO = L.ANO_LANCTO
    WHERE NR_EMISSAO = @NR_EMISSAO
      AND ANO_EMISSAO = @ANO_EMISSAO

    --IR
    SELECT @DT_FATURA = CONVERT(DATETIME, CONVERT(VARCHAR, DT_FATURA, 103), 103)
    FROM TB_RETENCAO_IR
    WHERE NR_EMISSAO = @NR_EMISSAO
      AND  ANO_EMISSAO = @ANO_EMISSAO

    --Se sim verifica se uma é uma nota totalizadora
    IF (SELECT COUNT(*)
        FROM TB_RETENCAO_IR
        WHERE NR_EMISSAO = @NR_EMISSAO
          AND ANO_EMISSAO = @ANO_EMISSAO
          AND IN_IR_RETIDO_ATUAL = 1) = 1
    BEGIN
        IF (SELECT COUNT(*)
            FROM BROKER.DBO.TCLIENTE_HABILITACAO
            WHERE CONVERT(INT, CD_CLIENTE)  = @CD_CLIENTE 
              AND CONVERT(INT, CD_UNID_NEG) = @CD_UNIDNEG
              AND CONVERT(INT, CD_PRODUTO)  = @CD_PRODUTO
              AND IN_TP_RETENCAO_IR IN (0, 3)) <= 0
        BEGIN
            --Se sim verifica se EM SEGUIDA foram impressas outras notas no mesmo DIA
            IF (SELECT COUNT(NR_NOTA)
                FROM TB_RETENCAO_IR
                WHERE CNPJ_CLIENTE  = @CNPJ_CLIENTE
                  AND CNPJ_UNID_NEG = @CNPJ_UNIDADE
                  AND NR_NOTA > @NR_NOTA
                  AND CONVERT(VARCHAR, DT_FATURA, 103) = @DT_FATURA) <> 0
            BEGIN
                SET @MSG = '2;Fatura não pode ser cancelada devido a retenção de IR!'
                RETURN 2
            END
        END
    END
    ELSE  --Se não é uma nota totalizadora verifica se é uma nota que reteve IR
        IF (SELECT IN_IR_RETIDO
            FROM TB_RETENCAO_IR
            WHERE NR_EMISSAO = @NR_EMISSAO
              AND  ANO_EMISSAO = @ANO_EMISSAO) = 0
        BEGIN
            IF (SELECT COUNT(*)
                FROM BROKER.DBO.TCLIENTE_HABILITACAO
                WHERE CONVERT(INT, CD_CLIENTE)  = @CD_CLIENTE
                  AND CONVERT(INT, CD_UNID_NEG) = @CD_UNIDNEG
                  AND CONVERT(INT, CD_PRODUTO)  = @CD_PRODUTO
                  AND IN_TP_RETENCAO_IR IN (0, 3)) <= 0
            BEGIN
                --Se não é uma nota totalizadora e não reteve IR verifica se já foi impressa uma nota totalizadora no DIA
                IF (SELECT COUNT(*)
                    FROM TB_RETENCAO_IR
                    WHERE NR_EMISSAO = @NR_EMISSAO
                      AND  ANO_EMISSAO = @ANO_EMISSAO
                      AND IN_IR_RETIDO_ATUAL = 1
                      AND CNPJ_CLIENTE = @CNPJ_CLIENTE
                      AND CNPJ_UNID_NEG = @CNPJ_UNIDADE
                      AND CONVERT(VARCHAR, DT_FATURA, 103) = @DT_FATURA) = 1
                BEGIN
                    SET @MSG = '2;Fatura não pode ser cancelada devido a retenção de IR!'
                    RETURN 2
                END
            END
        END
    --FIM IR

    --COFINS
    SELECT @DT_FATURA = DT_FATURA
    FROM TB_RETENCAO_COFINS
    WHERE NR_EMISSAO = @NR_EMISSAO
      AND  ANO_EMISSAO = @ANO_EMISSAO

    SELECT @DATA_EMISSAO = DT_EMISSAO
    FROM TB_EMISSÃO
    WHERE NR_EMISSAO = @NR_EMISSAO
      AND  ANO_EMISSAO = @ANO_EMISSAO

    IF MONTH(@DATA_EMISSAO) = MONTH(GETDATE())
    BEGIN
        IF (SELECT COUNT(*)
            FROM BROKER.DBO.TCLIENTE_HABILITACAO
            WHERE CONVERT(INT, CD_CLIENTE)  = @CD_CLIENTE
              AND CONVERT(INT, CD_UNID_NEG) = @CD_UNIDNEG
              AND CONVERT(INT, CD_PRODUTO)  = @CD_PRODUTO
              AND IN_TP_RETENCAO_COFINS IN (0, 3)) <= 0
        BEGIN
            --Se sim verifica se uma é uma nota totalizadora
            IF (SELECT COUNT(*)
                FROM TB_RETENCAO_COFINS
                WHERE NR_EMISSAO = @NR_EMISSAO
                  AND  ANO_EMISSAO = @ANO_EMISSAO
                  AND IN_COFINS_RETIDO_ATUAL = 1) = 1
            BEGIN
                IF (SELECT COUNT(*)
                    FROM BROKER.DBO.TCLIENTE_HABILITACAO
                    WHERE CONVERT(INT, CD_CLIENTE)  = @CD_CLIENTE
                      AND CONVERT(INT, CD_UNID_NEG) = @CD_UNIDNEG
                      AND CONVERT(INT, CD_PRODUTO)  = @CD_PRODUTO
                      AND IN_TP_RETENCAO_COFINS IN (0, 3)) <= 0
                BEGIN
                    --Se sim verifica se EM SEGUIDA foram impressas outras notas no mesmo MÊS
                    IF (SELECT COUNT(NR_NOTA)
                        FROM TB_RETENCAO_COFINS
                        WHERE CNPJ_CLIENTE = @CNPJ_CLIENTE
                          AND CNPJ_UNID_NEG = @CNPJ_UNIDADE
                          AND NR_NOTA > @NR_NOTA
                          AND CONVERT(VARCHAR, MONTH(DT_FATURA)) + '/' + CONVERT(VARCHAR, YEAR(DT_FATURA)) = CONVERT(VARCHAR, MONTH(@DT_FATURA), 103) + '/' + CONVERT(VARCHAR, YEAR(@DT_FATURA), 103)) <> 0
                    BEGIN
                        SET @MSG = '2;Fatura não pode ser cancelada devido a retenção de Cofins!'
                        RETURN 2
                    END
                END
            END
        END
        ELSE
            --Se não é uma nota totalizadora verifica se é uma nota que reteve COFINS
            IF (SELECT IN_COFINS_RETIDO
                FROM TB_RETENCAO_COFINS
                WHERE NR_EMISSAO = @NR_EMISSAO
                  AND  ANO_EMISSAO = @ANO_EMISSAO) = 0
            BEGIN
                IF (SELECT COUNT(*)
                    FROM BROKER.DBO.TCLIENTE_HABILITACAO
                    WHERE CONVERT(INT, CD_CLIENTE)  = @CD_CLIENTE
                      AND CONVERT(INT, CD_UNID_NEG) = @CD_UNIDNEG
                      AND CONVERT(INT, CD_PRODUTO)  = @CD_PRODUTO
                      AND IN_TP_RETENCAO_COFINS IN (0, 3)) <= 0
            BEGIN
                --Se não é uma nota totalizadora e não reteve COFINS verifica se já foi impressa uma nota totalizadora no MÊS
                IF (SELECT COUNT(*)
                    FROM TB_RETENCAO_COFINS
                    WHERE CNPJ_CLIENTE  = @CNPJ_CLIENTE
                      AND CNPJ_UNID_NEG = @CNPJ_UNIDADE
                      AND IN_COFINS_RETIDO_ATUAL = 1
                      AND CONVERT(VARCHAR, MONTH(DT_FATURA)) + '/' + CONVERT(VARCHAR, YEAR(DT_FATURA)) = CONVERT(VARCHAR, MONTH(@DT_FATURA)) + '/' + CONVERT(VARCHAR, YEAR(@DT_FATURA))) = 1
                BEGIN
                    SET @MSG = '2;Fatura não pode ser cancelada devido a retenção de Cofins!'
                    RETURN 2
                END
            END
        END
    END
    --FIM COFINS
    SET @MSG = '0;Fatura Ok!'
    RETURN 0
END

GO
