USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_search_table    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_search_table] (@cd_tabela char(3), @nm_banco varchar(10) output, @nm_tabela varchar(30) output, @nm_chave varchar(120) output) AS
DECLARE @comando varchar(200)
SELECT @nm_banco  = NM_BANCO,
       @nm_tabela = NM_TABELA,
       @nm_chave  = NM_CHAVE
  FROM TTABELA (NOLOCK)
  WHERE CD_TABELA = @cd_tabela


GO
