USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_proc_pag_desemb] (@cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3) , @cd_cliente char(5), @cd_canal char(1),
				    @PeriodoInicial char(10), @PeriodoFinal char(10),  @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3) 
DECLARE @cd_cliente char(5)
DECLARE @PeriodoInicial char(10)
DECLARE @PeriodoFinal char(10)
DECLARE @nr_identificador int
DECLARE @cd_canal char(1)

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'
SELECT @cd_grupo    = '001'
SELECT @cd_cliente  = 'X'
SELECT @PeriodoInicial = '01/01/2000'
SELECT @PeriodoFinal   = '01/04/2001'
SELECT @cd_canal = 'X'
SELECT @nr_identificador = '14'
*/

SELECT @nr_identificador = ( ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1 )
FROM   TAUX_PROC_PAG_DES_DI (TABLOCK HOLDLOCK) 

INSERT INTO TAUX_PROC_PAG_DES_DI
SELECT @nr_identificador, P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, 
	P.CD_SERVICO, P.NR_DI, DI.CD_MOEDA_MLE, DI.NR_DECLARACAO_IMP, 
	DI.VL_TOT_MLE_MNEG, DI.VL_TOTAL_MLE_MN, DI.TX_DOLAR,
	EN.CD_EMPRESA, EN.NM_EMPRESA, EN.CD_GRUPO, VDD.DT_REALIZACAO,  
	VDR.DT_REALIZACAO 
FROM TPROCESSO P (NOLOCK), TDECLARACAO_IMPORTACAO DI (NOLOCK), 
     TEMPRESA_NAC EN (NOLOCK), VW_DT_DESEMB VDD (NOLOCK),  VW_DT_REG_DI VDR (NOLOCK), TTP_CANAL C (NOLOCK)
WHERE P.NR_PROCESSO *= DI.NR_PROCESSO AND 
      P.CD_CLIENTE = EN.CD_EMPRESA AND
      P.NR_PROCESSO = VDD.NR_PROCESSO AND
      P.NR_PROCESSO = VDR.NR_PROCESSO AND
      P.CD_CANAL = C.CD_CANAL AND
      P.CD_PRODUTO IN ( '01', '03' ) AND
      P.IN_CANCELADO = '0' AND
      P.IN_LIBERADO = '1' AND
      @cd_unid_neg IN ( P.CD_UNID_NEG, 'X') AND
      @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
      @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND               
      @cd_canal IN ( C.CD_CANAL, 'X' ) AND               
      @cd_grupo IN ( EN.CD_GRUPO, 'X' ) AND
      ( ISNULL( VDD.DT_REALIZACAO, 0 ) BETWEEN CONVERT( datetime, @PeriodoInicial, 103 ) AND CONVERT( datetime, @PeriodoFinal, 103 ) OR
        ISNULL( VDR.DT_REALIZACAO, 0 ) BETWEEN CONVERT( datetime, @PeriodoInicial, 103 ) AND CONVERT( datetime, @PeriodoFinal, 103 ) )
ORDER BY EN.CD_EMPRESA ASC

/*
SELECT * FROM TAUX_PROC_PAG_DES_DI where nr_identificador = '14'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/







GO
