USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/****** Object:  Stored Procedure dbo.sp_nac_atz_taxa_cambio    Script Date: 02/09/1999 08:58:10 AM ******/
CREATE PROCEDURE [sp_nac_atz_taxa_cambio]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)

SELECT @nr_processo = '0101MA-0636-01'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @tx_mle         numeric(14, 7)
DECLARE @tx_dolar       numeric(14, 7) 
DECLARE @tx_frete       numeric(14, 7)
DECLARE @cd_moeda_mle   char(3)
DECLARE @cd_moeda_frete char(3)
DECLARE @dt_calculo     datetime
DECLARE @nr_processo_da char(18)
DECLARE @nr_ref         varchar(15) 
DECLARE @nr_lote        varchar(12) 
DECLARE @cd_mercadoria  varchar(30)
DECLARE @cd_unid_neg    char(2)
DECLARE @cd_produto     char(2)

--  Traz os valores das Referências capa da DI para variáveis de trabalho
SELECT @dt_calculo = DT_CALCULO
FROM   TNAC
WHERE  NR_PROCESSO = @nr_processo

DECLARE c_nac CURSOR FOR
  SELECT NR_PROCESSO_DA, NR_REF, CD_MERCADORIA, NR_LOTE
  FROM   TNAC_ITEM
  WHERE  NR_PROCESSO = @nr_processo

OPEN c_nac
FETCH c_nac INTO @nr_processo_da, @nr_ref, @cd_mercadoria, @nr_lote
WHILE @@fetch_status = 0
BEGIN
  SELECT @cd_unid_neg = SUBSTRING( @nr_processo, 1, 2 )
  SELECT @cd_produto  = SUBSTRING( @nr_processo, 3, 2 )

  SELECT @cd_moeda_frete = CD_MOEDA_FRETE
  FROM   TDA ( NOLOCK )
  WHERE  NR_PROCESSO = @cd_unid_neg + @cd_produto + @nr_processo_da

  SELECT @cd_moeda_mle = CD_MOEDA_MLE,
         @tx_mle       = ISNULL( TX_MLE, 0 ),
         @tx_dolar     = ISNULL( TX_DOLAR, 0 )
  FROM   TNAC_ITEM
  WHERE  NR_PROCESSO    = @nr_processo    AND
         NR_PROCESSO_DA = @nr_processo_da AND
         NR_REF         = @nr_ref         AND
         CD_MERCADORIA  = @cd_mercadoria  AND
         NR_LOTE        = @nr_lote

  SELECT @tx_mle = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
  FROM   TTAXA_CAMBIO
  WHERE  CD_MOEDA = @cd_moeda_mle AND 
         @cd_moeda_mle <> '' AND
         @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

  SELECT @tx_frete = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
  FROM   TTAXA_CAMBIO
  WHERE  CD_MOEDA = @cd_moeda_frete AND 
         @cd_moeda_frete <> '' AND
         @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

  SELECT @tx_dolar = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
  FROM   TTAXA_CAMBIO
  WHERE  CD_MOEDA = '220' AND
         @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

  UPDATE TNAC_ITEM
  SET    CD_MOEDA_FRETE = @cd_moeda_frete,
         TX_MLE         = @tx_mle,
         TX_FRETE       = @tx_frete,
         TX_DOLAR       = @tx_dolar
  WHERE  CURRENT OF c_nac

  FETCH c_nac INTO @nr_processo_da, @nr_ref, @cd_mercadoria, @nr_lote
END

CLOSE c_nac
DEALLOCATE c_nac



GO
