USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_proc_ab_fat] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_cliente char(5), @cd_grupo char(3), @dt_inicio datetime, @dt_fim datetime, @status char(1), @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_cliente char(5)
DECLARE @cd_grupo char(3)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @status char(1)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = ''
SELECT @cd_cliente = '00001'
SELECT @dt_inicio = CONVERT( DATETIME, '01/01/2001', 103 )
SELECT @dt_fim = CONVERT( DATETIME, '31/07/2001', 103 )
SELECT @status = 'A'
*/

SELECT @cd_unid_neg = ISNULL( @cd_unid_neg, '')
SELECT @cd_produto = ISNULL( @cd_produto, '')
SELECT @cd_cliente = ISNULL( @cd_cliente, '')
SELECT @cd_grupo  = ISNULL( @cd_grupo, '' )

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0) 
FROM TAUX_PROC_AB_FAT
SELECT @nr_identificador = @nr_identificador + 1

IF @status = 'F'
BEGIN
  INSERT INTO TAUX_PROC_AB_FAT
  SELECT @nr_identificador, A.NR_PROCESSO,E.NR_LANCAMENTO, A.CD_UNID_NEG, A.CD_PRODUTO, A.CD_CLIENTE, B.NM_UNID_NEG, C.NM_PRODUTO, D.NM_EMPRESA,
         E.DT_LANCAMENTO, E.CD_ITEM, E.VL_ITEM, E.IN_FATURADO, E.NR_SOLIC_FAT, F.NM_ITEM, G.TP_NATUREZA, D.CD_GRUPO, H.NM_GRUPO
         FROM TPROCESSO A 
         LEFT JOIN TUNID_NEG B ON ( A.CD_UNID_NEG = B.CD_UNID_NEG )
         LEFT JOIN TPRODUTO C ON ( A.CD_PRODUTO = C.CD_PRODUTO )
         LEFT JOIN TEMPRESA_NAC D ON ( A.CD_CLIENTE = D.CD_EMPRESA )
         LEFT JOIN TGRUPO H ON ( D.CD_GRUPO = H.CD_GRUPO )
         JOIN TFATURAMENTO_CC E ON ( A.NR_PROCESSO = E.NR_PROCESSO )
         LEFT JOIN TITEM F ON ( E.CD_ITEM = F.CD_ITEM )
         JOIN TTIPO_ITEM G ON ( F.CD_TIPO_ITEM = G.CD_TIPO_ITEM )
  WHERE  ( A.IN_CANCELADO <> '1' AND E.IN_CANCELADO <> '1' ) AND
         ( ( E.DT_LANCAMENTO  BETWEEN @dt_inicio AND @dt_fim ) OR ( E.DT_LANCAMENTO IS NULL ) ) AND
         ( E.IN_FATURADO = '1' ) AND
         ( ( D.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = '' ) ) AND
         ( ( A.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = '' ) ) AND
         ( ( A.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
         ( ( A.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = '' ) )
END
IF @status = 'A'
BEGIN
  INSERT INTO TAUX_PROC_AB_FAT
  SELECT @nr_identificador, A.NR_PROCESSO,E.NR_LANCAMENTO, A.CD_UNID_NEG, A.CD_PRODUTO, A.CD_CLIENTE, B.NM_UNID_NEG, C.NM_PRODUTO, D.NM_EMPRESA,
         E.DT_LANCAMENTO, E.CD_ITEM, E.VL_ITEM, E.IN_FATURADO, E.NR_SOLIC_FAT, F.NM_ITEM, G.TP_NATUREZA, D.CD_GRUPO, H.NM_GRUPO
         FROM TPROCESSO A 
         LEFT JOIN TUNID_NEG B ON ( A.CD_UNID_NEG = B.CD_UNID_NEG )
         LEFT JOIN TPRODUTO C ON ( A.CD_PRODUTO = C.CD_PRODUTO )
         LEFT JOIN TEMPRESA_NAC D ON ( A.CD_CLIENTE = D.CD_EMPRESA )
         LEFT JOIN TGRUPO H ON ( D.CD_GRUPO = H.CD_GRUPO )
         JOIN TFATURAMENTO_CC E ON ( A.NR_PROCESSO = E.NR_PROCESSO )
         LEFT JOIN TITEM F ON ( E.CD_ITEM = F.CD_ITEM )
         JOIN TTIPO_ITEM G ON ( F.CD_TIPO_ITEM = G.CD_TIPO_ITEM )
  WHERE ( A.IN_CANCELADO <> '1' AND E.IN_CANCELADO <> '1' ) AND
        ( ( E.DT_LANCAMENTO  BETWEEN @dt_inicio AND @dt_fim ) OR ( E.DT_LANCAMENTO IS NULL ) ) AND
        ( E.IN_FATURADO = '0' ) AND
        ( ( D.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = '' ) ) AND
        ( ( A.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = '' ) ) AND
        ( ( A.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
        ( ( A.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = '' ) )
END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
