USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_rel_imp_demurrage] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), @dt_inicio datetime,  @dt_fim datetime, @nr_identificador int OUTPUT ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo    char(3)
DECLARE @cd_cliente  char(5)
DECLARE @dt_inicio   datetime
DECLARE @dt_fim      datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/08/2010', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/08/2010', 103 )

--ROLLBACK TRAN
--SET XACT_ABORT OFF
--*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_IMP_DEMURRAGE (NOLOCK)

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

DECLARE @cd_ev_recep_analise  char(3)
DECLARE @cd_ev_ent            char(3)
DECLARE @cd_ev_pres_carga     char(3)
DECLARE @cd_ev_lib_bl         char(3)
DECLARE @cd_ev_reg_di         char(3)
DECLARE @cd_ev_averbacao      char(3)
DECLARE @cd_ev_desemb         char(3)
DECLARE @cd_ev_ci             char(3)
DECLARE @cd_ev_insp_ma        char(3)
DECLARE @cd_ev_nf_transp      char(3)
DECLARE @cd_ev_prev_entr_merc char(3)
DECLARE @cd_item_demurrage    char(3)

SELECT @cd_ev_recep_analise  = CD_EV_RECEP_ANALISE,
       @cd_ev_ent            = CD_EV_ENT,
       @cd_ev_pres_carga     = CD_EV_PRES_CARGA,
       @cd_ev_lib_bl         = CD_EV_LIB_BL,
       @cd_ev_reg_di         = CD_EV_REG_DI,
       @cd_ev_averbacao      = CD_EV_AVERBACAO,
       @cd_ev_desemb         = CD_EV_DESEMB,
       @cd_ev_ci             = CD_EV_CI,
       @cd_ev_insp_ma        = CD_EV_INSP_MA,
       @cd_ev_nf_transp      = CD_EV_NF_TRANSP,
       @cd_ev_prev_entr_merc = CD_EV_PREV_ENTR_MERC,
       @cd_item_demurrage    = CD_ITEM_DEMURRAGE
FROM   TPARAMETROS (NOLOCK)

INSERT TREL_IMP_DEMURRAGE ( NR_IDENTIFICADOR, NR_PROCESSO, NR_CNTR, TP_CNTR, IN_DEMURRAGE, DT_DEVOLUCAO_CNTR,
                            CD_TRANSPORTADOR, CD_ARMAZEM_ATRACACAO, CD_ARMAZEM_DESCARGA, CD_CLIENTE, CD_CANAL, 
                            CD_TRANSP_NAC, CD_AREA, CD_EXPORTADOR, CD_UNID_NEG,
                            DT_DOCTOS_OK, DT_ENT, DT_ENT_TERMINAL, DT_PRES_CARGA, DT_LIB_BL, DT_REG_DI, DT_AVERBACAO, 
                            DT_DESEMB, DT_CI, DT_INSP_MA, DT_NF_TRANSP, DT_ENTR_FABRICA )
  SELECT @nr_identificador, P.NR_PROCESSO, C.NR_CNTR, C.TP_CNTR, 
         CASE 
           WHEN ( C.DT_DEVOLUCAO_CNTR > C.DT_DEMURRAGE ) THEN '1'
           ELSE '0'
         END AS IN_DEMURRAGE, C.DT_DEVOLUCAO_CNTR,
         P.CD_TRANSPORTADOR, P.CD_ARMAZEM_ATRACACAO, P.CD_ARMAZEM_DESCARGA, P.CD_CLIENTE, P.CD_CANAL, P.CD_TRANSP_NAC, 
         P.CD_AREA, P.CD_EMP_EST, P.CD_UNID_NEG, 
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_recep_analise AND
                  F.IN_APLICAVEL = '1' ) AS DT_DOCTOS_OK,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_ent AND
                  F.IN_APLICAVEL = '1' ) AS DT_ENT,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_ent AND
                  F.IN_APLICAVEL = '1' ) AS DT_ENT_TERMINAL,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_pres_carga AND
                  F.IN_APLICAVEL = '1' ) AS DT_PRES_CARGA,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_lib_bl AND
                  F.IN_APLICAVEL = '1' ) AS DT_LIB_BL,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_reg_di AND
                  F.IN_APLICAVEL = '1' ) AS DT_REG_DI,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_averbacao AND
                  F.IN_APLICAVEL = '1' ) AS DT_AVERBACAO,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_desemb AND
                  F.IN_APLICAVEL = '1' ) AS DT_DESEMB,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_ci AND
                  F.IN_APLICAVEL = '1' ) AS DT_CI,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_insp_ma AND
                  F.IN_APLICAVEL = '1' ) AS DT_INSP_MA,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_nf_transp AND
                  F.IN_APLICAVEL = '1' ) AS DT_NF_TRANSP,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_prev_entr_merc AND
                  F.IN_APLICAVEL = '1' ) AS DT_ENTR_FABRICA
  FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_PRODUTO IN ( '01', '03' ) AND
         P.IN_CANCELADO = '0' AND
         P.IN_LIBERADO = '1' AND
         P.IN_PRODUCAO = '1' AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
        /* P.NR_PROCESSO IN ( SELECT F.NR_PROCESSO
                            FROM   TSOLIC_PAGTO F (NOLOCK)
                            WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                                   F.DT_PAGTO BETWEEN @dt_inicio AND @dt_fim AND
                                   F.CD_ITEM = @cd_item_demurrage AND
                                   F.CD_STATUS IN(7, 16))*/
         P.NR_PROCESSO IN ( SELECT F.NR_PROCESSO
                            FROM   TFATURAMENTO_CC F (NOLOCK)
                            WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                                   F.DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim AND
                                   F.CD_ITEM = @cd_item_demurrage AND
                                   F.IN_CANCELADO = '0' ) 
        /* C.NR_CNTR IN (SELECT NR_CNTR
                       FROM TDEM_FAT_CNTR FC (NOLOCK) INNER JOIN TDEM_FAT F (NOLOCK) ON F.CD_UNID_NEG = FC.CD_UNID_NEG AND F.NR_FATURA = FC.NR_FATURA
                       WHERE FC.NR_PROCESSO = P.NR_PROCESSO
                         AND F.DT_PAGTO BETWEEN @DT_INICIO AND @DT_FIM)*/
  ORDER BY P.NR_PROCESSO, C.NR_CNTR

--Comentado 03/05/2011 Andressa ocorrência :1806411 Relatório Relação de Pagamentos
--INSERT TREL_IMP_DEMURRAGE_PAGTO(NR_IDENTIFICADOR, NR_PROCESSO, DT_PAGAMENTO, VL_PAGAMENTO)
--SELECT @nr_identificador, NR_PROCESSO, DT_PAGTO, SUM(CASE IN_RESTITUI
--                                                         WHEN '1' THEN - VL_PAGTO
--                                                         ELSE VL_PAGTO
--                                                     END) AS VL_PAGTO
--FROM TSOLIC_PAGTO (NOLOCK)
--WHERE CD_ITEM = @cd_item_demurrage
--  AND CD_STATUS IN (7, 16)
--  AND NR_PROCESSO IN (SELECT DISTINCT NR_PROCESSO
--                      FROM TREL_IMP_DEMURRAGE R (NOLOCK)
--                      WHERE R.NR_IDENTIFICADOR = @nr_identificador)
--  AND DT_PAGTO BETWEEN @dt_inicio AND @dt_fim
--GROUP BY NR_PROCESSO, DT_PAGTO


INSERT TREL_IMP_DEMURRAGE_PAGTO(NR_IDENTIFICADOR, NR_PROCESSO, DT_PAGAMENTO, VL_PAGAMENTO)
SELECT @nr_identificador, NR_PROCESSO, DT_LANCAMENTO,ROUND( SUM( CASE IN_RESTITUI 
                     WHEN '0' THEN ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) 
                     ELSE ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) * (-1)
                   END ), 2 ) AS VL_PAGTO
FROM TFATURAMENTO_CC (NOLOCK)
WHERE CD_ITEM = @cd_item_demurrage
  --AND CD_STATUS IN (7, 16)
  AND NR_PROCESSO IN (SELECT DISTINCT NR_PROCESSO
                      FROM TREL_IMP_DEMURRAGE R (NOLOCK)
                      WHERE R.NR_IDENTIFICADOR = @nr_identificador)
  AND DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim
group by NR_PROCESSO, DT_LANCAMENTO  




/*
  SELECT @nr_identificador, F.NR_PROCESSO, F.DT_LANCAMENTO, 
         SUM( CASE F.IN_RESTITUI WHEN '0' THEN F.VL_ITEM ELSE F.VL_ITEM * (-1) END ) AS VL_ITEM
  FROM   TFATURAMENTO_CC F (NOLOCK)
  WHERE  F.CD_ITEM = @cd_item_demurrage AND
         F.IN_CANCELADO = '0' AND
         F.DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim AND
         F.NR_PROCESSO IN ( SELECT DISTINCT NR_PROCESSO
                            FROM   TREL_IMP_DEMURRAGE R (NOLOCK)
                            WHERE  R.NR_IDENTIFICADOR = @nr_identificador )
  GROUP BY F.NR_PROCESSO, F.DT_LANCAMENTO
  ORDER BY F.NR_PROCESSO
  
  SELECT DISTINCT R.NR_PROCESSO, R.CD_UNID_NEG, U.NM_UNID_NEG
  FROM   TREL_IMP_DEMURRAGE R, TUNID_NEG U
  WHERE  R.CD_UNID_NEG = U.CD_UNID_NEG AND
         R.NR_IDENTIFICADOR = @NR_IDENTIFICADOR
  
  SELECT R.NR_IDENTIFICADOR, R.NR_PROCESSO, U.NM_UNID_NEG,
         SUBSTRING( R.NR_CNTR, 1, 4 ) + '-' + SUBSTRING( R.NR_CNTR, 5, 3 ) + '-' +
         SUBSTRING( R.NR_CNTR, 8, 3 ) + '-' + SUBSTRING( R.NR_CNTR, 11, 1 ) AS NR_CNTR,
         T.NM_TP_CNTR, Y.TX_YESNO AS IN_DEMURRAGE, TI.DESCRICAO AS NM_TRANSPORTADOR,
         AA.NM_ARMAZEM AS NM_ARMAZEM_ATRACACAO, AD.NM_ARMAZEM AS NM_ARMAZEM_DESCARGA,
         E.NM_EMPRESA AS NM_CLIENTE, C.NM_CANAL, TR.NM_TRANSP_ROD AS NM_TRANSP_NAC, A.NM_AREA,
         TX_MERCADORIA, ES.NM_EMPRESA AS NM_EXPORTADOR,
         DT_DOCTOS_OK, DT_ENT, DT_ENT_TERMINAL, DT_PRES_CARGA, DT_LIB_BL, DT_REG_DI, DT_AVERBACAO,
         DT_DESEMB, DT_CI, DT_INSP_MA, DT_NF_TRANSP, DT_ENTR_FABRICA, DT_DEVOLUCAO_CNTR
  FROM   TREL_IMP_DEMURRAGE R, TTP_CNTR T, TYES_NO Y, TTRANSPORTADOR_ITL TI, TARMAZEM AA, TARMAZEM AD,
         TEMPRESA_NAC E, TTP_CANAL C, TTRANSP_ROD TR, TAREA A, TEMPRESA_EST ES, TUNID_NEG U
  WHERE  R.TP_CNTR *= T.TP_CNTR AND
         R.IN_DEMURRAGE = Y.CD_YESNO AND
         R.CD_TRANSPORTADOR *= TI.CODIGO AND
         R.CD_ARMAZEM_ATRACACAO *= AA.CD_ARMAZEM AND
         R.CD_ARMAZEM_DESCARGA *= AD.CD_ARMAZEM AND
         R.CD_CLIENTE *= E.CD_EMPRESA AND
         R.CD_CANAL *= C.CD_CANAL AND
         R.CD_TRANSP_NAC *= TR.CD_TRANSP_ROD AND
         R.CD_AREA *= A.CD_AREA AND
         R.CD_EXPORTADOR *= ES.CD_EMPRESA AND
         R.CD_UNID_NEG *= U.NM_UNID_NEG AND
         R.NR_IDENTIFICADOR = @NR_IDENTIFICADOR --AND
         --R.NR_PROCESSO = :NR_PROCESSO
  ORDER BY R.NR_PROCESSO
  
  SELECT R.NR_IDENTIFICADOR, R.NR_PROCESSO, R.DT_PAGAMENTO, R.VL_PAGAMENTO
  FROM   TREL_IMP_DEMURRAGE_PAGTO R
  WHERE  R.NR_IDENTIFICADOR = @NR_IDENTIFICADOR --AND
  --       R.NR_PROCESSO = :NR_PROCESSO
  ORDER BY R.NR_PROCESSO

--*/

/*
DECLARE @NR_PROCESSO CHAR(18)
SET @NR_PROCESSO = '0101IM-3894-10'

SELECT R.NR_IDENTIFICADOR,
       R.NR_PROCESSO,
       U.NM_UNID_NEG,
       SUBSTRING( R.NR_CNTR, 1, 4 ) + '-' + SUBSTRING( R.NR_CNTR, 5, 3 ) + '-' +
       SUBSTRING( R.NR_CNTR, 8, 3 ) + '-' + SUBSTRING( R.NR_CNTR, 11, 1 ) AS NR_CNTR,
       T.NM_TP_CNTR,
       Y.TX_YESNO AS IN_DEMURRAGE,
       TI.DESCRICAO AS NM_TRANSPORTADOR,
       AA.NM_ARMAZEM AS NM_ARMAZEM_ATRACACAO,
       AD.NM_ARMAZEM AS NM_ARMAZEM_DESCARGA,
       E.NM_EMPRESA AS NM_CLIENTE,
       C.NM_CANAL,
       TR.NM_TRANSP_ROD AS NM_TRANSP_NAC,
       A.NM_AREA,
       TX_MERCADORIA,
       ES.NM_EMPRESA AS NM_EXPORTADOR,
       DT_DOCTOS_OK,
       DT_ENT,
       DT_ENT_TERMINAL,
       DT_PRES_CARGA,
       DT_LIB_BL,
       DT_REG_DI,
       DT_AVERBACAO,
       DT_DESEMB,
       DT_CI,
       DT_INSP_MA,
       DT_NF_TRANSP,
       DT_ENTR_FABRICA,
       DT_DEVOLUCAO_CNTR
FROM TREL_IMP_DEMURRAGE          R
   LEFT  JOIN TTP_CNTR           T  ON R.TP_CNTR = T.TP_CNTR
   INNER JOIN TYES_NO            Y  ON R.IN_DEMURRAGE = Y.CD_YESNO
   LEFT  JOIN TTRANSPORTADOR_ITL TI ON R.CD_TRANSPORTADOR = TI.CODIGO
   LEFT  JOIN TARMAZEM           AA ON R.CD_ARMAZEM_ATRACACAO = AA.CD_ARMAZEM
   LEFT  JOIN TARMAZEM           AD ON R.CD_ARMAZEM_DESCARGA = AD.CD_ARMAZEM
   LEFT  JOIN TEMPRESA_NAC       E  ON R.CD_CLIENTE = E.CD_EMPRESA
   LEFT  JOIN TTP_CANAL          C  ON R.CD_CANAL = C.CD_CANAL
   LEFT  JOIN TTRANSP_ROD        TR ON R.CD_TRANSP_NAC = TR.CD_TRANSP_ROD
   LEFT  JOIN TAREA              A  ON R.CD_AREA = A.CD_AREA
   LEFT  JOIN TEMPRESA_EST       ES ON R.CD_EXPORTADOR = ES.CD_EMPRESA
   LEFT  JOIN TUNID_NEG          U  ON R.CD_UNID_NEG = U.NM_UNID_NEG
WHERE R.NR_IDENTIFICADOR = @NR_IDENTIFICADOR
  AND R.NR_PROCESSO      = @NR_PROCESSO


SELECT R.NR_IDENTIFICADOR,
       R.NR_PROCESSO,
       R.DT_PAGAMENTO,
       R.VL_PAGAMENTO
FROM TREL_IMP_DEMURRAGE_PAGTO R
WHERE R.NR_IDENTIFICADOR = @NR_IDENTIFICADOR
  AND R.NR_PROCESSO      = @NR_PROCESSO

SELECT NR_PROCESSO, CD_REFERENCIA
FROM TREF_CLIENTE
WHERE NR_PROCESSO = @NR_PROCESSO

SELECT DISTINCT M.AP_MERCADORIA, REPLACE(REPLACE(CONVERT(VARCHAR(8000), M.NM_MERCADORIA), NCHAR(13), ''), NCHAR(10), ' ') AS NM_MERCADORIA
FROM TDETALHE_MERCADORIA DM INNER JOIN TMERCADORIA M ON M.CD_MERCADORIA = DM.CD_MERCADORIA
WHERE NR_PROCESSO = @NR_PROCESSO
  --AND NR_PROC_PO  = :CD_REFERENCIA


/*
DELETE TREL_IMP_DEMURRAGE
FROM   TREL_IMP_DEMURRAGE R, TPROCESSO P
WHERE  R.NR_PROCESSO = P.NR_PROCESSO_VINC AND
       R.NR_IDENTIFICADOR = @nr_identificador

DELETE TREL_IMP_DEMURRAGE_PAGTO
FROM   TREL_IMP_DEMURRAGE_PAGTO R, TPROCESSO P
WHERE  R.NR_PROCESSO = P.NR_PROCESSO_VINC AND
       R.NR_IDENTIFICADOR = @nr_identificador
*/


ROLLBACK
--*/

GO
