USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_cancela_boleto] (@nr_boleto char(10)) AS

UPDATE TBOLETO_FATURA 
  SET IN_CANCELADO = '1' 
  FROM TBOLETO_FATURA
  WHERE NR_BOLETO = @nr_boleto


UPDATE TS_FATURA SET IN_CANCELADO = '1', DT_CANCELAMENTO = getdate()
FROM TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
WHERE  F.NR_BOLETO <> '' AND
       F.NR_BOLETO = @nr_boleto AND
       F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
       P.NR_PROCESSO = FP.NR_PROCESSO










GO
