USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_calc_marinha]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_item char(3) 
DECLARE @Resultado float

select @nr_processo = '0101ae-1629-01'
*/

DECLARE @tp_frete float
DECLARE @vl_frete_mneg float
DECLARE @vl_taxa_frete float
DECLARE @vl_resultado numeric (13,3)
DECLARE @cd_base_calc char(1)

-- SELECIONA OS VALORES PARA CALCULO
IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  SELECT @tp_frete = VL_FRETE_COLLECT_MNEG  
  FROM TPROCESSO 
  WHERE NR_PROCESSO = @nr_processo        
  if @tp_frete > 0
  begin
--    SELECT 'COLLECT'
    SELECT @cd_base_calc = '0'
    SELECT @vl_frete_mneg  = ISNULL( VL_FRETE_COLLECT_MNEG, 0),
           @vl_taxa_frete  = ISNULL( VL_TAXA_FRETE, 0)
    FROM TPROCESSO 
    WHERE ( NR_PROCESSO = @nr_processo )
  end
  else
  begin
    SELECT @tp_frete = VL_FRETE_PREPAID_MNEG  
    FROM TPROCESSO 
    WHERE NR_PROCESSO = @nr_processo and 
          VL_FRETE_PREPAID_MNEG > '0'
    if @tp_frete > 0 
    begin
--      SELECT 'PREPAID'
      SELECT @vl_frete_mneg = ISNULL( VL_FRETE_PREPAID_MNEG, 0 ),
             @vl_taxa_frete = ISNULL( VL_TAXA_FRETE, 0 )
      FROM   TPROCESSO
      WHERE  ( NR_PROCESSO = @nr_processo )
    end
  end
END
ELSE
BEGIN
  SELECT @cd_base_calc = '1'
  SELECT @vl_frete_mneg  = ISNULL( VL_FRETE_MNEG, 0),
         @vl_taxa_frete  = ISNULL( VL_TAXA_FRETE, 0)
  FROM   TPREVISAO
  WHERE  ( NR_PROCESSO = @nr_processo )
END
IF @@rowcount > 0
BEGIN
  SELECT  @Resultado = 0
  IF ( @vl_frete_mneg > 0 ) AND ( @vl_taxa_frete > 0 )
  BEGIN
    -- CALCULA O FRETE
    SELECT @vl_resultado = ROUND( ( @vl_frete_mneg * @vl_taxa_frete * 0.25 ), 2 )
    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
    RETURN(0)
  END
  ELSE
  BEGIN
    -- Frete igual a zero
    IF ( @vl_frete_mneg <= 0 ) RETURN(2)
    -- Taxa igual a zero
    IF ( @vl_taxa_frete <= 0 ) RETURN(3)
  END
END
ELSE
BEGIN
  -- Nao encontrou Processo/Previsao
  SELECT  @Resultado = 0
  IF @cd_base_calc = '0' RETURN(1)
  ELSE RETURN(4)
END

/*
SELECT @vl_resultado

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

GO
