USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_fat_cc_ag] ( @cd_coligada char(2), @dt_movimento datetime ) AS

/*

SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_coligada char(2)
DECLARE @dt_movimento datetime

SELECT @cd_coligada = '01'
SELECT @dt_movimento = CONVERT( datetime, '28/09/2005', 103 )
--EXEC sp_atz_fat_cc_ag '01', @dt_movimento 

--*/

DECLARE @nr_ult_lanc   		int
DECLARE @ult_lanc   		char(4)
DECLARE @cd_usuario		char(4)
DECLARE @nr_processo   		char(18) 
DECLARE @cd_favorecido   	char(5) 
DECLARE @cd_banco   		char(3)
DECLARE @cd_item   		char(3)
DECLARE @cd_item_nao_fat 	char(3)
DECLARE @cd_despachante  	char(3)
DECLARE @tp_pagamento   	char(1)
DECLARE @tp_procedencia  	char(1)
DECLARE @nr_cheque   		char(6)
DECLARE @nr_fp   		char(10)
DECLARE @vl_lancamento  	float
DECLARE @vl_ir    		float
DECLARE @vl_assist   		float
DECLARE @nm_historico   	varchar(180)
DECLARE @in_restitui   		char(1)
DECLARE @cd_item_nfat  		char(3)
DECLARE @cd_item_pagto_sd       char(3)
DECLARE @nr_solic_fat           char(6)
DECLARE @in_filtro              char(1)
DECLARE @cd_unid_neg            char(2)
DECLARE @cd_produto             char(2)
DECLARE @cd_cliente             char(5)
DECLARE @cd_servico             char(3)
DECLARE @vl_tarifa              float
DECLARE @cd_moeda               char(3)
DECLARE @vl_moeda               float

SELECT @cd_item_pagto_sd = CD_ITEM_PAGTO_SD 
FROM   TPARAMETROS (NOLOCK)

EXEC sp_busca_usuario @cd_usuario

SELECT NR_PROCESSO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, CD_DESPACHANTE, TP_PAGAMENTO, TP_PROCEDENCIA, NR_CHEQUE,
       VL_LANCAMENTO, VL_IR, VL_ASSIST, NM_HISTORICO, IN_RESTITUI, NR_FP, NR_SOLIC_FAT, 
       IN_FILTRO, VL_MOEDA, CD_MOEDA, VL_TARIFA
  INTO #FATCC
  FROM TCAIXA (PAGLOCK HOLDLOCK)
 WHERE 1 = 0

INSERT #FATCC (NR_PROCESSO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, CD_DESPACHANTE, TP_PAGAMENTO, TP_PROCEDENCIA, NR_CHEQUE,
       VL_LANCAMENTO, VL_IR, VL_ASSIST, NM_HISTORICO, IN_RESTITUI, NR_FP, NR_SOLIC_FAT, 
       IN_FILTRO, VL_MOEDA, CD_MOEDA, VL_TARIFA)
SELECT NR_PROCESSO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, CD_DESPACHANTE, TP_PAGAMENTO, TP_PROCEDENCIA, NR_CHEQUE,
       VL_LANCAMENTO, VL_IR, VL_ASSIST, NM_HISTORICO, IN_RESTITUI, NR_FP, NR_SOLIC_FAT, 
       IN_FILTRO, VL_MOEDA, CD_MOEDA, VL_TARIFA
  FROM   TCAIXA (PAGLOCK HOLDLOCK)
  WHERE  CD_COLIGADA    = @cd_coligada AND 
         DT_MOVIMENTO   = @dt_movimento AND 
         TP_LANCAMENTO  = 'F' AND 
         ((IN_CANCELADO   = '0') OR (CD_ITEM = '993')  ) --AND--ALTERACAO FEITA PARA NOVA FORMA DE ESTORNO 
         AND IN_TRANSFERIDO = '0' 
         AND IN_FATURADO = '0' 

WHILE (SELECT COUNT(*) FROM #FATCC (NOLOCK) )> 0 
BEGIN
  SELECT TOP 1 @nr_processo = NR_PROCESSO, @cd_favorecido = CD_FAVORECIDO, @cd_banco = CD_BANCO,
               @cd_item = CD_ITEM, @cd_despachante = CD_DESPACHANTE, @tp_pagamento = TP_PAGAMENTO,
               @tp_procedencia = TP_PROCEDENCIA, @nr_cheque = NR_CHEQUE, @vl_lancamento = VL_LANCAMENTO,
               @vl_ir = VL_IR, @vl_assist = VL_ASSIST, @nm_historico = NM_HISTORICO, @in_restitui = IN_RESTITUI,
               @nr_fp = NR_FP, @nr_solic_fat = NR_SOLIC_FAT, @in_filtro = IN_FILTRO, 
               @vl_tarifa = VL_TARIFA,@cd_moeda = CD_MOEDA,  @vl_moeda = VL_MOEDA
  FROM #FATCC (NOLOCK)

 SELECT @nr_ult_lanc = convert( int, MAX( ISNULL( NR_LANCAMENTO, '000' ) ) ) --+ 1
  FROM   TFATURAMENTO_CC  (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo

   SELECT @ult_lanc = RIGHT( '0000' + CONVERT( varchar, ISNULL(@nr_ult_lanc,0) + 1 ), 4 )

    PRINT  @ult_lanc
 
    SELECT @cd_unid_neg = CD_UNID_NEG,
           @cd_produto  = CD_PRODUTO,
           @cd_cliente  = CD_CLIENTE,
           @cd_servico  = CD_SERVICO
    FROM   TPROCESSO (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo

  
  SELECT @cd_item_nao_fat = 
       CASE       
        WHEN ( ( SELECT COUNT(*)
               FROM   TCLIENTE_NUMERARIO  (NOLOCK)
         WHERE  CD_UNID_NEG = @cd_unid_neg AND
                      CD_PRODUTO = @cd_produto AND
                      CD_CLIENTE = @cd_cliente AND
                      CD_SERVICO = @cd_servico AND
                      CD_ITEM = @cd_item AND
                      TP_DESTINO = '1' ) > 0 ) AND
       (( SELECT COUNT(*)
               FROM   TSOLIC_PAGTO  (NOLOCK)
               WHERE  NR_PROCESSO = @nr_processo AND
                      CD_ITEM = @cd_item AND
                      TP_DESTINO = '1' ) > 0  )  THEN  '*'
       ELSE NULL
      END      

  INSERT INTO TFATURAMENTO_CC 
    ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, CD_DESPACHANTE, 
      CD_FORMA_PAGTO, CD_ORIGEM_LANC, NR_CHEQUE, VL_ITEM, VL_IR, VL_ASSIST, NM_ITEM_COMPLEMENTO, IN_FATURADO, 
      IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO, NR_FP, 
      CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT, 
      IN_FILTRO, VL_TARIFA, CD_MOEDA, VL_MOEDA )
  VALUES ( @nr_processo, @ult_lanc, @dt_movimento, @cd_usuario, @cd_favorecido, @cd_banco, @cd_item, @cd_despachante, 
           @tp_pagamento, @tp_procedencia, @nr_cheque, @vl_lancamento, @vl_ir, @vl_assist, @nm_historico, 
           CASE @cd_item WHEN @cd_item_pagto_sd THEN '1' ELSE '0' END,
           '0', @in_restitui, '0', @cd_item_nao_fat, '0', @nr_fp, 
           CASE @cd_item WHEN @cd_item_pagto_sd THEN SUBSTRING( @nr_processo, 1, 2 ) ELSE NULL END,
           CASE @cd_item WHEN @cd_item_pagto_sd THEN SUBSTRING( @nr_processo, 3, 2 ) ELSE NULL END,
           @nr_solic_fat, @in_filtro, @vl_tarifa, @cd_moeda, @vl_moeda)

  IF  @cd_item  = '993'
  BEGIN
   UPDATE TFATURAMENTO_CC
   SET IN_CANCELADO = '1'
   WHERE NR_PROCESSO = @nr_processo
   AND CD_ITEM IN ('991','993') AND 
   NR_CHEQUE = @nr_cheque
  END

   UPDATE TFATURAMENTO_CC
   SET NR_CHEQUE = @nr_cheque,
       CD_FORMA_PAGTO = 'D'
   WHERE NR_PROCESSO = @nr_processo
   AND IN_FATURADO = '1'

  
  UPDATE TCAIXA 
  SET    IN_TRANSFERIDO = '1' 
  WHERE  NR_PROCESSO = @nr_processo and CD_ITEM = @cd_item
  
  DELETE FROM #FATCC WHERE   NR_PROCESSO = @nr_processo and CD_ITEM = @cd_item
END


DROP TABLE #FATCC


 /*

ROLLBACK TRAN
SET XACT_ABORT OFF

-- */


GO
