USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/****** Object:  Stored Procedure dbo.sp_tato_conc_susp_grafico ******/
CREATE  PROCEDURE [sp_tato_conc_susp_grafico]  ( @nr_forecast char(14), @nr_identificador int OUTPUT ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_forecast      char(6)
DECLARE @nr_identificador int
 
SELECT  @nr_forecast   = '00603'

SET NOCOUNT ON
*/


--exportacao
DECLARE @cd_mercadoria char(20)
DECLARE @qt_exp        float
DECLARE @qt_exp_realiz float
DECLARE @NR_ATO_CONC   char(15)

--importacao
DECLARE @cd_mat_pri    varchar(30)
DECLARE @qt_imp        float
DECLARE @qt_imp_realiz float

--somadores exportacao
DECLARE @soma_exp      float
DECLARE @conta_exp     float
--somadores importacao
DECLARE @soma_imp      float
DECLARE @conta_imp     float

--resultados exportacao
DECLARE @prev_exp      float
DECLARE @realiz_exp    float
DECLARE @falta_exp     float
--resultados importacao
DECLARE @prev_imp      float
DECLARE @realiz_imp    float
DECLARE @falta_imp     float
--resultados ato concessório
DECLARE @prev_ato      float
DECLARE @realiz_ato    float

--contadores
DECLARE @cont_exp      int
DECLARE @cont_imp      int

SELECT @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
                               FROM TGRAFICO_SUSPENSAO )

SELECT @cont_exp = 0
SELECT @soma_exp = 0
SELECT @cont_imp = 0
SELECT @soma_imp = 0


select @NR_ATO_CONC = NR_ATO_CONC 
from TATO_CONC_SUSP
where NR_FORECAST = @nr_forecast

--Calcula o valor do item da exportação
DECLARE cursor_mercadoria CURSOR FOR
  SELECT CD_MERCADORIA, QT_EXP
    FROM TFORECAST_EXP
   WHERE NR_FORECAST = @nr_forecast

  OPEN cursor_mercadoria
  FETCH cursor_mercadoria INTO @cd_mercadoria, @qt_exp

  WHILE @@fetch_status = 0
  BEGIN
    --pega a quantidade de itens realizado
    SELECT @qt_exp_realiz = ISNULL( ( SELECT SUM(QTD_TRANSM_RE)
                                        FROM TSALDO_DRAWBACK_EXP
                                       WHERE NR_ATO_DRAWBACK = @NR_ATO_CONC  AND
                                             CD_MERCADORIA   = @cd_mercadoria ), 0 )
     
    SELECT @conta_exp = ( ( @qt_exp_realiz * 100 ) / @qt_exp )
    
    SELECT @soma_exp = @soma_exp + @conta_exp
    SELECT @cont_exp = @cont_exp + 1

    FETCH cursor_mercadoria INTO @cd_mercadoria, @qt_exp
  END
  CLOSE cursor_mercadoria
  DEALLOCATE cursor_mercadoria

  --resultados prontos
  SELECT @prev_exp   = 100
  SELECT @realiz_exp = @soma_exp / @cont_exp
  SELECT @falta_exp  = @prev_exp - @realiz_exp


--Calcula o valor do item da importação
DECLARE cursor_merc CURSOR FOR
  SELECT CD_MERCADORIA, QT_EXP
    FROM TFORECAST_EXP
   WHERE NR_FORECAST = @nr_forecast

  OPEN cursor_merc
  FETCH cursor_merc INTO @cd_mercadoria, @qt_exp

  WHILE @@fetch_status = 0
  BEGIN
    DECLARE cursor_mat_pri CURSOR FOR
      SELECT CD_MAT_PRI, QT_IMP
        FROM TFORECAST_IMP
       WHERE NR_FORECAST   = @nr_forecast AND 
             CD_MERCADORIA = @cd_mercadoria
   
    OPEN cursor_mat_pri
    FETCH cursor_mat_pri INTO @cd_mat_pri, @qt_imp
  
    WHILE @@fetch_status = 0
    BEGIN
      --pega a quantidade de itens realizado

      SELECT @qt_imp_realiz = ISNULL( ( SELECT SUM(QTD_TRANSM_LI)
                                          FROM TSALDO_DRAWBACK
                                         WHERE NR_ATO_DRAWBACK = @NR_ATO_CONC AND
                                               CD_MAT_PRI    = @cd_mat_pri   AND
                                               CD_MERCADORIA = @cd_mercadoria ), 0 )
          
      SELECT @conta_imp = ( ( @qt_imp_realiz * 100 ) / @qt_imp )
    
      SELECT @soma_imp = @soma_imp + @conta_imp
      SELECT @cont_imp = @cont_imp + 1
 
      
      FETCH cursor_mat_pri INTO @cd_mat_pri, @qt_imp
    END
    CLOSE cursor_mat_pri
    DEALLOCATE cursor_mat_pri
  

    FETCH cursor_merc INTO @cd_mercadoria, @qt_exp
  END
  CLOSE cursor_merc
  DEALLOCATE cursor_merc


  --resultados prontos
  SELECT @prev_imp   = 100
  SELECT @realiz_imp = @soma_imp / @cont_imp
  SELECT @falta_imp  = @prev_imp - @realiz_imp



--calcula os valores do ato concessorio
SELECT @prev_ato   = 100
SELECT @realiz_ato = ( @realiz_exp + @realiz_imp ) / 2 



--insere os valores na tabela de graficos
INSERT INTO TGRAFICO_SUSPENSAO 
            ( NR_IDENTIFICADOR, PREVISTO_EXP, REALIZADO_EXP, FALTANDO_EXP, PREVISTO_IMP, 
              REALIZADO_IMP, FALTANDO_IMP, PREVISTO_ATO, REALIZADO_ATO )
     VALUES ( @nr_identificador, @prev_exp, @realiz_exp, @falta_exp, @prev_imp, 
              @realiz_imp, @falta_imp, @prev_ato, @realiz_ato )

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
