USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_atz_dt_vencto_da Script Date: 01/02/1999 12:33:42 PM ******/
CREATE PROCEDURE [sp_atz_dt_vencto_da]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo CHAR(18)
SELECT  @nr_processo = '0101I0-0088-03'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_vencto_da datetime
DECLARE @maior_data   datetime

SELECT @maior_data = ISNULL( MAX( DT_VENCTO_DA ), 0 )
FROM   TDA_VENCTO
WHERE  NR_PROCESSO = @nr_processo

IF ( @maior_data <> 0 )
BEGIN
  IF ( SELECT COUNT(*)
       FROM   TDA
       WHERE  NR_PROCESSO = @nr_processo ) > 0
    UPDATE TDA
    SET    DT_VENCTO_DA = @maior_data
    WHERE  NR_PROCESSO = @nr_processo
END     
ELSE
BEGIN
  SELECT @dt_vencto_da = CONVERT( datetime, SUBSTRING( DT_REGISTRO_DI, 1, 2 ) + '/' +
                                            SUBSTRING( DT_REGISTRO_DI, 3, 2 ) + '/' +
                                            SUBSTRING( DT_REGISTRO_DI, 5, 4 ), 103 ) + 360
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo

  IF ( SELECT COUNT(*)
       FROM   TDA
       WHERE  NR_PROCESSO = @nr_processo ) > 0
    UPDATE TDA
    SET    DT_VENCTO_DA = @dt_vencto_da
    WHERE  NR_PROCESSO = @nr_processo
END     


GO
