USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_GERA_ID_ARQUIVO_RE_NOVOEX](@NR_PROCESSO CHAR(18), @NR_PROCESSO_COMPLEMENTO CHAR(3), @ID_ARQUIVO VARCHAR(9) OUTPUT) AS
BEGIN
    /*
    DECLARE @NR_PROCESSO             CHAR(18)
    DECLARE @NR_PROCESSO_COMPLEMENTO CHAR(3)
    DECLARE @ID_ARQUIVO              VARCHAR(9)

    SET @NR_PROCESSO             = '0102EM-5652-10'
    SET @NR_PROCESSO_COMPLEMENTO = '001'

    BEGIN TRAN
    --*/
    /*SELECT @ID_ARQUIVO = RIGHT(YEAR(GETDATE()) - 1, 2) + LEFT(@NR_PROCESSO, 2) + RIGHT('0000' + CONVERT(VARCHAR, ISNULL(MAX(ISNULL(CONVERT(INT, RIGHT(ID_ARQUIVO_NOVOEX, 5)), 0)), 0) + 10), 5)
    FROM TRE_CAPA
    WHERE LEFT(ID_ARQUIVO_NOVOEX, 4) = RIGHT(YEAR(GETDATE() - 1), 2) + LEFT(@NR_PROCESSO, 2)*/

    SELECT @ID_ARQUIVO = RIGHT(YEAR(GETDATE()) - 1, 2) + CD_UNID_NEG + RIGHT('00000' + CONVERT(VARCHAR, CONVERT(INT, RIGHT(ID_ARQUIVO_NOVOEX, 5)) + 1), 5)
    FROM TUNID_NEG
    WHERE CD_UNID_NEG = LEFT(@NR_PROCESSO, 2)
      AND LEFT(ID_ARQUIVO_NOVOEX, 2) = RIGHT(YEAR(GETDATE()) - 1, 2)

    IF @ID_ARQUIVO IS NULL
        SET @ID_ARQUIVO = RIGHT(YEAR(GETDATE()) - 1, 2) + LEFT(@NR_PROCESSO, 2) + '00001'

    UPDATE TUNID_NEG
    SET ID_ARQUIVO_NOVOEX = @ID_ARQUIVO
    WHERE CD_UNID_NEG = LEFT(@NR_PROCESSO, 2)

    UPDATE TRE_CAPA
    SET ID_ARQUIVO_NOVOEX         = @ID_ARQUIVO
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    /*
    SELECT @ID_ARQUIVO, ID_ARQUIVO_NOVOEX
    FROM TRE_CAPA
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
    
    ROLLBACK
    --*/
END

GO
