USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
--RELATÓRIO É BASEADO NA DATA DE EMBARQUE E NO ARMAZEM DE ATRACAÇÃO

CREATE  PROC [sp_rel_est_qt_cntr] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                               @cd_area char(2), @cd_grupo_area char(3), @dt_inicio datetime, @dt_fim datetime, 
                               @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_area	  char(2) 
DECLARE @cd_grupo_area    char(3)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg    = '02'
SELECT @cd_produto     = '01'
SELECT @cd_grupo       = '002'
SELECT @cd_cliente     = 'X'
SELECT @cd_area        = 'X'
SELECT @cd_grupo_area  = 'X'
SELECT @dt_inicio      = CONVERT( datetime, '01/11/2004', 103 )
SELECT @dt_fim         = CONVERT( datetime, '31/12/2004', 103 )
--*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_EST_QT_CNTR

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

INSERT TREL_EST_QT_CNTR( NR_IDENTIFICADOR, CD_CLIENTE, CD_MARGEM, TP_CNTR, QT_CNTR )
SELECT @nr_identificador, P.CD_CLIENTE, A.CD_MARGEM, C.TP_CNTR, COUNT( C.TP_CNTR ) AS QT_CNTR
FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TTP_CNTR T (NOLOCK), TEMPRESA_NAC E (NOLOCK), 
       TFOLLOWUP F (NOLOCK), TARMAZEM A (NOLOCK), TAREA R (NOLOCK)
WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
       C.TP_CNTR     = T.TP_CNTR AND
       P.CD_CLIENTE  = E.CD_EMPRESA AND
       P.NR_PROCESSO = F.NR_PROCESSO AND
       P.CD_ARMAZEM_ATRACACAO *= A.CD_ARMAZEM AND
       R.CD_AREA = P.CD_AREA AND
       F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK)) AND 
       P.CD_PRODUTO IN ( '02', '10' )  AND
       F.IN_APLICAVEL = '1' AND
       P.IN_CANCELADO = '0' AND
       ISNULL( C.TP_CNTR, '' ) NOT IN ( '', '01' ) AND --PIER
       ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
       ( ( P.CD_PRODUTO  = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND       ( ( R.CD_AREA = @cd_area )  OR ( @cd_area = 'X' ) ) AND
       ( ( R.NM_GRUPO = @cd_grupo_area ) OR ( @cd_grupo_area = 'X' ) )AND
       F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
       ISNULL( P.CD_ARMAZEM_ATRACACAO, '' ) <> ''
GROUP BY P.CD_CLIENTE, A.CD_MARGEM, C.TP_CNTR


INSERT TREL_EST_QT_CNTR( NR_IDENTIFICADOR, CD_CLIENTE, CD_MARGEM, TP_CNTR, QT_CNTR )
SELECT @nr_identificador, P.CD_CLIENTE, A.CD_MARGEM, C.TP_CNTR, COUNT( C.TP_CNTR ) AS QT_CNTR
FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TTP_CNTR T (NOLOCK), TEMPRESA_NAC E (NOLOCK), 
       TFOLLOWUP F (NOLOCK), TARMAZEM A (NOLOCK), TAREA R (NOLOCK)
WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
       C.TP_CNTR     = T.TP_CNTR AND
       P.CD_CLIENTE  = E.CD_EMPRESA AND
       P.NR_PROCESSO = F.NR_PROCESSO AND
       P.CD_ARMAZEM_ATRACACAO *= A.CD_ARMAZEM AND
       R.CD_AREA = P.CD_AREA AND
       F.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK)) AND 
       P.CD_PRODUTO IN ( '01', '03' ) AND 
       F.IN_APLICAVEL = '1' AND
       P.IN_CANCELADO = '0' AND
       ISNULL( C.TP_CNTR, '' ) NOT IN ( '', '01' ) AND --PIER
       ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
       ( ( P.CD_PRODUTO  = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND       ( ( R.CD_AREA = @cd_area )  OR ( @cd_area = 'X' ) ) AND
       ( ( R.NM_GRUPO = @cd_grupo_area ) OR ( @cd_grupo_area = 'X' ) )AND
       F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
       ISNULL( P.CD_ARMAZEM_ATRACACAO, '' ) <> ''
GROUP BY P.CD_CLIENTE, A.CD_MARGEM, C.TP_CNTR

/*
INSERT TREL_EST_QT_CNTR( NR_IDENTIFICADOR, CD_CLIENTE, CD_MARGEM, TP_CNTR, QT_CNTR )
SELECT @nr_identificador, P.CD_CLIENTE, A.CD_MARGEM, C.TP_CNTR, COUNT( C.TP_CNTR ) AS QT_CNTR
FROM   TPROCESSO_CNTR C, TPROCESSO P, TTP_CNTR T, TEMPRESA_NAC E, TFOLLOWUP F, TARMAZEM A
WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
       C.TP_CNTR = T.TP_CNTR AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       P.NR_PROCESSO = F.NR_PROCESSO AND
       P.CD_ARMAZEM_ATRACACAO = A.CD_ARMAZEM AND
       F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS ) AND
       F.IN_APLICAVEL = '1' AND
       P.CD_PRODUTO IN ( '02', '10' ) AND
       P.IN_CANCELADO = '0' AND
       ISNULL( C.TP_CNTR, '' ) NOT IN ( '', '01' ) AND --PIER
       ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
       ( ( P.CD_PRODUTO  = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
       ISNULL( P.CD_ARMAZEM_ATRACACAO, '' ) <> ''
GROUP BY P.CD_CLIENTE, A.CD_MARGEM, C.TP_CNTR
*/

/*       
ROLLBACK TRAN
SET XACT_ABORT ON
--*/







GO
