USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_atz_ev_flp_po_item] ( @nr_processo char(18), @cd_empresa char(5), @nr_item char(3) ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @nr_processo char(18),
  @cd_empresa char(5),
  @nr_item char(3)
SET @nr_processo = '4500181714'
SEt @cd_empresa = ''
SET @nr_item = '001'
--*/
SET NOCOUNT ON
DECLARE
  @nr_ordem int,
  @cd_evento char(3),
  @cd_servico char(3)

SELECT @cd_servico = CD_SERVICO
FROM TPO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo
  AND CD_EMPRESA  = @cd_empresa

DELETE TFLP_PO_ITEM
WHERE NR_PROCESSO = @nr_processo
  AND CD_EMPRESA  = @cd_empresa
  AND NR_ITEM     = @nr_item
  AND CD_EVENTO NOT IN (SELECT CD_EVENTO FROM TSERVICO_EVENTO (NOLOCK) WHERE CD_SERVICO = @cd_servico)

DECLARE cEventos CURSOR FOR
  SELECT NR_ORDEM, CD_EVENTO
  FROM TSERVICO_EVENTO (NOLOCK)
  WHERE CD_SERVICO = @cd_servico

OPEN cEventos
FETCH cEventos INTO @nr_ordem, @cd_evento

WHILE @@fetch_status = 0
BEGIN
  IF NOT EXISTS (SELECT * FROM TFLP_PO_ITEM (NOLOCK) WHERE NR_PROCESSO = @nr_processo AND CD_EMPRESA  = @cd_empresa AND NR_ITEM = @nr_item AND NR_ORDEM = @nr_ordem AND CD_EVENTO = @cd_evento )
  BEGIN
    IF NOT EXISTS (SELECT * FROM TFLP_PO_ITEM (NOLOCK) WHERE NR_PROCESSO = @nr_processo AND CD_EMPRESA  = @cd_empresa AND NR_ITEM = @nr_item AND NR_ORDEM = @nr_ordem)
    BEGIN
      IF NOT EXISTS (SELECT * FROM TFLP_PO_ITEM (NOLOCK) WHERE NR_PROCESSO = @nr_processo AND CD_EMPRESA  = @cd_empresa AND NR_ITEM = @nr_item AND CD_EVENTO = @cd_evento)
      BEGIN
        INSERT TFLP_PO_ITEM (NR_PROCESSO, CD_EMPRESA, NR_ITEM, CD_EVENTO, IN_APLICAVEL, NR_ORDEM)
        VALUES (@nr_processo, @cd_empresa, @nr_item, @cd_evento, '1', @nr_ordem)
      END
      ELSE
      BEGIN
        UPDATE TFLP_PO_ITEM SET NR_ORDEM = @nr_ordem
        WHERE NR_PROCESSO = @nr_processo 
          AND CD_EMPRESA  = @cd_empresa
          AND NR_ITEM     = @nr_item
          AND CD_EVENTO   = @cd_evento      
      END
    END
    ELSE
    BEGIN
      IF EXISTS (SELECT * FROM TFLP_PO_ITEM (NOLOCK) WHERE NR_PROCESSO = @nr_processo AND CD_EMPRESA  = @cd_empresa AND NR_ITEM = @nr_item AND CD_EVENTO = @cd_evento)
      BEGIN
        UPDATE TFLP_PO_ITEM SET NR_ORDEM = @nr_ordem
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EMPRESA  = @cd_empresa
          AND NR_ITEM     = @nr_item
          AND CD_EVENTO   = @cd_evento      
      END
    END
  END
  FETCH cEventos INTO @nr_ordem, @cd_evento
END

CLOSE cEventos
DEALLOCATE cEventos

SET NOCOUNT OFF
/*
select * from tflp_po_item (nolock) where nr_processo = @nr_processo and cd_empresa  = @cd_empresa and nr_item = @nr_item
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

GO
