USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_da_lote Script Date: 01/02/1999 12:33:42 PM ******/
CREATE PROCEDURE [sp_atz_da_lote]  ( @nr_processo char(18), @cd_evento char(3) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo   char(18)
DECLARE @cd_evento     char(3)

SELECT  @nr_processo   = '0101I0-0088-03'
SELECT  @cd_evento     = '032'
SELECT  @dt_realizacao = CONVERT( datetime, '08/04/2003', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_realizacao datetime,
	@cd_ev_espera_navio CHAR(3),
	@cd_ev_ent CHAR(3),
	@cd_ev_desova CHAR(3),
	@cd_ev_reg_di CHAR(3),
	@cd_ev_ci CHAR(3)        

 
SELECT @cd_ev_espera_navio = CD_EV_ESPERA_NAVIO, @cd_ev_ent = CD_EV_ENT, @cd_ev_desova = CD_EV_DESOVA, 
       @cd_ev_reg_di = CD_EV_REG_DI, @cd_ev_ci = CD_EV_CI
FROM TPARAMETROS (NOLOCK)

DECLARE c_atz_da_lote CURSOR FOR 
  SELECT CD_EVENTO, DT_REALIZACAO
  FROM   TFOLLOWUP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo AND
         ( ( CD_EVENTO = @cd_evento ) OR 
	 ( CD_EVENTO IN (  @cd_ev_espera_navio, @cd_ev_ent, @cd_ev_desova, @cd_ev_reg_di, @cd_ev_ci )))
  ORDER BY NR_ORDEM

OPEN c_atz_da_lote
FETCH c_atz_da_lote INTO @cd_evento, @dt_realizacao
WHILE @@fetch_status = 0 
BEGIN
  -- Data de Espera Navio para Atualização de Saldo do Entreposto
  IF @cd_evento = @cd_ev_espera_navio AND
     SUBSTRING( @nr_processo, 3, 4 ) IN ( '01IE', '01DD' ) AND
     ISNULL( @dt_realizacao, 0 ) <> 0
  BEGIN
    UPDATE TDA_LOTE
    SET    QT_TRANSITO    = ISNULL( QT_LOTE, 0 ),
           PL_TRANSITO    = ISNULL( PL_LOTE, 0 ),
           QT_AG_DESOVA   = 0,
           PL_AG_DESOVA   = 0,
           QT_AG_REGISTRO = 0,
           PL_AG_REGISTRO = 0,
           QT_AG_DESEMB   = 0,
           PL_AG_DESEMB   = 0,
           QT_FISICA      = 0,
           PL_FISICA      = 0,
           QT_DISPONIVEL  = 0,
           PL_DISPONIVEL  = 0
    WHERE  NR_PROCESSO    = @nr_processo
  END

  -- Data de Entrada Navio para Atualização de Saldo do Entreposto
  IF @cd_evento = @cd_ev_ent AND
     SUBSTRING( @nr_processo, 3, 4 ) IN ( '01IE', '01DD' ) AND
     ISNULL( @dt_realizacao, 0 ) <> 0
  BEGIN
    UPDATE TDA_LOTE
    SET    QT_TRANSITO    = 0,
           PL_TRANSITO    = 0,
           QT_AG_DESOVA   = ISNULL( QT_LOTE, 0 ),
           PL_AG_DESOVA   = ISNULL( PL_LOTE, 0 ),
           QT_AG_REGISTRO = 0,
           PL_AG_REGISTRO = 0,
           QT_AG_DESEMB   = 0,
           PL_AG_DESEMB   = 0,
           QT_FISICA      = 0,
           PL_FISICA      = 0,
           QT_DISPONIVEL  = 0,
           PL_DISPONIVEL  = 0
    WHERE  NR_PROCESSO    = @nr_processo
  END

  -- Data de Desova para Atualização de Saldo do Entreposto
  IF @cd_evento = @cd_ev_desova AND
     SUBSTRING( @nr_processo, 3, 4 ) IN ( '01IE', '01DD' ) AND
     ISNULL( @dt_realizacao, 0 ) <> 0
  BEGIN
    UPDATE TDA_LOTE
    SET    QT_TRANSITO    = 0,
           PL_TRANSITO    = 0,
           QT_AG_DESOVA   = 0,
           PL_AG_DESOVA   = 0,
           QT_AG_REGISTRO = ISNULL( QT_LOTE, 0 ),
           PL_AG_REGISTRO = ISNULL( PL_LOTE, 0 ),
           QT_AG_DESEMB   = 0,
           PL_AG_DESEMB   = 0,
           QT_FISICA      = ISNULL( QT_LOTE, 0 ),
           PL_FISICA      = ISNULL( PL_LOTE, 0 ),
           QT_DISPONIVEL  = 0,
           PL_DISPONIVEL  = 0
    WHERE  NR_PROCESSO    = @nr_processo
  END

  -- Data de Registro para Atualização de Saldo do Entreposto 
  IF @cd_evento = @cd_ev_reg_di AND
     SUBSTRING( @nr_processo, 3, 4 ) IN ( '01IE', '01DD' ) AND
     ISNULL( @dt_realizacao, 0 ) <> 0
  BEGIN
    UPDATE TDA_LOTE
    SET    QT_TRANSITO    = 0,
           PL_TRANSITO    = 0,
           QT_AG_DESOVA   = 0,
           PL_AG_DESOVA   = 0,
           QT_AG_REGISTRO = 0,
           PL_AG_REGISTRO = 0,
           QT_AG_DESEMB   = ISNULL( QT_LOTE, 0 ),
           PL_AG_DESEMB   = ISNULL( PL_LOTE, 0 ),
           QT_DISPONIVEL  = 0,
           PL_DISPONIVEL  = 0
    WHERE  NR_PROCESSO    = @nr_processo
  END

  -- Data de Recebimento da CI para Atualização de Saldo do Entreposto
  IF @cd_evento = @cd_ev_ci AND
     SUBSTRING( @nr_processo, 3, 4 ) IN ( '01IE', '01DD' ) AND
     ISNULL( @dt_realizacao, 0 ) <> 0
  BEGIN
    UPDATE TDA_LOTE
    SET    QT_TRANSITO    = 0,
           PL_TRANSITO    = 0,
           QT_AG_DESOVA   = 0,
           PL_AG_DESOVA   = 0,
           QT_AG_REGISTRO = 0,
           PL_AG_REGISTRO = 0,
           QT_AG_DESEMB   = 0,
           PL_AG_DESEMB   = 0,
           QT_DISPONIVEL  = ISNULL( QT_LOTE, 0 ) - ISNULL( QT_AVARIA, 0 ) - ISNULL( QT_NAC, 0 ) + ISNULL( QT_AVARIA_LIB, 0 ),
           PL_DISPONIVEL  = ISNULL( PL_LOTE, 0 ) - ISNULL( PL_AVARIA, 0 ) - ISNULL( PL_NAC, 0 ) + ISNULL( PL_AVARIA_LIB, 0 )
    WHERE  NR_PROCESSO    = @nr_processo
  END

  FETCH c_atz_da_lote INTO @cd_evento, @dt_realizacao
END
CLOSE c_atz_da_lote
DEALLOCATE c_atz_da_lote






GO
