USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.sp_calc_ii    Script Date: 22/11/1998 10:59:48 ******/
CREATE PROCEDURE [sp_calc_ii] ( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_base_calc char(1)
-- SELECIONA O II DE ACORDO COM O PROCESSO/PREVISAO
IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  SELECT @cd_base_calc = '0'
  SELECT @Resultado = ISNULL( VL_II_MN, 0)
  FROM   TPROCESSO (NOLOCK)
  WHERE  ( NR_PROCESSO = @nr_processo ) 
END
ELSE
BEGIN
  SELECT @cd_base_calc = '1'
  SELECT @Resultado = SUM( ISNULL( VL_II, 0) )
  FROM   TPREVISAO_ADICAO (NOLOCK)
  WHERE  ( NR_PROCESSO = @nr_processo ) 
END

IF ISNULL(@Resultado, 0) = 0
    SELECT @Resultado = SUM(ISNULL(VL_II_REAIS, 0))
    FROM TPRE_CALCULO_ADICAO (NOLOCK)
    WHERE (NR_PROCESSO = @nr_processo)

IF @Resultado > 0
BEGIN
  -- ATRIBUI PARA O PARAMETRO DE SAIDA O VALOR DO II
  RETURN(0)
END
ELSE
BEGIN
  DECLARE @CONTADOR INT
  SELECT @CONTADOR = COUNT(*)
  FROM   TNUMERARIO_ITEM_SOLIC (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = ( SELECT CD_ITEM_II FROM TPARAMETROS (NOLOCK)) AND
         TP_DESTINO = '1'
  IF @CONTADOR = 0
  BEGIN
    -- Processo/Previsao nao Localizado e II não informado
    SELECT @resultado = 0
    IF @cd_base_calc = '0' RETURN(1)
    ELSE RETURN(2)
  END
  ELSE
  BEGIN
    SELECT @resultado = ISNULL( ROUND( VL_RECEBIDO, 2 ), 0 )
    FROM   TNUMERARIO_ITEM_SOLIC (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_ITEM = ( SELECT CD_ITEM_II FROM TPARAMETROS (NOLOCK))
    RETURN(0)
  END
END






GO
