USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_num_cpmf] ( @nr_processo CHAR(18), @nr_solic CHAR(03) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo CHAR(18)
DECLARE @nr_solic    CHAR(03)

SELECT @nr_processo = '0101IN-0846-01'
SELECT @nr_solic    = '001'
--*/

DECLARE @cd_item_cpmf           char(03)
DECLARE @tx_cpmf                float
DECLARE @vl_solic               float
DECLARE @vl_cpmf                float
DECLARE @lancto                 char(03)
DECLARE @cd_banco               char(03)
DECLARE @cd_cliente             char(05)
DECLARE @cd_unid_neg            char(02)
DECLARE @cd_produto             char(02)
DECLARE @cd_servico             char(03)
DECLARE @nr_lanc                int
DECLARE @vl_solicitado          float
DECLARE @in_arredonda_cpmf_item char(1)

SELECT @cd_item_cpmf = CD_ITEM_CPMF,
       @in_arredonda_cpmf_item = IN_ARREDONDA_CPMF_ITEM
FROM   TPARAMETROS

SELECT @tx_cpmf = PC_TAXA 
FROM   TTAXA_CPMF
WHERE  DT_FIM >= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )

SELECT @cd_unid_neg = CD_UNID_NEG,
       @cd_produto  = CD_PRODUTO,
       @cd_cliente  = CD_CLIENTE,
       @cd_servico  = CD_SERVICO
FROM   TPROCESSO 
WHERE  NR_PROCESSO  = @nr_processo

SELECT @cd_banco = CD_BANCO_COM 
FROM   TCLIENTE_SERVICO 
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO  = @cd_produto  AND
       CD_CLIENTE  = @cd_cliente  AND
       CD_SERVICO  = @cd_servico

/* Zera CPMF */
UPDATE TNUMERARIO_ITEM_SOLIC
SET    VL_SOLICITADO     = 0,
       VL_ITEM_CALCULADO = 0
WHERE  NR_PROCESSO    = @nr_processo AND 
       NR_SOLICITACAO = @nr_solic    AND 
       CD_ITEM        = @cd_item_cpmf

DECLARE c_cursor CURSOR FOR 
  SELECT N.VL_SOLICITADO
  FROM   TNUMERARIO_ITEM_SOLIC N, TITEM I
  WHERE  N.NR_PROCESSO    = @nr_processo  AND
         N.NR_SOLICITACAO = @nr_solic     AND
         N.CD_ITEM       <> @cd_item_cpmf AND
         N.TP_DESTINO NOT IN ( '0','1' )  AND
         I.IN_CPMF        = '1'           AND
         N.CD_ITEM      = I.CD_ITEM    

SELECT @nr_lanc = MAX( NR_LANCAMENTO )
FROM   TNUMERARIO_ITEM_SOLIC
WHERE  NR_PROCESSO    = @nr_processo AND
       NR_SOLICITACAO = @nr_solic

IF ISNULL( @nr_lanc,0 ) = 0 
  SELECT @nr_lanc = 1
ELSE
  SELECT @nr_lanc = @nr_lanc + 1

SELECT @lancto = RIGHT( '000' + RTRIM( CONVERT( char(3), @nr_lanc ) ) , 3)

/* Calcula CPMF */
OPEN c_cursor 
FETCH c_cursor INTO @vl_solic
WHILE @@fetch_status <> - 1 
BEGIN
  IF @in_arredonda_cpmf_item = '1'
     SELECT @vl_cpmf = ROUND( ( @vl_solic / 100 ) * @tx_cpmf, 2 )
  ELSE
     SELECT @vl_cpmf = ( @vl_solic / 100 ) * @tx_cpmf

  IF ( SELECT COUNT(*)
       FROM   TNUMERARIO_ITEM_SOLIC
       WHERE  NR_PROCESSO    = @nr_processo AND 
              NR_SOLICITACAO = @nr_solic    AND               
              CD_ITEM        = @cd_item_cpmf ) > 0
  BEGIN
    UPDATE TNUMERARIO_ITEM_SOLIC
    SET    VL_SOLICITADO     = ISNULL( VL_SOLICITADO,0 )     + @vl_cpmf, 
           VL_ITEM_CALCULADO = ISNULL( VL_ITEM_CALCULADO,0 ) + @vl_cpmf
    WHERE  NR_PROCESSO    = @nr_processo AND 
           NR_SOLICITACAO = @nr_solic    AND 
           CD_ITEM        = @cd_item_cpmf  
  END
  ELSE
  BEGIN
    INSERT TNUMERARIO_ITEM_SOLIC 
    VALUES( @nr_processo, @nr_solic, @lancto, @cd_item_cpmf, NULL, 'A', @cd_banco, @vl_cpmf,
            @vl_cpmf, 'A', 0, 0, 0, '2', NULL )
  END
  
  FETCH c_cursor INTO @vl_solic
END
CLOSE c_cursor
DEALLOCATE c_cursor

SELECT @vl_solicitado = SUM( ISNULL( CONVERT( numeric(14,2), VL_SOLICITADO), 0 ) ) 
FROM   TNUMERARIO_ITEM_SOLIC
WHERE  ( NR_PROCESSO = @nr_processo ) AND
       ( NR_SOLICITACAO = @nr_solic ) AND
       ( TP_DESTINO IN ('2', '3', '4') )

UPDATE TNUMERARIO 
SET    VL_SOLICITADO = ISNULL( @vl_solicitado, 0 )
FROM   TNUMERARIO
WHERE  ( NR_PROCESSO = @nr_processo ) AND
       ( NR_SOLICITACAO = @nr_solic ) AND
       ( IN_EMITIDO = '0' ) AND
       ( CD_STATUS IN ( 'A', 'B' ) )

DELETE FROM TNUMERARIO_ITEM_SOLIC 
WHERE  NR_PROCESSO    = @nr_processo  AND
       NR_SOLICITACAO = @nr_solic     AND
       CD_ITEM        = @cd_item_cpmf AND
       VL_SOLICITADO  = 0   

/*
SELECT * FROM TNUMERARIO_ITEM_SOLIC
WHERE NR_PROCESSO    = @nr_processo AND
      NR_SOLICITACAO = @nr_solic

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/


GO
