USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_pe_estorno_exp]( @nr_proc_controle char(18), @nr_proc_pe char(18), @cd_unid_neg char(2) ) AS

DECLARE @nr_Processo char(18)

-- ITEM DA EXP
DECLARE @cNR_PROCESSO char(18)
DECLARE @cNR_ITEM char(3)
DECLARE @nQT_MERCADORIA float
DECLARE @cnr_proc_pe char(18)
DECLARE @cnr_item_pe char(3)

DECLARE @nQtde integer
DECLARE @nNrItem integer
DECLARE @lEntrou bit
DECLARE @nTotItem1 integer
DECLARE @nTotItem2 integer
DECLARE @nQtDisp float
DECLARE @nQtBai float

DECLARE @i_item integer 
DECLARE @nr_Item char(3)
DECLARE @s_item char(3)

DECLARE @nQtBaixada float
DECLARE @nNum integer

DECLARE c_EXP_ITEM CURSOR FOR
 SELECT NR_PROCESSO, 
        NR_ITEM,
        IsNull(QT_MERCADORIA, 0), 
        IsNull(nr_proc_pe,''),
        IsNull(nr_item_pe,'')
 FROM TPROCESSO_EXP_ITEM
 WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) AND 
       (nr_proc_pe  = @nr_proc_pe)

OPEN c_EXP_ITEM 
FETCH c_EXP_ITEM
  INTO @cNR_PROCESSO, @cNR_ITEM, @nQT_MERCADORIA, @cnr_proc_pe, @cnr_item_pe

SELECT @lEntrou = 0
SELECT @nNum  = 0

WHILE @@fetch_status <> -1
BEGIN

  SELECT @nQtde = COUNT(*) 
    FROM TPROCESSO_EXP_ITEM
    WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) AND
          (nr_proc_pe  = @nr_proc_pe)

  SELECT @nNum = @nNum + 1
  SELECT @nNrItem = @nNum

  SELECT @nQtBaixada = QT_MERCADORIA,
         @nQtDisp = QT_DISPONIVEL,
         @nQtBai  = QT_BAIXADA
    FROM TPE_ITEM
    WHERE (NR_PROCESSO = @NR_PROC_PE) AND
          (NR_ITEM = @cNR_ITEM_PE) AND
          (CD_UNID_NEG = @cd_unid_neg)

  UPDATE TPE_ITEM 
    SET QT_BAIXADA = (@nQtBai - @nQt_MERCADORIA),
        QT_DISPONIVEL = (@nQT_MERCADORIA + @nQtDisp),
        IN_SELECIONADO = '0',
        IN_MONTADO = '0' 
  WHERE (NR_PROCESSO = @nr_proc_pe) AND
        (NR_ITEM = @cnr_item_pe) AND
        (CD_UNID_NEG = @cd_unid_neg) 

  IF (@nQt_MERCADORIA+@nQtDisp) = @nQtBaixada
     UPDATE TPE_ITEM 
       SET QT_DISPONIVEL = 0
       WHERE (NR_PROCESSO = @nr_proc_pe)  AND
             (NR_ITEM = @cnr_item_pe) AND
             (CD_UNID_NEG = @cd_unid_neg) 

  IF @nQtde = @nNrItem 
  BEGIN
    SELECT @nNum = 0

    SELECT @nTotItem1 = COUNT(*) 
      FROM TPROCESSO_EXP_ITEM 
      WHERE (NR_PROCESSO = @NR_PROC_CONTROLE)

    SELECT @nTotItem2 = COUNT(*) 
      FROM TPROCESSO_EXP_ITEM
      WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) AND 
            (nr_proc_pe = @nr_proc_pe)

    DELETE FROM TPROCESSO_EXP_ITEM  
           WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) AND
                 (nr_proc_pe  = @nr_proc_pe)

    IF (@nTotItem1 = @nTotItem2) AND (@nTotItem1 <> 0)
    BEGIN
       DELETE FROM TPROCESSO_EXP_DESP WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) 
    END   
  END

  SELECT @lEntrou = 1

  FETCH c_EXP_ITEM INTO 
       @cNR_PROCESSO, @cNR_ITEM, @nQT_MERCADORIA, @cnr_proc_pe, @cnr_item_pe

END

CLOSE c_EXP_ITEM
DEALLOCATE c_EXP_ITEM

IF @lEntrou = 1
BEGIN

  SELECT @nQtBaixada = 0

  SELECT @cnr_proc_pe = nr_proc_pe, 
         @cnr_item_pe = nr_item_pe,
         @nQT_MERCADORIA = QT_MERCADORIA 
    FROM TPROCESSO_EXP_ITEM  
    WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) AND
          (nr_proc_pe  = @nr_proc_pe) 

/* 
  SELECT @nQtBaixada = QT_MERCADORIA,
         @nQtDisp = QT_DISPONIVEL,
         @nQtBai  = QT_BAIXADA
    FROM TPE_ITEM
    WHERE (NR_PROCESSO = @NR_PROC_PE) AND
          (NR_ITEM = @cNR_ITEM_PE)

  UPDATE TPE_ITEM 
    SET QT_BAIXADA = (@nQtBai - @nQt_MERCADORIA),
        QT_DISPONIVEL = (@nQT_MERCADORIA + @nQtDisp),
        IN_SELECIONADO = '0',
        IN_MONTADO = '0' 
  WHERE (NR_PROCESSO = @nr_proc_pe) AND
        (NR_ITEM = @cnr_item_pe)
*/

  DELETE FROM TPROCESSO_EXP_ITEM
      WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) AND
            (nr_proc_pe  = @nr_proc_pe) 

  IF (SELECT COUNT(*)
        FROM TPROCESSO_EXP_ITEM
        WHERE (NR_PROCESSO = @NR_PROC_CONTROLE)) > 0 
  BEGIN
    -- RENUMERA ITENS 
    DECLARE c_itens CURSOR FOR 
      SELECT NR_ITEM 
      FROM TPROCESSO_EXP_ITEM  
      WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) 
    SELECT @i_item = 0

    OPEN c_itens 
    FETCH c_itens INTO @nr_item
    WHILE @@fetch_status <> -1
    BEGIN
      SELECT @i_item = @i_item + 1
      SELECT @s_item = CONVERT( char(3), @i_item )
      SELECT @s_item = RIGHT( ( '000' + rtrim( @s_item ) ), 3 )

      UPDATE TPROCESSO_EXP_ITEM
        SET NR_ITEM = @s_item 
        WHERE CURRENT OF c_itens

      FETCH c_itens INTO @nr_item
    END

    CLOSE c_itens 
    DEALLOCATE c_itens
  END

  IF (SELECT COUNT(*) 
       FROM TPROCESSO_EXP_ITEM
       WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) ) = 0
  BEGIN 
    DELETE FROM TPROCESSO_EXP      WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) 
    DELETE FROM TPROCESSO_EXP_DESP WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) 
  END

  DECLARE @n1 float
  DECLARE @n2 float
  DECLARE @n3 float
  DECLARE @n4 float
  DECLARE @n5 float
 
  SELECT @n1 = SUM(QT_MERCADORIA), 
         @n2 = SUM(QT_EMBALAGEM), 
         @n3 = SUM(VL_CUBAGEM), 
         @n4 = SUM(VL_TOT_PESO_LIQ),
         @n5 = SUM(VL_TOT_ITEM) 
    FROM TPROCESSO_EXP_ITEM
    WHERE (NR_PROCESSO = @NR_PROC_CONTROLE)

  UPDATE TPROCESSO_EXP
    SET VL_TOT_QTDE_PROD = @n1,
        VL_TOT_QTDE_EMBALAGEM = @n2,
        VL_TOT_CUBAGEM = @n3,
        VL_PESO_LIQUIDO = @n4,
        VL_TOT_EXW = @n5,
        VL_TOT_FOB = @n5,
        VL_TOT_MCV = @n5 + VL_FRETE + VL_SEGURO
    WHERE (NR_PROCESSO = @NR_PROC_CONTROLE) 

END

RETURN(0)



GO
