USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_po_prep_inc_proc]( @nr_processo char(18), @nr_proc_old char(18), @tp_proc integer ) AS

DECLARE @cd_imp char(5)
DECLARE @cd_pais_proc char(3)
DECLARE @cd_moeda_frete char(3)
DECLARE @cd_exp char(5)
DECLARE @cd_pais_aqui char(3)
DECLARE @cd_fabr char(5)
DECLARE @cd_pais_orig char(3)
DECLARE @cd_via_transp char(2)
DECLARE @cd_urf_entr char(7)
DECLARE @cd_urf_desp char(7)
DECLARE @nr_doc_master char(30)
DECLARE @nr_manifesto char(3)
DECLARE @cd_usuario char(4)

SELECT @cd_usuario = ISNULL( CD_USUARIO, '0000' )
FROM   TUSUARIO 
WHERE  AP_USUARIO = SUSER_NAME()

SELECT @cd_imp = CD_IMPORTADOR, 
       @cd_pais_proc = CD_PAIS_PROCEDENCIA, 
       @cd_moeda_frete = CD_MOEDA_FRETE,
       @cd_exp = CD_EXPORTADOR, 
       @cd_pais_aqui = CD_PAIS_AQUISICAO, 
       @cd_fabr = CD_FABRICANTE, 
       @cd_pais_orig = CD_PAIS_ORIGEM, 
       @cd_via_transp = CD_VIA_TRANSP, 
       @cd_urf_entr = CD_URF_ENTRADA, 
       @cd_urf_desp = CD_URF_DESPACHO, 
       @nr_doc_master = NR_DOC_MASTER, 
       @nr_manifesto = NR_MANIFESTO
FROM   TPO 
WHERE  ( NR_PROCESSO = @nr_proc_old ) AND ( CD_USUARIO_MONTA = @cd_usuario )

INSERT TPREPARA_PO
  ( NR_PROCESSO, NR_PROC_OLD, CD_IMPORTADOR, CD_PAIS_PROCEDENCIA, CD_MOEDA_FRETE, CD_EXPORTADOR, CD_PAIS_AQUISICAO, 
    CD_FABRICANTE, CD_PAIS_ORIGEM, CD_VIA_TRANSP, CD_URF_ENTRADA, CD_URF_DESPACHO, NR_CONH_EMBARQUE, 
    NR_MANIFESTO, TP_EMBARQUE, IN_PREPARACAO, CD_USUARIO_MONTA, TP_PROCESSO )
VALUES ( 
  @nr_processo, @nr_proc_old, @cd_imp, @cd_pais_proc, @cd_moeda_frete, @cd_exp, @cd_pais_aqui, 
  @cd_fabr, @cd_pais_orig, @cd_via_transp, @cd_urf_entr, @cd_urf_desp, @nr_doc_master, 
  @nr_manifesto, '1', '0', @cd_usuario, @tp_proc )






GO
