USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_notificacao](@nr_processo char(18),     
                           @cd_banco char(3),     
                           @cd_usuario char(4),                               
                           @cd_via_transp char(2),     
                           @dt_movimento datetime,     
                           @nr_notificacao char(3) output)AS    
    
/*      
  
BEGIN TRAN      
DECLARE @nr_processo char(18)      
DECLARE @cd_banco char(3)      
DECLARE @cd_usuario char(4)      
DECLARE @cd_via_transp char(2)      
DECLARE @dt_movimento datetime      
DECLARE  @nr_notificacao char(3)      
      
SET @nr_processo =  '0103FI-0022-06'      
SET @cd_banco = '001'      
SET @cd_usuario = '0732'      
SET @cd_via_transp = '01'      
SET @dt_movimento = convert(datetime,'04/09/2006',103)      
SET @nr_notificacao = ''      
  
--*/      
      
--DECLARE @nr_notificacao  char(3)      
DECLARE @dt_solicitacao  datetime      
--DECLARE Qtde_frete       int      
DECLARE @tp_produto      char(2)      
DECLARE @cd_desp         CHAR(4)      
DECLARE @cd_item         char(3)      
DECLARE @cd_moeda_venda  char(3)      
DECLARE @cd_moeda_compra char(3)      
DECLARE @vl_venda        decimal(15,2)      
DECLARE @vl_compra       decimal(15,2)      
DECLARE @vl_solic        decimal(15,2)      
DECLARE @vl_CPMF         decimal(15,2)      
DECLARE @cd_item_cpmf    char(3)      
DECLARE @nr_lanc         char(3)      
DECLARE @cd_calc_item    char(2)      
DECLARE @in_cpmf         char(1)      
DECLARE @vl_tt_solic     decimal(15,2)      
DECLARE @cd_item_frete   char(3)      
DECLARE @cd_item_in381   char(3)      
DECLARE @cd_item_comissao char(3)       
DECLARE @vl_frete        decimal(15,2)      
DECLARE @in_cmpf_cliente char(1)      
DECLARE @cd_item_irrf    char(3)      
DECLARE @vl_irrf         decimal(15,2)      
DECLARE @vl_min_irrf     decimal(15,2)      
DECLARE @vl_aliq_irrf    decimal(15,4)      
DECLARE @vl_aliq_in381   decimal(15,2)      
DECLARE @vl_in381        decimal(15,2)      
DECLARE @in_irrf_min     char(1)      
DECLARE @in_irrf_fatura  char(1)      
DECLARE @in_calc_ir      char(1)      
      
SET @vl_cpmf     = 0       
SET @vl_frete    = 0       
SET @vl_tt_solic = 0       
SET @vl_irrf     = 0       
SET @vl_in381    = 0       
       
SELECT @cd_item_cpmf     = CD_ITEM_CPMF,       
       @cd_item_irrf     = CD_ITEM_IR,      
       @vl_aliq_irrf     = VL_ALIQ_IR,      
       @vl_min_irrf      = VL_MIN_IR,      
       @cd_item_comissao = CD_ITEM_COMISSAO,        
--       @cd_item_in381    = CD_ITEM_IN381,       
--       @vl_aliq_in381    = VL_ALIQ_IN381,      
       @cd_item_frete    = CASE      
                            WHEN @cd_via_transp = '01' THEN '475'      
                            ELSE '524' END      
 FROM TPARAMETROS       
      
SELECT @in_irrf_min    = IN_CALCULA_IRRF_VL_MIN,       
       @in_irrf_fatura = CD_IR_FAT      
 FROM TPROCESSO P, TCLIENTE_HABILITACAO C      
WHERE P.NR_PROCESSO = @nr_processo       
  AND P.CD_CLIENTE  = C.CD_CLIENTE      
  AND P.CD_UNID_NEG = C.CD_UNID_NEG      
  AND P.CD_PRODUTO  = C.CD_PRODUTO      
      
SELECT @in_cmpf_cliente = IN_CPMF_NUM      
 FROM TPROCESSO P, TCLIENTE_SERVICO S      
WHERE P.NR_PROCESSO = @nr_processo       
  AND P.CD_CLIENTE  = S.CD_CLIENTE      
  AND P.CD_UNID_NEG = S.CD_UNID_NEG      
  AND P.CD_PRODUTO  = S.CD_PRODUTO      
  AND P.CD_SERVICO  = S.CD_SERVICO      
      
SELECT @nr_notificacao = RIGHT( '000' + CONVERT( varchar, ISNULL (MAX(NR_SOLICITACAO)+ 1 , 1 ) ), 3 )        
 FROM TNUMERARIO_NOTIFICA       
  WHERE NR_PROCESSO = @nr_processo      
      
SELECT D.CD_DESP, D.CD_ITEM, D.TP_BASE_CALCULO, D.CD_MOEDA, D.VL_COMPRA_AG,        
       D.VL_VENDA, D.CD_MOEDA_VENDA, PR.TP_PRODUTO, I.IN_CPMF, I.IN_CALCULA_IR  
  INTO #NOTIFICACAO      
  FROM TPROCESSO_DESPESAS D, TPRODUTO PR , TPROCESSO P, TITEM I       
 WHERE P.NR_PROCESSO = @nr_processo       
   AND P.NR_PROCESSO = D.NR_PROCESSO       
   AND P.CD_PRODUTO  = PR.CD_PRODUTO      
   AND ((PR.TP_PRODUTO = '01' AND (D.IN_MENCIONADO = '1' AND P.TP_FRETE = '0') OR (D.IN_MENCIONADO = '0' AND D.IN_REPASSA = '6'))      
       OR (PR.TP_PRODUTO = '02' AND(D.CD_FRETE = '1') OR (D.IN_MENCIONADO = '0' AND D.IN_REPASSA = '6')))      
   AND D.VL_VENDA > 0  
   AND (ISNULL(D.NR_NOTIFICACAO,'') = '' OR D.NR_NOTIFICACAO = '0')      
   AND D.CD_ITEM = I.CD_ITEM      
      
UPDATE TPROCESSO_DESPESAS      
   SET NR_NOTIFICACAO = @nr_notificacao      
  FROM TPROCESSO_DESPESAS D, #NOTIFICACAO N      
 WHERE D.NR_PROCESSO  = @nr_processo      
   AND D.CD_DESP      = N.CD_DESP      
      
SET @nr_lanc = '001'      
      
WHILE (SELECT COUNT(*) FROM #NOTIFICACAO)> 0       
BEGIN      
  SELECT TOP 1 @cd_desp         = CD_DESP,  @cd_item        = CD_ITEM,        @cd_calc_item = TP_BASE_CALCULO,       
               @cd_moeda_compra = CD_MOEDA, @cd_moeda_venda = CD_MOEDA_VENDA, @tp_produto   = TP_PRODUTO,      
               @vl_venda        = VL_VENDA, @vl_compra      = VL_COMPRA_AG,   @in_cpmf      = IN_CPMF,      
               @in_calc_ir      = IN_CALCULA_IR      
    FROM #NOTIFICACAO       
   
  PRINT '@vl_solic :       ' + CAST(@vl_solic       AS VARCHAR)  
  PRINT '@tp_produto :     ' + CAST(@tp_produto     AS VARCHAR)  
  PRINT '@cd_via_transp :  ' + CAST(@cd_via_transp  AS VARCHAR)  
  PRINT '@cd_moeda_venda : ' + CAST(@cd_moeda_venda AS VARCHAR)  
  PRINT '@vl_venda :       ' + CAST(@vl_venda       AS VARCHAR)  
     
  SET @vl_solic = CASE      
		    WHEN (@tp_produto = '02') AND (@cd_via_transp = '04') AND (@cd_moeda_venda <> '790') THEN       
		          @vl_venda * (SELECT VL_TAXA FROM TTAXA_IATA WHERE CD_MOEDA = @cd_moeda_venda AND DT_INICIO = @dt_movimento)      
		    WHEN (@tp_produto = '01') AND (@cd_moeda_venda <> '790') AND (@cd_via_transp IN ('04', '01'))THEN       
		          @vl_venda * (SELECT VL_TAXA FROM TTAXA_FRETE WHERE CD_MOEDA = @cd_moeda_venda AND DT_INICIO = @dt_movimento)      
		    WHEN (@tp_produto = '02') AND (@cd_via_transp = '01') AND (@cd_moeda_venda <> '790') THEN       
		          @vl_venda * (SELECT VL_TAXA FROM TTAXA_FRETE WHERE CD_MOEDA = @cd_moeda_venda AND DT_INICIO = @dt_movimento)      
		    ELSE  @vl_venda   
		  END         
      
  SET @vl_CPMF = CASE        
                   WHEN (@in_cpmf = '1') AND (@in_cmpf_cliente = '1') then @vl_cpmf + ((@vl_solic * 0.38)/100)      
                   ELSE @vl_cpmf   
                 END      
      
  SET @vl_irrf = CASE      
                   WHEN @in_calc_ir = '1' THEN @vl_irrf + ((@vl_solic * @vl_aliq_irrf)/100)      
                   ELSE @vl_irrf   
   END       
        
  SET @vl_IN381 = CASE      
                    WHEN @cd_item = @cd_item_comissao THEN  @vl_IN381 -((@vl_solic * @vl_aliq_in381)/100)      
                    ELSE @vl_IN381   
     END       
      
--  print 'VALOR cofins/pis/CSLL....'+ CAST(@vl_IN381 AS VARCHAR(10))      
--  print 'VALOR IRRF...............'+ CAST(@vl_irrf AS VARCHAR(10))      
      
  SET @vl_tt_solic = @vl_tt_solic + @vl_solic      
      
  INSERT INTO TNUMERARIO_NOTIFICA_ITEM (NR_PROCESSO, NR_SOLICITACAO, NR_LANCAMENTO, CD_ITEM, CD_BANCO,      
        VL_SOLICITADO, CD_STATUS, VL_RECEBIDO, IN_CANCELADO, TP_DESTINO, CD_MOEDA_COMPRA, CD_MOEDA_VENDA,       
        VL_COMPRA, VL_VENDA)      
  VALUES(@nr_processo, @nr_notificacao, @nr_lanc, @cd_item, @cd_banco, @vl_solic, 'A', 0, '0',       
         '2', @cd_moeda_compra, @cd_moeda_venda, @vl_compra, @vl_venda)      
      
  SET @nr_lanc = RIGHT( '000' + CONVERT( varchar, @nr_lanc + 1  ), 3 )       
  DELETE FROM #NOTIFICACAO WHERE CD_DESP = @cd_desp      
        
 END      
      
DROP TABLE #NOTIFICACAO      
      
      
/*****************NOTIFICACAO DO FRETE ****************/      
      
SELECT @vl_frete = ISNULL(VL_FRETE,0), @vl_compra = ISNULL(VL_RATEIO,0), @cd_moeda_venda = CD_MOEDA_FRETE,      
       @tp_produto = PR.TP_PRODUTO      
  FROM TPROCESSO P, TPRODUTO PR      
 WHERE P.NR_PROCESSO = @nr_processo      
   AND P.CD_PRODUTO = PR.CD_PRODUTO      
   AND ((PR.TP_PRODUTO = '01' AND P.TP_FRETE = '0') OR (PR.TP_PRODUTO = '02' AND P.TP_FRETE = '1'))      
   AND (SELECT COUNT(*)   
          FROM TNUMERARIO_NOTIFICA_ITEM N      
         WHERE N.NR_PROCESSO = P.NR_PROCESSO   
           AND N.CD_ITEM = @cd_item_frete   
           AND N.CD_STATUS IN ('A','B')) = 0       
      
IF @vl_frete > 0       
BEGIN      
      
  SET @vl_solic = ISNULL(CASE      
  WHEN (@tp_produto = '02') AND (@cd_via_transp = '04') AND (@cd_moeda_venda <> '790') THEN       
       @vl_frete * (SELECT VL_TAXA FROM TTAXA_IATA WHERE CD_MOEDA = @cd_moeda_venda AND DT_INICIO = @dt_movimento)      
  WHEN (@tp_produto = '01') AND (@cd_via_transp IN('01', '04'))AND (@cd_moeda_venda <> '790') THEN       
       @vl_frete * (SELECT VL_TAXA FROM TTAXA_FRETE WHERE CD_MOEDA = @cd_moeda_venda AND DT_INICIO = @dt_movimento)      
  WHEN (@tp_produto = '02') AND (@cd_via_transp = '01') AND (@cd_moeda_venda <> '790') THEN       
       @vl_frete * (SELECT VL_TAXA FROM TTAXA_FRETE WHERE CD_MOEDA = @cd_moeda_venda AND DT_INICIO = @dt_movimento)      
  ELSE @vl_frete END,0)      
      
  SET @vl_CPMF = CASE        
                   WHEN (@in_cmpf_cliente = '1') AND (SELECT IN_CPMF FROM TITEM WHERE CD_ITEM = @cd_item_frete) = '1' then @vl_cpmf + ((@vl_solic * 0.38)/100)      
                   ELSE @vl_cpmf   
                 END      
  
  SET @vl_tt_solic = @vl_tt_solic + @vl_solic      
      
  INSERT INTO TNUMERARIO_NOTIFICA_ITEM (NR_PROCESSO, NR_SOLICITACAO, NR_LANCAMENTO, CD_ITEM, CD_BANCO,      
        VL_SOLICITADO, CD_STATUS, VL_RECEBIDO, IN_CANCELADO, TP_DESTINO, CD_MOEDA_COMPRA, CD_MOEDA_VENDA,       
        VL_COMPRA, VL_VENDA)      
  VALUES(@nr_processo, @nr_notificacao, @nr_lanc, @cd_item_frete, @cd_banco, @vl_solic, 'A', 0, '0',       
         '2', @cd_moeda_compra, @cd_moeda_venda, @vl_compra, @vl_frete)      
      
  SET @nr_lanc = RIGHT( '000' + CONVERT( varchar, @nr_lanc + 1  ), 3 )       
END      
      
/*****************NOTIFICACAO DO CPMF ****************/      
IF @vl_cpmf > 0       
BEGIN   
     
  SET @vl_tt_solic = @vl_tt_solic + @vl_cpmf      
      
  INSERT INTO TNUMERARIO_NOTIFICA_ITEM (NR_PROCESSO, NR_SOLICITACAO, NR_LANCAMENTO, CD_ITEM, CD_BANCO,      
        VL_SOLICITADO, CD_STATUS, VL_RECEBIDO, IN_CANCELADO, TP_DESTINO, CD_MOEDA_COMPRA, CD_MOEDA_VENDA,       
        VL_COMPRA, VL_VENDA)      
  VALUES(@nr_processo, @nr_notificacao, @nr_lanc, @cd_item_cpmf, @cd_banco, @vl_cpmf, 'A', 0, '0',       
         '2', '790', '790', 0, @vl_cpmf  )      
      
  SET @nr_lanc = RIGHT( '000' + CONVERT( varchar, @nr_lanc + 1  ), 3 )       
      
END      
      
--  print 'VALOR SOLIC..............'+ CAST(@vl_tt_solic AS VARCHAR(10))      
/*****************NOTIFICACAO DO IRRF****************/      
      
SET @vl_irrf = CASE       
    WHEN (@in_irrf_fatura = '1') AND((@in_irrf_min = '0') AND (@vl_irrf > @vl_min_irrf))  THEN - @vl_irrf      
    WHEN (@in_irrf_fatura = '1') AND((@in_irrf_min = '1'))  THEN - @vl_irrf      
    WHEN (@in_irrf_fatura = '2') AND((@in_irrf_min = '0') AND (@vl_irrf > @vl_min_irrf))  THEN  @vl_irrf      
    WHEN (@in_irrf_fatura = '3') AND((@in_irrf_min = '1'))  THEN  @vl_irrf      
    ELSE 0 END      
      
--  print 'VALOR cofins/pis/CSLL....'+ CAST(@vl_IN381 AS VARCHAR(10))      
--  print 'VALOR IRRF...............'+ CAST(@vl_irrf AS VARCHAR(10))      
      
IF (@vl_irrf <> 0)      
BEGIN      
  SET @vl_tt_solic = @vl_tt_solic + @vl_irrf      
      
  INSERT INTO TNUMERARIO_NOTIFICA_ITEM (NR_PROCESSO, NR_SOLICITACAO, NR_LANCAMENTO, CD_ITEM, CD_BANCO,      
        VL_SOLICITADO, CD_STATUS, VL_RECEBIDO, IN_CANCELADO, TP_DESTINO, CD_MOEDA_COMPRA, CD_MOEDA_VENDA,       
        VL_COMPRA, VL_VENDA)      
  VALUES(@nr_processo, @nr_notificacao, @nr_lanc, @cd_item_irrf, @cd_banco, @vl_irrf, 'A', 0, '0',       
         '4', '790', '790', 0, @vl_irrf)      
      
  SET @nr_lanc = RIGHT( '000' + CONVERT( varchar, @nr_lanc + 1  ), 3 )       
END      
      
/*****************PIS/COFINS/CSLL 4,65%****************/      
IF (@vl_IN381 <> 0)      
BEGIN      
  SET @vl_tt_solic = @vl_tt_solic + @vl_IN381      
      
  INSERT INTO TNUMERARIO_NOTIFICA_ITEM (NR_PROCESSO, NR_SOLICITACAO, NR_LANCAMENTO, CD_ITEM, CD_BANCO,      
        VL_SOLICITADO, CD_STATUS, VL_RECEBIDO, IN_CANCELADO, TP_DESTINO, CD_MOEDA_COMPRA, CD_MOEDA_VENDA,       
        VL_COMPRA, VL_VENDA)      
  VALUES(@nr_processo, @nr_notificacao, @nr_lanc, @cd_item_in381, @cd_banco, @vl_IN381, 'A', 0, '0',       
         '4', '790', '790', 0, @vl_IN381)      
      
  SET @nr_lanc = RIGHT( '000' + CONVERT( varchar, @nr_lanc + 1  ), 3 )       
END      
--  print 'VALOR cofins/pis/CSLL....'+ CAST(@vl_IN381 AS VARCHAR(10))      
--  print 'VALOR IRRF...............'+ CAST(@vl_irrf AS VARCHAR(10))      
--  print 'VALOR SOLIC..............'+ CAST(@vl_tt_solic AS VARCHAR(10))      
      
/*************INSERE A CAPA COM O TOTAL********************/      
--IF @vl_tt_solic > 0       
-- BEGIN      
  
  INSERT INTO TNUMERARIO_NOTIFICA (NR_PROCESSO, NR_SOLICITACAO, DT_SOLICITACAO, CD_USUARIO,      
     CD_STATUS, VL_SOLICITADO, VL_RECEBIDO, QT_ITENS_SOLIC, IN_EMITIDO, DT_EMISSAO, DT_PARIDADE, DT_NOTIFICACAO )      
  VALUES (@nr_processo, @nr_notificacao, @dt_movimento, @cd_usuario, 'A', @vl_tt_solic, 0.00, 0, '1',       
        @dt_movimento, @dt_movimento, CONVERT(DATETIME,CONVERT(VARCHAR,GETDATE(),103),103)    )      

--END

--ROLLBACK

GO
