USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ATUALIZACAO DE USUARIO NO MYINDAIA WEB */
CREATE PROCEDURE [sp_atz_myindaia_usuario] ( @cd_usuario char(4) ) AS
SET NOCOUNT ON
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_usuario char(4)
SET @cd_usuario = '0707'
--*/

DELETE FROM [MYINDAIA].[DBO].[TPERMISSAO]           WHERE CD_USUARIO = @cd_usuario
DELETE FROM [MYINDAIA].[DBO].[TPERMISSAO_AREA]      WHERE CD_USUARIO = @cd_usuario
DELETE FROM [MYINDAIA].[DBO].[TUSUARIO]             WHERE CD_USUARIO = @cd_usuario
DELETE FROM [MYINDAIA].[DBO].[TUSUARIO_HABILITACAO] WHERE CD_USUARIO = @cd_usuario

/* ATUALIZA OS DADOS DA TPERMISSAO - Permissão de empresas que o usuario pode ver. */
INSERT INTO [MYINDAIA].[DBO].[TPERMISSAO] (
  CD_USUARIO, CD_CLIENTE       
)
SELECT 
  P.CD_USUARIO, P.CD_CLIENTE
FROM TPERMISSAO P ( NOLOCK )
  INNER JOIN TUSUARIO U ( NOLOCK ) ON ( U.CD_USUARIO = P.CD_USUARIO )
WHERE P.IN_ATIVO   = '1'
  AND U.IN_ATIVO   = '1'
  AND U.CD_USUARIO = @cd_usuario

/* ATUALIZA OS DADOS DA TPERMISSAO_AREA - Permissão de áreas que o usuario pode ver. */
INSERT INTO [MYINDAIA].[DBO].[TPERMISSAO_AREA] (
  CD_USUARIO, CD_AREA
)
SELECT 
  P.CD_USUARIO, P.CD_AREA
FROM TPERMISSAO_AREA P ( NOLOCK )
  INNER JOIN TUSUARIO U ( NOLOCK ) ON ( U.CD_USUARIO = P.CD_USUARIO )
WHERE P.IN_ATIVO   = '1'
  AND U.IN_ATIVO   = '1'
  AND U.CD_USUARIO = @cd_usuario

/* ATUALIZA OS DADOS DA TUSUARIO - Dados básicos do usuário */
INSERT INTO [MYINDAIA].[DBO].[TUSUARIO] (
  CD_USUARIO, CD_SENHA, CD_CARGO, NM_USUARIO, AP_USUARIO, NM_EMAIL, CD_CELULA, CD_TRANSP_ROD
)
SELECT
  CD_USUARIO, CD_SENHA, CD_CARGO, NM_USUARIO, AP_USUARIO, NM_EMAIL, CD_CELULA, CD_TRANSP_ROD
FROM TUSUARIO ( NOLOCK )
WHERE IN_ATIVO   = '1'
  AND CD_USUARIO = @cd_usuario

/* ATUALIZA OS DADOS DA TUSUARIO_HABILITACAO - Habilita o usuario a ver os dados de unidade, produto e acesso de administrador */
INSERT INTO [MYINDAIA].[DBO].[TUSUARIO_HABILITACAO] (
  CD_USUARIO, CD_UNID_NEG, CD_PRODUTO, IN_DEFAULT, IN_ACESSO_SITE, IN_DIREITOS 
)
SELECT
  CD_USUARIO, CD_UNID_NEG, CD_PRODUTO, IN_DEFAULT, IN_ACESSO_SITE, IN_DIREITOS
FROM TUSUARIO_HABILITACAO ( NOLOCK )
WHERE IN_ATIVO   = '1'
  AND CD_USUARIO = @cd_usuario

/*
select * from myindaia.dbo.tpermissao           ( nolock ) where cd_usuario = @cd_usuario
select * from myindaia.dbo.tpermissao_area      ( nolock ) where cd_usuario = @cd_usuario
select * from myindaia.dbo.tusuario             ( nolock ) where cd_usuario = @cd_usuario
select * from myindaia.dbo.tusuario_habilitacao ( nolock ) where cd_usuario = @cd_usuario

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
SET NOCOUNT OFF
GO
