USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_po_exclui_prep]( @nr_processo char(18), @cd_usuario char(4), @tp_proc integer ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_usuario char(4)

SELECT @nr_processo = '0101DT-0001-00'
SELECT @cd_usuario = '0027'
*/

DECLARE @nr_proc_old char(18)
DECLARE @nr_item_old char(3)
DECLARE @qt_baixada float

DECLARE @qt_disponivel_PO float
DECLARE @qt_baixar_PO float

DECLARE @qt_disp float

DECLARE c_tabela CURSOR FOR
  SELECT NR_PROC_OLD, NR_ITEM_OLD, ISNULL(QT_BAIXADA,0)
  FROM   TPREPARA_PO_ITEM
  WHERE  ( NR_PROCESSO = @nr_processo ) and ( IN_MONTADO <> '1' ) AND ( CD_USUARIO_MONTA = @cd_usuario ) AND ( TP_PROCESSO = @tp_proc )

OPEN c_tabela
FETCH c_tabela INTO @nr_proc_old, @nr_item_old, @qt_baixada
WHILE @@fetch_status <> -1
BEGIN
  SELECT QT_BAIXAR, QT_DISPONIVEL
  FROM   TPO_ITEM 
  WHERE  ( NR_PROCESSO = @nr_proc_old ) AND ( NR_ITEM = @nr_item_old ) AND ( CD_USUARIO_MONTA = @cd_usuario )

  SELECT @qt_baixar_PO = QT_BAIXAR, 
         @qt_disponivel_PO = QT_DISPONIVEL
  FROM   TPO_ITEM 
  WHERE  ( NR_PROCESSO = @nr_proc_old ) AND ( NR_ITEM = @nr_item_old ) AND ( CD_USUARIO_MONTA = @cd_usuario )

  SELECT @qt_disp = 0
  IF @qt_disponivel_PO <> 0 
  BEGIN
    SELECT @qt_disp = @qt_disponivel_PO + @qt_baixada
  END

  UPDATE TPO_ITEM 
  SET    QT_BAIXAR = 0        
  WHERE  ( NR_PROCESSO = @nr_proc_old ) AND ( NR_ITEM = @nr_item_old ) AND ( CD_USUARIO_MONTA = @cd_usuario )

  DELETE 
  FROM TPREPARA_PO_ITEM
  WHERE CURRENT OF c_tabela    

  FETCH c_tabela INTO @nr_proc_old, @nr_item_old, @qt_baixada
END

CLOSE c_tabela
DEALLOCATE c_tabela

DELETE 
FROM   TPREPARA_PO
WHERE ( NR_PROCESSO = @nr_processo ) AND ( IN_MONTADO <> '1' )

RETURN(0)

/*
SELECT * FROM TPREPARA_PO_ITEM WHERE NR_PROCESSO = '0101DT-0001-00'
SELECT * FROM TPO_ITEM WHERE NR_PROCESSO = '4580000067'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/





GO
