USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SP_LIMPA_PROCESSOS] AS

DECLARE @PROCESSO CHAR(18)

SELECT PR.NR_PROCESSO
  INTO #TMP_PROCESSOS
  FROM TPROCESSO PR, TFOLLOWUP FU
 WHERE PR.NR_PROCESSO = FU.NR_PROCESSO
   AND FU.CD_EVENTO = '092'
   AND YEAR(DT_REALIZACAO) < 2005


WHILE ( SELECT COUNT(NR_PROCESSO) FROM #TMP_PROCESSOS ) > 0
BEGIN

  -- SELECIONANDO PRIMEIRO PROCESSO DA TEMPORÁRIA

  SELECT TOP 1 @PROCESSO = NR_PROCESSO FROM #TMP_PROCESSOS

  -- TABELAS DE IMPORTAÇÃO

  DELETE FROM TDECLARACAO_IMPORTACAO     WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TADICAO_DE_IMPORTACAO      WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDETALHE_MERCADORIA        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TACRESCIMO_DEDUCAO         WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TACRESCIMO_VALORACAO       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDEDUCAO_VALORACAO         WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDESTAQUE_NCM              WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDI_NVE                    WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDOCUMENTO_INSTRUCAO       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDOCUMENTO_VINCULADO       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TEMBALAGEM_CARGA           WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TFOLLOWUP_ETAPA            WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TICMS_SUL                  WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TIMP_NACIONALIZADOS        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TINSTRUCAO_CARGA           WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TLICENCA_IMPORTACAO        WHERE SUBSTRING(NR_PROCESSO,1,13) = @PROCESSO
  DELETE FROM TLICENCA_ITENS             WHERE SUBSTRING(NR_PROCESSO,1,13) = @PROCESSO
  DELETE FROM TLICENCA_NVE               WHERE SUBSTRING(NR_PROCESSO,1,13) = @PROCESSO
  DELETE FROM TPREVISAO                  WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPREVISAO_ADICAO           WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPREVISAO_CUSTO            WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPREVISAO_DESPESA          WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_ARMAZEM_DESPESAS_CANCELADAS WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_CARGA_SOLTA      WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_CARGA_SOLTA_BKP  WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_CNTR             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_CNTR_BKP         WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_DESEMB_MIC_DTA   WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_DESPESAS         WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_DI               WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EMBALAGEM        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_LI               WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_LI_ORGAO_ANUENTE WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_STATUS_ICMS      WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TRIBUTO                    WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TVALORACAO_NCM             WHERE NR_PROCESSO = @PROCESSO

  -- TABELAS DE EXPORTAÇÃO

  DELETE FROM TEXP_CARTA_CRED            WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP              WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_BORD         WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_BORD_ITEM    WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_DDE_NF       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_DDE_RE       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_DESP         WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_ITEM         WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_NF           WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_NF_ITEM      WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_PEDIDO       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_RE           WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_EXP_SAQUE        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TRE_ANEXO                  WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TRE_ANEXO_FABRIC           WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TRE_ANEXO_PURO             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TRE_CAPA                   WHERE NR_PROCESSO = @PROCESSO

  -- TABELAS DE FINANCEIRO/CONTABILIDADE/FATURAMENTO/NUMERARIO

  DELETE FROM TNUMERARIO                 WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TNUMERARIO_IMP             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TNUMERARIO_ITEM_SOLIC      WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TNUMERARIO_NOTIFICA        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TNUMERARIO_NOTIFICA_ITEM   WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TNUMERARIO_SALDO_POR_ITEM  WHERE NR_PROCESSO = @PROCESSO 
  DELETE FROM TRECEBIMENTO               WHERE NR_PROCESSO = @PROCESSO 
  DELETE FROM TRECEBIMENTO_AG            WHERE CD_CLIENTE  = (SELECT CD_CLIENTE FROM TRECEBIMENTO_PROCESSO WHERE NR_PROCESSO = @PROCESSO ) 
   					   AND NR_RECEBIMENTO  = (SELECT NR_RECEBIMENTO FROM TRECEBIMENTO_PROCESSO WHERE NR_PROCESSO = @PROCESSO ) 
  DELETE FROM TRECEBIMENTO_PROCESSO      WHERE NR_PROCESSO = @PROCESSO 
  DELETE FROM TRECEBIMENTO_PROCESSO_ITEM WHERE NR_PROCESSO = @PROCESSO 
  DELETE FROM TRECEBIMENTO_ITEM_RECEB    WHERE NR_PROCESSO = @PROCESSO 
  DELETE FROM TCALCULO_RATEIO_DESP       WHERE NR_PROCESSO = @PROCESSO 
  DELETE FROM TFATURAMENTO_CC            WHERE NR_PROCESSO = @PROCESSO 
  DELETE FROM TFATURAMENTO_CC_CLIENTE    WHERE NR_PROCESSO = @PROCESSO 
  --DELETE FROM TNF_RETENCAO               WHERE NR_PROCESSO = @PROCESSO -- comentado André 21/10/2008 a tabela não é mais usada
  DELETE FROM TNF_SERV_OP_ITEM		 WHERE CD_UNID_NEG = SUBSTRING(@PROCESSO,1,2)
					   AND CD_PRODUTO  = SUBSTRING(@PROCESSO,3,2)
					   AND NR_SOLICITACAO = ( SELECT top 1 NR_SOLICITACAO FROM TNF_SERV_OP WHERE NR_PROCESSO = @PROCESSO AND CD_UNID_NEG = SUBSTRING(@PROCESSO,1,2) AND CD_PRODUTO  = SUBSTRING(@PROCESSO,3,2))
  DELETE FROM TNF_SERV_OP_NUM		 WHERE CD_UNID_NEG = SUBSTRING(@PROCESSO,1,2)
					   AND CD_PRODUTO  = SUBSTRING(@PROCESSO,3,2)
					   AND NR_SOLICITACAO = ( SELECT top 1 NR_SOLICITACAO FROM TNF_SERV_OP WHERE NR_PROCESSO = @PROCESSO AND CD_UNID_NEG = SUBSTRING(@PROCESSO,1,2) AND CD_PRODUTO  = SUBSTRING(@PROCESSO,3,2))
  DELETE FROM TNF_SERV_OP		 WHERE NR_PROCESSO = @PROCESSO

  DELETE FROM TS_FATURA WHERE CD_UNID_NEG = SUBSTRING(@PROCESSO,1,2)
	  		  AND CD_PRODUTO  = SUBSTRING(@PROCESSO,3,2)
			  AND NR_SOLICITACAO = ( SELECT top 1 NR_SOLICITACAO FROM TNF_SERV_OP WHERE NR_PROCESSO = @PROCESSO AND CD_UNID_NEG = SUBSTRING(@PROCESSO,1,2) AND CD_PRODUTO  = SUBSTRING(@PROCESSO,3,2))
  DELETE FROM TS_FATURA_DOCUMENTO WHERE CD_UNID_NEG = SUBSTRING(@PROCESSO,1,2)
			  AND CD_PRODUTO  = SUBSTRING(@PROCESSO,3,2)
			  AND NR_SOLICITACAO = ( SELECT top 1 NR_SOLICITACAO FROM TNF_SERV_OP WHERE NR_PROCESSO = @PROCESSO AND CD_UNID_NEG = SUBSTRING(@PROCESSO,1,2) AND CD_PRODUTO  = SUBSTRING(@PROCESSO,3,2))
  DELETE FROM TS_FATURA_PROCESSO WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TS_FATURA_PROCESSO_ITEM WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TSOLIC_PAGTO WHERE NR_PROCESSO = @PROCESSO

  -- OUTRAS TABELAS

  DELETE FROM TATO_VINCULADO             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TCARGA_ARMAZEM             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TCASH_ARMAZENAGEM          WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDA                        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDA_LIB_AVARIA             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDA_LOTE                   WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDA_REF                    WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDA_VENCTO                 WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TERRO_ATZ                  WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TEXTRATO                   WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TLOG_FOLLOWUP              WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TMP_EXPORTACAO             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TMP_EXPORTACAO_FINAL       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TNAC                       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TNAC_ITEM                  WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TNAC_RET_MERC              WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPAGAMENTO_PREVISTO        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPAGAMENTO_TRIBUTOS        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPAGAMENTO_VINCULADO       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPAGTO_PREVISTO_CAMBIO_DI  WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROC_ANUENTES             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_FATURA_AG        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_FORMA            WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_IN50             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_MIC_DTA          WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_NF               WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_PALETIZACAO      WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_POR_VEICULO      WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_RE               WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_REQUERIMENTO     WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_SDA              WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TPROCESSO_SDA_LOG          WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TRAT_AREA_IMP              WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TRAT_ITEM_IMP              WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TRAT_PROCESSO_IMP          WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TREF_CLIENTE               WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TREF_CLIENTE_EMBARQUE      WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TREF_CLIENTE_LWW           WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TREF_CLIENTE_MEMO          WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TTEMP_DIAGN_DB_SUSP        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TTEMP_HOUSE                WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TTEMP_ICMS_SUL             WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TTEMP_PREV_FAT_ITEM        WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TAUX_ADICAO_ITENS          WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TAUX_EXP_NORMAS            WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TAUX_EXP_REF               WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TAUX_PROC_AB_FAT           WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TAUX_PROC_PAG_DES_DI       WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDEM_FAT_CNTR              WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDEVOLUCAO                 WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TDEVOLUCAO_ITENS           WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TESTAGIO_PROCESSO          WHERE NR_PROCESSO_DES = @PROCESSO
  DELETE FROM TFAT_CALCULO_RATEIO_DESP   WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TLIQUIDACAO                WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TLOG_TRANSMISSAO           WHERE NR_PROCESSO = @PROCESSO

  -- POR FIM, EXCLUI DAS TABELAS BASES ( PARA EVITAR, CASO DE ALGUM ERRO, QUE ALGUM PROCESSO FIQUE PERDIDO )

  DELETE FROM TPROCESSO                  WHERE NR_PROCESSO = @PROCESSO
  DELETE FROM TFOLLOWUP                  WHERE NR_PROCESSO = @PROCESSO

  -- EXCLUINDO PROCESSO DA TEMPORÁRIA

  DELETE FROM #TMP_PROCESSOS WHERE NR_PROCESSO = @PROCESSO

END

DROP TABLE #TMP_PROCESSOS




GO
