USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ATUALIZA_BANCOS_DASHBOARD] AS
BEGIN
    RETURN
    DECLARE @TB_BANCOS AS TABLE (
        NM_BANCO VARCHAR(255)
    )
    DECLARE @NM_BANCO VARCHAR(255)

    INSERT INTO @TB_BANCOS
    SELECT NAME
    FROM SYS.DATABASES
    WHERE NAME LIKE 'DASHBOARD_IMP%'
       OR NAME LIKE 'DASHBOARD_EXP%'

    --SELECT * FROM @TB_BANCOS

    DECLARE @TB_PROCESSO AS TABLE (
        NR_PROCESSO CHAR(18)
    )
    DECLARE @NR_PROCESSO CHAR(18)

    WHILE (SELECT COUNT(*) FROM @TB_BANCOS) > 0
    BEGIN
        SELECT TOP 1 @NM_BANCO = NM_BANCO
        FROM @TB_BANCOS

        DELETE @TB_BANCOS WHERE NM_BANCO = @NM_BANCO

        INSERT INTO @TB_PROCESSO
        EXEC('SELECT DISTINCT NR_PROCESSO FROM ' + @NM_BANCO + '.DBO.TB_FOLLOWUP')
    END

    --SELECT * FROM @TB_PROCESSO

    WHILE (SELECT COUNT(*) FROM @TB_PROCESSO) > 0
    BEGIN
        SELECT TOP 1 @NR_PROCESSO = NR_PROCESSO
        FROM @TB_PROCESSO

        DELETE @TB_PROCESSO WHERE NR_PROCESSO = @NR_PROCESSO

        EXEC SP_ATUALIZA_DASHBOARD @NR_PROCESSO
    END
END
GO
