USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_VALIDA_RETORNO_FATOR](@CD_FATOR INT, @NR_PROCESSO CHAR(18), @NM_CAMPO_PROCESSO VARCHAR(100) = NULL, @NM_TABELA VARCHAR(100) = NULL, @NM_CAMPO_CHAVE_TABELA VARCHAR(100) = NULL,
                                         @NM_CAMPO_RETORNO_TABELA VARCHAR(100) = NULL, @CD_COMPARADOR CHAR(2) = NULL, @NM_SQL NVARCHAR(MAX) = NULL, @NM_RETORNO VARCHAR(1000) = NULL) AS
BEGIN
    /*
    DECLARE @CD_FATOR                INT           = 2
    DECLARE @NR_PROCESSO             CHAR(18)      = '0101IM-0909-12'
    DECLARE @NM_CAMPO_PROCESSO       VARCHAR(100)  = NULL
    DECLARE @NM_TABELA               VARCHAR(100)  = NULL
    DECLARE @NM_CAMPO_CHAVE_TABELA   VARCHAR(100)  = NULL
    DECLARE @NM_CAMPO_RETORNO_TABELA VARCHAR(100)  = NULL
    DECLARE @CD_COMPARADOR           CHAR(2)       = NULL
    DECLARE @NM_SQL                  NVARCHAR(MAX) = NULL
    DECLARE @NM_RETORNO              VARCHAR(1000) = NULL
    --*/
    DECLARE @NM_RETORNO_SQL             VARCHAR(1000)

    IF ISNULL(@CD_FATOR, 0) > 0
        SELECT @NM_CAMPO_PROCESSO       = NM_CAMPO_PROCESSO,
               @NM_TABELA               = NM_TABELA,
               @NM_CAMPO_CHAVE_TABELA   = NM_CAMPO_CHAVE_TABELA,
               @NM_CAMPO_RETORNO_TABELA = NM_CAMPO_RETORNO_TABELA,
               @CD_COMPARADOR           = CD_COMPARADOR,
               @NM_SQL                  = LTRIM(NM_SQL),
               @NM_RETORNO              = NM_RETORNO
        FROM TFATORES
        WHERE CD_FATOR = @CD_FATOR

    DECLARE @SQL   NVARCHAR(MAX)
    DECLARE @PARAM NVARCHAR(1000)
    DECLARE @IN_OK INT
    
    -- Se não tem SQL pré definido, monta um com os campos
    IF ISNULL(@NM_SQL, '') = ''
    BEGIN
        IF (ISNULL(@NM_CAMPO_PROCESSO, '') <> '') AND (ISNULL(@NM_TABELA, '') <> '') AND (ISNULL(@NM_CAMPO_CHAVE_TABELA, '') <> '') AND (ISNULL(@NM_CAMPO_RETORNO_TABELA, '') <> '')
            SET @NM_SQL = 'SELECT T.' + @NM_CAMPO_RETORNO_TABELA + ' FROM TPROCESSO P (NOLOCK) INNER JOIN ' + @NM_TABELA + ' T (NOLOCK) ON T.' + @NM_CAMPO_CHAVE_TABELA + ' = P.' + @NM_CAMPO_PROCESSO + ' WHERE P.NR_PROCESSO = @NR_PROCESSO'
        ELSE IF (ISNULL(@NM_CAMPO_PROCESSO, '') <> '') AND ((SELECT COUNT(*) FROM VW_DEFINICAO_TABELA WHERE NM_TABELA = 'TPROCESSO' AND @NM_CAMPO_PROCESSO LIKE '%' + NM_COLUNA + '%') > 0)
            SET @NM_SQL = 'SELECT ' + @NM_CAMPO_PROCESSO + ' FROM TPROCESSO P (NOLOCK) WHERE P.NR_PROCESSO = @NR_PROCESSO'
        ELSE IF (ISNULL(@NM_CAMPO_PROCESSO, '') <> '')
            SET @NM_RETORNO_SQL = @NM_CAMPO_PROCESSO
    END

    IF ISNULL(@NM_SQL, '') <> ''
    BEGIN
        DECLARE @CD_GRUPO   CHAR(3)
        DECLARE @CD_CLIENTE CHAR(5)
        DECLARE @CD_SERVICO INT

        SELECT @CD_GRUPO   = CD_GRUPO,
               @CD_CLIENTE = CD_CLIENTE,
               @CD_SERVICO = CD_SERVICO
        FROM TPROCESSO
        WHERE NR_PROCESSO = @NR_PROCESSO

        SET @NM_SQL = STUFF(@NM_SQL, CHARINDEX(' ', @NM_SQL), 1, ' @NM_RETORNO_SQL = ')

        SET @NM_RETORNO_SQL = ''
        EXEC SP_EXECUTESQL @NM_SQL, N'@NM_RETORNO_SQL VARCHAR(1000) OUTPUT, @NR_PROCESSO CHAR(18), @CD_GRUPO CHAR(3), @CD_CLIENTE CHAR(5), @CD_SERVICO INT',
           @NM_RETORNO_SQL = @NM_RETORNO_SQL OUTPUT, @NR_PROCESSO = @NR_PROCESSO, @CD_GRUPO = @CD_GRUPO, @CD_CLIENTE = @CD_CLIENTE, @CD_SERVICO = @CD_SERVICO
    END

    IF ISNULL(@CD_COMPARADOR, '') = ''
        --/*
        RETURN 1
        --*/SELECT 1
     ELSE
     BEGIN
        SET @NM_SQL = 'SELECT @IN_OK = CASE WHEN ISNULL(''' + @NM_RETORNO_SQL + ''', '''') ' + @CD_COMPARADOR + ' ISNULL(''' + @NM_RETORNO + ''', '''') THEN 1 ELSE 0 END'
        EXEC SP_EXECUTESQL @NM_SQL, N'@IN_OK INT OUTPUT', @IN_OK = @IN_OK OUTPUT
        --/*
        RETURN @IN_OK
        --*/SELECT @IN_OK
     END
END

GO
