USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_receb_automat    Script Date: 02/09/1999 08:59:02 AM ******/
CREATE PROCEDURE [sp_receb_automat] (@nr_processo char(18), @dt_solicitacao datetime, @nr_lanc char(4), @cd_usuario char(4), @tipo char(1), @cd_banco char(3) ) AS
DECLARE @dt_recebimento   datetime
DECLARE @nr_recebimento   char(3)
DECLARE @nr_lanc_receb   char(3)
DECLARE @nr_solicitacao   char(3)
DECLARE @nr_lancamento    char(3)
DECLARE @cd_item   char(3)
DECLARE @vl_solicitado    float
DECLARE @vl_recebido      float
DECLARE @vl_recebido_n    numeric(14,2)
DECLARE @primeiro   bit
DECLARE @vl_lancamento   numeric(14,2)
SELECT  @primeiro         = 1
SELECT  @nr_lanc_receb    = '000'
IF @tipo = '1'
BEGIN
  DECLARE c_solic CURSOR FOR
    SELECT S.NR_SOLICITACAO, S.NR_LANCAMENTO, S.CD_ITEM, S.VL_SOLICITADO, s.VL_RECEBIDO
    FROM   TNUMERARIO N,
           TNUMERARIO_ITEM_SOLIC S,
           TITEM I
    WHERE  N.NR_PROCESSO    = S.NR_PROCESSO AND
           N.NR_SOLICITACAO = S.NR_SOLICITACAO AND
           S.CD_ITEM        = I.CD_ITEM  AND
           N.NR_PROCESSO    = @nr_processo AND
           N.DT_SOLICITACAO = @dt_solicitacao AND
           N.CD_STATUS      IN ( 'A', 'B' ) AND 
           S.CD_STATUS      = ('A')  AND
           I.IN_FAV_SM      = '1'  AND
           ( S.VL_SOLICITADO - S.VL_RECEBIDO ) <> 0 AND
           S.TP_DESTINO = '2'
  OPEN c_solic
  FETCH c_solic INTO @nr_solicitacao, @nr_lancamento, @cd_item, @vl_solicitado, @vl_recebido
  WHILE @@fetch_status <> -1
  BEGIN
    IF @primeiro = 1
    BEGIN
      SELECT @nr_recebimento = RIGHT( ( '000' + CONVERT( char(3), ( ISNULL( CONVERT( integer,
                               ( SELECT MAX( NR_RECEBIMENTO ) 
                                 FROM   TRECEBIMENTO 
                                 WHERE  NR_PROCESSO = @nr_processo ) ), 0 ) + 1 ) ) ), 3 )
      SELECT @dt_recebimento = CONVERT( datetime, CONVERT( char(10), GETDATE() ), 103 )
      INSERT TRECEBIMENTO( NR_PROCESSO, NR_RECEBIMENTO, DT_RECEBIMENTO, CD_USUARIO, CD_BANCO,
                           VL_RECEBIMENTO, IN_CANCELADO, IN_TRANSFERIDO, IN_TRANSF_CANC, 
                           VL_DEVOLVIDO, IN_FAV_SM )
      VALUES ( @nr_processo, @nr_recebimento, @dt_recebimento, @cd_usuario,
               @cd_banco, 0, '0', '0', '0', 0, '1' )
      SELECT @primeiro = 0
    END
    SELECT @nr_lanc_receb = RIGHT( ( '000' + CONVERT( char(3), ( CONVERT( integer, @nr_lanc_receb ) + 1 ) ) ), 3 )
    INSERT TRECEBIMENTO_ITEM_RECEB 
    VALUES ( @nr_processo, @nr_recebimento, @nr_lanc_receb, @nr_solicitacao, @nr_lancamento,
             @cd_item, ROUND( ( @vl_solicitado - @vl_recebido ), 2 ), ROUND( ( @vl_solicitado - @vl_recebido ), 2 ),
             '0', 0, 0 )
    FETCH c_solic INTO @nr_solicitacao, @nr_lancamento, @cd_item, @vl_solicitado, @vl_recebido
  END
  CLOSE c_solic
  DEALLOCATE c_solic
  UPDATE TRECEBIMENTO 
  SET    VL_RECEBIMENTO = 
         ( SELECT SUM(I.VL_RECEBIDO)
           FROM   TRECEBIMENTO_ITEM_RECEB I
           WHERE  R.NR_PROCESSO = I.NR_PROCESSO AND
                  R.NR_RECEBIMENTO = I.NR_RECEBIMENTO ) 
  FROM   TRECEBIMENTO R
  WHERE   NR_PROCESSO = @nr_processo
 
  EXEC sp_atz_recebimento @nr_processo, @nr_recebimento
END
ELSE
BEGIN
  SELECT @vl_lancamento = ( VL_ITEM - VL_IR + VL_ASSIST ),
         @cd_item  = CD_ITEM
  FROM   TFATURAMENTO_CC       
  WHERE  NR_PROCESSO = @nr_processo AND 
         NR_LANCAMENTO = @nr_lanc
 
  EXEC sp_gera_receb @nr_processo, @cd_item, @cd_banco, @vl_lancamento, @cd_usuario, '1', NULL, NULL
END
RETURN(0)

GO
