USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       PROC [sp_distribui_ctaapagar_ag] (@dt_movimento datetime, 
                                       @cd_unid_neg char(2), 
                                       @nr_cta_pagar char(3),
                                       @tp_pagamento char(1),
                                       @cd_banco char(3))AS

/*BEGIN TRAN
DECLARE @dt_movimento datetime
DECLARE @cd_unid_neg char(2)
DECLARE @nr_cta_pagar char(3)
DECLARE @tp_pagamento char(1)
DECLARE @cd_banco char(3)

SET @dt_movimento = CONVERT(DATETIME,'15/06/2004',103)
SET @cd_unid_neg = '01'
SET @nr_cta_pagar = '010'
SET @TP_PAGAMENTO = '$'
SET @Cd_banco = '003'

update tctaapagar set in_cancelado = '1' 
WHERE  NR_CTAAPAGAR   = @nr_cta_pagar
    AND DT_CTAAPAGAR   = @dt_movimento
    AND CD_UNID_NEG    = @cd_unid_neg

*/
DECLARE @nr_ult_lanc_caixa char(3)
DECLARE @cd_coligada       char(2)
DECLARE @dt_caixa          datetime
DECLARE @vl_item           float
DECLARE @nr_processo       char(18)
DECLARE @cd_item           char(3)
DECLARE @cd_favorecido     char(5)
DECLARE @in_cancelado      char(1)

SELECT @in_cancelado = IN_CANCELADO, @dt_caixa = DT_PAGAMENTO
 FROM TCTAAPAGAR
 WHERE  NR_CTAAPAGAR   = @nr_cta_pagar
    AND DT_CTAAPAGAR   = @dt_movimento
    AND CD_UNID_NEG    = @cd_unid_neg

--SELECT * FROM TTP_DESTINO


--SET @dt_caixa = CONVERT(DATETIME,CONVERT(VARCHAR(10), GETDATE(), 103) , 103)
SET @cd_coligada = '01'

UPDATE TSOLIC_PAGTO 
   SET CD_STATUS = CASE 
                     WHEN (@tp_pagamento IN ('D','$')) AND (@in_cancelado = '0')THEN  '7'
                     WHEN (@tp_pagamento NOT IN ('D','$')) AND (@in_cancelado = '0') THEN '16'
                     ELSE ISNULL(C.CD_STATUS_SOLIC_PAGTO,'6')
                    END, 
       TP_DESTINO = CASE 
                     WHEN (@tp_pagamento = 'C') and (@in_cancelado = '0') THEN '2'
                    -- WHEN (@tp_pagamento = 'D') and (@in_cancelado = '0') THEN '3'
                     ELSE '4'
                    END,
       NR_REF    = CASE 
                     WHEN  @tp_pagamento = 'C' THEN NR_REF
                     ELSE NULL
                    END,
       CD_BANCO  = @cd_banco, 
       DT_MONTAGEM = CASE
                     WHEN @in_cancelado  = '1' THEN NULL
                     ELSE DT_MONTAGEM END

    FROM TSOLIC_PAGTO S, TCTAAPAGAR_LANC_PROCESSO C
   WHERE C.NR_CTAAPAGAR = @nr_cta_pagar
     AND C.DT_CTAAPAGAR = @dt_movimento
     AND C.CD_UNID_NEG  = @cd_unid_neg
     AND C.NR_PROCESSO  = S.NR_PROCESSO 
     AND C.NR_LANC_SOLIC_PAGTO = S.NR_LANCAMENTO
     AND C.CD_ITEM_SOLIC_PAGTO = S.CD_ITEM


SELECT @nr_ult_lanc_caixa = ISNULL( CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000' ) ) + 1 ), 0 )
FROM   TCAIXA (TABLOCK HOLDLOCK)WHERE  DT_MOVIMENTO = @dt_caixa AND
       CD_COLIGADA  = @cd_coligada

--SET @nr_ult_lanc_caixa = @nr_ult_lanc_caixa 
SET @nr_ult_lanc_caixa = RIGHT( '000' + CONVERT( varchar, @nr_ult_lanc_caixa ), 3 )

SELECT P.VL_ITEM, C.CD_BANCO, C.CD_FAVORECIDO, P.NR_PROCESSO, P.CD_ITEM_SOLIC_PAGTO   
INTO #CONTA_PAGAR 
   FROM TCTAAPAGAR C, TCTAAPAGAR_LANC_PROCESSO P
    WHERE  C.NR_CTAAPAGAR   = @nr_cta_pagar
    AND    C.DT_CTAAPAGAR   = @dt_movimento
    AND    C.CD_UNID_NEG    = @cd_unid_neg
    AND    C.DT_PAGAMENTO IS NOT NULL
    AND    C.TP_PAGAMENTO IN('$','D')
    AND    C.NR_CTAAPAGAR   = P.NR_CTAAPAGAR
    AND    C.DT_CTAAPAGAR   = P.DT_CTAAPAGAR
    AND    C.CD_UNID_NEG    = P.CD_UNID_NEG



WHILE (SELECT COUNT(*) FROM #CONTA_PAGAR ) > 0 
BEGIN
  SELECT TOP 1 @vl_item = VL_ITEM, @cd_banco = CD_BANCO, @cd_favorecido = CD_FAVORECIDO,
               @nr_processo = NR_PROCESSO, @cd_item = CD_ITEM_SOLIC_PAGTO
   FROM #CONTA_PAGAR
  
 INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, 
                TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO,  VL_LANCAMENTO, TP_PAGAMENTO,
                TP_NATUREZA, CD_BANCO, CD_FAVORECIDO, VL_IR, VL_ASSIST, IN_RESTITUI, IN_OPERACIONAL,
                NR_PROCESSO, CD_ITEM )
 VALUES(@cd_coligada, @dt_caixa, @nr_ult_lanc_caixa, @cd_unid_neg, 'F', '9', @in_cancelado, '0', @vl_item, 
        @tp_pagamento, 'D',@cd_banco, @cd_favorecido, 0, 0, @in_cancelado, '1', @nr_processo, @cd_item) 
 

  SET @nr_ult_lanc_caixa = RIGHT( '000' + CONVERT( varchar, @nr_ult_lanc_caixa + 1 ), 3 )


  DELETE FROM #CONTA_PAGAR WHERE NR_PROCESSO = @nr_processo AND CD_ITEM_SOLIC_PAGTO = @cd_item 
END

DROP TABLE #CONTA_PAGAR

--IF @dt_caixa IS NOT NULL
--EXEC sp_atz_saldos_caixa @cd_coligada, @dt_caixa


--ROLLBACK












GO
