USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [sp_rel_dem_cliente] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente  char(5), 
                                        @dt_inicio datetime, @dt_fim datetime, @nr_identificador int output ) AS

/*
SET XACT_ABORT ON 
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @nr_identificador int

SELECT 	@cd_unid_neg = '01'
SELECT 	@cd_produto = '01'
SELECT 	@cd_grupo = 'X'
SELECT 	@cd_cliente = '00013'
SELECT 	@dt_inicio = '20050916'
SELECT 	@dt_fim = '20050916'
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TREL_DEM_CLIENTE

-- Grava valor de numerário e somatória de despesas (TFATURAMENTO_CC) dos processos selecionados
INSERT INTO TREL_DEM_CLIENTE 
       ( NR_IDENTIFICADOR, NR_PROCESSO, CD_REFERENCIA, DT_REMESSA, VL_REMESSA, VL_DESPESA )
SELECT @nr_identificador, P.NR_PROCESSO, 
       ( SELECT TOP 1 R.CD_REFERENCIA
         FROM TREF_CLIENTE R (NOLOCK)
         WHERE R.NR_PROCESSO = P.NR_PROCESSO AND
           ( ( R.TP_REFERENCIA = '01' AND SUBSTRING( R.NR_PROCESSO, 3, 2 ) = '02' AND R.NR_SEQUENCIA = '001' ) OR ( R.NR_SEQUENCIA = '001' AND SUBSTRING( R.NR_PROCESSO, 3, 2 ) <> '02' ) ) ) AS CD_REFERENCIA, 
       RN.DT_RECEBIMENTO, RN.VL_RECEBIMENTO, 
       ( SELECT SUM( ISNULL( VL_ITEM, 0) )
         FROM TFATURAMENTO_CC C
         WHERE P.NR_PROCESSO = C.NR_PROCESSO AND
               C.IN_FATURADO = '0' AND IN_RESTITUI = '0' ) AS VL_DESPESA
FROM   TPROCESSO P (NOLOCK)
       INNER JOIN TRECEBIMENTO RN (NOLOCK) ON ( P.NR_PROCESSO = RN.NR_PROCESSO )
WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
       @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
       @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
       @cd_grupo IN ( P.CD_GRUPO, 'X' ) AND
       P.IN_CANCELADO = '0' AND
       P.IN_LIBERADO = '1' AND
       RN.DT_RECEBIMENTO BETWEEN @dt_inicio AND @dt_fim AND
       RN.IN_CANCELADO = '0' 
GROUP BY P.NR_PROCESSO, RN.DT_RECEBIMENTO, RN.VL_RECEBIMENTO
ORDER BY P.NR_PROCESSO
       

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
