USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored PROCEDURE dbo.sp_atz_saldos_caixa    Script Date: 28/12/1998 12:01:05 ******/
CREATE PROCEDURE [sp_atz_saldos_caixa] ( @cd_coligada char(2), @cd_unid_neg char(2), @dt_movimento datetime, @cd_ct_caixa char(3)) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_coligada char(2)
DECLARE @cd_unid_neg char(2)
DECLARE @dt_movimento datetime

SELECT @cd_coligada = '01'
SELECT @cd_unid_neg = '01'
SELECT @dt_movimento = convert( datetime, '01/06/2009', 103 )


--ROLLBACK TRAN
--SET XACT_ABORT OFF

*/

DECLARE @dt_ultimo_mov   DATETIME
DECLARE @tp_lancamento   char(1)
DECLARE @vl_lancamento   FLOAT
DECLARE @tp_pagamento    char(1)
DECLARE @tp_natureza     char(1)
--DECLARE @cd_banco        char(3)
DECLARE @cd_ct_contabil  char(8)
DECLARE @cd_ct_acerto    char(3)
DECLARE @cd_item         char(3)
DECLARE @tp_natureza_fat char(1)
DECLARE @vl_debita       numeric(14,2)
DECLARE @vl_credita      numeric(14,2)
DECLARE @cd_conta        char(3)
DECLARE @in_restitui     char(1)
DECLARE @DELETE					 INT
DECLARE @INSERT					 INT

-- Qdo PisCofins sai

if @dt_movimento > CONVERT(datetime, '31/12/2009', 103) 
begin

	IF @cd_coligada = '99'
		RETURN(0)
	/*IF ( SELECT COUNT(*) 
			 FROM  TCAIXA_CONTROLE
			 WHERE CD_COLIGADA = @cd_coligada AND CD_UNID_NEG = @cd_unid_neg AND
						 DT_MOVIMENTO = @dt_movimento ) = 0  Comentado André 05/06/2009*/
	BEGIN
		SELECT @DELETE = COUNT(*) FROM TCAIXA_SALDOS WHERE  CD_COLIGADA = @CD_COLIGADA AND CD_UNID_NEG = @CD_UNID_NEG AND DT_MOVIMENTO = @DT_MOVIMENTO AND
																												CD_CT_CAIXA = @cd_ct_caixa

		DELETE TCAIXA_SALDOS
		WHERE  CD_COLIGADA = @cd_coligada AND CD_UNID_NEG = @cd_unid_neg AND --( ( CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
					 DT_MOVIMENTO = @dt_movimento AND CD_CT_CAIXA = @cd_ct_caixa
	         
		SELECT @dt_ultimo_mov = MAX( DT_MOVIMENTO ) 
		FROM   TCAIXA_SALDOS
		WHERE  CD_COLIGADA = @cd_coligada AND CD_UNID_NEG = @cd_unid_neg AND --( ( CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
					 DT_MOVIMENTO <= @dt_movimento -1 AND CD_CT_CAIXA = @cd_ct_caixa

	/*IF ISNULL(@DT_ULTIMO_MOV, '') = ''
		SELECT @DT_ULTIMO_MOV = @DT_MOVIMENTO -1*/
	  
		SELECT @INSERT = COUNT(*) FROM TCAIXA_SALDOS S WHERE S.CD_COLIGADA  = @cd_coligada AND S.CD_UNID_NEG = @cd_unid_neg AND S.DT_MOVIMENTO = @dt_ultimo_mov AND CD_CT_CAIXA = @cd_ct_caixa

		INSERT INTO TCAIXA_SALDOS( CD_COLIGADA, CD_UNID_NEG, DT_MOVIMENTO, CD_CT_CAIXA, VL_SALDO_ANT, VL_TOT_CRE, VL_TOT_DEB )
			SELECT S.CD_COLIGADA, @cd_unid_neg, @dt_movimento, S.CD_CT_CAIXA, 
						 ( ROUND( ISNULL( CONVERT( numeric( 14, 2 ), S.VL_SALDO_ANT ), 0 ), 2 ) - 
							 ROUND( ISNULL( CONVERT( numeric( 14, 2 ), S.VL_TOT_DEB ), 0 ), 2 )  +
							 ROUND( ISNULL( CONVERT( numeric( 14, 2 ), S.VL_TOT_CRE ), 0 ), 2 ) ), 0, 0
			FROM   TCAIXA_SALDOS S
			WHERE  S.CD_COLIGADA  = @cd_coligada AND S.CD_UNID_NEG = @cd_unid_neg AND S.DT_MOVIMENTO = @dt_ultimo_mov --C.IN_ATIVO = '1' AND --C.IN_EXIBE = '1' AND
				AND CD_CT_CAIXA = @cd_ct_caixa			

	/*
	-- GRAVA LOG
	DECLARE @USER VARCHAR(100)
	DECLARE @CHAVE VARCHAR(1000)
	SET @USER = SUSER_NAME()
	SET @CHAVE = @cd_unid_neg + ', ' + CONVERT(VARCHAR, @dt_ultimo_mov)
	IF @DELETE > @INSERT
	BEGIN
		EXEC SP_GRAVA_LOG @USER, 'TCAIXA_SALDOS', 'DELETE', @DELETE, @CHAVE
		EXEC SP_GRAVA_LOG @USER, 'TCAIXA_SALDOS', 'INSERT', @INSERT, @CHAVE
	END
	--*/

	/*
		DECLARE c_caixa CURSOR FOR
			SELECT CD_UNID_NEG, TP_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, CD_CT_CONTABIL, 
						 CD_CT_ACERTO, CD_ITEM, IN_RESTITUI,
						 ROUND( ( ISNULL( VL_LANCAMENTO, 0 ) - ISNULL( VL_IR, 0 ) + ISNULL( VL_ASSIST, 0 ) ), 2 )
			FROM   TCAIXA
			WHERE  CD_COLIGADA  = @cd_coligada  AND
						 DT_MOVIMENTO = @dt_movimento AND
						 IN_CANCELADO = '0'
		OPEN c_caixa
		FETCH c_caixa INTO 
			@cd_unid_neg, @tp_lancamento, @tp_pagamento, @tp_natureza, @cd_banco, @cd_ct_contabil, 
			@cd_ct_acerto, @cd_item, @in_restitui, @vl_lancamento
		WHILE @@fetch_status <> -1
		BEGIN
			IF @tp_lancamento = 'F'
			BEGIN
				SELECT @tp_natureza_fat = TP_NATUREZA
				FROM   TTIPO_ITEM T,
							 TITEM I
				WHERE  I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
							 I.CD_ITEM      = @cd_item
				IF @tp_natureza_fat = 'D' 
					IF @in_restitui = '0'
						SELECT @tp_natureza = 'D'
					ELSE
						SELECT @tp_natureza = 'C'
				ELSE
					IF @in_restitui = '0'
						SELECT @tp_natureza = 'C'
					ELSE
						SELECT @tp_natureza = 'D'
			END  
			IF @tp_pagamento IN ( '$', 'C' )
			BEGIN
				IF @tp_pagamento = 'C'
				BEGIN
					SELECT @vl_debita  = @vl_lancamento
					SELECT @vl_credita = @vl_lancamento
				END
				ELSE
				BEGIN
					IF @tp_natureza = 'D'
					BEGIN
						SELECT @vl_debita  = @vl_lancamento
						SELECT @vl_credita = 0
					END
					ELSE
					BEGIN
						SELECT @vl_debita  = 0
						SELECT @vl_credita = @vl_lancamento
					END
				END
				UPDATE  TCAIXA_SALDOS 
				SET     VL_TOT_DEB   = ROUND( CONVERT( numeric( 14, 2 ), VL_TOT_DEB ) + @vl_debita, 2 ),
								VL_TOT_CRE   = ROUND( CONVERT( numeric( 14, 2 ), VL_TOT_CRE ) + @vl_credita, 2 )
				WHERE   CD_COLIGADA  = @cd_coligada AND
								DT_MOVIMENTO = @dt_movimento AND
								CD_CT_CAIXA  = '001'
			END
			IF @tp_lancamento = 'A'
			BEGIN
				IF @tp_natureza = 'D'
				BEGIN
					SELECT @vl_debita  = 0
					SELECT @vl_credita = @vl_lancamento
				END
				ELSE
				BEGIN
					SELECT @vl_debita  = @vl_lancamento
					SELECT @vl_credita = 0
				END
				UPDATE  TCAIXA_SALDOS
				SET     VL_TOT_DEB   = ROUND( CONVERT( numeric( 14, 2 ), VL_TOT_DEB ) + @vl_debita, 2 ),
								VL_TOT_CRE   = ROUND( CONVERT( numeric( 14, 2 ), VL_TOT_CRE ) + @vl_credita, 2 )
				WHERE   CD_COLIGADA  = @cd_coligada AND
								DT_MOVIMENTO = @dt_movimento AND
								CD_CT_CAIXA  = @cd_ct_acerto
			END   
			IF ( @cd_banco <> '' ) AND NOT ( @cd_banco IS NULL )
			BEGIN
				SELECT  @cd_conta = CD_CONTA
				FROM    TCONTA_CAIXA
				WHERE   CD_COLIGADA  = @cd_coligada AND
								CD_BANCO     = @cd_banco AND
								IN_ATIVO     = '1'
				IF @@rowcount > 0
				BEGIN
					IF @tp_natureza = 'D'
					BEGIN
						SELECT @vl_debita  = @vl_lancamento
						SELECT @vl_credita = 0
					END
					ELSE
					BEGIN
						SELECT @vl_debita  = 0
						SELECT @vl_credita = @vl_lancamento
					END
					UPDATE  TCAIXA_SALDOS
					SET     VL_TOT_DEB   = ROUND( CONVERT( numeric( 14, 2 ), VL_TOT_DEB ) + @vl_debita, 2 ),
									VL_TOT_CRE   = ROUND( CONVERT( numeric( 14, 2 ), VL_TOT_CRE ) + @vl_credita, 2 )
					WHERE   CD_COLIGADA  = @cd_coligada AND
									DT_MOVIMENTO = @dt_movimento AND
									CD_CT_CAIXA  = @cd_conta
				END 
			END

			IF @tp_lancamento = 'C'
			BEGIN
				SELECT  @cd_conta    = CD_CONTA
				FROM    TCONTA_CAIXA
				WHERE   CD_COLIGADA  = @cd_coligada AND
								CT_CONTABIL  = @cd_ct_contabil AND
								IN_ATIVO     = '1'
				IF @@rowcount > 0
				BEGIN
					IF @tp_natureza = 'D'
					BEGIN
						SELECT @vl_debita  = @vl_lancamento
						SELECT @vl_credita = 0
					END
					ELSE
					BEGIN
						SELECT @vl_debita  = 0
						SELECT @vl_credita = @vl_lancamento
					END
					UPDATE  TCAIXA_SALDOS
					SET     VL_TOT_DEB   = ROUND( CONVERT( numeric( 14, 2 ), VL_TOT_DEB ) + @vl_debita, 2 ),
									VL_TOT_CRE   = ROUND( CONVERT( numeric( 14, 2 ), VL_TOT_CRE ) + @vl_credita, 2 )
					WHERE   CD_COLIGADA  = @cd_coligada AND
									DT_MOVIMENTO = @dt_movimento AND
									CD_CT_CAIXA  = @cd_conta
				END
			END
			FETCH c_caixa INTO 
				@cd_unid_neg, @tp_lancamento, @tp_pagamento, @tp_natureza, @cd_banco, @cd_ct_contabil, 
				@cd_ct_acerto, @cd_item, @in_restitui, @vl_lancamento
		END
		CLOSE c_caixa
		DEALLOCATE c_caixa
	*/

		-- Rotina nova para totais de crédito / débito
		SELECT @vl_debita = 0, @vl_credita = 0

		DECLARE c_deb_cred CURSOR FOR
			SELECT CD_CT_CAIXA
			FROM   TCAIXA_SALDOS
			WHERE  CD_COLIGADA  = @cd_coligada AND
						 CD_UNID_NEG  = @cd_unid_neg AND
						 DT_MOVIMENTO = @dt_movimento AND
						 CD_CT_CAIXA = @cd_ct_caixa

		OPEN c_deb_cred
		FETCH c_deb_cred INTO @cd_conta
		WHILE @@fetch_status = 0
		BEGIN
			SELECT @vl_credita = 0
			SELECT @vl_debita  = 0

			SELECT CD_COLIGADA AS CD_COLIGADA, CD_UNID_NEG AS CD_UNID_NEG, DT_MOVIMENTO AS DT_MOVIMENTO, '   ' AS CD_CT_CAIXA,
						 VL_LANCAMENTO AS VL_CREDITO, VL_LANCAMENTO AS VL_DEBITO
			INTO   #TMP_SALDO
			FROM   TCAIXA
			WHERE  1 = 0

			-- Crédito ==> Cheques
			INSERT #TMP_SALDO( CD_COLIGADA, CD_UNID_NEG, DT_MOVIMENTO, CD_CT_CAIXA, VL_CREDITO )
			SELECT @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_conta,
				 ROUND( SUM(
					 CASE C.TP_NATUREZA 
						 WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
						 WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
					 END  ), 2 ) VL_LANCAMENTO
			FROM  TCAIXA C, TCT_CONTABIL T, TITEM I, TCONTA_CAIXA X
			WHERE C.CD_COLIGADA = @cd_coligada AND
						--C.CD_UNID_NEG = @cd_unid_neg AND
				( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
						X.CD_CONTA = @cd_conta AND
						C.DT_MOVIMENTO = @dt_movimento AND
						C.IN_CANCELADO = '0' AND
						C.CD_CT_CONTABIL *= T.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = T.ANO_CONTA AND
						C.CD_ITEM *= I.CD_ITEM AND
						( ( C.NR_CHEQUE IS NOT NULL ) AND ( C.NR_CHEQUE <> '' ) ) AND
						C.CD_COLIGADA = X.CD_COLIGADA AND
						--C.CD_UNID_NEG = X.CD_UNID_NEG AND
						C.CD_BANCO = X.CD_BANCO
			GROUP BY C.DT_MOVIMENTO, C.TP_PAGAMENTO, C.NR_CHEQUE
			HAVING
				 ROUND( SUM(
					 CASE C.TP_NATUREZA 
						 WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
						 WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
					 END ), 2 ) > 0
			ORDER BY C.NR_CHEQUE, C.DT_MOVIMENTO

			-- Crédito ==> Outros
			INSERT #TMP_SALDO( CD_COLIGADA, CD_UNID_NEG, DT_MOVIMENTO, CD_CT_CAIXA, VL_CREDITO )
			SELECT @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_conta,
				 ROUND( SUM(
					 CASE C.TP_NATUREZA 
						 WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
						 WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
					 END ), 2 ) VL_LANCAMENTO
			FROM  TCAIXA C, TCT_CONTABIL T, TITEM I, TCONTA_CAIXA X
			WHERE C.CD_COLIGADA = @cd_coligada AND
						--C.CD_UNID_NEG = @cd_unid_neg AND
				( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
						X.CD_CONTA = @cd_conta AND
						C.DT_MOVIMENTO = @dt_movimento AND
						C.IN_CANCELADO = '0' AND
						C.CD_CT_CONTABIL *= T.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = T.ANO_CONTA AND
						C.CD_ITEM *= I.CD_ITEM AND
						( ( C.NR_CHEQUE = '' ) OR ( C.NR_CHEQUE IS NULL ) ) AND
						C.CD_COLIGADA = X.CD_COLIGADA AND
						--C.CD_UNID_NEG = X.CD_UNID_NEG AND
						C.CD_BANCO = X.CD_BANCO
			GROUP BY C.DT_MOVIMENTO, T.NM_CT_CONTABIL, C.CD_ITEM, I.NM_ITEM, C.NR_CHEQUE
			HAVING
				 ROUND( SUM(
					 CASE C.TP_NATUREZA 
						 WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
						 WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
					 END ), 2 ) > 0
			ORDER BY C.DT_MOVIMENTO

			-- Débito ==> Cheques
			INSERT #TMP_SALDO( CD_COLIGADA, CD_UNID_NEG, DT_MOVIMENTO, CD_CT_CAIXA, VL_DEBITO )
			SELECT @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_conta,
				 ROUND( SUM(
					 CASE C.TP_NATUREZA 
						 WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
						 WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
					 END ), 2 ) VL_LANCAMENTO
			FROM  TCAIXA C, TCT_CONTABIL T, TITEM I, TCONTA_CAIXA X
			WHERE C.CD_COLIGADA = @cd_coligada AND
						--C.CD_UNID_NEG = @cd_unid_neg AND
				( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
						X.CD_CONTA = @cd_conta AND
						C.DT_MOVIMENTO = @dt_movimento AND
						C.IN_CANCELADO = '0' AND
						C.CD_CT_CONTABIL *= T.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = T.ANO_CONTA AND
						C.CD_ITEM *= I.CD_ITEM AND
						( ( C.NR_CHEQUE IS NOT NULL ) AND ( C.NR_CHEQUE <> '' ) ) AND
						C.CD_COLIGADA = X.CD_COLIGADA AND
						--C.CD_UNID_NEG = X.CD_UNID_NEG AND
						C.CD_BANCO = X.CD_BANCO
			GROUP BY C.DT_MOVIMENTO, C.TP_PAGAMENTO, C.NR_CHEQUE
			HAVING
				 ROUND( SUM(
					 CASE C.TP_NATUREZA 
						 WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
						 WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
					 END ), 2 ) < 0
			ORDER BY C.NR_CHEQUE, C.DT_MOVIMENTO

			-- Débito ==> Outros
			INSERT #TMP_SALDO( CD_COLIGADA, CD_UNID_NEG, DT_MOVIMENTO, CD_CT_CAIXA, VL_DEBITO )
			SELECT @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_conta,
				 ROUND( SUM(
					 CASE C.TP_NATUREZA 
						 WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
						 WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
					 END ), 2 ) VL_LANCAMENTO
			FROM  TCAIXA C, TCT_CONTABIL T, TITEM I, TCONTA_CAIXA X
			WHERE C.CD_COLIGADA = @cd_coligada AND
						--C.CD_UNID_NEG = @cd_unid_neg AND
				( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
						X.CD_CONTA = @cd_conta AND
						C.DT_MOVIMENTO = @dt_movimento AND
						C.IN_CANCELADO = '0' AND
						C.CD_CT_CONTABIL *= T.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = T.ANO_CONTA AND
						C.CD_ITEM *= I.CD_ITEM AND
						( ( C.NR_CHEQUE = '' ) OR ( C.NR_CHEQUE IS NULL ) ) AND
						C.CD_COLIGADA = X.CD_COLIGADA AND
						--C.CD_UNID_NEG = X.CD_UNID_NEG AND
						C.CD_BANCO = X.CD_BANCO
			GROUP BY C.DT_MOVIMENTO, T.NM_CT_CONTABIL, C.CD_ITEM, I.NM_ITEM, C.NR_CHEQUE
			HAVING
				 ROUND( SUM(
					 CASE C.TP_NATUREZA 
						 WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
						 WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
					 END ), 2 ) < 0
			ORDER BY C.DT_MOVIMENTO

			SELECT @vl_credita = ABS( SUM( ISNULL( VL_CREDITO, 0 ) ) ), @vl_debita = ABS( SUM( ISNULL( VL_DEBITO, 0 ) ) )
			FROM   #TMP_SALDO
			GROUP BY CD_COLIGADA, CD_UNID_NEG, DT_MOVIMENTO, CD_CT_CAIXA

			UPDATE  TCAIXA_SALDOS
			SET     VL_TOT_DEB   = @vl_debita,
							VL_TOT_CRE   = @vl_credita
			WHERE   CD_COLIGADA  = @cd_coligada AND
							CD_UNID_NEG  = @cd_unid_neg AND
							DT_MOVIMENTO = @dt_movimento AND
							CD_CT_CAIXA  = @cd_conta


			DROP TABLE #TMP_SALDO

			FETCH c_deb_cred INTO @cd_conta
		END
		CLOSE c_deb_cred
		DEALLOCATE c_deb_cred
	END

end --end if @dt_movimento > CONVERT(datetime, '03/01/2010', 103) 

/*
SELECT * FROM TCAIXA_SALDOS WHERE DT_MOVIMENTO = @dt_movimento AND CD_UNID_NEG = @cd_unid_neg

SELECT ISNULL( VL_SALDO_ANT, 0 ) + ISNULL( VL_TOT_CRE, 0 ) - ISNULL( VL_TOT_DEB, 0 )
FROM   TCAIXA_SALDOS (NOLOCK)
WHERE  CD_COLIGADA =  @cd_coligada AND
       DT_MOVIMENTO = @dt_movimento AND
       CD_CT_CAIXA = '001' AND
       CD_UNID_NEG = @cd_unid_neg



ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
