USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.SP_ATIVAR_DESATIVAR_UNIDADE    Script Date: 02/09/1999 08:58:32 AM ******/
/****** Object:  Stored Procedure dbo.SP_ATIVAR_DESATIVAR_UNIDADE    Script Date: 22/11/1998 11:05:24 ******/
/****** Object:  Stored Procedure dbo.SP_ATIVAR_DESATIVAR_UNIDADE    Script Date: 03/10/1998 19:56:48 ******/
CREATE PROC [SP_ATIVAR_DESATIVAR_UNIDADE] @IN_ATIVO CHAR(1), @CD_UNID_NEG CHAR(2) AS 
UPDATE UP 
SET UP.IN_ATIVO=@IN_ATIVO 
FROM TUNID_NEG_PRODUTO UP, TUNID_NEG P 
WHERE UP.CD_UNID_NEG=@CD_UNID_NEG


GO
