USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [sp_fat_rateio_imp] (  @cd_unid_neg    char(2),  @cd_produto     char(2),  @nr_solicitacao char(6)) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @cd_unid_neg    char(2),
  @cd_produto     char(2),
  @nr_solicitacao char(6) 

SET @cd_unid_neg    = '01'
SET @cd_produto     = '01'         
SET @nr_solicitacao = '099852'
--*/
DECLARE
  @contador          int,
  @count             int,
  @acoxambro         float(8),
  @nr_processo       char(18),
  @nr_processo_tmp   char(18),
  @cd_item           char(3),
  @cd_item_tmp       char(3),
  @vl_item           float(8),
  @vl_item_tmp       float(8),
  @cd_referencia     varchar(28),
  @cd_referencia_tmp varchar(28),
  @cd_area           char(2),
  @cd_area_tmp       char(2),
  @nr_nota_fatura    char(6),
  @tp_rateio_desp    char(1),
  @vl_item_area      float,
  @pl_item_area      float(8),
  @pb_mercadoria     float(8),
  @pl_mercadoria     float(8),
  @pl_carga          float(8),
  @pb_carga          float(8),
  @vl_fob            float(8),
  @vl_fob_item       float(8),
  @vl_cif            float(8),
  @vl_cif_item       float(8),
  @qt_mercadoria     float,
  @nr_cd_area        int,
  @in_li             char(1),
  @nr_oper_trat_prev char(10),
  @vl_tot_seguro_mn  float(8),
  @vl_tot_frete_mn   float(8),
  @vl_tot_frete_seguro_mn float(8)

PRINT 'Executando rateio - Importação'
--DELETE FROM TFAT_CALCULO_RATEIO_DESP
--WHERE NR_PROCESSO = '0101IM-2946-09'

/*****  1ª ETAPA DO RATEIO - CRIAÇÃO DAS TEMPORÁRIAS  *****/
--cria tabela temporária com os itens dos processos da solicitação
SELECT FC.NR_PROCESSO, FC.CD_ITEM, NR_NOTA_FATURA,
  ISNULL( ROUND( SUM( CASE FC.IN_RESTITUI 
                        WHEN '0' THEN ISNULL( FC.VL_ITEM, 0 )
                        WHEN '1' THEN ISNULL( FC.VL_ITEM, 0 ) * (-1) 
                      END ), 2 ), 0 ) AS VL_ITEM
INTO #TMP_ITENS_FATURA
FROM TS_FATURA FA (NOLOCK)
  INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)
  INNER JOIN TFATURAMENTO_CC    FC (NOLOCK) ON (FC.CD_UNID_NEG = FP.CD_UNID_NEG AND FC.CD_PRODUTO = FP.CD_PRODUTO AND FC.NR_SOLIC_FAT = FP.NR_SOLICITACAO AND FC.NR_PROCESSO = FP.NR_PROCESSO)
  INNER JOIN TPROCESSO          PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)
  INNER JOIN TEMPRESA_NAC       EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)
  INNER JOIN TGRUPO             GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)
WHERE FA.CD_UNID_NEG    = @cd_unid_neg
  AND FA.CD_PRODUTO     = @cd_produto
  AND FA.NR_SOLICITACAO = @nr_solicitacao
  AND ISNULL(FC.IN_CANCELADO, '0') = '0'
  AND CONVERT(int, FC.CD_ITEM) < 900
  AND ISNULL(GE.IN_RATEIO, '0') = '1'
GROUP BY FC.NR_PROCESSO, FC.CD_ITEM, NR_NOTA_FATURA
HAVING ROUND( SUM( CASE FC.IN_RESTITUI 
                     WHEN '0' THEN ISNULL( FC.VL_ITEM, 0 )
                     WHEN '1' THEN ISNULL( FC.VL_ITEM, 0 ) * (-1) 
                   END ), 2 ) > 0

--cria tabela temporária de processos
SELECT DISTINCT NR_PROCESSO INTO #TMP_PROCESSO FROM #TMP_ITENS_FATURA

--cria tabela com os totais das mercadorias do processo
SELECT DM.NR_PROCESSO, SUM(DM.PL_MERCADORIA) AS PL_CARGA, SUM(DM.VL_MLE_ITEM_MN) AS VL_FOB, SUM(DM.QT_MERC_UN_COMERC) AS QT_MERCADORIA,
  ( SUM(DM.VL_MLE_ITEM_MN) + SUM(DM.VL_FRETE_ITEM_MN) + SUM(DM.VL_SEGURO_ITEM_MN) + 
    SUM(DM.VL_ACRESCIMO_ITEM_MN) - SUM(DM.VL_DEDUCAO_ITEM_MN) + SUM(DM.VL_DESPESA_ITEM_MN) ) AS VL_CIF,
  MAX( CASE DI.IN_EMBUT_SEG_ITENS
         WHEN '0' THEN '0' 
	       WHEN '1' THEN  DI.VL_TOT_SEGURO_MNEG * DI.TX_SEGURO 
	     END ) AS VL_TOT_SEGURO_MN, 
  MAX( CASE DI.IN_EMBUT_FRT_ITENS
	       WHEN '0' THEN '0'
	       WHEN '1' THEN ( DI.VL_TOT_FRT_PREPAID + DI.VL_TOT_FRT_COLLECT - DI.VL_FRETE_TNAC_MNEG ) * DI.TX_FRETE 
	     END ) AS VL_TOT_FRETE_MN
INTO #TMP_MERCADORIA
FROM #TMP_PROCESSO tmpPR (NOLOCK)
  INNER JOIN TDETALHE_MERCADORIA    DM (NOLOCK) ON (DM.NR_PROCESSO = tmpPR.NR_PROCESSO)
  INNER JOIN TDECLARACAO_IMPORTACAO DI (NOLOCK) ON (DI.NR_PROCESSO = tmpPR.NR_PROCESSO)
GROUP BY DM.NR_PROCESSO

--cria tabela com totais das mercadorias por referencias do processo
-- Incluido número da Parcial (Gerava valor negativo) - Michel - 18/09/2009
SELECT RC.NR_PROCESSO, RC.CD_AREA,
  (RTRIM(DM.NR_PROC_PO) + CASE 
                            WHEN ISNULL(DM.NR_ITEM_PO, '') = '' THEN ''
                            ELSE '/' + DM.NR_ITEM_PO + ISNULL('/' + DM.CD_EMPRESA, '') + ISNULL('/' + CONVERT(VARCHAR, DM.NR_PARCIAL), '')
                          END) AS CD_REFERENCIA, 
  SUM(ISNULL(DM.PL_MERCADORIA, 0)) AS PL_MERCADORIA, SUM(DM.VL_MLE_ITEM_MN) AS VL_FOB_ITEM,
  ( SUM(DM.VL_MLE_ITEM_MN) + SUM(DM.VL_FRETE_ITEM_MN) + SUM(DM.VL_SEGURO_ITEM_MN) + 
    SUM(DM.VL_ACRESCIMO_ITEM_MN) - SUM(DM.VL_DEDUCAO_ITEM_MN) + SUM( DM.VL_DESPESA_ITEM_MN) ) AS VL_CIF_ITEM,
  SUM(DM.VL_SEGURO_ITEM_MN) AS VL_SEGURO_ITEM_MN
INTO #TMP_REFERENCIA
FROM TS_FATURA FA (NOLOCK)
  INNER JOIN TS_FATURA_PROCESSO  FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)
  INNER JOIN TREF_CLIENTE        RC (NOLOCK) ON (RC.NR_PROCESSO = FP.NR_PROCESSO)
  INNER JOIN TDETALHE_MERCADORIA DM (NOLOCK) ON (DM.NR_PROCESSO = RC.NR_PROCESSO
                                            AND RTRIM(DM.NR_PROC_PO) = RTRIM(RC.CD_REFERENCIA)
                                            AND DM.CD_EMPRESA = RC.CD_EMPRESA
                                            AND ISNULL(DM.NR_ITEM_PO, '') = ISNULL(RC.NR_ITEM_PO, '')
                                            AND DM.NR_PARCIAL = RC.NR_PARCIAL)
  /*INNER JOIN TDETALHE_MERCADORIA DM (NOLOCK) ON (DM.NR_PROCESSO = RC.NR_PROCESSO AND (RTRIM( DM.NR_PROC_PO ) + CASE 
                                                                                                                 WHEN ISNULL( DM.NR_ITEM_PO, '' ) = '' THEN ''
                                                                                                                 ELSE '/' + ISNULL( DM.NR_ITEM_PO, '' )  + CASE 
                                                                                                                                                               WHEN ISNULL(CONVERT(VARCHAR, DM.NR_PARCIAL), '') = '' THEN ''
                                                                                                                                                               ELSE '/' + CONVERT(VARCHAR, DM.NR_PARCIAL)
                                                                                                                                                           END
                                                                                                               END ) = LTRIM(RTRIM(RC.CD_REFERENCIA)) + '/' + LTRIM(RTRIM(RC.NR_ITEM_PO)) + ISNULL(CONVERT(VARCHAR, RC.NR_PARCIAL), ''))*/
  INNER JOIN TPROCESSO           PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)
  INNER JOIN TEMPRESA_NAC        EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)
  INNER JOIN TGRUPO              GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)
WHERE FA.CD_UNID_NEG    = @cd_unid_neg
  AND FA.CD_PRODUTO     = @cd_produto
  AND FA.NR_SOLICITACAO = @nr_solicitacao
  AND ISNULL(GE.IN_RATEIO, '0') = '1'
GROUP BY RC.NR_PROCESSO, RC.CD_AREA, DM.NR_PROC_PO, DM.NR_ITEM_PO, DM.CD_EMPRESA, DM.NR_PARCIAL, (RTRIM(DM.NR_PROC_PO) + CASE 
                                                               WHEN ISNULL(DM.NR_ITEM_PO, '') = '' THEN ''
                                                               ELSE '/' + DM.NR_ITEM_PO + ISNULL('/' + CONVERT(VARCHAR, DM.CD_EMPRESA), '') + ISNULL('/' + CONVERT(VARCHAR, DM.NR_PARCIAL), '')
                                                             END)


SELECT F.CD_ITEM,
       P.CD_AREA,
       ISNULL(A.TP_RATEIO_DESP, '7') AS TP_RATEIO_DESP,
       ISNULL(A.VL_NUN_INDICE, 0) AS VL_NUN_INDICE,
       ISNULL(A.VL_DEN_INDICE, 1) AS VL_DEN_INDICE,
       A.CD_MOEDA_INDICE,
       ISNULL(A.IN_LI, '0') AS IN_LI
INTO #TMP_ITEM_AREA
FROM #TMP_ITENS_FATURA F INNER JOIN TPROCESSO P ON P.NR_PROCESSO = F.NR_PROCESSO
   LEFT JOIN TITEM_AREA A ON A.CD_AREA = P.CD_AREA AND A.CD_ITEM = F.CD_ITEM

--inicia o contador
SET @contador = 1

/*****  2ª ETAPA DO RATEIO - PREPARANDO O RATEIO  *****/
DECLARE cItem CURSOR FOR
  SELECT NR_PROCESSO, CD_ITEM, VL_ITEM, NR_NOTA_FATURA
  FROM #TMP_ITENS_FATURA

OPEN cItem
FETCH cItem INTO @nr_processo, @cd_item, @vl_item, @nr_nota_fatura

WHILE @@fetch_status = 0
BEGIN
  SET @acoxambro = @vl_item

  SELECT @tp_rateio_desp = IA.TP_RATEIO_DESP 
  FROM #TMP_ITEM_AREA IA (NOLOCK)
    INNER JOIN #TMP_REFERENCIA tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
    INNER JOIN #TMP_MERCADORIA tmpME ON (tmpME.NR_PROCESSO = tmpRC.NR_PROCESSO)
  WHERE IA.CD_ITEM = @cd_item

  /*****  PESO LÍQUIDO - TP_RATEIO_DESP = 2  ******/	
  IF @tp_rateio_desp = '2'
  BEGIN
    SELECT tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, IA.TP_RATEIO_DESP, SUM(tmpRC.PL_MERCADORIA) AS PL_ITEM_AREA,
      SUM(tmpME.PL_CARGA) AS PL_CARGA, IA.IN_LI, MAX(AD.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
    INTO #TMP_PESO_LIQUIDO
    FROM #TMP_ITEM_AREA IA (NOLOCK)
      INNER JOIN #TMP_REFERENCIA tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
      INNER JOIN #TMP_MERCADORIA tmpME ON (tmpME.NR_PROCESSO = tmpRC.NR_PROCESSO)
      INNER JOIN TADICAO_DE_IMPORTACAO AD (NOLOCK) ON (AD.NR_PROCESSO = tmpRC.NR_PROCESSO)
    WHERE IA.CD_ITEM = @cd_item
      AND tmpRC.NR_PROCESSO = @nr_processo
    GROUP BY tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, IA.TP_RATEIO_DESP, IA.IN_LI

    SELECT @count = COUNT(*)
    FROM #TMP_PESO_LIQUIDO

    DECLARE cItemArea CURSOR FOR
      SELECT CD_REFERENCIA, CD_ITEM, CD_AREA, PL_ITEM_AREA, TP_RATEIO_DESP, PL_CARGA, IN_LI, NR_OPER_TRAT_PREV
      FROM   #TMP_PESO_LIQUIDO

    OPEN cItemArea
    FETCH cItemArea INTO @cd_referencia, @cd_item_tmp, @cd_area_tmp, @pl_item_area, @tp_rateio_desp, @pl_carga, @in_li, @nr_oper_trat_prev

    WHILE @@fetch_status = 0
    BEGIN
      IF @contador <> @count
      BEGIN 
        IF ( ( (@in_li = 1) AND (@nr_oper_trat_prev <> '') ) OR 
             ( ( (@in_li = 0) AND (@nr_oper_trat_prev = '') ) OR ( (@in_li = 0) AND (@nr_oper_trat_prev <> '') ) ) ) 
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SET @vl_item_area = ROUND( ( ( @vl_item * @pl_item_area ) / @pl_carga ), 2 )
          SET @acoxambro    = ROUND( ( @acoxambro - @vl_item_area ), 2 )

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, 
               VL_ITEM, PL_MERCADORIA, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @cd_referencia,  @cd_item_tmp, @cd_area_tmp, 
	             @vl_item, @pl_carga, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
        SET @contador = @contador + 1 
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
             ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) 
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = '' SET @acoxambro = ROUND( @vl_item, 2 )
          SET @vl_item_area = @acoxambro          

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA,
              VL_ITEM, PL_MERCADORIA, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @cd_referencia,  @cd_item_tmp, @cd_area_tmp, 
	            @vl_item, @pl_carga, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
      END     
      FETCH cItemArea INTO @cd_referencia, @cd_item_tmp, @cd_area_tmp, @pl_item_area, @tp_rateio_desp, @pl_carga, @in_li, @nr_oper_trat_prev
    END
    SET @contador = 1
    CLOSE cItemArea
    DEALLOCATE cItemArea
    DROP TABLE #TMP_PESO_LIQUIDO
  END

  /*****  PESO BRUTO - TP_RATEIO_DESP = 3  *****/
  IF @tp_rateio_desp = '3'
  BEGIN
    SELECT DI.NR_PROCESSO, DI.PB_CARGA
    INTO #TMP_PB_CARGA
    FROM TDECLARACAO_IMPORTACAO DI (NOLOCK)
      INNER JOIN #TMP_REFERENCIA tmpRC ON (tmpRC.NR_PROCESSO = DI.NR_PROCESSO)
      INNER JOIN #TMP_MERCADORIA tmpME ON (tmpME.NR_PROCESSO = tmpRC.NR_PROCESSO)
    GROUP BY DI.NR_PROCESSO, DI.PB_CARGA

    SELECT tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, IA.TP_RATEIO_DESP, tmpRC.PL_MERCADORIA AS PL_ITEM_AREA,
      tmpPB.PB_CARGA, tmpME.PL_CARGA, IA.IN_LI, MAX(AD.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
    INTO #TMP_PESO_BRUTO
    FROM #TMP_ITEM_AREA IA (NOLOCK)
      INNER JOIN #TMP_REFERENCIA tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
      INNER JOIN #TMP_MERCADORIA tmpME ON (tmpME.NR_PROCESSO = tmpRC.NR_PROCESSO)
      INNER JOIN #TMP_PB_CARGA   tmpPB ON (tmpPB.NR_PROCESSO = tmpRC.NR_PROCESSO)
      INNER JOIN TADICAO_DE_IMPORTACAO AD (NOLOCK) ON (AD.NR_PROCESSO = tmpRC.NR_PROCESSO)
    WHERE IA.CD_ITEM = @cd_item
      AND tmpRC.NR_PROCESSO = @nr_processo
    GROUP BY tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, IA.TP_RATEIO_DESP, tmpRC.PL_MERCADORIA, 
             tmpPB.PB_CARGA, tmpME.PL_CARGA, IA.IN_LI

    SELECT @count=COUNT(*)
    FROM #TMP_PESO_BRUTO

    DECLARE cItemArea CURSOR FOR
      SELECT CD_REFERENCIA, CD_ITEM, CD_AREA, TP_RATEIO_DESP, PL_ITEM_AREA, PB_CARGA, PL_CARGA, IN_LI, NR_OPER_TRAT_PREV
      FROM #TMP_PESO_BRUTO

    OPEN cItemArea
    FETCH cItemArea INTO @cd_referencia, @cd_item_tmp, @cd_area_tmp, @tp_rateio_desp, @pl_mercadoria, @pb_carga, @pl_carga, @in_li, @nr_oper_trat_prev

    WHILE @@fetch_status = 0
    BEGIN
      IF @contador <> @count
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
             ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) )
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SET @pb_mercadoria = ROUND( ( @pb_carga * @pl_mercadoria ) / @pl_carga , 2 )
          SET @vl_item_area = ROUND( ( ( @vl_item * @pb_mercadoria ) / @pb_carga ), 2 )       
          SET @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2)

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, PL_MERCADORIA, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @cd_referencia,  @cd_item_tmp,
              @cd_area_tmp, @vl_item, @pl_mercadoria, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
        SET @contador = @contador + 1
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
             ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) 
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = '' SET @acoxambro = ROUND(@vl_item, 2)
          SET @vl_item_area = ROUND(@acoxambro, 2)

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, PL_MERCADORIA, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @cd_referencia,  @cd_item_tmp,
              @cd_area_tmp, @vl_item, @pl_mercadoria, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
      END     
      FETCH cItemArea INTO @cd_referencia, @cd_item_tmp, @cd_area_tmp, @tp_rateio_desp, @pl_mercadoria, @pb_carga, @pl_carga, @in_li, @nr_oper_trat_prev
    END
    SET @contador = 1
    CLOSE cItemArea
    DEALLOCATE cItemArea
    DROP TABLE #TMP_PB_CARGA
    DROP TABLE #TMP_PESO_BRUTO
  END

  /*****  FOB - TP_RATEIO_DESP = 4  *****/     
  IF @tp_rateio_desp = '4'   
  BEGIN
    SELECT tmpRC.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, tmpME.VL_FOB, tmpRC.VL_FOB_ITEM,
      MIN(tmpRC.PL_MERCADORIA) AS PL_ITEM_AREA, IA.IN_LI, MAX(AD.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
    INTO #TMP_FOB
    FROM #TMP_ITEM_AREA IA (NOLOCK)
      INNER JOIN #TMP_REFERENCIA   tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
      INNER JOIN #TMP_MERCADORIA   tmpME ON (tmpME.NR_PROCESSO = tmpRC.NR_PROCESSO)
      INNER JOIN #TMP_ITENS_FATURA tmpIF ON (tmpIF.NR_PROCESSO = tmpRC.NR_PROCESSO)
      INNER JOIN TADICAO_DE_IMPORTACAO AD (NOLOCK) ON (AD.NR_PROCESSO = tmpRC.NR_PROCESSO)
    WHERE IA.TP_RATEIO_DESP = '4'
      AND IA.CD_ITEM        = @cd_item
      AND tmpRC.NR_PROCESSO = @nr_processo
    GROUP BY tmpRC.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, tmpME.VL_FOB, tmpRC.VL_FOB_ITEM, tmpRC.PL_MERCADORIA, 
             (IA.VL_NUN_INDICE / IA.VL_DEN_INDICE), IA.IN_LI

    SELECT @count = COUNT(*)
    FROM #TMP_FOB

    DECLARE cItemArea CURSOR FOR
      SELECT NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, FOB, VL_FOB_ITEM, PL_ITEM_AREA, IN_LI, NR_OPER_TRAT_PREV
      FROM #TMP_FOB

    OPEN cItemArea
    FETCH cItemArea INTO @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_fob, @vl_fob_item, @pl_item_area, @in_li, @nr_oper_trat_prev

    WHILE @@fetch_status = 0
    BEGIN
      IF @contador <> @count
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
             ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) )
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SET @vl_item_area = ROUND( ( ( @vl_item * @vl_fob_item ) / @vl_fob), 2 )      
          SET @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2 )

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_tmp, @cd_referencia_tmp,  @cd_item_tmp,
              @cd_area_tmp, @vl_item, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
    END
        END 
        SELECT @contador = ( @contador + 1 ) 
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
             ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) 
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = '' SET @acoxambro = ROUND( @vl_item, 2 )
          SET @vl_item_area = @acoxambro

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_tmp, @cd_referencia_tmp,  @cd_item_tmp,
              @cd_area_tmp, @vl_item, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
      END     
    FETCH cItemArea INTO  @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_fob, @vl_fob_item, @pl_item_area, @in_li, @nr_oper_trat_prev
    END
    SET @contador = 1
    CLOSE cItemArea
    DEALLOCATE cItemArea
    DROP TABLE #TMP_FOB
  END

  /******    CIF - TP_RATEIO_DESP = 5   *******/
  IF @tp_rateio_desp = '5'   
  BEGIN
    SELECT @vl_tot_seguro_mn = VL_TOT_SEGURO_MN, @vl_tot_frete_mn = VL_TOT_FRETE_MN
    FROM #TMP_MERCADORIA tmpME
      INNER JOIN #TMP_PROCESSO tmpPR ON (tmpPR.NR_PROCESSO = tmpME.NR_PROCESSO)

    SET @vl_tot_frete_seguro_mn = @vl_tot_seguro_mn + @vl_tot_frete_mn

    SELECT tmpRC.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, 
      (tmpME.VL_CIF /*- @vl_tot_frete_seguro_mn*/) AS VL_CIF, (tmpRC.VL_CIF_ITEM /*- tmpRC.VL_SEGURO_ITEM_MN*/) AS VL_CIF_ITEM,
      tmpRC.PL_MERCADORIA AS PL_ITEM_AREA, IA.IN_LI, MAX(AD.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
    INTO #TMP_CIF
    FROM #TMP_ITEM_AREA IA (NOLOCK)
      INNER JOIN #TMP_REFERENCIA   tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
      INNER JOIN #TMP_MERCADORIA   tmpME ON (tmpME.NR_PROCESSO = tmpRC.NR_PROCESSO)
      INNER JOIN #TMP_ITENS_FATURA tmpIF ON (tmpIF.NR_PROCESSO = tmpRC.NR_PROCESSO)
      INNER JOIN TADICAO_DE_IMPORTACAO AD (NOLOCK) ON (AD.NR_PROCESSO = tmpRC.NR_PROCESSO)
    WHERE IA.TP_RATEIO_DESP = '5'
      AND IA.CD_ITEM        = @cd_item
      AND tmpRC.NR_PROCESSO = @nr_processo
    GROUP BY tmpRC.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, (tmpME.VL_CIF /*- @vl_tot_frete_seguro_mn*/),
      (tmpRC.VL_CIF_ITEM /*- tmpRC.VL_SEGURO_ITEM_MN*/), tmpRC.PL_MERCADORIA, IA.IN_LI

    SELECT @count = COUNT(*)
    FROM #TMP_CIF

    DECLARE cItemArea CURSOR FOR
      SELECT NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_CIF, VL_CIF_ITEM, PL_ITEM_AREA, IN_LI, NR_OPER_TRAT_PREV
      FROM #TMP_CIF

    OPEN cItemArea
    FETCH cItemArea INTO @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_cif, @vl_cif_item, @pl_item_area, @in_li, @nr_oper_trat_prev

    WHILE @@FETCH_STATUS = 0
    BEGIN
      IF @contador <> @count
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
             ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) 
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SET @vl_item_area = ROUND( ( ( @vl_item * @vl_cif_item ) / @vl_cif ), 2 )      
          SET @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2 )

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia_tmp
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN 
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp,
              @cd_area_tmp, @vl_item, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
        SET @contador = ( @contador + 1 ) 
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
             ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) 
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = '' SET @acoxambro = ROUND( @vl_item, 2 )
          SET @vl_item_area = @acoxambro

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia_tmp
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp,
              @cd_area_tmp, @vl_item, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END     
      END
      FETCH cItemArea INTO @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_cif, @vl_cif_item, @pl_item_area, @in_li, @nr_oper_trat_prev
    END
    SET @contador = 1
    CLOSE cItemArea
    DEALLOCATE cItemArea
    DROP TABLE #TMP_CIF
  END

  /*****  QUANTIDADE - TP_RATEIO_DESP = 6  *****/
  IF @tp_rateio_desp = '6'   
  BEGIN
    SELECT tmpRC.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, tmpME.QT_MERCADORIA,
      tmpRC.PL_MERCADORIA AS PL_ITEM_AREA, IA.IN_LI, MAX(AD.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
    INTO #TMP_QUANTIDADE
    FROM #TMP_ITEM_AREA IA (NOLOCK)
      INNER JOIN #TMP_REFERENCIA   tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
      INNER JOIN #TMP_MERCADORIA   tmpME ON (tmpME.NR_PROCESSO = tmpRC.NR_PROCESSO)
      INNER JOIN #TMP_ITENS_FATURA tmpIF ON (tmpIF.NR_PROCESSO = tmpRC.NR_PROCESSO)
      INNER JOIN TADICAO_DE_IMPORTACAO AD (NOLOCK) ON (AD.NR_PROCESSO = tmpRC.NR_PROCESSO)
    WHERE IA.TP_RATEIO_DESP = '6'
      AND IA.CD_ITEM        = @cd_item
      AND tmpRC.NR_PROCESSO = @nr_processo
    GROUP BY tmpRC.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, tmpME.QT_MERCADORIA, tmpRC.PL_MERCADORIA, IA.IN_LI

    SELECT @count = COUNT(*)
    FROM #TMP_QUANTIDADE

    DECLARE cItemArea CURSOR FOR
      SELECT NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, QT_MERCADORIA, PL_ITEM_AREA, IN_LI, NR_OPER_TRAT_PREV
      FROM   #TMP_QUANTIDADE

    OPEN cItemArea
    FETCH cItemArea INTO @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @qt_mercadoria, @pl_item_area, @in_li, @nr_oper_trat_prev
    WHILE @@fetch_status = 0
    BEGIN
      IF @contador <> @count
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
             ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) 
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SET @vl_item_area = ROUND( ( ( @vl_item * @pl_item_area ) / @qt_mercadoria ) , 2 )        
          SET @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2 )

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp,
              @cd_area_tmp, @vl_item, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END 
        END
        SET @contador = @contador + 1
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
             ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) 
           --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = '' SET @acoxambro = ROUND( @vl_item, 2 )
          SELECT @vl_item_area = @acoxambro 

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp,
              @cd_area_tmp, @vl_item, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
      END     
    FETCH cItemArea INTO  @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @qt_mercadoria, @pl_item_area, @in_li, @nr_oper_trat_prev
    END
    SET @contador = 1
    CLOSE cItemArea
    DEALLOCATE cItemArea
    DROP TABLE #TMP_QUANTIDADE
  END

  FETCH cItem INTO @nr_processo, @cd_item, @vl_item, @nr_nota_fatura
END

CLOSE cItem
DEALLOCATE cItem

/*****  Nº DE PEDIDOS - TP_RATEIO_DESP = 7  *****/
SELECT @tp_rateio_desp = IA.TP_RATEIO_DESP
FROM #TMP_ITEM_AREA IA (NOLOCK)
  INNER JOIN #TMP_REFERENCIA   tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
  INNER JOIN #TMP_ITENS_FATURA tmpIF ON (tmpIF.NR_PROCESSO = tmpRC.NR_PROCESSO)
WHERE IA.TP_RATEIO_DESP = '7'
  AND IA.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_ITENS_FATURA )
  AND IA.CD_AREA IN ( SELECT CD_AREA FROM #TMP_REFERENCIA )

IF @tp_rateio_desp = '7'
BEGIN
  SELECT tmpIF.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, MIN(tmpIF.VL_ITEM) AS VL_ITEM,
    tmpIF.NR_NOTA_FATURA, IA.IN_LI, MAX(AD.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
  INTO #TMP_PEDIDO
  FROM #TMP_ITEM_AREA IA (NOLOCK)
    INNER JOIN #TMP_REFERENCIA   tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
    INNER JOIN #TMP_ITENS_FATURA tmpIF ON (tmpIF.CD_ITEM = IA.CD_ITEM)
    INNER JOIN TADICAO_DE_IMPORTACAO AD (NOLOCK) ON (AD.NR_PROCESSO = tmpRC.NR_PROCESSO)
  WHERE IA.TP_RATEIO_DESP = '7'
    AND IA.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_ITENS_FATURA )
    AND IA.CD_AREA IN ( SELECT CD_AREA FROM #TMP_REFERENCIA )
    AND ( ( ( IA.IN_LI = 1 ) AND ( AD.NR_OPER_TRAT_PREV <> '' ) ) OR 
          ( ( ( IA.IN_LI = 0 ) AND ( AD.NR_OPER_TRAT_PREV = ''  ) ) OR ( ( IA.IN_LI = 0 ) AND ( AD.NR_OPER_TRAT_PREV <> ''  ) ) ) )
    --AND ( AD.NR_OPER_TRAT_PREV = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
  GROUP BY tmpIF.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, tmpIF.NR_NOTA_FATURA, IA.IN_LI
  ORDER BY tmpIF.NR_PROCESSO, IA.CD_AREA

  DECLARE cPedido CURSOR FOR
    SELECT tmpNP.NR_PROCESSO, tmpNP.CD_ITEM, tmpRC.CD_AREA, tmpNP.VL_ITEM
    FROM #TMP_PEDIDO tmpNP
      INNER JOIN #TMP_REFERENCIA tmpRC ON (tmpRC.NR_PROCESSO = tmpNP.NR_PROCESSO)
    WHERE tmpNP.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_ITENS_FATURA )
      AND tmpNP.CD_AREA IN ( SELECT CD_AREA FROM #TMP_REFERENCIA )
    GROUP BY tmpNP.NR_PROCESSO, tmpNP.CD_ITEM, tmpRC.CD_AREA, tmpNP.VL_ITEM

  OPEN cPedido
  FETCH cPedido INTO @nr_processo, @cd_item, @cd_area, @vl_item

  WHILE @@fetch_status = 0
  BEGIN
    SET @contador     = 0  
    SET @acoxambro    = @vl_item
    SET @vl_item_area = 0

    SELECT @count = COUNT(CD_REFERENCIA)
    FROM #TMP_PEDIDO  
    WHERE CD_ITEM = @cd_item 
      AND NR_PROCESSO = @nr_processo

    DECLARE cItemArea CURSOR FOR
      SELECT CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM
      FROM #TMP_PEDIDO
      WHERE CD_ITEM = @cd_item
        AND NR_PROCESSO = @nr_processo
      GROUP BY CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM
    OPEN cItemArea
    FETCH cItemArea INTO @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_item_tmp

    WHILE @@fetch_status = 0
    BEGIN
      IF @contador <> @count - 1
      BEGIN
        SET @vl_item_area = ROUND( ( @vl_item_tmp / ( @count ) ), 2 )
        SET @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2 )

        IF NOT EXISTS( SELECT *
                       FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                       WHERE CD_UNID_NEG    = @cd_unid_neg
                         AND CD_PRODUTO     = @cd_produto
                         AND NR_SOLICITACAO = @nr_solicitacao
                         AND NR_PROCESSO    = @nr_processo
                         AND CD_REFERENCIA  = @cd_referencia_tmp
                         AND CD_ITEM        = @cd_item_tmp  
                         AND CD_AREA        = @cd_area_tmp )
        BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
            CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA)
          SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @cd_referencia_tmp, @cd_item_tmp,
            @cd_area_tmp, @vl_item_tmp, @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
          FROM #TMP_PEDIDO 
          WHERE NR_PROCESSO = @nr_processo
            AND CD_ITEM = @cd_item_tmp
            AND CD_AREA = @cd_area_tmp 
          GROUP BY NR_NOTA_FATURA
        END

        SET @contador = @contador + 1
      END
      ELSE
      BEGIN
        IF @acoxambro = '' SET @acoxambro = ROUND( @vl_item, 2 )
        SET @vl_item_area = @acoxambro 
   
        IF NOT EXISTS( SELECT *
                       FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                       WHERE CD_UNID_NEG    = @cd_unid_neg
                         AND CD_PRODUTO     = @cd_produto
                         AND NR_SOLICITACAO = @nr_solicitacao
                         AND NR_PROCESSO    = @nr_processo
                         AND CD_REFERENCIA  = @cd_referencia_tmp
                         AND CD_ITEM        = @cd_item_tmp  
                         AND CD_AREA        = @cd_area_tmp )
        BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
            CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA)
          SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @cd_referencia_tmp, @cd_item_tmp,
            @cd_area_tmp, @vl_item_tmp, @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
          FROM #TMP_PEDIDO 
          WHERE NR_PROCESSO = @nr_processo
            AND CD_ITEM = @cd_item_tmp
            AND CD_AREA = @cd_area_tmp 
          GROUP BY NR_NOTA_FATURA
        END
      END      

      FETCH cItemArea INTO @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_item_tmp
    END
    CLOSE cItemArea
    DEALLOCATE cItemArea

    FETCH cPedido INTO @nr_processo, @cd_item, @cd_area, @vl_item
  END
  CLOSE cPedido
  DEALLOCATE cPedido
  DROP TABLE #TMP_PEDIDO
END

/*****  CONTÊINER - TP_RATEIO_DESP = 1  *****/
SELECT @tp_rateio_desp = IA.TP_RATEIO_DESP
FROM #TMP_ITEM_AREA IA (NOLOCK)
  INNER JOIN #TMP_REFERENCIA   tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
  INNER JOIN #TMP_ITENS_FATURA tmpIF ON (tmpIF.NR_PROCESSO = tmpRC.NR_PROCESSO)
WHERE IA.TP_RATEIO_DESP = '1'
  AND IA.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_ITENS_FATURA )
  AND IA.CD_AREA IN ( SELECT CD_AREA FROM #TMP_REFERENCIA )

IF @tp_rateio_desp = '1'
BEGIN
  SELECT tmpIF.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, tmpIF.VL_ITEM,
    tmpIF.NR_NOTA_FATURA, IA.IN_LI, MAX(AD.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
  INTO #TMP_CONTEINER
  FROM #TMP_ITEM_AREA IA (NOLOCK)
    INNER JOIN #TMP_REFERENCIA   tmpRC ON (tmpRC.CD_AREA = IA.CD_AREA)
    INNER JOIN #TMP_ITENS_FATURA tmpIF ON (tmpIF.CD_ITEM = IA.CD_ITEM)
    INNER JOIN TADICAO_DE_IMPORTACAO AD (NOLOCK) ON (AD.NR_PROCESSO = tmpRC.NR_PROCESSO)
  WHERE IA.TP_RATEIO_DESP = '1'
    AND IA.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_ITENS_FATURA )
    AND IA.CD_AREA IN ( SELECT CD_AREA FROM #TMP_REFERENCIA )
    AND ( ( ( IA.IN_LI = 1 ) AND ( AD.NR_OPER_TRAT_PREV <> '' ) ) OR 
          ( ( ( IA.IN_LI = 0 ) AND ( AD.NR_OPER_TRAT_PREV = ''  ) ) OR ( ( IA.IN_LI = 0 ) AND ( AD.NR_OPER_TRAT_PREV <> ''  ) ) ) )
    --AND ( AD.NR_OPER_TRAT_PREV = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
  GROUP BY tmpIF.NR_PROCESSO, tmpRC.CD_REFERENCIA, IA.CD_ITEM, tmpIF.VL_ITEM, IA.CD_AREA, tmpIF.NR_NOTA_FATURA, IA.IN_LI
  ORDER BY tmpIF.NR_PROCESSO, IA.CD_AREA

  DECLARE cContainer CURSOR FOR
    SELECT NR_PROCESSO, CD_REFERENCIA, CD_ITEM, IN_LI, NR_OPER_TRAT_PREV
    FROM #TMP_CONTEINER 

    SET @contador = 0

  OPEN cContainer
  FETCH cContainer INTO @nr_processo, @cd_referencia, @cd_item_tmp, @in_li

  WHILE @@fetch_status = 0
  BEGIN
    SELECT @nr_cd_area = COUNT(CD_AREA)
    FROM #TMP_CONTEINER  
    WHERE NR_PROCESSO = @nr_processo
      AND CD_ITEM = @cd_item_tmp                        
 
    IF @nr_cd_area > 2 
    BEGIN
      SELECT @vl_item_area = ROUND( VL_ITEM / ( @nr_cd_area - 1 ), 2 )
      FROM #TMP_CONTEINER
      WHERE NR_PROCESSO = @nr_processo
        AND CD_ITEM = @cd_item_tmp

      DECLARE cItemArea CURSOR FOR 
        SELECT NR_PROCESSO, CD_AREA
        FROM   #TMP_CONTEINER 
        WHERE  NR_PROCESSO = @nr_processo AND
	       CD_ITEM = @cd_item_tmp 
        GROUP BY NR_PROCESSO, CD_AREA

      OPEN cItemArea
      FETCH cItemArea INTO @nr_processo_tmp, @cd_area_tmp
      WHILE @@fetch_status = 0
      BEGIN
        IF @contador <> ( @nr_cd_area - 1 ) 	
        BEGIN
          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM,
              CD_AREA, VL_ITEM, @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
            FROM #TMP_CONTEINER
            WHERE NR_PROCESSO = @nr_processo
              AND CD_REFERENCIA = @cd_referencia
              AND CD_ITEM = @cd_item_tmp
              AND CD_AREA = @cd_area_tmp
            GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA   
          END
	
          SET @contador =  @contador + 1
        END
        ELSE
        BEGIN
          SELECT @vl_item_area = ROUND( ( VL_ITEM - @vl_item_area ), 2 )
          FROM #TMP_CONTEINER
          WHERE NR_PROCESSO = @nr_processo_tmp
            AND	CD_REFERENCIA = @cd_referencia
	          AND CD_ITEM = @cd_item_tmp
            AND CD_AREA = @cd_area_tmp

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM,
              CD_AREA, VL_ITEM, @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
            FROM #TMP_CONTEINER
            WHERE NR_PROCESSO = @nr_processo
              AND CD_REFERENCIA = @cd_referencia
              AND CD_ITEM = @cd_item_tmp
              AND CD_AREA = @cd_area_tmp
            GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA 	
          END
        END
      FETCH cItemArea INTO @nr_processo_tmp, @cd_area_tmp	
      END
      CLOSE cItemArea
      DEALLOCATE cItemArea
    END

    IF @nr_cd_area = 2
    BEGIN
      SELECT @vl_item_area = ROUND( VL_ITEM / ( @nr_cd_area  ), 2 )
      FROM #TMP_CONTEINER
      WHERE NR_PROCESSO = @nr_processo
        AND CD_ITEM = @cd_item_tmp
	
      DECLARE cItemArea CURSOR FOR 
        SELECT NR_PROCESSO, CD_AREA
        FROM #TMP_CONTEINER
        WHERE NR_PROCESSO = @nr_processo
          AND CD_ITEM = @cd_item_tmp
        GROUP BY NR_PROCESSO, CD_AREA

      OPEN cItemArea
      FETCH cItemArea INTO @nr_processo_tmp, @cd_area_tmp

      WHILE @@fetch_status = 0
      BEGIN
        IF @contador <> ( @nr_cd_area - 1 ) 	
        BEGIN
          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM,
              CD_AREA, VL_ITEM, @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
            FROM #TMP_CONTEINER
            WHERE NR_PROCESSO = @nr_processo_tmp
              AND CD_REFERENCIA = @cd_referencia
              AND CD_ITEM = @cd_item_tmp
              AND CD_AREA = @cd_area_tmp
            GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA 	
          END          

          SET @contador =  @contador + 1
        END
        ELSE
        BEGIN
          SELECT @vl_item_area = ROUND( ( VL_ITEM - @vl_item_area ), 2 )
          FROM #TMP_CONTEINER
          WHERE NR_PROCESSO = @nr_processo_tmp
            AND CD_REFERENCIA = @cd_referencia
            AND CD_ITEM = @cd_item_tmp
            AND CD_AREA = @cd_area_tmp

          IF NOT EXISTS( SELECT *
                         FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK)
                         WHERE CD_UNID_NEG    = @cd_unid_neg
                           AND CD_PRODUTO     = @cd_produto
                           AND NR_SOLICITACAO = @nr_solicitacao
                           AND NR_PROCESSO    = @nr_processo
                           AND CD_REFERENCIA  = @cd_referencia
                           AND CD_ITEM        = @cd_item_tmp  
                           AND CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
              CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM,
               CD_AREA, VL_ITEM, @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
            FROM #TMP_CONTEINER
            WHERE NR_PROCESSO = @nr_processo
              AND CD_REFERENCIA = @cd_referencia
              AND CD_ITEM = @cd_item_tmp
              AND CD_AREA = @cd_area_tmp
            GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA 	
          END
        END
        FETCH cItemArea INTO @nr_processo_tmp, @cd_area_tmp	
      END
      CLOSE cItemArea
      DEALLOCATE cItemArea
    END  

    IF @nr_cd_area < 2
    BEGIN
      SELECT @vl_item_area = VL_ITEM
      FROM #TMP_CONTEINER
      WHERE NR_PROCESSO = @nr_processo
	      AND CD_ITEM = @cd_item_tmp	

      SELECT @vl_item_area = VL_ITEM / ( @nr_cd_area  )
      FROM #TMP_CONTEINER
      WHERE NR_PROCESSO = @nr_processo
	      AND CD_ITEM = @cd_item_tmp
	
      INSERT TFAT_CALCULO_RATEIO_DESP( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
        CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
      SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
        CD_AREA, VL_ITEM, @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
      FROM #TMP_CONTEINER
      WHERE NR_PROCESSO = @nr_processo
        AND CD_REFERENCIA = @cd_referencia
       AND CD_ITEM = @cd_item_tmp
        AND NOT EXISTS( SELECT * 
                        FROM TFAT_CALCULO_RATEIO_DESP FC (NOLOCK)
                        WHERE FC.CD_UNID_NEG    = @cd_unid_neg
                          AND FC.CD_PRODUTO     = @cd_produto
                          AND FC.NR_SOLICITACAO = @nr_solicitacao
                          AND FC.NR_PROCESSO    = NR_PROCESSO
                          AND FC.CD_REFERENCIA  = @cd_referencia
                          AND FC.CD_ITEM        = @cd_item_tmp  
                          AND FC.CD_AREA        = @cd_area_tmp )
      GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA
    END    
    FETCH cContainer INTO  @nr_processo, @cd_referencia, @cd_item_tmp, @in_li
  END
  CLOSE cContainer
  DEALLOCATE cContainer
  DROP TABLE #TMP_CONTEINER   
END

--apaga as tabelas temporárias
DROP TABLE #TMP_PROCESSO
DROP TABLE #TMP_ITENS_FATURA
DROP TABLE #TMP_MERCADORIA
DROP TABLE #TMP_REFERENCIA
DROP TABLE #TMP_ITEM_AREA

/*
SELECT NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM_AREA,
  VL_ITEM, PL_MERCADORIA, TP_RATEIO_DESP, NR_NOTA_FATURA 
FROM TFAT_CALCULO_RATEIO_DESP (NOLOCK) WHERE nr_solicitacao = @nr_solicitacao

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/






GO
