USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
Insere os registros de eventos comuns na TFLP_PO
quando for criado um processo na gestão do pedido
Criada por alexandre gonçalves neto - 21.09.2004
*/

CREATE PROC [sp_flp_po] (@nr_processo CHAR(18), @cd_empresa char(5), @cd_servico CHAR(3)) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo     char(18),
        @cd_empresa      char(5),
        @cd_servico      char(3)

SELECT @nr_processo     = '8082',
       @cd_empresa      = '',
       @cd_servico      = '261'
*/
DECLARE @total int

--verifica se já existe o follow-up para o processo
SELECT @total = COUNT(*)
FROM TFLP_PO ( NOLOCK )
WHERE NR_PROCESSO = @nr_processo  
  AND CD_EMPRESA  = @cd_empresa

--se o follow-up não existe, cria ele
IF @total <= 0
BEGIN
  INSERT TFLP_PO (NR_PROCESSO, CD_EMPRESA, CD_EVENTO, IN_APLICAVEL, NR_ORDEM)
  SELECT @nr_processo, @cd_empresa, CD_EVENTO ,'1', NR_ORDEM
  FROM TSERVICO_EVENTO ( NOLOCK )
  WHERE CD_SERVICO = @cd_servico
    AND CD_TIPO_EVENTO = '00'
  
/*  UPDATE TFLP_PO
  SET DT_REALIZACAO = ( SELECT DT_ABERTURA
                        FROM TPO ( NOLOCK )
                          WHERE NR_PROCESSO = @nr_processo )
  WHERE CD_EVENTO = ( SELECT CD_EV_ABRE_PROC
                      FROM TPARAMETROS ( NOLOCK ) )

 -- EXEC sp_atz_flp_po @nr_processo

  UPDATE TFLP_PO
  SET DT_REALIZACAO = ( SELECT DT_ABERTURA
                        FROM TPO ( NOLOCK )
                          WHERE NR_PROCESSO = @nr_processo )
  WHERE CD_EVENTO = ( SELECT CD_EV_IDENTIFICA_NOVO_PO
                      FROM TPARAMETROS ( NOLOCK ) )
  EXEC sp_atz_flp_po @nr_processo
*/
END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
