USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [sp_atz_fat_cc] ( @cd_coligada char(2), @dt_movimento datetime ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_coligada char(2)
DECLARE @dt_movimento datetime

SELECT @cd_coligada = '01'
SELECT @dt_movimento = CONVERT( datetime, '02/05/2001', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_ult_lanc   		int
DECLARE @ult_lanc   		char(4)
DECLARE @cd_usuario		char(4)
DECLARE @nr_processo   		char(18) 
DECLARE @cd_favorecido   	char(5) 
DECLARE @cd_banco   		char(3)
DECLARE @cd_item   		char(3)
DECLARE @cd_item_nao_fat 	char(3)
DECLARE @cd_despachante  	char(3)
DECLARE @tp_pagamento   	char(1)
DECLARE @tp_procedencia  	char(1)
DECLARE @nr_cheque   		char(6)
DECLARE @nr_fp   		char(10)
DECLARE @vl_lancamento  	float
DECLARE @vl_ir    		float
DECLARE @vl_assist   		float
DECLARE @nm_historico   	varchar(180)
DECLARE @in_restitui   		char(1)
DECLARE @cd_item_nfat  		char(3)

EXEC sp_busca_usuario @cd_usuario

DECLARE c_fat_cc CURSOR FOR 
  SELECT NR_PROCESSO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, CD_DESPACHANTE, TP_PAGAMENTO, 
         TP_PROCEDENCIA, NR_CHEQUE, VL_LANCAMENTO, VL_IR, VL_ASSIST, NM_HISTORICO, IN_RESTITUI, NR_FP
  FROM   TCAIXA (PAGLOCK HOLDLOCK)
  WHERE  CD_COLIGADA    = @cd_coligada AND 
         DT_MOVIMENTO   = @dt_movimento AND 
         TP_LANCAMENTO  = 'F' AND 
         IN_CANCELADO   = '0' AND
         IN_TRANSFERIDO = '0' --AND
--         CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) AND
--         CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
--         CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) AND
--         CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS )
OPEN  c_fat_cc
FETCH c_fat_cc INTO 
  @nr_processo, @cd_favorecido, @cd_banco, @cd_item, @cd_despachante, @tp_pagamento,
  @tp_procedencia, @nr_cheque, @vl_lancamento, @vl_ir, @vl_assist, @nm_historico, @in_restitui, @nr_fp
WHILE @@fetch_status <> -1
BEGIN
  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '0000' ) ) ) + 1
  FROM   TFATURAMENTO_CC 
  WHERE  NR_PROCESSO = @nr_processo
  SELECT @ult_lanc = RIGHT( '0000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 4 )
  IF ( SELECT COUNT(*)
       FROM TCLIENTE_ITEM_POR_TON T
            JOIN TPROCESSO P
            ON (T.CD_CLIENTE  = P.CD_CLIENTE  AND
                T.CD_UNID_NEG = P.CD_UNID_NEG AND
                T.CD_PRODUTO  = P.CD_PRODUTO)
       WHERE P.NR_PROCESSO = @nr_processo  AND
             T.CD_ITEM     = @cd_item      AND
             T.IN_ATIVO    = '1' ) > 0
  BEGIN 
    SELECT @cd_item_nao_fat = @cd_item
    SELECT @nm_historico    = ( SELECT NM_ITEM 
	                        FROM   TITEM 
                                WHERE  CD_ITEM = @cd_item )
    SELECT @cd_item         = @cd_item_nfat
  END
  ELSE
  BEGIN
    DECLARE @cd_unid_neg char(2)
    DECLARE @cd_produto char(2)
    DECLARE @cd_cliente char(5)
    DECLARE @cd_servico char(3)

    SELECT @cd_unid_neg = CD_UNID_NEG,
           @cd_produto = CD_PRODUTO,
           @cd_cliente = CD_CLIENTE,
           @cd_servico = CD_SERVICO
    FROM   TPROCESSO
    WHERE  NR_PROCESSO = @nr_processo

    IF EXISTS( SELECT *
               FROM   TCLIENTE_NUMERARIO 
               WHERE  CD_UNID_NEG = @cd_unid_neg AND
                      CD_PRODUTO = @cd_produto AND
                      CD_CLIENTE = @cd_cliente AND
                      CD_SERVICO = @cd_servico AND
                      CD_ITEM = @cd_item AND
                      TP_DESTINO = '1' ) AND
       EXISTS( SELECT *
               FROM   TSOLIC_PAGTO 
               WHERE  NR_PROCESSO = @nr_processo AND
                      CD_ITEM = @cd_item AND
                      TP_DESTINO = '1' ) SELECT @cd_item_nao_fat = '*'
    ELSE SELECT @cd_item_nao_fat = NULL
  END

  INSERT INTO TFATURAMENTO_CC 
    ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, CD_DESPACHANTE, 
      CD_FORMA_PAGTO, CD_ORIGEM_LANC, NR_CHEQUE, VL_ITEM, VL_IR, VL_ASSIST, NM_ITEM_COMPLEMENTO, IN_FATURADO, 
      IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO, NR_FP )
  VALUES ( @nr_processo, @ult_lanc, @dt_movimento, @cd_usuario, @cd_favorecido, @cd_banco, @cd_item, @cd_despachante, 
           @tp_pagamento, @tp_procedencia, @nr_cheque, @vl_lancamento, @vl_ir, @vl_assist, @nm_historico, '0', 
           '0', @in_restitui, '0', @cd_item_nao_fat, '0', @nr_fp )

  UPDATE TCAIXA 
  SET    IN_TRANSFERIDO = '1' 
  WHERE  CURRENT OF c_fat_cc

  IF ( @cd_item IN ( SELECT CD_ITEM_SDA FROM TPARAMETROS ) AND ( @tp_pagamento NOT IN ( 'S', 'O' ) ) ) AND
     ( @in_restitui = '0' )
  BEGIN
    UPDATE TPROCESSO_SDA
    SET    VL_PAGTO  = ( SELECT SUM( CASE IN_RESTITUI
                                       WHEN '0' THEN VL_LANCAMENTO
                                       ELSE VL_LANCAMENTO * (-1)
                                     END )
                         FROM   TCAIXA
                         WHERE  NR_PROCESSO = @nr_processo AND
                                CD_DESPACHANTE = @cd_despachante AND
                                CD_ITEM = @cd_item ),
           DT_PAGTO  = ( SELECT MAX( DT_MOVIMENTO )
                         FROM   TCAIXA
                         WHERE  NR_PROCESSO = @nr_processo AND
                                CD_DESPACHANTE = @cd_despachante AND
                                CD_ITEM = @cd_item AND
                                IN_RESTITUI = '0' ),
           CD_STATUS = '3'
    WHERE  NR_PROCESSO = @nr_processo
  END

  FETCH c_fat_cc INTO 
    @nr_processo, @cd_favorecido, @cd_banco, @cd_item, @cd_despachante, @tp_pagamento, 
    @tp_procedencia, @nr_cheque, @vl_lancamento, @vl_ir, @vl_assist, @nm_historico, @in_restitui, @nr_fp
END
CLOSE c_fat_cc
DEALLOCATE c_fat_cc





GO
