USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_po_proc_item]( @nr_processo as char(18), @nr_proc_old as char(18), @nr_item_old as char(3) )  AS

DECLARE @ncm_sh char(11)
DECLARE @naladi_sh char(8)
DECLARE @fabricante char(5)
DECLARE @exportador char(5)
DECLARE @pais_origem char(3)
DECLARE @pais_aquisicao char(3)
DECLARE @destaque char(3)
DECLARE @nr_proc_li char(18)
DECLARE @nr_proc_montado char(18)
DECLARE @nr_item_li char(3)
DECLARE @nItem integer
DECLARE @cItem char(3)
DECLARE @qt_total_item char(3)
DECLARE @cIncoterm char(3)
DECLARE @nFrtCapa numeric(18,2)  
DECLARE @nSegCapa numeric(18,2)
DECLARE @nDespCapa numeric(18,2)
DECLARE @nDescCapa numeric(18,2)
DECLARE @nPLCapa numeric(18,2)
DECLARE @nTotCapa numeric(18,2)
DECLARE @nRatFrete numeric(18,2)
DECLARE @nRatSeguro numeric(18,2)
DECLARE @nRatDespesa numeric(18,2)
DECLARE @nRatDesconto numeric(18,2)
DECLARE @nSoma integer
DECLARE @nQtdeItem integer

DECLARE @nEntrou integer
DECLARE @nControla integer
DECLARE @nr_proc_nve char(18)
DECLARE @nivel char(3)
DECLARE @atrib char(2)
DECLARE @espec char(4)

DECLARE @nContador integer
DECLARE @nContador2 integer

SELECT @nQtdeItem = 0
SELECT @nSoma = 0
SELECT @nRatFrete = 0
SELECT @nRatSeguro = 0
SELECT @nRatDespesa = 0
SELECT @nRatDesconto = 0

SELECT @nEntrou = 0
SELECT @nControla = 0
SELECT @nContador = 0
SELECT @nContador2 = 0

/* Consistências para Montagem de LI*/
DECLARE @nValorTotalCapa numeric(18,2)
DECLARE @nPesoLiqCapa    numeric(18,2)
DECLARE @nQtdeCapa	     numeric(18,2)
DECLARE @nValorTotalUnit   numeric(18,2)
DECLARE @nPesoLiqUnit      numeric(18,2)
DECLARE @nQtdeUnit	     numeric(18,2)

SELECT @nValorTotalCapa = ROUND( ISNULL(VL_TOTAL_MOEDA, 0 ), 2), 
              @nPesoLiqCapa = ROUND( ISNULL( QT_TOTAL_PES_LIQ, 0), 2),
              @nQtdeCapa = ROUND( ISNULL( QT_MED_ESTATISTICA, 0 ), 2)
FROM TLICENCA_IMPORTACAO
WHERE NR_PROCESSO = @nr_processo

SELECT @nValorTotalUnit = ROUND( ISNULL( SUM( VL_TOTAL_MLE ), 0 ), 2), 
              @nPesoLiqUnit = ROUND( ISNULL( SUM( PL_MERCADORIA ), 0), 2),
              @nQtdeUnit = ROUND( ISNULL( SUM( QT_MERC_UN_COMERC ), 0 ), 2)
FROM TLICENCA_ITENS
WHERE NR_PROCESSO = @nr_processo

IF @nValorTotalCapa <> @nValorTotalUnit RETURN (1)
IF @nPesoLiqCapa <> @nPesoLiqUnit RETURN (2)
IF @nQtdeCapa <> @nQtdeUnit RETURN (3)

IF  ( SELECT COUNT(*) 
      FROM TLICENCA_ITENS 
      WHERE (NR_PROCESSO = @nr_processo ) )  > 0
BEGIN 

   DECLARE c_tabela CURSOR FOR
        SELECT NR_PROCESSO, NR_ITEM, ISNULL(CD_NCM_SH, '' ), ISNULL( CD_NALADI_SH, ' ' ), ISNULL( CD_FABRICANTE, '' ), ISNULL( CD_EXPORTADOR, '' ),
                       ISNULL(CD_PAIS_ORIGEM,''), ISNULL(CD_PAIS_AQUISICAO,''), ISNULL( NR_DESTAQUE_NCM,'')
        FROM TLICENCA_ITENS
        WHERE NR_PROCESSO = @nr_processo
  
  OPEN c_tabela   
  FETCH c_tabela INTO @nr_proc_li, @nr_item_li, @ncm_sh, @naladi_sh, @fabricante, @exportador, @pais_origem, @pais_aquisicao, @destaque
  WHILE @@fetch_status <> -1
  BEGIN

      SELECT @nEntrou = 0

      SELECT @cIncoterm   =  CD_INCOTERM,
                     @nFrtCapa    =  VL_FRETE_MOEDA,
                    @nSegCapa   =  VL_SEGURO_MOEDA,
                    @nDespCapa =  VL_DESPESA_MOEDA, 
                    @nDescCapa =  VL_DESCONTO_MOEDA, 
                    @nPLCapa     =  QT_TOTAL_PES_LIQ,
                    @nTotCapa    =  VL_TOTAL_MOEDA,
                    @nQtdeItem    = QT_TOTAL_ITEM
      FROM TLICENCA_IMPORTACAO
      WHERE NR_PROCESSO = @nr_processo


      IF EXISTS( SELECT NR_PROCESSO 
                         FROM TLICENCA_ITENS 
  	            WHERE NR_PROCESSO       LIKE ( LTRIM( RTRIM( @nr_processo ) ) + '-%' ) and
                          ISNULL(CD_NCM_SH, '')                 = ( @ncm_sh ) and
                          ISNULL(CD_NALADI_SH,'')             = ( @naladi_sh ) and 
                          ISNULL(CD_FABRICANTE, '')          = ( @fabricante ) and
                          ISNULL(CD_EXPORTADOR, '')       = ( @exportador ) and
                          ISNULL(CD_PAIS_ORIGEM, '' )       = ( @pais_origem ) and
                          ISNULL(CD_PAIS_AQUISICAO, '' )  = ( @pais_aquisicao ) and
                          ISNULL(NR_DESTAQUE_NCM, '' ) = ( @destaque ) )
      BEGIN

          SELECT @nr_proc_montado = LTRIM( RTRIM( NR_PROCESSO ) )
          FROM TLICENCA_ITENS 
          WHERE NR_PROCESSO       LIKE ( LTRIM( RTRIM( @nr_processo ) ) + '-%' ) and
                         ISNULL(CD_NCM_SH,  '' )                = ( @ncm_sh ) and
                         ISNULL(CD_NALADI_SH,  '' )           = ( @naladi_sh ) and 
                         ISNULL(CD_FABRICANTE, '' )         = ( @fabricante ) and
                         ISNULL(CD_EXPORTADOR, '' )       = ( @exportador ) and
  	            ISNULL(CD_PAIS_ORIGEM, '' )       = ( @pais_origem ) and
                          ISNULL(CD_PAIS_AQUISICAO, '')   = ( @pais_aquisicao ) and
                          ISNULL(NR_DESTAQUE_NCM, '' )  = ( @destaque ) 

          --------------------------------------
          -- Abre tabela de NVE e faz loop para verificar todos nves do Item se é igual ao do ser incluso
          -------------------------------------- 

          SELECT @nControla = 0

          -------------------------------------------------------
          -- Cursor para LI -> NVE
          -------------------------------------------------------
          SELECT @nContador = COUNT(*)
                              FROM TLICENCA_NVE
                              WHERE NR_PROCESSO =(@nr_processo) and
                                             NR_ITEM = @nr_item_li
 
          SELECT @nContador2 = COUNT(*)             
                               FROM TLICENCA_NVE
                               WHERE NR_PROCESSO = LTRIM( RTRIM( @nr_proc_montado ) )

          IF @nContador <> @nContador2 
          BEGIN
               SELECT @nControla = 1
          END

          IF @nControla = 0 
          BEGIN

               DECLARE c_nve CURSOR FOR
                       SELECT  @nr_proc_nve, ISNULL(CD_NIVEL_NVE, '' ), ISNULL( CD_ATRIBUTO_NCM, ' ' ), ISNULL( CD_ESPECIF_NCM, '' )
                       FROM TLICENCA_NVE
                        WHERE NR_PROCESSO =(@nr_processo) and
                                       NR_ITEM = @nr_item_li

               OPEN c_nve
               FETCH c_nve INTO @nr_proc_nve, @nivel, @atrib, @espec
               WHILE @@fetch_status <> -1
               BEGIN

                     IF not EXISTS( SELECT NR_PROCESSO 
                                              FROM TLICENCA_NVE
                                              WHERE NR_PROCESSO LIKE ( LTRIM( RTRIM( @nr_processo ) ) + '-%' ) and
                                                             ISNULL( CD_NIVEL_NVE, '' )     = (@nivel)  and
                                                             ISNULL( CD_ATRIBUTO_NCM, '' )  = (@atrib)  and
                                                             ISNULL( CD_ESPECIF_NCM, '' )   = (@espec) ) 
                     BEGIN
                          SELECT @nControla = 1
                     END

                     FETCH c_nve INTO @nr_proc_nve, @nivel, @atrib, @espec
               END

               CLOSE c_nve
               DEALLOCATE c_nve      

          END

          IF @nControla = 0 
          BEGIN 

              SELECT @nItem = 0
 
              SELECT @nItem = COUNT(*) 
              FROM TLICENCA_ITENS 
              WHERE ( NR_PROCESSO = @nr_proc_montado )
 
              SELECT @nItem = @nItem + 1
              SELECT @cItem = CONVERT( char(3), @nItem )
              SELECT @cItem = RIGHT( ( '000' + RTRIM( @nItem ) ), 3 )
              SELECT @nEntrou = 1

         END
         ELSE
         BEGIN
              SELECT @nEntrou =  0
         END
      END 

      IF @nEntrou = 0      
      BEGIN

           SELECT @cItem = SUBSTRING( MAX( NR_PROCESSO ), 16, 3 )
           FROM TLICENCA_ITENS
           WHERE NR_PROCESSO LIKE LTRIM(RTRIM( @nr_processo )) + '-%'

           SELECT @nItem = CONVERT( integer, ISNULL( @cItem, '000' ) ) + 1
           SELECT @cItem = RIGHT('000' + CONVERT( varchar, @nItem ), 3 )
           SELECT @nr_proc_montado = LTRIM(RTRIM( @nr_processo )) + '-' + @cItem 

           SELECT @cItem = '001' 
  
           EXEC sp_li_duplica @nr_processo, @nr_proc_montado, '0'
 
           UPDATE TLICENCA_IMPORTACAO 
           SET IN_MONTADA = '1', VL_FRETE_MOEDA = 0, VL_SEGURO_MOEDA = 0, VL_DESPESA_MOEDA = 0, VL_DESCONTO_MOEDA = 0, QT_TOTAL_PES_LIQ = 0, QT_MED_ESTATISTICA = 0, VL_TOTAL_MOEDA = 0     
           WHERE NR_PROCESSO = @nr_proc_montado

           UPDATE TLICENCA_NVE
           SET NR_PROCESSO = @nr_proc_montado, NR_ITEM = @cItem
            WHERE NR_PROCESSO = @nr_processo and NR_ITEM = @nr_item_li
      END

      UPDATE TLICENCA_ITENS 
      SET NR_PROCESSO = @nr_proc_montado, NR_ITEM = @cItem
      WHERE CURRENT OF c_tabela
 
      SELECT @qt_total_item = CONVERT(  char(3), ( SELECT COUNT(*) 
                                                 FROM TLICENCA_ITENS 
                                                 WHERE ( NR_PROCESSO = @nr_proc_montado ) ) )
      SELECT @qt_total_item = RIGHT( ( '000' + RTRIM( @qt_total_item ) ), 3 )

      ------- Para controlar ultimo item  ----------
      SELECT @nSoma = @nSoma + 1 

      UPDATE TLICENCA_IMPORTACAO
      SET QT_TOTAL_ITEM = @qt_total_item
      WHERE NR_PROCESSO = @nr_proc_montado

      IF @nSoma <> @nQtdeItem
      BEGIN
          SELECT @nRatFrete       = @nRatFrete        + ROUND( (PL_MERCADORIA * @nFrtCapa)  / @nPLCapa , 5 ),
                         @nRatSeguro    = @nRatSeguro     + ROUND( (VL_TOTAL_MLE  * @nSegCapa)  / @nTotCapa, 5 ),
                         @nRatDespesa  = @nRatDespesa  + ROUND( (VL_TOTAL_MLE  * @nDespCapa) / @nTotCapa, 5 ),
                         @nRatDesconto  = @nRatDesconto + ROUND( (VL_TOTAL_MLE  * @nDescCapa) / @nTotCapa, 5 )
          FROM TLICENCA_ITENS
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)

      
          UPDATE TLICENCA_ITENS
          SET VL_RAT_FRETE = ROUND( (PL_MERCADORIA * @nFrtCapa) / @nPLCapa, 5 )
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)

          UPDATE TLICENCA_ITENS
          SET VL_RAT_SEGURO = ROUND( (VL_TOTAL_MLE  * @nSegCapa) / @nTotCapa, 5 )
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)
   
          UPDATE TLICENCA_ITENS
          SET VL_RAT_DESPESA = ROUND( (VL_TOTAL_MLE  * @nDespCapa) / @nTotCapa, 5 )  
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)
     
          UPDATE TLICENCA_ITENS
          SET VL_RAT_DESCONTO = ROUND( (VL_TOTAL_MLE  * @nDescCapa) / @nTotCapa, 5 )
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)

      END 
      ELSE
      BEGIN

          UPDATE TLICENCA_ITENS
          SET VL_RAT_FRETE = ROUND(@nFrtCapa - @nRatFrete, 2 )
           WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)

          UPDATE TLICENCA_ITENS
          SET VL_RAT_SEGURO = ROUND(@nSegCapa - @nRatSeguro, 2 )
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)
 
          UPDATE TLICENCA_ITENS
          SET VL_RAT_DESPESA = ROUND(@nDespCapa - @nRatDespesa, 2 )  
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)
    
          UPDATE TLICENCA_ITENS
          SET VL_RAT_DESCONTO = ROUND(@nDescCapa - @nRatDesconto, 2 )
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)
      END

       -------------------------  Gravando valores rateados - CAPA   ----------------------------------------
       UPDATE TLICENCA_IMPORTACAO
       SET VL_FRETE_MOEDA = ROUND( VL_FRETE_MOEDA + VL_RAT_FRETE, 2 )
       FROM TLICENCA_IMPORTACAO CAPA, TLICENCA_ITENS ITENS
       WHERE (CAPA.NR_PROCESSO  = @nr_proc_montado) AND
                     ((ITENS.NR_PROCESSO = @nr_proc_montado) AND NR_ITEM = @cItem)

       UPDATE TLICENCA_IMPORTACAO
       SET VL_SEGURO_MOEDA = ROUND( VL_SEGURO_MOEDA + VL_RAT_SEGURO, 2 )
       FROM TLICENCA_IMPORTACAO CAPA, TLICENCA_ITENS ITENS
       WHERE (CAPA.NR_PROCESSO = @nr_proc_montado) AND
                     ((ITENS.NR_PROCESSO = @nr_proc_montado) AND NR_ITEM = @cItem)

       UPDATE TLICENCA_IMPORTACAO
       SET VL_DESPESA_MOEDA = ROUND( VL_DESPESA_MOEDA + VL_RAT_DESPESA, 2 )
       FROM TLICENCA_IMPORTACAO CAPA, TLICENCA_ITENS ITENS
       WHERE (CAPA.NR_PROCESSO = @nr_proc_montado) AND
                     ((ITENS.NR_PROCESSO = @nr_proc_montado) AND NR_ITEM = @cItem)

       UPDATE TLICENCA_IMPORTACAO
       SET VL_DESCONTO_MOEDA = ROUND( VL_DESCONTO_MOEDA + VL_RAT_DESCONTO, 2 )
       FROM TLICENCA_IMPORTACAO CAPA, TLICENCA_ITENS ITENS
       WHERE (CAPA.NR_PROCESSO = @nr_proc_montado) AND
                     ((ITENS.NR_PROCESSO = @nr_proc_montado) AND NR_ITEM = @cItem)

       UPDATE TLICENCA_IMPORTACAO
       SET QT_TOTAL_PES_LIQ = QT_TOTAL_PES_LIQ + PL_MERCADORIA
       FROM TLICENCA_IMPORTACAO CAPA, TLICENCA_ITENS ITENS
       WHERE (CAPA.NR_PROCESSO = @nr_proc_montado) AND
                     ((ITENS.NR_PROCESSO = @nr_proc_montado) AND NR_ITEM = @cItem)
 
       UPDATE TLICENCA_IMPORTACAO
       SET QT_MED_ESTATISTICA = QT_MED_ESTATISTICA + QT_MERC_UN_COMERC
       FROM TLICENCA_IMPORTACAO CAPA, TLICENCA_ITENS ITENS
       WHERE (CAPA.NR_PROCESSO = @nr_proc_montado) AND
                     ((ITENS.NR_PROCESSO = @nr_proc_montado) AND NR_ITEM = @cItem)
 
       UPDATE TLICENCA_IMPORTACAO
       SET VL_TOTAL_MOEDA = ROUND( VL_TOTAL_MOEDA + VL_TOTAL_MLE, 2 )
       FROM TLICENCA_IMPORTACAO CAPA, TLICENCA_ITENS ITENS
       WHERE (CAPA.NR_PROCESSO = @nr_proc_montado) AND
                     ((ITENS.NR_PROCESSO = @nr_proc_montado) AND NR_ITEM = @cItem)


       --------------------  VALORES DO ITEM MCV   -------------------------
       IF (@cIncoterm = 'CFR') or (@cIncoterm = 'CPT')
       BEGIN 
          UPDATE TLICENCA_ITENS  
          SET VL_UNIT_MCV = ROUND( ((VL_TOTAL_MLE + VL_RAT_FRETE + VL_RAT_DESPESA) - VL_RAT_DESCONTO) / QT_MERC_UN_COMERC, 5 )
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)
       END
  
       ELSE IF (@cIncoterm = 'CIF') or (@cIncoterm = 'CIP') or (@cIncoterm = 'DAF') or (@cIncoterm = 'DES') 
       BEGIN
          UPDATE TLICENCA_ITENS  
          SET VL_UNIT_MCV = ROUND( ((VL_TOTAL_MLE + VL_RAT_FRETE + VL_RAT_SEGURO + VL_RAT_DESPESA) - VL_RAT_DESCONTO) / QT_MERC_UN_COMERC, 5 )
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)
       END
   
       ELSE IF (@cIncoterm = 'DDU') 
       BEGIN
          UPDATE TLICENCA_ITENS  
          SET VL_UNIT_MCV = ROUND( ((VL_TOTAL_MLE + VL_RAT_SEGURO + VL_RAT_DESPESA) - VL_RAT_DESCONTO) / QT_MERC_UN_COMERC, 5 )
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)
       END

       ELSE
       BEGIN
          UPDATE TLICENCA_ITENS  
          SET VL_UNIT_MCV = ROUND( ((VL_TOTAL_MLE + VL_RAT_DESPESA) - VL_RAT_DESCONTO) / QT_MERC_UN_COMERC, 5 )
          WHERE (NR_PROCESSO = @nr_proc_montado) AND (NR_ITEM = @cItem)
       END

       FETCH c_tabela INTO @nr_proc_li, @nr_item_li, @ncm_sh, @naladi_sh, @fabricante, @exportador, @pais_origem, @pais_aquisicao, @destaque 

   END

   CLOSE c_tabela
   DEALLOCATE c_tabela  

END

DELETE TLICENCA_IMPORTACAO 
WHERE  NR_PROCESSO = @nr_processo

DELETE TPROC_ANUENTES
WHERE  NR_PROCESSO = @nr_processo

DELETE TLICENCA_NVE        
WHERE  NR_PROCESSO = @nr_processo

RETURN(0)







GO
