USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_atz_po_item_des] AS  
/*Atualização do follow-up de po/item com as datas de realização do desembaraço*/  
SET NOCOUNT ON  
--BEGIN TRAN  
DECLARE  
  @nrReferencia char(18),  
  @nrProcesso char(18),  
  @cdEvento char(3),  
  @nrItem char(3),  
  @NR_PARCIAL int, 
  @dtRealizacao datetime,  
  @cdUsuario char(4),  
  @inAplicavel char(1),
  @cd_empresa char(5)
  
-- seleciona a referencia item e evento a serem atualizados  
DECLARE cGestaoPedido CURSOR LOCAL FOR  
  SELECT DISTINCT EP.NR_REFERENCIA, EP.NR_PROCESSO_DES, FP.CD_EVENTO, FP.NR_ITEM, FP.NR_PARCIAL, FP.CD_EMPRESA
  FROM TATZ_PO_ITEM_DES ATZ (NOLOCK)  
    INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = ATZ.NR_PARCIAL AND EP.CD_EMPRESA = ATZ.CD_EMPRESA)  
    INNER JOIN TFLP_PO_ITEM FP (NOLOCK) ON (FP.NR_PROCESSO = EP.NR_REFERENCIA AND FP.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND FP.NR_PARCIAL = EP.NR_PARCIAL AND FP.CD_EMPRESA = EP.CD_EMPRESA)  
  WHERE EP.NR_PROCESSO_DES IS NOT NULL  
    AND EP.IN_SUBSTITUIDO = '0'  
    AND FP.CD_EVENTO = ATZ.CD_EVENTO  
  
OPEN cGestaoPedido  
FETCH cGestaoPedido INTO @nrReferencia, @nrProcesso, @cdEvento, @nrItem, @NR_PARCIAL, @cd_empresa
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @dtRealizacao = DT_REALIZACAO, @cdUsuario = CD_RESP_REALIZACAO, @inAplicavel = IN_APLICAVEL  
  FROM TFOLLOWUP (NOLOCK) WHERE NR_PROCESSO = @nrProcesso AND CD_EVENTO = @cdEvento  
  --atualiza o a data de realização da po/item com a data do desembaraço  
  IF @dtRealizacao = 0 SET @dtRealizacao = NULL  
  IF @cdUsuario = '' SET @cdUsuario = NULL  
  IF ISNULL(@inAplicavel, '') = '' SET @inAplicavel = '1'  
  UPDATE TFLP_PO_ITEM SET DT_REALIZACAO = ISNULL(@dtRealizacao,DT_REALIZACAO), CD_RESP_REALIZACAO = ISNULL(@cdUsuario, CD_RESP_REALIZACAO), IN_APLICAVEL = ISNULL(@inAplicavel, IN_APLICAVEL) 
  WHERE NR_PROCESSO = @nrReferencia AND NR_ITEM = @nrItem AND NR_PARCIAL = @NR_PARCIAL and CD_EVENTO = @cdEvento AND CD_EMPRESA = @cd_empresa 
  --atualiza o folowup da po/item  
  --EXEC sp_atz_flp_po_item @nrReferencia, @nrItem  
  /*SELECT DT_REALIZACAO, CD_RESP_REALIZACAO, IN_APLICAVEL  
  FROM TFOLLOWUP (NOLOCK) WHERE NR_PROCESSO = @nrProcesso AND CD_EVENTO = @cdEvento  
  SELECT DT_REALIZACAO, CD_RESP_REALIZACAO, IN_APLICAVEL  
  FROM TFLP_PO_ITEM (NOLOCK) WHERE NR_PROCESSO = @nrReferencia AND NR_ITEM = @nrItem AND CD_EVENTO = @cdEvento*/  
  FETCH cGestaoPedido INTO @nrReferencia, @nrProcesso, @cdEvento, @nrItem, @NR_PARCIAL, @cd_empresa
END  
  
CLOSE cGestaoPedido  
DEALLOCATE cGestaoPedido  
  
TRUNCATE TABLE TATZ_PO_ITEM_DES  
--ROLLBACK TRAN  
SET NOCOUNT OFF
GO
