USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_exp_saque_exclui]( @nr_processo char(18), @nr_saque char(10) ) AS
  DELETE FROM TPROCESSO_EXP_SAQUE   WHERE ( NR_PROCESSO = @nr_processo ) AND NR_SAQUE = @nr_saque







GO
