USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Michel
-- Create date: 22/07/2009
-- Description:	Enviar e-mail para a Basf
-- =============================================
CREATE PROCEDURE [sp_envia_email_basf] AS
BEGIN
    --DECLARE @COMANDOSHELL VARCHAR(1000)
    --SET @COMANDOSHELL = 'C:\MySendMail.exe ' + '"bbpag-basf@myindaia.com.br;aprova.pagamentos@basf.com,bbpag-basf@myindaia.com.br,michel.marques@myindaia.com.br,vitor.zanin@myindaia.com.br;Indaiá (' + CONVERT(VARCHAR, GETDATE(), 103) + ');' + 
    --    'Solicitamos aprovação dos pagamentos pendentes."'
    --EXEC xp_cmdshell @COMANDOSHELL
    DECLARE @ASSUNTO VARCHAR(100)
    SET @ASSUNTO = 'Indaia (' + CONVERT(VARCHAR, GETDATE(), 103) + ')'
    EXEC DBO.SP_ENVIA_EMAIL 'bbpag-basf@myindaia.com.br', 'aprova.pagamentos@basf.com,bbpag-basf@myindaia.com.br,michel.marques@myindaia.com.br', @ASSUNTO, 'Solicitamos aprovação dos pagamentos pendentes.'
END


GO
