USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [sp_atz_myindaia_processo] AS               
    
DECLARE              
  @errors int,              
  @data int,              
  @registros int               
    
              
BEGIN TRAN              
PRINT 'Iniciando cópia de dados...'              
--define a partir de que ano os dados serão copiados              
SET NOCOUNT ON              
SET @errors = 0              
SET @data = YEAR(GETDATE())-2              
SET @registros = 0              
--registros que serão atualizados no MyIndaia              
SELECT TOP 250 NR_PROCESSO, NM_TABELA, MIN(AP_USUARIO) AS AP_USUARIO              
INTO #TMP_PROCESSO              
FROM TATZ_MYINDAIA_PROCESSO (NOLOCK)              
/* Atendendo a cocorrencia 05081/07  (Denilza) excluí o ítem IW para que possam ser transferidos para a base WEB*/              
/*WHERE SUBSTRING(NR_PROCESSO,5,2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')*/              
WHERE SUBSTRING(NR_PROCESSO,5,2) NOT IN ('EW','FT','IF','PO','TE','TS')              
GROUP BY NR_PROCESSO, NM_TABELA              
ORDER BY AP_USUARIO, MIN(CD_ATUALIZACAO)              
              
IF @@rowcount = 0 BEGIN              
  PRINT 'Sem registros para atualizar.'              
END              
ELSE BEGIN              
  --exclui os processos das tabelas de atualização              
  DELETE PR              
  FROM TATZ_MYINDAIA_PROCESSO PR, #TMP_PROCESSO PD               
  WHERE PD.NR_PROCESSO = PR.NR_PROCESSO              
    AND PD.NM_TABELA   = PR.NM_TABELA              
  --exclui os processos que terão os seus dados alterados no banco myindaia                
  DELETE P FROM MYINDAIA.DBO.TADICAO_DE_IMPORTACAO P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TADICAO_DE_IMPORTACAO'              
  --inicio da seleção e inserção dos registros da tabela tadicao_de_importacao da base myindaia em relação aos               
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TADICAO_DE_IMPORTACAO ( NR_PROCESSO, NR_ADICAO, CD_ACORDO_ALADI, CD_AGENC_AGENT_IMP, CD_APLICACAO_MERC,              
    CD_AUSENCIA_FABRIC, CD_BANC_AGENTE_IMP, CD_COBERT_CAMBIAL, CD_FABRICANTE, CD_FORNECEDOR, CD_FUND_LEG_REGIME, CD_INCOTERMS_VENDA,              
    CD_LOC_COND_VENDA, CD_MD_FRETE_MERC, CD_MERC_NALADI_NCC, CD_MERC_NALADI_SH, CD_MERC_NBM_SH, CD_NCM_SH, CD_MERCADORIA_NCM,              
    CD_METOD_VALORACAO, CD_MODALIDADE_PGTO, CD_MOEDA_NEGOCIADA, CD_MOEDA_SEG_MERC, CD_MOEDAS_DESPESAS, CD_MOTIVO_ADM_TEMP,              
    CD_MOTIVO_SEM_COB, CD_ORGAO_FIN_INTER, CD_PAIS_AQUIS_MERC, CD_PAIS_ORIG_MERC, CD_PAIS_PROC_MERC, CD_PERIOD_PGTO_360,              
    CD_REGIME_TRIBUTAR, CD_TAXA_JUROS, CD_TIPO_ACORDO_TAR, CD_TIPO_AGENTE_IMP, CD_URF_ENTR_MERC, CD_VIA_TRANSPORTE, CD_VINC_IMPO_EXPO,              
    ED_CIDAD_FABRIC, ED_CIDAD_FORN_ESTR, ED_COMPL_FABRIC, ED_COMPL_FORN_ESTR, ED_ESTAD_FORN_ESTR, ED_ESTADO_FABRIC, ED_LOGR_FABRIC,              
    ED_LOGR_FORN_ESTR, ED_NR_FABRIC, ED_NR_FORN_ESTR, IN_BEM_ENCOMENDA, IN_IPI_NAO_TRIBUT, IN_JUROS_ATE_360, IN_MATERIAL_USADO,              
    IN_MULTIMODAL, IN_PGTO_VARIAV_360, NM_FABRICANTE_MERC, NM_FORN_ESTR, NR_AGENTE_IMP, NR_DCTO_REDUCAO, NR_OPER_TRAT_PREV, NR_ROF,              
    PC_COEF_REDUC_II, PC_COMISSAO_AG_IMP, PC_TAXA_JUROS, PL_MERCADORIA, QT_ITENS_ADICAO, QT_PARC_FINANC_360, QT_PERIOD_PGTO_360,              
    QT_UN_ESTATISTICA, TX_COMPL_VL_ADUAN, VL_ACRESCIMOS_MN, VL_BASE_CALCULO_MN, VL_CALC_DCR_DOLAR, VL_COMISSAO_AG_IMP, VL_DEDUCOES_MN,              
    VL_DESPESAS_MN, VL_DESPESAS_MNEG, VL_FINANC_SUP_360, VL_FRETE_MERC_MN, VL_FRETE_MERC_MNEG, VL_II_A_REC_ZFM, VL_II_CALC_DCR_MN,              
    VL_II_DEVIDO_ZFM, VL_MERC_COND_VENDA, VL_MERC_EMB_MN, vl_merc_loc_emb_mn, VL_MERC_VENDA_MN, VL_SEG_MERC_MN, VL_SEG_MERC_MNEG,              
    VL_TOT_FINANC_360, VL_UNID_LOC_EMP, IN_ADICAO_CALCULADA, PC_ICMS, PC_REDUCAO_ICMS, VL_ICMS_CALCULADO, VL_ICMS_A_RECOLHER,              
    vl_merc_loc_emb_mneg, CD_MOEDA_MLE, TX_MLE, TX_FRETE, TX_SEGURO, TX_DOLAR, CD_TRIBUTACAO_ICMS, CD_FUND_LEGAL_ICMS, VL_DESPESAS,              
    VL_BASE_CALC_II, VL_BASE_CALC_IPI, VL_BASE_CALC_ICMS, NR_DESTAQUE_NCM, NR_ATO_DRAWBACK, VL_TX_SCX_AD, ALIQ_PIS, ALIQ_COFINS,              
    VL_BASE_PIS, VL_PIS, VL_COFINS, /*TX_PIS_COFINS,*/ CD_TIPO_BENEF_PIS_COFINS, PC_REDUCAO_PIS_COFINS, IN_MANUAL_NCM, CD_CFOP,              
    PC_REDUCAO_IPT_II, PC_REDUCAO_IPT_IPI, PB_MERCADORIA              
  )              
  SELECT /*/*DISTINCT*/ */AI.NR_PROCESSO, NR_ADICAO, CD_ACORDO_ALADI, CD_AGENC_AGENT_IMP, CD_APLICACAO_MERC,              
    CD_AUSENCIA_FABRIC, CD_BANC_AGENTE_IMP, CD_COBERT_CAMBIAL, CD_FABRICANTE, CD_FORNECEDOR, CD_FUND_LEG_REGIME, CD_INCOTERMS_VENDA,              
    CD_LOC_COND_VENDA, CD_MD_FRETE_MERC, CD_MERC_NALADI_NCC, CD_MERC_NALADI_SH, CD_MERC_NBM_SH, CD_NCM_SH, CD_MERCADORIA_NCM,              
    CD_METOD_VALORACAO, CD_MODALIDADE_PGTO, CD_MOEDA_NEGOCIADA, CD_MOEDA_SEG_MERC, CD_MOEDAS_DESPESAS, CD_MOTIVO_ADM_TEMP,              
    CD_MOTIVO_SEM_COB, CD_ORGAO_FIN_INTER, CD_PAIS_AQUIS_MERC, CD_PAIS_ORIG_MERC, CD_PAIS_PROC_MERC, CD_PERIOD_PGTO_360,              
    CD_REGIME_TRIBUTAR, CD_TAXA_JUROS, CD_TIPO_ACORDO_TAR, CD_TIPO_AGENTE_IMP, CD_URF_ENTR_MERC, CD_VIA_TRANSPORTE, CD_VINC_IMPO_EXPO,              
    ED_CIDAD_FABRIC, ED_CIDAD_FORN_ESTR, ED_COMPL_FABRIC, ED_COMPL_FORN_ESTR, ED_ESTAD_FORN_ESTR, ED_ESTADO_FABRIC, ED_LOGR_FABRIC,              
    ED_LOGR_FORN_ESTR, ED_NR_FABRIC, ED_NR_FORN_ESTR, IN_BEM_ENCOMENDA, IN_IPI_NAO_TRIBUT, IN_JUROS_ATE_360, IN_MATERIAL_USADO,              
    IN_MULTIMODAL, IN_PGTO_VARIAV_360, NM_FABRICANTE_MERC, NM_FORN_ESTR, NR_AGENTE_IMP, NR_DCTO_REDUCAO, NR_OPER_TRAT_PREV, NR_ROF,              
    PC_COEF_REDUC_II, PC_COMISSAO_AG_IMP, PC_TAXA_JUROS, PL_MERCADORIA, QT_ITENS_ADICAO, QT_PARC_FINANC_360, QT_PERIOD_PGTO_360,              
    QT_UN_ESTATISTICA, TX_COMPL_VL_ADUAN, VL_ACRESCIMOS_MN, VL_BASE_CALCULO_MN, VL_CALC_DCR_DOLAR, VL_COMISSAO_AG_IMP, VL_DEDUCOES_MN,              
    VL_DESPESAS_MN, VL_DESPESAS_MNEG, VL_FINANC_SUP_360, VL_FRETE_MERC_MN, VL_FRETE_MERC_MNEG, VL_II_A_REC_ZFM, VL_II_CALC_DCR_MN,              
    VL_II_DEVIDO_ZFM, VL_MERC_COND_VENDA, VL_MERC_EMB_MN, vl_merc_loc_emb_mn, VL_MERC_VENDA_MN, VL_SEG_MERC_MN, VL_SEG_MERC_MNEG,              
    VL_TOT_FINANC_360, VL_UNID_LOC_EMP, IN_ADICAO_CALCULADA, PC_ICMS, PC_REDUCAO_ICMS, VL_ICMS_CALCULADO, VL_ICMS_A_RECOLHER,              
    vl_merc_loc_emb_mneg, AI.CD_MOEDA_MLE, TX_MLE, TX_FRETE, TX_SEGURO, TX_DOLAR, CD_TRIBUTACAO_ICMS, CD_FUND_LEGAL_ICMS, VL_DESPESAS,              
    VL_BASE_CALC_II, VL_BASE_CALC_IPI, VL_BASE_CALC_ICMS, NR_DESTAQUE_NCM, NR_ATO_DRAWBACK, VL_TX_SCX_AD, ALIQ_PIS, ALIQ_COFINS,              
    VL_BASE_PIS, VL_PIS, VL_COFINS, /*TX_PIS_COFINS, */CD_TIPO_BENEF_PIS_COFINS, PC_REDUCAO_PIS_COFINS, IN_MANUAL_NCM, CD_CFOP,              
    PC_REDUCAO_IPT_II, PC_REDUCAO_IPT_IPI, PB_MERCADORIA              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO             PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TADICAO_DE_IMPORTACAO AI (NOLOCK) ON ( AI.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA = 'TADICAO_DE_IMPORTACAO'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TADICAO_DE_IMPORTACAO. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tadicao_de_importacao do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tdeclaracao_importacao da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TDECLARACAO_IMPORTACAO P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TDECLARACAO_IMPORTACAO'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TDECLARACAO_IMPORTACAO ( NR_PROCESSO, NR_IDENT_USUARIO, CD_APLICACAO_MERC, CD_BANDEIRA_TRANSP,              
    CD_COBERTURA_CAMBIAL, CD_DESTAQUE_NCM, CD_FORMA_PAGAMENTO, CD_FUND_LEGAL_II, CD_IMPORTADOR, CD_INCOTERM, CD_LOCAL_EMBARQUE,              
    CD_METODO_VALORACAO, CD_MODALIDADE_DESP, CD_MODALIDADE_PAGTO, CD_MOEDA_DESPESAS, CD_MOEDA_FRETE, CD_MOEDA_MLE, CD_MOEDA_SEGURO,              
    CD_MOTIVO_SEM_COBERTURA, CD_MOTIVO_TRANS, CD_PAIS_IMPORTADOR, CD_PAIS_PROC_CARGA, CD_RECINTO_ALFAND, CD_REG_TRIB_II, CD_REG_TRIB_IPI,              
   CD_SETOR_ARMAZENAM, CD_TIPO_AG_CARGA, CD_TIPO_CONSIG, CD_TIPO_DCTO_CARGA, CD_TIPO_DECLARACAO, CD_TIPO_IMPORTADOR, CD_TIPO_MANIFESTO,              
    CD_TRANSPORTADOR, CD_URF_DESPACHO, CD_URF_ENTR_CARGA, CD_UTIL_DCTO_CARGA, CD_VIA_TRANSP_CARG, CD_VINC_IMPO_EXPO, DT_CHEGADA_CARGA,              
    DT_EMBARQUE, DT_PROCESSAMENTO, DT_REGISTRO_DI, DT_TRANSMISSAO, IN_BEM_ENCOMENDA, IN_MATERIAL_USADO, IN_MOEDA_NACIONAL, IN_MOEDA_UNICA,              
    IN_MULTIMODAL, IN_OPERACAO_FUNDAP, IN_RATEAR_FRETE_ITENS, IN_RATEAR_SEGURO_ITENS, IN_REPASSA_DADOS_ADICAO, IN_REPASSA_DADOS_CAMBIO,              
    NM_CONSIGNATARIO, NM_VEICULO_TRANSP, NR_AGENTE_CARGA, NR_BANCO_COM, NR_BANCO_PAGAMENTO, NR_COMPRADOR_ME, NR_CONSIGNATARIO,              
   NR_CONTRATO_CAMBIO, NR_CPF_REPR_LEGAL, NR_DCTO_CARGA, NR_DCTO_CARGA_MAST, NR_DECL_IMP_PROT, NR_DECLARACAO_IMP, NR_IDENTIFICACAO_COM,              
    NR_MANIFESTO, NR_PRACA_COM, NR_PRACA_PAGAMENTO, NR_ROF, NR_VEICULO_TRANSP, PB_CARGA, PC_COMISSAO, PC_ICMS, PC_REDUCAO_ICMS, PL_CARGA,              
    QT_ADICOES, TX_INFO_COMPL, VL_FRETE_TNAC_MNEG, VL_TOT_DESPS_MN, VL_TOT_DESPS_MNEG, VL_TOT_FRT_COLLECT, VL_TOT_FRT_PREPAID,              
    VL_TOT_MLE_MNEG, VL_TOT_SEGURO_MNEG, VL_TOTAL_FRETE_MN, VL_TOTAL_MLE_MN, VL_TOTAL_SEG_MN, PC_SEGURO_MLE, VL_TOTAL_II, VL_TOTAL_IPI,              
    VL_TOTAL_AD, DT_ULTIMA_ALTERACAO, IN_RISC_ATUALIZADO, CD_TIPO_BASE_SEGURO, IN_REB, VL_TOT_ICMS, CD_TIPO_PGTO_TRIB, NR_CONTA_PGTO_TRIB,              
   TX_MLE, TX_FRETE, TX_SEGURO, TX_DOLAR, NR_REF_CLI, IN_SISCOMEX, CD_TIPO_ICMS, IN_ICMS_IMPRESSO, DT_ICMS_IMPRESSO, VL_TOTAL_ACRESCIMOS_MN,              
   VL_TOTAL_DEDUCOES_MN, DT_CALCULO, VL_DESPESA_ITEM, VL_DESPESA_ITEM_MN, CD_ORGAO_FIN_INTER, CD_PRESENCA_CARGA, NR_SEQ_RETIFICACAO,              
    CD_MOTIVO_RETIF, DT_RETIFICACAO, DT_EXON_IMPRESSO, IN_EXON_IMPRESSO, CD_TRIBUTACAO_ICMS, CD_FUND_LEGAL_ICMS, VL_TOTAL_CAMBIO,              
    CD_AUSENCIA_FABRIC, CD_FORNECEDOR, CD_FABRICANTE, CD_PAIS_AQUIS_MERC, CD_PAIS_ORIG_MERC, QT_PARC_FINANC_360, QT_PERIOD_PGTO_360,              
    CD_PERIOD_PGTO_360, IN_EMBUT_FRT_ITENS, IN_EMBUT_SEG_ITENS, VL_TOTAL_ACRESCIMOS_MNEG, VL_TOTAL_DEDUCOES_MNEG, VL_TOTAL_FRETE_MNEG,              
    NR_PROCESSO_SISCOMEX, IN_PGTO_VARIAV_360, CD_VEICULO_TRANSP, PC_REDUCAO_IPT_BLI, DT_DI, VL_TOTAL_TX_SCX, VL_TOT_PIS_COFINS              
   )              
  SELECT /*/*DISTINCT*/ */DI.NR_PROCESSO, NR_IDENT_USUARIO, CD_APLICACAO_MERC, CD_BANDEIRA_TRANSP,              
    CD_COBERTURA_CAMBIAL, CD_DESTAQUE_NCM, CD_FORMA_PAGAMENTO, CD_FUND_LEGAL_II, DI.CD_IMPORTADOR, DI.CD_INCOTERM, DI.CD_LOCAL_EMBARQUE,              
    CD_METODO_VALORACAO, CD_MODALIDADE_DESP, CD_MODALIDADE_PAGTO, CD_MOEDA_DESPESAS, DI.CD_MOEDA_FRETE, DI.CD_MOEDA_MLE, DI.CD_MOEDA_SEGURO,              
    CD_MOTIVO_SEM_COBERTURA, CD_MOTIVO_TRANS, CD_PAIS_IMPORTADOR, CD_PAIS_PROC_CARGA, CD_RECINTO_ALFAND, CD_REG_TRIB_II, CD_REG_TRIB_IPI,              
   CD_SETOR_ARMAZENAM, CD_TIPO_AG_CARGA, CD_TIPO_CONSIG, CD_TIPO_DCTO_CARGA, CD_TIPO_DECLARACAO, CD_TIPO_IMPORTADOR, CD_TIPO_MANIFESTO,              
    DI.CD_TRANSPORTADOR, CD_URF_DESPACHO, CD_URF_ENTR_CARGA, CD_UTIL_DCTO_CARGA, CD_VIA_TRANSP_CARG, CD_VINC_IMPO_EXPO, DT_CHEGADA_CARGA,              
    DI.DT_EMBARQUE, DT_PROCESSAMENTO, DT_REGISTRO_DI, DT_TRANSMISSAO, IN_BEM_ENCOMENDA, IN_MATERIAL_USADO, IN_MOEDA_NACIONAL, IN_MOEDA_UNICA,              
    IN_MULTIMODAL, IN_OPERACAO_FUNDAP, IN_RATEAR_FRETE_ITENS, IN_RATEAR_SEGURO_ITENS, IN_REPASSA_DADOS_ADICAO, IN_REPASSA_DADOS_CAMBIO,              
    NM_CONSIGNATARIO, NM_VEICULO_TRANSP, NR_AGENTE_CARGA, NR_BANCO_COM, NR_BANCO_PAGAMENTO, NR_COMPRADOR_ME, NR_CONSIGNATARIO,              
   NR_CONTRATO_CAMBIO, NR_CPF_REPR_LEGAL, NR_DCTO_CARGA, NR_DCTO_CARGA_MAST, NR_DECL_IMP_PROT, NR_DECLARACAO_IMP, NR_IDENTIFICACAO_COM,              
    DI.NR_MANIFESTO, NR_PRACA_COM, NR_PRACA_PAGAMENTO, NR_ROF, NR_VEICULO_TRANSP, PB_CARGA, PC_COMISSAO, PC_ICMS, PC_REDUCAO_ICMS, PL_CARGA,              
    QT_ADICOES, TX_INFO_COMPL, DI.VL_FRETE_TNAC_MNEG, VL_TOT_DESPS_MN, VL_TOT_DESPS_MNEG, VL_TOT_FRT_COLLECT, VL_TOT_FRT_PREPAID,              
    VL_TOT_MLE_MNEG, VL_TOT_SEGURO_MNEG, VL_TOTAL_FRETE_MN, VL_TOTAL_MLE_MN, VL_TOTAL_SEG_MN, PC_SEGURO_MLE, VL_TOTAL_II, VL_TOTAL_IPI,              
    VL_TOTAL_AD, DT_ULTIMA_ALTERACAO, IN_RISC_ATUALIZADO, CD_TIPO_BASE_SEGURO, IN_REB, VL_TOT_ICMS, CD_TIPO_PGTO_TRIB, NR_CONTA_PGTO_TRIB,              
   TX_MLE, TX_FRETE, TX_SEGURO, TX_DOLAR, NR_REF_CLI, IN_SISCOMEX, CD_TIPO_ICMS, IN_ICMS_IMPRESSO, DT_ICMS_IMPRESSO, VL_TOTAL_ACRESCIMOS_MN,              
   VL_TOTAL_DEDUCOES_MN, DT_CALCULO, VL_DESPESA_ITEM, VL_DESPESA_ITEM_MN, CD_ORGAO_FIN_INTER, CD_PRESENCA_CARGA, NR_SEQ_RETIFICACAO,              
    CD_MOTIVO_RETIF, DT_RETIFICACAO, DT_EXON_IMPRESSO, IN_EXON_IMPRESSO, CD_TRIBUTACAO_ICMS, CD_FUND_LEGAL_ICMS, VL_TOTAL_CAMBIO,              
    CD_AUSENCIA_FABRIC, CD_FORNECEDOR, CD_FABRICANTE, CD_PAIS_AQUIS_MERC, CD_PAIS_ORIG_MERC, QT_PARC_FINANC_360, QT_PERIOD_PGTO_360,              
    CD_PERIOD_PGTO_360, IN_EMBUT_FRT_ITENS, IN_EMBUT_SEG_ITENS, VL_TOTAL_ACRESCIMOS_MNEG, VL_TOTAL_DEDUCOES_MNEG, VL_TOTAL_FRETE_MNEG,              
    NR_PROCESSO_SISCOMEX, IN_PGTO_VARIAV_360, CD_VEICULO_TRANSP, PC_REDUCAO_IPT_BLI, DT_DI, VL_TOTAL_TX_SCX, VL_TOT_PIS_COFINS              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO              PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TDECLARACAO_IMPORTACAO DI (NOLOCK) ON ( DI.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TDECLARACAO_IMPORTACAO'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TDECLARACAO_IMPORTACAO. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tdeclaracao_importacao do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tdetalhe_mercadoria da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TDETALHE_MERCADORIA P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TDETALHE_MERCADORIA'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TDETALHE_MERCADORIA ( NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_EXPORTADOR, CD_FABR_EXPO, CD_FABRICANTE,              
    CD_MERCADORIA, CD_NALADI_NCCA, CD_NALADI_SH, CD_NCM_SH, CD_PAIS_AQUISICAO, CD_PAIS_ORIGEM, CD_TIPO_CALCULO_ITEM, CD_UN_MED_COMERC,              
    NR_FATURA, PC_DESCONTO_MERC, PL_MERCADORIA, QT_MERC_UN_COMERC, QT_MERC_UN_ESTAT, TX_DESC_DET_MERC, VL_DESCONTO_MERC, VL_FRETE_ITEM,              
    VL_MCV_ITEM, VL_MLE_ITEM, VL_SEGURO_ITEM, VL_UNID_COND_VENDA, VL_UNITARIO, NR_OPER_TRAT_PREV, NR_PEDIDO, VL_II_ITEM, VL_IPI_ITEM,              
    VL_AD_ITEM, VL_ICMS_ITEM, VL_MLE_ITEM_MN, VL_FRETE_ITEM_MN, VL_SEGURO_ITEM_MN, VL_MCV_ITEM_MN, VL_UNID_COND_VENDA_MN,              
    VL_ACRESCIMO_ITEM, VL_DEDUCAO_ITEM, VL_ACRESCIMO_ITEM_MN, VL_DEDUCAO_ITEM_MN, VL_DESPESA_ITEM, VL_DESPESA_ITEM_MN, NR_ORDEM,              
    NR_ITEM_PO, NR_PROC_PO, VL_DESPESAS_ITEM, VL_DED_CPT_MNEG, NR_DESTAQUE_NCM, IN_PROVEM_PO, VL_TX_SCX_ITEM, VL_PIS_ITEM, VL_COFINS_ITEM,      
    VL_BASE_CALC_II, FRETE_COLLECT_ITEM, FRETE_PREPAID_ITEM, FRETE_TNAC_ITEM, FRETE_COLLECT_ITEM_REAL, FRETE_PREPAID_ITEM_REAL,              
    FRETE_TNAC_ITEM_REAL, FRETE_COLLECT_ITEM_DOLAR, FRETE_PREPAID_ITEM_DOLAR, FRETE_TNAC_ITEM_DOLAR, PB_MERCADORIA, NR_PARCIAL      
  )              
  SELECT /*DISTINCT*/ DM.NR_PROCESSO, NR_ADICAO, NR_ITEM, DM.CD_EXPORTADOR, CD_FABR_EXPO, CD_FABRICANTE,              
    CD_MERCADORIA, CD_NALADI_NCCA, CD_NALADI_SH, CD_NCM_SH, CD_PAIS_AQUISICAO, DM.CD_PAIS_ORIGEM, CD_TIPO_CALCULO_ITEM, CD_UN_MED_COMERC,              
    DM.NR_FATURA, PC_DESCONTO_MERC, PL_MERCADORIA, QT_MERC_UN_COMERC, QT_MERC_UN_ESTAT, TX_DESC_DET_MERC, VL_DESCONTO_MERC, VL_FRETE_ITEM,              
    VL_MCV_ITEM, VL_MLE_ITEM, VL_SEGURO_ITEM, VL_UNID_COND_VENDA, VL_UNITARIO, NR_OPER_TRAT_PREV, NR_PEDIDO, VL_II_ITEM, VL_IPI_ITEM,              
    VL_AD_ITEM, VL_ICMS_ITEM, VL_MLE_ITEM_MN, VL_FRETE_ITEM_MN, VL_SEGURO_ITEM_MN, VL_MCV_ITEM_MN, VL_UNID_COND_VENDA_MN,              
    VL_ACRESCIMO_ITEM, VL_DEDUCAO_ITEM, VL_ACRESCIMO_ITEM_MN, VL_DEDUCAO_ITEM_MN, VL_DESPESA_ITEM, VL_DESPESA_ITEM_MN, DM.NR_ORDEM,              
    NR_ITEM_PO, NR_PROC_PO, VL_DESPESAS_ITEM, VL_DED_CPT_MNEG, NR_DESTAQUE_NCM, IN_PROVEM_PO, VL_TX_SCX_ITEM, VL_PIS_ITEM, VL_COFINS_ITEM,              
    VL_BASE_CALC_II, FRETE_COLLECT_ITEM, FRETE_PREPAID_ITEM, FRETE_TNAC_ITEM, FRETE_COLLECT_ITEM_REAL, FRETE_PREPAID_ITEM_REAL,              
    FRETE_TNAC_ITEM_REAL, FRETE_COLLECT_ITEM_DOLAR, FRETE_PREPAID_ITEM_DOLAR, FRETE_TNAC_ITEM_DOLAR, PB_MERCADORIA, DM.NR_PARCIAL              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO           PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TDETALHE_MERCADORIA DM (NOLOCK) ON ( DM.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TDETALHE_MERCADORIA'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TDETALHE_MERCADORIA. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END               
  --termino da inclusão dos registros na tabela tdetalhe_mercadoria do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tdem_fat da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TDEM_FAT P (NOLOCK), TDEM_FAT_CNTR C (NOLOCK), #TMP_PROCESSO PD WHERE P.NR_FATURA = C.NR_FATURA AND C.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TDEM_FAT'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TDEM_FAT ( CD_UNID_NEG, NR_FATURA, DT_VENCTO, DT_PAGTO, VL_DESCONTO, VL_ACRESCIMO, VL_DEPOSITO,              
    VL_FATURA, VL_FATURA_TOTAL, IN_RECIBO, IN_FATURADO, DT_FATURA, NR_NF, TP_FAT_DEM              
  )              
  SELECT /*DISTINCT*/ DF.CD_UNID_NEG, DF.NR_FATURA, DF.DT_VENCTO, DF.DT_PAGTO, DF.VL_DESCONTO, DF.VL_ACRESCIMO, DF.VL_DEPOSITO,              
    DF.VL_FATURA, DF.VL_FATURA_TOTAL, DF.IN_RECIBO, DF.IN_FATURADO, DF.DT_FATURA, DF.NR_NF, DF.TP_FAT_DEM              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO     PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TDEM_FAT_CNTR DC (NOLOCK) ON ( DC.NR_PROCESSO = ATZ.NR_PROCESSO )                
    INNER JOIN TDEM_FAT      DF (NOLOCK) ON ( DF.NR_FATURA   = DC.NR_FATURA )                WHERE ATZ.NM_TABELA   = 'TDEM_FAT'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TDEM_FAT. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tdem_fat do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tdem_fat_cntr da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TDEM_FAT_CNTR P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TDEM_FAT_CNTR'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TDEM_FAT_CNTR ( CD_UNID_NEG, NR_FATURA, NR_CNTR, NR_PROCESSO, NR_PERIODO, NR_DIAS_CORRIDOS, NR_DIAS_COBRADOS,              
    VL_DIARIA, VL_FATURA_MNEG, CD_MOEDA_FATURA, TX_FATURA, VL_FATURA_MN, VL_DESCONTO, VL_DEPOSITO, VL_TOTAL, IN_PARCIAL, DT_INICIO, DT_FIM,              
    DT_VENCIMENTO, DT_PAGAMENTO, NR_SOLIC_PAGTO, IN_RECIBO, IN_FATURADO, DT_FATURA, VL_DESCONTO_MNEG, VL_ACRESCIMO_MNEG, VL_ACRESCIMO              
  )              
  SELECT /*DISTINCT*/ DC.CD_UNID_NEG, DC.NR_FATURA, DC.NR_CNTR, DC.NR_PROCESSO, NR_PERIODO, NR_DIAS_CORRIDOS, NR_DIAS_COBRADOS,              
    VL_DIARIA, VL_FATURA_MNEG, CD_MOEDA_FATURA, TX_FATURA, VL_FATURA_MN, VL_DESCONTO, VL_DEPOSITO, VL_TOTAL, IN_PARCIAL, DT_INICIO, DT_FIM,              
    DT_VENCIMENTO, DT_PAGAMENTO, NR_SOLIC_PAGTO, IN_RECIBO, IN_FATURADO, DT_FATURA, VL_DESCONTO_MNEG, VL_ACRESCIMO_MNEG, VL_ACRESCIMO              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO     PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TDEM_FAT_CNTR DC (NOLOCK) ON ( DC.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TDEM_FAT_CNTR'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TDEM_FAT_CNTR. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tdem_fat_cntr do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tdocumento_instrucao da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TDOCUMENTO_INSTRUCAO P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TDOCUMENTO_INSTRUCAO'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TDOCUMENTO_INSTRUCAO ( NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_DCTO_INSTR, NR_DCTO_INSTRUCAO, DT_FATURA,              
    CD_COND_VENDA_ENT, NR_DIAS, DT_VENCTO_FATURA, DT_VENCTO_EADI, DT_VENCTO_NAC, IN_AVISO_EADI, IN_ABERTURA_PROC              
  )              
  SELECT /*DISTINCT*/ DI.NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_DCTO_INSTR, NR_DCTO_INSTRUCAO, DT_FATURA,              
    CD_COND_VENDA_ENT, NR_DIAS, DT_VENCTO_FATURA, DT_VENCTO_EADI, DT_VENCTO_NAC, IN_AVISO_EADI, IN_ABERTURA_PROC              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO            PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TDOCUMENTO_INSTRUCAO DI (NOLOCK) ON ( DI.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TDOCUMENTO_INSTRUCAO'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data             
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TDOCUMENTO_INSTRUCAO. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tdocumento_instrucao do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tfaturamento_cc da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TFATURAMENTO_CC P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TFATURAMENTO_CC'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,              
    CD_DESPACHANTE, CD_TIPO_LANC, CD_FORMA_PAGTO, CD_ORIGEM_LANC, CD_STATUS_LANC, NR_CHEQUE, VL_ITEM, VL_IR, VL_ASSIST,              
    NM_ITEM_COMPLEMENTO, IN_FATURADO, CD_CANCELADOR, DT_CANCELAMENTO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG,              
    CD_PRODUTO, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO, INDICE, IN_SEL_FAT, NR_SOLIC_DEM, NR_FP, NR_LANCAMENTO_CAIXA              
  )              
  SELECT /*DISTINCT*/ FC.NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, FC.CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,              
    FC.CD_DESPACHANTE, CD_TIPO_LANC, CD_FORMA_PAGTO, CD_ORIGEM_LANC, CD_STATUS_LANC, NR_CHEQUE, VL_ITEM, VL_IR, VL_ASSIST,              
    NM_ITEM_COMPLEMENTO, IN_FATURADO, FC.CD_CANCELADOR, FC.DT_CANCELAMENTO, FC.IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, FC.CD_UNID_NEG,              
    FC.CD_PRODUTO, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO, INDICE, IN_SEL_FAT, NR_SOLIC_DEM, NR_FP, NR_LANCAMENTO_CAIXA              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO       PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TFATURAMENTO_CC FC (NOLOCK) ON ( FC.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TFATURAMENTO_CC'              
AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TFATURAMENTO_CC. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tfaturamento_cc do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tfaturamento_cc_cliente da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TFATURAMENTO_CC_CLIENTE P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TFATURAMENTO_CC_CLIENTE'              
  --processo que constam na tabela #tmp_processos_myindaia              
  INSERT INTO MYINDAIA.DBO.TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO, IN_FATURA )              
  SELECT /*DISTINCT*/ FC.NR_PROCESSO, FC.NR_LANCAMENTO, FC.DT_LANCAMENTO, FC.CD_ITEM, FC.VL_ITEM, FC.IN_CANCELADO, FC.IN_FATURA              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO               PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TFATURAMENTO_CC_CLIENTE FC (NOLOCK) ON ( FC.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TFATURAMENTO_CC_CLIENTE'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'               
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TFATURAMENTO_CC_CLIENTE. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tfaturamento_cc_cliente do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tfaturamento_cc_cliente da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TFAT_CALCULO_RATEIO_DESP P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TFAT_CALCULO_RATEIO_DESP'              
  --processo que constam na tabela #tmp_processos_myindaia              
  INSERT INTO MYINDAIA.DBO.TFAT_CALCULO_RATEIO_DESP ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM,              
    CD_AREA, VL_ITEM, PL_MERCADORIA, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA, CD_USUARIO )              
  SELECT /*DISTINCT*/ FC.CD_UNID_NEG, FC.CD_PRODUTO, FC.NR_SOLICITACAO, FC.NR_PROCESSO, FC.CD_REFERENCIA,              
    FC.CD_ITEM, FC.CD_AREA, FC.VL_ITEM, FC.PL_MERCADORIA, FC.VL_ITEM_AREA, FC.TP_RATEIO_DESP, FC.NR_NOTA_FATURA, FC.CD_USUARIO              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO                PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TFAT_CALCULO_RATEIO_DESP FC (NOLOCK) ON ( FC.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TFAT_CALCULO_RATEIO_DESP'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TFAT_CALCULO_RATEIO_DESP. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tfaturamento_cc_cliente do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tlicenca_importacao da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TLICENCA_IMPORTACAO P, #TMP_PROCESSO PD WHERE SUBSTRING(P.NR_PROCESSO,1,14) = PD.NR_PROCESSO AND NM_TABELA = 'TLICENCA_IMPORTACAO'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TLICENCA_IMPORTACAO (              
    NR_PROCESSO, NR_IDENT_USUARIO, NR_ATO_DRAWBACK, NR_COMUNICADO_COMPRA, NR_REGISTRO_LI, CD_MOD_PAGAMENTO,              
    CD_IMPORTADOR, CD_ACORDO_ALADI, CD_REGIME_TRIBUTACAO, CD_FUND_LEGAL, CD_AGENCIA_SECEX, CD_PAIS_PROCEDENCIA,              
    CD_INCOTERM, CD_INSTITUICAO_FINANC, CD_MOT_SEM_COBERTURA, CD_CONDICAO_MERC, CD_MOEDA_FOB, CD_URF_DESPACHO,              
    CD_URF_ENTRADA, CD_MOEDA_FRETE, CD_MOEDA_SEGURO, CD_MOEDA_MLE, CD_TIPO_IMPORTADOR, CD_SERVICO, DT_PROCESSO_LI,              
    DT_REGISTRO_LI, QT_DIAS_COBERTURA, QT_TOTAL_PES_LIQ, QT_MED_ESTATISTICA, QT_TOTAL_ITEM, TP_CAMBIO,              
    TP_ACORDO_ALADI, TX_INFO_COMPLEMENTAR, VL_FRETE_MOEDA, VL_SEGURO_MOEDA, VL_DESPESA_MOEDA, VL_DESCONTO_MOEDA,              
    VL_TOTAL_MOEDA, NR_PROCESSO_SISCOMEX, IN_MONTADA, NR_LI_SUBSTITUIDO, TP_RATEIO_PESO_LIQ, IN_RATEIO_PESO_LIQ              
  )              
  SELECT /*DISTINCT*/              
    LI.NR_PROCESSO, LI.NR_IDENT_USUARIO, LI.NR_ATO_DRAWBACK, LI.NR_COMUNICADO_COMPRA, LI.NR_REGISTRO_LI, LI.CD_MOD_PAGAMENTO,              
    LI.CD_IMPORTADOR, LI.CD_ACORDO_ALADI, LI.CD_REGIME_TRIBUTACAO, LI.CD_FUND_LEGAL, LI.CD_AGENCIA_SECEX, LI.CD_PAIS_PROCEDENCIA,              
    LI.CD_INCOTERM, LI.CD_INSTITUICAO_FINANC, LI.CD_MOT_SEM_COBERTURA, LI.CD_CONDICAO_MERC, LI.CD_MOEDA_FOB, LI.CD_URF_DESPACHO,              
    LI.CD_URF_ENTRADA, LI.CD_MOEDA_FRETE, LI.CD_MOEDA_SEGURO, LI.CD_MOEDA_MLE, LI.CD_TIPO_IMPORTADOR,LI.CD_SERVICO, LI.DT_PROCESSO_LI,              
    LI.DT_REGISTRO_LI, LI.QT_DIAS_COBERTURA, LI.QT_TOTAL_PES_LIQ, LI.QT_MED_ESTATISTICA, LI.QT_TOTAL_ITEM, LI.TP_CAMBIO,              
    LI.TP_ACORDO_ALADI, LI.TX_INFO_COMPLEMENTAR, LI.VL_FRETE_MOEDA, LI.VL_SEGURO_MOEDA, LI.VL_DESPESA_MOEDA, LI.VL_DESCONTO_MOEDA,               
    LI.VL_TOTAL_MOEDA, LI.NR_PROCESSO_SISCOMEX, LI.IN_MONTADA, LI.NR_LI_SUBSTITUIDO, LI.TP_RATEIO_PESO_LIQ, LI.IN_RATEIO_PESO_LIQ              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO           PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TLICENCA_IMPORTACAO LI (NOLOCK) ON ( SUBSTRING( LI.NR_PROCESSO, 1, 14 ) = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TLICENCA_IMPORTACAO'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros               
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TLICENCA_IMPORTACAO. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tlicenca_importacao do banco myinda              
                
  --inicio da seleção e inserção dos registros da tabela tlicenca_itens da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TLICENCA_ITENS P, #TMP_PROCESSO PD WHERE SUBSTRING(P.NR_PROCESSO,1,14) = PD.NR_PROCESSO AND NM_TABELA = 'TLICENCA_ITENS'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TLICENCA_ITENS (              
    NR_PROCESSO, NR_ITEM, NR_DESTAQUE_NCM, CD_IMPORTADOR, CD_EXPORTADOR, CD_FABR_EXPO, CD_FABRICANTE,              
    CD_MERCADORIA, CD_NALADI_NCCA, CD_NALADI_SH, CD_NCM_SH, CD_PAIS_AQUISICAO, CD_PAIS_ORIGEM, CD_UN_MED_COMERC,              
    CD_UN_MED_ESTAT, PL_MERCADORIA, QT_MERC_UN_COMERC, QT_MERC_UN_ESTAT, TX_DESC_DET_MERC, VL_UNIT_MLE,              
    VL_TOTAL_MLE, VL_UNIT_MCV, CD_PAIS_PROCEDENCIA, VL_RAT_FRETE, VL_RAT_SEGURO, VL_RAT_DESPESA,              
    VL_RAT_DESCONTO, NR_ITEM_PO, NR_PROC_PO, NR_ATO_DRAWBACK, CD_REGIME_TRIBUTACAO, CD_FUND_LEGAL,              
    NR_ITEM_DRAWBACK, NR_REG_DRAWBACK, IN_REG_DRAWBACK, NR_LI_SUBSTITUIDO, IN_DRAWBACK_AUTOMATICO,              
    QT_PRODUTO_DRAWBACK, VL_PRODUTO_DRAWBACK              
  )              
  SELECT /*DISTINCT*/              
    LI.NR_PROCESSO, LI.NR_ITEM, LI.NR_DESTAQUE_NCM, LI.CD_IMPORTADOR, LI.CD_EXPORTADOR, LI.CD_FABR_EXPO, LI.CD_FABRICANTE,              
    LI.CD_MERCADORIA, LI.CD_NALADI_NCCA, LI.CD_NALADI_SH, LI.CD_NCM_SH, LI.CD_PAIS_AQUISICAO, LI.CD_PAIS_ORIGEM, LI.CD_UN_MED_COMERC,              
    LI.CD_UN_MED_ESTAT, LI.PL_MERCADORIA, LI.QT_MERC_UN_COMERC, LI.QT_MERC_UN_ESTAT, LI.TX_DESC_DET_MERC, LI.VL_UNIT_MLE,              
    LI.VL_TOTAL_MLE, LI.VL_UNIT_MCV, LI.CD_PAIS_PROCEDENCIA, LI.VL_RAT_FRETE, LI.VL_RAT_SEGURO, LI.VL_RAT_DESPESA,              
    LI.VL_RAT_DESCONTO, LI.NR_ITEM_PO, LI.NR_PROC_PO, LI.NR_ATO_DRAWBACK, LI.CD_REGIME_TRIBUTACAO, LI.CD_FUND_LEGAL,              
    LI.NR_ITEM_DRAWBACK, LI.NR_REG_DRAWBACK, LI.IN_REG_DRAWBACK, LI.NR_LI_SUBSTITUIDO, LI.IN_DRAWBACK_AUTOMATICO,              
    LI.QT_PRODUTO_DRAWBACK, LI.VL_PRODUTO_DRAWBACK              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO      PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TLICENCA_ITENS LI (NOLOCK) ON ( SUBSTRING( LI.NR_PROCESSO, 1, 14 ) = PR.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TLICENCA_ITENS'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data             
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TLICENCA_ITENS. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tlicenca_itens do banco myinda              
                
  --inicio da seleção e inserção dos registros da tabela tnumerario da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TNUMERARIO P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TNUMERARIO'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TNUMERARIO (              
    NR_PROCESSO, NR_SOLICITACAO, DT_SOLICITACAO, VL_SOLICITADO, CD_STATUS, IN_EMITIDO, DT_RECEBIMENTO )              
  SELECT /*DISTINCT*/              
    NN.NR_PROCESSO, NN.NR_SOLICITACAO, NN.DT_SOLICITACAO, NN.VL_SOLICITADO, NN.CD_STATUS, NN.IN_EMITIDO,              
    ( SELECT MAX(AG.DT_RECEBIMENTO)              
      FROM TRECEBIMENTO_PROCESSO NP (NOLOCK), TRECEBIMENTO_AG AG (NOLOCK)              
      WHERE NN.NR_PROCESSO    = NP.NR_PROCESSO              
        AND NN.NR_SOLICITACAO = NP.NR_SOLICITACAO              
        AND NP.NR_RECEBIMENTO = AG.NR_RECEBIMENTO              
        AND NP.CD_CLIENTE     = AG.CD_CLIENTE              
        AND NP.CD_UNID_NEG    = AG.CD_UNID_NEG )              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO           PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TNUMERARIO_NOTIFICA NN (NOLOCK) ON ( NN.NR_PROCESSO = PR.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TNUMERARIO'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND NN.CD_STATUS   <> 'C'     AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TNUMERARIO. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tnumerario do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tnumerario_item da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TNUMERARIO_ITEM P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TNUMERARIO'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TNUMERARIO_ITEM (              
    NR_PROCESSO, NR_SOLICITACAO, NR_LANCAMENTO, CD_ITEM, VL_SOLICITADO,              
    CD_STATUS, VL_RECEBIDO, VL_UTILIZADO, IN_CANCELADO, TP_DESTINO )              
  SELECT /*DISTINCT*/              
    NI.NR_PROCESSO, NI.NR_SOLICITACAO, NI.NR_LANCAMENTO, NI.CD_ITEM, NI.VL_SOLICITADO,              
    NI.CD_STATUS, NI.VL_RECEBIDO, NI.VL_UTILIZADO, NI.IN_CANCELADO, NI.TP_DESTINO              
  FROM #TMP_PROCESSO ATZ, MYINDAIA.DBO.TNUMERARIO NN (NOLOCK), TNUMERARIO_NOTIFICA_ITEM NI (NOLOCK)              
  WHERE ATZ.NM_TABELA     = 'TNUMERARIO'              
    AND ATZ.NR_PROCESSO   = NN.NR_PROCESSO              
    AND NI.NR_PROCESSO    = NN.NR_PROCESSO              
    AND NI.NR_SOLICITACAO = NN.NR_SOLICITACAO              
              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TNUMERARIO_ITEM. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tnumerario_item do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tpagamento_tributos da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPAGAMENTO_TRIBUTOS P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPAGAMENTO_TRIBUTOS'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPAGAMENTO_TRIBUTOS (              
    NR_PROCESSO, CD_RECEITA_PGTO, CD_BANCO_PGTO_TRIB, NR_AGENC_PGTO_TRIB, VL_TRIBUTO_PAGO,              
    DT_PGTO_TRIBUTO, VL_MULTA_PGTO_TRIB, VL_JUROS_PGTO_TRIB )              
  SELECT /*DISTINCT*/              
    PT.NR_PROCESSO, PT.CD_RECEITA_PGTO, PT.CD_BANCO_PGTO_TRIB, PT.NR_AGENC_PGTO_TRIB, PT.VL_TRIBUTO_PAGO,              
    PT.DT_PGTO_TRIBUTO, PT.VL_MULTA_PGTO_TRIB, PT.VL_JUROS_PGTO_TRIB              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO           PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPAGAMENTO_TRIBUTOS PT (NOLOCK) ON ( PT.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPAGAMENTO_TRIBUTOS'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPAGAMENTO_TRIBUTOS. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tpagamento_tributos do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tref_cliente da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TREF_CLIENTE P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TREF_CLIENTE'              
  --processo que constam na tabela #tmp_processos_po_myindaia              
  INSERT INTO MYINDAIA.DBO.TREF_CLIENTE (              
    NR_PROCESSO, NR_SEQUENCIA, CD_REFERENCIA, CD_REF_EXP, DT_REFERENCIA, TP_REFERENCIA, CD_AREA, NR_ITEM_PO, NR_PARCIAL )       
  SELECT /*DISTINCT*/              
    RC.NR_PROCESSO, RC.NR_SEQUENCIA, RC.CD_REFERENCIA, RC.CD_REF_EXP, RC.DT_REFERENCIA, RC.TP_REFERENCIA, RC.CD_AREA, RC.NR_ITEM_PO, RC.NR_PARCIAL             
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO    PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TREF_CLIENTE RC (NOLOCK) ON ( RC.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TREF_CLIENTE'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TREF_CLIENTE. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tref_cliente do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tributo da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TRIBUTO P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TRIBUTO'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TRIBUTO (              
    NR_PROCESSO, NR_ADICAO, CD_RECEITA_IMPOSTO, CD_TIPO_ALIQ_IPT, VL_BASE_CALC_ADVAL, PC_ALIQ_NORM_ADVAL,              
    VL_CALC_IPT_ADVAL, NM_UN_ALIQ_ESP_IPT, CD_TIPO_RECIPIENTE, QT_ML_RECIPIENTE, QT_MERC_UN_ALIQ_ES,              
    VL_ALIQ_ESPEC_IPT, VL_CALC_IPT_ESPEC, CD_TIPO_BENEF_IPI, PC_ALIQ_REDUZIDA, PC_REDUCAO_IPT_BLI,              
    PC_ALIQ_ACOR_TARIF, VL_CALC_II_AC_TARI, VL_IMPOSTO_DEVIDO, VL_IPT_A_RECOLHER, CD_TIPO_DIREITO,              
    NR_NOTA_COMPL_TIPI )              
  SELECT /*DISTINCT*/              
    TB.NR_PROCESSO, TB.NR_ADICAO, TB.CD_RECEITA_IMPOSTO, TB.CD_TIPO_ALIQ_IPT, TB.VL_BASE_CALC_ADVAL, TB.PC_ALIQ_NORM_ADVAL,              
    TB.VL_CALC_IPT_ADVAL, TB.NM_UN_ALIQ_ESP_IPT, TB.CD_TIPO_RECIPIENTE, TB.QT_ML_RECIPIENTE, TB.QT_MERC_UN_ALIQ_ES,              
    TB.VL_ALIQ_ESPEC_IPT, TB.VL_CALC_IPT_ESPEC, TB.CD_TIPO_BENEF_IPI, TB.PC_ALIQ_REDUZIDA, TB.PC_REDUCAO_IPT_BLI,              
    TB.PC_ALIQ_ACOR_TARIF, TB.VL_CALC_II_AC_TARI, TB.VL_IMPOSTO_DEVIDO, TB.VL_IPT_A_RECOLHER, TB.CD_TIPO_DIREITO,              
    TB.NR_NOTA_COMPL_TIPI              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TRIBUTO   TB (NOLOCK) ON ( TB.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TRIBUTO'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TRIBUTO. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tributo do banco myindaia              
              
  --inicio da seleção e inserção dos registros da tabela tb_processo_carga_solta da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_CARGA_SOLTA P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_CARGA_SOLTA'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_CARGA_SOLTA (              
    NR_PROCESSO, NR_SEQUENCIA, VL_QTDE, NM_ESPECIE,              
    SALDO, PESO, IN_AVARIA, OBS_AVARIA              
  )              
  SELECT /*DISTINCT*/              
    CS.NR_PROCESSO, CS.NR_SEQUENCIA, CS.VL_QTDE, CS.NM_ESPECIE,              
    CS.SALDO, CS.PESO, CS.IN_AVARIA, CS.OBS_AVARIA              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO             PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_CARGA_SOLTA CS (NOLOCK) ON ( CS.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_CARGA_SOLTA'              
   AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_CARGA_SOLTA. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tb_processo_carga_solta do banco myindaia              
              
  --inicio da seleção e inserção dos registros da tabela tprocesso_cntr da base myindaia em relação aos              
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_CNTR P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_CNTR'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_CNTR ( NR_PROCESSO, NR_CNTR, DT_ENT_ARM, DT_DESOVA, DT_DEMURRAGE, IN_DESOVA, IN_DEMURRAGE,              
    NR_LACRE, TP_CNTR, NR_FREE_TIME, DRREG, IN_REPARO_CNTR, IN_PAGTO_EFETIVADO, NR_CHEQUE_CAUCAO, VL_CHEQUE_CAUCAO, DT_EMISSAO_CNTR,              
    TX_ESTUFAGEM, DT_DEVOLUCAO_CNTR, DT_ENT, TP_DIAS, CD_STATUS_CNTR, CD_BANCO_CAUCAO, DT_EMISSAO_CAUCAO, CD_MOEDA_DEPOSITO,              
    TX_DEPOSITO, VL_DEPOSITO, IN_DEPOSITADO, IN_DEVOLVIDO, IN_AVARIA, TX_OBS_AVARIA, VL_AVARIA, IN_LAVAGEM, VL_LAVAGEM,              
    DT_ENTREGA_FABRICA, DT_RET_CNTR_FABRICA, DT_CARREGAMENTO, DT_ENTRADA_PATIO_TRANSP, IN_MESQUITA, NM_MOTIVO_DEM, NM_RESP_DEM,              
    NM_APROV_POR_DEM, DT_SAIDA_ARM, VL_PESO_TON, CODIGO, VL_VENDA, TP_FRETE, VL_CUSTO_TOTAL, VL_CUBAGEM              
  )              
  SELECT /*DISTINCT*/ PC.NR_PROCESSO, NR_CNTR, DT_ENT_ARM, DT_DESOVA, DT_DEMURRAGE, IN_DESOVA, IN_DEMURRAGE,              
    NR_LACRE, TP_CNTR, NR_FREE_TIME, DRREG, IN_REPARO_CNTR, IN_PAGTO_EFETIVADO, NR_CHEQUE_CAUCAO, VL_CHEQUE_CAUCAO, DT_EMISSAO_CNTR,              
    TX_ESTUFAGEM, DT_DEVOLUCAO_CNTR, DT_ENT, TP_DIAS, CD_STATUS_CNTR, CD_BANCO_CAUCAO, DT_EMISSAO_CAUCAO, CD_MOEDA_DEPOSITO,              
    TX_DEPOSITO, VL_DEPOSITO, IN_DEPOSITADO, IN_DEVOLVIDO, IN_AVARIA, TX_OBS_AVARIA, VL_AVARIA, IN_LAVAGEM, VL_LAVAGEM,              
    DT_ENTREGA_FABRICA, DT_RET_CNTR_FABRICA, DT_CARREGAMENTO, DT_ENTRADA_PATIO_TRANSP, IN_MESQUITA, NM_MOTIVO_DEM, NM_RESP_DEM,              
    NM_APROV_POR_DEM, DT_SAIDA_ARM, VL_PESO_TON, CODIGO, VL_VENDA, PC.TP_FRETE, VL_CUSTO_TOTAL, VL_CUBAGEM              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO      PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_CNTR PC (NOLOCK) ON ( PC.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_CNTR'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_CNTR. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_cntr do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_embalagem da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_EMBALAGEM P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_EMBALAGEM'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_EMBALAGEM ( NR_PROCESSO, CD_EMBALAGEM, PB_EMBALAGEM, QT_EMBALAGEM )              
  SELECT /*DISTINCT*/ PE.NR_PROCESSO, PE.CD_EMBALAGEM, PE.PB_EMBALAGEM, PE.QT_EMBALAGEM              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO           PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_EMBALAGEM PE (NOLOCK) ON ( PE.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_EMBALAGEM'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_EMBALAGEM. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_embalagem do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_li da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_LI P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_LI'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_LI ( NR_PROCESSO, NR_LI, DT_REGISTRO, DT_DEFERIMENTO, DT_VENCTO, IN_SUBSTITUIDA, NR_SUBSTITUIDA )              
  SELECT /*DISTINCT*/ LI.NR_PROCESSO, LI.NR_LI, LI.DT_REGISTRO, LI.DT_DEFERIMENTO, LI.DT_VENCTO, LI.IN_SUBSTITUIDA, LI.NR_SUBSTITUIDA              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO    PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_LI LI (NOLOCK) ON ( LI.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_LI'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_LI. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_li do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_li_orgao_anuente da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_LI_ORGAO_ANUENTE P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_LI_ORGAO_ANUENTE'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_LI_ORGAO_ANUENTE ( NR_PROCESSO, NR_LI, CD_ORGAO_ANUENTE, DT_DEFERIMENTO, DT_VENCTO, DT_ENTR_PROCESSO )              
  SELECT /*DISTINCT*/ LI.NR_PROCESSO, LI.NR_LI, LI.CD_ORGAO_ANUENTE, LI.DT_DEFERIMENTO, LI.DT_VENCTO, LI.DT_ENTR_PROCESSO              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO                  PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_LI_ORGAO_ANUENTE LI (NOLOCK) ON ( LI.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_LI_ORGAO_ANUENTE'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_LI_ORGAO_ANUENTE. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_li_orgao_anuente do banco myindaia              
             
  --inicio da seleção e inserção dos registros da tabela tprocesso_nf da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_NF P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_NF'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_NF ( NR_PROCESSO, NR_NOTA, DT_NOTA, VL_NOTA, DT_ENTREGA_FABR, IN_CANCELADO )              
  SELECT /*DISTINCT*/ NF.NR_PROCESSO, NF.NR_NOTA, NF.DT_NOTA, NF.VL_NOTA, NF.DT_ENTREGA_FABR, NF.IN_CANCELADO              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO    PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_NF NF (NOLOCK) ON ( NF.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_NF'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_NF. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_nf do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_re da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_RE P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_RE'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_RE ( NR_PROCESSO, NR_RE, IN_ATIVO )              
  SELECT /*DISTINCT*/ RE.NR_PROCESSO, RE.NR_RE, RE.IN_ATIVO              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO    PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_RE RE (NOLOCK) ON ( RE.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_RE'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_RE. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_re do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_sda da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_SDA P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_SDA'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_SDA ( NR_PROCESSO, CD_DESPACHANTE, CD_STATUS, VL_BASE_CALCULO, VL_SDA, VL_CONTR_ASSIST,              
    VL_COMPL, VL_PAGTO, IN_DISTR, IN_EMITE, IN_CANCEL, CD_USUARIO_DISTR, CD_USUARIO_EMITE, CD_USUARIO_CANCEL, DT_DISTRIBUICAO,              
    DT_EMISSAO, DT_CANCEL, DT_PAGTO, CD_DISTRIBUIDOR, CD_EMISSOR, CD_CANCELADOR              
  )              
  SELECT /*DISTINCT*/ PS.NR_PROCESSO, PS.CD_DESPACHANTE, CD_STATUS, VL_BASE_CALCULO, PS.VL_SDA, PS.VL_CONTR_ASSIST,              
    VL_COMPL, VL_PAGTO, IN_DISTR, IN_EMITE, IN_CANCEL, CD_USUARIO_DISTR, CD_USUARIO_EMITE, CD_USUARIO_CANCEL,              
    PS.DT_DISTRIBUICAO, DT_EMISSAO, DT_CANCEL, DT_PAGTO, CD_DISTRIBUIDOR, CD_EMISSOR, PS.CD_CANCELADOR              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO     PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_SDA PS (NOLOCK) ON ( PS.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_SDA'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_SDA. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_sda do banco myindaia              
              
  --inicio da seleção e inserção dos registros da tabela tb_processo da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO ( NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_USUARIO, DT_ABERTURA,              
    DT_LIBERACAO, TX_MERCADORIA, IN_MERC_PERIGOSA, TX_OBSERVACOES, CD_MOEDA_MLE, VL_MLE_MNEG, VL_MLE_MN, CD_MOEDA_FRETE,              
    VL_FRETE_PREPAID_MNEG, VL_FRETE_COLLECT_MNEG,VL_FRETE_MN, CD_MOEDA_SEGURO, VL_SEGURO_MNEG, VL_SEGURO_MN, CD_AGENTE,              
    VL_TAXA_FRETE, VL_CIF_DOLAR, VL_CIF_MN, VL_II_MN, VL_IPI_MN, VL_ICMS_MN, CD_ARMAZEM_ATRACACAO, CD_ARMAZEM_DESCARGA,              
    CD_ARMAZEM_ESTOCAGEM, CD_TRANSP_NAC, CD_EMBARCACAO, NR_VOO, NR_CONHECIMENTO, NR_CONHECIMENTO_MASTER, CD_PAIS_ORIGEM,              
    CD_LOCAL_EMBARQUE, CD_PAIS_DESTINO, CD_LOCAL_DESEMBARQUE, NR_DI, QT_REF_CLIENTE, VL_SDA, DT_DISTRIBUICAO, CD_DESPACHANTE_SDA,              
    VL_FRETE_INTERNO, DT_DESCARGA, DT_ESTOCAGEM, DT_CONHECIMENTO, DT_EMBARQUE, CD_REGIME_TRIB, VL_FRETE_TNAC_MNEG, NR_DDE,              
    TX_OBS_INT, CD_CANAL, IN_URGENTE, CD_ANALISTA_CLIENTE, CD_ANALISTA_COMISSARIA, NR_PRESENCA_CARGA, DT_PRESENCA_CARGA,              
    IN_POR_VEICULO, CD_USUARIO_REPASSA, NR_VIAGEM, IN_IMP_ARM, CD_TRANSP_NAC_DOC, NR_AVERBACAO, VL_PREMIO_SEGURO, TP_BANCO_EXP,              
    CD_BANCO_EXP, CD_AGENTE_SEGURO, VL_COMPL_SDA, NR_DA, CD_CONTATO, CD_AREA, NR_MANIFESTO, NM_CONEXAO, NR_PROCESSO_EXP_TEMP,              
    DT_VENC_PROCESSO_EXP_TEMP, NR_DI_RETORNO, VL_PESO_LIQUIDO, VL_PESO_BRUTO, CD_INCOTERM, NR_PROCESSO_VINC, NR_DESPACHO,              
    DT_CHEGADA, DT_APRESENTACAO, TP_PROCESSO, NM_ATO_DECLARATORIO, CD_DESPACHANTE, TP_FRETE, NR_FATURA, CD_EMP_EST,              
    NR_PLACA_VEICULO, VL_FRETE_CUSTO, VL_M3, CD_IMPORTADOR, CD_EXPORTADOR, NR_PROCESSO_OR_ENTREPOSTO, CD_TRANSPORTADOR,              
    CD_GRUPO, CD_CELULA, NR_DTA, NR_CAMINHAO, CD_TP_DTA, NR_REFERENCIA, DT_PEDIDO, HR_PEDIDO, HR_ABERTURA, NM_EMPRESA_BASF,              
    CD_TP_PEDIDO, NR_REF_EXPORTADOR, NM_PLANTA, NR_ORDEM, IN_CONSOLIDADO, IN_SEGURO, CD_REF_IMP, IN_DADOS_IGUAIS_ITENS,              
    IN_ENTREPOSTO, IN_REL_LEAD_TIME, DT_REG_DDE, TP_ESTUFAGEM, CD_REPRESENTANTE, NM_DIGITADOR_DI, CD_FRONTEIRA, IN_COURRIER, ID_CODIGO_INSTR_DESEMB, CD_LOCAL_TRANSBORDO              
  )              
  SELECT /*DISTINCT*/ PR.NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_USUARIO, DT_ABERTURA,              
    DT_LIBERACAO, TX_MERCADORIA, IN_MERC_PERIGOSA, TX_OBSERVACOES, CD_MOEDA_MLE, VL_MLE_MNEG, VL_MLE_MN, CD_MOEDA_FRETE,              
    VL_FRETE_PREPAID_MNEG, VL_FRETE_COLLECT_MNEG,VL_FRETE_MN, CD_MOEDA_SEGURO, VL_SEGURO_MNEG, VL_SEGURO_MN, CD_AGENTE,              
    VL_TAXA_FRETE, VL_CIF_DOLAR, VL_CIF_MN, VL_II_MN, VL_IPI_MN, VL_ICMS_MN, CD_ARMAZEM_ATRACACAO, CD_ARMAZEM_DESCARGA,              
    CD_ARMAZEM_ESTOCAGEM, CD_TRANSP_NAC, CD_EMBARCACAO, NR_VOO, NR_CONHECIMENTO, NR_CONHECIMENTO_MASTER, CD_PAIS_ORIGEM,              
    CD_LOCAL_EMBARQUE, CD_PAIS_DESTINO, CD_LOCAL_DESEMBARQUE, NR_DI, QT_REF_CLIENTE, VL_SDA, DT_DISTRIBUICAO, CD_DESPACHANTE_SDA,              
    VL_FRETE_INTERNO, DT_DESCARGA, DT_ESTOCAGEM, DT_CONHECIMENTO, DT_EMBARQUE, CD_REGIME_TRIB, VL_FRETE_TNAC_MNEG, NR_DDE,              
    TX_OBS_INT, CD_CANAL, IN_URGENTE, CD_ANALISTA_CLIENTE, CD_ANALISTA_COMISSARIA, NR_PRESENCA_CARGA, DT_PRESENCA_CARGA,              
    IN_POR_VEICULO, CD_USUARIO_REPASSA, NR_VIAGEM, IN_IMP_ARM, CD_TRANSP_NAC_DOC, NR_AVERBACAO, VL_PREMIO_SEGURO, TP_BANCO_EXP,              
    CD_BANCO_EXP, CD_AGENTE_SEGURO, VL_COMPL_SDA, NR_DA, CD_CONTATO, CD_AREA, NR_MANIFESTO, NM_CONEXAO, NR_PROCESSO_EXP_TEMP,              
    DT_VENC_PROCESSO_EXP_TEMP, NR_DI_RETORNO, VL_PESO_LIQUIDO, VL_PESO_BRUTO, CD_INCOTERM, NR_PROCESSO_VINC, NR_DESPACHO,              
    DT_CHEGADA, DT_APRESENTACAO, TP_PROCESSO, NM_ATO_DECLARATORIO, CD_DESPACHANTE, TP_FRETE, NR_FATURA, CD_EMP_EST,              
    NR_PLACA_VEICULO, VL_FRETE_CUSTO, VL_M3, CD_IMPORTADOR, CD_EXPORTADOR, NR_PROCESSO_OR_ENTREPOSTO, CD_TRANSPORTADOR,              
    CD_GRUPO, CD_CELULA, NR_DTA, NR_CAMINHAO, CD_TP_DTA, NR_REFERENCIA, DT_PEDIDO, HR_PEDIDO, HR_ABERTURA, NM_EMPRESA_BASF,              
    CD_TP_PEDIDO, NR_REF_EXPORTADOR, NM_PLANTA, NR_ORDEM, IN_CONSOLIDADO, IN_SEGURO, CD_REF_IMP, IN_DADOS_IGUAIS_ITENS,              
    IN_ENTREPOSTO, IN_REL_LEAD_TIME, DT_REG_DDE, TP_ESTUFAGEM, CD_REPRESENTANTE,               
    ( SELECT NM_USUARIO FROM TUSUARIO US (NOLOCK), TFOLLOWUP FUP (NOLOCK)  /*atualizando no processo o usuario que confeccionou a di*/              
       WHERE FUP.CD_EVENTO = '419' AND FUP.NR_PROCESSO = PR.NR_PROCESSO               
         AND US.CD_USUARIO = FUP.CD_RESP_REALIZACAO ), CD_FRONTEIRA, IN_COURRIER, PR.ID_CODIGO_INSTR_DESEMB, CD_LOCAL_TRANSBORDO             
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA = 'TPROCESSO'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TROCESSO. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
              
  /*foi separado pois estava gerando duplicidade*/              
  UPDATE PR SET              
    DT_VENCTO_ARMZ = (SELECT TOP 1 DATEADD(day, AD.QT_DIAS, (SELECT MIN(DT_ENT) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = PR.NR_PROCESSO))              
                      FROM TARMAZEM_DESPESAS_CLIENTE AD (NOLOCK)               
                      WHERE AD.CD_ARMAZEM = PR.CD_ARMAZEM_DESCARGA              
                        AND AD.CD_CLIENTE = PR.CD_CLIENTE              
                        AND AD.CD_ITEM = '514'              
                        AND AD.TX_PERIODO IN ('1','1...'))              
FROM #TMP_PROCESSO ATZ              
    INNER JOIN MYINDAIA.DBO.TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = ATZ.NR_PROCESSO)              
  WHERE ATZ.NM_TABELA = 'TPROCESSO'              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar atualização do vencimento da armazenagem. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --insere os novos processos na tabela de processo bordero              
  INSERT INTO MYINDAIA.DBO.TPROC_BORDERO ( NR_PROCESSO, TP_SITUACAO, TP_STATUS )              
  SELECT /*DISTINCT*/ ATZ.NR_PROCESSO, '0', '0'              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA = 'TPROCESSO'              
AND ATZ.NR_PROCESSO NOT IN ( SELECT NR_PROCESSO FROM MYINDAIA.DBO.TPROC_BORDERO )              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROC_BORDERO. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tb_processo do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_exp_item da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_EXP_ITEM P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_EXP_ITEM'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_EXP_ITEM ( NR_PROCESSO, NR_ITEM, NR_PEDIDO_IMP, CD_MERCADORIA, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA,              
    CD_EMBALAGEM, CD_CLASSIF_EMBALAGEM, CD_FABR_EXPO, QT_POR_EMB, QT_EMBALAGEM, QT_MERCADORIA, VL_POR_EMB, VL_UNITARIO, VL_PESO_LIQ_UNIT,              
    VL_COMPRIMENTO_EMB, VL_LARGURA_EMB, VL_ALTURA_EMB, VL_PESO_EMB, VL_TOT_ITEM, VL_TOT_PESO_LIQ, VL_TOT_PESO_BRUTO, VL_CUBAGEM, VL_MLE,              
    VL_MCV, VL_SEGURO, VL_FRETE, VL_DESPESA, VL_DESCONTO, TX_MERCADORIA, NR_PROC_PE, NR_ITEM_PE, CD_EMBALAGEM_SUP,              
    CD_CLASSIF_EMBALAGEM_SUP, QT_POR_EMB_SUP, QT_EMBALAGEM_SUP, VL_POR_EMB_SUP, CD_EMBALAGEM_CLIENTE, CD_NORMAS, IN_ACORDO, NR_SEQ_NALADI,              
    NR_SEQ_NCM, CD_FABRICANTE, NR_PEDIDO, CD_PAIS_ORIGEM, TP_ACORDO, CD_NCM_DOC, CD_NALADI_DOC, CD_ACORDO, NR_SEQ_NCM_DOC,              
    NR_SEQ_NALADI_DOC, NR_ORDEM_CERT_ORIGEM, NR_ANEXO, NR_ATO_CONCESSORIO, VL_COM_AGENTE, IN_TRANSFERIDO, VL_SEM_COBERTURA_CAMBIAL,              
    VL_ACRESCIMO, DT_REMESSA, VL_FRETE_INT, NR_NF, NR_ORDER              
   )              
  SELECT /*DISTINCT*/ PE.NR_PROCESSO, NR_ITEM, NR_PEDIDO_IMP, CD_MERCADORIA, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA,              
    CD_EMBALAGEM, CD_CLASSIF_EMBALAGEM, CD_FABR_EXPO, QT_POR_EMB, QT_EMBALAGEM, QT_MERCADORIA, VL_POR_EMB, VL_UNITARIO, VL_PESO_LIQ_UNIT,              
    VL_COMPRIMENTO_EMB, VL_LARGURA_EMB, VL_ALTURA_EMB, VL_PESO_EMB, VL_TOT_ITEM, VL_TOT_PESO_LIQ, VL_TOT_PESO_BRUTO, VL_CUBAGEM, VL_MLE,              
    VL_MCV, VL_SEGURO, PE.VL_FRETE, VL_DESPESA, VL_DESCONTO, PE.TX_MERCADORIA, NR_PROC_PE, NR_ITEM_PE, CD_EMBALAGEM_SUP,              
    CD_CLASSIF_EMBALAGEM_SUP, QT_POR_EMB_SUP, QT_EMBALAGEM_SUP, VL_POR_EMB_SUP, CD_EMBALAGEM_CLIENTE, CD_NORMAS, IN_ACORDO, NR_SEQ_NALADI,              
    NR_SEQ_NCM, CD_FABRICANTE, NR_PEDIDO, PE.CD_PAIS_ORIGEM, TP_ACORDO, CD_NCM_DOC, CD_NALADI_DOC, CD_ACORDO, NR_SEQ_NCM_DOC,              
    NR_SEQ_NALADI_DOC, NR_ORDEM_CERT_ORIGEM, NR_ANEXO, NR_ATO_CONCESSORIO, VL_COM_AGENTE, IN_TRANSFERIDO, VL_SEM_COBERTURA_CAMBIAL, VL_ACRESCIMO,              
    DT_REMESSA, VL_FRETE_INT, NR_NF, NR_ORDER           
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO          PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_EXP_ITEM PE (NOLOCK) ON ( PE.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_EXP_ITEM'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    --AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_EXP_ITEM. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_exp_item do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_exp_dde_nf da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_EXP_DDE_NF P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_EXP_DDE_NF'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_EXP_DDE_NF ( NR_PROCESSO, NR_NF_INI, NR_NF_FIM, SERIE_NF, DT_NF, VL_NF )              
  SELECT /*DISTINCT*/ PE.NR_PROCESSO, PE.NR_NF_INI, PE.NR_NF_FIM, PE.SERIE_NF, DT_NF, VL_NF              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO            PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_EXP_DDE_NF PE (NOLOCK) ON ( PE.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_EXP_DDE_NF'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_EXP_DDE_NF. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_exp_dde_nf do banco myindaia              
     
  --inicio da seleção e inserção dos registros da tabela tprocesso_exp_dde_re da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_EXP_DDE_RE  P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_EXP_DDE_RE'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_EXP_DDE_RE ( NR_PROCESSO, NR_RE, NR_ANEXO_INI, NR_ANEXO_FIM, DT_REGISTRO )              
  SELECT /*DISTINCT*/ PE.NR_PROCESSO, PE.NR_RE, PE.NR_ANEXO_INI, PE.NR_ANEXO_FIM, PE.DT_REGISTRO              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO            PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_EXP_DDE_RE PE (NOLOCK) ON ( PE.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_EXP_DDE_RE'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_DDE_RE. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_exp_dde_re do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_exp_nf da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_EXP_NF P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_EXP_NF'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_EXP_NF ( NR_PROCESSO, NR_NF, DT_NOTA, VL_NOTA )              
  SELECT /*DISTINCT*/ PE.NR_PROCESSO, PE.NR_NF, PE.DT_NOTA, PE.VL_NOTA              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO        PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_EXP_NF PE (NOLOCK) ON ( PE.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_EXP_NF'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_EXP_NF. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_exp_nf do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_exp_pedido da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_EXP_PEDIDO P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_EXP_PEDIDO'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_EXP_PEDIDO ( PE.NR_PROCESSO, PE.NR_PEDIDO, PE.NR_FATURA, PE.TX_MARCACAO,              
PE.TX_EMBALAGEM, PE.VL_DESCONTO, PE.VL_FRETE, PE.TX_MERCADORIA, PE.VL_SEGURO )              
  SELECT /*DISTINCT*/ PE.NR_PROCESSO, PE.NR_PEDIDO, PE.NR_FATURA, PE.TX_MARCACAO_VOLUME,              
   PE.TX_INF_EMBALAGEM, PE.VL_DESCONTO, PE.VL_FRETE, PE.TX_MERCADORIA, PE.VL_SEGURO              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO            PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_EXP_PEDIDO PE (NOLOCK) ON ( PE.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_EXP_PEDIDO'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'       
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_EXP_PEDIDO. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_exp_pedido do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tprocesso_exp_re da base myindaia em relação aos              
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_EXP_RE P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_EXP_RE'               
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_EXP_RE (              
    NR_PROCESSO, NR_RE, DT_RE, CD_NBM_SH, VL_FOB, QT_PESO_LIQ, AP_MOEDA, AP_UNID_MED, NR_TRANSM_RE, CD_CANAL )              
  SELECT /*DISTINCT*/              
    PE.NR_PROCESSO, PE.NR_RE, PE.DT_RE, PE.CD_NBM_SH, PE.VL_FOB, PE.QT_PESO_LIQ, PE.AP_MOEDA, PE.AP_UNID_MED, PE.NR_TRANSM_RE, PE.CD_CANAL              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO        PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_EXP_RE PE (NOLOCK) ON ( PE.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_EXP_RE'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount   --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN     
    PRINT 'Verificar cadastro de TPROCESSO_EXP_RE. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tprocesso_exp_re do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela TPROCESSO_EXP_SAQUE da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_EXP_SAQUE   P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_EXP_SAQUE'              
  --processo que constam na tabela #TMP_PROCESSO              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_EXP_SAQUE ( NR_PROCESSO, NR_SAQUE, CD_TERMO_PAGTO, DT_VCTO_SAQUE, DT_EMISSAO, DT_INICIAL,              
    QT_DIAS_PAGTO, TP_VCTO, TP_EMPRESA_PAGTO, TX_VALUE, TX_OBSERVACAO, VL_TOT_SAQUE, NR_PARCELAS, TP_INDICADOR              
  )              
  SELECT /*DISTINCT*/ PE.NR_PROCESSO, PE.NR_SAQUE, PE.CD_TERMO_PAGTO, PE.DT_VCTO_SAQUE, PE.DT_EMISSAO, PE.DT_INICIAL,              
    PE.QT_DIAS_PAGTO, PE.TP_VCTO, PE.TP_EMPRESA_PAGTO, PE.TX_VALUE, PE.TX_OBSERVACAO, PE.VL_TOT_SAQUE, PE.NR_PARCELAS, PE.TP_INDICADOR              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO           PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_EXP_SAQUE PE (NOLOCK) ON ( PE.NR_PROCESSO = ATZ.NR_PROCESSO )              
  WHERE ATZ.NM_TABELA   = 'TPROCESSO_EXP_SAQUE'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_EXP_SAQUE. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela TPROCESSO_EXP_SAQUE do banco myindaia              
                
  --inicio da seleção e inserção dos registros da tabela tpo da base myindaia em relação aos               
  DELETE P FROM MYINDAIA.DBO.TPROCESSO_EXP P, #TMP_PROCESSO PD WHERE P.NR_PROCESSO = PD.NR_PROCESSO AND NM_TABELA = 'TPROCESSO_EXP'              
  --processo que constam na tabela #tmp_processos_po_myindaia              
  INSERT INTO MYINDAIA.DBO.TPROCESSO_EXP ( NR_PROCESSO, NR_OUTRAS_REF, CD_EXPORTADOR, CD_IMPORTADOR, CD_DESPACHANTE, CD_AGENTE,              
    CD_INCOTERM, CD_PAIS_DESTINO, CD_MOEDA, CD_VIA_TRANSPORTE, CD_TRANSPORTADORA, CD_SEGURADORA, CD_REPRESENTANTE, CD_LOCAL_ORIGEM,              
    CD_LOCAL_DESTINO, CD_URF_DESPACHO, CD_URF_DESTINO, CD_TERMO_PAGTO, CD_FORMA_PAGTO, CD_LINGUA_PEDIDO, CD_TIPO_FRETE, CD_USUARIO,              
    CD_CARTA_CREDITO, CD_INST_NEGOC, CD_CONSIGNATARIO, CD_NOTIFY1, CD_NOTIFY2, DT_REGISTRO_PEDIDO, DT_FATURA, IN_DRAWBACK, NR_LI,              
    NR_FATURA, QT_TOTAL_ITENS, TX_INF_EMBALAGEM, TX_MARCACAO_VOLUME, TX_TERMO_PAGTO, TX_DECL_ADICIONAL, TX_DECL_EXPORTADOR, TP_NOTIFY1,              
    TP_NOTIFY2, TP_CONSIGNATARIO, VL_FRETE, VL_SEGURO, VL_PESO_BRUTO, VL_PESO_LIQUIDO, VL_DESCONTO, VL_COMISSAO_PERCENT, VL_TOT_ORIGEM,              
    VL_TOT_CUBAGEM, VL_TOT_FOB, VL_TOT_COM_AGENTE, VL_TOT_QTDE_PROD, VL_TOT_QTDE_EMBALAGEM, VL_TOT_MCV, VL_TOT_EXW, VL_TX_CAMBIO,              
    VL_TOT_CONTAINER, VL_TOT_PALLETS, VL_TOT_DESPESA, NR_SD, NR_CERTIFICADO, CD_LOCAL_EMISSAO, CD_ACORDO, CD_NORMAS, TX_OBSERVACAO,              
    TX_CABECALHO, IN_ACORDO_ITENS, IN_NORMAS_ITENS, DT_SD, IN_FABR_EXPO, CD_FABRICANTE, CD_PAIS_ORIGEM, TP_COPIA, CD_COPIA, TP_DOCUMENTO,              
    CD_DOCUMENTO, IN_ACORDO2_ITENS, IN_NORMAS2_ITENS, CD_ACORDO2, CD_NORMAS2, CD_PAIS_ORIG, IN_VENDA_INCOTERM, TX_MERCADORIA_BL,              
    IN_DECL_AD_INSTR_EMB, IN_DECL_AD_PACKING_LIST, CD_BANCO_SAQUE_BORDERO, NR_DDE, IN_REFERENCIA_FAT_INST, DT_REG_DDE, IN_ETIQUETA,              
    CD_ENQUAD_OP, VL_SEM_COBERTURA_CAMBIAL, TX_DECL_ADIC_INST_EMB, TX_CRIT_ORIG_FORM_A, CD_LOCAL_DESPACHO, VL_ACRESCIMO,              
    DT_AVISO_EMBARQUE, TP_POS_AD, IN_NUM_FAT_AUTO              
  )              
  SELECT /*/*DISTINCT*/ */PE.NR_PROCESSO, NR_OUTRAS_REF, PE.CD_EXPORTADOR, PE.CD_IMPORTADOR, PE.CD_DESPACHANTE, PE.CD_AGENTE,              
    PE.CD_INCOTERM, PE.CD_PAIS_DESTINO, CD_MOEDA, CD_VIA_TRANSPORTE, CD_TRANSPORTADORA, CD_SEGURADORA, PE.CD_REPRESENTANTE, CD_LOCAL_ORIGEM,              
    CD_LOCAL_DESTINO, CD_URF_DESPACHO, CD_URF_DESTINO, ISNULL(PE.CD_TERMO_PAGTO, PR.CD_TERMO_PAGTO), CD_FORMA_PAGTO, PE.CD_LINGUA_PEDIDO, CD_TIPO_FRETE, PE.CD_USUARIO,              
    CD_CARTA_CREDITO, CD_INST_NEGOC, CD_CONSIGNATARIO, CD_NOTIFY1, CD_NOTIFY2, DT_REGISTRO_PEDIDO, DT_FATURA, IN_DRAWBACK, NR_LI,              
    PE.NR_FATURA, QT_TOTAL_ITENS, TX_INF_EMBALAGEM, TX_MARCACAO_VOLUME, TX_TERMO_PAGTO, TX_DECL_ADICIONAL, TX_DECL_EXPORTADOR, TP_NOTIFY1,              
    TP_NOTIFY2, TP_CONSIGNATARIO, PE.VL_FRETE, VL_SEGURO, PE.VL_PESO_BRUTO, PE.VL_PESO_LIQUIDO, VL_DESCONTO, VL_COMISSAO_PERCENT, VL_TOT_ORIGEM,              
    VL_TOT_CUBAGEM, VL_TOT_FOB, VL_TOT_COM_AGENTE, VL_TOT_QTDE_PROD, VL_TOT_QTDE_EMBALAGEM, VL_TOT_MCV, VL_TOT_EXW, VL_TX_CAMBIO,              
    VL_TOT_CONTAINER, VL_TOT_PALLETS, VL_TOT_DESPESA, NR_SD, NR_CERTIFICADO, CD_LOCAL_EMISSAO, CD_ACORDO, CD_NORMAS, TX_OBSERVACAO,              
    TX_CABECALHO, IN_ACORDO_ITENS, IN_NORMAS_ITENS, DT_SD, IN_FABR_EXPO, CD_FABRICANTE, PE.CD_PAIS_ORIGEM, TP_COPIA, CD_COPIA, TP_DOCUMENTO,              
    CD_DOCUMENTO, IN_ACORDO2_ITENS, IN_NORMAS2_ITENS, CD_ACORDO2, CD_NORMAS2, CD_PAIS_ORIG, IN_VENDA_INCOTERM, TX_MERCADORIA_BL,              
    IN_DECL_AD_INSTR_EMB, IN_DECL_AD_PACKING_LIST, CD_BANCO_SAQUE_BORDERO, PE.NR_DDE, IN_REFERENCIA_FAT_INST, PE.DT_REG_DDE, PE.IN_ETIQUETA,              
    CD_ENQUAD_OP, VL_SEM_COBERTURA_CAMBIAL, TX_DECL_ADIC_INST_EMB, TX_CRIT_ORIG_FORM_A, CD_LOCAL_DESPACHO, VL_ACRESCIMO,              
    DT_AVISO_EMBARQUE, TP_POS_AD, IN_NUM_FAT_AUTO              
  FROM #TMP_PROCESSO ATZ              
    INNER JOIN TPROCESSO     PR (NOLOCK) ON ( PR.NR_PROCESSO = ATZ.NR_PROCESSO )              
    INNER JOIN TPROCESSO_EXP PE (NOLOCK) ON ( PE.NR_PROCESSO = ATZ.NR_PROCESSO )        WHERE ATZ.NM_TABELA   = 'TPROCESSO_EXP'              
    AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'              
    AND YEAR(PR.DT_ABERTURA) >= @data              
    AND SUBSTRING(PR.NR_PROCESSO, 5, 2) NOT IN ('IW','EW')              
  SET @registros = @registros + @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0) BEGIN              
    PRINT 'Verificar cadastro de TPROCESSO_EXP. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
  --termino da inclusão dos registros na tabela tpagamento_tributos do banco myindaia              
  PRINT 'Registros atualizados: '+CAST(@registros as varchar)              
END              
--exclui as tabelas temporarias              
DROP TABLE #TMP_PROCESSO              
--verifica se aconteceu algum erro              
    
IF @errors = 0              
BEGIN              
  COMMIT TRAN              
  PRINT 'Cadastro atualizado com sucesso.'              
END              
ELSE              
BEGIN              
  ROLLBACK TRAN              
  PRINT 'Falha ao atualizar o cadastro'              
END              
SET NOCOUNT OFF        
        
      
      
    
GO
