USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [SP_CREATE_FILE_EXP_IMPORTADORES_X_GRUPO] AS

DECLARE @execstr1 VARCHAR(8000)
DECLARE @CD_GRUPO CHAR(3)
DECLARE @SQL VARCHAR(1000)
DECLARE @CD_EMPRESA CHAR(5)
DECLARE @NM_EMPRESA CHAR(150)
DECLARE @file CHAR(50)

SELECT DISTINCT CD_GRUPO 
  INTO #TMP_GRUPOS
  FROM TEMPRESA_EST_GRUPO
 WHERE ISNULL(CD_GRUPO,'') <> ''

WHILE ( SELECT COUNT(*) FROM #TMP_GRUPOS ) > 0 
BEGIN

  SELECT TOP 1 @CD_GRUPO = CD_GRUPO
    FROM #TMP_GRUPOS

  set @file = 'option_exp_importador'+@CD_GRUPO+'.txt'
  EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @file, 1

  SELECT EE.CD_EMPRESA, EE.NM_EMPRESA 
    INTO #TMP_EMPRESAS
    FROM TEMPRESA_EST EE (NOLOCK), TEMPRESA_EST_GRUPO EG (NOLOCK)
   WHERE ISNULL(EG.CD_GRUPO,'') = @CD_GRUPO
     AND EE.CD_EMPRESA = EG.CD_EMPRESA
     AND IN_IMPORTADOR = '1'
	 AND EE.IN_ATIVO = '1'  
   ORDER BY EE.NM_EMPRESA

  WHILE ( SELECT COUNT(*) FROM #TMP_EMPRESAS ) > 0 
  BEGIN

    SELECT TOP 1 @CD_EMPRESA = CD_EMPRESA, @NM_EMPRESA = RTRIM(LTRIM(NM_EMPRESA)) FROM #TMP_EMPRESAS

    SET @execstr1 = '<option value='+@CD_EMPRESA+'>'+rtrim(ltrim(@NM_EMPRESA))+ ' (' + @CD_EMPRESA + ')' +'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @file, 0

    DELETE FROM #TMP_EMPRESAS WHERE CD_EMPRESA = @CD_EMPRESA

  END 
 
  DROP TABLE #TMP_EMPRESAS

  DELETE FROM #TMP_GRUPOS WHERE CD_GRUPO = @CD_GRUPO

END

DROP TABLE #TMP_GRUPOS


GO
