USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_re_prepara_anexo] ( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0102EM-2059-02'


ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @in_exp_quebra_vl_unitario char(1)
DECLARE @in_exp_agrupa_itens char(1)
DECLARE @in_exp_quebra_fabric char(1)
DECLARE @cd_ncm char(11)
DECLARE @cd_naladi char(8)
DECLARE @cd_unid_med char(2)
DECLARE @cd_fabr_expo char(1)
DECLARE @cd_mercadoria char(40)
DECLARE @qt_mercadoria numeric( 18, 5 )
DECLARE @nr_ato_concessorio varchar(13)
DECLARE @vl_peso_liq numeric( 18, 4 )
DECLARE @vl_item numeric( 18, 6 )
DECLARE @vl_unitario numeric( 18, 6 )
DECLARE @in_maior_50 char(1)
DECLARE @nr_item char(3)
DECLARE @vl_peso_bruto numeric( 18, 4 )
DECLARE @vl_mle numeric( 18, 5 )
DECLARE @vl_mcv numeric( 18, 5 )
DECLARE @vl_frete numeric( 18, 5 )
DECLARE @vl_seguro numeric( 18, 5 )
DECLARE @vl_sem_cobertura_cambial numeric( 18, 2 )

DECLARE @vl_prod numeric( 18, 5 )
DECLARE @vl_pl numeric( 18,5 )
DECLARE @vl_exw numeric( 18, 5 )   
DECLARE @vl_pb numeric( 18, 5 )    
DECLARE @total_anexo int

DECLARE @nr_processo_soma char(18)

DECLARE @tamanho int
DECLARE @ptr_proc binary(16)
DECLARE @ptr_prep_re binary(16)

DECLARE @qt_caracter int
DECLARE @nEntrou int
DECLARE @nCaracter int
DECLARE @nvalor_unitario float

DECLARE @nr_processo_fetch char(18)
DECLARE @nr_item_fetch char(3)
DECLARE @qt_caracter_fetch int     

DECLARE @nAnexo int 
DECLARE @nSoma int    
DECLARE @cAnexo char(3)
DECLARE @nr_anexo char(3)
DECLARE @cSoma char(2)
DECLARE @nTotal_RE int
DECLARE @nRE int

DECLARE @cgc_empresa char(14)
DECLARE @cd_fabricante_quebra char(5)
DECLARE @cd_fabricante_ant char(5)

DECLARE @nr_processo_alt char(18)
DECLARE @cd_fabricante char(5)

DECLARE @nSeq1 int
DECLARE @cSeq1 char(3)

SELECT @nr_processo_alt = LTRIM( RTRIM( SUBSTRING( @nr_processo, 1, 2 ) + SUBSTRING( @nr_processo, 5, 14 ) ) ) 

DELETE FROM TPREPARA_RE_CAPA   WHERE NR_PROCESSO LIKE RTRIM( LTRIM( @nr_processo_alt ) ) + '%'
DELETE FROM TPREPARA_RE_ANEXO  WHERE NR_PROCESSO LIKE RTRIM( LTRIM( @nr_processo_alt ) ) + '%'
DELETE FROM TPREPARA_RE_FABRIC WHERE NR_PROCESSO LIKE RTRIM( LTRIM( @nr_processo_alt ) ) + '%'

SELECT @in_exp_quebra_vl_unitario = ISNULL( IN_EXP_QUEBRA_VL_UNITARIO, '1' ),
       @in_exp_agrupa_itens       = ISNULL( IN_EXP_AGRUPA_ITENS, '1' ),
       @in_exp_quebra_fabric      = ISNULL( IN_EXP_QUEBRA_FABRIC, '0' )
FROM   TPARAMETROS

SELECT NR_PROCESSO, NR_ITEM, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA, CD_FABR_EXPO, ISNULL( CD_FABRICANTE, '     ' ) AS CD_FABRICANTE, QT_MERCADORIA, ISNULL( VL_TOT_PESO_LIQ, 0 ) AS VL_PESO_LIQ, 
       ISNULL( VL_UNITARIO, 0 ) AS VL_UNITARIO, ROUND( ISNULL( VL_TOT_ITEM, 0 ) - ISNULL( VL_DESCONTO, 0 ), 6 ) AS VL_ITEM, '0' IN_MAIOR_50, CD_MERCADORIA, TX_MERCADORIA, 0 QT_CARACTER, 
       VL_TOT_PESO_BRUTO AS VL_PESO_BRUTO, VL_MLE, VL_MCV, VL_FRETE, VL_SEGURO, VL_SEM_COBERTURA_CAMBIAL, NR_ATO_CONCESSORIO
INTO   #TMP_PREPARA_RE
FROM   TPROCESSO_EXP_ITEM
WHERE  1 = 0

INSERT #TMP_PREPARA_RE ( NR_PROCESSO, NR_ITEM, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA, CD_FABR_EXPO, CD_FABRICANTE, QT_MERCADORIA, VL_PESO_LIQ, 
                         VL_UNITARIO, VL_ITEM, IN_MAIOR_50, CD_MERCADORIA, TX_MERCADORIA, QT_CARACTER, VL_PESO_BRUTO, 
                         VL_MLE, VL_MCV, VL_FRETE, VL_SEGURO, VL_SEM_COBERTURA_CAMBIAL, NR_ATO_CONCESSORIO )
SELECT SUBSTRING( I.NR_PROCESSO, 1, 2 ) + SUBSTRING( I.NR_PROCESSO, 5, 14 ) AS NR_PROCESSO, I.NR_ITEM,
       ISNULL( I.CD_NCM, '' ), ISNULL( I.CD_NALADI_SH, ''), ISNULL( U.CD_SCX_EXP, '' ) AS CD_UNID_MEDIDA, 
       CASE I.CD_FABR_EXPO
          WHEN '2' THEN '2'
          ELSE '1'
       END AS CD_FABR_EXPO, ISNULL( I.CD_FABRICANTE, '' ), ISNULL( I.QT_MERCADORIA, 0 ), ISNULL( I.VL_TOT_PESO_LIQ, 0 ) AS VL_PESO_LIQ, 
       CASE @in_exp_quebra_vl_unitario
          WHEN '0' THEN 0
          ELSE I.VL_UNITARIO
       END AS VL_UNITARIO, I.VL_TOT_ITEM AS VL_ITEM, '0' IN_MAIOR_50, I.CD_MERCADORIA, M.NM_MERCADORIA, 0 QT_CARACTER, 
       I.VL_TOT_PESO_BRUTO, I.VL_MLE, I.VL_MCV, I.VL_FRETE, I.VL_SEGURO, I.VL_SEM_COBERTURA_CAMBIAL, ISNULL( I.NR_ATO_CONCESSORIO, '' ) AS NR_ATO_CONCESSORIO
FROM   TPROCESSO_EXP_ITEM I, TUNID_MEDIDA_BROKER U, TMERCADORIA_EXP M
WHERE  I.NR_PROCESSO = @nr_processo AND
       I.CD_MERCADORIA = M.CD_MERCADORIA AND
       I.VL_UNITARIO < 50 AND
       I.CD_UNID_MEDIDA = U.CD_UNID_MEDIDA
ORDER BY NR_PROCESSO

INSERT #TMP_PREPARA_RE ( NR_PROCESSO, NR_ITEM, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA, CD_FABR_EXPO, CD_FABRICANTE, QT_MERCADORIA, VL_PESO_LIQ, 
                         VL_UNITARIO, VL_ITEM, IN_MAIOR_50, CD_MERCADORIA, TX_MERCADORIA, QT_CARACTER, VL_PESO_BRUTO, 
                         VL_MLE, VL_MCV, VL_FRETE, VL_SEGURO, VL_SEM_COBERTURA_CAMBIAL, NR_ATO_CONCESSORIO )
SELECT SUBSTRING( I.NR_PROCESSO, 1, 2 ) + SUBSTRING( I.NR_PROCESSO, 5, 14 ) AS NR_PROCESSO, I.NR_ITEM,
       ISNULL( I.CD_NCM, '' ), ISNULL( I.CD_NALADI_SH, '' ), ISNULL( U.CD_SCX_EXP, '' ) AS CD_UNID_MEDIDA, 
       CASE I.CD_FABR_EXPO
          WHEN '2' THEN '2'
          ELSE '1'
       END AS CD_FABR_EXPO, ISNULL( I.CD_FABRICANTE, '' ), ISNULL( I.QT_MERCADORIA, 0 ), ISNULL( I.VL_TOT_PESO_LIQ, 0 ) AS VL_PESO_LIQ, 
       CASE @in_exp_quebra_vl_unitario
          WHEN '0' THEN 0
          ELSE I.VL_UNITARIO
       END AS VL_UNITARIO, I.VL_TOT_ITEM AS VL_ITEM, '1' IN_MAIOR_50, I.CD_MERCADORIA, M.NM_MERCADORIA, 0 QT_CARACTER, 
       I.VL_TOT_PESO_BRUTO, I.VL_MLE, I.VL_MCV, I.VL_FRETE, I.VL_SEGURO, I.VL_SEM_COBERTURA_CAMBIAL, ISNULL( I.NR_ATO_CONCESSORIO, '' ) AS NR_ATO_CONCESSORIO
FROM   TPROCESSO_EXP_ITEM I, TUNID_MEDIDA_BROKER U, TMERCADORIA_EXP M
WHERE  I.NR_PROCESSO = @nr_processo AND
       I.CD_MERCADORIA = M.CD_MERCADORIA AND
       I.VL_UNITARIO >= 50 AND
       I.CD_UNID_MEDIDA = U.CD_UNID_MEDIDA
ORDER BY I.NR_PROCESSO

DECLARE cCursor CURSOR FOR
  SELECT NR_PROCESSO, NR_ITEM, QT_CARACTER
  FROM   #TMP_PREPARA_RE

OPEN cCursor
FETCH cCursor INTO @nr_processo_fetch, @nr_item_fetch, @qt_caracter_fetch
WHILE @@fetch_status = 0
BEGIN
  SELECT @tamanho = 0

  SELECT @tamanho = ISNULL( DATALENGTH( TX_MERCADORIA ), 0 )
  FROM   TPROCESSO_EXP_ITEM 
  WHERE  NR_PROCESSO = @nr_processo AND NR_ITEM = @nr_item_fetch

  IF @tamanho = 0 
    RETURN 1

  IF @tamanho > 666 
     SELECT @tamanho = 666      

  UPDATE #TMP_PREPARA_RE    
  SET    QT_CARACTER = @tamanho
  WHERE CURRENT OF cCursor  

  FETCH cCursor INTO @nr_processo_fetch, @nr_item_fetch, @qt_caracter_fetch
END

CLOSE cCursor
DEALLOCATE cCursor

DECLARE cPrepara_RE CURSOR FOR
  SELECT NR_PROCESSO, NR_ITEM, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA, CD_FABR_EXPO, CD_FABRICANTE, VL_UNITARIO, IN_MAIOR_50, 
         CD_MERCADORIA, QT_MERCADORIA, VL_PESO_LIQ, VL_UNITARIO, VL_ITEM, VL_UNITARIO, QT_CARACTER, 
         VL_PESO_BRUTO, VL_MLE, VL_MCV, VL_FRETE, VL_SEGURO, VL_SEM_COBERTURA_CAMBIAL, NR_ATO_CONCESSORIO
  FROM   #TMP_PREPARA_RE
  ORDER BY CD_FABRICANTE

SELECT @nAnexo = 0
SELECT @nSoma  = 0
SELECT @cSoma  = '00'
SELECT @nr_processo_alt = LTRIM( RTRIM( @nr_processo_alt ) ) + '/01'
SELECT @cd_fabricante_ant = ''

OPEN cPrepara_RE
FETCH cPrepara_RE INTO @nr_processo_fetch, @nr_item, @cd_ncm, @cd_naladi, @cd_unid_med, @cd_fabr_expo, @cd_fabricante_quebra, @vl_unitario, @in_maior_50,
                       @cd_mercadoria, @qt_mercadoria, @vl_peso_liq, @vl_unitario, @vl_item, @vl_unitario, @qt_caracter, 
                       @vl_peso_bruto, @vl_mle, @vl_mcv, @vl_frete, @vl_seguro, @vl_sem_cobertura_cambial, @nr_ato_concessorio

WHILE @@fetch_status = 0
BEGIN
  SELECT @nEntrou = 0

  IF @in_exp_quebra_fabric = '1' AND ( @cd_fabricante_quebra <> @cd_fabricante_ant )
  BEGIN
    SELECT @nSoma = @nSoma + 1
    SELECT @cSoma = CONVERT( char(2), @nSoma )
    SELECT @cSoma = RIGHT( ( '0' + RTRIM( @cSoma ) ), 3 )
    SELECT @nr_processo_soma = LTRIM( RTRIM( @nr_processo_fetch ) ) + '/' + @cSoma 
  END
  ELSE
  BEGIN
    SELECT @nr_processo_soma = @nr_processo_alt 

    IF @in_exp_agrupa_itens <> '0'
    BEGIN
      IF @in_exp_quebra_vl_unitario = '0'
      BEGIN
        IF EXISTS( 
             SELECT NR_PROCESSO
             FROM   TPREPARA_RE_ANEXO
             WHERE  NR_PROCESSO = @nr_processo_alt AND 
      	            CD_NCM = @cd_ncm AND 
                    CD_NALADI_SH = @cd_naladi AND 
	            CD_UNID_MEDIDA = @cd_unid_med AND
                    CD_FABR_EXPO = @cd_fabr_expo AND
                    IN_MAIOR_50 = @in_maior_50 AND 
                    NR_LINHAS <= 666 )
        BEGIN
          SELECT @nCaracter = 0
          SELECT @nCaracter = NR_LINHAS,
                 @nr_anexo  = NR_ANEXO
          FROM   TPREPARA_RE_ANEXO 
          WHERE  NR_PROCESSO = @nr_processo_alt AND 
 	         CD_NCM = @cd_ncm AND 
                 CD_NALADI_SH = @cd_naladi AND 
	         CD_UNID_MEDIDA = @cd_unid_med AND
                 CD_FABR_EXPO = @cd_fabr_expo AND
                 IN_MAIOR_50 = @in_maior_50 AND
                 NR_LINHAS <= 666
          IF @nCaracter + @qt_caracter <= 666
          BEGIN
            UPDATE TPROCESSO_EXP_ITEM
            SET    NR_ANEXO = @nr_anexo
            WHERE  NR_PROCESSO = @nr_processo AND
                   NR_ITEM = @nr_item

            UPDATE TPREPARA_RE_ANEXO
            SET    QT_MERCADORIA = ( QT_MERCADORIA + @qt_mercadoria ),
	           VL_PESO_LIQ   = ( VL_PESO_LIQ + @vl_peso_liq ),
                   VL_PESO_BRUTO = ( VL_PESO_BRUTO + @vl_peso_bruto ),
                   VL_ITEM       = ( VL_ITEM + @vl_item ),
                   VL_MLE        = ( VL_MLE + @vl_mle ),
                   VL_MCV        = ( VL_MCV + @vl_mcv ),
                   VL_FRETE      = ( VL_FRETE + @vl_frete ),
                   VL_SEGURO     = ( VL_SEGURO + @vl_seguro ),
                   VL_SEM_COBERTURA_CAMBIAL = ( VL_SEM_COBERTURA_CAMBIAL + @vl_sem_cobertura_cambial ),
                   NR_LINHAS     = ( NR_LINHAS + @qt_caracter )
            FROM   TPREPARA_RE_ANEXO
            WHERE  NR_PROCESSO = @nr_processo_alt AND 
                   CD_NCM = @cd_ncm AND 
                   CD_NALADI_SH = @cd_naladi AND 
	           CD_UNID_MEDIDA = @cd_unid_med AND
                   CD_FABR_EXPO = @cd_fabr_expo AND
                   IN_MAIOR_50 = @in_maior_50 AND
                   NR_LINHAS <= 666 
         
            SELECT @nEntrou = 1
          END
        END
      END
      ELSE
      BEGIN
        IF EXISTS( 
             SELECT NR_PROCESSO
             FROM   TPREPARA_RE_ANEXO
             WHERE  NR_PROCESSO = @nr_processo_alt AND 
 	            CD_NCM = @cd_ncm AND 
                    CD_NALADI_SH = @cd_naladi AND 
	            CD_UNID_MEDIDA = @cd_unid_med AND
                    CD_FABR_EXPO = @cd_fabr_expo AND
                    IN_MAIOR_50 = @in_maior_50 AND
                    VL_UNITARIO = @vl_unitario AND
                    NR_LINHAS <= 666 )
        BEGIN
          SELECT @nCaracter = 0
          SELECT @nCaracter = NR_LINHAS,
                 @nr_anexo  = NR_ANEXO
          FROM   TPREPARA_RE_ANEXO
          WHERE  NR_PROCESSO = @nr_processo_alt AND 
 	         CD_NCM = @cd_ncm AND 
                 CD_NALADI_SH = @cd_naladi AND 
	         CD_UNID_MEDIDA = @cd_unid_med AND
                 CD_FABR_EXPO = @cd_fabr_expo AND
                 IN_MAIOR_50 = @in_maior_50 AND
                 VL_UNITARIO = @vl_unitario AND
                 NR_LINHAS <= 666
          IF @nCaracter + @qt_caracter <= 666
          BEGIN
            UPDATE TPROCESSO_EXP_ITEM
            SET    NR_ANEXO = @nr_anexo
            WHERE  NR_PROCESSO = @nr_processo AND
                   NR_ITEM = @nr_item

            UPDATE TPREPARA_RE_ANEXO
            SET    QT_MERCADORIA = ( QT_MERCADORIA + @qt_mercadoria ),
                   VL_PESO_LIQ   = ( VL_PESO_LIQ + @vl_peso_liq ),
                   VL_PESO_BRUTO = ( VL_PESO_BRUTO + @vl_peso_bruto ),
                   VL_ITEM       = ( VL_ITEM + @vl_item ),
                   VL_MLE        = ( VL_MLE + @vl_mle ),
                   VL_MCV        = ( VL_MCV + @vl_mcv ),
                   VL_FRETE      = ( VL_FRETE + @vl_frete ),
                   VL_SEGURO     = ( VL_SEGURO + @vl_seguro ),
                   VL_SEM_COBERTURA_CAMBIAL = ( VL_SEM_COBERTURA_CAMBIAL + @vl_sem_cobertura_cambial ),
                   NR_LINHAS     = ( NR_LINHAS + @qt_caracter )
            FROM   TPREPARA_RE_ANEXO
            WHERE  NR_PROCESSO = @nr_processo_alt AND 
                   CD_NCM = @cd_ncm AND                    CD_NALADI_SH = @cd_naladi AND 
	           CD_UNID_MEDIDA = @cd_unid_med AND
                   CD_FABR_EXPO = @cd_fabr_expo AND
                   IN_MAIOR_50 = @in_maior_50 AND
                   VL_UNITARIO = @vl_unitario AND
                   NR_LINHAS <= 666
    
            SELECT @nEntrou = 1
          END
        END
      END
    END
  END

  IF @nEntrou = 0
  BEGIN
    SELECT @nvalor_unitario = @vl_unitario

    IF @in_exp_agrupa_itens <> '0'
       IF @in_exp_quebra_vl_unitario = '0' 
          SELECT @nvalor_unitario = 0

    SELECT @nAnexo = @nAnexo + 1
    SELECT @cAnexo = RIGHT( ( '000' + RTRIM( CONVERT( char(3), @nAnexo ) ) ), 3 )

    IF @in_exp_quebra_fabric = '1' AND ( @cd_fabricante_quebra <> @cd_fabricante_ant )
    BEGIN
      SELECT @cAnexo = '001'
      SELECT @nAnexo = 1
    END

    INSERT INTO TPREPARA_RE_ANEXO
      ( NR_PROCESSO, NR_ANEXO, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA, CD_FABR_EXPO, IN_MAIOR_50,
        CD_MERCADORIA, QT_MERCADORIA, VL_PESO_LIQ, VL_UNITARIO, VL_ITEM, NR_LINHAS, VL_PESO_BRUTO, VL_MLE, VL_MCV,
        VL_FRETE, VL_SEGURO, VL_SEM_COBERTURA_CAMBIAL )
    VALUES
      ( @nr_processo_soma, @cAnexo, @cd_ncm, @cd_naladi, @cd_unid_med, @cd_fabr_Expo, @in_maior_50, 
        @cd_mercadoria, @qt_mercadoria, @vl_peso_liq, @nvalor_unitario, @vl_item, @qt_caracter, @vl_peso_bruto, 
        @vl_mle, @vl_mcv, @vl_frete, @vl_seguro, @vl_sem_cobertura_cambial )

    UPDATE TPROCESSO_EXP_ITEM
    SET    NR_ANEXO = @cAnexo
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_ITEM = @nr_item

    UPDATE TPREPARA_RE_ANEXO
    SET    TX_MERCADORIA = B.TX_MERCADORIA
    FROM   TPREPARA_RE_ANEXO A, #TMP_PREPARA_RE B
    WHERE  A.NR_PROCESSO = @nr_processo_soma AND 
           A.NR_ANEXO = @cAnexo AND
           A.CD_NCM = @cd_ncm AND 
           A.CD_NALADI_SH = @cd_naladi AND 
           A.CD_UNID_MEDIDA = @cd_unid_med AND
           A.CD_FABR_EXPO = @cd_fabr_expo AND
           A.IN_MAIOR_50 = @in_maior_50 AND
           B.NR_PROCESSO = @nr_processo_fetch AND
           B.NR_ITEM = @nr_item
  END      
  ELSE
  BEGIN
    SELECT @tamanho = ISNULL( DATALENGTH( TX_MERCADORIA ), 0 )
    FROM   TPREPARA_RE_ANEXO
    WHERE  NR_PROCESSO = @nr_processo_soma AND 
           CD_NCM = @cd_ncm AND 
           CD_NALADI_SH = @cd_naladi AND 
	   CD_UNID_MEDIDA = @cd_unid_med AND
           CD_FABR_EXPO = @cd_fabr_expo AND
           IN_MAIOR_50 = @in_maior_50 AND 
           NR_LINHAS <= 666

     SELECT @ptr_proc = ISNULL( TEXTPTR(TX_MERCADORIA), 0 )
     FROM   TPREPARA_RE_ANEXO
     WHERE  NR_PROCESSO = @nr_processo_soma AND 
            CD_NCM = @cd_ncm AND 
            CD_NALADI_SH = @cd_naladi AND 
	    CD_UNID_MEDIDA = @cd_unid_med AND
            CD_FABR_EXPO = @cd_fabr_expo AND
            IN_MAIOR_50 = @in_maior_50 AND 
            NR_LINHAS <= 666

     SELECT @ptr_prep_re = ISNULL( TEXTPTR(TX_MERCADORIA), 0 )
     FROM   #TMP_PREPARA_RE ( NOLOCK )
     WHERE  NR_PROCESSO = SUBSTRING( @nr_processo_soma, 1, 12 ) AND 
            NR_ITEM = @nr_item            

     UPDATETEXT TPREPARA_RE_ANEXO.TX_MERCADORIA @ptr_proc @tamanho NULL #TMP_PREPARA_RE.TX_MERCADORIA @ptr_prep_re
  END

  IF @cd_fabr_expo = '2'
  BEGIN
    SELECT @cgc_empresa = B.CGC_EMPRESA, @cd_fabricante = A.CD_FABRICANTE
    FROM   TPROCESSO_EXP_ITEM A, TEMPRESA_NAC B
    WHERE  A.NR_PROCESSO = @nr_processo AND A.NR_ITEM = @nr_Item AND B.CD_EMPRESA = A.CD_FABRICANTE 
    SELECT @nSeq1 = 0
    IF LTRIM( RTRIM( @cgc_empresa ) ) <> '' 
    BEGIN
      IF NOT EXISTS( SELECT NR_PROCESSO, NR_ANEXO
     	             FROM   TPREPARA_RE_FABRIC 
                     WHERE  NR_PROCESSO = @nr_processo_soma AND NR_ANEXO = @cAnexo AND CGC_EMPRESA = @cgc_empresa)
      BEGIN 
        IF EXISTS( SELECT NR_PROCESSO, NR_ANEXO
                   FROM   TPREPARA_RE_FABRIC 
                   WHERE NR_PROCESSO = @nr_processo_soma AND NR_ANEXO = @cAnexo)
        BEGIN 
          SELECT @nSeq1 = COUNT(*)
          FROM   TPREPARA_RE_FABRIC 
          WHERE  NR_PROCESSO = @nr_processo_soma AND NR_ANEXO = @cAnexo
        END
      
        SELECT @nSeq1 = @nSeq1 + 1
        SELECT @cSeq1 = CONVERT( char(3), @nSeq1 )
        SELECT @cSeq1 = RIGHT( ( '000' + RTRIM( @nSeq1 ) ), 3 )
      
        INSERT INTO TPREPARA_RE_FABRIC
          ( NR_PROCESSO, NR_ANEXO, CD_NCM, CGC_EMPRESA, QT_MERCADORIA, VL_ITEM, NR_SEQ, CD_FABRICANTE, NR_ATO_CONCESSORIO )
        VALUES
          ( @nr_processo_soma, @cAnexo, @cd_ncm, @cgc_empresa, @qt_mercadoria, @vl_item, @cSeq1, @cd_fabricante, @nr_ato_concessorio )
      END
      ELSE
      BEGIN
        UPDATE TPREPARA_RE_FABRIC
        SET    QT_MERCADORIA = (QT_MERCADORIA + @qt_mercadoria),
               VL_ITEM = (VL_ITEM + @vl_item)
        FROM   TPREPARA_RE_FABRIC
        WHERE  NR_PROCESSO = @nr_processo_soma AND NR_ANEXO = @cAnexo AND CGC_EMPRESA = @cgc_empresa
      END
    END
  END

  SELECT @cd_fabricante_ant = @cd_fabricante_quebra

  FETCH cPrepara_RE INTO @nr_processo_fetch, @nr_item, @cd_ncm, @cd_naladi, @cd_unid_med, @cd_fabr_expo, @cd_fabricante_quebra, @vl_unitario, @in_maior_50,
                         @cd_mercadoria, @qt_mercadoria, @vl_peso_liq, @vl_unitario, @vl_item, @vl_unitario, @qt_caracter, 
                         @vl_peso_bruto, @vl_mle, @vl_mcv, @vl_frete, @vl_seguro, @vl_sem_cobertura_cambial, @nr_ato_concessorio
END

CLOSE cPrepara_RE
DEALLOCATE cPrepara_RE

DECLARE cRE CURSOR FOR
  SELECT DISTINCT(NR_PROCESSO)
  FROM   TPREPARA_RE_ANEXO 
  WHERE  SUBSTRING( NR_PROCESSO, 1, 2 ) + 
         SUBSTRING( @nr_processo, 3, 2 ) + 
         SUBSTRING( NR_PROCESSO, 3, 10 ) = @nr_processo

OPEN cRE
FETCH cRE INTO @nr_processo_fetch
WHILE @@fetch_status = 0
BEGIN
  INSERT INTO TPREPARA_RE_CAPA 
     ( NR_PROCESSO, CD_EXPORTADOR, CD_TERMO_PAGTO, CD_URF_DESPACHO, CD_URF_DESTINO, CD_IMPORTADOR, CD_INST_NEGOC, CD_INCOTERM, CD_MOEDA,
       VL_COMISSAO_PERCENT, VL_SEM_COBERTURA_CAMBIAL, CD_FABRICANTE, IN_FABR_EXPO )
    SELECT @nr_processo_fetch, CD_EXPORTADOR, CD_TERMO_PAGTO, CD_URF_DESPACHO, CD_URF_DESTINO, CD_IMPORTADOR, CD_INST_NEGOC, CD_INCOTERM, CD_MOEDA,
           VL_COMISSAO_PERCENT, VL_SEM_COBERTURA_CAMBIAL, CD_FABRICANTE, IN_FABR_EXPO
    FROM   TPROCESSO_EXP
    WHERE  NR_PROCESSO = @nr_processo

  SELECT @vl_prod   = SUM( QT_MERCADORIA ),
         @vl_pl     = SUM( VL_PESO_LIQ ),
         @vl_exw    = SUM( VL_ITEM ),
         @vl_pb     = SUM( VL_PESO_BRUTO ),
         @vl_mle    = SUM( VL_MLE ),
         @vl_mcv    = SUM( VL_MCV ),
         @vl_frete  = SUM( VL_FRETE ),
         @vl_seguro = SUM( VL_SEGURO ),
         @vl_sem_cobertura_cambial = SUM( VL_SEM_COBERTURA_CAMBIAL ),
         @total_anexo = COUNT( NR_PROCESSO )
  FROM   TPREPARA_RE_ANEXO
  WHERE  NR_PROCESSO = @nr_processo_fetch

  IF @in_exp_quebra_fabric = '1'
  BEGIN
    SELECT @cd_fabricante = MAX( CD_FABRICANTE )
    FROM   TPREPARA_RE_FABRIC
    WHERE  NR_PROCESSO = @nr_processo_fetch
  END
  ELSE
  BEGIN
    SELECT @cd_fabricante = CD_EXPORTADOR
    FROM   TPREPARA_RE_CAPA
    WHERE  NR_PROCESSO = @nr_processo_fetch
  END

  UPDATE TPREPARA_RE_CAPA
  SET    CD_EXPORTADOR = @cd_fabricante,
         VL_TOT_QTDE_PROD = @vl_prod,
         VL_PESO_LIQUIDO  = CONVERT( numeric( 14, 5 ), @vl_pl ),
         VL_TOT_EXW       = CONVERT( numeric( 14, 5 ), ROUND( @vl_exw, 5 ) ),
         VL_PESO_BRUTO    = CONVERT( numeric( 14, 5 ), @vl_pb ),
         VL_TOT_FOB       = CONVERT( numeric( 14, 5 ), ROUND( @vl_MLE, 5 ) ),
         VL_TOT_MCV       = CONVERT( numeric( 14, 5 ), ROUND( @vl_MCV, 5 ) ),
         VL_FRETE         = CONVERT( numeric( 14, 5 ), @vl_frete ),
         VL_SEGURO        = CONVERT( numeric( 14, 5 ), @vl_seguro ),
         VL_SEM_COBERTURA_CAMBIAL = CONVERT( numeric( 14, 5 ), @vl_sem_cobertura_cambial ),
         QT_TOTAL_ITENS = @total_anexo
  FROM   TPREPARA_RE_CAPA
  WHERE  NR_PROCESSO = @nr_processo_fetch

  SELECT @nRE = @nRE + 1

  FETCH cRE INTO @nr_processo_fetch
END

CLOSE cRE
DEALLOCATE cRE

DROP TABLE #TMP_PREPARA_RE

RETURN 0



GO
