USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* CONSISTE RATEIO */  
--/*  
CREATE PROCEDURE [sp_fat_consiste_rateio] (  
  @cd_unid_neg      char(2),  
  @cd_produto       char(2),  
  @nr_solicitacao   char(6),   
  @nr_identificador int OUTPUT  
) AS  
--*/  
/*  
SET XACT_ABORT ON  
BEGIN TRAN  
  
DECLARE  
  @cd_unid_neg    char(2),  
  @cd_produto     char(2),  
  @nr_solicitacao char(6),  
  @nr_identificador int  
  
SET @cd_unid_neg    = '01'  
SET @cd_produto     = '02'  
SET @nr_solicitacao = '113994'  
--*/  
  
DECLARE  
  @cont_area        int,  
  @resp_rat         char(1),  
  @resp_dif         char(1),  
  @cd_item_calc     char(3),  
  @cd_area          char(2),  
  @nr_processo_area char(18),  
  @nr_processo_calc char(18),  
  @cd_referencia    varchar(30),  
  @nr_proc_po_nr_item_po varchar(30),  
  @nr_remessa       char(21),
  @TP_PEDIDO_PADRAO CHAR(2)  
  
/* Importação */  
IF ( @cd_produto = '01' )   
BEGIN  
  SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1  
  FROM TCALCULO_RATEIO_DESP TABLOCK HOLDLOCK  
  
  -- cria tabela com referencia digitada na DI e na Manutenção  
  SELECT DISTINCT FP.NR_PROCESSO, RC.CD_AREA,  
    ( RTRIM( DM.NR_PROC_PO ) + CASE   
                                 WHEN ISNULL( DM.NR_ITEM_PO, '' ) = '' THEN ''  
                                 ELSE '/' + ISNULL( DM.NR_ITEM_PO, '' )   
                               END ) AS NR_PROC_PO_NR_ITEM_PO,  
    LTRIM(RTRIM(RC.CD_REFERENCIA)) + '/' + LTRIM(RTRIM(RC.NR_ITEM_PO)) AS CD_REFERENCIA  
  INTO #TMP_AREA_IMP  
  FROM TS_FATURA FA (NOLOCK)  
    INNER JOIN TS_FATURA_PROCESSO  FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)  
    INNER JOIN TREF_CLIENTE        RC (NOLOCK) ON (RC.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TDETALHE_MERCADORIA DM (NOLOCK) ON (DM.NR_PROCESSO = FP.NR_PROCESSO AND (RTRIM( DM.NR_PROC_PO ) + CASE   
                                                                                                                   WHEN ISNULL( DM.NR_ITEM_PO, '' ) = '' THEN ''  
                                                                                                                   ELSE '/' + ISNULL( DM.NR_ITEM_PO, '' )   
                                                                                                                 END ) = LTRIM(RTRIM(RC.CD_REFERENCIA)) + '/' + LTRIM(RTRIM(RC.NR_ITEM_PO)) )  
    INNER JOIN TPROCESSO           PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TEMPRESA_NAC        EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)  
    INNER JOIN TGRUPO              GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)  
  WHERE FA.CD_UNID_NEG    = @cd_unid_neg  
    AND FA.CD_PRODUTO     = @cd_produto  
    AND FA.NR_SOLICITACAO = @nr_solicitacao  
    AND RC.TP_REFERENCIA  = '01'  
    AND ISNULL(GE.IN_RATEIO, '0') = '1'  
  
  --Cria tabela com a referencia da Manutenção  
  SELECT RC.NR_PROCESSO, RC.CD_AREA, LTRIM(RTRIM(RC.CD_REFERENCIA)) + '/' + LTRIM(RTRIM(RC.NR_ITEM_PO)) AS CD_REFERENCIA  
  INTO #TMP_PROCESSO_IMP  
  FROM TS_FATURA FA (NOLOCK)  
    INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)  
    INNER JOIN TREF_CLIENTE       RC (NOLOCK) ON (RC.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TPROCESSO          PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TEMPRESA_NAC       EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)  
    INNER JOIN TGRUPO             GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)  
  WHERE FA.CD_UNID_NEG    = @cd_unid_neg  
    AND FA.CD_PRODUTO     = @cd_produto  
    AND FA.NR_SOLICITACAO = @nr_solicitacao  
    AND RC.TP_REFERENCIA  = '01'  
    AND ISNULL(GE.IN_RATEIO, '0') = '1'  
  
  --Cria tabela com os itens faturados no processo  
  SELECT FC.NR_PROCESSO, FC.CD_ITEM  
  INTO #TMP_ITEM_IMP  
  FROM TS_FATURA FA (NOLOCK)  
    INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)  
    INNER JOIN TFATURAMENTO_CC    FC (NOLOCK) ON (FC.CD_UNID_NEG = FP.CD_UNID_NEG AND FC.CD_PRODUTO = FP.CD_PRODUTO AND FC.NR_SOLIC_FAT = FP.NR_SOLICITACAO AND FC.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TPROCESSO          PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TEMPRESA_NAC       EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)  
    INNER JOIN TGRUPO             GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)  
  WHERE FA.CD_UNID_NEG    = @cd_unid_neg  
    AND FA.CD_PRODUTO     = @cd_produto  
    AND FA.NR_SOLICITACAO = @nr_solicitacao  
    AND ISNULL(FC.IN_CANCELADO, '0') = '0'  
    AND CONVERT(int, FC.CD_ITEM) < 900  
    AND ISNULL(GE.IN_RATEIO, '0') = '1'  
  
  --inicia a consistencia do rateio  
  SET @cont_area = 0  
  
  DECLARE cItem CURSOR FOR  
    SELECT NR_PROCESSO, CD_ITEM  
    FROM #TMP_ITEM_IMP  
    GROUP BY NR_PROCESSO, CD_ITEM  
  
  OPEN cItem  
  FETCH cItem INTO @nr_processo_calc, @cd_item_calc  
  
  WHILE @@fetch_status = 0   
  BEGIN  
    --verifica se existe area para o item a ser rateado  
    DECLARE cItemArea CURSOR FOR  
      SELECT NR_PROCESSO, CD_AREA, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA  
      FROM #TMP_AREA_IMP  
      WHERE NR_PROCESSO = @nr_processo_calc  
        AND ISNULL( CD_AREA, '' ) <> ''  
        AND ISNULL( NR_PROC_PO_NR_ITEM_PO, '' ) <> ''  
        AND ISNULL( CD_REFERENCIA, '' ) <> ''  
      GROUP BY NR_PROCESSO, CD_AREA, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA  
  
    OPEN cItemArea  
    FETCH cItemArea INTO @nr_processo_area, @cd_area, @nr_proc_po_nr_item_po, @cd_referencia  
  
    WHILE @@fetch_status = 0  
    BEGIN  
      IF ( SELECT COUNT(*) FROM TREF_CLIENTE (NOLOCK)  
           WHERE NR_PROCESSO = @nr_processo_area  
             AND TP_REFERENCIA  = '01'  
             AND ISNULL( CD_AREA, '' ) <> '') > 0  
      BEGIN  
        IF NOT EXISTS( SELECT NR_PROCESSO, CD_ITEM, CD_AREA  
                       FROM TCALCULO_RATEIO_DESP (NOLOCK)  
                       WHERE NR_IDENTIFICADOR = @nr_identificador  
                         AND NR_PROCESSO      = @nr_processo_area  
                         AND CD_ITEM          = @cd_item_calc  
                         AND CD_AREA          = @cd_area  
                         AND NR_PROC_PO_NR_ITEM_PO    = @nr_proc_po_nr_item_po  
                         AND CD_REFERENCIA    = @cd_referencia )  
        BEGIN  
          IF NOT EXISTS( SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP  
                         FROM TITEM_AREA (NOLOCK)  
                         WHERE CD_ITEM = @cd_item_calc  
                           AND CD_AREA = @cd_area  
                           AND ISNULL( CD_AREA, '' ) <> ''  
                         GROUP BY CD_ITEM, CD_AREA, TP_RATEIO_DESP )  
          BEGIN  
            INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
            VALUES( @nr_identificador, @nr_processo_area, @cd_item_calc , @cd_area, 'WARNING: Não existe área para este item.', @nr_proc_po_nr_item_po, @cd_referencia )   
          
            SET @cont_area = @cont_area + 1  
          END  
        END  
      END  
  
      FETCH cItemArea INTO @nr_processo_area, @cd_area, @nr_proc_po_nr_item_po, @cd_referencia  
    END  
  
    CLOSE cItemArea  
    DEALLOCATE cItemArea  
  
    --verifica se existe um tipo de rateio para o item  
    SELECT @resp_rat = CASE  
                         WHEN EXISTS( SELECT TP_RATEIO_DESP  
                                      FROM TITEM_AREA (NOLOCK)  
                                      WHERE CD_ITEM = @cd_item_calc  
                                        AND CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA_IMP WHERE ISNULL(CD_AREA, '') <> '' )  
                                      GROUP BY TP_RATEIO_DESP  
                                      HAVING TP_RATEIO_DESP IS NULL ) THEN '1'  
                       END   
  
    IF @resp_rat = '1'  
    BEGIN     
      SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP  
      INTO #TMP_TP_RATEIO_DESP_IMP  
      FROM TITEM_AREA (NOLOCK)  
      WHERE CD_ITEM = @cd_item_calc  
        AND CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA_IMP  
                         WHERE ( ISNULL( CD_AREA, '' ) <> '' )  
                           AND ( ISNULL( NR_PROC_PO_NR_ITEM_PO, '' ) <> '' )  
                           AND ( ISNULL( CD_REFERENCIA, '' ) <> '' ) )  
        AND TP_RATEIO_DESP IS NULL  
  
      INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, TP_RATEIO_DESP, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
      SELECT @nr_identificador, TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, 'WARNING: Forma de Rateio nao especificada.', TMPA.NR_PROC_PO_NR_ITEM_PO, TMPA.CD_REFERENCIA  
      FROM #TMP_TP_RATEIO_DESP_IMP TMPR  
        INNER JOIN #TMP_ITEM_IMP TMPI ON (TMPI.CD_ITEM = TMPR.CD_ITEM)  
        INNER JOIN #TMP_AREA_IMP TMPA ON (TMPA.NR_PROCESSO = TMPI.NR_PROCESSO)  
      WHERE ISNULL( TMPA.CD_AREA, '' ) <> ''  
        AND ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) <> ''  
        AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
        AND NOT EXISTS( SELECT NR_PROCESSO, CD_ITEM, CD_AREA  
                       FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                       WHERE CR.NR_IDENTIFICADOR = @nr_identificador  
                         AND CR.NR_PROCESSO      = TMPI.NR_PROCESSO  
                         AND CR.CD_ITEM          = TMPR.CD_ITEM  
                         AND CR.CD_AREA          = TMPR.CD_AREA  
                         AND CR.NR_PROC_PO_NR_ITEM_PO    = TMPA.NR_PROC_PO_NR_ITEM_PO  
                         AND CR.CD_REFERENCIA    = TMPA.CD_REFERENCIA )  
      GROUP BY TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, TMPA.NR_PROC_PO_NR_ITEM_PO, TMPA.CD_REFERENCIA  
   
      DROP TABLE #TMP_TP_RATEIO_DESP_IMP  
    END  
  
    SELECT @resp_dif = CASE  
                         WHEN EXISTS ( SELECT COUNT( DISTINCT( TP_RATEIO_DESP ) )  
                                       FROM TITEM_AREA (NOLOCK)  
                                      WHERE CD_ITEM = @cd_item_calc  
                                      AND CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA_IMP WHERE ISNULL( CD_AREA, '' ) <> '' )  
                                       HAVING COUNT( DISTINCT( TP_RATEIO_DESP ) ) > 1 ) THEN '1'  
                       END  
  
    IF @resp_dif = '1'  
    BEGIN  
      SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP  
      INTO #TMP_TP_RATEIO_DESP_DISTINCT_IMP  
      FROM TITEM_AREA (NOLOCK)  
      WHERE CD_ITEM = @cd_item_calc  
       AND CD_AREA IN ( SELECT CD_AREA FROM   #TMP_AREA_IMP  
                         WHERE ISNULL( CD_AREA, '' ) <> ''  
                           AND ISNULL( NR_PROC_PO_NR_ITEM_PO, '' ) <> ''  
                           AND ISNULL( CD_REFERENCIA, '' ) <> '' )  
      -- alterado o nome da tabela colocando a palavra distinct (kleber Guedes 12/06/2007)  
      INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, TP_RATEIO_DESP, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )   
      SELECT @nr_identificador, TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, 'WARNING: Formas de Rateio distintas em Item.', TMPA.NR_PROC_PO_NR_ITEM_PO, TMPA.CD_REFERENCIA  
      FROM #TMP_TP_RATEIO_DESP_DISTINCT_IMP TMPR  
        INNER JOIN #TMP_ITEM_IMP TMPI ON (TMPI.CD_ITEM = TMPR.CD_ITEM)  
        INNER JOIN #TMP_AREA_IMP TMPA ON (TMPA.NR_PROCESSO = TMPI.NR_PROCESSO)  
      WHERE ISNULL( TMPA.CD_AREA, '' ) <> ''         AND ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) <> ''  
        AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
        AND NOT EXISTS( SELECT NR_PROCESSO, CD_ITEM, CD_AREA  
                        FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                        WHERE CR.NR_IDENTIFICADOR = @nr_identificador  
                          AND CR.NR_PROCESSO      = TMPI.NR_PROCESSO  
                          AND CR.CD_ITEM          = TMPR.CD_ITEM  
                          AND CR.CD_AREA          = TMPR.CD_AREA  
                          AND CR.NR_PROC_PO_NR_ITEM_PO    = TMPA.NR_PROC_PO_NR_ITEM_PO  
                          AND CR.CD_REFERENCIA    = TMPA.CD_REFERENCIA )  
      GROUP BY TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, TMPA.NR_PROC_PO_NR_ITEM_PO, TMPA.CD_REFERENCIA  
  
      DROP TABLE #TMP_TP_RATEIO_DESP_DISTINCT_IMP   
    END  
  
    FETCH cItem INTO @nr_processo_calc, @cd_item_calc  
  END  
  
  CLOSE cItem  
  DEALLOCATE cItem  
  
  -- select * from #TMP_AREA_IMP  
  -- VERIFICA SE COD. REFERENCIA É IGUAL AO Nº DE PO OU NAO EXISTE NA DI  
  IF ( SELECT COUNT(*) FROM #TMP_AREA_IMP WHERE ISNULL( NR_PROC_PO_NR_ITEM_PO, '' ) = '' )  > 0  
  BEGIN  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente não existente na DI.', 'X', TMPA.CD_REFERENCIA  
    FROM #TMP_AREA_IMP TMPA  
      INNER JOIN #TMP_ITEM_IMP TMPI ON (TMPI.NR_PROCESSO = TMPA.NR_PROCESSO)  
    WHERE ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) = ''  
      AND NOT EXISTS( SELECT NR_PROCESSO, CD_ITEM, CD_AREA  
                      FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                      WHERE CR.NR_IDENTIFICADOR = @nr_identificador  
                        AND CR.NR_PROCESSO      = TMPA.NR_PROCESSO  
                        AND CR.CD_ITEM          = TMPI.CD_ITEM  
                        AND CR.CD_AREA          = TMPA.CD_AREA  
                        AND CR.NR_PROC_PO_NR_ITEM_PO    = 'X'  
                        AND CR.CD_REFERENCIA    = TMPA.CD_REFERENCIA )  
    GROUP BY TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, TMPA.CD_REFERENCIA  
    
    SET @cont_area = @cont_area + 1  
  END  
  
  SELECT R.NR_PROCESSO, LTRIM(RTRIM(R.CD_REFERENCIA)) + '/' + LTRIM(RTRIM(R.NR_ITEM_PO)) AS CD_REFERENCIA  
  INTO #TMP_CD_REF_IMP  
  FROM TREF_CLIENTE R (NOLOCK)  
    INNER JOIN #TMP_AREA_IMP TMPA ON (TMPA.NR_PROCESSO = R.NR_PROCESSO)  
  WHERE LTRIM(RTRIM(R.CD_REFERENCIA)) + '/' + LTRIM(RTRIM(R.NR_ITEM_PO)) NOT IN ( SELECT NR_PROC_PO_NR_ITEM_PO FROM #TMP_AREA_IMP )   
    AND R.TP_REFERENCIA  = '01'  
    AND ISNULL( TMPA.CD_AREA, '' ) <> ''  
    AND ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) <> ''  
    AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
  GROUP BY R.NR_PROCESSO, LTRIM(RTRIM(R.CD_REFERENCIA)) + '/' + LTRIM(RTRIM(R.NR_ITEM_PO))  
  
  IF ( SELECT COUNT(*)  
       FROM   #TMP_CD_REF_IMP ) > 0  
  BEGIN  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPC.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente não existente na DI.', 'X', TMPC.CD_REFERENCIA  
    FROM #TMP_AREA_IMP TMPA  
      INNER JOIN #TMP_ITEM_IMP   TMPI ON (TMPI.NR_PROCESSO = TMPA.NR_PROCESSO)  
      INNER JOIN #TMP_CD_REF_IMP TMPC ON (TMPC.NR_PROCESSO = TMPA.NR_PROCESSO)  
    WHERE NOT EXISTS ( SELECT *   
                       FROM TCALCULO_RATEIO_DESP RC (NOLOCK)  
                       WHERE RC.NR_IDENTIFICADOR      = @nr_identificador  
                         AND RC.NR_PROCESSO           = TMPC.NR_PROCESSO  
                         AND RC.CD_ITEM               = TMPI.CD_ITEM  
                         AND RC.CD_AREA               = TMPA.CD_AREA  
                         AND RC.NR_PROC_PO_NR_ITEM_PO = 'X'  
                         AND RC.CD_REFERENCIA         = TMPC.CD_REFERENCIA )  
    GROUP BY TMPC.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, TMPC.CD_REFERENCIA  
    
    SET @cont_area = @cont_area + 1  
  END  
  
  DROP TABLE #TMP_CD_REF_IMP  
  
--  select * from #TMP_AREA_IMP  
--  SELECT COUNT(*) FROM #TMP_AREA_IMP WHERE ISNULL( CD_REFERENCIA, '' ) = ''  
  
  --VERIFICA SE HÁ COD. REFERENCIA É IGUAL AO Nº DE PO OU NAO EXISTE NA PO  
  IF ( SELECT COUNT(*) FROM #TMP_AREA_IMP WHERE ISNULL( CD_REFERENCIA, '' ) = '' ) > 0  
  BEGIN  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
 SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Nº de PO não existente na Ref. Cliente', TMPA.NR_PROC_PO_NR_ITEM_PO, 'X'  
    FROM #TMP_AREA_IMP TMPA  
      INNER JOIN #TMP_ITEM_IMP TMPI ON (TMPI.NR_PROCESSO = TMPA.NR_PROCESSO)  
    WHERE NOT EXISTS ( SELECT *   
                       FROM TCALCULO_RATEIO_DESP RC (NOLOCK)  
                       WHERE RC.NR_IDENTIFICADOR      = @nr_identificador  
                         AND RC.NR_PROCESSO           = TMPA.NR_PROCESSO  
                         AND RC.CD_ITEM               = TMPI.CD_ITEM  
                         AND RC.CD_AREA               = TMPA.CD_AREA  
                         AND RC.NR_PROC_PO_NR_ITEM_PO = TMPA.NR_PROC_PO_NR_ITEM_PO  
                         AND RC.CD_REFERENCIA         = 'X' )  
    GROUP BY TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, TMPA.NR_PROC_PO_NR_ITEM_PO  
  
    SET @cont_area = @cont_area + 1  
  END   
/*  
  SELECT TMPA.NR_PROCESSO, TMPA.NR_PROC_PO_NR_ITEM_PO  
  FROM #TMP_AREA_IMP TMPA  
    INNER JOIN TREF_CLIENTE RC (NOLOCK) ON (RC.NR_PROCESSO = TMPA.NR_PROCESSO)  
  WHERE TMPA.NR_PROC_PO_NR_ITEM_PO NOT IN ( SELECT LTRIM(RTRIM(CD_REFERENCIA)) + '/' + LTRIM(RTRIM(NR_ITEM_PO))  
                                             FROM TREF_CLIENTE (NOLOCK)   
                                             WHERE NR_PROCESSO = TMPA.NR_PROCESSO )  
    AND ISNULL( TMPA.CD_AREA, '' ) <> ''  
    AND ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) <> ''  
    AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
  GROUP BY TMPA.NR_PROCESSO, TMPA.NR_PROC_PO_NR_ITEM_PO  
*/  
  
  SELECT TMPA.NR_PROCESSO, TMPA.NR_PROC_PO_NR_ITEM_PO  
  INTO #TMP_PROC_PO_ITEM  
  FROM #TMP_AREA_IMP TMPA  
    INNER JOIN TREF_CLIENTE RC (NOLOCK) ON (RC.NR_PROCESSO = TMPA.NR_PROCESSO)  
  WHERE  TMPA.NR_PROC_PO_NR_ITEM_PO NOT IN ( SELECT LTRIM(RTRIM(CD_REFERENCIA)) + '/' + LTRIM(RTRIM(NR_ITEM_PO))  
                                             FROM TREF_CLIENTE (NOLOCK)   
                                             WHERE NR_PROCESSO = TMPA.NR_PROCESSO )  
    AND RC.TP_REFERENCIA  = '01'  
    AND ISNULL( TMPA.CD_AREA, '' ) <> ''  
    AND ISNULL( TMPA.NR_PROC_PO_NR_ITEM_PO, '' ) <> ''  
    AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
  GROUP BY TMPA.NR_PROCESSO, TMPA.NR_PROC_PO_NR_ITEM_PO  
  
  IF ( SELECT COUNT(*) FROM #TMP_PROC_PO_ITEM ) > 0  
  BEGIN  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPO.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Nº de PO não existente na Ref. Cliente', TMPO.NR_PROC_PO_NR_ITEM_PO, 'X'  
    FROM   #TMP_AREA_IMP TMPA  
      INNER JOIN #TMP_ITEM_IMP     TMPI ON (TMPI.NR_PROCESSO = TMPA.NR_PROCESSO)  
      INNER JOIN #TMP_PROC_PO_ITEM TMPO ON (TMPO.NR_PROCESSO = TMPA.NR_PROCESSO)  
    WHERE NOT EXISTS ( SELECT *   
                       FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                       WHERE CR.NR_IDENTIFICADOR      = @nr_identificador  
                         AND CR.NR_PROCESSO           = TMPO.NR_PROCESSO  
                         AND CR.CD_ITEM               = TMPI.CD_ITEM  
                         AND CR.CD_AREA               = TMPA.CD_AREA  
                         AND CR.NR_PROC_PO_NR_ITEM_PO = TMPO.NR_PROC_PO_NR_ITEM_PO  
                         AND CR.CD_REFERENCIA         = 'X' )  
    GROUP BY TMPO.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, TMPO.NR_PROC_PO_NR_ITEM_PO  
    
    SET @cont_area = @cont_area + 1  
  END  
  
  DROP TABLE #TMP_PROC_PO_ITEM  
  
  -- VERIFICA SE POSSUI PROCESSOS SEM ITEM NA DI  
  IF  EXISTS( SELECT NR_PROCESSO   
              FROM #TMP_PROCESSO_IMP  
              WHERE NR_PROCESSO NOT IN ( SELECT NR_PROCESSO FROM TDETALHE_MERCADORIA (NOLOCK) GROUP BY NR_PROCESSO )  
                AND SUBSTRING(NR_PROCESSO, 5, 2) NOT IN ('TE', 'IW', 'IZ')  
              GROUP BY NR_PROCESSO )  
  BEGIN  
    INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPA.NR_PROCESSO, 'X', 'X', 'Processo não possui Item na DI.', 'X', TMPA.CD_REFERENCIA   
    FROM #TMP_PROCESSO_IMP TMPA  
    WHERE TMPA.NR_PROCESSO NOT IN ( SELECT NR_PROCESSO FROM TDETALHE_MERCADORIA (NOLOCK) GROUP BY NR_PROCESSO )  
      AND SUBSTRING( TMPA.NR_PROCESSO, 5, 2 ) NOT IN ('TE', 'IW', 'IZ')  
      AND ISNULL( TMPA.CD_AREA, '' ) <> ''  
      AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
      AND NOT EXISTS ( SELECT *   
                       FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                       WHERE CR.NR_IDENTIFICADOR = @nr_identificador  
                         AND CR.NR_PROCESSO      = TMPA.NR_PROCESSO  
                         AND CR.CD_ITEM          = 'X'  
                         AND CR.CD_AREA          = 'X'  
                         AND CR.CD_REFERENCIA    = TMPA.CD_REFERENCIA )  
                         and 1 = 0
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_REFERENCIA   
   
    SET @cont_area = @cont_area + 1  
  END  
  
  IF EXISTS( SELECT NR_PROCESSO, CD_AREA FROM #TMP_AREA_IMP WHERE  ISNULL( CD_AREA, '' ) = '' GROUP BY NR_PROCESSO, CD_AREA )  
  BEGIN  
    SELECT DISTINCT FC.NR_PROCESSO, FC.CD_ITEM, LTRIM(RTRIM(RC.CD_REFERENCIA)) + '/' + LTRIM(RTRIM(RC.NR_ITEM_PO)) AS CD_REFERENCIA  
    INTO #TMP_AREA_REF_CLI_IMP  
    FROM TS_FATURA FA (NOLOCK)  
      INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)  
      INNER JOIN TFATURAMENTO_CC    FC (NOLOCK) ON (FC.CD_UNID_NEG = FP.CD_UNID_NEG AND FC.CD_PRODUTO = FP.CD_PRODUTO AND FC.NR_SOLIC_FAT = FP.NR_SOLICITACAO AND FC.NR_PROCESSO = FP.NR_PROCESSO)  
      INNER JOIN TREF_CLIENTE       RC (NOLOCK) ON (RC.NR_PROCESSO = FP.NR_PROCESSO)  
      INNER JOIN TPROCESSO          PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)  
      INNER JOIN TEMPRESA_NAC       EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)  
      INNER JOIN TGRUPO             GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)  
    WHERE FA.CD_UNID_NEG    = @cd_unid_neg  
      AND FA.CD_PRODUTO     = @cd_produto  
      AND FA.NR_SOLICITACAO = @nr_solicitacao  
      AND RC.TP_REFERENCIA  = '01'  
      AND CONVERT(int, FC.CD_ITEM) < 900  
      AND ISNULL( RC.CD_AREA, '' ) = ''  
    GROUP BY FC.NR_PROCESSO, FC.CD_ITEM, RC.CD_AREA, LTRIM(RTRIM(RC.CD_REFERENCIA)) + '/' + LTRIM(RTRIM(RC.NR_ITEM_PO))  
  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPA.CD_ITEM, 'X', 'Área não informada na Ref. Cliente', 'X', TMPA.CD_REFERENCIA  
    FROM   #TMP_AREA_REF_CLI_IMP TMPA  
    WHERE  NOT EXISTS ( SELECT *   
                        FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                        WHERE CR.NR_IDENTIFICADOR      = @nr_identificador  
                          AND CR.NR_PROCESSO           = TMPA.NR_PROCESSO  
                          AND CR.CD_ITEM               = TMPA.CD_ITEM  
                          AND CR.CD_AREA               = 'X'  
                          AND CR.NR_PROC_PO_NR_ITEM_PO = 'X'  
                          AND CR.CD_REFERENCIA         = TMPA.CD_REFERENCIA )  
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_ITEM, TMPA.CD_REFERENCIA  
  
    SET @cont_area = @cont_area + 1  
  
    DROP TABLE #TMP_AREA_REF_CLI_IMP  
  END  
  
  --apaga as tabelas temporárias  
  DROP TABLE #TMP_AREA_IMP  
  DROP TABLE #TMP_PROCESSO_IMP  
  DROP TABLE #TMP_ITEM_IMP  
  
  IF @cont_area >= 1  
  BEGIN  
    IF (SELECT COUNT(*)  
        FROM TCALCULO_RATEIO_DESP (NOLOCK)  
        WHERE NR_IDENTIFICADOR = @nr_identificador  
          AND LEFT(OBS, 7) <> 'WARNING') > 0  
    BEGIN  
      --PRINT @nr_identificador  
      RETURN(6)  
    END  
  END  
  
  
  EXEC sp_fat_rateio_imp @cd_unid_neg, @cd_produto, @nr_solicitacao  
END  
  
/* Exportação */  
  
  
/* Consiste Rateio de Exportação */  
IF (@cd_produto = '02')/* OR (@cd_produto = '10')*/   
BEGIN  
  SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1  
  FROM TCALCULO_RATEIO_DESP TABLOCK HOLDLOCK  

  SELECT DISTINCT @TP_PEDIDO_PADRAO = ISNULL(GE.TP_PEDIDO_BUSCA,'01')
  FROM TS_FATURA FA (NOLOCK)  
    INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)  
    INNER JOIN TPROCESSO          PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TGRUPO             GE (NOLOCK) ON (GE.CD_GRUPO    = PR.CD_GRUPO)  
  WHERE FA.CD_UNID_NEG    = @cd_unid_neg  
    AND FA.CD_PRODUTO     = @cd_produto  
    AND FA.NR_SOLICITACAO = @nr_solicitacao  
  
  SELECT DISTINCT FP.NR_PROCESSO, RC.CD_AREA, EI.NR_PEDIDO_IMP AS NR_REMESSA, RC.CD_REFERENCIA  
  INTO #TMP_AREA_EXP  
  FROM TS_FATURA FA (NOLOCK)  
    INNER JOIN TS_FATURA_PROCESSO  FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)  
    INNER JOIN TREF_CLIENTE        RC (NOLOCK) ON (RC.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TPROCESSO_EXP_ITEM  EI (NOLOCK) ON (EI.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TPROCESSO           PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TEMPRESA_NAC        EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)  
    INNER JOIN TGRUPO              GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)  
  WHERE FA.CD_UNID_NEG    = @cd_unid_neg  
    AND FA.CD_PRODUTO     = @cd_produto  
    AND FA.NR_SOLICITACAO = @nr_solicitacao  
    --AND ( RC.TP_REFERENCIA = @TP_PEDIDO_PADRAO OR ISNULL( RC.TP_REFERENCIA, '' ) = '' )  
    AND 1 = 0
    AND ISNULL(GE.IN_RATEIO, '0') = '1'
  
  SELECT DISTINCT RC.NR_PROCESSO, RC.CD_AREA, RC.CD_REFERENCIA, RC.TP_REFERENCIA  
  INTO #TMP_PROCESSO_EXP  
  FROM TS_FATURA FA (NOLOCK)  
    INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)  
    INNER JOIN TREF_CLIENTE       RC (NOLOCK) ON (RC.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TPROCESSO          PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TEMPRESA_NAC       EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)  
    INNER JOIN TGRUPO             GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)  
  WHERE FA.CD_UNID_NEG    = @cd_unid_neg  
    AND FA.CD_PRODUTO     = @cd_produto  
    AND FA.NR_SOLICITACAO = @nr_solicitacao  
    --AND ( RC.TP_REFERENCIA = @TP_PEDIDO_PADRAO OR ISNULL( RC.TP_REFERENCIA, '' ) = '' )  
    AND 1 = 0
    AND ISNULL(GE.IN_RATEIO, '0') = '1'  
  
  SELECT DISTINCT FC.NR_PROCESSO, FC.CD_ITEM  
  INTO #TMP_ITEM_EXP  
  FROM TS_FATURA FA (NOLOCK)  
    INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)  
    INNER JOIN TFATURAMENTO_CC    FC (NOLOCK) ON (FC.CD_UNID_NEG = FP.CD_UNID_NEG AND FC.CD_PRODUTO = FP.CD_PRODUTO AND FC.NR_SOLIC_FAT = FP.NR_SOLICITACAO AND FC.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TPROCESSO          PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)  
    INNER JOIN TEMPRESA_NAC       EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)  
    INNER JOIN TGRUPO             GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)  
  WHERE FA.CD_UNID_NEG    = @cd_unid_neg  
    AND FA.CD_PRODUTO     = @cd_produto  
    AND FA.NR_SOLICITACAO = @nr_solicitacao  
    AND ISNULL(FC.IN_CANCELADO, '0') = '0'  
    AND CONVERT(int, FC.CD_ITEM) < 900  
    AND ISNULL(GE.IN_RATEIO, '0') = '1'  
    AND 1 = 0    
  
  --inicia a consistencia do rateio  
  SET @cont_area = 0  
  
  DECLARE cItem CURSOR FOR  
    SELECT NR_PROCESSO, CD_ITEM  
    FROM #TMP_ITEM_EXP  
    GROUP BY NR_PROCESSO, CD_ITEM  
  
  OPEN cItem  
  FETCH cItem INTO @nr_processo_calc, @cd_item_calc  
  
  WHILE @@fetch_status = 0   
  BEGIN  
    --verifica se existe area para o item a ser rateado  
    DECLARE cItemArea CURSOR FOR  
      SELECT NR_PROCESSO, CD_AREA, NR_REMESSA, CD_REFERENCIA  
      FROM #TMP_AREA_EXP  
      WHERE NR_PROCESSO = @nr_processo_calc  
        AND ISNULL( CD_AREA, '' ) <> ''  
        AND ISNULL( NR_REMESSA, '' ) <> ''  
        AND ISNULL( CD_REFERENCIA, '' ) <> ''  
      GROUP BY NR_PROCESSO, CD_AREA, NR_REMESSA, CD_REFERENCIA  
  
    OPEN cItemArea  
    FETCH cItemArea INTO @nr_processo_area, @cd_area, @nr_remessa, @cd_referencia  
  
    WHILE @@fetch_status = 0  
    BEGIN  
      IF ( SELECT COUNT(*) FROM TREF_CLIENTE (NOLOCK)  
           WHERE  NR_PROCESSO = @nr_processo_area  
             AND  TP_REFERENCIA  = @TP_PEDIDO_PADRAO  
             AND  ISNULL( CD_AREA, '' ) <> '') > 0  
      BEGIN  
        IF NOT EXISTS( SELECT NR_PROCESSO, CD_ITEM, CD_AREA  
                    FROM TCALCULO_RATEIO_DESP (NOLOCK)  
                       WHERE NR_IDENTIFICADOR      = @nr_identificador  
                         AND NR_PROCESSO           = @nr_processo_area  
                         AND CD_ITEM               = @cd_item_calc  
                         AND CD_AREA               = @cd_area  
                         AND NR_PROC_PO_NR_ITEM_PO = @nr_remessa  
                         AND CD_REFERENCIA         = @cd_referencia )  
        BEGIN  
          IF NOT EXISTS( SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP  
                         FROM TITEM_AREA (NOLOCK)  
                         WHERE CD_ITEM = @cd_item_calc  
                           AND CD_AREA = @cd_area  
                           AND ISNULL( CD_AREA, '' ) <> ''  
                         GROUP BY CD_ITEM, CD_AREA, TP_RATEIO_DESP )  
          BEGIN  
            INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
            VALUES( @nr_identificador, @nr_processo_area, @cd_item_calc , @cd_area, 'WARNING: Não existe área para este item.', @nr_remessa, @cd_referencia )   
          
            SET @cont_area = @cont_area + 1  
          END  
        END  
      END  
      FETCH cItemArea INTO @nr_processo_area, @cd_area, @nr_remessa, @cd_referencia  
    END  
  
    CLOSE cItemArea  
    DEALLOCATE cItemArea  
  
    SELECT @resp_rat = CASE  
                         WHEN EXISTS ( SELECT TP_RATEIO_DESP  
                                       FROM   TITEM_AREA (NOLOCK)  
                                       WHERE  CD_ITEM = @cd_item_calc  
                                         AND  CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA_EXP WHERE  ISNULL( CD_AREA, '' ) <> '' )  
                                       GROUP BY TP_RATEIO_DESP  
                                       HAVING TP_RATEIO_DESP IS NULL ) THEN '1'  
                       END   
    
    IF @resp_rat = '1'  
    BEGIN     
      SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP  
      INTO #TMP_TP_RATEIO_DESP_EXP  
      FROM TITEM_AREA (NOLOCK)  
      WHERE CD_ITEM = @cd_item_calc  
        AND CD_AREA IN ( SELECT CD_AREA FROM   #TMP_AREA_EXP  
                         WHERE ISNULL( CD_AREA, '' ) <> '' AND ISNULL( NR_REMESSA, '' ) <> '' AND ISNULL( CD_REFERENCIA, '' ) <> '' )  
        AND TP_RATEIO_DESP IS NULL  
        
      INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, TP_RATEIO_DESP, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
      SELECT @nr_identificador, TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, 'WARNING: Forma de Rateio nao especificada.', TMPA.NR_REMESSA, TMPA.CD_REFERENCIA  
      FROM #TMP_TP_RATEIO_DESP_EXP TMPR  
        INNER JOIN #TMP_ITEM_EXP TMPI ON (TMPI.CD_ITEM = TMPR.CD_ITEM)  
        INNER JOIN #TMP_AREA_EXP TMPA ON (TMPA.NR_PROCESSO = TMPI.NR_PROCESSO)  
      WHERE ISNULL( TMPA.CD_AREA, '' ) <> ''  
        AND ISNULL( TMPA.NR_REMESSA, '' ) <> ''  
        AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
        AND NOT EXISTS ( SELECT *   
                         FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                         WHERE CR.NR_IDENTIFICADOR      = @nr_identificador  
                           AND CR.NR_PROCESSO           = TMPI.NR_PROCESSO  
                           AND CR.CD_ITEM               = TMPR.CD_ITEM  
                           AND CR.CD_AREA               = TMPR.CD_AREA  
                           AND CR.NR_PROC_PO_NR_ITEM_PO = TMPA.NR_REMESSA  
                           AND CR.CD_REFERENCIA         = TMPA.CD_REFERENCIA )  
      GROUP BY TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, TMPA.NR_REMESSA, TMPA.CD_REFERENCIA  
        
      DROP TABLE #TMP_TP_RATEIO_DESP_EXP  
    END  
  
    SELECT @resp_dif = CASE  
                         WHEN EXISTS ( SELECT COUNT( DISTINCT( TP_RATEIO_DESP ) )  
                                       FROM TITEM_AREA (NOLOCK)  
                                       WHERE CD_ITEM = @cd_item_calc  
                                         AND CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA_EXP WHERE ISNULL( CD_AREA, '' ) <> '' )  
                                       HAVING COUNT( DISTINCT( TP_RATEIO_DESP ) ) > 1 ) THEN '1'  
                       END  
  
    IF @resp_dif = '1'  
    BEGIN  
      SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP  
      INTO #TMP_TP_RATEIO_DESP_DISTINCT_EXP  
      FROM TITEM_AREA (NOLOCK)  
      WHERE CD_ITEM = @cd_item_calc  
       AND CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA_EXP  
                         WHERE ISNULL( CD_AREA, '' ) <> '' AND ISNULL( NR_REMESSA, '' ) <> '' AND ISNULL( CD_REFERENCIA, '' ) <> '' )  
  
      INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, TP_RATEIO_DESP, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
      SELECT @nr_identificador, TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, 'Formas de Rateio distintas em Item.', TMPA.NR_REMESSA, TMPA.CD_REFERENCIA  
      FROM #TMP_TP_RATEIO_DESP_DISTINCT_EXP TMPR  
        INNER JOIN #TMP_ITEM_EXP TMPI ON (TMPI.CD_ITEM = TMPR.CD_ITEM)  
        INNER JOIN #TMP_AREA_EXP TMPA ON (TMPA.NR_PROCESSO = TMPI.NR_PROCESSO)  
      WHERE ISNULL( TMPA.CD_AREA, '' ) <> ''  
        AND ISNULL( TMPA.NR_REMESSA, '' ) <> ''  
        AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
        AND NOT EXISTS ( SELECT *   
                         FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                         WHERE CR.NR_IDENTIFICADOR      = @nr_identificador  
                           AND CR.NR_PROCESSO           = TMPI.NR_PROCESSO  
                           AND CR.CD_ITEM               = TMPR.CD_ITEM  
                           AND CR.CD_AREA               = TMPR.CD_AREA  
                           AND CR.NR_PROC_PO_NR_ITEM_PO = TMPA.NR_REMESSA  
                           AND CR.CD_REFERENCIA         = TMPA.CD_REFERENCIA )  
      GROUP BY TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, TMPA.NR_REMESSA, TMPA.CD_REFERENCIA  
   
      DROP TABLE #TMP_TP_RATEIO_DESP_DISTINCT_EXP  
    END  
  
    FETCH cItem INTO @nr_processo_calc, @cd_item_calc  
  END  
  
  CLOSE cItem  
  DEALLOCATE cItem  
  
  --VERIFICA SE HÁ COD. REFERENCIA É IGUAL AO Nº DE REMESSA OU NAO EXISTE NO PROCESSO DE EXPORTAÇÃO  
  IF ( SELECT COUNT(*) FROM #TMP_AREA_EXP WHERE ISNULL( NR_REMESSA, '' ) = '' ) > 0   
  BEGIN  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Remessa não cadastrada na Ref. Cliente', 'X', TMPA.CD_REFERENCIA  
    FROM  #TMP_AREA_EXP TMPA  
      INNER JOIN #TMP_ITEM_EXP TMPI ON (TMPI.NR_PROCESSO = TMPA.NR_PROCESSO)  
    WHERE ISNULL( TMPA.NR_REMESSA, '' ) = ''  
      AND NOT EXISTS ( SELECT *   
                       FROM TCALCULO_RATEIO_DESP R (NOLOCK)  
                       WHERE R.NR_IDENTIFICADOR      = @nr_identificador  
                         AND R.NR_PROCESSO           = TMPA.NR_PROCESSO  
                         AND R.CD_ITEM               = TMPI.CD_ITEM  
                         AND R.CD_AREA               = TMPA.CD_AREA  
                         AND R.NR_PROC_PO_NR_ITEM_PO = 'X'  
                         AND R.CD_REFERENCIA         = TMPA.CD_REFERENCIA )  
    GROUP BY TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, TMPA.CD_REFERENCIA  
    
    SET @cont_area = @cont_area + 1  
  END  
  
  SELECT RC.NR_PROCESSO, RC.CD_REFERENCIA  
  INTO #TMP_CD_REF_EXP  
  FROM TREF_CLIENTE RC (NOLOCK)  
    INNER JOIN #TMP_AREA_EXP TMPA ON (TMPA.NR_PROCESSO = RC.NR_PROCESSO)  
  WHERE RC.CD_REFERENCIA NOT IN ( SELECT NR_REMESSA FROM #TMP_AREA_EXP )  
    AND ISNULL( TMPA.CD_AREA, '' ) <> ''  
    AND ISNULL( TMPA.NR_REMESSA, '' ) <> ''  
    AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
    AND RC.TP_REFERENCIA = @TP_PEDIDO_PADRAO   
  GROUP BY RC.NR_PROCESSO, RC.CD_REFERENCIA  
  
  IF ( SELECT COUNT(*) FROM #TMP_CD_REF_EXP ) > 0  
  BEGIN  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPC.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente não existente na Remessa.', 'X', TMPC.CD_REFERENCIA  
    FROM   #TMP_AREA_EXP TMPA  
      INNER JOIN #TMP_ITEM_EXP   TMPI ON (TMPI.NR_PROCESSO = TMPA.NR_PROCESSO)  
      INNER JOIN #TMP_CD_REF_EXP TMPC ON (TMPC.NR_PROCESSO = TMPA.NR_PROCESSO)  
    WHERE NOT EXISTS ( SELECT *   
                       FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                       WHERE CR.NR_IDENTIFICADOR      = @nr_identificador  
                         AND CR.NR_PROCESSO           = TMPC.NR_PROCESSO  
                         AND CR.CD_ITEM               = TMPI.CD_ITEM  
                         AND CR.CD_AREA               = TMPA.CD_AREA  
                         AND CR.NR_PROC_PO_NR_ITEM_PO = 'X'  
                         AND CR.CD_REFERENCIA         = TMPC.CD_REFERENCIA )  
    GROUP BY TMPC.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, TMPC.CD_REFERENCIA  
    
    SET @cont_area = @cont_area + 1  
  END  
  
  --VERIFICA SE TIPO DE REFERENCIA ESTA EM BRANCO  
  IF ( SELECT COUNT(*) FROM #TMP_PROCESSO_EXP WHERE ISNULL( TP_REFERENCIA, '' ) = '' ) > 0  
  BEGIN  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente com Tipo de Referência em branco.',   
           ( CASE   
               WHEN ISNULL(TMPA.NR_REMESSA,'')='' THEN 'X'  
               ELSE TMPA.NR_REMESSA  
            END ) AS NR_REMESSA, TMPP.CD_REFERENCIA  
    FROM #TMP_AREA_EXP TMPA  
      INNER JOIN #TMP_ITEM_EXP     TMPI ON (TMPA.NR_PROCESSO = TMPI.NR_PROCESSO)  
      INNER JOIN #TMP_PROCESSO_EXP TMPP ON (TMPP.NR_PROCESSO = TMPI.NR_PROCESSO)  
    WHERE ISNULL( TP_REFERENCIA, '' ) = ''  
      AND NOT EXISTS ( SELECT *   
                       FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                       WHERE CR.NR_IDENTIFICADOR      = @nr_identificador  
                         AND CR.NR_PROCESSO           = TMPA.NR_PROCESSO  
                         AND CR.CD_ITEM               = TMPI.CD_ITEM  
                         AND CR.CD_AREA               = TMPA.CD_AREA  
                         AND CR.NR_PROC_PO_NR_ITEM_PO = ( CASE   
                                                            WHEN ISNULL( TMPA.NR_REMESSA, '' ) = '' THEN 'X'  
                                                            ELSE TMPA.NR_REMESSA  
                                                          END )  
                         AND CR.CD_REFERENCIA         = TMPP.CD_REFERENCIA )  
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, ( CASE   
                                                               WHEN ISNULL( TMPA.NR_REMESSA, '' ) = '' THEN 'X'  
                                                               ELSE TMPA.NR_REMESSA  
                                                      END ), TMPP.CD_REFERENCIA  
  
    SET @cont_area = @cont_area + 1  
  END  
  
  --VERIFICA SE HÁ COD. REFERENCIA É IGUAL AO Nº DE REMESSA OU NAO EXISTE NO PROCESSO DE EXPORTAÇÃO  
  IF ( SELECT COUNT(*)  
       FROM   #TMP_AREA_EXP  
       WHERE  ( ISNULL( CD_REFERENCIA, '' ) = '' ) ) > 0  
  BEGIN  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente não cadastrada na Remessa', TMPA.NR_REMESSA, 'X'  
    FROM   #TMP_AREA_EXP TMPA, #TMP_ITEM_EXP TMPI  
    WHERE  TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND  
           ( ISNULL( TMPA.CD_REFERENCIA, '' ) = '' ) and  
           NOT EXISTS ( SELECT *   
                        FROM   TCALCULO_RATEIO_DESP R (NOLOCK)  
                        WHERE  R.NR_IDENTIFICADOR      = @nr_identificador AND  
                               R.NR_PROCESSO           = TMPA.NR_PROCESSO  AND  
                    R.CD_ITEM               = TMPI.CD_ITEM      AND  
                               R.CD_AREA               = TMPA.CD_AREA      AND  
                               R.NR_PROC_PO_NR_ITEM_PO = TMPA.NR_REMESSA   AND  
                               R.CD_REFERENCIA         = 'X' )  
    GROUP BY TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, TMPA.NR_REMESSA  
  
    SELECT @cont_area = @cont_area + 1  
  END   
  
  SELECT TMPA.NR_PROCESSO, TMPA.NR_REMESSA  
  INTO #TMP_PROC_PE_ITEM  
  FROM TREF_CLIENTE RC (NOLOCK)  
    INNER JOIN #TMP_AREA_EXP TMPA ON (TMPA.NR_PROCESSO = RC.NR_PROCESSO)  
  WHERE TMPA.NR_REMESSA NOT IN ( SELECT CD_REFERENCIA FROM TREF_CLIENTE (NOLOCK) WHERE NR_PROCESSO = TMPA.NR_PROCESSO )  
    AND ISNULL( TMPA.CD_AREA, '' ) <> ''  
    AND ISNULL( TMPA.NR_REMESSA, '' ) <> ''  
    AND RC.TP_REFERENCIA = @TP_PEDIDO_PADRAO  
    AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
  GROUP BY TMPA.NR_PROCESSO, TMPA.NR_REMESSA  
  
  IF ( SELECT COUNT(*) FROM #TMP_PROC_PE_ITEM ) > 0  
  BEGIN  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPO.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Remessa não existente na Ref. Cliente', TMPO.NR_REMESSA, 'X'  
    FROM #TMP_AREA_EXP TMPA  
      INNER JOIN #TMP_ITEM_EXP     TMPI ON (TMPI.NR_PROCESSO = TMPA.NR_PROCESSO)  
      INNER JOIN #TMP_PROC_PE_ITEM TMPO ON (TMPO.NR_PROCESSO = TMPA.NR_PROCESSO)  
    WHERE NOT EXISTS ( SELECT *   
                       FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                       WHERE CR.NR_IDENTIFICADOR      = @nr_identificador  
                         AND CR.NR_PROCESSO           = TMPO.NR_PROCESSO  
                         AND CR.CD_ITEM               = TMPI.CD_ITEM  
                         AND CR.CD_AREA               = TMPA.CD_AREA  
                         AND CR.NR_PROC_PO_NR_ITEM_PO = TMPO.NR_REMESSA  
                         AND CR.CD_REFERENCIA         = 'X' )  
    GROUP BY TMPO.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, TMPO.NR_REMESSA  
    
    SET @cont_area = @cont_area + 1  
  END  
  
  -- VERIFICA SE POSSUI PROCESSOS SEM ITEM NO PROCESSO DE EXPORTAÇÃO  
  IF  EXISTS( SELECT NR_PROCESSO FROM #TMP_PROCESSO_EXP  
              WHERE NR_PROCESSO NOT IN ( SELECT NR_PROCESSO FROM TPROCESSO_EXP_ITEM (NOLOCK) GROUP BY NR_PROCESSO )  
                AND SUBSTRING( NR_PROCESSO, 5, 2 ) NOT IN ('TE', 'IW', 'IZ')  
              GROUP BY NR_PROCESSO )  
  BEGIN  
/*    INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPA.NR_PROCESSO, 'X', 'X', 'Processo não possui Item.', 'X', TMPA.CD_REFERENCIA   
    FROM #TMP_PROCESSO_EXP TMPA  
    WHERE TMPA.NR_PROCESSO NOT IN ( SELECT NR_PROCESSO FROM   TPROCESSO_EXP_ITEM (NOLOCK) GROUP BY NR_PROCESSO )  
      AND SUBSTRING( TMPA.NR_PROCESSO, 5, 2 ) NOT IN ('TE', 'IW', 'IZ')  
      AND ISNULL( TMPA.CD_AREA, '' ) <> ''  
      AND ISNULL( TMPA.CD_REFERENCIA, '' ) <> ''  
      AND NOT EXISTS ( SELECT *   
                        FROM TCALCULO_RATEIO_DESP CR (NOLOCK)  
                        WHERE CR.NR_IDENTIFICADOR = @nr_identificador  
                          AND CR.NR_PROCESSO      = TMPA.NR_PROCESSO  
                          AND CR.CD_ITEM          = 'X'  
                          AND CR.CD_AREA          = 'X'  
                          AND CR.CD_REFERENCIA    = TMPA.CD_REFERENCIA )  
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_REFERENCIA  
  */ 
    SET @cont_area = @cont_area + 1  
  END  
  
  IF EXISTS( SELECT NR_PROCESSO, CD_AREA FROM #TMP_AREA_EXP WHERE ISNULL( CD_AREA, '' ) = '' GROUP BY NR_PROCESSO, CD_AREA )  
  BEGIN  
    SELECT DISTINCT FC.NR_PROCESSO, FC.CD_ITEM, RC.CD_REFERENCIA  
    INTO #TMP_AREA_REF_CLI_EXP  
    FROM TS_FATURA FA (NOLOCK)  
      INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON (FP.CD_UNID_NEG = FA.CD_UNID_NEG AND FP.CD_PRODUTO = FA.CD_PRODUTO AND FP.NR_SOLICITACAO = FA.NR_SOLICITACAO)  
      INNER JOIN TFATURAMENTO_CC    FC (NOLOCK) ON (FC.CD_UNID_NEG = FP.CD_UNID_NEG AND FC.CD_PRODUTO = FP.CD_PRODUTO AND FC.NR_SOLIC_FAT = FP.NR_SOLICITACAO AND FC.NR_PROCESSO = FP.NR_PROCESSO)  
      INNER JOIN TREF_CLIENTE       RC (NOLOCK) ON (RC.NR_PROCESSO = FP.NR_PROCESSO)  
      INNER JOIN TPROCESSO          PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)  
      INNER JOIN TEMPRESA_NAC       EN (NOLOCK) ON (EN.CD_EMPRESA  = PR.CD_CLIENTE)  
      INNER JOIN TGRUPO             GE (NOLOCK) ON (GE.CD_GRUPO    = EN.CD_GRUPO)  
    WHERE FA.CD_UNID_NEG    = @cd_unid_neg  
      AND FA.CD_PRODUTO     = @cd_produto  
      AND FA.NR_SOLICITACAO = @nr_solicitacao  
      AND RC.TP_REFERENCIA  = @TP_PEDIDO_PADRAO  
      AND CONVERT(int, FC.CD_ITEM) < 900  
      AND ISNULL( RC.CD_AREA, '' ) = ''  
    GROUP BY FC.NR_PROCESSO, FC.CD_ITEM, RC.CD_AREA, RC.CD_REFERENCIA  
  
    INSERT INTO TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA )  
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPA.CD_ITEM, 'X', 'Área não informada na Ref. Cliente', 'X', TMPA.CD_REFERENCIA  
    FROM #TMP_AREA_REF_CLI_EXP TMPA  
    WHERE NOT EXISTS ( SELECT *   
                       FROM TCALCULO_RATEIO_DESP R (NOLOCK)  
                       WHERE R.NR_IDENTIFICADOR      = @nr_identificador  
                         AND R.NR_PROCESSO           = TMPA.NR_PROCESSO  
                         AND R.CD_ITEM               = TMPA.CD_ITEM  
                         AND R.CD_AREA               = 'X'  
                         AND R.NR_PROC_PO_NR_ITEM_PO = 'X'  
                         AND R.CD_REFERENCIA         = TMPA.CD_REFERENCIA )  
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_ITEM, TMPA.CD_REFERENCIA  
  
    SET @cont_area = @cont_area + 1  
  
    DROP TABLE #TMP_AREA_REF_CLI_EXP  
  END  
  
  DROP TABLE #TMP_ITEM_EXP  
  DROP TABLE #TMP_PROCESSO_EXP  
  DROP TABLE #TMP_AREA_EXP  
  
  DROP TABLE #TMP_CD_REF_EXP  
  DROP TABLE #TMP_PROC_PE_ITEM  
  
  IF @cont_area >= 1  
  BEGIN  
    IF (SELECT COUNT(*)  
        FROM TCALCULO_RATEIO_DESP (NOLOCK)  
        WHERE NR_IDENTIFICADOR = @nr_identificador  
          AND LEFT(OBS, 7) <> 'WARNING') > 0  
    BEGIN  
      --PRINT @nr_identificador  
      RETURN(6)  
    END  
  END  
  
  EXEC sp_fat_rateio_exp @cd_unid_neg, @cd_produto, @nr_solicitacao  
END  
/*  
SELECT * FROM TFAT_CALCULO_RATEIO_DESP ( NOLOCK ) WHERE NR_SOLICITACAO   = @nr_solicitacao  
SELECT * FROM TCALCULO_RATEIO_DESP     ( NOLOCK ) WHERE NR_IDENTIFICADOR = @nr_identificador  
  
ROLLBACK TRAN  
SET XACT_ABORT OFF  
--*/  
GO
