USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_ddimport_flp] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5),
                 @dt_inicio datetime, @dt_fim datetime, @cd_produto char(2), @nr_processo_flp char(18),
                 @tot_ddimport tinyint OUTPUT, @nr_identificador int OUTPUT AS

/* Alimenta tabela TDDIMPORT_FLP que é a origem para integração DDIMPORT - BROKER arquivo saída follow-up
*/

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int
DECLARE @tot_ddimport tinyint
DECLARE @cd_produto char(2)
DECLARE @nr_processo_flp char(18)

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/04/2003', 103 )
SELECT @dt_fim = CONVERT( datetime, '05/04/2003', 103 )
SELECT @cd_produto = '01'
SELECT @nr_processo_flp = 'I0-1010-03'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo        char(18)
DECLARE @cd_ref             char(15)
DECLARE @nr_nf_ent_c        char(10)
DECLARE @nr_nf_ent          varchar(20)
DECLARE @vl_nf_ent          float
DECLARE @vl_fatura          float
DECLARE @dt_ent             datetime
DECLARE @dt_receb_doc       datetime
DECLARE @dt_reg_di          datetime
DECLARE @dt_desemb          datetime
DECLARE @dt_nf_entrada      datetime
DECLARE @dt_entrega_merc    datetime
DECLARE @dt_espera_navio    datetime
DECLARE @dt_prev_entr_merc  datetime
DECLARE @dt_pres_carga      datetime
DECLARE @dt_nota            datetime
DECLARE @dt_receb_doc_fat   datetime
DECLARE @dt_desova          datetime
DECLARE @dt_chegada_arm     datetime
DECLARE @dt_remocao         datetime
DECLARE @dt_pres_carga_eadi datetime
DECLARE @dt_param_dta       datetime
DECLARE @qt_cntr_20         tinyint
DECLARE @qt_cntr_40         tinyint
DECLARE @qt_cntr_tank       tinyint
DECLARE @in_desova          char(1)
DECLARE @carga_solta        char(1)
DECLARE @via_transp         char(2)
DECLARE @qt_carga           integer
DECLARE @cd_tp_dta          char(1)
DECLARE @dt_reg_dta         datetime

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TDDIMPORT_FLP

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

IF @nr_processo_flp <> 'X'
  SELECT @nr_processo_flp = @cd_unid_neg + @cd_produto + @nr_processo_flp


DECLARE c_proc CURSOR FOR
  SELECT P.NR_PROCESSO, R.CD_REFERENCIA, P.CD_TP_DTA
  FROM   TPROCESSO P, TEMPRESA_NAC E, TFOLLOWUP F, VW_SERVICO_GERAL S, TREF_CLIENTE R
  WHERE  P.CD_CLIENTE = E.CD_EMPRESA 
    AND  P.IN_CANCELADO = '0' 
    AND  P.CD_PRODUTO IN ( '01', '03' )
    AND  P.NR_PROCESSO = F.NR_PROCESSO 
    AND  P.NR_PROCESSO = R.NR_PROCESSO
    AND  P.CD_SERVICO = S.CD_SERVICO
    AND  S.CD_EVENTO_CONCLUSOR = F.CD_EVENTO
   -- AND  F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim 
   -- dt abertura
    AND  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim 
    AND  ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) 
    AND  ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) 
    AND  ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) )
    AND  ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) 
    AND  ( ( P.NR_PROCESSO = @nr_processo_flp ) OR ( @nr_processo_flp = 'X' ) ) 
  ORDER BY P.NR_PROCESSO, R.CD_REFERENCIA

OPEN c_proc
FETCH c_proc INTO @nr_processo, @cd_ref, @cd_tp_dta
WHILE @@fetch_status = 0
BEGIN

  SELECT @dt_reg_di = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_espera_navio = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_desemb = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_ent = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_ENT FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_pres_carga = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_PRES_CARGA FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @qt_cntr_20 = COUNT(*)
  FROM   TPROCESSO_CNTR
  WHERE  NR_PROCESSO = @nr_processo AND
         TP_CNTR = '02' 

  SELECT @qt_cntr_40 = COUNT(*)
  FROM   TPROCESSO_CNTR
  WHERE  NR_PROCESSO = @nr_processo AND
         TP_CNTR = '03' 

  SELECT @qt_cntr_tank = COUNT(*)
  FROM   TPROCESSO_CNTR
  WHERE  NR_PROCESSO = @nr_processo AND
         TP_CNTR IN ( '04', '05' )

  SELECT @in_desova = ( SELECT TOP 1 IN_DESOVA
                        FROM   TPROCESSO_CNTR
                        WHERE  NR_PROCESSO = @nr_processo )
  IF @in_desova = 0
  BEGIN
    SELECT @carga_solta = 'N'
  END 
  ELSE
  BEGIN
    SELECT @carga_solta = 'S'
  END

  SELECT @qt_carga = ( SELECT SUM( CAST ( QT_VOLUME_CARGA AS NUMERIC ) )
                       FROM   TEMBALAGEM_CARGA
                       WHERE  NR_PROCESSO = @nr_processo )

  SELECT @via_transp = CD_VIA_TRANSPORTE
  FROM   TPROCESSO P, VW_SERVICO_GERAL S
  WHERE  P.NR_PROCESSO = @nr_processo
    AND  P.CD_SERVICO = S.CD_SERVICO

  SELECT @dt_nota = ( SELECT TOP 1 DT_NOTA 
                      FROM   TPROCESSO P, TPROCESSO_NF N
                      WHERE  P.NR_PROCESSO = @nr_processo
                        AND  P.NR_PROCESSO = N.NR_PROCESSO )

  
  SELECT @dt_receb_doc_fat = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_desova = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_DESOVA FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_chegada_arm = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_PRES_CARGA_EADI FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_remocao = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_REMOCAO FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_pres_carga_eadi = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_PRES_CARGA_EADI FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_param_dta = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_PARAM_DTA FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_reg_dta = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_REG_DTA FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'


  INSERT TDDIMPORT_FLP
        ( NR_IDENTIFICADOR,NR_PROCESSO, NR_DI, DT_REG_DI, DT_PREV_CHEGADA, 
          REF_DESPACHANTE, DT_DESEMB, DT_CHEGADA, DT_PREV_EMBARQUE, DT_EMBARQUE,
          DT_PRESENCA_CARGA, CD_TIPO_DCTO_CARGA, NR_DCTO_CARGA, NR_MASTER, 
          CD_VIA_TRANSPORTE, QT_CNTR_20, QT_CNTR_40, QT_CNTR_TANK, CD_CARGA_SOLTA,
          CD_CANAL, QT_VOLUMES, VL_PESO_BRUTO, VL_CHAR_WEIGHT, VL_TARIFA_FRETE,
          VL_FRETE_REAL, 
          DT_NF_ENTRADA, DT_BL_MASTER, DT_DCTO_CARGA, DT_REMOCAO, CD_RECINTO_ALFANDEGADO,
          DT_AUT_EMBARQUE, DT_RECEB_DCTO_FAT, DT_PREV_CHEGADA_IMP, DT_PAG_IMPOSTOS,
          DT_DESOVA, DT_AVISO_AVARIA, DT_ANUENCIA_LI, DT_CHEGADA_ARM, 
          DT_PRESENCA_CARGA_EADI, NR_DTA, DT_REG_DTA, CD_TIPO_DTA, 
          CD_CANAL_DTA, DT_PARAM_DTA, NR_MANIFESTO, NR_VOO, NR_VIAGEM_NAVIO, NR_CI )
   SELECT @nr_identificador, @cd_ref, DI.NR_DECLARACAO_IMP, @dt_reg_di, @dt_espera_navio,
          SUBSTRING( P.NR_PROCESSO, 5, 10 ), @dt_desemb, @dt_ent, NULL, NULL, 
          @dt_pres_carga, DI.CD_TIPO_DCTO_CARGA, P.NR_CONHECIMENTO, P.NR_CONHECIMENTO_MASTER,
          @via_transp, @qt_cntr_20, @qt_cntr_40, @qt_cntr_tank, @carga_solta,
          C.NM_CANAL, ISNULL( @qt_carga, '0' ), DI.PB_CARGA, 0, P.VL_FRETE_CUSTO, 
          DI.VL_TOTAL_FRETE_MN, 
          @dt_nota, P.DT_CONHECIMENTO, NULL, @dt_remocao, DI.CD_RECINTO_ALFAND, 
          NULL, @dt_receb_doc_fat, NULL, @dt_reg_di, 
          @dt_desova, NULL, NULL, @dt_chegada_arm,
          @dt_pres_carga_eadi, P.NR_DTA, @dt_reg_dta, ISNULL( @cd_tp_dta, '0'), 
          '', @dt_param_dta, DI.NR_MANIFESTO, P.NR_VOO, '', @cd_ref
    FROM   TPROCESSO P, TDECLARACAO_IMPORTACAO DI, TTP_CANAL C
    WHERE  P.NR_PROCESSO = DI.NR_PROCESSO 
      AND  P.NR_PROCESSO = @nr_processo
      AND  C.CD_CANAL = P.CD_CANAL

  FETCH c_proc INTO @nr_processo, @cd_ref, @cd_tp_dta
END
CLOSE c_proc
DEALLOCATE c_proc




GO
