USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_temp    Script Date: 02/09/1999 08:59:02 AM ******/
CREATE PROCEDURE [sp_temp] AS
DECLARE @nr_recebimento char(3)
DECLARE @nr_processo char(18)
DECLARE @cd_item char(3)
DECLARE @vl_recebimento float
DECLARE @vl_receb_OK numeric(14,2)
DECLARE @dt_solic_ch char(10)
DECLARE @nr_solic_ch char(3)
DECLARE c_receb CURSOR FOR
SELECT R.NR_RECEBIMENTO, R.NR_PROCESSO, I.CD_ITEM, R.VL_RECEBIMENTO
FROM   TRECEBIMENTO R,
       TRECEBIMENTO_ITEM_RECEB I,
       TPROCESSO P,
       TCLIENTE_BANCO_LIBERADO L
WHERE  R.NR_PROCESSO    = I.NR_PROCESSO    AND
       R.NR_RECEBIMENTO = I.NR_RECEBIMENTO AND
       R.IN_CANCELADO   = '0'              AND
       I.IN_CANCELADO   = '0'     AND
       R.NR_PROCESSO    = P.NR_PROCESSO    AND
       P.CD_CLIENTE     = L.CD_CLIENTE     AND
       P.CD_UNID_NEG    = L.CD_UNID_NEG    AND
       P.CD_PRODUTO     = L.CD_PRODUTO     AND
       R.CD_BANCO       = L.CD_BANCO       AND
       L.IN_ATIVO       = '1'     AND
       ( R.DT_SOLIC_CH+R.NR_SOLIC_CH ) IS NULL
OPEN c_receb
FETCH c_receb INTO 
   @nr_recebimento, @nr_processo, @cd_item, @vl_recebimento
WHILE @@fetch_status <> -1
BEGIN
  
  SELECT @vl_receb_OK = @vl_recebimento
  SELECT @dt_solic_ch      = null
  SELECT @nr_solic_ch      = null
  SELECT @dt_solic_ch      = S.DT_SOLIC_CH,
         @nr_solic_ch      = S.NR_SOLIC_CH
  FROM   TSOLIC_CHEQUE S,
         TSOLIC_CHEQUE_ITENS SI
  WHERE  S.DT_SOLIC_CH = SI.DT_SOLIC_CH AND
  S.NR_SOLIC_CH = SI.NR_SOLIC_CH AND
         SI.NR_PROCESSO    = @nr_processo AND
         SI.CD_ITEM        = @cd_item     AND
         S.CD_STATUS_SOLIC_CH NOT IN ('6', '7')  AND
         SI.CD_STATUS      <> 'C'   AND
         CONVERT( NUMERIC( 14, 2 ), ( SI.VL_ITEM + SI.VL_ASSIST ) ) = @vl_receb_OK
  IF @@rowcount > 0
  BEGIN
    UPDATE TRECEBIMENTO
    SET    DT_SOLIC_CH = @dt_solic_ch,
           NR_SOLIC_CH = @nr_solic_ch
    WHERE  NR_PROCESSO = @NR_PROCESSO    AND
           NR_RECEBIMENTO = @nr_recebimento
    SELECT @dt_solic_ch + ' ' + @nr_solic_ch + ' ' + @nr_processo + ' ' + @cd_item
  END
  FETCH c_receb INTO 
     @nr_recebimento, @nr_processo, @cd_item, @vl_recebimento
END
CLOSE c_receb
DEALLOCATE c_receb



GO
