USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE            PROC [sp_origina_recebimento_ag](@nr_recebimento char(6), @cd_unid_neg char(2), 
       @cd_cliente char(5), @nr_recebimento_ag char(6) output, @dt_recebimento datetime ) AS


/*BEGIN TRAN 
DECLARE @nr_recebimento char(6)
DECLARE @cd_unid_neg char(2)
DECLARE @cd_cliente char(5)
DECLARE @nr_recebimento_ag char(6) 
DECLARE @dt_recebimento datetime

SET @nr_recebimento = '000144'
SET @cd_unid_neg = '01'
SET @cd_cliente = '00662'
SET @nr_recebimento_ag = ''
SET @dt_recebimento = convert(datetime,'07/06/2004',103)
*/
DECLARE @nr_ult_recebimento char(3)
DECLARE @nr_lanc_processo char(4)
DECLARE @nr_lanc_item char(3)
DECLARE @nr_processo char(18)
DECLARE @nr_solic char(3)
DECLARE @dt_tarifario datetime
DECLARE @cd_item char(3)
DECLARE @nr_processo_vinc char(18)
DECLARE @cd_moeda_venda char(3)
DECLARE @cd_moeda_compra char(3)
DECLARE @vl_venda_item float
DECLARE @vl_compra_item float
DECLARE @vl_tarifario float
DECLARE @vl_adicional_item float
DECLARE @vl_recebido_item float
DECLARE @vl_solic_item float
DECLARE @vl_solic_processo_vinc float
DECLARE @vl_adic_processo_vinc float
DECLARE @vl_receb_processo_vinc float
DECLARE @cd_banco_extra char(3)
DECLARE @vl_recebido float 
DECLARE @vl_tot_adicional float
DECLARE @nr_ult_lanc_caixa char(3)
DECLARE @cd_item_receb_num char(3)
DECLARE @cd_item_extor_num char(3)
DECLARE @cd_favorecido char(5)
DECLARE @qtde_processo int 
DECLARE @vl_moeda float
DECLARE @nr_solic_vinc char(3)
DECLARE @nr_processo_ant char(18)

SELECT @cd_banco_extra = CD_BANCO FROM TBANCO WHERE IN_EXTRA_CAIXA = '1'

 SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM, 
        @cd_item_extor_num = CD_ITEM_EXTOR_NUM
  FROM   TPARAMETROS


 SELECT @cd_favorecido = CD_FAVORECIDO FROM TFAVORECIDO F, TUNID_NEG U
   WHERE (F.CGC_EMPRESA = U.CGC_UNID_NEG) 
      AND U.CD_UNID_NEG= @cd_unid_neg


SELECT @nr_ult_recebimento = RIGHT( '000000' + CONVERT( varchar, ISNULL (MAX(NR_RECEBIMENTO)+ 1 , 1 ) ), 6 )
  FROM   TRECEBIMENTO_AG 
  WHERE  CD_CLIENTE = @cd_cliente AND CD_UNID_NEG = @cd_unid_neg

--CRIA UM TEMP PARA ALOCAR OS PROCESSOS DE AGENCIAMENTO
SELECT DISTINCT TP.NR_PROCESSO, TP.NR_PROCESSO_VINC,TN.NR_SOLICITACAO, TN.NR_SOLIC_VINC, TR.DT_TARIFARIO 
INTO #TM_PROCESSO
FROM TRECEBIMENTO_PROCESSO TR,  TNUMERARIO_NOTIFICA_ITEM TN , TPROCESSO TP
 WHERE TR.NR_RECEBIMENTO      = @nr_recebimento
      AND TR.CD_CLIENTE       = @cd_cliente
      AND TR.CD_UNID_NEG      = @cd_unid_neg 
      AND TR.NR_PROCESSO      = TN.NR_PROCESSO
      AND TR.NR_SOLICITACAO   = TN.NR_SOLICITACAO 
      AND TN.NR_SOLIC_VINC   IS NOT NULL
      AND TR.NR_PROCESSO      = TP.NR_PROCESSO

IF( SELECT COUNT(*) FROM #TM_PROCESSO) = 0  RETURN 

SET @nr_recebimento_ag = @nr_ult_recebimento

SET @vl_recebido  = 0 
SET @vl_tot_adicional  = 0


SET @nr_lanc_processo = '0001'

SELECT @nr_ult_lanc_caixa = CONVERT( int, ISNULL( MAX( NR_LANCAMENTO), '000'  ) ) + 1
  FROM   TCAIXA 
  WHERE  DT_MOVIMENTO = @dt_recebimento


WHILE (SELECT COUNT(*) FROM #TM_PROCESSO) > 0
  BEGIN

   SELECT TOP 1 @nr_processo = NR_PROCESSO, @nr_processo_vinc = NR_PROCESSO_VINC,
                @nr_solic = NR_SOLICITACAO, @dt_tarifario = DT_TARIFARIO, 
                @nr_solic_vinc = NR_SOLIC_VINC
   FROM #TM_PROCESSO
   SET @nr_processo_ant = @nr_processo_vinc
   SET @vl_solic_processo_vinc = 0
   SET @vl_adic_processo_vinc  = 0
   SET @vl_receb_processo_vinc = 0

   -- BUSCA OS ITENS DO PROCESSO DESEMBARACO QUE SÃO DO AGENCIAMENTO

   SELECT R.CD_ITEM, R.CD_MOEDA_VENDA, R.VL_VENDA, R.CD_MOEDA_COMPRA, R.VL_COMPRA, 
       R.VL_TARIFARIO, R.VL_ADICIONAL_ITEM, R.VL_UTILIZADO, R.VL_SOLICITADO
   INTO #TM_ITEM
   FROM TRECEBIMENTO_PROCESSO_ITEM R, TNUMERARIO_NOTIFICA_ITEM N
   WHERE R.NR_RECEBIMENTO     = @nr_recebimento
       AND R.CD_CLIENTE       = @cd_cliente
       AND R.CD_UNID_NEG      = @cd_unid_neg
       AND R.NR_PROCESSO      = @nr_processo
       AND R.NR_SOLICITACAO   = @nr_solic        
       AND ISNULL(R.CD_MOEDA_VENDA,'') <> ''        
       AND R.NR_PROCESSO      = N.NR_PROCESSO 
       AND R.NR_SOLICITACAO   = N.NR_SOLICITACAO 
       AND R.CD_ITEM          = N.CD_ITEM
       AND N.NR_SOLIC_VINC    = @nr_solic_vinc

   SET @nr_lanc_item = '001' 

   WHILE(SELECT COUNT(*) FROM #TM_ITEM) > 0
    BEGIN
      SELECT TOP 1 @cd_item = CD_ITEM, @cd_moeda_venda = CD_MOEDA_VENDA, @vl_venda_item = VL_VENDA, 
                   @cd_moeda_compra = CD_MOEDA_COMPRA, @vl_compra_item = VL_COMPRA, 
                   @vl_tarifario = VL_TARIFARIO, @vl_adicional_item = VL_ADICIONAL_ITEM,
                   @vl_recebido_item = VL_UTILIZADO,  @vl_solic_item = VL_SOLICITADO 
      FROM #TM_ITEM 

      SELECT @vl_moeda = VL_TAXA_UTIL 
      FROM  TTAXA_FRETE WHERE DT_INICIO = @dt_tarifario and CD_MOEDA = @cd_moeda_venda

     IF  (@cd_moeda_venda <> '790') AND (ISNULL(@cd_moeda_venda,'') <> '')
       SET @vl_recebido_item = @vl_venda_item * @vl_moeda
     ELSE 
      BEGIN
       SET @vl_recebido_item = @vl_venda_item
       SET @vl_solic_item    = @vl_venda_item
      END

      SET @vl_solic_processo_vinc = @vl_solic_processo_vinc + @vl_solic_item 
      SET @vl_adic_processo_vinc  = @vl_adic_processo_vinc  + @vl_adicional_item
      SET @vl_receb_processo_vinc = @vl_receb_processo_vinc + @vl_recebido_item


      INSERT INTO TRECEBIMENTO_PROCESSO_ITEM (NR_RECEBIMENTO, CD_CLIENTE, CD_UNID_NEG, NR_LANC_RECEB,
                  NR_LANCAMENTO, NR_PROCESSO, NR_SOLICITACAO, CD_ITEM, VL_SOLICITADO, VL_RECEBIDO,
                  IN_CANCELADO, CD_MOEDA_VENDA, VL_VENDA, CD_MOEDA_COMPRA, VL_COMPRA, VL_TARIFARIO,
                  CD_BANCO_ITEM, VL_ADICIONAL_ITEM)
      VALUES      (@nr_ult_recebimento, @cd_cliente, SUBSTRING(@nr_processo_vinc,1,2), @nr_lanc_processo,
                   @nr_lanc_item, @nr_processo_vinc, @nr_solic_vinc, @cd_item, @vl_solic_item, @vl_recebido_item,
                   '0', @cd_moeda_venda, @vl_venda_item, @cd_moeda_compra, @vl_compra_item, @vl_tarifario,
                   @cd_banco_extra, @vl_adicional_item)      
      
      UPDATE TNUMERARIO_NOTIFICA_ITEM
       SET CD_STATUS = 'B',
           VL_RECEBIDO = @vl_recebido_item + @vl_adicional_item
        WHERE NR_PROCESSO = @nr_processo_vinc AND NR_SOLICITACAO = @nr_solic_vinc 
        AND CD_ITEM = @cd_item    
 
       SET @nr_lanc_item = @nr_lanc_item + 1
       DELETE FROM #TM_ITEM WHERE CD_ITEM = @cd_item
    END

   DROP TABLE #TM_ITEM

   INSERT INTO TRECEBIMENTO_PROCESSO (NR_RECEBIMENTO, CD_CLIENTE, CD_UNID_NEG, NR_LANC_RECEB,
                  NR_PROCESSO, NR_SOLICITACAO, VL_SOLICITADO, VL_RECEBIDO, IN_CANCELADO, CD_STATUS, 
                  DT_TARIFARIO, VL_ADICIONAL)
   VALUES      (@nr_ult_recebimento, @cd_cliente, SUBSTRING(@nr_processo_vinc,1,2), @nr_lanc_processo,
                @nr_processo_vinc, @nr_solic_vinc, @vl_solic_processo_vinc, @vl_receb_processo_vinc, '0', 'B',
                @dt_tarifario, @vl_adic_processo_vinc)

    UPDATE TNUMERARIO_NOTIFICA
    SET VL_RECEBIDO = @vl_receb_processo_vinc + @vl_adic_processo_vinc,
        CD_STATUS = 'B'
    WHERE NR_PROCESSO = @nr_processo_vinc AND NR_SOLICITACAO = @nr_solic_vinc  

    UPDATE TPROCESSO SET DT_RECEBIMENTO = @dt_recebimento WHERE NR_PROCESSO = @nr_processo_vinc
     AND DT_RECEBIMENTO IS NULL
    
    EXEC sp_atz_status_solic_pagto_ag @nr_processo_vinc
    
    -- Inibido EXEC em 06/01/2006 - não havia essa stored procedure no banco
    -- EXEC sp_solic_pagto_proc_vinc @nr_processo, @nr_processo_vinc, @dt_recebimento


   SET @nr_lanc_processo = @nr_lanc_processo + 1
   SET @vl_recebido      = @vl_recebido      + @vl_receb_processo_vinc
   SET @vl_tot_adicional = @vl_tot_adicional + @vl_adic_processo_vinc


   DELETE FROM #TM_PROCESSO WHERE NR_PROCESSO = @nr_processo and NR_SOLICITACAO = @nr_solic
                              AND NR_SOLIC_VINC = @nr_solic_vinc

--  PRINT 'ATUALIZAR CAIXA'
  IF ((SELECT TOP 1 NR_PROCESSO_VINC FROM #TM_PROCESSO ) <> @nr_processo_vinc)
     OR ((SELECT COUNT(*) FROM #TM_PROCESSO) = 0 )
  BEGIN
--    PRINT 'ATUALIZANDO.....' +  @nr_processo_vinc
--    PRINT 'sOLICITACAO .....'+ @nr_solic_vinc
--    PRINT @vl_recebido 
    --envia para o caixa
     SELECT @nr_ult_lanc_caixa = RIGHT( '000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc_caixa, 1 ) ), 3 )
    
     INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, 
                  TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO,
                  CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, IN_RESTITUI, TP_NATUREZA, 
                  NR_FP, NR_CHEQUE, CD_FAVORECIDO )
        VALUES        ( '01', @dt_recebimento, @nr_ult_lanc_caixa, @cd_unid_neg, 'F', 
                  '3', '0', '0', (@vl_recebido + @vl_tot_adicional), 'D', 
                  @cd_banco_extra, @nr_processo_vinc, @cd_item_receb_num, 0, 0, '0',  
                  'C', ' ', @nr_ult_recebimento, @cd_favorecido ) 
    
     SET @nr_ult_lanc_caixa = @nr_ult_lanc_caixa + 1 
    --fim do envio do caixa 

  END

  END

INSERT INTO TRECEBIMENTO_AG (NR_RECEBIMENTO, CD_CLIENTE, CD_UNID_NEG, DT_RECEBIMENTO, CD_USUARIO, CD_BANCO, 
    VL_RECEBIMENTO, IN_CANCELADO, VL_DEVOLVIDO, VL_TOT_RECEBIDO, IN_MAIOR, IN_ABERTO, VL_TT_ADICIONAL,
    TP_RECEBIMENTO, VL_TOT_UTILIZADO, IN_CAMBIO, DT_FATURA)

SELECT @nr_ult_recebimento,CD_CLIENTE, SUBSTRING(@nr_processo_vinc,1,2), DT_RECEBIMENTO, CD_USUARIO, @cd_banco_extra, 
    (@vl_receb_processo_vinc + @vl_adic_processo_vinc) , '0', 0, @vl_recebido, IN_MAIOR, 'B', @vl_tot_adicional,
    '2',0,'1', DT_RECEBIMENTO--TIPO DO RECEBIMENTO E 2 PQ FOI FEITO PELO DESEMBARACO
    FROM TRECEBIMENTO_AG 
    WHERE NR_RECEBIMENTO = @nr_recebimento
    AND CD_CLIENTE = @cd_cliente AND CD_UNID_NEG = @cd_unid_neg 



--DROP TABLE #TM_ITEM
DROP TABLE #TM_PROCESSO


--rollback

--RETURN(1)















GO
