USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_pe_prep_inc_item]( @nr_processo char(18), @nr_item char(3), @nr_proc_old char(18), @nr_item_old char(3), @dt_baixa datetime,  @qt_baixar float ) AS

INSERT TPREPARA_PE_ITEM (NR_PROCESSO, NR_ITEM, NR_PROC_OLD, NR_ITEM_OLD,  DT_BAIXA, QT_BAIXADA, IN_PREPARACAO )
VALUES (@NR_PROCESSO, @NR_ITEM, @NR_PROC_OLD, @NR_ITEM_OLD, @DT_BAIXA, @QT_BAIXAR, '0')

UPDATE TPREPARA_PE 
  SET QT_TOTAL_ITEM = @NR_ITEM 
  WHERE NR_PROCESSO = @NR_PROCESSO







GO
