USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.sp_verifica_login    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_verifica_login] (@login varchar(30)) AS
if (select count(*) 
      from master..sysprocesses p,
           master..syslogins l
      where p.sid = l.sid and
            name = @login) = 0
  Return (0)
else
  Return (1)



GO
