USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_rel_cntr_origem] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                      @cd_agente char(4), @dt_ini datetime, @dt_fim datetime, @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_agente char(4)
DECLARE @dt_ini datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = 'X' 
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @cd_agente = 'X'
SELECT @dt_ini = CONVERT( datetime, '01/01/2001', 103 )
SELECT @dt_fim = CONVERT( datetime, '10/02/2002', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_CNTR_ORIGEM (TABLOCK HOLDLOCK)

IF ( @cd_produto IN ( '01', '03' ) ) OR ( @cd_produto = 'X' )
BEGIN
  INSERT TREL_CNTR_ORIGEM ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_AGENTE, CD_CLIENTE, CD_LOCAL_ORIGEM,
                            CD_EMP_EST, TP_CNTR, TP_FRETE, CD_MOEDA_FRETE, QTDE, VL_FRETE_MNEG )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_AGENTE, P.CD_CLIENTE, P.CD_LOCAL_EMBARQUE AS CD_LOCAL_ORIGEM, 
         P.CD_EMP_EST, ISNULL( C.TP_CNTR, '' ) AS TP_CNTR, ISNULL( P.TP_FRETE, '' ) AS TP_FRETE, 
         P.CD_MOEDA_FRETE, COUNT( ISNULL( C.TP_CNTR, '' ) ) AS QTDE,
         SUM( CASE P.TP_FRETE
                WHEN '0' THEN ISNULL( VL_FRETE_COLLECT_MNEG, 0 )
                WHEN '1' THEN ISNULL( VL_FRETE_PREPAID_MNEG, 0 )
              END ) AS VL_FRETE_MNEG
  FROM   TPROCESSO_CNTR C, TPROCESSO P, TEMPRESA_NAC EN
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         P.IN_CANCELADO = '0' AND
         ISNULL( C.TP_CNTR, '' ) NOT IN ( '', '01' ) AND
         ISNULL( P.TP_FRETE, '' ) <> '' AND
         ISNULL( P.CD_EMP_EST, '' ) <> '' AND
         ISNULL( P.CD_AGENTE, '' ) <> '' AND
         ISNULL( P.CD_LOCAL_EMBARQUE, '' ) <> '' AND
         ISNULL( P.CD_MOEDA_FRETE, '' ) <> '' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )AND
         P.CD_PRODUTO IN ( '01', '03' ) AND
         ( ( P.CD_AGENTE = @cd_agente ) OR ( @cd_agente = 'X' ) ) AND
         ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         P.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim
  GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_AGENTE, ISNULL( C.TP_CNTR, '' ), P.CD_LOCAL_EMBARQUE, P.CD_EMP_EST, ISNULL( P.TP_FRETE, '' ), P.CD_MOEDA_FRETE
  ORDER BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_AGENTE, P.CD_CLIENTE, P.CD_LOCAL_EMBARQUE, P.CD_EMP_EST, C.TP_CNTR, P.TP_FRETE, P.CD_MOEDA_FRETE
END

IF ( @cd_produto IN ( '02', '10' ) ) OR ( @cd_produto = 'X' )
BEGIN
  INSERT TREL_CNTR_ORIGEM ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_AGENTE, CD_CLIENTE, CD_LOCAL_ORIGEM,
                            CD_EMP_EST, TP_CNTR, TP_FRETE, CD_MOEDA_FRETE, QTDE, VL_FRETE_MNEG )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_AGENTE, P.CD_CLIENTE, P.CD_LOCAL_DESEMBARQUE AS CD_LOCAL_ORIGEM, 
         P.CD_EMP_EST, ISNULL( C.TP_CNTR, '' ) AS TP_CNTR, ISNULL( P.TP_FRETE, '' ) AS TP_FRETE,
         P.CD_MOEDA_FRETE, COUNT( ISNULL( C.TP_CNTR, '' ) ) AS QTDE, 
         SUM( CASE P.TP_FRETE
                WHEN '0' THEN ISNULL( VL_FRETE_COLLECT_MNEG, 0 )
                WHEN '1' THEN ISNULL( VL_FRETE_PREPAID_MNEG, 0 )
              END ) AS VL_FRETE_MNEG
  FROM   TPROCESSO_CNTR C, TPROCESSO P, TEMPRESA_NAC EN
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         P.IN_CANCELADO = '0' AND
         ISNULL( C.TP_CNTR, '' ) NOT IN ( '', '01' ) AND
         ISNULL( P.TP_FRETE, '' ) <> '' AND
         ISNULL( P.CD_EMP_EST, '' ) <> '' AND
         ISNULL( P.CD_AGENTE, '' ) <> '' AND
         ISNULL( P.CD_LOCAL_DESEMBARQUE, '' ) <> '' AND
         ISNULL( P.CD_MOEDA_FRETE, '' ) <> '' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )AND
         P.CD_PRODUTO IN ( '02', '10' ) AND
         ( ( P.CD_AGENTE = @cd_agente ) OR ( @cd_agente = 'X' ) ) AND
         ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         P.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim
  GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_AGENTE, ISNULL( C.TP_CNTR, '' ), P.CD_LOCAL_DESEMBARQUE, P.CD_EMP_EST, ISNULL( P.TP_FRETE, '' ), P.CD_MOEDA_FRETE
  ORDER BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_AGENTE, P.CD_CLIENTE, P.CD_LOCAL_DESEMBARQUE, P.CD_EMP_EST, C.TP_CNTR, P.TP_FRETE, P.CD_MOEDA_FRETE
END




GO
