USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_cancela_recebimento    Script Date: 31/03/1998 13:55:28 ******/
CREATE PROCEDURE [sp_cancela_recebimento]( @nr_processo char(18), @nr_recebimento char(3), @cd_usuario char(4) ) AS

DECLARE @in_cancelado   char(1)
DECLARE @in_transferido char(1)
DECLARE @in_transf_canc char(1)
DECLARE @dt_recebimento datetime
DECLARE @cd_unid_neg    char(2)
SELECT  @cd_unid_neg = SUBSTRING( @nr_processo, 1, 2 )

SELECT @in_cancelado   = IN_CANCELADO,
       @in_transferido = IN_TRANSFERIDO,
       @in_transf_canc = IN_TRANSF_CANC,
       @dt_recebimento = DT_RECEBIMENTO
FROM   TRECEBIMENTO 
WHERE  NR_PROCESSO = @nr_processo AND
       NR_RECEBIMENTO = @nr_recebimento

IF @in_cancelado = '0'
BEGIN
  UPDATE TRECEBIMENTO
  SET    IN_CANCELADO     = '1',
/*         DT_CANCELAMENTO  = CONVERT( datetime, CONVERT( char(10), GETDATE() ), 103 ),*/
         DT_CANCELAMENTO  = GETDATE(),
         CD_USUARIO_CANC  = @cd_usuario        
  WHERE  ( NR_PROCESSO    = @nr_processo ) AND 
         ( NR_RECEBIMENTO = @nr_recebimento )
  UPDATE TRECEBIMENTO_ITEM_RECEB
  SET    IN_CANCELADO     = '1'
  WHERE  ( NR_PROCESSO    = @nr_processo ) AND 
         ( NR_RECEBIMENTO = @nr_recebimento )
  
  EXEC sp_atualiza_receb_num @nr_processo, @nr_recebimento, '-'
  EXEC sp_distribui_numerario @dt_recebimento, @cd_unid_neg, '01'

  RETURN(0)
END
ELSE
BEGIN
  IF @in_transf_canc='0'
  BEGIN
    UPDATE TRECEBIMENTO
    SET    IN_CANCELADO    = '0',
           DT_CANCELAMENTO = NULL,
           CD_USUARIO_CANC = NULL        
    WHERE  ( NR_PROCESSO    = @nr_processo ) AND 
           ( NR_RECEBIMENTO = @nr_recebimento )
    UPDATE TRECEBIMENTO_ITEM_RECEB
    SET    IN_CANCELADO     = '0'
    WHERE  ( NR_PROCESSO    = @nr_processo ) AND 
           ( NR_RECEBIMENTO = @nr_recebimento )
    EXEC sp_atualiza_receb_num @nr_processo, @nr_recebimento, '+'
    EXEC sp_distribui_numerario @dt_recebimento, @cd_unid_neg, '01'
    RETURN(0)
  END 
  ELSE
  BEGIN
    RETURN(1)    
  END
END

GO
