USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_cancela_solic_ch]( @dt_solic_ch char(10), @nr_solic_ch char(3), @cd_usuario char(4) ) AS
DECLARE @nr_processo   char(18)
DECLARE @nr_devolucao  char(3)
DECLARE @cd_item  char(3)
DECLARE @vl_item  float
DECLARE @cd_status_item  char(1)
DECLARE @vl_saldo_processo  numeric(14,2)
DECLARE @cd_status_solic_ch     char(1)
DECLARE @in_libera  char(1)
DECLARE @in_restitui  char(1)
DECLARE @cd_item_sda  char(3)
DECLARE @erro   int
SELECT @cd_item_sda = CD_ITEM_SDA
FROM TPARAMETROS 
IF @cd_usuario = '0000' 
  SELECT @cd_status_solic_ch  = '7' /* Cancelado pelo Sistema */
ELSE
  SELECT @cd_status_solic_ch  = '6' /* Cancelado pelo Usu rio */
UPDATE TSOLIC_CHEQUE 
SET    CD_STATUS_CHEQUE = '3',
       CD_STATUS_SOLIC_CH = @cd_status_solic_ch,
       DT_CANCELAMENTO = CONVERT( char(10), GETDATE(), 103),
       CD_CANCELADOR = @cd_usuario,
       IN_TRANSFERIDO = CASE 
         WHEN IN_TRANSFERIDO = '0' THEN '1'
         WHEN IN_TRANSFERIDO = '1' THEN '0'
         END
WHERE  DT_SOLIC_CH = @dt_solic_ch AND 
       NR_SOLIC_CH = @nr_solic_ch
DECLARE c_item CURSOR FOR
  SELECT NR_PROCESSO, CD_ITEM, CD_STATUS, 
         CASE IN_RESTITUI 
           WHEN '0' THEN ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) 
           WHEN '1' THEN ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * (-1)
         END VL_ITEM, IN_RESTITUI
  FROM   TSOLIC_CHEQUE_ITENS
  WHERE  DT_SOLIC_CH = @dt_solic_ch AND 
         NR_SOLIC_CH = @nr_solic_ch
OPEN c_item
FETCH c_item INTO @nr_processo, @cd_item, @cd_status_item, @vl_item, @in_restitui
WHILE @@fetch_status = 0
BEGIN
  IF ( SELECT COUNT(*)
       FROM   TCLIENTE_BANCO_LIBERADO L,
              TSOLIC_CHEQUE S,
              TPROCESSO P
       WHERE  P.CD_CLIENTE  = L.CD_CLIENTE  AND
              P.CD_UNID_NEG = L.CD_UNID_NEG AND
              P.CD_PRODUTO  = L.CD_PRODUTO  AND
              S.CD_BANCO    = L.CD_BANCO    AND
              P.NR_PROCESSO = @nr_processo  AND
              S.DT_SOLIC_CH = @dt_solic_ch  AND
              S.NR_SOLIC_CH = @nr_solic_ch  AND
              L.IN_ATIVO    = '1' ) > 0
    SELECT @in_libera = '1'
  ELSE
    SELECT @in_libera = '0'
  IF @in_libera = '1' AND @cd_item NOT IN ('991','992','993','997','998','987','988')
  BEGIN
    IF @in_restitui = '0'
    BEGIN
      EXEC @erro = sp_cancela_receb_autom @nr_processo, @cd_item, @vl_item, @cd_usuario, @dt_solic_ch, @nr_solic_ch
      IF @erro <> 0 
        RETURN 1
    END
    ELSE
    BEGIN
      SELECT @nr_devolucao = NR_DEVOLUCAO
      FROM   TDEVOLUCAO
      WHERE  DT_SOLIC_CH = @dt_solic_ch AND
            NR_SOLIC_CH = @nr_solic_ch
      IF @nr_devolucao IS NOT NULL
         EXEC sp_cancela_devolucao @nr_processo, @nr_devolucao
    END
  END
  IF @cd_item <> '991'
  BEGIN
    IF @cd_status_item IN ('0','4','6','8') 
    BEGIN
      EXEC sp_atualiza_utilizado @nr_processo, @cd_item, @vl_item, '-'
    END
    -- Atualiza Saldos
    UPDATE TNUMERARIO_SALDO_POR_ITEM
    SET VL_SALDO_ITEM = ISNULL( VL_RECEBIDO, 0) - ISNULL( VL_UTILIZADO, 0)
    WHERE NR_PROCESSO = @nr_processo 
    SELECT @vl_saldo_processo = SUM(ISNULL(VL_SALDO_ITEM,0)) 
    FROM   TNUMERARIO_SALDO_POR_ITEM
    WHERE  NR_PROCESSO = @nr_processo 
    UPDATE TNUMERARIO_SALDO_POR_ITEM
    SET    VL_SALDO_PROCESSO = @vl_saldo_processo
    WHERE  NR_PROCESSO = @nr_processo
  END
  FETCH c_item INTO @nr_processo, @cd_item, @cd_status_item, @vl_item, @in_restitui
END
CLOSE c_item
DEALLOCATE c_item
UPDATE TLIQUIDACAO
  SET DT_SOLIC_CH    = NULL,
      NR_SOLIC_CH    = NULL,
      IN_TRANSFERIDO = '0'
  WHERE DT_SOLIC_CH = @dt_solic_ch AND 
        NR_SOLIC_CH = @nr_solic_ch


GO
