USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [sp_rel_cli_cc] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                 @dt_inicio datetime, @dt_fim datetime, @tp_rel char(1), @nr_identificador int OUTPUT ) AS 

SET NOCOUNT ON

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @tp_rel char(1)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @tp_rel = '2' -- '0' - Desembaraço  /  '1' - Fretes Internacionais  /  '2' - Todos
SELECT @dt_inicio = CONVERT( datetime, '01/09/2003', 103 ) 
SELECT @dt_fim = CONVERT( datetime, '30/09/2003', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @vl_saldo float,		          @vl_zero float,
        @dt_saldo_inicial datetime,	  @cd_item_receb_num char(3), 
        @cd_item_extor_num char(3), 	@cd_item_devol_num char(3), 
        @cd_item_saldo_cre char(3), 	@cd_item_saldo_deb char(3), 
        @cd_item_receb_sd char(3), 		@cd_item_pagto_sd char(3), 
        @cd_item_ext_receb char(3), 	@cd_item_ext_pagto char(3), 
        @cd_item_nao_fat char(3), 		@cd_item_ir char(3), 
        @cd_item_pago_cli char(3),		@cd_item_cofins_retencao char(3),
        @cd_tipo1 char(2),            @cd_tipo2 char(2)

SELECT @vl_zero = 0

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_CC_CLI

IF @tp_rel = '0'
BEGIN
  SELECT @cd_tipo1 = '01'
  SELECT @cd_tipo2 = '02'
END
IF @tp_rel = '1'
BEGIN
  SELECT @cd_tipo1 = '03'
  SELECT @cd_tipo2 = '10'
END
IF @tp_rel = '2'
BEGIN
  SELECT @cd_tipo1 = 'XX'
  SELECT @cd_tipo2 = 'XX'
END


SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM, @cd_item_extor_num = CD_ITEM_EXTOR_NUM, @cd_item_devol_num = CD_ITEM_DEVOL_NUM, 
       @cd_item_saldo_cre = CD_ITEM_SALDO_CRE, @cd_item_saldo_deb = CD_ITEM_SALDO_DEB, @cd_item_receb_sd = CD_ITEM_RECEB_SD, 
       @cd_item_pagto_sd = CD_ITEM_PAGTO_SD, @cd_item_ext_receb = CD_ITEM_EXT_RECEB, @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO, 
       @cd_item_nao_fat = CD_ITEM_NAO_FAT, @cd_item_ir = CD_ITEM_IR, @cd_item_pago_cli = CD_ITEM_PAGO_CLI,
       @cd_item_cofins_retencao = CD_ITEM_COFINS_RETENCAO 
FROM TPARAMETROS (NOLOCK)

--Pega data inicial informada para os casos em que não possuírem relatório de reembolso
SELECT @dt_saldo_inicial = ISNULL(MAX( DT_EMISSAO ), @dt_inicio)
FROM TREL_FIN_CONTROLE (NOLOCK)
WHERE CD_UNID_NEG = @cd_unid_neg AND
      @cd_grupo IN ( CD_GRUPO, 'X' ) AND
      @cd_cliente IN ( CD_CLIENTE, 'X' ) AND
      DT_EMISSAO <= @dt_inicio 
  
--FATURAS 
SELECT @nr_identificador NR_IDENTIFICADOR, 
       ( SELECT MAX( FC.DT_LANCAMENTO ) 
         FROM   TFATURAMENTO_CC FC ( NOLOCK )
         WHERE  FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                FC.CD_PRODUTO = F.CD_PRODUTO AND
                FC.IN_CANCELADO = '0' AND
                FC.IN_FATURADO = '1' AND
                FC.CD_FORMA_PAGTO <> 'L' AND
                ( FC.CD_ITEM IN ( @cd_item_saldo_cre, @cd_item_saldo_deb) ) AND
                  FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) DT_LANCAMENTO,
       CASE MAX( P.CD_PRODUTO )
          WHEN '01' THEN 'FATURA IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                         SPACE( 70 - LEN( LTRIM( RTRIM( 'FATURA IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
          WHEN '02' THEN 'FATURA EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                         SPACE( 70 - LEN( LTRIM( RTRIM( 'FATURA EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
          WHEN '03' THEN 'FATURA IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                         SPACE( 70 - LEN( LTRIM( RTRIM( 'FATURA IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
          WHEN '10' THEN 'FATURA EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                         SPACE( 70 - LEN( LTRIM( RTRIM( 'FATURA EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
          ELSE 'FATURA Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
               SPACE( 70 - LEN( LTRIM( RTRIM( 'FATURA Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
       END NM_ITEM,
       MAX( F.NR_PROCESSO ) NR_PROCESSO, 
       MAX( FAT.NR_NOTA_FATURA + '  ' ) NR_DOCTO,
       ROUND(SUM(CASE F.IN_RESTITUI 
                    WHEN '0' THEN ( ISNULL( F.VL_ITEM, 0 ) )
                    WHEN '1' THEN ( ISNULL( F.VL_ITEM, 0 ) ) * (-1)
                 END ), 2 ) VL_DEBITO, 
                @vl_zero VL_CREDITO, E.CD_GRUPO
INTO #TMP_REL_CC_CLI 
FROM   TFATURAMENTO_CC F ( NOLOCK ),
       TS_FATURA FAT ( NOLOCK ),
       TPROCESSO P ( NOLOCK ),
       TEMPRESA_NAC E ( NOLOCK ),
       TCLIENTE_HABILITACAO H ( NOLOCK )
WHERE  F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
       F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
       F.CD_PRODUTO = FAT.CD_PRODUTO AND
       F.NR_PROCESSO = P.NR_PROCESSO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       F.IN_CANCELADO = '0' AND
       F.IN_FATURADO = '1' AND
       FAT.IN_CANCELADO = '0' AND
       ( ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' ) AND
       P.CD_CLIENTE = H.CD_CLIENTE AND
       P.CD_UNID_NEG = H.CD_UNID_NEG AND
       P.CD_PRODUTO = H.CD_PRODUTO AND
       @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
       @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
       ( ( P.CD_PRODUTO IN ( @cd_tipo1, @cd_tipo2 ) ) OR ( 'XX' = @cd_tipo1 ) ) AND
       ISNULL( CD_ITEM_NAO_FAT, '' ) <> '*' AND
       F.CD_FORMA_PAGTO <> 'L' AND
       FAT.TP_TIPO_FAT = 'F' AND
       ( SELECT MAX( DT_LANCAMENTO ) 
         FROM   TFATURAMENTO_CC FC ( NOLOCK )
         WHERE  FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                FC.CD_PRODUTO = F.CD_PRODUTO AND
                FC.IN_CANCELADO = '0' AND
                FC.IN_FATURADO = '1' AND
                FC.CD_FORMA_PAGTO <> 'L' AND
                FC.CD_ITEM IN (  @cd_item_saldo_cre, @cd_item_saldo_deb ) AND
                FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) IN (
       ( SELECT MAX( DT_LANCAMENTO ) 
         FROM   TFATURAMENTO_CC FC ( NOLOCK )
         WHERE  FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                FC.CD_PRODUTO = F.CD_PRODUTO AND
                FC.IN_CANCELADO = '0' AND
                FC.IN_FATURADO = '1' AND
                FC.CD_FORMA_PAGTO <> 'L' AND
                FC.CD_ITEM IN ( @cd_item_saldo_cre, @cd_item_saldo_deb ) AND
                FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim )) AND
                CD_ITEM NOT IN (@cd_item_receb_num, @cd_item_extor_num, @cd_item_devol_num, @cd_item_saldo_cre, 
		    	        @cd_item_saldo_deb, @cd_item_receb_sd, @cd_item_pagto_sd, @cd_item_ext_receb, 
			        @cd_item_ext_pagto, @cd_item_nao_fat, @cd_item_ir, @cd_item_pago_cli, @cd_item_cofins_retencao ) 
GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLIC_FAT, E.CD_GRUPO

--NOTAS DE DÉBITO
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO)
  SELECT @nr_identificador NR_IDENTIFICADOR, 
       ( SELECT MAX( FC.DT_LANCAMENTO ) 
         FROM   TFATURAMENTO_CC FC ( NOLOCK )
         WHERE  FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                FC.CD_PRODUTO = F.CD_PRODUTO AND
                FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                FC.NR_PROCESSO = F.NR_PROCESSO AND
                FC.IN_CANCELADO = '0' AND
                FC.IN_FATURADO = '1' AND
                FC.CD_FORMA_PAGTO <> 'L' AND
                ( FC.CD_ITEM IN ( @cd_item_saldo_deb ) ) AND
                  FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) DT_LANCAMENTO,
         CASE MAX( P.CD_PRODUTO )
            WHEN '01' THEN 'NOTA DE DÉBITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            WHEN '02' THEN 'NOTA DE DÉBITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            WHEN '03' THEN 'NOTA DE DÉBITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            WHEN '10' THEN 'NOTA DE DÉBITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
     SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            ELSE 'NOTA DE DÉBITO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                 SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
         END NM_ITEM,
         F.NR_PROCESSO NR_PROCESSO, 
         MAX( FAT.NR_NOTA_FATURA + '  ' ) NR_DOCTO,
         ROUND( SUM( CASE F.IN_RESTITUI 
                        WHEN '0' THEN ( ISNULL( F.VL_ITEM, 0 ) )
                        WHEN '1' THEN ( ISNULL( F.VL_ITEM, 0 ) ) * (-1)
                     END ) , 2 ) VL_DEBITO, 
                  @vl_zero VL_CREDITO, E.CD_GRUPO
  FROM   TFATURAMENTO_CC F ( NOLOCK ),
         TS_FATURA FAT ( NOLOCK ),
         TPROCESSO P ( NOLOCK ),
         TEMPRESA_NAC E ( NOLOCK ),
         TCLIENTE_HABILITACAO H ( NOLOCK )
  WHERE  F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.IN_CANCELADO = '0' AND
         ( ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' ) AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
        ( ( P.CD_PRODUTO IN ( @cd_tipo1, @cd_tipo2 ) ) OR ( 'XX' = @cd_tipo1 ) ) AND
        ( SELECT MAX( DT_LANCAMENTO ) 
         FROM   TFATURAMENTO_CC FC ( NOLOCK )
         WHERE  FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                FC.CD_PRODUTO = F.CD_PRODUTO AND
                FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                FC.NR_PROCESSO = F.NR_PROCESSO AND
                FC.IN_CANCELADO = '0' AND
                FC.IN_FATURADO = '1' AND
                FC.CD_FORMA_PAGTO <> 'L' AND
                ( FC.CD_ITEM IN ( @CD_ITEM_SALDO_DEB ) ) AND
                  FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) IN (
       ( SELECT MAX( DT_LANCAMENTO ) 
         FROM   TFATURAMENTO_CC FC ( NOLOCK )
         WHERE  FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                FC.CD_PRODUTO = F.CD_PRODUTO AND
                FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                FC.NR_PROCESSO = F.NR_PROCESSO AND
                FC.IN_CANCELADO = '0' AND
                FC.IN_FATURADO = '1' AND
                FC.CD_FORMA_PAGTO <> 'L' AND
                ( FC.CD_ITEM IN ( @CD_ITEM_SALDO_DEB ) ) AND
                  FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) ) AND
         CD_ITEM NOT IN (@cd_item_receb_num, @cd_item_extor_num, @cd_item_devol_num, @cd_item_saldo_cre, 
		  	 @cd_item_saldo_deb, @cd_item_receb_sd, @cd_item_pagto_sd, @cd_item_ext_receb, 
			 @cd_item_ext_pagto, @cd_item_nao_fat, @cd_item_ir, @cd_item_pago_cli, @cd_item_cofins_retencao ) AND
         ISNULL( CD_ITEM_NAO_FAT, '' ) <> '*' AND
         FAT.TP_TIPO_FAT = 'N' AND
         F.CD_FORMA_PAGTO <> 'L' 
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLIC_FAT, F.NR_PROCESSO, E.CD_GRUPO

--NOTAS DE CRÉDITO  ==> OPERACIONAL SAIRÁ COMO NOTA DE DÉBITO CONCEITO INDAIÁ QUANDO POSITIVO
-- ALTERAR EM sp_rel_emitido_cancelado
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
  SELECT @nr_identificador NR_IDENTIFICADOR, 
       ( SELECT MAX( FC.DT_LANCAMENTO ) 
         FROM   TFATURAMENTO_CC FC ( NOLOCK )
         WHERE  FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                FC.CD_PRODUTO = F.CD_PRODUTO AND
                FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                FC.NR_PROCESSO = F.NR_PROCESSO AND
                FC.IN_CANCELADO = '0' AND
                FC.IN_FATURADO = '1' AND
                FC.CD_FORMA_PAGTO <> 'L' AND
                ( FC.CD_ITEM IN ( @CD_ITEM_SALDO_CRE ) ) AND
                  FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) DT_LANCAMENTO,
         CASE MAX( P.CD_PRODUTO )
            WHEN '01' THEN 'NOTA DE DÉBITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            WHEN '02' THEN 'NOTA DE DÉBITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            WHEN '03' THEN 'NOTA DE DÉBITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            WHEN '10' THEN 'NOTA DE DÉBITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            ELSE 'NOTA DE DÉBITO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                 SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE DÉBITO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
         END NM_ITEM,
         F.NR_PROCESSO NR_PROCESSO, 
         MAX( FAT.NR_NOTA_FATURA + '  ' ) NR_DOCTO,
         ROUND( SUM( ISNULL( F.VL_ITEM, 0 )), 2 ) VL_DEBITO,
                @vl_zero VL_CREDITO, E.CD_GRUPO

  FROM   TFATURAMENTO_CC F ( NOLOCK ),
         TS_FATURA FAT ( NOLOCK ),
         TPROCESSO P ( NOLOCK ),         TEMPRESA_NAC E ( NOLOCK ),
         TCLIENTE_HABILITACAO H ( NOLOCK )
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.IN_CANCELADO = '0' AND
         ( ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' ) AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         ( ( P.CD_PRODUTO IN ( @cd_tipo1, @cd_tipo2 ) ) OR ( 'XX' = @cd_tipo1 ) ) AND
         ( SELECT MAX( DT_LANCAMENTO ) 
           FROM   TFATURAMENTO_CC FC ( NOLOCK )
           WHERE  FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                  FC.CD_PRODUTO = F.CD_PRODUTO AND
                  FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                  FC.NR_PROCESSO = F.NR_PROCESSO AND
                  FC.IN_CANCELADO = '0' AND
                  FC.IN_FATURADO = '1' AND
                  FC.CD_FORMA_PAGTO <> 'L' AND
                  ( FC.CD_ITEM IN ( @CD_ITEM_SALDO_CRE) ) AND
                    FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) IN (
         ( SELECT MAX( DT_LANCAMENTO ) 
           FROM   TFATURAMENTO_CC FC ( NOLOCK )
           WHERE  FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                  FC.CD_PRODUTO = F.CD_PRODUTO AND
                  FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                  FC.NR_PROCESSO = F.NR_PROCESSO AND
                  FC.IN_CANCELADO = '0' AND
                  FC.IN_FATURADO = '1' AND
                  FC.CD_FORMA_PAGTO <> 'L' AND
                  ( FC.CD_ITEM IN ( @CD_ITEM_SALDO_CRE ) ) AND
                    FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) ) AND
         CD_ITEM NOT IN (@cd_item_receb_num, @cd_item_extor_num, @cd_item_devol_num, @cd_item_saldo_cre, 
    		         @cd_item_saldo_deb, @cd_item_receb_sd, @cd_item_pagto_sd, @cd_item_ext_receb, 
			 @cd_item_ext_pagto, @cd_item_nao_fat, @cd_item_ir, @cd_item_pago_cli, @cd_item_cofins_retencao) AND
         ISNULL( CD_ITEM_NAO_FAT, '' ) <> '*' AND
         FAT.TP_TIPO_FAT = 'N' AND
         F.CD_FORMA_PAGTO <> 'L' AND F.IN_RESTITUI  = 0 
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLIC_FAT, F.NR_PROCESSO, E.CD_GRUPO

--NOTAS DE CRÉDITO  ==> OPERACIONAL SAIRÁ COMO NOTA DE CRÉDITO ==> CONCEITO INDAIÁ QUANDO NEGATIVO
-- ALTERAR EM sp_rel_emitido_cancelado
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
  SELECT @nr_identificador NR_IDENTIFICADOR, 
       ( SELECT MAX( FC.DT_LANCAMENTO ) 
         FROM TFATURAMENTO_CC FC ( NOLOCK )
         WHERE FC.CD_UNID_NEG = F.CD_UNID_NEG AND
               FC.CD_PRODUTO = F.CD_PRODUTO AND
               FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
               FC.NR_PROCESSO = F.NR_PROCESSO AND
               FC.IN_CANCELADO = '0' AND
               FC.IN_FATURADO = '1' AND
               FC.CD_FORMA_PAGTO <> 'L' AND
               FC.CD_ITEM IN ( @CD_ITEM_SALDO_CRE ) AND
               FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) DT_LANCAMENTO,
         CASE MAX( P.CD_PRODUTO )
            WHEN '01' THEN 'NOTA DE CRÉDITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE CRÉDITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            WHEN '02' THEN 'NOTA DE CRÉDITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE CRÉDITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            WHEN '03' THEN 'NOTA DE CRÉDITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE CRÉDITO IMPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            WHEN '10' THEN 'NOTA DE CRÉDITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                           SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE CRÉDITO EXPORTAÇÃO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
            ELSE 'NOTA DE CRÉDITO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) +
                 SPACE( 70 - LEN( LTRIM( RTRIM( 'NOTA DE CRÉDITO Nº ' + MAX( ISNULL( FAT.NR_NOTA_FATURA, '' ) ) + ' - PROCESSO Nº ' + SUBSTRING( MAX( F.NR_PROCESSO ), 5, 14 ) ) ) ) )
         END NM_ITEM,
         F.NR_PROCESSO NR_PROCESSO, 
         MAX( FAT.NR_NOTA_FATURA + '  ' ) NR_DOCTO,
         @vl_zero VL_DEBITO,
         ABS( ROUND( SUM( ISNULL( F.VL_ITEM, 0 ) ), 2 ) ) VL_CREDITO, E.CD_GRUPO
  FROM   TFATURAMENTO_CC F ( NOLOCK ),
         TS_FATURA FAT ( NOLOCK ),
         TPROCESSO P ( NOLOCK ),
         TEMPRESA_NAC E ( NOLOCK ),
         TCLIENTE_HABILITACAO H ( NOLOCK )
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.IN_CANCELADO = '0' AND
         ( ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' ) AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         ( ( P.CD_PRODUTO IN ( @cd_tipo1, @cd_tipo2 ) ) OR ( 'XX' = @cd_tipo1 ) ) AND
       ( SELECT MAX( DT_LANCAMENTO ) 
         FROM   TFATURAMENTO_CC FC ( NOLOCK )
         WHERE  FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                FC.CD_PRODUTO = F.CD_PRODUTO AND
                FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                FC.NR_PROCESSO = F.NR_PROCESSO AND
                FC.IN_CANCELADO = '0' AND
                FC.IN_FATURADO = '1' AND
                FC.CD_FORMA_PAGTO <> 'L' AND
                ( FC.CD_ITEM IN ( @CD_ITEM_SALDO_CRE ) ) AND
                  FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) IN (
       ( SELECT MAX( DT_LANCAMENTO ) 
         FROM   TFATURAMENTO_CC FC ( NOLOCK )
         WHERE  FC.CD_UNID_NEG = F.CD_UNID_NEG AND
                FC.CD_PRODUTO = F.CD_PRODUTO AND
                FC.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                FC.NR_PROCESSO = F.NR_PROCESSO AND
                FC.IN_CANCELADO = '0' AND
                FC.IN_FATURADO = '1' AND
                FC.CD_FORMA_PAGTO <> 'L' AND
                ( FC.CD_ITEM IN ( @CD_ITEM_SALDO_CRE ) ) AND
                  FC.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim ) ) AND
                CD_ITEM NOT IN (@cd_item_receb_num, @cd_item_extor_num, @cd_item_devol_num, @cd_item_saldo_cre, 
		      	        @cd_item_saldo_deb, @cd_item_receb_sd, @cd_item_pagto_sd, @cd_item_ext_receb, 
			        @cd_item_ext_pagto, @cd_item_nao_fat, @cd_item_ir, @cd_item_pago_cli, @cd_item_cofins_retencao ) AND
         ISNULL( CD_ITEM_NAO_FAT, '' ) <> '*' AND
         FAT.TP_TIPO_FAT = 'N' AND
         F.CD_FORMA_PAGTO <> 'L' AND
	 F.IN_RESTITUI = 1 
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLIC_FAT, F.NR_PROCESSO, E.CD_GRUPO

-- Recebimentos de Saldos provenientes de fatura
-- ALTERAR EM sp_rel_emitido_cancelado
-- Pela Solicitacao
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
  SELECT @nr_identificador NR_IDENTIFICADOR, L.DT_LIQUIDACAO, 
         'S/ PAGTO - PROCESSO Nº ' + SUBSTRING( FP.NR_PROCESSO, 5, 14 ),
         FP.NR_PROCESSO, 
         F.NR_NOTA_FATURA + '  ' NR_DOCTO,
         ROUND( @vl_zero, 2 ) VL_DEBITO,
         ABS( ROUND( ISNULL( L.VL_LIQUIDACAO, 0 ), 2 ) ) VL_CREDITO, E.CD_GRUPO
  FROM   TS_FATURA F ( NOLOCK ),
         TS_FATURA_PROCESSO FP ( NOLOCK ),
         TPROCESSO P ( NOLOCK ),
        TEMPRESA_NAC E ( NOLOCK ),
         TLIQUIDACAO L ( NOLOCK )
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         L.CD_UNID_NEG = FP.CD_UNID_NEG AND
         L.CD_PRODUTO = FP.CD_PRODUTO AND
         L.NR_SOLIC_FAT = FP.NR_SOLICITACAO AND
         L.NR_PROCESSO = FP.NR_PROCESSO AND
         ISNULL( L.NR_SOLIC_FAT, '' ) <> '' AND
         L.IN_CANCELADO = '0' AND
         F.IN_CANCELADO = '0' AND
         F.IN_LIQ_AUT = '0' AND
         L.TP_LIQUIDACAO = 'R' AND
         L.CD_FORMA_PAGTO <> 'L' AND
         ( ISNULL( F.NR_NOTA_FATURA, '' ) <> '' ) AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         ( ( P.CD_PRODUTO IN ( @cd_tipo1, @cd_tipo2 ) ) OR ( 'XX' = @cd_tipo1 ) ) AND
         L.DT_LIQUIDACAO BETWEEN @dt_saldo_inicial AND @dt_fim AND
         ROUND( ISNULL( L.VL_LIQUIDACAO, 0 ), 2 ) > 0 AND
      	 ISNULL(F.NR_RELATORIO,'') = '' AND ISNULL(F.NR_ANO,'') = '' 

-- Pelo Nº Liquidação
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
  SELECT @nr_identificador NR_IDENTIFICADOR, L.DT_LIQUIDACAO, 
         CASE
           WHEN ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) > 0 THEN 'S/ PAGTO - PROCESSO Nº ' + SUBSTRING( FP.NR_PROCESSO, 5, 14 )
           ELSE 'N/ PAGTO - PROCESSO Nº ' + SUBSTRING( FP.NR_PROCESSO, 5, 14 )
         END,
         FP.NR_PROCESSO, 
         F.NR_NOTA_FATURA + '  ' NR_DOCTO,
         CASE
           WHEN ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) > 0 THEN ROUND( @vl_zero, 2 ) 
           ELSE ABS( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) )
         END VL_DEBITO,
         CASE
           WHEN ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) > 0 THEN ABS( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) ) 
           ELSE ROUND( @vl_zero, 2 ) 
         END VL_CREDITO, E.CD_GRUPO
  FROM   TS_FATURA F ( NOLOCK ),
         TS_FATURA_PROCESSO FP ( NOLOCK ),
         TPROCESSO P ( NOLOCK ),
         TEMPRESA_NAC E ( NOLOCK ),
         TLIQUIDACAO L ( NOLOCK )
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         L.NR_PROCESSO_LIQ = FP.NR_PROCESSO_LIQ AND
         L.NR_LIQUIDACAO_LIQ = FP.NR_LIQUIDACAO AND
         L.NR_PROCESSO = FP.NR_PROCESSO AND
         ISNULL( L.NR_SOLIC_FAT, '' ) = '' AND
         L.IN_CANCELADO = '0' AND
         F.IN_CANCELADO = '0' AND
         F.IN_LIQ_AUT = '0' AND
         L.CD_FORMA_PAGTO <> 'L' AND
         ( ISNULL( F.NR_NOTA_FATURA, '' ) <> '' ) AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         ( ( P.CD_PRODUTO IN ( @cd_tipo1, @cd_tipo2 ) ) OR ( 'XX' = @cd_tipo1 ) ) AND
         L.DT_LIQUIDACAO BETWEEN @dt_saldo_inicial AND @dt_fim AND
         E.CD_GRUPO = '002' AND
         ISNULL(F.NR_RELATORIO,'') = '' AND ISNULL(F.NR_ANO,'') = '' 
UNION
  SELECT @nr_identificador NR_IDENTIFICADOR, L.DT_LIQUIDACAO, 
         CASE
           WHEN ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) > 0 THEN 'S/ PAGTO - PROCESSO Nº ' + SUBSTRING( FP.NR_PROCESSO, 5, 14 )
           ELSE 'N/ PAGTO - PROCESSO Nº ' + SUBSTRING( FP.NR_PROCESSO, 5, 14 )
         END,
         FP.NR_PROCESSO, 
         F.NR_NOTA_FATURA + '  ' NR_DOCTO,
         CASE
           WHEN ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) > 0 THEN ROUND( @vl_zero, 2 ) 
           ELSE ABS( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) )
         END VL_DEBITO,
         CASE
           WHEN ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) > 0 THEN ABS( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) ) 
           ELSE ROUND( @vl_zero, 2 ) 
         END VL_CREDITO, E.CD_GRUPO
  FROM   TS_FATURA F ( NOLOCK ),
         TS_FATURA_PROCESSO FP ( NOLOCK ),
         TPROCESSO P ( NOLOCK ),
         TEMPRESA_NAC E ( NOLOCK ),
         TLIQUIDACAO L ( NOLOCK )
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         L.NR_PROCESSO_LIQ = FP.NR_PROCESSO_LIQ AND
         L.NR_LIQUIDACAO_LIQ = FP.NR_LIQUIDACAO AND
         L.NR_PROCESSO = FP.NR_PROCESSO AND
         ISNULL( L.NR_SOLIC_FAT, '' ) = '' AND
         L.IN_CANCELADO = '0' AND
         F.IN_CANCELADO = '0' AND
         F.IN_LIQ_AUT = '0' AND
         L.CD_FORMA_PAGTO <> 'L' AND
         ( ISNULL( F.NR_NOTA_FATURA, '' ) <> '' ) AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         ( ( P.CD_PRODUTO IN ( @cd_tipo1, @cd_tipo2 ) ) OR ( 'XX' = @cd_tipo1 ) ) AND
         L.DT_LIQUIDACAO BETWEEN @dt_saldo_inicial AND @dt_fim AND
         E.CD_GRUPO <> '002'

-- Pagamentos de Saldos provenientes de fatura
-- Pela Solicitacao
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
  SELECT @nr_identificador NR_IDENTIFICADOR, L.DT_LIQUIDACAO, 
         'N/ PAGTO - PROCESSO Nº ' + SUBSTRING( FP.NR_PROCESSO, 5, 14 ),
         FP.NR_PROCESSO, 
         F.NR_NOTA_FATURA + '  ' NR_DOCTO,
         ABS( ROUND( ISNULL( L.VL_LIQUIDACAO, 0 ), 2 ) ) VL_DEBITO,
         ROUND( @vl_zero, 2 ) VL_CREDITO, E.CD_GRUPO
  FROM   TS_FATURA F ( NOLOCK ),
         TS_FATURA_PROCESSO FP ( NOLOCK ),
         TPROCESSO P ( NOLOCK ),
         TEMPRESA_NAC E ( NOLOCK ),
         TLIQUIDACAO L ( NOLOCK )
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         L.CD_UNID_NEG = FP.CD_UNID_NEG AND
         L.CD_PRODUTO = FP.CD_PRODUTO AND
         L.NR_SOLIC_FAT = FP.NR_SOLICITACAO AND
         L.NR_PROCESSO = FP.NR_PROCESSO AND
         ISNULL( L.NR_SOLIC_FAT, '' ) <> '' AND
         L.IN_CANCELADO = '0' AND
         F.IN_CANCELADO = '0' AND
         F.IN_LIQ_AUT = '0' AND
         L.TP_LIQUIDACAO = 'P' AND
         L.CD_FORMA_PAGTO <> 'L' AND
         ( ISNULL( F.NR_NOTA_FATURA, '' ) <> '' ) AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         ( ( P.CD_PRODUTO IN ( @cd_tipo1, @cd_tipo2 ) ) OR ( 'XX' = @cd_tipo1 ) ) AND
         L.DT_LIQUIDACAO BETWEEN @dt_saldo_inicial AND @dt_fim AND
         ROUND( ISNULL( L.VL_LIQUIDACAO, 0 ), 2 ) < 0 AND
      	 ISNULL(F.NR_RELATORIO,'') = '' AND ISNULL(F.NR_ANO,'') = '' 

/*
-- Pelo Nº Liquidação
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO )
  SELECT @nr_identificador NR_IDENTIFICADOR, L.DT_LIQUIDACAO, 
         'N/ PAGTO - PROCESSO Nº ' + SUBSTRING( FP.NR_PROCESSO, 5, 14 ),
         FP.NR_PROCESSO, 
         F.NR_NOTA_FATURA + '  ' NR_DOCTO,
         ABS( ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) ) VL_DEBITO,
         ROUND( @vl_zero, 2 ) VL_CREDITO
  FROM   TS_FATURA F ( NOLOCK ),
         TS_FATURA_PROCESSO FP ( NOLOCK ),
         TPROCESSO P ( NOLOCK ),
         TEMPRESA_NAC E ( NOLOCK ),
         TLIQUIDACAO L ( NOLOCK )
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         L.NR_PROCESSO = FP.NR_PROCESSO_LIQ AND
         L.NR_LIQUIDACAO = FP.NR_LIQUIDACAO AND
         ISNULL( L.NR_SOLIC_FAT, '' ) = '' AND
         L.IN_CANCELADO = '0' AND
         F.IN_CANCELADO = '0' AND
         F.IN_LIQ_AUT = '0' AND
         L.TP_LIQUIDACAO = 'P' AND
         L.CD_FORMA_PAGTO <> 'L' AND
         ( ISNULL( F.NR_NOTA_FATURA, '' ) <> '' ) AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         L.DT_LIQUIDACAO BETWEEN @dt_saldo_inicial AND @dt_fim AND
         ROUND( ISNULL( FP.VL_LIQUIDACAO, 0 ), 2 ) < 0
*/

-- Numerários
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
  SELECT @nr_identificador NR_IDENTIFICADOR, DT_LANCAMENTO, 
         LTRIM( RTRIM( I.NM_ITEM ) ) + ' - PROCESSO Nº ' + SUBSTRING( F.NR_PROCESSO, 5, 14 ),
         F.NR_PROCESSO, 
         '  ' NR_DOCTO,
         ROUND(
         CASE F.CD_ITEM
            WHEN ( @CD_ITEM_DEVOL_NUM ) THEN
               CASE F.IN_RESTITUI 
                 WHEN '0' THEN ( ISNULL( F.VL_ITEM, 0 ) )
                 ELSE 0
               END
            WHEN ( @CD_ITEM_EXTOR_NUM ) THEN
               ( ISNULL( F.VL_ITEM, 0 ) )
            WHEN ( @CD_ITEM_PAGTO_SD ) THEN
               ( ISNULL( F.VL_ITEM, 0 ) )
            WHEN ( @CD_ITEM_EXT_RECEB ) THEN
               ( ISNULL( F.VL_ITEM, 0 ) )
            ELSE @vl_zero
         END, 2 ) VL_DEBITO,
         ROUND(
         CASE F.CD_ITEM
            WHEN ( @CD_ITEM_DEVOL_NUM ) THEN
               CASE F.IN_RESTITUI 
                 WHEN '1' THEN ( ISNULL( F.VL_ITEM, 0 ) )
                 ELSE 0
               END
            WHEN ( @CD_ITEM_RECEB_NUM ) THEN
               ( ISNULL( F.VL_ITEM, 0 ) )
          WHEN ( @CD_ITEM_RECEB_SD ) THEN
               ( ISNULL( F.VL_ITEM, 0 ) )
            WHEN ( @CD_ITEM_EXT_PAGTO ) THEN
               ( ISNULL( F.VL_ITEM, 0 ) )
            ELSE @vl_zero
         END, 2 ) VL_CREDITO, E.CD_GRUPO
  FROM   TFATURAMENTO_CC F ( NOLOCK ),
         TPROCESSO P ( NOLOCK ),
         TEMPRESA_NAC E ( NOLOCK ),
         TCLIENTE_HABILITACAO H ( NOLOCK ),
         TITEM I ( NOLOCK )
  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_CANCELADO = '0' AND
--         F.IN_FATURADO = '1' AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         ( ( P.CD_PRODUTO IN ( @cd_tipo1, @cd_tipo2 ) ) OR ( 'XX' = @cd_tipo1 ) ) AND
         F.DT_LANCAMENTO BETWEEN @dt_saldo_inicial AND @dt_fim AND
         ( F.CD_ITEM IN ( @cd_item_receb_num, @cd_item_extor_num, @cd_item_devol_num ) )

--NOTAS ADM
SELECT A.DT_PAGTO, A.NR_DOCTO, ( ISNULL( A.VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ) VL_LANCAMENTO, TP_NATUREZA, E.CD_GRUPO
INTO   #TMP_REL_CC_CLI_ADM
FROM   TADM A ( NOLOCK ),
       TFAVORECIDO F ( NOLOCK ), 
       TEMPRESA_NAC E ( NOLOCK )
WHERE  A.CD_FAVORECIDO = F.CD_FAVORECIDO AND
       F.CGC_EMPRESA = E.CGC_EMPRESA AND
       A.CD_STATUS_ADM IN ( '7', '18' ) AND
       @cd_unid_neg IN ( A.CD_UNID_NEG, 'X' )AND
       @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
       A.DT_PAGTO BETWEEN @dt_saldo_inicial AND @dt_fim AND
       A.TP_LANCAMENTO = 'N'
GROUP BY E.CD_GRUPO, A.DT_PAGTO, A.NR_DOCTO, A.VL_LANCTO, A.VL_DESCONTO, A.TP_NATUREZA
ORDER BY A.DT_PAGTO

INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
SELECT @nr_identificador NR_IDENTIFICADOR, DT_PAGTO DT_LANCAMENTO, 'NOTA DE DÉBITO Nº ' + NR_DOCTO NM_ITEM, NR_DOCTO NR_PROCESSO, 
       NR_DOCTO, ROUND( SUM( VL_LANCAMENTO ), 2 ) VL_DEBITO, @vl_zero VL_CREDITO, CD_GRUPO
FROM   #TMP_REL_CC_CLI_ADM
WHERE  TP_NATUREZA = 'C'
GROUP BY DT_PAGTO, NR_DOCTO, CD_GRUPO

INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
SELECT @nr_identificador NR_IDENTIFICADOR, DT_PAGTO DT_LANCAMENTO, 'NOTA DE CRÉDITO Nº ' + NR_DOCTO NM_ITEM, NR_DOCTO NR_PROCESSO, 
       NR_DOCTO, @vl_zero VL_DEBITO, ROUND( SUM( VL_LANCAMENTO ), 2 ) VL_CREDITO, CD_GRUPO
FROM   #TMP_REL_CC_CLI_ADM
WHERE  TP_NATUREZA = 'D'
GROUP BY DT_PAGTO, NR_DOCTO, CD_GRUPO

--Remessas do Relatório de Reembolso Por Cliente
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
SELECT @nr_identificador NR_IDENTIFICADOR, ( DT_EMISSAO + 1 ) DT_LANCAMENTO, 
       ( 'REMESSA CLIENTE: ' + LTRIM( RTRIM( ISNULL( AP_EMPRESA, '' ) ) ) + ' - ' + NR_RELATORIO + '/' + NR_ANO ) NM_ITEM, '' NR_PROCESSO, ( NR_RELATORIO + '/' + NR_ANO ) NR_DOCTO, 
       @vl_zero VL_DEBITO, VL_REEMBOLSO VL_CREDITO, E.CD_GRUPO
FROM   TREL_FIN_CONTROLE C, TEMPRESA_NAC E (NOLOCK)
WHERE  DT_EMISSAO BETWEEN @dt_saldo_inicial AND @dt_fim AND
       C.CD_CLIENTE = E.CD_EMPRESA AND
       @cd_unid_neg IN ( CD_UNID_NEG, 'X' ) AND
       @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( CD_CLIENTE, 'X' ) AND
       ISNULL( VL_REEMBOLSO, 0 ) > 0

--Remessas do Relatório de Reembolso Por Grupo
INSERT #TMP_REL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
SELECT @nr_identificador NR_IDENTIFICADOR, ( DT_EMISSAO + 1 ) DT_LANCAMENTO, 
       ( 'REMESSA GRUPO: ' + LTRIM( RTRIM( ISNULL( NM_GRUPO, '' ) ) ) + ' - ' + NR_RELATORIO + '/' + NR_ANO ) NM_ITEM, '' NR_PROCESSO, ( NR_RELATORIO + '/' + NR_ANO ) NR_DOCTO, 
       @vl_zero VL_DEBITO, VL_REEMBOLSO VL_CREDITO, C.CD_GRUPO
FROM   TREL_FIN_CONTROLE C, TGRUPO G (NOLOCK)
WHERE  DT_EMISSAO BETWEEN @dt_saldo_inicial AND @dt_fim AND
       C.CD_GRUPO = G.CD_GRUPO AND
       @cd_unid_neg IN ( CD_UNID_NEG, 'X' ) AND
       @cd_grupo IN ( C.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( CD_CLIENTE, 'X' ) AND
       ISNULL( VL_REEMBOLSO, 0 ) > 0

DELETE TREL_CC_CLI
WHERE  NR_IDENTIFICADOR = @nr_identificador

INSERT TREL_CC_CLI ( NR_IDENTIFICADOR, DT_LANCAMENTO, NM_ITEM, NR_PROCESSO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO )
SELECT TMP.NR_IDENTIFICADOR, TMP.DT_LANCAMENTO, TMP.NM_ITEM, TMP.NR_PROCESSO, TMP.NR_DOCTO, SUM( TMP.VL_DEBITO ), 
       SUM( TMP.VL_CREDITO ), TMP.CD_GRUPO 
FROM   #TMP_REL_CC_CLI TMP
GROUP BY TMP.NR_IDENTIFICADOR, TMP.DT_LANCAMENTO, TMP.NM_ITEM, TMP.NR_PROCESSO, TMP.NR_DOCTO, TMP.CD_GRUPO
ORDER BY TMP.DT_LANCAMENTO

--Determinando saldo inicial
SELECT @vl_saldo = 0
DECLARE @dt_saldo_existente datetime

IF @cd_cliente <> 'X' --Por cliente
  BEGIN
    SELECT @dt_saldo_existente = MAX( DT_SALDO )
    FROM   TSALDO_CC_CLI (NOLOCK)
    WHERE  CD_UNID_NEG = @cd_unid_neg AND
           CD_CLIENTE = @cd_cliente AND
           DT_SALDO < @dt_saldo_inicial

    SELECT @vl_saldo = ISNULL( VL_SALDO, 0 )
    FROM   TSALDO_CC_CLI (NOLOCK)
    WHERE  CD_UNID_NEG = @cd_unid_neg AND           CD_CLIENTE = @cd_cliente AND
           DT_SALDO = @dt_saldo_existente
  END

-- Variáveis usadas no cursor
DECLARE @dt_lancamento datetime,
	@nr_docto char(8),
	@vl_debito float,
	@vl_credito float, 
	@cd_empresa char(5),
	@new_cd_grupo char(3),
	@ct int

set @ct = 0

DECLARE c_rel_cc_cli CURSOR FOR
  SELECT DT_LANCAMENTO, NR_DOCTO, VL_DEBITO, VL_CREDITO, CD_GRUPO
  FROM   TREL_CC_CLI
  WHERE  NR_IDENTIFICADOR = @nr_identificador
  ORDER BY CD_GRUPO, DT_LANCAMENTO, NM_ITEM
OPEN c_rel_cc_cli
FETCH c_rel_cc_cli INTO 
   @dt_lancamento, @nr_docto, @vl_debito, @vl_credito, @cd_grupo
WHILE @@fetch_status = 0
BEGIN

  IF @cd_cliente <> 'X' --Por cliente
    BEGIN
      -- Calcula o valor do saldo por cliente
      SET @vl_saldo = ISNULL(@vl_saldo + ROUND( @vl_credito, 2 ) - ROUND( @vl_debito, 2 ),0)

      DELETE TSALDO_CC_CLI
      WHERE  CD_UNID_NEG = @cd_unid_neg AND
             CD_CLIENTE = @cd_cliente AND
             DT_SALDO = @dt_lancamento

      INSERT TSALDO_CC_CLI( CD_UNID_NEG, CD_CLIENTE, DT_SALDO, VL_SALDO )
      VALUES ( @cd_unid_neg, @cd_cliente, @dt_lancamento, @vl_saldo) 

    END
  ELSE
    BEGIN
       SET @ct = @ct + 1

       -- Se o relatório é por um único grupo ou se o relatório é por N Grupos 
       IF (@new_cd_grupo <> @cd_grupo) OR @ct = 1
         BEGIN
	   SELECT @dt_saldo_existente = ISNULL(MAX( DT_SALDO ),0)
           FROM TSALDO_CC_GRUPO (NOLOCK)
           WHERE CD_UNID_NEG = @cd_unid_neg AND
              CD_GRUPO = @cd_grupo AND
              DT_SALDO < @dt_saldo_inicial

	   SELECT @vl_saldo = ISNULL( VL_SALDO, 0 )
           FROM TSALDO_CC_GRUPO (NOLOCK)
           WHERE CD_UNID_NEG = @cd_unid_neg AND
             CD_GRUPO = @cd_grupo AND
             DT_SALDO = @dt_saldo_existente

         END

      -- Calcula o valor do saldo por grupo
      SET @vl_saldo = ISNULL(@vl_saldo + ROUND( @vl_credito, 2 ) - ROUND( @vl_debito, 2 ),0)

      DELETE TSALDO_CC_GRUPO
      WHERE CD_UNID_NEG = @cd_unid_neg AND
        CD_GRUPO = @cd_grupo AND
        DT_SALDO = @dt_lancamento 

      INSERT TSALDO_CC_GRUPO( CD_UNID_NEG, CD_GRUPO, DT_SALDO, VL_SALDO )
      VALUES ( @cd_unid_neg, @cd_grupo, @dt_lancamento, @vl_saldo)

      SET @new_cd_grupo = @cd_grupo
    END

      -- Atualiza o valor do saldo na temporária
      UPDATE TREL_CC_CLI
      SET VL_SALDO = @vl_saldo
      WHERE CURRENT OF c_rel_cc_cli

  FETCH c_rel_cc_cli INTO 
     @dt_lancamento, @nr_docto, @vl_debito, @vl_credito, @cd_grupo
END

CLOSE c_rel_cc_cli
DEALLOCATE c_rel_cc_cli

DELETE TREL_CC_CLI
WHERE  DT_LANCAMENTO < @dt_inicio

DROP TABLE #TMP_REL_CC_CLI
DROP TABLE #TMP_REL_CC_CLI_ADM











GO
