USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_calc_energia    Script Date: 02/09/1999 08:58:58 AM ******/
CREATE PROCEDURE [sp_calc_energia]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_armazem   char(4)
DECLARE @tp_taxa       char(1)
DECLARE @erro  int
SELECT  @Resultado  = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_armazem  = CD_ARMAZEM_DESCARGA
FROM   TPROCESSO 
WHERE  ( NR_PROCESSO = @nr_processo ) 
IF @@rowcount = 0
BEGIN
  -- Processo nao cadastrado
  RETURN(1)
END
ELSE
BEGIN
  SELECT @tp_taxa = TP_TAXA
  FROM   TARMAZEM
  WHERE  CD_ARMAZEM = @cd_armazem
  IF @@rowcount = 0
  BEGIN
    -- Armaz'm nao cadastrado
    RETURN(2)
  END
  ELSE
  BEGIN
    IF @tp_taxa = '2' EXEC @erro = sp_calc_energia_tra @nr_processo, @cd_item, @Resultado output
    -- Taxa TRA nao cadastrada
    IF @erro = 2 RETURN(3)
    RETURN(0)
  END
END



GO
