USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_saldo_fluxo_cx]  AS

/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo              char(18)
DECLARE @vl_fatura                float
DECLARE @cd_unid                  char(2)
DECLARE @cd_prod                  char(2)
DECLARE @nr_solic                 char(6)
DECLARE @vl_receita               float
DECLARE @vl_tot_tributavel        float
DECLARE @vl_saldo                 float
DECLARE @vl_saldo_ant             float
DECLARE @vl_comissao              float
DECLARE @vl_sub_tot_tributavel    float
DECLARE @dt_fatura                datetime
DECLARE @dt_solicitacao           datetime
DECLARE @nr_identificador_rec     int

DECLARE @cd_item_receb_num        char(3)
DECLARE @cd_item_devol_num        char(3)
DECLARE @cd_item_extor_num        char(3)
DECLARE @cd_item_saldo_cre        char(3)
DECLARE @cd_item_saldo_deb        char(3)
DECLARE @cd_item_receb_sd         char(3)
DECLARE @cd_item_pagto_sd         char(3)
DECLARE @cd_item_ext_receb        char(3)
DECLARE @cd_item_ext_pagto        char(3)
DECLARE @cd_item_nao_fat          char(3)
DECLARE @cd_item_ir               char(3)
DECLARE @cd_item_cofins_retencao  char(3)
DECLARE @cd_item_comissao         char(3)
DECLARE @cd_item_pago_cli         char(3)
DECLARE @cd_item_pis_cofins       char(3)

DECLARE @cd_unid_neg              char(2)  
DECLARE @dt_calc                  datetime
DECLARE @vl_saldo_inicial         float
DECLARE @vl_saldo_rec             float
DECLARE @vl_entradas              float
DECLARE @vl_saidas                float
DECLARE @vl_saida_dir             float
DECLARE @vl_saida_pro             float
DECLARE @vl_saida_real            float
DECLARE @vl_saida_prov            float
DECLARE @vl_saldo_final           float


-- Itens da TPARAMETROS
SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM,
       @cd_item_devol_num = CD_ITEM_DEVOL_NUM,
       @cd_item_extor_num = CD_ITEM_EXTOR_NUM,
       @cd_item_saldo_cre = CD_ITEM_SALDO_CRE,
       @cd_item_saldo_deb = CD_ITEM_SALDO_DEB,
       @cd_item_receb_sd = CD_ITEM_RECEB_SD,
       @cd_item_pagto_sd = CD_ITEM_PAGTO_SD,
       @cd_item_ext_receb = CD_ITEM_EXT_RECEB,
       @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO, 
       @cd_item_nao_fat = CD_ITEM_NAO_FAT,
       @cd_item_ir = CD_ITEM_IR,       
       @cd_item_cofins_retencao = CD_ITEM_COFINS_RETENCAO,
       @cd_item_comissao = CD_ITEM_COMISSAO,
       @cd_item_pago_cli = CD_ITEM_PAGO_CLI,
       @cd_item_pis_cofins = CD_ITEM_PIS_COFINS 
FROM TPARAMETROS (NOLOCK)

-- Data corrente
SELECT @dt_calc = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )

SELECT CD_UNID_NEG
INTO #TMP_UNIDADE
FROM TUNID_NEG (NOLOCK)

WHILE ( SELECT COUNT( CD_UNID_NEG ) FROM #TMP_UNIDADE ) <> 0
BEGIN
  SELECT @cd_unid_neg = CD_UNID_NEG
  FROM #TMP_UNIDADE

  -- ENTRADAS
  SELECT @nr_identificador_rec = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1 FROM TREL_REC_LIQ

  SELECT @vl_saldo = 0
  SELECT @vl_saldo_inicial = 0 
  SELECT @vl_entradas = 0 
  SELECT @vl_saldo_rec = 0
  SELECT @vl_saidas = 0
  SELECT @vl_saida_dir = 0
  SELECT @vl_saida_pro = 0
  SELECT @vl_saida_real = 0
  SELECT @vl_saida_prov = 0
  SELECT @vl_saldo_final = 0

  -- Seleciona o valor do saldo do dia anterior
  SELECT @vl_saldo_inicial = ISNULL( VL_SALDO, 0 )
  FROM TSALDO_FLX_CX (NOLOCK)
  WHERE CD_UNID_NEG = @cd_unid_neg
    AND DT_MOVIMENTO = DATEADD( day, -1, @dt_calc )

  -- EMISSÃO
  DECLARE c_rec CURSOR FOR
    SELECT P.NR_PROCESSO, F.VL_FATURA, F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, F.DT_FATURA
    FROM   TS_FATURA F (NOLOCK)
           INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON ( F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO = FP.CD_PRODUTO AND F.NR_SOLICITACAO = FP.NR_SOLICITACAO )
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.NR_PROCESSO = FP.NR_PROCESSO ) 
           INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )
           LEFT JOIN TGRUPO G (NOLOCK) ON ( P.CD_GRUPO = G.CD_GRUPO )
    WHERE  F.DT_FATURA = @dt_calc
      AND  @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' )
      AND  F.IN_CANCELADO = '0'
  OPEN c_rec
  FETCH c_rec INTO @nr_processo, @vl_fatura, @cd_unid, @cd_prod, @nr_solic, @dt_fatura 
  WHILE @@fetch_status = 0
  BEGIN
    -- tot_tributavel
    SELECT @vl_sub_tot_tributavel =
           ISNULL( ROUND( SUM(
           CASE IN_RESTITUI 
             WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
             WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
           END ), 2 ), 0 )
    FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
    WHERE  FI.CD_ITEM = I.CD_ITEM AND
           I.IN_TRIBUTAVEL = '1' AND
           FI.IN_CANCELADO = '0' AND
           FI.IN_FATURADO = '1' AND
           FI.CD_UNID_NEG = @cd_unid AND
           FI.CD_PRODUTO = @cd_prod AND
           FI.NR_SOLIC_FAT = @nr_solic AND
           ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
           FI.CD_ITEM NOT IN ( @cd_item_receb_num, @cd_item_devol_num, @cd_item_extor_num, @cd_item_saldo_cre, @cd_item_saldo_deb, @cd_item_receb_sd, @cd_item_pagto_sd, @cd_item_ext_receb,
                               @cd_item_ext_pagto, @cd_item_nao_fat, @cd_item_ir, @cd_item_cofins_retencao, @cd_item_comissao, @cd_item_pago_cli, @cd_item_pis_cofins ) 

    --comissão
    SELECT @vl_comissao =
           ISNULL( ROUND( SUM(
           CASE IN_RESTITUI 
             WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
             WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
           END ), 2 ), 0 )
    FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
    WHERE  FI.CD_ITEM = I.CD_ITEM AND
           FI.IN_CANCELADO = '0' AND
           FI.IN_FATURADO = '1' AND
           FI.CD_UNID_NEG = @cd_unid AND
           FI.CD_PRODUTO = @cd_prod AND
           FI.NR_SOLIC_FAT = @nr_solic AND
           FI.CD_ITEM = @cd_item_comissao

    SELECT @vl_tot_tributavel = ISNULL( @vl_sub_tot_tributavel, 0 ) + ISNULL( @vl_comissao, 0 )
    SELECT @vl_receita = 0
    SELECT @vl_saldo = 0

    IF @vl_fatura > 0                                             -- saldo credor
      SELECT @vl_receita = @vl_tot_tributavel
    ELSE
    BEGIN
      IF ( @vl_fatura * (-1) ) < @vl_tot_tributavel               -- saldo devedor e MENOR que valor tributário
        SELECT @vl_receita = @vl_tot_tributavel - ( @vl_fatura * (-1) ) 
      ELSE
      BEGIN 
        IF @vl_fatura = 0                                         -- saldo zerado
          SELECT @vl_receita = @vl_tot_tributavel
      END 
    END
   
    INSERT INTO TREL_REC_LIQ ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO, DT_MOVIMENTO )
    VALUES ( @nr_identificador_rec, @cd_unid, '', @cd_prod, '', SUBSTRING( @nr_processo, 5, 2 ), @vl_receita, 0, @dt_fatura )

    SELECT @vl_tot_tributavel = 0

    FETCH c_rec INTO @nr_processo, @vl_fatura, @cd_unid, @cd_prod, @nr_solic, @dt_fatura 
  END
  CLOSE c_rec
  DEALLOCATE c_rec

  -- LIQUIDAÇÃO
  DECLARE c_liq CURSOR FOR
    SELECT P.NR_PROCESSO, F.VL_FATURA, F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, F.DT_LIQUIDACAO
    FROM   TS_FATURA F (NOLOCK)
           INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON ( F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO = FP.CD_PRODUTO AND F.NR_SOLICITACAO = FP.NR_SOLICITACAO )
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.NR_PROCESSO = FP.NR_PROCESSO ) 
           INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )
           LEFT JOIN TGRUPO G (NOLOCK) ON ( P.CD_GRUPO = G.CD_GRUPO )
    WHERE  F.DT_LIQUIDACAO = @dt_calc
      AND  @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' )
      AND  F.IN_CANCELADO = '0'
  OPEN c_liq
  FETCH c_liq INTO @nr_processo, @vl_fatura, @cd_unid, @cd_prod, @nr_solic, @dt_solicitacao  
  WHILE @@fetch_status = 0
  BEGIN
    -- tot_tributavel
    SELECT @vl_sub_tot_tributavel =
           ISNULL( ROUND( SUM(
           CASE IN_RESTITUI 
             WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
             WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
           END ), 2 ), 0 )
    FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
    WHERE  FI.CD_ITEM = I.CD_ITEM AND
           I.IN_TRIBUTAVEL = '1' AND
           FI.IN_CANCELADO = '0' AND
           FI.IN_FATURADO = '1' AND
           FI.CD_UNID_NEG = @cd_unid AND
           FI.CD_PRODUTO = @cd_prod AND
           FI.NR_SOLIC_FAT = @nr_solic AND
           ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
           FI.CD_ITEM NOT IN ( @cd_item_receb_num, @cd_item_devol_num, @cd_item_extor_num, @cd_item_saldo_cre, @cd_item_saldo_deb, @cd_item_receb_sd, @cd_item_pagto_sd, @cd_item_ext_receb,
                               @cd_item_ext_pagto, @cd_item_nao_fat, @cd_item_ir, @cd_item_cofins_retencao, @cd_item_comissao, @cd_item_pago_cli, @cd_item_pis_cofins ) 

    --comissão
    SELECT @vl_comissao =
           ISNULL( ROUND( SUM(
           CASE IN_RESTITUI 
             WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
             WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
           END ), 2 ), 0 )
    FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
    WHERE  FI.CD_ITEM = I.CD_ITEM AND
           FI.IN_CANCELADO = '0' AND
           FI.IN_FATURADO = '1' AND
           FI.CD_UNID_NEG = @cd_unid AND
           FI.CD_PRODUTO = @cd_prod AND
           FI.NR_SOLIC_FAT = @nr_solic AND
           FI.CD_ITEM = @cd_item_comissao

    SELECT @vl_tot_tributavel = ISNULL( @vl_sub_tot_tributavel, 0 ) + ISNULL( @vl_comissao, 0 )
    SELECT @vl_receita = 0
    SELECT @vl_saldo = 0

    IF @vl_fatura > 0                                             -- saldo credor
      SELECT @vl_saldo = @vl_fatura
    ELSE
    BEGIN
      IF ( @vl_fatura * (-1) ) > @vl_tot_tributavel               -- saldo devedor e maior que valor tributário
      BEGIN
        SELECT @vl_receita = @vl_tot_tributavel
        SELECT @vl_saldo = ( @vl_fatura * (-1) ) - @vl_tot_tributavel   
      END
      ELSE
      BEGIN  
        IF @vl_fatura <> 0                                        -- saldo devedor e MENOR que valor tributário 
        BEGIN                                                      
          SELECT @vl_receita = ( @vl_fatura * (-1) ) 
          SELECT @vl_saldo = 0
        END
      END
    END

    SELECT @vl_saldo_ant = ISNULL( SUM( VL_SALDO ), 0 ) FROM TREL_REC_LIQ WHERE NR_PROCESSO = @nr_processo

    IF ( @vl_saldo_ant ) > 0
    BEGIN
      UPDATE TREL_REC_LIQ
      SET VL_SALDO = @vl_saldo + @vl_saldo_ant
      WHERE NR_IDENTIFICADOR = @nr_identificador_rec
        AND NR_PROCESSO = @nr_processo
    END
    ELSE
    BEGIN
      INSERT INTO TREL_REC_LIQ ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO, DT_MOVIMENTO )
      VALUES ( @nr_identificador_rec, @cd_unid, '', @cd_prod, '', SUBSTRING( @nr_processo, 5, 2 ), @vl_receita, 0, @dt_solicitacao )
    END

    SELECT @vl_tot_tributavel = 0
  
    FETCH c_liq INTO @nr_processo, @vl_fatura, @cd_unid, @cd_prod, @nr_solic, @dt_solicitacao  
  END

  CLOSE c_liq
  DEALLOCATE c_liq

  DELETE FROM TREL_REC_LIQ WHERE VL_RECEITA = 0 AND VL_SALDO = 0

  -- ENTRADAS
  SELECT @vl_saldo_rec = ISNULL( SUM( VL_RECEITA ), 0 )
  FROM TREL_REC_LIQ 
  WHERE NR_IDENTIFICADOR = @nr_identificador_rec


  DELETE FROM TREL_REC_LIQ WHERE NR_IDENTIFICADOR = @nr_identificador_rec
  
  --=====================================================================================================================         
  -- SAÍDAS

  -- PAGO - Direto Caixa
  SELECT @vl_saida_dir = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
    FROM TCAIXA C (NOLOCK)
         INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA ) 
   WHERE C.DT_MOVIMENTO = @dt_calc
     AND ( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
     AND CT.CD_CT_CONTABIL_PAI IN ( '6410100001', '6410300000', '6110100005', '6410200005', '2111100005', '6210100007',
                                    '6310100009', '1121100007', '1120400007', '1120500001', '1120300002', '1121300006',
                                    '6410400004', '2110800003', '6120200002' )
     AND ISNULL( NR_PROCESSO, '' ) = '' 


  -- PAGO - Provisionado 
  SELECT @vl_saida_pro = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM TCTAAPAGAR C (NOLOCK)
         INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
         INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA) 
   WHERE C.DT_PAGAMENTO = @dt_calc
     AND ( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
     AND CT.CD_CT_CONTABIL_PAI IN ( '6410100001', '6410300000', '6110100005', '6410200005', '2111100005', '6210100007',
                                    '6310100009', '1121100007', '1120400007', '1120500001', '1120300002', '1121300006',
                                    '6410400004', '2110800003', '6120200002' )


  --SAIDAS REAIS - ANALÍTICO
  -- REAIS
  SELECT @vl_saida_real = ISNULL( SUM ( C.VL_LANCAMENTO ), 0 )
  FROM  TCAIXA C (NOLOCK) 
       INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
  WHERE C.DT_MOVIMENTO = @dt_calc
    AND ISNULL( C.NR_PROCESSO, '' ) = '' 
    AND ( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
    AND CT.CD_CT_CONTABIL_PAI IN ( '6410100001', '6410300000', '6110100005', '6410200005', '2111100005', '6210100007',
                                   '6310100009', '1121100007', '1120400007', '1120500001', '1120300002', '1121300006',
                                   '6410400004', '2110800003', '6120200002' )

  -- PROVISIONADO
  SELECT @vl_saida_prov = ISNULL( SUM( C.VL_LIQUIDO ), 0 ) 
  FROM   TCTAAPAGAR C (NOLOCK)
       INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
       INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
  WHERE C.DT_PAGAMENTO = @dt_calc
    AND ( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
    AND CT.CD_CT_CONTABIL_PAI IN ( '6410100001', '6410300000', '6110100005', '6410200005', '2111100005', '6210100007',
                                   '6310100009', '1121100007', '1120400007', '1120500001', '1120300002', '1121300006',
                                   '6410400004', '2110800003', '6120200002' )


  -- TOTAIS
  SELECT @vl_entradas = @vl_saldo_inicial + @vl_saldo_rec 
  SELECT @vl_saidas = @vl_saida_dir + @vl_saida_pro + @vl_saida_real + @vl_saida_prov
  SELECT @vl_saldo_final = @vl_entradas - @vl_saidas

  INSERT TSALDO_FLX_CX 
         ( CD_UNID_NEG, DT_MOVIMENTO, VL_ENTRADAS, VL_SAIDAS, VL_SALDO )
  VALUES ( @cd_unid_neg, @dt_calc, @vl_entradas, @vl_saidas, @vl_saldo_final )


  DELETE FROM #TMP_UNIDADE WHERE CD_UNID_NEG = @cd_unid_neg
END

-- SELECT * FROM TSALDO_FLX_CX   WHERE DT_MOVIMENTO > '20061201'

DROP TABLE #TMP_UNIDADE



GO
