USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ORDENA_EVENTOS_NOVO](@cd_servico int, @nr_ordem_origem int, @nr_ordem_destino int) AS
BEGIN
    declare @cd_ev_futuro_origem char(3)
    declare @cd_ev_basico_origem char(3)
    declare @nr_ordem_ev_futuro_origem int
    declare @nr_ordem_ev_basico_origem int
    declare @nr_ult_ordem int
    declare @teste char

    /*
    select @cd_ev_futuro_origem       = (SELECT CD_EV_FUTURO FROM TSERVICO_EVENTO
                                         WHERE  CD_SERVICO = @cd_servico AND
                                                NR_ORDEM   = @nr_ordem_origem)
    select @cd_ev_basico_origem       = (SELECT CD_EV_BASICO FROM TSERVICO_EVENTO
                                         WHERE  CD_SERVICO = @cd_servico AND
                                                NR_ORDEM   = @nr_ordem_origem)
    select @nr_ordem_ev_futuro_origem = (SELECT NR_ORDEM FROM TSERVICO_EVENTO
                                         WHERE  CD_SERVICO = @cd_servico AND
                                                CD_EVENTO  = @cd_ev_futuro_origem)
    select @nr_ordem_ev_basico_origem = (SELECT NR_ORDEM FROM TSERVICO_EVENTO
                                         WHERE  CD_SERVICO = @cd_servico AND
                                                CD_EVENTO  = @cd_ev_basico_origem)
    select @nr_ult_ordem              = (SELECT MAX(NR_ORDEM) FROM TSERVICO_EVENTO
                                         WHERE  CD_SERVICO = @cd_servico)
    */

    -- Comentado acima e utilizando abaixo para fazer uma consulta só
    SELECT @cd_ev_basico_origem       = CD_EV_BASICO,
           @nr_ordem_ev_basico_origem = NR_ORDEM
    FROM TSERVICO_EVENTO_NOVO
    WHERE CD_SERVICO = @cd_servico
      AND CD_EVENTO  = @cd_ev_basico_origem

    SELECT @cd_ev_futuro_origem       = CD_EV_FUTURO,
           @nr_ordem_ev_futuro_origem = NR_ORDEM
    FROM TSERVICO_EVENTO_NOVO
    WHERE CD_SERVICO = @cd_servico
      AND CD_EVENTO  = @cd_ev_futuro_origem

    SELECT @nr_ult_ordem = (SELECT MAX(NR_ORDEM)
                            FROM TSERVICO_EVENTO_NOVO
                            WHERE CD_SERVICO = @cd_servico)

    /* Se (Nr Ordem Destino) existir  (0)*/
    if (SELECT COUNT(NR_ORDEM)
        FROM TSERVICO_EVENTO_NOVO
        WHERE CD_SERVICO = @cd_servico
          AND NR_ORDEM = @nr_ordem_destino) > 0
    begin
      /* Se (Nr Ordem Destino) > (Nr Ordem Origem) (1) */
      if @nr_ordem_destino > @nr_ordem_origem
      begin
        /* Se (Nr Ordem Evento Futuro da Origem ) > (Nr Ordem Destino) (3)*/
        if (@nr_ordem_ev_futuro_origem > @nr_ordem_destino) or (@nr_ordem_ev_futuro_origem is null)
        begin
          /* Se (Nr Ordem Origem = 1) e Existir Evento Base no Evento de Ordem 2 (5)*/
          if ( @nr_ordem_origem = 1 ) AND ((SELECT CD_EV_BASICO
                                            FROM TSERVICO_EVENTO_NOVO
                                            WHERE CD_SERVICO = @cd_servico
                                              AND NR_ORDEM   = 2) IS NOT NULL) AND ((SELECT CD_EV_BASICO
                                                                                     FROM TSERVICO_EVENTO
                                                                                     WHERE  CD_SERVICO = @cd_servico AND
                                                                                            NR_ORDEM   = 2) <> '')
          begin
            /* 'O primeiro evento nao pode ter evento base' */
            Return(1)
          end
          /* Senao (5)*/
          else
          begin
            /* atualiza com - 1 */
            UPDATE TSERVICO_EVENTO_NOVO
            SET NR_ORDEM = NR_ORDEM - 1
            WHERE (CD_SERVICO = @cd_servico)
              AND (NR_ORDEM <= @nr_ordem_destino)
              AND (NR_ORDEM > @nr_ordem_origem)
            Return(0)
          end
        end
        /* Senao (3)*/
        else  
        begin
          /* 'O evento futuro nao pode ter nr de ordem inferior ao do evento' */
          Return(2)
        end
      end
      /* Senao */
      else
      begin
        /* Se (Nr Ordem Destino) < (Nr Ordem Origem) (1)*/
        if @nr_ordem_destino < @nr_ordem_origem
        begin
          /* Se (Nr Ordem do Evento Base da Origem ) < (Nr Ordem Destino) (4) */
          if ( @nr_ordem_ev_basico_origem < @nr_ordem_destino ) or (@nr_ordem_ev_basico_origem is null)
          begin
            /* Se (Nr Ordem Origem = Ultimo e existir Evento Futuro no evento penoltimo) (6)*/
            if (@nr_ordem_origem = @nr_ult_ordem) AND ((SELECT CD_EV_FUTURO
                                                        FROM TSERVICO_EVENTO_NOVO
                                                        WHERE CD_SERVICO = @cd_servico
                                                        AND NR_ORDEM = (@nr_ult_ordem - 1)) IS NOT NULL) AND ((SELECT CD_EV_FUTURO
                                                                                                               FROM TSERVICO_EVENTO_NOVO
                                                                                                               WHERE CD_SERVICO = @cd_servico AND
                                                                                                                     NR_ORDEM = (@nr_ult_ordem - 1)) <> '')
            begin
              /* 'O ultimo evento nao pode ter evento futuro' */
              Return(3)
            end
            /* Senao (6)*/
            else
            begin
              /* Atualiza com + 1 */
              UPDATE TSERVICO_EVENTO_NOVO
              SET NR_ORDEM = NR_ORDEM + 1
              WHERE (CD_SERVICO = @cd_servico)
                AND (NR_ORDEM >= @nr_ordem_destino) AND (NR_ORDEM < @nr_ordem_origem)
              Return(0)
            end
          end
          /* Senao (4)*/
          begin
            /* 'O evento base nao pode ter nr ordem superior ao do evento' */
            Return(4)
          end
        end
      end
    end 
    /* Senao (0) */
    else
    begin
      /* 'Nr Ordem Destino nao existe' */
      Return(5)
    end
END

GO
