USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [sp_rel_fat_livro_fiscalteste]  @cd_unid_neg char(2), @mes char(2), @ano char(4), @nr_identificador int OUTPUT AS 

/*
Descrição: Grava Notas Fiscais ( canceladas ou não ) nas tabelas para fazer Livro Fiscal
           e/ou arquivo de remessa ao GISS
Alteração: 04/10/2003
*/

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @mes              char(2)
DECLARE @ano              char(4)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @mes         = '10'
SELECT @ano         = '2007'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SET NOCOUNT ON

-- Inicio da sp
DECLARE @dt_inicio     datetime
DECLARE @dt_fim        datetime
DECLARE @dt_inicio_c   datetime
DECLARE @dt_fim_c      datetime
DECLARE @mes2          char(2)
DECLARE @mes_c         char(3)
DECLARE @ano_c         char(4)
DECLARE @dt_emissao    datetime
DECLARE @dt_nf         datetime
DECLARE @nota_c        char(6)
DECLARE @nota_ant      char(6)
DECLARE @nr_nf_serv    char(6)
DECLARE @nr_nf_inicio  char(6)
DECLARE @nr_nf_fim     char(6)
DECLARE @nr_nf_ant     char(6)
DECLARE @nr_nf_prox    char(6)
DECLARE @nr_nf_temp    char(6)
DECLARE @vl_trib       float
DECLARE @vl_nf         float
DECLARE @in_cancelado  char(1)
DECLARE @nr_nf_canc    varchar(800)
DECLARE @i             int
DECLARE @j             int
DECLARE @seq           int
DECLARE @vl_iss_total  float
DECLARE @vl_iss_retido float
DECLARE @vl_iss_saldo  float
DECLARE @vl_aliq_iss   float
DECLARE @cd_cliente    char(5)
DECLARE @cnpj_unidade  char(14)


SELECT @cnpj_unidade = CGC_UNID_NEG FROM TUNID_NEG WHERE CD_UNID_NEG = @cd_unid_neg

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_FAT_LIVRO_FISCAL (NOLOCK)

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT @dt_inicio = CONVERT( datetime, '01/' + @mes + '/' + @ano, 103 )
SELECT @mes2      = RIGHT( '00' + CONVERT( varchar, CONVERT( int, @mes ) + 1 ), 2 )
IF @mes2 = 13 
BEGIN 
  SELECT @mes2 = 1
  SELECT @ano  = CONVERT( char(4), ( CONVERT( int, @ano ) + 1 ) )
END
SELECT @dt_fim    = CONVERT( datetime, '01/' + @mes2 + '/' + @ano, 103 ) - 1
SELECT @nr_nf_canc = ''

-- Datas inicial/final para a primeira nota fiscal do mês ( se for cancelada )

SELECT @mes_c = RIGHT( '00' + CONVERT( varchar, CONVERT( int, @mes ) - 1 ), 2 )
SELECT @ano_c = @ano
IF @mes_c = 00
BEGIN
  SELECT @mes_c = 12
  SELECT @ano_c = CONVERT( char(4), ( CONVERT( int, @ano ) - 1 ) )
END
SELECT @dt_inicio_c = CONVERT( datetime, '01/' + @mes_c + '/' + @ano_c, 103 )
SELECT @dt_fim_c    = CONVERT( datetime, '01/' + @mes + '/' + @ano, 103 ) - 1

-- Cria tabela temporária p/ as notas canceladas 
SELECT REPLICATE( '0', 6 ) AS NR_NF, getdate() as DT_NF, REPLICATE( '0', 5 ) as CD_CLIENTE 
INTO   #TMP_NF_CANC
WHERE  1 = 0

-- Cria tab. temporária p/ notas não canceladas ( é usado qdo existir dois registros ( um cancelado
-- o outro não ) com o mesmo número de nota. 08/03/2004
SELECT REPLICATE( '0', 6 ) AS NR_NF
INTO   #TMP_NF_CANC_IGUAIS
WHERE  1 = 0

-- Grava a Nota Fiscal na tabela de notas canceladas se ela for a primeira do mês

IF CAST ( ( SELECT TOP 1 F.NR_NF_SERV
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
         N.CD_UNID_NEG = '01' AND
         ISNULL( F.NR_NF_SERV, '' ) <> '' 
  ORDER BY F.NR_NF_SERV ) AS NUMERIC ) - 
  CAST ( ( SELECT TOP 1 F.NR_NF_SERV
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         N.DT_EMISSAO BETWEEN @dt_inicio_c AND @dt_fim_c AND
         N.CD_UNID_NEG = '01' AND
         ISNULL( F.NR_NF_SERV, '' ) <> '' 
  ORDER BY F.NR_NF_SERV DESC ) AS NUMERIC ) > 1 
BEGIN
  SELECT @nota_ant = ( SELECT TOP 1 F.NR_NF_SERV
                       FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK)
                       WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
                              N.CD_PRODUTO = F.CD_PRODUTO AND
                              N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
                              N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
                              N.CD_UNID_NEG = '01' AND
                              ISNULL( F.NR_NF_SERV, '' ) <> '' 
                       ORDER BY F.NR_NF_SERV )

  SELECT @dt_fim_c = ( SELECT TOP 1 N.DT_EMISSAO
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TUNID_NEG U (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
         --N.CD_UNID_NEG = @cd_unid_neg AND
         N.CD_UNID_NEG = U.CD_UNID_NEG AND U.CGC_UNID_NEG = @cnpj_unidade AND         
         F.IN_CANCELADO = '0' AND
         ISNULL( F.NR_NF_SERV, '' ) <> '' 
  ORDER BY N.DT_EMISSAO )

  SELECT @cd_cliente = ( SELECT TOP 1 CD_CLIENTE FROM TNF_SERV_OP (NOLOCK))
  SELECT @nota_c = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nota_ant ) - 1 ) ), 6 )    

  INSERT #TMP_NF_CANC ( NR_NF, DT_NF, CD_CLIENTE )   --grava Nota cancelada
  VALUES ( @nota_c, @dt_fim_c, @cd_cliente )
END

SELECT @nr_identificador, F.NR_NF_SERV, N.DT_EMISSAO, VL_TOT_TRIBUTAVEL, VL_ISS
FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK), TUNID_NEG U (NOLOCK)
WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
       N.CD_PRODUTO = F.CD_PRODUTO AND
       N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
       N.NR_PROCESSO = P.NR_PROCESSO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
       --N.CD_UNID_NEG = @cd_unid_neg AND
       N.CD_UNID_NEG = U.CD_UNID_NEG AND U.CGC_UNID_NEG = @cnpj_unidade AND
       ISNULL( F.NR_NF_SERV, '' ) <> '' AND
       E.END_CIDADE = 'SANTOS' AND
       F.IN_CANCELADO = 0
ORDER BY N.DT_EMISSAO, F.NR_NF_SERV

-- Notas Fiscais com retenção do ISS na Fonte
INSERT TREL_FAT_LIVRO_FISCAL_ISS( NR_IDENTIFICADOR, NR_NF, DT_NF, VL_NF, VL_ISS )
SELECT @nr_identificador, F.NR_NF_SERV, N.DT_EMISSAO, VL_TOT_TRIBUTAVEL, VL_ISS
FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK), TUNID_NEG U (NOLOCK)
WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
       N.CD_PRODUTO = F.CD_PRODUTO AND
       N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
       N.NR_PROCESSO = P.NR_PROCESSO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
       --N.CD_UNID_NEG = @cd_unid_neg AND
       N.CD_UNID_NEG = U.CD_UNID_NEG AND U.CGC_UNID_NEG = @cnpj_unidade AND
       ISNULL( F.NR_NF_SERV, '' ) <> '' AND
       E.END_CIDADE = 'SANTOS' AND
       F.IN_CANCELADO = 0
ORDER BY N.DT_EMISSAO, F.NR_NF_SERV

SELECT @nr_nf_inicio = ' '

DECLARE c_nf CURSOR FOR
  SELECT N.DT_EMISSAO, F.NR_NF_SERV, VL_TOT_TRIBUTAVEL, F.IN_CANCELADO, N.CD_CLIENTE
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TUNID_NEG U (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
         --N.CD_UNID_NEG = @cd_unid_neg AND
         N.CD_UNID_NEG = U.CD_UNID_NEG AND U.CGC_UNID_NEG = @cnpj_unidade AND         
         ISNULL( F.NR_NF_SERV, '' ) <> '' AND F.TP_TIPO_FAT = 'F' AND 
         F.NR_NF_SERV NOT IN ('137061','137062','137065','137066')
         AND  VL_TOT_TRIBUTAVEL > 0
  ORDER BY N.DT_EMISSAO, F.NR_NF_SERV

OPEN c_nf

FETCH c_nf INTO @dt_emissao, @nr_nf_serv, @vl_nf, @in_cancelado, @cd_cliente

SELECT @dt_nf        = @dt_emissao
IF @in_cancelado = '0'
  SELECT @nr_nf_inicio = @nr_nf_serv
SELECT @vl_trib      = 0

WHILE @@fetch_status = 0
BEGIN
  SELECT @nr_nf_prox   = @nr_nf_serv

  IF @in_cancelado = '0'
  BEGIN
    IF @nr_nf_inicio = ' '
    BEGIN
      SELECT @nr_nf_inicio = @nr_nf_serv
    END     
    SELECT @nr_nf_fim = @nr_nf_serv
    SELECT @vl_trib = @vl_trib + @vl_nf
  END
  ELSE
  BEGIN
    INSERT #TMP_NF_CANC ( NR_NF, DT_NF, CD_CLIENTE )   --grava Nota cancelada
    VALUES ( @nr_nf_serv, @dt_emissao, @cd_cliente )
  END

  FETCH c_nf INTO @dt_emissao, @nr_nf_serv, @vl_nf, @in_cancelado, @cd_cliente

  IF convert (int, @NR_NF_SERV) < 095756 AND convert (int, @NR_NF_SERV) > 095769
    IF @nr_nf_prox > @nr_nf_serv
    BEGIN
      CLOSE c_nf
      DEALLOCATE c_nf
      RETURN(1)
    END

  WHILE @nr_nf_prox <> @nr_nf_serv
  BEGIN
    SELECT @nr_nf_prox = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_nf_prox ) + 1 ) ), 6 )    

    IF @nr_nf_prox <> @nr_nf_serv
    BEGIN
      INSERT #TMP_NF_CANC ( NR_NF, DT_NF, CD_CLIENTE  )
      VALUES ( @nr_nf_prox, @dt_emissao, @cd_cliente )
    END
  END

--  INSERT INTO TREL_FAT_LIVRO_FISCAL_GISS (NR_IDENTIFICADOR, DT_NF, NR_NF_INICIO, NR_NF_FIM, VL_TRIB, CD_CLIENTE)
--  SELECT @nr_identificador, @nr_nf_inicio, @nr_nf_inicio, @dt_nf, @vl_nf, @cd_cliente 

  -- Qdo mudar o dia grava Nota Inicial e Final 
  IF @dt_emissao <> @dt_nf
  BEGIN
    IF @nr_nf_inicio <> ' ' OR @nr_nf_fim <> ' ' 
    BEGIN 
      INSERT TREL_FAT_LIVRO_FISCAL( NR_IDENTIFICADOR, CD_UNID_NEG, DT_NF, NR_NF_INICIO, NR_NF_FIM, VL_TRIB )
      VALUES( @nr_identificador, @cd_unid_neg, @dt_nf, @nr_nf_inicio, @nr_nf_fim, @vl_trib )
    END

    IF @in_cancelado = '0'
    BEGIN
      SELECT @nr_nf_inicio = @nr_nf_serv
    END     
    ELSE
    BEGIN
      SELECT @nr_nf_inicio = ' '
    END

    SELECT @dt_nf        = @dt_emissao
    SELECT @vl_trib      = 0
    SELECT @nr_nf_fim    = ' '
  END
END
CLOSE c_nf
DEALLOCATE c_nf

INSERT TREL_FAT_LIVRO_FISCAL( NR_IDENTIFICADOR, CD_UNID_NEG, DT_NF, NR_NF_INICIO, NR_NF_FIM, VL_TRIB )
VALUES( @nr_identificador, @cd_unid_neg, @dt_nf, @nr_nf_inicio, @nr_nf_fim, @vl_trib )

SELECT  distinct @nr_identificador, DT_NF, NR_NF, NR_NF, CD_CLIENTE 
FROM #TMP_NF_CANC (NOLOCK)


INSERT INTO TREL_FAT_LIVRO_FISCAL_CANC_GISS (NR_IDENTIFICADOR, DT_NF, NR_NF_INICIO, NR_NF_FIM, CD_CLIENTE)
SELECT  distinct @nr_identificador, DT_NF, NR_NF, NR_NF, CD_CLIENTE 
FROM #TMP_NF_CANC (NOLOCK)
--group by  DT_NF, NR_NF, NR_NF, CD_CLIENTE

-- Tratamento das Notas Canceladas ( para o rodapé do Livro Fiscal ) 
SELECT @nr_nf_temp = ''
SELECT @nr_nf_prox = ''
SELECT @nr_nf_canc = ''

SELECT @i = 0
SELECT @seq = 1

SELECT @j = COUNT(*)
FROM   #TMP_NF_CANC (NOLOCK)

-- Seleciona todas as notas não canceladas. 08/03/04 
INSERT #TMP_NF_CANC_IGUAIS
SELECT NR_NF_SERV
FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TUNID_NEG U (NOLOCK)
WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
       N.CD_PRODUTO = F.CD_PRODUTO AND
       N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
       N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
       --N.CD_UNID_NEG = @cd_unid_neg AND
       N.CD_UNID_NEG = U.CD_UNID_NEG AND U.CGC_UNID_NEG = @cnpj_unidade AND         
       ISNULL( F.NR_NF_SERV, '' ) <> '' AND 
       F.IN_CANCELADO = '0'
ORDER BY NR_NF_SERV

DECLARE c_canc CURSOR FOR
--  SELECT NR_NF
--  FROM   #TMP_NF_CANC
--  ORDER BY NR_NF

  -- SELECT ABAIXO SOLICITADO POR CARLOS EM 08/03/2004 PQ LIVRO FISCAL DE 02/2004 NÃO OK
  SELECT NR_NF
  FROM   #TMP_NF_CANC (NOLOCK)
  WHERE  NR_NF NOT IN ( SELECT NR_NF
                         FROM #TMP_NF_CANC_IGUAIS (NOLOCK) )


OPEN c_canc
FETCH c_canc INTO @nr_nf_serv
WHILE @@fetch_status = 0
BEGIN
  SELECT @i = @i + 1

  IF @i <> 1
  BEGIN
    SELECT @nr_nf_prox = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_nf_ant ) + 1 ) ), 6 )

    IF ( @nr_nf_prox <> @nr_nf_serv ) OR ( @i = @j )
    BEGIN
      IF ( @nr_nf_prox = @nr_nf_serv )
        SELECT @seq = @seq + 1

      IF @seq > 2
        SELECT @nr_nf_canc = @nr_nf_canc + ' a '
      ELSE
        SELECT @nr_nf_canc = @nr_nf_canc + ', '

      IF ( @nr_nf_temp <> '' ) and ( @nr_nf_prox <> @nr_nf_serv )
        SELECT @nr_nf_canc = @nr_nf_canc + @nr_nf_temp + ', '

      SELECT @nr_nf_canc = @nr_nf_canc + @nr_nf_serv

      SELECT @seq = 1

      SELECT @nr_nf_temp = ''
    END
    ELSE
    BEGIN
      SELECT @nr_nf_temp = @nr_nf_serv
      SELECT @seq = @seq + 1
    END
  END
  ELSE
  BEGIN
    SELECT @nr_nf_canc = @nr_nf_canc + @nr_nf_serv
  END 

  SELECT @nr_nf_ant = @nr_nf_serv

  FETCH c_canc INTO @nr_nf_serv
END
CLOSE c_canc
DEALLOCATE c_canc

-- Retira as notas que foram canceladas e reaproveitadas p/ poderem entrar no TXT GISS
DELETE FROM #TMP_NF_CANC
WHERE NR_NF IN ( SELECT F.NR_NF_SERV
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TUNID_NEG U (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
         --N.CD_UNID_NEG = @cd_unid_neg AND
         N.CD_UNID_NEG = U.CD_UNID_NEG AND U.CGC_UNID_NEG = @cnpj_unidade AND         
         ISNULL( F.NR_NF_SERV, '' ) <> '' AND
         F.IN_CANCELADO = '0' )          

 SELECT distinct  @NR_IDENTIFICADOR, F.NR_NF_SERV, F.NR_NF_SERV, N.DT_EMISSAO, VL_TOT_TRIBUTAVEL, N.CD_CLIENTE
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TUNID_NEG U (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
         --N.CD_UNID_NEG = @cd_unid_neg AND
         N.CD_UNID_NEG = U.CD_UNID_NEG AND U.CGC_UNID_NEG = @cnpj_unidade AND
         ISNULL( F.NR_NF_SERV, '' ) <> '' AND
         F.NR_NF_SERV NOT IN (SELECT NR_NF FROM #TMP_NF_CANC (NOLOCK)) AND
         F.IN_CANCELADO = '0' AND
         F.NR_NF_SERV NOT IN ('137061','137062','137065','137066')
         AND  VL_TOT_TRIBUTAVEL > 0     
 --group by  @NR_IDENTIFICADOR, F.NR_NF_SERV, F.NR_NF_SERV, N.DT_EMISSAO, N.CD_CLIENTE         
  ORDER BY F.NR_NF_SERV

-- Insere os registros para o GISS (NOTAS NÃO CANCELADAS)
INSERT INTO TREL_FAT_LIVRO_FISCAL_GISS (NR_IDENTIFICADOR, NR_NF_INICIO, NR_NF_FIM, DT_NF, VL_TRIB, CD_CLIENTE)
 SELECT distinct  @NR_IDENTIFICADOR, F.NR_NF_SERV, F.NR_NF_SERV, N.DT_EMISSAO, VL_TOT_TRIBUTAVEL, N.CD_CLIENTE
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TUNID_NEG U (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         N.DT_EMISSAO BETWEEN @dt_inicio AND @dt_fim AND
         --N.CD_UNID_NEG = @cd_unid_neg AND
         N.CD_UNID_NEG = U.CD_UNID_NEG AND U.CGC_UNID_NEG = @cnpj_unidade AND
         ISNULL( F.NR_NF_SERV, '' ) <> '' AND
         F.NR_NF_SERV NOT IN (SELECT NR_NF FROM #TMP_NF_CANC (NOLOCK)) AND
         F.IN_CANCELADO = '0' AND
         F.NR_NF_SERV NOT IN ('137061','137062','137065','137066')
         AND  VL_TOT_TRIBUTAVEL > 0     
 --group by  @NR_IDENTIFICADOR, F.NR_NF_SERV, F.NR_NF_SERV, N.DT_EMISSAO, N.CD_CLIENTE         
  ORDER BY N.DT_EMISSAO, F.NR_NF_SERV


DROP TABLE #TMP_NF_CANC
DROP TABLE #TMP_NF_CANC_IGUAIS

IF LTRIM( RTRIM( ISNULL( @nr_nf_canc, '' ) ) ) <> ''
BEGIN    
  INSERT TREL_FAT_LIVRO_FISCAL_CANC ( NR_IDENTIFICADOR, NR_NF_CANC )
  VALUES ( @nr_identificador, @nr_nf_canc )
END

-- Inserindo dias sem Movimento
WHILE @dt_inicio <> @dt_fim
BEGIN
  IF NOT EXISTS( SELECT *
                 FROM   TREL_FAT_LIVRO_FISCAL (NOLOCK)
                 WHERE  DT_NF = @dt_inicio AND
                        NR_IDENTIFICADOR = @nr_identificador )
    INSERT TREL_FAT_LIVRO_FISCAL( NR_IDENTIFICADOR, CD_UNID_NEG, DT_NF, NR_NF_INICIO, NR_NF_FIM, VL_TRIB )
    VALUES( @nr_identificador, @cd_unid_neg, @dt_inicio, 'X', 'X', 0 )
  
  SELECT @dt_inicio = @dt_inicio + 1
END

--Processar Totais ISS
SELECT @vl_aliq_iss = VL_ALIQ_ISS
FROM   TUNID_NEG
WHERE  SUBSTRING(CGC_UNID_NEG, 1,8) = @cnpj_unidade

SELECT @vl_iss_total = ISNULL( ROUND( ROUND( ( SUM( R.VL_TRIB ) / 100 ), 2 ) * ROUND( @vl_aliq_iss, 2 ), 2 ), 0 )
FROM   TREL_FAT_LIVRO_FISCAL R (NOLOCK)
WHERE  R.NR_IDENTIFICADOR = @nr_identificador

SELECT @vl_iss_retido = ISNULL( ROUND( SUM( R.VL_ISS ), 2 ), 0 )
FROM   TREL_FAT_LIVRO_FISCAL_ISS R (NOLOCK)
WHERE  R.NR_IDENTIFICADOR = @nr_identificador

SELECT @vl_iss_saldo = @vl_iss_total - @vl_iss_retido 

INSERT TREL_FAT_LIVRO_FISCAL_TOTAIS( NR_IDENTIFICADOR, VL_ISS_TOTAL, VL_ISS_RETIDO, VL_ISS_SALDO )
VALUES( @nr_identificador, @vl_iss_total, @vl_iss_retido, @vl_iss_saldo )

RETURN(0)

GO
