USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_valores_cif_fob    Script Date: 02/09/1999 08:59:02 AM ******/
CREATE PROCEDURE [sp_valores_cif_fob]( @cd_unid_neg char(2), @cd_produto char(2), @mes int, @ano int, @nr_identificador int output ) AS
DECLARE @in_pr_fat  bit
DECLARE @in_pr_cif  bit
DECLARE @vl_cif_fob  numeric(15, 2)
DECLARE @vl_comissao  numeric(15, 2)
DECLARE @vl_exped  numeric(15, 2)
DECLARE @vl_tot_aberto  int
DECLARE @vl_tot_pago  int
DECLARE @vl_tot_fat  int
DECLARE @vl_tot_desemb  int
DECLARE @fatura   int
DECLARE @nm_item_complemento varchar (20)
DECLARE @cd_cliente  char (5)
DECLARE @nr_processo   char (18)
DECLARE @cd_cliente_ant  char (5)
DECLARE @nr_processo_ant char (18)
DECLARE @dt_lancamento  datetime
DECLARE @dt_abertura   datetime
DECLARE @dt_pagto  datetime
DECLARE @dt_embarque  datetime
DECLARE @dt_desemb  datetime
DECLARE @vl_mle_mn  float
DECLARE @vl_cif_mn  float
DECLARE @vl_item  float
DECLARE @vl_assist  float
DECLARE @vl_item_calc  numeric(15, 2)
DECLARE @in_faturado  char (1)
DECLARE @in_restitui  char (1)
DECLARE @cd_item  char (3)
SELECT @cd_cliente_ant  = ''
SELECT @nr_processo_ant  = ''
SELECT @in_pr_fat  = 0
SELECT @in_pr_cif  = 0
SELECT @vl_cif_fob  = 0
SELECT @vl_comissao  = 0
SELECT @vl_exped  = 0
SELECT @vl_tot_aberto  = 0
SELECT @vl_tot_pago  = 0
SELECT @vl_tot_fat  = 0
SELECT @vl_tot_desemb  = 0
SELECT @nr_identificador = ISNULL(MAX(NR_IDENTIFICADOR),0) + 1 
FROM TVALORES_CIF_FOB (TABLOCK HOLDLOCK)
SELECT
    P.NR_PROCESSO, P.DT_ABERTURA, ISNULL( P.VL_MLE_MN, 0) VL_MLE_MN, ISNULL( P.VL_CIF_MN, 0 ) VL_CIF_MN,
    F.DT_LANCAMENTO, F.CD_ITEM, F.VL_ITEM, F.VL_ASSIST, F.IN_FATURADO, F.IN_RESTITUI, F.NM_ITEM_COMPLEMENTO, 
    PAGTO.DT_REALIZACAO DT_PAGTO,
    E.CD_EMPRESA, EMBARQUE.DT_REALIZACAO DT_EMBARQUE, DESEMB.DT_REALIZACAO DT_DESEMB
INTO #temp
FROM
    TPROCESSO P (TABLOCK HOLDLOCK),
    TFATURAMENTO_CC F (TABLOCK HOLDLOCK),
    TPRODUTO PR (TABLOCK HOLDLOCK),
    TUNID_NEG U (TABLOCK HOLDLOCK),
    VW_DT_PAGTO PAGTO (TABLOCK HOLDLOCK),
    TEMPRESA_NAC E (TABLOCK HOLDLOCK),
    VW_DT_EMBARQUE EMBARQUE (TABLOCK HOLDLOCK),
    VW_DT_DESEMB DESEMB (TABLOCK HOLDLOCK)
WHERE
    P.NR_PROCESSO *= F.NR_PROCESSO AND
    P.CD_PRODUTO = PR.CD_PRODUTO AND
    P.CD_UNID_NEG = U.CD_UNID_NEG AND
    P.NR_PROCESSO *= PAGTO.NR_PROCESSO AND
    P.CD_CLIENTE = E.CD_EMPRESA AND
    P.NR_PROCESSO *= EMBARQUE.NR_PROCESSO AND
    P.NR_PROCESSO *= DESEMB.NR_PROCESSO AND
    P.IN_CANCELADO = '0' AND
    U.CD_UNID_NEG = @cd_unid_neg AND
    PR.CD_PRODUTO = @cd_produto
ORDER BY
    E.CD_EMPRESA ASC,
    P.NR_PROCESSO ASC

DECLARE c_val_cif_fob CURSOR FOR
SELECT * FROM #temp
ORDER BY CD_EMPRESA, NR_PROCESSO

OPEN c_val_cif_fob
FETCH c_val_cif_fob INTO @nr_processo, @dt_abertura, @vl_mle_mn, @vl_cif_mn, @dt_lancamento,
 @cd_item, @vl_item, @vl_assist, @in_faturado, @in_restitui, @nm_item_complemento, @dt_pagto, 
        @cd_cliente, @dt_embarque, @dt_desemb
WHILE (@@fetch_status = 0)
BEGIN
  -- Se mudar o cliente, processa datas
  IF @nr_processo <> @nr_processo_ant
  BEGIN
    -- Processos Abertos
    IF ( DATEPART( year,  @dt_abertura  ) = @ano AND 
         DATEPART( month, @dt_abertura )  = @mes ) 
       SELECT @vl_tot_aberto = @vl_tot_aberto + 1
    -- Processos Pagos
    IF ( DATEPART( year,  @dt_pagto  ) = @ano AND 
         DATEPART( month, @dt_pagto )  = @mes ) 
       SELECT @vl_tot_pago = @vl_tot_pago + 1
    -- Processos Desembara+ados/Embarcados
    IF @cd_produto IN ( '01', '03' )
    BEGIN
      IF ( DATEPART( year,  @dt_desemb ) = @ano AND 
           DATEPART( month, @dt_desemb ) = @mes )
         SELECT @vl_tot_desemb = @vl_tot_desemb + 1
    END
    ELSE
    BEGIN
      IF ( DATEPART( year,  @dt_embarque ) = @ano AND 
           DATEPART( month, @dt_embarque ) = @mes )
         SELECT @vl_tot_desemb = @vl_tot_desemb + 1
    END
  END
  -- Valor CIF/FOB
  IF ( @in_pr_cif = 0 )
  BEGIN
    SELECT @in_pr_cif = 1 
    IF @cd_produto IN ( '01', '03' )
      SELECT @vl_cif_fob = @vl_cif_fob + @vl_cif_mn
    ELSE
      SELECT @vl_cif_fob = @vl_cif_fob + @vl_mle_mn
  END
  -- Processos Faturados
  IF ( DATEPART( year,  @dt_lancamento ) = @ano AND 
       DATEPART( month, @dt_lancamento ) = @mes ) AND
       ( @cd_item = ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) OR
         @cd_item = ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) ) AND
       ( @in_pr_fat = 0 )
  BEGIN
    SELECT @in_pr_fat = 1 
    SELECT @vl_tot_fat = @vl_tot_fat + 1
  END
  -- Comissao
  IF ( DATEPART( year,  @dt_lancamento) = @ano AND 
       DATEPART( month, @dt_lancamento) = @mes ) AND
       @cd_item = ( SELECT CD_ITEM_COMISSAO FROM TPARAMETROS ) AND
       @in_faturado = '1'
  BEGIN
    SELECT @vl_item_calc = 0
    IF @in_restitui = '0'
    BEGIN
       SELECT @vl_item_calc = @vl_item_calc + ISNULL( @vl_item, 0 )
       SELECT @vl_item_calc = @vl_item_calc + ISNULL( @vl_assist, 0 )
    END
    ELSE
    BEGIN
       SELECT @vl_item_calc = @vl_item_calc - ISNULL( @vl_item, 0 )
       SELECT @vl_item_calc = @vl_item_calc - ISNULL( @vl_assist, 0 )
    END
    SELECT @vl_comissao = @vl_comissao + @vl_item_calc
  END
  -- Expediente
  IF ( DATEPART( year,  @dt_lancamento) = @ano AND 
       DATEPART( month, @dt_lancamento) = @mes ) AND
       @cd_item = ( SELECT CD_ITEM_EXPED FROM TPARAMETROS ) AND
       @in_faturado = '1'
  BEGIN
    SELECT @vl_item_calc = 0
    IF @in_restitui = '0'
    BEGIN
       SELECT @vl_item_calc = @vl_item_calc + ISNULL( @vl_item, 0 )
       SELECT @vl_item_calc = @vl_item_calc + ISNULL( @vl_assist, 0 )
    END
    ELSE
    BEGIN
       SELECT @vl_item_calc = @vl_item_calc - ISNULL( @vl_item, 0 )
       SELECT @vl_item_calc = @vl_item_calc - ISNULL( @vl_assist, 0 )
    END
    SELECT @vl_exped = @vl_exped + @vl_item_calc
  END
  SELECT @cd_cliente_ant  = @cd_cliente
  SELECT @nr_processo_ant = @nr_processo
  FETCH c_val_cif_fob INTO @nr_processo, @dt_abertura, @vl_mle_mn, @vl_cif_mn, @dt_lancamento,
   @cd_item, @vl_item, @vl_assist, @in_faturado, @in_restitui, @nm_item_complemento, @dt_pagto, 
          @cd_cliente, @dt_embarque, @dt_desemb
  -- Se mudar o cliente, grava e zera as vari veis
  IF @cd_cliente <> @cd_cliente_ant
  BEGIN
    IF  @vl_tot_aberto <> 0 OR @vl_tot_pago <> 0 OR @vl_tot_desemb <> 0 OR @vl_tot_fat <> 0 OR 
        @vl_cif_fob <> 0 OR @vl_comissao <> 0 OR @vl_exped <> 0 
    INSERT TVALORES_CIF_FOB VALUES( @nr_identificador, @cd_cliente_ant, @vl_tot_aberto, @vl_tot_pago, @vl_tot_desemb, 
     @vl_tot_fat, @vl_cif_fob, @vl_comissao, @vl_exped )
    SELECT @vl_cif_fob  = 0
    SELECT @vl_comissao  = 0
    SELECT @vl_exped  = 0
    SELECT @vl_tot_aberto = 0
    SELECT @vl_tot_pago  = 0
    SELECT @vl_tot_fat  = 0
    SELECT @vl_tot_desemb = 0
  END
  IF @nr_processo <> @nr_processo_ant
  BEGIN
    SELECT @in_pr_fat  = 0
    SELECT @in_pr_cif  = 0
  END
END
-- Grava o £ltimo cliente
IF @vl_tot_aberto <> 0 OR @vl_tot_pago <> 0 OR @vl_tot_desemb <> 0 OR @vl_tot_fat <> 0 OR 
   @vl_cif_fob <> 0 OR @vl_comissao <> 0 OR @vl_exped <> 0 
  INSERT TVALORES_CIF_FOB VALUES(@nr_identificador, @cd_cliente_ant, @vl_tot_aberto, @vl_tot_pago, @vl_tot_desemb, 
       @vl_tot_fat, @vl_cif_fob, @vl_comissao, @vl_exped)
DROP TABLE #temp
CLOSE c_val_cif_fob 
DEALLOCATE c_val_cif_fob



GO
