USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ATUALIZA_VISUALCUE](@data int = 0) AS
BEGIN

DELETE VISUALCUE.DBO.TB_IMPORTACAO WHERE NR_PROCESSO  in (SELECT NR_PROCESSO FROM TPROCESSO_VISUALCUE WHERE SUBSTRING(NR_PROCESSO,3,2) = '01') 
--INSERE PROCESSOS DE IMPORTACAO
    INSERT INTO VISUALCUE.DBO.TB_IMPORTACAO
    SELECT DISTINCT PR.NR_PROCESSO,
                PR.CD_PRODUTO,
                P.NM_PRODUTO,
                PR.CD_UNID_NEG,
                U.NM_UNID_NEG,
                S.CD_VIA_TRANSPORTE,
                V.NM_VIA_TRANSPORTE,
                (SELECT REPLACE(REPLACE(MASTER.DBO.ROWCONCATLEFT(DISTINCT LTRIM(RTRIM(CD_REFERENCIA))+'/'+NR_ITEM_PO+', ')+'??', ', ??', ''), '??', '') FROM MYMONEY.DBO.VW_REFERENCIAS REF WHERE REF.NR_PROCESSO = PR.NR_PROCESSO AND TP_REFERENCIA IN (CASE WHEN PR.CD_PRODUTO = '01' THEN G.TP_PEDIDO_BUSCA_IMP ELSE G.TP_PEDIDO_BUSCA END)) REF_CLIENTE,
                PR.CD_GRUPO,
                G.NM_GRUPO,
                PR.CD_CLIENTE,
                EM.NM_EMPRESA,
                PR.CD_AREA,
                A.NM_AREA,
                EM.END_UF,
                --PR.CD_LOCAL_EMBARQUE,
                --LEMB.DESCRICAO  EMBARQUE,
                PR.CD_PAIS_ORIGEM,
                PORIGEM.DESCRICAO PAIS_ORIGEM,  
                --PR.CD_LOCAL_DESEMBARQUE,
                --LDES.DESCRICAO DESEMBARQUE,
                DI.CD_URF_DESPACHO,
                URF.DESCRICAO URF_DESPACHO,
                URF.END_UF URF_DESPACHO,
                --IMPO - EVENTOS CONDENSADOS                
                --EMBARQUE
                --F798.DT_PREVISTA DT_798_INI,
                F798.DT_REALIZACAO DT_798_FIM,
                ISNULL(F551.DT_PREVISTA,F798.DT_REALIZACAO) DT_800_INI,
                F551.DT_REALIZACAO DT_551_FIM,
                --EMBARQUE 020 E 800
                DATEDIFF(DAY, F551.DT_PREVISTA, ISNULL(F551.DT_REALIZACAO,GETDATE())) DT_EMBARQUE_COMP,
                --CHEGADA DO DESTINO 
                ISNULL(F416.DT_PREVISTA,F798.DT_REALIZACAO) DT_416_INI,
                F416.DT_REALIZACAO DT_416_FIM,
                --CHEGADA DO DESTINO 001 E 416
                DATEDIFF(DAY, F416.DT_PREVISTA, ISNULL(F416.DT_REALIZACAO,GETDATE())) DT_CHEG_DEST_COMP,
                --REGISTRO DA DI E DESEMBARAÇO
                ISNULL(F021.DT_PREVISTA,F798.DT_REALIZACAO) DT_012_INI,
                F021.DT_REALIZACAO DT_021_FIM,
                --REGISTRO DE DI --012 E 397
               DATEDIFF(DAY, F021.DT_PREVISTA, ISNULL(F021.DT_REALIZACAO,GETDATE())) DT_REGISTRO_COMP,
                --DESEMBARACO E ENTREGA NA FABRICA
                ISNULL(F088.DT_PREVISTA,F798.DT_REALIZACAO) DT_088_INI,
                F088.DT_REALIZACAO DT_088_FIM,
                --DESEMBARACO --012 E 088
                DATEDIFF(DAY, F088.DT_PREVISTA, ISNULL(F088.DT_REALIZACAO,GETDATE())) DT_DESEMB_COMP,
                --ENTREGA NA FABRICA
                ISNULL(F041.DT_PREVISTA,F798.DT_REALIZACAO) DT_041_INI,
                F041.DT_REALIZACAO DT_041_FIM,
                --ENTREGA NA FABRICA -- 088 E 041
                DATEDIFF(DAY, F574.DT_PREVISTA, ISNULL(F574.DT_REALIZACAO,GETDATE())) DT_ENTREG_FABR_COMP,
                --FATURAMENTO
                ISNULL(F114.DT_PREVISTA,F798.DT_REALIZACAO) DT_114_INI,
                F114.DT_REALIZACAO DT_114_FIM,
                --FATURAMENTO E OVERALL PROCESSO
                ISNULL(F092.DT_PREVISTA,F798.DT_REALIZACAO) DT_092_INI,
                F092.DT_REALIZACAO DT_092_FIM,
                ISNULL(F574.DT_PREVISTA,F798.DT_REALIZACAO) DT_574_INI,
                F574.DT_REALIZACAO DT_574_FIM,
                --FATURAMENTO --114 E 092
                DATEDIFF(DAY, F092.DT_PREVISTA, ISNULL(F092.DT_REALIZACAO,GETDATE())) DT_FATURAMENTO_COMP,
                --OVERALL PROCESSO 
                --ISNULL(F162.DT_PREVISTA,F798.DT_REALIZACAO) DT_162_INI,
                --F162.DT_REALIZACAO DT_162_FIM,
                --OVERALL PROCESSO --162 E 092
                F798.DT_REALIZACAO DT_000_INI,
                F574.DT_REALIZACAO DT_000_FIM,	
                DATEDIFF(DAY, F798.DT_REALIZACAO, ISNULL(F574.DT_REALIZACAO,GETDATE())) DT_OVERALL_COMP,
                PR.CD_CELULA,
                C.NM_CELULA,
                C.CD_ANALISTA,
                US.NM_USUARIO,
                LDES.CD_SIGLA
        FROM BROKER.DBO.TPROCESSO PR
            INNER JOIN BROKER.DBO.TPRODUTO P ON P.CD_PRODUTO  = PR.CD_PRODUTO   
            INNER JOIN BROKER.DBO.TUNID_NEG U ON U.CD_UNID_NEG = PR.CD_UNID_NEG  
            INNER JOIN BROKER.DBO.TGRUPO G ON G.CD_GRUPO = PR.CD_GRUPO    
            INNER JOIN BROKER.DBO.TEMPRESA_NAC EM ON EM.CD_EMPRESA=PR.CD_CLIENTE
            LEFT JOIN BROKER.DBO.TDECLARACAO_IMPORTACAO DI ON DI.NR_PROCESSO =PR.NR_PROCESSO
            LEFT JOIN BROKER.DBO.TURF URF ON URF.CODIGO = DI.CD_URF_DESPACHO
            LEFT JOIN BROKER.DBO.TPAIS PORIGEM ON PORIGEM.CODIGO = PR.CD_PAIS_ORIGEM
            LEFT JOIN BROKER.DBO.VW_SERVICO_GERAL S ON S.CD_SERVICO=PR.CD_SERVICO
            LEFT JOIN BROKER.DBO.TVIA_TRANSPORTE V ON V.CD_VIA_TRANSPORTE = S.CD_VIA_TRANSPORTE
            LEFT JOIN BROKER.DBO.TAREA A ON A.CD_AREA=PR.CD_AREA
            LEFT JOIN BROKER.DBO.TLOCAL_EMBARQUE LEMB ON LEMB.CODIGO = PR.CD_LOCAL_EMBARQUE
            LEFT JOIN BROKER.DBO.TLOCAL_EMBARQUE LDES ON LDES.CODIGO = CASE S.CD_VIA_TRANSPORTE
                                                                           WHEN '07' THEN PR.CD_FRONTEIRA
                                                                       ELSE PR.CD_LOCAL_DESEMBARQUE
                                                                       END
            LEFT JOIN BROKER.DBO.TCELULA C ON C.CD_CELULA= PR.CD_CELULA
            LEFT JOIN BROKER.DBO.TUSUARIO US ON US.CD_USUARIO= C.CD_ANALISTA
            --EVENTOS IMPO             
            LEFT JOIN BROKER.DBO.TFOLLOWUP F551 ( NOLOCK ) ON ( F551.NR_PROCESSO = PR.NR_PROCESSO AND F551.CD_EVENTO = '551')    
            LEFT JOIN BROKER.DBO.TFOLLOWUP F082 ( NOLOCK ) ON ( F082.NR_PROCESSO = PR.NR_PROCESSO AND F082.CD_EVENTO = '082')    
            LEFT JOIN BROKER.DBO.TFOLLOWUP F162 ( NOLOCK ) ON ( F162.NR_PROCESSO = PR.NR_PROCESSO AND F162.CD_EVENTO = '162')  
            LEFT JOIN BROKER.DBO.TFOLLOWUP F416 ( NOLOCK ) ON ( F416.NR_PROCESSO = PR.NR_PROCESSO AND F416.CD_EVENTO = '416')    
            LEFT JOIN BROKER.DBO.TFOLLOWUP F012 ( NOLOCK ) ON ( F012.NR_PROCESSO = PR.NR_PROCESSO AND F012.CD_EVENTO = '012')      
            LEFT JOIN BROKER.DBO.TFOLLOWUP F041 ( NOLOCK ) ON ( F041.NR_PROCESSO = PR.NR_PROCESSO AND F041.CD_EVENTO = '041')  
            LEFT JOIN BROKER.DBO.TFOLLOWUP F798 ( NOLOCK ) ON ( F798.NR_PROCESSO = PR.NR_PROCESSO AND F798.CD_EVENTO = '798') 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F574 ( NOLOCK ) ON ( F574.NR_PROCESSO = PR.NR_PROCESSO AND F574.CD_EVENTO = '574') 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F021 ( NOLOCK ) ON ( F021.NR_PROCESSO = PR.NR_PROCESSO AND F021.CD_EVENTO = '021') 
            --EVENTOS GERAL 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F003 ( NOLOCK ) ON ( F003.NR_PROCESSO = PR.NR_PROCESSO AND F003.CD_EVENTO = '003')   
            LEFT JOIN BROKER.DBO.TFOLLOWUP F088 ( NOLOCK ) ON ( F088.NR_PROCESSO = PR.NR_PROCESSO AND F088.CD_EVENTO = '088')    
            LEFT JOIN BROKER.DBO.TFOLLOWUP F114 ( NOLOCK ) ON ( F114.NR_PROCESSO = PR.NR_PROCESSO AND F114.CD_EVENTO = '114')
            LEFT JOIN BROKER.DBO.TFOLLOWUP F092 ( NOLOCK ) ON ( F092.NR_PROCESSO = PR.NR_PROCESSO AND F092.CD_EVENTO = '092')
        WHERE PR.NR_PROCESSO  in (SELECT NR_PROCESSO FROM TPROCESSO_VISUALCUE WHERE SUBSTRING(NR_PROCESSO,3,2) = '01')
          AND PR.CD_GRUPO in ('155','B36','002')
          AND PR.IN_CANCELADO = '0'
          AND PR.CD_CLIENTE NOT IN ('02271')
         
DELETE VISUALCUE.DBO.TB_EXPORTACAO WHERE NR_PROCESSO  in (SELECT NR_PROCESSO FROM TPROCESSO_VISUALCUE WHERE SUBSTRING(NR_PROCESSO,3,2) = '02')      
--INSERE PROCESSOS DE EXPORTACAO     
    INSERT INTO VISUALCUE.DBO.TB_EXPORTACAO 
          SELECT DISTINCT   PR.NR_PROCESSO,
                PR.CD_PRODUTO,
                P.NM_PRODUTO,
                PR.CD_UNID_NEG,
                U.NM_UNID_NEG,
                S.CD_VIA_TRANSPORTE,
                V.NM_VIA_TRANSPORTE,
                (SELECT REPLACE(REPLACE(MASTER.DBO.ROWCONCATLEFT(DISTINCT LTRIM(RTRIM(CD_REFERENCIA))+'/'+NR_ITEM_PO+', ')+'??', ', ??', ''), '??', '') FROM MYMONEY.DBO.VW_REFERENCIAS REF WHERE REF.NR_PROCESSO = PR.NR_PROCESSO AND TP_REFERENCIA IN (CASE WHEN PR.CD_PRODUTO = '01' THEN G.TP_PEDIDO_BUSCA_IMP ELSE G.TP_PEDIDO_BUSCA END)) REF_CLIENTE,
                PR.CD_GRUPO,
                G.NM_GRUPO,
                PR.CD_CLIENTE,
                EM.NM_EMPRESA,
                PR.CD_AREA,
                A.NM_AREA,
                EM.END_UF,
                PR.CD_LOCAL_EMBARQUE CD_PORTO_ORIGEM,
                LEMB.DESCRICAO  PORTO_ORIGEM,
                LEMB.CD_SIGLA  PORTO_ORIGEM_SIGLA,
                PR.CD_PAIS_DESTINO,
                PAIS.DESCRICAO PAIS_DESTINO, 
                --LDES.DESCRICAO DESEMBARQUE,
                --EXPO
                --LIBERAÇAO DO PROCESSO
                NULL DT_333_INI,
                F333.DT_REALIZACAO DT_333_FIM,
                --REALIZAÇÃO DE PROGRAMAÇÃO E LIBERACAO DE PROCESSO
                ISNULL(F113.DT_PREVISTA,F333.DT_REALIZACAO) DT_113_INI,
                F113.DT_REALIZACAO DT_113_FIM,
                --LIBERACAO DE PROCESSO --113 E 003
                DATEDIFF(DAY, F113.DT_PREVISTA, ISNULL(F113.DT_REALIZACAO,GETDATE())) DT_LIB_PROCESSO_COMP,
                --REALIZAÇÃO DE PROGRAMAÇÃO
                ISNULL(F489.DT_PREVISTA,F333.DT_REALIZACAO) DT_489_INI,
                F489.DT_REALIZACAO DT_489_FIM,
                --REALIZAÇÃO DE PROGRAMAÇÃO --113 E 489
                DATEDIFF(DAY, F489.DT_PREVISTA, ISNULL(F489.DT_REALIZACAO,GETDATE())) DT_REAL_PROGR_COMP,
                --DESEMBARACO
                ISNULL(F088.DT_PREVISTA,F333.DT_REALIZACAO) DT_088_INI,
                F088.DT_REALIZACAO DT_088_FIM,
                --DESEMBARACO--235 E 088
                DATEDIFF(DAY, F088.DT_PREVISTA, ISNULL(F088.DT_REALIZACAO,GETDATE())) DT_DESEMBARACO_COMP,
                --CONFIRMACAO DE EMBARQUE
                ISNULL(F132.DT_PREVISTA,F333.DT_REALIZACAO) DT_132_INI,
                F132.DT_REALIZACAO DT_132_FIM,
                ISNULL(F165.DT_PREVISTA,F333.DT_REALIZACAO) DT_165_INI,
                F165.DT_REALIZACAO DT_165_FIM,
                --CONFIRMACAO DE EMBARQUE --132 E 165
                DATEDIFF(DAY, F139.DT_PREVISTA, ISNULL(F139.DT_REALIZACAO,GETDATE())) DT_CONF_EMBARQUE_COMP,
                --DOCUMENTAL
                ISNULL(F139.DT_PREVISTA,F333.DT_REALIZACAO) DT_139_INI,
                F139.DT_REALIZACAO DT_139_FIM,
                ISNULL(F314.DT_PREVISTA,F333.DT_REALIZACAO) DT_314_INI,
                F314.DT_REALIZACAO DT_314_FIM,
                --DOCUMENTAL RODOVIARIO --132 E 139
                DATEDIFF(DAY, F139.DT_PREVISTA, ISNULL(F139.DT_REALIZACAO,GETDATE())) DT_DOCUMENTAL_ROD_COMP,
                --DOCUMENTAL MARITIMO--132 E 139
                DATEDIFF(DAY, F139.DT_PREVISTA, ISNULL(F139.DT_REALIZACAO,GETDATE())) DT_DOCUMENTAL_MAR_COMP,
                --DOCUMENTAL AEREO--314 E 139
                DATEDIFF(DAY, F139.DT_PREVISTA, ISNULL(F139.DT_REALIZACAO,GETDATE())) DT_DOCUMENTAL_AER_COMP,
                --FATURAMENTO
                ISNULL(F092.DT_PREVISTA,F333.DT_REALIZACAO) DT_092_INI,
                F092.DT_REALIZACAO DT_092_FIM,
               --FATURAMENTO RODOVIARIO --088 E 092
                DATEDIFF(DAY, F092.DT_PREVISTA, ISNULL(F092.DT_REALIZACAO,GETDATE())) DT_FATURAMENTO_ROD_COMP,
                --FATURAMENTO MARITIMO --088 E 092
                DATEDIFF(DAY, F092.DT_PREVISTA, ISNULL(F092.DT_REALIZACAO,GETDATE())) DT_FATURAMENTO_MAR_COMP,
                --FATURAMENTO AEREO --132 E 092
                DATEDIFF(DAY, F092.DT_PREVISTA, ISNULL(F092.DT_REALIZACAO,GETDATE())) DT_FATURAMENTO_AER_COMP,
                --CHEGADA NO DESTINO
                ISNULL(F261.DT_PREVISTA,F333.DT_REALIZACAO) DT_261_INI,
                F261.DT_REALIZACAO DT_261_FIM,
                ISNULL(F149.DT_PREVISTA,F333.DT_REALIZACAO) DT_149_INI,
                F149.DT_REALIZACAO DT_149_FIM,	
                --CHEGADA NO DESTINO RODOVIARIO --149 E 261
                DATEDIFF(DAY, F261.DT_PREVISTA, ISNULL(F261.DT_REALIZACAO,GETDATE())) DT_CHEG_DEST_ROD_COMP,
                --CHEGADA NO DESTINO MARITIMO --132 E 261
                DATEDIFF(DAY, F261.DT_PREVISTA, ISNULL(F261.DT_REALIZACAO,GETDATE())) DT_CHEG_DEST_MAR_COMP,
                --CHEGADA NO DESTINO AEREO --132 E 261
                DATEDIFF(DAY, F261.DT_PREVISTA, ISNULL(F261.DT_REALIZACAO,GETDATE())) DT_CHEG_DEST_AER_COMP,
                --OVERALL PROCESSO --003 E 261
                F333.DT_REALIZACAO DT_000_INI,
                F261.DT_REALIZACAO DT_000_FIM,	
                DATEDIFF(DAY, F333.DT_REALIZACAO, ISNULL(F261.DT_REALIZACAO,GETDATE())) DT_OVERALL_COMP,
                /*CASE WHEN S.CD_VIA_TRANSPORTE IN ('04','07') THEN 7
                ELSE
                     CASE WHEN S.CD_VIA_TRANSPORTE IN ('01') AND PR.CD_PAIS_DESTINO IN ('244','431','053','403','576') THEN 7 
                     ELSE
                        CASE WHEN S.CD_VIA_TRANSPORTE IN ('01') AND PR.CD_PAIS_DESTINO IN ('850') THEN 3
                        ELSE 
                            CASE WHEN S.CD_VIA_TRANSPORTE IN ('01') AND PR.CD_PAIS_DESTINO IN ('199') THEN 5
                            ELSE
                                CASE WHEN S.CD_VIA_TRANSPORTE IN ('01') AND PR.CD_PAIS_DESTINO IN ('080','369','556') THEN 15  
                                ELSE 5
                                END 
                            END 
                        END        
                     END  
                END CD_SHIP_DAYS,*/
                 PR.CD_CELULA,
                C.NM_CELULA,
                C.CD_ANALISTA,
                US.NM_USUARIO 
        FROM BROKER.DBO.TPROCESSO PR
            INNER JOIN BROKER.DBO.TPRODUTO P ON P.CD_PRODUTO  = PR.CD_PRODUTO   
            INNER JOIN BROKER.DBO.TUNID_NEG U ON U.CD_UNID_NEG = PR.CD_UNID_NEG  
            INNER JOIN BROKER.DBO.TGRUPO G ON G.CD_GRUPO = PR.CD_GRUPO    
            INNER JOIN BROKER.DBO.TEMPRESA_NAC EM ON EM.CD_EMPRESA=PR.CD_CLIENTE
            LEFT JOIN BROKER.DBO.VW_SERVICO_GERAL S ON S.CD_SERVICO=PR.CD_SERVICO
            LEFT JOIN BROKER.DBO.TVIA_TRANSPORTE V ON V.CD_VIA_TRANSPORTE = S.CD_VIA_TRANSPORTE
            LEFT JOIN BROKER.DBO.TPAIS PAIS ON PAIS.CODIGO=PR.CD_PAIS_DESTINO
            LEFT JOIN BROKER.DBO.TAREA A ON A.CD_AREA=PR.CD_AREA
            LEFT JOIN BROKER.DBO.TLOCAL_EMBARQUE LEMB ON LEMB.CODIGO = CASE S.CD_VIA_TRANSPORTE
                                                                           WHEN '07' THEN PR.CD_FRONTEIRA
                                                                       ELSE PR.CD_LOCAL_EMBARQUE
                                                                       END
            LEFT JOIN BROKER.DBO.TLOCAL_EMBARQUE LDES ON LDES.CODIGO= PR.CD_LOCAL_DESEMBARQUE   
            LEFT JOIN BROKER.DBO.TCELULA C ON C.CD_CELULA= PR.CD_CELULA
            LEFT JOIN BROKER.DBO.TUSUARIO US ON US.CD_USUARIO= C.CD_ANALISTA     
            --EVENTO EXPO 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F308 ( NOLOCK ) ON ( F308.NR_PROCESSO = PR.NR_PROCESSO AND F308.CD_EVENTO = '308')    
            LEFT JOIN BROKER.DBO.TFOLLOWUP F347 ( NOLOCK ) ON ( F347.NR_PROCESSO = PR.NR_PROCESSO AND F347.CD_EVENTO = '347')      
            LEFT JOIN BROKER.DBO.TFOLLOWUP F489 ( NOLOCK ) ON ( F489.NR_PROCESSO = PR.NR_PROCESSO AND F489.CD_EVENTO = '489') 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F402 ( NOLOCK ) ON ( F402.NR_PROCESSO = PR.NR_PROCESSO AND F402.CD_EVENTO = '402')   
            LEFT JOIN BROKER.DBO.TFOLLOWUP F314 ( NOLOCK ) ON ( F314.NR_PROCESSO = PR.NR_PROCESSO AND F314.CD_EVENTO = '314')  
            LEFT JOIN BROKER.DBO.TFOLLOWUP F491 ( NOLOCK ) ON ( F491.NR_PROCESSO = PR.NR_PROCESSO AND F491.CD_EVENTO = '491') 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F315 ( NOLOCK ) ON ( F315.NR_PROCESSO = PR.NR_PROCESSO AND F315.CD_EVENTO = '315')    
            LEFT JOIN BROKER.DBO.TFOLLOWUP F165 ( NOLOCK ) ON ( F165.NR_PROCESSO = PR.NR_PROCESSO AND F165.CD_EVENTO = '165')  
            LEFT JOIN BROKER.DBO.TFOLLOWUP F495 ( NOLOCK ) ON ( F495.NR_PROCESSO = PR.NR_PROCESSO AND F495.CD_EVENTO = '495')    
            LEFT JOIN BROKER.DBO.TFOLLOWUP F139 ( NOLOCK ) ON ( F139.NR_PROCESSO = PR.NR_PROCESSO AND F139.CD_EVENTO = '139') 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F113 ( NOLOCK ) ON ( F113.NR_PROCESSO = PR.NR_PROCESSO AND F113.CD_EVENTO = '113') 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F132 ( NOLOCK ) ON ( F132.NR_PROCESSO = PR.NR_PROCESSO AND F132.CD_EVENTO = '132') 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F261 ( NOLOCK ) ON ( F261.NR_PROCESSO = PR.NR_PROCESSO AND F261.CD_EVENTO = '261') 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F149 ( NOLOCK ) ON ( F149.NR_PROCESSO = PR.NR_PROCESSO AND F149.CD_EVENTO = '149') 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F333 ( NOLOCK ) ON ( F333.NR_PROCESSO = PR.NR_PROCESSO AND F333.CD_EVENTO = '333') 
            --EVENTOS GERAL 
            LEFT JOIN BROKER.DBO.TFOLLOWUP F003 ( NOLOCK ) ON ( F003.NR_PROCESSO = PR.NR_PROCESSO AND F003.CD_EVENTO = '003')   
            LEFT JOIN BROKER.DBO.TFOLLOWUP F088 ( NOLOCK ) ON ( F088.NR_PROCESSO = PR.NR_PROCESSO AND F088.CD_EVENTO = '088')    
            LEFT JOIN BROKER.DBO.TFOLLOWUP F114 ( NOLOCK ) ON ( F114.NR_PROCESSO = PR.NR_PROCESSO AND F114.CD_EVENTO = '114')
            LEFT JOIN BROKER.DBO.TFOLLOWUP F092 ( NOLOCK ) ON ( F092.NR_PROCESSO = PR.NR_PROCESSO AND F092.CD_EVENTO = '092')
        WHERE PR.NR_PROCESSO  IN (SELECT NR_PROCESSO FROM BROKER.DBO.TPROCESSO_VISUALCUE WHERE SUBSTRING(NR_PROCESSO, 3, 2) = '02')
            AND PR.CD_GRUPO in ('155','B36','002')
          AND PR.IN_CANCELADO = '0'
          AND F113.DT_REALIZACAO IS NOT NULL
          AND PR.CD_CLIENTE NOT IN ('2271')

--DELETA PROCESSOS ATUALIZADOS
    DELETE TPROCESSO_VISUALCUE
    WHERE NR_PROCESSO IN (SELECT NR_PROCESSO FROM VISUALCUE.DBO.TB_EXPORTACAO)   
       OR NR_PROCESSO IN (SELECT NR_PROCESSO FROM VISUALCUE.DBO.TB_IMPORTACAO)  

    DELETE V
    FROM TPROCESSO_VISUALCUE V
       INNER JOIN TPROCESSO P ON P.NR_PROCESSO = V.NR_PROCESSO
    WHERE P.CD_GRUPO <> '155'
    
    DELETE V
    FROM TPROCESSO_VISUALCUE V
       INNER JOIN TPROCESSO P ON P.NR_PROCESSO = V.NR_PROCESSO
    WHERE P.IN_CANCELADO = '1'
END




GO
