USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_sda_extrato] ( @cd_unid_neg char(2), @mes int, @ano int, @dez int, @nr_identificador int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @mes int
DECLARE @dez int
DECLARE @ano int
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @mes = 6
SELECT @ano = 2002
SELECT @dez = 1
*/

DECLARE @dt_ini datetime
DECLARE @dt_fim datetime

SELECT @dt_ini = CONVERT( datetime, '01/' + RIGHT( '0' + CONVERT( varchar, @mes ), 2 ) + '/' + CONVERT( varchar, @ano ), 103 )
IF @dez = 1
BEGIN
  SELECT @dt_fim = CONVERT( datetime, '10/' + RIGHT( '0' + CONVERT( varchar, @mes ), 2 ) + '/' + CONVERT( varchar, @ano ), 103 )
END

IF @dez = 2
BEGIN
--  SELECT @dt_ini = CONVERT( datetime, '11/' + RIGHT( '0' + CONVERT( varchar, @mes ), 2 ) + '/' + CONVERT( varchar, @ano ), 103 )
  SELECT @dt_fim = CONVERT( datetime, '20/' + RIGHT( '0' + CONVERT( varchar, @mes ), 2 ) + '/' + CONVERT( varchar, @ano ), 103 )
END

IF @dez = 3
BEGIN
--  SELECT @dt_ini = CONVERT( datetime, '21/' + RIGHT( '0' + CONVERT( varchar, @mes ), 2 ) + '/' + CONVERT( varchar, @ano ), 103 )
  IF RIGHT( '0' + CONVERT( varchar, @mes + 1 ), 2 ) = '13'
  BEGIN
    SELECT @dt_fim = CONVERT( datetime, '01/01/' + CONVERT( varchar, @ano + 1 ), 103 ) 
  END
  ELSE
  BEGIN
    SELECT @dt_fim = CONVERT( datetime, '01/' + RIGHT( '0' + CONVERT( varchar, @mes + 1 ), 2 ) + '/' + CONVERT( varchar, @ano ), 103 ) - 1
  END
--  SELECT @dt_fim = CONVERT( datetime, '01/' + RIGHT( '0' + CONVERT( varchar, @mes + 1 ), 2 ) + '/' + CONVERT( varchar, @ano ), 103 ) - 1
END

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_SDA_EXTRATO (TABLOCK HOLDLOCK)

INSERT TREL_SDA_EXTRATO ( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, CD_DESPACHANTE, DT_PAGTO, VL_SDA,
                          VL_COMPL, VL_TOTAL )
SELECT @nr_identificador, S.NR_PROCESSO, P.CD_UNID_NEG, P.CD_PRODUTO, S.CD_DESPACHANTE, S.DT_PAGTO, S.VL_SDA, 
       ( ISNULL( S.VL_CONTR_ASSIST, 0 ) + ISNULL( VL_COMPL, 0 ) ) AS VL_COMPL, 
       ( ISNULL( S.VL_SDA, 0 ) + ISNULL( S.VL_CONTR_ASSIST, 0 ) + ISNULL( VL_COMPL, 0 ) ) AS VL_TOTAL
FROM   TPROCESSO_SDA S (NOLOCK), TPROCESSO P (NOLOCK), TDESPACHANTE D (NOLOCK)
WHERE  S.NR_PROCESSO = P.NR_PROCESSO AND
       S.CD_DESPACHANTE = D.CD_DESPACHANTE AND
       P.IN_CANCELADO = '0' AND
       P.IN_LIBERADO = '1' AND
       P.CD_UNID_NEG = @cd_unid_neg AND
       S.DT_PAGTO BETWEEN @dt_ini AND @dt_fim AND
       S.DT_CANCEL IS NULL
ORDER BY D.NM_DESPACHANTE, S.DT_PAGTO, S.NR_PROCESSO

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
