USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_distribui_remessa_AG] (@dt_movimento datetime, @nr_remessa char(10),@cd_agente char(4), 
                                                @cd_banco char(3), @vl_taxa float, @vl_banco float)AS

DECLARE @nr_ult_lanc         int
DECLARE @ult_lanc   	     char(3)
DECLARE @nr_processo   	     char(18)
DECLARE @vl_recebimento      float
DECLARE @in_transferido      char(1)
DECLARE @in_cancelado        char(1)
DECLARE @cd_coligada         char(2)
DECLARE @vl_caixa            float
DECLARE @vl_recebido         FLOAT
DECLARE @cd_favorecido       char(5)
DECLARE @vl_account          float 
DECLARE @cd_item_credit_note char(3)
DECLARE @cd_item_debit_note  char(3)
DECLARE @cd_unid_neg         char(2)
DECLARE @cd_item             char(3)
DECLARE @cd_favorecido_ag    char(5)
DECLARE @cd_item_banco       char(3)
DECLARE @vl_banco_real       float
DECLARE @cd_moeda_banco      char(3)

SELECT @cd_item_banco = CD_ITEM_DESP_BANCO, @cd_moeda_banco = '790' FROM TPARAMETROS

SELECT @vl_banco_real = @vl_banco * VL_TAXA 
  FROM TTAXA_FRETE 
 WHERE CD_MOEDA = @cd_moeda_banco
   AND DT_INICIO = @dt_movimento 

   SET  @cd_coligada = '01'

SELECT @nr_ult_lanc = CONVERT( int, ISNULL( MAX( NR_LANCAMENTO), '000'  ) ) + 1
  FROM   TCAIXA 
 WHERE  DT_MOVIMENTO = @dt_movimento 

SELECT @cd_item_credit_note = CD_CREDIT_NOTE, @cd_item_debit_note  = CD_DEBIT_NOTE FROM TPARAMETROS

SELECT @cd_favorecido_ag = CD_FAVORECIDO FROM TAGENTE WHERE CD_AGENTE = @cd_agente

SELECT R.NR_PROCESSO , P.VL_ACCOUNT, P.CD_UNID_NEG
  INTO #TM_PROCESSO
  FROM TREMESSA_PROCESSO R, TPROCESSO P
 WHERE 1 = 0

INSERT #TM_PROCESSO ( NR_PROCESSO, VL_ACCOUNT, CD_UNID_NEG)
SELECT R.NR_PROCESSO ,P.VL_ACCOUNT, P.CD_UNID_NEG
  FROM TREMESSA_PROCESSO R, TPROCESSO P 
 WHERE R.NR_REMESSA = @nr_remessa
   AND R.NR_PROCESSO = P.NR_PROCESSO      

WHILE (SELECT COUNT(*) FROM #TM_PROCESSO)> 0
BEGIN

  SELECT TOP 1 @nr_processo = NR_PROCESSO , @vl_account = VL_ACCOUNT, @cd_unid_neg = CD_UNID_NEG,
   	       @cd_item = CASE 	
                          WHEN VL_ACCOUNT < 0  THEN @cd_item_debit_note 
                          ELSE @cd_item_credit_note
                          END 
    FROM #TM_PROCESSO

  SELECT @cd_favorecido = CD_FAVORECIDO 
    FROM TFAVORECIDO F, TUNID_NEG U
   WHERE F.CGC_EMPRESA = U.CGC_UNID_NEG AND CD_UNID_NEG = @cd_unid_neg

     SET @vl_account = @vl_account * @vl_taxa

  SELECT @ult_lanc = RIGHT( '000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 3 )
  
  INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, 
                  TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO,
                  CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, IN_RESTITUI, TP_NATUREZA, 
                  NR_FP, NR_CHEQUE, CD_FAVORECIDO, IN_FILTRO )
        VALUES        ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', 
                  'A', '0', '0', ABS(@vl_account), 'D', 
                  @cd_banco, @nr_processo,@cd_item,0, 0, '0',  
                CASE @cd_item 
                  WHEN @cd_item_debit_note   THEN 'C'
                  WHEN @cd_item_credit_note  THEN 'D'
                  ELSE 'C'
                END, '', @nr_remessa, CASE @cd_item 
                  WHEN @cd_item_credit_note THEN @cd_favorecido_ag 
                  ELSE @cd_favorecido
                  END,'3')       

-- SELECT @nr_ult_lanc = @nr_ult_lanc + 1


-- SELECT @ult_lanc = RIGHT( '000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 3 )
  
--  INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, 
--                  TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO,
--                  CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, IN_RESTITUI, TP_NATUREZA, 
--                  NR_FP, NR_CHEQUE, CD_FAVORECIDO, IN_FILTRO )
--        VALUES        ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', 
--                  'A', '0', '0', @vl_banco_real, 'D', 
--                  @cd_banco, @nr_processo,@cd_item_banco,0, 0, '0',  
--                  'D', '', @nr_remessa,@cd_favorecido, '3')       
--

 SELECT @nr_ult_lanc = @nr_ult_lanc + 1

 DELETE FROM #TM_PROCESSO WHERE NR_PROCESSO =@nr_processo

END

DROP TABLE #TM_PROCESSO

DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco
EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa

EXEC sp_atz_fat_cc @cd_coligada, @dt_movimento


GO
