USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[sp_atz_obs_flwup]    Script Date: 07/15/2010 18:03:35 ******/
/*
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Atualiza o campo observação da TFOLLOWUP
Criada por Rodrigo Capra - 05.06.2008
*/

CREATE PROCEDURE [sp_atz_obs_flwup] ( @nr_processo char(18), @texto char(500) ) AS

DECLARE @cd_evento       char(3)
DECLARE @ptr_proc        binary(16)
DECLARE @ptr_followup    binary(16)
DECLARE @tamanho         int
DECLARE @in_obs_unica    char(1)
DECLARE @in_obs_por_data char(1)

/*
declare @nr_processo char(18)
declare @texto char(500)

set @nr_processo = '0102EM-2891-10'
set @texto = 'teste'
*/

   SELECT @tamanho = DATALENGTH( TX_OBS )  FROM   TFOLLOWUP ( NOLOCK ) 
   where
     nr_processo = @NR_PROCESSO and CD_EVENTO = '022'  

   SELECT @ptr_proc = TEXTPTR(TX_OBS)
   FROM   TFOLLOWUP ( NOLOCK )
   where
     nr_processo = @NR_PROCESSO and CD_EVENTO = '022'  


   if  @ptr_proc is null 
   begin 
      update TFOLLOWUP set TX_OBS=null   where  nr_processo = @NR_PROCESSO and CD_EVENTO = '022'  

      SELECT @ptr_proc =  TEXTPTR(TX_OBS)
      FROM   TFOLLOWUP ( NOLOCK )
      where nr_processo = @NR_PROCESSO and CD_EVENTO = '022'  
      
   end


   SELECT @ptr_followup = convert(binary,@texto)

    -- Atualizando Campo do FollowUp
   UPDATETEXT TFOLLOWUP.TX_OBS @ptr_proc  @tamanho 0 @ptr_followup
GO
