USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_rel_fat_pend_boleto] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                        @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto  char(2)
DECLARE @cd_grupo    char(3)
DECLARE @cd_cliente  char(5)
DECLARE @dt_inicio   datetime
DECLARE @dt_fim      datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'
SELECT @cd_grupo    = 'X'
SELECT @cd_cliente  = '00001'
SELECT @dt_inicio   = CONVERT( datetime, '01/08/2001', 103 )
SELECT @dt_fim      = CONVERT( datetime, '31/08/2001', 103 )
*/

SELECT @nr_identificador = ( SELECT MAX( NR_IDENTIFICADOR ) FROM TREL_FAT_PEND_BOLETO )

IF ISNULL( @nr_identificador,0 ) = 0 
  SELECT @nr_identificador = 1
ELSE
  SELECT @nr_identificador = @nr_identificador + 1

INSERT TREL_FAT_PEND_BOLETO( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_NF, VL_FATURA, DT_EMISSAO, CD_CLIENTE )
  SELECT @nr_identificador, F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, F.NR_NOTA_FATURA, ( F.VL_FATURA ) * (-1), F.DT_IMPRESSAO, P.CD_CLIENTE
  FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         ( ( F.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( F.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         F.IN_CANCELADO = '0' AND
         NOT EXISTS( SELECT *
                     FROM   TREL_COBR_CARTEIRA R
                     WHERE  R.CD_UNID_NEG = F.CD_UNID_NEG AND 
                            R.CD_PRODUTO = F.CD_PRODUTO AND
                            R.NR_SOLICITACAO = F.NR_SOLICITACAO AND
                            R.IN_CANCELADO = '0' ) AND
         ( NOT EXISTS ( SELECT * 
                        FROM   TBOLETO_FATURA
                        WHERE  CD_UNID_NEG = F.CD_UNID_NEG AND
                               CD_PRODUTO = F.CD_PRODUTO AND
                               NR_FATURA = F.NR_NOTA_FATURA )OR
           EXISTS ( SELECT * 
                    FROM   TBOLETO_FATURA
                    WHERE  CD_UNID_NEG = F.CD_UNID_NEG AND
                           CD_PRODUTO = F.CD_PRODUTO AND
                           NR_FATURA = F.NR_NOTA_FATURA AND
                           IN_IMPRESSO = '0' AND
                           IN_CANCELADO = '0' ) OR
           ( EXISTS ( SELECT * 
                      FROM   TBOLETO_FATURA
                      WHERE  CD_UNID_NEG = F.CD_UNID_NEG AND
                             CD_PRODUTO = F.CD_PRODUTO AND
                             NR_FATURA = F.NR_NOTA_FATURA AND
                             IN_CANCELADO = '1' ) AND
             NOT EXISTS ( SELECT * 
                          FROM   TBOLETO_FATURA
                          WHERE  CD_UNID_NEG = F.CD_UNID_NEG AND
                                 CD_PRODUTO = F.CD_PRODUTO AND
                                 NR_FATURA = F.NR_NOTA_FATURA AND
                                 IN_CANCELADO = '0' AND 
                                 IN_IMPRESSO = '1' ) ) )
        
/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
