USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/****** Object:  Stored Procedure dbo.sp_cria_ensaios    Script Date: 02/09/1999 08:57:47 AM ******/
CREATE PROCEDURE [sp_rel_exp_re] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), @cd_importador char(5),
                                 @cd_area char(2), @dt_inicio datetime, @dt_fim datetime, @nr_identificador int output ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_importador char(5)
DECLARE @cd_area char(2)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_importador = 'X'
SELECT @cd_area = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/12/2002', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/12/2002', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_EXP_RE (TABLOCK HOLDLOCK)

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

INSERT TREL_EXP_RE ( NR_IDENTIFICADOR, NR_PROCESSO, CD_CLIENTE, CD_IMPORTADOR, CD_AREA, NR_RE, DT_RE, VL_TOT_MCV )
  SELECT @nr_identificador, E.NR_PROCESSO, P.CD_CLIENTE, ISNULL( E.CD_IMPORTADOR, 'X' ), A.CD_AREA, R.NR_RE, R.DT_RE, E.VL_TOT_MCV
  FROM   TPROCESSO_EXP_RE R (NOLOCK), TPROCESSO_EXP E (NOLOCK), TPROCESSO P (NOLOCK), TAREA A (NOLOCK), TEMPRESA_NAC EN (NOLOCK)
  WHERE  E.NR_PROCESSO = R.NR_PROCESSO AND
         E.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_AREA *= A.CD_AREA AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( EN.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         @cd_importador IN ( E.CD_IMPORTADOR, 'X' ) AND
         @cd_area IN ( P.CD_AREA, 'X' ) AND
         ( ( P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim ) )
  ORDER BY P.NR_PROCESSO




GO
