USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_ent_processo    Script Date: 26/11/1998 19:07:06 ******/
CREATE PROCEDURE [sp_atz_da_di]( @nr_processo_da char(18), @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0101IE-1677-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

IF EXISTS( SELECT *
           FROM   TDECLARACAO_IMPORTACAO
           WHERE  NR_PROCESSO = @nr_processo )
  RETURN 1

DECLARE @cd_armazem_atracacao char(4)
DECLARE @cd_armazem_descarga char(4)
DECLARE @cd_local_embarque char(4)
DECLARE @cd_local_desembarque char(4)
DECLARE @cd_pais_origem char(3)
DECLARE @cd_embarcacao char(4)
DECLARE @cd_agente char(4)
DECLARE @cd_transportador char(4)
DECLARE @cd_moeda_mle char(3)
DECLARE @cd_moeda_frete char(3)
DECLARE @cd_moeda_seguro char(3)
DECLARE @tp_frete char(1)
DECLARE @dt_conhecimento datetime
DECLARE @nr_manifesto char(15)
DECLARE @nr_conhecimento varchar(30)
DECLARE @nr_conhecimento_master varchar(30)

SELECT @cd_armazem_atracacao   = CD_ARMAZEM_ATRACACAO,
       @cd_armazem_descarga    = CD_ARMAZEM_DESCARGA,
       @cd_local_embarque      = CD_LOCAL_EMBARQUE,
       @cd_local_desembarque   = CD_LOCAL_DESEMBARQUE,
       @cd_pais_origem         = CD_PAIS_ORIGEM,
       @cd_embarcacao          = CD_EMBARCACAO,
       @cd_agente              = CD_AGENTE,
       @cd_transportador       = CD_TRANSPORTADOR,
       @cd_moeda_mle           = CD_MOEDA_MLE,
       @cd_moeda_frete         = CD_MOEDA_FRETE,
       @cd_moeda_seguro        = CD_MOEDA_SEGURO,
       @tp_frete               = TP_FRETE,
       @dt_conhecimento        = DT_CONHECIMENTO,
       @nr_conhecimento        = NR_CONHECIMENTO,
       @nr_conhecimento_master = NR_CONHECIMENTO_MASTER,
       @nr_manifesto           = NR_MANIFESTO
FROM   TPROCESSO
WHERE  NR_PROCESSO = @nr_processo_da

UPDATE TPROCESSO
SET    CD_ARMAZEM_ATRACACAO   = @cd_armazem_atracacao,
       CD_ARMAZEM_DESCARGA    = @cd_armazem_descarga,
       CD_LOCAL_EMBARQUE      = @cd_local_embarque,
       CD_LOCAL_DESEMBARQUE   = @cd_local_desembarque,
       CD_PAIS_ORIGEM         = @cd_pais_origem,
       CD_EMBARCACAO          = @cd_embarcacao,
       NR_MANIFESTO           = @nr_manifesto,
       CD_AGENTE              = @cd_agente,
       CD_TRANSPORTADOR       = @cd_transportador,
       CD_MOEDA_MLE           = @cd_moeda_mle,
       CD_MOEDA_FRETE         = @cd_moeda_frete,
       CD_MOEDA_SEGURO        = @cd_moeda_seguro,
       TP_FRETE               = @tp_frete,
       DT_CONHECIMENTO        = @dt_conhecimento,
       NR_CONHECIMENTO        = @nr_conhecimento,
       NR_CONHECIMENTO_MASTER = @nr_conhecimento_master
WHERE  NR_PROCESSO            = @nr_processo

/*
UPDATE TPROCESSO
SET    TX_MERCADORIA = P2.TX_MERCADORIA
FROM   TPROCESSO P, TPROCESSO P2
WHERE  P.NR_PROCESSO = P2.NR_PROCESSO
*/

RETURN(0)


GO
