USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [sp_fat_refat] ( @cd_unid_neg char(2), @cd_produto char(2), @nr_solicitacao char(6) ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg    char(2)
DECLARE @cd_produto     char(2)
DECLARE @nr_solicitacao char(6)

SELECT @cd_unid_neg    = '01'
SELECT @cd_produto     = '01'
SELECT @nr_solicitacao = '000001'

select CD_CANCELADOR, DT_CANCELAMENTO, DT_CALCULO, IN_CALCULADO, IN_REFATURADO from ts_fatura 
WHERE  CD_UNID_NEG     = @cd_unid_neg AND
       CD_PRODUTO      = @cd_produto  AND
       NR_SOLICITACAO  = @nr_solicitacao
--*/

/*** TS_FATURA ***/

UPDATE TS_FATURA
SET    CD_CANCELADOR   = '', 
       DT_CANCELAMENTO = NULL, 
       DT_CALCULO      = NULL,
       IN_CALCULADO    = '0',
       IN_IMPRESSO     = '0',
       IN_REFATURADO   = '1'
WHERE  CD_UNID_NEG     = @cd_unid_neg AND
       CD_PRODUTO      = @cd_produto  AND
       NR_SOLICITACAO  = @nr_solicitacao

DELETE TFATURAMENTO_CC
WHERE  CD_UNID_NEG    = @cd_unid_neg AND
       CD_PRODUTO     = @cd_produto  AND
       NR_SOLIC_FAT   = @nr_solicitacao AND
       CD_ORIGEM_LANC = '6'

UPDATE TFATURAMENTO_CC
SET    IN_FATURADO = '0',
       CD_UNID_NEG = NULL,
       CD_PRODUTO = NULL,
       NR_SOLIC_FAT = NULL,
       IN_SEL_FAT      = '1'
WHERE  CD_UNID_NEG    = @cd_unid_neg AND
       CD_PRODUTO     = @cd_produto  AND
       NR_SOLIC_FAT   = @nr_solicitacao

-- Exclui o registro da TNF_RETENCAO
/* -- comentado André 21/10/2008 a tabela não é mais usada
DELETE TNF_RETENCAO 
WHERE  CD_UNID_NEG	= @cd_unid_neg AND
       CD_PRODUTO	= @cd_produto  AND
       NR_SOLICITACAO	= @nr_solicitacao 

-- Retira a indicação ( nos processos que foram utilizados para acumular ) do processo excluído TNF_RETENCAO
UPDATE TNF_RETENCAO 
SET    CD_UNID_NEG_ACUMULADA	= '',
       CD_PRODUTO_ACUMULADA	= '',
       NR_SOLICITACAO_ACUMULADA	= '',
       IN_STATUS                = '-'
WHERE  CD_UNID_NEG_ACUMULADA	= @cd_unid_neg AND
       CD_PRODUTO_ACUMULADA	= @cd_produto  AND
       NR_SOLICITACAO_ACUMULADA	= @nr_solicitacao*/

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
