USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_web_verifica_followup](@nrAnoProc int = 0) AS
/*
SET XACT_ABORT ON
BEGIN TRAN
DECLARE @nrAnoProc int
--*/
SET NOCOUNT ON
DECLARE
  @nrRowProc int,
  @apCampo char(8),
  @cdBroker char(3),
  @txUpdate varchar(1024)

IF ISNULL(@nrAnoProc, 0) = 0 SET @nrAnoProc = YEAR(GETDATE())-2
SET @nrRowProc = 0

INSERT INTO TATZ_MYINDAIA_FOLLOWUP (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TFOLLOWUP'
FROM TFOLLOWUP FU (NOLOCK)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = FU.NR_PROCESSO)
WHERE YEAR(PR.DT_ABERTURA) >= @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFOLLOWUP (NOLOCK) 
                  WHERE NR_PROCESSO = FU.NR_PROCESSO
                    AND CD_SERVICO = FU.CD_SERVICO
                    AND CD_EVENTO = FU.CD_EVENTO)

INSERT INTO TATZ_MYINDAIA_FOLLOWUP (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TFOLLOWUP'
FROM TFOLLOWUP_ETAPA FU (NOLOCK)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = FU.NR_PROCESSO)
WHERE YEAR(PR.DT_ABERTURA) >= @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFOLLOWUP_ETAPA (NOLOCK) WHERE NR_PROCESSO = FU.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_FOLLOWUP (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TFOLLOWUP'
FROM TFOLLOWUP FU (NOLOCK)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = FU.NR_PROCESSO)
WHERE YEAR(PR.DT_ABERTURA) >= @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND FU.CD_EVENTO = '022'
  AND FU.TX_OBS IS NOT NULL
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFOLLOWUP_OBS (NOLOCK) WHERE NR_PROCESSO = FU.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_FOLLOWUP (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TFOLLOWUP'
FROM TFOLLOWUP FU (NOLOCK)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = FU.NR_PROCESSO)
WHERE YEAR(PR.DT_ABERTURA) >= @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.CD_PRODUTO IN ('02','10')
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFLP_EXPORT (NOLOCK) WHERE NR_PROCESSO = FU.NR_PROCESSO)


/**********************************************************/
/*     VERIFICAÇÃO DE EVENTOS PREENCHIDOS NO FOLLOWUP     */
/**********************************************************/
INSERT INTO TATZ_MYINDAIA_FOLLOWUP (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT FP.NR_PROCESSO, 'TFOLLOWUP'
FROM MYINDAIA.DBO.TFOLLOWUP FP (NOLOCK)
  INNER JOIN TFOLLOWUP FU (NOLOCK) ON (FU.NR_PROCESSO = FP.NR_PROCESSO AND FU.CD_EVENTO = FP.CD_EVENTO)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = FU.NR_PROCESSO)
WHERE YEAR(PR.DT_ABERTURA) >= @nrAnoProc
  AND (ISNULL(FP.DT_PREVISTA, '') <> ISNULL(FU.DT_PREVISTA, '')
    OR ISNULL(FP.DT_REALIZACAO, '') <> ISNULL(FU.DT_REALIZACAO, '')
    OR ISNULL(FP.IN_APLICAVEL, '') <> ISNULL(FU.IN_APLICAVEL, ''))

DECLARE cEvento CURSOR LOCAL FOR
  SELECT M10_AP_CAMPO, M10_CD_BROKER
  FROM MYINDAIA.DBO.M10_DADOS (NOLOCK)
  WHERE M10_TP_DADO = '1'
    AND M10_CD_BROKER IN ('003','018','076','088','092','105','113','114','117','118','119','122','124','130','131','132','135','139','140',
                          '141','143','147','149','165','181','204','211','213','214','227','235','236','250','251','252','261','268',
                          '269','270','271','289','308','312','313','314','315','317','318','319','323','329','330','333','334','335',
                          '336','337','342','343','344','347','348','367','369','370','371','372','373','374','398','400','403','427',
                          '428','442','443','444','445','486','487','488','489','490','491','492','494','495','496','497','504','506',
                          '507','517','524','525','527','528','526','531')
  ORDER BY M10_CD_BROKER

OPEN cEvento
FETCH cEvento INTO @apCampo, @cdBroker

WHILE @@fetch_status = 0
BEGIN
  SET @txUpdate = 'INSERT INTO TATZ_MYINDAIA_FOLLOWUP (NR_PROCESSO, NM_TABELA)
    SELECT DISTINCT PR.NR_PROCESSO, ''TFOLLOWUP''
    FROM MYINDAIA.DBO.TFLP_EXPORT FE (NOLOCK)
      INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = FE.NR_PROCESSO) 
      INNER JOIN TFOLLOWUP FU (NOLOCK) ON (FU.NR_PROCESSO = FE.NR_PROCESSO AND FU.CD_EVENTO = '''+@cdBroker+''') 
    WHERE YEAR(PR.DT_ABERTURA) >= '+CAST(@nrAnoProc AS char)+'
      AND (ISNULL(FE.PVT_'+@apCampo+', '''') <> ISNULL(FU.DT_PREVISTA, '''')
        OR ISNULL(FE.RLZ_'+@apCampo+', '''') <> ISNULL(FU.DT_REALIZACAO, '''')
        OR ISNULL(FE.IN_'+@apCampo+', '''') <> ISNULL(FU.IN_APLICAVEL, ''''))'
  exec(@txUpdate)
  IF @@ERROR <> 0 PRINT 'Erro na verificação da TFLP_EXPORT com o evento de Desembaraço '+@cdBroker
  FETCH cEvento INTO @apCampo, @cdBroker
END
CLOSE cEvento
DEALLOCATE cEvento

--compacta os registros selecionados
SELECT DISTINCT NR_PROCESSO, NM_TABELA
INTO #TMP_FOLLOWUP
FROM TATZ_MYINDAIA_FOLLOWUP (NOLOCK)
WHERE SUBSTRING(NR_PROCESSO,5,2) NOT IN ('EW','FT','IF','IW','PO','TE')

TRUNCATE TABLE TATZ_MYINDAIA_FOLLOWUP

INSERT INTO TATZ_MYINDAIA_FOLLOWUP (NR_PROCESSO, NM_TABELA)
SELECT NR_PROCESSO, NM_TABELA
FROM #TMP_FOLLOWUP
--numero de linhas recuperadas no cadastro
SET @nrRowProc = @nrRowProc + @@rowcount

DROP TABLE #TMP_FOLLOWUP

PRINT 'Registros encontrados: '+CAST(@nrRowProc as varchar)
RETURN(@nrRowProc)
SET NOCOUNT OFF
/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

GO
