USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [AddEntry]                 
	@imalock int,   
	@ParentId int,
	@highhash int,
	@lowhash  int,
	@uidhost  int,
	@uidtype  int,
	@uidid	  int,
    @ContextId int,
	@partcount int,
	@leftoversize int,
	@rdn      varbinary(255),
	@entrydata image,
	@ValueBlock TEXT
AS
	DECLARE @nodeid int
	DECLARE @AttrNameId int
	DECLARE @len int
	DECLARE @len1 int
	DECLARE @attrvalue varchar(255)
	DECLARE @leftlen int
	DECLARE @dm varchar(15)
	DECLARE @tempblock varchar(255)
	DECLARE @flag int
  DECLARE @usepatindex int
  DECLARE @testpatindex varchar(15)
	    DECLARE @binstr varbinary(255)
	    DECLARE @binchar varbinary(1)
	INSERT INTO KEYTABLE(
		imalock,             
        		parentid,        
		 highhash,                   
	       	 lowhash,                    
	              uidhost,               
                           uidtype,     
                           uidid,      
                           contextid,   
                           rdn
	) 
	VALUES(
		@imalock,
		@ParentId,
		@highhash,
		@lowhash,
		@uidhost,
		@uidtype,
		@uidid,
		@ContextId,
		@rdn
	)


DECLARE nodeid_cursor CURSOR FOR 
SELECT nodeid  
      FROM KEYTABLE 
      WHERE imalock = @imalock AND parentid = @ParentId AND lowhash=@lowhash AND highhash = @highhash 
 
OPEN nodeid_cursor 
 
FETCH NEXT FROM nodeid_cursor  
	     INTO @nodeid 
 
CLOSE nodeid_cursor 
DEALLOCATE nodeid_cursor 

	
	EXEC AddEntryData @nodeid, @partcount, @leftoversize,@entrydata

	

	SET @dm = '%' + CHAR(0) + '%'	
	SET @leftlen = DATALENGTH(@ValueBlock)
	SET @len1 = 0

	    SET @testpatindex = 'test' + CHAR(0) + 'abc'
	    SET @usepatindex = 0
	    IF(PATINDEX(@dm,@testpatindex) = 5) 
          BEGIN
	            SET @usepatindex = 1
          END

	WHILE( (@leftlen - @len1) > 0)
		BEGIN
			IF ((@leftlen - @len1) >= 255 )
				BEGIN
					SET @tempblock = SUBSTRING(@ValueBlock,@len1+1, 255)
				END
			ELSE
				BEGIN
					SET @tempblock = SUBSTRING(@ValueBlock,@len1+1, @leftlen - @len1)

				END			
      IF(@usepatindex = 1 )
          BEGIN
              SET @len = PATINDEX(@dm, @tempblock)
          END
       ELSE
         BEGIN
          	SET @binchar = 1
          	SET @binstr = CAST(@tempblock AS VARBINARY(255))
          	SET @len  = 0
          	WHILE(@binchar != 0 )
          	    BEGIN 
          	        SET @binchar = SUBSTRING(@binstr, @len+1, 1)
          	        SET @len =@len+1
          	    END
           END
			SET @AttrNameId = CAST(SUBSTRING(@ValueBlock,@len1+1, @len-1) AS int)
			SET @len1 = @len1 + @len		
			
			IF(@AttrNameId = 0)
				BEGIN
					RETURN @nodeid
				END
              			IF ((@leftlen - @len1) >= 255 )
				BEGIN
					SET @tempblock = SUBSTRING(@ValueBlock,@len1+1, 255)
				END
			ELSE
				BEGIN
					SET @tempblock = SUBSTRING(@ValueBlock,@len1+1, @leftlen - @len1)

				END			
      IF(@usepatindex = 1 )
          BEGIN
              SET @len = PATINDEX(@dm, @tempblock)
          END
       ELSE
         BEGIN
          	SET @binchar = 1
          	SET @binstr = CAST(@tempblock AS VARBINARY(255))
          	SET @len  = 0
          	WHILE(@binchar != 0 )
          	    BEGIN 
          	        SET @binchar = SUBSTRING(@binstr, @len+1, 1)
          	        SET @len =@len+1
          	    END
           END
			SET @attrvalue = SUBSTRING(@ValueBlock,@len1+1, @len-1)
			SET @len1 = @len1 + @len		
	
			INSERT INTO INDEXTABLE (nodeid,contextid,parentid,attrnameid,attrvalue)
				VALUES(@nodeid,@ContextId,@ParentId,@AttrNameId,@attrvalue)

		END
			
	return @nodeid

GO
