USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [sp_proc_solic_pagto_ag](@nr_processo char(18)) AS  
  
DECLARE @cd_item char(3)  
DECLARE @cd_item_frete char(3)  
  
SELECT @cd_item_frete = CD_ITEM_FRETE_AEREO FROM TPARAMETROS  
  
UPDATE TSOLIC_PAGTO   
  SET IN_SOLICITADO = '1',   
--      IN_FATURADO   = CASE TP_DESTINO   
--                       WHEN '4' THEN '1'  
--                       ELSE '0'  
--                      END,    
      CD_STATUS =   
       CASE   
         WHEN (P.TP_PROCESSO = '0') AND (S.VL_COMPRA_EFETIVA = S.VL_VENDA)AND   
              (S.CD_ITEM = @cd_item_frete) THEN '6'  
         WHEN (S.VL_COMPRA_EFETIVA = S.VL_COMPRA) THEN '6'           
         ELSE '19'  
       END           
 FROM TSOLIC_PAGTO S, TPROCESSO P   
 WHERE P.NR_PROCESSO = @nr_processo    
  AND  P.NR_PROCESSO = S.NR_PROCESSO   
  AND  S.IN_SELECIONADO = '1'  
  AND  S.CD_STATUS = '0'  


GO
