USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_po_emb_web2] ( @cd_grupo char(3), @cd_cliente char(5), @dt_ini char(8), @dt_fim char(8), 
                                     @nr_identificador_web int ,@nr_identificador int output ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_grupo   char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_ini     char(7)
DECLARE @dt_fim     char(7)
DECLARE @nr_identificador int
DECLARE @nr_identificador_web int

SELECT @cd_grupo   = '034'
SELECT @cd_cliente = 'X'
SELECT @dt_ini     = '01/1900'
SELECT @dt_fim     = '12/2003'
SELECT @nr_identificador_web = '1'
*/

DECLARE @cd_ev_embarque      char(3)
DECLARE @cd_ev_prev_embarque char(3)
DECLARE @dt_ini_m            char(2)
DECLARE @dt_fim_m            char(2)
DECLARE @dt_ini_y            char(4)
DECLARE @dt_fim_y            char(4)


SELECT @dt_ini_m = SUBSTRING( @dt_ini, 1, 2 )
--SELECT @dt_ini_m, 'MES_INICIO'
SELECT @dt_fim_m = SUBSTRING( @dt_fim, 1, 2 )
--SELECT @dt_fim_m, 'MES_FIM'

SELECT @dt_ini_y = SUBSTRING( @dt_ini, 4, 4 ) 
--SELECT @dt_ini_y, 'ANO_INICIO'
SELECT @dt_fim_y = SUBSTRING( @dt_fim, 4, 4 ) 
--SELECT @dt_fim_y, 'ANO_FIM'


SELECT @cd_ev_embarque      = CD_EV_EMBARQUE,
       @cd_ev_prev_embarque = CD_EV_PREV_EMBARQUE
FROM   TPARAMETROS

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_PO_EMB_WEB (TABLOCK HOLDLOCK)


INSERT TREL_PO_EMB_WEB ( NR_IDENTIFICADOR, CD_MERCADORIA, DT_EMBARQUE, QT_MERCADORIA, TP_REL, DATA_GRAF, AP_MERC_ANO )
SELECT @nr_identificador, I.CD_MERCADORIA, F.DT_REALIZACAO, SUM( I.QT_INICIAL ) AS QT_MERCADORIA, '1' as TP_REL,
       ( LTRIM(RTRIM(CONVERT(CHAR, DATEPART(MM, F.DT_REALIZACAO))))+'/'+LTRIM(RTRIM(CONVERT(CHAR, DATEPART(YYYY, F.DT_REALIZACAO)))) ) AS DATA_GRAF,
       ( RTRIM(M.AP_MERCADORIA)+' - '+( LTRIM(RTRIM(CONVERT(CHAR, DATEPART(MM, F.DT_REALIZACAO))))+'/'+LTRIM(RTRIM(CONVERT(CHAR, DATEPART(YYYY, F.DT_REALIZACAO)))) ) ) AS AP_MERC_ANO
FROM   TPO P, TPO_ITEM I, TFLP_PO F, TEMPRESA_NAC E, TMERCADORIA M
WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
       P.NR_PROCESSO = I.NR_PROCESSO AND
       P.CD_IMPORTADOR = E.CD_EMPRESA AND
       I.CD_MERCADORIA = M.CD_MERCADORIA AND
       F.CD_EVENTO = @cd_ev_embarque AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( P.CD_IMPORTADOR = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       /*I.CD_MERCADORIA IN ( SELECT CD_MERCADORIA
                            FROM   TREL_PRODUTO_WEB
                            WHERE  NR_IDENTIFICADOR = @nr_identificador_web ) AND*/
       DATEPART(MM, F.DT_REALIZACAO) BETWEEN @dt_ini_m AND @dt_fim_m AND
       DATEPART(YYYY, F.DT_REALIZACAO) BETWEEN @dt_ini_y AND @dt_fim_y 
GROUP BY I.CD_MERCADORIA, F.DT_REALIZACAO, M.AP_MERCADORIA
ORDER BY I.CD_MERCADORIA, F.DT_REALIZACAO


INSERT TREL_PO_EMB_WEB ( NR_IDENTIFICADOR, CD_MERCADORIA, DT_EMBARQUE, QT_MERCADORIA, TP_REL, DATA_GRAF, AP_MERC_ANO ) 
SELECT @nr_identificador, I.CD_MERCADORIA, F.DT_REALIZACAO, SUM( I.QT_INICIAL ) AS QT_MERCADORIA, '2' AS TP_REL,
       ( LTRIM(RTRIM(CONVERT(CHAR, DATEPART(MM, F.DT_REALIZACAO))))+'/'+LTRIM(RTRIM(CONVERT(CHAR, DATEPART(YYYY, F.DT_REALIZACAO)))) ) AS DATA_GRAF,
       ( RTRIM(M.AP_MERCADORIA)+' - '+( LTRIM(RTRIM(CONVERT(CHAR, DATEPART(MM, F.DT_REALIZACAO))))+'/'+LTRIM(RTRIM(CONVERT(CHAR, DATEPART(YYYY, F.DT_REALIZACAO)))) ) ) AS AP_MERC_ANO
FROM   TPO P, TPO_ITEM I, TFLP_PO F, TEMPRESA_NAC E, TMERCADORIA M
WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
       P.NR_PROCESSO = I.NR_PROCESSO AND
       P.CD_IMPORTADOR = E.CD_EMPRESA AND
       I.CD_MERCADORIA = M.CD_MERCADORIA AND
       F.CD_EVENTO = @cd_ev_prev_embarque AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( P.CD_IMPORTADOR = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       /*I.CD_MERCADORIA IN ( SELECT CD_MERCADORIA
                            FROM   TREL_PRODUTO_WEB
                            WHERE  NR_IDENTIFICADOR = @nr_identificador_web ) AND*/
       DATEPART(MM, F.DT_REALIZACAO) BETWEEN @dt_ini_m AND @dt_fim_m AND
       DATEPART(YYYY, F.DT_REALIZACAO) BETWEEN @dt_ini_y AND @dt_fim_y AND
       EXISTS ( SELECT F2.NR_PROCESSO
                FROM   TFLP_PO F2
                WHERE  F.NR_PROCESSO = F2.NR_PROCESSO AND 
                       F2.CD_EVENTO = @cd_ev_embarque AND
                       ISDATE( CONVERT( varchar, F2.DT_REALIZACAO ) ) = 0 )
GROUP BY I.CD_MERCADORIA, F.DT_REALIZACAO, M.AP_MERCADORIA
ORDER BY I.CD_MERCADORIA, F.DT_REALIZACAO


/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/
GO
