USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_rel_cont_averb] ( @cd_unid_neg char(03), @cd_grupo char(03), @cd_cliente char(05), @cd_servico char(03),
                                     @cd_analista char(04), @in_proc_averb char(01), @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @cd_unid_neg      CHAR(03)
DECLARE @cd_grupo         CHAR(03)
DECLARE @cd_cliente       CHAR(05)
DECLARE @cd_servico       CHAR(03)
DECLARE @cd_analista      CHAR(04)
DECLARE @in_proc_averb    CHAR(01)

SELECT @cd_unid_neg   = 'X', 
       @cd_grupo      = 'X', 
       @cd_cliente    = 'X',
       @cd_servico    = 'X',  
       @cd_analista   = 'X',
       @in_proc_averb = '1'
--*/

SELECT @nr_identificador = MAX( NR_IDENTIFICADOR )
FROM TREL_CONT_AVERB

SELECT @nr_identificador = ISNULL( @nr_identificador,0 ) + 1

DECLARE @cd_ev_averbacao CHAR(03)

SELECT @cd_ev_averbacao = CD_EV_AVERBACAO 
FROM TPARAMETROS

IF @in_proc_averb = '0'
BEGIN
  INSERT TREL_CONT_AVERB ( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_CLIENTE, CD_SERVICO, CD_ANALISTA, CD_EMBARCACAO )
  SELECT @nr_identificador, P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CLIENTE, P.CD_SERVICO, P.CD_ANALISTA_COMISSARIA, P.CD_EMBARCACAO         
  FROM   TPROCESSO P, TFOLLOWUP F, TEMPRESA_NAC E
  WHERE  F.TX_OBS IS NOT NULL AND
         P.CD_PRODUTO IN ( '02', '10' ) AND
         F.CD_EVENTO  = @cd_ev_averbacao AND
         ISNULL( F.DT_REALIZACAO,'' ) <> '' AND
         ( ( P.CD_UNID_NEG            = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_SERVICO             = @cd_servico  ) OR ( @cd_servico  = 'X' ) ) AND
         ( ( P.CD_CLIENTE             = @cd_cliente  ) OR ( @cd_cliente  = 'X' ) ) AND
         ( ( E.CD_GRUPO               = @cd_grupo    ) OR ( @cd_grupo    = 'X' ) ) AND
         ( ( P.CD_ANALISTA_COMISSARIA = @cd_analista ) OR ( @cd_analista = 'X' ) ) AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE  = E.CD_EMPRESA
END
ELSE
BEGIN
  INSERT TREL_CONT_AVERB ( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_CLIENTE, CD_SERVICO, CD_ANALISTA, CD_EMBARCACAO )
  SELECT @nr_identificador, P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CLIENTE, P.CD_SERVICO, P.CD_ANALISTA_COMISSARIA, P.CD_EMBARCACAO
  FROM   TPROCESSO P, TFOLLOWUP F, TEMPRESA_NAC E
  WHERE  P.CD_PRODUTO IN ( '02', '10' ) AND
         F.CD_EVENTO  = @cd_ev_averbacao AND
         ISNULL( F.DT_REALIZACAO,'' ) = '' AND 
         ( ( P.CD_UNID_NEG            = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_SERVICO             = @cd_servico  ) OR ( @cd_servico  = 'X' ) ) AND
         ( ( P.CD_CLIENTE             = @cd_cliente  ) OR ( @cd_cliente  = 'X' ) ) AND
         ( ( E.CD_GRUPO               = @cd_grupo    ) OR ( @cd_grupo    = 'X' ) ) AND
         ( ( P.CD_ANALISTA_COMISSARIA = @cd_analista ) OR ( @cd_analista = 'X' ) ) AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE  = E.CD_EMPRESA
END

/* Observações */

INSERT TREL_CONT_AVERB_OBS ( NR_IDENTIFICADOR, NR_PROCESSO, CD_EVENTO, TX_OBS )
SELECT @nr_identificador, F.NR_PROCESSO, F.CD_EVENTO, F.TX_OBS 
FROM   TFOLLOWUP F, TPROCESSO P, TEMPRESA_NAC E
WHERE  F.TX_OBS IS NOT NULL AND
       P.CD_PRODUTO IN ( '02', '10' ) AND    
       ( ( P.CD_UNID_NEG            = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
       ( ( P.CD_SERVICO             = @cd_servico  ) OR ( @cd_servico  = 'X' ) ) AND
       ( ( P.CD_CLIENTE             = @cd_cliente  ) OR ( @cd_cliente  = 'X' ) ) AND
       ( ( E.CD_GRUPO               = @cd_grupo    ) OR ( @cd_grupo    = 'X' ) ) AND
       ( ( P.CD_ANALISTA_COMISSARIA = @cd_analista ) OR ( @cd_analista = 'X' ) ) AND
       F.NR_PROCESSO IN ( SELECT NR_PROCESSO 
                          FROM   TREL_CONT_AVERB
                          WHERE  NR_IDENTIFICADOR = @nr_identificador ) AND
       F.NR_PROCESSO = P.NR_PROCESSO AND
       P.CD_CLIENTE  = E.CD_EMPRESA

/*       
SELECT * FROM TREL_CONT_AVERB WHERE NR_IDENTIFICADOR = @nr_identificador
SELECT * FROM TREL_CONT_AVERB_OBS WHERE NR_IDENTIFICADOR = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/



GO
