USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROC [sp_cancel_rel] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), 
                          @nr_relatorio char(3), @nr_ano char(4) AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @nr_relatorio char(3)
DECLARE @nr_ano char(4)

SELECT @cd_unid_neg = '01'
SELECT @nr_relatorio = '012'
SELECT @nr_ano = '2000'
SELECT @cd_grupo = '008'
SELECT @cd_cliente = 'X'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo    char(18)
DECLARE @nr_liquidacao  char(3)
DECLARE @cd_usuario     char(4)
DECLARE @vl_relatorio   numeric(14, 2)
DECLARE @nr_ult_lanc    int
DECLARE @ult_lanc       char(6)
DECLARE @cd_ct_contabil char(10)
DECLARE @cd_acesso      char(1)
DECLARE @cd_aux         char(3)
DECLARE @dt_liquidacao  datetime
DECLARE @cd_banco       char(3)
DECLARE @cd_forma_pagto char(1)

IF @cd_grupo <> 'X'
BEGIN
  SELECT @cd_ct_contabil = CD_CT_CONTABIL, 
         @cd_acesso      = CD_ACESSO, 
         @cd_aux         = CD_AUX
  FROM   TEMPRESA_NAC
  WHERE  CGC_EMPRESA IN ( SELECT CNPJ_GRUPO
                          FROM   TGRUPO
                          WHERE  CD_GRUPO = @cd_grupo )
END
ELSE
BEGIN
  SELECT @cd_ct_contabil = CD_CT_CONTABIL, 
         @cd_acesso      = CD_ACESSO, 
         @cd_aux         = CD_AUX
  FROM   TEMPRESA_NAC
  WHERE  CD_EMPRESA = @cd_cliente
END

SELECT @cd_ct_contabil = ISNULL( @cd_ct_contabil, '' )

-- Deverá ter Conta Contábil cadastrada
IF @cd_ct_contabil = '' RETURN(1)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

DECLARE c_liq_rel CURSOR FOR
  SELECT L.NR_PROCESSO, L.NR_LIQUIDACAO
  FROM   TLIQUIDACAO L, TPROCESSO P, TEMPRESA_NAC E
  WHERE  L.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = @cd_unid_neg AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         NR_RELATORIO = @nr_relatorio AND NR_ANO = @nr_ano

OPEN c_liq_rel

FETCH c_liq_rel INTO @nr_processo, @nr_liquidacao

WHILE @@fetch_status = 0
BEGIN
  UPDATE TLIQUIDACAO
  SET    IN_CANCELADO = '1',
         CD_CANCELADOR =  @cd_usuario,
         DT_CANCELAMENTO =  GETDATE()
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_LIQUIDACAO = @nr_liquidacao

  EXEC sp_atualiza_liquidacao @nr_processo, @nr_liquidacao

  FETCH c_liq_rel INTO @nr_processo, @nr_liquidacao
END

CLOSE c_liq_rel
DEALLOCATE c_liq_rel

-- Inserindo total do relatório no financeiro
SELECT @vl_relatorio = ISNULL( VL_REEMBOLSO ,0 )
FROM   TREL_FIN_CONTROLE
WHERE  CD_UNID_NEG  = @cd_unid_neg AND
       CD_GRUPO     = @cd_grupo AND 
       NR_RELATORIO = @nr_relatorio AND 
       NR_ANO       = @nr_ano

SELECT @vl_relatorio = ISNULL( VL_REEMBOLSO ,0 )
FROM   TREL_FIN_CONTROLE
WHERE  CD_UNID_NEG    = @cd_unid_neg AND 
       ( ( CD_GRUPO   = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND 
       ( ( CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND 
       NR_RELATORIO   = @nr_relatorio AND 
       NR_ANO         = @nr_ano

SELECT @dt_liquidacao  = DT_LIQUIDACAO,
       @cd_banco       = CD_BANCO,
       @cd_forma_pagto = CD_FORMA_PAGTO
FROM   TLIQUIDACAO L, TPROCESSO P, TEMPRESA_NAC E
WHERE  L.NR_PROCESSO = P.NR_PROCESSO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       P.CD_UNID_NEG = @cd_unid_neg AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       L.NR_RELATORIO = @nr_relatorio AND NR_ANO = @nr_ano

SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
FROM   TCAIXA 
WHERE  DT_MOVIMENTO = @dt_liquidacao

SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,
                IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO,
                CD_CT_CONTABIL, IN_RESTITUI, CD_ACESSO, CD_AUX )
VALUES        ( '01', @dt_liquidacao, @ult_lanc, @cd_unid_neg, 'C', '4', '0', 
                '1', 'ESTORNO DE REMESSA REL. REEMBOLSO', @vl_relatorio, @cd_forma_pagto, 'D', @cd_banco, 
                @cd_ct_contabil, '0', @cd_acesso, @cd_aux )



GO
