USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [AddEntryNoIndex]                 
	@imalock int,   
	@ParentId int,
	@highhash int,
	@lowhash  int,
	@uidhost  int,
	@uidtype  int,
	@uidid	  int,
    @ContextId int,
	@partcount int,
	@leftoversize int,
	@rdn      varbinary(255),
	@entrydata image
AS
	DECLARE @nodeid int
	INSERT INTO KEYTABLE(
		imalock,             
        		parentid,        
		 highhash,                   
	       	 lowhash,                    
	              uidhost,               
                           uidtype,     
                           uidid,      
                           contextid,   
                           rdn
	) 
	VALUES(
		@imalock,
		@ParentId,
		@highhash,
		@lowhash,
		@uidhost,
		@uidtype,
		@uidid,
		@ContextId,
		@rdn
	)


DECLARE nodeid_cursor CURSOR FOR 
SELECT nodeid  
      FROM KEYTABLE 
      WHERE imalock = @imalock AND parentid = @ParentId AND lowhash=@lowhash AND highhash = @highhash 
 
OPEN nodeid_cursor 
 
FETCH NEXT FROM nodeid_cursor  
	     INTO @nodeid 
 
CLOSE nodeid_cursor 
DEALLOCATE nodeid_cursor 

	
	EXEC AddEntryData @nodeid, @partcount, @leftoversize,@entrydata

	
	return @nodeid

GO
