USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE PROCEDURE [sp_rel_fluxo_cx] ( @cd_unid_neg char(2), @dt_inicio datetime, @dt_fim datetime, @in_selecionado char(1),  @nr_identificador int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON

DECLARE @cd_unid_neg char(2)
DECLARE @in_selecionado char(1)
DECLARE @dt_inicio   datetime
DECLARE @dt_fim      datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @in_selecionado = 'X'
SELECT @dt_inicio   = CONVERT( datetime, '11/03/2009', 103 )
SELECT @dt_fim      = CONVERT( datetime, '11/03/2009', 103 )
*/

DECLARE @cd_bco_fluxo_cx          char(3)
--DECLARE @cd_bco_fluxo_cx_rj       char(3)
DECLARE @nr_identificador_rec     int
DECLARE @nr_identificador_prev    int
DECLARE @in_data				  int			  

--0.AUXILIARES
SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1 FROM TREL_FLUXO_CAIXA 
SELECT @nr_identificador_rec  = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1 FROM TREL_REC_LIQ
SELECT @nr_identificador_prev = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 2 FROM TREL_REC_LIQ
SET    @cd_bco_fluxo_cx    = '310'
--SET    @cd_bco_fluxo_cx_rj = '329'


IF ((GETDATE() >= @dt_inicio) AND (GETDATE() <= @dt_fim))
  SET @in_data = 1
else
  SET @in_data = 0


--******************** Receitas ******************** Incluido André 10/12/2008

SELECT DT_LIQUIDACAO, ISNULL(CONVERT(DECIMAL(28,2),0), 0) AS VL_RECEB_DESEMB, ISNULL(CONVERT(DECIMAL(28,2),0),0) AS VL_RECEB_FT, 
		ISNULL(CONVERT(DECIMAL(28,2),0),0) AS VL_RECEB_FI, ISNULL(CONVERT(DECIMAL(28,2),0),0) AS VL_PREV_DESEMB, ISNULL(CONVERT(DECIMAL(28,2),0),0) AS VL_PREV_FT, 
		ISNULL(CONVERT(DECIMAL(28,2),0),0) AS VL_PREV_FI
  INTO #TMP_RECEITAS
FROM TLIQUIDACAO 
WHERE IN_CANCELADO = '0'
  AND DT_LIQUIDACAO BETWEEN @dt_inicio AND @dt_fim
GROUP BY DT_LIQUIDACAO
ORDER BY DT_LIQUIDACAO


UPDATE R 
  --RECEBIMENTO
  SET R.VL_RECEB_DESEMB= ISNULL((SELECT ISNULL(ROUND(SUM(ABS(ISNULL(L1.VL_LIQUIDACAO,0))),2),0) FROM TLIQUIDACAO L1 
		   				  WHERE L1.DT_LIQUIDACAO = R.DT_LIQUIDACAO AND SUBSTRING(L1.NR_PROCESSO, 5,2) <> 'FT' AND SUBSTRING(L1.NR_PROCESSO, 3,2) NOT IN ('03','10')),0),
	  R.VL_RECEB_FT = ISNULL((SELECT ROUND(SUM(ABS(ISNULL(L1.VL_LIQUIDACAO,0))),2) FROM TLIQUIDACAO L1 
						WHERE L1.DT_LIQUIDACAO = R.DT_LIQUIDACAO AND SUBSTRING(L1.NR_PROCESSO, 5,2) = 'FT'),0),
	  R.VL_RECEB_FI = ISNULL((SELECT ISNULL(ROUND(SUM(ABS(ISNULL(L1.VL_LIQUIDACAO,0))),2),0) FROM TLIQUIDACAO L1 
						WHERE L1.DT_LIQUIDACAO = R.DT_LIQUIDACAO AND SUBSTRING(L1.NR_PROCESSO, 5,2) <> 'FT' AND SUBSTRING(L1.NR_PROCESSO, 5,2) IN ('03','10')),0),
  -- PREVISTO
	  R.VL_PREV_DESEMB = ISNULL((SELECT ROUND(SUM(ABS(ISNULL(F.VL_FATURA, 0))),2) FROM TS_FATURA F
																   INNER JOIN TS_FATURA_PROCESSO FP ON FP.CD_UNID_NEG = F.CD_UNID_NEG AND
																			  FP.CD_PRODUTO = F.CD_PRODUTO AND FP.NR_SOLICITACAO = F.NR_SOLICITACAO
					    WHERE F.DT_NF_SERV = R.DT_LIQUIDACAO AND SUBSTRING(FP.NR_PROCESSO, 5,2) <> 'FT' AND SUBSTRING(FP.NR_PROCESSO, 5,2) NOT IN ('03','10')),0),
	  R.VL_PREV_FT = ISNULL((SELECT ROUND(SUM(ABS(ISNULL(F.VL_FATURA, 0))),2) FROM TS_FATURA F
																   INNER JOIN TS_FATURA_PROCESSO FP ON FP.CD_UNID_NEG = F.CD_UNID_NEG AND
																			  FP.CD_PRODUTO = F.CD_PRODUTO AND FP.NR_SOLICITACAO = F.NR_SOLICITACAO
					    WHERE F.DT_NF_SERV = R.DT_LIQUIDACAO AND SUBSTRING(FP.NR_PROCESSO, 5,2) = 'FT'),0),
	  R.VL_PREV_FI = ISNULL((SELECT ROUND(SUM(ABS(ISNULL(F.VL_FATURA, 0))),2) FROM TS_FATURA F
																   INNER JOIN TS_FATURA_PROCESSO FP ON FP.CD_UNID_NEG = F.CD_UNID_NEG AND
																			  FP.CD_PRODUTO = F.CD_PRODUTO AND FP.NR_SOLICITACAO = F.NR_SOLICITACAO
					    WHERE F.DT_NF_SERV = R.DT_LIQUIDACAO AND SUBSTRING(FP.NR_PROCESSO, 5,2) <> 'FT' AND SUBSTRING(FP.NR_PROCESSO, 5,2) IN ('03','10')),0)
  FROM #TMP_RECEITAS R


INSERT INTO TREL_FLUXO_CAIXA_RECEITAS (DT_LIQUIDACAO, VL_RECEB_DESEMB, VL_RECEB_FT, VL_RECEB_FI, VL_PREV_DESEMB, VL_PREV_FT, VL_PREV_FI, NR_IDENTIFICADOR)
  SELECT DT_LIQUIDACAO, VL_RECEB_DESEMB, VL_RECEB_FT, VL_RECEB_FI, VL_PREV_DESEMB, VL_PREV_FT, VL_PREV_FI, 1
    FROM #TMP_RECEITAS


--******************** SAÍDAS ********************
--SAIDAS REAIS
------lista tudo pago no contas a pagar
SELECT A.CD_UNID_NEG, A.DT_PAGAMENTO DT_MOVIMENTO, CONVERT( FLOAT, ISNULL(SUM(CA.VL_LANCAMENTO), 0)) VL_SALDO, SUBSTRING(L.CD_CT_CONTABIL, 1, 12) NR_CONTA,
       'SR' TP_MOVIMENTO, SUBSTRING(CT.NM_CT_CONTABIL, 1, 40) NM_CONTA
  INTO #TMP_SR
FROM TCTAAPAGAR A (NOLOCK)
 INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( A.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND A.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND A.CD_UNID_NEG = L.CD_UNID_NEG )
 INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL ) AND YEAR(A.DT_VENCIMENTO) = CT.ANO_CONTA
 INNER JOIN TCAIXA CA (NOLOCK) ON (CA.CD_UNID_NEG = L.CD_UNID_NEG 
                                   AND CA.NR_CTAAPAGAR = L.NR_CTAAPAGAR
                                   AND CA.CODIGO_CTAAPAGAR_LANC = L.CODIGO)
WHERE A.DT_PAGAMENTO BETWEEN @dt_inicio AND @dt_fim
   AND ( ( A.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
   AND ( ( ISNULL(A.IN_SELECIONADO, '0') = @in_selecionado) OR ( @in_selecionado = 'X' ))
   AND ( A.STATUS = '7') AND (A.IN_CANCELADO = '0')
   AND ISNULL(CT.CD_CT_CONTABIL_FLUXO, '') <> ''
   AND CA.CD_BANCO IN (@cd_bco_fluxo_cx/*, @cd_bco_fluxo_cx_rj*/) 
   AND ISNULL(CA.IN_CANCELADO, '0') = '0'
GROUP BY A.CD_UNID_NEG, A.DT_PAGAMENTO, CT.CD_CT_CONTABIL_FLUXO, L.CD_CT_CONTABIL, CT.NM_CT_CONTABIL

INSERT INTO TREL_FLUXO_CAIXA ( NR_IDENTIFICADOR, CD_UNID_NEG, DT_MOVIMENTO, VL_SALDO, NR_CONTA, TP_MOVIMENTO, NM_CONTA ) 
  SELECT @nr_identificador, CD_UNID_NEG, DT_MOVIMENTO, VL_SALDO, NR_CONTA, TP_MOVIMENTO, NM_CONTA
  FROM #TMP_SR


--SAIDAS Previstas
------lista tudo em andamento no contas a pagar
SELECT A.CD_UNID_NEG, 
       CASE @in_data WHEN 0 THEN CASE WHEN (A.DT_VENCIMENTO < @dt_inicio )THEN @dt_inicio ELSE A.DT_VENCIMENTO  END
					 WHEN 1 THEN CASE WHEN (A.DT_VENCIMENTO < @dt_inicio )THEN CONVERT(DATETIME, CONVERT (VARCHAR,GETDATE(), 103),103) ELSE A.DT_VENCIMENTO  END END DT_VENCIMENTO,
	   SUM(ISNULL(A.VL_LIQUIDO, 0)) VL_SALDO, SUBSTRING(L.CD_CT_CONTABIL, 1, 12) NR_CONTA, 'SP' TP_MOVIMENTO, 
	   SUBSTRING(CT.NM_CT_CONTABIL, 1, 40) NM_CONTA
  INTO #TMP_SP
FROM TCTAAPAGAR A (NOLOCK)
 INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( A.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND A.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND A.CD_UNID_NEG = L.CD_UNID_NEG )
 INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL ) AND YEAR(A.DT_VENCIMENTO) = CT.ANO_CONTA
WHERE A.DT_VENCIMENTO <= @dt_fim
   AND ( ( A.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
   AND ( ( ISNULL(A.IN_SELECIONADO, '0') = @in_selecionado) OR ( @in_selecionado = 'X' ))
   AND ( A.STATUS = '0') AND (A.IN_CANCELADO = '0')
GROUP BY A.CD_UNID_NEG, A.DT_VENCIMENTO, CT.CD_CT_CONTABIL_FLUXO, L.CD_CT_CONTABIL, CT.NM_CT_CONTABIL

INSERT INTO TREL_FLUXO_CAIXA ( NR_IDENTIFICADOR, CD_UNID_NEG, DT_MOVIMENTO, VL_SALDO, NR_CONTA, TP_MOVIMENTO, NM_CONTA ) 
  SELECT @nr_identificador, CD_UNID_NEG, DT_VENCIMENTO, VL_SALDO, NR_CONTA, TP_MOVIMENTO, NM_CONTA
  FROM #TMP_SP


--- TOTAIS
  -- SAÍDAS REAIS -- 
SELECT A.CD_UNID_NEG, A.DT_PAGAMENTO DT_MOVIMENTO, SUM(ISNULL(L.VL_LANCAMENTO, 0 )) VL_SALDO, 'SALDO_SR' NR_CONTA,
       'SSR' TP_MOVIMENTO, 'SALDO_SAIDAS_REAIS' NM_CONTA
  INTO #TMP_SALDO_SAIDAS
FROM TCTAAPAGAR A (NOLOCK)
 INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( A.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND A.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND A.CD_UNID_NEG = L.CD_UNID_NEG )
 INNER JOIN TCAIXA CA (NOLOCK) ON (CA.CD_UNID_NEG = L.CD_UNID_NEG 
                                   AND CA.NR_CTAAPAGAR = L.NR_CTAAPAGAR
                                   AND CA.CODIGO_CTAAPAGAR_LANC = L.CODIGO)
WHERE A.DT_PAGAMENTO BETWEEN @dt_inicio AND @dt_fim
   AND ( ( A.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
   AND ( ( ISNULL(A.IN_SELECIONADO, '0') = @in_selecionado) OR ( @in_selecionado = 'X' ))
   AND ( A.STATUS = '7') AND (A.IN_CANCELADO = '0')
   AND CA.CD_BANCO IN (@cd_bco_fluxo_cx/*, @cd_bco_fluxo_cx_rj*/) 
GROUP BY A.DT_PAGAMENTO, A.CD_UNID_NEG
ORDER BY A.DT_PAGAMENTO

  -- SAÍDAS PREVISTAS --
INSERT INTO #TMP_SALDO_SAIDAS(CD_UNID_NEG, DT_MOVIMENTO, VL_SALDO, NR_CONTA, TP_MOVIMENTO, NM_CONTA)
  SELECT A.CD_UNID_NEG, 
		 CASE @in_data WHEN 0 THEN CASE WHEN (A.DT_VENCIMENTO < @dt_inicio )THEN @dt_inicio ELSE A.DT_VENCIMENTO  END
					   WHEN 1 THEN CASE WHEN (A.DT_VENCIMENTO < @dt_inicio )THEN CONVERT(DATETIME, CONVERT (VARCHAR,GETDATE(), 103),103) ELSE A.DT_VENCIMENTO  END END DT_VENCIMENTO,
		 SUM(ISNULL(A.VL_LIQUIDO, 0)), 'SALDO_SP', 'SSP', 'SALDO_SAIDAS_PREVI'
  FROM TCTAAPAGAR A (NOLOCK)
  WHERE A.DT_VENCIMENTO <= @dt_fim
     AND ( ( A.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
     AND ( ( ISNULL(A.IN_SELECIONADO, '0') = @in_selecionado) OR ( @in_selecionado = 'X' ))
     AND ( A.STATUS = '0') AND (A.IN_CANCELADO = '0')
  GROUP BY A.DT_VENCIMENTO, A.CD_UNID_NEG
  ORDER BY A.DT_VENCIMENTO

INSERT INTO TREL_FLUXO_CAIXA ( NR_IDENTIFICADOR, CD_UNID_NEG, DT_MOVIMENTO, VL_SALDO, NR_CONTA, TP_MOVIMENTO, NM_CONTA ) 
SELECT @nr_identificador, CD_UNID_NEG, DT_MOVIMENTO, VL_SALDO, NR_CONTA, TP_MOVIMENTO, NM_CONTA
  FROM #TMP_SALDO_SAIDAS
-- FIM TOTAIS --



/*--CRÉDITOS BANCÁRIOS QUE NÃO VEM DO CONTAS A PAGAR (DEVOLUÇÕES BANCÁRIAS, ETC)
INSERT INTO #TMP_SR ( CD_UNID_NEG, DT_MOVIMENTO, VL_SALDO, NR_CONTA, TP_MOVIMENTO, NM_CONTA ) 
SELECT CA.CD_UNID_NEG, CA.DT_MOVIMENTO, 
       ISNULL( SUM(CA.VL_LANCAMENTO * (-1)) , 0 ) AS VL_SALDO,
       CT.CD_CT_CONTABIL_FLUXO AS NR_CONTA, 'SR' AS TP_MOVIMENTO, CT.NM_CT_CONTABIL AS NM_CONTA
  FROM TCAIXA CA (NOLOCK)
 INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( CA.CD_CT_CONTABIL = CT.CD_CT_CONTABIL )   
 WHERE CA.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim
   AND ( ( CA.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
   AND ( ( ISNULL(CA.IN_SELECIONADO, '0') = @in_selecionado) OR ( @in_selecionado = 'X' ))
   AND ISNULL( CA.NR_PROCESSO, '' ) = '' 
   AND ISNULL(CT.CD_CT_CONTABIL_FLUXO, '') <> ''
   AND CA.CD_BANCO IN (@cd_bco_fluxo_cx, @cd_bco_fluxo_cx_rj) 
   AND ISNULL(CA.NR_CTAAPAGAR, '') = ''
   AND ISNULL(CA.CODIGO_CTAAPAGAR_LANC, '') = ''
   AND CA.TP_NATUREZA = 'C'
   AND ISNULL(CA.IN_CANCELADO, '0') = '0'
 GROUP BY CA.CD_UNID_NEG, CA.DT_MOVIMENTO, CT.CD_CT_CONTABIL_FLUXO, CT.NM_CT_CONTABIL*/


DROP TABLE #TMP_RECEITAS
DROP TABLE #TMP_SR
DROP TABLE #TMP_SP
DROP TABLE #TMP_SALDO_SAIDAS

/*
SELECT * FROM TREL_FLUXO_CAIXA_RECEITAS 
SELECT * FROM TREL_FLUXO_CAIXA WHERE NR_IDENTIFICADOR = @NR_IDENTIFICADOR

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/









GO
