USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_rel_di_reg_desemb]( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3),   
                                       @cd_cliente char(5), @cd_via_transp char(2), @dt_inicio datetime, @dt_fim datetime, @cd_area char(2),  
                                       @tp_rel char(1), @nr_identificador int OUTPUT ) AS  
/*  
SET XACT_ABORT ON  
BEGIN TRAN  
  
SET NOCOUNT ON  
  
DECLARE @nr_identificador int  
DECLARE @cd_unid_neg      char(2)  
DECLARE @cd_produto       char(2)  
DECLARE @cd_grupo         char(3)  
DECLARE @cd_cliente       char(5)  
DECLARE @dt_inicio        datetime  
DECLARE @dt_fim           datetime  
DECLARE @tp_rel           char(1)  
DECLARE @cd_area          char(2)  
DECLARE @cd_via_transp    char(2)
  
-- '0' ==> Registradas '1' ==> Desembaraçadas  
  
SELECT @cd_unid_neg   = '02'  
SELECT @cd_produto    = '01'  
SELECT @cd_grupo      = 'X'  
SELECT @cd_cliente    = 'X'  
SELECT @cd_area       = 'X'  
SELECT @dt_inicio     = CONVERT( datetime, '01/01/2005', 103 )  
SELECT @dt_fim        = CONVERT( datetime, '31/12/2005', 103 )  
SELECT @tp_rel        = '0'  
SELECT @cd_via_transp = '01'
--*/  
   
DECLARE @nr_processo        char(18)  
DECLARE @cd_referencia      char(15)  
DECLARE @ap_mercadoria      varchar(25)  
DECLARE @cd_fund_legal_icms char(3)  
DECLARE @nr_ato_drawback    varchar(13)  
DECLARE @nm_referencia      varchar(8000)  
DECLARE @nm_mercadoria      varchar(8000)  
DECLARE @nm_observacao      varchar(100)  
DECLARE @vl_tot_icms        float  
DECLARE @qt_letras          int  
DECLARE @conta              int  
DECLARE @qt_merc_un_comerc  float   
DECLARE @vAchou             char(1)  
DECLARE @nr_item_po         char(3)  
DECLARE @nr_proc_po         char(15)  
DECLARE @nm_quantidade      varchar(512)  
DECLARE @barra              char(1)  
DECLARE @nr_item            char(4)  
  
SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1  
FROM   TREL_DI_REG_DESEMB (TABLOCK HOLDLOCK)  
  
SELECT @qt_letras = 0   
  
IF @tp_rel = '0' -- Registradas  
BEGIN
  INSERT TREL_DI_REG_DESEMB( NR_IDENTIFICADOR, NR_PROCESSO, NR_DI, DT_DI, DT_DESEMB, CD_AREA, TX_DOLAR, VL_CIF_MN, VL_CIF_DOLAR,  
                             VL_TOT_II_MN, VL_TOT_II_DOLAR, VL_TOT_IPI_MN, VL_TOT_IPI_DOLAR, VL_TOT_ICMS_MN,   
                             VL_TOT_ICMS_DOLAR, VL_TX_SISCOMEX, VL_TOT_PIS_MN, VL_TOT_COFINS_MN )  
  SELECT @nr_identificador, D.NR_PROCESSO, ISNULL( D.NR_DECLARACAO_IMP, '' ),   
         CONVERT( datetime, SUBSTRING( D.DT_REGISTRO_DI, 1, 2 ) + '/' +   
                            SUBSTRING( D.DT_REGISTRO_DI, 3, 2 ) + '/' +   
                            SUBSTRING( D.DT_REGISTRO_DI, 5, 4 ), 103 ) AS DT_DI,  
         F.DT_REALIZACAO,  
         P.CD_AREA, D.TX_DOLAR, P.VL_CIF_MN, P.VL_CIF_DOLAR,  
         D.VL_TOTAL_II, ROUND( D.VL_TOTAL_II / D.TX_DOLAR, 2 ) AS VL_TOTAL_II_DOLAR,   
         D.VL_TOTAL_IPI, ROUND( D.VL_TOTAL_IPI / D.TX_DOLAR, 2 ) AS VL_TOTAL_IPI_DOLAR,   
         D.VL_TOT_ICMS, ROUND( D.VL_TOT_ICMS / D.TX_DOLAR, 2 ) AS VL_TOTAL_ICMS_DOLAR,  
         ISNULL( ( SELECT T.VL_TRIBUTO_PAGO  
                   FROM   TPAGAMENTO_TRIBUTOS T (NOLOCK)  
                   WHERE  T.NR_PROCESSO = D.NR_PROCESSO AND  
                          T.CD_RECEITA_PGTO = '7811' ), 0 ),  
         ISNULL( ( SELECT T.VL_TRIBUTO_PAGO  
                   FROM   TPAGAMENTO_TRIBUTOS T (NOLOCK)  
                   WHERE  T.NR_PROCESSO = D.NR_PROCESSO AND  
                          T.CD_RECEITA_PGTO = '5602' ), 0 ),  
         ISNULL( ( SELECT T.VL_TRIBUTO_PAGO  
                   FROM   TPAGAMENTO_TRIBUTOS T (NOLOCK)  
                   WHERE  T.NR_PROCESSO = D.NR_PROCESSO AND  
                          T.CD_RECEITA_PGTO = '5629' ), 0 )  
   FROM  TDECLARACAO_IMPORTACAO D (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK),  
         TREF_CLIENTE R (NOLOCK), TFOLLOWUP F (NOLOCK)  
  WHERE  D.NR_PROCESSO = P.NR_PROCESSO AND  
         D.NR_PROCESSO = R.NR_PROCESSO AND  
         P.NR_PROCESSO = F.NR_PROCESSO AND  
         F.CD_EVENTO   = ( SELECT CD_EV_REG_DI FROM TPARAMETROS (NOLOCK) ) AND  
         P.CD_CLIENTE  = E.CD_EMPRESA AND  
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND  
         @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND  
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND  
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND  
         @cd_area IN ( P.CD_AREA, R.CD_AREA, 'X' ) AND  
         @cd_via_transp IN (D.CD_VIA_TRANSP_CARG, 'X', '10') AND
         D.DT_DI BETWEEN @dt_inicio AND @dt_fim AND  
         SUBSTRING( D.NR_PROCESSO, 5, 2 ) <> 'IE'   
  GROUP BY D.NR_PROCESSO, D.NR_DECLARACAO_IMP, D.DT_REGISTRO_DI, F.DT_REALIZACAO, P.CD_AREA, D.TX_DOLAR, P.VL_CIF_MN,  
           P.VL_CIF_DOLAR, D.VL_TOTAL_II, D.VL_TOTAL_IPI, D.VL_TOT_ICMS   
  ORDER BY NR_DECLARACAO_IMP  
END  
ELSE  -- Desembaraçadas  
BEGIN
  INSERT TREL_DI_REG_DESEMB( NR_IDENTIFICADOR, NR_PROCESSO, NR_DI, DT_DI, CD_AREA, TX_DOLAR, VL_CIF_MN, VL_CIF_DOLAR,  
                             VL_TOT_II_MN, VL_TOT_II_DOLAR, VL_TOT_IPI_MN, VL_TOT_IPI_DOLAR, VL_TOT_ICMS_MN,   
                             VL_TOT_ICMS_DOLAR, VL_TX_SISCOMEX, VL_TOT_PIS_MN, VL_TOT_COFINS_MN )  
  SELECT @nr_identificador, D.NR_PROCESSO, ISNULL( D.NR_DECLARACAO_IMP, '' ),   
         CONVERT( datetime, SUBSTRING( D.DT_REGISTRO_DI, 1, 2 ) + '/' +   
                            SUBSTRING( D.DT_REGISTRO_DI, 3, 2 ) + '/' +   
                            SUBSTRING( D.DT_REGISTRO_DI, 5, 4 ), 103 ) AS DT_DI,  
         P.CD_AREA,   
         ( SELECT TX_CAMBIO   
           FROM   TTAXA_CAMBIO  
           WHERE  CD_MOEDA = '220' AND  
                  V.DT_REALIZACAO BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA ),  
         P.VL_CIF_MN, ROUND( P.VL_CIF_MN / ( SELECT TX_CAMBIO   
          FROM   TTAXA_CAMBIO (NOLOCK)  
                                             WHERE  CD_MOEDA = '220' AND  
                                                    V.DT_REALIZACAO BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA ), 2 ) AS VL_CIF_DOLAR,  
         D.VL_TOTAL_II, ROUND( D.VL_TOTAL_II / ( SELECT TX_CAMBIO   
              FROM   TTAXA_CAMBIO (NOLOCK)  
                                                 WHERE  CD_MOEDA = '220' AND  
                                                        V.DT_REALIZACAO BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA ), 2 ) AS VL_TOTAL_II_DOLAR,   
         D.VL_TOTAL_IPI, ROUND( D.VL_TOTAL_IPI / ( SELECT TX_CAMBIO   
                                                   FROM   TTAXA_CAMBIO (NOLOCK)  
                                                   WHERE  CD_MOEDA = '220' AND  
                                                          V.DT_REALIZACAO BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA ), 2 ) AS VL_TOTAL_IPI_DOLAR,   
         D.VL_TOT_ICMS, ROUND( D.VL_TOT_ICMS / ( SELECT TX_CAMBIO   
                                                 FROM   TTAXA_CAMBIO (NOLOCK)  
                                                 WHERE  CD_MOEDA = '220' AND  
                                                        V.DT_REALIZACAO BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA ), 2 ) AS VL_TOTAL_ICMS_DOLAR,  
         ISNULL( ( SELECT T.VL_TRIBUTO_PAGO  
                   FROM   TPAGAMENTO_TRIBUTOS T (NOLOCK)  
                   WHERE  T.NR_PROCESSO = D.NR_PROCESSO AND  
                          T.CD_RECEITA_PGTO = '7811' ), 0 ),  
         ISNULL( ( SELECT T.VL_TRIBUTO_PAGO  
                   FROM   TPAGAMENTO_TRIBUTOS T (NOLOCK)  
                   WHERE  T.NR_PROCESSO = D.NR_PROCESSO AND  
                          T.CD_RECEITA_PGTO = '5602' ), 0 ),  
         ISNULL( ( SELECT T.VL_TRIBUTO_PAGO  
                   FROM   TPAGAMENTO_TRIBUTOS T (NOLOCK)  
                   WHERE  T.NR_PROCESSO = D.NR_PROCESSO AND  
                          T.CD_RECEITA_PGTO = '5629' ), 0 )  
  FROM   TDECLARACAO_IMPORTACAO D (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK),  
         VW_DT_DESEMB V (NOLOCK), TREF_CLIENTE R (NOLOCK)  
  WHERE  D.NR_PROCESSO = P.NR_PROCESSO AND  
         D.NR_PROCESSO = R.NR_PROCESSO AND  
         D.NR_PROCESSO = V.NR_PROCESSO AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND  
         @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND  
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND  
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND  
         @cd_area IN ( P.CD_AREA, R.CD_AREA, 'X' ) AND  
         @cd_via_transp IN (D.CD_VIA_TRANSP_CARG, 'X', '10') AND
         V.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND  
         SUBSTRING( D.NR_PROCESSO, 5, 2 ) <> 'IE'   
  GROUP BY D.NR_PROCESSO, D.NR_DECLARACAO_IMP, D.DT_REGISTRO_DI, P.CD_AREA,   
           V.DT_REALIZACAO, P.VL_CIF_MN, D.VL_TOTAL_II, D.VL_TOT_ICMS, D.VL_TOTAL_IPI  
  ORDER BY NR_DECLARACAO_IMP  
END

DECLARE c_di CURSOR FOR  
  SELECT NR_PROCESSO, VL_TOT_ICMS_MN  
  FROM   TREL_DI_REG_DESEMB  
  WHERE  NR_IDENTIFICADOR = @nr_identificador  
OPEN c_di  
FETCH c_di INTO @nr_processo, @vl_tot_icms  
WHILE @@fetch_status = 0  
BEGIN  
  -- Verifica se cliente aceita barra  
  SELECT @barra = IN_REF_ACEITA_BARRA  
  FROM TPROCESSO P (NOLOCK)  
  INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )  
  WHERE P.NR_PROCESSO =  @nr_processo  
  
  -- Referência  
  SELECT @nm_referencia = ''  
  SELECT @nm_mercadoria = ''  
  SELECT @nm_observacao = ''  
  -- Quantidade  
  SELECT @nm_quantidade = ''  
  
  DECLARE c_ref CURSOR FOR  
    SELECT CD_REFERENCIA, LEN( ISNULL( CD_REFERENCIA, 0 ) ), NR_ITEM_PO  
    FROM   TREF_CLIENTE  
    WHERE  NR_PROCESSO = @nr_processo  
  OPEN c_ref  
  FETCH c_ref INTO @cd_referencia, @qt_letras, @nr_item   
  WHILE @@fetch_status = 0  
  BEGIN  
    SELECT @nm_referencia = @nm_referencia + @cd_referencia  
      
    SELECT @vAchou    = '0'  
    SELECT @conta     = 1  
    
    -- Pega a referência e o item para buscar a quantidade no processo  
    IF @barra = '1'   
    BEGIN  
      WHILE ( @qt_letras <> 0 ) AND ( @vAchou = '0' )  
      BEGIN  
        IF SUBSTRING( @cd_referencia, LEN( @cd_referencia ) - @conta, 1 ) = '/'  
        BEGIN  
          SELECT @vAchou = '1'  
      
          IF @conta = 1  
          BEGIN     
            SELECT @nr_item_po = '00' + SUBSTRING( @cd_referencia, LEN( @cd_referencia ) - @conta + 1, @conta )  
            SELECT @nr_proc_po = SUBSTRING( @cd_referencia, 1, ( @qt_letras - 1 ) - @conta )  
          END  
          ELSE  
          BEGIN  
            IF @conta = 2   
            BEGIN   
              SELECT @nr_item_po = '0' + SUBSTRING( @cd_referencia, LEN( @cd_referencia ) - @conta + 1, @conta )  
              SELECT @nr_proc_po = SUBSTRING( @cd_referencia, 1,  @qt_letras - @conta )   
            END  
            ELSE    
            BEGIN  
              SELECT @nr_item_po = '' + SUBSTRING( @cd_referencia, LEN( @cd_referencia ) - @conta + 1, @conta )  
   	      select @nr_proc_po = @cd_referencia 
              if @qt_letras > @conta
                SELECT @nr_proc_po = SUBSTRING( @cd_referencia, 1, @qt_letras - @conta )  
            END  
          END  
        END  
        ELSE   
        BEGIN  
          SELECT @conta = @conta + 1   
        END  
  
        SELECT @qt_letras = @qt_letras - 1  
      END  
    END  
    ELSE  
    BEGIN  
      SELECT @nr_item_po = @nr_item  
      SELECT @nr_proc_po = @cd_referencia  
    END  
    
    SELECT @qt_merc_un_comerc = ISNULL( QT_MERC_UN_COMERC, 0 )  
      FROM TDETALHE_MERCADORIA  
     WHERE NR_PROCESSO = @nr_processo AND  
           NR_PROC_PO  = @nr_proc_po   AND  
           NR_ITEM_PO  = @nr_item_po   
  
    SELECT @nm_quantidade = @nm_quantidade + CONVERT( varchar, Replace( @qt_merc_un_comerc, ',','.') )   
    SELECT @nm_quantidade = @nm_quantidade + char(13)  
  
    FETCH c_ref INTO @cd_referencia, @qt_letras, @nr_item  
    IF @@fetch_status = 0  
      SELECT @nm_referencia = @nm_referencia + char(13)  
  
  END  
  CLOSE c_ref  
  DEALLOCATE c_ref  
  
  DECLARE c_merc CURSOR FOR  
    SELECT DISTINCT M.AP_MERCADORIA  
    FROM   TDETALHE_MERCADORIA D, TMERCADORIA M  
    WHERE  D.CD_MERCADORIA = M.CD_MERCADORIA AND  
           D.NR_PROCESSO = @nr_processo  
  OPEN c_merc  
  FETCH c_merc INTO @ap_mercadoria  
  WHILE @@fetch_status = 0  
  BEGIN  
    SELECT @nm_mercadoria = @nm_mercadoria + @ap_mercadoria  
              
    FETCH c_merc INTO @ap_mercadoria  
    IF @@fetch_status = 0  
      SELECT @nm_mercadoria = @nm_mercadoria + char(13)  
  
  END  
  CLOSE c_merc  
  DEALLOCATE c_merc  
  
  -- Observação  
  IF ROUND( @vl_tot_icms, 2 ) = 0  
  BEGIN  
    -- DrawBack  
    SELECT @nr_ato_drawback = MAX( ISNULL( NR_ATO_DRAWBACK, '' ) )  
    FROM   TADICAO_DE_IMPORTACAO  
    WHERE  NR_PROCESSO = @nr_processo  
    IF LTRIM( RTRIM( ISNULL( @nr_ato_drawback, '' ) ) ) <> ''  
    BEGIN  
      SELECT @cd_fund_legal_icms = MAX( cd_fund_legal_icms )  
      FROM   TADICAO_DE_IMPORTACAO  
      WHERE  NR_PROCESSO = @nr_processo  
  
      SELECT @nm_observacao = LTRIM( RTRIM( ISNULL( NM_EX, '' ) ) )  
      FROM   TTP_EXONERACAO  
      WHERE  CD_EX = @cd_fund_legal_icms  
    END  
    ELSE  
    BEGIN  
      IF EXISTS( SELECT CD_TRIBUTACAO_ICMS  
                 FROM   TADICAO_DE_IMPORTACAO  
                 WHERE  NR_PROCESSO = @nr_processo AND  
                        CD_TRIBUTACAO_ICMS = '3' )  
      BEGIN  
        SELECT @nm_observacao = 'ICMS ISENTO'  
      END  
      ELSE IF EXISTS( SELECT CD_TRIBUTACAO_ICMS  
                 FROM   TADICAO_DE_IMPORTACAO  
                 WHERE  NR_PROCESSO = @nr_processo AND  
                        CD_TRIBUTACAO_ICMS = '5' )  
      BEGIN  
        SELECT @nm_observacao = 'ICMS SUSPENSO'  
      END  
    END  
  END  
    
  UPDATE TREL_DI_REG_DESEMB  
  SET    NM_REFERENCIA = @nm_referencia,  
         NM_MERCADORIA = @nm_mercadoria,  
         NM_OBSERVACAO = @nm_observacao,  
         QT_ITENS_DI   = @nm_quantidade  
  WHERE  NR_PROCESSO = @nr_processo  
  
  FETCH c_di INTO @nr_processo, @vl_tot_icms  
END  
CLOSE c_di  
DEALLOCATE c_di  
  
  
/*  
ROLLBACK TRAN  
SET XACT_ABORT OFF  
--*/  
  
  



GO
