USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [sp_rel_dem_est] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                  @dt_inicio datetime, @dt_fim datetime,
                                  @nr_identificador int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg   = '01'
SELECT @cd_produto    = '01'
SELECT @cd_grupo      = '002'
SELECT @cd_cliente    = 'X'
SELECT @dt_inicio     = CONVERT( datetime, '01/01/2003', 103 )
SELECT @dt_fim        = CONVERT( datetime, '31/01/2003', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_DEM_EST

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )


INSERT TREL_DEM_EST( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_AREA,
                     TX_MERCADORIA, CD_TRANSP_NAC, DT_ENVIO_NF_TRANSP )
  SELECT @nr_identificador,  P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_AREA,
         ' ', P.CD_TRANSP_NAC, 
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' ) AS DT_ENVIO_NF_TRANSP
  FROM   TPROCESSO P, TEMPRESA_NAC E
  WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
         P.IN_CANCELADO = '0' AND
         P.IN_LIBERADO = '1' AND
         P.IN_PRODUCAO = '1' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO  = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       EXISTS(  
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) AND
                F.IN_APLICAVEL = '1' AND
                DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) ) AND
       EXISTS(
       ( SELECT IN_DEMURRAGE
         FROM   TPROCESSO_CNTR C
         WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND 
                C.IN_DEMURRAGE = '1' ) )  
  ORDER BY P.NR_PROCESSO


DECLARE @mercadoria  char(25)
DECLARE @nr_processo char(18)

DECLARE c_merc CURSOR FOR
  SELECT NR_PROCESSO
  FROM   TREL_DEM_EST
  
OPEN c_merc
FETCH c_merc INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN
  SELECT @mercadoria = AP_MERCADORIA
  FROM   TMERCADORIA
  WHERE  CD_MERCADORIA IN ( SELECT CD_MERCADORIA
                            FROM   TDETALHE_MERCADORIA
                            WHERE  NR_PROCESSO = @nr_processo AND
                                   NR_ADICAO   = '001' )
  UPDATE TREL_DEM_EST
  SET    TX_MERCADORIA = @mercadoria
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo
  FETCH c_merc INTO @nr_processo
END
CLOSE c_merc
DEALLOCATE c_merc
GO
