USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_fat_canc] (@cd_unid_neg char(2), @cd_produto char(2), @nr_solicitacao char(6), @cd_usuario char(4)) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6)
DECLARE @cd_usuario char(4)

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solicitacao = '016885'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @tipo_fat CHAR(1)

/*** TS_FATURA ***/
UPDATE TS_FATURA
SET IN_CANCELADO    = '1', 
    DT_CANCELAMENTO = CONVERT(DATETIME, CONVERT(CHAR(10), GETDATE(), 103), 103),
    CD_CANCELADOR   = @cd_usuario
WHERE CD_UNID_NEG    = @cd_unid_neg
  AND CD_PRODUTO     = @cd_produto
  AND NR_SOLICITACAO = @nr_solicitacao

DELETE TFATURAMENTO_CC
WHERE CD_UNID_NEG    = @cd_unid_neg
  AND CD_PRODUTO     = @cd_produto
  AND NR_SOLIC_FAT   = @nr_solicitacao
  AND CD_ORIGEM_LANC = '6'

DELETE TFATURAMENTO_CC_CLIENTE
WHERE IN_FATURA = '1'
  AND NR_PROCESSO IN (SELECT NR_PROCESSO
                      FROM TS_FATURA_PROCESSO
                      WHERE CD_UNID_NEG    = @cd_unid_neg
                        AND CD_PRODUTO     = @cd_produto
                        AND NR_SOLICITACAO = @nr_solicitacao)

UPDATE TFATURAMENTO_CC
SET IN_FATURADO   = '0',
    CD_UNID_NEG   = NULL,
    CD_PRODUTO    = NULL,
    NR_SOLIC_FAT  = NULL
WHERE CD_UNID_NEG    = @cd_unid_neg
  AND CD_PRODUTO     = @cd_produto
  AND NR_SOLIC_FAT   = @nr_solicitacao

/* -- comentado André 21/10/2008 a tabela não é mais usada
-- Cancela registro na TNF_RETENCAO
UPDATE TNF_RETENCAO
SET    IN_STATUS = 'C',
       CD_USUARIO_CANC = @cd_usuario,
       DT_CANC = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )
WHERE  CD_UNID_NEG	= @cd_unid_neg AND
       CD_PRODUTO	= @cd_produto  AND
       NR_SOLICITACAO	= @nr_solicitacao

-- Retira a indicação ( nos processos que foram utilizados para acumular ) do processo cancelado na TNF_RETENCAO
UPDATE TNF_RETENCAO 
SET    CD_UNID_NEG_ACUMULADA	= '',
       CD_PRODUTO_ACUMULADA	= '',
       NR_SOLICITACAO_ACUMULADA	= '',
       IN_STATUS                = '-'
WHERE  CD_UNID_NEG_ACUMULADA	= @cd_unid_neg AND
       CD_PRODUTO_ACUMULADA	= @cd_produto  AND
       NR_SOLICITACAO_ACUMULADA	= @nr_solicitacao */


SELECT @tipo_fat = TP_TIPO_FAT
FROM TS_FATURA
WHERE CD_UNID_NEG    = @cd_unid_neg
  AND CD_PRODUTO     = @cd_produto
  AND NR_SOLICITACAO = @nr_solicitacao 

IF @tipo_fat = 'F'
BEGIN
    -- Retira a data do evento 092 do Followup
    UPDATE TFOLLOWUP
    SET	DT_REALIZACAO      = NULL,
        CD_RESP_REALIZACAO = NULL
    WHERE CD_EVENTO = '092'
      AND NR_PROCESSO IN (SELECT NR_PROCESSO
                          FROM TS_FATURA_PROCESSO
                          WHERE CD_UNID_NEG    = @cd_unid_neg
                            AND CD_PRODUTO     = @cd_produto
                            AND NR_SOLICITACAO = @nr_solicitacao)
END


GO
