USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.sp_rel_previsao_po_nacionalizar  Script Date: 10/12/2003 09:14:35 AM ******/
/**/
CREATE PROCEDURE [sp_rel_previsao_po_nacionalizar] (
  @cd_unid_neg char(2),
  @cd_grupo    char(3),
  @cd_cliente  char(5),
  @cd_area     char(2),
  @dt_inicio   datetime,
  @dt_final    datetime,
  @nr_identificador integer OUTPUT,
  @nr_registros     integer OUTPUT
) AS
--*/
/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON

DECLARE
  @cd_unid_neg char(2),
  @cd_grupo    char(3),
  @cd_cliente  char(5),
  @cd_area     char(2),
  @dt_inicio   datetime,
  @dt_final    datetime,
  @nr_identificador integer,
  @nr_registros     integer

SET @cd_unid_neg = '01'
SET @cd_grupo    = '002'
SET @cd_cliente  = 'X'
SET @cd_area     = 'X'
SET @dt_inicio   = CONVERT( datetime, '28/09/2005', 103)  
SET @dt_final    = CONVERT( datetime, '27/03/2006', 103) 
--*/

DECLARE @nr_referencia      char(18)
DECLARE @nr_item_cliente    char(4) 
DECLARE @cd_moeda_neg       char(3)
DECLARE @cd_moeda_frete     char(3)
DECLARE @vl_aliquota_ii     char(10)
DECLARE @vl_aliquota_ipi    char(10)
DECLARE @cd_incoterm        char(3)
DECLARE @in_prev_status     char(1) 
DECLARE @dt_atual           char(10)
DECLARE @dt_atualizada      char(10)
DECLARE @cd_ev_espera_navio char(3)

DECLARE @dt_nacionalizacao  datetime
DECLARE @dt_prev_nacion     datetime
DECLARE @dt_final_rel       datetime

DECLARE @qtd_itens_po       int

DECLARE @vl_total           float
DECLARE @vl_total_item      float
DECLARE @vl_seguro          float
DECLARE @vl_despesas        float
DECLARE @vl_frete_prepaid   float
DECLARE @vl_frete_collect   float
DECLARE @pl_po              float
DECLARE @pl_item            float   
DECLARE @vl_aliq_ii         float
DECLARE @vl_aliq_ipi        float
DECLARE @vl_cif             float
DECLARE @vl_ii              float
DECLARE @vl_ipi             float
DECLARE @vl_base_icms       float
DECLARE @vl_icms            float
DECLARE @vl_merc_dolar      float
DECLARE @vl_merc_real       float
DECLARE @vl_taxa            float
DECLARE @vl_taxa_ant        float
DECLARE @vl_frete           float 
DECLARE @vl_seguro_real     float
DECLARE @vl_siscomex        float
DECLARE @vl_siscomex_item   float
DECLARE @vl_aliq_pis        float 
DECLARE @vl_aliq_cofins     float
DECLARE @vl_pis_cofins      float
DECLARE @vl_pis             float
DECLARE @vl_cofins          float
DECLARE @valor_x            float
DECLARE @valor_y            float

--seta as datas limites do relatório
SET @dt_atual      = CONVERT(char(10), GETDATE(), 103)
SET @dt_atualizada = CONVERT(char(10), GETDATE() - 1, 103)
SET @dt_final_rel  = CONVERT(datetime, @dt_final, 103)

--seleciona o código do evento de previção de chegada do navio
SELECT @cd_ev_espera_navio = CD_EV_ESPERA_NAVIO
FROM TPARAMETROS ( NOLOCK )

--cria o número de identificação do relatório/usuário
SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM TREL_PREV_PO_NACION ( TABLOCK HOLDLOCK )

--valores padrão para pis / confins
SELECT
  @vl_aliq_pis    = ISNULL( ALIQ_PIS   , 0 ),
  @vl_aliq_cofins = ISNULL( ALIQ_COFINS, 0 )
FROM TNCM_PIS_COFINS ( NOLOCK )
WHERE NCM = '00000000'

--cria a tabela com as po's a serem nacionalizados
CREATE TABLE #TMP_PREV_NAC (
  NR_REFERENCIA    char(18),
  NR_ITEM_CLIENTE  char(4),
  CD_INCOTERM      char(3),
  DT_PREV_NACION   datetime,
  CD_MOEDA_NEG     char(3),
  CD_MOEDA_FRETE   char(3),
  VL_FRETE_PREPAID float,
  VL_FRETE_COLLECT float,
  VL_TOTAL         float,
  VL_SEGURO        float,
  VL_DESPESAS      float,
  VL_TOTAL_ITEM    float,
  PL_PO            float,
  PL_ITEM          float,
  VL_ALIQUOTA_II   char(10),
  VL_ALIQUOTA_IPI  char(10)
) 

--seleciona as po's e insere na tabela temporária
INSERT INTO #TMP_PREV_NAC (
  NR_REFERENCIA   , NR_ITEM_CLIENTE ,  CD_INCOTERM     ,  DT_PREV_NACION  ,  CD_MOEDA_NEG    ,
  CD_MOEDA_FRETE  , VL_FRETE_PREPAID,  VL_FRETE_COLLECT,  VL_TOTAL        ,  VL_SEGURO       ,
  VL_DESPESAS     , VL_TOTAL_ITEM   ,  PL_PO           ,  PL_ITEM         ,  VL_ALIQUOTA_II  ,
  VL_ALIQUOTA_IPI
)
SELECT
  PO.NR_PROCESSO AS NR_REFERENCIA, PT.NR_ITEM_CLIENTE, PO.CD_INCOTERM, ( FP.DT_REALIZACAO + 5) AS DT_PREV_NACION,
  ISNULL( PO.CD_MOEDA_NEG    , '' ) AS CD_MOEDA_NEG    , ISNULL( PO.CD_MOEDA_FRETE  , '' ) AS CD_MOEDA_FRETE  ,
  ISNULL( PO.VL_FRETE_PREPAID, 0  ) AS VL_FRETE_PREPAID, ISNULL( PO.VL_FRETE_COLLECT, 0  ) AS VL_FRETE_COLLECT,
  ISNULL( PO.VL_TOTAL        , 0  ) AS VL_TOTAL        , ISNULL( PO.VL_SEGURO       , 0  ) AS VL_SEGURO       ,
  ISNULL( PO.VL_DESPESAS     , 0  ) AS VL_DESPESAS     , ISNULL( PT.VL_TOTAL        , 0  ) AS VL_TOTAL_ITEM   ,
  ISNULL( PO.PL_PO           , 0  ) AS PL_PO           , ISNULL( PT.PL_ITEM         , 0  ) AS PL_ITEM         , 
  ISNULL( NC.ALIQUOTA_II     , '0') AS VL_ALIQUOTA_II  , ISNULL( NC.ALIQUOTA_IPI    , '0') AS VL_ALIQUOTA_IPI
FROM TDETALHE_MERCADORIA DM ( NOLOCK )
  INNER JOIN TPROCESSO PR ( NOLOCK ) ON ( DM.NR_PROCESSO = PR.NR_PROCESSO )
  INNER JOIN TFOLLOWUP FP ( NOLOCK ) ON ( DM.NR_PROCESSO = FP.NR_PROCESSO AND FP.CD_EVENTO = @cd_ev_espera_navio )
  INNER JOIN TPO       PO ( NOLOCK ) ON ( PO.NR_PROCESSO = DM.NR_PROC_PO )
  INNER JOIN TPO_ITEM  PT ( NOLOCK ) ON ( PT.NR_PROCESSO = DM.NR_PROC_PO AND PT.NR_ITEM_CLIENTE = DM.NR_ITEM_PO )
  INNER JOIN TNCM      NC ( NOLOCK ) ON ( PT.CD_NCM_SH   = NC.CODIGO )
WHERE SUBSTRING( DM.NR_PROCESSO, 5, 2 ) NOT IN ( 'IN','DT' )
  AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'
  AND @cd_unid_neg IN ( PR.CD_UNID_NEG  , 'X' )
  AND @cd_grupo    IN ( PR.CD_GRUPO     , 'X' )
  AND @cd_cliente  IN ( PR.CD_IMPORTADOR, 'X' )
  AND FP.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_final
  AND @cd_area     IN ( PO.CD_AREA      , 'X' )
  AND ISNULL( PO.CD_CANAL, '' ) = ''

INSERT INTO #TMP_PREV_NAC (
  NR_REFERENCIA   , NR_ITEM_CLIENTE ,  CD_INCOTERM     ,  DT_PREV_NACION  ,  CD_MOEDA_NEG    ,
  CD_MOEDA_FRETE  , VL_FRETE_PREPAID,  VL_FRETE_COLLECT,  VL_TOTAL        ,  VL_SEGURO       ,
  VL_DESPESAS     , VL_TOTAL_ITEM   ,  PL_PO           ,  PL_ITEM         ,  VL_ALIQUOTA_II  ,
  VL_ALIQUOTA_IPI
)
SELECT
  PO.NR_PROCESSO AS NR_REFERENCIA, PT.NR_ITEM_CLIENTE, PO.CD_INCOTERM, ( PR.DT_ABERTURA + 5) AS DT_PREV_NACION,
  ISNULL( PO.CD_MOEDA_NEG    , '' ) AS CD_MOEDA_NEG    , ISNULL( PO.CD_MOEDA_FRETE  , '' ) AS CD_MOEDA_FRETE  ,
  ISNULL( PO.VL_FRETE_PREPAID, 0  ) AS VL_FRETE_PREPAID, ISNULL( PO.VL_FRETE_COLLECT, 0  ) AS VL_FRETE_COLLECT,
  ISNULL( PO.VL_TOTAL        , 0  ) AS VL_TOTAL        , ISNULL( PO.VL_SEGURO       , 0  ) AS VL_SEGURO       ,
  ISNULL( PO.VL_DESPESAS     , 0  ) AS VL_DESPESAS     , ISNULL( PT.VL_TOTAL        , 0  ) AS VL_TOTAL_ITEM   ,
  ISNULL( PO.PL_PO           , 0  ) AS PL_PO           , ISNULL( PT.PL_ITEM         , 0  ) AS PL_ITEM         , 
  ISNULL( NC.ALIQUOTA_II     , '0') AS VL_ALIQUOTA_II  , ISNULL( NC.ALIQUOTA_IPI    , '0') AS VL_ALIQUOTA_IPI
FROM TDETALHE_MERCADORIA DM ( NOLOCK )
  INNER JOIN TPROCESSO PR ( NOLOCK ) ON ( DM.NR_PROCESSO = PR.NR_PROCESSO )
  INNER JOIN TPO       PO ( NOLOCK ) ON ( PO.NR_PROCESSO = DM.NR_PROC_PO )
  INNER JOIN TPO_ITEM  PT ( NOLOCK ) ON ( PT.NR_PROCESSO = DM.NR_PROC_PO AND PT.NR_ITEM_CLIENTE = DM.NR_ITEM_PO )
  INNER JOIN TNCM      NC ( NOLOCK ) ON ( PT.CD_NCM_SH   = NC.CODIGO )
WHERE SUBSTRING( DM.NR_PROCESSO, 5, 2 ) = 'IN'
  AND ISNULL( PR.IN_CANCELADO, '0' ) = '0'
  AND @cd_unid_neg IN ( PR.CD_UNID_NEG  , 'X' )
  AND @cd_grupo    IN ( PR.CD_GRUPO     , 'X' )
  AND @cd_cliente  IN ( PR.CD_IMPORTADOR, 'X' )
  AND PR.DT_ABERTURA BETWEEN @dt_inicio AND @dt_final
  AND @cd_area     IN ( PO.CD_AREA      , 'X' )
  AND ISNULL( PO.CD_CANAL, '' ) = ''

WHILE ( SELECT COUNT(*) FROM #TMP_PREV_NAC ) > 0
BEGIN
  --seleciona os dados da po a nacionalizar
  SELECT TOP 1
    @nr_referencia    = NR_REFERENCIA,
    @nr_item_cliente  = NR_ITEM_CLIENTE,
    @cd_incoterm      = CD_INCOTERM,
    @dt_prev_nacion   = DT_PREV_NACION,
    @cd_moeda_neg     = CD_MOEDA_NEG,
    @cd_moeda_frete   = CD_MOEDA_FRETE,
    @vl_frete_prepaid = VL_FRETE_PREPAID,
    @vl_frete_collect = VL_FRETE_COLLECT,
    @vl_total         = VL_TOTAL,
    @vl_seguro        = VL_SEGURO,
    @vl_despesas      = VL_DESPESAS,
    @pl_po            = PL_PO,
    @pl_item          = PL_ITEM,
    @vl_total_item    = VL_TOTAL_ITEM,
    @vl_aliquota_ii   = VL_ALIQUOTA_II,
    @vl_aliquota_ipi  = VL_ALIQUOTA_IPI
  FROM #TMP_PREV_NAC

  --pega a data de registro na di e lança como a data da nacinalização
  SET @dt_nacionalizacao = ( SELECT TOP 1
                               CONVERT(datetime, SUBSTRING(I.DT_REGISTRO_DI, 1, 2) + '/' + 
                                                 SUBSTRING(I.DT_REGISTRO_DI, 3, 2) + '/' +
                                                 SUBSTRING(I.DT_REGISTRO_DI, 5, 4), 103) 
                             FROM TDECLARACAO_IMPORTACAO I ( NOLOCK ), TDETALHE_MERCADORIA M ( NOLOCK )
                             WHERE I.NR_PROCESSO = M.NR_PROCESSO
                               AND M.NR_PROC_PO  = @nr_referencia
                               AND M.NR_ITEM_PO  = @nr_item_cliente )

  IF ( @dt_nacionalizacao >= CONVERT( datetime, @dt_atualizada, 103 )  ) OR ( ISNULL( @dt_nacionalizacao, '')  = '' )
  BEGIN
    --CALCULO DO VALOR DA MERCADORIA
    IF RTRIM( LTRIM( @cd_moeda_neg ) ) <> ''
    BEGIN
      IF @cd_moeda_neg <> '220' AND @cd_moeda_neg <> '790'
      BEGIN
        SELECT @vl_taxa = TX_CAMBIO
        FROM TTAXA_CAMBIO ( NOLOCK )
        WHERE CD_MOEDA = '220'
          AND ( CONVERT( CHAR(10), DT_INICIO_VIGENCIA, 120 ) <= CONVERT( CHAR(10), GETDATE(), 120 )
            AND CONVERT( CHAR(10), GETDATE(), 120 )          <= CONVERT( CHAR(10), DT_TERMINO_VIGENCIA, 120 ) )

        SELECT @vl_taxa_ant = TX_CAMBIO
        FROM TTAXA_CAMBIO ( NOLOCK )
        WHERE CD_MOEDA = @cd_moeda_neg
          AND ( CONVERT( CHAR(10), DT_INICIO_VIGENCIA, 120 ) <= CONVERT( CHAR(10), GETDATE(), 120 )
            AND CONVERT( CHAR(10), GETDATE(), 120 )          <= CONVERT( CHAR(10), DT_TERMINO_VIGENCIA, 120 ) )

        SET @vl_merc_real  = @vl_total_item * @vl_taxa_ant 
        SET @vl_merc_dolar = @vl_merc_real / @vl_taxa 
      END
      ELSE
      BEGIN
        IF @cd_moeda_neg = '220'
        BEGIN 
          SELECT @vl_taxa = TX_CAMBIO
          FROM TTAXA_CAMBIO ( NOLOCK )
          WHERE CD_MOEDA = '220'
            AND ( CONVERT( CHAR(10), DT_INICIO_VIGENCIA, 120 ) <= CONVERT( CHAR(10), GETDATE(), 120 )
              AND CONVERT( CHAR(10), GETDATE(), 120 )          <= CONVERT( CHAR(10), DT_TERMINO_VIGENCIA, 120 ) )
                                                          
          SET @vl_merc_real  = @vl_total_item * @vl_taxa 
          SET @vl_merc_dolar = @vl_total_item
        END

        IF @cd_moeda_neg = '790'
        BEGIN
          SELECT @vl_taxa = TX_CAMBIO
            FROM TTAXA_CAMBIO ( NOLOCK )
           WHERE CD_MOEDA = '220'
             AND ( CONVERT( CHAR(10), DT_INICIO_VIGENCIA, 120 ) <= CONVERT( CHAR(10), GETDATE(), 120 )
               AND CONVERT( CHAR(10), GETDATE(), 120 )          <= CONVERT( CHAR(10), DT_TERMINO_VIGENCIA, 120 ) )
                                                    
          SET @vl_merc_real  = @vl_total_item
          SET @vl_merc_dolar = @vl_total_item / @vl_taxa
        END
      END
    END --FIM DO CALCULO DO VALOR DA MERCADORIA

    --CALCULO DO VALOR DO FRETE
    IF @cd_moeda_frete <> '790' AND @cd_moeda_neg <> ''
    BEGIN 
      SELECT @vl_taxa = TX_CAMBIO
      FROM TTAXA_CAMBIO ( NOLOCK )
      WHERE CD_MOEDA = @cd_moeda_frete
          AND ( CONVERT( CHAR(10), DT_INICIO_VIGENCIA, 120 ) <= CONVERT( CHAR(10), GETDATE(), 120 )
            AND CONVERT( CHAR(10), GETDATE(), 120 )          <= CONVERT( CHAR(10), DT_TERMINO_VIGENCIA, 120 ) )

      SET @vl_frete  = ( @vl_frete_prepaid + @vl_frete_collect ) * @vl_taxa

      IF @vl_frete <> 0 
        SET @vl_frete  = ( @vl_frete / @pl_po ) * @pl_item 
    END
    ELSE
    BEGIN
      IF @cd_moeda_neg = '790'
      BEGIN 
        SET @vl_frete = @vl_frete_prepaid + @vl_frete_collect

        IF @vl_frete <> 0 
          SET @vl_frete = ( @vl_frete / @pl_po ) * @pl_item 
      END
    END --FIM DO CALCULO DO FRETE

    --CALCULO DO VALOR DO SEGURO
    IF @cd_moeda_neg <> '790' AND @cd_moeda_neg <> ''
    BEGIN 
      SELECT @vl_taxa = TX_CAMBIO
      FROM TTAXA_CAMBIO ( NOLOCK )
      WHERE ( CONVERT( CHAR(10), DT_INICIO_VIGENCIA, 120 ) <= CONVERT( CHAR(10),GETDATE(), 120 )    AND
                 CONVERT( CHAR(10), GETDATE(), 120 ) <= CONVERT( CHAR(10),DT_TERMINO_VIGENCIA, 120 ) ) AND
                  CD_MOEDA =  @cd_moeda_neg
                                  
      SET @vl_seguro_real = @vl_seguro * @vl_taxa

      IF @vl_seguro_real <> 0  
        SET @vl_seguro = ( @vl_seguro_real / @vl_total ) * @vl_total_item
    END
    ELSE
    BEGIN
      IF @cd_moeda_neg = '790'
      BEGIN
        SET @vl_seguro_real = @vl_seguro

        IF @vl_seguro_real <> 0  
          SET @vl_seguro = ( @vl_seguro_real / @vl_total ) * @vl_total_item
      END
    END --FIM DO CALCULO DO VALOR DO SEGURO

    --VALOR DA DESPESA
    IF @vl_despesas <> 0   
      SET @vl_despesas = ( @vl_despesas / @vl_total ) * @vl_total_item

    --VALOR CIF
    IF @cd_incoterm = 'CFR'
      SET @vl_cif = @vl_merc_real + @vl_seguro + @vl_despesas
    ELSE
      SET @vl_cif = @vl_merc_real + @vl_frete + @vl_seguro + @vl_despesas

    --VALOR DO II verificar as configurações regionais, se for o caso utilizar REPLACE( @vl_aliquota_ii, ',', '.')
    IF @vl_aliquota_ii <> 'NT' AND @vl_aliquota_ii <> ''
      SET @vl_aliq_ii = CONVERT( float, @vl_aliquota_ii, 1 )

    SET @vl_ii = @vl_cif  * ( @vl_aliq_ii / 100 )

    --VALOR DO IPI verificar as configurações regionais, se for o caso utilizar REPLACE( @vl_aliquota_ii, ',', '.')
    IF @vl_aliquota_ipi <> 'NT' AND @vl_aliquota_ipi <> ''
      SET @vl_aliq_ipi = CONVERT( float, @vl_aliquota_ipi, 1 )

    SET @vl_ipi = ( @vl_cif + @vl_ii ) * ( @vl_aliq_ipi / 100 )

    --TAXA SISCOMEX
    SELECT @qtd_itens_po = COUNT( NR_PROCESSO ) FROM TPO_ITEM ( NOLOCK ) WHERE NR_PROCESSO = @nr_referencia
    SELECT @vl_siscomex  = ( ( SELECT TX_ADICAO FROM TTAXA_SISCOMEX ( NOLOCK ) WHERE NR_ADICAO = 0 ) +
                             ( SELECT TX_ADICAO FROM TTAXA_SISCOMEX ( NOLOCK ) WHERE NR_ADICAO = 2 ) )
    SET @vl_siscomex_item = @vl_siscomex / @qtd_itens_po

    --BASE PIS / COFINS
    SET @valor_x = ( ( 1 + 0.18  * (  ( @vl_aliq_ii / 100 )  +  ( @vl_aliq_ipi / 100 )  * ( 1 + ( @vl_aliq_ii / 100 ) )  )  ) / ( 1 - ( @vl_aliq_pis / 100 ) -  ( @vl_aliq_cofins / 100 ) - 0.18 ) )
    SET @valor_y = ( 0.18  / ( 1 - @vl_aliq_pis - @vl_aliq_cofins - 0.18  ) )

    SET @vl_pis_cofins = ( @vl_cif * @valor_x  + @vl_siscomex_item * @valor_y )

    -- VALOR PIS
    SET @vl_pis = @vl_pis_cofins * ( @vl_aliq_pis / 100 )

    -- VALOR COFINS
    SET @vl_cofins = @vl_pis_cofins * ( @vl_aliq_cofins / 100 )

    -- VALOR BASE ICMS
    SET @vl_base_icms = ( @vl_cif + @vl_ii + @vl_ipi + @vl_siscomex_item + @vl_pis + @vl_cofins )

    -- VALOR ICMS
    SET @vl_icms = ( @vl_base_icms / 0.82 ) * 0.18

    IF @dt_final >= CONVERT( datetime, @dt_atual, 103 )
    BEGIN
      IF ( @dt_prev_nacion < CONVERT( datetime, @dt_atual, 103 ) ) AND ( ISNULL( @dt_nacionalizacao, '')  = '' )
        SET @dt_prev_nacion =  CONVERT( datetime, @dt_atual, 103 )  
    END
    ELSE
    BEGIN
      IF ( @dt_prev_nacion < @dt_final ) AND ( ISNULL( @dt_nacionalizacao, '')  = '' )
        SET @dt_prev_nacion =  @dt_final  
    END

    --define o status da previsão de nacionalização
    IF ISNULL( @dt_nacionalizacao, '')  = ''
      SET @in_prev_status = '1'
    ELSE 
      SET @in_prev_status = '2'


    INSERT INTO TREL_PREV_PO_NACION (
      NR_IDENTIFICADOR, NR_REFERENCIA, NR_ITEM_CLIENTE, VL_MERC_DOLAR, VL_MERC_REAL,
      VL_ALIQ_II, VL_II, VL_ALIQ_IPI, VL_IPI, VL_ICMS, DT_PREV_NACION, 
      DT_NACIONALIZACAO, IN_MOEDA_NEG, IN_PREV_STATUS, VL_PIS, VL_COFINS, 
      VL_ALIQ_PIS, VL_ALIQ_COFINS
    )
    VALUES (
      @nr_identificador, @nr_referencia, @nr_item_cliente, @vl_merc_dolar, @vl_merc_real,
      @vl_aliq_ii, @vl_ii, @vl_aliq_ipi, @vl_ipi, @vl_icms, @dt_prev_nacion,
      @dt_nacionalizacao, '1', @in_prev_status, @vl_pis, @vl_cofins, 
      @vl_aliq_pis, @vl_aliq_cofins  )  
  END
  --apaga o registro verificado da tabela temporaria
  DELETE FROM #TMP_PREV_NAC 
  WHERE NR_REFERENCIA   = @nr_referencia
    AND NR_ITEM_CLIENTE = @nr_item_cliente
END

SELECT @nr_registros = COUNT(*)
FROM TREL_PREV_PO_NACION  ( NOLOCK )
WHERE NR_IDENTIFICADOR = @nr_identificador 

DROP TABLE #TMP_PREV_NAC
/*
select * from trel_prev_po_nacion ( nolock ) where nr_identificador = @nr_identificador

SET NOCOUNT OFF
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
