USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_pesq_tabela    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_pesq_tabela] (@nm_tabela varchar(30), @cd_tabela char(3) output) AS
SELECT @cd_tabela = CD_TABELA 
  FROM TTABELA (NOLOCK)
  WHERE NM_TABELA = @nm_tabela AND
        NM_BANCO  <> 'TABSISCO'


GO
