USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [sp_Filtro]  
(  
@SelectTemp varchar(8000)  
)  
as  
SET NOCOUNT ON  
execute ( @SelectTemp )  
SET NOCOUNT OFF  
return  

GO
