USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_marca_transferencia_risc    Script Date: 02/09/1999 08:58:11 AM ******/
CREATE PROCEDURE [sp_marca_transferencia_risc] AS
UPDATE TDECLARACAO_IMPORTACAO 
       SET IN_RISC_ATUALIZADO = '1'
       WHERE ( IN_RISC_ATUALIZADO = '0')


GO
