USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_fat_calculo_rateio_despesas_money] (@nr_emissao int, @ano_emissao int) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_emissao INT
DECLARE @ano_emissao INT

SELECT @nr_emissao  = 22834
SELECT @ano_emissao = 2014


ROLLBACK TRAN
SET XACT_ABORT OFF  
--*/

DECLARE @nr_processo char(18)
DECLARE @nr_processo_tmp char(18)
DECLARE @cd_item char(3)
DECLARE @cd_area char(2)
DECLARE @nr_nota_fatura char(6)
DECLARE @cd_referencia char(15)
DECLARE @cd_referencia_tmp char(15)
DECLARE @vl_item float(8)
DECLARE @vl_item_tmp float(8)
DECLARE @cd_item_tmp char(3)
DECLARE @cd_area_tmp char(2)
DECLARE @tp_rateio_desp char(1)
DECLARE @vl_item_area float
DECLARE @acoxambro float(8)
DECLARE @count int
DECLARE @contador int
DECLARE @pl_item_area float(8)
DECLARE @pb_mercadoria float(8)
DECLARE @pl_mercadoria float(8)
DECLARE @pl_carga float(8)
DECLARE @pb_carga float(8)
DECLARE @fob float(8)
DECLARE @cif float(8)
DECLARE @qtde float
DECLARE @contador_conteiner int
DECLARE @nr_cd_area int
DECLARE @in_li char(1)
DECLARE @nr_oper_trat_prev char(10)
DECLARE @vl_tot_seguro_mn float(8)
DECLARE @vl_tot_frete_mn float(8)
DECLARE @vl_tot_frete_seguro_mn float(8)
DECLARE @cd_grupo_basf     char(3)
DECLARE @cd_grupo_bsg      char(3)
DECLARE @cd_grupo_oxiteno  char(3)
DECLARE @cd_grupo_croda    char(3)

SELECT @cd_grupo_basf     = CD_GRUPO_BASF,
       @cd_grupo_bsg      = CD_GRUPO_BSG,
       @cd_grupo_oxiteno  = CD_GRUPO_OXITENO,
       @cd_grupo_croda    = CD_GRUPO_CRODA
FROM   TPARAMETROS (NOLOCK)

DELETE TFAT_CALCULO_RATEIO_DESP_MONEY
WHERE  NR_EMISSAO = @nr_emissao
  AND ANO_EMISSAO = @ano_emissao

SELECT L.NR_PROCESSO, RIGHT('000' + CONVERT(VARCHAR, ED.CD_ITEM), 3) AS CD_ITEM, CASE WHEN ISNULL(ED.VL_CLIENTE, 0) = 0 THEN ED.VL_INDAIA ELSE ED.VL_CLIENTE END VL_ITEM, E.NR_NOTA
INTO   #TMP_CD_ITEM
FROM MYMONEY.dbo.TB_EMISSAO E (NOLOCK) 
  INNER JOIN MYMONEY.dbo.VW_DOCUMENTO_ITENS ED (NOLOCK) ON ED.NR_EMISSAO = E.NR_EMISSAO AND ED.ANO_EMISSAO = E.ANO_EMISSAO 
  INNER JOIN MYMONEY.dbo.TB_LANCTO L (NOLOCK) ON L.NR_LANCTO = ED.NR_LANCTO AND L.ANO_LANCTO = ED.ANO_LANCTO
  INNER JOIN TPROCESSO P (NOLOCK) ON L.NR_PROCESSO = P.NR_PROCESSO
  --INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON P.CD_CLIENTE = EN.CD_EMPRESA AND EN.CD_GRUPO IN ( @cd_grupo_basf, @cd_grupo_bsg, @cd_grupo_oxiteno, @cd_grupo_croda ) 
WHERE E.ANO_EMISSAO = @ano_emissao
  AND E.NR_EMISSAO = @nr_emissao
  AND ED.CD_ITEM < 900
GROUP BY L.NR_PROCESSO, ED.CD_ITEM, E.NR_NOTA, ED.VL_CLIENTE, ED.VL_INDAIA

SELECT DM.NR_PROCESSO, SUM( DM.PL_MERCADORIA ) AS PL_CARGA, SUM( DM.VL_MLE_ITEM_MN ) AS FOB, SUM( DM.QT_MERC_UN_COMERC ) AS QTDE,
       ( SUM( DM.VL_MLE_ITEM_MN ) + SUM( DM.VL_FRETE_ITEM_MN ) + SUM( DM.VL_SEGURO_ITEM_MN ) + 
         SUM( ISNULL(DM.VL_ACRESCIMO_ITEM_MN, 0) ) - SUM( ISNULL(DM.VL_DEDUCAO_ITEM_MN, 0)) + SUM( DM.VL_DESPESA_ITEM_MN ) ) AS CIF,
         MAX( CASE DI.IN_EMBUT_SEG_ITENS
                WHEN '0' THEN '0' 
            WHEN '1' THEN  DI.VL_TOT_SEGURO_MNEG * DI.TX_SEGURO 
          END ) AS VL_TOT_SEGURO_MN, 
         MAX( CASE DI.IN_EMBUT_FRT_ITENS
            WHEN '0' THEN '0'
            WHEN '1' THEN ( DI.VL_TOT_FRT_PREPAID + DI.VL_TOT_FRT_COLLECT - DI.VL_FRETE_TNAC_MNEG ) * DI.TX_FRETE 
          END ) AS VL_TOT_FRETE_MN
INTO   #TMP_PL_MERCADORIA
FROM   TDETALHE_MERCADORIA DM (NOLOCK), TDECLARACAO_IMPORTACAO DI (NOLOCK)
WHERE  DM.NR_PROCESSO IN ( SELECT TMPI.NR_PROCESSO 
                           FROM   #TMP_CD_ITEM TMPI 
                           GROUP BY TMPI.NR_PROCESSO ) AND
       DM.NR_PROCESSO = DI.NR_PROCESSO
GROUP BY DM.NR_PROCESSO

SELECT RC.NR_PROCESSO, RC.CD_AREA, 
       ( RTRIM( DM.NR_PROC_PO ) + CASE 
                                    WHEN ISNULL( DM.NR_ITEM_PO, '' ) = '' THEN ''
                                    ELSE '/' + CONVERT(VARCHAR, CONVERT(INT, ISNULL(DM.NR_ITEM_PO, '')))
                                  END ) AS CD_REFERENCIA, 
       SUM(ISNULL(DM.PL_MERCADORIA, 0)) / COUNT(DISTINCT ED.CD_ITEM) AS PL_MERCADORIA
INTO #TMP_CD_AREA
FROM MYMONEY.dbo.TB_EMISSAO E (NOLOCK) 
  INNER JOIN MYMONEY.dbo.VW_DOCUMENTO_ITENS ED (NOLOCK) ON ED.NR_EMISSAO = E.NR_EMISSAO AND ED.ANO_EMISSAO = E.ANO_EMISSAO 
  INNER JOIN MYMONEY.dbo.TB_LANCTO L (NOLOCK) ON L.NR_LANCTO = ED.NR_LANCTO AND L.ANO_LANCTO = ED.ANO_LANCTO
  INNER JOIN TPROCESSO P (NOLOCK) ON L.NR_PROCESSO = P.NR_PROCESSO
  INNER JOIN TDETALHE_MERCADORIA DM (NOLOCK) ON DM.NR_PROCESSO = L.NR_PROCESSO
  INNER JOIN TREF_CLIENTE RC (NOLOCK) ON RC.NR_PROCESSO = L.NR_PROCESSO AND RC.CD_REFERENCIA = DM.NR_PROC_PO AND RC.NR_ITEM_PO = DM.NR_ITEM_PO
  --INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON P.CD_CLIENTE = EN.CD_EMPRESA AND EN.CD_GRUPO IN ( @cd_grupo_basf, @cd_grupo_bsg, @cd_grupo_oxiteno, @cd_grupo_croda )       
WHERE E.NR_EMISSAO = @nr_emissao
    AND E.ANO_EMISSAO  = @ano_emissao
GROUP BY RC.NR_PROCESSO, RC.CD_AREA, ( RTRIM( DM.NR_PROC_PO ) + CASE 
                                                                  WHEN ISNULL( DM.NR_ITEM_PO, '' ) = '' THEN ''
                                                                  ELSE '/' + CONVERT(VARCHAR, CONVERT(INT, ISNULL(DM.NR_ITEM_PO, '')))
                                                                END ) 
  SELECT @contador = 1



/******    PREPARANDO O RATEIO    *******/    
DECLARE nr_item_po_cursor CURSOR FOR
  SELECT NR_PROCESSO, CD_ITEM, VL_ITEM, NR_NOTA
  FROM   #TMP_CD_ITEM
OPEN nr_item_po_cursor
FETCH nr_item_po_cursor INTO @nr_processo, @cd_item, @vl_item, @nr_nota_fatura
WHILE ( @@fetch_status = 0 )
BEGIN
  SELECT @acoxambro = @vl_item

  SELECT @tp_rateio_desp = IA.TP_RATEIO_DESP 
  FROM   TITEM_AREA IA (NOLOCK), #TMP_CD_AREA TMPA, #TMP_PL_MERCADORIA TMPP
  WHERE  IA.CD_ITEM = @cd_item AND
     TMPA.NR_PROCESSO = TMPP.NR_PROCESSO AND
     IA.CD_AREA = TMPA.CD_AREA

    --AND TMPA.NR_PROCESSO = TMPP.NR_PROCESSO
    --AND IA.CD_AREA = TMPA.CD_AREA
  /******    PESO LÍQUIDO - TP_RATEIO_DESP = 2 *******/    
  IF @tp_rateio_desp = '2'
  BEGIN
      SELECT TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, SUM( TMPA.PL_MERCADORIA ) AS PL_ITEM_AREA,
         IA.TP_RATEIO_DESP, SUM( TMPP.PL_CARGA ) AS PL_CARGA, IA.IN_LI, MAX(ADI.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
      INTO   #TMP_PESO_LIQUIDO
      FROM   TITEM_AREA IA (NOLOCK), #TMP_CD_AREA TMPA, #TMP_PL_MERCADORIA TMPP, TADICAO_DE_IMPORTACAO ADI (NOLOCK)
      WHERE  IA.CD_ITEM = @cd_item AND
             TMPA.NR_PROCESSO = @nr_processo AND
             TMPA.NR_PROCESSO = TMPP.NR_PROCESSO AND
             IA.CD_AREA = TMPA.CD_AREA AND    
             ADI.NR_PROCESSO = TMPP.NR_PROCESSO
      GROUP BY TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, IA.TP_RATEIO_DESP, IA.IN_LI--, ADI.NR_OPER_TRAT_PREV

      SELECT @count = COUNT(*)
      FROM   #TMP_PESO_LIQUIDO

    DECLARE item_area_cursor CURSOR FOR
      SELECT CD_REFERENCIA, CD_ITEM, CD_AREA, PL_ITEM_AREA, TP_RATEIO_DESP, PL_CARGA, IN_LI, NR_OPER_TRAT_PREV
      FROM   #TMP_PESO_LIQUIDO

    OPEN item_area_cursor
    FETCH item_area_cursor INTO  @cd_referencia, @cd_item_tmp, @cd_area_tmp, @pl_item_area, @tp_rateio_desp, @pl_carga, @in_li, @nr_oper_trat_prev
    WHILE ( @@fetch_status = 0 )
    BEGIN
      IF @contador <> @count
      BEGIN 
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SELECT @vl_item_area = ROUND( ( ( @vl_item * @pl_item_area ) / @pl_carga ), 2 )
          SELECT @acoxambro    = ROUND( ( @acoxambro - @vl_item_area ), 2 )

          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao     AND
                                ANO_EMISSAO         = @ano_emissao    AND
                                NR_PROCESSO    = @nr_processo    AND
                                CD_REFERENCIA  = @cd_referencia  AND
                                CD_ITEM        = @cd_item_tmp    AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP_MONEY( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                   CD_AREA, VL_ITEM, PL_MERCADORIA, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @nr_emissao, @ano_emissao, @nr_processo, @cd_referencia,  @cd_item_tmp, @cd_area_tmp, 
                 @vl_item, @pl_carga, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
        SELECT @contador = ( @contador + 1 ) 
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = ''
          BEGIN
            SELECT @acoxambro = ROUND( @vl_item, 2 )
          END
          SELECT @vl_item_area = @acoxambro          

          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao     AND
                                ANO_EMISSAO         = @ano_emissao    AND
                                NR_PROCESSO    = @nr_processo    AND
                                CD_REFERENCIA  = @cd_referencia  AND
                                CD_ITEM        = @cd_item_tmp    AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                   CD_AREA, VL_ITEM, PL_MERCADORIA, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            VALUES ( @nr_emissao, @ano_emissao, @nr_processo, @cd_referencia,  @cd_item_tmp, @cd_area_tmp, 
                 @vl_item, @pl_carga, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
      END     
      FETCH item_area_cursor INTO  @cd_referencia, @cd_item_tmp, @cd_area_tmp, @pl_item_area, @tp_rateio_desp, @pl_carga, @in_li, @nr_oper_trat_prev
    END
    SELECT @contador = 1
    CLOSE item_area_cursor
    DEALLOCATE item_area_cursor
    DROP TABLE #TMP_PESO_LIQUIDO
  END
   
  /******    PESO BRUTO - TP_RATEIO_DESP = 3  *******/
  IF @tp_rateio_desp = '3'   
  BEGIN
    SELECT DI.NR_PROCESSO, DI.PB_CARGA
    INTO   #TMP_PB_CARGA
    FROM   TDECLARACAO_IMPORTACAO DI (NOLOCK), #TMP_CD_AREA TMPA, #TMP_PL_MERCADORIA TMPP
    WHERE  DI.NR_PROCESSO = TMPA.NR_PROCESSO AND
       TMPP.NR_PROCESSO = TMPA.NR_PROCESSO
    GROUP BY DI.NR_PROCESSO, DI.PB_CARGA 

      SELECT TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, IA.TP_RATEIO_DESP, TMPA.PL_MERCADORIA PL_ITEM_AREA, 
             TMPB.PB_CARGA, TMPP.PL_CARGA, IA.IN_LI, MAX(ADI.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
      INTO   #TMP_PESO_BRUTO
      FROM   TITEM_AREA IA (NOLOCK), #TMP_CD_AREA TMPA, #TMP_PL_MERCADORIA TMPP, #TMP_PB_CARGA TMPB, TADICAO_DE_IMPORTACAO ADI (NOLOCK)
      WHERE  IA.CD_ITEM = @cd_item AND
             TMPA.NR_PROCESSO = @nr_processo AND
             TMPA.NR_PROCESSO = TMPP.NR_PROCESSO AND
             IA.CD_AREA = TMPA.CD_AREA AND
             TMPB.NR_PROCESSO = TMPA.NR_PROCESSO AND
             ADI.NR_PROCESSO = TMPP.NR_PROCESSO
      GROUP BY TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, IA.TP_RATEIO_DESP, TMPA.PL_MERCADORIA, 
             TMPB.PB_CARGA, TMPP.PL_CARGA, IA.IN_LI--, ADI.NR_OPER_TRAT_PREV



      SELECT @count=COUNT(*)
      FROM #TMP_PESO_BRUTO

      DECLARE item_area_cursor CURSOR FOR
      SELECT CD_REFERENCIA, CD_ITEM, CD_AREA, TP_RATEIO_DESP, PL_ITEM_AREA, PB_CARGA, PL_CARGA, IN_LI, NR_OPER_TRAT_PREV
      FROM   #TMP_PESO_BRUTO

    OPEN item_area_cursor
    FETCH item_area_cursor INTO @cd_referencia, @cd_item_tmp, @cd_area_tmp, @tp_rateio_desp, @pl_mercadoria, @pb_carga, @pl_carga, @in_li, @nr_oper_trat_prev
    WHILE ( @@fetch_status = 0 )
    BEGIN
      IF @contador <> @count
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SELECT @pb_mercadoria = ROUND( ( @pb_carga * @pl_mercadoria ) / @pl_carga , 2 )

          SELECT @vl_item_area = ROUND( ( ( @vl_item * @pb_mercadoria ) / @pb_carga ), 2 )       

          SELECT @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2)

          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao     AND
                                ANO_EMISSAO         = @ano_emissao    AND
                                NR_PROCESSO    = @nr_processo    AND
                                CD_REFERENCIA  = @cd_referencia  AND
                                CD_ITEM        = @cd_item_tmp    AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, PL_MERCADORIA, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
          VALUES ( @nr_emissao, @ano_emissao, @nr_processo, @cd_referencia,  @cd_item_tmp, @cd_area_tmp, @vl_item, 
                   @pl_mercadoria, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
        SELECT @contador = ( @contador + 1 ) 
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = ''
          BEGIN
            SELECT @acoxambro = ROUND( @vl_item, 2)
          END
          SELECT @vl_item_area = ROUND( @acoxambro, 2 )

          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao     AND
                                ANO_EMISSAO         = @ano_emissao    AND
                                NR_PROCESSO    = @nr_processo    AND
                                CD_REFERENCIA  = @cd_referencia  AND
                                CD_ITEM        = @cd_item_tmp    AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY (  NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, PL_MERCADORIA, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
          VALUES ( @nr_emissao, @ano_emissao, @nr_processo, @cd_referencia,  @cd_item_tmp, @cd_area_tmp, @vl_item, 
                   @pl_mercadoria, @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
      END     
      FETCH item_area_cursor INTO @cd_referencia, @cd_item_tmp, @cd_area_tmp, @tp_rateio_desp, @pl_mercadoria, @pb_carga, @pl_carga, @in_li, @nr_oper_trat_prev
    END
    SELECT @contador = 1
    CLOSE item_area_cursor
    DEALLOCATE item_area_cursor
    DROP TABLE #TMP_PB_CARGA
    DROP TABLE #TMP_PESO_BRUTO
  END

  /******    FOB - TP_RATEIO_DESP = 4   *******/     
  IF @tp_rateio_desp = '4'   
  BEGIN
    SELECT TMPA.NR_PROCESSO, TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, TMPP.FOB, ( IA.VL_NUN_INDICE / IA.VL_DEN_INDICE ) AS PL_ITEM_AREA,
           IA.IN_LI, MAX(ADI.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
    INTO   #TMP_FOB
    FROM   TITEM_AREA IA (NOLOCK), #TMP_CD_ITEM TMPI, #TMP_CD_AREA TMPA, #TMP_PL_MERCADORIA TMPP, TADICAO_DE_IMPORTACAO ADI (NOLOCK)
    WHERE  IA.TP_RATEIO_DESP = '4' AND
           TMPA.NR_PROCESSO = @nr_processo AND
       TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND 
       IA.CD_ITEM = @cd_item AND
       IA.CD_AREA = TMPA.CD_AREA AND
       TMPP.NR_PROCESSO = TMPI.NR_PROCESSO AND
           ADI.NR_PROCESSO = TMPP.NR_PROCESSO
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, TMPP.FOB, ( IA.VL_NUN_INDICE / IA.VL_DEN_INDICE ), IA.IN_LI--, ADI.NR_OPER_TRAT_PREV

    SELECT @count = COUNT(*)
    FROM   #TMP_FOB

    DECLARE item_area_cursor CURSOR FOR
      SELECT NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, FOB, PL_ITEM_AREA, IN_LI, NR_OPER_TRAT_PREV
      FROM   #TMP_FOB

    OPEN item_area_cursor
    FETCH item_area_cursor INTO  @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @fob, @pl_item_area, @in_li, @nr_oper_trat_prev
    WHILE ( @@FETCH_STATUS = 0 )
    BEGIN
      IF @contador <> @count
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SELECT @vl_item_area = ROUND( ( ( @vl_item * @pl_item_area ) / @fob), 2 )      

          SELECT @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2 )

          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao     AND
                                ANO_EMISSAO         = @ano_emissao    AND
                                NR_PROCESSO    = @nr_processo_tmp    AND
                                CD_REFERENCIA  = @cd_referencia_tmp  AND
                                CD_ITEM        = @cd_item_tmp    AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
          VALUES ( @nr_emissao, @ano_emissao, @nr_processo_tmp, @cd_referencia_tmp,  @cd_item_tmp, @cd_area_tmp, @vl_item, 
               @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END 
        SELECT @contador = ( @contador + 1 ) 
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = ''
          BEGIN
            SELECT @acoxambro = ROUND( @vl_item, 2 )
          END
          SELECT @vl_item_area = @acoxambro

          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao     AND
                                ANO_EMISSAO         = @ano_emissao    AND
                                NR_PROCESSO    = @nr_processo_tmp    AND
                                CD_REFERENCIA  = @cd_referencia_tmp  AND
                                CD_ITEM        = @cd_item_tmp    AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
          VALUES ( @nr_emissao, @ano_emissao, @nr_processo_tmp, @cd_referencia_tmp,  @cd_item_tmp, @cd_area_tmp, @vl_item, 
               @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
      END     
    FETCH item_area_cursor INTO  @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @fob, @pl_item_area, @in_li, @nr_oper_trat_prev
    END
    SELECT @contador = 1
    CLOSE item_area_cursor
    DEALLOCATE item_area_cursor
    DROP TABLE #TMP_FOB
  END

  /******    CIF - TP_RATEIO_DESP = 5   *******/
  IF @tp_rateio_desp = '5'   
  BEGIN
    SELECT @vl_tot_seguro_mn = VL_TOT_SEGURO_MN, @vl_tot_frete_mn = VL_TOT_FRETE_MN
    FROM   #TMP_PL_MERCADORIA
    WHERE NR_PROCESSO IN  ( SELECT TMPI.NR_PROCESSO 
                            FROM  #TMP_CD_ITEM TMPI 
                            GROUP BY TMPI.NR_PROCESSO )

    SELECT @vl_tot_frete_seguro_mn = @vl_tot_seguro_mn + @vl_tot_frete_mn

    SELECT TMPA.NR_PROCESSO, TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, ( TMPP.CIF - @vl_tot_frete_seguro_mn ) AS CIF, ( IA.VL_NUN_INDICE / IA.VL_DEN_INDICE ) AS PL_ITEM_AREA,
           IA.IN_LI, MAX(ADI.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
    INTO   #TMP_CIF
    FROM   TITEM_AREA IA (NOLOCK), #TMP_CD_ITEM TMPI, #TMP_CD_AREA TMPA, #TMP_PL_MERCADORIA TMPP, TADICAO_DE_IMPORTACAO ADI (NOLOCK)
    WHERE  IA.TP_RATEIO_DESP = '5' AND
           TMPA.NR_PROCESSO = @nr_processo AND
       TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND 
       IA.CD_ITEM = @cd_item AND
       IA.CD_AREA = TMPA.CD_AREA AND
       TMPP.NR_PROCESSO = TMPI.NR_PROCESSO AND
           ADI.NR_PROCESSO = TMPP.NR_PROCESSO
    GROUP BY  TMPA.NR_PROCESSO, TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA,( TMPP.CIF - @vl_tot_frete_seguro_mn ), ( IA.VL_NUN_INDICE / IA.VL_DEN_INDICE ), IA.IN_LI--, ADI.NR_OPER_TRAT_PREV

    SELECT @count = COUNT(*)
    FROM   #TMP_CIF

    DECLARE item_area_cursor CURSOR FOR
      SELECT NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, CIF, PL_ITEM_AREA, IN_LI, NR_OPER_TRAT_PREV
      FROM #TMP_CIF

    OPEN item_area_cursor
    FETCH item_area_cursor INTO  @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @cif, @pl_item_area, @in_li, @nr_oper_trat_prev
    WHILE ( @@FETCH_STATUS = 0 )
    BEGIN
      IF @contador <> @count
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SELECT @pl_item_area = (VL_MLE_ITEM_MN + VL_FRETE_ITEM_MN + VL_SEGURO_ITEM_MN + ISNULL(VL_ACRESCIMO_ITEM_MN, 0) - ISNULL(VL_DEDUCAO_ITEM_MN, 0) + VL_DESPESA_ITEM_MN)
          FROM TDETALHE_MERCADORIA (NOLOCK)
          WHERE NR_PROCESSO = @nr_processo_tmp
            AND (RTRIM(NR_PROC_PO) + CASE 
                                         WHEN ISNULL(NR_ITEM_PO, '') = '' THEN ''
                                     ELSE '/' + CONVERT(VARCHAR, CONVERT(INT, ISNULL(NR_ITEM_PO, '')))
                                     END) = @cd_referencia_tmp

          SELECT @vl_item_area = ROUND( ( ( @vl_item * @pl_item_area ) / @cif ), 2 )      

          SELECT @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2 )

          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao                AND
                                ANO_EMISSAO         = @ano_emissao                AND
                                NR_PROCESSO    = @nr_processo_tmp        AND
                                CD_REFERENCIA  = @cd_referencia_tmp AND
                                CD_ITEM        = @cd_item_tmp                AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
          VALUES ( @nr_emissao, @ano_emissao, @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_item, 
                                     @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
        SELECT @contador = ( @contador + 1 ) 
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = ''
          BEGIN
            SELECT @acoxambro = ROUND( @vl_item, 2 )
          END
          SELECT @vl_item_area = @acoxambro
 
          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao                 AND
                                ANO_EMISSAO         = @ano_emissao                 AND
                                NR_PROCESSO    = @nr_processo_tmp    AND
                                CD_REFERENCIA  = @cd_referencia_tmp  AND
                                CD_ITEM        = @cd_item_tmp                 AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
          VALUES ( @nr_emissao, @ano_emissao, @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_item, 
               @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END     
      END
    FETCH item_area_cursor INTO  @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @cif, @pl_item_area, @in_li, @nr_oper_trat_prev
    END
    SELECT @contador = 1
    CLOSE item_area_cursor
    DEALLOCATE item_area_cursor
    DROP TABLE #TMP_CIF
  END

  /******    QUANTIDADE - TP_RATEIO_DESP = 6   *******/
  IF @tp_rateio_desp = '6'   
  BEGIN
    SELECT TMPA.NR_PROCESSO, TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, TMPP.QTDE, ( IA.VL_NUN_INDICE / IA.VL_DEN_INDICE ) AS PL_ITEM_AREA, 
           IA.IN_LI, MAX(ADI.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
    INTO   #TMP_QUANTIDADE
    FROM   TITEM_AREA IA (NOLOCK), #TMP_CD_ITEM TMPI, #TMP_CD_AREA TMPA, #TMP_PL_MERCADORIA TMPP, TADICAO_DE_IMPORTACAO ADI (NOLOCK)
    WHERE  IA.TP_RATEIO_DESP = '6'                         AND
           TMPA.NR_PROCESSO = @nr_processo         AND
                     TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND 
                     IA.CD_ITEM = @cd_item                             AND
                     IA.CD_AREA = TMPA.CD_AREA                     AND
                     TMPP.NR_PROCESSO = TMPI.NR_PROCESSO AND
           ADI.NR_PROCESSO = TMPP.NR_PROCESSO
    GROUP BY  TMPA.NR_PROCESSO, TMPA.CD_REFERENCIA, IA.CD_ITEM, IA.CD_AREA, TMPP.QTDE,  ( IA.VL_NUN_INDICE / IA.VL_DEN_INDICE ), IA.IN_LI--, ADI.NR_OPER_TRAT_PREV 

    SELECT @count = COUNT(*)
    FROM   #TMP_QUANTIDADE

    DECLARE item_area_cursor CURSOR FOR
      SELECT NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, QTDE, PL_ITEM_AREA, IN_LI, NR_OPER_TRAT_PREV
      FROM   #TMP_QUANTIDADE

    OPEN item_area_cursor
    FETCH item_area_cursor INTO  @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @qtde, @pl_item_area, @in_li, @nr_oper_trat_prev
    WHILE ( @@FETCH_STATUS = 0 )
    BEGIN
      IF @contador <> @count
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          SELECT @vl_item_area = ROUND( ( ( @vl_item * @pl_item_area ) / @qtde ) , 2 )        

          SELECT @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2 )

          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao                 AND
                                ANO_EMISSAO         = @ano_emissao                 AND
                                NR_PROCESSO    = @nr_processo_tmp    AND
                                CD_REFERENCIA  = @cd_referencia_tmp  AND
                                CD_ITEM        = @cd_item_tmp                 AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
          VALUES ( @nr_emissao, @ano_emissao, @nr_processo_tmp, @cd_referencia_tmp,  @cd_item_tmp, @cd_area_tmp, @vl_item, 
                   @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END 
        END
        SELECT @contador = ( @contador + 1 ) 
      END
      ELSE
      BEGIN
        IF ( ( ( @in_li = 1 ) AND ( @nr_oper_trat_prev <> '' ) ) OR 
            ( ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev = ''  ) ) OR ( ( @in_li = 0 ) AND ( @nr_oper_trat_prev <> ''  ) ) ) ) --AND ( @nr_oper_trat_prev = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
        BEGIN
          IF @acoxambro = ''
          BEGIN
            SELECT @acoxambro = ROUND( @vl_item, 2 )
          END
          SELECT @vl_item_area = @acoxambro 

          IF NOT EXISTS( SELECT *
                         FROM   TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                         WHERE  NR_EMISSAO         = @nr_emissao                 AND
                                ANO_EMISSAO         = @ano_emissao                 AND
                                NR_PROCESSO    = @nr_processo_tmp    AND
                                CD_REFERENCIA  = @cd_referencia_tmp  AND
                                CD_ITEM        = @cd_item_tmp                 AND
                                CD_AREA        = @cd_area_tmp )
          BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
          VALUES ( @nr_emissao, @ano_emissao, @nr_processo_tmp, @cd_referencia_tmp,  @cd_item_tmp, @cd_area_tmp, @vl_item, 
               @vl_item_area, @tp_rateio_desp, @nr_nota_fatura )
          END
        END
      END     
    FETCH item_area_cursor INTO  @nr_processo_tmp, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @qtde, @pl_item_area, @in_li, @nr_oper_trat_prev
    END
    SELECT @contador = 1
    CLOSE item_area_cursor
    DEALLOCATE item_area_cursor
    DROP TABLE #TMP_QUANTIDADE
  END

FETCH nr_item_po_cursor INTO @nr_processo, @cd_item, @vl_item, @nr_nota_fatura
END
CLOSE nr_item_po_cursor
DEALLOCATE nr_item_po_cursor


/******    Nº DE PEDIDOS - TP_RATEIO_DESP = 7   *******/
SELECT @tp_rateio_desp = I.TP_RATEIO_DESP
FROM   TITEM_AREA I (NOLOCK), #TMP_CD_ITEM TMPI,  #TMP_CD_AREA TMPA
WHERE  ( I.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_CD_ITEM ) ) AND
       ( I.CD_AREA IN ( SELECT CD_AREA FROM #TMP_CD_AREA ) ) AND
       I.TP_RATEIO_DESP = '7' AND
       TMPI.NR_PROCESSO = TMPA.NR_PROCESSO AND
       I.CD_ITEM = TMPI.CD_ITEM AND
       I.CD_AREA = TMPA.CD_AREA 

IF @tp_rateio_desp = '7'
BEGIN
  SELECT TMPI.NR_PROCESSO, TMPA.CD_REFERENCIA, I.CD_ITEM, MIN( TMPI.VL_ITEM ) AS VL_ITEM, I.CD_AREA, 
         TMPI.NR_NOTA, I.IN_LI, MAX(ADI.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
  INTO #TMP_NPEDIDOS
  FROM   TITEM_AREA I (NOLOCK),  #TMP_CD_ITEM TMPI,  #TMP_CD_AREA TMPA, TADICAO_DE_IMPORTACAO ADI (NOLOCK) 
  WHERE  I.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_CD_ITEM ) AND
     I.CD_AREA IN ( SELECT CD_AREA FROM #TMP_CD_AREA ) AND
     I.TP_RATEIO_DESP = '7' AND
     TMPI.NR_PROCESSO = TMPA.NR_PROCESSO AND
     I.CD_ITEM = TMPI.CD_ITEM AND
     I.CD_AREA = TMPA.CD_AREA AND
         ADI.NR_PROCESSO = TMPA.NR_PROCESSO AND
         ( ( ( I.IN_LI = 1 ) AND ( ADI.NR_OPER_TRAT_PREV <> '' ) ) OR 
           ( ( ( I.IN_LI = 0 ) AND ( ADI.NR_OPER_TRAT_PREV = ''  ) ) OR ( ( I.IN_LI = 0 ) AND ( ADI.NR_OPER_TRAT_PREV <> ''  ) ) ) )--AND ( ADI.NR_OPER_TRAT_PREV = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
  GROUP BY TMPI.NR_PROCESSO, TMPA.CD_REFERENCIA, I.CD_ITEM, I.CD_AREA, TMPI.NR_NOTA, I.IN_LI
  ORDER BY TMPI.NR_PROCESSO, I.CD_AREA

  DECLARE npedidos_cursor CURSOR FOR
    SELECT   TMP.NR_PROCESSO, TMP.CD_ITEM, TMPA.CD_AREA, TMP.VL_ITEM
    FROM     #TMP_CD_AREA TMPA, #TMP_NPEDIDOS TMP
    WHERE    TMPA.NR_PROCESSO = TMP.NR_PROCESSO AND 
             TMP.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_CD_ITEM ) AND
         TMP.CD_AREA IN ( SELECT CD_AREA FROM #TMP_CD_AREA )              
    GROUP BY TMP.NR_PROCESSO, TMP.CD_ITEM, TMPA.CD_AREA, TMP.VL_ITEM

  OPEN npedidos_cursor
  FETCH npedidos_cursor INTO  @nr_processo, @cd_item, @cd_area, @vl_item
  WHILE ( @@fetch_status = 0 )
  BEGIN
    SELECT @contador     = 0  
    SELECT @acoxambro    = @vl_item
    SELECT @vl_item_area = 0

    SELECT @count = COUNT(CD_REFERENCIA)
    FROM   #TMP_NPEDIDOS  
    WHERE CD_ITEM = @cd_item AND 
          --CD_AREA = @cd_area AND
          NR_PROCESSO = @nr_processo

    DECLARE cnpedidos_item_area CURSOR FOR
      SELECT CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM
      FROM   #TMP_NPEDIDOS
      WHERE  CD_ITEM = @cd_item AND 
             --CD_AREA = @cd_area AND
             NR_PROCESSO = @nr_processo
      GROUP BY CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM

    OPEN cnpedidos_item_area
    FETCH cnpedidos_item_area INTO  @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_item_tmp
    WHILE ( @@fetch_status = 0 )
    BEGIN
      IF @contador <> @count - 1
      BEGIN
        SELECT @vl_item_area= ROUND( ( @vl_item_tmp / ( @count ) ), 2 )

        SELECT @acoxambro = ROUND( ( @acoxambro - @vl_item_area ), 2 )
        
        IF NOT EXISTS( SELECT * 
                       FROM  TFAT_CALCULO_RATEIO_DESP_MONEY TFC (NOLOCK)
                       WHERE  NR_EMISSAO         = @nr_emissao                AND
                              ANO_EMISSAO         = @ano_emissao                AND
                              NR_PROCESSO    = @nr_processo                AND
                              CD_REFERENCIA  = @cd_referencia_tmp AND
                              CD_ITEM        = @cd_item_tmp                AND
                              CD_AREA        = @cd_area_tmp )
        BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA)
          SELECT @nr_emissao, @ano_emissao, @nr_processo, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, 
                 @vl_item_tmp, @vl_item_area, @tp_rateio_desp, NR_NOTA
          FROM   #TMP_NPEDIDOS 
          WHERE  NR_PROCESSO = @nr_processo AND
                 CD_ITEM = @cd_item AND 
                 CD_AREA = @cd_area 
          GROUP BY NR_NOTA
        END

        SELECT @contador = ( @contador + 1 ) 
      END
      ELSE
      BEGIN
        IF @acoxambro = ''
        BEGIN
          SELECT @acoxambro = ROUND( @vl_item, 2 )
        END
        SELECT @vl_item_area = @acoxambro 
   
        IF NOT EXISTS( SELECT * 
                       FROM  TFAT_CALCULO_RATEIO_DESP_MONEY TFC (NOLOCK)
                       WHERE NR_EMISSAO         = @nr_emissao                    AND
                             ANO_EMISSAO         = @ano_emissao                AND
                                                         NR_PROCESSO    = @nr_processo                AND
                             CD_REFERENCIA  = @cd_referencia_tmp  AND
                             CD_ITEM        = @cd_item_tmp                AND
                             CD_AREA        = @cd_area_tmp )
        BEGIN
          INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                           CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA)
          SELECT @nr_emissao, @ano_emissao, @nr_processo, @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, 
                 @vl_item_tmp, @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
          FROM   #TMP_NPEDIDOS
          WHERE  NR_PROCESSO = @nr_processo AND
                 CD_ITEM = @cd_item AND 
                 CD_AREA = @cd_area 
          GROUP BY NR_NOTA_FATURA
        END
      END      

    FETCH cnpedidos_item_area INTO  @cd_referencia_tmp, @cd_item_tmp, @cd_area_tmp, @vl_item_tmp
    END
    CLOSE cnpedidos_item_area
    DEALLOCATE cnpedidos_item_area

  FETCH npedidos_cursor INTO  @nr_processo, @cd_item, @cd_area, @vl_item
  END
  CLOSE npedidos_cursor
  DEALLOCATE npedidos_cursor
DROP TABLE #TMP_NPEDIDOS
END

/******    CONTÊINER - TP_RATEIO_DESP = 1   *******/
SELECT @tp_rateio_desp = I.TP_RATEIO_DESP
FROM   TITEM_AREA I (NOLOCK),  #TMP_CD_ITEM TMPI,  #TMP_CD_AREA TMPA 
WHERE  ( I.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_CD_ITEM ) ) AND
       ( I.CD_AREA IN ( SELECT CD_AREA FROM #TMP_CD_AREA ) ) AND
       I.TP_RATEIO_DESP = '1' AND
       TMPI.NR_PROCESSO = TMPA.NR_PROCESSO AND
       I.CD_ITEM = TMPI.CD_ITEM AND
       I.CD_AREA = TMPA.CD_AREA 

IF @tp_rateio_desp = '1'
BEGIN
  SELECT TMPI.NR_PROCESSO, TMPA.CD_REFERENCIA, I.CD_ITEM, TMPI.VL_ITEM, I.CD_AREA, TMPI.NR_NOTA_FATURA, I.IN_LI, MAX(ADI.NR_OPER_TRAT_PREV) AS NR_OPER_TRAT_PREV
  INTO   #TMP_CONTEINER
  FROM   TITEM_AREA I (NOLOCK),  #TMP_CD_ITEM TMPI,  #TMP_CD_AREA TMPA, TADICAO_DE_IMPORTACAO ADI (NOLOCK)
  WHERE  I.CD_ITEM IN ( SELECT CD_ITEM FROM #TMP_CD_ITEM ) AND
     I.CD_AREA IN ( SELECT CD_AREA FROM #TMP_CD_AREA ) AND
     I.TP_RATEIO_DESP = '1' AND            
     TMPI.NR_PROCESSO = TMPA.NR_PROCESSO AND
         ADI.NR_PROCESSO = TMPI.NR_PROCESSO AND 
     I.CD_ITEM = TMPI.CD_ITEM AND
     I.CD_AREA = TMPA.CD_AREA AND
         ADI.NR_PROCESSO = TMPA.NR_PROCESSO AND
         ( ( ( I.IN_LI = 1 ) AND ( ADI.NR_OPER_TRAT_PREV <> '' ) ) OR 
           ( ( ( I.IN_LI = 0 ) AND ( ADI.NR_OPER_TRAT_PREV = ''  ) ) OR ( ( I.IN_LI = 0 ) AND ( ADI.NR_OPER_TRAT_PREV <> ''  ) ) ) )--AND ( ADI.NR_OPER_TRAT_PREV = ''  ) ) ) DEIXADO COMO COMENTARIO POR HAVER PROCESSOS COM IN_LI=0 E NR_OPER_TRAT_PREV<>'' ASS.: TAISA - 06/08/03
  GROUP BY TMPI.NR_PROCESSO, TMPA.CD_REFERENCIA, I.CD_ITEM, TMPI.VL_ITEM, I.CD_AREA, TMPI.NR_NOTA, I.IN_LI--, ADI.NR_OPER_TRAT_PREV
  ORDER BY TMPI.NR_PROCESSO, I.CD_AREA

  DECLARE conteiner_cursor CURSOR FOR
    SELECT NR_PROCESSO, CD_REFERENCIA, CD_ITEM, IN_LI, NR_OPER_TRAT_PREV
    FROM   #TMP_CONTEINER 

    SELECT @contador_conteiner ='0'

  OPEN conteiner_cursor
  FETCH conteiner_cursor INTO  @nr_processo, @cd_referencia, @cd_item_tmp, @in_li--, @nr_oper_trat_prev
  WHILE ( @@FETCH_STATUS = 0 )
  BEGIN
    SELECT @nr_cd_area = COUNT(CD_AREA)
    FROM   #TMP_CONTEINER  
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_ITEM = @cd_item_tmp                        
 
    IF @nr_cd_area > 2 
    BEGIN
      SELECT @vl_item_area = ROUND( VL_ITEM / ( @nr_cd_area - 1 ), 2 )
      FROM   #TMP_CONTEINER
      WHERE  NR_PROCESSO = @nr_processo AND
             CD_ITEM = @cd_item_tmp

      DECLARE area_conteiner_cursor CURSOR FOR 
        SELECT NR_PROCESSO, CD_AREA
        FROM   #TMP_CONTEINER 
        WHERE  NR_PROCESSO = @nr_processo AND
           CD_ITEM = @cd_item_tmp 
        GROUP BY NR_PROCESSO, CD_AREA

      OPEN area_conteiner_cursor
      FETCH area_conteiner_cursor INTO @nr_processo_tmp, @cd_area_tmp
      WHILE ( @@FETCH_STATUS = 0 )
      BEGIN
        IF @contador_conteiner <> ( @nr_cd_area - 1 )     
        BEGIN

          IF NOT EXISTS( SELECT * 
                         FROM  TFAT_CALCULO_RATEIO_DESP_MONEY TFC (NOLOCK)
                                                 WHERE NR_EMISSAO          = @nr_emissao                     AND
                                                           ANO_EMISSAO        = @ano_emissao                 AND
                               NR_PROCESSO    = @nr_processo_tmp         AND
                               CD_REFERENCIA  = @cd_referencia             AND
                               CD_ITEM        = @cd_item_tmp               AND
                               CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                             CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            SELECT @nr_emissao, @ano_emissao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, 
               @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
            FROM   #TMP_CONTEINER
            WHERE  NR_PROCESSO = @nr_processo AND
                   CD_REFERENCIA = @cd_referencia AND                         
                   CD_ITEM = @cd_item_tmp AND
                   CD_AREA = @cd_area_tmp    
            GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA   
          END
    
          SELECT @contador_conteiner = @contador_conteiner + 1
        END
        ELSE
        BEGIN
          SELECT @vl_item_area = ROUND( ( VL_ITEM - @vl_item_area ), 2 )
          FROM   #TMP_CONTEINER
          WHERE  NR_PROCESSO = @nr_processo_tmp AND
                CD_REFERENCIA = @cd_referencia AND
             CD_ITEM = @cd_item_tmp AND
         CD_AREA = @cd_area_tmp

          IF NOT EXISTS( SELECT * 
                         FROM  TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                                                 WHERE NR_EMISSAO          = @nr_emissao             AND
                                                           ANO_EMISSAO        = @ano_emissao         AND
                               NR_PROCESSO    = @nr_processo_tmp AND
                               CD_REFERENCIA  = @cd_referencia     AND
                               CD_ITEM        = @cd_item_tmp         AND
                               CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                             CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            SELECT @nr_emissao, @ano_emissao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, 
                   @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
            FROM   #TMP_CONTEINER
            WHERE  NR_PROCESSO = @nr_processo AND
                   CD_REFERENCIA = @cd_referencia AND
                   CD_ITEM = @cd_item_tmp AND
                   CD_AREA = @cd_area_tmp    
            GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA     
          END
        END
      FETCH area_conteiner_cursor INTO @nr_processo_tmp, @cd_area_tmp    
      END
      CLOSE area_conteiner_cursor
      DEALLOCATE area_conteiner_cursor
    END

    IF @nr_cd_area = 2
    BEGIN
      SELECT @vl_item_area = ROUND( VL_ITEM / ( @nr_cd_area  ), 2 )
      FROM   #TMP_CONTEINER
      WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = @cd_item_tmp
    
      DECLARE area_conteiner_cursor CURSOR FOR 
        SELECT NR_PROCESSO, CD_AREA
        FROM   #TMP_CONTEINER
        WHERE  NR_PROCESSO = @nr_processo AND
               CD_ITEM = @cd_item_tmp
        GROUP BY NR_PROCESSO, CD_AREA

      OPEN area_conteiner_cursor
      FETCH area_conteiner_cursor INTO @nr_processo_tmp, @cd_area_tmp
      WHILE ( @@FETCH_STATUS = 0 )
      BEGIN
        IF @contador_conteiner <> ( @nr_cd_area - 1 )     
        BEGIN
          IF NOT EXISTS( SELECT * 
                         FROM  TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                                                 WHERE NR_EMISSAO          = @nr_emissao             AND
                                                           ANO_EMISSAO        = @ano_emissao         AND
                               NR_PROCESSO    = @nr_processo_tmp AND
                               CD_REFERENCIA  = @cd_referencia   AND
                               CD_ITEM        = @cd_item_tmp     AND
                               CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                             CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            SELECT @nr_emissao, @ano_emissao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, 
                   @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
            FROM   #TMP_CONTEINER
            WHERE  NR_PROCESSO = @nr_processo_tmp AND
                   CD_REFERENCIA = @cd_referencia AND                         
                   CD_ITEM = @cd_item_tmp AND
                   CD_AREA = @cd_area_tmp    
            GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA     
          END          

          SELECT @contador_conteiner = @contador_conteiner + 1
        END
        ELSE
        BEGIN
          SELECT @vl_item_area = ROUND( ( VL_ITEM - @vl_item_area ), 2 )
          FROM   #TMP_CONTEINER
          WHERE  NR_PROCESSO = @nr_processo_tmp AND
         CD_REFERENCIA = @cd_referencia AND
             CD_ITEM = @cd_item_tmp AND
         CD_AREA = @cd_area_tmp

          IF NOT EXISTS( SELECT * 
                         FROM  TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                                                 WHERE NR_EMISSAO          = @nr_emissao             AND
                                                           ANO_EMISSAO        = @ano_emissao         AND
                               NR_PROCESSO    = @nr_processo_tmp AND
                               CD_REFERENCIA  = @cd_referencia   AND
                               CD_ITEM        = @cd_item_tmp     AND
                               CD_AREA        = @cd_area_tmp )
          BEGIN
            INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                             CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
            SELECT @nr_emissao, @ano_emissao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, 
                   @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
            FROM   #TMP_CONTEINER
            WHERE  NR_PROCESSO = @nr_processo AND
                   CD_REFERENCIA = @cd_referencia AND
                   CD_ITEM = @cd_item_tmp AND
                   CD_AREA = @cd_area_tmp    
            GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA     
          END
        END
      FETCH area_conteiner_cursor INTO @nr_processo_tmp, @cd_area_tmp    
      END
      CLOSE area_conteiner_cursor
      DEALLOCATE area_conteiner_cursor
    END  

    IF @nr_cd_area < 2
    BEGIN
      SELECT @vl_item_area = VL_ITEM
      FROM   #TMP_CONTEINER
      WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = @cd_item_tmp    

      SELECT @vl_item_area = VL_ITEM / ( @nr_cd_area  )
      FROM   #TMP_CONTEINER
      WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = @cd_item_tmp
    
      INSERT TFAT_CALCULO_RATEIO_DESP_MONEY ( NR_EMISSAO, ANO_EMISSAO, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, 
                                       CD_AREA, VL_ITEM, VL_ITEM_AREA, TP_RATEIO_DESP, NR_NOTA_FATURA )
      SELECT @nr_emissao, @ano_emissao, NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, 
             @vl_item_area, @tp_rateio_desp, NR_NOTA_FATURA
      FROM   #TMP_CONTEINER
      WHERE NR_PROCESSO = @nr_processo AND
            CD_REFERENCIA = @cd_referencia AND
            CD_ITEM = @cd_item_tmp AND
      NOT EXISTS( SELECT * 
                  FROM  TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
                                    WHERE NR_EMISSAO          = @nr_emissao        AND
                                             ANO_EMISSAO        = @ano_emissao        AND
                        NR_PROCESSO    = NR_PROCESSO    AND
                        CD_REFERENCIA  = @cd_referencia AND
                        CD_ITEM        = @cd_item_tmp   AND
                        CD_AREA        = CD_AREA ) 
      GROUP BY NR_PROCESSO, CD_REFERENCIA, CD_ITEM, CD_AREA, VL_ITEM, NR_NOTA_FATURA 
    END    
  FETCH conteiner_cursor INTO  @nr_processo, @cd_referencia, @cd_item_tmp, @in_li--, @nr_oper_trat_prev    
  END
  CLOSE conteiner_cursor
  DEALLOCATE conteiner_cursor
  DROP TABLE #TMP_CONTEINER   
END

/*
SELECT *--CONVERT(DECIMAL(28,2), SUM(VL_ITEM_AREA))
FROM TFAT_CALCULO_RATEIO_DESP_MONEY
WHERE ANO_EMISSAO = @ano_emissao
  AND NR_EMISSAO = @nr_emissao
  AND CD_ITEM NOT IN (1, 25, 26, 27, 29, 75, 421, 578, 599, 600)
--*/

DROP TABLE #TMP_CD_ITEM
DROP TABLE #TMP_CD_AREA
DROP TABLE  #TMP_PL_MERCADORIA
GO
