USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_distribui_liquidacao] ( @dt_movimento datetime, @cd_unid_neg char(2), @cd_coligada char(2), 
                                           @in_cancela char(1) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @dt_movimento datetime
DECLARE @cd_unid_neg char(2)
DECLARE @cd_coligada char(2)
DECLARE @in_cancela char(1)

SELECT @dt_movimento = CONVERT( datetime, '14/03/2007', 103 )
SELECT @cd_unid_neg = '01'
SELECT @cd_coligada = '01'
SELECT @in_cancela = '0'	-- 0 liquida / 1 cancela
--*/
/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_ult_lanc         int
DECLARE @nr_ult_lanc_fat_cc  int
DECLARE @ult_lanc            char(6)
DECLARE @ult_lanc_cc         char(3)
DECLARE @ult_lanc_fat_cc     char(4)
DECLARE @cd_item             char(3)
DECLARE @cd_item_receb_sd    char(3)
DECLARE @cd_item_pagto_sd    char(3)
DECLARE @cd_item_ext_receb   char(3)
DECLARE @cd_item_ext_pagto   char(3)
DECLARE @cd_item_piscofins   char(3)
DECLARE @nr_processo         char(18)
DECLARE @nr_liq              char(6)
DECLARE @cd_forma_pagto      char(1)
DECLARE @cd_banco            char(3)
DECLARE @tp_liquidacao       char(1)
DECLARE @vl_liquidacao       float
DECLARE @in_cancelado        char(1)
DECLARE @in_transferido      char(1)
DECLARE @dt_liquidacao       datetime
DECLARE @nr_solic_fat        char(6)
DECLARE @nr_cheque           char(6)
DECLARE @cd_favorecido       char(5)
DECLARE @cd_usuario          char(4)
DECLARE @nr_relatorio        char(3)
DECLARE @nr_ano              char(4)
DECLARE @tp_natureza         char(1)
DECLARE @cd_ct_custo         char(4)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO (NOLOCK)
WHERE  AP_USUARIO  = SUSER_NAME()

SELECT @cd_item_receb_sd  = CD_ITEM_RECEB_SD, 
       @cd_item_pagto_sd  = CD_ITEM_PAGTO_SD,
       @cd_item_ext_receb = CD_ITEM_EXT_RECEB, 
       @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO,
       @cd_item_piscofins = CD_ITEM_PIS_COFINS
FROM   TPARAMETROS (NOLOCK)



DECLARE c_imp CURSOR FOR 
  SELECT L.NR_PROCESSO_LIQ, L.NR_LIQUIDACAO_LIQ, L.CD_FORMA_PAGTO, L.CD_BANCO, L.TP_LIQUIDACAO, SUM(L.VL_LIQUIDACAO),
         L.IN_CANCELADO, L.IN_TRANSFERIDO, L.DT_LIQUIDACAO, ISNULL( L.NR_RELATORIO, '' ), ISNULL( L.NR_ANO, '' )
  FROM   TLIQUIDACAO L, TPROCESSO P (TABLOCK HOLDLOCK)
  WHERE  ( ( L.IN_TRANSFERIDO = '0' AND 
             L.IN_CANCELADO = '0' ) OR
           ( L.IN_TRANSF_CANC = '0' AND
             L.IN_CANCELADO = '1'   AND
             L.IN_TRANSFERIDO = '1' ) ) AND
         L.DT_LIQUIDACAO <= @dt_movimento AND
         L.NR_PROCESSO = P.NR_PROCESSO AND 
         P.CD_UNID_NEG = @cd_unid_neg
  GROUP BY L.NR_PROCESSO_LIQ, L.NR_LIQUIDACAO_LIQ, L.CD_FORMA_PAGTO, L.CD_BANCO, L.TP_LIQUIDACAO, 
           L.IN_CANCELADO, L.IN_TRANSFERIDO, L.DT_LIQUIDACAO, ISNULL( L.NR_RELATORIO, '' ), ISNULL( L.NR_ANO, '' )
  ORDER BY L.NR_PROCESSO_LIQ

OPEN  c_imp
FETCH c_imp INTO 
  @nr_processo, @nr_liq, @cd_forma_pagto, @cd_banco, @tp_liquidacao, @vl_liquidacao, @in_cancelado, 
  @in_transferido, @dt_liquidacao, @nr_relatorio, @nr_ano
WHILE @@fetch_status <> -1
BEGIN
  IF (SELECT COUNT(*) FROM TLIQUIDACAO L WHERE NR_PROCESSO_LIQ = @nr_processo AND NR_LIQUIDACAO_LIQ = @nr_liq) = 1
  BEGIN
    SELECT @nr_solic_fat = NR_SOLIC_FAT FROM TLIQUIDACAO L WHERE NR_PROCESSO_LIQ = @nr_processo AND NR_LIQUIDACAO_LIQ = @nr_liq
    PRINT '1'
  END
  ELSE
  BEGIN
    PRINT 'VÁRIOS'
    SET @nr_solic_fat = Null
  END
  PRINT 'Solicitação: ' + @nr_solic_fat
  

  IF @in_cancelado = '0'
    UPDATE TLIQUIDACAO
    SET    IN_TRANSFERIDO = '1', 
           DT_TRANSFERENCIA = CONVERT(datetime, GETDATE(), 103 )
    WHERE NR_PROCESSO_LIQ = @nr_processo AND NR_LIQUIDACAO_LIQ = @nr_liq
  ELSE
    UPDATE TLIQUIDACAO
    SET    IN_TRANSF_CANC = '1', 
           DT_TRANSF_CANC = CONVERT(datetime, GETDATE(), 103 )
    WHERE NR_PROCESSO_LIQ = @nr_processo AND NR_LIQUIDACAO_LIQ = @nr_liq

  IF @in_cancelado = '0'
  BEGIN
    IF @tp_liquidacao = 'R' 
    BEGIN
      SELECT @cd_item = @cd_item_receb_sd
      SELECT @tp_natureza = 'C'
    END
    ELSE
    BEGIN
      SELECT @cd_item = @cd_item_pagto_sd
      SELECT @tp_natureza = 'D'
    END
  END
  ELSE
  BEGIN
    IF @tp_liquidacao = 'R' 
    BEGIN
      SELECT @tp_natureza = 'D'
      SELECT @cd_item = @cd_item_ext_receb
    END
    ELSE
    BEGIN
      SELECT @tp_natureza = 'C'
      SELECT @cd_item = @cd_item_ext_pagto
    END
  END

  -- Qdo liquida na forma PisCofins o ítem é específico
  IF @cd_forma_pagto = 'P'
    SELECT @cd_item = @cd_item_piscofins

  SELECT @cd_favorecido = F.CD_FAVORECIDO
  FROM   TFAVORECIDO F (NOLOCK), TEMPRESA_NAC E (NOLOCK), TPROCESSO P (NOLOCK)
  WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
         E.CGC_EMPRESA = F.CGC_EMPRESA AND
         P.NR_PROCESSO = @nr_processo

  IF LTRIM( RTRIM( ISNULL( @cd_favorecido, '' ) ) ) = '' 
  BEGIN
    SELECT @cd_favorecido = F.CD_FAVORECIDO
    FROM   TFAVORECIDO F (NOLOCK), TEMPRESA_NAC E (NOLOCK), TGRUPO G (NOLOCK), TPROCESSO P (NOLOCK)
    WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
           E.CD_GRUPO = G.CD_GRUPO AND
           G.CNPJ_GRUPO = F.CGC_EMPRESA AND
           P.NR_PROCESSO = @nr_processo
  END

  -- Gerar Pagamento em Cheque/DOC/TED
  IF @cd_forma_pagto IN ( 'C', 'T', 'D' ) AND 
     @tp_liquidacao = 'P' AND 
     @nr_relatorio IN ( '', 'X' ) AND 
     @in_cancelado = '0'
  BEGIN
    SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000' ) ) ) + 1
    FROM   TSOLIC_PAGTO 
    WHERE  NR_PROCESSO = @nr_processo
    SELECT @ult_lanc_cc = RIGHT( '000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 3 )

    UPDATE TLIQUIDACAO
    SET    DT_SOLIC_CH = CONVERT( char(10), @dt_liquidacao, 103 ), 
           NR_SOLIC_CH = @ult_lanc_cc
    WHERE NR_PROCESSO_LIQ = @nr_processo AND NR_LIQUIDACAO_LIQ = @nr_liq

    INSERT TSOLIC_PAGTO 
       ( NR_PROCESSO, NR_LANCAMENTO, CD_ITEM, VL_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO, 
         CD_FAVORECIDO, CD_BANCO, CD_USUARIO_SOLIC, CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, VL_DESCONTO, VL_PERC_DESCONTO )
    VALUES ( @nr_processo, @ult_lanc_cc, @cd_item, ABS( @vl_liquidacao ), '6', '1', '0', @dt_liquidacao,
             @cd_favorecido, @cd_banco, @cd_usuario, '0', 
             CASE @cd_forma_pagto 
               WHEN 'C' THEN '2'
               WHEN 'T' THEN '2'
               ELSE '3'
             END, '0', 0, 0 )
  END
  ELSE
  BEGIN
    -- Insere registro na TCAIXA e TFATURAMENTO_CC qdo forma de pagamento for Dinheiro/L&P/PisCofins
    SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
    FROM   TCAIXA 
    WHERE  DT_MOVIMENTO = @dt_movimento 
    SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

    -- Qdo a liquidação é do tipo L&P, o centro de custo é o cadastrado no Cadastro de Unidades
    IF @cd_forma_pagto = 'L'
    BEGIN 
       SELECT @cd_ct_custo = CD_CT_CUSTO
       FROM TUNID_NEG (NOLOCK)
       WHERE CD_UNID_NEG = @cd_unid_neg
    END
    ELSE
      SELECT @cd_ct_custo = '0000'


    -- Não insere registro de PisCofins na TCAIXA
    IF @cd_forma_pagto <> 'P'
    BEGIN
      INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO,
                      TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, CD_BANCO, 
                      CD_FAVORECIDO, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, IN_RESTITUI, TP_NATUREZA, CD_CT_CUSTO )
      VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', '4', '0', '1', ABS( @vl_liquidacao ), 
               @cd_forma_pagto, @cd_banco, @cd_favorecido, @nr_processo, @cd_item, 0, 0, '0', @tp_natureza, @cd_ct_custo )

      -- Faz a conciliação
      IF @tp_natureza = 'C' 
      BEGIN
        UPDATE TCAIXA
        SET IN_CONCILIACAO = '2',
            DT_CONCILIACAO = @dt_movimento,
            IN_CONCILIACAO_AUTOM = '7',
            NR_SEQ_CONCILIACAO = 0,
            CD_USUARIO_CONCILIACAO = @cd_usuario
        WHERE  
            CD_COLIGADA = @cd_coligada AND 
            DT_MOVIMENTO = @dt_movimento AND
            NR_LANCAMENTO = @ult_lanc
      END
    END
    ELSE 
     SELECT @cd_coligada = '99' -- Para não inserir PisCofins na TCAIXA_SALDOS
      
    SELECT @nr_ult_lanc_fat_cc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '0000' ) ) ) + 1
    FROM   TFATURAMENTO_CC 
    WHERE  NR_PROCESSO = @nr_processo

    SELECT @ult_lanc_fat_cc = RIGHT( '0000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc_fat_cc, 1 ) ), 4 )

    IF @in_cancela = '1' AND @cd_forma_pagto = 'P'
    BEGIN
      INSERT INTO TFATURAMENTO_CC 
        ( NR_PROCESSO, NR_LANCAMENTO, CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,
          CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, IN_FATURADO, IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO )
      VALUES ( @nr_processo, @ult_lanc_fat_cc, SUBSTRING( @nr_processo, 1, 2 ), SUBSTRING( @nr_processo, 3, 2 ), @nr_solic_fat, @dt_movimento, @cd_usuario, @cd_favorecido, @cd_banco, @cd_item, 
               @cd_forma_pagto, '4', ABS( @vl_liquidacao ), '1', '0', '1', '0', '0' )
    END
    ELSE
      INSERT INTO TFATURAMENTO_CC 
        ( NR_PROCESSO, NR_LANCAMENTO, CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,
          CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, IN_FATURADO, IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO )
      VALUES ( @nr_processo, @ult_lanc_fat_cc, SUBSTRING( @nr_processo, 1, 2 ), SUBSTRING( @nr_processo, 3, 2 ), @nr_solic_fat, @dt_movimento, @cd_usuario, @cd_favorecido, @cd_banco, @cd_item, 
               @cd_forma_pagto, '4', ABS( @vl_liquidacao ), '1', '0', '0', '0', '0' )
  END
  
  FETCH c_imp INTO 
  @nr_processo, @nr_liq, @cd_forma_pagto, @cd_banco, @tp_liquidacao, @vl_liquidacao, @in_cancelado, 
  @in_transferido, @dt_liquidacao, @nr_relatorio, @nr_ano
END
CLOSE c_imp
DEALLOCATE c_imp

DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco
EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa


GO
