USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_distribui_numerario] ( @dt_movimento datetime, @cd_unid_neg char(2), @cd_coligada char(2) ) AS
DECLARE @nr_ult_lanc        int
DECLARE @ult_lanc   	    char(6)
DECLARE @cd_item   	    char(3)
DECLARE @cd_item_receb_num  char(3)
DECLARE @cd_item_extor_num  char(3)
DECLARE @cd_item_devol_num  char(3)
DECLARE @nr_processo   	    char(18)
DECLARE @cd_banco           char(3)
DECLARE @nr_fp              char(10)
DECLARE @vl_recebimento     float
DECLARE @in_transferido     char(1)
DECLARE @in_cancelado       char(1)
DECLARE @nr_devolucao       char(3)
DECLARE @vl_devolucao       float

DECLARE c_imp CURSOR FOR 
  SELECT  R.NR_PROCESSO, R.CD_BANCO, R.IN_TRANSFERIDO, R.IN_CANCELADO, SUM( R.VL_RECEBIMENTO ), R.NR_FP
  FROM    TRECEBIMENTO R (TABLOCK HOLDLOCK), TPROCESSO P (TABLOCK HOLDLOCK)
  WHERE   R.NR_PROCESSO = P.NR_PROCESSO AND
          ( ( R.IN_TRANSFERIDO = '0' AND R.IN_CANCELADO = '0' ) OR 
            ( R.IN_TRANSFERIDO = '1' AND R.IN_CANCELADO = '1' AND R.IN_TRANSF_CANC = '0' ) ) AND
          ( R.VL_RECEBIMENTO <> 0 ) AND
          R.DT_RECEBIMENTO <= @dt_movimento AND
          P.CD_UNID_NEG = @cd_unid_neg
  GROUP BY R.NR_PROCESSO, R.CD_BANCO, R.IN_TRANSFERIDO, R.IN_CANCELADO, R.NR_FP

SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM, 
       @cd_item_extor_num = CD_ITEM_EXTOR_NUM,
       @cd_item_devol_num = CD_ITEM_DEVOL_NUM
FROM   TPARAMETROS
OPEN  c_imp
FETCH c_imp INTO 
  @nr_processo, @cd_banco, @in_transferido, @in_cancelado, @vl_recebimento, @nr_fp
WHILE @@fetch_status <> -1
BEGIN
  IF @in_cancelado = '0' 
     SELECT @cd_item = @cd_item_receb_num
  ELSE
     SELECT @cd_item = @cd_item_extor_num
  
  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM   TCAIXA 
  WHERE  DT_MOVIMENTO = @dt_movimento 

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )
  INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, 
                  TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO,
                  CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, IN_RESTITUI, TP_NATUREZA, NR_FP )
  VALUES        ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', 
                  '3', '0', '0', @vl_recebimento, 'D', 
                  @cd_banco, @nr_processo, @cd_item, 0, 0, '0',  
                CASE @cd_item 
                  WHEN @cd_item_receb_num THEN 'C'
                  WHEN @cd_item_extor_num THEN 'D'
                  ELSE 'C'
                END, @nr_fp )      
  SELECT @nr_ult_lanc = @nr_ult_lanc + 1
  SELECT @ult_lanc = RIGHT( '000' + CONVERT( varchar, @nr_ult_lanc ), 3 )
  IF @in_cancelado = '0'
    UPDATE TRECEBIMENTO
    SET    IN_TRANSFERIDO = '1'
    WHERE  NR_PROCESSO    = @nr_processo AND 
           CD_BANCO       = @cd_banco    AND 
           IN_CANCELADO   = '0'          AND
           IN_TRANSFERIDO = '0'
  ELSE
    UPDATE TRECEBIMENTO
    SET    IN_TRANSF_CANC = '1'
    WHERE  NR_PROCESSO    = @nr_processo AND 
           CD_BANCO       = @cd_banco    AND 
           IN_CANCELADO   = '1'          AND
           IN_TRANSFERIDO = '1'
  FETCH c_imp INTO 
     @nr_processo, @cd_banco, @in_transferido, @in_cancelado, @vl_recebimento, @nr_fp
END
CLOSE c_imp
DEALLOCATE c_imp

/*
DECLARE c_dev CURSOR FOR
  SELECT NR_PROCESSO, SUM(VL_DEVOLUCAO)
  FROM   TDEVOLUCAO (TABLOCK HOLDLOCK)
  WHERE  IN_CANCELADO   = '0'   AND
         IN_TRANSFERIDO = '0'   AND
         DT_SOLIC_CH    is null AND
         VL_DEVOLUCAO   <> 0    AND
         DT_DEVOLUCAO   <= @dt_movimento
  GROUP BY NR_PROCESSO
OPEN c_dev
FETCH c_dev INTO @nr_processo, @vl_devolucao
 WHILE @@fetch_status <> -1
BEGIN
   SELECT @nr_ult_lanc = convert( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
   FROM   TCAIXA 
   WHERE  DT_MOVIMENTO = @dt_movimento 
   SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )
   INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, 
                   IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, NR_PROCESSO, CD_ITEM, VL_IR,
                   VL_ASSIST, IN_RESTITUI, TP_NATUREZA )
   VALUES        ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', '3', '0', '0', @vl_devolucao, '$', 
                   @nr_processo, @cd_item_devol_num, 0, 0, '0', 'D' )
         
   SELECT @nr_ult_lanc = @nr_ult_lanc + 1
   SELECT @ult_lanc = RIGHT( '000' + CONVERT( varchar, @nr_ult_lanc ), 3 )
   UPDATE TDEVOLUCAO
   SET    IN_TRANSFERIDO = '1'
   WHERE  NR_PROCESSO    = @nr_processo AND
          IN_CANCELADO   = '0'          AND
          IN_TRANSFERIDO = '0'          AND
          DT_SOLIC_CH    is null        AND
          VL_DEVOLUCAO   <> 0
  FETCH c_dev INTO @nr_processo, @vl_devolucao
END
CLOSE c_dev
DEALLOCATE c_dev
*/
DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco

EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa

EXEC sp_atz_fat_cc @cd_coligada, @dt_movimento




GO
