USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_exclui_adicao    Script Date: 02/09/1999 08:58:11 AM ******/
CREATE procedure [sp_exclui_adicao]( @nr_processo char(18), @nr_adicao char(3) ) AS

DECLARE @i_adicao int
DECLARE @s_adicao char(3)
DECLARE @s_adicao_old char(3)
DECLARE @s_teste char(3)

DECLARE c_adicao CURSOR FOR 
   SELECT NR_ADICAO 
   FROM   TADICAO_DE_IMPORTACAO 
   WHERE  ( NR_PROCESSO = @nr_processo )

SELECT @s_adicao = @nr_adicao
/*  Para renumerar todas as adicoes chamar processo com adicao = '000'  */ 
/* Caso a adicao atual nao tenha itens o procedimento , apagar a adicao */
DELETE FROM tadicao_de_importacao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) 
DELETE FROM TACRESCIMO_VALORACAO  WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) 
DELETE FROM TATO_VINCULADO        WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) 
DELETE FROM TDEDUCAO_VALORACAO    WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
DELETE FROM TDESTAQUE_NCM         WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
DELETE FROM TDOCUMENTO_VINCULADO  WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
DELETE FROM TPAGAMENTO_PREVISTO   WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
DELETE FROM TPAGAMENTO_VINCULADO  WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
DELETE FROM TRIBUTO               WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
DELETE FROM TVALORACAO_NCM        WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
DELETE FROM TDI_NVE               WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
DELETE FROM TDETALHE_MERCADORIA   WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )

/* verIFica se existem adicoes a serem renumeradas */
SELECT @i_adicao = 0
IF  ( SELECT count(*) FROM tadicao_de_importacao WHERE (NR_PROCESSO = @nr_processo) ) > 0
BEGIN
  OPEN c_adicao
  FETCH NEXT FROM c_adicao into @s_adicao_old
  WHILE @@FETCH_status <> -1
  BEGIN
    SELECT @i_adicao = @i_adicao + 1
    SELECT @s_adicao = Convert( char(3), @i_adicao )
    SELECT @s_adicao = right( ( '000' + rtrim( @s_adicao ) ), 3 )

    UPDATE tdetalhe_mercadoria   
    SET    NR_ADICAO = @s_adicao 
    WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )

    UPDATE TACRESCIMO_VALORACAO  SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TATO_VINCULADO        SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TDEDUCAO_VALORACAO    SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TDESTAQUE_NCM         SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TDOCUMENTO_VINCULADO  SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TPAGAMENTO_PREVISTO   SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TPAGAMENTO_VINCULADO  SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TRIBUTO               SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TVALORACAO_NCM        SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TDI_NVE               SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE tadicao_de_importacao SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    FETCH NEXT FROM c_adicao into @s_adicao_old
  END
  CLOSE c_adicao
END
UPDATE TDECLARACAO_IMPORTACAO
SET    QT_ADICOES = @i_adicao
WHERE  ( NR_PROCESSO = @nr_processo )

DEALLOCATE c_adicao


GO
