USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






CREATE PROCEDURE [sp_ddimport] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5),
                 @dt_inicio datetime, @dt_fim datetime, @tot_ddimport tinyint OUTPUT, @nr_identificador int OUTPUT AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int
DECLARE @tot_ddimport tinyint

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = '00022'
SELECT @dt_inicio = CONVERT( datetime, '01/07/2002', 103 )
SELECT @dt_fim = CONVERT( datetime, '05/07/2002', 103 )

*/

DECLARE @nr_processo       char(18)
DECLARE @nr_po             char(18)
DECLARE @cd_unid_neg_c     char(2)
DECLARE @cd_produto        char(2)
DECLARE @nr_solicitacao    char(6)
DECLARE @nr_nf             char(6)
DECLARE @nr_nf_ent_c       char(10)
DECLARE @nr_nf_ent         varchar(20)
DECLARE @vl_nf_ent         float
DECLARE @vl_fatura         float
DECLARE @dt_ent            datetime
DECLARE @dt_receb_doc      datetime
DECLARE @dt_reg_di         datetime
DECLARE @dt_desemb         datetime
DECLARE @dt_nf_entrada     datetime
DECLARE @dt_entrega_merc   datetime
DECLARE @dt_espera_navio   datetime
DECLARE @dt_prev_entr_merc datetime
DECLARE @dt_fatura         datetime
DECLARE @dt_pagto_fatura   datetime
DECLARE @qt_cntr_20        tinyint
DECLARE @qt_cntr_40        tinyint
DECLARE @qt_cntr_tank      tinyint

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_CNTR_NAO_DEV

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

DECLARE c_proc CURSOR FOR
  SELECT I.NR_PROCESSO, I.NR_PROC_PO, FP.CD_UNID_NEG, FP.CD_PRODUTO, MIN( FP.NR_SOLICITACAO ), MIN( F.DT_FATURA ), MIN( F.DT_LIQUIDACAO ), MIN( F.NR_NF_SERV )
  FROM   TPROCESSO P, TS_FATURA_PROCESSO FP, TS_FATURA F, TEMPRESA_NAC E, TDETALHE_MERCADORIA I
  WHERE  P.NR_PROCESSO = FP.NR_PROCESSO AND
         FP.CD_UNID_NEG = F.CD_UNID_NEG AND
         FP.CD_PRODUTO = F.CD_PRODUTO AND
         FP.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.NR_PROCESSO = I.NR_PROCESSO AND
         P.IN_CANCELADO = '0' AND
         P.CD_PRODUTO IN ( '01', '03' ) AND
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         ISNULL( I.NR_PROC_PO, '' ) <> '' AND
--         ISNULL( F.NR_NF_SERV, '' ) <> '' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) )
  GROUP BY I.NR_PROCESSO, I.NR_PROC_PO, FP.CD_UNID_NEG, FP.CD_PRODUTO--, FP.NR_SOLICITACAO, F.DT_FATURA, F.DT_LIQUIDACAO, F.NR_NF_SERV
  ORDER BY I.NR_PROCESSO, I.NR_PROC_PO

OPEN c_proc
FETCH c_proc INTO @nr_processo, @nr_po, @cd_unid_neg_c, @cd_produto, @nr_solicitacao, @dt_fatura, @dt_pagto_fatura, @nr_nf
WHILE @@fetch_status = 0
BEGIN
  SELECT @dt_ent = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_ENT FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_receb_doc = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_RECEB_DOC FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_reg_di = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_desemb = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_entrega_merc = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_ENTREGA_MERC FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'


  SELECT @dt_espera_navio = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @dt_prev_entr_merc = DT_REALIZACAO
  FROM   TFOLLOWUP
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_EVENTO = ( SELECT CD_EV_PREV_ENTR_MERC FROM TPARAMETROS ) AND
         IN_APLICAVEL = '1'

  SELECT @nr_nf_ent = ''
  DECLARE c_nf CURSOR FOR    SELECT NR_NOTA
    FROM   TPROCESSO_NF
    WHERE  NR_PROCESSO = @nr_processo

  OPEN c_nf
  FETCH c_nf INTO @nr_nf_ent_c
  WHILE @@fetch_status = 0
  BEGIN
    IF @nr_nf_ent <> ''
      SELECT @nr_nf_ent = @nr_nf_ent + '/'

    SELECT @nr_nf_ent = @nr_nf_ent + LTRIM( RTRIM( @nr_nf_ent_c ) )
    FETCH c_nf INTO @nr_nf_ent_c
  END
  CLOSE c_nf
  DEALLOCATE c_nf

  SELECT @dt_nf_entrada = MIN( DT_NOTA )
  FROM   TPROCESSO_NF
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @vl_nf_ent = SUM( ROUND( ISNULL( VL_NOTA, 0 ), 2 ) )
  FROM   TPROCESSO_NF
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @vl_fatura = ISNULL( VL_TOT_GERAL, 0 )
  FROM   TNF_SERV_OP
  WHERE  CD_UNID_NEG = @cd_unid_neg_c AND
         CD_PRODUTO = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao

  SELECT @qt_cntr_20 = COUNT(*)
  FROM   TPROCESSO_CNTR
  WHERE  NR_PROCESSO = @nr_processo AND
         TP_CNTR = '02' 

  SELECT @qt_cntr_40 = COUNT(*)
  FROM   TPROCESSO_CNTR
  WHERE  NR_PROCESSO = @nr_processo AND
         TP_CNTR = '03' 

  SELECT @qt_cntr_tank = COUNT(*)
  FROM   TPROCESSO_CNTR
  WHERE  NR_PROCESSO = @nr_processo AND
         TP_CNTR IN ( '04', '05' )

  -- seta @nr_nf para '000000'
  SET @nr_nf = '000000'
  INSERT TDDIMPORT ( NR_IDENTIFICADOR, NR_PROCESSO, NR_PO, TP_REGISTRO, DT_CHEGADA, DT_RECEB_DOC, 
                     CD_DESPACHANTE, CD_AGENTE, DT_PAG_IMP, NR_DI, TX_MLE, DT_DESEMB, CD_MOEDA_FRETE,
                     VL_FRETE_MNEG, TX_FRETE, CD_MOEDA_SEGURO, VL_SEGURO_MNEG, TX_SEGURO, TX_DOLAR, 
                     NR_CONHECIMENTO_MASTER, CD_TIPO_DECLARACAO, CD_URF_DESPACHO, CD_URF_ENTRADA, CD_RECINTO_ALFANDEGADO, 
                     CD_MODALIDADE_DESP, CD_TIPO_MANIFESTO, CD_TIPO_DCTO_CARGA, CD_UTIL_DCTO_CARGA, NR_MANIFESTO, 
                     VL_PESO_BRUTO, VL_MLE_MN, NR_NF, NR_NF_ENT, DT_NF_ENTRADA, VL_NF_ENT, DT_ENTREGA_MERC, NR_CONHECIMENTO, 
                     DT_REG_DI, DT_FATURA, VL_FATURA, DT_PAGTO_FATURA, QT_CNTR_20, QT_CNTR_40, QT_CNTR_TANK, DT_EMBARQUE, 
                     DT_PREV_CHEGADA, DT_PREV_ENTREGA, CD_CANAL, VL_MLE_DOLAR, VL_FRETE_DOLAR, VL_SEGURO_DOLAR, VL_CIF_DOLAR )
    SELECT @nr_identificador, P.NR_PROCESSO, @nr_po AS NR_PO, 'DI' AS TP_REGISTRO, @dt_ent AS DT_CHEGADA, @dt_receb_doc AS DT_RECEB_DOC, 
           '001' AS CD_DESPACHANTE, P.CD_AGENTE, @dt_reg_di AS DT_PAG_IMP, P.NR_DI, DI.TX_MLE, @dt_desemb AS DT_DESEMB, DI.CD_MOEDA_FRETE,
           ISNULL( DI.VL_TOT_FRT_PREPAID, 0 ) + ISNULL( DI.VL_TOT_FRT_COLLECT, 0 ) - ISNULL( DI.VL_FRETE_TNAC_MNEG, 0 ) AS VL_FRETE_MNEG,
           DI.TX_FRETE, P.CD_MOEDA_SEGURO, P.VL_SEGURO_MNEG, DI.TX_SEGURO, DI.TX_DOLAR, P.NR_CONHECIMENTO_MASTER, DI.CD_TIPO_DECLARACAO, 
           DI.CD_URF_DESPACHO, DI.CD_URF_ENTR_CARGA AS CD_URF_ENTRADA, DI.CD_RECINTO_ALFAND, DI.CD_MODALIDADE_DESP,
           DI.CD_TIPO_MANIFESTO, DI.CD_TIPO_DCTO_CARGA, DI.CD_UTIL_DCTO_CARGA, DI.NR_MANIFESTO, 
           DI.PB_CARGA AS VL_PESO_BRUTO, DI.VL_TOT_MLE_MNEG, @nr_nf AS NR_NF, @nr_nf_ent AS NR_NF_ENT, @dt_nf_entrada AS DT_NF_ENTRADA,
           @vl_nf_ent AS VL_NF_ENT, @dt_entrega_merc AS DT_ENTREGA_MERC, P.NR_CONHECIMENTO, @dt_reg_di AS DT_REG_DI,
           @dt_fatura AS DT_FATURA, @vl_fatura AS VL_FATURA, @dt_pagto_fatura AS DT_PAGTO_FATURA, @qt_cntr_20 AS QT_CNTR_20, @qt_cntr_40 AS QT_CNTR_40, 
           @qt_cntr_tank AS QT_CNTR_TANK, CONVERT(DATETIME, ( SUBSTRING(DI.DT_EMBARQUE,1,2) + '/' + SUBSTRING(DI.DT_EMBARQUE,3,2) + '/' + SUBSTRING(DI.DT_EMBARQUE,5,4)), 103),
           @dt_espera_navio AS DT_PREV_CHEGADA, @dt_prev_entr_merc AS DT_PREV_ENTREGA, P.CD_CANAL, 
           ROUND( ISNULL( P.VL_MLE_MN, 0 ) * ISNULL( DI.TX_DOLAR, 0 ), 2 ) AS VL_MLE_DOLAR,
           ROUND( ISNULL( P.VL_FRETE_MN, 0 ) * ISNULL( DI.TX_DOLAR, 0 ), 2 ) AS VL_FRETE_DOLAR,
           ROUND( ISNULL( P.VL_SEGURO_MN, 0 ) * ISNULL( DI.TX_DOLAR, 0 ), 2 ) AS VL_SEGURO_DOLAR, P.VL_CIF_DOLAR
    FROM   TPROCESSO P, TDECLARACAO_IMPORTACAO DI
    WHERE  P.NR_PROCESSO = DI.NR_PROCESSO AND
           P.NR_PROCESSO = @nr_processo
  
  DELETE TDDIMPORT_DESP
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo

  INSERT TDDIMPORT_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, TP_REGISTRO, DT_PAGAMENTO, VL_ITEM, IN_RESP )
    SELECT @nr_identificador, F.NR_PROCESSO, ISNULL( DP.CD_EXTERNO, '000' ), 'DE' AS TP_REGISTRO, MIN( F.DT_LANCAMENTO ) AS DT_PAGAMENTO,
           SUM( ROUND(
             CASE F.IN_RESTITUI
               WHEN '0' THEN ISNULL( F.VL_ITEM, 0 )
               ELSE ISNULL( F.VL_ITEM, 0 ) * (-1)
             END, 2 ) ) AS VL_ITEM, 
           CASE ISNULL( MIN( F.CD_ORIGEM_LANC ), '' ) WHEN '6' THEN '2' ELSE '1' END AS IN_RESP
    FROM   TFATURAMENTO_CC F (NOLOCK)
           INNER JOIN TITEM I (NOLOCK) ON ( F.CD_ITEM = I.CD_ITEM )
           LEFT JOIN TDE_PARA DP (NOLOCK) ON ( I.CD_ITEM = DP.CD_DDBROKER AND F.CD_UNID_NEG = DP.CD_UNID_NEG AND F.CD_PRODUTO = DP.CD_PRODUTO AND DP.CD_TABELA = '12') 
    WHERE  I.CD_TIPO_ITEM IN ( 'D', 'R' ) AND
           F.IN_CANCELADO = '0' AND
--           F.IN_FATURADO = '0' AND
           F.NR_PROCESSO = @nr_processo
    GROUP BY F.NR_PROCESSO, DP.CD_EXTERNO

  FETCH c_proc INTO @nr_processo, @nr_po, @cd_unid_neg_c, @cd_produto, @nr_solicitacao, @dt_fatura, @dt_pagto_fatura, @nr_nf
END
CLOSE c_proc
DEALLOCATE c_proc

SELECT @tot_ddimport = COUNT(*)
FROM   TDDIMPORT
WHERE  NR_IDENTIFICADOR = @nr_identificador


/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/









GO
