USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [sp_rel_proc_desembaracados] (@cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente  char(5),
                                   @dt_inicio datetime, @dt_fim datetime, @nr_identificador int output)AS


/*SET XACT_ABORT ON
BEGIN TRAN
*/


--DECLARE @cd_unid_neg       char(2)
--DECLARE @cd_grupo          char(3)
--DECLARE @cd_cliente        char(5)
--DECLARE @dt_inicio         datetime
--DECLARE @dt_fim            datetime
--DECLARE @nr_identificador  int 
DECLARE @nr_dias           int



/*
SELECT  @cd_unid_neg  = '01'
SELECT  @cd_grupo     = '036'
SELECT  @cd_cliente   = 'X'
SELECT  @dt_inicio    = CONVERT( datetime, '01/11/2007', 103 )
SELECT  @dt_fim       = CONVERT( datetime, '30/11/2007', 103 ) 
*/

DECLARE @nr_processo                 char(18),
        @nr_proc_po                  char(18),
        @nr_po_item                  char(3),  
        @ap_mercadoria               char(25),
        @cd_embarcacao               char(4),
        @nr_voo                      char(18),

        @nm_empresa                  varchar(60),
        @nm_embarcacao               varchar(60),

        @tx_cambio                   float,
        @qt_mercadoria               float,

        @nr_dias_desp                int,

        @dt_sol_nf                   datetime,
        @dt_chegada_embarcacao       datetime,
        @dt_reg_di                   datetime,
        @dt_receb_nf                 datetime,
        @dt_ci                       datetime,
        @dt_fatura                   datetime,
        @dt_entrega_nf_transp        datetime, 

        @NM_UNID_MEDIDA char(50),
	@CD_VIA_TRANSPORTE char(2), 
	@NR_PLACA_VEICULO char(15)


-- Capta o nº identificador
SET @nr_identificador = (SELECT ISNULL( MAX( NR_IDENTIFICADOR )+ 1,1)
                           FROM TREL_PROC_DESEMBARACADOS)


--Cursor para capturar os processos
DECLARE c_processos CURSOR FOR
  SELECT P.NR_PROCESSO, ISNULL( P.CD_EMBARCACAO, '' ), ISNULL( P.NR_VOO, ''),
         I.TX_MLE, 
         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS T (NOLOCK) ) ) AS DT_REG_DI,
                                                               
         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
 	          FT.CD_EVENTO = ( SELECT CD_EV_SOLIC_NF FROM TPARAMETROS T (NOLOCK) ) ) AS DT_SOL_NF,
                                                     
         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_RECEB_NF FROM TPARAMETROS T (NOLOCK) ) ) AS DT_RECEB_NF,
                                                 
         ( SELECT FT.DT_REALIZACAO 
             FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
                  FT.CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS T (NOLOCK) ) ) AS DT_CI,	  

         ( SELECT FT.DT_REALIZACAO 
             FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS T (NOLOCK) ) ) AS DT_ENTREGA_NF_TRANSP,

         ( SELECT FT.DT_REALIZACAO 
             FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_ENVIO_FAT FROM TPARAMETROS T (NOLOCK) ) ) AS DT_FATURA, 
	S.CD_VIA_TRANSPORTE, 
	P.NR_PLACA_VEICULO
    FROM TPROCESSO P (NOLOCK)
             INNER JOIN TDECLARACAO_IMPORTACAO I (NOLOCK) ON ( I.NR_PROCESSO = P.NR_PROCESSO )
             INNER JOIN TFOLLOWUP F              (NOLOCK) ON ( F.NR_PROCESSO = P.NR_PROCESSO )
	     INNER JOIN VW_SERVICO_GERAL  S              (NOLOCK) on ( S.CD_SERVICO  = P.CD_SERVICO  )
   WHERE @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )                 AND
         @cd_grupo    IN ( P.CD_GRUPO, 'X' )                    AND
         @cd_cliente  IN ( P.CD_CLIENTE, 'X' )                  AND
         F.CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) AND       
         F.DT_REALIZACAO BETWEEN @dt_inicio and @dt_fim         AND
         ISNULL( P.IN_CANCELADO, '0') <> '1'                    AND
         ISNULL( F.DT_REALIZACAO, '') <> ''  


  OPEN c_processos
  FETCH c_processos INTO @nr_processo, @cd_embarcacao, @nr_voo, @tx_cambio, @dt_reg_di, 
                         @dt_sol_nf, @dt_receb_nf, @dt_ci, @dt_entrega_nf_transp, @dt_fatura, 
			 @CD_VIA_TRANSPORTE, @NR_PLACA_VEICULO

  WHILE @@fetch_status = 0
  BEGIN 
    --if ( SUBSTRING( @nr_processo, 5, 2 ) = 'I0' ) OR ( SUBSTRING( @nr_processo, 5, 2 ) = 'IG' )     Rodrigo Capra - 06/12/2007
    if @CD_VIA_TRANSPORTE = '01'    --Via de Transporte Marítimo   
    begin
      SET @dt_chegada_embarcacao = ( SELECT FT.DT_REALIZACAO
                                       FROM TFOLLOWUP FT (NOLOCK)
                                      WHERE FT.NR_PROCESSO = @nr_processo AND 
                                            FT.CD_EVENTO = ( SELECT T.CD_EV_ENT FROM TPARAMETROS T (NOLOCK) ) )

      SET @nm_embarcacao         = ( SELECT NM_EMBARCACAO 
                                       FROM TEMBARCACAO (NOLOCK)
                                      WHERE CD_EMBARCACAO = @cd_embarcacao ) 
    end
    else
    begin
      --if SUBSTRING( @nr_processo, 5, 2 ) = 'IA'    Rodrigo Capra - 06/12/2007
      if @CD_VIA_TRANSPORTE = '04' 	--Via de Transporte Aéreo 
      begin
        SET @dt_chegada_embarcacao = ( SELECT FT.DT_REALIZACAO 
                                         FROM TFOLLOWUP FT (NOLOCK)
                                        WHERE FT.NR_PROCESSO = @nr_processo AND 
									
                                              FT.CD_EVENTO = ( SELECT T.CD_EV_CHEGADA FROM TPARAMETROS T (NOLOCK) ) )
        SET @nm_embarcacao         = @nr_voo 
      end
      else if @CD_VIA_TRANSPORTE = '07'   --Importação Rodoviária                    Rodrigo Capra - 06/12/2007            
      begin

        SET @dt_chegada_embarcacao = ( SELECT FT.DT_REALIZACAO 
                                         FROM TFOLLOWUP FT (NOLOCK)
                                        WHERE FT.NR_PROCESSO = @nr_processo AND 
									
                                              FT.CD_EVENTO = ( SELECT T.CD_EV_ENT FROM TPARAMETROS T (NOLOCK) ) )
        SET @nm_embarcacao         = @NR_PLACA_VEICULO 

      end
    end  
  
    EXEC sp_lead_dias_uteis '1', @dt_chegada_embarcacao, @dt_ci, @nr_dias_desp OUTPUT 
    SET @nr_dias_desp = @nr_dias_desp - 1     

    --Cursor para capturar os itens 
    DECLARE c_itens CURSOR FOR
      SELECT D.NR_PROC_PO, D.NR_ITEM_PO, D.QT_MERC_UN_COMERC, 
             M.AP_MERCADORIA,
             E.NM_EMPRESA, U.NM_UNID_MEDIDA
        FROM TDETALHE_MERCADORIA D (NOLOCK)
                INNER JOIN TMERCADORIA M  (NOLOCK) ON ( M.CD_MERCADORIA = D.CD_MERCADORIA )
                INNER JOIN TEMPRESA_EST E (NOLOCK) ON ( E.CD_EMPRESA    = D.CD_EXPORTADOR )  
	  INNER JOIN TUNID_MEDIDA_BROKER U (NOLOCK) ON ( U.CD_UNID_MEDIDA = D.CD_UN_MED_COMERC )  
       WHERE D.NR_PROCESSO = @nr_processo
  
    OPEN c_itens
    FETCH c_itens INTO @nr_proc_po, @nr_po_item, @qt_mercadoria, @ap_mercadoria, @nm_empresa, @NM_UNID_MEDIDA

    WHILE @@fetch_status = 0
    BEGIN
       INSERT INTO TREL_PROC_DESEMBARACADOS VALUES ( @nr_identificador, SUBSTRING( @nr_processo, 5, 14 ), 
                                                     @nr_proc_po, @ap_mercadoria, 
                                                     CAST( @qt_mercadoria as decimal(13,5) ), 
                                                     @nm_empresa, @nm_embarcacao,
                                                     CONVERT( datetime, @dt_chegada_embarcacao, 103 ), 
                                                     CONVERT( datetime, @dt_reg_di, 103 ),  
                                                     @tx_cambio, 
                                                     CONVERT( datetime, @dt_sol_nf, 103 ),
                                                     CONVERT( datetime, @dt_receb_nf, 103 ), 
                                                     CONVERT( datetime, @dt_ci, 103 ),
                                                     CONVERT( datetime, @dt_entrega_nf_transp,103 ),
                                                     CONVERT( datetime, @dt_fatura, 103 ),
                                                     @nr_dias_desp, @nr_po_item, 
				@NM_UNID_MEDIDA ) 
            
      FETCH c_itens INTO @nr_proc_po, @nr_po_item, @qt_mercadoria, @ap_mercadoria, @nm_empresa, @NM_UNID_MEDIDA
    END
    CLOSE c_itens
    DEALLOCATE c_itens

    FETCH c_processos INTO  @nr_processo, @cd_embarcacao, @nr_voo, @tx_cambio, @dt_reg_di, 
                            @dt_sol_nf, @dt_receb_nf, @dt_ci, @dt_entrega_nf_transp, @dt_fatura, 
			    @CD_VIA_TRANSPORTE, @NR_PLACA_VEICULO
  END  
  CLOSE c_processos
  DEALLOCATE c_processos


/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
