USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
Atualiza o campo observação do processo PO
Criada por alexandre gonçalves neto - 15.09.2004
*/

CREATE PROCEDURE [sp_atz_obs_flp_po] ( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '45731'
*/

DECLARE @cd_evento       char(3)
DECLARE @ptr_proc        binary(16)
DECLARE @ptr_followup    binary(16)
DECLARE @tamanho         int
DECLARE @in_obs_unica    char(1)
DECLARE @in_obs_por_data char(1)

SELECT @in_obs_unica = IN_OBS_UNICA,
       @in_obs_por_data = IN_OBS_POR_DATA
FROM   TCLIENTE_HABILITACAO H ( NOLOCK ), TPO P ( NOLOCK )
WHERE  P.NR_PROCESSO = @nr_processo
--  AND  P.CD_UNID_NEG = H.CD_UNID_NEG
--  AND  P.CD_PRODUTO  = H.CD_PRODUTO
  AND  P.CD_IMPORTADOR = H.CD_CLIENTE

IF @in_obs_unica = '1'
BEGIN
  UPDATE TPO
  SET    TX_OBSERVACAO = ''
  WHERE  NR_PROCESSO = @nr_processo

  IF @in_obs_por_data <> '1'
  BEGIN
    DECLARE c_obs CURSOR FOR
      SELECT CD_EVENTO
       FROM   TFLP_PO ( NOLOCK )
       WHERE  TX_OBS IS NOT NULL
         AND  NR_PROCESSO = @nr_processo
       ORDER BY NR_ORDEM
  END
  ELSE
  BEGIN  
    DECLARE c_obs CURSOR FOR
      SELECT CD_EVENTO
       FROM   TFLP_PO ( NOLOCK )
       WHERE  TX_OBS IS NOT NULL AND
              NR_PROCESSO = @nr_processo
       ORDER BY DT_REALIZACAO, NR_ORDEM
  END

  OPEN c_obs
  FETCH c_obs INTO @cd_evento
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @tamanho = DATALENGTH( TX_OBSERVACAO )
    FROM   TPO ( NOLOCK )
    WHERE  NR_PROCESSO = @nr_processo

    SELECT @ptr_proc = ISNULL( TEXTPTR(TX_OBSERVACAO), 0 )
    FROM   TPO ( NOLOCK )
    WHERE  NR_PROCESSO = @nr_processo 

    SELECT @ptr_followup = ISNULL( TEXTPTR(TX_OBS), 0 )
    FROM   TFLP_PO ( NOLOCK )
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_EVENTO = @cd_evento

    -- Atualizando Campo do FollowUp
    UPDATETEXT TPO.TX_OBSERVACAO @ptr_proc @tamanho NULL TFLP_PO.TX_OBS @ptr_followup
    -- Inserindo quebra de linha
    SELECT @tamanho = DATALENGTH( TX_OBSERVACAO )
    FROM   TPO ( NOLOCK )
    WHERE  NR_PROCESSO = @nr_processo

    SELECT @ptr_proc = ISNULL( TEXTPTR(TX_OBSERVACAO), 0 )
    FROM   TPO ( NOLOCK )
    WHERE  NR_PROCESSO = @nr_processo 

    DECLARE @caracter char(1)
    SELECT @caracter = CHAR(13)
    UPDATETEXT TPO.TX_OBSERVACAO @ptr_proc @tamanho NULL @caracter
    SELECT @caracter = CHAR(10)
    UPDATETEXT TPO.TX_OBSERVACAO @ptr_proc @tamanho NULL @caracter

    FETCH c_obs INTO @cd_evento
  END

  CLOSE c_obs
  DEALLOCATE c_obs
END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
