USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atualiza_bco_ag    Script Date: 02/09/1999 08:58:10 AM ******/
CREATE PROCEDURE [sp_atualiza_bco_ag]( @nr_processo char(18), @cd_banco char(3), @nr_agenc char(5) ) AS
UPDATE TPAGAMENTO_TRIBUTOS
SET    CD_BANCO_PGTO_TRIB = @cd_banco,
       NR_AGENC_PGTO_TRIB = @nr_agenc
WHERE ( NR_PROCESSO = @nr_processo )


GO
