USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROC [sp_rel_fup_dia] (@cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3),
                            @cd_cliente char(5), @cd_area char(2), @cd_via_transp char(2), 
                            @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT)
AS 

/*
BEGIN TRAN
 
SET NOCOUNT ON 

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_area          char(2)
DECLARE @cd_via_transp    char(2)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime

DECLARE @nr_identificador int 

SELECT  @cd_unid_neg      = '01'
SELECT  @cd_produto       = '01'
SELECT  @cd_grupo         = 'X'
SELECT  @cd_cliente       = '00006'
SELECT  @cd_area          = 'X'
SELECT  @cd_via_transp    = '01'
SELECT  @dt_inicio    = CONVERT( datetime, '01/10/2004', 103 )
SELECT  @dt_fim       = CONVERT( datetime, '30/10/2004', 103 ) 


ROLLBACK TRAN
SET XACT_ABORT OFF
*/
DECLARE @cd_evento char(3)

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ),0 ) + 1
FROM   TREL_FUP_DIA

-- Seleciona processos 
IF @cd_via_transp = '01'  -- Marítimo 
BEGIN
  SELECT @cd_evento = CD_EV_ENT FROM TPARAMETROS (NOLOCK)
END
IF @cd_via_transp = '04'  -- Aéreo
BEGIN
  SELECT @cd_evento = CD_EV_CHEGADA FROM TPARAMETROS (NOLOCK)
END

  SELECT DISTINCT P.NR_PROCESSO
  INTO   #TMP_REGISTRO
  FROM   TPROCESSO P (NOLOCK)
         INNER JOIN TFOLLOWUP F (NOLOCK) ON ( P.NR_PROCESSO = F.NR_PROCESSO AND F.CD_EVENTO = @cd_evento ) 
  WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
         @cd_grupo IN ( P.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND  
         @cd_area IN ( P.CD_AREA, 'X' ) AND
         F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
         P.IN_CANCELADO = '0'
  ORDER BY P.NR_PROCESSO


DECLARE @nr_processo   char(18),     	 @cd_banco      char(3),		@nr_cheque     char(6),
        @vl_lancamento float,		 @tipo          varchar(200),  		@passa         varchar(200),
        @terc 	       varchar(200),	 @chave		varchar(15),		@vl_qtde       integer,
	@nm_volume     char(11),	 @tipo1         varchar(200),		@tipo2         varchar(200),
	@tipo3         varchar(200), 	 @nr_free_time  integer  	

SELECT @nr_processo AS NR_PROCESSO,  @vl_qtde AS VL_QTDE, @tipo AS NM_VOLUME, @tipo1 AS NR_REFERENCIA,
       @tipo2 AS NR_FATURA, @tipo3 AS NR_CERTIFICADO, @nr_free_time AS NR_FREE_TIME 
INTO   #TMP_PROCESSO  
FROM   #TMP_REGISTRO
WHERE  1 = 0

-- Monta coluna volume
WHILE ( SELECT COUNT( NR_PROCESSO ) FROM #TMP_REGISTRO ) > 0
BEGIN
  SELECT @nr_processo = NR_PROCESSO
  FROM #TMP_REGISTRO

  -- Volume
    SET @nr_free_time = 0
    -- CARGA SOLTA
    SELECT @vl_qtde = SUM(VL_QTDE)
    FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo

    IF ( SELECT COUNT(NR_PROCESSO ) FROM TPROCESSO_CNTR P WHERE NR_PROCESSO = @nr_processo AND TP_CNTR = '01' ) > 0 
    BEGIN
      SELECT NR_PROCESSO, NR_SEQUENCIA, NM_ESPECIE
      INTO   #TMP_CARGA_SOLTA
      FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo 

      SET @tipo = ''
      SET @passa = ''
      SET @terc = ''
      WHILE ( SELECT COUNT( NR_PROCESSO ) FROM #TMP_CARGA_SOLTA ) > 0 
      BEGIN
        SELECT @chave = ( SELECT TOP 1 NR_SEQUENCIA FROM #TMP_CARGA_SOLTA )
        SET @passa = ( SELECT RTRIM( NM_ESPECIE ) + '/' FROM #TMP_CARGA_SOLTA WHERE NR_SEQUENCIA = @chave )
        SET @tipo = @terc + @passa
        SET @terc = @tipo  
     
        DELETE FROM #TMP_CARGA_SOLTA WHERE NR_SEQUENCIA = @chave
      END 
      IF LEN( @tipo ) > 4
        SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 1 )
 
      DROP TABLE #TMP_CARGA_SOLTA
    END
    ELSE
    BEGIN    
      -- CNTR
      SELECT COUNT( NR_CNTR ) AS CNTR, C.TP_CNTR AS TP_CNTR, C.NM_TP_CNTR, P.NR_FREE_TIME
      INTO   #TMP_CNTR
      FROM   TPROCESSO_CNTR P (NOLOCK)
             INNER JOIN TTP_CNTR C (NOLOCK) ON ( P.TP_CNTR = C.TP_CNTR )
      WHERE  P.NR_PROCESSO = @nr_processo AND
             P.TP_CNTR <> '01'
      GROUP  BY C.TP_CNTR, NM_TP_CNTR, P.NR_FREE_TIME
       
      SELECT @vl_qtde = ( SELECT COUNT( CNTR ) FROM #TMP_CNTR )  
      SELECT @nr_free_time = ( SELECT TOP 1 NR_FREE_TIME FROM #TMP_CNTR )
      
      SET @tipo = ''
      SET @passa = ''
      SET @terc = ''
      WHILE ( SELECT COUNT( CNTR ) FROM #TMP_CNTR ) > 0 
      BEGIN
        SELECT @chave = ( SELECT TOP 1 TP_CNTR FROM #TMP_CNTR )
        SET @passa = ( SELECT RTRIM( NM_TP_CNTR ) + '/' FROM #TMP_CNTR WHERE TP_CNTR = @chave )
        SET @tipo = @terc + @passa
        SET @terc = @tipo  
     
        DELETE FROM #TMP_CNTR WHERE TP_CNTR = @chave
      END 
      IF LEN( @tipo ) > 4
        SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 1 )

      DROP TABLE #TMP_CNTR
    END

    -- REFERÊNCIA
      SELECT NR_SEQUENCIA, CD_REFERENCIA
      INTO   #TMP_REF
      FROM   TREF_CLIENTE (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo 
       
      SET @tipo1 = ''
      SET @passa = ''
      SET @terc = ''
      WHILE ( SELECT COUNT( CD_REFERENCIA ) FROM #TMP_REF ) > 0 
      BEGIN
        SELECT @chave = ( SELECT TOP 1 NR_SEQUENCIA FROM #TMP_REF )
        SET @passa = ( SELECT RTRIM( CD_REFERENCIA ) + '/' FROM #TMP_REF WHERE NR_SEQUENCIA = @chave )
        SET @tipo1 = @terc + @passa
        SET @terc = @tipo1
     
        DELETE FROM #TMP_REF WHERE NR_SEQUENCIA = @chave
      END 
      IF LEN( @tipo1 ) > 4
        SET @tipo1 = SUBSTRING( @tipo1, 1, LEN( @tipo1 ) - 1 )

      DROP TABLE #TMP_REF

    -- FATURA
      SELECT NR_SEQUENCIA, NR_DCTO_INSTRUCAO
      INTO   #TMP_FATURA
      FROM   TDOCUMENTO_INSTRUCAO (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo AND
             CD_TIPO_DCTO_INSTR = '01'
       
      SET @tipo2 = ''
      SET @passa = ''
      SET @terc = ''
      WHILE ( SELECT COUNT( NR_DCTO_INSTRUCAO ) FROM #TMP_FATURA ) > 0 
      BEGIN
        SELECT @chave = ( SELECT TOP 1 NR_SEQUENCIA FROM #TMP_FATURA )
        SET @passa = ( SELECT RTRIM( NR_DCTO_INSTRUCAO ) + '/' FROM #TMP_FATURA WHERE NR_SEQUENCIA = @chave )
        SET @tipo2 = @terc + @passa
        SET @terc = @tipo2
     
        DELETE FROM #TMP_FATURA WHERE NR_SEQUENCIA = @chave
      END 
      IF LEN( @tipo2 ) > 4
        SET @tipo2 = SUBSTRING( @tipo2, 1, LEN( @tipo2 ) - 1 )

      DROP TABLE #TMP_FATURA

    -- CERTIFICADO
      SELECT NR_SEQUENCIA, NR_DCTO_INSTRUCAO
      INTO   #TMP_CERTIFICADO
      FROM   TDOCUMENTO_INSTRUCAO (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo AND
             CD_TIPO_DCTO_INSTR = '02'
       
      SET @tipo3 = ''
      SET @passa = ''
      SET @terc = ''
      WHILE ( SELECT COUNT( NR_DCTO_INSTRUCAO ) FROM #TMP_CERTIFICADO ) > 0 
      BEGIN
        SELECT @chave = ( SELECT TOP 1 NR_SEQUENCIA FROM #TMP_CERTIFICADO )
        SET @passa = ( SELECT RTRIM( NR_DCTO_INSTRUCAO ) + '/' FROM #TMP_CERTIFICADO WHERE NR_SEQUENCIA = @chave )
        SET @tipo3 = @terc + @passa
        SET @terc = @tipo3
     
        DELETE FROM #TMP_CERTIFICADO WHERE NR_SEQUENCIA = @chave
      END 
      IF LEN( @tipo3 ) > 4
        SET @tipo3 = SUBSTRING( @tipo3, 1, LEN( @tipo3 ) - 1 )

      DROP TABLE #TMP_CERTIFICADO

    INSERT #TMP_PROCESSO ( NR_PROCESSO,  VL_QTDE, NM_VOLUME, NR_REFERENCIA, NR_FATURA, NR_CERTIFICADO, NR_FREE_TIME )
    VALUES ( @nr_processo, @vl_qtde, @tipo, @tipo1, @tipo2, @tipo3, @nr_free_time )

  DELETE FROM #TMP_REGISTRO WHERE NR_PROCESSO = @nr_processo
END

-- Grava na tabela do relatório
INSERT TREL_FUP_DIA (NR_IDENTIFICADOR, NR_PROCESSO, NR_PO, NR_FATURA, NR_CONHECIMENTO, NR_CERTIFICADO, TX_MERCADORIA, -- 1
                     VL_QTDE, NM_VOLUME, NR_FREE, NM_ARM_DESCARGA, NR_VOO, DT_VOO, NM_EMBARCACAO, DT_CHEGADA_NAVIO,   -- 2
                     DT_PRES_CARGA, DT_SOLIC_NUM, DT_REC_NUM, NR_DI, DT_DI, CANAL, DT_DESEMB, DT_ENT_TRANSP,          -- 3  
                     DT_TRANSP, OBS )                                                                                 -- 4
SELECT @nr_identificador, SUBSTRING(P.NR_PROCESSO, 5, LEN(P.NR_PROCESSO)-4) AS NR_PROCESSO_INDAIA, 		 
      TP.NR_REFERENCIA, TP.NR_FATURA, P.NR_CONHECIMENTO, TP.NR_CERTIFICADO, SUBSTRING( P.TX_MERCADORIA, 1, 250 ),
      -- 2
      TP.VL_QTDE, TP.NM_VOLUME, TP.NR_FREE_TIME, SUBSTRING( A.NM_ARMAZEM, 1, 20 ), P.NR_VOO, 					 
      (SELECT FP.DT_REALIZACAO FROM TFOLLOWUP FP (NOLOCK)	
       WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
             CD_EVENTO = '154' AND
             FP.DT_REALIZACAO IS NOT NULL) AS DT_VOO,
      SUBSTRING( NM_EMBARCACAO, 1, 20 ) AS EMBARCACAO, 
      (SELECT FP.DT_REALIZACAO FROM TFOLLOWUP FP (NOLOCK)
       WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
             CD_EVENTO = '162' AND
             FP.DT_REALIZACAO IS NOT NULL) AS DT_CH_NAVIO,
      -- 3
      P.DT_PRESENCA_CARGA,     
      (SELECT FP.DT_REALIZACAO FROM TFOLLOWUP FP (NOLOCK)
       WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
             CD_EVENTO = '255' AND
             FP.DT_REALIZACAO IS NOT NULL) AS DT_SOLIC_NUM,
      (SELECT FP.DT_REALIZACAO FROM TFOLLOWUP FP (NOLOCK)
       WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
             CD_EVENTO = '256' AND
             FP.DT_REALIZACAO IS NOT NULL) AS DT_REC_NUM,
      D.NR_DECLARACAO_IMP,
      CONVERT( datetime, ( SUBSTRING(DT_REGISTRO_DI, 1, 2 ) + '/' + SUBSTRING( DT_REGISTRO_DI, 3, 2 )  + '/' + SUBSTRING( DT_REGISTRO_DI, 5, 4 )), 103), 
      C.NM_CANAL,
      (SELECT FP.DT_REALIZACAO FROM TFOLLOWUP FP (NOLOCK)
       WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
             CD_EVENTO = '088' AND
             FP.DT_REALIZACAO IS NOT NULL) AS DT_DESEMB,
      (SELECT FP.DT_REALIZACAO FROM TFOLLOWUP FP (NOLOCK)
       WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
             CD_EVENTO = '041' AND
             FP.DT_REALIZACAO IS NOT NULL) AS DT_ENT_TRANSP,
      -- 4 
      (SELECT FP.DT_REALIZACAO FROM TFOLLOWUP FP (NOLOCK)
       WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
             CD_EVENTO = '035' AND
             FP.DT_REALIZACAO IS NOT NULL) AS DT_TRANSP,
       F.TX_OBS       
FROM #TMP_PROCESSO TP
     INNER JOIN TPROCESSO P       (NOLOCK) ON ( TP.NR_PROCESSO = P.NR_PROCESSO )
     LEFT  JOIN TARMAZEM A        (NOLOCK) ON ( P.CD_ARMAZEM_DESCARGA = A.CD_ARMAZEM ) 
     LEFT  JOIN TTRANSP_ROD T     (NOLOCK) ON ( P.CD_TRANSP_NAC = T.CD_TRANSP_ROD )
     LEFT  JOIN TEMBARCACAO E     (NOLOCK) ON ( P.CD_EMBARCACAO = E.CD_EMBARCACAO )
     LEFT  JOIN TDECLARACAO_IMPORTACAO D (NOLOCK) ON ( P.NR_PROCESSO = D.NR_PROCESSO )
     LEFT  JOIN TTP_CANAL C       (NOLOCK) ON ( P.CD_CANAL = C.CD_CANAL )
     LEFT  JOIN TFOLLOWUP F       (NOLOCK) ON ( P.NR_PROCESSO = F.NR_PROCESSO AND F.CD_EVENTO = '022' ) 

DROP TABLE #TMP_REGISTRO

DROP TABLE #TMP_PROCESSO

/*
SELECT *
FROM TREL_FUP_DIA 
WHERE NR_IDENTIFICADOR = @nr_identificador
*/







GO
