USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_lead_dias_uteis]( @tp_dias char(1), @dt_inicio_i datetime, @dt_fim_f datetime, @nr_dias int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @tp_dias char(1)
DECLARE @dt_inicio_i datetime
DECLARE @dt_fim_f datetime
DECLARE @nr_dias int

SELECT @tp_dias = '1'
SELECT @dt_inicio_i = CONVERT( datetime, '01/10/2003', 103 )
SELECT @dt_fim_f = CONVERT( datetime, '20/10/2003', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_temp datetime

SELECT @nr_dias = DATEDIFF( d, @dt_inicio_i, @dt_fim_f )

IF @nr_dias > 0
BEGIN 
  IF @tp_dias = '1' 
  BEGIN

    SELECT @dt_temp = @dt_inicio_i
    WHILE @dt_temp <> @dt_fim_f + 1
    BEGIN
      
      IF DATEPART( dw, @dt_temp ) IN ( 1, 7 )
        SELECT @nr_dias = @nr_dias - 1
      ELSE
        IF CONVERT( datetime, @dt_temp, 103 ) IN ( SELECT CONVERT( datetime, DT_FERIADO, 103 )  FROM   TFERIADO )
          SELECT @nr_dias = @nr_dias - 1
        
      SELECT @dt_temp = @dt_temp + 1

    END
  END
  -- Cliente precisa contar o dia que comecou ( Ex.: 06/01/04 - 05/01/04 = 2 )
  SELECT @nr_dias = @nr_dias + 1
END

IF @nr_dias < 0
BEGIN
  IF @tp_dias = '1' 
  BEGIN

    SELECT @dt_temp = @dt_inicio_i
    WHILE @dt_temp <> @dt_fim_f + 1
    BEGIN
      
      IF DATEPART( dw, @dt_temp ) IN ( 1, 7 )
        SELECT @nr_dias = @nr_dias + 1
      ELSE
        IF CONVERT( datetime, @dt_temp, 103 ) IN ( SELECT CONVERT( datetime, DT_FERIADO, 103 )  FROM   TFERIADO )
          SELECT @nr_dias = @nr_dias + 1
        
      SELECT @dt_temp = @dt_temp - 1

    END
  END
  -- Cliente precisa contar o dia que comecou ( Ex.: 04/01/04 - 05/01/04 = -2 )
  SELECT @nr_dias = @nr_dias - 1
END
IF @nr_dias = 0
BEGIN
  -- Cliente precisa contar o dia que comecou ( Ex.: 05/01/04 - 05/01/04 = 1 )
  SELECT @nr_dias = 1
END

RETURN @nr_dias


GO
