USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_po_emb_web] ( @cd_grupo char(3), @cd_cliente char(5), @dt_ini datetime, @dt_fim datetime, 
                                     @nr_identificador int output ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_grupo             char(3)
DECLARE @cd_cliente           char(5)
DECLARE @dt_ini               datetime
DECLARE @dt_fim               datetime
DECLARE @nr_identificador     int

SELECT @cd_grupo   = '034'
SELECT @cd_cliente = 'X'
SELECT @dt_ini     = CONVERT( datetime, '01/08/2003', 103 )
SELECT @dt_fim     = CONVERT( datetime, '30/08/2003', 103 )
*/

DECLARE @cd_ev_embarque      char(3)
DECLARE @cd_ev_prev_embarque char(3)

SELECT @cd_ev_embarque      = CD_EV_EMBARQUE,
       @cd_ev_prev_embarque = CD_EV_PREV_EMBARQUE
FROM   TPARAMETROS

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_PO_EMB_WEB (TABLOCK HOLDLOCK)

SELECT *
INTO   #TMP_REL_PO_EMB_WEB
FROM   TREL_PO_EMB_WEB
WHERE  1=0

INSERT #TMP_REL_PO_EMB_WEB ( NR_IDENTIFICADOR, CD_MERCADORIA, DT_EMBARQUE, QT_MERCADORIA, TP_REL, DATA_GRAF, AP_MERC_ANO )
SELECT @nr_identificador, I.CD_MERCADORIA, F.DT_REALIZACAO, SUM( I.QT_INICIAL ) AS QT_MERCADORIA, '1' AS TP_REL,
       ( CONVERT( varchar, F.DT_REALIZACAO, 103 ) ) AS DATA_GRAF,
--       RTRIM( M.AP_MERCADORIA ) + ' - ' + 
       UPPER( SUBSTRING( DATENAME( MM, F.DT_REALIZACAO ), 1, 3 ) ) + '/' + 
--       RIGHT( '0' + LTRIM( RTRIM( CONVERT( char, DATEPART( MM, F.DT_REALIZACAO   ) ) ) ), 2 ) + '/' + 
       LTRIM( RTRIM( CONVERT( char, DATEPART( YYYY, F.DT_REALIZACAO ) ) ) ) AS AP_MERC_ANO
FROM   TPO P, TPO_ITEM I, TFLP_PO F, TEMPRESA_NAC E, TMERCADORIA M
WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
       P.NR_PROCESSO = I.NR_PROCESSO AND
       P.CD_IMPORTADOR = E.CD_EMPRESA AND
       I.CD_MERCADORIA = M.CD_MERCADORIA AND
       F.CD_EVENTO = @cd_ev_embarque AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( P.CD_IMPORTADOR = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
-- Desabilitado enquanto não houver acesso pela página WEB
       /*I.CD_MERCADORIA IN ( SELECT CD_MERCADORIA
                            FROM   TREL_PRODUTO_WEB
                            WHERE  NR_IDENTIFICADOR = @nr_identificador_web ) AND*/
       F.DT_REALIZACAO BETWEEN @dt_ini AND @dt_fim
GROUP BY I.CD_MERCADORIA, F.DT_REALIZACAO, M.AP_MERCADORIA
UNION ALL
SELECT @nr_identificador, I.CD_MERCADORIA, F.DT_REALIZACAO, SUM( I.QT_INICIAL ) AS QT_MERCADORIA, '1' AS TP_REL,
       ( CONVERT( varchar, F.DT_REALIZACAO, 103 ) ) AS DATA_GRAF,
--       RTRIM( M.AP_MERCADORIA ) + ' - ' + 
       UPPER( SUBSTRING( DATENAME( MM, F.DT_REALIZACAO ), 1, 3 ) ) + '/' + 
--       RIGHT( '0' + LTRIM( RTRIM( CONVERT( char, DATEPART( MM, F.DT_REALIZACAO   ) ) ) ), 2 ) + '/' + 
       LTRIM( RTRIM( CONVERT( char, DATEPART( YYYY, F.DT_REALIZACAO ) ) ) ) AS AP_MERC_ANO
FROM   TPO P, TPO_ITEM I, TFLP_PO F, TEMPRESA_NAC E, TMERCADORIA M
WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
       P.NR_PROCESSO = I.NR_PROCESSO AND
       P.CD_IMPORTADOR = E.CD_EMPRESA AND
       I.CD_MERCADORIA = M.CD_MERCADORIA AND
       F.CD_EVENTO = @cd_ev_prev_embarque AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( P.CD_IMPORTADOR = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
-- Desabilitado enquanto não houver acesso pela página WEB
       /*I.CD_MERCADORIA IN ( SELECT CD_MERCADORIA
                            FROM   TREL_PRODUTO_WEB
                            WHERE  NR_IDENTIFICADOR = @nr_identificador_web ) AND*/
       F.DT_REALIZACAO BETWEEN @dt_ini AND @dt_fim AND
       EXISTS ( SELECT F2.NR_PROCESSO
                FROM   TFLP_PO F2
                WHERE  F.NR_PROCESSO = F2.NR_PROCESSO AND 
                       F2.CD_EVENTO = @cd_ev_embarque AND
                       ISDATE( CONVERT( varchar, F2.DT_REALIZACAO ) ) = 0 )
GROUP BY I.CD_MERCADORIA, F.DT_REALIZACAO, M.AP_MERCADORIA
ORDER BY I.CD_MERCADORIA, F.DT_REALIZACAO

INSERT TREL_PO_EMB_WEB ( NR_IDENTIFICADOR, CD_MERCADORIA, DT_EMBARQUE, QT_MERCADORIA, TP_REL, DATA_GRAF, AP_MERC_ANO )
SELECT NR_IDENTIFICADOR, CD_MERCADORIA, DT_EMBARQUE, SUM( QT_MERCADORIA ) AS QT_MERCADORIA, TP_REL, DATA_GRAF, AP_MERC_ANO
FROM   #TMP_REL_PO_EMB_WEB
GROUP BY NR_IDENTIFICADOR, CD_MERCADORIA, DT_EMBARQUE, TP_REL, DATA_GRAF, AP_MERC_ANO

DROP TABLE #TMP_REL_PO_EMB_WEB

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/

GO
