USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_li_monta_li]( @nr_processo as char(20) )  AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @NR_PROCESSO CHAR(20) = '0201IM-000002-14'

EXEC sp_li_calculo @NR_PROCESSO
--*/

DECLARE @ncm_sh char(11)
DECLARE @naladi_sh char(8)
DECLARE @fabricante char(5)
DECLARE @exportador char(5)
DECLARE @pais_origem char(3)
DECLARE @pais_aquisicao char(3)
DECLARE @destaque char(3)
DECLARE @cd_regime_tributacao char(1)
DECLARE @cd_fund_legal char(2)
DECLARE @nr_ato_drawback char(13)
DECLARE @in_reg_drawback char(1)
DECLARE @nr_li_substituido char(10)
DECLARE @nr_proc_li char(20)
DECLARE @nr_proc_montado char(20)
DECLARE @nr_item_li char(3)
DECLARE @nItem integer
DECLARE @cItem char(3)
DECLARE @qt_total_item char(3)
DECLARE @cIncoterm char(3)
DECLARE @in_embut_frt_item char(1)
DECLARE @nFrtCapa numeric(18,2)  
DECLARE @nSegCapa numeric(18,2)
DECLARE @nDespCapa numeric(18,2)
DECLARE @nDescCapa numeric(18,2)
DECLARE @nPLCapa numeric(18,2)
DECLARE @nTotCapa numeric(18,2)
DECLARE @nRatFrete numeric(18,2)
DECLARE @nRatSeguro numeric(18,2)
DECLARE @nRatDespesa numeric(18,2)
DECLARE @nRatDesconto numeric(18,2)
DECLARE @nVlUnitMCV numeric(18,7)

DECLARE @vl_frete_moeda numeric(14,2)
DECLARE @vl_seguro_moeda numeric(14,2)
DECLARE @vl_despesa_moeda numeric(14,2)
DECLARE @vl_desconto_moeda numeric(14,2)
DECLARE @qt_total_pes_liq numeric(18,5)
DECLARE @qt_med_estatistica numeric(18,5)
DECLARE @vl_total_moeda numeric(14,2)

DECLARE @vl_rat_frete numeric(18,5)
DECLARE @vl_rat_seguro numeric(18,5)
DECLARE @vl_rat_despesa numeric(18,5)
DECLARE @vl_rat_desconto numeric(18,5)

DECLARE @nSoma integer
DECLARE @nQtdeItem integer

DECLARE @nEntrou integer
DECLARE @nControla integer
DECLARE @nr_proc_nve char(20)
DECLARE @nivel char(3)
DECLARE @atrib char(2)
DECLARE @espec char(4)

DECLARE @nContador  integer
DECLARE @nContador2 integer

SELECT @nQtdeItem    = 0
SELECT @nSoma        = 0
SELECT @nRatFrete    = 0
SELECT @nRatSeguro   = 0
SELECT @nRatDespesa  = 0
SELECT @nRatDesconto = 0

SELECT @nEntrou    = 0
SELECT @nControla  = 0
SELECT @nContador  = 0
SELECT @nContador2 = 0


/* Consistências para Montagem de LI*/
DECLARE @nValorTotalCapa numeric(18,2)
DECLARE @nPesoLiqCapa    numeric(18,5)
DECLARE @nQtdeCapa	     numeric(18,5)
DECLARE @nValorTotalUnit numeric(18,2)
DECLARE @nPesoLiqUnit    numeric(18,5)
DECLARE @nQtdeUnit	     numeric(18,5)

SELECT @nValorTotalCapa = ROUND( ISNULL( VL_TOTAL_MOEDA, 0 ), 2 ), 
       @nPesoLiqCapa    = ROUND( ISNULL( QT_TOTAL_PES_LIQ, 0), 5 ),
       @nQtdeCapa       = ROUND( ISNULL( QT_MED_ESTATISTICA, 0 ), 5 )
FROM   TLICENCA_IMPORTACAO ( NOLOCK )
WHERE  NR_PROCESSO = @nr_processo

SELECT @nValorTotalUnit = ROUND( ISNULL( SUM( VL_TOTAL_MLE ), 0 ), 2 ), 
       @nPesoLiqUnit    = ROUND( ISNULL( SUM( PL_MERCADORIA ), 0 ), 5 ),
       @nQtdeUnit       = ROUND( ISNULL( SUM( QT_MERC_UN_ESTAT ), 0 ), 5 )
FROM   TLICENCA_ITENS ( NOLOCK )
WHERE  NR_PROCESSO = @nr_processo

IF @nValorTotalCapa > 0
   IF @nValorTotalCapa <> @nValorTotalUnit 
   /*
   SELECT 1
   --*/RETURN (1)

IF @nPesoLiqCapa > 0
   IF @nPesoLiqCapa <> @nPesoLiqUnit
     /*
     SELECT 2
     --*/RETURN (2)

IF @nQtdeCapa > 0
   IF @nQtdeCapa <> @nQtdeUnit
     /*
     SELECT 3
     --*/RETURN (3)

UPDATE TLICENCA_IMPORTACAO 
SET    VL_TOTAL_MOEDA = @nValorTotalUnit, QT_TOTAL_PES_LIQ = @nPesoLiqUnit, QT_MED_ESTATISTICA = @nQtdeUnit
FROM   TLICENCA_IMPORTACAO 
WHERE  NR_PROCESSO = @nr_processo

/* Verifica cada Item da LI */

IF  ( SELECT COUNT(*) 
      FROM TLICENCA_ITENS ( NOLOCK )
      WHERE (NR_PROCESSO = @nr_processo ) )  > 0
BEGIN
  DECLARE c_tabela CURSOR FOR
    SELECT LII.NR_PROCESSO, NR_ITEM, ISNULL( LII.CD_NCM_SH, '' ), ISNULL( LII.CD_NALADI_SH, '' ), ISNULL( LII.CD_FABRICANTE, '' ), 
           ISNULL( LII.CD_EXPORTADOR, '' ), ISNULL( LII.CD_PAIS_ORIGEM, '' ), ISNULL( LII.CD_PAIS_AQUISICAO, '' ), 
           ISNULL( LII.NR_DESTAQUE_NCM, '' ), LI.CD_REGIME_TRIBUTACAO, LII.CD_FUND_LEGAL, ISNULL( LII.NR_ATO_DRAWBACK, '' ),
           ISNULL( LII.IN_REG_DRAWBACK, ''), ISNULL( LII.NR_LI_SUBSTITUIDO, '' )
    FROM   TLICENCA_ITENS LII
	INNER JOIN TLICENCA_IMPORTACAO LI ON LI.NR_PROCESSO = LII.NR_PROCESSO
    WHERE  LII.NR_PROCESSO = @nr_processo
  
  OPEN c_tabela   
  FETCH c_tabela INTO @nr_proc_li, @nr_item_li, @ncm_sh, @naladi_sh, @fabricante, @exportador, @pais_origem, 
                      @pais_aquisicao, @destaque, @cd_regime_tributacao, @cd_fund_legal, @nr_ato_drawback,
                      @in_reg_drawback, @nr_li_substituido 
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @nEntrou = 0

    SELECT @cIncoterm    = CD_INCOTERM,
           @nFrtCapa     = VL_FRETE_MOEDA,
           @nSegCapa     = VL_SEGURO_MOEDA,
           @nDespCapa    = VL_DESPESA_MOEDA, 
           @nDescCapa    = VL_DESCONTO_MOEDA, 
           @nPLCapa      = QT_TOTAL_PES_LIQ,
           @nTotCapa     = VL_TOTAL_MOEDA,
           @nQtdeItem    = QT_TOTAL_ITEM,
           @in_embut_frt_item = IN_EMBUT_FRT_ITENS
    FROM   TLICENCA_IMPORTACAO ( NOLOCK )
    WHERE  NR_PROCESSO = @nr_processo

    IF EXISTS( SELECT NR_PROCESSO 
               FROM   TLICENCA_ITENS ( NOLOCK )
  	           WHERE  NR_PROCESSO LIKE ( LTRIM( RTRIM( @nr_processo ) ) + '-%' ) AND
                      ISNULL( CD_NCM_SH, '' )         = ( @ncm_sh ) AND
                      ISNULL( CD_NALADI_SH, '' )      = ( @naladi_sh ) AND
                      ISNULL( CD_FABRICANTE, '' )     = ( @fabricante ) AND
                      ISNULL( CD_EXPORTADOR, '' )     = ( @exportador ) AND
                      ISNULL( CD_PAIS_ORIGEM, '' )    = ( @pais_origem ) AND
                      ISNULL( CD_PAIS_AQUISICAO, '' ) = ( @pais_aquisicao ) AND
                      ISNULL( NR_DESTAQUE_NCM, '' )   = ( @destaque ) AND
                      ISNULL( NR_ATO_DRAWBACK, '' )   = ( @nr_ato_drawback ) AND
                      ISNULL( IN_REG_DRAWBACK, '' )   = ( @in_reg_drawback ) AND
                      ISNULL( NR_LI_SUBSTITUIDO, '' ) = ( @nr_li_substituido ) ) 
    BEGIN
      SELECT @nr_proc_montado = LTRIM( RTRIM( NR_PROCESSO ) )
      FROM   TLICENCA_ITENS ( NOLOCK )
      WHERE  NR_PROCESSO LIKE ( LTRIM( RTRIM( @nr_processo ) ) + '-%' ) AND
             ISNULL( CD_NCM_SH,  '' )        = ( @ncm_sh ) AND
             ISNULL( CD_NALADI_SH,  '' )     = ( @naladi_sh ) AND
             ISNULL( CD_FABRICANTE, '' )     = ( @fabricante ) AND
             ISNULL( CD_EXPORTADOR, '' )     = ( @exportador ) AND
  	         ISNULL( CD_PAIS_ORIGEM, '' )    = ( @pais_origem ) AND
             ISNULL( CD_PAIS_AQUISICAO, '' ) = ( @pais_aquisicao ) AND
             ISNULL( NR_DESTAQUE_NCM, '' )   = ( @destaque ) AND
             ISNULL( NR_ATO_DRAWBACK, '' )   = ( @nr_ato_drawback ) AND
             ISNULL( IN_REG_DRAWBACK, '' )   = ( @in_reg_drawback ) AND
             ISNULL( NR_LI_SUBSTITUIDO, '' ) = ( @nr_li_substituido ) 

      SELECT @nControla = 0

      IF @nControla = 0 
      BEGIN 
        SELECT @nItem = 0
        SELECT @nItem = COUNT(*) 
        FROM   TLICENCA_ITENS ( NOLOCK )
        WHERE  ( NR_PROCESSO = @nr_proc_montado )

        SELECT @nItem = @nItem + 1
        SELECT @cItem = CONVERT( char(3), @nItem )
        SELECT @cItem = RIGHT( ( '000' + RTRIM( @nItem ) ), 3 )
        SELECT @nEntrou = 1
      END
      ELSE
      BEGIN
        SELECT @nEntrou =  0
      END
    END 

    IF @nEntrou = 0      
    BEGIN
      SELECT @cItem = RIGHT(MAX(NR_PROCESSO), 3)
      FROM   TLICENCA_ITENS ( NOLOCK )
      WHERE  NR_PROCESSO LIKE LTRIM( RTRIM( @nr_processo ) ) + '-%'

      SELECT @nItem = CONVERT( integer, ISNULL( @cItem, '000' ) ) + 1
      SELECT @cItem = RIGHT('000' + CONVERT( varchar, @nItem ), 3 )
      SELECT @nr_proc_montado = LTRIM(RTRIM( @nr_processo )) + '-' + @cItem 

      SELECT @cItem = '001' 

      EXEC sp_li_duplica @nr_processo, @nr_proc_montado, '0'

      -- Regime, Fund Legal e Nº Ato Drawback
      UPDATE TLICENCA_IMPORTACAO 
      SET    CD_REGIME_TRIBUTACAO = @cd_regime_tributacao,
             CD_FUND_LEGAL        = @cd_fund_legal,
             NR_ATO_DRAWBACK      = @nr_ato_drawback
      WHERE  NR_PROCESSO = @nr_proc_montado

      UPDATE TLICENCA_IMPORTACAO 
      SET    IN_MONTADA = '1', VL_FRETE_MOEDA = 0, VL_SEGURO_MOEDA = 0, VL_DESPESA_MOEDA = 0, VL_DESCONTO_MOEDA = 0, QT_TOTAL_PES_LIQ = 0, QT_MED_ESTATISTICA = 0, VL_TOTAL_MOEDA = 0, IN_EMBUT_FRT_ITENS = @in_embut_frt_item
      WHERE  NR_PROCESSO = @nr_proc_montado

      -- Se existir LI Substitutiva nos Itens, passa p/ Capa
      IF @nr_li_substituido <> '' 
      BEGIN
        UPDATE TLICENCA_IMPORTACAO 
        SET    NR_LI_SUBSTITUIDO = @nr_li_substituido
        WHERE  NR_PROCESSO = @nr_proc_montado
      END 

      UPDATE TLICENCA_NVE
      SET    NR_PROCESSO = @nr_proc_montado, NR_ITEM = @cItem
      WHERE  NR_PROCESSO = @nr_processo and NR_ITEM = @nr_item_li
    END

    UPDATE TLICENCA_ITENS 
    SET    NR_PROCESSO = @nr_proc_montado, NR_ITEM = @cItem
    WHERE CURRENT OF c_tabela
 
    SELECT @qt_total_item = CONVERT(  char(3), ( SELECT COUNT(*) 
                                                 FROM   TLICENCA_ITENS ( NOLOCK )
                                                 WHERE ( NR_PROCESSO = @nr_proc_montado ) ) )
    SELECT @qt_total_item = RIGHT( ( '000' + RTRIM( @qt_total_item ) ), 3 )

    ------- Para controlar ultimo item  ----------
    SELECT @nSoma = @nSoma + 1 

    UPDATE TLICENCA_IMPORTACAO
    SET    QT_TOTAL_ITEM = @qt_total_item
    WHERE  NR_PROCESSO = @nr_proc_montado

    IF @nSoma <> @nQtdeItem
    BEGIN
      SELECT @nRatFrete = @nRatFrete + ROUND( ( PL_MERCADORIA * @nFrtCapa ) / @nPLCapa , 5 ),

             @nRatSeguro   = @nRatSeguro + ROUND( ( VL_TOTAL_MLE * @nSegCapa ) / @nTotCapa, 5 ),
             @nRatDespesa  = @nRatDespesa + ROUND( ( VL_TOTAL_MLE * @nDespCapa ) / @nTotCapa, 5 ),
             @nRatDesconto = @nRatDesconto + ROUND( ( VL_TOTAL_MLE * @nDescCapa ) / @nTotCapa, 5 )
      FROM   TLICENCA_ITENS ( NOLOCK )
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )

      SELECT @vl_rat_frete    = ROUND( ( ISNULL( PL_MERCADORIA, 0 ) * @nFrtCapa ) / @nPLCapa, 5 ),
             @vl_rat_seguro   = ROUND( ( ISNULL( VL_TOTAL_MLE, 0 )  * @nSegCapa) / @nTotCapa, 5 ),
             @vl_rat_despesa  = ROUND( ( ISNULL( VL_TOTAL_MLE, 0 )  * @nDespCapa) / @nTotCapa, 5 ),
             @vl_rat_desconto = ROUND( ( ISNULL( VL_TOTAL_MLE, 0 )  * @nDescCapa) / @nTotCapa, 5 )
      FROM   TLICENCA_ITENS ( NOLOCK )
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )

      UPDATE TLICENCA_ITENS
      SET    VL_RAT_FRETE    = @vl_rat_frete,
             VL_RAT_SEGURO   = @vl_rat_seguro,
             VL_RAT_DESPESA  = @vl_rat_despesa,
             VL_RAT_DESCONTO = @vl_rat_desconto
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )
    END 
    ELSE
    BEGIN
      SELECT @vl_rat_frete    = ROUND( ISNULL( @nFrtCapa, 0 ) - ISNULL( @nRatFrete, 0 ), 5 ),
             @vl_rat_seguro   = ROUND( ISNULL( @nSegCapa, 0 ) - ISNULL( @nRatSeguro, 0 ), 5 ),
             @vl_rat_despesa  = ROUND( ISNULL( @nDespCapa, 0 ) - ISNULL( @nRatDespesa, 0 ), 5 ),
             @vl_rat_desconto = ROUND( ISNULL( @nDescCapa, 0 ) - ISNULL( @nRatDesconto, 0 ), 5 )
      FROM   TLICENCA_ITENS ( NOLOCK )
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )

      UPDATE TLICENCA_ITENS
      SET    VL_RAT_FRETE    = @vl_rat_frete,
             VL_RAT_SEGURO   = @vl_rat_seguro,
             VL_RAT_DESPESA  = @vl_rat_despesa,
             VL_RAT_DESCONTO = @vl_rat_desconto
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )
    END

    -------------------------  Gravando valores rateados - CAPA   ----------------------------------------
    SELECT @vl_frete_moeda     = ROUND( ISNULL( VL_FRETE_MOEDA, 0 ) + ISNULL( VL_RAT_FRETE, 0 ), 2 ),
           @vl_seguro_moeda    = ROUND( ISNULL( VL_SEGURO_MOEDA, 0 ) + ISNULL( VL_RAT_SEGURO, 0 ), 2 ),
           @vl_despesa_moeda   = ROUND( ISNULL( VL_DESPESA_MOEDA, 0 ) + ISNULL( VL_RAT_DESPESA, 0 ), 2 ),
           @vl_desconto_moeda  = ROUND( ISNULL( VL_DESCONTO_MOEDA, 0 ) + ISNULL( VL_RAT_DESCONTO, 0 ), 2 ),
           @qt_total_pes_liq   = ROUND( ISNULL( QT_TOTAL_PES_LIQ, 0 ) + ISNULL( PL_MERCADORIA, 0 ), 5 ),
           @qt_med_estatistica = ROUND( ISNULL( QT_MED_ESTATISTICA, 0 ) + ISNULL( QT_MERC_UN_ESTAT, 0 ), 5 ),
           @vl_total_moeda     = ROUND( ISNULL( VL_TOTAL_MOEDA, 0 ) + ISNULL( VL_TOTAL_MLE, 0 ), 2 )
    FROM   TLICENCA_IMPORTACAO CAPA ( NOLOCK ), TLICENCA_ITENS ITENS ( NOLOCK )
    WHERE  ( CAPA.NR_PROCESSO  = @nr_proc_montado ) AND
           ( ( ITENS.NR_PROCESSO = @nr_proc_montado ) AND NR_ITEM = @cItem )

    UPDATE TLICENCA_IMPORTACAO
    SET    VL_FRETE_MOEDA     = @vl_frete_moeda,
           VL_SEGURO_MOEDA    = @vl_seguro_moeda,
           VL_DESPESA_MOEDA   = @vl_despesa_moeda,
           VL_DESCONTO_MOEDA  = @vl_desconto_moeda,
           QT_TOTAL_PES_LIQ   = @qt_total_pes_liq,
           QT_MED_ESTATISTICA = @qt_med_estatistica,
           VL_TOTAL_MOEDA     = @vl_total_moeda
    FROM   TLICENCA_IMPORTACAO CAPA, TLICENCA_ITENS ITENS
    WHERE  ( CAPA.NR_PROCESSO  = @nr_proc_montado ) AND
           ( ( ITENS.NR_PROCESSO = @nr_proc_montado ) AND NR_ITEM = @cItem )

    --------------------  VALORES DO ITEM MCV   -------------------------
    ---****  ATENÇÃO!!!! Os valores para o campo VL_UNIT_MCV poderiam ser gravados diretamente para o campo sem 
    ---****  passar pela variável @nVlUnitMCV, porém desta forma o SQL Bloqueia o registro. 
    IF (@cIncoterm = 'CFR') or (@cIncoterm = 'CPT')
    BEGIN 
      SELECT @nVlUnitMCV = ROUND( ( ( ISNULL( VL_TOTAL_MLE, 0 ) + ISNULL( VL_RAT_FRETE, 0 ) + ISNULL( VL_RAT_DESPESA, 0 ) ) - ISNULL( VL_RAT_DESCONTO, 0 ) ) / ISNULL( QT_MERC_UN_COMERC, 0 ), 7 )
      FROM   TLICENCA_ITENS
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )

      UPDATE TLICENCA_ITENS  
      SET    VL_UNIT_MCV = @nVlUnitMCV
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )
    END
    ELSE IF ( @cIncoterm = 'CIF' ) OR ( @cIncoterm = 'CIP' ) OR ( @cIncoterm = 'DAF' ) OR ( @cIncoterm = 'DES' ) 
    BEGIN
      SELECT @nVlUnitMCV = ROUND( ( ( ISNULL( VL_TOTAL_MLE, 0 ) + ISNULL( VL_RAT_FRETE, 0 ) + ISNULL( VL_RAT_SEGURO, 0 ) + ISNULL( VL_RAT_DESPESA, 0 ) ) - ISNULL( VL_RAT_DESCONTO, 0 ) ) / ISNULL( QT_MERC_UN_COMERC, 0 ), 7 )
      FROM   TLICENCA_ITENS
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )

      UPDATE TLICENCA_ITENS  
      SET    VL_UNIT_MCV = @nVlUnitMCV
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )
    END
    ELSE IF ( @cIncoterm = 'DDU' ) 
    BEGIN
      SELECT @nVlUnitMCV = ROUND( ( ( ISNULL( VL_TOTAL_MLE, 0 ) + ISNULL( VL_RAT_SEGURO, 0 ) + ISNULL( VL_RAT_DESPESA, 0 )) - ISNULL( VL_RAT_DESCONTO, 0 ) ) / ISNULL( QT_MERC_UN_COMERC, 0 ), 7 )
      FROM   TLICENCA_ITENS
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )

      UPDATE TLICENCA_ITENS  
      SET    VL_UNIT_MCV = @nVlUnitMCV
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )
    END
    ELSE
    BEGIN
      SELECT @nVlUnitMCV = ROUND( ( ( ISNULL( VL_TOTAL_MLE, 0 ) + ISNULL( VL_RAT_DESPESA, 0 ) ) - ISNULL( VL_RAT_DESCONTO, 0 ) ) / ISNULL( QT_MERC_UN_COMERC, 0 ), 7 )
      FROM   TLICENCA_ITENS
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )

      UPDATE TLICENCA_ITENS  
      SET    VL_UNIT_MCV = @nVlUnitMCV
      WHERE  ( NR_PROCESSO = @nr_proc_montado ) AND ( NR_ITEM = @cItem )
    END

    -- UPDATE TREF_CLIENTE SET NR_PROCESSO = @nr_proc_montado WHERE NR_PROCESSO = @nr_processo

    FETCH c_tabela INTO @nr_proc_li, @nr_item_li, @ncm_sh, @naladi_sh, @fabricante, @exportador, @pais_origem, 
                        @pais_aquisicao, @destaque, @cd_regime_tributacao, @cd_fund_legal, @nr_ato_drawback,
                        @in_reg_drawback, @nr_li_substituido 


  END

  CLOSE c_tabela
  DEALLOCATE c_tabela  

END

DELETE TLICENCA_IMPORTACAO 
WHERE  NR_PROCESSO = @nr_processo

DELETE TPROC_ANUENTES
WHERE  NR_PROCESSO = @nr_processo

DELETE TLICENCA_NVE        
WHERE  NR_PROCESSO = @nr_processo

/*
SELECT 0

SELECT *
FROM TLICENCA_IMPORTACAO
WHERE NR_PROCESSO LIKE RTRIM(@NR_PROCESSO) + '%'

SELECT *
FROM TLICENCA_ITENS
WHERE NR_PROCESSO LIKE RTRIM(@NR_PROCESSO) + '%'

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/RETURN(0)


/*
      --------------------------------------
      -- Abre tabela de NVE e faz loop para verificar todos nves do Item se é igual ao do ser incluso
      -------------------------------------- 

      SELECT @nControla = 0

      -------------------------------------------------------
      -- Cursor para LI -> NVE
      -------------------------------------------------------
      SELECT @nContador = COUNT(*)
      FROM   TLICENCA_NVE
      WHERE  NR_PROCESSO =(@nr_processo) AND
             NR_ITEM = @nr_item_li
 
      SELECT @nContador2 = COUNT(*)             
      FROM   TLICENCA_NVE
      WHERE  NR_PROCESSO = LTRIM( RTRIM( @nr_proc_montado ) )

      IF @nContador <> @nContador2 
      BEGIN
        SELECT @nControla = 1
      END

      IF @nControla = 0 
      BEGIN
        DECLARE c_nve CURSOR FOR
        SELECT @nr_proc_nve, ISNULL(CD_NIVEL_NVE, '' ), ISNULL( CD_ATRIBUTO_NCM, ' ' ), ISNULL( CD_ESPECIF_NCM, '' )
        FROM   TLICENCA_NVE
        WHERE  NR_PROCESSO =(@nr_processo) AND
               NR_ITEM = @nr_item_li

        OPEN c_nve
        FETCH c_nve INTO @nr_proc_nve, @nivel, @atrib, @espec
        WHILE @@fetch_status <> -1
        BEGIN
          IF NOT EXISTS( SELECT NR_PROCESSO 
                         FROM   TLICENCA_NVE
                         WHERE  NR_PROCESSO LIKE ( LTRIM( RTRIM( @nr_processo ) ) + '-%' ) AND
                                ISNULL( CD_NIVEL_NVE, '' ) = ( @nivel ) AND
                                ISNULL( CD_ATRIBUTO_NCM, '' )  = ( @atrib ) AND
                                ISNULL( CD_ESPECIF_NCM, '' ) = ( @espec ) ) 
          BEGIN
            SELECT @nControla = 1
          END

          FETCH c_nve INTO @nr_proc_nve, @nivel, @atrib, @espec
        END

        CLOSE c_nve
        DEALLOCATE c_nve      
      END


*/
GO
