USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_imp_numerario] ( @dt_movimento datetime, @cd_unid_neg char(2), 
                                    @cd_coligada char(2),   @qt_imp int output ) AS
DECLARE @nr_ult_lanc       int
DECLARE @ult_lanc          char(6)
DECLARE @cd_item           char(3)
DECLARE @cd_item_receb_num char(3)
DECLARE @cd_item_extor_num char(3)
DECLARE @cd_item_devol_num char(3)
DECLARE @nr_processo       char(18)
DECLARE @cd_banco          char(3)
DECLARE @vl_recebimento    float
DECLARE @in_transferido    char(1)
DECLARE @in_cancelado      char(1)
DECLARE @nr_devolucao      char(3)
DECLARE @vl_devolucao      float

DECLARE c_imp CURSOR FOR 
SELECT  NR_PROCESSO, CD_BANCO, IN_TRANSFERIDO, IN_CANCELADO, SUM(VL_RECEBIMENTO)
  FROM  TRECEBIMENTO (TABLOCK HOLDLOCK)
  WHERE ((IN_TRANSFERIDO = '0' AND IN_CANCELADO = '0') OR 
         (IN_TRANSFERIDO = '1' AND IN_CANCELADO = '1' AND IN_TRANSF_CANC = '0')) AND
        (VL_RECEBIMENTO <> 0) AND
        DT_RECEBIMENTO <= @dt_movimento
  GROUP BY NR_PROCESSO, CD_BANCO, IN_TRANSFERIDO, IN_CANCELADO

SELECT @qt_imp  = 0
SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM, 
       @cd_item_extor_num = CD_ITEM_EXTOR_NUM,
       @cd_item_devol_num = CD_ITEM_DEVOL_NUM
FROM TPARAMETROS

OPEN  c_imp
FETCH c_imp INTO @nr_processo, @cd_banco, @in_transferido, @in_cancelado, @vl_recebimento
WHILE @@fetch_status <> -1
BEGIN
  IF @in_cancelado = '0' 
     SELECT @cd_item = @cd_item_receb_num
  ELSE
     SELECT @cd_item = @cd_item_extor_num
  
  SELECT @nr_ult_lanc = convert( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM TCAIXA 
  WHERE DT_MOVIMENTO = @dt_movimento 
  
  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )
  SELECT @qt_imp = @qt_imp + 1

  INSERT TCAIXA( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, 
                 IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, CD_BANCO, NR_PROCESSO, CD_ITEM, 
                 VL_IR, VL_ASSIST, IN_RESTITUI )
  VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', '3', '0', '0', @vl_recebimento, 'D', 
           @cd_banco, @nr_processo, @cd_item, 0, 0, '0')
        
  SELECT @nr_ult_lanc = @nr_ult_lanc + 1
  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, @nr_ult_lanc ), 6 )

  IF @in_cancelado = '0'
    UPDATE TRECEBIMENTO
      SET    IN_TRANSFERIDO = '1'
      WHERE  NR_PROCESSO    = @nr_processo AND 
             CD_BANCO       = @cd_banco    AND 
             IN_CANCELADO   = '0'          AND
             IN_TRANSFERIDO = '0'
  ELSE
    UPDATE TRECEBIMENTO
      SET    IN_TRANSF_CANC = '1'
      WHERE  NR_PROCESSO    = @nr_processo AND 
             CD_BANCO       = @cd_banco    AND 
             IN_CANCELADO   = '1'          AND
             IN_TRANSFERIDO = '1'

  FETCH c_imp INTO @nr_processo, @cd_banco, @in_transferido, @in_cancelado, @vl_recebimento
END

CLOSE c_imp
DEALLOCATE c_imp

DECLARE c_dev CURSOR FOR
  SELECT NR_PROCESSO, SUM(VL_DEVOLUCAO)
  FROM   TDEVOLUCAO (TABLOCK HOLDLOCK)
  WHERE  IN_CANCELADO   = '0'   AND
         IN_TRANSFERIDO = '0'   AND
         DT_SOLIC_CH    is null AND
         VL_DEVOLUCAO   <> 0    AND
         DT_DEVOLUCAO   <= @dt_movimento
    GROUP BY NR_PROCESSO

OPEN c_dev
FETCH c_dev INTO @nr_processo, @vl_devolucao
WHILE @@fetch_status <> -1
BEGIN

   SELECT @nr_ult_lanc = convert( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
   FROM   TCAIXA 
   WHERE  DT_MOVIMENTO = @dt_movimento 

   SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )
   SELECT @qt_imp = @qt_imp + 1

   INSERT TCAIXA( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, 
                  IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, NR_PROCESSO, CD_ITEM, 
                  VL_IR, VL_ASSIST, IN_RESTITUI )
   VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', '3', '0', '0', @vl_devolucao, '$', 
            @nr_processo, @cd_item_devol_num, 0, 0, '0' )
         
   SELECT @nr_ult_lanc = @nr_ult_lanc + 1

   SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, @nr_ult_lanc ), 6 )

   UPDATE TDEVOLUCAO
   SET    IN_TRANSFERIDO = '1'
   WHERE  NR_PROCESSO    = @nr_processo AND
          IN_CANCELADO   = '0'          AND
          IN_TRANSFERIDO = '0'          AND
          DT_SOLIC_CH    is null        AND
          VL_DEVOLUCAO   <> 0
  FETCH c_dev INTO @nr_processo, @vl_devolucao
END

DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco

EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa



GO
