USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_reemite_cheque] @nr_ref char(3), @dt_pagto datetime, @nr_novo_cheque char(6), @dt_base datetime AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_ref char(3)
DECLARE @dt_pagto datetime
DECLARE @nr_novo_cheque char(6)
DECLARE @dt_base datetime

SELECT @nr_ref = '050' 
SELECT @dt_pagto = CONVERT( datetime, '30/05/2003', 103 )
SELECT @nr_novo_cheque = '777777'
SELECT @dt_base = CONVERT( datetime, '02/06/2003', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_ult_ref char(6)
DECLARE @nr_ult_lanc char(3)
DECLARE @nr_lancamento char(3)
DECLARE @nr_processo char(18)
DECLARE @cd_item char(3)

-- Inclui novo cheque
SELECT @nr_ult_ref = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, ISNULL( MAX( NR_REF ), '000' ) ) + 1 ) ), 3 )
FROM   TSOLIC_PAGTO
WHERE  CONVERT( datetime, DT_PAGTO, 103 ) = @dt_pagto AND
       NR_REF NOT IN ('T', 'D', 'C')

DECLARE c_solic CURSOR FOR
  SELECT NR_PROCESSO, CD_ITEM, NR_LANCAMENTO
  FROM   TSOLIC_PAGTO
  WHERE  NR_REF = @nr_ref AND DT_PAGTO = @dt_base

OPEN c_solic

FETCH c_solic INTO @nr_processo, @cd_item, @nr_lancamento

WHILE @@fetch_status = 0
BEGIN
  SELECT @nr_ult_lanc = ISNULL( RIGHT( '000' + CONVERT( varchar(3), (CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000' ) ) ) + 1 ) ), 3 ), '001' )
  FROM   TSOLIC_PAGTO
  WHERE  NR_PROCESSO = @nr_processo

  INSERT TSOLIC_PAGTO
  ( NR_REF, DT_PAGTO, NR_PROCESSO, CD_ITEM, VL_PAGTO, CD_DESTINO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO, HM_SOLIC_PAGTO, 
    CD_CALCULO, IN_CALCULADO, CD_FAVORECIDO, CD_BANCO, NR_DOCTO, CD_USUARIO_SOLIC, CD_USUARIO_MONTA, 
    CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, VL_DESCONTO, VL_PERC_DESCONTO, DT_CANCELAMENTO, CD_CANCELADOR, NR_LANCAMENTO )
  SELECT @nr_ult_ref, @dt_pagto, NR_PROCESSO, CD_ITEM, VL_PAGTO, CD_DESTINO, '7', IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO, HM_SOLIC_PAGTO, 
         CD_CALCULO, IN_CALCULADO, CD_FAVORECIDO, CD_BANCO, @nr_novo_cheque, CD_USUARIO_SOLIC, CD_USUARIO_MONTA, 
         '2', TP_DESTINO, '0', VL_DESCONTO, VL_PERC_DESCONTO, DT_CANCELAMENTO, CD_CANCELADOR, @nr_ult_lanc
  FROM   TSOLIC_PAGTO
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_LANCAMENTO = @nr_lancamento AND
         CD_ITEM = @cd_item
  
  FETCH c_solic INTO @nr_processo, @cd_item, @nr_lancamento
END

CLOSE c_solic
DEALLOCATE c_solic

-- Prepara para cancelar
UPDATE TSOLIC_PAGTO
SET    IN_TRANSF_FIN = '0',
       CD_STATUS_CHEQUE = '3',
       CD_STATUS = '4'
WHERE  NR_REF = @nr_ref AND DT_PAGTO = @dt_base AND CD_STATUS NOT IN ( '4', '17' )

-- Cancela atual
EXEC sp_cancela_solic_pagto @dt_base, @nr_ref

-- Atualiza Financeiro/Faturamento
EXEC sp_distribui_pagto @dt_base, @nr_ref, '2'
EXEC sp_distribui_pagto @dt_pagto, @nr_ult_ref, '2'


GO
