USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_rel_proc_andamento] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), 
                                         @cd_cliente  char(5), @nr_identificador int output ) AS
/*
DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @nr_identificador int 


SELECT  @cd_unid_neg  = '01'
SELECT  @cd_produto   = '01'
SELECT  @cd_grupo     = '036'
SELECT  @cd_cliente   = 'X'
SELECT  @dt_inicio    = CONVERT( datetime, '01/05/2004', 103 )
SELECT  @dt_fim       = CONVERT( datetime, '30/06/2004', 103 ) 

*/
DECLARE @nr_processo                 char(18),
        @nr_proc_po                  char(18),
        @nr_po_item                  char(3),  
        @ap_mercadoria               char(25),
        @cd_embarcacao               char(4), 
        @nr_voo                      char(18),

        @nm_empresa                  varchar(60),
	@nm_mercadoria               varchar(60),
        @nm_embarcacao               varchar(60),
	@nm_canal	             varchar(10),

	@tx_observacoes		     varchar(8000),	

        @qt_mercadoria               float,

	@nr_dias_desp                int,

        @dt_cambio                   datetime,
        @dt_sol_nf                   datetime,
	@dt_sol_num                  datetime,
	@dt_sol_num_imp              datetime,
        @dt_receb_num                datetime,
        @dt_receb_po                 datetime,
	@dt_receb_copias             datetime,
        @dt_chegada_embarcacao       datetime,
        @dt_reg_di                   datetime,
        @dt_receb_nf                 datetime,
	@dt_receb_docs               datetime,
	@dt_emissao_li               datetime,
        @dt_ci                       datetime,
        @dt_defer_li                 datetime,
        @dt_entrega_nf_transp        datetime,
        @dt_fatura                   datetime   

-- Capta o nº identificador
SET @nr_identificador = ( SELECT MAX( isnull( NR_IDENTIFICADOR, 0 ) ) + 1
                            FROM TREL_PROC_DESEMBARACADOS)

--Cursor para capturar os processos
DECLARE c_processos CURSOR FOR
  SELECT P.NR_PROCESSO, ISNULL( P.CD_EMBARCACAO, '' ), ISNULL( P.NR_VOO, ''), ISNULL( C.NM_CANAL, '' ),

         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = '257' )                                               AS DT_RECEB_PO,

         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_RECEB_COPIAS FROM TPARAMETROS T (NOLOCK) ) )    AS DT_RECEB_COPIAS,

         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT T.CD_EV_CAMBIO_OK FROM TPARAMETROS T (NOLOCK) ) )     AS DT_CAMBIO,

	 ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_NUM_IMP FROM TPARAMETROS T (NOLOCK) ) )         AS DT_SOL_NUMERARIO,

         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_REC_IMP FROM TPARAMETROS T (NOLOCK) ) )         AS DT_RECEB_NUMERARIO,
     
         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_SOLIC_NUM_IMP FROM TPARAMETROS T (NOLOCK) ) )   AS DT_SOL_NUMERARIO_IMP,                

	 ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS T (NOLOCK) ) )   AS DT_RECEB_DOCUMENTOS,

         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS T (NOLOCK) ) )          AS DT_REGISTRO_DI,

         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_SOLIC_NF FROM TPARAMETROS T (NOLOCK) ) )        AS DT_SOL_NF,

         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_RECEB_NF FROM TPARAMETROS T (NOLOCK)) )        AS DT_REC_NF,


         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS T (NOLOCK) ) )          AS DT_CI,
             
         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS T (NOLOCK) ) )       AS DT_ENTREGA_NF_TRANSP,

         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = '050' )                                               AS DT_EMISSAO_LI,

         ( SELECT FT.DT_REALIZACAO 
	     FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = '052' )                                               AS DT_REFERIMENTO_LI,

         ( SELECT FT.DT_REALIZACAO 
             FROM TFOLLOWUP FT (NOLOCK)
            WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
	          FT.CD_EVENTO = ( SELECT CD_EV_ENVIO_FAT FROM TPARAMETROS T (NOLOCK) ) )       AS DT_FATURA,
             
             D.NR_PROC_PO, 
             D.NR_ITEM_PO,
             D.QT_MERC_UN_COMERC, 
             M.AP_MERCADORIA,
             E.NM_EMPRESA    

    FROM TPROCESSO P
             INNER JOIN TFOLLOWUP F (NOLOCK) ON ( F.NR_PROCESSO = P.NR_PROCESSO )
             INNER JOIN VW_SERICO_GERAL  S (NOLOCK) ON ( S.CD_SERVICO  = P.CD_SERVICO )    
             LEFT  JOIN TTP_CANAL C (NOLOCK) ON ( C.CD_CANAL    = P.CD_CANAL )
             LEFT JOIN TDETALHE_MERCADORIA D (NOLOCK) ON ( D.NR_PROCESSO = P.NR_PROCESSO )
             LEFT JOIN TMERCADORIA M (NOLOCK) ON ( M.CD_MERCADORIA = D.CD_MERCADORIA )
             LEFT JOIN TEMPRESA_EST E (NOLOCK) ON ( E.CD_EMPRESA    = D.CD_EXPORTADOR )
   WHERE SUBSTRING( P.NR_PROCESSO, 5, 2 ) IN ('IA','I0','IG')   AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )                 AND
         @cd_produto  IN ( P.CD_PRODUTO,  'X' )                 AND
         @cd_grupo    IN ( P.CD_GRUPO,    'X' )                 AND
         @cd_cliente  IN ( P.CD_CLIENTE,  'X' )                 AND
         F.CD_EVENTO     = S.CD_EVENTO_CONCLUSOR                AND
         ISNULL( F.DT_REALIZACAO, '01/01/1900' ) = '01/01/1900' AND
         ISNULL( P.IN_CANCELADO, '0')            = '0'         

  OPEN c_processos
  FETCH c_processos INTO @nr_processo, @cd_embarcacao, @nr_voo, @nm_canal, @dt_receb_po, @dt_receb_copias, @dt_cambio,
                         @dt_sol_num, @dt_receb_num, @dt_sol_num_imp, @dt_receb_docs, @dt_reg_di, @dt_sol_nf, @dt_receb_nf, 
                         @dt_ci, @dt_entrega_nf_transp, @dt_emissao_li, @dt_defer_li, @dt_fatura, @nr_proc_po, @nr_po_item,
                         @qt_mercadoria, @ap_mercadoria, @nm_empresa

  WHILE @@fetch_status = 0
  BEGIN
    SET @tx_observacoes = ( SELECT CAST( FT.TX_OBS AS VARCHAR(8000) ) 
                              FROM TFOLLOWUP FT (NOLOCK)
                             WHERE FT.NR_PROCESSO = @nr_processo AND 
                                   FT.CD_EVENTO   = ( SELECT CD_EV_DIG_DI FROM TPARAMETROS T (NOLOCK) ) )

    if ( SUBSTRING( @nr_processo, 5, 2 ) = 'I0' ) OR ( SUBSTRING( @nr_processo, 5, 2 ) = 'IG' )
    begin
      SET @dt_chegada_embarcacao = ( SELECT FT.DT_REALIZACAO
                                       FROM TFOLLOWUP FT (NOLOCK)
                                      WHERE FT.NR_PROCESSO = @nr_processo AND 
                                            FT.CD_EVENTO = ( SELECT T.CD_EV_ENT FROM TPARAMETROS T (NOLOCK) ) )

      SET @nm_embarcacao         = ( SELECT NM_EMBARCACAO 
                                       FROM TEMBARCACAO (NOLOCK)
                                      WHERE CD_EMBARCACAO = @cd_embarcacao ) 
    end
    else
    begin
      if SUBSTRING( @nr_processo, 5, 2 ) = 'IA'   
      begin
        SET @dt_chegada_embarcacao = ( SELECT FT.DT_REALIZACAO 
                                         FROM TFOLLOWUP FT (NOLOCK)
                                        WHERE FT.NR_PROCESSO = @nr_processo AND 
                                              FT.CD_EVENTO = ( SELECT T.CD_EV_ENT FROM TPARAMETROS T (NOLOCK) ) )
        SET @nm_embarcacao         = @nr_voo 
      end
    end  
      
     
    EXEC sp_lead_dias_uteis '1', @dt_chegada_embarcacao, @dt_ci, @nr_dias_desp OUTPUT      


        
      INSERT INTO TREL_PROC_ANDAMENTO VALUES ( @nr_identificador,substring(@nr_processo,5,14), @nr_proc_po, @nr_po_item,
					       @ap_mercadoria, cast( @qt_mercadoria as decimal(13,3) ), @nm_empresa, 
                                               CONVERT( datetime, @dt_receb_po, 103 ), 
					       CONVERT( datetime, @dt_receb_copias, 103 ), 
                                               @nm_embarcacao,
                                               CONVERT( datetime, @dt_chegada_embarcacao, 103 ),
                                               CONVERT( datetime, @dt_cambio, 103 ), 
                                               CONVERT( datetime, @dt_sol_num, 103 ),
                                               CONVERT( datetime, @dt_receb_num, 103 ), 
                                               CONVERT( datetime, @dt_sol_num_imp, 103 ),
                                               CONVERT( datetime, @dt_receb_docs, 103 ),
                                               CONVERT( datetime, @dt_reg_di, 103 ), 
                                               @nm_canal,
                                               CONVERT( datetime, @dt_sol_nf, 103 ),
                                               CONVERT( datetime, @dt_receb_nf, 103 ), 
                                               CONVERT( datetime, @dt_ci, 103 ),
                                               CONVERT( datetime, @dt_entrega_nf_transp, 103 ),
                                               CONVERT( datetime, @dt_emissao_li, 103 ),
                                               CONVERT( datetime, @dt_defer_li, 103 ),
                                               @nr_dias_desp,
                                               cast( replace( @tx_observacoes, char(13), '') as text ) )



    FETCH c_processos INTO @nr_processo, @cd_embarcacao, @nr_voo, @nm_canal, @dt_receb_po, @dt_receb_copias, @dt_cambio,
                           @dt_sol_num, @dt_receb_num, @dt_sol_num_imp, @dt_receb_docs, @dt_reg_di, @dt_sol_nf, @dt_receb_nf, 
                           @dt_ci, @dt_entrega_nf_transp, @dt_emissao_li, @dt_defer_li, @dt_fatura, @nr_proc_po, @nr_po_item,
                           @qt_mercadoria, @ap_mercadoria, @nm_empresa
  END  
  CLOSE c_processos
  DEALLOCATE c_processos





GO
