USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_ordena_evento_po]( @nr_ordem_origem int, @nr_ordem_destino int ) AS

DECLARE @cd_ev_futuro_origem char(3)
DECLARE @cd_ev_basico_origem char(3)
DECLARE @nr_ordem_ev_futuro_origem int
DECLARE @nr_ordem_ev_basico_origem int
DECLARE @nr_ult_ordem int

SELECT @cd_ev_futuro_origem       = ( SELECT CD_EV_FUTURO 
                                      FROM   TEVENTO_PO
                                      WHERE  NR_ORDEM = @nr_ordem_origem )
SELECT @cd_ev_basico_origem       = ( SELECT CD_EV_BASICO 
                                      FROM   TEVENTO_PO
                                      WHERE  NR_ORDEM = @nr_ordem_origem )
SELECT @nr_ordem_ev_futuro_origem = ( SELECT NR_ORDEM 
                                      FROM   TEVENTO_PO
                                      WHERE  CD_EVENTO = @cd_ev_futuro_origem )
SELECT @nr_ordem_ev_basico_origem = ( SELECT NR_ORDEM 
                                      FROM   TEVENTO_PO
                                      WHERE  CD_EVENTO = @cd_ev_basico_origem )
SELECT @nr_ult_ordem              = ( SELECT MAX(NR_ORDEM) 
                                      FROM   TEVENTO_PO )

/* Se (Nº Ordem Destino) existir  (0)*/
IF ( SELECT COUNT( NR_ORDEM ) 
     FROM   TEVENTO_PO
     WHERE ( NR_ORDEM = @nr_ordem_destino ) ) > 0
BEGIN
  /* Se (Nº Ordem Destino) > (Nº Ordem Origem) (1) */
  IF @nr_ordem_destino > @nr_ordem_origem
  BEGIN
    /* Se (Nº Ordem Evento Futuro da Origem ) > (Nº Ordem Destino) (3)*/
    IF ( @nr_ordem_ev_futuro_origem > @nr_ordem_destino ) OR ( @nr_ordem_ev_futuro_origem IS NULL )
    BEGIN
      /* Se (Nº Ordem Origem = 1) e Existir Evento Base no Evento de Ordem 2 (5)*/
      IF ( @nr_ordem_origem = 1 ) AND 
         ( ( SELECT CD_EV_BASICO 
             FROM   TEVENTO_PO
             WHERE  NR_ORDEM   = 2 ) <> NULL ) AND
         ( ( SELECT CD_EV_BASICO 
             FROM   TEVENTO_PO
             WHERE  NR_ORDEM   = 2 ) <> '' )
      BEGIN
        /* 'O primeiro evento não pode ter evento base' */
        RETURN(1)
      END
      /* Senão (5)*/
      ELSE
      BEGIN
        /* atualiza com - 1 */
        UPDATE TEVENTO_PO 
        SET    NR_ORDEM = NR_ORDEM - 1
        WHERE  ( NR_ORDEM <= @nr_ordem_destino ) AND ( NR_ORDEM > @nr_ordem_origem )
        RETURN(0)
      END
    END
    /* Senão (3)*/
    ELSE  
    BEGIN
      /* 'O evento futuro não pode ter nº de ordem inferior ao do evento' */
      RETURN(2)
    END
  END
  /* Senão */
  ELSE
  BEGIN
    /* Se (Nº Ordem Destino) < (Nº Ordem Origem) (1)*/
    IF @nr_ordem_destino < @nr_ordem_origem
    BEGIN
      /* Se (Nº Ordem do Evento Base da Origem ) < (Nº Ordem Destino) (4) */
      IF ( @nr_ordem_ev_basico_origem < @nr_ordem_destino ) OR ( @nr_ordem_ev_basico_origem IS NULL )
      BEGIN
        /* Se (Nº Ordem Origem = Último e existir Evento Futuro no evento penúltimo) (6)*/
        IF ( @nr_ordem_origem = @nr_ult_ordem ) AND 
           ( ( SELECT CD_EV_FUTURO 
               FROM   TEVENTO_PO
               WHERE  NR_ORDEM = ( @nr_ult_ordem - 1 ) ) <> NULL ) AND
           ( ( SELECT CD_EV_FUTURO 
               FROM   TEVENTO_PO
               WHERE  NR_ORDEM = ( @nr_ult_ordem - 1 ) ) <> '' )
        BEGIN
          /* 'O último evento não pode ter evento futuro' */
          RETURN(3)
        END
        /* Senão (6)*/
        ELSE
        BEGIN
          /* Atualiza com + 1 */
          UPDATE TEVENTO_PO 
          SET    NR_ORDEM = NR_ORDEM + 1
          WHERE  ( NR_ORDEM >= @nr_ordem_destino ) AND ( NR_ORDEM < @nr_ordem_origem )
          RETURN(0)
        END
      END
      /* Senão (4)*/
      BEGIN
        /* 'O evento base não pode ter nº ordem superior ao do evento' */
        RETURN(4)
      END
    END
  END
END 
/* Senão (0) */
ELSE
BEGIN
  /* 'Nº Ordem Destino não existe' */
  RETURN(5)
END


GO
