USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_exclui_inst_negoc] ( @cd_inst_negoc char(5) ) AS
IF ( SELECT COUNT(*) 
     FROM   TINST_NEGOC_PAIS
     WHERE  CD_INST_NEGOC = @cd_inst_negoc ) < 0
     RETURN (1)
BEGIN
  DELETE TINST_NEGOC_PAIS 
  WHERE  CD_INST_NEGOC = @cd_inst_negoc 
END
RETURN (0)



GO
