USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_follow_up]( @nr_processo CHAR(18), @cd_servico CHAR(3)) AS
BEGIN
    IF (SELECT CASE WHEN P.DT_ABERTURA >= CASE WHEN P.CD_PRODUTO IN ('01'/*, '03', '06', '17'*/) THEN ISNULL(G.DT_NOVO_FOLLOWUP_IMP, DATEADD(YEAR, 1, GETDATE()))
                                         ELSE CASE WHEN P.CD_PRODUTO IN ('02'/*, '10', '18'*/) THEN ISNULL(G.DT_NOVO_FOLLOWUP_EXP, DATEADD(YEAR, 1, GETDATE()))
                                              ELSE DATEADD(YEAR, 1, GETDATE())
                                              END
                                         END THEN '1'
               ELSE '0'
               END
        FROM TPROCESSO P (NOLOCK)
           INNER JOIN TGRUPO G (NOLOCK) ON G.CD_GRUPO = P.CD_GRUPO
        WHERE P.NR_PROCESSO = @nr_processo) = '1'
        EXEC SP_CRIA_FOLLOWUP @NR_PROCESSO
    ELSE
        INSERT TFOLLOWUP (NR_PROCESSO, CD_SERVICO, CD_EVENTO, IN_APLICAVEL, NR_ORDEM, CD_EV_BASICO, PZ_DO_EV_BASICO)
        SELECT @nr_processo, CD_SERVICO, CD_EVENTO ,'1', NR_ORDEM, CD_EV_BASICO, PZ_DO_EV_BASICO
        FROM TSERVICO_EVENTO (NOLOCK)
        WHERE CD_SERVICO = @cd_servico
END
GO
