USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_num_usd    Script Date: 02/09/1999 08:58:57 AM ******/
CREATE PROCEDURE [sp_atz_num_usd] ( @cd_cliente char(5), @nr_identificador int output ) AS
SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) 
FROM   TNUM_SR_TOTAL_BANCO
SELECT @nr_identificador = @nr_identificador + 1
SELECT P.CD_UNID_NEG, P.CD_PRODUTO, @cd_cliente CD_CLIENTE, NI.CD_BANCO, NI.CD_ITEM, 
  ISNULL( NI.VL_SOLICITADO, 0 ) VL_SOLIC, ISNULL( ( NI.VL_SOLICITADO / ISNULL( VND.TX_DOLAR, 0 ) ), 0 ) VL_SOLIC_USD
INTO #tmp
FROM 
    TNUMERARIO N (TABLOCK HOLDLOCK),
    TNUMERARIO_ITEM_SOLIC NI (TABLOCK HOLDLOCK),
    TPROCESSO P (TABLOCK HOLDLOCK),
    VW_TNUMERARIO_USD VND (TABLOCK HOLDLOCK),
    TCLIENTE_HABILITACAO H (TABLOCK HOLDLOCK)
WHERE 
    P.NR_PROCESSO = N.NR_PROCESSO AND
    N.NR_PROCESSO = NI.NR_PROCESSO AND
    N.NR_SOLICITACAO = NI.NR_SOLICITACAO AND
    N.NR_PROCESSO = VND.NR_PROCESSO AND
    N.NR_SOLICITACAO = VND.NR_SOLICITACAO AND
    P.CD_CLIENTE = H.CD_CLIENTE AND
    P.CD_UNID_NEG = H.CD_UNID_NEG AND
    P.CD_PRODUTO = H.CD_PRODUTO AND
    P.CD_CLIENTE = @cd_cliente AND
    ( N.CD_STATUS = 'B' OR
      N.CD_STATUS = 'A') AND
      N.VL_SOLICITADO > 0 AND
      N.IN_EMITIDO = '0' AND
    NI.CD_ITEM <> '999'
INSERT INTO TNUM_SR_TOTAL_BANCO
SELECT @nr_identificador NR_IDENTIFICADOR, @cd_cliente CD_CLIENTE, T.CD_BANCO, 
SUM( 
CASE M.IN_USD
  WHEN '0' THEN T.VL_SOLIC
  WHEN '1' THEN 
      CASE N.CD_ITEM 
        WHEN NULL THEN T.VL_SOLIC
      ELSE 0
      END
ELSE 0
END ) VL_SOLIC,
ROUND( SUM(
CASE M.IN_USD
  WHEN '0' THEN 0
  WHEN '1' THEN 
      CASE N.CD_ITEM 
        WHEN NULL THEN 0
      ELSE VL_SOLIC_USD
      END
ELSE 0
END ), 2) VL_SOLIC_USD
FROM   #tmp t,
       TCLIENTE_HABILITACAO H,
       TMOD_NUMERARIO M,
       TCLIENTE_NUMERARIO_USD N
WHERE  H.CD_UNID_NEG = T.CD_UNID_NEG AND
       H.CD_PRODUTO = T.CD_PRODUTO AND
       H.CD_CLIENTE = T.CD_CLIENTE AND
       H.CD_NUMERARIO = M.CD_NUMERARIO AND
       H.IN_ATIVO = '1' AND
       T.CD_UNID_NEG *= N.CD_UNID_NEG AND
       T.CD_PRODUTO *= N.CD_PRODUTO AND
       T.CD_CLIENTE *= N.CD_CLIENTE AND
       T.CD_ITEM *= N.CD_ITEM
GROUP BY T.CD_BANCO
DROP TABLE #tmp


GO
