USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.sp_NT_Server_Data_Hora    Script Date: 02/09/1999 08:58:32 AM ******/
/****** Object:  Stored Procedure dbo.sp_NT_Server_Data_Hora    Script Date: 22/11/1998 11:05:24 ******/
/****** Object:  Stored Procedure dbo.sp_NT_Server_Data_Hora    Script Date: 29/04/1998 12:18:21 ******/
CREATE PROCEDURE [sp_NT_Server_Data_Hora]( @dt_nt_server datetime output ) AS
SELECT @dt_nt_server = GetDate()



GO
