USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [sp_rel_nao_desemb_di] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                @cd_analista_comissaria char(4), @in_obs char(1), @cd_celula char(2), @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_celula char(2)
DECLARE @cd_analista_comissaria char(4)
DECLARE @in_obs char(1)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @in_obs = '1'
SELECT @cd_celula = 'X'
SELECT @cd_analista_comissaria = 'X'
--*/

DECLARE @nr_processo CHAR(18)

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_NAO_DESEMB_DI (NOLOCK)--(TABLOCK HOLDLOCK)

-- Se @cd_analista_comissaria for TODOS, LEFT JOIN com TUSUARIO, se não INNER JOIN com TUSUARIO. Pois quando TODOS estava deixando de
-- trazer registros onde não estava preenchido o campo na TPROCESSO - Michel - 27/05/2009
--/*
IF @cd_analista_comissaria = 'X'
BEGIN
	INSERT TREL_NAO_DESEMB_DI (NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NM_EMPRESA, NM_CANAL, 
	                           DT_REG_DI, NR_DI, DT_ENT_REC_FED, NM_ARMAZEM, NM_URGENTE, NM_ANALISTA_COMISSARIA, NM_CELULA)
	SELECT @NR_IDENTIFICADOR, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, EN.AP_EMPRESA, ISNULL( C.NM_CANAL, '' ) NM_CANAL,
		   R.DT_REALIZACAO DT_REG_DI, ISNULL( DI.NR_DECLARACAO_IMP, '' ) NR_DI, 
		   (SELECT F.DT_REALIZACAO 
			FROM   TFOLLOWUP F (NOLOCK)
			WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
				   F.CD_EVENTO = (SELECT CD_EV_ENT_REC_FED
                                  FROM TPARAMETROS (NOLOCK))) DT_ENT_REC_FED, 
		   ARM.NM_ARMAZEM, Y.TX_YESNO NM_URGENTE, U.NM_USUARIO NM_ANALISTA_COMISSARIA, CL.NM_CELULA
	FROM          TPROCESSO              P   (NOLOCK)
	   LEFT  JOIN TUSUARIO               U   (NOLOCK) ON U.CD_USUARIO   = P.CD_ANALISTA_COMISSARIA
	   INNER JOIN TEMPRESA_NAC           EN  (NOLOCK) ON EN.CD_EMPRESA  = P.CD_CLIENTE
	   INNER JOIN TYES_NO                Y   (NOLOCK) ON Y.CD_YESNO     = P.IN_URGENTE
	   INNER JOIN TFOLLOWUP              R   (NOLOCK) ON R.NR_PROCESSO  = P.NR_PROCESSO
	   INNER JOIN TFOLLOWUP              D   (NOLOCK) ON D.NR_PROCESSO  = P.NR_PROCESSO
	   INNER JOIN TCELULA                CL  (NOLOCK) ON CL.CD_CELULA   = P.CD_CELULA
	   LEFT  JOIN TDECLARACAO_IMPORTACAO DI  (NOLOCK) ON DI.NR_PROCESSO = P.NR_PROCESSO
	   LEFT  JOIN TARMAZEM               ARM (NOLOCK) ON ARM.CD_ARMAZEM = P.CD_ARMAZEM_DESCARGA
	   LEFT  JOIN TTP_CANAL              C   (NOLOCK) ON C.CD_CANAL     = P.CD_CANAL
	WHERE @CD_UNID_NEG IN (P.CD_UNID_NEG, 'X')
	  AND @CD_PRODUTO  IN (P.CD_PRODUTO,  'X')
	  AND @CD_GRUPO    IN (EN.CD_GRUPO,   'X')
	  AND @CD_CLIENTE  IN (P.CD_CLIENTE,  'X')
	  AND @CD_CELULA   IN (CL.CD_CELULA,  'X')
	  AND @CD_ANALISTA_COMISSARIA IN (P.CD_ANALISTA_COMISSARIA, 'X')
	  AND (R.CD_EVENTO= '021'
	   AND R.IN_APLICAVEL = '1'
	   AND R.DT_REALIZACAO IS NOT NULL)
	  AND (D.CD_EVENTO = '088'
	   AND D.IN_APLICAVEL = '1'
	   AND D.DT_REALIZACAO IS NULL)
END
ELSE
BEGIN
	INSERT TREL_NAO_DESEMB_DI (NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NM_EMPRESA, NM_CANAL, 
	                           DT_REG_DI, NR_DI, DT_ENT_REC_FED, NM_ARMAZEM, NM_URGENTE, NM_ANALISTA_COMISSARIA, NM_CELULA)
	SELECT @NR_IDENTIFICADOR, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, EN.AP_EMPRESA, ISNULL( C.NM_CANAL, '' ) NM_CANAL,
		   R.DT_REALIZACAO DT_REG_DI, ISNULL( DI.NR_DECLARACAO_IMP, '' ) NR_DI, 
		   (SELECT F.DT_REALIZACAO 
			FROM   TFOLLOWUP F (NOLOCK)
			WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
				   F.CD_EVENTO = (SELECT CD_EV_ENT_REC_FED
                                  FROM TPARAMETROS (NOLOCK))) DT_ENT_REC_FED, 
		   ARM.NM_ARMAZEM, Y.TX_YESNO NM_URGENTE, U.NM_USUARIO NM_ANALISTA_COMISSARIA, CL.NM_CELULA
	FROM          TPROCESSO              P   (NOLOCK)
	   INNER JOIN TUSUARIO               U   (NOLOCK) ON U.CD_USUARIO   = P.CD_ANALISTA_COMISSARIA
	   INNER JOIN TEMPRESA_NAC           EN  (NOLOCK) ON EN.CD_EMPRESA  = P.CD_CLIENTE
	   INNER JOIN TYES_NO                Y   (NOLOCK) ON Y.CD_YESNO     = P.IN_URGENTE
	   INNER JOIN TFOLLOWUP              R   (NOLOCK) ON R.NR_PROCESSO  = P.NR_PROCESSO
	   INNER JOIN TFOLLOWUP              D   (NOLOCK) ON D.NR_PROCESSO  = P.NR_PROCESSO
	   INNER JOIN TCELULA                CL  (NOLOCK) ON CL.CD_CELULA   = P.CD_CELULA
	   LEFT  JOIN TDECLARACAO_IMPORTACAO DI  (NOLOCK) ON DI.NR_PROCESSO = P.NR_PROCESSO
	   LEFT  JOIN TARMAZEM               ARM (NOLOCK) ON ARM.CD_ARMAZEM = P.CD_ARMAZEM_DESCARGA
	   LEFT  JOIN TTP_CANAL              C   (NOLOCK) ON C.CD_CANAL     = P.CD_CANAL
	WHERE @CD_UNID_NEG IN (P.CD_UNID_NEG, 'X')
	  AND @CD_PRODUTO  IN (P.CD_PRODUTO,  'X')
	  AND @CD_GRUPO    IN (EN.CD_GRUPO,   'X')
	  AND @CD_CLIENTE  IN (P.CD_CLIENTE,  'X')
	  AND @CD_CELULA   IN (CL.CD_CELULA,  'X')
	  AND @CD_ANALISTA_COMISSARIA IN (P.CD_ANALISTA_COMISSARIA, 'X')
	  AND (R.CD_EVENTO= '021'
	   AND R.IN_APLICAVEL = '1'
	   AND R.DT_REALIZACAO IS NOT NULL)
	  AND (D.CD_EVENTO = '088'
	   AND D.IN_APLICAVEL = '1'
	   AND D.DT_REALIZACAO IS NULL)
END
--*/


/*
INSERT TREL_NAO_DESEMB_DI ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NM_EMPRESA, NM_CANAL, 
                            DT_REG_DI, NR_DI, DT_ENT_REC_FED, NM_ARMAZEM, NM_URGENTE, NM_ANALISTA_COMISSARIA, NM_CELULA )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, EN.AP_EMPRESA, ISNULL( C.NM_CANAL, '' ) NM_CANAL,
         R.DT_REALIZACAO DT_REG_DI, ISNULL( DI.NR_DECLARACAO_IMP, '' ) NR_DI, 
         ( SELECT F.DT_REALIZACAO 
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                  F.CD_EVENTO = ( SELECT CD_EV_ENT_REC_FED FROM TPARAMETROS (NOLOCK) ) ) DT_ENT_REC_FED, 
         ARM.NM_ARMAZEM, Y.TX_YESNO NM_URGENTE, U.NM_USUARIO NM_ANALISTA_COMISSARIA, CL.NM_CELULA
  FROM   TPROCESSO P (NOLOCK),
         TEMPRESA_NAC EN (NOLOCK),
         TDECLARACAO_IMPORTACAO DI (NOLOCK),
         TARMAZEM ARM (NOLOCK),
         TYES_NO Y (NOLOCK),
         TTP_CANAL C (NOLOCK),
         tfollowup R (NOLOCK),
         tfollowup D (NOLOCK),
         TUSUARIO U (NOLOCK),
         TCELULA CL (NOLOCK)
  WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
         @cd_grupo IN ( EN.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         @cd_analista_comissaria IN ( ISNULL(P.CD_ANALISTA_COMISSARIA, 'X'), 'X' ) AND
         @cd_celula IN ( CL.CD_CELULA, 'X' ) AND
         P.CD_ANALISTA_COMISSARIA = U.CD_USUARIO AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         P.CD_ARMAZEM_DESCARGA *= ARM.CD_ARMAZEM AND
         P.IN_URGENTE = Y.CD_YESNO AND
         P.CD_CANAL *= C.CD_CANAL AND
         P.NR_PROCESSO = R.NR_PROCESSO AND
         P.NR_PROCESSO = D.NR_PROCESSO AND 
         P.CD_CELULA = CL.CD_CELULA AND 
         P.NR_PROCESSO *= DI.NR_PROCESSO AND
         r.nr_processo = p.nr_processo and  
         d.nr_processo = p.nr_processo and  
         ((r.cd_evento= '021' and  
	   r.in_aplicavel = '1' and R.DT_REALIZACAO IS NOT NULL) AND 
         (d.cd_evento = '088' and 
          d.in_aplicavel = '1' and D.DT_REALIZACAO IS NULL))
--*/

DECLARE c_rel_nao_desemb_di CURSOR FOR 
  SELECT NR_PROCESSO
  FROM   TREL_NAO_DESEMB_DI (NOLOCK)
  WHERE  NR_IDENTIFICADOR = @nr_identificador
  
OPEN c_rel_nao_desemb_di
FETCH c_rel_nao_desemb_di INTO @nr_processo
WHILE @@FETCH_STATUS = 0
BEGIN
  INSERT TREL_NAO_DESEMB_DI_EV ( NR_IDENTIFICADOR, NR_PROCESSO, CD_EVENTO, DT_REALIZACAO, TX_OBS, NR_ORDEM )
    SELECT @nr_identificador, NR_PROCESSO, CD_EVENTO, DT_REALIZACAO, 
           CASE @in_obs
             WHEN '0' THEN ''
             ELSE TX_OBS
           END, NR_ORDEM
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           (( DT_REALIZACAO IS NOT NULL ) OR ( TX_OBS IS NOT NULL ) )

  FETCH c_rel_nao_desemb_di INTO @nr_processo
END
CLOSE c_rel_nao_desemb_di
DEALLOCATE c_rel_nao_desemb_di


/*
SELECT * FROM TREL_NAO_DESEMB_DI
select * from TREL_NAO_DESEMB_DI_EV

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/






GO
