USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_calc_cobranca_dta]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_item char(3)
DECLARE @Resultado float

SELECT @nr_processo = '0101AE-0189-00'
SELECT @cd_item = '098'
*/

DECLARE @cd_cliente               char(5)
DECLARE @cd_unid_neg              char(2)
DECLARE @cd_produto               char(2)
DECLARE @cd_servico               char(4)
DECLARE @cd_regime_trib           char(1)
DECLARE @vl_num_taxa              float


BEGIN

    --SELECIONA OS VALORES PARA CALCULO
    SELECT @cd_cliente    = CD_CLIENTE,
    @cd_unid_neg          = CD_UNID_NEG,
    @cd_produto           = CD_PRODUTO,
    @cd_servico           = CD_SERVICO
    FROM   TPROCESSO (NOLOCK)
    WHERE  ( NR_PROCESSO = @nr_processo )


    IF (SELECT IN_COBRANCA_DTA FROM TPROCESSO WHERE NR_PROCESSO=@nr_processo) = 1
    BEGIN
      SELECT @vl_num_taxa  = ISNULL( VL_NUM_TAXA, 0 )
             FROM   TRECEITAS_IMP (NOLOCK)
      WHERE  CD_CLIENTE     = @cd_cliente          AND
             CD_UNID_NEG    = @cd_unid_neg         AND
             CD_PRODUTO     = @cd_produto          AND
             CD_SERVICO     = @cd_servico          AND
             CD_ITEM        = @cd_item             AND
             IN_ATIVO       = '1'
    END          

    -- RETORNA O CALCULO
    SELECT @Resultado = ISNULL(@vl_num_taxa,0)

    RETURN(0)    

END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
