USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_taxa_sisco    Script Date: 04/04/00 17:59:17 ******/
CREATE PROCEDURE [sp_taxa_sisco] ( @processo char(14) )  AS
DECLARE @valor FLOAT

        DECLARE c_taxa cursor for
        (
        SELECT A.VL_TRIBUTO_PAGO FROM TPAGAMENTO_TRIBUTOS A
        WHERE  A.NR_PROCESSO = @processo
        )
        
        OPEN c_taxa
        FETCH c_taxa INTO @valor
        CLOSE c_taxa
        DEALLOCATE c_taxa 

RETURN( @valor )
  



GO
