USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_di_distribui_deb_com] ( @nr_processo char(18)) AS    
    
/*    
SET XACT_ABORT ON    
BEGIN TRAN    
    
DECLARE @nr_processo char(18)    
--DECLARE @dt_registro_di datetime      
SELECT @nr_processo = '0101ia-0045-10'    
*/    
    
DECLARE @cd_item_ii          char(3)    
DECLARE @cd_item_ipi         char(3)    
DECLARE @cd_item_siscomex    char(3)    
DECLARE @cd_item_icms        char(3)    
DECLARE @cd_item_pis         char(3)    
DECLARE @cd_item_cofins      char(3)    
DECLARE @cd_cliente          char(5)    
DECLARE @cd_unid_neg         char(2)    
DECLARE @cd_produto          char(2)    
DECLARE @cd_servico          char(3)    
DECLARE @cd_banco            char(3)    
DECLARE @nr_lanc_solic_pagto char(3)    
DECLARE @nr_lanc_caixa       char(6)    
DECLARE @nr_lanc_fat_cc      char(4)    
DECLARE @nr_lanc_fat_cc_cli  char(3)    
    
DECLARE @dt_pagto            datetime    
DECLARE @dt_reg_di           char(10)    



--IF (SELECT COUNT(*) FROM TPROCESSO_NOT_MONEY WHERE NR_PROCESSO = @nr_processo) = 0 
IF (SELECT IsNull(IN_MONEY,0) FROM TPROCESSO WHERE NR_PROCESSO = @nr_processo) = 1 
BEGIN
    IF (SELECT COUNT(*)
				FROM MYMONEY.dbo.TB_LANCTO                   L  (NOLOCK)
					 LEFT JOIN MYMONEY.dbo.TB_EMISSAO_DETALHE ED (NOLOCK) ON ED.NR_LANCTO  = L.NR_LANCTO
																																AND ED.ANO_LANCTO = L.ANO_LANCTO 
					 LEFT JOIN MYMONEY.dbo.TB_EMISSAO         E  (NOLOCK) ON E.NR_EMISSAO  = ED.NR_EMISSAO
																																AND E.ANO_EMISSAO = ED.ANO_EMISSAO
					 LEFT JOIN MYMONEY.dbo.TB_LANCTO_FUP      F  (NOLOCK) ON F.NR_LANCTO    = L.NR_LANCTO
																																AND F.ANO_LANCTO   = L.ANO_LANCTO
																																AND ((F.NR_EMISSAO = ED.NR_EMISSAO AND F.ANO_EMISSAO = ED.ANO_EMISSAO) OR (F.NR_LANCTO_FUP = ED.NR_LANCTO_FUP))
				WHERE L.NR_PROCESSO = @NR_PROCESSO
					AND L.IN_CANCELADO = 0
					AND L.CD_ITEM      = 32
					AND ((E.IN_EMITIDO   = 1 AND F.CD_ROTINA IN (401) AND L.CD_DESTINO = 1) /*OR (L.CD_DESTINO = 2)*/)) = 0
    BEGIN
        PRINT 'MYMONEY'
        --EXEC MYMONEY.DBO.sp_lanca_impostos @nr_processo
    END
    RETURN 0
END  

    
SELECT @dt_reg_di = ISNULL( DT_REGISTRO_DI, '' )    
FROM   TDECLARACAO_IMPORTACAO    
WHERE  NR_PROCESSO = @nr_processo    
    
IF @dt_reg_di <> ''     
BEGIN    
  SELECT @dt_reg_di = SUBSTRING( @dt_reg_di, 1, 2 ) + '/' +     
                      SUBSTRING( @dt_reg_di, 3, 2 ) + '/' +    
                      SUBSTRING( @dt_reg_di, 5, 4 )    
  SELECT @dt_pagto = CONVERT( DATETIME, @dt_reg_di, 103 )    
END    
ELSE    
BEGIN    
  RETURN 1
END    
    
DECLARE @vl_ii       float    
DECLARE @vl_ipi      float    
DECLARE @vl_siscomex float    
DECLARE @vl_icms     float    
DECLARE @vl_pis      float    
DECLARE @vl_cofins   float    
    
--Valor do II    
IF EXISTS( SELECT COUNT(*)    
           FROM   TPAGAMENTO_TRIBUTOS     
           WHERE  NR_PROCESSO = @nr_processo AND    
                  CD_RECEITA_PGTO = '0086' )    
  SELECT @vl_ii = VL_TRIBUTO_PAGO    
  FROM   TPAGAMENTO_TRIBUTOS    
  WHERE  NR_PROCESSO = @nr_processo AND    
         CD_RECEITA_PGTO = '0086'    
ELSE     
  SELECT @vl_ii = 0    
    
--Valor do IPI    
IF EXISTS( SELECT COUNT(*)    
           FROM   TPAGAMENTO_TRIBUTOS     
           WHERE  NR_PROCESSO = @nr_processo AND    
                  CD_RECEITA_PGTO = '1038' )    
  SELECT @vl_ipi = VL_TRIBUTO_PAGO    
  FROM   TPAGAMENTO_TRIBUTOS    
  WHERE  NR_PROCESSO = @nr_processo AND    
         CD_RECEITA_PGTO = '1038'    
ELSE     
  SELECT @vl_ipi = 0    
    
--Valor do Siscomex    
IF EXISTS( SELECT COUNT(*)    
           FROM   TPAGAMENTO_TRIBUTOS     
           WHERE  NR_PROCESSO = @nr_processo AND    
                  CD_RECEITA_PGTO = '7811' )    
  SELECT @vl_siscomex = VL_TRIBUTO_PAGO    
  FROM   TPAGAMENTO_TRIBUTOS    
  WHERE  NR_PROCESSO = @nr_processo AND    
         CD_RECEITA_PGTO = '7811'    
ELSE     
  SELECT @vl_siscomex = 0    
    
  
--Valor do ICMS    
IF EXISTS( SELECT COUNT(*)    
           FROM   TPROCESSO    
           WHERE  NR_PROCESSO = @nr_processo AND    
                  VL_ICMS_MN > 0 )    
  SELECT @vl_icms = VL_ICMS_MN    
  FROM   TPROCESSO    
  WHERE  NR_PROCESSO = @nr_processo AND    
         VL_ICMS_MN > 0    
ELSE     
  SELECT @vl_icms = 0    
    
--Valor do PIS  -- 07/01/2005    
IF EXISTS( SELECT COUNT(*)    
           FROM   TPAGAMENTO_TRIBUTOS     
           WHERE  NR_PROCESSO = @nr_processo AND    
                  CD_RECEITA_PGTO = '5602' )    
  SELECT @vl_pis = VL_TRIBUTO_PAGO    
  FROM   TPAGAMENTO_TRIBUTOS    
  WHERE  NR_PROCESSO = @nr_processo AND    
         CD_RECEITA_PGTO = '5602'    
ELSE     
  SELECT @vl_pis = 0    
    
--Valor do COFINS -- 07/01/2005    
IF EXISTS( SELECT COUNT(*)    
           FROM   TPAGAMENTO_TRIBUTOS     
           WHERE  NR_PROCESSO = @nr_processo AND    
                  CD_RECEITA_PGTO = '5629' )    
  SELECT @vl_cofins = VL_TRIBUTO_PAGO    
  FROM   TPAGAMENTO_TRIBUTOS    
  WHERE  NR_PROCESSO = @nr_processo AND    
         CD_RECEITA_PGTO = '5629'    
ELSE     
  SELECT @vl_cofins = 0    
    
SELECT @cd_item_ii = CD_ITEM_II,    
       @cd_item_ipi = CD_ITEM_IPI,    
       @cd_item_siscomex = CD_ITEM_SISCOMEX,    
       @cd_item_icms = CD_ITEM_ICMS,   
       @cd_item_pis = CD_ITEM_PIS_IMP,    
       @cd_item_cofins = CD_ITEM_COFINS_IMP    
FROM   TPARAMETROS    
    
SELECT @cd_unid_neg = CD_UNID_NEG,    
       @cd_produto = CD_PRODUTO,    
       @cd_cliente = CD_CLIENTE,    
       @cd_servico = CD_SERVICO    
FROM   TPROCESSO    
WHERE  NR_PROCESSO = @nr_processo    
    
SELECT @cd_banco = CD_BANCO_DEB_COM    
FROM   TCLIENTE_SERVICO    
WHERE  CD_UNID_NEG = @cd_unid_neg AND    
       CD_PRODUTO = @cd_produto AND    
       CD_CLIENTE = @cd_cliente AND    
       CD_SERVICO = @cd_servico    
    
--I.I.    
IF @vl_ii > 0     
BEGIN    
  --Verifica se o I.I. foi parametrizado para Débito em Conta da Comissária    
  IF EXISTS( SELECT *    
             FROM   TCLIENTE_NUMERARIO     
             WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                    CD_PRODUTO = @cd_produto AND    
                    CD_CLIENTE = @cd_cliente AND    
                    CD_SERVICO = @cd_servico AND    
                    CD_ITEM = @cd_item_ii AND    
                    TP_DESTINO = '3' )    
  BEGIN    
    -- Se sim, jogar em Pagtos Op., Caixa e Fat. C/C    
    IF NOT EXISTS( SELECT *     
                   FROM   TSOLIC_PAGTO    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_ii )    
    BEGIN    
      SELECT @nr_lanc_solic_pagto = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )    
      FROM   TSOLIC_PAGTO    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TSOLIC_PAGTO ( NR_PROCESSO, CD_ITEM, VL_PAGTO, DT_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO,     
                            CD_FAVORECIDO, CD_BANCO, NR_REF, CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, NR_LANCAMENTO )    
      VALUES ( @nr_processo, @cd_item_ii, @vl_ii, @dt_pagto, '7', '1', '0', @dt_pagto, '', @cd_banco, 'C', '1', '3', '1',     
               @nr_lanc_solic_pagto )    
    END    
    ELSE    
    BEGIN    
      UPDATE TSOLIC_PAGTO     
      SET    VL_PAGTO = @vl_ii, DT_PAGTO = @dt_pagto, CD_STATUS = '7', IN_SOLICITADO = '1', IN_RESTITUI = '0',    
             DT_SOLIC_PAGTO = @dt_pagto, CD_FAVORECIDO = '', CD_BANCO = @cd_banco, NR_REF = 'C', CD_STATUS_CHEQUE = '1',    
             TP_DESTINO = '3', IN_TRANSF_FIN = '1'    
      FROM   TSOLIC_PAGTO     
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_ii    
    END    
    
    SELECT @nr_lanc_caixa = ISNULL( RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 6 ),  '000001' )    
    FROM   TCAIXA    
    WHERE  DT_MOVIMENTO = @dt_pagto AND CD_COLIGADA = '01'    
    IF NOT EXISTS( SELECT *     
                   FROM   TCAIXA    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_ii )    
    BEGIN    
      INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,     
                      IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR,     
                      VL_ASSIST, IN_RESTITUI )    
      VALUES ( '01', @dt_pagto, @nr_lanc_caixa, @cd_unid_neg, 'F', '1', '0', '1', @vl_ii, 'D', 'D', @cd_banco, @nr_processo,     
               @cd_item_ii, 0, 0, '0' )     
    END    
    ELSE    
    BEGIN    
      UPDATE TCAIXA     
      SET    DT_MOVIMENTO = @dt_pagto, TP_LANCAMENTO = 'F', TP_PROCEDENCIA = '1', IN_CANCELADO = '0', IN_TRANSFERIDO = '1',     
             VL_LANCAMENTO = @vl_ii, TP_PAGAMENTO = 'D', TP_NATUREZA = 'D', CD_BANCO = @cd_banco, VL_IR = 0, VL_ASSIST = 0, IN_RESTITUI = '0',    
             NR_LANCAMENTO = @nr_lanc_caixa    
      FROM   TCAIXA    
      WHERE  CD_COLIGADA = '01' AND    
      NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_ii    
    END    
     
    IF NOT EXISTS( SELECT *     
                   FROM   TFATURAMENTO_CC    
                   WHERE  NR_PROCESSO = @nr_processo AND    
               CD_ITEM = @cd_item_ii )    
    BEGIN    
      SELECT @nr_lanc_fat_cc = ISNULL( RIGHT( '0000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 4 ), '0001' )    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_BANCO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC,     
                               VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO,     
                               INDICE, IN_SEL_FAT )    
      VALUES ( @nr_processo, @nr_lanc_fat_cc, @dt_pagto, @cd_banco, @cd_item_ii, 'D', '1',    
               @vl_ii, 0, 0, '0', '0', '0', '0', '0', '1', '1' )    
    END    
    ELSE    
    BEGIN    
      UPDATE TFATURAMENTO_CC     
      SET    DT_LANCAMENTO = @dt_pagto, CD_BANCO = @cd_banco, CD_FORMA_PAGTO = 'D', CD_ORIGEM_LANC = '1',     
             VL_ITEM = @vl_ii, VL_IR = 0, VL_ASSIST = 0, IN_FATURADO = '0', IN_CANCELADO = '0', IN_RESTITUI = '0',     
             IN_CONTABIL = '0', IN_DEMONSTRADO = '0', INDICE = '1', IN_SEL_FAT = '1'    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_ii    
    END    
  END    
  ELSE    
  BEGIN    
    --Verifica se o I.I. foi parametrizado para Débito em Conta do Cliente    
    IF EXISTS( SELECT *    
               FROM   TCLIENTE_NUMERARIO     
               WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                      CD_PRODUTO = @cd_produto AND    
                      CD_CLIENTE = @cd_cliente AND    
                      CD_SERVICO = @cd_servico AND    
                      CD_ITEM = @cd_item_ii AND    
                      TP_DESTINO IN ('1', '5') )    
    BEGIN    
      -- Se sim, jogar em Fat. C/C Cliente    
      IF NOT EXISTS( SELECT *     
                     FROM   TFATURAMENTO_CC_CLIENTE    
                     WHERE  NR_PROCESSO = @nr_processo AND    
                            CD_ITEM = @cd_item_ii )    
      BEGIN    
        SELECT @nr_lanc_fat_cc_cli = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ), '001' )    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo    
    
        IF @nr_lanc_fat_cc_cli = '000' SELECT @nr_lanc_fat_cc_cli = '001'    
    
        INSERT TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO )    
        VALUES ( @nr_processo, @nr_lanc_fat_cc_cli, @dt_pagto, @cd_item_ii, @vl_ii, '0' )    
      END    
      ELSE    
      BEGIN    
        UPDATE TFATURAMENTO_CC_CLIENTE    
        SET    VL_ITEM = @vl_ii, IN_CANCELADO = '0'    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo AND    
               CD_ITEM = @cd_item_ii    
      END    
    END    
  END    
END    
    
--I.P.I.    
IF @vl_ipi > 0     
BEGIN    
  --Verifica se o I.P.I. foi parametrizado para Débito em Conta da Comissária    
  IF EXISTS( SELECT *    
             FROM   TCLIENTE_NUMERARIO     
             WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                    CD_PRODUTO = @cd_produto AND    
                    CD_CLIENTE = @cd_cliente AND    
                    CD_SERVICO = @cd_servico AND    
                    CD_ITEM = @cd_item_ipi AND    
                    TP_DESTINO = '3' )    
  BEGIN    
    -- Se sim, jogar em Pagtos Op., Caixa e Fat. C/C    
    IF NOT EXISTS( SELECT *     
                   FROM   TSOLIC_PAGTO    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_ipi )    
    BEGIN    
      SELECT @nr_lanc_solic_pagto = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )    
      FROM   TSOLIC_PAGTO    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TSOLIC_PAGTO ( NR_PROCESSO, CD_ITEM, VL_PAGTO, DT_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO,     
                   CD_FAVORECIDO, CD_BANCO, NR_REF, CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, NR_LANCAMENTO )    
      VALUES ( @nr_processo, @cd_item_ipi, @vl_ipi, @dt_pagto, '7', '1', '0', @dt_pagto, '', @cd_banco, 'C', '1', '3', '1',     
               @nr_lanc_solic_pagto )    
    END    
    ELSE    
    BEGIN    
      UPDATE TSOLIC_PAGTO     
      SET    VL_PAGTO = @vl_ipi, DT_PAGTO = @dt_pagto, CD_STATUS = '7', IN_SOLICITADO = '1', IN_RESTITUI = '0',    
             DT_SOLIC_PAGTO = @dt_pagto, CD_FAVORECIDO = '', CD_BANCO = @cd_banco, NR_REF = 'C', CD_STATUS_CHEQUE = '1',    
             TP_DESTINO = '3', IN_TRANSF_FIN = '1'    
      FROM   TSOLIC_PAGTO     
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_ipi    
    END    
    
    SELECT @nr_lanc_caixa = ISNULL( RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 6 ),  '000001' )    
    FROM   TCAIXA    
    WHERE  DT_MOVIMENTO = @dt_pagto AND CD_COLIGADA = '01'    
    
    IF NOT EXISTS( SELECT *     
                   FROM   TCAIXA    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_ipi )    
    BEGIN    
      INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,     
                      IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR,     
                      VL_ASSIST, IN_RESTITUI )    
      VALUES ( '01', @dt_pagto, @nr_lanc_caixa, @cd_unid_neg, 'F', '1', '0', '1', @vl_ipi, 'D', 'D', @cd_banco, @nr_processo,     
               @cd_item_ipi, 0, 0, '0' )     
    END    
    ELSE    
    BEGIN    
      UPDATE TCAIXA     
      SET    DT_MOVIMENTO = @dt_pagto, TP_LANCAMENTO = 'F', TP_PROCEDENCIA = '1', IN_CANCELADO = '0', IN_TRANSFERIDO = '1',     
             VL_LANCAMENTO = @vl_ipi, TP_PAGAMENTO = 'D', TP_NATUREZA = 'D', CD_BANCO = @cd_banco, VL_IR = 0, VL_ASSIST = 0, IN_RESTITUI = '0',    
             NR_LANCAMENTO = @nr_lanc_caixa    
      FROM   TCAIXA    
      WHERE  CD_COLIGADA = '01' AND    
             NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_ipi    
    END    
     
    IF NOT EXISTS( SELECT *     
                   FROM   TFATURAMENTO_CC    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_ipi )    
    BEGIN    
      SELECT @nr_lanc_fat_cc = ISNULL( RIGHT( '0000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 4 ), '0001' )    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_BANCO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC,     
                               VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO,     
                               INDICE, IN_SEL_FAT )    
      VALUES ( @nr_processo, @nr_lanc_fat_cc, @dt_pagto, @cd_banco, @cd_item_ipi, 'D', '1',    
               @vl_ipi, 0, 0, '0', '0', '0', '0', '0', '1', '1' )    
    END    
    ELSE    
    BEGIN    
      UPDATE TFATURAMENTO_CC     
      SET    DT_LANCAMENTO = @dt_pagto, CD_BANCO = @cd_banco, CD_FORMA_PAGTO = 'D', CD_ORIGEM_LANC = '1',     
             VL_ITEM = @vl_ipi, VL_IR = 0, VL_ASSIST = 0, IN_FATURADO = '0', IN_CANCELADO = '0', IN_RESTITUI = '0',     
             IN_CONTABIL = '0', IN_DEMONSTRADO = '0', INDICE = '1', IN_SEL_FAT = '1'    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_ipi    
    END    
  END    
  ELSE    
  BEGIN    
    --Verifica se o I.P.I. foi parametrizado para Débito em Conta do Cliente    
    IF EXISTS( SELECT *    
               FROM   TCLIENTE_NUMERARIO     
               WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                      CD_PRODUTO = @cd_produto AND    
                      CD_CLIENTE = @cd_cliente AND    
 CD_SERVICO = @cd_servico AND    
                      CD_ITEM = @cd_item_ipi AND    
                      TP_DESTINO IN ('1', '5') )    
    BEGIN    
      -- Se sim, jogar em Fat. C/C Cliente    
      IF NOT EXISTS( SELECT *     
                     FROM   TFATURAMENTO_CC_CLIENTE    
                     WHERE  NR_PROCESSO = @nr_processo AND    
                            CD_ITEM = @cd_item_ipi )    
      BEGIN    
        SELECT @nr_lanc_fat_cc_cli = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo    
    
        IF @nr_lanc_fat_cc_cli = '000' SELECT @nr_lanc_fat_cc_cli = '001'    
    
        INSERT TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO )    
        VALUES ( @nr_processo, @nr_lanc_fat_cc_cli, @dt_pagto, @cd_item_ipi, @vl_ipi, '0' )    
      END    
      ELSE    
      BEGIN    
        UPDATE TFATURAMENTO_CC_CLIENTE    
        SET    VL_ITEM = @vl_ipi, IN_CANCELADO = '0'    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo AND    
               CD_ITEM = @cd_item_ipi    
      END    
    END    
  END    
END    
    
--Tx. Siscomex    
IF @vl_siscomex > 0     
BEGIN    
  --Verifica se a Taxa Siscomex foi parametrizado para Débito em Conta da Comissária    
  IF EXISTS( SELECT *    
             FROM   TCLIENTE_NUMERARIO     
             WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                    CD_PRODUTO = @cd_produto AND    
                    CD_CLIENTE = @cd_cliente AND    
                    CD_SERVICO = @cd_servico AND    
                    CD_ITEM = @cd_item_siscomex AND    
                    TP_DESTINO = '3' )    
  BEGIN    
    -- Se sim, jogar em Pagtos Op., Caixa e Fat. C/C    
    IF NOT EXISTS( SELECT *     
                   FROM   TSOLIC_PAGTO    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_siscomex )    
    BEGIN    
      SELECT @nr_lanc_solic_pagto = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )    
      FROM   TSOLIC_PAGTO    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TSOLIC_PAGTO ( NR_PROCESSO, CD_ITEM, VL_PAGTO, DT_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO,     
                            CD_FAVORECIDO, CD_BANCO, NR_REF, CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, NR_LANCAMENTO )    
      VALUES ( @nr_processo, @cd_item_siscomex, @vl_siscomex, @dt_pagto, '7', '1', '0', @dt_pagto, '', @cd_banco, 'C', '1', '3', '1',     
               @nr_lanc_solic_pagto )    
    END    
    ELSE    
    BEGIN    
      UPDATE TSOLIC_PAGTO     
      SET    VL_PAGTO = @vl_siscomex, DT_PAGTO = @dt_pagto, CD_STATUS = '7', IN_SOLICITADO = '1', IN_RESTITUI = '0',    
             DT_SOLIC_PAGTO = @dt_pagto, CD_FAVORECIDO = '', CD_BANCO = @cd_banco, NR_REF = 'C', CD_STATUS_CHEQUE = '1',    
             TP_DESTINO = '3', IN_TRANSF_FIN = '1'    
      FROM   TSOLIC_PAGTO     
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_siscomex    
    END    
    
    SELECT @nr_lanc_caixa = ISNULL( RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 6 ),  '000001' )    
    FROM   TCAIXA    
    WHERE  DT_MOVIMENTO = @dt_pagto AND CD_COLIGADA = '01'    
    
    IF NOT EXISTS( SELECT *     
                   FROM   TCAIXA    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_siscomex )    
    BEGIN    
      INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,     
                      IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR,     
                      VL_ASSIST, IN_RESTITUI )    
      VALUES ( '01', @dt_pagto, @nr_lanc_caixa, @cd_unid_neg, 'F', '1', '0', '1', @vl_siscomex, 'D', 'D', @cd_banco,     
               @nr_processo, @cd_item_siscomex, 0, 0, '0' )     
    END    
    ELSE    
    BEGIN    
      UPDATE TCAIXA     
      SET    DT_MOVIMENTO = @dt_pagto, TP_LANCAMENTO = 'F', TP_PROCEDENCIA = '1', IN_CANCELADO = '0', IN_TRANSFERIDO = '1',     
             VL_LANCAMENTO = @vl_siscomex, TP_PAGAMENTO = 'D', TP_NATUREZA = 'D', CD_BANCO = @cd_banco, VL_IR = 0, VL_ASSIST = 0, IN_RESTITUI = '0',    
             NR_LANCAMENTO = @nr_lanc_caixa    
      FROM   TCAIXA    
      WHERE  CD_COLIGADA = '01' AND    
             NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_siscomex    
    END    
     
    IF NOT EXISTS( SELECT *     
                   FROM   TFATURAMENTO_CC    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_siscomex )    
    BEGIN    
      SELECT @nr_lanc_fat_cc = ISNULL( RIGHT( '0000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 4 ), '0001' )    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_BANCO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC,     
                               VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO,     
                               INDICE, IN_SEL_FAT )    
      VALUES ( @nr_processo, @nr_lanc_fat_cc, @dt_pagto, @cd_banco, @cd_item_siscomex, 'D', '1',    
               @vl_siscomex, 0, 0, '0', '0', '0', '0', '0', '1', '1' )    
    END    
    ELSE    
    BEGIN    
      UPDATE TFATURAMENTO_CC     
      SET    DT_LANCAMENTO = @dt_pagto, CD_BANCO = @cd_banco, CD_FORMA_PAGTO = 'D', CD_ORIGEM_LANC = '1',     
             VL_ITEM = @vl_siscomex, VL_IR = 0, VL_ASSIST = 0, IN_FATURADO = '0', IN_CANCELADO = '0', IN_RESTITUI = '0',     
             IN_CONTABIL = '0', IN_DEMONSTRADO = '0', INDICE = '1', IN_SEL_FAT = '1'    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_siscomex    
    END    
  END    
  ELSE    
  BEGIN    
    --Verifica se a Taxa Siscomex foi parametrizado para Débito em Conta do Cliente    
    IF EXISTS( SELECT *    
               FROM   TCLIENTE_NUMERARIO     
               WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                      CD_PRODUTO = @cd_produto AND    
                      CD_CLIENTE = @cd_cliente AND    
                      CD_SERVICO = @cd_servico AND    
                      CD_ITEM = @cd_item_siscomex AND    
                      TP_DESTINO IN ('1', '5') )    
    BEGIN    
      -- Se sim, jogar em Fat. C/C Cliente    
      IF NOT EXISTS( SELECT *     
                     FROM   TFATURAMENTO_CC_CLIENTE    
                     WHERE  NR_PROCESSO = @nr_processo AND    
                            CD_ITEM = @cd_item_siscomex )    
      BEGIN    
        SELECT @nr_lanc_fat_cc_cli = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo    
    
        IF @nr_lanc_fat_cc_cli = '000' SELECT @nr_lanc_fat_cc_cli = '001'    
    
        INSERT TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO )    
        VALUES ( @nr_processo, @nr_lanc_fat_cc_cli, @dt_pagto, @cd_item_siscomex, @vl_siscomex, '0' )    
      END    
      ELSE    
      BEGIN    
        UPDATE TFATURAMENTO_CC_CLIENTE    
        SET    VL_ITEM = @vl_siscomex, IN_CANCELADO = '0'    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo AND    
               CD_ITEM = @cd_item_siscomex    
      END    
    END    
  END    
END    
    
--I.C.M.S.  
SELECT @vl_icms = @vl_icms + (SELECT ISNULL(SUM(VL_BASE_CALC_ICMS) * (SELECT (PC_FUNDO_POBREZA_RJ/100) FROM TPARAMETROS), 0)
														 FROM TADICAO_DE_IMPORTACAO WHERE ISNULL(IN_FUNDO_POBREZA, '0') = '1' AND NR_PROCESSO = @nr_processo)
							  
IF @vl_icms > 0   
BEGIN  
  --Verifica se o I.C.M.S. foi parametrizado para Débito em Conta do Cliente  
  IF EXISTS( SELECT *  
             FROM   TCLIENTE_NUMERARIO   
             WHERE  CD_UNID_NEG = @cd_unid_neg AND  
                    CD_PRODUTO = @cd_produto AND  
                    CD_CLIENTE = @cd_cliente AND  
                    CD_SERVICO = @cd_servico AND  
                    CD_ITEM = @cd_item_icms AND  
                    TP_DESTINO = '1' )  
  BEGIN  
    -- Se sim, jogar em Fat. C/C Cliente  
    IF NOT EXISTS( SELECT *   
                   FROM   TFATURAMENTO_CC_CLIENTE  
                   WHERE  NR_PROCESSO = @nr_processo AND  
                          CD_ITEM = @cd_item_icms )  
    BEGIN  
      SELECT @nr_lanc_fat_cc_cli = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )  
      FROM   TFATURAMENTO_CC_CLIENTE  
      WHERE  NR_PROCESSO = @nr_processo  
  
      IF @nr_lanc_fat_cc_cli = '000' SELECT @nr_lanc_fat_cc_cli = '001'  
  
      INSERT TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO )  
      VALUES ( @nr_processo, @nr_lanc_fat_cc_cli, @dt_pagto, @cd_item_icms, @vl_icms, '0' )  
    END  
    ELSE  
    BEGIN  
      UPDATE TFATURAMENTO_CC_CLIENTE  
   SET    VL_ITEM = @vl_icms, IN_CANCELADO = '0'  
      FROM   TFATURAMENTO_CC_CLIENTE  
      WHERE  NR_PROCESSO = @nr_processo AND  
             CD_ITEM = @cd_item_icms  
    END  
  END  
END  
    
--PIS    --07/01/2005    
IF @vl_pis > 0     
BEGIN    
  --Verifica se o PIS foi parametrizado para Débito em Conta da Comissária    
  IF EXISTS( SELECT *    
             FROM   TCLIENTE_NUMERARIO     
             WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                    CD_PRODUTO = @cd_produto AND    
                    CD_CLIENTE = @cd_cliente AND    
                    CD_SERVICO = @cd_servico AND    
                    CD_ITEM = @cd_item_pis AND    
                    TP_DESTINO = '3' )    
  BEGIN    
    -- Se sim, jogar em Pagtos Op., Caixa e Fat. C/C    
    IF NOT EXISTS( SELECT *     
                   FROM   TSOLIC_PAGTO    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_pis )    
    BEGIN    
      SELECT @nr_lanc_solic_pagto = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )    
      FROM   TSOLIC_PAGTO    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TSOLIC_PAGTO ( NR_PROCESSO, CD_ITEM, VL_PAGTO, DT_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO,     
                            CD_FAVORECIDO, CD_BANCO, NR_REF, CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, NR_LANCAMENTO )    
      VALUES ( @nr_processo, @cd_item_pis, @vl_pis, @dt_pagto, '7', '1', '0', @dt_pagto, '', @cd_banco, 'C', '1', '3', '1',     
               @nr_lanc_solic_pagto )    
    END    
    ELSE    
    BEGIN    
      UPDATE TSOLIC_PAGTO     
      SET    VL_PAGTO = @vl_pis, DT_PAGTO = @dt_pagto, CD_STATUS = '7', IN_SOLICITADO = '1', IN_RESTITUI = '0',    
             DT_SOLIC_PAGTO = @dt_pagto, CD_FAVORECIDO = '', CD_BANCO = @cd_banco, NR_REF = 'C', CD_STATUS_CHEQUE = '1',    
             TP_DESTINO = '3', IN_TRANSF_FIN = '1'    
      FROM   TSOLIC_PAGTO     
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_pis    
    END    
    
    SELECT @nr_lanc_caixa = ISNULL( RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 6 ),  '000001' )    
    FROM   TCAIXA    
    WHERE  DT_MOVIMENTO = @dt_pagto AND CD_COLIGADA = '01'    
    IF NOT EXISTS( SELECT *     
                   FROM   TCAIXA    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_pis )    
    BEGIN    
      INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,     
                      IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR,     
                      VL_ASSIST, IN_RESTITUI )    
      VALUES ( '01', @dt_pagto, @nr_lanc_caixa, @cd_unid_neg, 'F', '1', '0', '1', @vl_pis, 'D', 'D', @cd_banco, @nr_processo,     
               @cd_item_pis, 0, 0, '0' )     
    END    
    ELSE    
    BEGIN    
      UPDATE TCAIXA     
      SET    DT_MOVIMENTO = @dt_pagto, TP_LANCAMENTO = 'F', TP_PROCEDENCIA = '1', IN_CANCELADO = '0', IN_TRANSFERIDO = '1',     
             VL_LANCAMENTO = @vl_pis, TP_PAGAMENTO = 'D', TP_NATUREZA = 'D', CD_BANCO = @cd_banco, VL_IR = 0, VL_ASSIST = 0, IN_RESTITUI = '0',    
             NR_LANCAMENTO = @nr_lanc_caixa    
      FROM   TCAIXA    
      WHERE  CD_COLIGADA = '01' AND    
      NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_pis    
    END    
     
    IF NOT EXISTS( SELECT *     
                   FROM   TFATURAMENTO_CC    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_pis )    
    BEGIN    
      SELECT @nr_lanc_fat_cc = ISNULL( RIGHT( '0000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 4 ), '0001' )    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_BANCO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC,     
                               VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO,     
                               INDICE, IN_SEL_FAT )    
      VALUES ( @nr_processo, @nr_lanc_fat_cc, @dt_pagto, @cd_banco, @cd_item_pis, 'D', '1',    
               @vl_pis, 0, 0, '0', '0', '0', '0', '0', '1', '1' )    
    END    
    ELSE    
    BEGIN    
      UPDATE TFATURAMENTO_CC     
      SET    DT_LANCAMENTO = @dt_pagto, CD_BANCO = @cd_banco, CD_FORMA_PAGTO = 'D', CD_ORIGEM_LANC = '1',     
             VL_ITEM = @vl_pis, VL_IR = 0, VL_ASSIST = 0, IN_FATURADO = '0', IN_CANCELADO = '0', IN_RESTITUI = '0',     
             IN_CONTABIL = '0', IN_DEMONSTRADO = '0', INDICE = '1', IN_SEL_FAT = '1'    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_pis    
    END    
  END    
  ELSE    
  BEGIN    
    --Verifica se o PIS foi parametrizado para Débito em Conta do Cliente    
    IF EXISTS( SELECT *    
               FROM   TCLIENTE_NUMERARIO     
               WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                      CD_PRODUTO = @cd_produto AND    
                      CD_CLIENTE = @cd_cliente AND    
                      CD_SERVICO = @cd_servico AND    
                      CD_ITEM = @cd_item_pis AND    
                      TP_DESTINO IN ('1', '5') )    
    BEGIN    
      -- Se sim, jogar em Fat. C/C Cliente    
      IF NOT EXISTS( SELECT *     
                     FROM   TFATURAMENTO_CC_CLIENTE    
                     WHERE  NR_PROCESSO = @nr_processo AND    
                            CD_ITEM = @cd_item_pis )    
      BEGIN    
        SELECT @nr_lanc_fat_cc_cli = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ), '001' )    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo    
    
        IF @nr_lanc_fat_cc_cli = '000' SELECT @nr_lanc_fat_cc_cli = '001'    
    
        INSERT TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO )    
        VALUES ( @nr_processo, @nr_lanc_fat_cc_cli, @dt_pagto, @cd_item_pis, @vl_pis, '0' )    
      END    
      ELSE    
      BEGIN    
        UPDATE TFATURAMENTO_CC_CLIENTE    
        SET    VL_ITEM = @vl_pis, IN_CANCELADO = '0'    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo AND    
               CD_ITEM = @cd_item_pis    
      END    
    END    
  END    
END    
    
--COFINS --07/01/2005    
IF @vl_cofins > 0     
BEGIN    
  --Verifica se o COFINS foi parametrizado para Débito em Conta da Comissária    
  IF EXISTS( SELECT *    
             FROM   TCLIENTE_NUMERARIO     
             WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                    CD_PRODUTO = @cd_produto AND    
                    CD_CLIENTE = @cd_cliente AND    
                    CD_SERVICO = @cd_servico AND    
                    CD_ITEM = @cd_item_cofins AND    
                    TP_DESTINO = '3' )    
  BEGIN    
    -- Se sim, jogar em Pagtos Op., Caixa e Fat. C/C    
    IF NOT EXISTS( SELECT *     
                   FROM   TSOLIC_PAGTO    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_cofins )    
    BEGIN    
      SELECT @nr_lanc_solic_pagto = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )    
      FROM   TSOLIC_PAGTO    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TSOLIC_PAGTO ( NR_PROCESSO, CD_ITEM, VL_PAGTO, DT_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO,     
                            CD_FAVORECIDO, CD_BANCO, NR_REF, CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, NR_LANCAMENTO )    
      VALUES ( @nr_processo, @cd_item_cofins, @vl_cofins, @dt_pagto, '7', '1', '0', @dt_pagto, '', @cd_banco, 'C', '1', '3', '1',     
               @nr_lanc_solic_pagto )    
    END    
    ELSE    
    BEGIN    
      UPDATE TSOLIC_PAGTO     
      SET    VL_PAGTO = @vl_cofins, DT_PAGTO = @dt_pagto, CD_STATUS = '7', IN_SOLICITADO = '1', IN_RESTITUI = '0',    
             DT_SOLIC_PAGTO = @dt_pagto, CD_FAVORECIDO = '', CD_BANCO = @cd_banco, NR_REF = 'C', CD_STATUS_CHEQUE = '1',    
             TP_DESTINO = '3', IN_TRANSF_FIN = '1'    
      FROM   TSOLIC_PAGTO     
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_cofins    
    END    
    
    SELECT @nr_lanc_caixa = ISNULL( RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 6 ),  '000001' )    
    FROM   TCAIXA    
    WHERE  DT_MOVIMENTO = @dt_pagto AND CD_COLIGADA = '01'    
    IF NOT EXISTS( SELECT *     
                   FROM   TCAIXA    
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_cofins )    
    BEGIN    
      INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,     
                      IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR,     
                      VL_ASSIST, IN_RESTITUI )    
      VALUES ( '01', @dt_pagto, @nr_lanc_caixa, @cd_unid_neg, 'F', '1', '0', '1', @vl_cofins, 'D', 'D', @cd_banco, @nr_processo,     
               @cd_item_cofins, 0, 0, '0' )     
    END    
    ELSE    
    BEGIN    
      UPDATE TCAIXA     
      SET    DT_MOVIMENTO = @dt_pagto, TP_LANCAMENTO = 'F', TP_PROCEDENCIA = '1', IN_CANCELADO = '0', IN_TRANSFERIDO = '1',     
             VL_LANCAMENTO = @vl_cofins, TP_PAGAMENTO = 'D', TP_NATUREZA = 'D', CD_BANCO = @cd_banco, VL_IR = 0, VL_ASSIST = 0, IN_RESTITUI = '0',    
             NR_LANCAMENTO = @nr_lanc_caixa    
      FROM   TCAIXA    
      WHERE  CD_COLIGADA = '01' AND    
      NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_cofins    
    END    
     
    IF NOT EXISTS( SELECT *     
                   FROM   TFATURAMENTO_CC   
                   WHERE  NR_PROCESSO = @nr_processo AND    
                          CD_ITEM = @cd_item_cofins )    
    BEGIN    
      SELECT @nr_lanc_fat_cc = ISNULL( RIGHT( '0000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 4 ), '0001' )    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo    
    
      INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_BANCO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC,     
                               VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO,     
                               INDICE, IN_SEL_FAT )    
      VALUES ( @nr_processo, @nr_lanc_fat_cc, @dt_pagto, @cd_banco, @cd_item_cofins, 'D', '1',    
               @vl_cofins, 0, 0, '0', '0', '0', '0', '0', '1', '1' )    
    END    
    ELSE    
    BEGIN    
      UPDATE TFATURAMENTO_CC     
      SET    DT_LANCAMENTO = @dt_pagto, CD_BANCO = @cd_banco, CD_FORMA_PAGTO = 'D', CD_ORIGEM_LANC = '1',     
             VL_ITEM = @vl_cofins, VL_IR = 0, VL_ASSIST = 0, IN_FATURADO = '0', IN_CANCELADO = '0', IN_RESTITUI = '0',     
             IN_CONTABIL = '0', IN_DEMONSTRADO = '0', INDICE = '1', IN_SEL_FAT = '1'    
      FROM   TFATURAMENTO_CC    
      WHERE  NR_PROCESSO = @nr_processo AND    
             CD_ITEM = @cd_item_cofins    
    END    
  END    
  ELSE    
  BEGIN    
    --Verifica se o COFINS foi parametrizado para Débito em Conta do Cliente    
    IF EXISTS( SELECT *    
               FROM   TCLIENTE_NUMERARIO     
               WHERE  CD_UNID_NEG = @cd_unid_neg AND    
                      CD_PRODUTO = @cd_produto AND    
                      CD_CLIENTE = @cd_cliente AND    
                      CD_SERVICO = @cd_servico AND    
                      CD_ITEM = @cd_item_cofins AND    
                      TP_DESTINO IN ('1', '5') )    
    BEGIN    
      -- Se sim, jogar em Fat. C/C Cliente    
      IF NOT EXISTS( SELECT *     
                     FROM   TFATURAMENTO_CC_CLIENTE    
                     WHERE  NR_PROCESSO = @nr_processo AND    
                            CD_ITEM = @cd_item_cofins )    
      BEGIN    
        SELECT @nr_lanc_fat_cc_cli = ISNULL( RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ), '001' )    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo    
    
        IF @nr_lanc_fat_cc_cli = '000' SELECT @nr_lanc_fat_cc_cli = '001'    
    
        INSERT TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO )    
        VALUES ( @nr_processo, @nr_lanc_fat_cc_cli, @dt_pagto, @cd_item_cofins, @vl_cofins, '0' )    
      END    
      ELSE    
      BEGIN    
        UPDATE TFATURAMENTO_CC_CLIENTE    
        SET    VL_ITEM = @vl_cofins, IN_CANCELADO = '0'    
        FROM   TFATURAMENTO_CC_CLIENTE    
        WHERE  NR_PROCESSO = @nr_processo AND    
               CD_ITEM = @cd_item_cofins    
      END    
    END    
  END    
END    
    
/*    
SELECT * FROM TFATURAMENTO_CC WHERE NR_PROCESSO = @nr_processo    
SELECT * FROM TCAIXA WHERE NR_PROCESSO = @nr_processo    
SELECT * FROM TSOLIC_PAGTO WHERE NR_PROCESSO = @nr_processo    
    
ROLLBACK TRAN    
SET XACT_ABORT OFF    
*/    
    
    
    
    
    
    
    

GO
