USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_numerario_999] ( @nr_processo char(18), @nr_solicitacao char(3), @cd_usuario char(4), @vl_saldo_receb float ) AS
IF ( SELECT COUNT(*) 
     FROM   TNUMERARIO 
     WHERE  NR_PROCESSO = @nr_processo AND
            NR_SOLICITACAO = @nr_solicitacao ) = 0 

  INSERT TNUMERARIO ( NR_PROCESSO, NR_SOLICITACAO, DT_SOLICITACAO, CD_USUARIO, CD_STATUS, VL_SOLICITADO, VL_RECEBIDO, IN_EMITIDO, CD_BASE_CALCULO )
    VALUES ( @nr_processo, @nr_solicitacao, CONVERT( DATETIME, CONVERT( CHAR(10), GETDATE(), 103 ), 103 ), 
             @cd_usuario, 'A', 0, 0, '0', '0' )
IF ( ( SELECT COUNT(*) 
       FROM   TNUMERARIO_ITEM_SOLIC
       WHERE  NR_PROCESSO = @nr_processo AND
              NR_SOLICITACAO = @nr_solicitacao AND
              NR_LANCAMENTO = '999') = 0 ) AND ( @vl_saldo_receb > 0 )
  INSERT TNUMERARIO_ITEM_SOLIC ( NR_PROCESSO, NR_SOLICITACAO, NR_LANCAMENTO, CD_ITEM, VL_ITEM_CALCULADO, VL_SOLICITADO,
                                 CD_STATUS, VL_RECEBIDO, VL_UTILIZADO, TP_DESTINO )
    VALUES ( @nr_processo, @nr_solicitacao, '999', '999', 0, @vl_saldo_receb, 'A', 0, 0, '2' )
RETURN(0)






GO
