USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_cancela_receb_autom]( @nr_processo char(18), @cd_item char(3), @vl_recebimento float, 
      @cd_usuario char(4), @dt_solic_ch char(10), @nr_solic_ch char(3) ) AS
DECLARE @nr_recebimento char(3)
-- Pela Solicita+ao
SELECT @nr_recebimento  = R.NR_RECEBIMENTO
FROM   TRECEBIMENTO R,
       TRECEBIMENTO_ITEM_RECEB I
WHERE  R.NR_PROCESSO    = I.NR_PROCESSO AND
       R.NR_RECEBIMENTO = I.NR_RECEBIMENTO AND
       R.NR_PROCESSO    = @nr_processo AND
       I.CD_ITEM        = @cd_item AND
       R.DT_SOLIC_CH = @dt_solic_ch AND
       R.NR_SOLIC_CH = @nr_solic_ch AND
       R.IN_CANCELADO   = '0' AND
       I.IN_CANCELADO   = '0'
IF @@rowcount > 0
BEGIN
  EXEC sp_cancela_recebimento @nr_processo, @nr_recebimento, @cd_usuario
  RETURN(0)
END
ELSE -- Pelo Valor
BEGIN
  SELECT @nr_recebimento  = R.NR_RECEBIMENTO
  FROM   TRECEBIMENTO R,
        TRECEBIMENTO_ITEM_RECEB I
  WHERE  R.NR_PROCESSO    = I.NR_PROCESSO AND
         R.NR_RECEBIMENTO = I.NR_RECEBIMENTO AND
         R.NR_PROCESSO    = @nr_processo AND
         I.CD_ITEM        = @cd_item AND
         R.VL_RECEBIMENTO = @vl_recebimento AND
         R.IN_CANCELADO   = '0' AND
         I.IN_CANCELADO   = '0'
  IF @@rowcount > 0
  BEGIN
    EXEC sp_cancela_recebimento @nr_processo, @nr_recebimento, @cd_usuario
    RETURN(0)
  END
  ELSE
  BEGIN
    RETURN(1)    
  END
END



GO
