USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_veiculo] (@cd_evento char(3), @dt_realizacao datetime, @cd_usuario char(4)) AS
DECLARE @nr_processo char(18)

--IF @dt_realizacao IS NOT NULL
--    SELECT @dt_realizacao = CONVERT(DATETIME, CONVERT(CHAR(10), @dt_realizacao, 103), 103)

IF ISNULL(@cd_evento, '') = ''
    RETURN (1)
ELSE
BEGIN
    UPDATE TFOLLOWUP
    SET DT_REALIZACAO      = @dt_realizacao,
        CD_RESP_REALIZACAO = ISNULL(@cd_usuario, '0000'),
        DT_INSPECAO        = @dt_realizacao,
        CD_RESP_INSPECAO   = ISNULL(@cd_usuario, '0000'),
        CD_RESULT_INSPECAO = 'C'
    FROM TFOLLOWUP F, TPROCESSO_POR_VEICULO P
    WHERE F.NR_PROCESSO    = P.NR_PROCESSO
      AND F.CD_EVENTO      = @cd_evento
      AND F.IN_APLICAVEL   = '1'
      AND P.IN_POR_VEICULO = '1'
      AND P.CD_USUARIO     = @cd_usuario
      --AND ISNULL(F.DT_REALIZACAO, '') = ''

    DECLARE c_veic CURSOR FOR 
        SELECT NR_PROCESSO 
        FROM TPROCESSO_POR_VEICULO
        WHERE IN_POR_VEICULO = '1'

    OPEN c_veic
    FETCH c_veic INTO @nr_processo
    WHILE @@FETCH_STATUS <> -1
    BEGIN
        EXEC sp_atz_followup @nr_processo
        FETCH c_veic INTO @nr_processo
    END
    CLOSE c_veic
    DEALLOCATE c_veic
END

DELETE TPROCESSO_POR_VEICULO
WHERE CD_USUARIO = @cd_usuario
RETURN (0)



GO
