USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_PRE_CALCULO] (@NR_PROCESSO CHAR(18)) AS
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18)
    SET @NR_PROCESSO = '0101IM-1000-09'
    BEGIN TRAN
    /*
    INSERT INTO TPRE_CALCULO_CAPA(NR_PROCESSO, VL_FOB_MOEDA, TX_FOB, VL_FRETE_MOEDA, TX_FRETE, VL_SEGURO_MOEDA, TX_SEGURO, VL_CIF_DOLAR, TX_DOLAR)
    VALUES(@NR_PROCESSO, 30000, 1.78, 2000, 1.78, 99, 1, 0, 1.78)
    
    INSERT TPRE_CALCULO_ADICAO(NR_PROCESSO, NR_ADICAO, VL_CIF_REAIS, PC_ALIQUOTA_II, PC_ALIQUOTA_IPI, PC_ALIQUOTA_PIS, PC_ALIQUOTA_COFINS, PC_ALIQUOTA_ICMS, VL_DESP_ADUAN_REAIS)
    VALUES(@NR_PROCESSO, 1, 20000, 14, 10, 1.65, 7.60, 18, 0)
    INSERT TPRE_CALCULO_ADICAO(NR_PROCESSO, NR_ADICAO, VL_CIF_REAIS, PC_ALIQUOTA_II, PC_ALIQUOTA_IPI, PC_ALIQUOTA_PIS, PC_ALIQUOTA_COFINS, PC_ALIQUOTA_ICMS, VL_DESP_ADUAN_REAIS)
    VALUES(@NR_PROCESSO, 2, 10000, 14, 5, 1.65, 7.60, 18, 0)
    INSERT TPRE_CALCULO_ADICAO(NR_PROCESSO, NR_ADICAO, VL_CIF_REAIS, PC_ALIQUOTA_II, PC_ALIQUOTA_IPI, PC_ALIQUOTA_PIS, PC_ALIQUOTA_COFINS, PC_ALIQUOTA_ICMS, VL_DESP_ADUAN_REAIS)
    VALUES(@NR_PROCESSO, 3, 5000, 14, 5, 1.65, 7.60, 18, 0)
    --*/
    --*/
    
    -- CAPA
    DECLARE @VL_MLE                        FLOAT
    DECLARE @TX_MLE                        FLOAT
    DECLARE @VL_FRETE                      FLOAT
    DECLARE @TX_FRETE                      FLOAT
    DECLARE @VL_SEGURO                     FLOAT
    DECLARE @TX_SEGURO                     FLOAT
    DECLARE @VL_CIF                        FLOAT
    DECLARE @TX_DOLAR                      FLOAT
    
    -- ADIÇÃO
    DECLARE @NR_ADICAO                     INT
    DECLARE @VL_CIF_REAIS                  FLOAT
    DECLARE @PC_ALIQUOTA_II                FLOAT
    DECLARE @VL_II_REAIS                   FLOAT
    DECLARE @PC_ALIQUOTA_IPI               FLOAT
    DECLARE @VL_IPI_REAIS                  FLOAT
    DECLARE @PC_ALIQUOTA_PIS               FLOAT
    DECLARE @VL_PIS_REAIS                  FLOAT
    DECLARE @PC_ALIQUOTA_COFINS            FLOAT
    DECLARE @VL_COFINS_REAIS               FLOAT
    DECLARE @PC_ALIQUOTA_ICMS              FLOAT
    DECLARE @VL_ICMS_REAIS                 FLOAT
    DECLARE @VL_OUTRAS_DESP_REAIS          FLOAT
    DECLARE @VL_DESP_ADUAN_REAIS           FLOAT
    DECLARE @VL_BASE_PIS_COFINS            FLOAT
    DECLARE @VL_BASE_ICMS                  FLOAT
    DECLARE @VL_ALIQUOTA_ESPECIFICA_PIS    FLOAT
    DECLARE @VL_ALIQUOTA_ESPECIFICA_COFINS FLOAT
    DECLARE @QTD_UNID_ESPECIFICA_PIS       FLOAT
    DECLARE @QTD_UNID_ESPECIFICA_COFINS    FLOAT
    
    -- Calculo da taxa do SISCOMEX
    DECLARE @QTD_ADICOES                   INT
    DECLARE @NR_ADICAO_ANTERIOR            INT
    DECLARE @QUANTIDADE                    INT
    DECLARE @TX_ADICAO                     FLOAT
    
    -- Calculos
    DECLARE @CALC_PORCENTAGEM              FLOAT
    DECLARE @CALC_BASE_PIS_COFINS          FLOAT
    DECLARE @CALC_BASE_IPI                 FLOAT
    
    -- Totais
    DECLARE @VL_TOTAL_SCX                  FLOAT
    DECLARE @VL_TOTAL_CIF_REAIS            FLOAT
    
    
    -- Pegar valores da capa
    SELECT @VL_MLE    = VL_MLE_MOEDA * TX_MLE,
           @VL_FRETE  = VL_FRETE_MOEDA * TX_FRETE,
           @VL_SEGURO = VL_SEGURO_MOEDA * TX_SEGURO,
           @VL_CIF    = VL_CIF_DOLAR * TX_DOLAR
    FROM TPRE_CALCULO_CAPA
    WHERE NR_PROCESSO = @NR_PROCESSO
    
    -- Pegar total CIF das adições
    SELECT @VL_TOTAL_CIF_REAIS = SUM(VL_CIF_REAIS),
           @QTD_ADICOES        = COUNT(*)
    FROM TPRE_CALCULO_ADICAO
    WHERE NR_PROCESSO = @NR_PROCESSO
    
    -- Pegar valor total do SISCOMEX
    DECLARE CUR_TAXA CURSOR FOR
        SELECT NR_ADICAO,
               TX_ADICAO 
        FROM TTAXA_SISCOMEX
        ORDER BY NR_ADICAO
    SET @VL_TOTAL_SCX       = 0
    SET @NR_ADICAO_ANTERIOR = 0
    
    OPEN CUR_TAXA
    FETCH CUR_TAXA INTO @NR_ADICAO, @TX_ADICAO
    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF @QTD_ADICOES > @NR_ADICAO
            SET @QUANTIDADE = @NR_ADICAO - @NR_ADICAO_ANTERIOR
        ELSE
            SET @QUANTIDADE = @QTD_ADICOES - @NR_ADICAO_ANTERIOR
        IF @NR_ADICAO = 0
            SET @VL_TOTAL_SCX = @VL_TOTAL_SCX + @TX_ADICAO
        ELSE
            SET @VL_TOTAL_SCX = @VL_TOTAL_SCX + (@QUANTIDADE * @TX_ADICAO)
        IF @QTD_ADICOES <= @NR_ADICAO
            BREAK
        SET @NR_ADICAO_ANTERIOR = @NR_ADICAO
        FETCH CUR_TAXA INTO @NR_ADICAO, @TX_ADICAO
    END
    CLOSE CUR_TAXA
    DEALLOCATE CUR_TAXA
    
    
    -- Percorrer as adições
    DECLARE CUR_ADICOES CURSOR FOR
        SELECT NR_ADICAO,
               ISNULL(VL_CIF_REAIS, 0),
               ISNULL(PC_ALIQUOTA_II, 0) / 100,
               ISNULL(PC_ALIQUOTA_IPI, 0) / 100,
               ISNULL(PC_ALIQUOTA_PIS, 0) / 100,
               ISNULL(PC_ALIQUOTA_COFINS, 0) / 100,
               ISNULL(PC_ALIQUOTA_ICMS, 0) / 100,
               ISNULL(VL_DESP_ADUAN_REAIS, 0),
               ISNULL(VL_ALIQUOTA_ESPECIFICA_PIS, 0),
               ISNULL(VL_ALIQUOTA_ESPECIFICA_COFINS, 0),
               ISNULL(QTD_UNID_ESPECIFICA_PIS, 0),
               ISNULL(QTD_UNID_ESPECIFICA_COFINS, 0)
        FROM TPRE_CALCULO_ADICAO
        WHERE NR_PROCESSO = @NR_PROCESSO
    
    OPEN CUR_ADICOES
    FETCH CUR_ADICOES INTO @NR_ADICAO,
                           @VL_CIF_REAIS,
                           @PC_ALIQUOTA_II,
                           @PC_ALIQUOTA_IPI,
                           @PC_ALIQUOTA_PIS,
                           @PC_ALIQUOTA_COFINS,
                           @PC_ALIQUOTA_ICMS,
                           @VL_DESP_ADUAN_REAIS,
                           @VL_ALIQUOTA_ESPECIFICA_PIS,
                           @VL_ALIQUOTA_ESPECIFICA_COFINS,
                           @QTD_UNID_ESPECIFICA_PIS,
                           @QTD_UNID_ESPECIFICA_COFINS
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Calculo da taxa do SISCOMEX por adição
        SET @VL_OUTRAS_DESP_REAIS = @VL_TOTAL_SCX * (@VL_CIF_REAIS / @VL_TOTAL_CIF_REAIS)
        
        /*
        -- Calculo da Base do PIS/COFINS
        SET @CALC_PORCENTAGEM     = 1 + (@PC_ALIQUOTA_II * @PC_ALIQUOTA_ICMS) + (@PC_ALIQUOTA_IPI * @PC_ALIQUOTA_ICMS) + (@PC_ALIQUOTA_II * @PC_ALIQUOTA_IPI * @PC_ALIQUOTA_ICMS)
        SET @CALC_BASE_PIS_COFINS = (@VL_OUTRAS_DESP_REAIS + @VL_DESP_ADUAN_REAIS) * @PC_ALIQUOTA_ICMS
        SET @VL_BASE_PIS_COFINS   = ((@VL_CIF_REAIS * @CALC_PORCENTAGEM) + @CALC_BASE_PIS_COFINS) / (1 - (@PC_ALIQUOTA_PIS + @PC_ALIQUOTA_COFINS + @PC_ALIQUOTA_ICMS))

        -- Calculo da Base do ICMS
        SET @VL_BASE_ICMS = @VL_BASE_PIS_COFINS + (@PC_ALIQUOTA_II * @VL_CIF_REAIS) + (@PC_ALIQUOTA_IPI * (@VL_CIF_REAIS + (@PC_ALIQUOTA_II * @VL_CIF_REAIS))) + @VL_OUTRAS_DESP_REAIS + @VL_DESP_ADUAN_REAIS
        */
        
        -- O calculo acima não é mais utilizado, utiliza o calculo abaixo
        
        -- Calculo da Base do ICMS para calculo a Base do PIS/COFINS
        SET @CALC_BASE_IPI = @VL_CIF_REAIS + (@VL_CIF_REAIS * @PC_ALIQUOTA_II)
        SET @VL_BASE_ICMS  = (@VL_CIF_REAIS + (@VL_CIF_REAIS * @PC_ALIQUOTA_II)+(@CALC_BASE_IPI * @PC_ALIQUOTA_IPI)) / (1 - @PC_ALIQUOTA_ICMS)
        
        -- Calculo da Base do PIS/COFINS
        SET @VL_BASE_PIS_COFINS = (@VL_CIF_REAIS + (@VL_BASE_ICMS * @PC_ALIQUOTA_ICMS)) / (1 - (@PC_ALIQUOTA_PIS + @PC_ALIQUOTA_COFINS))
        
        SET @VL_II_REAIS     = @VL_CIF_REAIS * @PC_ALIQUOTA_II
        SET @VL_IPI_REAIS    = (@VL_CIF_REAIS + @VL_II_REAIS) * @PC_ALIQUOTA_IPI
        IF @VL_ALIQUOTA_ESPECIFICA_PIS > 0
            SET @VL_PIS_REAIS = @VL_ALIQUOTA_ESPECIFICA_PIS * @QTD_UNID_ESPECIFICA_PIS
        ELSE
            SET @VL_PIS_REAIS    = @VL_BASE_PIS_COFINS * @PC_ALIQUOTA_PIS
        IF @VL_ALIQUOTA_ESPECIFICA_COFINS > 0
            SET @VL_COFINS_REAIS = @VL_ALIQUOTA_ESPECIFICA_COFINS * @QTD_UNID_ESPECIFICA_COFINS
        ELSE
            SET @VL_COFINS_REAIS = @VL_BASE_PIS_COFINS * @PC_ALIQUOTA_COFINS
        
        -- Calculo real da Base do ICMS
        SET @VL_BASE_ICMS = (@VL_CIF_REAIS + @VL_II_REAIS + @VL_IPI_REAIS + @VL_PIS_REAIS + @VL_COFINS_REAIS + @VL_OUTRAS_DESP_REAIS) / (1 - @PC_ALIQUOTA_ICMS)
        
        SET @VL_ICMS_REAIS   = @VL_BASE_ICMS * @PC_ALIQUOTA_ICMS
        
        PRINT ''
        PRINT 'ADIÇÃO..........: ' + CONVERT(VARCHAR, @NR_ADICAO)
        PRINT 'CIF.............: ' + CONVERT(VARCHAR, @VL_CIF_REAIS)
        PRINT 'II..............: ' + CONVERT(VARCHAR, @VL_II_REAIS)
        PRINT 'IPI.............: ' + CONVERT(VARCHAR, @VL_IPI_REAIS)
        PRINT 'BASE IPI........: ' + CONVERT(VARCHAR, @CALC_BASE_IPI)
        PRINT 'BASE PIS/COFINS.: ' + CONVERT(VARCHAR, @VL_BASE_PIS_COFINS)
        PRINT 'PIS.............: ' + CONVERT(VARCHAR, @VL_PIS_REAIS)
        PRINT 'COFINS..........: ' + CONVERT(VARCHAR, @VL_COFINS_REAIS)
        PRINT 'BASE ICMS.......: ' + CONVERT(VARCHAR, @VL_BASE_ICMS)
        PRINT 'ICMS............: ' + CONVERT(VARCHAR, @VL_ICMS_REAIS)
        PRINT 'SISCOMEX........: ' + CONVERT(VARCHAR, @VL_OUTRAS_DESP_REAIS)
        PRINT '-------------------------------------------------------'
        
        UPDATE TPRE_CALCULO_ADICAO
        SET VL_II_REAIS          = @VL_II_REAIS,
            VL_IPI_REAIS         = @VL_IPI_REAIS,
            VL_BASE_PIS_COFINS   = @VL_BASE_PIS_COFINS,
            VL_PIS_REAIS         = @VL_PIS_REAIS,
            VL_COFINS_REAIS      = @VL_COFINS_REAIS,
            VL_BASE_ICMS         = @VL_BASE_ICMS,
            VL_ICMS_REAIS        = @VL_ICMS_REAIS,
            VL_OUTRAS_DESP_REAIS = @VL_OUTRAS_DESP_REAIS
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO   = @NR_ADICAO
        
        FETCH CUR_ADICOES INTO @NR_ADICAO,
                               @VL_CIF_REAIS,
                               @PC_ALIQUOTA_II,
                               @PC_ALIQUOTA_IPI,
                               @PC_ALIQUOTA_PIS,
                               @PC_ALIQUOTA_COFINS,
                               @PC_ALIQUOTA_ICMS,
                               @VL_DESP_ADUAN_REAIS,
                               @VL_ALIQUOTA_ESPECIFICA_PIS,
                               @VL_ALIQUOTA_ESPECIFICA_COFINS,
                               @QTD_UNID_ESPECIFICA_PIS,
                               @QTD_UNID_ESPECIFICA_COFINS
    END
    
    CLOSE CUR_ADICOES
    DEALLOCATE CUR_ADICOES
    
    /*
    ROLLBACK
    --*/
END

GO
