USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_altera_senha    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_rel_fluxo_caixa] @cd_unid_neg char(2), @dt_inicio datetime, @dt_fim datetime AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime

SELECT @cd_unid_neg = '01'
SELECT @dt_inicio = CONVERT( datetime, '01/01/2001', 103 )
SELECT @dt_fim    = CONVERT( datetime, '31/01/2001', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_atual        datetime
DECLARE @dt_ultimo_saldo datetime

DECLARE @vl_rec_adm  float
DECLARE @vl_rec_fat  float
DECLARE @vl_rec_num  float
DECLARE @vl_desp_fat float
DECLARE @vl_desp_adm float
DECLARE @vl_saldo    float

SELECT @dt_atual = @dt_inicio - 1

SELECT @cd_unid_neg = ISNULL( @cd_unid_neg, '' )

DELETE TREL_FLUXO_CAIXA_ANALITICO
WHERE DT_MOVIMENTO < @dt_inicio OR
      DT_MOVIMENTO > @dt_fim 

-- Verifica último saldo
SELECT @dt_ultimo_saldo = MAX( DT_MOVIMENTO )
FROM   TREL_FLUXO_CAIXA
WHERE  DT_MOVIMENTO < @dt_atual

IF @cd_unid_neg = '' 
BEGIN
  SELECT @vl_saldo = SUM( VL_SALDO )
  FROM   TREL_FLUXO_CAIXA
  WHERE  DT_MOVIMENTO = @dt_ultimo_saldo
END
ELSE
BEGIN
  SELECT @vl_saldo = VL_SALDO
  FROM   TREL_FLUXO_CAIXA
  WHERE  DT_MOVIMENTO = @dt_ultimo_saldo AND
         CD_UNID_NEG = @cd_unid_neg
END


SELECT @vl_saldo = ISNULL( @vl_saldo, 0 )

-- Início
WHILE @dt_atual <= @dt_fim
BEGIN
  SELECT @vl_rec_adm  = 0
  SELECT @vl_rec_fat  = 0
  SELECT @vl_rec_num  = 0
  SELECT @vl_desp_fat = 0
  SELECT @vl_desp_adm = 0

  -- Crédito Administrativo
  SELECT @vl_rec_adm = ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 )
  FROM   TADM 
  WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
         TP_NATUREZA = 'C' AND
         DT_VENCTO = @dt_atual AND
         CD_STATUS_ADM NOT IN ( '4', '7', '18'  ) AND
         DT_PAGTO IS NULL

  -- Débito Administrativo
  SELECT @vl_desp_adm = ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) * (-1)
  FROM   TADM 
  WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
         TP_NATUREZA = 'D' AND
         DT_VENCTO = @dt_atual AND
         CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
         DT_PAGTO IS NULL

  -- Crédito Operacional
  SELECT @vl_rec_fat = ISNULL( SUM( FP.VL_FATURA ), 0 )
  FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         F.IN_LIQUIDADO = '0' AND
         F.IN_CANCELADO = '0' AND
         FP.VL_FATURA > 0 AND
         F.DT_VENCTO_FATURA = @dt_atual AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )
     
  -- Débito Operacional
  SELECT @vl_desp_fat = ISNULL( SUM( FP.VL_FATURA ), 0 )
  FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         F.IN_LIQUIDADO = '0' AND
         F.IN_CANCELADO = '0' AND
         FP.VL_FATURA < 0 AND  
         F.DT_VENCTO_FATURA = @dt_atual AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )

  -- Numerários
  SELECT @vl_rec_num = 0
/*
  SELECT @vl_rec_num = ISNULL( SUM( ISNULL( VL_LANCAMENTO, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ), 0 )
  FROM   TCAIXA
  WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )AND
         DT_MOVIMENTO = @dt_atual AND
         IN_CANCELADO = '0' AND
         CD_ITEM IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS )
*/

  SELECT @vl_saldo = @vl_saldo + @vl_rec_adm + @vl_rec_fat + @vl_rec_num + @vl_desp_fat + @vl_desp_adm

  IF EXISTS( SELECT *
             FROM   TREL_FLUXO_CAIXA
             WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( CD_UNID_NEG = 'XX' ) ) AND
                    DT_MOVIMENTO = @dt_atual )
     DELETE TREL_FLUXO_CAIXA
     WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( CD_UNID_NEG = 'XX' ) ) AND
            DT_MOVIMENTO = @dt_atual

  IF @cd_unid_neg = ''
    INSERT TREL_FLUXO_CAIXA 
           ( CD_UNID_NEG, DT_MOVIMENTO, VL_REC_FAT, VL_REC_ADM, VL_REC_NUM, VL_DESP_FAT, VL_DESP_ADM, VL_SALDO )
    VALUES ( 'XX', @dt_atual, @vl_rec_fat, @vl_rec_adm, @vl_rec_num, @vl_desp_fat, @vl_desp_adm, @vl_saldo )
  ELSE
    INSERT TREL_FLUXO_CAIXA 
           ( CD_UNID_NEG, DT_MOVIMENTO, VL_REC_FAT, VL_REC_ADM, VL_REC_NUM, VL_DESP_FAT, VL_DESP_ADM, VL_SALDO )
    VALUES ( @cd_unid_neg, @dt_atual, @vl_rec_fat, @vl_rec_adm, @vl_rec_num, @vl_desp_fat, @vl_desp_adm, @vl_saldo )

  -- Analítico
  DELETE TREL_FLUXO_CAIXA_ANALITICO
  WHERE DT_MOVIMENTO = @dt_atual

  -- Receitas a Receber Administrativas
  INSERT TREL_FLUXO_CAIXA_ANALITICO 
     ( CD_UNID_NEG, DT_MOVIMENTO, CD_FAVORECIDO, NM_DESCRICAO, VL_LANCAMENTO, TP_NATUREZA )
     SELECT A.CD_UNID_NEG, A.DT_VENCTO, A.CD_FAVORECIDO, C.NM_CT_CONTABIL,
            SUM( ISNULL( A.VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), '0'
     FROM   TADM A, TCT_CONTABIL C
     WHERE  A.CD_CT_CONTABIL = C.CD_CT_CONTABIL AND
            A.DT_VENCTO = @dt_atual AND
            A.CD_STATUS_ADM NOT IN ( '4', '7', '18'  ) AND
            A.TP_NATUREZA = 'C' AND
           ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )
     GROUP BY A.CD_UNID_NEG, A.DT_VENCTO, A.CD_FAVORECIDO, C.NM_CT_CONTABIL

  -- Faturas a Receber Banco
  INSERT TREL_FLUXO_CAIXA_ANALITICO 
     ( CD_UNID_NEG, DT_MOVIMENTO, CD_FAVORECIDO, NM_DESCRICAO, VL_LANCAMENTO, TP_NATUREZA )
     SELECT F.CD_UNID_NEG, F.DT_VENCTO_FATURA, 'XX', B.NM_BANCO, SUM( FP.VL_FATURA ), '1'
     FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P, TBANCO B
     WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
            F.CD_PRODUTO = FP.CD_PRODUTO AND
            F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
            FP.NR_PROCESSO = P.NR_PROCESSO AND
            F.CD_BANCO = B.CD_BANCO AND
            ISNULL( F.CD_BANCO, '' ) <> '' AND
            F.IN_LIQUIDADO = '0' AND
            F.IN_CANCELADO = '0' AND
            FP.VL_FATURA > 0 AND
            F.DT_VENCTO_FATURA = @dt_atual AND
            ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )
    GROUP BY F.CD_UNID_NEG, F.DT_VENCTO_FATURA, B.NM_BANCO

  -- Faturas a Receber Carteira
  INSERT TREL_FLUXO_CAIXA_ANALITICO 
     ( CD_UNID_NEG, DT_MOVIMENTO, CD_FAVORECIDO, NM_DESCRICAO, VL_LANCAMENTO, TP_NATUREZA )
     SELECT F.CD_UNID_NEG, F.DT_VENCTO_FATURA, 'XX', 'Faturas a Receber Carteira', SUM( FP.VL_FATURA ), '2'
     FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
     WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
            F.CD_PRODUTO = FP.CD_PRODUTO AND
            F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
            FP.NR_PROCESSO = P.NR_PROCESSO AND
            ISNULL( F.CD_BANCO, '' ) = '' AND
            F.IN_LIQUIDADO = '0' AND
            F.IN_CANCELADO = '0' AND
            FP.VL_FATURA > 0 AND
            F.DT_VENCTO_FATURA = @dt_atual AND
            ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )
    GROUP BY F.CD_UNID_NEG, F.DT_VENCTO_FATURA 

  -- Despesas a Pagar Administrativas
  INSERT TREL_FLUXO_CAIXA_ANALITICO 
     ( CD_UNID_NEG, DT_MOVIMENTO, CD_FAVORECIDO, NM_DESCRICAO, VL_LANCAMENTO, TP_NATUREZA )
     SELECT A.CD_UNID_NEG, A.DT_VENCTO, A.CD_FAVORECIDO, C.NM_CT_CONTABIL,
            SUM( ISNULL( A.VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ) * (-1), '3'
     FROM   TADM A, TCT_CONTABIL C
     WHERE  A.CD_CT_CONTABIL = C.CD_CT_CONTABIL AND
            A.DT_VENCTO = @dt_atual AND
            A.CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
            A.TP_NATUREZA = 'D' AND
            ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )
     GROUP BY A.CD_UNID_NEG, A.DT_VENCTO, A.CD_FAVORECIDO, C.NM_CT_CONTABIL

  -- Faturas a Pagar Carteira
  INSERT TREL_FLUXO_CAIXA_ANALITICO 
     ( CD_UNID_NEG, DT_MOVIMENTO, CD_FAVORECIDO, NM_DESCRICAO, VL_LANCAMENTO, TP_NATUREZA )
     SELECT F.CD_UNID_NEG, F.DT_VENCTO_FATURA, 'XX', 'Faturas a Pagar Carteira', SUM( FP.VL_FATURA ), '4'
     FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
     WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
            F.CD_PRODUTO = FP.CD_PRODUTO AND
            F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
            FP.NR_PROCESSO = P.NR_PROCESSO AND
            ISNULL( F.CD_BANCO, '' ) = '' AND
            F.IN_LIQUIDADO = '0' AND
            F.IN_CANCELADO = '0' AND
            FP.VL_FATURA < 0 AND
            F.DT_VENCTO_FATURA = @dt_atual AND
            ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )
    GROUP BY F.CD_UNID_NEG, F.DT_VENCTO_FATURA 

  -- Faturas a Pagar Banco
  INSERT TREL_FLUXO_CAIXA_ANALITICO 
     ( CD_UNID_NEG, DT_MOVIMENTO, CD_FAVORECIDO, NM_DESCRICAO, VL_LANCAMENTO, TP_NATUREZA )
     SELECT F.CD_UNID_NEG, F.DT_VENCTO_FATURA, 'XX', B.NM_BANCO, SUM( FP.VL_FATURA ), '1'
     FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P, TBANCO B
     WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
            F.CD_PRODUTO = FP.CD_PRODUTO AND
            F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
            FP.NR_PROCESSO = P.NR_PROCESSO AND
            F.CD_BANCO = B.CD_BANCO AND
            ISNULL( F.CD_BANCO, '' ) <> '' AND
            F.IN_LIQUIDADO = '0' AND
            F.IN_CANCELADO = '0' AND
            FP.VL_FATURA < 0 AND
            F.DT_VENCTO_FATURA = @dt_atual AND
            ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )
    GROUP BY F.CD_UNID_NEG, F.DT_VENCTO_FATURA, B.NM_BANCO

  SELECT @dt_atual = @dt_atual + 1  

END



GO
