USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_cast_ctaapagar]( @dt_ctaapagar datetime, @nr_ctaapagar char(3) ) AS

UPDATE TCTAAPAGAR 
SET  VL_DESPESA = CAST( VL_DESPESA AS NUMERIC(15,4) )
WHERE DT_CTAAPAGAR = @dt_ctaapagar
AND  NR_CTAAPAGAR = @nr_ctaapagar

GO
