USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Stored Procedure dbo.sp_cria_ensaios    Script Date: 02/09/1999 08:57:47 AM ******/
CREATE PROCEDURE [sp_cria_ensaios] (@cd_cliente char(5), @cd_unid_neg char(2), 
                             @cd_produto char(2), @cd_item1 char(3),
                             @cd_item2 char(3), @cd_item3 char(3)) AS 
DECLARE @tp_calculo char(3)
DECLARE @cd_servico char(3)
DECLARE @cd_usuario char(4)
SELECT @cd_usuario = CD_USUARIO 
FROM TUSUARIO 
WHERE AP_USUARIO = SUSER_NAME()
IF @cd_produto IN ( '01', '03' )
   SELECT @tp_calculo = '013' -- Receitas Importa+ao
ELSE IF @cd_produto IN ( '02', '10' )
   SELECT @tp_calculo = '014' -- Receitas Exporta+ao
-- ITEM 1
IF ( @cd_item1 <> '' ) AND ( @cd_item1 IS NOT NULL )
BEGIN
  /*
  INSERT INTO TLOG
     SELECT @cd_usuario, '253', 'I', '15', '1530', 
            CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + @cd_item1 + @tp_calculo, getdate()
     FROM TCLIENTE_SERVICO
     WHERE CD_CLIENTE     = @cd_cliente  AND 
           CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto AND
           CD_SERVICO NOT IN ( SELECT CD_SERVICO
            FROM TCLIENTE_PROJECAO
          WHERE  CD_CLIENTE  = @cd_cliente  AND 
          CD_UNID_NEG = @cd_unid_neg AND
                 CD_PRODUTO  = @cd_produto  AND
                 CD_ITEM     = @cd_item1 )
  */  
  INSERT INTO TCLIENTE_PROJECAO
     SELECT CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, @cd_item1, @tp_calculo
     FROM TCLIENTE_SERVICO
     WHERE CD_CLIENTE     = @cd_cliente  AND 
           CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto AND
           CD_SERVICO NOT IN ( SELECT CD_SERVICO
          FROM   TCLIENTE_PROJECAO
          WHERE CD_CLIENTE  = @cd_cliente  AND 
         CD_UNID_NEG = @cd_unid_neg AND
                CD_PRODUTO  = @cd_produto  AND
                CD_ITEM     = @cd_item1 )
END
-- ITEM 2
IF ( @cd_item2 <> '' ) AND ( @cd_item2 IS NOT NULL )
BEGIN
  /*
  INSERT INTO TLOG
     SELECT @cd_usuario, '253', 'I', '15', '1530', 
            CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + @cd_item2 + @tp_calculo, getdate()
     FROM TCLIENTE_SERVICO
     WHERE CD_CLIENTE     = @cd_cliente  AND 
           CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto AND
           CD_SERVICO NOT IN ( SELECT CD_SERVICO
          FROM TCLIENTE_PROJECAO
          WHERE  CD_CLIENTE  = @cd_cliente  AND 
          CD_UNID_NEG = @cd_unid_neg AND
                 CD_PRODUTO  = @cd_produto  AND
                 CD_ITEM     = @cd_item2 )
  */
  INSERT INTO TCLIENTE_PROJECAO
     SELECT CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, @cd_item2, @tp_calculo
     FROM TCLIENTE_SERVICO
     WHERE CD_CLIENTE     = @cd_cliente  AND 
           CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto AND
           CD_SERVICO NOT IN ( SELECT CD_SERVICO
          FROM   TCLIENTE_PROJECAO
          WHERE CD_CLIENTE  = @cd_cliente  AND 
         CD_UNID_NEG = @cd_unid_neg AND
                CD_PRODUTO  = @cd_produto  AND
                CD_ITEM     = @cd_item2 )
END
-- ITEM 3
IF ( @cd_item3 <> '' ) AND ( @cd_item3 IS NOT NULL )
BEGIN
  /*
  INSERT INTO TLOG
     SELECT @cd_usuario, '253', 'I', '15', '1530', 
            CD_CLIENTE + CD_UNID_NEG + CD_PRODUTO + CD_SERVICO + @cd_item3 + @tp_calculo, getdate()
     FROM TCLIENTE_SERVICO
     WHERE CD_CLIENTE     = @cd_cliente  AND 
           CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto AND
           CD_SERVICO NOT IN ( SELECT CD_SERVICO
          FROM TCLIENTE_PROJECAO
          WHERE  CD_CLIENTE  = @cd_cliente  AND 
          CD_UNID_NEG = @cd_unid_neg AND
                 CD_PRODUTO  = @cd_produto  AND
                 CD_ITEM     = @cd_item3 )
  */
  INSERT INTO TCLIENTE_PROJECAO
     SELECT CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, @cd_item3, @tp_calculo
     FROM TCLIENTE_SERVICO
     WHERE CD_CLIENTE     = @cd_cliente  AND 
           CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto AND
           CD_SERVICO NOT IN ( SELECT CD_SERVICO
          FROM   TCLIENTE_PROJECAO
          WHERE CD_CLIENTE  = @cd_cliente  AND 
         CD_UNID_NEG = @cd_unid_neg AND
                CD_PRODUTO  = @cd_produto  AND
                CD_ITEM     = @cd_item3 )
END
RETURN(0)






GO
