USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [sp_integracao_automatica] --'H:\DDBroker\ftp_mesquita\'
(
  @ds_path varchar(100)
)
AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @ident int

SELECT @nr_identificador = 1

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SET NOCOUNT ON
SET DATEFORMAT DMY -- ISSO é FEITO PARA A PROCEDURE RODAR SEM ERROS NO JOB 
                   -- (QDO FOR RODAR MANUALMENTE, FAVOR COMENTAR ESSA LINHA)

DECLARE @bl_005             char(20),
	@cnpj_005           char(18),
	@chpres_005         char(36),
	@dtpres_005         datetime,
	@cd_cliente         char(5),
	@ngravados          integer,
	@dt_pres            datetime,
	@cd_cliente_proc    char(5),
	@nr_processo        char(18), 
	@bl_009             char(20),
	@chpres_009         char(36),
	@cntr_009           char(12),
	@dtdesova_009       datetime,
	@dtcarregamento_009 datetime,
	@dtatracacao_009    datetime,
	@dtretfabrica_009   datetime,
	@dtdevcntr_009      datetime,
	@tpcntr_009         char(4),
	@dt_desova          datetime,
	@dt_carregamento    datetime,
	@dt_atracacao       datetime,
	@dt_ent_fabrica     datetime,
	@dt_devolucao_cntr  datetime,
	@tp_cntr            char(4),
	@dt_realizacao      datetime,
	@dt_ent_patio_009   datetime,
	@dt_ent_patio	    datetime,
	@dt_ret_fabrica     datetime,
	@dtentfabrica_009   datetime,
	@bl_007  	    char(20),
	@nr_sequencia_007   char(3),
	@chpres_007         char(36),
	@embalagem_007      char(12),
	@qtde_007	    float,
	@saldo_007	    float,
	@peso_007           float,
	@obs_avaria_007     char(30),
	@nm_especie         char(100),
	@in_avaria_007      char(1),
	@vl_qtde	    float,
	@saldo              float,
	@peso		    float,
	@obs_avaria         char(30),
	@obs_avaria_009 varchar(300),
	@dt_bl_005 char(8),
	@dt_bl_007 char(8),
	@dt_bl_009 char(8),
	@dimensao_009 varchar(4),
	@tpcntr varchar(8)

SET @ngravados = 0

UPDATE TINT_MESQUITA007_JOB
SET OBS_AVARIA = REPLACE(AVARIA_CARGA_SOLTA, '"', ''),
    CH_PRESENCA = REPLACE(T005.CH_PRESENCA, '"', '')
FROM TINT_MESQUITA008_JOB T008, TINT_MESQUITA007_JOB T007, TINT_MESQUITA005_JOB T005
WHERE T005.NM_CNPJ = T007.NM_CNPJ AND T005.NM_NAVIO = T007.NM_NAVIO AND
      T005.VIAGEM  = T007.VIAGEM AND T005.NR_BL = T007.NR_BL AND
      T005.NM_PORTO = T007.NM_PORTO AND
      T008.NM_CNPJ =* T007.NM_CNPJ AND T008.NM_NAVIO =* T007.NM_NAVIO AND
      T008.VIAGEM  =* T007.VIAGEM AND T008.NR_BL =* T007.NR_BL AND
      T008.NM_PORTO =* T007.NM_PORTO AND T008.NM_ARMADOR =* T007.NM_ARMADOR AND
      T008.NR_SEQUENCIA =* T007.NR_SEQUENCIA

UPDATE TINT_MESQUITA009_JOB
SET DT_ATRACACAO = CAST(REPLACE(REPLACE(REPLACE(T003.DT_ATRACACAO, '"', ''), '/', '-'), '--', '') AS DATETIME),
    CH_PRESENCA = REPLACE(T005.CH_PRESENCA, '"', ''),
    TX_OBS_AVARIA = REPLACE(LOCAL_AVARIA_CNTR, '"', '') + ' ' + REPLACE(AVARIA_CNTR, '"', '') + ' ' + 
    REPLACE(COMPL_AVARIA_CNTR, '"', '') 
FROM TINT_MESQUITA013_JOB T013, TINT_MESQUITA005_JOB T005, TINT_MESQUITA003_JOB T003, TINT_MESQUITA009_JOB T009
WHERE T003.NM_CNPJ = T009.NM_CNPJ AND 
      T003.NM_NAVIO = T009.NM_NAVIO AND 
      T003.VIAGEM = T009.VIAGEM AND
      T005.NM_CNPJ = T009.NM_CNPJ AND T005.NM_NAVIO = T009.NM_NAVIO AND
      T005.VIAGEM  = T009.VIAGEM AND T005.NR_BL = T009.NR_BL AND
      T005.NM_PORTO = T009.NM_PORTO AND
      T005.NM_CNPJ = T013.NM_CNPJ AND T005.NM_NAVIO = T013.NM_NAVIO AND
      T005.VIAGEM  = T013.VIAGEM AND T005.NR_BL = T013.NR_BL AND
      T005.NM_PORTO = T013.NM_PORTO 

-- Grava as divergências
INSERT INTO TDIVERGENCIA_JOB (TX_MOTIVO)
SELECT 'DIV1: Registro ( do arq.TBE009.TXT ) não gravado - não há correspondente no TBE005.TXT - Cliente:'+
        T009.NM_CNPJ + 'Navio:' + T009.NM_NAVIO + 'Viagem:' + T009.VIAGEM + 'BL:' + T009.NR_BL + 
	'Porto:' + T009.NM_PORTO + 'Armador:' + T009.NM_ARMADOR 
FROM TINT_MESQUITA009_JOB T009
WHERE T009.NM_CNPJ NOT IN (SELECT T005.NM_CNPJ FROM TINT_MESQUITA005_JOB T005
			   WHERE T005.NM_CNPJ = T009.NM_CNPJ AND T005.NM_NAVIO = T009.NM_NAVIO AND
			         T005.VIAGEM = T009.VIAGEM AND T005.NR_BL = T009.NR_BL AND 
			      T005.NM_PORTO = T009.NM_PORTO)

-- Se a tabela já existe na base, apago (pode ter ocorrido algum erro na 
-- integração anterior que impediu de o processo ser concluído)
/*IF EXISTS ( SELECT NAME FROM sysobjects WHERE type = 'U' and NAME = 'TMENSAGEM_AUX' )
BEGIN
  DROP TABLE dbo.TMENSAGEM_AUX
END

IF EXISTS (SELECT NAME FROM sysobjects WHERE type = 'U' and NAME = 'TPROCESSO_AVARIA')
BEGIN
  DROP TABLE dbo.TPROCESSO_AVARIA
END
*/
-- Cria as tabelas auxiliares
SELECT CAST('' AS CHAR(4)) AS CD_ANALISTA_COMISSARIA, CAST('' AS CHAR(500))AS DS_TEXT
INTO #TPROCESSO_AVARIA

-- Cria a tabela
/*SELECT CAST('' AS CHAR(500))AS DS_TEXT
INTO dbo.TMENSAGEM_AUX

CREATE TABLE dbo.TMENSAGEM_AUX
(
  DS_TEXT CHAR(500)
)
*/
-- NAVIO - VIAGEM
/* Cursor Tabela TINT_MESQUITA005_JOB */
DECLARE c_int005 CURSOR FOR
SELECT REPLACE( NR_BL, '"', ''), REPLACE( REPLACE( REPLACE( REPLACE( NR_CNPJ, '"', ''), '.', ''), '/',''),'-','') , 
       SUBSTRING( ISNULL(REPLACE( CH_PRESENCA, '"', ''), ''), 11, 8 ), 
       ISNULL(REPLACE( CH_PRESENCA, '"', ''), ''),
       CAST(REPLACE(REPLACE(REPLACE(DT_PRESENCA, '"', ''), '/', '-'), '--', '') AS DATETIME)
FROM TINT_MESQUITA005_JOB

OPEN c_int005 
FETCH c_int005 INTO @bl_005, @cnpj_005, @dt_bl_005, @chpres_005, @dtpres_005
WHILE @@fetch_status = 0
BEGIN

  -- Pega nº Cliente 
  SELECT @cd_cliente = '0'
  IF NOT EXISTS( SELECT CD_EMPRESA
                 FROM   TEMPRESA_NAC
                 WHERE  CGC_EMPRESA = @cnpj_005 )
  BEGIN
    SELECT @ngravados = 1
    INSERT INTO TDIVERGENCIA_JOB
    VALUES ('DIV2: Cliente não cadastrado: ' + @cnpj_005 + ' BL: ' + @bl_005 + ' CH Pres ' + @chpres_005 )
  END 
  ELSE
  BEGIN
    SELECT @cd_cliente = ISNULL(CD_EMPRESA, '')
    FROM   TEMPRESA_NAC
    WHERE  CGC_EMPRESA = @cnpj_005

    -- Procura o processo na TPROCESSO 
    IF NOT EXISTS( SELECT NR_PROCESSO
                   FROM   TPROCESSO
                   WHERE  NR_CONHECIMENTO = @bl_005 AND
		   	  REPLACE((CONVERT(CHAR(10), DT_CONHECIMENTO, 105)),'-', '') = @dt_bl_005 )
    BEGIN
      SELECT @ngravados = 1  
      INSERT INTO TDIVERGENCIA_JOB
      VALUES ('DIV4: Processo não encontrado BL:' + @bl_005 + 'CH PRES:' + @chpres_005 )
    END
    ELSE
    BEGIN
      SELECT @dt_pres = ISNULL(DT_PRESENCA_CARGA, ''), @cd_cliente_proc = ISNULL(CD_CLIENTE, ''), @nr_processo = NR_PROCESSO
      FROM   TPROCESSO
      WHERE  NR_CONHECIMENTO = @bl_005 AND
   	     REPLACE((CONVERT(CHAR(10), DT_CONHECIMENTO, 105)),'-', '') = @dt_bl_005


      -- Grava Data da Presença 
      IF @dtpres_005 <> '' -- se dt do arquivo txt não for nula
      BEGIN
        IF @dt_pres = ''   -- se dt do bco for nula
        BEGIN 
          UPDATE TPROCESSO
          SET    DT_PRESENCA_CARGA = @dtpres_005
          WHERE  NR_CONHECIMENTO = @bl_005 AND
     	         REPLACE((CONVERT(CHAR(10), DT_CONHECIMENTO, 105)),'-', '') = @dt_bl_005
        END   
        ELSE
        BEGIN 
          IF @dtpres_005 <> @dt_pres
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV3: Data da presença de carga divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_005 + 'Presença: ' + @chpres_005 +
                           'no Banco: ' + CONVERT( CHAR(10), @dt_pres, 103 ) + 'no TXT: ' + CONVERT( CHAR(10), @dtpres_005, 103 )) 
          END
        END
      END   

      -- Grava Cliente 
      IF @cd_cliente <> ''       -- se cliente do arquivo txt não for nulo
      BEGIN
        IF @cd_cliente_proc = '' -- se cliente do banco for nulo
        BEGIN
          UPDATE TPROCESSO
          SET    CD_CLIENTE = @cd_cliente
          WHERE  NR_CONHECIMENTO = @bl_005 AND
     	         REPLACE((CONVERT(CHAR(10), DT_CONHECIMENTO, 105)),'-', '') = @dt_bl_005
        END
        ELSE
        BEGIN
          IF @cd_cliente_proc <> @cd_cliente
          BEGIN
           SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV14: Código do Cliente divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_005 + 'Presença: ' + @chpres_005 +
                           'no Banco: ' + @cd_cliente_proc + 'no TXT: ' + @cd_cliente ) 
          END
        END
      END       
    END
  END

  -- Se CH Pres = '', grava no arq. divergência 
  IF @chpres_005 = ''
  BEGIN
    SELECT @ngravados = 1
    INSERT INTO TDIVERGENCIA_JOB
    VALUES ('DIV5: Campo CH Pres branco: BL: ' + @bl_005 )
  END
  ELSE
  BEGIN
    UPDATE TPROCESSO
    SET    NR_PRESENCA_CARGA = @chpres_005
    WHERE  NR_CONHECIMENTO = @bl_005 AND
           REPLACE((CONVERT(CHAR(10), DT_CONHECIMENTO, 105)),'-', '') = @dt_bl_005
  END 

  FETCH c_int005 INTO @bl_005, @cnpj_005, @dt_bl_005, @chpres_005, @dtpres_005
END
CLOSE c_int005
DEALLOCATE c_int005       

-- CONTEINER
-- TINT_MESQUITA009_JOB 
DECLARE c_int009 CURSOR FOR
  SELECT REPLACE( NR_BL, '"', ''), REPLACE( CH_PRESENCA, '"', ''),  SUBSTRING(REPLACE( CH_PRESENCA, '"', ''), 11, 8),
	 REPLACE(REPLACE( RTRIM( NR_CNTR ), '"', ''), '-', '') , 
         CAST(REPLACE(REPLACE(REPLACE(DT_DESOVA, '"', ''), '/', '-'), '--', '') AS DATETIME),
         CAST(REPLACE(REPLACE(REPLACE(DT_CARREGAMENTO, '"', ''), '/', '-'), '--', '') AS DATETIME),
         DT_ATRACACAO,  
         CAST(REPLACE(REPLACE(REPLACE(DT_RET_FABRICA, '"', ''), '/', '-'), '--', '') AS DATETIME),
         CAST(REPLACE(REPLACE(REPLACE(DT_DEV_CNTR, '"', ''), '/', '-'), '--', '') AS DATETIME),
	 ISNULL( REPLACE( TP_CNTR, '"', ''), ''), 
         ISNULL( REPLACE( DIMENSAO, '"', ''), ''),
         CAST(REPLACE(REPLACE(REPLACE(DT_RET_FABRICA, '"', ''), '/', '-'), '--', '') AS DATETIME),
         CAST(REPLACE(REPLACE(REPLACE(DT_ENT_PATIO, '"', ''), '/', '-'), '--', '') AS DATETIME),
	 ISNULL( REPLACE( CAST(TX_OBS_AVARIA as varchar(500)), '"', ''), '')
  FROM   TINT_MESQUITA009_JOB

OPEN c_int009 
FETCH c_int009 INTO @bl_009, @chpres_009, @dt_bl_009, @cntr_009, @dtdesova_009, @dtcarregamento_009, @dtatracacao_009, 
      @dtretfabrica_009, @dtdevcntr_009, @tpcntr_009, @dimensao_009, @dtentfabrica_009, @dt_ent_patio_009, @obs_avaria_009
WHILE @@fetch_status = 0
BEGIN

  -- Procura o processo na TPROCESSO 
  IF NOT EXISTS( SELECT NR_PROCESSO
                 FROM   TPROCESSO
                 WHERE  REPLACE( NR_CONHECIMENTO, ' ', '') = REPLACE( @bl_009, ' ', '') AND
  	   	        REPLACE((CONVERT(CHAR(10), DT_CONHECIMENTO, 105)),'-', '') = @dt_bl_009 )
  BEGIN
    SELECT @ngravados = 1  
    INSERT INTO TDIVERGENCIA_JOB
    VALUES ( 'DIV6: Processo não encontrado ( 009 ) BL: ' + @bl_009 +
                     'CH PRES: ' + @chpres_009 )
  END
  ELSE
  BEGIN
    SELECT @nr_processo = NR_PROCESSO
    FROM   TPROCESSO
    WHERE  REPLACE(NR_CONHECIMENTO, ' ', '') = REPLACE(@bl_009, ' ', '') AND
   	   REPLACE((CONVERT(CHAR(10), DT_CONHECIMENTO, 105)),'-', '') = @dt_bl_009

    IF NOT EXISTS( SELECT NR_PROCESSO
                   FROM   TPROCESSO_CNTR
                   WHERE  NR_PROCESSO = @nr_processo
                     AND  NR_CNTR = @cntr_009 ) 
    BEGIN

     IF (@tpcntr_009 = 'TK' OR @tpcntr_009 = 'TANK')
     BEGIN
       SET @tpcntr = (SELECT TP_CNTR FROM TTP_CNTR WHERE NM_TP_CNTR = 'TANK ' + @dimensao_009 + '"')
     END	
     ELSE
     BEGIN
       SET @tpcntr = (SELECT TP_CNTR FROM TTP_CNTR WHERE NM_TP_CNTR = 'CNTR ' + @dimensao_009 + '"') 
     END	

      INSERT INTO TPROCESSO_CNTR( NR_PROCESSO, NR_CNTR, DT_DESOVA, TP_CNTR, DT_DEVOLUCAO_CNTR, DT_ENT, DT_ENTREGA_FABRICA, DT_RET_CNTR_FABRICA, DT_CARREGAMENTO, DT_ENTRADA_PATIO_TRANSP, TX_OBS_AVARIA, IN_MESQUITA )
      VALUES ( @nr_processo, @cntr_009, @dtdesova_009, @tpcntr, @dtdevcntr_009, @dtatracacao_009, @dtentfabrica_009, @dtretfabrica_009, @dtcarregamento_009, @dt_ent_patio_009, CAST( @obs_avaria_009 as text), '1' )
    END
    ELSE
    BEGIN
      SELECT @dt_desova = ISNULL(DT_DESOVA, ''), @dt_carregamento = ISNULL(DT_CARREGAMENTO, ''),
             @dt_atracacao = ISNULL(DT_ENT, ''), @dt_ent_fabrica = ISNULL(DT_ENTREGA_FABRICA, ''),
             @dt_devolucao_cntr = ISNULL(DT_DEVOLUCAO_CNTR, ''), @tp_cntr = ISNULL(TP_CNTR, ''),
	     @dt_ent_patio = ISNULL( DT_ENTRADA_PATIO_TRANSP, ''), @dt_ent_fabrica = ISNULL( DT_ENTREGA_FABRICA ,'') ,
             @dt_ret_fabrica = ISNULL(DT_RET_CNTR_FABRICA,''), @obs_avaria = ISNULL( TX_OBS_AVARIA, '')
      FROM   TPROCESSO_CNTR
      WHERE  NR_PROCESSO = @nr_processo
        AND  NR_CNTR = @cntr_009  

      --  Data DESOVA
      IF @dtdesova_009 <> '1900-01-01 00:00:00.000'--''
      BEGIN
        IF @dt_desova = '1900-01-01 00:00:00.000'--''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_DESOVA = @dtdesova_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtdesova_009 <> @dt_desova
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV7: Data da Desova divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_009 + 'Presença: ' + @chpres_009 +
                           'CNTR: ' +  @cntr_009 + 
                           'no Banco: ' + CONVERT( CHAR(10), @dt_desova, 103 ) + 'no TXT: ' + CONVERT( CHAR(10), @dtdesova_009, 103 )) 
          END  
        END
      END

      --  Data CARREGAMENTO
      IF @dtcarregamento_009 <> '1900-01-01 00:00:00.000'--''
      BEGIN
        IF @dt_carregamento = '1900-01-01 00:00:00.000'--''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_CARREGAMENTO = @dtcarregamento_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtcarregamento_009 <> @dt_carregamento
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV8: Data do Carregamento divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_009 + 'Presença: ' + @chpres_009 +
                           'CNTR: ' +  @cntr_009 + 'no Banco: ' + CONVERT( CHAR(10), @dt_carregamento, 103 ) + 
                           'no TXT: ' + CONVERT( CHAR(10), @dtcarregamento_009, 103 )) 
          END  
        END
      END

      --  Data ENTRADA/ATRACAÇÃO
      IF @dtatracacao_009 <> '1900-01-01 00:00:00.000'--''
      BEGIN
        IF @dt_atracacao = '1900-01-01 00:00:00.000'--''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_ENT = @dtatracacao_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtatracacao_009 <> @dt_atracacao
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV9: Dt Entrada/Atracação divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_009 + 'Presença: ' + @chpres_009 +
                           'CNTR: ' +  @cntr_009 + 'no Banco: ' + CONVERT( CHAR(10), @dt_atracacao, 103 ) + 
                           'no TXT: ' + CONVERT( CHAR(10), @dtatracacao_009, 103) )
          END  
        END
      END

      --  Data ENTREGA FÁBRICA
      IF @dtentfabrica_009 <> '1900-01-01 00:00:00.000'--''
      BEGIN
        IF @dt_ent_fabrica = '1900-01-01 00:00:00.000'--'
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_ENTREGA_FABRICA = @dtentfabrica_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtretfabrica_009 <> @dt_ent_fabrica
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV10: Dt Entrega Fábrica divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_009 + 'Presença: ' + @chpres_009 +
                           'CNTR: ' +  @cntr_009 + 'no Banco: ' + CAST( @dt_ent_fabrica AS CHAR(10) ) + 
                           'no TXT: ' + CONVERT( CHAR(10), @dtentfabrica_009, 103) ) 
          END  
        END
      END

      --  Data DEVOLUÇÃO CNTR
      IF @dtdevcntr_009 <> '1900-01-01 00:00:00.000'--''
      BEGIN
        IF @dt_devolucao_cntr = '1900-01-01 00:00:00.000'--''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_DEVOLUCAO_CNTR = @dtdevcntr_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtdevcntr_009 <> @dt_devolucao_cntr
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV11: Dt Devolução CNTR divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_009 + 'Presença: ' + @chpres_009 +
                           'CNTR: ' +  @cntr_009 + 'no Banco: ' + CONVERT( CHAR(10), @dt_devolucao_cntr,103 ) + 
                           'no TXT: ' + CONVERT( CHAR(10), @dtdevcntr_009, 103 ) ) 
          END  
        END
      END

      --  Tipo CNTR
      IF @tpcntr_009 <> ''
      BEGIN
        IF @tp_cntr = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    TP_CNTR = @tpcntr_009
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @tpcntr_009 <> @tp_cntr
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV12: Tipo de CNTR divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_009 + 'Presença: ' + @chpres_009 +
                           'CNTR: ' + @cntr_009 + 'no Banco: ' + @tp_cntr + 
                           'no TXT: ' + @tpcntr_009 ) 
          END  
        END
      END

      --  Data REALIZAÇÃO POR PROCESSO
      IF @dtatracacao_009 <> '1900-01-01 00:00:00.000'--''
      BEGIN
        SELECT @dt_realizacao = DT_REALIZACAO
        FROM   TFOLLOWUP
        WHERE  NR_PROCESSO = @nr_processo
          AND  IN_APLICAVEL = 1
          AND  CD_EVENTO = 162

        IF @dt_realizacao = '1900-01-01 00:00:00.000'--''
        BEGIN
          UPDATE TFOLLOWUP
          SET    DT_REALIZACAO = @dtatracacao_009
          WHERE  NR_PROCESSO = @nr_processo
            AND IN_APLICAVEL = 1
            AND CD_EVENTO = 162
        END
        ELSE
        BEGIN
          IF @dtatracacao_009 <> @dt_realizacao
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV13: Data de Realização divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_009 + 'Presença: ' + @chpres_009 +
                           'CNTR:' +  @cntr_009 + 'no Banco: ' + CONVERT( CHAR(10), @dt_realizacao, 103 ) + 
                           'no TXT: ' + CONVERT( CHAR(10), @dtatracacao_009, 103) ) 
          END  
        END
      END

      -- Data RETIRADA FÁBRICA
      IF @dtretfabrica_009 <> '1900-01-01 00:00:00.000'--''
      BEGIN
        IF @dt_ret_fabrica = '1900-01-01 00:00:00.000'--''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_RET_CNTR_FABRICA = @dtretfabrica_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtretfabrica_009 <> @dt_ret_fabrica
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV14: Dt Retirada Fábrica divergente ' + 'Processo: ' + @nr_processo +
                    'BL: ' + @bl_009 + 'Presença: ' + @chpres_009 +
                    'CNTR: ' +  @cntr_009 + 'no Banco: ' + CONVERT( CHAR(10), @dt_ret_fabrica, 103 ) + 
                'no TXT: ' + CONVERT( CHAR(10), @dtretfabrica_009, 103) ) 
          END  
        END
      END

      -- Data ENTRADA PÁTIO
      IF @dt_ent_patio_009 <> '1900-01-01 00:00:00.000'--''
      BEGIN
        IF @dt_ent_patio = '1900-01-01 00:00:00.000'--''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_ENTRADA_PATIO_TRANSP = @dt_ent_patio_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dt_ent_patio_009 <> @dt_ent_patio
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV15: Dt Entrada Pátio divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_009 + 'Presença: ' + @chpres_009 +
                           'CNTR: ' +  @cntr_009 + 'no Banco: ' + CONVERT( CHAR(10), @dt_ent_patio, 103) + 
                           'no TXT:' + CONVERT( CHAR(10),  @dt_ent_patio_009, 103 ) ) 
          END  
        END
      END

      -- Avaria
      IF @obs_avaria_009 <> ''
      BEGIN
        IF @obs_avaria = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    TX_OBS_AVARIA = @obs_avaria_009
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 

          INSERT INTO #TPROCESSO_AVARIA ( CD_ANALISTA_COMISSARIA, DS_TEXT )
	  SELECT P.CD_ANALISTA_COMISSARIA, 'N° Processo: ' + RIGHT( @nr_processo, LEN(@nr_processo) - 4 ) + ' N° Conteiner: ' + LEFT( @cntr_009, 4 ) + '-' + 
	  RIGHT( LEFT( @cntr_009, 7 ), 3 ) + '-' + RIGHT( LEFT( @cntr_009, 10 ), 3 ) + '-' + RIGHT( RTRIM( @cntr_009), 1) +
	    ' Avaria: ' + RTRIM( @obs_avaria_009 )
	  FROM TPROCESSO P
	  WHERE P.NR_PROCESSO = @nr_processo

        END
      END   
    END  
  END

  FETCH c_int009 INTO @bl_009, @chpres_009, @dt_bl_009, @cntr_009, @dtdesova_009, @dtcarregamento_009, @dtatracacao_009, 
	@dtretfabrica_009, @dtdevcntr_009, @tpcntr_009, @dimensao_009, @dtentfabrica_009, @dt_ent_patio_009, @obs_avaria_009
END
CLOSE c_int009
DEALLOCATE c_int009


-- CARGA SOLTA
--TINT_MESQUITA007_JOB

DECLARE c_int007 CURSOR FOR
  SELECT REPLACE( NR_BL, '"', '' ), REPLACE( CH_PRESENCA, '"', '' ), SUBSTRING(REPLACE( CH_PRESENCA, '"', ''), 11, 8), 
	 REPLACE( NR_SEQUENCIA, '"', '' ), 
	 ISNULL(REPLACE( EMBALAGEM, '"', '' ), ''),  
         CAST(REPLACE(LEFT(REPLACE(QTDE, '"', ''), LEN(QTDE)- 5), '.', '') + ',' + 
	 RIGHT(REPLACE(QTDE, '"', ''), 2) AS FLOAT),
	 CAST(REPLACE(LEFT(REPLACE(SALDO, '"', ''), LEN(SALDO)- 5), '.', '') + ',' + 
	 RIGHT(REPLACE(SALDO, '"', ''), 2) AS FLOAT),
	 CAST(REPLACE(LEFT(REPLACE(PESO, '"', ''), LEN(PESO)- 5), '.', '') + ',' + 
	 RIGHT(REPLACE(PESO, '"', ''), 2) AS FLOAT),
	 ISNULL(REPLACE( OBS_AVARIA, '"', '' ), '')
  FROM   TINT_MESQUITA007_JOB
  WHERE  LEFT(REPLACE (EMBALAGEM, '"', '' ), 9) <> 'CONTEINER'

OPEN c_int007
FETCH c_int007 INTO @bl_007, @chpres_007, @dt_bl_007, @nr_sequencia_007, @embalagem_007, @qtde_007, @saldo_007, @peso_007, @obs_avaria_007
WHILE @@fetch_status = 0
BEGIN

  -- Procura o processo na TPROCESSO 
  IF NOT EXISTS( SELECT NR_PROCESSO
                 FROM   TPROCESSO
                 WHERE  NR_CONHECIMENTO = @bl_007 AND
  	   	        REPLACE((convert(char(10), DT_CONHECIMENTO, 105)),'-', '') = @dt_bl_007 )
  BEGIN
    SELECT @ngravados = 1  
    INSERT INTO TDIVERGENCIA_JOB
    VALUES ( 'DIV16: Processo não encontrado ( 007 ) BL: ' + @bl_007 +
             'CH PRES: ' + @chpres_007 )
  END
  ELSE
  BEGIN
    SELECT @nr_processo = NR_PROCESSO
    FROM   TPROCESSO
    WHERE  NR_CONHECIMENTO = @bl_007 AND
     	   REPLACE((convert(char(10), DT_CONHECIMENTO, 105)),'-', '') = @dt_bl_007

    IF NOT EXISTS( SELECT NR_PROCESSO
                   FROM   TPROCESSO_CARGA_SOLTA
                   WHERE  NR_PROCESSO = @nr_processo and NR_SEQUENCIA = @nr_sequencia_007) 
    BEGIN
     INSERT INTO TPROCESSO_CARGA_SOLTA ( NR_PROCESSO, NR_SEQUENCIA, VL_QTDE, NM_ESPECIE, SALDO, PESO, IN_AVARIA, OBS_AVARIA )
      VALUES (  @nr_processo, @nr_sequencia_007, @qtde_007, @embalagem_007, @saldo_007, @peso_007, @in_avaria_007, @obs_avaria_007 )
    END
    ELSE
    BEGIN
    SELECT @vl_qtde = ISNULL(VL_QTDE, 0), @nm_especie = ISNULL(NM_ESPECIE, ''), @saldo = ISNULL(SALDO, 0), 
           @peso = ISNULL(PESO, 0), @obs_avaria = ISNULL(OBS_AVARIA, '')
      FROM   TPROCESSO_CARGA_SOLTA
      WHERE  NR_PROCESSO = @nr_processo AND  NR_SEQUENCIA = @nr_sequencia_007
      
      --  QUANTIDADE
      IF @qtde_007 <> 0 
      BEGIN
        IF @vl_qtde = 0
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    VL_QTDE = @qtde_007
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007
        END
        ELSE
        BEGIN
          IF @qtde_007 <> @vl_qtde
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV17: Quantidade de mercadoria divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_007 + 'Presença: ' + @chpres_007 +
                           'NR_SEQUENCIA: ' +  @nr_sequencia_007 + 
                           'no Banco: ' + CAST(@vl_qtde as CHAR(10)) + 'no TXT: ' + CAST(@qtde_007 as CHAR(10)) ) 
          END  
        END
      END

      --  NM_ESPECIE
      IF @embalagem_007 <> ''
      BEGIN
        IF @nm_especie = ''
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    NM_ESPECIE = @embalagem_007
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007
        END
      END

      -- SALDO
      IF @saldo_007 <> 0
      BEGIN
        IF @saldo = 0
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    SALDO = @saldo_007
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007
        END
        ELSE
        BEGIN
          IF @saldo_007 <> @saldo
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV19: Saldo divergente ' + 'Processo: ' + @nr_processo +
                           'BL: ' + @bl_007 + 'Presença: ' + @chpres_007 +
                           'NR_SEQUENCIA: ' +  @nr_sequencia_007 + 
			   'no Banco: ' + CAST( @saldo as CHAR(10)) + 
                           'no TXT: ' +  CAST( @saldo_007 as CHAR(10)) )
          END  
        END
      END

      -- PESO
      IF @peso_007 <> 0
      BEGIN
        IF @peso = 0
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    PESO =  @peso_007
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007
        END
        ELSE
        BEGIN
          IF @peso_007 <> @peso
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA_JOB
            VALUES ('DIV20: Dt Peso divergente' + ' Processo: ' + @nr_processo +
                           'BL: ' + @bl_007 + 'Presença: ' + @chpres_007 +
                           'NR_SEQUENCIA:' +  @nr_sequencia_007 + 'no Banco: ' + CAST( @peso AS CHAR(10) ) + 
                           'no TXT: ' + CAST( @peso_007 AS CHAR(10) ) ) 
          END  
        END
      END

      --  OBS_AVARIA
      IF @obs_avaria_007 <> ''
      BEGIN
        IF @obs_avaria = ''
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    OBS_AVARIA = @obs_avaria_007,
		 IN_AVARIA = '1' 
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007

          -- VAI FICAR AQUI
          INSERT INTO #TPROCESSO_AVARIA ( CD_ANALISTA_COMISSARIA, DS_TEXT )
	  SELECT P.CD_ANALISTA_COMISSARIA, 'N° Processo: ' + RIGHT( @nr_processo, LEN(@nr_processo) - 4 ) + ' N° Sequencia: ' + @nr_sequencia_007 + 
	  ' Avaria: ' + @obs_avaria_007
	  FROM TPROCESSO P
	  WHERE P.NR_PROCESSO = @nr_processo

       END
END
 END  
  END

  FETCH c_int007 INTO @bl_007, @chpres_007, @dt_bl_007, @nr_sequencia_007, @embalagem_007, @qtde_007, @saldo_007, @peso_007, 
      @obs_avaria_007
END
CLOSE c_int007
DEALLOCATE c_int007

declare @cmd varchar(200)

-- Gera o arquivo de divergência (exporta os dados da TDIVERGENCIA_JOB  para um arquivo txt)
SET @cmd = 'BCP "SELECT DISTINCT TX_MOTIVO FROM BROKER.DBO.TDIVERGENCIA_JOB" queryout '+ @ds_path + 'Divergencia.txt -c -CACP -Sindaia05 -Usa -P123' ---c850
EXEC master..xp_cmdshell @cmd, NO_OUTPUT

-- script para envio de e-mails
declare @cd_analista_comissaria char(4),
	@nm_email varchar(255),	
	@new_email	varchar(255),
	@nm_arquivo varchar (50), 
	@query_result varchar(500)

IF (SELECT COUNT(*) FROM #TPROCESSO_AVARIA) > 0
BEGIN
  -- Abre o cursor
  DECLARE c_EnviaMsg CURSOR FOR
  SELECT DISTINCT CD_ANALISTA_COMISSARIA
  FROM #TPROCESSO_AVARIA
  ORDER BY CD_ANALISTA_COMISSARIA

  OPEN c_EnviaMsg
  FETCH c_EnviaMsg INTO @cd_analista_comissaria
  WHILE @@fetch_status = 0
    BEGIN

      SET @nm_arquivo = 'Processo-Avaria_' + REPLACE(CONVERT(CHAR(10), GETDATE(), 103), '/', '') + '_' + 
          REPLACE(CONVERT(CHAR(5), GETDATE(), 108), ':', 'h') + '.txt'
  
      SET @nm_email = ( SELECT ISNULL( NM_EMAIL, 'suporte@indaialogistica.com.br')
               	        FROM TUSUARIO
		        WHERE CD_USUARIO = @cd_analista_comissaria )
    
    -- Insere na temporária a mensagem de cada analista
      INSERT INTO TMENSAGEM_AUX
      SELECT DS_TEXT	         
      FROM #TPROCESSO_AVARIA
      WHERE CD_ANALISTA_COMISSARIA = @cd_analista_comissaria 

     -- Envia o e-mail com as avarias do processo para o analista
      IF @cd_analista_comissaria = '0007'
      BEGIN
        EXEC master.dbo.xp_sendmail @nm_email, 
           @copy_recipients = 'amanda@indaialogistica.com.br',         
           @query = 'SELECT DS_TEXT FROM BROKER.DBO.TMENSAGEM_AUX', @no_header= 'TRUE', @subject = 'Processo - Avaria',
           @attachments = @nm_arquivo, @attach_results = 'TRUE', @width = 250
      END
      ELSE
      BEGIN
      EXEC master.dbo.xp_sendmail @nm_email, 
           @query = 'SELECT DS_TEXT FROM BROKER.DBO.TMENSAGEM_AUX', @no_header= 'TRUE', @subject = 'Processo - Avaria',
           @attachments = @nm_arquivo, @attach_results = 'TRUE', @width = 250
      END   
      -- Limpa a tabela depois de enviar o e-mail de cada analista
      DELETE TMENSAGEM_AUX

    FETCH c_EnviaMsg INTO @cd_analista_comissaria
  END
  CLOSE c_EnviaMsg
  DEALLOCATE c_EnviaMsg
END

-- Limpa as tabelas auxiliares
DROP TABLE #TPROCESSO_AVARIA
TRUNCATE TABLE dbo.TMENSAGEM_AUX
--DROP TABLE TMENSAGEM_AUX











































GO
