USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_duplica_processo    Script Date: 22/11/1998 10:59:49 ******/
CREATE PROCEDURE [sp_duplica_processo]( @nr_processo_fonte char(18), @nr_processo_destino char(18) ) AS
BEGIN TRAN DUPLICA_PROCESSO 
DECLARE @err  int
DECLARE @hoje datetime
IF NOT EXISTS( SELECT 1 FROM TPROCESSO WHERE NR_PROCESSO = @nr_processo_fonte)
BEGIN
   ROLLBACK TRAN DUPLICA_PROCESSO
   RAISERROR 99999 'Processo fonte nao existente!'
   RETURN (1)
END
IF EXISTS( SELECT 1 FROM TPROCESSO WHERE NR_PROCESSO = @nr_processo_destino)
BEGIN
   ROLLBACK TRAN DUPLICA_PROCESSO
   RAISERROR 99998 'Processo destino existente!'
   RETURN (2)
END
    SELECT @hoje = CONVERT( datetime, CONVERT(char(10), GETDATE(), 103 ), 103 )    
    /* Transferir dados do Processo */

    INSERT INTO TPROCESSO 
          ( NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_USUARIO, 
            DT_ABERTURA, CD_RESTRICAO, CD_LIBERADOR, DT_LIBERACAO, IN_CANCELADO, CD_REPRESENTANTE, NR_PROC_PARCEIRO, 
            TX_MERCADORIA, IN_MERC_PERIGOSA, TX_OBSERVACOES, CD_MOEDA_MLE, VL_MLE_MNEG, VL_MLE_MN, 
            CD_MOEDA_FRETE, VL_FRETE_PREPAID_MNEG, VL_FRETE_COLLECT_MNEG, VL_FRETE_MN, CD_MOEDA_SEGURO, 
            VL_SEGURO_MNEG, VL_SEGURO_MN, CD_AGENTE, VL_TAXA_FRETE, VL_CIF_DOLAR, VL_CIF_MN, VL_II_MN, 
            VL_IPI_MN, VL_ICMS_MN, CD_ARMAZEM_ATRACACAO, CD_ARMAZEM_DESCARGA, CD_ARMAZEM_ESTOCAGEM, 
            CD_TRANSP_NAC, CD_EMBARCACAO, NR_VOO, NR_CONHECIMENTO, NR_CONHECIMENTO_MASTER, 
            CD_PAIS_ORIGEM, CD_LOCAL_EMBARQUE, CD_PAIS_DESTINO, CD_LOCAL_DESEMBARQUE, 
            QT_REF_CLIENTE, QT_SOLINUM, QT_RECEBIMENTO, QT_DEVOLUCOES, QT_LANC_FAT, BASE_CALCULO_SDA, 
            VL_SDA, VL_CONTR_ASSIST, 
            CD_STATUS_SDA, 
            VL_FRETE_INTERNO, NM_LOCAL_NF_LWW, TX_OBS_LWW, IN_LIBERADO, CD_REGIME_TRIB, IN_CHEQUE_SDA, 
            IN_LIQUIDADO, VL_FRETE_TNAC_MNEG, IN_PRODUCAO, IN_SDA_PAGO, IN_URGENTE, CD_ANALISTA_CLIENTE, 
            CD_CELULA, CD_ANALISTA_COMISSARIA, CD_CONTATO, CD_AREA, CD_GRUPO )

           SELECT @nr_processo_destino, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_USUARIO,
           @hoje, CD_RESTRICAO, CD_LIBERADOR, DT_LIBERACAO, '0', CD_REPRESENTANTE, NR_PROC_PARCEIRO, 
	   TX_MERCADORIA, IN_MERC_PERIGOSA, TX_OBSERVACOES, CD_MOEDA_MLE, VL_MLE_MNEG, VL_MLE_MN, 
           CD_MOEDA_FRETE, VL_FRETE_PREPAID_MNEG, VL_FRETE_COLLECT_MNEG, VL_FRETE_MN, CD_MOEDA_SEGURO,
           VL_SEGURO_MNEG, VL_SEGURO_MN, CD_AGENTE, VL_TAXA_FRETE, VL_CIF_DOLAR, VL_CIF_MN, VL_II_MN,
           VL_IPI_MN, VL_ICMS_MN, CD_ARMAZEM_ATRACACAO, CD_ARMAZEM_DESCARGA, CD_ARMAZEM_ESTOCAGEM,
           CD_TRANSP_NAC, CD_EMBARCACAO, NR_VOO, NR_CONHECIMENTO, NR_CONHECIMENTO_MASTER,
           CD_PAIS_ORIGEM, CD_LOCAL_EMBARQUE, CD_PAIS_DESTINO, CD_LOCAL_DESEMBARQUE, 
           QT_REF_CLIENTE, QT_SOLINUM, QT_RECEBIMENTO, QT_DEVOLUCOES, QT_LANC_FAT, 0,
           0, 0, 
           CASE WHEN ( ( CD_STATUS_SDA = '1' ) OR ( CD_STATUS_SDA = '2' ) ) THEN '0'
           ELSE CD_STATUS_SDA
           END,
           VL_FRETE_INTERNO, NM_LOCAL_NF_LWW, TX_OBS_LWW, IN_LIBERADO, CD_REGIME_TRIB, '0', 
           '0', 0, '1', '0', IN_URGENTE, CD_ANALISTA_CLIENTE, CD_CELULA, CD_ANALISTA_COMISSARIA,
           CD_CONTATO, CD_AREA, CD_GRUPO
           FROM  TPROCESSO 
           WHERE NR_PROCESSO = @nr_processo_fonte
           SELECT @err = @@error
           IF @err!=0
           BEGIN
              ROLLBACK TRAN DUPLICA_PROCESSO 
              RAISERROR 99997 'Problema ao inserir na tabela TPROCESSO!'
              RETURN
           END
    EXEC sp_muda_servico @nr_processo_destino
    EXEC sp_atz_evento @nr_processo_destino, 'CD_EV_ABRE_PROC', @hoje 
IF @err=0
BEGIN
  COMMIT TRAN DUPLICA_PROCESSO
  RETURN (0)
END




GO
