USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [sp_atz_tipo_icms] ( @nr_processo char(18)) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT  @nr_processo = '0701IM-0928-11'

SET XACT_ABORT OFF
--*/

DECLARE @in_uf 		    INT
DECLARE @icm_a_pagar    INT
DECLARE @icm_a_exonerar	INT
DECLARE @cd_tipo_icms	CHAR(1)

/*
-- 1 ICMS - GARE
-- 2 ICMS - GNRE
-- 3 EXONERAÇÃO
-- 4 GARE + EXONERAÇÃO
-- 5 GNRE + EXONERAÇÃO
*/

-- Verifica se UF do Importador = UF Local de Despacho
/* 
0 - GNRE
1 - GARE 
*/

/*
SELECT @in_uf = ISNULL(
  (SELECT COUNT(*)
   FROM TDECLARACAO_IMPORTACAO D
   JOIN TEMPRESA_NAC E
     ON (E.CD_EMPRESA = D.CD_IMPORTADOR)
   JOIN TPROCESSO P
     ON (P.NR_PROCESSO = D.NR_PROCESSO)
   JOIN TUNID_NEG U
     ON (U.CD_UNID_NEG = P.CD_UNID_NEG)
   WHERE U.END_UF = E.END_UF AND
         P.NR_PROCESSO = @nr_processo),0)
*/ -- Era assim, mas passou a olhar Local de Despacho ao inves de olhar Unidade de Negócio - Michel - 08/12/2008

-- UF do Cliente = UF do Local de Despacho - Michel - 08/12/2008
SELECT @in_uf = ISNULL(
  (SELECT COUNT(*)
   FROM TDECLARACAO_IMPORTACAO D
     INNER JOIN TEMPRESA_NAC E ON (E.CD_EMPRESA = D.CD_IMPORTADOR)
    INNER JOIN TURF         U ON (U.CODIGO     = D.CD_URF_DESPACHO)
   WHERE NR_PROCESSO = @nr_processo
     AND U.END_UF    = E.END_UF
     AND U.END_UF    IN ('SP', 'RJ')), 0) -- Condição nova (RS, RS) - Michel - 15/06/2011

PRINT @IN_UF

SELECT @icm_a_pagar = ISNULL(
  (SELECT COUNT(*)
   FROM   TADICAO_DE_IMPORTACAO
   WHERE  NR_PROCESSO = @nr_processo AND
          CD_TRIBUTACAO_ICMS IN ('1', '4') AND
          (ISNULL(CD_FUND_LEGAL_ICMS, '') = '')), 0)

SELECT @icm_a_exonerar = ISNULL(
  (SELECT COUNT(*)
   FROM   TADICAO_DE_IMPORTACAO
   WHERE  NR_PROCESSO = @nr_processo AND
          ISNULL(IN_PERMITE_CAT63, '0') = '0' AND
          ISNULL(CD_FUND_LEGAL_ICMS, '') <> ''), 0)

SELECT @cd_tipo_icms = '0'

IF ( @icm_a_pagar > 0 ) AND ( @icm_a_exonerar > 0 ) -- Possui ambos
BEGIN
  IF @in_uf = 1
    SELECT @cd_tipo_icms = '4'
  ELSE
    SELECT @cd_tipo_icms = '5'
END
ELSE
BEGIN
  IF @in_uf = 1
  BEGIN  
    IF @icm_a_pagar > 0    SELECT @cd_tipo_icms = '1'
    IF @icm_a_exonerar > 0 SELECT @cd_tipo_icms = '3'
  END
  ELSE
  BEGIN
    IF @icm_a_pagar > 0    SELECT @cd_tipo_icms = '2'
    IF @icm_a_exonerar > 0 SELECT @cd_tipo_icms = '3'
  END
END

UPDATE TDECLARACAO_IMPORTACAO
SET CD_TIPO_ICMS = @cd_tipo_icms
WHERE NR_PROCESSO = @nr_processo

PRINT @cd_tipo_icms

--COMMIT

--ROLLBACK TRAN

GO
