USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_calculo_fatura_master](@cd_master char(20), @cd_via_transp char(2), 
          @vl_acc_master float, @in_account char(1)) As

IF @vl_acc_master = 0 
  SET @vl_acc_master = 1 


DELETE FROM TPROCESSO_FATURA_AG 
   WHERE NR_PROCESSO IN (SELECT H.NR_PROCESSO FROM THOUSE H WHERE H.CD_MASTER = @cd_master)

INSERT INTO TPROCESSO_FATURA_AG(NR_PROCESSO, NR_FATURA, TP_FATURA, IN_FATURA, DT_FATURA, 
                                VL_CRE_AGENTE, VL_DEB_AGENTE, VL_CRE_BRASIL, VL_DEB_BRASIL, VL_AJUSTE, 
                                IN_SELECIONADO, CD_VIA_TRANSP, CD_MOEDA, CD_AGENTE, CD_CLIENTE, CD_FATURA, CD_MASTER)
SELECT  P.NR_PROCESSO, F.NR_FATURA,  
  CASE
  WHEN (F.TP_FATURA  = '0') AND ((ISNULL(F.VL_CRE_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) < 0) THEN '1'
  WHEN (F.TP_FATURA  = '0') AND ((ISNULL(F.VL_CRE_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) > 0) THEN '0'

  WHEN (F.TP_FATURA  = '1') AND ((ISNULL(F.VL_DEB_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) < 0) THEN '0'
  WHEN (F.TP_FATURA  = '1') AND ((ISNULL(F.VL_DEB_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) > 0) THEN '1'

  WHEN (F.TP_FATURA  = '2') AND ((ISNULL(F.VL_CRE_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) < 0) THEN '3'
  WHEN (F.TP_FATURA  = '2') AND ((ISNULL(F.VL_CRE_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) > 0) THEN '2'

  WHEN (F.TP_FATURA  = '3') AND ((ISNULL(F.VL_DEB_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) < 0) THEN '2'
  WHEN (F.TP_FATURA  = '3') AND ((ISNULL(F.VL_DEB_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) > 0) THEN '3'
  ELSE '4'
  END AS TP_FATURA, '0', F.DT_FATURA, 
  
 CASE --para os valores de credito agente
  WHEN (F.TP_FATURA  = '0') AND ((ISNULL(F.VL_CRE_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) > 0) THEN 
      ABS(ROUND((ISNULL(F.VL_CRE_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master),2))
  WHEN (F.TP_FATURA  = '1') AND ((ISNULL(F.VL_DEB_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) < 0) THEN 
     ABS(ROUND((ISNULL(F.VL_DEB_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master),2))
  ELSE 0
 END AS VL_CRE_AGENTE,
  
 CASE --para os valores de debito agente
  WHEN (F.TP_FATURA  = '0') AND ((ISNULL(F.VL_CRE_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) < 0) THEN 
      ABS(ROUND((ISNULL(F.VL_CRE_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master),2))
  WHEN (F.TP_FATURA  = '1') AND ((ISNULL(F.VL_DEB_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) > 0) THEN 
      ABS(ROUND((ISNULL(F.VL_DEB_AGENTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master),2))
  ELSE 0
  END AS VL_DEB_AGENTE,

 CASE  --para os valores de credito brasil
  WHEN (F.TP_FATURA  = '2') AND ((ISNULL(F.VL_CRE_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) > 0) THEN 
      ABS(ROUND((ISNULL(F.VL_CRE_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master),2))
  WHEN (F.TP_FATURA  = '3') AND ((ISNULL(F.VL_DEB_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) < 0) THEN 
      ABS(ROUND((ISNULL(F.VL_DEB_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master),2))
  ELSE 0
  END AS VL_CRE_BRASIL,
   
 CASE--para os valores de debito brasil
  WHEN (F.TP_FATURA  = '3') AND ((ISNULL(F.VL_DEB_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) > 0) THEN
      ABS(ROUND((ISNULL(F.VL_DEB_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master),2))
  WHEN (F.TP_FATURA  = '2') AND ((ISNULL(F.VL_CRE_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master) < 0) THEN 
      ABS(ROUND((ISNULL(F.VL_CRE_BRASIL,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master),2))
  ELSE 0
  END AS VL_DEB_BRASIL, 

  CASE --para os valores de ajuste
   WHEN F.TP_FATURA = '4' THEN 
    ABS(ROUND((ISNULL(F.VL_AJUSTE,0) * ISNULL(P.VL_ACCOUNT,0) /@vl_acc_master),2))
   ELSE 0 
  END AS VL_AJUSTE, 
  '0', @cd_via_transp, P.CD_MOEDA_FRETE, P.CD_AGENTE, P.CD_CLIENTE, F.CD_FATURA, @cd_master

 FROM TMASTER_FATURA_AG F, TPROCESSO P, THOUSE H
   WHERE F.CD_MASTER = @cd_master
    AND  F.CD_MASTER = H.CD_MASTER
    AND  H.NR_PROCESSO = P.NR_PROCESSO
    AND  ISNULL(F.IN_COMPLEMENTAR,'0') = '0'





GO
