USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [sp_rel_flx_cx] @cd_unid_neg char(2), @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @dt_inicio   datetime
DECLARE @dt_fim      datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @dt_inicio   = CONVERT( datetime, '01/03/2006', 103 )
SELECT @dt_fim      = CONVERT( datetime, '03/03/2006', 103 )
SELECT @nr_identificador = 1

ROLLBACK TRAN
SET XACT_ABORT OFF
*/


DECLARE @vl_saldo_rec     float, @vl_saldo_prev    float, @vl_rec_r_desemb  float
DECLARE @vl_rec_p_desemb  float, @vl_rec_r_ft      float, @vl_rec_r_fi      float
DECLARE @vl_rec_p_fi      float, @vl_saldo_inicial float 
DECLARE @dt_inicial       datetime

DECLARE @vl_des_p_da  float, @vl_des_g_da  float, @vl_des_p_dp  float, @vl_des_g_dp  float
DECLARE @vl_des_p_ps  float, @vl_des_g_ps  float, @vl_des_p_hd  float, @vl_des_g_hd  float
DECLARE @vl_des_p_cd  float, @vl_des_g_cd  float, @vl_des_p_i   float, @vl_des_g_i   float
DECLARE @vl_des_p_cs  float, @vl_des_g_cs  float, @vl_des_p_af  float, @vl_des_g_af  float
DECLARE @vl_des_p_as  float, @vl_des_g_as  float, @vl_des_p_ae  float, @vl_des_g_ae  float
DECLARE @vl_des_p_au  float, @vl_des_g_au  float, @vl_des_p_ef  float, @vl_des_g_ef  float
DECLARE @vl_des_p_es  float, @vl_des_g_es  float, @vl_des_p_sg  float, @vl_des_g_sg  float
DECLARE @vl_des_p_or  float, @vl_des_g_or  float

DECLARE @vl_des_g_da1  float, @vl_des_g_da2  float, @vl_des_g_dp1  float, @vl_des_g_dp2  float
DECLARE @vl_des_g_ps1  float, @vl_des_g_ps2  float, @vl_des_g_hd1  float, @vl_des_g_hd2  float
DECLARE @vl_des_g_cd1  float, @vl_des_g_cd2  float, @vl_des_g_i1   float, @vl_des_g_i2   float
DECLARE @vl_des_g_cs1  float, @vl_des_g_cs2  float, @vl_des_g_af1  float, @vl_des_g_af2  float
DECLARE @vl_des_g_as1  float, @vl_des_g_as2  float, @vl_des_g_ae1  float, @vl_des_g_ae2  float
DECLARE @vl_des_g_au1  float, @vl_des_g_au2  float, @vl_des_g_ef1  float, @vl_des_g_ef2  float
DECLARE @vl_des_g_es1  float, @vl_des_g_es2  float, @vl_des_g_sg1  float, @vl_des_g_sg2  float
DECLARE @vl_des_g_or1  float, @vl_des_g_or2  float

DECLARE @vl_des_t_da  float, @vl_des_t_dp  float, @vl_des_t_ps  float, @vl_des_t_hd  float
DECLARE @vl_des_t_cd  float, @vl_des_t_i   float, @vl_des_t_cs  float, @vl_des_t_af  float
DECLARE @vl_des_t_as  float, @vl_des_t_ae  float, @vl_des_t_au  float, @vl_des_t_ef  float
DECLARE @vl_des_t_es  float, @vl_des_t_sg  float, @vl_des_t_or  float 

DECLARE @vl_tot_ent  float,      @vl_tot_ent_prev float,    @vl_tot_disp_real float 
DECLARE @vl_tot_disp_prev float, @vl_saida_real_prev float, @vl_saida_real float

DECLARE @vl_des_p_cor float, @vl_des_p_dds float, @vl_tot_p_adm float
DECLARE @vl_tot_p_pes float, @vl_des_p_sal float, @vl_des_p_fab float
DECLARE @vl_des_p_fin float, @vl_des_p_dec float

DECLARE @vl_tot_r_adm  float, @vl_des_r_cor  float, @vl_des_r_cor1 float, @vl_des_r_cor2 float
DECLARE @vl_des_r_dds  float, @vl_des_r_dds1 float, @vl_des_r_dds2 float, @vl_tot_r_pes  float
DECLARE @vl_des_r_sal  float, @vl_des_r_sal1 float, @vl_des_r_sal2 float, @vl_des_r_fab  float
DECLARE @vl_des_r_fab1 float, @vl_des_r_fab2 float, @vl_des_r_fin  float, @vl_des_r_fin1 float
DECLARE @vl_des_r_fin2 float, @vl_des_r_dec  float, @vl_des_r_dec1 float, @vl_des_r_dec2 float 


SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
  FROM TREL_FLX_CX

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT @dt_inicial = @dt_inicio

SELECT @vl_saldo_inicial = 0
SELECT @vl_saldo_inicial = ISNULL( VL_SALDO, 0 )
  FROM TSALDO_FLX_CX (NOLOCK)
  WHERE CD_UNID_NEG = @cd_unid_neg
    AND DT_MOVIMENTO = DATEADD( day, -1, @dt_inicial )


WHILE @dt_inicial <= @dt_fim
BEGIN
  IF DATEPART( dw, @dt_inicial ) NOT IN ( 8 )
  BEGIN
--        IF CONVERT( datetime, @dt_temp, 103 ) IN ( SELECT CONVERT( datetime, DT_FERIADO, 103 )  FROM   TFERIADO )

    SELECT @vl_rec_r_desemb = 0, @vl_rec_p_desemb = 0, @vl_rec_r_ft  = 0, @vl_rec_r_fi   = 0,  @vl_rec_p_fi     = 0
    SELECT @vl_saldo_rec    = 0, @vl_saldo_prev   = 0
  
    SELECT @vl_des_p_da  = 0, @vl_des_g_da  = 0, @vl_des_p_dp  = 0, @vl_des_g_dp  = 0
    SELECT @vl_des_p_ps  = 0, @vl_des_g_ps  = 0, @vl_des_p_hd  = 0, @vl_des_g_hd  = 0
    SELECT @vl_des_p_cd  = 0, @vl_des_g_cd  = 0, @vl_des_p_i   = 0, @vl_des_g_i   = 0
    SELECT @vl_des_p_cs  = 0, @vl_des_g_cs  = 0, @vl_des_p_af  = 0, @vl_des_g_af  = 0
    SELECT @vl_des_p_as  = 0, @vl_des_g_as  = 0, @vl_des_p_ae  = 0, @vl_des_g_ae  = 0
    SELECT @vl_des_p_au  = 0, @vl_des_g_au  = 0, @vl_des_p_ef  = 0, @vl_des_g_ef  = 0
    SELECT @vl_des_p_es  = 0, @vl_des_g_es  = 0, @vl_des_p_sg  = 0, @vl_des_g_sg  = 0
    SELECT @vl_des_p_or  = 0, @vl_des_g_or  = 0

    SELECT @vl_des_t_da  = 0, @vl_des_t_dp  = 0, @vl_des_t_ps  = 0, @vl_des_t_hd  = 0
    SELECT @vl_des_t_cd  = 0, @vl_des_t_i   = 0, @vl_des_t_cs  = 0, @vl_des_t_af  = 0
    SELECT @vl_des_t_as  = 0, @vl_des_t_ae  = 0, @vl_des_t_au  = 0, @vl_des_t_ef  = 0
    SELECT @vl_des_t_es  = 0, @vl_des_t_sg  = 0, @vl_des_t_or  = 0

    SELECT @vl_tot_ent  = 0,      @vl_tot_ent_prev = 0,    @vl_tot_disp_real = 0 
    SELECT @vl_tot_disp_prev = 0, @vl_saida_real_prev = 0, @vl_saida_real = 0

    SELECT @vl_des_p_cor = 0, @vl_des_p_dds = 0, @vl_tot_p_adm = 0
    SELECT @vl_des_p_sal = 0, @vl_des_p_fab = 0, @vl_des_p_fin = 0
    SELECT @vl_des_p_dec = 0, @vl_tot_p_pes = 0 

    SELECT @vl_tot_r_adm  = 0, @vl_des_r_cor  = 0, @vl_des_r_cor1 = 0, @vl_des_r_cor2 = 0 
    SELECT @vl_des_r_dds  = 0, @vl_des_r_dds1 = 0, @vl_des_r_dds2 = 0, @vl_tot_r_pes  = 0
    SELECT @vl_des_r_sal  = 0, @vl_des_r_sal1 = 0, @vl_des_r_sal2 = 0, @vl_des_r_fab  = 0
    SELECT @vl_des_r_fab1 = 0, @vl_des_r_fab2 = 0, @vl_des_r_fin  = 0, @vl_des_r_fin1 = 0
    SELECT @vl_des_r_fin2 = 0, @vl_des_r_dec  = 0, @vl_des_r_dec1 = 0, @vl_des_r_dec2 = 0 

    -- ENTRADAS
    -- Receita Recebida Desembaraço
    SELECT @vl_rec_r_desemb = ISNULL( SUM( FP.VL_INFORMADO ), 0 )
      FROM TS_FATURA F (NOLOCK)
           INNER JOIN TS_FATURA_PROCESSO_ITEM FP (NOLOCK) ON ( F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO = FP.CD_PRODUTO AND F.NR_SOLICITACAO = FP.NR_SOLICITACAO ) 
           INNER JOIN TITEM I (NOLOCK) ON ( FP.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
     WHERE F.DT_FATURA = @dt_inicial AND
           F.CD_PRODUTO IN ( '01', '02' ) AND
           F.IN_CANCELADO = '0' AND
           ( ( F.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND 
           SUBSTRING( FP.NR_PROCESSO, 5, 2 ) <> 'FT'

    -- Receita Prevista Desembaraço
    SELECT @vl_rec_p_desemb = ISNULL( SUM( FP.VL_INFORMADO ), 0 )
      FROM TFOLLOWUP FU (NOLOCK), TS_FATURA_PROCESSO_ITEM FP (NOLOCK), TITEM I (NOLOCK) 
     WHERE FU.DT_PREVISTA = @dt_inicial AND
           FU.CD_EVENTO = '092' AND
           ISNULL( FU.DT_REALIZACAO, '' ) = '' AND
           SUBSTRING( FU.NR_PROCESSO, 3, 2 ) IN ( '01', '02' ) AND
           ( ( SUBSTRING( FU.NR_PROCESSO, 1, 2 ) = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
           FU.NR_PROCESSO = FP.NR_PROCESSO AND 
           SUBSTRING( FP.NR_PROCESSO, 5, 2 ) <> 'FT' AND
           FP.CD_ITEM = I.CD_ITEM AND 
           I.IN_TRIBUTAVEL = '1'  

    -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Receita Recebida Terceirização (FT)
    SELECT @vl_rec_r_ft = ( SELECT ISNULL( SUM( FC.VL_ITEM ), 0 )
                              FROM TS_FATURA F (NOLOCK)
                                   INNER JOIN TFATURAMENTO_CC FC (NOLOCK) ON ( FC.CD_UNID_NEG = F.CD_UNID_NEG AND F.CD_PRODUTO = FC.CD_PRODUTO AND F.NR_SOLICITACAO = FC.NR_SOLIC_FAT )
                                   INNER JOIN TITEM I (NOLOCK) ON ( FC.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
                             WHERE SUBSTRING( FC.NR_PROCESSO, 5, 2 ) = ('FT') AND
                                   F.DT_FATURA = @dt_inicial AND  
                                   F.IN_CANCELADO = '0' AND
                                   ( ( F.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) )  AND
                                   FC.IN_RESTITUI = '0' ) - 
                          ( SELECT ISNULL( SUM( FC.VL_ITEM ), 0 )
                              FROM TS_FATURA F (NOLOCK)
                                   INNER JOIN TFATURAMENTO_CC FC (NOLOCK) ON ( FC.CD_UNID_NEG = F.CD_UNID_NEG AND F.CD_PRODUTO = FC.CD_PRODUTO AND F.NR_SOLICITACAO = FC.NR_SOLIC_FAT )
                                   INNER JOIN TITEM I (NOLOCK) ON ( FC.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
                             WHERE SUBSTRING( FC.NR_PROCESSO, 5, 2 ) = ('FT') AND
                                   F.DT_FATURA = @dt_inicial AND
                                   F.IN_CANCELADO = '0' AND
                                   ( ( F.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
                                   FC.IN_RESTITUI = '1' )
    -- Receita Prevista Terceirização (FT)
    -- NÃO HÁ COMO PREVER Terceirização (FT)


    -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Receita Recebida F.I.
    SELECT @vl_rec_r_fi = ( SELECT ISNULL( SUM( VL_ITEM ), 0 )
                              FROM TS_FATURA F (NOLOCK)
                                   INNER JOIN TFATURAMENTO_CC FC (NOLOCK) ON ( FC.CD_UNID_NEG = F.CD_UNID_NEG AND F.CD_PRODUTO = FC.CD_PRODUTO AND F.NR_SOLICITACAO = FC.NR_SOLIC_FAT )
                                   INNER JOIN TITEM I (NOLOCK) ON ( FC.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
                             WHERE F.DT_FATURA = @dt_inicial AND 
                                   F.CD_PRODUTO IN ( '03', '10' ) AND 
                                   F.IN_CANCELADO = '0' AND
                                   ( ( F.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND 
                                   FC.IN_RESTITUI = '0' ) - 
                          ( SELECT ISNULL( SUM( VL_ITEM ), 0 )
                              FROM TS_FATURA F (NOLOCK)
                                   INNER JOIN TFATURAMENTO_CC FC (NOLOCK) ON ( FC.CD_UNID_NEG = F.CD_UNID_NEG AND F.CD_PRODUTO = FC.CD_PRODUTO AND F.NR_SOLICITACAO = FC.NR_SOLIC_FAT )
                                   INNER JOIN TITEM I (NOLOCK) ON ( FC.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
                             WHERE F.DT_FATURA = @dt_inicial AND
                                   F.CD_PRODUTO IN ( '03', '10' ) AND 
                                   F.IN_CANCELADO = '0' AND
                                   ( ( F.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
                                   FC.IN_RESTITUI = '1' )

    -- Receita Prevista F.I.
    SELECT @vl_rec_p_fi = ISNULL( SUM( VL_ITEM ), 0 )
      FROM TFOLLOWUP FU (NOLOCK), TFATURAMENTO_CC FC (NOLOCK), TITEM I (NOLOCK)
     WHERE FU.DT_PREVISTA = @dt_inicial AND  
           FU.CD_EVENTO = '092' AND
           ISNULL( FU.DT_REALIZACAO, '' ) = '' AND
           SUBSTRING( FU.NR_PROCESSO, 3, 2 ) IN ( '03', '10' ) AND 
           ( ( SUBSTRING( FU.NR_PROCESSO, 1, 2 ) = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
           FU.NR_PROCESSO = FC.NR_PROCESSO AND
           FC.CD_ITEM = I.CD_ITEM AND 
          I.IN_TRIBUTAVEL = '1'  

    SELECT @vl_saldo_rec = @vl_rec_r_desemb + @vl_rec_r_ft + @vl_rec_r_fi
    SELECT @vl_saldo_prev = @vl_rec_p_desemb + @vl_rec_p_fi 

    -- SAÍDAS
    -- DESPESAS ADMINISTRATIVAS * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    -- Previsto
    SELECT @vl_des_p_da = ISNULL( SUM( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100001' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_da1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100001' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_da2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100001' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_da = @vl_des_g_da1 + @vl_des_g_da2   
    SELECT @vl_des_t_da = @vl_des_p_da + @vl_des_g_da

    -- DESPESAS C/ PESSOAL  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Previsto
    SELECT @vl_des_p_dp = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300000' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
   -- Pago - Direto Caixa
    SELECT @vl_des_g_dp1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300000' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_dp2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300000' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_dp = @vl_des_g_dp1 + @vl_des_g_dp2   
    SELECT @vl_des_t_dp = @vl_des_p_dp + @vl_des_g_dp

    -- PRESTAÇÃO DE SERVIÇOS  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Previsto
    SELECT @vl_des_p_ps = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6110100005' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA)     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_ps1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6110100005' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_ps2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6110100005' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_ps = @vl_des_g_ps1 + @vl_des_g_ps2   
    SELECT @vl_des_t_ps = @vl_des_p_ps + @vl_des_g_ps

    -- HONORÁRIOS DIRETORIA  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Previsto
    SELECT @vl_des_p_hd = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410200005' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_hd1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410200005' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_hd2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410200005' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_hd = @vl_des_g_hd1 + @vl_des_g_hd2   
    SELECT @vl_des_t_hd = @vl_des_p_hd + @vl_des_g_hd    

    -- CRED. E DEV. SÓCIO / PARENT  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    -- Previsto
    SELECT @vl_des_p_cd = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2111100005' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_cd1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2111100005' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_cd2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2111100005' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA)
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_cd = @vl_des_g_cd1 + @vl_des_g_cd2   
    SELECT @vl_des_t_cd = @vl_des_p_cd + @vl_des_g_cd
 
    -- IMPOSTOS  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    -- Previsto
    SELECT @vl_des_p_i = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6210100007' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_i1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6210100007' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_i2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6210100007' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_i = @vl_des_g_i1 + @vl_des_g_i2   
    SELECT @vl_des_t_i = @vl_des_p_i + @vl_des_g_i

    -- CUSTO DOS SERV. PRESTADOS * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    -- Previsto
    SELECT @vl_des_p_cs = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6310100009' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_cs1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6310100009' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_cs2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6310100009' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA)
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_cs = @vl_des_g_cs1 + @vl_des_g_cs2   
    SELECT @vl_des_t_cs = @vl_des_p_cs + @vl_des_g_cs

    -- ADTO A FORNECEDOR  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    -- Previsto
    SELECT @vl_des_p_af = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121100007' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_af1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121100007' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_af2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121100007' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_af = @vl_des_g_af1 + @vl_des_g_af2   
    SELECT @vl_des_t_af = @vl_des_p_af + @vl_des_g_af

    -- ADIANT 13º SALÁRIO  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    -- Previsto
    SELECT @vl_des_p_as = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120400007' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_as1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120400007' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_as2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120400007' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_as = @vl_des_g_as1 + @vl_des_g_as2   
    SELECT @vl_des_t_as = @vl_des_p_as + @vl_des_g_as

    -- ADIANT DE FÉRIAS * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Previsto
    SELECT @vl_des_p_ae = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120500001' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_ae1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120500001' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_ae2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120500001' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_ae = @vl_des_g_ae1 + @vl_des_g_ae2   
    SELECT @vl_des_t_ae = @vl_des_p_ae + @vl_des_g_ae

    -- ADIANT FUNCIONÁRIO * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Previsto
    SELECT @vl_des_p_au = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120300002' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_au1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120300002' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_au2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120300002' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_au = @vl_des_g_au1 + @vl_des_g_au2   
    SELECT @vl_des_t_au = @vl_des_p_au + @vl_des_g_au

    -- EMPRÉSTIMO A FUNCIONÁRIO * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Previsto
    SELECT @vl_des_p_ef = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121300006' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_ef1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121300006' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_ef2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121300006' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_ef = @vl_des_g_ef1 + @vl_des_g_ef2   
    SELECT @vl_des_t_ef = @vl_des_p_ef + @vl_des_g_ef

    -- ENCARGOS SOCIAIS * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Previsto
    SELECT @vl_des_p_es = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410400004' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_es1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410400004' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_es2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410400004' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_es = @vl_des_g_es1 + @vl_des_g_es2   
    SELECT @vl_des_t_es = @vl_des_p_es + @vl_des_g_es

    -- SAL. GRAT. HONORÁRIOS A PAGAR * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Previsto
    SELECT @vl_des_p_sg = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2110800003' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_sg1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2110800003' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_sg2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2110800003' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_sg = @vl_des_g_sg1 + @vl_des_g_sg2   
    SELECT @vl_des_t_sg = @vl_des_p_sg + @vl_des_g_sg

    -- OUTRAS RECEITAS FINANCEIRAS * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    -- Previsto
    SELECT @vl_des_p_or = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6120200002' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Pago - Direto Caixa
    SELECT @vl_des_g_or1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6120200002' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_or2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6120200002' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial

    SELECT @vl_des_g_or = @vl_des_g_or1 + @vl_des_g_or2   
    SELECT @vl_des_t_or = @vl_des_p_or + @vl_des_g_or

    -- TOTAIS
    SELECT @vl_tot_ent = @vl_saldo_inicial + @vl_saldo_rec 
    SELECT @vl_tot_ent_prev = @vl_saldo_inicial + @vl_saldo_rec + @vl_saldo_prev
    SELECT @vl_saida_real = ( @vl_des_g_da + @vl_des_g_dp + @vl_des_g_ps + @vl_des_g_hd + @vl_des_g_cd + @vl_des_g_i +
       @vl_des_g_cs + @vl_des_g_af + @vl_des_g_as + @vl_des_g_ae + @vl_des_g_au + @vl_des_g_ef + @vl_des_g_es + @vl_des_g_sg + @vl_des_g_or )
    SELECT @vl_saida_real_prev = ( @vl_saida_real + @vl_des_p_da + @vl_des_p_dp + @vl_des_p_ps + @vl_des_p_hd + @vl_des_p_cd + @vl_des_p_i +
       @vl_des_p_cs + @vl_des_p_af + @vl_des_p_as + @vl_des_p_ae + @vl_des_p_au + @vl_des_p_ef + @vl_des_p_es + @vl_des_p_sg + @vl_des_p_or )
    SELECT @vl_tot_disp_real = @vl_tot_ent - @vl_saida_real
    SELECT @vl_tot_disp_prev = @vl_tot_ent_prev - @vl_saida_real_prev

    -- SAÍDAS PREVISTAS - ANALÍTICO
    -- -- DESPESAS ADMINISTRATIVAS
    -- Despesas com Corretagem
    SELECT @vl_des_p_cor = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100523' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Despesas com Comunicação de Dados
    SELECT @vl_des_p_dds = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100515' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial

    SELECT @vl_tot_p_adm = @vl_des_p_cor + @vl_des_p_dds

    -- -- DESPESAS COM PESSOAL
    -- Salário e Ordenado
    SELECT @vl_des_p_sal = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300018' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Férias - abono
    SELECT @vl_des_p_fab = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300026' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- Férias - indenizadas
    SELECT @vl_des_p_fin = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300034' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial
    -- 13º salário
    SELECT @vl_des_p_dec = ISNULL( SUM ( L.VL_LANCAMENTO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300042' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )     
    WHERE C.DT_VENCIMENTO = @dt_inicial

    SELECT @vl_tot_p_pes = @vl_des_p_sal + @vl_des_p_fab + @vl_des_p_fin + @vl_des_p_dec

    -- SAÍDAS REAIS - ANALÍTICO
    -- DESPESAS ADMINISTRATIVAS
    -- Despesas com Corretagem
    SELECT @vl_des_r_cor1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )  -- Direto Caixa
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100523' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    SELECT @vl_des_r_cor2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )      -- Provisionado 
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100523' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial
    SELECT @vl_des_r_cor = @vl_des_r_cor1 + @vl_des_r_cor2
    -- Despesas com Comunicação de Dados
    SELECT @vl_des_r_dds1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )  -- Direto Caixa
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100515' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    SELECT @vl_des_r_dds2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )      -- Provisionado 
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100515' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial
    SELECT @vl_des_r_dds = @vl_des_r_dds1 + @vl_des_r_dds2

    SELECT @vl_tot_r_adm = @vl_des_r_cor + @vl_des_r_dds

    -- DESPESAS COM PESSOAL
    -- Salário e Ordenado
    SELECT @vl_des_r_sal1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )  -- Direto Caixa
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300018' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    SELECT @vl_des_r_sal2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )      -- Provisionado 
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300018' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial
    SELECT @vl_des_r_sal = @vl_des_r_sal1 + @vl_des_r_sal2
    -- Férias - abono
    SELECT @vl_des_r_fab1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )  -- Direto Caixa
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300026' )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    SELECT @vl_des_r_fab2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )      -- Provisionado 
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300026' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial
    SELECT @vl_des_r_fab = @vl_des_r_fab1 + @vl_des_r_fab2
    -- Férias - indenizadas
    SELECT @vl_des_r_fin1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )  -- Direto Caixa
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300034' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    SELECT @vl_des_r_fin2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )      -- Provisionado 
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300034' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial
    SELECT @vl_des_r_fin = @vl_des_r_fin1 + @vl_des_r_fin2
    -- 13º salário
    SELECT @vl_des_r_dec1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )  -- Direto Caixa
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300042' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_inicial
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    SELECT @vl_des_r_dec2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )      -- Provisionado 
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300042' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_inicial
    SELECT @vl_des_r_dec = @vl_des_r_dec1 + @vl_des_r_dec2

    SELECT @vl_tot_r_pes = @vl_des_r_sal + @vl_des_r_fab + @vl_des_r_fin + @vl_des_r_dec


    INSERT TREL_FLX_CX 
           ( NR_IDENTIFICADOR, CD_UNID_NEG,  DT_MOVIMENTO,  VL_REC_R_DESEMB, VL_REC_R_FT,  VL_REC_R_FI,  VL_REC_P_DESEMB,
             VL_REC_P_FI,      VL_SALDO_REC, VL_SALDO_PREV, VL_DES_P_DA,     VL_DES_G_DA,  VL_DES_T_DA,  VL_DES_P_DP, 
             VL_DES_G_DP,    	 VL_DES_T_DP,  VL_DES_P_PS,   VL_DES_G_PS,     VL_DES_T_PS,  VL_DES_P_HD,  VL_DES_G_HD, 
             VL_DES_T_HD,      VL_DES_P_CD,  VL_DES_G_CD,   VL_DES_T_CD,     VL_DES_P_I,   VL_DES_G_I,   VL_DES_T_I, 
             VL_DES_P_CS,      VL_DES_G_CS,  VL_DES_T_CS,   VL_DES_P_AF,     VL_DES_G_AF,  VL_DES_T_AF,  VL_DES_P_AS, 
             VL_DES_G_AS,      VL_DES_T_AS,  VL_DES_P_AE,   VL_DES_G_AE,     VL_DES_T_AE,  VL_DES_P_AU,  VL_DES_G_AU, 
             VL_DES_T_AU,      VL_DES_P_EF,  VL_DES_G_EF,   VL_DES_T_EF,     VL_DES_P_ES,  VL_DES_G_ES,  VL_DES_T_ES, 
             VL_DES_P_SG,      VL_DES_G_SG,  VL_DES_T_SG,   VL_DES_P_OR,     VL_DES_G_OR,  VL_DES_T_OR,  VL_TOT_ENT, 
             VL_TOT_ENT_PREV,  VL_TOT_DISP_REAL,            VL_TOT_DISP_PREV,VL_SAIDA_REAL_PREV,         VL_SAIDA_REAL,
             VL_SALDO_INICIAL, VL_DES_P_COR, VL_DES_R_COR,  VL_DES_P_DDS,    VL_DES_R_DDS, VL_DES_P_SAL, VL_DES_R_SAL, 

             VL_DES_P_FAB,     VL_DES_R_FAB, VL_DES_P_FIN,  VL_DES_R_FIN,    VL_DES_P_DEC, VL_DES_R_DEC, VL_TOT_P_ADM, 
             VL_TOT_R_ADM,     VL_TOT_P_PES, VL_TOT_R_PES )
    VALUES ( @nr_identificador,@cd_unid_neg, @dt_inicial,    @vl_rec_r_desemb,@vl_rec_r_ft, @vl_rec_r_fi, @vl_rec_p_desemb, 
             @vl_rec_p_fi,     @vl_saldo_rec,@vl_saldo_prev,@vl_des_p_da,    @vl_des_g_da, @vl_des_t_da, @vl_des_p_dp, 
             @vl_des_g_dp,     @vl_des_t_dp, @vl_des_p_ps,  @vl_des_g_ps,    @vl_des_t_ps, @vl_des_p_hd, @vl_des_g_hd, 
             @vl_des_t_hd,     @vl_des_p_cd, @vl_des_g_cd,  @vl_des_t_cd,    @vl_des_p_i,  @vl_des_g_i,  @vl_des_t_i,
             @vl_des_p_cs,     @vl_des_g_cs, @vl_des_t_cs,  @vl_des_p_af,    @vl_des_g_af, @vl_des_t_af, @vl_des_p_as,
             @vl_des_g_as,     @vl_des_t_as, @vl_des_p_ae,  @vl_des_g_ae,    @vl_des_t_ae, @vl_des_p_au, @vl_des_g_au,
             @vl_des_t_au,     @vl_des_p_ef, @vl_des_g_ef,  @vl_des_t_ef,    @vl_des_p_es, @vl_des_g_es, @vl_des_t_es, 
             @vl_des_p_sg,     @vl_des_g_sg, @vl_des_t_sg,  @vl_des_p_or,    @vl_des_g_or, @vl_des_t_or, @vl_tot_ent,
             @vl_tot_ent_prev, @vl_tot_disp_real,           @vl_tot_disp_prev,@vl_saida_real_prev,       @vl_saida_real,
             @vl_saldo_inicial,@vl_des_p_cor,@vl_des_r_cor, @vl_des_p_dds,   @vl_des_r_dds,@vl_des_p_sal,@vl_des_r_sal,
             @vl_des_p_fab,    @vl_des_r_fab,@vl_des_p_fin, @vl_des_r_fin,   @vl_des_p_dec,@vl_des_r_dec,@vl_tot_p_adm,
             @vl_tot_r_adm,    @vl_tot_p_pes,@vl_tot_r_pes )


    IF @vl_tot_disp_real <> 0 
      SELECT @vl_saldo_inicial = @vl_tot_disp_real

    SELECT @vl_tot_ent = 0
    SELECT @vl_tot_ent_prev = 0
    SELECT @vl_saida_real = 0
    SELECT @vl_saida_real_prev = 0
    SELECT @vl_tot_disp_real = 0
    SELECT @vl_tot_disp_prev = 0

  END

  SELECT @dt_inicial = @dt_inicial + 1  

END




GO
