USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_exp_calc_ncm]( @nr_processo char(18), @nr_quebra int )  AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_quebra int 
SELECT @nr_processo = '0102ER-1267-07'
SELECT @nr_quebra = 0

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

DECLARE @cd_normas char(10)
DECLARE @nm_norma varchar(200)
DECLARE @cd_acordo char(10)
DECLARE @cd_acordo_ant char(10)
DECLARE @nr_ordem_cert_origem char(3)
DECLARE @str_nr_ordem_cert_origem varchar(100)
DECLARE @nr_item char(3)
DECLARE @nr_ordem int
DECLARE @nr_seq int
DECLARE @cd_ncm char(11)
DECLARE @nr_seq_ncm int
DECLARE @cd_pais_destino char(3)
DECLARE @nr_pagina int 
DECLARE @nr_nova_pagina int

SELECT @cd_pais_destino = CD_PAIS_DESTINO
FROM   TPROCESSO_EXP
WHERE  NR_PROCESSO = @nr_processo

IF @nr_quebra < 1 SELECT @nr_quebra = 999

-- Nº de Ordem
SELECT @nr_ordem = 0
SELECT @cd_acordo_ant = ''

--limpa ordem antiga
UPDATE TPROCESSO_EXP_ITEM SET NR_ORDEM_CERT_ORIGEM = '' WHERE NR_PROCESSO = @nr_processo

IF EXISTS( SELECT * FROM TPARAMETROS WHERE TP_NCM = '0' )
BEGIN
/*
  IF NOT EXISTS ( SELECT *
                  FROM   TPROCESSO_EXP_ITEM
                  WHERE  NR_PROCESSO = @nr_processo AND
                         LTRIM( RTRIM( ISNULL( CD_ACORDO, "" ) ) ) = "ACE 18" ) RETURN 1
*/
  IF @cd_pais_destino = '589' -- PERU
    DECLARE c_cert_origem CURSOR FOR
      SELECT CD_ACORDO, NR_ITEM, CD_NCM, NR_SEQ_NCM, CD_NORMAS
      FROM   TPROCESSO_EXP_ITEM
      WHERE  NR_PROCESSO = @nr_processo AND
             ISNULL(CD_NCM_DOC, '') <> '' 
      ORDER BY CD_ACORDO, NR_ITEM, CD_NCM, NR_SEQ_NCM, CD_NORMAS
  ELSE
    DECLARE c_cert_origem CURSOR FOR
      SELECT CD_ACORDO, '999', CD_NCM, NR_SEQ_NCM, CD_NORMAS
      FROM   TPROCESSO_EXP_ITEM
      WHERE  NR_PROCESSO = @nr_processo AND
             ISNULL(CD_NCM_DOC, '') <> '' 
      GROUP BY CD_ACORDO, CD_NORMAS, CD_NCM, NR_SEQ_NCM
      ORDER BY CD_ACORDO, CD_NORMAS, CD_NCM, NR_SEQ_NCM

  OPEN c_cert_origem

  FETCH c_cert_origem INTO @cd_acordo, @nr_item, @cd_ncm, @nr_seq_ncm, @cd_normas
  WHILE @@fetch_status = 0
  BEGIN
    IF @cd_acordo <> @cd_acordo_ant SELECT @nr_ordem = 0

    SELECT @nr_ordem = @nr_ordem + 1

    IF @cd_pais_destino = '589' -- PERU
      UPDATE TPROCESSO_EXP_ITEM
      SET    NR_ORDEM_CERT_ORIGEM = RIGHT( '000' + CONVERT( varchar, @nr_ordem ), 3 )
      WHERE  NR_PROCESSO = @nr_processo AND
             NR_ITEM = @nr_item
    ELSE
      UPDATE TPROCESSO_EXP_ITEM
      SET    NR_ORDEM_CERT_ORIGEM = RIGHT( '000' + CONVERT( varchar, @nr_ordem ), 3 )
      WHERE  NR_PROCESSO = @nr_processo AND
             CD_NCM = @cd_ncm AND NR_SEQ_NCM = @nr_seq_ncm AND
             CD_NORMAS = @cd_normas AND CD_ACORDO = @cd_acordo

    SELECT @cd_acordo_ant = @cd_acordo

    FETCH c_cert_origem INTO @cd_acordo, @nr_item, @cd_ncm, @nr_seq_ncm, @cd_normas
  END
END
ELSE
BEGIN
/*
  IF NOT EXISTS ( SELECT *
                  FROM   TPROCESSO_EXP_ITEM
                  WHERE  NR_PROCESSO = @nr_processo AND
                         LTRIM( RTRIM( ISNULL( CD_ACORDO, "" ) ) ) = "ACE 18" ) RETURN 1
*/
  IF @cd_pais_destino = '589' -- PERU
    DECLARE c_cert_origem CURSOR FOR
      SELECT CD_ACORDO, NR_ITEM, CD_NCM_DOC, NR_SEQ_NCM_DOC, CD_NORMAS
      FROM   TPROCESSO_EXP_ITEM
      WHERE  NR_PROCESSO = @nr_processo AND
             ISNULL(CD_NCM_DOC, '') <> '' 
      ORDER BY CD_ACORDO, NR_ITEM, CD_NCM_DOC, NR_SEQ_NCM_DOC, CD_NORMAS
  ELSE
    DECLARE c_cert_origem CURSOR FOR
      SELECT CD_ACORDO, '999', CD_NCM_DOC, NR_SEQ_NCM_DOC, CD_NORMAS
      FROM   TPROCESSO_EXP_ITEM
      WHERE  NR_PROCESSO = @nr_processo AND
             ISNULL(CD_NCM_DOC, '') <> '' 
      GROUP BY CD_ACORDO, CD_NORMAS, CD_NCM_DOC, NR_SEQ_NCM_DOC
      ORDER BY CD_ACORDO, CD_NORMAS, CD_NCM_DOC, NR_SEQ_NCM_DOC

  OPEN c_cert_origem

  FETCH c_cert_origem INTO @cd_acordo, @nr_item, @cd_ncm, @nr_seq_ncm, @cd_normas
  WHILE @@fetch_status = 0
  BEGIN
    IF @cd_acordo <> @cd_acordo_ant SELECT @nr_ordem = 0

    SELECT @nr_ordem = @nr_ordem + 1

    IF @cd_pais_destino = '589' -- PERU
      UPDATE TPROCESSO_EXP_ITEM
      SET    NR_ORDEM_CERT_ORIGEM = RIGHT( '000' + CONVERT( varchar, @nr_ordem ), 3 )
      WHERE  NR_PROCESSO = @nr_processo AND
             NR_ITEM = @nr_item
    ELSE
      UPDATE TPROCESSO_EXP_ITEM
      SET    NR_ORDEM_CERT_ORIGEM = RIGHT( '000' + CONVERT( varchar, @nr_ordem ), 3 )
      WHERE  NR_PROCESSO = @nr_processo AND
             CD_NCM_DOC = @cd_ncm AND NR_SEQ_NCM_DOC = @nr_seq_ncm AND
             CD_NORMAS = @cd_normas AND CD_ACORDO = @cd_acordo

    SELECT @cd_acordo_ant = @cd_acordo

    FETCH c_cert_origem INTO @cd_acordo, @nr_item, @cd_ncm, @nr_seq_ncm, @cd_normas
  END
END
CLOSE c_cert_origem
DEALLOCATE c_cert_origem

-- Normas
DELETE TAUX_EXP_NORMAS 
WHERE  NR_PROCESSO = @nr_processo

DECLARE c_normas CURSOR FOR 
  SELECT E.CD_ACORDO, E.CD_NORMAS, N.NM_DESCRICAO
  FROM   TPROCESSO_EXP_ITEM E, TNORMAS N
  WHERE  E.NR_PROCESSO = @nr_processo AND
         E.CD_NORMAS *= N.CODIGO AND
         ISNULL(CD_NCM_DOC, '') <> '' 
  GROUP BY E.CD_ACORDO, E.CD_NORMAS, N.NM_DESCRICAO
  ORDER BY E.CD_ACORDO, E.CD_NORMAS

OPEN c_normas

FETCH c_normas INTO @cd_acordo, @cd_normas, @nm_norma
WHILE @@fetch_status = 0
BEGIN
  SELECT @str_nr_ordem_cert_origem = ''
  SELECT @nr_seq = 0

  SELECT @nr_ordem = CONVERT( int, MIN( NR_ORDEM_CERT_ORIGEM ) )
  FROM   TPROCESSO_EXP_ITEM
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ACORDO = @cd_acordo AND
         CD_NORMAS = @cd_normas

  IF ( @nr_ordem % @nr_quebra ) = 0
    SELECT @nr_pagina = ( @nr_ordem / @nr_quebra )
  ELSE
    SELECT @nr_pagina = ( @nr_ordem / @nr_quebra ) + 1

  DECLARE c_nr_ordem CURSOR FOR
    SELECT DISTINCT NR_ORDEM_CERT_ORIGEM
    FROM   TPROCESSO_EXP_ITEM
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_ACORDO = @cd_acordo AND
           CD_NORMAS = @cd_normas
    ORDER BY NR_ORDEM_CERT_ORIGEM

  OPEN c_nr_ordem
  FETCH c_nr_ordem INTO @nr_ordem_cert_origem
  WHILE @@fetch_status = 0
  BEGIN
    IF ( CONVERT( int, @nr_ordem_cert_origem ) % @nr_quebra ) = 0
      SELECT @nr_nova_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra )
    ELSE
      SELECT @nr_nova_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra ) + 1

    IF ( @nr_pagina <> @nr_nova_pagina ) AND ( LEN( @str_nr_ordem_cert_origem ) >  0 )
    BEGIN
      INSERT TAUX_EXP_NORMAS( NR_PROCESSO, NR_SEQ_NORMAS_NCM, NM_DESC_NCM, CD_ACORDO, NR_PAGINA  )
      VALUES ( @nr_processo, @str_nr_ordem_cert_origem, @nm_norma, @cd_acordo, @nr_pagina )

      SELECT @str_nr_ordem_cert_origem = ''
      SELECT @nr_seq = 0
    END

    IF @nr_ordem <> CONVERT( int, @nr_ordem_cert_origem )
    BEGIN
      IF @nr_ordem = ( CONVERT( int, @nr_ordem_cert_origem ) - 1 ) /* "-"  sequencia*/
      BEGIN
        IF @nr_seq = 1 
        BEGIN
          IF LEN( @str_nr_ordem_cert_origem ) > 0 
             SELECT @str_nr_ordem_cert_origem = @str_nr_ordem_cert_origem + '-' + @nr_ordem_cert_origem
          ELSE
             SELECT @str_nr_ordem_cert_origem = @str_nr_ordem_cert_origem + @nr_ordem_cert_origem

          IF ( LEN( @str_nr_ordem_cert_origem ) = 11 ) OR ( ( CONVERT( int, @nr_ordem_cert_origem ) % @nr_quebra ) = 0 ) OR
             ( @cd_pais_destino = '589' ) -- PERU
          BEGIN
            IF ( CONVERT( int, @nr_ordem_cert_origem ) % @nr_quebra ) = 0
              SELECT @nr_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra )
            ELSE
              SELECT @nr_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra ) + 1

            INSERT TAUX_EXP_NORMAS( NR_PROCESSO, NR_SEQ_NORMAS_NCM, NM_DESC_NCM, CD_ACORDO, NR_PAGINA  )
            VALUES ( @nr_processo, @str_nr_ordem_cert_origem, @nm_norma, @cd_acordo, @nr_pagina )

            SELECT @str_nr_ordem_cert_origem = ''
            SELECT @nr_seq = 0
          END
          ELSE SELECT @nr_seq = @nr_seq + 1
        END
        ELSE 
        BEGIN
          IF LEN( @str_nr_ordem_cert_origem ) > 0
          BEGIN
            IF LEN( @str_nr_ordem_cert_origem ) > 3
              SELECT @str_nr_ordem_cert_origem = SUBSTRING( @str_nr_ordem_cert_origem, 1, ( LEN( @str_nr_ordem_cert_origem ) - 4 ) ) + '-' + @nr_ordem_cert_origem 
            ELSE
            BEGIN
              SELECT @str_nr_ordem_cert_origem = @str_nr_ordem_cert_origem + '-' + @nr_ordem_cert_origem
            END
          END
          ELSE SELECT @str_nr_ordem_cert_origem = @nr_ordem_cert_origem

          IF ( LEN( @str_nr_ordem_cert_origem ) = 11 ) OR ( ( CONVERT( int, @nr_ordem_cert_origem ) % @nr_quebra ) = 0 ) OR
             ( @cd_pais_destino = '589' ) -- PERU
          BEGIN
            IF ( CONVERT( int, @nr_ordem_cert_origem ) % @nr_quebra ) = 0
              SELECT @nr_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra )
            ELSE
              SELECT @nr_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra ) + 1

            INSERT TAUX_EXP_NORMAS( NR_PROCESSO, NR_SEQ_NORMAS_NCM, NM_DESC_NCM, CD_ACORDO, NR_PAGINA  )
            VALUES ( @nr_processo, @str_nr_ordem_cert_origem, @nm_norma, @cd_acordo, @nr_pagina )

            SELECT @str_nr_ordem_cert_origem = ''
            SELECT @nr_seq = 0
          END
          ELSE SELECT @nr_seq = @nr_seq + 1
        END
      END
      ELSE /* "/" salto */
      BEGIN
        IF LEN( @str_nr_ordem_cert_origem ) > 0 
          SELECT @str_nr_ordem_cert_origem = @str_nr_ordem_cert_origem + '/' + @nr_ordem_cert_origem
        ELSE
          SELECT @str_nr_ordem_cert_origem = @str_nr_ordem_cert_origem + @nr_ordem_cert_origem

        IF ( LEN( @str_nr_ordem_cert_origem ) = 11 ) OR ( ( CONVERT( int, @nr_ordem_cert_origem ) % @nr_quebra ) = 0 ) OR
           ( @cd_pais_destino = '589' ) -- PERU
        BEGIN
          IF @nr_seq = 0
          BEGIN
            IF ( CONVERT( int, @nr_ordem_cert_origem ) % @nr_quebra ) = 0
              SELECT @nr_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra )
            ELSE
              SELECT @nr_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra ) + 1
          END

          INSERT TAUX_EXP_NORMAS( NR_PROCESSO, NR_SEQ_NORMAS_NCM, NM_DESC_NCM, CD_ACORDO, NR_PAGINA  )
          VALUES ( @nr_processo, @str_nr_ordem_cert_origem, @nm_norma, @cd_acordo, @nr_pagina )

          SELECT @str_nr_ordem_cert_origem = ''
        END
        SELECT @nr_seq = 1
      END
      SELECT @nr_ordem = CONVERT( int, @nr_ordem_cert_origem )
    END
    ELSE -- iguais
    BEGIN
      SELECT @str_nr_ordem_cert_origem = @str_nr_ordem_cert_origem + @nr_ordem_cert_origem

      IF ( LEN( @str_nr_ordem_cert_origem ) = 11 ) OR ( ( CONVERT( int, @nr_ordem_cert_origem ) % @nr_quebra ) = 0 ) OR
         ( @cd_pais_destino = '589' ) -- PERU
      BEGIN
        IF ( CONVERT( int, @nr_ordem_cert_origem ) % @nr_quebra ) = 0
          SELECT @nr_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra )
        ELSE
          SELECT @nr_pagina = ( CONVERT( int, @nr_ordem_cert_origem ) / @nr_quebra ) + 1

        INSERT TAUX_EXP_NORMAS( NR_PROCESSO, NR_SEQ_NORMAS_NCM, NM_DESC_NCM, CD_ACORDO, NR_PAGINA  )
        VALUES ( @nr_processo, @str_nr_ordem_cert_origem, @nm_norma, @cd_acordo, @nr_pagina )

        SELECT @str_nr_ordem_cert_origem = ''
      END
      SELECT @nr_seq = 1
    END
    SELECT @nr_ordem = CONVERT( int, @nr_ordem_cert_origem )

    IF ( @nr_ordem % @nr_quebra ) = 0
      SELECT @nr_pagina = ( @nr_ordem / @nr_quebra )
    ELSE
      SELECT @nr_pagina = ( @nr_ordem / @nr_quebra ) + 1

    FETCH c_nr_ordem INTO @nr_ordem_cert_origem
  END
  CLOSE c_nr_ordem
  DEALLOCATE c_nr_ordem

  IF ( LEN( @str_nr_ordem_cert_origem ) < 11 ) AND ( LEN( @str_nr_ordem_cert_origem ) > 0 )
  BEGIN
    INSERT TAUX_EXP_NORMAS( NR_PROCESSO, NR_SEQ_NORMAS_NCM, NM_DESC_NCM, CD_ACORDO, NR_PAGINA  )
    VALUES ( @nr_processo, @str_nr_ordem_cert_origem, @nm_norma, @cd_acordo, @nr_pagina )
  END

  IF ( @nr_ordem % @nr_quebra ) = 0
    SELECT @nr_pagina = ( @nr_ordem / @nr_quebra )
  ELSE
    SELECT @nr_pagina = ( @nr_ordem / @nr_quebra ) + 1

  FETCH c_normas INTO @cd_acordo, @cd_normas, @nm_norma
END
CLOSE c_normas
DEALLOCATE c_normas

RETURN(0)


--select * from tprocesso_exp_item where nr_processo = '0102er-1267-07'
--select * from taux_exp_normas where nr_processo = '0102er-1267-07'


GO
