USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_rel_qt_processos] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), 
                                  @cd_cliente char(5), @cd_analista char(4), @cd_destino char(3),
                                  @cd_modal char(2),@in_faturado char(1), @dt_inicio datetime, @dt_fim datetime,
                                  @nr_identificador int output ) AS


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_analista      char(4)
DECLARE @cd_destino       char(3)
DECLARE @cd_modal         char(2)
DECLARE @in_faturado      char(1)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'
SELECT @cd_grupo    = 'X'
SELECT @cd_cliente  = 'X'
SELECT @cd_analista = 'X'
SELECT @cd_destino  = 'X'
SELECT @cd_modal    = 'X'
SELECT @in_faturado    = '2'
SELECT @dt_inicio   = '01/05/04'
SELECT @dt_fim      = '01/06/04'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

IF @in_faturado = '0' 
  BEGIN

/* Abaixo foram comentadas as linhas originais onde comparavam @cd_analista com CD_CONTATO para compararem com CD_ANALISTA_COMISSARIA
   Michel - 05/02/2009 - Ocorrência 00382/09 */

    SET @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR),0 ) + 1
                                FROM TREL_QT_PROCESSOS )
    INSERT TREL_QT_PROCESSOS ( NR_IDENTIFICADOR, NR_PROCESSO, DT_ABERTURA)
    SELECT @nr_identificador as NR_IDENTIFICADOR, P.NR_PROCESSO, CONVERT(CHAR(10), P.DT_ABERTURA, 103 ) 
    FROM TPROCESSO P (NOLOCK)
         INNER JOIN VW_SERVICO_GERAL SE (NOLOCK) ON ( SE.CD_SERVICO = P.CD_SERVICO )
    WHERE @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )                 AND
          @cd_produto  IN ( P.CD_PRODUTO,  'X' )                 AND
          @cd_grupo    IN ( P.CD_GRUPO,    'X' )                 AND
          @cd_cliente  IN ( P.CD_CLIENTE,  'X' )                 AND
          --@cd_analista IN ( P.CD_CONTATO,         'X' )          AND
          @cd_analista IN ( P.CD_ANALISTA_COMISSARIA, 'X' )          AND
          @cd_destino  IN ( P.CD_PAIS_DESTINO,    'X' )          AND 
          @cd_modal    IN ( SE.CD_VIA_TRANSPORTE, 'X' )          AND
          DT_ABERTURA BETWEEN @dt_inicio and @dt_fim             AND
         ( SELECT ISNULL(FT.DT_REALIZACAO, 0)
           FROM TFOLLOWUP FT (NOLOCK)
           WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
                 FT.CD_EVENTO = ( SELECT CD_ITEM_DED FROM TPARAMETROS (NOLOCK) ) ) <> '01/01/1900'
  END
ELSE
IF @in_faturado = '1'
  BEGIN

    SET @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR),0 ) + 1
                                FROM TREL_QT_PROCESSOS )
    INSERT TREL_QT_PROCESSOS ( NR_IDENTIFICADOR, NR_PROCESSO, DT_ABERTURA)
    SELECT @nr_identificador as NR_IDENTIFICADOR, P.NR_PROCESSO, CONVERT(CHAR(10), P.DT_ABERTURA, 103 ) 
    FROM TPROCESSO P (NOLOCK)
         INNER JOIN VW_SERVICO_GERAL SE (NOLOCK) ON ( SE.CD_SERVICO = P.CD_SERVICO )
    WHERE @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )                 AND
          @cd_produto  IN ( P.CD_PRODUTO,  'X' )                 AND
          @cd_grupo    IN ( P.CD_GRUPO,    'X' )                 AND
          @cd_cliente  IN ( P.CD_CLIENTE,  'X' )                 AND
          --@cd_analista IN ( P.CD_CONTATO,         'X' )          AND
          @cd_analista IN ( P.CD_ANALISTA_COMISSARIA, 'X' )          AND
          @cd_destino  IN ( P.CD_PAIS_DESTINO,    'X' )          AND 
          @cd_modal    IN ( SE.CD_VIA_TRANSPORTE, 'X' )          AND
          DT_ABERTURA BETWEEN @dt_inicio and @dt_fim             AND
         ( SELECT ISNULL(FT.DT_REALIZACAO, 0)
           FROM TFOLLOWUP FT (NOLOCK)
           WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
                 FT.CD_EVENTO = ( SELECT CD_ITEM_DED FROM TPARAMETROS (NOLOCK) ) ) = '01/01/1900'
  END
ELSE
IF @in_faturado = '2'
  BEGIN

    SET @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR),0 ) + 1
                                FROM TREL_QT_PROCESSOS )
    INSERT TREL_QT_PROCESSOS ( NR_IDENTIFICADOR, NR_PROCESSO, DT_ABERTURA)
    SELECT @nr_identificador as NR_IDENTIFICADOR, P.NR_PROCESSO, CONVERT(CHAR(10), P.DT_ABERTURA, 103 ) 
    FROM TPROCESSO P (NOLOCK)
         INNER JOIN VW_SERVICO_GERAL SE (NOLOCK) ON ( SE.CD_SERVICO = P.CD_SERVICO )
    WHERE @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )                 AND
          @cd_produto  IN ( P.CD_PRODUTO,  'X' )                 AND
          @cd_grupo    IN ( P.CD_GRUPO,    'X' )                 AND
          @cd_cliente  IN ( P.CD_CLIENTE,  'X' )                 AND
          --@cd_analista IN ( P.CD_CONTATO,         'X' )          AND
          @cd_analista IN ( P.CD_ANALISTA_COMISSARIA, 'X' )          AND
          @cd_destino  IN ( P.CD_PAIS_DESTINO,    'X' )          AND 
          @cd_modal    IN ( SE.CD_VIA_TRANSPORTE, 'X' )          AND
          DT_ABERTURA BETWEEN @dt_inicio and @dt_fim             
  END
ELSE
BEGIN

    SET @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR),0 ) + 1
                                FROM TREL_QT_PROCESSOS )
    INSERT TREL_QT_PROCESSOS ( NR_IDENTIFICADOR, NR_PROCESSO, DT_ABERTURA)
    SELECT @nr_identificador as NR_IDENTIFICADOR, P.NR_PROCESSO, CONVERT(CHAR(10), P.DT_ABERTURA, 103 ) 
    FROM TPROCESSO P (NOLOCK)
         INNER JOIN VW_SERVICO_GERAL SE (NOLOCK) ON ( SE.CD_SERVICO = P.CD_SERVICO )
    WHERE @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )                 AND
          @cd_produto  IN ( P.CD_PRODUTO,  'X' )                 AND
          @cd_grupo    IN ( P.CD_GRUPO,    'X' )                 AND
          @cd_cliente  IN ( P.CD_CLIENTE,  'X' )                 AND
          --@cd_analista IN ( P.CD_CONTATO,         'X' )          AND
          @cd_analista IN ( P.CD_ANALISTA_COMISSARIA, 'X' )          AND
          @cd_destino  IN ( P.CD_PAIS_DESTINO,    'X' )          AND 
          @cd_modal    IN ( SE.CD_VIA_TRANSPORTE, 'X' )          AND
          DT_ABERTURA BETWEEN @dt_inicio and @dt_fim             AND
         ( SELECT ISNULL(FT.DT_REALIZACAO, 0)
           FROM TFOLLOWUP FT (NOLOCK)
           WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
                 FT.CD_EVENTO = ( SELECT CD_ITEM_DED FROM TPARAMETROS (NOLOCK) ) ) <> '01/01/1900'
END








GO
