USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_JOB_NOVO](@data int = 0) AS                  
SET NOCOUNT ON                  

--BEGIN TRAN                    
--DECLARE @data int                    

DECLARE                    
  @nr_processo_adm char(18),                    
  @nr_referencia char(18),                    
  @nr_item_cliente char(4),                    
  @NR_PARCIAL int,                 
  @dt_ult_alteracao datetime,                    
  @errors int,                    
  @registros int,                    
  @apCampo char(10),                    
  @cdBroker char(3),                    
  @txUpdate varchar(1024),  
  @nr_item char(3)  
IF ISNULL(@data, 0) = 0 SET @data = YEAR(GETDATE())-2                    
SET @errors = 0                    
SET @registros = 0                    
PRINT 'Iniciando cópia de dados...'                    
  
/**************************************************************************************************/  
  
/*1º ETAPA */  
SELECT TOP 10 NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, MIN(AP_USUARIO) AS AP_USUARIO                    
INTO #TMP_ESTAGIO                    
FROM TATZ_MYINDAIA_ESTAGIO (NOLOCK)                    
WHERE NR_PROCESSO_ADM IS NOT NULL                    
AND SUBSTRING(NR_PROCESSO_ADM,5,2) NOT IN ('EW','FT','IF','PO','TE','TS') and NR_PARCIAL IS NOT NULL    
GROUP BY NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO                    
ORDER BY AP_USUARIO, MIN(CD_ATUALIZACAO)                    
                    
--exclui os processos das tabelas de atualizao                    
DELETE EP                    
FROM TATZ_MYINDAIA_ESTAGIO EP, #TMP_ESTAGIO ED                    
WHERE ED.NR_REFERENCIA    = EP.NR_REFERENCIA                    
  AND ED.NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE                    
  AND ED.NR_PARCIAL    = EP.NR_PARCIAL                  
                    
/***** APAGA OS REGISTROS SELECIONADOS NO MYINDAIA **************************************************************************************/                    
DELETE EP                    
FROM MYINDAIA.DBO.TESTAGIO_PROCESSO EP, #TMP_ESTAGIO ED                    
WHERE ED.NR_REFERENCIA    = EP.NR_REFERENCIA                    
  AND ED.NR_ITEM_CLIENTE  = EP.NR_ITEM_CLIENTE                    
  AND ED.NR_PARCIAL    = EP.NR_PARCIAL                  
                    
DELETE FI                    
FROM MYINDAIA.DBO.TFLP_IMPORT FI, #TMP_ESTAGIO ED                    
WHERE ED.NR_REFERENCIA    = FI.NR_REFERENCIA                    
  AND ED.NR_ITEM_CLIENTE  = FI.NR_ITEM_CLIENTE                    
  AND ED.NR_PARCIAL    = FI.NR_PARCIAL                        
                    
DELETE FE                    
FROM MYINDAIA.DBO.TFLP_ESTAGIO FE, #TMP_ESTAGIO ED                    
WHERE ED.NR_REFERENCIA    = FE.NR_REFERENCIA                    
  AND ED.NR_ITEM_CLIENTE  = FE.NR_ITEM_CLIENTE                    
  AND ED.NR_PARCIAL    = FE.NR_PARCIAL                        
                    
/***** INCLUI OS REGISTROS SELECIONADOS NO MYINDAIA *************************************************************************************/                    
--inclui os registros da tabela temporária na TESTAGIO_PROCESSO                    
INSERT INTO MYINDAIA.DBO.TESTAGIO_PROCESSO (                    
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, IN_SUBSTITUIDO, NR_PARCIAL )                    
SELECT DISTINCT                    
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.IN_SUBSTITUIDO, EP.NR_PARCIAL                  
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL)                    
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @data                    
--verifica se ocorreram erros                    
SET @registros = @registros + @@rowcount                    
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TESTAGIO_PROCESSO'                    
                    
--inclui os registros da tabela temporria na TFLP_IMPORT                    
INSERT INTO MYINDAIA.DBO.TFLP_IMPORT (                    
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, DT_ULT_ALTERACAO, NR_PARCIAL )                    
SELECT DISTINCT                    
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, EP.DT_ULT_ALTERACAO, EP.NR_PARCIAL                    
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL)                    
WHERE YEAR(EP.DT_ULT_ALTERACAO) >= @data                    
--verifica se ocorreram erros                    
SET @registros = @registros + @@rowcount                    
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_IMPORT'                     
  
/**************************************************************************************************/  
--PEDIDOS  
  
--seleciona os processos que estão tiveram algum tipo de alteração ou inclusão                            
SELECT ATZ.NR_REFERENCIA, ATZ.NR_ITEM, ATZ.NR_PARCIAL, ATZ.NM_TABELA, MIN(ATZ.AP_USUARIO) AS AP_USUARIO                              
INTO #TMP_PEDIDO  
FROM TATZ_MYINDAIA_PEDIDO ATZ(NOLOCK), #TMP_ESTAGIO TMP    
where            
  ATZ.NR_REFERENCIA = TMP.NR_REFERENCIA     
GROUP BY ATZ.NR_REFERENCIA, ATZ.NR_ITEM, ATZ.NR_PARCIAL, ATZ.NM_TABELA                              
ORDER BY ATZ.AP_USUARIO, MIN(ATZ.CD_ATUALIZACAO)                              
  
--exclui os processos das tabelas de atualização                            
--DELETE MY                            
SELECT * 
FROM TATZ_MYINDAIA_PEDIDO MY, #TMP_PEDIDO ATZ                             
WHERE MY.NR_REFERENCIA = ATZ.NR_REFERENCIA                            
  AND MY.NR_ITEM = ATZ.NR_ITEM                            
--  AND MY.NR_PARCIAL = ATZ.NR_PARCIAL                        
  AND ISNULL(MY.NR_PARCIAL,'') = ISNULL(ATZ.NR_PARCIAL, '')    
  AND isnull(MY.NM_TABELA,'') = ISNULL(ATZ.NM_TABELA                            ,'')
                            
--importação                            
DELETE P FROM MYINDAIA.DBO.TPO P, #TMP_PEDIDO PE WHERE P.NR_PROCESSO = PE.NR_REFERENCIA AND NM_TABELA = 'TPO'                                
DELETE I FROM MYINDAIA.DBO.TPO_ITEM I, #TMP_PEDIDO PE WHERE I.NR_PROCESSO = PE.NR_REFERENCIA AND I.NR_ITEM = PE.NR_ITEM /*AND I.NR_PARCIAL = PE.NR_PARCIAL*/ AND NM_TABELA = 'TPO_ITEM'                            
DELETE F FROM MYINDAIA.DBO.TFLP_PO F, #TMP_PEDIDO PE  WHERE F.NR_PROCESSO = PE.NR_REFERENCIA AND NM_TABELA = 'TFLP_PO'                                
DELETE F FROM MYINDAIA.DBO.TFLP_PO_ITEM F, #TMP_PEDIDO PE  WHERE F.NR_PROCESSO = PE.NR_REFERENCIA AND F.NR_ITEM = PE.NR_ITEM /*AND F.NR_PARCIAL = PE.NR_PARCIAL */ AND NM_TABELA = 'TFLP_PO_ITEM'                                
DELETE E FROM MYINDAIA.DBO.TFLP_PO_ITEM_ETAPA E, #TMP_PEDIDO PE WHERE E.NR_PROCESSO = PE.NR_REFERENCIA AND E.NR_ITEM = PE.NR_ITEM AND NM_TABELA = 'TFLP_PO_ITEM_ETAPA'                                
DELETE F FROM MYINDAIA.DBO.TFOLLOWUP_OBS F (NOLOCK), #TMP_PEDIDO PE WHERE F.NR_PROCESSO = PE.NR_REFERENCIA AND NM_TABELA = 'TFLP_PO'                                
                        
/* IMPORTAÇÃO */                            
--inicio da seleção e inserção dos registros da tabela tpo da base myindaia em relação aos                             
--processo que constam na tabela #tmp_pedido                            
INSERT INTO MYINDAIA.DBO.TPO (                            
  NR_PROCESSO, NR_IDENT_USUARIO, CD_IMPORTADOR, CD_CONSIGNATARIO, CD_FABRICANTE, CD_EXPORTADOR, CD_VIA_TRANSP, CD_REPRESENTANTE,                            
  CD_MOD_PAGAMENTO, CD_PAIS_ORIGEM, CD_REGIME_TRIB, CD_PAIS_PROCEDENCIA, CD_MOEDA_NEG, CD_PAIS_AQUISICAO, CD_TP_DECLARACAO,                            
  CD_URF_DESPACHO, CD_INCOTERM, CD_TRANSP_INTERN, CD_BANDEIRA_VEIC, CD_SETOR_ARMAZENAGEM, CD_LOCAL_EMBARQUE, CD_AGENTE_CARGA,                            
  CD_URF_ENTRADA, CD_RECINTO_ALFAND, CD_MOEDA_FRETE, CD_MOEDA_SEGURO, CD_MOEDA_CARGA, CD_LOCAL_INCOTERM, CD_TX_JUROS, CD_INSTIT_FINANC,                            
  CD_MOTIVO_CAMBIO_SEM_COBERT, CD_BARRA, CD_MET_VALORACAO_ADUAN, DT_ABERTURA, DT_EMISSAO_DOC_CARGA, DT_CHEGADA_CARGA, DT_FATURA,                            
  IN_APLICACAO_MERC, IN_COMISSAO, IN_DESCONTO, IN_TP_COMISSAO, IN_TP_DESCONTO, IN_INDICADOR_CONSIG_IMPORT, IN_INDICADOR_PROC,                  
  IN_VINC_IMPO_EXPO, IN_COND_MERCADORIA, IN_FABR_EXPOR_IMP, IN_INDIC_MULTMODAL, IN_FUNDAP, IN_UTILIZ_CARGA, IN_INDIC_TX_JUROS, IN_SEGURO,                            
  NR_PLACA_VEICULO, NR_MANIFESTO, NR_DOC_MASTER, NR_DOC_HOUSE, NR_BACEN, NR_FATURA, NM_IDENT_CRT, NM_VEICULO, PC_COMISSAO, PC_DESCONTO,                            
  PC_SEGURO, PC_COMISSAO_AGENTE, PL_PO, PB_PO, QT_TOTAL_PESO, QT_PORC_ICMS, QT_TOTAL_ITENS, QT_PORC_RED_ICMS, QT_PERIODICIDADE,                            
 TP_COBERT_CAMBIO, TP_CAMBIO, TP_DOC_CARGA, TP_FRETE, TP_SEGURO, TP_MOD_DESPACHO, TP_MANIFESTO, TX_JUROS, TX_OBSERVACAO, VL_COMISSAO,                            
  VL_CARGA, VL_CAMBIO, VL_DESCONTO, VL_FRETE_PREPAID, VL_FRETE_COLLECT, VL_FRETE_TERRIT_NAC, VL_SEGURO, VL_TOTAL, VL_TOTAL_PARCELA,                            
  VL_PAGTO_ANTECIPADO, VL_PAGTO_VISTA, VL_PERIODIC_MENSAL, VL_DESPESAS, VL_DESCONTOS, IN_SELECIONADO, IN_MONTADO, IN_IND_COND_MERC,                            
  IN_IND_CAMBIO_ITENS, NR_PARCELAS, IN_PERIODICIDADE, QT_TOTAL_DISPONIVEL, CD_USUARIO_MONTA, CD_AREA, CD_COMPRADOR, CD_TERMO_PAGTO,                            
  DT_NECESSIDADE, CD_TIPO_FRETE, CD_LOCAL_DESEMBARQUE, IN_ENTREPOSTO, IN_FATURADO, IN_IMEDIATO, VL_FRETE_INTERNO, VL_EMBALAGEM,                            
  TX_OBS_INTERNO, VL_PB_EMBALAGEM, VL_PL_EMBALAGEM, NR_DA, CD_SERVICO, TX_VOLUMES, TX_INF_ENTREPOSTO, TP_NEGOCIACAO, NR_ARTICULO,                            
  NR_ORDEM, CD_USUARIO_INT, CD_AGENTE, CD_BANCO, CD_USUARIO, TX_OBS, CD_CANAL, IN_CARGA_PERIGOSA, VL_M3, NM_EMPRESA_BASF )                                  
SELECT                            
  NR_PROCESSO, NR_IDENT_USUARIO, CD_IMPORTADOR, CD_CONSIGNATARIO, CD_FABRICANTE, CD_EXPORTADOR, CD_VIA_TRANSP, CD_REPRESENTANTE,                            
  CD_MOD_PAGAMENTO, CD_PAIS_ORIGEM, CD_REGIME_TRIB, CD_PAIS_PROCEDENCIA, CD_MOEDA_NEG, CD_PAIS_AQUISICAO, CD_TP_DECLARACAO,                            
  CD_URF_DESPACHO, CD_INCOTERM, CD_TRANSP_INTERN, CD_BANDEIRA_VEIC, CD_SETOR_ARMAZENAGEM, CD_LOCAL_EMBARQUE, CD_AGENTE_CARGA,                            
  CD_URF_ENTRADA, CD_RECINTO_ALFAND, CD_MOEDA_FRETE, CD_MOEDA_SEGURO, CD_MOEDA_CARGA, CD_LOCAL_INCOTERM, CD_TX_JUROS, CD_INSTIT_FINANC,                            
  CD_MOTIVO_CAMBIO_SEM_COBERT, CD_BARRA, CD_MET_VALORACAO_ADUAN, DT_ABERTURA, DT_EMISSAO_DOC_CARGA, DT_CHEGADA_CARGA, DT_FATURA,                            
  IN_APLICACAO_MERC, IN_COMISSAO, IN_DESCONTO, IN_TP_COMISSAO, IN_TP_DESCONTO, IN_INDICADOR_CONSIG_IMPORT, IN_INDICADOR_PROC,                            
  IN_VINC_IMPO_EXPO, IN_COND_MERCADORIA, IN_FABR_EXPOR_IMP, IN_INDIC_MULTMODAL, IN_FUNDAP, IN_UTILIZ_CARGA, IN_INDIC_TX_JUROS, IN_SEGURO,                            
  NR_PLACA_VEICULO, NR_MANIFESTO, NR_DOC_MASTER, NR_DOC_HOUSE, NR_BACEN, NR_FATURA, NM_IDENT_CRT, NM_VEICULO, PC_COMISSAO, PC_DESCONTO,                            
  PC_SEGURO, PC_COMISSAO_AGENTE, PL_PO, PB_PO, QT_TOTAL_PESO, QT_PORC_ICMS, QT_TOTAL_ITENS, QT_PORC_RED_ICMS, QT_PERIODICIDADE,                            
  TP_COBERT_CAMBIO, TP_CAMBIO, TP_DOC_CARGA, TP_FRETE, TP_SEGURO, TP_MOD_DESPACHO, TP_MANIFESTO, TX_JUROS, TX_OBSERVACAO, VL_COMISSAO,                            
  VL_CARGA, VL_CAMBIO, VL_DESCONTO, VL_FRETE_PREPAID, VL_FRETE_COLLECT, VL_FRETE_TERRIT_NAC, VL_SEGURO, VL_TOTAL, VL_TOTAL_PARCELA,                            
  VL_PAGTO_ANTECIPADO, VL_PAGTO_VISTA, VL_PERIODIC_MENSAL, VL_DESPESAS, VL_DESCONTOS, IN_SELECIONADO, IN_MONTADO, IN_IND_COND_MERC,                            
  IN_IND_CAMBIO_ITENS, NR_PARCELAS, IN_PERIODICIDADE, QT_TOTAL_DISPONIVEL, CD_USUARIO_MONTA, CD_AREA, CD_COMPRADOR, CD_TERMO_PAGTO,                            
  DT_NECESSIDADE, CD_TIPO_FRETE, CD_LOCAL_DESEMBARQUE, IN_ENTREPOSTO, IN_FATURADO, IN_IMEDIATO, VL_FRETE_INTERNO, VL_EMBALAGEM,                            
  TX_OBS_INTERNO, VL_PB_EMBALAGEM, VL_PL_EMBALAGEM, NR_DA, CD_SERVICO, TX_VOLUMES, TX_INF_ENTREPOSTO, TP_NEGOCIACAO, NR_ARTICULO,                            
  NR_ORDEM, CD_USUARIO_INT, CD_AGENTE, CD_BANCO, CD_USUARIO, TX_OBS, CD_CANAL, IN_CARGA_PERIGOSA, VL_M3, NM_EMPRESA_BASF                            
FROM #TMP_PEDIDO ATZ                            
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA)                 
WHERE ATZ.NM_TABELA = 'TPO'                            
  AND YEAR(PO.DT_ABERTURA) >= @data                            
SET @registros = @registros + @@rowcount              
--verifica se ocorreram erros                            
IF (@@ERROR <> 0)                            
BEGIN                            
  PRINT 'Verificar cadastro de TPO. Erro nº. '+CAST(@@ERROR AS varchar)                            
  SET @errors = @errors + 1                            
END                            
--termino da inclusão dos registros na tabela tpo do banco myindaia                            
                            
                            
--inicio da seleção e inserção dos registros da tabela tpo_item da base myindaia em relação aos                             
--processo que constam na tabela #tmp_pedido                            
INSERT INTO MYINDAIA.DBO.TPO_ITEM (                            
  NR_PROCESSO, NR_ITEM, NR_PARCIAL, CD_EXPORTADOR, CD_NALADI_SH, CD_PAIS_AQUISICAO, CD_MERCADORIA, CD_FABRICANTE, CD_PAIS_ORIGEM,                            
  CD_NCM_SH, CD_NALADI_NCCA, CD_MET_VALOR_ADUANEIRA, CD_DISP_LEGAL_EXONERA, CD_MOEDA_NEGOCIADA, CD_INCOTERM, CD_ACORDO_ALADI,                            
  CD_REG_TRIB_II, CD_FUND_LEGAL_II, CD_UNID_MEDIDA, CD_UNID_MED_II, CD_UNID_MED_IPI, CD_UNID_MED_AD, CD_AGENTE_CAMBIO, CD_MOD_PAGTO,                            
  CD_TX_JUROS, CD_INSTITUICAO_FINANC, CD_MOT_SEM_COBERT_CAMBIAL, CD_EX_II, CD_EX_IPI, CD_VIA_TRANSP, CD_PAIS_PROCEDENCIA,                            
  CD_URF_ENTRADA, IN_NECESSITA_LI, IN_INDICADOR_COND_MERC, IN_COND_MERC, IN_APLIC_MERC, NM_ORGAO_EMISSOR_AL_EX_NALADI, NM_AL_EX_NALADI,                            
  NM_ORGAO_EMISSOR_AL_NCM, NM_AL_EX_NALADI_NCCA, NM_ORG_EMISSOR_EX_NALADI_NCCA, NM_AL_II, NM_ORGAO_EMISSOR_II, NM_ORGAO_EMISSOR_IPI,                            
  NM_AL_IPI, NM_AL_AD, NM_ORGAO_EMISSOR_AD, NM_IDENTIFICACAO, NR_ANO_EMISSAO_AL_EX_NALADI, NR_AL_EX_NALADI, NR_EX_NCM, NR_AL_EX_NCM,                            
  NR_ANO_EMISSAO_AL, NR_ATO_LEGAL, NR_EX_NALADI, NR_EX_NALADI_NCCA, NR_ANO_EMISSAO_EX_NALADI_NCCA, NR_AL_EX_NALADI_NCCA, NR_ANO_II,                            
  NR_AL_II, NR_ALIQ_NORMAL_II, NR_ALIQ_ACORDO_II, NR_ALIQ_REDUZIDA_II, NR_ALIQ_PERC_RED_II, NR_ANO_IPI, NR_AL_IPI, NR_NOTA_COMPL_IPI,                            
  NR_ALIQ_NORMAL_IPI, NR_ALIQ_REDUZIDA_IPI, NR_ALIQ_PERC_RED_IPI, NR_PROC_LI, NR_EX_AD, NR_ANO_AD, NR_AL_AD, NR_ALIQ_AD, NR_BASE_CALC_AD,                            
  NR_PARCELAS, NR_PERIODICIDADE, NR_ROF_BACEN, NR_FATURA, PC_DESCONTO, PC_ICMS, PC_ICMS_REDUCAO, PC_COMISSAO, PL_ITEM,                            
  QT_INICIAL, QT_BAIXADA_DI, QT_BAIXADA_LI, QT_ESPEC_II, QT_ESPEC_IPI, QT_AD, QT_MED_ESTATISTICA, TP_CALCULO, TP_COMISSAO, TP_ACORDO_TARIFARIO,                            
  TP_TRIBUTACAO_IPI, TP_CAMBIO, TP_IND_TX_JUROS, TP_IND_PERIODICIDADE, TP_RECIPIENTE, TP_IND_MULTIMODAL, TX_MERCADORIA, TX_JUROS_CAMBIO,                            
  VL_DESPESA_MOEDA, VL_DESCONTO_MOEDA, VL_UNITARIO, VL_TOTAL, VL_DESCONTO, VL_COMISSAO, VL_ESPEC_II, VL_ESPEC_IPI, VL_ESPEC_AD,                            
  VL_TOTAL_PARCELAS, VL_COBERT_ACIMA_360, VL_PAGTO_ANTECIPADO, VL_PAGTO_AVISTA, VL_FRETE_NAC_MOEDA, VL_SEGURO_MOEDA, VL_ACRESC_MOEDA,                            
  VL_DEDUC_MOEDA, VL_FRETE_PREPAID_MOEDA, VL_FRETE_COLLECT, IN_SELECIONADO, QT_BAIXAR, QT_DISPONIVEL, IN_MONTADO, IN_FABR_EXP_PROD,                            
  NR_ANO_EX_NCM, NR_NUM_EX_NCM, IN_IND_COND_MERC, NM_LOCAL_INCOTERM, NM_TIPO_AL_AD, IN_IND_PERIODICIDADE, IN_REG_TRIB_IPI, QT_INICIAL_EST,                            
  CD_USUARIO_MONTA, CD_MODALIDADE, NR_ATO_DRAWBACK, IN_AVISO_DB, NR_ITEM_CLIENTE, TX_OBSERVACAO, CD_AREA, CD_LOCAL_DESEMBARQUE,                            
  CD_EMBARCACAO, CD_AGENTE, NR_VIAGEM, NR_VOO, NR_CONHECIMENTO, NR_COURRIER, IN_CONSOLIDADO, IN_URGENTE, IN_SEGURO, CD_MERC_FORNEC )                            
SELECT                            
  POI.NR_PROCESSO, POI.NR_ITEM, POI.NR_PARCIAL, POI.CD_EXPORTADOR, CD_NALADI_SH, POI.CD_PAIS_AQUISICAO, CD_MERCADORIA, POI.CD_FABRICANTE, POI.CD_PAIS_ORIGEM,                            
  CD_NCM_SH, CD_NALADI_NCCA, CD_MET_VALOR_ADUANEIRA, CD_DISP_LEGAL_EXONERA, CD_MOEDA_NEGOCIADA, POI.CD_INCOTERM, CD_ACORDO_ALADI,                            
  CD_REG_TRIB_II, CD_FUND_LEGAL_II, CD_UNID_MEDIDA, CD_UNID_MED_II, CD_UNID_MED_IPI, CD_UNID_MED_AD, CD_AGENTE_CAMBIO, CD_MOD_PAGTO,                        
  POI.CD_TX_JUROS, CD_INSTITUICAO_FINANC, CD_MOT_SEM_COBERT_CAMBIAL, CD_EX_II, CD_EX_IPI, POI.CD_VIA_TRANSP, POI.CD_PAIS_PROCEDENCIA,                            
  POI.CD_URF_ENTRADA, IN_NECESSITA_LI, IN_INDICADOR_COND_MERC, IN_COND_MERC, IN_APLIC_MERC, NM_ORGAO_EMISSOR_AL_EX_NALADI, NM_AL_EX_NALADI,                            
  NM_ORGAO_EMISSOR_AL_NCM, NM_AL_EX_NALADI_NCCA, NM_ORG_EMISSOR_EX_NALADI_NCCA, NM_AL_II, NM_ORGAO_EMISSOR_II, NM_ORGAO_EMISSOR_IPI,                            
  NM_AL_IPI, NM_AL_AD, NM_ORGAO_EMISSOR_AD, NM_IDENTIFICACAO, NR_ANO_EMISSAO_AL_EX_NALADI, NR_AL_EX_NALADI, NR_EX_NCM, NR_AL_EX_NCM,                            
  NR_ANO_EMISSAO_AL, NR_ATO_LEGAL, NR_EX_NALADI, NR_EX_NALADI_NCCA, NR_ANO_EMISSAO_EX_NALADI_NCCA, NR_AL_EX_NALADI_NCCA, NR_ANO_II,                     
  NR_AL_II, NR_ALIQ_NORMAL_II, NR_ALIQ_ACORDO_II, NR_ALIQ_REDUZIDA_II, NR_ALIQ_PERC_RED_II, NR_ANO_IPI, NR_AL_IPI, NR_NOTA_COMPL_IPI,                            
  NR_ALIQ_NORMAL_IPI, NR_ALIQ_REDUZIDA_IPI, NR_ALIQ_PERC_RED_IPI, NR_PROC_LI, NR_EX_AD, NR_ANO_AD, NR_AL_AD, NR_ALIQ_AD, NR_BASE_CALC_AD,                            
  POI.NR_PARCELAS, NR_PERIODICIDADE, NR_ROF_BACEN, POI.NR_FATURA, POI.PC_DESCONTO, PC_ICMS, PC_ICMS_REDUCAO, POI.PC_COMISSAO, PL_ITEM,                            
  QT_INICIAL, QT_BAIXADA_DI, QT_BAIXADA_LI, QT_ESPEC_II, QT_ESPEC_IPI, QT_AD, QT_MED_ESTATISTICA, TP_CALCULO, TP_COMISSAO, TP_ACORDO_TARIFARIO,                            
  TP_TRIBUTACAO_IPI, POI.TP_CAMBIO, TP_IND_TX_JUROS, TP_IND_PERIODICIDADE, TP_RECIPIENTE, TP_IND_MULTIMODAL, TX_MERCADORIA, TX_JUROS_CAMBIO,                            
  VL_DESPESA_MOEDA, VL_DESCONTO_MOEDA, VL_UNITARIO, POI.VL_TOTAL, POI.VL_DESCONTO, POI.VL_COMISSAO, VL_ESPEC_II, VL_ESPEC_IPI, VL_ESPEC_AD,                            
  VL_TOTAL_PARCELAS, VL_COBERT_ACIMA_360, POI.VL_PAGTO_ANTECIPADO, VL_PAGTO_AVISTA, VL_FRETE_NAC_MOEDA, VL_SEGURO_MOEDA, VL_ACRESC_MOEDA,                            
  VL_DEDUC_MOEDA, VL_FRETE_PREPAID_MOEDA, POI.VL_FRETE_COLLECT, POI.IN_SELECIONADO, QT_BAIXAR, QT_DISPONIVEL, POI.IN_MONTADO, IN_FABR_EXP_PROD,                            
  NR_ANO_EX_NCM, NR_NUM_EX_NCM, POI.IN_IND_COND_MERC, NM_LOCAL_INCOTERM, NM_TIPO_AL_AD, IN_IND_PERIODICIDADE, IN_REG_TRIB_IPI, QT_INICIAL_EST,                            
  POI.CD_USUARIO_MONTA, CD_MODALIDADE, NR_ATO_DRAWBACK, IN_AVISO_DB, NR_ITEM_CLIENTE, POI.TX_OBSERVACAO, POI.CD_AREA, POI.CD_LOCAL_DESEMBARQUE,                            
  CD_EMBARCACAO, POI.CD_AGENTE, POI.NR_VIAGEM, NR_VOO, NR_CONHECIMENTO, NR_COURRIER, IN_CONSOLIDADO, IN_URGENTE, POI.IN_SEGURO, POI.CD_MERC_FORNEC                            
FROM #TMP_PEDIDO ATZ                            
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA)                            
  INNER JOIN TPO_ITEM POI (NOLOCK) ON (POI.NR_PROCESSO = ATZ.NR_REFERENCIA AND POI.NR_ITEM = ATZ.NR_ITEM AND POI.NR_PARCIAL = ATZ.NR_PARCIAL)                            
WHERE ATZ.NM_TABELA = 'TPO_ITEM'                            
  AND YEAR(PO.DT_ABERTURA) >= @data                            
SET @registros = @registros + @@rowcount                            
--verifica se ocorreram erros                            
IF (@@ERROR <> 0)                            
BEGIN     
  PRINT 'Verificar cadastro de TPO_ITEM. Erro nº. '+CAST(@@ERROR AS varchar)                            
  SET @errors = @errors + 1                            
END                            
--termino da inclusão dos registros na tabela tpo_item do banco myindaia                            
                            
                            
--inicio da seleção e inserção dos registros da tabela tflp_po da base myindaia em relação aos                             
--processo que constam na tabela #tmp_pedido                            
INSERT INTO MYINDAIA.DBO.TFLP_PO (                            
  NR_PROCESSO, CD_EVENTO, IN_APLICAVEL, CD_RESP_REALIZACAO, DT_REALIZACAO, --DT_PREVISTA,                            
  DT_LIMITE, NR_ORDEM, CD_STATUS, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO_INDAIA )                            
SELECT                            
  FU.NR_PROCESSO, CD_EVENTO, IN_APLICAVEL, CD_RESP_REALIZACAO, DT_REALIZACAO, --DT_PREVISTA,                            
  DT_LIMITE, FU.NR_ORDEM, CD_STATUS, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO_INDAIA                            
FROM #TMP_PEDIDO ATZ                            
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA)                            
  INNER JOIN TFLP_PO FU (NOLOCK) ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA)                            
WHERE ATZ.NM_TABELA = 'TFLP_PO'                            
  AND YEAR(PO.DT_ABERTURA) >= @data                            
SET @registros = @registros + @@rowcount                            
--verifica se ocorreram erros                            
IF (@@ERROR <> 0)                            
BEGIN                            
  PRINT 'Verificar cadastro de TFLP_PO. Erro nº. '+CAST(@@ERROR AS varchar)                            
  SET @errors = @errors + 1                   
END                            
ELSE                            
BEGIN                            
/*  17-10-2008  
  --joga para a tabela de atualização de estagio os processos atualizados                            
  INSERT INTO TATZ_MYINDAIA_ESTAGIO ( NR_REFERENCIA, NR_ITEM_CLIENTE, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PARCIAL )                            
  SELECT ATZ.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PARCIAL                          
  FROM #TMP_PEDIDO ATZ                            
    INNER JOIN TPO_ITEM FU (NOLOCK) ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA)                            
    INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = FU.NR_ITEM_CLIENTE)                            
  WHERE ATZ.NM_TABELA = 'TFLP_PO'                          */  
  
  --executa a atualização de fup da PO                            
  DECLARE cAtzPO CURSOR LOCAL FOR                            
    SELECT NR_REFERENCIA                            
    FROM #TMP_PEDIDO                            
    WHERE NM_TABELA = 'TFLP_PO'                            
    GROUP BY NR_REFERENCIA                            
                              
  OPEN cAtzPO                            
  FETCH cAtzPO INTO @nr_referencia                            
                              
  WHILE @@fetch_Status = 0                            
  BEGIN                            
    EXEC myindaia.dbo.sp_atz_flp_po @nr_referencia                            
    FETCH cAtzPO INTO @nr_referencia                            
  END                            
                              
  CLOSE cAtzPO                            
  DEALLOCATE cAtzPO                            
END                            
--termino da inclusão dos registros na tabela tflp_po do banco myindaia                            
                            
                            
--inicio da seleção e inserção dos registros da tabela tflp_po_item da base myindaia em relação aos                             
--processo que constam na tabela #tmp_pedido                            
INSERT INTO MYINDAIA.DBO.TFLP_PO_ITEM (                            
  NR_PROCESSO, NR_ITEM, CD_EVENTO, IN_APLICAVEL, CD_RESP_REALIZACAO, DT_REALIZACAO, --DT_PREVISTA,                            
  DT_LIMITE, NR_ORDEM, CD_STATUS, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO_INDAIA, NR_ITEM_CLIENTE, NR_PARCIAL )                            
SELECT                            
  FU.NR_PROCESSO, FU.NR_ITEM, CD_EVENTO, IN_APLICAVEL, CD_RESP_REALIZACAO, DT_REALIZACAO, --DT_PREVISTA,                            
  DT_LIMITE, FU.NR_ORDEM, CD_STATUS, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO_INDAIA, NR_ITEM_CLIENTE, FU.NR_PARCIAL                          
FROM #TMP_PEDIDO ATZ                            
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA)                            
  INNER JOIN TFLP_PO_ITEM FU (NOLOCK) ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA AND FU.NR_ITEM = ATZ.NR_ITEM)                            
WHERE ATZ.NM_TABELA = 'TFLP_PO_ITEM'                            
  AND YEAR(PO.DT_ABERTURA) >= @data                            
SET @registros = @registros + @@rowcount                   
  
--verifica se ocorreram erros                            
IF (@@ERROR <> 0)                            
BEGIN                            
  PRINT 'Verificar cadastro de TFLP_PO_ITEM. Erro nº. '+CAST(@@ERROR AS varchar)                            
  SET @errors = @errors + 1                            
END                            
ELSE                            
BEGIN                            
 /* 17-10-2008  
  --joga para a tabela de atualização de estagio os processos atualizados                           
  INSERT INTO TATZ_MYINDAIA_ESTAGIO ( NR_REFERENCIA, NR_ITEM_CLIENTE, DT_ULT_ALTERACAO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PARCIAL )                            
  SELECT ATZ.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM, EP.NR_PROCESSO_DES, EP.NR_PARCIAL                            
  FROM #TMP_PEDIDO ATZ                            
    INNER JOIN TPO_ITEM FU (NOLOCK) ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA AND FU.NR_ITEM = ATZ.NR_ITEM AND FU.NR_PARCIAL = ATZ.NR_PARCIAL)                            
    INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = FU.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = FU.NR_PARCIAL)                            
  WHERE ATZ.NM_TABELA = 'TFLP_PO_ITEM'                          */  
  --executa a atualização de fup da PO                            
  DECLARE cAtzPOItem CURSOR LOCAL FOR                            
    SELECT NR_REFERENCIA, NR_ITEM                            
    FROM #TMP_PEDIDO                  
    WHERE NM_TABELA = 'TFLP_PO_ITEM'                            
    GROUP BY NR_REFERENCIA, NR_ITEM                            
                              
  OPEN cAtzPOItem                            
  FETCH cAtzPOItem INTO @nr_referencia, @nr_item                            
                              
  WHILE @@fetch_Status = 0                            
  BEGIN   
    EXEC myindaia.dbo.sp_atz_flp_po_item @nr_referencia, @nr_item                            
    FETCH cAtzPOItem INTO @nr_referencia, @nr_item                            
  END                            
                      
  CLOSE cAtzPOItem                            
  DEALLOCATE cAtzPOItem                            
END                            
--termino da inclusão dos registros na tabela tflp_po_item do banco myindaia                            
                            
                           
--inicio da seleção e inserção dos registros da tabela tflp_po_item_etapa da base myindaia em relação aos                             
--processo que constam na tabela #tmp_pedido                            
INSERT INTO MYINDAIA.DBO.TFLP_PO_ITEM_ETAPA (                            
  NR_PROCESSO, NR_ITEM, CD_FLP_PO_ITEM_ETAPA, CD_ETAPA, CD_USUARIO, DT_ALTERACAO )                            
SELECT                            
  FU.NR_PROCESSO, FU.NR_ITEM, CD_FLP_PO_ITEM_ETAPA, CD_ETAPA, FU.CD_USUARIO, DT_ALTERACAO                            
FROM #TMP_PEDIDO ATZ                            
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA)                            
  INNER JOIN TFLP_PO_ITEM_ETAPA FU (NOLOCK) ON (FU.NR_PROCESSO = ATZ.NR_REFERENCIA AND FU.NR_ITEM = ATZ.NR_ITEM)                            
WHERE ATZ.NM_TABELA = 'TFLP_PO_ITEM_ETAPA'                            
  AND YEAR(PO.DT_ABERTURA) >= @data                            
SET @registros = @registros + @@rowcount                            
--verifica se ocorreram erros                            
IF (@@ERROR <> 0)                            
BEGIN                            
  PRINT 'Verificar cadastro de TFLP_PO_ITEM. Erro nº. '+CAST(@@ERROR AS varchar)                            
  SET @errors = @errors + 1                            
END                            
--termino da inclusão dos registros na tabela tflp_po_item do banco myindaia                            
                            
                            
--inicio da seleção e inserção dos registros da tabela tb_followup_etapa da base myindaia em relação aos                             
--processo que constam na tabela #TMP_PROCESSO                            
INSERT INTO MYINDAIA.DBO.TFOLLOWUP_OBS ( NR_PROCESSO, TX_OBSERVACAO )                            
SELECT FP.NR_PROCESSO, FP.TX_OBS                            
FROM #TMP_PEDIDO ATZ                            
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = ATZ.NR_REFERENCIA)                            
  INNER JOIN TFLP_PO FP (NOLOCK) ON (FP.NR_PROCESSO = ATZ.NR_REFERENCIA)                            
WHERE ATZ.NM_TABELA = 'TFLP_PO'                            
  AND YEAR(PO.DT_ABERTURA) >= @data                            
  AND FP.CD_EVENTO = '022'                            
  AND FP.TX_OBS IS NOT NULL                            
SET @registros = @registros + @@rowcount                            
--verifica se ocorreram erros                            
IF (@@ERROR <> 0)                            
BEGIN                            
  PRINT 'Verificar cadastro de TFOLLOWUP_OBS. Erro nº. '+CAST(@@ERROR AS varchar)                            
  SET @errors = @errors + 1                            
END                            
--termino da inclusão dos registros na tabela tb_followup do banco myindaia          
/**************************************************************************************************/  
/***** FOLLOW UP DE EVENTOS PO *****/                    
DECLARE cEvento CURSOR LOCAL FOR                    
  SELECT M10_AP_CAMPO, M10_CD_BROKER                    
  FROM MYINDAIA.DBO.M10_DADOS (NOLOCK)                    
  WHERE M10_TP_DADO = '1'                    
    AND M10_CD_BROKER IN ('003','019','020','168','219','349','352','353','354','425','426','459','461','554')                    
    AND M10_AP_CAMPO NOT LIKE '%DE'                    
  ORDER BY M10_CD_BROKER                    
                    
OPEN cEvento   
FETCH cEvento INTO @apCampo, @cdBroker                    
                    
WHILE @@fetch_status = 0                    
BEGIN                    
  SET @txUpdate = 'UPDATE FI SET                    
    RLZ_'+@apCampo+' = FP.DT_REALIZACAO, PVT_'+@apCampo+' = FP.DT_PREVISTA, IN_'+@apCampo+' = FP.IN_APLICAVEL                    
  FROM MYINDAIA.DBO.TFLP_IMPORT FI (NOLOCK)                    
    INNER JOIN #TMP_ESTAGIO ATZ ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL)                    
    INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = FI.NR_REFERENCIA)                    
    INNER JOIN MYINDAIA.DBO.TFLP_PO FP (NOLOCK) ON (FP.NR_PROCESSO = FI.NR_REFERENCIA AND CD_EVENTO = '''+@cdBroker+''')                    
  WHERE FI.NR_PROCESSO_ADM IS NOT NULL                    
    AND YEAR(PO.DT_ABERTURA) >= '+CAST(@data AS char)                    
  exec(@txUpdate)                    
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_IMPORT com o evento de PO '+@cdBroker                    
  FETCH cEvento INTO @apCampo, @cdBroker                    
END                    
                    
CLOSE cEvento                    
DEALLOCATE cEvento                    
                    
/***** FOLLOW UP DE EVENTOS PO/ITEM *****/                    
DECLARE cEvento CURSOR LOCAL FOR                    
  SELECT M10_AP_CAMPO, M10_CD_BROKER                    
  FROM MYINDAIA.DBO.M10_DADOS (NOLOCK)                    
  WHERE M10_TP_DADO = '1'                    
    AND M10_CD_BROKER IN ('001','012','018','021','041','076','088','082','123','146','161','162','164','207','216','218','219','297',                    
                          '300','354','355','356','357','362','363','364','365','397','448','450','451','453','455','456','457','458',                    
                          '460','464','500','551','554')                    
    AND M10_AP_CAMPO NOT LIKE '%DE'                    
  ORDER BY M10_CD_BROKER                    
                    
OPEN cEvento                    
FETCH cEvento INTO @apCampo, @cdBroker                    
                    
WHILE @@fetch_status = 0                    
BEGIN                    
  SET @txUpdate = 'UPDATE FI SET                    
    RLZ_'+@apCampo+' = FP.DT_REALIZACAO, PVT_'+@apCampo+' = FP.DT_PREVISTA, IN_'+@apCampo+' = FP.IN_APLICAVEL                    
  FROM MYINDAIA.DBO.TFLP_IMPORT FI (NOLOCK)                    
    INNER JOIN #TMP_ESTAGIO ATZ ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL)                    
    INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = FI.NR_REFERENCIA)                    
    INNER JOIN MYINDAIA.DBO.TFLP_PO_ITEM FP (NOLOCK) ON (FP.NR_PROCESSO = FI.NR_REFERENCIA AND FP.NR_ITEM_CLIENTE = FI.NR_ITEM_CLIENTE AND FP.NR_PARCIAL = FI.NR_PARCIAL AND CD_EVENTO = '''+@cdBroker+''')                    
  WHERE FI.NR_PROCESSO_ADM IS NOT NULL                    
    AND YEAR(PO.DT_ABERTURA) >= '+CAST(@data AS char)                    
  exec(@txUpdate)                    
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_IMPORT com o evento de PO/Item '+@cdBroker                    
  FETCH cEvento INTO @apCampo, @cdBroker                    
END                    
                    
CLOSE cEvento                    
DEALLOCATE cEvento                    
                    
/***** FOLLOW UP DE EVENTOS DESEMBARAÇO *****/                    
DECLARE cEvento CURSOR LOCAL FOR                    
  SELECT M10_AP_CAMPO, M10_CD_BROKER                    
  FROM MYINDAIA.DBO.M10_DADOS (NOLOCK)                    
  WHERE M10_TP_DADO = '1'                    
    AND M10_CD_BROKER IN ('001','003','012','017','018','021','034','035','041','045','050','052','072','076','082','083','084','086',                    
                          '088','090','092','146','154','156','158','161','162','164','166','168','186','207','215','216','218','220',              
                          '235','253','257','259','289','297','342','381','384','387','390','391','397','416','417','418','419','420',                    
                          '421','422','423','438','439','440','441','468','469','470','471','472','498','533')                    
AND M10_AP_CAMPO NOT LIKE '%PO'                    
  ORDER BY M10_CD_BROKER                    
                    
OPEN cEvento                    
FETCH cEvento INTO @apCampo, @cdBroker                    
                    
WHILE @@fetch_status = 0                    
BEGIN                    
  SET @txUpdate = 'UPDATE FI SET '                    
  IF @cdBroker IN ('001','012','018','021','041','076','088','146','161','162','164','207','215','216','381')  
  BEGIN                    
    SET @txUpdate = @txUpdate + '                     
    RLZ_'+@apCampo+' = FU.DT_REALIZACAO, PVT_'+@apCampo+' = FU.DT_PREVISTA, IN_'+@apCampo+' = FU.IN_APLICAVEL'                    
  END                    
  ELSE                   
  BEGIN                    
    SET @txUpdate = @txUpdate + '                     
    RLZ_'+@apCampo+' = ISNULL(FU.DT_REALIZACAO, RLZ_'+@apCampo+'),                    
    PVT_'+@apCampo+' = ISNULL(FU.DT_PREVISTA, PVT_'+@apCampo+'),                    
    IN_'+@apCampo+' = ISNULL(FU.IN_APLICAVEL, IN_'+@apCampo+') '                    
  END                    
  SET @txUpdate = @txUpdate + '                     
  FROM MYINDAIA.DBO.TFLP_IMPORT FI (NOLOCK)                    
    INNER JOIN #TMP_ESTAGIO ATZ ON (FI.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FI.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FI.NR_PARCIAL = ATZ.NR_PARCIAL)                    
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = FI.NR_PROCESSO_DES)                    
    INNER JOIN TFOLLOWUP FU (NOLOCK) ON (FU.NR_PROCESSO = FI.NR_PROCESSO_DES AND FU.CD_EVENTO = '''+@cdBroker+''')                    
  WHERE FI.NR_PROCESSO_ADM IS NOT NULL                    
    AND YEAR(PR.DT_ABERTURA) >= '+CAST(@data AS char)                    
  exec(@txUpdate)                    
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_IMPORT com o evento de Desembaraço '+@cdBroker                    
  FETCH cEvento INTO @apCampo, @cdBroker                    
END                    
                    
CLOSE cEvento                    
DEALLOCATE cEvento                      
                    
--Follow-Up de Itens da PO(Administrao de Pedido)                    
INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                    
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI,                    
  DT_PREVISTA, DT_REALIZACAO, IN_APLICAVEL, NR_ORDEM, TP_FOLLOWUP )                    
SELECT DISTINCT                    
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                   
  EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM, '1' AS TP_FOLLOWUP                    
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL)                  
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)                    
  INNER JOIN MYINDAIA.DBO.TFLP_PO_ITEM FP (NOLOCK) ON (FP.NR_PROCESSO = EP.NR_REFERENCIA AND FP.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE and FP.NR_PARCIAL = EP.NR_PARCIAL)                    
WHERE YEAR(PR.DT_ABERTURA) >= @data                    
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'  
--verifica se ocorreram erros                    
SET @registros = @registros + @@rowcount                    
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_ESTAGIO com eventos da PO/Item'                    
                    
--Follow-Up de PO(Administrao de Pedido)                    
INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                    
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI,                    
  DT_PREVISTA, DT_REALIZACAO, IN_APLICAVEL, NR_ORDEM, TP_FOLLOWUP )                    
SELECT DISTINCT                    
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE,  EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                   
  EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.DT_PREVISTA, FP.DT_REALIZACAO, FP.IN_APLICAVEL, FP.NR_ORDEM, '0' AS TP_FOLLOWUP                    
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL)                    
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)                    
  INNER JOIN MYINDAIA.DBO.TFLP_PO FP (NOLOCK) ON (FP.NR_PROCESSO = EP.NR_REFERENCIA)                    
WHERE YEAR(PR.DT_ABERTURA) >= @data                    
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'  
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)                    
                  WHERE NR_REFERENCIA = EP.NR_REFERENCIA                    
                    AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE                    
                    AND NR_PARCIAL = EP.NR_PARCIAL                    
                    AND CD_EVENTO = FP.CD_EVENTO)                    
--verifica se ocorreram erros                    
SET @registros = @registros + @@rowcount                    
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_ESTAGIO com eventos da PO'                    
                    
--Follow-Up de Desembaraço - insere registros ausentes                    
INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                    
  NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, NR_PROCESSO_ADM, NR_PROCESSO_DES, NR_PROCESSO_FI, NR_ORDEM, TP_FOLLOWUP )                    
SELECT DISTINCT                    
  EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, FP.CD_EVENTO, EP.NR_PROCESSO_ADM,                   
  EP.NR_PROCESSO_DES, EP.NR_PROCESSO_FI, FP.NR_ORDEM, '2'                    
FROM #TMP_ESTAGIO ATZ           
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL)                    
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_DES)                    
  INNER JOIN TFOLLOWUP FP (NOLOCK) ON (FP.NR_PROCESSO = EP.NR_PROCESSO_DES)                    
WHERE YEAR(PR.DT_ABERTURA) >= @data                    
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'                    
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)                    
        WHERE NR_REFERENCIA = EP.NR_REFERENCIA                    
                    AND NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE                    
                    AND NR_PARCIAL = EP.NR_PARCIAL                    
                    AND CD_EVENTO = FP.CD_EVENTO)   
--verifica se ocorreram erros                    
SET @registros = @registros + @@rowcount                    
IF @@ERROR <> 0 PRINT 'Erro na inclusão da TFLP_ESTAGIO com eventos do Desembaraço'                    
--Follow-Up de Desembaraço - atualiza registros                    
UPDATE FE SET                    
  DT_PREVISTA = ISNULL(FP.DT_PREVISTA, FE.DT_PREVISTA),                    
  DT_REALIZACAO = ISNULL(FP.DT_REALIZACAO, FE.DT_REALIZACAO),                    
  IN_APLICAVEL = ISNULL(FP.IN_APLICAVEL, FE.IN_APLICAVEL)                    
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN MYINDAIA.DBO.TFLP_ESTAGIO FE (NOLOCK) ON (FE.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FE.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FE.NR_PARCIAL = ATZ.NR_PARCIAL)                    
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = ATZ.NR_PARCIAL)                    
  INNER JOIN TFOLLOWUP FP (NOLOCK) ON (FP.NR_PROCESSO = FE.NR_PROCESSO_DES AND FP.CD_EVENTO = FE.CD_EVENTO)                    
WHERE ISNULL(EP.IN_SUBSTITUIDO, '0') = '0'                    
--verifica se ocorreram erros                    
IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_ESTAGIO com o evento de Desembaraço e não susbstituido'                    
--Follow-Up de Desembaraço - atualiza registros                    
UPDATE FE SET                    
  DT_PREVISTA = FP.DT_PREVISTA,                    
  DT_REALIZACAO = FP.DT_REALIZACAO,                    
  IN_APLICAVEL = FP.IN_APLICAVEL                    
FROM #TMP_ESTAGIO ATZ                    
  INNER JOIN MYINDAIA.DBO.TFLP_ESTAGIO FE (NOLOCK) ON (FE.NR_REFERENCIA = ATZ.NR_REFERENCIA AND FE.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND FE.NR_PARCIAL = ATZ.NR_PARCIAL)                    
  INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (EP.NR_REFERENCIA = ATZ.NR_REFERENCIA AND EP.NR_ITEM_CLIENTE = ATZ.NR_ITEM_CLIENTE AND EP.NR_PARCIAL = ATZ.NR_PARCIAL)                    
  INNER JOIN TFOLLOWUP FP (NOLOCK) ON (FP.NR_PROCESSO = FE.NR_PROCESSO_DES AND FP.CD_EVENTO = FE.CD_EVENTO)                    
WHERE ISNULL(EP.IN_SUBSTITUIDO, '0') = '1'                    
--verifica se ocorreram erros          
IF @@ERROR <> 0                   
  PRINT 'Erro na atualização da TFLP_ESTAGIO com o evento de Desembaraço e susbstituido'                    
                    
--insere os eventos limitadores na followup (caso não existam)  
DECLARE cProcesso CURSOR LOCAL FOR                    
  SELECT EP.NR_REFERENCIA, EP.NR_ITEM_CLIENTE, EP.NR_PARCIAL, EP.DT_ULT_ALTERACAO, EP.NR_PROCESSO_ADM                    
  FROM #TMP_ESTAGIO ATZ                    
    INNER JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON (ATZ.NR_REFERENCIA = EP.NR_REFERENCIA AND ATZ.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE AND ATZ.NR_PARCIAL = EP.NR_PARCIAL)            
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = EP.NR_PROCESSO_ADM)                    
  WHERE EP.NR_PROCESSO_DES IS NULL                    
    AND YEAR(PR.DT_ABERTURA) >= @data                    
    AND ISNULL(PR.CD_TP_PEDIDO, 0) IN ('4','5')                    
                      
OPEN cProcesso                    
FETCH cProcesso INTO @nr_referencia, @nr_item_cliente, @NR_PARCIAL, @dt_ult_alteracao, @nr_processo_adm                    
WHILE @@fetch_status = 0                    
BEGIN                    
  INSERT INTO MYINDAIA.DBO.TFLP_ESTAGIO (                    
    NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL, DT_ULT_ALTERACAO, CD_EVENTO, TP_FOLLOWUP, NR_PROCESSO_ADM, IN_APLICAVEL )                    
  SELECT                     
    @nr_referencia, @nr_item_cliente, @NR_PARCIAL, @dt_ult_alteracao, M10_CD_BROKER, '2', @nr_processo_adm, '1'                    
  FROM MYINDAIA.DBO.M03_LIMITADOR (NOLOCK), MYINDAIA.DBO.M10_DADOS (NOLOCK)                    
  WHERE M03_CD_MENU = '01'                    
    AND M03_CD_SUBM = '01'                    
    AND M03_CD_DADO = M10_CD_DADO                    
    AND M10_CD_BROKER NOT IN (SELECT CD_EVENTO                    
                              FROM MYINDAIA.DBO.TFLP_ESTAGIO (NOLOCK)                    
                              WHERE NR_REFERENCIA    = @nr_referencia                    
                                AND NR_ITEM_CLIENTE  = @nr_item_cliente                    
                                AND NR_PARCIAL       = @NR_PARCIAL                    
                                AND NR_PROCESSO_ADM  = @nr_processo_adm)                    
  IF @@ERROR <> 0 PRINT 'Erro na atualização da TFLP_ESTAGIO com o evento limitador'                    
  FETCH cProcesso INTO @nr_referencia, @nr_item_cliente, @NR_PARCIAL, @dt_ult_alteracao, @nr_processo_adm                    
END                    
CLOSE cProcesso                    
DEALLOCATE cProcesso       
  
/**************************************************************************************************/  
PRINT 'Registros atualizados: '+CAST(@registros as varchar)                    
DROP TABLE #TMP_PEDIDO                     
DROP TABLE #TMP_ESTAGIO                    
  
--commit TRAN                    
SET NOCOUNT OFF   
GO
