USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_duplica_ct_contabil_gerencial] ( @cd_ct_contabil_fonte char(10), @cd_ct_contabil_destino char(10), 
                                                    @cd_mes_fonte char(2), @cd_ano_fonte char(4) ) AS

/* Transferir dados Conta Contábil X Gerencial */

IF ( SELECT COUNT(*)
     FROM   TCT_CONTABIL_GERENCIAL
     WHERE  CD_MES         = @cd_mes_fonte AND
            CD_ANO         = @cd_ano_fonte AND
            CD_CT_CONTABIL = @cd_ct_contabil_fonte ) > 0
BEGIN
  INSERT INTO TCT_CONTABIL_GERENCIAL ( CD_MES, CD_ANO, CD_CT_CONTABIL, CD_CT_GERENCIAL, VL_PORCENTAGEM )
     SELECT @cd_mes_fonte, @cd_ano_fonte, @cd_ct_contabil_destino, CD_CT_GERENCIAL, VL_PORCENTAGEM
     FROM   TCT_CONTABIL_GERENCIAL
     WHERE  CD_MES         = @cd_mes_fonte AND
            CD_ANO         = @cd_ano_fonte AND
            CD_CT_CONTABIL = @cd_ct_contabil_fonte
  RETURN 0
END 
ELSE RETURN 1



GO
