USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_atz_prev_custo    Script Date: 02/09/1999 08:58:58 AM ******/
CREATE PROCEDURE [sp_atz_prev_custo] ( @nr_processo char(18) ) AS

DECLARE @cd_item_vmle        char(3)
DECLARE @cd_item_acresc      char(3)
DECLARE @cd_item_ded         char(3)
DECLARE @cd_item_frete_aereo char(3)
DECLARE @cd_item_frete_mar   char(3)
DECLARE @cd_item_frete       char(3)
DECLARE @cd_item_seguro      char(3)
DECLARE @cd_item_ii          char(3)
DECLARE @cd_item_ipi         char(3)
DECLARE @cd_item_icms        char(3)
DECLARE @cd_item_siscomex    char(3)
DECLARE @cd_item_desp_orig   char(3)
DECLARE @vl_mle_mn           float 
DECLARE @vl_acresc_mn        float
DECLARE @vl_ded_mn           float
DECLARE @vl_frete_mn         numeric(14,2)
DECLARE @vl_seguro_mn        float
DECLARE @vl_ii_mn            numeric(14,2)
DECLARE @vl_ipi_mn           numeric(14,2)
DECLARE @vl_icms_mn          numeric(14,2)
DECLARE @vl_taxa_siscomex    numeric(14,2)
DECLARE @tx_dolar            float
DECLARE @vl_item             float
DECLARE @cd_via_transp_carg  char(3)
DECLARE @dt_reg_di           char(10)
DECLARE @incluir             bit
DECLARE @dt_lancamento       datetime
DECLARE @cd_item_fat_cc      char(3)
DECLARE @cd_item             char(3)
DECLARE @nm_stored_proc      varchar(30)
DECLARE @vl_calculado        float
DECLARE @proc_cd_cliente     char(5)
DECLARE @proc_cd_unid_neg    char(2)
DECLARE @proc_cd_produto     char(2)
DECLARE @proc_cd_servico     char(3)
DECLARE @in_frete            bit
DECLARE @in_ii               bit
DECLARE @in_ipi              bit
DECLARE @in_icms             bit
DECLARE @in_desp_orig        bit
DECLARE @in_siscomex         bit
DECLARE @in_restitui         char(1)

SELECT  @cd_item_vmle      = CD_ITEM_VMLE,      @cd_item_acresc      = CD_ITEM_ACRESC, 
        @cd_item_ded       = CD_ITEM_DED,       @cd_item_frete_aereo = CD_ITEM_FRETE_AEREO, 
        @cd_item_frete_mar = CD_ITEM_FRETE_MAR, @cd_item_seguro      = CD_ITEM_SEGURO,      
        @cd_item_ii        = CD_ITEM_II,        @cd_item_ipi         = CD_ITEM_IPI,
        @cd_item_icms      = CD_ITEM_ICMS, @cd_item_siscomex    = CD_ITEM_SISCOMEX,
        @cd_item_desp_orig = CD_ITEM_DESP_ORIG
FROM TPARAMETROS (NOLOCK)

SELECT @vl_mle_mn    = isnull(VL_TOTAL_MLE_MN,0) + isnull(VL_TOT_DESPS_MN,0),
       @vl_acresc_mn = isnull(VL_TOTAL_ACRESCIMOS_MN,0), 
       @vl_ded_mn    = isnull(VL_TOTAL_DEDUCOES_MN,0),
       @vl_frete_mn  = isnull(VL_TOTAL_FRETE_MN,0),
       @vl_seguro_mn = isnull(VL_TOTAL_SEG_MN,0),
       @vl_ii_mn     = isnull(VL_TOTAL_II,0), 
       @vl_ipi_mn    = isnull(VL_TOTAL_IPI,0),
       @vl_icms_mn   = isnull(VL_TOT_ICMS,0),
       @tx_dolar     = isnull(TX_DOLAR,0),
       @cd_via_transp_carg = CD_VIA_TRANSP_CARG,
       @dt_reg_di    = ( SUBSTRING(DT_REGISTRO_DI, 1, 2) + '/' + SUBSTRING(DT_REGISTRO_DI, 3, 2) + '/' + SUBSTRING(DT_REGISTRO_DI, 5, 4) )
FROM  TDECLARACAO_IMPORTACAO (NOLOCK)
WHERE NR_PROCESSO = @NR_PROCESSO

SELECT @vl_taxa_siscomex = isnull(VL_TRIBUTO_PAGO, 0)
FROM TPAGAMENTO_TRIBUTOS (NOLOCK)
WHERE (NR_PROCESSO = @nr_processo) and (CD_RECEITA_PGTO = '7811') 

IF @cd_via_transp_carg = '01' /* MARITIMO */
   SELECT @cd_item_frete = @cd_item_frete_mar
ELSE  /* AEREO/OUTROS */
   SELECT @cd_item_frete = @cd_item_frete_aereo
DELETE TPREVISAO_CUSTO
  where nr_processo = @nr_processo

IF @vl_mle_mn        > 0 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_vmle,     @vl_mle_mn,        @vl_mle_mn,        convert(datetime, @dt_reg_di ,103), @tx_dolar, '1' )
IF @vl_acresc_mn     > 0 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_acresc,   @vl_acresc_mn,     @vl_acresc_mn,     convert(datetime, @dt_reg_di ,103), @tx_dolar, '1' )
IF @vl_ded_mn        > 0 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_ded,      @vl_ded_mn,        @vl_ded_mn,        convert(datetime, @dt_reg_di ,103), @tx_dolar, '1' )
IF @vl_frete_mn      > 0 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_frete,    @vl_frete_mn,      @vl_frete_mn,      convert(datetime, @dt_reg_di ,103), @tx_dolar, '1' )
IF @vl_seguro_mn     > 0 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_seguro,   @vl_seguro_mn,     @vl_seguro_mn,     convert(datetime, @dt_reg_di ,103), @tx_dolar, '1' )
IF @vl_ii_mn         > 0 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_ii,       @vl_ii_mn,         @vl_ii_mn,         convert(datetime, @dt_reg_di ,103), @tx_dolar, '1' )
IF @vl_ipi_mn        > 0 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_ipi,      @vl_ipi_mn,        @vl_ipi_mn,        convert(datetime, @dt_reg_di ,103), @tx_dolar, '1' )
IF @vl_icms_mn       > 0 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_icms,     @vl_icms_mn,       @vl_icms_mn,       convert(datetime, @dt_reg_di ,103), @tx_dolar, '1' )
IF @vl_taxa_siscomex > 0 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_siscomex, @vl_taxa_siscomex, @vl_taxa_siscomex, convert(datetime, @dt_reg_di ,103), @tx_dolar, '1' )

select @in_frete      = 0
select @in_ii         = 0
select @in_ipi        = 0
select @in_icms       = 0
select @in_desp_orig  = 0
select @in_siscomex   = 0

DECLARE c_fat_cc cursor
FOR SELECT F.DT_LANCAMENTO, F.CD_ITEM, F.VL_ITEM+F.VL_ASSIST, F.IN_RESTITUI
    FROM  TFATURAMENTO_CC F (NOLOCK), TITEM I (NOLOCK)
    WHERE F.CD_ITEM     = I.CD_ITEM AND
          F.NR_PROCESSO = @nr_processo AND
          I.CD_TIPO_ITEM IN ('D','R') AND
          F.IN_CANCELADO = '0'
          
OPEN c_fat_cc
FETCH c_fat_CC INTO @dt_lancamento, @cd_item_fat_cc, @vl_item, @in_restitui
WHILE @@fetch_status <> -1
BEGIN
   IF @in_restitui = '1'
     SELECT @vl_item = @vl_item * (-1)
   SELECT @incluir     = 1
   SELECT @tx_dolar = CONVERT( float, TX_CAMBIO)
   FROM TTAXA_CAMBIO (NOLOCK)
   WHERE @dt_lancamento BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA AND CD_MOEDA = '220'

   IF ( @cd_item_fat_cc = @cd_item_desp_orig )
   BEGIN
      SELECT @vl_acresc_mn = @vl_acresc_mn - @vl_item
      IF @vl_acresc_mn >= 0 
         SELECT @incluir = 0
      ELSE
      BEGIN
         SELECT @incluir      = 1
         SELECT @vl_item      = (@vl_acresc_mn)*(-1)
         SELECT @vl_acresc_mn = 0
      END
     select @in_desp_orig    = 1
   END
   IF ( @cd_item_fat_cc = @cd_item_frete  )
   BEGIN
      SELECT @vl_frete_mn = @vl_frete_mn - @vl_item
      IF @vl_frete_mn >= 0 
         SELECT @incluir = 0
      ELSE
      BEGIN
         SELECT @incluir     = 1
         SELECT @vl_item     = (@vl_frete_mn)*(-1)
         SELECT @vl_frete_mn = 0
      END
     select @in_frete        = 1
   END
   IF @cd_item_fat_cc = @cd_item_ii 
   BEGIN 
      SELECT @vl_ii_mn = @vl_ii_mn - @vl_item
      IF @vl_ii_mn >= 0 
         SELECT @incluir = 0
      ELSE
      BEGIN
         SELECT @incluir  = 1
         SELECT @vl_item  = (@vl_ii_mn)*(-1)
         SELECT @vl_ii_mn = 0
      END
      select @in_ii    = 1
   END
   IF @cd_item_fat_cc = @cd_item_ipi
   BEGIN 
      SELECT @vl_ipi_mn = @vl_ipi_mn - @vl_item
      IF @vl_ipi_mn >= 0 
         SELECT @incluir = 0
      ELSE
      BEGIN
         SELECT @incluir   = 1
         SELECT @vl_item   = (@vl_ipi_mn)*(-1)
         SELECT @vl_ipi_mn = 0
      END
      select @in_ipi       = 1
   END
   IF @cd_item_fat_cc = @cd_item_icms
   BEGIN 
      SELECT @vl_icms_mn = @vl_icms_mn - @vl_item
      IF @vl_icms_mn >= 0 
         SELECT @incluir = 0
      ELSE
      BEGIN
         SELECT @incluir    = 1
         SELECT @vl_item    = (@vl_icms_mn)*(-1)
         SELECT @vl_icms_mn = 0
      END
      select @in_icms       = 1
   END
   IF @cd_item_fat_cc = @cd_item_siscomex
   BEGIN 
      SELECT @vl_taxa_siscomex = @vl_taxa_siscomex - @vl_item
      IF @vl_taxa_siscomex >= 0 
         SELECT @incluir = 0
      ELSE
      BEGIN
         SELECT @incluir          = 1
         SELECT @vl_item          = (@vl_taxa_siscomex )*(-1)
         SELECT @vl_taxa_siscomex = 0
      END
      select @in_siscomex         = 1
   END
   IF @incluir = 1 INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_fat_cc, @vl_item, @vl_item, @dt_lancamento, @tx_dolar, '0' )
   FETCH c_fat_CC INTO @dt_lancamento, @cd_item_fat_cc, @vl_item, @in_restitui
END
CLOSE c_fat_cc
DEALLOCATE c_fat_cc

IF ( @vl_acresc_mn     > 0 ) and ( @in_desp_orig = 1 ) INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_desp_orig, @vl_acresc_mn     * (-1), @vl_acresc_mn     * (-1), CONVERT( datetime, @dt_reg_di, 103  ), @tx_dolar, '0' )
IF ( @vl_frete_mn      > 0 ) and ( @in_frete     = 1 ) INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_frete,     @vl_frete_mn      * (-1), @vl_frete_mn      * (-1), CONVERT( datetime, @dt_reg_di, 103  ), @tx_dolar, '0' )
IF ( @vl_ii_mn         > 0 ) and ( @in_ii        = 1 ) INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_ii,        @vl_ii_mn         * (-1), @vl_ii_mn         * (-1), CONVERT( datetime, @dt_reg_di, 103  ), @tx_dolar, '0' )
IF ( @vl_ipi_mn        > 0 ) and ( @in_ipi       = 1 ) INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_ipi,       @vl_ipi_mn        * (-1), @vl_ipi_mn        * (-1), CONVERT( datetime, @dt_reg_di, 103  ), @tx_dolar, '0' )    
IF ( @vl_icms_mn       > 0 ) and ( @in_icms      = 1 ) INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_icms,      @vl_icms_mn       * (-1), @vl_icms_mn       * (-1), CONVERT( datetime, @dt_reg_di, 103  ), @tx_dolar, '0' )
IF ( @vl_taxa_siscomex > 0 ) and ( @in_siscomex  = 1 ) INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item_siscomex,  @vl_taxa_siscomex * (-1), @vl_taxa_siscomex * (-1), CONVERT( datetime, @dt_reg_di, 103  ), @tx_dolar, '0' )


/***** CALCULANDO *****/
SELECT @proc_cd_cliente  = CD_CLIENTE,
       @proc_cd_unid_neg = CD_UNID_NEG,
       @proc_cd_produto  = CD_PRODUTO,
       @proc_cd_servico  = CD_SERVICO
FROM TPROCESSO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo

IF (SELECT COUNT(*) 
    FROM  TPROCESSO P (NOLOCK),
          TCLIENTE_FATURAMENTO F (NOLOCK)
    WHERE P.CD_CLIENTE     = F.CD_CLIENTE     AND
          P.CD_UNID_NEG    = F.CD_UNID_NEG    AND
          P.CD_PRODUTO     = F.CD_PRODUTO     AND
          P.CD_SERVICO     = F.CD_SERVICO     AND
          P.NR_PROCESSO    = @nr_processo ) > 0
BEGIN
  DECLARE c_faturamento cursor
    FOR SELECT F.CD_ITEM, S.NM_STORED_PROCEDURE
    FROM  TCLIENTE_FATURAMENTO F (NOLOCK),
          TCALCULO S (NOLOCK)
    WHERE F.CD_CLIENTE     = @proc_cd_cliente  and
          F.CD_UNID_NEG    = @proc_cd_unid_neg and
          F.CD_PRODUTO     = @proc_cd_produto  and
          F.CD_SERVICO     = @proc_cd_servico  and
          F.TP_CALCULO     = s.cd_calculo
    OPEN c_faturamento
  FETCH c_faturamento INTO @cd_item, @nm_stored_proc
  WHILE @@fetch_status <> -1
  BEGIN
    IF ( SELECT COUNT(*) 
           FROM TPREVISAO_CUSTO (NOLOCK)
           WHERE NR_PROCESSO = @nr_processo AND
                 CD_ITEM = @cd_item ) = 0
    BEGIN
      EXECUTE @nm_stored_proc @nr_processo, @cd_item, @vl_calculado OUTPUT
      SELECT @tx_dolar = CONVERT( float, TX_CAMBIO)
        FROM TTAXA_CAMBIO
        WHERE GETDATE() BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA AND 
              CD_MOEDA= '220'
      INSERT TPREVISAO_CUSTO VALUES ( @nr_processo, @cd_item, @vl_calculado, @vl_calculado, convert(datetime, convert(char(18), GETDATE()),103), @tx_dolar, '0' )
    END
    FETCH c_faturamento into @cd_item, @nm_stored_proc
  END
  CLOSE c_faturamento
  DEALLOCATE c_faturamento
END




GO
