USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_fat_calculo_exp] ( @cd_unid_neg char(2), @cd_produto char(2), @nr_solicitacao char(6), 
                                      @vl_sd_fat_zero float OUTPUT, @nr_identificador int OUTPUT ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6) 
DECLARE @vl_sd_fat_zero float 
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solicitacao = '000314'
SELECT @vl_sd_fat_zero = 0

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo            char(18)
DECLARE @tp_tipo_fat            char(1)
DECLARE @dt_fatura              datetime
DECLARE @nr_lanc                char(4)
DECLARE @nr_lanc_cli            char(3)
DECLARE @cd_item                char(3)
DECLARE @cd_favorecido          char(5)
DECLARE @vl_informado           float
DECLARE @vl_aliq_ir             float
DECLARE @vl_aliq_iss            float
DECLARE @cd_item_ir             char(3)
DECLARE @cd_item_iss            char(3)
DECLARE @cd_item_cpmf           char(3)
DECLARE @cd_item_saldo_cre      char(3)
DECLARE @cd_item_saldo_deb      char(3)
DECLARE @cd_item_saldo          char(3)
DECLARE @cd_item_liq            char(3)
DECLARE @cd_item_pagto_sd       char(3)
DECLARE @cd_item_receb_sd       char(3)
DECLARE @cd_item_nao_fat        char(3)
DECLARE @cd_item_nfat           char(3)
DECLARE @cd_item_pago_cli       char(3)
DECLARE @in_restitui            char(1)
DECLARE @in_restitui_cpmf       char(1)
DECLARE @in_cpmf_item           char(1)
DECLARE @in_cpmf_cliente        char(1)
DECLARE @in_arredonda_cpmf_item char(1)
DECLARE @in_nao_fat    	        char(1)
DECLARE @vl_calc_ir             numeric (14,3)
DECLARE @vl_tot_ir              numeric (14,2)
DECLARE @vl_item                float
DECLARE @vl_ir                  float
DECLARE @vl_iss                 float
DECLARE @vl_assist              float
DECLARE @vl_min_ir              float
DECLARE @vl_base_ir             numeric (14,2)
DECLARE @vl_base_iss            numeric (14,2)
DECLARE @vl_saldo_cre           numeric (14,2)
DECLARE @vl_saldo_deb           numeric (14,2)
DECLARE @vl_saldo_tot           numeric (14,2)
DECLARE @vl_saldo_fat           numeric (14,2)
DECLARE @vl_cpmf                numeric (14,7)
DECLARE @vl_cpmf_num            numeric (14,7)
DECLARE @cd_usuario             char(4)
DECLARE @in_nvocc               char(1)
DECLARE @in_sd_fat_zero         char(1)
DECLARE @in_sd_nota_zero        char(1)
DECLARE @in_cobrar_iss          char(1)
DECLARE @in_cpmf_total          char(1)
DECLARE @in_fat_sem_desp        char(1)
DECLARE @vl_pago_cli            numeric (14,2)
DECLARE @cd_ir_fat              char(1)
DECLARE @in_calcula_irrf_vl_min char(1)
DECLARE @in_liq_aut             char(1)
DECLARE @vl_saldo_fat_processo  numeric (14,2) 
DECLARE @cont_dif               int
DECLARE @cont_rat               int
DECLARE @cont_area              int
DECLARE @resp_rat               char(1)
DECLARE @resp_dif               char(1)
DECLARE @cd_item_calc           char(3)		
DECLARE @cd_area                char(2)
DECLARE @nr_processo_area       char(18)
DECLARE @nr_processo_calc       char(18)
DECLARE @cd_grupo_basf          char(3)
DECLARE @cd_grupo_bsg           char(3)
DECLARE @nm_cidade              varchar(30)
DECLARE @cd_referencia          char(15)
DECLARE @nr_remessa             char(21)

SELECT  @vl_pago_cli  = 0
SELECT  @vl_saldo_fat = 0
SELECT  @vl_tot_ir    = 0

/*** Atualizando parametros ***/
SELECT @vl_aliq_ir             = VL_ALIQ_IR,
       @cd_item_ir             = CD_ITEM_IR,
       @cd_item_iss            = CD_ITEM_ISS,
       @cd_item_cpmf           = CD_ITEM_CPMF,
       @cd_item_saldo_cre      = CD_ITEM_SALDO_CRE,
       @cd_item_saldo_deb      = CD_ITEM_SALDO_DEB,
       @cd_item_nao_fat        = CD_ITEM_NAO_FAT,
       @vl_min_ir              = VL_MIN_IR,
       @cd_item_pago_cli       = CD_ITEM_PAGO_CLI,
       @cd_item_pagto_sd       = CD_ITEM_PAGTO_SD,
       @cd_item_receb_sd       = CD_ITEM_RECEB_SD,
       @in_arredonda_cpmf_item = IN_ARREDONDA_CPMF_ITEM,
       @cd_grupo_basf          = CD_GRUPO_BASF,
       @cd_grupo_bsg           = CD_GRUPO_BSG
FROM   TPARAMETROS

SELECT @vl_aliq_iss = VL_ALIQ_ISS
FROM   TUNID_NEG
WHERE  CD_UNID_NEG = @cd_unid_neg

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_NAME()

SELECT @tp_tipo_fat   = TP_TIPO_FAT,
       @dt_fatura     = DT_FATURA,
       @in_liq_aut    = IN_LIQ_AUT
FROM   TS_FATURA
WHERE  CD_UNID_NEG    = @cd_unid_neg AND
       CD_PRODUTO     = @cd_produto  AND
       NR_SOLICITACAO = @nr_solicitacao

--Verificações
DECLARE c_fat CURSOR FOR
  SELECT NR_PROCESSO 
  FROM   TS_FATURA_PROCESSO
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLICITACAO = @nr_solicitacao
OPEN c_fat
FETCH c_fat INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN  IF ( ( SELECT COUNT(*)
         FROM   TFATURAMENTO_CC F
         WHERE  NR_PROCESSO   = @nr_processo AND
                DT_LANCAMENTO <= @dt_fatura AND
                IN_CANCELADO  = '0' AND
                IN_SEL_FAT    = '1' AND
                IN_FATURADO   = '0' ) < = 0 ) AND
     ( ( SELECT COUNT(*)
         FROM   TS_FATURA_PROCESSO_ITEM F
         WHERE  CD_UNID_NEG    = @cd_unid_neg AND 
                CD_PRODUTO     = @cd_produto  AND
                NR_SOLICITACAO = @nr_solicitacao ) <= 0 ) 
  BEGIN
    CLOSE c_fat
    DEALLOCATE c_fat
    -- Não existem itens a faturar
    INSERT INTO TLOG_ERRO_CALCULO VALUES ( @cd_usuario, 'sp_fat_calculo', 1, '000' )
    RETURN(1)
  END

  IF ( ( ( SELECT COUNT(*) 
           FROM   TFATURAMENTO_CC F, TITEM I
           WHERE  F.NR_PROCESSO   = @nr_processo AND
                  F.DT_LANCAMENTO <= @dt_fatura AND
                  F.IN_SEL_FAT    = '1' AND
                  F.IN_CANCELADO  = '0' AND
                  F.IN_FATURADO   = '0' AND
                  F.CD_ITEM       = I.CD_ITEM AND
                  I.CD_TIPO_ITEM  = 'R' AND
                  F.IN_RESTITUI   = '0' ) <= 0 ) AND 
       ( @tp_tipo_fat = 'F' ) ) AND
     ( ( ( SELECT COUNT(*) 
           FROM   TS_FATURA_PROCESSO_ITEM F, TITEM I
           WHERE  F.CD_UNID_NEG    = @cd_unid_neg AND
                  F.CD_PRODUTO     = @cd_produto  AND
                  F.NR_SOLICITACAO = @nr_solicitacao AND
                  F.NR_PROCESSO    = @nr_processo AND
                  F.CD_ITEM        = I.CD_ITEM AND
                  I.CD_TIPO_ITEM   = 'R' AND
                  F.IN_RESTITUI    = '0' ) <= 0 ) AND 
       ( @tp_tipo_fat = 'F' ) )
  BEGIN
    IF ( SELECT ISNULL( TP_FAT_SEM_RECEITA, 0 )
         FROM   TPRODUTO 
         WHERE  CD_PRODUTO = @cd_produto ) = 0
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat

      -- Tipo de Faturamento Nota Fiscal/Fatura deve possuir um item do tipo Receitas
      INSERT INTO TLOG_ERRO_CALCULO VALUES ( @cd_usuario, 'sp_fat_calculo', 2, '000' )
      RETURN(2)
    END
  END           
          
  FETCH c_fat INTO @nr_processo
END
CLOSE c_fat
DEALLOCATE c_fat 

SELECT NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, 
       CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, 
       NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL 
INTO   #TMP_IR
FROM   TFATURAMENTO_CC
WHERE  NR_PROCESSO = NULL

/***** TUDO OK - INICIAR CALCULO ****/
DECLARE c_fat CURSOR FOR
  SELECT NR_PROCESSO 
  FROM   TS_FATURA_PROCESSO
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLICITACAO = @nr_solicitacao
OPEN c_fat
FETCH c_fat INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN
  SELECT @in_cobrar_iss   = IN_COBRAR_ISS,
         @in_cpmf_total   = IN_CPMF_TOTAL,
         @in_fat_sem_desp = IN_FAT_SEM_DESP,
         @nm_cidade = E.END_CIDADE
  FROM   TPROCESSO P (NOLOCK), 
         TCLIENTE_HABILITACAO H (NOLOCK),
         TEMPRESA_NAC E (NOLOCK)
  WHERE  P.NR_PROCESSO = @nr_processo  AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO  = H.CD_PRODUTO  AND
         P.CD_CLIENTE  = H.CD_CLIENTE  AND
         P.CD_CLIENTE  = E.CD_EMPRESA
  -- FATURAMENTO PERTECH
  IF @in_fat_sem_desp = '1'
  BEGIN
    UPDATE TFATURAMENTO_CC
    SET    IN_FATURADO = '2'
    WHERE  IN_FATURADO = '0' AND
           NR_PROCESSO = @nr_processo AND
           ( ISNULL( CD_UNID_NEG, '' ) = '' ) AND
           ( ISNULL( CD_PRODUTO, '' ) = '' ) AND
           ( ISNULL( NR_SOLIC_FAT, '' ) = '' )
  END

  SELECT @nr_lanc = ISNULL( MAX( NR_LANCAMENTO ), '0000' )
  FROM   TFATURAMENTO_CC   WHERE  NR_PROCESSO = @nr_processo
 
  DECLARE c_fat_item CURSOR FOR
    SELECT CD_ITEM, VL_INFORMADO, IN_RESTITUI, CD_FAVORECIDO, IN_NAO_FAT
    FROM   TS_FATURA_PROCESSO_ITEM
    WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
           CD_PRODUTO     = @cd_produto     AND
           NR_SOLICITACAO = @nr_solicitacao AND
           NR_PROCESSO    = @nr_processo    AND
           VL_INFORMADO <> 0
  OPEN c_fat_item
  FETCH c_fat_item INTO @cd_item, @vl_informado, @in_restitui, @cd_favorecido, @in_nao_fat
  WHILE @@fetch_status <> -1
  BEGIN
    /*** TRANSFERINDO PARA TFATURAMENTO_CC ***/
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ), 4 )
    IF @in_nao_fat = '1'
      SELECT @cd_item_nfat = @cd_item_nao_fat
    ELSE IF @in_nao_fat = '*'
      SELECT @cd_item_nfat = '*'
    ELSE
      SELECT @cd_item_nfat = NULL
     
    INSERT INTO TFATURAMENTO_CC 
       ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, 
         VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, 
         IN_CONTABIL, CD_ITEM_NAO_FAT )
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_favorecido, @cd_item, 'S', '6', @vl_informado, 
             0, 0, '0', '0', @nr_solicitacao, @in_restitui, @cd_unid_neg, @cd_produto, '0', @cd_item_nfat )

    --Inserir Pagamentos do Cliente
    IF @cd_item_nfat = '*'
    BEGIN
      IF NOT EXISTS( SELECT * 
                     FROM   TFATURAMENTO_CC_CLIENTE
                     WHERE  NR_PROCESSO = @nr_processo AND
                            CD_ITEM = @cd_item )
      BEGIN
        SELECT @nr_lanc_cli = ISNULL( RIGHT( '0000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )
        FROM   TFATURAMENTO_CC_CLIENTE
        WHERE  NR_PROCESSO = @nr_processo

        IF @nr_lanc_cli = '000' SELECT @nr_lanc_cli = '001'

        INSERT TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO, IN_FATURA )
        VALUES ( @nr_processo, @nr_lanc_cli, @dt_fatura, @cd_item, @vl_informado, '0', '1' )
      END
    END

    FETCH c_fat_item INTO @cd_item, @vl_informado, @in_restitui, @cd_favorecido, @in_nao_fat
  END
  CLOSE c_fat_item
  DEALLOCATE c_fat_item

  /*** CALCULAR CPMF ITEM A ITEM ***/
  IF ( SELECT COUNT(*)
       FROM   TS_FATURA_PROCESSO_ITEM
       WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
              CD_PRODUTO     = @cd_produto     AND
              NR_SOLICITACAO = @nr_solicitacao AND
              NR_PROCESSO    = @nr_processo    AND
              CD_ITEM        = @cd_item_cpmf ) = 0 AND
     ( SELECT COUNT(*)
       FROM   TCLIENTE_HABILITACAO H
       JOIN   TPROCESSO P
         ON  (P.CD_UNID_NEG    = H.CD_UNID_NEG AND
              P.CD_PRODUTO     = H.CD_PRODUTO  AND
              P.CD_CLIENTE     = H.CD_CLIENTE )
       WHERE  P.NR_PROCESSO    = @nr_processo  AND
              H.IN_COBRAR_CPMF = '1'           AND
              H.IN_NOTA_LIQ    = '0' ) > 0
  BEGIN
    -- Despesas
    SELECT @vl_cpmf = 0

    DECLARE c_fat_cc CURSOR FOR
      SELECT F.CD_ITEM, 
             CASE @in_arredonda_cpmf_item 
             WHEN '1' THEN ROUND( ( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * X.PC_TAXA / 100 ), 2 )
             ELSE ( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * X.PC_TAXA / 100 )
             END, IN_CPMF, F.IN_RESTITUI
      FROM   TFATURAMENTO_CC F, 
             TITEM I, 
             TTIPO_ITEM T, 
             TTAXA_CPMF X, 
             TBANCO B
      WHERE  F.NR_PROCESSO   = @nr_processo  AND
             F.DT_LANCAMENTO <= @dt_fatura  AND
             F.IN_CANCELADO  = '0' AND
             F.IN_SEL_FAT    = '1' AND
             F.IN_FATURADO   = '0' AND
             F.CD_ITEM       = I.CD_ITEM AND
             I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM AND
             T.TP_NATUREZA   = 'D' AND
             T.IN_FATURAR    = '1' AND
             F.CD_BANCO      *= B.CD_BANCO AND
             F.DT_LANCAMENTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
             LTRIM( RTRIM( ISNULL( F.CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS       FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI  FROM TPARAMETROS )

    OPEN c_fat_cc
    FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item, @in_restitui_cpmf
    WHILE @@fetch_status <> -1
    BEGIN

      SELECT @in_cpmf_cliente = NULL

      SELECT @in_cpmf_cliente = IN_CPMF
      FROM   TPROCESSO P, 
             TCLIENTE_CPMF C
      WHERE  P.NR_PROCESSO = @nr_processo  AND
             P.CD_UNID_NEG = C.CD_UNID_NEG AND
             P.CD_PRODUTO  = C.CD_PRODUTO  AND
             P.CD_CLIENTE  = C.CD_CLIENTE  AND
             C.CD_ITEM     = @cd_item

      SELECT @in_cpmf_cliente = ISNULL( @in_cpmf_cliente, '1' ) 

      IF ( @in_cpmf_item = '1' ) AND ( @in_cpmf_cliente = '1' )
      BEGIN
       IF @in_restitui_cpmf = '0' 
          SELECT @vl_cpmf = @vl_cpmf + @vl_item 
       ELSE 
          SELECT @vl_cpmf = @vl_cpmf - @vl_item 
      END

      FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item, @in_restitui_cpmf
    END     
    CLOSE c_fat_cc
    DEALLOCATE c_fat_cc

    -- Numerário
    SELECT @vl_cpmf_num = 0

    DECLARE c_fat_cc CURSOR FOR
      SELECT F.CD_ITEM, 
             CASE @in_arredonda_cpmf_item 
             WHEN '1' THEN ROUND( ( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * X.PC_TAXA / 100 ), 2 )
             ELSE ( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * X.PC_TAXA / 100 )
             END, IN_CPMF
      FROM   TFATURAMENTO_CC F, 
             TITEM I, 
             TTAXA_CPMF X, 
             TBANCO B
      WHERE  F.NR_PROCESSO   = @nr_processo  AND
             F.DT_LANCAMENTO <= @dt_fatura  AND
             F.IN_CANCELADO  = '0' AND
             F.IN_SEL_FAT    = '1' AND
             F.IN_FATURADO   = '0' AND
             F.CD_ITEM       = I.CD_ITEM AND
             F.CD_BANCO      *= B.CD_BANCO AND
             F.DT_LANCAMENTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
             LTRIM( RTRIM( ISNULL( F.CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
             ( F.CD_ITEM IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) OR
               F.CD_ITEM IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) OR
               F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) )

    OPEN c_fat_cc
    FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item
    WHILE @@fetch_status <> -1
    BEGIN
      IF @cd_item IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS )
        SELECT @in_restitui_cpmf = '0'
      ELSE
        SELECT @in_restitui_cpmf = '1'

      SELECT @in_cpmf_cliente = NULL

      SELECT @in_cpmf_cliente = IN_CPMF
      FROM   TPROCESSO P, 
             TCLIENTE_CPMF C
      WHERE  P.NR_PROCESSO = @nr_processo  AND
             P.CD_UNID_NEG = C.CD_UNID_NEG AND
             P.CD_PRODUTO  = C.CD_PRODUTO  AND
             P.CD_CLIENTE  = C.CD_CLIENTE  AND
             C.CD_ITEM     = @cd_item

      SELECT @in_cpmf_cliente = ISNULL( @in_cpmf_cliente, '1' ) 

      IF ( @in_cpmf_item = '1' ) AND ( @in_cpmf_cliente = '1' )
      BEGIN
       IF @in_restitui_cpmf = '0' 
          SELECT @vl_cpmf_num = @vl_cpmf_num + @vl_item 
       ELSE 
          SELECT @vl_cpmf_num = @vl_cpmf_num - @vl_item
      END

      FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item
    END     
    CLOSE c_fat_cc
    DEALLOCATE c_fat_cc
    
    IF ( @in_cpmf_total = '1' ) AND ( ROUND( @vl_cpmf_num, 2 ) > ROUND( @vl_cpmf, 2 ) )
    BEGIN
      SELECT @vl_cpmf = @vl_cpmf_num
    END
    
    IF ROUND( @vl_cpmf, 2 ) > 0
    BEGIN
      SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ), 4 )
      INSERT INTO TFATURAMENTO_CC 
         ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
           VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
      VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_cpmf, 'S', '6', ROUND( @vl_cpmf, 2 ), 0, 0, '0', '0', 
               @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
    END
  END

  /*** CALCULAR CPMF SOBRE TOTAL ( EMBRAER - SERVIMEX )***/
  IF ( SELECT COUNT(*)
       FROM   TS_FATURA_PROCESSO_ITEM
       WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
              CD_PRODUTO     = @cd_produto     AND
              NR_SOLICITACAO = @nr_solicitacao AND
              NR_PROCESSO    = @nr_processo    AND
              CD_ITEM        = @cd_item_cpmf ) = 0 AND
     ( SELECT COUNT(*)
       FROM   TCLIENTE_HABILITACAO H
       JOIN   TPROCESSO P
         ON  (P.CD_UNID_NEG    = H.CD_UNID_NEG AND
              P.CD_PRODUTO     = H.CD_PRODUTO  AND
              P.CD_CLIENTE     = H.CD_CLIENTE )
       WHERE  P.NR_PROCESSO    = @nr_processo  AND
              H.IN_COBRAR_CPMF = '1' AND
              H.IN_NOTA_LIQ = '1' ) > 0
  BEGIN
    SELECT @vl_cpmf = 0
    SELECT @vl_cpmf = 
           CASE @in_arredonda_cpmf_item
           WHEN '1' THEN
             ROUND( 
                    ( 
                      SUM( 
                          CASE ISNULL( I.IN_CPMF, '1' ) -- Item 
                            WHEN '1' THEN
                              CASE ISNULL( C.IN_CPMF, '1' ) -- Item Cliente
                                WHEN '1' THEN
                                  CASE ISNULL( F.IN_RESTITUI, '0' )
                                    WHEN '0' THEN ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) 
                                    ELSE ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * (-1)
                                  END -- CASE IN_RESTITUI
                                ELSE 0
                              END -- CASE C.IN_CPMF
                            ELSE 0
                          END -- CASE I.IN_CPMF
                         ) 
                      * MAX( X.PC_TAXA ) / 100 
                    ), 2 ) 
           ELSE
             SUM( 
               CASE ISNULL( I.IN_CPMF, '1' ) -- Item 
                 WHEN '1' THEN
                   CASE ISNULL( C.IN_CPMF, '1' ) -- Item Cliente
                     WHEN '1' THEN
                       CASE ISNULL( F.IN_RESTITUI, '0' )
                         WHEN '0' THEN ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) 
                         ELSE ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * (-1)
                       END -- CASE IN_RESTITUI
                     ELSE 0
                   END -- CASE C.IN_CPMF
                 ELSE 0
               END -- CASE I.IN_CPMF
                ) * MAX( X.PC_TAXA ) / 100 
           END
      FROM   TFATURAMENTO_CC F, 
             TITEM I, 
             TTIPO_ITEM T, 
             TTAXA_CPMF X, 
             TBANCO B,
             TPROCESSO P,
             TCLIENTE_HABILITACAO H,
             TCLIENTE_CPMF C
      WHERE  F.NR_PROCESSO   = @nr_processo  AND
             F.DT_LANCAMENTO <= @dt_fatura  AND
             F.IN_CANCELADO  = '0' AND
             F.IN_SEL_FAT    = '1' AND
             F.IN_FATURADO   = '0' AND
             F.NR_PROCESSO   = P.NR_PROCESSO AND
             P.CD_UNID_NEG   = H.CD_UNID_NEG AND
             P.CD_PRODUTO    = H.CD_PRODUTO AND
             P.CD_CLIENTE    = H.CD_CLIENTE AND             
             H.CD_UNID_NEG   *= C.CD_UNID_NEG AND
             H.CD_PRODUTO    *= C.CD_PRODUTO AND
             H.CD_CLIENTE    *= C.CD_CLIENTE AND
             F.CD_ITEM       *= C.CD_ITEM AND
             F.CD_ITEM       = I.CD_ITEM AND
             I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM AND
             T.TP_NATUREZA   = 'D' AND
             T.IN_FATURAR    = '1' AND
             F.CD_BANCO      *= B.CD_BANCO AND
             F.DT_LANCAMENTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
             LTRIM( RTRIM( ISNULL( F.CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS  )
        
    SELECT @vl_cpmf = ISNULL( @vl_cpmf, 0 )

    IF @vl_cpmf > 0
    BEGIN
      SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )
      INSERT INTO TFATURAMENTO_CC 
         ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
           VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
      VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_cpmf, 'S', '6', @vl_cpmf, 0, 0, '0', '0', 
               @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
    END
  END

  /* CALCULAR ISS POR DENTRO */
  IF @cd_unid_neg = '02' --RJ
  BEGIN
    SELECT @vl_base_iss = ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 )
    FROM   TFATURAMENTO_CC F, 
           TITEM I
    WHERE  F.IN_FATURADO = '0' AND
           F.IN_SEL_FAT = '1' AND
           F.DT_LANCAMENTO <= @dt_fatura AND
           F.NR_PROCESSO = @nr_processo AND
           F.IN_CANCELADO = '0' AND
           F.CD_ITEM = I.CD_ITEM AND
           F.IN_RESTITUI = '0' AND
           I.IN_TRIBUTAVEL = '1' AND 
          LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

    SELECT @vl_base_iss = ROUND( @vl_base_iss - ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 ), 2 )
    FROM   TFATURAMENTO_CC F, 
           TITEM I
    WHERE  F.IN_FATURADO = '0' AND
           F.IN_SEL_FAT = '1' AND
           F.DT_LANCAMENTO <= @dt_fatura AND
           F.NR_PROCESSO = @nr_processo AND
           F.IN_CANCELADO = '0' AND
           F.CD_ITEM = I.CD_ITEM AND
           F.IN_RESTITUI = '1' AND
           I.IN_TRIBUTAVEL = '1' AND 
           LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'
    
    SELECT @vl_iss = ROUND ( ( ( @vl_base_iss * 100 ) / ( 100 - @vl_aliq_iss ) ) - @vl_base_iss, 2 )

    IF ( @in_cobrar_iss = '1' ) AND ( @vl_iss > 0 )
    BEGIN
      SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )

      INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, 
             CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, 
             NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL, IN_SEL_FAT )
      VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_iss, 
               'S', '6', @vl_iss, 0, 0, '0', '0', @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0', '1' )
    END
  END
  SELECT @vl_base_ir = ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 )
  FROM   TFATURAMENTO_CC F, 
         TITEM I
  WHERE  F.IN_FATURADO = '0' AND
         F.IN_SEL_FAT = '1' AND
         F.DT_LANCAMENTO <= @dt_fatura AND
         F.NR_PROCESSO = @nr_processo AND
         F.IN_CANCELADO = '0' AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '0' AND
         I.IN_TRIBUTAVEL = '1' AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

  SELECT @vl_base_ir = ROUND( @vl_base_ir - ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 ), 2 )
  FROM   TFATURAMENTO_CC F, 
         TITEM I
  WHERE  F.IN_FATURADO = '0' AND
         F.IN_SEL_FAT = '1' AND
         F.DT_LANCAMENTO <= @dt_fatura AND
         F.NR_PROCESSO = @nr_processo AND
         F.IN_CANCELADO = '0' AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '1' AND
         I.IN_TRIBUTAVEL = '1' AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

  SELECT @vl_calc_ir = ROUND ( ( @vl_base_ir * @vl_aliq_ir / 100 ), 2)
  SELECT @vl_ir = @vl_calc_ir

  IF @vl_ir > 0
  BEGIN
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )
    INSERT INTO #TMP_IR
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_ir, 
             'S', '6', @vl_ir, 0, 0, '0', '0', @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
    SELECT @vl_tot_ir = @vl_tot_ir + @vl_ir
  END

  FETCH c_fat INTO @nr_processo
END
CLOSE c_fat
DEALLOCATE c_fat

SELECT @cd_ir_fat  = CD_IR_FAT,
       @in_calcula_irrf_vl_min = IN_CALCULA_IRRF_VL_MIN
FROM   TCLIENTE_HABILITACAO
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO  = @cd_produto  AND
       CD_CLIENTE  = ( SELECT CD_CLIENTE FROM TPROCESSO WHERE NR_PROCESSO = @nr_processo )

/*** VERIFICANDO I.R.R.F. ***/
IF ( @vl_tot_ir >= @vl_min_ir ) OR ( @in_calcula_irrf_vl_min = '1' )
BEGIN
  INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, 
         CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, 
         NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
    SELECT * 
    FROM #TMP_IR
END

/*** VERIFICANDO SALDO DO PROCESSO ***/  
DECLARE c_fat CURSOR FOR
  SELECT  NR_PROCESSO
  FROM    TS_FATURA_PROCESSO
  WHERE   CD_UNID_NEG    = @cd_unid_neg AND
          CD_PRODUTO     = @cd_produto  AND
          NR_SOLICITACAO = @nr_solicitacao 
  GROUP BY NR_PROCESSO
OPEN c_fat
FETCH c_fat INTO @nr_processo
WHILE @@fetch_status <> -1
BEGIN
  -- Verificar cidade para creditar ISS quando Santos
  SELECT @nm_cidade = E.END_CIDADE
  FROM   TEMPRESA_NAC E (NOLOCK), TPROCESSO P (NOLOCK)
  WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
         P.NR_PROCESSO = @nr_processo

  SELECT @vl_cpmf = ISNULL( SUM( VL_ITEM ), 0 )
  FROM   TFATURAMENTO_CC
  WHERE  CD_UNID_NEG  = @cd_unid_neg AND
         CD_PRODUTO   = @cd_produto  AND
         NR_SOLIC_FAT = @nr_solicitacao AND
         NR_PROCESSO  = @nr_processo AND
         CD_ITEM      = @cd_item_cpmf
       
  SELECT @vl_ir = ISNULL( SUM( VL_ITEM ), 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_SOLIC_FAT = @nr_solicitacao AND
         CD_ITEM IN ( SELECT CD_ITEM_IR FROM TPARAMETROS )

  SELECT @vl_ir = ISNULL( @vl_ir , 0 )

  /* ADICIONAR ISS AO SALDO QUANDO MUNICÍPIO DE SANTOS */
  IF @nm_cidade = 'SANTOS'
  BEGIN
    SELECT @vl_base_iss = ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 )
    FROM   TFATURAMENTO_CC F, 
           TITEM I
    WHERE  F.IN_FATURADO = '0' AND
           F.IN_SEL_FAT = '1' AND
           F.DT_LANCAMENTO <= @dt_fatura AND
           F.NR_PROCESSO = @nr_processo AND
           F.IN_CANCELADO = '0' AND
           F.CD_ITEM = I.CD_ITEM AND
           F.IN_RESTITUI = '0' AND
           I.IN_TRIBUTAVEL = '1' AND 
          LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

    SELECT @vl_base_iss = ROUND( @vl_base_iss - ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 ), 2 )
    FROM   TFATURAMENTO_CC F, 
           TITEM I
    WHERE  F.IN_FATURADO = '0' AND
           F.IN_SEL_FAT = '1' AND
           F.DT_LANCAMENTO <= @dt_fatura AND
           F.NR_PROCESSO = @nr_processo AND
           F.IN_CANCELADO = '0' AND
           F.CD_ITEM = I.CD_ITEM AND
           F.IN_RESTITUI = '1' AND
           I.IN_TRIBUTAVEL = '1' AND 
           LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

    SELECT @vl_iss = ROUND( @vl_base_iss * ( @vl_aliq_iss / 100 ), 2 )

  END    

  SELECT @vl_saldo_cre = 
         ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0)
  FROM   TFATURAMENTO_CC F, TITEM I, TTIPO_ITEM T
  WHERE  F.NR_PROCESSO    = @nr_processo AND
         F.DT_LANCAMENTO  <= @dt_fatura AND
         F.IN_CANCELADO  = '0' AND
         F.IN_SEL_FAT = '1' AND
         F.IN_FATURADO = '0' AND 
         F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR = '1' AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS ) AND 
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS )

  SELECT @vl_saldo_deb =          ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 )
  FROM   TFATURAMENTO_CC F, TITEM I, TTIPO_ITEM T
  WHERE  F.NR_PROCESSO = @nr_processo AND
         F.DT_LANCAMENTO <= @dt_fatura AND
         F.IN_CANCELADO = '0' AND
         F.IN_SEL_FAT = '1' AND
         F.IN_FATURADO = '0' AND 
         F.CD_ITEM   = I.CD_ITEM AND
         I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA  = 'D' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA  = 'C' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR  = '1' AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
         ( ( F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) ) OR ( @in_cobrar_iss = '1' ) ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS )

  /*** VERIFICA IR A CRÉDITO/DÉBITO/DEMONSTRATIVO ***/
  IF ( @vl_tot_ir >= @vl_min_ir ) OR ( @in_calcula_irrf_vl_min = '1' )
  BEGIN
    IF @cd_ir_fat = '1' SELECT @vl_saldo_cre = @vl_saldo_cre + @vl_ir
    IF @cd_ir_fat = '2' SELECT @vl_saldo_deb = @vl_saldo_deb + @vl_ir
  END

/* ADICIONAR ISS AO SALDO CREDOR QUANDO MUNICÍPIO DE SANTOS */
  IF @nm_cidade = 'SANTOS'
  BEGIN
    SELECT @vl_saldo_cre = @vl_saldo_cre + @vl_iss
  END

  IF ISNULL( @vl_saldo_cre, 0 ) > ISNULL( @vl_saldo_deb, 0 )
     SELECT @cd_item_saldo = @cd_item_saldo_cre
  ELSE
     SELECT @cd_item_saldo = @cd_item_saldo_deb

  SELECT @vl_saldo_tot = ABS( @vl_saldo_cre - @vl_saldo_deb )

------------------------------------------------------------------------------------------------------------------
  DECLARE @vl_cpmf_saldo_credor float

  SELECT @vl_cpmf_saldo_credor = 0

  IF ( ( @vl_saldo_cre - @vl_saldo_deb ) > 0 ) AND 
     ( SELECT COUNT(*)
       FROM   TCLIENTE_HABILITACAO H
       JOIN   TPROCESSO P
         ON  (P.CD_UNID_NEG    = H.CD_UNID_NEG AND
              P.CD_PRODUTO     = H.CD_PRODUTO  AND
              P.CD_CLIENTE     = H.CD_CLIENTE )
       WHERE  P.NR_PROCESSO    = @nr_processo  AND
              H.IN_CPMF_SALDO_CREDOR = '1' ) > 0
  BEGIN
    DECLARE @vl_tx_cpmf FLOAT

    SELECT @vl_tx_cpmf = PC_TAXA FROM TTAXA_CPMF WHERE @dt_fatura BETWEEN DT_INICIO AND DT_FIM

    IF @in_arredonda_cpmf_item = '1'
      SELECT @vl_cpmf_saldo_credor = ROUND( ( @vl_saldo_tot * ( @vl_tx_cpmf / 100 ) ), 2 )
    ELSE
      SELECT @vl_cpmf_saldo_credor = ( @vl_saldo_tot * ( @vl_tx_cpmf / 100 ) )

    SELECT @vl_saldo_tot = @vl_saldo_tot - @vl_cpmf_saldo_credor

    SELECT @vl_cpmf = ISNULL( @vl_cpmf, 0 ) + ISNULL( @vl_cpmf_saldo_credor, 0 )

    IF NOT EXISTS( SELECT *
                   FROM   TFATURAMENTO_CC
                   WHERE  NR_PROCESSO    = @nr_processo AND 
                          CD_ITEM        = @cd_item_cpmf AND
                          NR_SOLIC_FAT   = @nr_solicitacao AND 
                          CD_UNID_NEG    = @cd_unid_neg AND 
                          CD_PRODUTO     = @cd_produto )
    BEGIN
      SELECT @nr_lanc = ISNULL( MAX( NR_LANCAMENTO ), '0000' )
      FROM   TFATURAMENTO_CC       WHERE  NR_PROCESSO = @nr_processo
  
      SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ), 4 )

      INSERT INTO TFATURAMENTO_CC 
         ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
           VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
      VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_cpmf, 'S', '6', ROUND( @vl_cpmf, 2 ), 0, 0, '0', '0', 
               @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
    END
    ELSE
    BEGIN
      UPDATE TFATURAMENTO_CC 
      SET    VL_ITEM        = @vl_cpmf
      WHERE  NR_PROCESSO    = @nr_processo AND 
             CD_ITEM        = @cd_item_cpmf AND 
             CD_FORMA_PAGTO = 'S'	AND 
             CD_ORIGEM_LANC = '6' AND 
             NR_SOLIC_FAT   = @nr_solicitacao AND 
             CD_UNID_NEG    = @cd_unid_neg AND 
             CD_PRODUTO     = @cd_produto
    END
  END

------------------------------------------------------------------------------------------------------------------

  IF @vl_saldo_tot <> 0
  BEGIN
    SELECT @in_sd_fat_zero  = IN_SD_FAT_ZERO,
           @in_sd_nota_zero = IN_SD_NOTA_ZERO
    FROM   TCLIENTE_HABILITACAO    WHERE  CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO  = @cd_produto  AND
           CD_CLIENTE  IN ( SELECT CD_CLIENTE 
                            FROM   TPROCESSO 
                            WHERE  NR_PROCESSO = @nr_processo )

    IF ( ( @tp_tipo_fat = 'F' ) AND ( @in_sd_fat_zero = '1' ) )
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat
      /*** SALDO DA FATURA DEVE SER ZERO ***/
      SELECT @vl_sd_fat_zero = @vl_saldo_tot
      RETURN(4)
    END
    IF ( ( @tp_tipo_fat = 'N' ) AND ( @in_sd_nota_zero = '1' ) )
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat
      /*** SALDO DA NOTA DE CRÉDITO/DÉBITO DEVE SER ZERO ***/
      RETURN(5)
    END
  END

  SELECT @nr_lanc = ISNULL( MAX( NR_LANCAMENTO ), '0000' )
  FROM   TFATURAMENTO_CC   WHERE  NR_PROCESSO = @nr_processo
  SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )

  INSERT INTO TFATURAMENTO_CC 
     ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, 
       VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
  VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_saldo, 'S', '6', @vl_saldo_tot, 0, 0, '1', '0', 
           @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )

  UPDATE TFATURAMENTO_CC
  SET    IN_FATURADO  = '1',
         IN_SEL_FAT   = '0',
         CD_UNID_NEG  = @cd_unid_neg,
         CD_PRODUTO   = @cd_produto,
         NR_SOLIC_FAT = @nr_solicitacao
  WHERE  NR_PROCESSO  = @nr_processo AND
         IN_FATURADO  = '0' AND
         IN_SEL_FAT   = '1' AND
         DT_LANCAMENTO <= @dt_fatura

  IF ( @tp_tipo_fat = 'F' ) AND ( @in_cobrar_iss = '1' ) 
  BEGIN
    SELECT @vl_saldo_fat_processo = ( ISNULL( @vl_saldo_cre, 0 ) - ISNULL( @vl_saldo_deb, 0 ) ) - @vl_cpmf_saldo_credor
   
    UPDATE TS_FATURA_PROCESSO
    SET    VL_FATURA = @vl_saldo_fat_processo
    WHERE  NR_SOLICITACAO = @nr_solicitacao AND
           CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO = @cd_produto AND
           NR_PROCESSO = @nr_processo
  END
  ELSE
  BEGIN
    UPDATE TS_FATURA_PROCESSO
    SET    VL_FATURA = ( ISNULL( @vl_saldo_cre, 0 ) - ISNULL( @vl_saldo_deb, 0 ) ) - @vl_cpmf_saldo_credor
    WHERE  NR_SOLICITACAO = @nr_solicitacao AND
           CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO = @cd_produto AND
           NR_PROCESSO = @nr_processo
  END
  -- LIQUIDAR AUTOMATICAMENTE ( EMBRAER - SERVIMEX )
  IF EXISTS( SELECT *
             FROM   TCLIENTE_HABILITACAO H, 
                    TPROCESSO P
             WHERE  H.CD_UNID_NEG = P.CD_UNID_NEG AND
                    H.CD_PRODUTO  = P.CD_PRODUTO AND
                    H.CD_CLIENTE  = P.CD_CLIENTE AND
                    P.NR_PROCESSO = @nr_processo AND
                    H.IN_NOTA_LIQ = '1' ) AND
     @tp_tipo_fat = 'N'
  BEGIN
    UPDATE TS_FATURA_PROCESSO
    SET    IN_LIQUIDADO    = '1', 
           DT_LIQUIDACAO   = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ),
           VL_LIQUIDACAO   = VL_FATURA * (-1)
    WHERE  NR_SOLICITACAO  = @nr_solicitacao AND
           CD_UNID_NEG     = @cd_unid_neg AND
           CD_PRODUTO      = @cd_produto AND
           NR_PROCESSO     = @nr_processo

    IF @cd_item_saldo = @cd_item_saldo_cre
       SELECT @cd_item_liq = @cd_item_pagto_sd
    ELSE
       SELECT @cd_item_liq = @cd_item_receb_sd

    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )
    INSERT INTO TFATURAMENTO_CC 
       ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, 
         VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_liq, 'S', '6', @vl_saldo_tot, 0, 0, '1', '0', 
             @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
  END

  SELECT @vl_saldo_fat = @vl_saldo_fat + ISNULL( @vl_saldo_cre, 0 ) - ISNULL( @vl_saldo_deb, 0 ) - @vl_cpmf_saldo_credor

  FETCH c_fat INTO @nr_processo
END
CLOSE c_fat
DEALLOCATE c_fat

DROP TABLE #TMP_IR

IF ( SELECT COUNT(*) 
     FROM   TS_FATURA_PROCESSO P,
            TFATURAMENTO_CC C,
            TITEM I
      WHERE P.NR_PROCESSO    = C.NR_PROCESSO   AND
            P.CD_UNID_NEG    = C.CD_UNID_NEG   AND
            P.CD_PRODUTO     = C.CD_PRODUTO    AND
            P.NR_SOLICITACAO = C.NR_SOLIC_FAT  AND
            P.CD_UNID_NEG    = @cd_unid_neg    AND
            P.CD_PRODUTO     = @cd_produto     AND
            P.NR_SOLICITACAO = @nr_solicitacao AND
            C.IN_SEL_FAT     = '1'             AND
            C.CD_ITEM        = I.CD_ITEM       AND
            C.IN_CANCELADO   = '0'             AND
            I.CD_TIPO_ITEM   = 'N' ) > 0
  SELECT @in_nvocc = '0'
ELSE
  SELECT @in_nvocc = '*'

/*** ATUALIZACOES ***/
UPDATE TS_FATURA
SET    IN_CALCULADO    = '1', 
       DT_CALCULO      = CONVERT( datetime, convert(varchar(12), GETDATE() ), 103),
       VL_FATURA       = @vl_saldo_fat,
       IN_RECIBO_NVOCC = @in_nvocc
WHERE  CD_UNID_NEG     = @cd_unid_neg AND
       CD_PRODUTO      = @cd_produto  AND
       NR_SOLICITACAO  = @nr_solicitacao

-- LIQUIDAR AUTOMATICAMENTE ( EMBRAER - SERVIMEX )
IF EXISTS( SELECT *
           FROM   TCLIENTE_HABILITACAO H, 
                  TPROCESSO P
           WHERE  H.CD_UNID_NEG = P.CD_UNID_NEG AND
                  H.CD_PRODUTO  = P.CD_PRODUTO AND
                  H.CD_CLIENTE  = P.CD_CLIENTE AND
                  P.NR_PROCESSO = @nr_processo AND
                  H.IN_NOTA_LIQ = '1' ) AND
   @tp_tipo_fat = 'N'
BEGIN
  UPDATE TS_FATURA
  SET    IN_LIQUIDADO    = '1', 
         DT_LIQUIDACAO   = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ),
         VL_LIQUIDACAO   = VL_FATURA * (-1)
  WHERE  CD_UNID_NEG     = @cd_unid_neg AND
         CD_PRODUTO      = @cd_produto  AND
         NR_SOLICITACAO  = @nr_solicitacao
END


/* Liquidar Automaticamente */
IF @in_liq_aut = '1'
BEGIN
  UPDATE TS_FATURA
  SET    IN_LIQUIDADO   = '1', 
         DT_LIQUIDACAO  = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ),
         VL_LIQUIDACAO  = VL_FATURA * (-1)
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao 

  UPDATE TS_FATURA_PROCESSO
  SET    IN_LIQUIDADO   = '1', 
         DT_LIQUIDACAO  = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ),
         VL_LIQUIDACAO  = VL_FATURA * (-1)
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao AND
         NR_PROCESSO    = @nr_processoEND

IF @in_fat_sem_desp = '1'
BEGIN
  UPDATE TFATURAMENTO_CC
  SET    CD_UNID_NEG  = @cd_unid_neg,
         CD_PRODUTO   = @cd_produto,
         NR_SOLIC_FAT = @nr_solicitacao
  WHERE  IN_FATURADO = '2' AND
         ( ISNULL( CD_UNID_NEG, '' ) = '' ) AND
         ( ISNULL( CD_PRODUTO, '' ) = '' ) AND
         ( ISNULL( NR_SOLIC_FAT, '' ) = '' )
END

/* Verificação de Rateio de Despesas */
SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR,0 ) ) + 1
FROM   TCALCULO_RATEIO_DESP

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 ) 

SELECT DISTINCT FP.NR_PROCESSO, R.CD_AREA, EI.NR_PEDIDO_IMP AS NR_REMESSA, R.CD_REFERENCIA
INTO   #TMP_AREA
FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TREF_CLIENTE R (NOLOCK), 
       TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK), TPROCESSO_EXP_ITEM EI
WHERE  F.CD_UNID_NEG    = @cd_unid_neg AND
       F.CD_PRODUTO     = @cd_produto AND
       F.NR_SOLICITACAO = @nr_solicitacao AND
       F.CD_UNID_NEG    = FP.CD_UNID_NEG AND
       F.CD_PRODUTO     = FP.CD_PRODUTO AND
       F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
       FP.NR_PROCESSO   = R.NR_PROCESSO AND
       FP.NR_PROCESSO   = P.NR_PROCESSO AND
       EI.NR_PROCESSO   = FP.NR_PROCESSO AND
       P.CD_CLIENTE     = E.CD_EMPRESA AND
       ( (R.TP_REFERENCIA  = '03') OR (ISNULL(R.TP_REFERENCIA, '')='') ) AND
       E.CD_GRUPO       IN ( @cd_grupo_basf, @cd_grupo_bsg )


SELECT DISTINCT FP.NR_PROCESSO, R.CD_AREA, R.CD_REFERENCIA, R.TP_REFERENCIA
INTO   #TMP_PROCESSO
FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TREF_CLIENTE R (NOLOCK), 
       TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
WHERE  F.CD_UNID_NEG    = @cd_unid_neg AND
       F.CD_PRODUTO     = @cd_produto AND
       F.NR_SOLICITACAO = @nr_solicitacao AND
       F.CD_UNID_NEG    = FP.CD_UNID_NEG AND
       F.CD_PRODUTO     = FP.CD_PRODUTO AND
       F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
       FP.NR_PROCESSO   = R.NR_PROCESSO AND
       FP.NR_PROCESSO   = P.NR_PROCESSO AND       
       P.CD_CLIENTE     = E.CD_EMPRESA AND
       ( (R.TP_REFERENCIA  = '03') OR (ISNULL(R.TP_REFERENCIA, '')='') ) AND
       E.CD_GRUPO       IN ( @cd_grupo_basf, @cd_grupo_bsg )


SELECT DISTINCT FC.NR_PROCESSO, FC.CD_ITEM
INTO   #TMP_ITEM
FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TFATURAMENTO_CC FC (NOLOCK), 
       TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
WHERE  F.CD_UNID_NEG     = @cd_unid_neg AND
       F.CD_PRODUTO      = @cd_produto AND
       F.NR_SOLICITACAO  = @nr_solicitacao AND
       F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
       F.CD_PRODUTO      = FP.CD_PRODUTO AND
       F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
       FP.CD_UNID_NEG    = FC.CD_UNID_NEG AND
       FP.CD_PRODUTO     = FC.CD_PRODUTO AND
       FP.NR_SOLICITACAO = FC.NR_SOLIC_FAT AND
       FP.NR_PROCESSO    = FC.NR_PROCESSO AND
       FP.NR_PROCESSO    = P.NR_PROCESSO AND
       P.CD_CLIENTE      = E.CD_EMPRESA AND
       E.CD_GRUPO        IN ( @cd_grupo_basf, @cd_grupo_bsg ) AND
       FC.CD_ITEM < '900'                  


SELECT @cont_dif  = 0
SELECT @cont_rat  = 0
SELECT @cont_area = 0
DECLARE item_cursor CURSOR FOR
  SELECT NR_PROCESSO, CD_ITEM
  FROM #TMP_ITEM
  GROUP BY NR_PROCESSO, CD_ITEM
OPEN item_cursor
FETCH item_cursor INTO @nr_processo_calc, @cd_item_calc
WHILE ( @@FETCH_STATUS = 0 ) 
BEGIN
  DECLARE c_item_area CURSOR FOR
    SELECT NR_PROCESSO, CD_AREA, NR_REMESSA, CD_REFERENCIA
    FROM   #TMP_AREA
    WHERE NR_PROCESSO = @nr_processo_calc AND
          ISNULL( CD_AREA, '' ) <> '' AND
          ( ISNULL( NR_REMESSA, '' ) <> '' ) AND
          ( ISNULL( CD_REFERENCIA, '' ) <> '' )
    GROUP BY NR_PROCESSO, CD_AREA, NR_REMESSA, CD_REFERENCIA
  OPEN c_item_area
  FETCH c_item_area INTO @nr_processo_area, @cd_area, @nr_remessa, @cd_referencia
  WHILE @@FETCH_STATUS = 0
  BEGIN
    IF ( SELECT COUNT(*)
         FROM TREF_CLIENTE (NOLOCK)
         WHERE NR_PROCESSO = @nr_processo_area AND
               TP_REFERENCIA  = '03' AND
               ISNULL( CD_AREA, '' ) <> '') > 0
    BEGIN
      IF NOT EXISTS( SELECT NR_PROCESSO, CD_ITEM, CD_AREA
                     FROM   TCALCULO_RATEIO_DESP (NOLOCK)
                     WHERE  NR_IDENTIFICADOR = @nr_identificador AND
                            NR_PROCESSO = @nr_processo_area      AND
                            CD_ITEM = @cd_item_calc              AND
                            CD_AREA = @cd_area                   AND
                            NR_PROC_PO_NR_ITEM_PO = @nr_remessa  AND
                            CD_REFERENCIA = @cd_referencia )
      BEGIN
        IF NOT EXISTS( SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP
                       FROM   TITEM_AREA (NOLOCK)
		       WHERE  CD_ITEM = @cd_item_calc AND
                              CD_AREA = @cd_area AND
                              ISNULL( CD_AREA, '' ) <> ''
                       GROUP BY  CD_ITEM, CD_AREA, TP_RATEIO_DESP )
        BEGIN
          INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
          VALUES( @nr_identificador, @nr_processo_area, @cd_item_calc , @cd_area, 'Não existe área para este item.', @nr_remessa, @cd_referencia ) 
        
          SELECT @cont_area = @cont_area + 1
        END
      END
    END
    FETCH c_item_area INTO @nr_processo_area, @cd_area, @nr_remessa, @cd_referencia
  END
  CLOSE c_item_area
  DEALLOCATE c_item_area

  SELECT @resp_rat = CASE WHEN EXISTS ( SELECT TP_RATEIO_DESP
	                                FROM   TITEM_AREA (NOLOCK)
                                        WHERE  CD_ITEM = @cd_item_calc AND
                                               CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA WHERE ISNULL( CD_AREA, '' ) <> '' )
                                        GROUP BY TP_RATEIO_DESP
                                        HAVING TP_RATEIO_DESP IS NULL )THEN '1'
                     END	

  IF @resp_rat = '1'
  BEGIN   
    SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP
    INTO   #TMP_TP_RATEIO_DESP
    FROM   TITEM_AREA (NOLOCK)
    WHERE  CD_ITEM = @cd_item_calc AND
	   CD_AREA IN ( SELECT CD_AREA 
                        FROM #TMP_AREA 
                        WHERE ISNULL( CD_AREA, '' ) <> '' AND 
                              ( ISNULL( NR_REMESSA, '' ) <> '' ) AND
                               ( ISNULL( CD_REFERENCIA, '' ) <> '' ) ) AND
           TP_RATEIO_DESP IS NULL

    INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, TP_RATEIO_DESP, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, 'Forma de Rateio nao especificada.', TMPA.NR_REMESSA, TMPA.CD_REFERENCIA
    FROM   #TMP_TP_RATEIO_DESP TMPR, #TMP_ITEM TMPI, #TMP_AREA TMPA
    WHERE  TMPI.CD_ITEM = TMPR.CD_ITEM AND
           TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND
           ( ISNULL( TMPA.CD_AREA, '' ) <> '' ) AND
           ( ISNULL( TMPA.NR_REMESSA, '' ) <> '' ) AND 
           ( ISNULL( TMPA.CD_REFERENCIA, '' ) <> '' ) AND
           NOT EXISTS (SELECT * 
                       FROM TCALCULO_RATEIO_DESP R (NOLOCK)
                       WHERE R.NR_IDENTIFICADOR = @nr_identificador AND
                             R.NR_PROCESSO = TMPI.NR_PROCESSO AND
                             R.CD_ITEM = TMPR.CD_ITEM AND
                             R.CD_AREA = TMPR.CD_AREA AND
                             R.NR_PROC_PO_NR_ITEM_PO = TMPA.NR_REMESSA AND
                             R.CD_REFERENCIA = TMPA.CD_REFERENCIA)
    GROUP BY TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP
 
    SELECT @cont_rat = @cont_rat + 1
  END

  SELECT @resp_dif = CASE WHEN EXISTS ( SELECT COUNT( DISTINCT( TP_RATEIO_DESP ) )
                                        FROM   TITEM_AREA (NOLOCK)
			                WHERE  CD_ITEM = @cd_item_calc AND
			                       CD_AREA IN ( SELECT CD_AREA FROM #TMP_AREA WHERE ISNULL( CD_AREA, '' ) <> '' )
                                        HAVING COUNT( DISTINCT( TP_RATEIO_DESP ) ) > 1 ) THEN '1'
                     END

  IF @resp_dif = '1'
  BEGIN
    SELECT CD_ITEM, CD_AREA, TP_RATEIO_DESP
    INTO   #TMP_TP_RATEIO_DESP_DISTINCT
    FROM   TITEM_AREA (NOLOCK)
    WHERE  CD_ITEM = @cd_item_calc AND
	   CD_AREA IN ( SELECT CD_AREA 
                        FROM #TMP_AREA 
                        WHERE ISNULL( CD_AREA, '' ) <> '' AND 
                              ( ISNULL( NR_REMESSA, '' ) <> '' ) AND
                              ( ISNULL( CD_REFERENCIA, '' ) <> '' ) )

    INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, TP_RATEIO_DESP, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA) 
    SELECT  @nr_identificador, TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP, 'Formas de Rateio distintas em Item.', TMPA.NR_REMESSA, TMPA.CD_REFERENCIA
    FROM    #TMP_TP_RATEIO_DESP_DISTINCT TMPR, #TMP_ITEM TMPI, #TMP_AREA TMPA
    WHERE   TMPI.CD_ITEM = TMPR.CD_ITEM AND
            TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND
            ( ISNULL( TMPA.CD_AREA, '' ) <> '' ) AND
            ( ISNULL( TMPA.NR_REMESSA, '' ) <> '' ) AND
            ( ISNULL( TMPA.CD_REFERENCIA, '' ) <> '' ) AND
            NOT EXISTS (SELECT * 
                       FROM TCALCULO_RATEIO_DESP R (NOLOCK)
                       WHERE R.NR_IDENTIFICADOR = @nr_identificador AND
                             R.NR_PROCESSO = TMPI.NR_PROCESSO AND
                             R.CD_ITEM = TMPI.CD_ITEM AND
                             R.CD_AREA = TMPR.CD_AREA AND
                             R.NR_PROC_PO_NR_ITEM_PO = TMPA.NR_REMESSA AND
                             R.CD_REFERENCIA = TMPA.CD_REFERENCIA)
    GROUP BY TMPI.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_AREA, TMPR.TP_RATEIO_DESP
 
    SELECT @cont_dif = @cont_dif + 1
  END
					
FETCH item_cursor INTO @nr_processo_calc, @cd_item_calc
END
CLOSE item_cursor
DEALLOCATE item_cursor

--VERIFICA SE HÁ COD. REFERENCIA É IGUAL AO Nº DE PO OU NAO EXISTE NA DI
IF ( SELECT COUNT(*) 
     FROM #TMP_AREA 
     WHERE ( ISNULL( NR_REMESSA, '' ) = '' ) ) > 0 
BEGIN
    INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Remessa não cadastrada na Ref. Cliente', 'X', TMPA.CD_REFERENCIA
    FROM   #TMP_AREA TMPA, #TMP_ITEM TMPI, TCALCULO_RATEIO_DESP CR (NOLOCK)
    WHERE  TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND        
           CR.NR_IDENTIFICADOR <> @nr_identificador AND
           CR.NR_PROCESSO <> TMPA.NR_PROCESSO AND
           CR.CD_ITEM <> TMPI.CD_ITEM AND
           CR.CD_AREA <> TMPA.CD_AREA AND
           ( ISNULL( TMPA.NR_REMESSA, '' ) = '' )
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, TMPA.CD_REFERENCIA
  
    SELECT @cont_area = @cont_area + 1
END


SELECT R.NR_PROCESSO, R.CD_REFERENCIA
INTO #TMP_CD_REFERENCIA
FROM TREF_CLIENTE R (NOLOCK), #TMP_AREA TMPA
WHERE R.CD_REFERENCIA NOT IN ( SELECT NR_REMESSA FROM #TMP_AREA ) AND
      TMPA.NR_PROCESSO = R.NR_PROCESSO AND   
      ISNULL( TMPA.CD_AREA, '' ) <> ''      AND
      ( ISNULL( TMPA.NR_REMESSA, '' ) <> '' ) AND
      ( ISNULL( TMPA.CD_REFERENCIA, '' ) <> '' ) AND
      R.TP_REFERENCIA  = '03' 
GROUP BY R.NR_PROCESSO, R.CD_REFERENCIA

  IF ( SELECT COUNT(*)
       FROM   #TMP_CD_REFERENCIA ) > 0
  BEGIN
    INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPC.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente não existente na Remessa.', 'X', TMPC.CD_REFERENCIA
    FROM   #TMP_AREA TMPA, #TMP_ITEM TMPI, TCALCULO_RATEIO_DESP CR (NOLOCK), #TMP_CD_REFERENCIA TMPC
    WHERE  TMPC.NR_PROCESSO = TMPA.NR_PROCESSO AND
           TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND        
           CR.NR_IDENTIFICADOR <> @nr_identificador AND
           CR.NR_PROCESSO <> TMPA.NR_PROCESSO AND
           CR.CD_ITEM <> TMPI.CD_ITEM AND
           CR.CD_AREA <> TMPA.CD_AREA 
    GROUP BY TMPC.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, TMPC.CD_REFERENCIA
  
    SELECT @cont_area = @cont_area + 1
  END

--VERIFICA SE TIPO DE REFERENCIA ESTA EM BRANCO
IF ( SELECT COUNT(*)
     FROM #TMP_PROCESSO
     WHERE ( ISNULL( TP_REFERENCIA, '' ) = '' ) ) > 0
BEGIN
    INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente com Tipo de Referência em branco.', ( CASE 
                                                                                                                                  WHEN ISNULL(TMPA.NR_REMESSA,'')='' THEN 'X'
                                                                                                                                  ELSE TMPA.NR_REMESSA
      															        END ) AS NR_REMESSA, TMPP.CD_REFERENCIA
    FROM   #TMP_AREA TMPA, #TMP_ITEM TMPI, TCALCULO_RATEIO_DESP CR (NOLOCK), #TMP_PROCESSO TMPP
    WHERE  TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND
           TMPP.NR_PROCESSO = TMPI.NR_PROCESSO AND
           CR.NR_IDENTIFICADOR <> @nr_identificador AND
           CR.NR_PROCESSO <> TMPA.NR_PROCESSO AND
           CR.CD_ITEM <> TMPI.CD_ITEM AND
           CR.CD_AREA <> TMPA.CD_AREA AND
           ( ISNULL( TP_REFERENCIA, '' ) = '' )
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, ( CASE 
                                                               WHEN ISNULL(TMPA.NR_REMESSA,'')='' THEN 'X'
                                                               ELSE TMPA.NR_REMESSA
      							     END ), TMPP.CD_REFERENCIA

 SELECT @cont_area = @cont_area + 1
END 

--VERIFICA SE HÁ COD. REFERENCIA É IGUAL AO Nº DE PO OU NAO EXISTE NA PO
IF ( SELECT COUNT(*)
     FROM #TMP_AREA
     WHERE ( ISNULL( CD_REFERENCIA, '' ) = '' ) ) > 0
BEGIN
    INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPA.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Ref. Cliente não cadastrada na Remessa', TMPA.NR_REMESSA, 'X'
    FROM   #TMP_AREA TMPA, #TMP_ITEM TMPI, TCALCULO_RATEIO_DESP CR (NOLOCK)
    WHERE  TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND
           CR.NR_IDENTIFICADOR <> @nr_identificador AND
           CR.NR_PROCESSO <> TMPA.NR_PROCESSO AND
           CR.CD_ITEM <> TMPI.CD_ITEM AND
           CR.CD_AREA <> TMPA.CD_AREA AND
           ( ISNULL( TMPA.CD_REFERENCIA, '' ) = '' )
    GROUP BY TMPA.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, TMPA.NR_REMESSA

 SELECT @cont_area = @cont_area + 1
END 


SELECT TMPA.NR_PROCESSO, TMPA.NR_REMESSA
INTO #TMP_CD_NR_PROC_PO_NR_ITEM_PO
FROM  #TMP_AREA TMPA, TREF_CLIENTE R (NOLOCK)
WHERE TMPA.NR_REMESSA NOT IN ( SELECT CD_REFERENCIA FROM TREF_CLIENTE (NOLOCK) WHERE NR_PROCESSO = TMPA.NR_PROCESSO ) AND
      TMPA.NR_PROCESSO = R.NR_PROCESSO AND
      ISNULL( TMPA.CD_AREA, '' ) <> ''      AND
      ( ISNULL( TMPA.NR_REMESSA, '' ) <> '' ) AND
      R.TP_REFERENCIA  = '03' AND  
      ( ISNULL( TMPA.CD_REFERENCIA, '' ) <> '' )
GROUP BY TMPA.NR_PROCESSO, TMPA.NR_REMESSA

  IF ( SELECT COUNT(*)
       FROM   #TMP_CD_NR_PROC_PO_NR_ITEM_PO ) > 0
  BEGIN
    INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
    SELECT @nr_identificador, TMPO.NR_PROCESSO, TMPI.CD_ITEM, TMPA.CD_AREA, 'Remessa não existente na Ref. Cliente', TMPO.NR_REMESSA, 'X'
    FROM   #TMP_AREA TMPA, #TMP_ITEM TMPI, TCALCULO_RATEIO_DESP CR (NOLOCK), #TMP_CD_NR_PROC_PO_NR_ITEM_PO TMPO
    WHERE  TMPA.NR_PROCESSO = TMPI.NR_PROCESSO AND
           TMPO.NR_PROCESSO = TMPA.NR_PROCESSO AND
           CR.NR_IDENTIFICADOR <> @nr_identificador AND
           CR.NR_PROCESSO <> TMPA.NR_PROCESSO AND
           CR.CD_ITEM <> TMPI.CD_ITEM AND
           CR.CD_AREA <> TMPA.CD_AREA 
    GROUP BY TMPO.NR_PROCESSO, TMPA.CD_AREA, TMPI.CD_ITEM, TMPO.NR_REMESSA
  
    SELECT @cont_area = @cont_area + 1
  END

--VERIFICA SE POSSUI PROCESSOS SEM ITEM NA DI
IF  EXISTS( SELECT NR_PROCESSO 
               FROM   #TMP_PROCESSO  
               WHERE  NR_PROCESSO NOT IN ( SELECT NR_PROCESSO 
                                           FROM TPROCESSO_EXP_ITEM (NOLOCK)
                                           GROUP BY NR_PROCESSO ) AND
                      SUBSTRING(NR_PROCESSO, 5, 2) NOT IN ('TE', 'IW', 'IZ')
               GROUP BY NR_PROCESSO )
BEGIN
  INSERT TCALCULO_RATEIO_DESP( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
  SELECT @nr_identificador, NR_PROCESSO, 'X', 'X', 'Processo não possui Item.', 'X', CD_REFERENCIA 
  FROM   #TMP_PROCESSO
  WHERE  NR_PROCESSO NOT IN ( SELECT NR_PROCESSO 
                              FROM TPROCESSO_EXP_ITEM (NOLOCK)
                              GROUP BY NR_PROCESSO ) AND
         SUBSTRING(NR_PROCESSO, 5, 2) NOT IN ('TE', 'IW', 'IZ') AND
         ( ISNULL( CD_AREA, '' ) <> '' ) AND
         ( ISNULL( CD_REFERENCIA, '' ) <> '' ) AND
         NOT EXISTS (SELECT * 
                       FROM TCALCULO_RATEIO_DESP R (NOLOCK)
                       WHERE R.NR_IDENTIFICADOR = @nr_identificador AND
                             R.NR_PROCESSO = NR_PROCESSO AND
                             R.CD_ITEM =  'X' AND
                             R.CD_AREA =  'X' AND
                             R.CD_REFERENCIA = CD_REFERENCIA )
  GROUP BY NR_PROCESSO, CD_REFERENCIA 
 
  SELECT @cont_area = @cont_area + 1
END


IF EXISTS( SELECT NR_PROCESSO, CD_AREA
           FROM #TMP_AREA
           WHERE ISNULL( CD_AREA, '' ) = '' 
           GROUP BY NR_PROCESSO, CD_AREA )
BEGIN
  SELECT DISTINCT FC.NR_PROCESSO, FC.CD_ITEM, R.CD_REFERENCIA
  INTO   #TMP_AREA_REF_CLI
  FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TFATURAMENTO_CC FC (NOLOCK), TPROCESSO P (NOLOCK), 
         TEMPRESA_NAC E (NOLOCK), TREF_CLIENTE R (NOLOCK)
  WHERE  F.CD_UNID_NEG     = @cd_unid_neg AND
         F.CD_PRODUTO      = @cd_produto AND
         F.NR_SOLICITACAO  = @nr_solicitacao AND
         F.CD_UNID_NEG     = FP.CD_UNID_NEG AND
         F.CD_PRODUTO      = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO  = FP.NR_SOLICITACAO AND
         FP.CD_UNID_NEG    = FC.CD_UNID_NEG AND
         FP.CD_PRODUTO     = FC.CD_PRODUTO AND
         FP.NR_SOLICITACAO = FC.NR_SOLIC_FAT AND
         FP.NR_PROCESSO    = FC.NR_PROCESSO AND
         FP.NR_PROCESSO    = P.NR_PROCESSO AND
         FP.NR_PROCESSO    = R.NR_PROCESSO AND
         P.CD_CLIENTE      = E.CD_EMPRESA AND
         R.TP_REFERENCIA   = '03' AND 
         E.CD_GRUPO       IN ( @cd_grupo_basf, @cd_grupo_bsg ) AND
         ISNULL( R.CD_AREA, '' ) = ''
  GROUP BY FC.NR_PROCESSO, FC.CD_ITEM, R.CD_AREA, R.CD_REFERENCIA

  INSERT INTO TCALCULO_RATEIO_DESP(NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_AREA, OBS, NR_PROC_PO_NR_ITEM_PO, CD_REFERENCIA)
  SELECT @nr_identificador, TMPR.NR_PROCESSO, TMPR.CD_ITEM, 'X', 'Área não informada na Ref. Cliente', 'X', TMPR.CD_REFERENCIA
  FROM   #TMP_AREA_REF_CLI TMPR, TCALCULO_RATEIO_DESP FR (NOLOCK)
  WHERE  FR.NR_IDENTIFICADOR <> @nr_identificador AND
         FR.NR_PROCESSO <> TMPR.NR_PROCESSO       AND
         FR.CD_ITEM <> TMPR.CD_ITEM               AND
         FR.CD_AREA <> 'X'                        AND
         FR.NR_PROC_PO_NR_ITEM_PO <> 'X'          AND
         FR.CD_REFERENCIA <> TMPR.CD_REFERENCIA
  GROUP BY TMPR.NR_PROCESSO, TMPR.CD_ITEM, TMPR.CD_REFERENCIA

  SELECT @cont_area = @cont_area + 1
  DROP TABLE #TMP_AREA_REF_CLI 
END 

DROP TABLE #TMP_PROCESSO
DROP TABLE #TMP_CD_REFERENCIA
DROP TABLE #TMP_CD_NR_PROC_PO_NR_ITEM_PO


IF ( ( @cont_rat >= 1 ) OR ( @cont_dif >= 1 ) OR ( @cont_area >= 1 ) )
BEGIN
  IF @cont_rat >=1
  BEGIN
    DROP TABLE #TMP_AREA
    DROP TABLE #TMP_ITEM
    DROP TABLE #TMP_TP_RATEIO_DESP
  END
  ELSE
  BEGIN
    DROP TABLE #TMP_AREA
    DROP TABLE #TMP_ITEM
  END   	

  IF @cont_dif >= 1
  BEGIN
    DROP TABLE #TMP_TP_RATEIO_DESP_DISTINCT	
  END

  IF ( SELECT COUNT(*)
       FROM TCALCULO_RATEIO_DESP 
       WHERE NR_IDENTIFICADOR = @nr_identificador ) > 0
  BEGIN
    RETURN(6)
  END

END
ELSE
BEGIN
  DROP TABLE #TMP_AREA
  DROP TABLE #TMP_ITEM

/* Rateio de Despesas */
EXEC sp_fat_calculo_rateio_exp @cd_unid_neg, @cd_produto, @nr_solicitacao
END


RETURN(0)






















GO
