USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_excluir_cli_soli_num    Script Date: 02/09/1999 08:57:47 AM ******/
/****** Object:  Stored Procedure dbo.sp_excluir_cli_soli_num    Script Date: 29/04/1998 12:17:14 ******/
CREATE PROCEDURE [sp_excluir_cli_soli_num]( @cd_cliente char(5), @cd_unid_neg char(2), @cd_produto char(2), @cd_servico char(3) ) AS
if ( @cd_servico = '999' ) 
  begin
    DELETE FROM TCLIENTE_NUMERARIO WHERE ( CD_CLIENTE = @cd_cliente )
  end 
else
  begin
    DELETE FROM TCLIENTE_NUMERARIO WHERE ( CD_CLIENTE  = @cd_cliente  ) AND
                                         ( CD_UNID_NEG = @cd_unid_neg ) AND
                                         ( CD_PRODUTO  = @cd_produto  ) AND
                                         ( CD_SERVICO  = @cd_servico  )
  end


GO
