USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_tot_serv_cli_periodo] ( @cd_unid_neg char(2), @cd_produto char(2), @dt_ini datetime, 
                                           @dt_fim datetime, @cd_area char(2), @cd_grupo char(3), 
                                           @nr_identificador int output, @cd_cliente char(5),
                                           @legenda varchar(255) output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int 
DECLARE @legenda varchar(255) 
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @dt_ini datetime
DECLARE @dt_fim datetime
DECLARE @cd_cliente char(5)
DECLARE @cd_area char(2)
DECLARE @cd_grupo char(3)

SELECT @cd_grupo    = 'X'
SELECT @cd_area     = 'X'
SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'
SELECT @cd_cliente  = 'X'
SELECT @dt_ini = CONVERT( datetime, '01/07/2002', 103 ) 
SELECT @dt_fim = CONVERT( datetime, '29/07/2002', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @cd_unid_neg = ISNULL( @cd_unid_neg, '')
SELECT @cd_produto  = ISNULL( @cd_produto, '' )

DECLARE @cd_servico char(3)
DECLARE @nm_servico char(50)
DECLARE @rank       smallint

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0) 
FROM   TTOT_SERV_CLI_PERIODO

SELECT @nr_identificador = @nr_identificador + 1

CREATE TABLE #top_services
( 
  RANK       smallint IDENTITY(1,1) NOT NULL PRIMARY KEY,
  CD_SERVICO char(3) NOT NULL
)

-- Seis linhas
SET ROWCOUNT 6

SELECT P.CD_SERVICO
INTO   #servicos
FROM   TPROCESSO P (NOLOCK)
       INNER JOIN VW_SERVICO_GERAL S (NOLOCK) ON ( P.CD_SERVICO = S.CD_SERVICO )
       INNER JOIN TEMPRESA_NAC E(NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )
WHERE  P.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim
  AND  P.IN_LIBERADO = '1'
  AND  P.IN_CANCELADO = '0'
  AND  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )
  AND  @cd_produto IN ( P.CD_PRODUTO, 'X' )
  AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
  AND  @cd_grupo IN ( E.CD_GRUPO, 'X' )
  AND  @cd_area IN ( P.CD_AREA, 'X' )
GROUP BY P.CD_SERVICO
ORDER BY COUNT( P.NR_PROCESSO ) DESC

-- SELECT * FROM #servicos
INSERT #top_services 
SELECT * FROM #servicos

--Montando Legenda
--SELECT @legenda = ''
DECLARE c_serv CURSOR FOR 
  SELECT * FROM #top_services
OPEN c_serv
FETCH c_serv INTO @rank, @cd_servico
WHILE (@@fetch_status = 0)
BEGIN
  SELECT @nm_servico = LTRIM( RTRIM( NM_SERVICO ) ) 
  FROM   VW_SERVICO_GERAL (NOLOCK)
  WHERE CD_SERVICO = @cd_servico

  SELECT @legenda = LTRIM( RTRIM( @legenda ) ) + ' ' + CONVERT( char(1), @rank ) + '=' + @nm_servico

  FETCH c_serv INTO @rank, @cd_servico
END
CLOSE c_serv
DEALLOCATE c_serv
--SELECT @legenda
SET ROWCOUNT 0

--SELECT * FROM #top_services

INSERT INTO TTOT_SERV_CLI_PERIODO
SELECT @nr_identificador, P.CD_CLIENTE, 
       ( SELECT COUNT( P2.NR_PROCESSO )
         FROM   TPROCESSO P2 (NOLOCK)
                INNER JOIN #top_services T (NOLOCK) ON ( T.RANK = 1 AND P2.CD_SERVICO = T.CD_SERVICO )
                INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P2.CD_CLIENTE = E.CD_EMPRESA )
         WHERE  P.CD_CLIENTE = P2.CD_CLIENTE 
           AND  P2.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim 
           AND  P2.IN_LIBERADO = '1' 
           AND  P2.IN_CANCELADO = '0' 
           AND  @cd_unid_neg IN ( P2.CD_UNID_NEG, 'X' ) 
           AND  @cd_produto IN ( P2.CD_PRODUTO, 'X' )
           AND  @cd_cliente IN ( P2.CD_CLIENTE, 'X' )
           AND  @cd_grupo IN ( E.CD_GRUPO, 'X' ) 
           AND  @cd_area IN ( P2.CD_AREA, 'X' ) ) SERV1,
       ( SELECT COUNT( P2.NR_PROCESSO )
         FROM   TPROCESSO P2 (NOLOCK)
                INNER JOIN #top_services T (NOLOCK) ON ( T.RANK = 2 AND P2.CD_SERVICO = T.CD_SERVICO  )
                INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P2.CD_CLIENTE = E.CD_EMPRESA )
         WHERE  P.CD_CLIENTE = P2.CD_CLIENTE  
           AND  P2.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim 
           AND  P2.IN_LIBERADO = '1' 
           AND  P2.IN_CANCELADO = '0' 
           AND  @cd_unid_neg IN ( P2.CD_UNID_NEG, 'X' )
           AND  @cd_produto IN ( P2.CD_PRODUTO, 'X' ) 
           AND  @cd_cliente IN ( P2.CD_CLIENTE, 'X' ) 
           AND  @cd_grupo IN ( E.CD_GRUPO, 'X' )
           AND  @cd_area IN ( P2.CD_AREA, 'X' ) ) SERV2, 
       ( SELECT COUNT( P2.NR_PROCESSO )
         FROM   TPROCESSO P2 (NOLOCK) 
                INNER JOIN #top_services T (NOLOCK) ON ( T.RANK = 3 AND P2.CD_SERVICO = T.CD_SERVICO )
                INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P2.CD_CLIENTE = E.CD_EMPRESA )
         WHERE  P.CD_CLIENTE = P2.CD_CLIENTE
           AND  P2.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim 
           AND  P2.IN_LIBERADO = '1' 
           AND  P2.IN_CANCELADO = '0'
           AND  @cd_unid_neg IN ( P2.CD_UNID_NEG, 'X' ) 
           AND  @cd_produto IN ( P2.CD_PRODUTO, 'X' ) 
           AND  @cd_cliente IN ( P2.CD_CLIENTE, 'X' ) 
           AND  @cd_grupo IN ( E.CD_GRUPO, 'X' )
           AND  @cd_area IN ( P2.CD_AREA, 'X' ) ) SERV3, 
       ( SELECT COUNT( P2.NR_PROCESSO )
         FROM   TPROCESSO P2 (NOLOCK)
                INNER JOIN #top_services T (NOLOCK) ON ( T.RANK = 4 AND P2.CD_SERVICO = T.CD_SERVICO ) 
                INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P2.CD_CLIENTE = E.CD_EMPRESA )
         WHERE  P.CD_CLIENTE = P2.CD_CLIENTE  
           AND  P2.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim 
           AND  P2.IN_LIBERADO = '1' 
           AND  P2.IN_CANCELADO = '0' 
           AND  @cd_unid_neg IN ( P2.CD_UNID_NEG, 'X' ) 
           AND  @cd_produto IN ( P2.CD_PRODUTO, 'X' ) 
           AND  @cd_cliente IN ( P2.CD_CLIENTE, 'X' ) 
           AND  @cd_grupo IN ( E.CD_GRUPO, 'X' )
           AND  @cd_area IN ( P2.CD_AREA, 'X' ) ) SERV4, 
       ( SELECT COUNT( P2.NR_PROCESSO )
         FROM   TPROCESSO P2 (NOLOCK)
                INNER JOIN #top_services T (NOLOCK) ON ( T.RANK = 5 AND P2.CD_SERVICO = T.CD_SERVICO )
                INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P2.CD_CLIENTE = E.CD_EMPRESA )
         WHERE  P.CD_CLIENTE = P2.CD_CLIENTE 
           AND  P2.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim 
           AND  P2.IN_LIBERADO = '1' 
           AND  P2.IN_CANCELADO = '0' 
           AND  @cd_unid_neg IN ( P2.CD_UNID_NEG, 'X' ) 
           AND  @cd_produto IN ( P2.CD_PRODUTO, 'X' )
           AND  @cd_cliente IN ( P2.CD_CLIENTE, 'X' )
           AND  @cd_grupo IN ( E.CD_GRUPO, 'X' )
           AND  @cd_area IN ( P2.CD_AREA, 'X' ) ) SERV5, 
       ( SELECT COUNT( P2.NR_PROCESSO )
         FROM   TPROCESSO P2 (NOLOCK)
                INNER JOIN #top_services T (NOLOCK) ON ( T.RANK = 6 AND P2.CD_SERVICO = T.CD_SERVICO )
                INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P2.CD_CLIENTE = E.CD_EMPRESA )
         WHERE  P.CD_CLIENTE = P2.CD_CLIENTE 
           AND  P2.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim 
           AND  P2.IN_LIBERADO = '1' 
           AND  P2.IN_CANCELADO = '0' 
           AND  @cd_unid_neg IN ( P2.CD_UNID_NEG, 'X' )
           AND  @cd_produto IN ( P2.CD_PRODUTO, 'X' )
           AND  @cd_cliente IN ( P2.CD_CLIENTE, 'X' )
           AND  @cd_grupo IN ( E.CD_GRUPO, 'X' )
           AND  @cd_area IN ( P2.CD_AREA, 'X' ) ) SERV6,
       0 OUTROS,
       COUNT( P.NR_PROCESSO ) TOT_PROC, 
       MAX( P.DT_ABERTURA ) DT_ULT_PROC
FROM   TPROCESSO P (NOLOCK)
       INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )
WHERE  P.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim  
  AND  P.IN_LIBERADO = '1' 
  AND  P.IN_CANCELADO = '0'
  AND  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )
  AND  @cd_produto IN ( P.CD_PRODUTO, 'X' )
  AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' ) 
  AND  @cd_grupo IN ( E.CD_GRUPO, 'X' )
  AND  @cd_area IN ( P.CD_AREA, 'X' )
GROUP BY P.CD_CLIENTE

UPDATE TTOT_SERV_CLI_PERIODO 
SET    OUTROS = ISNULL( ( SELECT COUNT( P.NR_PROCESSO )
                          FROM   TPROCESSO P (NOLOCK)
                                 INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )
                          WHERE  T.NR_IDENTIFICADOR = @nr_identificador 
                            AND  T.CD_CLIENTE = P.CD_CLIENTE 
                            AND  P.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim 
                            AND  P.IN_LIBERADO = '1' 
                            AND  P.IN_CANCELADO = '0' 
                            AND  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) 
                            AND  @cd_produto IN ( P.CD_PRODUTO, 'X' )
                            AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
                            AND  @cd_grupo IN ( E.CD_GRUPO, 'X' )
                            AND  @cd_area IN ( P.CD_AREA, 'X' )
                            AND  ( P.CD_SERVICO NOT IN ( SELECT CD_SERVICO 
                                                         FROM   #top_services ) )
                          GROUP BY P.CD_CLIENTE ), 0 )
FROM   TTOT_SERV_CLI_PERIODO T

DROP TABLE #servicos
DROP TABLE #top_services




GO
