USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_atualiza_dados_nota] ( @nr_processo char(18) ) AS

DECLARE @nr_proc CHAR(18)
DECLARE @nr_item CHAR(3)
DECLARE @nr_adicao CHAR(3)
DECLARE @FRETE_COLLECT_ITEM DECIMAL(18,2)
DECLARE @FRETE_PREPAID_ITEM DECIMAL(18,2)
DECLARE @FRETE_TNAC_ITEM DECIMAL(18,2)
DECLARE @FRETE_COLLECT_ITEM_REAL DECIMAL(18,2)
DECLARE @FRETE_PREPAID_ITEM_REAL DECIMAL(18,2)
DECLARE @FRETE_TNAC_ITEM_REAL DECIMAL(18,2)
DECLARE @FRETE_COLLECT_ITEM_DOLAR DECIMAL(18,2)
DECLARE @FRETE_PREPAID_ITEM_DOLAR DECIMAL(18,2)
DECLARE @FRETE_TNAC_ITEM_DOLAR DECIMAL(18,2)
DECLARE @PB_MERCADORIA DECIMAL(18,6)
DECLARE @DIF_PB FLOAT
DECLARE @pc_reducao_ipt_ii DECIMAL(18,2)
DECLARE @pc_reducao_ipt_ipi DECIMAL(18,2)

/*   TRATAMENTO DO ITEM   */
/* -- TABELA TEMP ITEM -- */ 

SELECT  DM.NR_PROCESSO, DM.NR_ITEM, DM.NR_ADICAO,
        CAST(((DI.VL_TOT_FRT_COLLECT * DM.PL_MERCADORIA)/DI.PL_CARGA)AS DECIMAL(18,2)) AS FRETE_COLLECT_ITEM,
        CAST(((DI.VL_TOT_FRT_PREPAID * DM.PL_MERCADORIA)/DI.PL_CARGA)AS DECIMAL(18,2)) AS FRETE_PREPAID_ITEM,
        CAST(((DI.VL_FRETE_TNAC_MNEG * DM.PL_MERCADORIA)/DI.PL_CARGA)AS DECIMAL(18,2)) AS FRETE_TNAC_ITEM,
        CAST((((DI.VL_TOT_FRT_COLLECT * DM.PL_MERCADORIA)/DI.PL_CARGA)* DI.TX_FRETE)AS DECIMAL(18,2)) AS FRETE_COLLECT_ITEM_REAL,
        CAST((((DI.VL_TOT_FRT_PREPAID * DM.PL_MERCADORIA)/DI.PL_CARGA)* DI.TX_FRETE) AS DECIMAL(18,2)) AS FRETE_PREPAID_ITEM_REAL,
        CAST((((DI.VL_FRETE_TNAC_MNEG * DM.PL_MERCADORIA)/DI.PL_CARGA)* DI.TX_FRETE) AS DECIMAL(18,2)) AS FRETE_TNAC_ITEM_REAL,
        CAST(((((DI.VL_TOT_FRT_COLLECT * DM.PL_MERCADORIA)/DI.PL_CARGA)* DI.TX_FRETE)/ DI.TX_DOLAR)AS DECIMAL(18,2)) AS FRETE_COLLECT_ITEM_DOLAR,
        CAST(((((DI.VL_TOT_FRT_PREPAID * DM.PL_MERCADORIA)/DI.PL_CARGA)* DI.TX_FRETE)/ DI.TX_DOLAR) AS DECIMAL(18,2)) AS FRETE_PREPAID_ITEM_DOLAR,
        CAST(((((DI.VL_FRETE_TNAC_MNEG * DM.PL_MERCADORIA)/DI.PL_CARGA)* DI.TX_FRETE)/ DI.TX_DOLAR) AS DECIMAL(18,2)) AS FRETE_TNAC_ITEM_DOLAR,
        CAST((((DI.PB_CARGA * DM.PL_MERCADORIA)/DI.PL_CARGA)) AS DECIMAL(18,6)) AS PB_MERCADORIA
INTO #ITEM_NOTA
FROM TDECLARACAO_IMPORTACAO DI
LEFT OUTER JOIN TDETALHE_MERCADORIA DM ON (DI.NR_PROCESSO = DM.NR_PROCESSO)
WHERE DI.NR_PROCESSO = @nr_processo

WHILE EXISTS (SELECT * FROM #ITEM_NOTA)
BEGIN

  /*  --  TRATAMENTO DO FRETE E PESO BRUTO --  */
  SELECT 
    @nr_proc   = NR_PROCESSO,
    @nr_item   = NR_ITEM,
    @nr_adicao = NR_ADICAO,  
    @FRETE_COLLECT_ITEM = FRETE_COLLECT_ITEM,
    @FRETE_PREPAID_ITEM = FRETE_PREPAID_ITEM,
    @FRETE_TNAC_ITEM = FRETE_TNAC_ITEM,
    @FRETE_COLLECT_ITEM_REAL = FRETE_COLLECT_ITEM_REAL,
    @FRETE_PREPAID_ITEM_REAL = FRETE_PREPAID_ITEM_REAL,
    @FRETE_TNAC_ITEM_REAL = FRETE_TNAC_ITEM_REAL,
    @FRETE_COLLECT_ITEM_DOLAR = FRETE_COLLECT_ITEM_DOLAR,
    @FRETE_PREPAID_ITEM_DOLAR = FRETE_PREPAID_ITEM_DOLAR,
    @FRETE_TNAC_ITEM_DOLAR = FRETE_TNAC_ITEM_DOLAR,
    @PB_MERCADORIA = PB_MERCADORIA
  FROM #ITEM_NOTA

  UPDATE TDETALHE_MERCADORIA
  SET 
     FRETE_COLLECT_ITEM = @FRETE_COLLECT_ITEM,
     FRETE_PREPAID_ITEM = @FRETE_PREPAID_ITEM,
     FRETE_TNAC_ITEM = @FRETE_TNAC_ITEM,
     FRETE_COLLECT_ITEM_REAL = @FRETE_COLLECT_ITEM_REAL,
     FRETE_PREPAID_ITEM_REAL = @FRETE_PREPAID_ITEM_REAL,
     FRETE_TNAC_ITEM_REAL = @FRETE_TNAC_ITEM_REAL,
     FRETE_COLLECT_ITEM_DOLAR = @FRETE_COLLECT_ITEM_DOLAR,
     FRETE_PREPAID_ITEM_DOLAR = @FRETE_PREPAID_ITEM_DOLAR,
     FRETE_TNAC_ITEM_DOLAR = @FRETE_TNAC_ITEM_DOLAR,
     PB_MERCADORIA =@PB_MERCADORIA
  WHERE @nr_proc = NR_PROCESSO 
    AND @NR_ITEM     = NR_ITEM
    AND @NR_ADICAO   = NR_ADICAO

  DELETE #ITEM_NOTA
  WHERE NR_PROCESSO = @nr_proc
    AND NR_ITEM     = @nr_item
    AND NR_ADICAO   = @nr_adicao

END
 
/* AJUSTA O PESO BRUTO - Lança a diferença no item de maior Peso  */
  SELECT @DIF_PB =(SELECT (MAX(DI.PB_CARGA) - SUM(DM.PB_MERCADORIA)) 
				   FROM TDECLARACAO_IMPORTACAO DI
				   LEFT OUTER JOIN TDETALHE_MERCADORIA DM ON (DI.NR_PROCESSO = DM.NR_PROCESSO)
				   WHERE DI.NR_PROCESSO = @nr_processo)

  UPDATE TDETALHE_MERCADORIA
  SET
     PB_MERCADORIA =(PB_MERCADORIA+@DIF_PB)
  WHERE @nr_proc = NR_PROCESSO 
    AND PB_MERCADORIA =(SELECT MAX(PB_MERCADORIA) FROM TDETALHE_MERCADORIA 
                                                  WHERE NR_PROCESSO=@nr_proc)


/* TRATAMENTO DO ADICAO   */
/*  --  REDUCAO II/IPI -- */
SELECT  AD.NR_PROCESSO, AD.NR_ADICAO
    INTO #ADICAO_NOTA
  FROM TDECLARACAO_IMPORTACAO DI
  LEFT OUTER JOIN TADICAO_DE_IMPORTACAO AD ON (DI.NR_PROCESSO = AD.NR_PROCESSO)
  WHERE DI.NR_PROCESSO = @nr_processo

WHILE EXISTS (SELECT * FROM #ADICAO_NOTA)
BEGIN

  /*  --  TABELA TEMP ADICAO  --  */
  SELECT 
    @nr_proc   = NR_PROCESSO,
    @nr_adicao = NR_ADICAO
  FROM #ADICAO_NOTA

  /*  --  REDUCAO II DA ADICAO DE IMPORTACAO --  */
  SELECT @pc_reducao_ipt_ii = (CASE WHEN TRIB.PC_REDUCAO_IPT_BLI > 0 THEN 
                                         (TRIB.PC_ALIQ_NORM_ADVAL - (TRIB.PC_ALIQ_NORM_ADVAL * (TRIB.PC_REDUCAO_IPT_BLI /100)))
                                     ELSE 0 END)
  FROM TADICAO_DE_IMPORTACAO ADT 
  LEFT OUTER JOIN TRIBUTO TRIB ON (ADT.NR_PROCESSO = TRIB.NR_PROCESSO
                         AND ADT.NR_ADICAO = TRIB.NR_ADICAO
                         AND TRIB.CD_RECEITA_IMPOSTO ='0001')
  WHERE 
    ADT.NR_PROCESSO = @nr_proc
    AND ADT.NR_ADICAO = @nr_adicao

  /*  --  REDUCAO IPI DA ADICAO DE IMPORTACAO --  */
  SELECT @pc_reducao_ipt_ipi = (CASE WHEN TRIB.PC_REDUCAO_IPT_BLI > 0 THEN 
                                         (TRIB.PC_ALIQ_NORM_ADVAL - (TRIB.PC_ALIQ_NORM_ADVAL * (TRIB.PC_REDUCAO_IPT_BLI /100)))
                                     ELSE 0 END)
  FROM TADICAO_DE_IMPORTACAO ADT 
  LEFT OUTER JOIN TRIBUTO TRIB ON (ADT.NR_PROCESSO = TRIB.NR_PROCESSO
                         AND ADT.NR_ADICAO = TRIB.NR_ADICAO
                         AND TRIB.CD_RECEITA_IMPOSTO ='0002')
  WHERE 
    ADT.NR_PROCESSO = @nr_proc
    AND ADT.NR_ADICAO = @nr_adicao


  UPDATE TADICAO_DE_IMPORTACAO
  SET 
     PC_REDUCAO_IPT_II  = @pc_reducao_ipt_ii,
     PC_REDUCAO_IPT_IPI = @pc_reducao_ipt_ipi,
     PB_MERCADORIA      = (SELECT SUM(PB_MERCADORIA) 
                                  FROM TDETALHE_MERCADORIA 
                                  WHERE NR_PROCESSO=@nr_proc  
                                  AND  NR_ADICAO= @nr_adicao)
  WHERE @nr_proc = NR_PROCESSO 
    AND @NR_ADICAO   = NR_ADICAO

  PRINT '@nr_proc              :' +CAST(@nr_proc AS CHAR)
  PRINT '@nr_adicao            :' +CAST(@nr_adicao AS CHAR)
  PRINT '@PC_REDUCAO_IPT_II    :' +CAST(@PC_REDUCAO_IPT_II AS CHAR)


  DELETE #ADICAO_NOTA
  WHERE NR_PROCESSO = @nr_proc
    AND NR_ADICAO   = @nr_adicao

END

DROP TABLE #ITEM_NOTA
DROP TABLE #ADICAO_NOTA


RETURN 0





GO
