USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/****** Object:  Stored Procedure dbo.sp_altera_senha    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_rel_emitido_cancelado] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5),
                 @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo    char(3)
DECLARE @cd_cliente  char(5)
DECLARE @dt_inicio   datetime
DECLARE @dt_fim      datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = 'X'
SELECT @cd_grupo    = 'X'
SELECT @cd_cliente  = 'X'
SELECT @dt_inicio   = CONVERT( datetime, '30/06/2009', 103 )
SELECT @dt_fim      = CONVERT( datetime, '30/06/2009', 103 )
*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_EMITIDO_CANCELADO

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

--Faturas emitidas
INSERT TREL_EMITIDO_CANCELADO
( NR_IDENTIFICADOR, TP_NOTA, CD_UNID_NEG, CD_PRODUTO, NR_NOTA_FATURA, NR_SOLICITACAO, DT_EMISSAO, DT_CANCELAMENTO, NR_PROCESSO, NM_CLI_FAV, VL_NOTA_FATURA )
  SELECT @nr_identificador NR_IDENTIFICADOR, '0' TP_NOTA, N.CD_UNID_NEG, N.CD_PRODUTO, F.NR_NOTA_FATURA, N.NR_SOLICITACAO, MAX( F.DT_FATURA ) DT_IMPRESSAO, 
         NULL DT_CANCELAMENTO, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_CLI_FAV,
         MIN( ROUND( ISNULL( N.VL_TOT_GERAL, 0 ), 2 ) ) AS VL_NOTA_FATURA
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         F.IN_CANCELADO = '0' AND
         F.TP_TIPO_FAT = 'F' AND
         ISNULL( F.NR_NOTA_FATURA, '' ) <> ''
  GROUP BY N.CD_UNID_NEG, N.CD_PRODUTO, N.NR_SOLICITACAO, F.NR_NOTA_FATURA

-- Notas Fiscais emitidas
-- Notas Fiscais emitidas Operacionais
INSERT TREL_EMITIDO_CANCELADO
( NR_IDENTIFICADOR, TP_NOTA, CD_UNID_NEG, CD_PRODUTO, NR_NOTA_FATURA, NR_SOLICITACAO, DT_EMISSAO, DT_CANCELAMENTO, NR_PROCESSO, NM_CLI_FAV, VL_NOTA_FATURA )
  SELECT @nr_identificador NR_IDENTIFICADOR, '1' TP_NOTA, N.CD_UNID_NEG, N.CD_PRODUTO, F.NR_NF_SERV NR_NOTA_FATURA, N.NR_SOLICITACAO, MAX( F.DT_FATURA ) DT_IMPRESSAO, 
         NULL DT_CANCELAMENTO, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_CLI_FAV,
         MIN( ROUND( ISNULL( N.VL_TOT_TRIBUTAVEL, 0 ), 2 ) ) AS VL_NOTA_FATURA
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         F.IN_CANCELADO = '0' AND
         ISNULL( F.NR_NF_SERV, '' ) <> ''
  GROUP BY N.CD_UNID_NEG, N.CD_PRODUTO, N.NR_SOLICITACAO, F.NR_NF_SERV

-- Notas de Débito emitidas
-- Notas de Débito emitidas Operacionais
INSERT TREL_EMITIDO_CANCELADO
( NR_IDENTIFICADOR, TP_NOTA, CD_UNID_NEG, CD_PRODUTO, NR_NOTA_FATURA, NR_SOLICITACAO, DT_EMISSAO, DT_CANCELAMENTO, NR_PROCESSO, NM_CLI_FAV, VL_NOTA_FATURA )
  SELECT @nr_identificador NR_IDENTIFICADOR, '2' TP_NOTA, N.CD_UNID_NEG, N.CD_PRODUTO, F.NR_NOTA_FATURA, N.NR_SOLICITACAO, MAX( F.DT_FATURA ) DT_IMPRESSAO, 
         NULL DT_CANCELAMENTO, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_CLI_FAV,
         MIN( ROUND( ISNULL( N.VL_TOT_GERAL, 0 ), 2 ) ) AS VL_NOTA_FATURA
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         F.IN_CANCELADO = '0' AND
         F.TP_TIPO_FAT = 'N' AND
         ISNULL( F.NR_NOTA_FATURA, '' ) <> '' AND
         ROUND( ISNULL( F.VL_FATURA, 0 ), 2 ) < 0
  GROUP BY N.CD_UNID_NEG, N.CD_PRODUTO, N.NR_SOLICITACAO, F.NR_NOTA_FATURA

--Notas de Crédito emitidas
--Notas de Crédito
INSERT TREL_EMITIDO_CANCELADO
( NR_IDENTIFICADOR, TP_NOTA, CD_UNID_NEG, CD_PRODUTO, NR_NOTA_FATURA, NR_SOLICITACAO, DT_EMISSAO, DT_CANCELAMENTO, NR_PROCESSO, NM_CLI_FAV, VL_NOTA_FATURA )
  SELECT @nr_identificador NR_IDENTIFICADOR, '2' TP_NOTA, N.CD_UNID_NEG, N.CD_PRODUTO, F.NR_NOTA_FATURA, N.NR_SOLICITACAO, MAX( F.DT_FATURA ) DT_IMPRESSAO, 
	 NULL DT_CANCELAMENTO, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_CLI_FAV,
         MIN( ROUND( ISNULL( N.VL_TOT_GERAL, 0 ), 2 ) ) VL_NOTA_FATURA
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         F.IN_CANCELADO = '0' AND
         F.TP_TIPO_FAT = 'N' AND
         ISNULL( F.NR_NOTA_FATURA, '' ) <> '' AND
         ROUND( ISNULL( F.VL_FATURA, 0 ), 2 ) > 0
  GROUP BY N.CD_UNID_NEG, N.CD_PRODUTO, N.NR_SOLICITACAO, F.NR_NOTA_FATURA

--Faturas canceladas
INSERT TREL_EMITIDO_CANCELADO
( NR_IDENTIFICADOR, TP_NOTA, CD_UNID_NEG, CD_PRODUTO, NR_NOTA_FATURA, NR_SOLICITACAO, DT_EMISSAO, DT_CANCELAMENTO, NR_PROCESSO, NM_CLI_FAV, VL_NOTA_FATURA )
  SELECT @nr_identificador NR_IDENTIFICADOR, '4' TP_NOTA, F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_NOTA_FATURA, F.NR_SOLICITACAO, MAX( F.DT_FATURA ) DT_IMPRESSAO, 
         MAX( F.DT_CANCELAMENTO ) DT_CANCELAMENTO, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_CLI_FAV,
         0 VL_NOTA_FATURA
  FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         F.IN_CANCELADO = '1' AND
         F.TP_TIPO_FAT = 'F' AND
         ISNULL( F.NR_NOTA_FATURA, '' ) <> ''
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, F.NR_NOTA_FATURA

-- Notas Fiscais canceladas
-- Notas Fiscais canceladas Operacionais
INSERT TREL_EMITIDO_CANCELADO
( NR_IDENTIFICADOR, TP_NOTA, CD_UNID_NEG, CD_PRODUTO, NR_NOTA_FATURA, NR_SOLICITACAO, DT_EMISSAO, DT_CANCELAMENTO, NR_PROCESSO, NM_CLI_FAV, VL_NOTA_FATURA )
  SELECT @nr_identificador NR_IDENTIFICADOR, '5' TP_NOTA, N.CD_UNID_NEG, N.CD_PRODUTO, F.NR_NF_SERV NR_NOTA_FATURA, N.NR_SOLICITACAO, MAX( F.DT_FATURA ) DT_IMPRESSAO, 
         MAX( F.DT_CANCELAMENTO ) DT_CANCELAMENTO, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_CLI_FAV,
         0 VL_NOTA_FATURA
  FROM   TNF_SERV_OP N (NOLOCK), TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
         N.CD_PRODUTO = F.CD_PRODUTO AND
         N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
         F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         F.IN_CANCELADO = '1' AND
         ISNULL( F.NR_NF_SERV, '' ) <> ''
  GROUP BY N.CD_UNID_NEG, N.CD_PRODUTO, N.NR_SOLICITACAO, F.NR_NF_SERV

--Notas de Débito canceladas
-- Notas de Débito canceladas Operacionais
INSERT TREL_EMITIDO_CANCELADO
( NR_IDENTIFICADOR, TP_NOTA, CD_UNID_NEG, CD_PRODUTO, NR_NOTA_FATURA, NR_SOLICITACAO, DT_EMISSAO, DT_CANCELAMENTO, NR_PROCESSO, NM_CLI_FAV, VL_NOTA_FATURA )
  SELECT @nr_identificador NR_IDENTIFICADOR, '6' TP_NOTA, F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_NOTA_FATURA, F.NR_SOLICITACAO, MAX( F.DT_FATURA ) DT_IMPRESSAO, 
         NULL DT_CANCELAMENTO, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_CLI_FAV,
         0 VL_NOTA_FATURA
  FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         F.IN_CANCELADO = '1' AND
         F.TP_TIPO_FAT = 'N' AND
         ISNULL( F.NR_NOTA_FATURA, '' ) <> ''
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, F.NR_NOTA_FATURA

/*
SELECT
    TREL_EMITIDO_CANCELADO."NR_IDENTIFICADOR", TREL_EMITIDO_CANCELADO."TP_NOTA", TREL_EMITIDO_CANCELADO."CD_UNID_NEG", TREL_EMITIDO_CANCELADO."NR_NOTA_FATURA", TREL_EMITIDO_CANCELADO."NR_SOLICITACAO", TREL_EMITIDO_CANCELADO."DT_EMISSAO", TREL_EMITIDO_CANCELADO."DT_CANCELAMENTO", TREL_EMITIDO_CANCELADO."NR_PROCESSO", TREL_EMITIDO_CANCELADO."NM_CLI_FAV", TREL_EMITIDO_CANCELADO."VL_NOTA_FATURA",
    TUNID_NEG."NM_UNID_NEG",
    TAREA."NM_AREA"
FROM
    { oj "BROKER"."dbo"."TREL_EMITIDO_CANCELADO" TREL_EMITIDO_CANCELADO (NOLOCK) INNER JOIN "BROKER"."dbo"."TUNID_NEG" TUNID_NEG (NOLOCK) ON
        TREL_EMITIDO_CANCELADO."CD_UNID_NEG" = TUNID_NEG."CD_UNID_NEG"
LEFT JOIN "BROKER"."dbo"."TPROCESSO" TPROCESSO (NOLOCK) ON
        TREL_EMITIDO_CANCELADO."NR_PROCESSO" = TPROCESSO."NR_PROCESSO"
LEFT JOIN "BROKER"."dbo"."TAREA" TAREA (NOLOCK) ON
        TPROCESSO."CD_AREA" = TAREA."CD_AREA"}
ORDER BY
    TREL_EMITIDO_CANCELADO."CD_UNID_NEG" ASC,
    TREL_EMITIDO_CANCELADO."TP_NOTA" ASC,
    TREL_EMITIDO_CANCELADO."NR_NOTA_FATURA" ASC,
    TREL_EMITIDO_CANCELADO."DT_EMISSAO" ASC
ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
