USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_distribui_ch_branco] (@dt_movimento datetime, @cd_coligada char(2) ) AS

DECLARE @nr_ult_lanc  int
DECLARE @ult_lanc  char(6)
DECLARE @cd_banco  char(3)
DECLARE @nr_cheque  char(6)
DECLARE @cd_unid_neg  char(2)
DECLARE @cd_favorecido  char(5)
DECLARE @in_transferido char(1)
DECLARE @in_baixado  char(1)
DECLARE @in_cancelado  char(1)
DECLARE @nr_processo  char(18)
DECLARE @cd_item  char(3)
DECLARE @vl_item  float
DECLARE @vl_ir   float
DECLARE @cd_despachante char(3)
DECLARE @vl_assist  float
DECLARE c_imp CURSOR FOR 

SELECT  CD_BANCO, NR_CHEQUE, CD_UNID_NEG, CD_FAVORECIDO,
        IN_TRANSFERIDO, IN_BAIXADO, IN_CANCELADO
FROM    TCHEQUE_BRANCO (TABLOCK HOLDLOCK)
WHERE   IN_TRANSFERIDO = '0' AND 
        IN_BAIXADO     = '1' AND
        IN_CANCELADO   = '0' AND
        DT_BAIXA <= @dt_movimento

OPEN  c_imp
FETCH c_imp INTO 
  @cd_banco, @nr_cheque, @cd_unid_neg, @cd_favorecido, @in_transferido, @in_baixado, @in_cancelado
WHILE @@fetch_status <> -1
BEGIN
  UPDATE TCHEQUE_BRANCO
  SET    IN_TRANSFERIDO = '1'
  WHERE CURRENT OF c_imp
   
  DECLARE c_itens CURSOR FOR
    SELECT NR_PROCESSO, CD_ITEM, VL_ITEM, VL_IR, CD_DESPACHANTE, VL_ASSIST
    FROM   TCHEQUE_BRANCO_ITEM (TABLOCK HOLDLOCK)
    WHERE  CD_BANCO = @cd_banco AND NR_CHEQUE = @nr_cheque 

  OPEN c_itens 
  FETCH c_itens INTO
    @nr_processo, @cd_item, @vl_item, @vl_ir, @cd_despachante, @vl_assist

  SELECT @nr_ult_lanc = convert( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
  FROM   TCAIXA 
  WHERE  DT_MOVIMENTO = @dt_movimento 

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )
  WHILE @@fetch_status <> -1
  BEGIN
    INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA,
                    IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, CD_BANCO, NR_CHEQUE, CD_FAVORECIDO, 
                    NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, CD_DESPACHANTE, IN_RESTITUI )
    VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', '5', '0', '0', @vl_item, 'C', 
             @cd_banco, @nr_cheque, @cd_favorecido, @nr_processo, @cd_item, @vl_ir, @vl_assist, @cd_despachante, '0' )
         
    SELECT @nr_ult_lanc = @nr_ult_lanc + 1

    SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, @nr_ult_lanc ), 6 )

    FETCH c_itens INTO
       @nr_processo, @cd_item, @vl_item, @vl_ir, @cd_despachante, @vl_assist
  END
  CLOSE c_itens
  DEALLOCATE c_itens 
  FETCH c_imp INTO 
   @cd_banco, @nr_cheque, @cd_unid_neg, @cd_favorecido, @in_transferido, @in_baixado, @in_cancelado
END
CLOSE c_imp
DEALLOCATE c_imp

DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco
EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa

EXEC sp_atz_fat_cc @cd_coligada, @dt_movimento



GO
