USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROC [sp_rel_demo_cc] @cd_unid_neg char(2), @cd_produto char(2), @dt_inicio datetime, @dt_fim datetime,      
			   @cd_grupo char(3), @cd_cliente char(5), @nr_relatorio char(6),
                           @cd_usuario char(4), @nr_identificador int OUTPUT AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @nr_relatorio char(6)
DECLARE @cd_usuario char(4)
DECLARE @nr_identificador int 

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @dt_inicio = CONVERT( datetime, '01/01/2000', 103 )
SELECT @dt_fim = CONVERT( datetime, '30/08/2000', 103 )
SELECT @cd_grupo = '003'
SELECT @cd_cliente = 'X'
SELECT @nr_relatorio = '31/00'
SELECT @cd_usuario = '0053'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_ct_contabil_ir char(10)
DECLARE @vl_aliq_ir float

SELECT @vl_aliq_ir = ( SELECT VL_ALIQ_IR FROM TPARAMETROS (NOLOCK) )

SELECT @cd_ct_contabil_ir = ( SELECT I.CD_CT_CONTABIL
                              FROM   TITEM I (NOLOCK)
                              WHERE CD_ITEM IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) )

DECLARE @cd_banco_cliente char(3)
DECLARE @cd_banco_comissaria char(3)

--Gravar nº do relatório
IF NOT EXISTS( SELECT *
               FROM   TREL_DEMO_CC_NUM
               WHERE  NR_RELATORIO = @nr_relatorio )
   INSERT TREL_DEMO_CC_NUM ( NR_RELATORIO, DT_EMISSAO, CD_USUARIO_IMP )
   VALUES( @nr_relatorio, CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 ), @cd_usuario )
ELSE
   UPDATE TREL_DEMO_CC_NUM
   SET    CD_USUARIO_IMP = @cd_usuario,
          DT_EMISSAO = CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
 
SELECT @nr_identificador = MAX( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_DEMO_CC

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT @cd_banco_cliente = MAX( ISNULL( CD_BANCO_DEB_COM, '' ) )
FROM   TEMPRESA_NAC E (NOLOCK), TCLIENTE_SERVICO S (NOLOCK)
WHERE  E.CD_EMPRESA *= S.CD_CLIENTE AND
       E.CD_GRUPO = @cd_grupo OR
       E.CD_EMPRESA = @cd_cliente

SELECT @cd_banco_comissaria = MAX( ISNULL( CD_BANCO_COM, '' ) )
FROM   TCLIENTE_SERVICO C (NOLOCK), TEMPRESA_NAC E (NOLOCK)
WHERE  C.CD_CLIENTE = E.CD_EMPRESA AND
       E.CD_GRUPO = @cd_grupo OR
       E.CD_EMPRESA = @cd_cliente

--Página 1 - Saldo Credor

SELECT F.NR_PROCESSO
INTO   #TMP_REL_DEMO_CC_CRED_PROC
FROM   TFATURAMENTO_CC F (NOLOCK), 
       TS_FATURA FAT (NOLOCK),
       TPROCESSO P (NOLOCK),        TEMPRESA_NAC E (NOLOCK)
WHERE  F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
       F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
       F.CD_PRODUTO = FAT.CD_PRODUTO AND
       F.NR_PROCESSO = P.NR_PROCESSO AND
       @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
       @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       FAT.IN_CANCELADO = '0' AND
       F.IN_CANCELADO = '0' AND
       F.IN_FATURADO = '1' AND
       FAT.TP_TIPO_FAT = 'F' AND 
       F.CD_FORMA_PAGTO <> 'L' AND
       ( FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim ) AND
       ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND 
       @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
       ( F.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) )

SELECT F.NR_PROCESSO, F.CD_UNID_NEG, F.CD_PRODUTO, FAT.NR_NOTA_FATURA, ISNULL( REF.CD_REFERENCIA, '' ) CD_REFERENCIA, H.CD_IR_FAT, F.NR_SOLIC_FAT, 
       CASE ISNULL( P.CD_EMBARCACAO, '' )
          WHEN '' THEN ISNULL( P.NR_VOO, '' )
          ELSE EMB.NM_EMBARCACAO
       END NM_VEICULO,
       F.CD_ITEM, 
       ISNULL( ( SELECT CASE F.CD_ITEM
                           WHEN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) THEN ( ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 ) )
                           WHEN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) THEN ( ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 ) ) * ( -1 )
                           WHEN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) THEN ( ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 ) ) * ( -1 )
                        END ) , 0 ) VL_RECEB_NUM,
       ISNULL( ( SELECT ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 )
                 FROM   TFATURAMENTO_CC FC (NOLOCK)
                 WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                        FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                        FC.CD_ITEM IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) ), 0 ) VL_IR,
       ISNULL( ( SELECT ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 )
                 FROM   TFATURAMENTO_CC FC (NOLOCK)
                 WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                        FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                        FC.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) ), 0 ) VL_SALDO_CRED
INTO   #TMP_REL_DEMO_CC_CRED
FROM   TFATURAMENTO_CC F (NOLOCK), 
       TS_FATURA FAT (NOLOCK),
       TPROCESSO P (NOLOCK), 
       TEMPRESA_NAC E (NOLOCK), 
       TEMBARCACAO EMB (NOLOCK),
       TCLIENTE_HABILITACAO H (NOLOCK),
       TREF_CLIENTE REF (NOLOCK)
WHERE  F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
       F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
       F.CD_PRODUTO = FAT.CD_PRODUTO AND
       F.NR_PROCESSO = P.NR_PROCESSO AND
       @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
       @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
       P.NR_PROCESSO *= REF.NR_PROCESSO AND
       REF.NR_SEQUENCIA = ( SELECT MAX( NR_SEQUENCIA )
                            FROM   TREF_CLIENTE REF2 (NOLOCK)
                            WHERE  REF2.NR_PROCESSO = REF.NR_PROCESSO ) AND
       P.CD_EMBARCACAO *= EMB.CD_EMBARCACAO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       P.CD_UNID_NEG = H.CD_UNID_NEG AND
       P.CD_PRODUTO = H.CD_PRODUTO AND
       P.CD_CLIENTE = H.CD_CLIENTE AND
       FAT.IN_CANCELADO = '0' AND
       F.IN_CANCELADO = '0' AND
       F.IN_FATURADO = '1' AND
       FAT.TP_TIPO_FAT = 'F' AND 
       F.CD_FORMA_PAGTO <> 'L' AND
       ( FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim ) AND
       ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND 
       @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
       ( F.CD_ITEM IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) OR
         F.CD_ITEM IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) OR
         F.CD_ITEM IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) OR
         F.CD_ITEM IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) OR
         F.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) ) AND
       ( F.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM #TMP_REL_DEMO_CC_CRED_PROC ) )
ORDER BY F.NR_PROCESSO, F.CD_ITEM

INSERT TREL_DEMO_CC ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_PAGINA, NR_NOTA_FATURA, CD_BANCO_CLIENTE, 
                      CD_BANCO_COMISSARIA, NR_PROCESSO, CD_REFERENCIA, NM_VEICULO, NR_SOLIC_FAT, NR_RELATORIO, 
                      VL_RECEB_NUM, VL_IR, VL_NOTA_FATURA, VL_SALDO, VL_ALIQ_IR )
SELECT @nr_identificador NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, '1' CD_PAGINA, NR_NOTA_FATURA, @cd_banco_cliente, 
       @cd_banco_comissaria, NR_PROCESSO, CD_REFERENCIA, NM_VEICULO, NR_SOLIC_FAT, @nr_relatorio,
       SUM( VL_RECEB_NUM ) VL_RECEB_NUM, SUM( VL_IR ) VL_IR, 
       CASE MAX( CD_IR_FAT )
         WHEN '0' THEN SUM( VL_RECEB_NUM ) - SUM( VL_SALDO_CRED )
         WHEN '1' THEN SUM( VL_RECEB_NUM ) + SUM( VL_IR ) - SUM( VL_SALDO_CRED )
         WHEN '2' THEN SUM( VL_RECEB_NUM ) - SUM( VL_IR ) - SUM( VL_SALDO_CRED )
       END VL_NOTA_FATURA,
       SUM( VL_SALDO_CRED ) VL_SALDO, @vl_aliq_ir
FROM   #TMP_REL_DEMO_CC_CRED
GROUP BY CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NR_NOTA_FATURA, CD_REFERENCIA, NM_VEICULO, NR_SOLIC_FAT

--Página 2 - Notas de Débito com Saldo Devedor e Credor ( Operacionais e Administrativas )
-- Operacionais
SELECT F.NR_PROCESSO
INTO   #TMP_REL_DEMO_CC_NOTAS_OP_PROC
FROM   TFATURAMENTO_CC F (NOLOCK), 
       TS_FATURA FAT (NOLOCK),
       TPROCESSO P (NOLOCK),        TEMPRESA_NAC E (NOLOCK)
WHERE  F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
       F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
       F.CD_PRODUTO = FAT.CD_PRODUTO AND
       F.NR_PROCESSO = P.NR_PROCESSO AND
       @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
       @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       FAT.IN_CANCELADO = '0' AND
       F.IN_CANCELADO = '0' AND
       F.IN_FATURADO = '1' AND
       FAT.TP_TIPO_FAT = 'N' AND 
       F.CD_FORMA_PAGTO <> 'L' AND
       ( FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim ) AND
       ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND 
       @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( E.CD_EMPRESA, 'X' )

SELECT F.NR_PROCESSO, F.CD_UNID_NEG, F.CD_PRODUTO, FAT.NR_NOTA_FATURA, ISNULL( REF.CD_REFERENCIA, '' ) CD_REFERENCIA, 
       H.CD_IR_FAT, F.NR_SOLIC_FAT, 
       CASE ISNULL( P.CD_EMBARCACAO, '' )
          WHEN '' THEN ISNULL( P.NR_VOO, '' )
          ELSE EMB.NM_EMBARCACAO
       END NM_VEICULO,
       F.CD_ITEM, 
       ISNULL( ( SELECT ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 )
                 FROM   TFATURAMENTO_CC FC (NOLOCK)
                 WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                        FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                        FC.CD_ITEM IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) ), 0 ) -
       ISNULL( ( SELECT ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 )
                 FROM   TFATURAMENTO_CC FC (NOLOCK)
                 WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                        FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                        FC.CD_ITEM IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) ), 0 ) VL_RECEB_NUM,
       ISNULL( ( SELECT ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 )
                 FROM   TFATURAMENTO_CC FC (NOLOCK)
                 WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                        FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                        FC.CD_ITEM IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) ), 0 ) VL_IR,
       ( ISNULL( ( SELECT ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 )
                   FROM   TFATURAMENTO_CC FC (NOLOCK)
                   WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                          FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                          FC.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) ), 0 ) -
         ISNULL( ( SELECT ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 )
                   FROM   TFATURAMENTO_CC FC (NOLOCK)
                   WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                          FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                          FC.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) ), 0 ) ) VL_SALDO
INTO   #TMP_REL_DEMO_CC_NOTAS_OP
FROM   TFATURAMENTO_CC F (NOLOCK), 
       TS_FATURA FAT (NOLOCK),
       TPROCESSO P (NOLOCK), 
       TEMPRESA_NAC E (NOLOCK), 
       TEMBARCACAO EMB (NOLOCK),
       TCLIENTE_HABILITACAO H (NOLOCK),
       TREF_CLIENTE REF (NOLOCK)
WHERE  F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
       F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
       F.CD_PRODUTO = FAT.CD_PRODUTO AND
       F.NR_PROCESSO = P.NR_PROCESSO AND
       @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
       @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
       P.NR_PROCESSO *= REF.NR_PROCESSO AND
       REF.NR_SEQUENCIA = ( SELECT MAX( NR_SEQUENCIA )
                            FROM   TREF_CLIENTE REF2 (NOLOCK)
                            WHERE  REF2.NR_PROCESSO = REF.NR_PROCESSO ) AND
       P.CD_EMBARCACAO *= EMB.CD_EMBARCACAO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       P.CD_UNID_NEG = H.CD_UNID_NEG AND
       P.CD_PRODUTO = H.CD_PRODUTO AND
       P.CD_CLIENTE = H.CD_CLIENTE AND
       FAT.IN_CANCELADO = '0' AND
       F.IN_CANCELADO = '0' AND
       F.IN_FATURADO = '1' AND
       FAT.TP_TIPO_FAT = 'N' AND 
       F.CD_FORMA_PAGTO <> 'L' AND
       ( FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim ) AND
       ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND 
       @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
       ( F.CD_ITEM IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) OR
         F.CD_ITEM IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) OR
         F.CD_ITEM IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) OR
         F.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) OR
         F.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) ) AND
       ( F.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM #TMP_REL_DEMO_CC_NOTAS_OP_PROC ) )
ORDER BY F.NR_PROCESSO, F.CD_ITEM

INSERT TREL_DEMO_CC ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_PAGINA, NR_NOTA_FATURA, CD_BANCO_CLIENTE, 
                      CD_BANCO_COMISSARIA, NR_PROCESSO, CD_REFERENCIA, NM_VEICULO, NR_SOLIC_FAT, NR_RELATORIO, 
                      VL_RECEB_NUM, VL_IR, VL_NOTA_FATURA, VL_SALDO, VL_ALIQ_IR )
SELECT @nr_identificador NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, '2' CD_PAGINA, NR_NOTA_FATURA, @cd_banco_cliente, @cd_banco_comissaria,
       NR_PROCESSO, CD_REFERENCIA, NM_VEICULO, NR_SOLIC_FAT, @nr_relatorio,
       SUM( VL_RECEB_NUM ) VL_RECEB_NUM, SUM( VL_IR ) VL_IR, 
       CASE MAX( CD_IR_FAT )
         WHEN '0' THEN SUM( VL_RECEB_NUM ) - SUM( VL_SALDO )
         WHEN '1' THEN SUM( VL_RECEB_NUM ) + SUM( VL_IR ) - SUM( VL_SALDO )
         WHEN '2' THEN SUM( VL_RECEB_NUM ) - SUM( VL_IR ) - SUM( VL_SALDO )
       END VL_NOTA_FATURA,
       SUM( VL_SALDO ) VL_SALDO, @vl_aliq_ir
FROM   #TMP_REL_DEMO_CC_NOTAS_OP
GROUP BY CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NR_NOTA_FATURA, CD_REFERENCIA, NM_VEICULO, NR_SOLIC_FAT

DELETE TREL_DEMO_CC 
WHERE  NR_IDENTIFICADOR = @nr_identificador AND
       CD_PAGINA = '2' AND
       ROUND( ISNULL( VL_NOTA_FATURA, 0 ), 2 ) <= 0

--Notas Administrativas
SELECT NR_DOCTO, 
       ISNULL( ( SELECT SUM( ISNULL( AD.VL_LANCTO, 0 ) - ISNULL( AD.VL_DESCONTO, 0 ) )
                 FROM   TADM AD (NOLOCK)
                 WHERE  AD.CD_UNID_NEG = A.CD_UNID_NEG AND
                        AD.DT_LANCTO = A.DT_LANCTO AND
                        AD.CD_CT_CONTABIL = A.CD_CT_CONTABIL AND
                        AD.TP_NATUREZA = A.TP_NATUREZA AND
                        AD.NR_LANCAMENTO = A.NR_LANCAMENTO AND
                        AD.CD_CT_CONTABIL = @cd_ct_contabil_ir ), 0 ) VL_IR,
       ISNULL( ( SELECT SUM( ISNULL( AD.VL_LANCTO, 0 ) - ISNULL( AD.VL_DESCONTO, 0 ) )
                 FROM   TADM AD (NOLOCK)
                 WHERE  AD.CD_UNID_NEG = A.CD_UNID_NEG AND
                        AD.DT_LANCTO = A.DT_LANCTO AND
                        AD.CD_CT_CONTABIL = A.CD_CT_CONTABIL AND
                        AD.TP_NATUREZA = A.TP_NATUREZA AND
                        AD.NR_LANCAMENTO = A.NR_LANCAMENTO AND
                        AD.CD_CT_CONTABIL <> @cd_ct_contabil_ir ), 0 ) VL_NOTA
INTO   #TMP_REL_DEMO_CC_NOTA_ADM
FROM   TADM A (NOLOCK), 
       TFAVORECIDO F (NOLOCK),
       TEMPRESA_NAC E (NOLOCK)
WHERE  @cd_unid_neg IN ( A.CD_UNID_NEG, 'X' )AND
       A.CD_FAVORECIDO = F.CD_FAVORECIDO AND
       F.CGC_EMPRESA = E.CGC_EMPRESA AND
       @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
       ( A.DT_PAGTO BETWEEN @dt_inicio AND @dt_fim ) AND
       A.TP_NATUREZA = 'C' AND
       A.TP_LANCAMENTO = 'N' AND
       A.CD_STATUS_ADM IN ( '7', '18' )

INSERT TREL_DEMO_CC ( NR_IDENTIFICADOR, CD_PAGINA, NR_NOTA_FATURA, NR_PROCESSO, CD_BANCO_CLIENTE, CD_BANCO_COMISSARIA, 
                      NR_RELATORIO, VL_IR, VL_NOTA_FATURA, VL_SALDO, VL_ALIQ_IR )
  SELECT @nr_identificador, '2', NR_DOCTO, 'XX', @cd_banco_cliente, @cd_banco_comissaria, @nr_relatorio,
         SUM( VL_IR ) VL_IR, SUM ( VL_NOTA ) VL_NOTA, ( SUM( VL_NOTA ) * ( -1 ) ) VL_SALDO, @vl_aliq_ir
  FROM   #TMP_REL_DEMO_CC_NOTA_ADM
  GROUP BY NR_DOCTO

--Página 3 - Saldo Devedor
SELECT F.NR_PROCESSO
INTO   #TMP_REL_DEMO_CC_DEB_PROC
FROM   TFATURAMENTO_CC F (NOLOCK), 
       TS_FATURA FAT (NOLOCK),
       TPROCESSO P (NOLOCK),        TEMPRESA_NAC E (NOLOCK)
WHERE  F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
       F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
       F.CD_PRODUTO = FAT.CD_PRODUTO AND
       F.NR_PROCESSO = P.NR_PROCESSO AND
       @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
       @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       FAT.IN_CANCELADO = '0' AND
       F.IN_CANCELADO = '0' AND
       F.IN_FATURADO = '1' AND
       FAT.TP_TIPO_FAT = 'F' AND 
       F.CD_FORMA_PAGTO <> 'L' AND
       ( FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim ) AND
       ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND 
       @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
       @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
       ( F.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) )

DECLARE @nr_processo char(18)
DECLARE @vl_zero     float
SELECT @vl_zero = 0

SELECT SPACE(18) NR_PROCESSO, SPACE(2) CD_UNID_NEG, SPACE(2) CD_PRODUTO, SPACE(6) NR_NOTA_FATURA, SPACE(15) CD_REFERENCIA, 
       SPACE(1) CD_IR_FAT, SPACE(6) NR_SOLIC_FAT, SPACE(40) NM_VEICULO, SPACE(3) CD_ITEM, @vl_zero VL_RECEB_NUM, 
       @vl_zero VL_IR, @vl_zero VL_SALDO_DEB
INTO   #TMP_REL_DEMO_CC_DEB 
WHERE  1 = 0

DECLARE c_proc CURSOR FOR 
   SELECT NR_PROCESSO
   FROM   #TMP_REL_DEMO_CC_DEB_PROC

OPEN c_proc
FETCH c_proc INTO @nr_processo
WHILE @@fetch_status  = 0
BEGIN
  INSERT #TMP_REL_DEMO_CC_DEB 
     ( NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, NR_NOTA_FATURA, CD_REFERENCIA, CD_IR_FAT, NR_SOLIC_FAT, NM_VEICULO,
       CD_ITEM, VL_RECEB_NUM, VL_IR, VL_SALDO_DEB )
  SELECT F.NR_PROCESSO, F.CD_UNID_NEG, F.CD_PRODUTO, FAT.NR_NOTA_FATURA, ISNULL( REF.CD_REFERENCIA, '' ) CD_REFERENCIA, H.CD_IR_FAT, F.NR_SOLIC_FAT, 
         CASE ISNULL( P.CD_EMBARCACAO, '' )
            WHEN '' THEN ISNULL( P.NR_VOO, '' )
            ELSE EMB.NM_EMBARCACAO
         END NM_VEICULO,
         F.CD_ITEM, 
         ISNULL( ( SELECT CASE F.CD_ITEM
                             WHEN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) THEN ( ISNULL( FC.VL_ITEM, 0  ) + ISNULL( FC.VL_ASSIST, 0 ) - ISNULL( FC.VL_IR, 0 ) )
                             WHEN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) THEN ( ISNULL( FC.VL_ITEM, 0  ) + ISNULL( FC.VL_ASSIST, 0 ) - ISNULL( FC.VL_IR, 0 ) ) * (-1)
                             WHEN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) THEN ( ISNULL( FC.VL_ITEM, 0  ) + ISNULL( FC.VL_ASSIST, 0 ) - ISNULL( FC.VL_IR, 0 ) ) * (-1)
                          END
                   FROM   TFATURAMENTO_CC FC (NOLOCK)
                   WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                          FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                          ( FC.CD_ITEM IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) OR
                            FC.CD_ITEM IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) OR
                            FC.CD_ITEM IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) ) ), 0 ) VL_RECEB_NUM,
         ISNULL( ( SELECT ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 )
                   FROM   TFATURAMENTO_CC FC (NOLOCK)
                   WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                          FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                          FC.CD_ITEM IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) ), 0 ) VL_IR,
         ISNULL( ( SELECT ISNULL( F.VL_ITEM, 0  ) + ISNULL( F.VL_ASSIST, 0 ) - ISNULL( F.VL_IR, 0 )
                   FROM   TFATURAMENTO_CC FC (NOLOCK)
                   WHERE  FC.NR_PROCESSO = F.NR_PROCESSO AND
                          FC.NR_LANCAMENTO = F.NR_LANCAMENTO AND
                          FC.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) ) * ( -1 ), 0 ) VL_SALDO_DEB
  FROM   TFATURAMENTO_CC F (NOLOCK), 
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK), 
         TEMPRESA_NAC E (NOLOCK), 
         TEMBARCACAO EMB (NOLOCK),
         TCLIENTE_HABILITACAO H (NOLOCK),
         TREF_CLIENTE REF (NOLOCK)
  WHERE  F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
         P.NR_PROCESSO *= REF.NR_PROCESSO AND
         REF.NR_SEQUENCIA = ( SELECT MAX( NR_SEQUENCIA )
                              FROM   TREF_CLIENTE REF2 (NOLOCK)
                              WHERE  REF2.NR_PROCESSO = REF.NR_PROCESSO ) AND
         P.CD_EMBARCACAO *= EMB.CD_EMBARCACAO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO = H.CD_PRODUTO AND
         P.CD_CLIENTE = H.CD_CLIENTE AND
         FAT.IN_CANCELADO = '0' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.TP_TIPO_FAT = 'F' AND 
         F.CD_FORMA_PAGTO <> 'L' AND
         ( FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim ) AND
         ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND 
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         ( F.CD_ITEM IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) OR
           F.CD_ITEM IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) OR
           F.CD_ITEM IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) OR
           F.CD_ITEM IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) OR
           F.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) ) AND
         ( F.NR_PROCESSO = @nr_processo )
  ORDER BY F.NR_PROCESSO, F.CD_ITEM

  FETCH c_proc INTO @nr_processo
END
CLOSE c_proc
DEALLOCATE c_proc

INSERT TREL_DEMO_CC ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_PAGINA, NR_NOTA_FATURA, CD_BANCO_CLIENTE, CD_BANCO_COMISSARIA, NR_PROCESSO, 
                      CD_REFERENCIA, NM_VEICULO, NR_SOLIC_FAT, NR_RELATORIO, VL_RECEB_NUM, VL_IR, VL_NOTA_FATURA, VL_SALDO, VL_ALIQ_IR )
SELECT @nr_identificador NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, '3' CD_PAGINA, NR_NOTA_FATURA, @cd_banco_cliente, @cd_banco_comissaria,
       NR_PROCESSO, CD_REFERENCIA, NM_VEICULO, NR_SOLIC_FAT, @nr_relatorio,
       SUM( VL_RECEB_NUM ) VL_RECEB_NUM, SUM( VL_IR ) VL_IR, 
       CASE MAX( CD_IR_FAT )
         WHEN '0' THEN SUM( VL_RECEB_NUM ) - SUM( VL_SALDO_DEB )
         WHEN '1' THEN SUM( VL_RECEB_NUM ) + SUM( VL_IR ) - SUM( VL_SALDO_DEB )
         WHEN '2' THEN SUM( VL_RECEB_NUM ) - SUM( VL_IR ) - SUM( VL_SALDO_DEB )
       END VL_NOTA_FATURA,
       SUM( VL_SALDO_DEB ) VL_SALDO, @vl_aliq_ir
FROM   #TMP_REL_DEMO_CC_DEB
GROUP BY CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NR_NOTA_FATURA, CD_REFERENCIA, NM_VEICULO, NR_SOLIC_FAT

DROP TABLE #TMP_REL_DEMO_CC_CRED
DROP TABLE #TMP_REL_DEMO_CC_CRED_PROC
DROP TABLE #TMP_REL_DEMO_CC_DEB
DROP TABLE #TMP_REL_DEMO_CC_DEB_PROC
DROP TABLE #TMP_REL_DEMO_CC_NOTAS_OP
DROP TABLE #TMP_REL_DEMO_CC_NOTAS_OP_PROC
DROP TABLE #TMP_REL_DEMO_CC_NOTA_ADM



GO
