USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [sp_liq_grupo] ( @dt_liquidacao datetime, @nr_grupo_liquidacao char(3), @cd_forma_pagto char(1), 
                                @cd_banco char(3), @cd_unid_neg char(2), @vl_desconto float, @pc_desconto float, 
                                @vl_acrescimo float, @pc_acrescimo float ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @dt_liquidacao datetime
DECLARE @nr_grupo_liquidacao char(3)
DECLARE @cd_forma_pagto char(1)
DECLARE @cd_banco char(3)
DECLARE @cd_unid_neg char(2)
DECLARE @vl_desconto float
DECLARE @pc_desconto float
DECLARE @vl_acrescimo float
DECLARE @pc_acrescimo float 

SELECT @dt_liquidacao = CONVERT( datetime, '19/02/2001', 103 )
SELECT @nr_grupo_liquidacao = '001'
SELECT @cd_forma_pagto = '1'
SELECT @cd_banco = '001'
SELECT @cd_unid_neg = '01'
SELECT @vl_desconto = 0
SELECT @pc_desconto = 0
SELECT @vl_acrescimo = 0
SELECT @pc_acrescimo = 0

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo        char(18)
DECLARE @cd_produto         char(2)
DECLARE @nr_liquidacao      char(6)
DECLARE @nr_solicitacao     char(6)
DECLARE @cd_usuario         char(4)
DECLARE @tp_liquidacao      char(1)
DECLARE @tp_natureza        char(1)
DECLARE @vl_fatura          float
DECLARE @vl_liquidacao      float
DECLARE @vl_tot_liq         float
DECLARE @nr_ult_lanc        int
DECLARE @ult_lanc           char(6)
DECLARE @cd_ct_contabil     char(10)
DECLARE @cd_acesso          char(1)
DECLARE @cd_aux             char(3)
DECLARE @cd_grupo           char(3)
DECLARE @cd_cliente         char(5)
DECLARE @cd_favorecido      char(5)
DECLARE @nr_ult_lanc_fat_cc int
DECLARE @ult_lanc_fat_cc    char(4)
DECLARE @nr_solic_fat       char(6)
DECLARE @cd_item            char(3)

DECLARE @nDesconto float
DECLARE @nAcrescimo float

DECLARE @nr_lancamento char(3)
DECLARE @cd_ct_contabil_desc char(10)
DECLARE @cd_ct_contabil_acresc char(10)
DECLARE @tipo_contabil char(1)

SELECT @vl_tot_liq = 0
SELECT @dt_liquidacao = CONVERT( datetime, CONVERT( char(10), @dt_liquidacao, 103 ), 103 )
SELECT @cd_grupo = ''
SELECT @cd_cliente = ''

-- Definindo Conta Contábil / Favorecido
IF ( SELECT COUNT( DISTINCT( P.CD_CLIENTE ) )
     FROM   TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
     WHERE  FP.NR_PROCESSO = P.NR_PROCESSO AND
            P.CD_CLIENTE = E.CD_EMPRESA AND
            FP.DT_LIQUIDACAO = @dt_liquidacao AND
            FP.NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
            FP.CD_UNID_NEG = @cd_unid_neg ) > 1
BEGIN
  SELECT @cd_grupo = ( 
  SELECT DISTINCT( E.CD_GRUPO )
  FROM   TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
  WHERE  FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         FP.DT_LIQUIDACAO = @dt_liquidacao AND
         FP.NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
         FP.CD_UNID_NEG = @cd_unid_neg )
  SELECT @cd_cliente = 'X'
END
ELSE
BEGIN
  SELECT @cd_grupo = E.CD_GRUPO
  FROM   TS_FATURA_PROCESSO FP, TPROCESSO P, TEMPRESA_NAC E
  WHERE  FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         FP.DT_LIQUIDACAO = @dt_liquidacao AND
         FP.NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
         FP.CD_UNID_NEG = @cd_unid_neg

  IF ISNULL( @cd_grupo, '' ) = '' SELECT @cd_grupo = 'X'

  SELECT @cd_cliente = (
  SELECT DISTINCT( P.CD_CLIENTE )
  FROM   TS_FATURA_PROCESSO FP, TPROCESSO P
  WHERE  FP.NR_PROCESSO = P.NR_PROCESSO AND
         FP.DT_LIQUIDACAO = @dt_liquidacao AND
         FP.NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
         FP.CD_UNID_NEG = @cd_unid_neg )
END

SELECT @cd_favorecido = ''

IF @cd_grupo <> 'X'
BEGIN
  SELECT @cd_ct_contabil = CD_CT_CONTABIL, 
         @cd_acesso      = CD_ACESSO, 
         @cd_aux         = CD_AUX
  FROM   TEMPRESA_NAC
  WHERE  CGC_EMPRESA IN ( SELECT CNPJ_GRUPO
                          FROM   TGRUPO
                          WHERE  CD_GRUPO = @cd_grupo )
  SELECT @cd_favorecido = ISNULL( F.CD_FAVORECIDO, '' )
  FROM   TFAVORECIDO F, TGRUPO G
  WHERE  G.CNPJ_GRUPO = F.CGC_EMPRESA AND
         G.CD_GRUPO = @cd_grupo AND
         ISNULL( G.CNPJ_GRUPO, '' ) <> '' AND
         ISNULL( F.CGC_EMPRESA, '' ) <> ''
END
ELSE
BEGIN
  SELECT @cd_ct_contabil = CD_CT_CONTABIL, 
         @cd_acesso      = CD_ACESSO, 
         @cd_aux         = CD_AUX
  FROM   TEMPRESA_NAC
  WHERE  CD_EMPRESA = @cd_cliente

  SELECT @cd_favorecido = ISNULL( F.CD_FAVORECIDO, '' )
  FROM   TFAVORECIDO F, TEMPRESA_NAC E
  WHERE  E.CGC_EMPRESA = F.CGC_EMPRESA AND
         E.CD_EMPRESA = @cd_cliente AND
         ISNULL( E.CGC_EMPRESA, '' ) <> '' AND
         ISNULL( F.CGC_EMPRESA, '' ) <> ''
END

DECLARE c_liq CURSOR FOR
  SELECT CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, VL_FATURA, VL_LIQUIDACAO
  FROM   TS_FATURA_PROCESSO
  WHERE  DT_LIQUIDACAO = @dt_liquidacao AND
         NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao AND
         CD_UNID_NEG = @cd_unid_neg

OPEN c_liq 

FETCH c_liq INTO 
  @cd_produto, @nr_solicitacao, @nr_processo, @vl_fatura, @vl_liquidacao

WHILE @@fetch_status = 0
BEGIN

  SELECT @nr_liquidacao = NULL
  SELECT @nr_liquidacao = NR_LIQUIDACAO
  FROM   TLIQUIDACAO
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @nr_liquidacao = ISNULL( @nr_liquidacao, '000000' )
  SELECT @nr_liquidacao = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_liquidacao ) + 1 ) ), 6 )

  SELECT @cd_usuario = CD_USUARIO
  FROM   TUSUARIO
  WHERE  AP_USUARIO  = SUSER_NAME()

  IF @vl_fatura > 0
  BEGIN
    SELECT @tp_liquidacao = 'P'
    SELECT @vl_liquidacao = ROUND( @vl_liquidacao + @vl_fatura, 2 )
    SELECT @vl_tot_liq = ROUND( @vl_tot_liq + ( @vl_liquidacao * (-1) ), 2 )
  END
  ELSE
  BEGIN
    SELECT @tp_liquidacao = 'R'
    SELECT @vl_liquidacao = ROUND( @vl_liquidacao + ( @vl_fatura * (-1) ), 2 )
    SELECT @vl_tot_liq = ROUND( @vl_tot_liq + @vl_liquidacao, 2 )
  END

  IF NOT EXISTS ( SELECT * 
                  FROM   TLIQUIDACAO 
                  WHERE  CD_UNID_NEG = @cd_unid_neg AND
                         CD_PRODUTO = @cd_produto AND
                         NR_SOLIC_FAT = @nr_solicitacao AND
                         NR_PROCESSO = @nr_processo AND
                         IN_CANCELADO = '0' )
  BEGIN
    IF @pc_desconto > 0 
       SELECT @vl_desconto  = '0'
    IF @pc_acrescimo > 0 
       SELECT @vl_acrescimo = '0'
    
    INSERT TLIQUIDACAO 
       ( NR_PROCESSO, NR_LIQUIDACAO, DT_LIQUIDACAO, CD_USUARIO, CD_FORMA_PAGTO, CD_BANCO, 
         CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT, TP_LIQUIDACAO, VL_LIQUIDACAO, NR_GRUPO_LIQUIDACAO, VL_DESCONTO, VL_PERC_DESCONTO, VL_ACRESCIMO, VL_PERC_ACRESCIMO )
    VALUES ( @nr_processo, @nr_liquidacao, @dt_liquidacao, @cd_usuario, 
             CASE @cd_forma_pagto
                WHEN '0' THEN '$'
                WHEN '1' THEN 'C'
                WHEN '2' THEN 'D'
                WHEN '3' THEN 'L'
             END, @cd_banco, @cd_unid_neg, @cd_produto, @nr_solicitacao, @tp_liquidacao, @vl_liquidacao, @nr_grupo_liquidacao, @vl_desconto, @pc_desconto, @vl_acrescimo, @pc_acrescimo )
  END

  EXEC sp_atualiza_liquidacao @nr_processo, @nr_liquidacao

  FETCH c_liq INTO 
    @cd_produto, @nr_solicitacao, @nr_processo, @vl_fatura, @vl_liquidacao

END

CLOSE c_liq
DEALLOCATE c_liq

----------------------
----------------------
SELECT @nDesconto = 0
SELECT @nAcrescimo = 0

IF @pc_desconto > 0 
   SELECT @nDesconto = @vl_tot_liq - ((@vl_tot_liq / 100) * @pc_desconto)

IF @pc_acrescimo > 0
   SELECT @nAcrescimo = @vl_tot_liq + ((@vl_tot_liq / 100) * @pc_acrescimo)

IF @vl_desconto > 0
   SELECT @nDesconto = @vl_desconto
IF @vl_acrescimo > 0 
   SELECT @nAcrescimo = @vl_acrescimo

SELECT @vl_tot_liq = @vl_tot_liq - @nDesconto + @nAcrescimo

-- Deverá ter Conta Contábil para gerar movimento no Caixa
IF ( ISNULL( @cd_ct_contabil, '' ) = '' ) RETURN(2)

IF ( ROUND( @vl_tot_liq, 2 ) < 0 ) AND ( @cd_forma_pagto IN ( '1', '2' ) ) -- Pagamento
BEGIN
  -- Deverá ter Favorecido para gerar Pagamento
  IF ( ISNULL( @cd_favorecido, '' ) = '' ) AND
     ( ROUND( @vl_tot_liq, 2 ) ) <> 0 RETURN(1)

  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000' ) ) ) + 1
  FROM   TADM 
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         DT_LANCTO = @dt_liquidacao

  SELECT @ult_lanc = RIGHT( '000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 3 )

  INSERT TADM ( CD_UNID_NEG, DT_LANCTO, CD_CT_CONTABIL, TP_NATUREZA, NR_LANCAMENTO, CD_FAVORECIDO, CD_ACESSO, CD_AUX, CD_BANCO, 
                VL_LANCTO, CD_STATUS_ADM, CD_USUARIO_SOLIC, IN_SOLICITADO, DT_VENCTO, CD_STATUS_CHEQUE, IN_TRANSF_FIN,
                TX_HISTORICO, TP_LANCAMENTO, NR_GRUPO_LIQUIDACAO, IN_OPERACIONAL )
  VALUES( @cd_unid_neg, @dt_liquidacao, @cd_ct_contabil, 'D', @ult_lanc, @cd_favorecido, @cd_acesso, @cd_aux, @cd_banco,
          CONVERT( numeric( 14, 2 ), ( @vl_tot_liq * (-1) ) ), '6', @cd_usuario, '1', @dt_liquidacao, '0', '0', 
          CASE @tp_natureza 
            WHEN 'D' THEN 'DEVOLUÇÃO A CLIENTE'
            WHEN 'C' THEN 'S/REMESSA'
          END, 'C', @nr_grupo_liquidacao, '1' )
END
ELSE
BEGIN
  IF ( @vl_tot_liq < 0 ) SELECT @tp_natureza = 'D'
  ELSE SELECT @tp_natureza = 'C'

  -- Inclusão no financeiro pelo total
  IF ( @vl_tot_liq <> 0 )
  BEGIN
    SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
    FROM   TCAIXA 
    WHERE  DT_MOVIMENTO = @dt_liquidacao 

    SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

    INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,
                    IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO,
                    CD_CT_CONTABIL, IN_RESTITUI, CD_ACESSO, CD_AUX )
    VALUES (        '01', @dt_liquidacao, @ult_lanc, @cd_unid_neg, 'C', '4', '0', 
                    '1', CASE @tp_natureza 
                           WHEN 'D' THEN 'DEVOLUÇÃO A CLIENTE'
                           WHEN 'C' THEN 'S/REMESSA'
                         END, CONVERT( numeric( 14, 2 ), ABS( @vl_tot_liq ) ), 
                    CASE @cd_forma_pagto                      WHEN '0' THEN '$'
                      WHEN '1' THEN 'C'
                      WHEN '2' THEN 'D'
                      WHEN '3' THEN 'L'
                    END, @tp_natureza, @cd_banco, @cd_ct_contabil, '0', @cd_acesso, @cd_aux )
  END

  DECLARE c_fat CURSOR FOR
    SELECT NR_PROCESSO, CD_FORMA_PAGTO, 
           CASE TP_LIQUIDACAO
             WHEN 'P' THEN VL_LIQUIDACAO * (-1)
             ELSE VL_LIQUIDACAO
           END AS VL_LIQUIDACAO, NR_SOLIC_FAT
    FROM   TLIQUIDACAO
    WHERE  DT_LIQUIDACAO = @dt_liquidacao AND
           NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao /*AND
           TP_LIQUIDACAO = 'P'*/

  OPEN c_fat
  FETCH c_fat INTO @nr_processo, @cd_forma_pagto, @vl_liquidacao, @nr_solic_fat
  WHILE @@fetch_status = 0 
  BEGIN
    IF @vl_liquidacao < 0
      SELECT @cd_item = ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS )
    ELSE 
      SELECT @cd_item = ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS )

    IF NOT EXISTS( SELECT * 
                   FROM   TFATURAMENTO_CC
                   WHERE  NR_PROCESSO = @nr_processo AND
                          CD_ORIGEM_LANC = '4' AND 
                          NR_SOLIC_FAT = @nr_solic_fat AND
                          CD_ITEM = @cd_item )
    BEGIN
      -- Deverá ter Favorecido para gerar Pagamento
      IF ( ISNULL( @cd_favorecido, '' ) = '' ) AND
         ( ROUND( @vl_tot_liq, 2 ) ) <> 0 RETURN(1)

      SELECT @nr_ult_lanc_fat_cc = convert( int, MAX( ISNULL( NR_LANCAMENTO, '0000' ) ) ) + 1
      FROM   TFATURAMENTO_CC 
      WHERE  NR_PROCESSO = @nr_processo

      SELECT @ult_lanc_fat_cc = RIGHT( '0000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc_fat_cc, 1 ) ), 4 )

      INSERT INTO TFATURAMENTO_CC 
        ( NR_PROCESSO, NR_LANCAMENTO, CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,
          CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, IN_FATURADO, IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO )
      VALUES ( @nr_processo, @ult_lanc_fat_cc, SUBSTRING( @nr_processo, 1, 2 ), SUBSTRING( @nr_processo, 3, 2 ), @nr_solic_fat, @dt_liquidacao, @cd_usuario, @cd_favorecido, @cd_banco, 
               @cd_item, @cd_forma_pagto, '4', ABS( @vl_liquidacao ), '1', '0', '0', '0', '0' )
    END

    FETCH c_fat INTO @nr_processo, @cd_forma_pagto, @vl_liquidacao, @nr_solic_fat
  END
  CLOSE c_fat
  DEALLOCATE c_fat
END

-------------------
-------------------

SELECT @nr_lancamento = ISNULL(MAX(NR_LANCAMENTO),0)
  FROM TCAIXA
  WHERE CD_COLIGADA = '01' AND 
        DT_MOVIMENTO = @dt_liquidacao

SELECT @cd_ct_contabil_desc = CD_CT_CONTABIL_DESCONTO, @cd_ct_contabil_acresc = CD_CT_CONTABIL_JUROS,
       @tipo_contabil = CD_SISTEMA_CONTABIL
  FROM TPARAMETROS 

SELECT @cd_acesso = ''
SELECT @cd_aux = ''

IF @tipo_contabil <> '0' 
BEGIN
  SELECT @cd_acesso =  ISNULL(CD_ACESSO,''), @cd_aux = ISNULL(CD_AUX,'')
    FROM TCT_CONTABIL
    WHERE CD_CT_CONTABIL  = @cd_ct_contabil_desc and year(@dt_liquidacao) = ANO_CONTA
END

IF @nDesconto > 0 
BEGIN
  SELECT @nr_lancamento = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 6 )
  INSERT INTO TCAIXA
     (CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_FAVORECIDO, CD_UNID_NEG, CD_CT_CONTABIL, CD_ACESSO, CD_AUX, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_NATUREZA, TP_PAGAMENTO, CD_BANCO )
  VALUES
     ('01', @dt_liquidacao, @nr_lancamento, @cd_favorecido, @cd_unid_neg, @cd_ct_contabil_desc, @cd_acesso, @cd_aux, 'D', '0', '0', '0', @vl_desconto, 'D', 
        CASE @cd_forma_pagto
           WHEN '0' THEN '$'
           WHEN '1' THEN 'C'
           WHEN '2' THEN 'D'
           WHEN '3' THEN 'L'
        END, @cd_banco )
END

IF @nAcrescimo > 0
BEGIN
  SELECT @nr_lancamento = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 6 )
  INSERT INTO TCAIXA
     (CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_FAVORECIDO, CD_UNID_NEG, CD_CT_CONTABIL, CD_ACESSO, CD_AUX, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_NATUREZA, TP_PAGAMENTO, CD_BANCO )
  VALUES
     ('01', @dt_liquidacao, @nr_lancamento, @cd_favorecido, @cd_unid_neg, @cd_ct_contabil_desc, @cd_acesso, @cd_aux, 'C', '0', '0', '0', @vl_desconto, 'C', 
        CASE @cd_forma_pagto
           WHEN '0' THEN '$'
           WHEN '1' THEN 'C'
           WHEN '2' THEN 'D'
           WHEN '3' THEN 'L'
        END, @cd_banco )
END

RETURN(0) 








GO
