USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_calc_dias_cntr] ( @nr_processo char(18), @nr_cntr char(20), @nr_dias_corridos int OUTPUT, @nr_dias_cobrar int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo      char(18)
DECLARE @nr_cntr          char(20)
DECLARE @nr_dias_corridos int
DECLARE @nr_dias_cobrar   int

SELECT @nr_processo = '0101IM-1341-12'
SELECT @nr_cntr = 'MSCU7843066'

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

DECLARE @dt_ent            datetime
DECLARE @dt_devolucao_cntr datetime
DECLARE @dt_demurrage      datetime
DECLARE @dt_inicio         datetime
DECLARE @dt_fim            datetime
DECLARE @dt_temp           datetime
DECLARE @nr_free_time      int
DECLARE @nr_dias           int
DECLARE @tp_dias           char(1)

SELECT @dt_ent = DT_ENT,
       @dt_devolucao_cntr = DT_DEVOLUCAO_CNTR,
       @nr_free_time = ISNULL( NR_FREE_TIME, 0 ),
       @tp_dias = TP_DIAS
FROM   TPROCESSO_CNTR
WHERE  NR_PROCESSO = @nr_processo AND
       NR_CNTR = @nr_cntr

IF @dt_devolucao_cntr IS NULL
BEGIN
  SELECT @dt_inicio = @dt_ent
  SELECT @dt_fim    = CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
END
ELSE
BEGIN
  SELECT @dt_inicio = @dt_ent
  SELECT @dt_fim    = @dt_devolucao_cntr
END

IF @dt_inicio > @dt_fim
  --/*
  RETURN 0
   --*/SELECT 0
   
-- Calculando Dt. da Demurrage
SELECT @nr_dias = 0
IF @tp_dias = '3'
  SELECT @dt_temp = CONVERT(DATETIME, CONVERT(VARCHAR, @dt_ent, 103), 103)
ELSE
  SELECT @dt_temp = CONVERT(DATETIME, CONVERT(VARCHAR, @dt_ent, 103), 103) + 1

SELECT @dt_demurrage = @dt_ent

--SELECT @tp_dias, @nr_free_time
--RETURN

WHILE @nr_dias <> @nr_free_time
BEGIN
  IF @tp_dias = '2'
  BEGIN
    IF ( DATEPART( dw, @dt_temp ) NOT IN ( 1, 7 ) ) AND -- Sábado e Domingo
       @dt_temp NOT IN ( SELECT DT_FERIADO
                         FROM   TFERIADO ) -- Feriado
      SELECT @nr_dias = @nr_dias + 1 
  END
  ELSE
  BEGIN
    SELECT @nr_dias = @nr_dias + 1 
  END
  
  SELECT @dt_temp = CONVERT(DATETIME, CONVERT(VARCHAR, @dt_temp, 103), 103) + 1
END

SELECT @dt_demurrage = @dt_temp - 1

-- Calcular Dias Corridos e a Cobrar
SELECT @nr_dias_corridos = 0
SELECT @nr_dias_cobrar   = 0

-- Contar dias e Descontar Sábados, Domingos e Feriados dos Dias Corridos/Cobrar quando necessário
SELECT @dt_temp = CONVERT(DATETIME, CONVERT(VARCHAR, @dt_inicio, 103), 103) + 1
WHILE @dt_temp <> ( @dt_fim + 1 )
BEGIN
  IF DATEPART( dw, @dt_temp ) IN ( 1, 7 ) -- Sábado e Domingo
  BEGIN
    IF @tp_dias <> '2'
    BEGIN
      SELECT @nr_dias_corridos = @nr_dias_corridos + 1
      IF @dt_temp > @dt_demurrage
        SELECT @nr_dias_cobrar = @nr_dias_cobrar + 1
    END
  END
  ELSE 
  BEGIN
    IF @dt_temp IN ( SELECT DT_FERIADO
                     FROM   TFERIADO ) -- Feriado
    BEGIN
      IF @tp_dias <> '2'
      BEGIN
        SELECT @nr_dias_corridos = @nr_dias_corridos + 1
        IF @dt_temp > @dt_demurrage
          SELECT @nr_dias_cobrar = @nr_dias_cobrar + 1
      END
    END
    ELSE -- Dia Normal
    BEGIN 
      SELECT @nr_dias_corridos = @nr_dias_corridos + 1
      IF @dt_temp > @dt_demurrage
        SELECT @nr_dias_cobrar = @nr_dias_cobrar + 1
    END
  END

  SELECT @dt_temp = CONVERT(DATETIME, CONVERT(VARCHAR, @dt_temp, 103), 103) + 1
END

IF @tp_dias = '3'
  SELECT @nr_dias_corridos = @nr_dias_corridos + 1

GO
