USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Verifica a integridade dos nas tabelas de estagio de processo da internet com a base local */    
CREATE PROCEDURE [sp_web_verifica_pedido](@nrAnoProc int = 0) AS    
/*    
SET XACT_ABORT ON    
BEGIN TRAN    
DECLARE @nrAnoProc int    
--*/    
SET NOCOUNT ON    
DECLARE @nrRowProc int    
    
IF ISNULL(@nrAnoProc, 0) = 0 SET @nrAnoProc = YEAR(GETDATE())-2    
SET @nrRowProc = 0    
    
/* IMPORTAÇÃO */    
INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, CD_EMPRESA, NM_TABELA)    
SELECT PO.NR_PROCESSO, 'XXX', PO.CD_EMPRESA, 'TPO'    
FROM TPO PO (NOLOCK)    
WHERE YEAR(PO.DT_ABERTURA) >= @nrAnoProc    
  AND NOT EXISTS (SELECT *
                  FROM MYINDAIA.DBO.TPO (NOLOCK)
                  WHERE MYINDAIA.DBO.TPO.NR_PROCESSO = PO.NR_PROCESSO
                    AND MYINDAIA.DBO.TPO.CD_EMPRESA  = PO.CD_EMPRESA)

INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, NR_PARCIAL, CD_EMPRESA, NM_TABELA)    
SELECT DISTINCT PO.NR_PROCESSO, PO.NR_ITEM, PO.NR_PARCIAL, PO.CD_EMPRESA, 'TPO_ITEM'    
FROM TPO P (NOLOCK)
   INNER JOIN TPO_ITEM PO (NOLOCK) ON PO.NR_PROCESSO = P.NR_PROCESSO
                                  AND PO.CD_EMPRESA  = P.CD_EMPRESA
WHERE YEAR(P.DT_ABERTURA) >= @nrAnoProc
  AND NOT EXISTS (SELECT *
                  FROM MYINDAIA.DBO.TPO_ITEM (NOLOCK)
                  WHERE MYINDAIA.DBO.TPO_ITEM.NR_PROCESSO = PO.NR_PROCESSO
                    AND MYINDAIA.DBO.TPO_ITEM.NR_ITEM     = PO.NR_ITEM
                    AND MYINDAIA.DBO.TPO_ITEM.NR_PARCIAL  = PO.NR_PARCIAL
                    AND MYINDAIA.DBO.TPO_ITEM.CD_EMPRESA  = PO.CD_EMPRESA)
    
INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, CD_EMPRESA, NM_TABELA)    
SELECT DISTINCT PO.NR_PROCESSO, 'XXX', PO.CD_EMPRESA, 'TFLP_PO'
FROM TPO P (NOLOCK)
   INNER JOIN TFLP_PO PO (NOLOCK) ON PO.NR_PROCESSO = P.NR_PROCESSO
                                 AND PO.CD_EMPRESA  = P.CD_EMPRESA
WHERE YEAR(P.DT_ABERTURA) >= @nrAnoProc    
  AND NOT EXISTS (SELECT *
                  FROM MYINDAIA.DBO.TFLP_PO (NOLOCK)
                  WHERE MYINDAIA.DBO.TFLP_PO.NR_PROCESSO = PO.NR_PROCESSO
                    AND MYINDAIA.DBO.TFLP_PO.CD_EMPRESA  = PO.CD_EMPRESA)
    
INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, NR_PARCIAL, CD_EMPRESA, NM_TABELA)    
SELECT DISTINCT PO.NR_PROCESSO, PO.NR_ITEM, PO.NR_PARCIAL, PO.CD_EMPRESA, 'TFLP_PO_ITEM'
FROM TPO P (NOLOCK)
   INNER JOIN TFLP_PO_ITEM PO (NOLOCK) ON PO.NR_PROCESSO = P.NR_PROCESSO
                                      AND PO.CD_EMPRESA  = P.CD_EMPRESA
WHERE YEAR(P.DT_ABERTURA) >= @nrAnoProc
  AND NOT EXISTS (SELECT *
                  FROM MYINDAIA.DBO.TFLP_PO_ITEM (NOLOCK)
                  WHERE MYINDAIA.DBO.TFLP_PO_ITEM.NR_PROCESSO = PO.NR_PROCESSO
                    AND MYINDAIA.DBO.TFLP_PO_ITEM.NR_ITEM     = PO.NR_ITEM
                    AND MYINDAIA.DBO.TFLP_PO_ITEM.CD_EMPRESA  = PO.CD_EMPRESA)
    
/* EXPORTAÇÃO   
INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, NM_TABELA)    
SELECT PE.NR_PROCESSO, 'XXX', 'TPE'    
FROM TPE PE (NOLOCK)    
WHERE YEAR(PE.DT_REGISTRO_PEDIDO) >= @nrAnoProc    
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPE (NOLOCK) WHERE MYINDAIA.DBO.TPE.NR_PROCESSO = PE.NR_PROCESSO)    
    
INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, NM_TABELA)    
SELECT DISTINCT PE.NR_PROCESSO, PE.NR_ITEM, 'TPE_ITEM'    
FROM TPE P (NOLOCK), TPE_ITEM PE (NOLOCK)    
WHERE YEAR(P.DT_REGISTRO_PEDIDO) >= @nrAnoProc    
  AND P.NR_PROCESSO = PE.NR_PROCESSO    
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPE_ITEM (NOLOCK) WHERE MYINDAIA.DBO.TPE_ITEM.NR_PROCESSO = PE.NR_PROCESSO AND NR_ITEM = PE.NR_ITEM)    
*/      
/**********************************************************/    
/*     VERIFICAÇÃO DE EVENTOS PREENCHIDOS NO FOLLOWUP     */    
/**********************************************************/    
  
INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, CD_EMPRESA, NM_TABELA)    
SELECT DISTINCT FP.NR_PROCESSO, 'XXX', FP.CD_EMPRESA, 'TFLP_PO'
FROM MYINDAIA.DBO.TFLP_PO FP (NOLOCK)
  INNER JOIN TFLP_PO FU (NOLOCK) ON (FU.NR_PROCESSO = FP.NR_PROCESSO
                                 AND FU.CD_EVENTO   = FP.CD_EVENTO
                                 AND FU.CD_EMPRESA  = FP.CD_EMPRESA)
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = FU.NR_PROCESSO
                             AND PO.CD_EMPRESA  = FU.CD_EMPRESA)
WHERE YEAR(PO.DT_ABERTURA) >= @nrAnoProc    
  AND (ISNULL(FP.DT_REALIZACAO, '') <> ISNULL(FU.DT_REALIZACAO, '')    
    OR ISNULL(FP.IN_APLICAVEL, '') <> ISNULL(FU.IN_APLICAVEL, ''))    
    
INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, NR_PARCIAL, CD_EMPRESA, NM_TABELA)    
SELECT DISTINCT FP.NR_PROCESSO, FP.NR_ITEM, FP.NR_PARCIAL, FP.CD_EMPRESA, 'TFLP_PO_ITEM'
FROM MYINDAIA.DBO.TFLP_PO_ITEM FP (NOLOCK)    
  INNER JOIN TFLP_PO_ITEM FU (NOLOCK) ON (FU.NR_PROCESSO = FP.NR_PROCESSO
                                      AND FU.NR_ITEM     = FP.NR_ITEM
                                      AND FU.NR_PARCIAL  = FP.NR_PARCIAL
                                      AND FU.CD_EVENTO   = FP.CD_EVENTO
                                      AND FU.CD_EMPRESA  = FP.CD_EMPRESA)
  INNER JOIN TPO PO (NOLOCK) ON (PO.NR_PROCESSO = FU.NR_PROCESSO
                             AND PO.CD_EMPRESA  = FU.CD_EMPRESA)
WHERE YEAR(PO.DT_ABERTURA) >= @nrAnoProc    
  AND (ISNULL(FP.DT_REALIZACAO, '') <> ISNULL(FU.DT_REALIZACAO, '')    
    OR ISNULL(FP.IN_APLICAVEL, '') <> ISNULL(FU.IN_APLICAVEL, ''))    
    
-- verifica se esta calculada a previsão de mercadoria na fábrica    
INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, NR_PARCIAL, CD_EMPRESA, NM_TABELA)    
SELECT FU.NR_PROCESSO, FU.NR_ITEM, NR_PARCIAL, FU.CD_EMPRESA, 'TFLP_PO_ITEM'
FROM MYINDAIA.DBO.TFLP_PO_ITEM FU (NOLOCK)
  INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_REFERENCIA = FU.NR_PROCESSO
                                   AND PR.CD_CLIENTE    = FU.CD_EMPRESA)    
  INNER JOIN TCLIENTE_HABILITACAO CH (NOLOCK) ON (PR.CD_CLIENTE  = CH.CD_CLIENTE
                                              AND PR.CD_UNID_NEG = CH.CD_UNID_NEG
                                              AND PR.CD_PRODUTO  = CH.CD_PRODUTO)    
WHERE FU.CD_EVENTO = '164'    
  AND FU.DT_PREVISTA IS NULL    
  AND ISNULL(FU.IN_APLICAVEL, '1') = '1'    
  AND YEAR(PR.DT_ABERTURA) >= @nrAnoProc    
  AND ISNULL(PR.IN_CANCELADO,'0') = '0'    
  AND ISNULL(CH.IN_AUTO_MERC_FABR,'0') = '1'    
    
--compacta os registros selecionados    
SELECT DISTINCT NR_REFERENCIA, NR_ITEM, NR_PARCIAL, CD_EMPRESA, NM_TABELA    
INTO #TMP_PEDIDO    
FROM TATZ_MYINDAIA_PEDIDO (NOLOCK)    
    
TRUNCATE TABLE TATZ_MYINDAIA_PEDIDO    
    
INSERT INTO TATZ_MYINDAIA_PEDIDO (NR_REFERENCIA, NR_ITEM, NR_PARCIAL, CD_EMPRESA, NM_TABELA)    
SELECT NR_REFERENCIA, NR_ITEM, NR_PARCIAL, CD_EMPRESA, NM_TABELA
FROM #TMP_PEDIDO    
--numero de linhas recuperadas no cadastro    
SET @nrRowProc = @nrRowProc + @@rowcount    
    
DROP TABLE #TMP_PEDIDO    
    
PRINT 'Registros encontrados: '+CAST(@nrRowProc as varchar)    
RETURN(@nrRowProc)    
SET NOCOUNT OFF    
/*    
ROLLBACK TRAN    
SET XACT_ABORT ON    
--*/  
  

GO
