USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_imp_liquidacao] ( @dt_movimento datetime, @cd_unid_neg char(2), 
                                     @cd_coligada char(2),   @qt_imp int output ) AS
DECLARE @nr_ult_lanc       int
DECLARE @ult_lanc          char(6)
DECLARE @cd_item           char(3)
DECLARE @cd_item_receb_sd  char(3)
DECLARE @cd_item_pagto_sd  char(3)
DECLARE @cd_item_ext_receb char(3)
DECLARE @cd_item_ext_pagto char(3)
DECLARE @nr_processo       char(18)
DECLARE @cd_forma_pagto    char(1)
DECLARE @cd_banco          char(3)
DECLARE @tp_liquidacao     char(1)
DECLARE @vl_liquidacao     float
DECLARE @in_cancelado      char(1)
DECLARE @in_transferido    char(1)
DECLARE @dt_solic_ch       char(10)
DECLARE @nr_solic_ch       char(3)
DECLARE @nr_cheque         char(6)
DECLARE @cd_favorecido     char(5)

SELECT @qt_imp  = 0
SELECT @cd_item_receb_sd  = CD_ITEM_RECEB_SD, 
       @cd_item_pagto_sd  = CD_ITEM_PAGTO_SD,
       @cd_item_ext_receb = CD_ITEM_EXT_RECEB, 
       @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO
FROM   TPARAMETROS

DECLARE c_imp CURSOR FOR 
   SELECT NR_PROCESSO, CD_FORMA_PAGTO, CD_BANCO, TP_LIQUIDACAO, VL_LIQUIDACAO, IN_CANCELADO,
          IN_TRANSFERIDO, DT_SOLIC_CH, NR_SOLIC_CH
   FROM   TLIQUIDACAO (TABLOCK HOLDLOCK)
   WHERE (IN_TRANSFERIDO = '0' AND 
          IN_CANCELADO = '0' ) OR
         (IN_TRANSF_CANC = '0' AND
          IN_CANCELADO = '1'   AND
          IN_TRANSFERIDO = '1' ) AND
          DT_LIQUIDACAO <= @dt_movimento

OPEN  c_imp
FETCH c_imp INTO 
  @nr_processo, @cd_forma_pagto, @cd_banco, @tp_liquidacao, @vl_liquidacao, @in_cancelado, 
  @in_transferido, @dt_solic_ch, @nr_solic_ch
WHILE @@fetch_status <> -1
BEGIN
   IF @in_cancelado = '0'
     UPDATE TLIQUIDACAO
       SET IN_TRANSFERIDO = '1', 
           DT_TRANSFERENCIA = CONVERT(datetime, GETDATE(), 103 )
       WHERE  CURRENT OF c_imp
   ELSE
     UPDATE TLIQUIDACAO
       SET IN_TRANSF_CANC = '1', 
           DT_TRANSF_CANC = CONVERT(datetime, GETDATE(), 103 )
       WHERE  CURRENT OF c_imp
   IF @in_cancelado = '0'
   BEGIN
     IF @tp_liquidacao = 'R' 
        SELECT @cd_item = @cd_item_receb_sd
     ELSE
        SELECT @cd_item = @cd_item_pagto_sd
   END
   ELSE
   BEGIN
     IF @tp_liquidacao = 'R' 
        SELECT @cd_item = @cd_item_ext_receb
     ELSE
        SELECT @cd_item = @cd_item_ext_pagto
   END
   SELECT @nr_cheque     = NR_CHEQUE,
          @cd_favorecido = CD_FAVORECIDO
     FROM TSOLIC_CHEQUE
     WHERE DT_SOLIC_CH = @dt_solic_ch AND 
           NR_SOLIC_CH = @nr_solic_ch
   
   SELECT @nr_ult_lanc = convert( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
   FROM   TCAIXA 
   WHERE  DT_MOVIMENTO = @dt_movimento 

   SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )
   SELECT @qt_imp = @qt_imp + 1
   INSERT TCAIXA( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,
                  IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, CD_BANCO, NR_CHEQUE,
                  CD_FAVORECIDO, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, IN_RESTITUI )
   VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', '4', '0', '0', @vl_liquidacao, @cd_forma_pagto, 
            @cd_banco, @nr_cheque, @cd_favorecido, @nr_processo, @cd_item, 0, 0, '0')
         
   SELECT @nr_ult_lanc = @nr_ult_lanc + 1
   SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, @nr_ult_lanc ), 6 )
   FETCH c_imp INTO 
     @nr_processo, @cd_forma_pagto, @cd_banco, @tp_liquidacao, @vl_liquidacao, @in_cancelado, 
     @in_transferido, @dt_solic_ch, @nr_solic_ch
END
CLOSE c_imp
DEALLOCATE c_imp


DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco

EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa
GO
