USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_pagto_ag]( @nr_processo char(18), @cd_item char(3) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_item char(3)

SELECT @nr_processo = '0101DP-1059-01'
SELECT @cd_item = '001'

SET XACT_ABORT OFF
ROLLBACK TRAN
*/

DECLARE @cd_usuario         char(4)
DECLARE @vl_pagto           numeric(14,2)
DECLARE @vl_solicitado      numeric(14,2)
DECLARE @vl_recebido        numeric(14,2)
DECLARE @vl_utilizado       numeric(14,2)
DECLARE @vl_saldo           numeric(14,2)
DECLARE @vl_saldo_proc	    numeric(14,2)
DECLARE @cd_status_item     char(2)
DECLARE @nr_ref		    char(3)
DECLARE @in_liberacao       char(1)

SELECT @cd_item          = CD_ITEM,
       @nr_ref           = NR_REF,
       @vl_pagto         = ISNULL( CONVERT( numeric(14,2), VL_PAGTO ), 0 ),
       @cd_status_item   = CD_STATUS
FROM   TSOLIC_PAGTO  (NOLOCK)
WHERE  NR_PROCESSO = @nr_processo AND
       CD_ITEM     = @cd_item AND
       CD_STATUS NOT IN ('4', '6', '16', '7', '17', '20')  /* Em Processamento, Pago, Cancelado ou Liberado pelo Sistema */

IF @@rowcount = 0 RETURN(0)

IF @cd_item = ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) )
BEGIN
  SELECT @cd_status_item = '0'
END
ELSE
BEGIN
  SELECT @vl_solicitado = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_SOLICITADO)    , 0) ) ),
         @vl_recebido   = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_RECEBIDO)      , 0) ) ), 
         @vl_utilizado  = ( SUM (ISNULL (CONVERT( numeric(14,2), VL_UTILIZADO)     , 0) ) ), 
         @vl_saldo      = @vl_recebido - @vl_utilizado,--( SUM (ISNULL (CONVERT( numeric(14,2), VL_SALDO_ITEM)    , 0) ) ), 
         @vl_saldo_proc = @vl_recebido - @vl_utilizado--( MIN (ISNULL (CONVERT( numeric(14,2), VL_SALDO_PROCESSO), 0) ) ) 
  FROM   TNUMERARIO_NOTIFICA_ITEM (NOLOCK) --TNUMERARIO_SALDO_POR_ITEM
  WHERE  ( NR_PROCESSO = @nr_processo ) AND
         ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) )

  SELECT @cd_status_item =
  CASE
    WHEN ( ISNULL( @vl_saldo, 0 ) >= @vl_pagto ) AND
         ( ISNULL( @nr_ref, '' ) = '' ) AND --( ISNULL( @vl_saldo_proc, 0 ) >= @vl_pagto ) AND
         ( @cd_status_item IN ('0', '1', '2','3','5') ) THEN '6'  /* Solicitado */
    WHEN ( ISNULL( @vl_saldo, 0 ) >= @vl_pagto ) AND
         ( ISNULL( @nr_ref, '' ) <> '' ) AND --( ISNULL( @vl_saldo_proc, 0 ) >= @vl_pagto ) AND
         ( @cd_status_item IN ('0', '1', '2','3','5') ) THEN '16'  /* Liberado pelo Sistema */
    WHEN ( ISNULL( @vl_saldo, 0 ) >= @vl_pagto ) AND --( ISNULL( @vl_saldo_proc, 0 ) >= @vl_pagto ) AND 
         ( @cd_status_item IN ('8','9','10','11') ) THEN '16'  /* Liberado pelo Sistema */
    WHEN ( ISNULL( @vl_solicitado, 0 ) = 0 )          THEN '2'  /* Numerário não solicitado */
    WHEN ( ISNULL( @vl_recebido, 0 )   = 0 )          THEN '3'  /* Numerário não recebido   */
    ELSE '1'                                               	  /* Saldo Insuficiente       */ 
  END
END

UPDATE TSOLIC_PAGTO 
SET    CD_STATUS = @cd_status_item
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( CD_ITEM = @cd_item ) AND
       IN_SOLICITADO = '1'




GO
