USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [sp_cancela_solic_pagto]( @dt_pagto datetime, @nr_ref char(3), @in_ted char(1) ) AS

/*
SET XACT_ABORT ON 
BEGIN TRAN

DECLARE @dt_pagto datetime
DECLARE @nr_ref char(3)

SELECT @dt_pagto = CONVERT( datetime, CONVERT (VARCHAR, '01/09/2008', 103 ), 103)
SELECT @nr_ref = '019'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo   	    char(18)
DECLARE @nr_lancamento 	    char(3)
DECLARE @cd_usuario	        char(4)
DECLARE @nr_devolucao  	    char(3)
DECLARE @cd_item  	        char(3)
DECLARE @vl_pagto  	        float
DECLARE @cd_status          char(2)
DECLARE @vl_saldo_processo  numeric(14,2)
DECLARE @in_libera  	    char(1)
DECLARE @in_restitui  	    char(1)
DECLARE @erro   	        int
DECLARE @nr_docto	        char(6)
DECLARE @nr_novo_lancamento char(3)
DECLARE @cd_banco           char(3)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

SELECT @nr_docto = ISNULL( NR_DOCTO, '' ), @cd_banco = ISNULL( cd_banco, '' )
FROM   TSOLIC_PAGTO
WHERE  DT_PAGTO = @dt_pagto AND
       NR_REF = @nr_ref

PRINT @dt_pagto
PRINT @cd_banco
PRINT @nr_docto


IF @in_ted <> 1
  EXEC sp_atz_cheque_caixa @dt_pagto, @cd_banco, @nr_docto

-- Solicita pagamento novamente
DECLARE c_nova CURSOR FOR
  SELECT NR_PROCESSO, NR_LANCAMENTO, CD_ITEM
  FROM   TSOLIC_PAGTO
  WHERE  DT_PAGTO = @dt_pagto AND 
         NR_REF = @nr_ref AND
         CD_STATUS NOT IN( '4', '17' )
OPEN c_nova
FETCH c_nova  INTO @nr_processo, @nr_lancamento, @cd_item
WHILE @@fetch_status = 0
BEGIN
  UPDATE S
  SET    S.CD_STATUS       = '2',
         S.VL_PAGTO        = 0, 
         S.DT_PAGTO        = NULL
  FROM   TPROCESSO_SDA S
  WHERE  S.NR_PROCESSO    = @nr_processo AND
         @cd_item IN ( SELECT CD_ITEM_SDA FROM TPARAMETROS )

  SELECT @nr_novo_lancamento = ISNULL( MAX( NR_LANCAMENTO ), '000' )
  FROM   TSOLIC_PAGTO
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @nr_novo_lancamento = RIGHT( '000' + CONVERT( varchar(3), ( CONVERT( int, @nr_novo_lancamento ) + 1 ) ), 3 )

  INSERT TSOLIC_PAGTO ( NR_PROCESSO, CD_ITEM, VL_PAGTO, CD_DESTINO, DT_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI, 
                        DT_SOLIC_PAGTO, HM_SOLIC_PAGTO, CD_CALCULO, IN_CALCULADO, CD_FAVORECIDO, CD_BANCO, NR_DOCTO, 
                        NR_REF, CD_USUARIO_SOLIC, CD_USUARIO_MONTA, CD_STATUS_CHEQUE, TP_DESTINO, IN_TRANSF_FIN, VL_DESCONTO, 
                        VL_PERC_DESCONTO, DT_CANCELAMENTO, CD_CANCELADOR, NR_LANCAMENTO, IN_TED )
  SELECT NR_PROCESSO, CD_ITEM, VL_PAGTO, CD_DESTINO, DT_PAGTO, '0', '0', IN_RESTITUI, DT_SOLIC_PAGTO, HM_SOLIC_PAGTO, 
         CD_CALCULO, IN_CALCULADO, CD_FAVORECIDO, CD_BANCO, NULL, NULL, CD_USUARIO_SOLIC, NULL, '0', TP_DESTINO, 
         '0', VL_DESCONTO, VL_PERC_DESCONTO, NULL, NULL, @nr_novo_lancamento, IN_TED
  FROM   TSOLIC_PAGTO
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_LANCAMENTO = @nr_lancamento AND
         CD_ITEM = @cd_item

  --EXEC sp_proc_itens_solic_pagto @nr_processo, @nr_novo_lancamento, @cd_item

  FETCH c_nova  INTO @nr_processo, @nr_lancamento, @cd_item
END
CLOSE c_nova
DEALLOCATE c_nova

DECLARE c_canc CURSOR FOR
  SELECT NR_PROCESSO, NR_LANCAMENTO, CD_ITEM, CD_STATUS, 
         CASE IN_RESTITUI 
           WHEN '0' THEN ( ISNULL( VL_PAGTO, 0 ) ) 
           WHEN '1' THEN ( ISNULL( VL_PAGTO, 0 ) ) * (-1)
         END VL_PAGTO, IN_RESTITUI
  FROM   TSOLIC_PAGTO
  WHERE  DT_PAGTO = @dt_pagto AND 
         NR_REF = @nr_ref
OPEN c_canc
FETCH c_canc  INTO @nr_processo, @nr_lancamento, @cd_item, @cd_status, @vl_pagto, @in_restitui
WHILE @@fetch_status = 0
BEGIN
  IF ( SELECT COUNT(*)
       FROM   TCLIENTE_BANCO_LIBERADO L,
              TSOLIC_PAGTO S,
              TPROCESSO P
       WHERE  P.CD_CLIENTE    = L.CD_CLIENTE   AND
              P.CD_UNID_NEG   = L.CD_UNID_NEG  AND
              P.CD_PRODUTO    = L.CD_PRODUTO   AND
              S.CD_BANCO      = L.CD_BANCO     AND
              P.NR_PROCESSO   = @nr_processo   AND
              S.NR_LANCAMENTO = @nr_lancamento AND
              S.CD_ITEM       = @cd_item       AND
              S.DT_PAGTO      = @dt_pagto      AND
              S.NR_REF        = @nr_ref    AND
              L.IN_ATIVO      = '1' ) > 0
    SELECT @in_libera = '1'
  ELSE
    SELECT @in_libera = '0'
  IF @in_libera = '1' AND @cd_item NOT IN ('991','992','993','997','998','987','988')
  BEGIN
    IF @in_restitui = '0'
    BEGIN
      EXEC @erro = sp_cancela_receb_autom @nr_processo, @cd_item, @vl_pagto, @cd_usuario, @dt_pagto, @nr_ref
    END
    ELSE
    BEGIN
      SELECT @nr_devolucao = NR_DEVOLUCAO
      FROM   TDEVOLUCAO
      WHERE  DT_SOLIC_CH = @dt_pagto AND
             NR_SOLIC_CH = @nr_lancamento
      IF @nr_devolucao IS NOT NULL
         EXEC sp_cancela_devolucao @nr_processo, @nr_devolucao
    END
  END

  IF ( @cd_item NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS ) ) AND
     ( @cd_item NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) ) AND 
     ( @cd_item NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) )
  BEGIN
    IF @cd_status IN ( '4', '7', '8', '9', '10', '11', '17' ) 
    BEGIN
      EXEC sp_atualiza_utilizado @nr_processo, @cd_item, @vl_pagto, '-'
    END
    -- Atualiza Saldos
    UPDATE TNUMERARIO_SALDO_POR_ITEM
    SET VL_SALDO_ITEM = ISNULL( VL_RECEBIDO, 0) - ISNULL( VL_UTILIZADO, 0)
    WHERE NR_PROCESSO = @nr_processo 

    SELECT @vl_saldo_processo = SUM(ISNULL(VL_SALDO_ITEM,0)) 
    FROM   TNUMERARIO_SALDO_POR_ITEM
    WHERE  NR_PROCESSO = @nr_processo 

    UPDATE TNUMERARIO_SALDO_POR_ITEM
    SET    VL_SALDO_PROCESSO = @vl_saldo_processo
    WHERE  NR_PROCESSO = @nr_processo
  END
  -- Cancela devolução automaticamente
  ELSE 
  IF ( @cd_item IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) )
  BEGIN
    SELECT @nr_devolucao = NR_DEVOLUCAO
    FROM   TDEVOLUCAO
    WHERE  DT_SOLIC_CH = CONVERT( char(10), @dt_pagto, 103 ) AND
           NR_SOLIC_CH = @nr_lancamento AND
           NR_PROCESSO = @nr_processo

    UPDATE TDEVOLUCAO
    SET    DT_SOLIC_CH    = NULL,
           NR_SOLIC_CH    = NULL,
           IN_TRANSFERIDO = '0'
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_DEVOLUCAO = @nr_devolucao

/*    UPDATE TDEVOLUCAO
    SET    IN_CANCELADO = '1',
           DT_CANCELAMENTO = CONVERT( datetime, CONVERT( char(10),  GETDATE(), 103 ), 103 ),
           CD_USUARIO_CANC = @cd_usuario
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_DEVOLUCAO = @nr_devolucao
*/
    EXEC sp_atz_devolucao @nr_processo, @nr_devolucao   
  END
  ELSE
  BEGIN
    -- Cancela liquidação
    IF ( @cd_item IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS ) )
    BEGIN
      UPDATE TLIQUIDACAO
      SET    DT_SOLIC_CH    = NULL,
             NR_SOLIC_CH    = NULL,
             IN_TRANSFERIDO = '0'
      WHERE  DT_SOLIC_CH = CONVERT( char(10), @dt_pagto, 103 ) AND 
             NR_SOLIC_CH = @nr_lancamento AND
             NR_PROCESSO = @nr_processo
    END
  END
  
  FETCH c_canc INTO @nr_processo, @nr_lancamento, @cd_item, @cd_status, @vl_pagto, @in_restitui
END
CLOSE c_canc
DEALLOCATE c_canc

IF @cd_usuario = '0000' 
  SELECT @cd_status  = '17' /* Cancelado pelo Sistema */
ELSE
  SELECT @cd_status  = '4' /* Cancelado pelo Usuário */

UPDATE TSOLIC_PAGTO 
SET    CD_STATUS_CHEQUE = '3',
       CD_STATUS = @cd_status,
       DT_CANCELAMENTO  = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103), 103 ),
       CD_CANCELADOR = @cd_usuario,
       IN_TRANSF_FIN = '0'
WHERE  DT_PAGTO = @dt_pagto AND 
       NR_REF = @nr_ref

UPDATE TLIQUIDACAO
SET    DT_SOLIC_CH    = NULL,
       NR_SOLIC_CH    = NULL,
       IN_TRANSFERIDO = '0'
WHERE  DT_SOLIC_CH = CONVERT(char(10), @dt_pagto, 103 ) AND 
       NR_SOLIC_CH = @nr_docto



GO
