USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ATZ_CONHECIMENTO_CARGA_DI](@NR_PROCESSO CHAR(18), @NR_CONHECIMENTO_ANTIGO CHAR(30) = NULL, @NR_CONHECIMENTO_NOVO CHAR(30) = NULL) AS
/*
DECLARE @NR_PROCESSO CHAR(18) = '0101IM-4100-12', @NR_CONHECIMENTO_ANTIGO CHAR(30) = 'michel', @NR_CONHECIMENTO_NOVO CHAR(30) = NULL
BEGIN TRAN
--*/
BEGIN
    IF (SELECT COUNT(*)
        FROM TDECLARACAO_IMPORTACAO
        WHERE NR_PROCESSO = @NR_PROCESSO) > 0
    BEGIN
        PRINT 'DI encontrada'

        -- Para os ferroviários utiliza o código 26 (Outros) - Michel - 10/12/2012
        IF ISNULL((SELECT S.CD_VIA_TRANSPORTE
                   FROM TPROCESSO P (NOLOCK)
                      INNER JOIN VW_SERVICO_GERAL S ON S.CD_SERVICO = P.CD_SERVICO
                   WHERE P.NR_PROCESSO = @NR_PROCESSO), '') = '06'
        BEGIN
            -- Primeiro apaga o 28 (Conhecimento de Carga)
            IF (SELECT COUNT(*)
                FROM TDOCUMENTO_INSTRUCAO (NOLOCK)
                WHERE NR_PROCESSO        = @NR_PROCESSO
                  AND CD_TIPO_DCTO_INSTR = '28') > 0
                DELETE TDOCUMENTO_INSTRUCAO
                WHERE NR_PROCESSO = @NR_PROCESSO
                  AND CD_TIPO_DCTO_INSTR = '28'

            IF @NR_CONHECIMENTO_NOVO IS NULL AND @NR_CONHECIMENTO_ANTIGO IS NULL
            BEGIN
                IF @NR_CONHECIMENTO_NOVO IS NULL
                    SELECT @NR_CONHECIMENTO_NOVO = NR_CONHECIMENTO
                    FROM TPROCESSO (NOLOCK)
                    WHERE NR_PROCESSO = @NR_PROCESSO

                IF @NR_CONHECIMENTO_ANTIGO IS NULL
                    SET @NR_CONHECIMENTO_ANTIGO = @NR_CONHECIMENTO_NOVO
            END

            -- Apaga o 26 (Outros) que estiver em branco
            IF (SELECT COUNT(*)
                FROM TDOCUMENTO_INSTRUCAO (NOLOCK)
                WHERE NR_PROCESSO = @NR_PROCESSO
                  AND CD_TIPO_DCTO_INSTR = '26'
                  AND ISNULL(NR_DCTO_INSTRUCAO, '') = '') > 0
                DELETE TDOCUMENTO_INSTRUCAO
                WHERE NR_PROCESSO = @NR_PROCESSO
                  AND CD_TIPO_DCTO_INSTR = '26'
                  AND ISNULL(NR_DCTO_INSTRUCAO, '') = ''

            IF (SELECT COUNT(*)
                FROM TDOCUMENTO_INSTRUCAO (NOLOCK)
                WHERE NR_PROCESSO        = @NR_PROCESSO
                  AND CD_TIPO_DCTO_INSTR = '26'
                  AND ISNULL(NR_DCTO_INSTRUCAO, '') = @NR_CONHECIMENTO_ANTIGO) > 0
            BEGIN
                IF @NR_CONHECIMENTO_ANTIGO <> @NR_CONHECIMENTO_NOVO
                BEGIN
                    PRINT 'Atualizando Número do Conhecimento da Manutenção na DI'
                    IF ISNULL(@NR_CONHECIMENTO_NOVO, '') = ''
                        DELETE TDOCUMENTO_INSTRUCAO
                        WHERE NR_PROCESSO = @NR_PROCESSO
                          AND CD_TIPO_DCTO_INSTR = '26'
                          AND ISNULL(NR_DCTO_INSTRUCAO, '') = @NR_CONHECIMENTO_ANTIGO
                    ELSE
                        UPDATE TDOCUMENTO_INSTRUCAO
                        SET NR_DCTO_INSTRUCAO = @NR_CONHECIMENTO_NOVO
                        WHERE NR_PROCESSO = @NR_PROCESSO
                          AND CD_TIPO_DCTO_INSTR = '26'
                          AND ISNULL(NR_DCTO_INSTRUCAO, '') = @NR_CONHECIMENTO_ANTIGO
                END
                ELSE
                    PRINT 'Número do Conhecimento de Carga já preenchido na DI'
            END
            ELSE IF ((SELECT COUNT(*)
                      FROM TDOCUMENTO_INSTRUCAO (NOLOCK)
                      WHERE NR_PROCESSO        = @NR_PROCESSO
                        AND CD_TIPO_DCTO_INSTR = '26'
                        AND ISNULL(NR_DCTO_INSTRUCAO, '') = @NR_CONHECIMENTO_NOVO) = 0) AND (ISNULL(@NR_CONHECIMENTO_NOVO, '') <> '')
            BEGIN
                PRINT 'Inserindo Número do Conhecimento da Manutenção na DI'
                INSERT INTO TDOCUMENTO_INSTRUCAO
                SELECT @NR_PROCESSO,
                       ISNULL((SELECT MAX(NR_SEQUENCIA)
                               FROM TDOCUMENTO_INSTRUCAO (NOLOCK)
                               WHERE NR_PROCESSO = @NR_PROCESSO), 0) + 1, 
                       '26',
                       @NR_CONHECIMENTO_NOVO,
                       NULL,
                       NULL,
                       NULL,
                       NULL,
                       NULL,
                       NULL,
                       '0',
                       '0'
            END
            ELSE
                PRINT 'Número do Conhecimento de Carga já preenchido na DI'
        END
        ELSE -- Diferente de ferroviário
        BEGIN
            IF (SELECT COUNT(*)
                FROM TDOCUMENTO_INSTRUCAO (NOLOCK)
                WHERE NR_PROCESSO        = @NR_PROCESSO
                  AND CD_TIPO_DCTO_INSTR = '28') = 0
            BEGIN
                PRINT 'Inserindo Número do Conhecimento da Manutenção na DI'
                INSERT INTO TDOCUMENTO_INSTRUCAO
                SELECT @NR_PROCESSO,
                       ISNULL((SELECT MAX(NR_SEQUENCIA)
                               FROM TDOCUMENTO_INSTRUCAO (NOLOCK)
                               WHERE NR_PROCESSO = @NR_PROCESSO), 0) + 1, 
                       '28',
                       NR_CONHECIMENTO,
                       NULL,
                       NULL,
                       NULL,
                       NULL,
                       NULL,
                       NULL,
                       '0',
                       '0'
                FROM TPROCESSO
                WHERE NR_PROCESSO = @NR_PROCESSO
            END
            ELSE IF (SELECT COUNT(*)
                     FROM TDOCUMENTO_INSTRUCAO (NOLOCK)
                     WHERE NR_PROCESSO        = @NR_PROCESSO
                       AND CD_TIPO_DCTO_INSTR = '28'
                       AND ISNULL(NR_DCTO_INSTRUCAO, '') = '') > 0
            BEGIN
                PRINT 'Atualizando Número do Conhecimento da Manutenção na DI'
                UPDATE D
                SET NR_DCTO_INSTRUCAO = P.NR_CONHECIMENTO
                FROM TDOCUMENTO_INSTRUCAO D (NOLOCK) INNER JOIN TPROCESSO P (NOLOCK) ON P.NR_PROCESSO = D.NR_PROCESSO
                WHERE D.NR_PROCESSO = @NR_PROCESSO
                  AND D.CD_TIPO_DCTO_INSTR = '28'
            END
            ELSE
                PRINT 'Número do Conhecimento de Carga já preenchido na DI'
        END
    END
    ELSE
        PRINT 'DI não encontrada'
/*
SELECT *
FROM TDOCUMENTO_INSTRUCAO
WHERE NR_PROCESSO = @NR_PROCESSO
ROLLBACK
--*/
END
GO
