USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_rel_rec_liq] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
			         @dt_inicial datetime, @dt_final datetime, @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON 
BEGIN TRAN

SET NOCOUNT ON

DECLARE @dt_inicial       datetime
DECLARE @dt_final         datetime
DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @nr_identificador int


SELECT  @dt_inicial       = '20070313'
SELECT  @dt_final         = '20070313'
SELECT  @cd_unid_neg      = '01'
SELECT  @cd_produto       = 'X'
SELECT  @cd_grupo         = 'X'
SELECT  @cd_cliente       = 'X'

--ROLLBACK TRAN
--SET XACT_ABORT OFF
--*/

DECLARE @nr_processo              char(18)
DECLARE @vl_fatura                float
DECLARE @vl_liq                   float
DECLARE @vl_spgto                 float
DECLARE @in_liq                   char(1)
DECLARE @cd_unid                  char(2)
DECLARE @cd_prod                  char(2)
DECLARE @nr_solic                 char(6)
DECLARE @ap_empresa               varchar(10)
DECLARE @nm_grupo                 char(15)
DECLARE @vl_receita               float
DECLARE @vl_tot_tributavel        float
DECLARE @vl_saldo                 float
DECLARE @vl_saldo_ant             float
DECLARE @vl_comissao              float
DECLARE @vl_retencao              float
DECLARE @vl_sub_tot_tributavel    float
DECLARE @cd_grupo_rec             char(3)
DECLARE @cd_cliente_rec           char(5)

DECLARE @cd_item_receb_num        char(3)
DECLARE @cd_item_devol_num        char(3)
DECLARE @cd_item_extor_num        char(3)
DECLARE @cd_item_saldo_cre        char(3)
DECLARE @cd_item_saldo_deb        char(3)
DECLARE @cd_item_receb_sd         char(3)
DECLARE @cd_item_pagto_sd         char(3)
DECLARE @cd_item_ext_receb        char(3)
DECLARE @cd_item_ext_pagto        char(3)
DECLARE @cd_item_nao_fat          char(3)
DECLARE @cd_item_ir               char(3)
DECLARE @cd_item_cofins_retencao  char(3)
DECLARE @cd_item_comissao         char(3)
DECLARE @cd_item_pago_cli         char(3)
DECLARE @cd_item_pis_cofins       char(3)


SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1 FROM TREL_REC_LIQ

SELECT @vl_saldo = 0

-- Itens da TPARAMETROS
SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM,
       @cd_item_devol_num = CD_ITEM_DEVOL_NUM,
       @cd_item_extor_num = CD_ITEM_EXTOR_NUM,
       @cd_item_saldo_cre = CD_ITEM_SALDO_CRE,
       @cd_item_saldo_deb = CD_ITEM_SALDO_DEB,
       @cd_item_receb_sd = CD_ITEM_RECEB_SD,
       @cd_item_pagto_sd = CD_ITEM_PAGTO_SD,
       @cd_item_ext_receb = CD_ITEM_EXT_RECEB,
       @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO, 
       @cd_item_nao_fat = CD_ITEM_NAO_FAT,
       @cd_item_ir = CD_ITEM_IR,       
       @cd_item_cofins_retencao = CD_ITEM_COFINS_RETENCAO,
       @cd_item_comissao = CD_ITEM_COMISSAO,
       @cd_item_pago_cli = CD_ITEM_PAGO_CLI,
       @cd_item_pis_cofins = CD_ITEM_PIS_COFINS 
FROM TPARAMETROS (NOLOCK)


-- EMISSÃO
DECLARE c_rec CURSOR FOR
  SELECT P.NR_PROCESSO, F.VL_FATURA, F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_SOLICITACAO, P.CD_CLIENTE, E.AP_EMPRESA, P.CD_GRUPO, SUBSTRING( G.NM_GRUPO, 1, 15 )
  FROM   TS_FATURA F (NOLOCK)
         INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON ( F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO = FP.CD_PRODUTO AND F.NR_SOLICITACAO = FP.NR_SOLICITACAO )
         INNER JOIN TPROCESSO P (NOLOCK) ON ( P.NR_PROCESSO = FP.NR_PROCESSO ) 
         INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )
         LEFT JOIN TGRUPO G (NOLOCK) ON ( P.CD_GRUPO = G.CD_GRUPO )
  WHERE  F.DT_FATURA BETWEEN @dt_inicial AND @dt_final
    AND  @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' )
    AND  @cd_produto IN ( F.CD_PRODUTO, 'X' )
    AND  @cd_grupo IN ( P.CD_GRUPO, 'X' )
    AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
    AND  F.IN_CANCELADO = '0'
OPEN c_rec
FETCH c_rec INTO @nr_processo, @vl_fatura, @cd_unid, @cd_prod, @nr_solic, @cd_cliente_rec, @ap_empresa, @cd_grupo_rec, @nm_grupo 
WHILE @@fetch_status = 0
BEGIN

  -- tot_tributavel
  SELECT @vl_sub_tot_tributavel =
         ISNULL( ROUND( SUM(
         CASE IN_RESTITUI 
           WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
           WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
         END ), 2 ), 0 )
  FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
  WHERE  FI.CD_ITEM = I.CD_ITEM AND
         I.IN_TRIBUTAVEL = '1' AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_UNID_NEG = @cd_unid AND
         FI.CD_PRODUTO = @cd_prod AND
         FI.NR_SOLIC_FAT = @nr_solic AND
         ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
         FI.CD_ITEM NOT IN ( @cd_item_receb_num, @cd_item_devol_num, @cd_item_extor_num, @cd_item_saldo_cre, @cd_item_saldo_deb, @cd_item_receb_sd, @cd_item_pagto_sd, @cd_item_ext_receb,
                             @cd_item_ext_pagto, @cd_item_nao_fat, @cd_item_ir, @cd_item_cofins_retencao, @cd_item_comissao, @cd_item_pago_cli, @cd_item_pis_cofins ) 

  --comissão
  SELECT @vl_comissao =
         ISNULL( ROUND( SUM(
         CASE IN_RESTITUI 
           WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
           WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
         END ), 2 ), 0 )
  FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
  WHERE  FI.CD_ITEM = I.CD_ITEM AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_UNID_NEG = @cd_unid AND
         FI.CD_PRODUTO = @cd_prod AND
         FI.NR_SOLIC_FAT = @nr_solic AND
         FI.CD_ITEM = @cd_item_comissao

  --retenção na fonte, imposto de renda e outros
  SELECT @vl_retencao =
         ISNULL( ROUND( SUM(
         CASE IN_RESTITUI 
           WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
           WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
         END ), 2 ), 0 )
  FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
  WHERE  FI.CD_ITEM = I.CD_ITEM AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_UNID_NEG = @cd_unid AND
         FI.CD_PRODUTO = @cd_prod AND
         FI.NR_SOLIC_FAT = @nr_solic AND
         FI.CD_ITEM IN ( @cd_item_cofins_retencao, @cd_item_ir , '394' )



  SELECT @vl_tot_tributavel = ISNULL( @vl_sub_tot_tributavel, 0 ) + ISNULL( @vl_comissao, 0 ) - ISNULL( @vl_retencao, 0)
  SELECT @vl_receita = 0
  SELECT @vl_saldo = 0



  IF @vl_fatura > 0                                             -- saldo credor
    SELECT @vl_receita = @vl_tot_tributavel
  ELSE
  BEGIN
    IF ( @vl_fatura * (-1) ) < @vl_tot_tributavel               -- saldo devedor e MENOR que valor tributário
      SELECT @vl_receita = @vl_tot_tributavel - @vl_fatura * (-1)
    ELSE
    BEGIN 
      IF @vl_fatura = 0
        SELECT @vl_receita = @vl_tot_tributavel
    END 
  END
   
  
  INSERT INTO TREL_REC_LIQ ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO )
  VALUES ( @nr_identificador, @cd_grupo_rec, @nm_grupo, @cd_cliente_rec, @ap_empresa, @nr_processo, @vl_receita, @vl_saldo )

--  PRINT @nr_processo + 'PROCESSO  ' +  CAST( @vl_fatura AS VARCHAR ) + ' FATURA ' +  CAST( @vl_tot_tributavel AS VARCHAR ) + ' TRIB' 
  SELECT @vl_tot_tributavel = 0

  FETCH c_rec INTO @nr_processo, @vl_fatura, @cd_unid, @cd_prod, @nr_solic, @cd_cliente_rec, @ap_empresa, @cd_grupo_rec, @nm_grupo 
END
CLOSE c_rec
DEALLOCATE c_rec

PRINT '2'

-- LIQUIDAÇÃO

INSERT INTO TREL_REC_LIQ ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO )
SELECT @nr_identificador, P.CD_GRUPO, SUBSTRING( G.NM_GRUPO, 1, 15 ), P.CD_CLIENTE, E.AP_EMPRESA, L.NR_PROCESSO, L.VL_RECEITA, L.VL_SALDO_OP
FROM   TLIQUIDACAO L (NOLOCK)
       INNER JOIN TS_FATURA F (NOLOCK) ON (L.CD_UNID_NEG = F.CD_UNID_NEG AND L.CD_PRODUTO = F.CD_PRODUTO AND L.NR_SOLIC_FAT = F.NR_SOLICITACAO)
       INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON ( F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO = FP.CD_PRODUTO AND F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND FP.NR_PROCESSO = L.NR_PROCESSO )
       INNER JOIN TPROCESSO P (NOLOCK) ON ( P.NR_PROCESSO = FP.NR_PROCESSO ) 
       INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )
       LEFT JOIN TGRUPO G (NOLOCK) ON ( P.CD_GRUPO = G.CD_GRUPO )
 WHERE L.DT_LIQUIDACAO BETWEEN @dt_inicial AND @dt_final
   AND @cd_unid_neg IN ( F.CD_UNID_NEG, 'X' )
   AND @cd_produto IN ( F.CD_PRODUTO, 'X' )
   AND @cd_grupo IN ( P.CD_GRUPO, 'X' )
   AND @cd_cliente IN ( P.CD_CLIENTE, 'X' )
   AND F.IN_CANCELADO = '0'
   AND L.IN_CANCELADO = '0'

DELETE FROM TREL_REC_LIQ WHERE VL_RECEITA = 0 AND VL_SALDO = 0


-- AGRUPA REGISTROS por Grupo/Cliente
-- Cria #TMP_REC_LIQ
SELECT NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO
INTO #TMP_REC_LIQ
FROM TREL_REC_LIQ
WHERE 1 = 0

INSERT INTO #TMP_REC_LIQ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO )
SELECT NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO
FROM TREL_REC_LIQ (NOLOCK)
WHERE NR_IDENTIFICADOR = @nr_identificador

DELETE FROM TREL_REC_LIQ WHERE NR_IDENTIFICADOR = @nr_identificador

IF @cd_grupo <> 'X' --Agrupa por Grupo
BEGIN
  INSERT INTO TREL_REC_LIQ ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO )
  SELECT NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, 'X', 'X', 0, SUM( VL_RECEITA ), SUM( VL_SALDO )
  FROM #TMP_REC_LIQ
  WHERE NR_IDENTIFICADOR = @nr_identificador
  GROUP BY NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO
END
ELSE
BEGIN               --Agrupa por Cliente
  INSERT INTO TREL_REC_LIQ ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO )
  SELECT NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, 0, SUM( VL_RECEITA ), SUM( VL_SALDO )
  FROM #TMP_REC_LIQ
  WHERE NR_IDENTIFICADOR = @nr_identificador
  GROUP BY NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE
END

DROP TABLE  #TMP_REC_LIQ
-- Fim Agrupa registros


GO
