USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [SP_CREATE_FILE_PLANEJADORES_X_GRUPO] AS

DECLARE @execstr1 VARCHAR(8000)
DECLARE @CD_GRUPO CHAR(3)
DECLARE @SQL VARCHAR(1000)
DECLARE @CD_PLANEJADOR CHAR(5)
DECLARE @NM_PLANEJADOR CHAR(150)
DECLARE @file CHAR(50)

SELECT DISTINCT CD_GRUPO 
  INTO #TMP_GRUPOS
  FROM TEMPRESA_NAC
 WHERE ISNULL(CD_GRUPO,'') <> ''

WHILE ( SELECT COUNT(*) FROM #TMP_GRUPOS ) > 0 
BEGIN

  SELECT TOP 1 @CD_GRUPO = CD_GRUPO
    FROM #TMP_GRUPOS

  set @file = 'option_planejadores'+@CD_GRUPO+'.txt'
  EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @file, 1

  SELECT CD_PLANEJADOR, NM_PLANEJADOR 
    INTO #TMP_PLANEJADORES
    FROM TPLANEJADORES (NOLOCK)
   WHERE ISNULL(CD_GRUPO,'') = @CD_GRUPO 
	 AND IN_ATIVO = '1'
   ORDER BY NM_PLANEJADOR

  WHILE ( SELECT COUNT(*) FROM #TMP_PLANEJADORES ) > 0 
  BEGIN

    SELECT TOP 1 @CD_PLANEJADOR = RTRIM(LTRIM(CD_PLANEJADOR)), @NM_PLANEJADOR = RTRIM(LTRIM(NM_PLANEJADOR)) FROM #TMP_PLANEJADORES

    SET @execstr1 = '<option value='+@CD_PLANEJADOR+'>'+rtrim(ltrim(@NM_PLANEJADOR))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @file, 0

    DELETE FROM #TMP_PLANEJADORES WHERE CD_PLANEJADOR = @CD_PLANEJADOR

  END 
 
  DROP TABLE #TMP_PLANEJADORES

  DELETE FROM #TMP_GRUPOS WHERE CD_GRUPO = @CD_GRUPO

END

DROP TABLE #TMP_GRUPOS



GO
