USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_ajusta_ref_cli    Script Date: 02/09/1999 08:58:57 AM ******/
CREATE PROCEDURE [sp_ajusta_ref_cli] ( @nr_processo char(18) ) AS
DECLARE @nr_sequencia  char(5)
DECLARE @nr_seq  char(5)
DECLARE c_ref CURSOR FOR
  SELECT NR_SEQUENCIA 
    FROM TREF_CLIENTE
    WHERE NR_PROCESSO = @nr_processo
SELECT @nr_seq = '00000'
OPEN c_ref
FETCH c_ref INTO @nr_sequencia
WHILE @@fetch_status <> -1
BEGIN
  SELECT @nr_seq = RIGHT('00000' + CONVERT(VARCHAR(5), CONVERT(INT, @nr_seq) + 1), 5)
  
  IF @nr_sequencia <> @nr_seq
    UPDATE TREF_CLIENTE
      SET NR_SEQUENCIA = @nr_seq
      WHERE NR_PROCESSO  = @nr_processo and
            NR_SEQUENCIA = @nr_sequencia
  FETCH c_ref INTO @nr_sequencia
END
CLOSE c_ref
DEALLOCATE c_ref



GO
