USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_po_estorno_li]( @nr_proc_controle char(18), @nr_proc_po char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_proc_controle char(18)
DECLARE @nr_proc_po char(18)

SELECT @nr_proc_controle = '0101DT-0002-00'
SELECT @nr_proc_po = '4580000067'
*/

DECLARE @cNR_PROCESSO char(18)
DECLARE @cNR_ITEM char(3)
DECLARE @cNR_ITEM_PO char(3)
DECLARE @nQT_INICIAL float
DECLARE @NR_ITEM char(3)
DECLARE @nQT_Merc_de_acordo_com_proc float
DECLARE @nQt_Merc_Prep_PO_Item float

DECLARE @nQtInicial float
DECLARE @nQtBaixada_LI float
DECLARE @i_item integer
DECLARE @s_item char(3)

DECLARE @nEntrou bit

DECLARE c_LI_Item CURSOR FOR 
  SELECT NR_PROCESSO, 
         NR_ITEM, 
         NR_ITEM_PO
  FROM   TLICENCA_ITENS
  WHERE  ( NR_PROCESSO LIKE RTRIM( @NR_PROC_CONTROLE ) ) AND 
         ( NR_PROC_PO  = @NR_PROC_PO )

OPEN c_LI_ITEM 
FETCH c_LI_ITEM
  INTO @cNR_PROCESSO, @cNR_ITEM, @cNR_ITEM_PO

SELECT @nEntrou = 0

WHILE @@fetch_status <> -1
BEGIN

  SELECT @nQtBaixada_LI = QT_INICIAL
  FROM   TPO_ITEM
  WHERE  ( NR_PROCESSO = @NR_PROC_PO ) AND
         ( NR_ITEM = @cNR_ITEM_PO )
                  
  SELECT @nQt_Merc_Prep_PO_Item = ISNULL(QT_BAIXADA, 0 )
  FROM   TPREPARA_PO_ITEM
  WHERE  ( NR_PROCESSO = @nr_proc_controle ) AND 
         ( NR_PROC_OLD = @nr_proc_po ) AND
         ( NR_ITEM_OLD = @cNR_ITEM_PO )  AND
         ( TP_PROCESSO = 0 )

  IF @nQt_Merc_Prep_PO_Item > 0 
  BEGIN  
    SELECT @nQtBaixada_LI = @nQtBaixada_LI - @nQT_Merc_Prep_PO_Item   
    SELECT @nQT_Merc_de_acordo_com_proc = @nQT_Merc_Prep_PO_Item   
  END 
  ELSE
    SELECT @nQT_Merc_de_acordo_com_proc = @nQtBaixada_LI

  UPDATE TPO_ITEM 
  SET    QT_BAIXADA_LI = ISNULL(QT_BAIXADA_LI - @nQt_Merc_Prep_PO_Item, 0),
         QT_DISPONIVEL = ISNULL(QT_DISPONIVEL + @nQt_Merc_Prep_PO_Item, 0),
         QT_BAIXAR     = 0,
         IN_SELECIONADO = '0',
         IN_MONTADO = '0', 
         CD_USUARIO_MONTA = '' 
  WHERE  ( NR_PROCESSO = @NR_PROC_PO ) AND
         ( NR_ITEM = @cNR_ITEM_PO )

  UPDATE TPO
  SET QT_TOTAL_DISPONIVEL = ROUND( ( SELECT SUM( ISNULL( QT_INICIAL, 0 ) - ISNULL( QT_BAIXADA_DI, 0) - ISNULL( QT_BAIXADA_LI, 0 ) )
                                     FROM   TPO_ITEM I
                                     WHERE  I.NR_PROCESSO = P.NR_PROCESSO ), 5 ),
      CD_USUARIO_MONTA = '' 
  FROM  TPO P
  WHERE NR_PROCESSO = @NR_PROC_PO

  UPDATE TPREPARA_PO_ITEM 
  SET    QT_BAIXADA = ISNULL(QT_BAIXADA - @nQT_Merc_de_acordo_com_proc,0),
         IN_MONTADO = '0' 
  WHERE  ( NR_PROCESSO = @nr_proc_controle ) AND
         ( NR_ITEM = @cNR_ITEM_PO ) AND
         ( TP_PROCESSO = 0 )

  DELETE FROM TLICENCA_NVE   
  WHERE  ( NR_PROCESSO LIKE RTRIM( @NR_PROC_CONTROLE ) ) AND 
         ( NR_ITEM = @cNR_ITEM )
  DELETE FROM TLICENCA_ITENS 
  WHERE  ( NR_PROCESSO LIKE RTRIM( @NR_PROC_CONTROLE ) ) AND 
         ( NR_ITEM = @cNR_ITEM )

  SELECT @nEntrou = 1

  FETCH c_LI_ITEM 
    INTO @cNR_PROCESSO, @cNR_ITEM, @cNR_ITEM_PO 

END

CLOSE c_LI_Item
DEALLOCATE c_LI_Item    

DECLARE @NR_PROCESSO char(18)
DECLARE @cProcesso char(18)

IF @nEntrou = 1
BEGIN
  IF ( SELECT COUNT(*)
       FROM   TLICENCA_ITENS
       WHERE  ( NR_PROCESSO LIKE RTRIM( @NR_PROC_CONTROLE ) ) AND
              ( NR_PROC_PO  = @NR_PROC_PO ) ) = 0
  BEGIN
    DELETE FROM TLICENCA_IMPORTACAO WHERE NR_PROCESSO LIKE  RTRIM( @NR_PROC_CONTROLE )
    DELETE FROM TPROC_ANUENTES      WHERE NR_PROCESSO LIKE  RTRIM( @NR_PROC_CONTROLE )
    DELETE FROM TPREPARA_PO         WHERE NR_PROCESSO LIKE  RTRIM( @NR_PROC_CONTROLE ) AND ( TP_PROCESSO = 0 )
    DELETE FROM TPREPARA_PO_ITEM    WHERE NR_PROCESSO LIKE  RTRIM( @NR_PROC_CONTROLE ) AND ( TP_PROCESSO = 0 )
  END
  ELSE
  BEGIN
    -- RENUMERA ITENS 
    DECLARE c_itens CURSOR FOR 
      SELECT NR_ITEM, NR_PROCESSO
      FROM   TLICENCA_ITENS
      WHERE  ( NR_PROCESSO LIKE RTRIM( @NR_PROC_CONTROLE ) )

    SELECT @i_item = 0
    SELECT @cProcesso = ''

    OPEN c_itens 
    FETCH c_itens INTO @NR_ITEM, @NR_PROCESSO
    WHILE @@fetch_status <> -1
    BEGIN
      IF @NR_PROCESSO <> @cProcesso
      BEGIN
        SELECT @i_item = 0
      END

      SELECT @i_item = @i_item + 1
      SELECT @s_item = CONVERT( char(3), @i_item )
      SELECT @s_item = RIGHT( ( '000' + RTRIM( @s_item ) ), 3 )

      UPDATE TLICENCA_ITENS
      SET    NR_ITEM = @s_item 
      WHERE CURRENT OF c_itens

      UPDATE TLICENCA_NVE
      SET    NR_ITEM = @s_item 
      WHERE  ( NR_PROCESSO = @NR_PROCESSO ) AND ( NR_ITEM = @NR_ITEM )

      SELECT @cProcesso = @NR_PROCESSO

      UPDATE TLICENCA_IMPORTACAO
      SET    QT_TOTAL_ITEM = @i_item
      WHERE  ( NR_PROCESSO = @NR_PROCESSO )

      FETCH c_itens INTO @NR_ITEM
    END

    CLOSE c_itens 
    DEALLOCATE c_itens

  END
END

RETURN(0)

/*
SELECT * FROM TPREPARA_PO_ITEM WHERE NR_PROCESSO = '0101DT-0002-00'
SELECT * FROM TPO_ITEM WHERE NR_PROCESSO = '4580000067'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
