USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_soma_tributos    Script Date: 02/09/1999 08:58:12 AM ******/
/****** Object:  Stored Procedure dbo.sp_soma_tributos    Script Date: 21/05/1998 15:05:17 ******/
/****** Object:  Stored Procedure dbo.sp_soma_tributos    Script Date: 15/05/1998 18:03:55 ******/
CREATE PROCEDURE [sp_soma_tributos]( @nr_processo char(18) ) AS
declare @vl_tot_ii         float
declare @vl_tot_ipi        float
declare @vl_tot_ad         float
declare @vl_tot_icms       float
declare @vl_tot_siscomex   float
select @vl_tot_ii   = ISNULL( sum( VL_IPT_A_RECOLHER ), 0 ) from tributo where (nr_processo = @nr_processo) and (cd_receita_imposto = '0001' ) 
select @vl_tot_ipi  = ISNULL( sum( VL_IPT_A_RECOLHER ), 0 ) from tributo where (nr_processo = @nr_processo) and (cd_receita_imposto = '0002' ) 
select @vl_tot_ad   = ISNULL( sum( VL_IPT_A_RECOLHER ), 0 ) from tributo where (nr_processo = @nr_processo) and (cd_receita_imposto = '0003' ) 
select @vl_tot_icms = ISNULL( sum( VL_ICMS_A_RECOLHER ), 0 ) from tadicao_de_importacao where (nr_processo = @nr_processo)
Exec sp_calc_taxa_siscomex @nr_processo, @vl_tot_siscomex output
update tdeclaracao_importacao
set VL_TOTAL_II  = Round( @vl_tot_ii, 2 ),
    VL_TOTAL_IPI = Round( @vl_tot_ipi, 2 ),
    VL_TOTAL_AD  = Round( @vl_tot_ad, 2 ),
    VL_TOT_ICMS  = Round( @vl_tot_icms, 2 )
    where (nr_processo = @nr_processo)
if @vl_tot_ii > 0
  If  (select count(*) from TPAGAMENTO_TRIBUTOS 
       where (nr_processo = @nr_processo and CD_RECEITA_PGTO = '0086') ) > 0
    begin
       update TPAGAMENTO_TRIBUTOS 
       set VL_TRIBUTO_PAGO = @vl_tot_ii 
       where (nr_processo = @nr_processo and CD_RECEITA_PGTO = '0086')
    end
  else
    begin
      insert into TPAGAMENTO_TRIBUTOS 
      ( nr_processo, cd_receita_pgto, vl_tributo_pago ) values
      ( @nr_processo, '0086', @vl_tot_ii )
    end
if @vl_tot_ipi > 0
  If  (select count(*) from TPAGAMENTO_TRIBUTOS 
       where (nr_processo = @nr_processo and CD_RECEITA_PGTO = '1038') ) > 0
    begin
       update TPAGAMENTO_TRIBUTOS 
       set VL_TRIBUTO_PAGO = @vl_tot_ipi 
       where (nr_processo = @nr_processo and CD_RECEITA_PGTO = '1038')
    end
  else
    begin
      insert into TPAGAMENTO_TRIBUTOS 
      ( nr_processo, cd_receita_pgto, vl_tributo_pago ) values
      ( @nr_processo, '1038', @vl_tot_ipi )
    end
if @vl_tot_siscomex > 0
  If  (select count(*) from TPAGAMENTO_TRIBUTOS 
       where (nr_processo = @nr_processo and CD_RECEITA_PGTO = '7811') ) > 0
    begin
       update TPAGAMENTO_TRIBUTOS 
       set VL_TRIBUTO_PAGO = @vl_tot_siscomex
       where (nr_processo = @nr_processo and CD_RECEITA_PGTO = '7811')
    end
  else
    begin
      insert into TPAGAMENTO_TRIBUTOS 
      ( nr_processo, cd_receita_pgto, vl_tributo_pago ) values
      ( @nr_processo, '7811', @vl_tot_siscomex )
    end
if @vl_tot_ad > 0
  If  (select count(*) from TPAGAMENTO_TRIBUTOS 
       where (nr_processo = @nr_processo and CD_RECEITA_PGTO = '9999') ) > 0
    begin
       update TPAGAMENTO_TRIBUTOS 
       set VL_TRIBUTO_PAGO = @vl_tot_ad 
       where (nr_processo = @nr_processo and CD_RECEITA_PGTO = '9999')
    end
  else
    begin
      insert into TPAGAMENTO_TRIBUTOS 
      ( nr_processo, cd_receita_pgto, vl_tributo_pago ) values
      ( @nr_processo, '9999', @vl_tot_ad )
    end



GO
