USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_CRIA_ALERTA_GRUPO](@CD_GRUPO CHAR(3)) AS
BEGIN
    DECLARE @TABELA as TABLE (CD_RELATORIO char(5))
    DECLARE @CD_RELATORIO CHAR(5)
    DECLARE @NEW_CD_RELATORIO CHAR(5)
    DECLARE @NM_GRUPO CHAR(50)
   
/*
    BEGIN TRAN
    DECLARE @CD_GRUPO CHAR(3)
    SET @CD_GRUPO = '028'
--*/
    SET @NM_GRUPO=''
    SELECT @NM_GRUPO=LTRIM(RTRIM(NM_GRUPO)) FROM TGRUPO WHERE CD_GRUPO=@CD_GRUPO

    PRINT @NM_GRUPO

    INSERT INTO @TABELA 
    SELECT CD_RELATORIO FROM TRELATORIOS_MAIL_AUT 
    WHERE CD_TIPO_RELATORIO = 'E01'
      AND IN_ATIVO = 1
      AND MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO, 3) = ''

    WHILE (SELECT COUNT(*) FROM @TABELA) <> 0
    BEGIN
        SELECT TOP 1 @CD_RELATORIO=CD_RELATORIO from @TABELA

        SELECT @NEW_CD_RELATORIO = CONVERT(CHAR(5), MAX(CD_RELATORIO)+1)
        FROM TRELATORIOS_MAIL_AUT
        SET @NEW_CD_RELATORIO = REPLICATE('0', 5 - LEN(@NEW_CD_RELATORIO)) + @NEW_CD_RELATORIO 

        INSERT INTO TRELATORIOS_MAIL_AUT (CD_RELATORIO, NM_RELATORIO, TX_RELATORIO, TX_MODELO, CD_TIPO_RELATORIO, IN_ATIVO, IN_FIMDESEMANA,
                                          TP_IDIOMA, CD_VIA_TRANSPORTE, TX_CONFIGURACAO)
        SELECT @NEW_CD_RELATORIO,
              LEFT(LTRIM(RTRIM(ISNULL(NM_RELATORIO, ''))) + ' - ' + @NM_GRUPO, 100),
              LEFT(LTRIM(RTRIM(ISNULL(TX_RELATORIO, ''))) + ' - ' + @NM_GRUPO, 100),
              TX_MODELO,
              'E01',
              '1',
              IN_FIMDESEMANA,
              TP_IDIOMA,
              CD_VIA_TRANSPORTE,
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO,  1 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO,  2 ) + '/' +
              @CD_GRUPO                                        + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO,  4 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO,  5 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO,  6 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO,  7 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO,  8 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO,  9 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO, 10 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO, 11 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO, 12 ) + '/' +
              MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO, 13 ) + '/' 
        FROM TRELATORIOS_MAIL_AUT
        WHERE CD_TIPO_RELATORIO = 'E01'
          AND IN_ATIVO = 1
          AND MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO, 3) = ''
          AND CD_RELATORIO = @CD_RELATORIO

        PRINT '@NEW_CD_RELATORIO: ' + @NEW_CD_RELATORIO
        PRINT '@CD_RELATORIO: ' + @CD_RELATORIO

        -- Apaga usuário do novo relatório, provavelmente relatório excluído e que manteve dados velhos
        IF (SELECT COUNT(*)
            FROM TRELATORIOS_MAIL_AUT_USUARIOS
            WHERE CD_RELATORIO = @NEW_CD_RELATORIO) > 0
            DELETE TRELATORIOS_MAIL_AUT_USUARIOS
            WHERE CD_RELATORIO = @NEW_CD_RELATORIO

        INSERT INTO TRELATORIOS_MAIL_AUT_USUARIOS
        SELECT @NEW_CD_RELATORIO,CD_USUARIO,TX_HORARIOS_ENVIO
        FROM TRELATORIOS_MAIL_AUT_USUARIOS
        WHERE CD_RELATORIO = @CD_RELATORIO
      
      DELETE FROM @TABELA WHERE CD_RELATORIO=@CD_RELATORIO
   END

    /*
    SELECT MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO, 8), TX_CONFIGURACAO, *
    FROM TRELATORIOS_MAIL_AUT
    WHERE MASTER.DBO.FN_EXTRACT_WORD(TX_CONFIGURACAO, 3) = @CD_GRUPO
      AND IN_ATIVO = 1
      AND CD_TIPO_RELATORIO = 'E01'

    ROLLBACK
    --*/
END




GO
