USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_calc_arm_codesp    Script Date: 02/09/1999 08:58:58 AM ******/
/****** Object:  Stored Procedure dbo.sp_calc_arm_codesp    Script Date: 22/11/1998 10:59:48 ******/
CREATE PROCEDURE [sp_calc_arm_codesp]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @vl_cif_dolar       float
DECLARE @vl_cif_mn          float
DECLARE @vl_cif_ton         float
DECLARE @dt_estocagem       datetime
DECLARE @qt_cntr20          float
DECLARE @qt_cntr40          float
DECLARE @pb_cntr20          float
DECLARE @pb_cntr40          float
DECLARE @peso_bruto         float
DECLARE @tx_cambio          float
DECLARE @qt_periodo         int
DECLARE @nr_periodo         int
DECLARE @vl_arm_geral_05_1  float    
DECLARE @vl_arm_geral_05_2  float
DECLARE @vl_arm_geral_05_3  float
DECLARE @vl_arm_geral_10_1  float
DECLARE @vl_arm_geral_10_2  float
DECLARE @vl_arm_geral_10_3  float 
DECLARE @vl_arm_geral_15_1  float 
DECLARE @vl_arm_geral_15_2  float 
DECLARE @vl_arm_geral_15_3  float 
DECLARE @vl_arm_geral_99_1  float 
DECLARE @vl_arm_geral_99_2  float 
DECLARE @vl_arm_geral_99_3  float 
DECLARE @vl_arm_geral_min   float 
DECLARE @vl_arm_granel_1_1  float 
DECLARE @vl_arm_granel_1_2  float 
DECLARE @vl_arm_granel_1_3  float 
DECLARE @vl_arm_granel_9_1  float 
DECLARE @vl_arm_granel_9_2  float 
DECLARE @vl_arm_granel_9_3  float 
DECLARE @pc_iss             float 
DECLARE @vl_minimo          numeric(13,3)
DECLARE @vl_resultado       numeric(13,3)
SELECT  @vl_resultado       = 0
SELECT  @Resultado          = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @vl_cif_dolar = VL_CIF_DOLAR,
       @vl_cif_mn    = VL_CIF_MN,
       @dt_estocagem = DT_ESTOCAGEM
FROM TPROCESSO 
WHERE ( NR_PROCESSO = @nr_processo ) 
IF @@rowcount = 0
  -- Processo nao cadastrado
  RETURN(1)
ELSE
BEGIN
  SELECT @qt_cntr20  = ISNULL( SUM( PE.QT_EMBALAGEM ), 0),
         @pb_cntr40  = ISNULL( SUM( PE.PB_EMBALAGEM ), 0)
  FROM TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
  WHERE PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
        E.CD_TIPO IN ('2','4')
  SELECT @qt_cntr40 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0),
         @pb_cntr40 = ISNULL( SUM( PE.PB_EMBALAGEM ), 0)
  FROM TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
  WHERE PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
        E.CD_TIPO IN ('3','5')
  SELECT @peso_bruto = ISNULL( SUM( PE.PB_EMBALAGEM ), 0)
  FROM TPROCESSO_EMBALAGEM PE,
       TEMBALAGEM E
  WHERE PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
        E.CD_TIPO IN ('1','6')
  IF ( ( ( @qt_cntr20 + @qt_cntr40 ) > 0 ) AND ( ( @pb_cntr20 + @pb_cntr40 ) = 0 ) ) OR
       ( ( @qt_cntr20 + @qt_cntr40 ) = 0 AND ( @peso_bruto = 0 ) ) 
  BEGIN
    --Peso Bruto nao informado
    RETURN(2)
  END
  ELSE
  BEGIN
    -- PESQUISA TAXA DA CODESP
    SELECT @nr_periodo         = ISNULL( NR_PERIODO, 0),
           @vl_arm_geral_05_1  = ISNULL( VL_ARM_GERAL_05_1, 0),
           @vl_arm_geral_05_2  = ISNULL( VL_ARM_GERAL_05_2, 0),
           @vl_arm_geral_05_3  = ISNULL( VL_ARM_GERAL_05_3, 0),
           @vl_arm_geral_10_1  = ISNULL( VL_ARM_GERAL_10_1, 0),
           @vl_arm_geral_10_2  = ISNULL( VL_ARM_GERAL_10_2, 0),
           @vl_arm_geral_10_3  = ISNULL( VL_ARM_GERAL_10_3, 0),
           @vl_arm_geral_15_1  = ISNULL( VL_ARM_GERAL_15_1, 0),
           @vl_arm_geral_15_2  = ISNULL( VL_ARM_GERAL_15_2, 0),
           @vl_arm_geral_15_3  = ISNULL( VL_ARM_GERAL_15_3, 0),
           @vl_arm_geral_99_1  = ISNULL( VL_ARM_GERAL_99_1, 0),
           @vl_arm_geral_99_2  = ISNULL( VL_ARM_GERAL_99_2, 0),
           @vl_arm_geral_99_3  = ISNULL( VL_ARM_GERAL_99_3, 0),
           @vl_arm_geral_min   = ISNULL( VL_ARM_GERAL_MIN, 0),
           @vl_arm_granel_1_1  = ISNULL( VL_ARM_GRANEL_1_1, 0),
           @vl_arm_granel_1_2  = ISNULL( VL_ARM_GRANEL_1_2, 0),
           @vl_arm_granel_1_3  = ISNULL( VL_ARM_GRANEL_1_3, 0),
           @vl_arm_granel_9_1  = ISNULL( VL_ARM_GRANEL_9_1, 0),
           @vl_arm_granel_9_2  = ISNULL( VL_ARM_GRANEL_9_2, 0),
           @vl_arm_granel_9_3  = ISNULL( VL_ARM_GRANEL_9_3, 0),
           @pc_iss             = ISNULL( PC_ISS, 0)
    FROM TTAXA_CODESP
    IF @@rowcount = 0
    BEGIN
      -- Taxa CODESP nao informado
      RETURN(3)
    END
    ELSE
    BEGIN
      SELECT @tx_cambio = ISNULL( TX_CAMBIO, 0)
      FROM TTAXA_CAMBIO
      WHERE CD_MOEDA = '220' AND
            DT_INICIO_VIGENCIA <= GETDATE() AND
            DT_TERMINO_VIGENCIA >= GETDATE()
      IF @@rowcount = 0
      BEGIN
        -- Taxa Cambio nao informada
        RETURN(4)
      END
      ELSE
      BEGIN
        -- CALCULA ARMAZENAGEM CODESP
        SELECT @qt_periodo = DATEDIFF( day, @dt_estocagem, GETDATE() )
        SELECT @qt_periodo = ROUND( (@qt_periodo / @nr_periodo ) + .5, 0)
        SELECT @vl_cif_ton = @vl_cif_dolar / ( ( @pb_cntr20 + @pb_cntr40) / 1000 )
        IF ( @qt_cntr20 + @qt_cntr40 ) > 0
        BEGIN
          IF @vl_cif_ton <= 5000
          BEGIN
            SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_05_1 )
            IF @qt_periodo > 1
            BEGIN
              SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_05_2 )
              SELECT @qt_periodo   = @qt_periodo - 2
              SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_05_3 )
            END
          END
          ELSE
          BEGIN
            IF @vl_cif_ton <= 10000
            BEGIN
              SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_10_1 )
              IF @qt_periodo > 1
              BEGIN
                SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_10_2 )
                SELECT @qt_periodo   = @qt_periodo - 2
                SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_10_3 )
              END
            END
            ELSE
            BEGIN
              IF @vl_cif_ton <= 15000
              BEGIN
                SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_15_1 )
                IF @qt_periodo > 1
                BEGIN
                  SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_15_2 )
                  SELECT @qt_periodo   = @qt_periodo - 2
                  SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_15_3 )
                END
              END
              ELSE
              BEGIN
                SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_99_1 )
                IF @qt_periodo > 1
                BEGIN
                  SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_99_2 )
                  SELECT @qt_periodo   = @qt_periodo - 2
                  SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_geral_99_3 )
                END
              END
            END
          END
          SELECT @vl_resultado = ROUND ( @vl_resultado, 2)
          SELECT @vl_minimo    = ROUND ( ( ( @qt_cntr20 + @qt_cntr40) * @vl_arm_geral_min * @tx_cambio ), 2)
          IF @vl_minimo > @vl_resultado SELECT @vl_resultado = @vl_minimo
        END
        ELSE
        BEGIN
          IF @vl_cif_ton <= 100
          BEGIN
            SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_granel_1_1 )
            IF @qt_periodo > 1
            BEGIN
              SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_granel_1_2 )
              SELECT @qt_periodo   = @qt_periodo - 2
              SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_granel_1_3 )
            END
          END
          ELSE
          BEGIN
            SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_granel_9_1 )
            IF @qt_periodo > 1
            BEGIN
              SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_granel_9_2 )
              SELECT @qt_periodo   = @qt_periodo - 2
              SELECT @vl_resultado = @vl_resultado + ( @vl_cif_mn * @vl_arm_granel_1_3 )
            END
          END
          SELECT @vl_resultado = ROUND ( @vl_resultado, 2)
        END
        SELECT @vl_resultado = ROUND ( ( @vl_resultado * ( 1 + @pc_iss ) ), 2)
        -- RETORNA O CALCULO
        SELECT @Resultado = @vl_resultado
        RETURN(0)
      END
    END   
  END
END



GO
