USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [sp_distribui_pagamento] ( @dt_pagto datetime, @dt_canc datetime, @nr_ref char(3), @tp_destino char(1) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @dt_pagto datetime
DECLARE @dt_canc datetime
DECLARE @nr_ref char(3)
DECLARE @tp_destino char(1)


SELECT @dt_pagto   = CONVERT( datetime, '31/07/2001', 103 ),
       @nr_ref     = '001',
       @tp_destino = '4'
--*/

DECLARE @cd_coligada      char(2)
DECLARE @cd_unid_neg      char(2)

DECLARE @nr_processo      char(18)
DECLARE @nr_lancamento	  char(3)
DECLARE @cd_item	  char(3)
DECLARE @cd_item_pagto_sd char(3)
DECLARE @vl_pagto 	  float
DECLARE @cd_status	  char(2)
DECLARE @cd_favorecido	  char(5)
DECLARE @cd_banco 	  char(3)
DECLARE @cd_despachante	  char(3)
DECLARE @nr_docto	  char(10)
DECLARE @in_transf_fin    char(1)
DECLARE @nr_ctaapagar     int
DECLARE @cd_usuario       char(3)
DECLARE @cd_ct_contabil   char(10)
DECLARE @nr_ult_lanc      int
DECLARE @nr_ult_cta       char(3) 

SELECT @cd_coligada = '01'
SELECT @nr_ult_cta = ''

SELECT @cd_item_pagto_sd = CD_ITEM_PAGTO_SD 
FROM   TPARAMETROS (NOLOCK)

DECLARE c_pagto CURSOR FOR
  SELECT NR_PROCESSO, NR_LANCAMENTO, CD_ITEM, ( VL_PAGTO - VL_DESCONTO ) VL_PAGTO, DT_PAGTO, CD_STATUS, CD_FAVORECIDO, 
         CD_BANCO, NR_DOCTO, IN_TRANSF_FIN
  FROM   TSOLIC_PAGTO S (NOLOCK)
  WHERE  NR_REF = @nr_ref AND
         DT_PAGTO = @dt_pagto AND
         TP_DESTINO = @tp_destino AND
         IN_TRANSF_FIN = '0' AND
         ( ( ( TP_DESTINO = '2' ) AND ( ISNULL( NR_DOCTO, '' ) <> '' ) ) OR ( TP_DESTINO <> '2' ) ) AND 
         ( ( SELECT ( VL_PAGTO - VL_DESCONTO ) VL_PAGTO
             FROM   TSOLIC_PAGTO P (NOLOCK)
             WHERE  P.NR_PROCESSO = S.NR_PROCESSO AND
                    S.NR_LANCAMENTO = P.NR_LANCAMENTO AND
                    S.CD_ITEM = P.CD_ITEM AND
                    P.CD_STATUS IN ( '4', '7', '8', '9', '10', '11', '16') AND
                    IN_TRANSF_FIN = '0'
            ) > 0 ) AND
          ( SELECT ( VL_PAGTO - VL_DESCONTO ) VL_PAGTO
            FROM   TSOLIC_PAGTO P (NOLOCK)
            WHERE  P.NR_PROCESSO = S.NR_PROCESSO AND
                   S.NR_LANCAMENTO = P.NR_LANCAMENTO AND
                   S.CD_ITEM = P.CD_ITEM AND
                   P.CD_STATUS IN ( '4', '7', '8', '9', '10', '11', '16') AND
                    IN_TRANSF_FIN = '0'
          ) IS NOT NULL

OPEN c_pagto
FETCH c_pagto INTO 
  @nr_processo, @nr_lancamento, @cd_item, @vl_pagto, @dt_pagto, @cd_status, @cd_favorecido, @cd_banco, @nr_docto, @in_transf_fin

WHILE @@fetch_status <> -1
BEGIN
  SELECT @cd_unid_neg = CD_UNID_NEG
  FROM   TPROCESSO (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo       

  IF @nr_ult_cta = ''
  BEGIN
    -- query do ult numero Contas a Pagar
    SELECT @nr_ult_cta = ISNULL( CONVERT( integer, MAX( NR_CTAAPAGAR ) ) + 1, '001' )
    FROM   TCTAAPAGAR (NOLOCK)
    WHERE  CD_UNID_NEG  = @cd_unid_neg AND
           DT_CTAAPAGAR = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )
    SELECT @nr_ult_cta = RIGHT('000' + RTRIM(LTRIM(@nr_ult_cta)), 3)
  END
  
  SELECT @cd_despachante = ''
  SELECT @cd_despachante = CD_DESPACHANTE
  FROM   TPROCESSO_SDA (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo AND
         @cd_item IN ( SELECT CD_ITEM_SDA FROM TPARAMETROS  (NOLOCK))

  SELECT @nr_ult_lanc = CONVERT( INT, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) )
  FROM   TCAIXA (TABLOCK HOLDLOCK)
  WHERE  DT_MOVIMENTO = @dt_canc

  IF @tp_destino <> '4' -- Contas a Pagar
  BEGIN
    INSERT TCAIXA
      ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, 
        IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_CHEQUE, CD_FAVORECIDO,
        NR_PROCESSO, CD_ITEM, IN_RESTITUI, CD_DESPACHANTE, IN_CONCILIACAO )
      SELECT '01', @dt_canc, 
             RIGHT( '000000' + CONVERT( varchar, ( ISNULL( @nr_ult_lanc, 0 ) + 1 ) ), 6 ),
             @cd_unid_neg, 'F', '1', '0', '0',
             CASE 	
               WHEN CD_STATUS IN ( '4', '17') THEN 'ESTORNO'
               ELSE NULL
             END,
             ( VL_PAGTO - VL_DESCONTO ), 
             CASE TP_DESTINO
               WHEN '2' THEN 
                 CASE IN_TED 
                   WHEN '0' THEN 'C'
                   ELSE 'T'
                 END
               WHEN '3' THEN 'D'
             END,
             CASE 	
               WHEN CD_STATUS IN ( '4', '17' ) THEN 'C'
               ELSE 'D'
             END,
             CD_BANCO, NR_DOCTO, CD_FAVORECIDO, NR_PROCESSO, CD_ITEM,
             CASE 	
               WHEN CD_STATUS IN ( '4', '17') THEN '1'
               ELSE '0'
             END,
             @cd_despachante, '2'
      FROM   TSOLIC_PAGTO (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo AND 
             NR_LANCAMENTO = @nr_lancamento AND 
             CD_ITEM = @cd_item AND 
             TP_DESTINO = @tp_destino AND 
             IN_TRANSF_FIN = '0'
		DECLARE @cd_ct_caixa char(3)
		SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco

		EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_pagto, @cd_ct_caixa
  END
  ELSE  BEGIN    
    SELECT @cd_usuario = CD_USUARIO
    FROM   TUSUARIO (NOLOCK)
    WHERE  AP_USUARIO  = SUSER_NAME()

    IF ( NOT EXISTS( SELECT NR_CTAAPAGAR 
                     FROM   TCTAAPAGAR (NOLOCK)
                     WHERE  CD_UNID_NEG  = @cd_unid_neg AND 
                            DT_CTAAPAGAR = @dt_pagto    AND 
                            NR_CTAAPAGAR = @nr_ult_cta ) ) 
    BEGIN   
      INSERT TCTAAPAGAR 
      ( CD_UNID_NEG, DT_CTAAPAGAR, DT_VENCIMENTO, NR_CTAAPAGAR, CD_FORNECEDOR, CD_FAVORECIDO, CD_USUARIO, CD_BANCO, TP_PAGAMENTO, VL_DESPESA, VL_DESCONTO, NM_HISTORICO, IN_OPERACIONAL, IN_DISTRIBUICAO, NR_REF ) 
      SELECT @cd_unid_neg, @dt_pagto, CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ), @nr_ult_cta, CD_FAVORECIDO, CD_FAVORECIDO, @cd_usuario, CD_BANCO, 'C', VL_PAGTO, VL_DESCONTO, '', '1', '1', @nr_ref
      FROM TSOLIC_PAGTO (NOLOCK)
      WHERE  NR_PROCESSO   = @nr_processo   AND 
             NR_LANCAMENTO = @nr_lancamento AND   
             CD_ITEM       = @cd_item       AND 
             TP_DESTINO    = @tp_destino    AND 
             IN_TRANSF_FIN = '0'  
    END
    ELSE
    BEGIN   
      UPDATE TCTAAPAGAR
      SET VL_DESPESA = VL_DESPESA + ( SELECT VL_PAGTO 
                                      FROM  TSOLIC_PAGTO  (NOLOCK)
                                      WHERE  NR_PROCESSO   = @nr_processo   AND 
                                             NR_LANCAMENTO = @nr_lancamento AND   
                                             CD_ITEM       = @cd_item       AND 
                                             TP_DESTINO    = @tp_destino    AND 
                                             IN_TRANSF_FIN = '0'  )
      WHERE CD_UNID_NEG  = @cd_unid_neg AND 
            DT_CTAAPAGAR = @dt_pagto    AND             
            NR_CTAAPAGAR = @nr_ult_cta
    END

    SELECT @cd_ct_contabil = E.CD_CT_CONTABIL
    FROM TEMPRESA_NAC E (NOLOCK), TPROCESSO P (NOLOCK)
    WHERE P.NR_PROCESSO = @nr_processo AND
          E.CD_EMPRESA  = P.CD_CLIENTE

    IF NOT EXISTS( SELECT NR_CTAAPAGAR
                   FROM   TCTAAPAGAR_LANC (NOLOCK)
                   WHERE  CD_UNID_NEG    = @cd_unid_neg   AND 
                          DT_CTAAPAGAR   = @dt_pagto      AND   
                          NR_CTAAPAGAR   = @nr_ult_cta    AND 
                          CD_CT_CONTABIL = @cd_ct_contabil ) 
    BEGIN
      INSERT TCTAAPAGAR_LANC 
        ( CD_UNID_NEG, NR_CTAAPAGAR, DT_CTAAPAGAR, VL_LANCAMENTO, CD_CT_CONTABIL, CD_CT_CUSTO, CD_FILIAL ) 
        SELECT @cd_unid_neg, @nr_ult_cta, @dt_pagto, VL_PAGTO, @cd_ct_contabil, '', @cd_unid_neg
        FROM TSOLIC_PAGTO (NOLOCK)
        WHERE  NR_PROCESSO   = @nr_processo   AND 
               NR_LANCAMENTO = @nr_lancamento AND   
               CD_ITEM       = @cd_item       AND 
               TP_DESTINO    = @tp_destino    AND 
               IN_TRANSF_FIN = '0'  
    END
    ELSE
    BEGIN
      UPDATE TCTAAPAGAR_LANC 
      SET    VL_LANCAMENTO = VL_LANCAMENTO + ( SELECT VL_PAGTO 
                                               FROM   TSOLIC_PAGTO (NOLOCK)
                                               WHERE  NR_PROCESSO   = @nr_processo   AND 
                                                      NR_LANCAMENTO = @nr_lancamento AND   
                                                      CD_ITEM       = @cd_item       AND 
                                                      TP_DESTINO    = @tp_destino    AND 
                                                      IN_TRANSF_FIN = '0' )
      WHERE  CD_UNID_NEG    = @cd_unid_neg   AND 
             DT_CTAAPAGAR   = @dt_pagto      AND   
             NR_CTAAPAGAR   = @nr_ult_cta    AND 
             CD_CT_CONTABIL = @cd_ct_contabil
    END
    
    INSERT TCTAAPAGAR_LANC_PROCESSO 
      ( CD_UNID_NEG, NR_CTAAPAGAR, CD_CT_CONTABIL, DT_CTAAPAGAR, NR_PROCESSO, NR_LANC_SOLIC_PAGTO, CD_ITEM_SOLIC_PAGTO )
      SELECT @cd_unid_neg, @nr_ult_cta, @cd_ct_contabil, @dt_pagto, @nr_processo, @nr_lancamento, @cd_item 
  END 

  UPDATE TSOLIC_PAGTO
  SET    IN_TRANSF_FIN = '1'
  WHERE  NR_PROCESSO = @nr_processo AND 
         NR_LANCAMENTO = @nr_lancamento AND 
         CD_ITEM = @cd_item AND 
         TP_DESTINO = @tp_destino AND 
         IN_TRANSF_FIN = '0'

  EXEC sp_atz_fat_cc @cd_coligada, @dt_canc

  FETCH c_pagto INTO 
    @nr_processo, @nr_lancamento, @cd_item, @vl_pagto, @dt_pagto, @cd_status, @cd_favorecido, @cd_banco, @nr_docto, @in_transf_fin
END
CLOSE c_pagto
DEALLOCATE c_pagto

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/










GO
