USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_GRAVA_LOG](@NM_LOGIN VARCHAR(100), @NM_TABELA VARCHAR(100), @NM_OPERACAO VARCHAR(20), @QT_REGISTROS INT, @CHAVES VARCHAR(1000), @TX_INFORMACOES TEXT = NULL) AS
BEGIN
    /*
    DECLARE @NM_LOGIN VARCHAR(100)
    DECLARE @NM_TABELA VARCHAR(100)
    DECLARE @NM_OPERACAO VARCHAR(20)
    DECLARE @QT_REGISTROS INT

    SET @NM_LOGIN     = 'MF'
    SET @NM_TABELA    = 'TLOG'
    SET @NM_OPERACAO  = 'INSERT'
    SET @QT_REGISTROS = 3
    --*/

    
    DECLARE @UID_USUARIO   INT
    DECLARE @UID_TABELA    INT
    DECLARE @CD_OPERACAO   CHAR
    DECLARE @CD_COMPUTADOR INT

    /*
    SELECT @UID_USUARIO = UID
    FROM SYS.SYSUSERS
    WHERE NAME = @NM_LOGIN

    SELECT @UID_TABELA = OBJECT_ID
    FROM SYS.TABLES
    WHERE NAME = @NM_TABELA

    SET @CD_OPERACAO = CASE @NM_OPERACAO
                           WHEN 'INSERT' THEN 'I'
                           WHEN 'DELETE' THEN 'E'
                           WHEN 'UPDATE' THEN 'A'
                       ELSE 'X'
                       END

    INSERT INTO TLOG(UID_USUARIO, UID_TABELA, CD_OPERACAO, QT_REGISTROS, DT_OPERACAO, NM_COMPUTADOR, DS_CHAVES, NM_USUARIO, TX_INFORMACOES)
    VALUES(@UID_USUARIO, @UID_TABELA, @CD_OPERACAO, @QT_REGISTROS, GETDATE(), HOST_NAME(), @CHAVES, SUSER_NAME(), @TX_INFORMACOES)

    --SELECT @UID_USUARIO, @UID_TABELA, @CD_OPERACAO, @QT_REGISTROS, GETDATE()
    --*/
END





GO
