USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_insere_ato */
CREATE    PROCEDURE [sp_insere_ato] (@nr_forecast CHAR(14)) AS
DECLARE @cd_usuario  char(4)
BEGIN

  SELECT @cd_usuario = CD_USUARIO
  FROM TFORECAST (NOLOCK)

  DELETE FROM TATO_CONC_SUSP where NR_FORECAST = @nr_forecast

  INSERT INTO TATO_CONC_SUSP (NR_FORECAST, CD_USUARIO, CD_DELEGACIA, DT_EMISSAO, 
			      DT_VIGENCIA, IN_PROD_EXP, IN_PROD_FORN, TP_SIT_ATO_CONC, 
			      IN_STATUS_DB, IN_BAIXA_FINAL, DT_VENCTO_FINAL )
  VALUES
    (@nr_forecast, @cd_usuario, '01', getdate(), dateadd(day,180,getdate()), '0', '0', '2', '1', '0', dateadd(year,2,getdate()))

END

GO
