USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_calc_energia_tra]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_armazem               char(4)
DECLARE @dt_descarga              datetime
DECLARE @qt_cntr20                float
DECLARE @qt_cntr40                float
DECLARE @vl_energia_cntr_fixo     float     
DECLARE @vl_energia_cntr_20       float    
DECLARE @vl_energia_cntr_40       float    
DECLARE @pc_iss                   float
DECLARE @vl_resultado             numeric (13,3)
SELECT  @Resultado                = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_armazem       = CD_ARMAZEM_DESCARGA,
       @dt_descarga      = DT_DESCARGA
FROM   TPROCESSO 
WHERE  ( NR_PROCESSO = @nr_processo ) 
IF @@rowcount = 0
BEGIN
  -- Processo nao cadastrado
  RETURN(1)
END
ELSE
BEGIN
  SELECT @qt_cntr20 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 )
  FROM   TPROCESSO_EMBALAGEM PE,
         TEMBALAGEM E
  WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
         E.CD_TIPO = '4'
  SELECT @qt_cntr40 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 )
  FROM   TPROCESSO_EMBALAGEM PE,
         TEMBALAGEM E
  WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
         E.CD_TIPO = '5'
  -- PESQUISA TAXA DO TRA
  SELECT @vl_energia_cntr_fixo  = ISNULL( VL_ENERGIA_CNTR_FIXO, 0 ),
         @vl_energia_cntr_20    = ISNULL( VL_ENERGIA_CNTR_20, 0 ), 
         @vl_energia_cntr_40    = ISNULL( VL_ENERGIA_CNTR_40, 0 ), 
         @pc_iss                = ISNULL( PC_ISS, 0 )
  FROM   TARMAZEM A,
         TTAXA_TRA T
  WHERE  A.CD_ARMAZEM   = @cd_armazem AND
         A.CD_TAXA      = T.CD_TAXA_TRA
  IF @@rowcount = 0
  BEGIN
    -- Taxa TRA nao cadastrada
    RETURN(2)
  END
  ELSE
  BEGIN
    -- CALCULA ENERGIA TRA
    SELECT @vl_resultado = ROUND ( ( ( @vl_energia_cntr_fixo +
                                     ( @qt_cntr20 * @vl_energia_cntr_20 ) +
                                     ( @qt_cntr40 * @vl_energia_cntr_40 ) ) * 
                                   ( DATEDIFF ( day, @dt_descarga, GETDATE() ) + 10 ) ) , 2 )  
    SELECT @vl_resultado = ROUND ( ( @vl_resultado * ( 1 + @pc_iss ) ), 2 )
    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
    RETURN(0)
  END     
END



GO
