USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_contabil    Script Date: 02/09/1999 08:57:47 AM ******/
CREATE PROCEDURE [sp_atz_contabil] AS

DELETE TCONTABIL_PLANO
INSERT INTO TCONTABIL_PLANO
SELECT RIGHT( ( '0' + CONVERT( varchar(2), CODCOLIGADA ) ), 2 ), 
       SUBSTRING( CODCONTA, 1, 1 ) + SUBSTRING( CODCONTA, 3, 1 ) + SUBSTRING( CODCONTA, 5, 1 ) + SUBSTRING( CODCONTA, 7, 2 ) + SUBSTRING( CODCONTA, 10, 2 ) + SUBSTRING( CODCONTA, 13, 3 ),
       DESCRICAO, CONVERT( varchar(1), RATEIO )
FROM   CORPORE..CCONTA
WHERE  ANALITICA = 1 AND LEN( CODCONTA ) <= 15

DELETE TCONTABIL_HISTORICO
INSERT INTO TCONTABIL_HISTORICO
SELECT RIGHT( ( '0' + CONVERT( varchar(2), CODCOLIGADA ) ), 2 ), 
       RIGHT( ( '00000000' + CODHISTP ), 8 ), DESCRICAO, 
       CONVERT( varchar(1), COMPOBRIG )
FROM   CORPORE..CHISTP
WHERE  LEN( CODHISTP ) <= 15

DELETE TCONTABIL_GERENCIAL
INSERT INTO TCONTABIL_GERENCIAL
SELECT RIGHT( ( '0' + CONVERT( varchar(2), CODCOLIGADA ) ), 2 ), 
       SUBSTRING( CODCONTA, 1, 1 ) + SUBSTRING( CODCONTA, 3, 1 ) + SUBSTRING( CODCONTA, 5, 2 ),
       SUBSTRING( DESCRICAO, 1, 20 )
FROM   CORPORE..CGERENCIA
WHERE  ANALITICA = 1 

DELETE TCONTABIL_DISTRIBUICAO
INSERT INTO TCONTABIL_DISTRIBUICAO
SELECT RIGHT( ( '0' + CONVERT( varchar(2), CODCOLIGADA ) ), 2 ), 
       SUBSTRING( CODCONTA, 1, 1 ) + SUBSTRING( CODCONTA, 3, 1 ) + SUBSTRING( CODCONTA, 5, 2 ) + SUBSTRING( CODCONTA, 8, 4 ),
       SUBSTRING( CODGERENCIAL, 1, 1 ) + SUBSTRING( CODGERENCIAL, 3, 1 ) + SUBSTRING( CODGERENCIAL, 5, 2 ),
       PERCENTUAL          
FROM   CORPORE..CRATEIOPC

DELETE TCONTABIL_CUSTO
INSERT INTO TCONTABIL_CUSTO
SELECT RIGHT( ( '0'+ CONVERT( varchar(2), CODCOLIGADA ) ), 2 ), 
       SUBSTRING( CODCCUSTO, 1, 1 ) + SUBSTRING( CODCCUSTO, 3, 2 ), NOME
FROM   CORPORE..GCCUSTO
WHERE  SUBSTRING( CODCCUSTO, 2, 1 ) = '.'


GO
