USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [sp_rel_pagto] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                         @cd_favorecido char(5), @cd_grupo_item char(2), @cd_item char(3), @cd_usuario char(4),
			 @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_favorecido char(5)
DECLARE @cd_grupo_item char(2)
DECLARE @cd_item char(3)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @cd_usuario char(4)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @cd_favorecido = 'X'
SELECT @cd_grupo_item = 'X'
SELECT @cd_item = 'X'
SELECT @cd_usuario = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/11/2000', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/12/2000', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_PAGTO

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

INSERT TREL_PAGTO ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, CD_CLIENTE, CD_FAVORECIDO, CD_ITEM, NR_CHEQUE, DT_PAGTO, CD_BANCO, CD_USUARIO, VL_LANCAMENTO )
SELECT @nr_identificador, ISNULL( P.CD_UNID_NEG, 'XX' ), ISNULL( P.CD_PRODUTO, 'XX' ), F.NR_PROCESSO, ISNULL( E.CD_EMPRESA, 'XXXXX' ) CD_CLIENTE, 
       ISNULL( F.CD_FAVORECIDO, 'XXXXX' ) CD_FAVORECIDO, ISNULL( F.CD_ITEM, 'XXX' ), 
       MAX( ISNULL( F.NR_CHEQUE, 'X' ) ) AS NR_CHEQUE, F.DT_LANCAMENTO DT_PAGTO, MAX( F.CD_BANCO ),
       ( SELECT MIN( CD_USUARIO_SOLIC )
         FROM   TSOLIC_PAGTO S
         WHERE  F.NR_PROCESSO = S.NR_PROCESSO AND
                MAX( F.NR_CHEQUE ) = S.NR_DOCTO AND
                F.CD_ITEM = S.CD_ITEM AND
                S.CD_STATUS = '7' ), 
       ROUND( SUM( CASE F.IN_RESTITUI 
                     WHEN '0' THEN ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) )
                     ELSE ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) * (-1)
                   END ), 2 ) VL_LANCAMENTO
FROM   TFATURAMENTO_CC F,
       TPROCESSO P,
       TEMPRESA_NAC E,
       TGRUPO_ITEM_ITEM G
WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       F.CD_ITEM = G.CD_ITEM AND
       ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       ( ( F.CD_FAVORECIDO = @cd_favorecido ) OR ( @cd_favorecido = 'X' ) ) AND
       ( ( G.CD_GRUPO_ITEM = @cd_grupo_item ) OR ( @cd_grupo_item = 'X' ) ) AND
       ( ( F.CD_ITEM = @cd_item ) OR ( @cd_item = 'X' ) ) AND
       P.CD_UNID_NEG = @cd_unid_neg AND
       F.DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim AND
       P.IN_CANCELADO = '0' AND
       F.IN_CANCELADO = '0' AND
       F.CD_FORMA_PAGTO IN ( '$', 'T', 'C', 'D', 'S' ) AND
       ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND
       ( ( @cd_usuario IN ( SELECT MIN( CD_USUARIO_SOLIC )
                            FROM   TSOLIC_PAGTO S
                            WHERE  F.NR_PROCESSO = S.NR_PROCESSO AND
                                   F.NR_CHEQUE = S.NR_DOCTO AND
                                   F.CD_ITEM = S.CD_ITEM AND
                                   S.CD_STATUS = '7' ) ) OR
         ( @cd_usuario = 'X' ) ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT   FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI  FROM TPARAMETROS )
GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, F.NR_PROCESSO, E.CD_EMPRESA, F.CD_FAVORECIDO, F.CD_ITEM, /*ISNULL( F.NR_CHEQUE, 'X' ), */F.DT_LANCAMENTO/*, F.CD_BANCO*/
HAVING ROUND( SUM( CASE F.IN_RESTITUI 
                     WHEN '0' THEN ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) 
                     ELSE ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) * (-1)
                   END ), 2 ) > 0
                   


GO
