USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_calc_carregamento_tra]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_armazem_descarga  char(4)
DECLARE @cd_armazem_atracacao char(4)
DECLARE @cd_margem_atracacao  char(1)
DECLARE @cd_margem_descarga   char(1)
DECLARE @cd_embarcacao        char(4)
DECLARE @in_merc_perigosa     char(1)
DECLARE @qt_cntr20            float
DECLARE @qt_cntr40            float
DECLARE @peso_bruto           float
DECLARE @vl_carr_cntr_20_mm   float
DECLARE @vl_carr_cntr_20_mo   float
DECLARE @vl_carr_cntr_40_mm   float
DECLARE @vl_carr_cntr_40_mo   float
DECLARE @vl_carr_c_solta_mm   float
DECLARE @vl_carr_c_solta_mo   float
DECLARE @vl_carr_min          float
DECLARE @pc_acr_carr_perigo   float
DECLARE @pc_iss               float
DECLARE @vl_resultado         numeric (13,3)
SELECT  @Resultado           = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_armazem_atracacao = CD_ARMAZEM_ATRACACAO,
       @cd_armazem_descarga  = CD_ARMAZEM_DESCARGA,
       @in_merc_perigosa     = IN_MERC_PERIGOSA
FROM   TPROCESSO
WHERE  ( NR_PROCESSO = @nr_processo ) 
IF @@rowcount = 0
BEGIN
  -- Processo nao cadastrado
  RETURN(1)
END
ELSE
BEGIN
  SELECT @qt_cntr20 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 )
  FROM   TPROCESSO_EMBALAGEM PE,
         TEMBALAGEM E
  WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
         E.CD_TIPO IN ('2','4')
  SELECT @qt_cntr40 = ISNULL( SUM( PE.QT_EMBALAGEM ), 0 )
  FROM   TPROCESSO_EMBALAGEM PE,
         TEMBALAGEM E
  WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
         E.CD_TIPO IN ('3','5')
  SELECT @peso_bruto = ISNULL( SUM( PE.PB_EMBALAGEM ), 0 )
  FROM   TPROCESSO_EMBALAGEM PE,
         TEMBALAGEM E
  WHERE  PE.CD_EMBALAGEM = E.CD_EMBALAGEM AND
         E.CD_TIPO IN ('1','6')
  -- PESQUISA TAXA DO TRA
  SELECT @vl_carr_cntr_20_mm   = ISNULL( VL_CARR_CNTR_20_MM, 0 ), 
         @vl_carr_cntr_20_mo   = ISNULL( VL_CARR_CNTR_20_MO, 0 ), 
         @vl_carr_cntr_40_mm   = ISNULL( VL_CARR_CNTR_40_MM, 0 ), 
         @vl_carr_cntr_40_mo   = ISNULL( VL_CARR_CNTR_40_MO, 0 ), 
         @vl_carr_c_solta_mm   = ISNULL( VL_CARR_C_SOLTA_MM, 0 ), 
         @vl_carr_c_solta_mo   = ISNULL( VL_CARR_C_SOLTA_MO, 0 ), 
         @vl_carr_min          = ISNULL( VL_CARR_MIN, 0 ),
         @pc_acr_carr_perigo   = ISNULL( PC_ACR_CARR_PERIGO, 0 ),
         @pc_iss               = ISNULL( PC_ISS, 0 ), 
         @cd_margem_descarga   = CD_MARGEM
  FROM   TARMAZEM A,
         TTAXA_TRA T
  WHERE  A.CD_ARMAZEM   = @cd_armazem_descarga AND
         A.CD_TAXA      = T.CD_TAXA_TRA
  IF @@rowcount = 0
  BEGIN
    -- Taxa TRA nao cadastrada
    RETURN(2)
  END
  ELSE
  BEGIN
    SELECT @cd_margem_atracacao = CD_MARGEM
    FROM   TARMAZEM
    WHERE  CD_ARMAZEM = @cd_armazem_atracacao
    IF @@rowcount = 0
    BEGIN
      -- Armazem nao cadastrado
      RETURN(3)
    END
    ELSE
    BEGIN
       -- CALCULA CARREGAMENTO TRA
      IF ( @qt_cntr20 + @qt_cntr40 ) > 0
      BEGIN 
        IF @cd_margem_atracacao = @cd_margem_descarga 
        BEGIN
          SELECT @vl_resultado = ROUND ( ( ( @qt_cntr20 * @vl_carr_cntr_20_mm) +
                                           ( @qt_cntr40 * @vl_carr_cntr_40_mm) ) , 2 )
        END
        ELSE
        BEGIN
          SELECT @vl_resultado = ROUND ( ( ( @qt_cntr20 * @vl_carr_cntr_20_mo) +
                                           ( @qt_cntr40 * @vl_carr_cntr_40_mo) ) , 2 )
        END
      END
      ELSE
      BEGIN
        IF @cd_margem_atracacao = @cd_margem_descarga 
        BEGIN
          SELECT @vl_resultado = ROUND ( ( @peso_bruto * @vl_carr_c_solta_mm / 1000 ) , 2 )
        END
        ELSE
        BEGIN
          SELECT @vl_resultado = ROUND ( ( @peso_bruto * @vl_carr_c_solta_mo / 1000 ) , 2 )
        END
        IF @vl_resultado < @vl_carr_min
          SELECT @vl_resultado = @vl_carr_min
      END
      IF @in_merc_perigosa = '1'
         SELECT @vl_resultado = ROUND ( ( @vl_resultado * ( 1 + @pc_acr_carr_perigo ) ), 2 )
      SELECT @vl_resultado = ROUND ( ( @vl_resultado * ( 1 + @pc_iss ) ), 2 )
      -- RETORNA O CALCULO
      SELECT @Resultado = @vl_resultado
      RETURN(0)
    END
  END     
END



GO
