USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_calc_fecp] ( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @vl_fecp FLOAT-- fundo de pobreza
/*    
SET XACT_ABORT ON    
BEGIN TRAN    
DECLARE @nr_processo char(18)    
declare @Resultado float
SELECT @nr_processo = '0201ia-0045-10'    
*/

--CALCULA FECP
IF SUBSTRING(@NR_PROCESSO, 1,2) = '02'    
  set @vl_fecp = ISNULL((SELECT SUM(VL_BASE_CALC_ICMS) * (SELECT (PC_FUNDO_POBREZA_RJ/100)
                                                          FROM TPARAMETROS (NOLOCK))
                         FROM TADICAO_DE_IMPORTACAO (NOLOCK)
                         WHERE ISNULL(IN_FUNDO_POBREZA, '0') = '1' AND NR_PROCESSO = @nr_processo), 0)
ELSE 
  set @vl_fecp = 0

-- SELECIONA O FECP DE ACORDO COM O PROCESSO/PREVISAO
IF ISNULL( @Resultado, 0 ) = 0
  SET @Resultado = @vl_fecp 

/*
ROLLBACK TRAN    
SET XACT_ABORT OFF    
*/    
GO
