USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_atz_ev_flp_po] ( @nr_processo char(18), @cd_empresa char(5) ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN
DECLARE
  @nr_processo char(18),
  @cd_empresa  char(5)
SET @nr_processo = '4500181714'
SET @cd_empresa  = ''
--*/
SET NOCOUNT ON
DECLARE
  @nr_ordem int,
  @cd_evento char(3),
  @cd_servico char(3)

SELECT @cd_servico = CD_SERVICO
FROM TPO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo
  AND CD_EMPRESA  = @cd_empresa

DELETE TFLP_PO
WHERE NR_PROCESSO = @nr_processo
  AND CD_EMPRESA  = @cd_empresa
  AND CD_EVENTO NOT IN (SELECT CD_EVENTO FROM TSERVICO_EVENTO (NOLOCK) WHERE CD_SERVICO = @cd_servico)

DECLARE cEventos CURSOR LOCAL FOR
  SELECT NR_ORDEM, CD_EVENTO
  FROM TSERVICO_EVENTO (NOLOCK)
  WHERE CD_SERVICO = @cd_servico
    AND CD_TIPO_EVENTO = '00'

OPEN cEventos
FETCH cEventos INTO @nr_ordem, @cd_evento

WHILE @@fetch_status = 0
BEGIN
  IF NOT EXISTS (SELECT * FROM TFLP_PO (NOLOCK) WHERE NR_PROCESSO = @nr_processo AND CD_EMPRESA  = @cd_empresa AND NR_ORDEM = @nr_ordem AND CD_EVENTO = @cd_evento)
  BEGIN
    IF NOT EXISTS (SELECT * FROM TFLP_PO (NOLOCK) WHERE NR_PROCESSO = @nr_processo AND CD_EMPRESA  = @cd_empresa AND NR_ORDEM = @nr_ordem)
    BEGIN
      IF NOT EXISTS ( SELECT * FROM TFLP_PO (NOLOCK) WHERE  NR_PROCESSO = @nr_processo AND CD_EMPRESA  = @cd_empresa AND CD_EVENTO = @cd_evento )
      BEGIN
        INSERT TFLP_PO ( NR_PROCESSO, CD_EMPRESA, CD_EVENTO, IN_APLICAVEL, NR_ORDEM )
        VALUES (@nr_processo, @cd_empresa, @cd_evento, '1', @nr_ordem)
      END
      ELSE
      BEGIN
        UPDATE TFLP_PO SET NR_ORDEM = @nr_ordem
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EMPRESA  = @cd_empresa
          AND CD_EVENTO   = @cd_evento      
      END
    END
    ELSE
    BEGIN
      IF EXISTS (SELECT * FROM TFLP_PO (NOLOCK) WHERE NR_PROCESSO = @nr_processo AND CD_EMPRESA  = @cd_empresa AND CD_EVENTO = @cd_evento)
      BEGIN
        UPDATE TFLP_PO SET NR_ORDEM = @nr_ordem
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EMPRESA  = @cd_empresa
          AND CD_EVENTO   = @cd_evento      
      END
    END
  END
  FETCH cEventos INTO @nr_ordem, @cd_evento
END

CLOSE cEventos
DEALLOCATE cEventos

SET NOCOUNT OFF
/*
select * from tflp_po (nolock) where nr_processo = @nr_processo and cd_empresa = @cd_empresa
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

GO
