USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_ret_msg_diagnos]( @codigo int, @msg char(255) output, @status char(1) output ) AS
select @msg = DESCR_MSG, @STATUS = STATUS from TMSGS_DIAGNOSTICO
where 
  codigo = @codigo




GO
