USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* INSERE DADOS DO RATEIO NA TABELA(TFATURAMENTO_RATEIO) DO MYINDAIA WEB */              
CREATE PROCEDURE [sp_atz_myindaia_rateio] AS              
DECLARE              
  @errors int,              
  @data int,              
  @registros int              
--seta variaveis e condições para execução              
SET NOCOUNT ON              
SET @errors = 0              
SET @data = YEAR(GETDATE())-3              
--inicia a transação              
BEGIN TRAN              
          
PRINT 'Iniciando cópia de dados...'              
--registros que serão atualizados no MyIndaia              
SELECT TOP 150 NR_PROCESSO, NM_TABELA, MIN(AP_USUARIO) AS AP_USUARIO              
INTO #TMP_RATEIO              
FROM TATZ_MYINDAIA_RATEIO (NOLOCK)              
WHERE SUBSTRING(NR_PROCESSO,5,2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')              
GROUP BY NR_PROCESSO, NM_TABELA              
ORDER BY AP_USUARIO, MIN(CD_ATUALIZACAO)              
--qtde de linhas afetas pela consulta              
IF @@rowcount = 0           
BEGIN              
  PRINT 'Sem informação para atualizar.'              
END              
ELSE           
BEGIN              
  --exclui os processos das tabelas de atualização              
  DELETE R              
  FROM TATZ_MYINDAIA_RATEIO R, #TMP_RATEIO P              
  WHERE R.NR_PROCESSO = P.NR_PROCESSO              
    AND R.NM_TABELA = P.NM_TABELA              
  --exclui os processos que terão os seus dados alterados no banco myindaia              
  DELETE R FROM MYINDAIA.DBO.TFATURAMENTO_RATEIO R, #TMP_RATEIO P WHERE R.NR_PROCESSO = P.NR_PROCESSO              
                
  --insere novos/editados registros na tabela tfaturamento_rateio do myindaia              
          
          
  INSERT MYINDAIA.DBO.TFATURAMENTO_RATEIO ( NR_PROCESSO, NR_REFERENCIA, NR_ITEM_CLIENTE, NR_PARCIAL,               
    VL_DESCONTO_MERC, VL_FRETE_ITEM, VL_MCV_ITEM, VL_MLE_ITEM, VL_SEGURO_ITEM, VL_UNID_COND_VENDA, VL_UNITARIO,              
    VL_AD_ITEM, VL_MLE_ITEM_MN, VL_FRETE_ITEM_MN, VL_SEGURO_ITEM_MN, VL_MCV_ITEM_MN, VL_UNID_COND_VENDA_MN,              
    VL_ACRESCIMO_ITEM, VL_DEDUCAO_ITEM, VL_ACRESCIMO_ITEM_MN, VL_DEDUCAO_ITEM_MN, VL_DESPESA_ITEM, VL_DESPESA_ITEM_MN,              
    VL_DESPESAS_ITEM, VL_DED_CPT_MNEG, VL_II_ITEM, VL_IPI_ITEM, VL_ICMS_ITEM, VL_COFINS_ITEM, VL_PIS_ITEM,              
    VL_TX_SCX_ITEM, VL_BASE_CALC_II, FRETE_COLLECT_ITEM, FRETE_PREPAID_ITEM, FRETE_TNAC_ITEM, FRETE_COLLECT_ITEM_REAL,              
    FRETE_PREPAID_ITEM_REAL, FRETE_TNAC_ITEM_REAL, FRETE_COLLECT_ITEM_DOLAR, FRETE_PREPAID_ITEM_DOLAR, FRETE_TNAC_ITEM_DOLAR, CD_EMPRESA )              
  SELECT FP.NR_PROCESSO, RC.CD_REFERENCIA, ISNULL(RC.NR_ITEM_PO, '0000'), RC.NR_PARCIAL,           
    SUM(ISNULL(DM.VL_DESCONTO_MERC, 0)), SUM(ISNULL(DM.VL_FRETE_ITEM, 0)), SUM(ISNULL(DM.VL_MCV_ITEM, 0)), SUM(ISNULL(DM.VL_MLE_ITEM, 0)), SUM(ISNULL(DM.VL_SEGURO_ITEM, 0)), SUM(ISNULL(DM.VL_UNID_COND_VENDA, 0)), SUM(ISNULL(DM.VL_UNITARIO, 0)),           
  
   
    SUM(ISNULL(DM.VL_AD_ITEM, 0)), SUM(ISNULL(DM.VL_MLE_ITEM_MN, 0)), SUM(ISNULL(DM.VL_FRETE_ITEM_MN, 0)), SUM(ISNULL(DM.VL_SEGURO_ITEM_MN, 0)), SUM(ISNULL(DM.VL_MCV_ITEM_MN, 0)), SUM(ISNULL(DM.VL_UNID_COND_VENDA_MN, 0)),              
    SUM(ISNULL(DM.VL_ACRESCIMO_ITEM, 0)), SUM(ISNULL(DM.VL_DEDUCAO_ITEM, 0)), SUM(ISNULL(DM.VL_ACRESCIMO_ITEM_MN, 0)), SUM(ISNULL(DM.VL_DEDUCAO_ITEM_MN, 0)), SUM(ISNULL(DM.VL_DESPESA_ITEM, 0)), SUM(ISNULL(DM.VL_DESPESA_ITEM_MN, 0)),              
    SUM(ISNULL(DM.VL_DESPESAS_ITEM, 0)), SUM(ISNULL(DM.VL_DED_CPT_MNEG, 0)), SUM(ISNULL(DM.VL_II_ITEM, 0)), SUM(ISNULL(DM.VL_IPI_ITEM, 0)), SUM(ISNULL(DM.VL_ICMS_ITEM, 0)), SUM(ISNULL(DM.VL_COFINS_ITEM, 0)), SUM(ISNULL(DM.VL_PIS_ITEM, 0)),              
    SUM(ISNULL(DM.VL_TX_SCX_ITEM, 0)), SUM(ISNULL(DM.VL_BASE_CALC_II, 0)), SUM(ISNULL(DM.FRETE_COLLECT_ITEM, 0)), SUM(ISNULL(DM.FRETE_PREPAID_ITEM, 0)), SUM(ISNULL(DM.FRETE_TNAC_ITEM, 0)), SUM(ISNULL(DM.FRETE_COLLECT_ITEM_REAL, 0)),              
    SUM(ISNULL(DM.FRETE_PREPAID_ITEM_REAL, 0)), SUM(ISNULL(DM.FRETE_TNAC_ITEM_REAL, 0)), SUM(ISNULL(DM.FRETE_COLLECT_ITEM_DOLAR, 0)), SUM(ISNULL(DM.FRETE_PREPAID_ITEM_DOLAR, 0)), SUM(ISNULL(DM.FRETE_TNAC_ITEM_DOLAR, 0)), DM.CD_EMPRESA              
  FROM #TMP_RATEIO R              
    INNER JOIN TS_FATURA_PROCESSO  FP (NOLOCK) ON (FP.NR_PROCESSO = R.NR_PROCESSO)              
    INNER JOIN TS_FATURA           FA (NOLOCK) ON (FA.CD_UNID_NEG = FP.CD_UNID_NEG AND FA.CD_PRODUTO = FP.CD_PRODUTO AND FA.NR_SOLICITACAO = FP.NR_SOLICITACAO)              
    INNER JOIN TPROCESSO           PR (NOLOCK) ON (PR.NR_PROCESSO = FP.NR_PROCESSO)              
    INNER JOIN TREF_CLIENTE    RC (NOLOCK)     ON (RC.NR_PROCESSO = FP.NR_PROCESSO)              
    INNER JOIN TDETALHE_MERCADORIA DM (NOLOCK) ON (DM.NR_PROCESSO = FP.NR_PROCESSO AND DM.NR_PROC_PO = RC.CD_REFERENCIA AND DM.NR_ITEM_PO = RC.NR_ITEM_PO AND DM.NR_PARCIAL = RC.NR_PARCIAL)              
  WHERE           
    FP.CD_PRODUTO IN ('01','03')  AND FA.TP_TIPO_FAT = 'F'    AND           
 ISNULL(FA.IN_CANCELADO, '0') = '0'  AND ISNULL(PR.IN_CANCELADO, '0') = '0' AND           
    YEAR(PR.DT_ABERTURA) > @data              
  GROUP BY FP.NR_PROCESSO, RC.CD_REFERENCIA, RC.NR_ITEM_PO, RC.NR_PARCIAL, DM.CD_EMPRESA                
  --qtde de linhas afetas pela consulta              
  SET @registros = @@rowcount              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0)              
  BEGIN              
    PRINT 'Verificar cadastro de TFATURAMENTO_RATEIO 1. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
                
  --atualiza o valor do vmld na moeda negociada              
  UPDATE MYINDAIA.DBO.TFATURAMENTO_RATEIO SET              
    VL_VMLD = (FR.VL_MLE_ITEM + FR.VL_SEGURO_ITEM + FR.VL_ACRESCIMO_ITEM) - FR.VL_DEDUCAO_ITEM              
  FROM #TMP_RATEIO R              
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = R.NR_PROCESSO)              
    INNER JOIN MYINDAIA.DBO.TFATURAMENTO_RATEIO FR (NOLOCK) ON (FR.NR_PROCESSO = R.NR_PROCESSO)              
  WHERE ISNULL(PR.IN_CANCELADO, '0') = '0'              
    AND YEAR(PR.DT_ABERTURA) > @data              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0)              
  BEGIN              
    PRINT 'Verificar cadastro de TFATURAMENTO_RATEIO 2. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
                
  UPDATE MYINDAIA.DBO.TFATURAMENTO_RATEIO SET              
    VL_FRETE_MARITIMO     = C01.VL_ITEM_AREA, --Frete Maritimo              
    VL_ARMZ_EADI          = C04.VL_ITEM_AREA, --Armazanagem EADI              
    VL_IMP_IMPORT         = C05.VL_ITEM_AREA, --Imp. de Importação              
    VL_IPI_IMPORT         = C06.VL_ITEM_AREA, --I.P.I.              
    VL_ICMS_IMPORT        = C07.VL_ITEM_AREA, --ICMS              
    VL_FRETE_AEREO        = C08.VL_ITEM_AREA, --Frete Áereo              
    VL_ARMZ_INFRAERO      = C13.VL_ITEM_AREA, --Armazenagem INFRAERO              
    VL_ICMS_COMP          = C17.VL_ITEM_AREA, --ICMS Complementar              
    VL_II_COMP            = C24.VL_ITEM_AREA, --I.I. Complementar              
    VL_IPI_COMP           = C25.VL_ITEM_AREA, --I.P.I. Complementar              
    VL_FRETE_RODOVIARIO   = C30.VL_ITEM_AREA, --Frete Rodoviário              
    VL_ARMAZENAGEM        = C33.VL_ITEM_AREA, --Armazenagem              
    VL_COFINS_IMPORT      = C38.VL_ITEM_AREA, --COFINS - Importação              
    VL_PIS_IMPORT         = C39.VL_ITEM_AREA, --PIS/PASEP Importação              
    VL_PIS_IMPORT_COMP    = C40.VL_ITEM_AREA, --PIS/PASEP Import. Complementar              
    VL_COFINS_IMPORT_COMP = C41.VL_ITEM_AREA, --COFINS - Import. Complementar               
                
    VL_TOTAL_FRETE        = (ISNULL(C01.VL_ITEM_AREA, 0) + ISNULL(C08.VL_ITEM_AREA, 0) + ISNULL(C30.VL_ITEM_AREA, 0)),              
    VL_TOTAL_ARMAZENAGEM  = (ISNULL(C04.VL_ITEM_AREA, 0) + ISNULL(C13.VL_ITEM_AREA, 0) + ISNULL(C33.VL_ITEM_AREA, 0)),       
    VL_TOTAL_II           = (ISNULL(C05.VL_ITEM_AREA, 0) + ISNULL(C24.VL_ITEM_AREA, 0)),              
    VL_TOTAL_IPI          = (ISNULL(C06.VL_ITEM_AREA, 0) + ISNULL(C25.VL_ITEM_AREA, 0)),              
    VL_TOTAL_ICMS         = (ISNULL(C07.VL_ITEM_AREA, 0) + ISNULL(C17.VL_ITEM_AREA, 0)),              
    VL_TOTAL_PIS          = (ISNULL(C39.VL_ITEM_AREA, 0) + ISNULL(C40.VL_ITEM_AREA, 0)),              
    VL_TOTAL_COFINS       = (ISNULL(C38.VL_ITEM_AREA, 0) + ISNULL(C41.VL_ITEM_AREA, 0))              
  FROM #TMP_RATEIO R (NOLOCK)              
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = R.NR_PROCESSO)              
    INNER JOIN MYINDAIA.DBO.TFATURAMENTO_RATEIO FR (NOLOCK) ON (FR.NR_PROCESSO = R.NR_PROCESSO)              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C01 (NOLOCK) ON (C01.NR_PROCESSO = FR.NR_PROCESSO AND C01.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C01.CD_ITEM = '001') --Frete Maritimo              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C04 (NOLOCK) ON (C04.NR_PROCESSO = FR.NR_PROCESSO AND C04.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C04.CD_ITEM = '015') --Armazanagem EADI              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C05 (NOLOCK) ON (C05.NR_PROCESSO = FR.NR_PROCESSO AND C05.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C05.CD_ITEM = '025') --Imp. de Importação              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C06 (NOLOCK) ON (C06.NR_PROCESSO = FR.NR_PROCESSO AND C06.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C06.CD_ITEM = '026') --I.P.I.              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C07 (NOLOCK) ON (C07.NR_PROCESSO = FR.NR_PROCESSO AND C07.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C07.CD_ITEM = '027') --ICMS              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C08 (NOLOCK) ON (C08.NR_PROCESSO = FR.NR_PROCESSO AND C08.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C08.CD_ITEM = '029') --Frete Áereo              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C13 (NOLOCK) ON (C13.NR_PROCESSO = FR.NR_PROCESSO AND C13.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C13.CD_ITEM = '061') --Armazenagem INFRAERO              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C17 (NOLOCK) ON (C17.NR_PROCESSO = FR.NR_PROCESSO AND C17.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C17.CD_ITEM = '075') --ICMS Complementar              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C24 (NOLOCK) ON (C24.NR_PROCESSO = FR.NR_PROCESSO AND C24.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C24.CD_ITEM = '242') --I.I. Complementar              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C25 (NOLOCK) ON (C25.NR_PROCESSO = FR.NR_PROCESSO AND C25.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C25.CD_ITEM = '243') --I.P.I. Complementar              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C30 (NOLOCK) ON (C30.NR_PROCESSO = FR.NR_PROCESSO AND C30.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C30.CD_ITEM = '421') --Frete Rodoviário              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C33 (NOLOCK) ON (C33.NR_PROCESSO = FR.NR_PROCESSO AND C33.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C33.CD_ITEM = '514') --Armazenagem              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C38 (NOLOCK) ON (C38.NR_PROCESSO = FR.NR_PROCESSO AND C38.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C38.CD_ITEM = '599') --COFINS - Importação              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C39 (NOLOCK) ON (C39.NR_PROCESSO = FR.NR_PROCESSO AND C39.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C39.CD_ITEM = '600') --PIS/PASEP Importação              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C40 (NOLOCK) ON (C40.NR_PROCESSO = FR.NR_PROCESSO AND C40.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C40.CD_ITEM = '615') --PIS/PASEP Import. Complementar              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C41 (NOLOCK) ON (C41.NR_PROCESSO = FR.NR_PROCESSO AND C41.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C41.CD_ITEM = '616') --COFINS - Import. Complementar               
  WHERE           
 ISNULL(PR.IN_CANCELADO, '0') = '0'    AND YEAR(PR.DT_ABERTURA) > @data              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0)              
  BEGIN              
    PRINT 'Verificar cadastro de TFATURAMENTO_RATEIO 3. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
                
                
  UPDATE MYINDAIA.DBO.TFATURAMENTO_RATEIO SET              
    VL_SDA                = C02.VL_ITEM_AREA, --SDA              
    VL_DARF               = C03.VL_ITEM_AREA, --DARF              
    VL_TAXA_SISCOMEX      = C09.VL_ITEM_AREA, --Taxa SISCOMEX              
    VL_CAPATAZIAS         = C10.VL_ITEM_AREA, --Capatazias(THC Armador)              
    VL_DEPOSITO_CNTR      = C11.VL_ITEM_AREA, --Deposito Conteiner              
    VL_TAXA_DESCONS_BL    = C12.VL_ITEM_AREA, --Taxa Descons. AWB/BL              
    VL_CPMF               = C14.VL_ITEM_AREA, --CPMF              
    VL_REMOCAO_CNTR       = C15.VL_ITEM_AREA, --Remoção de Contâiner              
    VL_MULTA_ORIGENS      = C16.VL_ITEM_AREA, --Multa O. Origens              
    VL_LIBERAÇÃO_BL       = C18.VL_ITEM_AREA, --Liberação B/L              
    VL_CARREGAMENTO       = C19.VL_ITEM_AREA, --Carregameto              
    VL_THC_TERMINAL       = C20.VL_ITEM_AREA, --THC / Terminal              
    VL_TXS_BB_LI          = C21.VL_ITEM_AREA, --TXS BB - LI              
    VL_LAUDOS_TECNICOS    = C22.VL_ITEM_AREA, --Laudos Técnicos              
    VL_AFRMM              = C23.VL_ITEM_AREA, --A.F.R.M.M.              
    VL_MOVIMENTACAO       = C26.VL_ITEM_AREA, --Movimentação              
    VL_DESPESAS_TERMINAL  = C27.VL_ITEM_AREA, --Despesas de Terminal              
    VL_ISS_TERMINAL       = C28.VL_ITEM_AREA, --ISS Terminal              
    VL_IRRF               = C29.VL_ITEM_AREA, --IRRF              
    VL_ENVIO_DOCUMENTOS   = C31.VL_ITEM_AREA  --Envio de Documentos              
  FROM #TMP_RATEIO R (NOLOCK)              
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = R.NR_PROCESSO)              
    INNER JOIN MYINDAIA.DBO.TFATURAMENTO_RATEIO FR (NOLOCK) ON (FR.NR_PROCESSO = R.NR_PROCESSO)              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C02 (NOLOCK) ON (C02.NR_PROCESSO = FR.NR_PROCESSO AND C02.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C02.CD_ITEM = '008') --SDA              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C03 (NOLOCK) ON (C03.NR_PROCESSO = FR.NR_PROCESSO AND C03.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C03.CD_ITEM = '014') --DARF              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C09 (NOLOCK) ON (C09.NR_PROCESSO = FR.NR_PROCESSO AND C09.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C09.CD_ITEM = '032') --Taxa SISCOMEX              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C10 (NOLOCK) ON (C10.NR_PROCESSO = FR.NR_PROCESSO AND C10.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C10.CD_ITEM = '040') --Capatazias(THC Armador)              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C11 (NOLOCK) ON (C11.NR_PROCESSO = FR.NR_PROCESSO AND C11.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C11.CD_ITEM = '044') --Deposito Conteiner              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C12 (NOLOCK) ON (C12.NR_PROCESSO = FR.NR_PROCESSO AND C12.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C12.CD_ITEM = '060') --Taxa Descons. AWB/BL              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C14 (NOLOCK) ON (C14.NR_PROCESSO = FR.NR_PROCESSO AND C14.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C14.CD_ITEM = '067') --CPMF              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C15 (NOLOCK) ON (C15.NR_PROCESSO = FR.NR_PROCESSO AND C15.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C15.CD_ITEM = '071') --Remoção de Contâine              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C16 (NOLOCK) ON (C16.NR_PROCESSO = FR.NR_PROCESSO AND C16.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C16.CD_ITEM = '074') --Multa O. Origens              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C18 (NOLOCK) ON (C18.NR_PROCESSO = FR.NR_PROCESSO AND C18.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C18.CD_ITEM = '076') --Liberação B/L              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C19 (NOLOCK) ON (C19.NR_PROCESSO = FR.NR_PROCESSO AND C19.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C19.CD_ITEM = '083') --Carregameto              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C20 (NOLOCK) ON (C20.NR_PROCESSO = FR.NR_PROCESSO AND C20.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C20.CD_ITEM = '110') --THC / Terminal              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C21 (NOLOCK) ON (C21.NR_PROCESSO = FR.NR_PROCESSO AND C21.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C21.CD_ITEM = '115') --TXS BB - LI              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C22 (NOLOCK) ON (C22.NR_PROCESSO = FR.NR_PROCESSO AND C22.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C22.CD_ITEM = '148') --Laudos Técnicos              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C23 (NOLOCK) ON (C23.NR_PROCESSO = FR.NR_PROCESSO AND C23.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C23.CD_ITEM = '160') --A.F.R.M.M.              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C26 (NOLOCK) ON (C26.NR_PROCESSO = FR.NR_PROCESSO AND C26.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C26.CD_ITEM = '305') --Movimentação              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C27 (NOLOCK) ON (C27.NR_PROCESSO = FR.NR_PROCESSO AND C27.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C27.CD_ITEM = '308') --Despesas de Terminal              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C28 (NOLOCK) ON (C28.NR_PROCESSO = FR.NR_PROCESSO AND C28.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C28.CD_ITEM = '390') --ISS Terminal              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C29 (NOLOCK) ON (C29.NR_PROCESSO = FR.NR_PROCESSO AND C29.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C29.CD_ITEM = '415') --IRRF              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C31 (NOLOCK) ON (C31.NR_PROCESSO = FR.NR_PROCESSO AND C31.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C31.CD_ITEM = '424') --Envio de Documentos              
  WHERE ISNULL(PR.IN_CANCELADO, '0') = '0'        AND YEAR(PR.DT_ABERTURA) > @data              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0)              
  BEGIN              
    PRINT 'Verificar cadastro de TFATURAMENTO_RATEIO 4. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
                
                
  UPDATE MYINDAIA.DBO.TFATURAMENTO_RATEIO SET              
    VL_TRANSP_RODOVIARIO  = C32.VL_ITEM_AREA, --Transporte Rodoviário              
    VL_DESPESAS_AGENTE_CARGA = C34.VL_ITEM_AREA, --Despesas Agente Carga              
    VL_COFINS_LEI         = C35.VL_ITEM_AREA, --COFINS - lei no. 10833/2003              
    VL_RETENCAO_FONTE     = C36.VL_ITEM_AREA, --Retenção na Fonte              
    VL_COFINS_SERV_ARMAZ  = C37.VL_ITEM_AREA, --COFINS s/bens, serv. e armaz.              
    VL_TRANSP_FERROVIARIO = C42.VL_ITEM_AREA, --Transporte Ferroviário              
    VL_DESOVA_CNTR        = C43.VL_ITEM_AREA, --Desova de Contâiner              
    VL_TAXA_LI_MSAUDE     = C44.VL_ITEM_AREA, --Taxa L.I. Minist. da Saúde              
    VL_HANDLING           = C45.VL_ITEM_AREA, --Handling              
    VL_EMISSAO_BL         = C46.VL_ITEM_AREA, --Emissao de BL              
    VL_ISPS_CODE          = C47.VL_ITEM_AREA, --ISPS - CODE              
    VL_ARMAZ_COMP         = C48.VL_ITEM_AREA, --Armazenagem Complementar              
    VL_INSPEC_CNTR        = C49.VL_ITEM_AREA, --Inspeção de Contâiner              
    VL_DESP_ADM           = C50.VL_ITEM_AREA, --Despesas Administrativas              
    VL_PEDAGIO            = C51.VL_ITEM_AREA, --Pedágio              
    VL_AD_PROD_PERIGOSO   = C52.VL_ITEM_AREA, --Adicional Produto Perigoso              
    VL_DEVOLVE_CNTR       = C53.VL_ITEM_AREA, --Devolução de Contâiner              
    VL_TRATA_MADEIRA      = C54.VL_ITEM_AREA, --Tratamento de Madeira              
    VL_BREAK_BULK         = C55.VL_ITEM_AREA, --Break Bulk              
    VL_POS_CNTR           = C56.VL_ITEM_AREA  --Posicionamento de Contâiner              
  FROM #TMP_RATEIO R (NOLOCK)              
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = R.NR_PROCESSO)              
    INNER JOIN MYINDAIA.DBO.TFATURAMENTO_RATEIO FR (NOLOCK) ON (FR.NR_PROCESSO = R.NR_PROCESSO)              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C32 (NOLOCK) ON (C32.NR_PROCESSO = FR.NR_PROCESSO AND C32.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C32.CD_ITEM = '425') --Transporte Rodoviário              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C34 (NOLOCK) ON (C34.NR_PROCESSO = FR.NR_PROCESSO AND C34.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C34.CD_ITEM = '528') --Despesas Agente Carga              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C35 (NOLOCK) ON (C35.NR_PROCESSO = FR.NR_PROCESSO AND C35.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C35.CD_ITEM = '577') --COFINS - lei no. 10833/2003              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C36 (NOLOCK) ON (C36.NR_PROCESSO = FR.NR_PROCESSO AND C36.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C36.CD_ITEM = '578') --Retenção na Fonte              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C37 (NOLOCK) ON (C37.NR_PROCESSO = FR.NR_PROCESSO AND C37.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C37.CD_ITEM = '579') --COFINS s/bens, serv. e armaz.              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C42 (NOLOCK) ON (C42.NR_PROCESSO = FR.NR_PROCESSO AND C42.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C42.CD_ITEM = '662') --Transporte Ferroviário              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C43 (NOLOCK) ON (C43.NR_PROCESSO = FR.NR_PROCESSO AND C43.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C43.CD_ITEM = '082') --Desova de Contâiner              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C44 (NOLOCK) ON (C44.NR_PROCESSO = FR.NR_PROCESSO AND C44.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C44.CD_ITEM = '129') --Taxa L.I.Minist. Saúde              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C45 (NOLOCK) ON (C45.NR_PROCESSO = FR.NR_PROCESSO AND C45.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C45.CD_ITEM = '377') --Handling              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C46 (NOLOCK) ON (C46.NR_PROCESSO = FR.NR_PROCESSO AND C46.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C46.CD_ITEM = '536') --Emissão de B/L              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C47 (NOLOCK) ON (C47.NR_PROCESSO = FR.NR_PROCESSO AND C47.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C47.CD_ITEM = '608') --ISPS - CODE              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C48 (NOLOCK) ON (C48.NR_PROCESSO = FR.NR_PROCESSO AND C48.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C48.CD_ITEM = '056') --Armazenagem Complementar              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C49 (NOLOCK) ON (C49.NR_PROCESSO = FR.NR_PROCESSO AND C49.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C49.CD_ITEM = '077') --Inspeção de Contâiners              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C50 (NOLOCK) ON (C50.NR_PROCESSO = FR.NR_PROCESSO AND C50.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C50.CD_ITEM = '106') --Despesa Administrativa              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C51 (NOLOCK) ON (C51.NR_PROCESSO = FR.NR_PROCESSO AND C51.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C51.CD_ITEM = '594') --Pedágio              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C52 (NOLOCK) ON (C52.NR_PROCESSO = FR.NR_PROCESSO AND C52.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C52.CD_ITEM = '682') --Adcional Produto Perigoso     
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C53 (NOLOCK) ON (C53.NR_PROCESSO = FR.NR_PROCESSO AND C53.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C53.CD_ITEM = '239') --Devolução de Contâiner              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C54 (NOLOCK) ON (C54.NR_PROCESSO = FR.NR_PROCESSO AND C54.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C54.CD_ITEM = '487') --Tratamento de Madeira              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C55 (NOLOCK) ON (C55.NR_PROCESSO = FR.NR_PROCESSO AND C55.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C55.CD_ITEM = '500') --Break Bulk              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C56 (NOLOCK) ON (C56.NR_PROCESSO = FR.NR_PROCESSO AND C56.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C56.CD_ITEM = '510') --Posicionamento de Contâiner              
  WHERE ISNULL(PR.IN_CANCELADO, '0') = '0'        AND YEAR(PR.DT_ABERTURA) > @data              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0)              
  BEGIN              
    PRINT 'Verificar cadastro de TFATURAMENTO_RATEIO 5. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
                
                
  UPDATE MYINDAIA.DBO.TFATURAMENTO_RATEIO SET              
    VL_EXAME_LAB          = C57.VL_ITEM_AREA, --Exame Laboratorial              
    VL_DELIVERY_FEE       = C58.VL_ITEM_AREA, --Delivery Fee              
    VL_ROTULO_CNTR        = C59.VL_ITEM_AREA, --Rotulagem de Contâiner              
    VL_COLLECT_FEE        = C60.VL_ITEM_AREA, --Collect Fee              
    VL_DEMURRAGE          = C61.VL_ITEM_AREA, --Demurrage              
    VL_TX_UTIL_PORTOS     = C62.VL_ITEM_AREA, --Taxa de Utilização dos Portos              
    VL_TROCA_EMBALAGEM    = C63.VL_ITEM_AREA, --Traca de Embalagem              
    VL_AUTENTICACOES      = C64.VL_ITEM_AREA, --Autenticações              
    VL_LAVAGEM_CNTR       = C65.VL_ITEM_AREA, --Lavagem de Cntr              
    VL_CPMF_AGENC_MAR     = C66.VL_ITEM_AREA, --CPMF Agência Marítima              
    VL_SEG_AMZ            = C67.VL_ITEM_AREA --Seguro Armazém              
  FROM #TMP_RATEIO R (NOLOCK)              
    INNER JOIN TPROCESSO PR (NOLOCK) ON (PR.NR_PROCESSO = R.NR_PROCESSO)              
    INNER JOIN MYINDAIA.DBO.TFATURAMENTO_RATEIO FR (NOLOCK) ON (FR.NR_PROCESSO = R.NR_PROCESSO)              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C57 (NOLOCK) ON (C57.NR_PROCESSO = FR.NR_PROCESSO AND C57.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C57.CD_ITEM = '023') --Exame Laboratorial              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C58 (NOLOCK) ON (C58.NR_PROCESSO = FR.NR_PROCESSO AND C58.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C58.CD_ITEM = '447') --Delivery Fee              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C59 (NOLOCK) ON (C59.NR_PROCESSO = FR.NR_PROCESSO AND C59.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C59.CD_ITEM = '538') --Rotulagem de Contâiner              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C60 (NOLOCK) ON (C60.NR_PROCESSO = FR.NR_PROCESSO AND C60.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C60.CD_ITEM = '103') --Collect Fee              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C61 (NOLOCK) ON (C61.NR_PROCESSO = FR.NR_PROCESSO AND C61.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C61.CD_ITEM = '039') --Demurrage              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C62 (NOLOCK) ON (C62.NR_PROCESSO = FR.NR_PROCESSO AND C62.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C62.CD_ITEM = '149') --Taxa de Utilização dos Portos              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C63 (NOLOCK) ON (C63.NR_PROCESSO = FR.NR_PROCESSO AND C63.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C63.CD_ITEM = '722') --Troca de Embalagem              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C64 (NOLOCK) ON (C64.NR_PROCESSO = FR.NR_PROCESSO AND C64.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C64.CD_ITEM = '055') --Autenticações              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C65 (NOLOCK) ON (C65.NR_PROCESSO = FR.NR_PROCESSO AND C65.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C65.CD_ITEM = '116') --Lavagem de Cntr              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C66 (NOLOCK) ON (C66.NR_PROCESSO = FR.NR_PROCESSO AND C66.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C66.CD_ITEM = '156') --CPMF Agência Marítima              
    LEFT  JOIN TFAT_CALCULO_RATEIO_DESP C67 (NOLOCK) ON (C67.NR_PROCESSO = FR.NR_PROCESSO AND C67.CD_REFERENCIA = RTRIM(FR.NR_REFERENCIA)+'/'+FR.NR_ITEM_CLIENTE+'/'+FR.CD_EMPRESA+'/'+CONVERT(VARCHAR, FR.NR_PARCIAL) AND C67.CD_ITEM = '396') --Seguro Armazém              
  WHERE ISNULL(PR.IN_CANCELADO, '0') = '0'        AND YEAR(PR.DT_ABERTURA) > @data              
  --verifica se ocorreram erros              
  IF (@@ERROR <> 0)              
  BEGIN              
    PRINT 'Verificar cadastro de TFATURAMENTO_RATEIO 6. Erro nº. '+CAST(@@ERROR AS varchar)              
    SET @errors = @errors + 1              
  END              
END              
--exclui tabela temporaria              
DROP TABLE #TMP_RATEIO              
--verifica se aconteceu algum erro              
IF @errors = 0              
BEGIN              
  COMMIT TRAN              
  PRINT 'Registros atualizados: '+CAST(@registros as varchar)              
  PRINT 'Cadastro atualizado com sucesso.'               
END              
ELSE              
BEGIN              
  ROLLBACK TRAN              
  PRINT 'Falha ao atualizar o cadastro'              
END              
SET NOCOUNT OFF 
GO
