USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROC [sp_rel_desp_pagto] @cd_unid_neg char(2), @cd_produto char(2), @cd_analista_comissaria char(4), 
                              @cd_area char(2), @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_analista_comissaria char(4)
DECLARE @cd_area char(2)
DECLARE @nr_identificador int 

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_analista_comissaria = '0053'
SELECT @cd_area = '01'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo char(18)

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_DESP_PAGTO (TABLOCK HOLDLOCK)

INSERT TREL_DESP_PAGTO ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, CD_ANALISTA_COMISSARIA, CD_AREA, 
                         CD_REFERENCIA, NM_ANALISTA_COMISSARIA, NM_AREA, NM_EMPRESA, NM_EMBARCACAO, NM_ARMAZEM, NM_URGENCIA, 
                         DT_REG_DI, DT_DESOVA, DT_ENT, DT_LIB_BL, NR_CONHECIMENTO )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, P.CD_ANALISTA_COMISSARIA, P.CD_AREA, 
         REF.CD_REFERENCIA, AC.NM_USUARIO, A.NM_AREA, EN.AP_EMPRESA, EMB.NM_EMBARCACAO, ARM.NM_ARMAZEM, 
         Y.TX_YESNO NM_URGENCIA, 
         ( SELECT DT_REALIZACAO FROM VW_DT_REG_DI REGDI (NOLOCK) WHERE REGDI.NR_PROCESSO = P.NR_PROCESSO ) DT_REG_DI,
         ( SELECT DT_REALIZACAO FROM VW_DT_DESOVA DES (NOLOCK) WHERE DES.NR_PROCESSO = P.NR_PROCESSO ) DT_DESOVA,
         ( SELECT DT_REALIZACAO FROM VW_DT_ENT ENT (NOLOCK) WHERE ENT.NR_PROCESSO = P.NR_PROCESSO ) DT_ENT,
         ( SELECT DT_REALIZACAO FROM VW_DT_LIB_BL LIBBL (NOLOCK) WHERE LIBBL.NR_PROCESSO = P.NR_PROCESSO ) DT_LIB_BL,
         ISNULL( P.NR_CONHECIMENTO, '')
  FROM   TPROCESSO P (NOLOCK),
         TYES_NO Y (NOLOCK),
         TEMPRESA_NAC EN (NOLOCK),
         TEMBARCACAO EMB (NOLOCK),
         TARMAZEM ARM (NOLOCK),
         TREF_CLIENTE REF (NOLOCK),
         TUSUARIO AC (NOLOCK),
         TAREA A (NOLOCK)
  WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
         @cd_analista_comissaria IN ( P.CD_ANALISTA_COMISSARIA, 'X' ) AND
         @cd_area IN ( P.CD_AREA, 'X' ) AND
         ( ( P.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM TFOLLOWUP (NOLOCK) WHERE CD_EVENTO = ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS ) AND ( ( DT_REALIZACAO IS NOT NULL AND IN_APLICAVEL = '1' ) OR ( DT_REALIZACAO IS NULL AND IN_APLICAVEL = '0' ) ) ) ) OR ( ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS (NOLOCK) ) NOT IN ( SELECT CD_EVENTO FROM TFOLLOWUP SE (NOLOCK) WHERE SE.NR_PROCESSO = P.NR_PROCESSO ) ) ) AND
         ( ( P.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM TFOLLOWUP (NOLOCK) WHERE CD_EVENTO = ( SELECT CD_EV_ENT FROM TPARAMETROS ) AND ( ( DT_REALIZACAO IS NOT NULL AND IN_APLICAVEL = '1' ) OR ( DT_REALIZACAO IS NULL AND IN_APLICAVEL = '0' ) ) ) ) OR ( ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK)) NOT IN ( SELECT CD_EVENTO FROM TFOLLOWUP SE (NOLOCK) WHERE SE.NR_PROCESSO = P.NR_PROCESSO ) ) ) AND
         ( ( P.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM TFOLLOWUP (NOLOCK) WHERE CD_EVENTO = ( SELECT CD_EV_DESOVA FROM TPARAMETROS ) AND ( ( DT_REALIZACAO IS NOT NULL AND IN_APLICAVEL = '1' ) OR ( DT_REALIZACAO IS NULL AND IN_APLICAVEL = '0' ) ) ) ) OR ( ( SELECT CD_EV_DESOVA FROM TPARAMETROS (NOLOCK)) NOT IN ( SELECT CD_EVENTO FROM TFOLLOWUP SE (NOLOCK) WHERE SE.NR_PROCESSO = P.NR_PROCESSO ) ) ) AND
         ( ( P.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM TFOLLOWUP (NOLOCK) WHERE CD_EVENTO = ( SELECT CD_EV_PRES_CARGA FROM TPARAMETROS ) AND ( ( DT_REALIZACAO IS NOT NULL AND IN_APLICAVEL = '1' ) OR ( DT_REALIZACAO IS NULL AND IN_APLICAVEL = '0' ) ) ) ) OR ( ( SELECT CD_EV_PRES_CARGA FROM TPARAMETROS (NOLOCK) ) NOT IN ( SELECT CD_EVENTO FROM TFOLLOWUP SE (NOLOCK) WHERE SE.NR_PROCESSO = P.NR_PROCESSO ) ) ) AND
         ( ( P.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM TFOLLOWUP (NOLOCK) WHERE CD_EVENTO = ( SELECT CD_EV_CAMBIO_OK FROM TPARAMETROS ) AND ( ( DT_REALIZACAO IS NOT NULL AND IN_APLICAVEL = '1' ) OR ( DT_REALIZACAO IS NULL AND IN_APLICAVEL = '0' ) ) ) ) OR ( ( SELECT CD_EV_CAMBIO_OK FROM TPARAMETROS (NOLOCK) ) NOT IN ( SELECT CD_EVENTO FROM TFOLLOWUP SE (NOLOCK) WHERE SE.NR_PROCESSO = P.NR_PROCESSO ) ) ) AND
         ( SELECT CD_EV_REG_DI FROM TPARAMETROS (NOLOCK) ) IN ( SELECT CD_EVENTO FROM TFOLLOWUP SE (NOLOCK) WHERE SE.NR_PROCESSO = P.NR_PROCESSO ) AND
         ( ( P.NR_PROCESSO NOT IN ( SELECT NR_PROCESSO FROM TFOLLOWUP (NOLOCK) WHERE CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS (NOLOCK) ) AND ( ( DT_REALIZACAO IS NOT NULL AND IN_APLICAVEL = '1' ) OR ( DT_REALIZACAO IS NULL AND IN_APLICAVEL = '0' ) ) ) ) OR
           ( P.NR_PROCESSO IN ( SELECT NR_PROCESSO 
                                FROM   TFOLLOWUP (NOLOCK) 
                                WHERE  CD_EVENTO IN ( SELECT CD_EV_REG_DI FROM TPARAMETROS (NOLOCK) ) AND
                                       DT_REALIZACAO IS NULL ) ) ) AND
         P.IN_URGENTE = Y.CD_YESNO AND
         P.IN_CANCELADO = 0 AND
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         P.CD_ANALISTA_COMISSARIA *= AC.CD_USUARIO AND
         P.CD_AREA *= A.CD_AREA AND
         P.CD_EMBARCACAO *= EMB.CD_EMBARCACAO AND
         P.CD_ARMAZEM_DESCARGA *= ARM.CD_ARMAZEM AND
         P.NR_PROCESSO *= REF.NR_PROCESSO AND
         REF.NR_SEQUENCIA = '001' AND
         ( P.NR_CONHECIMENTO IS NOT NULL AND P.NR_CONHECIMENTO <> '' ) 
ORDER BY P.NR_PROCESSO




GO
