USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


-- Traz as informações dos requerimentos
CREATE PROCEDURE [sp_rel_requerimento]  --'01', '01', 'x', '00022', 'x', '20030201', '20030228', null

( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                       @cd_area char(2), @dt_inicio datetime, @dt_fim datetime, @nr_identificador int output)
AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg 	char(2),	@cd_produto 	  char(2), 	@cd_grupo  	char(3),
	@cd_cliente 	char(5),        @cd_area   	  char(2), 	@dt_inicio 	datetime, 
 	@dt_fim 	datetime, 	@nr_identificador integer

SELECT  @cd_unid_neg = '01',		@cd_produto = '01',	 	@cd_grupo = 'X',
	@cd_cliente = '00022',      	@cd_area = 'X',		 	@dt_inicio = '20030201', 
 	@dt_fim = '20030228'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = (SELECT ISNULL(MAX(NR_IDENTIFICADOR)+1, 1) 
	  		    FROM TREL_REQUERIMENTO)

INSERT INTO TREL_REQUERIMENTO
SELECT DISTINCT @nr_identificador, RIGHT(PR.NR_PROCESSO, 14) as NR_PROCESSO, PR.NR_REQUERIMENTO, PR.DT_VENCIMENTO, PR.NR_LI, 
  PR.DT_EMISSAO_LI, SUM(QT_MERC_UN_COMERC) as QT_FISICA_LI , PR.QT_ACUMULADA, PR.DT_DESPACHO, --CAST(PR.TX_OBS as varchar(500)) AS DS_OBS, 
  PR.IN_DEFERIDO, PR.IN_INDEFERIDO, PR.DT_REQUERIMENTO
FROM TPROCESSO P (NOLOCK), TPROCESSO_REQUERIMENTO PR (NOLOCK), TLICENCA_ITENS L (NOLOCK), TLICENCA_IMPORTACAO I (NOLOCK)
WHERE P.NR_PROCESSO = PR.NR_PROCESSO AND
      L.NR_PROCESSO = I.NR_PROCESSO AND 
      I.NR_REGISTRO_LI = PR.NR_LI AND
      P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim AND
      @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND 
      @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
      @cd_grupo IN ( P.CD_GRUPO, 'X' ) AND
      @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
      @cd_area IN ( P.CD_AREA, 'X' )
GROUP BY PR.NR_PROCESSO, PR.NR_REQUERIMENTO, PR.DT_VENCIMENTO, PR.NR_LI, PR.DT_EMISSAO_LI, PR.QT_ACUMULADA, PR.DT_DESPACHO,
/*PR.TX_OBS,*/ PR.IN_DEFERIDO, PR.IN_INDEFERIDO, PR.DT_REQUERIMENTO




GO
