USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [sp_rel_nivel_servico_po]( @dt_inicio datetime, @dt_fim datetime, @cd_fornecedor char(5), 
						    @cd_cliente char(5), @cd_grupo char(3) , @nr_identificador int OUTPUT  ) AS


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @cd_fornecedor char(5)
DECLARE @cd_cliente char(5)
DECLARE @cd_grupo char(3)

SELECT @dt_inicio   = CONVERT( datetime, '01/06/2003', 103 )
SELECT @dt_fim      = CONVERT( datetime, '30/06/2003', 103 )
SELECT @cd_fornecedor = 'X'
SELECT @cd_cliente = 'X'
SELECT @cd_grupo = 'X'

*/

SELECT @nr_identificador = MAX( NR_IDENTIFICADOR ) + 1
FROM   TREL_NIVEL_SERVICO_PO

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT PO.NR_PROCESSO, ( SELECT CD_MERCADORIA 
                         FROM TPO_ITEM (NOLOCK)
                         WHERE NR_ITEM = '001' AND 
                               NR_PROCESSO = PO.NR_PROCESSO ) AS CD_MERCADORIA, 
       PO.CD_EXPORTADOR, PO.CD_IMPORTADOR, 
       ( SELECT TFPO.DT_REALIZACAO 
         FROM   TFLP_PO TFPO
         WHERE  TFPO.NR_PROCESSO = PO.NR_PROCESSO AND
                TFPO.CD_EVENTO IN ( SELECT CD_EV_NECESSIDADE FROM TPARAMETROS (NOLOCK) ) ) AS DT_NECESSIDADE,
       ( SELECT TFPO.DT_REALIZACAO
         FROM   TFLP_PO TFPO
         WHERE  TFPO.NR_PROCESSO = PO.NR_PROCESSO AND
                TFPO.CD_EVENTO IN ( SELECT CD_EV_ENTR_MERC_FABR FROM TPARAMETROS  (NOLOCK) ) ) AS DT_ENTR_MERC_FABR
INTO #TMP_NIVEL_SERVICO_PO 
FROM  TPO PO (NOLOCK), TFLP_PO FPO (NOLOCK), TEMPRESA_NAC E (NOLOCK)
WHERE PO.NR_PROCESSO = FPO.NR_PROCESSO AND
      PO.CD_IMPORTADOR = E.CD_EMPRESA AND
      ( ( PO.CD_IMPORTADOR = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
      ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
      ( ( PO.CD_EXPORTADOR = @cd_fornecedor ) OR ( @cd_fornecedor = 'X' ) ) AND
      ( FPO.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) 
GROUP BY PO.NR_PROCESSO, PO.CD_EXPORTADOR, PO.CD_IMPORTADOR


INSERT TREL_NIVEL_SERVICO_PO( NR_IDENTIFICADOR, NR_PROCESSO, CD_MERCADORIA, CD_EXPORTADOR, CD_IMPORTADOR, DT_ENTR_MERC_FABR, 
                              DT_NECESSIDADE, DT_ENTR_MERC_DT_NEC ) 
SELECT @nr_identificador, NR_PROCESSO, CD_MERCADORIA, CD_EXPORTADOR, CD_IMPORTADOR, DT_ENTR_MERC_FABR, DT_NECESSIDADE, 
       DATEDIFF( d, DT_NECESSIDADE, DT_ENTR_MERC_FABR ) AS DT_ENTR_MERC_DT_NEC
FROM   #TMP_NIVEL_SERVICO_PO 

DROP TABLE #TMP_NIVEL_SERVICO_PO

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/





GO
