USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [SP_contabiliza_prov_pagto_adm](
                                        @cd_unid_neg char(2),
                                        @nr_cta_pagar char(3), 
                                        @cd_banco char(3), 
                                        @dt_movimento datetime, 
                                        @dt_pagto datetime, 
                                        @nr_docto varchar(20) ) AS

DECLARE @nr_conta_debito  varchar(40)
DECLARE @nr_conta_credito varchar(40)
DECLARE @vl_lanc          float
DECLARE @nm_hist          VARCHAR(250)
DECLARE @cd_hist          varchar(10)
DECLARE @cd_usuario       char(4)
DECLARE @cd_favorecido    char(5)
DECLARE @nr_outro_deb     VARchar(40)
DECLARE @nr_outro_cre     VARchar(40)
DECLARE @cd_ct_custo      varchar(25)
DECLARE @vl_debito        numeric(15,2)
DECLARE @vl_credito       numeric(15,2)
DECLARE @cd_item          char(3)

SET @vl_debito  = 0 
SET @vl_credito = 0 


SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_SNAME()

--CONTABILIZAR DEBITO - BAIXA ITEM
SELECT P.VL_LANCAMENTO AS VL_LANCAMENTO, I.NR_OUTRO_PAGTO_DEB_PROVISAO, 
       I.CD_HIST_PAGTO_PROVISAO, I.NM_HIST_PAGTO_PROVISAO, P.CD_CT_CUSTO
 INTO #TACPAGAR_ITEM
 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC P, TITEM_CONTABIL I 
 WHERE 1 = 0
--INSERIR NA TABELA TEMPORARIA
 INSERT #TACPAGAR_ITEM(VL_LANCAMENTO,  NR_OUTRO_PAGTO_DEB_PROVISAO,  
                           CD_HIST_PAGTO_PROVISAO, NM_HIST_PAGTO_PROVISAO, CD_CT_CUSTO)

 SELECT SUM(P.VL_LANCAMENTO) AS VL_LANCAMENTO, I.NR_OUTRO_PAGTO_DEB_PROVISAO, 
        I.CD_HIST_PAGTO_PROVISAO, I.NM_HIST_PAGTO_PROVISAO, P.CD_CT_CUSTO

 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC P, TITEM T , TITEM_CONTABIL I 
  
 WHERE     C.NR_CTAAPAGAR          = @nr_cta_pagar
   AND     C.DT_CTAAPAGAR          = @dt_movimento
   AND     C.CD_UNID_NEG           = @cd_unid_neg
   AND     C.NR_CTAAPAGAR          = P.NR_CTAAPAGAR
   AND     C.DT_CTAAPAGAR          = P.DT_CTAAPAGAR
   AND     C.CD_UNID_NEG           = P.CD_UNID_NEG
   AND     P.CD_ITEM               = T.CD_ITEM 
   AND     T.CD_ITEM_CONTABIL      = I.CD_ITEM_CONTABIL
   AND     I.IN_CONTABILIZA        = '1' 
   AND     I.CD_MODULO_PAGTO_PROV  = '06'
   AND     I.IN_PAGTO_DEB_PROVISAO = '6' 
 GROUP BY  I.NR_OUTRO_PAGTO_DEB_PROVISAO,
           I.CD_HIST_PAGTO_PROVISAO,
           I.NM_HIST_PAGTO_PROVISAO,     
           P.CD_CT_CUSTO           
----------------------------------------   
---CONTABILIZAR LANCAMENTOS DE BAIXA 
WHILE (SELECT COUNT(*) FROM #TACPAGAR_ITEM)> 0 
BEGIN
  SELECT TOP 1 @vl_lanc = VL_LANCAMENTO, 
               @nr_conta_debito  = NR_OUTRO_PAGTO_DEB_PROVISAO,
               @cd_hist = CD_HIST_PAGTO_PROVISAO,  @nm_hist = NM_HIST_PAGTO_PROVISAO,
               @cd_ct_custo  = CD_CT_CUSTO
           
  FROM #TACPAGAR_ITEM

SET @nm_hist = CASE
     WHEN @nm_hist = '[NPROC]' THEN @nr_cta_pagar
     WHEN @nm_hist = '[NDOC]'  THEN @nr_docto
     WHEN @nm_hist = '[DATA]'  THEN CONVERT(VARCHAR(10), @dt_pagto, 103)
  --   WHEN @nm_hist = '[NCLI]'  THEN @cd_cliente
    ELSE @nm_hist
   END

SET @cd_ct_custo = CASE
                   WHEN @cd_ct_custo = '' THEN NULL
                   ELSE @cd_ct_custo
                  END 
 SET @vl_debito = @vl_debito + @vl_lanc 


 DELETE FROM #TACPAGAR_ITEM WHERE NR_OUTRO_PAGTO_DEB_PROVISAO = @nr_conta_debito 
                              AND ISNULL(CD_CT_CUSTO,'') = ISNULL(@cd_ct_custo,'')
END
DROP TABLE #TACPAGAR_ITEM
--***************************************************************************

--CONTABILIZAR CREDITO - BAIXA - FAVORECIDO
SELECT P.VL_LANCAMENTO AS VL_LANCAMENTO, C.CD_FORNECEDOR, F.NR_CONTA_CONTABIL, 
       I.CD_HIST_PAGTO_PROVISAOII, I.NM_HIST_PAGTO_PROVISAOII 
 INTO #TACPAGAR_FAV
 
 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC P, TITEM_CONTABIL I, TFAVORECIDO F
 
 WHERE 1 = 0

--INSERIR NA TABELA TEMPORARIA

 INSERT #TACPAGAR_FAV(VL_LANCAMENTO, CD_FORNECEDOR, NR_CONTA_CONTABIL, 
                      CD_HIST_PAGTO_PROVISAOII, NM_HIST_PAGTO_PROVISAOII)
 SELECT SUM(P.VL_LANCAMENTO) AS VL_LANCAMENTO, C.CD_FORNECEDOR, F.NR_CONTA_CONTABIL, 
         I.CD_HIST_PAGTO_PROVISAOII, I.NM_HIST_PAGTO_PROVISAOII
 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC P, TITEM T , TITEM_CONTABIL I, TFAVORECIDO F   
 WHERE     C.NR_CTAAPAGAR         = @nr_cta_pagar
   AND     C.DT_CTAAPAGAR         = @dt_movimento
   AND     C.CD_UNID_NEG          = @cd_unid_neg
   AND     C.NR_CTAAPAGAR         = P.NR_CTAAPAGAR
   AND     C.DT_CTAAPAGAR         = P.DT_CTAAPAGAR
   AND     C.CD_UNID_NEG          = P.CD_UNID_NEG
   AND     P.CD_ITEM              = T.CD_ITEM 
   AND     T.CD_ITEM_CONTABIL     = I.CD_ITEM_CONTABIL
   AND     I.IN_CONTABILIZA       = '1' 
   AND     I.CD_MODULO_PAGTO_PROV = '06'
   AND     I.IN_PAGTO_CRE_PROVISAO  = '4' 
   AND     C.CD_FORNECEDOR        = F.CD_FAVORECIDO
 GROUP BY  C.CD_FORNECEDOR,  
           F.NR_CONTA_CONTABIL, 
           I.CD_HIST_PAGTO_PROVISAOII,
           I.NM_HIST_PAGTO_PROVISAOII
----------------------------------------   
---CONTABILIZAR LANCAMENTOS DE DEBITO BAIXA
WHILE (SELECT COUNT(*) FROM #TACPAGAR_FAV)> 0 
BEGIN
  SELECT TOP 1 @vl_lanc = VL_LANCAMENTO,  @cd_favorecido = CD_FORNECEDOR,
     @nr_conta_credito  = NR_CONTA_CONTABIL,  @cd_hist = CD_HIST_PAGTO_PROVISAOII,  
     @nm_hist = NM_HIST_PAGTO_PROVISAOII     
  FROM #TACPAGAR_FAV

SET @nm_hist = CASE
     WHEN @nm_hist = '[NPROC]' THEN @nr_cta_pagar
     WHEN @nm_hist = '[NDOC]'  THEN @nr_docto
     WHEN @nm_hist = '[DATA]'  THEN CONVERT(VARCHAR(10), @dt_pagto, 103)
  --   WHEN @nm_hist = '[NCLI]'  THEN @cd_cliente
    ELSE @nm_hist
   END

 SET @vl_credito = @vl_credito + @vl_lanc
 

 DELETE FROM #TACPAGAR_FAV WHERE CD_FORNECEDOR  = @cd_favorecido 
                           AND CD_HIST_PAGTO_PROVISAOII = @cd_hist 
                           --  AND NM_HIST_PAGTO_BAIXA = @nm_hist 
END
DROP TABLE #TACPAGAR_FAV


--CONTABILIZAR CREDITO - BAIXA - OUTRO
SELECT P.VL_LANCAMENTO AS VL_LANCAMENTO,  I.NR_OUTRO_PAGTO_CRE_PROVISAO, 
       I.CD_HIST_PAGTO_PROVISAOII, I.NM_HIST_PAGTO_PROVISAOII 
 INTO #TACPAGAR_OUTRO
 
 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC P, TITEM_CONTABIL I
 
 WHERE 1 = 0

--INSERIR NA TABELA TEMPORARIA

 INSERT #TACPAGAR_OUTRO(VL_LANCAMENTO,  NR_OUTRO_PAGTO_CRE_PROVISAO, 
                      CD_HIST_PAGTO_PROVISAOII, NM_HIST_PAGTO_PROVISAOII)
 SELECT SUM(P.VL_LANCAMENTO) AS VL_LANCAMENTO, I.NR_OUTRO_PAGTO_CRE_PROVISAO, 
         I.CD_HIST_PAGTO_PROVISAOII, I.NM_HIST_PAGTO_PROVISAOII
 FROM TCTAAPAGAR C, TCTAAPAGAR_LANC P, TITEM T , TITEM_CONTABIL I
 WHERE     C.NR_CTAAPAGAR         = @nr_cta_pagar
   AND     C.DT_CTAAPAGAR         = @dt_movimento
   AND     C.CD_UNID_NEG          = @cd_unid_neg
   AND     C.NR_CTAAPAGAR         = P.NR_CTAAPAGAR
   AND     C.DT_CTAAPAGAR         = P.DT_CTAAPAGAR
   AND     C.CD_UNID_NEG          = P.CD_UNID_NEG
   AND     P.CD_ITEM              = T.CD_ITEM 
   AND     T.CD_ITEM_CONTABIL     = I.CD_ITEM_CONTABIL
   AND     I.IN_CONTABILIZA       = '1' 
   AND     I.CD_MODULO_PAGTO_PROV = '06'
   AND     I.IN_PAGTO_CRE_PROVISAO  = '6'    
 GROUP BY  I.NR_OUTRO_PAGTO_CRE_PROVISAO, 
           I.CD_HIST_PAGTO_PROVISAOII,
           I.NM_HIST_PAGTO_PROVISAOII
----------------------------------------   
---CONTABILIZAR LANCAMENTOS DE CREDITO BAIXA
WHILE (SELECT COUNT(*) FROM #TACPAGAR_OUTRO)> 0 
BEGIN
  SELECT TOP 1 @vl_lanc = VL_LANCAMENTO, 
     @nr_conta_credito  = NR_OUTRO_PAGTO_CRE_PROVISAO,  @cd_hist = CD_HIST_PAGTO_PROVISAOII,  
     @nm_hist = NM_HIST_PAGTO_PROVISAOII     
  FROM #TACPAGAR_OUTRO

SET @nm_hist = CASE
     WHEN @nm_hist = '[NPROC]' THEN @nr_cta_pagar
     WHEN @nm_hist = '[NDOC]'  THEN @nr_docto
     WHEN @nm_hist = '[DATA]'  THEN CONVERT(VARCHAR(10), @dt_pagto, 103)
  --   WHEN @nm_hist = '[NCLI]'  THEN @cd_cliente
    ELSE @nm_hist
   END

 SET @vl_credito = @vl_credito + @vl_lanc

 DELETE FROM #TACPAGAR_OUTRO WHERE NR_OUTRO_PAGTO_CRE_PROVISAO  = @nr_conta_credito 
                           
                           --  AND NM_HIST_PAGTO_BAIXA = @nm_hist 
END
DROP TABLE #TACPAGAR_OUTRO




exec sp_log_contabil @dt_movimento, @nr_docto, '06', @vl_debito, @vl_credito







GO
