USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_helptext sp_atz_myindaia_aux

  
--atualiza as tabelas de cadastro do MYINDAIA Web                  
--com alto indice de inclusão/edição/exclusão                  
CREATE PROCEDURE [sp_atz_myindaia_aux] AS                  
                  
SET NOCOUNT ON                  
DECLARE @errors int                  
SET @errors = 0                  
                  
BEGIN TRAN                  
PRINT 'Iniciando cópia de dados...'                  
                  
--apaga registros do myindaia para evitar conflitos                  
--DELETE FROM [MYINDAIA].[DBO].[TAGENTE]                  
--DELETE FROM [MYINDAIA].[DBO].[TAREA]                  
DELETE FROM [MYINDAIA].[DBO].[TARMAZEM]                  
DELETE FROM [MYINDAIA].[DBO].[TCLIENTE_CONTATO]
DELETE FROM [MYINDAIA].[DBO].[TCLIENTE_HABILITACAO]                  
DELETE FROM [MYINDAIA].[DBO].[TCOND_VENDA_ENT]                  
DELETE FROM [MYINDAIA].[DBO].[TDE_PARA]                  
DELETE FROM [MYINDAIA].[DBO].[TDESPACHANTE]                  
--DELETE FROM [MYINDAIA].[DBO].[TEMBARCACAO]                  
DELETE FROM [MYINDAIA].[DBO].[TEMPRESA_EST]                  
--DELETE FROM [MYINDAIA].[DBO].[TEMPRESA_EST_GRUPO]                  
DELETE FROM [MYINDAIA].[DBO].[TEMPRESA_NAC]                  
DELETE FROM [MYINDAIA].[DBO].[TETAPA]                  
DELETE FROM [MYINDAIA].[DBO].[TEVENTO]                  
DELETE FROM [MYINDAIA].[DBO].[TFAMILIA_DOCS]                  
DELETE FROM [MYINDAIA].[DBO].[TFAMILIA_PAIS]                  
DELETE FROM [MYINDAIA].[DBO].[TFAMILIA_PROD]                  
DELETE FROM [MYINDAIA].[DBO].[TFERIADO]                  
--DELETE FROM [MYINDAIA].[DBO].[TGRUPO]                  
DELETE FROM [MYINDAIA].[DBO].[TGRUPO_SERVICO]                  
DELETE FROM [MYINDAIA].[DBO].[TINST_NEGOC]                  
--DELETE FROM [MYINDAIA].[DBO].[TITEM]                  
--DELETE FROM [MYINDAIA].[DBO].[TLOCAL_EMBARQUE]                  
DELETE FROM [MYINDAIA].[DBO].[TMERCADORIA]                  
--DELETE FROM [MYINDAIA].[DBO].[TMERCADORIA_EXP] 
DELETE FROM [MYINDAIA].[DBO].[TPLANEJADORES]                   
DELETE FROM [MYINDAIA].[DBO].[TMOEDA_BROKER]                  
DELETE FROM [MYINDAIA].[DBO].[TPAIS]                  
DELETE FROM [MYINDAIA].[DBO].[TPAIS_BROKER]                  
--DELETE FROM [MYINDAIA].[DBO].[TPERMISSAO]                  
--DELETE FROM [MYINDAIA].[DBO].[TPERMISSAO_AREA]          
--DELETE FROM [MYINDAIA].[DBO].[TPERMISSAO_GRUPO]          
DELETE FROM [MYINDAIA].[DBO].[TPRODUTO]                  
DELETE FROM [MYINDAIA].[DBO].[TRECEITAS_IMP]                  
DELETE FROM [MYINDAIA].[DBO].[TRECINTO_SETORES_IMPORTACAO]                  
DELETE FROM [MYINDAIA].[DBO].[TSERVICO]
DELETE FROM [MYINDAIA].[DBO].[TSERVICO_NOVO]                  
DELETE FROM [MYINDAIA].[DBO].[TSERVICO_EVENTO]                  
--DELETE FROM [MYINDAIA].[DBO].[TTERMO_PAGTO]                  
--DELETE FROM [MYINDAIA].[DBO].[TTRANSP_ITL]                  
--DELETE FROM [MYINDAIA].[DBO].[TTRANSP_ROD]                  
DELETE FROM [MYINDAIA].[DBO].[TUNID_MEDIDA_BROKER]   
DELETE FROM [MYINDAIA].[DBO].[TNCM]                
DELETE FROM [MYINDAIA].[DBO].[TUNID_NEG]                  
DELETE FROM [MYINDAIA].[DBO].[TURF]                  
--DELETE FROM [MYINDAIA].[DBO].[TUSUARIO]                  
--DELETE FROM [MYINDAIA].[DBO].[TUSUARIO_HABILITACAO]                  
DELETE FROM [MYINDAIA].[DBO].[TVIA_TRANSPORTE]                  
DELETE FROM [MYINDAIA].[DBO].[TVIAGEM]         
DELETE FROM [MYINDAIA].[DBO].[TVIAGEM_DEADLINE]       
DELETE FROM [MYINDAIA].[DBO].[TRETIFICA_DI]     
DELETE FROM [MYINDAIA].[DBO].[TTIPO_ITEM]                  
DELETE FROM [MYINDAIA].[DBO].[TTP_DOCUMENTO]                  
DELETE FROM [MYINDAIA].[DBO].[TORGAO_ANUENTES]                  
DELETE FROM [MYINDAIA].[DBO].[TPERMISSAO_EMPRESA_EST]                  
DELETE FROM [MYINDAIA].[DBO].[TMODALID_PAGAMENTO]                           
/**********************************************************************************************/                  
/*DELETA OS REGISTROS DA TCELULA - [FLAVIO 19/12/2007]*/                  
                  
DELETE FROM [MYINDAIA].[DBO].[TCELULA]                  
/**********************************************************************************************/                  
                  
/* Atualiza o cadastro de TCELULA  [FLAVIO 19/12/2007] */                  
INSERT INTO [MYINDAIA].[DBO].[TCELULA] (                  
  CD_CELULA, NM_CELULA, IN_ATIVO, CD_ANALISTA )                  
SELECT                  CD_CELULA, NM_CELULA,  IN_ATIVO, CD_ANALISTA                    
FROM TCELULA (NOLOCK) where  IN_ATIVO='1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TCELULA. Erro nº. '+CAST(@@ERROR AS varchar)          
  SET @errors = @errors + 1                  
END                  
                  
/**********************************************************************************************/                  
                  
                  
/* Atualiza o cadastro de TAGENTE               
INSERT INTO [MYINDAIA].[DBO].[TAGENTE] (                  
  CD_AGENTE, NM_AGENTE, CD_TAXA_IMP, CD_TAXA_EXP, IN_ATIVO, NR_CGC_AGENTE, NM_AGENTE_REDUZIDO )                  
SELECT                
  CD_AGENTE, NM_AGENTE, CD_TAXA_IMP, CD_TAXA_EXP, IN_ATIVO, NR_CGC_AGENTE, NM_AGENTE_REDUZIDO                  
FROM TAGENTE (NOLOCK)                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TAGENTE. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
*/
                  
/* Atualiza o cadastro de TAREA              
INSERT INTO [MYINDAIA].[DBO].[TAREA] (                  
  CD_AREA, NM_AREA, NM_GERENTE, NM_ANALISTA, NM_EMAIL_GERENTE, NM_EMAIL_ANALISTA, NM_GRUPO )                  
SELECT                  
  CD_AREA, NM_AREA, NM_GERENTE, NM_ANALISTA, NM_EMAIL_GERENTE, NM_EMAIL_ANALISTA, NM_GRUPO                  
FROM TAREA ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TAREA. Erro nº. '+CAST(@@ERROR AS varchar)                   
  SET @errors = @errors + 1                  
END                  
*/     
                  
/* Atualiza o cadastro de TARMAZEM */                  
INSERT INTO [MYINDAIA].[DBO].[TARMAZEM] (                  
  CD_ARMAZEM, NM_ARMAZEM, NM_SIGLA, CD_UNID_NEG, IN_ATRACACAO, IN_DESCARGA, IN_ESTOCAGEM, CD_MARGEM, CD_UF )                  
SELECT                  
  CD_ARMAZEM, NM_ARMAZEM, NM_SIGLA, CD_UNID_NEG, IN_ATRACACAO, IN_DESCARGA, IN_ESTOCAGEM, CD_MARGEM, CD_UF                  
FROM TARMAZEM ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TARMAZEM. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TCOND_VENDA_ENT */                  
INSERT INTO [MYINDAIA].[DBO].[TCOND_VENDA_ENT] ( CD_COND_VENDA_ENT, NM_COND_VENDA_ENT )                  
SELECT CD_COND_VENDA_ENT, NM_COND_VENDA_ENT                  
FROM TCOND_VENDA_ENT ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TCOND_VENDA_ENT. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END    
              
                  
/* Atualiza o cadastro de TDE_PARA */                  
INSERT INTO [MYINDAIA].[DBO].[TDE_PARA] ( CD_UNID_NEG, CD_PRODUTO, CD_TABELA, CD_DDBROKER, CD_EXTERNO, CD_GRUPO )                  
SELECT CD_UNID_NEG, CD_PRODUTO, CD_TABELA, CD_DDBROKER, CD_EXTERNO, CD_GRUPO                  
FROM TDE_PARA ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TDE_PARA. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TDESPACHANTE */                  
INSERT INTO [MYINDAIA].[DBO].[TDESPACHANTE] ( CD_DESPACHANTE, NM_DESPACHANTE, AP_DESPACHANTE, IN_ATIVO)                  
SELECT CD_DESPACHANTE, NM_DESPACHANTE, AP_DESPACHANTE, IN_ATIVO                  
FROM TDESPACHANTE ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TDESPACHANTE. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
         
                  
/* Atualiza o cadastro de CONTATO CLIENTE */                  
INSERT INTO [MYINDAIA].[DBO].[TCLIENTE_CONTATO] (                  
  CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_CONTATO, NM_CONTATO, CD_AREA, NM_EMAIL, CD_USUARIO )                  
SELECT                   
  CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_CONTATO, NM_CONTATO, CD_AREA, NM_EMAIL, CD_USUARIO                  
FROM TCLIENTE_CONTATO ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de CONTATO CLIENTE. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END   

/* Atualiza o cadastro de CONTATO HABILITACAO */                  
INSERT INTO [MYINDAIA].[DBO].[TCLIENTE_HABILITACAO] (                  
  CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_ATENDENTE )                  
SELECT                   
  CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_ATENDENTE
FROM TCLIENTE_HABILITACAO ( NOLOCK )                  
WHERE IN_ATIVO = 1
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de CONTATO CLIENTE. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                       
                  
                  
/* Atualiza o cadastro de EMBARCAÇÃO                
INSERT INTO [MYINDAIA].[DBO].[TEMBARCACAO] (                  
  CD_EMBARCACAO, NM_EMBARCACAO, CD_BANDEIRA )                  
SELECT                  
  CD_EMBARCACAO, NM_EMBARCACAO, CD_BANDEIRA                  
FROM TEMBARCACAO ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de EMBARCAÇÃO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
 */                    
                  
/* Atualiza o cadastro de EMPRESA ESTRANGEIRA*/                  
INSERT INTO [MYINDAIA].[DBO].[TEMPRESA_EST] (                  
  CD_EMPRESA, NM_EMPRESA, AP_EMPRESA, CD_PAIS, IN_AGENTE, IN_BANCO, IN_IMPORTADOR, IN_SEGURADORA,                  
  IN_EXPORTADOR, NR_CLIENTE, NM_CONTATO, IN_COMPRADOR, CGC_EMPRESA, IN_PO_TRANS, IN_ATIVO, END_EMPRESA, 
  END_COMPL, END_NUMERO, END_CIDADE, END_ESTADO                  
)                  
SELECT                   
  CD_EMPRESA, NM_EMPRESA, AP_EMPRESA, CD_PAIS, IN_AGENTE, IN_BANCO, IN_IMPORTADOR, IN_SEGURADORA,                  
  IN_EXPORTADOR, NR_CLIENTE, NM_CONTATO, IN_COMPRADOR, CGC_EMPRESA, IN_PO_TRANS, IN_ATIVO, END_EMPRESA,
  END_COMPL, END_NUMERO, END_CIDADE, END_ESTADO                     
FROM TEMPRESA_EST ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de EMPRESA ESTRANGEIRA. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
--*/                   
                  
/* Atualiza o cadastro de EMPRESA ESTRANGEIRA GRUPO                 
INSERT INTO [MYINDAIA].[DBO].[TEMPRESA_EST_GRUPO] (CD_EMPRESA, CD_GRUPO)                  
SELECT CD_EMPRESA, CD_GRUPO                  
FROM TEMPRESA_EST_GRUPO ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de EMPRESA ESTRANGEIRA GRUPO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
*/                   
                  
-- Atualiza o cadastro de EMPRESA NACIONAL                   
INSERT INTO [MYINDAIA].[DBO].[TEMPRESA_NAC] (                  
  CD_EMPRESA, NM_EMPRESA, AP_EMPRESA, CD_TIPO_PESSOA, CGC_EMPRESA, CPF_EMPRESA, END_EMPRESA,                  
  IN_CLIENTE, IN_IMPORTADOR, IN_EXPORTADOR, IN_REPRESENTANTE, IN_PO_DESEMB, CD_GRUPO, IN_ATIVO, IN_MARINHA_MERCANTE_ICMS                  
)                  
SELECT                   
  CD_EMPRESA, NM_EMPRESA, AP_EMPRESA, CD_TIPO_PESSOA, CGC_EMPRESA, CPF_EMPRESA, END_EMPRESA,                  
  IN_CLIENTE, IN_IMPORTADOR, IN_EXPORTADOR, IN_REPRESENTANTE, IN_PO_DESEMB, CD_GRUPO, IN_ATIVO, IN_MARINHA_MERCANTE_ICMS                  
FROM TEMPRESA_NAC ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de EMPRESA NACIONAL. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END        
--*/                  
                  
/* Atualiza o cadastro de ETAPA */                  
INSERT INTO [MYINDAIA].[DBO].[TETAPA] (                  
  CD_ETAPA, NM_ETAPA, NM_INGLES, NM_ESPANHOL, IN_ATIVO, CD_UNID_NEG, CD_PRODUTO, CD_EVENTO )                  
SELECT                  
  CD_ETAPA, NM_ETAPA, NM_INGLES, NM_ESPANHOL, IN_ATIVO, CD_UNID_NEG, CD_PRODUTO, CD_EVENTO                  
FROM TETAPA (NOLOCK)                  
WHERE IN_ATIVO = 1                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de ETAPA. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de EVENTO */                  
INSERT INTO [MYINDAIA].[DBO].[TEVENTO] (                  
  CD_EVENTO, NM_EVENTO, NM_INGLES, NM_ESPANHOL, AP_EVENTO )                  
SELECT                  
  CD_EVENTO, NM_EVENTO, NM_INGLES, NM_ESPANHOL, AP_EVENTO                  
FROM TEVENTO (NOLOCK)                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de EVENTO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TFERIADO */                  
INSERT INTO [MYINDAIA].[DBO].[TFERIADO] ( DT_FERIADO, NM_FERIADO )                  
SELECT DT_FERIADO, NM_FERIADO                  
FROM TFERIADO ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TFERIADO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TGRUPO                
INSERT INTO [MYINDAIA].[DBO].[TGRUPO] ( CD_GRUPO, NM_GRUPO, IN_EXIBE_PEDIDO_SITE, TP_PEDIDO_BUSCA, TP_DESC_BUSCA, IN_RATEIO, IN_EMAIL_CRIACAO, EMAIL_CRIACAO, IN_EMAIL_AUTORIZACAO, EMAIL_AUTORIZACAO, IN_EMAIL_PRE_AUTORIZACAO, EMAIL_PRE_AUTORIZACAO, IN_INTEGRA_FORNECIMENTO, IN_INTEGRA_PACKING_LIST, IN_MODO_SIMPLES, IN_RAP_SEQUENCIAL, IN_ENVIA_ARQUIVOS, IN_MOSTRA_FATURADOS, IN_DIVIDE_EMBARCADOS, IN_MOSTRA_FOLLOWUP, IN_CONFERENCIA, IN_PENDENCIAS, IN_RATEIA_PEDIDO, IN_ENVIA_COMO_TI, IN_TRANSP_PROGRAMACAO, TP_PEDIDO_BUSCA_IMP )                  
SELECT CD_GRUPO, NM_GRUPO, IN_EXIBE_PEDIDO_SITE, TP_PEDIDO_BUSCA, TP_DESC_BUSCA, IN_RATEIO, IN_EMAIL_CRIACAO, EMAIL_CRIACAO, IN_EMAIL_AUTORIZACAO, EMAIL_AUTORIZACAO, IN_EMAIL_PRE_AUTORIZACAO, EMAIL_PRE_AUTORIZACAO, IN_INTEGRA_FORNECIMENTO, IN_INTEGRA_PACKING_LIST, IN_MODO_SIMPLES, IN_RAP_SEQUENCIAL, IN_ENVIA_ARQUIVOS, IN_MOSTRA_FATURADOS, IN_DIVIDE_EMBARCADOS, IN_MOSTRA_FOLLOWUP, IN_CONFERENCIA, IN_PENDENCIAS, IN_RATEIA_PEDIDO, IN_ENVIA_COMO_TI, IN_TRANSP_PROGRAMACAO, TP_PEDIDO_BUSCA_IMP           
FROM TGRUPO ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TGRUPO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1              
END         
*/  
                               
/* Atualiza o cadastro de TGRUPO_SERVICO */                  
INSERT INTO [MYINDAIA].[DBO].[TGRUPO_SERVICO] ( CD_GRUPO, NM_GRUPO, NR_META )                  
SELECT CD_GRUPO, NM_GRUPO, NR_META                  
FROM TGRUPO_SERVICO ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TGRUPO_SERVICO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TFAMILIA_DOCS  */                  
INSERT INTO [MYINDAIA].[DBO].[TFAMILIA_DOCS] (                  
  CD_FAMILIA_PROD, CD_PAIS, CD_DOCUMENTO, TP_LOCAL, TX_INSTRUCAO, CD_USUARIO, DT_ALTERACAO, NR_SEQUENCIAL, CD_IMPORTADOR )                  
SELECT                  
  CD_FAMILIA_PROD, CD_PAIS, CD_DOCUMENTO, TP_LOCAL, TX_INSTRUCAO, CD_USUARIO, DT_ALTERACAO, NR_SEQUENCIAL, CD_IMPORTADOR                   
FROM TFAMILIA_DOCS ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TFAMILIA_DOCS. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TFAMILIA_PAIS  */                  
INSERT INTO [MYINDAIA].[DBO].[TFAMILIA_PAIS] (                  
  CD_FAMILIA_PROD, CD_PAIS, NR_DIA_PERFORMACE, CD_USUARIO, DT_ALTERACAO, NR_SEQUENCIAL, CD_IMPORTADOR )                  
SELECT                  
  CD_FAMILIA_PROD, CD_PAIS, NR_DIA_PERFORMACE, CD_USUARIO, DT_ALTERACAO, NR_SEQUENCIAL, CD_IMPORTADOR                   
FROM TFAMILIA_PAIS ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TFAMILIA_PAIS. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TFAMILIA_PROD  */                  
INSERT INTO [MYINDAIA].[DBO].[TFAMILIA_PROD] (                  
  CD_FAMILIA_PROD, NM_FAMILIA_PROD, CD_UNID_NEG, CD_PRODUTO, CD_EXPORTADOR, IN_ATIVO, CD_USUARIO, DT_ALTERACAO )                  
SELECT                  
  CD_FAMILIA_PROD, NM_FAMILIA_PROD, CD_UNID_NEG, CD_PRODUTO, CD_EXPORTADOR, IN_ATIVO, CD_USUARIO, DT_ALTERACAO                   
FROM TFAMILIA_PROD ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TFAMILIA_PROD. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TINST_NEGOC */                  
INSERT INTO [MYINDAIA].[DBO].[TINST_NEGOC] ( CD_INST_NEGOC, NM_INST_NEGOC )                  
SELECT CD_INST_NEGOC, NM_INST_NEGOC                  
FROM TINST_NEGOC ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)               
BEGIN                  
  PRINT 'Verificar cadastro de TINST_NEGOC. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de ITEM do faturamento                
INSERT INTO [MYINDAIA].[DBO].[TITEM] (                  
  CD_ITEM, NM_ITEM, CD_TIPO_ITEM, CD_TIPO_LANC_FAT, IN_ATIVO, IN_CPMF, CD_CT_CONTABIL, CD_CT_CUSTO, IN_CONSOLIDA, CD_FORMA_RATEIO,                  
  CD_TIPO_AVON, IN_DOLAR,IN_FAV_SM, CD_CT_GERENCIAL, CD_FILIAL, NM_APELIDO, NM_ITEM_INGLES, IN_ITEM_DI, CD_ACESSO, CD_AUX,                  
  IN_REEMBOLSO, IN_DIVERSOS, IN_CALCULA_IR, NR_ORDEM_FAT, IN_TRIBUTAVEL, IN_SOLIC_PAGTO, IN_DESP_ALF, IN_REEMB_FINANC, TP_ITEM,                  
  CD_IATA, CD_ITEM_CONTABIL, CD_HIST_CONTABIL, IN_CALC_IN381, TP_FRETE, TP_BASE_CALCULO, CD_VIA_TRANSPORTE, NM_ITEM_ESPANHOL )                  
SELECT                  
  CD_ITEM, NM_ITEM, CD_TIPO_ITEM, CD_TIPO_LANC_FAT, IN_ATIVO, IN_CPMF, CD_CT_CONTABIL, CD_CT_CUSTO, IN_CONSOLIDA, CD_FORMA_RATEIO,                  
  CD_TIPO_AVON, IN_DOLAR,IN_FAV_SM, CD_CT_GERENCIAL, CD_FILIAL, NM_APELIDO, NM_ITEM_INGLES, IN_ITEM_DI, CD_ACESSO, CD_AUX,                  
  IN_REEMBOLSO, IN_DIVERSOS, IN_CALCULA_IR, NR_ORDEM_FAT, IN_TRIBUTAVEL, IN_SOLIC_PAGTO, IN_DESP_ALF, IN_REEMB_FINANC, TP_ITEM,                  
  CD_IATA, CD_ITEM_CONTABIL, CD_HIST_CONTABIL, IN_CALC_IN381, TP_FRETE, TP_BASE_CALCULO, CD_VIA_TRANSPORTE, NM_ITEM_ESPANHOL                  
FROM TITEM (NOLOCK)                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de ITEM. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
 */                    
  
/* Atualiza o cadastro de TLOCAL_EMBARQUE                  
INSERT INTO [MYINDAIA].[DBO].[TLOCAL_EMBARQUE] (                  
  CD_LOCAL_EMB, NM_LOCAL_EMB, CD_UNID_NEG_LOCAL )                  
SELECT                   
  CODIGO, DESCRICAO, CD_UNID_NEG_LOCAL                   
FROM TLOCAL_EMBARQUE (NOLOCK)                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TLOCAL_EMBARQUE. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END 
 */                 

/* Atualiza o cadastro de TPLANEJADORES */    
--DBCC CHECKIDENT('MYINDAIA.DBO.TPLANEJADORES', RESEED, 0)                             
INSERT INTO [MYINDAIA].[DBO].[TPLANEJADORES] ( CD_PLANEJADOR, NM_PLANEJADOR, CD_GRUPO, CD_USUARIO_MY, IN_ATIVO )                  
SELECT CD_PLANEJADOR, NM_PLANEJADOR, CD_GRUPO, CD_USUARIO_MY, IN_ATIVO                  
FROM TPLANEJADORES ( NOLOCK )     
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TPLANEJADORES. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                      

                  
/* Atualiza o cadastro de MERCADORIA IMP  */              
INSERT INTO [MYINDAIA].[DBO].[TMERCADORIA] (                  
  CD_MERCADORIA, NM_MERCADORIA, AP_MERCADORIA, VL_UNITARIO, PL_MERCADORIA, CD_EXPORTADOR, CD_PAIS_AQUISICAO,                  
  CD_PAIS_ORIGEM, CD_FABRICANTE, CD_IMPORTADOR, CD_GRUPO, CD_MATERIAL, CD_MOEDA, CD_EMBALAGEM, QT_POR_EMBALAGEM,                  
  PB_MERCADORIA, CD_AREA, IN_TIPO_M_E, CD_NCM_SH, CD_NALADI_SH, CD_NALADI_NCCA, CD_PLANEJADOR, CD_FINALIDADE_MERC )                  
SELECT                  
  CD_MERCADORIA, NM_MERCADORIA, AP_MERCADORIA, VL_UNITARIO, PL_MERCADORIA, CD_EXPORTADOR, CD_PAIS_AQUISICAO,                  
  CD_PAIS_ORIGEM, CD_FABRICANTE, CD_IMPORTADOR, CD_GRUPO, CD_MATERIAL, CD_MOEDA, CD_EMBALAGEM, QT_POR_EMBALAGEM,                  
  PB_MERCADORIA, CD_AREA, IN_TIPO_M_E, CD_NCM_SH, CD_NALADI_SH, CD_NALADI_NCCA, CD_PLANEJADOR, CD_FINALIDADE_MERC                  
FROM TMERCADORIA ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de MERCADORIA IMP. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                                
 
                  
/* Atualiza o cadastro de MERCADORIA EXP                  
INSERT INTO [MYINDAIA].[DBO].[TMERCADORIA_EXP] (                  
  CD_MERCADORIA, NM_MERCADORIA, AP_MERCADORIA, VL_UNITARIO, CD_UN_MED_COMERC, CD_NCM_SH, CD_NALADI_SH,                  
  CD_NALADI_NCCA, PL_MERCADORIA, CD_EXPORTADOR, CD_PAIS_AQUISICAO, CD_PAIS_ORIGEM, CD_FABRICANTE, CD_IMPORTADOR,                  
  CD_GRUPO, CD_FABR_EXPO, CD_TIPO_CALCULO, CD_MATERIAL, IN_NECESSITA_LI, CD_FAMILIA_PROD, CD_MOEDA, CD_EMBALAGEM,                  
  QT_POR_EMBALAGEM, CD_CATEGORIA_TEXTIL, CD_FINALIDADE_MERC, CD_UF_PRODUTOR, TX_DESC_INGLES, TX_DESC_ESP,                  
  PB_MERCADORIA, NR_LINHA, CD_COR, CD_AREA, IN_DRAWBACK_INDAIA, CD_IMPORTACAO )                  
SELECT                  
  CD_MERCADORIA, NM_MERCADORIA, AP_MERCADORIA, VL_UNITARIO, CD_UN_MED_COMERC, CD_NCM_SH, CD_NALADI_SH,                  
  CD_NALADI_NCCA, PL_MERCADORIA, CD_EXPORTADOR, CD_PAIS_AQUISICAO, CD_PAIS_ORIGEM, CD_FABRICANTE, CD_IMPORTADOR,                  
  CD_GRUPO, CD_FABR_EXPO, CD_TIPO_CALCULO, CD_MATERIAL, IN_NECESSITA_LI, CD_FAMILIA_PROD, CD_MOEDA, CD_EMBALAGEM,                  
  QT_POR_EMBALAGEM, CD_CATEGORIA_TEXTIL, CD_FINALIDADE_MERC, CD_UF_PRODUTOR, TX_DESC_INGLES, TX_DESC_ESP,                  
  PB_MERCADORIA, NR_LINHA, CD_COR, CD_AREA, IN_DRAWBACK_INDAIA, CD_IMPORTACAO                  
FROM TMERCADORIA_EXP ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de MERCADORIA EXP. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
*/                   
                  
/* Atualiza o cadastro de TMOEDA_BROKER */                  
INSERT INTO [MYINDAIA].[DBO].[TMOEDA_BROKER] ( CD_MOEDA, NM_MOEDA, AP_MOEDA )                  
SELECT CD_MOEDA, NM_MOEDA, AP_MOEDA                  
FROM TMOEDA_BROKER ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TMOEDA_BROKER. Erro nº. '+CAST(@@ERROR AS varchar)              
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TPAIS */                  
INSERT INTO [MYINDAIA].[DBO].[TPAIS] ( CODIGO, DESCRICAO )                  
SELECT CODIGO, DESCRICAO                  
FROM TPAIS ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TPAIS. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TPAIS_BROKER */                  
INSERT INTO [MYINDAIA].[DBO].[TPAIS_BROKER] (                  
  CD_PAIS, NM_PAIS, NM_PAIS_PORT, NM_PAIS_ING, NM_PAIS_ESP, CD_SCX_EXP, NM_SIGLA_CRT, IN_NALADI_FATURA, IN_NCM_FATURA, NM_CONTINENTE )                  
SELECT                  
  CD_PAIS, NM_PAIS, NM_PAIS_PORT, NM_PAIS_ING, NM_PAIS_ESP, CD_SCX_EXP, NM_SIGLA_CRT, IN_NALADI_FATURA, IN_NCM_FATURA, NM_CONTINENTE                  
FROM TPAIS_BROKER ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TPAIS_BROKER. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de PERMISSÃO USUARIO x CLIENTE                
INSERT INTO [MYINDAIA].[DBO].[TPERMISSAO] ( CD_USUARIO, CD_CLIENTE )                  
SELECT P.CD_USUARIO, P.CD_CLIENTE                  
FROM TPERMISSAO       P ( NOLOCK )                  
  INNER JOIN TUSUARIO U ( NOLOCK ) ON ( U.CD_USUARIO = P.CD_USUARIO )                  
WHERE P.IN_ATIVO = '1'                  
  AND U.IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de PERMISSÃO USUARIO x CLIENTE. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
*/                     
                  
/* Atualiza o cadastro de PERMISSÃO USUARIO x AREA                   
INSERT INTO [MYINDAIA].[DBO].[TPERMISSAO_AREA] ( CD_USUARIO, CD_AREA )                  
SELECT P.CD_USUARIO, P.CD_AREA                  
FROM TPERMISSAO_AREA  P ( NOLOCK )                  
  INNER JOIN TUSUARIO U ( NOLOCK ) ON ( U.CD_USUARIO = P.CD_USUARIO )                  
WHERE P.IN_ATIVO = '1'                  
  AND U.IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de PERMISSÃO USUARIO x AREA. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END         
*/

/* Atualiza o cadastro de PERMISSÃO USUARIO x GRUPO                 
INSERT INTO [MYINDAIA].[DBO].[TPERMISSAO_GRUPO] ( CD_USUARIO, CD_GRUPO )                  
SELECT P.CD_USUARIO, P.CD_GRUPO               
FROM TPERMISSAO_GRUPO  P ( NOLOCK )                  
  INNER JOIN TUSUARIO U ( NOLOCK ) ON ( U.CD_USUARIO = P.CD_USUARIO )                  
WHERE P.IN_ATIVO = '1'                  
  AND U.IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de PERMISSÃO USUARIO x GRUPO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END           
*/                    
                  
/* Atualiza o cadastro de TPRODUTO */                  
INSERT INTO [MYINDAIA].[DBO].[TPRODUTO] ( CD_PRODUTO, NM_PRODUTO, AP_PRODUTO )                  
SELECT CD_PRODUTO, NM_PRODUTO, AP_PRODUTO                  
FROM TPRODUTO ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TPRODUTO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de RECEITAS IMP */                  
INSERT INTO [MYINDAIA].[DBO].[TRECEITAS_IMP] (                  
  CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, CD_ITEM, CD_REGIME_TRIB, TP_DT_BASE, VL_NUM_TAXA, VL_DEN_TAXA,                  
  TP_BASE_CALC_TAXA, CD_MOEDA_TAXA, VL_NUM_ACR, VL_DEN_ACR, TP_BASE_CALC_ACR, CD_MOEDA_ACR, VL_NUM_FORA_REGIAO,                  
  VL_DEN_FORA_REGIAO, TP_BASE_CALC_FORA_REGIAO, CD_MOEDA_FORA_REGIAO, VL_NUM_MIN, VL_DEN_MIN, TP_BASE_CALC_MIN,                  
  CD_MOEDA_MIN, VL_NUM_MAX, VL_DEN_MAX, TP_BASE_CALC_MAX, CD_MOEDA_MAX, IN_ATIVO )                  
SELECT                   
  CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, CD_ITEM, CD_REGIME_TRIB, TP_DT_BASE, VL_NUM_TAXA, VL_DEN_TAXA,                  
  TP_BASE_CALC_TAXA, CD_MOEDA_TAXA, VL_NUM_ACR, VL_DEN_ACR, TP_BASE_CALC_ACR, CD_MOEDA_ACR, VL_NUM_FORA_REGIAO,                  
  VL_DEN_FORA_REGIAO, TP_BASE_CALC_FORA_REGIAO, CD_MOEDA_FORA_REGIAO, VL_NUM_MIN, VL_DEN_MIN, TP_BASE_CALC_MIN,                  
  CD_MOEDA_MIN, VL_NUM_MAX, VL_DEN_MAX, TP_BASE_CALC_MAX, CD_MOEDA_MAX, IN_ATIVO                   
FROM TRECEITAS_IMP ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de RECEITAS IMP. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TRECINTO_SETORES_IMPORTACAO */                  
INSERT INTO [MYINDAIA].[DBO].[TRECINTO_SETORES_IMPORTACAO] (                  
  ORGAO, RECINTO, SETOR, NOME )                  
SELECT                  
  ORGAO, RECINTO, SETOR, NOME                  
FROM TRECINTO_SETORES_IMPORTACAO ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TRECINTO_SETORES_IMPORTACAO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                
                  
/* Atualiza o cadastro de SERVIÇO */                  
INSERT INTO [MYINDAIA].[DBO].[TSERVICO] (                  
  CD_SERVICO, NM_SERVICO, CD_CLASSIFICACAO, CD_VIA_TRANSPORTE, NR_DIAS_CONCLUSAO, CD_EVENTO_CONCLUSOR, CD_EV_INI, CD_EV_FIM, CD_GRUPO, IN_LI )                  
SELECT                  
  CD_SERVICO, NM_SERVICO, CD_CLASSIFICACAO, CD_VIA_TRANSPORTE, NR_DIAS_CONCLUSAO, CD_EVENTO_CONCLUSOR, CD_EV_INI, CD_EV_FIM, CD_GRUPO, IN_LI                   
FROM TSERVICO (NOLOCK)                  
--WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de SERVIÇO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END  

/* Atualiza o cadastro de SERVIÇO_NOVO */                  
INSERT INTO [MYINDAIA].[DBO].[TSERVICO_NOVO] (                  
  CD_SERVICO, NM_SERVICO, CD_CLASSIFICACAO, CD_VIA_TRANSPORTE, NR_DIAS_CONCLUSAO, CD_EVENTO_CONCLUSOR, CD_EV_INI, CD_EV_FIM, CD_GRUPO, IN_LI )                  
SELECT                  
  CD_SERVICO, NM_SERVICO, CD_CLASSIFICACAO, CD_VIA_TRANSPORTE, NR_DIAS_CONCLUSAO, CD_EVENTO_CONCLUSOR, CD_EV_INI, CD_EV_FIM, CD_GRUPO, IN_LI                   
FROM TSERVICO_NOVO (NOLOCK)                  
--WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de SERVIÇO_NOVO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                 
                  
                  
/* Atualiza o cadastro de SERVIÇO EVENTO */                  
INSERT INTO [MYINDAIA].[DBO].[TSERVICO_EVENTO] (                  
  CD_SERVICO, CD_EVENTO, NR_ORDEM, CD_EV_BASICO, PZ_DO_EV_BASICO, CD_EV_FUTURO, PZ_ATE_EV_FUTURO, CD_TIPO_EVENTO )                  
SELECT                  
  CD_SERVICO, CD_EVENTO, NR_ORDEM, CD_EV_BASICO, PZ_DO_EV_BASICO, CD_EV_FUTURO, PZ_ATE_EV_FUTURO, CD_TIPO_EVENTO                  
FROM TSERVICO_EVENTO (NOLOCK)                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de SERVIÇO EVENTO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TTERMO_PAGTO                   
INSERT INTO [MYINDAIA].[DBO].[TTERMO_PAGTO] (                  
  CD_TERMO_PAGTO, NM_TERMO_PAGTO, CD_EXPORTADOR, NR_PERIODICIDADE, TP_INDICADOR, NR_PARCELAS,                  
  CD_MODALIDADE_TRANS, CD_ENQUAD_OP )                  
SELECT                  
  CD_TERMO_PAGTO, NM_TERMO_PAGTO, CD_EXPORTADOR, NR_PERIODICIDADE, TP_INDICADOR, NR_PARCELAS,                  
  CD_MODALIDADE_TRANS, CD_ENQUAD_OP                  
FROM TTERMO_PAGTO ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TTERMO_PAGTO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1               
END                  
*/                  
                  
/* Atualiza o cadastro de TTRANSP_ITL                   
INSERT INTO [MYINDAIA].[DBO].[TTRANSP_ITL] ( CD_TRANSP_ITL, NM_TRANSP_ITL, AP_TRANSP_ITL )                  
SELECT CODIGO, DESCRICAO, APELIDO                  
FROM TTRANSPORTADOR_ITL ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TTRANSP_ITL. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
*/                  
                  
/* Atualiza o cadastro de TTRANSP_ROD                   
INSERT INTO [MYINDAIA].[DBO].[TTRANSP_ROD] (                  
  CD_TRANSP_ROD, NM_TRANSP_ROD, AP_TRANSP_ROD, NM_EMAIL, CD_PAIS_TRANSP, CD_TRANSP_ARMAZEM_FABRICA )                  
SELECT                  
  CD_TRANSP_ROD, NM_TRANSP_ROD, AP_TRANSP_ROD, NM_EMAIL, CD_PAIS_TRANSP, CD_TRANSP_ARMAZEM_FABRICA                  
FROM TTRANSP_ROD (NOLOCK)                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TTRANSP_ROD. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
*/
                  
/* Atualiza o cadastro de TUNID_MEDIDA_BROKER */                  
INSERT INTO [MYINDAIA].[DBO].[TUNID_MEDIDA_BROKER] (CD_UNID_MEDIDA, NM_UNID_MEDIDA, NM_SIGLA)                  
SELECT CD_UNID_MEDIDA, NM_UNID_MEDIDA, NM_SIGLA                  
FROM TUNID_MEDIDA_BROKER (NOLOCK)                  
                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TUNID_MEDIDA_BROKER. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                

/* Atualiza o cadastro de TCM */                  
INSERT INTO [MYINDAIA].[DBO].[TNCM] (CODIGO, DESCRICAO)                  
SELECT CODIGO, DESCRICAO                  
FROM TNCM (NOLOCK)                  
                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TNCM. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END   
                  
                  
/* Atualiza o cadastro de TUNID_NEG */                  
INSERT INTO [MYINDAIA].[DBO].[TUNID_NEG] ( CD_UNID_NEG, NM_UNID_NEG, AP_UNID_NEG )                  
SELECT CD_UNID_NEG, NM_UNID_NEG, AP_UNID_NEG                  
FROM TUNID_NEG ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TUNID_NEG. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TURF */                  
INSERT INTO [MYINDAIA].[DBO].[TURF] ( CODIGO, DESCRICAO, CD_DIGITO )                  
SELECT CODIGO, DESCRICAO, CD_DIGITO                  
FROM TURF ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TURF. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TVIA_TRANSPORTE */                  
INSERT INTO [MYINDAIA].[DBO].[TVIA_TRANSPORTE] ( CD_VIA_TRANSPORTE, NM_VIA_TRANSPORTE )                  
SELECT CD_VIA_TRANSP, NM_VIA_TRANSP                  
FROM TVIA_TRANSP_BROKER ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TVIA_TRANSPORTE. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TUSUARIO                   
INSERT INTO [MYINDAIA].[DBO].[TUSUARIO] (                  
  CD_USUARIO, CD_SENHA, CD_CARGO, NM_USUARIO, AP_USUARIO, NM_EMAIL, CD_CELULA, CD_TRANSP_ROD, CD_EMPRESA )                  
SELECT                  
  CD_USUARIO, CD_SENHA, CD_CARGO, NM_USUARIO, AP_USUARIO, NM_EMAIL, CD_CELULA, CD_TRANSP_ROD, CD_EMPRESA           
FROM TUSUARIO ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TUSUARIO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
*/              
                  
/* Atualiza o cadastro de TUSUARIO_HABILITACAO                   
INSERT INTO [MYINDAIA].[DBO].[TUSUARIO_HABILITACAO] (                  
  CD_USUARIO, CD_UNID_NEG, CD_PRODUTO, IN_DEFAULT, IN_ACESSO_SITE, IN_DIREITOS )                  
SELECT                  
  CD_USUARIO, CD_UNID_NEG, CD_PRODUTO, IN_DEFAULT, IN_ACESSO_SITE, IN_DIREITOS                  
FROM TUSUARIO_HABILITACAO ( NOLOCK )                  
WHERE IN_ATIVO = '1'                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TUSUARIO_HABILITACAO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
*/                  
                  
/* Atualiza o cadastro de TVIAGEM */                  
INSERT INTO [MYINDAIA].[DBO].[TVIAGEM] (                  
  CD_UNID_NEG, CD_PRODUTO, CD_EMBARCACAO, NR_VIAGEM, DT_ESPERADA, DT_ENT, CD_ARMAZEM_ATRACACAO, NR_MANIFESTO,                  
  IN_TRANSBORDO, CD_LOCAL )                  
SELECT                  
  CD_UNID_NEG, CD_PRODUTO, CD_EMBARCACAO, NR_VIAGEM, DT_ESPERADA, DT_ENT, CD_ARMAZEM_ATRACACAO, NR_MANIFESTO,                  
  IN_TRANSBORDO, CD_LOCAL                   
FROM TVIAGEM ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
 PRINT 'Verificar cadastro de TVIAGEM. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END        
        
/* Atualiza o cadastro de TVIAGEM_DEADLINE */                  
INSERT INTO [MYINDAIA].[DBO].[TVIAGEM_DEADLINE] (                  
  CD_UNID_NEG, CD_PRODUTO, CD_EMBARCACAO, NR_VIAGEM, CD_AGENTE, TP_ESTUFAGEM, DT_DEADLINE_BL, HR_DEADLINE_BL,                  
  DT_DEADLINE_CARGA, HR_DEADLINE_CARGA, DT_DEADLINE_IMO, HR_DEADLINE_IMO, DT_ABERTURA_GATE, HR_ABERTURA_GATE, DT_DEADLINE_CARTA_TEMP, HR_DEADLINE_CARTA_TEMP )                  
SELECT                  
  CD_UNID_NEG, CD_PRODUTO, CD_EMBARCACAO, NR_VIAGEM, CD_AGENTE, TP_ESTUFAGEM, DT_DEADLINE_BL, HR_DEADLINE_BL,                  
  DT_DEADLINE_CARGA, HR_DEADLINE_CARGA, DT_DEADLINE_IMO, HR_DEADLINE_IMO, DT_ABERTURA_GATE, HR_ABERTURA_GATE, DT_DEADLINE_CARTA_TEMP, HR_DEADLINE_CARTA_TEMP                        
FROM TVIAGEM_DEADLINE ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
 PRINT 'Verificar cadastro de TVIAGEM_DEADLINE. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
        
/* Atualiza o cadastro de TRETIFICA_DI */                  
INSERT INTO [MYINDAIA].[DBO].[TRETIFICA_DI] (                  
  NR_PROCESSO, NR_SEQUENCIA, IN_GERAL, NR_ADICAO, TX_MOTIVO, NR_PROTOCOLO, DT_PROCOTOLO,                  
  VL_MULTA, IN_INICIATIVA_PROPRIA )                  
SELECT                  
  NR_PROCESSO, NR_SEQUENCIA, IN_GERAL, NR_ADICAO, TX_MOTIVO, NR_PROTOCOLO, DT_PROCOTOLO,                  
  VL_MULTA, IN_INICIATIVA_PROPRIA                         
FROM TRETIFICA_DI ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
 PRINT 'Verificar cadastro de TRETIFICA_DI. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
/* Atualiza o cadastro de TTIPO_ITEM */                  
INSERT INTO [MYINDAIA].[DBO].[TTIPO_ITEM] (                  
  CD_TIPO_ITEM, NM_TIPO_ITEM, TP_NATUREZA, IN_FATURAR, IN_RESTITUI, CD_CONTABILIZACAO, TP_OPERACAO,                  
  IN_SOLIC_NUM, IN_RECEB_NUM, IN_SOLIC_CHQ, IN_FINANCEIRO, IN_FAT_CC, IN_FAT_SOLIC, IN_ATIVO )                  
SELECT                  
  CD_TIPO_ITEM, NM_TIPO_ITEM, TP_NATUREZA, IN_FATURAR, IN_RESTITUI, CD_CONTABILIZACAO, TP_OPERACAO,                  
  IN_SOLIC_NUM, IN_RECEB_NUM, IN_SOLIC_CHQ, IN_FINANCEIRO, IN_FAT_CC, IN_FAT_SOLIC, IN_ATIVO                  
FROM TTIPO_ITEM ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TTIPO_ITEM. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
                  
/* Atualiza o cadastro de TTP_DOCUMENTO */                  
INSERT INTO [MYINDAIA].[DBO].[TTP_DOCUMENTO] (                  
  CODIGO, DESCRICAO, CD_UNID_NEG, CD_PRODUTO, IN_EMAIL )                  
SELECT                  
  CODIGO, DESCRICAO, CD_UNID_NEG, CD_PRODUTO, IN_EMAIL                  
FROM TTP_DOCUMENTO ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TTP_DOCUMENTO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END           
                  
/* Atualiza o cadastro de TORGAO_ANUENTES*/                  
INSERT INTO [MYINDAIA].[DBO].[TORGAO_ANUENTES] (                  
  CODIGO, DESCRICAO, CGC )                  
SELECT                  
  CODIGO, DESCRICAO, CGC                  
FROM TORGAO_ANUENTES ( NOLOCK)                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TORGAO_ANUENTES. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
              
/* Atualiza o cadastro de TPERMISSAO_EMPRESA_EST */                  
INSERT INTO [MYINDAIA].[DBO].[TPERMISSAO_EMPRESA_EST] (                  
  CD_USUARIO, CD_EMPRESA, IN_ATIVO )                  
SELECT                  
  CD_USUARIO, CD_EMPRESA, IN_ATIVO              
FROM TPERMISSAO_EMPRESA_EST ( NOLOCK )                  
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TTIPO_ITEM. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
            
/*DELETA OS REGISTROS DA TMODALID_PAGAMENTO*/                  
DELETE FROM [MYINDAIA].[DBO].[TMODALID_PAGAMENTO]                  
/* Atualiza o cadastro de TMODALID_PAGAMENTO */                  
INSERT INTO [MYINDAIA].[DBO].[TMODALID_PAGAMENTO] ( CODIGO, DESCRICAO )                  
SELECT CODIGO, DESCRICAO FROM TMODALID_PAGAMENTO (NOLOCK)            
--verifica se ocorreram erros                  
IF (@@ERROR <> 0)                  
BEGIN                  
  PRINT 'Verificar cadastro de TMODALID_PAGAMENTO. Erro nº. '+CAST(@@ERROR AS varchar)                  
  SET @errors = @errors + 1                  
END                  
                  
/**********************************************************************************************/                  
                  
--verifica se aconteceu algum erro                  
IF @errors = 0                  
BEGIN                  
  COMMIT TRAN                  
  PRINT 'Cadastro atualizado com sucesso.'                  
END                  
ELSE                  
BEGIN                  
  ROLLBACK TRAN                  
  PRINT 'Falha ao atualizar o cadastro'                  
END                  
SET NOCOUNT OFF                
                

GO
