USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_flp_po_item] (@nr_processo char(18), @cd_empresa char(5), @nr_item char(3) = Null) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @nr_processo char(18),
  @cd_empresa  char(5),
  @nr_item     char(3)

SET @nr_processo = '4500844403'
SET @cd_empresa  = ''
SET @nr_item     = '001'
--*/
SET NOCOUNT ON

DECLARE @cd_servico        char(3),
        @cd_evento         char(3),
        @cd_ev_basico      char(3),
        @cd_ev_futuro      char(3),
        @in_aplicavel      char(1),
        @pz_do_ev_basico   float,
        @pz_ate_ev_futuro  float,
        @prazo             int,
        @dt_realizacao     datetime,
        @dt_ev_basico      datetime,
        @dt_ev_futuro      datetime,
        @dt_limite         datetime,
        @dt_prevista       datetime,
        @nr_dias_conclusao int,
        @cd_ev_conclusor   char(3),
        @cd_ev_abre_proc   char(3),
        @cd_ev_envio_nf    char(3),
        @cd_ev_prev_fabr   char(3),
        @cd_ev_merc_fabr   char(3),
        @in_auto_merc_fabr char(1),
        @dt_hoje           datetime,
        @cd_status         char(1)

--seleciona os eventos utilizados no script
--SELECT @cd_ev_abre_proc = CD_EV_ABRE_PROC FROM TPARAMETROS (NOLOCK)
SET @cd_ev_abre_proc = '003'
SET @cd_ev_envio_nf  = '041'
SET @cd_ev_prev_fabr = '146'
SET @cd_ev_merc_fabr = '164'

SELECT @cd_servico = PR.CD_SERVICO, @in_auto_merc_fabr = CH.IN_AUTO_MERC_FABR
FROM BROKER.DBO.TPROCESSO PR (NOLOCK), BROKER.DBO.TCLIENTE_HABILITACAO CH (NOLOCK)
WHERE PR.NR_REFERENCIA = @nr_processo
  AND PR.CD_CLIENTE    = @cd_empresa
  AND PR.CD_CLIENTE    = CH.CD_CLIENTE
  AND PR.CD_UNID_NEG   = CH.CD_UNID_NEG
  AND PR.CD_PRODUTO    = CH.CD_PRODUTO

--seleciona a data de hoje
SET @dt_hoje = CONVERT(DATETIME, CONVERT(VARCHAR(10), GETDATE(), 103), 103)

-- VERIFICA SE TEM ALGUM EVENTO NA TSERVICO_EVENTO COM NR_ORDEM DIFERENTE DA TFOLLOWUP
IF EXISTS(SELECT F.CD_EVENTO
          FROM TFLP_PO_ITEM F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK)
          WHERE F.NR_PROCESSO = @nr_processo
            AND F.CD_EMPRESA  = @cd_empresa
            AND F.NR_ITEM     = @nr_item
            AND SE.CD_SERVICO = @cd_servico
            AND SE.CD_EVENTO  = F.CD_EVENTO
            AND SE.NR_ORDEM  <> F.NR_ORDEM)
BEGIN
    --atualiza a ordem dos eventos no fup do processo e apaga todas as previsões e datas limite
    UPDATE F
    SET DT_PREVISTA = NULL,
        DT_LIMITE   = NULL,
        NR_ORDEM    = SE.NR_ORDEM
    FROM TFLP_PO_ITEM F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK)
    WHERE F.NR_PROCESSO = @nr_processo
      AND F.CD_EMPRESA  = @cd_empresa
      AND F.NR_ITEM     = @nr_item
      AND SE.CD_SERVICO = @cd_servico
      AND SE.CD_EVENTO  = F.CD_EVENTO
END
ELSE
BEGIN
    --apaga todas as previsões e datas limite
    UPDATE TFLP_PO_ITEM
    SET DT_PREVISTA = NULL,
        DT_LIMITE   = NULL
    WHERE NR_PROCESSO = @nr_processo
      AND CD_EMPRESA  = @cd_empresa
      AND NR_ITEM     = @nr_item
END

--seleciona a qtde de dias para conclusão, se nulo atribui 0(zero)
--e seleciona o codigo do evento conclusor da tabela de parametros
SELECT @nr_dias_conclusao = ISNULL(NR_DIAS_CONCLUSAO_PO, 0),
       @cd_ev_conclusor   = CD_EVENTO_CONCLUSOR_PO
FROM BROKER.DBO.TPARAMETROS (NOLOCK)

-- Determina Limites para Evento Base
DECLARE cPrevisto CURSOR LOCAL FOR
    SELECT F.CD_EVENTO, F.IN_APLICAVEL, SE.CD_EV_BASICO, SE.PZ_DO_EV_BASICO, F.DT_REALIZACAO
    FROM TFLP_PO_ITEM F (NOLOCK), TSERVICO_EVENTO SE (NOLOCK)
    WHERE F.NR_PROCESSO = @nr_processo
      AND F.CD_EMPRESA  = @cd_empresa
      AND F.NR_ITEM     = @nr_item
      AND SE.CD_SERVICO = @cd_servico
      AND SE.CD_EVENTO  = F.CD_EVENTO
      AND ISNULL( SE.CD_EV_BASICO, '' ) <> ''
    ORDER BY SE.NR_ORDEM

OPEN cPrevisto
FETCH cPrevisto INTO @cd_evento, @in_aplicavel, @cd_ev_basico, @pz_do_ev_basico, @dt_realizacao

WHILE @@fetch_status = 0
BEGIN
    IF (SELECT COUNT(*)
        FROM TFLP_PO_ITEM (NOLOCK)
        WHERE CD_EVENTO = @cd_ev_basico
          AND NR_PROCESSO = @nr_processo
          AND CD_EMPRESA  = @cd_empresa
          AND NR_ITEM = @nr_item) > 0
        SELECT @dt_ev_basico = ISNULL(DT_REALIZACAO, DT_PREVISTA)
        FROM TFLP_PO_ITEM (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EMPRESA  = @cd_empresa
          AND NR_ITEM     = @nr_item
          AND CD_EVENTO   = @cd_ev_basico
    ELSE
        SELECT @dt_ev_basico = ISNULL( DT_REALIZACAO, DT_PREVISTA )
        FROM TFLP_PO (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EMPRESA  = @cd_empresa
          AND CD_EVENTO   = @cd_ev_basico

    IF @in_aplicavel = '0'
        SET @pz_do_ev_basico = 0

    SET @prazo = ISNULL(@pz_do_ev_basico, 0)

    UPDATE TFLP_PO_ITEM
    SET DT_PREVISTA = DATEADD(HOUR, @prazo, @dt_ev_basico)
    WHERE NR_PROCESSO = @nr_processo
      AND CD_EMPRESA  = @cd_empresa
      AND NR_ITEM     = @nr_item
      AND CD_EVENTO   = @cd_evento

    FETCH cPrevisto INTO @cd_evento, @in_aplicavel, @cd_ev_basico, @pz_do_ev_basico, @dt_realizacao
END
CLOSE cPrevisto
DEALLOCATE cPrevisto

--verifica se alimenta automatico mercadoria na fabrica
IF @in_auto_merc_fabr = '1'
BEGIN
    IF (SELECT COUNT(*)
        FROM TESTAGIO_PROCESSO EP (NOLOCK)
           INNER JOIN TPO_ITEM POI (NOLOCK) ON (POI.NR_PROCESSO = EP.NR_REFERENCIA
                                           AND POI.NR_ITEM_CLIENTE = EP.NR_ITEM_CLIENTE
                                           AND POI.NR_PARCIAL = EP.NR_PARCIAL)
        WHERE POI.NR_PROCESSO = @nr_processo
          AND POI.CD_EMPRESA  = @cd_empresa
          AND POI.NR_ITEM     = @nr_item
          AND EP.NR_PROCESSO_DES IS NULL) > 0
    BEGIN
        --seleciona a previsão de envio de nf e aumenta em 2 dias
        SELECT @dt_prevista = DATEADD(DAY, 2, DT_PREVISTA)
        FROM TFLP_PO_ITEM (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EMPRESA  = @cd_empresa
          AND NR_ITEM     = @nr_item
          AND CD_EVENTO   = @cd_ev_envio_nf

        --atualiza a realização de prev na fabrica com a data acima
        UPDATE TFLP_PO_ITEM
        SET DT_PREVISTA = @dt_prevista
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EMPRESA  = @cd_empresa
          AND NR_ITEM     = @nr_item
          AND CD_EVENTO   = @cd_ev_prev_fabr
    
        --atualiza a previsão de merc. na fabr. com a data acima
        UPDATE TFLP_PO_ITEM
        SET DT_PREVISTA = @dt_prevista
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EMPRESA  = @cd_empresa
          AND NR_ITEM     = @nr_item
          AND CD_EVENTO   = @cd_ev_merc_fabr
    END
END

SET NOCOUNT OFF
/*  
select *
from tflp_po_item (nolock) where nr_processo = @nr_processo and cd_empresa = @cd_empresa and nr_item = @nr_item order by nr_ordem  
ROLLBACK TRAN  
SET XACT_ABORT OFF  
--*/



GO
