USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.sp_duplica_numerario    Script Date: 02/09/1999 08:59:00 AM ******/
CREATE procedure [sp_duplica_numerario] ( @nr_processo char(18), @nr_solicitacao char(3) ) AS
DECLARE @nr_solic_nova char(3)
DECLARE @dt_solicitacao datetime
DECLARE @cd_usuario char(4)
SELECT @cd_usuario = CD_USUARIO
  FROM TUSUARIO
  WHERE ap_usuario = suser_name()
SELECT @cd_usuario = ISNULL(@cd_usuario,'0000')
SELECT @dt_solicitacao = convert(datetime, convert(char(10), getdate(), 103), 103)
SELECT @nr_solic_nova = RIGHT( ( '000' + CONVERT( varchar,( ISNULL( CONVERT( INTEGER, ( SELECT MAX(NR_SOLICITACAO)
						    FROM   TNUMERARIO
						    WHERE  NR_PROCESSO = @nr_processo ) ), 0 ) + 1 ) ) ), 3 )
INSERT TNUMERARIO ( NR_PROCESSO, NR_SOLICITACAO, DT_SOLICITACAO, CD_USUARIO, CD_STATUS, TX_NUMERARIO_OBS, TX_NUMERARIO_ASS, VL_SOLICITADO, VL_RECEBIDO, QT_ITENS_SOLIC, IN_EMITIDO, CD_BASE_CALCULO ) 
  SELECT @nr_processo, @nr_solic_nova, @dt_solicitacao, @cd_usuario, 'A', TX_NUMERARIO_OBS, TX_NUMERARIO_ASS, VL_SOLICITADO, 0, 0, '0', '0'
  FROM TNUMERARIO 
  WHERE NR_PROCESSO = @nr_processo AND
        NR_SOLICITACAO = @nr_solicitacao

INSERT TNUMERARIO_ITEM_SOLIC 
  ( NR_PROCESSO, NR_SOLICITACAO, NR_LANCAMENTO, CD_ITEM, NR_PRIORIDADE, CD_TIPO_CALCULO, CD_BANCO, VL_ITEM_CALCULADO, VL_SOLICITADO, CD_STATUS, VL_RECEBIDO, VL_UTILIZADO, TP_DESTINO, CD_FAVORECIDO )
  SELECT @nr_processo, @nr_solic_nova, NR_LANCAMENTO, CD_ITEM, NR_PRIORIDADE, CD_TIPO_CALCULO, CD_BANCO, VL_ITEM_CALCULADO, VL_SOLICITADO, 'A', 0, 0, TP_DESTINO, CD_FAVORECIDO
  FROM TNUMERARIO_ITEM_SOLIC
  WHERE NR_PROCESSO = @nr_processo AND
        NR_SOLICITACAO = @nr_solicitacao AND
        VL_SOLICITADO <> 0

EXEC sp_soma_solinum @nr_processo, @nr_solic_nova






GO
