USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* Calculo do SDA */
/**/
CREATE PROCEDURE [sp_calc_sda_imp] (
  @nr_processo char(18),
  @cd_item     char(3),
  @resultado   float output
) AS
--*/
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @nr_processo char(18),
  @cd_item     char(3),
  @resultado   float

SET @nr_processo   = '0101I0-0006-06'
--*/

DECLARE
  @vl_cif_mn       float,
  @vl_mle_mn       float,
  @vl_frete_mn     float,
  @vl_seguro_mn    float,
  @vl_despesas_mn  float,
  @vl_acr_mn       float,
  @vl_ded_mn       float,
  @in_embut_frt_itens bit,
  @in_embut_seg_itens bit,
  @vl_base_calc    numeric(13,3),
  @vl_sda_minimo   float,
  @vl_sda_maximo   float,
  @pc_taxa_sda     float,
  @pc_contr_assist float,
  @vl_sda          numeric(13,3),
  @vl_contr_assist numeric(13,3),
  @cd_cliente      char(5),
  @cd_unid_neg     char(2),
  @cd_produto      char(2),
  @cd_tabela_sda   char(3),
  @cd_base_calc    char(1),
  @in_comp_sda     char(1)

SET @vl_acr_mn = 0
SET @vl_ded_mn = 0

SET @in_embut_frt_itens = 0
SET @in_embut_seg_itens = 0

-- SELECIONA PROCESSO/PREVISAO
IF ISNULL( @resultado, 0 ) = 0
BEGIN
  SET @cd_base_calc   = '0'
  SELECT
    @cd_cliente     = PR.CD_CLIENTE, 
    @cd_unid_neg    = PR.CD_UNID_NEG,
    @cd_produto     = PR.CD_PRODUTO,
    @vl_mle_mn      = ISNULL(PR.VL_MLE_MN, 0),
    @vl_cif_mn      = ISNULL(PR.VL_CIF_MN, 0),
    @vl_frete_mn    = ISNULL(PR.VL_FRETE_MN, 0),
    @vl_seguro_mn   = ISNULL(PR.VL_SEGURO_MN, 0),
    @vl_despesas_mn = ISNULL(DI.VL_TOT_DESPS_MN, 0),
    @vl_acr_mn      = ISNULL(DI.VL_TOTAL_ACRESCIMOS_MN, 0),
    @vl_ded_mn      = ISNULL(DI.VL_TOTAL_DEDUCOES_MN, 0),
    @in_embut_frt_itens = ISNULL(DI.IN_EMBUT_FRT_ITENS, 0),
    @in_embut_seg_itens = ISNULL(DI.IN_EMBUT_SEG_ITENS, 0)
  FROM TPROCESSO PR (NOLOCK), TDECLARACAO_IMPORTACAO DI (NOLOCK)
  WHERE PR.NR_PROCESSO = @nr_processo
    AND PR.NR_PROCESSO = DI.NR_PROCESSO
END
ELSE
BEGIN
  SET @cd_base_calc   = '1'
  SELECT
    @cd_cliente     = CD_CLIENTE, 
    @cd_unid_neg    = SUBSTRING( NR_PROCESSO, 1, 2 ),
    @cd_produto     = '01',
    @vl_mle_mn      = ISNULL( VL_MLE_MN, 0 ),
    @vl_frete_mn    = ISNULL( VL_FRETE_MN, 0 ),
    @vl_seguro_mn   = ISNULL( VL_SEGURO_MN, 0 ),
    @vl_despesas_mn = ISNULL( VL_DESP_MN, 0 )
  FROM TPREVISAO (NOLOCK)
  WHERE NR_PROCESSO = @nr_processo
END
IF @@rowcount > 0
BEGIN
  IF ( SELECT COUNT(*) FROM TCLIENTE_HABILITACAO (NOLOCK) WHERE CD_CLIENTE = @cd_cliente AND CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto ) > 0
  BEGIN
    SELECT
      @cd_tabela_sda   = H.CD_TAB_SDA,
      @pc_taxa_sda     = S.PC_TAXA,
      @vl_sda_minimo   = S.VL_MINIMO,
      @vl_sda_maximo   = S.VL_MAXIMO,
      @pc_contr_assist = S.PC_ASSIST_SOCIAL,
      @in_comp_sda     = H.IN_COMP_SDA
    FROM  TCLIENTE_HABILITACAO H (NOLOCK), TSDA S (NOLOCK)
    WHERE H.CD_CLIENTE  = @cd_cliente
      AND H.CD_UNID_NEG = @cd_unid_neg
      AND H.CD_PRODUTO  = @cd_produto
      AND H.CD_TAB_SDA  = S.CD_SDA
    
    IF @@rowcount > 0
    BEGIN
      -- PREPARA A BASE DE CALCULO
      IF (SELECT IN_CALC_FOB FROM TSDA (NOLOCK) WHERE CD_SDA = @cd_tabela_sda) = '1' 
      BEGIN
        IF @in_embut_frt_itens = 0 SET @vl_base_calc = @vl_base_calc + ROUND(@vl_frete_mn, 2)
        IF @in_embut_seg_itens = 0 SET @vl_base_calc = @vl_base_calc + ROUND(@vl_seguro_mn, 2)
        SET @vl_base_calc = ROUND(@vl_mle_mn + @vl_despesas_mn + @vl_acr_mn - @vl_ded_mn , 2)
      END
      ELSE 
        SET @vl_base_calc = ROUND(@vl_cif_mn, 2)

      -- CALCULA O SDA
      SET @vl_sda = ROUND((@vl_base_calc * (@pc_taxa_sda / 100)), 2)
      IF @vl_sda > @vl_sda_maximo SELECT @vl_sda = @vl_sda_maximo
      IF @vl_sda < @vl_sda_minimo SELECT @vl_sda = @vl_sda_minimo

      SELECT @vl_contr_assist = ROUND((@vl_sda * (@pc_contr_assist / 100)), 2)
      -- ATUALIZA O PROCESSO COM OS VALORES CALCULADOS
      IF @in_comp_sda = '1' 
         SELECT @resultado = @vl_sda + @vl_contr_assist + (SELECT VL_TX_CONTR_SOCIAL_SDA FROM TPARAMETROS (NOLOCK))
      ELSE
         SELECT @Resultado = @vl_sda + @vl_contr_assist 
      RETURN(0)
    END
    ELSE
    BEGIN
      -- SDA nao Localizado
      RETURN(3)
    END
  END
  ELSE
  BEGIN
    -- Cliente nao Habilitado para esta Unidade X Produto
    RETURN(2)
  END
END
ELSE
BEGIN
  -- Processo/Previsao nao Localizado
  SELECT @resultado = 0
  IF @cd_base_calc  = '0' RETURN(1)
  ELSE RETURN(4)
END
/*
print @resultado

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
