USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.sp_calc_ii    Script Date: 22/11/1998 10:59:48 ******/
CREATE PROCEDURE [sp_calc_tx_siscomex] ( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS

SELECT @Resultado = 0 
SELECT @Resultado = ISNULL( VL_TRIBUTO_PAGO, 0 )
FROM   TPAGAMENTO_TRIBUTOS
WHERE  NR_PROCESSO = @nr_processo AND
       CD_RECEITA_PGTO = '7811'

IF ISNULL(@Resultado, 0) = 0
    SELECT @Resultado = SUM(ISNULL(VL_OUTRAS_DESP_REAIS, 0))
    FROM TPRE_CALCULO_ADICAO
    WHERE (NR_PROCESSO = @nr_processo)

IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  SELECT *
  FROM   TNUMERARIO_ITEM_SOLIC
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = ( SELECT CD_ITEM_SISCOMEX FROM TPARAMETROS ) AND
         TP_DESTINO = '1'
  IF @@rowcount = 0
  BEGIN
    -- Taxa do Siscomex não calculada/não informada
    RETURN(1)
  END
  ELSE
  BEGIN
    SELECT @resultado = ISNULL( ROUND( VL_RECEBIDO, 2 ), 0 )
    FROM   TNUMERARIO_ITEM_SOLIC
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_ITEM = ( SELECT CD_ITEM_SISCOMEX FROM TPARAMETROS )
    RETURN(0)
  END
END
ELSE
BEGIN
  RETURN(0)
END
GO
