USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_dem_repassa_free_time] ( @nr_processo char(18), @nr_free_time int ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo  char(18)
DECLARE @nr_free_time int

SELECT @nr_processo = '0101DD-0001-02'
SELECT @nr_free_time = 15

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_cntr          varchar(20)
DECLARE @in_demurrage     char(1)
DECLARE @dt_demurrage     datetime
DECLARE @nr_dias_corridos int
DECLARE @nr_dias_cobrar   int

DECLARE c_cntr CURSOR FOR
  SELECT NR_CNTR, IN_DEMURRAGE
  FROM   TPROCESSO_CNTR
  WHERE  NR_PROCESSO = @nr_processo

OPEN c_cntr
FETCH c_cntr INTO @nr_cntr, @in_demurrage
WHILE @@fetch_status = 0
BEGIN
  UPDATE TPROCESSO_CNTR
  SET    NR_FREE_TIME = @nr_free_time
  WHERE  NR_PROCESSO  = @nr_processo AND
         NR_CNTR      = @nr_cntr

  IF @in_demurrage = '1'
  BEGIN
    EXEC sp_calc_dias_cntr @nr_processo, @nr_cntr, @nr_dias_corridos OUTPUT, @nr_dias_cobrar OUTPUT
    EXEC sp_calc_dt_demurrage @nr_processo, @nr_cntr, @dt_demurrage output
    IF @dt_demurrage <> 0 
      UPDATE TPROCESSO_CNTR
      SET    DT_DEMURRAGE = @dt_demurrage
      WHERE  NR_PROCESSO  = @nr_processo AND
             NR_CNTR      = @nr_cntr
  END   

  IF @nr_free_time = 0
    UPDATE TPROCESSO_CNTR
    SET    NR_FREE_TIME = NULL,
           DT_DEMURRAGE = NULL
    WHERE  NR_PROCESSO  = @nr_processo AND
           NR_CNTR      = @nr_cntr

  FETCH c_cntr INTO @nr_cntr, @in_demurrage
END
CLOSE c_cntr
DEALLOCATE c_cntr


GO
