USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.sp_calc_frete_imp    Script Date: 22/11/1998 10:59:48 ******/
CREATE PROCEDURE [sp_calc_frete_imp]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN 

DECLARE @nr_processo char(18)
DECLARE @cd_item char(3)
DECLARE @Resultado float
*/

DECLARE @tp_frete        float
DECLARE @vl_frete_mneg   float
DECLARE @vl_taxa_frete   float
DECLARE @vl_resultado    numeric (13,3)
DECLARE @cd_base_calc  char(1)

/*
SELECT @nr_processo  = '4001AE-0001-01'
SELECT @cd_base_calc = '0'
*/

IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  SELECT @cd_base_calc  = '0'
  --SELECIONA OS VALORES PARA CALCULO
  SELECT @tp_frete = VL_FRETE_COLLECT_MNEG  
  FROM TPROCESSO 
  WHERE NR_PROCESSO = @nr_processo        
  if @tp_frete > 0
  begin
--    SELECT 'COLLECT'
    SELECT @vl_frete_mneg = ISNULL( VL_FRETE_COLLECT_MNEG, 0 ),
           @vl_taxa_frete = ISNULL( VL_TAXA_FRETE, 0 )
    FROM   TPROCESSO
    WHERE  ( NR_PROCESSO = @nr_processo )
  end
  else
  begin
    SELECT @tp_frete = VL_FRETE_PREPAID_MNEG  
    FROM TPROCESSO 
    WHERE NR_PROCESSO = @nr_processo and 
          VL_FRETE_PREPAID_MNEG > '0'
    if @tp_frete >0 
    begin
--      SELECT 'PREPAID'
      SELECT @vl_frete_mneg = ISNULL( VL_FRETE_PREPAID_MNEG, 0 ),
             @vl_taxa_frete = ISNULL( VL_TAXA_FRETE, 0 )
      FROM   TPROCESSO
      WHERE  ( NR_PROCESSO = @nr_processo )
    end
  end  
END
ELSE
BEGIN
  SELECT @cd_base_calc  = '1'
  -- SELECIONA OS VALORES PARA CALCULO
  SELECT @vl_frete_mneg  = ISNULL( VL_FRETE_MNEG, 0 ),
         @vl_taxa_frete  = ISNULL( VL_TAXA_FRETE, 0 )
  FROM   TPREVISAO
  WHERE  ( NR_PROCESSO = @nr_processo )
END

IF ISNULL(@Resultado, 0) = 0
    SELECT @vl_frete_mneg = VL_FRETE_MOEDA,
           @vl_taxa_frete = TX_FRETE,
           @Resultado = VL_FRETE_MOEDA * TX_FRETE
    FROM TPRE_CALCULO_CAPA
    WHERE (NR_PROCESSO = @nr_processo)

IF @@rowcount > 0
BEGIN  
  IF ( @vl_frete_mneg > 0 ) AND ( @vl_taxa_frete > 0 )
  BEGIN
    -- CALCULA O FRETE
    SELECT @vl_resultado = ROUND( ( @vl_frete_mneg * @vl_taxa_frete ), 2 )
    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
    RETURN(0)
  END
  ELSE
  BEGIN
    -- Frete igual a zero
    IF ( @vl_frete_mneg <= 0 ) RETURN(2)
    -- Taxa igual a zero
    IF ( @vl_taxa_frete <= 0 )  RETURN(3)
  END
END
ELSE
BEGIN
  -- Nao encontrou Processo/Previsao
  IF @cd_base_calc = '0' RETURN(1)
  ELSE RETURN(4)
END 

/*
select @vl_resultado

ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
