USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_di_atz_via_transp    Script Date: 02/09/1999 08:58:10 AM ******/
create procedure [sp_di_atz_via_transp]( @nr_processo char(18), @cd_via_transp tinyint ) AS
declare @in_multimodal  bit
declare @cd_transportador char(4)
declare @cd_bandeira_transp char(3)
declare @nm_veiculo_transp char(30)
declare @cd_tipo_manifesto char(1)
declare @nr_manifesto  char(15)
declare @cd_util_dcto_carga char(1)
declare @nr_dcto_carga  char(18)
declare @nr_veiculo_transp char(15)
declare @in_reb   char(1)
SELECT  @in_multimodal  = 0
SELECT  @cd_transportador = ''
SELECT  @cd_bandeira_transp = ''
SELECT  @nm_veiculo_transp = ''
SELECT  @cd_tipo_manifesto = ''
SELECT  @nr_manifesto  = ''
SELECT  @cd_util_dcto_carga = '1'
SELECT @nr_dcto_carga  = ''
SELECT  @nr_veiculo_transp = ''
SELECT  @in_multimodal   = IN_MULTIMODAL,  @cd_transportador  = CD_TRANSPORTADOR,
 @cd_bandeira_transp = CD_BANDEIRA_TRANSP, @nm_veiculo_transp = NM_VEICULO_TRANSP,
 @cd_tipo_manifesto = CD_TIPO_MANIFESTO, @nr_manifesto  = NR_MANIFESTO,
 @nr_dcto_carga  = NR_DCTO_CARGA, @nr_veiculo_transp = NR_VEICULO_TRANSP,
 @in_reb   = IN_REB
FROM TDECLARACAO_IMPORTACAO (PAGLOCK HOLDLOCK)
WHERE NR_PROCESSO = @nr_processo
IF @cd_via_transp in (5, 8, 9)
BEGIN
   SELECT  @in_multimodal = 0
   SELECT  @cd_transportador = ''
   SELECT  @cd_bandeira_transp = ''
   SELECT  @nm_veiculo_transp = ''
   SELECT  @cd_tipo_manifesto = ''
   SELECT  @nr_manifesto = ''
   SELECT  @cd_util_dcto_carga = ''
   SELECT  @nm_veiculo_transp = ''
   IF @cd_via_transp <> 5 SELECT @nr_dcto_carga = ''
END
ELSE
BEGIN
    SELECT  @cd_util_dcto_carga = '1'
   IF ( ( @cd_via_transp = 4 )  and ( @cd_tipo_manifesto = '1' ) ) OR
      ( ( @cd_via_transp <> 7 ) and ( @cd_tipo_manifesto = '4' ) ) 
      SELECT  @cd_tipo_manifesto = ''
   IF NOT ( @cd_via_transp in (1, 4))   SELECT  @cd_bandeira_transp = ''
   IF NOT ( @cd_via_transp in (1, 2, 3)) SELECT  @nm_veiculo_transp  = ''
   IF @cd_via_transp <> 7 SELECT @nr_veiculo_transp  = ''
END
IF @cd_via_transp <> 1 SELECT @in_reb = '0'
UPDATE TDECLARACAO_IMPORTACAO 
SET  CD_TIPO_DCTO_CARGA  = '', 
 NR_DCTO_CARGA_MAST  = '',
 IN_MULTIMODAL  = @in_multimodal,
 CD_TRANSPORTADOR  = @cd_transportador,
 CD_BANDEIRA_TRANSP = @cd_bandeira_transp, 
 NM_VEICULO_TRANSP = @nm_veiculo_transp,
 CD_TIPO_MANIFESTO = @cd_tipo_manifesto, 
 NR_MANIFESTO  = @nr_manifesto,
 CD_UTIL_DCTO_CARGA = @cd_util_dcto_carga, 
 NR_DCTO_CARGA  = @nr_dcto_carga,
 NR_VEICULO_TRANSP = @nr_veiculo_transp,
 IN_REB   = @in_reb
WHERE  NR_PROCESSO = @nr_processo



GO
