USE [BROKER]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*Função: duplicar as personalizações de um usuário para outro.*/
--/*
CREATE PROCEDURE [sp_cria_mbf_duplica] (
  @cd_mbf  int,
  @cd_usuario char(4),
  @cd_usuario_para char(4),
  @cd_grupo  char(3),
  @cd_cliente char(5),
  @cd_area char(2),
  @nm_mbf varchar(1024),
  @tipo char(1)
) AS
--*/
/*
DECLARE 
  @cd_mbf  int,
  @cd_usuario char(4),
  @cd_usuario_para char(4),
  @cd_atendente char(4),
  @cd_cliente char(5),
  @cd_grupo  char(3),
  @nm_mbf varchar(1024),
  @cd_area char(2),
  @tipo char(1)
*/

DECLARE @MAXIMO INT

IF @TIPO = '0'
BEGIN
	SELECT @MAXIMO = ISNULL(MAX(CD_MBF), 0) + 1 FROM TMBF_INFO WHERE CD_USUARIO = @CD_USUARIO 
	
	IF RTRIM(LTRIM(@CD_CLIENTE)) = '00000'
	  SET @CD_CLIENTE = NULL

	IF RTRIM(LTRIM(@CD_AREA)) = '00'
	  SET @CD_AREA = NULL
	
	INSERT INTO TMBF_INFO (CD_MBF, NM_MBF, CD_USUARIO, CD_GRUPO, CD_PRODUTO,
	  IN_MODAL, IN_CNPJ, IN_AREA, IN_ESTUFAGEM, IN_DESVIOS, IN_DECIMAL, TP_AGRUPAMENTO, CD_USUARIO_CRIADOR, CD_MBF_CRIADOR,
	  IN_LEGENDA_META, IN_META, QTDE_MESES_GRAFICO, IN_ATIVO, IN_LI, IN_PAIS_ORIGEM, IN_PREFIXO, IN_TERMINAL, IN_CANAL, IN_SERVICO, IN_GRAFICO_PROC_ABERTOS, CD_CLIENTE, CD_AREA, CD_ATENDENTE)
	SELECT @MAXIMO, UPPER(@NM_MBF), CD_USUARIO, @CD_GRUPO, CD_PRODUTO, 
	  IN_MODAL, IN_CNPJ, IN_AREA, IN_ESTUFAGEM, IN_DESVIOS, IN_DECIMAL, '1', @CD_USUARIO, @CD_MBF,
	  IN_LEGENDA_META, IN_META, QTDE_MESES_GRAFICO, IN_ATIVO, IN_LI, IN_PAIS_ORIGEM, IN_PREFIXO, IN_TERMINAL, IN_CANAL, IN_SERVICO, IN_GRAFICO_PROC_ABERTOS, @CD_CLIENTE, @CD_AREA, CD_ATENDENTE 
	FROM TMBF_INFO
	WHERE CD_USUARIO = @CD_USUARIO
	  AND CD_MBF = @CD_MBF
	  
	INSERT INTO TMBF_KPI (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI,
	IN_MODAL, IN_CNPJ, IN_AREA, IN_ESTUFAGEM,
    IN_LI, IN_PAIS_ORIGEM, IN_PREFIXO, ID_KPI, IN_TERMINAL, IN_CANAL)
	SELECT @MAXIMO, CD_USUARIO, CD_KPI, NM_KPI,
	IN_MODAL, IN_CNPJ, IN_AREA, IN_ESTUFAGEM,
    IN_LI, IN_PAIS_ORIGEM, IN_PREFIXO, ID_KPI, IN_TERMINAL, IN_CANAL
	FROM TMBF_KPI
	WHERE CD_USUARIO = @CD_USUARIO
	  AND CD_MBF = @CD_MBF
END
ELSE
BEGIN
   SELECT @MAXIMO = ISNULL(MAX(CD_MBF), 0) + 1 FROM TMBF_INFO WHERE CD_USUARIO = @CD_USUARIO_PARA 
   
   INSERT INTO TMBF_INFO (CD_MBF, NM_MBF, CD_USUARIO, CD_GRUPO, CD_PRODUTO, 
	  IN_MODAL, IN_CNPJ, IN_AREA, IN_ESTUFAGEM, IN_DESVIOS, IN_DECIMAL, TP_AGRUPAMENTO, CD_USUARIO_CRIADOR, CD_MBF_CRIADOR,
	  IN_LEGENDA_META, IN_META, QTDE_MESES_GRAFICO, IN_ATIVO, IN_LI, IN_PAIS_ORIGEM, IN_PREFIXO, IN_TERMINAL, IN_CANAL, IN_SERVICO, IN_GRAFICO_PROC_ABERTOS, CD_CLIENTE, CD_AREA, CD_ATENDENTE)
	SELECT @MAXIMO, NM_MBF, @CD_USUARIO_PARA, CD_GRUPO, CD_PRODUTO, 
	  IN_MODAL, IN_CNPJ, IN_AREA, IN_ESTUFAGEM, IN_DESVIOS, IN_DECIMAL, '1', @CD_USUARIO, @CD_MBF,
	  IN_LEGENDA_META, IN_META, QTDE_MESES_GRAFICO, IN_ATIVO, IN_LI, IN_PAIS_ORIGEM, IN_PREFIXO, IN_TERMINAL, IN_CANAL, IN_SERVICO, IN_GRAFICO_PROC_ABERTOS, CD_CLIENTE, CD_AREA, CD_ATENDENTE 
	FROM TMBF_INFO
	WHERE CD_USUARIO = @CD_USUARIO
	  AND CD_MBF = @CD_MBF	  	  
END   



GO
