USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_apaga_impr_icms_rs] @nr_processo char(18) AS

DELETE FROM TTEMP_ICMS_SUL WHERE (NR_PROCESSO = @nr_processo)
       


GO
