USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Criada em 17/04/200 
CREATE PROCEDURE [sp_pe_apaga_renum_itens]( @nr_processo char(18), @nr_item char(3), @cd_unid_neg char(2) )  AS 

DECLARE @qt_total_item char(3)
DECLARE @i_item int
DECLARE @s_item char(3)
DECLARE @nr_item_fetch char(3)

IF( SELECT COUNT(*) 
    FROM    TPE_ITEM
    WHERE (NR_PROCESSO = @nr_processo ) AND (CD_UNID_NEG = @cd_unid_neg))  > 0
BEGIN
   DELETE FROM
   TPE_ITEM
   WHERE ( NR_PROCESSO = @nr_processo) AND ( NR_ITEM = @nr_item ) AND (CD_UNID_NEG = @cd_unid_neg)
END

IF  ( SELECT COUNT(*) 
       FROM TPE_ITEM 
       WHERE (NR_PROCESSO = @nr_processo ) AND (CD_UNID_NEG = @cd_unid_neg))  > 0
BEGIN 

   DECLARE c_processo CURSOR FOR
         SELECT NR_ITEM 
         FROM TPE_ITEM 
         WHERE (NR_PROCESSO = @nr_processo) AND (CD_UNID_NEG = @cd_unid_neg)

   SELECT @qt_total_item = CONVERT(  char(3), ( SELECT COUNT(*) 
			                                         FROM TPE_ITEM 
						 WHERE ( NR_PROCESSO = @nr_processo ) AND (CD_UNID_NEG = @cd_unid_neg) ) )

   SELECT @qt_total_item = RIGHT( ( '000' + RTRIM( @qt_total_item ) ), 3 )
   UPDATE TPE
   SET QT_TOTAL_ITENS = @qt_total_item
   WHERE (CD_UNID_NEG = @cd_unid_neg) AND (NR_PROCESSO = @nr_processo)   
 
  SELECT @i_item = 0

   OPEN c_processo 
   FETCH c_processo INTO @nr_item_fetch
   WHILE @@fetch_status <> -1
   BEGIN
       SELECT @i_item = @i_item + 1
       SELECT @s_item = CONVERT( char(3), @i_item )
       SELECT @s_item = RIGHT( ( '000' + rtrim( @s_item ) ), 3 )

       UPDATE TPE_ITEM
       SET NR_ITEM = @s_item 
       WHERE CURRENT OF c_processo

       FETCH c_processo INTO @nr_item_fetch
   END

   CLOSE c_processo
   DEALLOCATE c_processo

END
ELSE
BEGIN 
    UPDATE TPE
    SET QT_TOTAL_ITENS = '000'
    WHERE (NR_PROCESSO = @nr_processo) AND (CD_UNID_NEG = @cd_unid_neg)
END


RETURN(0)


GO
