USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_exclui_ct_contabil] ( @cd_ct_contabil char(10) ) AS
IF ( SELECT COUNT(*) 
     FROM   TCT_CONTABIL_GERENCIAL
     WHERE  CD_CT_CONTABIL = @cd_ct_contabil ) > 0
     RETURN (1)
BEGIN
  DELETE TCT_CONTABIL_GERENCIAL 
  WHERE  CD_CT_CONTABIL = @cd_ct_contabil 
  
  DELETE TDP_CONTABIL_NOVO
  WHERE  TX_OLD = @cd_ct_contabil 
END
RETURN (0)




GO
