USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_sda_pago    Script Date: 02/09/1999 08:58:58 AM ******/
CREATE PROCEDURE [sp_atz_sda_pago] ( @cd_unid_neg char(2), @cd_produto char(2) ) AS
UPDATE TPROCESSO
SET IN_SDA_PAGO = '0'
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO  = @cd_produto  AND
       CD_STATUS_SDA = '2'        AND
       IN_PRODUCAO   = '1'        AND
       IN_CANCELADO  = '0'        AND
       IN_LIBERADO   = '1'
UPDATE TPROCESSO
SET IN_SDA_PAGO = '1'
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO  = @cd_produto  AND
       CD_STATUS_SDA = '2'        AND
       IN_PRODUCAO   = '1'        AND
       IN_CANCELADO  = '0'        AND
       IN_LIBERADO   = '1'        AND
       (
       NR_PROCESSO IN ( SELECT P.NR_PROCESSO
   FROM TPROCESSO P, TSOLIC_CHEQUE S, TSOLIC_CHEQUE_ITENS I, TPARAMETROS A
   WHERE P.CD_UNID_NEG = @cd_unid_neg AND
         P.CD_PRODUTO  = @cd_produto  AND
         S.DT_SOLIC_CH = I.DT_SOLIC_CH AND
         S.NR_SOLIC_CH = I.NR_SOLIC_CH AND
         I.NR_PROCESSO = P.NR_PROCESSO AND
         I.CD_ITEM     = A.CD_ITEM_SDA AND
         S.CD_STATUS_SOLIC_CH IN ('1','3','4') AND
         I.CD_STATUS IN ('0','4','6','8') ) OR
       NR_PROCESSO IN ( SELECT F.NR_PROCESSO
                        FROM TPROCESSO P, TFATURAMENTO_CC F, TPARAMETROS A
   WHERE  P.CD_UNID_NEG = @cd_unid_neg AND
          P.CD_PRODUTO  = @cd_produto  AND
                               F.NR_PROCESSO = P.NR_PROCESSO AND
                               F.CD_ITEM = A.CD_ITEM_SDA AND
                               F.IN_CANCELADO = '0')
       )


GO
