USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atualiza_utilizado_receb] ( @nr_processo char(18) ) AS

DECLARE @cd_item          char(3)
DECLARE @vl_utilizado     float
DECLARE @vl_utilizado_sd  numeric(14,2)
DECLARE @vl_utilizado_rec numeric(14,2)
DECLARE @nr_recebimento   char(3)
DECLARE @nr_lanc_receb    char(6)
DECLARE @vl_recebido      float
DECLARE @ordem            int
DECLARE @ultimo           int

UPDATE TRECEBIMENTO_PROCESSO_ITEM
SET    VL_UTILIZADO = 0
WHERE  NR_PROCESSO  = @nr_processo

IF ( SELECT COUNT (*)
     FROM   TNUMERARIO_NOTIFICA_ITEM
     WHERE  NR_PROCESSO  = @nr_processo AND
            VL_UTILIZADO > 0 ) > 0
BEGIN
  DECLARE c_saldos CURSOR FOR
    SELECT cd_item, vl_utilizado
    FROM   TNUMERARIO_NOTIFICA_ITEM
    WHERE  NR_PROCESSO  = @nr_processo AND
           VL_UTILIZADO > 0
  OPEN c_saldos
  FETCH c_saldos INTO @cd_item, @vl_utilizado
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @ordem = 0
    SELECT @vl_utilizado_sd = @vl_utilizado
    IF ( SELECT COUNT(*)
         FROM   TRECEBIMENTO_PROCESSO_ITEM I,
                TRECEBIMENTO_PROCESSO R
         WHERE  R.NR_PROCESSO    = I.NR_PROCESSO AND
                R.NR_RECEBIMENTO = I.NR_RECEBIMENTO AND
                R.NR_PROCESSO    = @nr_processo AND  
                R.IN_CANCELADO   = '0' AND
                I.IN_CANCELADO   = '0' AND
                I.VL_RECEBIDO    >  0  AND
                I.CD_ITEM        = @cd_item ) > 0
    BEGIN
      DECLARE c_receb CURSOR FOR 
        SELECT I.NR_RECEBIMENTO, I.NR_LANC_RECEB, I.VL_RECEBIDO
        FROM   TRECEBIMENTO_PROCESSO_ITEM I,
               TRECEBIMENTO_PROCESSO R
        WHERE  R.NR_PROCESSO    = I.NR_PROCESSO AND
               R.NR_RECEBIMENTO = I.NR_RECEBIMENTO AND
               R.NR_PROCESSO    = @nr_processo AND  
               R.IN_CANCELADO   = '0' AND
               I.IN_CANCELADO   = '0' AND
               I.VL_RECEBIDO    >  0  AND
               I.CD_ITEM        = @cd_item 
        ORDER BY I.NR_RECEBIMENTO 
      OPEN c_receb
      SELECT @ultimo = @@cursor_rows
      FETCH c_receb INTO @nr_recebimento, @nr_lanc_receb, @vl_recebido    
      WHILE @@fetch_status <> -1
      BEGIN
 
        SELECT @ordem = @ordem + 1

        IF ( @vl_recebido <= @vl_utilizado ) OR ( @ordem = @ultimo )
          SELECT @vl_utilizado_rec = @vl_utilizado
        ELSE
          SELECT @vl_utilizado_rec = @vl_recebido

        SELECT @vl_utilizado_sd = @vl_utilizado_sd - @vl_utilizado_rec

        UPDATE TRECEBIMENTO_PROCESSO_ITEM
        SET    VL_UTILIZADO   = @vl_utilizado_rec
        WHERE  NR_PROCESSO    = @nr_processo    AND
               NR_RECEBIMENTO = @nr_recebimento AND
               NR_LANC_RECEB  = @nr_lanc_receb
                
        FETCH c_receb INTO @nr_recebimento, @nr_lanc_receb, @vl_recebido    
      END
      CLOSE c_receb
      DEALLOCATE c_receb
    END
    FETCH c_saldos INTO @cd_item, @vl_utilizado
  END
  CLOSE c_saldos
  DEALLOCATE c_saldos
END
RETURN(0)




GO
