USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






CREATE PROCEDURE [sp_rel_est_armz_carga]  ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                          @cd_area char(2), @cd_armazem char(4), @dt_ini datetime, @dt_fim datetime, @in_cntr char(1),
                                          @in_carga_solta char(1), @nr_identificador int output ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_armazem       char(4)
DECLARE @cd_area          char(2)
DECLARE @dt_ini           datetime
DECLARE @dt_fim           datetime
DECLARE @in_cntr          char(1)
DECLARE @in_carga_solta   char(1)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01' 
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_armazem = 'X'
SELECT @cd_area = 'X'
SELECT @dt_ini = CONVERT( datetime, '01/12/2004', 103 )
SELECT @dt_fim = CONVERT( datetime, '01/03/2005', 103 )
SELECT @in_cntr = '1'
SELECT @in_carga_solta = '0'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SET NOCOUNT ON

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_EST_ARMZ_CARGA (TABLOCK HOLDLOCK)

--IF @in_cntr = '1' 
--BEGIN
    SELECT DISTINCT @nr_identificador AS NR_IDENTIFICADOR, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_GRUPO, P.CD_CLIENTE,
           MAX( ISNULL( P.CD_ARMAZEM_DESCARGA, '' ) ) AS CD_ARMAZEM, RC.CD_AREA AS AREA, DATEPART( MM, F.DT_REALIZACAO ) AS MES, 
           DATEPART( YYYY, F.DT_REALIZACAO ) AS ANO,
           CASE P.CD_PRODUTO
             WHEN '01' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '02' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
             WHEN '03' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '10' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
           END AS VL_PESO_BRUTO,
           ROUND( SUM( ISNULL( CASE FAT.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 ) AS VL_ARMAZENAGEM
    INTO #TESTE
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC EN (NOLOCK),
           TREF_CLIENTE RC (NOLOCK), TDECLARACAO_IMPORTACAO DI (NOLOCK),
           TTP_CNTR T (NOLOCK), TPROCESSO_EXP EX (NOLOCK), TFOLLOWUP F (NOLOCK), 
           TFATURAMENTO_CC FAT (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
	   F.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_CLIENTE = EN.CD_EMPRESA AND
           P.NR_PROCESSO *= DI.NR_PROCESSO AND
           P.NR_PROCESSO *= EX.NR_PROCESSO AND
           C.TP_CNTR = T.TP_CNTR AND
	   P.CD_SERVICO = F.CD_SERVICO AND
	   P.NR_PROCESSO = RC.NR_PROCESSO AND
           P.IN_CANCELADO = '0' AND
           P.NR_PROCESSO = FAT.NR_PROCESSO AND
           FAT.IN_CANCELADO = '0' AND 
           FAT.CD_ITEM IN ( '015', '041' ) AND
           ISNULL( C.TP_CNTR, '' ) NOT IN ( '', '01' ) AND
           ISNULL( P.TP_FRETE, '' ) <> '' AND
           ISNULL( P.CD_EMP_EST, '' ) <> '' AND
           ISNULL( P.CD_AGENTE, '' ) <> '' AND
           ISNULL( P.CD_LOCAL_EMBARQUE, '' ) <> '' AND
           ISNULL( P.CD_MOEDA_FRETE, '' ) <> '' AND
           @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
           @cd_produto IN ( P.CD_PRODUTO, 'X' )AND
           @cd_grupo IN ( EN.CD_GRUPO, 'X' ) AND
           @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
           @cd_area IN ( RC.CD_AREA, 'X' ) AND
           @cd_armazem IN ( P.CD_ARMAZEM_DESCARGA, 'X' ) AND 
           F.CD_EVENTO = (SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
           F.DT_REALIZACAO BETWEEN @dt_ini AND @dt_fim 
    GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_GRUPO, P.CD_CLIENTE,
           RC.CD_AREA,DATEPART( MM, F.DT_REALIZACAO ), DATEPART( YYYY, F.DT_REALIZACAO )
  
  SELECT NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_GRUPO, CD_CLIENTE, CD_ARMAZEM, AREA, 
         ANO, MES, SUM(VL_PESO_BRUTO) AS PESO, SUM(VL_ARMAZENAGEM) AS ARMAZEM
  INTO #TESTE_ARMAZEM
  FROM #TESTE
  GROUP BY NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_GRUPO, CD_CLIENTE,CD_ARMAZEM, AREA, ANO, MES
  ORDER BY NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_GRUPO, CD_CLIENTE,CD_ARMAZEM, AREA, ANO, MES

  SELECT * 
  INTO #TESTE_FINAL
  FROM #TESTE_ARMAZEM
  ORDER BY NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_GRUPO, CD_CLIENTE, CD_ARMAZEM, ANO, MES

  
DECLARE @mes integer
DECLARE @ano char(4)
DECLARE @dif_anos integer
DECLARE @qtd_anos integer
DECLARE @mes_final integer
DECLARE @armazem char(4)
DECLARE @ano_mais integer
DECLARE @ano_final char(2)
DECLARE @cd_ud char(2), @cd_pd char(2), @cd_gr char(3), @cd_cl char(5)

SELECT @qtd_anos = -1
SELECT @mes_final = 13

  SET @dif_anos = DATEDIFF( YY, @dt_ini, @dt_fim )

  WHILE ( SELECT COUNT( CD_ARMAZEM ) FROM #TESTE_ARMAZEM ) > 0
  BEGIN
    SELECT @armazem = CD_ARMAZEM, @cd_ud = CD_UNID_NEG, @cd_pd = CD_PRODUTO, @cd_gr = CD_GRUPO, @cd_cl = CD_CLIENTE  FROM #TESTE_ARMAZEM
    
    SET @ano = SUBSTRING( CONVERT( varchar(10), @dt_ini, 103 ), 7, 4 )
    SET @mes = CAST( SUBSTRING( CONVERT( varchar(10), @dt_ini, 103 ), 4, 2 ) AS integer )
    IF ( SUBSTRING( CONVERT( varchar(10), @dt_ini, 103 ), 7, 4 )) = ( SUBSTRING( CONVERT( varchar(10), @dt_fim, 103 ), 7, 4 ))
      SET @mes_final = CAST( SUBSTRING( CONVERT( varchar(10), @dt_fim, 103 ), 4, 2 ) as integer ) + 1

      WHILE @qtd_anos < @dif_anos
      BEGIN
        WHILE @mes < @mes_final
        BEGIN  
          IF ( SELECT COUNT(CD_ARMAZEM) FROM #TESTE_ARMAZEM 
               WHERE CD_ARMAZEM = @armazem AND
                     ANO = @ano AND
                     MES = @mes ) < 1 
          BEGIN  
            INSERT #TESTE_FINAL( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_GRUPO, CD_CLIENTE, CD_ARMAZEM, ANO, MES, PESO, ARMAZEM )
            VALUES ( @nr_identificador, @cd_ud, @cd_pd, @cd_gr, @cd_cl, @armazem, @ano, @mes, 0, 0 )
          END
          SET @mes = @mes + 1
        END    --mes

        IF ( @dif_anos <> 0 ) AND ( @ano <> SUBSTRING( CONVERT( varchar(10), @dt_fim, 103 ), 7, 4 ) )
        BEGIN 
          SET @ano_mais = CAST( SUBSTRING( CONVERT( varchar(4), @ano ), 3, 2 ) AS INTEGER ) + 1  
          IF @ano_mais < 10
            SET @ano_final = '0' + CAST( @ano_mais AS CHAR(1) )
            SET @ano = SUBSTRING( CONVERT( varchar(4), @ano ), 1, 2 ) + @ano_final
          SET @mes = 1
          SET @mes_final = 13
        END
          
        IF @ano =  SUBSTRING( CONVERT( varchar(10), @dt_fim, 103 ), 7, 4 )
          SET @mes_final = CAST( SUBSTRING( CONVERT( varchar(10), @dt_fim, 103 ), 4, 2 ) as integer ) + 1
                  
        SET @qtd_anos = @qtd_anos + 1

      END  --ano
      DELETE FROM #TESTE_ARMAZEM WHERE CD_ARMAZEM = @armazem AND CD_UNID_NEG = @cd_ud AND CD_PRODUTO = @cd_pd AND CD_GRUPO = @cd_gr AND CD_CLIENTE = @cd_cl
      SET @qtd_anos = -1 
    END  -- QTDE

  INSERT TREL_EST_ARMZ_CARGA ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_GRUPO, CD_CLIENTE, 
         CD_ARM_DESCARGA, CD_AREA, NR_MES, NR_ANO, VL_QTDE, VL_ARMAZENAGEM, DT_FINAL )
  SELECT                       NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_GRUPO, CD_CLIENTE,
         CD_ARMAZEM, AREA, MES, ANO, PESO, ARMAZEM, convert( datetime, '01/' + CAST( MES AS VARCHAR(2) ) + '/' + CAST( ANO AS VARCHAR(4) ), 103 )
  FROM #TESTE_FINAL
  ORDER BY CD_ARMAZEM, ANO, MES

  DROP TABLE #TESTE
  DROP TABLE #TESTE_ARMAZEM
  DROP TABLE #TESTE_FINAL

--END



GO
