USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_REBUILD_INDEXES] AS
BEGIN
    SET ARITHABORT ON

    DECLARE @DATABASE_ID   INT
    DECLARE @DATABASE_NAME VARCHAR(255)

    DECLARE @TB_DATABASES AS TABLE (
        DATABASE_ID   INT,
        DATABASE_NAME VARCHAR(255)
    )
    INSERT INTO @TB_DATABASES
    SELECT DATABASE_ID, NAME
    FROM SYS.DATABASES
    WHERE NAME NOT IN ('master', 'tempdb', 'model', 'msdb', 'ReportServer', 'ReportServerTempDB')

    DECLARE @TABLE_ID   INT
    DECLARE @TABLE_NAME VARCHAR(255)
    DECLARE @INDEX_ID   INT
    DECLARE @INDEX_NAME VARCHAR(1000)

    DECLARE @TB_INDEXES AS TABLE (
        TABLE_ID   INT,
        TABLE_NAME VARCHAR(255),
        INDEX_ID   INT,
        INDEX_NAME VARCHAR(1000)
    )

    WHILE (SELECT COUNT(*) FROM @TB_DATABASES) > 0
    BEGIN
        SELECT TOP 1 @DATABASE_ID   = DATABASE_ID,
                     @DATABASE_NAME = DATABASE_NAME
        FROM @TB_DATABASES
        ORDER BY DATABASE_ID

        DELETE @TB_DATABASES
        WHERE DATABASE_ID = @DATABASE_ID

        INSERT INTO @TB_INDEXES
        EXEC('SELECT T.OBJECT_ID, T.NAME, I.INDEX_ID, I.NAME
              FROM ' + @DATABASE_NAME + '.SYS.INDEXES I
                 INNER JOIN ' + @DATABASE_NAME + '.SYS.TABLES T ON T.OBJECT_ID = I.OBJECT_ID
              WHERE T.TYPE_DESC = ''USER_TABLE''
                AND I.NAME IS NOT NULL')

        WHILE (SELECT COUNT(*) FROM @TB_INDEXES) > 0
        BEGIN
            SELECT TOP 1 @TABLE_ID   = TABLE_ID,
                         @TABLE_NAME = TABLE_NAME,
                         @INDEX_ID   = INDEX_ID,
                         @INDEX_NAME = INDEX_NAME
            FROM @TB_INDEXES
            ORDER BY TABLE_ID, INDEX_ID

            DELETE @TB_INDEXES
            WHERE TABLE_ID = @TABLE_ID
              AND INDEX_ID = @INDEX_ID

            BEGIN TRY
                PRINT 'ALTER 1: USE ' + @DATABASE_NAME + '; ALTER INDEX [' + @INDEX_NAME + '] ON [' + @TABLE_NAME + '] REBUILD WITH (FILLFACTOR = 80, ONLINE = ON, SORT_IN_TEMPDB = ON, STATISTICS_NORECOMPUTE = ON)'
                EXEC('USE ' + @DATABASE_NAME + '; ALTER INDEX [' + @INDEX_NAME + '] ON [' + @TABLE_NAME + '] REBUILD WITH (FILLFACTOR = 80, ONLINE = ON, SORT_IN_TEMPDB = ON, STATISTICS_NORECOMPUTE = ON)')
            END TRY
            BEGIN CATCH
                BEGIN TRY
                    PRINT 'ERRO 1: ' + ERROR_MESSAGE()
                    PRINT 'ALTER 2: USE ' + @DATABASE_NAME + '; ALTER INDEX [' + @INDEX_NAME + '] ON [' + @TABLE_NAME + '] REBUILD WITH (FILLFACTOR = 80, ONLINE = OFF, SORT_IN_TEMPDB = ON, STATISTICS_NORECOMPUTE = ON)'
                    EXEC('USE ' + @DATABASE_NAME + '; ALTER INDEX [' + @INDEX_NAME + '] ON [' + @TABLE_NAME + '] REBUILD WITH (FILLFACTOR = 80, ONLINE = OFF, SORT_IN_TEMPDB = ON, STATISTICS_NORECOMPUTE = ON)')
                END TRY
                BEGIN CATCH
                    PRINT 'ERRO 2: ' + ERROR_MESSAGE()
                END CATCH
            END CATCH
        END
    END
END

GO
