USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_flp_aut_envio] AS 

DECLARE @cd_cliente char(5)
DECLARE @cd_contato char(3)
DECLARE @nm_arquivo varchar(100)
DECLARE @nm_email   char(50)
DECLARE @tp_followup char(3)
DECLARE @nm_dir     char(50)
DECLARE @path_excel varchar(255)
DECLARE @path_word  varchar(255)
DECLARE @comando    varchar(255)

EXEC master..xp_stopmail

EXEC master..xp_startmail

SELECT @nm_dir = PATH_DDMAP,
       @path_excel = PATH_EXCEL,
       @path_word = PATH_WORD
FROM   TPARAMETROS

-- HTML IMPORTAÇÃO E LOGÍSTICA
DECLARE c_html CURSOR FOR
  SELECT DISTINCT P.CD_CLIENTE, CONT.CD_CONTATO, LTRIM( RTRIM( CONT.NM_EMAIL ) ), CONT.TP_FOLLOWUP
  FROM   TPROCESSO P, TREL_FOLLOWUP_AUT R, TEMPRESA_NAC E, TCLIENTE_CONTATO CONT ( NOLOCK )
  WHERE  P.NR_PROCESSO = R.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = CONT.CD_UNID_NEG AND
         P.CD_PRODUTO = CONT.CD_PRODUTO AND
         P.CD_CLIENTE = CONT.CD_CLIENTE AND
         ( ( P.CD_AREA = CONT.CD_AREA AND P.CD_AREA <> '' ) OR ( P.CD_AREA = '' OR CONT.CD_AREA = '' ) ) AND
         ( CONT.IN_HTML = 1 ) AND ( CONT.NM_EMAIL IS NOT NULL ) AND
         P.CD_PRODUTO IN ( '01', '03' )

OPEN c_html
FETCH c_html INTO @cd_cliente, @cd_contato, @nm_email, @tp_followup
WHILE @@fetch_status = 0
BEGIN
  
  IF @tp_followup = '02'
  BEGIN
    SELECT @nm_arquivo = LTRIM( RTRIM( @nm_dir ) ) + '\FLP' + @cd_cliente + '.HTML'
    SELECT @comando = 'EXEC master..xp_sendmail "' + LTRIM( RTRIM( @nm_email ) ) + '", @subject = " MAPA DE FOLLOW UP IMPORTACAO - HTML", 
         @attachments = "' + @nm_arquivo + '"'
    EXEC (@comando)
  END
  ELSE IF @tp_followup = '04'
  BEGIN
    SELECT @nm_arquivo = LTRIM( RTRIM( @nm_dir ) ) + '\FLPL' + @cd_cliente + '.HTML'
    SELECT @comando = 'EXEC master..xp_sendmail "' + LTRIM( RTRIM( @nm_email ) ) + '", @subject = " MAPA DE FOLLOW UP LOGÍSTICA - HTML", 
           @attachments = "' + @nm_arquivo + '"'
    EXEC (@comando)
  END

  FETCH c_html INTO @cd_cliente, @cd_contato, @nm_email, @tp_followup

END
CLOSE c_html
DEALLOCATE c_html

-- HTML EXPORTAÇÃO
DECLARE c_html CURSOR FOR
  SELECT DISTINCT P.CD_CLIENTE, CONT.CD_CONTATO, LTRIM( RTRIM( CONT.NM_EMAIL ) ), CONT.TP_FOLLOWUP
  FROM   TPROCESSO P, TREL_FOLLOWUP_AUT R, TEMPRESA_NAC E, TCLIENTE_CONTATO CONT ( NOLOCK )
  WHERE  P.NR_PROCESSO = R.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = CONT.CD_UNID_NEG AND
         P.CD_PRODUTO = CONT.CD_PRODUTO AND
         P.CD_CLIENTE = CONT.CD_CLIENTE AND
         ( ( P.CD_AREA = CONT.CD_AREA AND P.CD_AREA <> '' ) OR ( P.CD_AREA = '' OR CONT.CD_AREA = '' ) ) AND
         ( CONT.IN_HTML = 1 ) AND ( CONT.NM_EMAIL IS NOT NULL ) AND
         P.CD_PRODUTO IN ( '02', '10' )

OPEN c_html
FETCH c_html INTO @cd_cliente, @cd_contato, @nm_email, @tp_followup
WHILE @@fetch_status = 0
BEGIN
  
  IF @tp_followup = '03'
  BEGIN
    SELECT @nm_arquivo = LTRIM( RTRIM( @nm_dir ) ) + '\FLPE' + @cd_cliente + '.HTML'
    SELECT @comando = 'EXEC master..xp_sendmail "' + LTRIM( RTRIM( @nm_email ) ) + '", @subject = " MAPA DE FOLLOW UP EXPORTACAO - HTML", 
         @attachments = "' + @nm_arquivo + '"'
    EXEC (@comando)
  END

  FETCH c_html INTO @cd_cliente, @cd_contato, @nm_email, @tp_followup

END
CLOSE c_html
DEALLOCATE c_html

DECLARE c_doc CURSOR FOR
  SELECT DISTINCT P.CD_CLIENTE, CONT.CD_CONTATO, LTRIM( RTRIM( CONT.NM_EMAIL ) )
  FROM   TPROCESSO P, TREL_FOLLOWUP_AUT R, TEMPRESA_NAC E, TCLIENTE_CONTATO CONT ( NOLOCK )
  WHERE  P.NR_PROCESSO = R.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = CONT.CD_UNID_NEG AND
         P.CD_PRODUTO = CONT.CD_PRODUTO AND
         P.CD_CLIENTE = CONT.CD_CLIENTE AND
         ( ( P.CD_AREA = CONT.CD_AREA AND P.CD_AREA <> '' ) OR ( P.CD_AREA = '' OR CONT.CD_AREA = '' ) ) AND
         ( CONT.IN_DOC = 1 ) AND ( CONT.NM_EMAIL IS NOT NULL )

OPEN c_doc
FETCH c_doc INTO @cd_cliente, @cd_contato, @nm_email
WHILE @@fetch_status = 0
BEGIN
  IF LTRIM( RTRIM( @path_word ) ) <> ''
  BEGIN
    SELECT @nm_arquivo = LTRIM( RTRIM( @nm_dir ) ) + '\DOC' + @cd_cliente + '.DOC'
    SELECT @comando = 'EXEC master..xp_sendmail "' + LTRIM( RTRIM( @nm_email ) ) + '", @subject = " MAPA DE FOLLOW UP - WORD", 
           @attachments = "' + @nm_arquivo + '"'
    EXEC (@comando)
  END
  FETCH c_doc INTO @cd_cliente, @cd_contato, @nm_email
END
CLOSE c_doc
DEALLOCATE c_doc

-- XLS DE IMPORTAÇÃO E LOGÍSTICA
DECLARE c_xls CURSOR FOR
  SELECT DISTINCT P.CD_CLIENTE, CONT.CD_CONTATO, LTRIM( RTRIM( CONT.NM_EMAIL ) ), CONT.TP_FOLLOWUP
  FROM   TPROCESSO P, TREL_FOLLOWUP_AUT R, TEMPRESA_NAC E, TCLIENTE_CONTATO CONT ( NOLOCK )
  WHERE  P.NR_PROCESSO = R.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = CONT.CD_UNID_NEG AND
         P.CD_PRODUTO = CONT.CD_PRODUTO AND
         P.CD_CLIENTE = CONT.CD_CLIENTE AND
         ( ( P.CD_AREA = CONT.CD_AREA AND P.CD_AREA <> '' ) OR ( P.CD_AREA = '' OR CONT.CD_AREA = '' ) ) AND
         ( CONT.IN_XLS = 1 ) AND ( CONT.NM_EMAIL IS NOT NULL ) AND
         P.CD_PRODUTO IN ( '01', '03' )

OPEN c_xls
FETCH c_xls INTO @cd_cliente, @cd_contato, @nm_email, @tp_followup
WHILE @@fetch_status = 0
BEGIN
  
  IF @tp_followup = '02'
  BEGIN
    IF LTRIM( RTRIM( @path_excel ) ) <> ''
    BEGIN
      SELECT @nm_arquivo = LTRIM( RTRIM( @nm_dir ) ) + '\XLS' + @cd_cliente + '.XLS'
      SELECT @comando = 'EXEC master..xp_sendmail "' + LTRIM( RTRIM( @nm_email ) ) + '", @subject = " MAPA DE FOLLOW UP IMPORTACAO - EXCEL", 
             @attachments = "' + @nm_arquivo + '"'      
      EXEC (@comando)
    END
  END
  ELSE IF @tp_followup = '04'
  BEGIN
    IF LTRIM( RTRIM( @path_excel ) ) <> ''
    BEGIN
      SELECT @nm_arquivo = LTRIM( RTRIM( @nm_dir ) ) + '\XLSL' + @cd_cliente + '.XLS'
      SELECT @comando = 'EXEC master..xp_sendmail "' + LTRIM( RTRIM( @nm_email ) ) + '", @subject = " MAPA DE FOLLOW UP LOGÍSTICA - EXCEL", 
             @attachments = "' + @nm_arquivo + '"'
      EXEC (@comando)
    END  
  END
 
  FETCH c_xls INTO @cd_cliente, @cd_contato, @nm_email, @tp_followup

END
CLOSE c_xls
DEALLOCATE c_xls

-- XLS DE EXPORTAÇÃO
DECLARE c_xls CURSOR FOR
  SELECT DISTINCT P.CD_CLIENTE, CONT.CD_CONTATO, LTRIM( RTRIM( CONT.NM_EMAIL ) ), CONT.TP_FOLLOWUP
  FROM   TPROCESSO P, TREL_FOLLOWUP_AUT R, TEMPRESA_NAC E, TCLIENTE_CONTATO CONT ( NOLOCK )
  WHERE  P.NR_PROCESSO = R.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = CONT.CD_UNID_NEG AND
         P.CD_PRODUTO = CONT.CD_PRODUTO AND
         P.CD_CLIENTE = CONT.CD_CLIENTE AND
         ( ( P.CD_AREA = CONT.CD_AREA AND P.CD_AREA <> '' ) OR ( P.CD_AREA = '' OR CONT.CD_AREA = '' ) ) AND
         ( CONT.IN_XLS = 1 ) AND ( CONT.NM_EMAIL IS NOT NULL ) AND
         P.CD_PRODUTO IN ( '02', '10' )

OPEN c_xls
FETCH c_xls INTO @cd_cliente, @cd_contato, @nm_email, @tp_followup
WHILE @@fetch_status = 0
BEGIN
  
  IF @tp_followup = '03'
  BEGIN
    IF LTRIM( RTRIM( @path_excel ) ) <> ''
    BEGIN
      SELECT @nm_arquivo = LTRIM( RTRIM( @nm_dir ) ) + '\XLSE' + @cd_cliente + '.XLS'
      SELECT @comando = 'EXEC master..xp_sendmail "' + LTRIM( RTRIM( @nm_email ) ) + '", @subject = " MAPA DE FOLLOW UP EXPORTACAO - EXCEL", 
            @attachments = "' + @nm_arquivo + '"'
      EXEC (@comando)
    END  
  END
 
  FETCH c_xls INTO @cd_cliente, @cd_contato, @nm_email, @tp_followup

END
CLOSE c_xls
DEALLOCATE c_xls

DELETE   TREL_FLP_AUT_CONTROLE
WHERE  DT_GERACAO <= GETDATE() AND
       IN_GERACAO = 0



GO
