USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_nf_serv_adm] @cd_unid_neg char(2), @nr_docto char(6) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @nr_docto char(6)

SELECT @cd_unid_neg = '01'
SELECT @nr_docto = '020651'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_emissao            datetime
DECLARE @dt_vencimento         datetime
DECLARE @nr_relatorio          char(3)
DECLARE @nr_ano                char(4)
DECLARE @cd_favorecido         char(5)
DECLARE @tp_natureza           char(1)
DECLARE @nr_lancamento         char(3)
DECLARE @cd_ct_contabil        char(10)
DECLARE @vl_lancto             float
DECLARE @in_coluna             char(1)
DECLARE @vl_tot_geral          float
DECLARE @vl_tot_tributavel     float
DECLARE @vl_tot_nao_tributavel float
DECLARE @vl_ir                 float
DECLARE @vl_iss                float
DECLARE @vl_aliq_iss           float
DECLARE @vl_aliq_ir            float
DECLARE @cd_usuario            char(4)

SELECT @cd_usuario = ISNULL( CD_USUARIO, '0000' )
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

DELETE TNF_SERV_ADM
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       NR_DOCTO = @nr_docto

DELETE TNF_SERV_ADM_ITEM
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       NR_DOCTO = @nr_docto

SELECT @cd_ct_contabil = CD_CT_CONTABIL, @tp_natureza = MAX( TP_NATUREZA ), @nr_lancamento = MAX( NR_LANCAMENTO ), 
       @dt_emissao = MAX( DT_LANCTO ), @dt_vencimento = MAX( DT_VENCTO ), @nr_relatorio = NR_RELATORIO, @nr_ano = NR_ANO, 
       @cd_favorecido = CD_FAVORECIDO
FROM   TADM
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       NR_DOCTO = @nr_docto
GROUP BY CD_UNID_NEG, NR_DOCTO, CD_CT_CONTABIL, NR_RELATORIO, NR_ANO, CD_FAVORECIDO

SELECT @vl_tot_nao_tributavel = ISNULL( ROUND( SUM( ISNULL( VL_LANCTO, 0 ) ) - SUM( ISNULL( VL_DESCONTO, 0 ) ), 2 ), 0 )
FROM   TADM
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       NR_DOCTO = @nr_docto AND
       SUBSTRING( CD_CT_CONTABIL, 1, 1 ) <> '6'

SELECT @vl_tot_tributavel = ISNULL( ROUND( SUM( ISNULL( VL_LANCTO, 0 ) ) - SUM( ISNULL( VL_DESCONTO, 0 ) ), 2 ), 0 )
FROM   TADM
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       NR_DOCTO = @nr_docto AND
       SUBSTRING( CD_CT_CONTABIL, 1, 1 ) = '6'

SELECT @vl_tot_geral = ROUND( ( @vl_tot_nao_tributavel + @vl_tot_tributavel ), 2 )

SELECT @vl_aliq_iss = VL_ALIQ_ISS
FROM   TUNID_NEG
WHERE  CD_UNID_NEG = @cd_unid_neg

SELECT @vl_iss = ROUND( @vl_tot_tributavel * ( @vl_aliq_iss / 100 ), 2 )

SELECT @vl_aliq_ir = VL_ALIQ_IR
FROM   TPARAMETROS

SELECT @vl_ir = ROUND( @vl_tot_tributavel * ( @vl_aliq_ir / 100 ), 2 )

--Capa/Rodapé
INSERT TNF_SERV_ADM ( CD_UNID_NEG, NR_DOCTO, DT_EMISSAO, DT_VENCIMENTO, NR_RELATORIO, NR_ANO, CD_FAVORECIDO, 
                      VL_TOT_NAO_TRIBUTAVEL, VL_TOT_GERAL, VL_TOT_TRIBUTAVEL, VL_ISS, VL_IR, CD_EMISSOR )
VALUES( @cd_unid_neg, @nr_docto, @dt_emissao, @dt_vencimento, @nr_relatorio, @nr_ano, @cd_favorecido,
        @vl_tot_nao_tributavel, @vl_tot_geral, @vl_tot_tributavel, @vl_iss, @vl_ir, @cd_usuario )

--Obs
UPDATE TNF_SERV_ADM
SET    TX_OBS = A.TX_OBS
FROM   TADM A, TNF_SERV_ADM B
WHERE  A.CD_UNID_NEG    = B.CD_UNID_NEG   AND
       A.NR_DOCTO       = B.NR_DOCTO      AND
       B.CD_UNID_NEG    = @cd_unid_neg    AND
       B.NR_DOCTO       = @nr_docto       AND
       A.CD_UNID_NEG    = @cd_unid_neg    AND
       A.DT_LANCTO      = @dt_emissao     AND
       A.CD_CT_CONTABIL = @cd_ct_contabil AND
       A.TP_NATUREZA    = @tp_natureza    AND
       A.NR_LANCAMENTO  = @nr_lancamento

DECLARE c_adm CURSOR FOR 
  SELECT MAX( NR_LANCAMENTO ), CD_CT_CONTABIL, MAX( TP_NATUREZA ), ROUND( SUM( ISNULL( VL_LANCTO, 0 ) ) - SUM( ISNULL( VL_DESCONTO, 0 ) ), 2 )
  FROM   TADM
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         NR_DOCTO    = @nr_docto    
  GROUP BY CD_UNID_NEG, NR_DOCTO, CD_CT_CONTABIL
OPEN c_adm
FETCH c_adm INTO @nr_lancamento, @cd_ct_contabil, @tp_natureza, @vl_lancto
WHILE @@fetch_status = 0
BEGIN
  IF SUBSTRING( @cd_ct_contabil, 1, 1 ) = '6' SELECT @in_coluna = '2'
  ELSE  SELECT @in_coluna = '1'
  
  --Itens
  INSERT TNF_SERV_ADM_ITEM ( CD_UNID_NEG, NR_DOCTO, CD_CT_CONTABIL, VL_ITEM, IN_COLUNA )
  VALUES( @cd_unid_neg, @nr_docto, @cd_ct_contabil, @vl_lancto, @in_coluna )

  UPDATE TNF_SERV_ADM_ITEM
  SET    TX_HISTORICO = A.TX_HISTORICO
  FROM   TADM A, TNF_SERV_ADM_ITEM B
  WHERE  A.CD_UNID_NEG    = B.CD_UNID_NEG    AND
         A.NR_DOCTO       = B.NR_DOCTO       AND
         A.CD_CT_CONTABIL = B.CD_CT_CONTABIL AND
         B.CD_UNID_NEG    = @cd_unid_neg     AND
         B.NR_DOCTO       = @nr_docto        AND
         B.CD_CT_CONTABIL = @cd_ct_contabil  AND
         A.CD_UNID_NEG = @cd_unid_neg        AND
         A.NR_DOCTO = @nr_docto              AND
         A.CD_CT_CONTABIL = @cd_ct_contabil  AND
         A.TP_NATUREZA = @tp_natureza        AND
         A.NR_LANCAMENTO = @nr_lancamento

  FETCH c_adm INTO @nr_lancamento, @cd_ct_contabil, @tp_natureza, @vl_lancto
END
CLOSE c_adm
DEALLOCATE c_adm


GO
