USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_rel_resumo_fat] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), @cd_grupo_item char(2), @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_grupo_item char(2)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg   = '01'
SELECT @cd_grupo      = 'X'
SELECT @cd_cliente    = 'X'
SELECT @cd_grupo_item = 'X'
SELECT @dt_inicio     = CONVERT(DATETIME, '01/08/2011', 103)
SELECT @dt_fim        = CONVERT(DATETIME, '31/08/2011', 103)
--*/

SELECT @nr_identificador = MAX (ISNULL(NR_IDENTIFICADOR, 0)) + 1
FROM TREL_RESUMO_FAT

SELECT @nr_identificador = ISNULL(@nr_identificador, 1)
 
DECLARE @contador   int
DECLARE @via_transp char(2)

SELECT @contador = 0

-- FATURAS IMPORTAÇÃO (CD_PAGINA = 01)
-- Cria tabela temporária #TMP_REL_RESUMO_FAT_IMP
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0) AS VL_DESPESA, 1 AS INDICE, @via_transp VIA_TRANSP
  INTO #TMP_REL_RESUMO_FAT_IMP
  FROM TFATURAMENTO_CC F, TITEM I
  WHERE F.CD_ITEM = I.CD_ITEM
    AND 1 = 0

--SELECT 1
SELECT @nr_identificador AS NR_IDENTIFICADOR, F.CD_ITEM, @cd_unid_neg AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
       ROUND(SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2) AS VL_LANCAMENTO, F.NR_PROCESSO,
       S.CD_VIA_TRANSPORTE
INTO #TMP_VERIFICA1
FROM TFATURAMENTO_CC F (NOLOCK),
     TS_FATURA FAT (NOLOCK),
     TPROCESSO P (NOLOCK),
     TEMPRESA_NAC E (NOLOCK),
     TITEM I (NOLOCK),
     VW_SERVICO_GERAL S (NOLOCK)
WHERE F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
       F.CD_PRODUTO = FAT.CD_PRODUTO AND
       F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
       ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
       P.CD_SERVICO = S.CD_SERVICO AND  
       FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
       FAT.IN_CANCELADO = '0' AND
       NOT EXISTS(SELECT *
                   FROM   TFATURAMENTO_CC F2 (NOLOCK)
                   WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                          F2.CD_PRODUTO = F.CD_PRODUTO AND
                          F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                          F2.CD_ITEM = F.CD_ITEM AND
                          (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
        	                  F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                          F2.CD_FORMA_PAGTO = 'L') AND
                          -- Inibido em 26/02/2004 - item tipo L entra
                          -- F.CD_FORMA_PAGTO <> 'L' AND
                          FAT.TP_TIPO_FAT = 'F' AND
                          F.IN_CANCELADO = '0' AND
                          F.IN_FATURADO = '1' AND
                          F.NR_PROCESSO = P.NR_PROCESSO AND
                          @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
                          P.CD_PRODUTO = '01' AND--  COMENTADO ANDRÉ 08/06/2009
                          --P.CD_PRODUTO IN ('01', '17') AND Comentado por Michel em 09/09/2011
                          P.CD_CLIENTE = E.CD_EMPRESA AND
                          F.CD_ITEM = I.CD_ITEM AND
                          F.IN_RESTITUI = '0' AND
                          @cd_grupo IN (E.CD_GRUPO, 'X') AND
                          @cd_cliente IN (E.CD_EMPRESA, 'X') AND                
                          ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
                          F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
GROUP BY F.NR_PROCESSO, F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, F.IN_RESTITUI, S.CD_VIA_TRANSPORTE
ORDER BY I.NR_ORDEM_FAT 


IF (SELECT COUNT(*)
     FROM #TMP_VERIFICA1
     WHERE CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK))) = 0
BEGIN
--INSERT 1
INSERT #TMP_REL_RESUMO_FAT_IMP (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP)
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND(SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2) VL_LANCAMENTO, 1 INDICE,
         S.CD_VIA_TRANSPORTE
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         TGRUPO_ITEM_ITEM G (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         I.CD_ITEM = G.CD_ITEM AND
         P.CD_SERVICO = S.CD_SERVICO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND 
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
--         P.CD_PRODUTO = '01' AND COMENTADO ANDRE 08/06/2009
--         P.CD_PRODUTO IN ('01', '06', '17') AND  Comentado por Michel em 09/09/2011
         P.CD_PRODUTO IN ('01', '06') AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '0' AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         @cd_grupo_item IN (G.CD_GRUPO_ITEM, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, F.IN_RESTITUI, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT
END

--SELECT 2
  SELECT @nr_identificador NR_IDENTIFICADOR, F.CD_ITEM, @cd_unid_neg AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND((SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1)), 2) AS VL_LANCAMENTO, F.NR_PROCESSO,
         S.CD_VIA_TRANSPORTE
  INTO   #TMP_VERIFICA2
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         P.CD_SERVICO = S.CD_SERVICO AND 
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_PRODUTO = '01' AND --COMENTADO ANDRÉ 08/06/2009
--         P.CD_PRODUTO IN ('01', '17') AND Comentado por Michel em 09/09/2011
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '1' AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.NR_PROCESSO, F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, F.IN_RESTITUI, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT

IF (SELECT COUNT(*)
     FROM #TMP_VERIFICA2
     WHERE CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK))) = 0
BEGIN
--INSERT 2
INSERT #TMP_REL_RESUMO_FAT_IMP (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP)
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND((SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1)), 2) VL_LANCAMENTO, 1 INDICE, 
         S.CD_VIA_TRANSPORTE 
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         TGRUPO_ITEM_ITEM G (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         I.CD_ITEM = G.CD_ITEM AND
         P.CD_SERVICO = S.CD_SERVICO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_PRODUTO = '01' AND --COMENTADO 08/06/2009
--         P.CD_PRODUTO IN ('01', '17') AND Comentado por Michel em 09/09/2011
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '1' AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         @cd_grupo_item IN (G.CD_GRUPO_ITEM, 'X') AND 
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, F.IN_RESTITUI, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT
END

-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE
  FROM   #TMP_REL_RESUMO_FAT_IMP
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE

-- Grava total por via de transporte
INSERT TREL_RESUMO_FAT_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(VL_DESPESA), VIA_TRANSP, '01', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_IMP
  WHERE CD_ITEM = '822'
  GROUP BY VIA_TRANSP

-- Grava total de receitas por via de transporte
INSERT TREL_RESUMO_FAT_REC_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(R.VL_DESPESA), ISNULL(R.VIA_TRANSP, '10'), '01', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_IMP R,
       TGRUPO_ITEM_ITEM G (NOLOCK)       
  WHERE R.CD_ITEM = G.CD_ITEM AND
        G.CD_GRUPO_ITEM IN ('09', '13', '17')
  GROUP BY R.VIA_TRANSP


  DROP TABLE #TMP_REL_RESUMO_FAT_IMP


-- FATURAS EXPORTAÇÃO  (CD_PAGINA = 02)
-- Cria  tabela temporária #TMP_REL_RESUMO_FAT_EXP
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0), 2) AS VL_DESPESA, 1 AS INDICE, @via_transp VIA_TRANSP
  INTO   #TMP_REL_RESUMO_FAT_EXP
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TITEM I (NOLOCK)
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         1 = 0

-- SELECT 3
  SELECT @nr_identificador NR_IDENTIFICADOR, F.CD_ITEM, @cd_unid_neg AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2) AS VL_LANCAMENTO, F.NR_PROCESSO,
         S.CD_VIA_TRANSPORTE
  INTO   #TMP_VERIFICA3
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         P.CD_SERVICO = S.CD_SERVICO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         -- F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_PRODUTO IN ('02')  AND
--         P.CD_PRODUTO IN ('02', '18')  AND -- INCLUIDO Comentado por Michel em 09/09/2011
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '0' AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.NR_PROCESSO, F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT

IF (SELECT COUNT(*) 
     FROM #TMP_VERIFICA3
     WHERE CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK))) = 0
BEGIN
--INSERT 3
INSERT #TMP_REL_RESUMO_FAT_EXP (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP)
  SELECT @nr_identificador NR_IDENTIFICADOR, '02' CD_PAGINA,  F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND(SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2) VL_LANCAMENTO, 1 INDICE,
         S.CD_VIA_TRANSPORTE
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         TGRUPO_ITEM_ITEM G (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         P.CD_SERVICO = S.CD_SERVICO AND 
         I.CD_ITEM = G.CD_ITEM AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND 
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_PRODUTO IN ('02')  AND
--         P.CD_PRODUTO IN ('02', '18')  AND Comentado por Michel em 09/09/2011
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '0' AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         @cd_grupo_item IN (G.CD_GRUPO_ITEM, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT
END


-- SELECT 4
  SELECT @nr_identificador NR_IDENTIFICADOR, F.CD_ITEM, @cd_unid_neg AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND((SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1)), 2) AS VL_LANCAMENTO, F.NR_PROCESSO,
         S.CD_VIA_TRANSPORTE 
  INTO   #TMP_VERIFICA4
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         P.CD_SERVICO = S.CD_SERVICO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
--         P.CD_PRODUTO IN ('02', '10') AND
--         P.CD_PRODUTO IN ('02', '18') AND Comentado por Michel em 09/09/2011
         P.CD_PRODUTO IN ('02') AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '1' AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.NR_PROCESSO, F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT

IF (SELECT COUNT(*) 
     FROM #TMP_VERIFICA4
     WHERE CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK))) = 0
BEGIN
-- INSERT 4
INSERT #TMP_REL_RESUMO_FAT_EXP (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP)
  SELECT @nr_identificador NR_IDENTIFICADOR, '02' CD_PAGINA,  F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND((SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1)), 2) VL_LANCAMENTO, 1 INDICE,
         S.CD_VIA_TRANSPORTE
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         TGRUPO_ITEM_ITEM G (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         I.CD_ITEM = G.CD_ITEM AND
         P.CD_SERVICO = S.CD_SERVICO AND 
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2(NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
--         P.CD_PRODUTO IN ('02', '10') AND
--         P.CD_PRODUTO IN ('02', '18') AND Comentado por Michel em 09/09/2011
         P.CD_PRODUTO IN ('02') AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '1' AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         @cd_grupo_item IN (G.CD_GRUPO_ITEM, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT
END

-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE
  FROM   #TMP_REL_RESUMO_FAT_EXP
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE

-- Grava total por via de transporte
INSERT TREL_RESUMO_FAT_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(VL_DESPESA), VIA_TRANSP, '02', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_EXP
  WHERE CD_ITEM = '822'
  GROUP BY VIA_TRANSP

-- Grava total de receitas por via de transporte
INSERT TREL_RESUMO_FAT_REC_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(R.VL_DESPESA), ISNULL(R.VIA_TRANSP, '10'), '02', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_EXP R,
       TGRUPO_ITEM_ITEM G (NOLOCK)       
  WHERE R.CD_ITEM = G.CD_ITEM AND
        G.CD_GRUPO_ITEM IN ('09', '13', '17')
  GROUP BY R.VIA_TRANSP

  DROP TABLE #TMP_REL_RESUMO_FAT_EXP

--======================================================================================================================

-- NOTAS DE CRÉDITO/DÉBITO OPERACIONAL  (CD_PAGINA = 03, 04 ou 05)
-- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, '  ' AS CD_PRODUTO, I.NM_ITEM AS NM_DESPESA, 
         ROUND(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0), 2) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, NR_SOLIC_FAT, @via_transp VIA_TRANSP
  INTO   #TMP_REL_RESUMO_FAT_NOTAS
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TITEM I (NOLOCK)
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         1 = 0

  -- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0), 2) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, NR_SOLIC_FAT, @via_transp VIA_TRANSP
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TITEM I (NOLOCK)
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         1 = 0

  -- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0), 2) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, NR_SOLIC_FAT, @via_transp VIA_TRANSP
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TITEM I (NOLOCK)
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         1 = 0

  -- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_CRE
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0), 2) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, NR_SOLIC_FAT, @via_transp VIA_TRANSP
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_CRE
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TITEM I(NOLOCK)
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         1 = 0

--SELECT 5
  SELECT @nr_identificador NR_IDENTIFICADOR, F.CD_ITEM, @cd_unid_neg AS CD_UNID_NEG, P.CD_PRODUTO AS CD_PRODUTO, I.NM_ITEM NM_DESPESA, 
         ROUND(
         SUM(CASE IN_RESTITUI 
                WHEN '0' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2)
                WHEN '1' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1), 2)
              END), 2) AS VL_LANCAMENTO, F.NR_PROCESSO, S.CD_VIA_TRANSPORTE
  INTO   #TMP_VERIFICA5
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK) 
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         P.CD_SERVICO = S.CD_SERVICO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT * 
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND 
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         P.CD_PRODUTO NOT IN ('03', '10') AND
         FAT.TP_TIPO_FAT = 'N' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.NR_PROCESSO, F.CD_ITEM, P.CD_PRODUTO, I.NM_ITEM, I.NR_ORDEM_FAT, FAT.DT_FATURA, F.NR_SOLIC_FAT, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT

IF (SELECT COUNT(*)
     FROM #TMP_VERIFICA5
     WHERE CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK))) = 0
BEGIN
INSERT #TMP_REL_RESUMO_FAT_NOTAS (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, CD_PRODUTO, NM_DESPESA, VL_DESPESA, DT_FATURA, INDICE, NR_SOLIC_FAT, VIA_TRANSP)
  SELECT @nr_identificador NR_IDENTIFICADOR, '03' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, P.CD_PRODUTO, I.NM_ITEM NM_DESPESA, 
         ROUND(
         SUM(CASE IN_RESTITUI 
                WHEN '0' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2)
                WHEN '1' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1), 2)
              END), 2) AS VL_LANCAMENTO, FAT.DT_FATURA, 1 INDICE, F.NR_SOLIC_FAT,
         S.CD_VIA_TRANSPORTE
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         TGRUPO_ITEM_ITEM G (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK) 
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         I.CD_ITEM = G.CD_ITEM AND
         P.CD_SERVICO = S.CD_SERVICO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         P.CD_PRODUTO NOT IN ('03', '10') AND
         FAT.TP_TIPO_FAT = 'N' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         @cd_grupo_item IN (G.CD_GRUPO_ITEM, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.CD_ITEM, P.CD_PRODUTO, I.NM_ITEM, I.NR_ORDEM_FAT, FAT.DT_FATURA, F.NR_SOLIC_FAT, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT
END

--RODRIGO CAPRA - 11-03-2008
-- Débito Imp (CD_PAGINA = 03)
INSERT #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP)
  SELECT NR_IDENTIFICADOR, '03', CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE, VIA_TRANSP
  FROM   #TMP_REL_RESUMO_FAT_NOTAS
  WHERE CD_PRODUTO = '01'
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, DT_FATURA, INDICE, NR_SOLIC_FAT, VIA_TRANSP
  HAVING SUM(VL_DESPESA) > 0

--RODRIGO CAPRA - 11-03-2008
-- Débito Exp (CD_PAGINA = 04)
INSERT #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP)
  SELECT NR_IDENTIFICADOR, '04', CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE, VIA_TRANSP
  FROM   #TMP_REL_RESUMO_FAT_NOTAS
  WHERE CD_PRODUTO = '02'
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, DT_FATURA, INDICE, NR_SOLIC_FAT, VIA_TRANSP
  HAVING SUM(VL_DESPESA) > 0

-- Crédito  (CD_PAGINA = 05)
INSERT #TMP_REL_RESUMO_FAT_NOTAS_CRE (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP)
  SELECT NR_IDENTIFICADOR, '05', CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA) * (-1), INDICE, VIA_TRANSP
  FROM   #TMP_REL_RESUMO_FAT_NOTAS
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, DT_FATURA, INDICE, NR_SOLIC_FAT, VIA_TRANSP
  HAVING ROUND(SUM(VL_DESPESA), 2) < 0

/*
-- Grava total por via de transporte
INSERT TREL_RESUMO_FAT_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP)
  SELECT @nr_identificador, SUM(VL_DESPESA), VIA_TRANSP
  FROM #TMP_REL_RESUMO_FAT_NOTAS
  WHERE CD_ITEM = '822'
  GROUP BY VIA_TRANSP

-- Grava total de receitas por via de transporte
INSERT TREL_RESUMO_FAT_REC_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP)
  SELECT @nr_identificador, SUM(R.VL_DESPESA), ISNULL(R.VIA_TRANSP, '10')
  FROM #TMP_REL_RESUMO_FAT_NOTAS R,
       TGRUPO_ITEM_ITEM G (NOLOCK)       
  WHERE R.CD_ITEM = G.CD_ITEM AND
        G.CD_GRUPO_ITEM IN ('09', '13', '17')
  GROUP BY R.VIA_TRANSP
*/

-- Débito Importação
-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE

-- Grava total por via de transporte
INSERT TREL_RESUMO_FAT_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(VL_DESPESA), VIA_TRANSP, '03', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP
  WHERE CD_ITEM = '822'
  GROUP BY VIA_TRANSP

-- Grava total de receitas por via de transporte
INSERT TREL_RESUMO_FAT_REC_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(R.VL_DESPESA), ISNULL(R.VIA_TRANSP, '10'), '03', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP R,
       TGRUPO_ITEM_ITEM G (NOLOCK)       
  WHERE R.CD_ITEM = G.CD_ITEM AND
        G.CD_GRUPO_ITEM IN ('09', '13', '17')
  GROUP BY R.VIA_TRANSP


-- Débito Exportação
-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE

-- Grava total por via de transporte
INSERT TREL_RESUMO_FAT_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(VL_DESPESA), VIA_TRANSP, '04', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP
  WHERE CD_ITEM = '822'
  GROUP BY VIA_TRANSP

-- Grava total de receitas por via de transporte
INSERT TREL_RESUMO_FAT_REC_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(R.VL_DESPESA), ISNULL(R.VIA_TRANSP, '10'), '04', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP R,
       TGRUPO_ITEM_ITEM G (NOLOCK)       
  WHERE R.CD_ITEM = G.CD_ITEM AND
        G.CD_GRUPO_ITEM IN ('09', '13', '17')
  GROUP BY R.VIA_TRANSP


-- Crédito
-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_CRE 
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE

-- Grava total por via de transporte
INSERT TREL_RESUMO_FAT_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(VL_DESPESA), VIA_TRANSP, '05', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_CRE
  WHERE CD_ITEM = '822'
  GROUP BY VIA_TRANSP

-- Grava total de receitas por via de transporte
INSERT TREL_RESUMO_FAT_REC_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(R.VL_DESPESA), ISNULL(R.VIA_TRANSP, '10'), '05', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_CRE R,
       TGRUPO_ITEM_ITEM G (NOLOCK)       
  WHERE R.CD_ITEM = G.CD_ITEM AND
        G.CD_GRUPO_ITEM IN ('09', '13', '17')
  GROUP BY R.VIA_TRANSP

  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS
  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_CRE
  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP
  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP


-- NOTAS DE CRÉDITO/DÉBITO ADMINISTRATIVO
-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT @nr_identificador NR_IDENTIFICADOR, '05' CD_PAGINA, 'X' CD_ITEM, A.CD_CT_CONTABIL, @cd_unid_neg, C.NM_CT_CONTABIL NM_DESPESA,
         ROUND(SUM(ISNULL(VL_LANCTO, 0) - ISNULL(VL_DESCONTO, 0)), 2) AS VL_LANCAMENTO, 1 AS INDICE
  FROM   TADM A (NOLOCK),
         TFAVORECIDO F (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TCT_CONTABIL C (NOLOCK)
  WHERE  A.CD_STATUS_ADM IN ('7', '18') AND
         A.TP_NATUREZA = 'C' AND
         A.TP_LANCAMENTO = 'N' AND         @cd_unid_neg IN (A.CD_UNID_NEG, '') AND
         A.DT_PAGTO BETWEEN @dt_inicio AND @dt_fim AND
         A.CD_CT_CONTABIL = C.CD_CT_CONTABIL AND year(A.DT_LANCTO) = C.ANO_CONTA AND
         A.CD_FAVORECIDO = F.CD_FAVORECIDO AND
         F.CGC_EMPRESA = E.CGC_EMPRESA AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X')
  GROUP BY A.CD_CT_CONTABIL, C.NM_CT_CONTABIL

-- NVOCC - NOTA DE DÉBITO - IMPORTAÇÃO (CD_PAGINA = 06)
-- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0), 2) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, @via_transp VIA_TRANSP
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TITEM I (NOLOCK)
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         1 = 0

--SELECT 6
  SELECT @nr_identificador NR_IDENTIFICADOR, F.CD_ITEM, @cd_unid_neg AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(
         SUM(CASE IN_RESTITUI 
                WHEN '0' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2)
                WHEN '1' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1), 2)
              END), 2) AS VL_LANCAMENTO, F.NR_PROCESSO, 
         S.CD_VIA_TRANSPORTE
  INTO   #TMP_VERIFICA6
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E(NOLOCK),
         TITEM I (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         P.CD_SERVICO = S.CD_SERVICO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
--         FAT.TP_TIPO_FAT = 'N' AND
         FAT.TP_TIPO_FAT IN ('N','F') AND
--         P.CD_PRODUTO = '03' AND Comentado por Michel em 09/09/2011
         P.CD_PRODUTO IN ('03', '17') AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.NR_PROCESSO, F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, FAT.DT_FATURA, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT

IF (SELECT COUNT(*) 
     FROM #TMP_VERIFICA6
     WHERE CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK))) = 0
BEGIN
INSERT #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, DT_FATURA, INDICE, VIA_TRANSP)
  SELECT @nr_identificador NR_IDENTIFICADOR, '06' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND(
         SUM(CASE IN_RESTITUI 
                WHEN '0' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2)
                WHEN '1' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1), 2)
              END), 2) AS VL_LANCAMENTO, FAT.DT_FATURA, 1 INDICE, 
         S.CD_VIA_TRANSPORTE
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         TGRUPO_ITEM_ITEM G (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         I.CD_ITEM = G.CD_ITEM AND
         P.CD_SERVICO = S.CD_SERVICO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND 
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
--         FAT.TP_TIPO_FAT = 'N' AND
         FAT.TP_TIPO_FAT IN ('N','F') AND
--         P.CD_PRODUTO = '03' AND Comentado por Michel em 09/09/2011
         P.CD_PRODUTO IN ('03', '17') AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         @cd_grupo_item IN (G.CD_GRUPO_ITEM, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, FAT.DT_FATURA, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT
END

-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE

-- Grava total por via de transporte
INSERT TREL_RESUMO_FAT_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(VL_DESPESA), VIA_TRANSP, '06', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP
  WHERE CD_ITEM = '822'
  GROUP BY VIA_TRANSP

-- Grava total de receitas por via de transporte
INSERT TREL_RESUMO_FAT_REC_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(R.VL_DESPESA), ISNULL(R.VIA_TRANSP, '10'), '06', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP R,
       TGRUPO_ITEM_ITEM G (NOLOCK)       
  WHERE R.CD_ITEM = G.CD_ITEM AND
        G.CD_GRUPO_ITEM IN ('09', '13', '17')
  GROUP BY R.VIA_TRANSP

  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP


-- NVOCC - NOTA DE DÉBITO - EXPORTAÇÃO (CD_PAGINA = 07)
-- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0), 2) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, @via_transp VIA_TRANSP
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TITEM I (NOLOCK)
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         1 = 0

--SELECT 7
  SELECT @nr_identificador NR_IDENTIFICADOR, F.CD_ITEM, @cd_unid_neg AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(
         SUM(CASE IN_RESTITUI 
                WHEN '0' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2)
                WHEN '1' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1), 2)
              END), 2) AS VL_LANCAMENTO, F.NR_PROCESSO,
         S.CD_VIA_TRANSPORTE
  INTO   #TMP_VERIFICA7
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         P.CD_SERVICO = S.CD_SERVICO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.TP_TIPO_FAT IN ('N','F') AND ---adicionado
--         P.CD_PRODUTO = '10' AND Comentado por Michel em 09/09/2011
         P.CD_PRODUTO IN ('10', '18') AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.NR_PROCESSO, F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, FAT.DT_FATURA, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT

IF (SELECT COUNT(*)
     FROM #TMP_VERIFICA7
     WHERE CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK))) = 0
BEGIN
INSERT #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, DT_FATURA, INDICE, VIA_TRANSP)
  SELECT @nr_identificador NR_IDENTIFICADOR, '07' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND(
         SUM(CASE IN_RESTITUI 
                WHEN '0' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2)
                WHEN '1' THEN ROUND((ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1), 2)
              END), 2) AS VL_LANCAMENTO, FAT.DT_FATURA, 1 INDICE,
         S.CD_VIA_TRANSPORTE 
  FROM   TFATURAMENTO_CC F (NOLOCK),
         TS_FATURA FAT (NOLOCK),
         TPROCESSO P (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TITEM I (NOLOCK),
         TGRUPO_ITEM_ITEM G (NOLOCK),
         VW_SERVICO_GERAL S (NOLOCK)
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         I.CD_ITEM = G.CD_ITEM AND
         P.CD_SERVICO = S.CD_SERVICO AND   
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK))) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.TP_TIPO_FAT IN ('N','F') AND
--         P.CD_PRODUTO = '10' AND Comentado por Michel em 09/09/2011
         P.CD_PRODUTO IN ('10', '18') AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         @cd_unid_neg IN (FAT.CD_UNID_NEG, '') AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         @cd_grupo IN (E.CD_GRUPO, 'X') AND
         @cd_cliente IN (E.CD_EMPRESA, 'X') AND
         @cd_grupo_item IN (G.CD_GRUPO_ITEM, 'X') AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, FAT.DT_FATURA, S.CD_VIA_TRANSPORTE
  ORDER BY I.NR_ORDEM_FAT
END

-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE

-- Grava total por via de transporte
INSERT TREL_RESUMO_FAT_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(VL_DESPESA), VIA_TRANSP, '07', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP
  WHERE CD_ITEM = '822'
    AND ISNULL(VIA_TRANSP, '') <> ''
  GROUP BY VIA_TRANSP

-- Grava total de receitas por via de transporte
INSERT TREL_RESUMO_FAT_REC_TOTAIS (NR_IDENTIFICADOR, VL_DESPESA, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG)
  SELECT @nr_identificador, SUM(R.VL_DESPESA), ISNULL(R.VIA_TRANSP, '10'), '07', @cd_unid_neg
  FROM #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP R,
       TGRUPO_ITEM_ITEM G (NOLOCK)       
  WHERE R.CD_ITEM = G.CD_ITEM AND
        G.CD_GRUPO_ITEM IN ('09', '13', '17') AND
        ISNULL(VIA_TRANSP, '') <> ''
  GROUP BY R.VIA_TRANSP

  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP



/*  NVOCC não vai sair com Fatura (por enqto)
-- NVOCC IMPORTAÇÃO  (CD_PAGINA = ?)
-- Cria tabela temporária #TMP_REL_RESUMO_FAT_IMP_NVOCC
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0) AS VL_DESPESA, 1 AS INDICE
  INTO   #TMP_REL_RESUMO_FAT_IMP_NVOCC
  FROM   TFATURAMENTO_CC F,
         TITEM I
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         1 = 0

INSERT #TMP_REL_RESUMO_FAT_IMP_NVOCC (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT @nr_identificador NR_IDENTIFICADOR, '05' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND(SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2) VL_LANCAMENTO, 1 INDICE
  FROM   TFATURAMENTO_CC F,
         TS_FATURA FAT,
         TPROCESSO P,
         TEMPRESA_NAC E,
         TITEM I 
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND 
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS)) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         ((FAT.CD_UNID_NEG = @cd_unid_neg) OR (@cd_unid_neg = '')) AND
         P.CD_PRODUTO = '03' AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '0' AND
         ((E.CD_GRUPO = @cd_grupo) OR (@cd_grupo = 'X')) AND
         ((E.CD_EMPRESA = @cd_cliente) OR (@cd_cliente = 'X')) AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS) AND
--         F.CD_ITEM NOT IN (SELECT CD_ITEM_ISS        FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS)
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, F.IN_RESTITUI
  ORDER BY I.NR_ORDEM_FAT

INSERT #TMP_REL_RESUMO_FAT_IMP_NVOCC (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT @nr_identificador NR_IDENTIFICADOR, '05' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND((SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1)), 2) VL_LANCAMENTO, 1 INDICE
  FROM   TFATURAMENTO_CC F,
         TS_FATURA FAT,
         TPROCESSO P,
         TEMPRESA_NAC E,
         TITEM I 
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS)) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         ((FAT.CD_UNID_NEG = @cd_unid_neg) OR (@cd_unid_neg = '')) AND
         P.CD_PRODUTO = '03' AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '1' AND
         ((E.CD_GRUPO = @cd_grupo) OR (@cd_grupo = 'X')) AND
         ((E.CD_EMPRESA = @cd_cliente) OR (@cd_cliente = 'X')) AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS) AND
--         F.CD_ITEM NOT IN (SELECT CD_ITEM_ISS        FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS  FROM TPARAMETROS)
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, F.IN_RESTITUI
  ORDER BY I.NR_ORDEM_FAT

-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE
  FROM   #TMP_REL_RESUMO_FAT_IMP_NVOCC
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE
  
  DROP TABLE #TMP_REL_RESUMO_FAT_IMP_NVOCC

-- NVOCC EXPORTAÇÃO  (CD_PAGINA = ?)
-- Cria  tabela temporária #TMP_REL_RESUMO_FAT_EXP_NVOCC
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA, 
         ROUND(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0), 2) AS VL_DESPESA, 1 AS INDICE
  INTO   #TMP_REL_RESUMO_FAT_EXP_NVOCC
  FROM   TFATURAMENTO_CC F,
         TITEM I
  WHERE  F.CD_ITEM = I.CD_ITEM AND
         1 = 0

INSERT #TMP_REL_RESUMO_FAT_EXP_NVOCC (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT @nr_identificador NR_IDENTIFICADOR, '06' CD_PAGINA,  F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND(SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)), 2) VL_LANCAMENTO, 1 INDICE
  FROM   TFATURAMENTO_CC F,
         TS_FATURA FAT,
         TPROCESSO P,
         TEMPRESA_NAC E,
         TITEM I 
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS)) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         ((FAT.CD_UNID_NEG = @cd_unid_neg) OR (@cd_unid_neg = '')) AND
         P.CD_PRODUTO = '04' AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '0' AND
         ((E.CD_GRUPO = @cd_grupo) OR (@cd_grupo = 'X')) AND
         ((E.CD_EMPRESA = @cd_cliente) OR (@cd_cliente = 'X')) AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS) AND
--         F.CD_ITEM NOT IN (SELECT CD_ITEM_ISS        FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS)
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT
  ORDER BY I.NR_ORDEM_FAT

INSERT #TMP_REL_RESUMO_FAT_EXP_NVOCC (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT @nr_identificador NR_IDENTIFICADOR, '06' CD_PAGINA,  F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA, 
         ROUND((SUM(ISNULL(VL_ITEM, 0) + ISNULL(VL_ASSIST, 0) - ISNULL(VL_IR, 0)) * (-1)), 2) VL_LANCAMENTO, 1 INDICE
  FROM   TFATURAMENTO_CC F,
         TS_FATURA FAT,
         TPROCESSO P,
         TEMPRESA_NAC E,
         TITEM I 
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND
         F.CD_PRODUTO = FAT.CD_PRODUTO AND
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND
         ISNULL(FAT.NR_NOTA_FATURA, '') <> '' AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         FAT.IN_CANCELADO = '0' AND
         NOT EXISTS(SELECT *
                     FROM   TFATURAMENTO_CC F2
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND
                            F2.CD_PRODUTO = F.CD_PRODUTO AND
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND
                            F2.CD_ITEM = F.CD_ITEM AND
                            (F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS) OR 
			      F2.CD_ITEM IN (SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS)) AND
                            F2.CD_FORMA_PAGTO = 'L') AND
         F.CD_FORMA_PAGTO <> 'L' AND
         F.IN_CANCELADO = '0' AND
         F.IN_FATURADO = '1' AND
         FAT.TP_TIPO_FAT = 'F' AND
         F.NR_PROCESSO = P.NR_PROCESSO AND
         ((FAT.CD_UNID_NEG = @cd_unid_neg) OR (@cd_unid_neg = '')) AND
         P.CD_PRODUTO = '04' AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '1' AND
         ((E.CD_GRUPO = @cd_grupo) OR (@cd_grupo = 'X')) AND
         ((E.CD_EMPRESA = @cd_cliente) OR (@cd_cliente = 'X')) AND
         ISNULL(F.CD_ITEM_NAO_FAT, '') <> '*' AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS) AND
--         F.CD_ITEM NOT IN (SELECT CD_ITEM_ISS        FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS) AND
         F.CD_ITEM NOT IN (SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS)
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT
  ORDER BY I.NR_ORDEM_FAT

-- Grava registro na tabela do relatório TREL_RESUMO_FAT
INSERT TREL_RESUMO_FAT (NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE)
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM(VL_DESPESA), INDICE
  FROM   #TMP_REL_RESUMO_FAT_EXP_NVOCC
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE
  
  DROP TABLE #TMP_REL_RESUMO_FAT_EXP_NVOCC
*/

/*
SELECT * FROM TREL_RESUMO_FAT WHERE NR_IDENTIFICADOR = @nr_identificador
*/

/*
SELECT '#TMP_VERIFICA1'
SELECT NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA
FROM #TMP_VERIFICA1
GROUP BY NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA

SELECT TMP.NR_PROCESSO,TMP.CD_ITEM, TMP.NM_DESPESA, G.CD_GRUPO_ITEM, G.CD_ITEM
FROM #TMP_VERIFICA1 TMP, TGRUPO_ITEM_ITEM G (NOLOCK)
WHERE G.CD_ITEM = TMP.CD_ITEM AND
      G.CD_GRUPO_ITEM = @cd_grupo_item

SELECT 'TGRUPO_ITEM_ITEM'
SELECT * 
FROM TGRUPO_ITEM_ITEM (NOLOCK)
WHERE CD_GRUPO_ITEM = @cd_grupo_item

SELECT '#TMP_VERIFICA2'
SELECT * FROM #TMP_VERIFICA2
SELECT '#TMP_VERIFICA3'
SELECT * FROM #TMP_VERIFICA3
SELECT '#TMP_VERIFICA4'
SELECT * FROM #TMP_VERIFICA4
SELECT '#TMP_VERIFICA5'
SELECT * FROM #TMP_VERIFICA5
SELECT '#TMP_VERIFICA6'
SELECT * FROM #TMP_VERIFICA6
SELECT '#TMP_VERIFICA7'
SELECT * FROM #TMP_VERIFICA7
*/
  INSERT TREL_ERRO_RESUMO_FAT (NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA/*, VL_LANCAMENTO, NR_PROCESSO*/)
  SELECT TMP1.NR_IDENTIFICADOR, TMP1.CD_ITEM, TMP1.CD_UNID_NEG, TMP1.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 
  FROM   #TMP_VERIFICA1 TMP1
  WHERE TMP1.CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK)) AND
        NOT EXISTS(SELECT *
                    FROM TREL_ERRO_RESUMO_FAT (NOLOCK)
                    WHERE NR_IDENTIFICADOR = TMP1.NR_IDENTIFICADOR AND
                          CD_ITEM = TMP1.CD_ITEM AND
                          CD_UNID_NEG = TMP1.CD_UNID_NEG AND
                          NM_DESPESA = TMP1.NM_DESPESA
                    GROUP BY NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA)
  GROUP BY TMP1.NR_IDENTIFICADOR, TMP1.CD_ITEM, TMP1.CD_UNID_NEG, TMP1.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 

  INSERT TREL_ERRO_RESUMO_FAT (NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA/*, VL_LANCAMENTO, NR_PROCESSO*/)
  SELECT TMP2.NR_IDENTIFICADOR, TMP2.CD_ITEM, TMP2.CD_UNID_NEG, TMP2.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 
  FROM   #TMP_VERIFICA2 TMP2
  WHERE TMP2.CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK)) AND
        NOT EXISTS(SELECT *
                    FROM TREL_ERRO_RESUMO_FAT (NOLOCK)
                    WHERE NR_IDENTIFICADOR = TMP2.NR_IDENTIFICADOR AND
                          CD_ITEM = TMP2.CD_ITEM AND
                          CD_UNID_NEG = TMP2.CD_UNID_NEG AND
                          NM_DESPESA = TMP2.NM_DESPESA
                    GROUP BY NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA)
  GROUP BY TMP2.NR_IDENTIFICADOR, TMP2.CD_ITEM, TMP2.CD_UNID_NEG, TMP2.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 

  INSERT TREL_ERRO_RESUMO_FAT (NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA/*, VL_LANCAMENTO, NR_PROCESSO*/)
  SELECT TMP3.NR_IDENTIFICADOR, TMP3.CD_ITEM, TMP3.CD_UNID_NEG, TMP3.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO  
  FROM   #TMP_VERIFICA3 TMP3
  WHERE TMP3.CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK)) AND
        NOT EXISTS(SELECT *
                    FROM TREL_ERRO_RESUMO_FAT (NOLOCK)
                    WHERE NR_IDENTIFICADOR = TMP3.NR_IDENTIFICADOR AND
                          CD_ITEM = TMP3.CD_ITEM AND
                          CD_UNID_NEG = TMP3.CD_UNID_NEG AND
                          NM_DESPESA = TMP3.NM_DESPESA
                    GROUP BY NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA)
  GROUP BY TMP3.NR_IDENTIFICADOR, TMP3.CD_ITEM, TMP3.CD_UNID_NEG, TMP3.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 

  INSERT TREL_ERRO_RESUMO_FAT (NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA/*, VL_LANCAMENTO, NR_PROCESSO*/)
  SELECT TMP4.NR_IDENTIFICADOR, TMP4.CD_ITEM, TMP4.CD_UNID_NEG, TMP4.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 
  FROM   #TMP_VERIFICA4 TMP4
  WHERE TMP4.CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK)) AND
        NOT EXISTS(SELECT *
                    FROM TREL_ERRO_RESUMO_FAT (NOLOCK)
                    WHERE NR_IDENTIFICADOR = TMP4.NR_IDENTIFICADOR AND
                          CD_ITEM = TMP4.CD_ITEM AND
                          CD_UNID_NEG = TMP4.CD_UNID_NEG AND
                          NM_DESPESA = TMP4.NM_DESPESA
                    GROUP BY NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA)
  GROUP BY TMP4.NR_IDENTIFICADOR, TMP4.CD_ITEM, TMP4.CD_UNID_NEG, TMP4.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 

  INSERT TREL_ERRO_RESUMO_FAT (NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA/*, VL_LANCAMENTO, NR_PROCESSO*/)
  SELECT TMP5.NR_IDENTIFICADOR, TMP5.CD_ITEM, TMP5.CD_UNID_NEG, TMP5.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 
  FROM   #TMP_VERIFICA5 TMP5
  WHERE TMP5.CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK)) AND
        NOT EXISTS(SELECT *
                    FROM TREL_ERRO_RESUMO_FAT (NOLOCK)
                    WHERE NR_IDENTIFICADOR = TMP5.NR_IDENTIFICADOR AND
                          CD_ITEM = TMP5.CD_ITEM AND
                          CD_UNID_NEG = TMP5.CD_UNID_NEG AND
                          NM_DESPESA = TMP5.NM_DESPESA
                    GROUP BY NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA)
  GROUP BY TMP5.NR_IDENTIFICADOR, TMP5.CD_ITEM, TMP5.CD_UNID_NEG, TMP5.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO 

  INSERT TREL_ERRO_RESUMO_FAT (NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA/*, VL_LANCAMENTO, NR_PROCESSO*/) 
  SELECT TMP6.NR_IDENTIFICADOR, TMP6.CD_ITEM, TMP6.CD_UNID_NEG, TMP6.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO  
  FROM   #TMP_VERIFICA6 TMP6
  WHERE TMP6.CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK)) AND
        NOT EXISTS(SELECT *
                    FROM TREL_ERRO_RESUMO_FAT (NOLOCK)
                    WHERE NR_IDENTIFICADOR = TMP6.NR_IDENTIFICADOR AND
                          CD_ITEM = TMP6.CD_ITEM AND
                          CD_UNID_NEG = TMP6.CD_UNID_NEG AND
                          NM_DESPESA = TMP6.NM_DESPESA
                    GROUP BY NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA)
  GROUP BY TMP6.NR_IDENTIFICADOR, TMP6.CD_ITEM, TMP6.CD_UNID_NEG, TMP6.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO  

  INSERT TREL_ERRO_RESUMO_FAT (NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA/*, VL_LANCAMENTO, NR_PROCESSO*/) 
  SELECT TMP7.NR_IDENTIFICADOR, TMP7.CD_ITEM, TMP7.CD_UNID_NEG, TMP7.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO  
  FROM   #TMP_VERIFICA7 TMP7
  WHERE TMP7.CD_ITEM NOT IN (SELECT CD_ITEM FROM TGRUPO_ITEM_ITEM (NOLOCK)) AND
        NOT EXISTS(SELECT *
                    FROM TREL_ERRO_RESUMO_FAT (NOLOCK)
                    WHERE NR_IDENTIFICADOR = TMP7.NR_IDENTIFICADOR AND
                          CD_ITEM = TMP7.CD_ITEM AND
                          CD_UNID_NEG = TMP7.CD_UNID_NEG AND
                          NM_DESPESA = TMP7.NM_DESPESA
                    GROUP BY NR_IDENTIFICADOR, CD_ITEM, CD_UNID_NEG, NM_DESPESA)
  GROUP BY TMP7.NR_IDENTIFICADOR, TMP7.CD_ITEM, TMP7.CD_UNID_NEG, TMP7.NM_DESPESA--, VL_LANCAMENTO, NR_PROCESSO  

DROP TABLE #TMP_VERIFICA1
DROP TABLE #TMP_VERIFICA2
DROP TABLE #TMP_VERIFICA3
DROP TABLE #TMP_VERIFICA4
DROP TABLE #TMP_VERIFICA5
DROP TABLE #TMP_VERIFICA6
DROP TABLE #TMP_VERIFICA7

/*IF (SELECT COUNT(*)
     FROM TREL_ERRO_RESUMO_FAT
     WHERE NR_IDENTIFICADOR = @nr_identificador) > 0
BEGIN
  RETURN(1)
END*/


SELECT NR_IDENTIFICADOR, VIA_TRANSP, SUM(VL_DESPESA) VL_DESPESA, CD_PAGINA, CD_UNID_NEG
INTO #TREL_TOTAL
FROM TREL_RESUMO_FAT_TOTAIS
WHERE NR_IDENTIFICADOR = @nr_identificador
GROUP BY NR_IDENTIFICADOR, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG

DELETE FROM TREL_RESUMO_FAT_TOTAIS WHERE NR_IDENTIFICADOR = @nr_identificador

INSERT TREL_RESUMO_FAT_TOTAIS(NR_IDENTIFICADOR, VIA_TRANSP, VL_DESPESA, CD_PAGINA, CD_UNID_NEG)
SELECT NR_IDENTIFICADOR, VIA_TRANSP, VL_DESPESA, CD_PAGINA, CD_UNID_NEG
FROM #TREL_TOTAL

DROP TABLE #TREL_TOTAL


SELECT NR_IDENTIFICADOR, VIA_TRANSP, SUM(VL_DESPESA) VL_DESPESA, CD_PAGINA, CD_UNID_NEG
INTO #TREL_REC_TOTAL
FROM TREL_RESUMO_FAT_REC_TOTAIS
WHERE NR_IDENTIFICADOR = @nr_identificador
GROUP BY NR_IDENTIFICADOR, VIA_TRANSP, CD_PAGINA, CD_UNID_NEG

DELETE FROM TREL_RESUMO_FAT_REC_TOTAIS WHERE NR_IDENTIFICADOR = @nr_identificador

INSERT TREL_RESUMO_FAT_REC_TOTAIS(NR_IDENTIFICADOR, VIA_TRANSP, VL_DESPESA, CD_PAGINA, CD_UNID_NEG)
SELECT NR_IDENTIFICADOR, VIA_TRANSP, VL_DESPESA, CD_PAGINA, CD_UNID_NEG
FROM #TREL_REC_TOTAL

DROP TABLE #TREL_REC_TOTAL

--SELECT * FROM TREL_RESUMO_FAT WHERE NR_IDENTIFICADOR = @NR_IDENTIFICADOR
--SELECT * FROM TREL_RESUMO_FAT_TOTAIS WHERE NR_IDENTIFICADOR = @NR_IDENTIFICADOR
--SELECT * FROM TREL_RESUMO_FAT_REC_TOTAIS WHERE NR_IDENTIFICADOR = @NR_IDENTIFICADOR

--ROLLBACK TRAN
--SET XACT_ABORT OFF



GO
