USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================
-- Author:		Michel
-- Create date: 28/07/2009
-- Description:	Criar Backup da tabela TLOG em arquivo TXT
-- ========================================================
CREATE PROCEDURE [SP_BACKUP_LOG] AS
BEGIN
	DECLARE @NOME_ARQUIVO   VARCHAR(1000)
	DECLARE @DT_INICIAL     DATETIME
	DECLARE @DT_FINAL       DATETIME
	DECLARE @DT_COMPARAR    DATETIME
	DECLARE @LINHA          VARCHAR(1000)

	DECLARE @CURSOR_ALOCADO INT
	DECLARE @CURSOR_ABERTO  INT

	DECLARE @UID_USUARIO    INT
	DECLARE @UID_TABELA     INT
	DECLARE @CD_OPERACAO    CHAR(1)
	DECLARE @QT_REGISTROS   INT
	DECLARE @DT_OPERACAO    DATETIME
	DECLARE @NM_COMPUTADOR  VARCHAR(100)
	DECLARE @DS_CHAVES      VARCHAR(1000)
	DECLARE @NM_USUARIO     VARCHAR(100)

	DECLARE @QTD_REGISTROS  INT
	DECLARE @REGISTRO_ATUAL INT

	SET @CURSOR_ALOCADO = 0
	SET @CURSOR_ABERTO  = 0

	SET @DT_COMPARAR = CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103)  + CONVERT(DATETIME, '23:59:59', 108) -15 --15 DIAS ANTES
	--SET @DT_COMPARAR = CONVERT(DATETIME, '20/06/2009', 103) -15 -- 15 DIAS ANTES

	BEGIN TRY
		IF OBJECT_ID('#TMP_LOG') IS NOT NULL
			DROP TABLE #TMP_LOG

		PRINT 'SELECIONANDO DADOS PARA BACKUP'
		SELECT UID_USUARIO, UID_TABELA, CD_OPERACAO, QT_REGISTROS, DT_OPERACAO, NM_COMPUTADOR, DS_CHAVES, ISNULL(NM_USUARIO, U.NAME) AS NM_USUARIO
		INTO #TMP_LOG
		FROM TLOG L LEFT JOIN SYS.SYSUSERS U ON U.UID = UID_USUARIO
		WHERE DT_OPERACAO <= @DT_COMPARAR
		ORDER BY DT_OPERACAO, NM_USUARIO, UID_USUARIO

		PRINT 'DEFININDO DATAS PARA BACKUP'
		SELECT @DT_INICIAL = MIN(DT_OPERACAO),
		       @DT_FINAL = MAX(DT_OPERACAO)
		FROM #TMP_LOG
		
		SET @NOME_ARQUIVO = REPLACE(CONVERT(VARCHAR, @DT_INICIAL, 103), '/', '-') + ' -- ' + REPLACE(CONVERT(VARCHAR, @DT_FINAL, 103), '/', '-') + '.TXT'

		SELECT @QTD_REGISTROS = COUNT(*)
		FROM #TMP_LOG

		SET @REGISTRO_ATUAL = 0

		DECLARE LOG_CUR CURSOR FOR
		SELECT *
		FROM #TMP_LOG

		SET @CURSOR_ALOCADO = 1

		EXEC spWriteStringToFile 'UID_USUARIO;UID_TABELA;CD_OPERACAO;QT_REGISTROS;DT_OPERACAO;NM_COMPUTADOR;DS_CHAVES;NM_USUARIO', 'F:\BACKUP_LOG', @NOME_ARQUIVO, 1

		PRINT 'ABRINDO CURSOR'
		OPEN LOG_CUR
		FETCH LOG_CUR INTO @UID_USUARIO, @UID_TABELA, @CD_OPERACAO, @QT_REGISTROS, @DT_OPERACAO, @NM_COMPUTADOR, @DS_CHAVES, @NM_USUARIO

		SET @CURSOR_ABERTO = 1

		PRINT 'INICIANDO BACKUP'
		PRINT ''
		WHILE @@FETCH_STATUS <> -1
		BEGIN
			SET @LINHA = ISNULL(CONVERT(VARCHAR, @UID_USUARIO), '')      + ';' +
						 ISNULL(CONVERT(VARCHAR, @UID_TABELA), '')       + ';' +
						 ISNULL(@CD_OPERACAO, '')                        + ';' +
						 ISNULL(CONVERT(VARCHAR, @QT_REGISTROS), '')     + ';' +
						 ISNULL(CONVERT(VARCHAR, @DT_OPERACAO), '')      + ';' +
						 ISNULL(@NM_COMPUTADOR, '')                      + ';' +
						 ISNULL(@DS_CHAVES, '')                          + ';' +
						 ISNULL(@NM_USUARIO, '')

			SET @REGISTRO_ATUAL = @REGISTRO_ATUAL + 1

			--PRINT @LINHA
			PRINT CONVERT(VARCHAR, @REGISTRO_ATUAL) + ' / ' + CONVERT(VARCHAR, @QTD_REGISTROS)

			EXEC spWriteStringToFile @LINHA, 'F:\BACKUP_LOG', @NOME_ARQUIVO, 0
			FETCH LOG_CUR INTO @UID_USUARIO, @UID_TABELA, @CD_OPERACAO, @QT_REGISTROS, @DT_OPERACAO, @NM_COMPUTADOR, @DS_CHAVES, @NM_USUARIO
		END
		CLOSE LOG_CUR
		DEALLOCATE LOG_CUR

		DELETE FROM TLOG
		--WHERE DT_OPERACAO BETWEEN @DT_INICIAL AND @DT_FINAL
		WHERE DT_OPERACAO <= @DT_COMPARAR

		DROP TABLE #TMP_LOG
	END TRY
	BEGIN CATCH
		DECLARE @COMANDOSHELL VARCHAR(2000)
		SELECT @LINHA = '<b><i>Erro ao fazer backup de TLOG.</i></b><br><br>' + 
			'<b>ERROR_NUMER:</b>     ' + ISNULL(CONVERT(VARCHAR, ERROR_NUMBER()), '')    + '<br>' +
		    '<b>ERROR_PROCEDURE:</b> ' + ISNULL(CONVERT(VARCHAR(1000), ERROR_PROCEDURE()), '') + '<br>' +
		    '<b>ERROR_MESSAGE:</b>   ' + REPLACE(ISNULL(CONVERT(VARCHAR(1000), ERROR_MESSAGE()), ''), '''', '')   + '<br>'
		SET @COMANDOSHELL = 'C:\MySendMail.exe ' + '"michel.marques@myindaia.com.br;michel.marques@myindaia.com.br;Erro gerando backup de TLOG;' + @LINHA + '"'
		PRINT @LINHA
		EXEC xp_cmdshell @COMANDOSHELL
		
		IF @CURSOR_ABERTO = 1
			CLOSE LOG_CUR
		IF @CURSOR_ALOCADO = 1
			DEALLOCATE LOG_CUR

		IF OBJECT_ID('#TMP_LOG') IS NOT NULL
			DROP TABLE #TMP_LOG
	END CATCH
	
	DECLARE @DT_EXCLUSAO  DATETIME
	DECLARE @DT_CORRENTE  DATETIME
	DECLARE @TXT          VARCHAR(10)
	
	SET @DT_EXCLUSAO = DATEADD(MONTH, -3, GETDATE())
	SET @DT_CORRENTE = DATEADD(MONTH, -DATEPART(MONTH, @DT_EXCLUSAO) +1, @DT_EXCLUSAO)
	WHILE @DT_CORRENTE <= @DT_EXCLUSAO
	BEGIN
	    SET @TXT = CONVERT(VARCHAR, @DT_CORRENTE, 103)
	    SET @TXT = REPLACE(RIGHT(@TXT, LEN(@TXT) - CHARINDEX('/', @TXT)), '/', '-')
	    SET @COMANDOSHELL = 'DEL F:\BACKUP_LOG\*' + @TXT + '.TXT'
	    print @COMANDOSHELL
	    EXEC xp_cmdshell @COMANDOSHELL
	    
	    SET @DT_CORRENTE = DATEADD(MONTH, 1, @DT_CORRENTE)
	END
END
GO
