USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_rel_po_saldo_mercadoria] ( @cd_mercadoria varchar(30), @in_aberto char(1), @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_mercadoria char(30)
DECLARE @in_aberto char(1)
DECLARE @nr_identificador int
SELECT  @cd_mercadoria = '0074'
SELECT  @in_aberto = '0'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_PO_SALDO_MERCADORIA

IF @in_aberto = '0' -- Todas as DI´s que possuírem DI baixada
BEGIN
  INSERT TREL_PO_SALDO_MERCADORIA 
     ( NR_IDENTIFICADOR, CD_MERCADORIA, NR_PO, NR_PROCESSO, CD_EXPORTADOR, CD_IMPORTADOR,
       CD_AREA, QT_BAIXADA, DT_CHEGADA, DT_EMBARQUE, DT_PREVISTA_FABRICA )
    SELECT @nr_identificador NR_IDENTIFICADOR, POI.CD_MERCADORIA, I.NR_PROC_PO NR_PO, I.NR_PROCESSO, PO.CD_EXPORTADOR,
           PO.CD_IMPORTADOR, PO.CD_AREA, I.QT_MERC_UN_COMERC QT_BAIXADA, 
           ( SELECT F.DT_REALIZACAO
             FROM   TFLP_PO F
             WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                    F.CD_EVENTO IN ( SELECT CD_EV_CHEGADA FROM TPARAMETROS ) ) DT_CHEGADA,
           ( SELECT F.DT_REALIZACAO
             FROM   TFLP_PO F
             WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                    F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS ) ) DT_EMBARQUE,
           ( SELECT F.DT_REALIZACAO
             FROM   TFLP_PO F
             WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                    F.CD_EVENTO IN ( SELECT CD_EV_ENTREGA_MERC FROM TPARAMETROS ) ) DT_PREVISTA
    FROM   TDETALHE_MERCADORIA I, TPROCESSO P, TPO PO, TPO_ITEM POI
    WHERE  I.NR_PROCESSO = P.NR_PROCESSO AND
           I.NR_PROC_PO = PO.NR_PROCESSO AND
           PO.NR_PROCESSO = POI.NR_PROCESSO AND
           I.NR_ITEM_PO = POI.NR_ITEM AND
           POI.CD_MERCADORIA = @cd_mercadoria AND
           ISNULL( PO.NR_DA, '' ) = ''
END
ELSE -- Em aberto - DI´s não entregues na fábrica
BEGIN
  INSERT TREL_PO_SALDO_MERCADORIA 
     ( NR_IDENTIFICADOR, CD_MERCADORIA, NR_PO, NR_PROCESSO, CD_EXPORTADOR, CD_IMPORTADOR,
       CD_AREA, QT_BAIXADA, DT_CHEGADA, DT_EMBARQUE, DT_PREVISTA_FABRICA )
    SELECT @nr_identificador NR_IDENTIFICADOR, POI.CD_MERCADORIA, I.NR_PROC_PO NR_PO, I.NR_PROCESSO, PO.CD_EXPORTADOR,
           PO.CD_IMPORTADOR, PO.CD_AREA, I.QT_MERC_UN_COMERC QT_BAIXADA, 
           ( SELECT F.DT_REALIZACAO
             FROM   TFLP_PO F
             WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                    F.CD_EVENTO IN ( SELECT CD_EV_CHEGADA FROM TPARAMETROS ) ) DT_CHEGADA,
           ( SELECT F.DT_REALIZACAO
             FROM   TFLP_PO F
             WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                    F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS ) ) DT_EMBARQUE,
           ( SELECT F.DT_REALIZACAO
             FROM   TFLP_PO F
             WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                    F.CD_EVENTO IN ( SELECT CD_EV_ENTREGA_MERC FROM TPARAMETROS ) ) DT_PREVISTA
    FROM   TDETALHE_MERCADORIA I, TPROCESSO P, TPO PO, TPO_ITEM POI
    WHERE  I.NR_PROCESSO = P.NR_PROCESSO AND
           I.NR_PROC_PO = PO.NR_PROCESSO AND
           PO.NR_PROCESSO = POI.NR_PROCESSO AND
           I.NR_ITEM_PO = POI.NR_ITEM AND
           POI.CD_MERCADORIA = @cd_mercadoria AND
           ISNULL( PO.NR_DA, '' ) = '' AND
           EXISTS( 
              ( SELECT *
                FROM   TFLP_PO F
                WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                       F.CD_EVENTO IN ( SELECT CD_EV_ENTREGA_MERC FROM TPARAMETROS ) AND
                       F.DT_REALIZACAO IS NULL ) )
END         




GO
