USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_di_atz_tipo_di    Script Date: 02/09/1999 08:58:10 AM ******/
create procedure [sp_di_atz_tipo_di]( @nr_processo char(18), @cd_tipo_di tinyint ) AS
DECLARE @nr_consignatario CHAR(14)
DECLARE @cd_tipo_consig  CHAR(1)
DECLARE @in_operacao_fundap BIT
DECLARE @cd_tipo_importador CHAR(1)
DECLARE @cd_modalidade_desp CHAR(1)
DECLARE @i_cd_modalidade_desp TINYINT
DECLARE @cd_via_transp_carg CHAR(2)
DECLARE @cd_pais_proc_carga CHAR(3)
DECLARE @cd_urf_entr_carga CHAR(7)
DECLARE @cd_moeda_mle  CHAR(3)
DECLARE @cd_moeda_frete  CHAR(3)
DECLARE @cd_moeda_seguro CHAR(3)
DECLARE @cd_tipo_base_seguro CHAR(1)
DECLARE @vl_total_mle_mn NUMERIC(16, 3)
DECLARE @vl_tot_mle_mneg NUMERIC(16, 3)
DECLARE @vl_tot_desps_mn NUMERIC(16, 3)
DECLARE @vl_tot_desps_mneg NUMERIC(16, 3)
DECLARE @vl_tot_frt_prepaid NUMERIC(16, 3)
DECLARE @vl_tot_frt_collect NUMERIC(16, 3)
DECLARE @vl_frete_tnac_mneg NUMERIC(16, 3)
DECLARE @vl_total_frete_mn NUMERIC(16, 3)
DECLARE @vl_tot_seguro_mneg NUMERIC(16, 3)
DECLARE @pc_seguro_mle  NUMERIC(11, 6)
DECLARE @in_moeda_unica  BIT
DECLARE @in_reb   CHAR(1)
DECLARE @in_ratear_frete_itens BIT
DECLARE @in_ratear_seguro_itens BIT
DECLARE @dt_chegada_carga CHAR(8)
DECLARE @nr_agente_carga CHAR(14)
SELECT  @cd_tipo_importador = ISNULL( CD_TIPO_IMPORTADOR, ''),
 @nr_consignatario = ISNULL( NR_CONSIGNATARIO, '' ),
 @cd_tipo_consig  = ISNULL( CD_TIPO_CONSIG, ''),
 @cd_modalidade_desp = ISNULL( CD_MODALIDADE_DESP, ''),
 @cd_via_transp_carg  = ISNULL( CD_VIA_TRANSP_CARG, ''),
 @in_operacao_fundap = ISNULL( IN_OPERACAO_FUNDAP, 0),
 @cd_pais_proc_carga = ISNULL( CD_PAIS_PROC_CARGA, ''),
 @cd_urf_entr_carga = ISNULL( CD_URF_ENTR_CARGA, '' ),
 @cd_moeda_mle  = ISNULL( CD_MOEDA_MLE, ''),
 @cd_moeda_frete  = ISNULL( CD_MOEDA_FRETE, ''),
 @cd_moeda_seguro = ISNULL( CD_MOEDA_SEGURO, ''),
 @cd_tipo_base_seguro = ISNULL( CD_TIPO_BASE_SEGURO, ''),
 @vl_total_mle_mn = ISNULL( VL_TOTAL_MLE_MN, 0),
 @vl_tot_mle_mneg = ISNULL( VL_TOT_MLE_MNEG, 0),
 @vl_tot_desps_mn = ISNULL( VL_TOT_DESPS_MN, 0),
 @vl_tot_desps_mneg = ISNULL( VL_TOT_DESPS_MNEG, 0),
 @vl_tot_frt_prepaid = ISNULL( VL_TOT_FRT_PREPAID, 0),
 @vl_tot_frt_collect = ISNULL( VL_TOT_FRT_COLLECT, 0),
 @vl_frete_tnac_mneg = ISNULL( VL_FRETE_TNAC_MNEG, 0),
 @vl_total_frete_mn = ISNULL( VL_TOTAL_FRETE_MN, 0),
 @vl_tot_seguro_mneg = ISNULL( VL_TOTAL_SEG_MN, 0),
 @pc_seguro_mle  = ISNULL( PC_SEGURO_MLE, 0),
 @in_moeda_unica  = ISNULL( IN_MOEDA_UNICA, 0),
 @in_reb   = ISNULL( IN_REB, ''),
 @in_ratear_frete_itens = ISNULL( IN_RATEAR_FRETE_ITENS, 0),
 @in_ratear_seguro_itens = ISNULL( IN_RATEAR_SEGURO_ITENS, 0),
 @dt_chegada_carga = ISNULL( DT_CHEGADA_CARGA, ''),
    @cd_pais_proc_carga = ISNULL( CD_PAIS_PROC_CARGA, ''),
 @nr_agente_carga = ISNULL( NR_AGENTE_CARGA, '')
FROM TDECLARACAO_IMPORTACAO (PAGLOCK HOLDLOCK)
WHERE NR_PROCESSO = @nr_processo
SELECT COUNT(*)
FROM TADICAO_DE_IMPORTACAO (PAGLOCK HOLDLOCK)
WHERE NR_PROCESSO = @nr_processo
IF NOT ( @cd_tipo_di IN (1, 12, 13, 14, 15, 17, 18) )
BEGIN
   SELECT @nr_consignatario  = ''
   SELECT @cd_tipo_consig  = ''
   SELECT @in_operacao_fundap  = 0
END
IF ( @cd_tipo_importador = '' ) OR
   ( ( @cd_tipo_importador = '2' ) and ( @cd_tipo_di IN (4, 7, 9, 10, 14, 16, 17, 18) ) ) OR
   ( ( @cd_tipo_importador = '3' ) and ( @cd_tipo_di <> 5 ) ) OR
   ( ( @cd_tipo_importador = '4' ) and ( @cd_tipo_di IN (4, 7, 9, 10, 16, 17, 18) ) )
BEGIN
   SELECT @cd_tipo_importador = '1'
END
SELECT @i_cd_modalidade_desp = CONVERT( tinyint, @cd_modalidade_desp )
IF ( ( @cd_tipo_di IN (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12) ) AND ( @i_cd_modalidade_desp = 0 ) ) OR
   ( ( @cd_tipo_di IN (2, 3, 4, 5, 6, 7, 8, 9, 10) ) AND ( @i_cd_modalidade_desp >= 3 ) )
BEGIN
   SELECT @cd_modalidade_desp  = '1'
END
IF ( ( @cd_tipo_di in (13, 14, 15, 16, 17, 18, 19, 20, 21) ) AND ( @i_cd_modalidade_desp >= 3 ) ) OR
   ( NOT ( @cd_tipo_di IN (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12) ) AND ( @i_cd_modalidade_desp IN (1, 2) ) )
BEGIN
   SELECT @cd_modalidade_desp  = ''
END
IF ( @cd_tipo_di IN (16, 17, 18, 19, 20, 21) )
BEGIN
   SELECT @cd_via_transp_carg = ''
   SELECT @cd_pais_proc_carga = ''
   SELECT @cd_urf_entr_carga = ''
   SELECT @cd_moeda_mle  = ''
   SELECT @cd_moeda_frete = ''
   SELECT @cd_moeda_seguro = ''
   SELECT @cd_tipo_base_seguro = ''
   SELECT @vl_total_mle_mn = 0
   SELECT @vl_tot_mle_mneg = 0
   SELECT @vl_tot_desps_mn = 0
   SELECT @vl_tot_desps_mneg = 0
   SELECT @vl_tot_frt_prepaid = 0
   SELECT @vl_tot_frt_collect = 0
   SELECT @vl_frete_tnac_mneg = 0
   SELECT @vl_total_frete_mn = 0
   SELECT @vl_tot_seguro_mneg = 0
   SELECT @pc_seguro_mle = 0
   SELECT @in_moeda_unica = 0
   SELECT @in_reb               = ''
   SELECT @in_ratear_frete_itens= 0
   SELECT @in_ratear_seguro_itens=0
END
ELSE
BEGIN
   UPDATE TADICAO_DE_IMPORTACAO SET
   CD_URF_ENTR_MERC = '',
   CD_PAIS_PROC_MERC = '',
   CD_MD_FRETE_MERC = '',
   CD_MOEDA_SEG_MERC = '',
   VL_FRETE_MERC_MN = 0,
   VL_FRETE_MERC_MNEG = 0,
   VL_SEG_MERC_MN = 0,
   VL_SEG_MERC_MNEG = 0,
   IN_MULTIMODAL = 0
   WHERE NR_PROCESSO = @nr_processo 
END
IF ( @cd_tipo_di in (13, 14, 15, 16, 17, 18, 19, 20, 21) )
BEGIN
   SELECT @dt_chegada_carga = ''
   SELECT @nr_agente_carga = ''
END
UPDATE TDECLARACAO_IMPORTACAO
SET  CD_TIPO_IMPORTADOR = @cd_tipo_importador,
 CD_VIA_TRANSP_CARG = @cd_via_transp_carg,
     NR_CONSIGNATARIO  = @nr_consignatario,
 CD_TIPO_CONSIG  = @cd_tipo_consig,
 CD_MODALIDADE_DESP = @cd_modalidade_desp,
 IN_OPERACAO_FUNDAP = @in_operacao_fundap,
 CD_PAIS_PROC_CARGA = @cd_pais_proc_carga,
 CD_URF_ENTR_CARGA = @cd_urf_entr_carga,
 CD_MOEDA_MLE  = @cd_moeda_mle,
 CD_MOEDA_FRETE  = @cd_moeda_frete,
 CD_MOEDA_SEGURO  = @cd_moeda_seguro,
 CD_TIPO_BASE_SEGURO = @cd_tipo_base_seguro,
 VL_TOTAL_MLE_MN  = @vl_total_mle_mn,
 VL_TOT_MLE_MNEG  = @vl_tot_mle_mneg,
 VL_TOT_DESPS_MN  = @vl_tot_desps_mn,
 VL_TOT_DESPS_MNEG = @vl_tot_desps_mneg,
 VL_TOT_FRT_PREPAID = @vl_tot_frt_prepaid,
 VL_TOT_FRT_COLLECT = @vl_tot_frt_collect,
 VL_FRETE_TNAC_MNEG = @vl_frete_tnac_mneg,
 VL_TOTAL_FRETE_MN = @vl_total_frete_mn,
 VL_TOTAL_SEG_MN  = @vl_tot_seguro_mneg,
 PC_SEGURO_MLE  = @pc_seguro_mle,
 IN_MOEDA_UNICA  = @in_moeda_unica,
 IN_REB   = @in_reb,
 IN_RATEAR_FRETE_ITENS = @in_ratear_frete_itens,
 IN_RATEAR_SEGURO_ITENS = @in_ratear_seguro_itens,
    DT_CHEGADA_CARGA = @dt_chegada_carga,
 NR_AGENTE_CARGA  = @nr_agente_carga
WHERE  NR_PROCESSO   = @nr_processo
-- Documento Vinculado
IF ( @cd_tipo_di IN (2, 5, 7, 16, 17, 18, 19, 20, 21) )
BEGIN
   DELETE TDOCUMENTO_VINCULADO
   WHERE NR_PROCESSO = @nr_processo
END
-- Tipo 19
IF @cd_tipo_di = 19
BEGIN
   DELETE TATO_VINCULADO
   WHERE NR_PROCESSO = @nr_processo AND
         CD_ASSUNTO_VINCUL IN ('3', '4', '5') 
   DELETE TRIBUTO
   WHERE NR_PROCESSO = @nr_processo AND
         CD_RECEITA_IMPOSTO IN ('0002', '0003') 
   DELETE TACRESCIMO_VALORACAO
   WHERE NR_PROCESSO = @nr_processo
   DELETE TDEDUCAO_VALORACAO
   WHERE NR_PROCESSO = @nr_processo
   UPDATE TADICAO_DE_IMPORTACAO SET
   CD_TIPO_ACORDO_TAR = '',
   CD_ACORDO_ALADI = '',
   CD_TRIBUTACAO_ICMS = '',
   NR_OPER_TRAT_PREV = '',
   CD_VINC_IMPO_EXPO = '',
   CD_AUSENCIA_FABRIC = '',
   CD_PAIS_ORIG_MERC = '',
   CD_FORNECEDOR = '',
   NM_FORN_ESTR  = '',
   ED_LOGR_FORN_ESTR = '',
   ED_NR_FORN_ESTR = '',
   ED_COMPL_FORN_ESTR = '',
   ED_CIDAD_FORN_ESTR = '',
   ED_ESTAD_FORN_ESTR = '',
   CD_PAIS_AQUIS_MERC = '',
   CD_FABRICANTE = '',
   NM_FABRICANTE_MERC = '',
   ED_LOGR_FABRIC = '',
   ED_NR_FABRIC  = '',
   ED_COMPL_FABRIC = '',
   ED_CIDAD_FABRIC = '',
   ED_ESTADO_FABRIC = '',
   CD_INCOTERMS_VENDA = '',
   CD_MOEDA_NEGOCIADA = '',
   CD_METOD_VALORACAO = '',
   CD_LOC_COND_VENDA = '',
   VL_MERC_COND_VENDA = 0,
   VL_MERC_VENDA_MN = 0,
   PC_ICMS  = 0,
   PC_REDUCAO_ICMS = 0,
   TX_COMPL_VL_ADUAN = '',
   IN_IPI_NAO_TRIBUT = 0
END
ELSE
BEGIN
   UPDATE TADICAO_DE_IMPORTACAO
   SET NR_DCTO_REDUCAO = '',
       PC_COEF_REDUC_II = 0
   WHERE NR_PROCESSO = @nr_processo
END
IF ( @cd_tipo_di in (2, 3, 4, 5, 6, 7, 8, 9, 10) )
BEGIN
   UPDATE TDECLARACAO_IMPORTACAO
   SET CD_APLICACAO_MERC = ''
   WHERE NR_PROCESSO = @nr_processo 
   UPDATE TADICAO_DE_IMPORTACAO
   SET CD_APLICACAO_MERC = ''
   WHERE NR_PROCESSO = @nr_processo 
END
IF ( @cd_tipo_di in (3, 6, 7, 15, 19) )
BEGIN
   UPDATE TDECLARACAO_IMPORTACAO
   SET IN_MATERIAL_USADO = 0, IN_BEM_ENCOMENDA = 0
   WHERE NR_PROCESSO = @nr_processo 
   UPDATE TADICAO_DE_IMPORTACAO
   SET IN_MATERIAL_USADO = 0, IN_BEM_ENCOMENDA = 0
   WHERE NR_PROCESSO = @nr_processo 
END
IF NOT ( @cd_tipo_di in (16, 17, 18) )
BEGIN
   UPDATE TADICAO_DE_IMPORTACAO
   SET CD_VIA_TRANSPORTE = ''
   WHERE NR_PROCESSO = @nr_processo 
END



GO
