USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [sp_rel_prev_fat] ( @cd_unid_neg char(2), @cd_produto char(2), @nr_solicitacao char(6), @nr_identificador int OUTPUT) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @cd_unid_neg      char(02)
DECLARE @cd_produto       char(02)
DECLARE @nr_solicitacao   char(06)
DECLARE @l_entrou         char(01)

SELECT @cd_unid_neg    = '01'  
SELECT @cd_produto     = '01'  
SELECT @nr_solicitacao = '010170'
--*/

DECLARE @tp_tipo_fat char(01)
SELECT @tp_tipo_fat    = 'F'

DECLARE @nr_nota_fatura char(06)
DECLARE @dt_fatura      datetime

DECLARE @cd_receb          CHAR(3)
DECLARE @cd_sd_cre         CHAR(3)
DECLARE @cd_sd_deb         CHAR(3)
DECLARE @cd_pg_sd          CHAR(3)
DECLARE @cd_rc_sd          CHAR(3)

DECLARE @nr_processo_fetch char(18)
DECLARE @somatoria int
DECLARE @soma int

SELECT @nr_identificador = ( SELECT MAX( NR_IDENTIFICADOR ) FROM TTEMP_PREV_FAT_PROC )

IF ISNULL( @nr_identificador,0 ) = 0 
  SELECT @nr_identificador = 1
ELSE
  SELECT @nr_identificador = @nr_identificador + 1

IF ( SELECT COUNT(*)
     FROM   TS_FATURA
     WHERE  CD_UNID_NEG    = @cd_unid_neg AND
            CD_PRODUTO     = @cd_produto AND
            NR_SOLICITACAO = @nr_solicitacao AND 
            TP_TIPO_FAT    = @tp_tipo_fat ) > 0 
BEGIN
  SELECT @nr_nota_fatura = NR_NOTA_FATURA, 
         @dt_fatura = DT_FATURA
  FROM   TS_FATURA
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao AND 
         TP_TIPO_FAT = @tp_tipo_fat

  DECLARE c_cursor CURSOR FOR
    SELECT NR_PROCESSO 
    FROM   TS_FATURA_PROCESSO 
    WHERE  NR_SOLICITACAO = @nr_solicitacao

  SELECT @somatoria = 0
  SELECT @soma = 0
  OPEN c_cursor   
  FETCH c_cursor INTO @nr_processo_fetch
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @soma = SUM( QT_VOLUME_CARGA + 0 ) 
    FROM   TEMBALAGEM_CARGA
    WHERE  NR_PROCESSO = @nr_processo_fetch

    SELECT @somatoria = @somatoria + @soma
    FETCH c_cursor INTO @nr_processo_fetch
  END

  INSERT TTEMP_PREV_FAT_PROC ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_NOTA_FATURA, DT_FATURA, QT_VOLUMES, TX_OBS ) 
    SELECT @nr_identificador, @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_nota_fatura, @dt_fatura, @somatoria, TX_OBSERVACOES
    FROM   TS_FATURA
    WHERE  CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO = @cd_produto AND
           NR_SOLICITACAO = @nr_solicitacao

  CLOSE c_cursor  
  DEALLOCATE c_cursor  
END

-- item (details)
SELECT F.NR_PROCESSO, 
       F.CD_ITEM, 
       I.NM_ITEM,
       CASE F.IN_RESTITUI
         WHEN '0' THEN ( F.VL_ITEM + F.VL_ASSIST - F.VL_IR )
         WHEN '1' THEN ( F.VL_ITEM + F.VL_ASSIST - F.VL_IR ) * (-1)
         ELSE ( F.VL_ITEM + F.VL_ASSIST - F.VL_IR )
       END VL_ITEM,
       F.IN_RESTITUI, 
       I.CD_TIPO_ITEM,
       I.NR_ORDEM_FAT
INTO   #tmp_fat_item
FROM   TFATURAMENTO_CC F, TITEM I
WHERE  F.CD_ITEM = I.CD_ITEM AND
       ( F.NR_PROCESSO IN ( SELECT NR_PROCESSO
                            FROM   TS_FATURA_PROCESSO
                            WHERE  CD_UNID_NEG = @cd_unid_neg AND
                                   CD_PRODUTO = @cd_produto AND
                                   NR_SOLICITACAO = @nr_solicitacao ) ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS ) AND
       ( ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' ) AND
       ( F.IN_CANCELADO = '0' ) AND
       (
        ( ( ISNULL( F.IN_FATURADO, '0' ) = '0' ) AND ( @TP_TIPO_FAT IN ( 'F', 'N' ) ) AND NOT EXISTS
          ( SELECT *
            FROM   TS_FATURA
            WHERE  CD_UNID_NEG = @cd_unid_neg AND
                   CD_PRODUTO = @cd_produto AND
                   NR_SOLICITACAO = @nr_solicitacao AND
                   IN_CALCULADO = '1' AND
                   IN_CANCELADO = '0' ) ) OR
       ( ( ISNULL( F.IN_FATURADO, '0' ) <> '0' AND
       F.CD_UNID_NEG = @cd_unid_neg AND
       F.CD_PRODUTO = @cd_produto AND
       F.NR_SOLIC_FAT = @nr_solicitacao ) AND EXISTS
         ( SELECT *
           FROM   TS_FATURA
           WHERE  CD_UNID_NEG = @cd_unid_neg AND
                  CD_PRODUTO = @cd_produto AND
                  NR_SOLICITACAO = @nr_solicitacao AND
                  IN_CALCULADO = '1' AND
                  IN_CANCELADO = '0' ) )
          OR
       ( ( @tp_tipo_fat IN ( 'D', 'C' ) ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI  FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS )
 )
)
ORDER BY F.NR_PROCESSO, I.NR_ORDEM_FAT, F.CD_ITEM

INSERT INTO TTEMP_PREV_FAT_ITEM ( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, NM_ITEM, VL_ITEM, IN_RESTITUI, CD_TIPO_ITEM, 
                                  NR_SOLICITACAO, NR_ORDEM_FAT )
  SELECT @nr_identificador, NR_PROCESSO, CD_ITEM, NM_ITEM, VL_ITEM, IN_RESTITUI, CD_TIPO_ITEM, @nr_solicitacao, NR_ORDEM_FAT
  FROM   #tmp_fat_item
  WHERE  ( CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) ) AND
         ( CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) ) AND
         ( CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) ) AND
         ( CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) ) AND
         ( CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) ) AND
         ( CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) ) AND
         ( CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI  FROM TPARAMETROS ) )
  
DROP TABLE #tmp_fat_item

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
