USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_fat_duplica] ( @cd_unid_neg char(2), @cd_produto char(2), @nr_solicitacao char(6), @dt_movimento datetime ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6) 
DECLARE @dt_movimento datetime  

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solicitacao = '000314'
SELECT @dt_movimento = convert( datetime, '06/08/2001', 103 )
*/

DECLARE @nr_solic char(6)

SELECT @nr_solic = ISNULL(MAX(NR_SOLICITACAO),'0')
FROM   TS_FATURA
WHERE  CD_UNID_NEG = @cd_unid_neg AND 
       CD_PRODUTO = @cd_produto AND
       SUBSTRING( NR_SOLICITACAO, 1, 1 ) <> 'A'

SELECT @nr_solic = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_solic ) + 1 ) ), 6 )

INSERT INTO TS_FATURA ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, DT_SOLICITACAO, CD_USUARIO, TP_TIPO_FAT, 
                        NR_NOTA_FATURA, DT_FATURA, TX_OBSERVACOES, IN_CALCULADO, DT_CALCULO, IN_CANCELADO, 
                        DT_CANCELAMENTO, CD_CANCELADOR, IN_IMPRESSO, DT_IMPRESSAO, IN_RECIBO, DT_RECIBO, 
                        IN_LIQUIDADO, DT_LIQUIDACAO, VL_FATURA, VL_LIQUIDACAO, IN_RECIBO_NVOCC, DT_VENCTO_FATURA, 
                        NR_RELATORIO, NR_ANO, IN_SELECIONADO, CD_USUARIO_IMP, NR_NF_SERV, IN_IMP_NF_SERV, 
                        DT_NF_SERV, NR_BOLETO, DT_PAGTO_ITEM, CD_BANCO, IN_REFATURADO )
  SELECT CD_UNID_NEG, CD_PRODUTO, @nr_solic, @dt_movimento, CD_USUARIO, TP_TIPO_FAT, 
         NULL, DT_FATURA, TX_OBSERVACOES, '0', NULL, '0', 
         NULL, NULL, '0', NULL, '0', NULL, 
         '0', NULL, VL_FATURA, 0, IN_RECIBO_NVOCC, DT_VENCTO_FATURA, 
         NR_RELATORIO, NR_ANO, IN_SELECIONADO, CD_USUARIO_IMP, NULL, '0', 
         NULL, NULL, DT_PAGTO_ITEM, CD_BANCO, '0'  
  FROM   TS_FATURA 
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao

INSERT TS_FATURA_PROCESSO ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, VL_FATURA, VL_LIQUIDACAO, 
                            IN_LIQUIDADO, DT_LIQUIDACAO, IN_NVOCC, NR_GRUPO_LIQUIDACAO )
  SELECT CD_UNID_NEG, CD_PRODUTO, @nr_solic, NR_PROCESSO, VL_FATURA, VL_LIQUIDACAO, 
         '0', NULL, IN_NVOCC, NR_GRUPO_LIQUIDACAO
  FROM   TS_FATURA_PROCESSO
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao

INSERT TS_FATURA_PROCESSO_ITEM ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, VL_CALCULADO,
                                 VL_INFORMADO, IN_RESTITUI, CD_FAVORECIDO, IN_NAO_FAT, INDICE, IN_MANUAL )
  SELECT CD_UNID_NEG, CD_PRODUTO, @nr_solic, NR_PROCESSO, CD_ITEM, VL_CALCULADO,
         VL_INFORMADO, IN_RESTITUI, CD_FAVORECIDO, IN_NAO_FAT, INDICE, IN_MANUAL
  FROM   TS_FATURA_PROCESSO_ITEM
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao

UPDATE TFATURAMENTO_CC
SET    IN_SEL_FAT = '1'
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO = @cd_produto AND
       NR_SOLIC_FAT = @nr_solicitacao
/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
