USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_reemite_cheque_adm] @cd_unid_neg char(2), @nr_ref char(3), @dt_pagto datetime, @nr_novo_cheque char(6), @dt_base datetime AS

DECLARE @nr_ult_ref char(6)
DECLARE @nr_ult_lanc char(3)

DECLARE @dt_lancto datetime
DECLARE @cd_ct_contabil char(10)
DECLARE @tp_natureza char(1)
DECLARE @nr_lancamento char(3)

/*
SELECT @nr_ref = '001' 
SELECT @dt_pagto = CONVERT( datetime, '08/11/2000', 103 )
SELECT @nr_novo_cheque = '777777'
*/

-- Inclui novo cheque
SELECT @nr_ult_ref = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, ISNULL( MAX( NR_REF ), '000' ) ) + 1 ) ), 3 )
FROM   TADM
WHERE  CONVERT( datetime, DT_PAGTO, 103 ) = @dt_pagto AND
       NR_REF NOT IN ('T', 'D', 'C') AND
       CD_UNID_NEG = @cd_unid_neg

DECLARE c_solic CURSOR FOR
  SELECT DT_LANCTO, CD_CT_CONTABIL, TP_NATUREZA, NR_LANCAMENTO
  FROM   TADM
  WHERE  NR_REF = @nr_ref AND DT_PAGTO = @dt_base AND CD_UNID_NEG = @cd_unid_neg

OPEN c_solic

FETCH c_solic INTO @dt_lancto, @cd_ct_contabil, @tp_natureza, @nr_lancamento

WHILE @@fetch_status = 0
BEGIN
  SELECT @nr_ult_lanc = ISNULL( RIGHT( '000' + CONVERT( varchar(3), (CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000' ) ) ) + 1 ) ), 3 ), '001' )
  FROM   TADM
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         DT_LANCTO = @dt_lancto

  INSERT TADM
    ( CD_UNID_NEG, DT_LANCTO, CD_CT_CONTABIL, TP_NATUREZA, NR_LANCAMENTO, NR_REF, CD_FAVORECIDO, CD_ACESSO, CD_AUX,
      CD_BANCO, NR_DOCTO, VL_LANCTO, CD_STATUS_ADM, CD_USUARIO_SOLIC, CD_USUARIO_MONTA, IN_SOLICITADO, DT_VENCTO,
      DT_PAGTO, CD_HISTORICO, CD_STATUS_CHEQUE, IN_TRANSF_FIN, VL_DESCONTO, VL_PERC_DESCONTO, CD_USUARIO_IMP,
      TX_HISTORICO, NR_RELATORIO, NR_ANO, TP_LANCAMENTO, NR_NF_SERV, IN_IMP_NF_SERV, DT_NF_SERV, DT_MONTAGEM, NR_CTAAPAGAR, IN_TED )
  SELECT CD_UNID_NEG, DT_LANCTO, CD_CT_CONTABIL, TP_NATUREZA, @nr_ult_lanc, @nr_ult_ref, CD_FAVORECIDO, CD_ACESSO,  CD_AUX,
         CD_BANCO, @nr_novo_cheque, VL_LANCTO, '7', CD_USUARIO_SOLIC, CD_USUARIO_MONTA, IN_SOLICITADO, DT_VENCTO,
         @dt_pagto, CD_HISTORICO, '2', '0', VL_DESCONTO, VL_PERC_DESCONTO, CD_USUARIO_IMP,
         TX_HISTORICO, NR_RELATORIO, NR_ANO, TP_LANCAMENTO, NR_NF_SERV, IN_IMP_NF_SERV, DT_NF_SERV, DT_MONTAGEM, NR_CTAAPAGAR, IN_TED
  FROM   TADM
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         DT_LANCTO = @dt_lancto AND
         CD_CT_CONTABIL = @cd_ct_contabil AND
         TP_NATUREZA = @tp_natureza AND
         NR_LANCAMENTO = @nr_lancamento
  
  FETCH c_solic INTO @dt_lancto, @cd_ct_contabil, @tp_natureza, @nr_lancamento
END

CLOSE c_solic
DEALLOCATE c_solic

-- Cancela atual
UPDATE TADM
SET    IN_TRANSF_FIN = '0',
       CD_STATUS_CHEQUE = '3',
       CD_STATUS_ADM = '4'
WHERE  NR_REF = @nr_ref AND DT_PAGTO = @dt_base AND CD_STATUS_ADM NOT IN ( '4', '17' ) AND
       CD_UNID_NEG = @cd_unid_neg

-- Atualiza Financeiro/Faturamento
EXEC sp_distribui_adm @cd_unid_neg, @dt_base, @nr_ref, 'D'
EXEC sp_distribui_adm @cd_unid_neg, @dt_pagto, @nr_ult_ref, 'D'





GO
