USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_calc_receitas_exp]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_cliente          char(5)
DECLARE @cd_unid_neg         char(2)
DECLARE @cd_produto          char(2)
DECLARE @cd_servico          char(4)
DECLARE @vl_vmle_mneg        float
DECLARE @vl_vmle_mn          float
DECLARE @vl_cif_mneg         float
DECLARE @vl_cif_mn           float
DECLARE @cd_moeda_mle        char(3)
DECLARE @dt_abertura         datetime
DECLARE @dt_fatura           datetime
DECLARE @tp_dt_base          char(1)
DECLARE @tp_faixa            char(1)
DECLARE @tp_faixa_valor      char(1)
DECLARE @vl_num_taxa         float
DECLARE @vl_den_taxa         float
DECLARE @tp_base_calc_taxa   char(1)
DECLARE @cd_moeda_taxa       char(3)
DECLARE @vl_num_min          float
DECLARE @vl_den_min          float
DECLARE @tp_base_calc_min    char(1)
DECLARE @cd_moeda_min        char(3)
DECLARE @vl_num_max          float
DECLARE @vl_den_max          float
DECLARE @tp_base_calc_max    char(1)
DECLARE @cd_moeda_max        char(3)
DECLARE @pc_reduc_re_canc    float
DECLARE @vl_inicio_faixa     float
DECLARE @vl_fim_faixa        float
DECLARE @vl_num_faixa        float
DECLARE @vl_den_faixa        float
DECLARE @tp_base_calc_faixa  char(1)
DECLARE @cd_moeda_faixa      char(3)
DECLARE @tp_por_base_calc    char(1)
DECLARE @vl_faixa_valor      float
DECLARE @dt_base             datetime
DECLARE @vl_despesas         numeric (13,6)
DECLARE @vl_direitos_isentos numeric (13,6)
DECLARE @vl_moeda_taxa       numeric (13,6)
DECLARE @vl_moeda_min        numeric (13,6)
DECLARE @vl_moeda_max        numeric (13,6)
DECLARE @vl_base_calculo     numeric (13,6)
DECLARE @vl_minimo           numeric (13,6)
DECLARE @vl_maximo           numeric (13,6)
DECLARE @cd_ev_embarque      char(3)
DECLARE @vl_resultado        numeric (13,6)
DECLARE @vl_result_parc      numeric (13,6)
DECLARE @qt_adicoes          char(3)
DECLARE @in_re_ativo         char(1)
DECLARE @erro                int
SELECT  @Resultado = 0

-- PESQUISA EVENTO EMBARQUE
SELECT @cd_ev_embarque  = CD_EV_EMBARQUE
FROM   TPARAMETROS (NOLOCK)

-- Recalcula FOB
EXEC @erro = sp_calc_vmle_mn @nr_processo
if @erro = 1 RETURN(6)
if @erro = 2 RETURN(7)
-- Verifica Data do Faturamento
SELECT @dt_fatura = MAX( F.DT_FATURA )
FROM   TS_FATURA F,
       TS_FATURA_PROCESSO P
WHERE  F.CD_UNID_NEG    = P.CD_UNID_NEG    AND
       F.CD_PRODUTO     = P.CD_PRODUTO     AND
       F.NR_SOLICITACAO = P.NR_SOLICITACAO AND
       F.IN_CANCELADO   = '0'              AND
       F.TP_TIPO_FAT    = 'F'              AND
       P.NR_PROCESSO    = @nr_processo 
-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_cliente           = CD_CLIENTE,
       @cd_unid_neg          = CD_UNID_NEG,
       @cd_produto           = CD_PRODUTO,
       @cd_servico           = CD_SERVICO,
       @vl_vmle_mneg         = ISNULL( vl_mle_mneg, 0 ),
       @cd_moeda_mle         = CD_MOEDA_MLE,
       @vl_cif_mn            = ISNULL( vl_cif_mn, 0 ),
       @dt_abertura          = DT_ABERTURA
FROM   TPROCESSO (NOLOCK)
WHERE  ( NR_PROCESSO = @nr_processo )
IF @@rowcount = 0
BEGIN
  -- Processo nao cadastrado
  RETURN(1)
END
ELSE
BEGIN
  -- PESQUISA RECEITA ITEM
  SELECT @tp_dt_base     = TP_DT_BASE,
         @tp_faixa     = TP_FAIXA,
         @tp_faixa_valor    = TP_FAIXA_VALOR,
         @vl_num_taxa     = VL_NUM_TAXA,              
         @vl_den_taxa     = VL_DEN_TAXA,             
         @tp_base_calc_taxa = TP_BASE_CALC_TAXA,
         @cd_moeda_taxa     = CD_MOEDA_TAXA,
         @vl_num_min     = VL_NUM_MIN,
         @vl_den_min        = VL_DEN_MIN,
         @tp_base_calc_min  = TP_BASE_CALC_MIN,
         @cd_moeda_min     = CD_MOEDA_MIN,
         @vl_num_max        = VL_NUM_MAX,
         @vl_den_max        = VL_DEN_MAX,
         @tp_base_calc_max  = TP_BASE_CALC_MAX,
         @cd_moeda_max     = CD_MOEDA_MAX,
         @pc_reduc_re_canc  = PC_REDUC_RE_CANC
  FROM   TRECEITAS_EXP (NOLOCK)
  WHERE  CD_CLIENTE     = @cd_cliente  AND
         CD_UNID_NEG     = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         CD_SERVICO     = @cd_servico  AND
         CD_ITEM     = @cd_item     AND
         IN_ATIVO     = '1'
  IF @@rowcount = 0
  BEGIN
    -- Receita de Exporta+ao nao cadastrada
    RETURN(2)
  END
  ELSE
  BEGIN
    -- PESQUISA DATA BASE
    SELECT @dt_base = 
      CASE
        WHEN @tp_dt_base = '1' THEN ( @dt_abertura )
        WHEN @tp_dt_base = '2' THEN ( @dt_fatura )
        WHEN @tp_dt_base = '3' THEN ( SELECT DT_REALIZACAO
                                      FROM   TFOLLOWUP (NOLOCK)
                                      WHERE  NR_PROCESSO = @nr_processo AND
                                             CD_EVENTO   = @cd_ev_embarque )
      END
    IF isnull(@dt_base,'') = '' SELECT @dt_base = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )
    -- PESQUISA DESPESAS
    IF ( @tp_base_calc_taxa        IN ( '1', '2' ) ) OR
       ( @tp_base_calc_min         IN ( '1', '2' ) ) OR
       ( @tp_base_calc_max         IN ( '1', '2' ) ) 
    BEGIN
      SELECT @vl_despesas = SUM( ISNULL( C.VL_ITEM, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) 
      FROM   TFATURAMENTO_CC C (NOLOCK), 
             TITEM I (NOLOCK),
             TTIPO_ITEM T (NOLOCK)
      WHERE  C.CD_ITEM = I.CD_ITEM AND
             I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
             C.NR_PROCESSO = @nr_processo AND
             T.IN_FATURAR = '1' AND
             T.TP_NATUREZA = 'D' 
    END
    -- PESQUISA DIREITOS ISENTOS
    IF ( @tp_base_calc_taxa        = '2' ) OR
       ( @tp_base_calc_min         = '2' ) OR
       ( @tp_base_calc_max         = '2' )
    BEGIN
      SELECT @vl_direitos_isentos = 0
    END
    -- Atualiza VMLE
    SELECT @vl_moeda_taxa = ISNULL( TX_CAMBIO, 0 )
    FROM   TTAXA_CAMBIO (NOLOCK)
    WHERE  CD_MOEDA             =  @cd_moeda_mle AND
           DT_INICIO_VIGENCIA   <= @dt_base      AND
           DT_TERMINO_VIGENCIA  >= @dt_base 
    IF @@rowcount = 0
       SELECT @vl_vmle_mn = 0
    ELSE
       SELECT @vl_vmle_mn = @vl_vmle_mneg * @vl_moeda_taxa
    -- CALCULO TAXA
    SELECT @vl_resultado = 0
    IF @tp_faixa = '0'
    BEGIN
      -- CALCULO NORMAL
      IF ( @vl_num_taxa > 0 ) AND ( @vl_den_taxa > 0 )
      BEGIN
        IF ( @tp_base_calc_taxa = '5' ) 
        BEGIN
          SELECT @vl_moeda_taxa = ISNULL( TX_CAMBIO, 0 )
          FROM   TTAXA_CAMBIO (NOLOCK)
          WHERE  CD_MOEDA             =  @cd_moeda_taxa AND
                 DT_INICIO_VIGENCIA   <= @dt_base       AND
                 DT_TERMINO_VIGENCIA  >= @dt_base 
          IF @@rowcount = 0
          BEGIN
     -- Taxa de Cƒmbio do C lculo da Taxa nao cadastrada
            RETURN(3)
          END
        END
        SELECT @vl_base_calculo = 
          CASE
            WHEN @tp_base_calc_taxa  = '0' THEN ( 1 )
            WHEN @tp_base_calc_taxa  = '1' THEN ( @vl_despesas )
            WHEN @tp_base_calc_taxa  = '2' THEN ( @vl_despesas + @vl_direitos_isentos )
            WHEN @tp_base_calc_taxa  = '3' THEN ( @vl_vmle_mn )
            WHEN @tp_base_calc_taxa  = '4' THEN ( @vl_cif_mn )
            WHEN @tp_base_calc_taxa  = '5' THEN ( @vl_moeda_taxa )
            ELSE ( 0 )
          END    
        SELECT @vl_resultado = ROUND ( ( @vl_base_calculo * @vl_num_taxa / @vl_den_taxa ), 2)
      END
    END
    ELSE
    BEGIN
      IF @tp_faixa_valor = '0'
      BEGIN
         DECLARE c_faixa_valor CURSOR FOR
           SELECT ( SUM ( ISNULL( PB_EMBALAGEM, 0 ) ) / 1000 ), NULL
           FROM   TPROCESSO_EMBALAGEM (NOLOCK)
           WHERE  NR_PROCESSO = @nr_processo
      END
      ELSE IF @tp_faixa_valor = '1'
      BEGIN
        DECLARE c_faixa_valor CURSOR FOR
          SELECT ISNULL( VL_MLE_MNEG, 0 ), NULL
          FROM   TPROCESSO (NOLOCK)
          WHERE  NR_PROCESSO = @nr_processo 
      END
      ELSE
      IF @tp_faixa_valor = '2'
      BEGIN
        DECLARE c_faixa_valor CURSOR FOR
          SELECT SUBSTRING( NR_RE, 10, 3 ), IN_ATIVO 
          FROM   TPROCESSO_RE (NOLOCK)
          WHERE  NR_PROCESSO = @nr_processo
      END
      OPEN c_faixa_valor
      IF @tp_faixa_valor = '2'
      BEGIN
        FETCH c_faixa_valor INTO @qt_adicoes, @in_re_ativo
        SELECT @vl_faixa_valor = CONVERT ( float, @qt_adicoes )
      END
      ELSE      
        FETCH c_faixa_valor INTO @vl_faixa_valor, @in_re_ativo
      WHILE @@FETCH_status <> -1
      BEGIN
        SELECT @vl_result_parc = 0 
        DECLARE c_faixa CURSOR FOR
          SELECT VL_INICIO_FAIXA, VL_FIM_FAIXA, VL_NUM_FAIXA, VL_DEN_FAIXA,
                 TP_BASE_CALC_FAIXA, CD_MOEDA_FAIXA, TP_POR_BASE_CALC
          FROM   TRECEITAS_EXP_FAIXA (NOLOCK)
          WHERE  CD_UNID_NEG     = @cd_unid_neg AND
                 CD_PRODUTO      = @cd_produto AND
                 CD_CLIENTE      = @cd_cliente AND
                 CD_SERVICO      = @cd_servico AND
                 CD_ITEM         = @cd_item AND
                 VL_INICIO_FAIXA < @vl_faixa_valor
        OPEN c_faixa
        FETCH c_faixa INTO @vl_inicio_faixa, @vl_fim_faixa, @vl_num_faixa, @vl_den_faixa,
                           @tp_base_calc_faixa, @cd_moeda_faixa, @tp_por_base_calc
        WHILE @@FETCH_status <> -1
        BEGIN
          IF ( @tp_faixa = '1' ) OR ( ( @vl_inicio_faixa < @vl_faixa_valor ) AND
               ( @vl_fim_faixa >= @vl_faixa_valor ) )
          BEGIN
            IF ( @vl_num_faixa > 0 ) AND ( @vl_den_taxa > 0 )
            BEGIN
              IF ( @tp_base_calc_faixa = '5' ) 
              BEGIN
                SELECT @vl_moeda_taxa = ISNULL( TX_CAMBIO, 0 )
                FROM   TTAXA_CAMBIO (NOLOCK)
                WHERE  CD_MOEDA             =  @cd_moeda_faixa AND
                       DT_INICIO_VIGENCIA   <= @dt_base        AND
                       DT_TERMINO_VIGENCIA  >= @dt_base 
                IF @@rowcount = 0
                BEGIN
    -- Taxa de Cƒmbio do C lculo da Taxa nao cadastrada
                  RETURN(3)
                END
              END
              SELECT @vl_base_calculo = 
                CASE
                  WHEN @tp_base_calc_faixa = '0' THEN ( 1 )
                  WHEN @tp_base_calc_faixa = '1' THEN ( @vl_despesas )
                  WHEN @tp_base_calc_faixa = '2' THEN ( @vl_despesas + @vl_direitos_isentos )
                  WHEN @tp_base_calc_faixa = '3' THEN ( @vl_vmle_mn )
                  WHEN @tp_base_calc_faixa = '4' THEN ( @vl_cif_mn )
                  WHEN @tp_base_calc_faixa = '5' THEN ( @vl_moeda_taxa )
                  ELSE ( 0 )
                END
              IF @tp_por_base_calc = '0'
                SELECT @vl_result_parc = @vl_result_parc + ROUND ( ( @vl_base_calculo * @vl_num_faixa / @vl_den_faixa ), 2 )
              ELSE
              BEGIN
                IF @vl_faixa_valor BETWEEN @vl_inicio_faixa AND @vl_fim_faixa
                  SELECT @vl_result_parc = @vl_result_parc + ROUND ( ( @vl_base_calculo * ( @vl_num_faixa / @vl_den_faixa) * ( @vl_faixa_valor - @vl_inicio_faixa ) ), 2 )
                ELSE
                  SELECT @vl_result_parc = @vl_result_parc + ROUND ( ( @vl_base_calculo * ( @vl_num_faixa / @vl_den_faixa) * ( @vl_fim_faixa - @vl_inicio_faixa ) ), 2 )
              END
            END
          END
          FETCH c_faixa INTO @vl_inicio_faixa, @vl_fim_faixa, @vl_num_faixa, @vl_den_faixa,
                             @tp_base_calc_faixa, @cd_moeda_faixa, @tp_por_base_calc
        END
        CLOSE c_faixa
        DEALLOCATE c_faixa
        IF @in_re_ativo = '0' SELECT @vl_result_parc = ROUND ( ( ( 1 - ( @pc_reduc_re_canc / 100 ) ) * @vl_result_parc ), 2 )
        SELECT @vl_resultado = @vl_resultado + @vl_result_parc
        IF @tp_faixa_valor = '2'
        BEGIN
          FETCH c_faixa_valor INTO @qt_adicoes, @in_re_ativo
          SELECT @vl_faixa_valor = CONVERT ( float, @qt_adicoes )
        END
        ELSE      
          FETCH c_faixa_valor INTO @vl_faixa_valor, @in_re_ativo
      END
      CLOSE c_faixa_valor
      DEALLOCATE c_faixa_valor
    END     
    -- CALCULO MINIMO
    IF ( @vl_num_min > 0 ) AND ( @vl_den_min > 0 )
    BEGIN
      IF @tp_base_calc_min = '5' 
      BEGIN
        SELECT @vl_moeda_min = ISNULL( TX_CAMBIO, 0 )
        FROM   TTAXA_CAMBIO
        WHERE  CD_MOEDA             =  @cd_moeda_min  AND
               DT_INICIO_VIGENCIA   <= @dt_base       AND
               DT_TERMINO_VIGENCIA  >= @dt_base 
        IF @@rowcount = 0
        BEGIN
   -- Taxa de Cƒmbio do C lculo M¡nimo nao Cadastrada
          RETURN(4)
        END
      END
      SELECT @vl_base_calculo = 
        CASE
          WHEN @tp_base_calc_min = '0' THEN ( 1 )
          WHEN @tp_base_calc_min = '1' THEN ( @vl_despesas )
          WHEN @tp_base_calc_min = '2' THEN ( @vl_despesas + @vl_direitos_isentos )
          WHEN @tp_base_calc_min = '3' THEN ( @vl_vmle_mn )
          WHEN @tp_base_calc_min = '4' THEN ( @vl_cif_mn )
          WHEN @tp_base_calc_min = '5' THEN ( @vl_moeda_min )
          ELSE ( 0 )
        END    
      SELECT @vl_minimo = ROUND ( ( @vl_base_calculo * @vl_num_min / @vl_den_min ), 2)
      IF @vl_resultado < @vl_minimo 
        SELECT @vl_resultado = @vl_minimo
    END
    -- CALCULO MAXIMO
    IF ( @vl_num_max > 0 ) AND ( @vl_den_max > 0 )
    BEGIN
      IF @tp_base_calc_max = '5' 
      BEGIN
        SELECT @vl_moeda_max = ISNULL( TX_CAMBIO, 0 )
        FROM   TTAXA_CAMBIO (NOLOCK)
        WHERE  CD_MOEDA             =  @cd_moeda_max  AND
               DT_INICIO_VIGENCIA   <= @dt_base       AND
               DT_TERMINO_VIGENCIA  >= @dt_base 
        IF @@rowcount = 0
        BEGIN
   -- Taxa de Cƒmbio do C lculo M ximo nao Cadastrada
          RETURN(5)
        END
      END
      SELECT @vl_base_calculo = 
        CASE
          WHEN @tp_base_calc_max = '0' THEN ( 1 )
          WHEN @tp_base_calc_max = '1' THEN ( @vl_despesas )
          WHEN @tp_base_calc_max = '2' THEN ( @vl_despesas + @vl_direitos_isentos )
          WHEN @tp_base_calc_max = '3' THEN ( @vl_vmle_mn )
          WHEN @tp_base_calc_max = '4' THEN ( @vl_cif_mn )
          WHEN @tp_base_calc_max = '5' THEN ( @vl_moeda_max )
          ELSE ( 0 )
        END    
      SELECT @vl_maximo = ROUND ( ( @vl_base_calculo * @vl_num_max / @vl_den_max ), 2)
      IF @vl_resultado > @vl_maximo 
        SELECT @vl_resultado = @vl_maximo
    END
    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
    RETURN(0)
  END     
END





GO
