USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_and_processo_exp] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                           @cd_servico char(3), @cd_analista char(4), @so_ult_obs char(1),
                                           @nr_identificador int output) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_analista char(4)
DECLARE @cd_servico char(3)
DECLARE @nr_identificador int 
DECLARE @so_ult_obs char(1)

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = ''
SELECT @cd_cliente = ''
SELECT @cd_servico = ''
SELECT @cd_analista = ''
SELECT @so_ult_obs = '0'
*/

SELECT @cd_unid_neg = ISNULL( @cd_unid_neg, '' )
SELECT @cd_grupo    = ISNULL( @cd_grupo, '' )
SELECT @cd_cliente  = ISNULL( @cd_cliente,'' )
SELECT @cd_servico  = ISNULL( @cd_servico, '' )
SELECT @cd_analista = ISNULL( @cd_analista, '' )
SELECT @so_ult_obs  = ISNULL( @so_ult_obs, '0' )

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_AND_PROCESSO_EXP (TABLOCK HOLDLOCK)

IF @so_ult_obs = '0'
BEGIN
	INSERT INTO TREL_AND_PROCESSO_EXP 
	SELECT @nr_identificador, NR_PROCESSO, NR_ORDEM, TX_OBS
	FROM   TFOLLOWUP (NOLOCK)
	WHERE  TX_OBS IS NOT NULL AND
	       NR_PROCESSO IN ( SELECT NR_PROCESSO
				FROM   TPROCESSO (NOLOCK)
				WHERE  ( CD_PRODUTO IN ( '02', '10' ) ) AND
				       @cd_unid_neg IN ( CD_UNID_NEG, '' ) AND
				       ( CD_CLIENTE = @cd_cliente OR
				       ( @cd_cliente = '' AND @cd_grupo = '' ) OR
				       ( CD_CLIENTE IN ( SELECT CD_EMPRESA FROM TEMPRESA_NAC (NOLOCK) WHERE CD_GRUPO = @cd_grupo ) ) ) AND
				       @cd_analista IN ( CD_ANALISTA_COMISSARIA, '' ) AND
				       @cd_servico IN ( CD_SERVICO, '' ) )
	ORDER BY NR_PROCESSO, NR_ORDEM
END
ELSE
BEGIN
  INSERT INTO TREL_AND_PROCESSO_EXP 
    SELECT @nr_identificador, NR_PROCESSO, NR_ORDEM, TX_OBS
    FROM   TFOLLOWUP (NOLOCK)
    WHERE  TX_OBS IS NOT NULL AND
	   NR_PROCESSO IN ( SELECT NR_PROCESSO
	                    FROM   TPROCESSO (NOLOCK)
                            WHERE  ( CD_PRODUTO IN ( '02', '10' ) ) AND
                                   @cd_unid_neg IN ( CD_UNID_NEG, '' ) AND
                                   ( CD_CLIENTE = @cd_cliente OR
                                   ( @cd_cliente = '' AND @cd_grupo = '' ) OR
                                   ( CD_CLIENTE IN ( SELECT CD_EMPRESA FROM TEMPRESA_NAC (NOLOCK) WHERE CD_GRUPO = @cd_grupo ) ) ) AND
                                   @cd_analista IN ( CD_ANALISTA_COMISSARIA, '' ) AND
                                   @cd_servico IN ( CD_SERVICO, '' ) ) AND
           NR_PROCESSO + CONVERT( CHAR(2), NR_ORDEM ) + CD_EVENTO IN (
             SELECT NR_PROCESSO + CONVERT(CHAR(2), MAX(NR_ORDEM) ) + CD_EVENTO NR_PROCESSO_ORDEM 
             FROM   TFOLLOWUP (NOLOCK)
             WHERE  NR_PROCESSO + CD_EVENTO IN (
               SELECT NR_PROCESSO + CD_EVENTO NR_PROCESSO 
               FROM   TFOLLOWUP (NOLOCK)
               WHERE  TX_OBS IS NOT NULL
               GROUP BY NR_PROCESSO, CD_EVENTO )
             GROUP BY NR_PROCESSO, CD_EVENTO )
    ORDER BY NR_PROCESSO, NR_ORDEM
END

INSERT INTO TREL_AND_PROCESSO_EXP 
SELECT @nr_identificador, NR_PROCESSO, '00', '' 
FROM   TPROCESSO (NOLOCK)
WHERE  ( CD_PRODUTO IN ( '02', '10' ) ) AND
       @cd_unid_neg IN ( CD_UNID_NEG, '' ) AND
       ( CD_CLIENTE = @cd_cliente OR
       ( @cd_cliente = '' AND @cd_grupo = '' ) OR
       ( CD_CLIENTE IN ( SELECT CD_EMPRESA FROM TEMPRESA_NAC (NOLOCK) WHERE CD_GRUPO = @cd_grupo ) ) ) AND
       @cd_analista IN ( CD_ANALISTA_COMISSARIA, '' ) AND
       @cd_servico IN ( CD_SERVICO, '' ) AND
	NR_PROCESSO NOT IN ( SELECT NR_PROCESSO 
                             FROM   TREL_AND_PROCESSO_EXP (NOLOCK)
		             WHERE  NR_IDENTIFICADOR = @nr_identificador )

DELETE FROM TREL_AND_PROCESSO_EXP
WHERE	(NR_IDENTIFICADOR = @nr_identificador) AND
	NR_PROCESSO IN (SELECT 	NR_PROCESSO
			FROM	TFOLLOWUP (NOLOCK)
			WHERE	CD_EVENTO IN (	SELECT	CD_EVENTO_CONCLUSOR
						FROM	VW_SERVICO_GERAL S (NOLOCK)
						WHERE	S.CD_SERVICO = TFOLLOWUP.CD_SERVICO
					      ) AND
				(DT_REALIZACAO IS NOT NULL)
		       )

/*
SELECT NR_PROCESSO, TX_OBS FROM TREL_AND_SERVICOS
WHERE NR_IDENTIFICADOR = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
