USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_GRAVA_LOG_CALCULO_DI](@NR_PROCESSO CHAR(18), @CD_POSICAO CHAR(1)) AS
BEGIN
    /*
    DECLARE @NR_PROCESSO   CHAR(18)
    SET @NR_PROCESSO = '0101IM-0318-10'
    BEGIN TRAN
    --*/
RETURN
    DECLARE @NR_ADICAO     CHAR(3)
    DECLARE @UID_USUARIO   INT
    DECLARE @UID_TABELA    INT
    DECLARE @QTD_REGISTROS INT

    /*
    SELECT @UID_USUARIO = UID
    FROM SYS.SYSUSERS
    WHERE NAME = SUSER_NAME()

    SELECT @UID_TABELA = OBJECT_ID
    FROM SYS.TABLES
    WHERE NAME = 'TDECLARACAO_IMPORTACAO'

    BEGIN TRY
        DECLARE @TX_INFO_DI  VARCHAR(MAX)
        DECLARE @TX_INFO_ADS VARCHAR(MAX)

        DECLARE @TADICOES AS TABLE (
            NR_ADICAO             CHAR(3),
            ALIQ_COFINS           FLOAT,
            ALIQ_PIS              FLOAT,
            CD_MOEDAS_DESPESAS    CHAR(3),
            CD_MOEDA_MLE          CHAR(3),
            CD_MOEDA_SEG_MERC     CHAR(3),
            IN_FUNDO_POBREZA      CHAR(1),
            PC_COEF_REDUC_II      FLOAT,
            PC_COMISSAO_AG_IMP    FLOAT,
            PC_ICMS               FLOAT,
            PC_REDUCAO_ICMS       FLOAT,
            PC_REDUCAO_IPT_II     FLOAT,
            PC_REDUCAO_IPT_IPI    FLOAT,
            PC_REDUCAO_PIS_COFINS FLOAT
        )

        INSERT INTO @TADICOES
        SELECT NR_ADICAO, ALIQ_COFINS, ALIQ_PIS, CD_MOEDAS_DESPESAS, CD_MOEDA_MLE, CD_MOEDA_SEG_MERC, IN_FUNDO_POBREZA,
               PC_COEF_REDUC_II, PC_COMISSAO_AG_IMP, PC_ICMS, PC_REDUCAO_ICMS, PC_REDUCAO_IPT_II, PC_REDUCAO_IPT_IPI, PC_REDUCAO_PIS_COFINS
        FROM TADICAO_DE_IMPORTACAO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO

        SET @QTD_REGISTROS = @@ROWCOUNT
        IF @QTD_REGISTROS = 0
            SET @QTD_REGISTROS = 1

        SELECT @TX_INFO_DI = 'DI:(' +
                             'DT_CALC:'                + ISNULL(CONVERT(VARCHAR, DT_CALCULO, 103), '')        + ';' +
                             'VL_FRETE_TNAC_MNEG:'     + ISNULL(CONVERT(VARCHAR, VL_FRETE_TNAC_MNEG), '')     + ';' +
                             'VL_TOTAL_ACRESCIMOS_MN:' + ISNULL(CONVERT(VARCHAR, VL_TOTAL_ACRESCIMOS_MN), '') + ';' +
                             'VL_TOTAL_DEDUCOES_MN:'   + ISNULL(CONVERT(VARCHAR, VL_TOTAL_DEDUCOES_MN), '')   + ';' +
                             'VL_TOTAL_FRETE_MN:'      + ISNULL(CONVERT(VARCHAR, VL_TOTAL_FRETE_MN), '')      + ';' +
                             'VL_TOTAL_SEGURO_MN:'     + ISNULL(CONVERT(VARCHAR, VL_TOTAL_SEGURO_MN), '')     + ';' +
                             'VL_TOT_FRT_COLLECT:'     + ISNULL(CONVERT(VARCHAR, VL_TOT_FRT_COLLECT), '')     + ';' +
                             'VL_TOT_FRT_PREPAID:'     + ISNULL(CONVERT(VARCHAR, VL_TOT_FRT_PREPAID), '')     + ';' +
                             'VL_TOT_MLE_MNEG:'        + ISNULL(CONVERT(VARCHAR, VL_TOT_MLE_MNEG), '')        + ';' +
                             'CD_MOEDA_DESPESAS:'      + RTRIM(ISNULL(CD_MOEDA_DESPESAS, ''))                 + ';' +
                             'CD_MOEDA_FRETE:'         + RTRIM(ISNULL(CD_MOEDA_FRETE, ''))                    + ';' +
                             'CD_MOEDA_MLE:'           + RTRIM(ISNULL(CD_MOEDA_MLE, ''))                      + ';' +
                             'CD_MOEDA_SEGURO:'        + RTRIM(ISNULL(CD_MOEDA_SEGURO, ''))                   + ';' +
                             'TX_DOLAR:'               + ISNULL(CONVERT(VARCHAR, TX_DOLAR), '')               + ';' +
                             'TX_FRETE:'               + ISNULL(CONVERT(VARCHAR, TX_FRETE), '')               + ';' +
                             'TX_FRETE:'               + ISNULL(CONVERT(VARCHAR, TX_MLE), '')                 + ';' +
                             'TX_SEGURO:'              + ISNULL(CONVERT(VARCHAR, TX_SEGURO), '')              + ';' +
                             'PC_SEGURO_MLE:'          + ISNULL(CONVERT(VARCHAR, PC_SEGURO_MLE), '')          + ';' +
                             'CD_TIPO_BASE_SEGURO:'    + ISNULL(CD_TIPO_BASE_SEGURO, '')                      + ')'
        FROM TDECLARACAO_IMPORTACAO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO

        SET @TX_INFO_ADS = ''

        WHILE (SELECT COUNT(*) FROM @TADICOES) > 0
        BEGIN
            SELECT TOP 1 @NR_ADICAO = NR_ADICAO
            FROM @TADICOES
            ORDER BY NR_ADICAO

            SELECT @TX_INFO_ADS = @TX_INFO_ADS + NCHAR(13) +
                                  'AD '                    + NR_ADICAO                                           + ':(' +
                                  'ALIQ_COFINS:'           + ISNULL(CONVERT(VARCHAR, ALIQ_COFINS), '')           + ';' +
                                  'ALIQ_PIS:'              + ISNULL(CONVERT(VARCHAR, ALIQ_PIS), '')              + ';' +
                                  'CD_MOEDAS_DESPESAS:'    + RTRIM(ISNULL(CD_MOEDAS_DESPESAS, ''))               + ';' +
                                  'CD_MOEDA_MLE:'          + RTRIM(ISNULL(CD_MOEDA_MLE, ''))                     + ';' +
                                  'CD_MOEDA_SEG_MERC:'     + RTRIM(ISNULL(CD_MOEDA_SEG_MERC, ''))                + ';' +
                                  'IN_FUNDO_POBREZA:'      + ISNULL(IN_FUNDO_POBREZA, '0')                       + ';' +
                                  'PC_COEF_REDUC_II:'      + ISNULL(CONVERT(VARCHAR, PC_COEF_REDUC_II), '')      + ';' +
                                  'PC_COMISSAO_AG_IMP:'    + ISNULL(CONVERT(VARCHAR, PC_COMISSAO_AG_IMP), '')    + ';' +
                                  'PC_ICMS:'               + ISNULL(CONVERT(VARCHAR, PC_ICMS), '')               + ';' +
                                  'PC_REDUCAO_ICMS:'       + ISNULL(CONVERT(VARCHAR, PC_REDUCAO_ICMS), '')       + ';' +
                                  'PC_REDUCAO_IPT_II:'     + ISNULL(CONVERT(VARCHAR, PC_REDUCAO_IPT_II), '')     + ';' +
                                  'PC_REDUCAO_IPT_IPI:'    + ISNULL(CONVERT(VARCHAR, PC_REDUCAO_IPT_IPI), '')    + ';' +
                                  'PC_REDUCAO_PIS_COFINS:' + ISNULL(CONVERT(VARCHAR, PC_REDUCAO_PIS_COFINS), '') + ')'
            FROM @TADICOES
            WHERE NR_ADICAO = @NR_ADICAO
            
            DELETE FROM @TADICOES WHERE NR_ADICAO = @NR_ADICAO
        END

    END TRY
    BEGIN CATCH
        PRINT 'ERRO '
    END CATCH

    INSERT INTO TLOG(UID_USUARIO, UID_TABELA, CD_OPERACAO, QT_REGISTROS, DT_OPERACAO, NM_COMPUTADOR, DS_CHAVES, NM_USUARIO, TX_INFORMACOES)
    VALUES(@UID_USUARIO, @UID_TABELA, 'C' + ISNULL(@CD_POSICAO, ''), @QTD_REGISTROS, GETDATE(), HOST_NAME(), @NR_PROCESSO, SUSER_NAME(), @TX_INFO_DI + @TX_INFO_ADS)

    /*
    SELECT *
    FROM TLOG (NOLOCK)
    WHERE UID_USUARIO = @UID_USUARIO
      AND CD_OPERACAO = 'C'

    ROLLBACK
    --*/
    --*/
END
GO
