USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_calc_zero    Script Date: 02/09/1999 08:58:59 AM ******/
CREATE PROCEDURE [sp_cancela_item_devolucao]( @nr_processo char(18), @nr_devolucao char(3), @nr_lanc_devol char(3) ) AS
declare @nr_solinum      CHAR(3)
declare @nr_lanc_solinum CHAR(3)
declare @vl_devolvido    FLOAT
declare @nr_itens        integer
declare @in_cancelado    integer
SELECT @nr_solinum = NR_SOLINUM,
       @nr_lanc_solinum = NR_LANC_SOLINUM,
       @vl_devolvido = ISNULL( VL_DEVOLVIDO, 0 )
       FROM TDEVOLUCAO_ITENS 
       WHERE ( NR_PROCESSO = @nr_processo) AND ( NR_DEVOLUCAO = @nr_devolucao ) AND ( NR_LANC_DEVOL = @nr_lanc_devol )
UPDATE TNUMERARIO_ITEM_SOLIC 
       SET VL_RECEBIDO = ( ISNULL( VL_RECEBIDO, 0 ) + @vl_devolvido )
       WHERE ( NR_PROCESSO = @nr_processo) AND ( NR_SOLICITACAO = @nr_solinum ) AND ( NR_LANCAMENTO = @nr_lanc_solinum )
UPDATE TDEVOLUCAO_ITENS SET IN_CANCELADO = '1' 
       WHERE ( NR_PROCESSO = @nr_processo) AND ( NR_DEVOLUCAO = @nr_devolucao ) AND ( NR_LANC_DEVOL = @nr_lanc_devol )
SELECT @nr_itens = ISNULL( COUNT(*) ,0 )
       FROM TDEVOLUCAO_ITENS 
       WHERE ( NR_PROCESSO = @nr_processo) AND ( NR_DEVOLUCAO = @nr_devolucao ) AND ( NR_LANC_DEVOL = @nr_lanc_devol )
If @nr_itens > 0 
   select @in_cancelado = 0
else
   select @in_cancelado = 1
UPDATE TDEVOLUCAO SET VL_DEVOLUCAO = ( ISNULL( VL_DEVOLUCAO, 0 ) -  @vl_devolvido ),
                      IN_CANCELADO = @in_cancelado
       WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_DEVOLUCAO = @nr_devolucao )
EXEC sp_soma_solinum @nr_processo



GO
