USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_liq_cancela] ( @nr_processo char(18), @nr_liquidacao char(6) ) AS

/*SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_liquidacao char(6)

SELECT @nr_processo = '0101IR-0135-07'
SELECT @nr_liquidacao = '000002'

ROLLBACK TRAN
SET XACT_ABORT OFF   */


DECLARE @cd_unid_neg     char(2)
DECLARE @cd_produto      char(2)
DECLARE @nr_solicitacao  char(6)
DECLARE @cd_usuario      char(4)
DECLARE @vl_liquidacao   numeric(14,2)
DECLARE @dt_liquidacao   datetime
DECLARE @tot_proc        int

DECLARE @vl_fat   	 numeric(14,2)
DECLARE @vl_liq_fat  	 numeric(14,2)
DECLARE @in_liq_fat  	 char(1)

DECLARE @vl_fat_proc     numeric(14,2)
DECLARE @vl_liq_fat_proc numeric(14,2)
DECLARE @in_liq_fat_proc char(1)
DECLARE @vl_liquidacao_proc numeric(14,2)
DECLARE @tp_liquidacao   char(1)
DECLARE @nr_processo_liq char(18)
DECLARE @nr_relatorio    char(3)



SELECT @tot_proc = COUNT( NR_PROCESSO )
FROM   TS_FATURA_PROCESSO FP, TS_FATURA F
WHERE  F.CD_UNID_NEG      = FP.CD_UNID_NEG AND
       F.CD_PRODUTO       = FP.CD_PRODUTO AND
       F.NR_SOLICITACAO   = FP.NR_SOLICITACAO AND
       FP.NR_PROCESSO_LIQ = @nr_processo AND
       F.IN_CANCELADO     = '0' 
AND     NR_LIQUIDACAO      = @nr_liquidacao  --EU


SELECT @vl_liquidacao = SUM(VL_LIQUIDACAO),
       @dt_liquidacao = ISNULL( DT_LIQUIDACAO, CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 ) ),
       @nr_relatorio  = NR_RELATORIO
FROM   TLIQUIDACAO
WHERE  NR_PROCESSO_LIQ   = @nr_processo AND
       NR_LIQUIDACAO_LIQ = @nr_liquidacao AND
       IN_CANCELADO   = '0'
GROUP BY NR_PROCESSO_LIQ, NR_LIQUIDACAO_LIQ, DT_LIQUIDACAO, NR_RELATORIO 

--Atualizar Faturamento

DECLARE c_fat CURSOR FOR
  SELECT FP.CD_UNID_NEG, FP.CD_PRODUTO, FP.NR_SOLICITACAO, FP.NR_PROCESSO
  FROM   TS_FATURA_PROCESSO FP, TS_FATURA F
  WHERE  F.CD_UNID_NEG      = FP.CD_UNID_NEG AND
         F.CD_PRODUTO       = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO   = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO_LIQ = @nr_processo AND 
         FP.NR_PROCESSO     = @nr_processo AND
         F.IN_CANCELADO     = '0' AND         
		 NR_LIQUIDACAO      = @nr_liquidacao

OPEN c_fat
FETCH c_fat INTO @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_liq
WHILE @@fetch_status  = 0
BEGIN
  SELECT @vl_fat_proc      = ISNULL( VL_FATURA, 0 ),
         @vl_liq_fat_proc  = ISNULL( VL_LIQUIDACAO, 0 ),
         @in_liq_fat_proc  = IN_LIQUIDADO
  FROM   TS_FATURA_PROCESSO
  WHERE  CD_UNID_NEG       = @cd_unid_neg     AND
         CD_PRODUTO        = @cd_produto      AND
         NR_SOLICITACAO    = @nr_solicitacao  AND
         NR_PROCESSO       = @nr_processo_liq

  SELECT @vl_fat           = ISNULL( VL_FATURA, 0 ),
         @vl_liq_fat       = ISNULL( VL_LIQUIDACAO, 0),
         @in_liq_fat       = IN_LIQUIDADO
  FROM   TS_FATURA
  WHERE  CD_UNID_NEG       = @cd_unid_neg    AND
         CD_PRODUTO        = @cd_produto     AND
         NR_SOLICITACAO    = @nr_solicitacao AND
         IN_CANCELADO = '0'

  IF @vl_liq_fat_proc < 0
    SELECT @tp_liquidacao = 'P'
  ELSE
    SELECT @tp_liquidacao = 'R'


  IF ( @tot_proc = 1 ) AND
     ( ROUND( @vl_liquidacao, 2 ) <> ( ROUND( @vl_fat_proc, 2 ) + ROUND( @vl_liq_fat_proc, 2 ) ) )
  BEGIN
    -- Parcial
    SELECT @vl_liq_fat_proc = @vl_liq_fat_proc - @vl_liquidacao
    SELECT @vl_liq_fat      = @vl_liq_fat - @vl_liquidacao    
  END
  ELSE
  BEGIN
    -- Total
    SELECT @vl_liq_fat_proc = @vl_liq_fat_proc - @vl_liquidacao

    --SELECT @vl_liq_fat_proc = @vl_liq_fat_proc - ( @vl_fat_proc * (-1) ) --Comentado por Rodrigo Capra

    SELECT @vl_liq_fat      = @vl_liq_fat - ( @vl_fat_proc * (-1) )


  END

  IF ( @vl_liq_fat_proc + @vl_fat_proc ) <> 0
     SELECT @in_liq_fat_proc = '0'
  ELSE
     SELECT @in_liq_fat_proc = '1'

  IF ( @vl_liq_fat + @vl_fat ) <> 0
     SELECT @in_liq_fat = '0'
  ELSE
     SELECT @in_liq_fat = '1'

  UPDATE TS_FATURA_PROCESSO
  SET    VL_LIQUIDACAO  = @vl_liq_fat_proc,
         IN_LIQUIDADO   = @in_liq_fat_proc,
         DT_LIQUIDACAO  = NULL
  WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
         CD_PRODUTO     = @cd_produto     AND
         NR_SOLICITACAO = @nr_solicitacao AND
         NR_PROCESSO    = @nr_processo_liq

  UPDATE TS_FATURA
  SET    VL_LIQUIDACAO  = @vl_liq_fat,
         IN_LIQUIDADO   = @in_liq_fat,
         DT_LIQUIDACAO  = NULL
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLICITACAO = @nr_solicitacao

  FETCH c_fat INTO @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_liq
END

CLOSE c_fat
DEALLOCATE c_fat

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()


UPDATE TLIQUIDACAO
SET    IN_CANCELADO    = '1',
       CD_CANCELADOR   = @cd_usuario,
       DT_CANCELAMENTO = CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
WHERE  NR_PROCESSO_LIQ   = @nr_processo AND
       NR_LIQUIDACAO_LIQ = @nr_liquidacao 

UPDATE TS_FATURA_PROCESSO
SET    NR_PROCESSO_LIQ = NULL,
       NR_LIQUIDACAO = NULL
WHERE  NR_PROCESSO_LIQ = @nr_processo AND NR_LIQUIDACAO = @nr_liquidacao 

SELECT @cd_unid_neg = SUBSTRING( @nr_processo, 1, 2 )

EXEC sp_distribui_liquidacao @dt_liquidacao, @cd_unid_neg, '01', '1'
GO
