USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [sp_rel_controle_emb] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente  char(5), 
                                       @dt_inicio datetime, @dt_fim datetime, @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2),		@cd_produto       char(2),		@cd_grupo         char(3),
        @cd_cliente       char(5),		@dt_inicio        datetime,		@dt_fim           datetime,
	@nr_identificador integer

SELECT 	@cd_unid_neg = '01',			@cd_produto = '03',			@cd_grupo = 'X',
        @cd_cliente = '00415',			@dt_inicio = '20040501',		@dt_fim = '20040520'


ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo      char(18),		@cd_referencia    char(15),		@dt_docs_originais	datetime,
	@dt_etd		  datetime,		@dt_eta		  datetime,		@local_emb		char(20),
	@local_des	  char(20), 		@nm_exportador    char(20),		@qt_peso		decimal,
	@modalidade	  char(20),		@chave  	  varchar(2),	
	@passa  	  varchar(100),		@terc   	  varchar(100),		@nr_cntr	  	varchar(90),
	@nr_carga	  varchar(90),		@tipo		  integer

-- Seleciona o nº identificador
SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TREL_CONTROLE_EMB 

DECLARE c_controle CURSOR FOR
  SELECT P.NR_PROCESSO, RC.CD_REFERENCIA
  FROM   TPROCESSO P (NOLOCK)
         INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON ( P.CD_CLIENTE = EN.CD_EMPRESA )
         INNER JOIN TREF_CLIENTE RC (NOLOCK) ON ( P.NR_PROCESSO = RC.NR_PROCESSO ) 
  WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )
    AND  @cd_produto IN ( P.CD_PRODUTO, 'X' )
    AND  @cd_grupo IN ( EN.CD_GRUPO, 'X' )
    AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
    AND  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
--    AND  P.NR_PROCESSO = '0101I0-0251-04'

OPEN c_controle
FETCH c_controle INTO @nr_processo, @cd_referencia
WHILE @@fetch_status = 0
BEGIN 
--  SELECT @nr_processo 'PROCESSO'
--  SELECT @cd_referencia 'REFERENCIA'

  SELECT @dt_docs_originais = NULL,	@dt_etd = NULL,		@dt_eta = NULL,		@local_emb = '',	
         @local_emb = '',		@nm_exportador = '',	@qt_peso = 0,		
	 @modalidade = '',		@tipo = 0

  -- CONTAINER
  SELECT NR_CNTR, NR_CNTR AS CONTAINER
  INTO   #TEMP_CNTR
  FROM   TPROCESSO_CNTR (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo

  SET @nr_cntr = ''
  SET @passa = ''
  SET @terc = ''
  WHILE ( SELECT COUNT( NR_CNTR ) FROM #TEMP_CNTR ) > 0
  BEGIN
    SELECT @chave = ( SELECT TOP 1 NR_CNTR FROM #TEMP_CNTR )
    SET @passa = ( SELECT RTRIM( CONTAINER ) + ' / ' FROM #TEMP_CNTR WHERE NR_CNTR = @chave )
    SET @nr_cntr = @terc + @passa
    SET @terc = @nr_cntr

    DELETE FROM #TEMP_CNTR WHERE NR_CNTR = @chave
  END
  IF LEN( @nr_cntr ) > 4	-- Tira a última barra ( / )
    SET @nr_cntr = SUBSTRING( @nr_cntr, 1, LEN( @nr_cntr ) - 3 )
  DROP TABLE #TEMP_CNTR

  -- QUANTIDADE ( Carga Solta )
  SELECT NR_SEQUENCIA, VL_QTDE, CAST( VL_QTDE AS char(2) ) + NM_ESPECIE AS ESPECIE
  INTO   #TEMP_CARGA
  FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo

  SET @nr_carga = ''
  SET @passa = ''
  SET @terc = ''
  WHILE ( SELECT COUNT( NR_SEQUENCIA ) FROM #TEMP_CARGA ) > 0
  BEGIN
    SELECT @chave = ( SELECT TOP 1 NR_SEQUENCIA FROM #TEMP_CARGA )
    SET @passa = ( SELECT ESPECIE + ' / ' FROM #TEMP_CARGA WHERE NR_SEQUENCIA = @chave )
    SET @nr_carga = @terc + @passa
    SET @terc = @nr_carga
  
    DELETE FROM #TEMP_CARGA WHERE NR_SEQUENCIA = @chave
  END
  IF LEN( @tipo ) > 4		-- Tira a última barra ( / )
    SET @nr_carga = SUBSTRING( @nr_carga, 1, LEN( @nr_carga ) - 3 )
  DROP TABLE #TEMP_CARGA

  -- QT_PESO
  SELECT @qt_peso = SUM( PB_EMBALAGEM )
  FROM   TPROCESSO_EMBALAGEM (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
  
  -- DATA ETD
  SELECT @dt_etd = DT_REALIZACAO
  FROM   TFOLLOWUP F (NOLOCK)
  WHERE  F.NR_PROCESSO = @nr_processo
    AND  CD_EVENTO IN ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS (NOLOCK) )

  -- DATA ETA
  SELECT @dt_eta = DT_REALIZACAO
  FROM   TFOLLOWUP F (NOLOCK)
  WHERE  F.NR_PROCESSO = @nr_processo
    AND  CD_EVENTO IN ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS (NOLOCK) )

  -- DATA DE DOCS ORIGINAIS
  SELECT @dt_docs_originais = DT_REALIZACAO
  FROM   TFOLLOWUP F (NOLOCK)
  WHERE  F.NR_PROCESSO = @nr_processo
    AND  CD_EVENTO IN ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS (NOLOCK) )

  -- 03 - Importação FI  /  10 - Exportação FI 
  -- ETD / ETA
  IF SUBSTRING( @nr_processo,3 , 2 ) = '03'
  BEGIN
    SELECT @local_emb = SUBSTRING( ISNULL( LE.DESCRICAO, '' ), 1, 20 )
    FROM   TPROCESSO P (NOLOCK)
           INNER JOIN TLOCAL_EMBARQUE LE (NOLOCK) ON ( P.CD_LOCAL_EMBARQUE = LE.CODIGO )
    WHERE  NR_PROCESSO = @nr_processo
    SELECT @local_des = SUBSTRING( ISNULL( LE.DESCRICAO, '' ), 1, 20 )
    FROM   TPROCESSO P (NOLOCK)
           INNER JOIN TLOCAL_EMBARQUE LE (NOLOCK) ON ( P.CD_LOCAL_DESEMBARQUE = LE.CODIGO )
    WHERE  NR_PROCESSO = @nr_processo
  END
  IF SUBSTRING( @nr_processo,3 , 2 ) = '10'
  BEGIN
    SELECT @local_emb = SUBSTRING( ISNULL( LE.DESCRICAO, '' ), 1, 20 )
    FROM   TPROCESSO P (NOLOCK)
           INNER JOIN TLOCAL_EMBARQUE LE (NOLOCK) ON ( P.CD_LOCAL_DESEMBARQUE = LE.CODIGO )
    WHERE  NR_PROCESSO = @nr_processo
    SELECT @local_des = SUBSTRING( ISNULL( LE.DESCRICAO, '' ), 1, 20 )
    FROM   TPROCESSO P (NOLOCK)
           INNER JOIN TLOCAL_EMBARQUE LE (NOLOCK) ON ( P.CD_LOCAL_EMBARQUE = LE.CODIGO )
    WHERE  NR_PROCESSO = @nr_processo
  END

  INSERT INTO TREL_CONTROLE_EMB
	( NR_IDENTIFICADOR, NR_PROCESSO, NR_PO, NM_AGENTE, NM_EXPORTADOR, TX_MERCADORIA,           		  --1		
	  IMO, QT_PESO, NM_MODALIDADE, NR_CNTR, QT_EMBALAGEM,                                              	  --2
          NM_NAVIO, DT_ETD, NM_ETD, DT_ETA, NM_ETA, NR_MASTER,                         				  --3 
          NR_HOUSE, VL_FRETE, DT_ENV_DOC, TX_OBSERVACAO )							  --4
  SELECT @nr_identificador, SUBSTRING( P.NR_PROCESSO, 5, 10 ), @cd_referencia,		                	  --1
         SUBSTRING( TI.DESCRICAO, 1, 20 ),@nm_exportador , P.TX_MERCADORIA,					  --1
         CASE 
           WHEN P.IN_MERC_PERIGOSA = '1' THEN 'S'
           ELSE 'N'
         END AS IMO, @qt_peso, @modalidade, @nr_cntr, @nr_carga,						  --2
	 SUBSTRING( EM.NM_EMBARCACAO, 1, 20 ), @dt_etd, @local_des, @dt_eta, @local_emb, P.NR_CONHECIMENTO_MASTER,--3
	 P.NR_CONHECIMENTO,( ( P.VL_FRETE_COLLECT_MNEG ) + ( P.VL_FRETE_PREPAID_MNEG ) ), @dt_docs_originais, ''  --4
  FROM   TPROCESSO P (NOLOCK)
         LEFT  JOIN TEMBARCACAO EM (NOLOCK) ON ( P.CD_EMBARCACAO = EM.CD_EMBARCACAO )
         LEFT  JOIN TTRANSPORTADOR_ITL TI (NOLOCK) ON ( P.CD_TRANSPORTADOR = TI.CODIGO )
  WHERE  P.NR_PROCESSO = @nr_processo

  -- Atualiza a obs 
  UPDATE TREL_CONTROLE_EMB
  SET    TX_OBSERVACAO = F.TX_OBS
  FROM   TREL_CONTROLE_EMB E (NOLOCK), TFOLLOWUP F (NOLOCK)
  WHERE  F.NR_PROCESSO = @nr_processo
    AND  F.CD_EVENTO = ( SELECT CD_EV_DIG_DI FROM TPARAMETROS (NOLOCK) )
    AND  E.NR_IDENTIFICADOR = @nr_identificador
    AND  E.NR_PROCESSO = SUBSTRING( @nr_processo, 5, 10 )


  FETCH c_controle INTO @nr_processo, @cd_referencia

END

CLOSE c_controle
DEALLOCATE c_controle

/*
SELECT 	*
FROM   TREL_CONTROLE_EMB
WHERE  NR_IDENTIFICADOR = @nr_identificador
*/






GO
