USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_atz_ev_nao_real] @cd_cliente char(5), @cd_responsavel char(1), @cd_unid_neg char(2),
                                    @cd_produto char(2), @cd_evento char(3), @cd_area char(2), @cd_grupo char(3),
                                    @cd_analista_com char(4),@dt_inicio datetime, @dt_fim datetime,
                                    @tipo char(1), @nr_identificador int output AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_cliente char(5)
DECLARE @cd_responsavel char(1)
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_evento char(3)
DECLARE @cd_area char(2)
DECLARE @cd_analista_com char(4)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @tipo char(1)
DECLARE @nr_identificador int

SELECT @cd_cliente = '00005'
SELECT @cd_responsavel = 'X'
SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_evento = '092'
SELECT @cd_area = 'XX'
SELECT @cd_analista_com = 'XXXX'
SELECT @dt_inicio = CONVERT (datetime, '19/06/2002', 103)
SELECT @dt_fim = convert (datetime, '19/06/2002', 103)
SELECT @tipo = '1'
*/

DECLARE @cd_referencia varchar(15)
DECLARE @ptr_ref binary(16)
DECLARE @tamanho int
DECLARE @PrimVez bit
DECLARE @nr_processo char(18)

IF @tipo = '1'
BEGIN
  SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0) 
  FROM   TREL_EV_NAO_REAL
  SELECT @nr_identificador = @nr_identificador + 1
  
  INSERT INTO TREL_EV_NAO_REAL
  SELECT @nr_identificador, N.CD_EMPRESA, N.NM_EMPRESA, F.NR_PROCESSO, E.CD_EVENTO, E.NM_EVENTO,
         F.DT_PREVISTA, F.DT_LIMITE, R.NM_RESPONSAVEL
  FROM   TFOLLOWUP F (NOLOCK)
         INNER JOIN TPROCESSO P (NOLOCK) ON ( F.NR_PROCESSO = P.NR_PROCESSO )
         INNER JOIN TEVENTO E (NOLOCK) ON ( F.CD_EVENTO = E.CD_EVENTO )
         INNER JOIN TPRODUTO O (NOLOCK) ON ( P.CD_PRODUTO = O.CD_PRODUTO )
         INNER JOIN TRESPONSAVEL R (NOLOCK) ON ( E.CD_RESPONSAVEL = R.CD_RESPONSAVEL )
         INNER JOIN TUNID_NEG U (NOLOCK) ON ( P.CD_UNID_NEG = U.CD_UNID_NEG )
         INNER JOIN TEMPRESA_NAC N (NOLOCK) ON ( P.CD_CLIENTE = N.CD_EMPRESA )
  WHERE  F.IN_APLICAVEL = '1'
    AND  P.IN_CANCELADO = '0'
    AND  P.IN_PRODUCAO = '1'
    AND  @cd_grupo IN ( N.CD_GRUPO, 'XXX' )
    AND  @cd_cliente IN ( P.CD_CLIENTE, 'XXXXX' )
    AND  @cd_responsavel IN ( E.CD_RESPONSAVEL, 'X' )
    AND  ( P.CD_UNID_NEG = @cd_unid_neg )
    AND  ( P.CD_PRODUTO = @cd_produto )
    AND  @cd_evento IN ( E.CD_EVENTO, 'XXX' )
    AND  @cd_analista_com IN( P.CD_ANALISTA_COMISSARIA, 'XXXX' )
    AND  F.DT_REALIZACAO IS NULL
/*
  DECLARE c_processo CURSOR FOR
    SELECT DISTINCT NR_PROCESSO
    FROM   TREL_EV_NAO_REAL
    WHERE  NR_IDENTIFICADOR = @nr_identificador

  OPEN c_processo
  FETCH c_processo INTO @nr_processo
  WHILE @@fetch_status <> -1 
  BEGIN

    SELECT @PrimVez = 0
  
    DELETE TREF_CLIENTE_MEMO
    WHERE NR_PROCESSO = @nr_processo

    INSERT TREF_CLIENTE_MEMO ( NR_PROCESSO, TX_REFERENCIA )
    VALUES ( @nr_processo, '' )

    DECLARE c_ref CURSOR FOR
      SELECT CD_REFERENCIA
      FROM   TREF_CLIENTE
      WHERE  ( NR_PROCESSO = @nr_processo ) AND ( CD_REFERENCIA IS NOT NULL )

    OPEN c_ref
    FETCH c_ref INTO @cd_referencia

    WHILE @@fetch_status <> -1
    BEGIN
      SELECT @tamanho = DATALENGTH( TX_REFERENCIA )
      FROM   TREF_CLIENTE_MEMO
      WHERE  NR_PROCESSO = @nr_processo

      SELECT @tamanho = ISNULL( @tamanho , 0 )

      SELECT @ptr_ref = ISNULL( TEXTPTR( TX_REFERENCIA ), 0 )
      FROM   TREF_CLIENTE_MEMO
      WHERE  NR_PROCESSO = @nr_processo 

      SELECT @cd_referencia = LTRIM( RTRIM( @cd_referencia ) ) 

      -- Atualizando Campo da Referência
      IF @PrimVez = 1 SELECT @cd_referencia = ', ' + @cd_referencia 

      UPDATETEXT TREF_CLIENTE_MEMO.TX_REFERENCIA @ptr_ref @tamanho 0 @cd_referencia 

      SELECT @PrimVez = 1

      FETCH c_ref INTO @cd_referencia
    END

    CLOSE c_ref
    DEALLOCATE c_ref

    FETCH c_processo INTO @nr_processo
  END

  CLOSE c_processo
  DEALLOCATE c_processo
*/
END

/*
IF @tipo = '2'
BEGIN
  EXEC sp_atz_ref_cliente @cd_cliente, @cd_responsavel, @cd_unid_neg, @cd_produto, @cd_evento,
                          @cd_area, @cd_analista_com, @dt_inicio, @dt_fim, @tipo
END
*/

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
