USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_exp_exclui]( @nr_processo char(18) ) AS
  DELETE FROM TPROCESSO_EXP                 WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TPROCESSO_EXP_ITEM       WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TPROCESSO_EXP_DESP      WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TPROCESSO_EXP_RE           WHERE ( NR_PROCESSO = @nr_processo )
-- alterado para não excluir NF pois a tela está também na manutenção (kleber 03/07/2007)
--  DELETE FROM TPROCESSO_EXP_NF           WHERE ( NR_PROCESSO = @nr_processo )
--  DELETE FROM TPROCESSO_EXP_NF_ITEM WHERE ( NR_PROCESSO = @nr_processo )


GO
