USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_CANCELAMENTO_DOCTOS](@NR_EMISSAO INT, @ANO_EMISSAO INT, @CD_USUARIO INT, @CD_ROTINA INT, @MOTIVO VARCHAR(255), @DT_CAIXA DATETIME, @MSG VARCHAR(255) OUTPUT) AS
BEGIN
    DECLARE @NR_NOTA      VARCHAR(255)
    DECLARE @CNPJ_CLIENTE VARCHAR(255)
    DECLARE @CNPJ_UNIDADE VARCHAR(255)
    DECLARE @DT_FATURA    VARCHAR(255)
    DECLARE @DT_DOCUMENTO DATETIME

    DECLARE @RETORNO      INT

    /*
      Parâmetros de resultados
      0 - Documento Cancelado!
      2 - Documento já foi impresso!
      3 - Motivo não informado!
    */

    SET @RETORNO = 0

    IF ISNULL(@MOTIVO, '') = ''
    BEGIN
        SET @MSG = '3;Inclua um motivo para o cancelamento!'
        RETURN 3
    END

    SELECT @DT_DOCUMENTO = DT_EMISSAO
    FROM TB_EMISSAO
    WHERE NR_EMISSAO  = @NR_EMISSAO
      AND ANO_EMISSAO = @ANO_EMISSAO

    IF NOT ((@CD_ROTINA = 603) AND (MONTH(@DT_DOCUMENTO) <> MONTH(GETDATE())))
    BEGIN
        --Verificações
        IF (@CD_ROTINA = 102) AND ((SELECT COUNT(*)
                                    FROM TB_EMISSAO
                                    WHERE NR_EMISSAO = @NR_EMISSAO
                                      AND ANO_EMISSAO = @ANO_EMISSAO
                                      AND ISNULL(NR_EMISSAO_AMARRADO, '') <> '') > 0)
        BEGIN
            SET @MSG = '2;Esse numerario esta amarrado a outro documento!'
            SET @RETORNO = 2
        END

        IF (@CD_ROTINA IN (601, 602))
        BEGIN
            IF (SELECT COUNT(*)
                FROM TB_EMISSAO_DETALHE ED
                   INNER JOIN TB_LANCTO_FUP F ON F.NR_LANCTO = ED.NR_LANCTO AND F.ANO_LANCTO = ED.ANO_LANCTO AND F.NR_LANCTO_FUP = ED.NR_LANCTO_FUP AND F.CD_ROTINA IN (601, 602)
                   INNER JOIN VW_LANCTO_SALDO s ON s.NR_LANCTO = ED.NR_LANCTO AND S.ANO_LANCTO = ED.ANO_LANCTO AND S.VL_SALDO > 0
                WHERE ED.NR_EMISSAO = @NR_EMISSAO
                  AND ED.ANO_EMISSAO = @ANO_EMISSAO) > 0
            BEGIN
                SET @MSG = '2;Documento não pode ser cancelado!'
                SET @RETORNO = 2
            END
        END
        ELSE IF @RETORNO = 0
        BEGIN
            IF ((SELECT COUNT(NR_EMISSAO)
                 FROM TB_EMISSAO
                 WHERE NR_EMISSAO = @NR_EMISSAO
                   AND ANO_EMISSAO = @ANO_EMISSAO
                   AND IN_EMITIDO <> 0) > 0) AND ((SELECT COUNT(ED.NR_EMISSAO)
                                                   FROM TB_CAIXA C
                                                      INNER JOIN TB_LANCTO_CAIXA LC    ON LC.NR_CAIXA = C.NR_CAIXA AND LC.ANO_CAIXA = C.ANO_CAIXA
                                                      INNER JOIN TB_LANCTO_FUP FUP     ON FUP.NR_LANCTO = LC.NR_LANCTO AND FUP.ANO_LANCTO = LC.ANO_LANCTO AND FUP.NR_LANCTO_FUP = LC.NR_LANCTO_FUP
                                                      INNER JOIN TB_EMISSAO_DETALHE ED ON ED.NR_LANCTO = LC.NR_LANCTO AND ED.ANO_LANCTO = LC.ANO_LANCTO AND ((ED.NR_EMISSAO = FUP.NR_EMISSAO AND ED.ANO_EMISSAO = FUP.ANO_EMISSAO) or (ed.NR_LANCTO_FUP = fup.nr_lancto_fup))
                                                      INNER JOIN TB_EMISSAO EM         ON EM.NR_EMISSAO = ED.NR_EMISSAO AND EM.ANO_EMISSAO = ED.ANO_EMISSAO
                                                   WHERE EM.NR_EMISSAO = @NR_EMISSAO
                                                     AND EM.ANO_EMISSAO = @ANO_EMISSAO) > 0)
                EXEC @RETORNO = SP_CANCELAR_DOCTO_PAGO @NR_EMISSAO, @ANO_EMISSAO, @CD_USUARIO, @DT_CAIXA, @MSG OUTPUT

            IF @CD_ROTINA = 603
                EXEC @RETORNO = SP_VERIFICA_RETENCAO @NR_EMISSAO, @ANO_EMISSAO, @MSG OUTPUT
        END

        IF @RETORNO <> 0
            RETURN @RETORNO

        --Fim Verificações
        SET @CD_ROTINA = 0

        UPDATE TB_EMISSAO
        SET IN_CANCELADO = 1
        WHERE NR_EMISSAO  = @NR_EMISSAO
          AND ANO_EMISSAO = @ANO_EMISSAO

        IF @CD_ROTINA = 603 --APAGA RETENÇÕES
        BEGIN
            DELETE TB_RETENCAO_IR WHERE NR_EMISSAO = @NR_EMISSAO AND ANO_EMISSAO = @ANO_EMISSAO
            DELETE TB_RETENCAO_COFINS WHERE NR_EMISSAO = @NR_EMISSAO AND ANO_EMISSAO = @ANO_EMISSAO
        END

        SET @CD_ROTINA = CASE @CD_ROTINA
                             WHEN 601 THEN 608
                             WHEN 602 THEN 608
                             WHEN 603 THEN 609
                             WHEN 604 THEN 610
                             WHEN 403 THEN 405
                             WHEN 404 THEN 405
                             WHEN 109 THEN 110
                             WHEN 310 THEN 311
                         ELSE 0
                         END

        DECLARE @EMISSAO_DETALHE AS TABLE (ANO_LANCTO INT, NR_LANCTO INT)
        DECLARE @ANO_LANCTO INT
        DECLARE @NR_LANCTO  INT

        INSERT INTO @EMISSAO_DETALHE
        SELECT ANO_LANCTO, NR_LANCTO
        FROM TB_EMISSAO_DETALHE
        WHERE NR_EMISSAO = @NR_EMISSAO
          AND ANO_EMISSAO = @ANO_EMISSAO

        WHILE (SELECT COUNT(*) FROM @EMISSAO_DETALHE) > 0
        BEGIN
            SELECT TOP 1 @ANO_LANCTO = ANO_LANCTO,
                         @NR_LANCTO  = NR_LANCTO
            FROM @EMISSAO_DETALHE

            EXEC sp_insere_TB_LANCTO_FUP @NR_LANCTO, @ANO_LANCTO, @CD_USUARIO, @CD_ROTINA, 0, 0, @MOTIVO, 0

            DELETE @EMISSAO_DETALHE
            WHERE ANO_LANCTO = @ANO_LANCTO
              AND NR_LANCTO  = @NR_LANCTO
        END

        IF (SELECT COUNT(*)
            FROM TB_EMISSAO
            WHERE NR_EMISSAO_AMARRADO = @NR_EMISSAO
              AND ANO_EMISSAO_AMARRADO = @ANO_EMISSAO) > 0
        BEGIN
            UPDATE TB_EMISSAO
            SET NR_EMISSAO_AMARRADO = NULL,
                ANO_EMISSAO_AMARRADO = NULL
            WHERE NR_EMISSAO_AMARRADO = @NR_EMISSAO
              AND ANO_EMISSAO_AMARRADO = @ANO_EMISSAO
        END

        SET @MSG = '0;Documento Cancelado!'
        SET @RETORNO = 0
    END
    ELSE
    BEGIN
        SET @MSG = '2;Documento não pode ser Cancelado!'
        SET @RETORNO = 2
    END
    RETURN @RETORNO
END

GO
