USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_calc_cofins] ( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS

SELECT @Resultado = 0 
SELECT @Resultado = ISNULL( VL_TRIBUTO_PAGO, 0 )
FROM   TPAGAMENTO_TRIBUTOS (NOLOCK)
WHERE  NR_PROCESSO = @nr_processo AND
       CD_RECEITA_PGTO = '5629'

IF ISNULL(@Resultado, 0) = 0
    SELECT @Resultado = SUM(ISNULL(VL_COFINS_REAIS, 0))
    FROM TPRE_CALCULO_ADICAO (NOLOCK)
    WHERE (NR_PROCESSO = @nr_processo)

IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  DECLARE @CONTADOR INT
  SELECT @CONTADOR = COUNT(*)
  FROM   TNUMERARIO_ITEM_SOLIC (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = ( SELECT CD_ITEM_COFINS_IMP FROM TPARAMETROS (NOLOCK) ) AND
         TP_DESTINO = '1'
  IF @CONTADOR = 0
  BEGIN
    -- COFINS não calculado/não informado
    RETURN(1)
  END
  ELSE
  BEGIN
    SELECT @resultado = ISNULL( ROUND( VL_RECEBIDO, 2 ), 0 )
    FROM   TNUMERARIO_ITEM_SOLIC (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_ITEM = ( SELECT CD_ITEM_COFINS_IMP FROM TPARAMETROS (NOLOCK))
    RETURN(0)
  END
END
ELSE
BEGIN
  RETURN(0)
END
GO
