USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [sp_solic_pagto_vinc_ag](@nr_processo char(18), @nr_solic char(3), @dt_pagto datetime) AS

DECLARE @nr_processo_vinc char(18)
DECLARE @nr_lanc char(6)
DECLARE @cd_unid_neg char(2)
DECLARE @cd_favorecido char(5)
DECLARE @cd_item char(3)
DECLARE @cd_tp_calc char(2)
DECLARE @cd_banco CHAR(3)
DECLARE @vl_recebido float
DECLARE @tp_destino CHAR(1)
DECLARE @cd_moeda_compra char(3)
DECLARE @cd_moeda_venda char(3)
DECLARE @vl_compra float
DECLARE @vl_venda float
DECLARE @cd_usuario char(4)

SELECT @nr_processo = NR_PROCESSO, @cd_unid_neg = CD_UNID_NEG,
       @nr_processo_vinc = ISNULL(NR_PROCESSO_VINC,'')
   FROM TPROCESSO (NOLOCK) WHERE NR_PROCESSO = @nr_processo

if @nr_processo_vinc = '' return(0)

SELECT @cd_banco = CD_BANCO FROM TBANCO (NOLOCK) WHERE IN_EXTRA_CAIXA = '1'

SELECT @cd_favorecido = CD_FAVORECIDO FROM TFAVORECIDO F (NOLOCK), TUNID_NEG U (NOLOCK)
   WHERE U.CGC_UNID_NEG = F.CGC_EMPRESA AND U.CD_UNID_NEG = @cd_unid_neg

SELECT CD_ITEM, CD_TIPO_CALCULO, CD_BANCO, VL_RECEBIDO, TP_DESTINO,  
       CD_MOEDA_COMPRA, CD_MOEDA_VENDA, VL_COMPRA, VL_VENDA 
INTO   #TM_SOLIC_PAGTO
FROM   TNUMERARIO_NOTIFICA_ITEM (NOLOCK)
WHERE  1 = 0

INSERT #TM_SOLIC_PAGTO(CD_ITEM, CD_TIPO_CALCULO, CD_BANCO, VL_RECEBIDO, TP_DESTINO,  
       CD_MOEDA_COMPRA, CD_MOEDA_VENDA, VL_COMPRA, VL_VENDA)
SELECT N.CD_ITEM, N.CD_TIPO_CALCULO, N.CD_BANCO, N.VL_RECEBIDO, N.TP_DESTINO,  
       N.CD_MOEDA_COMPRA, N.CD_MOEDA_VENDA, N.VL_COMPRA, N.VL_VENDA 
   FROM  TNUMERARIO_NOTIFICA_ITEM N (NOLOCK)
   WHERE  N.NR_PROCESSO =@nr_processo
   AND N.CD_STATUS = 'B' AND 
       N.CD_ITEM NOT IN (SELECT S.CD_ITEM FROM TSOLIC_PAGTO S
                          WHERE S.NR_PROCESSO=@nr_processo_vinc)
        

--IF (SELECT COUNT)

SELECT @nr_lanc = RIGHT( ( '000' + RTRIM( CONVERT( char(3), ISNULL(MAX(NR_LANCAMENTO),'000') + 1 ) ) ), 3 )
   FROM TSOLIC_PAGTO (NOLOCK)
   WHERE NR_PROCESSO= @nr_processo_vinc 
              
WHILE (SELECT COUNT(*) FROM #TM_SOLIC_PAGTO) > 0  
 BEGIN
  SELECT TOP 1  @cd_item =  CD_ITEM, @cd_tp_calc = CD_TIPO_CALCULO, 
         @vl_recebido = VL_RECEBIDO, @tp_destino = TP_DESTINO,  
         @cd_moeda_compra = CD_MOEDA_COMPRA, @cd_moeda_venda = CD_MOEDA_VENDA, 
         @vl_compra = VL_COMPRA, @vl_venda = VL_VENDA
   FROM #TM_SOLIC_PAGTO (NOLOCK)
 
INSERT INTO TSOLIC_PAGTO(NR_PROCESSO, CD_ITEM, NR_LANCAMENTO, VL_PAGTO, DT_PAGTO, CD_STATUS, 
                         IN_SOLICITADO, IN_RESTITUI, DT_SOLIC_PAGTO, CD_CALCULO, CD_FAVORECIDO, 
                         CD_BANCO, NR_DOCTO, NR_REF, CD_USUARIO_SOLIC, CD_USUARIO_MONTA,TP_DESTINO,
                         IN_TRANSF_FIN, CD_MOEDA, VL_COMPRA, CD_MOEDA_VENDA, VL_VENDA,  
                         DT_MONTAGEM, TP_SOLICITACAO, IN_SELECIONADO)
  VALUES(@nr_processo_vinc, @cd_item, @nr_lanc, @vl_recebido, @dt_pagto, '2',
         '1', '0', @dt_pagto, @cd_tp_calc, @cd_favorecido, 
         @cd_banco, '', 'C', @cd_usuario, @cd_usuario,'3',
         '0', @cd_moeda_compra, @vl_compra, @cd_moeda_venda, @vl_venda,
         @dt_pagto, '0','1' )  

  SET @nr_lanc = RIGHT( ( '000' + RTRIM( CONVERT( char(3), @nr_lanc + 1 ) ) ), 3 )
  
  DELETE FROM #TM_SOLIC_PAGTO WHERE CD_ITEM = @cd_item
 END
 
DROP TABLE #TM_SOLIC_PAGTO






GO
