USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_limpa_tnavegacao    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_limpa_tnavegacao] AS
if (select count(*) 
      from master..sysprocesses 
      where program_name = 'GSM' and 
            suid <> 1) = 0
  truncate table tnavegacao


GO
