USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROC [sp_rel_po_flp] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), @cd_servico char(3),
                          @cd_evento char(3), @cd_area char(2), @cd_resp char(1), @cd_status char(1),
                          @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_servico char(3)
DECLARE @cd_evento char(3)
DECLARE @cd_area char(2)
DECLARE @cd_resp char(1)
DECLARE @cd_status char(1)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo    = 'X'
SELECT @cd_cliente  = 'X'
SELECT @cd_servico  = 'X'
SELECT @cd_evento   = 'X'
SELECT @cd_area     = 'X'
SELECT @cd_resp     = 'X'
SELECT @cd_status   = 'X'
SELECT @dt_inicio   = CONVERT( datetime, '01/01/2002', 103 )
SELECT @dt_fim      = CONVERT( datetime, '31/12/2002', 103 )
*/

DECLARE @nr_processo      char(18)
DECLARE @cd_evento_cursor char(3)
DECLARE @ptr_proc         binary(16)
DECLARE @ptr_followup     binary(16)
DECLARE @tamanho          int

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_PO_FLP

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

INSERT TREL_PO_FLP_EV ( NR_IDENTIFICADOR, NR_PROCESSO, CD_EVENTO, DT_REALIZACAO, 
                        DT_LIMITE, CD_RESPONSAVEL, CD_STATUS, NR_LEAD_TIME, NR_ORDEM, TX_OBS )
  SELECT @nr_identificador, P.NR_PROCESSO, F.CD_EVENTO, F.DT_REALIZACAO, 
         F.DT_LIMITE, EV.CD_RESPONSAVEL, F.CD_STATUS,
         CASE F.DT_LIMITE
           WHEN NULL THEN 0
           ELSE DATEDIFF( d, F.DT_LIMITE, F.DT_REALIZACAO )
         END AS NR_LEAD_TIME, F.NR_ORDEM, F.TX_OBS
  FROM   TPO P, TFLP_PO F, TEMPRESA_NAC E, VW_SERVICO_GERAL S, TAREA A, TEVENTO EV
  WHERE  P.NR_PROCESSO   = F.NR_PROCESSO AND
         P.CD_IMPORTADOR = E.CD_EMPRESA  AND
         P.CD_SERVICO    = S.CD_SERVICO  AND
         P.CD_AREA       *= A.CD_AREA    AND
         F.CD_EVENTO     = EV.CD_EVENTO  AND
         ( ( F.CD_STATUS = @cd_status ) OR ( @cd_status = 'X' ) ) AND
         ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_SERVICO = @cd_servico ) OR ( @cd_servico = 'X' ) ) AND
         ( ( F.CD_EVENTO = @cd_evento ) OR ( @cd_evento = 'X' ) ) AND
         ( ( P.CD_AREA = @cd_area ) OR ( @cd_area = 'X' ) ) AND
         ( ( EV.CD_RESPONSAVEL = @cd_resp ) OR ( @cd_resp = 'X' ) ) AND
         ( ( ( F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim ) AND 
             ( EXISTS( SELECT DT_REALIZACAO
                       FROM   TFLP_PO CONCLUSOR
                       WHERE  CONCLUSOR.NR_PROCESSO = P.NR_PROCESSO AND
                              CONCLUSOR.CD_EVENTO IN ( SELECT CD_EVENTO_CONCLUSOR FROM VW_SERVICO_GERAL SE WHERE P.CD_SERVICO = SE.CD_SERVICO ) AND
                              CONCLUSOR.IN_APLICAVEL = '1' AND
                              ( CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ) <= ( CONCLUSOR.DT_REALIZACAO + 2 ) ) ) ) AND
             ( @cd_status IN ( '2', '5' ) ) ) OR
           ( ( F.DT_REALIZACAO IS NULL ) AND ( @cd_status IN ( '0', '1', '3', '5' ) ) ) OR
           ( ( F.IN_APLICAVEL = '0' ) AND ( @cd_status = '4' ) ) OR
           ( @cd_status = 'X' ) )

INSERT TREL_PO_FLP_ITEM( NR_IDENTIFICADOR, NR_PROCESSO, NR_ITEM, CD_MERCADORIA, QT_INICIAL )
  SELECT @nr_identificador, I.NR_PROCESSO, I.NR_ITEM, I.CD_MERCADORIA, I.QT_INICIAL
  FROM   TPO_ITEM I
  WHERE  I.NR_PROCESSO IN ( SELECT NR_PROCESSO
                            FROM   TREL_PO_FLP_EV
                            WHERE  NR_IDENTIFICADOR = @nr_identificador )

INSERT TREL_PO_FLP( NR_IDENTIFICADOR, NR_PROCESSO, CD_IMPORTADOR, CD_SERVICO, CD_AREA, NR_ORDEM )
  SELECT @nr_identificador, P.NR_PROCESSO, P.CD_IMPORTADOR, P.CD_SERVICO, P.CD_AREA, P.NR_ORDEM
  FROM   TPO P
  WHERE  P.NR_PROCESSO IN ( SELECT NR_PROCESSO
                            FROM   TREL_PO_FLP_EV
                            WHERE  NR_IDENTIFICADOR = @nr_identificador )

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
