USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_soma_solinum_ag]( @nr_processo char(18), @nr_solinum char(3) ) AS

DECLARE @vl_solicitado numeric (14,2)
DECLARE @vl_recebido   numeric (14,2)

SELECT @vl_solicitado  = SUM( CONVERT( numeric(14,2), VL_SOLICITADO ) ),
       @vl_recebido    = SUM( CONVERT( numeric(14,2), VL_RECEBIDO ) )
FROM   TNUMERARIO_NOTIFICA_ITEM
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( NR_SOLICITACAO = @nr_solinum ) AND
       ( TP_DESTINO IN ( '2', '3', '4', '5' ) )

UPDATE TNUMERARIO_NOTIFICA
SET    VL_SOLICITADO = ISNULL( @vl_solicitado, 0 ),
       VL_RECEBIDO   = ISNULL( @vl_recebido, 0 )
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( NR_SOLICITACAO = @nr_solinum )

--EXEC sp_atualiza_saldos @nr_processo


GO
