USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedURE [sp_cons_db_susp]( @nr_processo char(18), @tp_movimento char(2)) AS

/*
DECLARE @nr_processo   char(25)
DECLARE @tp_movimento  char(2)

SELECT @nr_processo    = '0101I0-0761-05-003'
SELECT @tp_movimento   = 'LI'
*/

--LI
DECLARE @CODIGO char(25)
DECLARE @NR_FORECAST char(14)
DECLARE @NR_PROCESSO_ITEM char(23)
DECLARE @NR_ATO_DRAWBACK CHAR(15)
DECLARE @NR_ATO_DRAWBACK_LI CHAR(15)
DECLARE @NR_ATO_DB_ITENS char(15)
DECLARE @CD_MERCADORIA varchar(30)  
DECLARE @CD_MERCADORIA_EXP varchar(30)  
DECLARE @CD_REGIME_TRIBUTACAO char(5)
DECLARE @CD_FUND_LEGAL char(5)
DECLARE @CD_REGIME_TRIBUTACAO_ITENS char(5)
DECLARE @CD_FUND_LEGAL_ITENS char(5)
DECLARE @PL_MERCADORIA float 
DECLARE @VL_UNITARIO FLOAT
DECLARE @CD_NCM_SH char(11) 
DECLARE @CD_NCM_DB char(11) 
DECLARE @TP_MODAL_DB char(1)
DECLARE @CD_UN_MED_COMERC_DB char(3)
DECLARE @CD_UN_MED_COMERC char(3)
DECLARE @QT_IMP float(8)
DECLARE @QT_REALIZ float(8)
DECLARE @QT_TRANSM float(8)
DECLARE @QT_SALDO float(8)
DECLARE @QT_MERC_UN_COMERC float(8)
DECLARE @VL_UNIT_MLE float
DECLARE @CD_IMPORTADOR char(5)

--DI
DECLARE @NR_ADICAO char(3)
DECLARE @NR_OPER_TRAT_PREV char(10)
DECLARE @CD_TRIBUTACAO_ICMS char(1)
DECLARE @CD_TIPO_BENEF_PIS_COFINS char(1)
DECLARE @CD_TIPO_BENEF_IPI char(1)
DECLARE @NR_ITEM CHAR(3)
DECLARE @msg char(255)
DECLARE @status char(1)


  IF @tp_movimento = 'LI' 
  BEGIN 

    select NR_PROCESSO, CD_IMPORTADOR, NR_ATO_DRAWBACK, CD_REGIME_TRIBUTACAO, CD_FUND_LEGAL
    into #LICENC_IMPORT
    from TLICENCA_IMPORTACAO
    where
      NR_PROCESSO = @nr_processo
 

    SELECT
      NR_PROCESSO + NR_ITEM as CODIGO, 
      NR_PROCESSO, 
      NR_ITEM, 
      CD_MERCADORIA, 
      PL_MERCADORIA, 
      CD_NCM_SH,	
      VL_UNIT_MLE, 
      CD_UN_MED_COMERC,
      NR_ATO_DRAWBACK,
      CD_REGIME_TRIBUTACAO, 
      CD_FUND_LEGAL, 
      QT_MERC_UN_COMERC	
    INTO #LICENC_IMPORT_ITENS  
    FROM TLICENCA_ITENS
    WHERE
      NR_PROCESSO = @nr_processo
--      substring(nr_processo,1,14) = @NR_PROCESSO

    WHILE (select count(*) from #LICENC_IMPORT) > 0 
    BEGIN
      SELECT 
        @NR_PROCESSO_ITEM = NR_PROCESSO,
	@CD_IMPORTADOR = CD_IMPORTADOR, 
    	@NR_ATO_DRAWBACK  = NR_ATO_DRAWBACK,
    	@CD_REGIME_TRIBUTACAO = CD_REGIME_TRIBUTACAO,
    	@CD_FUND_LEGAL = CD_FUND_LEGAL
      FROM #LICENC_IMPORT

      IF @NR_ATO_DRAWBACK <> ''
      BEGIN   --procedure que faz verificação do NR_ATO e gera os erros caso ocorram
	EXEC sp_cons_db_susp_AC @NR_ATO_DRAWBACK, @CD_REGIME_TRIBUTACAO, @CD_FUND_LEGAL, @NR_PROCESSO_ITEM
      END  --nr forecast = ''
      ELSE
      BEGIN
        IF (@CD_REGIME_TRIBUTACAO = 5) or (@CD_REGIME_TRIBUTACAO = 3)  --suspensão
        BEGIN
	  EXEC sp_ret_msg_diagnos 13, @msg OUTPUT, @status OUTPUT
          INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
          VALUES (@NR_PROCESSO_ITEM,@status,@msg)
        END

        IF @CD_FUND_LEGAL = 16	   --drawback DL 37/66 etc...
        BEGIN
	  EXEC sp_ret_msg_diagnos 14, @msg OUTPUT, @status OUTPUT
          INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
          VALUES (@NR_PROCESSO_ITEM,@status, @msg)
        END
      END

      WHILE (select count(*) from #LICENC_IMPORT_ITENS where NR_PROCESSO = @NR_PROCESSO_ITEM ) > 0 
      BEGIN
        select 
          @CODIGO = CODIGO, 
	  @NR_ATO_DB_ITENS = NR_ATO_DRAWBACK,
	  @CD_REGIME_TRIBUTACAO_ITENS = CD_REGIME_TRIBUTACAO, 
	  @CD_FUND_LEGAL_ITENS = CD_FUND_LEGAL, 
          @CD_MERCADORIA = CD_MERCADORIA, 
      	  @PL_MERCADORIA = PL_MERCADORIA, 
      	  @CD_NCM_SH   = rtrim(CD_NCM_SH),
      	  @VL_UNIT_MLE = VL_UNIT_MLE, 
	  @CD_UN_MED_COMERC = CD_UN_MED_COMERC, 
	  @QT_MERC_UN_COMERC = QT_MERC_UN_COMERC, 
	  @NR_ITEM = NR_ITEM
        from #LICENC_IMPORT_ITENS
        where substring(NR_PROCESSO,1,18) = @NR_PROCESSO_ITEM 

--VERIFICANDO SE A MERCADORIA POSSUI DRAWBACK COM NUMERO DO AC
        IF @NR_ATO_DB_ITENS <> ''
        BEGIN 
	  EXEC sp_cons_db_susp_AC @NR_ATO_DB_ITENS, @CD_REGIME_TRIBUTACAO_ITENS, @CD_FUND_LEGAL_ITENS, @NR_PROCESSO_ITEM
	END
	ELSE
	BEGIN
          IF (@CD_REGIME_TRIBUTACAO_ITENS = 5) or (@CD_REGIME_TRIBUTACAO_ITENS = 3)  --suspensão
          BEGIN
	    EXEC sp_ret_msg_diagnos 13, @msg OUTPUT, @status OUTPUT
            INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
            VALUES (@NR_PROCESSO_ITEM,@status,@msg)
          END

          IF @CD_FUND_LEGAL_ITENS = 16	   --drawback DL 37/66 etc...
          BEGIN
	    EXEC sp_ret_msg_diagnos 14, @msg OUTPUT, @status OUTPUT
            INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
            VALUES (@NR_PROCESSO_ITEM,@status, @msg)
          END
	END

 	SELECT @NR_FORECAST = B.NR_FORECAST, 
	       @VL_UNITARIO = A.VL_UNITARIO, 
	       @CD_NCM_DB = rtrim(CD_NCM), 
	       @CD_UN_MED_COMERC_DB = CD_UN_MED_COMERC, 
	       @QT_IMP = QT_IMP, 
	       @CD_MERCADORIA_EXP = CD_MERCADORIA        FROM   TFORECAST_IMP A, TATO_CONC_SUSP B
        WHERE  
	  B.NR_FORECAST = A.NR_FORECAST AND B.NR_ATO_CONC IS NOT NULL AND
	  A.CD_MAT_PRI = @CD_MERCADORIA and B.NR_ATO_CONC = @NR_ATO_DB_ITENS

        IF @NR_FORECAST <> ''
    	BEGIN
	  IF @VL_UNITARIO > 0 
	  BEGIN
     	    IF convert(char,convert(decimal(18,2),@VL_UNIT_MLE)) <> convert(char,convert(decimal(18,2),@VL_UNITARIO))
	    BEGIN
 	      EXEC sp_ret_msg_diagnos 4, @msg OUTPUT, @status OUTPUT 
              INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	      VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
--select top 10 convert(char,convert(decimal(18,2),vl_unitario)) from tdetalhe_mercadoria
	    END
	  END	

  	  IF @CD_NCM_SH <> @CD_NCM_DB
	  BEGIN
	    EXEC sp_ret_msg_diagnos 5, @msg OUTPUT, @status OUTPUT
            INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	    VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
	  END

	  IF @CD_UN_MED_COMERC_DB <> @CD_UN_MED_COMERC
	  BEGIN
	    EXEC sp_ret_msg_diagnos 16, @msg OUTPUT, @status OUTPUT
            INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	    VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
	  END
	  
	  BEGIN
	    --DEBITANDO DO DRAWBACK
    
	    --pega as quantidades q já foram transmitidas daquele item
	    SELECT @QT_TRANSM = ISNULL( SUM( QTD_TRANSM_LI ), 0 ) 
	    FROM TSALDO_DRAWBACK
	    WHERE 
	      NR_ATO_DRAWBACK = @NR_ATO_DB_ITENS AND
	      CD_MAT_PRI  = @CD_MERCADORIA 

	    --pega as quantidades do ato concessório ( realizado )
	    SELECT @QT_REALIZ = ISNULL( SUM( QT_IMP ), 0 ) 
	    FROM TDIAGNOSTICO_SALDO
	    WHERE 
	      NR_ATO_DRAWBACK = @NR_ATO_DB_ITENS AND
	      CD_MAT_PRI  = @CD_MERCADORIA 
	           
	    SELECT @QT_REALIZ = @QT_REALIZ + @QT_TRANSM

	    --previsto menos o realizado
	    SELECT @QT_SALDO = @QT_IMP - @QT_REALIZ
	
	    IF @QT_SALDO > 0  
	    BEGIN	
		IF @QT_MERC_UN_COMERC <= @QT_SALDO	
	  	BEGIN  --verificação do saldo em valor
		  IF (@VL_UNIT_MLE * @QT_MERC_UN_COMERC) <= (@QT_SALDO * @VL_UNITARIO) 
		  BEGIN
  		    INSERT TDIAGNOSTICO_SALDO (NR_ATO_DRAWBACK, NR_FORECAST, CD_MAT_PRI, QT_IMP)
	 	    VALUES ( @NR_ATO_DB_ITENS, @NR_FORECAST, @CD_MERCADORIA, @QT_MERC_UN_COMERC)	
		  END
		  ELSE
		  BEGIN
	      	    EXEC sp_ret_msg_diagnos 17, @msg OUTPUT, @status OUTPUT
                    INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
     	      	    VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
		  END
		END
		ELSE  --se for maior do q tem no db então avisar
		BEGIN
	      	  EXEC sp_ret_msg_diagnos 17, @msg OUTPUT, @status OUTPUT
                  INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
   	      	  VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
		END
	    END
	    ELSE
	    BEGIN  --sem saldo suficiente no DB
	      EXEC sp_ret_msg_diagnos 17, @msg OUTPUT, @status OUTPUT
              INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
   	      VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
	    END
	  END
        END
        DELETE from #LICENC_IMPORT_ITENS where CODIGO = @CODIGO	
      END  --2º while
    DELETE from #LICENC_IMPORT where NR_PROCESSO = @NR_PROCESSO_ITEM
    END --1º while 
   
drop table #LICENC_IMPORT
drop table #LICENC_IMPORT_ITENS

END
ELSE
BEGIN

--processos com adicoes
  SELECT 
    NR_PROCESSO, 
    NR_ADICAO, 
    NR_ATO_DRAWBACK, 
    NR_OPER_TRAT_PREV,
    CD_REGIME_TRIBUTAR,  
    CD_FUND_LEG_REGIME,
    CD_TRIBUTACAO_ICMS,
    CD_TIPO_BENEF_PIS_COFINS, 
    (SELECT CD_TIPO_BENEF_IPI FROM TRIBUTO
     WHERE
        NR_PROCESSO = A.NR_PROCESSO and 
	NR_ADICAO = A.NR_ADICAO and 
	CD_RECEITA_IMPOSTO = '0002') as CD_TIPO_BENEF_IPI
  INTO #ADICAO_IMPORT
  FROM TADICAO_DE_IMPORTACAO A
  WHERE NR_PROCESSO = @nr_processo

--itens do processo/adicao

  SELECT NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_MERCADORIA, PL_MERCADORIA, 
	 CD_NCM_SH, VL_UNITARIO, CD_UN_MED_COMERC, QT_MERC_UN_COMERC
  INTO #DETALHE_MERC
  FROM TDETALHE_MERCADORIA
  WHERE NR_PROCESSO = @nr_processo


    WHILE (select count(*) from #ADICAO_IMPORT) > 0 
    BEGIN
      SELECT 
        @NR_PROCESSO_ITEM   = NR_PROCESSO, 
  	@NR_ADICAO          = NR_ADICAO,
	@NR_ATO_DRAWBACK    = NR_ATO_DRAWBACK, 
	@NR_OPER_TRAT_PREV  = ISNULL(NR_OPER_TRAT_PREV,''),
	@CD_REGIME_TRIBUTACAO = ISNULL(CD_REGIME_TRIBUTAR,0),  
	@CD_FUND_LEGAL = ISNULL(CD_FUND_LEG_REGIME,0),
	@CD_TRIBUTACAO_ICMS = ISNULL(CD_TRIBUTACAO_ICMS,0),
	@CD_TIPO_BENEF_PIS_COFINS = ISNULL(CD_TIPO_BENEF_PIS_COFINS,0), 
	@CD_TIPO_BENEF_IPI = ISNULL(CD_TIPO_BENEF_IPI,0)
      FROM #ADICAO_IMPORT

      IF @NR_OPER_TRAT_PREV <> '' 
      BEGIN
        SELECT 
  	  @NR_ATO_DRAWBACK_LI = NR_ATO_DRAWBACK 
        FROM TLICENCA_IMPORTACAO
        WHERE
          NR_REGISTRO_LI = @NR_OPER_TRAT_PREV and
	  ISNULL(NR_ATO_DRAWBACK,'') <> ''

        IF (@NR_ATO_DRAWBACK_LI <> '') AND (ISNULL(@NR_ATO_DRAWBACK,'') = '')  --se na LI o AC estiver preenchido e não DI não então registrar ERRO
        BEGIN
	  EXEC sp_ret_msg_diagnos 6, @msg OUTPUT, @status OUTPUT
          INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	  VALUES (@NR_PROCESSO_ITEM,@status, @msg+  ' ' + @NR_ATO_DRAWBACK_LI)
        END	
      END	

      IF @NR_ATO_DRAWBACK <> ''  	  
	BEGIN
  	  SELECT @TP_MODAL_DB = TP_MODAL_DB
	  FROM   
 	    TFORECAST A, TATO_CONC_SUSP B
	  WHERE  
 	    B.NR_FORECAST = A.NR_FORECAST AND B.NR_ATO_CONC IS NOT NULL AND 
	    B.NR_ATO_CONC = @NR_ATO_DRAWBACK

	  IF @TP_MODAL_DB <> '' --1-Isenção   2- Suspensão  3-restituição
	  BEGIN
	    IF (@TP_MODAL_DB = 1) AND (@CD_REGIME_TRIBUTACAO <> 3)--tipos de drawback diferentes
	    BEGIN
	      EXEC sp_ret_msg_diagnos 12, @msg OUTPUT, @status OUTPUT 
              INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	      VALUES (@NR_PROCESSO_ITEM,@status, @msg)		
	    END
	    IF (@TP_MODAL_DB = 2) AND (@CD_REGIME_TRIBUTACAO <> 5)--tipos de drawback diferentes
	    BEGIN
	      EXEC sp_ret_msg_diagnos 12, @msg OUTPUT, @status OUTPUT 
              INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	      VALUES (@NR_PROCESSO_ITEM,@status, @msg)		
	    END
	  END
	  ELSE --senão é pq o número do ac não está no drawback myindaia
	  BEGIN
	    IF (@CD_REGIME_TRIBUTACAO = 5) or (@CD_REGIME_TRIBUTACAO = 3)  --suspensão/isenção
	    BEGIN
	      EXEC sp_ret_msg_diagnos 15, @msg OUTPUT, @status OUTPUT
	      INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	      VALUES (@NR_PROCESSO_ITEM,@status,RTRIM(@msg) + ' Nº AC: ' + @NR_ATO_DRAWBACK)
	    END
	    ELSE IF (@CD_REGIME_TRIBUTACAO <> 5) and (@CD_REGIME_TRIBUTACAO <> 3)  --suspensão
	    BEGIN
	      EXEC sp_ret_msg_diagnos 1, @msg OUTPUT, @status OUTPUT
	      INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	      VALUES (@NR_PROCESSO_ITEM,@status,@msg)
	    END
	  END

 	  IF @CD_FUND_LEGAL <> 16 
	  BEGIN
	    EXEC sp_ret_msg_diagnos 8, @msg OUTPUT, @status OUTPUT
            INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	    VALUES (@NR_PROCESSO_ITEM,@status, @msg)
	  END
 	  IF (@CD_TRIBUTACAO_ICMS <> 5) AND (@CD_TRIBUTACAO_ICMS <> 3) 
          BEGIN
	    EXEC sp_ret_msg_diagnos 9, @msg OUTPUT, @status OUTPUT
            INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	    VALUES (@NR_PROCESSO_ITEM,@status, @msg)
	  END
 	  IF (@CD_TIPO_BENEF_PIS_COFINS <> 4) AND (@CD_TIPO_BENEF_PIS_COFINS <> 2) --suspensão/isenção
	  BEGIN
	    EXEC sp_ret_msg_diagnos 10, @msg OUTPUT, @status OUTPUT
            INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	    VALUES (@NR_PROCESSO_ITEM,@status, @msg)
	  END
 	  IF (@CD_TIPO_BENEF_IPI <> 5) AND (@CD_TIPO_BENEF_IPI <> 1)
	  BEGIN
	    EXEC sp_ret_msg_diagnos 11, @msg OUTPUT, @status OUTPUT
            INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	    VALUES (@NR_PROCESSO_ITEM,@status, @msg)
	  END
	END 

    	WHILE (select count(*) from #DETALHE_MERC where NR_PROCESSO = @NR_PROCESSO_ITEM AND NR_ADICAO = @NR_ADICAO ) > 0 
    	BEGIN
  	  SELECT 
	    @NR_ITEM = NR_ITEM, 
	    @CD_MERCADORIA = CD_MERCADORIA, 
	    @PL_MERCADORIA = PL_MERCADORIA, 
	    @CD_NCM_SH = CD_NCM_SH, 
	    @VL_UNITARIO = VL_UNITARIO, 
	    @QT_MERC_UN_COMERC = QT_MERC_UN_COMERC
  	  FROM #DETALHE_MERC
   	  WHERE 
 	    NR_PROCESSO = @nr_processo AND NR_ADICAO = @NR_ADICAO

          IF @CD_MERCADORIA <> '' --se estiver preenchido o campo de mercadoria então verificar...
	  BEGIN
	    SELECT @NR_FORECAST = B.NR_FORECAST, 
		   @VL_UNITARIO = A.VL_UNITARIO, 
		   @CD_NCM_DB = CD_NCM, 
		   @CD_UN_MED_COMERC_DB = A.CD_UN_MED_COMERC,
		   @QT_IMP = QT_IMP, 
	       	   @CD_MERCADORIA_EXP = CD_MERCADORIA
            FROM   TFORECAST_IMP A, TATO_CONC_SUSP B
            WHERE  
	      B.NR_FORECAST = A.NR_FORECAST AND B.NR_ATO_CONC IS NOT NULL AND
      	      A.CD_MAT_PRI = @CD_MERCADORIA and 
	      B.NR_ATO_CONC = @NR_ATO_DRAWBACK
	
	    IF @NR_FORECAST <> ''
    	    BEGIN
	      IF @VL_UNITARIO > 0 
	      BEGIN
  	    	IF @VL_UNIT_MLE <> @VL_UNITARIO
   	 	BEGIN
 		  EXEC sp_ret_msg_diagnos 4, @msg OUTPUT, @status OUTPUT
              	  INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
		  VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
	 	END
	      END
  	      IF @CD_NCM_SH <> @CD_NCM_DB
	      BEGIN
	        EXEC sp_ret_msg_diagnos 5, @msg OUTPUT, @status OUTPUT
                INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
		VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
	      END
  	      IF @CD_UN_MED_COMERC_DB <> @CD_UN_MED_COMERC
	      BEGIN
	    	EXEC sp_ret_msg_diagnos 16, @msg OUTPUT, @status OUTPUT
            	INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
	    	VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
	      END
	      ELSE
	      BEGIN
	    --DEBITANDO DO DRAWBACK

	    --pega as quantidades q já foram transmitidas daquele item
	    	SELECT @QT_TRANSM = ISNULL( SUM( QTD_TRANSM_LI ), 0 ) 
	    	FROM TSALDO_DRAWBACK
	    	WHERE 
	      	  NR_ATO_DRAWBACK = @NR_ATO_DRAWBACK AND
	      	  CD_MAT_PRI  = @CD_MERCADORIA 

	    --pega as quantidades do ato concessório ( realizado )
	    	SELECT @QT_REALIZ = ISNULL( SUM( QT_IMP ), 0 ) 
	    	FROM TDIAGNOSTICO_SALDO
	    	WHERE 
	      	  NR_ATO_DRAWBACK = @NR_ATO_DRAWBACK AND
	      	  CD_MAT_PRI  = @CD_MERCADORIA 

		SELECT @QT_REALIZ = @QT_REALIZ + @QT_TRANSM
		    
	    --previsto menos o realizado									
	    	SELECT @QT_SALDO = @QT_IMP - @QT_REALIZ								

	    	IF @QT_SALDO > 0  
	    	BEGIN	
		  IF @QT_MERC_UN_COMERC <= @QT_SALDO	
	  	  BEGIN	
		    IF ISNULL(@NR_ATO_DRAWBACK,'') <> '' 
		      IF (@VL_UNIT_MLE * @QT_MERC_UN_COMERC) <= (@QT_SALDO * @VL_UNITARIO) 
		        INSERT TDIAGNOSTICO_SALDO (NR_ATO_DRAWBACK, NR_FORECAST, CD_MAT_PRI, QT_IMP)
		        VALUES ( @NR_ATO_DRAWBACK, @NR_FORECAST, @CD_MERCADORIA, @QT_MERC_UN_COMERC)
		  END
		  ELSE  --se for maior do q tem no db então avisar
		  BEGIN
	      	    EXEC sp_ret_msg_diagnos 17, @msg OUTPUT, @status OUTPUT
                    INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
   	      	    VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
		  END
	    	END
	    	ELSE
	     	BEGIN  --sem saldo suficiente no DB
	      	  EXEC sp_ret_msg_diagnos 17, @msg OUTPUT, @status OUTPUT
              	  INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
   	      	  VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
	    	END
	      END
            END
	  END
	  DELETE from #DETALHE_MERC where NR_PROCESSO = @NR_PROCESSO and NR_ADICAO = @NR_ADICAO AND NR_ITEM = @NR_ITEM
	END
      DELETE from #ADICAO_IMPORT where NR_PROCESSO = @NR_PROCESSO and NR_ADICAO = @NR_ADICAO 
    END
  DROP TABLE #ADICAO_IMPORT
  DROP TABLE #DETALHE_MERC
END







GO
