USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROC [sp_rel_fin] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
            @dt_atual datetime, @cd_moeda_juros char(3), @nr_relatorio char(3), @nr_ano char(4), 
            @erro char(18) OUTPUT, @nr_identificador int OUTPUT AS 


/*
SET XACT_ABORT ON 
BEGIN TRAN
*/

/*
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_atual datetime
DECLARE @cd_moeda_juros char(3)
DECLARE @nr_relatorio char(3)
DECLARE @nr_ano char(4)
DECLARE @nr_identificador int 
DECLARE @erro char(18)

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = '013'
SELECT @cd_cliente = 'X'
SELECT @dt_atual = CONVERT( datetime, '20/01/2009', 103 )
SELECT @cd_moeda_juros = '111'
SELECT @nr_relatorio = '009'
SELECT @nr_ano = '2009' --*/

DECLARE @dt_compara datetime

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_FIN_DESP (TABLOCK HOLDLOCK)

SELECT @dt_compara = ( @dt_atual - 7 )

  SELECT @nr_identificador NR_IDENTIFICADOR, F.CD_UNID_NEG, F.CD_PRODUTO, FP.NR_PROCESSO, F.NR_SOLICITACAO, FI.CD_ITEM, 
         REF.CD_REFERENCIA, EMB.NM_EMBARCACAO,
         I.NM_ITEM,
         CASE FI.IN_RESTITUI
            WHEN '0' THEN ROUND( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ), 2 )
            WHEN '1' THEN ROUND( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1) , 2)
         END VL_ITEM,
         CASE FI.IN_RESTITUI
            WHEN '0' THEN 
              ISNULL( 
                CASE I.IN_CPMF
                  WHEN '0' THEN 0
                  ELSE ROUND( ( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * X.PC_TAXA / 100 ), 2 ) 
                END, 0 )
/*
               ISNULL( 
                 CASE ( SELECT ISNULL( IN_CPMF, '1' )
                        FROM   TCLIENTE_CPMF C
                        WHERE  FP.CD_UNID_NEG = C.CD_UNID_NEG AND
                               FP.CD_PRODUTO = C.CD_PRODUTO AND
                               P.CD_CLIENTE = C.CD_CLIENTE AND
                               FI.CD_ITEM = C.CD_ITEM ) 
                   WHEN '0' THEN 0
                   WHEN '1' THEN ROUND( ( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * X.PC_TAXA / 100 ), 2 ) 
                 END, 0 )
*/
            WHEN '1' THEN 
              ISNULL( 
                CASE I.IN_CPMF
                  WHEN '0' THEN 0
                  WHEN '1' THEN ROUND( ( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * X.PC_TAXA / 100 ), 2 ) 
                END, 0 ) * (-1)
/*
               ISNULL( 
                 CASE ( SELECT ISNULL( IN_CPMF, '1' )
                        FROM   TCLIENTE_CPMF C
                        WHERE  FP.CD_UNID_NEG = C.CD_UNID_NEG AND
                               FP.CD_PRODUTO = C.CD_PRODUTO AND
                               P.CD_CLIENTE = C.CD_CLIENTE AND
                               FI.CD_ITEM = C.CD_ITEM ) 
                   WHEN '0' THEN 0
                   WHEN '1' THEN ROUND( ( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * X.PC_TAXA / 100 ), 2 ) 
                 END, 0 ) * (-1)
*/
         END VL_CPMF,
         F.NR_NOTA_FATURA,
         F.DT_FATURA,
		  (SELECT MAX(F.DT_LANCAMENTO) FROM TFATURAMENTO_CC F WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
														   F.CD_ITEM = FI.CD_ITEM AND
														   F.CD_UNID_NEG = FI.CD_UNID_NEG AND
											               F.CD_PRODUTO = FI.CD_PRODUTO AND
														   F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND F.IN_RESTITUI = '0')DT_PAGTO,
		  (SELECT DATEDIFF( d, ISNULL( MAX(F.DT_LANCAMENTO), @dt_atual + 1 ), @dt_atual + 1 ) 
									   FROM TFATURAMENTO_CC F WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
														   F.CD_ITEM = FI.CD_ITEM AND
														   F.CD_UNID_NEG = FI.CD_UNID_NEG AND
											               F.CD_PRODUTO = FI.CD_PRODUTO AND
														   F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND F.IN_RESTITUI = '0')NR_DIAS,
--                        F.NR_CHEQUE = FI.NR_CHEQUE
         /*CASE FI.IN_RESTITUI COMENTADO ANDRÉ 19/01/2009
            WHEN '0' THEN 
              FI.DT_LANCAMENTO 
            WHEN '1' THEN 
               ISNULL(
               ( SELECT MIN( DT_LANCAMENTO  )
                 FROM   TFATURAMENTO_CC F (NOLOCK)
                 WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
                        F.CD_ITEM = FI.CD_ITEM AND
                        F.CD_UNID_NEG = FI.CD_UNID_NEG AND
                        F.CD_PRODUTO = FI.CD_PRODUTO AND
                        F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND
--                        F.NR_CHEQUE = FI.NR_CHEQUE AND
                        ISNULL( F.VL_ITEM, 0 ) = ISNULL( FI.VL_ITEM, 0) AND
                        F.IN_RESTITUI = '0' AND
                        NOT EXISTS ( ( SELECT FI.DT_LANCAMENTO
                                       FROM   TFATURAMENTO_CC F (NOLOCK)
                                       WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
                                              F.CD_ITEM = FI.CD_ITEM AND
                                              F.CD_UNID_NEG = FI.CD_UNID_NEG AND
                                              F.CD_PRODUTO = FI.CD_PRODUTO AND
                                              F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND
--                                            F.NR_CHEQUE = FI.NR_CHEQUE AND
                                              ISNULL( F.VL_ITEM, 0 ) = ISNULL( FI.VL_ITEM, 0) AND
                                              F.IN_RESTITUI = '1' AND
                                              F.DT_LANCAMENTO = FI.DT_LANCAMENTO ) ) ), FI.DT_LANCAMENTO )
         END DT_PAGTO,*/
        /* Alterado em função de gerar dias negativos: dois ou mais pagamentos da mesma despesa
         ( SELECT MAX( DT_LANCAMENTO )
           FROM   TFATURAMENTO_CC F
           WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND
                  F.CD_ITEM = FI.CD_ITEM  ) DT_PAGTO,
         ( SELECT DATEDIFF( d, ISNULL( MAX( DT_LANCAMENTO ), @dt_atual + 1 ), @dt_atual + 1 )
           FROM   TFATURAMENTO_CC F
           WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND
                  F.CD_ITEM = FI.CD_ITEM ) NR_DIAS,*/
       /*  CASE FI.IN_RESTITUI COMENTADO ANDRÉ 19/01/2009
            WHEN '0' THEN 
              DATEDIFF( d, ISNULL( FI.DT_LANCAMENTO, @dt_atual + 1 ), @dt_atual + 1 ) 
            WHEN '1' THEN 
               DATEDIFF( d, ISNULL( 
               (   SELECT MIN( DT_LANCAMENTO )
                   FROM   TFATURAMENTO_CC F (NOLOCK)
                   WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
                          F.CD_ITEM = FI.CD_ITEM AND
                          F.CD_UNID_NEG = FI.CD_UNID_NEG AND
                          F.CD_PRODUTO = FI.CD_PRODUTO AND
                          F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND
--                          F.NR_CHEQUE = FI.NR_CHEQUE AND
                          ISNULL( F.VL_ITEM, 0 ) = ISNULL( FI.VL_ITEM, 0) AND
                          F.IN_RESTITUI = '0' AND
                          NOT EXISTS ( ( SELECT FI.DT_LANCAMENTO
                                         FROM   TFATURAMENTO_CC F (NOLOCK)
                                         WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
                                                F.CD_ITEM = FI.CD_ITEM AND
                                                F.CD_UNID_NEG = FI.CD_UNID_NEG AND
                                                F.CD_PRODUTO = FI.CD_PRODUTO AND
                                                F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND
--                                              F.NR_CHEQUE = FI.NR_CHEQUE AND
                                                ISNULL( F.VL_ITEM, 0 ) = ISNULL( FI.VL_ITEM, 0) AND
                                                F.IN_RESTITUI = '1' AND
                                                F.DT_LANCAMENTO = FI.DT_LANCAMENTO ) ) ), DT_LANCAMENTO ), @dt_atual + 1 ) 
         END NR_DIAS,*/
         CASE I.IN_TRIBUTAVEL WHEN '1' THEN 0 ELSE
           CASE I.IN_REEMB_FINANC WHEN '0' THEN 0 ELSE
             CASE FI.IN_RESTITUI
               WHEN '0' THEN 
                 CASE ISNULL( I.IN_REEMBOLSO, '0' )
                   WHEN '0' THEN 0
                   WHEN '1' THEN ( ROUND( ( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * 
                                                            ISNULL(
           		   			               ( SELECT MAX( J.VL_JUROS )
                                                                 FROM   TJUROS_REEMB J (NOLOCK)
                                                                 WHERE  FI.DT_LANCAMENTO = J.DT_JUROS AND
                                                                        J.CD_MOEDA_JUROS = @cd_moeda_juros ), 0 ) ), 2 ) )
                 END 
               WHEN '1' THEN 
                 CASE ISNULL( I.IN_REEMBOLSO, '0' )
                   WHEN '0' THEN 0
                   WHEN '1' THEN ( ROUND( ( ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * 
                                                            ISNULL(
           		   			               ( SELECT MAX( J.VL_JUROS )
                                       FROM   TJUROS_REEMB J (NOLOCK)
                                       WHERE  ISNULL(
                              ( SELECT MIN( DT_LANCAMENTO  )
							                  FROM   TFATURAMENTO_CC F (NOLOCK)
							                  WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
							                         F.CD_ITEM = FI.CD_ITEM AND
							                         F.CD_UNID_NEG = FI.CD_UNID_NEG AND
							                         F.CD_PRODUTO = FI.CD_PRODUTO AND
							                         F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND
							                         ISNULL( F.VL_ITEM, 0 ) = ISNULL( FI.VL_ITEM, 0) AND
							                         F.IN_RESTITUI = '0'AND
                                                                 NOT EXISTS ( ( SELECT FI.DT_LANCAMENTO
                                                                                FROM   TFATURAMENTO_CC F (NOLOCK)
                                                                                WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
                                                                                       F.CD_ITEM = FI.CD_ITEM AND
                                                                                       F.CD_UNID_NEG = FI.CD_UNID_NEG AND
                                                                                       F.CD_PRODUTO = FI.CD_PRODUTO AND
                                                                                       F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND
--                                                                                     F.NR_CHEQUE = FI.NR_CHEQUE AND
                                                                                       ISNULL( F.VL_ITEM, 0 ) = ISNULL( FI.VL_ITEM, 0) AND
                                                                                       F.IN_RESTITUI = '1' AND
                                                                                       F.DT_LANCAMENTO = FI.DT_LANCAMENTO ) ) ), DT_LANCAMENTO ) = J.DT_JUROS AND
                                                                                 J.CD_MOEDA_JUROS = @cd_moeda_juros ), 0 ) ), 2 ) ) * (-1)
                 END 
             END 
           END
         END VL_REEMBOLSO, FI.IN_RESTITUI, X.PC_TAXA, FI.DT_LANCAMENTO AS DT_LANCTO, ISNULL( FI.NR_CHEQUE, '0' ) NR_CHEQUE,
         NM_AREA, NR_ITEM_PO
  INTO   #TMP_REL_FIN_DESP
  FROM   TITEM I (NOLOCK)
----------------------------------------------------------------------------------------------------------------
  INNER JOIN TEMPRESA_NAC EN (NOLOCK) on ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) )

  INNER JOIN TPROCESSO P (NOLOCK) on (P.CD_CLIENTE = EN.CD_EMPRESA )
  
  INNER JOIN TFATURAMENTO_CC FI (NOLOCK) on ( FI.CD_ITEM = I.CD_ITEM )

  INNER JOIN TS_FATURA_PROCESSO FP (nolock) on ( FP.NR_PROCESSO = FI.NR_PROCESSO AND FP.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND         					 FP.CD_UNID_NEG = FI.CD_UNID_NEG AND FP.CD_PRODUTO = FI.CD_PRODUTO AND
         					 FP.NR_PROCESSO = P.NR_PROCESSO )

  INNER JOIN TS_FATURA F(nolock) ON ( F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO  = FP.CD_PRODUTO AND
         			      F.NR_SOLICITACAO = FP.NR_SOLICITACAO )

  LEFT JOIN TREF_CLIENTE REF (NOLOCK) ON (FP.NR_PROCESSO = REF.NR_PROCESSO AND 
						 REF.NR_SEQUENCIA IN ( SELECT MIN(NR_SEQUENCIA) 
							                               FROM   TREF_CLIENTE REF2 (NOLOCK) 
                               							    WHERE  REF2.NR_PROCESSO = FP.NR_PROCESSO )  )
  LEFT JOIN TEMBARCACAO  EMB (NOLOCK) ON (P.CD_EMBARCACAO = EMB.CD_EMBARCACAO)

  LEFT JOIN TAREA A (NOLOCK) ON  (A.CD_AREA = REF.CD_AREA)
  LEFT JOIN TTAXA_CPMF X(NOLOCK)      ON 
(         CASE FI.IN_RESTITUI
            WHEN '0' THEN 
              FI.DT_LANCAMENTO 
            WHEN '1' THEN 
               ISNULL(
               ( SELECT MIN( DT_LANCAMENTO  )
                 FROM   TFATURAMENTO_CC F (NOLOCK)
                 WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
                        F.CD_ITEM = FI.CD_ITEM AND
                        F.CD_UNID_NEG = FI.CD_UNID_NEG AND
                        F.CD_PRODUTO = FI.CD_PRODUTO AND
                        F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND
                        ISNULL( F.VL_ITEM, 0 ) = ISNULL( FI.VL_ITEM, 0) AND
                        F.IN_RESTITUI = '0' AND
                        NOT EXISTS ( ( SELECT FI.DT_LANCAMENTO
                                       FROM   TFATURAMENTO_CC F (NOLOCK)
                                       WHERE  F.NR_PROCESSO = FI.NR_PROCESSO AND  
                                              F.CD_ITEM = FI.CD_ITEM AND
                                              F.CD_UNID_NEG = FI.CD_UNID_NEG AND
                                              F.CD_PRODUTO = FI.CD_PRODUTO AND
                                              F.NR_SOLIC_FAT = FI.NR_SOLIC_FAT AND
--                                            F.NR_CHEQUE = FI.NR_CHEQUE AND
                                              ISNULL( F.VL_ITEM, 0 ) = ISNULL( FI.VL_ITEM, 0) AND
                                              F.IN_RESTITUI = '1' AND
                                              F.DT_LANCAMENTO = FI.DT_LANCAMENTO ) ) ), FI.DT_LANCAMENTO )
         END BETWEEN X.DT_INICIO AND X.DT_FIM  )

----------------------------------------------------------------------------------------------------------------
  WHERE  F.CD_UNID_NEG = @cd_unid_neg AND
         ( ( F.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         F.NR_RELATORIO = @nr_relatorio AND
         F.NR_ANO = @nr_ano AND

/*         REF.NR_SEQUENCIA IN ( SELECT MIN(NR_SEQUENCIA) 
                               FROM   TREF_CLIENTE REF2 (NOLOCK) 
                               WHERE  REF2.NR_PROCESSO = FP.NR_PROCESSO ) AND*/
         F.IN_CANCELADO = '0' AND
         FI.IN_CANCELADO = '0' AND
         I.CD_TIPO_ITEM = 'D' AND
         I.IN_REEMBOLSO = '1' AND
         ( CONVERT( datetime, F.DT_FATURA, 103 ) BETWEEN @dt_compara AND @dt_atual ) AND
	 LTRIM( RTRIM( ISNULL( F.NR_NOTA_FATURA, '' ) ) ) <> ''

--select * from #TMP_REL_FIN_DESP




UPDATE #TMP_REL_FIN_DESP
SET    NR_DIAS  = ( SELECT MAX(NR_DIAS)
                    FROM   #TMP_REL_FIN_DESP T2 (NOLOCK) 
                    WHERE  T2.NR_IDENTIFICADOR = T1.NR_IDENTIFICADOR AND
                           T2.CD_UNID_NEG = T1.CD_UNID_NEG AND
                           T2.CD_PRODUTO = T1.CD_PRODUTO AND
                           T2.NR_SOLICITACAO = T1.NR_SOLICITACAO AND
    		           T2.NR_PROCESSO = T1.NR_PROCESSO AND
                           T2.CD_ITEM = T1.CD_ITEM )
FROM  #TMP_REL_FIN_DESP T1
WHERE T1.DT_PAGTO IS NULL

UPDATE #TMP_REL_FIN_DESP
SET    DT_PAGTO  = ( SELECT MAX(DT_PAGTO)
                     FROM   #TMP_REL_FIN_DESP T2 (NOLOCK) 
                     WHERE  T2.NR_IDENTIFICADOR = T1.NR_IDENTIFICADOR AND
                            T2.CD_UNID_NEG = T1.CD_UNID_NEG AND
                            T2.CD_PRODUTO = T1.CD_PRODUTO AND
                            T2.NR_SOLICITACAO = T1.NR_SOLICITACAO AND
			    T2.NR_PROCESSO = T1.NR_PROCESSO AND
                            T2.CD_ITEM = T1.CD_ITEM AND
                            T2.DT_PAGTO IS NOT NULL 
                    GROUP BY T2.NR_IDENTIFICADOR, T2.CD_UNID_NEG, T2.CD_PRODUTO,
                             T2.NR_SOLICITACAO, T2.NR_PROCESSO, T2.CD_ITEM, 
                             T2.DT_PAGTO 
                    HAVING T2.DT_PAGTO = MAX(DT_PAGTO) )
FROM  #TMP_REL_FIN_DESP T1
WHERE T1.DT_PAGTO IS NULL
-- Rotina que calcula retira lançamentos cancelados - 22/09/2006
DECLARE @nr_processo      char(18)
DECLARE @nr_solicitacao   char(6)
DECLARE @cd_item          char(3)
DECLARE @vl_item          float
DECLARE @dt_pagto         datetime
DECLARE @nr_fatura        char(6)
DECLARE @nr_cheque        char(6)

DECLARE c_regs CURSOR FOR
  SELECT NR_PROCESSO, NR_SOLICITACAO, CD_ITEM, VL_ITEM, DT_PAGTO, NR_FATURA, NR_CHEQUE
  FROM   TREL_FIN_DESP
  WHERE  NR_IDENTIFICADOR = @nr_identificador
    AND  VL_ITEM < 0
  ORDER BY NR_PROCESSO, NR_SOLICITACAO, CD_ITEM, DT_PAGTO, NR_FATURA, NR_CHEQUE  

OPEN c_regs 
FETCH c_regs INTO @nr_processo, @nr_solicitacao, @cd_item, @vl_item, @dt_pagto, @nr_fatura, @nr_cheque
WHILE @@fetch_status <> -1
BEGIN
  IF ( SELECT COUNT( NR_PROCESSO ) FROM #TMP_REL_FIN_DESP
       WHERE NR_IDENTIFICADOR = @nr_identificador AND CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
         AND CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 ) AND NR_SOLICITACAO = @nr_solicitacao
         AND NR_PROCESSO = @nr_processo AND CD_ITEM = @cd_item
         AND NR_CHEQUE = @nr_cheque AND IN_RESTITUI = '0' AND VL_ITEM = ( @vl_item * (-1) ) ) = 1
  BEGIN
    DELETE FROM TREL_FIN_DESP 
    WHERE NR_IDENTIFICADOR = @nr_identificador AND CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
      AND CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 ) AND NR_SOLICITACAO = @nr_solicitacao
      AND NR_PROCESSO = @nr_processo AND CD_ITEM = @cd_item
      AND NR_CHEQUE = @nr_cheque AND IN_RESTITUI = '0' AND VL_ITEM = ( @vl_item * (-1) )

    DELETE FROM TREL_FIN_DESP 
    WHERE NR_IDENTIFICADOR = @nr_identificador AND CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
      AND CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 ) AND NR_SOLICITACAO = @nr_solicitacao
      AND NR_PROCESSO = @nr_processo AND CD_ITEM = @cd_item
      AND NR_CHEQUE = @nr_cheque AND IN_RESTITUI = '1' AND VL_ITEM = @vl_item

  END

  FETCH c_regs INTO @nr_processo, @nr_solicitacao, @cd_item, @vl_item, @dt_pagto, @nr_fatura, @nr_cheque
END

CLOSE c_regs
DEALLOCATE c_regs
-- Fim da Rotina que retira lançamentos cancelados


INSERT TREL_FIN_DESP ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_REFERENCIA, NM_EMBARCACAO, NR_PROCESSO, CD_ITEM, NM_ITEM,
                       VL_ITEM, VL_CPMF, NR_FATURA, DT_FATURA, DT_PAGTO, NR_DIAS, VL_REEMBOLSO,/*, IN_RESTITUI, PC_TAXA, DT_LANCTO, NR_CHEQUE*/ 
                       NM_AREA, NR_ITEM_PO)
   SELECT NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_REFERENCIA, NM_EMBARCACAO, NR_PROCESSO, CD_ITEM, NM_ITEM, 
          SUM( VL_ITEM ), SUM( VL_CPMF ), NR_NOTA_FATURA, DT_FATURA, DT_PAGTO, NR_DIAS, SUM( VL_REEMBOLSO ),--, IN_RESTITUI, PC_TAXA, DT_LANCTO, NR_CHEQUE
          NM_AREA, NR_ITEM_PO 
   FROM   #TMP_REL_FIN_DESP
   WHERE  NR_IDENTIFICADOR = @nr_identificador AND
          DT_PAGTO IS NOT NULL --AND
		  --VL_ITEM > 0 AND 
		  --((VL_ITEM NOT IN (SELECT ABS(VL_ITEM) FROM #TMP_REL_FIN_DESP P2 WHERE P2.VL_ITEM < 0) OR
		  --(CD_ITEM NOT IN (SELECT CD_ITEM FROM #TMP_REL_FIN_DESP P2  WHERE P2.VL_ITEM < 0)) OR
		  --(NR_PROCESSO NOT IN (SELECT NR_PROCESSO FROM #TMP_REL_FIN_DESP P2  WHERE P2.VL_ITEM < 0)) OR
		  --(NR_SOLICITACAO NOT IN (SELECT NR_SOLICITACAO FROM #TMP_REL_FIN_DESP P2  WHERE P2.VL_ITEM < 0))))
   GROUP BY NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NR_SOLICITACAO, CD_ITEM,
          CD_REFERENCIA, NM_EMBARCACAO, NM_ITEM, NR_NOTA_FATURA, DT_FATURA, DT_PAGTO, NR_DIAS,--, IN_RESTITUI, PC_TAXA, DT_LANCTO, NR_CHEQUE
          NM_AREA, NR_ITEM_PO 

DROP TABLE #TMP_REL_FIN_DESP


UPDATE TREL_FIN_DESP
SET    VL_ITEM = 0, VL_CPMF = 0, VL_REEMBOLSO = 0
FROM   TREL_FIN_DESP D (NOLOCK), TFATURAMENTO_CC F (NOLOCK)
WHERE  F.NR_PROCESSO = D.NR_PROCESSO AND
       F.NR_SOLIC_FAT = D.NR_SOLICITACAO AND
       F.CD_UNID_NEG = D.CD_UNID_NEG AND
       F.CD_PRODUTO = D.CD_PRODUTO AND
       F.CD_ITEM = D.CD_ITEM AND
       ( ISNULL( LTRIM( RTRIM( F.CD_ITEM_NAO_FAT ) ), '0' ) = '*' OR
       F.CD_ITEM IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) OR
       F.CD_ITEM IN ( SELECT CD_ITEM_CPMF FROM TPARAMETROS ) OR
       F.CD_ITEM IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS ) )

UPDATE TREL_FIN_DESP
SET    VL_CPMF = 0, VL_REEMBOLSO = 0
FROM   TREL_FIN_DESP D (NOLOCK), TFATURAMENTO_CC F (NOLOCK)
WHERE  F.NR_PROCESSO = D.NR_PROCESSO AND
       F.NR_SOLIC_FAT = D.NR_SOLICITACAO AND
       F.CD_UNID_NEG = D.CD_UNID_NEG AND
       F.CD_PRODUTO = D.CD_PRODUTO AND
       F.CD_ITEM = D.CD_ITEM AND
       F.CD_ITEM IN ( '417', '418' )

  SELECT D.NR_IDENTIFICADOR, D.CD_REFERENCIA, D.CD_UNID_NEG, D.CD_PRODUTO, D.NR_SOLICITACAO, D.NR_FATURA, 
         ISNULL( ( SELECT SUM( ISNULL( VL_RECEBIMENTO, 0 ) - ISNULL( VL_DEVOLVIDO, 0 ) )
                   FROM   TRECEBIMENTO (NOLOCK)
                   WHERE  NR_PROCESSO IN ( SELECT NR_PROCESSO
                                           FROM   TREL_FIN_DESP (NOLOCK) 
                                           WHERE  NR_SOLICITACAO = D.NR_SOLICITACAO  ) AND
                                                  CD_UNID_NEG = D.CD_UNID_NEG AND
                                                  CD_PRODUTO = D.CD_PRODUTO AND
                                                  IN_CANCELADO = '0' ), 0 ) - -- Adiantamentos
         ISNULL( ( SELECT SUM( ISNULL( VL_RECEBIMENTO, 0 ) - ISNULL( VL_DEVOLVIDO, 0 ) )
                   FROM   TRECEBIMENTO (NOLOCK)
                   WHERE  NR_PROCESSO IN ( SELECT NR_PROCESSO
                                           FROM   TREL_FIN_DESP (NOLOCK) 
                                           WHERE  NR_SOLICITACAO = D.NR_SOLICITACAO  ) AND
                                                  CD_UNID_NEG = D.CD_UNID_NEG AND
                                                  CD_PRODUTO = D.CD_PRODUTO AND
                                                  IN_CANCELADO = '1' ), 0 ) + -- Adiantamentos Cancelados
         ISNULL( ( SELECT SUM( ( ISNULL( FC.VL_ITEM, 0 ) + ISNULL( FC.VL_ASSIST, 0 ) - ISNULL( FC.VL_IR, 0 ) ) )
                   FROM   TFATURAMENTO_CC FC (NOLOCK)
                   WHERE  FC.NR_SOLIC_FAT = D.NR_SOLICITACAO AND
                          FC.NR_PROCESSO = D.NR_PROCESSO AND
                          FC.CD_UNID_NEG = D.CD_UNID_NEG AND
                          FC.CD_PRODUTO = D.CD_PRODUTO AND
                          FC.IN_RESTITUI = '0' AND
                          FC.CD_ITEM = ( SELECT CD_ITEM_PAGO_CLI 
                                         FROM   TPARAMETROS ) ), 0 ) - -- Pagos pelo Cliente
         ISNULL( ( SELECT SUM( ( ISNULL( FC.VL_ITEM, 0 ) + ISNULL( FC.VL_ASSIST, 0 ) - ISNULL( FC.VL_IR, 0 ) ) )
                   FROM   TFATURAMENTO_CC FC (NOLOCK)
                   WHERE  FC.NR_SOLIC_FAT = D.NR_SOLICITACAO AND
                          FC.NR_PROCESSO = D.NR_PROCESSO AND
                          FC.CD_UNID_NEG = D.CD_UNID_NEG AND
                          FC.CD_PRODUTO = D.CD_PRODUTO AND
                          FC.IN_RESTITUI = '1' AND
                          FC.CD_ITEM = ( SELECT CD_ITEM_PAGO_CLI 
                                         FROM   TPARAMETROS ) ), 0 ) -- Pagos pelo Cliente Cancelados
         VL_ANTECIPADO, 
         SUM( ISNULL( D.VL_ITEM, 0 ) ) VL_ITEM, 
         SUM( ISNULL( D.VL_CPMF, 0 ) ) VL_CPMF, 
         SUM( ISNULL( D.VL_REEMBOLSO, 0 ) ) VL_REEMBOLSO,
         ( SELECT SUM( ( ISNULL( FC.VL_ITEM, 0 ) + ISNULL( FC.VL_ASSIST, 0 ) - ISNULL( FC.VL_IR, 0 ) ) )
           FROM   TFATURAMENTO_CC FC (NOLOCK)
           WHERE  FC.NR_SOLIC_FAT = D.NR_SOLICITACAO AND
                  FC.NR_PROCESSO = D.NR_PROCESSO AND
                  FC.CD_UNID_NEG = D.CD_UNID_NEG AND
                  FC.CD_PRODUTO = D.CD_PRODUTO AND
                  FC.CD_ITEM = ( SELECT CD_ITEM_COMISSAO 
                                 FROM   TPARAMETROS ) ) VL_COMISSAO
  INTO #tmp_rel_fin_resumo
  FROM   TREL_FIN_DESP D ( NOLOCK )
  WHERE  NR_IDENTIFICADOR = @nr_identificador
  GROUP BY D.NR_IDENTIFICADOR, D.CD_UNID_NEG, D.CD_PRODUTO, D.CD_REFERENCIA, D.NR_SOLICITACAO, D.NR_PROCESSO, D.NR_FATURA

INSERT TREL_FIN_RESUMO ( NR_IDENTIFICADOR, CD_REFERENCIA, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_FATURA, VL_ANTECIPADO, VL_ITEM, VL_CPMF, VL_REEMBOLSO, VL_COMISSAO )
  SELECT NR_IDENTIFICADOR, MAX( CD_REFERENCIA ), CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_FATURA, SUM( VL_ANTECIPADO ), SUM( VL_ITEM ), SUM( VL_CPMF ), SUM( VL_REEMBOLSO ), SUM( VL_COMISSAO )
  FROM   #tmp_rel_fin_resumo
  GROUP BY NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_FATURA

DROP TABLE #tmp_rel_fin_resumo

-- Inserindo Notas de Débito Administrativas
  SELECT @nr_identificador NR_IDENTIFICADOR, A.CD_UNID_NEG, A.NR_DOCTO, ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) VL_ITEM,
         CASE C.IN_REEMBOLSO 
            WHEN '0' THEN 0
            WHEN '1' THEN ROUND( ( ( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ) * X.PC_TAXA / 100 ), 2 ) 
         END VL_CPMF, 
         CASE C.IN_REEMBOLSO 
            WHEN '0' THEN 0
            WHEN '1' THEN 
              ( ROUND( ( ( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ) * 
                           ISNULL(
	                    ( SELECT MAX( J.VL_JUROS )
                              FROM   TJUROS_REEMB J
                              WHERE  A.DT_PAGTO = J.DT_JUROS AND
                                     J.CD_MOEDA_JUROS = @cd_moeda_juros ), 0 ) ), 2 ) ) 

         END VL_REEMBOLSO 
  INTO   #tmp_adm
  FROM   TADM A (NOLOCK), 
         TCT_CONTABIL C (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TFAVORECIDO F (NOLOCK),
         TTAXA_CPMF X (NOLOCK)
  WHERE  A.CD_FAVORECIDO = F.CD_FAVORECIDO AND
         F.CGC_EMPRESA = E.CGC_EMPRESA AND
         A.CD_UNID_NEG = @cd_unid_neg AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         A.CD_CT_CONTABIL = C.CD_CT_CONTABIL AND year(A.DT_LANCTO) = C.ANO_CONTA AND
         ( CONVERT( datetime, A.DT_PAGTO, 103 ) BETWEEN @dt_compara AND @dt_atual ) AND
         A.DT_PAGTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
         A.TP_NATUREZA = 'C' AND
         A.CD_STATUS_ADM NOT IN ( '4', '17' ) AND
         ISNULL( A.NR_DOCTO, '' ) <> '' AND
         A.NR_RELATORIO = @nr_relatorio AND
         A.NR_ANO = @nr_ano AND
         A.CD_CT_CONTABIL NOT IN ( '6110102800', '6410509100' )

INSERT TREL_FIN_DESP ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, NM_ITEM,
                       VL_ITEM, VL_CPMF, NR_FATURA, DT_FATURA, DT_PAGTO, NR_DIAS, VL_REEMBOLSO )
  SELECT @nr_identificador NR_IDENTIFICADOR, A.CD_UNID_NEG, 'XX', A.NR_DOCTO, 'XXXX' + A.CD_CT_CONTABIL, 'XXX', C.NM_CT_CONTABIL,
         SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ) VL_ITEM, 
         CASE C.IN_REEMBOLSO 
           WHEN '0' THEN 0
           WHEN '1' THEN SUM( ROUND( ( ( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ) * X.PC_TAXA / 100 ), 2 ) )
         END VL_CPMF, 
         A.NR_DOCTO, A.DT_PAGTO, A.DT_PAGTO, 
         CASE C.IN_REEMBOLSO 
           WHEN '0' THEN 0
           WHEN '1' THEN DATEDIFF( d, ISNULL( A.DT_PAGTO, @dt_atual + 1 ), @dt_atual + 1 )
         END, 
         CASE C.IN_REEMBOLSO 
           WHEN '0' THEN 0
           WHEN '1' THEN 
              ( ROUND( ( ( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ) ) * 
                    ISNULL(
	             ( SELECT MAX( J.VL_JUROS )
                       FROM   TJUROS_REEMB J
                       WHERE  A.DT_PAGTO = J.DT_JUROS AND
                              J.CD_MOEDA_JUROS = @cd_moeda_juros ), 0 ) ), 2 ) )
         END 
  FROM   TADM A (NOLOCK), 
         TTAXA_CPMF X (NOLOCK),
         TCT_CONTABIL C (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TFAVORECIDO F (NOLOCK)
  WHERE  A.CD_FAVORECIDO = F.CD_FAVORECIDO AND
         F.CGC_EMPRESA = E.CGC_EMPRESA AND
         A.CD_UNID_NEG = @cd_unid_neg AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         A.CD_CT_CONTABIL = C.CD_CT_CONTABIL AND year(A.DT_LANCTO) = C.ANO_CONTA AND
         ( CONVERT( datetime, A.DT_PAGTO, 103 ) BETWEEN @dt_compara AND @dt_atual ) AND
         A.DT_PAGTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
         A.TP_NATUREZA = 'C' AND
         A.CD_STATUS_ADM NOT IN ( '4', '17' ) AND
         ISNULL( A.NR_DOCTO, '' ) <> '' AND
         A.NR_RELATORIO = @nr_relatorio AND
         A.NR_ANO = @nr_ano AND
         A.CD_CT_CONTABIL NOT IN ( '6110102800', '6410509100' )
GROUP BY A.CD_UNID_NEG, A.NR_DOCTO, A.CD_CT_CONTABIL, C.NM_CT_CONTABIL, C.IN_REEMBOLSO, A.DT_PAGTO, A.NR_RELATORIO, A.NR_ANO

INSERT TREL_FIN_RESUMO ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_FATURA, VL_ITEM, VL_CPMF, VL_REEMBOLSO )
  SELECT @nr_identificador, CD_UNID_NEG, 'XX', NR_DOCTO, NR_DOCTO, SUM( ISNULL( VL_ITEM, 0 ) ) VL_ITEM,
         SUM( ISNULL( VL_CPMF, 0 ) ) VL_CPMF,
         SUM( ISNULL( VL_REEMBOLSO, 0 ) ) VL_REEMBOLSO
  FROM   #tmp_adm
  GROUP BY CD_UNID_NEG, NR_DOCTO

DROP TABLE #tmp_adm

-- Inserindo Notas de Crédito Administrativas
  SELECT @nr_identificador NR_IDENTIFICADOR, A.CD_UNID_NEG, A.NR_DOCTO, ( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ) * (-1) VL_ITEM,
         0 VL_CPMF, 0 VL_REEMBOLSO 
  INTO   #tmp_adm_deb
  FROM   TADM A (NOLOCK), 
         TCT_CONTABIL C (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TFAVORECIDO F (NOLOCK),
         TTAXA_CPMF X (NOLOCK)
  WHERE  A.CD_FAVORECIDO = F.CD_FAVORECIDO AND
         F.CGC_EMPRESA = E.CGC_EMPRESA AND
         A.CD_UNID_NEG = @cd_unid_neg AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         A.CD_CT_CONTABIL = C.CD_CT_CONTABIL AND year(A.DT_LANCTO) = C.ANO_CONTA AND
         ( CONVERT( datetime, A.DT_PAGTO, 103 ) BETWEEN @dt_compara AND @dt_atual ) AND
         A.DT_PAGTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
         A.TP_NATUREZA = 'D' AND
         A.CD_STATUS_ADM NOT IN ( '4', '17' ) AND
         ISNULL( A.NR_DOCTO, '' ) <> '' AND
         A.NR_RELATORIO = @nr_relatorio AND
         A.NR_ANO = @nr_ano AND
         A.CD_CT_CONTABIL NOT IN ( '6110102800', '6410509100' )

INSERT TREL_FIN_DESP ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, NM_ITEM,
                       VL_ITEM, VL_CPMF, NR_FATURA, DT_FATURA, DT_PAGTO, NR_DIAS, VL_REEMBOLSO )
  SELECT @nr_identificador NR_IDENTIFICADOR, A.CD_UNID_NEG, 'XX', A.NR_DOCTO, 'XXXX' + A.CD_CT_CONTABIL, 'XXX', C.NM_CT_CONTABIL,
        ( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ) ) * (-1) VL_ITEM, 0 VL_CPMF, A.NR_DOCTO, A.DT_PAGTO, A.DT_PAGTO, 0, 0
  FROM   TADM A (NOLOCK), 
         TTAXA_CPMF X (NOLOCK),
         TCT_CONTABIL C (NOLOCK),
         TEMPRESA_NAC E (NOLOCK),
         TFAVORECIDO F (NOLOCK)
  WHERE  A.CD_FAVORECIDO = F.CD_FAVORECIDO AND
         F.CGC_EMPRESA = E.CGC_EMPRESA AND
         A.CD_UNID_NEG = @cd_unid_neg AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( E.CD_EMPRESA = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         A.CD_CT_CONTABIL = C.CD_CT_CONTABIL AND year(A.DT_LANCTO) = C.ANO_CONTA AND
         ( CONVERT( datetime, A.DT_PAGTO, 103 ) BETWEEN @dt_compara AND @dt_atual ) AND
         A.DT_PAGTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
         A.TP_NATUREZA = 'D' AND
         A.CD_STATUS_ADM NOT IN ( '4', '17' ) AND
         ISNULL( A.NR_DOCTO, '' ) <> '' AND
         A.NR_RELATORIO = @nr_relatorio AND
         A.NR_ANO = @nr_ano AND
         A.CD_CT_CONTABIL NOT IN ( '6110102800', '6410509100' )
GROUP BY A.CD_UNID_NEG, A.NR_DOCTO, A.CD_CT_CONTABIL, C.NM_CT_CONTABIL, C.IN_REEMBOLSO, A.DT_PAGTO, A.NR_RELATORIO, A.NR_ANO

INSERT TREL_FIN_RESUMO ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_FATURA, VL_ITEM, VL_CPMF, VL_REEMBOLSO )
  SELECT @nr_identificador, CD_UNID_NEG, 'XX', NR_DOCTO, NR_DOCTO, SUM( ISNULL( VL_ITEM, 0 ) ) VL_ITEM,
         SUM( ISNULL( VL_CPMF, 0 ) ) VL_CPMF,
         SUM( ISNULL( VL_REEMBOLSO, 0 ) ) VL_REEMBOLSO
  FROM   #tmp_adm_deb
  GROUP BY CD_UNID_NEG, NR_DOCTO

DROP TABLE #tmp_adm_deb

DECLARE @vl_comissao float
DECLARE @vl_reembolso float
DECLARE @vl_juros float
DECLARE @vl_cpmf float

SELECT @vl_comissao = ROUND( ISNULL( SUM( VL_COMISSAO ), 0 ), 2 )
FROM   TREL_FIN_RESUMO (NOLOCK)
WHERE  NR_IDENTIFICADOR = @nr_identificador  

SELECT @vl_reembolso = ROUND( SUM( ISNULL( VL_ITEM, 0 ) ) + SUM( ISNULL( VL_CPMF, 0 ) ) + SUM( ISNULL( VL_REEMBOLSO, 0 ) ), 2 ) + @vl_comissao
FROM   TREL_FIN_DESP D (NOLOCK)
WHERE  NR_IDENTIFICADOR = @nr_identificador  

SELECT @vl_cpmf = ROUND( SUM( ISNULL( VL_CPMF, 0 ) ), 2 )
FROM   TREL_FIN_DESP D (NOLOCK)
WHERE  NR_IDENTIFICADOR = @nr_identificador  

SELECT @vl_juros = ROUND( SUM( ISNULL( VL_REEMBOLSO, 0 ) ), 2 )
FROM   TREL_FIN_DESP D (NOLOCK)
WHERE  NR_IDENTIFICADOR = @nr_identificador  

UPDATE TREL_FIN_CONTROLE
SET    VL_REEMBOLSO = @vl_reembolso, VL_CPMF = @vl_cpmf, VL_JUROS = @vl_juros
WHERE  NR_RELATORIO = @nr_relatorio AND
       NR_ANO = @nr_ano AND --CONVERT( char(4), DATEPART( yyyy , GETDATE() ) ) AND
       CD_UNID_NEG = @cd_unid_neg AND
       ( ( CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) )

IF EXISTS( SELECT * 
           FROM   TREL_FIN_DESP (NOLOCK)
           WHERE  NR_IDENTIFICADOR = @nr_identificador AND
                  ROUND( VL_ITEM, 2 ) < 0  ) 
BEGIN
  SELECT @erro = MIN( NR_PROCESSO )
  FROM   TREL_FIN_DESP (NOLOCK)
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         ROUND( VL_ITEM, 2 ) < 0

  return(1)
END
ELSE 
BEGIN
  SELECT @erro = ''
  return(0)
END



--SELECT * FROM TREL_FIN_DESP
--SELECT SUM(VL_ITEM) FROM TREL_FIN_DESP

--SELECT * FROM TREL_FIN_RESUMO

/*

ROLLBACK TRAN
SET XACT_ABORT OFF

*/

GO
