USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Importa os arquivos para as tabelas auxiliares
-- 17/11/2003

CREATE PROCEDURE [sp_importa_arquivos_int_mesquita] --'H:\DDBroker\ftp_mesquita\'
( 
  @ds_path varchar(100)
)

AS

SET NOCOUNT ON

DECLARE @hora char(2),
  	@msg_automatica varchar(200),
	@deleta_arquivo varchar(150),
	@renomeia_arquivo varchar(150),
	@move_arquivo varchar(150),
	@nm_arquivo varchar(100), 
	@diretorio varchar(20), 
	@str_copy varchar(100),
	@tint_mesquita003_job varchar(150),
	@tint_mesquita005_job varchar(150),
	@tint_mesquita007_job varchar(150),
	@tint_mesquita008_job varchar(150),
	@tint_mesquita009_job varchar(150), 
	@tint_mesquita013_job varchar(150),
	@exec_bat varchar (100)

--Verifica se não é final de semana para poder rodar o job
IF EXISTS(SELECT DATEPART(DW, GETDATE()) WHERE DATEPART(DW, GETDATE()) BETWEEN 1 AND 7)
BEGIN
  SET @hora = ( SELECT DATEPART( hh, GETDATE()) ) 

  -- Verifica se é hora de fazer integração
  IF (( SELECT @hora WHERE @hora NOT IN ( '9', '11', '14', '16' )) <> '')
    BEGIN
      -- Não é hora de integração
--      PRINT 'Não é hora de integração'
      RETURN
    END
    ELSE
    BEGIN
  
      -- Verifica a existência dos campos CH_PRESENCA, OBS_AVARIA na TINT_MESQUITA007_JOB e então os apaga
      IF EXISTS (SELECT C.NAME 
  	       FROM SYSOBJECTS O, SYSCOLUMNS C
   	       WHERE O.NAME LIKE 'TINT_MESQUITA007_JOB' AND O.ID = C.ID AND C.NAME LIKE 'CH_PRESENCA')
      BEGIN
        ALTER TABLE TINT_MESQUITA007_JOB
        DROP COLUMN CH_PRESENCA
      END

      IF EXISTS (SELECT C.NAME 
  	         FROM SYSOBJECTS O, SYSCOLUMNS C
	         WHERE O.NAME LIKE 'TINT_MESQUITA007_JOB' AND O.ID = C.ID AND C.NAME LIKE 'OBS_AVARIA')
      BEGIN
        ALTER TABLE TINT_MESQUITA007_JOB
        DROP COLUMN OBS_AVARIA
      END

      -- Verifica a existência dos campos CH_PRESENCA, DT_ATRACACAO, TX_OBS_AVARIA na TINT_MESQUITA009_JOB e então os apaga
      IF EXISTS (SELECT C.NAME 
  	         FROM SYSOBJECTS O, SYSCOLUMNS C
 	         WHERE O.NAME LIKE 'TINT_MESQUITA009_JOB' AND O.ID = C.ID AND C.NAME LIKE 'CH_PRESENCA')
      BEGIN
        ALTER TABLE TINT_MESQUITA009_JOB
        DROP COLUMN CH_PRESENCA
      END

      IF EXISTS (SELECT C.NAME 
	         FROM SYSOBJECTS O, SYSCOLUMNS C
	         WHERE O.NAME LIKE 'TINT_MESQUITA009_JOB' AND O.ID = C.ID AND C.NAME LIKE 'DT_ATRACACAO')
      BEGIN
        ALTER TABLE TINT_MESQUITA009_JOB
        DROP COLUMN DT_ATRACACAO
      END

      IF EXISTS (SELECT C.NAME 
  	         FROM SYSOBJECTS O, SYSCOLUMNS C
	         WHERE O.NAME LIKE 'TINT_MESQUITA009_JOB' AND O.ID = C.ID AND C.NAME LIKE 'TX_OBS_AVARIA')
      BEGIN
        ALTER TABLE TINT_MESQUITA009_JOB
        DROP COLUMN TX_OBS_AVARIA
      END

      -- Apaga possíveis dados nas tabelas
      DELETE TDIVERGENCIA_JOB
      DELETE TINT_MESQUITA003_JOB
      DELETE TINT_MESQUITA005_JOB
      DELETE TINT_MESQUITA007_JOB
      DELETE TINT_MESQUITA009_JOB
      DELETE TINT_MESQUITA013_JOB

      -- Cria a tabela temporária onde serão armazenados todos os arquivos do diretório
      CREATE TABLE #TARQUIVOSTMP
      (
        NM_ARQUIVO varchar(60)
       )

      -- Insere numa temporária o arquivo exe, caso exista 
      SET @nm_arquivo = 'dir \\indaia01\arquivos\ftpmesquita BASF.EXE /b'

      INSERT INTO #TARQUIVOSTMP
      EXEC master..xp_cmdshell @nm_arquivo

      -- Se o arquivo não está na pasta (G:\ftpmesquita), enviar e-mail para o suporte e mesquita
      IF NOT EXISTS (SELECT NM_ARQUIVO FROM #TARQUIVOSTMP WHERE NM_ARQUIVO LIKE 'BASF%')
      BEGIN
        SET @msg_automatica = ( SELECT 'Essa é uma mensagem automática: Arquivo BASF.EXE, indispensavel para integracao mesquita, nao encontrado em ' + 
	  CONVERT(char(10), GETDATE(),103) + ' as ' + CONVERT(char(5), GETDATE(),114) )     

        EXEC master..xp_sendmail @subject = 'Ausencia de arquivo BASF.EXE', 
  	     @recipients = 'suporte@indaialogistica.com.br; debora.prazeres@grupomesquita.com.br',
             @message = @msg_automatica

      END
      ELSE
      BEGIN   
        -- Copia o arquivo BASF.EXE para a pasta padrão
        SET @str_copy = 'copy \\indaia01\arquivos\ftpmesquita\BASF.EXE ' + @ds_path      

        EXEC master..xp_cmdshell @str_copy, NO_OUTPUT

        -- Executa o arquivo.bat para descompactar o BASF.EXE
        EXEC master..xp_cmdshell 'H:\DDBroker\ftp_mesquita\integracao_mesquita.bat', NO_OUTPUT 

        -- Importa os dados dos arquivos txt para as tabelas auxiliares
   	EXEC ('BULK INSERT TINT_MESQUITA003_JOB FROM ''' + @DS_PATH + 'TBE003.txt''' + 
              'WITH (FIELDTERMINATOR = '';'', ROWTERMINATOR = ''\n'')')

   	EXEC ('BULK INSERT TINT_MESQUITA005_JOB FROM ''' + @DS_PATH + 'TBE005.txt''' + 
              'WITH (FIELDTERMINATOR = '';'', ROWTERMINATOR = ''\n'')')

   	EXEC ('BULK INSERT TINT_MESQUITA007_JOB FROM ''' + @DS_PATH + 'TBE007.txt''' + 
              'WITH (FIELDTERMINATOR = '';'', ROWTERMINATOR = ''\n'')')

   	EXEC ('BULK INSERT TINT_MESQUITA008_JOB FROM ''' + @DS_PATH + 'TBE008.txt''' + 
              'WITH (FIELDTERMINATOR = '';'', ROWTERMINATOR = ''\n'')')

   	EXEC ('BULK INSERT TINT_MESQUITA009_JOB FROM ''' + @DS_PATH + 'TBE009.txt''' + 
              'WITH (FIELDTERMINATOR = '';'', ROWTERMINATOR = ''\n'')')

   	EXEC ('BULK INSERT TINT_MESQUITA013_JOB FROM ''' + @DS_PATH + 'TBE013.txt''' + 
              'WITH (FIELDTERMINATOR = '';'', ROWTERMINATOR = ''\n'')')

        -- Apaga os arquivos
        SET @deleta_arquivo = 'DEL '+ @ds_path + '*.txt'
        EXEC master..xp_cmdshell @deleta_arquivo, NO_OUTPUT

        SET @deleta_arquivo = 'DEL '+ @ds_path + 'BASF.EXE'
        EXEC master..xp_cmdshell @deleta_arquivo, NO_OUTPUT

        -- Verifica a qual pasta o arquivo pertencerá, move para a pasta e renomeia
        SELECT @diretorio = 
        CASE WHEN MONTH(GETDATE()) = '01' THEN 'Janeiro'
             WHEN MONTH(GETDATE()) = '02' THEN 'Fevereiro'
             WHEN MONTH(GETDATE()) = '03' THEN 'Marco'
             WHEN MONTH(GETDATE()) = '04' THEN 'Abril'
             WHEN MONTH(GETDATE()) = '05' THEN 'Maio'
             WHEN MONTH(GETDATE()) = '06' THEN 'Junho'
             WHEN MONTH(GETDATE()) = '07' THEN 'Julho'
             WHEN MONTH(GETDATE()) = '08' THEN 'Agosto'
             WHEN MONTH(GETDATE()) = '09' THEN 'Setembro'
             WHEN MONTH(GETDATE()) = '10' THEN 'Outubro'
             WHEN MONTH(GETDATE()) = '11' THEN 'Novembro'
             WHEN MONTH(GETDATE()) = '12' THEN 'Dezembro'
        END

        IF LEN(DATEPART(HH, GETDATE())) = 1
	BEGIN
          SELECT @nm_arquivo = 'BASF_' + 
    	  REPLACE( CONVERT(CHAR(12) ,GETDATE(), 103), '/', '') + '_0' + 
	  REPLACE(CAST( DATEPART(HH, GETDATE()) AS CHAR(2)), ' ', '') + '00' + '.EXE'
	END
        ELSE
	BEGIN
          SELECT @nm_arquivo = 'BASF_' + 
    	  REPLACE( CONVERT(CHAR(12) ,GETDATE(), 103), '/', '') + '_' + 
	  REPLACE(CAST( DATEPART(HH, GETDATE()) AS CHAR(2)), ' ', '') + '00' + '.EXE'
	END

        SET @renomeia_arquivo = 'rename \\indaia01\arquivos\ftpmesquita\BASF.EXE ' + @nm_arquivo

        EXEC master..xp_cmdshell @renomeia_arquivo, NO_OUTPUT

        SET @move_arquivo = 'move \\indaia01\arquivos\ftpmesquita\'+ @nm_arquivo + ' \\indaia01\arquivos\ftpmesquita\'+ @diretorio + '_' + CAST(YEAR(GETDATE()) as char(4))

        EXEC master..xp_cmdshell @move_arquivo, NO_OUTPUT

        -- Atualiza TINT_MESQUITA007_JOB	
        ALTER TABLE TINT_MESQUITA007_JOB
        ADD CH_PRESENCA char(38),
            OBS_AVARIA varchar(32)

        -- Atualiza TINT_MESQUITA009_JOB	
        ALTER TABLE TINT_MESQUITA009_JOB
        ADD CH_PRESENCA char(38),
	    DT_ATRACACAO datetime,
	    TX_OBS_AVARIA text
      
        -- Faz a distribuição dos dados (Integração mesquita)
        EXEC sp_integracao_automatica @ds_path
   
        -- Apaga os dados nas tabelas     
        DELETE TDIVERGENCIA_JOB
        DELETE TINT_MESQUITA003_JOB
        DELETE TINT_MESQUITA005_JOB
        DELETE TINT_MESQUITA007_JOB
        DELETE TINT_MESQUITA009_JOB
        DELETE TINT_MESQUITA013_JOB

      END
    END
END   
ELSE
BEGIN
--  PRINT 'Não é dia útil'
  RETURN
END
































GO
