USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_ordena_cliente_receita] (@unidade char(2), @produto char(2), 
 @periodo_inicial datetime, @periodo_final datetime, @chave char(1), 
 @nr_identificador int output) AS

select @nr_identificador = isnull(max(identificador),0) 
  from TREC_DESP_OPERACIONAIS 

select @nr_identificador = @nr_identificador + 1
CREATE TABLE #tmp_rec_desp_op (
 Identificador int NOT NULL ,
 chave float NOT NULL ,
 cd_cliente char (5) NOT NULL ,
 tot_receita float NOT NULL ,
 tot_processo int NOT NULL ,
 tot_media float NOT NULL 
)
INSERT INTO #tmp_rec_desp_op
  SELECT @nr_identificador, 0,
         E.CD_EMPRESA, 
         ISNULL( ( SELECT SUM( ISNULL( F.VL_ITEM, 0 ) ) 
                   FROM   TFATURAMENTO_CC F,
                          TITEM I,
                          TPROCESSO P
                   WHERE  F.CD_ITEM = I.CD_ITEM AND
                          F.NR_PROCESSO = P.NR_PROCESSO AND
                          I.CD_TIPO_ITEM = 'R' AND
                          P.CD_CLIENTE = E.CD_EMPRESA AND
                          P.CD_UNID_NEG = @unidade AND
                          P.CD_PRODUTO = @produto AND
                          F.DT_LANCAMENTO >= @periodo_inicial AND
                          F.DT_LANCAMENTO <= @periodo_final AND
                          F.IN_FATURADO = '1' AND
                          F.IN_CANCELADO = '0' AND
                          F.IN_RESTITUI = '0' ), 0 ) -
         ISNULL( ( SELECT SUM(ISNULL(F.VL_ITEM, 0)) 
                   FROM   TFATURAMENTO_CC F,
                          TITEM I,
                          TPROCESSO P
                   WHERE  F.CD_ITEM = I.CD_ITEM AND
                          F.NR_PROCESSO = P.NR_PROCESSO AND
                          I.CD_TIPO_ITEM = 'R' AND
                          P.CD_CLIENTE = E.CD_EMPRESA AND
                          P.CD_UNID_NEG = @unidade AND
                          P.CD_PRODUTO = @produto AND
                          F.DT_LANCAMENTO >= @periodo_inicial AND
                          F.DT_LANCAMENTO <= @periodo_final AND
                          F.IN_FATURADO = '1' AND
                          F.IN_CANCELADO = '0' AND
                          F.IN_RESTITUI = '1'),0) TOT_RECEITA,
         ISNULL( ( SELECT COUNT( F.NR_PROCESSO ) 
                   FROM   TFATURAMENTO_CC F,
                          TITEM I,
                          TPROCESSO P
                   WHERE  F.CD_ITEM = I.CD_ITEM AND
                          F.NR_PROCESSO = P.NR_PROCESSO AND
                          I.CD_TIPO_ITEM = 'R' AND
                          P.CD_CLIENTE = E.CD_EMPRESA AND
                          P.CD_UNID_NEG = @unidade AND
                          P.CD_PRODUTO = @produto AND
                          F.DT_LANCAMENTO >= @periodo_inicial AND
                          F.DT_LANCAMENTO <= @periodo_final AND
                          F.IN_FATURADO = '1' AND
                          F.IN_CANCELADO = '0'),0) TOT_PROCESSO, 0 TOT_MEDIA
  FROM TEMPRESA_NAC E

UPDATE #tmp_rec_desp_op
SET    TOT_MEDIA = TOT_RECEITA / TOT_PROCESSO
WHERE  TOT_PROCESSO > 0

IF @chave = 'R' 
BEGIN
  UPDATE #tmp_rec_desp_op
  SET chave = TOT_RECEITA
END
IF @chave = 'P' 
BEGIN
  UPDATE #tmp_rec_desp_op
  SET chave = TOT_PROCESSO
END

IF @chave = 'M' 
BEGIN
  UPDATE #tmp_rec_desp_op
  SET chave = TOT_MEDIA
END     

INSERT INTO TREC_DESP_OPERACIONAIS
  SELECT * 
  FROM   #tmp_rec_desp_op

DROP TABLE #tmp_rec_desp_op


GO
