USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_rel_and_servico] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                      @cd_servico char(3), @dt_inicio datetime, @dt_fim datetime, @tipo integer, @cd_analista char(4), 
                                      @nr_identificador int output) AS

SELECT @cd_unid_neg = ISNULL( @cd_unid_neg, '' )
SELECT @cd_produto  = ISNULL( @cd_produto, '' )
SELECT @cd_grupo    = ISNULL( @cd_grupo, '' )
SELECT @cd_cliente  = ISNULL( @cd_cliente,'' )
SELECT @cd_servico  = ISNULL( @cd_servico, '' )
SELECT @cd_analista = ISNULL( @cd_analista, '' )

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_analista char(4)
DECLARE @cd_servico char(3)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @tipo integer
DECLARE @nr_identificador int 

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = ''
SELECT @cd_cliente = ''
SELECT @cd_servico = ''
SELECT @dt_inicio = convert( datetime, '01/12/2000', 103 )
SELECT @dt_fim = convert( datetime, '01/01/2001', 103 )
SELECT @tipo = 2
SELECT @cd_analista = ''
*/

DECLARE @nr_processo_fetch char(18)
DECLARE @cd_empresa_fetch char(5)
DECLARE @cd_servico_fetch char(3)
DECLARE @cd_analista_fetch char(4)
DECLARE @nr_conhecimento char(18)
DECLARE @nr_di char(10)
DECLARE @nm_canal char(10)
DECLARE @cd_referencia char(15)
DECLARE @dt_chegada datetime 
DECLARE @dt_receb_doc datetime 
DECLARE @dt_reg_di datetime 
DECLARE @dt_desemb datetime 
DECLARE @dt_remocao datetime 
DECLARE @cd_ev_remocao char(3)
DECLARE @nr_proc_flp char(18)     
DECLARE @in_aplicavel bit        
DECLARE @cd_evento char(3)
DECLARE @dt_entrega datetime

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_AND_SERVICOS (TABLOCK HOLDLOCK)

DECLARE c_processo CURSOR FOR
  SELECT DISTINCT(P.NR_PROCESSO), P.CD_CLIENTE, P.CD_SERVICO, P.CD_ANALISTA_COMISSARIA
  FROM   TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK), TCLIENTE_SERVICO S (NOLOCK)
  WHERE  P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_CLIENTE = S.CD_CLIENTE AND
         P.CD_UNID_NEG = S.CD_UNID_NEG AND
         P.CD_PRODUTO = S.CD_PRODUTO AND
         P.CD_SERVICO = S.CD_SERVICO AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, '' ) AND
         @cd_produto IN ( P.CD_PRODUTO, '' ) AND
         @cd_servico IN ( P.CD_SERVICO, '' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, '' ) AND
         @cd_grupo IN ( E.CD_GRUPO, '' ) AND
         @cd_analista IN ( P.CD_ANALISTA_COMISSARIA, '' ) AND
         P.IN_CANCELADO = '0' AND
         P.IN_LIBERADO = '1' AND
         P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim

OPEN c_processo
FETCH c_processo INTO @nr_processo_fetch, @cd_empresa_fetch, @cd_servico_fetch, @cd_analista_fetch
WHILE @@fetch_status <> -1
BEGIN

  SELECT @nr_conhecimento = P.NR_CONHECIMENTO, 
         @nr_di = P.NR_DI, 
         @nm_canal = ISNULL(C.NM_CANAL,''), 
         @cd_referencia = ISNULL(R.CD_REFERENCIA,'')
  FROM   TPROCESSO P (NOLOCK)
         LEFT JOIN TTP_CANAL C (NOLOCK) ON ( C.CD_CANAL = P.CD_CANAL )
         LEFT JOIN TREF_CLIENTE R (NOLOCK) ON ( R.NR_PROCESSO = P.NR_PROCESSO AND NR_SEQUENCIA = '001' )
  WHERE  P.NR_PROCESSO = @nr_processo_fetch AND 
         P.DT_ABERTURA >= @dt_inicio AND 
         P.DT_ABERTURA <= @dt_fim

  SELECT @dt_chegada = DT_REALIZACAO 
  FROM   TFOLLOWUP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo_fetch AND 
         CD_EVENTO = ( SELECT CD_EV_CHEGADA FROM TPARAMETROS (NOLOCK) ) 

  SELECT @dt_receb_doc = DT_REALIZACAO 
  FROM   TFOLLOWUP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo_fetch AND 
         CD_EVENTO = ( SELECT CD_EV_RECEB_DOC FROM TPARAMETROS (NOLOCK) ) 

  SELECT @dt_reg_di = DT_REALIZACAO
  FROM   TFOLLOWUP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo_fetch AND 
         CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS (NOLOCK) ) 
  SELECT @dt_desemb = DT_REALIZACAO 
  FROM   TFOLLOWUP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo_fetch AND 
         CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) ) 

  SELECT @nr_proc_flp = NR_PROCESSO,
         @in_aplicavel= IN_APLICAVEL,
         @dt_remocao = DT_REALIZACAO 
  FROM   TFOLLOWUP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo_fetch AND 
         CD_EVENTO = ( SELECT CD_EV_REMOCAO FROM TPARAMETROS (NOLOCK) ) 
 
  SELECT @cd_ev_remocao = CD_EV_REMOCAO FROM TPARAMETROS

  SELECT @dt_entrega = DT_REALIZACAO 
  FROM   TFOLLOWUP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo_fetch AND 
         CD_EVENTO = ( SELECT CD_EVENTO_CONCLUSOR 
                       FROM   VW_SERVICO_GERAL (NOLOCK)
                       WHERE  CD_SERVICO = @cd_servico_fetch AND IN_ATIVO = 1 ) 

  IF @Tipo = 0     -- Aguardando remocao
  BEGIN
    IF ( LTRIM( RTRIM( @cd_ev_remocao ) ) <> '' ) AND ( @nr_proc_flp = @nr_processo_fetch ) AND ( @in_aplicavel = 1 ) AND @dt_remocao is NULL
    BEGIN
      IF ( @dt_entrega is Null ) or 
         ( @dt_entrega is not null and CONVERT( datetime, @dt_entrega, 103 ) + 1 = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ) )
      BEGIN
        INSERT TREL_AND_SERVICOS( NR_IDENTIFICADOR, NR_PROCESSO, CD_REFERENCIA, NR_CONHECIMENTO, DT_CHEGADA, DT_RECEB_DOC,
                                  NR_DI, DT_REG_DI, NM_CANAL, DT_DESEMB, CD_GRUPO, CD_CLIENTE, CD_SERVICO, DT_REMOCAO, CD_ANALISTA )
        VALUES ( @nr_identificador, @nr_processo_fetch, @cd_referencia, @nr_conhecimento, @dt_chegada, @dt_receb_doc, 
                 @nr_di, @dt_reg_di, @nm_canal, @dt_desemb, @cd_grupo, @cd_empresa_fetch, @cd_servico_fetch, @dt_remocao, @cd_analista_fetch )
      END
    END
  END
  ELSE IF @Tipo = 1
  BEGIN
    IF ( LTRIM( RTRIM( @cd_ev_remocao ) ) <> '' ) AND ( @nr_proc_flp = @nr_processo_fetch ) AND ( @in_aplicavel = 1 ) AND @dt_remocao IS NOT NULL
    BEGIN
      INSERT TREL_AND_SERVICOS ( NR_IDENTIFICADOR, NR_PROCESSO, CD_REFERENCIA, NR_CONHECIMENTO, DT_CHEGADA, DT_RECEB_DOC,
             NR_DI, DT_REG_DI, NM_CANAL, DT_DESEMB, CD_GRUPO, CD_CLIENTE, CD_SERVICO, DT_REMOCAO, CD_ANALISTA )
      VALUES ( @nr_identificador, @nr_processo_fetch, @cd_referencia, @nr_conhecimento, @dt_chegada, @dt_receb_doc,
               @nr_di, @dt_reg_di, @nm_canal, @dt_desemb, @cd_grupo, @cd_empresa_fetch, @cd_servico_fetch, @dt_remocao, @cd_analista_fetch )
    END
  END
  ELSE IF @Tipo = 2
  BEGIN
    IF ( @dt_entrega IS NULL ) or 
       ( @dt_entrega IS NOT NULL AND CONVERT( datetime, @dt_entrega, 103 ) + 1 = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ) )
    BEGIN
      INSERT TREL_AND_SERVICOS
            ( NR_IDENTIFICADOR, NR_PROCESSO, CD_REFERENCIA, NR_CONHECIMENTO, DT_CHEGADA, DT_RECEB_DOC,
              NR_DI, DT_REG_DI, NM_CANAL, DT_DESEMB, CD_GRUPO, CD_CLIENTE, CD_SERVICO, DT_REMOCAO, TX_OBS, CD_ANALISTA )
         SELECT @nr_identificador, @nr_processo_fetch, @cd_referencia, @nr_conhecimento, @dt_chegada, @dt_receb_doc, 
                @nr_di, @dt_reg_di, @nm_canal, @dt_desemb, @cd_grupo, @cd_empresa_fetch, @cd_servico_fetch, @dt_remocao, TX_OBSERVACOES, @cd_analista_fetch
         FROM   TPROCESSO 
         WHERE  NR_PROCESSO = @nr_processo_fetch
    END 
  END 

  FETCH c_processo INTO @nr_processo_fetch, @cd_empresa_fetch, @cd_servico_fetch, @cd_analista_fetch

END

CLOSE c_processo
DEALLOCATE c_processo

/*
SELECT NR_PROCESSO, TX_OBS FROM TREL_AND_SERVICOS
WHERE NR_IDENTIFICADOR = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
*/





GO
