USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_atz_num_imp] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_cliente char(5), @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_cliente char(5)
DECLARE @nr_identificador int 

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_cliente = '00055'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_processo char(18)
DECLARE @in_dest_num char(01)

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto  char(2)
DECLARE @cd_cliente  char(5)
DECLARE @nr_identificador int

SELECT @CD_UNID_NEG = '01'
SELECT @CD_PRODUTO  = '01'
SELECT @CD_CLIENTE  = '00105'
--*/

SELECT @nr_identificador =
  ( SELECT ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) 
    FROM   TNUMERARIO_IMP (TABLOCK HOLDLOCK) ) + 1

SELECT P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, NI.NR_PROCESSO, 
       N.NR_SOLICITACAO, NI.CD_ITEM, ISNULL( NI.CD_BANCO, '') CD_BANCO,
       SUM( ISNULL( NI.VL_SOLICITADO, 0 ) ) VL_SOLIC,
       SUM( ROUND( ISNULL( ( NI.VL_SOLICITADO / ISNULL( VND.TX_DOLAR, 0 ) ), 0), 2) ) VL_SOLIC_USD,
       MIN( ISNULL( VND.TX_DOLAR, 0) ) VL_TAXA_USD, NI.TP_DESTINO, NI.CD_FAVORECIDO
INTO #tmp
FROM 
    TNUMERARIO N,
    TNUMERARIO_ITEM_SOLIC NI,
    TPROCESSO P,
    VW_TNUMERARIO_USD VND,
    TCLIENTE_HABILITACAO H
WHERE 
    P.NR_PROCESSO = N.NR_PROCESSO AND
    N.NR_PROCESSO = NI.NR_PROCESSO AND
    N.NR_SOLICITACAO = NI.NR_SOLICITACAO AND
    N.NR_PROCESSO = VND.NR_PROCESSO AND
    N.NR_SOLICITACAO = VND.NR_SOLICITACAO AND
    P.CD_CLIENTE = H.CD_CLIENTE AND
    P.CD_UNID_NEG = H.CD_UNID_NEG AND
    P.CD_PRODUTO = H.CD_PRODUTO AND
    P.CD_UNID_NEG = @cd_unid_neg AND
    P.CD_PRODUTO = @cd_produto AND
    P.CD_CLIENTE = @cd_cliente AND
    ( N.CD_STATUS = 'B' OR
      N.CD_STATUS = 'A') AND
    N.VL_SOLICITADO >= 0 AND
    N.IN_EMITIDO = '0' AND
    NI.CD_ITEM <> '999' AND
    NI.VL_SOLICITADO >= 0
GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, NI.NR_PROCESSO, 
         N.NR_SOLICITACAO, NI.CD_ITEM, NI.CD_BANCO, NI.TP_DESTINO, NI.CD_FAVORECIDO

INSERT INTO TNUMERARIO_IMP
SELECT @nr_identificador, T.CD_UNID_NEG, T.CD_PRODUTO, T.CD_CLIENTE, T.NR_PROCESSO, 
       T.NR_SOLICITACAO, T.CD_ITEM,
       CASE M.IN_USD
         WHEN '0' THEN T.VL_SOLIC
         WHEN '1' THEN 
         CASE N.CD_ITEM 
           WHEN NULL THEN T.VL_SOLIC
           ELSE 0
         END
         WHEN '2' THEN T.VL_SOLIC
         ELSE 0
       END,
       CASE M.IN_USD
         WHEN '0' THEN 0
         WHEN '1' THEN 
         CASE N.CD_ITEM 
           WHEN NULL THEN 0
           ELSE VL_SOLIC_USD
         END
         WHEN '2' THEN VL_SOLIC_USD
         ELSE 0
       END,
       ISNULL( M.IN_USD, 0 ),
       T.CD_BANCO,
       T.VL_TAXA_USD,
       T.TP_DESTINO,
       T.CD_FAVORECIDO
FROM   #tmp T,
       TCLIENTE_HABILITACAO H,
       TMOD_NUMERARIO M,
       TCLIENTE_NUMERARIO_USD N
WHERE  H.CD_UNID_NEG = T.CD_UNID_NEG AND
       H.CD_PRODUTO = T.CD_PRODUTO AND
       H.CD_UNID_NEG = @cd_unid_neg AND
       H.CD_PRODUTO = @cd_produto AND
       H.CD_CLIENTE = T.CD_CLIENTE AND
       H.CD_NUMERARIO = M.CD_NUMERARIO AND
       H.IN_ATIVO = '1' AND
       T.CD_UNID_NEG *= N.CD_UNID_NEG AND
       T.CD_PRODUTO *= N.CD_PRODUTO AND
       T.CD_CLIENTE *= N.CD_CLIENTE AND
       T.CD_ITEM *= N.CD_ITEM
DROP TABLE #tmp

DECLARE c_repres CURSOR FOR
( select nr_processo 
  from tnumerario_imp 
  where nr_identificador = @nr_identificador 
  group by nr_processo )

OPEN c_repres
FETCH c_repres INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN

   SELECT @in_dest_num = IN_DEST_NUM
   FROM TCLIENTE_REPRESENTANTE 
   WHERE CD_CLIENTE       = @cd_cliente  AND 
         CD_UNID_NEG      = @cd_unid_neg AND
         CD_PRODUTO       = @cd_produto  AND
         CD_SERVICO       = ( SELECT P.CD_SERVICO
                              FROM TPROCESSO P 
                              WHERE NR_PROCESSO = @nr_processo ) AND
         CD_REPRESENTANTE = ( SELECT P.CD_REPRESENTANTE
                              FROM TPROCESSO P 
                              WHERE NR_PROCESSO = @nr_processo )
  
  IF ISNULL( @in_dest_num, '') = '1' 
  BEGIN

     IF ( SELECT P.CD_REPRESENTANTE FROM TPROCESSO P WHERE NR_PROCESSO = @nr_processo ) <> '' AND
         ( SELECT P.CD_REPRESENTANTE FROM TPROCESSO P WHERE NR_PROCESSO = @nr_processo ) <> NULL
    
    UPDATE TNUMERARIO_IMP SET CD_CLIENTE = ( SELECT P.CD_REPRESENTANTE
                                             FROM TPROCESSO P 
                                             WHERE NR_PROCESSO = @nr_processo )
    WHERE NR_PROCESSO      = @nr_processo AND
          NR_IDENTIFICADOR = @nr_identificador 

  END    
  
  FETCH c_repres INTO @nr_processo
END

CLOSE c_repres
DEALLOCATE c_repres

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/




GO
