USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [sp_cons_db_susp_exp]( @NR_PROCESSO char(18), @pCD_MERCADORIA char(40)) AS

/*
DECLARE @NR_PROCESSO     char(18)
DECLARE @pCD_MERCADORIA  char(20)

SELECT @NR_PROCESSO    = '0102EM-0211-04'
SELECT @pCD_MERCADORIA = '58147125'  
*/

DECLARE @NR_PROCESSO_ITEM   char(18)
DECLARE @NR_ITEM            char(3)
DECLARE @CD_ENQUAD_OP       char(5)
DECLARE @CD_NCM             char(11) 
DECLARE @CD_UNID_MEDIDA     char(3)
DECLARE @VL_UNITARIO        float
DECLARE @VL_PESO_LIQ_UNIT   float
DECLARE @VL_SEGURO          float 
DECLARE @VL_FRETE           float
DECLARE @NR_PEDIDO          char(18)
DECLARE @NR_ATO_CONCESSORIO char(13)
DECLARE @msg                char(255)
DECLARE @status             char(1)
DECLARE @CD_MERCADORIA      char(40)
DECLARE @NR_FORECAST        char(18)
DECLARE @VL_UNIT_FORECAST   float
DECLARE @QT_EXP_FORECAST    float
DECLARE @QT_MERC_RE         float
DECLARE @PL_EXP_FORECAST    float
DECLARE @QT_TRANSM          float
DECLARE @QT_REALIZ          float
DECLARE @QT_IMP             float
DECLARE @QT_SALDO           float
DECLARE @VL_SEMCOBCAMBIAL   float

  -- Tabela de processos de exportação
  SELECT @CD_ENQUAD_OP = ISNULL(CD_ENQUAD_OP,'')
  FROM   TPROCESSO_EXP
  WHERE  NR_PROCESSO = @NR_PROCESSO
 
  -- Tabela de itens da exportação
  SELECT NR_PROCESSO, NR_ITEM, CD_NCM, CD_UNID_MEDIDA, VL_UNITARIO, VL_PESO_LIQ_UNIT, 
        VL_SEGURO, VL_FRETE, NR_PEDIDO, NR_ATO_CONCESSORIO, QT_MERCADORIA, CD_MERCADORIA
  INTO  #TMP_PROC_EXP_ITEM
  FROM  tprocesso_exp_item
  WHERE NR_PROCESSO = @NR_PROCESSO AND CD_MERCADORIA = @pCD_MERCADORIA

  IF ( SELECT count(*) FROM #TMP_PROC_EXP_ITEM WHERE NR_PROCESSO  = @NR_PROCESSO AND CD_MERCADORIA = @pCD_MERCADORIA) > 0 
  BEGIN
    IF @CD_ENQUAD_OP <> '81101' --enquadramento DRAWBACK
    BEGIN
      IF ( SELECT COUNT(*) FROM tprocesso_exp_item WHERE NR_PROCESSO = @NR_PROCESSO AND ISNULL(NR_ATO_CONCESSORIO,'') <> '') > 0 
      BEGIN
        EXEC sp_ret_msg_diagnos 19, @msg OUTPUT, @status OUTPUT
        INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
        VALUES (@NR_PROCESSO,@status,@msg)
      END
    END
    ELSE
    BEGIN
      IF ( SELECT COUNT(*) FROM tprocesso_exp_item WHERE NR_PROCESSO = @NR_PROCESSO 
  	  and ISNULL(NR_ATO_CONCESSORIO,'') <> '') = 0 
      BEGIN
        EXEC sp_ret_msg_diagnos 19, @msg OUTPUT, @status OUTPUT
        INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
        VALUES (@NR_PROCESSO,@status,@msg)
      END
    END
  END

  WHILE ( SELECT count(*) FROM #TMP_PROC_EXP_ITEM) > 0 
  BEGIN
    SELECT @NR_PROCESSO_ITEM = NR_PROCESSO,   @NR_ITEM = NR_ITEM, 
           @CD_NCM  = CD_NCM,  @CD_UNID_MEDIDA = CD_UNID_MEDIDA, 
           @VL_UNITARIO = VL_UNITARIO,  @VL_PESO_LIQ_UNIT = VL_PESO_LIQ_UNIT, 
           @VL_SEGURO = VL_SEGURO,  @VL_FRETE = VL_FRETE, 
           @NR_PEDIDO = NR_PEDIDO,   @NR_ATO_CONCESSORIO = NR_ATO_CONCESSORIO, 
           @CD_MERCADORIA = CD_MERCADORIA,  @QT_MERC_RE = QT_MERCADORIA
      FROM #TMP_PROC_EXP_ITEM


    -- Dados do FORECAST
    SELECT @NR_FORECAST = B.NR_FORECAST,  @VL_UNIT_FORECAST = A.VL_UNITARIO, 
      	   @QT_EXP_FORECAST = A.QT_EXP, @PL_EXP_FORECAST = A.PL_UNIT_EXP      FROM TFORECAST_EXP A, TATO_CONC_SUSP B
     WHERE B.NR_FORECAST = A.NR_FORECAST AND B.NR_ATO_CONC IS NOT NULL AND
           A.CD_MERCADORIA = @CD_MERCADORIA and B.NR_ATO_CONC = @NR_ATO_CONCESSORIO
   
    IF @NR_FORECAST <> ''   -- se o AC for do MyIndaia então
    BEGIN
      IF  convert(decimal(18,2),@VL_UNIT_FORECAST) <> convert(decimal(18,2),@VL_UNITARIO)
      BEGIN
        EXEC sp_ret_msg_diagnos 4, @msg OUTPUT, @status OUTPUT
        INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
        VALUES (@NR_PROCESSO_ITEM,@status,@msg)
      END

      IF  convert(decimal(18,2),@VL_PESO_LIQ_UNIT) <> convert(decimal(18,2),@PL_EXP_FORECAST)
      BEGIN
        EXEC sp_ret_msg_diagnos 20, @msg OUTPUT, @status OUTPUT
        INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
        VALUES (@NR_PROCESSO_ITEM,@status,rtrim(@msg)) 
      END
      -- DEBITANDO DO DRAWBACK
	    
      -- Pega as quantidades q já foram transmitidas daquele item
      SELECT @QT_TRANSM = ISNULL( SUM( QTD_TRANSM_RE ), 0 ) 
        FROM TSALDO_DRAWBACK_EXP
       WHERE NR_ATO_DRAWBACK = @NR_ATO_CONCESSORIO AND
             CD_MERCADORIA  = @CD_MERCADORIA 

      -- Pega as quantidades do ato concessório ( realizado )
      SELECT @QT_REALIZ = ISNULL( SUM( QT_IMP ), 0 ) 
        FROM TDIAGNOSTICO_SALDO
       WHERE NR_ATO_DRAWBACK = @NR_ATO_CONCESSORIO AND
             CD_MAT_PRI  = @CD_MERCADORIA 
	           
      SELECT @QT_REALIZ = @QT_REALIZ + @QT_TRANSM

      -- Previsto menos o realizado
      SELECT @QT_SALDO = @QT_EXP_FORECAST - @QT_REALIZ
	
	
      SELECT @VL_SEMCOBCAMBIAL = SUM(B.VL_UNITARIO * C.VL_INDICE)
        FROM TFORECAST_IMP A, TSALDO_DRAWBACK B, TLAUDO_MAT_PRI C
       WHERE A.CD_MERCADORIA = @CD_MERCADORIA and A.IN_COB_CAMBIAL = 'N' and A.nr_forecast = @NR_FORECAST AND
             B.CD_MERCADORIA = A.CD_MERCADORIA and B.CD_MAT_PRI = A.CD_MAT_PRI AND
             C.CD_MERCADORIA = A.CD_MERCADORIA and C.CD_MAT_PRI = A.CD_MAT_PRI      
	
      SELECT @VL_SEMCOBCAMBIAL = @VL_SEMCOBCAMBIAL * @QT_SALDO


      IF @QT_SALDO > 0  
      BEGIN	
       	IF @QT_MERC_RE <= @QT_SALDO	
        BEGIN
      	  IF (@VL_UNITARIO * @QT_MERC_RE) <= ( (@QT_SALDO * @VL_UNITARIO) - @VL_SEMCOBCAMBIAL ) --se não for com cob cambial então diminui do valor fob 
	        BEGIN
      	    INSERT TDIAGNOSTICO_SALDO (NR_ATO_DRAWBACK, NR_FORECAST, CD_MAT_PRI, QT_IMP)
      	    VALUES ( @NR_ATO_CONCESSORIO, @NR_FORECAST, @CD_MERCADORIA, @QT_MERC_RE)	
          END
      	  ELSE  -- se for maior do q tem no db então avisar
      	  BEGIN
      	    EXEC sp_ret_msg_diagnos 17, @msg OUTPUT, @status OUTPUT
       	    INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
   	        VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
    	    END
        END
        ELSE  -- se for maior do q tem no db então avisar
        BEGIN
          EXEC sp_ret_msg_diagnos 17, @msg OUTPUT, @status OUTPUT
          INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
          VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
        END
      END
      ELSE
      BEGIN  -- sem saldo suficiente no DB
        EXEC sp_ret_msg_diagnos 17, @msg OUTPUT, @status OUTPUT
        INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
        VALUES (@NR_PROCESSO_ITEM,@status, RTRIM(@msg) + ' - Mercadoria : ' + @CD_MERCADORIA)
      END

    END
    DELETE FROM #TMP_PROC_EXP_ITEM WHERE NR_PROCESSO = @NR_PROCESSO_ITEM AND NR_ITEM = @NR_ITEM
  END

  DROP TABLE #TMP_PROC_EXP_ITEM







GO
