USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE PROCEDURE [SP_CALCULO_SEGURO](
    @NR_PROCESSO         CHAR(18),
    @VL_SEGURO_MN        FLOAT          OUTPUT,
    @VL_SEGURO_MNEG      FLOAT          OUTPUT,
    @CD_TIPO_BASE_SEGURO CHAR(1) = NULL,
    @PC_SEGURO_MLE       FLOAT   = NULL,
    @CD_MOEDA_SEGURO     FLOAT   = NULL OUTPUT,
    @CD_MOEDA_MLE        CHAR(3) = NULL,
    @TX_MLE              FLOAT   = NULL,
    @CD_MOEDA_FRETE      CHAR(3) = NULL,
    @TX_FRETE            FLOAT   = NULL,
    @TX_SEGURO           FLOAT   = NULL,
    @TX_DOLAR            FLOAT   = NULL,
    @IN_MOEDA_UNICA      CHAR(1) = NULL,
    @IN_EMBUT_FRT_ITENS  CHAR(1) = NULL,
    @VL_TOTAL_MLE_MN     FLOAT   = NULL,
    @VL_TOT_MLE_MNEG     FLOAT   = NULL,
    @VL_TOT_DESPS_MN     FLOAT   = NULL,
    @VL_TOT_DESPS_MNEG   FLOAT   = NULL,
    @VL_TOTAL_FRETE_MN   FLOAT   = NULL,
    @VL_TOT_FRT_COLLECT  FLOAT   = NULL,
    @VL_TOT_FRT_PREPAID  FLOAT   = NULL,
    @VL_FRETE_TNAC_MNEG  FLOAT   = NULL
) AS
--*/
BEGIN  
    /*  
    DECLARE @NR_PROCESSO         CHAR(18)
    DECLARE @VL_SEGURO_MN        FLOAT
    DECLARE @VL_SEGURO_MNEG      FLOAT
    DECLARE @CD_TIPO_BASE_SEGURO CHAR(1)
    DECLARE @PC_SEGURO_MLE       FLOAT
    DECLARE @CD_MOEDA_SEGURO     FLOAT
    DECLARE @CD_MOEDA_MLE        CHAR(3)
    DECLARE @TX_MLE              FLOAT
    DECLARE @CD_MOEDA_FRETE      CHAR(3)
    DECLARE @TX_FRETE            FLOAT
    DECLARE @TX_SEGURO           FLOAT
    DECLARE @TX_DOLAR            FLOAT
    DECLARE @IN_MOEDA_UNICA      CHAR(1)
    DECLARE @IN_EMBUT_FRT_ITENS  CHAR(1)
    DECLARE @VL_TOTAL_MLE_MN     FLOAT
    DECLARE @VL_TOT_MLE_MNEG     FLOAT
    DECLARE @VL_TOT_DESPS_MN     FLOAT
    DECLARE @VL_TOT_DESPS_MNEG   FLOAT
    DECLARE @VL_TOTAL_FRETE_MN   FLOAT
    DECLARE @VL_TOT_FRT_COLLECT  FLOAT
    DECLARE @VL_TOT_FRT_PREPAID  FLOAT
    DECLARE @VL_FRETE_TNAC_MNEG  FLOAT
  
    --SET @NR_PROCESSO = '0101IM-0529-10' -- 1 - VMLE  
    SET @NR_PROCESSO = '0101IM-1000-12' -- 2 - VMLE + Frete  
    --SET @NR_PROCESSO = '0101Ia-0005-12' -- 3 - VMLE + Frete + Impostos  
  
    BEGIN TRAN  
    --*/

    -- Variveis da DI
    DECLARE @NR_DECLARACAO_IMP      CHAR(10)
    DECLARE @DT_CALCULO             DATETIME
    DECLARE @VL_TOTAL_II            FLOAT
    DECLARE @VL_TOTAL_IPI           FLOAT
    DECLARE @VL_TOTAL_ICMS          FLOAT
    DECLARE @CALC_VL_TOT_FRETE_MN   FLOAT
    DECLARE @CALC_VL_TOT_DESPESA_MN FLOAT
    DECLARE @CALC_VL_TOT_MLE_MN     FLOAT
    
    --DECLARE @CD_GRUPO               CHAR(3)
  
    -- Variveis de clculo  
    DECLARE @BASE_CALC              FLOAT  
    DECLARE @VL_MLE_DOLAR           FLOAT  
    DECLARE @VL_FRETE_DOLAR         FLOAT  
    DECLARE @VL_IMPOSTOS_DOLAR      FLOAT  
    DECLARE @VL_LUCROS_ESP_DOLAR    FLOAT  
    DECLARE @VL_MLE_BR              FLOAT  
    DECLARE @VL_FRETE_BR            FLOAT  
    DECLARE @VL_IMPOSTOS_BR         FLOAT  
    DECLARE @VL_LUCROS_ESP_BR       FLOAT  
  
    -- Tabela local para Taxas do cmbio  
    DECLARE @TB_TAXA_CAMBIO AS TABLE (  
        CD_MOEDA   CHAR(3),  
        DT_INICIO  DATETIME,  
        DT_TERMINO DATETIME,  
        TX_CAMBIO  FLOAT  
    )

    --SELECT @CD_GRUPO = CD_GRUPO
    --FROM TPROCESSO
    --WHERE NR_PROCESSO = @NR_PROCESSO
    
    -- Define Nulo para as variaveis vazias para passar no ISNULL
    IF @CD_MOEDA_MLE = ''												
    BEGIN
        SET @CD_MOEDA_MLE = NULL
        SET @TX_MLE       = NULL
   END
  
    IF @CD_MOEDA_FRETE = ''
    BEGIN
        SET @CD_MOEDA_FRETE = NULL
        SET @TX_FRETE       = NULL
    END
    IF @CD_MOEDA_SEGURO = ''
    BEGIN
        SET @CD_MOEDA_SEGURO = NULL
        SET @TX_SEGURO       = NULL
    END
    IF @TX_DOLAR = 0
        SET @TX_DOLAR = NULL

    SELECT @PC_SEGURO_MLE          = ISNULL(@PC_SEGURO_MLE, ISNULL(PC_SEGURO_MLE, 0)),
           @CD_TIPO_BASE_SEGURO    = ISNULL(@CD_TIPO_BASE_SEGURO, ISNULL(CD_TIPO_BASE_SEGURO, '0')),
           @NR_DECLARACAO_IMP      = ISNULL(NR_DECLARACAO_IMP, ''),
           @DT_CALCULO             = ISNULL(DT_CALCULO, CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103)),
           @CD_MOEDA_MLE           = ISNULL(@CD_MOEDA_MLE, CD_MOEDA_MLE),
           @TX_MLE                 = ISNULL(@TX_MLE, 0),
           @CD_MOEDA_FRETE         = ISNULL(@CD_MOEDA_FRETE, ISNULL(CD_MOEDA_FRETE, '')),
           @TX_FRETE               = ISNULL(@TX_FRETE, 0),
           @CD_MOEDA_SEGURO        = ISNULL(ISNULL(@CD_MOEDA_SEGURO, ISNULL(@CD_MOEDA_SEGURO, CD_MOEDA_SEGURO)), ''),
           @TX_SEGURO              = ISNULL(@TX_SEGURO, 0),
           @TX_DOLAR               = ISNULL(@TX_DOLAR, 0),
           @IN_MOEDA_UNICA         = ISNULL(@IN_MOEDA_UNICA, ISNULL(IN_MOEDA_UNICA, '0')),
           @IN_EMBUT_FRT_ITENS     = ISNULL(@IN_EMBUT_FRT_ITENS, ISNULL(IN_EMBUT_FRT_ITENS, '0')),
           @VL_TOTAL_MLE_MN        = ISNULL(@VL_TOTAL_MLE_MN, ISNULL(VL_TOTAL_MLE_MN, 0)),
           @VL_TOT_MLE_MNEG        = ISNULL(@VL_TOT_MLE_MNEG, ISNULL(VL_TOT_MLE_MNEG, 0)),
           @VL_TOT_DESPS_MN        = ISNULL(@VL_TOT_DESPS_MN, ISNULL(VL_TOT_DESPS_MN, 0)),
           @VL_TOT_DESPS_MNEG      = ISNULL(@VL_TOT_DESPS_MNEG, ISNULL(VL_TOT_DESPS_MNEG, 0)),
           @VL_TOTAL_FRETE_MN      = ISNULL(@VL_TOTAL_FRETE_MN, ISNULL(VL_TOTAL_FRETE_MN, 0)),
           @VL_TOT_FRT_COLLECT     = ISNULL(@VL_TOT_FRT_COLLECT, ISNULL(VL_TOT_FRT_COLLECT, 0)),
           @VL_TOT_FRT_PREPAID     = ISNULL(@VL_TOT_FRT_PREPAID, ISNULL(VL_TOT_FRT_PREPAID, 0)),
           @VL_FRETE_TNAC_MNEG     = ISNULL(@VL_FRETE_TNAC_MNEG, ISNULL(VL_FRETE_TNAC_MNEG, 0)),
           @VL_TOTAL_II            = ISNULL(VL_TOTAL_II, 0),
           @VL_TOTAL_IPI           = ISNULL(VL_TOTAL_IPI, 0),
           @VL_TOTAL_ICMS          = ISNULL(VL_TOT_ICMS, 0)
    FROM TDECLARACAO_IMPORTACAO   (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO  

    IF @TX_DOLAR = 0
        SELECT @TX_DOLAR = TX_CAMBIO
        FROM TTAXA_CAMBIO
        WHERE CD_MOEDA = '220'
          AND CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103) BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

	IF ISNULL(@CD_MOEDA_MLE, '') = ''
	BEGIN
        SET @CD_MOEDA_MLE = '220'
        SET @TX_MLE = @TX_DOLAR
        SET @VL_TOT_MLE_MNEG = @VL_TOTAL_MLE_MN / @TX_DOLAR
    END
  
    INSERT INTO @TB_TAXA_CAMBIO
    SELECT *
    FROM TTAXA_CAMBIO (NOLOCK)
    WHERE @DT_CALCULO BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA
  
    /*  
    SELECT @TX_DOLAR = TX_CAMBIO  
    FROM @TB_TAXA_CAMBIO  
    WHERE CD_MOEDA = '220'  
      AND @DT_CALCULO BETWEEN DT_INICIO AND DT_TERMINO  
  
    SELECT @CD_MOEDA_FRETE = CD_MOEDA,  
           @TX_FRETE       = TX_CAMBIO  
    FROM @TB_TAXA_CAMBIO  
    WHERE CD_MOEDA = CASE WHEN @CD_MOEDA_FRETE = '' THEN '220'  
                     ELSE @CD_MOEDA_FRETE  
                     END  
      AND @DT_CALCULO BETWEEN DT_INICIO AND DT_TERMINO  
  
    SELECT @CD_MOEDA_MLE = CD_MOEDA,  
           @TX_MLE       = TX_CAMBIO  
    FROM @TB_TAXA_CAMBIO  
    WHERE CD_MOEDA = CASE WHEN @CD_MOEDA_MLE = '' THEN '220'  
                     ELSE @CD_MOEDA_MLE  
                     END  
      AND @DT_CALCULO BETWEEN DT_INICIO AND DT_TERMINO  
  
    SELECT @CD_MOEDA_SEGURO = CD_MOEDA,  
           @TX_SEGURO       = TX_CAMBIO  
    FROM @TB_TAXA_CAMBIO  
    WHERE CD_MOEDA = CASE WHEN @CD_MOEDA_SEGURO = '' THEN '220'  
                     ELSE @CD_MOEDA_SEGURO  
                     END  
      AND @DT_CALCULO BETWEEN DT_INICIO AND DT_TERMINO  
    --*/  
    
    --*/
    -- Definir e pegar as taxas  
    -- Comentado abaixo para calcular sempre o seguro por causa da retificao - 29/12/2011 - Ocorrncia 26748/11
    --IF @NR_DECLARACAO_IMP = ''  
    BEGIN  
        IF @CD_MOEDA_SEGURO = ''  
        BEGIN  
            UPDATE TDECLARACAO_IMPORTACAO  
            SET CD_MOEDA_SEGURO = @CD_MOEDA_MLE  
            WHERE NR_PROCESSO = @NR_PROCESSO  
              
            SET @CD_MOEDA_SEGURO = @CD_MOEDA_MLE  
        END  

        IF (@CD_MOEDA_MLE <> '') AND NOT (@TX_MLE > 0)  
        BEGIN  
            SELECT @TX_MLE = TX_CAMBIO  
            FROM @TB_TAXA_CAMBIO
            WHERE CD_MOEDA = @CD_MOEDA_MLE  
              
            UPDATE TDECLARACAO_IMPORTACAO  
            SET DT_ULTIMA_ALTERACAO = CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103),  
                TX_MLE              = @TX_MLE  
            WHERE NR_PROCESSO = @NR_PROCESSO  
        END  

        IF (@CD_MOEDA_FRETE <> '') AND NOT (@TX_FRETE > 0)  
        BEGIN  
            SELECT @TX_FRETE = TX_CAMBIO  
            FROM @TB_TAXA_CAMBIO
            WHERE CD_MOEDA = @CD_MOEDA_FRETE  
              
            UPDATE TDECLARACAO_IMPORTACAO  
            SET DT_ULTIMA_ALTERACAO = CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103),  
                TX_FRETE            = @TX_FRETE  
            WHERE NR_PROCESSO = @NR_PROCESSO  
        END  

        IF (@CD_MOEDA_SEGURO <> '') AND NOT (@TX_SEGURO > 0)  
        BEGIN  
            SELECT @TX_SEGURO = TX_CAMBIO  
            FROM @TB_TAXA_CAMBIO
            WHERE CD_MOEDA = @CD_MOEDA_SEGURO  
              
            UPDATE TDECLARACAO_IMPORTACAO  
            SET DT_ULTIMA_ALTERACAO = CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103),  
                TX_SEGURO           = @TX_SEGURO  
            WHERE NR_PROCESSO = @NR_PROCESSO  
        END  

        IF NOT (@TX_DOLAR > 0)  
        BEGIN  
            SELECT @TX_DOLAR = TX_CAMBIO  
            FROM @TB_TAXA_CAMBIO
            WHERE CD_MOEDA = '220'  
              
            UPDATE TDECLARACAO_IMPORTACAO  
            SET DT_ULTIMA_ALTERACAO = CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103),  
                TX_DOLAR            = @TX_DOLAR  
            WHERE NR_PROCESSO = @NR_PROCESSO  
        END  
    END--*/

    -- Se alguma taxa estiver zerada  porque est incluindo a DI ou esta faltando alguma moeda - Michel - 15/09/2010
    IF (ISNULL(@TX_MLE, 0) = 0) OR (ISNULL(@TX_FRETE, 0) = 0) OR (ISNULL(@TX_SEGURO, 0) = 0) OR (ISNULL(@TX_DOLAR, 0) = 0)
    BEGIN
        SET @VL_SEGURO_MN   = 0
        SET @VL_SEGURO_MNEG = 0
    END
    ELSE
    BEGIN
        -- S efetuar se a porcentagem do seguro for maior do que ZERO  
        IF @PC_SEGURO_MLE > 0  
        BEGIN  
            PRINT 'Calculando seguro com ' + CONVERT(VARCHAR, @PC_SEGURO_MLE) + '%'    

            -- Converter valor para Dolar para calcular tudo em Dolar  
            SET @VL_TOT_MLE_MNEG    = (@VL_TOT_MLE_MNEG * @TX_MLE) / @TX_DOLAR  
            SET @VL_TOT_FRT_COLLECT = (@VL_TOT_FRT_COLLECT * @TX_FRETE) / @TX_DOLAR  
            SET @VL_TOT_FRT_PREPAID = (@VL_TOT_FRT_PREPAID * @TX_FRETE) / @TX_DOLAR  
            SET @VL_FRETE_TNAC_MNEG = (@VL_FRETE_TNAC_MNEG * @TX_FRETE) / @TX_DOLAR  

            SET @VL_FRETE_DOLAR = @VL_TOT_FRT_COLLECT + @VL_TOT_FRT_PREPAID - @VL_FRETE_TNAC_MNEG  
            SET @VL_FRETE_BR    = @VL_FRETE_DOLAR * @TX_DOLAR  

            IF (@CD_TIPO_BASE_SEGURO = '3')
                SET @VL_TOT_DESPS_MNEG  = (@VL_TOT_MLE_MNEG + CASE @IN_EMBUT_FRT_ITENS  
                                                                  WHEN '0' THEN @VL_FRETE_DOLAR  
                                                              ELSE 0  
                                                              END) * 0.1
            ELSE
                SET @VL_TOT_DESPS_MNEG = 0
            SET @VL_TOT_DESPS_MN = @VL_TOT_DESPS_MNEG * @TX_DOLAR

            IF (@CD_TIPO_BASE_SEGURO = '3')
                SET @VL_LUCROS_ESP_DOLAR = (@VL_TOT_MLE_MNEG + @VL_TOT_DESPS_MNEG + CASE @IN_EMBUT_FRT_ITENS  
                                                                                       WHEN '0' THEN @VL_FRETE_DOLAR  
                                                                                   ELSE 0  
                                                                                   END) * 0.1  
            ELSE
                SET @VL_LUCROS_ESP_DOLAR = 0
            SET @VL_LUCROS_ESP_BR = @VL_LUCROS_ESP_DOLAR * @TX_DOLAR  

            SET @VL_MLE_DOLAR = @VL_TOT_MLE_MNEG + @VL_TOT_DESPS_MNEG + @VL_LUCROS_ESP_DOLAR
            SET @VL_MLE_BR    = @VL_MLE_DOLAR * @TX_DOLAR

            IF (@CD_TIPO_BASE_SEGURO = '3')
                SET @VL_IMPOSTOS_BR    = @VL_TOTAL_II + @VL_TOTAL_IPI + @VL_TOTAL_ICMS
            ELSE
                SET @VL_IMPOSTOS_BR    = 0
            SET @VL_IMPOSTOS_DOLAR = @VL_IMPOSTOS_BR / @TX_DOLAR

            -- Clculo em Reais  
            --/*  
            IF @CD_TIPO_BASE_SEGURO = '1' -- VMLE
                SET @BASE_CALC = @VL_MLE_BR - CASE @IN_EMBUT_FRT_ITENS  
                                                  WHEN '1' THEN @VL_FRETE_BR  
                                              ELSE 0  
                                              END  
            ELSE IF @CD_TIPO_BASE_SEGURO IN ('2', '4') -- VMLE + FRETE [+ LUCRO ESTIMADO]
                SET @BASE_CALC = @VL_MLE_BR + CASE @IN_EMBUT_FRT_ITENS  
                                                  WHEN '0' THEN @VL_FRETE_BR  
                                              ELSE 0  
                                              END  
            ELSE -- VMLE + FRETE + IMPOSTOS
                SET @BASE_CALC = @VL_MLE_BR + CASE @IN_EMBUT_FRT_ITENS  
                                                  WHEN '0' THEN @VL_FRETE_BR  
                                              ELSE 0  
                                              END + @VL_IMPOSTOS_BR  

            IF @CD_TIPO_BASE_SEGURO = '4' -- VMLE + FRETE + LUCRO ESTIMADO
            BEGIN
                DECLARE @TX_LUCRO_ESTIMADO FLOAT

                SELECT @TX_LUCRO_ESTIMADO = ISNULL(TX_LUCRO_ESTIMADO, 0)
                FROM TPROCESSO P
                   INNER JOIN TGRUPO G ON G.CD_GRUPO = P.CD_GRUPO
                WHERE P.NR_PROCESSO = @NR_PROCESSO

                SET @BASE_CALC = @BASE_CALC + ((@BASE_CALC / 100) * @TX_LUCRO_ESTIMADO) -- Despesa Estimada
                SET @BASE_CALC = @BASE_CALC + ((@BASE_CALC / 100) * @TX_LUCRO_ESTIMADO) -- Lucro Estimado
            END

            print 'seguro: '+convert(varchar,@VL_MLE_BR)
     
            SET @BASE_CALC      = @BASE_CALC / @TX_SEGURO  
            SET @VL_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), (@BASE_CALC / 100) * @PC_SEGURO_MLE)  
            SET @VL_SEGURO_MN   = CONVERT(DECIMAL(28, 2), @VL_SEGURO_MNEG * @TX_SEGURO)  
            --*/  
            print 'seguro: '+convert(varchar,@BASE_CALC)

            -- Clculo em Dolar  
            /*  
            IF @CD_TIPO_BASE_SEGURO = '1'  
                SET @BASE_CALC = @VL_MLE_DOLAR - CASE @IN_EMBUT_FRT_ITENS  
                                                     WHEN '1' THEN @VL_FRETE_DOLAR  
                                                 ELSE 0  
                                                 END  
            ELSE IF @CD_TIPO_BASE_SEGURO = '2'  
                SET @BASE_CALC = @VL_MLE_DOLAR + CASE @IN_EMBUT_FRT_ITENS  
                                                     WHEN '0' THEN @VL_FRETE_DOLAR  
                                                 ELSE 0  
                                                 END  
            ELSE  
                SET @BASE_CALC = @VL_MLE_DOLAR + CASE @IN_EMBUT_FRT_ITENS  
                                                     WHEN '0' THEN @VL_FRETE_DOLAR  
                                                 ELSE 0  
                                                 END + @VL_IMPOSTOS_DOLAR  
      
            SET @BASE_CALC      = (@BASE_CALC * @TX_DOLAR) / @TX_SEGURO  
            SET @VL_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), (@BASE_CALC / 100) * @PC_SEGURO_MLE)  
            SET @VL_SEGURO_MN   = CONVERT(DECIMAL(28, 2), @VL_SEGURO_MNEG * @TX_SEGURO)  
            --*/  

            /*  
            UPDATE TDECLARACAO_IMPORTACAO  
            SET VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), @VL_SEGURO_MNEG),  
                VL_TOTAL_SEG_MN    = CONVERT(DECIMAL(28, 2), @VL_SEGURO_MN)  
            WHERE NR_PROCESSO = @NR_PROCESSO  
            --*/ -- No est fazendo o update, apenas retornando os valores  
      
            /*  
            SET @CALC_VL_TOT_FRETE_MN   = ISNULL(@VL_TOT_FRT_PREPAID, 0) + ISNULL(@VL_TOT_FRT_COLLECT, 0) - ISNULL(@VL_FRETE_TNAC_MNEG, 0)  
      
            IF (@IN_MOEDA_UNICA = '1') AND (@VL_TOT_DESPS_MNEG > 0) AND (@CD_MOEDA_MLE <> '')  
                SET @CALC_VL_TOT_DESPESA_MN = CONVERT(DECIMAL(28, 2), @VL_TOT_DESPS_MNEG * @TX_MLE)  
            ELSE  
                SET @CALC_VL_TOT_DESPESA_MN = 0  
      
            IF (@IN_MOEDA_UNICA = '1') AND (@VL_TOT_MLE_MNEG > 0) AND (@CD_MOEDA_MLE <> '')  
                SET @CALC_VL_TOT_MLE_MN = CONVERT(DECIMAL(28, 2), @VL_TOT_MLE_MNEG * @TX_MLE)  
            ELSE  
                SET @CALC_VL_TOT_MLE_MN = 0  
      
            IF @CD_TIPO_BASE_SEGURO = '1' -- VMLE  
            BEGIN  
                IF @IN_MOEDA_UNICA = '0'  
                BEGIN  
                    IF @IN_EMBUT_FRT_ITENS = '1'  
                        SET @BASE_CALC =  @VL_MLE_BR + @VL_FRETE_BR  
                    ELSE  
                        SET @BASE_CALC = @VL_MLE_BR  
      
                    IF @TX_SEGURO > 0  
                        SET @BASE_CALC = CONVERT(DECIMAL(28, 2), @BASE_CALC / @TX_SEGURO)  
                    ELSE  
                        SET @BASE_CALC = 0  
                  
                    SET @VL_TOT_SEGURO_MNEG = (@BASE_CALC * @PC_SEGURO_MLE) / 100  
      
                    UPDATE TDECLARACAO_IMPORTACAO  
                    SET VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG),  
                        VL_TOTAL_SEG_MN    = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG * @TX_SEGURO)  
                    WHERE NR_PROCESSO = @NR_PROCESSO  
                END  
                ELSE  
                BEGIN  
                    IF (@IN_EMBUT_FRT_ITENS = '1') AND (@VL_TOTAL_FRETE_MN > 0) AND (@TX_MLE > 0)  
                    BEGIN  
                        IF (@TX_FRETE > 0) AND (@TX_MLE > 0)  
                        BEGIN  
                            SET @BASE_CALC = @VL_MLE_BR - @VL_FRETE_BR  
      
                            SET @VL_TOT_SEGURO_MNEG = ((@BASE_CALC * @PC_SEGURO_MLE) / 100) / @TX_SEGURO  
                          
                            UPDATE TDECLARACAO_IMPORTACAO  
                            SET VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG),  
                                VL_TOTAL_SEG_MN    = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG * @TX_SEGURO)  
                            WHERE NR_PROCESSO = @NR_PROCESSO  
                        END  
                        ELSE  
                            UPDATE TDECLARACAO_IMPORTACAO  
                            SET VL_TOT_SEGURO_MNEG = 0,  
                                VL_TOTAL_SEG_MN    = 0  
                            WHERE NR_PROCESSO = @NR_PROCESSO  
                    END  
                    ELSE  
                    BEGIN  
                        IF (@TX_SEGURO > 0) AND (@TX_MLE > 0)  
                        BEGIN  
                            SET @BASE_CALC = (@VL_TOT_MLE_MNEG + @VL_TOT_DESPS_MNEG) * @TX_MLE  
                            SET @VL_TOT_SEGURO_MNEG = ((@BASE_CALC / @TX_SEGURO) * @PC_SEGURO_MLE) / 100  
      
                            UPDATE TDECLARACAO_IMPORTACAO  
                            SET VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG),  
                                VL_TOTAL_SEG_MN    = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG * @TX_SEGURO)  
                            WHERE NR_PROCESSO = @NR_PROCESSO  
                        END  
                        ELSE  
                            UPDATE TDECLARACAO_IMPORTACAO  
                            SET VL_TOT_SEGURO_MNEG = 0,  
                                VL_TOTAL_SEG_MN    = 0  
                            WHERE NR_PROCESSO = @NR_PROCESSO  
                    END  
                END  
            END  -- O IF abaixo foi incluido para incluir uma terceira opo por causa da RADICI, antes era apenas o ELSE - Michel - 16/08/2010  
            ELSE IF @CD_TIPO_BASE_SEGURO = '2' -- VMLE + Frete  
            BEGIN  
                IF (@CD_MOEDA_MLE = @CD_MOEDA_FRETE) AND (@CD_MOEDA_MLE <> '') AND (@CD_MOEDA_SEGURO = @CD_MOEDA_MLE)  
                BEGIN  
                    IF @CD_MOEDA_SEGURO = ''  
                        UPDATE TDECLARACAO_IMPORTACAO  
                        SET CD_MOEDA_SEGURO = CD_MOEDA_MLE  
                        WHERE NR_PROCESSO = @NR_PROCESSO  
                         
                    IF (@IN_EMBUT_FRT_ITENS = '1') AND (@VL_TOTAL_FRETE_MN > 0) AND (@TX_MLE > 0)  
                        SET @VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), ((@VL_TOT_MLE_MNEG + @VL_TOT_DESPS_MNEG) * @PC_SEGURO_MLE) / 100)  
                    ELSE  
                        SET @VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), (((@VL_TOT_MLE_MNEG + @VL_TOT_DESPS_MNEG + @VL_TOT_FRT_COLLECT + @VL_TOT_FRT_PREPAID - @VL_FRETE_TNAC_MNEG) * @PC_SEGURO_MLE) / 100))  
      
                    UPDATE TDECLARACAO_IMPORTACAO  
                    SET VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), ((@VL_TOT_MLE_MNEG + @VL_TOT_DESPS_MNEG) * @PC_SEGURO_MLE) / 100),  
                        VL_TOTAL_SEG_MN    = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG * @TX_SEGURO)  
                    WHERE NR_PROCESSO = @NR_PROCESSO  
                END  
                ELSE  
                BEGIN  
                    IF @CD_MOEDA_SEGURO = ''  
                    BEGIN  
                        SET @CD_MOEDA_SEGURO = '220'  
                          
                        UPDATE TDECLARACAO_IMPORTACAO  
                        SET CD_MOEDA_SEGURO = @CD_MOEDA_SEGURO  
                        WHERE NR_PROCESSO = @NR_PROCESSO  
                    END  
      
                    -- Somar o MLE + Frete em Real  
                    IF @IN_MOEDA_UNICA = '1'  
                    BEGIN  
                        IF @IN_EMBUT_FRT_ITENS = '1'  
                            SET @BASE_CALC = (@CALC_VL_TOT_MLE_MN + @CALC_VL_TOT_DESPESA_MN)  
                        ELSE  
                            SET @BASE_CALC = @CALC_VL_TOT_MLE_MN + @CALC_VL_TOT_DESPESA_MN + @CALC_VL_TOT_FRETE_MN  
                    END  
                    ELSE  
                    BEGIN  
                        IF @IN_EMBUT_FRT_ITENS = '1'  
                            SET @BASE_CALC = @VL_TOTAL_MLE_MN + @VL_TOT_DESPS_MN  
                        ELSE  
                            SET @BASE_CALC = @VL_TOTAL_MLE_MN + @VL_TOT_DESPS_MN + @CALC_VL_TOT_FRETE_MN  
                    END  
      
                    IF @TX_SEGURO > 0  
                        SET @BASE_CALC = CONVERT(DECIMAL(28, 2), @BASE_CALC / @TX_SEGURO)  
                    ELSE  
                        SET @BASE_CALC = 0  
      
                    SET @VL_TOT_SEGURO_MNEG = (@BASE_CALC * @PC_SEGURO_MLE) / 100  
      
                    UPDATE TDECLARACAO_IMPORTACAO  
                    SET VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG),  
                        VL_TOTAL_SEG_MN    = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG * @TX_SEGURO)  
                    WHERE NR_PROCESSO = @NR_PROCESSO  
                END  
            END  
            ELSE -- VMLE + Frete + Impostos  
            BEGIN  
                IF (@CD_MOEDA_MLE = @CD_MOEDA_FRETE) AND (@CD_MOEDA_MLE <> '') AND (@CD_MOEDA_SEGURO = @CD_MOEDA_MLE)  
                BEGIN  
                    IF @CD_MOEDA_SEGURO = ''  
                    BEGIN  
                        SET @CD_MOEDA_SEGURO = @CD_MOEDA_MLE  
                          
                        UPDATE TDECLARACAO_IMPORTACAO  
                        SET CD_MOEDA_SEGURO = @CD_MOEDA_MLE  
                        WHERE NR_PROCESSO = @NR_PROCESSO  
                    END  
      
                    IF (@IN_EMBUT_FRT_ITENS = '1') AND (@VL_TOTAL_FRETE_MN > 0) AND (@TX_MLE > 0)  
                        SET @VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), ((@VL_TOT_MLE_MNEG + @VL_TOT_DESPS_MNEG + @VL_TOTAL_II + @VL_TOTAL_IPI) * @PC_SEGURO_MLE) / 100)  
                    ELSE  
                        SET @VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), ((@VL_TOT_MLE_MNEG + @VL_TOT_DESPS_MNEG + @VL_TOT_FRT_COLLECT +  
                                @VL_TOT_FRT_PREPAID - @VL_FRETE_TNAC_MNEG + @VL_TOTAL_II + @VL_TOTAL_IPI) * @PC_SEGURO_MLE) / 100)  
      
                    UPDATE TDECLARACAO_IMPORTACAO  
                    SET VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG),  
                        VL_TOTAL_SEG_MN    = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG * @TX_SEGURO)  
                    WHERE NR_PROCESSO = @NR_PROCESSO  
                END  
                ELSE  
                BEGIN  
                    IF @CD_MOEDA_SEGURO = ''  
                    BEGIN  
                        SET @CD_MOEDA_SEGURO = '220'  
                          
                        UPDATE TDECLARACAO_IMPORTACAO  
                        SET CD_MOEDA_SEGURO = @CD_MOEDA_SEGURO  
                        WHERE NR_PROCESSO = @NR_PROCESSO  
                    END  
                    -- Somar o MLE + Frete em Real  
                    IF @IN_MOEDA_UNICA = '1'  
                    BEGIN  
                        IF @IN_EMBUT_FRT_ITENS = '1'  
                            SET @BASE_CALC = @CALC_VL_TOT_MLE_MN + @CALC_VL_TOT_DESPESA_MN + @VL_TOTAL_II + @VL_TOTAL_IPI  
                        ELSE  
                            SET @BASE_CALC = @CALC_VL_TOT_MLE_MN + @CALC_VL_TOT_DESPESA_MN + @CALC_VL_TOT_FRETE_MN + @VL_TOTAL_II + @VL_TOTAL_IPI  
                    END  
                    ELSE  
                    BEGIN  
                        IF @IN_EMBUT_FRT_ITENS = '1'  
                            SET @BASE_CALC = @VL_TOTAL_MLE_MN + @VL_TOT_DESPS_MN + @VL_TOTAL_II + @VL_TOTAL_IPI  
                        ELSE  
                            SET @BASE_CALC = @VL_TOTAL_MLE_MN + @VL_TOT_DESPS_MN + @CALC_VL_TOT_FRETE_MN + @VL_TOTAL_II + @VL_TOTAL_IPI  
                    END  
      
                    IF @TX_SEGURO > 0  
                        SET @BASE_CALC = CONVERT(DECIMAL(28, 2), @BASE_CALC / @TX_SEGURO)  
                    ELSE  
                        SET @BASE_CALC = 0  
      
                    SET @VL_TOT_SEGURO_MNEG = (@BASE_CALC * @PC_SEGURO_MLE) / 100  
      
                    UPDATE TDECLARACAO_IMPORTACAO  
                    SET VL_TOT_SEGURO_MNEG = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG),  
                        VL_TOTAL_SEG_MN    = CONVERT(DECIMAL(28, 2), @VL_TOT_SEGURO_MNEG * @TX_SEGURO)  
                    WHERE NR_PROCESSO = @NR_PROCESSO  
                END  
            END--*/  
        END
    END

    /*  
    SELECT @VL_SEGURO_MNEG AS VL_SEGURO_MNEG, @VL_SEGURO_MN AS VL_SEGURO_MN  

    SELECT @PC_SEGURO_MLE, CD_MOEDA_SEGURO, VL_TOT_SEGURO_MNEG, VL_TOTAL_SEG_MN  
    FROM TDECLARACAO_IMPORTACAO (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO  

    ROLLBACK  

    SELECT @PC_SEGURO_MLE, CD_MOEDA_SEGURO, VL_TOT_SEGURO_MNEG, VL_TOTAL_SEG_MN  
    FROM TDECLARACAO_IMPORTACAO (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO  

    SELECT VL_SEGURO_MNEG, VL_SEGURO_MN  
    FROM TPREVISAO (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO  
    --*/  
END

GO
