USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_duplica_unidade] @cd_unid_atual char(2), @cd_unid_new char(2), @tp_repassa bit AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_atual char(2)
DECLARE @cd_unid_new char(2)
DECLARE @tp_repassa bit

SELECT @cd_unid_atual = '01'
SELECT @cd_unid_new   = '12'
SELECT @tp_repassa    = 1
*/

DECLARE @campo_branco char(1)
SELECT @campo_branco  = ''

INSERT INTO TUNID_NEG
   (CD_UNID_NEG, NM_UNID_NEG, AP_UNID_NEG, IN_ATIVO, VL_ALIQ_ISS, CGC_UNID_NEG, CD_FILIAL, END_UNID_NEG, END_NUMERO, END_COMPL, END_BAIRRO, END_CIDADE, 
    END_UF, IE_UNID_NEG, IM_UNID_NEG, NR_FONE, END_CEP, NR_FAX1, NR_FAX2, NM_SLOGAN, NR_NOTA_FATURA, NM_EMAIL)
   SELECT @cd_unid_new, NM_UNID_NEG, @campo_branco, IN_ATIVO, VL_ALIQ_ISS, CGC_UNID_NEG, CD_FILIAL, END_UNID_NEG, END_NUMERO, END_COMPL, END_BAIRRO, END_CIDADE, 
          END_UF, IE_UNID_NEG, IM_UNID_NEG, NR_FONE, END_CEP, NR_FAX1, NR_FAX2, NM_SLOGAN, NR_NOTA_FATURA, NM_EMAIL
   FROM TUNID_NEG
   WHERE CD_UNID_NEG = @cd_unid_atual

INSERT INTO TUNID_NEG_PRODUTO
   (CD_UNID_NEG, CD_PRODUTO, IN_ATIVO, NR_ULT_FATURA, NR_ULT_NOTA, NR_ULT_PROCESSO, NR_ULT_PREVISAO, TX_NUMERARIO_OBS, TX_NUMERARIO_ASS, CD_CT_GERENCIAL)
   SELECT @cd_unid_new, CD_PRODUTO, IN_ATIVO, NR_ULT_FATURA, NR_ULT_NOTA, NR_ULT_PROCESSO, NR_ULT_PREVISAO, TX_NUMERARIO_OBS, TX_NUMERARIO_ASS, CD_CT_GERENCIAL 
   FROM TUNID_NEG_PRODUTO
   WHERE CD_UNID_NEG = @cd_unid_atual

IF @tp_repassa = 1
BEGIN
  INSERT INTO TCLIENTE_HABILITACAO
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, DT_VALID_CRED_RF, DT_CAPTACAO, IN_ATIVO, TX_NUMERARIO_OBS, QT_ADIANTAMENTO, CD_DT_BASE_CAMBIO, CD_TAB_SDA, 
     CD_EQUIPE, CD_FOLLOW_UP, CD_NUMERARIO, IN_LIBERACAO, CD_TP_FOLLOW_UP, IN_SD_FAT_ZERO, IN_SD_NOTA_ZERO, IN_COBRAR_CPMF, CD_RESPONSAVEL, IN_BOLETO, 
     NR_DIAS_VENCTO_FATURA, IN_COMP_SDA, IN_QUADRO_TOTAL_FAT, CD_IR_FAT, IN_DIVERSOS, IN_CC_NUM, IN_OBS_UNICA, IN_OBS_POR_DATA)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, DT_VALID_CRED_RF, DT_CAPTACAO, IN_ATIVO, TX_NUMERARIO_OBS, QT_ADIANTAMENTO, CD_DT_BASE_CAMBIO, CD_TAB_SDA, 
           CD_EQUIPE, CD_FOLLOW_UP, CD_NUMERARIO, IN_LIBERACAO, CD_TP_FOLLOW_UP, IN_SD_FAT_ZERO, IN_SD_NOTA_ZERO, IN_COBRAR_CPMF, CD_RESPONSAVEL, IN_BOLETO, 
           NR_DIAS_VENCTO_FATURA, IN_COMP_SDA, IN_QUADRO_TOTAL_FAT, CD_IR_FAT, IN_DIVERSOS, IN_CC_NUM, IN_OBS_UNICA, IN_OBS_POR_DATA 
    FROM TCLIENTE_HABILITACAO 
    WHERE CD_UNID_NEG = @cd_unid_atual

  INSERT INTO TCLIENTE_SERVICO
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, IN_ATIVO, NR_DPS, DT_CAPTACAO, PZ_PROPOSTA, IN_INCIDE_SDA, DT_AUTORIZACAO, CD_PREFIXO, 
     CD_BANCO_DEB_CC, CD_BANCO_COM, CD_BANCO_DEB_COM)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_SERVICO, IN_ATIVO, NR_DPS, DT_CAPTACAO, PZ_PROPOSTA, IN_INCIDE_SDA, DT_AUTORIZACAO, CD_PREFIXO, 
           CD_BANCO_DEB_CC, CD_BANCO_COM, CD_BANCO_DEB_COM
    FROM TCLIENTE_SERVICO 
    WHERE CD_UNID_NEG = @cd_unid_atual

  INSERT INTO TCLIENTE_REPRESENTANTE 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_REPRESENTANTE, IN_ATIVO)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_REPRESENTANTE, IN_ATIVO 
    FROM TCLIENTE_REPRESENTANTE 
    WHERE CD_UNID_NEG = @cd_unid_atual
    
  INSERT INTO TCLIENTE_TRANSPORTADOR 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_TRANSP, CD_TARIFA, IN_ATIVO)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_TRANSP, CD_TARIFA, IN_ATIVO 
    FROM TCLIENTE_TRANSPORTADOR 
    WHERE CD_UNID_NEG = @cd_unid_atual

  INSERT INTO TCLIENTE_CPMF 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_ITEM, IN_CPMF)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_ITEM, IN_CPMF 
    FROM TCLIENTE_CPMF 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TCLIENTE_BANCO_LIBERADO 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_BANCO, IN_ATIVO)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_BANCO, IN_ATIVO 
    FROM TCLIENTE_BANCO_LIBERADO 
    WHERE CD_UNID_NEG = @cd_unid_atual
    
  INSERT INTO TCLIENTE_DOCUMENTO 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_DOCUMENTO, CD_FORMA_DOC)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_DOCUMENTO, CD_FORMA_DOC 
    FROM TCLIENTE_DOCUMENTO 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TCLIENTE_REPASSE 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_REPRESENTANTE, CD_ITEM, PC_REPASSE, IN_ATIVO)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_REPRESENTANTE, CD_ITEM, PC_REPASSE, IN_ATIVO 
    FROM TCLIENTE_REPASSE 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TCLIENTE_NUMERARIO 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, NR_SOLICITACAO, CD_ITEM, TP_CALCULO, CD_BANCO, TP_DESTINO)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_SERVICO, NR_SOLICITACAO, CD_ITEM, TP_CALCULO, CD_BANCO, TP_DESTINO 
    FROM TCLIENTE_NUMERARIO 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TCLIENTE_NUMERARIO_USD 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_ITEM)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_ITEM 
    FROM TCLIENTE_NUMERARIO_USD 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TCLIENTE_FATURAMENTO 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, CD_ITEM, TP_CALCULO)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_SERVICO, CD_ITEM, TP_CALCULO 
    FROM TCLIENTE_FATURAMENTO 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TCLIENTE_ITEM_POR_TON 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, CD_ITEM, VL_NUM, VL_DEN, CD_MOEDA, IN_ATIVO)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_SERVICO, CD_ITEM, VL_NUM, VL_DEN, CD_MOEDA, IN_ATIVO 
    FROM TCLIENTE_ITEM_POR_TON 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TCLIENTE_CONTATO 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, NM_CONTATO, TX_CARGO, TX_DEPARTAMENTO, NR_FONE, NR_FAX, IN_CONTAS, IN_FATURAMENTO, IN_NUMERARIO, 
     IN_OPERACIONAL, CD_CONTATO, CD_AREA, NM_EMAIL, TP_FOLLOWUP, IN_DOC, IN_XLS, IN_HTML, IN_FAX, IN_COM_EXTERIOR)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, NM_CONTATO, TX_CARGO, TX_DEPARTAMENTO, NR_FONE, NR_FAX, IN_CONTAS, IN_FATURAMENTO, IN_NUMERARIO, 
           IN_OPERACIONAL, CD_CONTATO, CD_AREA, NM_EMAIL, TP_FOLLOWUP, IN_DOC, IN_XLS, IN_HTML, IN_FAX, IN_COM_EXTERIOR
    FROM TCLIENTE_CONTATO 
    WHERE CD_UNID_NEG = @cd_unid_atual
    
  INSERT INTO TRECEITAS_IMP 
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, CD_ITEM, CD_REGIME_TRIB, TP_DT_BASE, VL_NUM_TAXA, VL_DEN_TAXA, TP_BASE_CALC_TAXA, CD_MOEDA_TAXA, 
     VL_NUM_ACR, VL_DEN_ACR, TP_BASE_CALC_ACR, CD_MOEDA_ACR, VL_NUM_FORA_REGIAO, VL_DEN_FORA_REGIAO, TP_BASE_CALC_FORA_REGIAO, CD_MOEDA_FORA_REGIAO, 
     VL_NUM_MIN, VL_DEN_MIN, TP_BASE_CALC_MIN, CD_MOEDA_MIN, VL_NUM_MAX, VL_DEN_MAX, TP_BASE_CALC_MAX, CD_MOEDA_MAX, IN_ATIVO)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, CD_SERVICO, CD_ITEM, CD_REGIME_TRIB, TP_DT_BASE, VL_NUM_TAXA, VL_DEN_TAXA, TP_BASE_CALC_TAXA, CD_MOEDA_TAXA, 
           VL_NUM_ACR, VL_DEN_ACR, TP_BASE_CALC_ACR, CD_MOEDA_ACR, VL_NUM_FORA_REGIAO, VL_DEN_FORA_REGIAO, TP_BASE_CALC_FORA_REGIAO, CD_MOEDA_FORA_REGIAO, 
           VL_NUM_MIN, VL_DEN_MIN, TP_BASE_CALC_MIN, CD_MOEDA_MIN, VL_NUM_MAX, VL_DEN_MAX, TP_BASE_CALC_MAX, CD_MOEDA_MAX, IN_ATIVO 
    FROM TRECEITAS_IMP 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TRECEITAS_EXP 
    (CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_ITEM, TP_DT_BASE, TP_FAIXA, TP_FAIXA_VALOR, VL_NUM_TAXA, VL_DEN_TAXA, TP_BASE_CALC_TAXA, CD_MOEDA_TAXA, VL_NUM_MIN, VL_DEN_MIN, TP_BASE_CALC_MIN, CD_MOEDA_MIN, VL_NUM_MAX, VL_DEN_MAX, TP_BASE_CALC_MAX, CD_MOEDA_MAX, PC_REDUC_RE_CANC, IN_ATIVO)
    SELECT @cd_unid_new, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_ITEM, TP_DT_BASE, TP_FAIXA, TP_FAIXA_VALOR, VL_NUM_TAXA, VL_DEN_TAXA, TP_BASE_CALC_TAXA, CD_MOEDA_TAXA, VL_NUM_MIN, VL_DEN_MIN, TP_BASE_CALC_MIN, CD_MOEDA_MIN, VL_NUM_MAX, VL_DEN_MAX, TP_BASE_CALC_MAX, CD_MOEDA_MAX, PC_REDUC_RE_CANC, IN_ATIVO 
    FROM TRECEITAS_EXP 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TRECEITAS_EXP_FAIXA 
    (CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_ITEM, NR_FAIXA, VL_INICIO_FAIXA, VL_FIM_FAIXA, VL_NUM_FAIXA, VL_DEN_FAIXA, TP_BASE_CALC_FAIXA, CD_MOEDA_FAIXA, TP_POR_BASE_CALC)
    SELECT @cd_unid_new, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_ITEM, NR_FAIXA, VL_INICIO_FAIXA, VL_FIM_FAIXA, VL_NUM_FAIXA, VL_DEN_FAIXA, TP_BASE_CALC_FAIXA, CD_MOEDA_FAIXA, TP_POR_BASE_CALC
    FROM TRECEITAS_EXP_FAIXA 
    WHERE CD_UNID_NEG = @cd_unid_atual
  
  INSERT INTO TCLIENTE_ICMS_SUL
    (CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, NR_SEQ, CD_ITEM, TP_CALCULO)
    SELECT CD_CLIENTE, @cd_unid_new, CD_PRODUTO, NR_SEQ, CD_ITEM, TP_CALCULO
    FROM TCLIENTE_ICMS_SUL
    WHERE CD_UNID_NEG = @cd_unid_atual

END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
