USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_atz_numerario    Script Date: 02/09/1999 08:58:57 AM ******/
CREATE PROCEDURE [sp_atz_numerario]( @nr_processo char(18), @nr_solicitacao char(3), @cd_item char(3) ) AS
DECLARE @vl_solicitado   numeric(14, 2)
-- Atualiza Numerario
SELECT @vl_solicitado = SUM( ISNULL( CONVERT( numeric(14,2), VL_SOLICITADO), 0 ) ) 
FROM   TNUMERARIO_ITEM_SOLIC
WHERE  ( NR_PROCESSO = @nr_processo ) AND
       ( NR_SOLICITACAO = @nr_solicitacao ) AND
       ( TP_DESTINO IN ('2', '3', '4') )

UPDATE TNUMERARIO 
SET    VL_SOLICITADO = ISNULL( @vl_solicitado, 0 )
FROM   TNUMERARIO
WHERE  ( NR_PROCESSO = @nr_processo ) AND
       ( NR_SOLICITACAO = @nr_solicitacao ) AND
       ( IN_EMITIDO = '0' ) AND
       ( CD_STATUS IN ( 'A', 'B' ) )

-- Atualiza Saldos
INSERT INTO TNUMERARIO_SALDO_POR_ITEM 
  SELECT DISTINCT NR_PROCESSO, CD_ITEM, 0, 0, 0, 0, 0 
  FROM   TNUMERARIO_ITEM_SOLIC
  WHERE  NR_PROCESSO = @nr_processo AND
--         TP_DESTINO <> '1' AND
         CD_ITEM NOT IN
         ( SELECT CD_ITEM
           FROM   TNUMERARIO_SALDO_POR_ITEM
           WHERE  NR_PROCESSO = @nr_processo )

UPDATE TNUMERARIO_SALDO_POR_ITEM 
SET    VL_SOLICITADO = ISNULL(
       ( SELECT SUM( CONVERT( numeric(14,2), VL_SOLICITADO ) )
         FROM   TNUMERARIO_ITEM_SOLIC
         WHERE  NR_PROCESSO = S.NR_PROCESSO AND
                CD_ITEM = S.CD_ITEM AND
                CD_STATUS IN ( 'A', 'B' ) ), 0 ),
       VL_RECEBIDO = ISNULL(
       ( SELECT SUM( CONVERT( numeric(14,2), VL_SOLICITADO ) )
         FROM   TNUMERARIO_ITEM_SOLIC
         WHERE  NR_PROCESSO = S.NR_PROCESSO AND
		TP_DESTINO IN ('1', '0') AND
                CD_ITEM = S.CD_ITEM AND
                CD_STATUS IN ( 'A', 'B' ) ), 0 )
FROM   TNUMERARIO_SALDO_POR_ITEM S
WHERE  S.NR_PROCESSO = @nr_processo AND
       S.CD_ITEM = @cd_item

GO
