USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_duplica_numerario    Script Date: 02/09/1999 08:59:00 AM ******/
CREATE procedure [sp_duplica_abre_processo] ( @nr_registro int, @nr_processo char(18) ) AS

DECLARE @cd_usuario char(4)
DECLARE @nr_registro_origem int

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_NAME()

SELECT @cd_usuario = ISNULL( @cd_usuario, '0000' )

--Capa
SELECT @nr_registro_origem = NR_REGISTRO
FROM   TABRE_PROCESSO
WHERE  NR_PROCESSO = @nr_processo

DELETE TABRE_PROCESSO_DOCUMENTO
WHERE  NR_REGISTRO = @nr_registro

DELETE TABRE_PROCESSO
WHERE  NR_REGISTRO = @nr_registro

INSERT TABRE_PROCESSO ( NR_REGISTRO, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_VIA_TRANSPORTE, CD_TRANSP_NAC, CD_PAIS_ORIGEM, TX_MERCADORIA, VL_PESO_LIQUIDO, VL_PESO_BRUTO, VL_MLE, CD_INCOTERM, VL_FRETE_PREPAID, VL_FRETE_COLLECT, VL_FRETE_TER_NAC, IN_VINC, CD_AREA, DT_RECEB_DOC )
SELECT @nr_registro, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_SERVICO, CD_VIA_TRANSPORTE, CD_TRANSP_NAC, CD_PAIS_ORIGEM, TX_MERCADORIA, VL_PESO_LIQUIDO, VL_PESO_BRUTO, VL_MLE, CD_INCOTERM, VL_FRETE_PREPAID, VL_FRETE_COLLECT, VL_FRETE_TER_NAC, '0', CD_AREA, DT_RECEB_DOC
FROM   TABRE_PROCESSO
WHERE  NR_REGISTRO = @nr_registro_origem


INSERT TABRE_PROCESSO_DOCUMENTO ( NR_REGISTRO, NR_SEQUENCIA, CD_DOCUMENTO, CD_REFERENCIA, NR_SERIE )
SELECT @nr_registro, NR_SEQUENCIA, CD_DOCUMENTO, CD_REFERENCIA, NR_SERIE
FROM   TABRE_PROCESSO_DOCUMENTO A, TABRE_PROCESSO P
WHERE  A.NR_REGISTRO = P.NR_REGISTRO AND
       P.NR_PROCESSO = @nr_processo 



GO
