USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [SP_DI_ATUALIZA_VOLUMES](@NR_PROCESSO CHAR(18)) AS
BEGIN
	DECLARE @NR_SEQUENCIA INT
	DECLARE @VL_QTDE      INT
	DECLARE @TP_ESTUFAGEM CHAR(2)

	/*
	BEGIN TRAN
	DECLARE @NR_PROCESSO CHAR(18)
	SET @NR_PROCESSO = '0101IM-3165-09'
	--*/

	SELECT @TP_ESTUFAGEM = TP_ESTUFAGEM
	FROM TPROCESSO
	WHERE NR_PROCESSO = @NR_PROCESSO

	IF (@TP_ESTUFAGEM = 1) AND ((SELECT ISNULL(CD_URF_DESPACHO, '')
								 FROM TDECLARACAO_IMPORTACAO
								 WHERE NR_PROCESSO = @NR_PROCESSO) IN ('1010500', '1017700'))
		RETURN 0 -- NÃO FAZ NADA SE FOR FCL COM URF DESPACHO "RIO GRANDE"

	DELETE FROM TEMBALAGEM_CARGA
	WHERE NR_PROCESSO = @NR_PROCESSO

	IF UPPER(SUBSTRING(@NR_PROCESSO, 5, 2)) = 'IG'
	BEGIN
		INSERT INTO TEMBALAGEM_CARGA(NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_EMBALAGEM, QT_VOLUME_CARGA)
		VALUES(@NR_PROCESSO, 1, '37', '00')
	END
	ELSE IF (@TP_ESTUFAGEM = 1) AND ((SELECT COUNT(*)
								FROM TPROCESSO_CNTR
								WHERE NR_PROCESSO = @NR_PROCESSO
								  AND ISNULL(IN_DESOVA, '0') = '1') = 0) -- CONTAINERS
	BEGIN
		IF (SELECT ISNULL(CD_URF_DESPACHO, '')
			FROM TDECLARACAO_IMPORTACAO
			WHERE NR_PROCESSO = @NR_PROCESSO) IN ('0717600', '0717800') -- FIXAR COMO "OUTROS"
		BEGIN
			INSERT INTO TEMBALAGEM_CARGA(NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_EMBALAGEM, QT_VOLUME_CARGA)
			SELECT @NR_PROCESSO, 1, '99', COUNT(*)
			FROM TPROCESSO_CNTR
			WHERE NR_PROCESSO = @NR_PROCESSO
		END
		ELSE
		BEGIN
			INSERT INTO TEMBALAGEM_CARGA(NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_EMBALAGEM, QT_VOLUME_CARGA)
			SELECT @NR_PROCESSO, 1, '08', COUNT(*)
			FROM TPROCESSO_CNTR
			WHERE NR_PROCESSO = @NR_PROCESSO
		END
	END
	ELSE -- CARGA SOLTA
	BEGIN
		IF (SELECT COUNT(*)
			FROM TPROCESSO_CARGA_SOLTA
			WHERE NR_PROCESSO = @NR_PROCESSO
			  AND TP_ESTUFAGEM IS NULL) > 0
			RETURN 1 -- RETORNA 1 SE TIVER ALGUMA CARGA SEM O TIPO DE ESTUFAGEM

		SET @NR_SEQUENCIA = 1

		DECLARE CUR_CARGA CURSOR FOR
		SELECT SUM(VL_QTDE), TP_ESTUFAGEM
		FROM TPROCESSO_CARGA_SOLTA
		WHERE NR_PROCESSO = @NR_PROCESSO
		GROUP BY TP_ESTUFAGEM

		OPEN CUR_CARGA

		FETCH CUR_CARGA INTO @VL_QTDE, @TP_ESTUFAGEM
		WHILE @@FETCH_STATUS <> -1
		BEGIN
			INSERT INTO TEMBALAGEM_CARGA(NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_EMBALAGEM, QT_VOLUME_CARGA)
			SELECT @NR_PROCESSO, @NR_SEQUENCIA, @TP_ESTUFAGEM, @VL_QTDE
			SET @NR_SEQUENCIA = @NR_SEQUENCIA +1
			FETCH CUR_CARGA INTO @VL_QTDE, @TP_ESTUFAGEM
		END
		CLOSE CUR_CARGA
		DEALLOCATE CUR_CARGA
	END

	/*
	SELECT EC.NR_PROCESSO, EC.NR_SEQUENCIA, EC.QT_VOLUME_CARGA, TE.DESCRICAO AS TIPO_EMBALAGEM
	FROM TEMBALAGEM_CARGA EC INNER JOIN TTP_EMBALAGEM TE ON TE.CODIGO = EC.CD_TIPO_EMBALAGEM
	WHERE NR_PROCESSO = @NR_PROCESSO

	ROLLBACK
	--*/
END



GO
