USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROC [sp_rel_num_nao_rec] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), @dt_ini datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_cliente char(5)
DECLARE @cd_grupo char(3)
DECLARE @nr_identificador int 
DECLARE @dt_ini datetime
DECLARE @dt_fim datetime

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_cliente = 'X'
SELECT @cd_GRUPO = '002'
SELECT @dt_ini = convert( datetime, '01/01/2010', 103 )
SELECT @dt_fim = convert( datetime, '15/05/2010', 103 )
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_NUMERARIO (TABLOCK HOLDLOCK)

INSERT TREL_NUMERARIO ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NR_SOLICITACAO, DT_SOLICITACAO, CD_CLIENTE, CD_REFERENCIA, 
                        NM_EMPRESA, VL_PENDENTE )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, N.NR_SOLICITACAO, N.DT_SOLICITACAO, P.CD_CLIENTE, ISNULL(REF.CD_REFERENCIA,''), 
         EN.NM_EMPRESA, N.VL_SOLICITADO - N.VL_RECEBIDO
  FROM   TPROCESSO P (NOLOCK),
         TEMPRESA_NAC EN (NOLOCK),
         TREF_CLIENTE REF (NOLOCK),
         TNUMERARIO_NOTIFICA N (NOLOCK)
  WHERE  ( (P.CD_UNID_NEG = @cd_unid_neg) OR (@cd_unid_neg = 'X') ) AND
         ( (P.CD_PRODUTO = @cd_produto) OR (@cd_produto = 'X') ) AND
         ( (P.CD_CLIENTE = @cd_cliente) OR (@cd_cliente = 'X') ) AND
         ( (P.CD_GRUPO = @cd_grupo) OR (@cd_grupo = 'X') ) AND         
         P.CD_CLIENTE = EN.CD_EMPRESA AND
         P.NR_PROCESSO *= REF.NR_PROCESSO AND REF.NR_SEQUENCIA = '001' AND
         P.NR_PROCESSO = N.NR_PROCESSO AND
         N.DT_SOLICITACAO >= @dt_ini AND 
         N.DT_SOLICITACAO <= @dt_fim AND 
         N.CD_STATUS <> 'C' AND 
         ((N.VL_SOLICITADO - VL_RECEBIDO) > 0) 

--SELECT * FROM TREL_NUMERARIO 

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
