USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/****** Object:  Stored Procedure dbo.sp_atz_ent_processo    Script Date: 26/11/1998 19:07:06 ******/
CREATE PROCEDURE [sp_inclui_da]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18) 
SELECT @nr_processo = '0101DD-0001-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_armazem_atracacao   char(4)
DECLARE @cd_armazem_descarga    char(4)
DECLARE @cd_local_embarque      char(4)
DECLARE @cd_local_desembarque   char(4)
DECLARE @cd_embarcacao          char(4)
DECLARE @nr_viagem              char(4)
DECLARE @cd_incoterm            char(3)
DECLARE @cd_agente              char(4)
DECLARE @cd_transportador       char(4)
DECLARE @cd_moeda_mle           char(3)
DECLARE @cd_moeda_frete         char(3)
DECLARE @cd_moeda_seguro        char(3)
DECLARE @tp_frete               char(1)
DECLARE @dt_conhecimento        datetime
DECLARE @nr_conhecimento        varchar(30)
DECLARE @nr_conhecimento_master varchar(30)
DECLARE @vl_frete_prepaid_mneg  float
DECLARE @vl_frete_collect_mneg  float

SELECT @cd_armazem_atracacao   = CD_ARMAZEM_ATRACACAO,
       @cd_armazem_descarga    = CD_ARMAZEM_DESCARGA,
       @cd_local_embarque      = CD_LOCAL_EMBARQUE,
       @cd_local_desembarque   = CD_LOCAL_DESEMBARQUE,
       @cd_embarcacao          = CD_EMBARCACAO,
       @nr_viagem              = NR_VIAGEM,
       @cd_incoterm            = CD_INCOTERM,
       @cd_agente              = CD_AGENTE,
       @cd_transportador       = CD_TRANSPORTADOR,
       @cd_moeda_mle           = CD_MOEDA_MLE,
       @cd_moeda_frete         = CD_MOEDA_FRETE,
       @cd_moeda_seguro        = CD_MOEDA_SEGURO,
       @tp_frete               = ISNULL( TP_FRETE, '1' ),
       @dt_conhecimento        = DT_CONHECIMENTO,
       @nr_conhecimento        = NR_CONHECIMENTO,
       @nr_conhecimento_master = NR_CONHECIMENTO_MASTER,
       @vl_frete_prepaid_mneg  = ISNULL( VL_FRETE_PREPAID_MNEG, 0 ),
       @vl_frete_collect_mneg  = ISNULL( VL_FRETE_COLLECT_MNEG, 0 )
FROM   TPROCESSO
WHERE  NR_PROCESSO = @nr_processo

UPDATE TDA
SET    CD_ARMAZEM_ATRACACAO   = @cd_armazem_atracacao,
       CD_ARMAZEM_DESCARGA    = @cd_armazem_descarga,
       CD_LOCAL_EMBARQUE      = @cd_local_embarque,
       CD_LOCAL_DESEMBARQUE   = @cd_local_desembarque,
       CD_EMBARCACAO          = @cd_embarcacao,
       NR_VIAGEM              = @nr_viagem,
       CD_INCOTERM            = @cd_incoterm,
       CD_AGENTE              = @cd_agente,
       CD_TRANSPORTADOR       = @cd_transportador,
       CD_MOEDA_MLE           = @cd_moeda_mle,
       CD_MOEDA_FRETE         = @cd_moeda_frete,
       CD_MOEDA_SEGURO        = @cd_moeda_seguro,
       TP_FRETE               = @tp_frete,
       DT_CONHECIMENTO        = @dt_conhecimento,
       NR_CONHECIMENTO        = @nr_conhecimento,
       NR_CONHECIMENTO_MASTER = @nr_conhecimento_master,
       VL_FRETE_MNEG          = @vl_frete_prepaid_mneg + @vl_frete_collect_mneg,
       CD_TIPO_BASE_SEGURO    = '1'
WHERE  NR_PROCESSO = @nr_processo

UPDATE TDA
SET    TX_MERCADORIA = P.TX_MERCADORIA
FROM   TPROCESSO P, TDA D
WHERE  P.NR_PROCESSO = D.NR_PROCESSO AND
       D.NR_PROCESSO = @nr_processo

RETURN(0)


GO
