USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/****** Object:  Stored Procedure dbo.sp_atz_ent_processo    Script Date: 26/11/1998 19:07:06 ******/
CREATE PROCEDURE [sp_atz_ent_processo]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0101IE-1677-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

/*
IF EXISTS( SELECT *
           FROM   TDECLARACAO_IMPORTACAO
           WHERE  NR_PROCESSO = @nr_processo )
  RETURN 1
*/

DECLARE @cd_armazem_atracacao   char(4)
DECLARE @cd_armazem_descarga    char(4)
DECLARE @cd_local_embarque      char(4)
DECLARE @cd_local_desembarque   char(4)
DECLARE @cd_embarcacao          char(4)
DECLARE @nr_viagem              char(4)
DECLARE @cd_incoterm            char(3)
DECLARE @cd_agente              char(4)
DECLARE @cd_transportador       char(4)
DECLARE @cd_moeda_mle           char(3)
DECLARE @cd_moeda_frete         char(3)
DECLARE @cd_moeda_seguro        char(3)
DECLARE @tp_frete               char(1)
DECLARE @dt_conhecimento        datetime
DECLARE @nr_conhecimento        varchar(30)
DECLARE @nr_conhecimento_master varchar(30)
--DECLARE @cd_tipo_base_seguro    char(1)

SELECT @cd_armazem_atracacao   = CD_ARMAZEM_ATRACACAO,
       @cd_armazem_descarga    = CD_ARMAZEM_DESCARGA,
       @cd_local_embarque      = CD_LOCAL_EMBARQUE,
       @cd_local_desembarque   = CD_LOCAL_DESEMBARQUE,
       @cd_embarcacao          = CD_EMBARCACAO,
--       @cd_tipo_base_seguro    = CD_TIPO_BASE_SEGURO,
       @nr_viagem              = NR_VIAGEM,
       @cd_incoterm            = CD_INCOTERM,
       @cd_agente              = CD_AGENTE,
       @cd_transportador       = CD_TRANSPORTADOR,
       @cd_moeda_mle           = CD_MOEDA_MLE,
       @cd_moeda_frete         = CD_MOEDA_FRETE,
       @cd_moeda_seguro        = CD_MOEDA_SEGURO,
       @tp_frete               = TP_FRETE,
       @dt_conhecimento        = DT_CONHECIMENTO,
       @nr_conhecimento        = NR_CONHECIMENTO,
       @nr_conhecimento_master = NR_CONHECIMENTO_MASTER
FROM   TDA
WHERE  NR_PROCESSO = @nr_processo

UPDATE TPROCESSO
SET    CD_ARMAZEM_ATRACACAO   = @cd_armazem_atracacao,
       CD_ARMAZEM_DESCARGA    = @cd_armazem_descarga,
       CD_LOCAL_EMBARQUE      = @cd_local_embarque,
       CD_LOCAL_DESEMBARQUE   = @cd_local_desembarque,
       CD_EMBARCACAO          = @cd_embarcacao,
       NR_VIAGEM              = @nr_viagem,
       CD_INCOTERM            = @cd_incoterm,
       CD_AGENTE              = @cd_agente,
       CD_TRANSPORTADOR       = @cd_transportador,
       CD_MOEDA_MLE           = CASE ISNULL( @cd_moeda_mle, '' ) 
                                  WHEN '' THEN CD_MOEDA_MLE
                                  ELSE @cd_moeda_mle
                                END,
       CD_MOEDA_FRETE         = @cd_moeda_frete,
       CD_MOEDA_SEGURO        = @cd_moeda_seguro,
       TP_FRETE               = @tp_frete,
       DT_CONHECIMENTO        = @dt_conhecimento,
       NR_CONHECIMENTO        = @nr_conhecimento,
       NR_CONHECIMENTO_MASTER = @nr_conhecimento_master
WHERE  NR_PROCESSO            = @nr_processo

UPDATE TPROCESSO 
SET    TX_MERCADORIA = D.TX_MERCADORIA
FROM   TPROCESSO P, TDA D
WHERE  P.NR_PROCESSO = D.NR_PROCESSO AND
       D.NR_PROCESSO = @nr_processo  

UPDATE TDECLARACAO_IMPORTACAO
SET    --CD_TIPO_BASE_SEGURO    = @cd_tipo_base_seguro,
       CD_LOCAL_EMBARQUE      = @cd_local_embarque,
       CD_VEICULO_TRANSP      = @cd_embarcacao,
       CD_TRANSPORTADOR       = @cd_transportador,
       CD_MOEDA_MLE           = CASE ISNULL( @cd_moeda_mle, '' ) 
                                  WHEN '' THEN CD_MOEDA_MLE
                                  ELSE @cd_moeda_mle
                                END,
       CD_MOEDA_FRETE         = CASE ISNULL( @cd_moeda_frete, '' ) 
                                  WHEN '' THEN CD_MOEDA_FRETE
                                  ELSE @cd_moeda_frete
                                END,
       CD_MOEDA_SEGURO        = @cd_moeda_seguro,
       DT_EMBARQUE            = SUBSTRING( CONVERT( varchar(10), @dt_conhecimento, 103 ), 1, 2 ) + 
                                SUBSTRING( CONVERT( varchar(10), @dt_conhecimento, 103 ), 4, 2 ) + 
                                SUBSTRING( CONVERT( varchar(10), @dt_conhecimento, 103 ), 7, 4 ),
       NR_DCTO_CARGA          = @nr_conhecimento,
       NR_DCTO_CARGA_MAST     = @nr_conhecimento_master
WHERE  NR_PROCESSO            = @nr_processo

RETURN(0)
GO
