USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_rel_fluxo_op] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
			         @dt_inicial datetime, @dt_final datetime, @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON 
BEGIN TRAN

SET NOCOUNT ON

DECLARE @dt_inicial       datetime
DECLARE @dt_final         datetime
DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @nr_identificador int


SELECT  @dt_inicial       = '20070201'
SELECT  @dt_final         = '20070223'
SELECT  @cd_unid_neg      = '01'
SELECT  @cd_produto       = 'X'
SELECT  @cd_grupo         = 'X'
SELECT  @cd_cliente       = 'X'

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

DECLARE @nr_processo              char(18)
DECLARE @vl_fatura                float
DECLARE @vl_liq                   float
DECLARE @vl_spgto                   float
DECLARE @in_liq                   char(1)
DECLARE @cd_unid                  char(2)
DECLARE @cd_prod                  char(2)
DECLARE @nr_solic                 char(6)
DECLARE @ap_empresa               varchar(10)
DECLARE @nm_grupo                 char(15)
DECLARE @vl_receita               float
DECLARE @vl_tot_tributavel        float
DECLARE @vl_saldo                 float
DECLARE @vl_saldo_ant             float
DECLARE @vl_comissao              float
DECLARE @vl_retencao              float
DECLARE @vl_sub_tot_tributavel    float
DECLARE @cd_grupo_rec             char(3)
DECLARE @cd_banco                 char(3)
DECLARE @cd_cliente_rec           char(5)
DECLARE @dt_fatura                datetime
DECLARE @dt_liquidacao            datetime


DECLARE @cd_item_receb_num        char(3)
DECLARE @cd_item_devol_num        char(3)
DECLARE @cd_item_extor_num        char(3)
DECLARE @cd_item_saldo_cre        char(3)
DECLARE @cd_item_saldo_deb        char(3)
DECLARE @cd_item_receb_sd         char(3)
DECLARE @cd_item_pagto_sd         char(3)
DECLARE @cd_item_ext_receb        char(3)
DECLARE @cd_item_ext_pagto        char(3)
DECLARE @cd_item_nao_fat          char(3)
DECLARE @cd_item_ir               char(3)
DECLARE @cd_item_cofins_retencao  char(3)
DECLARE @cd_item_comissao         char(3)
DECLARE @cd_item_pago_cli         char(3)
DECLARE @cd_item_pis_cofins       char(3)


SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1 FROM TREL_REC_LIQ

SELECT @vl_saldo = 0

-- Itens da TPARAMETROS
SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM,
       @cd_item_devol_num = CD_ITEM_DEVOL_NUM,
       @cd_item_extor_num = CD_ITEM_EXTOR_NUM,
       @cd_item_saldo_cre = CD_ITEM_SALDO_CRE,
       @cd_item_saldo_deb = CD_ITEM_SALDO_DEB,
       @cd_item_receb_sd = CD_ITEM_RECEB_SD,
       @cd_item_pagto_sd = CD_ITEM_PAGTO_SD,
       @cd_item_ext_receb = CD_ITEM_EXT_RECEB,
       @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO, 
       @cd_item_nao_fat = CD_ITEM_NAO_FAT,
       @cd_item_ir = CD_ITEM_IR,       
       @cd_item_cofins_retencao = CD_ITEM_COFINS_RETENCAO,
       @cd_item_comissao = CD_ITEM_COMISSAO,
       @cd_item_pago_cli = CD_ITEM_PAGO_CLI,
       @cd_item_pis_cofins = CD_ITEM_PIS_COFINS 
FROM TPARAMETROS (NOLOCK)

-- LIQUIDAÇÃO
INSERT INTO TREL_REC_LIQ ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO, DT_MOVIMENTO, CD_BANCO )
SELECT @nr_identificador, P.CD_GRUPO, G.NM_GRUPO, P.CD_CLIENTE, E.AP_EMPRESA, L.NR_PROCESSO, L.VL_RECEITA, L.VL_SALDO_OP, L.DT_LIQUIDACAO, L.CD_BANCO
  FROM TLIQUIDACAO L (NOLOCK)
 INNER JOIN TPROCESSO P (NOLOCK) ON P.NR_PROCESSO = L.NR_PROCESSO
  LEFT JOIN TEMPRESA_NAC E (NOLOCK) ON P.CD_CLIENTE = E.CD_EMPRESA
  LEFT JOIN TGRUPO G (NOLOCK) ON P.CD_GRUPO = G.CD_GRUPO
 WHERE L.DT_LIQUIDACAO BETWEEN @dt_inicial AND @dt_final
   AND  @cd_unid_neg IN ( L.CD_UNID_NEG, 'X' )
   AND  @cd_produto IN ( L.CD_PRODUTO, 'X' )
   AND  @cd_grupo IN ( P.CD_GRUPO, 'X' )
   AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
   AND  L.IN_CANCELADO = '0'

--mantém apenas registros ncessários
DELETE FROM TREL_REC_LIQ WHERE VL_SALDO = 0


-- AGRUPA REGISTROS por Grupo/Cliente
-- Cria #TMP_REC_LIQ
SELECT NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO, DT_MOVIMENTO, CD_BANCO
INTO #TMP_REC_LIQ
FROM TREL_REC_LIQ
WHERE 1 = 0

INSERT INTO #TMP_REC_LIQ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO, DT_MOVIMENTO, CD_BANCO )
SELECT NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO, DT_MOVIMENTO, CD_BANCO
FROM TREL_REC_LIQ (NOLOCK)
WHERE NR_IDENTIFICADOR = @nr_identificador

DELETE FROM TREL_REC_LIQ WHERE NR_IDENTIFICADOR = @nr_identificador

IF @cd_grupo <> 'X' --Agrupa por Grupo
BEGIN
  INSERT INTO TREL_REC_LIQ ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO, DT_MOVIMENTO, CD_BANCO )
  SELECT NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, 'X', 'X', 0, SUM( VL_RECEITA ), SUM( VL_SALDO ), DT_MOVIMENTO, CD_BANCO
  FROM #TMP_REC_LIQ
  WHERE NR_IDENTIFICADOR = @nr_identificador
  GROUP BY NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, DT_MOVIMENTO, CD_BANCO
END
ELSE
BEGIN               --Agrupa por Cliente
  INSERT INTO TREL_REC_LIQ ( NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, NR_PROCESSO, VL_RECEITA, VL_SALDO, DT_MOVIMENTO, CD_BANCO )
  SELECT NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, 'X', 'X', 0, SUM( VL_RECEITA ), SUM( VL_SALDO ), DT_MOVIMENTO, CD_BANCO
  FROM #TMP_REC_LIQ
  WHERE NR_IDENTIFICADOR = @nr_identificador
  GROUP BY NR_IDENTIFICADOR, CD_GRUPO, NM_GRUPO, CD_CLIENTE, NM_CLIENTE, DT_MOVIMENTO, CD_BANCO
END


DROP TABLE  #TMP_REC_LIQ
-- Fim Agrupa registros

GO
