USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_COPIA_ACESSO_DIGITALIZACAO](@CD_CARGO_ORIGEM CHAR(3), @CD_CARGO_DESTINO CHAR(3)) AS
BEGIN
    DELETE FROM TCONTROLE_ACESSO_DIGITALIZACAO
    WHERE CD_CARGO = @CD_CARGO_DESTINO
    
    INSERT INTO TCONTROLE_ACESSO_DIGITALIZACAO(CD_CARGO, ID_TABELA, CD_TIPO_DOCTO, IN_VISUALIZACAO, IN_ALTERACAO)
    SELECT @CD_CARGO_DESTINO, ID_TABELA, CD_TIPO_DOCTO, IN_VISUALIZACAO, IN_ALTERACAO
    FROM TCONTROLE_ACESSO_DIGITALIZACAO
    WHERE CD_CARGO = @CD_CARGO_ORIGEM
END

GO
