USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
SET XACT_ABORT ON
BEGIN TRAN

--Object:  Stored Procedure dbo.sp_ordena_rank_receita_sr    Script Date: 02/09/1999 08:59:02 AM
--*/

CREATE PROCEDURE [sp_ordena_rank_receita_sr] (@periodo_inicial datetime, @periodo_final datetime,
      @periodo_inicial_ant datetime, @periodo_final_ant datetime,
      @cd_produto char(2), @cd_unid_neg char(2), @nr_identificador int output) AS

/*
declare @periodo_inicial datetime
declare @periodo_final datetime
declare @periodo_inicial_ant datetime
declare @periodo_final_ant datetime
declare @cd_produto  char(2)
declare @cd_unid_neg char(2)
declare @nr_identificador int
--*/

declare @cd_item char(3)
declare @media_anterior float
declare @media_atual float
declare @variacao_total float
declare @variacao_media float
declare @total_nf_atual float
declare @total_r_atual float
declare @total_sda_atual float
declare @total_nf_anterior float
declare @total_r_anterior float
declare @total_sda_anterior float

/*
declare @conta_nf_atual float
declare @conta_r_atual float
declare @conta_sda_atual float
declare @conta_nf_anterior float
declare @conta_r_anterior float
declare @conta_sda_anterior float
--*/

declare @conta_anterior int
declare @conta_atual int
declare @vl_periodo_anterior float
declare @vl_periodo_atual float

/*
select @periodo_inicial = convert(datetime, '01/03/2001', 103)
select @periodo_final = convert(datetime, '31/03/2001', 103)
select @periodo_inicial_ant = convert(datetime, '01/02/2001', 103)
select @periodo_final_ant = convert(datetime, '28/02/2001', 103)
select @cd_produto = '01'
select @cd_unid_neg = 'X'
--*/

select @nr_identificador = isnull(max(nr_identificador),0) + 1
  from TRANK_RECEITA_SR

select
  @nr_identificador nr_identificador, f.cd_item, f.cd_unid_neg, f.cd_produto,
 (select isnull(sum(vl_item),0)
  from  tfaturamento_cc f1, titem i1
  where   i1.cd_item = f1.cd_item and
          i1.cd_tipo_item = 'R' and
    (f1.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and    
    (f1.cd_produto = @cd_produto OR @cd_produto = 'X') and
   f1.dt_lancamento between @periodo_inicial_ant and @periodo_final_ant
  ) vl_periodo_anterior,
 (select isnull(count(*),0)
  from  tfaturamento_cc f1, titem i1
  where   i1.cd_item = f1.cd_item and
          i1.cd_tipo_item = 'R' and
   (f1.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and
   (f1.cd_produto = @cd_produto OR @cd_produto = 'X') and
   f1.dt_lancamento between @periodo_inicial_ant and @periodo_final_ant
  ) conta_anterior,
 isnull(sum(vl_item),0) vl_periodo_atual,
 isnull(count(*),0) conta_atual
  into #tmp_receita  
   from titem i, tfaturamento_cc f
 where   f.cd_item = i.cd_item and
  i.cd_tipo_item = 'R' and
  (f.cd_unid_neg = @cd_unid_neg or @cd_unid_neg = 'X') and
  (f.cd_produto  = @cd_produto  or @cd_unid_neg = 'X') and 
        f.dt_lancamento between @periodo_inicial and @periodo_final
 Group By f.cd_item, f.cd_unid_neg, f.cd_produto
 Order By f.cd_item, f.cd_unid_neg, f.cd_produto
insert  into #tmp_receita
   select 
  @nr_identificador nr_identificador, f.cd_item, f.cd_unid_neg, f.cd_produto,
 (select isnull(sum(vl_item),0)
  from  tfaturamento_cc f1, titem i1
  where   i1.cd_item = f1.cd_item and
          i1.cd_tipo_item = 'X' and
   (f1.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and
   (f1.cd_produto = @cd_produto OR @cd_produto = 'X') and
   f1.dt_lancamento between @periodo_inicial_ant and @periodo_final_ant
  ) vl_periodo_anterior,
 (select isnull(count(*),0)
  from  tfaturamento_cc f1, titem i1
  where   i1.cd_item = f1.cd_item and
          i1.cd_tipo_item = 'X' and
   (f1.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and
   (f1.cd_produto = @cd_produto OR @cd_produto = 'X') and
   f1.dt_lancamento between @periodo_inicial_ant and @periodo_final_ant
  ) conta_anterior,
 isnull(sum(vl_item),0) vl_periodo,
 isnull(count(*),0) conta_atual
   from titem i, tfaturamento_cc f
 where   f.cd_item = i.cd_item and
  i.cd_tipo_item = 'X' and
  (f.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and
  (f.cd_produto = @cd_produto OR @cd_produto = 'X') and
         f.dt_lancamento between @periodo_inicial and @periodo_final
 Group By f.cd_item, f.cd_unid_neg, f.cd_produto
 Order By f.cd_item, f.cd_unid_neg, f.cd_produto
insert  into #tmp_receita
   select 
  @nr_identificador nr_identificador, f.cd_item, f.cd_unid_neg, f.cd_produto,
 (select isnull(sum(vl_item),0)
  from  tfaturamento_cc f1, titem i1
  where   i1.cd_item = f1.cd_item and
          i1.cd_item = '008' and
   (f1.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and
   (f1.cd_produto = @cd_produto OR @cd_produto = 'X') and
   f1.dt_lancamento between @periodo_inicial_ant and @periodo_final_ant
  ) vl_periodo_anterior,
 (select isnull(count(*),0)
  from  tfaturamento_cc f1, titem i1
  where   i1.cd_item = f1.cd_item and
          i1.cd_item = '008' and
   (f1.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and
   (f1.cd_produto = @cd_produto OR @cd_produto = 'X') and
   f1.dt_lancamento between @periodo_inicial_ant and @periodo_final_ant
  ) conta_anterior,
 isnull(sum(vl_item),0) vl_periodo,
 isnull(count(*),0) conta_atual
   from titem i, tfaturamento_cc f
 where   f.cd_item = i.cd_item and
  i.cd_item = '008' and
  (IsNull(f.cd_unid_neg, 0) <> 0) and
  (f.cd_unid_neg = @cd_unid_neg OR @cd_unid_neg = 'X') and
  (f.cd_produto = @cd_produto OR @cd_produto = 'X') and
         f.dt_lancamento between @periodo_inicial and @periodo_final
 Group By f.cd_item, f.cd_unid_neg, f.cd_produto
 Order By f.cd_item, f.cd_unid_neg, f.cd_produto

declare c_R cursor for
  select r.nr_identificador, r.cd_item, r.cd_unid_neg, r.cd_produto, r.vl_periodo_anterior, 
  r.conta_anterior, r.vl_periodo_atual, r.conta_atual
  from #tmp_receita r, titem i
  where i.cd_item = r.cd_item and
 cd_tipo_item = 'R' and (IsNull(r.cd_unid_neg,0) <> 0) and (IsNull(r.cd_produto,0) <> 0)
open c_R
fetch c_R into @nr_identificador, @cd_item, @cd_unid_neg, @cd_produto, @vl_periodo_anterior, 
 @conta_anterior, @vl_periodo_atual, @conta_atual
while (@@fetch_status = 0)
begin
  if @total_r_anterior = 0 
  select @media_anterior = 0
  else if @conta_anterior > 0 
    select @media_anterior = isnull(@vl_periodo_anterior / @conta_anterior,0)
  else select @media_anterior = 0
  if @total_r_atual = 0 
  select @media_atual = 0
  else select @media_atual = isnull(@vl_periodo_atual / @conta_atual,0)
  if @vl_periodo_anterior = 0
  select @variacao_total = 0
  else select @variacao_total = isnull((@vl_periodo_atual - @vl_periodo_anterior) / @vl_periodo_anterior,0)
  if @media_anterior = 0 
  select @variacao_media = 0
  else select @variacao_media = isnull((@media_atual - @media_anterior) / @media_anterior,0)
  insert into trank_receita_sr values (@nr_identificador, @cd_unid_neg, @cd_item, 
  @vl_periodo_anterior, @media_anterior, @vl_periodo_atual, @media_atual,
  @variacao_total, @variacao_media)
  fetch c_R into @nr_identificador, @cd_item, @cd_unid_neg, @cd_produto, @vl_periodo_anterior, 
 @conta_anterior, @vl_periodo_atual, @conta_atual
end
close c_R
deallocate c_R

declare c_NF cursor for
  select r.nr_identificador, r.cd_item, r.cd_unid_neg, r.cd_produto, r.vl_periodo_anterior, 
 r.conta_anterior, r.vl_periodo_atual, r.conta_atual
  from #tmp_receita r, titem i
  where i.cd_item = r.cd_item and
 cd_tipo_item = 'X' and (r.cd_unid_neg Is Null) and (r.cd_produto Is Null)
open c_NF
fetch c_NF into @nr_identificador, @cd_item, @cd_unid_neg, @cd_produto, @vl_periodo_anterior, 
  @conta_anterior, @vl_periodo_atual, @conta_atual
while (@@fetch_status = 0)
begin
  if @total_nf_anterior = 0 
  select @media_anterior = 0
  else select @media_anterior = isnull(@vl_periodo_anterior / @conta_anterior,0)
  if @total_nf_atual = 0 
  select @media_atual = 0
  else select @media_atual = isnull(@vl_periodo_atual / @conta_atual, 0)
  if @vl_periodo_anterior = 0
  select @variacao_total = 0
  else select @variacao_total = isnull((@vl_periodo_atual - @vl_periodo_anterior) / @vl_periodo_anterior, 0)
  if @media_anterior = 0 
  select @variacao_media = 0
  else select @variacao_media = isnull((@media_atual - @media_anterior) / @media_anterior,0)
  insert into trank_receita_sr values (@nr_identificador, @cd_unid_neg, @cd_item, 
  @vl_periodo_anterior, @media_anterior, @vl_periodo_atual, @media_atual,
  @variacao_total, @variacao_media)
  fetch c_NF into @nr_identificador, @cd_unid_neg, @cd_item, @vl_periodo_anterior, 
 @conta_anterior, @vl_periodo_atual, @conta_atual
end
close c_NF
deallocate c_NF

declare c_SDA cursor for
  select r.nr_identificador, r.cd_item, r.vl_periodo_anterior, 
 r.conta_anterior, r.vl_periodo_atual, r.conta_atual
  from #tmp_receita r
  where cd_item = '008'
open c_SDA
fetch c_SDA into @nr_identificador, @cd_item, @vl_periodo_anterior, 
  @conta_anterior, @vl_periodo_atual, @conta_atual
while (@@fetch_status = 0)
begin
  if @total_sda_anterior = 0 
  select @media_anterior = 0
  else if @conta_anterior > 0 
    select @media_anterior = isnull( @vl_periodo_anterior / @conta_anterior,0)
  if @total_sda_atual = 0 
  select @media_atual = 0
  else select @media_atual = isnull(@vl_periodo_atual / @conta_atual,0)
  if @vl_periodo_anterior = 0
  select @variacao_total = 0
  else select @variacao_total = isnull((@vl_periodo_atual - @vl_periodo_anterior) / @vl_periodo_anterior,0)
  if @media_anterior = 0 
  select @variacao_media = 0
  else select @variacao_media = isnull((@media_atual - @media_anterior) / @media_anterior,0)
  insert into trank_receita_sr values (@nr_identificador, @cd_unid_neg, @cd_item, 
  @vl_periodo_anterior, @media_anterior, @vl_periodo_atual, @media_atual,
  @variacao_total, @variacao_media)
  fetch c_SDA into @nr_identificador, @cd_unid_neg, @cd_item, @vl_periodo_anterior, 
  @conta_anterior, @vl_periodo_atual, @conta_atual
end
close c_SDA
deallocate c_SDA

/*
SELECT * FROM TRANK_RECEITA_SR WHERE NR_IDENTIFICADOR = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

GO
