USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_di_atz_desc_merc]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0101IE-1677-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_adicao        char(3)
DECLARE @nr_item          char(3)
DECLARE @cd_mercadoria    varchar(30)
DECLARE @nm_embalagem_scx varchar(120)
DECLARE @cd_material      varchar(10)
DECLARE @nr_lote          varchar(12)
DECLARE @nr_ref           varchar(15)
DECLARE @tx_da            varchar(8000)
DECLARE @qt_lote          integer
DECLARE @ptr_merc         binary(16)
DECLARE @ptr_di           binary(16)
DECLARE @tamanho          int

DECLARE c_di CURSOR FOR 
  SELECT NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_MERCADORIA
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo

OPEN c_di
FETCH c_di INTO @nr_processo, @nr_adicao, @nr_item, @cd_mercadoria
WHILE @@fetch_status = 0
BEGIN
  UPDATE TDETALHE_MERCADORIA
  SET    TX_DESC_DET_MERC = ''
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO = @nr_adicao AND
         NR_ITEM = @nr_item

  SELECT @tamanho = DATALENGTH( TX_DESC_DET_MERC )
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO   = @nr_adicao AND
         NR_ITEM     = @nr_item

  SELECT @ptr_di = ISNULL( TEXTPTR( TX_DESC_DET_MERC ), 0 )
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO   = @nr_adicao AND
         NR_ITEM     = @nr_item

  SELECT @ptr_merc         = ISNULL( TEXTPTR( M.NM_MERCADORIA ), 0 ),
         @cd_material      = ISNULL( M.CD_MATERIAL, '' ),
         @nm_embalagem_scx = LTRIM( RTRIM( ISNULL( E.DESCRICAO, '' ) ) )
  FROM   TMERCADORIA M, TTP_EMBALAGEM E
  WHERE  M.CD_EMBALAGEM_SCX *= E.CODIGO AND
         M.CD_MERCADORIA    = @cd_mercadoria

  -- Atualizando Campo...
  UPDATETEXT TDETALHE_MERCADORIA.TX_DESC_DET_MERC @ptr_di @tamanho NULL TMERCADORIA.NM_MERCADORIA @ptr_merc

  -- Inserindo quebra de linha Referências
  SELECT @tamanho = DATALENGTH( TX_DESC_DET_MERC )
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO   = @nr_adicao AND
         NR_ITEM     = @nr_item

  SELECT @ptr_di = ISNULL( TEXTPTR( TX_DESC_DET_MERC ), 0 )
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO   = @nr_adicao AND
         NR_ITEM     = @nr_item

  SELECT @tx_da = 'ARTICULO: ' + @cd_material + char(13)
  DECLARE c_ref CURSOR FOR
    SELECT DISTINCT NR_REF
    FROM   TNAC_ITEM
    WHERE  NR_PROCESSO   = @nr_processo AND
           CD_MERCADORIA = @cd_mercadoria
  OPEN c_ref
  FETCH c_ref INTO @nr_ref
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @tx_da = @tx_da + 'REF.: ' + @nr_ref + char(13)

    DECLARE c_lote CURSOR FOR
      SELECT DISTINCT NR_LOTE
      FROM   TNAC_ITEM
      WHERE  NR_PROCESSO   = @nr_processo AND
             CD_MERCADORIA = @cd_mercadoria AND
             NR_REF        = @nr_ref
    OPEN c_lote
    FETCH c_lote INTO @nr_lote
    WHILE @@fetch_status = 0
    BEGIN
       SELECT @qt_lote = SUM( ISNULL( QT_NAC, 0 ) )
       FROM   TNAC_ITEM
       WHERE  NR_PROCESSO   = @nr_processo AND
              CD_MERCADORIA = @cd_mercadoria AND
              NR_REF        = @nr_ref AND
              NR_LOTE       = @nr_lote

      SELECT @tx_da = @tx_da + 'LOTE: ' + @nr_lote + ' = ' + CONVERT( varchar, @qt_lote ) + ' ' + @nm_embalagem_scx + char(13)

      FETCH c_lote INTO @nr_lote
    END
    CLOSE c_lote
    DEALLOCATE c_lote

    FETCH c_ref INTO @nr_ref
  END
  CLOSE c_ref
  DEALLOCATE c_ref

  SELECT @tx_da = char(13) + @tx_da
   
  UPDATETEXT TDETALHE_MERCADORIA.TX_DESC_DET_MERC @ptr_di @tamanho NULL @tx_da

  FETCH c_di INTO @nr_processo, @nr_adicao, @nr_item, @cd_mercadoria
END
CLOSE c_di
DEALLOCATE c_di



GO
