USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [sp_po_repassa_itens]( @nr_processo char(18), @cd_empresa char(5), @cd_exportador char(5), @cd_pais_aquis char(3), 
                                             @cd_fabricante char(5), @cd_pais_origem char(3) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_empresa char(5)
DECLARE @cd_exportador char(5)
DECLARE @cd_pais_aquis char(3)
DECLARE @cd_fabricante char(5)
DECLARE @cd_pais_origem char(3)

SELECT @nr_processo = '48580109263'
SET @cd_empresa = ''
SELECT @cd_exportador = '00883'
SELECT @cd_pais_aquis = '023'
SELECT @cd_fabricante = ''
SELECT @cd_pais_origem = ''
*/

-- Exportador
DECLARE @IN_DADOS_IGUAIS_ITENS CHAR(1)

SELECT @IN_DADOS_IGUAIS_ITENS = IN_DADOS_IGUAIS_ITENS
FROM TPROCESSO
WHERE NR_REFERENCIA = @nr_processo
  AND CD_CLIENTE = @cd_empresa
  AND IN_CANCELADO = '0'
      
IF @IN_DADOS_IGUAIS_ITENS = '1' 
BEGIN
	UPDATE TPO_ITEM
	SET    CD_EXPORTADOR = ISNULL( @cd_exportador, '' )
	WHERE  NR_PROCESSO = @nr_processo AND
		   CD_EMPRESA = @cd_empresa AND
		   ISNULL( CD_EXPORTADOR, '' ) <> ISNULL( @cd_exportador, '' ) AND
		   ISNULL( @cd_exportador, '' ) <> ''

	-- País de Aquisição
	UPDATE TPO_ITEM
	SET    CD_PAIS_AQUISICAO = ISNULL( @cd_pais_aquis, '' )
	WHERE  NR_PROCESSO = @nr_processo AND
		   CD_EMPRESA = @cd_empresa AND
		   ISNULL( CD_PAIS_AQUISICAO, '' ) <> ISNULL( @cd_pais_aquis, '' ) AND
		   ISNULL( @cd_pais_aquis, '' ) <> ''

	-- Fabricante
	UPDATE TPO_ITEM
	SET    CD_FABRICANTE = ISNULL( @cd_fabricante, '' )
	WHERE  NR_PROCESSO = @nr_processo AND
		   CD_EMPRESA = @cd_empresa AND
		   ISNULL( CD_FABRICANTE, '' ) <> ISNULL( @cd_fabricante, '' ) AND
		   ISNULL( @cd_fabricante, '' ) <> ''

	-- País de Origem
	UPDATE TPO_ITEM
	SET    CD_PAIS_ORIGEM = ISNULL( @cd_pais_origem, '' )
	WHERE  NR_PROCESSO = @nr_processo AND
		   CD_EMPRESA = @cd_empresa AND
		   ISNULL( CD_PAIS_ORIGEM, '' ) <> ISNULL( @cd_pais_origem, '' ) AND
		   ISNULL( @cd_pais_origem, '' ) <> ''
END 

GO
