USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROC [sp_fin_transf_pagto] @nr_processo_orig char(18), @nr_processo_dest char(18), @dt_pagamento datetime,
                                @vl_pagamento float, @cd_item char(3), @nr_lanc char(6) AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo_orig char(18)
DECLARE @nr_processo_dest char(18)
DECLARE @dt_pagamento     datetime
DECLARE @vl_pagamento     float
DECLARE @cd_item          char(3)
DECLARE @nr_lanc          char(6)

SELECT @nr_processo_orig = '0102ER-0722-09'
SELECT @dt_pagamento     = CONVERT( datetime, '03/11/2009', 103 )
SELECT @cd_item          = '424'
SELECT @nr_processo_dest = '0102ER-0846-09'
SELECT @nr_lanc          = '000448' 

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

DECLARE @nr_lanc_solic     char(3)
DECLARE @nr_lanc_fat       char(4)
DECLARE @nr_lanc_caixa     char(6)
DECLARE @cd_item_numerario char(3)

DECLARE @nr_recebimento    char(3)
DECLARE @nr_solicitacao    char(3)
DECLARE @vl_solicitado     float
DECLARE @vl_recebido       float
DECLARE @vl_utilizado      float
DECLARE @vl_saldo_processo float
DECLARE @cd_item_num       char(3)

SELECT @cd_item_numerario = CD_ITEM_RECEB_NUM
FROM TPARAMETROS (NOLOCK)

SELECT @nr_lanc_solic = MAX( NR_LANCAMENTO )
FROM   TSOLIC_PAGTO
WHERE  NR_PROCESSO    = @nr_processo_dest

SELECT @nr_lanc_solic = ISNULL( @nr_lanc_solic, '000' )
SELECT @nr_lanc_solic = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lanc_solic ) + 1 ) ), 3 )

UPDATE S
SET    S.CD_DESPACHANTE  = S2.CD_DESPACHANTE,
       S.CD_STATUS       = S2.CD_STATUS,
       S.VL_BASE_CALCULO = S2.VL_BASE_CALCULO, 
       S.VL_SDA          = S2.VL_SDA,
       S.VL_CONTR_ASSIST = S2.VL_CONTR_ASSIST,
       S.VL_COMPL        = S2.VL_COMPL,
       S.VL_PAGTO        = S2.VL_PAGTO,
       S.DT_PAGTO        = S2.DT_PAGTO,
       S.DT_DISTRIBUICAO = S2.DT_DISTRIBUICAO
FROM   TPROCESSO_SDA S, TPROCESSO_SDA S2
WHERE  S.NR_PROCESSO     = @nr_processo_dest AND
       S2.NR_PROCESSO    = @nr_processo_orig AND
       @cd_item IN ( SELECT CD_ITEM_SDA FROM TPARAMETROS (NOLOCK) )

UPDATE S2
SET    S2.CD_DESPACHANTE  = '',
       S2.CD_STATUS       = '0',
       S2.VL_BASE_CALCULO = 0, 
       S2.VL_SDA          = 0, 
       S2.VL_CONTR_ASSIST = 0, 
       S2.VL_COMPL        = 0, 
       S2.VL_PAGTO        = 0, 
       S2.DT_PAGTO        = NULL,
       S2.DT_DISTRIBUICAO = NULL
FROM   TPROCESSO_SDA S2
WHERE  S2.NR_PROCESSO    = @nr_processo_orig AND
       @cd_item IN ( SELECT CD_ITEM_SDA FROM TPARAMETROS (NOLOCK) )

/*select * from tsolic_pagto
WHERE  NR_PROCESSO   = @nr_processo_orig AND
       DT_PAGTO      = @dt_pagamento     AND
       CD_ITEM       = @cd_item     AND
       CD_STATUS     = '7' and
       VL_PAGTO      = @vl_pagamento*/

UPDATE TSOLIC_PAGTO
SET    NR_PROCESSO   = @nr_processo_dest,
       NR_LANCAMENTO = @nr_lanc_solic
WHERE  NR_PROCESSO   = @nr_processo_orig AND
       DT_PAGTO      = @dt_pagamento     AND
       CD_ITEM       = @cd_item          AND
       vl_pagto      = @vl_pagamento     AND       
       CD_STATUS     = '7'

SELECT @nr_lanc_fat = MAX( NR_LANCAMENTO )
FROM   TFATURAMENTO_CC
WHERE  NR_PROCESSO  = @nr_processo_dest
SELECT @nr_lanc_fat = ISNULL( @nr_lanc_fat, '000' )
SELECT @nr_lanc_fat = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lanc_fat ) + 1 ) ), 4 )

UPDATE TFATURAMENTO_CC
SET    NR_PROCESSO   = @nr_processo_dest,
       NR_LANCAMENTO = @nr_lanc_fat
WHERE  NR_PROCESSO   = @nr_processo_orig AND
       DT_LANCAMENTO = @dt_pagamento AND
       CD_ITEM       = @cd_item AND
       IN_RESTITUI   = '0' AND
       IN_CANCELADO  = '0' AND
       IN_FATURADO   = '0'

SELECT @nr_lanc_caixa = MAX( NR_LANCAMENTO )
FROM   TCAIXA
WHERE  DT_MOVIMENTO = @dt_pagamento 
-- Inibido em 24/03/2004 - ele deve considerar a chave ( CD_COLIGADA ) e não a unidade
--AND  CD_UNID_NEG = SUBSTRING( @nr_processo_orig, 1, 2 )

SELECT @nr_lanc_caixa = ISNULL( @nr_lanc_caixa, '000000' )
SELECT @nr_lanc_caixa = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_lanc_caixa ) + 1 ) ), 6 )

UPDATE TCAIXA
SET    NR_PROCESSO   = @nr_processo_dest,
       NR_LANCAMENTO = @nr_lanc_caixa
WHERE  NR_PROCESSO   = @nr_processo_orig AND
       DT_MOVIMENTO  = @dt_pagamento AND
       CD_ITEM       = @cd_item AND
       NR_LANCAMENTO = @nr_lanc AND
       IN_RESTITUI   = '0' AND
       IN_CANCELADO  = '0' 

IF @cd_item = @cd_item_numerario
BEGIN
  SELECT @nr_recebimento = NR_RECEBIMENTO
  FROM   TRECEBIMENTO (NOLOCK)  WHERE  NR_PROCESSO = @nr_processo_orig AND
         DT_RECEBIMENTO = @dt_pagamento

  SELECT @nr_solicitacao = NR_SOLICITACAO
  FROM   TRECEBIMENTO_ITEM_RECEB (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo_orig AND
         NR_RECEBIMENTO = @nr_recebimento

  UPDATE TNUMERARIO
  SET    NR_PROCESSO    = @nr_processo_dest
  WHERE  NR_PROCESSO    = @nr_processo_orig AND
         NR_SOLICITACAO = @nr_solicitacao

  UPDATE TNUMERARIO_ITEM_SOLIC
  SET    NR_PROCESSO    = @nr_processo_dest
  WHERE  NR_PROCESSO    = @nr_processo_orig AND
         NR_SOLICITACAO = @nr_solicitacao

  UPDATE TNUMERARIO_IMP
  SET    NR_PROCESSO    = @nr_processo_dest
  WHERE  NR_PROCESSO    = @nr_processo_orig AND
         NR_SOLICITACAO = @nr_solicitacao

  UPDATE TRECEBIMENTO
  SET    NR_PROCESSO    = @nr_processo_dest
  WHERE  NR_PROCESSO    = @nr_processo_orig AND
         NR_RECEBIMENTO = @nr_recebimento

  UPDATE TRECEBIMENTO_ITEM_RECEB
  SET    NR_PROCESSO   = @nr_processo_dest
  WHERE  NR_PROCESSO   = @nr_processo_orig AND
         NR_RECEBIMENTO = @nr_recebimento

  DECLARE c_num CURSOR FOR
    SELECT CD_ITEM
    FROM   TNUMERARIO_ITEM_SOLIC (NOLOCK) 
    WHERE  NR_PROCESSO = @nr_processo_orig AND
           NR_SOLICITACAO = @nr_solicitacao
  OPEN c_num
  FETCH c_num INTO @cd_item_num
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @vl_solicitado = SUM( ISNULL( VL_SOLICITADO, 0 ) ),
           @vl_recebido   = SUM( ISNULL( VL_RECEBIDO, 0 ) ),
           @vl_utilizado  = SUM( ISNULL( VL_UTILIZADO, 0 ) )
    FROM   TNUMERARIO_ITEM_SOLIC (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo_orig AND
           CD_ITEM = @cd_item

    UPDATE TNUMERARIO_SALDO_POR_ITEM
    SET    VL_SOLICITADO = VL_SOLICITADO - @vl_solicitado,
           VL_RECEBIDO   = VL_RECEBIDO - @vl_recebido,
           VL_UTILIZADO  = VL_UTILIZADO - @vl_utilizado,
           VL_SALDO_ITEM = VL_SALDO_ITEM - ( @vl_recebido - @vl_utilizado ),
           VL_SALDO_PROCESSO = VL_SALDO_PROCESSO - ( @vl_recebido - @vl_utilizado )
    WHERE  NR_PROCESSO = @nr_processo_orig AND
           CD_ITEM = @cd_item_num

    SELECT @vl_saldo_processo = MIN( ISNULL( VL_SALDO_PROCESSO, 0 ) )
    FROM   TNUMERARIO_SALDO_POR_ITEM
    WHERE  NR_PROCESSO = @nr_processo_dest

    SELECT @vl_saldo_processo = ISNULL( @vl_saldo_processo, 0 )

    IF NOT EXISTS( SELECT *
                   FROM   TNUMERARIO_SALDO_POR_ITEM (NOLOCK)
                   WHERE  NR_PROCESSO = @nr_processo_dest AND
                          CD_ITEM = @cd_item_num )
    BEGIN
      INSERT TNUMERARIO_SALDO_POR_ITEM ( NR_PROCESSO, CD_ITEM, VL_SOLICITADO, VL_RECEBIDO, VL_UTILIZADO, VL_SALDO_ITEM, VL_SALDO_PROCESSO )
      VALUES( @nr_processo_dest, @cd_item_num, @vl_solicitado, @vl_recebido, @vl_utilizado, @vl_recebido, @vl_saldo_processo )
    END
    ELSE
    BEGIN
      UPDATE TNUMERARIO_SALDO_POR_ITEM
      SET    VL_SOLICITADO = VL_SOLICITADO + @vl_solicitado,
             VL_RECEBIDO   = VL_RECEBIDO + @vl_recebido,
             VL_UTILIZADO  = VL_UTILIZADO + @vl_utilizado,
             VL_SALDO_ITEM = VL_SALDO_ITEM + ( @vl_recebido - @vl_utilizado ),
             VL_SALDO_PROCESSO = VL_SALDO_PROCESSO + ( @vl_recebido - @vl_utilizado )
      WHERE  NR_PROCESSO = @nr_processo_dest AND
             CD_ITEM = @cd_item_num
    END

    FETCH c_num INTO @cd_item_num
  END
  CLOSE c_num
  DEALLOCATE c_num
END

GO
