USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_GrantTableAcessAllUsers] @table sysname AS
BEGIN
  SET NOCOUNT ON;
  
  DECLARE @UserName sysname

  DECLARE login_cursor CURSOR FOR
  SELECT name FROM sys.syslogins where sysadmin = 0 and name not like '%#%' order by loginname;

  open login_cursor

  FETCH NEXT FROM login_cursor 
  INTO @UserName
  
  WHILE @@FETCH_STATUS = 0
  BEGIN
    
    EXEC('GRANT SELECT, INSERT, UPDATE, DELETE ON [dbo].[' + 
		@table + '] TO [' + 
		@UserName + ']')
	PRINT 'Permissão para ' +@UserName
	FETCH NEXT FROM login_cursor 
    INTO @UserName
  END
  CLOSE login_cursor;
  DEALLOCATE login_cursor;
END
GO
