USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_exclui_di    Script Date: 02/09/1999 08:58:11 AM ******/
CREATE PROCEDURE [sp_po_marca_item]( @nr_processo char(18), @in_selecionado char(1), @in_drawback char(1) ) AS

DECLARE @cd_usuario char(4)
SELECT @cd_usuario = ISNULL( CD_USUARIO, '0000' )
FROM   TUSUARIO 
WHERE  AP_USUARIO = SUSER_NAME()

UPDATE TPO_ITEM
SET    IN_SELECIONADO = @in_selecionado, 
       CD_USUARIO_MONTA = @cd_usuario
WHERE  NR_PROCESSO = @NR_PROCESSO


GO
