USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_fat_pagos_cli] @cd_unid_neg char(2), @cd_produto char(2), @nr_solicitacao char(6), 
                                  @nr_processo char(18) AS
/*
SET XACT_ABORT ON 
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6)
DECLARE @nr_processo char(18)

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solicitacao = '000083'
SELECT @nr_processo = '0101I0-0774-00'

ROLLBACK TRAN
SET XACT_ABORT OFF

*/

DECLARE @cd_item char(3)
DECLARE @tp_calculo char(3)
DECLARE @vl_calculado float
DECLARE @vl_soma_calculado float
DECLARE @nm_stored_proc varchar(30)
DECLARE @erro int
DECLARE @cd_usuario char(4)
DECLARE @cd_item_pago_cli char(3)
DECLARE @insere_totais bit
DECLARE @cd_servico char(3)
DECLARE @cd_cliente char(5)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

SELECT @vl_soma_calculado = 0
SELECT @insere_totais = 0

SELECT @cd_item_pago_cli = ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS )

IF ( SELECT TP_TIPO_FAT
     FROM TS_FATURA
     WHERE NR_SOLICITACAO = @nr_solicitacao 
       AND CD_UNID_NEG = @cd_unid_neg
       AND CD_PRODUTO = @cd_produto ) <> 'D'
BEGIN    

  DECLARE c_calcula CURSOR FOR
    SELECT C.CD_ITEM, C.TP_CALCULO, S.NM_STORED_PROCEDURE
    FROM   TPROCESSO P, TCLIENTE_NUMERARIO C, TCALCULO S
    WHERE  P.CD_CLIENTE = C.CD_CLIENTE AND
         P.CD_UNID_NEG = C.CD_UNID_NEG AND
         P.CD_PRODUTO = C.CD_PRODUTO AND       
         P.CD_SERVICO = C.CD_SERVICO AND       
         C.TP_CALCULO  = S.CD_CALCULO AND
         P.NR_PROCESSO = @nr_processo AND
         C.TP_DESTINO IN ( '0', '1', '5' ) AND
         C.CD_ITEM NOT IN ( SELECT CD_ITEM
                            FROM   TFATURAMENTO_CC
                            WHERE  NR_PROCESSO = @nr_processo AND
                                   IN_CANCELADO = '0' AND
                                   IN_FATURADO = '0' ) AND
         NOT EXISTS( SELECT NR_PROCESSO
                     FROM   TFATURAMENTO_CC
                     WHERE  NR_PROCESSO = @nr_processo AND
                            NR_SOLIC_FAT = @nr_solicitacao AND
                            CD_ITEM IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS ) )

  OPEN c_calcula
  FETCH c_calcula INTO @cd_item, @tp_calculo, @nm_stored_proc
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @insere_totais = 1

    SELECT @vl_calculado = 0
    EXEC @erro = @nm_stored_proc @nr_processo, @cd_item, @vl_calculado output
    IF @erro > 0
    BEGIN
      -- Gravar erro
      INSERT INTO TLOG_ERRO_CALCULO VALUES ( @cd_usuario, @nm_stored_proc, @erro, @cd_item )
    END
    ELSE
    BEGIN
      INSERT TS_FATURA_PROCESSO_ITEM
        ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, VL_CALCULADO, VL_INFORMADO, IN_RESTITUI, IN_NAO_FAT )
      VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @cd_item, 
               @vl_calculado, @vl_calculado, '0', '*' )
    END

    SELECT @vl_soma_calculado = @vl_soma_calculado + @vl_calculado

    FETCH c_calcula INTO @cd_item, @tp_calculo, @nm_stored_proc
  END

  CLOSE c_calcula
  DEALLOCATE c_calcula

  -- Inserindo Total
  IF @insere_totais = 1
  BEGIN
    INSERT TS_FATURA_PROCESSO_ITEM
       ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM,
         VL_CALCULADO, VL_INFORMADO, IN_RESTITUI, IN_NAO_FAT )
    VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @cd_item_pago_cli,
            @vl_soma_calculado, @vl_soma_calculado, '0', '*' )
  END
END
ELSE
BEGIN  -- Demonstrativo Despesas
  INSERT TS_FATURA_PROCESSO_ITEM
     ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, VL_CALCULADO, VL_INFORMADO, IN_RESTITUI, IN_NAO_FAT )
  SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, CD_ITEM, SUM( VL_ITEM ), SUM( VL_ITEM ), '0', '*'
  FROM TFATURAMENTO_CC_CLIENTE 
  WHERE NR_PROCESSO = @nr_processo  
    AND CD_ITEM <> @cd_item_pago_cli
  GROUP BY CD_ITEM


  SELECT @vl_soma_calculado = SUM( VL_ITEM )
  FROM TFATURAMENTO_CC_CLIENTE 
  WHERE NR_PROCESSO = @nr_processo  

  SELECT @cd_servico = CD_SERVICO, @cd_cliente = CD_CLIENTE
  FROM   TPROCESSO (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo

  -- Verifica se há pagamento - 12/05/2006
  IF ( SELECT COUNT(CD_ITEM) FROM TS_FATURA_PROCESSO_ITEM (NOLOCK)WHERE CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND 
       NR_SOLICITACAO = @nr_solicitacao AND NR_PROCESSO = @nr_processo AND CD_ITEM = ( SELECT CD_ITEM_COMISSAO FROM TPARAMETROS (NOLOCK)) ) < 1 
  BEGIN
    INSERT TS_FATURA_PROCESSO_ITEM
       ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, VL_CALCULADO, VL_INFORMADO, IN_RESTITUI, IN_NAO_FAT )
    SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, R.CD_ITEM, R.VL_NUM_TAXA, R.VL_NUM_TAXA, '0', '*'
    FROM TRECEITAS_IMP R
    WHERE R.CD_CLIENTE = @cd_cliente AND
          R.CD_UNID_NEG = @cd_unid_neg AND
          R.CD_PRODUTO = @cd_produto AND
          R.CD_SERVICO = @cd_servico AND
          R.VL_NUM_TAXA > 0
  END

  INSERT TS_FATURA_PROCESSO_ITEM
     ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, CD_ITEM, VL_CALCULADO, VL_INFORMADO, IN_RESTITUI, IN_NAO_FAT )
  VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @cd_item_pago_cli,
          @vl_soma_calculado, @vl_soma_calculado, '0', '*' )
END






GO
