USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_calc_laticionio]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS  
  
/*  
SET XACT_ABORT ON  
BEGIN TRAN  
  
DECLARE @nr_processo char(18)  
DECLARE @cd_item char(3)  
DECLARE @Resultado float  
  
SELECT @nr_processo = '0102EM-2345-10'  
SELECT @cd_item = ''  
*/  
---SELECT * FROM TS_FATURA_PROCESSO_ITEM WHERE NR_PROCESSO = '0101IA-0434-10' AND NR_SOLICITACAO = 'A01163'  
  
DECLARE @cd_cliente   char(5)  
DECLARE @cd_unid_neg  char(2)  
DECLARE @cd_produto   char(2)  
DECLARE @cd_servico   char(4)  
DECLARE @valor   float  
DECLARE @qtde_doctos  int  
  
--SELECIONA OS VALORES PARA CALCULO  
BEGIN  
  SELECT @qtde_doctos = COUNT(*) FROM TFOLLOWUP (NOLOCK) WHERE NR_PROCESSO = @NR_PROCESSO AND CD_EVENTO = '375' AND DT_REALIZACAO IS NOT NULL 
                      --COUNT(*) FROM TPROCESSO WHERE NR_PROCESSO = @NR_PROCESSO AND TX_MERCADORIA LIKE '%LEITE%'    
  IF @qtde_doctos > 0   
  BEGIN   
    SELECT @cd_cliente = CD_CLIENTE, @cd_unid_neg = CD_UNID_NEG, @cd_produto  = CD_PRODUTO, @cd_servico  = CD_SERVICO   
    FROM TPROCESSO (NOLOCK) WHERE (NR_PROCESSO = @nr_processo)  
   
    SELECT @valor = VL_NUM_TAXA   
    FROM TRECEITAS_EXP R  (NOLOCK) 
      INNER JOIN TCLIENTE_FATURAMENTO CF (NOLOCK) ON CF.CD_UNID_NEG = R.CD_UNID_NEG AND CF.CD_PRODUTO = R.CD_PRODUTO AND CF.CD_CLIENTE = R.CD_CLIENTE AND CF.CD_SERVICO = R.CD_SERVICO AND CF.CD_ITEM = R.CD_ITEM     
      INNER JOIN TCALCULO C (NOLOCK) ON C.CD_CALCULO = CF.TP_CALCULO  
    WHERE R.CD_CLIENTE = @cd_cliente AND R.CD_UNID_NEG = @cd_unid_neg AND R.CD_PRODUTO = @cd_produto AND R.CD_SERVICO = @cd_servico and R.VL_NUM_TAXA <> 0 AND C.CD_CALCULO = '022' AND R.CD_ITEM = @cd_item  
  
    SELECT @valor = @valor * @QTDE_DOCTOS          
    SELECT @Resultado = @valor   
    RETURN (0)  
  END  
END
GO
