USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [sp_rel_pagto_basf] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                              @cd_favorecido char(5), @cd_grupo_item char(2), @cd_item char(3),
	                      @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_favorecido char(5)
DECLARE @cd_grupo_item char(2)
DECLARE @cd_item char(3)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @cd_favorecido = 'X'
SELECT @cd_grupo_item = 'X'
SELECT @cd_item = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/11/2000', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/12/2000', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @dt_inicio = CONVERT( datetime, '01/01/2002', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/12/2002', 103 )
SELECT @nr_identificador = 1

DELETE TREL_PAGTO_BASF

INSERT TREL_PAGTO_BASF ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, CD_CLIENTE, CD_FAVORECIDO, CD_ITEM, NR_CHEQUE, DT_PAGTO, CD_SERVICO, VL_LANCAMENTO )
SELECT @nr_identificador, ISNULL( P.CD_UNID_NEG, 'XX' ), ISNULL( P.CD_PRODUTO, 'XX' ), F.NR_PROCESSO, ISNULL( E.CD_EMPRESA, 'XXXXX' ) CD_CLIENTE, 
       ISNULL( F.CD_FAVORECIDO, 'XXXXX' ) CD_FAVORECIDO, ISNULL( F.CD_ITEM, 'XXX' ), 
       MAX( ISNULL( F.NR_CHEQUE, 'X' ) ) AS NR_CHEQUE, F.DT_LANCAMENTO DT_PAGTO, P.CD_SERVICO,
       ROUND( SUM( CASE F.IN_RESTITUI 
                     WHEN '0' THEN ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) )
                     ELSE ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) * (-1)
                   END ), 2 ) VL_LANCAMENTO
FROM   TFATURAMENTO_CC F,
       TPROCESSO P,
       TEMPRESA_NAC E,
       TGRUPO_ITEM_ITEM G
WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       F.CD_ITEM = G.CD_ITEM AND
       P.CD_PRODUTO IN ( '01', '03' ) AND
       E.CD_GRUPO = '002' AND
       P.CD_SERVICO NOT IN ( '067' ) AND
       F.CD_FAVORECIDO IN ( '00162', '00163', '00164', '00165', '00068', '00141' ) AND
       F.CD_ITEM IN ( '015', '041', '056', '240', '305', '396', '083', '054', '306', '239', '082', '302', '390', '116', 
                      '037', '121', '118', '241' ) AND
       F.DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim AND
       P.IN_CANCELADO = '0' AND
       F.IN_CANCELADO = '0' AND
       F.CD_FORMA_PAGTO IN ( '$', 'T', 'C', 'D', 'S' ) AND
       ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT   FROM TPARAMETROS ) AND
       F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI  FROM TPARAMETROS )
GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, F.NR_PROCESSO, P.CD_SERVICO, E.CD_EMPRESA, F.CD_FAVORECIDO, F.CD_ITEM, /*ISNULL( F.NR_CHEQUE, 'X' ), */F.DT_LANCAMENTO/*, F.CD_BANCO*/
HAVING ROUND( SUM( CASE F.IN_RESTITUI 
                     WHEN '0' THEN ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) 
                     ELSE ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( VL_IR, 0 ) - ISNULL( VL_ASSIST, 0 ) ) * (-1)
                   END ), 2 ) > 0



GO
