USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_cancela_devolucao]( @nr_processo char(18), @nr_devolucao char(3) ) AS
declare @nr_lanc_devol   char(3)
declare @nr_solinum      char(3)
declare @nr_lanc_solinum char(3)
declare @cd_status       char(1)
declare @vl_solicitado   float
declare @vl_recebido     float
declare @vl_devolvido    float
DECLARE c_devolucao CURSOR
        FOR   SELECT NR_LANC_DEVOL, NR_SOLINUM, NR_LANC_SOLINUM, VL_DEVOLVIDO
        FROM  TDEVOLUCAO_ITENS
        WHERE ( NR_PROCESSO = @nr_processo) AND ( NR_DEVOLUCAO = @nr_devolucao )
OPEN c_devolucao 
fetch c_devolucao into @nr_lanc_devol, @nr_solinum, @nr_lanc_solinum, @vl_devolvido
while @@fetch_status = 0
begin
  SELECT @vl_solicitado = ISNULL( VL_SOLICITADO, 0 ),
         @vl_recebido = ( ISNULL( VL_RECEBIDO, 0 ) + @vl_devolvido ) 
  FROM
    TNUMERARIO_ITEM_SOLIC   
  WHERE
    ( NR_PROCESSO = @nr_processo) AND ( NR_SOLICITACAO = @nr_solinum ) AND ( NR_LANCAMENTO = @nr_lanc_solinum )
  select @cd_status = 'A'          
  UPDATE TNUMERARIO_ITEM_SOLIC 
         SET VL_RECEBIDO = @vl_recebido,
         CD_STATUS = @cd_status
  WHERE ( NR_PROCESSO = @nr_processo) AND ( NR_SOLICITACAO = @nr_solinum ) AND ( NR_LANCAMENTO = @nr_lanc_solinum )
  UPDATE TDEVOLUCAO_ITENS SET IN_CANCELADO = '1' WHERE CURRENT OF c_devolucao 
  fetch c_devolucao into @nr_lanc_devol, @nr_solinum, @nr_lanc_solinum, @vl_devolvido
end
CLOSE c_devolucao 
DEALLOCATE c_devolucao 
UPDATE TDEVOLUCAO SET VL_DEVOLUCAO = 0,
                      IN_CANCELADO = 1      /* flag de cancelado */
       WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_DEVOLUCAO = @nr_devolucao )
EXEC sp_soma_solinum @nr_processo




GO
