USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_di_gera_adm_temp] ( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0101AE-0032-00'

ROLLBACK TRAN
SET XACT_ABORT OFF

*/

IF EXISTS( SELECT *
           FROM   TPO
           WHERE  NR_PROCESSO = @nr_processo )
   RETURN(1)

DECLARE @nr_adicao  char(3)
DECLARE @nr_item_di char(3)
DECLARE @nr_item    char(3)
DECLARE @nr_item_po int

INSERT TPO ( NR_PROCESSO,         NR_IDENT_USUARIO,     CD_IMPORTADOR,        CD_INCOTERM,                 CD_FABRICANTE, 
             CD_EXPORTADOR,       CD_REPRESENTANTE,     CD_LOCAL_DESEMBARQUE, CD_VIA_TRANSP,               CD_AGENTE_CARGA, 
             IN_FABR_EXPOR_IMP,   CD_BANDEIRA_VEIC,     CD_LOCAL_EMBARQUE,    CD_MET_VALORACAO_ADUAN,      CD_MOD_PAGAMENTO, 
             CD_MOEDA_NEG,        CD_MOEDA_FRETE,       CD_MOEDA_SEGURO,      CD_MOTIVO_CAMBIO_SEM_COBERT, CD_INSTIT_FINANC, 
             CD_PAIS_PROCEDENCIA, CD_PAIS_ORIGEM,       CD_PAIS_AQUISICAO,    CD_RECINTO_ALFAND,           CD_URF_DESPACHO, 
             CD_URF_ENTRADA,      CD_SETOR_ARMAZENAGEM, CD_TP_DECLARACAO,     CD_TRANSP_INTERN,            DT_CHEGADA_CARGA,
             NM_VEICULO,          PC_COMISSAO,          PC_SEGURO,            QT_PORC_ICMS,                QT_PORC_RED_ICMS,
             NM_IDENT_CRT,        NR_MANIFESTO,         NR_PLACA_VEICULO,     NR_DOC_HOUSE,                NR_DOC_MASTER, 
             QT_PERIODICIDADE,    TP_COBERT_CAMBIO,     VL_TOTAL,             VL_FRETE_PREPAID,            VL_FRETE_COLLECT, 
             VL_FRETE_TERRIT_NAC, VL_SEGURO,            PB_PO,                PL_PO,                       DT_ABERTURA,
             NR_DA )
SELECT DI.NR_PROCESSO,          DI.NR_IDENT_USUARIO,     DI.CD_IMPORTADOR,       DI.CD_INCOTERM,             DI.CD_FABRICANTE, 
       DI.CD_FORNECEDOR,        P.CD_REPRESENTANTE,      P.CD_LOCAL_DESEMBARQUE, S.CD_VIA_TRANSPORTE,        A.CD_AGENTE, 
       DI.CD_AUSENCIA_FABRIC,   DI.CD_BANDEIRA_TRANSP,   DI.CD_LOCAL_EMBARQUE,   DI.CD_METODO_VALORACAO,     DI.CD_MODALIDADE_PAGTO, 
       DI.CD_MOEDA_MLE,         DI.CD_MOEDA_FRETE,       DI.CD_MOEDA_SEGURO,     DI.CD_MOTIVO_SEM_COBERTURA, DI.CD_ORGAO_FIN_INTER, 
       DI.CD_PAIS_PROC_CARGA,   DI.CD_PAIS_ORIG_MERC,    DI.CD_PAIS_AQUIS_MERC,  DI.CD_RECINTO_ALFAND,       DI.CD_URF_DESPACHO,
       DI.CD_URF_ENTR_CARGA,    DI.CD_SETOR_ARMAZENAM,   DI.CD_TIPO_DECLARACAO,  DI.CD_TRANSPORTADOR,        
       CASE DI.DT_CHEGADA_CARGA
          WHEN NULL THEN NULL
          ELSE CONVERT( datetime, SUBSTRING( DI.DT_CHEGADA_CARGA, 1, 2 ) + '/' + SUBSTRING( DI.DT_CHEGADA_CARGA, 3, 2 ) + '/' + SUBSTRING( DI.DT_CHEGADA_CARGA, 5, 4 ), 103 )
       END,
       DI.NM_VEICULO_TRANSP,    DI.PC_COMISSAO,          DI.PC_SEGURO_MLE,       DI.PC_ICMS,                 DI.PC_REDUCAO_ICMS,
       DI.NR_IDENTIFICACAO_COM, DI.NR_MANIFESTO,         DI.NR_VEICULO_TRANSP,   DI.NR_DCTO_CARGA,           DI.NR_DCTO_CARGA_MAST,
       DI.QT_PERIOD_PGTO_360,   DI.CD_COBERTURA_CAMBIAL, DI.VL_TOT_MLE_MNEG,     DI.VL_TOT_FRT_PREPAID,      DI.VL_TOT_FRT_COLLECT,
       DI.VL_FRETE_TNAC_MNEG,   DI.VL_TOT_SEGURO_MNEG,   DI.PB_CARGA,            DI.PL_CARGA,                CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ) ),
       DI.NR_DECLARACAO_IMP
FROM   TDECLARACAO_IMPORTACAO DI, TPROCESSO P, VW_SERVICO_GERAL S, TAGENTE A
WHERE  DI.NR_PROCESSO     = P.NR_PROCESSO AND
       P.CD_SERVICO       *= S.CD_SERVICO AND
       DI.NR_AGENTE_CARGA *= A.NR_CGC_AGENTE AND
       DI.NR_PROCESSO     = @nr_processo

SELECT @nr_item_po = 0

DECLARE c_di CURSOR FOR
  SELECT NR_ADICAO, NR_ITEM
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo
  ORDER BY NR_PROCESSO, NR_ADICAO, NR_ITEM

OPEN c_di

FETCH c_di INTO @nr_adicao, @nr_item_di
WHILE @@fetch_status = 0
BEGIN
  SELECT @nr_item_po = @nr_item_po + 1

  SELECT @nr_item = RIGHT( '000' + CONVERT( varchar, @nr_item_po ) , 3 )


  INSERT TPO_ITEM ( NR_PROCESSO,    NR_ITEM,           CD_MERCADORIA, QT_INICIAL,     CD_UNID_MEDIDA,    VL_UNITARIO, 
                    PC_COMISSAO,    PC_DESCONTO,       VL_DESCONTO,   TP_CALCULO,     VL_TOTAL,          CD_NCM_SH,         
                    CD_NALADI_SH,   CD_NALADI_NCCA,    PL_ITEM,       QT_INICIAL_EST, CD_FABRICANTE,     CD_EXPORTADOR, 
                    CD_PAIS_ORIGEM, CD_PAIS_AQUISICAO, TX_MERCADORIA )
    SELECT @nr_processo,        @nr_item,              DI.CD_MERCADORIA,     DI.QT_MERC_UN_COMERC, DI.CD_UN_MED_COMERC,
           DI.VL_UNITARIO,      AD.PC_COMISSAO_AG_IMP, DI.PC_DESCONTO_MERC,  DI.VL_DESCONTO_MERC,  DI.CD_TIPO_CALCULO_ITEM, 
           DI.VL_MLE_ITEM,      DI.CD_NCM_SH,          DI.CD_NALADI_SH,      DI.CD_NALADI_NCCA,    DI.PL_MERCADORIA,     
           DI.QT_MERC_UN_ESTAT, DI.CD_FABRICANTE,      DI.CD_EXPORTADOR,     DI.CD_PAIS_ORIGEM,    DI.CD_PAIS_AQUISICAO, 
           DI.TX_DESC_DET_MERC  
    FROM   TDETALHE_MERCADORIA DI, TADICAO_DE_IMPORTACAO AD
    WHERE  DI.NR_PROCESSO = AD.NR_PROCESSO AND
           DI.NR_ADICAO   = AD.NR_ADICAO AND
           DI.NR_PROCESSO = @nr_processo AND
           DI.NR_ADICAO = @nr_adicao AND
           DI.NR_ITEM = @nr_item
 
  FETCH c_di INTO @nr_adicao, @nr_item_di
END

CLOSE c_di
DEALLOCATE c_di

UPDATE TPO
SET    QT_TOTAL_ITENS = RIGHT( '000' + CONVERT( varchar, @nr_item_po ), 3 ),
       QT_TOTAL_DISPONIVEL = ( SELECT SUM( QT_INICIAL )
                               FROM   TPO_ITEM
                               WHERE  NR_PROCESSO = @nr_processo )

RETURN(0)


GO
