USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_exclui_abre_proc Script Date: 02/09/1999 08:57:47 AM ******/
CREATE PROCEDURE [sp_exclui_abre_proc] ( @nr_registro int ) AS

DELETE TABRE_PROCESSO_DOCUMENTO
WHERE  NR_REGISTRO = @nr_registro

DELETE TABRE_PROCESSO
WHERE  NR_REGISTRO = @nr_registro



GO
