USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE PROCEDURE [sp_mapa_mensal] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5),
                 @dt_inicio datetime, @dt_fim datetime AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/01/2004', 103 )
SELECT @dt_fim = CONVERT( datetime, '11/03/2004', 103 )
SELECT @cd_produto = '01'
*/


SELECT
    SUBSTRING( P.NR_PROCESSO, 5, 14 ), R.CD_REFERENCIA, P.NR_DI,
    P.TX_MERCADORIA, EM.NM_EMBARCACAO, F.DT_REALIZACAO, P.CD_UNID_NEG,
    U.NM_UNID_NEG, P.CD_CLIENTE, E.NM_EMPRESA
FROM TPROCESSO P (NOLOCK)
     join TEMPRESA_NAC E (NOLOCK) on ( P.CD_CLIENTE = E.CD_EMPRESA )
     join TUNID_NEG U (NOLOCK) on ( P.CD_UNID_NEG = U.CD_UNID_NEG )
     join TEMBARCACAO EM (NOLOCK) on ( P.CD_EMBARCACAO = EM.CD_EMBARCACAO )
     join TFOLLOWUP F (NOLOCK) on ( P.NR_PROCESSO = F.NR_PROCESSO )
     join TREF_CLIENTE R (NOLOCK) on ( P.NR_PROCESSO = R.NR_PROCESSO )
WHERE F.CD_EVENTO = ( SELECT CD_EV_RECEP_ANALISE FROM TPARAMETROS )
  AND F.IN_APLICAVEL = '1'
  AND F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim
  AND @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )
  AND @cd_grupo IN ( P.CD_GRUPO, 'X' )                
  AND @cd_cliente IN ( P.CD_CLIENTE, 'X' )
  AND P.CD_PRODUTO = '01'
ORDER BY  P.CD_UNID_NEG, E.NM_EMPRESA, P.NR_PROCESSO, R.CD_REFERENCIA


/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
