USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_rel_nr_processos] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), 
                                  @cd_cliente char(5), @cd_analista char(3), @cd_destino char(3),
                                  @cd_modal char(2),@in_faturado char(1), @dt_inicio datetime, @dt_fim datetime,
                                  @nr_identificador int output ) AS


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_analista      char(3)
DECLARE @cd_destino       char(3)
DECLARE @cd_modal         char(2)
DECLARE @in_faturado      char(1)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = 'X'
SELECT @cd_grupo    = 'X'
SELECT @cd_cliente  = 'X'
SELECT @cd_analista = 'X'
SELECT @cd_destino  = 'X'
SELECT @cd_modal    = 'X'
SELECT @in_faturado    = '2'
SELECT @dt_inicio   = '01/05/04'
SELECT @dt_fim      = '01/06/04'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

IF @in_faturado = '0'
  BEGIN

    SET @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR),0 ) + 1
                                FROM TREL_MAPA_ANALITICO_OXITENO )
    INSERT TREL_QT_PROCESSOS ( NR_IDENTIFICADOR, QT_PROCESSOS)
    SELECT @nr_identificador as NR_IDENTIFICADOR, COUNT( DISTINCT NR_PROCESSO) AS QT_PROCESSOS
    FROM TPROCESSO P
         INNER JOIN TSERVICO SE (NOLOCK) ON ( SE.CD_SERVICO = P.CD_SERVICO )
    WHERE @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )                 AND
          @cd_produto  IN ( P.CD_PRODUTO,  'X' )                 AND
          @cd_grupo    IN ( P.CD_GRUPO,    'X' )                 AND
          @cd_cliente  IN ( P.CD_CLIENTE,  'X' )                 AND
          @cd_analista IN ( P.CD_CONTATO,         'X' )          AND
          @cd_destino  IN ( P.CD_PAIS_DESTINO,    'X' )          AND 
          @cd_modal    IN ( SE.CD_VIA_TRANSPORTE, 'X' )          AND
          DT_ABERTURA BETWEEN @dt_inicio and @dt_fim             AND
         ( SELECT ISNULL(FT.DT_REALIZACAO, 0)
           FROM TFOLLOWUP FT
           WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
                 FT.CD_EVENTO = ( SELECT CD_ITEM_DED FROM TPARAMETROS) ) = '01/01/1900'
  END
ELSE
IF @in_faturado = '1'
  BEGIN

    SET @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR),0 ) + 1
                                FROM TREL_MAPA_ANALITICO_OXITENO )
    INSERT TREL_QT_PROCESSOS ( NR_IDENTIFICADOR, QT_PROCESSOS)
    SELECT @nr_identificador as NR_IDENTIFICADOR, COUNT( DISTINCT NR_PROCESSO)
    FROM TPROCESSO P
         INNER JOIN TSERVICO SE (NOLOCK) ON ( SE.CD_SERVICO = P.CD_SERVICO )
    WHERE @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )                 AND
          @cd_produto  IN ( P.CD_PRODUTO,  'X' )                 AND
          @cd_grupo    IN ( P.CD_GRUPO,    'X' )                 AND
          @cd_cliente  IN ( P.CD_CLIENTE,  'X' )                 AND
          @cd_analista IN ( P.CD_CONTATO,         'X' )          AND
          @cd_destino  IN ( P.CD_PAIS_DESTINO,    'X' )          AND 
          @cd_modal    IN ( SE.CD_VIA_TRANSPORTE, 'X' )          AND
          DT_ABERTURA BETWEEN @dt_inicio and @dt_fim             AND
         ( SELECT ISNULL(FT.DT_REALIZACAO, 0)
           FROM TFOLLOWUP FT
           WHERE FT.NR_PROCESSO = P.NR_PROCESSO AND 
                 FT.CD_EVENTO = ( SELECT CD_ITEM_DED FROM TPARAMETROS) ) <> '01/01/1900'
  END
ELSE
IF @in_faturado = '2'
  BEGIN

    SET @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR),0 ) + 1
                                FROM TREL_MAPA_ANALITICO_OXITENO )
    INSERT TREL_QT_PROCESSOS ( NR_IDENTIFICADOR, QT_PROCESSOS) 
    SELECT @nr_identificador as NR_IDENTIFICADOR, COUNT( DISTINCT NR_PROCESSO)
    FROM TPROCESSO P
         INNER JOIN TSERVICO SE (NOLOCK) ON ( SE.CD_SERVICO = P.CD_SERVICO )
    WHERE @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )                 AND
          @cd_produto  IN ( P.CD_PRODUTO,  'X' )                 AND
          @cd_grupo    IN ( P.CD_GRUPO,    'X' )                 AND
          @cd_cliente  IN ( P.CD_CLIENTE,  'X' )                 AND
          @cd_analista IN ( P.CD_CONTATO,         'X' )          AND
          @cd_destino  IN ( P.CD_PAIS_DESTINO,    'X' )          AND 
          @cd_modal    IN ( SE.CD_VIA_TRANSPORTE, 'X' )          AND
          DT_ABERTURA BETWEEN @dt_inicio and @dt_fim             
  END


GO
