USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_soma_solic_ch    Script Date: 02/09/1999 08:59:02 AM ******/
/****** Object:  Stored Procedure dbo.sp_soma_solic_ch    Script Date: 31/03/1998 13:55:28 ******/
CREATE PROCEDURE [sp_soma_solic_ch]( @dt_solic_ch char(10), @nr_solic_ch char(3) ) AS
DECLARE @vl_solic_ch  numeric(14,2)
SELECT 
  @vl_solic_ch = ISNULL( SUM( CASE 
                               WHEN T.TP_NATUREZA = 'D' AND A.IN_RESTITUI = '0' THEN 
         ( ISNULL( CONVERT( numeric(14,2), A.VL_ITEM ), 0 ) - 
                                       ISNULL( CONVERT( numeric(14,2), A.VL_IR ), 0 ) + 
                                       ISNULL( CONVERT( numeric(14,2), A.VL_ASSIST ), 0 ) )
                               WHEN T.TP_NATUREZA = 'D' AND A.IN_RESTITUI = '1' THEN 
          ( ISNULL( CONVERT( numeric(14,2), A.VL_ITEM ), 0 ) - 
                                       ISNULL( CONVERT( numeric(14,2), A.VL_IR ), 0 ) + 
                                       ISNULL( CONVERT( numeric(14,2), A.VL_ASSIST ), 0 ) ) * (-1)
                               WHEN T.TP_NATUREZA = 'C' AND A.IN_RESTITUI = '1' THEN 
         ( ISNULL( CONVERT( numeric(14,2), A.VL_ITEM ), 0 ) - 
                                       ISNULL( CONVERT( numeric(14,2), A.VL_IR ), 0 ) + 
                                       ISNULL( CONVERT( numeric(14,2), A.VL_ASSIST ), 0 ) )
                               WHEN T.TP_NATUREZA = 'C' AND A.IN_RESTITUI = '0' THEN 
          ( ISNULL( CONVERT( numeric(14,2), A.VL_ITEM ), 0 ) - 
                                       ISNULL( CONVERT( numeric(14,2), A.VL_IR ), 0 ) + 
                                       ISNULL( CONVERT( numeric(14,2), A.VL_ASSIST ), 0 ) ) * (-1)
                             END ), 0 ) 
FROM
TSOLIC_CHEQUE_ITENS A,
TITEM I,
TTIPO_ITEM T
WHERE
  ( A.CD_ITEM      = I.CD_ITEM )      AND
  ( I.CD_TIPO_ITEM = T.CD_TIPO_ITEM ) AND
  ( A.DT_SOLIC_CH  = @dt_solic_ch )   AND
  ( A.NR_SOLIC_CH  = @nr_solic_ch )   AND
  ( CHARINDEX( A.CD_STATUS,'0-4-6-8' ) > 0 )
SELECT @vl_solic_ch = ABS( @vl_solic_ch )
UPDATE TSOLIC_CHEQUE
SET
  VL_SOLIC_CH = @vl_solic_ch  
WHERE
  ( DT_SOLIC_CH = @dt_solic_ch ) AND 
  ( NR_SOLIC_CH = @nr_solic_ch )


GO
