USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.sp_baixar_ch_br    Script Date: 02/09/1999 08:58:58 AM ******/
CREATE PROCEDURE [sp_baixar_ch_br] (@cd_banco char(3), @nr_cheque char(6), @dt_movimento datetime) AS
DECLARE @NR_PROCESSO  char(18)
DECLARE @CD_ITEM char(3)
DECLARE @VL_ITEM numeric(14,2)
UPDATE TCHEQUE_BRANCO
  SET IN_BAIXADO = '1',
      DT_BAIXA   = convert(datetime,(convert(char(10),@dt_movimento, 103)),103)
  WHERE CD_BANCO  = @cd_banco AND
        NR_CHEQUE = @nr_cheque
DECLARE c_item CURSOR FOR
  SELECT NR_PROCESSO, CD_ITEM, (ISNULL(convert(numeric(14,2),VL_ITEM), 0) + 
         ISNULL(convert(numeric(14,2),VL_ASSIST), 0)) VL_ITEM
  FROM TCHEQUE_BRANCO_ITEM
  WHERE CD_BANCO  = @cd_banco AND
        NR_CHEQUE = @nr_cheque
OPEN c_item
FETCH c_item INTO @nr_processo, @cd_item, @vl_item
WHILE @@fetch_status = 0
BEGIN
  EXEC sp_atualiza_utilizado @nr_processo, @cd_item, @vl_item, '+'
  FETCH c_item INTO @nr_processo, @cd_item, @vl_item
END
CLOSE c_item
DEALLOCATE c_item





GO
