USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [sp_rel_lead_time_teste] --'01', '01', '002', 'x', 'x', '20031001', '20031031', '1', '1', 'x', null  
( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),  
@cd_area char(2), @dt_inicio datetime, @dt_fim datetime, @tp_dias char(1),  
@in_lead_time char(1), @cd_canal char(1), @nr_identificador smallint OUTPUT ) AS  
 
/*  
SET XACT_ABORT ON  
BEGIN TRAN  
 
DECLARE @cd_unid_neg char(2)  
DECLARE @cd_produto char(2)  
DECLARE @cd_grupo char(3)  
DECLARE @cd_cliente char(5)  
DECLARE @cd_area char(2)  
DECLARE @dt_inicio datetime  
DECLARE @dt_fim datetime  
DECLARE @tp_dias char(1)  
DECLARE @nr_identificador smallint  
DECLARE @in_lead_time char(1)  
DECLARE @cd_canal char(1)  
 
SELECT @cd_unid_neg = '01'  
SELECT @cd_produto = '01'  
SELECT @cd_grupo = '002'  
SELECT @cd_cliente = 'X'  
SELECT @cd_area = 'X'  
SELECT @dt_inicio = CONVERT( datetime, '01/01/2003', 103 )  
SELECT @dt_fim = CONVERT( datetime, '31/03/2003', 103 )  
SELECT @tp_dias = '1'  
SELECT @in_lead_time = '0'  
SELECT @cd_canal = 'X'  
 
ROLLBACK TRAN  
SET XACT_ABORT OFF  
*/  
 
SET NOCOUNT ON  
 
SELECT @nr_identificador = MAX( NR_IDENTIFICADOR ) + 1  
FROM TREL_LEAD_TIME  
 
SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )  
 
/* Criação da tabela temporária para a contagem de dias úteis*/  
SELECT P.NR_PROCESSO AS NR_PROCESSO, P.CD_SERVICO, P.CD_AREA, G.NR_META, FI.DT_REALIZACAO AS DT_INICIO, FF.DT_REALIZACAO AS DT_FIM  
INTO #TMP_DIAS  
FROM TPROCESSO P, TFOLLOWUP F (nolock), VW_SERVICO_GERAL S, TGRUPO_SERVICO G, TTP_CANAL C,  
TFOLLOWUP FI (nolock), TFOLLOWUP FF (nolock)  
WHERE P.NR_PROCESSO = F.NR_PROCESSO AND  
P.CD_SERVICO = S.CD_SERVICO AND  
S.CD_GRUPO = G.CD_GRUPO AND  
S.CD_EVENTO_CONCLUSOR = F.CD_EVENTO AND  
P.CD_CANAL = C.CD_CANAL AND  
( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND  
( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND  
( ( P.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND  
( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND  
( ( P.CD_AREA = @cd_area ) OR ( @cd_area = 'X' ) ) AND  
( ( C.CD_CANAL = @cd_canal ) OR ( @cd_canal = 'X' ) ) AND  
F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND  
FI.NR_PROCESSO = P.NR_PROCESSO AND  
FI.CD_EVENTO = S.CD_EV_INI AND  
FI.IN_APLICAVEL = '1' AND  
FI.DT_REALIZACAO IS NOT NULL and  
FF.NR_PROCESSO = P.NR_PROCESSO AND  
FF.CD_EVENTO = S.CD_EV_FIM AND  
FF.IN_APLICAVEL = '1' AND  
FF.DT_REALIZACAO IS NOT NULL AND  
P.IN_CANCELADO = '0' AND  
( ( P.IN_REL_LEAD_TIME = @in_lead_time ) OR ( @in_lead_time = '2' ) ) AND  
S.IN_ATIVO = '1'  
 
/* Executando stored procedure sp_lead_time para contagem de dias úteis*/  
DECLARE @nr_dias int  
DECLARE @dt_inicio_i datetime  
DECLARE @dt_fim_f datetime  
DECLARE @nr_processo char(18)  
 
DECLARE c_data_cursor CURSOR FAST_FORWARD FOR  
SELECT NR_PROCESSO, DT_INICIO, DT_FIM  
FROM #TMP_DIAS  
 
SELECT @nr_processo AS NR_PROCESSO, @nr_dias AS NR_DIAS, @dt_inicio_i AS DT_INICIO, @dt_fim_f AS DT_FIM  
INTO #TMP_DIAS_UTEIS  
FROM #TMP_DIAS  
WHERE 1 = 0  
 
OPEN c_data_cursor  
 
FETCH c_data_cursor INTO @nr_processo, @dt_inicio_i, @dt_fim_f  
WHILE ( @@FETCH_STATUS = 0 )  
BEGIN  
 
IF DATEDIFF( D, @dt_inicio_i, @dt_fim_f ) < 0  
BEGIN  
CLOSE c_data_cursor  
DEALLOCATE c_data_cursor  
RETURN(1)  
END  
 
EXEC sp_lead_dias_uteis @tp_dias, @dt_inicio_i, @dt_fim_f, @nr_dias OUTPUT  
 
INSERT #TMP_DIAS_UTEIS ( NR_PROCESSO, NR_DIAS, DT_INICIO, DT_FIM )  
VALUES ( @nr_processo, @nr_dias , @dt_inicio_i, @dt_fim_f )  
 
FETCH c_data_cursor INTO @nr_processo, @dt_inicio_i, @dt_fim_f  
END  
CLOSE c_data_cursor  
DEALLOCATE c_data_cursor  
 
 
/* Criação da tabela temporária final para relatório*/  
SELECT P.NR_PROCESSO, P.CD_SERVICO, P.CD_AREA,  
( SELECT NR_DIAS  
FROM #TMP_DIAS_UTEIS TDU  
WHERE TDU.NR_PROCESSO = P.NR_PROCESSO ) AS NR_DIAS,  
P.NR_META,  
CASE  
WHEN ( SELECT NR_DIAS  
FROM #TMP_DIAS_UTEIS TDU  
WHERE TDU.NR_PROCESSO = P.NR_PROCESSO ) <= P.NR_META THEN 1  
ELSE 0  
END AS ABAIXO_META,  
CASE  
WHEN ( SELECT NR_DIAS  
FROM #TMP_DIAS_UTEIS TDU  
WHERE TDU.NR_PROCESSO = P.NR_PROCESSO ) <= P.NR_META THEN  
( SELECT NR_DIAS  
FROM #TMP_DIAS_UTEIS TDU  
WHERE TDU.NR_PROCESSO = P.NR_PROCESSO )  
ELSE 0  
END AS NR_DIAS_ABAIXO_META,  
CASE  
WHEN ( SELECT NR_DIAS  
FROM #TMP_DIAS_UTEIS TDU  
WHERE TDU.NR_PROCESSO = P.NR_PROCESSO ) <= P.NR_META THEN 0  
ELSE 1  
END AS ACIMA_META,  
CASE  
WHEN ( SELECT NR_DIAS  
FROM #TMP_DIAS_UTEIS TDU  
WHERE TDU.NR_PROCESSO = P.NR_PROCESSO ) <= P.NR_META THEN 0  
ELSE  
( SELECT NR_DIAS  
FROM #TMP_DIAS_UTEIS TDU  
WHERE TDU.NR_PROCESSO = P.NR_PROCESSO )  
END AS NR_DIAS_ACIMA_META  
INTO #TMP_REL_LEAD_TIME  
FROM #TMP_DIAS P  
 
/*  
SELECT S.CD_GRUPO, P.CD_SERVICO, COUNT( P.CD_SERVICO ) AS QT_TOT_PROC,  
SUM( ABAIXO_META ) AS QT_ABAIXO_META, SUM( NR_DIAS_ABAIXO_META ) AS NR_DIAS_ABAIXO_META, SUM( NR_DIAS_ABAIXO_META ) / ISNULL( SUM( ABAIXO_META ), 1 ) AS MEDIA_ABAIXO_META, G.NR_META,  
SUM( ACIMA_META ) AS QT_ACIMA_META, SUM( NR_DIAS_ACIMA_META ) AS NR_DIAS_ACIMA_META, SUM( NR_DIAS_ACIMA_META ) / ISNULL( SUM( ACIMA_META ), 1 ) AS MEDIA_ACIMA_META,  
ISNULL( ( ( SUM( ABAIXO_META ) ) * ( SUM( NR_DIAS_ABAIXO_META ) / ISNULL( SUM( ABAIXO_META ), 1 ) ) ) +  
( ( SUM( ACIMA_META ) ) * ( SUM( NR_DIAS_ACIMA_META ) / ISNULL( SUM( ACIMA_META ), 1 ) ) ), 1 ) /  
ISNULL( COUNT( P.CD_SERVICO ), 1 ) AS MEDIA_GRUPO  
FROM #TMP_REL_LEAD_TIME P, TGRUPO_SERVICO G, VW_SERVICO_GERAL S  
WHERE P.CD_SERVICO = S.CD_SERVICO AND  
S.CD_GRUPO *= G.CD_GRUPO  
GROUP BY S.CD_GRUPO, P.CD_SERVICO, S.CD_EV_INI, S.CD_EV_FIM, G.NR_META  
ORDER BY S.CD_GRUPO, P.CD_SERVICO  
*/  
 
-- Inibido em 02/03/04  
-- DELETE FROM TREL_LEAD_TIME_WEB  
-- Insere dados na tabela TREL_LEAD_TIME_WEB que será lida por uma view p/ o MyIndaia  
INSERT TREL_LEAD_TIME_WEB ( NR_IDENTIFICADOR, NR_PROCESSO, CD_SERVICO, CD_AREA, NR_DIAS, NR_META, NR_ABAIXO_META,  
NR_DIAS_ABAIXO_META, NR_ACIMA_META, NR_DIAS_ACIMA_META )  
SELECT @nr_identificador, NR_PROCESSO, CD_SERVICO, CD_AREA, NR_DIAS, NR_META, ABAIXO_META,  
NR_DIAS_ABAIXO_META, ACIMA_META, NR_DIAS_ACIMA_META  
FROM #TMP_REL_LEAD_TIME  
 
/* Dados finais agrupados para Relatório de Lead Time */  
INSERT TREL_LEAD_TIME ( NR_IDENTIFICADOR, CD_GRUPO, CD_SERVICO, QT_TOT_PROC, NR_META,  
QT_ABAIXO_META, NR_DIAS_ABAIXO_META, MEDIA_ABAIXO_META,  
QT_ACIMA_META, NR_DIAS_ACIMA_META, MEDIA_ACIMA_META, MEDIA_GRUPO )  
SELECT @nr_identificador, S.CD_GRUPO, P.CD_SERVICO, COUNT( P.CD_SERVICO ) AS QT_TOT_PROC, G.NR_META,  
SUM( ABAIXO_META ) AS QT_ABAIXO_META, SUM( NR_DIAS_ABAIXO_META ) AS NR_DIAS_ABAIXO_META, SUM( NR_DIAS_ABAIXO_META ) / CASE WHEN SUM( ABAIXO_META )=0 THEN 1 ELSE SUM( ABAIXO_META ) END AS MEDIA_ABAIXO_META,  
SUM( ACIMA_META ) AS QT_ACIMA_META, SUM( NR_DIAS_ACIMA_META ) AS NR_DIAS_ACIMA_META, SUM( NR_DIAS_ACIMA_META ) / CASE WHEN SUM( ACIMA_META )=0 THEN 1 ELSE SUM( ACIMA_META ) END AS MEDIA_ACIMA_META,  
ROUND(  
ISNULL( CONVERT( float,  
( ( SUM( ABAIXO_META ) *  
( SUM( NR_DIAS_ABAIXO_META ) / CASE WHEN SUM( ABAIXO_META ) = 0 THEN 1 ELSE SUM( ABAIXO_META ) END ) ) +  
( SUM( ACIMA_META ) *  
( SUM( NR_DIAS_ACIMA_META ) / CASE WHEN SUM( ACIMA_META ) = 0 THEN 1 ELSE SUM( ACIMA_META ) END ) )  
) /  
CONVERT( float, ISNULL( COUNT( P.CD_SERVICO ), 1 ) ) ), 0 ), 1 ) AS MEDIA_GRUPO  
FROM #TMP_REL_LEAD_TIME P, TGRUPO_SERVICO G, VW_SERVICO_GERAL S  
WHERE P.CD_SERVICO = S.CD_SERVICO AND  
S.CD_GRUPO *= G.CD_GRUPO  
GROUP BY S.CD_GRUPO, P.CD_SERVICO, S.CD_EV_INI, S.CD_EV_FIM, G.NR_META  
ORDER BY S.CD_GRUPO, P.CD_SERVICO  
 
/* Dados finais agrupados para Relatório de Lead Time Área*/  
INSERT TREL_LEAD_TIME_AREA ( NR_IDENTIFICADOR, CD_GRUPO, CD_SERVICO, CD_AREA, QT_TOT_PROC, NR_META,  
QT_ABAIXO_META, NR_DIAS_ABAIXO_META, MEDIA_ABAIXO_META,  
QT_ACIMA_META, NR_DIAS_ACIMA_META, MEDIA_ACIMA_META, MEDIA_GRUPO )  
SELECT @nr_identificador, S.CD_GRUPO, P.CD_SERVICO, P.CD_AREA, COUNT( P.CD_SERVICO ) AS QT_TOT_PROC, G.NR_META,  
SUM( ABAIXO_META ) AS QT_ABAIXO_META, SUM( NR_DIAS_ABAIXO_META ) AS NR_DIAS_ABAIXO_META, SUM( NR_DIAS_ABAIXO_META ) / CASE WHEN SUM( ABAIXO_META )=0 THEN 1 ELSE SUM( ABAIXO_META ) END AS MEDIA_ABAIXO_META,  
SUM( ACIMA_META ) AS QT_ACIMA_META, SUM( NR_DIAS_ACIMA_META ) AS NR_DIAS_ACIMA_META, SUM( NR_DIAS_ACIMA_META ) / CASE WHEN SUM( ACIMA_META )=0 THEN 1 ELSE SUM( ACIMA_META ) END AS MEDIA_ACIMA_META,  
ROUND(  
ISNULL( CONVERT( float,  
( ( SUM( ABAIXO_META ) *  
( SUM( NR_DIAS_ABAIXO_META ) / CASE WHEN SUM( ABAIXO_META ) = 0 THEN 1 ELSE SUM( ABAIXO_META ) END ) ) +  
( SUM( ACIMA_META ) *  
( SUM( NR_DIAS_ACIMA_META ) / CASE WHEN SUM( ACIMA_META ) = 0 THEN 1 ELSE SUM( ACIMA_META ) END ) )  
) /  
CONVERT( float, ISNULL( COUNT( P.CD_SERVICO ), 1 ) ) ), 0 ), 1 ) AS MEDIA_GRUPO  
FROM #TMP_REL_LEAD_TIME P, TGRUPO_SERVICO G, VW_SERVICO_GERAL S  
WHERE P.CD_SERVICO = S.CD_SERVICO AND  
S.CD_GRUPO *= G.CD_GRUPO  
GROUP BY S.CD_GRUPO, P.CD_SERVICO, P.CD_AREA, S.CD_EV_INI, S.CD_EV_FIM, G.NR_META  
ORDER BY S.CD_GRUPO, P.CD_SERVICO  
 
/*  
SELECT *  
FROM TREL_LEAD_TIME  
WHERE NR_IDENTIFICADOR = @nr_identificador  
*/  
 
DROP TABLE #TMP_DIAS  
DROP TABLE #TMP_DIAS_UTEIS  
DROP TABLE #TMP_REL_LEAD_TIME  
select @nr_identificador 
GO
