USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [sp_aux_adicao_itens](  @cd_unidade CHAR(2), @cd_produto CHAR(2), @nr_processo CHAR( 14 ), @nr_identificador INT OUTPUT )  AS

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TAUX_ADICAO_ITENS
SELECT @cd_unidade = ISNULL( @cd_unidade, '')
SELECT @cd_produto = ISNULL ( @cd_produto, '')
SELECT @nr_processo = ISNULL ( @nr_processo, '' )

INSERT INTO TAUX_ADICAO_ITENS
       SELECT @nr_identificador, A.NR_PROCESSO, C.NR_ADICAO, C.NR_ITEM,  A.CD_IMPORTADOR, C.CD_NCM_SH, 
       E.DESCRICAO,  D.NM_EMPRESA, C.TX_DESC_DET_MERC,
       ( SELECT F.PC_ALIQ_NORM_ADVAL FROM TRIBUTO F 
                       WHERE F.NR_PROCESSO = A.NR_PROCESSO AND F.NR_ADICAO = B.NR_ADICAO AND 
                       CD_RECEITA_IMPOSTO = '0001' ) ALIQ_II_ADVAL, 
       ( SELECT F.PC_ALIQ_ACOR_TARIF FROM TRIBUTO F 
                       WHERE F.NR_PROCESSO = A.NR_PROCESSO AND F.NR_ADICAO = B.NR_ADICAO AND 
                        CD_RECEITA_IMPOSTO = '0001' ) ALIQ_II_ACORDO, 
       ( SELECT F.PC_ALIQ_REDUZIDA FROM TRIBUTO F 
                       WHERE F.NR_PROCESSO = A.NR_PROCESSO AND F.NR_ADICAO = B.NR_ADICAO AND 
                       CD_RECEITA_IMPOSTO = '0001' ) ALIQ_II_REDUZIDA, 
       ( SELECT F.PC_ALIQ_NORM_ADVAL FROM TRIBUTO F 
                       WHERE F.NR_PROCESSO = A.NR_PROCESSO AND F.NR_ADICAO = B.NR_ADICAO AND 
                       CD_RECEITA_IMPOSTO = '0002' ) ALIQ_IPI_ADVAL, 
       ( SELECT F.PC_ALIQ_ACOR_TARIF FROM TRIBUTO F 
                       WHERE F.NR_PROCESSO = A.NR_PROCESSO AND F.NR_ADICAO = B.NR_ADICAO AND 
                       CD_RECEITA_IMPOSTO = '0002' ) ALIQ_IPI_ACORDO, 
       ( SELECT F.PC_ALIQ_REDUZIDA FROM TRIBUTO F 
                       WHERE F.NR_PROCESSO = A.NR_PROCESSO AND F.NR_ADICAO = B.NR_ADICAO AND 
                       CD_RECEITA_IMPOSTO = '0002' ) ALIQ_IPI_REDUZIDA, 
       C.QT_MERC_UN_COMERC, C.CD_UN_MED_COMERC, C.PL_MERCADORIA, C.VL_MCV_ITEM, 
       ( C.VL_MCV_ITEM * C.QT_MERC_UN_COMERC ), B.CD_MOEDA_NEGOCIADA, G.NM_MOEDA, H.NM_UNID_MEDIDA
FROM TDETALHE_MERCADORIA C
INNER JOIN TDECLARACAO_IMPORTACAO A ON ( A.NR_PROCESSO = C.NR_PROCESSO )
INNER JOIN TADICAO_DE_IMPORTACAO B ON ( B.NR_PROCESSO = C.NR_PROCESSO )
INNER JOIN TPROCESSO TP ON ( C.NR_PROCESSO = TP.NR_PROCESSO )
LEFT  JOIN TEMPRESA_NAC D ON ( A.CD_IMPORTADOR = D.CD_EMPRESA )
LEFT  JOIN TNCM E ON ( C.CD_NCM_SH = E.CODIGO )
LEFT  JOIN TMOEDA_BROKER G ON ( B.CD_MOEDA_NEGOCIADA = G.CD_MOEDA )
LEFT  JOIN TUNID_MEDIDA_BROKER H ON ( C.CD_UN_MED_COMERC = H.CD_UNID_MEDIDA )
WHERE C.NR_PROCESSO = B.NR_PROCESSO AND
      B.NR_PROCESSO = A.NR_PROCESSO AND
      C.NR_ADICAO = B.NR_ADICAO AND
      B.NR_PROCESSO = @nr_processo AND
      TP.CD_UNID_NEG = @cd_unidade AND
      TP.CD_PRODUTO = @cd_produto
ORDER BY C.NR_ADICAO, C.NR_ITEM
GO
