USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_distribui_adm] ( @cd_unid_neg char(2), @dt_pagto datetime, @nr_ref char(3), @tp_natureza char(1) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @dt_pagto datetime
DECLARE @nr_ref char(3)
DECLARE @tp_natureza char(1)

SELECT @cd_unid_neg = '03'
SELECT @dt_pagto = CONVERT( datetime, '20/11/2001', 103 )
SELECT @nr_ref = '001'
SELECT @tp_natureza = 'C'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_ult_lanc_fat_cc  int
DECLARE @ult_lanc_fat_cc     char(4)
DECLARE @nr_ult_lanc         int
DECLARE @cd_coligada         char(2)
DECLARE @dt_lancto	     datetime
DECLARE @cd_ct_contabil      char(12)
DECLARE @vl_lancto 	     float
DECLARE @cd_status_adm	     char(2)
DECLARE @cd_favorecido	     char(5)
DECLARE @cd_banco 	     char(3)
DECLARE @nr_docto	     char(10)
DECLARE @nr_lancamento	     char(3)
DECLARE @in_transf_fin       char(1)
DECLARE @nr_grupo_liquidacao char(3)
DECLARE @nr_processo         char(18)
DECLARE @cd_forma_pagto      char(1)
DECLARE @cd_banco_liq        char(3)
DECLARE @vl_liquidacao       float
DECLARE @nr_solic_fat        char(6)
DECLARE @cd_usuario          char(4)
DECLARE @cd_item             char(3)
DECLARE @cd_sistema_contabil char(1)
DECLARE @in_distribui        char(1)
DECLARE @nr_ctaapagar        char(3)
DECLARE @cd_ct_gerencial     char(4)
DECLARE @vl_distr_gerencial  float
DECLARE @tp_liquidacao       char(1)

SELECT @cd_coligada = '01'

SELECT @cd_sistema_contabil = CD_SISTEMA_CONTABIL
FROM   TPARAMETROS (NOLOCK)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO (NOLOCK)
WHERE  AP_USUARIO  = SUSER_NAME()

DECLARE c_adm CURSOR FOR
  SELECT DT_LANCTO, CD_CT_CONTABIL, NR_LANCAMENTO, ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ), DT_PAGTO, 
         CD_STATUS_ADM, CD_FAVORECIDO, IN_TRANSF_FIN, CD_BANCO, NR_DOCTO, NR_GRUPO_LIQUIDACAO, ISNULL( NR_CTAAPAGAR, '' )
  FROM   TADM S
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         TP_NATUREZA = @tp_natureza AND
         NR_REF = @nr_ref AND
         DT_PAGTO = @dt_pagto AND
         IN_TRANSF_FIN = '0' AND
         ( ( SELECT ( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) )
             FROM   TADM P 
             WHERE  P.CD_UNID_NEG = S.CD_UNID_NEG AND
	  	              P.DT_LANCTO = S.DT_LANCTO AND
                    P.CD_CT_CONTABIL = S.CD_CT_CONTABIL AND
                    P.TP_NATUREZA = S.TP_NATUREZA AND
                    P.NR_LANCAMENTO = S.NR_LANCAMENTO AND
                    P.CD_STATUS_ADM IN ('4', '7', '8', '9', '10', '11', '16', '17', '18', '19') AND
                    IN_TRANSF_FIN = '0'
            ) > 0 ) AND
          ( SELECT ( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) )
            FROM   TADM P 
            WHERE  P.CD_UNID_NEG = S.CD_UNID_NEG AND
                   P.DT_LANCTO = S.DT_LANCTO AND
                   P.CD_CT_CONTABIL = S.CD_CT_CONTABIL AND
                   P.TP_NATUREZA = S.TP_NATUREZA AND
                   P.NR_LANCAMENTO = S.NR_LANCAMENTO AND
                   P.CD_STATUS_ADM IN ( '4', '7' ) AND
                   IN_TRANSF_FIN = '0'
          ) IS NOT NULL

OPEN c_adm
FETCH c_adm INTO 
  @dt_lancto, @cd_ct_contabil, @nr_lancamento, @vl_lancto, @dt_pagto, @cd_status_adm, @cd_favorecido, 
  @in_transf_fin, @cd_banco, @nr_docto, @nr_grupo_liquidacao, @nr_ctaapagar

WHILE @@fetch_status <> -1
BEGIN

  SELECT @nr_ult_lanc = CONVERT( INT, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) )
  FROM   TCAIXA (TABLOCK HOLDLOCK)
  WHERE  DT_MOVIMENTO = @dt_pagto

  INSERT TCAIXA
    ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, 
      IN_TRANSFERIDO, CD_HISTORICO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_CHEQUE, 
      CD_FAVORECIDO, CD_CT_CONTABIL, CD_CT_CONTABIL_CTAAPAGAR, CD_ACESSO, CD_AUX, IN_RESTITUI, IN_OPERACIONAL, CD_CT_CUSTO,
      NR_CTAAPAGAR, CODIGO_CTAAPAGAR_LANC, IN_SELECIONADO )
    SELECT '01', DT_PAGTO, RIGHT( '000000' + CONVERT( VARCHAR, ( ISNULL( @nr_ult_lanc, 0) + 1 ) ), 6),
           @cd_unid_neg, 'C', '2', '0', '1', CD_HISTORICO,
           CASE 
             WHEN CD_STATUS_ADM IN ( '4', '17') THEN 'ESTORNO'
             ELSE SUBSTRING( TX_HISTORICO, 1, 180 )
           END,
           ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ), 
           CASE TP_LANCAMENTO
             WHEN 'C' THEN 'C'
             WHEN 'N' THEN 
                CASE ISNULL( CD_BANCO, '' )
                  WHEN '' THEN '$' --Dinheiro
                  ELSE 'D' -- Doc
                END  
           END, 
           CASE 
             WHEN CD_STATUS_ADM IN ( '4', '17') THEN 
               CASE TP_NATUREZA
                 WHEN 'C' THEN 'D'
                 WHEN 'D' THEN 'C'
                 ELSE 'C'
               END
             ELSE TP_NATUREZA
           END, CD_BANCO, NR_DOCTO, CD_FAVORECIDO, CD_CT_CONTABIL, CD_CT_CONTABIL_CTAAPAGAR, CD_ACESSO, CD_AUX,
           CASE 
             WHEN CD_STATUS_ADM IN ( '4', '17') THEN '1'
             ELSE '0'
           END, IN_OPERACIONAL, CD_CT_CUSTO, NR_CTAAPAGAR, CODIGO_CTAAPAGAR_LANC, IN_SELECIONADO
    FROM   TADM
    WHERE  CD_UNID_NEG = @cd_unid_neg AND DT_LANCTO = @dt_lancto AND 
           CD_CT_CONTABIL = @cd_ct_contabil AND TP_NATUREZA = @tp_natureza AND 
           NR_LANCAMENTO = @nr_lancamento AND IN_TRANSF_FIN = '0'

  SELECT @in_distribui = IN_DISTRIBUI
  FROM   TCONTABIL_PLANO (NOLOCK)
  WHERE  CD_COLIGADA = '01' AND
         CD_CT_CONTABIL = @cd_ct_contabil

  -- Distribuição Gerencial
  IF @cd_sistema_contabil = '0' AND @in_distribui = '1'
  BEGIN
    DECLARE c_distr_ger CURSOR FOR
      SELECT CD_CT_GERENCIAL, VL_LANCTO
      FROM   TADM_GERENCIAL (NOLOCK)
      WHERE  CD_UNID_NEG = @cd_unid_neg AND
             DT_LANCTO = @dt_lancto AND
             NR_LANCAMENTO = @nr_lancamento
        
    OPEN c_distr_ger
    FETCH c_distr_ger INTO @cd_ct_gerencial, @vl_distr_gerencial
    WHILE @@fetch_status = 0 
    BEGIN
      INSERT TCAIXA_CONTABIL_DISTR( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_CT_GERENCIAL, VL_DISTRIBUICAO )
      VALUES ( @cd_coligada, @dt_pagto, RIGHT( '000000' + CONVERT( VARCHAR, ( ISNULL( @nr_ult_lanc, 0) + 1 ) ), 6),
               @cd_ct_gerencial, @vl_distr_gerencial )

      FETCH c_distr_ger INTO @cd_ct_gerencial, @vl_distr_gerencial
    END
    CLOSE c_distr_ger
    DEALLOCATE c_distr_ger
  END

  -- Contas a Pagar
  IF @nr_ctaapagar <> ''
  BEGIN
    UPDATE TCTAAPAGAR
    SET    NR_CHEQUE = @nr_docto,
           DT_PAGAMENTO = @dt_pagto,
           STATUS = '7'    -- Pago
    WHERE  CD_UNID_NEG  = @cd_unid_neg AND
           DT_CTAAPAGAR = @dt_lancto   AND
           NR_CTAAPAGAR = @nr_ctaapagar
  END

  -- Liquidação
  IF @cd_status_adm <> '4' 
  BEGIN
--    SELECT @cd_item = ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS )

    DECLARE c_fat CURSOR FOR
      SELECT NR_PROCESSO, CD_FORMA_PAGTO, CD_BANCO, VL_LIQUIDACAO, NR_SOLIC_FAT, TP_LIQUIDACAO
      FROM   TLIQUIDACAO (NOLOCK)
      WHERE  DT_LIQUIDACAO = @dt_lancto AND
             NR_GRUPO_LIQUIDACAO = @nr_grupo_liquidacao /*AND
             TP_LIQUIDACAO = 'P'*/
    OPEN c_fat
    FETCH c_fat INTO @nr_processo, @cd_forma_pagto, @cd_banco_liq, @vl_liquidacao, @nr_solic_fat, @tp_liquidacao
    WHILE @@fetch_status = 0 
    BEGIN
      IF @tp_liquidacao = 'R' 
      BEGIN
        SELECT @cd_item = ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS (NOLOCK) )
      END
      ELSE
      BEGIN
        SELECT @cd_item = ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS (NOLOCK) )
      END

      SELECT @nr_ult_lanc_fat_cc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '0000' ) ) ) + 1
      FROM   TFATURAMENTO_CC 
      WHERE  NR_PROCESSO = @nr_processo
 
      SELECT @ult_lanc_fat_cc = RIGHT( '0000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc_fat_cc, 1 ) ), 4 )

      INSERT INTO TFATURAMENTO_CC 
        ( NR_PROCESSO, NR_LANCAMENTO, CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,
          CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, IN_FATURADO, IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO )
      VALUES ( @nr_processo, @ult_lanc_fat_cc, SUBSTRING( @nr_processo, 1, 2 ), SUBSTRING( @nr_processo, 3, 2 ), @nr_solic_fat, @dt_pagto, @cd_usuario, @cd_favorecido, @cd_banco_liq, 
               @cd_item, @cd_forma_pagto, '4', ABS( @vl_liquidacao ), '1', '0', '0', '0', '0' )

      FETCH c_fat INTO @nr_processo, @cd_forma_pagto, @cd_banco_liq, @vl_liquidacao, @nr_solic_fat, @tp_liquidacao
    END
    CLOSE c_fat
    DEALLOCATE c_fat
  END

  UPDATE TADM
  SET    IN_TRANSF_FIN = '1'
  WHERE  CD_UNID_NEG = @cd_unid_neg AND DT_LANCTO = @dt_lancto AND
         CD_CT_CONTABIL = @cd_ct_contabil AND TP_NATUREZA = @tp_natureza AND 
         NR_LANCAMENTO = @nr_lancamento AND IN_TRANSF_FIN = '0'

	DECLARE @cd_ct_caixa char(3)
	SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco
	EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_pagto, @cd_ct_caixa

  FETCH c_adm INTO 
     @dt_lancto, @cd_ct_contabil, @nr_lancamento, @vl_lancto, @dt_pagto, @cd_status_adm, @cd_favorecido, 
     @in_transf_fin, @cd_banco, @nr_docto, @nr_grupo_liquidacao, @nr_ctaapagar
END
CLOSE c_adm
DEALLOCATE c_adm
GO
