USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_li_desmonta] @nr_processo char(20) AS

/*
BEGIN TRAN

DECLARE @NR_PROCESSO CHAR(20) = '0101IM-000004-14'
--*/

DECLARE @nr_proc_montado char(20)
DECLARE @nr_proc_montado_item char(20)
DECLARE @nr_item char(3)
DECLARE @qt_total_item char(3)
DECLARE @nr_registro_li char(10)
DECLARE @in_embut_frt_item char(1)

DECLARE @nItem int
DECLARE @cItem char(3)

DECLARE @vl_frete_moeda float
DECLARE @vl_seguro_moeda float
DECLARE @vl_despesa_moeda float
DECLARE @vl_desconto_moeda float
DECLARE @qt_total_pes_liq float
DECLARE @qt_med_estatistica float
DECLARE @vl_total_moeda float

DECLARE c_desmonta CURSOR FOR
  SELECT NR_PROCESSO, ISNULL( NR_REGISTRO_LI, '') AS NR_REGISTRO_LI
  FROM   TLICENCA_IMPORTACAO
  WHERE @nr_processo IN (SUBSTRING(NR_PROCESSO, 1, 14), SUBSTRING(NR_PROCESSO, 1, 16))

OPEN c_desmonta

FETCH c_desmonta INTO @nr_proc_montado, @nr_registro_li
WHILE @@fetch_status = 0
BEGIN
  --Capa
  IF EXISTS( SELECT NR_PROCESSO
             FROM   TLICENCA_IMPORTACAO 
             WHERE  NR_PROCESSO = @nr_processo )
  BEGIN
    SELECT @vl_frete_moeda     = VL_FRETE_MOEDA, 
           @vl_seguro_moeda    = VL_SEGURO_MOEDA,
           @vl_despesa_moeda   = VL_DESPESA_MOEDA,
           @vl_desconto_moeda  = VL_DESCONTO_MOEDA,
           @qt_total_pes_liq   = QT_TOTAL_PES_LIQ,
           @qt_med_estatistica = QT_MED_ESTATISTICA,
           @vl_total_moeda     = VL_TOTAL_MOEDA,
           @in_embut_frt_item  = IN_EMBUT_FRT_ITENS
    FROM   TLICENCA_IMPORTACAO 
    WHERE  NR_PROCESSO = @nr_proc_montado

    UPDATE TLICENCA_IMPORTACAO
    SET    VL_FRETE_MOEDA     = CONVERT( numeric( 14, 2 ), VL_FRETE_MOEDA + @vl_frete_moeda ),
           VL_SEGURO_MOEDA    = CONVERT( numeric( 14, 2 ), VL_SEGURO_MOEDA + @vl_seguro_moeda ), 
           VL_DESPESA_MOEDA   = CONVERT( numeric( 14, 2 ), VL_DESPESA_MOEDA + @vl_despesa_moeda ), 
           VL_DESCONTO_MOEDA  = CONVERT( numeric( 14, 2 ), VL_DESCONTO_MOEDA + @vl_desconto_moeda ), 
           QT_TOTAL_PES_LIQ   = CONVERT( numeric( 18, 5 ), QT_TOTAL_PES_LIQ + @qt_total_pes_liq ), 
           QT_MED_ESTATISTICA = CONVERT( numeric( 18, 5 ), QT_MED_ESTATISTICA + @qt_med_estatistica ), 
           VL_TOTAL_MOEDA     = CONVERT( numeric( 18, 5 ), VL_TOTAL_MOEDA + @vl_total_moeda ),
           IN_EMBUT_FRT_ITENS = @in_embut_frt_item,
           NR_REGISTRO_LI = ''
    WHERE  NR_PROCESSO = @nr_processo

    -- Se possuir integridade referencial não poderá excluir diretamente antes de tratar o item
    DELETE TLICENCA_IMPORTACAO
    WHERE  NR_PROCESSO = @nr_proc_montado
  END
  ELSE
  BEGIN
    UPDATE TLICENCA_IMPORTACAO
    SET    NR_PROCESSO = @nr_processo,
           IN_MONTADA = '0'
    WHERE  NR_PROCESSO = @nr_proc_montado
  END

  -- Itens
  DECLARE c_desmonta_itens CURSOR FOR
    SELECT NR_PROCESSO, NR_ITEM
    FROM   TLICENCA_ITENS
    WHERE  NR_PROCESSO = @nr_proc_montado
  OPEN c_desmonta_itens
  FETCH c_desmonta_itens INTO @nr_proc_montado_item, @nr_item
  WHILE @@fetch_status = 0
  BEGIN
    IF EXISTS( SELECT NR_PROCESSO
               FROM   TLICENCA_ITENS
               WHERE  NR_PROCESSO = @nr_processo ) -- Renumerar o item
    BEGIN
      -- Verifica o último item
      SELECT @nItem = 0
      SELECT @nItem = COUNT(*) 
      FROM   TLICENCA_ITENS 
      WHERE  ( NR_PROCESSO = @nr_processo )
 
      SELECT @nItem = @nItem + 1
      SELECT @cItem = CONVERT( char(3), @nItem )
      SELECT @cItem = RIGHT( ( '000' + RTRIM( @nItem ) ), 3 )

      UPDATE TLICENCA_ITENS
      SET    NR_PROCESSO = @nr_processo, NR_ITEM = @cItem, NR_LI_SUBSTITUIDO = @nr_registro_li
      WHERE  NR_PROCESSO = @nr_proc_montado AND NR_ITEM = @nr_item
    END
    ELSE
    BEGIN
      SELECT @cItem = '001'

      UPDATE TLICENCA_ITENS
      SET    NR_PROCESSO = @nr_processo,
             NR_ITEM = @cItem,
             NR_LI_SUBSTITUIDO = @nr_registro_li
      WHERE  NR_PROCESSO = @nr_proc_montado AND NR_ITEM = @nr_item
    END

    UPDATE TLICENCA_NVE
    SET    NR_PROCESSO = @nr_processo, NR_ITEM = @cItem
    WHERE  NR_PROCESSO = @nr_proc_montado AND NR_ITEM = @nr_item

    FETCH c_desmonta_itens INTO @nr_proc_montado_item, @nr_item
  END
  CLOSE c_desmonta_itens
  DEALLOCATE c_desmonta_itens

  IF NOT EXISTS( SELECT NR_PROCESSO 
                 FROM   TPROC_ANUENTES
                 WHERE NR_PROCESSO = @nr_processo )
  BEGIN
    UPDATE TPROC_ANUENTES
    SET    NR_PROCESSO = @nr_processo
    WHERE  NR_PROCESSO = @nr_proc_montado
  END

  FETCH c_desmonta INTO @nr_proc_montado, @nr_registro_li
END

CLOSE c_desmonta
DEALLOCATE c_desmonta

------- Para controlar total de itens item  ----------
SELECT @qt_total_item = CONVERT(  char(3), ( SELECT COUNT(*) 
                                             FROM   TLICENCA_ITENS 
                                             WHERE ( NR_PROCESSO = @nr_processo ) ) )
SELECT @qt_total_item = RIGHT( ( '000' + RTRIM( @qt_total_item ) ), 3 )

UPDATE TLICENCA_IMPORTACAO
SET    QT_TOTAL_ITEM = @qt_total_item
WHERE  NR_PROCESSO = @nr_processo

--UPDATE TREF_CLIENTE SET NR_PROCESSO = @NR_PROCESSO FROM TREF_CLIENTE WHERE NR_PROCESSO = @NR_PROC_MONTADO

/*
SELECT *
FROM TLICENCA_IMPORTACAO
WHERE NR_PROCESSO LIKE RTRIM(@NR_PROCESSO) + '%'

ROLLBACK
--*/
GO
