USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_qtde_especie]( @nr_identificador int, @cd_referencia char(15), @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @cd_referencia    char(15)
DECLARE @nr_processo      char(18)

SELECT @nr_identificador = 1
SELECT @cd_referencia    = '45801254701'
SELECT @nr_processo      = '0101I0-1010-05'

ROLLBACK TRAN
SET XACT_ABORT OFF

*/
DECLARE @nm_especie varchar(100),
        @qt_volumes varchar(20),
        @tipo       varchar(100),
	@chave      varchar(2),
   	@passa      varchar(100),	
	@terc       varchar(100)



-- COLOCA QUANTIDADE E ESPÉCIE
IF EXISTS( SELECT IN_DESOVA FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = @nr_processo )
BEGIN
  IF ( SELECT TOP 1 IN_DESOVA 
       FROM TPROCESSO_CNTR (NOLOCK)
       WHERE NR_PROCESSO = @nr_processo ) = '1'
  BEGIN
    -- Qtde Carga Solta
    SELECT @qt_volumes = ( SUM( VL_QTDE ) )
    FROM   TPROCESSO_CARGA_SOLTA (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo
       
    -- Tipo Carga Solta
    SELECT COUNT( P.NR_PROCESSO) AS PROCESSO, P.VL_QTDE AS VL_QTDE, P.NR_SEQUENCIA AS NR_SEQUENCIA, NM_ESPECIE
    INTO   #TEMP_CS
    FROM   TPROCESSO_CARGA_SOLTA P (NOLOCK)
    WHERE  P.NR_PROCESSO = @nr_processo
    GROUP BY VL_QTDE, NR_SEQUENCIA, NM_ESPECIE
 
    SET @tipo = ''
    SET @passa = ''
    SET @terc = ''
    WHILE ( SELECT COUNT ( PROCESSO ) FROM #TEMP_CS ) > 0
    BEGIN
      SELECT @chave = ( SELECT TOP 1 NR_SEQUENCIA FROM #TEMP_CS )
      SET @passa = ( SELECT RTRIM(NM_ESPECIE) + ' / ' FROM #TEMP_CS WHERE NR_SEQUENCIA = @chave )
      SET @tipo = @terc + @passa
      SET @terc = @tipo
  
      DELETE FROM #TEMP_CS WHERE NR_SEQUENCIA = @chave
    END

    IF LEN( @tipo ) > 4
      SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 3 )
    
    DROP TABLE #TEMP_CS

    SET @nm_especie = @tipo
        
    UPDATE TREL_LEAD_TIME2
    SET NM_ESPECIE = @nm_especie,
        QT_VOLUMES = @qt_volumes
    WHERE NR_IDENTIFICADOR = @nr_identificador AND
          NR_PROCESSO = @nr_processo
  END
  ELSE
  BEGIN
    -- Qtde CNTR
    SELECT @qt_volumes = ( COUNT( NR_CNTR ) )
    FROM   TPROCESSO_CNTR (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo

    -- Tipo CNTR
    SELECT COUNT( NR_CNTR) AS CNTR, C.TP_CNTR AS TP_CNTR, NM_TP_CNTR
    INTO   #TEMP_CNTR
    FROM   TPROCESSO_CNTR P (NOLOCK)
           INNER JOIN TTP_CNTR C (NOLOCK) ON ( P.TP_CNTR = C.TP_CNTR )
    WHERE  P.NR_PROCESSO = @nr_processo
    GROUP BY C.TP_CNTR, NM_TP_CNTR
 
    SET @tipo = ''
    SET @passa = ''
    SET @terc = ''
    WHILE ( SELECT COUNT ( CNTR ) FROM #TEMP_CNTR ) > 0
    BEGIN
      SELECT @chave = ( SELECT TOP 1 TP_CNTR FROM #TEMP_CNTR )
      SET @passa = ( SELECT RTRIM(NM_TP_CNTR) + ' / ' FROM #TEMP_CNTR WHERE TP_CNTR = @chave )
      SET @tipo = @terc + @passa
      SET @terc = @tipo
  
      DELETE FROM #TEMP_CNTR WHERE TP_CNTR = @chave
    END

    IF LEN( @tipo ) > 4
       SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 3 )
    DROP TABLE #TEMP_CNTR
 
    SET @nm_especie = @tipo
            UPDATE TREL_LEAD_TIME2
    SET NM_ESPECIE = @nm_especie,
        QT_VOLUMES = @qt_volumes
    WHERE NR_IDENTIFICADOR = @nr_identificador AND
          NR_PROCESSO = @nr_processo 

  END
END





GO
