USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_rel_cliente_arm] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
                               @cd_armazem char(4), @cd_servico char(3), @dt_inicio char(10), @dt_fim char(10),
                               @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int

DECLARE @cd_unid_neg char(2) 
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_armazem char(4)
DECLARE @cd_servico char(3)
DECLARE @dt_inicio char(10)
DECLARE @dt_fim char(10)

SELECT @cd_grupo = 'X' 
SELECT @cd_cliente = 'X' 
SELECT @cd_armazem = 'X' 
SELECT @cd_servico = 'X' 

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'

SELECT @dt_inicio = '01/01/2001'
SELECT @dt_fim    = '10/07/2001'
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_CLIENTE_ARM (TABLOCK HOLDLOCK)

IF @dt_inicio = 'X' OR @dt_fim = 'X'
BEGIN
  INSERT TREL_CLIENTE_ARM ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_ARMAZEM, CD_SERVICO, NR_PROCESSO, VL_DESPESA, 
                            QT_LEAD_TIME, TOTAL_1, TOTAL_2, TOTAL_3, TOTAL_4, TOTAL_5, DT_ENTRADA, DT_EV_CONCLUSOR )
    SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_ARMAZEM_DESCARGA, P.CD_SERVICO, P.NR_PROCESSO, ISNULL(SUM(CC.VL_ITEM),0),
           ISNULL(DATEDIFF( DAY, (SELECT F.DT_REALIZACAO 
                                  FROM   TFOLLOWUP F (NOLOCK)
                                  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                                         F.CD_EVENTO = ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS (NOLOCK) )), F.DT_REALIZACAO ),0),
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '01') AS TOTAL_1,
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '02') AS TOTAL_2,
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '03') AS TOTAL_3,
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '04') AS TOTAL_4,
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '05') AS TOTAL_5,
    (SELECT F.DT_REALIZACAO 
       FROM TFOLLOWUP F (NOLOCK)
       WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
              F.CD_EVENTO = ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS (NOLOCK) )) AS DT_ENTRADA,
              F.DT_REALIZACAO AS DT_EV_CONCLUSOR
    FROM   TPROCESSO P (NOLOCK),
           TARMAZEM A (NOLOCK),
           TEMPRESA_NAC E (NOLOCK),  
           VW_SERVICO_GERAL S (NOLOCK),
           TFATURAMENTO_CC CC (NOLOCK),
           TFOLLOWUP F (NOLOCK)
    WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
           @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
           @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
           @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
           @cd_armazem IN ( P.CD_ARMAZEM_DESCARGA, 'X' ) AND
           @cd_servico IN ( P.CD_SERVICO, 'X' ) AND
           P.CD_CLIENTE = E.CD_EMPRESA AND       
           P.CD_ARMAZEM_DESCARGA *= A.CD_ARMAZEM AND
           P.CD_SERVICO *= S.CD_SERVICO AND
           P.IN_CANCELADO = '0' AND
           P.NR_PROCESSO *= CC.NR_PROCESSO AND
           CC.IN_CANCELADO = 0 AND
           CC.IN_RESTITUI = 0 AND
           CC.CD_ITEM = '015' AND
           (F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = (SELECT CD_EVENTO_CONCLUSOR 
		                                             FROM VW_SERVICO_GERAL (NOLOCK)
						             WHERE CD_SERVICO = P.CD_SERVICO AND IN_ATIVO = 1)
           AND F.DT_REALIZACAO IS NOT NULL )
    GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_ARMAZEM_DESCARGA, P.CD_SERVICO, P.NR_PROCESSO, F.DT_REALIZACAO

END
ELSE
BEGIN
  INSERT TREL_CLIENTE_ARM ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_ARMAZEM, CD_SERVICO, NR_PROCESSO, VL_DESPESA, 
                            QT_LEAD_TIME, TOTAL_1, TOTAL_2, TOTAL_3, TOTAL_4, TOTAL_5, DT_ENTRADA, DT_EV_CONCLUSOR )
    SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_ARMAZEM_DESCARGA, P.CD_SERVICO, P.NR_PROCESSO, ISNULL(SUM(CC.VL_ITEM),0),
           ISNULL(DATEDIFF( DAY, (SELECT F.DT_REALIZACAO 
                                  FROM   TFOLLOWUP F (NOLOCK)
                                  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                                         F.CD_EVENTO = ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS (NOLOCK) )), F.DT_REALIZACAO ),0),
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '01') AS TOTAL_1,
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '02') AS TOTAL_2,
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '03') AS TOTAL_3,
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '04') AS TOTAL_4,
    (SELECT COUNT(*) FROM TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO AND TP_CNTR = '05') AS TOTAL_5,
    (SELECT F.DT_REALIZACAO 
       FROM TFOLLOWUP F (NOLOCK)
       WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
              F.CD_EVENTO = ( SELECT CD_EV_ESPERA_NAVIO FROM TPARAMETROS (NOLOCK) )) AS DT_ENTRADA,
              F.DT_REALIZACAO AS DT_EV_CONCLUSOR
    FROM   TPROCESSO P (NOLOCK),
           TARMAZEM A (NOLOCK),
           TEMPRESA_NAC E (NOLOCK), 
           VW_SERVICO_GERAL S (NOLOCK),
           TFATURAMENTO_CC CC (NOLOCK),
           TFOLLOWUP F (NOLOCK)
    WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
           @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
           @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
           @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
           @cd_armazem IN ( P.CD_ARMAZEM_DESCARGA, 'X' ) AND
           @cd_servico IN ( P.CD_SERVICO, 'X' ) AND
           P.CD_CLIENTE = E.CD_EMPRESA AND       
           P.CD_ARMAZEM_DESCARGA *= A.CD_ARMAZEM AND
           P.CD_SERVICO *= S.CD_SERVICO AND
           P.IN_CANCELADO = '0' AND
           P.NR_PROCESSO *= CC.NR_PROCESSO AND
           CC.IN_CANCELADO = 0 AND
           CC.IN_RESTITUI = 0 AND
           CC.CD_ITEM = '015' AND
          (F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = (SELECT CD_EVENTO_CONCLUSOR 
	                                                    FROM VW_SERVICO_GERAL (NOLOCK)
			                                    WHERE CD_SERVICO = P.CD_SERVICO AND IN_ATIVO = 1)
           AND F.DT_REALIZACAO IS NOT NULL 
           AND F.DT_REALIZACAO >= CONVERT( datetime, @dt_inicio, 103 ) 
           AND F.DT_REALIZACAO <= CONVERT( datetime, @dt_fim, 103 ))
    GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_ARMAZEM_DESCARGA, P.CD_SERVICO, P.NR_PROCESSO, F.DT_REALIZACAO
END

DECLARE @nr_processo CHAR(18)
DECLARE @vl_item float

DECLARE c_restitui CURSOR FOR
  SELECT CC.NR_PROCESSO, CC.VL_ITEM    
    FROM TFATURAMENTO_CC CC (NOLOCK),
         TREL_CLIENTE_ARM A 
   WHERE CC.NR_PROCESSO = A.NR_PROCESSO AND
         CC.IN_CANCELADO = 0 AND
         CC.IN_RESTITUI = 1 AND
         CC.CD_ITEM = '015'

OPEN c_restitui
FETCH c_restitui INTO 
  @nr_processo, @vl_item 

WHILE @@fetch_status <> -1
BEGIN

  UPDATE TREL_CLIENTE_ARM
    SET VL_DESPESA = VL_DESPESA - @vl_item
    WHERE CURRENT OF c_restitui

  FETCH c_restitui into @nr_processo, @vl_item
END

CLOSE c_restitui
DEALLOCATE c_restitui

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
