USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_dropa_cria_indices] AS

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
COMMIT

BEGIN TRANSACTION
/* TADICAO_DE_IMPORTACAO */
ALTER TABLE dbo.TADICAO_DE_IMPORTACAO DROP CONSTRAINT PK_TADICAO_DE_IMPORTACAO
ALTER TABLE dbo.TADICAO_DE_IMPORTACAO ADD CONSTRAINT PK_TADICAO_DE_IMPORTACAO PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_ADICAO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TCAIXA */
ALTER TABLE dbo.TCAIXA DROP CONSTRAINT PK_TCAIXA
DROP INDEX dbo.TCAIXA.IX_CD_UNID_NEG
DROP INDEX dbo.TCAIXA.IX_TP_LANCAMENTO

ALTER TABLE dbo.TCAIXA ADD CONSTRAINT PK_TCAIXA PRIMARY KEY CLUSTERED (
	CD_COLIGADA,
	DT_MOVIMENTO,
	NR_LANCAMENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

CREATE NONCLUSTERED INDEX IX_CD_UNID_NEG ON dbo.TCAIXA (
	CD_UNID_NEG
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TP_LANCAMENTO ON dbo.TCAIXA (
	TP_LANCAMENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TCAIXA_SALDOS */
ALTER TABLE dbo.TCAIXA_SALDOS DROP CONSTRAINT PK_TCAIXA_SALDOS
ALTER TABLE dbo.TCAIXA_SALDOS ADD CONSTRAINT PK_TCAIXA_SALDOS PRIMARY KEY CLUSTERED (
	CD_COLIGADA,
	CD_UNID_NEG,
	DT_MOVIMENTO,
	CD_CT_CAIXA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TCALCULO_RATEIO_DESP */
ALTER TABLE dbo.TCALCULO_RATEIO_DESP DROP CONSTRAINT PK_TCALCULO_RATEIO_DESP
ALTER TABLE dbo.TCALCULO_RATEIO_DESP ADD CONSTRAINT PK_TCALCULO_RATEIO_DESP PRIMARY KEY CLUSTERED (
	NR_IDENTIFICADOR,
	NR_PROCESSO,
	CD_ITEM,
	CD_AREA,
	NR_PROC_PO_NR_ITEM_PO,
	CD_REFERENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TCARGA_ARMAZEM */
ALTER TABLE dbo.TCARGA_ARMAZEM DROP CONSTRAINT PK_TCARGA_ARMAZEM
ALTER TABLE dbo.TCARGA_ARMAZEM ADD CONSTRAINT PK_TCARGA_ARMAZEM PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_SEQUENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TDECLARACAO_IMPORTACAO */
ALTER TABLE dbo.TDECLARACAO_IMPORTACAO DROP CONSTRAINT PK_TDECLARACAO_IMPORTACAO
ALTER TABLE dbo.TDECLARACAO_IMPORTACAO ADD CONSTRAINT PK_TDECLARACAO_IMPORTACAO PRIMARY KEY CLUSTERED (
  NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TDEM_FAT */
ALTER TABLE dbo.TDEM_FAT DROP CONSTRAINT PK_TDEM_FAT
ALTER TABLE dbo.TDEM_FAT ADD CONSTRAINT PK_TDEM_FAT PRIMARY KEY CLUSTERED (
  CD_UNID_NEG,
  NR_FATURA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TDEM_FAT_CNTR */
ALTER TABLE dbo.TDEM_FAT_CNTR DROP CONSTRAINT PK_TDEM_FAT_CNTR
ALTER TABLE dbo.TDEM_FAT_CNTR ADD CONSTRAINT PK_TDEM_FAT_CNTR PRIMARY KEY CLUSTERED (
  CD_UNID_NEG,
  NR_FATURA,
  NR_CNTR,
  NR_PROCESSO,
  NR_PERIODO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TDESTAQUE_NCM */
ALTER TABLE dbo.TDESTAQUE_NCM DROP CONSTRAINT PK_TDESTAQUE_NCM
ALTER TABLE dbo.TDESTAQUE_NCM ADD CONSTRAINT PK_TDESTAQUE_NCM PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_ADICAO,
	NR_SEQUENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TDETALHE_MERCADORIA */
ALTER TABLE dbo.TDETALHE_MERCADORIA DROP CONSTRAINT PK_TDETALHE_MERCADORIA
DROP INDEX dbo.TDETALHE_MERCADORIA.IX_TDETALHE_MERCADORIA

ALTER TABLE dbo.TDETALHE_MERCADORIA ADD CONSTRAINT PK_TDETALHE_MERCADORIA PRIMARY KEY CLUSTERED (
  NR_PROCESSO,
  NR_ADICAO,
  NR_ITEM
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TDETALHE_MERCADORIA ON dbo.TDETALHE_MERCADORIA	(
	NR_PROC_PO,
	NR_ITEM_PO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TDOCUMENTO_INSTRUCAO */
ALTER TABLE dbo.TDOCUMENTO_INSTRUCAO DROP CONSTRAINT PK_TDOCUMENTO_INSTRUCAO
ALTER TABLE dbo.TDOCUMENTO_INSTRUCAO ADD CONSTRAINT PK_TDOCUMENTO_INSTRUCAO PRIMARY KEY CLUSTERED (
  NR_PROCESSO,
  NR_SEQUENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TEMBALAGEM_CARGA */
ALTER TABLE dbo.TEMBALAGEM_CARGA DROP CONSTRAINT PK_TEMBALAGEM_CARGA
ALTER TABLE dbo.TEMBALAGEM_CARGA ADD CONSTRAINT PK_TEMBALAGEM_CARGA PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_SEQUENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TESTAGIO_PROCESSO */
ALTER TABLE dbo.TESTAGIO_PROCESSO DROP CONSTRAINT PK_TESTAGIO_PROCESSO
ALTER TABLE dbo.TESTAGIO_PROCESSO ADD CONSTRAINT PK_TESTAGIO_PROCESSO PRIMARY KEY CLUSTERED (
  NR_REFERENCIA,
  NR_ITEM_CLIENTE,
  DT_ULT_ALTERACAO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TEXTRATO */
ALTER TABLE dbo.TEXTRATO DROP CONSTRAINT PK_TEXTRATO
ALTER TABLE dbo.TEXTRATO ADD CONSTRAINT PK_TEXTRATO PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_LANCAMENTO,
	CD_USUARIO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TFAT_CALCULO_RATEIO_DESP */
ALTER TABLE dbo.TFAT_CALCULO_RATEIO_DESP DROP CONSTRAINT PK_TFAT_CALCULO_RATEIO_DESP
ALTER TABLE dbo.TFAT_CALCULO_RATEIO_DESP ADD CONSTRAINT PK_TFAT_CALCULO_RATEIO_DESP PRIMARY KEY CLUSTERED (
  CD_UNID_NEG,
  CD_PRODUTO,
  NR_SOLICITACAO,
  NR_PROCESSO,
  CD_REFERENCIA,
  CD_ITEM,
  CD_AREA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TFATURAMENTO_CC */
ALTER TABLE dbo.TFATURAMENTO_CC DROP CONSTRAINT PK_TFATURAMENTO_CC
DROP INDEX dbo.TFATURAMENTO_CC.IX_FATCC_PROC
DROP INDEX dbo.TFATURAMENTO_CC.IX_FATCC_PROC_ITEM
DROP INDEX dbo.TFATURAMENTO_CC.IX_TFAT_CC_FATURA

ALTER TABLE dbo.TFATURAMENTO_CC ADD CONSTRAINT PK_TFATURAMENTO_CC PRIMARY KEY CLUSTERED (
  NR_PROCESSO,
  NR_LANCAMENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_FATCC_PROC ON dbo.TFATURAMENTO_CC (
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_FATCC_PROC_ITEM ON dbo.TFATURAMENTO_CC (
	NR_PROCESSO,
	CD_ITEM
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TFAT_CC_FATURA ON dbo.TFATURAMENTO_CC (
	NR_SOLIC_FAT,
	CD_UNID_NEG,
	CD_PRODUTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TFATURAMENTO_CC_CLIENTE */
ALTER TABLE dbo.TFATURAMENTO_CC_CLIENTE DROP CONSTRAINT PK_TFATURAMENTO_CC_CLIENTE
ALTER TABLE dbo.TFATURAMENTO_CC_CLIENTE ADD CONSTRAINT PK_TFATURAMENTO_CC_CLIENTE PRIMARY KEY CLUSTERED (
  NR_PROCESSO,
  NR_LANCAMENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TFLP_PO */
ALTER TABLE dbo.TFLP_PO DROP CONSTRAINT PK_TFLP_PO
DROP INDEX dbo.TFLP_PO.IX_NR_PROCESSO
DROP INDEX dbo.TFLP_PO.IX_DT_REALIZACAO

ALTER TABLE dbo.TFLP_PO ADD CONSTRAINT PK_TFLP_PO PRIMARY KEY CLUSTERED (
  NR_PROCESSO,
  CD_EVENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_NR_PROCESSO ON dbo.TFLP_PO	(
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_DT_REALIZACAO ON dbo.TFLP_PO	(
	DT_REALIZACAO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TFLP_PO_ITEM */
ALTER TABLE dbo.TFLP_PO_ITEM DROP CONSTRAINT PK_TFLP_PO_ITEM
DROP INDEX dbo.TFLP_PO_ITEM.IX_NR_PROCESSO
DROP INDEX dbo.TFLP_PO_ITEM.IX_DT_REALIZACAO

ALTER TABLE dbo.TFLP_PO_ITEM ADD CONSTRAINT PK_TFLP_PO_ITEM PRIMARY KEY CLUSTERED (
  NR_PROCESSO,
  NR_ITEM,
  CD_EVENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_NR_PROCESSO ON dbo.TFLP_PO_ITEM (
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_DT_REALIZACAO ON dbo.TFLP_PO_ITEM (
  NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TFOLLOWUP */
ALTER TABLE dbo.TFOLLOWUP DROP CONSTRAINT PK_TFOLLOWUP
DROP INDEX dbo.TFOLLOWUP.IX_CD_EVENTO
DROP INDEX dbo.TFOLLOWUP.IX_DT_REALIZACAO

ALTER TABLE dbo.TFOLLOWUP ADD CONSTRAINT PK_TFOLLOWUP PRIMARY KEY CLUSTERED  (
	NR_PROCESSO,
	CD_SERVICO,
	CD_EVENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_CD_EVENTO ON dbo.TFOLLOWUP (
	CD_EVENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_DT_REALIZACAO ON dbo.TFOLLOWUP (
	DT_REALIZACAO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TITEM_AREA */
ALTER TABLE dbo.TITEM_AREA DROP CONSTRAINT PK_TITEM_AREA
ALTER TABLE dbo.TITEM_AREA ADD CONSTRAINT PK_TITEM_AREA PRIMARY KEY CLUSTERED (
	CD_ITEM,
	CD_AREA
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TITEM_PRIORIDADE */
ALTER TABLE dbo.TITEM_PRIORIDADE DROP CONSTRAINT PK_TITEM_PRIORIDADE
ALTER TABLE dbo.TITEM_PRIORIDADE ADD CONSTRAINT PK_TITEM_PRIORIDADE PRIMARY KEY CLUSTERED (
	CD_ITEM,
	CD_UNID_NEG,
	CD_PRODUTO
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TLICENCA_IMPORTACAO */
ALTER TABLE dbo.TLICENCA_IMPORTACAO DROP CONSTRAINT PK_TLICENCA_IMPORTACAO
ALTER TABLE dbo.TLICENCA_IMPORTACAO ADD CONSTRAINT PK_TLICENCA_IMPORTACAO PRIMARY KEY CLUSTERED  (
  NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TLICENCA_ITENS */
ALTER TABLE dbo.TLICENCA_ITENS DROP CONSTRAINT PK_TLICENCA_ITENS
ALTER TABLE dbo.TLICENCA_ITENS ADD CONSTRAINT PK_TLICENCA_ITENS PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_ITEM
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TLIQUIDACAO */
ALTER TABLE dbo.TLIQUIDACAO DROP CONSTRAINT PK_TLIQUIDACAO
DROP INDEX dbo.TLIQUIDACAO.IX_TLIQUIDACAO 
DROP INDEX dbo.TLIQUIDACAO.IX_NR_PROCESSO

ALTER TABLE dbo.TLIQUIDACAO ADD CONSTRAINT PK_TLIQUIDACAO PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_LIQUIDACAO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TLIQUIDACAO ON dbo.TLIQUIDACAO (
	NR_PROCESSO,
	NR_LIQUIDACAO,
	DT_LIQUIDACAO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_NR_PROCESSO ON dbo.TLIQUIDACAO (
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TMERC_EXP_ACORDO */
ALTER TABLE dbo.TMERC_EXP_ACORDO DROP CONSTRAINT PK_TMERC_EXP_ACORDO
ALTER TABLE dbo.TMERC_EXP_ACORDO ADD CONSTRAINT	PK_TMERC_EXP_ACORDO PRIMARY KEY CLUSTERED (
	CD_MERCADORIA,
	CD_ACORDO,
	CD_NORMA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TMERCADORIA */
ALTER TABLE dbo.TMERCADORIA DROP CONSTRAINT PK_TMERCADORIA
DROP INDEX dbo.TMERCADORIA.IX_TMERCADORIA

ALTER TABLE dbo.TMERCADORIA ADD CONSTRAINT PK_TMERCADORIA PRIMARY KEY CLUSTERED (
	CD_MERCADORIA
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TMERCADORIA ON dbo.TMERCADORIA	(
	CD_MERCADORIA,
	AP_MERCADORIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TMERCADORIA_EXP */
ALTER TABLE dbo.TMERCADORIA_EXP DROP CONSTRAINT PK_TMERCADORIA_EXP
DROP INDEX dbo.TMERCADORIA_EXP.IX_TMERCADORIA_EXP

ALTER TABLE dbo.TMERCADORIA_EXP ADD CONSTRAINT PK_TMERCADORIA_EXP PRIMARY KEY CLUSTERED (
	CD_MERCADORIA
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TMERCADORIA_EXP ON dbo.TMERCADORIA_EXP	(
	CD_MERCADORIA,
	AP_MERCADORIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TNAC */
ALTER TABLE dbo.TNAC DROP CONSTRAINT PK_TNAC
ALTER TABLE dbo.TNAC ADD CONSTRAINT PK_TNAC PRIMARY KEY CLUSTERED (
	NR_PROCESSO
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TNAC_ITEM */
ALTER TABLE dbo.TNAC_ITEM DROP CONSTRAINT PK_TNAC_ITEM
ALTER TABLE dbo.TNAC_ITEM ADD CONSTRAINT PK_TNAC_ITEM PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_PROCESSO_DA,
	NR_REF,
	CD_MERCADORIA,
	NR_LOTE
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TNAC_RET_MERC */
ALTER TABLE dbo.TNAC_RET_MERC DROP CONSTRAINT PK_TNAC_RET_MERC
ALTER TABLE dbo.TNAC_RET_MERC ADD CONSTRAINT PK_TNAC_RET_MERC PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_PROCESSO_DA,
	NR_REF,
	CD_MERCADORIA,
	NR_LOTE,
	DT_RET
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TNALADINCCA */
DROP INDEX dbo.TNALADINCCA.PrimaryKey
CREATE UNIQUE CLUSTERED INDEX PrimaryKey ON dbo.TNALADINCCA (
	Codigo
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TNALADISH */
DROP INDEX dbo.TNALADISH.PrimaryKey
CREATE UNIQUE CLUSTERED INDEX PrimaryKey ON dbo.TNALADISH (
	Codigo
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TNCM */
DROP INDEX dbo.TNCM.PrimaryKey
CREATE UNIQUE NONCLUSTERED INDEX PrimaryKey ON dbo.TNCM (
	CODIGO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TNF_RETENCAO 
DROP INDEX dbo.TNF_RETENCAO.IX_TNF_RETENCAO
CREATE CLUSTERED INDEX IX_TNF_RETENCAO ON dbo.TNF_RETENCAO (
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_SOLICITACAO,
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]*/-- comentado André 21/10/2008 a tabela não é mais usada

/* TNF_SERV_OP */
ALTER TABLE dbo.TNF_SERV_OP DROP CONSTRAINT PK_TNF_SERV_OP
ALTER TABLE dbo.TNF_SERV_OP ADD CONSTRAINT PK_TNF_SERV_OP PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_SOLICITACAO,
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TNF_SERV_OP_ITEM */
ALTER TABLE dbo.TNF_SERV_OP_ITEM DROP CONSTRAINT PK_TNF_SERV_OP_ITEM
ALTER TABLE dbo.TNF_SERV_OP_ITEM ADD CONSTRAINT PK_TNF_SERV_OP_ITEM PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_SOLICITACAO,
	CD_ITEM,
	CD_ITEM_NAO_FAT
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TNF_SERV_OP_NUM */
ALTER TABLE dbo.TNF_SERV_OP_NUM DROP CONSTRAINT PK_TNF_SERV_OP_NUM
ALTER TABLE dbo.TNF_SERV_OP_NUM ADD CONSTRAINT PK_TNF_SERV_OP_NUM PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_SOLICITACAO,
	DT_NUM,
	NR_FP
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TNUMERARIO */
ALTER TABLE dbo.TNUMERARIO DROP CONSTRAINT PK_TNUMERARIO
DROP INDEX dbo.TNUMERARIO.IX_TNUMERARIO

ALTER TABLE dbo.TNUMERARIO ADD CONSTRAINT PK_TNUMERARIO PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_SOLICITACAO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TNUMERARIO ON dbo.TNUMERARIO (
	NR_PROCESSO
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TNUMERARIO_IMP */
ALTER TABLE dbo.TNUMERARIO_IMP DROP CONSTRAINT PK_TNUMERARIO_IMP
ALTER TABLE dbo.TNUMERARIO_IMP ADD CONSTRAINT PK_TNUMERARIO_IMP PRIMARY KEY CLUSTERED (
	NR_IDENTIFICADOR,
	CD_UNID_NEG,
	CD_PRODUTO,
	CD_CLIENTE,
	NR_PROCESSO,
	NR_SOLICITACAO,
	CD_ITEM
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TNUMERARIO_ITEM_SOLIC */
ALTER TABLE dbo.TNUMERARIO_ITEM_SOLIC DROP CONSTRAINT PK_TNUMERARIO_ITEM_SOLIC
ALTER TABLE dbo.TNUMERARIO_ITEM_SOLIC ADD CONSTRAINT PK_TNUMERARIO_ITEM_SOLIC PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_SOLICITACAO,
	NR_LANCAMENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TNUMERARIO_NOTIFICA */
ALTER TABLE dbo.TNUMERARIO_NOTIFICA	DROP CONSTRAINT PK_TNUMERARIO_NOTIFICA
DROP INDEX dbo.TNUMERARIO_NOTIFICA.IX_TNUMERARIO_NOTIFICA

ALTER TABLE dbo.TNUMERARIO_NOTIFICA ADD CONSTRAINT PK_TNUMERARIO_NOTIFICA PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_SOLICITACAO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TNUMERARIO_NOTIFICA ON dbo.TNUMERARIO_NOTIFICA (
	NR_PROCESSO,
	NR_SOLICITACAO,
	IN_SEL_IMPRESSAO,
	IN_EMITIDO
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TNUMERARIO_NOTIFICA_ITEM */
ALTER TABLE dbo.TNUMERARIO_NOTIFICA_ITEM DROP CONSTRAINT PK_TNUMERARIO_NOTIFICA_ITEM
ALTER TABLE dbo.TNUMERARIO_NOTIFICA_ITEM ADD CONSTRAINT PK_TNUMERARIO_NOTIFICA_ITEM PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_SOLICITACAO,
	NR_LANCAMENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TNUMERARIO_SALDO_POR_ITEM */
ALTER TABLE dbo.TNUMERARIO_SALDO_POR_ITEM DROP CONSTRAINT PK_TNUMERARIO_SALDO_POR_ITEM
ALTER TABLE dbo.TNUMERARIO_SALDO_POR_ITEM ADD CONSTRAINT PK_TNUMERARIO_SALDO_POR_ITEM PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	CD_ITEM
) WITH FILLFACTOR = 70 ON [PRIMARY]

/* TPAGAMENTO_PREVISTO */
ALTER TABLE dbo.TPAGAMENTO_PREVISTO DROP CONSTRAINT PK_TPAGAMENTO_PREVISTO
ALTER TABLE dbo.TPAGAMENTO_PREVISTO ADD CONSTRAINT PK_TPAGAMENTO_PREVISTO PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_ADICAO,
	NR_SEQUENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPAGAMENTO_TRIBUTOS */
ALTER TABLE dbo.TPAGAMENTO_TRIBUTOS DROP CONSTRAINT PK_TPAGAMENTO_TRIBUTOS
ALTER TABLE dbo.TPAGAMENTO_TRIBUTOS ADD CONSTRAINT PK_TPAGAMENTO_TRIBUTOS PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  CD_RECEITA_PGTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPAGAMENTO_VINCULADO */
ALTER TABLE dbo.TPAGAMENTO_VINCULADO DROP CONSTRAINT PK_TPAGAMENTO_VINCULADO
ALTER TABLE dbo.TPAGAMENTO_VINCULADO ADD CONSTRAINT PK_TPAGAMENTO_VINCULADO PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_ADICAO,
	CD_FORMA_PAGAMENTO,
	NR_SEQUENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPE */
ALTER TABLE dbo.TPE DROP CONSTRAINT PK_TPE
ALTER TABLE dbo.TPE ADD CONSTRAINT PK_TPE PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  CD_UNID_NEG
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPE_ITEM */
ALTER TABLE dbo.TPE_ITEM DROP CONSTRAINT PK_TPE_ITEM
ALTER TABLE dbo.TPE_ITEM ADD CONSTRAINT PK_TPE_ITEM PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_ITEM,
  CD_UNID_NEG
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPERMISSAO */
ALTER TABLE dbo.TPERMISSAO DROP CONSTRAINT PK_TPERMISSAO
ALTER TABLE dbo.TPERMISSAO ADD CONSTRAINT PK_TPERMISSAO PRIMARY KEY CLUSTERED (
	CD_USUARIO,
	CD_CLIENTE
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TPERMISSAO_AREA */
ALTER TABLE dbo.TPERMISSAO_AREA DROP CONSTRAINT PK_TPERMISSAO_AREA
ALTER TABLE dbo.TPERMISSAO_AREA ADD CONSTRAINT PK_TPERMISSAO_AREA PRIMARY KEY CLUSTERED (
	CD_USUARIO,
	CD_AREA
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TPO */
ALTER TABLE dbo.TPO DROP CONSTRAINT PK_TPO
DROP INDEX dbo.TPO.IX_TPO
DROP INDEX dbo.TPO.IX_NR_DA

ALTER TABLE dbo.TPO ADD CONSTRAINT PK_TPO PRIMARY KEY CLUSTERED  (
  NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TPO ON dbo.TPO (
	NR_PROCESSO,
	CD_SERVICO
) WITH FILLFACTOR = 90 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_NR_DA ON dbo.TPO (
	NR_DA
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TPO_ITEM */
ALTER TABLE dbo.TPO_ITEM DROP CONSTRAINT PK_TPO_ITEM
ALTER TABLE dbo.TPO_ITEM ADD CONSTRAINT PK_TPO_ITEM PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_ITEM
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO */
ALTER TABLE dbo.TPROCESSO DROP CONSTRAINT PK_TPROCESSO
DROP INDEX dbo.TPROCESSO.IDX_TPROCESSO
DROP INDEX dbo.TPROCESSO.IDX_CD_CLIENTE
DROP INDEX dbo.TPROCESSO.IDX_CD_AREA
DROP INDEX dbo.TPROCESSO.IDX_CD_GRUPO

ALTER TABLE dbo.TPROCESSO ADD CONSTRAINT PK_TPROCESSO PRIMARY KEY CLUSTERED  (
  NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE UNIQUE NONCLUSTERED INDEX IDX_TPROCESSO ON dbo.TPROCESSO (
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IDX_CD_CLIENTE ON dbo.TPROCESSO (
	CD_CLIENTE
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IDX_CD_AREA ON dbo.TPROCESSO (
	CD_AREA
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IDX_CD_GRUPO ON dbo.TPROCESSO (
	CD_GRUPO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_CARGA_SOLTA */
ALTER TABLE dbo.TPROCESSO_CARGA_SOLTA DROP CONSTRAINT PK_TPROCESSO_CARGA_SOLTA
ALTER TABLE dbo.TPROCESSO_CARGA_SOLTA ADD CONSTRAINT PK_TPROCESSO_CARGA_SOLTA PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_SEQUENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_CNTR */
ALTER TABLE dbo.TPROCESSO_CNTR DROP CONSTRAINT PK_TPROCESSO_CNTR
DROP INDEX dbo.TPROCESSO_CNTR.IDX_TPROCESSO_CNTR

ALTER TABLE dbo.TPROCESSO_CNTR ADD CONSTRAINT PK_TPROCESSO_CNTR PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	CODIGO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IDX_TPROCESSO_CNTR ON dbo.TPROCESSO_CNTR (
	NR_PROCESSO,
	NR_CNTR
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EMBALAGEM */
ALTER TABLE dbo.TPROCESSO_EMBALAGEM DROP CONSTRAINT PK_TPROCESSO_EMBALAGEM
ALTER TABLE dbo.TPROCESSO_EMBALAGEM ADD CONSTRAINT PK_TPROCESSO_EMBALAGEM PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  CD_EMBALAGEM
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EXP */
ALTER TABLE dbo.TPROCESSO_EXP DROP CONSTRAINT PK_TPROCESSO_EXP
ALTER TABLE dbo.TPROCESSO_EXP ADD CONSTRAINT PK_TPROCESSO_EXP PRIMARY KEY CLUSTERED  (
  NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EXP_BORD */
ALTER TABLE dbo.TPROCESSO_EXP_BORD DROP CONSTRAINT PK_TPROCESSO_EXP_BORD
ALTER TABLE dbo.TPROCESSO_EXP_BORD ADD CONSTRAINT PK_TPROCESSO_EXP_BORD PRIMARY KEY CLUSTERED (
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EXP_BORD_ITEM */
ALTER TABLE dbo.TPROCESSO_EXP_BORD_ITEM DROP CONSTRAINT PK_TPROCESSO_EXP_BORD_ITEM
ALTER TABLE dbo.TPROCESSO_EXP_BORD_ITEM ADD CONSTRAINT PK_TPROCESSO_EXP_BORD_ITEM PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_SEQUENCIA,
	CD_DOCUMENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EXP_DDE_NF */
ALTER TABLE dbo.TPROCESSO_EXP_DDE_NF DROP CONSTRAINT PK_TPROCESSO_EXP_DDE_NF
ALTER TABLE dbo.TPROCESSO_EXP_DDE_NF ADD CONSTRAINT PK_TPROCESSO_EXP_DDE_NF PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_NF_INI,
  NR_NF_FIM
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EXP_DDE_RE */
ALTER TABLE dbo.TPROCESSO_EXP_DDE_RE DROP CONSTRAINT PK_TPROCESSO_EXP_DDE_RE
ALTER TABLE dbo.TPROCESSO_EXP_DDE_RE ADD CONSTRAINT PK_TPROCESSO_EXP_DDE_RE PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_RE,
  NR_ANEXO_INI,
  NR_ANEXO_FIM
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EXP_ITEM */
ALTER TABLE dbo.TPROCESSO_EXP_ITEM DROP CONSTRAINT PK_TPROCESSO_EXP_ITEM
ALTER TABLE dbo.TPROCESSO_EXP_ITEM ADD CONSTRAINT PK_TPROCESSO_EXP_ITEM PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_ITEM
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EXP_NF */
ALTER TABLE dbo.TPROCESSO_EXP_NF DROP CONSTRAINT PK_TPROCESSO_EXP_NF
ALTER TABLE dbo.TPROCESSO_EXP_NF ADD CONSTRAINT PK_TPROCESSO_EXP_NF PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_NF
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EXP_RE */
ALTER TABLE dbo.TPROCESSO_EXP_RE DROP CONSTRAINT PK_TPROCESSO_EXP_RE
ALTER TABLE dbo.TPROCESSO_EXP_RE ADD CONSTRAINT PK_TPROCESSO_EXP_RE PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_RE
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_EXP_SAQUE */
ALTER TABLE dbo.TPROCESSO_EXP_SAQUE DROP CONSTRAINT PK_TPROCESSO_EXP_SAQUE
ALTER TABLE dbo.TPROCESSO_EXP_SAQUE ADD CONSTRAINT PK_TPROCESSO_EXP_SAQUE PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_SAQUE
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_FORMA */
ALTER TABLE dbo.TPROCESSO_FORMA DROP CONSTRAINT PK_TPROCESSO_FORMA
ALTER TABLE dbo.TPROCESSO_FORMA ADD CONSTRAINT PK_TPROCESSO_FORMA PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_PAGINA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_LI */
ALTER TABLE dbo.TPROCESSO_LI DROP CONSTRAINT PK_TPROCESSO_LI
ALTER TABLE dbo.TPROCESSO_LI ADD CONSTRAINT PK_TPROCESSO_LI PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_LI
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_LI_ORGAO_ANUENTE */
ALTER TABLE dbo.TPROCESSO_LI_ORGAO_ANUENTE DROP CONSTRAINT PK_TPROCESSO_LI_ORGAO_ANUENTE
ALTER TABLE dbo.TPROCESSO_LI_ORGAO_ANUENTE ADD CONSTRAINT PK_TPROCESSO_LI_ORGAO_ANUENTE PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_LI,
	CD_ORGAO_ANUENTE
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_NF */
ALTER TABLE dbo.TPROCESSO_NF DROP CONSTRAINT PK_TPROCESSO_NF
ALTER TABLE dbo.TPROCESSO_NF ADD CONSTRAINT PK_TPROCESSO_NF PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_NOTA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_PARAMETRIZACAO */
ALTER TABLE dbo.TPROCESSO_PARAMETRIZACAO DROP CONSTRAINT PK_TPROCESSO_PARAMETRIZACAO
ALTER TABLE dbo.TPROCESSO_PARAMETRIZACAO ADD CONSTRAINT PK_TPROCESSO_PARAMETRIZACAO PRIMARY KEY CLUSTERED (
	NR_DI,
	DATA_CONSULTA,
	HORA_CONSULTA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_RE */
ALTER TABLE dbo.TPROCESSO_RE DROP CONSTRAINT PK_TPROCESSO_RE
ALTER TABLE dbo.TPROCESSO_RE ADD CONSTRAINT PK_TPROCESSO_RE PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_RE
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TPROCESSO_SDA */
ALTER TABLE dbo.TPROCESSO_SDA DROP CONSTRAINT PK_TPROCESSO_SDA
ALTER TABLE dbo.TPROCESSO_SDA ADD CONSTRAINT PK_TPROCESSO_SDA PRIMARY KEY CLUSTERED  (
  NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TRECEBIMENTO */
ALTER TABLE dbo.TRECEBIMENTO DROP CONSTRAINT PK_TRECEBIMENTO
ALTER TABLE dbo.TRECEBIMENTO ADD CONSTRAINT PK_TRECEBIMENTO PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_RECEBIMENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TRECEBIMENTO_AG */
ALTER TABLE dbo.TRECEBIMENTO_AG DROP CONSTRAINT PK_TRECEBIMENTO_AG
ALTER TABLE dbo.TRECEBIMENTO_AG ADD CONSTRAINT PK_TRECEBIMENTO_AG PRIMARY KEY CLUSTERED (
	NR_RECEBIMENTO,
	CD_CLIENTE,
	CD_UNID_NEG
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TRECEBIMENTO_ITEM_RECEB */
ALTER TABLE dbo.TRECEBIMENTO_ITEM_RECEB DROP CONSTRAINT PK_TRECEBIMENTO_ITEM_RECEB
ALTER TABLE dbo.TRECEBIMENTO_ITEM_RECEB ADD CONSTRAINT PK_TRECEBIMENTO_ITEM_RECEB PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_RECEBIMENTO,
	NR_LANC_RECEB
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TRECEBIMENTO_PROCESSO */
ALTER TABLE dbo.TRECEBIMENTO_PROCESSO DROP CONSTRAINT PK_TRECEBIMENTO_PROCESSO
ALTER TABLE dbo.TRECEBIMENTO_PROCESSO ADD CONSTRAINT PK_TRECEBIMENTO_PROCESSO PRIMARY KEY CLUSTERED (
	NR_RECEBIMENTO,
	CD_CLIENTE,
	NR_LANC_RECEB,
	CD_UNID_NEG
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TRECEBIMENTO_PROCESSO_ITEM */
ALTER TABLE dbo.TRECEBIMENTO_PROCESSO_ITEM DROP CONSTRAINT PK_TRECEBIMENTO_PROCESSO_ITEM
ALTER TABLE dbo.TRECEBIMENTO_PROCESSO_ITEM ADD CONSTRAINT PK_TRECEBIMENTO_PROCESSO_ITEM PRIMARY KEY CLUSTERED (
	NR_RECEBIMENTO,
	CD_CLIENTE,
	NR_LANC_RECEB,
	NR_LANCAMENTO,
	CD_UNID_NEG
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TRECEITAS_EXP */
ALTER TABLE dbo.TRECEITAS_EXP DROP CONSTRAINT PK_TRECEITAS_EXP
ALTER TABLE dbo.TRECEITAS_EXP ADD CONSTRAINT PK_TRECEITAS_EXP PRIMARY KEY CLUSTERED (
	CD_CLIENTE,
	CD_UNID_NEG,
	CD_PRODUTO,
	CD_SERVICO,
	CD_ITEM
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TRECEITAS_IMP */
ALTER TABLE dbo.TRECEITAS_IMP DROP CONSTRAINT PK_TRECEITAS_IMP
ALTER TABLE dbo.TRECEITAS_IMP ADD CONSTRAINT PK_TRECEITAS_IMP PRIMARY KEY CLUSTERED  (
  CD_CLIENTE,
  CD_UNID_NEG,
  CD_PRODUTO,
  CD_SERVICO,
  CD_ITEM,
  CD_REGIME_TRIB
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TREF_CLIENTE */
ALTER TABLE dbo.TREF_CLIENTE DROP CONSTRAINT PK_TREF_CLIENTE
DROP INDEX dbo.TREF_CLIENTE.IDX_AREA

ALTER TABLE dbo.TREF_CLIENTE ADD CONSTRAINT PK_TREF_CLIENTE PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_SEQUENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IDX_AREA ON dbo.TREF_CLIENTE (
	NR_PROCESSO,
	CD_AREA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TREF_CLIENTE_MEMO */
ALTER TABLE dbo.TREF_CLIENTE_MEMO DROP CONSTRAINT PK_TREF_CLIENTE_MEMO
ALTER TABLE dbo.TREF_CLIENTE_MEMO ADD CONSTRAINT PK_TREF_CLIENTE_MEMO PRIMARY KEY CLUSTERED (
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TRIBUTO */
ALTER TABLE dbo.TRIBUTO DROP CONSTRAINT PK_TRIBUTO
ALTER TABLE dbo.TRIBUTO ADD CONSTRAINT PK_TRIBUTO PRIMARY KEY CLUSTERED  (
  NR_PROCESSO,
  NR_ADICAO,
  CD_RECEITA_IMPOSTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TS_FATURA */
ALTER TABLE dbo.TS_FATURA DROP CONSTRAINT PK_TS_FATURA
DROP INDEX dbo.TS_FATURA.IX_TS_FATURA

ALTER TABLE dbo.TS_FATURA ADD CONSTRAINT PK_TS_FATURA PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_SOLICITACAO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_TS_FATURA ON dbo.TS_FATURA	(
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_SOLICITACAO,
	IN_LIQUIDADO,
	DT_LIQUIDACAO,
	NR_NF_SERV,
	NR_NOTA_FATURA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TS_FATURA_CONTROLE */
ALTER TABLE dbo.TS_FATURA_CONTROLE DROP CONSTRAINT PK_TS_FATURA_CONTROLE
ALTER TABLE dbo.TS_FATURA_CONTROLE ADD CONSTRAINT PK_TS_FATURA_CONTROLE PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_PRODUTO,
	DT_MOVIMENTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TS_FATURA_DOCUMENTO */
ALTER TABLE dbo.TS_FATURA_DOCUMENTO DROP CONSTRAINT PK_TS_FATURA_DOCUMENTO
ALTER TABLE dbo.TS_FATURA_DOCUMENTO ADD CONSTRAINT PK_TS_FATURA_DOCUMENTO PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_SOLICITACAO,
	CD_DOCUMENTO,
	NR_DOCTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TS_FATURA_PROCESSO */
ALTER TABLE dbo.TS_FATURA_PROCESSO DROP CONSTRAINT PK_TS_FATURA_PROCESSO
DROP INDEX dbo.TS_FATURA_PROCESSO.IX_LIQUIDACAO

ALTER TABLE dbo.TS_FATURA_PROCESSO ADD CONSTRAINT PK_TS_FATURA_PROCESSO PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_SOLICITACAO,
	NR_PROCESSO
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_LIQUIDACAO ON dbo.TS_FATURA_PROCESSO (
	NR_PROCESSO_LIQ,
	NR_LIQUIDACAO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TS_FATURA_PROCESSO_ITEM */
ALTER TABLE dbo.TS_FATURA_PROCESSO_ITEM DROP CONSTRAINT PK_TS_FATURA_PROCESSO_ITEM
ALTER TABLE dbo.TS_FATURA_PROCESSO_ITEM ADD CONSTRAINT PK_TS_FATURA_PROCESSO_ITEM PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_PRODUTO,
	NR_SOLICITACAO,
	NR_PROCESSO,
	CD_ITEM
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TSALDO_CC_CLI */
ALTER TABLE dbo.TSALDO_CC_CLI DROP CONSTRAINT PK_TSALDO_CC_CLI
ALTER TABLE dbo.TSALDO_CC_CLI ADD CONSTRAINT PK_TSALDO_CC_CLI PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_CLIENTE,
	DT_SALDO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TSALDO_CC_GRUPO */
ALTER TABLE dbo.TSALDO_CC_GRUPO DROP CONSTRAINT PK_TSALDO_CC_GRUPO
ALTER TABLE dbo.TSALDO_CC_GRUPO ADD CONSTRAINT PK_TSALDO_CC_GRUPO PRIMARY KEY CLUSTERED (
	CD_UNID_NEG,
	CD_GRUPO,
	DT_SALDO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TSERVICO_EVENTO */
ALTER TABLE dbo.TSERVICO_EVENTO DROP CONSTRAINT PK_TSERVICO_EVENTO
DROP INDEX dbo.TSERVICO_EVENTO.IX_SV_EV_SQ

ALTER TABLE dbo.TSERVICO_EVENTO ADD CONSTRAINT PK_TSERVICO_EVENTO PRIMARY KEY CLUSTERED (
	CD_SERVICO,
	CD_EVENTO
) WITH FILLFACTOR = 90 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_SV_EV_SQ ON dbo.TSERVICO_EVENTO (
	CD_SERVICO,
	CD_EVENTO,
	NR_ORDEM
) WITH FILLFACTOR = 90 ON [PRIMARY]

/* TSOLIC_PAGTO */
ALTER TABLE dbo.TSOLIC_PAGTO DROP CONSTRAINT PK_TSOLIC_PAGTO
DROP INDEX dbo.TSOLIC_PAGTO.IX_NR_REF
DROP INDEX dbo.TSOLIC_PAGTO.IX_DT_PAGTO

ALTER TABLE dbo.TSOLIC_PAGTO ADD CONSTRAINT PK_TSOLIC_PAGTO PRIMARY KEY CLUSTERED (
	NR_PROCESSO,
	NR_LANCAMENTO,
	CD_ITEM
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_NR_REF ON dbo.TSOLIC_PAGTO (
	NR_REF
) WITH FILLFACTOR = 80 ON [PRIMARY]
CREATE NONCLUSTERED INDEX IX_DT_PAGTO ON dbo.TSOLIC_PAGTO (
	DT_PAGTO
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TTAXA_CAMBIO */
ALTER TABLE dbo.TTAXA_CAMBIO DROP CONSTRAINT PK_TTAXA_CAMBIO
ALTER TABLE dbo.TTAXA_CAMBIO ADD CONSTRAINT PK_TTAXA_CAMBIO PRIMARY KEY CLUSTERED (
	CD_MOEDA,
	DT_INICIO_VIGENCIA,
	DT_TERMINO_VIGENCIA
) WITH FILLFACTOR = 80 ON [PRIMARY]

/* TVIAGEM */
ALTER TABLE dbo.TVIAGEM DROP CONSTRAINT PK_TVIAGEM
ALTER TABLE dbo.TVIAGEM ADD CONSTRAINT PK_TVIAGEM PRIMARY KEY CLUSTERED  (
  CD_UNID_NEG,
  CD_PRODUTO,
  CD_EMBARCACAO,
  NR_VIAGEM
) WITH FILLFACTOR = 80 ON [PRIMARY]

COMMIT


GO
