USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_reabre_caixa] ( @cd_coligada char(2), @cd_unid_neg char(2), @dt_movimento datetime ) AS

DELETE TACERTO 
WHERE  CD_COLIGADA = @cd_coligada AND
       CD_UNID_NEG = @cd_unid_neg AND
       DT_ACERTO = @dt_movimento AND
       IN_BAIXADO = '0'

DELETE TCAIXA_CONTROLE
WHERE  CD_COLIGADA = @cd_coligada AND
       CD_UNID_NEG = @cd_unid_neg AND
       DT_MOVIMENTO = @dt_movimento


GO
