USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROC [sp_rel_fin_controle_num] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), @dt_vencto datetime OUTPUT, 
                                    @nr_relatorio char(3) OUTPUT, @nr_ano  char(4) OUTPUT AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_vencto datetime 
DECLARE @nr_relatorio char(3) 
DECLARE @nr_ano  char(4)

SELECT @dt_vencto datetime 
SELECT @nr_relatorio char(3) 
SELECT @nr_ano  char(4)
SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = ''
SELECT @cd_cliente = '00007'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

-- Se grupo estiver preenchido pesquisa por grupo
IF @cd_grupo <> '' 
BEGIN
  SELECT TOP 1 DT_EMISSAO DT_VENCTO, NR_RELATORIO NR_RELATORIO, NR_ANO NR_ANO
  INTO   #TMP_REL_FIN_CONTROLE_NUM_GRUPO
  FROM   TREL_FIN_CONTROLE
  WHERE  CD_GRUPO = @cd_grupo AND
         CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto 
  ORDER BY DT_EMISSAO DESC

  SELECT @dt_vencto = DT_VENCTO, 
         @nr_relatorio = NR_RELATORIO, 
         @nr_ano = NR_ANO
  FROM   #TMP_REL_FIN_CONTROLE_NUM_GRUPO

  DROP TABLE #TMP_REL_FIN_CONTROLE_NUM_GRUPO
END
--Senão pesquisa por cliente
ELSE
BEGIN
  IF EXISTS ( SELECT TOP 1 DT_EMISSAO DT_VENCTO, NR_RELATORIO NR_RELATORIO, NR_ANO NR_ANO
              FROM   TREL_FIN_CONTROLE F
              WHERE  CD_CLIENTE = @cd_cliente AND
                     CD_UNID_NEG = @cd_unid_neg AND
                     CD_PRODUTO = @cd_produto )
  BEGIN
    SELECT TOP 1 DT_EMISSAO DT_VENCTO, NR_RELATORIO NR_RELATORIO, NR_ANO NR_ANO
    INTO   #TMP_REL_FIN_CONTROLE_NUM_CLIENTE
    FROM   TREL_FIN_CONTROLE F
    WHERE  CD_CLIENTE = @cd_cliente AND
           CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO = @cd_produto
    ORDER BY DT_EMISSAO DESC

    SELECT @dt_vencto = DT_VENCTO, 
           @nr_relatorio = NR_RELATORIO, 
           @nr_ano = NR_ANO
    FROM   #TMP_REL_FIN_CONTROLE_NUM_CLIENTE

    DROP TABLE #TMP_REL_FIN_CONTROLE_NUM_CLIENTE
  END
  ELSE
  BEGIN
    SELECT TOP 1 DT_EMISSAO DT_VENCTO, NR_RELATORIO NR_RELATORIO, NR_ANO NR_ANO
    INTO   #TMP_REL_FIN_CONTROLE_NUM_CLIENTE_GRUPO
    FROM   TREL_FIN_CONTROLE F
    WHERE  ( ( CD_GRUPO IN ( SELECT CD_GRUPO 
                             FROM   TEMPRESA_NAC 
                             WHERE  CD_EMPRESA = @cd_cliente ) ) AND 
             ( CD_CLIENTE <> @cd_cliente ) ) AND
            CD_UNID_NEG = @cd_unid_neg AND
            CD_PRODUTO = @cd_produto
    ORDER BY DT_EMISSAO DESC

    SELECT @dt_vencto = DT_VENCTO, 
           @nr_relatorio = NR_RELATORIO, 
           @nr_ano = NR_ANO
    FROM   #TMP_REL_FIN_CONTROLE_NUM_CLIENTE_GRUPO

    DROP TABLE #TMP_REL_FIN_CONTROLE_NUM_CLIENTE_GRUPO
  END
END

/*
  DROP TABLE #TMP_REL_FIN_CONTROLE_NUM_GRUPO
  DROP TABLE #TMP_REL_FIN_CONTROLE_NUM_CLIENTE_GRUPO
  DROP TABLE #TMP_REL_FIN_CONTROLE_NUM_CLIENTE
*/



GO
