USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





/****** Object:  Stored Procedure dbo.sp_altera_senha    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_rel_est_desp] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                 @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = 'X'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = '00020'
SELECT @dt_inicio = CONVERT( datetime, '25/02/2002', 103 )
SELECT @dt_fim = CONVERT( datetime, '25/02/2002', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/


DECLARE @nr_processo char(18), @nr_processo_cs char(18)
DECLARE @cd_item_ii char(3), @cd_item_ipi char(3), @cd_item_icms char(3), @cd_item_siscomex char(3), 
        @cd_item_frete_aereo char(3), @cd_item_frete_mar char(3), @cd_item_frete_rod char(3), @nm_especie char(100)
DECLARE @vl_fob float, @vl_cif float, @vl_imp float, @vl_frete_mn float, @vl_frete_fat float, @vl_desp float, 
        @vl_desp_frete float, @vl_desp_frete_imp float, @vl_cif_imp float, @vl_perc_desp_frete_imp_fob float, 
        @vl_perc_desp_cif_imp float, @vl_perc_desp_cif float, @vl_desp_frete_peso_liq float, @vl_peso_liquido float,
        @vl_qtde float

SELECT  @cd_item_ii       = CD_ITEM_II, 
        @cd_item_ipi      = CD_ITEM_IPI, 
        @cd_item_icms     = CD_ITEM_ICMS,
        @cd_item_siscomex = CD_ITEM_SISCOMEX
FROM    TPARAMETROS

SELECT @cd_item_frete_aereo = '029', @cd_item_frete_mar = '001', @cd_item_frete_rod = '421'

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_EST_DESP

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

/* INSERE REGISTROS NA TREL_EST_DESP */
INSERT TREL_EST_DESP( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, VL_QTDE, NM_ESPECIE, CD_CLIENTE, 
                      VL_PESO_LIQUIDO, VL_PESO_BRUTO, CD_MERCADORIA, CD_PAIS_ORIGEM, CD_LOCAL_EMBARQUE, CD_VIA_TRANSPORTE, 
                      VL_MLE_MN, VL_MLE_MNEG, VL_FRETE_MN, VL_FRETE_MNEG, VL_SEGURO_MNEG, VL_CIF_MN, CD_ARMAZEM_ATRACACAO,
                      NM_CAMBIO )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, COUNT( ISNULL( C.TP_CNTR, '' ) ) AS VL_QTDE, 
         T.NM_TP_CNTR, MAX( P.CD_CLIENTE ) AS CD_CLIENTE,
         CASE SUBSTRING ( P.NR_PROCESSO, 1, 2 )
           WHEN '01' THEN MAX( ISNULL( D.PL_CARGA, 0 ) ) 
           WHEN '02' THEN MAX( ISNULL( EX.VL_PESO_LIQUIDO, 0 ) ) 
         END AS VL_PESO_LIQUIDO,
         CASE SUBSTRING ( P.NR_PROCESSO, 1, 2 )
           WHEN '01' THEN MAX( ISNULL( D.PB_CARGA, 0 ) ) 
           WHEN '02' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
         END AS VL_PESO_BRUTO,
         MIN( 
         CASE P.CD_PRODUTO 
           WHEN '01' THEN DI.CD_MERCADORIA
           WHEN '02' THEN I.CD_MERCADORIA
         END ) AS CD_MERCADORIA, 
         MIN( 
         CASE P.CD_PRODUTO 
           WHEN '01' THEN CASE ISNULL( DI.CD_PAIS_ORIGEM, '' ) 
                            WHEN '' THEN DI.CD_PAIS_AQUISICAO
                            ELSE DI.CD_PAIS_ORIGEM
                          END        
           WHEN '02' THEN EX.CD_PAIS_ORIGEM
         END ) AS CD_PAIS_ORIGEM, 
         MIN( P.CD_LOCAL_EMBARQUE ) AS CD_LOCAL_EMBARQUE,
         MIN( S.CD_VIA_TRANSPORTE ) AS CD_VIA_TRANSPORTE,
         MIN( ISNULL( P.VL_MLE_MN, 0 ) ) AS VL_MLE_MN,
         MIN( ISNULL( P.VL_MLE_MNEG, 0 ) ) AS VL_MLE_MNEG,
         MIN( ISNULL( VL_FRETE_MN, 0 ) ) AS VL_FRETE_MN,
         MIN(
         CASE P.TP_FRETE
            WHEN '0' THEN ISNULL( VL_FRETE_COLLECT_MNEG, 0 )
            WHEN '1' THEN ISNULL( VL_FRETE_PREPAID_MNEG, 0 )
         END ) AS VL_FRETE_MNEG,
         MIN( ISNULL( P.VL_SEGURO_MNEG, 0 ) ) AS VL_SEGURO_MNEG,
         MIN( ISNULL( P.VL_CIF_MN, 0 ) ) AS VL_CIF_MN, MIN( P.CD_ARMAZEM_ATRACACAO ) CD_ARMAZEM_ATRACACAO,
         MIN( 
         CASE P.CD_PRODUTO 
           WHEN '01' THEN 
            CASE 
              WHEN ISNULL( AD.QT_PARC_FINANC_360, 0 ) <= 0 THEN 
                CASE AD.CD_COBERT_CAMBIAL 
                  WHEN '4' THEN 'S/ Cobert.'
                  ELSE 'A Vista'
                END
              WHEN ISNULL( AD.QT_PARC_FINANC_360, 0 ) = 1 THEN 'A Vista'
              ELSE 'A Prazo'
            END
           WHEN '02' THEN ''
         END ) AS NM_CAMBIO        
  FROM   TPROCESSO P, TPROCESSO_CNTR C, TTP_CNTR T, TEMPRESA_NAC E, VW_SERVICO_GERAL S,
         TDECLARACAO_IMPORTACAO D, TADICAO_DE_IMPORTACAO AD, TDETALHE_MERCADORIA DI, TPROCESSO_EXP EX, TPROCESSO_EXP_ITEM I
  WHERE  P.NR_PROCESSO IN( SELECT N.NR_PROCESSO
                           FROM   TNF_SERV_OP N, TS_FATURA F, TS_FATURA_PROCESSO FP
                           WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
                                  N.CD_PRODUTO = F.CD_PRODUTO AND
                                  N.NR_SOLICITACAO = F.NR_SOLICITACAO AND
                                  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                                  F.CD_PRODUTO = FP.CD_PRODUTO AND
                                  F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                                  FP.CD_UNID_NEG = P.CD_UNID_NEG AND
                                  FP.CD_PRODUTO = P.CD_PRODUTO AND
                                  FP.NR_PROCESSO = P.NR_PROCESSO AND
                                  F.IN_CANCELADO = '0' AND
                                  F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim ) AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_SERVICO = S.CD_SERVICO AND
         P.NR_PROCESSO = C.NR_PROCESSO AND
         C.TP_CNTR = T.TP_CNTR AND
         P.NR_PROCESSO *= D.NR_PROCESSO AND
         P.NR_PROCESSO *= AD.NR_PROCESSO AND
         P.NR_PROCESSO *= DI.NR_PROCESSO AND
         AD.NR_ADICAO = '001' AND
         DI.NR_ADICAO = '001' AND
         DI.NR_ITEM = '001' AND
         P.NR_PROCESSO *= EX.NR_PROCESSO AND
         P.NR_PROCESSO *= I.NR_PROCESSO AND
         I.NR_ITEM = '001' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         P.IN_CANCELADO = '0'
  GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, T.NM_TP_CNTR
  ORDER BY P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO


/* GRAVA CARGA SOLTA em TREL_EST_DESP - p/registros com campo NM_ESPECIE vazio ( CNTR tipo PIER )*/
DECLARE c_cs CURSOR FOR
  SELECT DISTINCT NR_PROCESSO
  FROM   TREL_EST_DESP
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         LEN( RTRIM( LTRIM( NM_ESPECIE ) ) ) = 0

OPEN c_cs
FETCH c_cs INTO @nr_processo_cs
WHILE @@fetch_status = 0
BEGIN

  DECLARE c_cargas CURSOR FOR
    SELECT VL_QTDE, NM_ESPECIE
    FROM   TPROCESSO_CARGA_SOLTA 
    WHERE  NR_PROCESSO = @nr_processo_cs 

  OPEN c_cargas
  FETCH c_cargas INTO @vl_qtde, @nm_especie
  WHILE @@fetch_status = 0
  BEGIN
    -- Grava nos registros a Carga Solta ( campo NM_ESPECIE )
    INSERT TREL_EST_DESP( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, VL_QTDE, NM_ESPECIE, CD_CLIENTE, 
                          VL_PESO_LIQUIDO, VL_PESO_BRUTO, CD_MERCADORIA, CD_PAIS_ORIGEM, CD_LOCAL_EMBARQUE, CD_VIA_TRANSPORTE, 
                          VL_MLE_MN, VL_MLE_MNEG, VL_FRETE_MN, VL_FRETE_MNEG, VL_SEGURO_MNEG, VL_CIF_MN, CD_ARMAZEM_ATRACACAO,
                          NM_CAMBIO )
    SELECT NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, @vl_qtde, @nm_especie, CD_CLIENTE, 
           VL_PESO_LIQUIDO, VL_PESO_BRUTO, CD_MERCADORIA, CD_PAIS_ORIGEM, CD_LOCAL_EMBARQUE, CD_VIA_TRANSPORTE, 
           VL_MLE_MN, VL_MLE_MNEG, VL_FRETE_MN, VL_FRETE_MNEG, VL_SEGURO_MNEG, VL_CIF_MN, CD_ARMAZEM_ATRACACAO,
           NM_CAMBIO
    FROM   TREL_EST_DESP
    WHERE  NR_PROCESSO = @nr_processo_cs
              
    FETCH c_cargas INTO @vl_qtde, @nm_especie
  END
  CLOSE c_cargas    
  DEALLOCATE c_cargas          

  -- Deleta registro com campo NM_ESPECIE vazio
  DELETE 
  FROM   TREL_EST_DESP
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo_cs AND
         LEN( RTRIM( LTRIM( NM_ESPECIE ) ) ) = 0

  FETCH c_cs INTO @nr_processo_cs
END

CLOSE c_cs
DEALLOCATE c_cs


/* INSERE REGISTROS NA TREL_EST_DESP_ITEM E ALTERA VALORES TREL_EST_DESP */
DECLARE c_rel CURSOR FOR
  SELECT DISTINCT NR_PROCESSO
  FROM   TREL_EST_DESP 
  WHERE  NR_IDENTIFICADOR = @nr_identificador
OPEN c_rel
FETCH c_rel INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN
  INSERT TREL_EST_DESP_ITEM( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, VL_ITEM )
    SELECT @nr_identificador, N.NR_PROCESSO, I.CD_ITEM, ROUND( SUM( ROUND( ISNULL( I.VL_ITEM, 0 ), 2 ) ), 2 )
    FROM   TNF_SERV_OP N, TNF_SERV_OP_ITEM I
    WHERE  N.CD_UNID_NEG = I.CD_UNID_NEG AND
           N.CD_PRODUTO = I.CD_PRODUTO AND
           N.NR_SOLICITACAO = I.NR_SOLICITACAO AND
           N.NR_PROCESSO = @nr_processo
    GROUP BY N.NR_PROCESSO, I.CD_ITEM

  -- ISS, IRRF, Comissão
  INSERT TREL_EST_DESP_ITEM( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, VL_ITEM )
    SELECT @nr_identificador, N.NR_PROCESSO, F.CD_ITEM, ROUND( SUM( ROUND( ISNULL( F.VL_ITEM, 0 ), 2 ) ), 2 )
    FROM   TNF_SERV_OP N, TFATURAMENTO_CC F
    WHERE  N.CD_UNID_NEG = F.CD_UNID_NEG AND
           N.CD_PRODUTO = F.CD_PRODUTO AND
           N.NR_SOLICITACAO = F.NR_SOLIC_FAT AND
           N.NR_PROCESSO = @nr_processo AND
           ( F.CD_ITEM IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) OR
             F.CD_ITEM IN ( SELECT CD_ITEM_IR  FROM TPARAMETROS ) OR
             F.CD_ITEM IN ( SELECT CD_ITEM_COMISSAO FROM TPARAMETROS ) )
    GROUP BY N.NR_PROCESSO, F.CD_ITEM

  UPDATE TREL_EST_DESP
  SET    VL_MLE_MNEG = R.VL_MLE_MNEG - D.VL_TOTAL_FRETE_MNEG,
         VL_MLE_MN   = R.VL_MLE_MN   - D.VL_TOTAL_FRETE_MN
  FROM   TREL_EST_DESP R, TDECLARACAO_IMPORTACAO D
  WHERE  R.NR_PROCESSO = D.NR_PROCESSO AND
         D.IN_EMBUT_FRT_ITENS = 1 AND
         R.NR_PROCESSO = @nr_processo

  UPDATE TREL_EST_DESP
  SET    VL_MLE_MNEG = R.VL_MLE_MNEG - D.VL_TOT_SEGURO_MNEG,
         VL_MLE_MN   = R.VL_MLE_MN   - D.VL_TOTAL_SEG_MN
  FROM   TREL_EST_DESP R, TDECLARACAO_IMPORTACAO D
  WHERE  R.NR_PROCESSO = D.NR_PROCESSO AND
         D.IN_EMBUT_SEG_ITENS = 1 AND
         R.NR_PROCESSO = @nr_processo

  SELECT @vl_fob = ROUND( ISNULL( VL_MLE_MN, 0 ), 2 ),
         @vl_frete_mn = ROUND( ISNULL( VL_FRETE_MN, 0 ), 2 ),
         @vl_peso_liquido = ROUND( ISNULL( VL_PESO_LIQUIDO, 0 ), 5 )
  FROM   TREL_EST_DESP
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo

  SELECT @vl_frete_fat = ROUND( SUM( ISNULL( VL_ITEM, 0 ) ), 2 )
  FROM   TREL_EST_DESP_ITEM
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo AND
         CD_ITEM IN ( @cd_item_frete_aereo, @cd_item_frete_mar, @cd_item_frete_rod )

  SELECT @vl_desp = ROUND( SUM( ISNULL( VL_ITEM, 0 ) ), 2 )
  FROM   TREL_EST_DESP_ITEM
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo AND
         CD_ITEM NOT IN ( @cd_item_ii, @cd_item_ipi, @cd_item_icms, @cd_item_siscomex )

  SELECT @vl_desp_frete = ISNULL( @vl_desp, 0 ) + ISNULL( @vl_frete_mn, 0 ) - ISNULL( @vl_frete_fat, 0 )

  SELECT @vl_imp = ROUND( SUM( ISNULL( VL_ITEM, 0 ) ), 2 )
  FROM   TREL_EST_DESP_ITEM
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo AND
         CD_ITEM IN ( @cd_item_ii, @cd_item_ipi, @cd_item_icms, @cd_item_siscomex )

  SELECT @vl_cif = ROUND( ISNULL( VL_CIF_MN, 0 ), 2 )
  FROM   TREL_EST_DESP
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo

  SELECT @vl_desp_frete_imp = ISNULL( @vl_desp_frete, 0 ) + ISNULL( @vl_imp, 0 )

  SELECT @vl_cif_imp = ROUND( ISNULL( @vl_cif, 0 ) + ISNULL( @vl_imp, 0 ), 2 )
  SELECT @vl_perc_desp_cif = ROUND( ISNULL( ( ( 100 * @vl_desp_frete ) / ISNULL( @vl_fob, 1 ) ), 0 ), 2 )
  SELECT @vl_perc_desp_cif_imp = ROUND( ISNULL( ( ( 100 * @vl_desp ) / ISNULL( @vl_cif_imp, 1 ) ), 0 ), 2 )
  SELECT @vl_perc_desp_frete_imp_fob = ROUND( ISNULL( ( ( 100 * @vl_desp_frete_imp ) / ISNULL( @vl_fob, 1 ) ), 0 ), 2 )
  SELECT @vl_desp_frete_peso_liq = ROUND( @vl_desp_frete / @vl_peso_liquido, 5 )


  UPDATE TREL_EST_DESP
  SET    VL_DESP = @vl_desp, 
         VL_DESP_FRETE = @vl_desp_frete, 
         VL_IMP = @vl_imp,
         VL_DESP_FRETE_IMP = @vl_desp_frete_imp, 
         VL_CIF_IMP = @vl_cif_imp,
         VL_PERC_DESP_CIF = @vl_perc_desp_cif,
         VL_PERC_DESP_CIF_IMP = @vl_perc_desp_cif_imp,
         VL_PERC_DESP_FRETE_IMP_FOB = @vl_perc_desp_frete_imp_fob,
         VL_DESP_FRETE_PESO_LIQ = @vl_desp_frete_peso_liq
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo

  FETCH c_rel INTO @nr_processo
END

CLOSE c_rel
DEALLOCATE C_REL



GO
