USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_gera_solic_ch_devol    Script Date: 02/09/1999 08:59:01 AM ******/
CREATE PROCEDURE [sp_gera_solic_ch_devol] ( @dt_solic_ch char(10), @nr_solic_ch char(3), @cd_cliente char(5) ) AS
DECLARE @nr_lancamento  char(3)
DECLARE @nr_processo  char(18)
DECLARE @nr_devolucao  char(3)
DECLARE @vl_devolucao  float
DECLARE @cd_item_devolucao char(3)
DECLARE @cd_fornecedor  char(5)
SELECT @cd_item_devolucao = CD_ITEM
FROM   TPARAMETROS (TABLOCK HOLDLOCK),
       TITEM (TABLOCK HOLDLOCK)
WHERE  CD_ITEM = CD_ITEM_DEVOL_NUM
IF @@rowcount > 0
BEGIN
  SELECT @cd_fornecedor = CD_FAVORECIDO
  FROM   TSOLIC_CHEQUE (TABLOCK HOLDLOCK)
  WHERE  DT_SOLIC_CH = @dt_solic_ch AND
         NR_SOLIC_CH = @nr_solic_ch
  SELECT @nr_lancamento = MAX( NR_LANCAMENTO )
  FROM   TSOLIC_CHEQUE_ITENS (TABLOCK HOLDLOCK)
  WHERE  DT_SOLIC_CH = @dt_solic_ch AND
         NR_SOLIC_CH = @nr_solic_ch
  IF @nr_lancamento = NULL
  BEGIN
    DECLARE c_dev CURSOR FOR
      SELECT D.NR_PROCESSO, D.NR_DEVOLUCAO, D.VL_DEVOLUCAO
      FROM   TDEVOLUCAO D (TABLOCK HOLDLOCK),
             TPROCESSO P (TABLOCK HOLDLOCK)
      WHERE  D.NR_PROCESSO  = P.NR_PROCESSO AND
             P.CD_CLIENTE   = @cd_cliente AND
             D.IN_CANCELADO = '0' AND
             D.DT_SOLIC_CH IS NULL
    OPEN c_dev
    FETCH c_dev INTO @nr_processo, @nr_devolucao, @vl_devolucao
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ISNULL ( ( CONVERT( int, @nr_lancamento ) + 1 ), 1 ) ), 3 )
      INSERT TSOLIC_CHEQUE_ITENS 
      VALUES ( @dt_solic_ch, @nr_solic_ch, @nr_lancamento, @nr_processo, @cd_item_devolucao,
               @vl_devolucao, 0, 0, '0', NULL, @cd_cliente, '0', @cd_fornecedor, '0' )
      UPDATE TDEVOLUCAO 
      SET    DT_SOLIC_CH    = @dt_solic_ch,
             NR_SOLIC_CH    = @nr_solic_ch,
             IN_TRANSFERIDO = '1'
      WHERE  NR_PROCESSO    = @nr_processo AND
             NR_DEVOLUCAO   = @nr_devolucao
      EXEC sp_proc_itens_solic_ch @dt_solic_ch, @nr_solic_ch, @nr_lancamento, '+'
      FETCH c_dev INTO @nr_processo, @nr_devolucao, @vl_devolucao
    END
    CLOSE c_dev
    DEALLOCATE c_dev
  END
  ELSE
  BEGIN
    RETURN(1)
  END
END
ELSE
BEGIN
  RETURN(2)
END



GO
