USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [sp_proc_itens_monta_pagto] ( @nr_processo char(18), @nr_lancamento char(3), @cd_item char(3), @nr_doc char(6) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo   char(18)
DECLARE @nr_lancamento char(3)
DECLARE @cd_item       char(3)
DECLARE @nr_doc        char(6)

SELECT @nr_processo = '0201I0-0068-06'
SELECT @nr_lancamento = '010'
SELECT @cd_item = '514'
SELECT @nr_doc = '000001'
--*/


DECLARE @cd_usuario     char(4)
DECLARE @vl_pagto       numeric(14,2)
DECLARE @vl_solicitado  numeric(14,2)
DECLARE @vl_recebido    numeric(14,2)
DECLARE @vl_utilizado   numeric(14,2)
DECLARE @vl_saldo       numeric(14,2)
DECLARE @vl_saldo_proc	numeric(14,2)
DECLARE @cd_status_item char(2)
DECLARE @in_liberacao   char(1)
DECLARE @in_ted         char(1)
DECLARE @tp_destino	char(1)
DECLARE @dt_pagto	datetime
DECLARE @nr_ref	    	char(3)

DECLARE @NR_LANCAMENTO_BORDERO CHAR(3)

SELECT @vl_pagto         = ISNULL( CONVERT( numeric(14,2), VL_PAGTO ), 0 ) - ISNULL( CONVERT( numeric(14,2), VL_DESCONTO ), 0 ),
       @dt_pagto         = DT_PAGTO,
       @nr_ref           = NR_REF,
       @tp_destino       = TP_DESTINO,
       @cd_status_item   = CD_STATUS,
       @in_ted           = IN_TED
FROM   TSOLIC_PAGTO (PAGLOCK HOLDLOCK)
WHERE  NR_PROCESSO   = @nr_processo AND
       NR_LANCAMENTO = @nr_lancamento AND
       CD_ITEM       = @cd_item AND 
       TP_DESTINO IN ( '1', '2', '3', '5' )

IF @@rowcount = 0
  SELECT 'RETURN' -- RETURN(1)

IF @tp_destino in ( '2', '3' )
BEGIN
  IF ( SELECT COUNT(*)
       FROM   TCLIENTE_BANCO_LIBERADO L,
              TSOLIC_PAGTO S (PAGLOCK HOLDLOCK),
              TPROCESSO P
       WHERE  P.CD_CLIENTE    = L.CD_CLIENTE  AND
              P.CD_UNID_NEG   = L.CD_UNID_NEG AND
              P.CD_PRODUTO    = L.CD_PRODUTO  AND
              S.CD_BANCO      = L.CD_BANCO    AND
              P.NR_PROCESSO   = S.NR_PROCESSO AND
              S.NR_PROCESSO   = @nr_processo  AND
              S.NR_LANCAMENTO = @nr_lancamento AND
              S.CD_ITEM       = @cd_item  AND
              L.IN_ATIVO      = '1' ) > 0
    SELECT @in_liberacao = '1'
  ELSE
    SELECT @in_liberacao = '0'

  IF @in_liberacao = '1' OR 
     @cd_item IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) OR
     @cd_item IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) OR
     @cd_item IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) 
  BEGIN
    IF @in_ted = '0'
      SELECT @cd_status_item = '16'
    ELSE
      SELECT @cd_status_item = '19'
  END
  ELSE
  BEGIN
    IF ( SELECT COUNT(*)
         FROM   TNUMERARIO_SALDO_POR_ITEM
         WHERE  ( NR_PROCESSO = @nr_processo ) AND
                ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) ) ) <= 0
    BEGIN
      INSERT TNUMERARIO_SALDO_POR_ITEM (NR_PROCESSO, CD_ITEM, VL_SOLICITADO, VL_RECEBIDO, VL_UTILIZADO, VL_SALDO_ITEM, 
             VL_SALDO_PROCESSO)
      VALUES ( @nr_processo, @cd_item, 0, 0, 0, 0, 0 )
    END
  
    SELECT @vl_solicitado = ( SUM ( ISNULL ( CONVERT( numeric(14,2), VL_SOLICITADO )    , 0 ) ) ),
           @vl_recebido   = ( SUM ( ISNULL ( CONVERT( numeric(14,2), VL_RECEBIDO )      , 0 ) ) ), 
           @vl_utilizado  = ( SUM ( ISNULL ( CONVERT( numeric(14,2), VL_UTILIZADO )     , 0 ) ) ), 
           @vl_saldo      = ( SUM ( ISNULL ( CONVERT( numeric(14,2), VL_SALDO_ITEM )    , 0 ) ) ), 
           @vl_saldo_proc = ( MIN ( ISNULL ( CONVERT( numeric(14,2), VL_SALDO_PROCESSO ), 0 ) ) ) 
    FROM   TNUMERARIO_SALDO_POR_ITEM
    WHERE  ( NR_PROCESSO = @nr_processo ) AND
           ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) )
  
    IF ( @tp_destino <> '2' ) AND ( @cd_status_item = '6' )
      SELECT @cd_status_item = '7'
    ELSE
    BEGIN
      SELECT @cd_status_item =
        CASE
          WHEN ( ISNULL( @vl_saldo, 0 ) >= @vl_pagto ) AND
               ( ISNULL( @vl_saldo_proc, 0 ) >= @vl_pagto ) THEN 
            CASE @in_ted
              WHEN '0' THEN '16' /* Liberado pelo Sistema    */
              ELSE '19' /* TED Aguardando Liberação */
            END
          WHEN ( ISNULL( @vl_solicitado, 0 ) = 0 )          THEN '2'  /* Numerário não solicitado */
          WHEN ( ISNULL( @vl_recebido, 0 )   = 0 )      THEN '3'  /* Numerário não recebido   */
          ELSE '1'                                               	    /* Saldo Insuficiente       */ 
        END
    END
  END

  UPDATE TSOLIC_PAGTO 
  SET    CD_STATUS = @cd_status_item,
         IN_SOLICITADO = '1'
  WHERE  ( NR_PROCESSO = @nr_processo ) AND 
         ( NR_LANCAMENTO = @nr_lancamento ) AND
         ( CD_ITEM = @cd_item )

  IF @tp_destino = '3'    -- Deb. Conta Com
  BEGIN
    UPDATE TSOLIC_PAGTO 
    SET    NR_DOCTO = @nr_doc    -- Grava nº do DOC
    WHERE  ( NR_PROCESSO = @nr_processo ) AND 
           ( NR_LANCAMENTO = @nr_lancamento ) AND
           ( CD_ITEM = @cd_item )
  END

  IF @cd_status_item in ('8', '9', '10', '11', '16', '19') AND @cd_item NOT IN ('991','992','993','997','998','987','988')
  BEGIN
    EXEC sp_atualiza_utilizado @nr_processo, @cd_item, @vl_pagto, '+'
  END
  
  IF @tp_destino <> '2' --Débito em Conta da Comissária ==> Atualiza Financeiro
  BEGIN
    EXEC sp_distribui_pagto @dt_pagto, @nr_ref, @tp_destino, @nr_doc 
  END
  
END
ELSE -- Débito em Conta / Borderô
BEGIN
  IF NOT EXISTS (SELECT NR_PROCESSO 
                 FROM TFATURAMENTO_CC_CLIENTE 
                 WHERE ( NR_PROCESSO = @nr_processo ) AND 
                       ( NR_LANCAMENTO = @nr_lancamento ) AND
                       ( CD_ITEM = @cd_item ))
    BEGIN

      SELECT @NR_LANCAMENTO_BORDERO = RIGHT( ( '000' + RTRIM( CONVERT(CHAR,CONVERT(INTEGER,MAX(NR_LANCAMENTO)) + 1) ) ), 3 ) FROM TFATURAMENTO_CC_CLIENTE WHERE NR_PROCESSO = @nr_processo

      INSERT INTO TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, 
        IN_CANCELADO/*, IN_FATURA*/ )
      SELECT  @nr_processo, @NR_LANCAMENTO_BORDERO, DT_PAGTO, @cd_item, VL_PAGTO, '0' 
      FROM TSOLIC_PAGTO
      WHERE ( NR_PROCESSO = @nr_processo ) AND 
           ( NR_LANCAMENTO = @nr_lancamento ) AND
           ( CD_ITEM = @cd_item )
    END

    IF @tp_destino = '5'    -- Borderô
    BEGIN
      UPDATE TSOLIC_PAGTO 
      SET    CD_STATUS = '7',    -- Pago
             IN_SOLICITADO = '1'
      WHERE  ( NR_PROCESSO = @nr_processo ) AND 
             ( NR_LANCAMENTO = @nr_lancamento ) AND
             ( CD_ITEM = @cd_item )
    END
END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/







GO
