USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_canc_fat_cc] ( @cd_unid_neg char(02), @dt_ctaapagar datetime, @nr_ctaapagar char(03) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg  CHAR(02)
DECLARE @dt_ctaapagar DATETIME
DECLARE @nr_ctaapagar CHAR(03)

SELECT @cd_unid_neg  = '01'
SELECT @dt_ctaapagar = CONVERT( datetime, '04/08/2001', 103 )
SELECT @nr_ctaapagar = '003'
--*/

DECLARE @nr_processo         CHAR(18)
DECLARE @nr_lanc_solic_pagto CHAR(03)
DECLARE @cd_item_solic_pagto CHAR(03)
DECLARE @nr_lanc_fat_cc      CHAR(04)

SELECT NR_PROCESSO, NR_LANC_SOLIC_PAGTO, CD_ITEM_SOLIC_PAGTO, NR_LANC_FAT_CC
FROM TCTAAPAGAR_LANC_PROCESSO
WHERE CD_UNID_NEG  = @cd_unid_neg  AND
      DT_CTAAPAGAR = @dt_ctaapagar AND
      NR_CTAAPAGAR = @nr_ctaapagar

DECLARE c_fat_cc CURSOR FOR
SELECT NR_PROCESSO, NR_LANC_SOLIC_PAGTO, CD_ITEM_SOLIC_PAGTO, NR_LANC_FAT_CC
FROM TCTAAPAGAR_LANC_PROCESSO
WHERE CD_UNID_NEG  = @cd_unid_neg  AND
      DT_CTAAPAGAR = @dt_ctaapagar AND
      NR_CTAAPAGAR = @nr_ctaapagar
OPEN c_fat_cc
FETCH c_fat_cc INTO @nr_processo, @nr_lanc_solic_pagto, @cd_item_solic_pagto, @nr_lanc_fat_cc
WHILE @@fetch_status = 0
BEGIN

  IF ISNULL( ( SELECT IN_FATURADO 
               FROM   TFATURAMENTO_CC
               WHERE  NR_PROCESSO   = @nr_processo AND
                      NR_LANCAMENTO = @nr_lanc_fat_cc ), '0' ) = '1'
  BEGIN 
    RETURN(1)
  END
  ELSE
  BEGIN
    EXEC sp_cancela_item_solic_pagto @nr_processo, @nr_lanc_solic_pagto, @cd_item_solic_pagto

    UPDATE TFATURAMENTO_CC 
    SET    IN_CANCELADO  = '1'
    WHERE  NR_PROCESSO   = @nr_processo AND
           NR_LANCAMENTO = @nr_lanc_fat_cc
  END

  FETCH c_fat_cc INTO @nr_processo, @nr_lanc_solic_pagto, @cd_item_solic_pagto, @nr_lanc_fat_cc
END
CLOSE c_fat_cc
DEALLOCATE c_fat_cc

/*
SELECT NR_PROCESSO, NR_LANCAMENTO, CD_ITEM, IN_CANCELADO
FROM TFATURAMENTO_CC
WHERE NR_PROCESSO = @nr_processo

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/



GO
