USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atz_evento] (@nr_processo char(18), @cd_evento_txt char(20), @dt_realizacao datetime) AS

DECLARE @cd_evento  char(3)
DECLARE @cd_usuario char(4)

--IF @dt_realizacao IS NOT NULL
--    SELECT @dt_realizacao = CONVERT(DATETIME, CONVERT(CHAR(10), @dt_realizacao, 103), 103)

SELECT @cd_evento = CASE @cd_evento_txt
                        WHEN 'CD_EV_DIG_DI'       THEN CD_EV_DIG_DI
                        WHEN 'CD_EV_NUM_IMP'      THEN CD_EV_NUM_IMP
                        WHEN 'CD_EV_REC_IMP'      THEN CD_EV_REC_IMP
                        WHEN 'CD_EV_PAG_ICMS'     THEN CD_EV_PAG_ICMS
                        WHEN 'CD_EV_CHEGADA'      THEN CD_EV_CHEGADA
                        WHEN 'CD_EV_PAG_ARM'      THEN CD_EV_PAG_ARM
                        WHEN 'CD_EV_REG_DI'       THEN CD_EV_REG_DI
                        WHEN 'CD_EV_NUM_FRETE'    THEN CD_EV_NUM_FRETE
                        WHEN 'CD_EV_REC_FRETE'    THEN CD_EV_REC_FRETE
                        WHEN 'CD_EV_ABRE_PROC'    THEN CD_EV_ABRE_PROC
                        WHEN 'CD_EV_NUM_EXP'      THEN CD_EV_NUM_EXP
                        WHEN 'CD_EV_REC_EXP'      THEN CD_EV_REC_EXP
                        WHEN 'CD_EV_PAG_SDA'      THEN CD_EV_PAG_SDA
                        WHEN 'CD_EV_PAG_DEMUR'    THEN CD_EV_PAG_DEMUR
                        WHEN 'CD_EV_PRES_CARGA'   THEN CD_EV_PRES_CARGA
                        WHEN 'CD_EV_DESOVA'       THEN CD_EV_DESOVA
                        WHEN 'CD_EV_ENVIO_FAT'    THEN CD_EV_ENVIO_FAT
                        WHEN 'CD_EV_DESEMB'       THEN CD_EV_DESEMB
                        WHEN 'CD_EV_CHEGADA'      THEN CD_EV_CHEGADA
                        WHEN 'CD_EV_APRESENTACAO' THEN CD_EV_APRESENTACAO
                        WHEN 'CD_EV_CRUZE'        THEN CD_EV_CRUZE
                        WHEN 'CD_EV_NUM_IMP'      THEN CD_EV_NUM_IMP
                        WHEN 'CD_EV_REC_IMP'      THEN CD_EV_REC_IMP
                        WHEN 'CD_EV_NUM_EXP'      THEN CD_EV_NUM_EXP
                        WHEN 'CD_EV_REC_EXP'      THEN CD_EV_REC_EXP                      
                        WHEN 'CD_EV_RECEB_DOC'    THEN CD_EV_RECEB_DOC
                        WHEN 'CD_EV_REG_DDE'	  THEN CD_EV_REG_DDE
                        WHEN 'CD_EV_REG_RE'	      THEN CD_EV_REG_RE
                        WHEN 'CD_EV_CERT_ORIGEM'  THEN CD_EV_CERT_ORIGEM			      	
                        WHEN 'CD_EV_CONF_DOCS'    THEN CD_EV_CONF_DOCS 
                    END
FROM TPARAMETROS (NOLOCK)

IF (SELECT ISNULL(DT_REALIZACAO, 0)
    FROM TFOLLOWUP
    WHERE NR_PROCESSO = @nr_processo
      AND CD_EVENTO = @cd_evento) <> ISNULL(@dt_realizacao, 0)
BEGIN
    SELECT @cd_usuario = CD_USUARIO 
    FROM TUSUARIO (NOLOCK)
    WHERE AP_USUARIO = SUSER_NAME()

    IF ISNULL(@cd_evento, '') = ''
        RETURN (1)
    ELSE IF (SELECT COUNT(*)
             FROM TFOLLOWUP
             WHERE NR_PROCESSO  = @nr_processo
               AND CD_EVENTO    = @cd_evento
               AND IN_APLICAVEL = '1') > 0
    BEGIN
        -- O IF FOI COMENTADO EM 09/04/07 POR NAO SERVIR PRA CONSISTIR NADA, JA Q O PROPRIO UPDATE 
        -- NAO FAZ NADA CASO NAO EXISTA REGISTROS, E TBM SÓ ATUALIZA O FUP QDO FOI UPDATADO ALGUM REGISTRO.
        --  IF ( SELECT COUNT(*)    
        --       FROM   TFOLLOWUP (NOLOCK)
        --       WHERE  NR_PROCESSO        = @nr_processo AND
        --              CD_EVENTO          = @cd_evento   AND
        --              IN_APLICAVEL       = '1'          --AND
        --              /*ISNULL( DT_REALIZACAO, '' ) = ''*/) > 0
        --  BEGIN
        UPDATE TFOLLOWUP
        SET DT_REALIZACAO      = @dt_realizacao,
            CD_RESP_REALIZACAO = ISNULL(@cd_usuario, '0000'),
            DT_INSPECAO        = @dt_realizacao,
            CD_RESP_INSPECAO   = ISNULL(@cd_usuario, '0000'),
            CD_RESULT_INSPECAO = 'C'
        WHERE NR_PROCESSO  = @nr_processo
          AND CD_EVENTO    = @cd_evento
          AND IN_APLICAVEL = '1'          

        IF @@rowcount > 0
            EXEC sp_atz_followup @nr_processo

        RETURN (0)
        --  END
    END
    ELSE
        RETURN 2
END
ELSE
    RETURN 3
GO
