USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [sp_atz_numerario_ag] (@nr_recebimento char(6), @cd_cliente char(5),
         @cd_unid_neg char(2), @dt_recebimento datetime, @Qtd_proc_vinc int output )AS

DECLARE @nr_processo           char(18)
DECLARE @nr_solicitacao        char(3)
DECLARE @cd_item               char(3)
DECLARE @vl_solicitado_processo float
DECLARE @vl_recebido_processo  float
DECLARE @vl_utilizado_processo float
DECLARE @cd_status             char(1)
DECLARE @cd_status_item        char(1)
DECLARE @nr_lancamento         char(3)
DECLARE @nr_lanc_receb         char(4)
DECLARE @vl_utilizado_item     float
DECLARE @vl_solicitado_item    float
DECLARE @vl_recebido_item      float
DECLARE @vl_adicional_item     float	
DECLARE @nr_processo_vinc      char(18)
DECLARE @nr_ult_lanc           int
DECLARE @ult_lanc              char(3)
DECLARE @cd_banco_extra        CHAR(3)
DECLARE @cd_item_receb_num     char(3)
DECLARE @cd_item_extor_num     char(3)
DECLARE @cd_favorecido         char(5)
DECLARE @vl_adicional_processo float
--CRIA UM TEMP PARA ALOCAR OS PROCESSOS 
SELECT NR_LANC_RECEB, NR_PROCESSO, NR_SOLICITACAO, VL_SOLICITADO, VL_RECEBIDO,
       VL_UTILIZADO, VL_ADICIONAL
INTO   #TM_PROCESSO
FROM   TRECEBIMENTO_PROCESSO (NOLOCK)
WHERE  1 = 0
--CRIA UM TEMP PARA ALOCAR OS ITENS 
SELECT NR_LANCAMENTO,  VL_UTILIZADO, VL_SOLICITADO,
       VL_RECEBIDO, VL_ADICIONAL_ITEM, CD_ITEM
INTO   #TM_ITEM
FROM   TRECEBIMENTO_PROCESSO_ITEM (NOLOCK)
WHERE  1 = 0

INSERT #TM_PROCESSO (NR_LANC_RECEB, NR_PROCESSO, NR_SOLICITACAO, VL_SOLICITADO, VL_RECEBIDO,
       VL_UTILIZADO, VL_ADICIONAL)
  SELECT NR_LANC_RECEB, NR_PROCESSO, NR_SOLICITACAO, VL_SOLICITADO, VL_RECEBIDO,
       VL_UTILIZADO, VL_ADICIONAL
       FROM TRECEBIMENTO_PROCESSO  (NOLOCK)
       WHERE NR_RECEBIMENTO=@nr_recebimento
       AND CD_CLIENTE= @cd_cliente AND CD_UNID_NEG = @cd_unid_neg 
       AND VL_UTILIZADO > 0 

WHILE (SELECT COUNT(*) FROM #TM_PROCESSO (NOLOCK))> 0
 BEGIN
--LOOP DOS PROCESSOS
   SELECT TOP 1 @nr_lanc_receb= NR_LANC_RECEB, @nr_processo= NR_PROCESSO, 
        @nr_solicitacao =NR_SOLICITACAO, @vl_utilizado_processo = VL_UTILIZADO, 
        @vl_solicitado_processo = VL_SOLICITADO, @vl_recebido_processo = VL_RECEBIDO, 
        @vl_adicional_processo = VL_ADICIONAL
   FROM #TM_PROCESSO (NOLOCK)
   
   INSERT #TM_ITEM (NR_LANCAMENTO,  VL_UTILIZADO, VL_SOLICITADO,
       VL_RECEBIDO, VL_ADICIONAL_ITEM, CD_ITEM)
   SELECT NR_LANCAMENTO, VL_UTILIZADO, VL_SOLICITADO,
       VL_RECEBIDO, VL_ADICIONAL_ITEM, CD_ITEM
       FROM TRECEBIMENTO_PROCESSO_ITEM (NOLOCK) 
       WHERE NR_RECEBIMENTO=@nr_recebimento
       AND CD_CLIENTE= @cd_cliente AND CD_UNID_NEG = @cd_unid_neg 
       AND NR_LANC_RECEB = @nr_lanc_receb AND VL_UTILIZADO > 0  

  WHILE (SELECT COUNT(*) FROM #TM_ITEM (NOLOCK))> 0
   BEGIN
    --LOOP DOS ITNS
     SELECT TOP 1 @nr_lancamento = NR_LANCAMENTO, @vl_utilizado_item = VL_UTILIZADO, 
         @vl_solicitado_item =VL_SOLICITADO, @vl_recebido_item = VL_RECEBIDO, 
         @vl_adicional_item = VL_ADICIONAL_ITEM, @cd_item = CD_ITEM
     FROM #TM_ITEM (NOLOCK)
    
     SET @cd_status = 'B'
     IF @vl_recebido_item   = 0 
        SET @cd_status = 'A' 
     IF @vl_recebido_item   < @vl_utilizado_item
        SET @cd_status = 'P' 
      --atualiza item no numerario 
   UPDATE TNUMERARIO_NOTIFICA_ITEM
       SET CD_STATUS = @cd_status,
           VL_RECEBIDO = VL_RECEBIDO +  @vl_recebido_item + @vl_adicional_item
    WHERE NR_PROCESSO = @nr_processo AND NR_SOLICITACAO = @nr_solicitacao 
       AND CD_ITEM = @cd_item
   
   --ATUALIZA SOLICITACAO DE PAGTO
    EXEC sp_atz_pagto_ag  @nr_processo, @cd_item 

     DELETE FROM #TM_ITEM WHERE NR_LANCAMENTO = @nr_lancamento
   END
  --FIM LOOP DOS ITENS
   SET @cd_status = 'B'
     IF  @vl_recebido_processo < @vl_solicitado_processo
       SET @cd_status = 'P'--recebimento parcialdo processo  
  UPDATE TNUMERARIO_NOTIFICA
    SET VL_RECEBIDO = + VL_RECEBIDO + @vl_recebido_processo + @vl_adicional_processo,
        CD_STATUS = @cd_status
   WHERE NR_PROCESSO = @nr_processo AND NR_SOLICITACAO = @nr_solicitacao  

  DELETE FROM #TM_PROCESSO WHERE NR_LANC_RECEB = @nr_lanc_receb
 END
--FIM LOOP DOS PROCESSOS
DROP TABLE #TM_ITEM
DROP TABLE #TM_PROCESSO
--ATUALIZA RECEBIMENTO DESEMBARACO
--UPDATE TRECEBIMENTO_AG SET IN_ABERTO = 'B' 
 --  WHERE NR_RECEBIMENTO = @nr_recebimento AND
  --  CD_CLIENTE = @cd_cliente AND CD_UNID_NEG = @cd_unid_neg

UPDATE TRECEBIMENTO_PROCESSO SET CD_STATUS= 'B' 
  WHERE NR_RECEBIMENTO = @nr_recebimento AND
    CD_CLIENTE = @cd_cliente AND CD_UNID_NEG = @cd_unid_neg
    AND VL_RECEBIDO > = VL_UTILIZADO

UPDATE TRECEBIMENTO_PROCESSO SET CD_STATUS= 'P' 
  WHERE NR_RECEBIMENTO = @nr_recebimento AND
    CD_CLIENTE = @cd_cliente AND CD_UNID_NEG = @cd_unid_neg
    AND VL_RECEBIDO < VL_UTILIZADO

--FIM DA ATUALIZACAO DO RECEBIMENTO DESEMBARACO



GO
