USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_habilitacao_padrao    Script Date: 02/09/1999 08:58:32 AM ******/
/****** Object:  Stored Procedure dbo.sp_atz_habilitacao_padrao    Script Date: 22/11/1998 11:05:24 ******/
/****** Object:  Stored Procedure dbo.sp_atz_habilitacao_padrao Script Date: 03/10/1998 19:56:48 ******/
CREATE PROCEDURE [sp_atz_habilitacao_padrao] @cd_usuario char(4), @cd_unid_neg char(2), @cd_produto char(2), @in_default char(1) AS
declare @cd_unid   char(2)
declare @cd_prod   char(2)
if @in_default = '1'
begin
  update tusuario_habilitacao set in_default = '0'
    where (cd_usuario  =  @cd_usuario)  and
          not ((cd_unid_neg = @cd_unid_neg) and (cd_produto  = @cd_produto))
  return(0)
end
else
  if (select count(*) from tusuario_habilitacao
      where (cd_usuario = @cd_usuario) and
            not ((cd_unid_neg = @cd_unid_neg) and (cd_produto  = @cd_produto)) and
            (in_default = '1')) = 0
    if (select count(*) from tusuario_habilitacao
        where (cd_usuario = @cd_usuario) and 
              not ((cd_unid_neg = @cd_unid_neg) and (cd_produto  = @cd_produto)) and
              (in_ativo = '1')) = 0
    begin
      /* N'o tem habilitaØ'o Ativa */
      return(1)
    end
    else
    begin
      select @cd_unid = cd_unid_neg, 
             @cd_prod = cd_produto
        from tusuario_habilitacao 
        where (cd_usuario = @cd_usuario) and 
              not ((cd_unid_neg = @cd_unid_neg) and (cd_produto  = @cd_produto)) and
              (in_ativo = '1')
        order by cd_unid_neg desc, cd_produto desc
      update tusuario_habilitacao set in_default = '1'
        where (cd_usuario  =  @cd_usuario) and
              (cd_unid_neg = @cd_unid) and 
              (cd_produto  = @cd_prod)
      return(0)
    end
  else
    return(0)


GO
