USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_calc_arm_padrao]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_item char(3)
DECLARE @Resultado float

SELECT @nr_processo = '0101I0-1495-01'
SELECT @cd_item = '015'
*/

DECLARE @vl_cif_dolar float
DECLARE @vl_cif_mn    float
DECLARE @vl_cif_ton   float
DECLARE @dt_estocagem datetime
DECLARE @dt_hoje      datetime
DECLARE @dt_chegada   datetime
DECLARE @dt_auxiliar  datetime
DECLARE @nr_dias      int
DECLARE @qt_periodo   int
DECLARE @vl_resultado numeric(13,3)
DECLARE @in_sabdom    bit    
DECLARE @in_feriado   bit    
DECLARE @nm_feriado   char(50)
DECLARE @cd_recinto   char(7)
DECLARE @recinto      char(7)
DECLARE @nconta_dias  int    
DECLARE @lControla    bit

DECLARE @periodo       int
DECLARE @dias          int
DECLARE @percent       float
DECLARE @nperc         float

SELECT  @vl_resultado = 0
SELECT  @Resultado    = 0
SELECT  @in_sabdom    = 0
SELECT  @in_feriado   = 0
SELECT  @lControla    = 0
SELECT  @nm_feriado   = ''
SELECT  @cd_recinto   = ''

SELECT @dt_hoje = convert(datetime, convert(char(10), getdate(), 103), 103)

SELECT @dt_chegada = ISNULL( (
    SELECT DT_REALIZACAO
    FROM VW_DT_CHEGADA
    WHERE NR_PROCESSO = @nr_processo ), @dt_hoje)

SELECT @dt_auxiliar = @dt_chegada

IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  SELECT @vl_cif_mn = ISNULL( VL_CIF_MN, 0 )
  FROM  TPROCESSO 
  WHERE ( NR_PROCESSO = @nr_processo )
END
ELSE
BEGIN
  SELECT @vl_cif_mn = ISNULL( VL_MLE_MN, 0 ) + ISNULL( VL_FRETE_MN, 0 ) + ISNULL( VL_SEGURO_MN, 0 )
  FROM   TPREVISAO
  WHERE  ( NR_PROCESSO = @nr_processo )
END

-- Processo nao cadastrado
IF @@rowcount = 0 
    RETURN(1)
ELSE
BEGIN

  -- Quantidade dias completo
  SELECT @nr_dias = DATEDIFF( day, @dt_chegada, @dt_hoje ) + 1

  SELECT @cd_recinto = CD_RECINTO, 
         @in_sabdom = IsNull(IN_SABDOM, 0), 
         @in_feriado = IsNull(IN_FERIADO, 0)
    FROM TARM_REC 
    WHERE (CD_RECINTO = (SELECT CD_RECINTO 
                           FROM TARMAZEM 
		           WHERE CD_ARMAZEM = (SELECT CD_ARMAZEM_ATRACACAO
						 FROM TPROCESSO 
						 WHERE NR_PROCESSO = @nr_processo )))

  IF @in_sabdom = 0 
  BEGIN
    WHILE @dt_auxiliar <= @dt_hoje
    BEGIN
      IF DateName( WeekDay, @dt_auxiliar ) = 'Saturday'
         SELECT @nr_dias = @nr_dias - 1
      IF DateName( WeekDay, @dt_auxiliar ) = 'Sunday'
         SELECT @nr_dias = @nr_dias - 1

      SELECT @dt_auxiliar = @dt_auxiliar + 1
    END
  END

  SELECT @dt_auxiliar = @dt_chegada
  IF @in_feriado = 0
  BEGIN
    WHILE @dt_auxiliar <= @dt_hoje
    BEGIN
      SELECT @nm_feriado = NM_FERIADO FROM TFERIADO WHERE DT_FERIADO = @dt_auxiliar
      IF @nm_feriado <> ''
         SELECT @nr_dias = @nr_dias - 1
      
      SELECT @dt_auxiliar = @dt_auxiliar + 1
    END
  END

  SELECT @nconta_dias = 0
  SELECT @lcontrola   = 0

  DECLARE c_recinto CURSOR FOR
    SELECT CD_RECINTO, NR_PERIODO, QT_DIAS, NR_PERCENT
      FROM TARM_REC_PER
      WHERE CD_RECINTO = @cd_recinto               

  OPEN c_recinto
  FETCH c_recinto INTO @recinto, @periodo, @dias, @percent
  WHILE @@fetch_status <> -1
  BEGIN
    IF @lControla = 0
    BEGIN
      SELECT @nconta_dias = @nconta_dias + @dias

      IF @nconta_dias >= @nr_dias
      BEGIN 
        SELECT @lControla = 1
        SELECT @nperc = @percent   
      END
    END
                  
    FETCH c_recinto INTO @recinto, @periodo, @dias, @percent 
  END

  CLOSE c_recinto
  DEALLOCATE c_recinto

  SELECT @vl_resultado = ( @vl_cif_mn * @nperc / 100 )
  SELECT @Resultado = @vl_resultado

END

RETURN(0)

/*
SELECT @VL_RESULTADO

ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
