USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_cancela_liquidacao] ( @nr_processo char(18), @nr_liquidacao char(6)) AS

DECLARE @vl_liquidacao   numeric(14,2)
DECLARE @tp_liquidacao   char(1)
DECLARE @in_cancelado    char(1)
DECLARE @dt_liquidacao   datetime
DECLARE @cd_item         char(3)
DECLARE @cd_item_pagto   char(3)
DECLARE @cd_item_receb   char(3)
DECLARE @nr_lancamento   char(6)
DECLARE @cd_usuario      char(4)
DECLARE @dt_cancelamento datetime

SELECT @dt_cancelamento = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ) , 103 )

SELECT @cd_usuario = cd_usuario 
FROM   TUSUARIO
WHERE  AP_USUARIO = suser_name()

SELECT @vl_liquidacao = ISNULL( VL_LIQUIDACAO, 0 ),
       @tp_liquidacao = TP_LIQUIDACAO,
       @in_cancelado  = IN_CANCELADO,
       @dt_liquidacao = DT_LIQUIDACAO
FROM   TLIQUIDACAO
WHERE  NR_PROCESSO   = @nr_processo AND
       NR_LIQUIDACAO = @nr_liquidacao

IF @@rowcount = 0
BEGIN
  RETURN(1)
END
ELSE
BEGIN
  SELECT @cd_item_receb = CD_ITEM_RECEB_SD,
         @cd_item_pagto = CD_ITEM_PAGTO_SD
  FROM   TPARAMETROS

  IF @tp_liquidacao = 'P'
    SELECT @cd_item = @cd_item_pagto
  ELSE
    SELECT @cd_item = @cd_item_receb

  SELECT @nr_lancamento = MIN(NR_LANCAMENTO)
  FROM   TFATURAMENTO_CC 
  WHERE  NR_PROCESSO   = @nr_processo    AND
         CD_ITEM       = @cd_item        AND
         VL_ITEM       = @vl_liquidacao  AND
         DT_LANCAMENTO >= @dt_liquidacao AND
         IN_CANCELADO  = '0'
  IF ISNULL( @nr_lancamento, '' ) = ''
     RETURN(2)
  ELSE
  BEGIN
    UPDATE TLIQUIDACAO
    SET    IN_CANCELADO    = '1',
           DT_CANCELAMENTO = @dt_cancelamento,
           CD_CANCELADOR   = @cd_usuario
    WHERE  NR_PROCESSO   = @nr_processo AND
           NR_LIQUIDACAO = @nr_liquidacao

    UPDATE TFATURAMENTO_CC
    SET    IN_CANCELADO    = '1',
           DT_CANCELAMENTO = @dt_cancelamento,
           CD_CANCELADOR   = @cd_usuario
    WHERE  NR_PROCESSO   = @nr_processo AND
           NR_LANCAMENTO = @nr_lancamento
    
    UPDATE TS_FATURA_PROCESSO
    SET    VL_LIQUIDACAO = 0, 
           IN_LIQUIDADO = '0', 
           DT_LIQUIDACAO = NULL
    FROM   TS_FATURA_PROCESSO
    WHERE  NR_PROCESSO = @nr_processo

    UPDATE TS_FATURA
    SET    IN_LIQUIDADO = '0', 
           DT_LIQUIDACAO = NULL,
           VL_LIQUIDACAO = 0     
    FROM   TS_FATURA F, TS_FATURA_PROCESSO FP
    WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
           F.CD_PRODUTO = FP.CD_PRODUTO AND
           F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
           FP.NR_PROCESSO = @nr_processo

    RETURN(0)
  END
END



GO
