USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_di_reclassifica_item]( @nr_processo CHAR(18) , @nr_adicao CHAR(3) OUTPUT, @nr_item CHAR(3) OUTPUT) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo CHAR(18)
DECLARE @nr_adicao CHAR(3)
DECLARE @nr_item CHAR(3)

SELECT @nr_processo = '0701IM-1498-11'
SELECT @nr_adicao   = '026'
SELECT @nr_item     = '001'

--SELECT * FROM TDETALHE_MERCADORIA WHERE NR_PROCESSO = @NR_PROCESSO
--SELECT * FROM TDI_NVE WHERE NR_PROCESSO = @NR_PROCESSO

--*/


DECLARE @nr_proc_nve             CHAR(18)
DECLARE @nr_adic_nve             CHAR(3)
DECLARE @nr_adic_class_nve       CHAR(3)
DECLARE @cd_nivel_item           CHAR(3)
DECLARE @cd_nivel_adic           CHAR(3)
DECLARE @cd_atributo_item        CHAR(2)
DECLARE @cd_atributo_adic        CHAR(2)
DECLARE @cd_especif_item         CHAR(4)
DECLARE @cd_especif_adic         CHAR(4)
DECLARE @tot_item_nve            INT
DECLARE @tot_adic_nve            INT
DECLARE @nr_adicao_atual         CHAR(3) 
DECLARE @nr_adicao_atual2        CHAR(3) 
DECLARE @i_cursor                INT
DECLARE @tot_cursor              INT
DECLARE @fim_adic_nve            BIT
DECLARE @fim_item_nve            BIT
DECLARE @i_adicao                INT
DECLARE @i_item                  INT
DECLARE @i_nr_item               INT
DECLARE @s_adicao                CHAR(3)
DECLARE @s_item                  CHAR(3)
DECLARE @cd_ncm_sh               CHAR(11)
DECLARE @cd_ncm_c8               CHAR(8)
DECLARE @cd_naladi_sh            CHAR(8)
DECLARE @cd_naladi_ncca          CHAR(7)
DECLARE @cd_fabr_expo            CHAR(1)
DECLARE @cd_exportador           CHAR(5)
DECLARE @cd_fabricante           CHAR(5)
DECLARE @cd_pais_origem          CHAR(3)
DECLARE @cd_pais_aquisicao       CHAR(3)
DECLARE @nr_oper_trat_prev       CHAR(10)
DECLARE @cd_local_embarque       CHAR(4)
DECLARE @cd_local_embarque_proc  CHAR(4)
DECLARE @nr_destaque_ncm         CHAR(3)

DECLARE @cd_moeda_negociada      CHAR(3)
DECLARE @in_repassa_dados_adicao BIT
DECLARE @cd_regime_trib_ipi      CHAR(1)
DECLARE @in_repassa_dados_cambio BIT
DECLARE @in_moeda_unica          BIT
DECLARE @nm_empresa1             CHAR(60)
DECLARE @end_empresa1            CHAR(40)
DECLARE @end_numero1             CHAR(6)
DECLARE @end_compl1              CHAR(21)
DECLARE @end_cidade1             CHAR(25)
DECLARE @end_estado1             CHAR(25)
DECLARE @cd_pais1                CHAR(3)
DECLARE @nm_empresa2             CHAR(60)
DECLARE @end_empresa2            CHAR(40)
DECLARE @end_numero2             CHAR(6)
DECLARE @end_compl2              CHAR(21)
DECLARE @end_cidade2             CHAR(25)
DECLARE @end_estado2             CHAR(25)
DECLARE @cd_pais2                CHAR(3)
DECLARE @pc_ii_ncm_str           CHAR(6)
DECLARE @pc_ipi_ncm_str          CHAR(6)
DECLARE @pc_ii_mercosul_str      CHAR(6)
DECLARE @pc_ii_ncm               NUMERIC(5,2)
DECLARE @pc_ipi_ncm              NUMERIC(5,2)
DECLARE @pc_ii_mercosul          NUMERIC(5,2)
DECLARE @in_exclui_adicao        BIT
DECLARE @nr_sequencia            INT
--GUILHERME 24/04/2014
DECLARE @cd_cfop                 CHAR(4)

SELECT @cd_cfop = LEFT(CD_CFOP, 4) 
FROM TDETALHE_MERCADORIA 
WHERE NR_PROCESSO = @nr_processo
  AND NR_ADICAO = @nr_adicao
  AND NR_ITEM = @nr_item

--/*PUXANDO CFOP DO ITEM - FESTO - GUILHERME 14/04/2014
IF ISNULL(@cd_cfop,'') <> ''
BEGIN
  EXEC sp_di_reclassifica_item_2  @nr_processo, @nr_adicao OUTPUT, @nr_item OUTPUT
  RETURN 0
END
--*/


DECLARE @MAX_ITENS_ADICAO        INT
SET @MAX_ITENS_ADICAO = 80

SELECT @pc_ii_ncm         = 0
SELECT @pc_ipi_ncm        = 0
SELECT @pc_ii_mercosul    = 0
SELECT @fim_adic_nve      = 0
SELECT @fim_item_nve      = 0
SELECT @nr_adic_class_nve = ''

DECLARE @qt_total_itens_adicao INT

SELECT @cd_local_embarque_proc = ''
SELECT @cd_local_embarque_proc = CASE D.CD_INCOTERM 
                                     WHEN 'CFR' THEN P.CD_LOCAL_DESEMBARQUE
                                     WHEN 'CPT' THEN P.CD_LOCAL_DESEMBARQUE
                                     WHEN 'DES' THEN P.CD_LOCAL_DESEMBARQUE
                                     WHEN 'CIP' THEN P.CD_LOCAL_DESEMBARQUE
                                     WHEN 'CIF' THEN P.CD_LOCAL_DESEMBARQUE
                                     WHEN 'DDU' THEN P.CD_LOCAL_DESEMBARQUE
                                 ELSE P.CD_LOCAL_EMBARQUE
                                 END
FROM TPROCESSO P, TDECLARACAO_IMPORTACAO D
WHERE D.NR_PROCESSO = @nr_processo
  AND P.NR_PROCESSO = D.NR_PROCESSO

-- Traz os valores da capa da DI para variáveis de trabalho
SELECT @in_repassa_dados_adicao = IN_REPASSA_DADOS_ADICAO,
       @cd_local_embarque       = CD_LOCAL_EMBARQUE,
       @cd_moeda_negociada      = CD_MOEDA_MLE,
       @cd_regime_trib_ipi      = CD_REG_TRIB_IPI,
       @in_repassa_dados_cambio = IN_REPASSA_DADOS_CAMBIO,
       @in_moeda_unica          = IN_MOEDA_UNICA
FROM TDECLARACAO_IMPORTACAO
WHERE NR_PROCESSO = @nr_processo

IF LTRIM( RTRIM( @cd_local_embarque_proc ) ) <> ''
    SELECT @cd_local_embarque = @cd_local_embarque_proc  

SELECT @cd_ncm_sh         = ISNULL( CD_NCM_SH, '' ),
       @cd_ncm_c8         = SUBSTRING( CD_NCM_SH, 1, 8 ),
       @cd_naladi_sh      = ISNULL( CD_NALADI_SH, '' ),
       @cd_naladi_ncca    = ISNULL( CD_NALADI_NCCA, '' ),
       @cd_fabr_expo      = ISNULL( CD_FABR_EXPO, '' ),
       @cd_exportador     = ISNULL( CD_EXPORTADOR, '' ),
       @cd_fabricante     = ISNULL( CD_FABRICANTE, '' ), 
       @cd_pais_origem    = ISNULL( CD_PAIS_ORIGEM, '' ),
       @cd_pais_aquisicao = ISNULL( CD_PAIS_AQUISICAO, '' ),
       @nr_oper_trat_prev = ISNULL( NR_OPER_TRAT_PREV, '' ),
       @nr_destaque_ncm   = ISNULL( NR_DESTAQUE_NCM, '' )
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @nr_processo
  AND NR_ADICAO   = @nr_adicao
  AND NR_ITEM     = @nr_item

SELECT @i_adicao  = COUNT(*) 
FROM TADICAO_DE_IMPORTACAO
WHERE NR_PROCESSO = @nr_processo

SELECT @i_nr_item = COUNT(*) 
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @nr_processo
  AND NR_ADICAO = @nr_adicao

IF (SELECT COUNT(*)
    FROM TADICAO_DE_IMPORTACAO
    WHERE NR_PROCESSO                      = @nr_processo
      AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
      AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
      AND ISNULL( QT_ITENS_ADICAO, 0 ) < @MAX_ITENS_ADICAO) > 0 /* > 1 ==> Leandro 14/05/2002 */
BEGIN
    SELECT @qt_total_itens_adicao = MAX(QT_ITENS_ADICAO),
           @nr_adicao_atual = NR_ADICAO
    FROM TADICAO_DE_IMPORTACAO 
    WHERE NR_PROCESSO                      = @nr_processo
      AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
      AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
      AND ISNULL( QT_ITENS_ADICAO, 0 ) < @MAX_ITENS_ADICAO
    GROUP BY NR_ADICAO,QT_ITENS_ADICAO  

    DECLARE c_adicao_class CURSOR FOR 
        SELECT NR_ADICAO 
        FROM TADICAO_DE_IMPORTACAO 
        WHERE NR_PROCESSO                      = @nr_processo
          AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
          AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
          AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
          AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
          AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
          AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
          AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
          AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
          AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
          AND ISNULL( NR_ADICAO, '')           = @nr_adicao_atual
          AND ISNULL( QT_ITENS_ADICAO, 0 )     < @MAX_ITENS_ADICAO
        ORDER BY NR_PROCESSO, NR_ADICAO

    SELECT @tot_cursor = COUNT(*)
    FROM TADICAO_DE_IMPORTACAO 
    WHERE NR_PROCESSO                      = @nr_processo
      AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
      AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
      AND ISNULL( NR_ADICAO, '')           = @nr_adicao_atual
      AND ISNULL( QT_ITENS_ADICAO, 0 )     < @MAX_ITENS_ADICAO
END
ELSE
BEGIN
    SELECT @nr_adicao_atual = MIN(NR_ADICAO)
    FROM TADICAO_DE_IMPORTACAO 
    WHERE NR_PROCESSO                      = @nr_processo
      AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
      AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
      AND ISNULL( QT_ITENS_ADICAO, 0 )     < @MAX_ITENS_ADICAO

    DECLARE c_adicao_class CURSOR FOR 
        SELECT NR_ADICAO 
        FROM TADICAO_DE_IMPORTACAO 
        WHERE NR_PROCESSO                      = @nr_processo
          AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
          AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
          AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
          AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
          AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
          AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
          AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
          AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
          AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
          AND ISNULL( QT_ITENS_ADICAO, 0 )     < @MAX_ITENS_ADICAO
        ORDER BY NR_PROCESSO, NR_ADICAO

    SELECT @tot_cursor = COUNT(*)
    FROM TADICAO_DE_IMPORTACAO 
    WHERE NR_PROCESSO                      = @nr_processo
      AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
      AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
      AND ISNULL( QT_ITENS_ADICAO, 0 )     < @MAX_ITENS_ADICAO
END

SELECT @i_cursor = 0

OPEN c_adicao_class
FETCH c_adicao_class INTO @nr_adicao_atual
WHILE @i_cursor <> @tot_cursor
BEGIN
    IF @nr_adicao_atual IS NOT NULL
    BEGIN
        /* Procura Adição com NVE correspondente */
        IF EXISTS (SELECT * 
                   FROM TDI_NVE 
                   WHERE NR_PROCESSO = @nr_processo
                     AND NR_ADICAO = @nr_adicao
                     AND NR_ITEM = @nr_item)
        BEGIN
            DECLARE c_adicao_re CURSOR FOR
                SELECT NR_ADICAO
                FROM TVALORACAO_NCM 
                WHERE NR_PROCESSO = @nr_processo
                ORDER BY NR_PROCESSO, NR_ADICAO

            OPEN  c_adicao_re

            FETCH c_adicao_re INTO @nr_adic_nve

            WHILE @@fetch_status <> -1
            BEGIN
                SELECT @tot_item_nve = COUNT(*)
                FROM TDI_NVE
                WHERE NR_PROCESSO = @nr_processo
                  AND NR_ADICAO = @nr_adicao_atual
                  AND NR_ITEM = @nr_item

                SELECT @tot_adic_nve = COUNT(*)
                FROM TVALORACAO_NCM
                WHERE NR_PROCESSO = @nr_processo
                  AND NR_ADICAO = @nr_adic_nve

                IF @tot_item_nve = @tot_adic_nve
                BEGIN
                    IF @nr_adic_class_nve = ''
                    BEGIN
                        SELECT @fim_adic_nve = 0
                        SELECT @fim_item_nve = 0

                        DECLARE c_adic_nve CURSOR FOR 
                            SELECT ISNULL( CD_NIVEL_NVE, ''), ISNULL( CD_ATRIBUTO_NCM, ''), ISNULL( CD_ESPECIF_NCM, '')
                            FROM TVALORACAO_NCM
                            WHERE NR_PROCESSO = @nr_processo
                              AND NR_ADICAO = @nr_adic_nve
                            ORDER BY NR_PROCESSO, NR_ADICAO, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM

                        DECLARE c_item_nve CURSOR FOR
                            SELECT ISNULL( CD_NIVEL_NVE, ''), ISNULL( CD_ATRIBUTO_NCM, ''), ISNULL( CD_ESPECIF_NCM, '')
                            FROM TDI_NVE
                            WHERE NR_PROCESSO = @nr_processo
                              AND NR_ADICAO = @nr_adicao
                              AND NR_ITEM = @nr_item
                            ORDER BY NR_PROCESSO, NR_ADICAO, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM

                        OPEN  c_adic_nve
                        OPEN  c_item_nve

                        FETCH c_adic_nve INTO @cd_nivel_adic, @cd_atributo_adic, @cd_especif_adic
                        IF @@fetch_status = -1
                            SELECT @fim_adic_nve = 1
 
                        FETCH c_item_nve INTO @cd_nivel_item, @cd_atributo_item, @cd_especif_item
                        IF @@fetch_status = -1
                            SELECT @fim_adic_nve = 1

                        WHILE @fim_adic_nve = @fim_item_nve
                        BEGIN
                            -- Comparações          
                            IF (@cd_nivel_adic = @cd_nivel_item) AND (@cd_atributo_adic = @cd_atributo_item) AND (@cd_especif_adic  = @cd_especif_item)
                                SELECT @nr_adic_class_nve = ISNULL( @nr_adic_nve, '' )
                            ELSE
                                SELECT @nr_adic_class_nve = ''

                            FETCH c_adic_nve INTO @cd_nivel_adic, @cd_atributo_adic, @cd_especif_adic
                            IF @@fetch_status = -1
                                SELECT @fim_adic_nve = 1

                            FETCH c_item_nve INTO @cd_nivel_item, @cd_atributo_item, @cd_especif_item
                            IF @@fetch_status = -1
                                SELECT @fim_adic_nve = 1
                        END

                        CLOSE c_adic_nve
                        DEALLOCATE c_adic_nve

                        CLOSE c_item_nve
                        DEALLOCATE c_item_nve
                    END -- @nr_adic_class_nve = ''
                END -- @tot_item_nve = @tot_adic_nve

                FETCH c_adicao_re INTO @nr_adic_nve
            END -- c_adicao_re

            CLOSE c_adicao_re
            DEALLOCATE c_adicao_re
        END
        ELSE   -- Exists TDI_NVE
        BEGIN
            IF NOT EXISTS(SELECT NR_ADICAO
                          FROM   TVALORACAO_NCM 
                          WHERE  NR_PROCESSO = @nr_processo
                            AND NR_ADICAO = @nr_adicao_atual)
            BEGIN
                IF @nr_adic_class_nve = ''
                    SELECT @nr_adic_class_nve = ISNULL( @nr_adicao_atual, '' )
            END
        END
    END

    FETCH c_adicao_class INTO @nr_adicao_atual
    SELECT @i_cursor = @i_cursor + 1
END -- c_adicao_class

CLOSE c_adicao_class
DEALLOCATE c_adicao_class

IF (SELECT COUNT(*)  
    FROM TADICAO_DE_IMPORTACAO 
    WHERE NR_PROCESSO                      = @nr_processo
      AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
      AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
      AND ISNULL( QT_ITENS_ADICAO, 0 )     < @MAX_ITENS_ADICAO) > 0 /* > 1 Leandro 14/05/2002 */
BEGIN
    SELECT @qt_total_itens_adicao = MAX(QT_ITENS_ADICAO),
           @nr_adicao_atual = NR_ADICAO
    FROM TADICAO_DE_IMPORTACAO 
    WHERE NR_PROCESSO                        = @nr_processo
      AND ISNULL( CD_MERCADORIA_NCM, '' )    = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH, '' )    = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC, '' )   = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR, '' )        = @cd_exportador
      AND ISNULL( CD_FABRICANTE, '' )        = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC, '' )    = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC, '' )   = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV, '' )    = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM, '' )      = @nr_destaque_ncm
      AND ISNULL( QT_ITENS_ADICAO, 0 )       < @MAX_ITENS_ADICAO
    GROUP BY NR_ADICAO,QT_ITENS_ADICAO  
END
ELSE
BEGIN
    SELECT @nr_adicao_atual = MIN(NR_ADICAO)
    FROM TADICAO_DE_IMPORTACAO 
    WHERE NR_PROCESSO        = @nr_processo
      AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
      AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
      AND ISNULL( QT_ITENS_ADICAO, 0 ) < @MAX_ITENS_ADICAO
END

IF ( @nr_adicao_atual IS NOT NULL  AND ( @nr_adic_class_nve = '' ) ) OR 
   ( @nr_adic_class_nve = '' ) 
BEGIN 
    -- Gera uma Nova Adicao
    SELECT @pc_ii_ncm_str      = ALIQUOTA_II,
           @pc_ipi_ncm_str     = ALIQUOTA_IPI,
           @pc_ii_mercosul_str = ALIQUOTA_II_MERCOSUL
    FROM TNCM
    WHERE CODIGO = @cd_ncm_c8
    --WHERE  CODIGO = @cd_ncm_sh

    IF @pc_ii_ncm_str      IN ('NT', '') SELECT @pc_ii_ncm_str      = '000,00'
    IF @pc_ipi_ncm_str     IN ('NT', '') SELECT @pc_ipi_ncm_str     = '000,00'
    IF @pc_ii_mercosul_str IN ('NT', '') SELECT @pc_ii_mercosul_str = '000,00'

    SELECT @pc_ii_ncm      = CONVERT( NUMERIC(5,2), ( REPLACE( @pc_ii_ncm_str, ',', '.' ) ) )
    SELECT @pc_ipi_ncm     = CONVERT( NUMERIC(5,2), ( REPLACE( @pc_ipi_ncm_str, ',', '.' ) ) )
    SELECT @pc_ii_mercosul = CONVERT( NUMERIC(5,2), ( REPLACE( @pc_ii_mercosul_str, ',', '.' ) ) )

    SELECT @nm_empresa1  = ISNULL( NM_EMPRESA,  SPACE(60) ),
           @end_empresa1 = ISNULL( END_EMPRESA, SPACE(40) ),
           @end_numero1  = ISNULL( END_NUMERO,  SPACE(6) ),
           @end_compl1   = ISNULL( END_COMPL,   SPACE(21) ),
           @end_cidade1  = ISNULL( END_CIDADE,  SPACE(25) ), 
           @end_estado1  = ISNULL( END_ESTADO,  SPACE(25) ), 
           @cd_pais1     = ISNULL( CD_PAIS,     SPACE(3) ) 
    FROM TEMPRESA_EST 
    WHERE CD_EMPRESA = @cd_exportador

    SELECT @nm_empresa2  = ISNULL( NM_EMPRESA,  SPACE(60) ),
           @end_empresa2 = ISNULL( END_EMPRESA, SPACE(40) ),
           @end_numero2  = ISNULL( END_NUMERO,  SPACE(6) ),
           @end_compl2  = ISNULL( END_COMPL,   SPACE(21) ),
           @end_cidade2  = ISNULL( END_CIDADE,  SPACE(25) ), 
           @end_estado2  = ISNULL( END_ESTADO,  SPACE(25) ), 
           @cd_pais2     = ISNULL( CD_PAIS,     SPACE(3) ) 
    FROM TEMPRESA_EST 
    WHERE CD_EMPRESA = @cd_fabricante

    IF @i_nr_item <> 1      /* Tratamento para reclassificacao de item nao único na adicao */
    BEGIN
        SELECT @s_adicao = CONVERT( CHAR(3), (@i_adicao + 1) )
        SELECT @s_adicao = RIGHT( ( '000' + RTRIM( @s_adicao ) ), 3 )

        INSERT INTO TADICAO_DE_IMPORTACAO (NR_PROCESSO,             NR_ADICAO,               CD_MERCADORIA_NCM,       CD_MERC_NBM_SH,          
                                           CD_NCM_SH,               CD_MERC_NALADI_SH,       CD_MERC_NALADI_NCC,      CD_AUSENCIA_FABRIC,      
                                           CD_FORNECEDOR,           CD_FABRICANTE,           CD_PAIS_ORIG_MERC,       CD_PAIS_AQUIS_MERC,      
                                           NM_FORN_ESTR,            ED_LOGR_FORN_ESTR,       ED_NR_FORN_ESTR,         ED_COMPL_FORN_ESTR,      
                                           ED_CIDAD_FORN_ESTR,      ED_ESTAD_FORN_ESTR,      NM_FABRICANTE_MERC,      ED_LOGR_FABRIC,          
                                           ED_NR_FABRIC,            ED_COMPL_FABRIC,         ED_CIDAD_FABRIC,         ED_ESTADO_FABRIC,        
                                           QT_ITENS_ADICAO,         CD_LOC_COND_VENDA,       CD_MOEDA_NEGOCIADA,      NR_OPER_TRAT_PREV,
                                           NR_DESTAQUE_NCM ) 
        VALUES(@nr_processo,            @s_adicao,               @cd_ncm_sh,              @cd_ncm_c8,              
               @cd_ncm_c8,              @cd_naladi_sh,           @cd_naladi_ncca,         @cd_fabr_expo,           
               @cd_exportador,          @cd_fabricante,          @cd_pais_origem,         @cd_pais_aquisicao,      
               @nm_empresa1,            @end_empresa1,           @end_numero1,            @end_compl1,             
               @end_cidade1,            @end_estado1,            @nm_empresa2,            @end_empresa2,           
               @end_numero2,            @end_compl2,             @end_cidade2,            @end_estado2,            
               --1,                       @cd_local_embarque,      @cd_moeda_negociada,     @nr_oper_trat_prev,
               -- Comendado acima e utilizando abaixo a pedido da Andrea Alves - Michel - 20/02/2013
               1,                       NULL,                    @cd_moeda_negociada,     @nr_oper_trat_prev,
               @nr_destaque_ncm)

        SELECT @s_item = '001'

        UPDATE TDETALHE_MERCADORIA 
        SET NR_ADICAO = @s_adicao, 
            NR_ITEM   = @s_item, 
            CD_NCM_SH = @cd_ncm_sh
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao
          AND NR_ITEM = @nr_item

        --EXEC sp_di_repassa_dados_adicao @nr_processo
        --EXEC sp_di_repassa_dados_cambio @nr_processo
        -- As Linhas acima foram repassadas para o final da procedure, pois quando havia apenas um item não estava repassando - Michel - 23/10/2012

        UPDATE TDECLARACAO_IMPORTACAO 
        SET qt_adicoes = @i_adicao + 1 
        WHERE NR_PROCESSO = @nr_processo

        IF @in_moeda_unica = 1
        BEGIN
            UPDATE TADICAO_DE_IMPORTACAO
            SET CD_MOEDA_NEGOCIADA = ISNULL( @cd_moeda_negociada, CD_MOEDA_NEGOCIADA )
            WHERE NR_PROCESSO = @nr_processo
              AND NR_ADICAO = @s_adicao
        END

        IF NOT EXISTS(SELECT NR_PROCESSO, NR_ADICAO 
                      FROM TRIBUTO 
                      WHERE NR_PROCESSO = @nr_processo
                        AND NR_ADICAO = @s_adicao
                        AND CD_RECEITA_IMPOSTO = '0001')
            INSERT INTO TRIBUTO(NR_PROCESSO,  NR_ADICAO, CD_RECEITA_IMPOSTO, CD_TIPO_ALIQ_IPT, PC_ALIQ_NORM_ADVAL)
            VALUES(@nr_processo, @s_adicao, '0001', '1', ISNULL( @pc_ii_ncm, 0 ))

        IF NOT EXISTS(SELECT NR_PROCESSO, NR_ADICAO 
                      FROM TRIBUTO 
                      WHERE NR_PROCESSO = @nr_processo
                        AND NR_ADICAO = @s_adicao
                        AND CD_RECEITA_IMPOSTO = '0002')
            INSERT INTO TRIBUTO(NR_PROCESSO,  NR_ADICAO, CD_RECEITA_IMPOSTO, CD_TIPO_ALIQ_IPT, PC_ALIQ_NORM_ADVAL, CD_TIPO_BENEF_IPI)
            VALUES(@nr_processo, @s_adicao, '0002', '1', ISNULL( @pc_ipi_ncm, 0 ), @cd_regime_trib_ipi)

        IF NOT EXISTS(SELECT NR_PROCESSO, NR_ADICAO 
                      FROM TDESTAQUE_NCM 
                      WHERE NR_PROCESSO = @nr_processo
                        AND NR_ADICAO = @s_adicao)
            AND @nr_destaque_ncm <> ''
        BEGIN
            SELECT @nr_sequencia = ISNULL((SELECT MAX( NR_SEQUENCIA ) 
                                           FROM   TDESTAQUE_NCM
                                           WHERE  NR_PROCESSO = @nr_processo
                                             AND NR_ADICAO    = @s_adicao), 0) + 1 
            INSERT INTO TDESTAQUE_NCM ( NR_PROCESSO,  NR_ADICAO, NR_SEQUENCIA,  NR_DESTAQUE_NCM ) 
            VALUES( @nr_processo, @s_adicao, @nr_sequencia, @nr_destaque_ncm )  
        END
    
        --N.V.E.
        IF NOT EXISTS(SELECT NR_PROCESSO, NR_ADICAO 
                      FROM TVALORACAO_NCM 
                      WHERE NR_PROCESSO = @nr_processo
                        AND NR_ADICAO = @s_adicao) 
            INSERT INTO TVALORACAO_NCM
            SELECT NR_PROCESSO, @s_adicao, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM
            FROM TDI_NVE
            WHERE NR_PROCESSO = @nr_processo
              AND NR_ADICAO = @nr_adicao
              AND NR_ITEM = @nr_item
        UPDATE TDI_NVE 
        SET NR_ADICAO = @s_adicao, 
            NR_ITEM = @s_item
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao
          AND NR_ITEM = @nr_item

        EXECUTE sp_di_renumera_itens_adicao @nr_processo, @nr_adicao
    END
    ELSE                    /* Tratamento para reclassificacao de item único na adicao */
    BEGIN
        --N.V.E.
        DELETE TVALORACAO_NCM
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO   = @nr_adicao

        INSERT INTO TVALORACAO_NCM
        SELECT NR_PROCESSO, NR_ADICAO, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM
        FROM TDI_NVE
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao
          AND NR_ITEM = @nr_item

        UPDATE TADICAO_DE_IMPORTACAO 
        SET CD_MERCADORIA_NCM  = ISNULL( @cd_ncm_sh, CD_MERCADORIA_NCM ),
            CD_MERC_NBM_SH     = ISNULL( @cd_ncm_c8, CD_MERC_NBM_SH ),
            CD_NCM_SH          = ISNULL( @cd_ncm_c8, SUBSTRING(CD_NCM_SH,1,8) ),
            CD_MERC_NALADI_SH  = ISNULL( @cd_naladi_sh, CD_MERC_NALADI_SH ),
            CD_MERC_NALADI_NCC = ISNULL( @cd_naladi_ncca, CD_MERC_NALADI_NCC ),
            CD_AUSENCIA_FABRIC = ISNULL( @cd_fabr_expo, CD_AUSENCIA_FABRIC ),           
            CD_FORNECEDOR      = ISNULL( @cd_exportador, CD_FORNECEDOR ),
            NM_FORN_ESTR       = ISNULL( @nm_empresa1, NM_FORN_ESTR ),                        
            ED_LOGR_FORN_ESTR  = ISNULL( @end_empresa1, ED_LOGR_FORN_ESTR ), 
            ED_NR_FORN_ESTR    = ISNULL( @end_numero1, ED_NR_FORN_ESTR ),                     
            ED_COMPL_FORN_ESTR = ISNULL( @end_compl1, ED_COMPL_FORN_ESTR ),                 
            ED_CIDAD_FORN_ESTR = ISNULL( @end_cidade1, ED_CIDAD_FORN_ESTR ),            
            ED_ESTAD_FORN_ESTR = ISNULL( @end_estado1, ED_ESTAD_FORN_ESTR ), 
            CD_FABRICANTE      = ISNULL( @cd_fabricante, CD_FABRICANTE ),
            NM_FABRICANTE_MERC = ISNULL( @nm_empresa2, NM_FABRICANTE_MERC ),            
            ED_LOGR_FABRIC     = ISNULL( @end_empresa2, ED_LOGR_FABRIC ),           
            ED_NR_FABRIC       = ISNULL( @end_numero2, ED_NR_FABRIC ),            
            ED_COMPL_FABRIC    = ISNULL( @end_compl2, ED_COMPL_FABRIC ),
            ED_CIDAD_FABRIC    = ISNULL( @end_cidade2, ED_CIDAD_FABRIC ),                
            ED_ESTADO_FABRIC   = ISNULL( @end_estado2, ED_ESTADO_FABRIC ),                
            CD_PAIS_ORIG_MERC  = ISNULL( @cd_pais_origem, CD_PAIS_ORIG_MERC ),
            CD_PAIS_AQUIS_MERC = ISNULL( @cd_pais_aquisicao, CD_PAIS_AQUIS_MERC ),
            NR_OPER_TRAT_PREV  = ISNULL( @nr_oper_trat_prev, NR_OPER_TRAT_PREV ),
            --CD_LOC_COND_VENDA  = ISNULL( @cd_local_embarque, CD_LOC_COND_VENDA ), Comentado a pedido de Andrea Alves - Michel - 20/02/2013
            NR_DESTAQUE_NCM    = ISNULL( @nr_destaque_ncm, NR_DESTAQUE_NCM ),
            QT_ITENS_ADICAO    = 1 
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adicao
    END
ENDELSE
BEGIN
    SELECT @in_exclui_adicao = 0

    SELECT @i_item = QT_ITENS_ADICAO 
    FROM TADICAO_DE_IMPORTACAO
    WHERE NR_PROCESSO =  @nr_processo
      AND NR_ADICAO   =  @nr_adic_class_nve

    --IF @nr_adicao <> @nr_adic_class_nve
    IF (@nr_adicao <> @nr_adic_class_nve) AND
        (SELECT COUNT(*)  
         FROM TADICAO_DE_IMPORTACAO 
         WHERE NR_PROCESSO                      = @nr_processo
           AND NR_ADICAO                        = @nr_adic_class_nve
           AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
           AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
           AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
           AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
           AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
           AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
           AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
           AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
           AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
           AND ISNULL( QT_ITENS_ADICAO, 0 ) < @MAX_ITENS_ADICAO) > 0
    BEGIN
        IF @i_nr_item <> 1
        BEGIN
            UPDATE TADICAO_DE_IMPORTACAO 
            SET QT_ITENS_ADICAO = qt_itens_adicao - 1
            WHERE NR_PROCESSO = @nr_processo
              AND NR_ADICAO = @nr_adicao
        END
        ELSE
        BEGIN
            SELECT @in_exclui_adicao = 1
            UPDATE TDECLARACAO_IMPORTACAO            SET QT_ADICOES = QT_ADICOES - 1
            WHERE NR_PROCESSO = @nr_processo
        END

        IF @i_item IS NOT NULL
            SELECT @i_item = @i_item + 1
        ELSE
            SELECT @i_item = 1

        SELECT @s_item = CONVERT( CHAR(3), @i_item ) 
        SELECT @s_item = RIGHT( ( '000' + RTRIM( @s_item ) ), 3 )

        UPDATE TADICAO_DE_IMPORTACAO 
        SET QT_ITENS_ADICAO = @i_item
        WHERE NR_PROCESSO = @nr_processo
          AND NR_ADICAO = @nr_adic_class_nve
    END
    ELSE
    BEGIN
        SELECT @s_item = @nr_item
        SELECT @nr_adic_class_nve = @nr_adicao
    END

    UPDATE TDETALHE_MERCADORIA 
    SET NR_ADICAO = @nr_adic_class_nve, 
        NR_ITEM = @s_item, 
        CD_NCM_SH = @cd_ncm_sh
    WHERE NR_PROCESSO = @nr_processo
      AND NR_ADICAO = @nr_adicao
      AND NR_ITEM = @nr_item

    UPDATE TDI_NVE 
    SET NR_ADICAO = @nr_adic_class_nve,
        NR_ITEM = @s_item
    WHERE NR_PROCESSO = @nr_processo
      AND NR_ADICAO = @nr_adicao
      AND NR_ITEM = @nr_item

    IF @in_exclui_adicao = 1
        EXECUTE sp_exclui_adicao @nr_processo, @nr_adicao

    EXECUTE sp_di_renumera_itens_adicao @nr_processo, @nr_adicao
END

DECLARE @nTotalAdicaoComDis INT    
DECLARE @nTotalAdicaoSemDis INT    

SELECT @nTotalAdicaoSemDis = COUNT(*)
FROM TADICAO_DE_IMPORTACAO 
WHERE NR_PROCESSO = @nr_processo  

SELECT @nTotalAdicaoComDis = COUNT(DISTINCT(CD_MERCADORIA_NCM+cD_MERCADORIA_NCM+CD_MERC_NALADI_SH+CD_MERC_NALADI_NCC+CD_FORNECEDOR+CD_FABRICANTE+CD_PAIS_ORIG_MERC+CD_PAIS_AQUIS_MERC+NR_OPER_TRAT_PREV+NR_DESTAQUE_NCM ) )
FROM TADICAO_DE_IMPORTACAO
WHERE NR_PROCESSO = @nr_processo

IF @nTotalAdicaoComDis <> @nTotalAdicaoSemDis
BEGIN
    DECLARE @nr_adicao2          CHAR(3)
    DECLARE @cd_mercadoria_ncm2  CHAR(11)
    DECLARE @cd_merc_naladi_sh2  CHAR(8)
    DECLARE @cd_merc_naladi_ncc2 CHAR(7)
    DECLARE @cd_fornecedor2      CHAR(5)
    DECLARE @cd_fabricante2      CHAR(5)
    DECLARE @cd_pais_orig_merc2  CHAR(3)
    DECLARE @cd_pais_aquis_merc2 CHAR(3)
    DECLARE @nr_oper_trat_prev2  CHAR(10)
    DECLARE @nr_destaque_ncm2    CHAR(3)
    DECLARE @nves                VARCHAR(4000)

    DECLARE c_Adicao_Verif CURSOR FOR
        SELECT AI.CD_MERCADORIA_NCM,
               AI.CD_MERC_NALADI_SH,
               AI.CD_MERC_NALADI_NCC,
               AI.CD_FORNECEDOR,
               AI.CD_FABRICANTE,
               AI.CD_PAIS_ORIG_MERC,
               AI.CD_PAIS_AQUIS_MERC,
               AI.NR_OPER_TRAT_PREV,
               AI.NR_DESTAQUE_NCM,
               (SELECT MASTER.DBO.ROWCONCAT(DISTINCT ISNULL(NVE.CD_NIVEL_NVE, '') + ISNULL(NVE.CD_ATRIBUTO_NCM, '') + ISNULL(NVE.CD_ESPECIF_NCM, '') + ISNULL(NVE.CD_NCM_ATRIBUTO, '') + ISNULL(NVE.CD_NCM_ESPECIF, ''))
                FROM TDI_NVE NVE
                WHERE NVE.NR_PROCESSO = AI.NR_PROCESSO
                  AND NVE.NR_ADICAO   = AI.NR_ADICAO)
        FROM TADICAO_DE_IMPORTACAO AI
        WHERE AI.NR_PROCESSO = @nr_processo
          AND AI.QT_ITENS_ADICAO < @MAX_ITENS_ADICAO
        GROUP BY AI.NR_PROCESSO,
                 AI.NR_ADICAO,
                 AI.CD_MERCADORIA_NCM,
                 AI.CD_MERC_NALADI_SH,
                 AI.CD_MERC_NALADI_NCC,
                 AI.CD_FORNECEDOR,
                 AI.CD_FABRICANTE,
                 AI.CD_PAIS_ORIG_MERC,
                 AI.CD_PAIS_AQUIS_MERC,
                 AI.NR_OPER_TRAT_PREV,
                 AI.NR_DESTAQUE_NCM
        HAVING COUNT(ISNULL(AI.CD_MERCADORIA_NCM, '') + ISNULL(AI.CD_MERC_NALADI_SH, '') + ISNULL(AI.CD_MERC_NALADI_NCC, '') + ISNULL(AI.CD_FORNECEDOR, '') +
                     ISNULL(AI.CD_FABRICANTE, '') + ISNULL(AI.CD_PAIS_ORIG_MERC, '') + ISNULL(AI.CD_PAIS_AQUIS_MERC, '') + ISNULL(AI.NR_OPER_TRAT_PREV, '') +
                     ISNULL(AI.NR_DESTAQUE_NCM, '')) > 0 /* > 1 Leandro 14/05/2002 */

    OPEN c_Adicao_Verif
    FETCH c_Adicao_Verif INTO @cd_mercadoria_ncm2, @cd_merc_naladi_sh2, @cd_merc_naladi_ncc2, @cd_fornecedor2, @cd_fabricante2, @cd_pais_orig_merc2, @cd_pais_aquis_merc2, @nr_oper_trat_prev2, @nr_destaque_ncm2, @nves
    WHILE @@fetch_status <> -1
    BEGIN
        DECLARE c_Adicao_Item CURSOR FOR
            SELECT A.NR_ADICAO, B.NR_ITEM
            FROM TADICAO_DE_IMPORTACAO A, TDETALHE_MERCADORIA B
            WHERE A.NR_PROCESSO                      = @nr_processo
              AND A.NR_PROCESSO                      = B.NR_PROCESSO
              AND A.NR_ADICAO                        = B.NR_ADICAO
              AND ISNULL( A.CD_MERCADORIA_NCM, '' )  = @cd_mercadoria_ncm2
              AND ISNULL( A.CD_MERC_NALADI_SH, '' )  = @cd_merc_naladi_sh2
              AND ISNULL( A.CD_MERC_NALADI_NCC, '' ) = @cd_merc_naladi_ncc2
              AND ISNULL( A.CD_FORNECEDOR, '' )      = @cd_fornecedor2
              AND ISNULL( A.CD_FABRICANTE, '' )      = @cd_fabricante2
              AND ISNULL( A.CD_PAIS_ORIG_MERC, '' )  = @cd_pais_orig_merc2
              AND ISNULL( A.CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquis_merc2
              AND ISNULL( A.NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev2
              AND ISNULL( A.NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm2
              AND ISNULL( A.QT_ITENS_ADICAO, 0 )     < @MAX_ITENS_ADICAO
              AND ISNULL((SELECT MASTER.DBO.ROWCONCAT(DISTINCT ISNULL(NVE.CD_NIVEL_NVE, '') + ISNULL(NVE.CD_ATRIBUTO_NCM, '') + ISNULL(NVE.CD_ESPECIF_NCM, '') + ISNULL(NVE.CD_NCM_ATRIBUTO, '') + ISNULL(NVE.CD_NCM_ESPECIF, ''))
                          FROM TDI_NVE NVE
                          WHERE NVE.NR_PROCESSO = B.NR_PROCESSO
                            AND NVE.NR_ADICAO   = B.NR_ADICAO
                            AND NVE.NR_ITEM     = B.NR_ITEM), '') = ISNULL(@nves, '')
            ORDER BY B.NR_PROCESSO, B.NR_ADICAO, B.NR_ITEM

        DECLARE @nr_adicao_79 CHAR(3)
        DECLARE @cAdicao_79   CHAR(3)
        DECLARE @nr_item_79   CHAR(3)
        DECLARE @nSoma        INT        
        DECLARE @cSoma        CHAR(3)

        SELECT @nr_adicao_79 = ''
        SELECT @cAdicao_79   = ''
        SELECT @nr_item_79   = ''
        SELECT @nSoma        = @MAX_ITENS_ADICAO + 1
        SELECT @cSoma        = ''
  
        OPEN c_Adicao_Item
        FETCH c_Adicao_Item INTO @nr_adicao_79, @nr_item_79
        WHILE @@fetch_status <> -1
        BEGIN
            IF @nSoma = @MAX_ITENS_ADICAO + 1
            BEGIN
                SELECT @nSoma = 1
            END
            IF @nSoma = 1 
            BEGIN
                SELECT @cAdicao_79 = @nr_adicao_79
            END

            SELECT @cSoma = CONVERT( CHAR(3), @nSoma ) 
            SELECT @cSoma = RIGHT( ( '000' + RTRIM( @cSoma ) ), 3 )
            
            UPDATE TDETALHE_MERCADORIA 
            SET NR_ITEM = @cSoma,
                NR_ADICAO = @cAdicao_79
            FROM TDETALHE_MERCADORIA
            WHERE NR_PROCESSO = @nr_processo
              AND NR_ADICAO   = @nr_adicao_79
              AND NR_ITEM     = @nr_item_79

            -- Atualiza o NVE também, pois antes não alterava e apagava no final quando excluia a Adição - Michel - 31/08/2010
            UPDATE TDI_NVE
            SET NR_ITEM   = @cSoma,
                NR_ADICAO = @cAdicao_79
            WHERE NR_PROCESSO = @nr_processo
              AND NR_ADICAO   = @nr_adicao_79
              AND NR_ITEM     = @nr_item_79
       
            SELECT @nSoma = @nSoma + 1
  
            FETCH c_Adicao_item INTO @nr_adicao_79, @nr_item_79
        END
        CLOSE c_Adicao_Item
        DEALLOCATE c_Adicao_Item

        DECLARE c_Adicao_Item CURSOR FOR
            SELECT NR_ADICAO
            FROM   TADICAO_DE_IMPORTACAO
            WHERE NR_PROCESSO                      = @nr_processo
              AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_mercadoria_ncm2
              AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_merc_naladi_sh2
              AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_merc_naladi_ncc2
              AND ISNULL( CD_FORNECEDOR, '' )      = @cd_fornecedor2
              AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante2
              AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_orig_merc2
              AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquis_merc2
              AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev2
              AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm2
            ORDER BY NR_PROCESSO,NR_ADICAO

        OPEN c_Adicao_Item
        FETCH c_Adicao_Item INTO @nr_adicao_79
        WHILE @@fetch_status <> -1
        BEGIN
            IF (SELECT COUNT(*)
                FROM TDETALHE_MERCADORIA 
                WHERE NR_PROCESSO = @nr_processo
                  AND NR_ADICAO = @nr_adicao_79 ) > 0
            BEGIN
                SELECT @nSoma = COUNT(*)
                FROM TDETALHE_MERCADORIA 
                WHERE NR_PROCESSO = @nr_processo
                  AND NR_ADICAO = @nr_adicao_79
  
                UPDATE TADICAO_DE_IMPORTACAO  
                SET QT_ITENS_ADICAO = @nSoma
                FROM TADICAO_DE_IMPORTACAO
                WHERE NR_PROCESSO = @nr_processo
                  AND NR_ADICAO = @nr_adicao_79
            END
            ELSE
            BEGIN
                EXECUTE sp_exclui_adicao @nr_processo, @nr_adicao_79
            END
      
            FETCH c_Adicao_item INTO @nr_adicao_79
        END
        CLOSE c_Adicao_Item
        DEALLOCATE c_Adicao_Item

        FETCH c_Adicao_Verif INTO @cd_mercadoria_ncm2, @cd_merc_naladi_sh2, @cd_merc_naladi_ncc2, @cd_fornecedor2, 
                                  @cd_fabricante2, @cd_pais_orig_merc2, @cd_pais_aquis_merc2, @nr_oper_trat_prev2, 
                                  @nr_destaque_ncm2, @nves
    END
    CLOSE c_Adicao_Verif
    DEALLOCATE c_Adicao_Verif

    SELECT @s_adicao = NR_ADICAO 
    FROM TADICAO_DE_IMPORTACAO
    WHERE NR_PROCESSO                       = @nr_processo
      AND NR_ADICAO                         <> @nr_adicao
      AND ISNULL( CD_MERCADORIA_NCM,  '' )  = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH,  '' )  = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC,  '' ) = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR,  '' )      = @cd_exportador
      AND ISNULL( CD_FABRICANTE,  '' )      = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC,  '' )  = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC,  '' ) = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV,  '' )  = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM,  '' )    = @nr_destaque_ncm
      AND ISNULL( NR_ADICAO, '')            = @nr_adicao_atual
      AND ISNULL( QT_ITENS_ADICAO, 0 )      < @MAX_ITENS_ADICAO
END
ELSE
BEGIN
    SELECT @s_adicao = NR_ADICAO 
    FROM TADICAO_DE_IMPORTACAO
    WHERE NR_PROCESSO                      = @nr_processo
      AND NR_ADICAO                        <> @nr_adicao
      AND ISNULL( CD_MERCADORIA_NCM, '' )  = @cd_ncm_sh
      AND ISNULL( CD_MERC_NALADI_SH, '' )  = @cd_naladi_sh
      AND ISNULL( CD_MERC_NALADI_NCC, '' ) = @cd_naladi_ncca
      AND ISNULL( CD_FORNECEDOR, '' )      = @cd_exportador
      AND ISNULL( CD_FABRICANTE, '' )      = @cd_fabricante
      AND ISNULL( CD_PAIS_ORIG_MERC, '' )  = @cd_pais_origem
      AND ISNULL( CD_PAIS_AQUIS_MERC, '' ) = @cd_pais_aquisicao
      AND ISNULL( NR_OPER_TRAT_PREV, '' )  = @nr_oper_trat_prev
      AND ISNULL( NR_DESTAQUE_NCM, '' )    = @nr_destaque_ncm
      AND ISNULL( QT_ITENS_ADICAO, 0 )     < @MAX_ITENS_ADICAO
END

SELECT @nr_adicao = NR_ADICAO, 
       @nr_item   = NR_ITEM 
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @nr_processo
  AND NR_ADICAO = @s_adicao
  AND NR_ITEM = @s_item

-- As Linhas abaixo fora trazidas para baixo para executar para qualquer caso - Michel - 23/10/2012
EXEC sp_di_repassa_dados_adicao @nr_processo
EXEC sp_di_repassa_dados_cambio @nr_processo

--/*
RETURN(0)
--*/SELECT 0

/*
--SELECT 'NR_ADICAO : ' + @nr_adicao
--SELECT 'NR_ITEM   : ' + @nr_item
--SELECT 'S_ADICAO  : ' + @S_ADICAO

SELECT *
FROM TDI_NVE
WHERE NR_PROCESSO = @NR_PROCESSO
  --AND NR_ADICAO   = @NR_ADICAO
  --AND NR_ITEM     = @NR_ITEM

SELECT *
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @NR_PROCESSO

SELECT COUNT(*)
FROM TADICAO_DE_IMPORTACAO
WHERE NR_PROCESSO = @NR_PROCESSO

--SELECT * FROM TDETALHE_MERCADORIA WHERE NR_PROCESSO = @nr_processo
--SELECT * FROM Tadicao_de_importacao WHERE NR_PROCESSO = @nr_processo

ROLLBACK TRAN

SELECT *
FROM TDI_NVE
WHERE NR_PROCESSO = @NR_PROCESSO
  --AND NR_ADICAO   = @NR_ADICAO
  --AND NR_ITEM     = @NR_ITEM

SELECT *
FROM TDETALHE_MERCADORIA
WHERE NR_PROCESSO = @NR_PROCESSO
--*/



GO
