USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_distribui_sda]( @cd_unid_neg char(2), @cd_produto char(2), @cd_usuario char(4) ) AS
BEGIN
    /*
    SET XACT_ABORT ON
    BEGIN TRAN

    DECLARE @cd_unid_neg char(2)
    DECLARE @cd_produto  char(2)
    DECLARE @cd_usuario  char(4)

    DECLARE @NR_PROC CHAR(18) = '0102EM-004451-15'

    UPDATE TPROCESSO_SDA SET IN_DISTR = '1', CD_STATUS = '0', CD_USUARIO_DISTR = '1781' WHERE NR_PROCESSO = @NR_PROC

    SELECT @cd_unid_neg = LEFT(@NR_PROC, 2)
    SELECT @cd_produto  = SUBSTRING(@NR_PROC, 3, 2)
    SELECT @cd_usuario  = '1781'

    --*/

    DECLARE @nr_processo     char(18)
    DECLARE @vl_sda          numeric(14,2)
    DECLARE @cd_despachante  char(3)
    DECLARE @ano             int
    DECLARE @mes             int

    SELECT  @ano = DATEPART( year, GETDATE() )
    SELECT  @mes = DATEPART( month, GETDATE() )

    /*******************************************************************************/
    /* Processar cálculo do SDA                                                    */
    /*******************************************************************************/

    DECLARE c_processo CURSOR FOR
        SELECT P.NR_PROCESSO, ROUND( ISNULL( S.VL_SDA, 0 ), 2 )
        FROM TPROCESSO P (NOLOCK)
           INNER JOIN TPROCESSO_SDA S (NOLOCK) ON P.NR_PROCESSO = S.NR_PROCESSO
        WHERE P.CD_UNID_NEG      = @cd_unid_neg
          AND P.CD_PRODUTO       = @cd_produto
          AND S.CD_USUARIO_DISTR = @cd_usuario
          AND S.CD_STATUS        = '0'
          AND S.IN_DISTR         = '1'

    OPEN c_processo 
    FETCH c_processo INTO @nr_processo, @vl_sda
    WHILE @@fetch_status = 0
    BEGIN
        EXEC sp_calcula_sda @nr_processo
        FETCH c_processo INTO @nr_processo, @vl_sda
    END
    CLOSE c_processo 

/*******************************************************************************/
/* Distribuição                                                                */
/*******************************************************************************/

    OPEN c_processo 
    FETCH c_processo INTO @nr_processo, @vl_sda

    WHILE @@fetch_status = 0
    BEGIN
        SELECT @cd_despachante = ''

        -- Criação da tabela temporária com valores de SDA mensais por Despachante em substituição a VW_SDA_MES
        SELECT P.CD_UNID_NEG, P.CD_PRODUTO, S.CD_DESPACHANTE, @vl_sda AS VL_SDA, @mes AS MES, @ano AS ANO
        INTO #TMP_SDA
        FROM TPROCESSO_SDA S (NOLOCK), TPROCESSO P (NOLOCK)
        WHERE S.NR_PROCESSO = P.NR_PROCESSO 
          AND 1 = 0

        -- Alimentação da tabela temporária
        INSERT #TMP_SDA (CD_UNID_NEG, CD_PRODUTO, CD_DESPACHANTE, VL_SDA, MES, ANO)
        SELECT P.CD_UNID_NEG, P.CD_PRODUTO, S.CD_DESPACHANTE, SUM( S.VL_SDA /*+ S.VL_CONTR_ASSIST + S.VL_COMPL */) +
                ISNULL((SELECT SUM(S1.VL_SDA) AS VL_SDA
                        FROM TPROCESSO_SDA S1 (NOLOCK)
                           INNER JOIN TUNID_PROD_DESPACH UPD (NOLOCK) ON S1.CD_DESPACHANTE  = UPD.CD_DESPACHANTE 
                           INNER JOIN TPROCESSO P (NOLOCK) ON P.CD_UNID_NEG = UPD.CD_UNID_NEG AND P.CD_PRODUTO = UPD.CD_PRODUTO
                        WHERE S1.NR_PROCESSO = P.NR_PROCESSO
                          AND P.IN_CANCELADO = '0'
                          AND P.IN_LIBERADO = '1'
                          AND S1.DT_DISTRIBUICAO IS NOT NULL
                          AND S1.CD_STATUS <> '0'
                          AND ISNULL(S1.CD_DESPACHANTE, '') = S.CD_DESPACHANTE
                          AND UPD.IN_ATIVO <> '0'
                          AND DATEPART(m, S1.DT_DISTRIBUICAO) = @mes
                          AND DATEPART(yy, S1.DT_DISTRIBUICAO) = @ano
                          AND UPD.CD_UNID_NEG = '07'
                          AND UPD.CD_PRODUTO = @cd_produto), 0) AS VL_SDA, DATEPART(m, S.DT_DISTRIBUICAO) AS MES, DATEPART(yy, S.DT_DISTRIBUICAO) AS ANO
        FROM TPROCESSO_SDA S (NOLOCK)
           INNER JOIN TUNID_PROD_DESPACH UPD (NOLOCK) ON S.CD_DESPACHANTE  = UPD.CD_DESPACHANTE
           INNER JOIN TPROCESSO P (NOLOCK) ON P.CD_UNID_NEG = UPD.CD_UNID_NEG AND P.CD_PRODUTO = UPD.CD_PRODUTO AND S.NR_PROCESSO = P.NR_PROCESSO
           INNER JOIN TDESPACHANTE D (NOLOCK) ON D.CD_DESPACHANTE = UPD.CD_DESPACHANTE AND D.IN_ATIVO <> '0'          
       WHERE P.IN_CANCELADO = '0'
         AND P.IN_LIBERADO = '1'
         AND S.DT_DISTRIBUICAO IS NOT NULL
         AND S.CD_STATUS <> '0'
         AND ISNULL(S.CD_DESPACHANTE, '') <> ''
         AND UPD.IN_ATIVO <> '0'
         AND DATEPART(m, S.DT_DISTRIBUICAO) = @mes
         AND DATEPART(yy, S.DT_DISTRIBUICAO) = @ano
         AND UPD.CD_UNID_NEG = CASE WHEN (@cd_unid_neg = '07') THEN '01' ELSE @cd_unid_neg END
         AND UPD.CD_PRODUTO = @cd_produto
       GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, S.CD_DESPACHANTE, DATEPART( m, S.DT_DISTRIBUICAO ), DATEPART( yy, S.DT_DISTRIBUICAO )
       UNION 
       SELECT U.CD_UNID_NEG, U.CD_PRODUTO, U.CD_DESPACHANTE, 0, @mes, @ano
       FROM TUNID_PROD_DESPACH U (NOLOCK)
          INNER JOIN TDESPACHANTE D (NOLOCK) ON D.CD_DESPACHANTE = U.CD_DESPACHANTE AND D.IN_ATIVO <> '0'        
       WHERE U.CD_UNID_NEG = CASE WHEN (@cd_unid_neg = '07') THEN '01' ELSE @cd_unid_neg END
         AND U.CD_PRODUTO = @cd_produto
         AND U.IN_ATIVO <> '0'
         AND U.CD_DESPACHANTE NOT IN (SELECT S.CD_DESPACHANTE 
                                      FROM TPROCESSO_SDA S (NOLOCK)
                                         INNER JOIN TPROCESSO P (NOLOCK) ON S.NR_PROCESSO = P.NR_PROCESSO
                                      WHERE DATEPART(m, S.DT_DISTRIBUICAO) = @mes
                                        AND DATEPART(yy, S.DT_DISTRIBUICAO) = @ano
                                        AND P.CD_UNID_NEG = CASE WHEN (@cd_unid_neg = '07') THEN '01' ELSE @cd_unid_neg END
                                        AND P.CD_PRODUTO = @cd_produto)
       ORDER BY P.CD_UNID_NEG, P.CD_PRODUTO, S.CD_DESPACHANTE

        -- Verificação do Despachante
        SELECT TOP 1 @cd_despachante = ISNULL(V.CD_DESPACHANTE, 'NAO')
        FROM #TMP_SDA V (NOLOCK)
           INNER JOIN TDESPACHANTE D (NOLOCK) ON V.CD_DESPACHANTE = D.CD_DESPACHANTE
        WHERE V.CD_UNID_NEG = CASE WHEN (@cd_unid_neg = '07') THEN '01' ELSE @cd_unid_neg END
          AND V.CD_PRODUTO = @cd_produto
          AND V.ANO = @ano
          AND V.MES = @mes
          AND (ISNULL(VL_SDA, 0) + @vl_sda) < D.VL_MAX_SDA
          AND (D.IN_ATIVO <> '0' OR D.CD_DESPACHANTE = '001')
        ORDER BY V.VL_SDA, V.CD_DESPACHANTE
        DROP TABLE #TMP_SDA

        -- Caso não encontre despachante, pegue o despachante com maior poder de distribuição
        IF @cd_despachante = ''
        BEGIN
            SELECT TOP 1 @cd_despachante = D.CD_DESPACHANTE
            FROM TDESPACHANTE D (NOLOCK)
               INNER JOIN TUNID_PROD_DESPACH  UD (NOLOCK) ON UD.CD_DESPACHANTE = D.CD_DESPACHANTE
            WHERE (D.IN_ATIVO <> '0' AND UD.IN_ATIVO <> '0'
              AND UD.CD_UNID_NEG = CASE WHEN (@cd_unid_neg = '07') then '01' else @cd_unid_neg end)
              OR UD.CD_DESPACHANTE = '001'
              --AND UD.CD_PRODUTO = @cd_produto
            ORDER BY VL_MAX_SDA DESC
        END

        IF @nr_processo = '0201IM-0441-13'
            SET @cd_despachante = '005'

        IF @cd_despachante <> ''
        BEGIN
            UPDATE TPROCESSO_SDA
            SET CD_DESPACHANTE   = @cd_despachante,
                DT_DISTRIBUICAO  = CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 ),
                CD_STATUS        = '1',
                IN_DISTR         = '0',
                CD_USUARIO_DISTR = '',
                CD_DISTRIBUIDOR  = @cd_usuario
            WHERE NR_PROCESSO    = @nr_processo
        END

        FETCH c_processo INTO @nr_processo, @vl_sda  
    END
    CLOSE c_processo 
    DEALLOCATE c_processo


    /*
    SELECT *
    FROM TPROCESSO_SDA
    WHERE NR_PROCESSO = @NR_PROC

    --/*
    ROLLBACK
    --*/COMMIT

    SELECT *
    FROM TPROCESSO_SDA
    WHERE NR_PROCESSO = @NR_PROC

    SET XACT_ABORT OFF
    --*/
END
GO
