USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [sp_liq_rel] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), 
                       @nr_relatorio char(3), @nr_ano char(4), @cd_forma_pagto char(1),
                       @cd_banco char(3), @dt_liquidacao datetime AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @nr_relatorio char(3)
DECLARE @nr_ano char(4)
DECLARE @cd_forma_pagto char(1)
DECLARE @cd_banco char(3)
DECLARE @dt_liquidacao datetime

SELECT @cd_unid_neg = '01'
SELECT @nr_relatorio = '012'
SELECT @nr_ano = '2000'
SELECT @cd_grupo = '008'
SELECT @cd_cliente = 'X'
SELECT @cd_forma_pagto = 'D'
SELECT @cd_banco = '001'
SELECT @dt_liquidacao = CONVERT( datetime, '21/12/2000', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_produto     char(2)
DECLARE @nr_processo    char(18)
DECLARE @nr_solicitacao char(6)
DECLARE @vl_fatura      float
DECLARE @vl_liquidacao  float
DECLARE @nr_liquidacao  char(6)
DECLARE @cd_usuario     char(4)
DECLARE @tp_liquidacao  char(1)
DECLARE @vl_relatorio   numeric(14, 2)
DECLARE @nr_ult_lanc    int
DECLARE @ult_lanc       char(6)
DECLARE @tp_natureza    char(1)
DECLARE @cd_ct_contabil char(10)
DECLARE @cd_acesso      char(1)
DECLARE @cd_aux         char(3)

IF @cd_grupo <> 'X'
BEGIN
  SELECT @cd_ct_contabil = CD_CT_CONTABIL, 
         @cd_acesso      = CD_ACESSO, 
         @cd_aux         = CD_AUX
  FROM   TEMPRESA_NAC
  WHERE  CGC_EMPRESA IN ( SELECT CNPJ_GRUPO
                          FROM   TGRUPO
                          WHERE  CD_GRUPO = @cd_grupo )
END
ELSE
BEGIN
  SELECT @cd_ct_contabil = CD_CT_CONTABIL, 
         @cd_acesso      = CD_ACESSO, 
         @cd_aux         = CD_AUX
  FROM   TEMPRESA_NAC
  WHERE  CD_EMPRESA = @cd_cliente
END

SELECT @cd_ct_contabil = ISNULL( @cd_ct_contabil, '' )

-- Deverá ter Conta Contábil cadastrada
IF @cd_ct_contabil = '' RETURN(1)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

DECLARE c_liq_rel CURSOR FOR
  SELECT A.CD_PRODUTO, A.NR_SOLICITACAO, A.NR_PROCESSO, A.VL_FATURA
  FROM   TS_FATURA F,
         TS_FATURA_PROCESSO A,
         TPROCESSO P,
         TEMPRESA_NAC E
  WHERE  F.CD_UNID_NEG = A.CD_UNID_NEG AND
         F.CD_PRODUTO = A.CD_PRODUTO AND
         F.NR_SOLICITACAO = A.NR_SOLICITACAO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.IN_CANCELADO = '0' AND
         F.IN_LIQUIDADO = '0' AND
         A.NR_PROCESSO = P.NR_PROCESSO AND
         A.IN_LIQUIDADO = '0' AND
         ISNULL( F.NR_NOTA_FATURA, '' ) <> '' AND
          F.CD_UNID_NEG = @cd_unid_neg AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         NR_RELATORIO = @nr_relatorio AND 
         NR_ANO = @nr_ano
  ORDER BY
    F.NR_SOLICITACAO

OPEN c_liq_rel

FETCH c_liq_rel INTO 
   @cd_produto, @nr_solicitacao, @nr_processo, @vl_fatura

WHILE @@fetch_status = 0
BEGIN
  SELECT @nr_liquidacao = NR_LIQUIDACAO
  FROM   TLIQUIDACAO
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @nr_liquidacao = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, ISNULL( @nr_liquidacao, '000000' ) ) + 1 ) ), 6 )

  IF @vl_fatura > 0 
  BEGIN
    SELECT @tp_liquidacao = 'P'
    SELECT @vl_liquidacao = @vl_fatura
  END
  ELSE
  BEGIN
    SELECT @tp_liquidacao = 'R'
    SELECT @vl_liquidacao = @vl_fatura * ( -1 )
  END

  INSERT TLIQUIDACAO ( NR_PROCESSO, NR_LIQUIDACAO, DT_LIQUIDACAO, CD_USUARIO, CD_FORMA_PAGTO, CD_BANCO, 
                       CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT, TP_LIQUIDACAO, VL_LIQUIDACAO, IN_CANCELADO, 
                       IN_TRANSFERIDO, NR_RELATORIO, NR_ANO ) 
  VALUES( @nr_processo, @nr_liquidacao, @dt_liquidacao, @cd_usuario, @cd_forma_pagto, @cd_banco,
          @cd_unid_neg, @cd_produto, @nr_solicitacao, @tp_liquidacao, @vl_liquidacao, '0', 
          '0', @nr_relatorio, @nr_ano ) 

  EXEC sp_atualiza_liquidacao @nr_processo, @nr_liquidacao

  FETCH c_liq_rel INTO 
     @cd_produto, @nr_solicitacao, @nr_processo, @vl_fatura
END

CLOSE c_liq_rel
DEALLOCATE c_liq_rel

-- Inserindo total do relatório no financeiro
SELECT @vl_relatorio = ISNULL( VL_REEMBOLSO ,0 )
FROM   TREL_FIN_CONTROLE
WHERE  CD_UNID_NEG = @cd_unid_neg AND 
       ( ( CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND 
       ( ( CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND 
       NR_RELATORIO = @nr_relatorio AND 
       NR_ANO = @nr_ano

IF @tp_liquidacao = 'P' SELECT @tp_natureza = 'D'
ELSE SELECT @tp_natureza = 'C'

SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
FROM   TCAIXA 
WHERE  DT_MOVIMENTO = @dt_liquidacao

SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO,
                IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO,
                CD_CT_CONTABIL, IN_RESTITUI, CD_ACESSO, CD_AUX )
VALUES (        '01', @dt_liquidacao, @ult_lanc, @cd_unid_neg, 'C', '4', '0', 
                '1', 'REMESSA REL. REEMBOLSO', @vl_relatorio, @cd_forma_pagto, @tp_natureza, @cd_banco, 
                @cd_ct_contabil, '0', @cd_acesso, @cd_aux )

/*

-- VALOR DAS FATURAS
SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
FROM   TCAIXA 
WHERE  DT_MOVIMENTO = @dt_liquidacao 

SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, 
                IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_CHEQUE, CD_CT_CONTABIL, 
                CD_FAVORECIDO, IN_RESTITUI, CD_ACESSO, CD_AUX )
VALUES        ( '01', @dt_liquidacao, @ult_lanc, @cd_unid_neg, 'C','4', '0', 
                '1', @vl_soma_liq, @cd_forma_pagto, @tp_natureza, @cd_banco, @nr_relatorio, @cd_ct_contabil

-- VALOR DOS JUROS
SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
FROM   TCAIXA 
WHERE  DT_MOVIMENTO = @dt_liquidacao 

SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

-- VALOR DO CPMF
SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) + 1
FROM   TCAIXA 
WHERE  DT_MOVIMENTO = @dt_liquidacao 

SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )
*/




GO
