USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_cancela_numerario]( @nr_processo char(18), @nr_solicitacao char(3) ) AS
-- Cancela Numerario
UPDATE TNUMERARIO 
SET CD_STATUS = 'C'
WHERE ( NR_PROCESSO = @nr_processo ) AND 
      ( NR_SOLICITACAO = @nr_solicitacao )
-- Cancela Itens do Numerario
UPDATE TNUMERARIO_ITEM_SOLIC 
SET CD_STATUS = 'C'
WHERE ( NR_PROCESSO = @nr_processo ) AND 
      ( NR_SOLICITACAO = @nr_solicitacao )
-- Atualiza Saldos
UPDATE TNUMERARIO_SALDO_POR_ITEM 
  SET VL_SOLICITADO = 
    ISNULL((SELECT SUM(VL_SOLICITADO)
       FROM TNUMERARIO_ITEM_SOLIC
       WHERE NR_PROCESSO = S.NR_PROCESSO AND
             CD_ITEM = S.CD_ITEM AND
             CD_STATUS IN ('A','B')), 0)
  FROM TNUMERARIO_SALDO_POR_ITEM s
  WHERE S.NR_PROCESSO = @nr_processo

UPDATE TSOLIC_PAGTO SET CD_STATUS = 2
 FROM TNUMERARIO_ITEM_SOLIC N,
      TSOLIC_PAGTO S
 WHERE (N.NR_PROCESSO = @nr_processo AND N.NR_SOLICITACAO = @nr_solicitacao) AND
       (S.NR_PROCESSO = N.NR_PROCESSO AND S.IN_SOLICITADO = 1 AND S.IN_CALCULADO = 1) AND 
       (S.CD_ITEM = N.CD_ITEM AND S.CD_STATUS NOT IN (4,7,8,9,10,11,16,17))





GO
