USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [sp_atz_processo_vinc] @nr_processo char(18), @nr_processo_vinc char(18) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_processo_vinc char(18)
SELECT @nr_processo = '0101IE-1260-02'
SELECT @nr_processo_vinc = '0101DT-0277-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_sequencia char(3)

IF NOT EXISTS( SELECT NR_PROCESSO
               FROM   TREF_CLIENTE
               WHERE  NR_PROCESSO = @nr_processo AND
                      CD_REFERENCIA = SUBSTRING( @nr_processo_vinc, 5, 14 ) )
BEGIN
  SELECT @nr_sequencia = RIGHT( '000' + CONVERT( varchar, CONVERT( int, MAX( ISNULL( NR_SEQUENCIA, '000' ) ) ) + 1 ), 3 )
  FROM   TREF_CLIENTE
  WHERE  NR_PROCESSO = @nr_processo

  IF ISNULL( LTRIM( RTRIM( @nr_sequencia ) ), '' ) = ''
  BEGIN
    SELECT @nr_sequencia = '001'
  END

  INSERT TREF_CLIENTE( NR_PROCESSO, NR_SEQUENCIA, CD_REFERENCIA )
  VALUES ( @nr_processo, @nr_sequencia, SUBSTRING( @nr_processo_vinc, 5, 14 ) )
END



GO
