USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_importa_numerario_cancelado](@nr_processo char(18), @nr_solicitacao char(3))AS

DECLARE @cd_item char(3)
DECLARE @nr_lancamento char(3)
DECLARE @vl_solicitacao float
DECLARE @tp_destino char(2)
DECLARE @vl_item_calculado float
DECLARE @cd_banco char(3)
DECLARE @cd_favorecido char(5)
DECLARE @cd_moeda_compra char(3)
DECLARE @cd_moeda_venda char(3)
DECLARE @vl_compra float
DECLARE @vl_venda float
     
--CRIA UM TEMP PARA ALOCAR OS ITENS CANCELADOS
SELECT NR_PROCESSO, CD_ITEM, VL_SOLICITADO, TP_DESTINO, VL_ITEM_CALCULADO, CD_BANCO,
                      CD_FAVORECIDO, CD_MOEDA_COMPRA, CD_MOEDA_VENDA, VL_COMPRA, VL_VENDA
INTO   #TM_ITEM
FROM   TNUMERARIO_NOTIFICA_ITEM
WHERE  1 = 0

INSERT #TM_ITEM (NR_PROCESSO, CD_ITEM, VL_SOLICITADO, TP_DESTINO, VL_ITEM_CALCULADO, CD_BANCO,
                      CD_FAVORECIDO, CD_MOEDA_COMPRA,CD_MOEDA_VENDA, VL_COMPRA, VL_VENDA)
 SELECT NR_PROCESSO, CD_ITEM , VL_SOLICITADO, TP_DESTINO, VL_ITEM_CALCULADO,CD_BANCO,
 CD_FAVORECIDO, CD_MOEDA_COMPRA,  CD_MOEDA_VENDA, VL_COMPRA, VL_VENDA
       FROM TNUMERARIO_NOTIFICA_ITEM 
       WHERE NR_PROCESSO =@nr_processo
       AND CD_STATUS = 'C' AND 
       CD_ITEM NOT IN (SELECT  N.CD_ITEM FROM TNUMERARIO_NOTIFICA_ITEM N 
                     WHERE N.NR_PROCESSO = @nr_processo AND N.NR_SOLICITACAO <> NR_SOLICITACAO)   
--BUSCA MAIOR LANCAMENTO 
SELECT @nr_lancamento = MAX(NR_LANCAMENTO) FROM TNUMERARIO_NOTIFICA_ITEM WHERE NR_PROCESSO= @nr_processo 
                AND NR_SOLICITACAO = @nr_solicitacao
SET @nr_lancamento = RIGHT( ( '000' + RTRIM( CONVERT( char(3), @nr_lancamento + 1 ) ) ), 3 )

--LOOP QUE GRAVA OS ITENS CANCELADOS NA NOVA SOLICITAÇÃO
  WHILE (SELECT COUNT(*) FROM #TM_ITEM)> 0 
   BEGIN
       
   SELECT TOP 1 @cd_item = CD_ITEM, @vl_solicitacao = VL_SOLICITADO, @tp_destino = TP_DESTINO, 
          @vl_item_calculado = VL_ITEM_CALCULADO, @cd_banco = CD_BANCO,
          @cd_favorecido = CD_FAVORECIDO,@cd_moeda_compra = CD_MOEDA_COMPRA, 
          @cd_moeda_venda = CD_MOEDA_VENDA, @vl_compra = VL_COMPRA, @vl_venda = VL_VENDA 
      FROM #TM_ITEM     

    INSERT INTO TNUMERARIO_NOTIFICA_ITEM (NR_PROCESSO, NR_SOLICITACAO, CD_ITEM, NR_LANCAMENTO, VL_SOLICITADO, TP_DESTINO,
           VL_ITEM_CALCULADO, CD_BANCO, CD_FAVORECIDO, IN_CANCELADO, CD_STATUS, VL_RECEBIDO, CD_MOEDA_COMPRA,
           CD_MOEDA_VENDA, VL_COMPRA, VL_VENDA)
          VALUES (@nr_processo, @nr_solicitacao, @cd_item, @nr_lancamento, @vl_solicitacao,@tp_destino,
            @vl_item_calculado, @cd_banco, @cd_favorecido, '0','A',0, @cd_moeda_compra, @cd_moeda_venda,
            @vl_compra, @vl_venda)
    
    DELETE  FROM #TM_ITEM WHERE CD_ITEM = @cd_item
    SET @nr_lancamento = RIGHT( ( '000' + RTRIM( CONVERT( char(3), @nr_lancamento + 1 ) ) ), 3 )
 END
DROP TABLE #TM_ITEM

GO
