USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_rel_est_arm_demurrage] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
		                          @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = 'X'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/03/2001', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/03/2001', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_EST_ARM_DEMURRAGE
SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

INSERT TREL_EST_ARM_DEMURRAGE ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_ITEM, VL_ITEM )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, F.CD_ITEM,
         SUM( 
           CASE F.IN_RESTITUI 
             WHEN '0' THEN ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 )
             ELSE ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) * ( -1 )
           END ) AS VL_ITEM
  FROM   TFATURAMENTO_CC F (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         F.CD_ITEM IN ( '015', '041', '056', '039' ) AND
         F.IN_CANCELADO = '0' AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         F.DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim AND
         SUBSTRING( F.NR_PROCESSO, 5, 2 ) IN ( 'I0', 'IE' )
  GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, F.CD_ITEM




GO
