USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_busca_usuario] @cd_usuario CHAR(4) OUTPUT AS 
  SELECT @cd_usuario = CD_USUARIO
  FROM   TUSUARIO
  WHERE  AP_USUARIO  = SUSER_NAME()
GO
