USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_altera_senha    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_rel_fluxo_caixa_gerencial] @cd_unid_neg char(2), @dt_inicio datetime, @dt_fim datetime, 
                 @nr_identificador int OUTPUT AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DELETE TREL_FLUXO_CAIXA_GERENCIAL

DECLARE @nr_identificador int
DECLARE @cd_unid_neg char(2)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime

SELECT @cd_unid_neg = '01'
SELECT @dt_inicio = CONVERT( datetime, '06/09/2001', 103 )
SELECT @dt_fim    = CONVERT( datetime, '06/09/2001', 103 )
--*/

DECLARE @dt_atual         datetime
DECLARE @dt_ultimo_saldo  datetime
DECLARE @cd_periodo       char(2) 
DECLARE @vl_saldo         float
DECLARE @vl_saldo_inicial float
DECLARE @vl_receitas      float
DECLARE @mes              int

SELECT @dt_atual = @dt_inicio

IF @cd_unid_neg = 'XX' 
BEGIN
    SELECT @cd_unid_neg = 'X'
END

SELECT @cd_unid_neg = ISNULL( @cd_unid_neg, 'X' )

-- Verifica último saldo
SELECT @dt_ultimo_saldo = MAX( DT_MOVIMENTO )
FROM   TREL_FLUXO_CAIXA
WHERE  DT_MOVIMENTO < @dt_atual

IF @cd_unid_neg = 'X' 
BEGIN
  SELECT @vl_saldo = SUM( VL_SALDO )
  FROM   TREL_FLUXO_CAIXA
  WHERE  DT_MOVIMENTO = @dt_ultimo_saldo
END
ELSE
BEGIN
  SELECT @vl_saldo = VL_SALDO
  FROM   TREL_FLUXO_CAIXA
  WHERE  DT_MOVIMENTO = @dt_ultimo_saldo AND
         CD_UNID_NEG = @cd_unid_neg
END

SELECT @vl_saldo_inicial = ISNULL( @vl_saldo, 0 )

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_FLUXO_CAIXA_GERENCIAL (TABLOCK HOLDLOCK)

SELECT @cd_periodo = '1'
--Verifica se é analítico ou sintético
-- 9 ou menos dias: analítico por dia
-- mais de 9 dias:  sintético por mês
IF DATEDIFF( d, @dt_inicio, @dt_fim ) >= 9
BEGIN
  SELECT 0 CD_MES
  INTO   #TMP_MES

  DELETE #TMP_MES
  WHERE  CD_MES = 0

  DECLARE c_adm CURSOR FOR
    SELECT DISTINCT DATEPART( mm, DT_VENCTO )
    FROM   TADM 
    WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
               DT_VENCTO BETWEEN @dt_inicio AND @dt_fim AND
               CD_STATUS_ADM NOT IN ( '4', '7', '17', '18'  ) AND
               DT_PAGTO IS NULL
  OPEN c_adm
  FETCH c_adm INTO @mes 
  WHILE @@fetch_status = 0
  BEGIN
     IF NOT EXISTS ( SELECT CD_MES
                     FROM   #TMP_MES
                     WHERE  CD_MES = @mes  )
       INSERT #TMP_MES
       VALUES ( @mes )

     FETCH c_adm INTO @mes 
  END
  CLOSE c_adm
  DEALLOCATE c_adm

  DECLARE c_fat CURSOR FOR    
    SELECT DISTINCT DATEPART( mm, DT_VENCIMENTO )
    FROM   TBOLETO_FATURA B
    WHERE  ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( B.CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
           B.IN_IMPRESSO = '1' AND
           B.IN_CANCELADO = '0' AND
           B.DT_VENCIMENTO BETWEEN @dt_inicio AND @dt_fim

-- Solicitação de alteração por Ibanez/Daniela em 28/08/2001     FATURA ==> BOLETO / REL.COBRANÇA CARTEIRA
/*    SELECT DISTINCT DATEPART( mm, DT_VENCTO_FATURA )
    FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
    WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
           F.CD_PRODUTO = FP.CD_PRODUTO AND
           F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
           FP.NR_PROCESSO = P.NR_PROCESSO AND
           F.IN_LIQUIDADO = '0' AND
           F.IN_CANCELADO = '0' AND
           F.DT_VENCTO_FATURA BETWEEN @dt_inicio AND @dt_fim AND
           ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )*/
  OPEN c_fat
  FETCH c_fat INTO @mes 
  WHILE @@fetch_status = 0
  BEGIN
     IF NOT EXISTS ( SELECT CD_MES
                     FROM   #TMP_MES
                     WHERE  CD_MES = @mes  )
       INSERT #TMP_MES
       VALUES ( @mes )

     FETCH c_fat INTO @mes 
  END
  CLOSE c_fat
  DEALLOCATE c_fat

  --Início
  DECLARE c_mes CURSOR FOR 
    SELECT CD_MES 
    FROM   #TMP_MES
  OPEN c_mes
  FETCH c_mes INTO @mes 
  WHILE @@fetch_status = 0
  BEGIN
    IF CONVERT( int, @cd_periodo ) <= 9
    BEGIN
      --Saldo Inicial(1)
      INSERT TREL_FLUXO_CAIXA_GERENCIAL 
         ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
           VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
      VALUES ( @nr_identificador, @cd_unid_neg, '1', @cd_periodo, @mes, '1', @vl_saldo_inicial,
               CASE @cd_periodo WHEN '1' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '2' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '3' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '4' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '5' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '6' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '7' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '8' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '9' THEN @vl_saldo_inicial ELSE 0 END )


      SELECT @vl_saldo = @vl_saldo_inicial

      -- Receitas Adm (2)
      SELECT @vl_receitas = 0
      SELECT @vl_receitas = @vl_receitas + ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 )
      FROM   TADM 
      WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
             TP_NATUREZA = 'C' AND
             DATEPART( m, DT_VENCTO ) = @mes AND
             CD_STATUS_ADM NOT IN ( '4', '7', '18'  ) AND
             DT_PAGTO IS NULL
      GROUP BY CD_CT_CONTABIL

      -- Receitas Faturas(2)
      SELECT @vl_receitas = @vl_receitas + B.VL_BOLETO
      FROM   TBOLETO_FATURA B
      WHERE  ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( B.CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
             B.IN_IMPRESSO = '1' AND
             B.IN_CANCELADO = '0' AND
             B.DT_VENCIMENTO BETWEEN @dt_inicio AND @dt_fim

      SELECT @vl_receitas = @vl_receitas + R.VL_SALDO
      FROM   TREL_COBR_CARTEIRA R
      WHERE  ( ( R.CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( R.CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
             R.IN_CANCELADO = '0' AND
             R.DT_VENCIMENTO BETWEEN @dt_inicio AND @dt_fim AND
             R.VL_SALDO > 0
             
-- Solicitação de alteração por Ibanez/Daniela em 28/08/2001     FATURA ==> BOLETO / REL.COBRANÇA CARTEIRA
/*    SELECT @vl_receitas = @vl_receitas + ISNULL( SUM( FP.VL_FATURA ), 0 )
      FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
      WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
             F.CD_PRODUTO = FP.CD_PRODUTO AND
             F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
             FP.NR_PROCESSO = P.NR_PROCESSO AND
             F.IN_LIQUIDADO = '0' AND
             F.IN_CANCELADO = '0' AND
             FP.VL_FATURA > 0 AND
             DATEPART( m, F.DT_VENCTO_FATURA ) = @mes AND
             ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
*/
      SELECT @vl_saldo = @vl_saldo + @vl_receitas

      INSERT TREL_FLUXO_CAIXA_GERENCIAL 
         ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
           VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
      VALUES ( @nr_identificador, @cd_unid_neg, '2', @cd_periodo, @mes, '2', @vl_receitas,
               CASE @cd_periodo WHEN '1' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '2' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '3' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '4' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '5' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '6' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '7' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '8' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '9' THEN @vl_receitas ELSE 0 END )
  
      -- Despesas Fatura (3)
      INSERT TREL_FLUXO_CAIXA_GERENCIAL 
         ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
           VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
         SELECT @nr_identificador, P.cd_unid_neg, '3', @cd_periodo, @mes, '3', ISNULL( SUM( FP.VL_FATURA ), 0 ) * (-1),
                CASE @cd_periodo WHEN '1' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '2' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '3' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '4' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '5' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '6' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '7' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '8' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '9' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END
         FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
         WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                F.CD_PRODUTO = FP.CD_PRODUTO AND
                F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                FP.NR_PROCESSO = P.NR_PROCESSO AND
                F.IN_LIQUIDADO = '0' AND
                F.IN_CANCELADO = '0' AND
                FP.VL_FATURA < 0 AND
                DATEPART( m, F.DT_VENCTO_FATURA ) = @mes AND
               ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( P.CD_UNID_NEG IN ( '01', '02', '03' ) ) ) )
	GROUP BY P.cd_unid_neg


      SELECT @vl_saldo = @vl_saldo - ( ISNULL( SUM( FP.VL_FATURA ), 0 ) * (-1) )
      FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
      WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
             F.CD_PRODUTO = FP.CD_PRODUTO AND
             F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
             FP.NR_PROCESSO = P.NR_PROCESSO AND
             F.IN_LIQUIDADO = '0' AND
             F.IN_CANCELADO = '0' AND
             FP.VL_FATURA < 0 AND
             DATEPART( m, F.DT_VENCTO_FATURA ) = @mes AND
            ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( P.CD_UNID_NEG IN ( '01', '02', '03' ) ) ) )

      -- Despesas Adm (3)
      IF ( @cd_unid_neg = '01') OR ( @cd_unid_neg = 'X' ) 
      BEGIN
        INSERT TREL_FLUXO_CAIXA_GERENCIAL 
           ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
             VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
          SELECT @nr_identificador, '01', '3', @cd_periodo, @mes, CD_CT_CONTABIL, ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ),
                 CASE @cd_periodo WHEN '1' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '2' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '3' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '4' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '5' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '6' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '7' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '8' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '9' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END
          FROM   TADM 
          WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
                 TP_NATUREZA = 'D' AND
                 DATEPART( m, DT_VENCTO ) = @mes AND
                 CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
                 DT_PAGTO IS NULL AND
                 CD_CT_CONTABIL IN ( '3101011007','3101011008','3101011014','3101011004','3101021002','3101011012',
                                     '3101021013','3101011006','3101011015','3101011010','3101021005','3101011017',
                                     '3101011016','3101011003','3101011001','3101011002','3101021001','3101011021',
                                     '3101011011','3101011018','3101011013','3101011020','3101021003','3101011009',
                                     '3101011005','3101011019' )
          GROUP BY CD_CT_CONTABIL

        SELECT @vl_saldo = @vl_saldo - ( ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) )
        FROM   TADM 
        WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
               TP_NATUREZA = 'D' AND
               DATEPART( m, DT_VENCTO ) = @mes AND
               CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
               DT_PAGTO IS NULL AND
               CD_CT_CONTABIL IN ( '3101011007','3101011008','3101011014','3101011004','3101021002','3101011012',
                                   '3101021013','3101011006','3101011015','3101011010','3101021005','3101011017',
                                   '3101011016','3101011003','3101011001','3101011002','3101021001','3101011021',
                                   '3101011011','3101011018','3101011013','3101011020','3101021003','3101011009',
                                   '3101011005','3101011019' )
      END

      IF ( @cd_unid_neg = '02' ) OR  ( @cd_unid_neg = 'X' )
      BEGIN
        INSERT TREL_FLUXO_CAIXA_GERENCIAL 
           ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
             VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
          SELECT @nr_identificador, '02', '3', @cd_periodo, @mes, CD_CT_CONTABIL, ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ),
                 CASE @cd_periodo WHEN '1' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '2' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '3' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '4' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '5' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '6' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '7' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '8' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '9' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END
          FROM   TADM 
          WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
                 TP_NATUREZA = 'D' AND
                 DATEPART( m, DT_VENCTO ) = @mes AND
                 CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
                 DT_PAGTO IS NULL AND
                 CD_CT_CONTABIL IN ( '3101011064','3101011025','3101011037','3101021006','3101011023','3101021012',
                                     '3101011035','3101011026','3101011040','3101021007','3101011065','3101011032',
                                     '3101011029','3101011030','3101011066','3101011067','3101011031','3101011036',
                                     '3101011038','3101011022','3101011028','3101021011','3101011039','3101011034',
                                     '3101011027','3101011024','3101011068','3101011033','3101011072' )
          GROUP BY CD_CT_CONTABIL
        
        SELECT @vl_saldo = @vl_saldo - ( ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) )
        FROM   TADM 
        WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) )) AND
               TP_NATUREZA = 'D' AND
               DATEPART( m, DT_VENCTO ) = @mes AND
               CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
               DT_PAGTO IS NULL AND
               CD_CT_CONTABIL IN ( '3101011064','3101011025','3101011037','3101021006','3101011023','3101021012',
                                   '3101011035','3101011026','3101011040','3101021007','3101011065','3101011032',
                                   '3101011029','3101011030','3101011066','3101011067','3101011031','3101011036',
                                   '3101011038','3101011022','3101011028','3101021011','3101011039','3101011034',
                                   '3101011027','3101011024','3101011068','3101011033','3101011072' )
      END

      IF ( @cd_unid_neg = '03' ) OR ( @cd_unid_neg = 'X' )
      BEGIN
        INSERT TREL_FLUXO_CAIXA_GERENCIAL 
           ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
             VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
          SELECT @nr_identificador, '03', '3', @cd_periodo, @mes, CD_CT_CONTABIL, ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ),
                 CASE @cd_periodo WHEN '1' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '2' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '3' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '4' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '5' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '6' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '7' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '8' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '9' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END
          FROM   TADM 
          WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
                 TP_NATUREZA = 'D' AND
                 DATEPART( m, DT_VENCTO ) = @mes AND
                 CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
                 DT_PAGTO IS NULL AND
                 CD_CT_CONTABIL IN ( '3101011056','3101011045','3101011058','3101011054','3101021009','3101011044',
                                     '3101021014','3101011057','3101011046','3101011061','3101021010','3101011069',
                                     '3101011048','3101011053','3101011050','3101011051','3101011052','3101011059',
                                     '3101011043','3101011049','3101011070','3101011071','3101021008','3101011060',
                                     '3101011055' )
          GROUP BY CD_CT_CONTABIL

        SELECT @vl_saldo = @vl_saldo - ( ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) )
        FROM   TADM 
        WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
               TP_NATUREZA = 'D' AND
               DATEPART( m, DT_VENCTO ) = @mes AND
               CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
               DT_PAGTO IS NULL AND
               CD_CT_CONTABIL IN ( '3101011056','3101011045','3101011058','3101011054','3101021009','3101011044',
                                   '3101021014','3101011057','3101011046','3101011061','3101021010','3101011069',
                                   '3101011048','3101011053','3101011050','3101011051','3101011052','3101011059',
                                   '3101011043','3101011049','3101011070','3101011071','3101021008','3101011060',
                                   '3101011055' )
      
      END
  
      SELECT @dt_atual = @dt_atual + 1  

      SELECT @cd_periodo = CONVERT( char(2), CONVERT( int, @cd_periodo ) + 1 )
      SELECT @vl_saldo_inicial = @vl_saldo
    END

    FETCH c_mes INTO @mes 
  END   
  CLOSE c_mes
  DEALLOCATE c_mes

  DROP TABLE #TMP_MES

END
ELSE 
BEGIN
  -- Início
  WHILE @dt_atual <= @dt_fim
  BEGIN
    IF CONVERT( int, @cd_periodo ) <= 9
    BEGIN
      --Saldo Inicial(1)
      INSERT TREL_FLUXO_CAIXA_GERENCIAL 
         ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
           VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
      VALUES ( @nr_identificador, @cd_unid_neg, '1', @cd_periodo, DATEPART( d, @dt_atual ), '1', @vl_saldo_inicial,
               CASE @cd_periodo WHEN '1' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '2' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '3' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '4' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '5' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '6' THEN @vl_saldo_inicial ELSE 0 END, 
               CASE @cd_periodo WHEN '7' THEN @vl_saldo_inicial ELSE 0 END, 
               CASE @cd_periodo WHEN '8' THEN @vl_saldo_inicial ELSE 0 END,
               CASE @cd_periodo WHEN '9' THEN @vl_saldo_inicial ELSE 0 END )

      SELECT @vl_saldo = @vl_saldo_inicial

      -- Receitas Adm (2)
      SELECT @vl_receitas = 0
      SELECT @vl_receitas = @vl_receitas + ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 )
      FROM   TADM 
      WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
             TP_NATUREZA = 'C' AND
             DT_VENCTO = @dt_atual AND
             CD_STATUS_ADM NOT IN ( '4', '7', '18'  ) AND
             DT_PAGTO IS NULL
      GROUP BY CD_CT_CONTABIL

      -- Receitas Faturas(2)
      SELECT @vl_receitas = @vl_receitas + B.VL_BOLETO
      FROM   TBOLETO_FATURA B
      WHERE  ( ( B.CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( B.CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
             B.IN_IMPRESSO = '1' AND
             B.IN_CANCELADO = '0' AND
             B.DT_VENCIMENTO = @dt_atual

      SELECT @vl_receitas = @vl_receitas + R.VL_SALDO
      FROM   TREL_COBR_CARTEIRA R
      WHERE  ( ( R.CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
             R.IN_CANCELADO = '0' AND
             R.DT_VENCIMENTO = @dt_atual AND
             R.VL_SALDO > 0

-- Solicitação de alteração por Ibanez/Daniela em 28/08/2001     FATURA ==> BOLETO
/*
      SELECT @vl_receitas = @vl_receitas + ISNULL( SUM( FP.VL_FATURA ), 0 )
      FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
      WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
             F.CD_PRODUTO = FP.CD_PRODUTO AND
             F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
             FP.NR_PROCESSO = P.NR_PROCESSO AND
             F.IN_LIQUIDADO = '0' AND
             F.IN_CANCELADO = '0' AND
             FP.VL_FATURA > 0 AND
             F.DT_VENCTO_FATURA = @dt_atual AND
             ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )
*/
      SELECT @vl_saldo = @vl_saldo + @vl_receitas

      INSERT TREL_FLUXO_CAIXA_GERENCIAL 
         ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
           VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
      VALUES ( @nr_identificador, @cd_unid_neg, '2', @cd_periodo, DATEPART( d, @dt_atual ), '2', @vl_receitas,
               CASE @cd_periodo WHEN '1' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '2' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '3' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '4' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '5' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '6' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '7' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '8' THEN @vl_receitas ELSE 0 END,
               CASE @cd_periodo WHEN '9' THEN @vl_receitas ELSE 0 END )

      -- Despesas Fatura (3)
      INSERT TREL_FLUXO_CAIXA_GERENCIAL 
         ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
           VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
         SELECT @nr_identificador, @cd_unid_neg, '3', @cd_periodo, DATEPART( d, @dt_atual ), '3', ISNULL( SUM( FP.VL_FATURA ), 0 ) * (-1),
                CASE @cd_periodo WHEN '1' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '2' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '3' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '4' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '5' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '6' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '7' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '8' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END,
                CASE @cd_periodo WHEN '9' THEN ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) ELSE 0 END
         FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
         WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
                F.CD_PRODUTO = FP.CD_PRODUTO AND
                F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
                FP.NR_PROCESSO = P.NR_PROCESSO AND
                F.IN_LIQUIDADO = '0' AND
                F.IN_CANCELADO = '0' AND
                FP.VL_FATURA < 0 AND
                F.DT_VENCTO_FATURA = @dt_atual AND
               ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( P.CD_UNID_NEG IN ( '01', '02', '03' ) ) ) )

      SELECT @vl_saldo = @vl_saldo - ( ISNULL( SUM( FP.VL_FATURA ) * (-1), 0 ) )
      FROM   TS_FATURA F, TS_FATURA_PROCESSO FP, TPROCESSO P
      WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
             F.CD_PRODUTO = FP.CD_PRODUTO AND
             F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
             FP.NR_PROCESSO = P.NR_PROCESSO AND
             F.IN_LIQUIDADO = '0' AND
             F.IN_CANCELADO = '0' AND
             FP.VL_FATURA < 0 AND
             F.DT_VENCTO_FATURA = @dt_atual AND
            ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( P.CD_UNID_NEG IN ( '01', '02', '03' ) ) ) )

      -- Despesas Adm (3)
      IF ( @cd_unid_neg = '01' ) OR ( @cd_unid_neg = 'X' )
      BEGIN
        INSERT TREL_FLUXO_CAIXA_GERENCIAL 
           ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
             VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
          SELECT @nr_identificador, '01', '3', @cd_periodo, DATEPART( d, @dt_atual ), CD_CT_CONTABIL, ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ),
                 CASE @cd_periodo WHEN '1' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '2' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '3' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '4' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '5' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '6' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '7' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '8' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '9' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END
          FROM   TADM 
          WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
                 TP_NATUREZA = 'D' AND
                 DT_VENCTO = @dt_atual AND
                 CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
                 DT_PAGTO IS NULL AND
                 CD_CT_CONTABIL IN ( '3101011007','3101011008','3101011014','3101011004','3101021002','3101011012',
                                     '3101021013','3101011006','3101011015','3101011010','3101021005','3101011017',
                                     '3101011016','3101011003','3101011001','3101011002','3101021001','3101011021',
                                     '3101011011','3101011018','3101011013','3101011020','3101021003','3101011009',
                                     '3101011005','3101011019' )
          GROUP BY CD_CT_CONTABIL
        
        SELECT @vl_saldo = @vl_saldo - ( ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) )
        FROM   TADM 
        WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
               TP_NATUREZA = 'D' AND
               DT_VENCTO = @dt_atual AND
               CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
               DT_PAGTO IS NULL AND
               CD_CT_CONTABIL IN ( '3101011007','3101011008','3101011014','3101011004','3101021002','3101011012',
                                   '3101021013','3101011006','3101011015','3101011010','3101021005','3101011017',
                                   '3101011016','3101011003','3101011001','3101011002','3101021001','3101011021',
                                   '3101011011','3101011018','3101011013','3101011020','3101021003','3101011009',
                                   '3101011005','3101011019' )
      END

      IF ( @cd_unid_neg = '02' ) OR  ( @cd_unid_neg = 'X' )
      BEGIN
        INSERT TREL_FLUXO_CAIXA_GERENCIAL 
           ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
             VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
          SELECT @nr_identificador, '02', '3', @cd_periodo, DATEPART( d, @dt_atual ), CD_CT_CONTABIL, ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ),
                 CASE @cd_periodo WHEN '1' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '2' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '3' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '4' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '5' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '6' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '7' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '8' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '9' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END
          FROM   TADM 
          WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
                 TP_NATUREZA = 'D' AND
                 DT_VENCTO = @dt_atual AND
                 CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
                 DT_PAGTO IS NULL AND
                 CD_CT_CONTABIL IN ( '3101011064','3101011025','3101011037','3101021006','3101011023','3101021012',
                                     '3101011035','3101011026','3101011040','3101021007','3101011065','3101011032',
                                     '3101011029','3101011030','3101011066','3101011067','3101011031','3101011036',
                                     '3101011038','3101011022','3101011028','3101021011','3101011039','3101011034',
                                     '3101011027','3101011024','3101011068','3101011033','3101011072' )
          GROUP BY CD_CT_CONTABIL
        
        SELECT @vl_saldo = @vl_saldo - ( ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) )
        FROM   TADM 
        WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
               TP_NATUREZA = 'D' AND
               DT_VENCTO = @dt_atual AND
               CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
               DT_PAGTO IS NULL AND
               CD_CT_CONTABIL IN ( '3101011064','3101011025','3101011037','3101021006','3101011023','3101021012',
                                   '3101011035','3101011026','3101011040','3101021007','3101011065','3101011032',
                                   '3101011029','3101011030','3101011066','3101011067','3101011031','3101011036',
                                   '3101011038','3101011022','3101011028','3101021011','3101011039','3101011034',
                                   '3101011027','3101011024','3101011068','3101011033','3101011072' )
      END

      IF ( @cd_unid_neg = '03' ) OR ( @cd_unid_neg = 'X' )
      BEGIN
        INSERT TREL_FLUXO_CAIXA_GERENCIAL 
           ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL, VL_LANCAMENTO,
             VL_PER1, VL_PER2, VL_PER3, VL_PER4, VL_PER5, VL_PER6, VL_PER7, VL_PER8, VL_PER9 )
          SELECT @nr_identificador, '03', '3', @cd_periodo, DATEPART( d, @dt_atual ), CD_CT_CONTABIL, ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ),
                 CASE @cd_periodo WHEN '1' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '2' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '3' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '4' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '5' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '6' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '7' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '8' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END,
                 CASE @cd_periodo WHEN '9' THEN ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) ELSE 0 END
          FROM   TADM 
          WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
                 TP_NATUREZA = 'D' AND
                 DT_VENCTO = @dt_atual AND
                 CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
                 DT_PAGTO IS NULL AND
                 CD_CT_CONTABIL IN ( '3101011056','3101011045','3101011058','3101011054','3101021009','3101011044',
                                     '3101021014','3101011057','3101011046','3101011061','3101021010','3101011069',
                                     '3101011048','3101011053','3101011050','3101011051','3101011052','3101011059',
                                     '3101011043','3101011049','3101011070','3101011071','3101021008','3101011060',
                                     '3101011055' )
          GROUP BY CD_CT_CONTABIL
          
        SELECT @vl_saldo = @vl_saldo - ( ISNULL( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 0 ) )
        FROM   TADM 
        WHERE  ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( ( @cd_unid_neg = 'X' ) AND ( CD_UNID_NEG IN ( '01', '02', '03' ) ) ) ) AND
               TP_NATUREZA = 'D' AND
               DT_VENCTO = @dt_atual AND
               CD_STATUS_ADM NOT IN ( '4', '7', '17' ) AND
               DT_PAGTO IS NULL AND
               CD_CT_CONTABIL IN ( '3101011056','3101011045','3101011058','3101011054','3101021009','3101011044',
                                   '3101021014','3101011057','3101011046','3101011061','3101021010','3101011069',
                                   '3101011048','3101011053','3101011050','3101011051','3101011052','3101011059',
                                   '3101011043','3101011049','3101011070','3101011071','3101021008','3101011060',
                                   '3101011055' )
      END
      
    END
    SELECT @dt_atual = @dt_atual + 1  

    SELECT @cd_periodo = CONVERT( char(2), CONVERT( int, @cd_periodo ) + 1 )
    SELECT @vl_saldo_inicial = @vl_saldo
  END
END

DECLARE @CT_Contabil_Espec char(341)
DECLARE @nN int
IF @cd_unid_neg = '01'
BEGIN
  SELECT @CT_Contabil_Espec = '3101011007,3101011008,3101011014,3101011004,3101021002,3101011012,' + 
                              '3101021013,3101011006,3101011015,3101011010,3101021005,3101011017,' +
                              '3101011016,3101011003,3101011001,3101011002,3101021001,3101011021,' + 
                              '3101011011,3101011018,3101011013,3101011020,3101021003,3101011009,' + 
                              '3101011005,3101011019' 
END
ELSE IF @cd_unid_neg = '02'
BEGIN
  SELECT @CT_Contabil_Espec = '3101011064,3101011025,3101011037,3101021006,3101011023,3101021012,' + 
                              '3101011035,3101011026,3101011040,3101021007,3101011065,3101011032,' +
                              '3101011029,3101011030,3101011066,3101011067,3101011031,3101011036,' +
                              '3101011038,3101011022,3101011028,3101021011,3101011039,3101011034,' + 
                              '3101011027,3101011024,3101011068,3101011033,3101011072'
END
ELSE IF @cd_unid_neg = '03'
BEGIN
  SELECT @CT_Contabil_Espec = '3101011056,3101011045,3101011058,3101011054,3101021009,3101011044,' +
                              '3101021014,3101011057,3101011046,3101011061,3101021010,3101011069,' +
                              '3101011048,3101011053,3101011050,3101011051,3101011052,3101011059,' + 
                              '3101011043,3101011049,3101011070,3101011071,3101021008,3101011060,' +
                              '3101011055'
END
IF @cd_unid_neg = 'X'
BEGIN
  SELECT @CT_Contabil_Espec = '3101011007,3101011008,3101011014,3101011004,3101021002,3101011012,' + 
                              '3101021013,3101011006,3101011015,3101011010,3101021005,3101011017,' +
                              '3101011016,3101011003,3101011001,3101011002,3101021001,3101011021,' + 
                              '3101011011,3101011018,3101011013,3101011020,3101021003,3101011009,' + 
                              '3101011005,3101011019,' +
                              '3101011064,3101011025,3101011037,3101021006,3101011023,3101021012,' + 
                              '3101011035,3101011026,3101011040,3101021007,3101011065,3101011032,' +
                              '3101011029,3101011030,3101011066,3101011067,3101011031,3101011036,' +
                              '3101011038,3101011022,3101011028,3101021011,3101011039,3101011034,' + 
                              '3101011027,3101011024,3101011068,3101011033,3101011072' +
                              '3101011056,3101011045,3101011058,3101011054,3101021009,3101011044,' +
                              '3101021014,3101011057,3101011046,3101011061,3101021010,3101011069,' +
                              '3101011048,3101011053,3101011050,3101011051,3101011052,3101011059,' + 
                              '3101011043,3101011049,3101011070,3101011071,3101021008,3101011060,' +
                              '3101011055'
END


SELECT @nN = 1
WHILE @nN < 341
BEGIN
  IF ( SELECT COUNT(NR_IDENTIFICADOR)
       FROM   TREL_FLUXO_CAIXA_GERENCIAL
       WHERE  NR_IDENTIFICADOR = @nr_identificador AND CD_UNID_NEG = @cd_unid_neg AND 
              CD_TIPO = '3' AND CD_CT_CONTABIL = SUBSTRING( @CT_Contabil_Espec, @nN, 10 )) = 0
  BEGIN
    INSERT TREL_FLUXO_CAIXA_GERENCIAL 
         ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_TIPO, CD_PERIODO, NM_PERIODO, CD_CT_CONTABIL ) 
      SELECT @nr_identificador, @cd_unid_neg, '3', '1', DATEPART( mm, @dt_inicio ), SUBSTRING( @CT_Contabil_Espec, @nN, 10 )
-- preciso mudar aqui

  END
  SELECT @nN = @nN + 11
END

DECLARE @vl_total_desp float	
DECLARE c_tmp CURSOR FOR
  SELECT VL_TOTAL_DESPESAS
  FROM   TREL_FLUXO_CAIXA_GERENCIAL
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND 
         ( ( CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND 
         CD_TIPO = '3'

OPEN c_tmp
FETCH c_tmp INTO @vl_total_desp
WHILE @@fetch_status = 0
BEGIN

  UPDATE TREL_FLUXO_CAIXA_GERENCIAL
  SET    VL_TOTAL_DESPESAS = VL_PER1+VL_PER2+VL_PER3+VL_PER4+VL_PER5+VL_PER6+VL_PER7+VL_PER8+VL_PER9
  WHERE  CURRENT OF c_tmp

  FETCH c_tmp INTO @vl_total_desp
END   
CLOSE c_tmp
DEALLOCATE c_tmp

/*
SELECT * FROM TREL_FLUXO_CAIXA_GERENCIAL WHERE NR_IDENTIFICADOR = @nr_identificador
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/




GO
