USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Michel
-- Create date: 28/01/2009
-- Description:	Contar quantos simbolos | tem como quebra num texto
-- =============================================

/*
DECLARE @TEXTO    VARCHAR(8000)
DECLARE @TXQUEBRA VARCHAR(10)
DECLARE @QTD      INT

SET @TEXTO = 'Teste de mensagem com quebra por caractere passado como parâmetro. E este |texto serve apenas para verificar se a quebra functionou mesmo ou se deu |errado. Utilliza-la apenas como teste. Enrolando no texto para dar pelo |menos 3 linhas'
SET @TXQUEBRA = '|' --(NCHAR(13) + NCHAR(10))
--SELECT LEN(@TEXTO)
--*/

CREATE PROCEDURE [sp_ContaQuebra](@TEXTO VARCHAR(8000), @TXQUEBRA VARCHAR(10), @QTD INT OUTPUT) AS
BEGIN
     DECLARE @TXT VARCHAR(8000)

     SET @TXT = @TEXTO
     SET @QTD = 0

     WHILE @TXT <> ''
     BEGIN
          --PRINT '@TXT: ' + @TXT
          --PRINT 'LEFT: ' + LEFT(@TXT, LEN(@TXQUEBRA))
          IF LEFT(@TXT, LEN(@TXQUEBRA)) = @TXQUEBRA
          BEGIN
              SET @QTD = @QTD +1
              --PRINT '-------------------------------------------------------------------------------------------------------'
              --PRINT '@QTD: ' + CONVERT(VARCHAR, @QTD)
          END
          SET @TXT = RIGHT(@TXT, LEN(@TXT) -1)
     END
     IF @QTD > 0
         SET @QTD = @QTD +1
     --PRINT '@QTD: ' + CONVERT(VARCHAR, @QTD)
     --PRINT 'SAIU DA CONTAGEM -------------------------------------------------------------------------------------------------'
END

GO
