USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_cria_ctaapagar]( @cd_unid_neg char(2), @dt_ctaapagar datetime, @nr_ctaapagar char(3), @qtde int, @NR_IDENTIFICADOR int OUTPUT ) AS

/*
BEGIN TRAN

DECLARE @cd_unid_neg CHAR(2)
DECLARE @dt_ctaapagar datetime
DECLARE @nr_ctaapagar char(3)
DECLARE @qtde int
DECLARE @NR_IDENTIFICADOR INTEGER

SET @cd_unid_neg  = '01'
SET @dt_ctaapagar = '08/01/2007'
SET @nr_ctaapagar = '037'
SET @qtde         = '012'
--*/

DECLARE @cd_fornecedor	char(5) 
DECLARE @nm_historico	varchar(180)
DECLARE @vl_despesa	numeric(14, 2)
DECLARE @vl_acrescimo	numeric(14, 2)
DECLARE @vl_desconto	numeric(14, 2)
DECLARE @vl_ir		numeric(14, 2)
DECLARE @vl_inss	numeric(14, 2)
DECLARE @dt_vencto	datetime
DECLARE @dt_vencto_calc	datetime
DECLARE @tp_pagamento	char(1)
DECLARE @cd_banco	char(3)
DECLARE	@cd_usuario     char(4)
DECLARE	@cd_usuario_ger	char(4)
DECLARE @dia_venc	int
DECLARE @mes_venc	int
DECLARE @ano_venc	int
DECLARE @i		tinyint
DECLARE @CD_COLIGADA    char(2)
DECLARE @NR_TITULO      char(15)
declare @CD_FAVORECIDO  char(5)
DECLARE @VL_PISCOFINS   NUMERIC(14,2)
DECLARE @VL_ISS		NUMERIC(14,2)
DECLARE @VL_LIQUIDO    NUMERIC(14,2)
DECLARE @STATUS 	CHAR(2)
DECLARE @DT_EMISSAO_DOC datetime
DECLARE @IN_LANC_PROVISIONADO CHAR(1)

SELECT @cd_usuario = CD_USUARIO 
FROM   TUSUARIO (NOLOCK)
WHERE  AP_USUARIO  = suser_name()

IF ISNULL(@cd_usuario,'') =''
    SET @cd_usuario=2273

SELECT @dt_ctaapagar	= DT_CTAAPAGAR, 
       @nr_ctaapagar	= NR_CTAAPAGAR, 
       @cd_fornecedor	= CD_FORNECEDOR, 
       @CD_FAVORECIDO   = CD_FAVORECIDO,
       @nm_historico	= NM_HISTORICO, 
       @vl_despesa	= VL_DESPESA , 
       @vl_desconto	= VL_DESCONTO, 
       @vl_acrescimo	= VL_ACRESCIMO, 
       @vl_ir		= VL_IR, 
       @vl_inss		= VL_INSS,
       @dt_vencto	= DT_VENCIMENTO, 
       @tp_pagamento	= TP_PAGAMENTO, 
       @cd_banco	= CD_BANCO, 
       @cd_usuario_ger	= CD_USUARIO_GER, 
       @cd_coligada	= CD_COLIGADA, 
       @NR_TITULO	= NR_TITULO, 
       @VL_PISCOFINS    = VL_PISCOFINS, 
       @VL_ISS		= VL_ISS, 
       @VL_LIQUIDO	= VL_LIQUIDO, 
       @STATUS		= STATUS,
       @DT_EMISSAO_DOC  = DT_EMISSAO_DOC,
       @IN_LANC_PROVISIONADO = IN_LANC_PROVISIONADO
FROM   TCTAAPAGAR (nolock)
WHERE  CD_UNID_NEG      = @cd_unid_neg  AND
       DT_CTAAPAGAR 	= @dt_ctaapagar AND 
       NR_CTAAPAGAR 	= @nr_ctaapagar


				       

SELECT @dia_venc = DATEPART( dd, @dt_vencto )
SELECT @mes_venc = DATEPART( mm, @dt_vencto )
SELECT @ano_venc = DATEPART( yy, @dt_vencto )

SELECT @dt_vencto_calc = CONVERT( datetime, 
				RIGHT( '00' + CONVERT( char(2), @dia_venc ), 2 ) + '/' +
				RIGHT( '00' + CONVERT( char(2), @mes_venc ), 2 ) + '/' +
				CONVERT( char(4), @ano_venc ), 103 )
				
SELECT @i = 1
SELECT @NR_IDENTIFICADOR = ISNULL(MAX(NR_IDENTIFICADOR),0) + 1 FROM TCTAAPAGAR_VENCTO

insert into TCTAAPAGAR_VENCTO 
  values (@NR_IDENTIFICADOR, @nr_ctaapagar, @dt_vencto_calc, @cd_usuario)

WHILE @i <= ( @qtde - 1 )
BEGIN

  SELECT @dt_vencto_calc = DATEADD( month, @i, @dt_vencto )

  SELECT @nr_ctaapagar   = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_ctaapagar ) + 1 ) ), 3 )

  INSERT TCTAAPAGAR 
  ( DT_CTAAPAGAR, NR_CTAAPAGAR, CD_USUARIO, CD_FORNECEDOR, NM_HISTORICO, VL_DESPESA, VL_DESCONTO, 
    VL_ACRESCIMO, VL_IR, VL_INSS, DT_VENCIMENTO, CD_FAVORECIDO, TP_PAGAMENTO, CD_BANCO, IN_IMP_CHEQUE, 
    CD_STATUS_CHEQUE, IN_CANCELADO, IN_LIBERADO, IN_TRANSFERIDO, CD_USUARIO_GER, IN_DISTRIBUICAO, TP_CD_BARRAS,
    IN_CONTABILIZADO, CD_UNID_NEG, NR_TITULO, CD_COLIGADA, VL_PISCOFINS, VL_ISS, VL_LIQUIDO, STATUS, DT_EMISSAO_DOC,
    IN_LANC_PROVISIONADO )
  VALUES 
    ( @dt_ctaapagar, @nr_ctaapagar, @cd_usuario, @cd_fornecedor, @nm_historico,@VL_DESPESA, @vl_desconto, 
      @vl_acrescimo, 0, 0, @dt_vencto_calc, @CD_FAVORECIDO, @tp_pagamento, @cd_banco, 
      '1', '0', '0', '0', '0', @cd_usuario_ger, '0', '0', '0', @cd_unid_neg, @NR_TITULO, @cd_coligada, 0, 
      0, /*@VL_LIQUIDO*/@VL_DESPESA, @STATUS, @DT_EMISSAO_DOC, @IN_LANC_PROVISIONADO )

  insert into TCTAAPAGAR_VENCTO 
  values (@NR_IDENTIFICADOR, @nr_ctaapagar, @dt_vencto_calc, @cd_usuario)

  SELECT @i = @i + 1

END

RETURN @NR_IDENTIFICADOR

/*
ROLLBACK TRAN
--*/




GO
