USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE  PROCEDURE [sp_liq_processo] ( @nr_processo char(18), @tot_proc int, @dt_liquidacao  datetime, @vl_liquidacao numeric(14,2),
                                   @cd_usuario  char(4),  @cd_forma_pagto char(1),  @cd_banco      char(3),
                                   @cd_grupo    char(3),  @cd_cliente     char(5),  @nr_relatorio  char(3), 
                                   @nr_ano      char(4) ) AS

/* Comentários:
Alteração na rotina de liquidação:
quando liquidar mais de um processo, o mesmo deve ser agrupado por um número de processo...
Antigamente apenas o processo pai era inserido na tabela de Liquidações. Hoje, os processos
filhotes que deverão ser inseridos e o processo pai não será mais inserido.
Incluído rotina de cálculo para gerar Receita e Saldo Operacional
*/

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @dt_liquidacao datetime
DECLARE @cd_usuario char(4)
DECLARE @cd_forma_pagto char(1)
DECLARE @cd_banco char(3)
DECLARE @vl_liquidacao float
DECLARE @nr_relatorio char(3)
DECLARE @nr_ano char(4)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)

SELECT @nr_processo = '0101IE-0006-07'
SELECT @dt_liquidacao = CONVERT( datetime, '21/11/2008', 103 )
SELECT @cd_usuario = '1630'
SELECT @cd_forma_pagto = 'C'
SELECT @cd_banco = '001'
SELECT @vl_liquidacao = (200.00)
SELECT @nr_relatorio = 'X'
SELECT @nr_ano = 'X'
SELECT @cd_grupo = '028'
SELECT @cd_cliente = 'X' --*/


DECLARE @nr_processo_liq    char(18)
DECLARE @nr_liquidacao_liq  char(6)
DECLARE @nr_liquidacao      char(6)
DECLARE @cd_unid_neg        char(2)
DECLARE @cd_produto         char(2)
DECLARE @tp_liquidacao      char(1)
DECLARE @nr_solicitacao     char(6)
DECLARE @vl_pendente        numeric(14,2)
--DECLARE @tot_proc           int
DECLARE @vl_fat   	        numeric(14,2)
DECLARE @vl_liq_fat  	    numeric(14,2)
DECLARE @in_liq_fat  	    char(1)
DECLARE @vl_fat_proc        numeric(14,2)
DECLARE @vl_liq_fat_proc    numeric(14,2)
DECLARE @in_liq_fat_proc    char(1)
DECLARE @vl_liquidacao_proc numeric(14,2)
DECLARE @vl_receita         numeric(14,2)
DECLARE @vl_saldo_op        numeric(14,2)
DECLARE @vl_fatura          numeric(14,2)
DECLARE @vl_fatura_processo numeric(14,2)

--variáveis para cálculo de Total Tributável do Processo
DECLARE @vl_sub_tot_tributavel numeric(14,2)
DECLARE @vl_tot_tributavel     numeric(14,2)
DECLARE @vl_retencao           numeric(14,2)
DECLARE @vl_comissao           numeric(14,2)
DECLARE @vl_receita_liq        numeric(14,2)
DECLARE @vl_aux                numeric(14,2)
DECLARE @vl_aux1               numeric(14,2)
DECLARE @cd_item_receb_num        char(3)
DECLARE @cd_item_devol_num        char(3)
DECLARE @cd_item_extor_num        char(3)
DECLARE @cd_item_saldo_cre        char(3)
DECLARE @cd_item_saldo_deb        char(3)
DECLARE @cd_item_receb_sd         char(3)
DECLARE @cd_item_pagto_sd         char(3)
DECLARE @cd_item_ext_receb        char(3)
DECLARE @cd_item_ext_pagto        char(3)
DECLARE @cd_item_nao_fat          char(3)
DECLARE @cd_item_ir               char(3)
DECLARE @cd_item_cofins_retencao  char(3)
DECLARE @cd_item_comissao         char(3)
DECLARE @cd_item_pago_cli         char(3)
DECLARE @cd_item_pis_cofins       char(3)


-- Itens da TPARAMETROS
SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM,
       @cd_item_devol_num = CD_ITEM_DEVOL_NUM,
       @cd_item_extor_num = CD_ITEM_EXTOR_NUM,
       @cd_item_saldo_cre = CD_ITEM_SALDO_CRE,
       @cd_item_saldo_deb = CD_ITEM_SALDO_DEB,
       @cd_item_receb_sd = CD_ITEM_RECEB_SD,
       @cd_item_pagto_sd = CD_ITEM_PAGTO_SD,
       @cd_item_ext_receb = CD_ITEM_EXT_RECEB,
       @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO, 
       @cd_item_nao_fat = CD_ITEM_NAO_FAT,
       @cd_item_ir = CD_ITEM_IR,       
       @cd_item_cofins_retencao = CD_ITEM_COFINS_RETENCAO,
       @cd_item_comissao = CD_ITEM_COMISSAO,
       @cd_item_pago_cli = CD_ITEM_PAGO_CLI,
       @cd_item_pis_cofins = CD_ITEM_PIS_COFINS 
FROM TPARAMETROS (NOLOCK)

-- Relatório Reembolso
/*IF @nr_relatorio <> 'X' AND
   @nr_ano <> 'X'
BEGIN
  UPDATE TS_FATURA_PROCESSO
  SET    CD_USUARIO_LIQ = @cd_usuario
  FROM   TS_FATURA F , TS_FATURA_PROCESSO FP , TPROCESSO P , TEMPRESA_NAC E
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( E.CD_EMPRESA, 'X' ) AND
         F.NR_RELATORIO = @nr_relatorio AND
         F.NR_ANO = @nr_ano AND
         F.IN_CANCELADO = '0'
END*/

--verifica quantos processos serão liquidados
/*SELECT @tot_proc = COUNT( NR_PROCESSO )
  FROM TS_FATURA_PROCESSO (NOLOCK)
 WHERE CD_USUARIO_LIQ = @cd_usuario*/

--gera nr. de liquidação do processo pai
SELECT @nr_liquidacao = MAX( NR_LIQUIDACAO_LIQ )
  FROM TLIQUIDACAO (NOLOCK)
 WHERE NR_PROCESSO_LIQ = @nr_processo

SELECT @nr_liquidacao = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, ISNULL( @nr_liquidacao, '000000' ) ) + 1 ) ), 6 )


--Atualizar Faturamento, criar registro de liquidação
DECLARE c_fat CURSOR FOR
  SELECT FP.CD_UNID_NEG, FP.CD_PRODUTO, FP.NR_SOLICITACAO, FP.NR_PROCESSO
  FROM   TS_FATURA_PROCESSO FP, TS_FATURA F
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND
         F.CD_PRODUTO = FP.CD_PRODUTO AND
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
         FP.CD_USUARIO_LIQ = @cd_usuario AND
         F.IN_CANCELADO = '0'

OPEN c_fat
FETCH c_fat INTO @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_liq
WHILE @@fetch_status  = 0
BEGIN
  
  -- Cálculo do Total tributável
  SELECT @vl_sub_tot_tributavel =
         ISNULL( ROUND( SUM(
         CASE IN_RESTITUI 
           WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
           WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
         END ), 2 ), 0 )
  FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
  WHERE  FI.CD_ITEM = I.CD_ITEM AND
         I.IN_TRIBUTAVEL = '1' AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_UNID_NEG = @cd_unid_neg     AND
         FI.CD_PRODUTO = @cd_produto  AND
         FI.NR_SOLIC_FAT = @nr_solicitacao AND
         ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
         FI.CD_ITEM NOT IN ( @cd_item_receb_num, @cd_item_devol_num, @cd_item_extor_num, @cd_item_saldo_cre, @cd_item_saldo_deb, @cd_item_receb_sd, @cd_item_pagto_sd, @cd_item_ext_receb,
                             @cd_item_ext_pagto, @cd_item_nao_fat, @cd_item_ir, @cd_item_cofins_retencao, @cd_item_comissao, @cd_item_pago_cli, @cd_item_pis_cofins ) 

  --comissão
  SELECT @vl_comissao =
         ISNULL( ROUND( SUM(
         CASE IN_RESTITUI 
           WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
           WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
         END ), 2 ), 0 )
  FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
  WHERE  FI.CD_ITEM = I.CD_ITEM AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_UNID_NEG = @cd_unid_neg AND
         FI.CD_PRODUTO = @cd_produto AND
         FI.NR_SOLIC_FAT = @nr_solicitacao AND
         FI.CD_ITEM = @cd_item_comissao

  --retenção na fonte, imposto de renda e outros
  SELECT @vl_retencao =
         ISNULL( ROUND( SUM(
         CASE IN_RESTITUI 
           WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
           WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
         END ), 2 ), 0 )
  FROM   TFATURAMENTO_CC FI, TITEM I (NOLOCK)
  WHERE  FI.CD_ITEM = I.CD_ITEM AND
         FI.IN_CANCELADO = '0' AND
         FI.IN_FATURADO = '1' AND
         FI.CD_UNID_NEG = @cd_unid_neg AND
         FI.CD_PRODUTO = @cd_produto AND
         FI.NR_SOLIC_FAT = @nr_solicitacao AND
         FI.CD_ITEM IN ( @cd_item_cofins_retencao, @cd_item_ir , '394' )



  SELECT @vl_tot_tributavel = ISNULL( @vl_sub_tot_tributavel, 0 ) + ISNULL( @vl_comissao, 0 ) - ISNULL( @vl_retencao, 0 )
  SELECT @vl_receita = 0
  SELECT @vl_saldo_op = 0

  -- passa campos para as variáveis
  SELECT @vl_fat_proc      = ISNULL( VL_FATURA, 0 ),
         @vl_liq_fat_proc  = ISNULL( VL_LIQUIDACAO, 0 ),
         @in_liq_fat_proc  = IN_LIQUIDADO
  FROM   TS_FATURA_PROCESSO (NOLOCK)
  WHERE  CD_UNID_NEG       = @cd_unid_neg    AND
         CD_PRODUTO        = @cd_produto     AND
         NR_SOLICITACAO    = @nr_solicitacao AND
         NR_PROCESSO       = @nr_processo_liq

  SELECT @vl_fat           = ISNULL( VL_FATURA, 0 ),
         @vl_liq_fat       = ISNULL( VL_LIQUIDACAO, 0),
         @in_liq_fat       = IN_LIQUIDADO
  FROM   TS_FATURA (NOLOCK)
  WHERE  CD_UNID_NEG       = @cd_unid_neg AND
         CD_PRODUTO        = @cd_produto  AND
         NR_SOLICITACAO    = @nr_solicitacao

  -- gera valor de Liquidação por processo
  IF ( @tot_proc = 0 )
    SET @vl_liquidacao_proc = @vl_liquidacao
  ELSE
    SET @vl_liquidacao_proc = (@vl_fat_proc + @vl_liq_fat_proc)*(-1)

  --gera tipo de liquidação
  IF @vl_liquidacao_proc < 0
    SELECT @tp_liquidacao = 'P'
  ELSE
    SELECT @tp_liquidacao = 'R'

  -- calcula Receita e Saldo Operacional
  IF @vl_liquidacao_proc < 0
  BEGIN
    SET @vl_receita = 0
    SET @vl_saldo_op = 0
  END
  ELSE
  BEGIN
    IF @vl_fat_proc < 0
    BEGIN
      IF @vl_fat_proc*(-1) > @vl_tot_tributavel
        SET @vl_aux = @vl_tot_tributavel
      ELSE
        SET @vl_aux = @vl_fat_proc*(-1)

      SELECT @vl_receita_liq = ISNULL(SUM(VL_RECEITA), 0) 
        FROM TLIQUIDACAO (NOLOCK) 
       WHERE NR_PROCESSO  = @nr_processo_liq
         AND CD_UNID_NEG  = @cd_unid_neg
         AND CD_PRODUTO   = @cd_produto
         AND NR_SOLIC_FAT = @nr_solicitacao   
         AND ISNULL(IN_CANCELADO, '0') = '0'
       GROUP BY NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT

      SET @vl_aux1 = ISNULL(@vl_aux, 0) - ISNULL(@vl_receita_liq, 0)
 
      IF @vl_liquidacao_proc < @vl_aux1
      BEGIN
        SET @vl_receita = @vl_liquidacao_proc
        SET @vl_saldo_op = 0
      END
      ELSE
      BEGIN
        SET @vl_receita = @vl_aux1
        SET @vl_saldo_op = @vl_liquidacao_proc - @vl_aux1
      END
    END
    ELSE
    BEGIN
      SET @vl_receita = 0
      SET @vl_saldo_op = @vl_liquidacao_proc
    END
  END 

  --gera nr. de liquidação do processo filhote
  SELECT @nr_liquidacao_liq = MAX( NR_LIQUIDACAO )
    FROM TLIQUIDACAO (NOLOCK)
   WHERE NR_PROCESSO = @nr_processo_liq

  SELECT @nr_liquidacao_liq = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, ISNULL( @nr_liquidacao_liq, '000000' ) ) + 1 ) ), 6 )



  /*--insere registro na TLIQUIDACAO
  INSERT TLIQUIDACAO( NR_PROCESSO, NR_LIQUIDACAO, NR_PROCESSO_LIQ, NR_LIQUIDACAO_LIQ, DT_LIQUIDACAO,
                      CD_USUARIO, CD_FORMA_PAGTO, CD_BANCO, CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT,
                      TP_LIQUIDACAO, VL_LIQUIDACAO, NR_RELATORIO, NR_ANO, VL_RECEITA, VL_SALDO_OP )
  VALUES ( @nr_processo_liq, @nr_liquidacao_liq, @nr_processo, @nr_liquidacao, @dt_liquidacao,
           @cd_usuario, @cd_forma_pagto, @cd_banco, @cd_unid_neg, @cd_produto, @nr_solicitacao,
           @tp_liquidacao, @vl_liquidacao_proc, @nr_relatorio, @nr_ano, @vl_receita, @vl_saldo_op )
*/

  -- cálculo do valor da liquidação
  IF (@tot_proc = 0) AND ( ABS( ROUND( @vl_liquidacao, 2 ) ) <> ABS( ( ROUND( @vl_fat_proc, 2 ) ) ) )
  BEGIN
    -- Parcial
    SELECT @vl_liq_fat_proc = @vl_liq_fat_proc + @vl_liquidacao
    SELECT @vl_liq_fat      = @vl_liq_fat + @vl_liquidacao     
  END
  /*ELSE
  BEGIN
    -- Total ( mas pode existir algum parcial no meio deles, e o tratamento deve ser diferente )
    IF @vl_liq_fat_proc > 0 -- OU SEJA, JÁ FOI DADA UMA LIQUIDACAO PARCIAL
    BEGIN
	print 'parcial'
        if @vl_fat_proc < 0 
          set @vl_fat_proc = @vl_fat_proc * ( -1 )
        if @vl_fat < 0 
          set @vl_fat = @vl_fat * ( -1 )
	SELECT @vl_liq_fat_proc = ( @vl_fat_proc  * ( -1 ) )
        SELECT @vl_liq_fat      = ( @vl_fat_proc  * ( -1 ) )
    END 
    ELSE 
    BEGIN
	print 'integral'
	    IF ( ( @vl_liquidacao + @vl_liq_fat_proc ) > ( @vl_fat_proc * (-1 ) ) ) AND @tot_proc > 1 
	    BEGIN
	      SELECT @vl_liq_fat_proc = ( @vl_fat_proc * (-1 ) )
	      SELECT @vl_liq_fat      = ( @vl_fat_proc * (-1 ) )
	    END
	    ELSE
	    BEGIN
	      SELECT @vl_liq_fat_proc = @vl_liq_fat_proc + ( @vl_fat_proc * (-1) )
	      SELECT @vl_liq_fat      = @vl_liq_fat      + ( @vl_fat_proc * (-1) )
	    END
    END
  END

  IF ( @vl_liq_fat_proc + @vl_fat_proc ) <> 0
     SELECT @in_liq_fat_proc = '0'
  ELSE
     SELECT @in_liq_fat_proc = '1'

  IF ( @vl_liq_fat + @vl_fat ) <> 0
     SELECT @in_liq_fat = '0'
  ELSE
     SELECT @in_liq_fat = '1'*/



-- VALOR DA FATURA ATUAL 
  SET @vl_fatura_processo = @vl_liquidacao_proc + ISNULL((SELECT VL_LIQUIDACAO FROM TS_FATURA_PROCESSO WHERE CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND NR_SOLICITACAO = @nr_solicitacao AND NR_PROCESSO = @NR_PROCESSO), 0)  
  SET @vl_fatura = @vl_liquidacao_proc + ISNULL((SELECT VL_LIQUIDACAO FROM TS_FATURA WHERE CD_UNID_NEG = @cd_unid_neg AND CD_PRODUTO = @cd_produto AND NR_SOLICITACAO = @nr_solicitacao), 0)

-- VERIFICAÇÃO DO IN_FATURADO  
  IF ABS(@vl_fatura_processo) <> ABS(@vl_fat_proc)
     SELECT @in_liq_fat_proc = '0'
  ELSE
     SELECT @in_liq_fat_proc = '1'

  IF ABS(@vl_fatura) <> ABS(@vl_fat)
     SELECT @in_liq_fat = '0'
  ELSE
     SELECT @in_liq_fat = '1'


  UPDATE TS_FATURA_PROCESSO
  SET    VL_LIQUIDACAO  = @vl_fatura_processo,
         IN_LIQUIDADO   = @in_liq_fat_proc,
         DT_LIQUIDACAO  = CONVERT( datetime, CONVERT( char(10), @dt_liquidacao, 103 ), 103 )
  WHERE  CD_UNID_NEG    = @cd_unid_neg     AND
         CD_PRODUTO     = @cd_produto      AND
         NR_SOLICITACAO = @nr_solicitacao  AND
         NR_PROCESSO    = @nr_processo_liq

  UPDATE TS_FATURA
  SET    VL_LIQUIDACAO  = @vl_fatura,
         IN_LIQUIDADO   = @in_liq_fat,
         DT_LIQUIDACAO  = CONVERT( datetime, CONVERT( char(10), @dt_liquidacao, 103 ), 103 )
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLICITACAO = @nr_solicitacao

--insere registro na TLIQUIDACAO
  INSERT TLIQUIDACAO( NR_PROCESSO, NR_LIQUIDACAO, NR_PROCESSO_LIQ, NR_LIQUIDACAO_LIQ, DT_LIQUIDACAO,
                      CD_USUARIO, CD_FORMA_PAGTO, CD_BANCO, CD_UNID_NEG, CD_PRODUTO, NR_SOLIC_FAT,
                      TP_LIQUIDACAO, VL_LIQUIDACAO, NR_RELATORIO, NR_ANO, VL_RECEITA, VL_SALDO_OP )
  VALUES ( @nr_processo_liq, @nr_liquidacao_liq, @nr_processo, @nr_liquidacao, @dt_liquidacao,
           @cd_usuario, @cd_forma_pagto, @cd_banco, @cd_unid_neg, @cd_produto, @nr_solicitacao,
           @tp_liquidacao, @vl_liquidacao_proc, @nr_relatorio, @nr_ano, @vl_receita, @vl_saldo_op )


/* NÃO DEVE MUDAR A FORMA DE PAGAMENTO DOS ITENS LANÇADOS COMO L&P, APENAS NO SALDO
   O QUE É FEITO NA OUTRA PROCEDURE sp_distirbui_liquidacao
  -- L&P xxxx
  UPDATE TFATURAMENTO_CC
  SET    CD_FORMA_PAGTO = 'L'
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLIC_FAT   = @nr_solicitacao AND
         CD_FORMA_PAGTO = 'S' AND
         @cd_forma_pagto = 'L'

  -- Pis/Cofins
  UPDATE TFATURAMENTO_CC
  SET    CD_FORMA_PAGTO = 'L'
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLIC_FAT   = @nr_solicitacao AND
         CD_FORMA_PAGTO = 'S' AND
         @cd_forma_pagto = 'L'
*/

  FETCH c_fat INTO @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo_liq
END

CLOSE c_fat
DEALLOCATE c_fat

SELECT @cd_unid_neg = SUBSTRING( @nr_processo, 1, 2 )

EXEC sp_distribui_liquidacao @dt_liquidacao, @cd_unid_neg, '01', '0'
      
UPDATE TS_FATURA_PROCESSO
SET    CD_USUARIO_LIQ  = NULL,	
       NR_PROCESSO_LIQ = @nr_processo,
       NR_LIQUIDACAO   = @nr_liquidacao
WHERE  CD_USUARIO_LIQ  = @cd_usuario

/* ROLLBACK TRAN
SET XACT_ABORT OFF */














GO
