USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_calcula_sda]( @nr_processo char(18) ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @NR_PROCESSO CHAR(18)
SELECT @NR_PROCESSO = '0102EM-0256-13'
SELECT @NR_PROCESSO = '0102EA-0241-13'
--*/

DECLARE @saida                  varchar(100) 
DECLARE @in_existe              integer
DECLARE @vl_MLE_mneg            numeric(14,2)
DECLARE @vl_frete_collect       numeric(14,2)
DECLARE @vl_frete_prepaid       numeric(14,2)
DECLARE @vl_seguro_mneg         numeric(14,2)
DECLARE @vl_MLE_mn              numeric(14,2)
DECLARE @vl_frete_mn            numeric(14,2)
DECLARE @vl_seguro_mn           numeric(14,2)
DECLARE @vl_base_calc           numeric(14,3)
DECLARE @vl_sda_minimo          numeric(14,3)
DECLARE @vl_sda_maximo          numeric(14,3)
DECLARE @pc_taxa_sda            numeric(14,2)
DECLARE @pc_contr_assist        numeric(14,3)
DECLARE @vl_sda                 numeric(14,3)
DECLARE @vl_contr_assist        numeric(14,2)
DECLARE @cd_cliente             char(5)
DECLARE @cd_unid_neg            char(2)
DECLARE @cd_produto             char(2)
DECLARE @cd_servico             char(3)
DECLARE @cd_tabela_sda          char(3)
DECLARE @vl_taxa                numeric(14,6)
DECLARE @cd_moeda_mle           char(3)
DECLARE @vl_mle_mn_calc         numeric(14,2)
DECLARE @in_embut_frt_itens     bit
DECLARE @in_embut_seg_itens     bit
DECLARE @vl_despesas_mn         numeric(14,2)
DECLARE @vl_acr_mn              numeric(14,2)
DECLARE @vl_ded_mn              numeric(14,2)
DECLARE @vl_tx_contr_social_sda numeric(14,2)
DECLARE @in_comp_sda            char(1)
DECLARE @in_calc_fob            char(1)
DECLARE @tp_tab_sda             char(1)
DECLARE @CD_LOCAL_DESEMB        char(4)
DECLARE @cd_grupo               char(5)


SELECT @vl_tx_contr_social_sda = VL_TX_CONTR_SOCIAL_SDA
FROM   TPARAMETROS (NOLOCK)

/********************** SELECIONA OS VALORES PARA CALCULO *******************************/
SELECT @cd_cliente       = CD_CLIENTE, 
       @cd_unid_neg      = CD_UNID_NEG,
       @cd_produto       = CD_PRODUTO,
       @cd_servico       = CD_SERVICO, 
       @vl_MLE_mneg      = ISNULL( VL_MLE_MNEG, 0 ),
       @vl_frete_prepaid = ISNULL( VL_FRETE_PREPAID_MNEG, 0 ),
       @vl_frete_collect = ISNULL( VL_FRETE_COLLECT_MNEG, 0 ),
       @vl_seguro_mneg   = ISNULL( VL_SEGURO_MNEG, 0 ),
       @vl_MLE_mn        = ISNULL( VL_MLE_MN, 0 ),
       @vl_frete_mn      = ISNULL( VL_FRETE_MN, 0 ),
       @vl_seguro_mn     = ISNULL( VL_SEGURO_MN, 0 ),
       @cd_moeda_mle     = CD_MOEDA_MLE
FROM   TPROCESSO 
WHERE  ( NR_PROCESSO = @nr_processo ) 


SELECT @cd_grupo = ISNULL(CD_GRUPO, '') FROM TEMPRESA_NAC WHERE CD_EMPRESA = @cd_cliente AND CD_GRUPO IN ('028', '329', '923', '106')

/*IF @cd_produto = '01' and ISNULL(@cd_grupo, '') <> '' -- verifica se é do grupo Saint Gobain e Bun-Tech.
    SELECT @CD_LOCAL_DESEMB = CD_LOCAL_DESEMBARQUE
    FROM TPROCESSO (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo
ELSE IF @cd_produto = '02' and ISNULL(@cd_grupo, '') <> ''
    SELECT @CD_LOCAL_DESEMB = CD_LOCAL_EMBARQUE
    FROM TPROCESSO (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo*/
  
/*IF ((@cd_produto = '01') and (ISNULL(@CD_LOCAL_DESEMB, '') = '0367')) --(Suape)
   OR ((@cd_produto = '02') and (ISNULL(@CD_LOCAL_DESEMB, '') in ('0367', '0090'))) --(Suape ou Salvador)
    UPDATE TPROCESSO_SDA SET CD_STATUS = 4 WHERE  ( NR_PROCESSO   = @nr_processo )
ELSE*/
BEGIN
  IF @cd_produto IN ( '01', '03' )
  BEGIN
    IF EXISTS ( SELECT NR_PROCESSO
                FROM   TDECLARACAO_IMPORTACAO (NOLOCK)
                WHERE  NR_PROCESSO = @nr_processo )
    BEGIN
      SELECT @vl_MLE_mneg        = ISNULL( VL_TOT_MLE_MNEG, 0 ),
             @vl_frete_prepaid   = ISNULL( VL_TOT_FRT_PREPAID, 0 ),
             @vl_frete_collect   = ISNULL( VL_TOT_FRT_COLLECT, 0 ),
             @vl_seguro_mneg     = ISNULL( VL_TOT_SEGURO_MNEG, 0 ),
             @vl_MLE_mn          = ISNULL( VL_TOTAL_MLE_MN, 0 ),
             @vl_frete_mn        = ISNULL( VL_TOTAL_FRETE_MN, 0 ),
             @vl_seguro_mn       = ISNULL( VL_TOTAL_SEG_MN, 0 ),
             @vl_despesas_mn     = ISNULL( VL_TOT_DESPS_MN, 0 ),
             @vl_acr_mn          = ISNULL( VL_TOTAL_ACRESCIMOS_MN, 0 ),
             @vl_ded_mn          = ISNULL( VL_TOTAL_DEDUCOES_MN, 0 ),
             @in_embut_frt_itens = ISNULL( IN_EMBUT_FRT_ITENS, 0 ),
             @in_embut_seg_itens = ISNULL( IN_EMBUT_SEG_ITENS, 0 )
      FROM   TDECLARACAO_IMPORTACAO (NOLOCK)
      WHERE  ( NR_PROCESSO = @nr_processo )

      UPDATE TPROCESSO 
      SET    VL_MLE_MN             = ROUND( @vl_MLE_mn,2),    
             VL_FRETE_MN           = ROUND( @vl_frete_mn,2),  
             VL_SEGURO_MN          = ROUND( @vl_seguro_mn,2),
             VL_MLE_MNEG           = ROUND( @vl_MLE_mneg,2),    
             VL_FRETE_PREPAID_MNEG = ROUND( @vl_frete_prepaid,2),    
             VL_FRETE_COLLECT_MNEG = ROUND( @vl_frete_collect,2),    
             VL_SEGURO_MNEG        = ROUND( @vl_seguro_mneg, 2) 
      WHERE  ( NR_PROCESSO = @nr_processo )
    END
  END


  SELECT @cd_tabela_sda = CD_TAB_SDA,       -- campo Tipo Tab. SDA
         @in_comp_sda   = IN_COMP_SDA,
         @tp_tab_sda    = TP_TAB_SDA  FROM   TCLIENTE_HABILITACAO (NOLOCK)
  WHERE  ( CD_CLIENTE  = @cd_cliente  ) AND
         ( CD_UNID_NEG = @cd_unid_neg ) AND
         ( CD_PRODUTO  = @cd_produto  )

  IF @tp_tab_sda = '1' -- Serviço
  BEGIN
    SELECT @cd_tabela_sda = CD_TAB_SDA
    FROM   TCLIENTE_SERVICO (NOLOCK)
    WHERE  CD_CLIENTE  = @cd_cliente  AND
           CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO  = @cd_produto  AND
           CD_SERVICO  = @cd_servico
  END  

  IF @tp_tab_sda = '2'	-- Processo
  BEGIN
    SELECT @cd_tabela_sda = CD_TAB_SDA
    FROM   TPROCESSO (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo
  END  

  SELECT @vl_sda		  = VL_MINIMO,
  	     @pc_taxa_sda     = PC_TAXA,
         @vl_sda_minimo   = VL_MINIMO,
         @vl_sda_maximo   = VL_MAXIMO,
         @pc_contr_assist = PC_ASSIST_SOCIAL,
         @in_calc_fob     = IN_CALC_FOB
  FROM   TSDA (NOLOCK)
  WHERE  CD_SDA = @cd_tabela_sda

  -- IF abaixo incluído a pedido do David para que não calcule se o fator de cobrança de SDA não for satisfeito, que são os eventos abaixo - Michel - 25/02/2013
  /*IF (SELECT COUNT(*)
      FROM TFOLLOWUP
      WHERE NR_PROCESSO = @NR_PROCESSO
        --AND CD_EVENTO IN ('021'/*, '402'*/) -- REGISTRO DA DI, EMISSAO DE RE
        AND ((SUBSTRING(NR_PROCESSO, 3, 2) = '01' AND CD_EVENTO = '021') OR (SUBSTRING(NR_PROCESSO, 3, 2) = '02' AND CD_EVENTO = '088'))
        AND (ISNULL(IN_APLICAVEL, '0') = '1' AND DT_REALIZACAO IS NOT NULL)) = 0*/
    IF (SELECT COUNT(*)
        FROM (SELECT TOP 1 CD_EVENTO--COUNT(*)
              FROM TFOLLOWUP (NOLOCK)
              WHERE NR_PROCESSO = @NR_PROCESSO
                --AND CD_EVENTO IN ('021'/*, '402'*/) -- REGISTRO DA DI, EMISSAO DE RE
                AND ((SUBSTRING(NR_PROCESSO, 3, 2) = '01' AND CD_EVENTO = '021') OR (SUBSTRING(NR_PROCESSO, 3, 2) = '02' AND CD_EVENTO IN ('088', '165')))
                AND (ISNULL(IN_APLICAVEL, '0') = '1' AND DT_REALIZACAO IS NOT NULL)
              ORDER BY NR_ORDEM) AS VW) = 0
    SELECT @vl_sda		    = 0,
           @pc_taxa_sda     = 0,
           @vl_sda_minimo   = 0,
           @vl_sda_maximo   = 0,
           @pc_contr_assist = 0,
           @in_calc_fob     = 0

  SELECT @vl_contr_assist = ( @vl_sda * ( @pc_contr_assist / 100 ) )
 
  /****************************** PREPARA A BASE DE CALCULO *********************************/
  IF SUBSTRING( @nr_processo, 3, 2) IN ( '01', '03' )
  BEGIN
    IF @in_calc_fob = '1'
    BEGIN
      SELECT @vl_base_calc = @vl_MLE_mn
      IF @in_embut_frt_itens = 1 SELECT @vl_base_calc = ISNULL( @vl_base_calc, 0 ) - ISNULL( @vl_frete_mn, 0 )
      IF @in_embut_seg_itens = 1 SELECT @vl_base_calc = ISNULL( @vl_base_calc, 0 ) - ISNULL( @vl_seguro_mn, 0 )
    END
    ELSE
    BEGIN
      SELECT @vl_base_calc = @vl_MLE_mn + ISNULL( @vl_despesas_mn, 0 ) + ISNULL( @vl_acr_mn, 0 ) - ISNULL( @vl_ded_mn, 0 )
      IF @in_embut_frt_itens = 0 SELECT @vl_base_calc = ISNULL( @vl_base_calc, 0 ) + ISNULL( @vl_frete_mn, 0 )
      IF @in_embut_seg_itens = 0 SELECT @vl_base_calc = ISNULL( @vl_base_calc, 0 ) + ISNULL( @vl_seguro_mn, 0 )
    END
  END
  ELSE
    IF SUBSTRING( @nr_processo, 3, 2) IN ( '02', '10' )
      SELECT @vl_base_calc = @vl_MLE_mn 
    ELSE
      SELECT @vl_base_calc = 0

  /****************************** CALCULA O SDA *********************************************/
  SELECT @vl_sda = ( ISNULL(@vl_base_calc, 0) * ( @pc_taxa_sda / 100 ) )
  IF @vl_sda > @vl_sda_maximo SELECT @vl_sda = @vl_sda_maximo
  IF @vl_sda < @vl_sda_minimo SELECT @vl_sda = @vl_sda_minimo
  SELECT @vl_contr_assist = ( @vl_sda * ( @pc_contr_assist / 100 ) )
  /*********************** ATUALIZA O PROCESSO COM OS VALORES CALCULADOS ********************/

  IF @in_comp_sda = '0' SELECT @vl_tx_contr_social_sda = 0

  UPDATE TPROCESSO_SDA
  SET    VL_BASE_CALCULO = ROUND( @vl_base_calc, 2 ),
         VL_SDA          = ROUND( @vl_sda, 2 ),
         VL_CONTR_ASSIST = ROUND( @vl_contr_assist, 2 ),
         VL_COMPL        = ROUND( @vl_tx_contr_social_sda, 2 )
  WHERE  ( NR_PROCESSO   = @nr_processo )
END

/*
    SELECT @nr_processo, VL_MLE_MN, VL_FRETE_MN, VL_SEGURO_MN, VL_MLE_MNEG, VL_FRETE_PREPAID_MNEG, VL_FRETE_COLLECT_MNEG,
           VL_SEGURO_MNEG
    FROM   TPROCESSO
    WHERE  NR_PROCESSO = @nr_processo

    SELECT BASE_CALCULO_SDA, VL_SDA, VL_CONTR_ASSIST, VL_COMPL_SDA
    FROM   TPROCESSO
    WHERE  NR_PROCESSO = @nr_processo

    SELECT * FROM TPROCESSO_SDA WHERE  NR_PROCESSO = @NR_PROCESSO

    ROLLBACK TRAN
    SET XACT_ABORT OFF
--*/


GO
