USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_calc_receitas_imp]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_item char(3)
DECLARE @Resultado float

SELECT @nr_processo = '0101AE-0189-00'
SELECT @cd_item = '098'
*/

DECLARE @cd_cliente               char(5)
DECLARE @cd_unid_neg              char(2)
DECLARE @cd_produto               char(2)
DECLARE @cd_servico               char(4)
DECLARE @cd_regime_trib_aux       char(1)
DECLARE @cd_local_desembarque     char(4)
DECLARE @cd_unid_neg_local        char(2)
DECLARE @vl_cif_mn                float
DECLARE @vl_cif_dolar             float
DECLARE @vl_vmle_mn               float
DECLARE @cd_regime_trib           char(1)
DECLARE @tp_dt_base               char(1)
DECLARE @vl_num_taxa              float
DECLARE @vl_den_taxa              float
DECLARE @tp_base_calc_taxa        char(1)
DECLARE @cd_moeda_taxa            char(3)
DECLARE @vl_num_acr               float
DECLARE @vl_den_acr               float
DECLARE @tp_base_calc_acr         char(1)
DECLARE @cd_moeda_acr             char(3)
DECLARE @vl_num_fora_regiao       float
DECLARE @vl_den_fora_regiao       float
DECLARE @tp_base_calc_fora_regiao char(1)
DECLARE @cd_moeda_fora_regiao     char(3)
DECLARE @vl_num_min               float
DECLARE @vl_den_min               float
DECLARE @tp_base_calc_min         char(1)
DECLARE @cd_moeda_min             char(3)
DECLARE @vl_num_max               float
DECLARE @vl_den_max               float
DECLARE @tp_base_calc_max         char(1)
DECLARE @cd_moeda_max             char(3)
DECLARE @dt_base                  datetime
DECLARE @vl_despesas              numeric (13,6)
DECLARE @vl_direitos_isentos      numeric (13,6)
DECLARE @vl_moeda_taxa            numeric (13,6)
DECLARE @vl_moeda_acr             numeric (13,6)
DECLARE @vl_moeda_fora_regiao     numeric (13,6)
DECLARE @vl_moeda_min             numeric (13,6)
DECLARE @vl_moeda_max             numeric (13,6)
DECLARE @vl_base_calculo          numeric (13,6)
DECLARE @vl_minimo                numeric (13,6)
DECLARE @vl_maximo                numeric (13,6)
DECLARE @vl_resultado             numeric (13,6)
DECLARE @cd_base_calc             char(1)
DECLARE @in_embut_frt_itens       char(1)
DECLARE @in_embut_seg_itens       char(1)
DECLARE @vl_total_frete_mn        numeric(14,2)
DECLARE @vl_total_seguro_mn       numeric(14,2)

--SELECIONA OS VALORES PARA CALCULO
IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  SELECT @cd_base_calc        = '0'
  SELECT @cd_cliente           = CD_CLIENTE,
         @cd_unid_neg          = CD_UNID_NEG,
         @cd_produto           = CD_PRODUTO,
         @cd_servico           = CD_SERVICO,
         @cd_local_desembarque = CD_LOCAL_DESEMBARQUE,
         @vl_cif_mn            = ISNULL( VL_CIF_MN, 0 ),
         @vl_vmle_mn           = ISNULL( VL_MLE_MN, 0 ),
         @vl_cif_dolar         = ISNULL( VL_CIF_DOLAR, 0 )
  FROM   TPROCESSO (NOLOCK)
  WHERE  ( NR_PROCESSO = @nr_processo )
END
ELSE
BEGIN
  SELECT @cd_base_calc         = '1'
  SELECT @cd_unid_neg          = CD_UNID_NEG,
         @cd_servico           = CD_SERVICO,
         @cd_local_desembarque = CD_LOCAL_DESEMBARQUE
  FROM   TPROCESSO (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @cd_cliente           = CD_CLIENTE,
         @cd_produto           = SUBSTRING( @nr_processo, 3, 2 ),
         @vl_cif_mn            = ISNULL( VL_MLE_MN, 0 ) + ISNULL( VL_FRETE_MN, 0 ) + ISNULL( VL_SEGURO_MN, 0 ),
         @vl_vmle_mn           = ISNULL( VL_MLE_MN, 0 )
  FROM   TPREVISAO (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
END
IF @@rowcount = 0
BEGIN
  -- Processo/Previsao nao cadastrado
  SELECT  @Resultado = 0
  IF @cd_base_calc = '0' RETURN(1)
  ELSE RETURN(8)
END
ELSE
BEGIN
  -- PESQUISA LOCAL DE EMBARQUE
  SELECT @Resultado         = 0
  SELECT @cd_unid_neg_local = CD_UNID_NEG_LOCAL
  FROM   TLOCAL_EMBARQUE (NOLOCK)
  WHERE  CODIGO = @cd_local_desembarque
  IF @@rowcount = 0
     SELECT @cd_unid_neg_local = @cd_unid_neg
  
  -- PESQUISA RECEITA ITEM
  IF ( SELECT COUNT(*) 
       FROM   TRECEITAS_IMP (NOLOCK)
       WHERE  CD_CLIENTE     = @cd_cliente     AND
              CD_UNID_NEG    = @cd_unid_neg    AND
              CD_PRODUTO     = @cd_produto     AND
              CD_SERVICO     = @cd_servico     AND
              CD_ITEM        = @cd_item        AND
              CD_REGIME_TRIB = @cd_regime_trib ) > 0
    SELECT @cd_regime_trib_aux = @cd_regime_trib
  ELSE
    SELECT @cd_regime_trib_aux = '0'
  SELECT @cd_regime_trib           = CD_REGIME_TRIB,
         @tp_dt_base               = TP_DT_BASE,
         @vl_num_taxa              = ISNULL( VL_NUM_TAXA, 0 ),
         @vl_den_taxa              = ISNULL( VL_DEN_TAXA, 0 ),
         @tp_base_calc_taxa        = TP_BASE_CALC_TAXA,
         @cd_moeda_taxa            = CD_MOEDA_TAXA,
         @vl_num_acr               = ISNULL( VL_NUM_ACR, 0 ),
         @vl_den_acr               = ISNULL( VL_DEN_ACR, 0 ),
         @tp_base_calc_acr         = TP_BASE_CALC_ACR,
         @cd_moeda_acr             = CD_MOEDA_ACR,
         @vl_num_fora_regiao       = ISNULL( VL_NUM_FORA_REGIAO, 0 ),
         @vl_den_fora_regiao       = ISNULL( VL_DEN_FORA_REGIAO, 0 ),
         @tp_base_calc_fora_regiao = TP_BASE_CALC_FORA_REGIAO,
         @cd_moeda_fora_regiao     = CD_MOEDA_FORA_REGIAO,
         @vl_num_min               = ISNULL( VL_NUM_MIN, 0 ),
         @vl_den_min               = ISNULL( VL_DEN_MIN, 0 ),
         @tp_base_calc_min         = TP_BASE_CALC_MIN,
         @cd_moeda_min             = CD_MOEDA_MIN,
         @vl_num_max               = ISNULL( VL_NUM_MAX, 0 ),
         @vl_den_max               = ISNULL( VL_DEN_MAX, 0 ),
         @tp_base_calc_max         = TP_BASE_CALC_MAX,
         @cd_moeda_max             = CD_MOEDA_MAX
  FROM   TRECEITAS_IMP (NOLOCK)
  WHERE  CD_CLIENTE     = @cd_cliente          AND
         CD_UNID_NEG    = @cd_unid_neg         AND
         CD_PRODUTO     = @cd_produto          AND
         CD_SERVICO     = @cd_servico          AND
         CD_ITEM        = @cd_item             AND
         CD_REGIME_TRIB = @cd_regime_trib_aux  AND
         IN_ATIVO       = '1'
  IF @@rowcount = 0
  BEGIN
    -- Receita nao cadastrada
    RETURN(2)
  END
  ELSE
  BEGIN
    --Verifica Frete e Seguro Embutido nos Itens
    IF ISNULL( @Resultado, 0 ) = 0
    BEGIN

      SELECT @in_embut_frt_itens = IN_EMBUT_FRT_ITENS,
             @in_embut_seg_itens = IN_EMBUT_SEG_ITENS,
             @vl_total_frete_mn  = VL_TOTAL_FRETE_MN,
             @vl_total_seguro_mn = VL_TOTAL_SEG_MN
      FROM   TDECLARACAO_IMPORTACAO (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo

      IF @in_embut_frt_itens = '1' SELECT @vl_vmle_mn = @vl_vmle_mn - @vl_total_frete_mn
      IF @in_embut_seg_itens = '1' SELECT @vl_vmle_mn = @vl_vmle_mn - @vl_total_seguro_mn
    END

    -- PESQUISA DATA BASE
    SELECT @dt_base = CONVERT( datetime, CONVERT( varchar, GETDATE(), 103 ), 103 )

    -- PESQUISA DESPESAS
    IF @tp_base_calc_taxa IN ( '1', '2' ) 
    BEGIN
      SELECT @vl_despesas = SUM( 
             CASE FAT.IN_RESTITUI 
                WHEN '0' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) )
                 WHEN '1' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) ) * (-1)
             END ) 
      FROM   TFATURAMENTO_CC FAT (NOLOCK)
      WHERE  FAT.IN_CANCELADO = '0' AND
             FAT.IN_FATURADO = '0' AND 
             FAT.NR_PROCESSO = @nr_processo AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_COMISSAO FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS ) AND
             ISNULL( FAT.CD_ITEM_NAO_FAT, '' ) <> '*' 
    END

    -- PESQUISA DIREITOS ISENTOS
    IF ( @tp_base_calc_taxa        = '2' ) 
    BEGIN
      SELECT @vl_direitos_isentos = SUM( 
             CASE FAT.IN_RESTITUI 
                WHEN '0' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) )
                 WHEN '1' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) ) * (-1)
             END ) 
      FROM   TFATURAMENTO_CC FAT (NOLOCK)
      WHERE  FAT.IN_CANCELADO = '0' AND
             FAT.IN_FATURADO = '0' AND 
             FAT.NR_PROCESSO = @nr_processo AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_COMISSAO FROM TPARAMETROS ) AND
             FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS ) AND
             ISNULL( FAT.CD_ITEM_NAO_FAT, '' ) <> '*' 
    END
    -- CALCULO TAXA
    IF ( @cd_unid_neg_local = @cd_unid_neg ) or ( @vl_num_fora_regiao = 0 )
    BEGIN

      -- CALCULO NORMAL
      IF ( @vl_num_taxa > 0 ) AND ( @vl_den_taxa > 0 )
      BEGIN
        IF (@tp_base_calc_taxa = '5') or (@tp_base_calc_taxa = '6') 
        BEGIN
          SELECT @vl_moeda_taxa = ISNULL( TX_CAMBIO, 0 )
          FROM   TTAXA_CAMBIO (NOLOCK)
          WHERE  CD_MOEDA             =  @cd_moeda_taxa AND
                 DT_INICIO_VIGENCIA   <= @dt_base       AND
                 DT_TERMINO_VIGENCIA  >= @dt_base 
          IF @CD_MOEDA_TAXA=790 
          BEGIN
           SET @VL_MOEDA_TAXA=1      
          END       
          IF @@rowcount = 0 and isnull(@vl_moeda_taxa,0) = 0
          BEGIN
            -- Taxa de Cƒmbio do C lculo da Taxa nao cadastrada
            RETURN(3)
          END
        END
        SELECT @vl_base_calculo = 
          CASE
            WHEN @tp_base_calc_taxa  = '1' THEN ( @vl_despesas )
            WHEN @tp_base_calc_taxa  = '2' THEN ( @vl_despesas + @vl_direitos_isentos )
            WHEN @tp_base_calc_taxa  = '3' THEN ( @vl_vmle_mn )
            WHEN @tp_base_calc_taxa  = '4' THEN ( @vl_cif_mn )
            WHEN @tp_base_calc_taxa  = '5' THEN ( @vl_moeda_taxa )
            WHEN @tp_base_calc_taxa  = '6' THEN ( @vl_cif_dolar * @vl_moeda_taxa)
            ELSE ( 0 )
          END    
        SELECT @vl_resultado = ROUND ( ( @vl_base_calculo * @vl_num_taxa / @vl_den_taxa ), 2 )
      END
    END
    ELSE
    BEGIN

      -- CALCULO FORA DA REGIAO
      IF (@vl_num_fora_regiao > 0) AND (@vl_den_fora_regiao > 0)
      BEGIN
        IF ( @tp_base_calc_fora_regiao = '5' ) or ( @tp_base_calc_fora_regiao = '6' )
        BEGIN
          SELECT @vl_moeda_fora_regiao = ISNULL( TX_CAMBIO, 0 )
          FROM   TTAXA_CAMBIO (NOLOCK)
          WHERE  CD_MOEDA              =  @cd_moeda_fora_regiao AND
                 DT_INICIO_VIGENCIA    <= @dt_base              AND
                 DT_TERMINO_VIGENCIA   >= @dt_base 
          IF @@rowcount = 0
          BEGIN
            -- Taxa de Cƒmbio do C lculo Fora da Regiao nao cadastrada
            RETURN(4)
          END
        END
        SELECT @vl_base_calculo = 
          CASE
            WHEN @tp_base_calc_fora_regiao  = '1' THEN ( @vl_despesas )
            WHEN @tp_base_calc_fora_regiao  = '2' THEN ( @vl_despesas + @vl_direitos_isentos )
            WHEN @tp_base_calc_fora_regiao  = '3' THEN ( @vl_vmle_mn )
            WHEN @tp_base_calc_fora_regiao  = '4' THEN ( @vl_cif_mn )
            WHEN @tp_base_calc_fora_regiao  = '5' THEN ( @vl_moeda_fora_regiao )
            WHEN @tp_base_calc_fora_regiao  = '6' THEN ( @vl_cif_dolar * @vl_moeda_fora_regiao)
            ELSE ( 0 )
          END    
        SELECT @vl_resultado = ROUND ( ( @vl_base_calculo * @vl_num_fora_regiao / @vl_den_fora_regiao ), 2 )
      END
    END

    -- CALCULO MINIMO
    IF ( @vl_num_min > 0 ) AND ( @vl_den_min > 0 )
    BEGIN
      IF (@tp_base_calc_min = '5') or (@tp_base_calc_min = '6') 
      BEGIN
        SELECT @vl_moeda_min = ISNULL( TX_CAMBIO, 0 )
        FROM   TTAXA_CAMBIO (NOLOCK)
        WHERE  CD_MOEDA             =  @cd_moeda_min  AND
               DT_INICIO_VIGENCIA   <= @dt_base       AND
               DT_TERMINO_VIGENCIA  >= @dt_base 
        IF @@rowcount = 0
        BEGIN
          -- Taxa de Cƒmbio do C lculo M¡nimo nao cadastrada
          RETURN(6)
        END
      END
      SELECT @vl_base_calculo = 
        CASE
          WHEN @tp_base_calc_min = '1' THEN ( @vl_despesas )
          WHEN @tp_base_calc_min = '2' THEN ( @vl_despesas + @vl_direitos_isentos )
          WHEN @tp_base_calc_min = '3' THEN ( @vl_vmle_mn )
          WHEN @tp_base_calc_min = '4' THEN ( @vl_cif_mn )
          WHEN @tp_base_calc_min = '5' THEN ( @vl_moeda_min )
          WHEN @tp_base_calc_min = '6' THEN ( @vl_cif_dolar * @vl_moeda_min)
          ELSE ( 0 )
        END    
      SELECT @vl_minimo = ROUND ( ( @vl_base_calculo * @vl_num_min / @vl_den_min ), 2 )
      IF @vl_resultado < @vl_minimo 
        SELECT @vl_resultado = @vl_minimo
    END

    -- CALCULO MAXIMO
    IF ( @vl_num_max > 0 ) AND 
       ( @vl_den_max > 0 )
    BEGIN
      IF (@tp_base_calc_max = '5') or (@tp_base_calc_max = '6')
      BEGIN
        SELECT @vl_moeda_max = ISNULL( TX_CAMBIO, 0 )
        FROM   TTAXA_CAMBIO (NOLOCK)
        WHERE  CD_MOEDA             =  @cd_moeda_max  AND
               DT_INICIO_VIGENCIA   <= @dt_base       AND
               DT_TERMINO_VIGENCIA  >= @dt_base 
        IF @@rowcount = 0
        BEGIN
          -- Taxa de Cƒmbio do C lculo M ximo nao cadastrada
          RETURN(7)
        END
      END
      SELECT @vl_base_calculo = 
        CASE
          WHEN @tp_base_calc_max = '1' THEN ( @vl_despesas )
          WHEN @tp_base_calc_max = '2' THEN ( @vl_despesas + @vl_direitos_isentos )
          WHEN @tp_base_calc_max = '3' THEN ( @vl_vmle_mn )
          WHEN @tp_base_calc_max = '4' THEN ( @vl_cif_mn )
          WHEN @tp_base_calc_max = '5' THEN ( @vl_moeda_max )
          WHEN @tp_base_calc_max = '6' THEN ( @vl_cif_dolar * @vl_moeda_max)
          ELSE ( 0 )
        END    
      SELECT @vl_maximo = ROUND ( ( @vl_base_calculo * @vl_num_max / @vl_den_max ), 2 )
      IF @vl_resultado > @vl_maximo 
         SELECT @vl_resultado = @vl_maximo
    END

    -- CALCULO ACRESCIMO
    IF ( @vl_num_acr > 0 ) AND ( @vl_den_acr > 0 )
    BEGIN
      IF (@tp_base_calc_acr = '5') or (@tp_base_calc_acr = '6')
      BEGIN
        SELECT @vl_moeda_acr        = ISNULL( TX_CAMBIO, 0 )
        FROM   TTAXA_CAMBIO (NOLOCK)
        WHERE  CD_MOEDA             =  @cd_moeda_acr  AND
               DT_INICIO_VIGENCIA   <= @dt_base       AND
               DT_TERMINO_VIGENCIA  >= @dt_base 
        IF @@rowcount = 0
        BEGIN
          -- Taxa de Cƒmbio do C lculo do Acr'scimo nao cadastrada
          RETURN(5)
        END
      END
      SELECT @vl_base_calculo = 
        CASE
          WHEN @tp_base_calc_acr  = '1' THEN ( @vl_despesas )
          WHEN @tp_base_calc_acr  = '2' THEN ( @vl_despesas + @vl_direitos_isentos )
          WHEN @tp_base_calc_acr  = '3' THEN ( @vl_vmle_mn )
          WHEN @tp_base_calc_acr  = '4' THEN ( @vl_cif_mn )
          WHEN @tp_base_calc_acr  = '5' THEN ( @vl_moeda_acr )
          WHEN @tp_base_calc_acr  = '6' THEN ( @vl_cif_dolar * @vl_moeda_acr)
          ELSE ( 0 )
        END    
      SELECT @vl_resultado = @vl_resultado + ROUND ( ( @vl_base_calculo * @vl_num_acr / @vl_den_acr ), 2 )
    END

    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
 
    RETURN(0)
  END     


END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
