USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROC [sp_rel_desvios]  ( @cd_unid_neg char(2),  @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
                             @cd_area char(2),      @dt_inicio datetime, @dt_fim datetime,  @tp_dias char(1),
                             @in_lead_time char(1), @nr_identificador smallint OUTPUT ) AS 
/*
SET NOCOUNT ON


SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_area          char(2)
DECLARE @in_lead_time     char(1)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @tp_dias          char(1)
DECLARE @nr_identificador smallint

SELECT @cd_unid_neg  = '01'
SELECT @cd_produto   = '01'
SELECT @cd_grupo     = '002'
SELECT @cd_cliente   = 'X'
SELECT @cd_area      = 'X'
SELECT @dt_inicio    = CONVERT( datetime, '01/06/2003', 103 )
SELECT @dt_fim       = CONVERT( datetime, '30/06/2003', 103 )
SELECT @tp_dias      = '1'
SELECT @in_lead_time = '1'
*/


SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TREL_DESVIOS

-- Criação da tabela temporária para a contagem de dias úteis
SELECT P.NR_PROCESSO AS NR_PROCESSO, G.NR_META, S.CD_SERVICO,
                    ( SELECT DT_REALIZACAO
                       FROM   TFOLLOWUP FI (NOLOCK)
                       WHERE  FI.NR_PROCESSO = P.NR_PROCESSO AND
                              FI.CD_EVENTO = S.CD_EV_INI AND
                              FI.IN_APLICAVEL = '1' AND
                              FI.DT_REALIZACAO IS NOT NULL ) AS DT_INICIO,
                    ( SELECT DT_REALIZACAO
                       FROM   TFOLLOWUP FF (NOLOCK)
                       WHERE  FF.NR_PROCESSO = P.NR_PROCESSO AND
                              FF.CD_EVENTO = S.CD_EV_FIM AND
                              FF.IN_APLICAVEL = '1' AND
                              FF.DT_REALIZACAO IS NOT NULL ) AS DT_FIM                       
INTO   #TMP_DIAS
FROM   TPROCESSO P (NOLOCK)
           INNER JOIN TFOLLOWUP F (NOLOCK)      ON ( P.NR_PROCESSO = F.NR_PROCESSO )
           INNER JOIN VW_SERVICO_GERAL S (NOLOCK)       ON ( P.CD_SERVICO = S.CD_SERVICO AND S.CD_EVENTO_CONCLUSOR = F.CD_EVENTO ) 
           INNER JOIN TGRUPO_SERVICO G (NOLOCK) ON ( S.CD_GRUPO = G.CD_GRUPO  )
           INNER JOIN TFOLLOWUP FI (NOLOCK)     ON ( FI.NR_PROCESSO = P.NR_PROCESSO AND FI.CD_EVENTO = S.CD_EV_INI )
           INNER JOIN TFOLLOWUP FF (NOLOCK)     ON ( FF.NR_PROCESSO = P.NR_PROCESSO AND FF.CD_EVENTO = S.CD_EV_FIM )
WHERE  @cd_unid_neg  IN ( P.CD_UNID_NEG, 'X' )        AND
       @cd_produto   IN ( P.CD_PRODUTO,  'X' )        AND
       @cd_grupo     IN ( P.CD_GRUPO,    'X' )        AND
       @cd_cliente   IN ( P.CD_CLIENTE,  'X' )        AND
       @cd_area      IN ( P.CD_AREA,     'X' )        AND
       @in_lead_time IN ( P.IN_REL_LEAD_TIME, '2' )   AND
       F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
       FI.IN_APLICAVEL = '1'          AND
       FF.IN_APLICAVEL = '1'          AND
       FF.DT_REALIZACAO IS NOT NULL   AND   
       FI.DT_REALIZACAO IS NOT NULL   AND
       P.IN_CANCELADO = '0'           AND
       S.IN_ATIVO = '1'


-- Executando stored procedure sp_conta_dias para contagem de dias úteis
DECLARE @nr_dias int
DECLARE @dt_inicio_i datetime 
DECLARE @dt_fim_f datetime
DECLARE @nr_processo char(18)

DECLARE c_data_cursor  CURSOR FOR
SELECT NR_PROCESSO, DT_INICIO, DT_FIM
FROM   #TMP_DIAS

SELECT @nr_processo AS NR_PROCESSO,  @nr_dias AS NR_DIAS, @dt_inicio_i AS DT_INICIO, @dt_fim_f AS DT_FIM  
INTO   #TMP_DIAS_UTEIS  
FROM   #TMP_DIAS
WHERE  1 = 0

OPEN c_data_cursor  

FETCH c_data_cursor  INTO @nr_processo, @dt_inicio_i, @dt_fim_f
WHILE ( @@FETCH_STATUS = 0 ) 
BEGIN

  IF DATEDIFF( D, @dt_inicio_i, @dt_fim_f ) < 0
  BEGIN
    CLOSE c_data_cursor  
    DEALLOCATE c_data_cursor
    DROP TABLE #TMP_DIAS_UTEIS
    DROP TABLE #TMP_DIAS
    RETURN(1)
  END

  EXEC sp_conta_dias @tp_dias, @dt_inicio_i, @dt_fim_f, @nr_dias OUTPUT

  INSERT #TMP_DIAS_UTEIS  ( NR_PROCESSO, NR_DIAS, DT_INICIO, DT_FIM )
  VALUES ( @nr_processo, @nr_dias , @dt_inicio_i, @dt_fim_f )

  FETCH c_data_cursor  INTO  @nr_processo, @dt_inicio_i, @dt_fim_f
END
CLOSE c_data_cursor  
DEALLOCATE c_data_cursor

-- Criação da tabela temporária final para relatório
SELECT D.NR_PROCESSO, D.CD_SERVICO, 
                      ( SELECT NR_DIAS 
                        FROM   #TMP_DIAS_UTEIS TDU
                        WHERE  TDU.NR_PROCESSO = D.NR_PROCESSO ) AS NR_DIAS,
       D.NR_META,
       CASE 
         WHEN ( SELECT NR_DIAS 
                FROM   #TMP_DIAS_UTEIS TDU
                WHERE  TDU.NR_PROCESSO = D.NR_PROCESSO ) <= D.NR_META THEN 1
         ELSE 0
       END AS ABAIXO_META,
       CASE  
         WHEN  ( SELECT NR_DIAS 
                 FROM   #TMP_DIAS_UTEIS TDU
                 WHERE  TDU.NR_PROCESSO = D.NR_PROCESSO ) <= D.NR_META THEN
                       ( SELECT NR_DIAS 
                         FROM   #TMP_DIAS_UTEIS TDU
                         WHERE  TDU.NR_PROCESSO = D.NR_PROCESSO )
         ELSE 0
       END AS NR_DIAS_ABAIXO_META,
       CASE
         WHEN  ( SELECT NR_DIAS 
                 FROM   #TMP_DIAS_UTEIS TDU
                 WHERE  TDU.NR_PROCESSO = D.NR_PROCESSO ) <= D.NR_META THEN 0
         ELSE 1
       END AS ACIMA_META,
       CASE
         WHEN  ( SELECT NR_DIAS 
                 FROM   #TMP_DIAS_UTEIS TDU
                 WHERE  TDU.NR_PROCESSO = D.NR_PROCESSO ) <= D.NR_META THEN 0
         ELSE
                       ( SELECT NR_DIAS 
                         FROM   #TMP_DIAS_UTEIS TDU
                         WHERE  TDU.NR_PROCESSO = D.NR_PROCESSO )
       END AS NR_DIAS_ACIMA_META
INTO #TMP_REL_DESVIOS
FROM #TMP_DIAS D 

-- Dados agrupados para Relatório de Desvios 
INSERT TREL_DESVIOS ( NR_IDENTIFICADOR, CD_GRUPO, CD_SERVICO, QT_TOT_PROC, NR_META, 
                      QT_ABAIXO_META, NR_DIAS_ABAIXO_META, MEDIA_ABAIXO_META, 
                      QT_ACIMA_META, NR_DIAS_ACIMA_META, MEDIA_ACIMA_META, MEDIA_GRUPO )
SELECT @nr_identificador, S.CD_GRUPO, P.CD_SERVICO, COUNT( P.CD_SERVICO ) AS QT_TOT_PROC, G.NR_META,
       SUM( ABAIXO_META ) AS QT_ABAIXO_META, SUM( NR_DIAS_ABAIXO_META ) AS NR_DIAS_ABAIXO_META, SUM( NR_DIAS_ABAIXO_META ) / CASE WHEN SUM( ABAIXO_META )=0  THEN 1 ELSE  SUM( ABAIXO_META ) END AS MEDIA_ABAIXO_META, 
       SUM( ACIMA_META ) AS QT_ACIMA_META, SUM( NR_DIAS_ACIMA_META ) AS NR_DIAS_ACIMA_META, SUM( NR_DIAS_ACIMA_META ) / CASE WHEN SUM( ACIMA_META )=0  THEN 1 ELSE  SUM( ACIMA_META ) END AS MEDIA_ACIMA_META,
       ROUND( 
       ISNULL( CONVERT( float, 
           ( ( SUM( ABAIXO_META ) * 
               ( SUM( NR_DIAS_ABAIXO_META ) / CASE WHEN SUM( ABAIXO_META ) = 0 THEN 1 ELSE SUM( ABAIXO_META ) END ) ) +   
             ( SUM( ACIMA_META ) * 
               ( SUM( NR_DIAS_ACIMA_META  ) / CASE WHEN SUM( ACIMA_META ) = 0 THEN 1 ELSE SUM( ACIMA_META ) END ) ) 
           ) / 
           CONVERT( float, ISNULL( COUNT( P.CD_SERVICO ), 1 ) ) ), 0 ), 1 ) AS MEDIA_GRUPO
FROM   #TMP_REL_DESVIOS P, TGRUPO_SERVICO G (NOLOCK), VW_SERVICO_GERAL S (NOLOCK)
WHERE  P.CD_SERVICO = S.CD_SERVICO AND
       S.CD_GRUPO *= G.CD_GRUPO
GROUP BY S.CD_GRUPO, P.CD_SERVICO, S.CD_EV_INI, S.CD_EV_FIM, G.NR_META
ORDER BY S.CD_GRUPO, P.CD_SERVICO


-- Seleciona apenas os processos acima da média 
SELECT NR_PROCESSO, CD_SERVICO, NR_DIAS
INTO   #TMP_DESVIOS_PROCESSOS
FROM   #TMP_REL_DESVIOS
WHERE  ACIMA_META > 0

-- Calcula dias de atraso
SELECT DP.NR_PROCESSO, F.CD_SERVICO, F.CD_EVENTO, F.NR_ORDEM, DP.NR_DIAS, 
       CASE
         WHEN ISNULL( F.DT_LIMITE, 0 ) <> 0 THEN
           DATEDIFF( d, F.DT_LIMITE, F.DT_REALIZACAO )
         ELSE 
           CASE
             WHEN ISNULL( F.DT_PREVISTA, 0 ) <> 0 THEN
               DATEDIFF( d, F.DT_PREVISTA, F.DT_REALIZACAO ) 
             ELSE 0
           END
       END AS DIAS     
INTO   #TMP_SERVICO
FROM   #TMP_DESVIOS_PROCESSOS DP, TFOLLOWUP F
WHERE  F.NR_PROCESSO = DP.NR_PROCESSO
  AND  F.IN_APLICAVEL = '1'
  AND  ISNULL( F.DT_REALIZACAO, 0 ) <> 0

-- Coloca referência, empresa e prest. serv. somente nos processos com evento acima da meta
SELECT S.NR_PROCESSO, S.CD_SERVICO, S.CD_EVENTO, S.NR_ORDEM, SUBSTRING( E.AP_EVENTO, 1, 10 ) AS AP_EVENTO,
       PS.NM_PREST_SERV, S.DIAS, EM.AP_EMPRESA, SUBSTRING( P.TX_MERCADORIA, 1, 30 ) AS MERCADORIA, 
       S.NR_DIAS AS LEAD_TIME, C.NM_CANAL AS CANAL, 
       ( SELECT R.CD_REFERENCIA
         FROM   TREF_CLIENTE R (NOLOCK)
         WHERE  R.NR_PROCESSO = S.NR_PROCESSO
           AND  R.NR_SEQUENCIA =( SELECT MIN( C.NR_SEQUENCIA ) 
                                  FROM   TREF_CLIENTE C (NOLOCK)
                                  WHERE  C.NR_PROCESSO = R.NR_PROCESSO ) ) AS REFERENCIA
INTO   #TMP_SERVICO_S
FROM   #TMP_SERVICO S, TEVENTO E(NOLOCK), TTP_PREST_SERV PS (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_EST EM (NOLOCK), TTP_CANAL C (NOLOCK)
WHERE  S.CD_EVENTO = E.CD_EVENTO
  AND  E.CD_PREST_SERV = PS.CD_PREST_SERV 
  AND  P.NR_PROCESSO = S.NR_PROCESSO
  AND  P.CD_EMP_EST = EM.CD_EMPRESA
  AND  P.CD_CANAL = C.CD_CANAL
  AND  S.DIAS > 0


DECLARE @nr_processo_evento char(18)
DECLARE @dias_evento        varchar(3)
DECLARE @cd_evento          char(3)
DECLARE @evento_servico     char(3)
DECLARE @ap_evento          varchar(15)
DECLARE @evento_atrasado    varchar(40)
DECLARE @nm_prest_serv      varchar(40)
DECLARE @prest_atrasado     varchar(40)

-- Junta todos os eventos atrasados em um campo. Junta todos prest. serv. dos eventos atrasados
-- em um campo
DECLARE c_processos CURSOR FOR
  SELECT NR_PROCESSO
  FROM #TMP_DESVIOS_PROCESSOS

OPEN c_processos
FETCH c_processos INTO @nr_processo_evento
WHILE ( @@FETCH_STATUS )= 0
BEGIN

  SELECT @cd_evento = ''
  SELECT @evento_atrasado = ''
  SELECT @prest_atrasado = ''

  DECLARE c_eventos CURSOR FOR
    SELECT DIAS, AP_EVENTO, NM_PREST_SERV, CD_EVENTO
    FROM   #TMP_SERVICO_S
    WHERE  NR_PROCESSO = @nr_processo_evento
    ORDER BY NR_ORDEM
    
  OPEN c_eventos
  FETCH c_eventos INTO @dias_evento, @ap_evento, @nm_prest_serv, @cd_evento
  WHILE ( @@FETCH_STATUS )= 0
  BEGIN
    SELECT @evento_servico = @cd_evento
    SELECT @evento_atrasado = @evento_atrasado + RTRIM( @ap_evento ) + '-' + RTRIM( @dias_evento ) + ' Dias  '
    SELECT @prest_atrasado = @prest_atrasado + RTRIM( @nm_prest_serv ) + ' '  
 
    FETCH c_eventos INTO @dias_evento, @ap_evento, @nm_prest_serv, @cd_evento
  END
  CLOSE c_eventos
  DEALLOCATE c_eventos


  INSERT TREL_DESVIOS_EVENTOS ( NR_IDENTIFICADOR, NR_PROCESSO, CD_SERVICO, AP_EMPRESA, 
                                REFERENCIA, MERCADORIA, EVENTOS, PRESTADORES, LEAD_TIME, CANAL )
  SELECT DISTINCT @nr_identificador, SUBSTRING( NR_PROCESSO, 5, 10 ), CD_SERVICO, AP_EMPRESA, REFERENCIA, 
         SUBSTRING( MERCADORIA, 1, 20 ), @evento_atrasado AS EVENTOS, @prest_atrasado AS PRESTADORES, 
         LEAD_TIME, CANAL
  FROM   #TMP_SERVICO_S
  WHERE  NR_PROCESSO = @nr_processo_evento
    AND  CD_EVENTO = @cd_evento   
  
  FETCH c_processos INTO @nr_processo_evento
END
CLOSE c_processos
DEALLOCATE c_processos

--Grava processos com evento acima da meta na tabela para Grafico
INSERT TREL_DESVIOS_GRAF( NR_IDENTIFICADOR, NR_PROCESSO, DIAS, AP_EVENTO, NM_PREST_SERV, CD_EVENTO )
SELECT @nr_identificador, TMPS.NR_PROCESSO, TMPS.DIAS, TMPS.AP_EVENTO, TMPS.NM_PREST_SERV, TMPS.CD_EVENTO
FROM   #TMP_SERVICO_S TMPS, #TMP_DESVIOS_PROCESSOS TMPP
WHERE  TMPS.NR_PROCESSO = TMPP.NR_PROCESSO
GROUP BY TMPS.NR_PROCESSO, TMPS.DIAS, TMPS.AP_EVENTO, TMPS.NM_PREST_SERV, TMPS.CD_EVENTO
ORDER BY TMPS.NR_PROCESSO 

UPDATE TREL_DESVIOS_EVENTOS
SET mercadoria = replace(MERCADORIA, char(13),  ' ')
WHERE 1 = 1

UPDATE TREL_DESVIOS_EVENTOS
SET mercadoria = replace(MERCADORIA, char(10),  ' ')
WHERE 1 = 1

UPDATE TREL_DESVIOS_EVENTOS
SET mercadoria = replace(MERCADORIA, char(9),  ' ')
WHERE 1 = 1


DROP TABLE #TMP_DIAS
DROP TABLE #TMP_DIAS_UTEIS
DROP TABLE #TMP_REL_DESVIOS
DROP TABLE #TMP_DESVIOS_PROCESSOS
DROP TABLE #TMP_SERVICO
DROP TABLE #TMP_SERVICO_S


/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
