USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored Procedure dbo.sp_atualiza_deadline    Script Date: 26/11/1998 19:07:06 ******/
CREATE PROCEDURE [sp_atualiza_deadline]( @nr_processo char(18) ) AS

/*
BEGIN TRAN
DECLARE @NR_PROCESSO CHAR(18)
SET @NR_PROCESSO = '0102EM-3127-11'
--*/
BEGIN 
    -- Data Dead Line BL
    UPDATE TFOLLOWUP 
    SET DT_REALIZACAO = I.DT_DEADLINE_BL + CASE ISDATE(ISNULL(LEFT(REPLACE(I.HR_DEADLINE_BL + '00', ' ', '0'), 8), '00:00:00'))
                                               WHEN 0 THEN 0
                                           ELSE CONVERT(DATETIME, ISNULL(LEFT(REPLACE(I.HR_DEADLINE_BL + '00', ' ', '0'), 8), '00:00:00'), 108)
                                           END
    FROM TPROCESSO P (NOLOCK), TVIAGEM_DEADLINE I, TFOLLOWUP F (NOLOCK)
    WHERE I.CD_UNID_NEG   = (CASE P.CD_UNID_NEG WHEN '07' THEN '01' ELSE P.CD_UNID_NEG END) 
      AND I.CD_PRODUTO    = P.CD_PRODUTO
      AND I.CD_EMBARCACAO = P.CD_EMBARCACAO
      AND I.NR_VIAGEM     = P.NR_VIAGEM
      AND I.CD_AGENTE     = P.CD_AGENTE
      AND I.TP_ESTUFAGEM  = P.TP_ESTUFAGEM
      AND P.NR_PROCESSO   = F.NR_PROCESSO
      AND P.CD_PRODUTO    = '02'
      AND F.CD_EVENTO     = '270'
      AND F.IN_APLICAVEL  = '1' 
      AND P.NR_PROCESSO   = @nr_processo
      
      
    -- Data Dead Line Carga
    UPDATE TFOLLOWUP 
    SET DT_REALIZACAO = I.DT_DEADLINE_CARGA + CASE ISDATE(ISNULL(LEFT(REPLACE(I.HR_DEADLINE_CARGA + '00', ' ', '0'), 8), '00:00:00'))
                                                  WHEN 0 THEN 0
                                              ELSE CONVERT(DATETIME, ISNULL(LEFT(REPLACE(I.HR_DEADLINE_CARGA + '00', ' ', '0'), 8), '00:00:00'), 108)
                                              END
    FROM TPROCESSO P (NOLOCK), TVIAGEM_DEADLINE I, TFOLLOWUP F (NOLOCK)
    WHERE I.CD_UNID_NEG   = (CASE P.CD_UNID_NEG WHEN '07' THEN '01' ELSE P.CD_UNID_NEG END) 
      AND I.CD_PRODUTO    = P.CD_PRODUTO
      AND I.CD_EMBARCACAO = P.CD_EMBARCACAO
      AND I.NR_VIAGEM     = P.NR_VIAGEM
      AND I.CD_AGENTE     = P.CD_AGENTE
      AND I.TP_ESTUFAGEM  = P.TP_ESTUFAGEM
      AND P.NR_PROCESSO   = F.NR_PROCESSO
      AND P.CD_PRODUTO    = '02'
      AND F.CD_EVENTO     = '271'
      AND F.IN_APLICAVEL  = '1' 
      AND P.NR_PROCESSO   = @nr_processo 
      
END






GO
