USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_duplica_eventos    Script Date: 02/09/1999 08:57:47 AM ******/
CREATE PROCEDURE [sp_duplica_eventos] ( @cd_servico_fonte char(3), @cd_servico_destino char(3) ) AS
/* Transferir dados Servi+o X Evento */
INSERT INTO TSERVICO_EVENTO
   SELECT @cd_servico_destino, CD_EVENTO, NR_ORDEM, CD_EV_BASICO, PZ_DO_EV_BASICO, CD_EV_FUTURO, PZ_ATE_EV_FUTURO, CD_TIPO_EVENTO
   FROM   TSERVICO_EVENTO
   WHERE  CD_SERVICO = @cd_servico_fonte



GO
