USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [sp_exclui_login] ( @usuario varchar(20) ) AS
DECLARE @comando varchar(255)

IF (SELECT COUNT(*) 
     FROM master..syslogins 
      WHERE NAME= @usuario ) <> 0
BEGIN
   EXEC sp_dropsrvrolemember @usuario, 'securityadmin'
   EXEC sp_droprolemember 'db_owner', @usuario
   SELECT @comando = "USE BROKER EXEC sp_revokedbaccess " + @usuario
   EXEC (@comando)
   EXEC sp_droplogin @usuario
   RETURN (0)
END
ELSE
  RETURN (1)
GO
