USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [sp_distribui_ctaapagar] ( @dt_movimento datetime, @cd_unid_neg char(2), @qt_imp int output ) AS


/*
SET XACT_ABORT ON
BEGIN TRAN     

DECLARE @dt_movimento datetime
DECLARE @cd_unid_neg char(2)
--DECLARE @qt_imp int 

SELECT @dt_movimento = '2005-08-16'
SELECT @cd_unid_neg = '01'

ROLLBACK TRAN
SET XACT_ABORT ON
*/

DECLARE @in_operacional     char(1)
DECLARE @cd_coligada        char(2)
DECLARE @nr_ult_lanc_caixa	int
DECLARE @nr_ult_lanc_adm	  int
DECLARE @ult_lanc 		      char(6)
DECLARE @ult_lanc_adm		    char(3)
DECLARE @nm_historico       varchar(250)
DECLARE @compl_hist		      varchar(180)
DECLARE @dt_ctaapagar 	    datetime
DECLARE @dt_vencimento 	    datetime
DECLARE @nr_ctaapagar 	    char(3)
DECLARE @cd_fornecedor 	    char(5)
DECLARE @cd_favorecido 	   	char(5)
DECLARE @cd_banco 	      	char(3)
DECLARE @nr_cheque 		      char(6)
DECLARE @tp_pagamento 		  char(1)
DECLARE @in_cancelado		    char(1)
DECLARE @vl_pagto 		      float
DECLARE @cd_ct_ctaapagar	  char(12)
DECLARE @cd_ct_contabil	  	char(12)
DECLARE @cd_ct_contabil_far char(12)
DECLARE @cd_filial      		char(2)
DECLARE @vl_lancamento	   	float
DECLARE @cd_usuario         char(4)
DECLARE @in_distribui       char(1)
DECLARE @IN_TED        			char(1)
DECLARE @cd_ct_gerencial    char(4)
DECLARE @vl_distr_gerencial float
DECLARE @dt_montagem		    datetime
DECLARE @ULT_REF		        char(3)
DECLARE @NR_DOCTO		        char(6)
DECLARE @NM_FAVORECIDO		  char(50)
DECLARE @NR_TITULO	      	char(15)
DECLARE @CODIGO			        int
DECLARE @VL_IR		        	float
DECLARE @VL_INSS       	   	float
DECLARE @VL_PISCOFINS  		  float
DECLARE @VL_ISS        		  float
DECLARE @ALIQ_IRFF		      float
DECLARE @ALIQ_INSS     		  float
DECLARE @ALIQ_ISS      		  float
DECLARE @ALIQ_PISCOFINS	   	float
DECLARE @NR_REF		        	char(3)
DECLARE @cd_ct_custo        char(25)
DECLARE @in_lanc_provisionado char(1)
DECLARE @in_selecionado char(1)
DECLARE @nm_hist_lanc         varchar(250)
DECLARE @CD_RATEIO char(4)

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_NAME()

SELECT @cd_ct_ctaapagar = CD_CT_CTAAPAGAR
FROM   TPARAMETROS (NOLOCK)

SELECT  P.DT_CTAAPAGAR, P.NR_CTAAPAGAR, P.CD_FORNECEDOR, P.CD_FAVORECIDO, P.NM_HISTORICO,        P.TP_PAGAMENTO, P.CD_BANCO, P.NR_CHEQUE, P.IN_CANCELADO, ISNULL( P.VL_LIQUIDO, 0) VL_PAGTO,
        (F.AP_FAVORECIDO + ' ' +
        CASE CD_TIPO_PESSOA
          WHEN '1' THEN 
                   ( 'CNPJ - ' + 
                     SUBSTRING( F.CGC_EMPRESA, 1, 2 ) + '.' + 
                     SUBSTRING( F.CGC_EMPRESA, 3, 3 ) + '.' +
                     SUBSTRING( F.CGC_EMPRESA, 6, 3 ) + '/' + 
                     SUBSTRING( F.CGC_EMPRESA, 9, 4 ) + '-' + 
                     SUBSTRING( F.CGC_EMPRESA, 13, 2 ) )
          ELSE     ( 'CPF - ' + 
                     SUBSTRING( F.CPF_EMPRESA, 1, 3 ) + '.' +
                     SUBSTRING( F.CPF_EMPRESA, 4, 3 ) + '.' +
                     SUBSTRING( F.CPF_EMPRESA, 7, 3 ) + '-' +
                     SUBSTRING( F.CPF_EMPRESA, 10, 2 ) )
        END ) COMPL_HIST, P.DT_VENCIMENTO, P.DT_MONTAGEM, P.VL_IR, F.NM_FAVORECIDO, P.NR_TITULO, P.DT_PAGAMENTO, 
  		P.VL_ISS, P.VL_PISCOFINS, P.VL_INSS, F.ALIQ_IRFF, F.ALIQ_INSS, F.ALIQ_PISCOFINS,
                F.ALIQ_ISS, P.NR_REF, P.IN_LANC_PROVISIONADO, P.IN_SELECIONADO
INTO  #TMP_CTAAPAGAR
FROM  TCTAAPAGAR P
      LEFT JOIN TFAVORECIDO F  ON ( P.CD_FORNECEDOR = F.CD_FAVORECIDO )
WHERE P.CD_UNID_NEG  =  @cd_unid_neg AND  -- Cheque ou TED compara com DT_LIBERACAO
    	( ( ( (P.TP_PAGAMENTO = 'C') OR (P.TP_PAGAMENTO = 'T') ) AND ( CONVERT( VARCHAR, P.DT_LIBERACAO,103 ) <= CONVERT( VARCHAR, GETDATE(),103) ) )
	    OR                                  -- Dinheiro ou Déb.Conta compara com DT_PAGAMENTO
     	( ( ( P.TP_PAGAMENTO = '$') OR (P.TP_PAGAMENTO = 'D') ) AND ( CONVERT( VARCHAR, P.DT_PAGAMENTO,103 ) <= CONVERT( VARCHAR, @dt_movimento,103 ) ) ) )
	    AND P.IN_TRANSFERIDO = '0' AND P.IN_LIBERADO  =  '1'  


SELECT @CD_COLIGADA = '01'

SELECT @nr_ult_lanc_caixa = ISNULL( CONVERT( INT, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ), 0 )FROM   TCAIXA (TABLOCK HOLDLOCK)WHERE  DT_MOVIMENTO = @dt_movimento 
  AND  CD_COLIGADA  = @cd_coligada

SELECT @nr_ult_lanc_caixa = ISNULL( @nr_ult_lanc_caixa, 0 )

WHILE ( SELECT COUNT(*) FROM #TMP_CTAAPAGAR) > 0 
BEGIN 
  SELECT TOP 1
    @dt_ctaapagar   = dt_ctaapagar,
    @nr_ctaapagar   = nr_ctaapagar,
    @cd_fornecedor  = cd_fornecedor,
    @cd_favorecido  = cd_favorecido,
    @nm_historico   = nm_historico,
    @tp_pagamento   = tp_pagamento,
    @cd_banco 	    = cd_banco,
    @nr_cheque      = nr_cheque,
    @in_cancelado   = in_cancelado,
    @vl_pagto       = vl_pagto,
    @compl_hist     = compl_hist,
    @dt_vencimento  = dt_vencimento, 
    @dt_montagem    = dt_montagem, 
    @NM_FAVORECIDO  = nm_favorecido, 
    @NR_TITULO      = nr_titulo, 
    @ALIQ_IRFF      = aliq_irff, 
    @ALIQ_INSS      = aliq_inss, 
    @ALIQ_ISS       = aliq_iss,
    @ALIQ_PISCOFINS = aliq_piscofins,
    @NR_REF         = nr_ref,
    @in_lanc_provisionado = in_lanc_provisionado,
    @in_selecionado = in_selecionado
  FROM #TMP_CTAAPAGAR


  DECLARE c_lanc CURSOR FOR
    SELECT CD_CT_CONTABIL, CD_FILIAL, VL_LANCAMENTO, CODIGO, CD_CT_CUSTO, SUBSTRING( NM_HISTORICO, 1, 250 ), CD_RATEIO
    FROM   TCTAAPAGAR_LANC
    WHERE  CD_UNID_NEG  = @cd_unid_neg  AND
           DT_CTAAPAGAR = @dt_ctaapagar AND
           NR_CTAAPAGAR = @nr_ctaapagar
  OPEN c_lanc
  FETCH c_lanc INTO @cd_ct_contabil, @cd_filial, @vl_lancamento, @CODIGO, @cd_ct_custo, @nm_hist_lanc, @CD_RATEIO


  IF @in_lanc_provisionado = '1'
    SELECT @nm_historico = @NM_FAVORECIDO + ' ' + 'Nº NF ' + @NR_TITULO + ' Vencto: ' + CONVERT( CHAR, @DT_VENCIMENTO,103)
  ELSE
    SELECT @nm_historico = @nm_hist_lanc


  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @in_distribui = IN_DISTRIBUI
    FROM   TCONTABIL_PLANO
    WHERE  CD_COLIGADA = @cd_coligada AND
           CD_CT_CONTABIL = @cd_ct_contabil

    IF (@tp_pagamento = 'C') or (@tp_pagamento = 'T')--Cheque
    BEGIN
      IF @tp_pagamento = 'T'
  	SET @IN_TED = '1' 
      ELSE
   	SET @IN_TED = '0' 

      SELECT @in_operacional = ( SELECT IN_OPERACIONAL
                                 FROM   TCTAAPAGAR 
                                 WHERE  CD_UNID_NEG  = @cd_unid_neg  AND
                                        DT_CTAAPAGAR = @dt_ctaapagar AND 
                                        NR_CTAAPAGAR = @nr_ctaapagar )  
       
      SELECT @nr_ult_lanc_adm = ISNULL( CONVERT( INT, MAX( ISNULL( NR_LANCAMENTO, '000' ) ) ), 0 )      FROM   TADM (TABLOCK HOLDLOCK)      WHERE  DT_LANCTO = @dt_ctaapagar 
        AND  CD_UNID_NEG = @cd_unid_neg

      SELECT @nr_ult_lanc_adm = @nr_ult_lanc_adm + 1
      SELECT @ult_lanc_adm = RIGHT( '000' + CONVERT( VARCHAR, @nr_ult_lanc_adm ), 3 )

      -- Seleciona Cta Contábil Correta  -  30/09/2005
      SELECT @cd_ct_contabil_far = F.CD_CT_CONTABIL
      FROM   TFAVORECIDO F (NOLOCK)
             INNER JOIN TCTAAPAGAR C (NOLOCK) ON ( F.CD_FAVORECIDO = C.CD_FORNECEDOR )
      WHERE  C.CD_UNID_NEG  = @cd_unid_neg  AND
             C.DT_CTAAPAGAR = @dt_ctaapagar AND 
             C.NR_CTAAPAGAR = @nr_ctaapagar 
       
      IF @in_lanc_provisionado = '0'
        SELECT  @cd_ct_contabil_far = @cd_ct_contabil      

      INSERT TADM ( CD_UNID_NEG, DT_LANCTO, CD_CT_CONTABIL, CD_CT_CONTABIL_CTAAPAGAR, TP_NATUREZA, 
                    NR_LANCAMENTO, CD_FAVORECIDO, CD_BANCO, VL_LANCTO, CD_STATUS_ADM, CD_USUARIO_SOLIC, IN_SOLICITADO, 
                    DT_VENCTO, CD_STATUS_CHEQUE, IN_TRANSF_FIN, VL_DESCONTO, VL_PERC_DESCONTO, TX_HISTORICO,
                    TP_LANCAMENTO, IN_IMP_NF_SERV, NR_CTAAPAGAR, CODIGO_CTAAPAGAR_LANC,
                    IN_OPERACIONAL, IN_TED, CD_USUARIO_MONTA, DT_MONTAGEM, NR_REF, DT_PAGTO,
                    NR_DOCTO, CD_CT_CUSTO, IN_SELECIONADO )
      VALUES ( @cd_unid_neg, @dt_ctaapagar, @cd_ct_contabil_far, @cd_ct_contabil, CASE @in_cancelado WHEN '0' THEN 'D' ELSE 'C' END, 
               @ult_lanc_adm, @cd_favorecido, @cd_banco, @vl_lancamento, CASE @tp_pagamento WHEN 'C' THEN '16' ELSE '19' END, @cd_usuario, '1',
               @dt_vencimento, '0', '0', 0, 0, 
               CASE @in_cancelado WHEN '0' THEN @nm_historico ELSE 'ESTORNO/' + @nm_historico END, 'C', '0', 
               @nr_ctaapagar, @codigo,
               @in_operacional, @IN_TED, @cd_usuario, @dt_montagem, @NR_REF, @dt_montagem,
               @NR_DOCTO, SUBSTRING( @cd_ct_custo, 1, 4 ), @in_selecionado ) 

      -- Distribuição Gerencial
      IF @in_distribui = '1'
      BEGIN
        DECLARE c_distr_ger CURSOR FOR
          SELECT CD_CT_GERENCIAL, VL_LANCAMENTO
          FROM   TCTAAPAGAR_GER
          WHERE  CD_UNID_NEG    = @cd_unid_neg AND
                 DT_CTAAPAGAR   = @dt_ctaapagar AND
                 NR_CTAAPAGAR   = @nr_ctaapagar AND
                 CD_CT_CONTABIL = @cd_ct_contabil
          OPEN c_distr_ger
          FETCH c_distr_ger INTO @cd_ct_gerencial, @vl_distr_gerencial
          WHILE @@fetch_status = 0 
          BEGIN
            SELECT @nr_ult_lanc_adm = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000' ) ) )             FROM   TADM_GERENCIAL (TABLOCK HOLDLOCK)            WHERE  DT_LANCTO       = @dt_ctaapagar AND
                   CD_UNID_NEG     = @cd_unid_neg 

            SELECT @nr_ult_lanc_adm = ISNULL( @nr_ult_lanc_adm,0 ) + 1

            SELECT @ult_lanc_adm = RIGHT( '000' + CONVERT( VARCHAR, @nr_ult_lanc_adm ), 3 )             

            INSERT TADM_GERENCIAL( CD_UNID_NEG, DT_LANCTO, NR_LANCAMENTO, CD_CT_GERENCIAL, VL_LANCTO )
            VALUES ( @cd_unid_neg, @dt_ctaapagar, @ult_lanc_adm, @cd_ct_gerencial, @vl_distr_gerencial ) 

            FETCH c_distr_ger INTO @cd_ct_gerencial, @vl_distr_gerencial
          END
          CLOSE c_distr_ger
          DEALLOCATE c_distr_ger
      END
    END
    ELSE  -- Dinheiro ou Déb.Conta
    BEGIN

      SELECT @nr_ult_lanc_caixa = @nr_ult_lanc_caixa + 1
      SELECT @ult_lanc = RIGHT( '000000' + CONVERT( VARCHAR, @nr_ult_lanc_caixa ), 6 )

      SELECT @VL_INSS      = @vl_lancamento * (@ALIQ_INSS/100)
      SELECT @VL_PISCOFINS = 0
      SELECT @VL_ISS       = @vl_lancamento * (@ALIQ_ISS/100)
      SELECT @VL_IR        = @vl_lancamento * (@ALIQ_IRFF/100)
	 
      -- Seleciona Cta Contábil Correta  -  30/09/2005
      SELECT @cd_ct_contabil_far = F.CD_CT_CONTABIL
      FROM   TFAVORECIDO F (NOLOCK)
             INNER JOIN TCTAAPAGAR C (NOLOCK) ON ( F.CD_FAVORECIDO = C.CD_FORNECEDOR )
      WHERE  C.CD_UNID_NEG  = @cd_unid_neg  AND
             C.DT_CTAAPAGAR = @dt_ctaapagar AND 
             C.NR_CTAAPAGAR = @nr_ctaapagar 

      IF @in_lanc_provisionado = '0'
        SELECT  @cd_ct_contabil_far = @cd_ct_contabil      

      INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, 
                      IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, 
                      CD_BANCO, NR_CHEQUE, CD_CT_CONTABIL, CD_CT_CONTABIL_CTAAPAGAR, CD_FAVORECIDO, VL_IR, VL_ASSIST, IN_RESTITUI, IN_OPERACIONAL, 
            	      VL_INSS, VL_PISCOFINS, VL_ISS, CD_CT_CUSTO, NR_CTAAPAGAR, CODIGO_CTAAPAGAR_LANC, IN_SELECIONADO, CD_RATEIO )
      VALUES ( @cd_coligada, CONVERT( DATETIME, CONVERT( VARCHAR, @dt_movimento,103 ),103 ) , @ult_lanc, @cd_unid_neg, 'C', '9', '0', '0', 
               CASE @in_cancelado WHEN '0' THEN @nm_historico ELSE 'ESTORNO/' + @nm_historico END,               @vl_lancamento, @tp_pagamento, CASE @in_cancelado WHEN '0' THEN 'D' ELSE 'C' END, 
               @cd_banco, @nr_cheque, @cd_ct_contabil_far, @cd_ct_contabil, @cd_fornecedor, 0, 0, '0', @in_operacional, @VL_INSS, @VL_PISCOFINS,
               NULL, @cd_ct_custo, @nr_ctaapagar, @codigo, @in_selecionado, @CD_RATEIO )
    

      IF @in_lanc_provisionado = '0'  --copiar somente se o provisão = não
      begin
        if @CD_RATEIO <> ''
        begin
          insert into TCAIXA_RATEIO_ADM
          (CD_UNID_NEG, DT_MOVIMENTO, NR_LANCAMENTO, CD_CT_CUSTO, VALOR_RATEIO, CD_RATEIO, CD_RATEIO_CAIXA)
           select CD_UNID_NEG, @dt_movimento, @ult_lanc, CD_CT_CUSTO, VALOR_RATEIO, @CD_RATEIO, @CODIGO --@CD_RATEIO_CAIXA
           from TCTAAPAGAR_RATEIO where CODIGO = @CODIGO
        end
      end


    --Guarda Codigo do TCAIXA para uso posterior caso precise estornar
    UPDATE TCTAAPAGAR_LANC
    SET   NR_LANC_CAIXA = @ult_lanc,
          DT_MOVIMENTO_CAIXA = CONVERT( DATETIME, CONVERT( VARCHAR, @dt_movimento,103 ),103 )
    WHERE DT_CTAAPAGAR = @dt_ctaapagar 
      AND NR_CTAAPAGAR = @nr_ctaapagar
      AND CD_UNID_NEG  = @cd_unid_neg 
      AND CD_CT_CONTABIL = @cd_ct_contabil 
      AND CODIGO = @CODIGO  

      -- Distribuição Gerencial
      IF @in_distribui = '1'
      BEGIN
        DECLARE c_distr_ger CURSOR FOR
          SELECT CD_CT_GERENCIAL, VL_LANCAMENTO
          FROM   TCTAAPAGAR_GER
          WHERE  CD_UNID_NEG    = @cd_unid_neg AND
                 DT_CTAAPAGAR   = @dt_ctaapagar AND
                 NR_CTAAPAGAR   = @nr_ctaapagar AND
                 CD_CT_CONTABIL = @cd_ct_contabil
          OPEN c_distr_ger
          FETCH c_distr_ger INTO @cd_ct_gerencial, @vl_distr_gerencial
          WHILE @@fetch_status = 0 
          BEGIN
            INSERT TCAIXA_CONTABIL_DISTR( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_CT_GERENCIAL, VL_DISTRIBUICAO )
            VALUES ( @cd_coligada, @dt_ctaapagar, @ult_lanc, @cd_ct_gerencial, @vl_distr_gerencial )  

            FETCH c_distr_ger INTO @cd_ct_gerencial, @vl_distr_gerencial
          END
          CLOSE c_distr_ger
          DEALLOCATE c_distr_ger
      END
    END

    FETCH c_lanc INTO @cd_ct_contabil, @cd_filial, @vl_lancamento, @CODIGO, @cd_ct_custo, @nm_hist_lanc, @CD_RATEIO
  END

  CLOSE c_lanc
  DEALLOCATE c_lanc
  DELETE from #TMP_CTAAPAGAR where NR_CTAAPAGAR = @NR_CTAAPAGAR
END


	IF (@tp_pagamento = 'C') or (@tp_pagamento = 'T') --Cheque
	BEGIN
  UPDATE TCTAAPAGAR
  SET    IN_TRANSFERIDO = '1'
  WHERE  CD_UNID_NEG    =  @cd_unid_neg
    AND  CONVERT( VARCHAR, DT_LIBERACAO,103 )   <= CONVERT( VARCHAR, GETDATE(),103 ) 
    AND  IN_TRANSFERIDO = '0' 
    AND  IN_LIBERADO    = '1'   
END
ELSE
BEGIN
  UPDATE TCTAAPAGAR
  SET    IN_TRANSFERIDO = '1'
  WHERE  CD_UNID_NEG    =  @cd_unid_neg 
    AND  DT_PAGAMENTO   <= @dt_movimento 
    AND  IN_TRANSFERIDO = '0' 
    AND  IN_LIBERADO    = '1'   
END

--EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento 

DROP TABLE #TMP_CTAAPAGAR

GO
