USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_imp_cheque] (@dt_movimento datetime, @cd_unid_neg char(2),
                                @cd_coligada char(2),   @cd_usuario char(4), @qt_imp int output) AS
DECLARE @nr_ult_lanc   int
DECLARE @dt_solic_ch   char(10)
DECLARE @nr_solic_ch   char(3)
DECLARE @cd_banco			 char(3)
SELECT @nr_ult_lanc = CONVERT( INT, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) )
FROM   TCAIXA (TABLOCK HOLDLOCK)
WHERE  DT_MOVIMENTO = @dt_movimento
CREATE TABLE #TMP
(
NR_SEQUENCIA  SMALLINT  IDENTITY NOT NULL,
DT_SOLIC_CH CHAR(10) NOT NULL,
NR_SOLIC_CH CHAR(3)  NOT NULL,
NR_LANCAMENTO CHAR(3)  NOT NULL
)
CREATE UNIQUE INDEX IND_TMP ON #TMP 
(
DT_SOLIC_CH, NR_SOLIC_CH, NR_LANCAMENTO
)
INSERT #TMP
SELECT  I.DT_SOLIC_CH, I.NR_SOLIC_CH, I.NR_LANCAMENTO
FROM    TSOLIC_CHEQUE C (TABLOCK HOLDLOCK)
JOIN    TSOLIC_CHEQUE_ITENS I (TABLOCK HOLDLOCK)
  ON    ( ( C.DT_SOLIC_CH = I.DT_SOLIC_CH ) AND
          ( C.NR_SOLIC_CH = I.NR_SOLIC_CH ) )
WHERE   C.IN_TRANSFERIDO = '0' AND 
        C.CD_TIPO_LANC   = '1' AND
        CONVERT(DATETIME, C.DT_SOLIC_CH, 103) <= @dt_movimento AND
        C.CD_STATUS_SOLIC_CH IN ('1', '3', '4', '6', '7' ) AND
        C.CD_STATUS_CHEQUE  IN  ('1', '2', '3' ) AND
        I.CD_STATUS IN ( '0', '4', '6', '8' ) AND
        I.CD_ITEM IN ( SELECT CD_ITEM 
           FROM TITEM 
    WHERE CD_TIPO_ITEM IN ( 'D', 'X', 'T', 'V', 'N', '+', '-' ) )
DECLARE c_imp CURSOR FOR 
SELECT  DT_SOLIC_CH, NR_SOLIC_CH
FROM    TSOLIC_CHEQUE (TABLOCK HOLDLOCK)
WHERE   IN_TRANSFERIDO = '0' AND 
        CD_TIPO_LANC   = '1' AND
        CD_STATUS_CHEQUE = '0' AND
        CD_STATUS_SOLIC_CH IN ( '1', '3', '4') AND
        CONVERT(DATETIME, DT_SOLIC_CH, 103) <= @dt_movimento
OPEN c_imp
FETCH c_imp INTO @dt_solic_ch, @nr_solic_ch
WHILE @@fetch_status <> -1
BEGIN
  EXEC sp_cancela_solic_ch @dt_solic_ch, @nr_solic_ch, '0000'  
  FETCH c_imp INTO @dt_solic_ch, @nr_solic_ch
END
CLOSE c_imp
DEALLOCATE c_imp
INSERT TCAIXA( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, 
               IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO, CD_BANCO, NR_CHEQUE, 
               CD_FAVORECIDO, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, CD_DESPACHANTE, IN_RESTITUI )
SELECT @cd_coligada, @dt_movimento, RIGHT( '000000' + CONVERT( VARCHAR, ( ISNULL( @nr_ult_lanc, 0) + T.NR_SEQUENCIA ) ), 6),
       @cd_unid_neg, 'F', '1', '0', '0', I.VL_ITEM, 'C', C.CD_BANCO, C.NR_CHEQUE, I.CD_FORNECEDOR, I.NR_PROCESSO, 
       I.CD_ITEM, I.VL_IR, I.VL_ASSIST, I.CD_DESPACHANTE,
       CASE
         WHEN C.CD_STATUS_SOLIC_CH IN ( '6', '7') AND
              I.IN_RESTITUI = '1' THEN '0'
         WHEN C.CD_STATUS_SOLIC_CH IN ( '6', '7') AND
              I.IN_RESTITUI = '0' THEN '1'
         ELSE I.IN_RESTITUI
       END
FROM #TMP T
JOIN TSOLIC_CHEQUE C
  ON ( ( C.DT_SOLIC_CH   = T.DT_SOLIC_CH ) AND
       ( C.NR_SOLIC_CH   = T.NR_SOLIC_CH ) )
JOIN TSOLIC_CHEQUE_ITENS I
  ON ( ( I.DT_SOLIC_CH   = T.DT_SOLIC_CH ) AND
       ( I.NR_SOLIC_CH   = T.NR_SOLIC_CH ) AND
       ( I.NR_LANCAMENTO = T.NR_LANCAMENTO ) )
SELECT @qt_imp = @@ROWCOUNT
UPDATE C
SET    IN_TRANSFERIDO = '1'
FROM   TSOLIC_CHEQUE C
JOIN   #TMP T
  ON ( ( T.DT_SOLIC_CH   = C.DT_SOLIC_CH ) AND
       ( T.NR_SOLIC_CH   = C.NR_SOLIC_CH ) )
UPDATE I
SET    IN_TRANSF = '1'
FROM   TSOLIC_CHEQUE_ITENS I
JOIN   #TMP T
  ON ( ( T.DT_SOLIC_CH   = I.DT_SOLIC_CH ) AND
       ( T.NR_SOLIC_CH   = I.NR_SOLIC_CH ) AND
       ( I.NR_LANCAMENTO = T.NR_LANCAMENTO ) )
       
select TOP 1 @cd_banco = CD_BANCO FROM #TMP
       
DROP TABLE #TMP

DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco

EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa


GO
