USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_atualiza_utilizado]( @nr_processo char(18), @cd_item char(3), @vl_valor float, @operacao char(1) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_item char(3)
DECLARE @vl_valor float
DECLARE @operacao char(1) 

SELECT @nr_processo = '0302BY-0001-01'
SELECT @cd_item = '500'
SELECT @vl_valor = 100
SELECT @operacao = '+'

ROLLBACK TRAN
SET XACT_ABORT ON
*/

DECLARE @in_item           int
DECLARE @vl_saldo_processo numeric(14,2)

SELECT @in_item    = COUNT(*)
FROM   TNUMERARIO_SALDO_POR_ITEM
WHERE  NR_PROCESSO = @nr_processo AND
       ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) )

IF @operacao = '-'
  SELECT @vl_valor = @vl_valor * (-1)

--IF @in_item = 0
--BEGIN
--  INSERT TNUMERARIO_SALDO_POR_ITEM
--  VALUES ( @nr_processo, @cd_item, 0, 0, @vl_valor, ( @vl_valor * (-1) ), ( @vl_valor * (-1) ) )
--END
--ELSE
BEGIN
  UPDATE TNUMERARIO_NOTIFICA_ITEM
  SET    VL_UTILIZADO  = ROUND( ( CONVERT( numeric(14,2), ISNULL( VL_UTILIZADO, 0 ) ) + @vl_valor ), 2 )
--         VL_SALDO_ITEM = ROUND( ( CONVERT( numeric(14,2), ISNULL( VL_SALDO_ITEM, 0 ) ) - @vl_valor ), 2 )
  WHERE  NR_PROCESSO   = @nr_processo AND
         ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) )
END

--UPDATE TNUMERARIO_NOTIFICA_ITEM
--SET    VL_UTILIZADO = 0
--WHERE  NR_PROCESSO   = @nr_processo AND
--       ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) ) AND
--       VL_UTILIZADO < 0

--UPDATE TNUMERARIO_SALDO_POR_ITEM
--SET    VL_SALDO_ITEM = ROUND( CONVERT( numeric(14,2), ISNULL( VL_RECEBIDO, 0 ) ) - 
--                              CONVERT( numeric(14,2), ISNULL( VL_UTILIZADO, 0 ) ), 2 )
--WHERE  NR_PROCESSO   = @nr_processo AND
--       ( ( CD_ITEM   = @cd_item ) OR ( CD_ITEM = '999' ) )

--SELECT @vl_saldo_processo = SUM( CONVERT( numeric(14,2), ISNULL( VL_SALDO_ITEM, 0 ) ) )
--FROM   TNUMERARIO_SALDO_POR_ITEM
--WHERE  NR_PROCESSO = @nr_processo 

--UPDATE TNUMERARIO_SALDO_POR_ITEM
--SET    VL_SALDO_PROCESSO = @vl_saldo_processo
--WHERE  NR_PROCESSO       = @nr_processo 

EXEC sp_atualiza_utilizado_receb @nr_processo

RETURN(0)


GO
