USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_REINCLUIR_USUARIO_BANCOS](@USUARIO VARCHAR(255)) AS
BEGIN
    IF ISNULL(@USUARIO, '') <> ''
    BEGIN
        DECLARE @NM_DATABASE VARCHAR(255)
        DECLARE @DATABASES AS TABLE (
            NM_DATABASE VARCHAR(255)
        )
        INSERT INTO @DATABASES
        SELECT NAME
        FROM SYS.DATABASES
        WHERE NAME NOT IN ('master', 'tempdb', 'model', 'msdb', 'ReportServer', 'ReportServerTempDB')

        WHILE (SELECT COUNT(*) FROM @DATABASES) > 0
        BEGIN
            SELECT TOP 1 @NM_DATABASE = NM_DATABASE
            FROM @DATABASES

            DELETE @DATABASES
            WHERE NM_DATABASE = @NM_DATABASE

            EXECUTE('USE ' + @NM_DATABASE + '; EXEC SP_REVOKEDBACCESS [' + @USUARIO + ']')
            EXECUTE('USE ' + @NM_DATABASE + '; EXEC SP_GRANTDBACCESS [' + @USUARIO + ']')
        END
        RETURN 1
    END
    ELSE
        RETURN 0
END

GO
