USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_pesq_naveg    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_pesq_naveg] (@cd_usuario char(4) output, 
                                @cd_modulo  char(2) output,
                                @cd_rotina  char(4) output) AS
SELECT @cd_usuario = CD_USUARIO
  FROM TUSUARIO (NOLOCK)
  WHERE AP_USUARIO = suser_name()
SELECT @cd_modulo = CD_MODULO,
       @cd_rotina = CD_ROTINA
  FROM TNAVEGACAO (NOLOCK)
  WHERE CD_USUARIO = @cd_usuario AND
        DT_SAIDA   = NULL
SELECT @cd_usuario = isnull(@cd_usuario, '0000')
SELECT @cd_modulo  = isnull(@cd_modulo , '00')
SELECT @cd_rotina  = isnull(@cd_rotina , '0000')


GO
