USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_duplica_cotacao]( @nr_proposta char(18), @cd_usuario Char(4) ) AS

/*
BEGIN TRAN
DECLARE @nr_proposta char(18), @cd_usuario Char(4)
SELECT @nr_proposta='31/10RI', @cd_usuario=1794
*/

DECLARE @NEW_PROPOSTA  CHAR(15) ,  @INICIAL CHAR(2)

select @NEW_PROPOSTA=convert(varchar,isnull( max( convert(int, left(ltrim(nr_proposta), charindex('/',ltrim(nr_proposta))-1 ) ) ),0)+1)+'/'+
                     substring(convert(varchar,getdate(),103),9,2) 
from TPROPOSTA where substring(convert(varchar,getdate(),103),9,2)=substring( ltrim(nr_proposta), charindex('/',ltrim(nr_proposta))+1 , 2 )


--PEGA A INICIAL DO NOME DO USUARIO
SELECT @INICIAL=UPPER(LEFT(LTRIM(NM_USUARIO),2)) FROM TUSUARIO WHERE CD_USUARIO=@cd_usuario

SET @NEW_PROPOSTA = RTRIM(@NEW_PROPOSTA)+@INICIAL


PRINT @NEW_PROPOSTA
PRINT @NR_PROPOSTA


INSERT INTO TPROPOSTA 
select  @NEW_PROPOSTA,
CD_UNID_NEG,
CD_EMPRESA,
TP_PROPOSTA,
CD_VENDEDOR,
convert(datetime,convert(varchar,GETDATE(),103),103),
DT_SOLICITADA,
HR_SOLICITADA,
DT_ENVIADA,
HR_ENVIADA,
DT_VALIDADE,
'1',
DT_STATUS,
TX_STATUS,
NM_RESPONSAVEL,
NR_PROC_COMERC,
TX_OBS,
TX_OBS_INDAIA,
TX_DESC_PORT,
TX_DESC_INGL,
TX_INFORM_COMPL,
@CD_USUARIO,
PESO_TAXADO,
IN_DUPLICA ,
NM_CLIENTE_TEMP
FROM TPROPOSTA WHERE NR_PROPOSTA=@NR_PROPOSTA



INSERT INTO TPROPOSTA_FRETE
SELECT 
@NEW_PROPOSTA,
CD_PRODUTO,
CD_SERVICO,
CD_TAB_FRETE,
CD_TAB_FRETE_COMPRA,
CD_STATUS,
CD_AGENTE,
CD_CIA_TRANSP,
CD_ARMADOR,
TP_FREQUENCIA,
CD_MOEDA,
TRASMIT_TIME,
CD_ORIGEM,
CD_DESTINO,
VL_VENDA,
VL_COMPRA,
TP_ESTUFAGEM,
VL_PESO_KG,
VL_PESO_TON,
VL_CUBAGEM,
VL_CHARGEABLE,
VL_FRETE_VENDA,
VL_FRTE_COMPRA,
VL_CUSTO,
OTHER_CUSTO,
OTHER_VENDA,
QTDE,
TP_CARGA,
NR_ITEM_PROPOSTA,
CD_PORTO_TRANSBORDO,
CD_PORTO_TRANSBORDO_2,
NR_FREE_TIME_DEMURRAGE 
FROM TPROPOSTA_FRETE WHERE  NR_PROPOSTA=@NR_PROPOSTA


INSERT INTO TPROPOSTA_ITEM
SELECT  
@NEW_PROPOSTA,
CD_SERVICO,
CD_PRODUTO,
CD_UNID_NEG,
CD_VIA_TRANSP,
CD_INCOTERM,
TP_ESTUFAGEM,
VL_PESO_KG,
VL_PESO_TON,
VL_CUBAGEM,
VL_CUBADO,
VL_CHARGEABLE,
VL_FRETE_VENDA,
VL_FRETE_CUSTO,
VL_VENDA,
VL_CUSTO,
OTHER_CUSTO,
OTHER_VENDA,
QTDE_VOL,
IN_MINIMO,
IN_FIXO,
NR_ITEM_PROPOSTA,
VL_VENDA_UNIT_LCL,
VL_CUSTO_UNIT_LCL,
VL_FOB,
CD_MOEDA_FOB,
tx_semanal 
FROM TPROPOSTA_ITEM
WHERE  NR_PROPOSTA=@NR_PROPOSTA



INSERT INTO TPROPOSTA_MERCADORIA
SELECT 
@NEW_PROPOSTA,
CD_PROPOSTA_EMB_ITEM,
TP_ESTUFAGEM,
CD_EMBALAGEM,
QTD_VOLUMES,
QTD_EMBALAGEM,
VL_CUBAGEM_M3,
CD_MERCADORIA,
CD_NCM,
VL_LARGURA,
VL_COMPR,
VL_ALTURA,
VL_PESO_KG,
VL_PESO_KG_LIQ,
VL_PESO_TON,
TP_CNTR,
VL_VENDA,
VL_CUSTO,
TX_MERCADORIA,
IN_ATIVO,
VL_VENDA_TOTAL,
VL_COMPRA_TOTAL,
VL_RESULTADO
FROM TPROPOSTA_MERCADORIA
WHERE  NR_PROPOSTA=@NR_PROPOSTA


INSERT INTO TPROPOSTA_FRETE_DESPESA 
SELECT  
@NEW_PROPOSTA,
CD_SERVICO,
CD_PRODUTO,
CD_TAB_FRETE,
CD_ITEM,
CODIGO,
TP_BASE_CALCULO,
CD_MOEDA,
TP_ORIGEM_DESPESA,
VL_BASE_DESPESA,
VL_COMPRA_AG,
VL_COMPRA_CIA,
VL_VENDA,
IN_DESPESA,
IN_MENCIONADO,
CD_TAB_REF,
TP_FRETE,
TP_ESTUFAGEM,
VL_INTERVALO_INICIAL,
VL_INTERVALO_FINAL,
VL_BASE_AG,
IN_PROFIT,
NR_ITEM_PROPOSTA,
VL_MINIMO,
VL_MINIMO_COMPRA,
VL_VENDA_TOTAL,
VL_COMPRA_TOTAL,
VL_RESULTADO
FROM TPROPOSTA_FRETE_DESPESA
WHERE  NR_PROPOSTA=@NR_PROPOSTA

--ROLLBACK





GO
