USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_atz] @cd_instalacao char(1), @dt_atz datetime AS
DELETE TATZ
WHERE DT_MOVIMENTO <= @dt_atz AND
CD_TABELA IN
(
  SELECT DISTINCT T.CD_TABELA
  FROM  TATZ A,
        TTABELA T
  WHERE A.CD_TABELA = T.CD_TABELA AND
        T.NM_BANCO IN ( SELECT NM_BANCO FROM TINSTALACAO_BANCO WHERE CD_INSTALACAO = @cd_instalacao)
)


GO
