USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_po_prep_inc_item]( @nr_processo char(18), @nr_item char(3), @nr_proc_old char(18), @nr_item_old char(3), @dt_baixa datetime,  @qt_baixar float, @tipo char(1), @tp_proc integer ) AS

DECLARE @cd_usuario char(4)

SELECT @cd_usuario = ISNULL( CD_USUARIO, '0000' )
FROM   TUSUARIO 
WHERE  AP_USUARIO = SUSER_NAME()

IF @tipo = '1'       
BEGIN
  INSERT TPREPARA_PO_ITEM ( NR_PROCESSO, NR_ITEM, NR_PROC_OLD, NR_ITEM_OLD,  DT_BAIXA, QT_BAIXADA, IN_PREPARACAO, CD_USUARIO_MONTA, TP_PROCESSO )
  VALUES ( @NR_PROCESSO, @NR_ITEM, @NR_PROC_OLD, @NR_ITEM_OLD, @DT_BAIXA, @QT_BAIXAR, '0', @cd_usuario, @tp_proc )

  UPDATE TPREPARA_PO SET QT_TOTAL_ITEM = @NR_ITEM WHERE ( NR_PROCESSO = @NR_PROCESSO ) AND ( CD_USUARIO_MONTA = @cd_usuario )
END
ELSE
BEGIN
  UPDATE TPREPARA_PO_ITEM 
  SET    DT_BAIXA = @DT_BAIXA, QT_BAIXADA = @QT_BAIXAR
  WHERE  ( NR_PROC_OLD = @NR_PROCESSO ) AND ( NR_ITEM_OLD = @NR_ITEM ) AND ( CD_USUARIO_MONTA = @cd_usuario ) AND ( TP_PROCESSO = @tp_proc )
END




GO
