USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [sp_da_gera_di]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0101IE-1677-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @erro             int
DECLARE @nr_adicao        char(3)
DECLARE @nr_item          char(3)
DECLARE @cd_mercadoria    varchar(30)
DECLARE @caracter         char(1)
DECLARE @cd_unid_medida   char(3)
DECLARE @cd_unid_quilo    char(3)
DECLARE @cd_moeda_mle     char(3)
DECLARE @nm_embalagem_scx varchar(120)

DECLARE @cd_material      varchar(10)
DECLARE @nr_lote          varchar(12)
DECLARE @nr_ref           varchar(15)
DECLARE @tx_da            varchar(8000)

DECLARE @qt_ref           integer
DECLARE @qt_lote          integer
DECLARE @pl_ref           float
DECLARE @vl_unitario      float
DECLARE @vl_mle_mneg      float
DECLARE @vl_mld_mneg      float
DECLARE @qt_item          float

DECLARE @ptr_merc         binary(16)
DECLARE @ptr_di           binary(16)
DECLARE @tamanho          int
DECLARE @in_moeda_unica   bit
DECLARE @vl_count_moeda   int
DECLARE @cd_ncm_sh        char(11)

SELECT @caracter = char(13)
SELECT @cd_unid_quilo = '010'

SELECT @vl_count_moeda = COUNT( DISTINCT CD_MOEDA_MLE )
FROM   TDA_REF
WHERE  NR_PROCESSO = @nr_processo

SELECT @pl_ref = ROUND( SUM( ISNULL( PL_REF, 0 ) ), 5 )
FROM   TDA_REF
WHERE  NR_PROCESSO = @nr_processo

IF @vl_count_moeda = 1
  SELECT @in_moeda_unica = 1
ELSE
  SELECT @in_moeda_unica = 0

IF EXISTS( SELECT NR_PROCESSO
           FROM   TDA
           WHERE  NR_PROCESSO = @nr_processo )
BEGIN
  UPDATE TDECLARACAO_IMPORTACAO
  SET    VL_TOT_MLE_MNEG     = CASE DA.IN_EMBUT_FRT_ITENS
                                 WHEN '0' THEN DA.VL_MLE_MNEG 
                                 WHEN '1' THEN DA.VL_MLE_MNEG + DA.VL_FRETE_MNEG
                               END,
         VL_TOTAL_MLE_MN     = CASE DA.IN_EMBUT_FRT_ITENS
                                 WHEN '0' THEN ROUND( DA.VL_MLE_MNEG * DA.TX_MLE, 2 ) 
                                 WHEN '1' THEN ROUND( DA.VL_MLE_MNEG * DA.TX_MLE, 2 ) + 
					       ROUND( DA.VL_FRETE_MNEG * DA.TX_FRETE, 2 )
                               END,
         VL_TOT_FRT_COLLECT  = CASE DA.TP_FRETE WHEN '0' THEN DA.VL_FRETE_MNEG ELSE 0 END,
         VL_TOT_FRT_PREPAID  = CASE DA.TP_FRETE WHEN '1' THEN DA.VL_FRETE_MNEG ELSE 0 END,
         VL_TOTAL_FRETE_MNEG = DA.VL_FRETE_MNEG,
         VL_TOTAL_FRETE_MN   = ROUND( DA.VL_FRETE_MNEG * DA.TX_FRETE, 2 ),
         IN_EMBUT_FRT_ITENS  = DA.IN_EMBUT_FRT_ITENS,
         IN_EMBUT_SEG_ITENS  = DA.IN_EMBUT_SEG_ITENS,
         VL_TOT_SEGURO_MNEG  = DA.VL_SEGURO_MNEG,
         VL_TOTAL_SEG_MN     = ROUND( DA.VL_SEGURO_MNEG * DA.TX_SEGURO, 2 ),
         CD_TIPO_BASE_SEGURO = DA.CD_TIPO_BASE_SEGURO,
         PC_SEGURO_MLE       = DA.PC_SEGURO_MLE,
         PL_CARGA            = @pl_ref,
         TX_MLE              = DA.TX_MLE,
         TX_FRETE            = DA.TX_FRETE,
         TX_SEGURO           = DA.TX_SEGURO,
         TX_DOLAR            = DA.TX_DOLAR,
         IN_MOEDA_UNICA      = @in_moeda_unica,
         CD_MOEDA_MLE        = CASE @vl_count_moeda
                                 WHEN 1 THEN DA.CD_MOEDA_MLE
                                 ELSE ''
                               END     
  FROM   TDECLARACAO_IMPORTACAO DI, TDA DA
  WHERE  DI.NR_PROCESSO      = DA.NR_PROCESSO AND
         DI.NR_PROCESSO      = @nr_processo

  DELETE TADICAO_DE_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo

  DELETE TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo

  DECLARE c_da CURSOR FOR 
    SELECT R.NR_PROCESSO, R.CD_MERCADORIA, R.CD_UNID_MEDIDA, SUM( ISNULL( R.QT_REF, 0 ) ), ROUND( SUM( ISNULL( R.PL_REF, 0 ) ), 5 ), 
           ROUND( SUM( ISNULL( R.VL_MLE_MNEG, 0 ) ), 2 ), ISNULL( R.VL_UNITARIO, 0 ), ROUND( SUM( ISNULL( R.VL_MLD_MNEG, 0 ) ), 2 ),
           R.CD_MOEDA_MLE, M.CD_NCM_SH
    FROM   TDA_REF R, TMERCADORIA M (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo AND
           R.CD_MERCADORIA = M.CD_MERCADORIA
    GROUP BY R.NR_PROCESSO, R.CD_MERCADORIA, R.CD_UNID_MEDIDA, ISNULL( R.VL_UNITARIO, 0 ), R.CD_MOEDA_MLE, M.CD_NCM_SH

  OPEN c_da
  FETCH c_da INTO @nr_processo, @cd_mercadoria, @cd_unid_medida, @qt_ref, @pl_ref, @vl_mle_mneg, 
                  @vl_unitario, @vl_mld_mneg, @cd_moeda_mle, @cd_ncm_sh
  WHILE @@fetch_status = 0
  BEGIN
    IF @cd_unid_quilo = @cd_unid_medida
      SELECT @qt_item = @pl_ref
    ELSE
      SELECT @qt_item = @qt_ref

    INSERT TDETALHE_MERCADORIA( NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_MERCADORIA, CD_UN_MED_COMERC, CD_TIPO_CALCULO_ITEM,
                                CD_FABR_EXPO, QT_MERC_UN_COMERC, QT_MERC_UN_ESTAT, PL_MERCADORIA, TX_DESC_DET_MERC, 
                                VL_MLE_ITEM, VL_UNITARIO, VL_MCV_ITEM, CD_NCM_SH )
    VALUES( @nr_processo, '001', '***', @cd_mercadoria, @cd_unid_medida, '1', '1', @qt_item, @pl_ref, 
            @pl_ref, '', @vl_mle_mneg, @vl_unitario, @vl_mld_mneg, @cd_ncm_sh )

    EXEC @erro = sp_di_classifica_item @nr_processo, @nr_adicao OUTPUT, @nr_item OUTPUT

    UPDATE TADICAO_DE_IMPORTACAO
    SET    CD_MOEDA_NEGOCIADA = @cd_moeda_mle,
           CD_MOEDA_MLE = @cd_moeda_mle
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_ADICAO = @nr_adicao

    SELECT @tamanho = DATALENGTH( TX_DESC_DET_MERC )
    FROM   TDETALHE_MERCADORIA
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_ADICAO   = @nr_adicao AND
           NR_ITEM     = @nr_item

    SELECT @ptr_di = ISNULL( TEXTPTR( TX_DESC_DET_MERC ), 0 )
    FROM   TDETALHE_MERCADORIA
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_ADICAO   = @nr_adicao AND
           NR_ITEM     = @nr_item

    SELECT @ptr_merc         = ISNULL( TEXTPTR( M.NM_MERCADORIA ), 0 ),
           @cd_material      = ISNULL( M.CD_MATERIAL, '' ),
           @nm_embalagem_scx = LTRIM( RTRIM( ISNULL( E.DESCRICAO, '' ) ) )
    FROM   TMERCADORIA M, TTP_EMBALAGEM E
    WHERE  M.CD_EMBALAGEM_SCX *= E.CODIGO AND
           M.CD_MERCADORIA    = @cd_mercadoria

    -- Atualizando Campo...
    UPDATETEXT TDETALHE_MERCADORIA.TX_DESC_DET_MERC @ptr_di @tamanho NULL TMERCADORIA.NM_MERCADORIA @ptr_merc

    -- Inserindo quebra de linha Referências
    SELECT @tamanho = DATALENGTH( TX_DESC_DET_MERC )
    FROM   TDETALHE_MERCADORIA
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_ADICAO   = @nr_adicao AND
           NR_ITEM     = @nr_item

    SELECT @ptr_di = ISNULL( TEXTPTR( TX_DESC_DET_MERC ), 0 )
    FROM   TDETALHE_MERCADORIA
    WHERE  NR_PROCESSO = @nr_processo AND
           NR_ADICAO   = @nr_adicao AND
           NR_ITEM     = @nr_item

    SELECT @tx_da = 'ARTICULO: ' + @cd_material + char(13)
    DECLARE c_ref CURSOR FOR
      SELECT DISTINCT NR_REF
      FROM   TDA_REF
      WHERE  NR_PROCESSO   = @nr_processo AND
             CD_MERCADORIA = @cd_mercadoria
    OPEN c_ref
    FETCH c_ref INTO @nr_ref
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @tx_da = @tx_da + 'REF.: ' + @nr_ref + char(13)

      DECLARE c_lote CURSOR FOR
        SELECT DISTINCT NR_LOTE
        FROM   TDA_LOTE
        WHERE  NR_PROCESSO   = @nr_processo AND
               CD_MERCADORIA = @cd_mercadoria AND
               NR_REF        = @nr_ref
      OPEN c_lote
      FETCH c_lote INTO @nr_lote
      WHILE @@fetch_status = 0
      BEGIN
         SELECT @qt_lote = SUM( ISNULL( QT_LOTE, 0 ) )
         FROM   TDA_LOTE
         WHERE  NR_PROCESSO   = @nr_processo AND
                CD_MERCADORIA = @cd_mercadoria AND
                NR_REF        = @nr_ref AND
                NR_LOTE       = @nr_lote

        SELECT @tx_da = @tx_da + 'LOTE: ' + @nr_lote + ' = ' + CONVERT( varchar, @qt_lote ) + ' ' + @nm_embalagem_scx + char(13)
  
        FETCH c_lote INTO @nr_lote
      END
      CLOSE c_lote
      DEALLOCATE c_lote

      FETCH c_ref INTO @nr_ref
    END
    CLOSE c_ref
    DEALLOCATE c_ref

    SELECT @tx_da = char(13) + @tx_da
   
    UPDATETEXT TDETALHE_MERCADORIA.TX_DESC_DET_MERC @ptr_di @tamanho NULL @tx_da

    FETCH c_da INTO @nr_processo, @cd_mercadoria, @cd_unid_medida, @qt_ref, @pl_ref, @vl_mle_mneg, 
                    @vl_unitario, @vl_mld_mneg, @cd_moeda_mle, @cd_ncm_sh
  END
  CLOSE c_da
  DEALLOCATE c_da
END



GO
