USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_di_gera_base_calc_x    Script Date: 02/09/1999 08:58:11 AM ******/
/****** Object:  Stored Procedure dbo.sp_di_gera_base_calc_x    Script Date: 03/07/1998 10:42:48 ******/
/****** Object:  Stored Procedure dbo.sp_di_gera_base_calc_x    Script Date: 30/06/1998 16:44:24 ******/
/****** Object:  Stored Procedure dbo.sp_di_gera_base_calc_x    Script Date: 22/06/1998 19:27:18 ******/
/****** Object:  Stored Procedure dbo.sp_di_gera_base_calc_x    Script Date: 19/06/1998 13:22:04 ******/
/****** Object:  Stored Procedure dbo.sp_di_gera_base_calc_x    Script Date: 17/06/1998 14:40:53 ******/
CREATE PROCEDURE [sp_di_gera_base_calc_x]( @nr_processo char(18), @nr_adicao char(3) ) AS
declare @saida                  char(100)
declare @status                 smallint
declare @s_adicoes              char(3)
declare @qt_adicoes             int
declare @nr_item                char(3)
declare @i_itens                int
declare @qt_itens               int
declare @nr_declaracao_imp      char(10)
declare @dt_registro_di         datetime
declare @dt_processamento       datetime
declare @cd_moeda               char(3)
declare @cd_moeda_mle           char(3)
declare @cd_moeda_frete         char(3)
declare @cd_moeda_negoc_ad      char(3)
declare @cd_moeda_seguro        char(3)  
declare @vl_tx_mneg             numeric(14, 7)
declare @vl_tx_dolar            numeric(14, 7)
declare @vl_tx_frete            numeric(14, 7)
declare @vl_tx_seguro           numeric(14, 7)
declare @vl_mle_mn              numeric(16, 3)
declare @vl_mle_mneg            numeric(16, 3)
declare @vl_mle_mn_ajust        numeric(16, 3)
declare @vl_mle_mneg_ajust      numeric(16, 3)
declare @vl_mle_tot_mn          numeric(16, 3)
declare @vl_mle_tot_mneg        numeric(16, 3)
declare @vl_mle_tot_mn_ajust    numeric(16, 3)
declare @vl_mle_tot_mneg_ajust  numeric(16, 3)
declare @vl_despesa_mn          numeric(16, 3)
declare @vl_despesa_mneg        numeric(16, 3)
declare @vl_despesa_tot_mn      numeric(16, 3)
declare @vl_despesa_tot_mneg    numeric(16, 3)
declare @in_ratear_frete        bit
declare @in_ratear_seguro       bit
declare @vl_frete_prepaid_mneg  numeric(16, 3)   /* (1) */
declare @vl_frete_collect_mneg  numeric(16, 3)   /* (2) */
declare @vl_frete_ter_nac_mneg  numeric(16, 3)   /* (3) */
declare @vl_frete_tot_mneg      numeric(16, 3)   /* (1) + (2) - (3) */
declare @vl_seguro_tot_mneg     numeric(16, 3)
declare @vl_frete_tot_mn        numeric(16, 3)
declare @vl_frete_mneg          numeric(16, 3)
declare @vl_frete_mn            numeric(16, 3)   /* rateado */
declare @vl_mle_tot_mn1         numeric(16, 3)   /* so para comparacao */
declare @vl_seguro_tot_mn1      numeric(16, 3)   /* so para comparacao */
declare @vl_frete_tot_mn1       numeric(16, 3)   /* so para comparacao */
declare @vl_despesa_tot_mn1     numeric(16, 3)   /* so para comparacao */
declare @vl_seguro_tot_mn       numeric(16, 3)
declare @vl_seguro_mneg         numeric(16, 3)  
declare @vl_seguro_mn           numeric(16, 3)   /* rateado */
declare @pl_tot_merc            numeric(16, 6)
declare @pl_merc_total          numeric(16, 6)
declare @pl_mercadoria          numeric(16, 6)
declare @pl_merc_ad             numeric(16, 6)
declare @in_moeda_unica         bit
declare @Incoterm               char(3)
declare @vl_acrescimos_mn       numeric(16, 3)
declare @vl_deducoes_mn         numeric(16, 3)
declare @vl_acrescimos_mneg     numeric(16, 3)
declare @vl_deducoes_mneg       numeric(16, 3)
declare @vl_tot_acrescimos_mn   numeric(16, 3)
declare @vl_tot_deducoes_mn     numeric(16, 3)
declare @vl_tot_acrescimos_mneg numeric(16, 3)
declare @vl_tot_deducoes_mneg   numeric(16, 3)
declare @qt_merc_un_comerc_ad   numeric(16, 6)
declare @qt_merc_un_estat_ad    numeric(16, 6)
declare @vl_mcv_tot_mneg        numeric(16, 3)
declare @vl_mcv_tot_mn          numeric(16, 3)
declare @vl_mcv_mneg            numeric(16, 3)
declare @vl_mcv_mn              numeric(16, 3)
declare @pl_merc_item           numeric(16, 6)
declare @vl_mle_item            numeric(16, 3)
declare @qt_merc_un_comerc      numeric(16, 6)
declare @vl_ucv                 numeric(21, 8)
declare @vl_frete_item          numeric(16, 3)
declare @vl_seguro_item         numeric(16, 3)
declare @vl_mcv_item            numeric(16, 3)
declare @vl_soma_frete_item     numeric(16, 3)
declare @vl_soma_seguro_item    numeric(16, 3)
declare @vl_soma_mcv_item       numeric(16, 3)
declare @cd_reg_trib_ii         char(1)
declare @cd_tipo_acordo_tar     char(1)
declare @pc_aliq_normal         numeric(11, 6)
declare @pc_aliq_acordo         numeric(11, 6)
declare @pc_aliq_reduzida       numeric(11, 6)
declare @pc_reducao_imp         numeric(11, 6)
declare @vl_base_calc_ii        numeric(16, 3)
declare @vl_base_calc_ipi       numeric(16, 3)
declare @vl_base_antidump       numeric(16, 3)
declare @pc_ii_normal           numeric(11, 6)
declare @pc_ii_acordo           numeric(11, 6)
declare @pc_ii_reduzida         numeric(11, 6)
declare @pc_ii_reducao          numeric(11, 6)
declare @in_ipi_nao_tributavel  bit
declare @pc_ipi_normal          numeric(11, 6)
declare @pc_ipi_reduzida        numeric(11, 6)
declare @pc_antidump            numeric(11, 6)
declare @vl_ii_normal           numeric(16, 3)
declare @vl_ii_acordo           numeric(16, 3)
declare @vl_ii_reduzido         numeric(16, 3)
declare @vl_ii_devido           numeric(16, 3)
declare @vl_ii_a_recolher       numeric(16, 3)
declare @cd_tipo_benef_ipi      char(1)
declare @vl_ipi_normal          numeric(16, 3)
declare @vl_ipi_reduzido        numeric(16, 3)
declare @vl_ipi_devido          numeric(16, 3)
declare @vl_ipi_a_recolher      numeric(16, 3)
declare @vl_antidump            numeric(16, 3)
declare @vl_antidump_devido     numeric(16, 3)
declare @vl_antidump_a_recolher numeric(16, 3)
declare @vl_vinc_md_cambio      numeric(16, 3)
declare @vl_ja_vinculado        numeric(16, 3)
declare @cd_forma_pagamento     char(1)
declare @in_reb                 char(1)
declare @in_liga_debug          bit
declare @vl_reb                 numeric(16, 3)
declare @cd_tipo_base_seguro    char(1)
declare @pc_icms                numeric(11, 6)
declare @pc_icms_ad             numeric(11, 6)
declare @pc_reducao_icms        numeric(16, 3)
declare @pc_reducao_icms_ad     numeric(16, 3)
declare @vl_icms_devido         numeric(16, 3)
declare @vl_icms_a_recolher     numeric(16, 3)
declare @vl_frete_mneg_ajust    numeric(16, 3)
declare @vl_seguro_mneg_ajust   numeric(16, 3)
Declare @nm_unid_aliq_especif   char (15)
Declare @cd_tipo_recipiente     char (2)
Declare @qt_ml_recipiente       numeric(6, 1)
Declare @qt_mercad_aliq_especif numeric(10, 1)
Declare @vl_aliq_unit_especif   numeric(11, 6)
Declare @vl_calc_aliq_especif   numeric(16, 3)
declare @pl_merc_item_read      float
declare @vl_mle_item_read       float
declare @qt_merc_un_comerc_read float
select @vl_tx_mneg              = 0
select @vl_tx_dolar             = 0
select @vl_tx_frete             = 0
select @vl_tx_seguro            = 0
select @vl_ii_normal            = 0
select @vl_ii_acordo            = 0
select @vl_ii_reduzido          = 0
select @vl_ii_devido            = 0
select @vl_ii_a_recolher        = 0
select @vl_ipi_normal           = 0
select @vl_ipi_reduzido         = 0
select @vl_ipi_devido           = 0
select @vl_ipi_a_recolher       = 0
select @pc_ii_normal            = 0
select @pc_ii_acordo            = 0
select @pc_ii_reduzida          = 0
select @pc_ii_reducao           = 0
select @pc_ipi_normal           = 0
select @pc_ipi_reduzida         = 0
select @pc_antidump             = 0
select @pc_icms                 = 0
select @pc_reducao_icms         = 0
select @pc_antidump             = 0
select @vl_antidump             = 0
select @vl_antidump_devido      = 0
select @vl_antidump_a_recolher  = 0
select @vl_icms_devido          = 0
select @vl_icms_a_recolher      = 0
select @pc_icms_ad              = 0
select @pc_reducao_icms_ad      = 0
select @in_liga_debug = 1   /* 0 - Desligado 1 - Ligado */
/**************************************************************************************/
/*     Traz os valores da capa da DI para variaveis de trabalho                       */
/**************************************************************************************/
select @nr_declaracao_imp     = NR_DECLARACAO_IMP, 
       @in_ratear_frete       = ISNULL( IN_RATEAR_FRETE_ITENS, 0 ),
       @in_ratear_seguro      = ISNULL( IN_RATEAR_SEGURO_ITENS, 0 ),
       @vl_frete_tot_mn1      = ISNULL( VL_TOTAL_FRETE_MN, 0 ),
       @vl_frete_prepaid_mneg = ISNULL( VL_TOT_FRT_PREPAID, 0 ),
       @vl_frete_collect_mneg = ISNULL( VL_TOT_FRT_COLLECT, 0 ),
       @vl_frete_ter_nac_mneg = ISNULL( VL_FRETE_TNAC_MNEG, 0 ),
       @vl_seguro_tot_mn1     = ISNULL( VL_TOTAL_SEG_MN, 0 ),
       @vl_seguro_tot_mneg    = ISNULL( VL_TOT_SEGURO_MNEG, 0 ),
       @vl_mle_tot_mn1        = ISNULL( VL_TOTAL_MLE_MN, 0 ),
       @vl_mle_tot_mneg       = ISNULL( VL_TOT_MLE_MNEG, 0 ),
       @vl_despesa_tot_mn1    = ISNULL( VL_TOT_DESPS_MN, 0 ),
       @vl_despesa_tot_mneg   = ISNULL( VL_TOT_DESPS_MNEG, 0 ),
       @pl_merc_total         = ISNULL( PL_CARGA, 0 ),
       @in_moeda_unica        = ISNULL( IN_MOEDA_UNICA, 0 ),
       @cd_moeda_mle          = CD_MOEDA_MLE,
       @cd_moeda_frete        = CD_MOEDA_FRETE,
       @cd_moeda_seguro       = CD_MOEDA_SEGURO,
       @in_REB                = IN_REB,
       @cd_tipo_base_seguro   = CD_TIPO_BASE_SEGURO,
       @pc_icms               = ISNULL( PC_ICMS, 0 ),
       @pc_reducao_icms       = ISNULL( PC_REDUCAO_ICMS, 0 ),
       @qt_adicoes            = ISNULL( QT_ADICOES, 0 ) 
       from tdeclaracao_importacao where (nr_processo = @nr_processo)
/**************************************************************************************/
/*     Calcula o valor total do frete levando em considera+ao Prepaid/Collect/Ter_nac */
/**************************************************************************************/
select @vl_frete_tot_mneg = @vl_frete_prepaid_mneg  + @vl_frete_collect_mneg - @vl_frete_ter_nac_mneg  
/**************************************************************************************/
/*                 Pega a Taxa para conversao de Cambio cf. cd_moeda                  */
/**************************************************************************************/
select @vl_tx_frete  = Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) from tconversao_cambio where codigo = @cd_moeda_frete
select @vl_tx_seguro = Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) from tconversao_cambio where codigo = @cd_moeda_seguro
select @vl_tx_mneg   = Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) from tconversao_cambio where codigo = @cd_moeda_mle
select @vl_tx_dolar  = Convert(float,(stuff(Taxa_Conversao,2,1,'.'))) from tconversao_cambio where codigo = '220'    
select @vl_mle_tot_mn      = Round( @vl_mle_tot_mneg * @vl_tx_mneg, 2 )
select @vl_despesa_tot_mn  = Round( @vl_despesa_tot_mneg * @vl_tx_mneg, 2 )
select @vl_frete_tot_mn    = Round( @vl_frete_tot_mneg * @vl_tx_frete, 2 )
select @vl_seguro_tot_mn   = Round( @vl_seguro_tot_mneg * @vl_tx_seguro, 2 )
UPDATE TDECLARACAO_IMPORTACAO 
       SET TX_MLE    = Round( @vl_tx_mneg, 7 ),
           TX_FRETE  = Round( @vl_tx_frete, 7 ),
           TX_SEGURO = Round( @vl_tx_seguro, 7 ),
           TX_DOLAR  = Round( @vl_tx_dolar, 7 ) where (nr_processo = @nr_processo)
If @vl_mle_tot_mn <> @vl_mle_tot_mn1   
  UPDATE TDECLARACAO_IMPORTACAO SET VL_TOTAL_MLE_MN = @vl_mle_tot_mn where (nr_processo = @nr_processo) 
If @vl_despesa_tot_mn <> @vl_despesa_tot_mn1    
  UPDATE TDECLARACAO_IMPORTACAO SET VL_TOT_DESPS_MN = @vl_despesa_tot_mn where (nr_processo = @nr_processo) 
If @vl_frete_tot_mn <> @vl_frete_tot_mn1
  UPDATE TDECLARACAO_IMPORTACAO SET VL_TOTAL_FRETE_MN = @vl_frete_tot_mn where (nr_processo = @nr_processo) 
If @vl_seguro_tot_mn <> @vl_seguro_tot_mn1 
  UPDATE TDECLARACAO_IMPORTACAO SET VL_TOTAL_SEG_MN = @vl_seguro_tot_mn where (nr_processo = @nr_processo) 
/**************************************************************************************/
/*     Converte o Numero da Adicoes para uma string no formato 999                    */
/**************************************************************************************/
select @s_adicoes = Convert( char(3), @qt_adicoes )
select @s_adicoes = right( ( '000' + rtrim( @s_adicoes ) ), 3 )
/**************************************************************************************/
/*                 Totaliza Acrescimos e Deducoes da DI                               */
/**************************************************************************************/
select @vl_tot_acrescimos_mn   = ISNULL( sum( VL_ACRESCIMO_MN ), 0 ),
       @vl_tot_acrescimos_mneg = ISNULL( sum( VL_ACRESCIMO_MOEDA ), 0 )
       from tacrescimo_valoracao where (nr_processo = @nr_processo) 
select @vl_tot_deducoes_mn     = ISNULL( sum( VL_DEDUCAO_MN ), 0 ),
       @vl_tot_deducoes_mneg   = ISNULL( sum( VL_DEDUCAO_MNEG ), 0 )
       from tdeducao_valoracao where (nr_processo = @nr_processo) 
UPDATE TDECLARACAO_IMPORTACAO
       SET VL_TOTAL_ACRESCIMOS_MN = @vl_tot_acrescimos_mn,   
           VL_TOTAL_DEDUCOES_MN = @vl_tot_deducoes_mn     
       where (nr_processo = @nr_processo) 
/**************************************************************************************/
/*                 Desconta Acrescimoes e Deducoes                                    */
/**************************************************************************************/
select @vl_mle_tot_mn_ajust   = @vl_mle_tot_mn   + @vl_tot_acrescimos_mn - @vl_tot_deducoes_mn 
select @vl_mle_tot_mneg_ajust = @vl_mle_tot_mneg + @vl_tot_acrescimos_mneg - @vl_tot_deducoes_mneg 
/**************************************************************************************/
/*                 verifica se a adicao solicitada para calculo existe                */
/**************************************************************************************/
If  (select count(*) from tadicao_de_importacao where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) ) > 0
begin
  select @Incoterm = CD_INCOTERMS_VENDA,
         @cd_moeda_negoc_ad = CD_MOEDA_NEGOCIADA,
         @cd_reg_trib_ii = CD_REGIME_TRIBUTAR,
         @cd_tipo_acordo_tar = CD_TIPO_ACORDO_TAR,
         @in_ipi_nao_tributavel = IN_IPI_NAO_TRIBUT,
         @pc_icms_ad = ISNULL( PC_ICMS, 0 ),
         @pc_reducao_icms_ad = ISNULL( PC_REDUCAO_ICMS, 0 ) 
         from tadicao_de_importacao where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
  /**************************************************************************************/
  /*                 seleciona a moeda da capa ou a moeda da adicao                     */
  /**************************************************************************************/
  if @in_moeda_unica <> 0 
     select @cd_moeda = @cd_moeda_mle
  else
     select @cd_moeda = @cd_moeda_negoc_ad
  /**************************************************************************************/
  /*                 Totaliza Acrescimos e Deducoes a nivel de Adicao                   */
  /**************************************************************************************/
  select @vl_acrescimos_mn   = ISNULL( sum( VL_ACRESCIMO_MN ), 0 ),
         @vl_acrescimos_mneg = ISNULL( sum( VL_ACRESCIMO_MOEDA ), 0 )
         from tacrescimo_valoracao where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
  select @vl_deducoes_mn     = ISNULL( sum( VL_DEDUCAO_MN ), 0 ),
         @vl_deducoes_mneg   = ISNULL( sum( VL_DEDUCAO_MNEG ), 0 )
         from tdeducao_valoracao where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
  /**************************************************************************************/
  /*                       Totaliza Quantidades e Valores dos Itens                     */
  /**************************************************************************************/
  select @pl_merc_ad           = ISNULL( sum( PL_MERCADORIA ),    0 ),
         @qt_merc_un_estat_ad  = ISNULL( sum( QT_MERC_UN_ESTAT ), 0 ),
         @vl_mle_mneg          = ISNULL( sum( VL_MLE_ITEM ),      0 ) 
         from tdetalhe_mercadoria where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
  select @vl_mle_mneg         = Round( @vl_mle_mneg, 7 )
  select @vl_mle_mneg_ajust   = Round( @vl_mle_mneg_ajust, 7 )
  /**************************************************************************************/
  /*                       converte o total mle para moeda nacional                     */
  /*             calculo do frete da adicao (proporcional ao peso liquido)              */
  /*                 calculo do seguro da adicao (proporcional ao VMLE)                 */
  /**************************************************************************************/
  select @vl_mle_mn    = round( @vl_mle_mneg * @vl_tx_mneg , 2 ) 
  /**************************************************************************************/ 
  /*                 Desconta Acrescimoes e Deducoes                                    */
  /**************************************************************************************/
  select @vl_mle_mn_ajust   = @vl_mle_mn   + @vl_acrescimos_mn   - @vl_deducoes_mn
  select @vl_mle_mneg_ajust = @vl_mle_mneg + @vl_acrescimos_mneg - @vl_deducoes_mneg
  /**************************************************************************************/
  /*                       Rateio na Moeda                                              */
  /**************************************************************************************/
  If @vl_mle_tot_mneg_ajust > 0
    select @vl_despesa_mneg = round( ( @vl_despesa_tot_mneg * @vl_mle_mneg_ajust / @vl_mle_tot_mneg_ajust ), 2 ) 
  Else
    select @vl_despesa_mneg =0
  If @pl_merc_total > 0
    select @vl_frete_mneg = round( ( @vl_frete_tot_mneg * @pl_merc_ad / @pl_merc_total ), 2 )
  else 
    select @vl_frete_mneg = 0
   
  If @cd_tipo_base_seguro = '2'
     If @vl_mle_tot_mneg_ajust >0
        select @vl_seguro_mneg = round( ( @vl_seguro_tot_mneg * 
               ( @vl_mle_mneg_ajust + @vl_frete_mneg ) / ( @vl_mle_tot_mneg_ajust + @vl_frete_tot_mneg ) ), 2 )  
     else
        select @vl_seguro_mneg = 0
  else
     If @vl_mle_tot_mneg_ajust >0
        select @vl_seguro_mneg = round( ( @vl_seguro_tot_mneg * @vl_mle_mneg_ajust / @vl_mle_tot_mneg_ajust ), 2 )  
     else
        select @vl_seguro_mneg = 0
  /**************************************************************************************/
  /*                       Rateio em Real                                               */
  /**************************************************************************************/
  If @vl_mle_tot_mn_ajust > 0
    select @vl_despesa_mn = round( ( @vl_despesa_tot_mn * @vl_mle_mn_ajust / @vl_mle_tot_mn_ajust ), 2 ) 
  else
    select @vl_despesa_mn =0
  If @pl_merc_total > 0
    select @vl_frete_mn  = round( ( @vl_frete_tot_mn * @pl_merc_ad / @pl_merc_total ), 2 )
  else 
    select @vl_frete_mn  = 0
  If @cd_tipo_base_seguro = '2'
     If @vl_mle_tot_mn_ajust > 0
        select @vl_seguro_mn = round( ( @vl_seguro_tot_mn * 
               ( @vl_mle_mn_ajust + @vl_frete_mn ) / ( @vl_mle_tot_mn_ajust + @vl_frete_tot_mn ) ), 2 )
     else 
        select @vl_seguro_mn = 0
  else
     If @vl_mle_tot_mn_ajust > 0
        select @vl_seguro_mn = round( ( @vl_seguro_tot_mn * @vl_mle_mn_ajust / @vl_mle_tot_mn_ajust ), 2 )
     else 
        select @vl_seguro_mn = 0
  /**************************************************************************************/
  /*                 Adiciona ao VMLE as Despesas                                       */
  /**************************************************************************************/
  select @vl_mle_mneg       = @vl_mle_mneg       + @vl_despesa_mneg
  select @vl_mle_mn         = @vl_mle_mn         + @vl_despesa_mn
  select @vl_mle_mneg_ajust = @vl_mle_mneg_ajust + @vl_despesa_mneg
  select @vl_mle_mn_ajust   = @vl_mle_mn_ajust   + @vl_despesa_mn
  /**************************************************************************************/
  /*                               tratamento do REB                                    */
  /**************************************************************************************/
  If @in_reb = '1'
    begin
      If (select count(*) from tdeducao_valoracao where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and ( cd_met_deduc_valor = '05' )) = 0 
        begin
          INSERT INTO TDEDUCAO_VALORACAO
          ( NR_PROCESSO, NR_ADICAO, CD_MET_DEDUC_VALOR, VL_DEDUCAO_MNEG, CD_MD_NEGOC_DEDUC, VL_DEDUCAO_MN ) values
          ( @nr_processo, @nr_adicao, '05', Round( @vl_frete_mneg, 2 ), @cd_moeda_frete, Round( @vl_frete_mn, 2 ) )
        end
      else
        begin
          UPDATE TDEDUCAO_VALORACAO
          SET VL_DEDUCAO_MNEG = Round( @vl_frete_mneg, 2 ),
              CD_MD_NEGOC_DEDUC = @cd_moeda_frete,
              VL_DEDUCAO_MN = Round( @vl_frete_mn, 2) where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and ( cd_met_deduc_valor = '05' )
        end 
      select @vl_deducoes_mn = ISNULL( sum( VL_DEDUCAO_MN ),0 ) from tdeducao_valoracao where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
    end
  else
    If (select count(*) from tdeducao_valoracao where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and ( cd_met_deduc_valor = '05' )) > 0 /* 05 - Juros e Financiamento */
    begin
      delete from tdeducao_valoracao where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and ( cd_met_deduc_valor = '05' )
      select @vl_deducoes_mn = ISNULL( sum( VL_DEDUCAO_MN ), 0 ) from tdeducao_valoracao where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
    end
  /**************************************************************************************/
  /*        Ajusta Valores quando moeda do frete ou do seguro diferente a da MLE        */
  /**************************************************************************************/
  if @vl_tx_mneg <> @vl_tx_frete 
     select @vl_frete_mneg_ajust = Round ( ( @vl_frete_mneg * @vl_tx_frete / @vl_tx_mneg )  , 2 )
  else
     select @vl_frete_mneg_ajust = @vl_frete_mneg
  if @vl_tx_mneg <> @vl_tx_seguro 
     select @vl_seguro_mneg_ajust = Round ( ( @vl_seguro_mneg * @vl_tx_seguro / @vl_tx_mneg )  , 2 )
  else
     select @vl_seguro_mneg_ajust = @vl_seguro_mneg
  /**************************************************************************************/
  /*                 Apura o Valor da Mercadoria na Condicao da Venda                   */
  /**************************************************************************************/
  Select @vl_mcv_mneg = 
  CASE @Incoterm
    WHEN 'FOB' THEN @vl_mle_mneg
    WHEN 'FCA' THEN @vl_mle_mneg 
    WHEN 'FAS' THEN @vl_mle_mneg 
    WHEN 'EXW' THEN @vl_mle_mneg 
    WHEN 'DDU' THEN @vl_mle_mneg + @vl_seguro_mneg_ajust
    WHEN 'CFR' THEN @vl_mle_mneg + @vl_frete_mneg_ajust 
    WHEN 'CPT' THEN @vl_mle_mneg + @vl_frete_mneg_ajust 
    WHEN 'CIF' THEN @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
    WHEN 'DAF' THEN @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
    WHEN 'DES' THEN @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
    WHEN 'CIP' THEN @vl_mle_mneg + @vl_frete_mneg_ajust + @vl_seguro_mneg_ajust
    ELSE 0
  END
  Select @vl_mcv_mn = 
  CASE @Incoterm
    WHEN 'FOB' THEN @vl_mle_mn
    WHEN 'FCA' THEN @vl_mle_mn 
    WHEN 'FAS' THEN @vl_mle_mn 
    WHEN 'EXW' THEN @vl_mle_mn 
    WHEN 'DDU' THEN @vl_mle_mn + @vl_seguro_mn
    WHEN 'CFR' THEN @vl_mle_mn + @vl_frete_mn
    WHEN 'CPT' THEN @vl_mle_mn + @vl_frete_mn
    WHEN 'CIF' THEN @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
    WHEN 'DAF' THEN @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
    WHEN 'DES' THEN @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
    WHEN 'CIP' THEN @vl_mle_mn + @vl_frete_mn + @vl_seguro_mn
    ELSE 0
  END
  /**************************************************************************************/
  /*                formacao da base de calculo - I.I.                                  */
  /*                     Calcula o I.I - Imposto de Importacao                          */
  /**************************************************************************************/
  SELECT @vl_base_calc_ii = 
  CASE @Incoterm 
    WHEN 'FOB' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    WHEN 'FCA' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    WHEN 'FAS' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    WHEN 'EXW' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    WHEN 'DDU' THEN @vl_mle_mn_ajust + @vl_seguro_mn
    WHEN 'CFR' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    WHEN 'CPT' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    WHEN 'CIF' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    WHEN 'DAF' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    WHEN 'DES' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    WHEN 'CIP' THEN @vl_mle_mn_ajust + @vl_frete_mn + @vl_seguro_mn
    ELSE 0
  END
  /**************************************************************************************/
  /*                       Atualiza calculos na Adicao atual                            */
  /**************************************************************************************/
  update tadicao_de_importacao
         set PL_MERCADORIA        = Round( @pl_merc_ad, 7 ),
             QT_UN_ESTATISTICA    = Round( @qt_merc_un_estat_ad, 7),
             vl_merc_loc_emb_mneg = Round( @vl_mle_mneg, 2),
             CD_MOEDA_MLE         = @cd_moeda_mle,
             vl_merc_loc_emb_mn   = Round( @vl_mle_mn, 2),
             VL_FRETE_MERC_MNEG   = Round( @vl_frete_mneg, 2),
             CD_MD_FRETE_MERC     = @cd_moeda_frete,
             VL_FRETE_MERC_MN     = Round( @vl_frete_mn, 2),
             VL_SEG_MERC_MNEG     = Round( @vl_seguro_mneg, 2),
             CD_MOEDA_SEG_MERC    = @cd_moeda_seguro,
             VL_SEG_MERC_MN       = Round( @vl_seguro_mn, 2),
             VL_MERC_COND_VENDA   = Round( @vl_mcv_mneg, 2),
             CD_MOEDA_NEGOCIADA   = @cd_moeda,
             VL_MERC_VENDA_MN     = Round( @vl_mcv_mn, 2),
             VL_ACRESCIMOS_MN     = Round( @vl_tot_acrescimos_mn, 2),
             VL_DEDUCOES_MN       = Round( @vl_tot_deducoes_mn, 2),
             TX_MLE               = Round( @vl_tx_mneg, 7),
             TX_FRETE             = Round( @vl_tx_frete, 7),
             TX_SEGURO            = Round( @vl_tx_seguro, 7),
             TX_DOLAR             = Round( @vl_tx_dolar, 7),
             IN_ADICAO_CALCULADA  = 1 
         where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
  /**************************************************************************************/
  /*                       Atualiza valores para cambio                                 */
  /**************************************************************************************/
  SELECT @vl_vinc_md_cambio = 
  CASE @Incoterm 
    WHEN 'EXW' THEN @vl_mle_mneg 
    WHEN 'FAS' THEN @vl_mle_mneg 
    WHEN 'FOB' THEN @vl_mle_mneg  
    WHEN 'FCA' THEN @vl_mle_mneg 
    WHEN 'CFR' THEN @vl_mle_mneg + @vl_frete_mneg
    WHEN 'CPT' THEN @vl_mle_mneg + @vl_frete_mneg
    WHEN 'CIF' THEN @vl_mle_mneg + @vl_seguro_mneg + @vl_frete_mneg 
    WHEN 'DDU' THEN @vl_mle_mneg + @vl_seguro_mneg
    ELSE 0
  END
  select @cd_forma_pagamento = CD_FORMA_PAGAMENTO,
         @vl_ja_vinculado    = VL_VINC_MD_CAMBIO
         from tpagamento_vinculado where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
  If (@vl_ja_vinculado = 0) or (@vl_ja_vinculado = null)
     update tpagamento_vinculado
     set VL_VINC_MD_CAMBIO  = @vl_vinc_md_cambio  where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (cd_forma_pagamento = @cd_forma_pagamento) 
  /**************************************************************************************/
  /*                       Atualiza a base de calculo do I.I.                           */
  /**************************************************************************************/
  if not exists( select * from tributo where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (cd_receita_imposto = '0001') )
    begin
     insert into tributo ( nr_processo, nr_adicao, cd_receita_imposto, vl_base_calc_adval ) values
                         ( @nr_processo, @nr_adicao, '0001', Round( @vl_base_calc_ii, 2 ) )
    end
  /**************************************************************************************/
  /*                                 Calculo do I.I.                                    */
  /**************************************************************************************/
  if @cd_reg_trib_ii <> '2' and @cd_reg_trib_ii <> '6'  /* 2 - IMUNIDADE 6 - NAO INCIDENCIA */
  begin
    select @vl_ii_normal = 0
    select @vl_ii_acordo = 0
    select @vl_ii_devido = 0
    select @vl_ii_a_recolher = 0
    select @pc_aliq_normal   = ISNULL( PC_ALIQ_NORM_ADVAL, 0 ),
           @pc_aliq_acordo   = ISNULL( PC_ALIQ_ACOR_TARIF, 0 ),
           @pc_aliq_reduzida = ISNULL( PC_ALIQ_REDUZIDA,   0 ),
           @pc_reducao_imp   = ISNULL( PC_REDUCAO_IPT_BLI, 0 )
           from tributo where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (cd_receita_imposto = '0001')
    if @pc_aliq_normal   > 0 select @pc_ii_normal   = @pc_aliq_normal
    if @pc_aliq_acordo   > 0 select @pc_ii_acordo   = @pc_aliq_acordo
    if @pc_aliq_reduzida > 0 select @pc_ii_reduzida = @pc_aliq_reduzida
    if @pc_reducao_imp   > 0 select @pc_ii_reducao  = @pc_reducao_imp
    select @vl_ii_normal = Round( ( @vl_base_calc_ii * @pc_ii_normal / 100 ),2)
    if @cd_tipo_acordo_tar = '1' or
       @cd_tipo_acordo_tar = '2' or
       @cd_tipo_acordo_tar = '3'
       begin
         select @vl_ii_acordo = Round( ( @vl_base_calc_ii * @pc_ii_acordo / 100 ),2)
         select @vl_ii_devido = @vl_ii_acordo
         select @vl_ii_a_recolher = @vl_ii_acordo
       end
    else
       begin
         select @vl_ii_acordo = 0
       end
    if @cd_reg_trib_ii = '1' and @cd_tipo_acordo_tar <> '2'
       begin
         select @vl_ii_devido = @vl_ii_normal
         select @vl_ii_a_recolher = @vl_ii_normal
       end
    if @cd_reg_trib_ii = '4'
       If @pc_reducao_imp = 0
          begin
            select @vl_ii_reduzido = Round( ( @vl_base_calc_ii * @pc_ii_reduzida / 100 ),2)
            select @vl_ii_devido = @vl_ii_reduzido
            select @vl_ii_a_recolher = @vl_ii_reduzido
            If @pc_ii_acordo > 0
               begin
                 select @vl_ii_acordo = Round( ( @vl_base_calc_ii * @pc_ii_acordo / 100 ),2)
                 select @vl_ii_devido = @vl_ii_acordo
                 select @vl_ii_a_recolher = @vl_ii_acordo
               end
          end
       else
          If @pc_reducao_imp > 0
             begin
               select @vl_ii_acordo = 0
               select @vl_ii_reduzido = Round( ( ( @vl_base_calc_ii * @pc_ii_normal / 100 ) * ( 1 - ( @pc_ii_reducao / 100 ) ) ), 2 )
               select @vl_ii_devido = @vl_ii_normal
               select @vl_ii_a_recolher = @vl_ii_reduzido
               If @pc_ii_acordo > 0
                  begin
                    select @vl_ii_acordo = Round( ( @vl_base_calc_ii * @pc_ii_acordo / 100 ),2)
                    select @vl_ii_devido = @vl_ii_acordo
                    select @vl_ii_a_recolher = @vl_ii_acordo
                  end
             end
    if @cd_reg_trib_ii = '3'
       begin
         select @vl_ii_devido = @vl_ii_normal
         select @vl_ii_a_recolher = 0
       end
    if @cd_reg_trib_ii = '5'
       begin
         If @pc_ii_acordo > 0
            begin
              select @vl_ii_acordo = Round( ( @vl_base_calc_ii * @pc_ii_acordo / 100 ),2)
              select @vl_ii_devido = @vl_ii_acordo
            end
         else
            select @vl_ii_devido = @vl_ii_normal
         select @vl_ii_a_recolher = 0
       end
  end
  else
    begin
      select @vl_ii_normal = 0
      select @vl_ii_acordo = 0
      select @vl_ii_devido = 0
      select @vl_ii_a_recolher = 0
    end
    update tributo set VL_CALC_IPT_ADVAL  = @vl_ii_normal,
                       VL_CALC_II_AC_TARI = @vl_ii_acordo,                
                       VL_IMPOSTO_DEVIDO  = @vl_ii_devido,                
                       VL_IPT_A_RECOLHER  = @vl_ii_a_recolher,                
                       vl_base_calc_adval = Round( @vl_base_calc_ii, 2) 
    where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (cd_receita_imposto = '0001') 
  /**************************************************************************************/
  /*                       Atualiza a base de calculo do I.P.I.                           */
  /**************************************************************************************/
  if not exists( select * from tributo where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (cd_receita_imposto = '0002') )
    begin
     insert into tributo ( nr_processo, nr_adicao, cd_receita_imposto, vl_base_calc_adval ) values
                         ( @nr_processo, @nr_adicao, '0002', 0 )
    end
  /**************************************************************************************/
  /*                                 Calculo do I.P.I.                                  */
  /**************************************************************************************/
  select @vl_base_calc_ipi = 0
  select @vl_ipi_normal = 0
  select @vl_ipi_devido = 0
  select @vl_ipi_a_recolher = 0
  select @vl_calc_aliq_especif = 0 
  if @in_ipi_nao_tributavel = 0
  begin
    select @pc_aliq_normal         = ISNULL( PC_ALIQ_NORM_ADVAL, 0 ),
           @pc_aliq_reduzida       = ISNULL( PC_ALIQ_REDUZIDA, 0 ),
           @cd_tipo_benef_ipi      = CD_TIPO_BENEF_IPI,
           @nm_unid_aliq_especif   = NM_UN_ALIQ_ESP_IPT,
           @cd_tipo_recipiente     = CD_TIPO_RECIPIENTE,
           @qt_ml_recipiente       = ISNULL( QT_ML_RECIPIENTE, 0 ),
           @qt_mercad_aliq_especif = ISNULL( QT_MERC_UN_ALIQ_ES, 0 ),
           @vl_aliq_unit_especif   = ISNULL( VL_ALIQ_ESPEC_IPT, 0 )
           from tributo where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (cd_receita_imposto = '0002')  
    If @vl_aliq_unit_especif > 0
       begin
         Select @vl_calc_aliq_especif = @vl_aliq_unit_especif * @qt_mercad_aliq_especif
         Select @vl_ipi_devido        = @vl_calc_aliq_especif 
         Select @vl_ipi_a_recolher    = @vl_calc_aliq_especif 
       end
    else
       begin
         select @vl_base_calc_ipi = @vl_base_calc_ii + @vl_ii_a_recolher
         if @pc_aliq_normal   > 0 select @pc_ipi_normal = @pc_aliq_normal   
         if @pc_aliq_reduzida > 0 select @pc_ipi_reduzida = @pc_aliq_reduzida 
         select @vl_ipi_normal = Round( ( @vl_base_calc_ipi * @pc_ipi_normal / 100 ),2)
         select @vl_ipi_devido = @vl_ipi_normal 
         select @vl_ipi_a_recolher = @vl_ipi_normal 
         if @cd_tipo_benef_ipi = '2'         
         begin
           select @vl_ipi_reduzido = Round( ( @vl_base_calc_ipi * @pc_ipi_reduzida / 100 ),2)
           select @vl_ipi_devido = @vl_ipi_reduzido
           select @vl_ipi_a_recolher = @vl_ipi_reduzido
         end
         if @cd_tipo_benef_ipi = '5' select @vl_ipi_a_recolher = 0
         if @cd_tipo_benef_ipi = '1' select @vl_ipi_a_recolher = 0
       end
  end
  update tributo set VL_CALC_IPT_ESPEC = @vl_calc_aliq_especif, 
                     VL_CALC_IPT_ADVAL = @vl_ipi_normal,
                     VL_IMPOSTO_DEVIDO = @vl_ipi_devido,
                     VL_IPT_A_RECOLHER = @vl_ipi_a_recolher,
                     vl_base_calc_adval = Round( @vl_base_calc_ipi, 2)
  where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (cd_receita_imposto = '0002') 
  /**************************************************************************************/
  /*                               Calculo do antidumping                               */
  /**************************************************************************************/
  select @vl_antidump = 0
  select @vl_antidump_devido = 0
  select @vl_antidump_a_recolher = 0
  select @pc_antidump      = ISNULL( PC_ALIQ_NORM_ADVAL, 0 ),
         @vl_base_antidump = ISNULL( VL_BASE_CALC_ADVAL, 0 )
         from tributo where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (cd_receita_imposto = '0003')  
  if @pc_antidump > 0 select @vl_antidump = Round( ( @vl_base_antidump * @pc_antidump / 100 ),2)
  update tributo set VL_IMPOSTO_DEVIDO = @vl_antidump, 
                     VL_IPT_A_RECOLHER = @vl_antidump 
  where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (cd_receita_imposto = '0003') 
  /**************************************************************************************/
  /*                      Calculo do ICMS                                               */
  /**************************************************************************************/
  If @pc_icms_ad = 0 Select @pc_icms_ad = @pc_icms
  If @pc_reducao_icms_ad = 0 Select @pc_reducao_icms_ad = @pc_reducao_icms
  select @vl_icms_devido = ( @vl_base_calc_ii + @vl_ii_a_recolher + @vl_ipi_a_recolher + @vl_antidump_a_recolher ) * @pc_icms_ad / 100
  select @vl_icms_a_recolher = @vl_icms_devido
  If @pc_reducao_icms_ad > 0
  begin
    select @vl_icms_a_recolher = @vl_icms_devido - ( @vl_icms_devido * @pc_reducao_icms_ad / 100 )    
  end
  update tadicao_de_importacao
         set PC_ICMS             = Round( @pc_icms_ad, 2 ),
             PC_REDUCAO_ICMS     = Round( @pc_reducao_icms_ad, 2 ),
             VL_ICMS_CALCULADO   = Round( @vl_icms_devido, 2),
             VL_ICMS_A_RECOLHER  = Round( @vl_icms_a_recolher, 2) where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
 
  /**************************************************************************************/
  /*                      Gera o valor do item na Condicao da venda                     */
  /**************************************************************************************/
  /* Conta quantos itens tem esta esta Adicao */
  select @qt_itens = count(*) from tdetalhe_mercadoria
         where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
  select @i_itens  = 1
  /* Abre um cursor para tratamento "Linha a Linha" */
  declare c_item cursor for select nr_item, pl_mercadoria, vl_mle_item, qt_merc_un_comerc from tdetalhe_mercadoria where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) 
  open c_item
  fetch c_item into @nr_item, @pl_merc_item_read, @vl_mle_item_read, @qt_merc_un_comerc_read 
  select @pl_merc_item      = @pl_merc_item_read
  select @vl_mle_item       = @vl_mle_item_read
  select @qt_merc_un_comerc = @qt_merc_un_comerc_read
  select @vl_frete_item = 0
  select @vl_seguro_item = 0
  select @vl_soma_frete_item  = 0
  select @vl_soma_seguro_item = 0
  select @vl_soma_mcv_item    = 0
  while @@fetch_status <> -1
  begin
    /* So havera rateio se o peso liquido for informado no item */
    If @pl_merc_ad > 0  
       begin
        if @i_itens = @qt_itens
          select @vl_frete_item  = @vl_frete_mneg  - @vl_soma_frete_item 
        else
          begin  
            /* rateio de frete */
            select @vl_frete_item       = @vl_frete_mneg * @pl_merc_item / @pl_merc_ad
            /* Acumula valores para o acerto de diferen+as no ultimo item (ramo do if cima) */
            select @vl_soma_frete_item  = @vl_soma_frete_item + @vl_frete_item  
          end
       end
    else
      select @vl_frete_item = 0
    /* So calcula o Seguro se o total mle foi conseguido */ 
    If @vl_mle_mneg > 0
       begin
        if @i_itens = @qt_itens
          select @vl_seguro_item  = @vl_seguro_mneg  - @vl_soma_seguro_item 
        else
          begin  
            /* rateio de seguro */  
            select @vl_seguro_item      = @vl_seguro_mneg * @vl_mle_item / @vl_mle_mneg
            /* Acumula valores para o acerto de diferen+as no ultimo item (ramo do if cima) */
            select @vl_soma_seguro_item = @vl_soma_seguro_item + @vl_seguro_item  
          end
      end
    else 
      select @vl_seguro_item = 0
    if @i_itens = @qt_itens
       begin
         select @vl_mcv_item    = @vl_mcv_mneg    - @vl_soma_mcv_item 
       end
    else
       begin  
         /* apura o valor da mercadoria na condicao da venda */  
         select @vl_mcv_item = 
           case @Incoterm
                when 'FOB' then @vl_mle_item 
                when 'FCA' then @vl_mle_item 
                when 'FAS' then @vl_mle_item 
                when 'EXW' then @vl_mle_item 
                when 'DDU' then @vl_mle_item + @vl_seguro_item
                when 'CFR' then @vl_mle_item + @vl_frete_item 
                when 'CPT' then @vl_mle_item + @vl_frete_item 
                when 'CIF' then @vl_mle_item + @vl_frete_item + @vl_seguro_item
                when 'DAF' then @vl_mle_item + @vl_frete_item + @vl_seguro_item
                when 'DES' then @vl_mle_item + @vl_frete_item + @vl_seguro_item
                when 'CIP' then @vl_mle_item + @vl_frete_item + @vl_seguro_item
                else 0
           end
         /* Acumula valores para o acerto de diferen+as no ultimo item (ramo do if cima) */
         select @vl_soma_mcv_item    = @vl_soma_mcv_item + @vl_mcv_item   
       end
    select @vl_frete_item  = Round( @vl_frete_item, 2 )
    select @vl_seguro_item = Round( @vl_seguro_item, 2 )   
    select @vl_mcv_item    = Round( @vl_mcv_item, 2 ) 
    If @qt_merc_un_comerc <> 0
       select @vl_ucv = Round( ( @vl_mcv_item / @qt_merc_un_comerc ), 7 )
    else
       select @vl_ucv = 0
    update tdetalhe_mercadoria set VL_UNID_COND_VENDA = @vl_ucv,
                                   VL_MCV_ITEM        = @vl_mcv_item, 
                                   VL_FRETE_ITEM      = @vl_frete_item, 
                                   VL_SEGURO_ITEM     = @vl_seguro_item where (nr_processo = @nr_processo) and (nr_adicao = @nr_adicao) and (nr_item = @nr_item)
    select @i_itens = @i_itens + 1
    fetch c_item into @nr_item, @pl_merc_item_read, @vl_mle_item_read, @qt_merc_un_comerc_read 
    select @pl_merc_item      = @pl_merc_item_read
    select @vl_mle_item       = @vl_mle_item_read
    select @qt_merc_un_comerc = @qt_merc_un_comerc_read
  end
  close c_item
  deallocate c_item
end



GO
