USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE  PROC [sp_rel_extrato_cc] @cd_coligada char(2), @cd_unid_neg char(2), @cd_banco char(3), 
            @dt_inicio char(10), @dt_fim char(10), @in_conciliacao char(1), @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON

DECLARE @cd_coligada char(2)
DECLARE @cd_unid_neg char(2)
DECLARE @cd_banco char(3)
DECLARE @dt_inicio char(10)
DECLARE @dt_fim char(10)
DECLARE @in_conciliacao char(1)
DECLARE @nr_identificador int

SELECT @cd_coligada    = '01'
SELECT @cd_unid_neg    = ''
SELECT @cd_banco       = '644'
SELECT @dt_inicio      = '02/01/2010'
SELECT @dt_fim         = '30/06/2010'
SELECT @in_conciliacao = '3'	-- '0' - Não Conciliado / '2' - Conciliado / '3' - Todos
*/

SELECT @cd_unid_neg = ISNULL( @cd_unid_neg, '' )

DECLARE @dt_inicial        datetime
DECLARE @dt_final          datetime
DECLARE @dt_temp           datetime
DECLARE @cd_item_pagto_sd  char(3)
DECLARE @cd_item_receb_sd  char(3)
DECLARE @cd_item_ext_pagto char(3)
DECLARE @cd_item_ext_receb char(3)
DECLARE @in_cancelado      char(1)
DECLARE @dt_conciliacao    datetime
DECLARE @in_grava          integer
DECLARE @nm_estorno        char(1)
DECLARE @cd_unid_neg1       char(2)
DECLARE @cd_ct_caixa       char(3)

SELECT @cd_item_pagto_sd  = CD_ITEM_PAGTO_SD,
       @cd_item_receb_sd  = CD_ITEM_RECEB_SD,
       @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO,
       @cd_item_ext_receb = CD_ITEM_EXT_RECEB
FROM   TPARAMETROS (NOLOCK)

SELECT @dt_inicial = CONVERT( datetime, @dt_inicio, 103 )
SELECT @dt_temp    = CONVERT( datetime, @dt_inicio, 103 )
SELECT @dt_final   = CONVERT( datetime, @dt_fim, 103 )
SELECT @in_cancelado = '0'

SELECT @cd_ct_caixa = CD_CONTA
FROM   TCONTA_CAIXA (NOLOCK)
where  CD_COLIGADA = @cd_coligada AND
       CD_BANCO = @cd_banco


IF (SELECT COUNT(*) FROM TCAIXA_SALDOS WHERE DT_MOVIMENTO = (CONVERT(DATETIME, @DT_INICIO, 103) -1) AND CD_UNID_NEG = @cd_unid_neg 
											  AND CD_CT_CAIXA = (SELECT CD_CONTA FROM TCONTA_CAIXA WHERE CD_BANCO = @cd_banco)) = 0
  print 'RETURN(1)'

WHILE @dt_temp <= @dt_final
BEGIN
  EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_temp, @cd_ct_caixa
  SELECT @dt_temp = @dt_temp + 1
END

DECLARE @nr_ult_lanc       int
DECLARE @dt_lancamento     datetime
DECLARE @nm_historico      varchar(200)
DECLARE @proc_nm_hist      varchar(200)
DECLARE @nr_docto	         char(6)
DECLARE @nr_cheque 	       char(6)
DECLARE @vl_lancamento     numeric(14,2)
DECLARE @vl_cancelado	     numeric(14,2)
DECLARE @in_saldo	         char(1)
DECLARE @proc_vl_lanc	     numeric(14,2)
DECLARE @nm_item_ct_contabil varchar(200)
DECLARE @vl_saldo          numeric(14,2)
DECLARE @dt_saldo	         datetime
DECLARE @nr_lancamento 	   char(5)
DECLARE @in_conciliado     char(1)
DECLARE @nm_hist_caixa       char(8)


SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TREL_EXTRATO_CC (TABLOCK HOLDLOCK)


SELECT @dt_saldo = MAX( DT_MOVIMENTO )
FROM   TCAIXA_SALDOS (NOLOCK)
WHERE  CD_COLIGADA = @cd_coligada AND
       DT_MOVIMENTO < @dt_inicial AND
       CD_CT_CAIXA = @cd_ct_caixa AND
       CD_UNID_NEG = @cd_unid_neg

IF ISNULL(@dt_saldo, '') = ''
  SELECT @dt_saldo = CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103),103)

SELECT @vl_saldo = ISNULL( VL_SALDO_ANT, 0 ) + ISNULL( VL_TOT_CRE, 0 ) - ISNULL( VL_TOT_DEB, 0 )
FROM   TCAIXA_SALDOS (NOLOCK)
WHERE  CD_COLIGADA =  @cd_coligada AND
       DT_MOVIMENTO = @dt_saldo AND
       CD_CT_CAIXA = @cd_ct_caixa AND
       CD_UNID_NEG = @cd_unid_neg

--Criação de #TMP_EXTRATO
SELECT DT_MOVIMENTO DT_LANCAMENTO, @nm_historico NM_HISTORICO, @nm_hist_caixa NM_HIST_CAIXA, @nr_docto NR_DOCTO, @nr_cheque NR_CHEQUE, @vl_lancamento VL_LANCAMENTO, @vl_lancamento VL_CANCELADO, IN_CONCILIACAO IN_CONCILIACAO, DT_CONCILIACAO, CD_UNID_NEG
INTO #TMP_EXTRATO
FROM TCAIXA
WHERE 1=0

-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
--Cheques
INSERT INTO #TMP_EXTRATO 
SELECT C.DT_MOVIMENTO DT_LANCAMENTO, 
   MAX(
   CASE ISNULL( C.CD_ITEM, '' )
      WHEN '' THEN T.NM_CT_CONTABIL
      ELSE 
        CASE C.CD_ITEM 
           WHEN @cd_item_pagto_sd  THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
           WHEN @cd_item_receb_sd  THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
           WHEN @cd_item_ext_pagto THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
           WHEN @cd_item_ext_receb THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
           ELSE I.NM_ITEM
        END
   END 
   ) NM_HISTORICO ,
   SUBSTRING( C.NM_HISTORICO, 1, 8 ) NM_HIST_CAIXA,
   MAX( ISNULL( CASE C.TP_PAGAMENTO WHEN 'D' THEN C.NR_CHEQUE WHEN 'T' THEN C.NR_CHEQUE END, '' ) ) NR_DOCTO,
   MAX( ISNULL( CASE C.TP_PAGAMENTO WHEN 'C' THEN C.NR_CHEQUE END, '' ) ) NR_CHEQUE,
   ROUND( SUM(
     CASE C.TP_NATUREZA 
       WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
       WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
     END  
   ), 2 ) VL_LANCAMENTO,
   ROUND( SUM(
     CASE C.TP_NATUREZA 
       WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
       ELSE 0
     END  
   ), 2 ) VL_CANCELADO, C.IN_CONCILIACAO, C.DT_CONCILIACAO, C.CD_UNID_NEG
FROM  TCAIXA C (NOLOCK), TCT_CONTABIL T (NOLOCK), TITEM I (NOLOCK), TFAVORECIDO F (NOLOCK)
WHERE C.CD_COLIGADA  = @cd_coligada  AND
      ( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
      C.CD_BANCO     = @cd_banco AND
      C.DT_MOVIMENTO BETWEEN @dt_inicial AND @dt_final AND
      C.IN_CANCELADO = '0' AND
      C.CD_CT_CONTABIL *= T.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = T.ANO_CONTA AND
      C.CD_ITEM *= I.CD_ITEM AND
      C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND
      ( ( C.NR_CHEQUE IS NOT NULL ) AND ( C.NR_CHEQUE <> '' ) ) 
--     AND ( ( C.IN_CONCILIACAO = @in_conciliacao ) OR ( @in_conciliacao = '3' ) )
GROUP BY C.DT_MOVIMENTO, C.TP_PAGAMENTO, C.NR_CHEQUE, C.IN_CONCILIACAO, C.DT_CONCILIACAO, C.NM_HISTORICO, C.CD_UNID_NEG
ORDER BY C.NR_CHEQUE, C.DT_MOVIMENTO


-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
--Outros
INSERT INTO #TMP_EXTRATO
SELECT C.DT_MOVIMENTO DT_LANCAMENTO, 
      CASE C.TP_PROCEDENCIA
        WHEN 9 THEN 
          CASE ISNULL( C.CD_FAVORECIDO, '' )
            WHEN '' THEN SUBSTRING( C.NM_HISTORICO, 1, 50 )
            ELSE F.NM_FAVORECIDO 
          END  
      ELSE
        CASE ISNULL( C.CD_ITEM, '' )
          WHEN '' THEN 
            CASE SUBSTRING( C.NM_HISTORICO, 1, 9 )  -- 09/10/2006
              WHEN 'Estorno .' THEN F.NM_FAVORECIDO
              ELSE T.NM_CT_CONTABIL
            END
        ELSE 
          CASE C.CD_ITEM 
            WHEN @cd_item_pagto_sd  THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
            WHEN @cd_item_receb_sd  THEN
              CASE ISNULL( F.NM_FAVORECIDO, '' )    -- 09/10/2006
                WHEN '' THEN
                  CASE C.TP_PROCEDENCIA  -- LIQUIDACAO
                    WHEN 4 THEN ( SELECT E.AP_EMPRESA
                                FROM TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK) WHERE P.CD_CLIENTE = E.CD_EMPRESA 
                                AND P.NR_PROCESSO = C.NR_PROCESSO ) 
                    ELSE I.NM_ITEM
                  END
                ELSE LTRIM( RTRIM( F.NM_FAVORECIDO ) )
              END 
            WHEN @cd_item_ext_pagto THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
            WHEN @cd_item_ext_receb THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
--          ELSE I.NM_ITEM
          ELSE CASE C.CD_ITEM WHEN '991' THEN LTRIM( RTRIM( I.NM_ITEM ) ) + '/' + ( SELECT E.AP_EMPRESA FROM TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK) 
																					WHERE P.CD_CLIENTE = E.CD_EMPRESA 
																	                      AND P.NR_PROCESSO = C.NR_PROCESSO ) 
			   ELSE I.NM_ITEM END
          END
        END
      END NM_HISTORICO ,
   SUBSTRING( C.NM_HISTORICO, 1, 8 ) NM_HIST_CAIXA,
   ISNULL( CASE C.TP_PAGAMENTO WHEN 'D' THEN C.NR_CHEQUE WHEN 'T' THEN C.NR_CHEQUE END, '' ) NR_DOCTO,
   ISNULL( CASE C.TP_PAGAMENTO WHEN 'C' THEN C.NR_CHEQUE END, '' ) NR_CHEQUE,
   ROUND(
     CASE C.TP_NATUREZA 
       WHEN 'C' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ), 2 )
       WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
     END, 2 ) VL_LANCAMENTO,
   ROUND(
     CASE C.TP_NATUREZA 
       WHEN 'D' THEN ROUND( ( ISNULL( C.VL_LANCAMENTO, 0 ) + ISNULL( C.VL_ASSIST, 0 ) - ISNULL( C.VL_IR, 0 ) ) * ( -1 ), 2 )
       ELSE 0
     END, 2 ) VL_CANCELADO, C.IN_CONCILIACAO, C.DT_CONCILIACAO, C.CD_UNID_NEG
FROM  TCAIXA C (NOLOCK), TCT_CONTABIL T (NOLOCK), TITEM I (NOLOCK), TFAVORECIDO F (NOLOCK)
WHERE C.CD_COLIGADA  = @cd_coligada  AND
      ( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
      C.CD_BANCO     = @cd_banco AND
      C.DT_MOVIMENTO BETWEEN @dt_inicial AND @dt_final AND
      C.IN_CANCELADO = '0' AND
      C.CD_CT_CONTABIL *= T.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = T.ANO_CONTA AND
      C.CD_ITEM *= I.CD_ITEM AND
      C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND
      ( ( C.NR_CHEQUE = '' ) OR ( C.NR_CHEQUE IS NULL ) ) 
--     AND ( ( C.IN_CONCILIACAO = @in_conciliacao ) OR ( @in_conciliacao = '3' ) )
ORDER BY C.DT_MOVIMENTO

-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
--Cheques

DECLARE c_extrato CURSOR FOR
   SELECT DT_LANCAMENTO, MAX( NM_HISTORICO ) NM_HISTORICO, NR_DOCTO, NR_CHEQUE, 
          SUM( VL_LANCAMENTO ) VL_LANCAMENTO, SUM( VL_CANCELADO ) VL_CANCELADO,
          IN_CONCILIACAO, DT_CONCILIACAO, MAX( ISNULL(NM_HIST_CAIXA,'') ), CD_UNID_NEG
   FROM   #TMP_EXTRATO
   WHERE  ( ( NR_CHEQUE IS NOT NULL ) AND ( NR_CHEQUE <> '' ) )
   GROUP BY DT_LANCAMENTO, NR_DOCTO, NR_CHEQUE, IN_CONCILIACAO, DT_CONCILIACAO, CD_UNID_NEG
   ORDER BY NR_CHEQUE, DT_LANCAMENTO
OPEN c_extrato
FETCH c_extrato INTO @dt_lancamento, @nm_historico, @nr_docto, @nr_cheque, @vl_lancamento, @vl_cancelado, @in_conciliado, @dt_conciliacao, @nm_hist_caixa, @cd_unid_neg1
WHILE @@fetch_status <> -1
BEGIN
  SELECT @in_grava = 0
  SELECT @nm_estorno = '0'
  SELECT @proc_nm_hist = ''

  DECLARE c_item_extrato CURSOR FOR
  SELECT DISTINCT ISNULL( 
           CASE C.CD_ITEM 
             WHEN @cd_item_pagto_sd  THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
             WHEN @cd_item_receb_sd  THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
             WHEN @cd_item_ext_pagto THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
             WHEN @cd_item_ext_receb THEN LTRIM( RTRIM( F.NM_FAVORECIDO ) )
             ELSE I.NM_ITEM
          END, '' )
  FROM  TCAIXA C (NOLOCK), TITEM I (NOLOCK), TFAVORECIDO F (NOLOCK)
  WHERE C.CD_ITEM *= I.CD_ITEM AND
        C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND
        C.DT_MOVIMENTO = @dt_lancamento AND
        ( ( C.NR_CHEQUE  = @nr_cheque ) AND ( C.NR_CHEQUE IS NOT NULL ) AND ( C.NR_CHEQUE <> '' ) ) AND
        C.CD_COLIGADA  = @cd_coligada  AND
        ( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
        C.CD_BANCO     = @cd_banco AND
        C.IN_CANCELADO = '0' 
  OPEN c_item_extrato
  FETCH c_item_extrato INTO @nm_item_ct_contabil
  WHILE @@fetch_status <> -1
  BEGIN
    IF LTRIM( RTRIM( @nm_item_ct_contabil ) ) <> ''
       SELECT @proc_nm_hist = @proc_nm_hist + LTRIM( RTRIM( @nm_item_ct_contabil ) ) + '/'
    FETCH c_item_extrato INTO @nm_item_ct_contabil
  END
  CLOSE c_item_extrato
  DEALLOCATE c_item_extrato

  DECLARE c_ct_contabil_extrato CURSOR FOR
  SELECT DISTINCT ISNULL( I.NM_CT_CONTABIL, '')
  FROM  TCAIXA C (NOLOCK), TCT_CONTABIL I (NOLOCK) 
  WHERE C.CD_CT_CONTABIL *= I.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = I.ANO_CONTA AND
        C.DT_MOVIMENTO = @dt_lancamento AND
        ( ( C.NR_CHEQUE  = @nr_cheque ) AND ( C.NR_CHEQUE IS NOT NULL ) AND ( C.NR_CHEQUE <> '' ) ) AND
        C.CD_COLIGADA  = @cd_coligada  AND
        ( ( C.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
        C.CD_BANCO     = @cd_banco AND
        C.IN_CANCELADO = '0' AND
        ( ( C.IN_CONCILIACAO = @in_conciliacao ) OR ( @in_conciliacao = '3' ) )
  OPEN c_ct_contabil_extrato
  FETCH c_ct_contabil_extrato INTO @nm_item_ct_contabil
  WHILE @@fetch_status <> -1
  BEGIN
    IF @nm_hist_caixa = 'ESTORNO '
      SELECT @nm_estorno = '1'
    IF LTRIM( RTRIM( @nm_item_ct_contabil ) ) <> ''
       SELECT @proc_nm_hist = @proc_nm_hist + LTRIM( RTRIM( @nm_item_ct_contabil ) ) + '/'

    FETCH c_ct_contabil_extrato INTO @nm_item_ct_contabil
  END
  CLOSE c_ct_contabil_extrato
  DEALLOCATE c_ct_contabil_extrato

  IF LEN( LTRIM( RTRIM( @proc_nm_hist ) ) ) > 1 
     SELECT @proc_nm_hist = SUBSTRING( LTRIM( RTRIM( @proc_nm_hist ) ), 1, ( LEN( LTRIM( RTRIM( @proc_nm_hist ) ) ) - 1 ) )

  SELECT @nr_ult_lanc = CONVERT( INT, MAX( ISNULL( NR_LANCAMENTO, '00000' ) ) )
  FROM   TREL_EXTRATO_CC (TABLOCK HOLDLOCK)
  WHERE  NR_IDENTIFICADOR = @nr_identificador

  SELECT @in_saldo = '1'
  SELECT @in_cancelado = '0'
  IF @vl_lancamento = 0
  BEGIN
    SELECT @in_grava = 1
    SELECT @vl_lancamento = @vl_cancelado
    IF LEN( @proc_nm_hist ) > 188 
      SELECT @proc_nm_hist = SUBSTRING( @proc_nm_hist, 1, 187 )
    SELECT @proc_nm_hist = LTRIM( RTRIM( ISNULL( @proc_nm_hist, '' ) ) ) + ' - CANCELADO'
    SELECT @in_saldo = '0'
    SELECT @in_cancelado = '1'
  END

  
  IF ( @in_grava = 0 ) AND ( @nm_estorno = '1' )
  BEGIN
    SELECT @in_grava = 1
    IF LEN( @proc_nm_hist ) > 190 
      SELECT @proc_nm_hist = SUBSTRING( @proc_nm_hist, 1, 187 )
    IF @vl_lancamento = @vl_cancelado
      SELECT @proc_nm_hist = LTRIM( RTRIM( ISNULL( @proc_nm_hist, '' ) ) ) + ' - ESTORNO'
    SELECT @in_cancelado = '1'
  END

  -- Apenas quando a opção "Ambos" é escolhida os cheques cancelados são gravados
  IF @in_grava = 1
  BEGIN
    IF @in_conciliacao = '3'
    BEGIN
      SELECT @in_grava = 0
      SELECT @in_conciliado = '2'
    END
  END

  -- Quando a data de conciliação for maior que o período solicitado pelo o usuário, muda o lançamento que está conciliado
  -- para não conciliado - solicitado por Cibele em 24/04/2006
  IF @in_conciliado = '2'
  BEGIN
    IF @dt_conciliacao > @dt_final
      SELECT @in_conciliado = '0'
  END

  IF @in_conciliacao = '0' AND @in_conciliado = '2' --Não Conciliados
    SELECT @in_grava = 1

  IF @in_conciliacao = '2' AND @in_conciliado = '0' --Conciliados
    SELECT @in_grava = 1
  
  IF @in_grava = 0
  BEGIN
    INSERT TREL_EXTRATO_CC ( NR_IDENTIFICADOR, NR_LANCAMENTO, CD_BANCO, DT_LANCAMENTO, NR_DOCTO, NR_CHEQUE, NM_HISTORICO, VL_LANCAMENTO, IN_SALDO, IN_CONCILIACAO, IN_CANCELADO, CD_UNID_NEG )
    VALUES ( @nr_identificador, RIGHT( '00000' + CONVERT( VARCHAR, ( ISNULL( @nr_ult_lanc, 0) + 1 ) ), 5),
             @cd_banco, @dt_lancamento, @nr_docto, @nr_cheque, @proc_nm_hist, @vl_lancamento, @in_saldo, @in_conciliado, @in_cancelado, @cd_unid_neg1 )
  END
  ELSE
    SELECT @in_grava = 0

  FETCH c_extrato INTO @dt_lancamento, @nm_historico, @nr_docto, @nr_cheque, @vl_lancamento, @vl_cancelado, @in_conciliado, @dt_conciliacao, @nm_hist_caixa, @cd_unid_neg1

END
CLOSE c_extrato
DEALLOCATE c_extrato


-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-- Outros
DECLARE c_extrato CURSOR FOR
   SELECT DT_LANCAMENTO, NM_HISTORICO, NR_DOCTO, NR_CHEQUE, 
          VL_LANCAMENTO, VL_CANCELADO, IN_CONCILIACAO, DT_CONCILIACAO, NM_HIST_CAIXA, CD_UNID_NEG
   FROM   #TMP_EXTRATO
   WHERE ( ( NR_CHEQUE = '' ) OR ( NR_CHEQUE IS NULL ) )
   ORDER BY DT_LANCAMENTO, NR_CHEQUE, NR_DOCTO, NM_HISTORICO, VL_LANCAMENTO, DT_CONCILIACAO
 
OPEN c_extrato
FETCH c_extrato INTO @dt_lancamento, @nm_historico, @nr_docto, @nr_cheque, @vl_lancamento, @vl_cancelado, @in_conciliado, @dt_conciliacao, @nm_hist_caixa, @cd_unid_neg1
WHILE @@fetch_status <> -1
BEGIN
  SELECT @in_grava = 0

  SELECT @nr_ult_lanc = CONVERT( INT, MAX( ISNULL( NR_LANCAMENTO, '00000' ) ) )
  FROM   TREL_EXTRATO_CC (TABLOCK HOLDLOCK)
  WHERE  NR_IDENTIFICADOR = @nr_identificador

  SELECT @in_saldo = '1'
  SELECT @in_cancelado = '0'
  IF @vl_lancamento = 0
  BEGIN
    SELECT @in_grava = 1
    SELECT @vl_lancamento = @vl_cancelado
    IF @nm_hist_caixa = 'ESTORNO'
      SELECT @nm_historico = LTRIM( RTRIM( ISNULL( @nm_historico, '' ) ) ) + ' - ESTORNO'
    ELSE
      SELECT @nm_historico = LTRIM( RTRIM( ISNULL( @nm_historico, '' ) ) ) + ' - CANCELADO'
    SELECT @in_saldo = '0'
    SELECT @in_cancelado = '1'
  END
  ELSE
  BEGIN
    IF @nm_hist_caixa = 'ESTORNO'
      SELECT @nm_historico = LTRIM( RTRIM( ISNULL( @nm_historico, '' ) ) ) + ' - ESTORNO'
  END

  -- Apenas quando a opção "Ambos" é escolhida os lançamentos cancelados são gravados
  IF @in_grava = 1
  BEGIN
    IF @in_conciliacao = '3'
    BEGIN
      SELECT @in_grava = 0
      SELECT @in_conciliado = '2'
    END
  END

  -- Quando a data de conciliação for maior que o período solicitado pelo o usuário, muda o lançamento que está conciliado
  -- para não conciliado - solicitado por Cibele em 24/04/2006
  IF @in_conciliado = '2'
  BEGIN
    IF @dt_conciliacao > @dt_final
      SELECT @in_conciliado = '0'
  END

  IF @in_conciliacao = '0' AND @in_conciliado = '2' --Não Conciliados
    SELECT @in_grava = 1

  IF @in_conciliacao = '2' AND @in_conciliado = '0' --Conciliados
    SELECT @in_grava = 1

  IF @in_grava = 0
  BEGIN
    INSERT TREL_EXTRATO_CC ( NR_IDENTIFICADOR, NR_LANCAMENTO, CD_BANCO, DT_LANCAMENTO, NR_DOCTO, NR_CHEQUE, NM_HISTORICO, VL_LANCAMENTO, IN_SALDO, IN_CONCILIACAO, IN_CANCELADO, CD_UNID_NEG )
    VALUES ( @nr_identificador, RIGHT( '00000' + CONVERT( VARCHAR, ( ISNULL( @nr_ult_lanc, 0) + 1 ) ), 5),
             @cd_banco, @dt_lancamento, @nr_docto, @nr_cheque, @nm_historico, @vl_lancamento, @in_saldo, @in_conciliado, @in_cancelado, @cd_unid_neg1 )
  END
  ELSE
    SELECT @in_grava = 0

  FETCH c_extrato INTO @dt_lancamento, @nm_historico, @nr_docto, @nr_cheque, @vl_lancamento, @vl_cancelado, @in_conciliado, @dt_conciliacao, @nm_hist_caixa, @cd_unid_neg1

END
CLOSE c_extrato
DEALLOCATE c_extrato

DROP TABLE #TMP_EXTRATO


-- Joga valor do saldo para todos registros
UPDATE TREL_EXTRATO_CC
SET    VL_SALDO = isnull(@vl_saldo,0)
WHERE  NR_IDENTIFICADOR = @nr_identificador

DECLARE c_saldo CURSOR FOR 
  SELECT NR_IDENTIFICADOR, NR_LANCAMENTO, VL_LANCAMENTO, IN_SALDO
  FROM   TREL_EXTRATO_CC (NOLOCK)
  WHERE  NR_IDENTIFICADOR = @nr_identificador
  ORDER BY CD_BANCO, DT_LANCAMENTO, NR_CHEQUE, NR_DOCTO, NM_HISTORICO, VL_LANCAMENTO

OPEN c_saldo
FETCH c_saldo INTO @nr_identificador, @nr_lancamento, @vl_lancamento, @in_saldo
WHILE @@fetch_status <> -1
BEGIN
  IF @in_saldo = '1' SELECT @vl_saldo = @vl_saldo + ROUND( @vl_lancamento, 2 )
  UPDATE TREL_EXTRATO_CC
  SET    VL_SALDO = @vl_saldo
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_LANCAMENTO    = @nr_lancamento    AND
         VL_LANCAMENTO    = @vl_lancamento
        
  FETCH c_saldo INTO @nr_identificador, @nr_lancamento, @vl_lancamento, @in_saldo
END
CLOSE c_saldo
DEALLOCATE c_saldo

DECLARE @vl_conc   numeric(14,2)
DECLARE @vl_nconc  numeric(14,2)

SELECT @vl_conc = 0
SELECT @vl_nconc = 0


-- Valor conciliado
SELECT @vl_conc = ISNULL( SUM( VL_LANCAMENTO ), 0 )
FROM TREL_EXTRATO_CC
WHERE NR_IDENTIFICADOR = @nr_identificador
  AND IN_CANCELADO = '0'
  AND IN_CONCILIACAO = '2'

-- Valor não conciliado
SELECT @vl_nconc = ISNULL( SUM( VL_LANCAMENTO ), 0 )
FROM TREL_EXTRATO_CC
WHERE NR_IDENTIFICADOR = @nr_identificador
  AND IN_CANCELADO = '0'
  AND IN_CONCILIACAO <> '2'

UPDATE TREL_EXTRATO_CC
SET   VL_CONC = @vl_conc,
      VL_NCONC = @vl_nconc
WHERE NR_IDENTIFICADOR = @nr_identificador

/*
SELECT * FROM TREL_EXTRATO_CC WHERE NR_IDENTIFICADOR = @nr_identificador
--/*
SELECT    
    TREL_EXTRATO_CC."NR_IDENTIFICADOR", TREL_EXTRATO_CC."CD_BANCO", TREL_EXTRATO_CC."DT_LANCAMENTO", TREL_EXTRATO_CC."NR_DOCTO", TREL_EXTRATO_CC."NR_CHEQUE", TREL_EXTRATO_CC."NM_HISTORICO", TREL_EXTRATO_CC."VL_LANCAMENTO", TREL_EXTRATO_CC."VL_SALDO", TREL_EXTRATO_CC."IN_SALDO", TREL_EXTRATO_CC."IN_CONCILIACAO", TREL_EXTRATO_CC."VL_CONC", TREL_EXTRATO_CC."VL_NCONC",
    TBANCO."AP_BANCO", TBANCO."NR_CONTA", TBANCO."NR_BANCO" 
FROM
    { oj "BROKER"."dbo"."TREL_EXTRATO_CC" TREL_EXTRATO_CC (NOLOCK) LEFT OUTER JOIN "BROKER"."dbo"."TBANCO" TBANCO (NOLOCK) ON
        TREL_EXTRATO_CC."CD_BANCO" = TBANCO."CD_BANCO"}
ORDER BY
    TREL_EXTRATO_CC."CD_BANCO" ASC,
    TREL_EXTRATO_CC."DT_LANCAMENTO" ASC,
    TREL_EXTRATO_CC."NR_CHEQUE" ASC,
    TREL_EXTRATO_CC."NR_DOCTO" ASC,
    TREL_EXTRATO_CC."NM_HISTORICO" ASC,
    TREL_EXTRATO_CC."VL_LANCAMENTO" ASC
    --*/
ROLLBACK TRAN
SET XACT_ABORT OFF
*/

GO
