USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_atualiza_saldos]( @nr_processo char(18) ) AS
DECLARE @vl_saldo_processo float

INSERT INTO TNUMERARIO_SALDO_POR_ITEM 
  SELECT DISTINCT NR_PROCESSO, CD_ITEM, 0, 0, 0, 0, 0 
  FROM   TNUMERARIO_ITEM_SOLIC 
  WHERE  NR_PROCESSO = @nr_processo AND
         TP_DESTINO <> ('1') AND
         CD_ITEM NOT IN 
         ( SELECT CD_ITEM 
           FROM   TNUMERARIO_SALDO_POR_ITEM  
           WHERE  NR_PROCESSO = @nr_processo )

INSERT INTO TNUMERARIO_SALDO_POR_ITEM 
  SELECT DISTINCT NR_PROCESSO, CD_ITEM, 0, 0, 0, 0, 0 
  FROM   TRECEBIMENTO_ITEM_RECEB
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM NOT IN 
         ( SELECT CD_ITEM 
           FROM   TNUMERARIO_SALDO_POR_ITEM  
           WHERE  NR_PROCESSO = @nr_processo )

UPDATE TNUMERARIO_SALDO_POR_ITEM 
SET    VL_SOLICITADO = 
         ISNULL( ( SELECT ROUND( ISNULL( SUM( ISNULL( VL_SOLICITADO, 0 ) ), 0 ), 2 )
                   FROM   TNUMERARIO_ITEM_SOLIC
                   WHERE  NR_PROCESSO = S.NR_PROCESSO AND
                          CD_ITEM     = S.CD_ITEM AND
			  TP_DESTINO <> '1' AND
                          CD_STATUS   IN ('A','B') ), 0 )
FROM   TNUMERARIO_SALDO_POR_ITEM S
WHERE  S.NR_PROCESSO = @nr_processo 

UPDATE TNUMERARIO_SALDO_POR_ITEM 
SET VL_RECEBIDO = 
      ISNULL( ( SELECT ROUND( ISNULL( SUM( ISNULL( VL_RECEBIDO, 0 ) ), 0 ), 2 )
                FROM   TRECEBIMENTO_ITEM_RECEB
                WHERE  NR_PROCESSO    = S.NR_PROCESSO AND
                       CD_ITEM        = S.CD_ITEM AND
                       IN_CANCELADO   = '0' ), 0 ) -
      ISNULL( ( SELECT ROUND( ISNULL( SUM( ISNULL( VL_DEVOLVIDO, 0 ) ), 0 ), 2 )
                FROM   TDEVOLUCAO_ITENS I, TDEVOLUCAO D
                WHERE  I.NR_PROCESSO  = S.NR_PROCESSO AND
                       I.CD_ITEM      = S.CD_ITEM AND
                       I.NR_DEVOLUCAO = D.NR_DEVOLUCAO AND
                       D.IN_CANCELADO = '0' ), 0 )
FROM TNUMERARIO_SALDO_POR_ITEM S
WHERE S.NR_PROCESSO = @nr_processo 

UPDATE TNUMERARIO_SALDO_POR_ITEM
SET    VL_SALDO_ITEM = ROUND( ( ISNULL( VL_RECEBIDO, 0 ) - ISNULL( VL_UTILIZADO, 0 ) ), 2 )
WHERE  NR_PROCESSO   = @nr_processo 

SELECT @vl_saldo_processo = ROUND( SUM( ISNULL( VL_SALDO_ITEM, 0 ) ), 2 )
FROM   TNUMERARIO_SALDO_POR_ITEM
WHERE  NR_PROCESSO = @nr_processo 

UPDATE TNUMERARIO_SALDO_POR_ITEM
SET    VL_SALDO_PROCESSO = @vl_saldo_processo
WHERE  NR_PROCESSO       = @nr_processo



GO
