USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_cancela_recebimento_AG]( @cd_cliente char(5), @nr_recebimento char(6), 
                                  @cd_usuario char(4), @cd_unid_neg char(2), @dt_cancelamento datetime ) AS

DECLARE @in_cancelado   char(1)
DECLARE @in_transferido char(1)
DECLARE @in_transf_canc char(1)
DECLARE @dt_recebimento datetime
DECLARE @in_maior char(1)

  UPDATE TRECEBIMENTO_AG
  SET    IN_CANCELADO     = '1',
         DT_CANCELAMENTO  = GETDATE(),
         CD_USUARIO_CANC  = @cd_usuario,
         IN_ABERTO        = 'C'        
  WHERE  CD_CLIENTE = @cd_cliente AND
       NR_RECEBIMENTO = @nr_recebimento AND 
       CD_UNID_NEG = @cd_unid_neg 

  UPDATE TRECEBIMENTO_PROCESSO
  SET    IN_CANCELADO     = '1',
         CD_STATUS        = 'C' 
  WHERE  CD_CLIENTE = @cd_cliente AND
         NR_RECEBIMENTO = @nr_recebimento AND 
         CD_UNID_NEG = @cd_unid_neg 
  
UPDATE TRECEBIMENTO_PROCESSO_ITEM
  SET    IN_CANCELADO     = '1'
  WHERE  CD_CLIENTE = @cd_cliente AND
         NR_RECEBIMENTO = @nr_recebimento AND 
         CD_UNID_NEG = @cd_unid_neg 

 -- EXEC sp_distribui_numerario_ag @dt_cancelamento, @cd_unid_neg, @nr_recebimento, 
 --          @cd_cliente, @in_maior
  RETURN(0)



GO
