USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_pe_exclui_prep]( @nr_processo char(18), @cd_unid_neg char(2) ) AS

DECLARE @nr_proc_old char(18)
DECLARE @nr_item_old char(3)
DECLARE @qt_baixada float

DECLARE @qt_disponivel_PE float
DECLARE @qt_baixar_PE float

DECLARE @qt_disp float

DECLARE c_tabela CURSOR FOR
     SELECT NR_PROC_OLD, NR_ITEM_OLD, ISNULL(QT_BAIXADA,0)
     FROM TPREPARA_PE_ITEM
     WHERE (NR_PROCESSO = @nr_processo) and (IN_MONTADO <> '1') 

OPEN c_tabela
FETCH c_tabela INTO @nr_proc_old, @nr_item_old, @qt_baixada
WHILE @@fetch_status <> -1
BEGIN

     SELECT @qt_baixar_PE = QT_BAIXAR, 
            @qt_disponivel_PE = QT_DISPONIVEL
     FROM TPE_ITEM 
     WHERE (NR_PROCESSO = @nr_proc_old) and (NR_ITEM = @nr_item_old) and (CD_UNID_NEG = @cd_unid_neg)

     SELECT @qt_disp = 0
     IF @qt_disponivel_PE <> 0 
     BEGIN
         SELECT @qt_disp = @qt_disponivel_PE + @qt_baixada
     END

     UPDATE TPE_ITEM 
     SET QT_BAIXAR = 0        
     WHERE (NR_PROCESSO = @nr_proc_old) and (NR_ITEM = @nr_item_old) and (CD_UNID_NEG = @cd_unid_neg)

     DELETE 
     FROM TPREPARA_PE_ITEM
     WHERE CURRENT OF c_tabela    

     FETCH c_tabela INTO @nr_proc_old, @nr_item_old, @qt_baixada
END

CLOSE c_tabela
DEALLOCATE c_tabela

DELETE 
FROM TPREPARA_PE
WHERE (NR_PROCESSO = @nr_processo) and (IN_MONTADO <> '1') 

RETURN(0)









GO
