USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atualiza_armazem    Script Date: 02/09/1999 08:58:10 AM ******/
CREATE PROCEDURE [sp_atualiza_armazem] ( @nr_processo char(18), @cd_amz_atracacao char(4), @cd_amz_descarga char(4) ) AS 
DECLARE @cd_urf_entr_carga char(7)
DECLARE @cd_urf_despacho char(7)
DECLARE @cd_recinto char(7)
DECLARE @cd_setor char(3)
DECLARE @nm_sigla varchar(10)
DECLARE @nm_sigla_cont varchar(10)
DECLARE @CD_SERVICO char(3)
DECLARE @CD_VIA_TRANSPORTE char(2)

-- Entrada
IF ( SELECT COUNT(*)
     FROM   TARMAZEM
     WHERE  CD_ARMAZEM = @cd_amz_atracacao ) > 0
BEGIN
  SELECT @cd_urf_entr_carga = CD_URF
  FROM   TARMAZEM 
  WHERE  CD_ARMAZEM     = @cd_amz_atracacao

  UPDATE TDECLARACAO_IMPORTACAO
  SET    CD_URF_ENTR_CARGA  = ISNULL( CD_URF_ENTR_CARGA, @cd_urf_entr_carga )
  WHERE  NR_PROCESSO = @nr_processo AND
         ( ISNULL( CD_URF_ENTR_CARGA, '' )  <> ISNULL( @cd_urf_entr_carga, '' ) )
END

-- Despacho
IF ( SELECT COUNT(*)
     FROM   TARMAZEM
     WHERE  CD_ARMAZEM = @cd_amz_descarga ) > 0
BEGIN
  SELECT @cd_urf_despacho = CD_URF,
         @cd_recinto = CD_RECINTO,
         @cd_setor = CD_SETOR,
         @nm_sigla = NM_SIGLA,
         @nm_sigla_cont = NM_SIGLA_CONT
  FROM   TARMAZEM 
  WHERE  CD_ARMAZEM     = @cd_amz_descarga

  UPDATE TDECLARACAO_IMPORTACAO
  SET    CD_URF_DESPACHO    = @cd_urf_despacho,
         CD_RECINTO_ALFAND  = @cd_recinto,
         CD_SETOR_ARMAZENAM = @cd_setor
  WHERE  NR_PROCESSO = @nr_processo AND
         ( ( ISNULL( CD_URF_DESPACHO, '' )  <> ISNULL( @cd_urf_despacho, '' ) ) OR
           ( ISNULL( CD_RECINTO_ALFAND, '' )  <> ISNULL( @cd_recinto, '' ) ) OR
           ( ISNULL( CD_SETOR_ARMAZENAM, '' ) <> ISNULL( @cd_setor, '' ) ) )

--Rodrigo Capra - 07/12/2007   - ocorrência  05822/07, usuário alegou que o armazém é sempre digitado por ele, portanto a inserção automatica foi desabilitada
--Rodrigo Capra - 11/12/2007   - Não incluir o armazém se for AÉREO, do contrário...faz o que sempre fez.

  select @CD_SERVICO = CD_SERVICO from tprocesso where  nr_processo =@nr_processo
  select @CD_VIA_TRANSPORTE = CD_VIA_TRANSPORTE from VW_SERVICO_GERAL where CD_SERVICO = @CD_SERVICO


  IF @CD_VIA_TRANSPORTE <> '04'   --não faz se for AÉREO
  BEGIN


    DELETE TCARGA_ARMAZEM WHERE  NR_PROCESSO = @nr_processo 

    IF ISNULL(@nm_sigla,'')='' and
       ISNULL(@nm_sigla_cont,'')<>''
    BEGIN
      SELECT @nm_sigla      = @nm_sigla_cont
      SELECT @nm_sigla_cont = ''
    END


    IF ISNULL(@nm_sigla,'')<>''
    BEGIN
      INSERT TCARGA_ARMAZEM   VALUES ( @nr_processo, 1, @nm_sigla )
    END

    IF ISNULL(@nm_sigla_cont,'')<>''
    BEGIN
      INSERT TCARGA_ARMAZEM   VALUES ( @nr_processo, 2, @nm_sigla_cont )
    END
  END

END




GO
