USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_exp_carta_cred] @nr_processo char(18) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)

SELECT @nr_processo = '0102EA-0001-00'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @tp_consignatario char(1)
DECLARE @tp_notify1       char(1)
DECLARE @tp_notify2       char(1)
DECLARE @tp_copia         char(1)
DECLARE @tp_documento     char(1)
DECLARE @cd_lingua_pedido char(1)
DECLARE @cd_consignatario char(5)
DECLARE @cd_exportador    char(5)
DECLARE @cd_importador    char(5)
DECLARE @cd_notify1       char(5)
DECLARE @cd_notify2       char(5)
DECLARE @cd_copia         char(5)
DECLARE @cd_documento     char(5)
DECLARE @cd_local_destino char(4)
DECLARE @cd_local_origem  char(4)
DECLARE @cd_pais_destino  char(3)
DECLARE @cd_pais_origem   char(3)
DECLARE @cd_termo_pagto   char(6)

SELECT @cd_exportador    = CD_EXPORTADOR,
       @cd_importador    = CD_IMPORTADOR,
       @cd_consignatario = CD_CONSIGNATARIO,
       @cd_notify1       = CD_NOTIFY1,
       @cd_notify2       = CD_NOTIFY2,
       @cd_copia         = CD_COPIA,
       @cd_documento     = CD_DOCUMENTO,
       @tp_consignatario = TP_CONSIGNATARIO,
       @tp_notify1       = TP_NOTIFY1,
       @tp_notify2       = TP_NOTIFY2,
       @tp_documento     = TP_DOCUMENTO,
       @tp_copia         = TP_COPIA,
       @cd_lingua_pedido = CD_LINGUA_PEDIDO,
       @cd_local_destino = CD_LOCAL_DESTINO,
       @cd_local_origem  = CD_LOCAL_ORIGEM,
       @cd_pais_destino  = CD_PAIS_DESTINO,
       @cd_pais_origem   = CD_PAIS_ORIG,
       @cd_termo_pagto   = CD_TERMO_PAGTO
FROM   TPROCESSO_EXP
WHERE  NR_PROCESSO = @nr_processo

DELETE TEXP_CARTA_CRED
WHERE  NR_PROCESSO = @nr_processo

INSERT TEXP_CARTA_CRED ( NR_PROCESSO )
VALUES ( @nr_processo )

-- Exportador/ Importador
UPDATE TEXP_CARTA_CRED
SET    TX_EXPORTADOR = ( SELECT LTRIM( RTRIM( ISNULL( E.NM_EMPRESA, "" ) ) ) + CHAR(13) + CHAR(10) +
                                LTRIM( RTRIM( ISNULL( E.END_EMPRESA, "" ) ) ) + 
                                CASE LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) )
                                  WHEN "" THEN "" 
                                  ELSE ", " 
                                END +
                                RTRIM( LTRIM( ISNULL( E.END_NUMERO, "" ) ) ) + CHAR(13) + CHAR(10) +
                                LTRIM( RTRIM( ISNULL( E.END_CIDADE, "" ) ) ) +
                                CASE LTRIM( RTRIM( ISNULL( E.END_UF, "" ) ) )
                                  WHEN "" THEN ""
                                  ELSE "/"
                                END +
                                RTRIM( LTRIM( ISNULL( E.END_UF, "" ) ) ) +
                                CASE LTRIM( RTRIM( ISNULL( E.CD_PAIS_IMPORTADOR, "" ) ) )
                                  WHEN "" THEN ""
                                  ELSE " - " + LTRIM( RTRIM( P.NM_PAIS ) ) + " - "
                                END +
                                CASE LTRIM( RTRIM( ISNULL( E.END_CEP, "" ) ) )
                                  WHEN "" THEN "" 
                                  ELSE "CEP " + SUBSTRING( E.END_CEP, 1, 5 ) + "-" + SUBSTRING( E.END_CEP, 6, 3 )
                                END + CHAR(13) + CHAR(10) +
                                "TEL.: " + 
                                CASE LTRIM( RTRIM( ISNULL( E.NR_TELEFONE, "" ) ) )
                                  WHEN "" THEN SPACE(14)
                                  ELSE ISNULL( E.NR_TELEFONE, "" )
                                END + 
                                "FAX.: " + 
                                CASE LTRIM( RTRIM( ISNULL( E.NR_FAX, "" ) ) )
                                  WHEN "" THEN ""
                                  ELSE ISNULL( E.NR_FAX, "" )
                                END
                         FROM   TEMPRESA_NAC E, TPAIS_BROKER P
                         WHERE  E.CD_PAIS_IMPORTADOR *= P.CD_PAIS AND
                                E.CD_EMPRESA = @cd_exportador ),
       TX_IMPORTADOR = ( SELECT LTRIM( RTRIM( ISNULL( E.NM_EMPRESA, "" ) ) ) + CHAR(13) + CHAR(10) +
                                LTRIM( RTRIM( ISNULL( E.END_EMPRESA, "" ) ) ) + 
                                CASE LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) 
                                  WHEN "" THEN "" 
                                  ELSE ", " 
                                END + 
                                LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) + CHAR(13) + CHAR(10) +
                                CASE @cd_lingua_pedido
                                  WHEN '0' THEN LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) +
                                                CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                                  WHEN "" THEN "" 
                                                  ELSE " - " 
                                                END +
                                                LTRIM( RTRIM( ISNULL( E.END_CIDADE, "" ) ) ) +
                                                CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                                                  WHEN "" THEN "" 
                                                  ELSE " - " 
                                                END +
                                                LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) )
                                  WHEN '1' THEN LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) +
                                                CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                                  WHEN "" THEN "" 
                                                  ELSE " - " 
                                                END +
                                                LTRIM( RTRIM( ISNULL( E.END_CIDADE, "" ) ) ) +
                                                CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                                  WHEN "" THEN "" 
                                                  ELSE " - " 
                                                END +
                                                LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) )
                                  WHEN '2' THEN LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) +
                                                CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                                  WHEN "" THEN "" 
                                                  ELSE " - " 
                                                END +
                                                LTRIM( RTRIM( ISNULL( E.END_CIDADE, "" ) ) ) +
                                                CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                                  WHEN "" THEN "" 
                                                  ELSE " - " 
                                                END +
                                                LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) )
                                END
                         FROM   TEMPRESA_EST E, TPAIS_BROKER P
                         WHERE  E.CD_PAIS *= P.CD_PAIS AND
                                E.CD_EMPRESA = @cd_importador )
WHERE  NR_PROCESSO = @nr_processo

-- Consignatário
IF @tp_consignatario = '2' -- Transportadora
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_CONSIGNATARIO = ( SELECT LTRIM( RTRIM( ISNULL( T.DESCRICAO, "" ) ) ) + CHAR(13) + CHAR(10) +
                                     CASE @cd_lingua_pedido
                                       WHEN '1' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                       WHEN '2' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                       ELSE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                                     END
                              FROM  TTRANSPORTADOR_ITL T, TPAIS_BROKER P
                              WHERE T.CD_PAIS *= P.CD_PAIS AND
                              T.CODIGO = @cd_consignatario )
  WHERE  NR_PROCESSO = @nr_processo
END
ELSE IF @tp_consignatario = '4' -- Despachante
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_CONSIGNATARIO = ( SELECT LTRIM( RTRIM( ISNULL( NM_DESPACHANTE, "" ) ) )
                              FROM   TDESPACHANTE
                              WHERE  CD_DESPACHANTE = @cd_consignatario )
  WHERE  NR_PROCESSO = @nr_processo
END
ELSE IF @tp_consignatario IN ( '0', '1', '3' ) -- Importador / Agente / Banco
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_CONSIGNATARIO = ( SELECT LTRIM( RTRIM( ISNULL( E.NM_EMPRESA, "" ) ) ) + CHAR(13) + CHAR(10) +
                                     LTRIM( RTRIM( ISNULL( E.END_EMPRESA, "" ) ) ) + 
                                     CASE LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) 
                                       WHEN "" THEN "" 
                                       ELSE ", " 
                                     END + 
                                     LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) + CHAR(13) + CHAR(10) +
                                     CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                       WHEN "" THEN "" 
                                       ELSE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                     END + 
                                     CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                       WHEN "" THEN "" 
                                       ELSE " - " 
                                     END +
                                     LTRIM( RTRIM( ISNULL( E.END_CIDADE, "" ) ) ) + 
                                     CASE @cd_lingua_pedido
                                       WHEN '1' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                                       WHEN "" THEN "" 
                                                       ELSE " - " 
                                                     END + LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) )
                                       WHEN '2' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                                       WHEN "" THEN "" 
                                                       ELSE " - " 
                                                     END + LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) )
                                       ELSE CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                                              WHEN "" THEN "" 
                                              ELSE " - " 
                                            END + LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) )
                                     END 
                              FROM   TEMPRESA_EST E, TPAIS_BROKER P
                              WHERE  E.CD_PAIS *= P.CD_PAIS AND
                                     E.CD_EMPRESA = @cd_consignatario )
  WHERE  NR_PROCESSO = @nr_processo
END

-- Saque
UPDATE TEXP_CARTA_CRED
SET    TX_SAQUE = TX_IMPORTADOR
WHERE  NR_PROCESSO = @nr_processo

-- Notify1
IF @tp_notify1 = '2' --Transportadora
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_NOTIFY1 = ( SELECT LTRIM( RTRIM( ISNULL( T.DESCRICAO, "" ) ) ) + CHAR(13) + CHAR(10) +
                               CASE @cd_lingua_pedido 
                                 WHEN '1' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                 WHEN '2' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                 ELSE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                               END
                        FROM   TTRANSPORTADOR_ITL T, TPAIS_BROKER P
                        WHERE  T.CD_PAIS *= P.CD_PAIS AND
                               T.CODIGO = @cd_notify1 )
  WHERE  NR_PROCESSO = @nr_processo
END
ELSE IF @tp_notify1 = '4' --Despachante
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_NOTIFY1 = ( SELECT LTRIM( RTRIM( ISNULL( NM_DESPACHANTE, "" ) ) )
                        FROM   TDESPACHANTE
                        WHERE  CD_DESPACHANTE = @cd_notify1 )
END
ELSE IF @tp_notify1 IN ( '0', '1', '3' ) --Importador / Agente / Banco
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_NOTIFY1 = ( SELECT LTRIM( RTRIM( ISNULL( E.NM_EMPRESA, "" ) ) ) + CHAR(13) + CHAR(10) +
                               LTRIM( RTRIM( ISNULL( E.END_EMPRESA, "" ) ) ) +
                               CASE LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) 
                                 WHEN "" THEN "" 
                                 ELSE ", " 
                               END + 
                               LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) + CHAR(13) + CHAR(10) +
                               CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                 WHEN "" THEN "" 
                                 ELSE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                               END + 
                               CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                 WHEN "" THEN "" 
                                 ELSE " - " 
                               END +
                               LTRIM( RTRIM( ISNULL( E.END_CIDADE, "" ) ) ) + 
                               CASE @cd_lingua_pedido
                                 WHEN '1' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                                 WHEN "" THEN "" 
                                                 ELSE " - " 
                                               END + 
                                               LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                 WHEN '2' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                                 WHEN "" THEN "" 
                                                 ELSE " - " 
                                               END + 
                                               LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                 ELSE CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                                        WHEN "" THEN "" 
                                        ELSE " - " 
                                      END + 
                                      LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                               END  
                        FROM   TEMPRESA_EST E, TPAIS_BROKER P
                        WHERE  E.CD_PAIS *= P.CD_PAIS AND
                               E.CD_EMPRESA = @cd_notify1 )
  WHERE  NR_PROCESSO = @nr_processo
END

-- Notify2
IF @tp_notify2 = '2' --Transportadora
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_NOTIFY2 = ( SELECT LTRIM( RTRIM( ISNULL( T.DESCRICAO, "" ) ) ) + CHAR(13) + CHAR(10) +
                               CASE @cd_lingua_pedido 
                                 WHEN '1' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                 WHEN '2' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                 ELSE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                               END
                        FROM   TTRANSPORTADOR_ITL T, TPAIS_BROKER P
                        WHERE  T.CD_PAIS *= P.CD_PAIS AND
                               T.CODIGO = @cd_notify2 )
  WHERE  NR_PROCESSO = @nr_processo
END
ELSE IF @tp_notify2 = '4' --Despachante
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_NOTIFY2 = ( SELECT LTRIM( RTRIM( ISNULL( NM_DESPACHANTE, "" ) ) )
                        FROM   TDESPACHANTE
                        WHERE  CD_DESPACHANTE = @cd_notify2 )
END
ELSE IF @tp_notify2 IN ( '0', '1', '3' ) --Importador / Agente / Banco
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_NOTIFY2 = ( SELECT LTRIM( RTRIM( ISNULL( E.NM_EMPRESA, "" ) ) ) + CHAR(13) + CHAR(10) +
                               LTRIM( RTRIM( ISNULL( E.END_EMPRESA, "" ) ) ) +
                               CASE LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) 
                                 WHEN "" THEN "" 
                                 ELSE ", " 
                               END + 
                               LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) + CHAR(13) + CHAR(10) +
                               CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                 WHEN "" THEN "" 
                                 ELSE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                               END + 
                               CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                 WHEN "" THEN "" 
                                 ELSE " - " 
                               END +
                               LTRIM( RTRIM( ISNULL( E.END_CIDADE, "" ) ) ) + 
                               CASE @cd_lingua_pedido
                                 WHEN '1' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                                 WHEN "" THEN "" 
                                                 ELSE " - " 
                                               END + 
                                               LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                 WHEN '2' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                                 WHEN "" THEN "" 
                                                 ELSE " - " 
                                               END + 
                                               LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                 ELSE CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                                        WHEN "" THEN "" 
                                        ELSE " - " 
                                      END + 
                                      LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                               END  
                        FROM   TEMPRESA_EST E, TPAIS_BROKER P
                        WHERE  E.CD_PAIS *= P.CD_PAIS AND
                               E.CD_EMPRESA = @cd_notify2 )
  WHERE  NR_PROCESSO = @nr_processo
END

-- Documentos
IF @tp_documento = '2' --Transportadora
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_DOCTO = ( SELECT LTRIM( RTRIM( ISNULL( T.DESCRICAO, "" ) ) ) + CHAR(13) + CHAR(10) +
                             CASE @cd_lingua_pedido 
                               WHEN '1' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                               WHEN '2' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                               ELSE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                             END
                      FROM   TTRANSPORTADOR_ITL T, TPAIS_BROKER P
                      WHERE  T.CD_PAIS *= P.CD_PAIS AND
                             T.CODIGO = @cd_documento )
  WHERE  NR_PROCESSO = @nr_processo
END
ELSE IF @tp_documento = '4' --Despachante
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_DOCTO = ( SELECT LTRIM( RTRIM( ISNULL( NM_DESPACHANTE, "" ) ) )
                      FROM   TDESPACHANTE
                      WHERE  CD_DESPACHANTE = @cd_documento )
END
ELSE IF @tp_documento IN ( '0', '1', '3' ) --Importador / Agente / Banco
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_DOCTO = ( SELECT LTRIM( RTRIM( ISNULL( E.NM_EMPRESA, "" ) ) ) + CHAR(13) + CHAR(10) +
                             LTRIM( RTRIM( ISNULL( E.END_EMPRESA, "" ) ) ) +
                             CASE LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) 
                               WHEN "" THEN "" 
                               ELSE ", " 
                             END + 
                             LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) + CHAR(13) + CHAR(10) +
                             CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                               WHEN "" THEN "" 
                               ELSE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                             END + 
                             CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                               WHEN "" THEN "" 
                               ELSE " - " 
                             END +
                             LTRIM( RTRIM( ISNULL( E.END_CIDADE, "" ) ) ) + 
                             CASE @cd_lingua_pedido
                               WHEN '1' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                               WHEN "" THEN "" 
                                               ELSE " - " 
                                             END + 
                                             LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                               WHEN '2' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                               WHEN "" THEN "" 
                                               ELSE " - " 
                                             END + 
                                             LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                               ELSE CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                                      WHEN "" THEN "" 
                                      ELSE " - " 
                                    END + 
                                    LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                             END  
                      FROM   TEMPRESA_EST E, TPAIS_BROKER P
                      WHERE  E.CD_PAIS *= P.CD_PAIS AND
                             E.CD_EMPRESA = @cd_documento )    
  WHERE  NR_PROCESSO = @nr_processo
END

-- Cópias
IF @tp_copia = '2' --Transportadora
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_COPIA = ( SELECT LTRIM( RTRIM( ISNULL( T.DESCRICAO, "" ) ) ) + CHAR(13) + CHAR(10) +
                               CASE @cd_lingua_pedido 
                                 WHEN '1' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                 WHEN '2' THEN LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                 ELSE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                               END
                        FROM   TTRANSPORTADOR_ITL T, TPAIS_BROKER P
                        WHERE  T.CD_PAIS *= P.CD_PAIS AND
                               T.CODIGO = @cd_copia )
  WHERE  NR_PROCESSO = @nr_processo
END
ELSE IF @tp_copia = '4' --Despachante
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_COPIA = ( SELECT LTRIM( RTRIM( ISNULL( NM_DESPACHANTE, "" ) ) )
                        FROM   TDESPACHANTE
                        WHERE  CD_DESPACHANTE = @cd_copia )
END
ELSE IF @tp_copia IN ( '0', '1', '3' ) --Importador / Agente / Banco
BEGIN
  UPDATE TEXP_CARTA_CRED
  SET    TX_COPIA = ( SELECT LTRIM( RTRIM( ISNULL( E.NM_EMPRESA, "" ) ) ) + CHAR(13) + CHAR(10) +
                               LTRIM( RTRIM( ISNULL( E.END_EMPRESA, "" ) ) ) +
                               CASE LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) 
                                 WHEN "" THEN "" 
                                 ELSE ", " 
                               END + 
                               LTRIM( RTRIM( ISNULL( E.END_NUMERO, "" ) ) ) + CHAR(13) + CHAR(10) +
                               CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                 WHEN "" THEN "" 
                                 ELSE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                               END + 
                               CASE LTRIM( RTRIM( ISNULL( E.END_COMPL, "" ) ) ) 
                                 WHEN "" THEN "" 
                                 ELSE " - " 
                               END +
                               LTRIM( RTRIM( ISNULL( E.END_CIDADE, "" ) ) ) + 
                               CASE @cd_lingua_pedido
                                 WHEN '1' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                                 WHEN "" THEN "" 
                                                 ELSE " - " 
                                               END + 
                                               LTRIM( RTRIM( ISNULL( P.NM_PAIS_ING, "" ) ) ) 
                                 WHEN '2' THEN CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                                 WHEN "" THEN "" 
                                                 ELSE " - " 
                                               END + 
                                               LTRIM( RTRIM( ISNULL( P.NM_PAIS_ESP, "" ) ) ) 
                                 ELSE CASE LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                                        WHEN "" THEN "" 
                                        ELSE " - " 
                                      END + 
                                      LTRIM( RTRIM( ISNULL( P.NM_PAIS_PORT, "" ) ) ) 
                               END  
                        FROM   TEMPRESA_EST E, TPAIS_BROKER P
                        WHERE  E.CD_PAIS *= P.CD_PAIS AND
                               E.CD_EMPRESA = @cd_copia )
  WHERE  NR_PROCESSO = @nr_processo
END

-- Demais campos...
UPDATE TEXP_CARTA_CRED
SET    NM_LOCAL_ORIGEM  = ( SELECT LTRIM( RTRIM( ISNULL( DESCRICAO, "" ) ) )
                            FROM   TLOCAL_EMBARQUE
                            WHERE  CODIGO = @cd_local_origem ),
       NM_LOCAL_DESTINO = ( SELECT LTRIM( RTRIM( ISNULL( DESCRICAO, "" ) ) )
                            FROM   TLOCAL_EMBARQUE
                            WHERE  CODIGO = @cd_local_destino ),
       NM_PAIS_ORIGEM   = ( SELECT CASE @cd_lingua_pedido
                                     WHEN '1' THEN LTRIM( RTRIM( ISNULL( NM_PAIS_ING, "" ) ) )
                                     WHEN '2' THEN LTRIM( RTRIM( ISNULL( NM_PAIS_ESP, "" ) ) )
                                     ELSE LTRIM( RTRIM( ISNULL( NM_PAIS_PORT, "" ) ) )
                                   END
                            FROM   TPAIS_BROKER
                            WHERE  CD_PAIS = @cd_pais_origem ),
       NM_PAIS_DESTINO  = ( SELECT CASE @cd_lingua_pedido
                                     WHEN '1' THEN LTRIM( RTRIM( ISNULL( NM_PAIS_ING, "" ) ) )
                                     WHEN '2' THEN LTRIM( RTRIM( ISNULL( NM_PAIS_ESP, "" ) ) )
                                     ELSE LTRIM( RTRIM( ISNULL( NM_PAIS_PORT, "" ) ) )
                                   END
                            FROM   TPAIS_BROKER
                            WHERE  CD_PAIS = @cd_pais_destino ),
      NM_UNID_MED_PL    = 'KG',
      NM_UNID_MED_PB    = 'KG'
WHERE  NR_PROCESSO = @nr_processo

UPDATE TEXP_CARTA_CRED
SET    TX_TERMO_PAGTO = CASE @cd_lingua_pedido 
                          WHEN '1' THEN T.TX_TERMO_INGLES
                          WHEN '2' THEN T.TX_TERMO_ESP
                          ELSE T.TX_TERMO_PORT
                        END
FROM   TEXP_CARTA_CRED C, TPROCESSO_EXP E, TTERMO_PAGTO T
WHERE  C.NR_PROCESSO = E.NR_PROCESSO AND
       E.CD_TERMO_PAGTO = T.CD_TERMO_PAGTO AND
       E.CD_TERMO_PAGTO = @cd_termo_pagto


GO
