USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_mercadoria_exp]( @cd_exportador CHAR(5), @cd_grupo CHAR(3), @nr_identificador INT OUTPUT ) AS

SELECT @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1 FROM TAUX_MERCADORIA_EXP )
SELECT @cd_grupo = ISNULL( @cd_grupo, '' )
SELECT @cd_exportador = ISNULL( @cd_exportador, '' )

INSERT INTO TAUX_MERCADORIA_EXP
SELECT   @nr_identificador, M.CD_MERCADORIA, M.AP_MERCADORIA, E.NM_EMPRESA, G.NM_GRUPO, M.CD_PAIS_AQUISICAO, 
                 M.CD_PAIS_ORIGEM, M.CD_EXPORTADOR, M.CD_GRUPO, M.CD_NCM_SH, M.NM_MERCADORIA
FROM TMERCADORIA_EXP M
LEFT JOIN TEMPRESA_NAC E ON ( M.CD_EXPORTADOR = E.CD_EMPRESA )
LEFT JOIN TGRUPO G ON ( M.CD_GRUPO = G.CD_GRUPO )
WHERE (( M.CD_EXPORTADOR = @cd_exportador ) OR ( @cd_exportador = '' )) AND
              (( M.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = '' ))





GO
