USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_exp_apaga_renum_desp]( @nr_processo char(18), @nr_seq char(5) )  AS 

DECLARE @i_seq int
DECLARE @s_seq char(5)
DECLARE @nr_seq_fetch char(5)

IF( SELECT COUNT(*) 
    FROM    TPROCESSO_EXP_DESP
    WHERE (NR_PROCESSO = @nr_processo ) )  > 0
BEGIN
  DELETE FROM
  TPROCESSO_EXP_DESP
  WHERE ( NR_PROCESSO = @nr_processo) AND ( NR_SEQUENCIA = @nr_seq )
END

IF ( SELECT COUNT(*) 
     FROM TPROCESSO_EXP_DESP
     WHERE (NR_PROCESSO = @nr_processo ) )  > 0
BEGIN 

  DECLARE c_processo CURSOR FOR
    SELECT NR_SEQUENCIA
    FROM TPROCESSO_EXP_DESP 
    WHERE (NR_PROCESSO = @nr_processo) 

  SELECT @i_seq = 0

  OPEN c_processo 
  FETCH c_processo INTO @nr_seq_fetch
  WHILE @@fetch_status <> -1
  BEGIN
     SELECT @i_seq = @i_seq + 1
     SELECT @s_seq = CONVERT( char(5), @i_seq )
     SELECT @s_seq = RIGHT( ( '00000' + rtrim( @s_seq ) ), 5 )

     UPDATE TPROCESSO_EXP_DESP
     SET NR_SEQUENCIA = @s_seq 
     WHERE CURRENT OF c_processo

     FETCH c_processo INTO @nr_seq_fetch
  END

  CLOSE c_processo
  DEALLOCATE c_processo

END

RETURN(0)









GO
