USE [BROKER]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_ult_forecast] ( @nr_forecast char(5) OUTPUT ) AS

SELECT @nr_forecast = RIGHT( '000' + CONVERT( varchar(4), ( CONVERT( int, ISNULL( MAX( SUBSTRING( NR_FORECAST, 1, 3 ) ), '000' ) ) + 1 ) ), 3 ) +
       CONVERT( char(2), RIGHT( DATEPART( yy, GETDATE() ), 2 ) ) 
FROM   TFORECAST
WHERE  SUBSTRING( NR_FORECAST, 4, 2 ) = CONVERT( char(2), RIGHT( DATEPART( yy, GETDATE() ), 2 ) )


GO
