USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.sp_atualiza_processo    Script Date: 26/11/1998 19:07:06 ******/
CREATE PROCEDURE [sp_atualiza_processo]( @nr_processo char(18) ) AS

/*
BEGIN TRAN
DECLARE @NR_PROCESSO CHAR(18)
SET @NR_PROCESSO = '0101IM-5905-09'
--*/


DECLARE @cd_moeda_frete char(3)
DECLARE @cd_moeda_mle char(3)
DECLARE @cd_moeda_seguro char(3)
DECLARE @cd_local_embarque char(4)
--DECLARE @cd_pais_origem char(3)
DECLARE @cd_importador char(5)
DECLARE @cd_emp_est char(5)
DECLARE @cd_transportador char(4)
DECLARE @cd_embarcacao char(4)
DECLARE @tp_frete char(1)
DECLARE @dt_chegada_carga char(8)
DECLARE @dt_embarque char(8)
DECLARE @dt_embarque_proc datetime
DECLARE @nr_dcto_carga char(30)
DECLARE @nr_dcto_carga_mast char(30)
DECLARE @nr_declaracao_imp char(10)
DECLARE @vl_frete_tnac_mneg float
DECLARE @vl_tot_desps_mn float
DECLARE @vl_tot_desps_mneg float
DECLARE @vl_tot_frt_collect float
DECLARE @vl_tot_frt_prepaid float
DECLARE @vl_tot_mle_mneg float
DECLARE @vl_tot_seguro_mneg float
DECLARE @vl_total_acrescimos_mn float
DECLARE @vl_total_deducoes_mn float
DECLARE @vl_total_frete_mn float
DECLARE @vl_total_mle_mn float
DECLARE @vl_total_seg_mn float
DECLARE @vl_total_ii float
DECLARE @vl_total_ipi float
DECLARE @vl_total_ad float
DECLARE @vl_tot_icms float
DECLARE @tx_mle float
DECLARE @tx_frete float
DECLARE @tx_seguro float
DECLARE @tx_dolar float
DECLARE @vl_cif_mn float
DECLARE @vl_cif_dolar float
DECLARE @vl_cif_mn_c numeric (16, 3)
DECLARE @vl_cif_dolar_c numeric (16, 3)
DECLARE @in_embut_frt_itens bit
DECLARE @in_embut_seg_itens bit
DECLARE @nr_manifesto char(15)
DECLARE @vl_peso_liquido float
DECLARE @vl_peso_bruto float
DECLARE @cd_incoterm char(3)


SELECT @cd_moeda_frete         = CD_MOEDA_FRETE,
       @cd_moeda_mle           = CD_MOEDA_MLE,
       @cd_moeda_seguro        = CD_MOEDA_SEGURO,
       @cd_local_embarque      = CD_LOCAL_EMBARQUE,
       @cd_importador          = CD_IMPORTADOR,
       @cd_transportador       = CD_TRANSPORTADOR,
       @cd_embarcacao          = CD_VEICULO_TRANSP,
       @dt_chegada_carga       = DT_CHEGADA_CARGA,
       @dt_embarque            = DT_EMBARQUE,
       @nr_dcto_carga          = NR_DCTO_CARGA,
       @nr_dcto_carga_mast     = NR_DCTO_CARGA_MAST,
       @nr_declaracao_imp      = NR_DECLARACAO_IMP,
       @nr_manifesto           = ISNULL( NR_MANIFESTO, '' ),
       @vl_frete_tnac_mneg     = ISNULL( VL_FRETE_TNAC_MNEG, 0 ),
       @vl_tot_desps_mn        = ISNULL( VL_TOT_DESPS_MN, 0 ),
       @vl_tot_desps_mneg      = ISNULL( VL_TOT_DESPS_MNEG, 0 ),
       @vl_tot_frt_collect     = ISNULL( VL_TOT_FRT_COLLECT, 0 ),
       @vl_tot_frt_prepaid     = ISNULL( VL_TOT_FRT_PREPAID, 0 ),
       @vl_tot_mle_mneg        = ISNULL( VL_TOT_MLE_MNEG, 0 ),
       @vl_tot_seguro_mneg     = ISNULL( VL_TOT_SEGURO_MNEG, 0 ),
       @vl_total_acrescimos_mn = ISNULL( VL_TOTAL_ACRESCIMOS_MN, 0 ),
       @vl_total_deducoes_mn   = ISNULL( VL_TOTAL_DEDUCOES_MN, 0 ),
       @vl_total_frete_mn      = ISNULL( VL_TOTAL_FRETE_MN, 0 ),
       @vl_total_mle_mn        = ISNULL( VL_TOTAL_MLE_MN, 0 ),
       @vl_total_seg_mn        = ISNULL( VL_TOTAL_SEG_MN, 0 ),
       @vl_total_ii            = ISNULL( VL_TOTAL_II, 0 ),
       @vl_total_ipi           = ISNULL( VL_TOTAL_IPI, 0 ),
       @vl_total_ad            = ISNULL( VL_TOTAL_AD, 0 ),
       @vl_tot_icms            = ISNULL( VL_TOT_ICMS, 0 ),
       @tx_mle                 = ISNULL( TX_MLE, 0 ),
       @tx_frete               = ISNULL( TX_FRETE, 0 ),
       @tx_seguro              = ISNULL( TX_SEGURO, 0 ),
       @tx_dolar               = ISNULL( TX_DOLAR, 0 ),
       @in_embut_frt_itens     = ISNULL( IN_EMBUT_FRT_ITENS, 0 ),
       @in_embut_seg_itens     = ISNULL( IN_EMBUT_SEG_ITENS, 0 ),
       @vl_peso_liquido        = ISNULL( PL_CARGA, 0 ),
       @vl_peso_bruto          = ISNULL( PB_CARGA, 0 ),
       @cd_incoterm            = ISNULL( CD_INCOTERM, '')
FROM   TDECLARACAO_IMPORTACAO 
WHERE  ( NR_PROCESSO = @nr_processo )

IF @vl_tot_frt_collect >= @vl_tot_frt_prepaid SELECT @tp_frete = 0
ELSE IF @vl_tot_frt_prepaid > @vl_tot_frt_collect SELECT @tp_frete = 1
/*
--Desativado em 16/11/2005 por Alexandre Neto
--O país de origem não é o mesmo do país de procedencia(onde é realizado o embarque)
-- e esta rotina estava atualizando erroneamente o páis de procedência na manutenção de processo

SELECT  @cd_pais_origem  = CD_PAIS_ORIG_MERC
FROM    TADICAO_DE_IMPORTACAO
WHERE   ( NR_PROCESSO = @nr_processo AND NR_ADICAO = '001' )
*/
SELECT TOP 1 @cd_emp_est = CD_FORNECEDOR
FROM   TADICAO_DE_IMPORTACAO
WHERE  NR_PROCESSO = @nr_processo AND
       ISNULL( CD_FORNECEDOR, '' ) <> ''
ORDER BY NR_PROCESSO, NR_ADICAO

IF ISNULL( @cd_emp_est, '' ) <> ''
BEGIN
  SELECT TOP 1 @cd_emp_est = CD_EXPORTADOR
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo AND
         ISNULL( CD_EXPORTADOR, '' ) <> ''
  ORDER BY NR_PROCESSO, NR_ADICAO, NR_ITEM
END
/*
IF NOT EXISTS( SELECT NR_DECLARACAO_IMP
               FROM   TDECLARACAO_IMPORTACAO
               WHERE  NR_PROCESSO = @NR_PROCESSO )
  RETURN(1)
ELSE
--*/
BEGIN
  SELECT @vl_cif_mn_c    = ( @vl_total_acrescimos_mn - @vl_total_deducoes_mn +
                             @vl_total_mle_mn + @vl_tot_desps_mn )
  IF @in_embut_frt_itens = 0
     SELECT @vl_cif_mn_c = @vl_cif_mn_c + @vl_total_frete_mn
  IF @in_embut_seg_itens = 0
     SELECT @vl_cif_mn_c = @vl_cif_mn_c + @vl_total_seg_mn

  SELECT @vl_cif_dolar_c = ROUND( ( @vl_cif_mn_c / @tx_dolar ), 2 )
  SELECT @vl_cif_mn      = @vl_cif_mn_c
  SELECT @vl_cif_dolar   = @vl_cif_dolar_c
  

  -- INCLUIDO UPDATE DESTA DATA A PEDIDO DE WAGNER BRANCO (DIRETOR TI) - KLEBER 06/10/2006
  -- A linha abaixo foi alterada por Michel em 09/12/2009 porque gerava data 01/01/1900
  /*IF ISDATE(SUBSTRING(@dt_embarque, 3,2) + '/' +  SUBSTRING(@dt_embarque, 1,2) + '/' + SUBSTRING(@dt_embarque, 5,4)) = 1
    SELECT @dt_embarque_proc =  CONVERT(DATETIME, SUBSTRING(@dt_embarque, 1,2) + '/' +  SUBSTRING(@dt_embarque, 3,2) + '/' + SUBSTRING(@dt_embarque, 5,4), 103)
  ELSE 
    SELECT @dt_embarque_proc = Null*/
    
  -- O bloco comentado acima foi substituido pelo bloco abaixo por Michel em 09/12/2009 porque gerava data 01/01/1900
  IF RTRIM(ISNULL(@dt_embarque, '')) <> ''
  BEGIN  
      BEGIN TRY
          SELECT @dt_embarque_proc = CONVERT(DATETIME, SUBSTRING(@dt_embarque, 1, 2) + '/' +
                            SUBSTRING(@dt_embarque, 3, 2) + '/' +
                            SUBSTRING(@dt_embarque, 5, 4), 103)
      END TRY
      BEGIN CATCH
          BEGIN TRY
              SELECT @dt_embarque_proc = CONVERT(DATETIME, SUBSTRING(@dt_embarque, 1, 2) + '/' +
                                SUBSTRING(@dt_embarque, 3, 2) + '/' +
                                SUBSTRING(@dt_embarque, 5, 4))
          END TRY
          BEGIN CATCH
              SELECT @dt_embarque_proc = NULL
          END CATCH
      END CATCH
  END
  ELSE
      SELECT @dt_embarque_proc = NULL

  UPDATE TPROCESSO
  SET    CD_EMBARCACAO          = ISNULL(@cd_embarcacao, CD_EMBARCACAO),
         CD_EMP_EST             = @cd_emp_est,
         CD_EXPORTADOR          = @cd_emp_est,
         CD_IMPORTADOR          = @cd_importador,
         CD_LOCAL_EMBARQUE      = @cd_local_embarque, 
         CD_MOEDA_FRETE         = @cd_moeda_frete,
         CD_MOEDA_MLE           = @cd_moeda_mle,
         CD_MOEDA_SEGURO        = @cd_moeda_seguro,
         --CD_PAIS_ORIGEM         = @cd_pais_origem,
         CD_TRANSPORTADOR       = @cd_transportador,
         DT_CONHECIMENTO        = @dt_embarque_proc,
         NR_CONHECIMENTO        = @nr_dcto_carga,         NR_CONHECIMENTO_MASTER = @nr_dcto_carga_mast,
         NR_DI                  = @nr_declaracao_imp,
         NR_MANIFESTO           = @nr_manifesto,         VL_CIF_DOLAR           = @vl_cif_dolar,
         VL_CIF_MN              = @vl_cif_mn,
         VL_FRETE_COLLECT_MNEG  = @vl_tot_frt_collect,
         VL_FRETE_MN            = @vl_total_frete_mn,
         VL_FRETE_PREPAID_MNEG  = @vl_tot_frt_prepaid,         VL_FRETE_TNAC_MNEG     = @vl_frete_tnac_mneg,
         VL_ICMS_MN             = @vl_tot_icms,
         VL_II_MN               = @vl_total_ii,
         VL_IPI_MN              = @vl_total_ipi,
         VL_MLE_MN              = @vl_total_mle_mn,
         VL_MLE_MNEG            = @vl_tot_mle_mneg,
         VL_SEGURO_MNEG         = @vl_tot_seguro_mneg,
         VL_SEGURO_MN           = @vl_total_seg_mn,
         TP_FRETE               = @tp_frete,
         VL_PESO_LIQUIDO        = @vl_peso_liquido,
         VL_PESO_BRUTO          = @vl_peso_bruto,
         CD_INCOTERM		        = @cd_incoterm
  WHERE  NR_PROCESSO = @nr_processo

/*
  UPDATE TDA
  SET    CD_LOCAL_EMBARQUE      = @cd_local_embarque,
         CD_EMBARCACAO          = @cd_embarcacao,
         CD_TRANSPORTADOR       = @cd_transportador,
         CD_MOEDA_MLE           = @cd_moeda_mle,
         CD_MOEDA_FRETE         = @cd_moeda_frete,
         CD_MOEDA_SEGURO        = @cd_moeda_seguro,
         TP_FRETE               = @tp_frete,
         DT_CONHECIMENTO        = CONVERT( datetime, SUBSTRING( @dt_embarque, 1, 2 ) + '/' +
                                                     SUBSTRING( @dt_embarque, 3, 2 ) + '/' +
                                                     SUBSTRING( @dt_embarque, 5, 4 ), 103 ),
         NR_CONHECIMENTO        = @nr_dcto_carga,
         NR_CONHECIMENTO_MASTER = @nr_dcto_carga_mast,
         VL_FRETE_MNEG          = @vl_tot_frt_prepaid + @vl_tot_frt_collect,
         CD_TIPO_BASE_SEGURO    = '1'
  WHERE  NR_PROCESSO            = @nr_processo
*/
END

/*
SELECT DT_EMBARQUE
FROM TDECLARACAO_IMPORTACAO
WHERE NR_PROCESSO = @NR_PROCESSO

SELECT DT_CONHECIMENTO
FROM TPROCESSO
WHERE NR_PROCESSO = @NR_PROCESSO

SELECT @DT_EMBARQUE

ROLLBACK
--COMMIT
--*/

/*
--Desativado em 09/11/2005 por Alexandre Neto a pedido de Wagner Branco(Diretor TI)
--Com a implantação do controle de LI na manutenção de processo não é mais necessário apagar as LI's
--quando a adição é atualizada, pois a LI subustitutiva será informada na manutenção.

DELETE TPROCESSO_LI 
WHERE  NR_PROCESSO = @nr_processo

INSERT TPROCESSO_LI ( NR_PROCESSO, NR_LI )
  SELECT DISTINCT @nr_processo, NR_OPER_TRAT_PREV
  FROM   TADICAO_DE_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo AND
         ISNULL( NR_OPER_TRAT_PREV, '' ) <> ''
*/






GO
