USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ATZ_CONTROLE_ACESSO_DIGITALIZACAO](@CD_CARGO CHAR(3)) AS
BEGIN
    INSERT INTO TCONTROLE_ACESSO_DIGITALIZACAO(CD_CARGO, ID_TABELA, CD_TIPO_DOCTO, IN_VISUALIZACAO, IN_ALTERACAO)
    SELECT CD_CARGO, TDD.ID_TABELA, TDD.CD_TIPO_DOCTO, '0' AS IN_VISUALIZACAO, '0' AS IN_ALTERACAO
    FROM TCARGO C, TTP_DOCTO_DIGITALIZADO TDD
    WHERE ISNULL(@CD_CARGO, 'XXX') IN (C.CD_CARGO, 'XXX')
      AND NOT EXISTS (SELECT *
                      FROM TCONTROLE_ACESSO_DIGITALIZACAO CAD
                      WHERE CAD.CD_CARGO      = C.CD_CARGO
                        AND CAD.ID_TABELA     = TDD.ID_TABELA
                        AND CAD.CD_TIPO_DOCTO = TDD.CD_TIPO_DOCTO)
                        
    DELETE FROM TCONTROLE_ACESSO_DIGITALIZACAO
    WHERE CD_CARGO NOT IN (SELECT C.CD_CARGO
                           FROM TCARGO C)
END

GO
