USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_db_inclui_laudo] ( @nr_forecast char(5), @cd_mercadoria char(15), @nr_laudo char(5) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_forecast char(5)
DECLARE @cd_mercadoria char(15)
DECLARE @nr_laudo char(5)

SELECT @nr_forecast = '00103'
SELECT @cd_mercadoria = ''
SELECT @nr_laudo = '00001'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/
DECLARE @qt_exp float
DECLARE @qt_imp float
DECLARE @cd_mat_pri char(15)
DECLARE @vl_percent float
DECLARE @vl_unitario float
DECLARE @vl_aliq_ii float
DECLARE @vl_aliq_ipi float
DECLARE @vl_aliq_icms float
DECLARE @vl_aliq_afrmm float

SELECT @vl_aliq_afrmm = ISNULL( VL_ALIQ_AFRMM, 0 )
FROM   TPARAMETROS

DECLARE c_laudo CURSOR FOR
  SELECT L.CD_MAT_PRI, F.QT_EXP, L.VL_PERCENT
  FROM   TFORECAST_EXP F, TLAUDO_MAT_PRI L
  WHERE  F.CD_MERCADORIA = L.CD_MERCADORIA AND
         F.NR_LAUDO = L.NR_LAUDO AND
         F.CD_MERCADORIA = @cd_mercadoria AND
         F.NR_LAUDO = @nr_laudo AND
         F.NR_FORECAST = @nr_forecast
OPEN c_laudo
FETCH c_laudo INTO @cd_mat_pri, @qt_exp, @vl_percent
WHILE @@fetch_status = 0
BEGIN
  IF @qt_exp > 0
  BEGIN
    SELECT @qt_imp = ( @qt_exp * @vl_percent ) / 100
  END
  ELSE
  BEGIN
    SELECT @qt_imp = 0
  END
  
  SELECT @vl_aliq_icms = ISNULL( U.VL_ALIQ_ICMS, 0 )
  FROM   TFORECAST F, TEMPRESA_NAC E, TUF U
  WHERE  F.CD_CLIENTE = E.CD_EMPRESA AND
         E.END_UF = U.CD_UF AND
         F.NR_FORECAST = @nr_forecast

  SELECT @vl_aliq_ii  = ISNULL( CONVERT( float, ALIQUOTA_II ), 0 ),
         @vl_aliq_ipi = ISNULL( CONVERT( float, ALIQUOTA_IPI ), 0 )
  FROM   TMERCADORIA M, TNCM N
  WHERE  M.CD_NCM_SH = N.CODIGO AND
         M.CD_MERCADORIA = @cd_mat_pri

  SELECT TOP 1 @vl_unitario = MIN( VL_UNITARIO )
  FROM   TDETALHE_MERCADORIA I, TDECLARACAO_IMPORTACAO D
  WHERE  I.NR_PROCESSO = D.NR_PROCESSO AND
         CD_MERCADORIA = @cd_mat_pri
  GROUP BY D.DT_REGISTRO_DI
  HAVING CONVERT( datetime, SUBSTRING( D.DT_REGISTRO_DI, 1, 2 ) + '/' +
                            SUBSTRING( D.DT_REGISTRO_DI, 3, 2 ) + '/' +
                            SUBSTRING( D.DT_REGISTRO_DI, 5, 4 ), 103 ) = 
         MAX( CONVERT( datetime, SUBSTRING( D.DT_REGISTRO_DI, 1, 2 ) + '/' +
                                 SUBSTRING( D.DT_REGISTRO_DI, 3, 2 ) + '/' +
                                 SUBSTRING( D.DT_REGISTRO_DI, 5, 4 ), 103 ) ) 
  ORDER BY 
         CONVERT( datetime, SUBSTRING( D.DT_REGISTRO_DI, 1, 2 ) + '/' +
                            SUBSTRING( D.DT_REGISTRO_DI, 3, 2 ) + '/' +
                            SUBSTRING( D.DT_REGISTRO_DI, 5, 4 ), 103 ) DESC

  INSERT TFORECAST_IMP( NR_FORECAST, CD_MERCADORIA, NR_LAUDO, CD_MAT_PRI, QT_IMP, VL_UNITARIO, VL_ALIQ_II, VL_ALIQ_IPI, VL_ALIQ_ICMS, VL_ALIQ_AFRMM )
  VALUES ( @nr_forecast, @cd_mercadoria, @nr_laudo, @cd_mat_pri, @qt_imp, @vl_unitario, @vl_aliq_ii, @vl_aliq_ipi, @vl_aliq_icms, @vl_aliq_afrmm )

  FETCH c_laudo INTO @cd_mat_pri, @qt_exp, @vl_percent
END
CLOSE c_laudo
DEALLOCATE c_laudo
GO
