USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/****** Object:  Stored Procedure dbo.sp_atualiza_liquidacao    Script Date: 29/12/1998 10:23:30 ******/
CREATE PROCEDURE [sp_atualiza_liquidacao] ( @nr_processo char(18), @nr_liquidacao char(6) ) AS

DECLARE @cd_unid_neg     char(2)
DECLARE @cd_produto      char(2)
DECLARE @nr_solic_fat    char(6)
DECLARE @vl_liquidacao   numeric(14,2)

DECLARE @tp_liquidacao   char(1)
DECLARE @in_cancelado    char(1)
DECLARE @vl_fat   	 numeric(14,2)
DECLARE @vl_liq_fat  	 numeric(14,2)
DECLARE @in_liq_fat  	 char(1)
DECLARE @dt_liq_fat  	 datetime
DECLARE @vl_fat_proc     numeric(14,2)
DECLARE @vl_liq_fat_proc numeric(14,2)
DECLARE @in_liq_fat_proc char(1)
DECLARE @dt_liq_fat_proc datetime
DECLARE @dt_liquidacao   datetime

SELECT  @cd_unid_neg   = CD_UNID_NEG,
        @cd_produto    = CD_PRODUTO, 
        @nr_solic_fat  = NR_SOLIC_FAT,
        @vl_liquidacao = ISNULL( VL_LIQUIDACAO, 0 ),
        @tp_liquidacao = TP_LIQUIDACAO,
        @in_cancelado  = IN_CANCELADO,
        @dt_liquidacao = DT_LIQUIDACAO
FROM    TLIQUIDACAO
WHERE   NR_PROCESSO    = @nr_processo and
        NR_LIQUIDACAO  = @nr_liquidacao

IF @@rowcount = 0
BEGIN
  RETURN(1)
END
ELSE
BEGIN
  SELECT @vl_fat_proc      = ISNULL( VL_FATURA, 0 ),
         @vl_liq_fat_proc  = ISNULL( VL_LIQUIDACAO, 0 ),
         @in_liq_fat_proc  = IN_LIQUIDADO,
         @dt_liq_fat_proc  = DT_LIQUIDACAO
  FROM   TS_FATURA_PROCESSO
  WHERE  CD_UNID_NEG       = @cd_unid_neg  AND
         CD_PRODUTO        = @cd_produto   AND
         NR_SOLICITACAO    = @nr_solic_fat AND
         NR_PROCESSO       = @nr_processo
  IF @@rowcount = 0
  BEGIN
    RETURN(2)
  END
  ELSE
  BEGIN
    SELECT @vl_fat        = ISNULL( VL_FATURA, 0 ),
           @vl_liq_fat    = ISNULL( VL_LIQUIDACAO, 0),
           @in_liq_fat    = IN_LIQUIDADO,
           @dt_liq_fat    = DT_LIQUIDACAO
    FROM   TS_FATURA
    WHERE  CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto  AND
           NR_SOLICITACAO = @nr_solic_fat 
  
    IF @@rowcount = 0
    BEGIN
      RETURN(3)
    END
    ELSE
    BEGIN
      IF @tp_liquidacao = 'P'
        SELECT @vl_liquidacao = @vl_liquidacao * (-1) 
      IF @in_cancelado = '0'
      BEGIN
        SELECT @vl_liq_fat_proc = @vl_liq_fat_proc + @vl_liquidacao
        SELECT @vl_liq_fat      = @vl_liq_fat + @vl_liquidacao    
      END  
      ELSE
      BEGIN
        SELECT @vl_liq_fat_proc = @vl_liq_fat_proc - @vl_liquidacao
        SELECT @vl_liq_fat      = @vl_liq_fat - @vl_liquidacao    
      END
      IF ( @vl_liq_fat_proc + @vl_fat_proc ) <> 0
      BEGIN 
        SELECT @in_liq_fat_proc = '0'
      END
      ELSE
      BEGIN
        SELECT @in_liq_fat_proc = '1'
        SELECT @dt_liq_fat_proc = ISNULL( @dt_liq_fat_proc, GETDATE() )
      END
      IF ( @vl_liq_fat + @vl_fat ) <> 0
      BEGIN
        SELECT @in_liq_fat = '0'
      END
      ELSE
      BEGIN
        SELECT @in_liq_fat = '1'
        SELECT @dt_liq_fat = ISNULL( @dt_liq_fat , GETDATE() )
      END
      UPDATE TS_FATURA_PROCESSO
      SET    VL_LIQUIDACAO  = @vl_liq_fat_proc,
             IN_LIQUIDADO   = @in_liq_fat_proc,
             DT_LIQUIDACAO  = CONVERT( datetime, CONVERT( char(10), @dt_liq_fat_proc, 103 ), 103 )
      WHERE  CD_UNID_NEG    = @cd_unid_neg  AND
             CD_PRODUTO     = @cd_produto   AND
             NR_SOLICITACAO = @nr_solic_fat AND
             NR_PROCESSO    = @nr_processo
      UPDATE TS_FATURA
      SET    VL_LIQUIDACAO  = @vl_liq_fat,
             IN_LIQUIDADO   = @in_liq_fat,
             DT_LIQUIDACAO  = CONVERT( datetime, CONVERT( char(10), @dt_liq_fat, 103 ), 103 )
      WHERE  CD_UNID_NEG    = @cd_unid_neg AND
             CD_PRODUTO     = @cd_produto  AND
             NR_SOLICITACAO = @nr_solic_fat 

      EXEC sp_distribui_liquidacao @dt_liquidacao, @cd_unid_neg, '01', '0'
      
      RETURN(0)
    END
  END
END




GO
