USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_marca_proc   Script Date: 09/03/2000 08:58:11 AM ******/
CREATE PROCEDURE [sp_po_marca_proc]( @nr_processo char(18) ) AS

DECLARE @cd_usuario char(4)

SELECT @cd_usuario = ISNULL( CD_USUARIO, '0000' )
FROM   TUSUARIO 
WHERE  AP_USUARIO = SUSER_NAME()

UPDATE TPO
SET    IN_SELECIONADO = '1', CD_USUARIO_MONTA = @cd_usuario
WHERE  ( NR_PROCESSO = @NR_PROCESSO )


GO
