USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_po_apaga_renum_itens]( @nr_processo char(18), @cd_empresa char(5), @nr_item char(3) )  AS 

/*DECLARE @NR_PROCESSO CHAR(18)
DECLARE @CD_EMPRESA CHAR(5)
DECLARE @NR_ITEM CHAR(3)

SELECT @NR_PROCESSO = 'TROCA'
SELECT @CD_EMPRESA = ''
SELECT @NR_ITEM = '001'*/

DECLARE @qt_total_item char(3)
DECLARE @i_item int
DECLARE @s_item char(3)
DECLARE @nr_item_fetch char(3)

IF( SELECT COUNT(*) 
    FROM    TPO_ITEM
    WHERE (NR_PROCESSO = @nr_processo)
      AND (CD_EMPRESA  = @cd_empresa) )  > 0
BEGIN
   DELETE FROM TPO_ITEM
   WHERE ( NR_PROCESSO = @nr_processo) AND (CD_EMPRESA  = @cd_empresa) AND ( NR_ITEM = @nr_item )

   DELETE FROM TFLP_PO_ITEM
   WHERE ( NR_PROCESSO = @nr_processo) AND (CD_EMPRESA  = @cd_empresa) AND ( NR_ITEM = @nr_item )
END

IF( SELECT COUNT(*) 
    FROM TPO_NVE   
    WHERE (NR_PROCESSO = @nr_processo)
      AND (CD_EMPRESA  = @cd_empresa) )  > 0
BEGIN
  DELETE FROM TPO_NVE
  WHERE ( NR_PROCESSO = @nr_processo) AND (CD_EMPRESA  = @cd_empresa) AND ( NR_ITEM = @nr_item )
END

IF  ( SELECT COUNT(*) 
       FROM TPO_ITEM 
       WHERE (NR_PROCESSO = @nr_processo )
         AND (CD_EMPRESA  = @cd_empresa) )  > 0
BEGIN 

   DECLARE c_processo CURSOR FOR
         SELECT NR_ITEM 
         FROM TPO_ITEM 
         WHERE (NR_PROCESSO = @nr_processo) 
           AND (CD_EMPRESA  = @cd_empresa)

   SELECT @qt_total_item = CONVERT(  char(3), ( SELECT COUNT(*) 
			                                    FROM TPO_ITEM 
						                        WHERE (NR_PROCESSO = @nr_processo)
						                          AND (CD_EMPRESA  = @cd_empresa) ) )

  SELECT @qt_total_item = RIGHT( ( '000' + RTRIM( @qt_total_item ) ), 3 )
  UPDATE TPO 
  SET QT_TOTAL_ITENS = @qt_total_item
  WHERE NR_PROCESSO = @nr_processo
    AND (CD_EMPRESA  = @cd_empresa)

  SELECT @i_item = 0

  OPEN c_processo 
  FETCH c_processo INTO @nr_item_fetch
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @i_item = @i_item + 1
    SELECT @s_item = CONVERT( char(3), @i_item )
    SELECT @s_item = RIGHT( ( '000' + rtrim( @s_item ) ), 3 )

    IF  ( SELECT COUNT(*) 
          FROM TPO_NVE
          WHERE (NR_PROCESSO = @nr_processo)
            AND (CD_EMPRESA  = @cd_empresa) )  > 0
    BEGIN
      UPDATE TPO_NVE 
      SET NR_ITEM = @s_item 
      WHERE NR_PROCESSO = @nr_processo and CD_EMPRESA  = @cd_empresa and NR_ITEM = @nr_item_fetch
    END

    UPDATE TPO_ITEM
    SET NR_ITEM = @s_item 
    WHERE CURRENT OF c_processo

    UPDATE TFLP_PO_ITEM 
    SET NR_ITEM = @s_item 
    WHERE NR_PROCESSO = @nr_processo and CD_EMPRESA  = @cd_empresa and NR_ITEM = @nr_item_fetch

    FETCH c_processo INTO @nr_item_fetch
  END

  CLOSE c_processo
  DEALLOCATE c_processo

END
ELSE
BEGIN 
    UPDATE TPO
    SET QT_TOTAL_ITENS = '000'
    WHERE (NR_PROCESSO = @nr_processo)
      AND (CD_EMPRESA  = @cd_empresa)
END

RETURN(0)



GO
