USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_di_reclassifica_item2]( @nr_processo CHAR(18) , @nr_adicao CHAR(3) OUTPUT, @nr_item CHAR(3) OUTPUT) AS
DECLARE @i_adicao                INT
DECLARE @i_item                  INT
DECLARE @i_nr_item               INT
DECLARE @s_adicao                CHAR(3)
DECLARE @s_item                  CHAR(3)
DECLARE @cd_ncm_sh               CHAR(11)
DECLARE @cd_ncm_c8               CHAR(8)
DECLARE @cd_naladi_sh            CHAR(8)
DECLARE @cd_naladi_ncca          CHAR(7)
DECLARE @cd_fabr_expo            CHAR(1)
DECLARE @cd_exportador           CHAR(5)
DECLARE @cd_fabricante           CHAR(5)
DECLARE @cd_pais_origem          CHAR(3)
DECLARE @cd_pais_aquisicao       CHAR(3)
DECLARE @nr_oper_trat_prev       CHAR(10)
DECLARE @cd_local_embarque       CHAR(4)
DECLARE @cd_moeda_negociada      CHAR(3)
DECLARE @in_repassa_dados_adicao BIT
DECLARE @cd_vinc_impo_expo       CHAR(1)
DECLARE @cd_incoterm             CHAR(3)
DECLARE @cd_metodo_valoracao     CHAR(2)
DECLARE @cd_regime_trib_ii       CHAR(1)
DECLARE @cd_fund_legal_ii        CHAR(2)
DECLARE @cd_regime_trib_ipi      CHAR(1)
DECLARE @cd_destaque_ncm         CHAR(3)
DECLARE @pc_icms                 FLOAT
DECLARE @pc_reducao_icms         FLOAT
DECLARE @cd_aplicacao_mercadoria CHAR(1)
DECLARE @in_bem_encomenda        BIT
DECLARE @in_material_usado       BIT
DECLARE @in_repassa_dados_cambio BIT
DECLARE @cd_cobertura_cambial    CHAR(1)
DECLARE @cd_motivo_sem_cobertura CHAR(2)
DECLARE @cd_modalidade_pagto     CHAR(2)
DECLARE @nr_rof                  CHAR(8)
DECLARE @pc_comissao_agente      FLOAT
DECLARE @nr_identificacao_agente CHAR(14)
DECLARE @nr_banco_comissao       CHAR(5)
DECLARE @nr_praca_comissao       CHAR(4)
DECLARE @in_moeda_nacional       CHAR(1)
DECLARE @in_moeda_unica          BIT
DECLARE @nr_contrato_cambio      CHAR(8)
DECLARE @nr_banco_cambio         CHAR(5)
DECLARE @nr_praca_cambio         CHAR(4)
DECLARE @nr_comprador_me         CHAR(14)        
DECLARE @cd_tp_compr_cambio      CHAR(1)
DECLARE @cd_forma_pagamento      CHAR(1)        
DECLARE @nm_empresa1             CHAR(60)
DECLARE @end_empresa1            CHAR(40)
DECLARE @end_numero1             CHAR(6)
DECLARE @end_compl1              CHAR(21)
DECLARE @end_cidade1             CHAR(25)
DECLARE @end_estado1             CHAR(25)
DECLARE @cd_pais1                CHAR(3)
DECLARE @nm_empresa2             CHAR(60)
DECLARE @end_empresa2            CHAR(40)
DECLARE @end_numero2             CHAR(6)
DECLARE @end_compl2              CHAR(21)
DECLARE @end_cidade2             CHAR(25)
DECLARE @end_estado2             CHAR(25)
DECLARE @cd_pais2                CHAR(3)
DECLARE @pc_ii_ncm               FLOAT
DECLARE @pc_ipi_ncm              FLOAT
DECLARE @pc_ii_mercosul          FLOAT
DECLARE @in_exclui_adicao        BIT
DECLARE @nr_sequencia   INT
SELECT @pc_ii_ncm                = 0
SELECT @pc_ipi_ncm               = 0
SELECT @pc_ii_mercosul           = 0
-- Traz os valores da capa da DI para vari veis de trabalho      
SELECT @in_repassa_dados_adicao = IN_REPASSA_DADOS_ADICAO,
       @cd_local_embarque       = CD_LOCAL_EMBARQUE,
       @cd_moeda_negociada      = CD_MOEDA_MLE,
       @cd_vinc_impo_expo       = CD_VINC_IMPO_EXPO,
       @cd_incoterm             = CD_INCOTERM,
       @cd_metodo_valoracao     = CD_METODO_VALORACAO,
       @cd_regime_trib_ii       = CD_REG_TRIB_II,
       @cd_fund_legal_ii        = CD_FUND_LEGAL_II,
       @cd_regime_trib_ipi      = CD_REG_TRIB_IPI,
       @cd_destaque_ncm         = CD_DESTAQUE_NCM,
       @pc_icms                 = PC_ICMS,
       @pc_reducao_icms         = PC_REDUCAO_ICMS,
       @cd_aplicacao_mercadoria = CD_APLICACAO_MERC,
       @in_bem_encomenda        = IN_BEM_ENCOMENDA,
       @in_material_usado       = IN_MATERIAL_USADO,
       @in_repassa_dados_cambio = IN_REPASSA_DADOS_CAMBIO,
       @cd_cobertura_cambial    = CD_COBERTURA_CAMBIAL,
       @cd_motivo_sem_cobertura = CD_MOTIVO_SEM_COBERTURA,
       @cd_modalidade_pagto     = CD_MODALIDADE_PAGTO,
       @nr_rof                  = NR_ROF,
       @pc_comissao_agente      = PC_COMISSAO,
       @nr_identificacao_agente = NR_IDENTIFICACAO_COM,
       @nr_banco_comissao       = NR_BANCO_COM,
       @nr_praca_comissao       = NR_PRACA_COM,
       @in_moeda_nacional       = IN_MOEDA_NACIONAL,
       @in_moeda_unica          = IN_MOEDA_UNICA,
       @nr_contrato_cambio      = NR_CONTRATO_CAMBIO,
       @nr_banco_cambio         = NR_BANCO_PAGAMENTO,
       @nr_praca_cambio         = NR_PRACA_PAGAMENTO,
       @nr_comprador_me         = NR_COMPRADOR_ME, 
       @cd_forma_pagamento      = CD_FORMA_PAGAMENTO 
FROM   TDECLARACAO_IMPORTACAO 
WHERE  ( NR_PROCESSO = @nr_processo )
SELECT @cd_ncm_sh         = ISNULL( CD_NCM_SH, ''),
       @cd_ncm_c8         = SUBSTRING( CD_NCM_SH, 1, 8 ),
       @cd_naladi_sh      = ISNULL( CD_NALADI_SH, ''),
       @cd_naladi_ncca    = ISNULL( CD_NALADI_NCCA, ''),
       @cd_fabr_expo      = ISNULL( CD_FABR_EXPO, ''),
       @cd_exportador     = ISNULL( CD_EXPORTADOR, ''),
       @cd_fabricante     = ISNULL( CD_FABRICANTE, ''), 
       @cd_pais_origem    = ISNULL( CD_PAIS_ORIGEM, ''),
       @cd_pais_aquisicao = ISNULL( CD_PAIS_AQUISICAO, ''),
       @nr_oper_trat_prev = ISNULL( NR_OPER_TRAT_PREV, '')
FROM   TDETALHE_MERCADORIA
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( NR_ADICAO   = @nr_adicao ) AND
       ( NR_ITEM     = @nr_item ) 
SELECT @i_adicao  = COUNT(*) 
FROM   TADICAO_DE_IMPORTACAO
WHERE  ( NR_PROCESSO = @nr_processo ) 
SELECT @i_nr_item = COUNT(*) 
FROM   TDETALHE_MERCADORIA
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( NR_ADICAO = @nr_adicao ) 
IF NOT EXISTS ( SELECT  * 
  FROM    TADICAO_DE_IMPORTACAO 
  WHERE   ( NR_PROCESSO        = @nr_processo       ) AND
   ( CD_MERCADORIA_NCM  = @cd_ncm_sh         ) AND
   ( CD_MERC_NALADI_SH  = @cd_naladi_sh      ) AND
   ( CD_MERC_NALADI_NCC = @cd_naladi_ncca    ) AND
   ( CD_FORNECEDOR      = @cd_exportador     ) AND
   ( CD_FABRICANTE      = @cd_fabricante     ) AND
   ( CD_PAIS_ORIG_MERC  = @cd_pais_origem    ) AND
   ( CD_PAIS_AQUIS_MERC = @cd_pais_aquisicao ) AND
   ( NR_OPER_TRAT_PREV  = @nr_oper_trat_prev ) )
BEGIN 
  -- Gera uma Nova Adicao
  SELECT @pc_ii_ncm         = CONVERT( FLOAT, ALIQUOTA_II ),
         @pc_ipi_ncm        = CONVERT( FLOAT, ALIQUOTA_IPI ),
         @pc_ii_mercosul    = CONVERT( FLOAT, ALIQUOTA_II_MERCOSUL )
         FROM TNCM 
  WHERE  ( CODIGO = @cd_ncm_c8 ) 
  SELECT @nm_empresa1  = ISNULL( NM_EMPRESA,  SPACE(60) ),
         @end_empresa1 = ISNULL( END_EMPRESA, SPACE(40) ),
         @end_numero1  = ISNULL( END_NUMERO,  SPACE( 6) ),
         @end_compl1   = ISNULL( END_COMPL,   SPACE(21) ),
         @end_cidade1  = ISNULL( END_CIDADE,  SPACE(25) ), 
         @end_estado1  = ISNULL( END_ESTADO,  SPACE(25) ), 
         @cd_pais1     = ISNULL( CD_PAIS,     SPACE( 3) ) 
  FROM   TEMPRESA_EST 
  WHERE  CD_EMPRESA = @cd_exportador
  SELECT @nm_empresa2  = ISNULL( NM_EMPRESA,  SPACE(60) ),
         @end_empresa2 = ISNULL( END_EMPRESA, SPACE(40) ),
         @end_numero2  = ISNULL( END_NUMERO,  SPACE( 6) ),
         @end_compl2   = ISNULL( END_COMPL,   SPACE(21) ),
         @end_cidade2  = ISNULL( END_CIDADE,  SPACE(25) ), 
         @end_estado2  = ISNULL( END_ESTADO,  SPACE(25) ), 
         @cd_pais2     = ISNULL( CD_PAIS,     SPACE( 3) ) 
  FROM   TEMPRESA_EST 
  WHERE  CD_EMPRESA = @cd_fabricante
  IF @i_nr_item <> 1      /* Tratamento para reclassificacao de item nao onico na adicao */
  BEGIN
    SELECT @s_adicao = CONVERT( CHAR(3), (@i_adicao + 1) )
    SELECT @s_adicao = RIGHT( ( '000' + RTRIM( @s_adicao ) ), 3 )
    INSERT INTO TADICAO_DE_IMPORTACAO 
         ( NR_PROCESSO,             NR_ADICAO,               CD_MERCADORIA_NCM,       CD_MERC_NBM_SH,          CD_NCM_SH,
           CD_MERC_NALADI_SH,       CD_MERC_NALADI_NCC,      CD_AUSENCIA_FABRIC,      CD_FORNECEDOR,           CD_FABRICANTE,
           CD_PAIS_ORIG_MERC,       CD_PAIS_AQUIS_MERC,      NM_FORN_ESTR,            ED_LOGR_FORN_ESTR,
           ED_NR_FORN_ESTR,         ED_COMPL_FORN_ESTR,      ED_CIDAD_FORN_ESTR,      ED_ESTAD_FORN_ESTR,
           NM_FABRICANTE_MERC,      ED_LOGR_FABRIC,          ED_NR_FABRIC,            ED_COMPL_FABRIC,
           ED_CIDAD_FABRIC,         ED_ESTADO_FABRIC,        QT_ITENS_ADICAO,         CD_LOC_COND_VENDA,
           CD_MOEDA_NEGOCIADA,      NR_OPER_TRAT_PREV,       PC_ICMS,        PC_REDUCAO_ICMS        ) VALUES
         ( @nr_processo,            @s_adicao,               @cd_ncm_sh,              @cd_ncm_c8,              @cd_ncm_c8,
           @cd_naladi_sh,           @cd_naladi_ncca,         @cd_fabr_expo,           @cd_exportador,          @cd_fabricante,
           @cd_pais_origem,         @cd_pais_aquisicao,      @nm_empresa1,            @end_empresa1,
           @end_numero1,            @end_compl1,             @end_cidade1,            @end_estado1, 
           @nm_empresa2,            @end_empresa2,           @end_numero2,            @end_compl2,
           --@end_cidade2,            @end_estado2,            1,                       @cd_local_embarque,
           -- Comentado acima e utilizando abaixo a pedido de Andrea Alves - Michel - 20/02/2013
           @end_cidade2,            @end_estado2,            1,                       NULL,
           @cd_moeda_negociada,     @nr_oper_trat_prev,      @pc_icms,        @pc_reducao_icms      )
    IF @in_repassa_dados_adicao = 1
    BEGIN
      UPDATE TADICAO_DE_IMPORTACAO
      SET    CD_INCOTERMS_VENDA = @cd_incoterm,
             CD_VINC_IMPO_EXPO  = @cd_vinc_impo_expo,
             CD_METOD_VALORACAO = @cd_metodo_valoracao,
             CD_REGIME_TRIBUTAR = @cd_regime_trib_ii,
             CD_FUND_LEG_REGIME = @cd_fund_legal_ii,
             CD_APLICACAO_MERC  = @cd_aplicacao_mercadoria,                      
             IN_BEM_ENCOMENDA   = @in_bem_encomenda,
             IN_MATERIAL_USADO  = @in_material_usado 
      WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao )
    END
    IF @in_repassa_dados_cambio = 1
    BEGIN
      UPDATE TADICAO_DE_IMPORTACAO
      SET    CD_COBERT_CAMBIAL  = @cd_cobertura_cambial,
             CD_MODALIDADE_PGTO = @cd_modalidade_pagto,
             CD_MOTIVO_SEM_COB  = @cd_motivo_sem_cobertura,
             NR_ROF             = @nr_rof,
             PC_COMISSAO_AG_IMP = @pc_comissao_agente,      
             NR_AGENTE_IMP      = @nr_identificacao_agente, 
             CD_BANC_AGENTE_IMP = @nr_banco_comissao,       
             CD_AGENC_AGENT_IMP = @nr_praca_comissao       
      WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao )
      IF @cd_forma_pagamento = '1' OR @cd_forma_pagamento = '2'
      BEGIN
        IF SUBSTRING ( @nr_comprador_me , 12, 3) = '   ' 
           SELECT @cd_tp_compr_cambio = '2'
        ELSE
           SELECT @cd_tp_compr_cambio = '1'      
        IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO 
         FROM   TPAGAMENTO_VINCULADO 
         WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao ) ) AND ( @nr_comprador_me <> '' )
        BEGIN         
           SELECT @nr_sequencia = ISNULL( ( SELECT MAX( NR_SEQUENCIA ) 
                                            FROM   TPAGAMENTO_VINCULADO
                                            WHERE  NR_PROCESSO = @nr_processo AND
                                                   NR_ADICAO   = @s_adicao    AND
                CD_FORMA_PAGAMENTO = @cd_forma_pagamento ), 0 ) + 1 
           INSERT INTO TPAGAMENTO_VINCULADO
           ( NR_PROCESSO,         NR_ADICAO,          CD_FORMA_PAGAMENTO,  NR_SEQUENCIA,  IN_PAGAMENTO_MN,
             NR_OP_CAMBIO,        CD_BANCO_PAGAMENTO, CD_PRACA_PAGAMENTO,  NR_COMPR_CAMBIO,
             CD_TP_COMPR_CAMBIO ) VALUES
           ( @nr_processo,        @s_adicao,          @cd_forma_pagamento, @nr_sequencia, @in_moeda_nacional,
             @nr_contrato_cambio, @nr_banco_cambio,   @nr_praca_cambio,    @nr_comprador_me,
             @cd_tp_compr_cambio )  
        END
      END    END 
    SELECT @s_item = '001'
    UPDATE TDECLARACAO_IMPORTACAO 
    SET qt_adicoes = @i_adicao + 1 
    WHERE ( NR_PROCESSO = @nr_processo )
    IF @in_moeda_unica = 1
    BEGIN
      UPDATE TADICAO_DE_IMPORTACAO
      SET CD_MOEDA_NEGOCIADA = @cd_moeda_negociada
      WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao )
    END
    IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO FROM TRIBUTO WHERE (NR_PROCESSO = @nr_processo) AND ( NR_ADICAO = @s_adicao ) AND ( CD_RECEITA_IMPOSTO = '0001' ) )
       INSERT INTO TRIBUTO ( NR_PROCESSO,  NR_ADICAO, CD_RECEITA_IMPOSTO, CD_TIPO_ALIQ_IPT, PC_ALIQ_NORM_ADVAL ) VALUES
                          ( @nr_processo, @s_adicao, '0001', '1', @pc_ii_ncm ) 
    IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO FROM TRIBUTO WHERE (NR_PROCESSO = @nr_processo) AND ( NR_ADICAO = @s_adicao ) AND ( CD_RECEITA_IMPOSTO = '0002' ) )
       INSERT INTO TRIBUTO ( NR_PROCESSO,  NR_ADICAO, CD_RECEITA_IMPOSTO, CD_TIPO_ALIQ_IPT, PC_ALIQ_NORM_ADVAL, CD_TIPO_BENEF_IPI ) VALUES
                          ( @nr_processo, @s_adicao, '0002', '1', @pc_ipi_ncm, @cd_regime_trib_ipi )  
    IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO FROM TDESTAQUE_NCM WHERE (NR_PROCESSO = @nr_processo) AND ( NR_ADICAO = @s_adicao ) ) AND
       ( @cd_destaque_ncm <> '' )
    BEGIN
       SELECT @nr_sequencia = ISNULL( ( SELECT MAX( NR_SEQUENCIA ) 
                                        FROM   TDESTAQUE_NCM
                                        WHERE  NR_PROCESSO = @nr_processo AND
                                               NR_ADICAO   = @s_adicao ), 0 ) + 1 
       INSERT INTO TDESTAQUE_NCM ( NR_PROCESSO,  NR_ADICAO, NR_SEQUENCIA,  NR_DESTAQUE_NCM ) VALUES
                                 ( @nr_processo, @s_adicao, @nr_sequencia, @cd_destaque_ncm )  
    END
    UPDATE TDETALHE_MERCADORIA 
    SET    NR_ADICAO = @s_adicao, NR_ITEM = @s_item
    WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) AND ( NR_ITEM = @nr_item )  
    EXECUTE sp_di_renumera_itens_adicao @nr_processo, @nr_adicao
  END
  ELSE                    /* Tratamento para reclassificacao de item onico na adicao */
  BEGIN
    UPDATE TADICAO_DE_IMPORTACAO 
    SET    CD_MERCADORIA_NCM  = @cd_ncm_sh,
           CD_MERC_NBM_SH     = @cd_ncm_sh,
           CD_NCM_SH          = substring ( @cd_ncm_sh, 1, 8),
           CD_MERC_NALADI_SH  = @cd_naladi_sh,
           CD_MERC_NALADI_NCC = @cd_naladi_ncca,
           CD_AUSENCIA_FABRIC = @cd_fabr_expo,           
           CD_FORNECEDOR      = @cd_exportador,
           NM_FORN_ESTR       = @nm_empresa1,                        
           ED_LOGR_FORN_ESTR  = @end_empresa1, 
           ED_NR_FORN_ESTR    = @end_numero1,                     
           ED_COMPL_FORN_ESTR = @end_compl1,                 
           ED_CIDAD_FORN_ESTR = @end_cidade1,            
           ED_ESTAD_FORN_ESTR = @end_estado1, 
           CD_FABRICANTE      = @cd_fabricante,
           NM_FABRICANTE_MERC = @nm_empresa2,            
           ED_LOGR_FABRIC     = @end_empresa2,           
           ED_NR_FABRIC       = @end_numero2,            
           ED_COMPL_FABRIC    = @end_compl2,
           ED_CIDAD_FABRIC    = @end_cidade2,                
           ED_ESTADO_FABRIC   = @end_estado2,                
           CD_PAIS_ORIG_MERC  = @cd_pais_origem,
           CD_PAIS_AQUIS_MERC = @cd_pais_aquisicao,
           NR_OPER_TRAT_PREV  = @nr_oper_trat_prev,
           QT_ITENS_ADICAO    = 1 
  WHERE    ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
  END
END
ELSE
BEGIN
  SELECT @in_exclui_adicao = 0
  SELECT @s_adicao = NR_ADICAO, @i_item = QT_ITENS_ADICAO 
  FROM   TADICAO_DE_IMPORTACAO
  WHERE  ( NR_PROCESSO        = @nr_processo       ) AND
  ( NR_ADICAO        <> @nr_adicao     ) AND
         ( CD_MERCADORIA_NCM  = @cd_ncm_sh         ) AND
         ( CD_MERC_NALADI_SH  = @cd_naladi_sh      ) AND
         ( CD_MERC_NALADI_NCC = @cd_naladi_ncca    ) AND
         ( CD_FORNECEDOR      = @cd_exportador     ) AND
         ( CD_FABRICANTE      = @cd_fabricante     ) AND
         ( CD_PAIS_ORIG_MERC  = @cd_pais_origem    ) AND
         ( CD_PAIS_AQUIS_MERC = @cd_pais_aquisicao ) AND
         ( NR_OPER_TRAT_PREV  = @nr_oper_trat_prev )
  IF @s_adicao IS NOT NULL -- Outra adicao
  BEGIN
    IF @nr_adicao <> @s_adicao  
    BEGIN
      IF @i_nr_item <> 1
      BEGIN
        UPDATE TADICAO_DE_IMPORTACAO 
        SET    QT_ITENS_ADICAO = qt_itens_adicao - 1
        WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) 
      END
      ELSE
      BEGIN
        SELECT @in_exclui_adicao = 1
        UPDATE TDECLARACAO_IMPORTACAO 
        SET    QT_ADICOES = QT_ADICOES - 1
        WHERE  ( NR_PROCESSO = @nr_processo )
      END
      IF @i_item IS NOT NULL
         SELECT @i_item = @i_item + 1
      ELSE
         SELECT @i_item = 1
      SELECT @s_item = CONVERT( char(3), @i_item ) 
      SELECT @s_item = RIGHT( ( '000' + RTRIM( @s_item ) ), 3 )
      UPDATE TADICAO_DE_IMPORTACAO 
      SET    QT_ITENS_ADICAO = @i_item
      WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao )
    END
    ELSE
      SELECT @s_item = @nr_item  
    UPDATE TDETALHE_MERCADORIA 
    SET    NR_ADICAO = @s_adicao, NR_ITEM = @s_item
    WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) AND ( NR_ITEM = @nr_item )
    IF @in_exclui_adicao = 1
       EXECUTE sp_exclui_adicao @nr_processo, @nr_adicao
    EXECUTE sp_di_renumera_itens_adicao @nr_processo, @nr_adicao
  END
END
SELECT @s_adicao = NR_ADICAO 
FROM   TADICAO_DE_IMPORTACAO
WHERE  ( NR_PROCESSO        = @nr_processo       ) AND
       ( NR_ADICAO     <> @nr_adicao         ) AND
       ( CD_MERCADORIA_NCM  = @cd_ncm_sh         ) AND
       ( CD_MERC_NALADI_SH  = @cd_naladi_sh      ) AND
       ( CD_MERC_NALADI_NCC = @cd_naladi_ncca    ) AND
       ( CD_FORNECEDOR      = @cd_exportador     ) AND
       ( CD_FABRICANTE      = @cd_fabricante     ) AND
       ( CD_PAIS_ORIG_MERC  = @cd_pais_origem    ) AND
       ( CD_PAIS_AQUIS_MERC = @cd_pais_aquisicao ) AND
       ( NR_OPER_TRAT_PREV  = @nr_oper_trat_prev )
SELECT @nr_adicao = NR_ADICAO, 
       @nr_item   = NR_ITEM 
FROM   TDETALHE_MERCADORIA
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( NR_ADICAO = @s_adicao ) AND 
       ( NR_ITEM = @s_item )  
RETURN (0)




GO
