USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/****** Object:  Stored Procedure dbo.sp_di_atz_tipo_di    Script Date: 02/09/1999 08:58:10 AM ******/
CREATE PROCEDURE [sp_exp_atz_ref]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON 
BEGIN TRAN

DECLARE @nr_processo char(18)

SELECT @nr_processo = '0102EM-2354-04'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cString char(400)
DECLARE @cStringFinal char(400)
DECLARE @cd_referencia char(15)

SELECT @cString = ''

IF (SELECT COUNT(*) 
     FROM TREF_CLIENTE 
     WHERE NR_PROCESSO = @nr_processo) > 0
BEGIN
  DELETE FROM TAUX_EXP_REF WHERE NR_PROCESSO = @nr_processo

  DECLARE c_ref CURSOR FOR
  SELECT CD_REFERENCIA 
    FROM TREF_CLIENTE 
    WHERE NR_PROCESSO = @nr_processo

  OPEN c_ref
  FETCH c_ref INTO @cd_referencia 

  WHILE @@fetch_status <> -1
  BEGIN
    IF ltrim(rtrim(@cString)) = ''
        SELECT @cString = ltrim(rtrim(@cString)) + ltrim(rtrim(@cd_referencia))
     ELSE
        SELECT @cString = ltrim(rtrim(@cString)) + ', ' + ltrim(rtrim(@cd_referencia))

    FETCH c_ref INTO @cd_referencia
  END

  IF SUBSTRING( @cString, Len( @cString ), Len( @cString ) ) = ','
     SELECT @cString = Substring( @cString, 1, Len( @cString ) - 1 ) 
  
  -- Formata campo para ser exibido na fatura
  SELECT @cStringFinal = ( CASE LEN( @cString ) WHEN 0 THEN '' ELSE 'Ref.: ' + LTRIM( RTRIM( @cString ) ) END +
         CASE LEN( @cString ) WHEN 0 THEN '' ELSE '  '  END +
         CASE LEN( E.NR_CLIENTE ) WHEN 0 THEN '' ELSE '( ' END + LTRIM( RTRIM( E.NR_CLIENTE ) ) +
         CASE LEN( E.NR_CLIENTE ) WHEN 0 THEN '' ELSE ' )' END )
  FROM   TPROCESSO_EXP P ( NOLOCK ), TEMPRESA_EST E ( NOLOCK )
  WHERE  E.CD_EMPRESA = P.CD_IMPORTADOR AND
         ( ( P.NR_PROCESSO = @nr_processo ) AND ( IN_REFERENCIA_FAT_INST = '0' ) OR
           ( P.NR_PROCESSO = '' ) AND ( IN_REFERENCIA_FAT_INST = '1' ) )

  INSERT TAUX_EXP_REF (NR_PROCESSO,NM_REFERENCIA, NM_REF) VALUES (@nr_processo, @cStringFinal, @cString)

  CLOSE c_ref
  DEALLOCATE c_ref

END

RETURN(0)






GO
