USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_apaga_devol    Script Date: 02/09/1999 08:58:57 AM ******/
CREATE PROCEDURE [sp_apaga_devol]( @nr_processo char(18), @nr_devolucao char(3) ) AS
DELETE FROM TDEVOLUCAO_ITENS
WHERE  ( NR_PROCESSO  = @nr_processo ) AND 
       ( NR_DEVOLUCAO = @nr_devolucao )
DELETE FROM TDEVOLUCAO
WHERE  ( NR_PROCESSO  = @nr_processo ) AND 
       ( NR_DEVOLUCAO = @nr_devolucao )



GO
