USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [sp_po_monta_li]( @nr_proc_controle char(18) ) AS

DECLARE @NR_PROCESSO char(18)
DECLARE @NR_PROC_PO_OLD char(18)
DECLARE @nNR_PROC_CONTROLE char(18)
DECLARE @nNR_PROC char(18)

-- CAPA DO PO
DECLARE @cCD_MOD_PAGAMENTO char(2)
DECLARE @cCD_IMPORTADOR char(5)
DECLARE @cCD_REGIME_TRIB char(1)
DECLARE @cCD_PAIS_PROC_Capa char(3)
DECLARE @cCD_INCOTERM char(3)
DECLARE @cCD_INSTIT_FINANC char(2)
DECLARE @cCD_MOTIVO_CAMBIO_SEM_COBERT char(2)
DECLARE @cIN_COND_MERCADORIA char(1)
DECLARE @cCD_MOEDA_NEG char(3)
DECLARE @cCD_URF_DESPACHO char(7)
DECLARE @cCD_URF_ENTRADA char(7)
DECLARE @cCD_MOEDA_FRETE char(3)
DECLARE @cCD_MOEDA_SEGURO char(3)
DECLARE @nQT_PERIODICIDADE float
DECLARE @nPL_PO float
DECLARE @nQT_TOTAL_PESO float
DECLARE @nTP_CAMBIO float
DECLARE @VlFreteTotal float
DECLARE @nVL_SEGURO float
DECLARE @nVL_DESCONTOS float
DECLARE @nVL_TOTALCapa float
DECLARE @nQT_INICIAL float
DECLARE @nQT_INICIAL_EST float

DECLARE @VlDespesas float
DECLARE @VlDespItem float

-- ITEM DO PO
DECLARE @nNR_ITEM integer
DECLARE @cCD_EXPORTADOR char(5)
DECLARE @cCD_FABRICANTE char(5)
DECLARE @cCD_MERCADORIA varchar(30)
DECLARE @cCD_NALADI_NCCA char(7)
DECLARE @cCD_NALADI_SH char(8)
DECLARE @cCD_NCM_SH char(11)
DECLARE @cCD_PAIS_AQUISICAO char(3)
DECLARE @cCD_PAIS_ORIGEM char(3)
DECLARE @cCD_UNID_MEDIDA char(3)
DECLARE @nPL_ITEM float
DECLARE @nPLITEM float
DECLARE @nPL_TOTAL float
DECLARE @nQT_INICIAL_EST_TOTAL float
DECLARE @nQT_MED_ESTATISTICA float
DECLARE @nVL_UNITARIO float
DECLARE @nVL_TOTAL float
DECLARE @nVL_FRETE float
DECLARE @cCD_PAIS_PROCEDENCIA char(3)
DECLARE @nVL_SEGURO_MOEDA float
DECLARE @nVL_DESCONTO float
DECLARE @nContador integer
DECLARE @cContador char(3)
DECLARE @in_fabr_expor_imp Char(1)
DECLARE @Exportador char(5)
DECLARE @PaisAquisicao char(3)
DECLARE @MoedaNeg char(3)
DECLARE @cNR_ATO_DRAWBACK char(13)

DECLARE @nEntrou bit
DECLARE @nEntrou2 bit
DECLARE @cNrItem char(3)
DECLARE @Erro int
DECLARE @nQtInicial float
DECLARE @nQtInicialEst float
DECLARE @nQtDisponivel float
DECLARE @nQtDispo float
DECLARE @lEntrou bit

DECLARE @nPlUnitario float
DECLARE @nQtEstUnitario float
DECLARE @VlDespUnitario float
DECLARE @VlFreteUnitario float
DECLARE @VlFreteItem float
DECLARE @qt_total_po float

DECLARE @qt_total_processado int
DECLARE @qt_total_aprocessar int

DECLARE @cd_usuario char(4)
DECLARE  @NR_ITEM_CLIENTE CHAR(4)

SELECT @cd_usuario = ISNULL( CD_USUARIO, '0000' )
FROM   TUSUARIO (NOLOCK)
WHERE  AP_USUARIO = SUSER_NAME()

DECLARE c_PO_ITEM CURSOR FOR
  SELECT NR_PROCESSO, 
         NR_ITEM, 
         ISNULL( CD_EXPORTADOR, '' ), 
         ISNULL( CD_FABRICANTE, '' ), 
         ISNULL( CD_MERCADORIA, '' ), 
         ISNULL( CD_NALADI_NCCA, '' ), 
         ISNULL( CD_NALADI_SH, '' ), 
         ISNULL( CD_NCM_SH, '' ), 
         ISNULL( CD_PAIS_AQUISICAO, '' ),
         ISNULL( CD_PAIS_ORIGEM, '' ),
         ISNULL( CD_UNID_MEDIDA, '' ),
         ISNULL( PL_ITEM, 0 ),
         ISNULL( QT_INICIAL, 0 ),
         ISNULL( QT_INICIAL_EST, 0 ),
         ISNULL( VL_UNITARIO, 0 ),
         ISNULL( VL_TOTAL, 0 ),
         ISNULL( VL_FRETE_PREPAID_MOEDA, 0 ) + ISNULL( VL_FRETE_COLLECT, 0 ) - ISNULL( VL_FRETE_NAC_MOEDA, 0 ),
         ISNULL( CD_PAIS_PROCEDENCIA, '' ),
         ISNULL( VL_SEGURO_MOEDA, 0 ),
         ISNULL( VL_DESPESA_MOEDA, 0 ),
         ISNULL( VL_DESCONTO, 0 ),
         ISNULL( QT_DISPONIVEL, 0 ),
         ISNULL( NR_ATO_DRAWBACK, ''),
         ISNULL( NR_ITEM_CLIENTE,'')
  FROM   TPO_ITEM (NOLOCK)
  WHERE  ( IN_SELECIONADO = 1 ) AND ( IN_MONTADO <> '1' ) AND ( CD_USUARIO_MONTA = @cd_usuario )

SELECT @nContador = 0
SELECT @lEntrou = 0

SELECT @NR_PROC_PO_OLD = ''

OPEN c_PO_ITEM
FETCH c_PO_ITEM 
  INTO @nNR_PROC, @nNR_ITEM, @cCD_EXPORTADOR, @cCD_FABRICANTE, @cCD_MERCADORIA, @cCD_NALADI_NCCA, @cCD_NALADI_SH,
       @cCD_NCM_SH, @cCD_PAIS_AQUISICAO, @cCD_PAIS_ORIGEM, @cCD_UNID_MEDIDA, @nPL_ITEM, 
       @nQT_INICIAL, @nQT_INICIAL_EST, @nVL_UNITARIO, @nVL_TOTAL, @nVL_FRETE, @cCD_PAIS_PROCEDENCIA, 
       @nVL_SEGURO_MOEDA, @VlDespItem, @nVL_DESCONTO, @nQtDisponivel, @cNR_ATO_DRAWBACK, @NR_ITEM_CLIENTE

SELECT @nEntrou2 = 0
SELECT @nEntrou = 1

SELECT @qt_total_processado = 0

WHILE @@fetch_status <> -1
BEGIN
  SELECT @NR_PROC_PO_OLD = @nNR_PROC

  SELECT @qt_total_processado = @qt_total_processado + 1

  SELECT @cNrItem = @nNR_Item
  SELECT @cNrItem = CONVERT( char(3), @nNR_Item )
  SELECT @cNrItem = RIGHT( ( '000' + RTRIM( @cNrItem ) ), 3 )

  IF ( SELECT COUNT(*)  
       FROM   TLICENCA_IMPORTACAO  (NOLOCK)
       WHERE  NR_PROCESSO = @NR_PROC_CONTROLE ) = 0 
  BEGIN
    SELECT @nContador = @nContador + 1 
    SELECT @cContador = CONVERT( char(3), @nContador )
    SELECT @cContador = RIGHT( ( '000' + RTRIM( @cContador ) ), 3 )
  END
  ELSE
  BEGIN
    SELECT @nContador = CONVERT( int, QT_TOTAL_ITEM )
    FROM   TLICENCA_IMPORTACAO  (NOLOCK)
    WHERE  NR_PROCESSO = @NR_PROC_CONTROLE

    SELECT @nContador = @nContador + 1 
    SELECT @cContador = CONVERT( char(3), @nContador )
    SELECT @cContador = RIGHT( ( '000' + RTRIM( @cContador ) ), 3 )
  END

  SELECT @nEntrou = 0
  IF( SELECT COUNT(*) 
      FROM   TPO  (NOLOCK)
      WHERE  ( NR_PROCESSO = @nNR_PROC ) AND
             ( IN_SELECIONADO = 1 ) AND
             ( CD_USUARIO_MONTA = @cd_usuario ) ) > 0
  BEGIN
    SELECT @nEntrou = 1
    SELECT @cCD_MOD_PAGAMENTO = CD_MOD_PAGAMENTO,
           @cCD_IMPORTADOR = CD_IMPORTADOR,
           @cCD_REGIME_TRIB = CD_REGIME_TRIB,
           @cCD_PAIS_PROC_Capa = CD_PAIS_PROCEDENCIA,
           @cCD_INCOTERM = CD_INCOTERM,
           @cCD_INSTIT_FINANC = CD_INSTIT_FINANC,
           @cCD_MOTIVO_CAMBIO_SEM_COBERT = CD_MOTIVO_CAMBIO_SEM_COBERT,
           @cIN_COND_MERCADORIA = IN_COND_MERCADORIA,
           @cCD_MOEDA_NEG = CD_MOEDA_NEG,
           @cCD_URF_DESPACHO = CD_URF_DESPACHO,
           @cCD_URF_ENTRADA = CD_URF_ENTRADA,
           @cCD_MOEDA_FRETE = CD_MOEDA_FRETE,
           @cCD_MOEDA_SEGURO = CD_MOEDA_SEGURO,
           @nQT_PERIODICIDADE = QT_PERIODICIDADE,
           @nPL_PO = PL_PO,
           @nQT_TOTAL_PESO = QT_TOTAL_PESO,
           @nTP_CAMBIO = TP_COBERT_CAMBIO,
           @VlFreteTotal = ISNULL( VL_FRETE_PREPAID, 0 ) + 
                           ISNULL( VL_FRETE_COLLECT, 0 ) - 
                           ISNULL( VL_FRETE_TERRIT_NAC, 0 ),
           @nVL_SEGURO = VL_SEGURO,
           @VlDespesas = ROUND( ISNULL( VL_DESPESAS, 0 ), 2 ),
           @nVL_DESCONTOS = VL_DESCONTOS,
           @nVL_TOTALCapa = VL_TOTAL
    FROM   TPO (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC ) AND
           ( IN_SELECIONADO = 1 ) AND 
           ( CD_USUARIO_MONTA = @cd_usuario )

    SELECT @nQT_INICIAL_EST_TOTAL = SUM( ISNULL( QT_INICIAL_EST, 0 ) )
    FROM   TPO_ITEM (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC ) AND ( CD_USUARIO_MONTA = @cd_usuario )

    SELECT @nPL_TOTAL = SUM( ISNULL( PL_ITEM, 0 ) )
    FROM   TPO_ITEM (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC ) AND ( CD_USUARIO_MONTA = @cd_usuario )

    SELECT @qt_total_po = SUM ( ISNULL( QT_INICIAL, 0 ) )
    FROM   TPO_ITEM  (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC ) AND ( CD_USUARIO_MONTA = @cd_usuario )

    IF ( ISNULL( @cIN_COND_MERCADORIA, '' ) ) = '' 
    BEGIN
      SELECT @cIN_COND_MERCADORIA = '2'
    END

  END

  IF ( @nEntrou = 1 ) AND ( @nEntrou2 = 0 )
  BEGIN
    -- CRIA CAPA DA LI
    IF ( SELECT COUNT(*)  
         FROM   TLICENCA_IMPORTACAO  (NOLOCK)
         WHERE  NR_PROCESSO = @NR_PROC_CONTROLE ) = 0 
    BEGIN
        INSERT INTO TLICENCA_IMPORTACAO 
          ( NR_PROCESSO, CD_MOD_PAGAMENTO, CD_IMPORTADOR, CD_REGIME_TRIBUTACAO, CD_PAIS_PROCEDENCIA, CD_INCOTERM,
            CD_INSTITUICAO_FINANC, CD_MOT_SEM_COBERTURA, CD_CONDICAO_MERC, CD_MOEDA_FOB, CD_URF_DESPACHO, CD_URF_ENTRADA,
            CD_MOEDA_FRETE, CD_MOEDA_SEGURO, QT_DIAS_COBERTURA, QT_TOTAL_PES_LIQ, QT_TOTAL_ITEM, TP_CAMBIO, 
            VL_SEGURO_MOEDA, VL_DESCONTO_MOEDA, VL_TOTAL_MOEDA )
       VALUES 
          ( @NR_PROC_CONTROLE, @cCD_MOD_PAGAMENTO, @cCD_IMPORTADOR, @cCD_REGIME_TRIB, @cCD_PAIS_PROC_Capa, @cCD_INCOTERM,
            @cCD_INSTIT_FINANC, @cCD_MOTIVO_CAMBIO_SEM_COBERT, @cIN_COND_MERCADORIA, @cCD_MOEDA_NEG, @cCD_URF_DESPACHO, @cCD_URF_ENTRADA, 
            @cCD_MOEDA_FRETE, @cCD_MOEDA_SEGURO, @nQT_PERIODICIDADE, @nPL_PO, '001', @nTP_CAMBIO, 
            @nVL_SEGURO, @nVL_DESCONTOS, @nVL_TOTALCapa )
    END 
    SELECT @nEntrou2 = 1 
  END

  -- COPIANDO ITENS PARA LI
  INSERT INTO TLICENCA_ITENS
    ( NR_PROCESSO, NR_ITEM, CD_EXPORTADOR, CD_FABRICANTE, CD_MERCADORIA, CD_NALADI_NCCA, CD_NALADI_SH, CD_NCM_SH, CD_PAIS_AQUISICAO, 
      CD_PAIS_ORIGEM, CD_UN_MED_COMERC, CD_UN_MED_ESTAT, PL_MERCADORIA, QT_MERC_UN_COMERC, QT_MERC_UN_ESTAT, VL_UNIT_MLE, VL_TOTAL_MLE, 
      VL_UNIT_MCV, CD_PAIS_PROCEDENCIA, VL_RAT_SEGURO, VL_RAT_DESPESA, VL_RAT_DESCONTO, NR_PROC_PO, NR_ITEM_PO, NR_ATO_DRAWBACK, NR_REG_DRAWBACK )
  VALUES
    ( @NR_PROC_CONTROLE, @cContador, @cCD_EXPORTADOR, @cCD_FABRICANTE, @cCD_MERCADORIA, @cCD_NALADI_NCCA, @cCD_NALADI_SH,  @cCD_NCM_SH, @cCD_PAIS_AQUISICAO,
      @cCD_PAIS_ORIGEM, @cCD_UNID_MEDIDA, @cCD_UNID_MEDIDA, @nPL_ITEM, @nQT_INICIAL, @nQT_INICIAL_EST, @nVL_UNITARIO, @nVL_TOTAL, 
      0 , @cCD_PAIS_PROCEDENCIA, @nVL_SEGURO_MOEDA, 0, @nVL_DESCONTO, @nNR_PROC, @NR_ITEM_CLIENTE, @cNR_ATO_DRAWBACK, SUBSTRING( @cNR_ATO_DRAWBACK, 1, 11 ) )

  -- IF ENTRAR, CALCULA ITEM BAIXADO TOTAL
  IF ( SELECT COUNT(*)       
       FROM TPREPARA_PO_ITEM  (NOLOCK)
       WHERE ( NR_PROC_OLD = @nNR_PROC ) AND ( NR_ITEM_OLD = @cNrItem ) AND ( NR_PROCESSO = @NR_PROC_CONTROLE ) ) = 0
  BEGIN
    SELECT @nQtDispo = 0 
    UPDATE TPO_ITEM 
    SET    IN_MONTADO = '1',
           QT_BAIXADA_LI = @nQT_INICIAL,
           QT_DISPONIVEL = @nQtDispo
    WHERE  ( NR_PROCESSO = @nNR_PROC ) AND ( NR_ITEM = @cNrItem ) AND ( CD_USUARIO_MONTA = @cd_usuario )

    IF @nQtDisponivel > 0
    BEGIN
      IF @qt_total_processado = @qt_total_aprocessar -- Verifica se e o ultimo item
      BEGIN
        SELECT @nPLITEM = ROUND( @nPL_TOTAL - ( SELECT SUM( ISNULL( PL_MERCADORIA, 0 ) )
                                                FROM   TLICENCA_ITENS (NOLOCK)
                                                WHERE  NR_PROC_PO = @nNR_PROC ), 5 )

        SELECT @nQtInicialEst = ROUND( @nQT_INICIAL_EST_TOTAL - ( SELECT SUM( ISNULL( QT_MERC_UN_ESTAT, 0 ) )
                                                                  FROM   TLICENCA_ITENS (NOLOCK)
                                                                  WHERE  NR_PROC_PO = @nNR_PROC ), 7 )

        SELECT @VlDespItem = ROUND( @VlDespesas - ( SELECT SUM( ISNULL( VL_RAT_DESPESA, 0 ) )
                                                    FROM   TLICENCA_ITENS (NOLOCK)
                                                    WHERE  NR_PROC_PO = @nNR_PROC ), 2 )

        SELECT @VlFreteItem = ROUND( @VlFreteTotal - ( SELECT SUM( ISNULL( VL_RAT_FRETE, 0 ) )
                                                       FROM   TLICENCA_ITENS (NOLOCK)
                                                       WHERE  NR_PROC_PO = @nNR_PROC ), 2 )

      END
      ELSE
      BEGIN
        SELECT @nPlUnitario     = @nPL_ITEM / @nQT_INICIAL
        SELECT @nQtEstUnitario  = @nQT_INICIAL_EST / @nQT_INICIAL
        SELECT @VlDespUnitario  = ( @VlDespesas / @qt_total_po )
        SELECT @VlFreteUnitario = ( @VlFreteTotal / @nPL_TOTAL )

        SELECT @nPLITEM = ROUND( ( @nPlUnitario * @nQtDisponivel ), 5 )
        SELECT @nQtInicialEst = ROUND( ( @nQtEstUnitario * @nQtDisponivel ), 7 )
        SELECT @VlDespItem = ROUND( ( @VlDespUnitario * @nQtDisponivel ), 2 )
        SELECT @VlFreteItem = ROUND( ( @VlFreteUnitario * @nPLITEM ), 2 )
      END

      UPDATE TLICENCA_ITENS
      SET    QT_MERC_UN_COMERC = @nQtDisponivel,
             QT_MERC_UN_ESTAT = @nQtInicialEst,
             PL_MERCADORIA = @nPLITEM,
             VL_RAT_FRETE = @VlFreteItem,
             VL_RAT_DESPESA = @VlDespItem,
             VL_UNIT_MCV = VL_UNIT_MLE + @VlDespItem - @nVL_DESCONTO
      WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ITEM = @cContador )
    END
  END
  ELSE                                 
  BEGIN
    -- BAIXANDO QTDE PARCIAL

    -- Peso Unitário
    SELECT @nPlUnitario = @nPL_ITEM / @nQT_INICIAL
    --Qt Estatística Unitário
    SELECT @nQtEstUnitario = @nQT_INICIAL_EST / @nQT_INICIAL
    --Valor Despesas Unitário
    SELECT @VlDespUnitario = @VlDespesas / @qt_total_po
    --Valor Frete Unitário
    SELECT @VlFreteUnitario = ( @VlFreteTotal / @nPL_TOTAL )

    SELECT @nQtInicial = QT_BAIXADA
    FROM   TPREPARA_PO_ITEM (NOLOCK)
    WHERE  ( NR_PROC_OLD = @nNR_PROC ) AND ( NR_ITEM_OLD = @cNrItem ) AND ( NR_PROCESSO = @NR_PROC_CONTROLE )

    -- Peso do Item Parcial
    SELECT @nPLITEM = ROUND( ( @nPlUnitario * @nQtInicial ), 5 )
    -- Qt Estatística Parcial
    SELECT @nQtInicialEst = ROUND( ( @nQtEstUnitario * @nQtInicial ), 7 )
    -- Valor Despesas Parcial
    SELECT @VlDespItem = ROUND( ( @VlDespUnitario * @nQtInicial ), 2 )
    -- Valor Frete Parcial
    SELECT @VlFreteItem = ROUND( ( @VlFreteUnitario * @nPLITEM ), 2 )

    UPDATE TPO_ITEM 
    SET    QT_BAIXADA_LI =  ( QT_BAIXADA_LI + @nQtInicial )
    WHERE  ( NR_PROCESSO = @nNR_PROC ) AND ( NR_ITEM = @cNrItem ) AND ( CD_USUARIO_MONTA = @cd_usuario )
 
    SELECT @nQtDispo = ( QT_INICIAL - ( QT_BAIXADA_DI + QT_BAIXADA_LI ) )
    FROM   TPO_ITEM  (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC ) AND ( NR_ITEM = @cNrItem ) AND ( CD_USUARIO_MONTA = @cd_usuario )

    -- DIVIDE QUANTIDADE TOTAL E MULTIPLICA QUANTIDADE BAIXADA
    SELECT @nVL_SEGURO_MOEDA = ROUND( ( @nVL_SEGURO_MOEDA / @nQT_INICIAL ) * @nQtInicial, 5 )
    SELECT @nVL_DESCONTO     = ROUND( ( @nVL_DESCONTO / @nQT_INICIAL ) * @nQtInicial, 5 )

    UPDATE TPO_ITEM 
    SET    QT_DISPONIVEL = @nQtDispo,
           QT_BAIXAR = 0
    WHERE  ( NR_PROCESSO = @nNR_PROC ) AND ( NR_ITEM = @cNrItem ) AND ( CD_USUARIO_MONTA = @cd_usuario )
    UPDATE TPREPARA_PO_ITEM 
    SET    IN_MONTADO = '1' 
    WHERE  ( NR_PROC_OLD = @nNR_PROC ) AND ( NR_ITEM_OLD = @cNrItem ) AND 
           ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( CD_USUARIO_MONTA = @cd_usuario )

    UPDATE TLICENCA_ITENS
    SET    QT_MERC_UN_COMERC = @nQtInicial,
           QT_MERC_UN_ESTAT  = @nQtInicialEst,
           VL_RAT_SEGURO     = ROUND( @nVL_SEGURO_MOEDA, 2 ),
           VL_RAT_FRETE      = ROUND( @VlFreteItem, 2 ),
           VL_RAT_DESPESA    = ROUND( @VlDespItem, 2 ),
           VL_RAT_DESCONTO   = ROUND( @nVL_DESCONTO, 2 ),
           PL_MERCADORIA     = ROUND( @nPLITEM, 5 ),
           VL_TOTAL_MLE      = ROUND( ( @nQtInicial * VL_UNIT_MLE ), 2 )
    WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ITEM = @cContador )
  END

  UPDATE TPO
  SET QT_TOTAL_DISPONIVEL = ROUND( ( SELECT SUM( ISNULL( QT_INICIAL, 0 ) - ISNULL( QT_BAIXADA_DI, 0) - ISNULL( QT_BAIXADA_LI, 0 ) )
                                     FROM   TPO_ITEM I (NOLOCK)
                                     WHERE  ( I.NR_PROCESSO = P.NR_PROCESSO ) AND ( CD_USUARIO_MONTA = @cd_usuario ) ), 5 )
  FROM  TPO P (NOLOCK)
  WHERE ( NR_PROCESSO = @nr_proc_controle ) AND ( CD_USUARIO_MONTA = @cd_usuario )

  SELECT @in_fabr_expor_imp = IN_FABR_EXPOR_IMP,
         @Exportador = CD_EXPORTADOR,
         @PaisAquisicao = CD_PAIS_AQUISICAO,
         @MoedaNeg = CD_MOEDA_NEG
  FROM   TPO (NOLOCK)
  WHERE  ( NR_PROCESSO = @nNR_PROC ) AND ( CD_USUARIO_MONTA = @cd_usuario )

  UPDATE TLICENCA_ITENS      
  SET    TX_DESC_DET_MERC = B.TX_MERCADORIA,
         CD_FABR_EXPO = @in_fabr_expor_imp,
         CD_EXPORTADOR = @Exportador,
         CD_PAIS_AQUISICAO = @PaisAquisicao
  FROM   TLICENCA_ITENS A  (NOLOCK),
         TPO_ITEM B (NOLOCK)
  WHERE  ( A.NR_PROCESSO = @NR_PROC_CONTROLE ) AND
         ( A.NR_PROC_PO  = @nNR_PROC ) AND
         ( A.NR_ITEM_PO  = @cNrItem ) AND
         ( B.NR_PROCESSO = @nNR_PROC ) AND
         ( B.NR_ITEM     = @cNrItem AND 
         ( B.CD_USUARIO_MONTA = @cd_usuario ) ) 

  UPDATE TLICENCA_IMPORTACAO
  SET    CD_MOEDA_MLE = @MoedaNeg,
         QT_TOTAL_ITEM = @cContador
  FROM   TLICENCA_IMPORTACAO (NOLOCK)
  WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE )

  SELECT @lEntrou = 1

  FETCH c_PO_ITEM 
    INTO @nNR_PROC, @nNR_ITEM, @cCD_EXPORTADOR, @cCD_FABRICANTE, @cCD_MERCADORIA, @cCD_NALADI_NCCA, @cCD_NALADI_SH,         @cCD_NCM_SH, @cCD_PAIS_AQUISICAO, @cCD_PAIS_ORIGEM, @cCD_UNID_MEDIDA, @nPL_ITEM, 
         @nQT_INICIAL, @nQT_INICIAL_EST, @nVL_UNITARIO, @nVL_TOTAL, @nVL_FRETE, @cCD_PAIS_PROCEDENCIA, 
         @nVL_SEGURO_MOEDA, @VlDespItem, @nVL_DESCONTO, @nQtDisponivel, @cNR_ATO_DRAWBACK, @NR_ITEM_CLIENTE

  IF @NR_PROC_PO_OLD <> @nNR_PROC SELECT @qt_total_processado = 0

END

CLOSE c_PO_ITEM
DEALLOCATE c_PO_ITEM

IF @lEntrou = 1
BEGIN
  DECLARE @nValor float
  DECLARE @nPeso float
  DECLARE @nQtde float

  SELECT @nValor = ROUND( ISNULL( SUM( VL_TOTAL_MLE ), 0 ), 2 ), 
         @nPeso = ROUND( ISNULL( SUM( PL_MERCADORIA ), 0 ), 2 ),
         @nQtde = ROUND( ISNULL( SUM( QT_MERC_UN_COMERC ), 0 ), 2 ),
         @VlDespesas = ROUND( ISNULL( SUM( VL_RAT_DESPESA ), 0 ), 2 )
  FROM   TLICENCA_ITENS (NOLOCK)
  WHERE  NR_PROCESSO = @nr_proc_controle

  UPDATE TLICENCA_IMPORTACAO 
  SET    VL_TOTAL_MOEDA = @nValor,
         VL_DESPESA_MOEDA = @VlDespesas,
         QT_TOTAL_PES_LIQ = @nPeso,
         QT_MED_ESTATISTICA = @nQtde,
         QT_TOTAL_ITEM = @cContador
  FROM   TLICENCA_IMPORTACAO (NOLOCK)
  WHERE  NR_PROCESSO = @nr_proc_controle

END

EXEC @erro = sp_li_calculo @nr_proc_controle

RETURN(0)







GO
