USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [sp_rel_flp_ind] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                  @cd_via_transporte char(2), @cd_contato char(3), @cd_destino char(3),
                                  @cd_faturado char(1), @dt_inicio datetime, @dt_fim datetime, 
                                  @nr_identificador int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_via_transporte char(2)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @cd_contato char(3)
DECLARE @cd_destino char(3)
DECLARE @cd_faturado char(1)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = '00006'
SELECT @cd_via_transporte = '01'
SELECT @dt_inicio = CONVERT( datetime, '01/02/2004', 103 )
SELECT @dt_fim = CONVERT( datetime, '16/07/2004', 103 )
SELECT @cd_contato = 'X'
SELECT @cd_destino = 'X'
SELECT @cd_faturado = '1'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_evento_1        datetime,
        @dt_evento_2        datetime,
        @flag_ok            char(1),
        @cd_referencia      char(18),
        @cd_referencia_book char(18),
        @nm_pais            char(30),
        @nm_area            char(20) 

SET @flag_ok = '4'

-- Eventos
SET @nr_identificador = (SELECT ISNULL(MAX(NR_IDENTIFICADOR)+1, 1) FROM TREL_FLP_IND)  

DECLARE @ev_sol_venda datetime, @ev_emi_venda datetime, @ev_sol_remes datetime, @ev_emi_remes datetime
DECLARE @ev_email_lib datetime, @ev_abert_reg datetime, @ev_rec_instr datetime, @ev_ch_ok     datetime
DECLARE @ev_ch_nc     datetime, @ev_ch_nota   datetime, @ev_sol_num   datetime, @ev_rec_num   datetime
DECLARE @ev_sol_book  datetime, @ev_conf_book datetime, @ev_dd_imo    datetime, @ev_dd_bl     datetime
DECLARE @ev_dd_carga  datetime, @ev_dd_desemb datetime, @ev_p_retcntr datetime, @ev_p_car_f   datetime
DECLARE @ev_p_term    datetime, @ev_p_embarq  datetime, @ev_p_entrega datetime, @ev_retcntr   datetime
DECLARE @ev_car_f     datetime, @ev_term      datetime, @ev_embarq    datetime, @ev_entrega   datetime
DECLARE @ev_info      datetime, @ev_inspecao  datetime, @ev_sol_fum   datetime, @ev_conf_fum  datetime
DECLARE @ev_em_docs   datetime, @ev_conf_docs datetime, @ev_cert_orig datetime, @ev_digital   datetime
DECLARE @ev_em_re     datetime, @ev_lib_re    datetime, @ev_nota      datetime, @ev_em_dde    datetime
DECLARE @ev_lib_dde   datetime, @ev_emissao   datetime, @ev_reemis    datetime, @ev_prev_che  datetime
DECLARE @ev_legal_con datetime, @ev_ret_doc   datetime, @ev_em_forma  datetime, @ev_lib_forma datetime
DECLARE @ev_aviso_em  datetime, @ev_saque_bor datetime, @ev_en_cor    datetime, @ev_rec_cor   datetime
DECLARE @ev_averbac   datetime, @ev_alt_re    datetime, @ev_env_fat   datetime, @ev_em_fat    datetime
DECLARE @ev_conf_rec  datetime

DECLARE @fev_sol_venda char(1), @fev_emi_venda char(1), @fev_sol_remes char(1), @fev_emi_remes char(1)
DECLARE @fev_email_lib char(1), @fev_abert_reg char(1), @fev_rec_instr char(1), @fev_ch_ok     char(1)
DECLARE @fev_ch_nc     char(1), @fev_ch_nota   char(1), @fev_sol_num   char(1), @fev_rec_num   char(1)
DECLARE @fev_sol_book  char(1), @fev_conf_book char(1), @fev_dd_imo    char(1), @fev_dd_bl     char(1)
DECLARE @fev_dd_carga  char(1), @fev_dd_desemb char(1), @fev_p_retcntr char(1), @fev_p_car_f   char(1)
DECLARE @fev_p_term    char(1), @fev_p_embarq  char(1), @fev_p_entrega char(1), @fev_retcntr   char(1)
DECLARE @fev_car_f     char(1), @fev_term      char(1), @fev_embarq    char(1), @fev_entrega   char(1)
DECLARE @fev_info      char(1), @fev_inspecao  char(1), @fev_sol_fum   char(1), @fev_conf_fum  char(1)
DECLARE @fev_em_docs   char(1), @fev_conf_docs char(1), @fev_cert_orig char(1), @fev_digital   char(1)
DECLARE @fev_em_re     char(1), @fev_lib_re    char(1), @fev_nota      char(1), @fev_em_dde    char(1)
DECLARE @fev_lib_dde   char(1), @fev_emissao   char(1), @fev_reemis    char(1), @fev_prev_che  char(1)
DECLARE @fev_legal_con char(1), @fev_ret_doc   char(1), @fev_em_forma  char(1), @fev_lib_forma char(1)
DECLARE @fev_aviso_em  char(1), @fev_saque_bor char(1), @fev_en_cor    char(1), @fev_rec_cor   char(1)
DECLARE @fev_averbac   char(1), @fev_alt_re    char(1), @fev_env_fat   char(1), @fev_em_fat    char(1)
DECLARE @fev_conf_rec  char(1)


DECLARE @evento_base      varchar(255)
DECLARE @evento_futuro    varchar(255)
DECLARE @evento_mesmo_dia varchar(255)

  SELECT P.NR_PROCESSO AS NR_PROCESSO, P.CD_SERVICO AS CD_SERVICO, SE.CD_EVENTO AS CD_EVENTO,
         SE.CD_EV_BASICO AS CD_EV_BASICO, SE.PZ_DO_EV_BASICO AS PZ_DO_EV_BASICO, SE.CD_EV_FUTURO AS CD_EV_FUTURO, 
         SE.PZ_ATE_EV_FUTURO AS PZ_ATE_EV_FUTURO, @dt_evento_1 AS DT_EVENTO_1 , @dt_evento_2 AS DT_EVENTO_2,
         @flag_ok AS FLAG_OK, F.DT_REALIZAÇÃO
  INTO   #TMP_PROCESSOS
  FROM   TPROCESSO P (NOLOCK)
         join TEMPRESA_NAC EN (NOLOCK) ON ( P.CD_CLIENTE = EN.CD_EMPRESA )
         join VW_SERVICO_GERAL S (NOLOCK) ON ( P.CD_SERVICO = S.CD_SERVICO )
         join TFOLLOWUP F (NOLOCK) ON ( P.NR_PROCESSO = F.NR_PROCESSO )
         left join TCLIENTE_CONTATO C (NOLOCK) ON ( P.CD_UNID_NEG = C.CD_UNID_NEG AND C.CD_PRODUTO = '02' AND P.CD_CLIENTE = C.CD_CLIENTE AND P.CD_CONTATO = C.CD_CONTATO )
         join VW_SERVICO_EVENTO_GERAL SE (NOLOCK) ON ( S.CD_SERVICO = SE.CD_SERVICO )			
  WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )
    AND  P.CD_PRODUTO = '02'
    AND  @cd_grupo IN ( EN.CD_GRUPO, 'X' )  
    AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
    AND  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim
    AND  P.IN_CANCELADO = '0'
    AND  @cd_via_transporte IN ( S.CD_VIA_TRANSPORTE, 'X' )
    AND  @cd_contato IN ( C.CD_CONTATO, 'X' )
    AND  @cd_destino IN ( P.CD_PAIS_DESTINO, 'X' )
--    AND  P.NR_PROCESSO = '0102EM-0901-04'
    AND  F.CD_EVENTO = ( SELECT CD_ITEM_DED FROM TPARAMETROS (NOLOCK) )
  ORDER BY P.NR_PROCESSO

IF @cd_faturado NOT IN ( '1', '2' ) 	-- Sim 
BEGIN
  DELETE FROM #TMP_PROCESSOS WHERE ISNULL(DT_REALIZACAO, 0) = '01/01/1900'
END
IF @cd_faturado = '1'				-- Não 
BEGIN
  DELETE FROM #TMP_PROCESSOS WHERE ISNULL(DT_REALIZACAO, 0) <> '01/01/1900'
END


--- * * * VERIFICA SE O EVENTO ESTÁ NO PRAZO E SETA A FLAG ( FLAG_OK ) PARA COR NA IMPRESSÃO * * * ---
DECLARE @nr_processo	      char(18)
DECLARE @cd_servico	      char(3)
DECLARE @cd_evento	      char(3)
DECLARE @cd_ev_basico	      char(3)
DECLARE @pz_do_ev_basico      integer
DECLARE @cd_ev_futuro	      char(3)
DECLARE @pz_ate_ev_futuro     integer
DECLARE @dt_realizacao        datetime
DECLARE @dt_realizacao_ev     datetime
DECLARE @flag_real            char(1) 


DECLARE flp_processo CURSOR FOR
	SELECT NR_PROCESSO, CD_SERVICO, CD_EVENTO, CD_EV_BASICO, PZ_DO_EV_BASICO, CD_EV_FUTURO, PZ_ATE_EV_FUTURO
        FROM #TMP_PROCESSOS

OPEN flp_processo
FETCH flp_processo INTO @nr_processo, @cd_servico, @cd_evento, @cd_ev_basico, @pz_do_ev_basico, @cd_ev_futuro, @pz_ate_ev_futuro
WHILE @@FETCH_STATUS = 0
BEGIN

  SELECT @dt_realizacao = ISNULL( DT_REALIZACAO, '' )
  FROM   TFOLLOWUP (NOLOCK)
  WHERE  NR_PROCESSO = @nr_processo
    AND  CD_EVENTO = @cd_evento 

  IF @dt_realizacao <> '01/01/1900'
  BEGIN

  -- Verifica somente os eventos que estarão no relatório - BASE
    IF @cd_evento IN ( '262', '263', '117', '280', '141', '286', '092', '287' )
    BEGIN
      SELECT @dt_realizacao_ev = ISNULL( DT_REALIZACAO, '' )
      FROM   TFOLLOWUP (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo
        AND  CD_EVENTO = @cd_ev_basico

      IF @dt_realizacao_ev <> '01/01/1900'
      BEGIN
        EXEC sp_dias_uteis_flp @dt_realizacao_ev, @dt_realizacao, @pz_do_ev_basico, '1', @flag_real OUTPUT
        UPDATE #TMP_PROCESSOS
        SET    FLAG_OK = @flag_real,
               DT_EVENTO_1 = @dt_realizacao,
               DT_EVENTO_2 = @dt_realizacao_ev           
        WHERE  NR_PROCESSO = @nr_processo
          AND  CD_SERVICO = @cd_servico
          AND  CD_EVENTO = @cd_evento
      END	
      ELSE
      BEGIN
        UPDATE #TMP_PROCESSOS
        SET    FLAG_OK = 2,
               DT_EVENTO_1 = @dt_realizacao,
               DT_EVENTO_2 = @dt_realizacao_ev           
        WHERE  NR_PROCESSO = @nr_processo
          AND  CD_SERVICO = @cd_servico
          AND  CD_EVENTO = @cd_evento
      END
    END


    -- Verifica somente os eventos que estarão no relatório - MESMO DIA
    -- Apesar de ser no mesmo dia utiliza o evento/prazo BASE para fazer os cálculos
    IF @cd_evento IN ( '120', '264', '266', '268', '118', '123', '282', '135', '143', '145', '283', '284', '285', '181' )
    BEGIN
      SELECT @dt_realizacao_ev = ISNULL( DT_REALIZACAO, '' )
      FROM   TFOLLOWUP (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo
        AND  CD_EVENTO = @cd_ev_basico

      IF @dt_realizacao_ev <> '01/01/1900'
      BEGIN
        EXEC sp_dias_uteis_flp @dt_realizacao_ev, @dt_realizacao, @pz_do_ev_basico, '2', @flag_real OUTPUT
        UPDATE #TMP_PROCESSOS
        SET    FLAG_OK = @flag_real,
               DT_EVENTO_1 = @dt_realizacao,                
               DT_EVENTO_2 = @dt_realizacao_ev           
        WHERE  NR_PROCESSO = @nr_processo
          AND  CD_SERVICO = @cd_servico
          AND  CD_EVENTO = @cd_evento
      END
      ELSE
      BEGIN
        UPDATE #TMP_PROCESSOS
        SET    FLAG_OK = 2,
               DT_EVENTO_1 = @dt_realizacao,                
               DT_EVENTO_2 = @dt_realizacao_ev           
        WHERE  NR_PROCESSO = @nr_processo
          AND  CD_SERVICO = @cd_servico
          AND  CD_EVENTO = @cd_evento
      END
    END

    -- Verifica somente os eventos que estarão no relatório - FUTURO
    IF @cd_evento IN ( '113', '003', '267', '130', '270', '271', '272', '273', '274', '275', '277', '188', '189', '115', '278', '279', '121', '122', '235', '124', '088', '133', '140' )
    BEGIN
      SELECT @dt_realizacao_ev = ISNULL( DT_REALIZACAO, '' )
      FROM   TFOLLOWUP (NOLOCK)
      WHERE  NR_PROCESSO = @nr_processo
        AND  CD_EVENTO = @cd_ev_basico

      IF @dt_realizacao_ev <> '01/01/1900'
      BEGIN
        EXEC sp_dias_uteis_flp @dt_realizacao, @dt_realizacao_ev, @pz_do_ev_basico, '2', @flag_real OUTPUT
        UPDATE #TMP_PROCESSOS
        SET    FLAG_OK = @flag_real,
               DT_EVENTO_1 = @dt_realizacao,                
               DT_EVENTO_2 = @dt_realizacao_ev           
        WHERE  NR_PROCESSO = @nr_processo
          AND  CD_SERVICO = @cd_servico
          AND  CD_EVENTO = @cd_evento
      END
      ELSE
      BEGIN
        UPDATE #TMP_PROCESSOS
        SET    FLAG_OK = 2,	-- QDO = 2, SIGNIFICA QUE EU NÃO TENHO COMO MEDIR O EVENTO PQ A DT BASE/FUTURO NÃO ESTÁ PREENCHIDA
               DT_EVENTO_1 = @dt_realizacao,                
               DT_EVENTO_2 = @dt_realizacao_ev           
        WHERE  NR_PROCESSO = @nr_processo
          AND  CD_SERVICO = @cd_servico
          AND  CD_EVENTO = @cd_evento
      END
    END

    -- Eventos que não são medidos mas devem aparecer - a data - na planilha
    IF @cd_evento IN ( '251', '252', '119', '265', '269', '131', '276', '132', '260', '136', '204', '281', '214', '217' )
    BEGIN
      UPDATE #TMP_PROCESSOS
      SET    FLAG_OK = 5,
             DT_EVENTO_1 = @dt_realizacao                
       WHERE  NR_PROCESSO = @nr_processo
         AND  CD_SERVICO = @cd_servico
         AND  CD_EVENTO = @cd_evento
    END

  END

  FETCH flp_processo INTO @nr_processo, @cd_servico, @cd_evento, @cd_ev_basico, @pz_do_ev_basico, @cd_ev_futuro, @pz_ate_ev_futuro
END

CLOSE flp_processo
DEALLOCATE flp_processo

-- Exclui os registros com eventos que não aparecerão no relatório ou que a data do evento = NULL
DELETE FROM #TMP_PROCESSOS WHERE FLAG_OK = '4'

DECLARE @nr_processo_unico char(18)

-- Cursor para processos
DECLARE flp_proc CURSOR FOR
	SELECT DISTINCT NR_PROCESSO
        FROM #TMP_PROCESSOS

OPEN flp_proc
FETCH flp_proc INTO @nr_processo_unico
WHILE @@FETCH_STATUS = 0
BEGIN

  -- Cursor para eventos
  DECLARE processo CURSOR FOR
	  SELECT NR_PROCESSO, CD_SERVICO, CD_EVENTO, DT_EVENTO_1, FLAG_OK
          FROM #TMP_PROCESSOS
          WHERE NR_PROCESSO = @nr_processo_unico

  OPEN processo
  FETCH processo INTO @nr_processo, @cd_servico, @cd_evento, @dt_evento_1, @flag_ok
  WHILE @@FETCH_STATUS = 0
  BEGIN
  IF @cd_evento IN ( '251', '262', '252', '263', '113', '003', '119', '120', '264', '265', '266', '267', '268', '269', '130' )
    BEGIN
    IF @cd_evento = '251'
    BEGIN
      SET @ev_sol_venda = @dt_evento_1
      SET @fev_sol_venda = @flag_ok
    END
    IF @cd_evento = '262'
    BEGIN
      SET @ev_emi_venda = @dt_evento_1
      SET @fev_emi_venda = @flag_ok
    END 
    ELSE
    IF @cd_evento = '252'
    BEGIN
      SET @ev_sol_remes = @dt_evento_1
      SET @fev_sol_remes = @flag_ok
    END 
    IF @cd_evento = '263'
    BEGIN
      SET @ev_emi_remes = @dt_evento_1
      SET @fev_emi_remes = @flag_ok
    END 
    IF @cd_evento = '113'
    BEGIN
      SET @ev_email_lib = @dt_evento_1
      SET @fev_email_lib = @flag_ok
    END 
    IF @cd_evento = '003'
    BEGIN
      SET @ev_abert_reg = @dt_evento_1
      SET @fev_abert_reg = @flag_ok
    END 
    IF @cd_evento = '119'
    BEGIN
      SET @ev_rec_instr = @dt_evento_1
      SET @fev_rec_instr = @flag_ok
    END 
    IF @cd_evento = '120'
    BEGIN
      SET @ev_ch_ok = @dt_evento_1
      SET @fev_ch_ok = @flag_ok
    END 
    IF @cd_evento = '264'
    BEGIN
      SET @ev_ch_nc = @dt_evento_1
      SET @fev_ch_nc = @flag_ok
    END 
    IF @cd_evento = '265'
    BEGIN
      SET @ev_ch_nota = @dt_evento_1
      SET @fev_ch_nota = @flag_ok
    END 
    IF @cd_evento = '266'
    BEGIN
      SET @ev_sol_num = @dt_evento_1
      SET @fev_sol_num = @flag_ok
    END 
    IF @cd_evento = '267'
    BEGIN
      SET @ev_rec_num = @dt_evento_1
      SET @fev_rec_num = @flag_ok
    END 
    IF @cd_evento = '268'
    BEGIN
      SET @ev_sol_book = @dt_evento_1
      SET @fev_sol_book = @flag_ok
    END 
    IF @cd_evento = '269'
    BEGIN
      SET @ev_conf_book = @dt_evento_1
      SET @fev_conf_book = @flag_ok
    END 
    IF @cd_evento = '130'
    BEGIN
      SET @ev_dd_imo = @dt_evento_1
      SET @fev_dd_imo = @flag_ok
    END 
  END
  ELSE
  BEGIN
  IF @cd_evento IN ( '270', '271', '272', '273', '274', '275', '131', '276', '277', '188', '189', '132', '260', '136', '115' )
  BEGIN
    IF @cd_evento = '270'
    BEGIN
      SET @ev_dd_bl = @dt_evento_1
      SET @fev_dd_bl = @flag_ok
    END 
    IF @cd_evento = '271'
    BEGIN
      SET @ev_dd_carga = @dt_evento_1
      SET @fev_dd_carga = @flag_ok
    END 
    IF @cd_evento = '272'
    BEGIN
      SET @ev_dd_desemb = @dt_evento_1
      SET @fev_dd_desemb = @flag_ok
    END 
    IF @cd_evento = '273'
    BEGIN
      SET @ev_p_retcntr = @dt_evento_1
      SET @fev_p_retcntr = @flag_ok
    END 
    IF @cd_evento = '274'
    BEGIN
      SET @ev_p_car_f = @dt_evento_1
      SET @fev_p_car_f = @flag_ok
    END 
    IF @cd_evento = '275'
    BEGIN
      SET @ev_p_term = @dt_evento_1
      SET @fev_p_term = @flag_ok
    END 
    IF @cd_evento = '131'
    BEGIN
      SET @ev_p_embarq = @dt_evento_1
      SET @fev_p_embarq = @flag_ok
    END 
    IF @cd_evento = '276'
    BEGIN
      SET @ev_p_entrega = @dt_evento_1
      SET @fev_p_entrega = @flag_ok
    END 
    IF @cd_evento = '277'
    BEGIN
      SET @ev_retcntr = @dt_evento_1
      SET @fev_retcntr = @flag_ok
    END 
    IF @cd_evento = '188'
    BEGIN
      SET @ev_car_f = @dt_evento_1
      SET @fev_car_f = @flag_ok
    END 
    IF @cd_evento = '189'
    BEGIN
      SET @ev_term = @dt_evento_1
      SET @fev_term = @flag_ok
    END 
    IF @cd_evento = '132'
    BEGIN
      SET @ev_embarq = @dt_evento_1
      SET @fev_embarq = @flag_ok
    END 
    IF @cd_evento = '260'
    BEGIN
      SET @ev_entrega = @dt_evento_1
      SET @fev_entrega = @flag_ok
    END 
    IF @cd_evento = '136'
    BEGIN
      SET @ev_info = @dt_evento_1
      SET @fev_info = @flag_ok
    END 
    IF @cd_evento = '115'
    BEGIN
      SET @ev_inspecao = @dt_evento_1
      SET @fev_inspecao = @flag_ok
    END 
  END
  END

  IF @cd_evento IN ( '278', '279', '117', '280', '118', '123', '121', '122', '235', '124', '088', '133', '204', '281', '282' )
  BEGIN
    IF @cd_evento = '278'
    BEGIN
      SET @ev_sol_fum = @dt_evento_1
      SET @fev_sol_fum = @flag_ok
    END 
    IF @cd_evento = '279'
    BEGIN
      SET @ev_conf_fum = @dt_evento_1
      SET @fev_conf_fum = @flag_ok
    END 
    IF @cd_evento = '117'
    BEGIN
      SET @ev_em_docs = @dt_evento_1
      SET @fev_em_docs = @flag_ok
    END 
    IF @cd_evento = '280'
    BEGIN
      SET @ev_conf_docs = @dt_evento_1
      SET @fev_conf_docs = @flag_ok
    END 
    IF @cd_evento = '118'
    BEGIN
      SET @ev_cert_orig = @dt_evento_1
      SET @fev_cert_orig = @flag_ok
    END 
    IF @cd_evento = '123'
    BEGIN
      SET @ev_digital = @dt_evento_1
      SET @fev_digital = @flag_ok
    END 
    IF @cd_evento = '121'
    BEGIN
      SET @ev_em_re = @dt_evento_1
      SET @fev_em_re = @flag_ok
    END 
    IF @cd_evento = '122'
    BEGIN
      SET @ev_lib_re = @dt_evento_1
      SET @fev_lib_re = @flag_ok
    END 
    IF @cd_evento = '235'
    BEGIN
      SET @ev_nota = @dt_evento_1
      SET @fev_nota = @flag_ok
    END 
    IF @cd_evento = '124'
    BEGIN
      SET @ev_em_dde = @dt_evento_1
      SET @fev_em_dde = @flag_ok
    END 
    IF @cd_evento = '088'
    BEGIN
      SET @ev_lib_dde = @dt_evento_1
      SET @fev_lib_dde = @flag_ok
    END 
    IF @cd_evento = '133'
    BEGIN
      SET @ev_emissao = @dt_evento_1
      SET @fev_emissao = @flag_ok
    END 
    IF @cd_evento = '204'
    BEGIN
      SET @ev_reemis = @dt_evento_1
      SET @fev_reemis = @flag_ok
    END 
    IF @cd_evento = '281'
    BEGIN
      SET @ev_prev_che = @dt_evento_1
      SET @fev_prev_che = @flag_ok
    END 
    IF @cd_evento = '282'
    BEGIN
      SET @ev_legal_con = @dt_evento_1
      SET @fev_legal_con = @flag_ok
    END 
  END
  ELSE 
  BEGIN
  IF @cd_evento IN ( '135', '143', '145', '283', '284', '285', '181', '140', '214', '141', '217', '286', '092', '287' )
  BEGIN
-- ATENÇÃO EVENTO 135/143/145
    IF @cd_evento = '135'
    BEGIN
      SET @ev_ret_doc = @dt_evento_1
      SET @fev_ret_doc = @flag_ok
    END 
    IF @cd_evento = '143'
    BEGIN
      SET @ev_ret_doc = @dt_evento_1
      SET @fev_ret_doc = @flag_ok
    END 
    IF @cd_evento = '145'
    BEGIN
      SET @ev_ret_doc = @dt_evento_1
      SET @fev_ret_doc = @flag_ok
    END 
    IF @cd_evento = '283'
    BEGIN
      SET @ev_em_forma = @dt_evento_1
      SET @fev_em_forma = @flag_ok
    END 
    IF @cd_evento = '284'
    BEGIN
      SET @ev_lib_forma = @dt_evento_1
      SET @fev_lib_forma = @flag_ok
    END 
    IF @cd_evento = '285'
    BEGIN
      SET @ev_aviso_em = @dt_evento_1
      SET @fev_aviso_em = @flag_ok
    END 
    IF @cd_evento = '181'
    BEGIN
      SET @ev_saque_bor = @dt_evento_1
      SET @fev_saque_bor = @flag_ok
    END 
    IF @cd_evento = '140'
    BEGIN
      SET @ev_en_cor = @dt_evento_1
      SET @fev_en_cor = @flag_ok
    END 
    IF @cd_evento = '214'
    BEGIN
      SET @ev_rec_cor = @dt_evento_1
      SET @fev_rec_cor = @flag_ok
    END 
    IF @cd_evento = '141'
    BEGIN
      SET @ev_averbac = @dt_evento_1
      SET @fev_averbac = @flag_ok
    END 
    IF @cd_evento = '217'
    BEGIN
      SET @ev_alt_re = @dt_evento_1
      SET @fev_alt_re = @flag_ok
    END 
    IF @cd_evento = '286'
    BEGIN
      SET @ev_env_fat = @dt_evento_1
      SET @fev_env_fat = @flag_ok
    END 
    IF @cd_evento = '092'
    BEGIN
      SET @ev_em_fat = @dt_evento_1
      SET @fev_em_fat = @flag_ok
    END 
    IF @cd_evento = '287'
    BEGIN
      SET @ev_conf_rec = @dt_evento_1
      SET @fev_conf_rec = @flag_ok
    END 
  END
  END

    FETCH processo INTO @nr_processo, @cd_servico, @cd_evento, @dt_evento_1, @flag_ok
  END
  CLOSE processo
  DEALLOCATE processo

  -- Pega a referência do processo na TREF_CLIENTE. Pega a referência do tipo remessa (03), se não existir pega
  -- referência do tipo pedido (01), se não existir a referência fica vazia
  IF ( SELECT COUNT(NR_PROCESSO)
       FROM   TREF_CLIENTE (NOLOCK)
       WHERE  NR_PROCESSO = @nr_processo_unico
       AND  TP_REFERENCIA = '03' ) > 0
  BEGIN
    SELECT @cd_referencia = ISNULL( MAX( CD_REFERENCIA ), '' )
    FROM   TREF_CLIENTE (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo_unico
    AND  TP_REFERENCIA = '03'   -- REMESSA
  END      
  ELSE
  BEGIN
    SELECT @cd_referencia = ISNULL( MAX( CD_REFERENCIA ), '' )
    FROM   TREF_CLIENTE (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo_unico
    AND  TP_REFERENCIA = '01' 	-- PEDIDO
  END

  -- Pega a referência BOOKING do cliente
  SELECT @cd_referencia_book = ISNULL( MAX( CD_REFERENCIA ), '' )
    FROM   TREF_CLIENTE (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo_unico
    AND  TP_REFERENCIA = '05' 	-- BOOKING

  -- Seleciona o País Destino do Processo
  SET @nm_pais = ''
  SELECT @nm_pais = ISNULL( SUBSTRING( PA.DESCRICAO, 1, 30 ), '' )
    FROM TPROCESSO P (NOLOCK)
         INNER JOIN TPAIS PA (NOLOCK) ON ( P.CD_PAIS_DESTINO = PA.CODIGO ) 
   WHERE P.NR_PROCESSO = @nr_processo_unico

  -- Seleciona a área do Processo
  SELECT @nm_area = ''
  SELECT @nm_area = ISNULL( SUBSTRING( NM_AREA, 1, 20 ), '' )
    FROM TPROCESSO P (NOLOCK)
         INNER JOIN TAREA A (NOLOCK) ON ( P.CD_AREA = A.CD_AREA )
   WHERE NR_PROCESSO = @nr_processo_unico

INSERT  TREL_FLP_IND ( NR_IDENTIFICADOR, NR_PROCESSO, NR_PROCESSO_PO, NR_PROCESSO_PO_BOOK, NM_PAIS_DESTINO,
         NM_AREA, CD_SERVICO, NM_ARMADOR, NM_CONHECIMENTO, 
         FLAG_DT_SOLIC_ORD_VENDA, DT_SOLIC_ORD_VENDA, FLAG_DT_EMISSAO_ORD_VENDA, DT_EMISSAO_ORD_VENDA,
         FLAG_DT_SOLIC_ORD_REMESSA, DT_SOLIC_ORD_REMESSA, FLAG_DT_EMISSAO_ORD_REMESSA, DT_EMISSAO_ORD_REMESSA, 
         FLAG_DT_EMAIL_LIB, DT_EMAIL_LIB, FLAG_DT_ABERTURA, DT_ABERTURA, FLAG_DT_RECEB_INST_EMB, DT_RECEB_INST_EMB, 
         FLAG_DT_CK_LIST_OK, DT_CK_LIST_OK, FLAG_DT_CK_LIST_NC, DT_CK_LIST_NC, FLAG_DT_CK_LIST_NOTA, DT_CK_LIST_NOTA, 			
	 FLAG_DT_SOLIC_NUM, DT_SOLIC_NUM, FLAG_DT_RECEB_NUM, DT_RECEB_NUM, FLAG_DT_SOLIC_BOOKING, DT_SOLIC_BOOKING,
         FLAG_DT_CONF_BOOKING, DT_CONF_BOOKING, FLAG_DT_DEAD_LINE_IMO, DT_DEAD_LINE_IMO, FLAG_DT_DEAD_LINE_BL, DT_DEAD_LINE_BL, 
         FLAG_DT_DEAD_LINE_CARGA, DT_DEAD_LINE_CARGA, FLAG_DT_DEAD_LINE_DESEMB, DT_DEAD_LINE_DESEMB, 
         FLAG_DT_PROG_RET_CNTR_VAZIO, DT_PROG_RET_CNTR_VAZIO, FLAG_DT_PROG_CARREG_FABRICA, DT_PROG_CARREG_FABRICA, 
         FLAG_DT_PROG_ENTREGA_TERM, DT_PROG_ENTREGA_TERM, FLAG_DT_PROG_PREV_EMB_CARREG, DT_PROG_PREV_EMB_CARREG, 
         FLAG_DT_PROG_ENTREGA, DT_PROG_ENTREGA, FLAG_DT_ATUAL_RET_CNTR_VAZIO, DT_ATUAL_RET_CNTR_VAZIO,
         FLAG_DT_ATUAL_CARREG_FABRICA, DT_ATUAL_CARREG_FABRICA, FLAG_DT_ATUAL_ENTREGA_TERM, DT_ATUAL_ENTREGA_TERM, 
         FLAG_DT_ATUAL_EMB_CARREG, DT_ATUAL_EMB_CARREG, FLAG_DT_ATUAL_ENTREGA, DT_ATUAL_ENTREGA, FLAG_DT_ENV_INFO_CLI, DT_ENV_INFO_CLI, 
         FLAG_DT_INSPECAO_EMB, DT_INSPECAO_EMB, FLAG_DT_SOLIC_FUMIG, DT_SOLIC_FUMIG, FLAG_DT_CONF_FUMIG, DT_CONF_FUMIG, 			
	 FLAG_DT_EMISSAO_CONFEC_DOCS, DT_EMISSAO_CONFEC_DOCS, FLAG_DT_CONF_CONFEC_DOCS, DT_CONF_CONFEC_DOCS, 
         FLAG_DT_CERT_ORIGEM, DT_CERT_ORIGEM, FLAG_DT_DIGITALIZACAO, DT_DIGITALIZACAO, FLAG_DT_EMISSAO_RE, DT_EMISSAO_RE, 
         FLAG_DT_LIB_RE, DT_LIB_RE, FLAG_DT_RECEB_NF, DT_RECEB_NF, FLAG_DT_EMISSAO_DDE, DT_EMISSAO_DDE, FLAG_DT_LIB_DDE, DT_LIB_DDE, 
         FLAG_DT_EMISSAO_DOCS, DT_EMISSAO_DOCS, FLAG_DT_REEMISSAO_DOCS, DT_REEMISSAO_DOCS, FLAG_DT_PREV_CHEGADA_DEST, DT_PREV_CHEGADA_DEST, 
         FLAG_DT_LEGAL_CONSUL, DT_LEGAL_CONSUL, FLAG_DT_RET_REC_DOCS, DT_RET_REC_DOCS, FLAG_DT_EMISSAO_FORM_A, DT_EMISSAO_FORM_A, 
	 FLAG_DT_LIB_FORM_A, DT_LIB_FORM_A, FLAG_DT_AVISO_EMB_CLI, DT_AVISO_EMB_CLI, FLAG_DT_SAQUE_BORDERO, DT_SAQUE_BORDERO, 
         FLAG_DT_ENVIO_COURRIER, DT_ENVIO_COURRIER, FLAG_DT_RECEB_COURRIER, DT_RECEB_COURRIER, FLAG_DT_AVERBACAO, DT_AVERBACAO, 
         FLAG_DT_ALT_RE, DT_ALT_RE, FLAG_DT_ENVIO_FAT, DT_ENVIO_FAT, FLAG_DT_EMISSAO_FAT, DT_EMISSAO_FAT, FLAG_DT_CONF_FAT, DT_CONF_FAT )							

SELECT @nr_identificador, @nr_processo_unico, @cd_referencia, @cd_referencia_book, @nm_pais, @nm_area, P.CD_SERVICO,
       CASE S.CD_VIA_TRANSPORTE
         WHEN '01' THEN	( SELECT ISNULL( TG.NM_AGENTE, '' ) FROM TAGENTE TG (NOLOCK) WHERE TG.CD_AGENTE = P.CD_AGENTE )			-- MARÍTIMA
         WHEN '04' THEN	( SELECT ISNULL( TA.NM_AGENTE, '' ) FROM TAGENTE TA (NOLOCK) WHERE TA.CD_AGENTE = P.CD_AGENTE )			-- AÉREA         WHEN '07' THEN	( SELECT ISNULL( TR.NM_TRANSP_ROD, '' ) FROM TTRANSP_ROD TR (NOLOCK) WHERE TR.CD_TRANSP_ROD = P.CD_TRANSP_NAC )	-- RODOVIÁRIA
         ELSE '-'
       END AS NM_ARMADOR,
       CASE S.CD_VIA_TRANSPORTE
         WHEN '01' THEN	( SELECT ISNULL( EM.NM_EMBARCACAO, '' ) FROM TEMBARCACAO EM (NOLOCK) WHERE EM.CD_EMBARCACAO = P.CD_EMBARCACAO )	-- MARÍTIMA
         WHEN '04' THEN	P.NR_VOO			-- AÉREA
         WHEN '07' THEN	P.NR_CAMINHAO			-- RODOVIÁRIA
         ELSE '-'
       END AS NM_CONHECIMENTO,
       @fev_sol_venda, @ev_sol_venda, @fev_emi_venda, @ev_emi_venda, 
       @fev_sol_remes, @ev_sol_remes, @fev_emi_remes, @ev_emi_remes,
       @fev_email_lib, @ev_email_lib, @fev_abert_reg, @ev_abert_reg, @fev_rec_instr, @ev_rec_instr,
       @fev_ch_ok, @ev_ch_ok, @fev_ch_nc, @ev_ch_nc, @fev_ch_nota, @ev_ch_nota, 
       @fev_sol_num, @ev_sol_num, @fev_rec_num, @ev_rec_num, @fev_sol_book, @ev_sol_book,
       @fev_conf_book, @ev_conf_book, @fev_dd_imo, @ev_dd_imo, @fev_dd_bl, @ev_dd_bl,
       @fev_dd_carga, @ev_dd_carga, @fev_dd_desemb, @ev_dd_desemb, 
       @fev_p_retcntr, @ev_p_retcntr, @fev_p_car_f, @ev_p_car_f,
       @fev_p_term, @ev_p_term, @fev_p_embarq, @ev_p_embarq, 
       @fev_p_entrega, @ev_p_entrega, @fev_retcntr, @ev_retcntr,
       @fev_car_f, @ev_car_f, @fev_term, @ev_term,
       @fev_embarq, @ev_embarq, @fev_entrega, @ev_entrega, @fev_info, @ev_info,
       @fev_inspecao, @ev_inspecao, @fev_sol_fum, @ev_sol_fum, @fev_conf_fum, @ev_conf_fum,
       @fev_em_docs, @ev_em_docs, @fev_conf_docs, @ev_conf_docs,
       @fev_cert_orig, @ev_cert_orig, @fev_digital, @ev_digital, @fev_em_re, @ev_em_re,
       @fev_lib_re, @ev_lib_re, @fev_nota, @ev_nota, @fev_em_dde, @ev_em_dde, @fev_lib_dde, @ev_lib_dde,
       @fev_emissao, @ev_emissao, @fev_reemis, @ev_reemis, @fev_prev_che, @ev_prev_che,
       @fev_legal_con, @ev_legal_con, @fev_ret_doc, @ev_ret_doc, @fev_em_forma, @ev_em_forma, 
       @fev_lib_forma, @ev_lib_forma, @fev_aviso_em, @ev_aviso_em, @fev_saque_bor, @ev_saque_bor, 
       @fev_en_cor, @ev_en_cor, @fev_rec_cor, @ev_rec_cor, @fev_averbac, @ev_averbac, 
       @fev_alt_re, @ev_alt_re, @fev_env_fat, @ev_env_fat, @fev_em_fat, @ev_em_fat, @fev_conf_rec, @ev_conf_rec
FROM   TPROCESSO P (NOLOCK)
       join VW_SERVICO_GERAL S (NOLOCK) ON ( P.CD_SERVICO = S.CD_SERVICO )
WHERE  P.NR_PROCESSO = @nr_processo_unico


       SET @fev_sol_venda = '1' SET @ev_sol_venda = NULL SET @fev_emi_venda = '1' SET @ev_emi_venda = NULL 
       SET @fev_sol_remes = '1' SET @ev_sol_remes = NULL SET @fev_emi_remes = '1' SET @ev_emi_remes = NULL
       SET @fev_email_lib = '1' SET @ev_email_lib = NULL SET @fev_abert_reg = '1' SET @ev_abert_reg = NULL
       SET @fev_rec_instr = '1' SET @ev_rec_instr = NULL SET @fev_ch_ok = '1'     SET @ev_ch_ok = NULL
       SET @fev_ch_nc = '1'     SET @ev_ch_nc = NULL     SET @fev_ch_nota = '1'   SET @ev_ch_nota = NULL
       SET @fev_sol_num = '1'   SET @ev_sol_num = NULL   SET @fev_rec_num = '1'   SET @ev_rec_num = NULL
       SET @fev_sol_book = '1'  SET @ev_sol_book = NULL  SET @fev_conf_book = '1' SET @ev_conf_book = NULL
       SET @fev_dd_imo = '1'    SET @ev_dd_imo = NULL    SET @fev_dd_bl = '1'     SET @ev_dd_bl = NULL
       SET @fev_dd_carga = '1'  SET @ev_dd_carga = NULL  SET @fev_dd_desemb = '1' SET @ev_dd_desemb = NULL
       SET @fev_p_retcntr = '1' SET @ev_p_retcntr = NULL SET @fev_p_car_f = '1'   SET @ev_p_car_f = NULL
       SET @fev_p_term = '1'    SET @ev_p_term = NULL    SET @fev_p_embarq = '1'  SET @ev_p_embarq = NULL
       SET @fev_p_entrega = '1' SET @ev_p_entrega = NULL SET @fev_retcntr = '1'   SET @ev_retcntr = NULL
       SET @fev_car_f = '1'     SET @ev_car_f = NULL     SET @fev_term = '1'      SET @ev_term = NULL
       SET @fev_embarq = '1'    SET @ev_embarq = NULL    SET @fev_entrega = '1'   SET @ev_entrega = NULL
       SET @fev_info = '1'      SET @ev_info = NULL      SET @fev_inspecao = '1'  SET @ev_inspecao = NULL
       SET @fev_sol_fum = '1'   SET @ev_sol_fum = NULL   SET @fev_conf_fum = '1'  SET @ev_conf_fum = NULL
       SET @fev_em_docs = '1'   SET @ev_em_docs = NULL   SET @fev_conf_docs = '1' SET @ev_conf_docs = NULL
       SET @fev_cert_orig = '1' SET @ev_cert_orig = NULL SET @fev_digital = '1'   SET @ev_digital = NULL
       SET @fev_em_re = '1'     SET @ev_em_re = NULL     SET @fev_lib_re = '1'    SET @ev_lib_re = NULL
       SET @fev_nota = '1'      SET @ev_nota = NULL      SET @fev_em_dde = '1'    SET @ev_em_dde = NULL
       SET @fev_lib_dde = '1'   SET @ev_lib_dde = NULL   SET @fev_emissao = '1'   SET @ev_emissao = NULL
       SET @fev_reemis = '1'    SET @ev_reemis = NULL    SET @fev_prev_che = '1'  SET @ev_prev_che = NULL
       SET @fev_legal_con = '1' SET @ev_legal_con = NULL SET @fev_ret_doc = '1'   SET @ev_ret_doc = NULL
       SET @fev_em_forma = '1'  SET @ev_em_forma = NULL  SET @fev_lib_forma = '1' SET @ev_lib_forma = NULL
       SET @fev_aviso_em = '1'  SET @ev_aviso_em = NULL  SET @fev_saque_bor = '1' SET @ev_saque_bor = NULL
       SET @fev_en_cor = '1'    SET @ev_en_cor = NULL    SET @fev_rec_cor = '1'   SET @ev_rec_cor = NULL
       SET @fev_averbac = '1'   SET @ev_averbac = NULL   SET @fev_alt_re = '1'    SET @ev_alt_re = NULL
       SET @fev_env_fat = '1'   SET @ev_env_fat = NULL   SET @fev_em_fat = '1'    SET @ev_em_fat = NULL
       SET @fev_conf_rec = '1'  SET @ev_conf_rec = NULL

  FETCH flp_proc INTO @nr_processo_unico
END
CLOSE flp_proc
DEALLOCATE flp_proc

DROP TABLE #TMP_PROCESSOS








GO
