USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [sp_calc_dt_demurrage] ( @nr_processo char(18), @nr_cntr char(20),   
                                        @dt_demurrage datetime OUTPUT ) AS  
  
/*  
SET XACT_ABORT ON  
BEGIN TRAN  
  
DECLARE @nr_processo  char(18)  
DECLARE @nr_cntr      char(20)  
DECLARE @dt_demurrage datetime  
  
SELECT @nr_processo = '0101im-1229-10'  
SELECT @nr_cntr = 'SUDU1834331'
  
*/  
DECLARE @dt_realizacao     datetime  
DECLARE @dt_ent            datetime  
DECLARE @dt_devolucao_cntr datetime  
DECLARE @dt_inicio         datetime  
DECLARE @dt_fim            datetime  
DECLARE @dt_temp           datetime  
DECLARE @nr_free_time      int  
DECLARE @nr_dias           int  
DECLARE @tp_dias           char(1) 

SELECT @dt_realizacao = DT_REALIZACAO 
FROM   TFOLLOWUP  
WHERE  NR_PROCESSO = @nr_processo   
and CD_EVENTO = '162' 
  
SELECT @dt_ent = DT_ENT,  
       @dt_devolucao_cntr = DT_DEVOLUCAO_CNTR,  
       @nr_free_time = NR_FREE_TIME,  
       @tp_dias = TP_DIAS  
FROM   TPROCESSO_CNTR  
WHERE  NR_PROCESSO = @nr_processo AND  
       NR_CNTR = @nr_cntr  
  
IF @dt_devolucao_cntr IS NULL  
BEGIN  
  SELECT @dt_inicio = @dt_ent  
  SELECT @dt_fim    = CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )  
END  
ELSE  
BEGIN  
  SELECT @dt_inicio = @dt_ent  
  SELECT @dt_fim    = @dt_devolucao_cntr  
END  
  
IF @dt_inicio > @dt_fim  
  print 0  
  
-- Calculando Dt. da Demurrage  
SELECT @nr_dias = 0  
SELECT @dt_temp = @dt_realizacao
SELECT @dt_demurrage = @dt_realizacao 

IF @dt_realizacao IS NULL
BEGIN
 SELECT @dt_demurrage = NULL 
END
ELSE
BEGIN
 WHILE @NR_DIAS <> @NR_FREE_TIME  
 BEGIN  
   IF @TP_DIAS = '2'  
   BEGIN  
     IF ( DATEPART( DW, @DT_TEMP ) NOT IN ( 1, 7 ) ) AND -- SBADO E DOMINGO  
        @DT_TEMP NOT IN ( SELECT DT_FERIADO  
                          FROM   TFERIADO ) -- FERIADO  
        SELECT @NR_DIAS = @NR_DIAS + 1   
   END  
   ELSE  
   BEGIN  
     SELECT @NR_DIAS = @NR_DIAS + 1   
   END  
    
   SELECT @DT_TEMP = @DT_TEMP + 1  
 END  
  
 SELECT @dt_demurrage = @dt_temp - 1  
  
 IF @nr_free_time IS NULL  
   SELECT @dt_demurrage = NULL
END    
 
--Atualizar data demurrage

--print @dt_demurrage
UPDATE TPROCESSO_CNTR SET DT_DEMURRAGE= @dt_demurrage WHERE NR_PROCESSO=@nr_processo and NR_CNTR = @nr_cntr

--ROLLBACK TRAN  
--SET XACT_ABORT OFF  
GO
