USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [sp_pe_monta_exp]( @nr_proc_controle char(18), @cd_unid_neg char(2) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_proc_controle char(18)
DECLARE @cd_unid_neg char(2)

SELECT @nr_proc_controle = '0102EM-1539-02'
SELECT @cd_unid_neg = '01'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_proc char(18)

-- CAPA
DECLARE @cd_exportador char(5)
DECLARE @cd_importador char(5)
DECLARE @cd_despachante char(3)
DECLARE @cd_agente char(4)
DECLARE @cd_incoterm char(3)
DECLARE @cd_pais char(3)
DECLARE @cd_pais_destino char(3)
DECLARE @cd_moeda char(3)
DECLARE @cd_via_transporte char(2)
DECLARE @cd_seguradora char(5)
DECLARE @cd_representante char(5)
DECLARE @cd_local_origem char(4)
DECLARE @cd_local_destino char(4)
DECLARE @cd_urf_despacho char(7)
DECLARE @cd_urf_destino char(7)
DECLARE @cd_termo_pagto char(6)
DECLARE @cd_forma_pagto char(1)
DECLARE @cd_lingua_pedido char(1)
DECLARE @cd_tipo_frete char(1)
DECLARE @cd_usuario char(4)
DECLARE @cd_carta_credito char(15)
DECLARE @cd_inst_negoc char(5)
DECLARE @cd_consignatario char(5)
DECLARE @cd_notify1 char(5)
DECLARE @cd_notify2 char(5)
DECLARE @dt_registro_pedido datetime
DECLARE @dt_fatura datetime          
DECLARE @in_drawback bit 
DECLARE @nr_li char(10)     
DECLARE @nr_fatura char(15)       
DECLARE @vl_frete float                                              
DECLARE @vl_seguro float                                             
DECLARE @vl_peso_bruto float                                         
DECLARE @vl_peso_liquido float                                       
DECLARE @vl_desconto float                                           
DECLARE @vl_comissao_percent float                                   
DECLARE @vl_tot_origem float                                         
DECLARE @vl_tot_cubagem float                                        
DECLARE @vl_tot_fob float                                            
DECLARE @vl_tot_com_agente float                                     
DECLARE @vl_tot_qtde_prod float                                      
DECLARE @vl_tot_qtde_embalagem float                                 
DECLARE @vl_tot_mcv float                                            
DECLARE @vl_tx_cambio float                                          
DECLARE @vl_tot_container float                                      
DECLARE @vl_tot_pallets float                                        
DECLARE @vl_tot_exw float                                            
DECLARE @cd_transportadora char(4)
DECLARE @tp_consignatario char(1)
DECLARE @tp_notify1 char(1) 
DECLARE @tp_notify2 char(1)
DECLARE @qt_total_itens char(3)

-- ITEM
DECLARE @nr_item integer
DECLARE @cd_mercadoria char(40)
DECLARE @cd_ncm char(11)      
DECLARE @cd_ncm_doc char(11)      
DECLARE @cd_naladi_sh char(8) 
DECLARE @cd_naladi_doc char(8) 
DECLARE @cd_unid_medida char(3)
DECLARE @cd_embalagem char(4)
DECLARE @cd_classif_embalagem char(30)
DECLARE @cd_fabr_expo char(1)
DECLARE @qt_por_emb float
DECLARE @qt_embalagem float                                         
DECLARE @qt_mercadoria float                                         
DECLARE @vl_por_emb float                                            
DECLARE @vl_unitario float                                            
DECLARE @vl_peso_liq_unit float                                      
DECLARE @vl_comprimento_emb float                                    
DECLARE @vl_largura_emb float                                        
DECLARE @vl_altura_emb float                                         
DECLARE @vl_peso_emb float                                           
DECLARE @vl_tot_item float                                          
DECLARE @vl_tot_peso_liq float                                       
DECLARE @vl_tot_peso_bruto float                                     
DECLARE @vl_cubagem float                                            
DECLARE @vl_mle float                                                
DECLARE @vl_mcv float                                               
DECLARE @in_selecionado char(1)
DECLARE @in_montado char(1)
DECLARE @qt_baixada float                                           
DECLARE @qt_baixar float                                             
DECLARE @qt_disponivel float                                         
DECLARE @cd_embalagem_sup char(4)
DECLARE @cd_classif_embalagem_sup char(30)
DECLARE @qt_por_emb_sup float
DECLARE @qt_embalagem_sup float 
DECLARE @vl_por_emb_sup float
DECLARE @cd_embalagem_cliente char(10)
DECLARE @cd_acordo char(10)
DECLARE @cd_norma char(10)
DECLARE @vl_frete_item float

DECLARE @nVl_Prep float
DECLARE @nVl_Col float
DECLARE @nVl_Nac float
DECLARE @nVl_Seg float
DECLARE @MoedaNeg char(3)
DECLARE @TotalItem char(3)
DECLARE @nQtDisponivel float
DECLARE @nVlTotItem float

DECLARE @nVlProd float
DECLARE @nVlEmb float
DECLARE @nVlCub float
DECLARE @nVlPL float
DECLARE @nVlExw float

DECLARE @nEntrou bit
DECLARE @nEntrou2 bit
DECLARE @nEntrou3 bit

DECLARE @cNrItem char(3)
DECLARE @Erro int
DECLARE @nQtInicial float
DECLARE @nQtDispo float
DECLARE @nVlTotal float
DECLARE @nPesoLiq float
DECLARE @cMoeda_Adic char(3)

DECLARE @cAdicao char(3)
DECLARE @cItem char(3)
DECLARE @nNum integer

DECLARE @nr_seq_ncm_doc int
DECLARE @nr_seq_naladi_doc int

DECLARE c_pe_item CURSOR FOR
  SELECT NR_PROCESSO, 
         NR_ITEM, 
         ISNULL( CD_MERCADORIA, '' ),
         ISNULL( CD_NCM, '' ),
         ISNULL( CD_NALADI_SH, '' ),
	 ISNULL( CD_UNID_MEDIDA, '' ),
	 ISNULL( CD_EMBALAGEM, '' ),
	 ISNULL( CD_CLASSIF_EMBALAGEM, '' ),
	 ISNULL( CD_FABR_EXPO, '' ),
	 ISNULL( QT_POR_EMB, 0 ),
	 ISNULL( QT_EMBALAGEM, 0 ),
	 ISNULL( QT_MERCADORIA, 0 ),
	 ISNULL( VL_POR_EMB, 0 ),
	 ISNULL( VL_UNITARIO, 0 ),
	 ISNULL( VL_PESO_LIQ_UNIT, 0 ),
	 ISNULL( VL_COMPRIMENTO_EMB, 0 ),
	 ISNULL( VL_LARGURA_EMB, 0 ),
	 ISNULL( VL_ALTURA_EMB, 0 ),
	 ISNULL( VL_PESO_EMB, 0 ),
	 ISNULL( VL_TOT_ITEM, 0 ),
	 ISNULL( VL_TOT_PESO_LIQ, 0 ),
	 ISNULL( VL_TOT_PESO_BRUTO, 0 ),
	 ISNULL( VL_CUBAGEM, 0 ),
	 ISNULL( VL_MLE, 0 ),
	 ISNULL( VL_MCV, 0 ),
	 ISNULL( IN_SELECIONADO, 0 ),
	 ISNULL( IN_MONTADO, 0 ),
	 ISNULL( QT_BAIXADA, 0 ),
	 ISNULL( QT_BAIXAR, 0 ),
	 ISNULL( QT_DISPONIVEL, 0 ),
	 ISNULL( CD_EMBALAGEM_SUP, '' ),
	 ISNULL( CD_CLASSIF_EMBALAGEM_SUP, '' ),
	 ISNULL( QT_POR_EMB_SUP, 0 ),
	 ISNULL( QT_EMBALAGEM_SUP, 0 ),
	 ISNULL( VL_POR_EMB_SUP, 0 ),
	 ISNULL( CD_EMBALAGEM_CLIENTE, '' ),
	 ISNULL( VL_FRETE, 0 )
  FROM   TPE_ITEM
  WHERE  IN_SELECIONADO = 1 AND 
         IN_MONTADO <> '1' AND 
         CD_UNID_NEG = @cd_unid_neg

OPEN c_pe_item
FETCH c_pe_item 
  INTO @nr_proc, @nr_item, @cd_mercadoria, @cd_ncm, @cd_naladi_sh, @cd_unid_medida, @cd_embalagem, @cd_classif_embalagem, @cd_fabr_expo, 
       @qt_por_emb, @qt_embalagem, @qt_mercadoria, @vl_por_emb, @vl_unitario, @vl_peso_liq_unit, @vl_comprimento_emb, 
       @vl_largura_emb, @vl_altura_emb, @vl_peso_emb, @vl_tot_item, @vl_tot_peso_liq, @vl_tot_peso_bruto, 
       @vl_cubagem, @vl_mle, @vl_mcv, @in_selecionado, @in_montado, @qt_baixada, @qt_baixar, @qt_disponivel,
       @cd_embalagem_sup, @cd_classif_embalagem_sup, @qt_por_emb_sup, @qt_embalagem_sup, @vl_por_emb_sup, @cd_embalagem_cliente,
       @vl_frete_item

SELECT @nEntrou2 = 0
SELECT @nEntrou3 = 0
SELECT @nNum     = 0

SELECT @nVlProd = 0  
SELECT @nVlEmb  = 0
SELECT @nVlCub  = 0 
SELECT @nVlPL   = 0 
SELECT @nVlExw  = 0 

WHILE @@fetch_status <> -1
BEGIN

  SELECT @cNrItem = @nr_item
  SELECT @cNrItem = CONVERT( char(3), @nr_item )
  SELECT @cNrItem = RIGHT( ( '000' + RTRIM( @cNrItem ) ), 3 )

  SELECT @nNum = @nNum + 1
  SELECT @cItem = CONVERT( char(3), @nNum )
  SELECT @cItem = RIGHT( ( '000' + RTRIM( @cItem ) ), 3 )

  SELECT @nEntrou = 0
  IF( SELECT COUNT(*) 
      FROM   TPE 
      WHERE  NR_PROCESSO = @nr_proc AND
             IN_SELECIONADO = 1 AND
             CD_UNID_NEG = @cd_unid_neg ) > 0
  BEGIN
    SELECT @nEntrou = 1
    SELECT @cd_exportador = CD_EXPORTADOR,
           @cd_importador = CD_IMPORTADOR,
	   @cd_despachante = CD_DESPACHANTE,
	   @cd_agente = CD_AGENTE,
	   @cd_incoterm = CD_INCOTERM,
	   @cd_pais_destino = CD_PAIS_DESTINO,
	   @cd_moeda = CD_MOEDA,
           @cd_via_transporte = CD_VIA_TRANSPORTE,
	   @cd_seguradora = CD_SEGURADORA,
	   @cd_representante = CD_REPRESENTANTE,
	   @cd_local_origem = CD_LOCAL_ORIGEM,
	   @cd_local_destino = CD_LOCAL_DESTINO,
	   @cd_urf_despacho = CD_URF_DESPACHO,
           @cd_urf_destino = CD_URF_DESTINO,
	   @cd_termo_pagto = CD_TERMO_PAGTO,
	   @cd_forma_pagto = CD_FORMA_PAGTO,
	   @cd_lingua_pedido = CD_LINGUA_PEDIDO,
	   @cd_tipo_frete = CD_TIPO_FRETE,
	   @cd_usuario = CD_USUARIO,
	   @cd_carta_credito = CD_CARTA_CREDITO,
           @cd_inst_negoc = CD_INST_NEGOC,
	   @cd_consignatario = CD_CONSIGNATARIO,
	   @cd_notify1 = CD_NOTIFY1,
	   @cd_notify2 = CD_NOTIFY2,
	   @dt_registro_pedido = DT_REGISTRO_PEDIDO,
	   @dt_fatura = DT_FATURA,
	   @in_drawback = IN_DRAWBACK,
	   @nr_li = NR_LI,
	   @nr_fatura = NR_FATURA,
	   @vl_frete = VL_FRETE,
	   @vl_seguro = VL_SEGURO,
	   @vl_peso_bruto = VL_PESO_BRUTO,
	   @vl_peso_liquido = VL_PESO_LIQUIDO,
	   @vl_desconto = VL_DESCONTO,
	   @vl_comissao_percent = VL_COMISSAO_PERCENT,
	   @vl_tot_origem = VL_TOT_ORIGEM,
           @vl_tot_cubagem = VL_TOT_CUBAGEM,
	   @vl_tot_fob = VL_TOT_FOB,
	   @vl_tot_com_agente = VL_TOT_COM_AGENTE,
	   @vl_tot_qtde_prod = VL_TOT_QTDE_PROD,
	   @vl_tot_qtde_embalagem = VL_TOT_QTDE_EMBALAGEM,
	   @vl_tot_mcv = VL_TOT_MCV,
	   @vl_tx_cambio = VL_TX_CAMBIO,
           @vl_tot_container = VL_TOT_CONTAINER,
	   @vl_tot_pallets = VL_TOT_PALLETS,
	   @vl_tot_exw = VL_TOT_EXW,
	   @cd_transportadora = CD_TRANSPORTADORA,
	   @tp_consignatario = TP_CONSIGNATARIO,
	   @tp_notify1 = TP_NOTIFY1,
	   @tp_notify2 = TP_NOTIFY2
    FROM   TPE
    WHERE  NR_PROCESSO    = @nr_proc AND
           IN_SELECIONADO = 1 AND
           CD_UNID_NEG    = @cd_unid_neg
  END

  IF ( @nEntrou = 1 ) AND ( @nEntrou2 = 0 )
  BEGIN
    -- CRIA CAPA DO PROCESSO
    IF ( SELECT COUNT(*)  
         FROM   TPROCESSO_EXP 
         WHERE  NR_PROCESSO = @nr_proc_controle ) = 0
    BEGIN
      INSERT INTO TPROCESSO_EXP
         ( NR_PROCESSO, CD_EXPORTADOR, CD_IMPORTADOR, CD_DESPACHANTE, CD_AGENTE, CD_INCOTERM, CD_PAIS_DESTINO, CD_MOEDA,
           CD_VIA_TRANSPORTE, CD_SEGURADORA, CD_REPRESENTANTE, CD_LOCAL_ORIGEM, CD_LOCAL_DESTINO, CD_URF_DESPACHO,
           CD_URF_DESTINO, CD_TERMO_PAGTO, CD_FORMA_PAGTO, CD_LINGUA_PEDIDO, CD_TIPO_FRETE, CD_USUARIO, CD_CARTA_CREDITO,
           CD_INST_NEGOC, CD_CONSIGNATARIO, CD_NOTIFY1, CD_NOTIFY2, DT_REGISTRO_PEDIDO, DT_FATURA, IN_DRAWBACK, NR_LI,
           NR_FATURA, VL_FRETE, VL_SEGURO, VL_PESO_BRUTO, VL_PESO_LIQUIDO, VL_DESCONTO, VL_COMISSAO_PERCENT, VL_TOT_ORIGEM,
           VL_TOT_CUBAGEM, VL_TOT_FOB, VL_TOT_COM_AGENTE, VL_TOT_QTDE_PROD, VL_TOT_QTDE_EMBALAGEM, VL_TOT_MCV, VL_TX_CAMBIO,
           VL_TOT_CONTAINER, VL_TOT_PALLETS, VL_TOT_EXW, CD_TRANSPORTADORA, TP_CONSIGNATARIO, TP_NOTIFY1, TP_NOTIFY2, IN_NUM_FAT_AUTO)
       VALUES 
         ( @nr_proc_controle, @cd_exportador, @cd_importador, @cd_despachante, @cd_agente, @cd_incoterm, @cd_pais_destino, @cd_moeda,
           @cd_via_transporte, @cd_seguradora, @cd_representante, @cd_local_origem, @cd_local_destino, @cd_urf_despacho, 
           @cd_urf_destino, @cd_termo_pagto, @cd_forma_pagto, @cd_lingua_pedido, @cd_tipo_frete, @cd_usuario, @cd_carta_credito,
           @cd_inst_negoc, @cd_consignatario, @cd_notify1, @cd_notify2, @dt_registro_pedido, @dt_fatura, @in_drawback, @nr_li,
           @nr_fatura, @vl_frete, @vl_seguro, @vl_peso_bruto, @vl_peso_liquido, @vl_desconto, @vl_comissao_percent, @vl_tot_origem,
           @vl_tot_cubagem, @vl_tot_fob, @vl_tot_com_agente, @vl_tot_qtde_prod, @vl_tot_qtde_embalagem, @vl_tot_mcv, @vl_tx_cambio,
           @vl_tot_container, @vl_tot_pallets, @vl_tot_exw, @cd_transportadora, @tp_consignatario, @tp_notify1, @tp_notify2, '1' )
    END

    UPDATE TPROCESSO_EXP 
    SET    TX_DECL_EXPORTADOR = B.TX_OBS_IMP 
    FROM   TPROCESSO_EXP A,
           TEMPRESA_EST B
    WHERE  B.CD_EMPRESA = @cd_importador AND
           A.NR_PROCESSO = @nr_proc_controle

    SELECT @nEntrou2 = 1 
  END

  SELECT @cd_pais = CD_PAIS
  FROM   TEMPRESA_EST
  WHERE  IN_ATIVO = '1' AND
         CD_EMPRESA = @cd_importador

  SELECT @cd_acordo = '', @cd_norma = '', @cd_ncm_doc = '', @cd_naladi_doc = ''

  SELECT @cd_acordo = A.CD_ACORDO, 
         @cd_norma = M.CD_NORMA
  FROM   TACORDO_PAIS A, TMERC_EXP_ACORDO M, TNORMAS N
  WHERE  M.CD_ACORDO = A.CD_ACORDO AND
         M.CD_NORMA = N.CODIGO AND
         A.CD_PAIS = @cd_pais AND
         N.CD_PAIS = @cd_pais AND
         M.CD_MERCADORIA = @cd_mercadoria

  SELECT @cd_ncm_doc        = CD_NCM_DOC,
         @cd_naladi_doc     = CD_NALADI_SH_DOC,
         @nr_seq_ncm_doc    = NR_SEQ_NCM,
         @nr_seq_naladi_doc = NR_SEQ_NALADI
  FROM   TMERC_EXP_ACORDO
  WHERE  CD_MERCADORIA = @cd_mercadoria AND
         CD_ACORDO = @cd_acordo AND
         CD_NORMA = @cd_norma

  -- COPIANDO ITENS PARA PROCESSO DE EXPORTACAO
  INSERT INTO TPROCESSO_EXP_ITEM 
    ( NR_PROCESSO, NR_ITEM, CD_MERCADORIA, CD_NCM, CD_NALADI_SH, CD_UNID_MEDIDA, CD_EMBALAGEM, CD_CLASSIF_EMBALAGEM,
      CD_FABR_EXPO, QT_POR_EMB, QT_EMBALAGEM, QT_MERCADORIA, VL_POR_EMB, VL_UNITARIO, VL_PESO_LIQ_UNIT, VL_COMPRIMENTO_EMB,
      VL_LARGURA_EMB, VL_ALTURA_EMB, VL_PESO_EMB, VL_TOT_ITEM, VL_TOT_PESO_LIQ, VL_TOT_PESO_BRUTO, VL_CUBAGEM, VL_MLE,
      VL_MCV, NR_PROC_PE, NR_ITEM_PE, CD_EMBALAGEM_SUP, CD_CLASSIF_EMBALAGEM_SUP, QT_POR_EMB_SUP, QT_EMBALAGEM_SUP, VL_POR_EMB_SUP, 
      CD_EMBALAGEM_CLIENTE, CD_NCM_DOC, NR_SEQ_NCM_DOC, CD_NALADI_DOC, NR_SEQ_NALADI_DOC, CD_ACORDO, CD_NORMAS, NR_PEDIDO_IMP,
      VL_FRETE )
  VALUES
    ( @nr_proc_controle, @cItem, @cd_mercadoria, @cd_ncm, @cd_naladi_sh, @cd_unid_medida, @cd_embalagem, @cd_classif_embalagem,
      @cd_fabr_expo, @qt_por_emb, @qt_embalagem, @qt_mercadoria, @vl_por_emb, @vl_unitario, @vl_peso_liq_unit, @vl_comprimento_emb,
      @vl_largura_emb, @vl_altura_emb, @vl_peso_emb, @vl_tot_item, @vl_tot_peso_liq, @vl_tot_peso_bruto, @vl_cubagem, @vl_mle,
      @vl_mcv, @nr_proc, @cNrItem, @cd_embalagem_sup, @cd_classif_embalagem_sup, @qt_por_emb_sup, @qt_embalagem_sup, @vl_por_emb_sup, 
      @cd_embalagem_cliente, @cd_ncm_doc, @nr_seq_ncm_doc, @cd_naladi_doc, @nr_seq_naladi_doc, @cd_acordo, @cd_norma, @nr_proc,
      @vl_frete_item ) 

  -- IF ENTRAR, CALCULA ITEM BAIXADO TOTAL
  IF ( SELECT COUNT(*)       
       FROM   TPREPARA_PE_ITEM 
       WHERE  NR_PROC_OLD = @nr_proc AND 
              NR_ITEM_OLD = @cNrItem AND 
              NR_PROCESSO = @nr_proc_controle ) = 0 
  BEGIN
    SELECT @nQtDispo = 0 

    UPDATE TPE_ITEM 
    SET    IN_MONTADO = '1',
           QT_BAIXADA = @QT_MERCADORIA,
           QT_DISPONIVEL = @nQtDispo
    WHERE  NR_PROCESSO = @nr_proc AND 
           NR_ITEM = @cNrItem AND 
           CD_UNID_NEG = @cd_unid_neg

    SELECT @nVlTotItem = @VL_TOT_ITEM
    SELECT @nQtInicial = @QT_MERCADORIA
  END
  ELSE                                 
  BEGIN
    -- BAIXANDO QTDE PARCIAL
    SELECT @nQtInicial = QT_BAIXADA
    FROM   TPREPARA_PE_ITEM
    WHERE  NR_PROC_OLD = @nr_proc AND 
           NR_ITEM_OLD = @cNrItem AND 
           NR_PROCESSO = @nr_proc_controle
 
    UPDATE TPE_ITEM 
    SET    QT_BAIXADA = (QT_BAIXADA + @nQtInicial)
    WHERE  NR_PROCESSO = @nr_proc AND 
           NR_ITEM = @cNrItem AND 
           CD_UNID_NEG = @cd_unid_neg
 
    SELECT @nQtDispo = (QT_MERCADORIA - QT_BAIXADA)
    FROM   TPE_ITEM 
    WHERE  NR_PROCESSO = @nr_proc AND 
           NR_ITEM = @cNrItem AND 
           CD_UNID_NEG = @cd_unid_neg
 
    UPDATE TPE_ITEM 
    SET    QT_DISPONIVEL = @nQtDispo,
           QT_BAIXAR = 0
    WHERE  NR_PROCESSO = @nr_proc AND 
           NR_ITEM = @cNrItem AND 
           CD_UNID_NEG = @cd_unid_neg

    UPDATE TPREPARA_PE_ITEM 
    SET    IN_MONTADO = '1' 
    WHERE  NR_PROC_OLD = @nr_proc AND 
           NR_ITEM_OLD = @cNrItem AND 
           NR_PROCESSO = @nr_proc_controle

    SELECT @nVlTotItem = @nQtInicial * @VL_UNITARIO

    UPDATE TPROCESSO_EXP_ITEM  
    SET    QT_MERCADORIA = @nQtInicial,
           VL_TOT_ITEM   = @nVlTotItem
    WHERE  NR_PROCESSO = @nr_proc_controle AND 
           NR_ITEM = @cItem
  END

  UPDATE TPROCESSO_EXP_ITEM  
  SET    TX_MERCADORIA = B.TX_MERCADORIA
  FROM   TPROCESSO_EXP_ITEM A, 
         TPE_ITEM B
  WHERE  A.NR_PROCESSO = @nr_proc_controle AND
         A.NR_PROC_PE  = @nr_proc AND
         A.NR_ITEM_PE  = @cNrItem  AND
         B.NR_PROCESSO = @nr_proc AND
         B.NR_ITEM     = @cNrItem 

  SELECT @nEntrou3 = 1

  SELECT @nVlProd = @nVlProd + @nQtInicial
  SELECT @nVlEmb  = @nVlEmb  + @QT_EMBALAGEM
  SELECT @nVlCub  = @nVlCub  + @VL_CUBAGEM
  SELECT @nVlPL   = @nVLPL   + @VL_TOT_PESO_LIQ
  SELECT @nVlExw  = @nVlExw  + @VL_TOT_ITEM

  FETCH c_pe_item 
  INTO @nr_proc, @nr_item, @cd_mercadoria, @cd_ncm, @cd_naladi_sh, @cd_unid_medida, @cd_embalagem, @cd_classif_embalagem, @cd_fabr_expo, 
       @qt_por_emb, @qt_embalagem, @qt_mercadoria, @vl_por_emb, @vl_unitario, @vl_peso_liq_unit, @vl_comprimento_emb, 
       @vl_largura_emb, @vl_altura_emb, @vl_peso_emb, @vl_tot_item, @vl_tot_peso_liq, @vl_tot_peso_bruto, 
       @vl_cubagem, @vl_mle, @vl_mcv, @in_selecionado, @in_montado, @qt_baixada, @qt_baixar, @qt_disponivel,
       @cd_embalagem_sup, @cd_classif_embalagem_sup, @qt_por_emb_sup, @qt_embalagem_sup, @vl_por_emb_sup, @cd_embalagem_cliente,
       @vl_frete_item
END

CLOSE c_pe_item
DEALLOCATE c_pe_item

IF @nEntrou3 = 1
BEGIN
  DECLARE @nTotItem integer

  IF @cNrItem = @TotalItem
  BEGIN
    UPDATE TPROCESSO_EXP
    SET    VL_TOT_QTDE_PROD = @nVlProd,
           VL_TOT_QTDE_EMBALAGEM = @nVlEmb,
           VL_TOT_CUBAGEM = @nVlCub,
           VL_PESO_LIQUIDO = @nVlPL,
           VL_TOT_EXW = @nVlExw,
           VL_TOT_FOB = @nVlExw,
           VL_TOT_MCV = @nVlExw + @vl_frete + @vl_seguro
    FROM   TPROCESSO_EXP
    WHERE  NR_PROCESSO = @nr_proc_controle
  END

  SELECT @nTotItem = COUNT(*) 
  FROM   TPROCESSO_EXP_ITEM 
  WHERE  NR_PROCESSO = @nr_proc_controle

  SELECT @qt_total_itens = CONVERT( char(3), @nTotItem )
  SELECT @qt_total_itens = RIGHT( ( '000' + RTRIM( @qt_total_itens ) ), 3 )

  UPDATE TPROCESSO_EXP 
  SET    QT_TOTAL_ITENS = @qt_total_itens
  WHERE  NR_PROCESSO = @nr_proc_controle
END

RETURN(0)








GO
