USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_abertura_processo_eadi]
AS

/*
SET XACT_ABORT ON
BEGIN TRAN
*/

SET NOCOUNT ON


DECLARE @nr_processo            char(18)
DECLARE @cd_analista_comissaria char(4)
DECLARE @cd_analista_contato    char(3)
DECLARE @cd_analista_cliente    char(5)
DECLARE @controle_comissaria    char(4) 
DECLARE @controle_contato       char(3)
DECLARE @controle_cliente       char(5)
DECLARE @cd_referencia          char(30)

DECLARE @nm_email_comissaria    varchar(50)
DECLARE @nm_email_cliente       varchar(50)
DECLARE @arquivo                varchar(100) 
DECLARE @query_2                varchar(5000)
DECLARE @conteudo_msg           varchar(5000) 
DECLARE @tx_mercadoria          varchar(255) 
DECLARE @query                  varchar(5000)

DECLARE @dt_vencto_nac          datetime

DECLARE @contador_1             int
DECLARE @contador_2             int 
DECLARE @contador_3             int
DECLARE @contador_4             int

 
--tabela para enviar os emails
CREATE TABLE TTP_ENVIA_EMAIL (
         [CD_ANALISTA_COMISSARIA][char] (4),
         [CD_ANALISTA_CONTATO]   [char] (3),
         [CD_ANALISTA_CLIENTE]   [char] (5),
         [DESCRICAO]             [char] (255),
         [OBSERVACAO]            [char] (255)
         )

SELECT @controle_comissaria = ''
SELECT @controle_contato    = ''
SELECT @controle_cliente    = ''

SELECT DISTINCT C.CD_REFERENCIA, 
       D.NR_PROCESSO, D.DT_VENCTO_NAC, D.IN_ABERTURA_PROC,
       P.CD_ANALISTA_COMISSARIA, T.CD_CONTATO, T.CD_CLIENTE, 
       U.NM_USUARIO, ISNULL(U.NM_EMAIL, 'suporte@indaialogistica.com.br') AS NM_EMAIL_COMISSARIA,
       T.NM_CONTATO, ISNULL(T.NM_EMAIL, 'suporte@indaialogistica.com.br') AS NM_EMAIL_CLIENTE        
INTO   #TMP_PROCESSO
FROM   TDOCUMENTO_INSTRUCAO D, TREF_CLIENTE C, TPROCESSO P, TUSUARIO U, TCLIENTE_CONTATO T
WHERE  D.NR_PROCESSO            = C.NR_PROCESSO AND
       D.NR_PROCESSO            = P.NR_PROCESSO AND
       P.CD_ANALISTA_COMISSARIA = U.CD_USUARIO  AND                  
       P.CD_CLIENTE             = T.CD_CLIENTE  AND 
       P.CD_CONTATO             = T.CD_CONTATO  AND
       ISNULL( D.DT_FATURA, '' )        <> ''   AND
       ISNULL( D.DT_VENCTO_FATURA, '' ) <> ''   AND
       ISNULL( D.DT_VENCTO_EADI, '' )   <> ''   AND
       ISNULL( D.DT_VENCTO_NAC, '' )    <> ''   AND
       ISNULL( D.IN_ABERTURA_PROC, '0' ) = '0'  AND
       SUBSTRING( D.NR_PROCESSO, 5, 2 )  = 'I0'

  SELECT @contador_1 = COUNT(*) FROM #TMP_PROCESSO
  SELECT @contador_2 = COUNT(*) FROM #TMP_PROCESSO
  SELECT @contador_3 = 1
  SELECT @contador_4 = 1

  --seleciona todos os processos 
  DECLARE c_analistas CURSOR FOR
      SELECT DISTINCT CD_ANALISTA_COMISSARIA, NM_EMAIL_COMISSARIA, CD_CONTATO, CD_CLIENTE, NM_EMAIL_CLIENTE, 
                      NR_PROCESSO, CD_REFERENCIA, DT_VENCTO_NAC    
        FROM #TMP_PROCESSO
    ORDER BY CD_ANALISTA_COMISSARIA, CD_CONTATO
    
    OPEN c_analistas   
    FETCH c_analistas INTO  @cd_analista_comissaria, @nm_email_comissaria, @cd_analista_contato, @cd_analista_cliente, 
                            @nm_email_cliente, @nr_processo, @cd_referencia, @dt_vencto_nac 
    
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @conteudo_msg = '' 
      SELECT @conteudo_msg = 'Pedido: ' + @cd_referencia + ' - Processo: ' + SUBSTRING(@nr_processo, 5, 14)
      SELECT @conteudo_msg = @conteudo_msg + ' deve ser registrado até ' + REPLACE(CONVERT ( char(10), @dt_vencto_nac, 105 ), '-', '/') + char(10)
       
      
      SELECT @tx_mercadoria = ISNULL(TX_MERCADORIA, '') 
        FROM TPROCESSO
       WHERE NR_PROCESSO    = @nr_processo 
       
      INSERT INTO TTP_ENVIA_EMAIL
                  ( CD_ANALISTA_COMISSARIA, CD_ANALISTA_CONTATO, CD_ANALISTA_CLIENTE, DESCRICAO, OBSERVACAO )          
           VALUES ( @cd_analista_comissaria, @cd_analista_contato, @cd_analista_cliente, @conteudo_msg, @tx_mercadoria )                      
          
            
      UPDATE TDOCUMENTO_INSTRUCAO
         SET IN_ABERTURA_PROC = '1'
       WHERE NR_PROCESSO      = @nr_processo
      
      --envio do email para analista comissaria 
      IF ( @cd_analista_comissaria ) <> ( @controle_comissaria ) AND ( @controle_comissaria <> '' ) OR ( @contador_3 = @contador_1 )
      BEGIN
        SET @arquivo = 'comissaria_processo_' + REPLACE(CONVERT(CHAR(10), GETDATE(), 103), '/', '') + '_'+ 
                       REPLACE(CONVERT(CHAR(5), GETDATE(), 108), ':', 'h') + '.txt'
       
        SELECT @query_2 = 'SELECT DESCRICAO, OBSERVACAO  FROM TTP_ENVIA_EMAIL WHERE ( CD_ANALISTA_COMISSARIA = ''' + @controle_comissaria +''' )'
        
        IF ISNULL( @query_2, '') <> ''
        BEGIN     
          EXEC master.dbo.xp_sendmail @nm_email_comissaria /*'erik.matos@indaialogistica.com.br'*/, 
          @query   = @query_2, @no_header= 'TRUE', @subject = 'ABERTURA DE PROCESSO',
          @attachments = @arquivo, @attach_results = 'TRUE', @width = 250
        END
        SELECT @contador_1 = @contador_1 - @contador_3
        SELECT @contador_3 = 0 
      END
      
      --envio de email para analista cliente
      IF ( @cd_analista_contato <> @controle_contato ) AND ( @controle_contato <> '' ) OR
         ( @cd_analista_cliente <> @controle_cliente ) AND ( @controle_cliente <> '' ) OR 
         ( @contador_4 = @contador_2 )
      BEGIN
        SET @arquivo = 'processo_' + REPLACE(CONVERT(CHAR(10), GETDATE(), 103), '/', '') + '_'+ 
                       REPLACE(CONVERT(CHAR(5), GETDATE(), 108), ':', 'h')+ '.txt'
 
        SELECT @query_2 = 'SELECT DESCRICAO, OBSERVACAO  FROM TTP_ENVIA_EMAIL WHERE ( CD_ANALISTA_CONTATO = '''+ @controle_contato +''' ) AND ( CD_ANALISTA_CLIENTE = ''' + @controle_cliente + ''' )'
        
        IF ISNULL( @query_2, '') <> ''
        BEGIN 
          EXEC master.dbo.xp_sendmail @nm_email_cliente /*'erik.matos@indaialogistica.com.br'*/, 
          @query   = @query_2, @no_header= 'TRUE', @subject = 'ABERTURA DE PROCESSO',
          @attachments = @arquivo, @attach_results = 'TRUE', @width = 250
        END
        SELECT @contador_2 = @contador_2 - @contador_4
        SELECT @contador_4 = 0
      END      
       
      SELECT @controle_comissaria = @cd_analista_comissaria
      SELECT @controle_contato    = @cd_analista_contato 
      SELECT @controle_cliente    = @cd_analista_cliente

      SELECT @contador_3 = @contador_3 + 1
      SELECT @contador_4 = @contador_4 + 1
      
      FETCH c_analistas INTO @cd_analista_comissaria, @nm_email_comissaria, @cd_analista_contato, @cd_analista_cliente, 
                             @nm_email_cliente, @nr_processo, @cd_referencia, @dt_vencto_nac 


    END
  CLOSE c_analistas
  DEALLOCATE c_analistas
  


DROP TABLE #TMP_PROCESSO
DROP TABLE TTP_ENVIA_EMAIL

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
