USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_fat_calculo] ( @cd_unid_neg  char(2), @cd_produto char(2), @nr_solicitacao char(6), 
                                 --@in_acumula integer, @dt_inicio datetime, @dt_fim datetime, 
                                @vl_sd_fat_zero float OUTPUT, @nr_identificador int OUTPUT ) AS 


/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6) 
DECLARE @in_acumula integer
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @vl_sd_fat_zero float 

DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solicitacao = '096143'
SELECT @in_acumula = 1
SELECT @vl_sd_fat_zero = 0
SELECT @dt_inicio = CONVERT(DATETIME,'08/07/2009',103)
SELECT @dt_fim = CONVERT(DATETIME,'08/07/2009',103)
*/


DECLARE @nr_processo            char(18)
DECLARE @tp_tipo_fat            char(1)
DECLARE @dt_fatura              datetime
DECLARE @nr_lanc                char(4)
DECLARE @nr_lanc_cli            char(3)
DECLARE @cd_item                char(3)
DECLARE @cd_favorecido          char(5)
DECLARE @vl_informado           float
DECLARE @vl_aliq_ir             float
DECLARE @vl_aliq_iss            float
DECLARE @cd_item_ir             char(3)
DECLARE @cd_item_iss            char(3)
DECLARE @cd_item_cpmf           char(3)
DECLARE @cd_item_saldo_cre      char(3)
DECLARE @cd_item_saldo_deb      char(3)
DECLARE @cd_item_saldo          char(3)
DECLARE @cd_item_liq            char(3)
DECLARE @cd_item_pagto_sd       char(3)
DECLARE @cd_item_receb_sd       char(3)
DECLARE @cd_item_nao_fat        char(3)
DECLARE @cd_item_nfat           char(3)
DECLARE @cd_item_pago_cli       char(3)
DECLARE @in_restitui            char(1)
DECLARE @in_restitui_cpmf       char(1)
DECLARE @in_cpmf_item           char(1)
DECLARE @in_cpmf_cliente        char(1)
DECLARE @in_arredonda_cpmf_item char(1)
DECLARE @in_nao_fat    	        char(1)
DECLARE @vl_calc_ir             numeric (14,3)
DECLARE @vl_tot_ir              numeric (14,2)
DECLARE @vl_item                float
DECLARE @vl_ir                  float
DECLARE @vl_iss                 float
DECLARE @vl_assist              float
DECLARE @vl_min_ir              float
DECLARE @vl_base_ir             numeric (14,2)
DECLARE @vl_base_iss            numeric (14,2)
DECLARE @vl_saldo_cre           numeric (14,2)
DECLARE @vl_saldo_deb           numeric (14,2)
DECLARE @vl_saldo_tot           numeric (14,2)
DECLARE @vl_saldo_fat           numeric (14,2)
DECLARE @vl_cpmf                numeric (14,7)
DECLARE @vl_cpmf_num            numeric (14,7)
DECLARE @cd_usuario             char(4)
DECLARE @in_nvocc               char(1)
DECLARE @in_sd_fat_zero         char(1)
DECLARE @in_sd_nota_zero        char(1)
DECLARE @in_cobrar_iss          char(1)
DECLARE @in_cpmf_total          char(1)
DECLARE @in_fat_sem_desp        char(1)
DECLARE @vl_pago_cli            numeric (14,2)
DECLARE @cd_ir_fat              char(1)
DECLARE @in_calcula_irrf_vl_min char(1)
DECLARE @in_liq_aut             char(1)
DECLARE @vl_saldo_fat_processo  numeric (14,2) 
DECLARE @nm_cidade              varchar(30)
DECLARE @erro                   int
DECLARE @vl_aliq_cofins         float
DECLARE @vl_aliq_cofins_ret     float
DECLARE @cd_item_cofins         char(3)
DECLARE @cd_item_cofins_ret     char(3)
DECLARE @cd_item_sda            char(3)
DECLARE @vl_calc_cofins         numeric (14,3)
DECLARE @vl_cofins              float
DECLARE @vl_calc_cofins_ret     numeric (14,3)
DECLARE @vl_cofins_ret          float
DECLARE @in_cobrar_cofins       char(1)
DECLARE @vl_sub_tot_tributavel  float
DECLARE @vl_comissao            float
DECLARE @vl_tot_tributavel      float
DECLARE	@vl_tot_tributavelRod	float
DECLARE @vl_ali_cofins_cliente  float
DECLARE @cd_ret_fat             char(1)
DECLARE @vl_min_trib_ret        float
DECLARE @cd_cliente		char(5)
DECLARE @CGC_EMPRESA	char(8)
DECLARE @cd_grupo 		char(3)
DECLARE @vl_tributavel_acumulado float
DECLARE @status_ret 		char(1)
DECLARE @vl_tributavel_acumulado_grupo float
DECLARE @in_demonstrado         char(1)

DECLARE @CD_ITEM_EXTOR_NUM      char(3)
DECLARE @CD_ITEM_RECEB_NUM      char(3)
DECLARE @CD_ITEM_DEVOL_NUM      char(3)
DECLARE @CD_ITEM_EXT_RECEB      char(3)
DECLARE @CD_ITEM_EXT_PAGTO      char(3)
DECLARE @CD_ITEM_COMISSAO       char(3)
DECLARE @VL_TOT_IR_DIA		float
DECLARE @IN_RETIDO_IR		char(1)
DECLARE @IN_IR_RETIDO_ATUAL char(1)
DECLARE @IN_TIPO_CONTROLE_RETENCAO char(1)
DECLARE @DT_VENCTO_FATURA       datetime
DECLARE @DT_PARA_RETENCAO       datetime
DECLARE @IN_ACUMULA_TOTAL   char(1)
DECLARE @in_cobrar_cofins577 char(1) 

SELECT  @vl_pago_cli  = 0
SELECT  @vl_saldo_fat = 0
SELECT  @vl_tot_ir    = 0

/*** Atualizando parametros ***/
SELECT @vl_aliq_ir             = VL_ALIQ_IR,
       @cd_item_ir             = CD_ITEM_IR,
       @cd_item_iss            = CD_ITEM_ISS,
       @cd_item_cpmf           = CD_ITEM_CPMF,
       @cd_item_saldo_cre      = CD_ITEM_SALDO_CRE,
       @cd_item_saldo_deb      = CD_ITEM_SALDO_DEB,
       @cd_item_sda            = CD_ITEM_SDA,   
       @cd_item_nao_fat        = CD_ITEM_NAO_FAT,
       @vl_min_ir              = VL_MIN_IR,
       @cd_item_pago_cli       = CD_ITEM_PAGO_CLI,
       @cd_item_pagto_sd       = CD_ITEM_PAGTO_SD,
       @cd_item_receb_sd       = CD_ITEM_RECEB_SD,
       @in_arredonda_cpmf_item = IN_ARREDONDA_CPMF_ITEM,
       @vl_aliq_cofins         = VL_ALIQ_COFINS,
       @vl_aliq_cofins_ret     = VL_ALIQ_COFINS_RETENCAO,
       @cd_item_cofins         = CD_ITEM_COFINS,
       @cd_item_cofins_ret     = CD_ITEM_COFINS_RETENCAO,
       @vl_min_trib_ret        = VL_MIN_COFINS,
       @CD_ITEM_EXTOR_NUM      = CD_ITEM_EXTOR_NUM,
       @CD_ITEM_RECEB_NUM      = CD_ITEM_RECEB_NUM,
       @CD_ITEM_DEVOL_NUM      = CD_ITEM_DEVOL_NUM,
       @CD_ITEM_EXT_RECEB      = CD_ITEM_EXT_RECEB,
       @CD_ITEM_EXT_PAGTO      = CD_ITEM_EXT_PAGTO,
       @CD_ITEM_COMISSAO       = CD_ITEM_COMISSAO
FROM   TPARAMETROS (NOLOCK)

SELECT @vl_aliq_iss = VL_ALIQ_ISS
FROM   TUNID_NEG (NOLOCK)
WHERE  CD_UNID_NEG = @cd_unid_neg

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO (NOLOCK)
WHERE  AP_USUARIO = SUSER_NAME()

SELECT @tp_tipo_fat   = TP_TIPO_FAT,
       @dt_fatura     = DT_FATURA,
       @in_liq_aut    = IN_LIQ_AUT,
       @DT_VENCTO_FATURA = DT_VENCTO_FATURA
FROM   TS_FATURA (NOLOCK)
WHERE  CD_UNID_NEG    = @cd_unid_neg AND
       CD_PRODUTO     = @cd_produto  AND
       NR_SOLICITACAO = @nr_solicitacao

IF  @tp_tipo_fat = 'D'
  SELECT @in_demonstrado = '0'
ELSE IF  @tp_tipo_fat = 'C'
  SELECT @in_demonstrado = '1'

--Verificações
DECLARE c_fat CURSOR FOR
  SELECT NR_PROCESSO 
  FROM   TS_FATURA_PROCESSO (NOLOCK)
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLICITACAO = @nr_solicitacao
OPEN c_fat
FETCH c_fat INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN  SELECT @cd_cliente = P.CD_CLIENTE,
         @cd_grupo = P.CD_GRUPO
    FROM TPROCESSO P (NOLOCK)
   WHERE P.NR_PROCESSO = @nr_processo

SET @CGC_EMPRESA = (SELECT SUBSTRING (CGC_EMPRESA,1,8) FROM TEMPRESA_NAC WHERE CD_EMPRESA = @CD_CLIENTE)

  IF ( @tp_tipo_fat <> 'D' ) and ( @tp_tipo_fat <> 'C' )
  BEGIN
    IF ( ( SELECT COUNT(*)
           FROM   TFATURAMENTO_CC F (NOLOCK)
           WHERE  NR_PROCESSO   = @nr_processo AND
                  DT_LANCAMENTO <= @dt_fatura AND
                  IN_CANCELADO  = '0' AND
                  IN_SEL_FAT    = '1' AND
                  IN_FATURADO   = '0' ) < = 0 ) AND
       ( ( SELECT COUNT(*)
           FROM   TS_FATURA_PROCESSO_ITEM F (NOLOCK)
           WHERE  CD_UNID_NEG    = @cd_unid_neg AND 
                  CD_PRODUTO     = @cd_produto  AND
                  NR_SOLICITACAO = @nr_solicitacao ) <= 0 ) 
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat 
      -- Não existem itens a faturar
      INSERT INTO TLOG_ERRO_CALCULO VALUES ( @cd_usuario, 'sp_fat_calculo', 1, '000' )
      return(1)
    END
  END

  IF ( ( ( SELECT COUNT(*) 
           FROM   TFATURAMENTO_CC F, TITEM I (NOLOCK)
           WHERE  F.NR_PROCESSO   = @nr_processo AND
                  F.DT_LANCAMENTO <= @dt_fatura AND
                  F.IN_SEL_FAT    = '1' AND
                  F.IN_CANCELADO  = '0' AND
                  F.IN_FATURADO   = '0' AND
                  F.CD_ITEM       = I.CD_ITEM AND
                  I.CD_TIPO_ITEM  = 'R' AND
                  F.IN_RESTITUI   = '0' ) <= 0 ) AND 
       ( @tp_tipo_fat = 'F' ) ) AND
     ( ( ( SELECT COUNT(*) 
           FROM   TS_FATURA_PROCESSO_ITEM F, TITEM I (NOLOCK)
           WHERE  F.CD_UNID_NEG    = @cd_unid_neg AND
                  F.CD_PRODUTO     = @cd_produto  AND
                  F.NR_SOLICITACAO = @nr_solicitacao AND
                  F.NR_PROCESSO    = @nr_processo AND                  F.CD_ITEM        = I.CD_ITEM AND
                  I.CD_TIPO_ITEM   = 'R' AND
                  F.IN_RESTITUI    = '0' ) <= 0 ) AND 
       ( @tp_tipo_fat = 'F' ) )
  BEGIN
    IF ( SELECT ISNULL( TP_FAT_SEM_RECEITA, 0 )
         FROM   TPRODUTO (NOLOCK)
         WHERE  CD_PRODUTO = @cd_produto ) = 0
    BEGIN
      CLOSE c_fat      DEALLOCATE c_fat

      -- Tipo de Faturamento Nota Fiscal/Fatura deve possuir um item do tipo Receitas
      INSERT INTO TLOG_ERRO_CALCULO VALUES ( @cd_usuario, 'sp_fat_calculo', 2, '000' )
      return(2)
    END
  END           
          
  FETCH c_fat INTO @nr_processo
END
CLOSE c_fat
DEALLOCATE c_fat 

SELECT NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, 
       CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, 
       NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL 
INTO   #TMP_IR
FROM   TFATURAMENTO_CC
WHERE  NR_PROCESSO = NULL

/***** TUDO OK - INICIAR CALCULO ****/
DECLARE c_fat CURSOR FOR
  SELECT NR_PROCESSO 
  FROM   TS_FATURA_PROCESSO (NOLOCK)
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLICITACAO = @nr_solicitacao
OPEN c_fat
FETCH c_fat INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN
  SELECT @in_cobrar_iss   = IN_COBRAR_ISS,
         @in_cpmf_total   = IN_CPMF_TOTAL,
         @in_fat_sem_desp = IN_FAT_SEM_DESP,
         @nm_cidade = Upper(LTrim(RTrim(E.END_CIDADE)))  FROM   TPROCESSO P (NOLOCK), 
         TCLIENTE_HABILITACAO H (NOLOCK),
         TEMPRESA_NAC E (NOLOCK)
  WHERE  P.NR_PROCESSO = @nr_processo  AND
         P.CD_UNID_NEG = H.CD_UNID_NEG AND
         P.CD_PRODUTO  = H.CD_PRODUTO  AND
         P.CD_CLIENTE  = H.CD_CLIENTE  AND
         P.CD_CLIENTE  = E.CD_EMPRESA
  -- FATURAMENTO PERTECH
  
  IF @in_fat_sem_desp = '1'
  BEGIN
    UPDATE TFATURAMENTO_CC
    SET    IN_FATURADO = '2'
    WHERE  IN_FATURADO = '0' AND
           NR_PROCESSO = @nr_processo AND
           ( ISNULL( CD_UNID_NEG, '' ) = '' ) AND
           ( ISNULL( CD_PRODUTO, '' ) = '' ) AND
           ( ISNULL( NR_SOLIC_FAT, '' ) = '' )
  END 

  SELECT @nr_lanc = ISNULL( MAX( NR_LANCAMENTO ), '0000' )
  FROM   TFATURAMENTO_CC   WHERE  NR_PROCESSO = @nr_processo

 
  DECLARE c_fat_item CURSOR FOR
    SELECT CD_ITEM, VL_INFORMADO, IN_RESTITUI, CD_FAVORECIDO, IN_NAO_FAT
    FROM   TS_FATURA_PROCESSO_ITEM (NOLOCK)
    WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
           CD_PRODUTO     = @cd_produto     AND
           NR_SOLICITACAO = @nr_solicitacao AND
           NR_PROCESSO    = @nr_processo    AND
           VL_INFORMADO <> 0                AND
           @tp_tipo_fat NOT IN ( 'D', 'C' )
  OPEN c_fat_item
  FETCH c_fat_item INTO @cd_item, @vl_informado, @in_restitui, @cd_favorecido, @in_nao_fat
  WHILE @@fetch_status <> -1
  BEGIN

    /*** TRANSFERINDO PARA TFATURAMENTO_CC ***/
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ), 4 )
    IF @in_nao_fat = '1'
      SELECT @cd_item_nfat = @cd_item_nao_fat
    ELSE IF @in_nao_fat = '*'
      SELECT @cd_item_nfat = '*'
    ELSE
      SELECT @cd_item_nfat = NULL

    INSERT INTO TFATURAMENTO_CC 
       ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, 
         VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, 
         IN_CONTABIL, CD_ITEM_NAO_FAT )
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_favorecido, @cd_item, 'S', '6', @vl_informado, 
             0, 0, '0', '0', @nr_solicitacao, @in_restitui, @cd_unid_neg, @cd_produto, '0', @cd_item_nfat )

    --Inserir Pagamentos do Cliente
    IF @cd_item_nfat = '*'
    BEGIN
      IF NOT EXISTS( SELECT * 
                     FROM   TFATURAMENTO_CC_CLIENTE (NOLOCK)
                     WHERE  NR_PROCESSO = @nr_processo AND
                            CD_ITEM = @cd_item )
      BEGIN
        SELECT @nr_lanc_cli = ISNULL( RIGHT( '0000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )
        FROM   TFATURAMENTO_CC_CLIENTE (NOLOCK)        WHERE  NR_PROCESSO = @nr_processo

        IF @nr_lanc_cli = '000' SELECT @nr_lanc_cli = '001'

        INSERT TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO, IN_FATURA )
        VALUES ( @nr_processo, @nr_lanc_cli, @dt_fatura, @cd_item, @vl_informado, '0', '1' )
      END
    END

    FETCH c_fat_item INTO @cd_item, @vl_informado, @in_restitui, @cd_favorecido, @in_nao_fat
  END
  CLOSE c_fat_item
  DEALLOCATE c_fat_item
  -- Demonstrativo - 11/05/2006
  DECLARE c_fat_item CURSOR FOR
    SELECT CD_ITEM, VL_INFORMADO, IN_RESTITUI, CD_FAVORECIDO, IN_NAO_FAT
    FROM   TS_FATURA_PROCESSO_ITEM (NOLOCK)
    WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
           CD_PRODUTO     = @cd_produto     AND
           NR_SOLICITACAO = @nr_solicitacao AND
           NR_PROCESSO    = @nr_processo    AND
           VL_INFORMADO <> 0                AND
           @tp_tipo_fat IN ( 'D', 'C' )
  OPEN c_fat_item
  FETCH c_fat_item INTO @cd_item, @vl_informado, @in_restitui, @cd_favorecido, @in_nao_fat
  WHILE @@fetch_status <> -1
  BEGIN
    /*** TRANSFERINDO PARA TFATURAMENTO_CC ***/
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ), 4 )
    IF @in_nao_fat = '1'
      SELECT @cd_item_nfat = @cd_item_nao_fat
    ELSE IF @in_nao_fat = '*'
      SELECT @cd_item_nfat = '*'
    ELSE
      SELECT @cd_item_nfat = NULL
     
    INSERT INTO TFATURAMENTO_CC 
       ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, 
         VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, 
         IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO )
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_favorecido, @cd_item, 'S', '6', @vl_informado, 
             0, 0, '2', '0', @nr_solicitacao, @in_restitui, @cd_unid_neg, @cd_produto, '0', @cd_item_nfat, @in_demonstrado )
    --Inserir Pagamentos do Cliente
    IF @cd_item_nfat = '*'
    BEGIN
      IF NOT EXISTS( SELECT * 
                     FROM   TFATURAMENTO_CC_CLIENTE (NOLOCK)
                     WHERE  NR_PROCESSO = @nr_processo AND
                            CD_ITEM = @cd_item )
      BEGIN
        SELECT @nr_lanc_cli = ISNULL( RIGHT( '0000' + CONVERT( varchar, ( CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ), 3 ),  '001' )
        FROM   TFATURAMENTO_CC_CLIENTE (NOLOCK)        WHERE  NR_PROCESSO = @nr_processo

        IF @nr_lanc_cli = '000' SELECT @nr_lanc_cli = '001'

        INSERT TFATURAMENTO_CC_CLIENTE ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_ITEM, VL_ITEM, IN_CANCELADO, IN_FATURA )
        VALUES ( @nr_processo, @nr_lanc_cli, @dt_fatura, @cd_item, @vl_informado, '0', '2' )
      END
    END

    FETCH c_fat_item INTO @cd_item, @vl_informado, @in_restitui, @cd_favorecido, @in_nao_fat
  END
  CLOSE c_fat_item
  DEALLOCATE c_fat_item

  /*** JOGA NR_SOLICITACAO PARA CD_ITEM = SDA - CLIENTE DUPONT ***/
  /*** INCLUÍDO TAMBÉM ITEM AUTENTICAÇÕES - 055 (KLEBER - 24/01/2007) A PEDIDO DE PAULA SANTOS ***/
  /*** EXCETO PARA DU PONT CAMAÇARI (CÓD. 00932) POIS A MESMA IRÁ EMITIR FATURA (KLEBER - 15/01/2007) A PEDIDO DE CARLOS BUSS ***/
  UPDATE TFATURAMENTO_CC
  SET NR_SOLIC_FAT = @nr_solicitacao,
      CD_UNID_NEG = @cd_unid_neg,
      CD_PRODUTO = @cd_produto,
      IN_FATURADO = '2'
  WHERE CD_ITEM IN ( '008', '311', '424', '514', '055' )
    AND NR_PROCESSO = @nr_processo 
    AND @cd_cliente <> '00932'
    AND ISNULL( NR_SOLIC_FAT, '' )  = ''
    AND ( SELECT COUNT( NR_PROCESSO ) 
          FROM TSOLIC_PAGTO (NOLOCK)
          WHERE NR_PROCESSO = @nr_processo
            AND ISNULL( NR_RD, '' ) <> '') > 0

-- 14/11/2006
--  UPDATE TFATURAMENTO_CC
--  SET NR_SOLIC_FAT = @nr_solicitacao,
--      CD_UNID_NEG = @cd_unid_neg,
--      CD_PRODUTO = @cd_produto,
--      IN_FATURADO = '2'
--  WHERE CD_ITEM = @cd_item_sda
--    AND NR_PROCESSO = @nr_processo 
--    AND ISNULL( NR_SOLIC_FAT, '' )  = ''
--    AND ( SELECT COUNT( NR_PROCESSO ) 
--          FROM TSOLIC_PAGTO (NOLOCK)
--          WHERE NR_PROCESSO = @nr_processo
--            AND ISNULL( NR_RD, '' ) <> '' ) > 0



  /*** CALCULAR CPMF ITEM A ITEM ***/
  IF ( SELECT COUNT(*)
       FROM   TS_FATURA_PROCESSO_ITEM (NOLOCK)
       WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
              CD_PRODUTO     = @cd_produto     AND
              NR_SOLICITACAO = @nr_solicitacao AND
              NR_PROCESSO    = @nr_processo    AND
              CD_ITEM        = @cd_item_cpmf ) = 0 AND
     ( SELECT COUNT(*)
       FROM   TCLIENTE_HABILITACAO H (NOLOCK)
       JOIN   TPROCESSO P
         ON  (P.CD_UNID_NEG    = H.CD_UNID_NEG AND
              P.CD_PRODUTO     = H.CD_PRODUTO  AND
              P.CD_CLIENTE     = H.CD_CLIENTE )
       WHERE  P.NR_PROCESSO    = @nr_processo  AND
              H.IN_COBRAR_CPMF = '1'           AND
              H.IN_NOTA_LIQ    = '0' ) > 0
  BEGIN
    -- Despesas
    SELECT @vl_cpmf = 0

    DECLARE c_fat_cc CURSOR FOR
      SELECT F.CD_ITEM, 
             CASE @in_arredonda_cpmf_item 
             WHEN '1' THEN ROUND( ( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * X.PC_TAXA / 100 ), 2 )
             ELSE ( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * X.PC_TAXA / 100 )
             END, IN_CPMF, F.IN_RESTITUI
      FROM   TFATURAMENTO_CC F (NOLOCK), 
             TITEM I (NOLOCK), 
             TTIPO_ITEM T (NOLOCK), 
             TTAXA_CPMF X (NOLOCK), 
             TBANCO B (NOLOCK)
      WHERE  F.NR_PROCESSO   = @nr_processo  AND
             F.DT_LANCAMENTO <= @dt_fatura  AND
             F.IN_CANCELADO  = '0' AND
             F.IN_SEL_FAT    = '1' AND
             F.IN_FATURADO   = '0' AND
             F.CD_ITEM       = I.CD_ITEM AND
             I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM AND
             T.TP_NATUREZA   = 'D' AND
             T.IN_FATURAR    = '1' AND
             F.CD_BANCO      *= B.CD_BANCO AND
             F.DT_LANCAMENTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
             @tp_tipo_fat IN ( 'F', 'N' ) AND    
             LTRIM( RTRIM( ISNULL( F.CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
             F.CD_ITEM NOT IN ( @CD_ITEM_ISS, @CD_ITEM_RECEB_NUM, @CD_ITEM_EXTOR_NUM, @CD_ITEM_DEVOL_NUM, @CD_ITEM_PAGO_CLI )

    OPEN c_fat_cc
    FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item, @in_restitui_cpmf
    WHILE @@fetch_status <> -1
    BEGIN

      SELECT @in_cpmf_cliente = NULL

      SELECT @in_cpmf_cliente = IN_CPMF
      FROM   TPROCESSO P (NOLOCK), 
             TCLIENTE_CPMF C (NOLOCK)
      WHERE  P.NR_PROCESSO = @nr_processo  AND
             P.CD_UNID_NEG = C.CD_UNID_NEG AND
             P.CD_PRODUTO  = C.CD_PRODUTO  AND
             P.CD_CLIENTE  = C.CD_CLIENTE  AND
             C.CD_ITEM     = @cd_item

      SELECT @in_cpmf_cliente = ISNULL( @in_cpmf_cliente, '1' ) 

      IF ( @in_cpmf_item = '1' ) AND ( @in_cpmf_cliente = '1' )
      BEGIN
       IF @in_restitui_cpmf = '0' 
          SELECT @vl_cpmf = @vl_cpmf + @vl_item 
 ELSE 
          SELECT @vl_cpmf = @vl_cpmf - @vl_item 
      END

      FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item, @in_restitui_cpmf
    END     
    CLOSE c_fat_cc
    DEALLOCATE c_fat_cc

    -- Numerário
    SELECT @vl_cpmf_num = 0

    DECLARE c_fat_cc CURSOR FOR
      SELECT F.CD_ITEM, 
             CASE @in_arredonda_cpmf_item 
             WHEN '1' THEN ROUND( ( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * X.PC_TAXA / 100 ), 2 )
             ELSE ( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * X.PC_TAXA / 100 )
             END, IN_CPMF
      FROM   TFATURAMENTO_CC F (NOLOCK), 
             TITEM I (NOLOCK), 
             TTAXA_CPMF X (NOLOCK), 
             TBANCO B (NOLOCK)
      WHERE  F.NR_PROCESSO   = @nr_processo  AND
             F.DT_LANCAMENTO <= @dt_fatura  AND
             F.IN_CANCELADO  = '0' AND
             F.IN_SEL_FAT    = '1' AND
             F.IN_FATURADO   = '0' AND
             F.CD_ITEM       = I.CD_ITEM AND
             F.CD_BANCO      *= B.CD_BANCO AND
             F.DT_LANCAMENTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
             @tp_tipo_fat IN ( 'F', 'N' ) AND  
             LTRIM( RTRIM( ISNULL( F.CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
             ( F.CD_ITEM IN ( @CD_ITEM_RECEB_NUM, @CD_ITEM_EXTOR_NUM, @CD_ITEM_DEVOL_NUM ) )

    OPEN c_fat_cc
    FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item
    WHILE @@fetch_status <> -1
    BEGIN
      IF @cd_item = @CD_ITEM_RECEB_NUM
        SELECT @in_restitui_cpmf = '0'
      ELSE
        SELECT @in_restitui_cpmf = '1'

      SELECT @in_cpmf_cliente = NULL

      SELECT @in_cpmf_cliente = IN_CPMF
      FROM   TPROCESSO P (NOLOCK), 
             TCLIENTE_CPMF C (NOLOCK)
      WHERE  P.NR_PROCESSO = @nr_processo  AND
             P.CD_UNID_NEG = C.CD_UNID_NEG AND
             P.CD_PRODUTO  = C.CD_PRODUTO  AND
             P.CD_CLIENTE  = C.CD_CLIENTE  AND
             C.CD_ITEM     = @cd_item

      SELECT @in_cpmf_cliente = ISNULL( @in_cpmf_cliente, '1' ) 

      IF ( @in_cpmf_item = '1' ) AND ( @in_cpmf_cliente = '1' )
      BEGIN
       IF @in_restitui_cpmf = '0' 
          SELECT @vl_cpmf_num = @vl_cpmf_num + @vl_item 
       ELSE 
          SELECT @vl_cpmf_num = @vl_cpmf_num - @vl_item
      END

      FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item
    END     
    CLOSE c_fat_cc
    DEALLOCATE c_fat_cc
    
    IF ( @in_cpmf_total = '1' ) AND ( ROUND( @vl_cpmf_num, 2 ) > ROUND( @vl_cpmf, 2 ) )
    BEGIN
      SELECT @vl_cpmf = @vl_cpmf_num
    END
    
    IF ROUND( @vl_cpmf, 2 ) > 0
    BEGIN
      SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ), 4 )
      INSERT INTO TFATURAMENTO_CC 
         ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
           VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
      VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_cpmf, 'S', '6', ROUND( @vl_cpmf, 2 ), 0, 0, '0', '0', 
               @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
    END
  END

  /*** CALCULAR CPMF SOBRE TOTAL ( EMBRAER - SERVIMEX )***/
  IF ( SELECT COUNT(*)
       FROM   TS_FATURA_PROCESSO_ITEM (NOLOCK)
       WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
              CD_PRODUTO     = @cd_produto     AND
              NR_SOLICITACAO = @nr_solicitacao AND
              NR_PROCESSO    = @nr_processo    AND
              CD_ITEM        = @cd_item_cpmf ) = 0 AND
     ( SELECT COUNT(*)
       FROM   TCLIENTE_HABILITACAO H (NOLOCK)
       JOIN   TPROCESSO P (NOLOCK)
         ON  (P.CD_UNID_NEG    = H.CD_UNID_NEG AND
              P.CD_PRODUTO     = H.CD_PRODUTO  AND
          P.CD_CLIENTE     = H.CD_CLIENTE )
       WHERE  P.NR_PROCESSO    = @nr_processo  AND
              H.IN_COBRAR_CPMF = '1' AND
              H.IN_NOTA_LIQ = '1' ) > 0
  BEGIN
    SELECT @vl_cpmf = 0
    SELECT @vl_cpmf = 
           CASE @in_arredonda_cpmf_item
           WHEN '1' THEN
             ROUND( 
                    ( 
                      SUM( 
                          CASE ISNULL( I.IN_CPMF, '1' ) -- Item 
                            WHEN '1' THEN
                              CASE ISNULL( C.IN_CPMF, '1' ) -- Item Cliente
                                WHEN '1' THEN
                                  CASE ISNULL( F.IN_RESTITUI, '0' )
                                    WHEN '0' THEN ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) 
                                    ELSE ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * (-1)
                                  END -- CASE IN_RESTITUI
                                ELSE 0
                              END -- CASE C.IN_CPMF
                            ELSE 0                          END -- CASE I.IN_CPMF
                         ) 
                      * MAX( X.PC_TAXA ) / 100 
                    ), 2 ) 
           ELSE
             SUM( 
               CASE ISNULL( I.IN_CPMF, '1' ) -- Item 
                 WHEN '1' THEN
                   CASE ISNULL( C.IN_CPMF, '1' ) -- Item Cliente
                     WHEN '1' THEN
                       CASE ISNULL( F.IN_RESTITUI, '0' )
                         WHEN '0' THEN ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) 
                         ELSE ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) ) * (-1)
                       END -- CASE IN_RESTITUI
                     ELSE 0
                   END -- CASE C.IN_CPMF
                 ELSE 0
               END -- CASE I.IN_CPMF
                ) * MAX( X.PC_TAXA ) / 100 
           END
      FROM   TFATURAMENTO_CC F (NOLOCK), 
             TITEM I (NOLOCK), 
             TTIPO_ITEM T (NOLOCK), 
             TTAXA_CPMF X (NOLOCK), 
             TBANCO B (NOLOCK),
             TPROCESSO P (NOLOCK),
             TCLIENTE_HABILITACAO H (NOLOCK),
             TCLIENTE_CPMF C (NOLOCK)
      WHERE  F.NR_PROCESSO   = @nr_processo  AND
             F.DT_LANCAMENTO <= @dt_fatura  AND
             F.IN_CANCELADO  = '0' AND
             F.IN_SEL_FAT    = '1' AND
             F.IN_FATURADO   = '0' AND
             F.NR_PROCESSO   = P.NR_PROCESSO AND
             P.CD_UNID_NEG   = H.CD_UNID_NEG AND
             P.CD_PRODUTO    = H.CD_PRODUTO AND
             P.CD_CLIENTE    = H.CD_CLIENTE AND             
             H.CD_UNID_NEG   *= C.CD_UNID_NEG AND
             H.CD_PRODUTO    *= C.CD_PRODUTO AND
             H.CD_CLIENTE    *= C.CD_CLIENTE AND
             F.CD_ITEM       *= C.CD_ITEM AND
             F.CD_ITEM       = I.CD_ITEM AND
             I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM AND
             T.TP_NATUREZA   = 'D' AND
             T.IN_FATURAR    = '1' AND
             F.CD_BANCO      *= B.CD_BANCO AND
             F.DT_LANCAMENTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
             @tp_tipo_fat    IN ( 'F', 'N' ) AND 
             LTRIM( RTRIM( ISNULL( F.CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
             F.CD_ITEM NOT IN ( @CD_ITEM_ISS, @CD_ITEM_RECEB_NUM, @CD_ITEM_EXTOR_NUM, @CD_ITEM_DEVOL_NUM, @CD_ITEM_PAGO_CLI )
        
    SELECT @vl_cpmf = ISNULL( @vl_cpmf, 0 )

    IF @vl_cpmf > 0
    BEGIN
      SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )
      INSERT INTO TFATURAMENTO_CC 
         ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
           VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
      VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_cpmf, 'S', '6', @vl_cpmf, 0, 0, '0', '0', 
               @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
    END
  END
  /* CALCULAR ISS POR DENTRO */
  IF @cd_unid_neg = '02' --RJ
  BEGIN
    SELECT @vl_base_iss = ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 )
    FROM   TFATURAMENTO_CC F (NOLOCK), 
           TITEM I (NOLOCK)
    WHERE  F.IN_FATURADO = '0' AND
           F.IN_SEL_FAT = '1' AND
           F.DT_LANCAMENTO <= @dt_fatura AND
           F.NR_PROCESSO = @nr_processo AND
           F.IN_CANCELADO = '0' AND
           F.CD_ITEM = I.CD_ITEM AND
           F.IN_RESTITUI = '0' AND
           I.IN_TRIBUTAVEL = '1' AND 
           @tp_tipo_fat NOT IN ( 'D', 'C' ) AND
           LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

    SELECT @vl_base_iss = ROUND( @vl_base_iss - ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 ), 2 )
    FROM   TFATURAMENTO_CC F (NOLOCK),            TITEM I (NOLOCK)
    WHERE  F.IN_FATURADO = '0' AND
           F.IN_SEL_FAT = '1' AND           F.DT_LANCAMENTO <= @dt_fatura AND
           F.NR_PROCESSO = @nr_processo AND
           F.IN_CANCELADO = '0' AND
           F.CD_ITEM = I.CD_ITEM AND
           F.IN_RESTITUI = '1' AND
           I.IN_TRIBUTAVEL = '1' AND 
           @tp_tipo_fat NOT IN ( 'D', 'C' ) AND 
           LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'
    
    SELECT @vl_iss = ROUND ( ( ( @vl_base_iss * 100 ) / ( 100 - @vl_aliq_iss ) ) - @vl_base_iss, 2 )

    IF ( @in_cobrar_iss = '1' ) AND ( @vl_iss > 0 )
    BEGIN
      SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )

      INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, 
             CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, 
             NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL, IN_SEL_FAT )
      VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_iss, 
               'S', '6', @vl_iss, 0, 0, '0', '0', @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0', '1' )
    END
  END

  SELECT @vl_base_ir = ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 )
  FROM   TFATURAMENTO_CC F (NOLOCK), 
         TITEM I (NOLOCK)
  WHERE  F.IN_FATURADO = '0' AND
         F.IN_SEL_FAT = '1' AND
         F.DT_LANCAMENTO <= @dt_fatura AND
         F.NR_PROCESSO = @nr_processo AND
         F.IN_CANCELADO = '0' AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '0' AND
         I.IN_TRIBUTAVEL = '1' AND 
         @tp_tipo_fat NOT IN ( 'D', 'C' ) AND  
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

  SELECT @vl_base_ir = ROUND( @vl_base_ir - ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 ), 2 )
  FROM   TFATURAMENTO_CC F (NOLOCK), 
         TITEM I (NOLOCK)
  WHERE  F.IN_FATURADO = '0' AND
         F.IN_SEL_FAT = '1' AND
         F.DT_LANCAMENTO <= @dt_fatura AND
         F.NR_PROCESSO = @nr_processo AND
         F.IN_CANCELADO = '0' AND
         F.CD_ITEM = I.CD_ITEM AND
         F.IN_RESTITUI = '1' AND
         I.IN_TRIBUTAVEL = '1' AND 
         @tp_tipo_fat NOT IN ( 'D', 'C' ) AND
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

  SELECT @vl_calc_ir = ROUND ( ( @vl_base_ir * @vl_aliq_ir / 100 ), 2)
  SELECT @vl_ir = @vl_calc_ir

  IF @vl_ir > 0
  BEGIN
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )
    INSERT INTO #TMP_IR
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_ir, 
             'S', '6', @vl_ir, 0, 0, '0', '0', @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
    SELECT @vl_tot_ir = @vl_tot_ir + @vl_ir
  END

  FETCH c_fat INTO @nr_processo
END
CLOSE c_fat
DEALLOCATE c_fat
SELECT @cd_ir_fat  = CD_IR_FAT,
       @in_calcula_irrf_vl_min = IN_CALCULA_IRRF_VL_MIN,
       @in_cobrar_cofins = CD_IR_FAT, --IN_COBRAR_COFINS, ANDRÉ 12/09
       @vl_ali_cofins_cliente = ISNULL( VL_ALIQ_COFINS_CLIENTE, 0),
       @cd_ret_fat = CD_RET_FAT, 
	   @in_cobrar_cofins577 = IN_COBRAR_COFINS
FROM   TCLIENTE_HABILITACAO (NOLOCK)
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO  = @cd_produto  AND
       CD_CLIENTE  = @cd_cliente


/***** COFINS e RETENÇÃO ****/

-- Encontra valor tributável pq COFINS e Retenção são calculados sobre ele
SELECT @vl_sub_tot_tributavel =
       ISNULL( ROUND( SUM(
       CASE IN_RESTITUI 
         WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
         WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
       END ), 2 ), 0 )
FROM   TFATURAMENTO_CC FI (NOLOCK), TITEM I (NOLOCK)
WHERE  FI.CD_ITEM = I.CD_ITEM AND
       FI.IN_FATURADO = '0' AND
       I.IN_TRIBUTAVEL = '1' AND
       FI.IN_CANCELADO = '0' AND
--       FI.CD_UNID_NEG = @cd_unid_neg AND
--       FI.CD_PRODUTO = @cd_produto AND
--       FI.NR_SOLIC_FAT = @nr_solicitacao AND
       FI.NR_PROCESSO = @nr_processo AND
       ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
       FI.CD_ITEM NOT IN ( @CD_ITEM_RECEB_NUM, @CD_ITEM_DEVOL_NUM, @CD_ITEM_EXTOR_NUM, @CD_ITEM_SALDO_CRE, 
		           @CD_ITEM_SALDO_DEB, @CD_ITEM_RECEB_SD, @CD_ITEM_PAGTO_SD, @CD_ITEM_EXT_RECEB, 
			   @CD_ITEM_EXT_PAGTO, @CD_ITEM_NAO_FAT, @CD_ITEM_IR, @cd_item_cofins_ret,
			   @CD_ITEM_COMISSAO, @CD_ITEM_PAGO_CLI, @CD_ITEM_ISS )

SELECT @vl_comissao =
       ISNULL( ROUND( SUM(
       CASE IN_RESTITUI 
         WHEN '0' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) )
         WHEN '1' THEN ( ISNULL( FI.VL_ITEM, 0 ) + ISNULL( FI.VL_ASSIST, 0 ) - ISNULL( FI.VL_IR, 0 ) ) * (-1)
       END ), 2 ), 0 )
FROM   TFATURAMENTO_CC FI (NOLOCK)
WHERE  FI.IN_CANCELADO = '0' AND
       FI.CD_UNID_NEG = @cd_unid_neg AND
       FI.CD_PRODUTO = @cd_produto AND
       FI.NR_SOLIC_FAT = @nr_solicitacao AND
       FI.CD_ITEM = @CD_ITEM_COMISSAO
SELECT @vl_tot_tributavel = ISNULL( @vl_sub_tot_tributavel, 0 ) + ISNULL( @vl_comissao, 0 )

/*** COFINS LEI 10833/03 ( não cobra CPMF ) ***/
IF @in_cobrar_cofins = '1'
BEGIN
   -- Se o cliente possuir uma alíquota de cofins, o valor será o do cliente (TCLIENTE_HABILITACAO.VL_ALIQ_COFINS_CLIENTE)
   -- caso contrário, será o valor padrão de cofins da TPARAMETROS
    IF @vl_ali_cofins_cliente <> 0 
	  SET @vl_aliq_cofins = @vl_ali_cofins_cliente

    SET @vl_calc_cofins = 0
    SELECT @vl_calc_cofins = ROUND ( ( @vl_tot_tributavel * @vl_aliq_cofins / 100 ), 2 )

    IF @vl_calc_cofins <> 0 and @in_cobrar_cofins577 <> 0
    BEGIN
      SELECT @vl_cofins = @vl_calc_cofins
      SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )
      INSERT INTO TFATURAMENTO_CC 
             ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
               VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
      VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_cofins, 'S', '6', @vl_cofins,
               0, 0, '0', '0', @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )    
    END
END

/*** VERIFICANDO SALDO DO PROCESSO ***/  
DECLARE c_fat CURSOR FOR
  SELECT  NR_PROCESSO
  FROM    TS_FATURA_PROCESSO (NOLOCK)
  WHERE   CD_UNID_NEG    = @cd_unid_neg AND
          CD_PRODUTO     = @cd_produto  AND
          NR_SOLICITACAO = @nr_solicitacao 
  GROUP BY NR_PROCESSO
OPEN c_fat
FETCH c_fat INTO @nr_processo
WHILE @@fetch_status <> -1
BEGIN
  -- Verificar cidade para creditar ISS quando Santos
  SELECT @nm_cidade  = Upper(LTrim(RTrim(E.END_CIDADE))) 
  FROM   TEMPRESA_NAC E (NOLOCK)
  WHERE  E.CD_EMPRESA = @cd_cliente

PRINT @nm_cidade  

  SELECT @vl_cpmf = ISNULL( SUM( VL_ITEM ), 0 )
  FROM   TFATURAMENTO_CC
  WHERE  CD_UNID_NEG  = @cd_unid_neg AND
         CD_PRODUTO   = @cd_produto  AND
         NR_SOLIC_FAT = @nr_solicitacao AND
         NR_PROCESSO  = @nr_processo AND
         CD_ITEM      = @cd_item_cpmf
        and CD_USUARIO <> '666'

       
  SELECT @vl_ir = ISNULL( SUM( VL_ITEM ), 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_SOLIC_FAT = @nr_solicitacao AND
         CD_ITEM = @CD_ITEM_IR
	 and CD_USUARIO <> '666'


  SELECT @vl_ir = ISNULL( @vl_ir , 0 )




  /* ADICIONAR ISS AO SALDO QUANDO MUNICÍPIO DE SANTOS */
  IF (@nm_cidade = 'SANTOS') --and (@CD_UNID_NEG = '01')
  BEGIN
    SELECT @vl_base_iss = ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 )
    FROM   TFATURAMENTO_CC F (NOLOCK), 
           TITEM I (NOLOCK)
    WHERE  F.IN_FATURADO = '0' AND
           F.IN_SEL_FAT = '1' AND
           F.DT_LANCAMENTO <= @dt_fatura AND
           F.NR_PROCESSO = @nr_processo AND
           F.IN_CANCELADO = '0' AND
           F.CD_ITEM = I.CD_ITEM AND
           F.IN_RESTITUI = '0' AND
           I.IN_TRIBUTAVEL = '1' AND 
          LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

    SELECT @vl_base_iss = ROUND( @vl_base_iss - ROUND( ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 ), 2 ), 2 )
    FROM   TFATURAMENTO_CC F (NOLOCK), 
           TITEM I (NOLOCK)
    WHERE  F.IN_FATURADO = '0' AND
           F.IN_SEL_FAT = '1' AND
           F.DT_LANCAMENTO <= @dt_fatura AND
           F.NR_PROCESSO = @nr_processo AND
           F.IN_CANCELADO = '0' AND
           F.CD_ITEM = I.CD_ITEM AND
           F.IN_RESTITUI = '1' AND
           I.IN_TRIBUTAVEL = '1' AND 
           LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*'

    SELECT @vl_iss = ROUND( @vl_base_iss * ( @vl_aliq_iss / 100 ), 2 )
  END 


-- Lança com valor zerado os itens de IR (994) e PIS/COFINS (578 - retenção na fonte). (NOTA: ELES SERÃO CALCULADOS NA IMPRESSÃO DA NOTA)
  IF (@tp_tipo_fat = 'F') AND (@vl_tot_tributavel <> 0)
  BEGIN
  --SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ), 4 )
  SELECT TOP 1  @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, NR_LANCAMENTO ) + 1 ) ) ), 4 ) FROM   TFATURAMENTO_CC WHERE  NR_PROCESSO = @nr_processo  ORDER BY NR_LANCAMENTO DESC

  INSERT INTO TFATURAMENTO_CC
    ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
     VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
   VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @CD_ITEM_IR, 'S', '6', 0, 
	 0, 0, '0', '0', @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )

  --SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ), 4 )
  SELECT TOP 1 @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, NR_LANCAMENTO ) + 1 ) ) ), 4 ) FROM   TFATURAMENTO_CC WHERE  NR_PROCESSO = @nr_processo  ORDER BY NR_LANCAMENTO DESC

  INSERT INTO TFATURAMENTO_CC
    ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
     VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
   VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_cofins_ret, 'S', '6', 0, 
	 0, 0, '0', '0', @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
  END

-- Calcular os totais dos itens de crédito e débito 
  SELECT @vl_saldo_cre = 
         ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0)
  FROM   TFATURAMENTO_CC F (NOLOCK), TITEM I (NOLOCK), TTIPO_ITEM T (NOLOCK)
  WHERE  F.NR_PROCESSO    = @nr_processo AND
         F.DT_LANCAMENTO  <= @dt_fatura AND
         F.IN_CANCELADO  = '0' AND
         F.IN_SEL_FAT = '1' AND
         @tp_tipo_fat NOT IN ( 'D', 'C' ) AND
         F.IN_FATURADO = '0' AND 
         F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA = 'C' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA = 'D' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR = '1' AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
         F.CD_ITEM NOT IN ( @CD_ITEM_ISS, @CD_ITEM_PAGO_CLI, @CD_ITEM_EXTOR_NUM, @CD_ITEM_IR, @cd_item_cofins_ret )

  SELECT @vl_saldo_deb =          ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 )  FROM   TFATURAMENTO_CC F, TITEM I, TTIPO_ITEM T
  WHERE  F.NR_PROCESSO = @nr_processo AND
         F.DT_LANCAMENTO <= @dt_fatura AND
         F.IN_CANCELADO = '0' AND
         F.IN_SEL_FAT = '1' AND
         @tp_tipo_fat NOT IN ( 'D', 'C' ) AND
         F.IN_FATURADO = '0' AND 
         F.CD_ITEM = I.CD_ITEM AND
         I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA  = 'D' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA  = 'C' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR  = '1' AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
         ( ( F.CD_ITEM NOT IN ( @CD_ITEM_ISS ) ) OR ( @in_cobrar_iss = '1' ) ) AND
         F.CD_ITEM NOT IN ( @CD_ITEM_RECEB_NUM, @CD_ITEM_PAGO_CLI, @CD_ITEM_IR, @cd_item_cofins_ret )
   
--/*/* ADICIONAR ISS AO SALDO CREDOR QUANDO MUNICÍPIO DE SANTOS */
  IF (@nm_cidade = 'SANTOS') --and (@cd_unid_neg = '01')  --rodrigo
  BEGIN
    SELECT @vl_saldo_cre = @vl_saldo_cre + @vl_iss
  END
--*/ --Comentado por André dia 29/05/2009 a pedido a da Delaine ocorrencia:09459/09 
--Descomentado por André dia 08/07/2009 a pedido a da Andreia ocorrencia:1031009

  IF ISNULL( @vl_saldo_cre, 0 ) > ISNULL( @vl_saldo_deb, 0 )
     SELECT @cd_item_saldo = @cd_item_saldo_cre
  ELSE
     SELECT @cd_item_saldo = @cd_item_saldo_deb

  SELECT @vl_saldo_tot = ABS( @vl_saldo_cre - @vl_saldo_deb )

------------------------------------------------------------------------------------------------------------------
  DECLARE @vl_cpmf_saldo_credor float

  SELECT @vl_cpmf_saldo_credor = 0

  IF ( ( @vl_saldo_cre - @vl_saldo_deb ) > 0 ) AND 
     ( SELECT COUNT(*)
       FROM   TCLIENTE_HABILITACAO H (NOLOCK)
       JOIN   TPROCESSO P (NOLOCK)
         ON  (P.CD_UNID_NEG    = H.CD_UNID_NEG AND
              P.CD_PRODUTO     = H.CD_PRODUTO  AND
              P.CD_CLIENTE     = H.CD_CLIENTE )
       WHERE  P.NR_PROCESSO    = @nr_processo  AND
              H.IN_CPMF_SALDO_CREDOR = '1' ) > 0
  BEGIN
    DECLARE @vl_tx_cpmf FLOAT

    SELECT @vl_tx_cpmf = PC_TAXA FROM TTAXA_CPMF (NOLOCK) WHERE @dt_fatura BETWEEN DT_INICIO AND DT_FIM

    if isnull(@vl_tx_cpmf,0) > 0 
    begin
      IF @in_arredonda_cpmf_item = '1'
        SELECT @vl_cpmf_saldo_credor = ROUND( ( @vl_saldo_tot * ( @vl_tx_cpmf / 100 ) ), 2 )
      ELSE
        SELECT @vl_cpmf_saldo_credor = ( @vl_saldo_tot * ( @vl_tx_cpmf / 100 ) )

      SELECT @vl_saldo_tot = @vl_saldo_tot - @vl_cpmf_saldo_credor

      SELECT @vl_cpmf = ISNULL( @vl_cpmf, 0 ) + ISNULL( @vl_cpmf_saldo_credor, 0 )
      IF NOT EXISTS( SELECT *
                     FROM   TFATURAMENTO_CC (NOLOCK)
                     WHERE  NR_PROCESSO    = @nr_processo AND
                            CD_ITEM        = @cd_item_cpmf AND
                            NR_SOLIC_FAT   = @nr_solicitacao AND
                            CD_UNID_NEG    = @cd_unid_neg AND
                            CD_PRODUTO     = @cd_produto )
      BEGIN
        SELECT @nr_lanc = ISNULL( MAX( NR_LANCAMENTO ), '0000' )
        FROM   TFATURAMENTO_CC  (NOLOCK)        WHERE  NR_PROCESSO = @nr_processo

        SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ), 4 )

        INSERT INTO TFATURAMENTO_CC
           ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
             VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
        VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_cpmf, 'S', '6', ROUND( @vl_cpmf, 2 ), 0, 0, '0', '0',
                 @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
      END 
      ELSE
      BEGIN
        UPDATE TFATURAMENTO_CC
        SET    VL_ITEM        = @vl_cpmf
        WHERE  NR_PROCESSO    = @nr_processo AND
               CD_ITEM        = @cd_item_cpmf AND
               CD_FORMA_PAGTO = 'S'	AND
               CD_ORIGEM_LANC = '6' AND
               NR_SOLIC_FAT   = @nr_solicitacao AND
               CD_UNID_NEG    = @cd_unid_neg AND
               CD_PRODUTO     = @cd_produto
      END
    end
  END
------------------------------------------------------------------------------------------------------------------

  IF @vl_saldo_tot <> 0
  BEGIN
    SELECT @in_sd_fat_zero  = IN_SD_FAT_ZERO,
           @in_sd_nota_zero = IN_SD_NOTA_ZERO
    FROM   TCLIENTE_HABILITACAO (NOLOCK)    WHERE  CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO  = @cd_produto  AND
           CD_CLIENTE  = @cd_cliente

    IF ( ( @tp_tipo_fat = 'F' ) AND ( @in_sd_fat_zero = '1' ) )
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat
      /*** SALDO DA FATURA DEVE SER ZERO ***/
      SELECT @vl_sd_fat_zero = @vl_saldo_tot
      return(4)
    END
    IF ( ( @tp_tipo_fat = 'N' ) AND ( @in_sd_nota_zero = '1' ) )
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat
      /*** SALDO DA NOTA DE CRÉDITO/DÉBITO DEVE SER ZERO ***/
      return(5)
    END  END

  IF ( @tp_tipo_fat <> 'D' ) and ( @tp_tipo_fat <> 'C' )
  BEGIN
    SELECT @nr_lanc = ISNULL( MAX( NR_LANCAMENTO ), '0000' )
    FROM   TFATURAMENTO_CC (nolock)    WHERE  NR_PROCESSO = @nr_processo
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )

    INSERT INTO TFATURAMENTO_CC 
       ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, 
         VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_saldo, 'S', '6', @vl_saldo_tot, 0, 0, '1', '0', 
             @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )  END


  UPDATE TFATURAMENTO_CC
  SET    IN_FATURADO  = '1',
         IN_SEL_FAT   = '0',
         CD_UNID_NEG  = @cd_unid_neg,
         CD_PRODUTO   = @cd_produto,
         NR_SOLIC_FAT = @nr_solicitacao
  WHERE  NR_PROCESSO  = @nr_processo AND
         IN_FATURADO  = '0' AND
         IN_SEL_FAT   = '1' AND
         @tp_tipo_fat NOT IN ( 'D', 'C' ) AND  
         DT_LANCAMENTO <= @dt_fatura

  IF ( @tp_tipo_fat = 'F' ) AND ( @in_cobrar_iss = '1' ) 
  BEGIN
    SELECT @vl_saldo_fat_processo = ( ISNULL( @vl_saldo_cre, 0 ) - ISNULL( @vl_saldo_deb, 0 ) ) - @vl_cpmf_saldo_credor
   
    UPDATE TS_FATURA_PROCESSO
    SET    VL_FATURA = @vl_saldo_fat_processo
    WHERE  NR_SOLICITACAO = @nr_solicitacao AND
           CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO = @cd_produto AND
           NR_PROCESSO = @nr_processo
  END
  ELSE
  BEGIN
    UPDATE TS_FATURA_PROCESSO
    SET    VL_FATURA = ( ISNULL( @vl_saldo_cre, 0 ) - ISNULL( @vl_saldo_deb, 0 ) ) - @vl_cpmf_saldo_credor
    WHERE  NR_SOLICITACAO = @nr_solicitacao AND
           CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO = @cd_produto AND
           NR_PROCESSO = @nr_processo
  END
  -- LIQUIDAR AUTOMATICAMENTE ( EMBRAER - SERVIMEX )
  IF EXISTS( SELECT *
             FROM   TCLIENTE_HABILITACAO H (NOLOCK), 
                    TPROCESSO P (NOLOCK)
             WHERE  H.CD_UNID_NEG = P.CD_UNID_NEG AND
                    H.CD_PRODUTO  = P.CD_PRODUTO AND
                    H.CD_CLIENTE  = P.CD_CLIENTE AND
                    P.NR_PROCESSO = @nr_processo AND
                    H.IN_NOTA_LIQ = '1' ) AND
     @tp_tipo_fat = 'N'
  BEGIN
    UPDATE TS_FATURA_PROCESSO
    SET    IN_LIQUIDADO    = '1', 
           DT_LIQUIDACAO   = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ),
           VL_LIQUIDACAO   = VL_FATURA * (-1)
    WHERE  NR_SOLICITACAO  = @nr_solicitacao AND
           CD_UNID_NEG     = @cd_unid_neg AND
           CD_PRODUTO      = @cd_produto AND
           NR_PROCESSO     = @nr_processo

    IF @cd_item_saldo = @cd_item_saldo_cre
       SELECT @cd_item_liq = @cd_item_pagto_sd
    ELSE
       SELECT @cd_item_liq = @cd_item_receb_sd

    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )
    INSERT INTO TFATURAMENTO_CC 
       ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, 
         VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL )
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_liq, 'S', '6', @vl_saldo_tot, 0, 0, '1', '0', 
             @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0' )
  END

  SELECT @vl_saldo_fat = @vl_saldo_fat + ISNULL( @vl_saldo_cre, 0 ) - ISNULL( @vl_saldo_deb, 0 ) - @vl_cpmf_saldo_credor

  FETCH c_fat INTO @nr_processo
END
CLOSE c_fat
DEALLOCATE c_fat

DROP TABLE #TMP_IR

IF ( SELECT COUNT(*) 
     FROM   TS_FATURA_PROCESSO P (NOLOCK),
            TFATURAMENTO_CC C (NOLOCK),
            TITEM I (NOLOCK)
      WHERE P.NR_PROCESSO    = C.NR_PROCESSO   AND
            P.CD_UNID_NEG    = C.CD_UNID_NEG   AND
            P.CD_PRODUTO     = C.CD_PRODUTO    AND
            P.NR_SOLICITACAO = C.NR_SOLIC_FAT  AND
            P.CD_UNID_NEG    = @cd_unid_neg    AND
            P.CD_PRODUTO     = @cd_produto     AND
            P.NR_SOLICITACAO = @nr_solicitacao AND
            C.IN_SEL_FAT     = '1'             AND
            C.CD_ITEM        = I.CD_ITEM       AND
            C.IN_CANCELADO   = '0'             AND
            I.CD_TIPO_ITEM   = 'N' ) > 0
  SELECT @in_nvocc = '0'
ELSE
  SELECT @in_nvocc = '*'

/*** ATUALIZACOES ***/
UPDATE TS_FATURA
SET    IN_CALCULADO    = '1', 
       DT_CALCULO      = CONVERT( datetime, convert(varchar(12), GETDATE() ), 103),
       VL_FATURA       = @vl_saldo_fat,
       IN_RECIBO_NVOCC = @in_nvocc
WHERE  CD_UNID_NEG     = @cd_unid_neg AND
       CD_PRODUTO      = @cd_produto  AND
       NR_SOLICITACAO  = @nr_solicitacao

-- LIQUIDAR AUTOMATICAMENTE ( EMBRAER - SERVIMEX )
IF EXISTS( SELECT *
           FROM   TCLIENTE_HABILITACAO H (NOLOCK), 
                  TPROCESSO P (NOLOCK)
           WHERE  H.CD_UNID_NEG = P.CD_UNID_NEG AND
                  H.CD_PRODUTO  = P.CD_PRODUTO AND
                  H.CD_CLIENTE  = P.CD_CLIENTE AND
                  P.NR_PROCESSO = @nr_processo AND
                  H.IN_NOTA_LIQ = '1' ) AND
   @tp_tipo_fat = 'N'
BEGIN
  UPDATE TS_FATURA
  SET    IN_LIQUIDADO    = '1', 
         DT_LIQUIDACAO   = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ),
         VL_LIQUIDACAO   = VL_FATURA * (-1)
  WHERE  CD_UNID_NEG     = @cd_unid_neg AND
         CD_PRODUTO      = @cd_produto  AND
         NR_SOLICITACAO  = @nr_solicitacao
END


/* Liquidar Automaticamente */
IF @in_liq_aut = '1'
BEGIN
  UPDATE TS_FATURA
  SET    IN_LIQUIDADO   = '1', 
         DT_LIQUIDACAO  = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ),         VL_LIQUIDACAO  = VL_FATURA * (-1)
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao 

  UPDATE TS_FATURA_PROCESSO
  SET    IN_LIQUIDADO   = '1', 
         DT_LIQUIDACAO  = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ),
         VL_LIQUIDACAO  = VL_FATURA * (-1)
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto AND
         NR_SOLICITACAO = @nr_solicitacao AND
         NR_PROCESSO    = @nr_processoEND

IF @in_fat_sem_desp = '1'
BEGIN  
  UPDATE TFATURAMENTO_CC
  SET    CD_UNID_NEG  = @cd_unid_neg,
         CD_PRODUTO   = @cd_produto,
         NR_SOLIC_FAT = @nr_solicitacao
  WHERE  IN_FATURADO = '2' AND
         ( ISNULL( CD_UNID_NEG, '' ) = '' ) AND
   ( ISNULL( CD_PRODUTO, '' ) = '' ) AND
         ( ISNULL( NR_SOLIC_FAT, '' ) = '' )
END

-----------------------------------------------------------------------------------------------------------------------
/* Rateio de Despesas */
-- aqui só será feito o rateio para processos do grupo basf, para acelerar um pouco o calculo do
-- faturamento, melhorando a performance do sistema. o rateio será feito ( para os demais clientes )
-- qdo for para a web, o único lugar onde precisamos dessa informação. na web, ele seguirá a regra de 
-- ratear ou não, dependendo do que estiver parametrizado na tabela de grupos de empresas.

set @erro = 0

if @cd_grupo = '002'
  EXEC @erro = sp_fat_consiste_rateio @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_identificador OUTPUT

return( @erro )

--SELECT * FROM TRETENCAO

/*
ROLLBACK TRAN
SET XACT_ABORT OFF

*/










GO
