USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [sp_broker_reg] @nr_processo char(18), @pr_entreposto_anterior char(14), @pr_entreposto_novo char(14), @cd_movimento char(1) AS 
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(14)
DECLARE @pr_entreposto_anterior char(14)
DECLARE @pr_entreposto_novo char(14)

SELECT @pr_entreposto_anterior = ' '
SELECT @pr_entreposto_novo = '0101DD-0001-02'
SELECT @nr_processo = '0101DD-0007-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

IF DATALENGTH(RTRIM(LTRIM(@pr_entreposto_anterior))) > 0 
BEGIN
  UPDATE TPROCESSO
  SET    NR_PROCESSO_OR_ENTREPOSTO = ' '     
  WHERE  NR_PROCESSO = @pr_entreposto_anterior
END

UPDATE TPROCESSO
SET    NR_PROCESSO_OR_ENTREPOSTO = @nr_processo  
WHERE  NR_PROCESSO = @pr_entreposto_novo
GO
