USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [SP_RE_ALIMENTA_MANUTENCAO] ( @NR_PROCESSO CHAR(18) ) AS
 
 
 -- Verifica se existe ou não informações referentes a este processo na tabela TPROCESSO_DDE_RE
-- DECLARE @AUX_REGISTRO CHAR(12)
 
 
-- SELECT  @AUX_REGISTRO = SUBSTRING(REC.NR_RE_SISCOMEX,1,10)
-- FROM    TRE_CAPA REC
-- WHERE   REC.NR_PROCESSO = @NR_PROCESSO
 
 
-- IF NOT EXISTS (SELECT NR_PROCESSO FROM TPROCESSO_EXP_DDE_RE WHERE NR_PROCESSO = @NR_PROCESSO)
-- BEGIN
   -- Se sim, gera update com base nos dados da RE
--  UPDATE  TPROCESSO_EXP_DDE_RE
--     SET NR_ANEXO_INI    = RIGHT('000', 3 - LEN((SELECT MIN(CD_RE_ANEXO) INICIAL FROM TRE_ANEXO WHERE NR_PROCESSO = @NR_PROCESSO))) + (SELECT MIN(CD_RE_ANEXO) INICIAL FROM TRE_ANEXO WHERE NR_PROCESSO = @NR_PROCESSO),
--   NR_ANEXO_FIM    = RIGHT('000', 3 - LEN((SELECT MAX(CD_RE_ANEXO) FINAL FROM TRE_ANEXO WHERE NR_PROCESSO = @NR_PROCESSO))) + (SELECT MAX(CD_RE_ANEXO) FINAL FROM TRE_ANEXO WHERE NR_PROCESSO = @NR_PROCESSO)
 --    WHERE NR_PROCESSO  = @NR_PROCESSO
-- END
-- ELSE
-- BEGIN
  -- Se não, insere informações com base nos dados da RE
--  INSERT  INTO TPROCESSO_EXP_DDE_RE (NR_PROCESSO, NR_RE, NR_ANEXO_INI, NR_ANEXO_FIM, DT_RE, QT_PESO_LIQ)
--  SELECT  REC.NR_PROCESSO, @AUX_REGISTRO,
--   (SELECT MIN(CD_RE_ANEXO) INICIAL FROM TRE_ANEXO WHERE NR_PROCESSO = @NR_PROCESSO),
--   (SELECT MAX(CD_RE_ANEXO) FINAL FROM TRE_ANEXO WHERE NR_PROCESSO = @NR_PROCESSO),
--   REC.DT_DATA, REC.PESO_LIQUIDO_TOTAL
--  FROM    TRE_CAPA REC
--  WHERE   REC.NR_PROCESSO = @NR_PROCESSO
-- END
 
 
 -- Faz o Update do Processo com base nos dados da RE
/* atualização comentada em 18/10/2007 a pedido de Vitor Zanin (Kleber Guedes)
 UPDATE  TPROCESSO SET
  CD_CLIENTE         = RE.CD_EXPORTADOR,
  CD_ARMAZEM_ATRACACAO = (SELECT TOP 1 CD_ARMAZEM FROM TARMAZEM WHERE CD_URF = RE.CD_URF_DESPACHO),
  CD_ARMAZEM_ESTOCAGEM = (SELECT TOP 1 CD_ARMAZEM FROM TARMAZEM WHERE CD_URF = RE.CD_URF_EMBARQUE),
  CD_EMP_EST       = RE.CD_IMPORTADOR,
  CD_INCOTERM        = RE.CD_INCOTERM,
  CD_MOEDA_MLE       = RE.CD_MOEDA,
  CD_PAIS_DESTINO    = RE.CD_PAIS_FINAL,
  NR_FATURA          = RE.NR_OUTRA_REF,
  VL_PESO_LIQUIDO    = RE.PESO_LIQUIDO_TOTAL,
  VL_FRETE_MN  = RE.VL_FRETE_TOTAL,
  VL_SEGURO_MN  = RE.VL_SEGURO_TOTAL  
 FROM  TRE_CAPA RE, TPROCESSO PROCESSO
 WHERE RE.NR_PROCESSO = @NR_PROCESSO
    AND   PROCESSO.NR_PROCESSO = @NR_PROCESSO-- PARAMETRO DE IDENTIFICAÇÃO DO PROCESSO (RE.NR_PROCESSO)
*/
 
 RETURN 0



GO
