USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_navegacao_old    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_navegacao_old] (@cd_modulo CHAR(2), @cd_rotina CHAR(4), @ES CHAR(1)) AS
DECLARE @nr_sequencia int
DECLARE @cd_usuario  char(4)
SELECT @cd_usuario = CD_USUARIO
  FROM TUSUARIO (TABLOCK HOLDLOCK)
  WHERE AP_USUARIO = suser_name()
IF @ES = 'E'
  INSERT TNAVEGACAO VALUES (@cd_usuario, @cd_modulo, @cd_rotina, getdate(), null)
ELSE
  SELECT @nr_sequencia = MAX(NR_SEQUENCIA)
    FROM TNAVEGACAO (TABLOCK HOLDLOCK)
    WHERE CD_USUARIO = @cd_usuario AND
          CD_MODULO  = @cd_modulo  AND
          CD_ROTINA  = @cd_rotina  AND
          DT_SAIDA   = NULL
  IF @nr_sequencia = NULL
     INSERT TNAVEGACAO VALUES (@cd_usuario, @cd_modulo, @cd_rotina, null, getdate())
  ELSE     
     UPDATE TNAVEGACAO
       SET DT_SAIDA = getdate()
       WHERE NR_SEQUENCIA = @nr_sequencia


GO
