USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_po_calcula]  AS

DECLARE @nValTotal  float
DECLARE @nPlTotal   float
DECLARE @nValSeguro float
DECLARE @nValFrtTer float
DECLARE @nValFrtPre float
DECLARE @nValFrtCol float
DECLARE @nValDespes float
DECLARE @nValDescon float
DECLARE @nValor     float
DECLARE @nTotItem   integer

DECLARE @nTotalItem    float
DECLARE @nPlItem       float
DECLARE @nVlSegItem    float
DECLARE @nVlFrtNacItem float
DECLARE @nVlFrtPreItem float
DECLARE @nVlFrtColItem float
DECLARE @nVlDespItem   float
DECLARE @nVlDescItem   float
DECLARE @nItem         integer
DECLARE @cNr_Proc      char(18)

DECLARE @nValor1 float
DECLARE @nTValo1 float
DECLARE @nValor2 float
DECLARE @nTValo2 float
DECLARE @nValor3 float
DECLARE @nTValo3 float
DECLARE @nValor4 float
DECLARE @nTValo4 float
DECLARE @nValor5 float
DECLARE @nTValo5 float
DECLARE @nValor6 float
DECLARE @nTValo6 float

DECLARE @cd_usuario char(4)

SELECT @cd_usuario = CD_USUARIO FROM TUSUARIO WHERE AP_USUARIO = SUSER_NAME()

/* PO */
SELECT @nValTotal  = 0
SELECT @nPlTotal   = 0
SELECT @nValSeguro = 0
SELECT @nValFrtTer = 0
SELECT @nValFrtPre = 0
SELECT @nValFrtCol = 0
SELECT @nValDespes = 0
SELECT @nValDescon = 0
SELECT @nValor     = 0   
SELECT @nTotItem   = 0 

/* PO_ITEM */
SELECT @nTotalItem    = 0       
SELECT @nPlItem       = 0 
SELECT @nVlSegItem    = 0 
SELECT @nVlFrtNacItem = 0 
SELECT @nVlFrtPreItem = 0
SELECT @nVlFrtColItem = 0    
SELECT @nVlDespItem   = 0 
SELECT @nVlDescItem   = 0 
SELECT @nItem         = 0 

SELECT @nValor1 = 0
SELECT @nTValo1 = 0
SELECT @nValor2 = 0
SELECT @nTValo2 = 0
SELECT @nValor3 = 0
SELECT @nTValo3 = 0
SELECT @nValor4 = 0
SELECT @nTValo4 = 0
SELECT @nValor5 = 0
SELECT @nTValo5 = 0
SELECT @nValor6 = 0
SELECT @nTValo6 = 0

DECLARE c_PO_ITEM CURSOR FOR
SELECT NR_PROCESSO,
       IsNull( NR_ITEM, 0 ),
       IsNull( VL_TOTAL, 0 ),
       IsNull( PL_ITEM, 0 ),
       IsNull( VL_SEGURO_MOEDA, 0 ),
       IsNull( VL_FRETE_NAC_MOEDA, 0 ),
       IsNull( VL_FRETE_PREPAID_MOEDA, 0 ),
       IsNull( VL_FRETE_COLLECT, 0 ),
       IsNull( VL_DESPESA_MOEDA, 0 ),
       IsNull( VL_DESCONTO_MOEDA, 0 )
FROM TPO_ITEM
WHERE ( IN_SELECIONADO = '1' )  AND ( CD_USUARIO_MONTA = @cd_usuario )

OPEN c_PO_ITEM
FETCH c_PO_ITEM INTO @cNr_Proc, @nItem, @nTotalItem, @nPlItem, @nVlSegItem, @nVlFrtNacItem, @nVlFrtPreItem, 
                                           @nVlFrtColItem, @nVlDespItem, @nVlDescItem
WHILE @@fetch_status <> -1
BEGIN

  SELECT @nTotItem   =  IsNull( QT_TOTAL_ITENS, 0 ),
         @nValTotal  =  IsNull( VL_TOTAL, 0 ),
         @nPlTotal   =  IsNull( PL_PO, 0 ),
         @nValSeguro =  IsNull( VL_SEGURO, 0 ),
         @nValFrtTer =  IsNull( VL_FRETE_TERRIT_NAC, 0 ),
         @nValFrtPre =  IsNull( VL_FRETE_PREPAID, 0 ),
         @nValFrtCol =  IsNull( VL_FRETE_COLLECT, 0 ),
         @nValDespes =  IsNull( VL_DESPESAS, 0 ),
         @nValDescon =  IsNull( VL_DESCONTOS, 0 )
  FROM   TPO
  WHERE  ( NR_PROCESSO = @cNR_PROC )

  IF @nItem <> @nTotItem
  BEGIN
    /* SEGURO -> B.VL_SEGURO_MOEDA = ( A.VL_SEGURO * B.VL_TOTAL ) / A.VL_TOTAL, 5 ) */
    SELECT @nValor1 = Round(( @nValSeguro * @nTotalItem ) / @nValTotal, 5 )
    SELECT @nTValo1 = @nTValo1 + @nValor1

    /* FRETE NACIONAL -> B.VL_FRETE_NAC_MOEDA = ( A.VL_FRETE_TERRIT_NAC * B.PL_ITEM ) / A.PL_PO */
    SELECT @nValor2 = Round(( @nValFrtTer * @nPlItem ) / @nPlTotal, 5 )
    SELECT @nTValo2 = @nTValo2 + @nValor2
  
    /* FRETE PREPAID -> B.VL_FRETE_PREPAID_MOEDA = ( A.VL_FRETE_PREPAID * B.PL_ITEM ) / A.PL_PO */
    SELECT @nValor3 = Round(( @nValFrtPre * @nPlItem ) / @nPlTotal, 5 )
    SELECT @nTValo3 = @nTValo3 + @nValor3

    /* FRETE COLLECT -> B.VL_FRETE_COLLECT = ( A.VL_FRETE_COLLECT * B.PL_ITEM ) / A.PL_PO */
    SELECT @nValor4 = Round(( @nValFrtCol * @nPlItem ) / @nPlTotal, 5 )
    SELECT @nTValo4 = @nTValo4 + @nValor4

    /* DESPESA -> B.VL_DESPESA_MOEDA = ( A.VL_DESPESAS * B.VL_TOTAL ) / A.VL_TOTAL */
    SELECT @nValor5 = Round(( @nValDespes * @nTotalItem ) / @nValTotal, 5 )
    SELECT @nTValo5 = @nTValo5 + @nValor5

    /* DESCONTO -> B.VL_DESCONTO_MOEDA = ( A.VL_DESCONTOS * B.VL_TOTAL ) / A.VL_TOTAL */
    SELECT @nValor6 = Round(( @nValDescon * @nTotalItem ) / @nValTotal, 5 )
    SELECT @nTValo6 = @nTValo6 + @nValor6
  END
  ELSE
  BEGIN
    SELECT @nValor1 = Round( @nValSeguro - @nTValo1, 5 )
    SELECT @nValor2 = Round( @nValFrtTer - @nTValo2, 5 )
    SELECT @nValor3 = Round( @nValFrtPre - @nTValo3, 5 )
    SELECT @nValor4 = Round( @nValFrtCol - @nTValo4, 5 )
    SELECT @nValor5 = Round( @nValDespes - @nTValo5, 5 )
    SELECT @nValor6 = Round( @nValDescon - @nTValo6, 5 )
    SELECT @nTValo1 = 0
    SELECT @nTValo2 = 0
    SELECT @nTValo3 = 0
    SELECT @nTValo4 = 0
    SELECT @nTValo5 = 0
    SELECT @nTValo6 = 0
  END

  UPDATE TPO_ITEM 
  SET    VL_SEGURO_MOEDA        = @nValor1,
         VL_FRETE_NAC_MOEDA     = @nValor2,
         VL_FRETE_PREPAID_MOEDA = @nValor3,
         VL_FRETE_COLLECT       = @nValor4,
         VL_DESPESA_MOEDA       = @nValor5,
         VL_DESCONTO_MOEDA      = @nValor6
  WHERE CURRENT OF c_PO_ITEM

  FETCH c_PO_ITEM INTO @cNr_Proc, @nItem, @nTotalItem, @nPlItem, @nVlSegItem, @nVlFrtNacItem, @nVlFrtPreItem, 
                                             @nVlFrtColItem, @nVlDespItem, @nVlDescItem
END

CLOSE c_PO_ITEM
DEALLOCATE c_PO_ITEM

RETURN(0)


GO
