USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored Procedure dbo.sp_receitas    Script Date: 02/09/1999 08:57:48 AM ******/
CREATE PROCEDURE [sp_receitas] (@cd_cliente char(5), @cd_unid_neg char(2), 
                              @cd_produto char(2), @cd_servico char(3), @cd_item char(3),
                              @operacao char(1), @mod char(1) ) AS 
DECLARE @cd_usuario char(4)
SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_NAME()
IF @operacao = '+'
BEGIN
  IF @mod = 'I'
  BEGIN
    INSERT INTO TRECEITAS_IMP
      SELECT @cd_cliente, @cd_unid_neg, @cd_produto, @cd_servico, @cd_item, CD_REGIME_TRIB,
             '1', 0, 1, NULL, NULL, 0, 1, NULL, NULL, 0, 1, NULL, NULL, 0, 1, NULL, NULL, 
              0, 1, NULL, NULL, '1'
      FROM TREGIME_TRIB
/*
    INSERT INTO TLOG
      SELECT @cd_usuario, '232', 'I', '22', '2202', 
             @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item + CD_REGIME_TRIB, GETDATE()
      FROM TREGIME_TRIB
*/
  END
  ELSE 
  IF @mod = 'E'
  BEGIN
    INSERT INTO TRECEITAS_EXP 
      VALUES ( @cd_unid_neg, @cd_produto, @cd_cliente, @cd_servico, @cd_item, '1', '0', '0', 0, 1, '0', NULL, 0, 1, '0',
      NULL, 0, 1, '0', NULL, 0, '1' )
/*
    INSERT INTO TLOG
      VALUES( @cd_usuario, '233', 'I', '22', '2202', 
             @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item, GETDATE() )
*/
  END
END
ELSE 
IF @operacao = '-'
BEGIN
  IF ( ( SELECT COUNT(*) 
         FROM   TCLIENTE_NUMERARIO
         WHERE CD_CLIENTE     = @cd_cliente  AND 
               CD_UNID_NEG    = @cd_unid_neg AND
               CD_PRODUTO     = @cd_produto  AND
               CD_SERVICO     = @cd_servico  AND
               CD_ITEM        = @cd_item ) > 0 )
     AND
     ( ( SELECT COUNT(*) 
         FROM   TCLIENTE_FATURAMENTO
         WHERE CD_CLIENTE     = @cd_cliente  AND 
               CD_UNID_NEG    = @cd_unid_neg AND
               CD_PRODUTO     = @cd_produto  AND
               CD_SERVICO     = @cd_servico  AND
               CD_ITEM        = @cd_item ) > 0 )
  RETURN(0)
  IF @mod = '0'
  BEGIN
/*
    INSERT INTO TLOG
      SELECT @cd_usuario, '232', 'E', '22', '2202', 
             @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item + CD_REGIME_TRIB, GETDATE()
      FROM TREGIME_TRIB
*/
    DELETE TRECEITAS_IMP
    WHERE CD_CLIENTE     = @cd_cliente  AND 
          CD_UNID_NEG    = @cd_unid_neg AND
          CD_PRODUTO     = @cd_produto  AND
          CD_SERVICO     = @cd_servico  AND
          CD_ITEM        = @cd_item     
  END
  ELSE
  IF @mod = 'E'
  BEGIN
/*
    INSERT INTO TLOG
      VALUES( @cd_usuario, '233', 'E', '22', '2202', 
             @cd_cliente + @cd_unid_neg + @cd_produto + @cd_servico + @cd_item, GETDATE() )
*/
    DELETE TRECEITAS_EXP
    WHERE CD_CLIENTE     = @cd_cliente  AND 
          CD_UNID_NEG    = @cd_unid_neg AND
          CD_PRODUTO     = @cd_produto  AND
          CD_SERVICO     = @cd_servico  AND
          CD_ITEM        = @cd_item     
  END
END



GO
