USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE procedure [sp_di_ret_embalagem]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DELETE FROM tembalagem_carga where nr_processo = '0101op-0100-01'

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0101op-0100-01'
*/

DELETE FROM TEMBALAGEM_CARGA WHERE NR_PROCESSO = @nr_processo

DECLARE @seq int
DECLARE @cd_embalagem char(2)
DECLARE @qt_embalagem int
DECLARE @qt_total char(5)

SELECT @seq = 0

DECLARE cCursor CURSOR FOR
  SELECT CD_EMBALAGEM, QT_EMBALAGEM 
   FROM TPROCESSO_EMBALAGEM
   WHERE NR_PROCESSO = @nr_processo

OPEN cCursor
FETCH cCursor INTO @cd_embalagem, @qt_embalagem
WHILE @@fetch_status <> -1
BEGIN
  SELECT @seq = @seq + 1
  SELECT @qt_total = CONVERT(  char(5), @qt_embalagem )

  INSERT INTO TEMBALAGEM_CARGA (NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_EMBALAGEM, QT_VOLUME_CARGA)
    VALUES (@nr_processo, @seq, @cd_embalagem, @qt_total)

  FETCH cCursor INTO @cd_embalagem, @qt_embalagem
END

CLOSE cCursor
DEALLOCATE cCursor

/*
select * from tembalagem_carga where nr_processo = '0101op-0100-01'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/







GO
