USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_cria_simulacao_mbf]( @CD_MBF INT, @CD_USUARIO CHAR(4)) AS 
SET NOCOUNT ON
/*
DECLARE @CD_MBF INT
DECLARE @CD_USUARIO CHAR(4)
*/
DECLARE @TB_MODALIDADES TABLE (CD_MODALIDADE CHAR(2), NM_MODALIDADE VARCHAR(200))
DECLARE @TB_ESTUFAGENS TABLE (CD_ESTUFAGEM CHAR(1), NM_ESTUFAGEM VARCHAR(200))    
DECLARE @TB_MBF_KPI TABLE (CD_MBF INT, CD_USUARIO CHAR(4), CD_KPI CHAR(12))               
DECLARE @CD_GRUPO CHAR(3)
DECLARE @CD_KPI CHAR(12)
DECLARE @NM_KPI VARCHAR(200)
DECLARE @NM_KPI_PRINCIPAL VARCHAR(200)
DECLARE @NM_QUEBRAS VARCHAR(200)
DECLARE @NM_COMPLETO VARCHAR(200)
DECLARE @TP_KPI      INT
DECLARE @NM_TP_KPI VARCHAR(50)
DECLARE @CD_EVENTO_1 CHAR(3)
DECLARE @CD_EVENTO_2 CHAR(3)
DECLARE @MES_SELECIONADO INT
DECLARE @ANO_SELECIONADO INT
DECLARE @IN_MODAL BIT
DECLARE @IN_ESTUFAGEM BIT
DECLARE @IN_CNPJ BIT
DECLARE @IN_AREA BIT
DECLARE @CD_MODAL CHAR(2)
DECLARE @CD_ESTUFAGEM CHAR(1)
DECLARE @CD_CNPJ CHAR(5)
DECLARE @CD_AREA CHAR(2)
DECLARE @NM_MODAL VARCHAR(200)
DECLARE @NM_ESTUFAGEM VARCHAR(200)
DECLARE @NM_CNPJ VARCHAR(200)
DECLARE @NM_AREA VARCHAR(200)
DECLARE @CD_PRODUTO CHAR(2)

/*
SET @CD_MBF = 1
SET @CD_USUARIO = '1801'
*/

DELETE FROM TMBF_RESULTADO WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO

UPDATE TMBF_SELECIONADO
SET IN_GERADO = '0',
    DT_GERADO = NULL
WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO

INSERT INTO @TB_MBF_KPI
  SELECT CD_MBF, CD_USUARIO, CD_KPI
  FROM TMBF_KPI
  WHERE CD_MBF = @CD_MBF
    AND CD_USUARIO = @CD_USUARIO

WHILE (SELECT COUNT (*) FROM @TB_MBF_KPI WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO) > 0
BEGIN
  SELECT TOP 1 @CD_KPI = CD_KPI FROM @TB_MBF_KPI
  
  SELECT TOP 1 @CD_MBF = I.CD_MBF, @CD_USUARIO = I.CD_USUARIO, @CD_GRUPO = I.CD_GRUPO, 
    @TP_KPI = RIGHT(CD_KPI, 1), @IN_MODAL = I.IN_MODAL, @IN_AREA = I.IN_AREA, @IN_CNPJ = I.IN_CNPJ, 
    @IN_ESTUFAGEM = I.IN_ESTUFAGEM, @NM_KPI_PRINCIPAL = K.NM_KPI, @CD_PRODUTO = I.CD_PRODUTO
  FROM TMBF_INFO I (NOLOCK)
    INNER JOIN TMBF_KPI K (NOLOCK) ON (K.CD_MBF = I.CD_MBF AND K.CD_USUARIO = I.CD_USUARIO)
  WHERE I.CD_MBF = @CD_MBF
    AND K.CD_KPI = @CD_KPI 
    AND I.CD_USUARIO = @CD_USUARIO 

  SET @CD_AREA = NULL
  SET @NM_AREA = '' 
  IF @IN_AREA = '1'       
  BEGIN
    SET @CD_AREA = '58'
    SET @NM_AREA = ' - Áreas' 
  END   

  SET @CD_CNPJ = NULL
  SET @NM_CNPJ = ''  
  IF @IN_CNPJ = '1'
  BEGIN
    SET @NM_CNPJ = ' - Clientes'      
  END    

  INSERT INTO @TB_ESTUFAGENS
    SELECT TP_ESTUFAGEM, NM_ESTUFAGEM
    FROM VW_TIPO_ESTUFAGEM
   
  IF @IN_ESTUFAGEM = '1' OR @IN_MODAL = '1'
  BEGIN
    IF @IN_ESTUFAGEM = '1'
    BEGIN
      WHILE (SELECT COUNT(*) FROM @TB_ESTUFAGENS) > 0
      BEGIN   
         INSERT INTO @TB_MODALIDADES
           SELECT CD_VIA_TRANSPORTE, NM_VIA_TRANSPORTE 
           FROM TVIA_TRANSPORTE (NOLOCK)
           WHERE CD_VIA_TRANSPORTE IN ('01','04','07')     
        
        SELECT TOP 1 @CD_ESTUFAGEM = CD_ESTUFAGEM, @NM_ESTUFAGEM = NM_ESTUFAGEM FROM @TB_ESTUFAGENS
      
        IF @IN_MODAL = '1'
        BEGIN
          WHILE (SELECT COUNT(*) FROM @TB_MODALIDADES) > 0 
          BEGIN
            SELECT TOP 1 @CD_MODAL = CD_MODALIDADE, @NM_MODAL = NM_MODALIDADE FROM @TB_MODALIDADES
            
            IF @TP_KPI = '2'
            BEGIN
              SET @NM_TP_KPI = ' (Úteis)'		    
              SET @NM_KPI = @NM_KPI_PRINCIPAL
              SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + ' - ' + @NM_MODAL + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
              SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
              INSERT INTO TMBF_RESULTADO 
              VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                NULL, '9999XX-9999-99', NULL, NULL,
                @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI))) 
                
              SET @NM_TP_KPI = ' (Corridos)'
              SET @NM_KPI = @NM_KPI_PRINCIPAL
              SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + ' - ' + @NM_MODAL + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
              SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
              INSERT INTO TMBF_RESULTADO 
              VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                NULL, '9999XX-9999-99', NULL, NULL,
                @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))                	         
            END
            ELSE
            BEGIN
              IF @TP_KPI = '0'
			    SET @NM_TP_KPI = ' (Úteis)'
		      ELSE
		        SET @NM_TP_KPI = ' (Corridos)'
            
              SET @NM_KPI = @NM_KPI_PRINCIPAL
              SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + ' - ' + @NM_MODAL + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
              SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
              INSERT INTO TMBF_RESULTADO 
              VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                NULL, '9999XX-9999-99', NULL, NULL,
                @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))    	                    
            END
            DELETE FROM @TB_MODALIDADES WHERE CD_MODALIDADE = @CD_MODAL  
          END        
        END
        ELSE
        BEGIN
          IF @TP_KPI = '2'
          BEGIN
            SET @NM_TP_KPI = ' (Úteis)'		    
            SET @NM_KPI = @NM_KPI_PRINCIPAL
            SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
            SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
            INSERT INTO TMBF_RESULTADO 
            VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
              NULL, '9999XX-9999-99', NULL, NULL,
              @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI))) 
                
            SET @NM_TP_KPI = ' (Corridos)'
            SET @NM_KPI = @NM_KPI_PRINCIPAL
            SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI 
            SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
            INSERT INTO TMBF_RESULTADO 
            VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
              NULL, '9999XX-9999-99', NULL, NULL,
              @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))                	         
          END
          ELSE
          BEGIN
            IF @TP_KPI = '0'
			  SET @NM_TP_KPI = ' (Úteis)'
		    ELSE
		      SET @NM_TP_KPI = ' (Corridos)'
            
            SET @NM_KPI = @NM_KPI_PRINCIPAL
            SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
            SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
            INSERT INTO TMBF_RESULTADO 
            VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
              NULL, '9999XX-9999-99', NULL, NULL,
              @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))    	                    
          END
        END
        DELETE FROM @TB_ESTUFAGENS WHERE CD_ESTUFAGEM = @CD_ESTUFAGEM  
      END
    END 
    ELSE
    BEGIN
      IF @IN_MODAL = '1'
      BEGIN
        INSERT INTO @TB_MODALIDADES
          SELECT CD_VIA_TRANSPORTE, NM_VIA_TRANSPORTE 
          FROM TVIA_TRANSPORTE (NOLOCK)
          WHERE CD_VIA_TRANSPORTE IN ('01','04','07')   
           
        WHILE (SELECT COUNT(*) FROM @TB_MODALIDADES) > 0 
        BEGIN
          SELECT TOP 1 @CD_MODAL = CD_MODALIDADE, @NM_MODAL = NM_MODALIDADE FROM @TB_MODALIDADES
          
          IF @TP_KPI = '2'
          BEGIN
            SET @NM_TP_KPI = ' (Úteis)'
            SET @NM_KPI = @NM_KPI_PRINCIPAL
            SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + ' - ' + @NM_MODAL + @NM_TP_KPI
            SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
            INSERT INTO TMBF_RESULTADO 
            VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
              NULL, '9999XX-9999-99', NULL, NULL,
              @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))   
              
            SET @NM_TP_KPI = ' (Corridos)'
            SET @NM_KPI = @NM_KPI_PRINCIPAL
            SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + ' - ' + @NM_MODAL + @NM_TP_KPI
            SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
            INSERT INTO TMBF_RESULTADO 
            VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
              NULL, '9999XX-9999-99', NULL, NULL,
              @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))  
          END
          ELSE
          BEGIN
            IF @TP_KPI = '0'
			  SET @NM_TP_KPI = ' (Úteis)'
		    ELSE
			  SET @NM_TP_KPI = ' (Corridos)'
          
            SET @NM_KPI = @NM_KPI_PRINCIPAL
            SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + ' - ' + @NM_MODAL + @NM_TP_KPI
            SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
            INSERT INTO TMBF_RESULTADO 
            VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
              NULL, '9999XX-9999-99', NULL, NULL,
              @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))    	                    
          END
          DELETE FROM @TB_MODALIDADES WHERE CD_MODALIDADE = @CD_MODAL  
        END   
      END  
    END
  END
  ELSE
  BEGIN
    IF @TP_KPI = '2'
    BEGIN
      SET @NM_TP_KPI = ' (Úteis)'
      SET @NM_KPI = @NM_KPI_PRINCIPAL
      SET @NM_QUEBRAS =  @NM_AREA + @NM_CNPJ + @NM_TP_KPI
      SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
      INSERT INTO TMBF_RESULTADO
      VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
        NULL, '9999XX-9999-99', NULL, NULL,
        NULL, @CD_CNPJ, @CD_AREA, NULL, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))
      
      SET @NM_TP_KPI = ' (Corridos)'
      SET @NM_KPI = @NM_KPI_PRINCIPAL
      SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_TP_KPI
      SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
      INSERT INTO TMBF_RESULTADO
      VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
        NULL, '9999XX-9999-99', NULL, NULL,
        NULL, @CD_CNPJ, @CD_AREA, NULL, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))
    END
    ELSE
    BEGIN
      IF @TP_KPI = '0'
	    SET @NM_TP_KPI = ' (Úteis)'
	  ELSE
	    SET @NM_TP_KPI = ' (Corridos)'
	    
      SET @NM_KPI = @NM_KPI_PRINCIPAL
      SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_TP_KPI
      SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
      INSERT INTO TMBF_RESULTADO
      VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
        NULL, '9999XX-9999-99', NULL, NULL,
        NULL, @CD_CNPJ, @CD_AREA, NULL, 0, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3), @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)))
    END      	                              
  END
  DELETE FROM @TB_MBF_KPI WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO AND CD_KPI = @CD_KPI
END
SET NOCOUNT OFF

GO
