USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_VALORACAO_NCM_2_ITENS](@NR_PROCESSO CHAR(18), @NR_ADICAO CHAR(3)) AS
BEGIN
    IF (SELECT COUNT(*)
        FROM TDI_NVE
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO) > 0
    BEGIN
        DELETE TDI_NVE
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO
    END

    IF (SELECT COUNT(*)
        FROM TVALORACAO_NCM
        WHERE NR_PROCESSO = @NR_PROCESSO
          AND NR_ADICAO = @NR_ADICAO) > 0
    BEGIN
        INSERT INTO TDI_NVE(NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM, CD_NCM_ATRIBUTO, CD_NCM_ESPECIF)
        SELECT DM.NR_PROCESSO, DM.NR_ADICAO, DM.NR_ITEM, VN.CD_NIVEL_NVE, VN.CD_ATRIBUTO_NCM, VN.CD_ESPECIF_NCM, DM.CD_NCM_SH, DM.CD_NCM_SH
        FROM TDETALHE_MERCADORIA DM
           INNER JOIN TVALORACAO_NCM VN ON VN.NR_PROCESSO = DM.NR_PROCESSO
                                       AND VN.NR_ADICAO = DM.NR_ADICAO
        WHERE DM.NR_PROCESSO = @NR_PROCESSO
          AND DM.NR_ADICAO = @NR_ADICAO
    END
END
GO
