USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_po_dupl_nve]( @nr_processo char(18), @nr_item char(3), @nr_item_new  char(3) ) AS

DECLARE @nr_item_fetch   char(3)
DECLARE @cd_nivel_fetch  char(3)
DECLARE @cd_atrib_fetch  char(2)
DECLARE @cd_espec_fetch  char(4)
DECLARE @cd_ncm_atributo char(8)
DECLARE @cd_ncm_especif  char(8)


IF  (SELECT COUNT(*) 
     FROM    TPO_NVE
     WHERE (NR_PROCESSO = @nr_processo ) and (NR_ITEM = @nr_item) )  > 0
BEGIN

    DECLARE c_processo CURSOR FOR
         SELECT NR_ITEM, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM, CD_NCM_ATRIBUTO, CD_NCM_ESPECIF
         FROM TPO_NVE
         WHERE (NR_PROCESSO = @nr_processo) and (NR_ITEM = @nr_item) 

     OPEN c_processo 
     FETCH c_processo INTO @nr_item_fetch, @cd_nivel_fetch, @cd_atrib_fetch, @cd_espec_fetch, @cd_ncm_atributo, @cd_ncm_especif
     WHILE @@fetch_status <> -1
     BEGIN
         INSERT TPO_NVE ( NR_PROCESSO,  NR_ITEM, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM, CD_NCM_ATRIBUTO, CD_NCM_ESPECIF )
         VALUES ( @nr_processo, @nr_item_new, @cd_nivel_fetch, @cd_atrib_fetch, @cd_espec_fetch, @cd_ncm_atributo, @cd_ncm_especif )
         FETCH c_processo INTO @nr_item_fetch, @cd_nivel_fetch, @cd_atrib_fetch, @cd_espec_fetch, @cd_ncm_atributo, @cd_ncm_especif
     END

     CLOSE c_processo
     DEALLOCATE c_processo

END

RETURN(0)






GO
