USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_numero_ocorrencias] ( @TEXTO VARCHAR(1000), @QTDE INTEGER OUTPUT ) AS
 
/*
DECLARE @TEXTO  VARCHAR(1000)
DECLARE @TX_PROCURADO CHAR(5)
SELECT  @TEXTO = 'TESTE DA PRIM |EIRA MERCADORIA'
SELECT  @TX_PROCURADO = '% |%'
*/
 
DECLARE @ULTIMA_OCORRENCIA INTEGER
DECLARE @OCORRENCIA INTEGER
DECLARE @QT_OCORRENCIAS    INTEGER
SELECT  @ULTIMA_OCORRENCIA = 1
SELECT  @QT_OCORRENCIAS = 0
SELECT  @OCORRENCIA = 1
 
WHILE  @ULTIMA_OCORRENCIA > 0
BEGIN
  SELECT @OCORRENCIA = PATINDEX('% |%', SUBSTRING(RTRIM(@TEXTO),@ULTIMA_OCORRENCIA,LEN(CAST(RTRIM(@TEXTO) AS VARCHAR))))
 
  IF @OCORRENCIA > 0 
  BEGIN
    SELECT @ULTIMA_OCORRENCIA = @ULTIMA_OCORRENCIA + @OCORRENCIA
    SELECT @QT_OCORRENCIAS = @QT_OCORRENCIAS + 1
  END
  ELSE
    SELECT @ULTIMA_OCORRENCIA = 0
END
 
PRINT 'QTDE.: ' + CAST(@QT_OCORRENCIAS AS VARCHAR)
RETURN @QT_OCORRENCIAS



GO
