USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [sp_conciliacao] ( @cd_unid_neg char(2), @cd_banco char(3), @cd_usuario char(4), @dt_conciliacao datetime, 
                             @dt_arquivo datetime ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg    char(2)
DECLARE @cd_banco       char(3)
DECLARE @cd_usuario     char(4)
DECLARE @dt_arquivo     datetime

SELECT @cd_unid_neg    = '01'
SELECT @cd_banco       = '001'
SELECT @cd_usuario     = '0011'
SELECT @dt_arquivo     = '20060105'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @nr_seq       integer
DECLARE @dt_mov       datetime
DECLARE @nr_lanc      char(6)
DECLARE @vl_txt       float
DECLARE @vl_lanc      float
DECLARE @vl_lanc1     float
DECLARE @qtde_lanc    integer
DECLARE @conc         integer
DECLARE @vl_result    float
DECLARE @nr_documento char(6)
DECLARE @dt_inicial   datetime
DECLARE @dt_txt       datetime
DECLARE @nr_proc      char(18)
DECLARE @tab_temp     char(1)
DECLARE @nm_historico char(25)
DECLARE @vl_lanc_d    float
DECLARE @vl_lanc_c    float
DECLARE @reg_di       char(3)

SELECT @reg_di = CD_EV_REG_DI
FROM TPARAMETROS (NOLOCK)

DECLARE c_txt CURSOR FOR 
SELECT NR_SEQ, VL_LANCAMENTO, NR_DOCUMENTO, CD_UNID_NEG, CD_BANCO, DT_LANCAMENTO, NM_HISTORICO
FROM   TCONCILIACAO (NOLOCK)
WHERE  IN_CONCILIADO = '0'
  AND CD_UNID_NEG = @cd_unid_neg
  AND CD_BANCO = @cd_banco
  AND DT_LANCAMENTO = @dt_arquivo

OPEN c_txt
FETCH c_txt INTO @nr_seq, @vl_txt, @nr_documento, @cd_unid_neg, @cd_banco, @dt_txt, @nm_historico
WHILE @@fetch_status <> -1
BEGIN

  SET @conc = 0
  SET @vl_lanc_d = 0
  SET @vl_lanc_c = 0
  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  -- Cheque

  IF SUBSTRING(@nm_historico, 1, 2 ) = 'CH'
    BEGIN

      SELECT @qtde_lanc = COUNT( C.NR_LANCAMENTO )
        FROM TCAIXA C (NOLOCK)
       WHERE C.NR_CHEQUE = @nr_documento 
         AND C.CD_UNID_NEG = @cd_unid_neg 
         AND C.CD_BANCO = @cd_banco 
         AND C.TP_NATUREZA <> 'C'
         AND C.IN_CANCELADO = '0'
         AND C.IN_RESTITUI = '0' 
         AND C.IN_CONCILIACAO = '0'
         AND C.TP_PROCEDENCIA <> '0' 

      IF @qtde_lanc = 1
      BEGIN
        -- Concilia um lançamento na TCAIXA
        SELECT @dt_mov = C.DT_MOVIMENTO, @nr_lanc = C.NR_LANCAMENTO, @vl_lanc = C.VL_LANCAMENTO
          FROM TCAIXA C (NOLOCK)
         WHERE C.NR_CHEQUE = @nr_documento 
           AND C.CD_UNID_NEG = @cd_unid_neg 
           AND C.CD_BANCO = @cd_banco 
           AND C.TP_NATUREZA <> 'C'
           AND C.IN_CANCELADO = '0'
           AND C.IN_RESTITUI = '0' 
           AND C.IN_CONCILIACAO= '0'
           AND C.TP_PROCEDENCIA <> '0' 

        SET @vl_result = @vl_lanc - @vl_txt
        IF ( @vl_txt = @vl_lanc ) OR ( ( @vl_result < 0.02 ) AND ( @vl_result > -0.02 ) )
        BEGIN    
          SET @conc = 1
          UPDATE TCAIXA
          SET IN_CONCILIACAO_AUTOM = '1',
              CD_USUARIO_CONCILIACAO = @cd_usuario,
              IN_CONCILIACAO = '2',
              DT_CONCILIACAO = @dt_txt,
              NR_SEQ_CONCILIACAO = @nr_seq
          WHERE CD_COLIGADA = '01'
            AND CD_UNID_NEG = @cd_unid_neg
            AND CD_BANCO = @cd_banco
            AND DT_MOVIMENTO = @dt_mov
            AND NR_LANCAMENTO = @nr_lanc
        END     
      END
      ELSE
      BEGIN
        -- Concilia vários lançamento na TCAIXA
        SELECT C.DT_MOVIMENTO, C.NR_LANCAMENTO
          INTO #TMP_LANC
          FROM TCAIXA C (NOLOCK)
         WHERE C.NR_CHEQUE = @nr_documento 
           AND C.CD_UNID_NEG = @cd_unid_neg 
           AND C.CD_BANCO = @cd_banco 
           --AND C.TP_NATUREZA <> 'C'
           AND C.IN_CANCELADO = '0'
           --AND C.IN_RESTITUI = '0' 
           AND C.IN_CONCILIACAO = '0'
           AND C.TP_PROCEDENCIA <> '0'    

        SELECT @vl_lanc_d = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
          FROM TCAIXA C (NOLOCK)
         WHERE C.NR_CHEQUE = @nr_documento 
           AND C.CD_UNID_NEG = @cd_unid_neg 
           AND C.CD_BANCO = @cd_banco 
           AND C.TP_NATUREZA = 'D'
           AND C.IN_CANCELADO = '0'
           AND C.IN_RESTITUI = '0' 
           AND C.IN_CONCILIACAO = '0'
           AND C.TP_PROCEDENCIA <> '0'    

        SELECT @vl_lanc_c = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
          FROM TCAIXA C (NOLOCK)
         WHERE C.NR_CHEQUE = @nr_documento 
           AND C.CD_UNID_NEG = @cd_unid_neg 
           AND C.CD_BANCO = @cd_banco 
           AND C.TP_NATUREZA = 'C'
           AND C.IN_CANCELADO = '0'
           AND C.IN_RESTITUI = '1' 
           AND C.IN_CONCILIACAO = '0'
           AND C.TP_PROCEDENCIA <> '0'    
        
        SET @vl_lanc = @vl_lanc_d - @vl_lanc_c

        SET @vl_result = @vl_lanc - @vl_txt
        IF ( @vl_lanc = @vl_txt ) OR ( ( @vl_result < 0.02 ) AND ( @vl_result > -0.02 ) )
        BEGIN
          WHILE ( SELECT COUNT(NR_LANCAMENTO) FROM #TMP_LANC ) > 0
          BEGIN
            SELECT @nr_lanc = NR_LANCAMENTO, @dt_mov = DT_MOVIMENTO FROM #TMP_LANC
            SET @conc = 1  
            UPDATE TCAIXA
            SET IN_CONCILIACAO_AUTOM = '1',
                CD_USUARIO_CONCILIACAO = @cd_usuario,
                IN_CONCILIACAO = '2',
                DT_CONCILIACAO = @dt_txt,
                NR_SEQ_CONCILIACAO = @nr_seq
            WHERE CD_COLIGADA = '01'
              AND CD_UNID_NEG = @cd_unid_neg
              AND CD_BANCO = @cd_banco
              AND DT_MOVIMENTO = @dt_mov
              AND NR_LANCAMENTO = @nr_lanc

            DELETE FROM #TMP_LANC WHERE NR_LANCAMENTO = @nr_lanc 
          END
        END

        DROP TABLE #TMP_LANC
      END
    END
  ELSE
    BEGIN
      -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
      -- DARF ( Impostos debitados da conta da Indaiá no momento do registro da DI )

      IF SUBSTRING(@nm_historico, 1, 6 ) = 'DARF E'
      BEGIN

        SET @nr_lanc = ''
        SET @vl_lanc = @vl_txt - 0.02
        SET @vl_lanc1 = @vl_txt + 0.02
        SET @dt_inicial = DateAdd( d, -3, @dt_txt )
  
        IF @vl_txt = 40.0
        BEGIN 
          -- Concilia um lançamento na TCAIXA
          SELECT @nr_lanc = C.NR_LANCAMENTO, @nr_proc = C.NR_PROCESSO
            FROM TCAIXA C (NOLOCK)
           WHERE C.CD_UNID_NEG = @cd_unid_neg 
             AND C.CD_BANCO = @cd_banco 
             AND C.TP_NATUREZA = 'D'
             AND C.IN_CANCELADO = '0'
             AND C.IN_CONCILIACAO = '0'
             AND C.TP_PAGAMENTO = 'D'
             AND C.TP_PROCEDENCIA = '1' 
             AND ( ( C.VL_LANCAMENTO = @vl_txt ) OR ( C.VL_LANCAMENTO BETWEEN  @vl_lanc AND @vl_lanc1 ) ) 
             AND C.DT_MOVIMENTO = @dt_txt   
             -- AND C.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM TFOLLOWUP (NOLOCK) WHERE DT_REALIZACAO BETWEEN @dt_inicial AND @dt_txt AND CD_EVENTO = @reg_di )

          IF @nr_lanc <> ''
          BEGIN    
            IF ( @nr_proc <> '' )	-- Taxa Siscomex - precisa saber o processo
            BEGIN
              SET @conc = 1

              UPDATE TCAIXA
              SET IN_CONCILIACAO_AUTOM = '1',
                  CD_USUARIO_CONCILIACAO = @cd_usuario,
                  IN_CONCILIACAO = '2',
                  DT_CONCILIACAO = @dt_txt,
                  NR_SEQ_CONCILIACAO = @nr_seq
              WHERE CD_COLIGADA = '01'
                AND CD_UNID_NEG = @cd_unid_neg
                AND CD_BANCO = @cd_banco
                AND DT_MOVIMENTO = @dt_txt
                AND NR_LANCAMENTO = @nr_lanc
                AND NR_PROCESSO = @nr_proc
            END
          END 
        END
        ELSE
        BEGIN
          -- Concilia um lançamento na TCAIXA
          SELECT @nr_lanc = C.NR_LANCAMENTO, @nr_proc = C.NR_PROCESSO, @dt_mov = C.DT_MOVIMENTO
            FROM TCAIXA C (NOLOCK)
           WHERE C.CD_UNID_NEG = @cd_unid_neg 
             AND C.CD_BANCO = @cd_banco 
             AND C.TP_NATUREZA = 'D'
             AND C.IN_CANCELADO = '0'
             AND C.IN_CONCILIACAO = '0'
             AND C.TP_PAGAMENTO = 'D'
             AND C.TP_PROCEDENCIA = '1' 
             AND C.DT_MOVIMENTO = @dt_txt  
             AND ( ( C.VL_LANCAMENTO = @vl_txt ) OR ( C.VL_LANCAMENTO BETWEEN  @vl_lanc AND @vl_lanc1 ) ) 
             --AND C.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM TFOLLOWUP (NOLOCK) WHERE DT_REALIZACAO BETWEEN @dt_inicial AND @dt_txt AND CD_EVENTO = @reg_di )
          IF @nr_lanc <> ''
          BEGIN    
            SET @conc = 1
            UPDATE TCAIXA
            SET IN_CONCILIACAO_AUTOM = '1',
                CD_USUARIO_CONCILIACAO = @cd_usuario,
                IN_CONCILIACAO = '2',
                DT_CONCILIACAO = @dt_txt,
                NR_SEQ_CONCILIACAO = @nr_seq
            WHERE CD_COLIGADA = '01'
              AND CD_UNID_NEG = @cd_unid_neg
              AND CD_BANCO = @cd_banco
              AND DT_MOVIMENTO = @dt_mov
              AND NR_LANCAMENTO = @nr_lanc
          END
        END
      END
      ELSE
      BEGIN
      
        -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        -- DOC
        IF SUBSTRING(@nm_historico, 1, 12 ) = 'PAGSAFRA DOC' OR ( SUBSTRING(@nm_historico, 1, 11 ) = 'PAGSAFRA CC' )
        BEGIN

          SET @nr_lanc = ''
          SET @vl_lanc = @vl_txt - 0.02
          SET @vl_lanc1 = @vl_txt + 0.02

          -- Concilia um lançamento na TCAIXA
          SELECT @nr_lanc = C.NR_LANCAMENTO, @nr_proc = C.NR_PROCESSO, @dt_mov = C.DT_MOVIMENTO
            FROM TCAIXA C (NOLOCK)
           WHERE C.CD_UNID_NEG = @cd_unid_neg 
             AND C.CD_BANCO = @cd_banco 
             AND C.TP_NATUREZA = 'D'
             AND C.IN_CANCELADO = '0'
             AND C.IN_CONCILIACAO = '0'
             AND C.TP_PAGAMENTO = 'D'
             AND C.TP_PROCEDENCIA  IN ( '0', '1' )
             AND ( ( C.VL_LANCAMENTO = @vl_txt ) OR ( C.VL_LANCAMENTO BETWEEN  @vl_lanc AND @vl_lanc1 ) ) 
             AND DT_MOVIMENTO = @dt_txt

          IF @nr_lanc <> ''
          BEGIN    
            SET @conc = 1
            UPDATE TCAIXA
            SET IN_CONCILIACAO_AUTOM = '1',
                CD_USUARIO_CONCILIACAO = @cd_usuario,
                IN_CONCILIACAO = '2',
                DT_CONCILIACAO = @dt_txt,
                NR_SEQ_CONCILIACAO = @nr_seq
            WHERE CD_COLIGADA = '01'
              AND CD_UNID_NEG = @cd_unid_neg
              AND CD_BANCO = @cd_banco
              AND DT_MOVIMENTO = @dt_mov
              AND NR_LANCAMENTO = @nr_lanc
          END     
        END
        ELSE
        BEGIN 
          -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
          -- TED
          IF SUBSTRING(@nm_historico, 1, 12 ) = 'PAGSAFRA TED'
          BEGIN

            SET @tab_temp = 0 

            IF @tab_temp = 0 
            BEGIN
              SET @tab_temp = 1

              SELECT C.NR_CHEQUE, MAX( C.NR_LANCAMENTO ) AS NR_LANCAMENTO, MAX( C.NR_PROCESSO ) AS NR_PROCESSO,
                     MAX( C.DT_MOVIMENTO ) AS DT_MOVIMENTO, 
                     ISNULL( SUM( C.VL_LANCAMENTO ), 0 ) AS VL_LANCAMENTO
                INTO #TMP_CAIXA
                FROM TCAIXA C (NOLOCK)
               WHERE C.CD_UNID_NEG = @cd_unid_neg 
                 AND C.CD_BANCO = @cd_banco 
                 AND C.TP_NATUREZA = 'D'
                 AND C.TP_PAGAMENTO = 'T'
                 AND C.IN_CANCELADO = '0'
                 AND C.IN_CONCILIACAO = '0'
                 AND C.TP_PROCEDENCIA IN ( '0', '1' )
                 AND C.DT_MOVIMENTO = @dt_txt 
               GROUP BY C.NR_CHEQUE
               ORDER BY C.NR_PROCESSO 
            END

            SET @nr_documento = ''
            SET @vl_lanc = @vl_txt - 0.02
            SET @vl_lanc1 = @vl_txt + 0.02
            SET @dt_inicial = DateAdd( d, -3, @dt_txt )

            -- Concilia um lançamento na TCAIXA
            SELECT @dt_mov = DT_MOVIMENTO, @nr_documento = NR_CHEQUE
              FROM #TMP_CAIXA
             WHERE ( ( VL_LANCAMENTO = @vl_txt ) OR ( VL_LANCAMENTO BETWEEN  @vl_lanc AND @vl_lanc1 ) ) 

            IF @nr_documento <> ''
            BEGIN    
              SET @conc = 1
              UPDATE TCAIXA
                 SET IN_CONCILIACAO_AUTOM = '9',
                     CD_USUARIO_CONCILIACAO = @cd_usuario,
                     IN_CONCILIACAO = '2',
                     DT_CONCILIACAO = @dt_txt,
                     NR_SEQ_CONCILIACAO = @nr_seq
               WHERE CD_COLIGADA = '01'
                 AND TP_PAGAMENTO = 'T'
                 AND CD_UNID_NEG = @cd_unid_neg
                 AND CD_BANCO = @cd_banco
                 AND NR_CHEQUE = @nr_documento

               DROP TABLE #TMP_CAIXA
            END     
            ELSE
            BEGIN
              DROP TABLE #TMP_CAIXA
                
              SELECT NR_LANCAMENTO, VL_LANCAMENTO, DT_MOVIMENTO
                INTO #TMP_TED
                FROM TCAIXA (NOLOCK)
               WHERE CD_UNID_NEG = @cd_unid_neg 
                 AND CD_BANCO = @cd_banco 
                 AND TP_NATUREZA = 'D'
                 AND TP_PAGAMENTO = 'T'
                 AND IN_CANCELADO = '0'
                 AND IN_CONCILIACAO = '0'
                 AND TP_PROCEDENCIA IN ( '0', '1' )
                 AND DT_MOVIMENTO = @dt_txt 
                 AND ISNULL( NR_PROCESSO, '' ) = ''
               ORDER BY NR_LANCAMENTO 
               
               WHILE ( SELECT COUNT( NR_LANCAMENTO ) FROM #TMP_TED ) > 0
               BEGIN
                 SELECT @nr_lanc = NR_LANCAMENTO, @dt_mov = DT_MOVIMENTO FROM #TMP_TED
                 
                 IF ( SELECT COUNT( NR_LANCAMENTO )
                      FROM TCAIXA (NOLOCK)
                      WHERE DT_MOVIMENTO = @dt_mov
                        AND NR_LANCAMENTO = @nr_lanc
                        AND ( ( VL_LANCAMENTO = @vl_txt ) OR ( VL_LANCAMENTO BETWEEN  @vl_lanc AND @vl_lanc1 ) )  
                        AND IN_CONCILIACAO = '0' ) > 0
                 BEGIN   
                   SET @conc = 1 
                   UPDATE TCAIXA
                      SET IN_CONCILIACAO_AUTOM = '9',
                          CD_USUARIO_CONCILIACAO = @cd_usuario,
                          IN_CONCILIACAO = '2',
                          DT_CONCILIACAO = @dt_txt,
                          NR_SEQ_CONCILIACAO = @nr_seq
                    WHERE DT_MOVIMENTO = @dt_mov
                      AND NR_LANCAMENTO = @nr_lanc
                      AND ( ( VL_LANCAMENTO = @vl_txt ) OR ( VL_LANCAMENTO BETWEEN  @vl_lanc AND @vl_lanc1 ) )  
                      AND IN_CONCILIACAO = '0'  
                 END

                 DELETE FROM #TMP_TED WHERE NR_LANCAMENTO = @nr_lanc
               END 
               DROP TABLE #TMP_TED  
            END     

          END
          ELSE
          BEGIN
            -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            -- CTA
            IF SUBSTRING(@nm_historico, 1, 4 ) = 'CTA.'
            BEGIN

              SET @nr_lanc = ''
              SET @vl_lanc = @vl_txt - 0.02
              SET @vl_lanc1 = @vl_txt + 0.02

              -- Concilia um lançamento na TCAIXA
              SELECT @nr_lanc = C.NR_LANCAMENTO, @dt_mov = C.DT_MOVIMENTO
                FROM TCAIXA C (NOLOCK)
               WHERE C.CD_UNID_NEG = @cd_unid_neg 
                 AND C.CD_BANCO = @cd_banco 
                 AND C.TP_NATUREZA = 'D'
                 AND C.IN_CANCELADO = '0'
                 AND C.IN_CONCILIACAO = '0'
                 AND C.TP_PAGAMENTO = 'D'
                 AND C.TP_PROCEDENCIA = '9' 
                 AND ( ( C.VL_LANCAMENTO = @vl_txt ) OR ( C.VL_LANCAMENTO BETWEEN  @vl_lanc AND @vl_lanc1 ) ) 
                 AND C.DT_MOVIMENTO = @dt_txt

              IF @nr_lanc <> ''
              BEGIN    
                SET @conc = 1
                UPDATE TCAIXA
                SET IN_CONCILIACAO_AUTOM = '1',
                    CD_USUARIO_CONCILIACAO = @cd_usuario,
                    IN_CONCILIACAO = '2',
                    DT_CONCILIACAO = @dt_txt,
                    NR_SEQ_CONCILIACAO = @nr_seq
                WHERE CD_COLIGADA = '01'
                  AND CD_UNID_NEG = @cd_unid_neg
                  AND CD_BANCO = @cd_banco
                  AND DT_MOVIMENTO = @dt_mov
                  AND NR_LANCAMENTO = @nr_lanc
              END     
            
            END
            ELSE
            BEGIN
              -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
              -- TRANSF P/ C/I ( transferências do banco SAFRA para outros bancos )
              IF SUBSTRING(@nm_historico, 1, 13 ) = 'TRANSF P/ C/I'
              BEGIN

                SET @nr_lanc = ''
                SET @vl_lanc = @vl_txt - 0.02
                SET @vl_lanc1 = @vl_txt + 0.02

                -- Concilia um lançamento na TCAIXA
                SELECT @nr_lanc = C.NR_LANCAMENTO, @dt_mov = C.DT_MOVIMENTO
                  FROM TCAIXA C (NOLOCK)
                 WHERE C.CD_UNID_NEG = @cd_unid_neg 
                   AND C.CD_BANCO = @cd_banco 
                   AND C.TP_NATUREZA = 'D'
                   AND C.IN_CANCELADO = '0'
                   AND C.IN_CONCILIACAO = '0'
                   AND C.TP_PAGAMENTO = 'D'
                   AND C.TP_PROCEDENCIA = '0' 
                   AND ( ( C.VL_LANCAMENTO = @vl_txt ) OR ( C.VL_LANCAMENTO BETWEEN  @vl_lanc AND @vl_lanc1 ) ) 
  
              IF @nr_lanc <> ''
                BEGIN    
                  SET @conc = 1
                  UPDATE TCAIXA
                  SET IN_CONCILIACAO_AUTOM = '1',
                      CD_USUARIO_CONCILIACAO = @cd_usuario,
                      IN_CONCILIACAO = '2',
                      DT_CONCILIACAO = @dt_txt,
                      NR_SEQ_CONCILIACAO = @nr_seq
                  WHERE CD_COLIGADA = '01'
                    AND CD_UNID_NEG = @cd_unid_neg
                    AND CD_BANCO = @cd_banco
                    AND DT_MOVIMENTO = @dt_mov
                    AND NR_LANCAMENTO = @nr_lanc
                END     
              END 
            END

          END
        END
      END 
  END

  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  -- Atualiza a tabela do Arquivo - TCONCILIACAO
  IF @conc = 1
  BEGIN
    UPDATE TCONCILIACAO
    SET IN_CONCILIADO = '1'
    WHERE NR_SEQ = @nr_seq
  END
  SET @conc = 0

  FETCH c_txt INTO @nr_seq, @vl_txt, @nr_documento, @cd_unid_neg, @cd_banco, @dt_txt, @nm_historico
END


CLOSE c_txt
DEALLOCATE c_txt



GO
