USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_rel_followup_aut] AS

/*
SET XACT_ABORT ON
BEGIN TRAN
*/

DELETE TREL_FOLLOWUP_AUT

DECLARE @nr_geracao int
DECLARE @dt_geracao datetime
DECLARE @nr_processo char(18)

DECLARE @nr_processo_tabela char(18)
DECLARE @cd_referencia char(15)
DECLARE @nr_conhecimento char(30)
DECLARE @dt_chegada datetime
DECLARE @dt_receb_doc datetime
DECLARE @nr_di char(10)
DECLARE @dt_reg_di datetime
DECLARE @nm_canal char(10)
DECLARE @dt_desemb datetime

-- PARA PROCESSOS COM CHEGADA DA MERCADORIA NA FABRICA OU DATA DA MERCADORIA EM BRANCO
INSERT TREL_FOLLOWUP_AUT ( NR_PROCESSO, CD_REFERENCIA, NR_CONHECIMENTO, DT_CHEGADA, DT_RECEB_DOC,
        NR_DI, DT_REG_DI, NM_CANAL, DT_DESEMB )
SELECT DISTINCT(P.NR_PROCESSO), R.CD_REFERENCIA, P.NR_CONHECIMENTO, 
       ( SELECT DT_REALIZACAO 
         FROM   TFOLLOWUP F 
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                F.CD_EVENTO = ( SELECT CD_EV_CHEGADA FROM TPARAMETROS ) ) DT_CHEGADA,
       ( SELECT DT_REALIZACAO 
         FROM   TFOLLOWUP F 
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                F.CD_EVENTO = ( SELECT CD_EV_RECEB_DOC FROM TPARAMETROS ) ) DT_RECEB_DOC,
       NR_DI,
       ( SELECT DT_REALIZACAO 
         FROM   TFOLLOWUP F 
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                F.CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS ) ) DT_REG_DI,
       C.NM_CANAL,
       ( SELECT DT_REALIZACAO 
         FROM   TFOLLOWUP F 
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                F.CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) DT_DESEMB
FROM   TPROCESSO P,
       TREF_CLIENTE R,
       TTP_CANAL C,
       VW_DT_ENTREGA_MERC E,
       TCLIENTE_CONTATO CONT
WHERE  P.NR_PROCESSO *= R.NR_PROCESSO AND
       R.NR_SEQUENCIA = ( SELECT MIN( NR_SEQUENCIA) FROM TREF_CLIENTE REF2 WHERE P.NR_PROCESSO = REF2.NR_PROCESSO ) AND
       P.CD_PRODUTO IN ( '01', '02', '03', '10' ) AND
       P.IN_CANCELADO <> '1' AND
       P.CD_UNID_NEG = CONT.CD_UNID_NEG AND
       P.CD_PRODUTO = CONT.CD_PRODUTO AND
       P.CD_CLIENTE = CONT.CD_CLIENTE AND
       ( ( P.CD_AREA = CONT.CD_AREA AND P.CD_AREA <> '' ) OR ( P.CD_AREA = '' OR CONT.CD_AREA = '' ) ) AND
       ( ( IN_DOC IS NOT NULL ) OR ( IN_XLS IS NOT NULL ) OR ( IN_FAX IS NOT NULL ) OR ( IN_HTML IS NOT NULL )  ) AND
       P.CD_CANAL *= C.CD_CANAL AND
       P.NR_PROCESSO = E.NR_PROCESSO AND
       ( ( E.DT_REALIZACAO IS NULL ) OR ( E.DT_REALIZACAO > GETDATE() -2 ) )

-- SELECIONANDO OS PROCESSOS REMOVIDOS PARA TABELA TEMPORARIA
SELECT DISTINCT(P.NR_PROCESSO), R.CD_REFERENCIA, P.NR_CONHECIMENTO, 
       ( SELECT DT_REALIZACAO 
           FROM   TFOLLOWUP F 
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_EVENTO = ( SELECT CD_EV_CHEGADA FROM TPARAMETROS ) ) DT_CHEGADA,
       ( SELECT DT_REALIZACAO 
           FROM   TFOLLOWUP F 
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_EVENTO = ( SELECT CD_EV_RECEB_DOC FROM TPARAMETROS ) ) DT_RECEB_DOC, NR_DI,
       ( SELECT DT_REALIZACAO 
           FROM   TFOLLOWUP F 
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_EVENTO = ( SELECT CD_EV_REG_DI FROM TPARAMETROS ) ) DT_REG_DI, C.NM_CANAL,
       ( SELECT DT_REALIZACAO 
           FROM   TFOLLOWUP F 
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND 
                  F.CD_EVENTO = ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) DT_DESEMB
INTO #TMP_APOIO  
FROM TPROCESSO P,
     TREF_CLIENTE R,
     TTP_CANAL C,
     VW_DT_REMOCAO REM,
     TCLIENTE_CONTATO CONT
WHERE P.NR_PROCESSO *= R.NR_PROCESSO AND
      R.NR_SEQUENCIA = ( SELECT MIN( NR_SEQUENCIA) FROM TREF_CLIENTE REF2 WHERE P.NR_PROCESSO = REF2.NR_PROCESSO ) AND
      P.CD_PRODUTO IN ( '01', '02', '03', '10' ) AND
      P.IN_CANCELADO <> '1' AND
      P.CD_UNID_NEG = CONT.CD_UNID_NEG AND
      P.CD_PRODUTO = CONT.CD_PRODUTO AND
      P.CD_CLIENTE = CONT.CD_CLIENTE AND
      ( ( P.CD_AREA = CONT.CD_AREA AND P.CD_AREA <> '' ) OR ( P.CD_AREA = '' OR CONT.CD_AREA = '' ) ) AND
      ( ( IN_DOC IS NOT NULL ) OR ( IN_XLS IS NOT NULL ) OR ( IN_FAX IS NOT NULL ) OR ( IN_HTML IS NOT NULL )  ) AND      P.CD_CANAL *= C.CD_CANAL AND
      P.NR_PROCESSO = REM.NR_PROCESSO AND ( REM.DT_REALIZACAO IS NOT NULL )
      

DECLARE c_Cursor CURSOR FOR
  SELECT NR_PROCESSO, CD_REFERENCIA, NR_CONHECIMENTO, DT_CHEGADA, DT_RECEB_DOC, NR_DI, DT_REG_DI, NM_CANAL, DT_DESEMB
    FROM #TMP_APOIO

-- CURSOR PARA VERIFICAR SE JA EXISTE O PROCESSO EM TREL_FOLLOWUP_AUT E SE NAO EXISTIR INCLUI ..
OPEN c_Cursor
FETCH c_Cursor INTO @nr_processo_tabela, @cd_referencia, @nr_conhecimento, @dt_chegada, @dt_receb_doc, @nr_di, @dt_reg_di, @nm_canal, @dt_desemb
WHILE @@fetch_status <> -1
BEGIN

  DECLARE @proc1 char(18)
  SELECT @proc1 = ''

  SELECT @proc1 = NR_PROCESSO 
    FROM TFOLLOWUP 
    WHERE (CD_EVENTO = (SELECT CD_EV_ENTREGA_MERC FROM TPARAMETROS)) AND 
          (NR_PROCESSO = @nr_processo_tabela) AND (dt_realizacao is not null) and (DT_REALIZACAO < GETDATE() -2) 
 
  IF @proc1 <> @nr_processo_tabela
  BEGIN
    IF (SELECT COUNT(*)
          FROM TREL_FOLLOWUP_AUT 
          WHERE NR_PROCESSO = @nr_processo_tabela) = 0
    BEGIN
      INSERT INTO TREL_FOLLOWUP_AUT 
         (NR_PROCESSO, CD_REFERENCIA, NR_CONHECIMENTO, DT_CHEGADA, DT_RECEB_DOC, NR_DI, DT_REG_DI, NM_CANAL, DT_DESEMB)
      VALUES 
         (@nr_processo_tabela, @cd_referencia, @nr_conhecimento, @dt_chegada, @dt_receb_doc, @nr_di, @dt_reg_di, @nm_canal, @dt_desemb)
    END
  END

  FETCH c_Cursor INTO @nr_processo_tabela, @cd_referencia, @nr_conhecimento, @dt_chegada, @dt_receb_doc, @nr_di, @dt_reg_di, @nm_canal, @dt_desemb
END

CLOSE c_Cursor
DEALLOCATE c_Cursor  

DROP TABLE #TMP_APOIO

DECLARE c_processo CURSOR FOR 
  SELECT NR_PROCESSO
  FROM   TREL_FOLLOWUP_AUT

OPEN c_processo
FETCH c_processo INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN 
  ------------------
  DECLARE @cd_evento    char(3)
  DECLARE @ptr_proc     binary(16)
  DECLARE @ptr_followup binary(16)
  DECLARE @tamanho      int

  UPDATE TREL_FOLLOWUP_AUT
  SET    TX_OBS = ''
  WHERE  NR_PROCESSO = @nr_processo

  DECLARE c_obs CURSOR FOR
    SELECT CD_EVENTO
    FROM   TFOLLOWUP
    WHERE  TX_OBS IS NOT NULL AND
           NR_PROCESSO = @nr_processo
    ORDER BY NR_ORDEM

  OPEN c_obs
  FETCH c_obs INTO @cd_evento
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @tamanho = DATALENGTH( TX_OBS )
    FROM   TREL_FOLLOWUP_AUT
    WHERE  NR_PROCESSO = @nr_processo
 
    SELECT @ptr_proc = ISNULL( TEXTPTR( TX_OBS ), 0 )
    FROM   TREL_FOLLOWUP_AUT
    WHERE  NR_PROCESSO = @nr_processo 

    SELECT @ptr_followup = ISNULL( TEXTPTR(TX_OBS), 0 )
    FROM   TFOLLOWUP
    WHERE  NR_PROCESSO = @nr_processo AND
           CD_EVENTO = @cd_evento
  
    -- Atualizando Campo do FollowUp
    UPDATETEXT TREL_FOLLOWUP_AUT.TX_OBS @ptr_proc @tamanho NULL TFOLLOWUP.TX_OBS @ptr_followup
    -- Inserindo quebra de linha
    SELECT @tamanho = DATALENGTH( TX_OBS )
    FROM   TREL_FOLLOWUP_AUT
    WHERE  NR_PROCESSO = @nr_processo

    SELECT @ptr_proc = ISNULL( TEXTPTR( TX_OBS ), 0 )
    FROM   TREL_FOLLOWUP_AUT
    WHERE  NR_PROCESSO = @nr_processo 
 
    DECLARE @caracter char(1)
    SELECT @caracter = CHAR(13)
    UPDATETEXT TREL_FOLLOWUP_AUT.TX_OBS @ptr_proc @tamanho NULL @caracter

    FETCH c_obs INTO @cd_evento
  END

  CLOSE c_obs
  DEALLOCATE c_obs
  ------------------
  FETCH c_processo INTO @nr_processo
END

CLOSE c_processo
DEALLOCATE c_processo


SELECT @dt_geracao = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )

SELECT @nr_geracao = ( MAX( NR_GERACAO ) + 1 )
  FROM  TREL_FLP_AUT_CONTROLE
  WHERE DT_GERACAO = @dt_geracao

SELECT @nr_geracao = ISNULL( @nr_geracao, 1 )

INSERT TREL_FLP_AUT_CONTROLE ( NR_GERACAO, DT_GERACAO, IN_GERACAO )
  VALUES( @nr_geracao, @dt_geracao, 0 )


/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/





GO
