USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_cria_mbf_simulacao]( @CD_MBF INT, @CD_USUARIO CHAR(4)) AS 
SET NOCOUNT ON
/*
DECLARE @CD_MBF INT
DECLARE @CD_USUARIO CHAR(4)
*/
DECLARE @TB_MODALIDADES TABLE (CD_MODALIDADE CHAR(2), NM_MODALIDADE VARCHAR(200))
DECLARE @TB_ESTUFAGENS TABLE (CD_ESTUFAGEM CHAR(1), NM_ESTUFAGEM VARCHAR(200))   
DECLARE @TB_LI TABLE (CD_LI CHAR(1), NM_LI VARCHAR(200))  
DECLARE @TB_MBF_KPI TABLE (CD_MBF INT, CD_USUARIO CHAR(4), CD_KPI CHAR(12), ID_KPI INT, ID CHAR(1))               
DECLARE @CD_GRUPO CHAR(3)
DECLARE @CD_KPI CHAR(12)
DECLARE @NM_KPI VARCHAR(200)
DECLARE @NM_KPI_PRINCIPAL VARCHAR(200)
DECLARE @NM_QUEBRAS VARCHAR(200)
DECLARE @NM_QUEBRAS_AUX VARCHAR(200)
DECLARE @NM_COMPLETO VARCHAR(200)
DECLARE @TP_KPI      INT
DECLARE @NM_TP_KPI VARCHAR(50)
DECLARE @CD_TP_KPI CHAR (1)
DECLARE @CD_EVENTO_1 CHAR(3)
DECLARE @CD_EVENTO_2 CHAR(3)
DECLARE @MES_SELECIONADO INT
DECLARE @ANO_SELECIONADO INT
DECLARE @IN_MODAL BIT
DECLARE @IN_ESTUFAGEM BIT
DECLARE @IN_CNPJ BIT
DECLARE @IN_AREA BIT
DECLARE @IN_LI BIT
DECLARE @IN_PAIS_ORIGEM BIT
DECLARE @IN_PREFIXO BIT
DECLARE @IN_TERMINAL BIT
DECLARE @IN_CANAL BIT
DECLARE @IN_SERVICO BIT
DECLARE @IN_LOCAL_DES BIT
DECLARE @CD_MODAL CHAR(2)
DECLARE @CD_ESTUFAGEM CHAR(1)
DECLARE @CD_CNPJ CHAR(5)
DECLARE @CD_AREA CHAR(2)
DECLARE @CD_LI CHAR(1)
DECLARE @CD_PAIS_ORIGEM CHAR(3)
DECLARE @CD_PREFIXO CHAR(2)
DECLARE @CD_TERMINAL CHAR(4)
DECLARE @CD_CANAL CHAR(1)
DECLARE @CD_SERVICO CHAR(3)
DECLARE @CD_LOCAL_DES CHAR(4)
DECLARE @NM_MODAL VARCHAR(200)
DECLARE @NM_ESTUFAGEM VARCHAR(200)
DECLARE @NM_CNPJ VARCHAR(200)
DECLARE @NM_AREA VARCHAR(200)
DECLARE @NM_LI VARCHAR(200)
DECLARE @NM_PAIS_ORIGEM VARCHAR(200)
DECLARE @NM_PREFIXO VARCHAR(200)
DECLARE @NM_TERMINAL VARCHAR(200)
DECLARE @NM_CANAL VARCHAR(200)
DECLARE @NM_SERVICO VARCHAR(200)
DECLARE @NM_LOCAL_DES VARCHAR(200)
DECLARE @CD_PRODUTO CHAR(2)
DECLARE @ID_KPI INT
DECLARE @ID CHAR(1)
DECLARE @IN_UTEIS_CORRIDOS BIT

/*
SET @CD_MBF = 9
SET @CD_USUARIO = '1801'
*/

DELETE FROM TMBF_RESULTADO WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO

UPDATE TMBF_SELECIONADO
SET IN_GERADO = '0',
    DT_GERADO = NULL
WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO

INSERT INTO @TB_MBF_KPI
  SELECT CD_MBF, CD_USUARIO, CD_KPI, ID_KPI, '1' ID
  FROM TMBF_KPI
  WHERE CD_MBF = @CD_MBF
    AND CD_USUARIO = @CD_USUARIO
  UNION  
  SELECT CD_MBF, CD_USUARIO, CD_GRAFICO, ID_GRAFICO, '2' ID
  FROM TMBF_OUTROS
  WHERE CD_MBF = @CD_MBF
    AND CD_USUARIO = @CD_USUARIO    
  ORDER BY ID    

WHILE (SELECT COUNT (*) FROM @TB_MBF_KPI WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO) > 0
BEGIN
  SELECT TOP 1 @CD_KPI = CD_KPI, @ID_KPI = ID_KPI, @ID = ID FROM @TB_MBF_KPI
  
  IF @ID = '1'   
    SELECT TOP 1 @CD_MBF = I.CD_MBF, @CD_USUARIO = I.CD_USUARIO, @CD_GRUPO = I.CD_GRUPO, 
      @TP_KPI = RIGHT(CD_KPI, 1), @IN_MODAL = K.IN_MODAL, @IN_AREA = K.IN_AREA, @IN_CNPJ = K.IN_CNPJ, 
      @IN_ESTUFAGEM = K.IN_ESTUFAGEM, @IN_LI = K.IN_LI, @IN_PAIS_ORIGEM = K.IN_PAIS_ORIGEM, @IN_PREFIXO = K.IN_PREFIXO, 
      @IN_TERMINAL = K.IN_TERMINAL, @IN_CANAL = K.IN_CANAL, @IN_SERVICO = K.IN_SERVICO, @IN_LOCAL_DES = K.IN_LOCAL_DES,
      @NM_KPI_PRINCIPAL = K.NM_KPI, @CD_PRODUTO = I.CD_PRODUTO, @IN_UTEIS_CORRIDOS = I.IN_UTEIS_CORRIDOS
    FROM TMBF_INFO I (NOLOCK)
      INNER JOIN TMBF_KPI K (NOLOCK) ON (K.CD_MBF = I.CD_MBF AND K.CD_USUARIO = I.CD_USUARIO)
    WHERE I.CD_MBF = @CD_MBF
      AND K.CD_KPI = @CD_KPI 
      AND I.CD_USUARIO = @CD_USUARIO 
      AND K.ID_KPI = @ID_KPI
  ELSE
     SELECT TOP 1 @CD_MBF = I.CD_MBF, @CD_USUARIO = I.CD_USUARIO, @CD_GRUPO = I.CD_GRUPO, 
      @TP_KPI = '3', @IN_MODAL = K.IN_MODAL, @IN_AREA = K.IN_AREA, @IN_CNPJ = K.IN_CNPJ, 
      @IN_ESTUFAGEM = K.IN_ESTUFAGEM, @IN_LI = K.IN_LI, @IN_PAIS_ORIGEM = K.IN_PAIS_ORIGEM, @IN_PREFIXO = K.IN_PREFIXO, 
      @IN_TERMINAL = K.IN_TERMINAL, @IN_CANAL = K.IN_CANAL, @IN_SERVICO = K.IN_SERVICO, @IN_LOCAL_DES = K.IN_LOCAL_DES,
      @NM_KPI_PRINCIPAL = K.NM_GRAFICO, @CD_PRODUTO = I.CD_PRODUTO
    FROM TMBF_INFO I (NOLOCK)
      INNER JOIN TMBF_OUTROS K (NOLOCK) ON (K.CD_MBF = I.CD_MBF AND K.CD_USUARIO = I.CD_USUARIO)
    WHERE I.CD_MBF = @CD_MBF
      AND K.CD_GRAFICO = @CD_KPI 
      AND I.CD_USUARIO = @CD_USUARIO 
      AND K.ID_GRAFICO = @ID_KPI 

  SET @CD_AREA = NULL
  SET @NM_AREA = '' 
  IF @IN_AREA = '1'       
  BEGIN
    SET @CD_AREA = '58'
    SET @NM_AREA = ' - Áreas' 
  END   

  SET @CD_CNPJ = NULL
  SET @NM_CNPJ = ''  
  IF @IN_CNPJ = '1'
  BEGIN
    SET @NM_CNPJ = ' - Clientes'      
  END    

  SET @CD_PAIS_ORIGEM = NULL
  SET @NM_PAIS_ORIGEM = ''  
  IF @IN_PAIS_ORIGEM = '1'
  BEGIN
    SET @NM_PAIS_ORIGEM = ' - País'      
  END     
  
  SET @CD_PREFIXO = NULL
  SET @NM_PREFIXO = ''  
  IF @IN_PREFIXO = '1'
  BEGIN
    SET @NM_PREFIXO = ' - Prefixos'      
  END   
  
  SET @CD_TERMINAL = NULL
  SET @NM_TERMINAL = ''  
  IF @IN_TERMINAL = '1'
  BEGIN
    SET @NM_TERMINAL = ' - Terminal'      
  END 
  
  SET @CD_CANAL = NULL
  SET @NM_CANAL = ''  
  IF @IN_CANAL = '1'
  BEGIN
    SET @NM_CANAL = ' - Canal'      
  END   
    
  SET @CD_SERVICO = NULL
  SET @NM_SERVICO = ''  
  IF @IN_SERVICO = '1'
  BEGIN
    SET @NM_SERVICO = ' - Serviços'      
  END 
  
  SET @CD_LOCAL_DES = NULL
  SET @NM_LOCAL_DES = ''  
  IF @IN_LOCAL_DES = '1'
  BEGIN
    SET @NM_LOCAL_DES = ' - Desembarque'      
  END 
   	     	
  INSERT INTO @TB_ESTUFAGENS
    SELECT TP_ESTUFAGEM, NM_ESTUFAGEM
    FROM VW_TIPO_ESTUFAGEM
   
  IF @IN_ESTUFAGEM = '1' OR @IN_MODAL = '1' OR @IN_LI = '1'
  BEGIN
    IF @IN_ESTUFAGEM = '1'
    BEGIN
      WHILE (SELECT COUNT(*) FROM @TB_ESTUFAGENS) > 0
      BEGIN   
         INSERT INTO @TB_MODALIDADES
           SELECT CD_VIA_TRANSPORTE, NM_VIA_TRANSPORTE 
           FROM TVIA_TRANSPORTE (NOLOCK)
           WHERE CD_VIA_TRANSPORTE IN ('01','04','07')     
        
        SELECT TOP 1 @CD_ESTUFAGEM = CD_ESTUFAGEM, @NM_ESTUFAGEM = NM_ESTUFAGEM FROM @TB_ESTUFAGENS
      
        IF @IN_MODAL = '1'
        BEGIN
          WHILE (SELECT COUNT(*) FROM @TB_MODALIDADES) > 0 
          BEGIN
            SELECT TOP 1 @CD_MODAL = CD_MODALIDADE, @NM_MODAL = NM_MODALIDADE FROM @TB_MODALIDADES
            
            IF @IN_LI = '1'
            BEGIN
              INSERT INTO @TB_LI
              SELECT '1', 'Com LI' UNION SELECT '0', 'Sem LI'   
            
              WHILE (SELECT COUNT(*) FROM @TB_LI) > 0 
              BEGIN
                SELECT TOP 1 @CD_LI = CD_LI, @NM_LI = NM_LI FROM @TB_LI
                
                IF @TP_KPI = '2'
			    BEGIN
				  SET @CD_TP_KPI = '0'
				  IF @IN_UTEIS_CORRIDOS = 1
				    SET @NM_TP_KPI = ' (Ambos)'
				  ELSE
				    SET @NM_TP_KPI = ' (Úteis)'
				  
				  SET @NM_KPI = @NM_KPI_PRINCIPAL
				  SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + ' - ' + @NM_LI + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
				  SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
				  
				  IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
				    
				  INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES) 
				  VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
				    NULL, '9999XX-9999-99', NULL, NULL,
				    @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)   
	              
				  SET @CD_TP_KPI = '1'  
				  SET @NM_TP_KPI = ' (Corridos)'
				  SET @NM_KPI = @NM_KPI_PRINCIPAL
				  SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + ' - ' + @NM_LI + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
				  SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
				  
				  IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
				  
				  INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
				  VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
				    NULL, '9999XX-9999-99', NULL, NULL,
				    @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)  
			    END
			    ELSE
			    BEGIN
				  IF @TP_KPI = '0'
				  BEGIN
				    SET @CD_TP_KPI = '0'
				    IF @IN_UTEIS_CORRIDOS = 1
				      SET @NM_TP_KPI = ' (Ambos)'
				    ELSE
				      SET @NM_TP_KPI = ' (Úteis)'
				  END  
				  ELSE
				  BEGIN
				    IF @TP_KPI = '3'
				    BEGIN
				      SET @CD_TP_KPI = '3'
				      SET @NM_TP_KPI = ''
				    END  
				    ELSE
				    BEGIN
				      SET @CD_TP_KPI = '1'
				      SET @NM_TP_KPI = ' (Corridos)'
				    END  
				  END  
	          
				  SET @NM_KPI = @NM_KPI_PRINCIPAL
				  SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + ' - ' + @NM_LI + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
				  
				  SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
				  
				  IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
				  
				  INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
				  VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
				    NULL, '9999XX-9999-99', NULL, NULL,
				    @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)    	                    
			    END                
                DELETE FROM @TB_LI WHERE CD_LI = @CD_LI
              END            
            END
            ELSE
            BEGIN
              IF @TP_KPI = '2'
              BEGIN
                SET @CD_TP_KPI = '0'
                SET @NM_TP_KPI = ' (Úteis)'		    
                SET @NM_KPI = @NM_KPI_PRINCIPAL
                SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
                SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
                
                IF ISNULL(@NM_QUEBRAS,'') <> ''
				  SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				ELSE   
				  SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
                
                INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
                VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                  NULL, '9999XX-9999-99', NULL, NULL,
                  @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES) 
              
                SET @CD_TP_KPI = '1'  
                SET @NM_TP_KPI = ' (Corridos)'
                SET @NM_KPI = @NM_KPI_PRINCIPAL
                SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
                SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
                
                IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
                
                INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
                VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                  NULL, '9999XX-9999-99', NULL, NULL,
                  @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)                	         
              END
              ELSE
              BEGIN
                IF @TP_KPI = '0'
                BEGIN
                  SET @CD_TP_KPI = '0'
			      IF @IN_UTEIS_CORRIDOS = 1
				    SET @NM_TP_KPI = ' (Ambos)'
				  ELSE
				    SET @NM_TP_KPI = ' (Úteis)'
			    END
		        ELSE
		        BEGIN
		          IF @TP_KPI = '3'
				  BEGIN
				    SET @CD_TP_KPI = '3'
				    SET @NM_TP_KPI = ''
				  END  
				  ELSE
				  BEGIN
				    SET @CD_TP_KPI = '1'
				    SET @NM_TP_KPI = ' (Corridos)'
				  END  
		        END  
            
                SET @NM_KPI = @NM_KPI_PRINCIPAL
                SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
                SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
                
                IF ISNULL(@NM_QUEBRAS,'') <> ''
				  SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				ELSE   
				  SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
                
                INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
                VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                  NULL, '9999XX-9999-99', NULL, NULL,
                  @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)    	                    
              END
            END
            DELETE FROM @TB_MODALIDADES WHERE CD_MODALIDADE = @CD_MODAL  
          END        
        END
        ELSE
        BEGIN
          IF @IN_LI = '1'
          BEGIN
            INSERT INTO @TB_LI
            SELECT '1', 'Com LI' UNION SELECT '0', 'Sem LI'   
            
            WHILE (SELECT COUNT(*) FROM @TB_LI) > 0 
            BEGIN
              SELECT TOP 1 @CD_LI = CD_LI, @NM_LI = NM_LI FROM @TB_LI
                
              IF @TP_KPI = '2'
			  BEGIN
			    SET @CD_TP_KPI = '0'
				SET @NM_TP_KPI = ' (Úteis)'
				SET @NM_KPI = @NM_KPI_PRINCIPAL
				SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_LI + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
				SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
				
				IF ISNULL(@NM_QUEBRAS,'') <> ''
				  SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				ELSE   
				  SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
				
				INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
				VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
				  NULL, '9999XX-9999-99', NULL, NULL,
				  @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)   
	              
				SET @CD_TP_KPI = '1'  
				SET @NM_TP_KPI = ' (Corridos)'
				SET @NM_KPI = @NM_KPI_PRINCIPAL
				SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_LI + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
				SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
				
				IF ISNULL(@NM_QUEBRAS,'') <> ''
				  SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				ELSE   
				  SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
				
				INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
				VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
				  NULL, '9999XX-9999-99', NULL, NULL,
				  @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)  
			  END
			  ELSE
			  BEGIN
			    IF @TP_KPI = '0'
				BEGIN
				  SET @CD_TP_KPI = '0'
				  IF @IN_UTEIS_CORRIDOS = 1
				    SET @NM_TP_KPI = ' (Ambos)'
				  ELSE
				    SET @NM_TP_KPI = ' (Úteis)'
				END  
				ELSE
				BEGIN
				  IF @TP_KPI = '3'
				  BEGIN
				    SET @CD_TP_KPI = '3'
				    SET @NM_TP_KPI = ''
				  END  
				  ELSE
				  BEGIN
				    SET @CD_TP_KPI = '1'
				    SET @NM_TP_KPI = ' (Corridos)'
				  END  
				END  
	          
				SET @NM_KPI = @NM_KPI_PRINCIPAL
				SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @CD_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_LI + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
				SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
				
				IF ISNULL(@NM_QUEBRAS,'') <> ''
				  SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				ELSE   
				  SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
				
				INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
				VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
				  NULL, '9999XX-9999-99', NULL, NULL,
				  @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)    	                    
			  END                
              DELETE FROM @TB_LI WHERE CD_LI = @CD_LI
            END           
          END
          ELSE
          BEGIN
            IF @TP_KPI = '2'
            BEGIN
              SET @CD_TP_KPI = '0'
              SET @NM_TP_KPI = ' (Úteis)'		    
              SET @NM_KPI = @NM_KPI_PRINCIPAL
              SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
              SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
              
              IF ISNULL(@NM_QUEBRAS,'') <> ''
		        SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
		      ELSE   
			    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
              
              INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
              VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                NULL, '9999XX-9999-99', NULL, NULL,
                @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES) 
            
              SET @CD_TP_KPI = '1'    
              SET @NM_TP_KPI = ' (Corridos)'
              SET @NM_KPI = @NM_KPI_PRINCIPAL
              SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI 
              SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
              
              IF ISNULL(@NM_QUEBRAS,'') <> ''
			    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
			  ELSE   
		        SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
              
              INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
                VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                NULL, '9999XX-9999-99', NULL, NULL,
                @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)                	         
            END
            ELSE
            BEGIN
              IF @TP_KPI = '0'
              BEGIN
                SET @CD_TP_KPI = '0'
			    IF @IN_UTEIS_CORRIDOS = 1
				    SET @NM_TP_KPI = ' (Ambos)'
				  ELSE
				    SET @NM_TP_KPI = ' (Úteis)'
			  END  
		      ELSE
		      BEGIN
		        IF @TP_KPI = '3'
			    BEGIN
			      SET @CD_TP_KPI = '3'
			      SET @NM_TP_KPI = ''
			    END  
			    ELSE
			    BEGIN
			      SET @CD_TP_KPI = '1'
			      SET @NM_TP_KPI = ' (Corridos)'
			    END  
              END 
            
              SET @NM_KPI = @NM_KPI_PRINCIPAL
              SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_ESTUFAGEM + @NM_TP_KPI
              SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
              
              IF ISNULL(@NM_QUEBRAS,'') <> ''
			    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
			  ELSE   
			    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
              
              INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
              VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                NULL, '9999XX-9999-99', NULL, NULL,
                @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)    	                    
            END
          END
        END
        DELETE FROM @TB_ESTUFAGENS WHERE CD_ESTUFAGEM = @CD_ESTUFAGEM  
      END
    END 
    ELSE
    BEGIN
      IF @IN_MODAL = '1'
      BEGIN
        INSERT INTO @TB_MODALIDADES
          SELECT CD_VIA_TRANSPORTE, NM_VIA_TRANSPORTE 
          FROM TVIA_TRANSPORTE (NOLOCK)
          WHERE CD_VIA_TRANSPORTE IN ('01','04','07')   
           
        WHILE (SELECT COUNT(*) FROM @TB_MODALIDADES) > 0 
        BEGIN
          SELECT TOP 1 @CD_MODAL = CD_MODALIDADE, @NM_MODAL = NM_MODALIDADE FROM @TB_MODALIDADES
          
          IF @IN_LI = '1'
		  BEGIN
			INSERT INTO @TB_LI
              SELECT '1', 'Com LI' UNION SELECT '0', 'Sem LI'   
	           
			WHILE (SELECT COUNT(*) FROM @TB_LI) > 0 
			BEGIN
			  SELECT TOP 1 @CD_LI = CD_LI, @NM_LI = NM_LI FROM @TB_LI
	          
			  IF @TP_KPI = '2'
			  BEGIN
				SET @CD_TP_KPI = '0'
				SET @NM_TP_KPI = ' (Úteis)'
				SET @NM_KPI = @NM_KPI_PRINCIPAL
				SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + ' - ' + @NM_LI + @NM_TP_KPI
				SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
				
				IF ISNULL(@NM_QUEBRAS,'') <> ''
				  SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				ELSE   
				  SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
				
				INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
				VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
				  NULL, '9999XX-9999-99', NULL, NULL,
				  @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)   
	              
				SET @CD_TP_KPI = '1'  
				SET @NM_TP_KPI = ' (Corridos)'
				SET @NM_KPI = @NM_KPI_PRINCIPAL
				SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + ' - ' + @NM_LI + @NM_TP_KPI
				SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
				
				IF ISNULL(@NM_QUEBRAS,'') <> ''
				  SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				ELSE   
				  SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
				
				INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
				VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
				  NULL, '9999XX-9999-99', NULL, NULL,
				  @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)  
			  END
			  ELSE
			  BEGIN
				IF @TP_KPI = '0'
				BEGIN
				  SET @CD_TP_KPI = '0'
				  IF @IN_UTEIS_CORRIDOS = 1
				    SET @NM_TP_KPI = ' (Ambos)'
				  ELSE
				    SET @NM_TP_KPI = ' (Úteis)'
				END  
				ELSE
				BEGIN
				  IF @TP_KPI = '3'
				  BEGIN
				    SET @CD_TP_KPI = '3'
				    SET @NM_TP_KPI = ''
				  END  
				  ELSE
				  BEGIN
				    SET @CD_TP_KPI = '1'
				    SET @NM_TP_KPI = ' (Corridos)'
				  END  
				END  
	          
				SET @NM_KPI = @NM_KPI_PRINCIPAL
				SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + ' - ' + @NM_LI + @NM_TP_KPI
				SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
				
				IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
				
				INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
				VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
				  NULL, '9999XX-9999-99', NULL, NULL,
				  @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)    	                    
			  END
			  DELETE FROM @TB_LI WHERE CD_LI = @CD_LI
			END          
		  END
		  ELSE
		  BEGIN
		    IF @TP_KPI = '2'
            BEGIN
              SET @CD_TP_KPI = '0'
              SET @NM_TP_KPI = ' (Úteis)'
              SET @NM_KPI = @NM_KPI_PRINCIPAL
              SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + @NM_TP_KPI
              SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
              
              IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
              
              INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
              VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                NULL, '9999XX-9999-99', NULL, NULL,
                @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)   
              
              SET @CD_TP_KPI = '1'  
              SET @NM_TP_KPI = ' (Corridos)'
              SET @NM_KPI = @NM_KPI_PRINCIPAL
              SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + @NM_TP_KPI
              SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
              
              IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
              
              INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
              VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                NULL, '9999XX-9999-99', NULL, NULL,
                @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)  
            END
            ELSE
            BEGIN
              IF @TP_KPI = '0'
              BEGIN
                SET @CD_TP_KPI = '0'
			    IF @IN_UTEIS_CORRIDOS = 1
				  SET @NM_TP_KPI = ' (Ambos)'
				ELSE
				  SET @NM_TP_KPI = ' (Úteis)'
			  END  
		      ELSE
		      BEGIN
		        IF @TP_KPI = '3'
			    BEGIN
			      SET @CD_TP_KPI = '3'
			      SET @NM_TP_KPI = ''
			    END  
			    ELSE
			    BEGIN
			      SET @CD_TP_KPI = '1'
			      SET @NM_TP_KPI = ' (Corridos)'
			    END  
			  END  
          
              SET @NM_KPI = @NM_KPI_PRINCIPAL
              SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_MODAL + @NM_TP_KPI
              SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
              
              IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
              
              INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
              VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
                NULL, '9999XX-9999-99', NULL, NULL,
                @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)    	                    
            END		  
		  END		            
          DELETE FROM @TB_MODALIDADES WHERE CD_MODALIDADE = @CD_MODAL  
        END          
      END
      ELSE    
      BEGIN
        INSERT INTO @TB_LI
           SELECT '1', 'Com LI' UNION SELECT '0', 'Sem LI'
           
        WHILE (SELECT COUNT(*) FROM @TB_LI) > 0 
        BEGIN
          SELECT TOP 1 @CD_LI = CD_LI, @NM_LI = NM_LI FROM @TB_LI
          
          IF @TP_KPI = '2'
          BEGIN
            SET @CD_TP_KPI = '0'
            SET @NM_TP_KPI = ' (Úteis)'
            SET @NM_KPI = @NM_KPI_PRINCIPAL
            SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_LI + @NM_TP_KPI
            SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
            
            IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
            
            INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
            VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
              NULL, '9999XX-9999-99', NULL, NULL,
              @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)   
              
            SET @CD_TP_KPI = '1'  
            SET @NM_TP_KPI = ' (Corridos)'
            SET @NM_KPI = @NM_KPI_PRINCIPAL
            SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_LI + @NM_TP_KPI
            SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
            
            IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
            
            INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
            VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
              NULL, '9999XX-9999-99', NULL, NULL,
              @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)  
          END
          ELSE
          BEGIN
            IF @TP_KPI = '0'
            BEGIN
              SET @CD_TP_KPI = '0'
			  IF @IN_UTEIS_CORRIDOS = 1
			    SET @NM_TP_KPI = ' (Ambos)'
			  ELSE
			    SET @NM_TP_KPI = ' (Úteis)'
			END  
		    ELSE
		    BEGIN
		      IF @TP_KPI = '3'
			  BEGIN
			    SET @CD_TP_KPI = '3'
			    SET @NM_TP_KPI = ''
			  END  
			  ELSE
			  BEGIN
			    SET @CD_TP_KPI = '1'
			    SET @NM_TP_KPI = ' (Corridos)'
			  END  
			END  
          
            SET @NM_KPI = @NM_KPI_PRINCIPAL
            SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + ' - ' + @NM_LI + @NM_TP_KPI
            SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
            
            IF ISNULL(@NM_QUEBRAS,'') <> ''
				    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
				  ELSE   
				    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
            
            INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
            VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, NULL, NULL,
              NULL, '9999XX-9999-99', NULL, NULL,
              @CD_MODAL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)    	                    
          END
          DELETE FROM @TB_LI WHERE CD_LI = @CD_LI 
        END
      END 
    END
  END
  ELSE
  BEGIN
    IF @TP_KPI = '2'
    BEGIN
      SET @CD_TP_KPI = '0'
      SET @NM_TP_KPI = ' (Úteis)'
      SET @NM_KPI = @NM_KPI_PRINCIPAL
      SET @NM_QUEBRAS =  @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + @NM_TP_KPI
      SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
      
      IF @NM_QUEBRAS = @NM_TP_KPI AND @NM_QUEBRAS <> ''
        SET @NM_QUEBRAS = ' -' + @NM_QUEBRAS
      
      IF ISNULL(@NM_QUEBRAS,'') <> ''
	    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
	  ELSE   
	    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
      
      INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
      VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
        NULL, '9999XX-9999-99', NULL, NULL,
        NULL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)
      
      SET @CD_TP_KPI = '1'
      SET @NM_TP_KPI = ' (Corridos)'
      SET @NM_KPI = @NM_KPI_PRINCIPAL
      SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + @NM_TP_KPI
      SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
      
      IF @NM_QUEBRAS = @NM_TP_KPI AND @NM_QUEBRAS <> ''
        SET @NM_QUEBRAS = ' -' + @NM_QUEBRAS
      
      IF ISNULL(@NM_QUEBRAS,'') <> ''
	    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
	  ELSE   
	    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
      
      INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
      VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
        NULL, '9999XX-9999-99', NULL, NULL,
        NULL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)
    END
    ELSE
    BEGIN
      IF @TP_KPI = '0'
      BEGIN
        SET @CD_TP_KPI = '0'
	    IF @IN_UTEIS_CORRIDOS = 1
		  SET @NM_TP_KPI = ' (Ambos)'
		ELSE
		  SET @NM_TP_KPI = ' (Úteis)'
	  END
	  ELSE
	  BEGIN
	    IF @TP_KPI = '3'
	    BEGIN
	      SET @CD_TP_KPI = '3'
	      SET @NM_TP_KPI = ''
	    END  
	    ELSE
	    BEGIN
	      SET @CD_TP_KPI = '1'
	      SET @NM_TP_KPI = ' (Corridos)'
	    END  
	  END
	    
      SET @NM_KPI = @NM_KPI_PRINCIPAL
      SET @NM_QUEBRAS = @NM_AREA + @NM_CNPJ + @NM_PAIS_ORIGEM + @NM_PREFIXO + @NM_TERMINAL + @NM_CANAL + @NM_SERVICO + @NM_LOCAL_DES + @NM_TP_KPI
      SET @NM_COMPLETO = @NM_KPI_PRINCIPAL + @NM_QUEBRAS
      
      IF @NM_QUEBRAS = @NM_TP_KPI AND @NM_QUEBRAS <> ''
        SET @NM_QUEBRAS = ' -' + @NM_QUEBRAS
      
      IF ISNULL(@NM_QUEBRAS,'') <> ''
	    SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
	  ELSE   
	    SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
      
      INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                              MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                              NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                              CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
      VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
        NULL, '9999XX-9999-99', NULL, NULL,
        NULL, @CD_CNPJ, @CD_AREA, NULL, NULL, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, NULL, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)
    END      	                              
  END
  DELETE FROM @TB_MBF_KPI WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO AND CD_KPI = @CD_KPI AND ID_KPI = @ID_KPI 
END
SET NOCOUNT OFF


GO
