USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_exp_insere_gestao]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0102EN-0001-01'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

UPDATE TPROCESSO_EXP
SET    CD_EXPORTADOR = CASE E.CD_EXPORTADOR WHEN '' THEN P.CD_CLIENTE ELSE E.CD_EXPORTADOR END,
       CD_IMPORTADOR = CASE E.CD_IMPORTADOR WHEN '' THEN P.CD_EMP_EST ELSE E.CD_IMPORTADOR END,
       CD_PAIS_ORIG = CASE E.CD_PAIS_ORIG WHEN ''THEN P.CD_PAIS_ORIGEM ELSE CD_PAIS_ORIG END,
       CD_LOCAL_ORIGEM = CASE E.CD_LOCAL_ORIGEM WHEN '' THEN P.CD_LOCAL_EMBARQUE ELSE CD_LOCAL_ORIGEM END,
       CD_PAIS_DESTINO = CASE E.CD_PAIS_DESTINO WHEN '' THEN P.CD_PAIS_DESTINO ELSE E.CD_PAIS_DESTINO END,
       CD_VIA_TRANSPORTE = CASE E.CD_VIA_TRANSPORTE WHEN '' THEN S.CD_VIA_TRANSPORTE ELSE E.CD_VIA_TRANSPORTE END,
       CD_TIPO_FRETE = CASE CD_TIPO_FRETE WHEN '' THEN P.TP_FRETE ELSE CD_TIPO_FRETE END,
       CD_REPRESENTANTE = CASE E.CD_REPRESENTANTE WHEN '' THEN P.CD_REPRESENTANTE ELSE E.CD_REPRESENTANTE END,
       CD_MOEDA = CASE CD_MOEDA WHEN '' THEN P.CD_MOEDA_MLE ELSE CD_MOEDA END,
       NR_DDE = CASE E.NR_DDE WHEN '' THEN P.NR_DDE ELSE E.NR_DDE END,
       NR_FATURA = CASE E.NR_FATURA WHEN '' THEN P.NR_FATURA ELSE E.NR_FATURA END,
       CD_DESPACHANTE = CASE E.CD_DESPACHANTE WHEN '' THEN SDA.CD_DESPACHANTE ELSE E.CD_DESPACHANTE END,
       CD_AGENTE = CASE E.CD_AGENTE WHEN '' THEN P.CD_AGENTE ELSE E.CD_AGENTE END,
       CD_TRANSPORTADORA = CASE CD_TRANSPORTADORA WHEN '' THEN P.CD_TRANSP_NAC ELSE CD_TRANSPORTADORA END,
--       VL_FRETE = CASE P.VL_FRETE_COLLECT_MNEG 
--                     WHEN 0 THEN P.VL_FRETE_PREPAID_MNEG
--                     ELSE P.VL_FRETE_COLLECT_MNEG
--                  END,
--       VL_SEGURO = CASE VL_SEGURO WHEN 0 THEN P.VL_SEGURO_MNEG ELSE VL_SEGURO END,
       DT_REG_DDE = CASE E.DT_REG_DDE WHEN '' THEN P.DT_REG_DDE ELSE E.DT_REG_DDE END,
       IN_ETIQUETA = CASE E.IN_ETIQUETA WHEN '' THEN P.IN_ETIQUETA ELSE E.IN_ETIQUETA END
FROM   TPROCESSO P, TPROCESSO_EXP E, VW_SERVICO_GERAL S, TPROCESSO_SDA SDA (NOLOCK)
WHERE  P.NR_PROCESSO = E.NR_PROCESSO AND
       P.NR_PROCESSO = SDA.NR_PROCESSO AND
       P.CD_SERVICO *= S.CD_SERVICO AND
       P.NR_PROCESSO = @nr_processo




GO
