USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- Gera relatório de custos da BSH e o período é baseado na data de embarque do navio - NÃO MAIS
-- Cristiane Damasceno
-- ATENÇÃO - Alterado em 19/11/2004 - removida condição de todas as datas só aparecerem qdo
-- estavam realizadas dentro do período digitado pelo usuário. 
-- Existe a sp_rel_custos_bsh_OLD onde foi mantida a condição
-- ATENÇÃO - Alterado para se basear na Data do Faturamento - evento 092 - pedido Wagner 18/03/2005

CREATE PROCEDURE [sp_rel_custos_bsh]  (@cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente  char(5),
                                   @dt_inicio datetime, @dt_fim datetime, @nr_identificador int output)
AS

/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @nr_identificador int 

SELECT  @cd_unid_neg  = '01'
SELECT  @cd_produto   = '02'
SELECT  @cd_grupo     = '003'
SELECT  @cd_cliente   = 'X'
SELECT  @dt_inicio    = CONVERT( datetime, '01/08/2004', 103 )
SELECT  @dt_fim       = CONVERT( datetime, '30/08/2004', 103 ) 
*/

-- Capta o nº identificador
SET @nr_identificador = (SELECT ISNULL( MAX( NR_IDENTIFICADOR )+ 1,1)
                         FROM TREL_CUSTOS_BSH) 


--TODOS OS QUE SÃO DESPESAS
INSERT INTO TREL_CUSTOS_BSH
SELECT DISTINCT @nr_identificador, SUBSTRING(P.NR_PROCESSO, 5, LEN(P.NR_PROCESSO)-4) AS NR_PROCESSO_INDAIA, 
  EST.NM_EMPRESA AS NM_IMPORTADOR, E.NR_FATURA AS NR_PROCESSO_CLIENTE, E.CD_FABRICANTE, EN.NM_EMPRESA AS NM_FABRICANTE, 
  E.CD_LOCAL_DESTINO, LE.DESCRICAO AS LOCAL_DESTINO, C.NM_CONTATO, E.CD_INCOTERM, E.VL_TOT_QTDE_PROD AS QT_TOTAL_PRODUTO,
  AP_MERCADORIA, '' AS DS_INF_GERAL_EMB, P.CD_EMBARCACAO, EB.NM_EMBARCACAO, 
  
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_PREV_EMBARQUE FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_ETA,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_PREV_CARREGAMENTO FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_CARREGAMENTO,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_ITEM_DED FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_FATURAMENTO,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_INSTRUCAO FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_INSTRUCAO,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_DEAD_LINE FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_DEAD_LINE,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_ETD,
  (SELECT CAST(TX_OBS AS VARCHAR(800)) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_DIG_DI FROM TPARAMETROS (NOLOCK))) AS DS_OBS,
  E.CD_MOEDA, MB.NM_MOEDA, E.VL_TOT_MCV AS VL_INVOICE_MOEDA,
  ( SELECT ISNULL( SUM( NF.VL_NOTA ), 0 ) 
    FROM   TPROCESSO_EXP_NF NF (NOLOCK) 
    WHERE  NF.NR_PROCESSO = P.NR_PROCESSO ) AS VL_NF,  
  F.DESCRICAO AS TP_FRETE, 
  E.VL_FRETE, I.CD_ITEM, I.NM_ITEM, 
  ( ( SELECT ISNULL( SUM( FC.VL_ITEM ), 0 ) 
    FROM TFATURAMENTO_CC FC (NOLOCK)
    WHERE CC.NR_PROCESSO = FC.NR_PROCESSO       AND FC.CD_ITEM = CC.CD_ITEM AND FC.IN_RESTITUI = '0' AND FC.IN_CANCELADO = '0' ) - 
   ( SELECT ISNULL( SUM( FC.VL_ITEM ), 0 ) 
    FROM TFATURAMENTO_CC FC (NOLOCK)
    WHERE CC.NR_PROCESSO = FC.NR_PROCESSO 
      AND FC.CD_ITEM = CC.CD_ITEM AND FC.IN_RESTITUI = '1' AND FC.IN_CANCELADO = '0' ) ), 0 AS CD_LINHA_IMPRESSAO_ITEM
FROM TPROCESSO_EXP E JOIN 
     TPROCESSO P (NOLOCK) ON 
        E.NR_PROCESSO = P.NR_PROCESSO LEFT JOIN
     TLOCAL_EMBARQUE LE (NOLOCK) ON       
       LE.CODIGO = E.CD_LOCAL_DESTINO JOIN
     TCLIENTE_CONTATO C (NOLOCK) ON
       P.CD_CONTATO = C.CD_CONTATO AND
       P.CD_UNID_NEG = C.CD_UNID_NEG AND
       P.CD_PRODUTO = C.CD_PRODUTO AND
       P.CD_CLIENTE = C.CD_CLIENTE LEFT JOIN
     TEMBARCACAO EB (NOLOCK) ON
       P.CD_EMBARCACAO = EB.CD_EMBARCACAO JOIN     TMOEDA_BROKER MB (NOLOCK) ON
       MB.CD_MOEDA = E.CD_MOEDA LEFT JOIN
     TTP_FRETE F (NOLOCK) ON
       P.TP_FRETE = F.CODIGO JOIN   
     TFATURAMENTO_CC CC (NOLOCK) ON
       P.NR_PROCESSO = CC.NR_PROCESSO JOIN
     TITEM I (NOLOCK) ON
       CC.CD_ITEM = I.CD_ITEM JOIN
     TPROCESSO_EXP_ITEM EI (NOLOCK) ON
       EI.NR_PROCESSO = P.NR_PROCESSO JOIN
     TMERCADORIA_EXP ME (NOLOCK) ON
       ME.CD_MERCADORIA = EI.CD_MERCADORIA LEFT JOIN
     TEMPRESA_NAC EN (NOLOCK) ON 
       EN.CD_EMPRESA = E.CD_FABRICANTE AND
       P.CD_CLIENTE = EN.CD_EMPRESA LEFT JOIN
     TEMPRESA_EST EST (NOLOCK) ON
       EST.CD_EMPRESA = E.CD_IMPORTADOR AND
       EST.IN_ATIVO = '1' AND 
       EST.IN_IMPORTADOR = '1' JOIN
     TFOLLOWUP FO (NOLOCK) ON
       P.NR_PROCESSO = FO.NR_PROCESSO AND
       P.CD_SERVICO = FO.CD_SERVICO AND
       FO.CD_EVENTO = (SELECT CD_EV_ENVIO_FAT FROM TPARAMETROS (NOLOCK))
WHERE --CC.IN_FATURADO = '1' AND	-- Retirado em 18/11/2004 - a pedido de Wagner Branco
      I.CD_TIPO_ITEM = 'D' AND -- DESPESA
      @cd_unid_neg IN ( P.CD_UNID_NEG, 'X') AND
      @cd_produto IN ( P.CD_PRODUTO, 'X') AND
      @cd_grupo IN ( P.CD_GRUPO, 'X') AND
      @cd_cliente IN ( P.CD_CLIENTE, 'X') AND
      FO.DT_REALIZACAO BETWEEN @dt_inicio and @dt_fim 
UNION
--TODOS OS QUE SÃO RECEITAS
SELECT DISTINCT @nr_identificador, SUBSTRING(P.NR_PROCESSO, 5, LEN(P.NR_PROCESSO)-4) AS NR_PROCESSO_INDAIA, 
  EST.NM_EMPRESA AS NM_IMPORTADOR, E.NR_FATURA AS NR_PROCESSO_CLIENTE, E.CD_FABRICANTE, EN.NM_EMPRESA AS NM_FABRICANTE, 
  E.CD_LOCAL_DESTINO, LE.DESCRICAO AS LOCAL_DESTINO, C.NM_CONTATO, E.CD_INCOTERM, E.VL_TOT_QTDE_PROD AS QT_TOTAL_PRODUTO,
  AP_MERCADORIA, '' AS DS_INF_GERAL_EMB, P.CD_EMBARCACAO, EB.NM_EMBARCACAO, 
  
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_PREV_EMBARQUE FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_ETA,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_PREV_CARREGAMENTO FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_CARREGAMENTO,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_ITEM_DED FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_FATURAMENTO,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_INSTRUCAO FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_INSTRUCAO,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_DEAD_LINE FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_DEAD_LINE,
  (SELECT CONVERT(CHAR(10),FP.DT_REALIZACAO, 103) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK)) AND
         FP.DT_REALIZACAO IS NOT NULL) AS DT_ETD,
  (SELECT CAST(TX_OBS AS VARCHAR(800)) FROM TFOLLOWUP FP (NOLOCK)
   WHERE FP.NR_PROCESSO = P.NR_PROCESSO AND 
         CD_SERVICO = P.CD_SERVICO AND CD_EVENTO = (SELECT CD_EV_DIG_DI FROM TPARAMETROS (NOLOCK))) AS DS_OBS,
  E.CD_MOEDA, MB.NM_MOEDA, E.VL_TOT_MCV AS VL_INVOICE_MOEDA,
  ( SELECT ISNULL( SUM( NF.VL_NOTA ), 0 ) 
    FROM   TPROCESSO_EXP_NF NF (NOLOCK) 
    WHERE  NF.NR_PROCESSO = P.NR_PROCESSO ) AS VL_NF,  
  F.DESCRICAO AS TP_FRETE, 
  E.VL_FRETE, I.CD_ITEM, I.NM_ITEM, 
  ( SELECT SUM( FC.VL_ITEM ) FROM TFATURAMENTO_CC FC (NOLOCK) 
    WHERE CC.NR_PROCESSO = FC.NR_PROCESSO AND FC.CD_ITEM = CC.CD_ITEM AND FC.IN_CANCELADO = '0' ), 0 AS CD_LINHA_IMPRESSAO_ITEM
FROM TPROCESSO_EXP E JOIN 
     TPROCESSO P (NOLOCK) ON 
        E.NR_PROCESSO = P.NR_PROCESSO LEFT JOIN
     TLOCAL_EMBARQUE LE (NOLOCK) ON       
       LE.CODIGO = E.CD_LOCAL_DESTINO JOIN
     TCLIENTE_CONTATO C (NOLOCK) ON
       P.CD_CONTATO = C.CD_CONTATO AND
       P.CD_UNID_NEG = C.CD_UNID_NEG AND
       P.CD_PRODUTO = C.CD_PRODUTO AND
       P.CD_CLIENTE = C.CD_CLIENTE LEFT JOIN
     TEMBARCACAO EB (NOLOCK) ON
       P.CD_EMBARCACAO = EB.CD_EMBARCACAO JOIN     TMOEDA_BROKER MB (NOLOCK) ON
       MB.CD_MOEDA = E.CD_MOEDA LEFT JOIN
     TTP_FRETE F (NOLOCK) ON
       P.TP_FRETE = F.CODIGO JOIN   
     TFATURAMENTO_CC CC (NOLOCK) ON
       P.NR_PROCESSO = CC.NR_PROCESSO JOIN
     TITEM I (NOLOCK) ON
       CC.CD_ITEM = I.CD_ITEM JOIN
     TPROCESSO_EXP_ITEM EI (NOLOCK) ON
       EI.NR_PROCESSO = P.NR_PROCESSO JOIN
     TMERCADORIA_EXP ME (NOLOCK) ON
       ME.CD_MERCADORIA = EI.CD_MERCADORIA LEFT JOIN
     TEMPRESA_NAC EN (NOLOCK) ON 
       EN.CD_EMPRESA = E.CD_FABRICANTE AND
       P.CD_CLIENTE = EN.CD_EMPRESA LEFT JOIN
     TEMPRESA_EST EST (NOLOCK) ON
       EST.CD_EMPRESA = E.CD_IMPORTADOR AND
       EST.IN_ATIVO = '1' AND 
       EST.IN_IMPORTADOR = '1' JOIN
     TFOLLOWUP FO (NOLOCK) ON
       P.NR_PROCESSO = FO.NR_PROCESSO AND
       P.CD_SERVICO = FO.CD_SERVICO AND
       FO.CD_EVENTO = (SELECT CD_EV_ENVIO_FAT FROM TPARAMETROS (NOLOCK))
WHERE --CC.IN_FATURADO = '1' AND	-- Retirado em 18/11/2004 - a pedido de Wagner Branco
      I.CD_TIPO_ITEM = 'R' AND -- RECEITA
      I.CD_ITEM = (SELECT CD_ITEM_COMISSAO FROM TPARAMETROS (NOLOCK)) AND
      @cd_unid_neg IN ( P.CD_UNID_NEG, 'X') AND
      @cd_produto IN ( P.CD_PRODUTO, 'X') AND
      @cd_grupo IN ( P.CD_GRUPO, 'X') AND
      @cd_cliente IN ( P.CD_CLIENTE, 'X') AND
      FO.DT_REALIZACAO BETWEEN @dt_inicio and @dt_fim 
GROUP BY P.NR_PROCESSO, E.NR_FATURA, E.CD_FABRICANTE, EN.NM_EMPRESA, E.CD_LOCAL_DESTINO, LE.DESCRICAO, C.NM_CONTATO, 
  E.CD_INCOTERM, E.VL_TOT_QTDE_PROD, AP_MERCADORIA, P.CD_EMBARCACAO, EB.NM_EMBARCACAO, 
  E.CD_MOEDA, MB.NM_MOEDA, E.VL_TOT_MCV, F.DESCRICAO, CC.CD_ITEM,
  E.VL_FRETE, I.CD_ITEM, I.NM_ITEM, CC.VL_ITEM, P.CD_SERVICO, EST.NM_EMPRESA, CC.NR_PROCESSO
ORDER BY NR_PROCESSO_INDAIA, I.NM_ITEM


-- Atualiza a obs (não foi alimentado o campo na query acima devido ao group by não permitir)
UPDATE TREL_CUSTOS_BSH
SET DS_INF_GERAL_EMB = E.TX_INF_EMBALAGEM
FROM TPROCESSO_EXP E, TREL_CUSTOS_BSH R
WHERE E.NR_PROCESSO = R.NR_PROCESSO_INDAIA

--Cria e alimenta uma tabela temporária para armazenar os itens e a ordem em que eles serão impressos na planilha Excel
CREATE TABLE #TITEM
(
  CD_LINHA_IMPRESSAO_ITEM int identity(1,1),
  CD_ITEM CHAR(3),
  NM_ITEM CHAR(30)  
) 

INSERT INTO #TITEM
SELECT DISTINCT CD_ITEM, NM_ITEM 
FROM TREL_CUSTOS_BSH
ORDER BY NM_ITEM

PRINT 'G'+ 'O'

-- Atualiza a linha de impressão de cada valor de item (no código, esse valor será somado ao último n° de linha fixa)
UPDATE TREL_CUSTOS_BSH
SET CD_LINHA_IMPRESSAO_ITEM = TMP.CD_LINHA_IMPRESSAO_ITEM
FROM #TITEM TMP, TREL_CUSTOS_BSH B
WHERE TMP.CD_ITEM = B.CD_ITEM

-- Apaga a temporária
DROP TABLE #TITEM

-- Coloca o valor da comissão nos processo que ainda não foram faturados - 18/11/2004
UPDATE TREL_CUSTOS_BSH
SET VL_ITEM = RI.VL_NUM_TAXA
FROM TREL_CUSTOS_BSH CB
     INNER JOIN TPROCESSO P (NOLOCK) ON ( '0102' + CB.NR_PROCESSO_INDAIA = P.NR_PROCESSO )
     INNER JOIN TRECEITAS_EXP RI (NOLOCK) ON ( P.CD_CLIENTE = RI.CD_CLIENTE AND P.CD_UNID_NEG = RI.CD_UNID_NEG AND P.CD_PRODUTO = RI.CD_PRODUTO AND P.CD_SERVICO = RI.CD_SERVICO AND CB.CD_ITEM = RI.CD_ITEM )
     INNER JOIN TFATURAMENTO_CC CC (NOLOCK) ON ( '0102' + CB.NR_PROCESSO_INDAIA = CC.NR_PROCESSO AND CB.CD_ITEM = CC.CD_ITEM )
WHERE NR_IDENTIFICADOR = @nr_identificador
  AND CB.CD_ITEM = ( SELECT CD_ITEM_COMISSAO FROM TPARAMETROS (NOLOCK) )
  AND CC.IN_FATURADO = 0     

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/







GO
