USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Monta o processo de DI */
CREATE  PROCEDURE [sp_po_monta_di]( @nr_proc_controle char(18) ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @nr_proc_controle char(18)

SET @nr_proc_controle = '0101I0-6202-05'
--SET @cd_usuario = '0713'
--*/

DECLARE
  @NR_PROCESSO             char(18),
  @NR_PROC_PO_OLD          char(18),

  @nNR_PROC_CONTROLE       char(18),
  @nNR_PROC                char(18),
  @cCD_BANDEIRA_VEIC       char(3),
  @cCD_IMPORTADOR          char(5),         
  @cCD_INCOTERM            char(3),
  @cCD_MET_VALORACAO_ADUAN char(2),
  @cCD_MOD_PAGAMENTO       char(2),
  @cCD_MOEDA_FRETE         char(3),
  @cCD_MOTIVO_SEM_COBERT   char(2),

  @cCD_TP_DECLARACAO       char(2),
  @cCD_TRANSP_INTERN       char(4),
  @dDT_CHEGADA_CARGA       char(8),
  @nNM_IDENT_CRT           char(14),
  @nNR_MANIFESTO           char(15),
  @nNR_PLACA_VEICULO       char(15),
  @nPC_COMISSAO            float,
  @cCD_TIPO_DCTO_CARGA     char(2)

DECLARE
  @nr_cgc_agente           char(14),
  @cd_pais_origem          char(3),
  @cd_pais_procedencia     char(3),
  @nr_conhecimento         char(30),
  @nr_conhecimento_master  char(30),
  @cd_urf_despacho         char(7),
  @cd_urf_entrada          char(7),
  @nm_embarcacao           char(40),
  @cd_local_embarque       char(4),
  @cd_local_embarque_proc  char(4),
  @cd_via_transp           char(2),
  @cd_armazem_descarga     char(4),
  @cd_recinto              char(7),
  @cd_setor                char(3)

DECLARE
  @nNR_ITEM_CLIENTE        char(4),
  @nNR_ITEM                integer,
  @cCD_EXPORTADOR          char(5),
  @cCD_NALADI_SH           char(8),
  @cCD_PAIS_AQUISICAO      char(3),
  @cCD_MERCADORIA          varchar(30),
  @cCD_FABRICANTE          char(5),
  @cCD_PAIS_ORIGEM         char(3),
  @cCD_NCM_SH              char(11),
  @cCD_NALADI_NCCA         char(7),
  @cCD_UNID_MEDIDA         char(3),
  @nNR_FATURA              char(15),
  @nNR_FATURA_CAPA         char(15),
  @nPC_DESCONTO            float,
  @nPL_ITEM                float,
  @nPLITEM                 float,
  @nPL_TOTAL               float,
  @nQT_INICIAL             float,
  @nQT_INICIAL_EST         float,
  @nQT_INICIAL_EST_TOTAL   float,
  @cTP_CALCULO             char(1),
  @nVL_UNITARIO            float,
  @nVL_TOTAL               float,
  @nVL_DESCONTO            float,
  @nVL_ESPEC_II            float,
  @nVL_ESPEC_IPI           float,
  @nVL_ESPEC_AD            float,
  @nVL_SEGURO_MOEDA        float,
  @nVL_ACRESC_MOEDA        float,
  @nVL_DEDUC_MOEDA         float,
  @in_fabr_expor_imp       char(1),
  @Exportador              char(5),
  @PaisAquisicao           char(3),
  @nVl_Seg                 float,
  @MoedaNeg                char(3),
  @TotalItem               char(3),
  @nQtDisponivel           float,
  @nPlUnitario             float,
  @nQtEstUnitario          float,
  @cIN_FABR_EXP_PROD       char(1),
  @cIN_APLIC_MERC          char(1),
  @cCD_MODALIDADE_PGTO     char(2)

DECLARE
  @nEntrou  bit,
  @nEntrou2 bit,
  @nEntrou3 bit

DECLARE
  @cNrItem        char(3),
  @Erro           int,
  @nQtInicial     float,
  @nQtInicialEst  float,
  @nQtDispo       float,
  @nVlTotal       float,
  @nPesoLiq       float,
  @nPesoBruto     float,
  @cIncoterm_Adic char(3),
  @cMoeda_Adic    char(3),
  @cAdicao        char(3),
  @cItem          char(3)

DECLARE
  @nm_fabricante      char(60),
  @ed_cidad_fabric    char(25),
  @ed_compl_fabric    char(21),
  @ed_estado_fabric   char(25),
  @ed_logr_fabric     char(40),
  @ed_nr_fabric       char(6),
  @nm_forn_estr       char(60),
  @ed_cidad_forn_estr char(25),
  @ed_compl_forn_estr char(21),
  @ed_estad_forn_estr char(25),
  @ed_logr_forn_estr  char(40),
  @ed_nr_forn_estr    char(6)

DECLARE
  @VlDespesas         float,
  @VlDespItem         float,
  @VlDespUnitario     float

DECLARE
  @vl_mle_adicao       float,
  @vl_mle_item         float,
  @moeda_neg           char(3),
  @nr_adic             char(3),
  @vl_real             float,
  @qt_total_po         float,
  @qt_total_processado int,
  @qt_total_aprocessar int,
  @nr_presenca_carga   char(36)

--Rateio de Frete
DECLARE
  @VlSomaFretePrep       float,  @VlFretePrepTotal      float,
  @VlFretePrepUnitario   float,
  @VlFretePrepItem       float

DECLARE
  @VlSomaFreteCol        float,  @VlFreteColTotal       float,
  @VlFreteColUnitario    float,
  @VlFreteColItem        float

DECLARE
  @VlSomaFreteTerNac     float,
  @VlFreteTerNacTotal    float,
  @VlFreteTerNacUnitario float,
  @VlFreteTerNacItem     float
DECLARE
  @VlSomaFrete           float,
  @VlFreteTotal          float,
  @VlFreteUnitario       float,
  @VlFreteItem           float,
  @cd_usuario            char(4)

DECLARE
  @nr_da                 char(10),
  @cd_referencia         char(15),
  @ult_sequencia         int,
  @bIN_PROVEM_PO         bit


SET @bIN_PROVEM_PO = '1'

SELECT @cd_usuario = ISNULL( CD_USUARIO, '0000' )
FROM   TUSUARIO ( NOLOCK )
WHERE  AP_USUARIO = SUSER_NAME()

--Referências
DECLARE c_ProcRefCli CURSOR FOR
  SELECT DISTINCT NR_PROCESSO
  FROM   TPO_ITEM (NOLOCK)
  WHERE  ( IN_SELECIONADO = 1 ) AND ( IN_MONTADO <> '1' ) AND ( CD_USUARIO_MONTA = @cd_usuario )
  ORDER BY NR_PROCESSO
OPEN c_ProcRefCli

FETCH c_ProcRefCli INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN
  DECLARE c_RefCLi CURSOR FOR 
    SELECT CD_REFERENCIA
    FROM   TREF_CLIENTE  (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo
  OPEN c_RefCli
  FETCH c_RefCli INTO @cd_referencia

  WHILE @@fetch_status = 0
  BEGIN
    IF NOT EXISTS( SELECT * 
                   FROM   TREF_CLIENTE (NOLOCK)
                   WHERE  NR_PROCESSO = @nr_proc_controle
                     AND  LTRIM( RTRIM( CD_REFERENCIA ) ) = LTRIM( RTRIM( @cd_referencia ) ) )
    BEGIN
      SELECT @ult_sequencia = CONVERT( int, ISNULL( MAX( NR_SEQUENCIA ), '0' ) ) + 1 
      FROM   TREF_CLIENTE (NOLOCK)
      WHERE  NR_PROCESSO = @nr_proc_controle

      SELECT @ult_sequencia = ISNULL( @ult_sequencia, 0 )
      SELECT @ult_sequencia = @ult_sequencia + 1

      INSERT TREF_CLIENTE ( NR_PROCESSO, NR_SEQUENCIA, CD_REFERENCIA, NR_ITEM_PO )
      VALUES ( @nr_proc_controle, RIGHT( '000' + CONVERT( varchar, @ult_sequencia ), 3 ), @cd_referencia, '0000' )

    END

    FETCH c_RefCli INTO @cd_referencia
  END
  CLOSE c_RefCli
  DEALLOCATE c_RefCli

  FETCH c_ProcRefCli INTO @NR_PROCESSO
END
CLOSE c_ProcRefCli
DEALLOCATE c_ProcRefCli

DECLARE c_PO_ITEM CURSOR FOR
  SELECT NR_PROCESSO, 
         NR_ITEM, 
         ISNULL( CD_EXPORTADOR, '' ), 
         ISNULL( CD_NALADI_SH, '' ),
         ISNULL( CD_PAIS_AQUISICAO, '' ),
         ISNULL( CD_MERCADORIA, '' ),
         ISNULL( CD_FABRICANTE, '' ),
         ISNULL( CD_PAIS_ORIGEM, '' ),
         ISNULL( CD_NCM_SH, '' ),
         ISNULL( CD_NALADI_NCCA, '' ),
         ISNULL( CD_UNID_MEDIDA, '' ),
         ISNULL( PC_DESCONTO, 0 ),
         ISNULL( PL_ITEM, 0 ),
         ISNULL( QT_INICIAL, 0 ),
         ISNULL( QT_INICIAL_EST, 0 ),
         ISNULL( TP_CALCULO, '' ),
         ISNULL( VL_UNITARIO, 0 ),
         ISNULL( VL_TOTAL, 0 ),
         ISNULL( VL_DESCONTO, 0 ),
         ISNULL( VL_ESPEC_II, 0 ),
         ISNULL( VL_ESPEC_IPI, 0 ),
         ISNULL( VL_ESPEC_AD, 0 ),
         ISNULL( VL_SEGURO_MOEDA, 0 ),
         ISNULL( VL_ACRESC_MOEDA, 0 ),
         ISNULL( VL_DEDUC_MOEDA, 0 ),
         ISNULL( QT_DISPONIVEL, 0 ),
         ISNULL( NR_FATURA, '' ),
         ISNULL( IN_FABR_EXP_PROD, ''),
         ISNULL( IN_APLIC_MERC, 0),
         ISNULL( NR_ITEM_CLIENTE,'')
  FROM   TPO_ITEM (NOLOCK)
  WHERE  ( IN_SELECIONADO = 1 ) AND ( IN_MONTADO <> '1' ) AND ( CD_USUARIO_MONTA = @cd_usuario )
  ORDER BY NR_PROCESSO, NR_ITEM

SELECT @NR_PROC_PO_OLD = ''

OPEN c_PO_ITEM
FETCH c_PO_ITEM 
  INTO @nNR_PROC,        @nNR_ITEM,        @cCD_EXPORTADOR,    @cCD_NALADI_SH,     @cCD_PAIS_AQUISICAO, @cCD_MERCADORIA, 
       @cCD_FABRICANTE,  @cCD_PAIS_ORIGEM, @cCD_NCM_SH,        @cCD_NALADI_NCCA,   @cCD_UNID_MEDIDA,    @nPC_DESCONTO,
       @nPL_ITEM,        @nQT_INICIAL,     @nQT_INICIAL_EST,   @cTP_CALCULO,       @nVL_UNITARIO,       @nVL_TOTAL,
       @nVL_DESCONTO,    @nVL_ESPEC_II,    @nVL_ESPEC_IPI,     @nVL_ESPEC_AD,      @nVL_SEGURO_MOEDA,   @nVL_ACRESC_MOEDA,
       @nVL_DEDUC_MOEDA, @nQtDisponivel,   @nNR_FATURA,        @cIN_FABR_EXP_PROD, @cIN_APLIC_MERC,     @nNR_ITEM_CLIENTE

SET @nEntrou2 = 0
SET @nEntrou3 = 0

SET @qt_total_processado = 0
SET @VlSomaFrete         = 0
SET @VlSomaFretePrep     = 0
SET @VlSomaFreteCol      = 0
SET @VlSomaFreteTerNac   = 0

WHILE @@fetch_status <> -1
BEGIN
  SET @NR_PROC_PO_OLD = @nNR_PROC

  SET @qt_total_processado = @qt_total_processado + 1

  SET @cNrItem = @nNR_Item
  SET @cNrItem = CONVERT( char(3), @nNR_Item )
  SET @cNrItem = RIGHT( ( '000' + RTRIM( @cNrItem ) ), 3 )

  SET @nEntrou = 0
  IF ( SELECT COUNT(*) FROM TPO ( NOLOCK )
       WHERE ( NR_PROCESSO      = @nNR_PROC ) 
         AND ( IN_SELECIONADO   = 1 ) 
         AND ( CD_USUARIO_MONTA = @cd_usuario ) ) > 0
  BEGIN
    SET @nEntrou = 1

    SELECT
      @cCD_BANDEIRA_VEIC       = CD_BANDEIRA_VEIC,
      @cCD_IMPORTADOR          = CD_IMPORTADOR,
      @cCD_MET_VALORACAO_ADUAN = CD_MET_VALORACAO_ADUAN,
      @cCD_MOD_PAGAMENTO       = CD_MOD_PAGAMENTO,
      @cCD_MOEDA_FRETE         = CD_MOEDA_FRETE,
      @cCD_MOTIVO_SEM_COBERT   = CD_MOTIVO_CAMBIO_SEM_COBERT,
      @cCD_TP_DECLARACAO       = CD_TP_DECLARACAO,
      @cCD_TRANSP_INTERN       = CD_TRANSP_INTERN,
      @dDT_CHEGADA_CARGA       = DT_CHEGADA_CARGA,
      @nNR_FATURA_CAPA         = ISNULL( NR_FATURA, '' ),
      @nNM_IDENT_CRT           = NM_IDENT_CRT,
      @nNR_MANIFESTO           = NR_MANIFESTO,
      @nNR_PLACA_VEICULO       = NR_PLACA_VEICULO,
      @nPC_COMISSAO            = ISNULL( PC_COMISSAO, 0 ),
      @cd_pais_procedencia     = ISNULL( CD_PAIS_PROCEDENCIA, '' ),
      @VlFretePrepTotal        = ISNULL( VL_FRETE_PREPAID, 0 ),
      @VlFreteColTotal         = ISNULL( VL_FRETE_COLLECT, 0 ),
      @VlFreteTerNacTotal      = ISNULL( VL_FRETE_TERRIT_NAC, 0 ),
      @VlFreteTotal            = ISNULL( VL_FRETE_PREPAID, 0 ) + ISNULL( VL_FRETE_COLLECT, 0 ) - ISNULL( VL_FRETE_TERRIT_NAC, 0 ),
      @nVl_Seg                 = VL_SEGURO,
      @MoedaNeg                = CD_MOEDA_NEG,
      @TotalItem               = QT_TOTAL_ITENS,
      @nVlTotal                = VL_TOTAL,
      @nPesoLiq                = PL_PO,
      @nPesoBruto              = PB_PO,
      @in_fabr_expor_imp       = ISNULL( IN_FABR_EXPOR_IMP, '' ),
      @Exportador              = ISNULL( CD_EXPORTADOR, '' ),
      @PaisAquisicao           = ISNULL( CD_PAIS_AQUISICAO, '' ),
      @vl_mle_adicao           = ROUND( ISNULL( VL_TOTAL, 0 ), 0 ),
      @VlDespesas              = ROUND( ISNULL( VL_DESPESAS, 0 ), 2 ),
      @nr_da                   = ISNULL( NR_DA, '' ),
      @cCD_INCOTERM            = ISNULL( CD_INCOTERM, '' ),
      @cCD_MODALIDADE_PGTO     = ISNULL( CD_TERMO_PAGTO, '' )
    FROM  TPO (NOLOCK)
    WHERE ( NR_PROCESSO = @nNR_PROC )
      AND ( IN_SELECIONADO = 1 )
      AND ( CD_USUARIO_MONTA = @cd_usuario )

    -- Nº Fatura 
    IF @nNR_FATURA = '' 
    BEGIN
      IF NOT EXISTS ( SELECT *
                      FROM TPO_ITEM (NOLOCK)
                      WHERE NR_PROCESSO = @nr_proc_controle
                        AND NR_FATURA = @nNR_FATURA_CAPA )
      BEGIN
        SELECT @nNR_FATURA = @nNR_FATURA_CAPA
      END
    END

    IF NOT EXISTS ( SELECT *
                    FROM   TDOCUMENTO_INSTRUCAO  (NOLOCK)
                    WHERE  NR_PROCESSO = @nr_proc_controle
                      AND  CD_TIPO_DCTO_INSTR = '01'
                      AND  LTRIM( RTRIM( NR_DCTO_INSTRUCAO ) ) = LTRIM( RTRIM( @nNR_FATURA ) ) ) 
    BEGIN
      IF LTRIM( RTRIM( ISNULL( @nNR_FATURA, '' ) ) ) <> ''
      BEGIN

        SELECT @ult_sequencia = CONVERT( int, ISNULL( MAX( NR_SEQUENCIA ), '0' ) ) + 1 
        FROM   TDOCUMENTO_INSTRUCAO (NOLOCK)
        WHERE  NR_PROCESSO = @nr_proc_controle
  
        SELECT @ult_sequencia = ISNULL( @ult_sequencia, 0 )
        SELECT @ult_sequencia = @ult_sequencia + 1

        INSERT TDOCUMENTO_INSTRUCAO ( NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_DCTO_INSTR, NR_DCTO_INSTRUCAO )
        VALUES ( @nr_proc_controle, RIGHT( '00' + CONVERT( varchar, @ult_sequencia ), 2 ), '01', @nNR_FATURA )
      END
    END

    SELECT @nQT_INICIAL_EST_TOTAL = SUM( ISNULL( QT_INICIAL_EST, 0 ) )
    FROM   TPO_ITEM (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC )
      AND  ( CD_USUARIO_MONTA = @cd_usuario )

    SELECT @nPL_TOTAL = SUM( ISNULL( PL_ITEM, 0 ) )
    FROM   TPO_ITEM (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC )
      AND  ( CD_USUARIO_MONTA = @cd_usuario )

    SELECT @qt_total_po = SUM ( ISNULL( QT_INICIAL, 0 ) )
    FROM   TPO_ITEM  (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC )
      AND  ( CD_USUARIO_MONTA = @cd_usuario )

    SELECT @qt_total_aprocessar = QT_TOTAL_ITENS
    FROM   TPO (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC )
      AND  ( CD_USUARIO_MONTA = @cd_usuario )

    IF LTRIM( RTRIM( @nr_da ) ) <> '' 
    BEGIN
      UPDATE TPROCESSO
      SET    NR_DA = @nr_da
      WHERE  NR_PROCESSO = @nr_proc_controle
    END
  END

  IF ( @nEntrou = 1 ) AND ( @nEntrou2 = 0 )
  BEGIN
    -- CRIA CAPA DA DI 
    IF ( SELECT COUNT(*)  
         FROM   TDECLARACAO_IMPORTACAO (NOLOCK)
         WHERE  NR_PROCESSO = @NR_PROC_CONTROLE ) = 0 
    BEGIN
      SELECT @cd_local_embarque_proc = ''
      SELECT @cd_local_embarque_proc = CASE @cCD_INCOTERM
                WHEN 'CFR' THEN P.CD_LOCAL_DESEMBARQUE
                WHEN 'CPT' THEN P.CD_LOCAL_DESEMBARQUE
                WHEN 'DES' THEN P.CD_LOCAL_DESEMBARQUE
                WHEN 'CIP' THEN P.CD_LOCAL_DESEMBARQUE
                WHEN 'CIF' THEN P.CD_LOCAL_DESEMBARQUE
                WHEN 'DDU' THEN P.CD_LOCAL_DESEMBARQUE
                ELSE P.CD_LOCAL_EMBARQUE
             END
      FROM   TPROCESSO P (NOLOCK)
      WHERE  P.NR_PROCESSO = @nr_processo

      IF LTRIM( RTRIM( @cd_local_embarque_proc ) ) <> ''
      BEGIN
        SELECT @cd_local_embarque = @cd_local_embarque_proc  
      END

      SELECT
        @nr_cgc_agente          = ISNULL( A.NR_CGC_AGENTE, '' ), 
        @cd_pais_origem 	      = ISNULL( P.CD_PAIS_ORIGEM, '' ), 
        @nr_conhecimento        = ISNULL( P.NR_CONHECIMENTO, '' ), 
        @nr_conhecimento_master = ISNULL( P.NR_CONHECIMENTO_MASTER, '' ), 
        @cd_urf_despacho        = ISNULL( ARM.CD_URF, '' ), 
        @cd_urf_entrada         = ISNULL( ARM.CD_URF, '' ), 
        @nm_embarcacao          = ISNULL( SUBSTRING( E.NM_EMBARCACAO, 1, 30 ), '' ), 
        @cd_via_transp          = ISNULL( S.CD_VIA_TRANSPORTE, '' ),
	      @cd_armazem_descarga    = ISNULL( P.CD_ARMAZEM_DESCARGA, '' ),
        @cd_recinto	            = ISNULL( ARM.CD_RECINTO, '' ),
        @cd_setor	     	        = ISNULL( ARM.CD_SETOR, '' ),
        @nr_presenca_carga      = ISNULL( P.NR_PRESENCA_CARGA, '' )              
      FROM   TPROCESSO P (NOLOCK), TAGENTE A (NOLOCK), TARMAZEM ARM (NOLOCK), TEMBARCACAO E (NOLOCK), VW_SERVICO_GERAL S (NOLOCK)
      WHERE  P.NR_PROCESSO          = @NR_PROC_CONTROLE 
        AND  P.CD_AGENTE           *= A.CD_AGENTE 
        AND  P.CD_ARMAZEM_DESCARGA *= ARM.CD_ARMAZEM 
        AND  P.CD_EMBARCACAO       *= E.CD_EMBARCACAO 
        AND  P.CD_SERVICO           = S.CD_SERVICO

      -- Tipo do Conhecimento de Transporte
      IF @cd_via_transp IN ( '01', '02', '03'  ) 
      BEGIN
        IF ( @nr_conhecimento <> '' ) AND ( @nr_conhecimento_master <> '' ) SELECT @cCD_TIPO_DCTO_CARGA = '12'
        ELSE SELECT @cCD_TIPO_DCTO_CARGA = '10'
      END

      IF @cd_via_transp = '04'
      BEGIN
        IF ( @nr_conhecimento <> '' ) AND ( @nr_conhecimento_master <> '' ) SELECT @cCD_TIPO_DCTO_CARGA = '03'
        ELSE SELECT @cCD_TIPO_DCTO_CARGA = '01'
      END

      IF @cd_via_transp IN ( '06' ) 
      BEGIN
        IF ( @nr_conhecimento <> '' ) AND ( @nr_conhecimento_master <> '' ) SELECT @cCD_TIPO_DCTO_CARGA = '18'
        ELSE SELECT @cCD_TIPO_DCTO_CARGA = '17'
      END

      IF @cd_via_transp IN ( '05' ) SELECT @cCD_TIPO_DCTO_CARGA = '20'

      IF @cd_via_transp IN ( '07' ) SELECT @cCD_TIPO_DCTO_CARGA = '13'

      IF @cd_via_transp IN ( '08', '09' ) SELECT @cCD_TIPO_DCTO_CARGA = ''

      INSERT INTO TDECLARACAO_IMPORTACAO (
        NR_PROCESSO,          CD_BANDEIRA_TRANSP,   CD_IMPORTADOR,           CD_LOCAL_EMBARQUE,       CD_METODO_VALORACAO,
        CD_MODALIDADE_PAGTO,  CD_MOEDA_FRETE,       CD_MOTIVO_SEM_COBERTURA, CD_RECINTO_ALFAND,       CD_SETOR_ARMAZENAM,  
        CD_TIPO_DECLARACAO,   CD_TRANSPORTADOR,     CD_URF_DESPACHO,         CD_URF_ENTR_CARGA,       DT_CHEGADA_CARGA,
        NM_VEICULO_TRANSP,    NR_DCTO_CARGA,        NR_DCTO_CARGA_MAST,      NR_IDENTIFICACAO_COM,    NR_MANIFESTO,
        NR_VEICULO_TRANSP,    PC_COMISSAO,          IN_MOEDA_UNICA,          CD_MOEDA_MLE,            NR_AGENTE_CARGA,
        CD_PAIS_PROC_CARGA,   CD_VIA_TRANSP_CARG,   CD_TIPO_DCTO_CARGA,      IN_REPASSA_DADOS_ADICAO, CD_FORNECEDOR,
        CD_FABRICANTE,        CD_AUSENCIA_FABRIC,   CD_PAIS_AQUIS_MERC,      CD_PAIS_ORIG_MERC,       CD_PRESENCA_CARGA,
        CD_INCOTERM,          CD_MOEDA_SEGURO,      VL_TOT_FRT_PREPAID,      VL_TOT_FRT_COLLECT,      VL_TOT_SEGURO_MNEG,
        PB_CARGA,             PL_CARGA
      )
      VALUES (
        @NR_PROC_CONTROLE,    @cCD_BANDEIRA_VEIC,   @cCD_IMPORTADOR,         @cd_local_embarque,      @cCD_MET_VALORACAO_ADUAN,
        @cCD_MOD_PAGAMENTO,   @cCD_MOEDA_FRETE,     @cCD_MOTIVO_SEM_COBERT,  @cd_recinto,             @cd_setor, 
        @cCD_TP_DECLARACAO,   @cCD_TRANSP_INTERN,   @cd_urf_despacho,        @cd_urf_entrada,         @dDT_CHEGADA_CARGA,
        @nm_embarcacao,       @nr_conhecimento,	    @nr_conhecimento_master, @nNM_IDENT_CRT,          @nNR_MANIFESTO,
        @nNR_PLACA_VEICULO,   @nPC_COMISSAO,        0,                       @MoedaNeg,               @nr_cgc_agente,
        @cd_pais_procedencia, @cd_via_transp,       @cCD_TIPO_DCTO_CARGA,    '0',                     NULL,
        NULL,                 @in_fabr_expor_imp,   NULL,                    NULL,                    @nr_presenca_carga,
        @cCD_INCOTERM,        @cCD_MOEDA_FRETE,     @VlFretePrepTotal,       @VlFreteColTotal,        @nVl_Seg,
        @nPesoBruto,          @nPesoLiq
      )
    END
    SELECT @nEntrou2 = 1 
  END

  SELECT @vl_mle_item = ISNULL( VL_TOTAL, 0 )
  FROM   TPO_ITEM (NOLOCK)
  WHERE  ( NR_PROCESSO = @nNR_PROC )
    AND  ( NR_ITEM = @cNrItem )
    AND  ( CD_USUARIO_MONTA = @cd_usuario )
  -- COPIANDO ITENS PARA DI 
  INSERT INTO TDETALHE_MERCADORIA (
    NR_PROCESSO,       NR_ADICAO,          NR_ITEM,            CD_EXPORTADOR,      CD_NALADI_SH,       CD_PAIS_AQUISICAO,
    CD_MERCADORIA,     CD_FABRICANTE,      CD_PAIS_ORIGEM,     CD_NCM_SH,          CD_NALADI_NCCA,     CD_UN_MED_COMERC,
    NR_FATURA,         PC_DESCONTO_MERC,   PL_MERCADORIA,      QT_MERC_UN_COMERC,  QT_MERC_UN_ESTAT,   CD_TIPO_CALCULO_ITEM, 
    VL_DESPESA_ITEM,   VL_DESCONTO_MERC,   VL_UNITARIO,        VL_MLE_ITEM,        VL_II_ITEM,         VL_IPI_ITEM,
    VL_AD_ITEM,        VL_SEGURO_ITEM_MN,  VL_ACRESCIMO_ITEM,  VL_DEDUCAO_ITEM,    NR_PROC_PO,         NR_ITEM_PO,
    IN_PROVEM_PO,      CD_FABR_EXPO
  )
  VALUES (
    @NR_PROC_CONTROLE, '001',              '***',              @cCD_EXPORTADOR,    @cCD_NALADI_SH,     @cCD_PAIS_AQUISICAO,
    @cCD_MERCADORIA,   @cCD_FABRICANTE,    @cCD_PAIS_ORIGEM,   @cCD_NCM_SH,        @cCD_NALADI_NCCA,   @cCD_UNID_MEDIDA,
    @nNR_FATURA,       @nPC_DESCONTO,      @nPL_ITEM,          @nQT_INICIAL,       @nQT_INICIAL_EST,   @cTP_CALCULO, 
    0,                 @nVL_DESCONTO,      @nVL_UNITARIO,      @nVL_TOTAL,         @nVL_ESPEC_II,      @nVL_ESPEC_IPI,
    @nVL_ESPEC_AD,     @nVL_SEGURO_MOEDA,  @nVL_ACRESC_MOEDA,  @nVL_DEDUC_MOEDA,   @nNR_PROC,          @nNR_ITEM_CLIENTE,
    @bIN_PROVEM_PO,    @cIN_FABR_EXP_PROD
  )

  -- IF ENTRAR, CALCULA ITEM BAIXADO TOTAL
  IF( SELECT COUNT(*) FROM TPREPARA_PO_ITEM  (NOLOCK)
      WHERE ( NR_PROC_OLD      = @nNR_PROC )
        AND ( NR_ITEM_OLD      = @cNrItem )
        AND ( NR_PROCESSO      = @NR_PROC_CONTROLE )
        AND ( CD_USUARIO_MONTA = @cd_usuario ) ) = 0
  BEGIN
    SELECT @nQtDispo = 0 
    UPDATE TPO_ITEM 
    SET
      IN_MONTADO    = '1',
      QT_BAIXADA_DI = @nQT_INICIAL,
      QT_DISPONIVEL = @nQtDispo
    WHERE ( NR_PROCESSO      = @nNR_PROC )
      AND ( NR_ITEM          = @cNrItem )
      AND ( CD_USUARIO_MONTA = @cd_usuario )

    IF @nQtDisponivel > 0
    BEGIN
      IF @qt_total_processado = @qt_total_aprocessar -- Verifica se e o ultimo item
      BEGIN
        SET @nPLITEM = ROUND( @nPL_TOTAL - ( SELECT SUM( ISNULL( PL_MERCADORIA, 0 ) )
                                             FROM   TDETALHE_MERCADORIA (NOLOCK)
                                             WHERE  NR_PROC_PO = @nNR_PROC
                                               AND  NR_ITEM <> '***' ), 5 )

        SET @nQtInicialEst = ROUND( @nQT_INICIAL_EST_TOTAL - ( SELECT SUM( ISNULL( QT_MERC_UN_ESTAT, 0 ) )
                                                               FROM   TDETALHE_MERCADORIA (NOLOCK)
                                                               WHERE  NR_PROC_PO = @nNR_PROC 
                                                                 AND  NR_ITEM <> '***' ), 7 )

        SET @VlDespItem = ROUND( @VlDespesas - ( SELECT SUM( ISNULL( VL_DESPESA_ITEM, 0 ) )
                                                 FROM   TDETALHE_MERCADORIA (NOLOCK)
                                                 WHERE  NR_PROC_PO = @nNR_PROC 
                                                   AND  NR_ITEM <> '***'), 2 )

        SET @VlFreteItem       = ROUND( @VlFreteTotal       - @VlSomaFrete, 2 )
        SET @VlFretePrepItem   = ROUND( @VlFretePrepTotal   - @VlSomaFretePrep, 2 )
        SET @VlFreteColItem    = ROUND( @VlFreteColTotal    - @VlSomaFreteCol, 2 )
        SET @VlFreteTerNacItem = ROUND( @VlFreteTerNacTotal - @VlSomaFreteCol, 2 )
      END
      ELSE
      BEGIN
        SET @nPlUnitario           = ( @nPL_ITEM           / @nQT_INICIAL )
        SET @nQtEstUnitario        = ( @nQT_INICIAL_EST    / @nQT_INICIAL )
        SET @VlDespUnitario        = ( @VlDespesas         / @qt_total_po )
        SET @VlFreteUnitario       = ( @VlFreteTotal       / @nPL_TOTAL )
        SET @VlFretePrepUnitario   = ( @VlFretePrepTotal   / @nPL_TOTAL )
        SET @VlFreteColUnitario    = ( @VlFreteColTotal    / @nPL_TOTAL )
        SET @VlFreteTerNacUnitario = ( @VlFreteTerNacTotal / @nPL_TOTAL )

        SET @nPLITEM           = ROUND( ( @nPlUnitario           * @nQtDisponivel ), 5 )
        SET @nQtInicialEst     = ROUND( ( @nQtEstUnitario        * @nQtDisponivel ), 7 )
        SET @VlDespItem        = ROUND( ( @VlDespUnitario        * @nQtDisponivel ), 2 )
        SET @VlFreteItem       = ROUND( ( @VlFreteUnitario       * @nPLITEM ), 2 )
        SET @VlFretePrepItem   = ROUND( ( @VlFretePrepUnitario   * @nPLITEM ), 2 )
        SET @VlFreteColItem    = ROUND( ( @VlFreteColUnitario    * @nPLITEM ), 2 )
        SET @VlFreteTerNacItem = ROUND( ( @VlFreteTerNacUnitario * @nPLITEM ), 2 )

      END

      SET @VlSomaFrete       = @VlSomaFrete       + @VlFreteItem
      SET @VlSomaFretePrep   = @VlSomaFretePrep   + @VlFretePrepItem
      SET @VlSomaFreteCol    = @VlSomaFreteCol    + @VlFreteColItem
      SET @VlSomaFreteTerNac = @VlSomaFreteTerNac + @VlFreteTerNacItem

      UPDATE TDETALHE_MERCADORIA
      SET
        QT_MERC_UN_COMERC = @nQtDisponivel,
        QT_MERC_UN_ESTAT  = @nQtInicialEst,
        PL_MERCADORIA     = @nPLITEM,
        VL_DESPESA_ITEM   = @VlDespItem,
        VL_FRETE_ITEM     = @VlFreteItem
      WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE )
        AND ( NR_ADICAO   = '001' )
        AND ( NR_ITEM     = '***' )
    END
  END
  ELSE                                 
  BEGIN
    -- BAIXANDO QTDE PARCIAL
    SELECT @nQtInicial = QT_BAIXADA
    FROM   TPREPARA_PO_ITEM (NOLOCK)
    WHERE ( NR_PROC_OLD = @nNR_PROC )
      AND ( NR_ITEM_OLD = @cNrItem )
      AND ( NR_PROCESSO = @NR_PROC_CONTROLE )
      AND ( CD_USUARIO_MONTA = @cd_usuario )

    --VALORES UNITÁRIOS
    SET @nPlUnitario           = @nPL_ITEM           / @nQT_INICIAL -- Peso Unitário
    SET @nQtEstUnitario        = @nQT_INICIAL_EST    / @nQT_INICIAL --Qt Estatística Unitário
    SET @VlDespUnitario        = @VlDespesas         / @qt_total_po --Valor Despesas Unitário
    SET @VlFreteUnitario       = @VlFreteTotal       / @nPL_TOTAL   --Valor Frete Unitário
    SET @VlFretePrepUnitario   = @VlFretePrepTotal   / @nPL_TOTAL   --Valor Frete Prepaid Unitário
    SET @VlFreteColUnitario    = @VlFreteColTotal    / @nPL_TOTAL   --Valor Frete Collect Unitário
    SET @VlFreteTerNacUnitario = @VlFreteTerNacTotal / @nPL_TOTAL   --Valor Frete Territõrio Nacional Unitário
    --VALORES PARCIAIS
    SET @nPLITEM           = ROUND( ( @nPlUnitario           * @nQtInicial ), 5 ) -- Peso do Item Parcial
    SET @nQtInicialEst     = ROUND( ( @nQtEstUnitario        * @nQtInicial ), 7 ) -- Qt Estatística Parcial
    SET @VlDespItem        = ROUND( ( @VlDespUnitario        * @nQtInicial ), 2 ) -- Valor Despesas Parcial
    SET @VlFreteItem       = ROUND( ( @VlFreteUnitario       * @nPLITEM ), 2 )    -- Valor Frete Parcial
    SET @VlFretePrepItem   = ROUND( ( @VlFretePrepUnitario   * @nPLITEM ), 2 )    -- Valor Frete Prepaid Parcial
    SET @VlFreteColItem    = ROUND( ( @VlFreteColUnitario    * @nPLITEM ), 2 )    -- Valor Frete Collect Parcial
    SET @VlFreteTerNacItem = ROUND( ( @VlFreteTerNacUnitario * @nPLITEM ), 2 )    -- Valor Frete Territõrio Nacional Parcial
    --VALORES DOS FRETES
    SET @VlSomaFrete       = @VlSomaFrete       + @VlFreteItem
    SET @VlSomaFretePrep   = @VlSomaFretePrep   + @VlFretePrepItem
    SET @VlSomaFreteCol    = @VlSomaFreteCol    + @VlFreteColItem
    SET @VlSomaFreteTerNac = @VlSomaFreteTerNac + @VlFreteTerNacItem

    UPDATE TPO_ITEM 
    SET QT_BAIXADA_DI = ( QT_BAIXADA_DI + @nQtInicial )
    WHERE ( NR_PROCESSO      = @nNR_PROC )
      AND ( NR_ITEM          = @cNrItem )
      AND ( CD_USUARIO_MONTA = @cd_usuario )

    SELECT @nQtDispo = ( QT_INICIAL - ( QT_BAIXADA_DI + QT_BAIXADA_LI ) )
    FROM   TPO_ITEM  (NOLOCK)
    WHERE ( NR_PROCESSO      = @nNR_PROC )
      AND ( NR_ITEM          = @cNrItem )
      AND ( CD_USUARIO_MONTA = @cd_usuario )

    -- DIVIDE QUANTIDADE TOTAL E MULTIPLICA QUANTIDADE BAIXADA
    SET @nVL_SEGURO_MOEDA = ROUND( ( @nVL_SEGURO_MOEDA / @nQT_INICIAL ) * @nQtInicial, 5 )
    SET @nVL_DESCONTO     = ROUND( ( @nVL_DESCONTO     / @nQT_INICIAL ) * @nQtInicial, 5 )
  
    UPDATE TPO_ITEM 
    SET
      QT_DISPONIVEL = @nQtDispo,
      QT_BAIXAR     = 0
    WHERE ( NR_PROCESSO      = @nNR_PROC )
      AND ( NR_ITEM          = @cNrItem )
      AND ( CD_USUARIO_MONTA = @cd_usuario )

    UPDATE TPREPARA_PO_ITEM 
    SET IN_MONTADO = '1' 
    WHERE ( NR_PROC_OLD      = @nNR_PROC )
      AND ( NR_ITEM_OLD      = @cNrItem )
      AND ( NR_PROCESSO      = @NR_PROC_CONTROLE )
      AND ( CD_USUARIO_MONTA = @cd_usuario )

    UPDATE TDETALHE_MERCADORIA
    SET
      QT_MERC_UN_COMERC = @nQtInicial,
      QT_MERC_UN_ESTAT = @nQtInicialEst,
      VL_SEGURO_ITEM_MN = @nVL_SEGURO_MOEDA,
      VL_FRETE_ITEM = @VlFreteItem,
      VL_DESPESA_ITEM = @VlDespItem,
      VL_DESCONTO_MERC = @nVL_DESCONTO,
      PL_MERCADORIA = @nPLITEM,
      VL_MLE_ITEM = CASE CD_TIPO_CALCULO_ITEM
                      WHEN '1' THEN ROUND( ( @nQtInicial * VL_UNITARIO ), 2 )
			                WHEN '2' THEN ROUND( ( @nQtInicial * ( VL_UNITARIO / 100 ) ), 2 )
			                WHEN '3' THEN ROUND( ( @nQtInicial * ( VL_UNITARIO / 1000 ) ), 2 )
			                WHEN '4' THEN ROUND( ( @nPL_ITEM   * VL_UNITARIO ), 2 )
                    END
    WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE )
      AND ( NR_ADICAO   = '001' )
      AND ( NR_ITEM     = '***' )
  END

  UPDATE TPO
  SET QT_TOTAL_DISPONIVEL = ROUND( ( SELECT SUM( ISNULL( QT_INICIAL, 0 ) - ISNULL( QT_BAIXADA_DI, 0) - ISNULL( QT_BAIXADA_LI, 0 ) )
                                     FROM   TPO_ITEM I (NOLOCK)
                                     WHERE  ( I.NR_PROCESSO = P.NR_PROCESSO ) AND ( I.CD_USUARIO_MONTA = @cd_usuario ) ), 5 )
  FROM   TPO P
  WHERE  ( NR_PROCESSO = @nr_proc_controle ) AND ( CD_USUARIO_MONTA = @cd_usuario )

  EXEC @erro = sp_di_classifica_item @NR_PROC_CONTROLE, @cAdicao OUTPUT, @cItem OUTPUT

  SELECT
    @in_fabr_expor_imp = ISNULL( IN_FABR_EXPOR_IMP, '' ),
    @Exportador 	     = ISNULL( CD_EXPORTADOR, '' ),
    @PaisAquisicao     = ISNULL( CD_PAIS_AQUISICAO, '' ),
    @cIncoterm_Adic    = ISNULL( CD_INCOTERM, '' ),
    @cMoeda_Adic       = ISNULL( CD_MOEDA_NEG, '' )
  FROM   TPO (NOLOCK)
  WHERE ( NR_PROCESSO      = @nNR_PROC )
    AND ( CD_USUARIO_MONTA = @cd_usuario )

  UPDATE TADICAO_DE_IMPORTACAO
  SET
    CD_AUSENCIA_FABRIC = @cIN_FABR_EXP_PROD,
    CD_FORNECEDOR      = @cCD_EXPORTADOR,
    CD_PAIS_AQUIS_MERC = @cCD_PAIS_AQUISICAO,
    CD_FABRICANTE      = @cCD_FABRICANTE,
    CD_PAIS_ORIG_MERC  = @cCD_PAIS_ORIGEM,
    CD_INCOTERMS_VENDA = @cIncoterm_Adic,
    CD_MOEDA_NEGOCIADA = @cMoeda_Adic,
    CD_APLICACAO_MERC  = @cIN_APLIC_MERC,
    CD_MODALIDADE_PGTO = @cCD_MODALIDADE_PGTO 
  WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE )
    AND ( NR_ADICAO   = @cAdicao )

  UPDATE TADICAO_DE_IMPORTACAO
  SET
    VL_DESPESAS    = ROUND( ISNULL( ( SELECT SUM( TDM.VL_DESPESA_ITEM ) 
                                      FROM   TDETALHE_MERCADORIA TDM  (NOLOCK)
                                      WHERE  ( TDM.NR_PROCESSO = @NR_PROC_CONTROLE AND TDM.NR_ADICAO = @cAdicao ) ), 0 ), 2 ),
    VL_MERC_EMB_MN = ROUND( ISNULL( ( SELECT SUM( TDM.VL_MLE_ITEM ) 
                                      FROM   TDETALHE_MERCADORIA TDM  (NOLOCK)
                                      WHERE  ( TDM.NR_PROCESSO = @NR_PROC_CONTROLE AND TDM.NR_ADICAO = @cAdicao ) ), 0 ), 2 )
  WHERE  ( NR_PROCESSO = @NR_PROC_CONTROLE ) AND ( NR_ADICAO = @cAdicao )

  DECLARE
    @nr_adic_desp   char(3),
    @cd_moeda_neg   char(3),
    @vl_desp_real   float,
    @vl_desp_adic   float,
    @vl_mle_mn_adic float

  IF ISNULL( ( SELECT CD_MOEDA_MLE 
               FROM   TDECLARACAO_IMPORTACAO (NOLOCK)
               WHERE  NR_PROCESSO = @nr_processo ), '' ) = ''
  BEGIN
    DECLARE cursorADICAO CURSOR FOR
      SELECT NR_ADICAO, ISNULL( VL_DESPESAS, 0 ), CD_MOEDA_NEGOCIADA, ISNULL( VL_MERC_LOC_EMB_MN, 0 )
      FROM   TADICAO_DE_IMPORTACAO (NOLOCK)
      WHERE  NR_PROCESSO =  @nr_processo
    OPEN cursorADICAO
    FETCH cursorADICAO
    INTO @nr_adic_desp, @vl_desp_adic, @cd_moeda_neg, @vl_mle_mn_adic
 
    SET @vl_desp_real = 0
    WHILE @@fetch_status <> -1
    BEGIN
      SET @vl_desp_adic = ( @vl_desp_adic * ( SELECT CONVERT( float, ( STUFF( TAXA_CONVERSAO, 2, 1, '.' ) ) ) 
                                              FROM   TCONVERSAO_CAMBIO  (NOLOCK)
                                              WHERE  Codigo = @moeda_neg ) )
      SET @vl_desp_real = @vl_desp_real + @vl_desp_adic

      FETCH cursorADICAO INTO @nr_adic_desp, @vl_desp_adic, @moeda_neg, @vl_mle_mn_adic
    END  
    CLOSE cursorADICAO
    DEALLOCATE cursorADICAO
    -- Verificar se é preciso atualizar o valor na moeda para as despesas
    -- Valor da despesa zerado significa que não foi alimentado despesas na adição, portanto não atualiza capa
    IF @vl_desp_real <> 0 
    BEGIN
      UPDATE TDECLARACAO_IMPORTACAO
      SET    VL_TOT_DESPS_MN = ROUND( @vl_desp_real, 2 )
      WHERE  NR_PROCESSO = @nr_processo
    END
    -- MLE MN somente para moeda não única no processo
    -- Soma os MLE's dos itens que estão sem despesa 
    UPDATE TDECLARACAO_IMPORTACAO
    SET    VL_TOTAL_MLE_MN = ( SELECT ROUND( SUM( ISNULL( VL_MLE_ITEM_MN, 0 ) ), 2 )
                               FROM   TDETALHE_MERCADORIA (NOLOCK)
                               WHERE  NR_PROCESSO = @nr_processo )
    WHERE  NR_PROCESSO = @nr_processo
  END
   
  IF ( @Exportador <> '' ) 
  BEGIN
    SELECT
      @nm_forn_estr        = ISNULL( NM_EMPRESA, '' ),
	    @ed_cidad_forn_estr  = ISNULL( END_CIDADE, '' ),
	    @ed_compl_forn_estr  = ISNULL( END_COMPL, '' ),
	    @ed_estad_forn_estr  = ISNULL( END_ESTADO, '' ),
	    @ed_logr_forn_estr   = ISNULL( END_EMPRESA, '' ),
	    @ed_nr_forn_estr     = ISNULL( END_NUMERO, '' )
    FROM   TEMPRESA_EST (NOLOCK)
    WHERE  CD_EMPRESA = @Exportador
  END

  IF ( @cCD_FABRICANTE <> '' ) 
  BEGIN
    SELECT
      @nm_fabricante       = ISNULL( NM_EMPRESA, '' ),
	    @ed_cidad_fabric     = ISNULL( END_CIDADE, '' ),
	    @ed_compl_fabric     = ISNULL( END_COMPL, '' ),
	    @ed_estado_fabric    = ISNULL( END_ESTADO, '' ),
	    @ed_logr_fabric      = ISNULL( END_EMPRESA, '' ),
	    @ed_nr_fabric        = ISNULL( END_NUMERO, '' )
    FROM   TEMPRESA_EST (NOLOCK)
    WHERE  CD_EMPRESA = @cCD_FABRICANTE
  END

  -- Dados do Exportador
  IF ( @Exportador <> '' ) 
  BEGIN
    UPDATE TADICAO_DE_IMPORTACAO
    SET
      NM_FORN_ESTR       = @nm_forn_estr,
	    ED_CIDAD_FORN_ESTR = @ed_cidad_forn_estr,
	    ED_COMPL_FORN_ESTR = @ed_compl_forn_estr,
	    ED_ESTAD_FORN_ESTR = @ed_estad_forn_estr,
	    ED_LOGR_FORN_ESTR  = @ed_logr_forn_estr,
	    ED_NR_FORN_ESTR    = @ed_nr_forn_estr
    WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE )
      AND ( NR_ADICAO   = @cAdicao )
  END

  -- Dados do Fabricante
  IF ( @cCD_FABRICANTE <> '' ) 
  BEGIN
    UPDATE TADICAO_DE_IMPORTACAO
    SET
      NM_FABRICANTE_MERC = @nm_fabricante,
	    ED_CIDAD_FABRIC    = @ed_cidad_fabric,
	    ED_COMPL_FABRIC    = @ed_compl_fabric,
	    ED_ESTADO_FABRIC   = @ed_estado_fabric,
  	  ED_LOGR_FABRIC     = @ed_logr_fabric,
	    ED_NR_FABRIC       = @ed_nr_fabric
    WHERE ( NR_PROCESSO = @NR_PROC_CONTROLE )
      AND ( NR_ADICAO   = @cAdicao )
  END

  UPDATE TDETALHE_MERCADORIA 
  SET
    TX_DESC_DET_MERC  = B.TX_MERCADORIA/*,
    CD_FABR_EXPO      = @in_fabr_expor_imp,
    CD_EXPORTADOR     = @Exportador,
    CD_PAIS_AQUISICAO = @PaisAquisicao*/
  FROM   TDETALHE_MERCADORIA A, TPO_ITEM B
  WHERE  ( A.NR_PROCESSO = @NR_PROC_CONTROLE )
    AND  ( A.NR_PROC_PO  = @nNR_PROC )
    AND  ( A.NR_ITEM_PO  = @nNR_ITEM_CLIENTE )
    AND  ( B.NR_PROCESSO = @nNR_PROC )
    AND  ( B.NR_ITEM     = @cNrItem )
    AND  ( B.CD_USUARIO_MONTA = @cd_usuario )

  SELECT @nEntrou3 = 1

  IF ( SELECT COUNT(*) 
       FROM   TPO_NVE (NOLOCK)
       WHERE  ( NR_PROCESSO = @nNR_PROC ) AND
              ( NR_ITEM = @cNrItem ) )  > 0
  BEGIN
    DECLARE @nr_item_fetch   char(3)
    DECLARE @cd_nivel_fetch  char(3)
    DECLARE @cd_atrib_fetch  char(2)
    DECLARE @cd_espec_fetch  char(4)
    DECLARE @cd_ncm_atributo char(8)
    DECLARE @cd_ncm_especif  char(8)

    DECLARE c_nve CURSOR FOR
    SELECT NR_ITEM, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM, CD_NCM_ATRIBUTO, CD_NCM_ESPECIF
    FROM   TPO_NVE (NOLOCK)
    WHERE  ( NR_PROCESSO = @nNR_PROC ) AND ( NR_ITEM = @cNrItem ) 

    OPEN c_nve 
    FETCH c_nve INTO @nr_item_fetch, @cd_nivel_fetch, @cd_atrib_fetch, @cd_espec_fetch, @cd_ncm_atributo, @cd_ncm_especif
    WHILE @@fetch_status <> -1
    BEGIN
      INSERT INTO TDI_NVE ( 
        NR_PROCESSO,        NR_ADICAO,
        NR_ITEM,            CD_NIVEL_NVE,
        CD_ATRIBUTO_NCM,    CD_ESPECIF_NCM,
        CD_NCM_ATRIBUTO,    CD_NCM_ESPECIF
      )
      VALUES ( 
        @NR_PROC_CONTROLE,  @cAdicao,
        @cItem,             @cd_nivel_fetch,
        @cd_atrib_fetch,    @cd_espec_fetch,
        @cd_ncm_atributo,   @cd_ncm_especif
      )
      FETCH c_nve INTO @nr_item_fetch, @cd_nivel_fetch, @cd_atrib_fetch, @cd_espec_fetch, @cd_ncm_atributo, @cd_ncm_especif
    END

    CLOSE c_nve
    DEALLOCATE c_nve     
  END

  FETCH c_PO_ITEM INTO
    @nNR_PROC,        @nNR_ITEM,        @cCD_EXPORTADOR,  @cCD_NALADI_SH,     @cCD_PAIS_AQUISICAO, @cCD_MERCADORIA,
    @cCD_FABRICANTE,  @cCD_PAIS_ORIGEM, @cCD_NCM_SH,      @cCD_NALADI_NCCA,   @cCD_UNID_MEDIDA,    @nPC_DESCONTO,
    @nPL_ITEM,        @nQT_INICIAL,     @nQT_INICIAL_EST, @cTP_CALCULO,       @nVL_UNITARIO,       @nVL_TOTAL,
    @nVL_DESCONTO,    @nVL_ESPEC_II,    @nVL_ESPEC_IPI,   @nVL_ESPEC_AD,      @nVL_SEGURO_MOEDA,   @nVL_ACRESC_MOEDA,
    @nVL_DEDUC_MOEDA, @nQtDisponivel,   @nNR_FATURA,      @cIN_FABR_EXP_PROD, @cIN_APLIC_MERC,     @nNR_ITEM_CLIENTE

  IF @NR_PROC_PO_OLD <> @nNR_PROC 
  BEGIN
    SET @qt_total_processado = 0
    SET @VlSomaFrete         = 0
    SET @VlSomaFretePrep     = 0
    SET @VlSomaFreteCol      = 0
    SET @VlSomaFreteTerNac   = 0
  END
END

CLOSE c_PO_ITEM
DEALLOCATE c_PO_ITEM

IF @nEntrou3 = 1
BEGIN  IF @cNrItem = @TotalItem
  BEGIN
    DECLARE
      @nQt_Adicoes    integer,
      @vl_seguro_temp float,
      @vl_mle_temp    float

    SELECT @nQt_Adicoes = COUNT(*) 
    FROM   TADICAO_DE_IMPORTACAO  (NOLOCK)
    WHERE  NR_PROCESSO = @nr_proc_controle

    SET @vl_seguro_temp = 0
    SET @vl_mle_temp = 0

    UPDATE TDECLARACAO_IMPORTACAO    SET
      VL_TOT_FRT_PREPAID = ROUND( @VlSomaFretePrep, 2 ),
      VL_TOT_FRT_COLLECT = ROUND( @VlSomaFreteCol, 2 ),
      VL_FRETE_TNAC_MNEG = ROUND( @VlSomaFreteTerNac, 2 ),
      VL_TOT_SEGURO_MNEG = ROUND( ( VL_TOT_SEGURO_MNEG + @nVl_Seg ), 2 ),
      VL_TOT_MLE_MNEG    = ROUND( ( VL_TOT_MLE_MNEG + @nVlTotal ), 2 ),
      PL_CARGA           = ROUND( ISNULL( ( SELECT SUM( TDM.PL_MERCADORIA ) 
                                            FROM   TDETALHE_MERCADORIA TDM  (NOLOCK)
                                            WHERE  ( TDM.NR_PROCESSO = @NR_PROC_CONTROLE ) ), 0 ), 5 ),
      QT_ADICOES         = @nQt_Adicoes
    WHERE  NR_PROCESSO = @nr_proc_controle
  END
END

EXEC sp_atz_di @nr_proc_controle

--EXEC sp_aviso_drawback @nr_processo 

/*
DECLARE @nr_proc_po    char(18)
DECLARE @vl_qtde       float
DECLARE @cd_mercadoria char(15)
DECLARE @ap_mercadoria char(15)
DECLARE @mensagem      varchar(5000)
DECLARE @cabecalho     varchar(50)

SELECT @cabecalho = 'Pedidos Indaia - Drawback' + char(10) + char(10)

SELECT @mensagem = ''
DECLARE c_ato CURSOR FOR
  SELECT ISNULL( I.NR_PROC_PO, '' ), I.QT_MERC_UN_COMERC, I.CD_MERCADORIA, M.AP_MERCADORIA
  FROM   TDETALHE_MERCADORIA I, TMERCADORIA M
  WHERE  I.CD_MERCADORIA = M.CD_MERCADORIA AND
         M.IN_ATO_DRAWBACK = '1' AND
         I.NR_PROCESSO = @nr_proc_controle
  GROUP BY ISNULL( I.NR_PROC_PO, '' ), I.QT_MERC_UN_COMERC, I.CD_MERCADORIA, M.AP_MERCADORIA
OPEN c_ato
FETCH c_ato INTO @nr_proc_po, @vl_qtde, @cd_mercadoria, @ap_mercadoria
WHILE @@fetch_status = 0
BEGIN
  SELECT @mensagem = @mensagem +
                     'Pedido: ' + @nr_proc_po + char(10) + 
                     'Cod:    ' + @cd_mercadoria + char(10) + 
                     'Merc.:  ' + @ap_mercadoria + char(10) +
                     'Qtde:   ' + CONVERT( varchar(12), CONVERT( numeric(14,5), @vl_qtde ) ) + char(10) + char(10)

  FETCH c_ato INTO @nr_proc_po, @vl_qtde, @cd_mercadoria, @ap_mercadoria
END
CLOSE c_ato
DEALLOCATE c_ato

IF LTRIM( RTRIM( @mensagem ) ) <> ''
BEGIN
  SELECT @mensagem = @cabecalho + @mensagem

  DECLARE @destino varchar(5000)
  DECLARE @nm_mail varchar(50)

  SELECT @destino = ''
  DECLARE c_contato CURSOR FOR 
    SELECT NM_EMAIL
    FROM   TCLIENTE_CONTATO C, TPROCESSO P
    WHERE  P.CD_UNID_NEG = C.CD_UNID_NEG AND
           P.CD_PRODUTO  = C.CD_PRODUTO AND
           P.CD_CLIENTE  = C.CD_CLIENTE AND
           C.IN_DRAWBACK = 1 AND
           P.NR_PROCESSO = @nr_proc_controle

  OPEN c_contato
  FETCH c_contato INTO @nm_mail
  WHILE @@fetch_status = 0
  BEGIN
    IF LTRIM( RTRIM( @destino ) ) <> ''
      SELECT @destino = @destino + ';'

    SELECT @destino = @destino + LTRIM( RTRIM( @nm_mail ) )
    
    FETCH c_contato INTO @nm_mail
  END
  CLOSE c_contato
  DEALLOCATE c_contato

  IF LTRIM( RTRIM( @destino ) ) <> ''
    EXEC master.dbo.xp_sendmail @destino, 
         @subject = 'Pedidos - Drawback',
         @message = @mensagem
END
*/
RETURN(0)
/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

GO
