USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_rel_exp_emb_averb] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5),
                                        @dt_ini datetime, @dt_fim datetime, @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_ini datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_ini = CONVERT( datetime, '01/01/2001', 103 )
SELECT @dt_fim = CONVERT( datetime, '10/02/2002', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_EXP_EMB_AVERB (TABLOCK HOLDLOCK)

INSERT TREL_EXP_EMB_AVERB ( NR_IDENTIFICADOR, NM_UNID_NEG, NR_PROCESSO, NM_CLIENTE, NM_BL, DT_EMBARQUE, DT_AVERBACAO, DELTA, NM_AGENTE )
SELECT @nr_identificador, U.NM_UNID_NEG, NR_PROCESSO, E.NM_EMPRESA, P.NR_CONHECIMENTO,
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F (NOLOCK)
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) AND
                F.IN_APLICAVEL = '1' ) AS DT_EMBARQUE,
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F (NOLOCK)
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_AVERBACAO FROM TPARAMETROS (NOLOCK) ) AND
                F.IN_APLICAVEL = '1' ) AS DT_AVERBACAO,
       ISNULL( DATEDIFF( d,
                 ( SELECT DT_REALIZACAO
                   FROM   TFOLLOWUP F (NOLOCK)
                   WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                          F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) AND
                          F.IN_APLICAVEL = '1' ),
                 ( SELECT DT_REALIZACAO
                   FROM   TFOLLOWUP F (NOLOCK)
                   WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                          F.CD_EVENTO IN ( SELECT CD_EV_AVERBACAO FROM TPARAMETROS (NOLOCK) ) AND
                          F.IN_APLICAVEL = '1' ) ), 0 ) AS DELTA,
       A.NM_AGENTE
FROM   TPROCESSO P (NOLOCK), TUNID_NEG U (NOLOCK), TAGENTE A (NOLOCK), TEMPRESA_NAC E (NOLOCK)
WHERE  P.CD_AGENTE *= A.CD_AGENTE AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       P.CD_UNID_NEG = U.CD_UNID_NEG AND
       P.CD_PRODUTO IN ( '02', '10' ) AND
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F (NOLOCK)
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) AND
                F.IN_APLICAVEL = '1' ) IS NOT NULL AND
                @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' )AND
                @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
                @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
       ( SELECT DT_REALIZACAO
         FROM   TFOLLOWUP F (NOLOCK)
         WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) AND
                F.IN_APLICAVEL = '1' ) BETWEEN @dt_ini AND @dt_fim
ORDER BY P.NR_PROCESSO





GO
