USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE  procedure [sp_di_repassa_dados_cambio]( @nr_processo char(18) ) AS

/*  SET XACT_ABORT ON
    BEGIN TRAN

    DECLARE @NR_PROCESSO CHAR(18)
    SELECT @NR_PROCESSO = '0101CL-0001-01'  */

DECLARE @in_repassa_dados_cambio BIT
DECLARE @cd_cobertura_cambial    CHAR(1)
DECLARE @cd_motivo_sem_cobertura CHAR(2)
DECLARE @cd_modalidade_pagto     CHAR(2)
DECLARE @nr_rof                  CHAR(8)
DECLARE @pc_comissao_agente      FLOAT
DECLARE @nr_identificacao_agente CHAR(14)
DECLARE @nr_banco_comissao       CHAR(5)
DECLARE @nr_praca_comissao       CHAR(4)
DECLARE @in_moeda_nacional       CHAR(1)
DECLARE @in_moeda_unica          BIT
DECLARE @nr_contrato_cambio      CHAR(8)
DECLARE @nr_banco_cambio         CHAR(5)
DECLARE @nr_praca_cambio         CHAR(4)
DECLARE @nr_comprador_me         CHAR(14)        
DECLARE @cd_forma_pagamento      CHAR(1)        
DECLARE @cd_tp_compr_cambio      CHAR(1)
DECLARE @cd_orgao_fin_inter  	 CHAR(2)
DECLARE @s_adicao		 CHAR(3)
DECLARE @nr_sequencia   	 INT

DECLARE @qt_parc INT
DECLARE @periodicidade INT
DECLARE @cd_period_pgto CHAR(1)
DECLARE @in_pagto_variav_360 bit

SELECT @in_repassa_dados_cambio = IN_REPASSA_DADOS_CAMBIO,
       @cd_cobertura_cambial    = CD_COBERTURA_CAMBIAL,
       @cd_motivo_sem_cobertura = CD_MOTIVO_SEM_COBERTURA,
       @cd_modalidade_pagto     = CD_MODALIDADE_PAGTO,
       @nr_rof                  = NR_ROF,
       @pc_comissao_agente      = PC_COMISSAO,
       @nr_identificacao_agente = NR_IDENTIFICACAO_COM,
       @nr_banco_comissao       = NR_BANCO_COM,
       @nr_praca_comissao       = NR_PRACA_COM,
       @in_moeda_nacional       = IN_MOEDA_NACIONAL,
       @in_moeda_unica          = IN_MOEDA_UNICA,
       @nr_contrato_cambio      = NR_CONTRATO_CAMBIO,
       @nr_banco_cambio         = NR_BANCO_PAGAMENTO,
       @nr_praca_cambio         = NR_PRACA_PAGAMENTO,
       @nr_comprador_me         = NR_COMPRADOR_ME, 
       @cd_forma_pagamento      = CD_FORMA_PAGAMENTO,
       @qt_parc 		= ISNULL( QT_PARC_FINANC_360, 0 ),
       @periodicidade 		= ISNULL( QT_PERIOD_PGTO_360, 0 ),
       @cd_period_pgto 		= ISNULL( CD_PERIOD_PGTO_360, '' ),
       @in_pagto_variav_360     = IN_PGTO_VARIAV_360
FROM   TDECLARACAO_IMPORTACAO (NOLOCK) 
WHERE  ( NR_PROCESSO = @nr_processo )

IF @in_repassa_dados_cambio = 1
BEGIN
  DECLARE c_adicao CURSOR FOR
    SELECT NR_ADICAO
    FROM   TADICAO_DE_IMPORTACAO (NOLOCK)
    WHERE  NR_PROCESSO = @nr_processo
    ORDER BY NR_PROCESSO, NR_ADICAO

  OPEN c_adicao
  FETCH c_adicao INTO @s_adicao
  WHILE @@fetch_status <> -1
  BEGIN
    UPDATE TADICAO_DE_IMPORTACAO
    SET    CD_COBERT_CAMBIAL  =CASE  ISNULL( @cd_cobertura_cambial, '' )
                                      WHEN '' THEN CD_COBERT_CAMBIAL
                                      ELSE @cd_cobertura_cambial
                                      END ,

           CD_MODALIDADE_PGTO = CASE ISNULL( @cd_modalidade_pagto, '' )
                                      WHEN '' THEN CD_MODALIDADE_PGTO
                                      ELSE @cd_modalidade_pagto
                                      END ,

           CD_MOTIVO_SEM_COB  = CASE ISNULL( @cd_motivo_sem_cobertura, '' )
                                      WHEN '' THEN  CD_MOTIVO_SEM_COB
                                      ELSE  @cd_motivo_sem_cobertura
                                      END ,

           NR_ROF             =  CASE ISNULL( @nr_rof,'' )
                                      WHEN '' THEN NR_ROF
                                      ELSE @nr_rof
                                      END ,

           PC_COMISSAO_AG_IMP = ISNULL( @pc_comissao_agente, PC_COMISSAO_AG_IMP ),      

           NR_AGENTE_IMP      = CASE ISNULL( @nr_identificacao_agente, '' )
                                      WHEN '' THEN NR_AGENTE_IMP
                                      ELSE @nr_identificacao_agente
                                      END  , 

           CD_BANC_AGENTE_IMP = CASE ISNULL( @nr_banco_comissao, '' )
                                      WHEN '' THEN CD_BANC_AGENTE_IMP
                                      ELSE @nr_banco_comissao 
                                      END ,       

           CD_AGENC_AGENT_IMP = CASE ISNULL( @nr_praca_comissao, '' )
                                      WHEN '' THEN ISNULL( CD_AGENC_AGENT_IMP, '' )
                                      ELSE @nr_praca_comissao
                                      END   ,       

           CD_ORGAO_FIN_INTER = CASE ISNULL( @cd_orgao_fin_inter, '' )
                                      WHEN '' THEN ISNULL( CD_ORGAO_FIN_INTER, '' )
                                      ELSE  @cd_orgao_fin_inter
                                      END ,
           QT_PARC_FINANC_360 = @qt_parc,
           QT_PERIOD_PGTO_360 = @periodicidade,
           CD_PERIOD_PGTO_360 = @cd_period_pgto,
           IN_PGTO_VARIAV_360 = @in_pagto_variav_360
    WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao )
    IF @cd_forma_pagamento = '1' OR @cd_forma_pagamento = '2' -- OR @cd_forma_pagamento = '3'
    BEGIN
      IF SUBSTRING ( @nr_comprador_me , 12, 3) = '   ' 
        SELECT @cd_tp_compr_cambio = '2'
      ELSE
        SELECT @cd_tp_compr_cambio = '1'
      IF NOT EXISTS( SELECT NR_PROCESSO, NR_ADICAO 
                     FROM   TPAGAMENTO_VINCULADO  (NOLOCK)
                     WHERE  ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao ) ) AND
                            ( @nr_comprador_me <> '' )
      BEGIN
        SELECT @nr_sequencia = ISNULL( ( SELECT MAX( NR_SEQUENCIA ) 
                                         FROM   TPAGAMENTO_VINCULADO (NOLOCK)
                                         WHERE  NR_PROCESSO        = @nr_processo AND
                                                NR_ADICAO          = @s_adicao    AND
                                                CD_FORMA_PAGAMENTO = @cd_forma_pagamento ), 0 ) + 1 
         INSERT INTO TPAGAMENTO_VINCULADO 
           ( NR_PROCESSO, NR_ADICAO, CD_FORMA_PAGAMENTO, NR_SEQUENCIA, 
             IN_PAGAMENTO_MN, NR_OP_CAMBIO, CD_BANCO_PAGAMENTO, CD_PRACA_PAGAMENTO,  
             NR_COMPR_CAMBIO, CD_TP_COMPR_CAMBIO ) 
         VALUES
           ( @nr_processo, @s_adicao, @cd_forma_pagamento, @nr_sequencia,
             @in_moeda_nacional, @nr_contrato_cambio, @nr_banco_cambio, @nr_praca_cambio,    
             @nr_comprador_me, @cd_tp_compr_cambio )
      END
    END

    DELETE FROM TPAGAMENTO_PREVISTO WHERE NR_PROCESSO = @nr_processo AND NR_ADICAO = @s_adicao

    IF @in_pagto_variav_360 = 1
    BEGIN
      INSERT INTO TPAGAMENTO_PREVISTO (NR_PROCESSO, NR_ADICAO, NR_SEQUENCIA, DT_PREV_PGTO_360, VL_PREV_PGTO_360)
        SELECT @nr_processo, @s_adicao, NR_SEQUENCIA+0, DT_PREV_PGTO_360, VL_PREV_PGTO_360 
        FROM   TPAGTO_PREVISTO_CAMBIO_DI (NOLOCK)
        WHERE  NR_PROCESSO = @nr_processo 
    END

    FETCH c_adicao INTO @s_adicao
  END 
  CLOSE c_adicao
  DEALLOCATE c_adicao

END

/*
ROLLBACK TRAN
SET XACT_ABORT ON
*/



GO
