USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [sp_rel_est_mercadoria] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
			          @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '02'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/02/2002', 103 )
SELECT @dt_fim = CONVERT( datetime, '28/02/2002', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_EST_MERCADORIA
SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

IF @cd_produto IN ( '01', '03' ) OR @cd_produto = 'X'
BEGIN
  INSERT TREL_EST_MERCADORIA( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_NCM_SH, CD_MERCADORIA,
                              NR_DI, NR_PROCESSO, NR_ADICAO, DT_REGISTRO_DI, NR_PEDIDO, NR_ITEM_PEDIDO, NR_RE, NR_ANEXO, NR_ITEM, NR_ATO_DRAWBACK,
                              VL_FOB, VL_FRETE, VL_SEGURO, VL_QTDE, VL_PESO_LIQUIDO, 
                              CD_REG_TRIB_II, VL_ALIQ_II, VL_II, CD_REG_TRIB_IPI, VL_ALIQ_IPI, VL_IPI, 
                              CD_REG_TRIB_ICMS, VL_ALIQ_ICMS, VL_ICMS,
                              CD_MOEDA_MLE, TX_CAMBIO_MLE, CD_MOEDA_FRETE, TX_CAMBIO_FRETE, CD_MOEDA_SEGURO, TX_CAMBIO_SEGURO, TX_CAMBIO_DOLAR,
                              CD_EXPORTADOR, CD_PAIS_ORIGEM, CD_ENQUAD_OP, CD_AREA )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, I.CD_NCM_SH, I.CD_MERCADORIA, 
         ISNULL( D.NR_DECLARACAO_IMP, '' ) AS NR_DI, 
         AD.NR_PROCESSO, AD.NR_ADICAO, 
         CONVERT( datetime, SUBSTRING( D.DT_REGISTRO_DI, 1, 2 ) + '/' + 
                            SUBSTRING( D.DT_REGISTRO_DI, 3, 2 ) + '/' +  
                            SUBSTRING( D.DT_REGISTRO_DI, 5, 4 ), 103 ) AS DT_REGISTRO_DI, 
         ISNULL( I.NR_PROC_PO, 'X' ) AS NR_PEDIDO, 
         ISNULL( I.NR_ITEM_PO, 'X' ) AS NR_ITEM_PEDIDO, 'X', 'X', 'X',
         ISNULL( AD.NR_ATO_DRAWBACK, 'X' ) AS NR_ATO_DRAWBACK, 
         SUM( ISNULL( I.VL_MLE_ITEM, 0 ) ) AS VL_FOB, 
         SUM( ISNULL( I.VL_FRETE_ITEM, 0 ) ) AS VL_FRETE, 
         SUM( ISNULL( I.VL_SEGURO_ITEM, 0 ) ) AS VL_SEGURO,
         SUM( ISNULL( I.QT_MERC_UN_COMERC, 0 ) ) AS VL_QTDE, SUM( ISNULL( I.PL_MERCADORIA, 0 ) ) AS VL_PESO_LIQUIDO, 
         ISNULL( AD.CD_REGIME_TRIBUTAR, 'X' ) AS CD_REG_TRIB_II, 
         ISNULL( 
         ( SELECT MAX( T.PC_ALIQ_NORM_ADVAL )
           FROM   TRIBUTO T (NOLOCK)
           WHERE  T.NR_PROCESSO = AD.NR_PROCESSO AND 
                  T.NR_ADICAO = AD.NR_ADICAO AND 
                  T.CD_RECEITA_IMPOSTO = '0001' ), 0 ) VL_ALIQ_II,
         SUM( ISNULL( I.VL_II_ITEM, 0 ) ) AS VL_II, 
         ISNULL( 
         ( SELECT MAX( T.CD_TIPO_BENEF_IPI )
           FROM   TRIBUTO T (NOLOCK)
           WHERE  T.NR_PROCESSO = AD.NR_PROCESSO AND 
                  T.NR_ADICAO = AD.NR_ADICAO AND 
                  T.CD_RECEITA_IMPOSTO = '0002' ), 'X' ) AS CD_REG_TRIB_IPI,
         ISNULL( 
         ( SELECT MAX( T.PC_ALIQ_NORM_ADVAL )
           FROM   TRIBUTO T (NOLOCK)
           WHERE  T.NR_PROCESSO = AD.NR_PROCESSO AND 
                  T.NR_ADICAO = AD.NR_ADICAO AND 
                  T.CD_RECEITA_IMPOSTO = '0002' ), 0 ) VL_ALIQ_IPI,
         SUM( ISNULL( I.VL_IPI_ITEM, 0 ) ) AS VL_IPI, 
         ISNULL( AD.CD_TRIBUTACAO_ICMS, 'X' ) AS CD_REG_TRIB_ICMS, 
         ISNULL( AD.PC_ICMS, 0 ) AS VL_ALIQ_ICMS, 
         SUM( ISNULL( I.VL_ICMS_ITEM, 0 ) ) AS VL_ICMS,
         ISNULL( D.CD_MOEDA_MLE, '' ) AS CD_MOEDA_MLE, ISNULL( D.TX_MLE, 0 ) AS TX_CAMBIO_MLE, 
         ISNULL( D.CD_MOEDA_FRETE, '' ) AS CD_MOEDA_FRETE, ISNULL( D.TX_FRETE, 0 ) AS TX_CAMBIO_FRETE, 
         ISNULL( D.CD_MOEDA_SEGURO, '' ) AS CD_MOEDA_SEGURO, ISNULL( D.TX_SEGURO, 0 ) AS TX_CAMBIO_SEGURO, 
         ISNULL( D.TX_DOLAR, 0 ) AS TX_CAMBIO_DOLAR, 
         ISNULL( I.CD_EXPORTADOR, ISNULL( AD.CD_FORNECEDOR, 'X' ) ), 
         ISNULL( I.CD_PAIS_AQUISICAO, ISNULL( AD.CD_PAIS_AQUIS_MERC, 'X' ) ), 'X',
         ISNULL( P.CD_AREA, '' )
  FROM   TDETALHE_MERCADORIA I (NOLOCK), TADICAO_DE_IMPORTACAO AD (NOLOCK), TDECLARACAO_IMPORTACAO D (NOLOCK), 
         TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  I.NR_PROCESSO = AD.NR_PROCESSO AND
         I.NR_ADICAO = AD.NR_ADICAO AND
         AD.NR_PROCESSO = D.NR_PROCESSO AND
         D.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = @cd_unid_neg AND
         P.CD_PRODUTO IN ( '01', '03' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim AND
         P.IN_CANCELADO = '0' AND
         ISNULL( D.NR_DECLARACAO_IMP, '' ) <> '' AND
         ISNULL( I.CD_MERCADORIA, '' ) <> '' AND
         ISNULL( I.CD_NCM_SH, '' ) <> ''
  GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, I.CD_MERCADORIA, I.CD_NCM_SH, D.NR_DECLARACAO_IMP, 
           D.DT_REGISTRO_DI, AD.NR_PROCESSO, AD.NR_ADICAO, ISNULL( I.NR_PROC_PO, 'X' ), ISNULL( I.NR_ITEM_PO, 'X' ), 
           ISNULL( AD.NR_ATO_DRAWBACK, 'X' ), 
           ISNULL( AD.CD_REGIME_TRIBUTAR, 'X' ), ISNULL( AD.CD_TRIBUTACAO_ICMS, 'X' ), ISNULL( AD.PC_ICMS, 0 ), 
           ISNULL( D.CD_MOEDA_MLE , '' ), ISNULL( D.TX_MLE, 0 ), 
           ISNULL( D.CD_MOEDA_FRETE , '' ), ISNULL( D.TX_FRETE, 0 ), 
           ISNULL( D.CD_MOEDA_SEGURO , '' ), ISNULL( D.TX_SEGURO, 0 ), 
           ISNULL( D.TX_DOLAR, 0 ), 
           ISNULL( I.CD_EXPORTADOR, ISNULL( AD.CD_FORNECEDOR, 'X' ) ),
           ISNULL( I.CD_PAIS_AQUISICAO, ISNULL( AD.CD_PAIS_AQUIS_MERC, 'X' ) ),
           ISNULL( P.CD_AREA, '' )
  ORDER BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, I.CD_NCM_SH, I.CD_MERCADORIA, D.NR_DECLARACAO_IMP,
           AD.NR_PROCESSO, AD.NR_ADICAO
END

IF @cd_produto IN ( '02', '10' ) OR @cd_produto = 'X'
BEGIN
  INSERT TREL_EST_MERCADORIA( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_NCM_SH, CD_MERCADORIA, CD_ENQUAD_OP,
                              NR_PROCESSO, NR_DI, NR_PEDIDO, NR_ITEM_PEDIDO, NR_ADICAO, NR_RE, NR_ANEXO, NR_ITEM, VL_QTDE, VL_FOB, VL_PESO_LIQUIDO, VL_COM_AGENTE,
                              DT_EMBARQUE, NR_ATO_DRAWBACK, CD_PAIS_DESTINO, CD_AREA, TX_CAMBIO_DOLAR, CD_MOEDA_MLE, TX_CAMBIO_MLE )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, ISNULL( I.CD_NCM, 'X' ), I.CD_MERCADORIA, ISNULL( C.CD_ENQUAD_OP, 'X' ),
         P.NR_PROCESSO, 'X', 'X', 'X', 'X', 
         ISNULL(
         ( SELECT MAX( RE.NR_RE )
           FROM   TPROCESSO_RE RE (NOLOCK)
           WHERE  RE.NR_PROCESSO = P.NR_PROCESSO ), 'X' ) AS NR_RE,
         ISNULL( I.NR_ANEXO, 'X' ), I.NR_ITEM, 
         SUM( CASE U.NM_SIGLA
                WHEN 'L' THEN ISNULL( I.QT_MERCADORIA, 0 ) * ISNULL( I.QT_POR_EMB, 0 ) 
                ELSE ISNULL( I.QT_MERCADORIA, 0 )
              END ) AS VL_QTDE, 
         SUM( ISNULL( I.VL_MLE, 0 ) ) AS VL_MLE, 
         SUM( ISNULL( I.VL_TOT_PESO_LIQ, 0 ) ) AS VL_PESO_LIQUIDO, SUM( ISNULL( I.VL_COM_AGENTE, 0 ) )  AS VL_COM_AGENTE,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) AND
                  F.IN_APLICAVEL = '1' ) AS DT_EMBARQUE,
         ISNULL( I.NR_ATO_CONCESSORIO, 'X' ), ISNULL( P.CD_PAIS_DESTINO, 'X' ),
         ISNULL( P.CD_AREA, '' ), 
         ( SELECT TX_CAMBIO 
           FROM   TTAXA_CAMBIO (NOLOCK)
           WHERE  CD_MOEDA = '220' AND
                  ( SELECT F.DT_REALIZACAO
                    FROM   TFOLLOWUP F (NOLOCK)
                    WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                           F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) AND
                           F.IN_APLICAVEL = '1' ) BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA ) AS VL_TX_CAMBIO_DOLAR,
         ISNULL( C.CD_MOEDA, 'X' ) AS CD_MOEDA_MLE, 
         ( SELECT TX_CAMBIO 
           FROM   TTAXA_CAMBIO (NOLOCK)
           WHERE  CD_MOEDA = ISNULL( C.CD_MOEDA, 'X' ) AND
                  ( SELECT F.DT_REALIZACAO
                    FROM   TFOLLOWUP F (NOLOCK)
                    WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                           F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) AND
                           F.IN_APLICAVEL = '1' ) BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA ) AS VL_TX_CAMBIO_MLE
  FROM   TPROCESSO_EXP_ITEM I (NOLOCK), TPROCESSO_EXP C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK),
         TUNID_MEDIDA_BROKER U (NOLOCK)
  WHERE  I.NR_PROCESSO = C.NR_PROCESSO AND
         C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = @cd_unid_neg AND
         P.CD_PRODUTO IN ( '02', '10' ) AND
         I.CD_UNID_MEDIDA *= U.CD_UNID_MEDIDA AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim AND
         P.IN_CANCELADO = '0' AND
         ISNULL( I.CD_MERCADORIA, '' ) <> '' AND
-- Habilitar para 11/03/2002
--         ISNULL( I.CD_NCM, '' ) <> '' AND
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) AND
                  F.IN_APLICAVEL = '1' ) IS NOT NULL AND
         ISNULL(
         ( SELECT MAX( RE.NR_RE )
           FROM   TPROCESSO_RE RE (NOLOCK)
           WHERE  RE.NR_PROCESSO = P.NR_PROCESSO ), '' ) <> '' 
           AND I.IN_TRANSFERIDO = '0'
  GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, I.CD_MERCADORIA, I.CD_NCM, C.CD_ENQUAD_OP, P.NR_PROCESSO, ISNULL( I.NR_ANEXO, 'X' ), 
           ISNULL( I.NR_ATO_CONCESSORIO, 'X' ), ISNULL( P.CD_PAIS_DESTINO, 'X' ), ISNULL( P.CD_AREA, '' ), ISNULL( C.CD_MOEDA, 'X' ), I.NR_ITEM
  ORDER BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, I.CD_MERCADORIA, I.CD_NCM

--/*
  UPDATE TPROCESSO_EXP_ITEM
  SET    IN_TRANSFERIDO = '1'
  FROM   TPROCESSO_EXP_ITEM I, TPROCESSO_EXP C, TPROCESSO P, TEMPRESA_NAC E
  WHERE  I.NR_PROCESSO = C.NR_PROCESSO AND
         C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.CD_UNID_NEG = @cd_unid_neg AND
         P.CD_PRODUTO IN ( '02', '10' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim AND
         P.IN_CANCELADO = '0' AND
         ISNULL( I.CD_MERCADORIA, '' ) <> '' AND
-- Habilitar para 11/03/2002
--         ISNULL( I.CD_NCM, '' ) <> '' AND
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F (NOLOCK)
           WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                  F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS (NOLOCK) ) AND
                  F.IN_APLICAVEL = '1' ) IS NOT NULL AND
         ISNULL(
         ( SELECT MAX( RE.NR_RE )
           FROM   TPROCESSO_RE RE (NOLOCK)
           WHERE  RE.NR_PROCESSO = P.NR_PROCESSO ), '' ) <> ''
--*/


/*
  INSERT TREL_EST_MERCADORIA_RE( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_NCM_SH, CD_MERCADORIA, 
                                 NR_RE, DT_AVERBACAO )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, I.CD_NCM, I.CD_MERCADORIA, RE.NR_RE,
         ( SELECT MAX( F.DT_REALIZACAO )
           FROM   TFOLLOWUP F, TPROCESSO_EXP_ITEM I2
           WHERE  F.NR_PROCESSO = I2.NR_PROCESSO AND
                  I2.CD_NCM = I.CD_NCM AND
                  I2.CD_MERCADORIA = I.CD_MERCADORIA AND
                  F.CD_EVENTO IN ( SELECT CD_EV_AVERBACAO FROM TPARAMETROS ) ) AS DT_AVERBACAO
  FROM   TPROCESSO_EXP_ITEM I, TPROCESSO_EXP C, TPROCESSO P, TPROCESSO_RE RE, TEMPRESA_NAC E
  WHERE  I.NR_PROCESSO = C.NR_PROCESSO AND
         C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         C.NR_PROCESSO = RE.NR_PROCESSO AND
         P.CD_UNID_NEG = @cd_unid_neg AND
         P.CD_PRODUTO IN ( '02', '10' ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim AND
         P.IN_CANCELADO = '0' AND
         ISNULL( I.CD_MERCADORIA, '' ) <> '' AND
         ISNULL( I.CD_NCM, '' ) <> ''
  GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, I.CD_MERCADORIA, I.CD_NCM, RE.NR_RE
*/
END





GO
