USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_altera_senha] @senha_old varchar(15), @senha_new varchar(15), @usuario varchar(15) AS
BEGIN
    --Exec sp_password @senha_old, @senha_new, @usuario
    --EXEC('ALTER LOGIN [' + @usuario + '] WITH PASSWORD = ''' + @senha_new + '''')
    IF (ISNULL(@usuario, '') <> '') OR (ISNULL(@senha_new, '') <> '')
    BEGIN
        SET @usuario = RTRIM(LTRIM(@usuario))
        SET @senha_new = RTRIM(LTRIM(@senha_new))
        EXEC('USE MASTER; ALTER LOGIN [' + @usuario + '] WITH PASSWORD=N''' + @senha_new + '''')
        BEGIN TRY
            EXEC('USE MASTER; ALTER LOGIN [' + @usuario + '] WITH CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF')
        END TRY
        BEGIN CATCH
            PRINT 'ERRO: ' + ERROR_MESSAGE()
        END CATCH
        RETURN 1
    END
    ELSE
        RETURN 0
END
GO
