USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_atz_di]( @nr_processo char(18) ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @nr_processo char(18) 
SET @nr_processo = '0101IN-0088-01'
--*/
DECLARE
  @cd_via_transp_carg     char(2),
  @cd_local_embarque      char(4),
  @nr_conhecimento        char(30),
  @nr_conhecimento_master char(30),
  @cd_tipo_dcto_carga     char(2),
  @cd_tipo_manifesto      char(1),
  @dt_chegada             varchar(10),
  @dt_embarque            varchar(10)

SELECT @cd_via_transp_carg = CD_VIA_TRANSP_CARG        
FROM   TDECLARACAO_IMPORTACAO ( NOLOCK )
WHERE  NR_PROCESSO = @nr_processo

SELECT @dt_chegada = CONVERT( varchar(10), DT_REALIZACAO, 103 )
FROM   VW_DT_ENT
WHERE  NR_PROCESSO = @nr_processo

SELECT
  @nr_conhecimento        = LTRIM( RTRIM( ISNULL( NR_CONHECIMENTO, '' ) ) ),
  @nr_conhecimento_master = LTRIM( RTRIM( ISNULL( NR_CONHECIMENTO_MASTER, '' ) ) ),
  @dt_embarque            = CONVERT( varchar(10), DT_CONHECIMENTO, 103 )
FROM   TPROCESSO ( NOLOCK )
WHERE  NR_PROCESSO = @nr_processo

IF @cd_via_transp_carg = '01' --Marítimo
BEGIN
  IF @nr_conhecimento_master <> ''
    SET @cd_tipo_dcto_carga = '12'
  ELSE
  IF @nr_conhecimento <> ''
    SET @cd_tipo_dcto_carga = '10'

  SET @cd_tipo_manifesto = '1'
END

IF @cd_via_transp_carg = '04' --Aéreo
BEGIN
  IF @nr_conhecimento_master <> ''
    SET @cd_tipo_dcto_carga = '03'
  ELSE
  IF @nr_conhecimento <> ''
    SET @cd_tipo_dcto_carga  = '01'

  SET @cd_tipo_manifesto = '2'
END

IF @cd_via_transp_carg = '07' --Rodoviário
BEGIN
  SET @cd_tipo_dcto_carga = '13'
  SET @cd_tipo_manifesto = '1'

  UPDATE TDECLARACAO_IMPORTACAO
  SET    NR_VEICULO_TRANSP = P.NR_PLACA_VEICULO,
         CD_URF_ENTR_CARGA = A.CD_URF
  FROM   TPROCESSO P, TDECLARACAO_IMPORTACAO D, TARMAZEM A
  WHERE  P.NR_PROCESSO           = D.NR_PROCESSO
    AND  P.CD_ARMAZEM_ATRACACAO *= A.CD_ARMAZEM 
    AND  P.NR_PROCESSO           = @nr_processo
END

IF @cd_via_transp_carg IN ( '01', '02', '03' ) --Marítimo, Fluvial, Lacustre
BEGIN
  UPDATE TDECLARACAO_IMPORTACAO
  SET    CD_VEICULO_TRANSP  = P.CD_EMBARCACAO,
         CD_BANDEIRA_TRANSP = T.CD_PAIS
  FROM   TPROCESSO P, TDECLARACAO_IMPORTACAO D, TTRANSPORTADOR_ITL T
  WHERE  P.NR_PROCESSO       = D.NR_PROCESSO 
    AND  P.CD_TRANSPORTADOR *= T.CODIGO 
    AND  P.NR_PROCESSO       = @nr_processo
END

UPDATE TDECLARACAO_IMPORTACAO
SET
  CD_PAIS_PROC_CARGA = CD_PAIS_ORIGEM,
  CD_LOCAL_EMBARQUE  = CASE @cd_via_transp_carg 
                         WHEN '01' THEN P.CD_LOCAL_EMBARQUE
                         WHEN '04' THEN P.CD_LOCAL_EMBARQUE
                         ELSE ''
                       END,
  CD_TRANSPORTADOR   = CASE @cd_via_transp_carg 
                         WHEN '01' THEN P.CD_TRANSPORTADOR
                         ELSE ''
                       END,
  NR_MANIFESTO       = P.NR_MANIFESTO,
  CD_MOEDA_FRETE     = P.CD_MOEDA_FRETE,
  VL_TOT_FRT_COLLECT = P.VL_FRETE_COLLECT_MNEG,
  VL_TOT_FRT_PREPAID = P.VL_FRETE_PREPAID_MNEG,
  VL_FRETE_TNAC_MNEG = P.VL_FRETE_TNAC_MNEG,
  NR_DCTO_CARGA_MAST = @nr_conhecimento_master,
  NR_DCTO_CARGA      = @nr_conhecimento,
  CD_TIPO_DCTO_CARGA = @cd_tipo_dcto_carga,
  CD_TIPO_MANIFESTO  = @cd_tipo_manifesto,
  DT_CHEGADA_CARGA   = SUBSTRING( @dt_chegada, 1, 2 ) +
                       SUBSTRING( @dt_chegada, 4, 2 ) +
                       SUBSTRING( @dt_chegada, 7, 4 ),
  DT_EMBARQUE        = SUBSTRING( @dt_embarque, 1, 2 ) +
                       SUBSTRING( @dt_embarque, 4, 2 ) +
                       SUBSTRING( @dt_embarque, 7, 4 ),
  NM_VEICULO_TRANSP  = E.NM_EMBARCACAO,
  CD_TIPO_IMPORTADOR = N.CD_TIPO_PESSOA,
  IN_EMBUT_FRT_ITENS = CASE
                         WHEN ROUND( ISNULL( P.VL_FRETE_PREPAID_MNEG, 0 ), 2 ) > 0 THEN 1
                         ELSE 0
                       END
FROM   TPROCESSO P, TDECLARACAO_IMPORTACAO D, TEMBARCACAO E, TEMPRESA_NAC N
WHERE  P.NR_PROCESSO    = D.NR_PROCESSO
  AND  P.CD_EMBARCACAO *= E.CD_EMBARCACAO 
  AND  P.CD_CLIENTE    *= N.CD_EMPRESA 
  AND  P.NR_PROCESSO    = @nr_processo

EXEC sp_di_ret_embalagem @nr_processo
/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
