USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_inclui_login] (@usuario varchar(20), @senha varchar(8)) AS
BEGIN
    --by Carlos (17/10/2011) 
    SET ANSI_PADDING ON
    SET ANSI_WARNINGS ON
    SET CONCAT_NULL_YIELDS_NULL ON

    /*
    DECLARE @usuario VARCHAR(20)
    DECLARE @senha VARCHAR(8)
    
    SET @usuario = 'mf2'
    SET @senha   = '!@#$%&'
    
    EXEC sp_droplogin @usuario
    --*/
    
    DECLARE @comando varchar(8000)

    IF ( SELECT COUNT(*) 
         FROM   master..syslogins 
         WHERE NAME = @usuario ) = 0
    BEGIN
        EXEC sp_addlogin @usuario, @senha, @defdb = 'BROKER'
        SELECT @comando = 'USE BROKER EXEC sp_grantdbaccess [' + @usuario + ']'
        EXEC (@comando)
        EXEC sp_addrolemember 'db_owner', @usuario
        EXEC sp_addsrvrolemember @usuario, 'securityadmin'


        --definir os outros bancos defaults -  by Carlos (17/10/2011)         
        EXEC master.sys.SP_ADDUSER @usuario
        EXEC master.sys.sp_addrolemember 'db_owner', @usuario
        
        EXEC MYINDAIA.sys.SP_ADDUSER @usuario
        EXEC MYINDAIA.sys.sp_addrolemember 'db_owner', @usuario

        EXEC MYCUBE.sys.SP_ADDUSER @usuario
        EXEC MYCUBE.sys.sp_addrolemember 'db_owner', @usuario

        EXEC MYINTTRA.sys.SP_ADDUSER @usuario
        EXEC MYINTTRA.sys.sp_addrolemember 'db_owner', @usuario

        EXEC MYLOGIN.sys.SP_ADDUSER @usuario
        EXEC MYLOGIN.sys.sp_addrolemember 'db_owner', @usuario

        EXEC MYMONEY.sys.SP_ADDUSER @usuario
        EXEC MYMONEY.sys.sp_addrolemember 'db_owner', @usuario

        EXEC suporte.sys.SP_ADDUSER @usuario
        EXEC suporte.sys.sp_addrolemember 'db_owner', @usuario

        EXEC tempdb.sys.SP_ADDUSER @usuario
        EXEC tempdb.sys.sp_addrolemember 'db_owner', @usuario


        --SELECT @comando = "USE ENTREPOSTO EXEC sp_grantdbaccess " + @usuario
        --EXEC (@comando)


        RETURN (0)
        PRINT '0'
    END
    ELSE
    BEGIN
        RETURN (1)
        PRINT '1'
    END
END

/*
select * 
FROM TUSUARIO 
WHERE AP_USUARIO = 'tmpcarlos'

 
 EXEC sp_droplogin 'tmpcarlos'
 exec sp_dropuser 'tmpcarlos'

 use master
 exec sp_dropuser 'tmpcarlos'
 use myindaia
 exec sp_dropuser 'tmpcarlos'
 use mycube
 exec sp_dropuser 'tmpcarlos'
 use myinttra
 exec sp_dropuser 'tmpcarlos'
 use mylogin
 exec sp_dropuser 'tmpcarlos'
 use mymoney
 exec sp_dropuser 'tmpcarlos'
 use suporte
 exec sp_dropuser 'tmpcarlos'
 use tempdb
 exec sp_dropuser 'tmpcarlos'

 use broker 
  

delete 
FROM TUSUARIO 
WHERE AP_USUARIO = 'tmpcarlos'

*/


GO
