USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_gera_solic_ch_sm    Script Date: 02/09/1999 08:59:01 AM ******/
CREATE PROCEDURE [sp_gera_solic_ch_sm] ( @dt_solic_ch char(10), @nr_solic_ch char(3), @cd_cliente char(5), 
                                       @cd_unid_neg char(2), @cd_produto char(2) ) AS
DECLARE @cd_banco  char(3)
DECLARE @dt_recebimento  datetime
DECLARE @cd_item    char(3)
DECLARE @vl_recebimento  float
DECLARE @nr_lancamento  char(3)
DECLARE @nr_processo  char(18)
DECLARE @cd_fornecedor  char(5)
SELECT @dt_recebimento   = CONVERT( datetime, @dt_solic_ch, 103)
SELECT @cd_item = CD_ITEM_RECEB_NUM
FROM   TPARAMETROS (TABLOCK HOLDLOCK)
IF @@rowcount > 0
BEGIN
  SELECT @cd_banco      = CD_BANCO,
         @cd_fornecedor = CD_FAVORECIDO
  FROM   TSOLIC_CHEQUE (TABLOCK HOLDLOCK)
  WHERE  DT_SOLIC_CH    = @dt_solic_ch AND
         NR_SOLIC_CH    = @nr_solic_ch
  SELECT @nr_lancamento = MAX( NR_LANCAMENTO )
  FROM   TSOLIC_CHEQUE_ITENS (TABLOCK HOLDLOCK)
  WHERE  DT_SOLIC_CH    = @dt_solic_ch AND
         NR_SOLIC_CH    = @nr_solic_ch
 
  IF @nr_lancamento = NULL
  BEGIN
    DECLARE c_receb CURSOR FOR
      SELECT P.NR_PROCESSO, SUM( RI.VL_RECEBIDO ) VL_TOT_RECEB
      FROM   TRECEBIMENTO R (TABLOCK HOLDLOCK),
             TRECEBIMENTO_ITEM_RECEB RI (TABLOCK HOLDLOCK),
             TPROCESSO P (TABLOCK HOLDLOCK),
             TEMPRESA_NAC E (TABLOCK HOLDLOCK)
      WHERE  R.NR_PROCESSO    = RI.NR_PROCESSO AND
             R.NR_RECEBIMENTO = RI.NR_RECEBIMENTO AND
             R.NR_PROCESSO    = P.NR_PROCESSO AND
             P.CD_CLIENTE     = E.CD_EMPRESA AND
             R.IN_FAV_SM      = '1' AND
             R.CD_BANCO       = @cd_banco AND
             R.DT_RECEBIMENTO = @dt_recebimento AND
             R.IN_CANCELADO   = '0' AND
             P.CD_UNID_NEG    = @cd_unid_neg AND
             P.CD_PRODUTO     = @cd_produto AND
             P.CD_CLIENTE     = @cd_cliente
        GROUP BY P.NR_PROCESSO
    OPEN c_receb
    FETCH c_receb INTO @nr_processo, @vl_recebimento
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ISNULL ( ( CONVERT( int, @nr_lancamento) + 1 ), 1 ) ), 3 )
      INSERT TSOLIC_CHEQUE_ITENS 
      VALUES ( @dt_solic_ch, @nr_solic_ch, @nr_lancamento, @nr_processo, @cd_item,
               @vl_recebimento, 0, 0, '0', NULL, @cd_cliente, '0', @cd_fornecedor, '0')
      EXEC sp_proc_itens_solic_ch @dt_solic_ch, @nr_solic_ch, @nr_lancamento, '+'
      FETCH c_receb INTO @nr_processo, @vl_recebimento
    END
    CLOSE c_receb
    DEALLOCATE c_receb
    UPDATE TRECEBIMENTO
    SET    DT_SOLIC_CH      = @dt_solic_ch,
           NR_SOLIC_CH      = @nr_solic_ch
    FROM   TRECEBIMENTO R,
           TPROCESSO P
    WHERE  R.NR_PROCESSO    = P.NR_PROCESSO AND
           R.IN_FAV_SM      = '1' AND
           R.CD_BANCO       = @cd_banco AND
           R.DT_RECEBIMENTO = @dt_recebimento AND
           R.IN_CANCELADO   = '0' AND
           P.CD_UNID_NEG    = @cd_unid_neg AND
           P.CD_PRODUTO     = @cd_produto AND
           P.CD_CLIENTE     = @cd_cliente
  END
  ELSE
  BEGIN
    RETURN(1)
  END
END
ELSE
BEGIN
  RETURN(2)
END



GO
