USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_calc_status_cntr] ( @nr_processo char(18), @nr_cntr char(20), @cd_status char(2) OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_cntr     char(20)
DECLARE @cd_status   char(2)

SELECT @nr_processo = '0101DD-0001-02'
SELECT @nr_cntr = 'ASDD6524321'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

RETURN 0


GO
