USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_cria_rotina] @cd_rotina char(4), @nm_rotina varchar(50) AS 

SET XACT_ABORT ON
BEGIN TRAN

IF NOT EXISTS( SELECT *
               FROM   TMODULO_ROTINA
               WHERE  CD_ROTINA = @cd_rotina )
BEGIN
  INSERT TMODULO_ROTINA( CD_MODULO, CD_ROTINA, NM_ROTINA )
  VALUES( SUBSTRING( @cd_rotina, 1, 2 ), @cd_rotina, @nm_rotina )

  EXEC sp_atz_controle_acesso

  UPDATE TCONTROLE_ACESSO
  SET    IN_ACESSO = '1', 
         IN_INCLUIR = '1',
         IN_MODIFICAR = '1',
         IN_EXCLUIR = '1'
  WHERE  CD_CARGO = '001' AND
         CD_ROTINA = @cd_rotina

END

COMMIT TRAN
SET XACT_ABORT OFF


GO
