USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_da_calculo]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18) 
SELECT @nr_processo = '0101DD-0001-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_incoterm         char(3)
DECLARE @cd_moeda_mle        char(3)
DECLARE @cd_moeda_frete      char(3)
DECLARE @cd_moeda_seguro     char(3)  
DECLARE @cd_mercadoria       varchar(30)
DECLARE @cd_tipo_base_seguro char(1)
DECLARE @in_embut_frt_itens  char(1)
DECLARE @in_embut_seg_itens  char(1)
DECLARE @nr_da               char(10)
DECLARE @nr_ref              varchar(15) 
DECLARE @tx_mle              numeric(14, 7)
DECLARE @tx_frete            numeric(14, 7)
DECLARE @tx_seguro           numeric(14, 7)
DECLARE @tx_dolar            numeric(14, 7)
DECLARE @vl_mle_mneg         numeric(16, 2)
DECLARE @vl_mld_mneg         numeric(16, 2)
DECLARE @vl_mle_dolar        numeric(16, 2)
DECLARE @vl_mld_dolar        numeric(16, 2)
DECLARE @vl_frete_mneg       numeric(16, 2)
DECLARE @vl_soma_frete       numeric(16, 2)
DECLARE @vl_total_frete      numeric(16, 2)
DECLARE @vl_seguro_mneg      numeric(16, 2)
DECLARE @vl_soma_seguro      numeric(16, 2)
DECLARE @vl_total_seguro     numeric(16, 2)
DECLARE @vl_unitario         numeric(19, 7)
DECLARE @pl_ref              numeric(19, 5)
DECLARE @pl_da               numeric(19, 5)
DECLARE @pc_seguro_mle       numeric(16, 4)
DECLARE @nr_tot_ref          int
DECLARE @nr_ref_atual        int

SELECT @tx_mle    = 0
SELECT @tx_frete  = 0
SELECT @tx_seguro = 0
SELECT @tx_dolar  = 0

SELECT @pl_da = SUM( ISNULL( PL_REF, 0 ) )
FROM   TDA_REF 
WHERE  NR_PROCESSO = @nr_processo

-- Traz os valores para variáveis de trabalho
EXEC sp_da_atz_taxa_cambio @nr_processo

SELECT @cd_incoterm = ISNULL( CD_INCOTERM, '' ),
       @vl_total_frete = ISNULL( VL_FRETE_MNEG, 0 ),
       @cd_moeda_frete = CD_MOEDA_FRETE,
       @tx_frete = ISNULL( TX_FRETE, 0 )
FROM   TDA ( PAGLOCK HOLDLOCK )
WHERE  NR_PROCESSO = @nr_processo

SELECT @nr_tot_ref = COUNT(*)
FROM   TDA_REF ( PAGLOCK HOLDLOCK )
WHERE  NR_PROCESSO = @nr_processo

SELECT @nr_ref_atual = 1

SELECT @vl_soma_frete   = 0

DECLARE c_da CURSOR FOR
  SELECT NR_REF, CD_MERCADORIA
  FROM   TDA_REF ( PAGLOCK HOLDLOCK )
  WHERE  NR_PROCESSO = @nr_processo

OPEN c_da
FETCH c_da INTO @nr_ref, @cd_mercadoria
WHILE @@fetch_status = 0
BEGIN
  SELECT @cd_moeda_mle       = CD_MOEDA_MLE,
         @tx_mle             = ISNULL( TX_MLE, 0 ),
         @tx_dolar           = ISNULL( TX_DOLAR, 0 ),
         @vl_unitario        = ISNULL( VL_UNITARIO, 0 ),
         @pl_ref             = ISNULL( PL_REF, 0 ),
         @in_embut_frt_itens = IN_EMBUT_FRT_ITENS
  FROM   TDA_REF ( PAGLOCK HOLDLOCK )
  WHERE  NR_PROCESSO   = @nr_processo AND
         NR_REF        = @nr_ref AND
         CD_MERCADORIA = @cd_mercadoria

  -- Rateio do Frete
  IF @nr_tot_ref = @nr_ref_atual
  BEGIN
    SELECT @vl_frete_mneg = @vl_total_frete - @vl_soma_frete 
  END
  ELSE
  BEGIN
    IF @pl_ref > 0       SELECT @vl_frete_mneg = ROUND( ( @vl_total_frete * @pl_ref / @pl_da ), 2 )
    ELSE 
       SELECT @vl_frete_mneg = 0
  END

  SELECT @vl_soma_frete = @vl_soma_frete + @vl_frete_mneg

  SELECT @vl_mle_mneg = ROUND( ( @vl_unitario * @pl_ref ), 2 )
  SELECT @vl_mld_mneg = @vl_mle_mneg 

  IF @in_embut_frt_itens = '1'
  BEGIN
    IF @cd_moeda_mle <> @cd_moeda_frete
      SELECT @vl_mle_mneg = ROUND( @vl_mle_mneg - ( ( @vl_frete_mneg * @tx_frete ) / @tx_mle ), 2 )
    ELSE
      SELECT @vl_mle_mneg = ROUND( @vl_mle_mneg - @vl_frete_mneg, 2 )
  END

  IF @cd_incoterm NOT IN ( 'EXW', 'FOB' )
  BEGIN
    IF @cd_moeda_mle <> @cd_moeda_frete
      SELECT @vl_mld_mneg = @vl_mld_mneg + ( ( @vl_frete_mneg * @tx_frete ) / @tx_mle )
    ELSE
      SELECT @vl_mld_mneg = @vl_mld_mneg + @vl_frete_mneg
  END

  IF @in_embut_frt_itens = '1'
  BEGIN
    IF @cd_moeda_mle <> @cd_moeda_frete
      SELECT @vl_mld_mneg = @vl_mld_mneg - ( ( @vl_frete_mneg * @tx_frete ) / @tx_mle )
    ELSE
      SELECT @vl_mld_mneg = @vl_mld_mneg - @vl_frete_mneg
  END

  IF @cd_moeda_mle = '220'
  BEGIN
    SELECT @vl_mle_dolar = @vl_mle_mneg
    SELECT @vl_mld_dolar = @vl_mld_mneg
  END
  ELSE
  BEGIN
    SELECT @vl_mle_dolar = ROUND( ( ROUND( @vl_mle_mneg * @tx_mle, 2 ) / @tx_dolar ), 7 )
    SELECT @vl_mld_dolar = ROUND( ( ROUND( @vl_mld_mneg * @tx_mle, 2 ) / @tx_dolar ), 7 )
  END

  UPDATE TDA_REF
  SET    VL_MLE_MNEG    = @vl_mle_mneg,
         VL_MLD_MNEG    = @vl_mld_mneg,
         VL_MLE_DOLAR   = @vl_mle_dolar,
         VL_MLD_DOLAR   = @vl_mld_dolar,
         VL_FRETE_MNEG  = @vl_frete_mneg
  WHERE  CURRENT OF c_da

  SELECT @nr_ref_atual = @nr_ref_atual + 1

  FETCH c_da INTO @nr_ref, @cd_mercadoria
END

CLOSE c_da
DEALLOCATE c_da

SELECT @vl_mle_mneg   = SUM( ISNULL( VL_MLE_MNEG, 0 ) ),
       @vl_mld_mneg   = SUM( ISNULL( VL_MLD_MNEG, 0 ) ),
       @vl_mle_dolar  = SUM( ISNULL( VL_MLE_DOLAR, 0 ) ),
       @vl_mld_dolar  = SUM( ISNULL( VL_MLD_DOLAR, 0 ) )
FROM   TDA_REF 
WHERE  NR_PROCESSO = @nr_processo

UPDATE TDA
SET    VL_MLE_MNEG  = @vl_mle_mneg,
       VL_MLD_MNEG  = @vl_mld_mneg,
       VL_MLE_DOLAR = @vl_mle_dolar,
       VL_MLD_DOLAR = @vl_mld_dolar
WHERE  NR_PROCESSO  = @nr_processo

-- Cálculo do Seguro
DECLARE @nBase_Calc float
DECLARE @n1 float
DECLARE @n2 float
DECLARE @n3 float
DECLARE @n4 float

SELECT @nr_da = ISNULL( NR_DA, '' ),
       @cd_tipo_base_seguro = CD_TIPO_BASE_SEGURO,
       @cd_moeda_mle = CD_MOEDA_MLE,
       @cd_moeda_frete = CD_MOEDA_FRETE,
       @cd_moeda_seguro = CD_MOEDA_SEGURO,
       @in_embut_frt_itens = IN_EMBUT_FRT_ITENS,
       @in_embut_seg_itens = IN_EMBUT_SEG_ITENS,
       @pc_seguro_mle = ISNULL( PC_SEGURO_MLE, 0 ),
       @tx_mle = ISNULL( TX_MLE, 0 ),
       @tx_frete = ISNULL( TX_FRETE, 0 ),
       @tx_seguro = ISNULL( TX_SEGURO, 0 ),
       @tx_dolar = ISNULL( TX_DOLAR, 0 ),
       @vl_frete_mneg = ISNULL( VL_FRETE_MNEG, 0 )
FROM   TDA ( PAGLOCK HOLDLOCK )
WHERE  NR_PROCESSO = @nr_processo

IF @pc_seguro_mle > 0
BEGIN
  IF @nr_da = ''
  BEGIN
    IF @cd_moeda_seguro = ''
      SELECT @cd_moeda_seguro = @cd_moeda_mle

    IF @cd_moeda_seguro = ''
      SELECT @cd_moeda_seguro = '220'
  END

  IF @cd_tipo_base_seguro = '1'
  BEGIN
    IF ( @in_embut_frt_itens = '1' ) AND
       ( @vl_frete_mneg > 0 ) AND
       ( @tx_mle > 0 )
    BEGIN
      IF ( @tx_frete > 0 ) AND ( @tx_mle > 0 )
      BEGIN
        SELECT @n1 = @vl_mld_mneg
        SELECT @n2 = ( @vl_frete_mneg * @tx_frete ) / @tx_mle
        SELECT @n3 = ( @n1 - @n2 ) * @tx_mle
        SELECT @n4 = ( @n3 / @tx_seguro ) * ( @pc_seguro_mle / 100 )
        SELECT @vl_seguro_mneg = ROUND( @n4 , 2 )
      END
      ELSE
         SELECT @vl_seguro_mneg = 0
    END
    ELSE
    BEGIN
      IF ( @tx_seguro > 0 ) AND ( @tx_mle > 0 )
      BEGIN
        SELECT @n1 = @vl_mld_mneg * @tx_mle
        SELECT @n2 = ( @n1 / @tx_seguro ) * ( @pc_seguro_mle / 100 )
        SELECT @vl_seguro_mneg = ROUND( @n2, 2 )
      END
      ELSE
         SELECT @vl_seguro_mneg = 0
    END
  END
  ELSE
  BEGIN
    IF ( @cd_moeda_mle = @cd_moeda_frete ) AND
       ( @cd_moeda_mle <> '' ) AND
       ( @cd_moeda_seguro = @cd_moeda_mle )
    BEGIN
      IF @cd_moeda_seguro = ''
         SELECT @cd_moeda_seguro = @cd_moeda_mle
      IF ( @in_embut_frt_itens = '1' ) AND
         ( @vl_frete_mneg > 0 ) AND
         ( @tx_mle > 0 )
        SELECT @vl_seguro_mneg = ROUND( ( @vl_mld_mneg * ( @pc_seguro_mle / 100 ) ), 2 )
      ELSE
        SELECT @vl_seguro_mneg = ROUND( ( ( @vl_mld_mneg + @vl_frete_mneg ) * ( @pc_seguro_mle / 100 ) ), 2 )
    END
    ELSE
    BEGIN
      IF @cd_moeda_seguro = '' SELECT @cd_moeda_seguro = '220'
      -- Somar o MLE + Frete em Real 
      IF @in_embut_frt_itens = '1'
         SELECT @nBase_Calc = ( @vl_mld_mneg * @tx_mle )
      ELSE
         SELECT @nBase_Calc = ( ( @vl_mld_mneg * @tx_mle ) + ( @vl_frete_mneg * @tx_frete ) )
      IF @tx_seguro > 0
        SELECT @nBase_calc = ROUND( ( @nBase_Calc / @tx_seguro ), 2 )
      ELSE 
        SELECT @nBase_calc = 0
      SELECT @nBase_Calc = ( @nBase_Calc * @pc_seguro_mle ) / 100
      SELECT @vl_seguro_mneg = ROUND( @nBase_Calc, 2 )
    END
  END
END

UPDATE TDA
SET    VL_SEGURO_MNEG = @vl_seguro_mneg
WHERE  NR_PROCESSO = @nr_processo

-- Fim Cálculo Seguro

SELECT @vl_total_seguro = ISNULL( @vl_seguro_mneg, 0 )

-- Rateio do Seguro
SELECT @vl_soma_seguro  = 0

DECLARE c_da CURSOR FOR
  SELECT NR_REF, CD_MERCADORIA
  FROM   TDA_REF ( PAGLOCK HOLDLOCK )
  WHERE  NR_PROCESSO = @nr_processo

OPEN c_da
FETCH c_da INTO @nr_ref, @cd_mercadoria
WHILE @@fetch_status = 0
BEGIN
  SELECT @in_embut_seg_itens = IN_EMBUT_SEG_ITENS
  FROM   TDA_REF ( PAGLOCK HOLDLOCK )
  WHERE  NR_PROCESSO   = @nr_processo AND
         NR_REF        = @nr_ref AND
         CD_MERCADORIA = @cd_mercadoria

  -- Rateio do Seguro
  IF @nr_tot_ref = @nr_ref_atual
     SELECT @vl_seguro_mneg = @vl_total_seguro - @vl_soma_seguro
  ELSE
     IF @pl_ref > 0        SELECT @vl_seguro_mneg = ROUND( ( @vl_total_seguro * @pl_ref / @pl_da ), 2 )
     ELSE 
        SELECT @vl_seguro_mneg = 0

  SELECT @vl_soma_seguro = @vl_soma_seguro + @vl_seguro_mneg

  UPDATE TDA_REF
  SET    VL_SEGURO_MNEG = @vl_seguro_mneg
  WHERE  CURRENT OF c_da

  SELECT @nr_ref_atual = @nr_ref_atual + 1

  FETCH c_da INTO @nr_ref, @cd_mercadoria
END
-- Fim Rateio do Seguro

CLOSE c_da
DEALLOCATE c_da

EXEC sp_atz_ent_processo @nr_processo

-- Atualiza Saldos Pro Forma DA
UPDATE TDA_LOTE
SET    QT_LOTE = QT_LOTE
WHERE  NR_PROCESSO = @nr_processo

-- Atualiza Saldos D.A.
EXEC sp_atz_da_lote @nr_processo, 'X'

-- Valor MLD do lote
UPDATE L
SET    VL_MLD_DOLAR = CASE R.CD_MOEDA_MLE
                        WHEN '220' THEN ROUND( R.VL_UNITARIO * ( L.PL_DISPONIVEL + L.PL_AVARIA - L.PL_AVARIA_LIB ), 2 )
                        ELSE ROUND( ( ( ( R.VL_UNITARIO * ( L.PL_DISPONIVEL + L.PL_AVARIA - L.PL_AVARIA_LIB ) ) * TX_MLE ) / TX_DOLAR ), 2 )
                      END
FROM   TDA_REF R, TDA_LOTE L
WHERE  L.NR_PROCESSO = @nr_processo AND
       R.CD_MERCADORIA = L.CD_MERCADORIA AND
       R.NR_PROCESSO = L.NR_PROCESSO AND
       R.NR_REF = L.NR_REF       

RETURN 0



GO
