USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [sp_rel_dem_gerencial] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                        @cd_embarcacao char(4), @cd_area char(2), @dt_inicio datetime, @dt_fim datetime,
                                        @nr_identificador int OUTPUT ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_produto       char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_embarcacao    char(4)
DECLARE @cd_area          char(2)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg   = '01'
SELECT @cd_produto    = '01'
SELECT @cd_grupo      = '002'
SELECT @cd_cliente    = 'X'
SELECT @cd_embarcacao = 'X'
SELECT @cd_area       = 'X'
SELECT @dt_inicio     = CONVERT( datetime, '01/01/2003', 103 )
SELECT @dt_fim        = CONVERT( datetime, '31/01/2003', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_atual         datetime
DECLARE @nr_processo      char(18)
DECLARE @nr_cntr          char(20)
DECLARE @nr_dias_corridos int
DECLARE @nr_dias_cobrar   int
DECLARE @vl_pagto         float

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_DEM_GERENCIAL

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT @dt_atual         = CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )

INSERT TREL_DEM_GERENCIAL( NR_IDENTIFICADOR, NR_PROCESSO, NR_CNTR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_AREA,
                           TX_MERCADORIA, NR_FREE_TIME, DT_ENT, DT_DEVOLUCAO_CNTR, CD_TRANSP_MAR, CD_EMBARCACAO,
                           NM_MERCADORIA )
  SELECT @nr_identificador, C.NR_PROCESSO, C.NR_CNTR, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, 
         CASE @cd_area
           WHEN 'X' THEN P.CD_AREA
           ELSE @cd_area
         END AS CD_AREA,
         P.TX_MERCADORIA, C.NR_FREE_TIME, C.DT_ENT, C.DT_DEVOLUCAO_CNTR, P.CD_TRANSPORTADOR, P.CD_EMBARCACAO,
         SUBSTRING( P.TX_MERCADORIA, 1, 250 )
  FROM   TPROCESSO_CNTR C, TPROCESSO P, TEMPRESA_NAC E
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.IN_CANCELADO = '0' AND
         P.IN_LIBERADO = '1' AND
         P.IN_PRODUCAO = '1' AND
         C.IN_DEMURRAGE = '1' AND
         ( ( C.DT_DEVOLUCAO_CNTR > DT_DEMURRAGE ) OR 
           ( ( C.DT_DEVOLUCAO_CNTR IS NULL ) AND ( @dt_atual > C.DT_DEMURRAGE ) ) ) AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO  = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( P.CD_EMBARCACAO = @cd_embarcacao ) OR ( @cd_embarcacao = 'X' ) ) AND
         ( ( @cd_area IN ( SELECT R.CD_AREA
                           FROM   TREF_CLIENTE R
                           WHERE  R.NR_PROCESSO = P.NR_PROCESSO ) ) OR ( @cd_area = 'X' ) ) AND
         DT_ENT BETWEEN @dt_inicio AND @dt_fim
  ORDER BY C.NR_PROCESSO, c.nr_cntr

DECLARE c_rel_dem_gerencial CURSOR FOR
  SELECT NR_PROCESSO, NR_CNTR
  FROM   TREL_DEM_GERENCIAL
  WHERE  NR_IDENTIFICADOR = @nr_identificador

OPEN c_rel_dem_gerencial
FETCH c_rel_dem_gerencial INTO @nr_processo, @nr_cntr
WHILE @@fetch_status = 0
BEGIN
  EXEC sp_calc_dias_cntr @nr_processo, @nr_cntr, @nr_dias_corridos OUTPUT, @nr_dias_cobrar OUTPUT

  SELECT @vl_pagto = 0

  SELECT @vl_pagto = ROUND( SUM( ISNULL( C.VL_TOTAL, 0 ) ), 2 )
  FROM   TDEM_FAT_CNTR C, TDEM_FAT F
  WHERE  C.CD_UNID_NEG = F.CD_UNID_NEG AND
         C.NR_FATURA = F.NR_FATURA AND
         F.DT_PAGTO <> 0 AND
         F.DT_PAGTO IS NOT NULL AND
         C.NR_PROCESSO = @nr_processo AND
         C.NR_CNTR = @nr_cntr

  UPDATE TREL_DEM_GERENCIAL
  SET    NR_DIAS_CORRIDOS = @nr_dias_corridos,
         VL_PAGTO = @vl_pagto
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo AND
         NR_CNTR = @nr_cntr

  FETCH c_rel_dem_gerencial INTO @nr_processo, @nr_cntr
END
CLOSE c_rel_dem_gerencial
DEALLOCATE c_rel_dem_gerencial






GO
