USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ATUALIZA_DASHBOARD](@NR_PROCESSO CHAR(18)) AS
BEGIN
    RETURN
    BEGIN TRY
        /*
        DECLARE @NR_PROCESSO CHAR(18)
        SET @NR_PROCESSO = '0102EM-0110-10'
        --*/
        PRINT 'EXECUTANDO SP_ATUALIZA_DASHBOARD'
        DECLARE @DATABASE    VARCHAR(30)
        DECLARE @SQL         VARCHAR(8000)
        
        SELECT @DATABASE = 'DASHBOARD_' + CASE CD_PRODUTO
                                              WHEN '01' THEN 'IMP_'
                                              WHEN '02' THEN 'EXP_'
                                          ELSE ''
                                          END + CD_GRUPO
        FROM TPROCESSO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO
        
        PRINT @DATABASE
        PRINT @NR_PROCESSO
        
        -- Só rodar o Script se o DataBase existir para não gerar erro
        IF (SELECT COUNT(*)
            FROM SYS.DATABASES
            WHERE NAME = @DATABASE) > 0
        BEGIN
            SET @SQL = 'USE ' + @DATABASE + '
                        EXEC SP_ATUALIZA_FOLLOWUP ''' + @NR_PROCESSO + ''''
            EXEC(@SQL)
        END
        ELSE
            PRINT 'O DataBase ''' + @DATABASE + ''' não existe'
    END TRY
    BEGIN CATCH
        --DECLARE @COMANDOSHELL VARCHAR(1000)
	    --SET @COMANDOSHELL = 'C:\MySendMail.exe ' + '"ti@myindaia.com.br;michel.marques@myindaia.com.br,vitor.zanin@myindaia.com.br;' +
	    --    'Erro executando ' + ERROR_PROCEDURE() + ' em ' + CONVERT(VARCHAR, GETDATE(), 103) + ' as ' + CONVERT(VARCHAR, GETDATE(), 108) + ' com a mensagem (' + ERROR_MESSAGE() + ');' + 
		--    'Erro executando ' + ERROR_PROCEDURE() + '"'
	    --EXEC xp_cmdshell @COMANDOSHELL
	    DECLARE @ASSUNTO VARCHAR(200)
	    DECLARE @MSG     VARCHAR(1000)
	    SET @ASSUNTO = 'Erro executando ' + ERROR_PROCEDURE() + ' em ' + CONVERT(VARCHAR, GETDATE(), 103) + ' as ' + CONVERT(VARCHAR, GETDATE(), 108) + ' com a mensagem (' + ERROR_MESSAGE() + ')'
	    SET @MSG     = 'Erro executando ' + ERROR_PROCEDURE()
	    --EXEC DBO.SP_ENVIA_EMAIL 'ti@myindaia.com.br', 'michel.marques@myindaia.com.br,vitor.zanin@myindaia.com.br', @ASSUNTO, @MSG

        PRINT @ASSUNTO

        BEGIN TRY
            EXEC BROKER.DBO.SP_GRAVA_ERRO 'BROKER'
        END TRY
        BEGIN CATCH
            PRINT 'Não faz nada, mantem como era antes'
        END CATCH
    END CATCH
END
GO
