USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_cancela_distr_sda] ( @cd_unidade char(2), @cd_produto char(2)/*, @cd_usuario char(4) */) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unidade char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_usuario char(4)

SELECT @cd_unidade = '01'
SELECT @cd_produto = '01'
SELECT @cd_usuario = '0053'
*/

DECLARE @nr_processo        char(18)
DECLARE @cd_despachante_sda char(3)
DECLARE @dt_distribuicao    datetime
DECLARE @base_calculo_sda   numeric(14,2)
DECLARE @vl_sda             numeric(14,2)
DECLARE @vl_contr_assist    numeric(14,2)
DECLARE @vl_compl_sda       numeric(14,2)

DECLARE c_processo CURSOR FOR
 SELECT NR_PROCESSO, CD_DESPACHANTE_SDA, DT_DISTRIBUICAO, ROUND( ISNULL( BASE_CALCULO_SDA,0),2 ), ROUND( ISNULL( VL_SDA, 0 ), 2 ), 
        ROUND( ISNULL( VL_CONTR_ASSIST, 0 ), 2 ), ROUND( ISNULL( VL_COMPL_SDA, 0 ), 2 )
 FROM   TPROCESSO
 WHERE  CD_UNID_NEG    = @cd_unidade AND
        CD_PRODUTO     = @cd_produto AND 
        CD_STATUS_SDA  = '1' 
--AND        CD_EMISSOR_SDA = @cd_usuario

OPEN c_processo 
FETCH c_processo INTO @nr_processo, @cd_despachante_sda, @dt_distribuicao, @base_calculo_sda, @vl_sda, @vl_contr_assist, @vl_compl_sda
WHILE @@fetch_status = 0
BEGIN

  IF @cd_despachante_sda <> ''
  BEGIN
    UPDATE TUNID_PROD_DESPACH
    SET    VL_SDA_MES = ROUND( (ISNULL( VL_SDA_MES, 0) - ISNULL(@vl_sda, 0 )), 2 )
    WHERE  ( CD_UNID_NEG    = @cd_unidade ) AND 
           ( CD_PRODUTO     = @cd_produto ) AND 
           ( CD_DESPACHANTE = @cd_despachante_sda )
     
    UPDATE TPROCESSO  
    SET    CD_DESPACHANTE_SDA = NULL,
           DT_DISTRIBUICAO    = NULL,
           BASE_CALCULO_SDA   = 0,
           VL_SDA             = 0,
           VL_CONTR_ASSIST    = 0,
           VL_COMPL_SDA       = 0,
           CD_STATUS_SDA      = '0'
    WHERE CURRENT OF c_processo
  END

  FETCH c_processo INTO @nr_processo, @cd_despachante_sda, @dt_distribuicao, @base_calculo_sda, @vl_sda, @vl_contr_assist, @vl_compl_sda
END

CLOSE c_processo 
DEALLOCATE c_processo

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/


GO
