USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [sp_rel_controle_proc] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                  @cd_area char(2), @cd_via_transporte char(2), @cd_analista_comissaria char(4),
                                  @cd_contato char(3), @cd_pais char(3), @cd_transp char(4), @in_obs char(1), 
                                  @in_conclusor char(1), @dt_eta datetime, @dt_inicio datetime, @dt_fim datetime, 
                                  @nr_identificador int OUTPUT ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_via_transporte char(2)
DECLARE @cd_analista_comissaria char(4)
DECLARE @cd_area char(2)
DECLARE @cd_pais char(3)
DECLARE @cd_transp char(4)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @cd_contato char(3)
DECLARE @in_obs char(1)
DECLARE @in_conclusor char(1)
DECLARE @dt_eta datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_via_transporte = '01'
SELECT @cd_analista_comissaria = 'X'
SELECT @cd_pais = 'X'
SELECT @cd_transp = 'X'
SELECT @cd_area = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/04/2005', 103 )
SELECT @dt_fim = CONVERT( datetime, '30/04/2005', 103 )
SELECT @cd_contato = 'X'
SELECT @in_obs = '0'	-- Observação: 1 = True / 0 = False
SELECT @in_conclusor = '1'	-- 0 - Averbação   1 - Retirada BL     2 - Saque Bordero
SELECT @dt_eta = CONVERT( datetime, '01/04/2005', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/
-- Obs.: Via de Transporte Rodoviário, os campos de busca são <>

DECLARE @cd_ev_prev_embarque       char(3),
        @cd_ev_liberacao           char(3),
        @cd_ev_desemb              char(3),
        @cd_ev_embarque            char(3),
        @cd_ev_envio_saque_bordero char(3),
        @cd_ev_envio_doc_cli       char(3),
        @cd_ev_envio_doc           char(3),
        @cd_ev_averbacao           char(3),
        @cd_ev_bl                  char(3),
        @cd_ev_dd_imo	           char(3),
        @cd_ev_dd_dde              char(3),
        @cd_ev_dd_cc               char(3),
        @cd_ev_booking             char(3),
        @cd_ev_dd_draft            char(3),
        @cd_ev_dd_cc_1             char(3),
        @cd_ev_entrega_imo         char(3),
        @cd_ev_entrega_dde         char(3),
        @cd_ev_inspecao            char(3),
        @cd_ev_fumigacao           char(3),
        @cd_ev_entrega_mercad      char(3),
        @cd_ev_entrega_draft_bl    char(3),
        @cd_ev_carreg_fabrica      char(3),
        @cd_ev_cheg_fronteira      char(3),
        @cd_ev_cruze               char(3),
        @cd_ev_dt_consolidacao     char(3),    
	@evento			   char(3)		

-- Pega número do Identificador
SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_CONTROLE_EXP
SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

-- Coloca em variáveis os códigos dos eventos que serão utilizados
SELECT @cd_ev_prev_embarque       = CD_EV_PREV_EMBARQUE,		-- 131
       @cd_ev_liberacao           = CD_EV_LIBERACAO,			-- 122
       @cd_ev_desemb              = CD_EV_DESEMB,			-- 088
       @cd_ev_embarque            = CD_EV_EMBARQUE,			-- 132
       @cd_ev_envio_saque_bordero = CD_EV_ENVIO_SAQUE_BORDERO,		-- 181
       @cd_ev_envio_doc_cli       = CD_EV_ENVIO_DOC_CLI,		-- 140
       @cd_ev_averbacao           = CD_EV_AVERBACAO,			-- 141
       @cd_ev_envio_doc           = CD_EV_ENVIO_DOC,			-- 139 --
       @cd_ev_bl                  = CD_EV_CONHECIMENTO,			-- 135
       @cd_ev_dd_imo		  = CD_DEAD_LINE,			-- 130
       @cd_ev_dd_dde              = CD_EV_DEAD_LINE_DDE,		-- 272
       @cd_ev_booking             = CD_EV_CONF_BOOK,			-- 269
       @cd_ev_dd_draft		  = CD_EV_DEAD_DRAFT,			-- 270
       @cd_ev_dd_cc               = CD_EV_DEAD_LINE_CC,			-- 271
       @cd_ev_entrega_imo         = CD_EV_ENTREGA_IMO,                  -- 343
       @cd_ev_entrega_dde         = CD_EV_ENTREGA_DDE,                  -- 344
       @cd_ev_inspecao	          = CD_EV_INSPECAO,                     -- 337
       @cd_ev_fumigacao	          = CD_EV_FUMIGACAO,                    -- 318
       @cd_ev_entrega_mercad      = CD_EV_ENTREGA_MERCAD,               -- 373
       @cd_ev_entrega_draft_bl    = CD_EV_ENTREGA_DRAFT_BL,             -- 323
       @cd_ev_dt_consolidacao     = CD_EV_DT_CONSOLIDACAO,              -- 249
       @cd_ev_carreg_fabrica      = CD_EV_EMBARQUE,                     -- 132
       @cd_ev_cheg_fronteira      = '380',
       @cd_ev_cruze               = '149'
FROM   TPARAMETROS (NOLOCK)

-- Seleciona registros - e suas informações - que respeitem as condições abaixo

IF @in_conclusor = '0'			-- AVERBAÇÃO
  SELECT @evento = @cd_ev_averbacao
IF @in_conclusor = '1'			-- RETIRADA BL
  SELECT @evento = @cd_ev_bl
IF @in_conclusor = '2'			-- SAQUE/BORDERO
  SELECT @evento = @cd_ev_envio_saque_bordero

BEGIN
INSERT TREL_CONTROLE_EXP( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_CLIENTE, CD_AREA, CD_VIA_TRANSPORTE,   -- 1
                     NR_FATURA, CD_EMBARCACAO, CD_PAIS_DESTINO, CD_TRANSPORTADOR, CD_AGENTE,                    -- 2
                     TX_OBS, DT_PREV_EMBARQUE, DT_LIBERACAO, IN_LIBERACAO, DT_DESEMB, IN_DESEMB, DT_EMBARQUE,   -- 3
                     DT_ENVIO_SAQUE_BORDERO, IN_ENVIO_SB, DT_ENVIO_DOC_CLI, IN_ENVIO_DOC_CLI, NM_CONTATO,       -- 4 
                     DT_RET_BL, IN_RET_BL, DT_DD_IMO, IN_DD_IMO, DT_DD_DDE, IN_DD_DDE, DT_DD_CC, IN_DD_CC,      -- 5 
                     NR_BOOKING, DT_BOOKING, IN_BOOKING, DT_DD_DRAFT, IN_DD_DRAFT, DT_ENT_IMO, IN_ENT_IMO,      -- 6  
                     DT_ENT_DDE, IN_ENT_DDE, DT_INSPECAO, IN_INSPECAO, DT_FUMIGACAO, IN_FUMIGACAO,              -- 7
                     DT_ENT_MERCAD, IN_ENT_MERCAD, DT_ENT_DRAFT_BL, IN_ENT_DRAFT_BL, DT_PREV_CARREGAMENTO,      -- 8
                     DT_CHEGADA_FRONTEIRA, IMPORTADOR, NR_CAMINHAO )                                            -- 9
  SELECT @nr_identificador, P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CLIENTE, P.CD_AREA, S.CD_VIA_TRANSPORTE, 
         -- 2
         E.NR_FATURA, P.CD_EMBARCACAO, P.CD_PAIS_DESTINO, P.CD_TRANSP_NAC, P.CD_AGENTE, 
         -- 3
         CASE @in_obs
           WHEN '1' THEN P.TX_OBSERVACOES
           ELSE NULL
         END,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_prev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_PREV_EMBARQUE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_liberacao AND
                  IN_APLICAVEL = '1' ) AS DT_LIBERACAO,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_liberacao ) AS IN_LIBERACAO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_desemb AND
                  IN_APLICAVEL = '1' ) AS DT_DESEMB,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_desemb ) AS IN_DESEMB,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_EMBARQUE,
         -- 4 
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_envio_saque_bordero AND
                  IN_APLICAVEL = '1' ) AS DT_ENVIO_SAQUE_BORDERO,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_envio_saque_bordero ) AS IN_ENVIO_SB,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc_cli AND
                         IN_APLICAVEL = '1' ) <> '' THEN ( SELECT DT_REALIZACAO
                                                           FROM   TFOLLOWUP (NOLOCK)
                                                           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                                                                  CD_EVENTO = @cd_ev_envio_doc_cli AND
                                                                  IN_APLICAVEL = '1' ) 
           ELSE ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc AND
                         IN_APLICAVEL = '1' ) 
         END AS DT_ENVIO_DOC_CLI,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc_cli AND
                         IN_APLICAVEL = '1' ) <> '' THEN ( SELECT IN_APLICAVEL
                                                           FROM   TFOLLOWUP (NOLOCK)
                                                           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                                                                  CD_EVENTO =   @cd_ev_envio_doc_cli )
           ELSE ( SELECT IN_APLICAVEL
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc ) 

         END AS IN_ENVIO_DOC_CLI,
         C.NM_CONTATO,
         -- 5 
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_bl AND
                  IN_APLICAVEL = '1' ) AS DT_RET_BL,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_bl ) AS IN_RET_BL,
         CASE @cd_via_transporte
           WHEN '07' THEN -- RODOVIÁRIO
             ( SELECT DT_REALIZACAO
               FROM   TFOLLOWUP (NOLOCK)
               WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                      CD_EVENTO = @cd_ev_dt_consolidacao AND
                      IN_APLICAVEL = '1' )
           ELSE 
             ( SELECT DT_REALIZACAO
               FROM   TFOLLOWUP (NOLOCK)
               WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                      CD_EVENTO = @cd_ev_dd_imo AND
                      IN_APLICAVEL = '1' )
         END AS DT_DD_IMO, 
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_imo ) AS IN_DD_IMO,
         CASE @cd_via_transporte 
           WHEN '07' THEN  -- RODOVIÁRIO
             ( SELECT DT_REALIZACAO
               FROM   TFOLLOWUP (NOLOCK)
               WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                      CD_EVENTO = @cd_ev_dd_dde AND
                     IN_APLICAVEL = '1' )
           ELSE
             ( SELECT DT_REALIZACAO
               FROM   TFOLLOWUP (NOLOCK)
               WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                      CD_EVENTO = @cd_ev_dd_dde AND
                     IN_APLICAVEL = '1' )
         END  AS DT_DD_DDE, 
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_dde ) AS IN_DD_DDE,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc AND
                         IN_APLICAVEL = '1' ) <> '' THEN ( SELECT DT_REALIZACAO
                                                           FROM   TFOLLOWUP (NOLOCK)
                                                           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                                                                  CD_EVENTO = @cd_ev_dd_cc AND
                                                                  IN_APLICAVEL = '1' ) 
           ELSE ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc_1 AND
                         IN_APLICAVEL = '1' ) 
         END AS DT_DD_CC,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc AND
                         IN_APLICAVEL = '1' ) <> '' THEN ( SELECT IN_APLICAVEL
                                                           FROM   TFOLLOWUP (NOLOCK)
                                                           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                                                            CD_EVENTO = @cd_ev_dd_cc ) 

           ELSE ( SELECT IN_APLICAVEL
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc_1 ) 
         END AS IN_DD_CC,
         -- 6
         ( SELECT MAX(CD_REFERENCIA)
           FROM   TREF_CLIENTE (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO
             AND  TP_REFERENCIA = '05' ) AS NR_BOOKING,
         CASE @cd_via_transporte
           WHEN '07' THEN   -- RODOVIÁRIO
            ( SELECT DT_REALIZACAO
              FROM   TFOLLOWUP (NOLOCK)
              WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                     CD_EVENTO = @cd_ev_carreg_fabrica AND
                     IN_APLICAVEL = '1' ) 
           ELSE
            ( SELECT DT_REALIZACAO
              FROM   TFOLLOWUP (NOLOCK)
              WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                     CD_EVENTO = @cd_ev_booking AND
                     IN_APLICAVEL = '1' ) 
           END AS DT_BOOKING,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_booking ) AS IN_BOOKING,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_draft AND
                  IN_APLICAVEL = '1' ) AS DT_DD_DRAFT,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_draft ) AS IN_DD_DRAFT,
         CASE @cd_via_transporte
           WHEN '07' THEN -- RODOVIÁRIO
             ( SELECT DT_REALIZACAO
               FROM   TFOLLOWUP (NOLOCK)
               WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                      CD_EVENTO = @cd_ev_cruze AND
                      IN_APLICAVEL = '1' )
           ELSE 
             ( SELECT DT_REALIZACAO
               FROM   TFOLLOWUP (NOLOCK)
               WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                      CD_EVENTO = @cd_ev_entrega_imo AND
                      IN_APLICAVEL = '1' )
         END AS DT_ENT_IMO,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_entrega_imo ) AS IN_ENT_IMO,
         -- 7
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_entrega_dde AND
                  IN_APLICAVEL = '1' ) AS DT_ENT_DDE,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_entrega_dde ) AS IN_ENT_DDE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_inspecao AND
                  IN_APLICAVEL = '1' ) AS DT_INSPECAO,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_inspecao ) AS IN_INSPECAO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_fumigacao AND
                  IN_APLICAVEL = '1' ) AS DT_FUMIGACAO,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_fumigacao ) AS IN_FUMIGACAO,
         -- 8
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_entrega_mercad AND
                  IN_APLICAVEL = '1' ) AS DT_ENT_MERCAD,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_entrega_mercad ) AS IN_ENT_MERCAD,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_entrega_draft_bl AND
                  IN_APLICAVEL = '1' ) AS DT_ENT_DRAFT,
         ( SELECT IN_APLICAVEL
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_entrega_draft_bl ) AS IN_ENT_DRAFT,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_prev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_PREV_CARREGAMENTO,
         -- 9  
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_cheg_fronteira AND
                  IN_APLICAVEL = '1' ) AS DT_CHEGADA_FRONTEIRA,
         E.CD_IMPORTADOR, P.NR_CAMINHAO
  FROM   TPROCESSO P (NOLOCK), TPROCESSO_EXP E (NOLOCK), TFOLLOWUP F (NOLOCK),
         TEMPRESA_NAC EN (NOLOCK), VW_SERVICO_GERAL S (NOLOCK), TCLIENTE_CONTATO C (NOLOCK)
  WHERE  P.NR_PROCESSO *= E.NR_PROCESSO 
    AND  P.CD_PRODUTO = '02' 
    AND  P.NR_PROCESSO = F.NR_PROCESSO 
    AND  P.CD_CLIENTE = EN.CD_EMPRESA 
    AND  P.CD_SERVICO = S.CD_SERVICO 
    AND  C.CD_CLIENTE = P.CD_CLIENTE
    AND  C.CD_UNID_NEG = P.CD_UNID_NEG
    AND  C.CD_PRODUTO = '02'
    AND  C.CD_CONTATO = P.CD_CONTATO
    AND  F.CD_EVENTO = @evento 
    AND  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) 
    AND  @cd_grupo IN ( EN.CD_GRUPO, 'X' ) 
    AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
    AND  @cd_area IN ( P.CD_AREA, 'X' ) 
    AND  @cd_via_transporte IN ( S.CD_VIA_TRANSPORTE, 'X' )
    AND  @cd_analista_comissaria IN ( P.CD_ANALISTA_COMISSARIA, 'X' ) 
    AND  @cd_transp IN ( P.CD_TRANSP_NAC, 'X' )
    AND  @cd_pais IN ( P.CD_PAIS_ORIGEM, 'X' )
    AND  ( ( @cd_contato = 'X' ) OR ( C.CD_CLIENTE = @cd_cliente AND C.CD_UNID_NEG = @cd_unid_neg 
                                      AND C.CD_PRODUTO = '02' AND C.CD_CONTATO = @cd_contato ) ) 
    AND  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim 
    AND  F.DT_REALIZACAO IS NULL 
    AND  P.IN_CANCELADO = '0'
END


IF isdate( @dt_eta ) = 1
BEGIN
 DELETE FROM TREL_CONTROLE_EXP
 WHERE DT_PREV_EMBARQUE > @dt_eta
   AND NR_IDENTIFICADOR = @nr_identificador
END 

-- Cria tabela com os processos 
SELECT NR_PROCESSO
INTO #TMP_PROCESSO
FROM TREL_CONTROLE_EXP
WHERE NR_IDENTIFICADOR = @nr_identificador

DECLARE @tipo		varchar(250),		@passa	varchar(250),		@terc varchar(250),	@chave	char(3)
DECLARE @nr_processo 	char(18)

WHILE ( SELECT COUNT(NR_PROCESSO) FROM #TMP_PROCESSO ) > 0
BEGIN
  SELECT @nr_processo = NR_PROCESSO FROM #TMP_PROCESSO

  SELECT NR_SEQUENCIA, CD_REFERENCIA
  INTO #TMP_ORDEM
  FROM TREF_CLIENTE (NOLOCK)
  WHERE NR_PROCESSO = @nr_processo AND
	TP_REFERENCIA = '02'	-- ORDEM

  SET @tipo = ''
  SET @passa = ''
  SET @terc = ''
  WHILE ( SELECT COUNT( CD_REFERENCIA ) FROM #TMP_ORDEM ) > 0 
  BEGIN
    SELECT @chave = ( SELECT TOP 1 NR_SEQUENCIA FROM #TMP_ORDEM )
    SET @passa = ( SELECT RTRIM( CD_REFERENCIA ) + '/' FROM #TMP_ORDEM WHERE NR_SEQUENCIA = @chave )
    SET @tipo = @terc + @passa
    SET @terc = @tipo

    DELETE FROM #TMP_ORDEM WHERE NR_SEQUENCIA = @chave
  END  
  IF LEN( @tipo ) > 4
    SET @tipo = SUBSTRING( @tipo, 1, LEN( @tipo ) - 1 )
  
  DROP TABLE #TMP_ORDEM

  UPDATE TREL_CONTROLE_EXP
  SET ORDEM = @tipo
  WHERE NR_PROCESSO = @nr_processo AND 
        NR_IDENTIFICADOR = @nr_identificador

  DELETE FROM #TMP_PROCESSO WHERE NR_PROCESSO = @nr_processo
END

DROP TABLE #TMP_PROCESSO





GO
