USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_recebimento_filtro](@nr_recebimento char(3), @cd_cliente char(5), @cd_unid_neg char(2),   
                                 @dt_recebimento datetime, @in_maior char(1))AS  
  
DECLARE @nr_receb      char(6)  
DECLARE @cd_unid       char(2)  
DECLARE @cd_cli        char(5)  
DECLARE @nr_processo   char(18)  
DECLARE @ult_lanc      char(4)  
DECLARE @nr_ult_lanc   int  
DECLARE @cd_item       char(3)  
DECLARE @cd_favorecido char(5)  
DECLARE @nr_lanc_rec   char(4)  
DECLARE @nr_lanc_item  char(3)  
DECLARE @vl_fat_cc     float  
DECLARE @cd_banco_item char(3)  
DECLARE @nr_solic_num  char(3)  
DECLARE @nr_processo_ant char(18)  
DECLARE @cd_usuario    char(3)  
DECLARE @vl_rece_item  float  
DECLARE @vl_ad_item    float  
DECLARE @cd_item_frete char(3)  
--FILTRO PARA CLIENTE E PROCESSO  
SELECT @cd_favorecido = F.CD_FAVORECIDO  
  FROM TFAVORECIDO F, TEMPRESA_NAC E  
  WHERE E.CD_EMPRESA = @cd_cliente  
    AND E.CGC_EMPRESA = F.CGC_EMPRESA  
  
SELECT @cd_item_frete = CD_ITEM_FRETE_AEREO FROM TPARAMETROS  
  
SELECT NR_PROCESSO, NR_SOLICITACAO, CD_ITEM, VL_RECEBIDO, VL_ADICIONAL_ITEM, CD_BANCO_ITEM  
INTO #TRECEB_FILTRO  
  FROM TRECEBIMENTO_PROCESSO_ITEM   
  WHERE  1 = 0  
  
INSERT #TRECEB_FILTRO(NR_PROCESSO, NR_SOLICITACAO, CD_ITEM, VL_RECEBIDO, VL_ADICIONAL_ITEM, CD_BANCO_ITEM)  
 SELECT NR_PROCESSO,NR_SOLICITACAO, CD_ITEM, VL_RECEBIDO, VL_ADICIONAL_ITEM,  CD_BANCO_ITEM  
  FROM TRECEBIMENTO_PROCESSO_ITEM   
 WHERE NR_RECEBIMENTO = @nr_recebimento  
  AND  CD_CLIENTE = @cd_cliente  
  AND  CD_UNID_NEG = @cd_unid_neg   
  
WHILE (SELECT COUNT(*) FROM #TRECEB_FILTRO ) > 0   
BEGIN  
  SELECT TOP 1 @nr_processo = NR_PROCESSO, @nr_solic_num = NR_SOLICITACAO, @cd_item = CD_ITEM,   
               @vl_rece_item = VL_RECEBIDO, @vl_ad_item = VL_ADICIONAL_ITEM, @cd_banco_item = CD_BANCO_ITEM  
    FROM #TRECEB_FILTRO  
  
     SET @nr_ult_lanc =   
         CASE  WHEN  ISNULL(@nr_processo_ant,'') <> @nr_processo THEN   
                (SELECT  convert( int, MAX( ISNULL( NR_LANCAMENTO, '0000' ) ) ) + 1  
                  FROM   TFATURAMENTO_CC   
                  WHERE  NR_PROCESSO = @nr_processo)  
           ELSE ISNULL(@nr_ult_lanc,0) + 1   
         END   
  
    SET @ult_lanc = RIGHT( '0000' + CONVERT( varchar, @nr_ult_lanc ), 4 )  
    SET @nr_processo_ant = @nr_processo  
      
    SET @vl_fat_cc =  CASE @in_maior WHEN  '1' THEN @vl_rece_item   
             ELSE @vl_rece_item + @vl_ad_item  
           END  
  
    INSERT INTO TFATURAMENTO_CC   
          ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,  
      CD_FORMA_PAGTO, CD_ORIGEM_LANC, NR_CHEQUE, VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO,   
      IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO, NR_FP,   
       NR_SOLIC_FAT, IN_FILTRO )  
     VALUES ( @nr_processo, @ult_lanc, @dt_recebimento, @cd_usuario, @cd_favorecido, @cd_banco_item, @cd_item,   
           'F', '3', @nr_recebimento, @vl_fat_cc , 0, 0, '0','0', '0', '0', '*', '0', '', '', '1')            
             
  DELETE FROM #TRECEB_FILTRO WHERE NR_PROCESSO = @nr_processo and CD_ITEM = @cd_item  
 END  
DROP TABLE #TRECEB_FILTRO  
--FILTRO PARA RECIMENTO DOS ITENS QUE TEM O AGENTE ENVOLVIDO  
  
SELECT NR_PROCESSO, VL_RECEBIDO, VL_ADICIONAL_ITEM  
  INTO #TRECEB_AGENTE  
FROM TRECEBIMENTO_PROCESSO_ITEM   
WHERE 1 = 0  
  
INSERT  #TRECEB_AGENTE(NR_PROCESSO, VL_RECEBIDO, VL_ADICIONAL_ITEM)   
SELECT R.NR_PROCESSO, ISNULL(SUM(R.VL_RECEBIDO),0), ISNULL(SUM(R.VL_ADICIONAL_ITEM),0)  
  FROM TRECEBIMENTO_PROCESSO_ITEM R, TPROCESSO_DESPESAS P  
  WHERE R.NR_RECEBIMENTO = @nr_recebimento  
   AND  R.CD_CLIENTE = @cd_cliente  
   AND  R.CD_UNID_NEG = @cd_unid_neg  
   AND  R.NR_PROCESSO = P.NR_PROCESSO   
   AND  R.CD_ITEM = P.CD_ITEM  
   AND  ((P.IN_PROFIT = '1' AND P.IN_REPASSA = '6') OR (IN_MENCIONADO = '1'))  
  GROUP BY R.NR_PROCESSO  
  
WHILE (SELECT COUNT(*) FROM #TRECEB_AGENTE)> 0   
  BEGIN  
  
    SELECT TOP 1 @nr_processo = NR_PROCESSO, @vl_rece_item =  VL_RECEBIDO,  
         @vl_ad_item =  VL_ADICIONAL_ITEM     
     FROM #TRECEB_AGENTE  
      
     --BUSCA APENAS O FRETE QUE SEMPRE É DIVIDIDO COM O AGENTE  
     SELECT @vl_rece_item = @vl_rece_item + ISNULL(SUM(VL_RECEBIDO),0),  
            @vl_ad_item   = @vl_ad_item   + ISNULL(SUM(VL_ADICIONAL_ITEM),0)  
        FROM TRECEBIMENTO_PROCESSO_ITEM   
     WHERE NR_PROCESSO = @nr_processo and   
           CD_ITEM = @cd_item_frete   
  
     SELECT @nr_ult_lanc =   convert( int, MAX( ISNULL( NR_LANCAMENTO, '0000' ) ) ) --+ 1  
                  FROM   TFATURAMENTO_CC   
                  WHERE  NR_PROCESSO = @nr_processo     
  
    SET @ult_lanc = RIGHT( '0000' + CONVERT( varchar, @nr_ult_lanc + 1), 4 )  
      
    SET @vl_fat_cc =  CASE @in_maior WHEN  '0' THEN @vl_rece_item + @vl_ad_item  
              ELSE @vl_rece_item  
           END  
  
    INSERT INTO TFATURAMENTO_CC   
          ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,  
      CD_FORMA_PAGTO, CD_ORIGEM_LANC, NR_CHEQUE, VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO,   
      IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO, NR_FP,   
       NR_SOLIC_FAT, IN_FILTRO )  
    VALUES ( @nr_processo, @ult_lanc, @dt_recebimento, @cd_usuario, @cd_favorecido, @cd_banco_item, '991',   
           'F', '3', @nr_recebimento, @vl_fat_cc, 0, 0, '0','0', '0', '0', '*', '0', '', '', '2')           
             
  
    DELETE FROM #TRECEB_AGENTE WHERE NR_PROCESSO =  @nr_processo     
     
  END  
DROP TABLE #TRECEB_AGENTE  
  


GO
