USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_cons_db_susp_AC]( @NR_ATO_DRAWBACK char(15), @CD_REGIME_TRIBUTACAO char(5), @CD_FUND_LEGAL char(5), 
				     @NR_PROCESSO_ITEM char(23)) 
AS

DECLARE @msg char(255)
DECLARE @status char(1)
DECLARE @TP_MODAL_DB char(1)


 SELECT @TP_MODAL_DB = TP_MODAL_DB
 FROM   
   TFORECAST A, TATO_CONC_SUSP B
 WHERE  
   B.NR_FORECAST = A.NR_FORECAST AND --B.NR_ATO_CONC IS NOT NULL AND 
   B.NR_ATO_CONC = @NR_ATO_DRAWBACK

 IF @TP_MODAL_DB <> '' --1-ISENÇÃO   2- SUSPENSÃO  3-RESTITUIÇÃO
 BEGIN
   IF (@TP_MODAL_DB = 1) AND (@CD_REGIME_TRIBUTACAO <> 3)--TIPOS DE DRAWBACK DIFERENTES
   BEGIN
     EXEC SP_RET_MSG_DIAGNOS 12, @MSG OUTPUT, @STATUS OUTPUT 
     INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
     VALUES (@NR_PROCESSO_ITEM,@STATUS, @MSG)		
   END
   IF (@TP_MODAL_DB = 2) AND (@CD_REGIME_TRIBUTACAO <> 5)--TIPOS DE DRAWBACK DIFERENTES
   BEGIN
     EXEC SP_RET_MSG_DIAGNOS 12, @MSG OUTPUT, @STATUS OUTPUT 
     INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
     VALUES (@NR_PROCESSO_ITEM,@STATUS, @MSG)		
   END
 END
 ELSE --senão é pq o número do ac não está no drawback myindaia
 BEGIN
   IF (@CD_REGIME_TRIBUTACAO = 5) or (@CD_REGIME_TRIBUTACAO = 3)  --suspensão/isenção
   BEGIN
     EXEC sp_ret_msg_diagnos 15, @msg OUTPUT, @status OUTPUT
     INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
     VALUES (@NR_PROCESSO_ITEM,@status,@msg)
   END
   ELSE IF (@CD_REGIME_TRIBUTACAO <> 5) and (@CD_REGIME_TRIBUTACAO <> 3)  --suspensão
   BEGIN
     EXEC sp_ret_msg_diagnos 1, @msg OUTPUT, @status OUTPUT
     INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
     VALUES (@NR_PROCESSO_ITEM,@status,@msg)
   END
 END
IF @CD_FUND_LEGAL <> 16	   --drawback DL 37/66 etc...
BEGIN
  EXEC sp_ret_msg_diagnos 2, @msg OUTPUT, @status OUTPUT
  INSERT INTO TTEMP_DIAGN_DB_SUSP (NR_PROCESSO, STATUS, DESCRICAO) 
  VALUES (@NR_PROCESSO_ITEM,@status, @msg)
END





GO
