USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_dem_emails] AS

/*
SET XACT_ABORT ON
BEGIN TRAN

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @in_aviso_demurrage   char(1)
DECLARE @destino              varchar(8000)
DECLARE @mensagem             varchar(8000)
DECLARE @mensagem2            varchar(8000)
DECLARE @nm_email             varchar(255)
DECLARE @nm_email_analista    varchar(255)
DECLARE @nm_email_gerente     varchar(255)
DECLARE @nm_email_sa          varchar(100)
DECLARE @nm_email_dem         varchar(255)

DECLARE @cd_ev_desemb         char(3)
DECLARE @nr_dias_desemb       tinyint
DECLARE @nr_dias_nf_transp    tinyint
DECLARE @nr_dias_ret_cntr     tinyint
DECLARE @nr_dias_demurrage    tinyint

DECLARE @nm_contato           varchar(50)
DECLARE @nr_processo          char(18)
DECLARE @nr_cntr              varchar(20)
DECLARE @cd_usuario           char(4)
DECLARE @cd_contato           char(3)
DECLARE @cd_unid_neg          char(2)
DECLARE @cd_produto           char(2)
DECLARE @cd_cliente           char(5)
DECLARE @dt_demurrage         datetime
DECLARE @cd_usuario_demurrage char(4)
DECLARE @cd_area              char(2)
DECLARE @cd_transp_nac_doc    char(4)
DECLARE @vl_item              float

SELECT @in_aviso_demurrage   = IN_AVISO_DEMURRAGE, 
       @cd_ev_desemb         = CD_EV_DESEMB, 
       @nr_dias_desemb       = NR_DIAS_DESEMB,
       @nr_dias_nf_transp    = NR_DIAS_NF_TRANSP,
       @nr_dias_ret_cntr     = NR_DIAS_RET_CNTR,
       @nr_dias_demurrage    = NR_DIAS_DEMURRAGE,
       @cd_usuario_demurrage = CD_USUARIO_DEMURRAGE,
       @nm_email_sa          = 'suporte@myindaia.com.br'
FROM   TPARAMETROS

SELECT @nm_email_dem = NM_EMAIL
FROM   TUSUARIO
WHERE  CD_USUARIO = @cd_usuario_demurrage

IF @in_aviso_demurrage = '1'
BEGIN
  -- Desembaraço ==> Indaiá - (1)
  DECLARE c_1 CURSOR FOR  
    SELECT DISTINCT P.CD_ANALISTA_COMISSARIA, U.NM_EMAIL
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TUSUARIO U (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_ANALISTA_COMISSARIA = U.CD_USUARIO AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_ANALISTA_COMISSARIA, '' ) <> '' AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NULL AND
           EXISTS( SELECT *
                   FROM   TFOLLOWUP F (NOLOCK)
                   WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                          F.IN_APLICAVEL = '1' AND
                          F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_desemb ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY P.CD_ANALISTA_COMISSARIA
  OPEN c_1
  FETCH c_1 INTO @cd_usuario, @nm_email
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_11 CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_ANALISTA_COMISSARIA = @cd_usuario AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NULL AND
             EXISTS( SELECT *
                     FROM   TFOLLOWUP F (NOLOCK)
                     WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                            F.IN_APLICAVEL = '1' AND
                            F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_desemb ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
      ORDER BY C.NR_PROCESSO
    OPEN c_11
    FETCH c_11 INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_11 INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_11
    DEALLOCATE c_11
  
    IF @mensagem <> ''
    BEGIN
      IF LTRIM( RTRIM( ISNULL( @nm_email, '' ) ) ) <> ''
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) +
               'Sistema de Controle de Demurrage - DDBroker - 1'

        EXEC master.dbo.xp_sendmail @nm_email,
             @subject = 'Atencao! Processo(s) Nao Desembaracado(s)',
             @message = @mensagem

        SELECT @mensagem = @mensagem + char(13) + char(10) + @nm_email
        EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Atencao! Processo(s) Nao Desembaracado(s) - 1',
             @message = @mensagem
        SELECT @mensagem = ''
      END
      ELSE
      BEGIN
        SELECT @mensagem = 'Email do usuario Codigo ' + @cd_usuario + ' nao informado...' 
        EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Cadastro de Usuarios com erro! - sa1',
             @message = @mensagem
        SELECT @mensagem = ''
      END
    END

    FETCH c_1 INTO @cd_usuario, @nm_email
  END
  CLOSE c_1
  DEALLOCATE c_1
  -- Fim Desembaraço ==> Indaiá

  -- Desembaraço ==> Cliente - (2)
  DECLARE c_2 CURSOR FOR  
    SELECT DISTINCT P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_CONTATO, CO.NM_EMAIL
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TCLIENTE_CONTATO CO (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_UNID_NEG = CO.CD_UNID_NEG AND
           P.CD_PRODUTO = CO.CD_PRODUTO AND
           P.CD_CLIENTE = CO.CD_CLIENTE AND
           P.CD_CONTATO = CO.CD_CONTATO AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_CONTATO, '' ) <> '' AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NULL AND
           EXISTS( SELECT *
                   FROM   TFOLLOWUP F (NOLOCK)
                   WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                          F.IN_APLICAVEL = '1' AND
                          F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_desemb ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY CO.NM_EMAIL, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_CONTATO
  OPEN c_2
  FETCH c_2 INTO @cd_unid_neg, @cd_produto, @cd_cliente, @cd_contato, @nm_email
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_21 CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_UNID_NEG = @cd_unid_neg AND
             P.CD_PRODUTO  = @cd_produto AND
             P.CD_CLIENTE  = @cd_cliente AND
             P.CD_CONTATO  = @cd_contato AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NULL AND
             EXISTS( SELECT *
                     FROM   TFOLLOWUP F (NOLOCK)
                     WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                            F.IN_APLICAVEL = '1' AND
                            F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_desemb ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
      ORDER BY P.NR_PROCESSO 
    OPEN c_21
    FETCH c_21 INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_21 INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_21
    DEALLOCATE c_21
  
    IF @mensagem <> ''
    BEGIN
      IF LTRIM( RTRIM( ISNULL( @nm_email, '' ) ) ) <> ''
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 2'

        EXEC master.dbo.xp_sendmail @nm_email, 
             @subject = 'Atencao! Processo(s) Nao Desembaracado(s)',
             @message = @mensagem

        SELECT @mensagem = @mensagem + char(13) + char(10) + @nm_email
        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) Nao Desembaracado(s) - 2',
             @message = @mensagem
        SELECT @mensagem = ''
      END
      ELSE
      BEGIN
        SELECT @mensagem = 'Email do Contato: Unidade, Produto, Cliente e Codigo ' + 
                           @cd_unid_neg + ',' + @cd_produto + ',' + @cd_cliente + ' e ' + @cd_contato + ' nao informado...' 
        EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Cadastro de Contatos com erro! - sa2',
             @message = @mensagem
        SELECT @mensagem = ''
      END
    END

    FETCH c_2 INTO @cd_unid_neg, @cd_produto, @cd_cliente, @cd_contato, @nm_email
  END
  CLOSE c_2
  DEALLOCATE c_2
  -- Fim Desembaraço ==> Cliente

  --Desembaraço ==> Contato Com. Exterior - (3)
  DECLARE c_3 CURSOR FOR
    SELECT DISTINCT P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TCLIENTE_CONTATO CO (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_UNID_NEG = CO.CD_UNID_NEG AND
           P.CD_PRODUTO = CO.CD_PRODUTO AND
           P.CD_CLIENTE = CO.CD_CLIENTE AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_CONTATO, '' ) <> '' AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NULL AND
           EXISTS( SELECT *
                   FROM   TFOLLOWUP F (NOLOCK)
                   WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                          F.IN_APLICAVEL = '1' AND
                          F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - ( @nr_dias_desemb - 2 ) ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE
  OPEN c_3
  FETCH c_3 INTO @cd_unid_neg, @cd_produto, @cd_cliente
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_31 CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_UNID_NEG = @cd_unid_neg AND
             P.CD_PRODUTO = @cd_produto AND
             P.CD_CLIENTE = @cd_cliente AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NULL AND
             EXISTS( SELECT *
                     FROM   TFOLLOWUP F (NOLOCK)
                     WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                            F.IN_APLICAVEL = '1' AND
                            F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - ( @nr_dias_desemb - 2 ) ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
      ORDER BY P.NR_PROCESSO
    OPEN c_31
    FETCH c_31 INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_31 INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_31
    DEALLOCATE c_31
  
    IF @mensagem <> ''
    BEGIN
      DECLARE c_32 CURSOR FOR
        SELECT CD_CONTATO, LTRIM( RTRIM( ISNULL( NM_EMAIL, '' ) ) )
        FROM   TCLIENTE_CONTATO (NOLOCK)
        WHERE  CD_UNID_NEG = @cd_unid_neg AND
               CD_PRODUTO = @cd_produto AND
               CD_CLIENTE = @cd_cliente AND
               IN_COM_EXTERIOR = 1
      OPEN c_32
      FETCH c_32 INTO @cd_contato, @nm_email
      WHILE @@fetch_status = 0
      BEGIN        
        IF LTRIM( RTRIM( ISNULL( @nm_email, '' ) ) ) <> ''
        BEGIN
          SELECT @mensagem2 = @mensagem + char(13) + char(10) + 
                 'Sistema de Controle de Demurrage - DDBroker - 3'

          EXEC master.dbo.xp_sendmail @nm_email, 
               @subject = 'Atencao! Processo(s) Nao Desembaracado(s)',
               @message = @mensagem2

          SELECT @mensagem2 = @mensagem2 + char(13) + char(10) + @nm_email
          EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Atencao! Processo(s) Nao Desembaracado(s) - 3',
             @message = @mensagem2
        END
        ELSE
        BEGIN
          SELECT @mensagem = 'Email do Contato: Unidade, Produto, Cliente e Codigo ' + 
                             @cd_unid_neg + ',' + @cd_produto + ',' + @cd_cliente + ' e ' + @cd_contato + ' nao informado...' 
          EXEC master.dbo.xp_sendmail @nm_email_sa,
               @subject = 'Cadastro de Contatos com erro! - sa3',
               @message = @mensagem
        END
        SELECT @mensagem2 = ''

        FETCH c_32 INTO @cd_contato, @nm_email
      END
      CLOSE c_32
      DEALLOCATE c_32
      SELECT @mensagem = ''
    END

    FETCH c_3 INTO @cd_unid_neg, @cd_produto, @cd_cliente
  END
  CLOSE c_3
  DEALLOCATE c_3
  -- Desembaraço ==> Contato Com. Exterior

  -- Envio NF Transp ==> Indaiá - (4)
  DECLARE c_4 CURSOR FOR  
    SELECT DISTINCT P.CD_ANALISTA_COMISSARIA, U.NM_EMAIL
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TUSUARIO U (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_ANALISTA_COMISSARIA = U.CD_USUARIO AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_ANALISTA_COMISSARIA, '' ) <> '' AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           EXISTS( SELECT *
                   FROM   TFOLLOWUP F (NOLOCK)
                   WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                          F.IN_APLICAVEL = '1' AND
                          F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_nf_transp ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY P.CD_ANALISTA_COMISSARIA
  OPEN c_4
  FETCH c_4 INTO @cd_usuario, @nm_email
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_41 CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_ANALISTA_COMISSARIA = @cd_usuario AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
             EXISTS( SELECT *
                     FROM   TFOLLOWUP F (NOLOCK)
                     WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                            F.IN_APLICAVEL = '1' AND
                            F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_nf_transp ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
      ORDER BY C.NR_PROCESSO
    OPEN c_41
    FETCH c_41 INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_41 INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_41
    DEALLOCATE c_41
  
    IF @mensagem <> ''
    BEGIN
      IF LTRIM( RTRIM( ISNULL( @nm_email, '' ) ) ) <> ''
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 4'

        EXEC master.dbo.xp_sendmail @nm_email, 
             @subject = 'Atencao! Processo(s) sem Envio NF para a Transportadora',
             @message = @mensagem

        SELECT @mensagem = @mensagem + char(13) + char(10) + @nm_email

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Envio NF para a Transportadora - 4',
             @message = @mensagem

        SELECT @mensagem = ''
      END
      ELSE
      BEGIN
        SELECT @mensagem = 'Email do usuario Codigo ' + @cd_usuario + ' nao informado...' 
        EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Cadastro de Usuarios com erro! - sa4',
             @message = @mensagem
        SELECT @mensagem = ''
      END
    END

    FETCH c_4 INTO @cd_usuario, @nm_email
  END
  CLOSE c_4
  DEALLOCATE c_4
  -- Fim Envio NF Transp ==> Indaiá

  -- Retirada Cntr Fabrica ==> Gerente / Analista Área do Processo - (5a)
  DECLARE c_5a CURSOR FOR  
    SELECT DISTINCT P.CD_AREA, LTRIM( RTRIM( ISNULL( A.NM_EMAIL_GERENTE, '' ) ) ),
           LTRIM( RTRIM( ISNULL( A.NM_EMAIL_ANALISTA, '' ) ) )
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TAREA A (NOLOCK), TEMPRESA_NAC E (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_AREA = A.CD_AREA AND
           P.CD_CLIENTE = E.CD_EMPRESA AND
           ISNULL( TP_DEM_EMAIL, '0' ) = '0' AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_AREA, '' ) <> '' AND
           C.DT_RET_CNTR_FABRICA IS NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_ret_cntr ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY P.CD_AREA
  OPEN c_5a
  FETCH c_5a INTO @cd_area, @nm_email_gerente, @nm_email_analista
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_51a CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             P.CD_CLIENTE = E.CD_EMPRESA AND
             ISNULL( TP_DEM_EMAIL, '0' ) = '0' AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_AREA = @cd_area AND
             C.DT_RET_CNTR_FABRICA IS NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_ret_cntr ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
      ORDER BY P.NR_PROCESSO
    OPEN c_51a
    FETCH c_51a INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_51a INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_51a
    DEALLOCATE c_51a
  
    IF @mensagem <> ''
    BEGIN
      IF ( LTRIM( RTRIM( ISNULL( @nm_email_gerente, '' ) ) ) <> '' ) AND
         ( LTRIM( RTRIM( ISNULL( @nm_email_analista, '' ) ) ) <> '' )
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 5a'

        EXEC master.dbo.xp_sendmail @nm_email_gerente,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica',
             @message = @mensagem

        EXEC master.dbo.xp_sendmail @nm_email_analista,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica',
             @message = @mensagem

        SELECT @mensagem2 = @mensagem + char(13) + char(10) +
               @nm_email_gerente + char(13) + char(10)

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica - 5a',
             @message = @mensagem2

        SELECT @mensagem2 = @mensagem + char(13) + char(10) +
               @nm_email_analista + char(13) + char(10)

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica - 5a',
             @message = @mensagem2

        SELECT @mensagem = ''
      END
      ELSE
      BEGIN
        IF ( LTRIM( RTRIM( ISNULL( @nm_email_gerente, '' ) ) ) = '' )
        BEGIN
          SELECT @mensagem = 'Email do Gerente da Area Codigo ' + @cd_area + ' nao informado...' 
          EXEC master.dbo.xp_sendmail @nm_email_sa, 
               @subject = 'Cadastro de Areas com erro! - sa5a',
               @message = @mensagem
          SELECT @mensagem = ''
        END

        IF ( LTRIM( RTRIM( ISNULL( @nm_email_analista, '' ) ) ) = '' )
        BEGIN 
          SELECT @mensagem = 'Email do Analista da Area Codigo ' + @cd_area + ' nao informado...' 
          EXEC master.dbo.xp_sendmail @nm_email_sa, 
               @subject = 'Cadastro de Areas com erro! - sa5a',
               @message = @mensagem
          SELECT @mensagem = ''
        END
      END
    END

    FETCH c_5a INTO @cd_area, @nm_email_gerente, @nm_email_analista
  END
  CLOSE c_5a
  DEALLOCATE c_5a
  -- Fim Retirada Cntr Fabrica ==> Gerente / Analista Área do Processo

  -- Retirada Cntr Fabrica ==> Gerente / Analista Área da Referencia - (5b)
  DECLARE c_5b CURSOR FOR  
    SELECT DISTINCT R.CD_AREA, LTRIM( RTRIM( ISNULL( A.NM_EMAIL_GERENTE, '' ) ) ),
           LTRIM( RTRIM( ISNULL( A.NM_EMAIL_ANALISTA, '' ) ) )
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TREF_CLIENTE R (NOLOCK), TAREA A (NOLOCK), TEMPRESA_NAC E (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.NR_PROCESSO = R.NR_PROCESSO AND
           R.CD_AREA = A.CD_AREA AND
           P.CD_CLIENTE = E.CD_EMPRESA AND
           ISNULL( TP_DEM_EMAIL, '0' ) = '1' AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( R.CD_AREA, '' ) <> '' AND
           C.DT_RET_CNTR_FABRICA IS NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_ret_cntr ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY R.CD_AREA
  OPEN c_5b
  FETCH c_5b INTO @cd_area, @nm_email_gerente, @nm_email_analista
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_51b CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             P.CD_CLIENTE = E.CD_EMPRESA AND
             ISNULL( E.TP_DEM_EMAIL, '0' ) = '1' AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             @cd_area IN ( SELECT R.CD_AREA
                           FROM   TREF_CLIENTE R
                           WHERE  R.NR_PROCESSO = P.NR_PROCESSO ) AND
             C.DT_RET_CNTR_FABRICA IS NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_ret_cntr ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
      ORDER BY P.NR_PROCESSO
    OPEN c_51b
    FETCH c_51b INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_51b INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_51b
    DEALLOCATE c_51b
  
    IF @mensagem <> ''
    BEGIN
      IF ( LTRIM( RTRIM( ISNULL( @nm_email_gerente, '' ) ) ) <> '' ) AND
         ( LTRIM( RTRIM( ISNULL( @nm_email_analista, '' ) ) ) <> '' )
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 5b'

        EXEC master.dbo.xp_sendmail @nm_email_gerente,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica',
             @message = @mensagem

        EXEC master.dbo.xp_sendmail @nm_email_analista,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica',
             @message = @mensagem

        SELECT @mensagem2 = @mensagem + char(13) + char(10) +
               @nm_email_gerente + char(13) + char(10)

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica - 5b',
             @message = @mensagem2

        SELECT @mensagem2 = @mensagem + char(13) + char(10) +
               @nm_email_analista + char(13) + char(10)

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica - 5b',
             @message = @mensagem2

        SELECT @mensagem = ''
      END
      ELSE
      BEGIN
        IF ( LTRIM( RTRIM( ISNULL( @nm_email_gerente, '' ) ) ) = '' )
        BEGIN
          SELECT @mensagem = 'Email do Gerente da Area Codigo ' + @cd_area + ' nao informado...' 
          EXEC master.dbo.xp_sendmail @nm_email_sa, 
               @subject = 'Cadastro de Areas com erro! - sa5b',
               @message = @mensagem
          SELECT @mensagem = ''
        END

        IF ( LTRIM( RTRIM( ISNULL( @nm_email_analista, '' ) ) ) = '' )
        BEGIN 
          SELECT @mensagem = 'Email do Analista da Area Codigo ' + @cd_area + ' nao informado...' 
          EXEC master.dbo.xp_sendmail @nm_email_sa, 
               @subject = 'Cadastro de Areas com erro! - sa5b',
               @message = @mensagem
          SELECT @mensagem = ''
        END
      END
    END

    FETCH c_5b INTO @cd_area, @nm_email_gerente, @nm_email_analista
  END
  CLOSE c_5b
  DEALLOCATE c_5b
  -- Fim Retirada Cntr Fabrica ==> Gerente / Analista Área da Referencia

  -- Retirada Cntr Fabrica ==> Transportadora - (6)
  DECLARE c_6 CURSOR FOR  
    SELECT DISTINCT P.CD_TRANSP_NAC_DOC, LTRIM( RTRIM( ISNULL( NM_EMAIL, '' ) ) )
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TTRANSP_ROD T (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_TRANSP_NAC_DOC = T.CD_TRANSP_ROD AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_TRANSP_NAC_DOC, '' ) <> '' AND
           C.DT_RET_CNTR_FABRICA IS NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_ret_cntr ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY P.CD_TRANSP_NAC_DOC
  OPEN c_6
  FETCH c_6 INTO @cd_transp_nac_doc, @nm_email
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_61 CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_TRANSP_NAC_DOC = @cd_transp_nac_doc AND
             C.DT_RET_CNTR_FABRICA IS NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_ret_cntr ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
      ORDER BY P.NR_PROCESSO
    OPEN c_61
    FETCH c_61 INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_61 INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_61
    DEALLOCATE c_61
  
    IF @mensagem <> ''
    BEGIN
      IF LTRIM( RTRIM( ISNULL( @nm_email, '' ) ) ) <> ''
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 6'

        EXEC master.dbo.xp_sendmail @nm_email,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica',
             @message = @mensagem

        SELECT @mensagem = @mensagem + char(13) + char(10) + @nm_email

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica - 6',
             @message = @mensagem
        SELECT @mensagem = ''
      END
      ELSE
      BEGIN
        SELECT @mensagem = 'Email da Transportadora ' + @cd_transp_nac_doc + ' nao informado...' 
        EXEC master.dbo.xp_sendmail @nm_email_sa,
               @subject = 'Cadastro de Transportadoras com erro! - sa6',
               @message = @mensagem
        SELECT @mensagem = ''
      END
    END

    FETCH c_6 INTO @cd_transp_nac_doc, @nm_email
  END
  CLOSE c_6
  DEALLOCATE c_6
  -- Fim Retirada Cntr Fabrica ==> Transportadora

  -- Retirada Cntr Fabrica ==> Contato Fábrica / Contato Demurrage - (7)
  DECLARE c_7 CURSOR FOR  
    SELECT DISTINCT P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_CONTATO, CO.NM_EMAIL
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TCLIENTE_CONTATO CO (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_UNID_NEG = CO.CD_UNID_NEG AND
           P.CD_PRODUTO = CO.CD_PRODUTO AND
           P.CD_CLIENTE = CO.CD_CLIENTE AND
           P.CD_CONTATO = CO.CD_CONTATO AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_CONTATO, '' ) <> '' AND
           C.DT_RET_CNTR_FABRICA IS NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_ret_cntr ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY CO.NM_EMAIL, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_CONTATO
  OPEN c_7
  FETCH c_7 INTO @cd_unid_neg, @cd_produto, @cd_cliente, @cd_contato, @nm_email
  WHILE @@fetch_status = 0
  BEGIN
    IF LTRIM( RTRIM( ISNULL( @nm_email, '' ) ) ) = ''
    BEGIN
      SELECT @mensagem = 'Email do Contato: Unidade, Produto, Cliente e Codigo ' + 
                           @cd_unid_neg + ',' + @cd_produto + ',' + @cd_cliente + ' e ' + @cd_contato + ' nao informado...' 

      EXEC master.dbo.xp_sendmail @nm_email_sa, 
           @subject = 'Cadastro de Contatos com erro! - sa7',
           @message = @mensagem
    END

    IF LTRIM( RTRIM( ISNULL( @nm_email_dem, '' ) ) ) = ''
    BEGIN
      SELECT @mensagem = 'Email do Usuario de Demurrage - Codigo ' + @cd_usuario_demurrage + ' nao informado...' 

      EXEC master.dbo.xp_sendmail @nm_email_sa, 
           @subject = 'Cadastro do Usuario de Demurrage com erro! - sa7',
           @message = @mensagem
    END
    SELECT @mensagem = ''

    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_71 CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_UNID_NEG = @cd_unid_neg AND
             P.CD_PRODUTO = @cd_produto AND
             P.CD_CLIENTE = @cd_cliente AND
             P.CD_CONTATO = @cd_contato AND
             C.DT_RET_CNTR_FABRICA IS NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_ret_cntr ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
      ORDER BY P.NR_PROCESSO
    OPEN c_71
    FETCH c_71 INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_71 INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_71
    DEALLOCATE c_71
  
    IF @mensagem <> ''
    BEGIN
      IF LTRIM( RTRIM( ISNULL( @nm_email, '' ) ) ) <> ''
      BEGIN
        SELECT @mensagem2 = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 7'

        EXEC master.dbo.xp_sendmail @nm_email, 
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica',
             @message = @mensagem2

        SELECT @mensagem2 = @mensagem2 + char(13) + char(10) + @nm_email

        EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica - 7',
             @message = @mensagem2
      END
      SELECT @mensagem2 = ''

      IF LTRIM( RTRIM( ISNULL( @nm_email_dem, '' ) ) ) <> ''
      BEGIN
        SELECT @mensagem2 = @mensagem + char(13) + char(10) +
               'Sistema de Controle de Demurrage - DDBroker - 7'

        EXEC master.dbo.xp_sendmail @nm_email_dem, 
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica',
             @message = @mensagem2

        SELECT @mensagem2 = @mensagem2 + char(13) + char(10) + @nm_email_dem

        EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Atencao! Processo(s) sem Retirada do(s) Conteiner(es) da Fabrica - 7',
             @message = @mensagem2
      END

      SELECT @mensagem2 = ''
    END

    SELECT @mensagem  = ''

    FETCH c_7 INTO @cd_unid_neg, @cd_produto, @cd_cliente, @cd_contato, @nm_email
  END
  CLOSE c_7
  DEALLOCATE c_7
  -- Fim Retirada Cntr Fabrica ==> Contato Fábrica / Contato Demurrage

  -- Devolução Cntr ==> Gerente / Analista Área do Processo - (8a)
  DECLARE c_8a CURSOR FOR  
    SELECT DISTINCT P.CD_AREA, LTRIM( RTRIM( ISNULL( A.NM_EMAIL_GERENTE, '' ) ) ),
           LTRIM( RTRIM( ISNULL( A.NM_EMAIL_ANALISTA, '' ) ) )
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TAREA A (NOLOCK), TEMPRESA_NAC E (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_CLIENTE = E.CD_EMPRESA AND
           P.CD_AREA = A.CD_AREA AND
           ISNULL( E.TP_DEM_EMAIL, '0' ) = '0' AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_AREA, '' ) <> '' AND
           C.DT_RET_CNTR_FABRICA IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_demurrage ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY P.CD_AREA
  OPEN c_8a
  FETCH c_8a INTO @cd_area, @nm_email_gerente, @nm_email_analista
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_81a CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             P.CD_CLIENTE = E.CD_EMPRESA AND
             ISNULL( E.TP_DEM_EMAIL, '0' ) = '0' AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_AREA = @cd_area AND
             C.DT_RET_CNTR_FABRICA IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_demurrage ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
       ORDER BY P.NR_PROCESSO  
    OPEN c_81a
    FETCH c_81a INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_81a INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_81a
    DEALLOCATE c_81a
  
    IF @mensagem <> ''
    BEGIN
      IF ( LTRIM( RTRIM( ISNULL( @nm_email_gerente, '' ) ) ) <> '' ) AND
         ( LTRIM( RTRIM( ISNULL( @nm_email_analista, '' ) ) ) <> '' )
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 8a'

        EXEC master.dbo.xp_sendmail @nm_email_gerente,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es)',
             @message = @mensagem

        EXEC master.dbo.xp_sendmail @nm_email_analista,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es)',
             @message = @mensagem

        SELECT @mensagem2 = @mensagem + char(13) + char(10) +
               @nm_email_gerente + char(13) + char(10)

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es) - 8a',
             @message = @mensagem2

        SELECT @mensagem2 = @mensagem + char(13) + char(10) +
               @nm_email_analista + char(13) + char(10)

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es) - 8a',
             @message = @mensagem2

        SELECT @mensagem = ''
      END
      ELSE
      BEGIN
        IF ( LTRIM( RTRIM( ISNULL( @nm_email_gerente, '' ) ) ) = '' )
        BEGIN
          SELECT @mensagem = 'Email do Gerente da Area Codigo ' + @cd_area + ' nao informado...' 
          EXEC master.dbo.xp_sendmail @nm_email_sa, 
               @subject = 'Cadastro de Areas com erro! - sa8a',
               @message = @mensagem
          SELECT @mensagem = ''
        END

        IF ( LTRIM( RTRIM( ISNULL( @nm_email_analista, '' ) ) ) = '' )
        BEGIN 
          SELECT @mensagem = 'Email do Analista da Area Codigo ' + @cd_area + ' nao informado...' 
          EXEC master.dbo.xp_sendmail @nm_email_sa, 
               @subject = 'Cadastro de Areas com erro! - sa8a',
               @message = @mensagem
          SELECT @mensagem = ''
        END
      END
    END

    FETCH c_8a INTO @cd_area, @nm_email_gerente, @nm_email_analista
  END
  CLOSE c_8a
  DEALLOCATE c_8a
  -- Fim Devolução Cntr ==> Gerente / Analista Área do Processo

  -- Devolução Cntr ==> Gerente / Analista Área da Referencia - (8b)
  DECLARE c_8b CURSOR FOR  
    SELECT DISTINCT R.CD_AREA, LTRIM( RTRIM( ISNULL( A.NM_EMAIL_GERENTE, '' ) ) ),
           LTRIM( RTRIM( ISNULL( A.NM_EMAIL_ANALISTA, '' ) ) )
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TAREA A (NOLOCK), TREF_CLIENTE R (NOLOCK), TEMPRESA_NAC E (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.NR_PROCESSO = R.NR_PROCESSO AND
           P.CD_CLIENTE = E.CD_EMPRESA AND
           R.CD_AREA = A.CD_AREA AND
           ISNULL( E.TP_DEM_EMAIL, '0' ) = '1' AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( R.CD_AREA, '' ) <> '' AND
           C.DT_RET_CNTR_FABRICA IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_demurrage ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY R.CD_AREA
  OPEN c_8b
  FETCH c_8b INTO @cd_area, @nm_email_gerente, @nm_email_analista
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_81b CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             P.CD_CLIENTE = E.CD_EMPRESA AND
             ISNULL( E.TP_DEM_EMAIL, '0' ) = '1' AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             @cd_area IN ( SELECT R.CD_AREA
                           FROM   TREF_CLIENTE R
                           WHERE  R.NR_PROCESSO = P.NR_PROCESSO ) AND
             C.DT_RET_CNTR_FABRICA IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_demurrage ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
       ORDER BY P.NR_PROCESSO  
    OPEN c_81b
    FETCH c_81b INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_81b INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_81b
    DEALLOCATE c_81b
  
    IF @mensagem <> ''
    BEGIN
      IF ( LTRIM( RTRIM( ISNULL( @nm_email_gerente, '' ) ) ) <> '' ) AND
         ( LTRIM( RTRIM( ISNULL( @nm_email_analista, '' ) ) ) <> '' )
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 8b'

        EXEC master.dbo.xp_sendmail @nm_email_gerente,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es)',
             @message = @mensagem

        EXEC master.dbo.xp_sendmail @nm_email_analista,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es)',
             @message = @mensagem

        SELECT @mensagem2 = @mensagem + char(13) + char(10) +
               @nm_email_gerente + char(13) + char(10)

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es) - 8b',
             @message = @mensagem2

        SELECT @mensagem2 = @mensagem + char(13) + char(10) +
               @nm_email_analista + char(13) + char(10)

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es) - 8b',
             @message = @mensagem2

        SELECT @mensagem = ''
      END
      ELSE
      BEGIN
        IF ( LTRIM( RTRIM( ISNULL( @nm_email_gerente, '' ) ) ) = '' )
        BEGIN
          SELECT @mensagem = 'Email do Gerente da Area Codigo ' + @cd_area + ' nao informado...' 
          EXEC master.dbo.xp_sendmail @nm_email_sa, 
               @subject = 'Cadastro de Areas com erro! - sa8b',
               @message = @mensagem
          SELECT @mensagem = ''
        END

        IF ( LTRIM( RTRIM( ISNULL( @nm_email_analista, '' ) ) ) = '' )
        BEGIN 
          SELECT @mensagem = 'Email do Analista da Area Codigo ' + @cd_area + ' nao informado...' 
          EXEC master.dbo.xp_sendmail @nm_email_sa, 
               @subject = 'Cadastro de Areas com erro! - sa8b',
               @message = @mensagem
          SELECT @mensagem = ''
        END
      END
    END

    FETCH c_8b INTO @cd_area, @nm_email_gerente, @nm_email_analista
  END
  CLOSE c_8b
  DEALLOCATE c_8b
  -- Fim Devolução Cntr ==> Gerente / Analista Área da Referencia

  -- Devolução Cntr ==> Transportadora - (9)
  DECLARE c_9 CURSOR FOR  
    SELECT DISTINCT P.CD_TRANSP_NAC_DOC, LTRIM( RTRIM( ISNULL( NM_EMAIL, '' ) ) )
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TTRANSP_ROD T (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_TRANSP_NAC_DOC = T.CD_TRANSP_ROD AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_TRANSP_NAC_DOC, '' ) <> '' AND
           C.DT_RET_CNTR_FABRICA IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_demurrage ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY P.CD_TRANSP_NAC_DOC
  OPEN c_9
  FETCH c_9 INTO @cd_transp_nac_doc, @nm_email
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_91 CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_TRANSP_NAC_DOC = @cd_transp_nac_doc AND
             C.DT_RET_CNTR_FABRICA IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_demurrage ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
       ORDER BY P.NR_PROCESSO
    OPEN c_91
    FETCH c_91 INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_91 INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_91
    DEALLOCATE c_91
  
    IF @mensagem <> ''
    BEGIN
      IF LTRIM( RTRIM( ISNULL( @nm_email, '' ) ) ) <> ''
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 9'

        EXEC master.dbo.xp_sendmail @nm_email,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es)',
             @message = @mensagem

        SELECT @mensagem = @mensagem + char(13) + char(10) + @nm_email

        EXEC master.dbo.xp_sendmail @nm_email_sa,
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es) - 9',
             @message = @mensagem
        SELECT @mensagem = ''
      END
      ELSE
      BEGIN
        SELECT @mensagem = 'Email da Transportadora ' + @cd_transp_nac_doc + ' nao informado...' 
        EXEC master.dbo.xp_sendmail @nm_email_sa,
               @subject = 'Cadastro de Transportadoras com erro! - sa9',
               @message = @mensagem
        SELECT @mensagem = ''
      END
    END

    FETCH c_9 INTO @cd_transp_nac_doc, @nm_email
  END
  CLOSE c_9
  DEALLOCATE c_9
  -- Fim Devolução Cntr ==> Transportadora

  -- Devolução Cntr ==> Contato Fábrica - (10)
  DECLARE c_10 CURSOR FOR  
    SELECT DISTINCT P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_CONTATO, CO.NM_EMAIL
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TCLIENTE_CONTATO CO (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_UNID_NEG = CO.CD_UNID_NEG AND
           P.CD_PRODUTO = CO.CD_PRODUTO AND
           P.CD_CLIENTE = CO.CD_CLIENTE AND
           P.CD_CONTATO = CO.CD_CONTATO AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ISNULL( P.CD_CONTATO, '' ) <> '' AND
           C.DT_RET_CNTR_FABRICA IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_demurrage ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    ORDER BY CO.NM_EMAIL, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_CONTATO
  OPEN c_10
  FETCH c_10 INTO @cd_unid_neg, @cd_produto, @cd_cliente, @cd_contato, @nm_email
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    DECLARE c_101 CURSOR FOR 
      SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
      FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
      WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
             C.IN_DEMURRAGE = '1' AND
             C.DT_DEVOLUCAO_CNTR IS NULL AND
             C.DT_DEMURRAGE IS NOT NULL AND
             P.CD_UNID_NEG = @cd_unid_neg AND
             P.CD_PRODUTO = @cd_produto AND
             P.CD_CLIENTE = @cd_cliente AND
             P.CD_CONTATO = @cd_contato AND
             C.IN_DEMURRAGE = 1 AND
             C.DT_RET_CNTR_FABRICA IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
             ( SELECT F.DT_REALIZACAO
               FROM   TFOLLOWUP F (NOLOCK)
               WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                      F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
             P.IN_CANCELADO = '0' AND
             ( C.DT_DEMURRAGE - @nr_dias_demurrage ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
    OPEN c_101
    FETCH c_101 INTO @nr_processo, @nr_cntr, @dt_demurrage
    WHILE @@fetch_status = 0
    BEGIN
      SELECT @mensagem = @mensagem + 
                         LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                         SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                         SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                         SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                         CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

      FETCH c_101 INTO @nr_processo, @nr_cntr, @dt_demurrage
    END
    CLOSE c_101
    DEALLOCATE c_101
  
    IF @mensagem <> ''
    BEGIN
      IF LTRIM( RTRIM( ISNULL( @nm_email, '' ) ) ) <> ''
      BEGIN
        SELECT @mensagem = @mensagem + char(13) + char(10) + 
               'Sistema de Controle de Demurrage - DDBroker - 10'

        EXEC master.dbo.xp_sendmail @nm_email, 
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es)',
             @message = @mensagem

        SELECT @mensagem = @mensagem + char(13) + char(10) + @nm_email

        EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es) - 10',
             @message = @mensagem
      END
      ELSE
      BEGIN
        SELECT @mensagem = 'Email do Contato: Unidade, Produto, Cliente e Codigo ' + 
                           @cd_unid_neg + ',' + @cd_produto + ',' + @cd_cliente + ' e ' + @cd_contato + ' nao informado...' 
        EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Cadastro de Contatos com erro! - sa10',
             @message = @mensagem
        SELECT @mensagem = ''
      END
    END

    FETCH c_10 INTO @cd_unid_neg, @cd_produto, @cd_cliente, @cd_contato, @nm_email
  END
  CLOSE c_10
  DEALLOCATE c_10
  -- Fim Devolução Cntr ==> Contato Fábrica / Contato Demurrage

  -- Devolução Cntr ==> Contato Demurrage - (11)
  SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

  DECLARE c_11 CURSOR FOR 
    SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           C.IN_DEMURRAGE = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           C.DT_RET_CNTR_FABRICA IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) ) IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) ) IS NOT NULL AND
           P.IN_CANCELADO = '0' AND
           ( C.DT_DEMURRAGE - @nr_dias_demurrage ) <= CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )
      ORDER BY P.NR_PROCESSO
  OPEN c_11
  FETCH c_11 INTO @nr_processo, @nr_cntr, @dt_demurrage
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = @mensagem + 
                       LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                       SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                       SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                       SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                       SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                       CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

    FETCH c_11 INTO @nr_processo, @nr_cntr, @dt_demurrage
  END
  CLOSE c_11
  DEALLOCATE c_11
  
  IF @mensagem <> ''
  BEGIN
    IF LTRIM( RTRIM( ISNULL( @nm_email_dem, '' ) ) ) <> ''
    BEGIN
      SELECT @mensagem = @mensagem + char(13) + char(10) + 
             'Sistema de Controle de Demurrage - DDBroker - 11'

      EXEC master.dbo.xp_sendmail @nm_email_dem,
           @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es)',
           @message = @mensagem

      SELECT @mensagem = @mensagem + char(13) + char(10) + @nm_email_dem

      EXEC master.dbo.xp_sendmail @nm_email_sa, 
           @subject = 'Atencao! Processo(s) sem Devolucao do(s) Conteiner(es) - sa11',
           @message = @mensagem
      SELECT @mensagem = ''
    END
    ELSE
    BEGIN
      SELECT @mensagem = 'Email do Usuario de Demurrage - Codigo ' + @cd_usuario_demurrage + ' nao informado...' 
      EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Cadastro do Usuario de Demurrage com erro! - sa11',
             @message = @mensagem
      SELECT @mensagem = ''
    END
  END
  -- Fim Devolução Cntr ==> Contato Demurrage

  -- Desova ==> Contato Demurrage - (12)
  SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

  DECLARE c_12 CURSOR FOR 
    SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           C.IN_DEMURRAGE = '1' AND
           C.IN_DESOVA = '1' AND
           C.DT_DEVOLUCAO_CNTR IS NULL AND
           C.DT_DEMURRAGE IS NOT NULL AND
           ( SELECT F.DT_REALIZACAO
             FROM   TFOLLOWUP F (NOLOCK)
             WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                    F.IN_APLICAVEL = '1' AND
                    F.CD_EVENTO IN ( SELECT CD_EV_SOLIC_DESOVA FROM TPARAMETROS ) ) IS NOT NULL AND
           ( ( ( SELECT F.DT_REALIZACAO
                 FROM   TFOLLOWUP F (NOLOCK)
                 WHERE  F.NR_PROCESSO = C.NR_PROCESSO AND
                        F.IN_APLICAVEL = '1' AND
                        F.CD_EVENTO IN ( SELECT CD_EV_SOLIC_DESOVA FROM TPARAMETROS ) ) + 2 ) <= 
             CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 ) ) AND
           EXISTS( SELECT *
                   FROM   TFOLLOWUP F (NOLOCK)
                   WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                          F.IN_APLICAVEL = '1' AND
                          F.CD_EVENTO IN ( SELECT CD_EV_SOLIC_DESOVA FROM TPARAMETROS ) ) AND
           P.IN_CANCELADO = '0'
    ORDER BY C.NR_PROCESSO 
  OPEN c_12
  FETCH c_12 INTO @nr_processo, @nr_cntr, @dt_demurrage
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @mensagem = @mensagem + 
                       LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                       SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                       SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                       SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                       SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                       CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

    FETCH c_12 INTO @nr_processo, @nr_cntr, @dt_demurrage
  END
  CLOSE c_12
  DEALLOCATE c_12
  
  IF @mensagem <> ''
  BEGIN
    IF LTRIM( RTRIM( ISNULL( @nm_email_dem, '' ) ) ) <> ''
    BEGIN
      SELECT @mensagem = @mensagem + char(13) + char(10) + 
             'Sistema de Controle de Demurrage - DDBroker - 12'

      EXEC master.dbo.xp_sendmail @nm_email_dem,
           @subject = 'Atencao! Conteiner(es) Desovado(s) e nao Devolvido(s)',
           @message = @mensagem

      SELECT @mensagem = @mensagem + char(13) + char(10) + @nm_email_dem

      EXEC master.dbo.xp_sendmail @nm_email_sa, 
           @subject = 'Atencao! Conteiner(es) Desovado(s) e nao Devolvido(s) - sa12',
           @message = @mensagem
      SELECT @mensagem = ''
    END
    ELSE
    BEGIN
      SELECT @mensagem = 'Email do Usuario de Demurrage - Codigo ' + @cd_usuario_demurrage + ' nao informado...' 
      EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Cadastro do Usuario de Demurrage com erro! - sa12',
             @message = @mensagem
      SELECT @mensagem = ''
    END
  END
  -- Fim Desova ==> Contato Demurrage

  -- Falta Recibo ==> Contato Demurrage - (13)
  -- Quando Sistema de Geração de Pagamentos de Demurrage for proveniente das Faturas, exibir Data e Nº da Fatura
  SELECT @mensagem = 'Processo   - Valor Pago' + char(13) + char(10)
  DECLARE c_13 CURSOR FOR
    SELECT DISTINCT F.NR_PROCESSO, F.VL_ITEM
    FROM   TFATURAMENTO_CC F (NOLOCK)
    WHERE  F.CD_ITEM IN ( SELECT CD_ITEM_DEMURRAGE FROM TPARAMETROS ) AND
           EXISTS( SELECT *
                   FROM   TDEM_FAT C (NOLOCK), TDEM_FAT_CNTR FC (NOLOCK)
                   WHERE  C.CD_UNID_NEG = FC.CD_UNID_NEG AND
                          C.NR_FATURA   = FC.NR_FATURA AND
                          FC.NR_PROCESSO = F.NR_PROCESSO AND
                          C.IN_RECIBO = '0' )
    ORDER BY F.NR_PROCESSO
  OPEN c_13
  FETCH c_13 INTO @nr_processo, @vl_item
  WHILE @@fetch_status = 0 
  BEGIN
    SELECT @mensagem = @mensagem + 
                       LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                       CONVERT( varchar, CONVERT( numeric(14,2), ROUND( @vl_item, 2 ) ) ) + char(13) + char(10)
    
    FETCH c_13 INTO @nr_processo, @vl_item
  END
  CLOSE c_13
  DEALLOCATE c_13

  IF @mensagem <> ''
  BEGIN
    IF LTRIM( RTRIM( ISNULL( @nm_email_dem, '' ) ) ) <> ''
    BEGIN
      SELECT @mensagem = @mensagem + char(13) + char(10) + 
             'Sistema de Controle de Demurrage - DDBroker - 13'

      EXEC master.dbo.xp_sendmail @nm_email_dem,
           @subject = 'Atencao! Processo(s) sem Recibo(s) de Pagto Demurrage',
           @message = @mensagem

      SELECT @mensagem = @mensagem + char(13) + char(10) + @nm_email_dem

      EXEC master.dbo.xp_sendmail @nm_email_sa, 
           @subject = 'Atencao! Processo(s) sem Recibo(s) de Pagto Demurrage - sa13',
           @message = @mensagem
      SELECT @mensagem = ''
    END
    ELSE
    BEGIN
      SELECT @mensagem = 'Email do Usuario de Demurrage - Codigo ' + @cd_usuario_demurrage + ' nao informado...' 
      EXEC master.dbo.xp_sendmail @nm_email_sa, 
             @subject = 'Cadastro do Usuario de Demurrage com erro! - sa13',
             @message = @mensagem
      SELECT @mensagem = ''
    END
  END
  -- Fim Falta Recibo ==> Contato Demurrage

  -- Dt Demurrage < 01/01/1901 ==> Adiministrador do sistema - (14)
  DECLARE c_14 CURSOR FOR 
    SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           C.DT_DEMURRAGE < '01/01/1901'
    ORDER BY C.NR_PROCESSO, C.NR_CNTR
  OPEN c_14
  FETCH c_14 INTO @nr_processo, @nr_cntr, @dt_demurrage
  WHILE @@fetch_status = 0
  BEGIN
    IF @mensagem = ''
      SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)
 
    SELECT @mensagem = @mensagem + 
                       LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                       SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                       SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                       SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                       SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                       CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

    FETCH c_14 INTO @nr_processo, @nr_cntr, @dt_demurrage
  END
  CLOSE c_14
  DEALLOCATE c_14
  
  IF @mensagem <> ''
  BEGIN
    SELECT @mensagem = @mensagem + char(13) + char(10) + 
                       'Sistema de Controle de Demurrage - DDBroker'
    EXEC master.dbo.xp_sendmail @nm_email_sa,
         @subject = 'Atencao! Processo(s) com Data de Demurrage de 1900 - sa14',
         @message = @mensagem
    SELECT @mensagem = ''
  END
  -- Fim Dt Demurrage < 01/01/1901 ==> Adiministrador do sistema

  -- Processos sem Dt. Demurrage ==> Adiministrador do sistema - (15)
  DECLARE c_15 CURSOR FOR 
    SELECT C.NR_PROCESSO, C.NR_CNTR, C.DT_DEMURRAGE
    FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK)
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           C.IN_DEMURRAGE = '1' AND
           P.IN_CANCELADO = '0' AND
           P.CD_PRODUTO = '01' AND
           ISNULL( C.DT_ENT, 0 ) <> 0 AND
           ISNULL( C.NR_FREE_TIME, '' ) <> '' AND
           ISNULL( C.DT_DEMURRAGE, 0 ) = 0
    ORDER BY C.NR_PROCESSO, C.NR_CNTR
  OPEN c_15
  FETCH c_15 INTO @nr_processo, @nr_cntr, @dt_demurrage
  WHILE @@fetch_status = 0
  BEGIN
    IF @mensagem = ''
      SELECT @mensagem = 'Processo   - Conteiner      - Vencto Demurrage' + char(13) + char(10)

    SELECT @mensagem = @mensagem + 
                       LTRIM( RTRIM( SUBSTRING( @nr_processo, 5, 14 ) ) ) + ' - ' +
                       SUBSTRING( @nr_cntr, 1, 4 ) + '-' +
                       SUBSTRING( @nr_cntr, 5, 3 ) + '-' +
                       SUBSTRING( @nr_cntr, 8, 3 ) + '-' +
                       SUBSTRING( @nr_cntr, 11, 1 ) + ' - ' +
                       CONVERT( char(10), @dt_demurrage, 103 ) + char(13) + char(10)

    FETCH c_15 INTO @nr_processo, @nr_cntr, @dt_demurrage
  END
  CLOSE c_15
  DEALLOCATE c_15
  
  IF @mensagem <> ''
  BEGIN
    SELECT @mensagem = @mensagem + char(13) + char(10) + 
                       'Sistema de Controle de Demurrage - DDBroker - 15'
    EXEC master.dbo.xp_sendmail @nm_email_sa, 
         @subject = 'Atencao! Processo(s) sem Data de Demurrage - sa15',
         @message = @mensagem
    SELECT @mensagem = ''
  END
  -- Fim Processos sem Dt. Demurrage ==> Adiministrador do sistema

  SELECT @mensagem = 'Rotina concluída com sucesso!!!!'
  EXEC master.dbo.xp_sendmail @nm_email_sa,
       @subject = 'SUCESSO!!!!',
       @message = @mensagem
  SELECT @mensagem = ''
END
-- @in_aviso_demurrage





GO
