USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ATUALIZA_PROCESSOS_SERVICO](@CD_SERVICO CHAR(3)) AS
BEGIN
    --DECLARE @CD_SERVICO CHAR(3) = '603'

    DECLARE @NM_SQL VARCHAR(1000)
    DECLARE @TB_EXEC AS TABLE (
        NM_SQL VARCHAR(1000)
    )
    INSERT INTO @TB_EXEC
    SELECT 'EXEC SP_MUDA_SERVICO ''' + RTRIM(NR_PROCESSO) + ''''
    FROM TFOLLOWUP (NOLOCK)
    WHERE CD_SERVICO = @CD_SERVICO
      AND CD_EVENTO = '092'
      AND DT_REALIZACAO IS NULL

    WHILE (SELECT COUNT(*) FROM @TB_EXEC) > 0
    BEGIN
        SELECT TOP 1 @NM_SQL = NM_SQL
        FROM @TB_EXEC

        DELETE @TB_EXEC WHERE NM_SQL = @NM_SQL

        PRINT @NM_SQL
        EXEC(@NM_SQL)
    END
END

GO
