USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.sp_duplica_di    Script Date: 02/09/1999 08:58:11 AM ******/
CREATE PROCEDURE [sp_duplica_di]( @nr_processo_fonte char(18), @nr_processo_destino char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo_fonte char(18)
DECLARE @nr_processo_destino char(18)

SELECT @nr_processo_fonte = '0101I0-7418-02'
SELECT @nr_processo_destino = '0101DD-0012-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

/* Verifica se Processo fonte Existe */
IF ( SELECT COUNT (*) 
     FROM   TDECLARACAO_IMPORTACAO 
     WHERE  ( NR_PROCESSO = @nr_processo_fonte ) ) = 0
BEGIN
  /* Processo Nao Existe */
  RETURN (1)
END
ELSE
BEGIN
  /* Verifica se Processo destino Existe */
  IF ( SELECT COUNT (*) 
       FROM   TDECLARACAO_IMPORTACAO 
       WHERE  ( NR_PROCESSO = @nr_processo_destino ) ) > 0
  BEGIN
    /* Processo ja Existe */
    RETURN (2)
  END
  ELSE
  BEGIN
    /* Transferir dados da Declaracao de Importacao */
    INSERT INTO TDECLARACAO_IMPORTACAO (
      NR_PROCESSO, NR_IDENT_USUARIO, CD_APLICACAO_MERC, CD_BANDEIRA_TRANSP, CD_COBERTURA_CAMBIAL,
      CD_DESTAQUE_NCM, CD_FORMA_PAGAMENTO, CD_FUND_LEGAL_II, CD_IMPORTADOR, CD_INCOTERM, CD_LOCAL_EMBARQUE,
      CD_METODO_VALORACAO, CD_MODALIDADE_DESP, CD_MODALIDADE_PAGTO, CD_MOEDA_DESPESAS, CD_MOEDA_FRETE,
      CD_MOEDA_MLE, CD_MOEDA_SEGURO, CD_MOTIVO_SEM_COBERTURA, CD_MOTIVO_TRANS, CD_PAIS_IMPORTADOR,
      CD_PAIS_PROC_CARGA, CD_RECINTO_ALFAND, CD_REG_TRIB_II, CD_REG_TRIB_IPI, CD_SETOR_ARMAZENAM, 
      CD_TIPO_AG_CARGA, CD_TIPO_CONSIG, CD_TIPO_DCTO_CARGA, CD_TIPO_DECLARACAO, CD_TIPO_IMPORTADOR,
      CD_TIPO_MANIFESTO, CD_TRANSPORTADOR, CD_URF_DESPACHO, CD_URF_ENTR_CARGA, CD_UTIL_DCTO_CARGA,
      CD_VIA_TRANSP_CARG, CD_VINC_IMPO_EXPO, DT_CHEGADA_CARGA, DT_EMBARQUE, IN_BEM_ENCOMENDA, IN_MATERIAL_USADO,
      IN_MOEDA_NACIONAL, IN_MOEDA_UNICA, IN_MULTIMODAL, IN_OPERACAO_FUNDAP, IN_RATEAR_FRETE_ITENS,
      IN_RATEAR_SEGURO_ITENS, IN_REPASSA_DADOS_ADICAO, IN_REPASSA_DADOS_CAMBIO, NM_CONSIGNATARIO,
      NM_VEICULO_TRANSP, NR_AGENTE_CARGA, NR_BANCO_COM, NR_BANCO_PAGAMENTO, NR_COMPRADOR_ME, NR_CONSIGNATARIO,
      NR_CONTRATO_CAMBIO, NR_CPF_REPR_LEGAL, NR_DCTO_CARGA, NR_DCTO_CARGA_MAST, NR_IDENTIFICACAO_COM,
      NR_MANIFESTO, NR_PRACA_COM, NR_PRACA_PAGAMENTO, NR_ROF, NR_VEICULO_TRANSP, PB_CARGA, PC_COMISSAO, PC_ICMS,
      PC_REDUCAO_ICMS, PL_CARGA, QT_ADICOES, TX_INFO_COMPL, VL_FRETE_TNAC_MNEG, VL_TOT_DESPS_MN, 
      VL_TOT_DESPS_MNEG, VL_TOT_FRT_COLLECT, VL_TOT_FRT_PREPAID, VL_TOT_MLE_MNEG, VL_TOT_SEGURO_MNEG,
      VL_TOTAL_FRETE_MN, VL_TOTAL_MLE_MN, VL_TOTAL_SEG_MN, PC_SEGURO_MLE, VL_TOTAL_II, VL_TOTAL_IPI, VL_TOTAL_AD,
      DT_ULTIMA_ALTERACAO, IN_RISC_ATUALIZADO, CD_TIPO_BASE_SEGURO, IN_REB, VL_TOT_ICMS, CD_TIPO_PGTO_TRIB,
      NR_CONTA_PGTO_TRIB, TX_MLE, TX_FRETE, TX_SEGURO, TX_DOLAR, NR_REF_CLI, IN_SISCOMEX, CD_TIPO_ICMS,
      IN_ICMS_IMPRESSO, VL_TOTAL_ACRESCIMOS_MN, VL_TOTAL_DEDUCOES_MN, VL_DESPESA_ITEM, VL_DESPESA_ITEM_MN,
      CD_ORGAO_FIN_INTER, CD_PRESENCA_CARGA, NR_SEQ_RETIFICACAO, CD_MOTIVO_RETIF, DT_RETIFICACAO, 
      DT_EXON_IMPRESSO, IN_EXON_IMPRESSO, CD_TRIBUTACAO_ICMS, CD_FUND_LEGAL_ICMS, CD_FABRICANTE, 
      CD_PAIS_ORIG_MERC, CD_FORNECEDOR, CD_PAIS_AQUIS_MERC, CD_AUSENCIA_FABRIC, VL_TOTAL_CAMBIO, QT_PARC_FINANC_360, 
      QT_PERIOD_PGTO_360, CD_PERIOD_PGTO_360, IN_EMBUT_FRT_ITENS, IN_EMBUT_SEG_ITENS )
    SELECT @nr_processo_destino, NR_IDENT_USUARIO, CD_APLICACAO_MERC, CD_BANDEIRA_TRANSP, CD_COBERTURA_CAMBIAL, 
           CD_DESTAQUE_NCM, CD_FORMA_PAGAMENTO, CD_FUND_LEGAL_II, CD_IMPORTADOR, CD_INCOTERM, CD_LOCAL_EMBARQUE, 
           CD_METODO_VALORACAO, CD_MODALIDADE_DESP, CD_MODALIDADE_PAGTO, CD_MOEDA_DESPESAS, CD_MOEDA_FRETE,
   	   CD_MOEDA_MLE, CD_MOEDA_SEGURO, CD_MOTIVO_SEM_COBERTURA, CD_MOTIVO_TRANS, CD_PAIS_IMPORTADOR,
	   CD_PAIS_PROC_CARGA, CD_RECINTO_ALFAND, CD_REG_TRIB_II, CD_REG_TRIB_IPI, CD_SETOR_ARMAZENAM, 
 	   CD_TIPO_AG_CARGA, CD_TIPO_CONSIG, CD_TIPO_DCTO_CARGA, CD_TIPO_DECLARACAO, CD_TIPO_IMPORTADOR,
 	   CD_TIPO_MANIFESTO, CD_TRANSPORTADOR, CD_URF_DESPACHO, CD_URF_ENTR_CARGA, CD_UTIL_DCTO_CARGA, 
	   CD_VIA_TRANSP_CARG, CD_VINC_IMPO_EXPO, DT_CHEGADA_CARGA, DT_EMBARQUE, IN_BEM_ENCOMENDA, IN_MATERIAL_USADO,
 	   IN_MOEDA_NACIONAL, IN_MOEDA_UNICA, IN_MULTIMODAL, IN_OPERACAO_FUNDAP, IN_RATEAR_FRETE_ITENS,
	   IN_RATEAR_SEGURO_ITENS, IN_REPASSA_DADOS_ADICAO, IN_REPASSA_DADOS_CAMBIO, NM_CONSIGNATARIO,
	   NM_VEICULO_TRANSP, NR_AGENTE_CARGA, NR_BANCO_COM, NR_BANCO_PAGAMENTO, NR_COMPRADOR_ME, NR_CONSIGNATARIO,
	   NR_CONTRATO_CAMBIO, NR_CPF_REPR_LEGAL, NR_DCTO_CARGA, NR_DCTO_CARGA_MAST, NR_IDENTIFICACAO_COM,
	   NR_MANIFESTO, NR_PRACA_COM, NR_PRACA_PAGAMENTO, NR_ROF, NR_VEICULO_TRANSP, PB_CARGA, PC_COMISSAO, PC_ICMS,
	   PC_REDUCAO_ICMS, PL_CARGA, QT_ADICOES, TX_INFO_COMPL, VL_FRETE_TNAC_MNEG, VL_TOT_DESPS_MN, 
	   VL_TOT_DESPS_MNEG, VL_TOT_FRT_COLLECT, VL_TOT_FRT_PREPAID, VL_TOT_MLE_MNEG, VL_TOT_SEGURO_MNEG,
	   VL_TOTAL_FRETE_MN, VL_TOTAL_MLE_MN, VL_TOTAL_SEG_MN, PC_SEGURO_MLE, VL_TOTAL_II, VL_TOTAL_IPI, VL_TOTAL_AD,
	   DT_ULTIMA_ALTERACAO, IN_RISC_ATUALIZADO, CD_TIPO_BASE_SEGURO, IN_REB, VL_TOT_ICMS, CD_TIPO_PGTO_TRIB,
	   NR_CONTA_PGTO_TRIB, TX_MLE, TX_FRETE, TX_SEGURO, TX_DOLAR, NR_REF_CLI, '0', CD_TIPO_ICMS,
 	   '0', VL_TOTAL_ACRESCIMOS_MN, VL_TOTAL_DEDUCOES_MN, VL_DESPESA_ITEM, VL_DESPESA_ITEM_MN,
 	   CD_ORGAO_FIN_INTER, CD_PRESENCA_CARGA, NR_SEQ_RETIFICACAO, CD_MOTIVO_RETIF, DT_RETIFICACAO, 
	   DT_EXON_IMPRESSO, IN_EXON_IMPRESSO, CD_TRIBUTACAO_ICMS, CD_FUND_LEGAL_ICMS, CD_FABRICANTE, 
	   CD_PAIS_ORIG_MERC, CD_FORNECEDOR, CD_PAIS_AQUIS_MERC, CD_AUSENCIA_FABRIC, VL_TOTAL_CAMBIO, QT_PARC_FINANC_360, QT_PERIOD_PGTO_360, CD_PERIOD_PGTO_360, IN_EMBUT_FRT_ITENS, IN_EMBUT_SEG_ITENS
    FROM   TDECLARACAO_IMPORTACAO 
    WHERE  NR_PROCESSO = @nr_processo_fonte

    /* Transferir dados da DI - Carga_Armazem */
    INSERT INTO TCARGA_ARMAZEM ( NR_PROCESSO, NR_SEQUENCIA, NM_ARMAZEM_CARGA )
      SELECT @nr_processo_destino, NR_SEQUENCIA, NM_ARMAZEM_CARGA 
      FROM   TCARGA_ARMAZEM 
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Compensacao_Credito */
    INSERT INTO TCOMPENSACAO_CREDITO( NR_PROCESSO, CD_RECEITA_CREDITO, VL_COMPENSAR_CRED, NR_DCTO_GERADOR_CR )
      SELECT @nr_processo_destino, CD_RECEITA_CREDITO, VL_COMPENSAR_CRED, NR_DCTO_GERADOR_CR
      FROM   TCOMPENSACAO_CREDITO
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Documento_Instrucao */
    INSERT INTO TDOCUMENTO_INSTRUCAO ( NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_DCTO_INSTR, NR_DCTO_INSTRUCAO )
      SELECT @nr_processo_destino, NR_SEQUENCIA,/*
              ( SELECT ISNULL( MAX( NR_SEQUENCIA ), 0 ) + 1
                FROM   TDOCUMENTO_INSTRUCAO
                WHERE  NR_PROCESSO = @nr_processo_destino ), */CD_TIPO_DCTO_INSTR, NR_DCTO_INSTRUCAO 
      FROM   TDOCUMENTO_INSTRUCAO
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Embalagem_Carga */
    INSERT INTO TEMBALAGEM_CARGA ( NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_EMBALAGEM, QT_VOLUME_CARGA )
      SELECT @nr_processo_destino, NR_SEQUENCIA, CD_TIPO_EMBALAGEM, QT_VOLUME_CARGA 
      FROM   TEMBALAGEM_CARGA
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Pagamento_Tributos */
    INSERT INTO TPAGAMENTO_TRIBUTOS ( NR_PROCESSO, CD_RECEITA_PGTO, CD_BANCO_PGTO_TRIB, NR_AGENC_PGTO_TRIB, VL_TRIBUTO_PAGO,
                                      DT_PGTO_TRIBUTO, VL_MULTA_PGTO_TRIB, VL_JUROS_PGTO_TRIB )
      SELECT @nr_processo_destino, CD_RECEITA_PGTO, CD_BANCO_PGTO_TRIB, NR_AGENC_PGTO_TRIB, VL_TRIBUTO_PAGO, 
             DT_PGTO_TRIBUTO, VL_MULTA_PGTO_TRIB, VL_JUROS_PGTO_TRIB
      FROM   TPAGAMENTO_TRIBUTOS
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Processo_DI */
    INSERT INTO TPROCESSO_DI ( NR_PROCESSO, NR_SEQUENCIA, CD_TIPO_PROCESSO, NR_PROCESSO_INSTR )
      SELECT @nr_processo_destino, NR_SEQUENCIA, CD_TIPO_PROCESSO, NR_PROCESSO_INSTR
      FROM   TPROCESSO_DI
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Adicao_de_Importacao */
    /* Transferir dados da DI - Adicao_de_Importacao */
    INSERT INTO TADICAO_DE_IMPORTACAO ( NR_PROCESSO, NR_ADICAO, CD_ACORDO_ALADI, CD_AGENC_AGENT_IMP, CD_APLICACAO_MERC, 
                  CD_AUSENCIA_FABRIC, CD_BANC_AGENTE_IMP, CD_COBERT_CAMBIAL, CD_FABRICANTE, CD_FORNECEDOR,
                  CD_FUND_LEG_REGIME, CD_INCOTERMS_VENDA, CD_LOC_COND_VENDA, CD_MD_FRETE_MERC, CD_MERC_NALADI_NCC,
                  CD_MERC_NALADI_SH, CD_MERC_NBM_SH, CD_NCM_SH, CD_MERCADORIA_NCM, CD_METOD_VALORACAO,
                  CD_MODALIDADE_PGTO, CD_MOEDA_NEGOCIADA, CD_MOEDA_SEG_MERC, CD_MOEDAS_DESPESAS, CD_MOTIVO_ADM_TEMP,
                  CD_MOTIVO_SEM_COB, CD_ORGAO_FIN_INTER, CD_PAIS_AQUIS_MERC, CD_PAIS_ORIG_MERC, CD_PAIS_PROC_MERC,
                  CD_PERIOD_PGTO_360, CD_REGIME_TRIBUTAR, CD_TAXA_JUROS, CD_TIPO_ACORDO_TAR, CD_TIPO_AGENTE_IMP,
                  CD_URF_ENTR_MERC, CD_VIA_TRANSPORTE, CD_VINC_IMPO_EXPO, ED_CIDAD_FABRIC, ED_CIDAD_FORN_ESTR,
                  ED_COMPL_FABRIC, ED_COMPL_FORN_ESTR, ED_ESTAD_FORN_ESTR, ED_ESTADO_FABRIC, ED_LOGR_FABRIC, 
                  ED_LOGR_FORN_ESTR, ED_NR_FABRIC, ED_NR_FORN_ESTR, IN_BEM_ENCOMENDA, IN_IPI_NAO_TRIBUT, 
                  IN_JUROS_ATE_360, IN_MATERIAL_USADO, IN_MULTIMODAL, IN_PGTO_VARIAV_360, NM_FABRICANTE_MERC,
                  NM_FORN_ESTR, NR_AGENTE_IMP, NR_DCTO_REDUCAO, NR_OPER_TRAT_PREV, NR_ROF, PC_COEF_REDUC_II,
                  PC_COMISSAO_AG_IMP, PC_TAXA_JUROS, PL_MERCADORIA, QT_ITENS_ADICAO, QT_PARC_FINANC_360, 
                  QT_PERIOD_PGTO_360, QT_UN_ESTATISTICA, TX_COMPL_VL_ADUAN, VL_ACRESCIMOS_MN,
                  vl_base_calculo_mn, VL_CALC_DCR_DOLAR, VL_COMISSAO_AG_IMP, VL_DEDUCOES_MN, VL_DESPESAS_MN,
                  VL_DESPESAS_MNEG, VL_FINANC_SUP_360, VL_FRETE_MERC_MN, VL_FRETE_MERC_MNEG, VL_II_A_REC_ZFM,
                  VL_II_CALC_DCR_MN, VL_II_DEVIDO_ZFM, VL_MERC_COND_VENDA, VL_MERC_EMB_MN, vl_merc_loc_emb_mn,
                  VL_MERC_VENDA_MN, VL_SEG_MERC_MN, VL_SEG_MERC_MNEG, VL_TOT_FINANC_360, VL_UNID_LOC_EMP,
                  IN_ADICAO_CALCULADA, PC_ICMS,PC_REDUCAO_ICMS, VL_ICMS_CALCULADO, VL_ICMS_A_RECOLHER,
                  vl_merc_loc_emb_mneg, CD_MOEDA_MLE, TX_MLE, TX_FRETE, TX_SEGURO, TX_DOLAR, CD_TRIBUTACAO_ICMS, 
                  CD_FUND_LEGAL_ICMS, VL_DESPESAS, VL_BASE_CALC_II, VL_BASE_CALC_IPI, VL_BASE_CALC_ICMS,
                  NR_DESTAQUE_NCM )
           SELECT @nr_processo_destino, NR_ADICAO, CD_ACORDO_ALADI, CD_AGENC_AGENT_IMP, CD_APLICACAO_MERC, 
                  CD_AUSENCIA_FABRIC, CD_BANC_AGENTE_IMP, CD_COBERT_CAMBIAL, CD_FABRICANTE, CD_FORNECEDOR,
                  CD_FUND_LEG_REGIME, CD_INCOTERMS_VENDA, CD_LOC_COND_VENDA, CD_MD_FRETE_MERC, CD_MERC_NALADI_NCC,
                  CD_MERC_NALADI_SH, CD_MERC_NBM_SH, CD_NCM_SH, CD_MERCADORIA_NCM, CD_METOD_VALORACAO,
                  CD_MODALIDADE_PGTO, CD_MOEDA_NEGOCIADA, CD_MOEDA_SEG_MERC, CD_MOEDAS_DESPESAS, CD_MOTIVO_ADM_TEMP,
                  CD_MOTIVO_SEM_COB, CD_ORGAO_FIN_INTER, CD_PAIS_AQUIS_MERC, CD_PAIS_ORIG_MERC, CD_PAIS_PROC_MERC,
                  CD_PERIOD_PGTO_360, CD_REGIME_TRIBUTAR, CD_TAXA_JUROS, CD_TIPO_ACORDO_TAR, CD_TIPO_AGENTE_IMP,
                  CD_URF_ENTR_MERC, CD_VIA_TRANSPORTE, CD_VINC_IMPO_EXPO, ED_CIDAD_FABRIC, ED_CIDAD_FORN_ESTR,
                  ED_COMPL_FABRIC, ED_COMPL_FORN_ESTR, ED_ESTAD_FORN_ESTR, ED_ESTADO_FABRIC, ED_LOGR_FABRIC, 
                  ED_LOGR_FORN_ESTR, ED_NR_FABRIC, ED_NR_FORN_ESTR, IN_BEM_ENCOMENDA, IN_IPI_NAO_TRIBUT, 
                  IN_JUROS_ATE_360, IN_MATERIAL_USADO, IN_MULTIMODAL, IN_PGTO_VARIAV_360, NM_FABRICANTE_MERC,
                  NM_FORN_ESTR, NR_AGENTE_IMP, NR_DCTO_REDUCAO, NR_OPER_TRAT_PREV, NR_ROF, PC_COEF_REDUC_II,
                  PC_COMISSAO_AG_IMP, PC_TAXA_JUROS, PL_MERCADORIA, QT_ITENS_ADICAO, QT_PARC_FINANC_360, 
                  QT_PERIOD_PGTO_360, QT_UN_ESTATISTICA, TX_COMPL_VL_ADUAN, VL_ACRESCIMOS_MN,
                  vl_base_calculo_mn, VL_CALC_DCR_DOLAR, VL_COMISSAO_AG_IMP, VL_DEDUCOES_MN, VL_DESPESAS_MN,
                  VL_DESPESAS_MNEG, VL_FINANC_SUP_360, VL_FRETE_MERC_MN, VL_FRETE_MERC_MNEG, VL_II_A_REC_ZFM,
                  VL_II_CALC_DCR_MN, VL_II_DEVIDO_ZFM, VL_MERC_COND_VENDA, VL_MERC_EMB_MN, vl_merc_loc_emb_mn,
                  VL_MERC_VENDA_MN, VL_SEG_MERC_MN, VL_SEG_MERC_MNEG, VL_TOT_FINANC_360, VL_UNID_LOC_EMP,
                  IN_ADICAO_CALCULADA, PC_ICMS,PC_REDUCAO_ICMS, VL_ICMS_CALCULADO, VL_ICMS_A_RECOLHER,
                  vl_merc_loc_emb_mneg, CD_MOEDA_MLE, TX_MLE, TX_FRETE, TX_SEGURO, TX_DOLAR, CD_TRIBUTACAO_ICMS, 
                  CD_FUND_LEGAL_ICMS, VL_DESPESAS, VL_BASE_CALC_II, VL_BASE_CALC_IPI, VL_BASE_CALC_ICMS,
                  NR_DESTAQUE_NCM
           FROM   TADICAO_DE_IMPORTACAO
           WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Acrescimo_Valoracao */
    INSERT INTO TACRESCIMO_VALORACAO ( 
      NR_PROCESSO, NR_ADICAO, CD_MET_ACRES_VALOR, VL_ACRESCIMO_MOEDA, CD_MD_NEGOC_ACRES, VL_ACRESCIMO_MN )
      SELECT @nr_processo_destino, NR_ADICAO, CD_MET_ACRES_VALOR, VL_ACRESCIMO_MOEDA, CD_MD_NEGOC_ACRES, VL_ACRESCIMO_MN 
      FROM   TACRESCIMO_VALORACAO
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Ato_Vinculado */
    INSERT INTO TATO_VINCULADO (
      NR_PROCESSO, NR_ADICAO, CD_ASSUNTO_VINCUL, SG_TIPO_ATO_VINCUL, SG_ORG_ATO_VINCUL, DT_ANO_ATO_VINCUL, 
      NR_ATO_VINCULADO, NR_EX_ATO_VINCUL )
    SELECT @nr_processo_destino, NR_ADICAO, CD_ASSUNTO_VINCUL, SG_TIPO_ATO_VINCUL, SG_ORG_ATO_VINCUL, DT_ANO_ATO_VINCUL,
           NR_ATO_VINCULADO, NR_EX_ATO_VINCUL
    FROM   TATO_VINCULADO
    WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Deducao_Valoracao */
    INSERT INTO TDEDUCAO_VALORACAO (
      NR_PROCESSO, NR_ADICAO, CD_MET_DEDUC_VALOR, VL_DEDUCAO_MNEG, CD_MD_NEGOC_DEDUC, VL_DEDUCAO_MN )
      SELECT @nr_processo_destino, NR_ADICAO, CD_MET_DEDUC_VALOR, VL_DEDUCAO_MNEG, CD_MD_NEGOC_DEDUC, VL_DEDUCAO_MN
      FROM   TDEDUCAO_VALORACAO
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Destaque_NCM */
    INSERT INTO TDESTAQUE_NCM ( NR_PROCESSO, NR_ADICAO, NR_SEQUENCIA, NR_DESTAQUE_NCM )
      SELECT @nr_processo_destino,NR_ADICAO,NR_SEQUENCIA,NR_DESTAQUE_NCM
      FROM   TDESTAQUE_NCM
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Documento_Vinculado */
    INSERT INTO TDOCUMENTO_VINCULADO ( NR_PROCESSO, NR_ADICAO, NR_SEQUENCIA, CD_TIPO_DCTO_VINC, NR_DCTO_VINCULADO )
      SELECT @nr_processo_destino, NR_ADICAO, NR_SEQUENCIA, CD_TIPO_DCTO_VINC, NR_DCTO_VINCULADO 
      FROM   TDOCUMENTO_VINCULADO
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Pagamento_Previsto */
    INSERT INTO TPAGAMENTO_PREVISTO (
      NR_PROCESSO, NR_ADICAO, NR_SEQUENCIA, DT_PREV_PGTO_360, VL_PREV_PGTO_360 )
      SELECT @nr_processo_destino, NR_ADICAO, NR_SEQUENCIA, DT_PREV_PGTO_360, VL_PREV_PGTO_360
      FROM   TPAGAMENTO_PREVISTO
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Pagamento_Vinculado */
    INSERT INTO TPAGAMENTO_VINCULADO (
      NR_PROCESSO, NR_ADICAO, CD_FORMA_PAGAMENTO, NR_SEQUENCIA, IN_PAGAMENTO_MN, CD_BANCO_PAGAMENTO, CD_PRACA_PAGAMENTO,
      NR_OP_CAMBIO, VL_VINC_MD_CAMBIO, NR_COMPR_CAMBIO, CD_TP_COMPR_CAMBIO )
      SELECT @nr_processo_destino, NR_ADICAO, CD_FORMA_PAGAMENTO, NR_SEQUENCIA, IN_PAGAMENTO_MN, CD_BANCO_PAGAMENTO,
             CD_PRACA_PAGAMENTO, NR_OP_CAMBIO, VL_VINC_MD_CAMBIO, NR_COMPR_CAMBIO, CD_TP_COMPR_CAMBIO
      FROM   TPAGAMENTO_VINCULADO 
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Tributo */
    INSERT INTO TRIBUTO (
      NR_PROCESSO, NR_ADICAO, CD_RECEITA_IMPOSTO, CD_TIPO_ALIQ_IPT, VL_BASE_CALC_ADVAL, PC_ALIQ_NORM_ADVAL, 
      VL_CALC_IPT_ADVAL, NM_UN_ALIQ_ESP_IPT, CD_TIPO_RECIPIENTE, QT_ML_RECIPIENTE, QT_MERC_UN_ALIQ_ES, 
      VL_ALIQ_ESPEC_IPT, VL_CALC_IPT_ESPEC, CD_TIPO_BENEF_IPI, PC_ALIQ_REDUZIDA, PC_REDUCAO_IPT_BLI,
      PC_ALIQ_ACOR_TARIF, VL_CALC_II_AC_TARI, VL_IMPOSTO_DEVIDO, VL_IPT_A_RECOLHER, CD_TIPO_DIREITO, NR_NOTA_COMPL_TIPI )
      SELECT @nr_processo_destino, NR_ADICAO, CD_RECEITA_IMPOSTO, CD_TIPO_ALIQ_IPT, VL_BASE_CALC_ADVAL, PC_ALIQ_NORM_ADVAL,
             VL_CALC_IPT_ADVAL, NM_UN_ALIQ_ESP_IPT, CD_TIPO_RECIPIENTE, QT_ML_RECIPIENTE, QT_MERC_UN_ALIQ_ES, 
             VL_ALIQ_ESPEC_IPT, VL_CALC_IPT_ESPEC, CD_TIPO_BENEF_IPI, PC_ALIQ_REDUZIDA, PC_REDUCAO_IPT_BLI, 
             PC_ALIQ_ACOR_TARIF, VL_CALC_II_AC_TARI, VL_IMPOSTO_DEVIDO, VL_IPT_A_RECOLHER, CD_TIPO_DIREITO, 
             NR_NOTA_COMPL_TIPI 
      FROM   TRIBUTO
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Valoracao_NCM */
    INSERT INTO TVALORACAO_NCM ( NR_PROCESSO, NR_ADICAO, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM )
      SELECT @nr_processo_destino,NR_ADICAO,CD_NIVEL_NVE,CD_ATRIBUTO_NCM,CD_ESPECIF_NCM
      FROM   TVALORACAO_NCM
      WHERE  NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - Detalhe_Mercadoria */
    INSERT INTO TDETALHE_MERCADORIA (
      NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_EXPORTADOR, CD_FABR_EXPO, CD_FABRICANTE, CD_MERCADORIA, CD_NALADI_NCCA, 
      CD_NALADI_SH, CD_NCM_SH, CD_PAIS_AQUISICAO, CD_PAIS_ORIGEM, CD_TIPO_CALCULO_ITEM, CD_UN_MED_COMERC, NR_FATURA,
      PC_DESCONTO_MERC, PL_MERCADORIA, QT_MERC_UN_COMERC, QT_MERC_UN_ESTAT, TX_DESC_DET_MERC, VL_DESCONTO_MERC, 
      VL_FRETE_ITEM, VL_MCV_ITEM, VL_MLE_ITEM, VL_SEGURO_ITEM, VL_UNID_COND_VENDA, VL_UNITARIO, NR_OPER_TRAT_PREV,
      NR_PEDIDO, VL_II_ITEM, VL_IPI_ITEM, VL_AD_ITEM, VL_ICMS_ITEM, VL_MLE_ITEM_MN, VL_FRETE_ITEM_MN, VL_SEGURO_ITEM_MN,
      VL_MCV_ITEM_MN, VL_UNID_COND_VENDA_MN, VL_ACRESCIMO_ITEM, VL_DEDUCAO_ITEM, VL_ACRESCIMO_ITEM_MN, VL_DEDUCAO_ITEM_MN,
      VL_DESPESA_ITEM, VL_DESPESA_ITEM_MN, NR_ORDEM, NR_DESTAQUE_NCM )
      SELECT @nr_processo_destino, NR_ADICAO, NR_ITEM, CD_EXPORTADOR, CD_FABR_EXPO, CD_FABRICANTE, CD_MERCADORIA,
             CD_NALADI_NCCA, CD_NALADI_SH, CD_NCM_SH, CD_PAIS_AQUISICAO, CD_PAIS_ORIGEM, CD_TIPO_CALCULO_ITEM,
             CD_UN_MED_COMERC, NR_FATURA, PC_DESCONTO_MERC, PL_MERCADORIA, QT_MERC_UN_COMERC, QT_MERC_UN_ESTAT,
             TX_DESC_DET_MERC, VL_DESCONTO_MERC, VL_FRETE_ITEM, VL_MCV_ITEM, VL_MLE_ITEM, VL_SEGURO_ITEM,
             VL_UNID_COND_VENDA, VL_UNITARIO, NR_OPER_TRAT_PREV, NR_PEDIDO, VL_II_ITEM, VL_IPI_ITEM, VL_AD_ITEM,
             VL_ICMS_ITEM, VL_MLE_ITEM_MN, VL_FRETE_ITEM_MN, VL_SEGURO_ITEM_MN, VL_MCV_ITEM_MN, VL_UNID_COND_VENDA_MN,
             VL_ACRESCIMO_ITEM, VL_DEDUCAO_ITEM, VL_ACRESCIMO_ITEM_MN, VL_DEDUCAO_ITEM_MN, VL_DESPESA_ITEM, 
             VL_DESPESA_ITEM_MN, NR_ORDEM, NR_DESTAQUE_NCM
     FROM    TDETALHE_MERCADORIA
     WHERE   NR_PROCESSO = @nr_processo_fonte
    /* Transferir dados da DI - NVE */
    INSERT INTO TDI_NVE ( NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM )
      SELECT @nr_processo_destino, NR_ADICAO, NR_ITEM, CD_NIVEL_NVE, CD_ATRIBUTO_NCM, CD_ESPECIF_NCM 
      FROM   TDI_NVE
      WHERE  NR_PROCESSO = @nr_processo_fonte
    RETURN (0)
  END
END


GO
