USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_log_flag] @TABELA char(30), @PROCESSO char(18), @USUARIO char(4), @FLAG char(20), @ROTINA char(30), @ACAO char(30) AS

--INSERT INTO TLOG_FLAG( DATA, TABELA, PROCESSO, USUARIO, FLAG, ROTINA, ACAO )
--VALUES( GETDATE(), @TABELA, @PROCESSO, @USUARIO, @FLAG, @ROTINA, @ACAO )



GO
