USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_CRIA_FOLLOWUP](@NR_PROCESSO CHAR(18)) AS
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18) = '0101IM-7999-13'
    BEGIN TRAN
    --*/

    IF DBO.FN_PROCESSO_SERVICO_NOVO(@NR_PROCESSO) = '0'
        RETURN

    PRINT 'SP_CRIA_FOLLOWUP - Início'

    DECLARE @TFOLLOWUP_BKP AS TABLE (
        NR_PROCESSO           CHAR(18),
        CD_SERVICO            CHAR(3),
        CD_EVENTO             CHAR(3),
        IN_APLICAVEL          CHAR(1),
        CD_RESP_APLICACAO     CHAR(4),
        CD_RESP_REALIZACAO    CHAR(4),
        CD_RESP_INSPECAO      CHAR(4),
        DT_APLICACAO          DATETIME,
        DT_REALIZACAO         DATETIME,
        DT_INSPECAO           DATETIME,
        CD_RESULT_INSPECAO    CHAR(1),
        NR_RNC                VARCHAR(8),
        DT_PREVISTA           DATETIME,
        DT_LIMITE             DATETIME,
        NR_ORDEM              SMALLINT,
        TX_OBS                TEXT,
        IN_BLOQUEADO          CHAR(1),
        IN_ALERTA_ENVIADO     CHAR(1),
        QT_DIAS_DESVIO        INT,
        DT_REALIZACAO_EFETIVA DATETIME,
        DT_ALERTA_ENVIADO     DATETIME,
        IN_EDI_ENVIADO        CHAR(1),
        CD_EV_BASICO          CHAR(3),
        PZ_DO_EV_BASICO       INT
    )

    INSERT INTO @TFOLLOWUP_BKP
    SELECT NR_PROCESSO,
           CD_SERVICO,
           CD_EVENTO,
           IN_APLICAVEL,
           CD_RESP_APLICACAO,
           CD_RESP_REALIZACAO,
           CD_RESP_INSPECAO,
           DT_APLICACAO,
           DT_REALIZACAO,
           DT_INSPECAO,
           CD_RESULT_INSPECAO,
           NR_RNC,
           DT_PREVISTA,
           DT_LIMITE,
           NR_ORDEM,
           TX_OBS,
           IN_BLOQUEADO,
           IN_ALERTA_ENVIADO,
           QT_DIAS_DESVIO,
           DT_REALIZACAO_EFETIVA,
           DT_ALERTA_ENVIADO,
           IN_EDI_ENVIADO,
           CD_EV_BASICO,
           PZ_DO_EV_BASICO
    FROM TFOLLOWUP (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO

    DECLARE @EVENTOS AS TABLE (
        CD_EVENTO        CHAR(3),
        CD_EVENTO_BASE   CHAR(3),
        PZ_EVENTO_BASE   INT,
        IN_PRAZO_UTIL    CHAR(1),
        IN_PRAZO_FERIADO CHAR(1),
        NR_ORDEM         INT
    )

    INSERT INTO @EVENTOS
    EXEC SP_LISTA_EVENTOS_PROCESSO @NR_PROCESSO, '1'

    /*
    DECLARE @NM_TRIGGER VARCHAR(255)
    DECLARE @TRIGGERS_FOLLOWUP AS TABLE (
        NM_TRIGGER VARCHAR(255)
    )

    INSERT INTO @TRIGGERS_FOLLOWUP
    SELECT TR.NAME
    FROM SYS.TRIGGERS TR
       INNER JOIN SYS.TABLES TB ON TB.OBJECT_ID = TR.PARENT_ID
    WHERE TB.NAME = 'TFOLLOWUP'
      AND IS_DISABLED = 0;

    DECLARE @TMP_TRIGGERS_FOLLOWUP AS TABLE (
        NM_TRIGGER VARCHAR(255)
    )
    */

    -- Incluído para só efetuar as operações se houver diferença no followup (sugestão do Carlos Rosa) - Michel - 20/09/2012
    IF (SELECT COUNT(*) FROM @TFOLLOWUP_BKP) <> (SELECT COUNT(*) FROM @EVENTOS) OR
       (SELECT COUNT(*) 
        FROM @TFOLLOWUP_BKP F
           INNER JOIN @EVENTOS E ON E.CD_EVENTO = F.CD_EVENTO
                                AND E.NR_ORDEM = F.NR_ORDEM
                                AND E.CD_EVENTO_BASE = F.CD_EV_BASICO
                                AND E.PZ_EVENTO_BASE = F.PZ_DO_EV_BASICO) <> (SELECT COUNT(*) FROM @EVENTOS)
    BEGIN
        DECLARE @CD_EVENTO  CHAR(3)
        DECLARE @CD_SERVICO CHAR(3)

        SELECT @CD_SERVICO = CD_SERVICO
        FROM TPROCESSO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO

        --EXECUTE('DISABLE TRIGGER ALL ON TFOLLOWUP')
        INSERT INTO TFOLLOWUP_IGNORE_TRIGGERS
        VALUES(@NR_PROCESSO, @@SPID)

        BEGIN TRY
            DELETE TFOLLOWUP WHERE NR_PROCESSO = @NR_PROCESSO

            INSERT INTO TFOLLOWUP(NR_PROCESSO, CD_SERVICO, CD_EVENTO, NR_ORDEM, CD_EV_BASICO, PZ_DO_EV_BASICO)
            SELECT @NR_PROCESSO, @CD_SERVICO, CD_EVENTO, NR_ORDEM, CD_EVENTO_BASE, PZ_EVENTO_BASE
            FROM @EVENTOS

            DELETE @TFOLLOWUP_BKP
            WHERE CD_EVENTO NOT IN (SELECT CD_EVENTO FROM @EVENTOS)

            /*WHILE (SELECT COUNT(*) FROM @TFOLLOWUP_BKP) > 0
            BEGIN
                SELECT TOP 1 @CD_EVENTO = CD_EVENTO
                FROM @TFOLLOWUP_BKP
                ORDER BY NR_ORDEM

                IF (SELECT TX_OBS FROM @TFOLLOWUP_BKP WHERE CD_EVENTO = @CD_EVENTO) IS NOT NULL
                    UPDATE F
                    SET IN_APLICAVEL          = B.IN_APLICAVEL,
                        CD_RESP_APLICACAO     = B.CD_RESP_APLICACAO,
                        CD_RESP_REALIZACAO    = B.CD_RESP_REALIZACAO,
                        CD_RESP_INSPECAO      = B.CD_RESP_INSPECAO,
                        DT_APLICACAO          = B.DT_APLICACAO,
                        DT_REALIZACAO         = B.DT_REALIZACAO,
                        DT_INSPECAO           = B.DT_INSPECAO,
                        CD_RESULT_INSPECAO    = B.CD_RESULT_INSPECAO,
                        NR_RNC                = B.NR_RNC,
                        DT_PREVISTA           = B.DT_PREVISTA,
                        DT_LIMITE             = B.DT_LIMITE,
                        TX_OBS                = B.TX_OBS,
                        IN_BLOQUEADO          = B.IN_BLOQUEADO,
                        IN_ALERTA_ENVIADO     = B.IN_ALERTA_ENVIADO,
                        QT_DIAS_DESVIO        = B.QT_DIAS_DESVIO,
                        DT_REALIZACAO_EFETIVA = B.DT_REALIZACAO_EFETIVA,
                        DT_ALERTA_ENVIADO     = B.DT_ALERTA_ENVIADO,
                        IN_EDI_ENVIADO        = B.IN_EDI_ENVIADO,
                        CD_EV_BASICO          = B.CD_EV_BASICO,
                        PZ_DO_EV_BASICO       = B.PZ_DO_EV_BASICO
                    FROM TFOLLOWUP F
                       INNER JOIN @TFOLLOWUP_BKP B ON B.NR_PROCESSO = F.NR_PROCESSO AND B.CD_EVENTO = F.CD_EVENTO
                    WHERE F.CD_EVENTO = @CD_EVENTO
                ELSE
                    UPDATE F
                    SET IN_APLICAVEL          = B.IN_APLICAVEL,
                        CD_RESP_APLICACAO     = B.CD_RESP_APLICACAO,
                        CD_RESP_REALIZACAO    = B.CD_RESP_REALIZACAO,
                        CD_RESP_INSPECAO      = B.CD_RESP_INSPECAO,
                        DT_APLICACAO          = B.DT_APLICACAO,
                        DT_REALIZACAO         = B.DT_REALIZACAO,
                        DT_INSPECAO           = B.DT_INSPECAO,
                        CD_RESULT_INSPECAO    = B.CD_RESULT_INSPECAO,
                        NR_RNC                = B.NR_RNC,
                        DT_PREVISTA           = B.DT_PREVISTA,
                        DT_LIMITE             = B.DT_LIMITE,
                        IN_BLOQUEADO          = B.IN_BLOQUEADO,
                        IN_ALERTA_ENVIADO     = B.IN_ALERTA_ENVIADO,
                        QT_DIAS_DESVIO        = B.QT_DIAS_DESVIO,
                        DT_REALIZACAO_EFETIVA = B.DT_REALIZACAO_EFETIVA,
                        DT_ALERTA_ENVIADO     = B.DT_ALERTA_ENVIADO,
                        IN_EDI_ENVIADO        = B.IN_EDI_ENVIADO,
                        CD_EV_BASICO          = B.CD_EV_BASICO,
                        PZ_DO_EV_BASICO       = B.PZ_DO_EV_BASICO
                    FROM TFOLLOWUP F
                       INNER JOIN @TFOLLOWUP_BKP B ON B.NR_PROCESSO = F.NR_PROCESSO AND B.CD_EVENTO = F.CD_EVENTO
                    WHERE F.CD_EVENTO = @CD_EVENTO

                UPDATE F
                SET DT_REALIZACAO_EFETIVA = B.DT_REALIZACAO_EFETIVA
                FROM TFOLLOWUP F
                   INNER JOIN @TFOLLOWUP_BKP B ON B.NR_PROCESSO = F.NR_PROCESSO AND B.CD_EVENTO = F.CD_EVENTO
                WHERE F.CD_EVENTO = @CD_EVENTO

                DELETE @TFOLLOWUP_BKP
                WHERE CD_EVENTO = @CD_EVENTO
            END*/ -- Comentado, porque desabilitando as triggers não será necessário atualizar evento a evento - Michel - 03/06/2013

            UPDATE F
            SET IN_APLICAVEL          = B.IN_APLICAVEL,
                CD_RESP_APLICACAO     = B.CD_RESP_APLICACAO,
                CD_RESP_REALIZACAO    = B.CD_RESP_REALIZACAO,
                CD_RESP_INSPECAO      = B.CD_RESP_INSPECAO,
                DT_APLICACAO          = B.DT_APLICACAO,
                DT_REALIZACAO         = B.DT_REALIZACAO,
                DT_INSPECAO           = B.DT_INSPECAO,
                CD_RESULT_INSPECAO    = B.CD_RESULT_INSPECAO,
                NR_RNC                = B.NR_RNC,
                DT_PREVISTA           = B.DT_PREVISTA,
                DT_LIMITE             = B.DT_LIMITE,
                TX_OBS                = B.TX_OBS,
                IN_BLOQUEADO          = B.IN_BLOQUEADO,
                IN_ALERTA_ENVIADO     = B.IN_ALERTA_ENVIADO,
                QT_DIAS_DESVIO        = B.QT_DIAS_DESVIO,
                DT_REALIZACAO_EFETIVA = B.DT_REALIZACAO_EFETIVA,
                DT_ALERTA_ENVIADO     = B.DT_ALERTA_ENVIADO,
                IN_EDI_ENVIADO        = B.IN_EDI_ENVIADO/*,
                CD_EV_BASICO          = B.CD_EV_BASICO,
                PZ_DO_EV_BASICO       = B.PZ_DO_EV_BASICO*/
            FROM TFOLLOWUP F
               INNER JOIN @TFOLLOWUP_BKP B ON B.NR_PROCESSO = F.NR_PROCESSO AND B.CD_EVENTO = F.CD_EVENTO

            --EXECUTE('ENABLE TRIGGER ALL ON TFOLLOWUP')
        END TRY
        BEGIN CATCH
            PRINT 'ERRO'
            --EXECUTE('ENABLE TRIGGER ALL ON TFOLLOWUP')
        END CATCH

        /*
        WHILE (SELECT COUNT(*) FROM @TRIGGERS_FOLLOWUP) > 0
        BEGIN
            SELECT TOP 1 @NM_TRIGGER = NM_TRIGGER
            FROM @TRIGGERS_FOLLOWUP

            EXECUTE('ENABLE TRIGGER [' + @NM_TRIGGER + '] ON TFOLLOWUP')

            DELETE @TRIGGERS_FOLLOWUP
            WHERE NM_TRIGGER = @NM_TRIGGER
        END
        */
    END

    --EXECUTE('ENABLE TRIGGER ALL ON TFOLLOWUP')
    DELETE TFOLLOWUP_IGNORE_TRIGGERS
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND SESSION_ID = @@SPID
    PRINT 'SP_CRIA_FOLLOWUP - Fim'

    /*
    --SELECT * FROM @EVENTOS
    
    SELECT *
    FROM TFOLLOWUP
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_EVENTO = '092'
    ORDER BY NR_ORDEM
    
    ROLLBACK

    SELECT *
    FROM TFOLLOWUP
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_EVENTO = '092'
    ORDER BY NR_ORDEM
    --*/
END

GO
