USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***** Calculo da Licença de Importação *****/

CREATE PROCEDURE [sp_li_calculo]( @nr_processo char(18) )  AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @nr_processo char(18)

SET @nr_processo = '0101I0-5602-05'
--*/
DECLARE
  @nr_proc_li      char(18),
  @nr_item_li      char(3),
  @cd_incoterm     char(3),
  @qt_med_est_capa numeric(18,7), --quantidade na medidada estatistica
  @vl_pl_capa      numeric(18,7), --peso liquido total
  @vl_total_capa   numeric(18,7), --valor das mercadorias no local de embarque(VMLE)
  @vl_desp_capa    numeric(18,7), --VMLE de despesas
  @vl_desc_capa    numeric(18,7), --VMLE de descontos
  @vl_frete_capa   numeric(18,7), --valor do frete
  @in_embutido     numeric(18,7), --valor do frete esta calculado dentro dos itens
  @qt_med_est_item numeric(18,7), --quantidade na medidada estatistica item
  @vl_pl_item      numeric(18,7), --peso liquido item
  @vl_total_item   numeric(18,7), --VMLE item
  @nr_itens_capa   integer,       --qtde de itens informados na capa
  @nr_itens_item   integer,       --qtde de itens
  @vl_rateio_frete numeric(18,7), --valor do frete rateio item
  @vl_rateio_desp  numeric(18,7), --VMLE de despesas rateio item
  @vl_rateio_desc  numeric(18,7), --VMLE de descontos rateio item
  @vl_soma_frete   numeric(18,7), --soma do rateio do frete dos itens
  @vl_soma_desp    numeric(18,7), --soma do rateio da despesa dos itens
  @vl_soma_desc    numeric(18,7)  --soma do rateio do desconto dos itens

SET @nr_itens_capa   = 0
SET @nr_itens_item   = 0
SET @vl_rateio_frete = 0 
SET @vl_rateio_desp  = 0
SET @vl_rateio_desc  = 0
SET @vl_soma_frete   = 0
SET @vl_soma_desp    = 0
SET @vl_soma_desc    = 0

/*Consistências para preparar a LI para o calculo e montagem*/
SELECT
  @cd_incoterm     = CD_INCOTERM,
  @vl_total_capa   = ROUND( ISNULL( VL_TOTAL_MOEDA   , 0 ), 7 ),
  @vl_desp_capa    = ROUND( ISNULL( VL_DESPESA_MOEDA , 0 ), 7 ),
  @vl_desc_capa    = ROUND( ISNULL( VL_DESCONTO_MOEDA, 0 ), 7 ),
  @vl_frete_capa   = ROUND( ISNULL( VL_FRETE_MOEDA   , 0 ), 7 ),
  @vl_pl_capa      = ROUND( ISNULL( QT_TOTAL_PES_LIQ , 0 ), 7 ),
  @qt_med_est_capa = 0,
  @in_embutido     = ISNULL( IN_EMBUT_FRT_ITENS, 0 ),
  @nr_itens_capa   = QT_TOTAL_ITEM
FROM TLICENCA_IMPORTACAO ( NOLOCK )
WHERE NR_PROCESSO = @nr_processo

SELECT
  @vl_total_item   = ROUND( SUM( ISNULL( VL_TOTAL_MLE    , 0 ) ), 7 ),
  @vl_pl_item      = ROUND( SUM( ISNULL( PL_MERCADORIA   , 0 ) ), 7 ),
  @qt_med_est_item = ROUND( SUM( ISNULL( QT_MERC_UN_ESTAT, 0 ) ), 7 )
FROM TLICENCA_ITENS ( NOLOCK )
WHERE NR_PROCESSO = @nr_processo

--VMLE
IF @vl_total_capa > 0
  IF @vl_total_capa <> @vl_total_item RETURN (1)

--Peso Liquido
IF @vl_pl_capa > 0
  IF @vl_pl_capa <> @vl_pl_item RETURN (2)

--Qtde na medida estatistica
IF @qt_med_est_capa > 0
  IF @qt_med_est_capa <> @qt_med_est_item RETURN (3)

--atualiza a li com os valores dos itens
UPDATE TLICENCA_IMPORTACAO
SET
  VL_TOTAL_MOEDA     = CONVERT( numeric( 18, 7 ), @vl_total_item ), 
  QT_TOTAL_PES_LIQ   = CONVERT( numeric( 18, 7 ), @vl_pl_item ), 
  QT_MED_ESTATISTICA = CONVERT( numeric( 18, 7 ), @qt_med_est_item )
FROM TLICENCA_IMPORTACAO ( NOLOCK )
WHERE NR_PROCESSO = @nr_processo

--inicia o calculo dos itens, caso existam itens
IF ( SELECT COUNT(*) FROM TLICENCA_ITENS ( NOLOCK ) WHERE NR_PROCESSO = @nr_processo ) > 0
BEGIN
  --selecionas os itens do processo+LI
  SELECT
    NR_PROCESSO,
    NR_ITEM
  INTO #TMP_LI_ITENS
  FROM TLICENCA_ITENS ( NOLOCK )
  WHERE NR_PROCESSO = @nr_processo 

  WHILE ( SELECT COUNT(*) FROM #TMP_LI_ITENS ) > 0
  BEGIN
    SELECT TOP 1
      @nr_proc_li = NR_PROCESSO,
      @nr_item_li = NR_ITEM
    FROM #TMP_LI_ITENS

    SET @nr_itens_item = @nr_itens_item + 1

    IF @nr_itens_item <> @nr_itens_capa
    BEGIN
      SELECT
        @vl_rateio_frete = CONVERT( numeric( 14, 5 ), ROUND( ( ISNULL( PL_MERCADORIA, 0 ) * @vl_frete_capa ) / @vl_pl_capa   , 5 ) ),
        @vl_rateio_desp  = CONVERT( numeric( 14, 5 ), ROUND( ( ISNULL( VL_TOTAL_MLE , 0 ) * @vl_desp_capa  ) / @vl_total_capa, 5 ) ),
        @vl_rateio_desc  = CONVERT( numeric( 14, 5 ), ROUND( ( ISNULL( VL_TOTAL_MLE , 0 ) * @vl_desc_capa  ) / @vl_total_capa, 5 ) )
      FROM TLICENCA_ITENS ( NOLOCK )
      WHERE NR_PROCESSO = @nr_proc_li
        AND NR_ITEM     = @nr_item_li

      --soma o resutado do rateio
      SET @vl_soma_frete = @vl_soma_frete + @vl_rateio_frete  
      SET @vl_soma_desp  = @vl_soma_desp  + @vl_rateio_desp
      SET @vl_soma_desc  = @vl_soma_desc  + @vl_rateio_desc

      UPDATE TLICENCA_ITENS
      SET
        VL_RAT_FRETE    = CONVERT( numeric( 14, 2 ), @vl_rateio_frete ),
        VL_RAT_DESPESA  = CONVERT( numeric( 14, 2 ), @vl_rateio_desp ),
        VL_RAT_DESCONTO = CONVERT( numeric( 14, 2 ), @vl_rateio_desc )
      WHERE NR_PROCESSO = @nr_proc_li
        AND NR_ITEM     = @nr_item_li
    END 
    ELSE
    BEGIN
      UPDATE TLICENCA_ITENS
      SET
        VL_RAT_FRETE    = CONVERT( numeric( 14, 2 ), ROUND( ISNULL( @vl_frete_capa, 0 ) - ISNULL( @vl_soma_frete, 0 ), 2 ) ),
        VL_RAT_DESPESA  = CONVERT( numeric( 14, 2 ), ROUND( ISNULL( @vl_desp_capa , 0 ) - ISNULL( @vl_soma_desp , 0 ), 2 ) ),
        VL_RAT_DESCONTO = CONVERT( numeric( 14, 2 ), ROUND( ISNULL( @vl_desc_capa , 0 ) - ISNULL( @vl_soma_desc , 0 ), 2 ) )
      WHERE NR_PROCESSO = @nr_proc_li
        AND NR_ITEM     = @nr_item_li
    END

    --Calculo do MCV Item de acordo com o tipo de incoterm
    IF @cd_incoterm IN ( 'CFR','CPT' )
    BEGIN 
      UPDATE TLICENCA_ITENS  
      SET VL_UNIT_MCV = CONVERT( numeric( 14, 5 ), ROUND( ( ( ISNULL( VL_TOTAL_MLE, 0 ) + ISNULL( VL_RAT_FRETE, 0 ) + ISNULL( VL_RAT_DESPESA, 0 ) ) - ISNULL( VL_RAT_DESCONTO, 0 ) ) / ISNULL( QT_MERC_UN_COMERC, 0 ), 5 ) )
      WHERE NR_PROCESSO = @nr_proc_li
        AND NR_ITEM     = @nr_item_li
    END
    ELSE IF @cd_incoterm IN ( 'CIF','CIP','DAF','DES' ) 
    BEGIN
      UPDATE TLICENCA_ITENS  
      SET VL_UNIT_MCV = CONVERT( numeric( 14, 5 ), ROUND( ( ( ISNULL( VL_TOTAL_MLE, 0 ) + ISNULL( VL_RAT_FRETE, 0 ) + ISNULL( VL_RAT_SEGURO, 0 ) + ISNULL( VL_RAT_DESPESA, 0 ) ) - ISNULL( VL_RAT_DESCONTO, 0 ) ) / ISNULL( QT_MERC_UN_COMERC, 0 ), 5 ) )
      WHERE NR_PROCESSO = @nr_proc_li
        AND NR_ITEM     = @nr_item_li
    END
    ELSE IF @cd_incoterm = 'DDU'
    BEGIN
      UPDATE TLICENCA_ITENS  
      SET VL_UNIT_MCV = CONVERT( numeric( 14, 5 ), ROUND( ( ( ISNULL( VL_TOTAL_MLE, 0 ) + ISNULL( VL_RAT_SEGURO, 0 ) + ISNULL( VL_RAT_DESPESA, 0 ) ) - ISNULL( VL_RAT_DESCONTO, 0 ) ) / ISNULL( QT_MERC_UN_COMERC, 0 ), 5 ) )
      WHERE NR_PROCESSO = @nr_proc_li
        AND NR_ITEM     = @nr_item_li
    END
    ELSE
    BEGIN
      UPDATE TLICENCA_ITENS  
      SET VL_UNIT_MCV = CONVERT( numeric( 14, 5 ), ROUND( ( ( ISNULL( VL_TOTAL_MLE, 0 ) + ISNULL( VL_RAT_DESPESA, 0 ) ) - ISNULL( VL_RAT_DESCONTO, 0 ) ) / ISNULL( QT_MERC_UN_COMERC, 0 ), 5 ) )
      WHERE NR_PROCESSO = @nr_proc_li
        AND NR_ITEM     = @nr_item_li
    END

    DELETE FROM #TMP_LI_ITENS WHERE NR_PROCESSO = @nr_proc_li AND NR_ITEM = @nr_item_li
  END
END

RETURN(0)
/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
