USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_relacao_clientes    Script Date: 02/09/1999 08:59:02 AM ******/
create procedure [sp_relacao_clientes] ( @cd_produto   char(2),
     @cd_unid_neg  char(2),
     @mes   char(2),
     @ano   char(4),
     @tipo_rel  char(2),
     @nr_identificador int output) as
/*declare @cd_produto char(2)
declare @cd_unid_neg char(2)
declare @mes  char(2)
declare @ano  char(4)
declare @nr_identificador int
*/
declare @data_ref datetime
declare @pos int
declare @pos_char char(2)
/*select @cd_produto = '01'
select @cd_unid_neg = '01'
select @mes = '2'
select @ano = '1999'
select @tipo_rel = 'AA'
*/
select @data_ref = convert(datetime, '01/' + @mes + '/' + @ano, 103)
select @data_ref = dateadd(day, -1, dateadd(month, 1, @data_ref))
select @nr_identificador = isnull(max(nr_identificador),0) + 1
from trelacao_cliente (TABLOCK HOLDLOCK)
select distinct p.cd_cliente, (datediff(month, c.dt_lancamento, @data_ref)+1) pos
into #temp1
from tprocesso p (TABLOCK HOLDLOCK),
     tfaturamento_cc c (TABLOCK HOLDLOCK),
     titem i (TABLOCK HOLDLOCK)
where p.nr_processo = c.nr_processo and
      p.cd_unid_neg = @cd_unid_neg  and
      p.cd_produto  = @cd_produto   and
      c.cd_item     = i.cd_item     and
      i.cd_tipo_item in ('B','C') and
      c.in_cancelado = '0' and
      (datediff(month, c.dt_lancamento, @data_ref)+1) between 1 and 24
insert into trelacao_cliente
select distinct @nr_identificador, c.cd_cliente, null, isnull(dt_captacao, @data_ref), 0, 0, 0,'000000000000000000000000' mov
from #temp1 t,
     tcliente_habilitacao c (TABLOCK HOLDLOCK)
where  t.cd_cliente = c.cd_cliente and
 c.cd_unid_neg = @cd_unid_neg and
 c.cd_produto = @cd_produto 
select @pos = 0
while @pos < 24
begin
  update trelacao_cliente
    set mov = stuff (mov, @pos, 1, '1' )
    where cd_cliente in (select cd_cliente from #temp1 where pos = @pos) and
   nr_identificador = @nr_identificador
  select @pos = @pos + 1
end
update trelacao_cliente
  set mov = stuff (mov, datediff(month, dt_abertura, @data_ref)+2, 
     24 - datediff(month, dt_abertura, @data_ref)+2, 
     replicate ('2',24-datediff(month, dt_abertura, @data_ref)+2))
  where dt_abertura IS NOT null and
 nr_identificador = @nr_identificador
update trelacao_cliente
  set in_ativo = 1
  where patindex ('%1%',mov) between 1 and 3 and
 nr_identificador = @nr_identificador
select @pos = 24
while @pos >= 0
begin
  if @pos < 10 
    select @pos_char = '0' + convert(char(1),@pos)
  else
    select @pos_char = convert(char(2),@pos)
  update trelacao_cliente
    set frequencia = @pos_char
    where frequencia = null and
     nr_identificador = @nr_identificador and
          ( charindex(replicate('0',@pos),mov) > 0 or @pos = 0 )
  select @pos = @pos - 1
end
update trelacao_cliente
set lp = 1
where  dt_abertura = null or
 (datediff(month, dt_abertura, @data_ref)+1) > 24 and
 nr_identificador = @nr_identificador
update trelacao_cliente
set nlp = 1
where  (datediff(month, dt_abertura, @data_ref)+1) < 24 and
 nr_identificador = @nr_identificador
if @tipo_rel = 'AA'
delete trelacao_cliente 
where  substring(mov,1,3) = '000' and
 nr_identificador = @nr_identificador
if @tipo_rel = 'NN'
delete trelacao_cliente
where  substring(mov,1,3) <> '000' and
 nr_identificador = @nr_identificador
if @tipo_rel = 'NA'
delete trelacao_cliente
where  substring(mov,1,4) <> '1000' and
 nr_identificador = @nr_identificador
if @tipo_rel = 'AN'
delete trelacao_cliente
where  substring(mov,1,4) <> '0001' and
 nr_identificador = @nr_identificador
update trelacao_cliente
set mov = reverse(mov)
where nr_identificador = @nr_identificador
drop table #temp1



GO
