USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_di_atz_taxa_cambio    Script Date: 02/09/1999 08:58:10 AM ******/
CREATE PROCEDURE [sp_di_atz_taxa_cambio]( @nr_processo char(18), 
                 @vl_tx_mneg   numeric(14, 7) OUTPUT,
                 @vl_tx_dolar  numeric(14, 7) OUTPUT,
                 @vl_tx_frete  numeric(14, 7) OUTPUT,
                 @vl_tx_seguro numeric(14, 7) OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @vl_tx_mneg   numeric(14, 7)
DECLARE @vl_tx_dolar  numeric(14, 7) 
DECLARE @vl_tx_frete  numeric(14, 7) 
DECLARE @vl_tx_seguro numeric(14, 7) 

SELECT @nr_processo = '0101MA-0636-01'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_moeda_mle      char(3)
DECLARE @cd_moeda_frete    char(3)
DECLARE @cd_moeda_seguro   char(3)  
DECLARE @nr_declaracao_imp char(10)
DECLARE @dt_calculo        datetime

--  Traz os valores da capa da DI para variaveis de trabalho
SELECT @cd_moeda_mle      = CD_MOEDA_MLE,
       @cd_moeda_frete    = CD_MOEDA_FRETE,
       @cd_moeda_seguro   = CD_MOEDA_SEGURO,
       @nr_declaracao_imp = ISNULL( NR_DECLARACAO_IMP, '' ),
       @vl_tx_frete       = ISNULL( TX_FRETE, 0 ),
       @vl_tx_seguro      = ISNULL( TX_SEGURO, 0 ),
       @vl_tx_mneg        = ISNULL( TX_MLE, 0 ),
       @vl_tx_dolar       = ISNULL( TX_DOLAR, 0 ),
       @dt_calculo        = DT_CALCULO
FROM   TDECLARACAO_IMPORTACAO 
WHERE  ( NR_PROCESSO = @nr_processo )

SELECT @vl_tx_frete  = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) ) 
FROM   TTAXA_CAMBIO
WHERE  CD_MOEDA = @cd_moeda_frete AND 
       @cd_moeda_frete <> '' AND
       @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

SELECT @vl_tx_seguro = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
FROM   TTAXA_CAMBIO
WHERE  CD_MOEDA = @cd_moeda_seguro AND 
       @cd_moeda_seguro <> '' AND
       @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

SELECT @vl_tx_mneg   = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
FROM   TTAXA_CAMBIO
WHERE  CD_MOEDA = @cd_moeda_mle AND 
       @cd_moeda_mle <> '' AND
       @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

SELECT @vl_tx_dolar  = CONVERT( numeric(14, 7), ( ISNULL( STUFF( TX_CAMBIO, 2, 1, '.' ), TX_CAMBIO ) ) )
FROM   TTAXA_CAMBIO
WHERE  CD_MOEDA = '220' AND
       @dt_calculo BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA

/* Forma Antiga
  SELECT @vl_tx_frete  = CONVERT( numeric(14, 7), ( STUFF( TAXA_CONVERSAO, 2, 1, '.' ) ) ) 
  FROM   TCONVERSAO_CAMBIO 
  WHERE  CODIGO = @cd_moeda_frete AND @cd_moeda_frete <> ''

  SELECT @vl_tx_seguro = CONVERT( numeric(14, 7), ( STUFF( TAXA_CONVERSAO, 2, 1, '.' ) ) )
  FROM   TCONVERSAO_CAMBIO 
  WHERE  CODIGO = @cd_moeda_seguro AND @cd_moeda_seguro <> ''

  SELECT @vl_tx_mneg   = CONVERT( numeric(14, 7), ( STUFF( TAXA_CONVERSAO, 2, 1, '.' ) ) )
  FROM   TCONVERSAO_CAMBIO 
  WHERE  CODIGO = @cd_moeda_mle AND @cd_moeda_mle <> ''

  SELECT @vl_tx_dolar  = CONVERT( numeric(14, 7), ( STUFF( TAXA_CONVERSAO, 2, 1, '.' ) ) )
  FROM   TCONVERSAO_CAMBIO 
  WHERE  CODIGO = '220'
*/



GO
