USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [SP_MAIL_PENDENTES_CLIENTE] @UNIDADE char(2), @PRODUTO char(2), @EVENTO char(3), @CLIENTE char(5), @GRUPO char(3), @AREA char(2), @SUBAREA char(2), @ANALISTA_COMISSARIA char(4), @ANALISTA_CLIENTE char(4) AS    
    
/********************************************************************************************************************/    
/* NOME      : SP_MAIL_PENDENTES                              */    
/* AUTOR     : VÍTOR ZANIN                                   */    
/* DATA      : 22/02/2005                             */    
/* DESCRIÇÃO : STORED CHAMADA PELO JOB, PARA SEPARAR OS PROCESSOS E CHAMAR O MYSENDMAIL, QUE ENVIARA O REL POR MAIL */    
/********************************************************************************************************************/    
    
/*    
  BEGIN TRAN    
    
  DECLARE @UNIDADE CHAR(2)    
  DECLARE @PRODUTO CHAR(2)    
  DECLARE @EVENTO  CHAR(3)    
  DECLARE @CLIENTE CHAR(5)    
  DECLARE @GRUPO   CHAR(3)    
  DECLARE @AREA    CHAR(2)    
  DECLARE @SUBAREA CHAR(2)    
  DECLARE @ANALISTA_COMISSARIA char(4)    
  DECLARE @ANALISTA_CLIENTE char(4)    
  SELECT  @UNIDADE = '01'    
  SELECT  @PRODUTO = '01'    
  SELECT  @EVENTO  = '088'     
  SELECT  @CLIENTE = ''    
  SELECT  @GRUPO   = ''    
  SELECT  @AREA    = ''     
  SELECT  @SUBAREA = ''     
  SELECT  @ANALISTA_COMISSARIA = ''    
  SELECT  @ANALISTA_CLIENTE = ''    
*/    


    -- GRAVA NA TABELA Q SERA LIDA E GERADA A PLANILHA    
  INSERT INTO TMAIL_PENDENTES ( NR_PROCESSO, PREVISAO, ATRASO, SALDO_PROC, VALOR_SERVICO, CLIENTE, STATUS, AREA, DT_EVENTO_BASE )
  SELECT F2.NR_PROCESSO PROCESSO, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, 0 VL_NUM_TAXA, 0, ISNULL(RC.CD_REFERENCIA ,'XYZ666') +'/'+ ISNULL(NR_ITEM_PO,'XXXX') NR_ITEM_PO, '-', A.NM_AREA,
   (SELECT DT_REALIZACAO FROM TFOLLOWUP WHERE CD_EVENTO IN (SELECT CD_EV_BASICO FROM TFOLLOWUP SE (NOLOCK) 
 															WHERE SE.NR_PROCESSO = F2.NR_PROCESSO AND SE.CD_EVENTO = @EVENTO)
    										AND NR_PROCESSO = PR.NR_PROCESSO) DT_EVENTO_BASE  
  FROM TPROCESSO PR (NOLOCK)
    INNER JOIN TFOLLOWUP F2    (NOLOCK) ON F2.NR_PROCESSO =  PR.NR_PROCESSO AND F2.CD_EVENTO = @EVENTO AND F2.IN_APLICAVEL = 1 AND F2.IN_BLOQUEADO = 0  AND F2.DT_REALIZACAO IS NULL
    INNER JOIN TFOLLOWUP F     (NOLOCK) ON F.NR_PROCESSO  =  F2.NR_PROCESSO 
	INNER JOIN TAREA A		   (NOLOCK) ON A.CD_AREA	  =  PR.CD_AREA
    LEFT  JOIN TREF_CLIENTE RC    (NOLOCK) ON RC.NR_PROCESSO  =  PR.NR_PROCESSO    
  WHERE  @UNIDADE IN (PR.CD_UNID_NEG, '')
    AND @PRODUTO IN (PR.CD_PRODUTO, '')    
    AND PR.IN_CANCELADO = '0'  
    AND @CLIENTE IN (PR.CD_CLIENTE, '') 
    AND @GRUPO   IN (PR.CD_GRUPO, '')   
    AND F.CD_EVENTO = (SELECT CD_EV_BASICO FROM TFOLLOWUP SE (NOLOCK) WHERE SE.NR_PROCESSO = F2.NR_PROCESSO AND SE.CD_EVENTO = @EVENTO)  
    AND F.DT_REALIZACAO IS NOT NULL  
    AND @SUBAREA IN (PR.CD_AREA, '')
    AND ((@AREA IN ( SELECT NM_GRUPO FROM TAREA WHERE @SUBAREA IN (PR.CD_AREA, '') )) OR @AREA = '')
    AND  DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) > -1    
    AND  F2.DT_PREVISTA > convert(datetime,'01/01/2008',103)    
    AND  ( ( PR.CD_CONTATO IN (SELECT CD_CONTATO FROM TCLIENTE_CONTATO WHERE CD_USUARIO = @ANALISTA_CLIENTE )) OR (@ANALISTA_CLIENTE = ''))    
  ORDER  BY ATRASO DESC    
    
  IF (SELECT COUNT(*) FROM TMAIL_PENDENTES) > 0
  BEGIN
    -- RODA TODA A PREVIA FEITA ANTERIORMENTE, PARA FILTRAR SOMENTE PELOS DIAS UTEIS        
    DECLARE @NR_PROCESSO CHAR(15)  
    DECLARE @CD_REFERENCIA VARCHAR (50)
    DECLARE @ATRASO      INT
    DECLARE @DT_HOJE     DATETIME  
    DECLARE @PREVISAO    DATETIME  
    SELECT  @DT_HOJE = CONVERT(DATETIME,GETDATE(),103)  

    DECLARE CCURSOR CURSOR FOR
    SELECT DISTINCT NR_PROCESSO, CONVERT(DATETIME, PREVISAO, 103), ATRASO, CLIENTE
    FROM TMAIL_PENDENTES
    open cCursor
    fetch cCursor into @NR_PROCESSO, @PREVISAO, @ATRASO, @CD_REFERENCIA 
    while @@fetch_status = 0
    BEGIN       
      -- VERIFICAÇÃO DE DIAS UTEIS  
      WHILE DATEDIFF( D, @PREVISAO, @DT_HOJE ) > 0  
      BEGIN  
        IF DATEPART( dw, @PREVISAO ) IN ( 1, 7 )  
          SELECT @ATRASO = @ATRASO - 1  
        ELSE  
          IF CONVERT( datetime, @PREVISAO, 103 ) IN ( SELECT CONVERT( datetime, DT_FERIADO, 103 )  FROM   TFERIADO )  
            SELECT @ATRASO = @ATRASO - 1  
        SELECT @PREVISAO = @PREVISAO + 1  
      END  
      UPDATE TMAIL_PENDENTES  SET ATRASO = @ATRASO WHERE NR_PROCESSO = @NR_PROCESSO AND CLIENTE = @CD_REFERENCIA
      
      FETCH CCURSOR INTO @NR_PROCESSO, @PREVISAO, @ATRASO, @CD_REFERENCIA
    END
    CLOSE CCURSOR
    DEALLOCATE CCURSOR       
  END  
      
  -- PROCESSOS REALIZADOS HOJE    
    
  INSERT INTO TMAIL_PENDENTES ( NR_PROCESSO, PREVISAO, ATRASO, SALDO_PROC, CLIENTE, STATUS, AREA, DT_EVENTO_BASE )    
  SELECT F2.NR_PROCESSO PROCESSO, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, 0 VL_NUM_TAXA, RC.CD_REFERENCIA, '+', A.NM_AREA,
   (SELECT DT_REALIZACAO FROM TFOLLOWUP WHERE CD_EVENTO IN (SELECT CD_EV_BASICO FROM TFOLLOWUP SE (NOLOCK) 
															WHERE SE.NR_PROCESSO = F2.NR_PROCESSO AND SE.CD_EVENTO = @EVENTO)
										AND NR_PROCESSO = PR.NR_PROCESSO) DT_EVENTO_BASE    
  FROM TPROCESSO PR (NOLOCK)
    INNER JOIN TFOLLOWUP F2    (NOLOCK) ON F2.NR_PROCESSO =  PR.NR_PROCESSO AND F2.CD_EVENTO = @EVENTO
	INNER JOIN TAREA A		   (NOLOCK) ON A.CD_AREA	  =  PR.CD_AREA
    LEFT  JOIN TREF_CLIENTE RC    (NOLOCK) ON RC.NR_PROCESSO  =  PR.NR_PROCESSO   
  WHERE  @UNIDADE IN (PR.CD_UNID_NEG, '')
    AND @PRODUTO IN (PR.CD_PRODUTO, '')
    AND PR.IN_CANCELADO = '0'  
    AND @CLIENTE IN (PR.CD_CLIENTE, '') 
    AND @GRUPO   IN (PR.CD_GRUPO, '')      
    AND @SUBAREA IN (PR.CD_AREA, '')  
    AND ((@AREA IN ( SELECT NM_GRUPO FROM TAREA WHERE @SUBAREA IN (PR.CD_AREA, '') )) OR @AREA = '')    
    AND  F2.DT_REALIZACAO BETWEEN CONVERT(DATETIME,GETDATE()-1,103) AND CONVERT(DATETIME,GETDATE()+1,103)    
  ORDER  BY ATRASO DESC    
  
    
--  SELECT * FROM TMAIL_PENDENTES    
--  DELETE FROM TMAIL_PENDENTES    
    
--  ROLLBACK TRAN








GO
