USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_calc_taxa_siscomex    Script Date: 02/09/1999 08:58:10 AM ******/
CREATE PROCEDURE [sp_calc_taxa_siscomex] ( @nr_processo char(18), @resultado float output) AS

DECLARE @qt_adicoes  int
DECLARE @quantidade  int
DECLARE @nr_adicao  int
DECLARE @nr_adicao_anterior int
DECLARE @tx_adicao  float
DECLARE @vl_resultado  float

SELECT @qt_adicoes = QT_ADICOES 
FROM   TDECLARACAO_IMPORTACAO (NOLOCK)
WHERE  ( NR_PROCESSO = @nr_processo ) 

IF @@rowcount = 0
BEGIN
  /* DI nao Localizado */
  RETURN(1)
END
ELSE
BEGIN
  DECLARE c_taxa CURSOR FOR
    SELECT NR_ADICAO, TX_ADICAO 
    FROM   TTAXA_SISCOMEX (NOLOCK)
    ORDER BY NR_ADICAO
  SELECT @vl_resultado       = 0
  SELECT @nr_adicao_anterior = 0
  OPEN c_taxa
  FETCH c_taxa INTO @nr_adicao, @tx_adicao
  WHILE @@fetch_status <> -1
  BEGIN
    IF @qt_adicoes > @nr_adicao
      SELECT @quantidade = @nr_adicao - @nr_adicao_anterior
    ELSE
      SELECT @quantidade = @qt_adicoes - @nr_adicao_anterior
    IF @nr_adicao = 0
      SELECT @vl_resultado = @vl_resultado + @tx_adicao
    ELSE
      SELECT @vl_resultado = @vl_resultado + ( @quantidade * @tx_adicao )
    IF @qt_adicoes <= @nr_adicao
      BREAK
    SELECT @nr_adicao_anterior = @nr_adicao
    FETCH c_taxa INTO @nr_adicao, @tx_adicao
  END
  CLOSE c_taxa
  DEALLOCATE c_taxa
  SELECT @Resultado = @vl_resultado
  RETURN(0)
END


GO
