USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_rel_desp_arm] @cd_unid_neg char(2), @cd_produto char(2), @dt_inicio char(10), @dt_fim char(10), @cd_armazem_descarga char(4), @nr_controle int,  @nr_identificador int OUTPUT AS 

DECLARE @nr_processo CHAR(18)

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
    FROM   TREL_DESP_ARM (TABLOCK HOLDLOCK)

SELECT @nr_Controle = ISNULL( @nr_Controle, 0)
IF @nr_Controle = 0
BEGIN

  /* AO ALTERAR ESTE INCLUI, VERIFICAR O sp_rel_desp_arm2 e no fonte PGPG029 */

  INSERT TREL_DESP_ARM ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_DI, NR_PROCESSO, NM_URGENCIA, NM_ARMAZEM )
    SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, DI.NR_DECLARACAO_IMP NR_DI, P.NR_PROCESSO, Y.TX_YESNO NM_URGENCIA, ARM.NM_ARMAZEM
    FROM   TPROCESSO P (NOLOCK),
           TDECLARACAO_IMPORTACAO DI (NOLOCK),
           TYES_NO Y (NOLOCK),
           TARMAZEM ARM (NOLOCK),
           VW_DT_DESEMB DESEMB (NOLOCK),
           VW_DT_REG_DI REGDI (NOLOCK)
    WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
           @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
           @cd_armazem_descarga IN ( P.CD_ARMAZEM_DESCARGA, 'X' ) AND
           P.NR_PROCESSO = DI.NR_PROCESSO AND
           P.NR_PROCESSO *= DESEMB.NR_PROCESSO AND
           P.NR_PROCESSO = REGDI.NR_PROCESSO AND
           P.CD_ARMAZEM_DESCARGA *= ARM.CD_ARMAZEM AND
           P.IN_URGENTE = Y.CD_YESNO AND
           P.IN_IMP_ARM = '0' AND
           DI.NR_DECLARACAO_IMP IS NOT NULL AND
           DI.NR_DECLARACAO_IMP <> '' AND
           CONVERT( datetime, REGDI.DT_REALIZACAO, 103 ) >= ( CONVERT( datetime, @dt_inicio, 103 ) ) AND
           CONVERT( datetime, REGDI.DT_REALIZACAO, 103 ) <= ( CONVERT( datetime, @dt_fim, 103 ) ) AND
           CONVERT( datetime, DESEMB.DT_REALIZACAO, 103 ) >= ( CONVERT( datetime, @dt_inicio, 103 ) ) AND
           CONVERT( datetime, DESEMB.DT_REALIZACAO, 103 ) <= ( CONVERT( datetime, @dt_fim, 103 ) ) AND
           REGDI.DT_REALIZACAO IS NOT NULL AND
           DESEMB.DT_REALIZACAO IS NOT NULL AND
           ISNULL( P.CD_ARMAZEM_DESCARGA, '' ) <> ''
  
           UPDATE TPROCESSO
	 SET    IN_IMP_ARM = '1'
              FROM   TPROCESSO P, TREL_DESP_ARM R
	 WHERE  P.NR_PROCESSO = R.NR_PROCESSO
END





GO
