USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [sp_atz_status_solic_pagto_ag] (@nr_processo char(18))AS

DECLARE @cd_item char(3)
DECLARE @vl_saldo float
DECLARE @cd_status char(2)
DECLARE @vl_recebido float
DECLARE @vl_solicitado float
DECLARE @vl_pagto float
DECLARE @vl_pagto_item float

SELECT CD_ITEM, VL_PAGTO 
 INTO #TM_ITEM_STATUS
  FROM TSOLIC_PAGTO (NOLOCK) 
  WHERE 1 = 0 

SET @cd_status = '3'

INSERT #TM_ITEM_STATUS(CD_ITEM, VL_PAGTO )
  SELECT CD_ITEM , VL_PAGTO
   FROM TSOLIC_PAGTO  (NOLOCK)
   WHERE NR_PROCESSO = @nr_processo --'0103AI-0006-03'
   AND CD_STATUS IN ('1','2','3')
   AND DT_MONTAGEM IS NULL


--not ('4', '6', '16', '7', '17')

SELECT @vl_solicitado = ISNULL(SUM(VL_SOLICITADO),0), @vl_recebido = ISNULL(SUM(VL_RECEBIDO),0), 
   @cd_status = 
   CASE WHEN ISNULL(SUM(VL_RECEBIDO),0)  = 0 AND ISNULL(SUM(VL_SOLICITADO),0) = 0 THEN '2' -- não notificado
        WHEN ISNULL(SUM(VL_RECEBIDO),0)  = 0 AND ISNULL(SUM(VL_SOLICITADO),0) > 0 THEN '3' -- não recebido
        ELSE '16' END --liberado
   FROM TNUMERARIO_NOTIFICA  (NOLOCK)
   WHERE NR_PROCESSO = @nr_processo and CD_STATUS IN ('A','B')
 

SELECT @vl_pagto = ISNULL(SUM(VL_PAGTO),0) FROM TSOLIC_PAGTO  (NOLOCK)
   WHERE NR_PROCESSO = @nr_processo 
   AND CD_STATUS = '7'

SET @vl_saldo = @vl_recebido - @vl_pagto
 
  WHILE (SELECT COUNT(*) FROM #TM_ITEM_STATUS (NOLOCK))> 0
   BEGIN

    SELECT TOP 1 @cd_item = CD_ITEM, @vl_pagto_item = ISNULL(VL_PAGTO,0) FROM #TM_ITEM_STATUS (NOLOCK) 

    SET @vl_saldo  = @vl_saldo - @vl_pagto_item

    IF @vl_saldo < 0 
       SET @cd_status = '1'   --saldo insuficiente    

    UPDATE TSOLIC_PAGTO SET CD_STATUS = @cd_status 
      WHERE NR_PROCESSO = @nr_processo AND
            CD_ITEM = @cd_item
         
     DELETE FROM #TM_ITEM_STATUS WHERE CD_ITEM = @cd_item
   END

DROP TABLE #TM_ITEM_STATUS


--SELECT * FROM TSTATUS_SOLIC_PAGTO



GO
