USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [SP_MAIL_PROC_NAO_FAT] @unidade char(2), @produto char(2) AS

  /********************************************************************************************************************/
  /* NOME      : SP_MAIL_PROC_NAO_FAT									      */
  /* AUTOR     : VÍTOR ZANIN 										              */
  /* DATA      : 07/01/2005 										              */
  /* DESCRIÇÃO : STORED CHAMADA PELO JOB, PARA SEPARAR OS PROCESSOS E CHAMAR O MYSENDMAIL, QUE ENVIARA O REL POR MAIL */
  /********************************************************************************************************************/
--BEGIN TRAN

--DECLARE @unidade char(2)
--DECLARE @produto char(2)

--SELECT @unidade = '01'
--SELECT @produto = '01'

  INSERT INTO TMAIL_PROC_NAO_FAT ( NR_PROCESSO, PREVISAO, ATRASO, SALDO_PROC, CLIENTE, STATUS )
  SELECT F2.NR_PROCESSO PROCESSO, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, ISNULL(RI.VL_NUM_TAXA,0) VL_NUM_TAXA, EN.NM_EMPRESA, '-'
  FROM   TFOLLOWUP F ( NOLOCK )
         INNER JOIN TFOLLOWUP F2     (NOLOCK) ON F2.NR_PROCESSO = F.NR_PROCESSO
         INNER JOIN TPROCESSO PR     (NOLOCK) ON PR.NR_PROCESSO = F2.NR_PROCESSO
	 LEFT  JOIN TRECEITAS_IMP RI (NOLOCK) ON RI.CD_CLIENTE  = PR.CD_CLIENTE AND
						 RI.CD_UNID_NEG = PR.CD_UNID_NEG AND
						 RI.CD_PRODUTO  = PR.CD_PRODUTO AND
						 RI.CD_SERVICO  = PR.CD_SERVICO AND
						 RI.CD_ITEM     = '822' AND
						 RI.CD_REGIME_TRIB = '0'
	 INNER JOIN TEMPRESA_NAC EN  (NOLOCK) ON EN.CD_EMPRESA = PR.CD_CLIENTE 
  WHERE  F.CD_EVENTO     = (SELECT CD_EV_BASICO FROM TFOLLOWUP SE (NOLOCK) WHERE SE.NR_PROCESSO = F2.NR_PROCESSO AND SE.CD_EVENTO = F2.CD_EVENTO)
    AND  F.DT_REALIZACAO IS NOT NULL
    AND  PR.CD_PRODUTO  = @produto
    AND  PR.CD_UNID_NEG = @unidade
    AND  PR.IN_CANCELADO = '0'
    AND  DATEDIFF( Y, F2.DT_PREVISTA, GETDATE() ) > -1
    AND  F2.CD_EVENTO     = '092'
    AND  F2.IN_APLICAVEL = 1
    AND  F2.IN_BLOQUEADO = 0
    AND  F2.DT_REALIZACAO IS NULL
    AND  F2.DT_PREVISTA > convert(datetime,'01/01/2007',103)
  ORDER  BY ATRASO DESC

  IF (SELECT COUNT(*) FROM TMAIL_PROC_NAO_FAT) > 0
  BEGIN
    -- RODA TODA A PREVIA FEITA ANTERIORMENTE, PARA FILTRAR SOMENTE PELOS DIAS UTEIS        
    DECLARE @NR_PROCESSO CHAR(15)  
    DECLARE @ATRASO      INT
    DECLARE @DT_HOJE     DATETIME  
    DECLARE @PREVISAO    DATETIME  
    SELECT  @DT_HOJE = CONVERT(DATETIME,GETDATE(),103)  

    DECLARE CCURSOR CURSOR FOR
    SELECT DISTINCT NR_PROCESSO, CONVERT(DATETIME, PREVISAO, 103), ATRASO 
    FROM TMAIL_PROC_NAO_FAT
    open cCursor
    fetch cCursor into @NR_PROCESSO, @PREVISAO, @ATRASO 
    while @@fetch_status = 0
    BEGIN       
      -- VERIFICAÇÃO DE DIAS UTEIS  
      WHILE DATEDIFF( D, @PREVISAO, @DT_HOJE ) > 0  
      BEGIN  
        IF DATEPART( dw, @PREVISAO ) IN ( 1, 7 )  
          SELECT @ATRASO = @ATRASO - 1  
        ELSE  
          IF CONVERT( datetime, @PREVISAO, 103 ) IN ( SELECT CONVERT( datetime, DT_FERIADO, 103 )  FROM   TFERIADO )  
            SELECT @ATRASO = @ATRASO - 1  
        SELECT @PREVISAO = @PREVISAO + 1  
      END  
      UPDATE TMAIL_PROC_NAO_FAT SET ATRASO = @ATRASO WHERE NR_PROCESSO = @NR_PROCESSO       
      
      FETCH CCURSOR INTO @NR_PROCESSO, @PREVISAO, @ATRASO
    END
    CLOSE CCURSOR
    DEALLOCATE CCURSOR       
  END  
 
  -- PROCESSOS REALIZADOS HOJE

  INSERT INTO TMAIL_PROC_NAO_FAT ( NR_PROCESSO, PREVISAO, ATRASO, SALDO_PROC, CLIENTE, STATUS )
  SELECT F2.NR_PROCESSO PROCESSO, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, 0 VL_NUM_TAXA, EN.NM_EMPRESA, '+'
  FROM TPROCESSO PR            (NOLOCK)
    INNER JOIN TFOLLOWUP F2    (NOLOCK) ON PR.NR_PROCESSO =  F2.NR_PROCESSO AND F2.CD_EVENTO = '092'
	INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON EN.CD_EMPRESA  =  PR.CD_CLIENTE
  WHERE  PR.CD_PRODUTO  = @produto
    AND  PR.CD_UNID_NEG = @unidade
    AND  PR.IN_CANCELADO  = '0'
    AND  F2.DT_REALIZACAO BETWEEN CONVERT(DATETIME,GETDATE()-1,103) AND CONVERT(DATETIME,GETDATE()+1,103)
  ORDER  BY ATRASO DESC

--  SELECT * FROM TMAIL_PROC_NAO_FAT ORDER BY ATRASO DESC
--  DELETE FROM TMAIL_PROC_NAO_FAT

--ROLLBACK TRAN






GO
