USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_GRAVA_ERRO](@DB_NAME VARCHAR(255)) AS
BEGIN
    DECLARE @ERROR_LINE      INT
    DECLARE @ERROR_MESSAGE   VARCHAR(4000)
    DECLARE @ERROR_NUMBER    INT
    DECLARE @ERROR_PROCEDURE VARCHAR(255)
    DECLARE @ERROR_SEVERITY  INT
    DECLARE @ERROR_STATE     INT

    SELECT @ERROR_LINE      = ERROR_LINE(),
           @ERROR_MESSAGE   = ERROR_MESSAGE(),
           @ERROR_NUMBER    = ERROR_NUMBER(),
           @ERROR_PROCEDURE = ERROR_PROCEDURE(),
           @ERROR_SEVERITY  = ERROR_SEVERITY(),
           @ERROR_STATE     = ERROR_STATE()

    --INSERT INTO TLOG_ERRO_SQL(NR_LINE, TX_MESSAGE, CD_ERROR, NM_PROC, NR_SEVERITY, NR_STATE, NM_DATABASE)
    INSERT INTO TLOG_ERRO_SQL(NR_LINE, TX_MESSAGE, CD_ERROR, NM_DATABASE, NM_PROC, NR_SEVERITY, NR_STATE, NM_USUARIO, NM_HOST, DT_ERRO)
    VALUES(@ERROR_LINE, @ERROR_MESSAGE, @ERROR_NUMBER, @DB_NAME, @ERROR_PROCEDURE, @ERROR_SEVERITY, @ERROR_STATE, SUSER_NAME(), HOST_NAME(), GETDATE())

    SET @ERROR_MESSAGE = 'Erro: ' + RTRIM(@ERROR_MESSAGE) + CHAR(13) +
                         '* Consultar o Log de Erro para mais detalhes.'
    RAISERROR(@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE)
END

GO
