USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_despesa_grupo] ( @cd_unid_neg char(2), @dt_inicio datetime, @dt_fim datetime,@cd_filial char(2), @nr_lancamento char(5)) AS  
  
/*  
SET XACT_ABORT ON  
BEGIN TRAN  
  
SET NOCOUNT ON   
  
DECLARE @cd_unid_neg      char(2)  
DECLARE @dt_inicio        datetime  
DECLARE @dt_fim           datetime  
DECLARE @cd_filial        char(2)  
DECLARE @nr_lancamento    char(5)  
  
SELECT @cd_unid_neg   = '01'  
SELECT @dt_inicio     = CONVERT( datetime, '01/10/2006', 103 )  
SELECT @dt_fim        = CONVERT( datetime, '10/10/2006', 103 )  
SELECT @cd_filial     = '01'  
SELECT @nr_lancamento = '00123'  
--*/  
  
DECLARE @nr_identificador int  
DECLARE @via_transp       char(2)  
DECLARE @nr_lanc          int  
  
  
SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1  
FROM   TREL_RESUMO_FAT  
  
SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )  
SELECT @nr_lanc =  CAST( @nr_lancamento AS int )  
  
  
-- FATURAS IMPORTAÇÃO  
-- Cria tabela temporária #TMP_REL_RESUMO_FAT_IMP  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA,   
         ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) AS VL_DESPESA, 1 AS INDICE, @via_transp VIA_TRANSP  
  INTO   #TMP_REL_RESUMO_FAT_IMP  
  FROM   TFATURAMENTO_CC F,  
         TITEM I  
  WHERE  F.CD_ITEM = I.CD_ITEM AND  
         1 = 0  
  
INSERT #TMP_REL_RESUMO_FAT_IMP ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP  )  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA,   
         ROUND( SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ), 2 ) VL_LANCAMENTO, 1 INDICE,  
         S.CD_VIA_TRANSPORTE  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TS_FATURA FAT (NOLOCK),  
         TPROCESSO P (NOLOCK),  
         TEMPRESA_NAC E (NOLOCK),  
         TITEM I (NOLOCK),  
         TGRUPO_ITEM_ITEM G (NOLOCK),  
         VW_SERVICO_GERAL S (NOLOCK)  
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
         F.CD_PRODUTO = FAT.CD_PRODUTO AND  
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND  
         I.CD_ITEM = G.CD_ITEM AND  
         P.CD_SERVICO = S.CD_SERVICO AND  
         ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND  
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         FAT.IN_CANCELADO = '0' AND  
         NOT EXISTS( SELECT *  
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)  
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND  
                            F2.CD_PRODUTO = F.CD_PRODUTO AND  
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND  
                            F2.CD_ITEM = F.CD_ITEM AND   
                            ( F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR   
         F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK)) ) AND  
                            F2.CD_FORMA_PAGTO = 'L' ) AND  
         FAT.TP_TIPO_FAT = 'F' AND  
         F.IN_CANCELADO = '0' AND  
         F.IN_FATURADO = '1' AND  
         F.NR_PROCESSO = P.NR_PROCESSO AND  
         @cd_unid_neg IN ( FAT.CD_UNID_NEG, '' ) AND  
         P.CD_PRODUTO IN ( '01', '03' ) AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         F.CD_ITEM = I.CD_ITEM AND  
         F.IN_RESTITUI = '0' AND  
         ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))  
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, F.IN_RESTITUI, S.CD_VIA_TRANSPORTE  
  ORDER BY I.NR_ORDEM_FAT  
  
  INSERT #TMP_REL_RESUMO_FAT_IMP ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP  )  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA,   
         ROUND( ( SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ) * ( -1 ) ), 2 ) VL_LANCAMENTO, 1 INDICE,   
         S.CD_VIA_TRANSPORTE   
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TS_FATURA FAT (NOLOCK),  
         TPROCESSO P (NOLOCK),  
         TEMPRESA_NAC E (NOLOCK),  
         TITEM I (NOLOCK),  
         TGRUPO_ITEM_ITEM G (NOLOCK),  
         VW_SERVICO_GERAL S (NOLOCK)  
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
         F.CD_PRODUTO = FAT.CD_PRODUTO AND  
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND  
         I.CD_ITEM = G.CD_ITEM AND  
         P.CD_SERVICO = S.CD_SERVICO AND  
         ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND  
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         FAT.IN_CANCELADO = '0' AND  
         NOT EXISTS( SELECT *  
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)  
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND  
                            F2.CD_PRODUTO = F.CD_PRODUTO AND  
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND  
                            F2.CD_ITEM = F.CD_ITEM AND  
                            ( F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR   
         F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK)) ) AND  
                            F2.CD_FORMA_PAGTO = 'L' ) AND  
         F.CD_FORMA_PAGTO <> 'L' AND  
         FAT.TP_TIPO_FAT = 'F' AND  
         F.IN_CANCELADO = '0' AND  
         F.IN_FATURADO = '1' AND  
         F.NR_PROCESSO = P.NR_PROCESSO AND  
         @cd_unid_neg IN ( FAT.CD_UNID_NEG, '' ) AND  
         P.CD_PRODUTO IN ( '01', '03' ) AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         F.CD_ITEM = I.CD_ITEM AND  
         F.IN_RESTITUI = '1' AND  
         ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))  
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, F.IN_RESTITUI, S.CD_VIA_TRANSPORTE  
  ORDER BY I.NR_ORDEM_FAT  
  
  
-- Grava registro na tabela do relatório TREL_RESUMO_FAT  
  INSERT TREL_RESUMO_FAT ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )  
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_IMP  
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE  
  
  DROP TABLE #TMP_REL_RESUMO_FAT_IMP  
  
  
-- FATURAS EXPORTAÇÃO    
-- Cria  tabela temporária #TMP_REL_RESUMO_FAT_EXP  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA,   
         ROUND( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ), 2 ) AS VL_DESPESA, 1 AS INDICE, @via_transp VIA_TRANSP  
  INTO   #TMP_REL_RESUMO_FAT_EXP  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TITEM I (NOLOCK)  
  WHERE  F.CD_ITEM = I.CD_ITEM AND  
         1 = 0  
  
INSERT #TMP_REL_RESUMO_FAT_EXP ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP  )  
  SELECT @nr_identificador NR_IDENTIFICADOR, '02' CD_PAGINA,  F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA,   
         ROUND( SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ), 2 ) VL_LANCAMENTO, 1 INDICE,  
         S.CD_VIA_TRANSPORTE  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TS_FATURA FAT (NOLOCK),  
         TPROCESSO P (NOLOCK),  
         TEMPRESA_NAC E (NOLOCK),  
         TITEM I (NOLOCK),  
         TGRUPO_ITEM_ITEM G (NOLOCK),  
         VW_SERVICO_GERAL S (NOLOCK)  
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
         F.CD_PRODUTO = FAT.CD_PRODUTO AND  
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND  
         P.CD_SERVICO = S.CD_SERVICO AND   
         I.CD_ITEM = G.CD_ITEM AND  
         ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND  
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         FAT.IN_CANCELADO = '0' AND  
         NOT EXISTS( SELECT *  
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)  
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND  
                            F2.CD_PRODUTO = F.CD_PRODUTO AND  
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND  
                            F2.CD_ITEM = F.CD_ITEM AND   
                            ( F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR   
         F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK)) ) AND  
                            F2.CD_FORMA_PAGTO = 'L' ) AND  
         F.IN_CANCELADO = '0' AND  
         F.IN_FATURADO = '1' AND  
         FAT.TP_TIPO_FAT = 'F' AND  
         F.NR_PROCESSO = P.NR_PROCESSO AND  
         @cd_unid_neg IN ( FAT.CD_UNID_NEG, '' ) AND  
         P.CD_PRODUTO = '02'  AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         F.CD_ITEM = I.CD_ITEM AND  
         F.IN_RESTITUI = '0' AND  
         ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))  
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, S.CD_VIA_TRANSPORTE  
  ORDER BY I.NR_ORDEM_FAT  
  
INSERT #TMP_REL_RESUMO_FAT_EXP ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE, VIA_TRANSP  )  
  SELECT @nr_identificador NR_IDENTIFICADOR, '02' CD_PAGINA,  F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA,   
         ROUND( ( SUM( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ) * ( -1 ) ), 2 ) VL_LANCAMENTO, 1 INDICE,  
         S.CD_VIA_TRANSPORTE  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TS_FATURA FAT (NOLOCK),  
         TPROCESSO P (NOLOCK),  
         TEMPRESA_NAC E (NOLOCK),  
         TITEM I (NOLOCK),  
         TGRUPO_ITEM_ITEM G (NOLOCK),  
         VW_SERVICO_GERAL S (NOLOCK)  
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
         F.CD_PRODUTO = FAT.CD_PRODUTO AND  
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND  
         I.CD_ITEM = G.CD_ITEM AND  
         P.CD_SERVICO = S.CD_SERVICO AND   
         ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND  
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         FAT.IN_CANCELADO = '0' AND  
         NOT EXISTS( SELECT *  
                     FROM   TFATURAMENTO_CC F2(NOLOCK)  
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND  
                            F2.CD_PRODUTO = F.CD_PRODUTO AND  
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND  
                            F2.CD_ITEM = F.CD_ITEM AND  
                            ( F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR   
         F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK)) ) AND  
                            F2.CD_FORMA_PAGTO = 'L' ) AND  
         F.CD_FORMA_PAGTO <> 'L' AND  
         F.IN_CANCELADO = '0' AND  
         F.IN_FATURADO = '1' AND  
         FAT.TP_TIPO_FAT = 'F' AND  
         F.NR_PROCESSO = P.NR_PROCESSO AND  
         @cd_unid_neg IN ( FAT.CD_UNID_NEG, '' ) AND  
         P.CD_PRODUTO IN ( '02', '10' ) AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         F.CD_ITEM = I.CD_ITEM AND  
         F.IN_RESTITUI = '1' AND  
         ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND          F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))  
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, S.CD_VIA_TRANSPORTE  
  ORDER BY I.NR_ORDEM_FAT  
  
-- Grava registro na tabela do relatório TREL_RESUMO_FAT  
  INSERT TREL_RESUMO_FAT ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )  
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_EXP  
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE  
  
  
  DROP TABLE #TMP_REL_RESUMO_FAT_EXP  
  
--======================================================================================================================  
  
-- NOTAS DE CRÉDITO/DÉBITO OPERACIONAL   
-- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, '  ' AS CD_PRODUTO, I.NM_ITEM AS NM_DESPESA,   
         ROUND( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ), 2 ) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, NR_SOLIC_FAT, @via_transp VIA_TRANSP  
  INTO   #TMP_REL_RESUMO_FAT_NOTAS  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TITEM I (NOLOCK)  
  WHERE  F.CD_ITEM = I.CD_ITEM AND  
         1 = 0  
  
  -- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA,   
         ROUND( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ), 2 ) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, NR_SOLIC_FAT, @via_transp VIA_TRANSP  
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TITEM I (NOLOCK)  
  WHERE  F.CD_ITEM = I.CD_ITEM AND  
         1 = 0  
  
  -- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA,   
         ROUND( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ), 2 ) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, NR_SOLIC_FAT, @via_transp VIA_TRANSP  
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TITEM I (NOLOCK)  
  WHERE  F.CD_ITEM = I.CD_ITEM AND  
         1 = 0  
  
  -- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_CRE  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA,   
         ROUND( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ), 2 ) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, NR_SOLIC_FAT, @via_transp VIA_TRANSP  
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_CRE  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TITEM I(NOLOCK)  
  WHERE  F.CD_ITEM = I.CD_ITEM AND  
         1 = 0  
  
  INSERT #TMP_REL_RESUMO_FAT_NOTAS ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, CD_PRODUTO, NM_DESPESA, VL_DESPESA, DT_FATURA, INDICE, NR_SOLIC_FAT, VIA_TRANSP  )  
  SELECT @nr_identificador NR_IDENTIFICADOR, '03' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, P.CD_PRODUTO, I.NM_ITEM NM_DESPESA,   
         ROUND(  
         SUM( CASE IN_RESTITUI   
                WHEN '0' THEN ROUND( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ), 2 )  
                WHEN '1' THEN ROUND( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ) * ( -1 ), 2 )  
              END ), 2 ) AS VL_LANCAMENTO, FAT.DT_FATURA, 1 INDICE, F.NR_SOLIC_FAT,  
         S.CD_VIA_TRANSPORTE  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TS_FATURA FAT (NOLOCK),  
         TPROCESSO P (NOLOCK),  
         TEMPRESA_NAC E (NOLOCK),  
         TITEM I (NOLOCK),  
         TGRUPO_ITEM_ITEM G (NOLOCK),  
         VW_SERVICO_GERAL S (NOLOCK)   
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
         F.CD_PRODUTO = FAT.CD_PRODUTO AND  
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND  
         I.CD_ITEM = G.CD_ITEM AND  
         P.CD_SERVICO = S.CD_SERVICO AND  
         ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND  
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         FAT.IN_CANCELADO = '0' AND  
         NOT EXISTS( SELECT *  
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)  
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND  
                            F2.CD_PRODUTO = F.CD_PRODUTO AND  
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND  
                            F2.CD_ITEM = F.CD_ITEM AND  
                            ( F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR   
         F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK)) ) AND  
                            F2.CD_FORMA_PAGTO = 'L' ) AND  
         F.CD_FORMA_PAGTO <> 'L' AND  
         F.IN_CANCELADO = '0' AND  
         F.IN_FATURADO = '1' AND  
         P.CD_PRODUTO NOT IN ( '03', '10' ) AND  
         FAT.TP_TIPO_FAT = 'N' AND  
         F.NR_PROCESSO = P.NR_PROCESSO AND  
         @cd_unid_neg IN ( FAT.CD_UNID_NEG, '' ) AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         F.CD_ITEM = I.CD_ITEM AND  
         ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))  
  GROUP BY F.CD_ITEM, P.CD_PRODUTO, I.NM_ITEM, I.NR_ORDEM_FAT, FAT.DT_FATURA, F.NR_SOLIC_FAT, S.CD_VIA_TRANSPORTE  
  ORDER BY I.NR_ORDEM_FAT  
  
-- Débito Imp   
INSERT #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )  
  SELECT NR_IDENTIFICADOR, '03', CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_NOTAS  
  WHERE CD_PRODUTO = '01'  
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, DT_FATURA, INDICE, NR_SOLIC_FAT  
  HAVING SUM( VL_DESPESA ) > 0  
  
-- Débito Exp   
INSERT #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )  
  SELECT NR_IDENTIFICADOR, '04', CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_NOTAS  
  WHERE CD_PRODUTO = '02'  
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, DT_FATURA, INDICE, NR_SOLIC_FAT  
  HAVING SUM( VL_DESPESA ) > 0  
  
-- Crédito    
INSERT #TMP_REL_RESUMO_FAT_NOTAS_CRE ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )  
  SELECT NR_IDENTIFICADOR, '05', CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ) * (-1), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_NOTAS  
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, DT_FATURA, INDICE, NR_SOLIC_FAT  
  HAVING ROUND( SUM( VL_DESPESA ), 2 ) < 0  
  
-- Débito Importação  
-- Grava registro na tabela do relatório TREL_RESUMO_FAT  
INSERT TREL_RESUMO_FAT ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )  
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP  
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE  
  
  
-- Débito Exportação  
-- Grava registro na tabela do relatório TREL_RESUMO_FAT  
INSERT TREL_RESUMO_FAT ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )  
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP  
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE  
  
  
-- Crédito  
-- Grava registro na tabela do relatório TREL_RESUMO_FAT  
INSERT TREL_RESUMO_FAT ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )  
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_CRE   
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE  
  
  
  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS  
  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_CRE  
  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_DEB_IMP  
  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_DEB_EXP  
  
  
-- NOTAS DE CRÉDITO/DÉBITO ADMINISTRATIVO  
-- Grava registro na tabela do relatório TREL_RESUMO_FAT  
INSERT TREL_RESUMO_FAT ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE )  
  SELECT @nr_identificador NR_IDENTIFICADOR, '05' CD_PAGINA, 'X' CD_ITEM, A.CD_CT_CONTABIL, @cd_unid_neg, C.NM_CT_CONTABIL NM_DESPESA,  
         ROUND( SUM( ISNULL( VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ) ), 2 ) AS VL_LANCAMENTO, 1 AS INDICE  
  FROM   TADM A (NOLOCK),  
         TFAVORECIDO F (NOLOCK),  
         TEMPRESA_NAC E (NOLOCK),  
         TCT_CONTABIL C (NOLOCK)  
  WHERE  A.CD_STATUS_ADM IN ( '7', '18' ) AND  
         A.TP_NATUREZA = 'C' AND  
         A.TP_LANCAMENTO = 'N' AND          @cd_unid_neg IN ( A.CD_UNID_NEG, '' ) AND  
         A.DT_PAGTO BETWEEN @dt_inicio AND @dt_fim AND  
         A.CD_CT_CONTABIL = C.CD_CT_CONTABIL AND year(A.DT_LANCTO) = C.ANO_CONTA AND
         A.CD_FAVORECIDO = F.CD_FAVORECIDO AND  
         F.CGC_EMPRESA = E.CGC_EMPRESA   
  GROUP BY A.CD_CT_CONTABIL, C.NM_CT_CONTABIL  
  
-- NVOCC - NOTA DE DÉBITO - IMPORTAÇÃO   
-- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA,   
         ROUND( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ), 2 ) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, @via_transp VIA_TRANSP  
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TITEM I (NOLOCK)  
  WHERE  F.CD_ITEM = I.CD_ITEM AND  
         1 = 0  
  
  INSERT #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, DT_FATURA, INDICE, VIA_TRANSP  )  
  SELECT @nr_identificador NR_IDENTIFICADOR, '06' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA,   
         ROUND(  
         SUM( CASE IN_RESTITUI   
                WHEN '0' THEN ROUND( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ), 2 )  
                WHEN '1' THEN ROUND( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ) * ( -1 ), 2 )  
              END ), 2 ) AS VL_LANCAMENTO, FAT.DT_FATURA, 1 INDICE,   
         S.CD_VIA_TRANSPORTE  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TS_FATURA FAT (NOLOCK),  
         TPROCESSO P (NOLOCK),  
         TEMPRESA_NAC E (NOLOCK),  
         TITEM I (NOLOCK),  
         TGRUPO_ITEM_ITEM G (NOLOCK),  
         VW_SERVICO_GERAL S (NOLOCK)  
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
         F.CD_PRODUTO = FAT.CD_PRODUTO AND  
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND  
         I.CD_ITEM = G.CD_ITEM AND  
         P.CD_SERVICO = S.CD_SERVICO AND  
         ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND  
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         FAT.IN_CANCELADO = '0' AND  
         NOT EXISTS( SELECT *  
                     FROM   TFATURAMENTO_CC F2 (NOLOCK)  
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND  
                            F2.CD_PRODUTO = F.CD_PRODUTO AND  
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND  
                            F2.CD_ITEM = F.CD_ITEM AND   
                            ( F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR   
         F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK)) ) AND  
                            F2.CD_FORMA_PAGTO = 'L' ) AND  
         F.CD_FORMA_PAGTO <> 'L' AND  
         F.IN_CANCELADO = '0' AND  
         F.IN_FATURADO = '1' AND  
         FAT.TP_TIPO_FAT = 'N' AND  
         P.CD_PRODUTO = '03' AND  
         F.NR_PROCESSO = P.NR_PROCESSO AND  
         @cd_unid_neg IN ( FAT.CD_UNID_NEG, '' ) AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         F.CD_ITEM = I.CD_ITEM AND  
         ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))  
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, FAT.DT_FATURA, S.CD_VIA_TRANSPORTE  
  ORDER BY I.NR_ORDEM_FAT  
  
-- Grava registro na tabela do relatório TREL_RESUMO_FAT  
INSERT TREL_RESUMO_FAT ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )   SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP  
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE  
  
  
  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_IMP  
  
  
-- NVOCC - NOTA DE DÉBITO - EXPORTAÇÃO   
-- Cria  tabela temporária #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP  
  SELECT @nr_identificador NR_IDENTIFICADOR, '01' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, '  ' AS CD_UNID_NEG, I.NM_ITEM AS NM_DESPESA,   
         ROUND( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ), 2 ) AS VL_DESPESA, F.DT_LANCAMENTO AS DT_FATURA, 1 AS INDICE, @via_transp VIA_TRANSP  
  INTO   #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP  
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TITEM I (NOLOCK)  
  WHERE  F.CD_ITEM = I.CD_ITEM AND  
         1 = 0  
  
  INSERT #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, DT_FATURA, INDICE, VIA_TRANSP )  
  SELECT @nr_identificador NR_IDENTIFICADOR, '07' CD_PAGINA, F.CD_ITEM, 'X' CD_CT_CONTABIL, @cd_unid_neg, I.NM_ITEM NM_DESPESA,   
         ROUND(  
         SUM( CASE IN_RESTITUI   
                WHEN '0' THEN ROUND( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ), 2 )  
                WHEN '1' THEN ROUND( ( ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) ) * ( -1 ), 2 )  
              END ), 2 ) AS VL_LANCAMENTO, FAT.DT_FATURA, 1 INDICE,  
         S.CD_VIA_TRANSPORTE   
  FROM   TFATURAMENTO_CC F (NOLOCK),  
         TS_FATURA FAT (NOLOCK),  
         TPROCESSO P (NOLOCK),  
         TEMPRESA_NAC E (NOLOCK),  
         TITEM I (NOLOCK),  
         TGRUPO_ITEM_ITEM G (NOLOCK),  
         VW_SERVICO_GERAL S (NOLOCK)  
  WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
         F.CD_PRODUTO = FAT.CD_PRODUTO AND  
         F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO AND  
         I.CD_ITEM = G.CD_ITEM AND  
         P.CD_SERVICO = S.CD_SERVICO AND     
         ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND  
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         FAT.IN_CANCELADO = '0' AND  
         NOT EXISTS( SELECT *  
  FROM   TFATURAMENTO_CC F2 (NOLOCK)  
                     WHERE  F2.CD_UNID_NEG = F.CD_UNID_NEG AND  
                            F2.CD_PRODUTO = F.CD_PRODUTO AND  
                            F2.NR_SOLIC_FAT = F.NR_SOLIC_FAT AND  
                            F2.CD_ITEM = F.CD_ITEM AND  
                            ( F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK)) OR   
         F2.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK)) ) AND  
                            F2.CD_FORMA_PAGTO = 'L' ) AND  
         F.CD_FORMA_PAGTO <> 'L' AND  
         F.IN_CANCELADO = '0' AND  
         F.IN_FATURADO = '1' AND  
         FAT.TP_TIPO_FAT IN ('N','F') AND  
         P.CD_PRODUTO = '10' AND   
         F.NR_PROCESSO = P.NR_PROCESSO AND  
         @cd_unid_neg IN ( FAT.CD_UNID_NEG, '' ) AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         F.CD_ITEM = I.CD_ITEM AND  
         ISNULL( F.CD_ITEM_NAO_FAT, '' ) <> '*' AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO  FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT    FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI   FROM TPARAMETROS (NOLOCK)) AND  
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK))  
  GROUP BY F.CD_ITEM, I.NM_ITEM, I.NR_ORDEM_FAT, FAT.DT_FATURA, S.CD_VIA_TRANSPORTE  
  ORDER BY I.NR_ORDEM_FAT  
  
-- Grava registro na tabela do relatório TREL_RESUMO_FAT  
INSERT TREL_RESUMO_FAT ( NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, VL_DESPESA, INDICE  )  
  SELECT NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, SUM( VL_DESPESA ), INDICE  
  FROM   #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP  
  GROUP BY NR_IDENTIFICADOR, CD_PAGINA, CD_ITEM, CD_CT_CONTABIL, CD_UNID_NEG, NM_DESPESA, INDICE  
  
  
  DROP TABLE #TMP_REL_RESUMO_FAT_NOTAS_NVOCC_EXP  
 

SELECT ( SUBSTRING( CONVERT( VARCHAR(10), @dt_fim, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_fim, 103 ), 4, 2) ) NR_CONTAB,  
       IDENTITY(int, 1,1) NR_LANCAMENTO, @dt_fim DT_LANCAMENTO, ' ' NR_DOCTO, G.CD_CT_CONTABIL_CRE CD_CT_CREDORA, G.CD_CT_CONTABIL_DEB CD_CT_DEVEDORA,  
       SUM( F.VL_DESPESA ) VL_LANCAMENTO, ' ' NM_HISTORICO, @cd_filial CD_FILIAL, G.NM_DESC_CONTABIL NM_FORNECEDOR, 'DP' CD_SIMBOLOGIA  
  INTO #TMP_RESUMO  
  FROM TREL_RESUMO_FAT F (NOLOCK)  
       INNER JOIN TGRUPO_ITEM_ITEM I (NOLOCK) ON ( F.CD_ITEM = I.CD_ITEM )  
       LEFT JOIN TGRUPO_ITEM G (NOLOCK) ON ( I.CD_GRUPO_ITEM = G.CD_GRUPO_ITEM )  
WHERE NR_IDENTIFICADOR = @nr_identificador  
  AND ISNULL( G.CD_CT_CONTABIL_CRE, '' ) <> ''  
GROUP BY G.CD_CT_CONTABIL_CRE, G.CD_CT_CONTABIL_DEB, G.NM_DESC_CONTABIL
  
-- Grava na tabela de Contabilização  
INSERT TCONTABILIZACAO_LANC_SI  
     ( NR_CONTAB,  
       NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
       NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA  )  
SELECT NR_CONTAB,  
       RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, ( NR_LANCAMENTO + @nr_lanc ) ) ) ), 5 ),   
       DT_LANCAMENTO, NR_DOCTO, CD_CT_CREDORA, CD_CT_DEVEDORA,  
       VL_LANCAMENTO, NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA  
  FROM #TMP_RESUMO  
    
  
DROP TABLE #TMP_RESUMO  
 
DELETE FROM TREL_RESUMO_FAT  
WHERE NR_IDENTIFICADOR = @nr_identificador  
  
/*  
ROLLBACK TRAN  
SET XACT_ABORT OFF  
--*/  



GO
