USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_rel_desp_arm2] @nr_processo char(18), @nr_identificador int  AS 


INSERT TREL_DESP_ARM ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_DI, NR_PROCESSO, NM_URGENCIA, NM_ARMAZEM )
    SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, DI.NR_DECLARACAO_IMP NR_DI, P.NR_PROCESSO, Y.TX_YESNO NM_URGENCIA, ARM.NM_ARMAZEM
    FROM   TPROCESSO P (NOLOCK),
           TDECLARACAO_IMPORTACAO DI (NOLOCK),
           TYES_NO Y (NOLOCK),
           TARMAZEM ARM (NOLOCK),
           VW_DT_DESEMB DESEMB (NOLOCK),
           VW_DT_REG_DI REGDI (NOLOCK)
    WHERE  P.NR_PROCESSO = @nr_processo AND
           P.NR_PROCESSO = DI.NR_PROCESSO AND
           P.NR_PROCESSO *= DESEMB.NR_PROCESSO AND
           P.NR_PROCESSO = REGDI.NR_PROCESSO AND
           P.CD_ARMAZEM_DESCARGA *= ARM.CD_ARMAZEM AND
           P.IN_URGENTE = Y.CD_YESNO AND
           P.IN_IMP_ARM = '0' AND
           DI.NR_DECLARACAO_IMP IS NOT NULL AND
           DI.NR_DECLARACAO_IMP <> '' AND
           REGDI.DT_REALIZACAO IS NOT NULL AND
           DESEMB.DT_REALIZACAO IS NOT NULL AND
           ISNULL( P.CD_ARMAZEM_DESCARGA, '' ) <> ''
  
           UPDATE TPROCESSO
             SET    IN_IMP_ARM = '1'
             FROM   TPROCESSO P, TREL_DESP_ARM R
             WHERE  P.NR_PROCESSO = R.NR_PROCESSO




GO
