USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_exp_calcula](@nr_processo CHAR(18)) AS  
BEGIN  
    /*  
    SET XACT_ABORT ON  
    BEGIN TRAN  
    DECLARE @nr_processo CHAR(18)  
    --SET @nr_processo = '0102EM-5050-11'  
    SET @nr_processo = '0102EA-002395-15'
    --*/  
  
    DECLARE @tx_caminho               VARCHAR(500),  
            @vl_cub_aux               FLOAT,  
            @vl_pb_aux                FLOAT,  
            @vl_prod                  FLOAT,  
            @vl_emb                   FLOAT,  
            @vl_cub                   FLOAT,  
            @vl_pl                    FLOAT,  
            @vl_pb                    FLOAT,  
            @vl_exw                   FLOAT,  
            @vl_fob                   FLOAT,  
            @vl_mcv                   FLOAT,  
            @vl_desp                  FLOAT,  
            @vl_acrescimo             FLOAT,  
            @vl_desc                  FLOAT,  
            @vl_frete                 FLOAT,  
            @vl_frete_int             FLOAT,  
            @vl_inland_freight        FLOAT,  
            @vl_seguro                FLOAT,  
            @vl_tot_com_agente        FLOAT,  
            @vl_comissao_percent      FLOAT,  
            @vl_sem_cobertura_cambial FLOAT,  
            @cd_incoterm              CHAR(3),  
            @nItem                    INT,  
            @nr_seq_fetch             INT,  
            @vl_total_item            FLOAT,  
            @qt_merc_item             FLOAT,  
            @pl_item                  FLOAT,  
            @pb_item                  FLOAT,  
            @total_item               INT,  
            @tp_calculo               BIT,  
            @qt_total_item            CHAR(3),  
            @seq                      INT,  
            @nr_pedido_imp            CHAR(15),  
            @dt_remessa               DATETIME,  
            @seqCHAR                  CHAR(3),  
            @nr_pedido                VARCHAR(30), --Mudando de CHAR(18) porque quando o nr_pedido era muito grande, dava problemas na tabela temporária da procedure - Eric - 13/09/2012  
            @qtde_faturas             INT,  
            @cd_cliente               CHAR(5),  
            @in_integrado             CHAR(1),  
            @cd_grupo                 CHAR(3),      -- Para quando o grupo for da Firmenich fazer o rateio dos valores pelo peso líquido - Eric - 21/08/2012
            @in_soma_frete            CHAR(1) = '1' -- Para os Casos da Johnson que não devem incluir o frente no valor - Michel - 27/04/2012
              
    -- Recupera o grupo do cliente do processo
	SELECT @cd_grupo = G.CD_GRUPO FROM TPROCESSO P
	INNER JOIN TEMPRESA_NAC E ON P.CD_CLIENTE = E.CD_EMPRESA
	INNER JOIN TGRUPO G ON E.CD_GRUPO = G.CD_GRUPO
	WHERE NR_PROCESSO = @nr_processo

    SELECT @in_integrado = CASE COUNT(*)  
                               WHEN 0 THEN '0'  
                           ELSE '1'  
                           END  
    FROM TPROCESSO_EXP_PEDIDO (NOLOCK)  
    WHERE NR_PROCESSO = @nr_processo  
      AND ISNULL(IN_INTEGRADO, '0') = '1'  
/*
    SELECT @in_soma_frete = CASE CHARINDEX('JOHNSON', EN.NM_EMPRESA)  
                                WHEN 0 THEN '1'  
                            ELSE '0'  
                            END  
    FROM TPROCESSO_EXP PE (NOLOCK)  
       LEFT JOIN TEMPRESA_NAC EN (NOLOCK) ON EN.CD_EMPRESA = PE.CD_EXPORTADOR  
    WHERE PE.NR_PROCESSO = @nr_processo  
*/ SELECT @in_soma_frete = '1'
    IF(SELECT COUNT(*)  
       FROM TPROCESSO_EXP_ITEM (NOLOCK)  
       WHERE NR_PROCESSO = @nr_processo) > 0  
    BEGIN  
        -- Seleciona os totais dos itens  
        SELECT @vl_prod     = SUM(ISNULL(QT_MERCADORIA, 0)),  
               @vl_emb      = SUM(ISNULL(QT_EMBALAGEM, 0)),  
               @vl_cub      = SUM(ISNULL(VL_CUBAGEM, 0)),  
               @vl_pl       = SUM(ISNULL(VL_TOT_PESO_LIQ, 0)),  
               @vl_pb       = SUM(ISNULL(VL_TOT_PESO_BRUTO, 0)),  
               @vl_exw      = SUM(ROUND(ISNULL(VL_TOT_ITEM, 0), 2)),  
               @total_item  = COUNT(NR_ITEM)  
        FROM TPROCESSO_EXP_ITEM (NOLOCK)  
        WHERE NR_PROCESSO = @nr_processo  
  
        --verifica se o peso bruto é 0, se for verifica se foi informado na capa  
        IF @vl_pb = 0  
        BEGIN  
            SELECT @vl_pb = ISNULL(VL_PESO_BRUTO, 0)  
            FROM TPROCESSO_EXP (NOLOCK)  
            WHERE NR_PROCESSO = @nr_processo  
  
            IF @vl_pb > 0  
            BEGIN  
                DECLARE @temp_pb FLOAT  
                SET @temp_pb = @vl_pb  
  
                DECLARE cProcesso CURSOR LOCAL FOR  
                    SELECT NR_ITEM, VL_TOT_PESO_LIQ  
                    FROM TPROCESSO_EXP_ITEM
                    WHERE NR_PROCESSO = @nr_processo  
  
                OPEN cProcesso  
                FETCH cProcesso INTO @nr_seq_fetch, @pl_item  
  
                WHILE @@fetch_status = 0  
                BEGIN  
                    SET @pb_item = ROUND(((((@pl_item * 100) / @vl_pl) * @vl_pb) / 100), 0)  
                    SET @temp_pb = ROUND((@temp_pb - @pb_item), 0)  
  
                    IF @total_item = @nr_seq_fetch  
                        SET @pb_item = @pb_item + @temp_pb  
  
                    --SELECT @nr_seq_fetch, @pl_item, @pb_item, @temp_pb  
                    UPDATE TPROCESSO_EXP_ITEM  
                    SET VL_TOT_PESO_BRUTO = @pb_item  
                    WHERE CURRENT OF cProcesso  
  
                    FETCH cProcesso INTO @nr_seq_fetch, @pl_item  
                END  
                CLOSE cProcesso  
                DEALLOCATE cProcesso  
            END  
        END  
  
        --Adicionado preenchimento automático Manutenção Processo  
        UPDATE TPROCESSO_EMBALAGEM  
        SET PB_EMBALAGEM = CONVERT(numeric(18, 5), ROUND(@vl_pb, 7))  
        FROM TPROCESSO_EMBALAGEM(NOLOCK)  
        WHERE NR_PROCESSO = @nr_processo  
  
        -- Peso Líquido menor Peso Bruto, retorna que o usuário não tem atenção no que faz  
        IF @vl_pb < @vl_pl  
        BEGIN  
            PRINT 'OOPS! Peso líquido maior que o peso bruto.'  
            --/*  
            RETURN(1)  
            --*/SELECT 'RETURN 1'  
        END  
  
        -- Seleciona os totais do processo de exportação  
        SELECT @vl_desp                  = ISNULL(VL_TOT_DESPESA, 0),  
               @vl_acrescimo             = ISNULL(VL_ACRESCIMO, 0),  
               @vl_desc                  = ISNULL(VL_DESCONTO, 0),  
               @vl_frete                 = ISNULL(VL_FRETE, 0),  
               @vl_inland_freight        = ISNULL(VL_INLAND_FREIGHT, 0),  
               @vl_seguro                = ISNULL(VL_SEGURO, 0),  
               @vl_frete_int             = ISNULL(VL_FRETE_INT, 0),  
               @cd_incoterm              = CD_INCOTERM,  
               @tp_calculo               = IN_VENDA_INCOTERM,  
               @vl_comissao_percent      = ISNULL(VL_COMISSAO_PERCENT, 0),  
               @vl_sem_cobertura_cambial = ISNULL(VL_SEM_COBERTURA_CAMBIAL, 0),  
               @cd_cliente               = CD_EXPORTADOR  
        FROM TPROCESSO_EXP (NOLOCK)  
        WHERE NR_PROCESSO = @nr_processo  
  
        -- achando valor de cubagem da paletização, se existir(kleber 29/05/2007)  
        IF(SELECT COUNT(*)  
           FROM TPROCESSO_PALETIZACAO (NOLOCK)  
           WHERE NR_PROCESSO = @nr_processo) > 0  
        BEGIN  
            SELECT TX_CAMINHO, ISNULL(VL_M3, 0) AS VL_M3, ISNULL(VL_PESO_BRUTO, 0) AS VL_PESO_BRUTO  
            INTO #TMP_PALLET  
            FROM TPROCESSO_PALETIZACAO (NOLOCK)  
            WHERE NR_PROCESSO = @nr_processo  
            GROUP BY TX_CAMINHO, VL_M3, VL_PESO_BRUTO  
  
            SET @vl_cub = 0  
            SET @vl_pb  = 0  
  
            WHILE(SELECT COUNT(*) FROM #TMP_PALLET) > 0  
            BEGIN  
                SELECT TOP 1 @tx_caminho = TX_CAMINHO,  
                             @vl_cub_aux =  VL_M3,  
                             @vl_pb_aux = VL_PESO_BRUTO  
                FROM #TMP_PALLET  
  
                SET @vl_cub = @vl_cub + @vl_cub_aux  
                SET @vl_pb  = @vl_pb  + @vl_pb_aux  
  
                DELETE #TMP_PALLET  
                WHERE TX_CAMINHO = @tx_caminho  
            END  
  
            DROP TABLE #TMP_PALLET  
        END  
  
        -- VALOR FOB = TOTAL DOS ITENS MENOS O DESCONTO  
        SET @vl_fob = @vl_exw - @vl_desc  
        -- O MCV NESSE MOMENTO É IGUAL AO FOB, JA DESCONTANDO  
        SET @vl_mcv = @vl_fob  
        -- NÃO É VENDA NO INCOTERM  
        IF @tp_calculo = 0   
        BEGIN  
          -- NESSES INCOTERMS TEM QUE SOMAR TODOS OS VALORES PARA ACHAR O MCV  
          IF @cd_incoterm IN ('CIF', 'DAF', 'DES', 'CIP', 'DDP', 'DAP', 'DAT', 'DEC', 'DDU', 'FCA')  
            SET @vl_mcv = @vl_fob + @vl_seguro + @vl_frete + @vl_inland_freight + @vl_desp + @vl_acrescimo   
          -- NESSES INCOTERMS TEM QUE SOMAR TODOS OS VALORES, MENOS O SEGURO, PARA ACHAR O MCV  
          IF @cd_incoterm IN ('CFR', 'CPT')  
            SET @vl_mcv = @vl_fob + @vl_frete + @vl_inland_freight + @vl_desp + @vl_acrescimo   
          -- INCOTERM INVENTADO, TEM QUE SOMAR O SEGURO  
          IF @cd_incoterm IN ('C+I')  
            SET @vl_mcv = @vl_fob + @vl_seguro  
        END  
        ELSE  
        -- PARA VENDA NO INCOTERM, O QUE TEMOS NOS ITENS É O VALOR MCV, PORTANTO, ACHAREMOS O FOB ABAIXO  
        BEGIN  
          -- NESSES INCOTERMS TEM QUE SUBTRAIR TODOS OS VALORES PARA ACHAR O MCV  
          IF @cd_incoterm IN ('CIF', 'DAF', 'DES', 'CIP', 'DDP', 'DAP', 'DAT', 'DEC', 'DDU', 'FCA')  
            SET @vl_fob = @vl_mcv - @vl_seguro - @vl_frete - @vl_inland_freight - @vl_desp - @vl_acrescimo   
          -- NESSES INCOTERMS TEM QUE SUBTRAIR TODOS OS VALORES PARA ACHAR O MCV, EXCETO O SEGURO  
          IF @cd_incoterm IN ('CFR', 'CPT')  
            SET @vl_fob = @vl_mcv - @vl_frete - @vl_inland_freight - @vl_desp - @vl_acrescimo   
          -- INCOTERM INVENTADO, TEM QUE SUBTRAIR O SEGURO  
          IF @cd_incoterm IN ('C+I')  
            SET @vl_fob = @vl_mcv - @vl_seguro  
        END  
  
        -- Comissão do Agente  
        SET @vl_tot_com_agente = ROUND(((@vl_fob * @vl_comissao_percent) / 100), 2)  
  
        IF @vl_pl = 0  
            SET @vl_pl = NULL  
  
        IF @vl_cub = 0  
            SET @vl_cub = NULL  
  
        IF @vl_pB = 0  
            SET @vl_pB = NULL  
  
        UPDATE TPROCESSO_EXP  
        SET VL_TOT_QTDE_PROD      = CONVERT(numeric(18, 5), ROUND(@vl_prod, 5)),  
            VL_TOT_QTDE_EMBALAGEM = CONVERT(numeric(18, 5), ROUND(@vl_emb, 5)),  
            VL_TOT_CUBAGEM        = CONVERT(numeric(18, 7), ROUND(ISNULL(@vl_cub,VL_TOT_CUBAGEM), 7)),  
            VL_PESO_LIQUIDO       = CONVERT(numeric(18, 7), ROUND(ISNULL(@vl_pl,VL_PESO_LIQUIDO), 7)),  
            VL_PESO_BRUTO         = CONVERT(numeric(18, 7), ROUND(ISNULL(@vl_pb,VL_PESO_BRUTO), 7)),  
            VL_TOT_EXW            = CONVERT(numeric(18, 2), ROUND(@vl_exw, 2) - CASE ISNULL(@in_soma_frete, 1)  
                                                                                    WHEN 1 THEN 0  
                                                                                ELSE ISNULL(@vl_frete, 0) + ISNULL(@vl_frete_int, 0)  
                                                                                END),  
            VL_TOT_FOB            = CONVERT(numeric(18, 2), ROUND(@vl_fob, 2) - CASE ISNULL(@in_soma_frete, 1)  
                                                                                    WHEN 1 THEN 0  
                                                                                ELSE ISNULL(@vl_frete, 0) + ISNULL(@vl_frete_int, 0)  
                                                                                END),  
            VL_TOT_MCV            = CONVERT(numeric(18, 2), ROUND(@vl_mcv, 2) - CASE ISNULL(@in_soma_frete, 1)  
                                                                                    WHEN 1 THEN 0  
                                                                                ELSE ISNULL(@vl_frete, 0) + ISNULL(@vl_frete_int, 0)  
                                                                                END),  
            VL_TOT_COM_AGENTE     = CONVERT(numeric(14, 2), ROUND(@vl_tot_com_agente, 2))  
        FROM TPROCESSO_EXP (NOLOCK)  
        WHERE NR_PROCESSO = @nr_processo  
  
        /*CALCULO DOS TOTAIS DE ITENS*/  
        SET @nItem = 0  
  
        DECLARE @nTVlSegItem                FLOAT,  
                @nTVlFreteItem              FLOAT,  
                @nTVlDespItem               FLOAT,  
                @nTVlAcrescimoItem          FLOAT,  
                @nTVlDescItem               FLOAT,  
                @nTVLFreteINT               FLOAT,  
                @nVlComAgenteAcum           FLOAT,  
                @nVlSemCoberturaCambialAcum FLOAT,  
                @nVlFreteINT                FLOAT  
  
        SET @nTVlSegItem                = 0  
        SET @nTVlFreteItem              = 0  
        SET @nTVlDespItem               = 0  
        SET @nTVlAcrescimoItem          = 0  
        SET @nTVlDescItem               = 0  
        SET @nTVLFreteINT               = 0  
        SET @nVlComAgenteAcum           = 0  
        SET @nVlSemCoberturaCambialAcum = 0  
        SET @nVlFreteINT                = 0  
  
        SELECT @qtde_faturas = COUNT(*)  
        FROM TPROCESSO_EXP_PEDIDO (NOLOCK)  
        WHERE NR_PROCESSO = @nr_processo  
  
        IF @qtde_faturas <= 1
            UPDATE TPROCESSO_EXP_PEDIDO
            SET VL_DESCONTO       = @vl_desc,
                VL_FRETE          = @vl_frete,
                VL_SEGURO         = @vl_seguro,
                VL_ACRESCIMO      = @vl_acrescimo,
                VL_INLAND_FREIGHT = @vl_inland_freight
            WHERE NR_PROCESSO  = @nr_processo
        ELSE
            /*UPDATE TPROCESSO_EXP_PEDIDO
            SET VL_DESCONTO       = ISNULL(VL_DESCONTO, @vl_desc / @qtde_faturas),
                VL_FRETE          = ISNULL(VL_FRETE, @vl_frete / @qtde_faturas),
                VL_SEGURO         = ISNULL(VL_SEGURO, @vl_seguro / @qtde_faturas),
                VL_ACRESCIMO      = ISNULL(VL_ACRESCIMO, @vl_acrescimo / @qtde_faturas),
                VL_INLAND_FREIGHT = ISNULL(VL_INLAND_FREIGHT, @vl_inland_freight / @qtde_faturas)
            WHERE NR_PROCESSO = @nr_processo*/
            UPDATE TPROCESSO_EXP_PEDIDO
            SET VL_DESCONTO       = ISNULL(VL_DESCONTO, (@vl_desc / @vl_pl) * VL_PESO_LIQUIDO),
                VL_FRETE          = ISNULL(VL_FRETE, (@vl_frete / @vl_pl) * VL_PESO_LIQUIDO),
                VL_SEGURO         = ISNULL(VL_SEGURO, (@vl_seguro / @vl_pl) * VL_PESO_LIQUIDO),
                VL_ACRESCIMO      = ISNULL(VL_ACRESCIMO, (@vl_acrescimo / @vl_pl) * VL_PESO_LIQUIDO),
                VL_INLAND_FREIGHT = ISNULL(VL_INLAND_FREIGHT, (@vl_inland_freight / @vl_pl) * VL_PESO_LIQUIDO)
            WHERE NR_PROCESSO = @nr_processo 
  
        -- RATEANDO DA TELA DE TOTAIS  
        DECLARE @nVlSegItem                 FLOAT,  
                @nVlFreteItem               FLOAT,  
                @nVlDespItem                FLOAT,  
                @nVlAcrescimoItem           FLOAT,  
                @nVlDescItem                FLOAT,  
                @nVlComAgenteItem           FLOAT,  
                @nVlSemCoberturaCambialItem FLOAT,  
                @vl_mcv_item                FLOAT,  
                @vl_mle_item                FLOAT,  
                @vl_frete_fat               FLOAT,  
                @vl_desc_fat                FLOAT,  
                @vl_seguro_fat              FLOAT,  
                @vl_acrescimo_fat           FLOAT,  
                @VL_PL_FAT                  FLOAT,  
                @VL_EXW_FAT                 FLOAT,
                @vl_inland_freight_fat      FLOAT

        IF @qtde_faturas = 0  
        BEGIN  
            DECLARE cProcesso CURSOR LOCAL FOR  
                SELECT NR_ITEM, VL_TOT_ITEM, QT_MERCADORIA, VL_TOT_PESO_LIQ, VL_TOT_PESO_BRUTO  
                FROM TPROCESSO_EXP_ITEM  
                WHERE  NR_PROCESSO = @nr_processo  
  
            OPEN cProcesso  
            FETCH cProcesso INTO @nr_seq_fetch, @vl_total_item, @qt_merc_item, @pl_item, @pb_item  
  
            WHILE @@fetch_status <> -1  
            BEGIN  
                SET @nItem = @nItem + 1  
  
                IF @nItem <> @total_item  
                BEGIN  
                    --IF ISNULL(@VL_PL, 0) > 0
                    BEGIN
                        SET @nVlFreteItem = ROUND(((@vl_frete + @vl_inland_freight) * @pl_item) / @vl_pl, 2)
                        SET @nVldescItem = ROUND((@vl_desc * @pl_item) / @vl_pl, 2)
                        SET @nVlSegItem = ROUND((@vl_seguro * @pl_item) / @vl_pl, 2)
                        SET @nVlDespItem = ROUND((@vl_desp * @pl_item) / @vl_pl, 2)
                        SET @nVlAcrescimoItem = ROUND((@vl_acrescimo * @pl_item) / @vl_pl, 2)
                        SET @nVlSemCoberturaCambialItem = ROUND((@vl_sem_cobertura_cambial * @pl_item) / @vl_pl, 2)
                    END
  
                    SET @nTVlFreteItem = @nTVlFreteItem + @nVlFreteItem  
  
                    --IF ISNULL(@VL_EXW, 0) > 0  
                    --    SET @nVldescItem = ROUND((@vl_desc * @vl_total_item) / @vl_exw, 2)  
  
                    SET @nTVldescItem = @nTVldescItem + @nVldescItem  
  
                    --IF ISNULL(@VL_EXW, 0) > 0 
                    --    IF @cd_grupo = '118' -- Se o cliente for do grupo da Firmenich, rateia o seguro pelo peso líquido e não pelo valor EXW.   Eric 21/08/2012
                    --      SET @nVlSegItem = ROUND((@vl_seguro * @pl_item) / @vl_pl, 2)  
                    --    ELSE
                    --      SET @nVlSegItem = ROUND((@vl_seguro * @vl_total_item) / @vl_exw, 2)  
  
                    SET @nTVlSegItem = @nTVlSegItem + @nVlSegItem  
  
                    --IF ISNULL(@vl_exw, 0) > 0  
                    --    SET @nVlDespItem = ROUND((@vl_desp * @vl_total_item) / @vl_exw, 2)  
  
                    SET @nTVlDespItem = @nTVlDespItem + @nVlDespItem  
  
                    --IF ISNULL(@vl_exw, 0) > 0 
                    --    IF @cd_grupo = '118' -- Se o cliente for do grupo da Firmenich, rateia o acréscimo pelo peso líquido e não pelo valor EXW.   Eric 21/08/2012
                    --      SET @nVlAcrescimoItem = ROUND((@vl_acrescimo * @pl_item) / @vl_pl, 2)  
                    --    ELSE
                    --      SET @nVlAcrescimoItem = ROUND((@vl_acrescimo * @vl_total_item) / @vl_exw, 2)  
  
                    SET @nTVlAcrescimoItem = @nTVlAcrescimoItem + @nVlAcrescimoItem  
                    SET @nVlComAgenteItem = ROUND(((ROUND(@vl_total_item + @nVlDespItem + @nVlAcrescimoItem - @nVlDescItem, 2) * @vl_comissao_percent) / 100), 2)  
                    SET @nVlComAgenteAcum = ROUND(@nVlComAgenteAcum + @nVlComAgenteItem, 2)  
                    --SET @nVlSemCoberturaCambialItem = ROUND((@vl_sem_cobertura_cambial * @vl_total_item) / @vl_exw, 2)  
                    SET @nVlSemCoberturaCambialAcum = ROUND(@nVlSemCoberturaCambialAcum + @nVlSemCoberturaCambialItem, 2)  
                END  
                ELSE  
                BEGIN  
                    IF @total_item <> 1  
                    BEGIN  
                        SET @nVlFreteItem     = ROUND((@vl_frete + @vl_inland_freight) - @nTVlFreteItem, 2)  
                        SET @nVldescItem      = ROUND(@vl_desc - @nTVldescItem, 2)  
                        SET @nVlSegItem       = ROUND(@vl_seguro - @nTVlSegItem, 2)  
                        SET @nVlDespItem      = ROUND(@vl_desp - @nTVlDespItem, 2)  
                        SET @nVlAcrescimoItem = ROUND(@vl_acrescimo - @nTVlAcrescimoItem, 2)  
                        SET @nVlComAgenteItem = ROUND(@vl_tot_com_agente - @nVlComAgenteAcum, 2)  
                        SET @nVlSemCoberturaCambialItem = ROUND(@vl_sem_cobertura_cambial - @nVlSemCoberturaCambialAcum, 2)  
                    END  
                    ELSE  
                    BEGIN  
                        SET @nVlFreteItem     = ROUND(@vl_frete + @vl_inland_freight, 2)  
                        SET @nVldescItem      = ROUND(@vl_desc, 2)  
                        SET @nVlSegItem       = ROUND(@vl_seguro, 2)  
                        SET @nVlDespItem      = ROUND(@vl_desp, 2)  
                        SET @nVlAcrescimoItem = ROUND(@vl_acrescimo, 2)  
                        SET @nVlComAgenteItem = ROUND(@vl_tot_com_agente, 2)  
                        SET @nVlSemCoberturaCambialItem = ROUND(@vl_sem_cobertura_cambial, 2)  
                    END  
  
                    SET @nTVlFreteItem     = 0  
                    SET @nTVldescItem      = 0  
                    SET @nTVlSegItem       = 0  
                    SET @nTVlDespItem      = 0  
                    SET @nTVlAcrescimoItem = 0  
                END  
  
                SET @nVLFreteINT =(@pl_item * @vl_frete_int) / @vl_pl  
  
                -- Achando valor MCV  
                SET @vl_mle_item = ROUND(@vl_total_item + @nVlDespItem + @nVlAcrescimoItem + @nVLFreteINT - @nVlDescItem, 2)  
                SET @vl_mcv_item = ROUND(@vl_total_item + @nVlDespItem + @nVlAcrescimoItem + @nVLFreteINT - @nVlDescItem, 2)  

                IF @tp_calculo = 0        -- Calculo Normal  
                BEGIN  
                    IF (@cd_incoterm = 'DDU')  
                        SET @vl_mcv_item = ROUND(@vl_mcv_item + @nVlSegItem + @nVlFreteINT, 2)  
  
                    IF(@cd_incoterm = 'CFR') OR (@cd_incoterm = 'CPT')  
                        SET @vl_mcv_item = ROUND(@vl_mcv_item + @nVlFreteItem + @nVlFreteINT, 2)  
  
                    IF(@cd_incoterm = 'CIF') OR (@cd_incoterm = 'DAF') OR (@cd_incoterm = 'DES') OR (@cd_incoterm = 'CIP') OR (@cd_incoterm = 'DDP') OR (@cd_incoterm = 'DAP')  
                        SET @vl_mcv_item = ROUND(@vl_mcv_item + @nVlSegItem + @nVlFreteItem + @nVlFreteINT, 2)  
  
                    IF(@cd_incoterm = 'C+I') -- Adicionado por Diego 13/09/2005  
                        SET @vl_mcv_item = ROUND(@vl_mcv_item + @nVlSegItem + @nVlFreteINT, 2)  
                END  
                ELSE  
                BEGIN  
                    IF(@cd_incoterm = 'DDU')  
                        SET @vl_mle_item = ROUND(@vl_mcv_item - @nVlSegItem, 2)  
  
                    IF(@cd_incoterm = 'CFR') OR (@cd_incoterm = 'CPT')  
                        SET @vl_mle_item = ROUND(@vl_mcv_item - @nVlFreteItem, 2)  
  
                    IF(@cd_incoterm = 'CIF') OR (@cd_incoterm = 'DAF') OR (@cd_incoterm = 'DES') OR (@cd_incoterm = 'CIP') OR (@cd_incoterm = 'DDP') OR (@cd_incoterm = 'DAP')  
                        SET @vl_mle_item = ROUND(@vl_mcv_item -(@nVlSegItem + @nVlFreteItem), 2)  
  
                    IF(@cd_incoterm = 'C+I') -- Adicionado por Diego 13/09/2005  
                        SET @vl_mle_item = ROUND(@vl_mcv_item - @nVlSegItem, 2)  
                END  
  
                UPDATE TPROCESSO_EXP_ITEM  
                SET VL_SEGURO                = CONVERT(NUMERIC(14, 2), @nVlSegItem),  
                    VL_FRETE                 = CONVERT(NUMERIC(14, 2), @nVlFreteItem),  
                    VL_DESPESA               = CONVERT(numeric(14, 2), @nVlDespItem),  
                    VL_ACRESCIMO             = CONVERT(numeric(14, 2), @nVlAcrescimoItem),  
                    VL_DESCONTO              = CONVERT(numeric(14, 2), @nVldescItem),  
                    VL_MLE                   = CASE @in_integrado  
                                                   WHEN '0' THEN CONVERT(numeric(14, 2), ROUND(@vl_mle_item, 2))  
                                               ELSE VL_MLE  
                                               END - CASE ISNULL(@in_soma_frete, 1)  
                                                         WHEN 1 THEN 0  
                                                     ELSE ISNULL(@nVlFreteItem, 0)  
                                                     END,  
                    VL_MCV                   = CASE @in_integrado  
                                                   WHEN '0' THEN CONVERT(numeric(14, 5), ROUND(@vl_mcv_item, 5))  
                                               ELSE VL_MCV  
                                               END - CASE ISNULL(@in_soma_frete, 1)  
                                                         WHEN 1 THEN 0  
                                                     ELSE ISNULL(@nVlFreteItem, 0)  
                                                     END,  
                    VL_COM_AGENTE            = CONVERT(numeric(14, 5), ROUND(@nVlComAgenteItem, 2)),  
                    VL_FRETE_INT             = CONVERT(numeric(14, 5), ROUND(@nVLFreteINT, 6)),  
                    VL_SEM_COBERTURA_CAMBIAL = CONVERT(numeric(14, 2), ROUND(@nVlSemCoberturaCambialItem, 2))  
                WHERE CURRENT OF cProcesso  
  
                FETCH cProcesso INTO @nr_seq_fetch, @vl_total_item, @qt_merc_item, @pl_item, @pb_item  
            END  
            CLOSE cProcesso  
            DEALLOCATE cProcesso  
        END  
        ELSE  
        BEGIN  
            SELECT DISTINCT NR_PEDIDO  
            INTO #TMP_PEDIDOS  
            FROM TPROCESSO_EXP_ITEM (NOLOCK)  
            WHERE NR_PROCESSO = @nr_processo  
  
            WHILE(SELECT COUNT(*) FROM #TMP_PEDIDOS) > 0  
            BEGIN  
                SELECT TOP 1 @NR_PEDIDO = NR_PEDIDO  
                FROM #TMP_PEDIDOS  
  
                SELECT @vl_frete_fat          = ISNULL(VL_FRETE, 0),
                       @vl_desc_fat           = ISNULL(VL_DESCONTO, 0),
                       @vl_seguro_fat         = ISNULL(VL_SEGURO, 0),
                       @vl_acrescimo_fat      = ISNULL(VL_ACRESCIMO, 0),
                       @vl_inland_freight_fat = ISNULL(VL_INLAND_FREIGHT, 0)
                FROM TPROCESSO_EXP_PEDIDO (NOLOCK)  
                WHERE NR_PROCESSO   = @NR_PROCESSO  
                  AND NR_FATURA     = @nr_pedido  

                SELECT @VL_PL_FAT = SUM(VL_TOT_PESO_LIQ),  
                       @VL_EXW_FAT = SUM(VL_TOT_ITEM)  
                FROM TPROCESSO_EXP_ITEM (NOLOCK)  
                WHERE NR_PROCESSO = @NR_PROCESSO  
                  AND NR_PEDIDO = @nr_pedido  
  
                PRINT 'TIPO DE CALCULO: ' + CONVERT(CHAR, @tp_calculo)  
  
                IF @tp_calculo = 1        -- Calculo Normal  
                    SET @VL_EXW_FAT = @VL_EXW_FAT -(@vl_frete_fat + @vl_inland_freight_fat + @vl_seguro_fat)  
  
                SET @nVlFreteItem      = 0  
                SET @nTVlFreteItem     = 0  
                SET @nVldescItem       = 0  
                SET @nTVldescItem      = 0  
                SET @nVlSegItem        = 0  
                SET @nTVlSegItem       = 0  
                SET @nVlDespItem       = 0  
                SET @nTVlDespItem      = 0  
                SET @nVlAcrescimoItem  = 0  
                SET @nTVlAcrescimoItem = 0  
                SET @nVlComAgenteItem  = 0  
                SET @nVlComAgenteAcum  = 0  
                SET @nVlSemCoberturaCambialItem = 0  
                SET @nVlSemCoberturaCambialAcum = 0  
                SET @nTVLFreteINT      = 0  
  
                DECLARE cProcesso CURSOR LOCAL FOR  
                    SELECT NR_ITEM, VL_TOT_ITEM, QT_MERCADORIA, VL_TOT_PESO_LIQ, VL_TOT_PESO_BRUTO  
                    FROM TPROCESSO_EXP_ITEM 
                    WHERE NR_PROCESSO = @nr_processo  
                      AND NR_PEDIDO   = @NR_PEDIDO  
  
                OPEN cProcesso  
                FETCH cProcesso INTO @nr_seq_fetch, @vl_total_item, @qt_merc_item, @pl_item, @pb_item  
  
                DECLARE @QTD_ITENS INT  
  
                SELECT @QTD_ITENS = COUNT(*)  
                FROM TPROCESSO_EXP_ITEM (NOLOCK)  
                WHERE NR_PROCESSO = @nr_processo  
                  AND NR_PEDIDO = @NR_PEDIDO  
  
                SELECT @nTVlFreteItem = 0,  
                       @nTVldescItem = 0,  
                       @nTVlSegItem = 0,  
                       @nTVlAcrescimoItem = 0,  
                       @nTVlDespItem = 0,  
                       @nTVLFreteINT = 0  
  
                --SELECT @total_item, '@total_item'  
                --SELECT @QTD_ITENS, '@QTD_ITENS'  
                --SELECT @vl_frete_fat, '@vl_frete_fat'  
  
                WHILE @@fetch_status <> -1  
                BEGIN  
                    SET @QTD_ITENS = @QTD_ITENS - 1  
  
                    PRINT 'QTD_ITENS: ' + CONVERT(VARCHAR, @QTD_ITENS)  
  
                    SET @nItem = @nItem + 1  
  
                    IF @QTD_ITENS > 0 --@nItem <> @total_item  
                    BEGIN
                        --IF ISNULL(@VL_PL_FAT, 0) > 0  
                        BEGIN
                            SET @nVlFreteItem = ROUND(((@vl_frete_fat + @vl_inland_freight_fat) * @pl_item) / @vl_pl_fat, 2)
                            SET @nVldescItem = ROUND((@vl_desc_fat * @pl_item) / @vl_pl_fat, 2)
                            SET @nVlSegItem = ROUND((@vl_seguro_fat * @pl_item) / @vl_pl_fat, 2)
                            SET @nVlAcrescimoItem = ROUND((@vl_acrescimo_fat * @pl_item) / @vl_pl_fat, 2)
                            SET @nVlDespItem = ROUND((@vl_desp * @pl_item) / @vl_pl_fat, 2)
                            SET @nVlSemCoberturaCambialItem = ROUND((@vl_sem_cobertura_cambial * @pl_item) / @vl_pl_fat, 2)
                        END
  
                        SET @nTVlFreteItem = @nTVlFreteItem + @nVlFreteItem  
  
                        --IF ISNULL(@VL_EXW_FAT, 0) > 0  
                        --    SET @nVldescItem = ROUND((@vl_desc_fat * @vl_total_item) / @vl_exw_fat, 2)  
  
                        SET @nTVldescItem = @nTVldescItem + @nVldescItem  
  
                        SET @nVlSegItem = 0

                        --IF @cd_grupo IN ('118', '560') -- Firmenich ou Chevron
                        --BEGIN
                        --    IF ISNULL(@VL_PL_FAT, 0) > 0  
                        --        SET @nVlSegItem = ROUND((@vl_seguro_fat * @pl_item) / @vl_pl_fat, 2)
                        --END
                        --ELSE IF ISNULL(@VL_EXW_FAT, 0) > 0
                        --    SET @nVlSegItem = ROUND((@vl_seguro_fat * @pl_item) / @vl_pl_fat, 2)  

                        --IF @nr_processo = '0102EM-3884-13'
                        --    SET @nVlSegItem = 46.31

                        /*IF ISNULL(@VL_EXW_FAT, 0) > 0
                            IF @cd_grupo = '118' -- Se o cliente for do grupo da Firmenich, rateia o seguro pelo peso líquido e não pelo valor EXW.   Eric 21/08/2012
                              SET @nVlSegItem = ROUND((@vl_seguro_fat * @pl_item) / @vl_pl_fat, 2)  
                            ELSE 
                              SET @nVlSegItem = ROUND((@vl_seguro_fat * @vl_total_item) / @vl_exw_fat, 2)  */
 
                        SET @nTVlSegItem = @nTVlSegItem + @nVlSegItem  

                        --IF ISNULL(@VL_EXW_FAT, 0) > 0
                        --    IF @cd_grupo = '118' -- Se o cliente for do grupo da Firmenich, rateia o acréscimo pelo peso líquido e não pelo valor EXW.   Eric 21/08/2012
                        --      SET @nVlAcrescimoItem = ROUND((@vl_acrescimo_fat * @pl_item) / @vl_pl_fat, 2)  
                        --    ELSE  
                        --      SET @nVlAcrescimoItem = ROUND((@vl_acrescimo_fat * @vl_total_item) / @vl_exw_fat, 2)  
  
                        SET @nTVlAcrescimoItem = @nTVlAcrescimoItem + @nVlAcrescimoItem  
  
                        --IF ISNULL(@vl_exw, 0) > 0  
                        --    SET @nVlDespItem = ROUND((@vl_desp * @vl_total_item) / @vl_exw, 2)  
  
                        SET @nTVlDespItem = @nTVlDespItem + @nVlDespItem  
  
                        SET @nVlComAgenteItem = ROUND(((ROUND(@vl_total_item + @nVlDespItem + @nVlAcrescimoItem - @nVlDescItem, 2) * @vl_comissao_percent) / 100), 2)  
                        SET @nVlComAgenteAcum = ROUND(@nVlComAgenteAcum + @nVlComAgenteItem, 2)  
                        --SET @nVlSemCoberturaCambialItem = ROUND((@vl_sem_cobertura_cambial * @vl_total_item) / @vl_exw, 2)  
                        SET @nVlSemCoberturaCambialAcum = ROUND(@nVlSemCoberturaCambialAcum + @nVlSemCoberturaCambialItem, 2)  
                          
                        IF ISNULL(@vl_pl, 0) > 0  
                            SET @nVLFreteINT = ROUND((@pl_item * @vl_frete_int) / @vl_pl, 2)  
                        SET @nTVLFreteINT = @nTVLFreteINT + @nVLFreteINT  
                    END  
                    ELSE  
                    BEGIN
                        IF @total_item <> 1  
                        BEGIN  
                            SET @nVlFreteItem               = ISNULL(ROUND(@vl_frete_fat + @vl_inland_freight_fat - @nTVlFreteItem, 2), 0)  
                            SET @nVldescItem                = ISNULL(ROUND(@vl_desc_fat - @nTVldescItem, 2), 0)  
                            SET @nVlSegItem                 = ISNULL(ROUND(@vl_seguro_fat - @nTVlSegItem, 2), 0)  
                            SET @nVlAcrescimoItem           = ISNULL(ROUND(@vl_acrescimo_fat - @nTVlAcrescimoItem, 2), 0)  
                            SET @nVlDespItem                = ISNULL(ROUND(@vl_desp - @nTVlDespItem, 2), 0)  
                            SET @nVlComAgenteItem           = ISNULL(ROUND(@vl_tot_com_agente - @nVlComAgenteAcum, 2), 0)  
                            SET @nVlSemCoberturaCambialItem = ISNULL(ROUND(@vl_sem_cobertura_cambial - @nVlSemCoberturaCambialAcum, 2), 0)  
                            SET @nVLFreteINT                = ISNULL(ROUND(@vl_frete_int - @nTVLFreteINT, 2), 0)  
                        END  
                        ELSE  
                        BEGIN  
                            SET @nVlFreteItem               = ISNULL(ROUND(@vl_frete_fat + @vl_inland_freight_fat, 2), 0)  
                            SET @nVldescItem                = ISNULL(ROUND(@vl_desc_fat, 2), 0)  
                            SET @nVlSegItem                 = ISNULL(ROUND(@vl_seguro_fat, 2), 0)  
                            SET @nVlAcrescimoItem           = ISNULL(ROUND(@vl_acrescimo_fat, 2), 0)  
                            SET @nVlDespItem                = ISNULL(ROUND(@vl_desp, 2), 0)  
                            SET @nVlComAgenteItem           = ISNULL(ROUND(@vl_tot_com_agente, 2), 0)  
                            SET @nVlSemCoberturaCambialItem = ISNULL(ROUND(@vl_sem_cobertura_cambial, 2), 0)  
                            SET @nVLFreteINT                = ISNULL(ROUND(@vl_frete_int, 2), 0)  
                        END  
  
                        SET @nTVlFreteItem     = 0  
                        SET @nTVldescItem      = 0  
                        SET @nTVlSegItem       = 0  
                        SET @nTVlDespItem      = 0  
                        SET @nTVlAcrescimoItem = 0  
                        SET @nTVLFreteINT      = 0  
                    END  
  
                    --SET @nVLFreteINT =(@pl_item *@vl_frete_int) / @vl_pl  
  
                    -- Achando valor MCV  
                    SET @vl_mle_item = ROUND(@vl_total_item + @nVlDespItem + @nVlAcrescimoItem + @nVLFreteINT - @nVlDescItem, 2)  
                    SET @vl_mcv_item = ROUND(@vl_total_item + @nVlDespItem + @nVlAcrescimoItem + @nVLFreteINT - @nVlDescItem, 2)  

                    PRINT 'pedido : ' + @NR_PEDIDO  
                    PRINT '@VL_EXW_FAT : ' + convert(VARCHAR,@VL_EXW_FAT)  
                    PRINT '@vl_total_item : ' + convert(VARCHAR,@vl_total_item)  
                    PRINT '@vl_desc_fat : ' + convert(VARCHAR,@vl_desc_fat)  
                    PRINT '@vl_mle_item : ' + convert(VARCHAR,@vl_mle_item)  
  
                    IF @tp_calculo = 0        -- Calculo Normal  
                    BEGIN  
                        IF(@cd_incoterm = 'DDU')  -- No Incoterm DDU, ele somava com o Frete Interno e não com o Internacional - Eric 12/09/2012   Ocorr: 06982/12
                            SET @vl_mcv_item = ROUND(@vl_mcv_item + @nVlSegItem + @nVlFreteItem, 2)  
  
                        IF(@cd_incoterm = 'CFR') OR (@cd_incoterm = 'CPT')  
                            SET @vl_mcv_item = ROUND(@vl_mcv_item + @nVlFreteItem + @nVlFreteINT, 2)  
  
                        IF(@cd_incoterm = 'CIF') OR (@cd_incoterm = 'DAF') OR (@cd_incoterm = 'DES') OR (@cd_incoterm = 'CIP') OR (@cd_incoterm = 'DDP') OR (@cd_incoterm = 'DAP')  
                            SET @vl_mcv_item = ROUND(@vl_mcv_item + @nVlSegItem + @nVlFreteItem + @nVlFreteINT, 2)  
  
                        IF(@cd_incoterm = 'C+I') -- Adicionado por Diego 13/09/2005  
                            SET @vl_mcv_item = ROUND(@vl_mcv_item + @nVlSegItem + @nVlFreteINT, 2)  
                    END  
                    ELSE  
                    BEGIN  
                        IF(@cd_incoterm = 'DDU')  
                            SET @vl_mle_item = ROUND(@vl_mcv_item - @nVlSegItem, 2)  
  
                        IF(@cd_incoterm = 'CFR') OR (@cd_incoterm = 'CPT')  
                            SET @vl_mle_item = ROUND(@vl_mcv_item - @nVlFreteItem, 2)  
  
                        IF(@cd_incoterm = 'CIF') OR (@cd_incoterm = 'DAF') OR (@cd_incoterm = 'DES') OR (@cd_incoterm = 'CIP') OR (@cd_incoterm = 'DDP') OR (@cd_incoterm = 'DAP')  
                            SET @vl_mle_item = ROUND(@vl_mcv_item -(@nVlSegItem + @nVlFreteItem), 2)  
  
                        IF(@cd_incoterm = 'C+I') -- Adicionado por Diego 13/09/2005  
                            SET @vl_mle_item = ROUND(@vl_mcv_item - @nVlSegItem, 2)  
                    END  
  
                    UPDATE TPROCESSO_EXP_ITEM  
                    SET VL_SEGURO                = CONVERT(numeric(14, 2), @nVlSegItem),  
                        VL_FRETE                 = CONVERT(numeric(14, 2), @nVlFreteItem),  
                        VL_DESPESA               = CONVERT(numeric(14, 2), @nVlDespItem),  
                        VL_ACRESCIMO             = CONVERT(numeric(14, 2), @nVlAcrescimoItem),  
                        VL_DESCONTO              = CONVERT(numeric(14, 2), @nVldescItem),  
                        VL_MLE                   = CASE @in_integrado  
                                                       WHEN '0' THEN CONVERT(numeric(14, 2), ROUND(@vl_mle_item, 2))  
                                                   ELSE VL_MLE  
                                                   END - CASE ISNULL(@in_soma_frete, 1)  
                                                             WHEN 1 THEN 0  
                                                         ELSE ISNULL(@nVlFreteItem, 0)  
                                                         END,  
                        VL_MCV                   = CASE @in_integrado  
                                                       WHEN '0' THEN CONVERT(numeric(14, 5), ROUND(@vl_mcv_item, 5))  
                                                   ELSE VL_MCV  
                                                   END - CASE ISNULL(@in_soma_frete, 1)  
                                                             WHEN 1 THEN 0  
                                                         ELSE ISNULL(@nVlFreteItem, 0)  
                                                         END,  
                        VL_COM_AGENTE            = CONVERT(numeric(14, 5), ROUND(@nVlComAgenteItem, 2)),  
                        VL_FRETE_INT             = CONVERT(numeric(14, 5), ROUND(@nVLFreteINT, 6)),  
                        VL_SEM_COBERTURA_CAMBIAL = CONVERT(numeric(14, 2), ROUND(@nVlSemCoberturaCambialItem, 2))  
                    WHERE CURRENT OF cProcesso  
  
                    FETCH cProcesso INTO @nr_seq_fetch, @vl_total_item, @qt_merc_item, @pl_item, @pb_item  
                END  
                CLOSE cProcesso  
                DEALLOCATE cProcesso  
  
                DELETE #TMP_PEDIDOS  
                WHERE NR_PEDIDO = @NR_PEDIDO  
            END  
            DROP TABLE #TMP_PEDIDOS  
        END  
  
        SET @qt_total_item = CONVERT(CHAR(3),(SELECT COUNT(*) FROM TPROCESSO_EXP_ITEM (NOLOCK)  WHERE(NR_PROCESSO = @nr_processo)))  
        SET @qt_total_item = RIGHT(('000' + RTRIM(@qt_total_item)), 3)  
  
        UPDATE TPROCESSO_EXP  
        SET QT_TOTAL_ITENS = @qt_total_item  
        FROM TPROCESSO_EXP (NOLOCK)  
        WHERE NR_PROCESSO = @nr_processo  
    END  
  
    EXEC sp_exp_atz_ref @nr_processo  
    EXEC sp_exp_calc_ncm @nr_processo, 0  
    EXEC sp_exp_calc_naladi @nr_processo, 0  
  
    DELETE TPROCESSO_FORMA  
    WHERE NR_PROCESSO = @nr_processo  
  
    DECLARE @i INT  
    SET @i = 1  
  
    WHILE @i <= 4  
    BEGIN  
        INSERT TPROCESSO_FORMA(NR_PROCESSO, NR_PAGINA)  
        VALUES(@nr_processo, @i)  
  
        SET @i = @i + 1  
    END  
  
    -- Grava Remessa e Dt na tab. TREF_CLIENTE  
    -- HABILITADO POR ESTAR DUPLICANDO REGISTROS NA TREF_CLIENTE - VITOR - 12/04/07  
    DELETE TREF_CLIENTE  
    WHERE NR_PROCESSO = @nr_processo  
      AND TP_REFERENCIA = '03'  
  
    SELECT @seq = ISNULL(MAX(CAST(NR_SEQUENCIA AS INT)), 0) + 1  
    FROM TREF_CLIENTE(TABLOCK HOLDLOCK)  
    WHERE NR_PROCESSO = @nr_processo  
  
    DECLARE cRefCliente CURSOR LOCAL FOR  
        SELECT NR_PEDIDO_IMP, DT_REMESSA  
        FROM TPROCESSO_EXP_ITEM
        WHERE NR_PROCESSO = @nr_processo  
          AND ISNULL(NR_PEDIDO_IMP, '') <> ''  
        GROUP BY NR_PEDIDO_IMP, DT_REMESSA  
  
    OPEN cRefCliente  
    FETCH cRefCliente INTO @nr_pedido_imp, @dt_remessa  
  
    WHILE @@fetch_status = 0  
    BEGIN  
        SET @seqCHAR = CAST(@seq AS CHAR)  
        SET @seqCHAR = LEFT('000', 3-LEN(@seqCHAR)) + @seqCHAR  
  
        IF NOT EXISTS(SELECT *  
                      FROM TREF_CLIENTE (NOLOCK)  
                      WHERE NR_PROCESSO   = @nr_processo  
                        AND CD_REFERENCIA = @nr_pedido_imp  
                        AND NR_SEQUENCIA  = @seqCHAR  
                        AND TP_REFERENCIA = '03')  
        BEGIN  
            INSERT INTO TREF_CLIENTE(NR_PROCESSO, NR_SEQUENCIA, CD_REFERENCIA, DT_REFERENCIA, TP_REFERENCIA, CD_EMPRESA)  
            VALUES(@nr_processo, @seqCHAR, @nr_pedido_imp, @dt_remessa, '03', @CD_CLIENTE)  
  
            SET @seq = @seq + 1  
        END  
  
        FETCH cRefCliente INTO @nr_pedido_imp, @dt_remessa  
    END  
    CLOSE cRefCliente  
    DEALLOCATE cRefCliente  
  
    --verifica se o cliente faz conferencia de nf  
    IF(SELECT COUNT(*)  
       FROM TPROCESSO PR(NOLOCK), TEMPRESA_NAC EN(NOLOCK)  
        WHERE PR.NR_PROCESSO = @nr_processo  
          AND PR.CD_CLIENTE = EN.CD_EMPRESA  
          AND IN_CONFERE_NF = '1') > 0  
    BEGIN  
        DECLARE @vlTotalNF    FLOAT,  
                @vlTotalItem  FLOAT,  
                @vlTolerancia FLOAT  
  
        --seleciona o valor total das NF's  
        SELECT @vlTotalNF = ISNULL(SUM((VL_NOTA/VL_TAXA)), 0)  
        FROM TPROCESSO_EXP_NF(NOLOCK)  
        WHERE NR_PROCESSO = @nr_processo  
          AND ISNULL(VL_TAXA, 0) <> 0  
  
        --seleciona o valor total dos itens  
        SELECT @vlTotalItem = ISNULL(SUM(VL_TOT_ITEM), 0)  
        FROM TPROCESSO_EXP_ITEM (NOLOCK)  
        WHERE NR_PROCESSO = @nr_processo  
  
        --verifica se o valor das NF's bate com o valor total das mercadorias  
        SELECT @vlTolerancia = VL_TOLERANCIA_NF  
        FROM TPARAMETROS(NOLOCK)  
  
        IF ABS(@vlTotalNF-@vlTotalItem) > @vlTolerancia  
        BEGIN  
            PRINT ' OOPS! o valor da nota fiscal é diferente do valor total das mercadorias.'+CAST(ABS(@vlTotalNF-@vlTotalItem) as VARCHAR)  
            PRINT ' NF: '+CAST(ROUND(@vlTotalNF, 2) as VARCHAR)+'; Item: '+CAST(ROUND(@vlTotalItem, 2) as VARCHAR)  
            --/*  
            RETURN(2)  
            --*/SELECT 'RETURN 2'  
        END  
    END  
  
    --/*  
    RETURN(0)  
    --*/SELECT 'RETURN 0'  
  
    /*  
        --SELECT VL_TOT_FOB, VL_TOT_MCV, VL_TOT_EXW, VL_ACRESCIMO
        --FROM TPROCESSO_EXP
        --WHERE NR_PROCESSO = @NR_PROCESSO  
  
        SELECT NR_ITEM, VL_MCV, VL_MLE
        FROM TPROCESSO_EXP_ITEM  
        WHERE NR_PROCESSO = @NR_PROCESSO  
  
        --COMMIT  
        ROLLBACK TRAN
          
        --SELECT VL_TOT_FOB, VL_TOT_MCV, VL_TOT_EXW, VL_ACRESCIMO
        --FROM TPROCESSO_EXP  
        --WHERE NR_PROCESSO = @NR_PROCESSO  
  
        SELECT NR_ITEM, VL_MCV, VL_MLE
        FROM TPROCESSO_EXP_ITEM  
        WHERE NR_PROCESSO = @NR_PROCESSO  
    --*/  
END  
GO
