USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_di_atz_taxa_cambio    Script Date: 02/09/1999 08:58:10 AM ******/
CREATE PROCEDURE [sp_rel_est_demurrage] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                        @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT ) AS
/*

SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo    char(3)
DECLARE @cd_cliente  char(5)
DECLARE @dt_inicio   datetime
DECLARE @dt_fim      datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '31/07/2002', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/07/2002', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_EST_DEMURRAGE
SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

DECLARE @cd_ev_recep_analise  char(3)
DECLARE @cd_ev_ent            char(3)
DECLARE @cd_ev_pres_carga     char(3)
DECLARE @cd_ev_lib_bl         char(3)
DECLARE @cd_ev_reg_di         char(3)
DECLARE @cd_ev_averbacao      char(3)
DECLARE @cd_ev_desemb         char(3)
DECLARE @cd_ev_ci             char(3)
DECLARE @cd_ev_insp_ma        char(3)
DECLARE @cd_ev_nf_transp      char(3)
DECLARE @cd_ev_prev_entr_merc char(3)

SELECT @cd_ev_recep_analise  = CD_EV_RECEP_ANALISE,
       @cd_ev_ent            = CD_EV_ENT,
       @cd_ev_pres_carga     = CD_EV_PRES_CARGA,
       @cd_ev_lib_bl         = CD_EV_LIB_BL,
       @cd_ev_reg_di         = CD_EV_REG_DI,
       @cd_ev_averbacao      = CD_EV_AVERBACAO,
       @cd_ev_desemb         = CD_EV_DESEMB,
       @cd_ev_ci             = CD_EV_CI,
       @cd_ev_insp_ma        = CD_EV_INSP_MA,
       @cd_ev_nf_transp      = CD_EV_NF_TRANSP,
       @cd_ev_prev_entr_merc = CD_EV_PREV_ENTR_MERC
FROM   TPARAMETROS

INSERT TREL_EST_DEMURRAGE ( NR_IDENTIFICADOR, NR_PROCESSO, NR_CNTR, TP_CNTR, IN_DEMURRAGE, DT_DEVOLUCAO_CNTR,
                            CD_TRANSPORTADOR, CD_ARMAZEM_ATRACACAO, CD_ARMAZEM_DESCARGA, CD_CLIENTE, CD_CANAL, 
                            CD_TRANSP_NAC, DT_DOCTOS_OK, DT_ENT, DT_ENT_TERMINAL, DT_PRES_CARGA, DT_LIB_BL,
                            DT_REG_DI, DT_AVERBACAO, DT_DESEMB, DT_CI, DT_INSP_MA, DT_NF_TRANSP, DT_ENTR_FABRICA )
  SELECT @nr_identificador, P.NR_PROCESSO, C.NR_CNTR, C.TP_CNTR, 
         CASE 
           WHEN ( C.DT_DEVOLUCAO_CNTR > C.DT_DEMURRAGE ) THEN '1'
           ELSE '0'
         END AS IN_DEMURRAGE, C.DT_DEVOLUCAO_CNTR,
  /*     ( SELECT COUNT(*)
           FROM   TPROCESSO_CNTR C2
           WHERE  P.NR_PROCESSO = C2.NR_PROCESSO AND
                  C2.DT_DEVOLUCAO_CNTR > C2.DT_DEMURRAGE ) AS QT_CNTR_DEMURRAGE,
         ( SELECT COUNT(*)
           FROM   TPROCESSO_CNTR C2
           WHERE  P.NR_PROCESSO = C2.NR_PROCESSO AND
                  ( C2.DT_DEVOLUCAO_CNTR <= C2.DT_DEMURRAGE OR
                  C2.DT_DEMURRAGE IS NULL OR
                  C2.DT_DEVOLUCAO_CNTR IS NULL ) ) AS QT_CNTR_OK,*/
         P.CD_TRANSPORTADOR, P.CD_ARMAZEM_ATRACACAO, P.CD_ARMAZEM_DESCARGA, P.CD_CLIENTE, P.CD_CANAL, P.CD_TRANSP_NAC,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_recep_analise AND
                  F.IN_APLICAVEL = '1' ) AS DT_DOCTOS_OK,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_ent AND
                  F.IN_APLICAVEL = '1' ) AS DT_ENT,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_ent AND
                  F.IN_APLICAVEL = '1' ) AS DT_ENT_TERMINAL,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_pres_carga AND
                  F.IN_APLICAVEL = '1' ) AS DT_PRES_CARGA,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_lib_bl AND
                  F.IN_APLICAVEL = '1' ) AS DT_LIB_BL,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_reg_di AND
                  F.IN_APLICAVEL = '1' ) AS DT_REG_DI,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_averbacao AND
                  F.IN_APLICAVEL = '1' ) AS DT_AVERBACAO,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_desemb AND
                  F.IN_APLICAVEL = '1' ) AS DT_DESEMB,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_ci AND
                  F.IN_APLICAVEL = '1' ) AS DT_CI,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_insp_ma AND
                  F.IN_APLICAVEL = '1' ) AS DT_INSP_MA,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_nf_transp AND
                  F.IN_APLICAVEL = '1' ) AS DT_NF_TRANSP,
         ( SELECT F.DT_REALIZACAO
           FROM   TFOLLOWUP F
           WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
                  F.CD_EVENTO = @cd_ev_prev_entr_merc AND
                  F.IN_APLICAVEL = '1' ) AS DT_ENTR_FABRICA
  FROM   TPROCESSO_CNTR C, TPROCESSO P, TEMPRESA_NAC E, VW_DT_ENT V
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.NR_PROCESSO = V.NR_PROCESSO AND
         P.CD_PRODUTO = '01' AND
         P.IN_CANCELADO = '0' AND
         P.IN_LIBERADO = '1' AND
         P.IN_PRODUCAO = '1' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         V.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim
  ORDER BY P.NR_PROCESSO


GO
