USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_cargo_desc    Script Date: 02/09/1999 08:58:32 AM ******/
/****** Object:  Stored Procedure dbo.sp_atz_cargo_desc    Script Date: 22/11/1998 11:05:24 ******/
/****** Object:  Stored Procedure dbo.sp_atz_cargo_desc    Script Date: 08/10/1998 14:30:19 ******/
CREATE PROCEDURE [sp_atz_cargo_desc] AS
declare @nr_nivel       int
declare @nr_nivel_prox  int
select  @nr_nivel       = 0
delete TCARGO_DESCENDENTE
if (select count(*) from TCARGO) > 0
begin
  insert into TCARGO_DESCENDENTE
         select cd_cargo, cd_cargo, @nr_nivel
         from tcargo
  select @nr_nivel = @nr_nivel + 1
  insert into TCARGO_DESCENDENTE 
         select cd_cargo_pai, cd_cargo, @nr_nivel
         from tcargo
  while (select count(*) from tcargo_descendente cd, tcargo ca
                where (cd.cd_descendente = ca.cd_cargo_pai) and 
                      (cd.nr_nivel = @nr_nivel) ) > 0
  begin
    select @nr_nivel_prox = @nr_nivel + 1
    insert into TCARGO_DESCENDENTE
           select cd.cd_cargo, ca.cd_cargo, @nr_nivel_prox
                  from tcargo_descendente cd, tcargo ca
                  where (cd.cd_descendente = ca.cd_cargo_pai) and
                        (cd.nr_nivel = @nr_nivel)
    select @nr_nivel = @nr_nivel_prox
  end
end


GO
