USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [sp_rel_cont_emb] (@nr_processo char(18), @nr_identificador int OUTPUT ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

declare @nr_identificador int
declare @nr_processo      char(18)

select @nr_processo = '0102EA-0001-01'
--*/

DECLARE @cd_embalagem char(4)
DECLARE @nr_pagina    int
DECLARE @count_reg    int
DECLARE @cd_cliente   char(5)

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_CONT_EMB

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )                         

SELECT @cd_cliente = ( SELECT CD_CLIENTE FROM TPROCESSO WHERE NR_PROCESSO = @nr_processo ) 

SELECT @count_reg = 0

SELECT @nr_pagina = 1

DECLARE c_proc_in50 CURSOR FOR 
   ( SELECT CD_EMBALAGEM
     FROM TPROCESSO_IN50 
     WHERE NR_PROCESSO = @nr_processo )

OPEN c_proc_in50
FETCH c_proc_in50 INTO @cd_embalagem
WHILE @@fetch_status = 0
BEGIN

  SELECT @count_reg = ( SELECT @count_reg + 1 )
  
  if @count_reg > 4
  begin
    SELECT @count_reg = 0
    SELECT @nr_pagina = ( SELECT @nr_pagina + 1 )
  end
  
  INSERT TREL_CONT_EMB VALUES ( @nr_identificador, @nr_pagina, @nr_processo, @cd_embalagem, @cd_cliente )

  FETCH c_proc_in50 INTO @cd_embalagem
END

CLOSE c_proc_in50
DEALLOCATE c_proc_in50

/*
SELECT * FROM TREL_CONT_EMB WHERE NR_IDENTIFICADOR = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/

GO
