USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_di_verifica_adicao] @nr_processo char(18) AS

DECLARE @nr_adicao char(3)

DECLARE c_Cursor CURSOR FOR
  SELECT NR_ADICAO 
    FROM TADICAO_DE_IMPORTACAO 
    WHERE NR_PROCESSO = @nr_processo

OPEN c_Cursor  
FETCH c_Cursor INTO @nr_adicao
WHILE @@fetch_status <> -1
BEGIN
  IF (SELECT COUNT(*)
        FROM TDETALHE_MERCADORIA 
        WHERE NR_PROCESSO = @nr_processo AND NR_ADICAO = @nr_adicao) = 0
  BEGIN
    EXECUTE sp_exclui_adicao @nr_processo, @nr_adicao
  END
      
  FETCH c_Cursor INTO @nr_adicao
END

CLOSE c_Cursor     
DEALLOCATE c_Cursor   




GO
