USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
               
CREATE PROCEDURE [sp_cria_mbf_resultado_urgente] AS                  

DECLARE @TB_DATAS AS TABLE (NR_PROCESSO CHAR(18), 
                            DT_REALIZACAO_1 DATETIME, 
                            DT_REALIZACAO_2 DATETIME)    
DECLARE @TB_KPI_SELECIONADO AS TABLE (CD_KPI CHAR(12), 
                                      NM_KPI VARCHAR(MAX),
                                      TP_KPI CHAR(1),
                                      CD_EVENTO_1 CHAR(3),
                                      CD_EVENTO_2 CHAR(3),
                                      ID_KPI INT,
                                      IN_MODAL BIT, 
                                      IN_CNPJ BIT, 
                                      IN_AREA BIT, 
                                      IN_ESTUFAGEM BIT, 
                                      IN_LI BIT, 
                                      IN_PAIS_ORIGEM BIT, 
                                      IN_PREFIXO BIT,
                                      IN_TERMINAL BIT,
                                      IN_CANAL BIT,
                                      IN_SERVICO BIT,
                                      IN_LOCAL_DES BIT,
                                      ID CHAR(1))                                                     
DECLARE @NR_PROCESSO CHAR(18)     
DECLARE @NM_EMAIL VARCHAR(200)                       
DECLARE @CD_MBF INT
DECLARE @CD_USUARIO CHAR(4)
DECLARE @CD_GRUPO CHAR(3)
DECLARE @CD_CLIENTE CHAR(5)
DECLARE @CD_AREA_INFO CHAR(2)
DECLARE @CD_ATENDENTE CHAR(4)
DECLARE @CD_KPI CHAR(12)
DECLARE @NM_KPI VARCHAR(200)
DECLARE @NM_KPI_PRINCIPAL VARCHAR(200)
DECLARE @NM_COMPLETO VARCHAR(200)
DECLARE @NM_QUEBRAS VARCHAR (200)
DECLARE @NM_TP_KPI VARCHAR (200)
DECLARE @CD_TP_KPI CHAR(1)
DECLARE @TP_KPI      INT
DECLARE @CD_EVENTO_1 CHAR(3)
DECLARE @CD_EVENTO_2 CHAR(3)
DECLARE @MES_SELECIONADO INT
DECLARE @ANO_SELECIONADO INT
DECLARE @IN_MODAL BIT
DECLARE @IN_ESTUFAGEM BIT
DECLARE @IN_CNPJ BIT
DECLARE @IN_AREA BIT
DECLARE @IN_LI BIT
DECLARE @IN_PAIS_ORIGEM BIT
DECLARE @IN_PREFIXO BIT
DECLARE @IN_TERMINAL BIT
DECLARE @IN_CANAL BIT
DECLARE @IN_SERVICO BIT
DECLARE @IN_LOCAL_DES BIT
DECLARE @CD_MODAL CHAR(2)
DECLARE @CD_ESTUFAGEM CHAR(1)
DECLARE @CD_CNPJ CHAR(5)
DECLARE @CD_AREA CHAR(2)
DECLARE @CD_LI CHAR(1)
DECLARE @CD_PAIS_ORIGEM CHAR(3)
DECLARE @CD_PREFIXO CHAR(2)
DECLARE @CD_TERMINAL CHAR(4)
DECLARE @CD_CANAL CHAR(1)
DECLARE @CD_SERVICO CHAR(3)
DECLARE @CD_LOCAL_DES CHAR(4)
DECLARE @NM_MODAL VARCHAR(200)
DECLARE @NM_ESTUFAGEM VARCHAR(200)
DECLARE @NM_CNPJ VARCHAR(200)
DECLARE @NM_AREA VARCHAR(200)
DECLARE @NM_LI VARCHAR(200)
DECLARE @NM_PAIS_ORIGEM VARCHAR(200)
DECLARE @NM_PREFIXO VARCHAR(200)
DECLARE @NM_TERMINAL VARCHAR(200)
DECLARE @NM_CANAL VARCHAR(200)
DECLARE @NM_SERVICO VARCHAR(200)
DECLARE @NM_LOCAL_DES VARCHAR(200)
DECLARE @FERIADOS    INT
DECLARE @FDS INT
DECLARE @TOTAL INT
DECLARE @TOTAL_DIFERENCA INT
DECLARE @TOTAL_CORRIDOS INT
DECLARE @CONTADOR INT
DECLARE @DATA_1 DATETIME
DECLARE @DATA_1_AUX DATETIME
DECLARE @DATA_2 DATETIME
DECLARE @SINAL VARCHAR(1)
DECLARE @DIA INT
DECLARE @CD_SELECIONADO INT
DECLARE @CD_PRODUTO CHAR(2)
DECLARE @NR_META INT
DECLARE @CD_EVENTO_SELECIONADO CHAR(3)
DECLARE @ID_KPI INT
DECLARE @ID CHAR(1)
DECLARE @NM_QUEBRAS_AUX VARCHAR (200)
DECLARE @NM_ASSUNTO VARCHAR(200)
DECLARE @NM_MBF VARCHAR (200)
DECLARE @TX_EMAIL VARCHAR (400)
DECLARE @IN_UTEIS_CORRIDOS BIT 
DECLARE @TXT_SQL VARCHAR(MAX)
DECLARE @TXT_SQL_AUX VARCHAR(MAX)
DECLARE @TXT_SQL_AUX2 VARCHAR(MAX)


WHILE (SELECT COUNT (*) FROM TMBF_SELECIONADO (NOLOCK) WHERE IN_GERADO = 0 AND IN_URGENTE = '1') > 0
BEGIN  
  SET @NR_PROCESSO = NULL   
  SET @NM_EMAIL = NULL                    
  SET @CD_MBF = NULL
  SET @CD_USUARIO = NULL
  SET @CD_GRUPO = NULL
  SET @CD_CLIENTE = NULL
  SET @CD_AREA_INFO = NULL
  SET @CD_ATENDENTE = NULL
  SET @CD_KPI = NULL
  SET @NM_KPI = NULL
  SET @NM_KPI_PRINCIPAL = NULL
  SET @NM_COMPLETO = NULL
  SET @NM_QUEBRAS = NULL
  SET @NM_TP_KPI = NULL
  SET @CD_TP_KPI = NULL
  SET @TP_KPI      = NULL
  SET @CD_EVENTO_1 = NULL
  SET @CD_EVENTO_2 = NULL
  SET @MES_SELECIONADO = NULL
  SET @ANO_SELECIONADO = NULL
  SET @IN_MODAL = NULL
  SET @IN_ESTUFAGEM = NULL
  SET @IN_CNPJ = NULL
  SET @IN_AREA = NULL
  SET @IN_LI = NULL
  SET @IN_PAIS_ORIGEM = NULL
  SET @IN_PREFIXO = NULL
  SET @IN_TERMINAL = NULL
  SET @IN_CANAL = NULL
  SET @IN_SERVICO = NULL
  SET @IN_LOCAL_DES = NULL
  SET @CD_MODAL = NULL
  SET @CD_ESTUFAGEM = NULL
  SET @CD_CNPJ = NULL
  SET @CD_AREA = NULL
  SET @CD_LI = NULL
  SET @CD_PAIS_ORIGEM = NULL
  SET @CD_PREFIXO = NULL
  SET @CD_TERMINAL = NULL
  SET @CD_CANAL = NULL
  SET @CD_SERVICO = NULL
  SET @CD_LOCAL_DES = NULL
  SET @NM_MODAL = NULL
  SET @NM_ESTUFAGEM = NULL
  SET @NM_CNPJ = NULL
  SET @NM_AREA = NULL
  SET @NM_LI = NULL
  SET @NM_PAIS_ORIGEM = NULL
  SET @NM_PREFIXO = NULL
  SET @NM_TERMINAL = NULL
  SET @NM_CANAL = NULL
  SET @NM_SERVICO = NULL
  SET @NM_LOCAL_DES = NULL
  SET @FERIADOS = NULL 
  SET @FDS = NULL
  SET @TOTAL = NULL
  SET @TOTAL_DIFERENCA = NULL
  SET @CONTADOR = NULL
  SET @DATA_1 = NULL
  SET @DATA_2 = NULL
  SET @SINAL = NULL
  SET @DIA = NULL
  SET @CD_SELECIONADO = NULL
  SET @CD_PRODUTO = NULL
  SET @NR_META = NULL
  SET @CD_EVENTO_SELECIONADO = NULL
  SET @ID_KPI = NULL  
  SET @ID = NULL
  SET @NM_QUEBRAS_AUX = NULL
  SET @NM_ASSUNTO = NULL
  SET @NM_MBF = NULL
  SET @TX_EMAIL = NULL
  SET @IN_UTEIS_CORRIDOS = NULL
  SET @TXT_SQL = ''
  SET @TXT_SQL_AUX = ''
  SET @TXT_SQL_AUX2 = ''

  SELECT TOP 1 @CD_MBF = I.CD_MBF, @CD_USUARIO = I.CD_USUARIO, @CD_GRUPO = I.CD_GRUPO,  
    @MES_SELECIONADO = S.MES_SELECIONADO, @ANO_SELECIONADO = S.ANO_SELECIONADO,@CD_SELECIONADO = CD_SELECIONADO,    
    @CD_PRODUTO = I.CD_PRODUTO, @CD_EVENTO_SELECIONADO = S.CD_EVENTO, @NM_EMAIL = ISNULL(U.NM_EMAIL, 'ti@myindaia.com.br'), 
    @NM_MBF = I.NM_MBF, @IN_UTEIS_CORRIDOS = I.IN_UTEIS_CORRIDOS, @CD_CLIENTE = I.CD_CLIENTE, @CD_AREA_INFO = I.CD_AREA, @CD_ATENDENTE = I.CD_ATENDENTE
  FROM TMBF_SELECIONADO S (NOLOCK)
    INNER JOIN TMBF_INFO I (NOLOCK) ON (I.CD_MBF = S.CD_MBF AND I.CD_USUARIO = S.CD_USUARIO)
    INNER JOIN TUSUARIO U (NOLOCK) ON (U.CD_USUARIO = I.CD_USUARIO)
  WHERE IN_GERADO = 0  
  ORDER BY DT_SOLICITADO, IN_URGENTE
  
  INSERT INTO @TB_KPI_SELECIONADO (CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, ID_KPI, IN_MODAL, IN_CNPJ, 
  IN_AREA, IN_ESTUFAGEM, IN_LI, IN_PAIS_ORIGEM, IN_PREFIXO, IN_TERMINAL, IN_CANAL, IN_SERVICO, IN_LOCAL_DES, ID)
  SELECT CD_KPI , NM_KPI, RIGHT(CD_KPI, 1), SUBSTRING(CD_KPI, 4, 3), SUBSTRING(CD_KPI, 8, 3), ID_KPI,
  IN_MODAL, IN_CNPJ, IN_AREA, IN_ESTUFAGEM, IN_LI, IN_PAIS_ORIGEM, IN_PREFIXO, IN_TERMINAL, IN_CANAL, IN_SERVICO, IN_LOCAL_DES, '1' ID
  FROM TMBF_KPI
  WHERE CD_MBF = @CD_MBF
    AND CD_USUARIO = @CD_USUARIO
  UNION
  SELECT CD_GRAFICO , NM_GRAFICO, '3', NULL, NULL, ID_GRAFICO,
  IN_MODAL, IN_CNPJ, IN_AREA, IN_ESTUFAGEM, IN_LI, IN_PAIS_ORIGEM, IN_PREFIXO, IN_TERMINAL, IN_CANAL, IN_SERVICO, IN_LOCAL_DES, '2' ID
  FROM TMBF_OUTROS
  WHERE CD_MBF = @CD_MBF
    AND CD_USUARIO = @CD_USUARIO    
  ORDER BY ID     
  
  --SELECT * FROM @TB_KPI_SELECIONADO

  WHILE (SELECT COUNT(*) FROM @TB_KPI_SELECIONADO) > 0  
  BEGIN
    SET @CD_KPI = NULL
    SET @NM_KPI_PRINCIPAL = NULL
    SET @TP_KPI = NULL
    SET @CD_EVENTO_1 = NULL
    SET @CD_EVENTO_2 = NULL
    SET @ID_KPI = NULL
    SET @IN_MODAL = NULL
    SET @IN_CNPJ = NULL
    SET @IN_AREA = NULL
    SET @IN_ESTUFAGEM = NULL
    SET @IN_LI = NULL
    SET @IN_PAIS_ORIGEM = NULL
    SET @IN_PREFIXO = NULL
    SET @IN_TERMINAL = NULL
    SET @IN_CANAL = NULL
    SET @IN_SERVICO = NULL
    SET @IN_LOCAL_DES = NULL
    SET @CD_MODAL = NULL
    SET @CD_CNPJ = NULL
    SET @CD_AREA = NULL
    SET @CD_ESTUFAGEM = NULL
    SET @CD_LI = NULL
    SET @CD_PAIS_ORIGEM = NULL
    SET @CD_PREFIXO = NULL
    SET @CD_TERMINAL = NULL
    SET @CD_CANAL = NULL
    SET @CD_SERVICO = NULL
    SET @CD_LOCAL_DES = NULL
    SET @NM_MODAL = NULL
    SET @NM_CNPJ = NULL
    SET @NM_AREA = NULL
    SET @NM_ESTUFAGEM = NULL
    SET @NM_LI = NULL
    SET @NM_PAIS_ORIGEM = NULL
    SET @NM_PREFIXO = NULL
    SET @NM_TERMINAL = NULL
    SET @NM_CANAL = NULL
    SET @NM_SERVICO = NULL
    SET @NM_LOCAL_DES = NULL
           
    SELECT TOP 1 @CD_KPI = CD_KPI, @NM_KPI_PRINCIPAL = NM_KPI, @TP_KPI = TP_KPI, 
      @CD_EVENTO_1 = CD_EVENTO_1, @CD_EVENTO_2 = CD_EVENTO_2, @ID_KPI = ID_KPI,
      @IN_MODAL = IN_MODAL, @IN_CNPJ = IN_CNPJ, @IN_AREA = IN_AREA, @IN_ESTUFAGEM = IN_ESTUFAGEM, 
      @IN_LI = IN_LI, @IN_PAIS_ORIGEM = IN_PAIS_ORIGEM, @IN_PREFIXO = IN_PREFIXO, @IN_TERMINAL = IN_TERMINAL,
      @IN_CANAL = IN_CANAL, @IN_SERVICO = IN_SERVICO, @IN_LOCAL_DES = IN_LOCAL_DES, @ID = ID
    FROM @TB_KPI_SELECIONADO
    
    IF ISNULL(@CD_CLIENTE, '') <> ''   
    BEGIN
      SET @TXT_SQL_AUX = ' AND P.CD_CLIENTE = ''' + @CD_CLIENTE + ''''
      SET @TXT_SQL_AUX2 = ''
    END  
      
    IF ISNULL(@CD_AREA_INFO, '') <> '' 
    BEGIN
      SET @TXT_SQL_AUX = ' AND P.CD_AREA = ''' + @CD_AREA_INFO + ''''
      SET @TXT_SQL_AUX2 = ''
    END
    
    IF ISNULL(@CD_ATENDENTE, '') <> ''
    BEGIN 
      SET @TXT_SQL_AUX = ' AND CH.CD_ATENDENTE = ''' + @CD_ATENDENTE + ''''
      SET @TXT_SQL_AUX2 = '  INNER JOIN TCLIENTE_HABILITACAO CH (NOLOCK) ON (CH.CD_CLIENTE = P.CD_CLIENTE 
                                                                        AND CH.CD_PRODUTO = P.CD_PRODUTO 
                                                                        AND CH.CD_UNID_NEG = P.CD_UNID_NEG) '      
    END    
    
    IF @ID = '1'
      SET @TXT_SQL = 'SELECT P.NR_PROCESSO, F.DT_REALIZACAO, F2.DT_REALIZACAO
      FROM TPROCESSO P (NOLOCK)
        INNER JOIN TFOLLOWUP F (NOLOCK) ON (F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '''+ @CD_EVENTO_1 +''')
        INNER JOIN TFOLLOWUP F2 (NOLOCK) ON (F2.NR_PROCESSO = P.NR_PROCESSO AND F2.CD_EVENTO = '''+ @CD_EVENTO_2 + ''')  
        INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = ''' + @CD_EVENTO_SELECIONADO + ''')  
      ' + @TXT_SQL_AUX2 + '
      WHERE P.CD_GRUPO = ''' + @CD_GRUPO  + '''
        AND MONTH(FS.DT_REALIZACAO) = ' + CONVERT(VARCHAR, @MES_SELECIONADO) + '
        AND YEAR(FS.DT_REALIZACAO) = ' + CONVERT(VARCHAR, @ANO_SELECIONADO) + '
        AND P.CD_PRODUTO = ''' + @CD_PRODUTO + '''
        AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN (''FT'')  
        AND FS.DT_REALIZACAO IS NOT NULL
        AND ISNULL(P.IN_MBF, ''1'') <> ''0''
        AND P.IN_CANCELADO = ''0'' ' + @TXT_SQL_AUX
     ELSE     
       SET @TXT_SQL = 'SELECT P.NR_PROCESSO, NULL, NULL
       FROM TPROCESSO P (NOLOCK) 
         INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = ''' + @CD_EVENTO_SELECIONADO + ''')  
       ' + @TXT_SQL_AUX2 + '
       WHERE P.CD_GRUPO = ''' + @CD_GRUPO + '''
         AND MONTH(FS.DT_REALIZACAO) = ' + CONVERT(VARCHAR, @MES_SELECIONADO) + '
         AND YEAR(FS.DT_REALIZACAO) = ' + CONVERT(VARCHAR, @ANO_SELECIONADO) + '
         AND P.CD_PRODUTO = ' + @CD_PRODUTO + '
         AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN (''FT'')  
         AND FS.DT_REALIZACAO IS NOT NULL  
         AND ISNULL(P.IN_MBF, ''1'') <> ''0''
         AND P.IN_CANCELADO = ''0'' ' + @TXT_SQL_AUX
    
    --PRINT @TXT_SQL
    
    INSERT INTO @TB_DATAS
    EXEC(@TXT_SQL)
    
    /*
    IF @ID = '1'
	  IF ISNULL(@CD_CLIENTE, '') <> '' OR ISNULL(@CD_AREA_INFO, '') <> ''
        IF ISNULL(@CD_CLIENTE, '') <> '' AND ISNULL(@CD_AREA_INFO, '') <> ''	
          INSERT INTO @TB_DATAS
            SELECT P.NR_PROCESSO, F.DT_REALIZACAO, F2.DT_REALIZACAO
            FROM TPROCESSO P (NOLOCK)
              INNER JOIN TFOLLOWUP F (NOLOCK) ON (F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = @CD_EVENTO_1)
              INNER JOIN TFOLLOWUP F2 (NOLOCK) ON (F2.NR_PROCESSO = P.NR_PROCESSO AND F2.CD_EVENTO = @CD_EVENTO_2)  
              INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = @CD_EVENTO_SELECIONADO)  
            WHERE P.CD_GRUPO = @CD_GRUPO  
              AND P.CD_CLIENTE = @CD_CLIENTE
              AND P.CD_AREA = @CD_AREA_INFO             
              AND MONTH(FS.DT_REALIZACAO) = @MES_SELECIONADO
              AND YEAR(FS.DT_REALIZACAO) = @ANO_SELECIONADO 
              AND P.CD_PRODUTO = @CD_PRODUTO
              AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN ('FT')  
              AND FS.DT_REALIZACAO IS NOT NULL
              AND ISNULL(P.IN_MBF, '1') <> '0'
              AND P.IN_CANCELADO = '0'
        ELSE
          IF ISNULL(@CD_CLIENTE, '') <> ''
            INSERT INTO @TB_DATAS
              SELECT P.NR_PROCESSO, F.DT_REALIZACAO, F2.DT_REALIZACAO
              FROM TPROCESSO P (NOLOCK)
                INNER JOIN TFOLLOWUP F (NOLOCK) ON (F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = @CD_EVENTO_1)
                INNER JOIN TFOLLOWUP F2 (NOLOCK) ON (F2.NR_PROCESSO = P.NR_PROCESSO AND F2.CD_EVENTO = @CD_EVENTO_2)  
                INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = @CD_EVENTO_SELECIONADO)  
              WHERE P.CD_GRUPO = @CD_GRUPO  
                AND P.CD_CLIENTE = @CD_CLIENTE           
                AND MONTH(FS.DT_REALIZACAO) = @MES_SELECIONADO
                AND YEAR(FS.DT_REALIZACAO) = @ANO_SELECIONADO 
                AND P.CD_PRODUTO = @CD_PRODUTO
                AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN ('FT')  
                AND FS.DT_REALIZACAO IS NOT NULL
                AND ISNULL(P.IN_MBF, '1') <> '0'
                AND P.IN_CANCELADO = '0'
          ELSE
            INSERT INTO @TB_DATAS
              SELECT P.NR_PROCESSO, F.DT_REALIZACAO, F2.DT_REALIZACAO
              FROM TPROCESSO P (NOLOCK)
                INNER JOIN TFOLLOWUP F (NOLOCK) ON (F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = @CD_EVENTO_1)
                INNER JOIN TFOLLOWUP F2 (NOLOCK) ON (F2.NR_PROCESSO = P.NR_PROCESSO AND F2.CD_EVENTO = @CD_EVENTO_2)  
                INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = @CD_EVENTO_SELECIONADO)  
              WHERE P.CD_GRUPO = @CD_GRUPO  
                AND P.CD_AREA = @CD_AREA_INFO             
                AND MONTH(FS.DT_REALIZACAO) = @MES_SELECIONADO
                AND YEAR(FS.DT_REALIZACAO) = @ANO_SELECIONADO 
                AND P.CD_PRODUTO = @CD_PRODUTO
                AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN ('FT')  
                AND FS.DT_REALIZACAO IS NOT NULL
                AND ISNULL(P.IN_MBF, '1') <> '0'   
                AND P.IN_CANCELADO = '0'
      ELSE
        INSERT INTO @TB_DATAS
          SELECT P.NR_PROCESSO, F.DT_REALIZACAO, F2.DT_REALIZACAO
          FROM TPROCESSO P (NOLOCK)
            INNER JOIN TFOLLOWUP F (NOLOCK) ON (F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = @CD_EVENTO_1)
            INNER JOIN TFOLLOWUP F2 (NOLOCK) ON (F2.NR_PROCESSO = P.NR_PROCESSO AND F2.CD_EVENTO = @CD_EVENTO_2)  
            INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = @CD_EVENTO_SELECIONADO)  
          WHERE P.CD_GRUPO = @CD_GRUPO                  
            AND MONTH(FS.DT_REALIZACAO) = @MES_SELECIONADO
            AND YEAR(FS.DT_REALIZACAO) = @ANO_SELECIONADO 
            AND P.CD_PRODUTO = @CD_PRODUTO
            AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN ('FT')  
            AND FS.DT_REALIZACAO IS NOT NULL
            AND ISNULL(P.IN_MBF, '1') <> '0'   
            AND P.IN_CANCELADO = '0'      
    ELSE
      IF ISNULL(@CD_CLIENTE, '') <> '' OR ISNULL(@CD_AREA_INFO, '') <> ''
        IF ISNULL(@CD_CLIENTE, '') <> '' AND ISNULL(@CD_AREA_INFO, '') <> ''
          INSERT INTO @TB_DATAS
            SELECT P.NR_PROCESSO, NULL, NULL
            FROM TPROCESSO P (NOLOCK) 
              INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = @CD_EVENTO_SELECIONADO)  
            WHERE P.CD_GRUPO = @CD_GRUPO
              AND P.CD_CLIENTE = @CD_CLIENTE 
              AND P.CD_AREA = @CD_AREA_INFO 
              AND MONTH(FS.DT_REALIZACAO) = @MES_SELECIONADO
              AND YEAR(FS.DT_REALIZACAO) = @ANO_SELECIONADO 
              AND P.CD_PRODUTO = @CD_PRODUTO
              AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN ('FT')  
              AND FS.DT_REALIZACAO IS NOT NULL  
              AND ISNULL(P.IN_MBF, '1') <> '0'
              AND P.IN_CANCELADO = '0'
        ELSE
          IF ISNULL(@CD_CLIENTE, '') <> ''	 
            INSERT INTO @TB_DATAS
              SELECT P.NR_PROCESSO, NULL, NULL
              FROM TPROCESSO P (NOLOCK) 
                INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = @CD_EVENTO_SELECIONADO)  
              WHERE P.CD_GRUPO = @CD_GRUPO
                AND P.CD_CLIENTE = @CD_CLIENTE 
                AND MONTH(FS.DT_REALIZACAO) = @MES_SELECIONADO
                AND YEAR(FS.DT_REALIZACAO) = @ANO_SELECIONADO 
                AND P.CD_PRODUTO = @CD_PRODUTO
                AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN ('FT')  
                AND FS.DT_REALIZACAO IS NOT NULL  
                AND ISNULL(P.IN_MBF, '1') <> '0'
                AND P.IN_CANCELADO = '0'
          ELSE
            INSERT INTO @TB_DATAS
              SELECT P.NR_PROCESSO, NULL, NULL
              FROM TPROCESSO P (NOLOCK) 
                INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = @CD_EVENTO_SELECIONADO)  
              WHERE P.CD_GRUPO = @CD_GRUPO
                AND P.CD_AREA  = @CD_AREA_INFO  
                AND MONTH(FS.DT_REALIZACAO) = @MES_SELECIONADO
                AND YEAR(FS.DT_REALIZACAO) = @ANO_SELECIONADO 
                AND P.CD_PRODUTO = @CD_PRODUTO
                AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN ('FT')  
                AND FS.DT_REALIZACAO IS NOT NULL  
                AND ISNULL(P.IN_MBF, '1') <> '0'    
                AND P.IN_CANCELADO = '0' 
      ELSE
        INSERT INTO @TB_DATAS
          SELECT P.NR_PROCESSO, NULL, NULL
          FROM TPROCESSO P (NOLOCK) 
            INNER JOIN TFOLLOWUP FS (NOLOCK) ON (FS.NR_PROCESSO = P.NR_PROCESSO AND FS.CD_EVENTO = @CD_EVENTO_SELECIONADO)  
          WHERE P.CD_GRUPO = @CD_GRUPO
            AND MONTH(FS.DT_REALIZACAO) = @MES_SELECIONADO
            AND YEAR(FS.DT_REALIZACAO) = @ANO_SELECIONADO 
            AND P.CD_PRODUTO = @CD_PRODUTO
            AND SUBSTRING(P.NR_PROCESSO, 5, 2) NOT IN ('FT')  
            AND FS.DT_REALIZACAO IS NOT NULL  
            AND ISNULL(P.IN_MBF, '1') <> '0'
            AND P.IN_CANCELADO = '0'
    */   	
	--SELECT * FROM @TB_DATAS

    WHILE (SELECT COUNT (*) FROM @TB_DATAS) > 0
    BEGIN
      SET @NM_KPI = @NM_KPI_PRINCIPAL
      IF LEN(@NM_KPI) > 80
        SET @NM_KPI = LEFT(@NM_KPI_PRINCIPAL, 80) + '...' 
      SET @NM_QUEBRAS = ''
      SET @NM_COMPLETO = @NM_KPI_PRINCIPAL
      SELECT TOP 1 @NR_PROCESSO = NR_PROCESSO, @DATA_1 = DT_REALIZACAO_1, @DATA_2 = DT_REALIZACAO_2 
      FROM @TB_DATAS
    
      IF @IN_AREA = '1'
      BEGIN       
        SELECT @CD_AREA = A.CD_AREA, @NM_AREA = LTRIM(RTRIM(ISNULL(A.NM_AREA,'')))
        FROM TPROCESSO P (NOLOCK)
          LEFT JOIN TAREA A (NOLOCK) ON A.CD_AREA = P.CD_AREA
        WHERE P.NR_PROCESSO = @NR_PROCESSO
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_AREA 
        
        IF LEN(@NM_AREA) > 15
          SET @NM_AREA = LEFT(@NM_AREA, 12) + '...'        
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_AREA         
      END
      
      IF @IN_MODAL = '1'
      BEGIN
        SELECT @CD_MODAL =  S.CD_VIA_TRANSPORTE, @NM_MODAL = LTRIM(RTRIM(V.NM_VIA_TRANSPORTE)) 
        FROM TPROCESSO P (NOLOCK)
          INNER JOIN VW_SERVICO_GERAL S (NOLOCK) ON S.CD_SERVICO = P.CD_SERVICO 
          INNER JOIN TVIA_TRANSPORTE V (NOLOCK) ON V.CD_VIA_TRANSPORTE = S.CD_VIA_TRANSPORTE
        WHERE NR_PROCESSO = @NR_PROCESSO     
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_MODAL
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_MODAL
      END  
    
      IF @IN_CNPJ = '1'
      BEGIN
        SELECT @CD_CNPJ = E.CD_EMPRESA, @NM_CNPJ = LTRIM(RTRIM(ISNULL(E.AP_EMPRESA,''))) + ' (' + LTRIM(RTRIM(ISNULL(E.END_CIDADE,''))) + ')'  
        FROM TPROCESSO P (NOLOCK)
          LEFT JOIN TEMPRESA_NAC E (NOLOCK) ON E.CD_EMPRESA = P.CD_CLIENTE
        WHERE P.NR_PROCESSO = @NR_PROCESSO
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_CNPJ
        
        IF LEN(@NM_CNPJ) > 15
          SET @NM_CNPJ = LEFT(@NM_CNPJ, 12) + '...'        
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_CNPJ        
      END  
    
      IF @IN_ESTUFAGEM = '1' 
      BEGIN
        SELECT @CD_ESTUFAGEM = E.TP_ESTUFAGEM, @NM_ESTUFAGEM = LTRIM(RTRIM(ISNULL(E.NM_ESTUFAGEM,''))) 
        FROM TPROCESSO P (NOLOCK)
          LEFT JOIN VW_TIPO_ESTUFAGEM E (NOLOCK) ON E.TP_ESTUFAGEM = P.TP_ESTUFAGEM
        WHERE NR_PROCESSO = @NR_PROCESSO
        SET @NM_KPI = @NM_KPI 
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_ESTUFAGEM
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_ESTUFAGEM
      END
      
      IF @IN_LI = '1' 
      BEGIN      
        SELECT @NM_LI = ISNULL(L.NR_LI,'')
        FROM TPROCESSO P (NOLOCK)    
          LEFT JOIN TPROCESSO_LI L (NOLOCK) ON L.NR_PROCESSO = P.NR_PROCESSO      
        WHERE P.NR_PROCESSO = @NR_PROCESSO
        
        IF LTRIM(RTRIM(@NM_LI)) <> '' 
        BEGIN
          SET @CD_LI = '1'
          SET @NM_LI = 'Com LI'
        END
        ELSE
        BEGIN
          SET @CD_LI = '0'
          SET @NM_LI = 'Sem LI'
        END
        
        SET @NM_KPI = @NM_KPI 
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_LI
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_LI        
      END
      
      IF @IN_PAIS_ORIGEM = '1' 
      BEGIN
        SELECT @CD_PAIS_ORIGEM = PB.CD_PAIS, @NM_PAIS_ORIGEM = LTRIM(RTRIM(ISNULL(PB.NM_PAIS,''))) 
        FROM TPROCESSO P (NOLOCK)
          LEFT JOIN TPAIS_BROKER PB (NOLOCK) ON PB.CD_PAIS = P.CD_PAIS_ORIGEM
        WHERE NR_PROCESSO = @NR_PROCESSO
        SET @NM_KPI = @NM_KPI 
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_PAIS_ORIGEM
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_PAIS_ORIGEM
      END
      
      IF @IN_PREFIXO = '1' 
      BEGIN
        SELECT @CD_PREFIXO = SUBSTRING(P.NR_PROCESSO, 5, 2), @NM_PREFIXO = SUBSTRING(P.NR_PROCESSO, 5, 2)
        FROM TPROCESSO P (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO
        SET @NM_KPI = @NM_KPI 
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_PREFIXO
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_PREFIXO
      END
      
      IF @IN_TERMINAL = '1' 
      BEGIN
        SELECT @CD_TERMINAL = A.CD_ARMAZEM, @NM_TERMINAL = LTRIM(RTRIM(ISNULL(A.NM_ARMAZEM,''))) 
        FROM TPROCESSO P (NOLOCK)
          LEFT JOIN TARMAZEM A (NOLOCK) ON A.CD_ARMAZEM = P.CD_ARMAZEM_DESCARGA
        WHERE NR_PROCESSO = @NR_PROCESSO
        SET @NM_KPI = @NM_KPI 
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_TERMINAL
        
        IF LEN(@NM_TERMINAL) > 15
          SET @NM_TERMINAL = LEFT(@NM_TERMINAL, 12) + '...'   
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_TERMINAL
      END
      
      IF @IN_CANAL = '1' 
      BEGIN
        SELECT @CD_CANAL = P.CD_CANAL
        FROM TPROCESSO P (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO
        
        IF @CD_CANAL = '0' SET @NM_CANAL = 'Vermelho'          
        IF @CD_CANAL = '1' SET @NM_CANAL = 'Amarelo'
        IF @CD_CANAL = '2' SET @NM_CANAL = 'Verde'
        IF @CD_CANAL = '3' SET @NM_CANAL = 'Cinza'
        IF @CD_CANAL = '4' SET @NM_CANAL = 'Aguardando'
        IF @CD_CANAL = '5' SET @NM_CANAL = 'Verde Bloqueado'
        IF @CD_CANAL = '6' SET @NM_CANAL = 'Todos'
        
        SET @NM_KPI = @NM_KPI 
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_CANAL
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_CANAL
      END
      
      IF @IN_SERVICO = '1' 
      BEGIN
        SELECT @CD_SERVICO = A.CD_SERVICO, @NM_SERVICO = LTRIM(RTRIM(A.NM_SERVICO)) 
        FROM TPROCESSO P (NOLOCK)
          INNER JOIN VW_SERVICO_GERAL A (NOLOCK) ON A.CD_SERVICO = P.CD_SERVICO 
        WHERE NR_PROCESSO = @NR_PROCESSO
        SET @NM_KPI = @NM_KPI 
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_SERVICO
        
        IF LEN(@NM_SERVICO) > 15
          SET @NM_SERVICO = LEFT(@NM_SERVICO, 12) + '...'   
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_SERVICO
      END
      
      IF @IN_LOCAL_DES = '1' 
      BEGIN
        SELECT @CD_LOCAL_DES = A.CODIGO, @NM_LOCAL_DES = LTRIM(RTRIM(ISNULL(A.DESCRICAO,''))) 
        FROM TPROCESSO P (NOLOCK)
          LEFT JOIN TLOCAL_EMBARQUE A (NOLOCK) ON A.CODIGO = P.CD_LOCAL_DESEMBARQUE
        WHERE NR_PROCESSO = @NR_PROCESSO
        SET @NM_KPI = @NM_KPI 
        SET @NM_COMPLETO = @NM_COMPLETO + ' - ' +  @NM_LOCAL_DES
        
        IF LEN(@NM_LOCAL_DES) > 15
          SET @NM_LOCAL_DES = LEFT(@NM_LOCAL_DES, 12) + '...'   
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' - ' +  @NM_LOCAL_DES
      END
          
      IF @TP_KPI = '0'
      BEGIN
        SET @CD_TP_KPI = '0'
        
        IF @IN_UTEIS_CORRIDOS = 1
        BEGIN
          SET @NM_TP_KPI = ' (Ambos)'
          SET @NM_QUEBRAS = @NM_QUEBRAS + ' (Ambos)'
          SET @NM_COMPLETO = @NM_COMPLETO + ' (Ambos)'
        END
        ELSE
        BEGIN
          SET @NM_TP_KPI = ' (Úteis)'
          SET @NM_QUEBRAS = @NM_QUEBRAS + ' (Úteis)'
          SET @NM_COMPLETO = @NM_COMPLETO + ' (Úteis)'
        END
        
        SELECT @FERIADOS = COUNT(*) 
        FROM TFERIADO (NOLOCK)
        WHERE DT_FERIADO BETWEEN @DATA_1 AND @DATA_2
          AND DATEPART(WEEKDAY,DT_FERIADO) NOT IN ('1','7')
 
        SET @TOTAL =  DATEDIFF(DAY, @DATA_1, @DATA_2)     
        SET @TOTAL_CORRIDOS = @TOTAL
        SET @CONTADOR = 0
        SET @FDS = 0
  
        IF @TOTAL < 0
          SET @TOTAL_DIFERENCA = @TOTAL * (-1)
		ELSE
		  SET @TOTAL_DIFERENCA = @TOTAL
        
        WHILE NOT @CONTADOR >= @TOTAL_DIFERENCA
        BEGIN
          SELECT @DIA = DATEPART(WEEKDAY, @DATA_1)
          IF @DIA IN (1, 7)
            SET @FDS = @FDS + 1
          
          IF @TOTAL < 0
            SET @DATA_1 =  DATEADD(DAY, -1, @DATA_1)
          ELSE
            SET @DATA_1 = DATEADD(DAY, 1, @DATA_1)
    
          SET @CONTADOR = @CONTADOR + 1 
        END	
		
        SET @TOTAL_DIFERENCA = @TOTAL_DIFERENCA - @FERIADOS - @FDS           
        IF @TOTAL < 0
          SET @TOTAL_DIFERENCA = @TOTAL_DIFERENCA * (-1)	
        
        SELECT @NR_META = NR_META
		FROM TMBF_RESULTADO
		WHERE CD_MBF = @CD_MBF
          AND CD_USUARIO = @CD_USUARIO
          AND ISNULL(CD_MODAL, '') = ISNULL(@CD_MODAL, '')
          AND ISNULL(CD_ESTUFAGEM, '') = ISNULL(@CD_ESTUFAGEM, '')
          AND ISNULL(CD_LI, '') = ISNULL(@CD_LI, '')
          AND CD_KPI = @CD_KPI
          AND TP_KPI = @TP_KPI
          AND CD_TP_KPI = @CD_TP_KPI
          AND ID_KPI = @ID_KPI
        
        IF @NM_QUEBRAS = @NM_TP_KPI AND @NM_QUEBRAS <> ''
          SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 1)
        ELSE
          IF ISNULL(@NM_QUEBRAS,'') <> ''
	        SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
	      ELSE   
	        SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
          
        IF @IN_UTEIS_CORRIDOS = 1
        BEGIN          
          INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                      MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                      NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                      CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
          VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
            @TOTAL_DIFERENCA, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
            @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, @TOTAL_CORRIDOS, @CD_SERVICO, @CD_LOCAL_DES)  	                     
        END
        ELSE
          INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                      MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                      NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                      CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
          VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
            @TOTAL_DIFERENCA, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
            @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)  	             
      END

      IF @TP_KPI = '1'
      BEGIN
        SET @CD_TP_KPI = '1'
        SET @NM_TP_KPI = ' (Corridos)'
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' (Corridos)'
        SET @NM_COMPLETO = @NM_COMPLETO + ' (Corridos)'
      
        
        SET @TOTAL =  DATEDIFF(DAY, @DATA_1, @DATA_2)
  
        SET @TOTAL_DIFERENCA = @TOTAL
        
        SELECT @NR_META = NR_META
		FROM TMBF_RESULTADO
		WHERE CD_MBF = @CD_MBF
          AND CD_USUARIO = @CD_USUARIO
          AND ISNULL(CD_MODAL, '') = ISNULL(@CD_MODAL, '')
          AND ISNULL(CD_ESTUFAGEM, '') = ISNULL(@CD_ESTUFAGEM, '')
          AND ISNULL(CD_LI, '') = ISNULL(@CD_LI, '')
          AND CD_KPI = @CD_KPI
          AND TP_KPI = @TP_KPI
          AND CD_TP_KPI = @CD_TP_KPI
          AND ID_KPI = @ID_KPI
  
        IF @NM_QUEBRAS = @NM_TP_KPI AND @NM_QUEBRAS <> ''
          SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 1)
        ELSE
          IF ISNULL(@NM_QUEBRAS,'') <> ''
	        SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
	      ELSE   
	        SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
  
        INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                    MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                    NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                    CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
        VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
          @TOTAL_DIFERENCA, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
          @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)    	
      END

      IF @TP_KPI = '2'
      BEGIN
        --0
        SET @CD_TP_KPI = '0'
        SET @NM_TP_KPI = ' (Úteis)'
        SET @NM_QUEBRAS = @NM_QUEBRAS + ' (Úteis)'
        SET @NM_COMPLETO = @NM_COMPLETO + ' (Úteis)'
        SET @DATA_1_AUX = @DATA_1
        
        SELECT @FERIADOS = COUNT(*) 
        FROM TFERIADO (NOLOCK)
        WHERE DT_FERIADO BETWEEN @DATA_1 AND @DATA_2
          AND DATEPART(WEEKDAY,DT_FERIADO) NOT IN ('1','7')
 
        SET @TOTAL =  DATEDIFF(DAY, @DATA_1, @DATA_2)        
        SET @CONTADOR = 0
        SET @FDS = 0
  
        IF @TOTAL < 0
          SET @TOTAL_DIFERENCA = @TOTAL * (-1)
		ELSE
		  SET @TOTAL_DIFERENCA = @TOTAL
        
        WHILE NOT @CONTADOR >= @TOTAL_DIFERENCA
        BEGIN
          SELECT @DIA = DATEPART(WEEKDAY, @DATA_1_AUX)
          IF @DIA IN (1, 7)
            SET @FDS = @FDS + 1
          
          IF @TOTAL < 0
            SET @DATA_1_AUX =  DATEADD(DAY, -1, @DATA_1_AUX)
          ELSE
            SET @DATA_1_AUX = DATEADD(DAY, 1, @DATA_1_AUX)
    
          SET @CONTADOR = @CONTADOR + 1 
        END	
			   
        SET @TOTAL_DIFERENCA = @TOTAL_DIFERENCA - @FERIADOS - @FDS 
        IF @TOTAL < 0
          SET @TOTAL_DIFERENCA = @TOTAL_DIFERENCA * (-1)
        
        SELECT @NR_META = NR_META
		FROM TMBF_RESULTADO
		WHERE CD_MBF = @CD_MBF
          AND CD_USUARIO = @CD_USUARIO
          AND ISNULL(CD_MODAL, '') = ISNULL(@CD_MODAL, '')
          AND ISNULL(CD_ESTUFAGEM, '') = ISNULL(@CD_ESTUFAGEM, '')
          AND ISNULL(CD_LI, '') = ISNULL(@CD_LI, '')
          AND CD_KPI = @CD_KPI
          AND TP_KPI = @TP_KPI
          AND CD_TP_KPI = @CD_TP_KPI
          AND ID_KPI = @ID_KPI
        
        IF @NM_QUEBRAS = @NM_TP_KPI AND @NM_QUEBRAS <> ''
          SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 1)
        ELSE
          IF ISNULL(@NM_QUEBRAS,'') <> ''
	        SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
	      ELSE   
	        SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
        
        INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                    MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                    NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                    CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
        VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
          @TOTAL_DIFERENCA, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
          @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)  
        
        --1 
        SET @CD_TP_KPI = '1'
        SET @NM_TP_KPI = ' (Corridos)'
        SET @NM_QUEBRAS = REPLACE(@NM_QUEBRAS, '(Úteis)', '(Corridos)') 
        SET @NM_COMPLETO = REPLACE(@NM_COMPLETO, '(Úteis)', '(Corridos)')
       
		SELECT @TOTAL =  DATEDIFF(DAY, @DATA_1, @DATA_2)    
  
        SET @TOTAL_DIFERENCA = @TOTAL
		
		SELECT @NR_META = NR_META
		FROM TMBF_RESULTADO
		WHERE CD_MBF = @CD_MBF
          AND CD_USUARIO = @CD_USUARIO
          AND ISNULL(CD_MODAL, '') = ISNULL(@CD_MODAL, '')
          AND ISNULL(CD_ESTUFAGEM, '') = ISNULL(@CD_ESTUFAGEM, '')
          AND ISNULL(CD_LI, '') = ISNULL(@CD_LI, '')
          AND CD_KPI = @CD_KPI
          AND TP_KPI = @TP_KPI
          AND CD_TP_KPI = @CD_TP_KPI 
          AND ID_KPI = @ID_KPI      
        
        IF @NM_QUEBRAS = @NM_TP_KPI AND @NM_QUEBRAS <> ''
          SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 1)
        ELSE
          IF ISNULL(@NM_QUEBRAS,'') <> ''
	        SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
	      ELSE   
	        SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
        
        INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                      MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                      NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                      CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
        VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
          @TOTAL_DIFERENCA, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
          @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)   	  
      END
      
      IF @TP_KPI = '3'
      BEGIN
        SET @CD_TP_KPI = '3'
        SET @NM_TP_KPI = ''
        SET @NM_QUEBRAS = @NM_QUEBRAS + ''
        SET @NM_COMPLETO = @NM_COMPLETO + ''
      
        IF @NM_QUEBRAS = @NM_TP_KPI AND @NM_QUEBRAS <> ''
          SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 1)
        ELSE
          IF ISNULL(@NM_QUEBRAS,'') <> ''
	        SET @NM_QUEBRAS_AUX = RIGHT(@NM_QUEBRAS, LEN(@NM_QUEBRAS) - 3)
	      ELSE   
	        SET @NM_QUEBRAS_AUX = @NM_QUEBRAS
  
        SELECT @NR_META = NR_META
		FROM TMBF_RESULTADO
		WHERE CD_MBF = @CD_MBF
          AND CD_USUARIO = @CD_USUARIO
          AND ISNULL(CD_MODAL, '') = ISNULL(@CD_MODAL, '')
          AND ISNULL(CD_ESTUFAGEM, '') = ISNULL(@CD_ESTUFAGEM, '')
          AND ISNULL(CD_LI, '') = ISNULL(@CD_LI, '')
          AND CD_KPI = @CD_KPI
          AND CD_TP_KPI = @CD_TP_KPI 
          AND TP_KPI = @TP_KPI
          AND ID_KPI = @ID_KPI
		
        INSERT INTO TMBF_RESULTADO (CD_MBF, CD_USUARIO, CD_KPI, NM_KPI, TP_KPI, CD_EVENTO_1, CD_EVENTO_2, DIAS_KPI, NR_PROCESSO, 
                                      MES_RESULTADO, ANO_RESULTADO, CD_MODAL, CD_CNPJ, CD_AREA, CD_ESTUFAGEM, NR_META, CD_RESULTADO, 
                                      NM_QUEBRAS, NM_COMPLETO, TX_OBS_DESVIO, IN_SELECIONADO, NM_TP_KPI, CD_TP_KPI, CD_LI, 
                                      CD_PAIS_ORIGEM, CD_PREFIXO, ID_KPI, CD_TERMINAL, CD_CANAL, DIAS_KPI_CORRIDOS, CD_SERVICO, CD_LOCAL_DES)
        VALUES(@CD_MBF, @CD_USUARIO, @CD_KPI, @NM_KPI, @TP_KPI, @CD_EVENTO_1, @CD_EVENTO_2,
          0, @NR_PROCESSO, @MES_SELECIONADO, @ANO_SELECIONADO,
          @CD_MODAL, @CD_CNPJ, @CD_AREA, @CD_ESTUFAGEM, @NR_META, (SELECT ISNULL(MAX(CD_RESULTADO), 0) + 1 FROM TMBF_RESULTADO), @NM_QUEBRAS_AUX, @NM_COMPLETO, NULL, '1', LTRIM(RTRIM(@NM_TP_KPI)), @CD_TP_KPI, @CD_LI, @CD_PAIS_ORIGEM, @CD_PREFIXO, @ID_KPI, @CD_TERMINAL, @CD_CANAL, NULL, @CD_SERVICO, @CD_LOCAL_DES)    	
      END
      
      DELETE FROM @TB_DATAS WHERE NR_PROCESSO = @NR_PROCESSO
    END
    DELETE FROM @TB_KPI_SELECIONADO WHERE CD_KPI = @CD_KPI AND ID_KPI = @ID_KPI
  END    
  UPDATE TMBF_SELECIONADO SET IN_GERADO = '1', DT_GERADO = GETDATE() WHERE CD_MBF = @CD_MBF AND CD_USUARIO = @CD_USUARIO AND CD_SELECIONADO = @CD_SELECIONADO
  SET @NM_EMAIL = @NM_EMAIL + ',ti@myindaia.com.br'
  SET @NM_ASSUNTO = '[myIndaiáWeb] ' + @NM_MBF + ' - ' + CONVERT(VARCHAR, @MES_SELECIONADO) + '/' + CONVERT(VARCHAR, @ANO_SELECIONADO) + ' - MBF gerado com sucesso!'
  SET @TX_EMAIL = '<b>Atenção:</b><br> O MBF selecionado (<b>' + @NM_MBF + ' - ' + CONVERT(VARCHAR, @MES_SELECIONADO) + '/' + CONVERT(VARCHAR, @ANO_SELECIONADO) + '</b>) foi gerado com sucesso!'
  EXEC DBO.SP_ENVIA_EMAIL 'ti@myindaia.com.br', @NM_EMAIL, @NM_ASSUNTO, @TX_EMAIL  
END
        
SET NOCOUNT OFF                                



GO
