USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_rel_canal_mes]( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), @cd_area char(5), 
                                   @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg      char(2)
DECLARE @cd_grupo         char(3)
DECLARE @cd_cliente       char(5)
DECLARE @cd_area          char(2)
DECLARE @dt_inicio        datetime
DECLARE @dt_fim           datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_area = '08'
SELECT @dt_inicio = CONVERT( datetime, '01/01/2004', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/01/2004', 103 )
*/

SELECT @nr_identificador = MAX( NR_IDENTIFICADOR ) + 1
FROM   TREL_CANAL_MES

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

CREATE TABLE #TMP_MEDIA_CANAL (
      NR_PROCESSO    char(18),
      CD_UNID_NEG    char(2) ,
      CD_CANAL       char(1),
      CD_AREA        char(2),
      DT_REALIZACAO  datetime,
      DIAS           int
)

IF @cd_area = 'X'
BEGIN
  INSERT #TMP_MEDIA_CANAL 
  SELECT P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CANAL, P.CD_AREA, F.DT_REALIZACAO,
         ISNULL( DATEDIFF( DAY, ( SELECT DT_REALIZACAO
                                  FROM   TFOLLOWUP F2 (NOLOCK)
                                  WHERE  F2.NR_PROCESSO = P.NR_PROCESSO AND
                                         F2.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
                                         F2.IN_APLICAVEL = '1' ),
                                ( SELECT DT_REALIZACAO
                                  FROM   TFOLLOWUP F2 (NOLOCK)
                                  WHERE  F2.NR_PROCESSO = P.NR_PROCESSO AND
                                         F2.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) ) AND
                                         F2.IN_APLICAVEL = '1' ) ), 0 ) AS DIAS
  FROM   TPROCESSO P (NOLOCK), TFOLLOWUP F (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
         F.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.IN_CANCELADO = '0' AND
         F.IN_APLICAVEL = '1' AND
         ISNULL( P.CD_CANAL, '' ) NOT IN( '', '4' ) AND
         SUBSTRING( P.NR_PROCESSO, 5, 2 ) NOT IN ( 'IE' ) AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
         ( ( P.CD_AREA = @cd_area ) OR ( @cd_area = 'X' ) OR @cd_area IN ( SELECT CD_AREA
                                                                           FROM   TREF_CLIENTE R (NOLOCK)
                                                                           WHERE  R.NR_PROCESSO = P.NR_PROCESSO ) )
  ORDER BY P.NR_PROCESSO       
END
ELSE
BEGIN
  INSERT #TMP_MEDIA_CANAL 
  SELECT P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CANAL, P.CD_AREA, F.DT_REALIZACAO,
         ISNULL( DATEDIFF( DAY, ( SELECT DT_REALIZACAO
                                  FROM   TFOLLOWUP F2 (NOLOCK)
                                  WHERE  F2.NR_PROCESSO = P.NR_PROCESSO AND
                                         F2.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
                                         F2.IN_APLICAVEL = '1' ),
                                ( SELECT DT_REALIZACAO
                                  FROM   TFOLLOWUP F2 (NOLOCK)
                                  WHERE  F2.NR_PROCESSO = P.NR_PROCESSO AND
                                         F2.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS (NOLOCK) ) AND
                                         F2.IN_APLICAVEL = '1' ) ), 0 ) AS DIAS
  FROM   TPROCESSO P (NOLOCK), TFOLLOWUP F (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  P.NR_PROCESSO = F.NR_PROCESSO AND
         F.CD_EVENTO IN ( SELECT CD_EV_ENT FROM TPARAMETROS (NOLOCK) ) AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.IN_CANCELADO = '0' AND
         F.IN_APLICAVEL = '1' AND
         ISNULL( P.CD_CANAL, '' ) NOT IN( '', '4' ) AND
         SUBSTRING( P.NR_PROCESSO, 5, 2 ) NOT IN ( 'IE' ) AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         F.DT_REALIZACAO BETWEEN @dt_inicio AND @dt_fim AND
         ( ( P.CD_AREA = @cd_area ) OR ( @cd_area = 'X' ) AND @cd_area IN ( SELECT CD_AREA
                                                                              FROM TREF_CLIENTE R (NOLOCK)
                                                                             WHERE R.NR_PROCESSO = P.NR_PROCESSO ) )
  ORDER BY P.NR_PROCESSO 
END


INSERT TREL_CANAL_MES( NR_IDENTIFICADOR, MES, CD_UNID_NEG, CD_CANAL, CD_AREA, QT_PROCESSOS, MEDIA_DIAS )
SELECT @nr_identificador, DATEPART( m, DT_REALIZACAO ) AS MES, CD_UNID_NEG, CD_CANAL, CD_AREA, COUNT( NR_PROCESSO ) AS QT_PROCESSOS, AVG( DIAS ) AS MEDIA_DIAS
FROM   #TMP_MEDIA_CANAL
GROUP BY DATEPART( m, DT_REALIZACAO ), CD_UNID_NEG, CD_CANAL, CD_AREA
ORDER BY DATEPART( m, DT_REALIZACAO ), CD_CANAL, CD_AREA

DROP TABLE #TMP_MEDIA_CANAL

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/





GO
