USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_exclui_grupo_item] ( @cd_grupo_item char(2) ) AS
IF ( SELECT COUNT(*) 
     FROM   TGRUPO_ITEM_ITEM
     WHERE  CD_GRUPO_ITEM = @cd_grupo_item ) < 0
     RETURN (1)
BEGIN
  DELETE TGRUPO_ITEM_ITEM 
  WHERE  CD_GRUPO_ITEM = @cd_grupo_item 
END

RETURN (0)


GO
