USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_RATEIO_ACRESCIMOS_DEDUCOES](@NR_PROCESSO CHAR(18)) AS
BEGIN
    /*
    DECLARE @NR_PROCESSO CHAR(18)
    SET @NR_PROCESSO = '0101IM-001858-14'
    BEGIN TRAN
    --*/
    DECLARE @X                    FLOAT
    DECLARE @Y                    FLOAT
    DECLARE @SomaX                FLOAT
    DECLARE @ValorTotalAdicao     FLOAT
    DECLARE @PesoTotalAdicao      FLOAT
    DECLARE @Acrescimo            FLOAT
    DECLARE @Deducao              FLOAT
    DECLARE @Adicao               FLOAT
    DECLARE @AcrescimoMN          FLOAT
    DECLARE @DeducaoMN            FLOAT
    DECLARE @DataCalculoDI        DATETIME
    DECLARE @I                    INT
    DECLARE @CD_MOEDA_MLE_DI      CHAR(3)
    DECLARE @CD_MOEDA_MLE_AD      CHAR(3)
    DECLARE @CD_DESPESA           CHAR(2)
    DECLARE @CD_MOEDA             CHAR(3)
    DECLARE @TP_BASE              CHAR(5)
    DECLARE @NR_ADICAO            CHAR(3)
    DECLARE @VL_MERC_LOC_EMB_MNEG FLOAT
    DECLARE @PL_MERCADORIA        FLOAT
    DECLARE @CD_MOEDA_MLE         CHAR(3)
    DECLARE @NR_ITEM              CHAR(3)
    DECLARE @VL_ITEM              FLOAT
    DECLARE @PL_ITEM              FLOAT
    DECLARE @VL_ACRESCIMO_ITEM    FLOAT
    DECLARE @VL_ACRESCIMO_ITEM_MN FLOAT
    DECLARE @VL_DEDUCAO_ITEM      FLOAT
    DECLARE @VL_DEDUCAO_ITEM_MN   FLOAT
    DECLARE @VL_ACRESCIMO_AD      FLOAT
    DECLARE @VL_ACRESCIMO_AD_MN   FLOAT
    DECLARE @VL_DEDUCAO_AD        FLOAT
    DECLARE @VL_DEDUCAO_AD_MN     FLOAT
    
    PRINT '- Efetuando rateio de Acréscimos e Deduções'
    
    DECLARE @TB_ADICOES AS TABLE (
        NR_ADICAO CHAR(3),
        VL_MERC_LOC_EMB_MNEG FLOAT,
        PL_MERCADORIA FLOAT,
        CD_MOEDA_MLE CHAR(3)
    )
    
    DECLARE @TB_ITENS AS TABLE (
        NR_ITEM CHAR(3),
        VL_ITEM FLOAT,
        PL_ITEM FLOAT
    )
    
    DECLARE @TB_ACRESCIMOS AS TABLE (
        CD_DESPESA  CHAR(2),
        CD_MOEDA    CHAR(3),
        VL_MOEDA    FLOAT,
        TP_BASE     CHAR(5)
    )
    
    DECLARE @TB_DEDUCOES AS TABLE (
        CD_DESPESA  CHAR(2),
        CD_MOEDA    CHAR(3),
        VL_MOEDA    FLOAT,
        TP_BASE     CHAR(5)
    )
    
    -- Seleciona os Acréscimos da Capa da DI
    INSERT INTO @TB_ACRESCIMOS
    SELECT CD_DESPESA, CD_MOEDA, VL_MOEDA, TP_BASE
    FROM TACRESCIMO_DEDUCAO (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND TP_DESPESA  = 'A'

    -- Seleciona as Deduções da Capa da DI
    INSERT INTO @TB_DEDUCOES
    SELECT CD_DESPESA, CD_MOEDA, VL_MOEDA, TP_BASE
    FROM TACRESCIMO_DEDUCAO (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND TP_DESPESA  = 'D'

    DELETE FROM TACRESCIMO_VALORACAO
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_MET_ACRES_VALOR IN (SELECT CD_DESPESA
                                 FROM TACRESCIMO_DEDUCAO
                                 WHERE NR_PROCESSO = @NR_PROCESSO
                                   AND TP_DESPESA = 'A')

    DELETE FROM TDEDUCAO_VALORACAO
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_MET_DEDUC_VALOR IN (SELECT CD_DESPESA
                                 FROM TACRESCIMO_DEDUCAO
                                 WHERE NR_PROCESSO = @NR_PROCESSO
                                   AND TP_DESPESA = 'D')

    SELECT @ValorTotalAdicao = VL_TOT_MLE_MNEG,
           @PesoTotalAdicao  = PL_CARGA,
           @DataCalculoDI    = ISNULL(DT_CALCULO, CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 103), 103)),
           @CD_MOEDA_MLE_DI  = ISNULL(CD_MOEDA_MLE, '')
    FROM TDECLARACAO_IMPORTACAO (NOLOCK)
    WHERE NR_PROCESSO = @NR_PROCESSO

    UPDATE TDETALHE_MERCADORIA
    SET VL_ACRESCIMO_ITEM = 0,
        VL_ACRESCIMO_ITEM_MN = 0,
        VL_DEDUCAO_ITEM = 0,
        VL_DEDUCAO_ITEM_MN = 0
    WHERE NR_PROCESSO = @NR_PROCESSO

    /******************************************************************************/
    /* ACRESCIMOS POR VALOR OU PESO                                               */
    /******************************************************************************/
    WHILE (SELECT COUNT(*) FROM @TB_ACRESCIMOS) > 0
    BEGIN
        SELECT TOP 1 @CD_DESPESA  = CD_DESPESA,
                     @CD_MOEDA    = CD_MOEDA,
                     @AcrescimoMN = VL_MOEDA,
                     @TP_BASE     = TP_BASE
        FROM @TB_ACRESCIMOS
        
        SET @X = 0

        SELECT TOP 1 @Acrescimo = VL_MOEDA * DBO.FNC_TAXA_MOEDA(@CD_MOEDA, @DataCalculoDI)
        FROM @TB_ACRESCIMOS
        WHERE CD_DESPESA = @CD_DESPESA

        IF @CD_MOEDA_MLE_DI <> ''
            SELECT @Acrescimo = @Acrescimo / DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_DI, @DataCalculoDI)

        -- Seleciona as Adições
        INSERT INTO @TB_ADICOES
        SELECT NR_ADICAO, VL_MERC_LOC_EMB_MNEG, PL_MERCADORIA, ISNULL(CD_MOEDA_MLE, CD_MOEDA_NEGOCIADA)
        FROM TADICAO_DE_IMPORTACAO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO
        ORDER BY NR_ADICAO

        WHILE (SELECT COUNT(*) FROM @TB_ADICOES) > 0
        BEGIN
            SELECT TOP 1 @NR_ADICAO = NR_ADICAO,
                         @VL_MERC_LOC_EMB_MNEG = VL_MERC_LOC_EMB_MNEG,
                         @PL_MERCADORIA = PL_MERCADORIA,
                         @CD_MOEDA_MLE_AD = CD_MOEDA_MLE
            FROM @TB_ADICOES
            ORDER BY NR_ADICAO

            IF @TP_BASE = 'Valor'
            BEGIN
                SET @Adicao = @VL_MERC_LOC_EMB_MNEG
                SET @X = (@Adicao * @Acrescimo)   / @ValorTotalAdicao
                SET @Y = (@Adicao * @AcrescimoMN) / @ValorTotalAdicao
            END
            ELSE
            BEGIN
                SET @Adicao = @PL_MERCADORIA
                SET @X = (@Adicao * @Acrescimo)   / @PesoTotalAdicao
                SET @Y = (@Adicao * @AcrescimoMN) / @PesoTotalAdicao
            END
            IF @CD_MOEDA_MLE_DI = ''
                SET @X = @X / DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_AD, @DataCalculoDI)

            IF @CD_MOEDA_MLE_DI = ''
                INSERT INTO TACRESCIMO_VALORACAO(NR_PROCESSO, NR_ADICAO, CD_MET_ACRES_VALOR, VL_ACRESCIMO_MOEDA, CD_MD_NEGOC_ACRES, VL_ACRESCIMO_MN)
                VALUES(@NR_PROCESSO, @NR_ADICAO, @CD_DESPESA, CONVERT(DECIMAL(28, 2), @X), @CD_MOEDA_MLE_AD, CONVERT(DECIMAL(28, 2), @X * DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_AD, @DataCalculoDI)))
            ELSE
                INSERT INTO TACRESCIMO_VALORACAO(NR_PROCESSO, NR_ADICAO, CD_MET_ACRES_VALOR, VL_ACRESCIMO_MOEDA, CD_MD_NEGOC_ACRES, VL_ACRESCIMO_MN)
                VALUES(@NR_PROCESSO, @NR_ADICAO, @CD_DESPESA, CONVERT(DECIMAL(28, 2), @X), @CD_MOEDA_MLE_AD, CONVERT(DECIMAL(28, 2), @X * DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_DI, @DataCalculoDI)))

            -- Seleciona Itens
            INSERT INTO @TB_ITENS
            SELECT NR_ITEM, VL_MLE_ITEM, PL_MERCADORIA
            FROM TDETALHE_MERCADORIA
            WHERE NR_PROCESSO = @NR_PROCESSO
              AND NR_ADICAO = @NR_ADICAO

            SET @VL_ACRESCIMO_AD   = @X
            IF ISNULL(@CD_MOEDA_MLE_DI, '') <> ''
                SET @VL_ACRESCIMO_AD_MN = @X * DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_DI, @DataCalculoDI)
            ELSE
                SET @VL_ACRESCIMO_AD_MN = @X * DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_AD, @DataCalculoDI)

            WHILE (SELECT COUNT(*) FROM @TB_ITENS) > 0
            BEGIN
                SELECT TOP 1 @NR_ITEM = NR_ITEM,
                             @VL_ITEM = VL_ITEM,
                             @PL_ITEM = PL_ITEM
                FROM @TB_ITENS
                ORDER BY NR_ITEM

                IF @TP_BASE = 'Valor'
                BEGIN
                    SET @VL_ACRESCIMO_ITEM = ROUND((@VL_ACRESCIMO_AD / @VL_MERC_LOC_EMB_MNEG) * @VL_ITEM, 2)
                    SET @VL_ACRESCIMO_ITEM_MN = ROUND((@VL_ACRESCIMO_AD_MN / @VL_MERC_LOC_EMB_MNEG) * @VL_ITEM, 2)
                END
                ELSE
                BEGIN
                    SET @VL_ACRESCIMO_ITEM = ROUND((@VL_ACRESCIMO_AD / @PL_MERCADORIA) * @PL_ITEM, 2)
                    SET @VL_ACRESCIMO_ITEM_MN = ROUND((@VL_ACRESCIMO_AD_MN / @PL_MERCADORIA) * @PL_ITEM, 2)
                END

                UPDATE TDETALHE_MERCADORIA
                SET VL_ACRESCIMO_ITEM = ISNULL(VL_ACRESCIMO_ITEM, 0) + ISNULL(@VL_ACRESCIMO_ITEM, 0),
                    VL_ACRESCIMO_ITEM_MN = ISNULL(VL_ACRESCIMO_ITEM_MN, 0) + ISNULL(@VL_ACRESCIMO_ITEM_MN, 0)
                WHERE NR_PROCESSO = @NR_PROCESSO
                  AND NR_ADICAO = @NR_ADICAO
                  AND NR_ITEM = @NR_ITEM

                DELETE @TB_ITENS
                WHERE NR_ITEM = @NR_ITEM
            END

            DELETE @TB_ADICOES
            WHERE NR_ADICAO = @NR_ADICAO
        END
        
        DELETE FROM @TB_ACRESCIMOS WHERE CD_DESPESA = @CD_DESPESA
    END
    
    /******************************************************************************/
    /* DEDUÇÕES POR VALOR OU PESO                                               */
    /******************************************************************************/
    WHILE (SELECT COUNT(*) FROM @TB_DEDUCOES) > 0
    BEGIN
        SELECT TOP 1 @CD_DESPESA  = CD_DESPESA,
                     @CD_MOEDA    = CD_MOEDA,
                     @AcrescimoMN = VL_MOEDA,
                     @TP_BASE     = TP_BASE
        FROM @TB_DEDUCOES
        
        SET @X = 0
        
        SELECT @Deducao = VL_MOEDA * DBO.FNC_TAXA_MOEDA(@CD_MOEDA, @DataCalculoDI)
        FROM @TB_DEDUCOES
        WHERE CD_DESPESA = @CD_DESPESA
      
        IF @CD_MOEDA_MLE_DI <> ''
            SELECT @Deducao = @Deducao / DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_DI, @DataCalculoDI)
        
        -- Seleciona as Adições
        INSERT INTO @TB_ADICOES
        SELECT NR_ADICAO, VL_MERC_LOC_EMB_MNEG, PL_MERCADORIA, ISNULL(CD_MOEDA_MLE, CD_MOEDA_NEGOCIADA)
        FROM TADICAO_DE_IMPORTACAO (NOLOCK)
        WHERE NR_PROCESSO = @NR_PROCESSO
        ORDER BY NR_ADICAO

        WHILE (SELECT COUNT(*) FROM @TB_ADICOES) > 0
        BEGIN
            SELECT TOP 1 @NR_ADICAO = NR_ADICAO,
                         @VL_MERC_LOC_EMB_MNEG = VL_MERC_LOC_EMB_MNEG,
                         @PL_MERCADORIA = PL_MERCADORIA,
                         @CD_MOEDA_MLE_AD = CD_MOEDA_MLE
            FROM @TB_ADICOES
            ORDER BY NR_ADICAO

            IF @TP_BASE = 'Valor'
            BEGIN
                SET @Adicao = @VL_MERC_LOC_EMB_MNEG
                SET @X = (@Adicao * @Deducao)   / @ValorTotalAdicao
                SET @Y = (@Adicao * @DeducaoMN) / @ValorTotalAdicao
            END
            ELSE
            BEGIN
                SET @Adicao = @PL_MERCADORIA
                SET @X = (@Adicao * @Deducao)   / @PesoTotalAdicao
                SET @Y = (@Adicao * @DeducaoMN) / @PesoTotalAdicao
            END
            IF @CD_MOEDA_MLE_DI = ''
                SET @X = @X / DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_AD, @DataCalculoDI)
            
            IF @CD_MOEDA_MLE_DI = ''
                INSERT INTO TDEDUCAO_VALORACAO(NR_PROCESSO, NR_ADICAO, CD_MET_DEDUC_VALOR, VL_DEDUCAO_MNEG, CD_MD_NEGOC_DEDUC, VL_DEDUCAO_MN)
                VALUES(@NR_PROCESSO, @NR_ADICAO, @CD_DESPESA, CONVERT(DECIMAL(28, 2), @X), @CD_MOEDA_MLE_AD, CONVERT(DECIMAL(28, 2), @X * DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_AD, @DataCalculoDI)))
            ELSE
                INSERT INTO TDEDUCAO_VALORACAO(NR_PROCESSO, NR_ADICAO, CD_MET_DEDUC_VALOR, VL_DEDUCAO_MNEG, CD_MD_NEGOC_DEDUC, VL_DEDUCAO_MN)
                VALUES(@NR_PROCESSO, @NR_ADICAO, @CD_DESPESA, CONVERT(DECIMAL(28, 2), @X), @CD_MOEDA_MLE_AD, CONVERT(DECIMAL(28, 2), @X * DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_DI, @DataCalculoDI)))

            -- Seleciona Itens
            INSERT INTO @TB_ITENS
            SELECT NR_ITEM, VL_MLE_ITEM, PL_MERCADORIA
            FROM TDETALHE_MERCADORIA
            WHERE NR_PROCESSO = @NR_PROCESSO
              AND NR_ADICAO = @NR_ADICAO

            SET @VL_DEDUCAO_AD   = @X
            IF ISNULL(@CD_MOEDA_MLE_DI, '') <> ''
                SET @VL_DEDUCAO_AD_MN = @X * DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_DI, @DataCalculoDI)
            ELSE
                SET @VL_DEDUCAO_AD_MN = @X * DBO.FNC_TAXA_MOEDA(@CD_MOEDA_MLE_AD, @DataCalculoDI)

            WHILE (SELECT COUNT(*) FROM @TB_ITENS) > 0
            BEGIN
                SELECT TOP 1 @NR_ITEM = NR_ITEM,
                             @VL_ITEM = VL_ITEM,
                             @PL_ITEM = PL_ITEM
                FROM @TB_ITENS
                ORDER BY NR_ITEM

                IF @TP_BASE = 'Valor'
                BEGIN
                    SET @VL_DEDUCAO_ITEM = ROUND((@VL_DEDUCAO_AD / @VL_MERC_LOC_EMB_MNEG) * @VL_ITEM, 2)
                    SET @VL_DEDUCAO_ITEM_MN = ROUND((@VL_DEDUCAO_AD_MN / @VL_MERC_LOC_EMB_MNEG) * @VL_ITEM, 2)
                END
                ELSE
                BEGIN
                    SET @VL_DEDUCAO_ITEM = ROUND((@VL_DEDUCAO_AD / @PL_MERCADORIA) * @PL_ITEM, 2)
                    SET @VL_DEDUCAO_ITEM_MN = ROUND((@VL_DEDUCAO_AD_MN / @PL_MERCADORIA) * @PL_ITEM, 2)
                END

                UPDATE TDETALHE_MERCADORIA
                SET VL_DEDUCAO_ITEM = ISNULL(VL_DEDUCAO_ITEM, 0) + ISNULL(@VL_DEDUCAO_ITEM, 0),
                    VL_DEDUCAO_ITEM_MN = ISNULL(VL_DEDUCAO_ITEM_MN, 0) + ISNULL(@VL_DEDUCAO_ITEM_MN, 0)
                WHERE NR_PROCESSO = @NR_PROCESSO
                  AND NR_ADICAO = @NR_ADICAO
                  AND NR_ITEM = @NR_ITEM

                DELETE @TB_ITENS
                WHERE NR_ITEM = @NR_ITEM
            END

            DELETE @TB_ADICOES
            WHERE NR_ADICAO = @NR_ADICAO
        END
        
        DELETE FROM @TB_DEDUCOES WHERE CD_DESPESA = @CD_DESPESA
    END

    /*
    SELECT *
    FROM TACRESCIMO_VALORACAO
    WHERE NR_PROCESSO = @NR_PROCESSO
    ORDER BY NR_ADICAO

    SELECT *
    FROM TDEDUCAO_VALORACAO
    WHERE NR_PROCESSO = @NR_PROCESSO
    ORDER BY NR_ADICAO

    SELECT NR_ADICAO, SUM(VL_MLE_ITEM) AS VL_MLE_ITEM, SUM(PL_MERCADORIA) AS PL_MERCADORIA, SUM(VL_ACRESCIMO_ITEM) AS VL_ACRESCIMO_ITEM, SUM(VL_ACRESCIMO_ITEM_MN) AS VL_ACRESCIMO_ITEM_MN, SUM(VL_DEDUCAO_ITEM) AS VL_DEDUCAO_ITEM
    FROM TDETALHE_MERCADORIA
    WHERE NR_PROCESSO = @NR_PROCESSO
    GROUP BY NR_ADICAO

    ROLLBACK
    
    SELECT *
    FROM TACRESCIMO_VALORACAO
    WHERE NR_PROCESSO = @NR_PROCESSO
    ORDER BY NR_ADICAO

    SELECT *
    FROM TDEDUCAO_VALORACAO
    WHERE NR_PROCESSO = @NR_PROCESSO
    ORDER BY NR_ADICAO

    SELECT NR_ADICAO, SUM(VL_MLE_ITEM) AS VL_MLE_ITEM, SUM(PL_MERCADORIA) AS PL_MERCADORIA, SUM(VL_ACRESCIMO_ITEM) AS VL_ACRESCIMO_ITEM, SUM(VL_ACRESCIMO_ITEM_MN) AS VL_ACRESCIMO_ITEM_MN, SUM(VL_DEDUCAO_ITEM) AS VL_DEDUCAO_ITEM
    FROM TDETALHE_MERCADORIA
    WHERE NR_PROCESSO = @NR_PROCESSO
    GROUP BY NR_ADICAO
    --*/
END


GO
