USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_CANCELAR_DOCTO_PAGO](@NR_EMISSAO INT, @ANO_EMISSAO INT, @CD_USUARIO INT, @DT_CAIXA DATETIME, @MSG VARCHAR(255) OUTPUT) AS
BEGIN
    DECLARE @CD_ROTINA    INT
    DECLARE @NR_CAIXA     INT
    DECLARE @ANO_CAIXA    INT
    DECLARE @CD_BANCO     INT
    DECLARE @NR_LANCTOFUP INT
    DECLARE @VL_CAIXA     FLOAT

    /*
      Parâmetros de resultados
      0 - Pagamento Efetuado!
    */

    SET @ANO_CAIXA = YEAR(GETDATE())
    SELECT TOP 1 @CD_BANCO = C.CD_BANCO
    FROM TB_CAIXA C
       INNER JOIN TB_LANCTO_CAIXA LC    ON LC.NR_CAIXA = C.NR_CAIXA AND LC.ANO_CAIXA = C.ANO_CAIXA
       INNER JOIN TB_LANCTO L           ON L.NR_LANCTO = LC.NR_LANCTO AND L.ANO_LANCTO = LC.ANO_LANCTO
       INNER JOIN TB_LANCTO_FUP FUP     ON FUP.NR_LANCTO = L.NR_LANCTO AND FUP.ANO_LANCTO = L.ANO_LANCTO AND FUP.NR_LANCTO_FUP = LC.NR_LANCTO_FUP
       INNER JOIN TB_EMISSAO_DETALHE ED ON ED.NR_LANCTO = L.NR_LANCTO AND ED.ANO_LANCTO = L.ANO_LANCTO AND ((ED.NR_EMISSAO = FUP.NR_EMISSAO AND ED.ANO_EMISSAO = FUP.ANO_EMISSAO) OR (ED.NR_LANCTO_FUP = FUP.NR_LANCTO_FUP))
       INNER JOIN TB_EMISSAO EM         ON EM.NR_EMISSAO = ED.NR_EMISSAO AND EM.ANO_EMISSAO = ED.ANO_EMISSAO
    WHERE EM.NR_EMISSAO = @NR_EMISSAO
      AND EM.ANO_EMISSAO = @ANO_EMISSAO

    SELECT @VL_CAIXA = SUM(VL_EMISSAO)
    FROM TB_EMISSAO_DETALHE
    WHERE NR_EMISSAO  = @NR_EMISSAO
      AND ANO_EMISSAO = @ANO_EMISSAO

    SELECT TOP 1 @CD_ROTINA = FUP.CD_ROTINA
    FROM TB_CAIXA C
       INNER JOIN TB_LANCTO_CAIXA LC    ON LC.NR_CAIXA = C.NR_CAIXA AND LC.ANO_CAIXA = C.ANO_CAIXA
       INNER JOIN TB_LANCTO L           ON L.NR_LANCTO = LC.NR_LANCTO AND L.ANO_LANCTO = LC.ANO_LANCTO
       INNER JOIN TB_LANCTO_FUP FUP     ON FUP.NR_LANCTO = L.NR_LANCTO AND FUP.ANO_LANCTO = L.ANO_LANCTO AND FUP.NR_LANCTO_FUP = LC.NR_LANCTO_FUP
       INNER JOIN TB_EMISSAO_DETALHE ED ON ED.NR_LANCTO = L.NR_LANCTO AND ED.ANO_LANCTO = L.ANO_LANCTO AND ((ED.NR_EMISSAO = FUP.NR_EMISSAO AND ED.ANO_EMISSAO = FUP.ANO_EMISSAO) OR (ED.NR_LANCTO_FUP = FUP.NR_LANCTO_FUP))
       INNER JOIN TB_EMISSAO EM         ON EM.NR_EMISSAO = ED.NR_EMISSAO AND EM.ANO_EMISSAO = ED.ANO_EMISSAO
    WHERE EM.NR_EMISSAO  = @NR_EMISSAO
      AND EM.ANO_EMISSAO = @ANO_EMISSAO

    BEGIN TRAN
    BEGIN TRY
        IF @CD_ROTINA = 102
        BEGIN
            EXEC sp_insere_TB_CAIXA @ANO_CAIXA, @VL_CAIXA, 1, @CD_BANCO, @NR_CAIXA OUTPUT
            SET @CD_ROTINA = 106
        END
        ELSE
        BEGIN
            EXEC sp_insere_TB_CAIXA @ANO_CAIXA, @VL_CAIXA, 0, @CD_BANCO, @NR_CAIXA OUTPUT
            SET @CD_ROTINA = 612
        END
        IF ISNULL(@DT_CAIXA, 0) <> 0
            UPDATE TB_CAIXA
            SET DT_CAIXA = @DT_CAIXA
            WHERE NR_CAIXA  = @NR_CAIXA
              AND ANO_CAIXA = @ANO_CAIXA

        DECLARE @EMISSAO_DETALHE AS TABLE (NR_LANCTO INT, ANO_LANCTO INT, VL_EMISSAO FLOAT)
        DECLARE @NR_LANCTO  INT
        DECLARE @ANO_LANCTO INT
        DECLARE @VL_EMISSAO FLOAT

        INSERT INTO @EMISSAO_DETALHE
        SELECT NR_LANCTO, ANO_LANCTO, VL_EMISSAO
        FROM TB_EMISSAO_DETALHE
        WHERE NR_EMISSAO = @NR_EMISSAO
          AND ANO_EMISSAO = @ANO_EMISSAO

        WHILE (SELECT COUNT(*) FROM @EMISSAO_DETALHE) > 0
        BEGIN
            SELECT TOP 1 @NR_LANCTO  = NR_LANCTO,
                         @ANO_LANCTO = ANO_LANCTO,
                         @VL_EMISSAO = VL_EMISSAO
            FROM @EMISSAO_DETALHE

            EXEC sp_insere_TB_LANCTO_FUP @NR_LANCTO, @ANO_LANCTO, @CD_USUARIO, @CD_ROTINA, @NR_EMISSAO, @ANO_EMISSAO, 'Cancelamento de Doc Pago', @NR_LANCTOFUP OUTPUT
            INSERT INTO TB_LANCTO_CAIXA(NR_LANCTO, ANO_LANCTO, NR_CAIXA, ANO_CAIXA, VL_LANCTO_CAIXA, NR_LANCTO_FUP)
            VALUES(@NR_LANCTO, @ANO_CAIXA, @NR_CAIXA, @ANO_CAIXA, @VL_CAIXA, @NR_LANCTOFUP)

            DELETE @EMISSAO_DETALHE
            WHERE NR_LANCTO  = @NR_LANCTO
              AND ANO_LANCTO = @ANO_LANCTO
              AND VL_EMISSAO = @VL_EMISSAO
        END
        COMMIT
        SET @MSG = '0;Documento cancelado com sucesso!'
        RETURN  0
    END TRY
    BEGIN CATCH
        ROLLBACK
        -- Gerar o erro após o ROLLBACK para retornar para o sistema
        DECLARE @ErrorMessage    NVARCHAR(4000)
        DECLARE @ErrorNumber     INT
        DECLARE @ErrorSeverity   INT
        DECLARE @ErrorState      INT
        DECLARE @ErrorLine       INT
        DECLARE @ErrorProcedure  NVARCHAR(200)

        SELECT @ErrorNumber    = ERROR_NUMBER(),
               @ErrorSeverity  = ERROR_SEVERITY(),
               @ErrorState     = ERROR_STATE(),
               @ErrorLine      = ERROR_LINE(),
               @ErrorProcedure = ISNULL(ERROR_PROCEDURE(), '-')

        SELECT @ErrorMessage = N'Error %d, Level %d, State %d, Procedure %s, Line %d, Message: '+ ERROR_MESSAGE()

        RAISERROR (@ErrorMessage, 
                   @ErrorSeverity, 
                   1,               
                   @ErrorNumber,    -- parameter: original error number.
                   @ErrorSeverity,  -- parameter: original error severity.
                   @ErrorState,     -- parameter: original error state.
                   @ErrorProcedure, -- parameter: original error procedure name.
                   @ErrorLine       -- parameter: original error line number.
        )
    END CATCH
END

GO
