USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_contabiliza_contmaster] ( @cd_unid_neg char(2), @cd_produto char(2), @dt_movimento datetime, @tp_contab char(1), @cd_usuario char(4), @nr_cont char(4) output ) AS
DECLARE @cd_unid_cx  		char(2)
DECLARE @nr_lanc_cx  		char(3)
DECLARE @cd_hist_cx  		char(3)
DECLARE @nm_hist_cx  		char(186)
DECLARE @vl_lanc_cx  		float
DECLARE @tp_pgto_cx  		char(1)
DECLARE @tp_natu_cx  		char(1)
DECLARE @cd_cont_cx  		char(10)
DECLARE @cd_cust_cx  		char(3)
DECLARE @cd_banc_cx  		char(3)
DECLARE @cd_tipo_item  		char(12)
DECLARE @cd_forma_pagto  	char(4)
DECLARE @in_favorecido  	char(1)
DECLARE @tp_ct_devedora  	char(1)
DECLARE @cd_ct_devedora  	char(10)
DECLARE @tp_ct_credora  	char(1)
DECLARE @cd_ct_credora  	char(10)
DECLARE @cd_ct_custo  		char(3)
DECLARE @cd_natureza  		char(1)
DECLARE @tp_totalizacao  	char(1)
DECLARE @tp_valor  		char(1)
DECLARE @cd_fator  		char(1)
DECLARE @nm_historico  		char(80)
DECLARE @nm_hist  		char(186)
DECLARE @cd_cliente  		char(5)
DECLARE @nr_processo  		char(18)
DECLARE @nr_cheque  		char(6)
DECLARE @nm_item  		char(30)
DECLARE @nm_item_complemento 	varchar(20)
DECLARE @nm_favorecido  	varchar(50)
DECLARE @nm_empresa  		varchar(50)
DECLARE @vl_valor  		float	
DECLARE @vl_ir   		float
DECLARE @vl_lancamento  	numeric(14,2)
DECLARE @vl_lanc_gerencial 	numeric(14,2)
DECLARE @in_restitui  		char(1)
DECLARE @in_cancelado  		char(1)
DECLARE @cd_ct_item  		char(10)
DECLARE @cd_ct_custo_item 	char(3)
DECLARE @cd_ct_gerenc_item 	char(4)
DECLARE @cd_ct_favorecido 	char(10)
DECLARE @cd_ct_cliente  	char(10)
DECLARE @cd_ct_caixa  		char(10)
DECLARE @cd_ct_banco  		char(10)
DECLARE @cd_ct_desp_proc 	char(10)
DECLARE @cd_ct_acerto    	char(10)
DECLARE @cd_ct_dev  		char(10)
DECLARE @cd_ct_cre  		char(10)
DECLARE @cd_ct_aux  		char(10)
DECLARE @cd_ct_ir  		char(10)
DECLARE @cd_ct_cpmf_adm  	char(10)
DECLARE @cd_ct_cpmf_op  	char(10)
DECLARE @cd_ct_cpmf_passivo 	char(10)
DECLARE @cd_ct_cst_cpmf_adm     char(3)
DECLARE @cd_ct_cst_cpmf_op      char(3)
DECLARE @cd_filial  		char(3)
DECLARE @cd_filial_item  	char(3)
DECLARE @cd_ct_gerencial 	char(4)
DECLARE @nr_contab   		char(4)
DECLARE @nr_lancamento  	char(3)
DECLARE @pos   			int
DECLARE @in_cancel  		char(1)
DECLARE @cd_prod_cx  		char(2)
DECLARE @cd_banco  		char(3)
DECLARE @nm_banco  		varchar(40)
DECLARE @tipo   		char(1)
DECLARE @pc_taxa_distr  	numeric(6,2)
DECLARE @vl_distr  		numeric(14,2)
DECLARE @nr_row   		int
DECLARE @cursor_row  		int
DECLARE @cd_hist_cheque  	char(3)
DECLARE @cd_hist_deposito 	char(3)
DECLARE @cd_hist_ch_contmaster	char(3)
DECLARE @procedencia  		char(1)

SELECT @cd_ct_caixa = CD_CT_CONTABIL
FROM   TCONTA_CAIXA
WHERE  TP_CONTA = '1'

SELECT  @cd_ct_desp_proc       = '21140001'
SELECT  @cd_ct_acerto          = '11030020'
SELECT  @cd_ct_ir              = '21050010'
SELECT  @cd_ct_cpmf_adm        = '31010073'
SELECT  @cd_ct_cpmf_op         = '41010029'
SELECT  @cd_ct_cpmf_passivo    = '21170001'
SELECT  @cd_ct_cst_cpmf_adm    = '209'
SELECT  @cd_ct_cst_cpmf_op     = '102'
SELECT  @cd_hist_cheque        = '00000004'
SELECT  @cd_hist_deposito      = '00000005'
SELECT  @cd_hist_ch_contmaster = '00004   '

SELECT @nr_contab = RIGHT( '0000' + CONVERT( varchar, (MAX( CONVERT( int, NR_CONTAB ) ) + 1 ) ), 4 )
FROM   TCONTABILIZACAO_CONTMASTER (TABLOCK HOLDLOCK)

IF @nr_contab = '0000' SELECT @nr_contab = '0001' 

INSERT TCONTABILIZACAO_CONTMASTER
VALUES ( @nr_contab, GETDATE(), @cd_usuario, @tp_contab, @dt_movimento, @cd_unid_neg, @cd_produto, 0, 0 )
SELECT @nr_cont = @nr_contab
SELECT @nr_lancamento = '000'

IF @tp_contab = 'C'
BEGIN
  DECLARE c_caixa CURSOR FOR
    SELECT C.CD_UNID_NEG, C.NR_LANCAMENTO, C.CD_HIST_PADRAO, C.NM_HISTORICO, C.VL_LANCAMENTO, C.TP_PAGAMENTO,
           C.TP_NATUREZA, C.CD_CT_CONTABIL, C.CD_CT_CUSTO, C.CD_BANCO, ISNULL( C.VL_IR, 0 ), SUBSTRING( F.NM_FAVORECIDO, 1, 35)
    FROM   TCAIXA C, TFAVORECIDO F ( PAGLOCK HOLDLOCK )
    WHERE  C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND
	   C.CD_UNID_NEG   = @cd_unid_neg     AND
           C.DT_MOVIMENTO  = @dt_movimento    AND
           C.TP_LANCAMENTO = 'C'    	      AND
           C.IN_CANCELADO  = '0'    	      AND
           ISNULL( C.CD_HISTORICO, '000' ) <> @cd_hist_cheque 
  OPEN c_caixa
  FETCH c_caixa INTO 
     @cd_unid_cx, @nr_lanc_cx, @cd_hist_cx, @nm_hist_cx, @vl_lanc_cx, @tp_pgto_cx, 
     @tp_natu_cx, @cd_cont_cx, @cd_cust_cx, @cd_banc_cx, @vl_ir, @nm_favorecido
  WHILE @@fetch_status <> -1
  BEGIN
--    SELECT @cd_hist_cx = RIGHT( @cd_hist_cx , 5 ) + '   '
    SELECT @cd_hist_cx = @cd_hist_cx + '   '
    IF ( @tp_pgto_cx = '$' ) OR ( @tp_pgto_cx = 'C' )
      SELECT @cd_ct_aux = @cd_ct_caixa
    ELSE
      SELECT @cd_ct_aux  = CD_CT_CONTABIL
      FROM   TCONTA_CAIXA
      WHERE  CD_BANCO    = @cd_banc_cx AND
             CD_COLIGADA = '01'
    IF @tp_natu_cx = 'D'
    BEGIN
      SELECT @cd_ct_dev = ISNULL( @cd_ct_aux, @cd_ct_acerto )
      SELECT @cd_ct_cre = ISNULL( @cd_cont_cx, @cd_ct_acerto )
    END
    ELSE
    BEGIN
      SELECT @cd_ct_dev = ISNULL( @cd_cont_cx, @cd_ct_acerto )
      SELECT @cd_ct_cre = ISNULL( @cd_ct_aux, @cd_ct_acerto )
    END
           
    SELECT @cd_filial  = CD_FILIAL
    FROM   TUNID_NEG
    WHERE  CD_UNID_NEG = @cd_unid_cx
 
    SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )
    INSERT TCONTABILIZACAO_LANC_CONTMASTER
    VALUES ( @nr_contab, @nr_lancamento, @cd_ct_dev, @cd_ct_cre, @vl_lanc_cx, 
             @cd_hist_cx, @nm_hist_cx, @cd_filial, @cd_cust_cx, @nm_favorecido )
    IF ( ( SELECT COUNT(*) 
           FROM   TCT_CONTABIL
           WHERE  CD_CT_CONTABIL = @cd_ct_dev   AND
                  IN_DISTRIBUI   = '1' ) > 0 ) AND
       ( ( SELECT COUNT(*) 
           FROM   TCAIXA_CONTABIL_DISTR
           WHERE  DT_MOVIMENTO  = @dt_movimento AND
                  NR_LANCAMENTO = @nr_lanc_cx  ) > 0 )
    BEGIN
      INSERT INTO TCONTABILIZACAO_GERENCIAL_CONTMASTER
        SELECT @nr_contab, @nr_lancamento, CD_CT_GERENCIAL, VL_DISTRIBUICAO
        FROM   TCAIXA_CONTABIL_DISTR
        WHERE  ( DT_MOVIMENTO  = @dt_movimento AND
                 NR_LANCAMENTO = @nr_lanc_cx )
    END

    IF ( ( SELECT COUNT(*) 
           FROM   TCT_CONTABIL
           WHERE  CD_CT_CONTABIL = @cd_ct_cre   AND
                  IN_DISTRIBUI   = '1' ) > 0 ) AND
        ( ( SELECT COUNT(*) 
            FROM   TCAIXA_CONTABIL_DISTR
            WHERE  DT_MOVIMENTO  = @dt_movimento AND
                   NR_LANCAMENTO = @nr_lanc_cx ) > 0 )

    BEGIN
      INSERT INTO TCONTABILIZACAO_GERENCIAL_CONTMASTER
        SELECT @nr_contab, @nr_lancamento, CD_CT_GERENCIAL, ( VL_DISTRIBUICAO * (-1) )
        FROM   TCAIXA_CONTABIL_DISTR
        WHERE  ( DT_MOVIMENTO  = @dt_movimento AND
                 NR_LANCAMENTO = @nr_lanc_cx )
    END
    -- IR
    IF @vl_ir <> 0
    BEGIN
      IF @tp_natu_cx = 'D'
      BEGIN
        SELECT @cd_ct_dev = ISNULL( @cd_ct_ir, @cd_ct_acerto )
        SELECT @cd_ct_cre = ISNULL( @cd_ct_aux, @cd_ct_acerto )
      END
      ELSE
      BEGIN
        SELECT @cd_ct_dev = ISNULL( @cd_ct_aux, @cd_ct_acerto )
        SELECT @cd_ct_cre = ISNULL( @cd_ct_ir, @cd_ct_acerto )
      END
      SELECT @nm_hist_cx = 'IR/' + @nm_hist_cx
      SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )
      INSERT TCONTABILIZACAO_LANC_CONTMASTER
      VALUES ( @nr_contab, @nr_lancamento, @cd_ct_dev, @cd_ct_cre, @vl_ir, 
               @cd_hist_cx, @nm_hist_cx, @cd_filial, '', '' )
    END
    FETCH c_caixa INTO 
      @cd_unid_cx, @nr_lanc_cx, @cd_hist_cx, @nm_hist_cx, @vl_lanc_cx, @tp_pgto_cx, 
      @tp_natu_cx, @cd_cont_cx, @cd_cust_cx, @cd_banc_cx, @vl_ir, @nm_favorecido
  END
  CLOSE c_caixa
  DEALLOCATE c_caixa 
  SELECT C.CD_UNID_NEG, A.CD_CT_CONTABIL, C.NR_CHEQUE, 'C' PROCEDENCIA,
         SUM( ISNULL( C.VL_LANCAMENTO, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) VL_CHEQUE
  INTO   #tmp_cheque
  FROM   TCAIXA C,
         TCONTA_CAIXA A
  WHERE  C.CD_UNID_NEG   = @cd_unid_neg  AND
         C.DT_MOVIMENTO  = @dt_movimento AND
         C.IN_CANCELADO  = '0'    	 AND
         C.CD_BANCO      = A.CD_BANCO    AND
         C.TP_PAGAMENTO  = 'C'    	 AND
         A.TP_CONTA      = '2'    	 AND
         C.TP_NATUREZA   = 'C'    	 AND
         C.TP_LANCAMENTO IN ( 'C', 'A' )
  GROUP  BY C.CD_UNID_NEG, A.CD_CT_CONTABIL, C.NR_CHEQUE
  INSERT #tmp_cheque
    SELECT C.CD_UNID_NEG, A.CD_CT_CONTABIL, C.NR_CHEQUE, 'C' PROCEDENCIA,
           ( SUM( ISNULL( C.VL_LANCAMENTO, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) * (-1) ) VL_CHEQUE 
    FROM   TCAIXA C,
           TCONTA_CAIXA A
    WHERE  C.CD_UNID_NEG   = @cd_unid_neg  AND
           C.DT_MOVIMENTO  = @dt_movimento AND
           C.IN_CANCELADO  = '0'     	   AND
           C.CD_BANCO      = A.CD_BANCO    AND
           C.TP_PAGAMENTO  = 'C'     	   AND
           A.TP_CONTA      = '2'     	   AND
           C.TP_NATUREZA   = 'D'     	   AND
           C.TP_LANCAMENTO IN ('C','A')
    GROUP  BY C.CD_UNID_NEG, A.CD_CT_CONTABIL, C.NR_CHEQUE
  INSERT #tmp_cheque
    SELECT C.CD_UNID_NEG, A.CD_CT_CONTABIL, C.NR_CHEQUE, 
           CASE 
             WHEN T.CD_TIPO_ITEM IN ('+','-',':','=') THEN 'L'
             ELSE 'C'
           END PROCEDENCIA,
           ( ISNULL( C.VL_LANCAMENTO, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) VL_CHEQUE 
    FROM   TCAIXA C,
           TCONTA_CAIXA A,
           TITEM I,
           TTIPO_ITEM T
    WHERE  C.CD_UNID_NEG     = @cd_unid_neg   AND
           C.DT_MOVIMENTO    = @dt_movimento  AND
           C.IN_CANCELADO    = '0'            AND
           C.CD_BANCO        = A.CD_BANCO     AND
           C.TP_PAGAMENTO    = 'C'            AND
           A.TP_CONTA        = '2'            AND
           C.TP_LANCAMENTO   = 'F'            AND
           C.CD_ITEM         = I.CD_ITEM      AND
           I.CD_TIPO_ITEM    = T.CD_TIPO_ITEM AND
           ( ( C.IN_RESTITUI = '0'            AND
               T.TP_NATUREZA = 'D' )          OR
             ( C.IN_RESTITUI = '1'            AND
               T.TP_NATUREZA = 'C' ) ) 
  INSERT #tmp_cheque
    SELECT C.CD_UNID_NEG, A.CD_CT_CONTABIL, C.NR_CHEQUE,
           CASE 
             WHEN T.CD_TIPO_ITEM IN ('+','-',':','=') THEN 'L'
             ELSE 'C'
           END PROCEDENCIA,
           ( ( ISNULL( C.VL_LANCAMENTO, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) * (-1) ) VL_CHEQUE 
    FROM   TCAIXA C,
           TCONTA_CAIXA A,
           TITEM I,
           TTIPO_ITEM T
    WHERE  C.CD_UNID_NEG     = @cd_unid_neg   AND
           C.DT_MOVIMENTO    = @dt_movimento  AND
           C.IN_CANCELADO    = '0'            AND
           C.CD_BANCO        = A.CD_BANCO     AND
           C.TP_PAGAMENTO    = 'C'            AND
           A.TP_CONTA        = '2'            AND
           C.TP_LANCAMENTO   = 'F'            AND
           C.CD_ITEM         = I.CD_ITEM      AND
           I.CD_TIPO_ITEM    = T.CD_TIPO_ITEM AND
           ( ( C.IN_RESTITUI = '0'            AND
               T.TP_NATUREZA = 'C' )          OR
             ( C.IN_RESTITUI = '1'            AND
               T.TP_NATUREZA = 'D' ) )
  INSERT #tmp_cheque
    SELECT CD_UNID_NEG, CD_CT_CONTABIL, SUBSTRING( NM_HISTORICO, 1, 6 ), 'C' PROCEDENCIA,
           SUM( ISNULL( VL_LANCAMENTO, 0 ) - ISNULL( VL_IR, 0 ) + ISNULL( VL_ASSIST, 0 ) )
    FROM   TCAIXA
    WHERE  CD_UNID_NEG   = @cd_unid_neg    AND
           DT_MOVIMENTO  = @dt_movimento   AND
           IN_CANCELADO  = '0'             AND
           CD_HISTORICO  = @cd_hist_cheque AND
           CHARINDEX( 'CANCELADO', UPPER( NM_HISTORICO ) ) = 0
    GROUP  BY CD_UNID_NEG, CD_CT_CONTABIL, NR_CHEQUE, SUBSTRING( NM_HISTORICO, 1, 6 )
  INSERT #tmp_cheque
    SELECT CD_UNID_NEG, CD_CT_CONTABIL, NM_HISTORICO, 'C' PROCEDENCIA,
           ( ISNULL( VL_LANCAMENTO, 0 ) - ISNULL( VL_IR, 0 ) + ISNULL( VL_ASSIST, 0 ) )
    FROM   TCAIXA
    WHERE  CD_UNID_NEG   = @cd_unid_neg    AND
           DT_MOVIMENTO  = @dt_movimento   AND
           IN_CANCELADO  = '0'		   AND
           CD_HISTORICO  = @cd_hist_cheque AND
           CHARINDEX( 'CANCELADO', UPPER( NM_HISTORICO ) ) > 0
  DECLARE c_banco CURSOR FOR
    SELECT CD_UNID_NEG, CD_CT_CONTABIL, NR_CHEQUE, PROCEDENCIA, SUM( VL_CHEQUE ) VL_CHEQUE
    FROM   #tmp_cheque
    GROUP  BY CD_UNID_NEG, CD_CT_CONTABIL, NR_CHEQUE, PROCEDENCIA
  OPEN c_banco
  FETCH c_banco INTO 
    @cd_unid_cx, @cd_ct_banco, @nm_hist_cx, @procedencia, @vl_valor
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )
    SELECT @cd_filial  = CD_FILIAL
    FROM   TUNID_NEG
    WHERE  CD_UNID_NEG = @cd_unid_cx
    SELECT @vl_lancamento = @vl_valor
    SELECT @cd_ct_dev     = @cd_ct_caixa
    SELECT @cd_ct_cre     = @cd_ct_banco
    IF @vl_valor < 0 
    BEGIN
      SELECT @cd_ct_aux  = @cd_ct_dev
      SELECT @cd_ct_dev  = @cd_ct_cre
      SELECT @cd_ct_cre  = @cd_ct_aux
      SELECT @vl_lancamento  = ABS( @vl_lancamento )
      IF @procedencia = 'L'
      BEGIN
        SELECT @nm_hist_cx      = 'DEPOSITO REF.CHEQUE ' + RTRIM( @nm_hist_cx ) + ' LIQUIDACAO DE FATURA'
        SELECT @cd_hist_cx      = ''
      END
      ELSE
      BEGIN
        SELECT @nm_hist_cx      = RTRIM( @nm_hist_cx ) + ' ESTORNO'
        SELECT @cd_hist_cx      = @cd_hist_ch_contmaster
      END
    END
    ELSE
    BEGIN
      SELECT @cd_hist_cx      = @cd_hist_ch_contmaster
    END
    INSERT TCONTABILIZACAO_LANC_CONTMASTER
    VALUES ( @nr_contab, @nr_lancamento, @cd_ct_dev, @cd_ct_cre, @vl_lancamento, 
             @cd_hist_cx, @nm_hist_cx, @cd_filial, '', '' )
    FETCH c_banco INTO 
      @cd_unid_cx, @cd_ct_banco, @nm_hist_cx, @procedencia, @vl_valor
  END
  CLOSE c_banco
  DEALLOCATE c_banco 
  DROP TABLE #tmp_cheque
END

IF @tp_contab = 'C' 
BEGIN
  DECLARE c_contab CURSOR FOR
    SELECT CD_TIPO_ITEM, CD_FORMA_PAGTO, IN_FAVORECIDO, 
           TP_CT_DEVEDORA, CD_CT_DEVEDORA, TP_CT_CREDORA, CD_CT_CREDORA, 
           CD_NATUREZA, TP_TOTALIZACAO, TP_VALOR, CD_FATOR, NM_HISTORICO, 
           CD_CT_CUSTO, IN_CANCELADO
    FROM   TCONTABILIZA
    WHERE  TP_CONTAB = 'C' 
  SELECT @in_cancel = '0'
END
ELSE
BEGIN
  DECLARE c_contab CURSOR FOR
    SELECT CD_TIPO_ITEM, CD_FORMA_PAGTO, IN_FAVORECIDO, 
           TP_CT_DEVEDORA, CD_CT_DEVEDORA, TP_CT_CREDORA, CD_CT_CREDORA, 
           CD_NATUREZA, TP_TOTALIZACAO, TP_VALOR, CD_FATOR, NM_HISTORICO, 
           CD_CT_CUSTO, IN_CANCELADO
    FROM   TCONTABILIZA
    WHERE  TP_CONTAB = 'F'
  SELECT @in_cancel = '*'
END
OPEN c_contab
FETCH c_contab INTO 
  @cd_tipo_item, @cd_forma_pagto, @in_favorecido, 
  @tp_ct_devedora, @cd_ct_devedora, @tp_ct_credora, @cd_ct_credora, 
  @cd_natureza, @tp_totalizacao, @tp_valor, @cd_fator, @nm_historico, 
  @cd_ct_custo, @in_cancel
WHILE @@fetch_status <> -1
BEGIN
  SELECT P.CD_UNID_NEG, P.CD_CLIENTE, F.NR_PROCESSO, I.NM_ITEM, F.NM_ITEM_COMPLEMENTO, 
         C.NM_EMPRESA, A.NM_FAVORECIDO, T.TP_NATUREZA, F.IN_RESTITUI, 
         IN_CANCELADO =
         CASE 
           WHEN ( F.IN_CANCELADO = '1' AND F.DT_CANCELAMENTO = @dt_movimento ) THEN '1'
           ELSE '0'
         END,
         I.CD_CT_CONTABIL CD_CT_ITEM, A.CD_CT_CONTABIL CD_CT_FAVORECIDO, 
         C.CD_CT_CONTABIL CD_CT_CLIENTE, X.CD_CT_CONTABIL CD_CT_BANCO, I.CD_CT_CUSTO, 
         I.CD_CT_GERENCIAL, VALOR =
         CASE @tp_valor 
           WHEN 'L' THEN ( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) )
           WHEN 'D' THEN ( ISNULL( F.VL_ITEM, 0 ) - ISNULL( F.VL_IR, 0 ) + ISNULL( F.VL_ASSIST, 0 ) )
           WHEN 'I' THEN ( ISNULL( F.VL_IR, 0 ) )
         END, F.NR_LANCAMENTO, I.CD_FILIAL
  INTO   #tmp_contabiliza
  FROM   TFATURAMENTO_CC F,
         TITEM I,
         TTIPO_ITEM T,
         TPROCESSO P,
         TEMPRESA_NAC C,
         TFAVORECIDO A,
         TCONTA_CAIXA X
  WHERE  ( ( F.DT_LANCAMENTO   =  @dt_movimento )   OR
           ( F.DT_LANCAMENTO   <> @dt_movimento     AND
             F.DT_CANCELAMENTO =  @dt_movimento ) ) AND
             F.CD_ITEM       = I.CD_ITEM            AND
             F.NR_PROCESSO   = P.NR_PROCESSO        AND
             P.CD_UNID_NEG   = @cd_unid_neg         AND
             ( P.CD_PRODUTO  = @cd_produto          OR
               @tp_contab    = 'C' )                AND
             I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM       AND
             F.CD_FAVORECIDO *= A.CD_FAVORECIDO     AND
             F.CD_BANCO      *= X.CD_BANCO          AND
             P.CD_CLIENTE    = C.CD_EMPRESA         AND
             CHARINDEX( F.CD_FORMA_PAGTO, @cd_forma_pagto ) > 0 AND    
             CHARINDEX( I.CD_TIPO_ITEM, @cd_tipo_item ) > 0     AND
             ( ( @in_favorecido = '*')          OR
               ( @in_favorecido = '0' AND ISNULL( F.CD_FAVORECIDO, '' ) =  '' )   OR
               ( @in_favorecido = '1' AND ISNULL( F.CD_FAVORECIDO, '' ) <> '' ) ) AND
             ( ( @in_cancel = '*') OR
               ( @in_cancel = '1' AND F.IN_CANCELADO = '1' ) OR 
             ( @in_cancel = '0' AND F.IN_CANCELADO = '0' ) )
  UPDATE #tmp_contabiliza 
  SET    VALOR = VALOR * (-1) 
  WHERE  ( ( @cd_natureza = TP_NATUREZA )  AND ( IN_RESTITUI = '1' ) ) OR
         ( ( @cd_natureza <> TP_NATUREZA ) AND ( IN_RESTITUI <> '1' ) )
  
  UPDATE #tmp_contabiliza 
  SET    VALOR = VALOR * (-1) 
  WHERE  IN_CANCELADO = '1'
  DELETE #tmp_contabiliza 
  WHERE  VALOR = 0
  IF @tp_totalizacao = 'U'
  BEGIN
    DECLARE c_lancamento CURSOR FOR
      SELECT CD_UNID_NEG, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', SUM( VALOR )
      FROM   #tmp_contabiliza
      GROUP  BY CD_UNID_NEG
  END
  ELSE IF @tp_totalizacao = 'C'
  BEGIN
    DECLARE c_lancamento CURSOR FOR
      SELECT CD_UNID_NEG, CD_CLIENTE, '', '', '', '', '', '', '', '', CD_CT_BANCO, '', '', '', '', '', SUM( VALOR )
      FROM   #tmp_contabiliza
      GROUP  BY CD_UNID_NEG, CD_CLIENTE, CD_CT_BANCO
  END
  ELSE IF @tp_totalizacao = 'P'
  BEGIN
    DECLARE c_lancamento CURSOR FOR
      SELECT CD_UNID_NEG, CD_CLIENTE, NR_PROCESSO, '', NM_ITEM_COMPLEMENTO, '', '', '', '', '', CD_CT_BANCO, '', '',  '', '', '', SUM( VALOR )
      FROM   #tmp_contabiliza
      GROUP  BY CD_UNID_NEG, CD_CLIENTE, NR_PROCESSO, NM_ITEM_COMPLEMENTO, CD_CT_BANCO
  END
  ELSE IF @tp_totalizacao = 'L'
  BEGIN
    DECLARE c_lancamento CURSOR FOR
      SELECT CD_UNID_NEG, CD_CLIENTE, NR_PROCESSO, NM_ITEM, NM_ITEM_COMPLEMENTO, NM_EMPRESA, 
             SUBSTRING( NM_FAVORECIDO, 1, 35 ), CD_CT_ITEM, CD_CT_FAVORECIDO, CD_CT_CLIENTE, CD_CT_BANCO, 
             CD_CT_CUSTO, IN_RESTITUI, IN_CANCELADO, CD_CT_GERENCIAL, CD_FILIAL, VALOR
      FROM   #tmp_contabiliza
  END
  OPEN c_lancamento
  FETCH c_lancamento INTO
    @cd_unid_neg, @cd_cliente, @nr_processo, @nm_item, @nm_item_complemento, @nm_empresa,
    @nm_favorecido, @cd_ct_item, @cd_ct_favorecido, @cd_ct_cliente, @cd_ct_banco, 
    @cd_ct_custo_item, @in_restitui, @in_cancelado, @cd_ct_gerenc_item, @cd_filial_item, @vl_valor
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @cd_ct_dev =
      CASE @tp_ct_devedora
        WHEN '*' THEN ISNULL( @cd_ct_devedora,   @cd_ct_acerto )
        WHEN 'A' THEN ISNULL( @cd_ct_caixa,      @cd_ct_acerto )
        WHEN 'B' THEN ISNULL( @cd_ct_banco,      @cd_ct_acerto )
        WHEN 'C' THEN ISNULL( @cd_ct_cliente,    @cd_ct_acerto )
        WHEN 'F' THEN ISNULL( @cd_ct_favorecido, @cd_ct_acerto )
        WHEN 'I' THEN ISNULL( @cd_ct_item,       @cd_ct_acerto )
        WHEN 'P' THEN ISNULL( @cd_ct_desp_proc,  @cd_ct_acerto )
      END
    IF @cd_ct_dev = '' 
      SELECT @cd_ct_dev = @cd_ct_acerto 
    SELECT @cd_ct_cre =
      CASE @tp_ct_credora
        WHEN '*' THEN ISNULL( @cd_ct_credora,    @cd_ct_acerto )
        WHEN 'A' THEN ISNULL( @cd_ct_caixa,      @cd_ct_acerto )
        WHEN 'B' THEN ISNULL( @cd_ct_banco,      @cd_ct_acerto )
        WHEN 'C' THEN ISNULL( @cd_ct_cliente,    @cd_ct_acerto )
        WHEN 'F' THEN ISNULL( @cd_ct_favorecido, @cd_ct_acerto )
        WHEN 'I' THEN ISNULL( @cd_ct_item,       @cd_ct_acerto )
        WHEN 'P' THEN ISNULL( @cd_ct_desp_proc,  @cd_ct_acerto )
      END
     
    IF @cd_ct_cre = '' 
      SELECT @cd_ct_cre = @cd_ct_acerto 
    IF ( @tp_ct_devedora = 'I' ) OR ( @tp_ct_credora = 'I' )
      SELECT @cd_ct_custo = @cd_ct_custo_item
    IF @vl_valor < 0 
    BEGIN
      SELECT @cd_ct_aux = @cd_ct_dev
      SELECT @cd_ct_dev = @cd_ct_cre
      SELECT @cd_ct_cre = @cd_ct_aux
      SELECT @vl_valor  = ABS( @vl_valor )
    END
    IF RTRIM( @nm_item_complemento ) = 'ESTORNO'
    BEGIN
      SELECT @nm_hist = 'ESTORNO/' + @nm_historico
      SELECT @nm_item_complemento = ''
    END
    ELSE
    BEGIN
      IF @in_restitui = '1' 
        SELECT @nm_hist = 'REST/' + @nm_historico
      ELSE
        SELECT @nm_hist = @nm_historico
    END
    IF @in_cancelado = '1' 
      SELECT @nm_hist = 'ESTORNO/' + @nm_hist
    SELECT @pos = CHARINDEX( '<ITEM>', @nm_hist )
    IF @pos > 0
      SELECT @nm_hist = SUBSTRING( @nm_hist, 1, @pos - 1 ) + 
                        RTRIM( RTRIM( @nm_item ) + ' ' + RTRIM( @nm_item_complemento ) ) +
                        SUBSTRING( @nm_hist, @pos + 6, DATALENGTH( @nm_hist ) - @pos - 6 )
    SELECT @pos = CHARINDEX( '<PROCESSO>', @nm_hist )
    IF @pos > 0
      SELECT @nm_hist = SUBSTRING( @nm_hist, 1, @pos - 1 ) + 
                        @nr_processo +
                        SUBSTRING( @nm_hist, @pos + 10, DATALENGTH( @nm_hist ) - @pos - 10 )
    SELECT @pos = CHARINDEX( '<CLIENTE>', @nm_hist )
    IF @pos > 0
      SELECT @nm_hist = SUBSTRING( @nm_hist, 1, @pos - 1 ) + 
                        RTRIM( @nm_empresa ) +
                        SUBSTRING( @nm_hist, @pos + 9, DATALENGTH( @nm_hist ) - @pos - 9 )
    SELECT @pos = CHARINDEX( '<FAVORECIDO>', @nm_hist )
    IF @pos > 0
      SELECT @nm_hist = SUBSTRING( @nm_hist, 1, @pos - 1 ) + 
                        RTRIM( @nm_favorecido ) +
                        SUBSTRING( @nm_hist, @pos + 12, DATALENGTH( @nm_hist ) - @pos - 12 )
 
    IF ISNULL( @cd_filial_item, '' ) = ''
      SELECT @cd_filial = CD_FILIAL
      FROM   TUNID_NEG
      WHERE  CD_UNID_NEG = @cd_unid_neg
    ELSE
      SELECT @cd_filial = @cd_filial_item
 
    SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )
    SELECT @vl_lancamento = @vl_valor
    INSERT TCONTABILIZACAO_LANC_CONTMASTER
    VALUES ( @nr_contab, @nr_lancamento, @cd_ct_dev, @cd_ct_cre, @vl_lancamento,
             NULL, @nm_hist, @cd_filial, @cd_ct_custo, @nm_favorecido )
    IF ISNULL( @cd_ct_custo, '' ) <> ''
    BEGIN
      IF ISNULL( @cd_ct_gerenc_item, '' ) = ''
      BEGIN
        SELECT @cd_ct_gerencial = ISNULL( X.CD_CT_GERENCIAL, '9999' )
        FROM   TPROCESSO P,
               TUNID_NEG_PRODUTO X
        WHERE  P.NR_PROCESSO = @nr_processo  AND
               P.CD_UNID_NEG = X.CD_UNID_NEG AND
               P.CD_PRODUTO  = X.CD_PRODUTO
      END
      ELSE
      BEGIN
        SELECT @cd_ct_gerencial = @cd_ct_gerenc_item
      END
      IF SUBSTRING( @cd_ct_dev, 1, 1 ) IN ( '3', '4' ) 
      BEGIN
        SELECT @vl_lanc_gerencial = @vl_lancamento
        INSERT INTO TCONTABILIZACAO_GERENCIAL_CONTMASTER
        VALUES ( @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_lanc_gerencial )
      END
      IF SUBSTRING( @cd_ct_cre, 1, 1 ) IN ( '3', '4' ) 
      BEGIN
        SELECT @vl_lanc_gerencial = @vl_lancamento * (-1)
        INSERT INTO TCONTABILIZACAO_GERENCIAL_CONTMASTER
        VALUES ( @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_lanc_gerencial )
      END
    END
    FETCH c_lancamento INTO 
      @cd_unid_neg, @cd_cliente, @nr_processo, @nm_item, @nm_item_complemento, @nm_empresa,
      @nm_favorecido, @cd_ct_item, @cd_ct_favorecido, @cd_ct_cliente, @cd_ct_banco, 
      @cd_ct_custo_item, @in_restitui, @in_cancelado, @cd_ct_gerenc_item, @cd_filial_item, @vl_valor
  END
  CLOSE c_lancamento
  DEALLOCATE c_lancamento   
    
  UPDATE TFATURAMENTO_CC 
  SET    IN_CONTABIL = '1' 
  WHERE  ( NR_PROCESSO + NR_LANCAMENTO ) IN 
         ( SELECT ( NR_PROCESSO + NR_LANCAMENTO )
           FROM   #tmp_contabiliza ) 
  DROP TABLE #tmp_contabiliza 
  FETCH c_contab INTO 
    @cd_tipo_item, @cd_forma_pagto, @in_favorecido, 
    @tp_ct_devedora, @cd_ct_devedora, @tp_ct_credora, @cd_ct_credora, 
    @cd_natureza, @tp_totalizacao, @tp_valor, @cd_fator, @nm_historico, 
    @cd_ct_custo, @in_cancel
END
CLOSE c_contab
DEALLOCATE c_contab 

-- CPMF
SELECT @cd_prod_cx = ''
SELECT C.CD_UNID_NEG, @cd_prod_cx CD_PRODUTO, B.CD_BANCO, B.NM_BANCO, 'A' TIPO,
       ROUND( ( SUM( ( ISNULL( C.VL_LANCAMENTO, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) * ( X.PC_TAXA / 100 ) ) ), 2 ) VL_BANCO
INTO   #tmp_banco
FROM   TCAIXA C,
       TBANCO B,
       TCONTA_CAIXA A,
       TTAXA_CPMF X
WHERE  C.CD_UNID_NEG   = @cd_unid_neg  AND
       C.DT_MOVIMENTO  = @dt_movimento AND
       C.IN_CANCELADO  = '0'           AND
       C.CD_BANCO      = A.CD_BANCO    AND
       C.TP_PAGAMENTO  IN ( 'C', 'D' ) AND
       C.CD_BANCO      = B.CD_BANCO    AND
       B.IN_SM         = '1'	       AND
       A.TP_CONTA      = '2'	       AND
       C.TP_NATUREZA   = 'C'	       AND
       C.TP_LANCAMENTO IN ( 'C', 'A' ) AND
       C.DT_MOVIMENTO  BETWEEN DT_INICIO AND DT_FIM AND
       @tp_contab      = 'C'
GROUP  BY C.CD_UNID_NEG, B.CD_BANCO, B.NM_BANCO
INSERT #tmp_banco
  SELECT C.CD_UNID_NEG, ' ' CD_PRODUTO, B.CD_BANCO, B.NM_BANCO, 'A' TIPO,
         ROUND( ( SUM( ( ISNULL( C.VL_LANCAMENTO, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) * ( X.PC_TAXA / 100 ) ) * (-1) ), 2 ) VL_BANCO
  FROM   TCAIXA C,
         TBANCO B,
         TCONTA_CAIXA A,
         TBANCO B2,
         TTAXA_CPMF X
  WHERE  C.CD_UNID_NEG    = @cd_unid_neg      AND
         C.DT_MOVIMENTO   = @dt_movimento     AND
         C.IN_CANCELADO   = '0'        	      AND
         C.CD_BANCO       = A.CD_BANCO        AND
         C.TP_PAGAMENTO   IN ( 'C', 'D' )     AND
         C.CD_BANCO       = B.CD_BANCO        AND
         B.IN_SM          = '1'               AND
         A.TP_CONTA       = '2'               AND
         C.TP_NATUREZA    = 'C'               AND
         C.TP_LANCAMENTO  IN ( 'C', 'A' )     AND
         C.CD_CT_CONTABIL = SUBSTRING( B2.CD_CT_CONTABIL, 1, 8 ) AND
         B2.IN_SM         = '1'               AND
         C.CD_HISTORICO   = @cd_hist_deposito AND
         C.DT_MOVIMENTO   BETWEEN DT_INICIO   AND DT_FIM AND
         @tp_contab       = 'C'
  GROUP  BY C.CD_UNID_NEG, B.CD_BANCO, B.NM_BANCO
INSERT #tmp_banco
  SELECT P.CD_UNID_NEG, P.CD_PRODUTO, B.CD_BANCO, B.NM_BANCO, 'O' TIPO,
         ROUND( ( SUM( ( ISNULL( C.VL_LANCAMENTO, 0) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) * ( X.PC_TAXA / 100 ) ) ), 2 ) VL_BANCO
  FROM   TCAIXA C,
         TPROCESSO P,
         TBANCO B,
         TCONTA_CAIXA A,
         TITEM I,
         TTIPO_ITEM T,
         TTAXA_CPMF x
  WHERE  C.CD_UNID_NEG   = @cd_unid_neg  AND
         C.DT_MOVIMENTO  = @dt_movimento AND
         C.IN_CANCELADO  = '0'    	 AND
         C.CD_BANCO      = A.CD_BANCO    AND
         C.TP_PAGAMENTO  IN ( 'C', 'D' ) AND
         C.NR_PROCESSO   = P.NR_PROCESSO AND
         C.CD_BANCO      = B.CD_BANCO    AND
         B.IN_SM         = '1'   	 AND
         A.TP_CONTA      = '2'   	 AND
         C.TP_LANCAMENTO = 'F'   	 AND
         C.CD_ITEM       = I.CD_ITEM  	 AND
         ( ( T.CD_TIPO_ITEM  IN ( 'D', 'N', 'X', 'T', 'V', '-', ':' ) ) OR
           ( ( T.CD_TIPO_ITEM  IN ( '+', '=' ) )     AND 
             ( ISNULL( C.NR_CHEQUE, '' ) <> '' ) ) ) AND
         I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM	     AND
         ( ( C.IN_RESTITUI = '0'        	     AND
             T.TP_NATUREZA = 'D' )        	     OR
           ( C.IN_RESTITUI = '1'        	     AND
             T.TP_NATUREZA = 'C' ) )        	     AND
         C.DT_MOVIMENTO BETWEEN DT_INICIO AND DT_FIM AND
         @tp_contab = 'C'
  GROUP  BY P.CD_UNID_NEG, P.CD_PRODUTO, B.CD_BANCO, B.NM_BANCO
INSERT #tmp_banco
  SELECT P.CD_UNID_NEG, P.CD_PRODUTO, B.CD_BANCO, B.NM_BANCO, 'O' TIPO,
         ROUND( ( SUM( ( ISNULL( C.VL_LANCAMENTO, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) * ( X.PC_TAXA / 100 ) ) * (-1) ), 2 ) VL_BANCO
  FROM   TCAIXA C,
         TPROCESSO P,
         TBANCO B,
         TCONTA_CAIXA A,
         TITEM I,
         TTIPO_ITEM T,
         TTAXA_CPMF X
  WHERE  C.CD_UNID_NEG   = @cd_unid_neg  AND
         C.DT_MOVIMENTO  = @dt_movimento AND
         C.IN_CANCELADO  = '0'   	 AND
         C.CD_BANCO      = A.CD_BANCO    AND
         C.TP_PAGAMENTO  IN ( 'C', 'D' ) AND
         C.NR_PROCESSO   = P.NR_PROCESSO AND
         C.CD_BANCO      = B.CD_BANCO    AND
         B.IN_SM         = '1'   	 AND
         A.TP_CONTA      = '2'   	 AND
         C.TP_LANCAMENTO = 'F'   	 AND
         C.CD_ITEM       = I.CD_ITEM     AND
         ( ( T.CD_TIPO_ITEM  IN ( 'D', 'N', 'X', 'T', 'V', '-', ':' ) ) OR
           ( ( T.CD_TIPO_ITEM  IN ( '+', '=' ) )     AND 
             ( ISNULL( C.NR_CHEQUE, '' ) <> '' ) ) ) AND
         I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM	     AND
         ( ( C.IN_RESTITUI = '0'        	     AND
             T.TP_NATUREZA = 'C' )        	     OR
           ( C.IN_RESTITUI = '1'        	     AND
             T.TP_NATUREZA = 'D' ) )        	     AND
         C.DT_MOVIMENTO BETWEEN DT_INICIO AND DT_FIM AND
         @tp_contab = 'C'
  GROUP  BY P.CD_UNID_NEG, P.CD_PRODUTO, B.CD_BANCO, B.NM_BANCO
INSERT #tmp_banco
  SELECT C.CD_UNID_NEG, @cd_prod_cx CD_PRODUTO, B.CD_BANCO, B.NM_BANCO, 'A' TIPO,
         ROUND( ( SUM( ( ISNULL( C.VL_LANCAMENTO, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) * ( X.PC_TAXA / 100 ) ) ), 2 ) VL_BANCO
  FROM   TCAIXA C,
         TBANCO B,
         TCONTA_CAIXA A,
         TTAXA_CPMF X
  WHERE  C.CD_UNID_NEG   = @cd_unid_neg    AND
         C.DT_MOVIMENTO  = @dt_movimento   AND
         C.IN_CANCELADO  = '0'     	   AND
         C.CD_CT_CONTABIL= A.CD_CT_CONTABIL   AND
         A.CD_BANCO      = B.CD_BANCO      AND
         B.IN_SM         = '1'     	   AND
         A.TP_CONTA      = '2'     	   AND
         C.CD_HISTORICO  = @cd_hist_cheque AND
         CHARINDEX( 'CANCELADO', UPPER( C.NM_HISTORICO ) ) = 0  AND
         C.DT_MOVIMENTO BETWEEN DT_INICIO AND DT_FIM  AND
         @tp_contab = 'C'
  GROUP  BY C.CD_UNID_NEG, B.CD_BANCO, B.NM_BANCO
INSERT #tmp_banco
  SELECT P.CD_UNID_NEG, P.CD_PRODUTO, '' CD_BANCO, '' NM_BANCO, 'S' TIPO,
         ROUND( ( SUM( ( ISNULL( C.VL_ITEM, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) * ( X.PC_TAXA / 100 ) ) ), 2 ) VL_BANCO
  FROM   TFATURAMENTO_CC C,
         TPROCESSO P,
         TITEM I,
         TTIPO_ITEM T,
         TTAXA_CPMF X
  WHERE  P.CD_UNID_NEG     = @cd_unid_neg            AND
         P.CD_PRODUTO      = @cd_produto             AND
         C.DT_LANCAMENTO   = @dt_movimento           AND
         ( C.DT_CANCELAMENTO = NULL		     OR
           C.DT_CANCELAMENTO <> C.DT_LANCAMENTO )    AND
         C.CD_FORMA_PAGTO  = 'S'         	     AND
         C.NR_PROCESSO     = P.NR_PROCESSO           AND
         C.CD_ITEM         = I.CD_ITEM               AND
         T.CD_TIPO_ITEM    IN ( 'D', 'R', 'N', 'X' ) AND
         I.CD_TIPO_ITEM    = T.CD_TIPO_ITEM          AND
         I.IN_CPMF         = '1'         	     AND
         ( ( C.IN_RESTITUI = '0'         	     AND
             T.TP_NATUREZA = 'D' )         	     OR
           ( C.IN_RESTITUI = '1'         	     AND
             T.TP_NATUREZA = 'C' ) )         	     AND
         C.DT_LANCAMENTO BETWEEN DT_INICIO AND DT_FIM AND
         @tp_contab = 'F'
  GROUP  BY P.CD_UNID_NEG, P.CD_PRODUTO
INSERT #tmp_banco
  SELECT P.CD_UNID_NEG, P.CD_PRODUTO, '' CD_BANCO, '' NM_BANCO, 'S' TIPO,
         ROUND( ( SUM( ( ISNULL( C.VL_ITEM, 0 ) - ISNULL( C.VL_IR, 0 ) + ISNULL( C.VL_ASSIST, 0 ) ) * ( X.PC_TAXA / 100 ) ) * (-1) ), 2 ) VL_BANCO
  FROM   TFATURAMENTO_CC C,
         TPROCESSO P,
         TITEM I,
         TTIPO_ITEM T,
         TTAXA_CPMF X
  WHERE  P.CD_UNID_NEG     = @cd_unid_neg            AND
         P.CD_PRODUTO      = @cd_produto             AND
         C.DT_CANCELAMENTO = @dt_movimento           AND
         C.DT_LANCAMENTO   <> C.DT_CANCELAMENTO      AND
         C.CD_FORMA_PAGTO  = 'S'         	     AND
         C.NR_PROCESSO     = P.NR_PROCESSO           AND
         C.CD_ITEM         = I.CD_ITEM               AND
         T.CD_TIPO_ITEM    IN ( 'D', 'R', 'N', 'X' ) AND
         I.CD_TIPO_ITEM    = T.CD_TIPO_ITEM          AND
         I.IN_CPMF         = '1'         	     AND
         ( ( C.IN_RESTITUI = '0'         	     AND
             T.TP_NATUREZA = 'D' )         	     OR
           ( C.IN_RESTITUI = '1'         	     AND
             T.TP_NATUREZA = 'C' ) )         	     AND
         C.DT_LANCAMENTO BETWEEN DT_INICIO AND DT_FIM AND
         @tp_contab = 'F'
  GROUP  BY P.CD_UNID_NEG, P.CD_PRODUTO
DECLARE c_banco CURSOR FOR
  SELECT CD_UNID_NEG, CD_BANCO, NM_BANCO, TIPO, ROUND( SUM( VL_BANCO ), 2 )
  FROM   #tmp_banco
  GROUP  BY CD_UNID_NEG, CD_BANCO, NM_BANCO, TIPO
OPEN c_banco
FETCH c_banco INTO 
   @cd_unid_cx, @cd_banco, @nm_banco, @tipo, @vl_valor
WHILE @@fetch_status <> -1
BEGIN
  IF @vl_valor <> 0
  BEGIN
    IF @tipo = 'A'
    BEGIN
      SELECT @cd_ct_dev   = ISNULL( @cd_ct_cpmf_adm,     @cd_ct_acerto )
      SELECT @cd_ct_cre   = ISNULL( @cd_ct_cpmf_passivo, @cd_ct_acerto )
      SELECT @cd_ct_custo = @cd_ct_cst_cpmf_adm
      SELECT @nm_hist     = 'CPMF S/N/CHEQUES DE HOJE - BANCO ('+ @cd_banco + ') - ' + @nm_banco
    END
    ELSE
    BEGIN
      IF @tipo = 'O' 
      BEGIN
        SELECT @cd_ct_dev   = ISNULL( @cd_ct_cpmf_op,      @cd_ct_acerto )
        SELECT @cd_ct_cre   = ISNULL( @cd_ct_cpmf_passivo, @cd_ct_acerto )
        SELECT @cd_ct_custo = @cd_ct_cst_cpmf_op
        SELECT @nm_hist     = 'CPMF S/N/CHEQUES DE HOJE - BANCO ('+ @cd_banco + ') - ' + @nm_banco
      END
      ELSE
      BEGIN
        IF @tipo = 'S' 
        BEGIN
          SELECT @cd_ct_dev   = ISNULL( @cd_ct_cpmf_op,  @cd_ct_acerto )
          SELECT @cd_ct_cre   = ISNULL( @cd_ct_cpmf_adm, @cd_ct_acerto )
          SELECT @cd_ct_custo = @cd_ct_cst_cpmf_adm
          SELECT @nm_hist     = 'CPMF S/DESPESAS SEM DESEMBOLSO DE HOJE'
        END
        ELSE
        BEGIN
          SELECT @cd_ct_dev   = NULL
          SELECT @cd_ct_cre   = NULL
          SELECT @cd_ct_custo = NULL
          SELECT @nm_hist     = NULL
        END
      END
    END
    IF @vl_valor < 0 
    BEGIN
      SELECT @cd_ct_aux = @cd_ct_dev
      SELECT @cd_ct_dev = @cd_ct_cre
      SELECT @cd_ct_cre = @cd_ct_aux
      SELECT @vl_valor  = ABS( @vl_valor )
    END
    SELECT @cd_filial = CD_FILIAL
    FROM   TUNID_NEG
    WHERE  CD_UNID_NEG = @cd_unid_cx
    SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )
    SELECT @vl_lancamento = @vl_valor
    INSERT TCONTABILIZACAO_LANC_CONTMASTER
    VALUES ( @nr_contab, @nr_lancamento, @cd_ct_dev, @cd_ct_cre, @vl_lancamento,
             NULL, @nm_hist, @cd_filial, @cd_ct_custo, '' )
    IF ISNULL( @cd_ct_custo, '' ) <> ''
    BEGIN
      DECLARE c_bco_prod CURSOR FOR
        SELECT CD_PRODUTO, ROUND( SUM( VL_BANCO ), 2 )
        FROM   #tmp_banco
        WHERE  CD_UNID_NEG = @cd_unid_cx AND
               CD_BANCO    = @cd_banco   AND
               TIPO        = @tipo
        GROUP  BY CD_PRODUTO
      OPEN c_bco_prod
      FETCH c_bco_prod INTO 
        @cd_prod_cx, @vl_valor
      WHILE @@fetch_status <> -1
      BEGIN
        IF @cd_prod_cx = ''
        BEGIN
          SELECT @vl_distr = @vl_valor
          IF ( SELECT COUNT(*) 
               FROM   TCT_CONTABIL_GERENCIAL
               WHERE  CD_CT_CONTABIL = @cd_ct_dev ) > 0
          BEGIN
            DECLARE c_distr CURSOR FOR
              SELECT CD_CT_GERENCIAL, VL_PORCENTAGEM
              FROM   TCT_CONTABIL_GERENCIAL
              WHERE  CD_CT_CONTABIL = @cd_ct_dev
            SELECT @cursor_row    = COUNT(*)
            FROM   TCT_CONTABIL_GERENCIAL
            WHERE  CD_CT_CONTABIL = @cd_ct_dev
          END
          ELSE
          BEGIN
            DECLARE c_distr CURSOR FOR
              SELECT CD_CT_GERENCIAL, VL_PORCENTAGEM
              FROM   TCT_CONTABIL_GERENCIAL
              WHERE  CD_CT_CONTABIL = @cd_ct_cre
            SELECT @cursor_row    = COUNT(*)
            FROM   TCT_CONTABIL_GERENCIAL
            WHERE  CD_CT_CONTABIL = @cd_ct_cre
          END
          OPEN c_distr
          FETCH c_distr INTO
            @cd_ct_gerencial, @pc_taxa_distr
          SELECT @nr_row = 0
          WHILE @@fetch_status <> -1
          BEGIN
            SELECT @vl_lanc_gerencial = ROUND( ( @vl_lancamento * @pc_taxa_distr / 100 ), 2 ) 
            SELECT @nr_row = @nr_row +1
            IF @nr_row = @cursor_row
               SELECT @vl_lanc_gerencial = @vl_distr
            ELSE
               SELECT @vl_distr = @vl_distr - @vl_lanc_gerencial
            IF SUBSTRING( @cd_ct_dev, 1, 1 ) IN ( '3', '4' ) 
            BEGIN
              INSERT INTO TCONTABILIZACAO_GERENCIAL_CONTMASTER
              VALUES ( @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_lanc_gerencial )
            END
            IF SUBSTRING( @cd_ct_cre, 1, 1 ) IN ( '3', '4' ) 
            BEGIN
              SELECT @vl_lanc_gerencial = @vl_lanc_gerencial * (-1)
              INSERT INTO TCONTABILIZACAO_GERENCIAL_CONTMASTER
              VALUES ( @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_lanc_gerencial )
            END
            FETCH c_distr INTO
              @cd_ct_gerencial, @pc_taxa_distr
          END
          CLOSE c_distr
          DEALLOCATE c_distr
        END
        ELSE
        BEGIN
          SELECT @cd_ct_gerencial = ISNULL( CD_CT_GERENCIAL, '9999' )
          FROM   TUNID_NEG_PRODUTO 
          WHERE  CD_UNID_NEG      = @cd_unid_cx AND
                 CD_PRODUTO       = @cd_prod_cx
          SELECT @vl_lanc_gerencial = @vl_valor
          IF SUBSTRING( @cd_ct_dev, 1, 1 ) IN ( '3', '4' ) 
          BEGIN
            INSERT INTO TCONTABILIZACAO_GERENCIAL_CONTMASTER
            VALUES ( @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_lanc_gerencial )
          END
          IF SUBSTRING( @cd_ct_cre, 1, 1) IN ( '3', '4' ) 
          BEGIN
            SELECT @vl_lanc_gerencial = @vl_lanc_gerencial * (-1)
            INSERT INTO TCONTABILIZACAO_GERENCIAL_CONTMASTER
            VALUES ( @nr_contab, @nr_lancamento, @cd_ct_gerencial, @vl_lanc_gerencial )
          END
        END
        FETCH c_bco_prod INTO
          @cd_prod_cx, @vl_valor
      END
      CLOSE c_bco_prod
      DEALLOCATE c_bco_prod
    END
  END
  FETCH c_banco INTO
    @cd_unid_cx, @cd_banco, @nm_banco, @tipo, @vl_valor
END
CLOSE c_banco
DEALLOCATE c_banco
DROP TABLE #tmp_banco



GO
