USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ALIMENTA_ITENS_DI](@NR_PROCESSO VARCHAR(20), @ID_CODIGO VARCHAR(20)) AS
BEGIN
    /*
    BEGIN TRAN

    DECLARE @NR_PROCESSO VARCHAR(20)
    DECLARE @ID_CODIGO   VARCHAR(20)

    SET @NR_PROCESSO = '0101IA-001159-14'
    SET @ID_CODIGO   = 'ID00000690-14'
    --*/

    DECLARE @ITENS AS TABLE (
        NR_PEDIDO       VARCHAR(30),
        NR_ITEM_CLIENTE VARCHAR(4),
        NR_PARCIAL      INT,
        NR_CNTR         CHAR(20)
    )
    DECLARE @NR_PEDIDO       VARCHAR(30)
    DECLARE @NR_ITEM_CLIENTE VARCHAR(4)
    DECLARE @NR_PARCIAL      INT
    DECLARE @NR_CNTR         CHAR(20)

    INSERT INTO @ITENS
    SELECT IDP.NR_REFERENCIA, IDP.NR_ITEM_PO, IDP.NR_PARCIAL, ISNULL(PC.NR_CNTR, ISNULL(POI.NR_CNTR, ''))
    FROM TINSTRUCAO_DESEMBARACO_PEDIDO IDP
       INNER JOIN TPO_ITEM POI ON POI.NR_PROCESSO     = IDP.NR_REFERENCIA
                              AND POI.NR_ITEM_CLIENTE = IDP.NR_ITEM_PO
                              AND POI.NR_PARCIAL      = IDP.NR_PARCIAL
                              AND POI.ID_CODIGO_INSTR_DESEMB = IDP.ID_CODIGO
       INNER JOIN TINSTRUCAO_DESEMBARACO ID ON ID.ID_CODIGO  = IDP.ID_CODIGO
                                           AND ID.CD_CLIENTE = POI.CD_EMPRESA
       LEFT  JOIN TLICENCA_ITENS LI ON LI.NR_PROC_PO = POI.NR_PROCESSO
                                   AND LI.NR_ITEM_PO = POI.NR_ITEM_CLIENTE
                                   AND LI.CD_IMPORTADOR = POI.CD_EMPRESA
       LEFT  JOIN TPO_ITEM_CONTAINER PC ON PC.NR_PROCESSO = POI.NR_PROCESSO
                                       AND PC.NR_ITEM_CLIENTE = POI.NR_ITEM_CLIENTE
                                       AND PC.NR_PARCIAL = POI.NR_PARCIAL
                                       AND PC.CD_EMPRESA = POI.CD_EMPRESA
    WHERE IDP.ID_CODIGO = @ID_CODIGO
      AND ISNULL(LI.NR_PROCESSO, '') = ''  --AND LI.NR_PROCESSO IS NULL

    --SELECT * FROM @ITENS

    WHILE (SELECT COUNT(*) FROM @ITENS) > 0
    BEGIN
        SELECT TOP 1 @NR_PEDIDO       = NR_PEDIDO,
                     @NR_ITEM_CLIENTE = NR_ITEM_CLIENTE,
                     @NR_PARCIAL      = NR_PARCIAL,
                     @NR_CNTR         = NR_CNTR
        FROM @ITENS
        ORDER BY NR_PEDIDO, NR_ITEM_CLIENTE, NR_PARCIAL

        --/*
        INSERT INTO TDETALHE_MERCADORIA(NR_PROCESSO, NR_ADICAO, NR_ITEM, CD_MERCADORIA, CD_FABR_EXPO, CD_EXPORTADOR, CD_FABRICANTE,
                                        CD_PAIS_AQUISICAO, CD_PAIS_ORIGEM, CD_NCM_SH, CD_NALADI_SH, CD_NALADI_NCCA,
                                        TX_DESC_DET_MERC, QT_MERC_UN_COMERC, CD_UN_MED_COMERC, VL_UNITARIO, VL_MLE_ITEM,
                                        PL_MERCADORIA, CD_TIPO_CALCULO_ITEM, NR_PROC_PO, NR_ITEM_PO, NR_PARCIAL,
                                        NR_CNTR, CD_CFOP, NR_FATURA, CD_EMPRESA)--*/
        SELECT @NR_PROCESSO, '001', '***', POI.CD_MERCADORIA, POI.IN_FABR_EXP_PROD, POI.CD_EXPORTADOR, POI.CD_FABRICANTE,
               POI.CD_PAIS_AQUISICAO, POI.CD_PAIS_ORIGEM, POI.CD_NCM_SH, POI.CD_NALADI_SH, POI.CD_NALADI_NCCA,
               POI.TX_MERCADORIA, ISNULL(PC.QTD_CONTAINER, POI.QT_INICIAL), POI.CD_UNID_MEDIDA, POI.VL_UNITARIO, POI.VL_UNITARIO * ISNULL(PC.QTD_CONTAINER, POI.QT_INICIAL),
               (POI.PL_ITEM / POI.QT_INICIAL) * ISNULL(PC.QTD_CONTAINER, POI.QT_INICIAL), POI.TP_CALCULO, IDP.NR_REFERENCIA, IDP.NR_ITEM_PO, POI.NR_PARCIAL, 
               ISNULL(PC.NR_CNTR, POI.NR_CNTR), LEFT(POI.CD_CFOP,4), NR_FATURA, POI.CD_EMPRESA
        FROM TINSTRUCAO_DESEMBARACO_PEDIDO IDP
           INNER JOIN TPO_ITEM POI ON POI.NR_PROCESSO     = IDP.NR_REFERENCIA
                                  AND POI.NR_ITEM_CLIENTE = IDP.NR_ITEM_PO
                                  AND POI.NR_PARCIAL      = IDP.NR_PARCIAL
                                  AND POI.ID_CODIGO_INSTR_DESEMB = IDP.ID_CODIGO
           INNER JOIN TINSTRUCAO_DESEMBARACO ID ON ID.ID_CODIGO  = IDP.ID_CODIGO
                                               AND ID.CD_CLIENTE = POI.CD_EMPRESA
           LEFT  JOIN TPO_ITEM_CONTAINER PC ON PC.NR_PROCESSO = POI.NR_PROCESSO
                                           AND PC.NR_ITEM_CLIENTE = POI.NR_ITEM_CLIENTE
                                           AND PC.NR_PARCIAL = POI.NR_PARCIAL
                                           AND PC.CD_EMPRESA = POI.CD_EMPRESA
                                           AND PC.NR_CNTR = @NR_CNTR
        WHERE IDP.ID_CODIGO     = @ID_CODIGO
          AND IDP.NR_REFERENCIA = @NR_PEDIDO
          AND IDP.NR_ITEM_PO    = @NR_ITEM_CLIENTE
          AND IDP.NR_PARCIAL    = @NR_PARCIAL

        EXEC SP_DI_CLASSIFICA_ITEM @NR_PROCESSO, '001', '***'

        DELETE @ITENS
        WHERE NR_PEDIDO       = @NR_PEDIDO
          AND NR_ITEM_CLIENTE = @NR_ITEM_CLIENTE
          AND NR_PARCIAL      = @NR_PARCIAL
          AND NR_CNTR         = @NR_CNTR
    END

    DECLARE @LI AS TABLE (
        NR_LI CHAR(20),
        DT_LI DATETIME
    )
    DECLARE @NR_LI CHAR(20)
    DECLARE @DT_LI DATETIME

    INSERT INTO @LI
    SELECT DISTINCT L.NR_REGISTRO_LI, L.DT_REGISTRO_LI
    FROM TINSTRUCAO_DESEMBARACO_PEDIDO IDP
       INNER JOIN TPO_ITEM POI ON POI.NR_PROCESSO     = IDP.NR_REFERENCIA
                              AND POI.NR_ITEM_CLIENTE = IDP.NR_ITEM_PO
                              AND POI.NR_PARCIAL      = IDP.NR_PARCIAL
                              AND POI.ID_CODIGO_INSTR_DESEMB = IDP.ID_CODIGO
       INNER JOIN TINSTRUCAO_DESEMBARACO ID ON ID.ID_CODIGO  = IDP.ID_CODIGO
                                           AND ID.CD_CLIENTE = POI.CD_EMPRESA
       INNER JOIN TLICENCA_ITENS LI ON LI.NR_PROC_PO = POI.NR_PROCESSO
                                   AND LI.NR_ITEM_PO = POI.NR_ITEM_CLIENTE
                                   AND LI.CD_IMPORTADOR = POI.CD_EMPRESA
       INNER JOIN TLICENCA_IMPORTACAO L ON L.NR_PROCESSO = LI.NR_PROCESSO
    WHERE IDP.ID_CODIGO = @ID_CODIGO
      AND ISNULL(L.NR_REGISTRO_LI, '') <> '' --AND L.NR_REGISTRO_LI IS NOT NULL

    --SELECT * FROM @LI

    DECLARE @CD_UNID_NEG CHAR(2) = LEFT(@NR_PROCESSO, 2)
    DECLARE @CD_PRODUTO  CHAR(2) = SUBSTRING(@NR_PROCESSO, 3, 2)

    WHILE (SELECT COUNT(*) FROM @LI) > 0
    BEGIN
        SELECT TOP 1 @NR_LI = NR_LI,
                     @DT_LI = DT_LI
        FROM @LI
        ORDER BY NR_LI

        EXEC SP_DI_ADICAO_COM_LI @CD_UNID_NEG, @CD_PRODUTO, @NR_PROCESSO, @NR_LI, @DT_LI

        DELETE @LI
        WHERE NR_LI = @NR_LI
    END

    /*
    SELECT NR_PROC_PO, NR_ITEM_PO, * FROM TDETALHE_MERCADORIA WHERE NR_PROCESSO = @NR_PROCESSO
    SELECT * FROM TADICAO_DE_IMPORTACAO WHERE NR_PROCESSO = @NR_PROCESSO
    ROLLBACK
    --*/
END

GO
