USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_di_repassa_campos_classif] @nr_processo CHAR(18), @nr_adicao CHAR(3) AS

DECLARE @cd_mercadoria_ncm  char(11)
DECLARE @cd_merc_naladi_sh  char(8)
DECLARE @cd_merc_naladi_ncc char(7)
DECLARE @cd_fornecedor      char(5)
DECLARE @cd_fabricante      char(5)
DECLARE @cd_pais_orig_merc  char(3)
DECLARE @cd_pais_aquis_merc char(3)
DECLARE @nr_destaque_ncm    char(3)
DECLARE @qt_itens           int
DECLARE @i                  int
DECLARE @nr_adic            char(3)
DECLARE @nr_item            char(3)
DECLARE @cd_fabr_expo       char(1)

-- Traz para variaveis valores dos campos classificat>rios da AdiØao
SELECT @cd_mercadoria_ncm  = ISNULL( CD_MERCADORIA_NCM, ''),
       @cd_merc_naladi_sh  = ISNULL( CD_MERC_NALADI_SH, ''),
       @cd_merc_naladi_ncc = ISNULL( CD_MERC_NALADI_NCC, ''),
       @cd_fornecedor      = ISNULL( CD_FORNECEDOR, ''),
       @cd_fabricante      = ISNULL( CD_FABRICANTE, ''),
       @cd_pais_orig_merc  = ISNULL( CD_PAIS_ORIG_MERC, ''),
       @cd_pais_aquis_merc = ISNULL( CD_PAIS_AQUIS_MERC, ''),
       @cd_fabr_expo       = ISNULL( CD_AUSENCIA_FABRIC, '' ),
       @nr_destaque_ncm    = ISNULL( NR_DESTAQUE_NCM, '' )
FROM   TADICAO_DE_IMPORTACAO
WHERE  NR_PROCESSO = @nr_processo AND 
       NR_ADICAO   = @nr_adicao

UPDATE TADICAO_DE_IMPORTACAO
SET    CD_NCM_SH = SUBSTRING( @cd_mercadoria_ncm, 1, 8 )
WHERE  NR_PROCESSO = @nr_processo AND 
       NR_ADICAO   = @nr_adicao

UPDATE TDETALHE_MERCADORIA 
SET    CD_NCM_SH         = @cd_mercadoria_ncm,
       CD_NALADI_SH      = @cd_merc_naladi_sh,
       CD_NALADI_NCCA    = @cd_merc_naladi_ncc,
       CD_EXPORTADOR     = @cd_fornecedor,
       CD_FABRICANTE     = @cd_fabricante,
       CD_PAIS_AQUISICAO = @cd_pais_aquis_merc,
       CD_PAIS_ORIGEM    = @cd_pais_orig_merc,
       CD_FABR_EXPO      = @cd_fabr_expo,
       NR_DESTAQUE_NCM   = @nr_destaque_ncm
WHERE  ( NR_PROCESSO = @nr_processo ) AND 
       ( NR_ADICAO = @nr_adicao )

/*
SELECT @qt_itens = COUNT(*)
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_ADICAO   = @nr_adicao
  SELECT @i = 1
  WHILE @i <= @qt_itens 
  BEGIN
    SELECT @nr_adic = @nr_adicao

    SELECT @nr_item = '001'
    EXEC sp_di_reclassifica_item @nr_processo, @nr_adic, @nr_item
    SELECT @i = @i +1 
  END
*/


GO
