USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_fat_atz_rateio_money]( @cd_usuario char(4), @nr_emissao int, 
                                       @ano_emissao INT, @nr_solicitacao char(6) ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_usuario char(4) 
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6)
DECLARE @vl_sd_fat_zero float

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solicitacao = '034817'
SELECT @cd_usuario = '0001'
*/

DECLARE @nr_identificador int

-- SE NAO FOR, VERIFICA SE JÁ FOI FEITO, PARA NÃO PERDER TEMPO FAZENDO NOVAMENTE
IF NOT EXISTS( SELECT *
               FROM TFAT_CALCULO_RATEIO_DESP_MONEY (NOLOCK)
							 WHERE NR_EMISSAO  = @nr_emissao AND ANO_EMISSAO = @ano_emissao )
BEGIN 
  EXEC sp_fat_consiste_rateio_money @nr_emissao, @ano_emissao, @nr_identificador OUTPUT
  IF EXISTS ( SELECT *
                FROM TCALCULO_RATEIO_DESP_money (NOLOCK)
               WHERE NR_IDENTIFICADOR = @nr_identificador )
  BEGIN 
    RETURN(8)
  END  
END


UPDATE TFAT_CALCULO_RATEIO_DESP_MONEY
   SET CD_USUARIO  = @cd_usuario
 WHERE NR_EMISSAO  = @nr_emissao
   AND ANO_EMISSAO = @ano_emissao

/*
ROLLBACK TRAN
SET XACT_ABORT OFF  
*/
GO
