USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_atz_fat_cc_solic] ( @dt_movimento datetime, @nr_ctaapagar char(3), @nr_lancamento char(3) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @dt_movimento datetime
DECLARE @nr_ctaapagar char(3)
DECLARE @nr_lancamento char(3)

SELECT @dt_movimento = CONVERT( datetime, '01/08/2001', 103 )

SELECT @nr_ctaapagar = '002'

--*/

DECLARE @nr_ult_lanc   		int
DECLARE @ult_lanc   		char(4)
DECLARE @cd_usuario		char(4)
DECLARE @cd_favorecido   	char(5) 
DECLARE @cd_banco   		char(3)
DECLARE @nr_processo              char(18)
DECLARE @cd_item   		char(3)
DECLARE @cd_item_nao_fat 	char(3)
DECLARE @cd_despachante  	char(3)
DECLARE @tp_pagamento   	char(1)
DECLARE @tp_procedencia  	char(1)
DECLARE @nr_cheque   		char(6)
DECLARE @vl_lancamento  	float
DECLARE @vl_ir    		float
DECLARE @vl_assist   		float
DECLARE @nm_historico   	varchar(180)
DECLARE @in_restitui   		char(1)
DECLARE @cd_item_nfat  		char(3)

EXEC sp_busca_usuario @cd_usuario

DECLARE c_fat_cc CURSOR FOR 
SELECT NR_PROCESSO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, NR_DOCTO, ( VL_PAGTO - VL_DESCONTO ), 
       CASE        
         WHEN CD_STATUS IN ( '4', '17') THEN 'ESTORNO'
         ELSE NULL
       END, IN_RESTITUI
FROM   TSOLIC_PAGTO (PAGLOCK HOLDLOCK)
WHERE  DT_PAGTO      = @dt_movimento  AND 
       NR_LANCAMENTO = @nr_lancamento AND 
       IN_TRANSF_FIN = '0'            AND
       CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS ) AND
       CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS ) AND
       CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS ) AND
       CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS )
OPEN  c_fat_cc
FETCH c_fat_cc INTO 
   @nr_processo, @cd_favorecido, @cd_banco, @cd_item, @nr_cheque, @vl_lancamento, @nm_historico, @in_restitui
WHILE @@fetch_status <> -1
BEGIN
  SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '0000' ) ) ) + 1
  FROM   TFATURAMENTO_CC 
  WHERE  NR_PROCESSO = @nr_processo

  SELECT @ult_lanc = RIGHT( '0000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 4 )

  IF ( SELECT COUNT(*)
       FROM TCLIENTE_ITEM_POR_TON T
            JOIN TPROCESSO P
            ON (T.CD_CLIENTE  = P.CD_CLIENTE  AND
                T.CD_UNID_NEG = P.CD_UNID_NEG AND
                T.CD_PRODUTO  = P.CD_PRODUTO)
       WHERE P.NR_PROCESSO    = @nr_processo  AND
             T.CD_ITEM        = @cd_item      AND
             T.IN_ATIVO       = '1' ) > 0
  BEGIN 
    SELECT @cd_item_nao_fat = @cd_item
    SELECT @nm_historico    = ( SELECT NM_ITEM 
			        FROM   TITEM 
				WHERE  CD_ITEM = @cd_item)
    SELECT @cd_item         = @cd_item_nfat
  END
  ELSE
  BEGIN
    DECLARE @cd_unid_neg char(2)
    DECLARE @cd_produto char(2)
    DECLARE @cd_cliente char(5)
    DECLARE @cd_servico char(3)

    SELECT @cd_unid_neg = CD_UNID_NEG,
           @cd_produto  = CD_PRODUTO,
           @cd_cliente  = CD_CLIENTE,
           @cd_servico  = CD_SERVICO            
    FROM   TPROCESSO
    WHERE  NR_PROCESSO  = @nr_processo
     
    SELECT @cd_despachante = CD_DESPACHANTE
    FROM   TPROCESSO_SDA
    WHERE  NR_PROCESSO     = @nr_processo AND
           @cd_item        = ( SELECT CD_ITEM_SDA FROM TPARAMETROS )

    IF EXISTS( SELECT *
               FROM   TCLIENTE_NUMERARIO 
               WHERE  CD_UNID_NEG = @cd_unid_neg AND
                      CD_PRODUTO = @cd_produto AND
                      CD_CLIENTE = @cd_cliente AND
                      CD_SERVICO = @cd_servico AND
                      CD_ITEM = @cd_item AND
                      TP_DESTINO = '1' ) AND
       EXISTS( SELECT *
               FROM   TSOLIC_PAGTO 
               WHERE  NR_PROCESSO = @nr_processo AND
                      CD_ITEM = @cd_item AND
                      TP_DESTINO = '1' ) SELECT @cd_item_nao_fat = '*'
    ELSE SELECT @cd_item_nao_fat = NULL
  END

  SELECT @tp_procedencia = '1', @tp_pagamento = 'F'   
  INSERT INTO TFATURAMENTO_CC 
    ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM, CD_DESPACHANTE, 
      CD_FORMA_PAGTO, CD_ORIGEM_LANC, NR_CHEQUE, VL_ITEM, NM_ITEM_COMPLEMENTO, IN_FATURADO, 
      IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO )
  VALUES ( @nr_processo, @ult_lanc, @dt_movimento, @cd_usuario, @cd_favorecido, @cd_banco,
           @cd_item, @cd_despachante, @tp_pagamento, @tp_procedencia, @nr_cheque, @vl_lancamento,  
           @nm_historico, '0', '0', @in_restitui, '0', @cd_item_nao_fat, '0' )

  UPDATE TCTAAPAGAR_LANC_PROCESSO 
  SET    NR_LANC_FAT_CC      = @ult_lanc
  WHERE  CD_UNID_NEG         = @cd_unid_neg   AND
         DT_CTAAPAGAR        = @dt_movimento  AND
         NR_CTAAPAGAR        = @nr_ctaapagar  AND
         CD_CT_CONTABIL      = ( SELECT E.CD_CT_CONTABIL 
                                 FROM   TEMPRESA_NAC E, TPROCESSO P
                                 WHERE  P.CD_CLIENTE  = E.CD_EMPRESA AND
                                        P.NR_PROCESSO = @nr_processo ) AND
         NR_PROCESSO         = @nr_processo   AND
         NR_LANC_SOLIC_PAGTO = @nr_lancamento AND
         CD_ITEM_SOLIC_PAGTO = @cd_item

  UPDATE TSOLIC_PAGTO 
  SET    IN_TRANSF_FIN = '1'
  WHERE  NR_PROCESSO   = @nr_processo AND
         CD_ITEM       = @cd_item     AND
         NR_LANCAMENTO = @nr_lancamento

  IF @cd_item IN ( SELECT CD_ITEM_SDA FROM TPARAMETROS )
  BEGIN
    UPDATE TPROCESSO_SDA
    SET    VL_PAGTO  = ( SELECT SUM( CASE IN_RESTITUI
                                       WHEN '0' THEN VL_LANCAMENTO
                                       ELSE VL_LANCAMENTO * (-1)
                                     END )
                         FROM   TCAIXA
                         WHERE  NR_PROCESSO = @nr_processo AND
                                CD_DESPACHANTE = @cd_despachante AND
                                CD_ITEM = @cd_item ),
           DT_PAGTO  = ( SELECT MAX( DT_MOVIMENTO )
                         FROM   TCAIXA
                         WHERE  NR_PROCESSO = @nr_processo AND
                                CD_DESPACHANTE = @cd_despachante AND
                                CD_ITEM = @cd_item AND
                                IN_RESTITUI = '0' ),
           CD_STATUS = '3'
    WHERE  NR_PROCESSO = @nr_processo
  END
   
  FETCH c_fat_cc INTO 
    @nr_processo, @cd_favorecido, @cd_banco, @cd_item, @nr_cheque, @vl_lancamento, @nm_historico, @in_restitui
END
CLOSE c_fat_cc
DEALLOCATE c_fat_cc

/*
select * from TCTAAPAGAR_LANC_PROCESSO where nr_processo = @nr_processo
select * from tfaturamento_cc where nr_processo = @nr_processo

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/


GO
