USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ORDENA_EVENTOS_FATOR](@CD_FATOR INT) AS
BEGIN
/*
BEGIN TRAN

DECLARE @CD_FATOR INT = 79

SELECT *
FROM TFATORES_EVENTO
WHERE CD_FATOR = @CD_FATOR
ORDER BY NR_PRIORIDADE
--*/

DECLARE @TB_EVENTO AS TABLE (
    CD_FATOR           INT,
    CD_EVENTO          CHAR(3),
    CD_EVENTO_ANTERIOR CHAR(3),
    CD_EVENTO_BASE     CHAR(3),
    PZ_EVENTO_BASE     INT,
    NR_PRIORIDADE      INT,
    IN_ALTERAR         CHAR(1),
    IN_EXCLUIR         CHAR(1),
    CD_SERVICO         INT,
    IN_PRAZO_UTIL      BIT,
    IN_PRAZO_FERIADO   BIT
)
DECLARE @CD_EVENTO          CHAR(3)
DECLARE @CD_EVENTO_ANTERIOR CHAR(3)
DECLARE @CD_EVENTO_BASE     CHAR(3)
DECLARE @PZ_EVENTO_BASE     INT
DECLARE @NR_PRIORIDADE      INT
DECLARE @IN_ALTERAR         CHAR(1)
DECLARE @IN_EXCLUIR         CHAR(1)
DECLARE @CD_SERVICO         INT
DECLARE @IN_PRAZO_UTIL      BIT
DECLARE @IN_PRAZO_FERIADO   BIT

DECLARE @NR_PRIORIDADE_ANT  INT

INSERT INTO @TB_EVENTO
SELECT *
FROM TFATORES_EVENTO
WHERE CD_FATOR = @CD_FATOR

DELETE TFATORES_EVENTO
WHERE CD_FATOR = @CD_FATOR

WHILE (SELECT COUNT(*) FROM @TB_EVENTO) > 0
BEGIN
    SELECT TOP 1 @CD_EVENTO          = CD_EVENTO,
                 @CD_EVENTO_ANTERIOR = CD_EVENTO_ANTERIOR,
                 @CD_EVENTO_BASE     = CD_EVENTO_BASE,
                 @PZ_EVENTO_BASE     = PZ_EVENTO_BASE,
                 @NR_PRIORIDADE      = NR_PRIORIDADE,
                 @IN_ALTERAR         = IN_ALTERAR,
                 @IN_EXCLUIR         = IN_EXCLUIR,
                 @CD_SERVICO         = CD_SERVICO,
                 @IN_PRAZO_UTIL      = IN_PRAZO_UTIL,
                 @IN_PRAZO_FERIADO   = IN_PRAZO_FERIADO
    FROM @TB_EVENTO
    ORDER BY CD_SERVICO, NR_PRIORIDADE + (ISNULL(IN_ALTERAR, 0) * 2000) + (ISNULL(IN_EXCLUIR, 0) * 1000)

    IF (ISNULL(@CD_EVENTO_ANTERIOR, '') <> '')
    BEGIN
        SELECT @NR_PRIORIDADE_ANT = ISNULL(MIN(NR_PRIORIDADE), 0)
        FROM @TB_EVENTO
        WHERE CD_FATOR = @CD_FATOR
          AND CD_SERVICO = @CD_SERVICO
          AND CD_EVENTO = @CD_EVENTO_ANTERIOR
          AND ISNULL(IN_ALTERAR, 0) = 0
          AND ISNULL(IN_EXCLUIR, 0) = 0
    END
    ELSE
        SET @NR_PRIORIDADE_ANT = 0

--SELECT @CD_FATOR, @CD_EVENTO, @CD_EVENTO_ANTERIOR, @CD_EVENTO_BASE, @PZ_EVENTO_BASE, @NR_PRIORIDADE, @NR_PRIORIDADE_ANT, @IN_ALTERAR, @IN_EXCLUIR, @CD_SERVICO

    IF (ISNULL(@IN_ALTERAR, 0) = 0) AND (ISNULL(@IN_EXCLUIR, 0) = 0) AND (@NR_PRIORIDADE_ANT > @NR_PRIORIDADE)
    BEGIN
        UPDATE @TB_EVENTO
        SET NR_PRIORIDADE = NR_PRIORIDADE +1
        WHERE NR_PRIORIDADE > @NR_PRIORIDADE_ANT

        UPDATE @TB_EVENTO
        SET NR_PRIORIDADE = @NR_PRIORIDADE_ANT +1
        WHERE CD_SERVICO = @CD_SERVICO
          AND CD_EVENTO = @CD_EVENTO
    END
    ELSE
    BEGIN
        INSERT INTO TFATORES_EVENTO
        VALUES(@CD_FATOR, @CD_EVENTO, @CD_EVENTO_ANTERIOR, @CD_EVENTO_BASE, @PZ_EVENTO_BASE, 0, @IN_ALTERAR, @IN_EXCLUIR, @CD_SERVICO, @IN_PRAZO_UTIL, @IN_PRAZO_FERIADO)

        DELETE @TB_EVENTO
        WHERE CD_SERVICO = @CD_SERVICO
          AND CD_EVENTO = @CD_EVENTO
    END
END

/*
SELECT *
FROM TFATORES_EVENTO
WHERE CD_FATOR = @CD_FATOR
ORDER BY NR_PRIORIDADE

ROLLBACK
--*/
END

GO
