USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_dem_gerencial2] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                         @cd_embarcacao char(4), @cd_area char(2), @cd_armazem_descarga char(4), 
				         @cd_pais_origem char(3), @cd_agente char(4), 
					 @cd_transportador char(4), @demurrage char(1), @dt_inicio datetime, @dt_fim datetime,
                                         @nr_identificador int OUTPUT ) AS

/*

SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_embarcacao char(4)
DECLARE @cd_area char(2)
DECLARE @cd_armazem_descarga char(4)
DECLARE @cd_pais_origem char (2)
DECLARE @cd_agente char(4)
DECLARE @cd_transportador char(4)
DECLARE @demurrage char(1)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_embarcacao = 'X'
SELECT @cd_area = 'X'
SELECT @cd_armazem_descarga = 'X'
SELECT @cd_produto = 'X'
SELECT @cd_transportador = 'X'
SELECT @demurrage = 'X'
SELECT @dt_inicio    = CONVERT( datetime, '01/01/2005', 103 )
SELECT @dt_fim       = CONVERT( datetime, '31/03/2005', 103 )

*/

-- @demurrage = 'N', 'S', 'X' (S = Com demurrage, N = Sem Demurrage, X = Ambos)

DECLARE @dt_atual         datetime
DECLARE @nr_processo      char(18)
DECLARE @nr_cntr          char(20)
DECLARE @nr_dias_corridos int
DECLARE @nr_dias_cobrar   int
DECLARE @nr_dias_a_pagar  int
DECLARE @free_time        int
DECLARE @vl_pagto         float

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_DEM_GERENCIAL2

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT @dt_atual         = CONVERT( datetime, CONVERT( varchar(10), GETDATE(), 103 ), 103 )

INSERT TREL_DEM_GERENCIAL2( NR_IDENTIFICADOR, NR_PROCESSO, TP_CNTR, NR_CNTR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, CD_AREA, 	
	CD_ARMAZEM_DESCARGA, NR_FREE_TIME, DT_ENT, DT_DEVOLUCAO_CNTR,
	CD_TRANSP_NAC_DOC, CD_PAIS_ORIGEM, VL_PAGAR_NA_MOEDA, VL_DIARIA, CD_MOEDA, VL_PAGAR_REAIS, DESCONTO, DESCONTO_MOEDA,
	VL_PAGO, DT_PAGTO, IN_PARCIAL, TX_CAMBIO )
  SELECT @nr_identificador, C.NR_PROCESSO, C.TP_CNTR, C.NR_CNTR, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_AREA,
         P.CD_ARMAZEM_DESCARGA, C.NR_FREE_TIME, C.DT_ENT, C.DT_DEVOLUCAO_CNTR, P.CD_TRANSP_NAC_DOC, P.CD_PAIS_ORIGEM, 
         0 /*VL_PAGAR_NA_MOEDA*/, F.VL_DIARIA, 0/*F.CD_MOEDA_FATURA*/, 0 /*VL_PAGAR_REAIS*/,
         F.VL_DESCONTO, F.VL_DESCONTO_MNEG, F.VL_TOTAL, D.DT_PAGTO, F.IN_PARCIAL, F.TX_FATURA
  FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK), TDEM_FAT_CNTR F (NOLOCK), TDEM_FAT D (NOLOCK)
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
      	 P.CD_UNID_NEG = D.CD_UNID_NEG AND
      	 D.CD_UNID_NEG = F.CD_UNID_NEG AND
      	 D.NR_FATURA = F.NR_FATURA AND
      	 C.NR_PROCESSO = F.NR_PROCESSO AND
         C.NR_CNTR = F.NR_CNTR AND
         P.IN_CANCELADO = '0' AND
         P.IN_LIBERADO = '1' AND
         P.IN_PRODUCAO = '1' AND
	 C.IN_DEMURRAGE = '1' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO  = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( P.CD_EMBARCACAO = @cd_embarcacao ) OR ( @cd_embarcacao = 'X' ) ) AND
         ( ( P.CD_AREA = @cd_area ) OR ( @cd_area = 'X' ) ) AND
         ( ( P.CD_ARMAZEM_DESCARGA = @cd_armazem_descarga) OR (@cd_armazem_descarga = 'X') ) AND	 
         ( ( P.CD_PAIS_ORIGEM = @cd_pais_origem) OR (@cd_pais_origem = 'X') ) AND	 
      	 ( ( P.CD_AGENTE = @cd_agente) OR (@cd_agente = 'X')) AND
         ( ( P.CD_TRANSP_NAC_DOC = @cd_transportador)  OR ( @cd_transportador = 'X')) AND
         DT_ENT BETWEEN @dt_inicio AND @dt_fim 
UNION
  SELECT @nr_identificador, C.NR_PROCESSO, C.TP_CNTR, C.NR_CNTR, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, P.CD_AREA,
         P.CD_ARMAZEM_DESCARGA, C.NR_FREE_TIME, C.DT_ENT, C.DT_DEVOLUCAO_CNTR, P.CD_TRANSP_NAC_DOC, P.CD_PAIS_ORIGEM, 
         0 /*VL_PAGAR_NA_MOEDA*/, 0 as VL_DIARIA, '' AS CD_MOEDA_FATURA, 0 /*VL_PAGAR_REAIS*/,
         0 AS VL_DESCONTO, 0 AS VL_DESCONTO_MNEG, 0 AS VL_TOTAL, NULL AS DT_PAGTO, NULL /*IN_PARCIAL*/, 0 AS TX_CAMBIO 
  FROM   TPROCESSO_CNTR C (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)
  WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         P.IN_CANCELADO = '0' AND
         P.IN_LIBERADO = '1' AND
         P.IN_PRODUCAO = '1' AND
	 C.IN_DEMURRAGE = '1' AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
         ( ( P.CD_PRODUTO  = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
         ( ( P.CD_EMBARCACAO = @cd_embarcacao ) OR ( @cd_embarcacao = 'X' ) ) AND
         ( ( P.CD_AREA = @cd_area ) OR ( @cd_area = 'X' ) ) AND
         ( ( P.CD_ARMAZEM_DESCARGA = @cd_armazem_descarga) OR (@cd_armazem_descarga = 'X') ) AND	 
         ( ( P.CD_PAIS_ORIGEM = @cd_pais_origem) OR (@cd_pais_origem = 'X') ) AND	 
      	 ( ( P.CD_AGENTE = @cd_agente) OR (@cd_agente = 'X')) AND
         ( ( P.CD_TRANSP_NAC_DOC = @cd_transportador)  OR ( @cd_transportador = 'X')) AND
         DT_ENT BETWEEN @dt_inicio AND @dt_fim AND
         NOT EXISTS( SELECT NR_PROCESSO
                     FROM  TDEM_FAT_CNTR F (NOLOCK)
                     WHERE P.CD_UNID_NEG = F.CD_UNID_NEG AND
                           C.NR_PROCESSO = F.NR_PROCESSO AND
                           C.NR_CNTR = F.NR_CNTR )
  ORDER BY C.NR_PROCESSO, C.NR_CNTR

DECLARE @vl_pagar float, 
	@tp_cntr char(2),
	@tx_fatura float,
	@tx_cambio float,
	@qt_periodo int,
	@ct int,
	@nr_dias_periodo_tabela	 int,
	@nr_dias_restantes int,
	@vl_diaria float,
	@vl_pagar_reais float,
 	@cd_moeda char(3),
	@vl_pago float,
 	@in_parcial char(1)

SET @vl_pagar = 0

DECLARE c_rel_dem_gerencial2 CURSOR FOR
  SELECT R.NR_PROCESSO, TP_CNTR, NR_CNTR, NR_FREE_TIME, TX_CAMBIO, P.CD_TRANSPORTADOR, R.VL_PAGO, ISNULL(R.IN_PARCIAL, 0)
  FROM   TREL_DEM_GERENCIAL2 R, TPROCESSO P (NOLOCK)
  WHERE R.NR_PROCESSO  = P.NR_PROCESSO AND
    NR_IDENTIFICADOR = @nr_identificador 

OPEN c_rel_dem_gerencial2
FETCH c_rel_dem_gerencial2 INTO @nr_processo, @tp_cntr, @nr_cntr, @free_time, @tx_fatura, @cd_transportador, 
  @vl_pago, @in_parcial
WHILE @@fetch_status = 0
BEGIN
  EXEC sp_calc_dias_cntr @nr_processo, @nr_cntr, @nr_dias_corridos OUTPUT, @nr_dias_cobrar OUTPUT 

    SET @nr_dias_a_pagar = 0
    SET @vl_pagar_reais = 0
    SET @vl_pagar = 0
    SET @vl_diaria = 0
    SET @cd_moeda = NULL

  -- Pega o n° de dias a pagar
  IF @nr_dias_corridos > @free_time
  BEGIN
    SET @nr_dias_a_pagar = @nr_dias_corridos - @free_time
  END
  ELSE
  BEGIN
    SET @nr_dias_a_pagar = 0
    SET @vl_pagar_reais = 0
    SET @vl_pagar = 0
  END

  IF @nr_dias_a_pagar > 0 OR ( @vl_pago > 0 AND @in_parcial = '1')
  BEGIN
    SELECT @qt_periodo = COUNT(NR_PERIODO)
    FROM TCLIENTE_AGENTE_DEMURRAGE AD (NOLOCK), TPROCESSO P (NOLOCK)
    WHERE P.NR_PROCESSO = @nr_processo AND  	 		        
      AD.CD_UNID_NEG = P.CD_UNID_NEG AND
      AD.CD_PRODUTO = P.CD_PRODUTO AND
      AD.CD_CLIENTE = P.CD_CLIENTE AND
      AD.CD_AGENTE = P.CD_AGENTE AND
      AD.CD_TRANSPORTADOR = @cd_transportador AND
      AD.TP_CNTR = @tp_cntr

  -- Verifica em qual período está a demurrage, para obter o valor da diária
    SET @ct = 0

    WHILE @ct <> @qt_periodo 
    BEGIN 

      SET @ct = @ct + 1    

      SELECT @nr_dias_periodo_tabela = NR_DIAS_PERIODO, @vl_diaria = VL_DIARIA, @CD_MOEDA = C.CD_MOEDA, 
	@tx_cambio = C.TX_CAMBIO
      FROM TCLIENTE_AGENTE_DEMURRAGE AD (NOLOCK), TPROCESSO P (NOLOCK), TTAXA_CAMBIO C (NOLOCK)
      WHERE P.NR_PROCESSO = @nr_processo AND  	 		        
            AD.CD_UNID_NEG = P.CD_UNID_NEG AND
            AD.CD_PRODUTO = P.CD_PRODUTO AND
            AD.CD_CLIENTE = P.CD_CLIENTE AND
            AD.CD_AGENTE = P.CD_AGENTE AND
	    AD.CD_MOEDA = C.CD_MOEDA AND
            AD.CD_TRANSPORTADOR = @cd_transportador AND
            AD.TP_CNTR = @tp_cntr and CAST(NR_PERIODO as int) = @ct AND
	    CONVERT(CHAR, getdate(), 103 ) BETWEEN C.DT_INICIO_VIGENCIA and C.DT_TERMINO_VIGENCIA AND
	    CONVERT(CHAR, getdate(), 103 ) BETWEEN AD.DT_INI_VIG and AD.DT_FIM_VIG

      IF @ct = 1  
      BEGIN
	IF @nr_dias_a_pagar <= @nr_dias_periodo_tabela
	BEGIN
   	  SET @vl_pagar = @vl_pagar + (@nr_dias_a_pagar * @vl_diaria)
	  SET @nr_dias_restantes = 0
  	END
   	ELSE
	BEGIN
     	  SET @vl_pagar = @vl_pagar + ( @nr_dias_periodo_tabela * @vl_diaria )
          SET @nr_dias_restantes = ( @nr_dias_a_pagar - @nr_dias_periodo_tabela )
	END
      END
      ELSE
      BEGIN
	IF ISNULL(@nr_dias_restantes, 0) <= @nr_dias_periodo_tabela
	BEGIN
   	  SET @vl_pagar = @vl_pagar + ( @nr_dias_restantes * @vl_diaria )
	  SET @nr_dias_restantes = 0
  	END
   	ELSE
	BEGIN
   	  SET @vl_pagar = @vl_pagar + ( @nr_dias_periodo_tabela * @vl_diaria )
          SET @nr_dias_restantes = ( @nr_dias_restantes - @nr_dias_periodo_tabela )
        END
     END 

    END	 -- WHILE   
  END -- dias a pagar <> 0
/*
  IF @vl_pago = 0
  BEGIN
    SET @vl_pagar_reais = 0
    SET @tx_cambio = @tx_fatura
  END
  ELSE
  BEGIN*/
 
    -- Se o valor pago for parcial, calcula o valor restante (em R$)
    IF @in_parcial = 1
      BEGIN
        SET @vl_pagar = ABS( @vl_pagar - (@vl_pago / @tx_cambio))  
      END

    -- Valor a pagar em reais
    SET @vl_pagar_reais = @vl_pagar * @tx_cambio

    IF @vl_pagar = 0
    BEGIN
      SET @tx_cambio = 0
    END

  UPDATE TREL_DEM_GERENCIAL2
  SET    NR_DIAS_CORRIDOS = @nr_dias_corridos,
         NR_DIAS_A_PAGAR = @nr_dias_a_pagar,
	 VL_DIARIA = @vl_pagar / @nr_dias_a_pagar, 
	 VL_PAGAR_REAIS = @vl_pagar_reais,
	 VL_PAGAR_NA_MOEDA = @vl_pagar,
	 CD_MOEDA = @cd_moeda,
	 TX_CAMBIO = @tx_cambio	 
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND
         NR_PROCESSO = @nr_processo AND
         NR_CNTR = @nr_cntr AND
        ( ( @nr_dias_corridos > @free_time AND @demurrage = 'S' ) OR /*Com demurrage*/
      	  ( @nr_dias_corridos <= @free_time AND @demurrage = 'N') OR /*Sem demurrage*/
            @demurrage = 'X' /*Todos*/)

  FETCH c_rel_dem_gerencial2 INTO @nr_processo, @tp_cntr, @nr_cntr, @free_time, @tx_fatura, @cd_transportador, 
    @vl_pago, @in_parcial
END

CLOSE c_rel_dem_gerencial2
DEALLOCATE c_rel_dem_gerencial2

DELETE TREL_DEM_GERENCIAL2
WHERE ISNULL( NR_DIAS_CORRIDOS, 0 ) = 0 AND
      NR_IDENTIFICADOR = @nr_identificador 


/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/














GO
