USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_log_contabil] (@DT_LANCTO DATETIME, 
                             @CHAVE VARCHAR(40),
                             @CD_MOD_CONTABIL CHAR(2),
                             @VL_DEBITO NUMERIC(15,2),  
                             @VL_CREDITO NUMERIC(15,2)   )AS

IF @VL_DEBITO <> @VL_CREDITO
   INSERT INTO  TLOG_CONTABILIZACAO (DT_LANCTO, CHAVE, CD_MOD_CONTABIL, VL_DEBITO, VL_CREDITO )
       VALUES (@DT_LANCTO, @CHAVE, @CD_MOD_CONTABIL, @VL_DEBITO, @VL_CREDITO)

GO
