USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_atz_nac] AS

SET XACT_ABORT ON
BEGIN TRAN

DECLARE @mensagem  varchar(5000)
DECLARE @assunto varchar(100)
DECLARE @destino varchar(5000)
DECLARE @cabecalho varchar(50)

SELECT GETDATE() DT_INICIO

SELECT @mensagem = 'Fase 1 concluida com sucesso - Start do JOB'
SELECT @assunto = 'Fase 1 concluida as ' + CONVERT( varchar, DATEPART( hh, GETDATE() ) ) + ':' +
		                           CONVERT( varchar, DATEPART( mi, GETDATE() ) ) + ':' +
			                   CONVERT( varchar, DATEPART( ss, GETDATE() ) )
SELECT @destino = 'leandro@stipanich.com.br;lestipa@bol.com.br'
EXEC master.dbo.xp_sendmail @destino, 
     @subject = @assunto,
     @message = @mensagem

DELETE TNAC

DELETE TNAC_ITEM

DELETE TNAC_RET_MERC

SELECT @mensagem = 'Fase 2 concluida com sucesso - Exclusao de Processos'
SELECT @assunto = 'Fase 2 concluida as ' + CONVERT( varchar, DATEPART( hh, GETDATE() ) ) + ':' +
		                           CONVERT( varchar, DATEPART( mi, GETDATE() ) ) + ':' +
			                   CONVERT( varchar, DATEPART( ss, GETDATE() ) )
SELECT @destino = 'leandro@stipanich.com.br;lestipa@bol.com.br'
EXEC master.dbo.xp_sendmail @destino, 
     @subject = @assunto,
     @message = @mensagem

DECLARE @nr_processoNAC     char(18)
DECLARE @compradorNAC       char(50)
DECLARE @externaNAC         char(3)
DECLARE @exportacaoNAC      char(3)
DECLARE @impdiretaNAC       char(2)
DECLARE @moedaNAC           char(20)
DECLARE @nr_processo_nacNAC int
DECLARE @dtvendaNAC         datetime
DECLARE @nr_diNAC           char(10)
DECLARE @dt_diNAC           datetime
DECLARE @dt_calculoNAC      datetime
DECLARE @codmoedaNAC        char(3)
DECLARE @codcompradorNAC    char(5)
DECLARE @codprocessoNAC     char(18)
DECLARE @nacexternaNAC      char(1)
DECLARE @inexportacaoNAC    char(1)
DECLARE @inimpdiretaNAC     char(1)
DECLARE @vl_mld_dolarNAC    float
DECLARE @valorvendatotalNAC float
DECLARE @lotesitemNAC       int
DECLARE @volumesNAC         int
DECLARE @plnacNAC           float
DECLARE @registroNAC        int
DECLARE @kolliNAC           int
DECLARE @loteNAC            char(12)
DECLARE @pesoliqNAC         float
DECLARE @refNAC             numeric(12)
DECLARE @codclienteNAC      varchar(15)
DECLARE @mercadoriaNAC      varchar(30)
DECLARE @tx_mleNAC          float
DECLARE @tx_dolarNAC        float
DECLARE @nr_processo_daNAC  char(18)
DECLARE @codprodutoNAC      int
DECLARE @volumestotNAC      int
DECLARE @plnactotNAC        float
DECLARE @itemNAC            int
DECLARE @dataNAC            datetime
DECLARE @pesoNAC            float
DECLARE @pesototalNAC       float 
DECLARE @qt_retNAC          float

-- Cursor na Tabela E05NAC
  SELECT E05REGINDAIA
  FROM   indaia.dbo.E05NAC
  WHERE  ( ISNULL(E05REGINDAIA, '') <> '') AND 
         ( LEN(E05REGINDAIA) > 9 ) 
--AND       SUBSTRING( E05REGINDAIA, 1, 2 ) IN ( 'RA', 'RM', 'RR' )
  ORDER BY E05REGINDAIA

DECLARE c_migra_nac CURSOR FOR
  SELECT E05REGINDAIA, E05COMPRADOR, E05EXTERNA, E05EXPORTACAO, E05IMPDIRETA, E05MOEDA, E05DATAVENDA, E05RECNUM
  FROM   indaia.dbo.E05NAC
  WHERE  ( ISNULL(E05REGINDAIA, '') <> '') AND 
         ( LEN(E05REGINDAIA) > 9 ) 
--AND       SUBSTRING( E05REGINDAIA, 1, 2 ) IN ( 'RA', 'RM', 'RR' )
  ORDER BY E05REGINDAIA

OPEN c_migra_nac
FETCH c_migra_nac INTO @nr_processoNAC, @compradorNAC, @externaNAC, @exportacaoNAC, @impdiretaNAC, @moedaNAC, @dtvendaNAC, @nr_processo_nacNAC
WHILE @@fetch_status = 0
BEGIN
  SELECT 'Processo Nac: ' + @nr_processoNAC

  -- Nº do Processo
  IF SUBSTRING( @nr_processoNAC, 1, 1) = 'F' OR SUBSTRING( @nr_processoNAC, 1, 1) = 'I' 
    SELECT @codprocessoNAC = '0101' + RTRIM( LTRIM( @nr_processoNAC ) )
  IF SUBSTRING( @nr_processoNAC, 1, 1) = 'E' OR SUBSTRING( @nr_processoNAC, 1, 1) = 'R' 
    SELECT @codprocessoNAC = '0102' + RTRIM( LTRIM( @nr_processoNAC ) )

  -- Nr DI, Dt DI, Dt Calculo
  SELECT @nr_diNAC = ''
  SELECT @dt_diNAC = ''
  SELECT @dt_calculoNAC = ''

  SELECT @nr_diNAC = NR_DECLARACAO_IMP, @dt_diNAC = DT_DI, @dt_calculoNAC = DT_CALCULO
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @codprocessoNAC

  -- Cód Moeda
  SELECT @codmoedaNAC = '000'
  IF SUBSTRING(@moedaNAC, 1, 1) = 'D'
    SELECT @codmoedaNAC = '220'
  IF SUBSTRING(@moedaNAC, 1, 1) = 'M'
    SELECT @codmoedaNAC = '610'
  IF SUBSTRING(@moedaNAC, 1, 1) = 'E'
    SELECT @codmoedaNAC = '978'

  -- Comprador
  SELECT @codcompradorNAC = '00000'

  -- Nac Externa
  SELECT @nacexternaNAC = '0'
  IF SUBSTRING( @externaNAC, 1, 1 ) = 'S'
    SELECT @nacexternaNAC = '1'
     
  -- Exportação ( Redestinação )
  SELECT @inexportacaoNAC = '0'
  IF SUBSTRING( @exportacaoNAC, 1, 1 ) = 'S'
    SELECT @inexportacaoNAC = '1'

  -- Imp. Direta
  SELECT @inimpdiretaNAC = '0'
  IF ISNULL( @impdiretaNAC, '' ) = ''
    SELECT @inimpdiretaNAC = '1'
    
  -- VL_MLD_DOLAR
  SELECT @vl_mld_dolarNAC = 0
  SELECT @vl_mld_dolarNAC = VL_CIF_DOLAR
  FROM   TPROCESSO
  WHERE  NR_PROCESSO = @codprocessoNAC

  -- GRAVA TNAC
  IF NOT EXISTS( SELECT NR_PROCESSO FROM TNAC WHERE NR_PROCESSO = @codprocessoNAC ) 
  BEGIN
    SELECT @valorvendatotalNAC = SUM(E05VALORVENDA) 
    FROM   indaia.dbo.E05NAC 
    WHERE  E05REGINDAIA = @nr_processoNAC 

    INSERT TNAC
    VALUES ( @codprocessoNAC, @codcompradorNAC, @nacexternaNAC, @inexportacaoNAC, @inimpdiretaNAC, @codmoedaNAC, 
           @valorvendatotalNAC, @nr_diNAC, @dt_diNAC, 0, 0, @vl_mld_dolarNAC, @dt_calculoNAC, '', @dtvendaNAC )
  END
  -- Cursor na Tabela E06ITNAC
  DECLARE c_migra_item CURSOR FOR 
    SELECT E06RECNUM, E06LOTE, E06VOLUMES, E06PESO
    FROM   indaia.dbo.E06ITNAC
    WHERE  E06NAC = @nr_processo_nacNAC

  OPEN c_migra_item
  FETCH c_migra_item INTO @itemNAC, @lotesitemNAC, @volumesNAC, @plnacNAC
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @registroNAC = E04REGISTRO, @kolliNAC = E04KOLLI, @loteNAC = E04NUM, @pesoliqNAC = E04PESOLIQVOL
    FROM   indaia.dbo.E04LOTES
    WHERE  E04RECNUM = @lotesitemNAC 

    -- Processo DA
    SELECT @nr_processo_daNAC = E02REGISTRO
    FROM   indaia.dbo.E02REGS
    WHERE  E02RECNUM = @registroNAC

    -- Referência
    SELECT @refNAC = 0
    SELECT @refNAC = E03CODIGO
    FROM   indaia.dbo.E03KOLLI
    WHERE  E03RECNUM = @kolliNAC
    
    -- Mercadoria
    SELECT @codprodutoNAC = 0
    SELECT @codclienteNAC = ''
    SELECT @mercadoriaNAC = ''
    
    SELECT @codprodutoNAC = ISNULL(E03PRODUTO, 0)
    FROM   indaia.dbo.E03KOLLI
    WHERE  E03RECNUM = @kolliNAC 

    SELECT @codclienteNAC = E01CODCLIENTE
    FROM   indaia.dbo.E01PRODS
    WHERE  E01RECNUM = @codprodutoNAC

    SELECT @mercadoriaNAC = CD_MERCADORIA
    FROM   TMERCADORIA
    WHERE  CD_MATERIAL = @codclienteNAC

    -- Tx MLE, Tx Dolar
    SELECT @tx_mleNAC = TX_MLE, @tx_dolarNAC = TX_DOLAR
    FROM   TDECLARACAO_IMPORTACAO
    WHERE  NR_PROCESSO = @nr_processoNAC

    -- GRAVA TNAC_ITEM
    IF NOT EXISTS ( SELECT NR_PROCESSO FROM TNAC_ITEM WHERE NR_PROCESSO = @codprocessoNAC AND NR_PROCESSO_DA = @nr_processo_daNAC AND NR_REF = @refNAC AND CD_MERCADORIA = @mercadoriaNAC AND NR_LOTE = @loteNAC )
    BEGIN
      SELECT @volumestotNAC = SUM(E06VOLUMES), @plnactotNAC = SUM(E06PESO)
      FROM   indaia.dbo.E06ITNAC
      WHERE  E06LOTE = @lotesitemNAC AND
             E06NAC = @nr_processo_nacNAC

      INSERT TNAC_ITEM( NR_PROCESSO, NR_PROCESSO_DA, NR_REF, CD_MERCADORIA, NR_LOTE,      
                        QT_NAC, VL_MLE_MNEG, CD_MOEDA_MLE, CD_MOEDA_FRETE, PL_NAC,
                        VL_MLD_MNEG, VL_MLE_DOLAR, VL_MLD_DOLAR, VL_UNITARIO, TX_MLE, TX_DOLAR,
                        PL_UNIT, VL_FRETE_MNEG, IN_EMBUT_FRT_ITENS, TX_FRETE )
      VALUES ( @codprocessoNAC, @nr_processo_daNAC, CAST( @refNAC AS char(15) ), @mercadoriaNAC, @loteNAC, 
               @volumestotNAC, 0, @codmoedaNAC, 0, @plnactotNAC, 0, 0, 0, 0, @tx_mleNAC, @tx_dolarNAC, 
               @pesoliqNAC, 0, '0', 0 ) 
    END

    -- Cursor na tabela E11RETMERC
    DECLARE c_migra_ret CURSOR FOR
      SELECT E11DATA
      FROM   indaia.dbo.E11RETMERC
      WHERE  E11ITNAC = @itemNAC

    OPEN c_migra_ret
    FETCH c_migra_ret INTO @dataNAC
    WHILE @@fetch_status = 0
    BEGIN
      -- Grava TNAC_RET_MERC
      IF NOT EXISTS ( SELECT NR_PROCESSO 
                      FROM   TNAC_RET_MERC 
                      WHERE  NR_PROCESSO = @codprocessoNAC AND 
                             NR_PROCESSO_DA = @nr_processo_daNAC AND 
                             NR_REF = @refNAC AND 
                             CD_MERCADORIA = @mercadoriaNAC AND 
                             NR_LOTE = @loteNAC AND
                             DT_RET = @dataNAC )
      BEGIN
        SELECT @pesototalNAC = SUM(E11PESO)
        FROM   indaia.dbo.E11RETMERC
        WHERE  E11ITNAC = @itemNAC

        SELECT @qt_retNAC = ROUND( @pesototalNAC/@pesoliqNAC, 0 ) 

        INSERT TNAC_RET_MERC
        VALUES ( @codprocessoNAC, @nr_processo_daNAC, @refNAC, @mercadoriaNAC, @loteNAC, @dataNAC, @qt_retNAC, @pesototalNAC )

      END
  
      FETCH c_migra_ret INTO @dataNAC
    END    
    CLOSE c_migra_ret
    DEALLOCATE c_migra_ret

    FETCH c_migra_item INTO @itemNAC, @lotesitemNAC, @volumesNAC, @plnacNAC
  END
  CLOSE c_migra_item
  DEALLOCATE c_migra_item

  FETCH c_migra_nac INTO @nr_processoNAC, @compradorNAC, @externaNAC, @exportacaoNAC, @impdiretaNAC, @moedaNAC, @dtvendaNAC, @nr_processo_nacNAC
END
CLOSE c_migra_nac
DEALLOCATE c_migra_nac

SELECT @mensagem = 'Fase 3 concluida com sucesso - Final do processo'
SELECT @assunto = 'Fase 3 concluida as ' + CONVERT( varchar, DATEPART( hh, GETDATE() ) ) + ':' +
		                           CONVERT( varchar, DATEPART( mi, GETDATE() ) ) + ':' +
			                   CONVERT( varchar, DATEPART( ss, GETDATE() ) )
SELECT @destino = 'leandro@stipanich.com.br;lestipa@bol.com.br'
EXEC master.dbo.xp_sendmail @destino, 
     @subject = @assunto,
     @message = @mensagem

SELECT GETDATE() DT_FIM

COMMIT TRAN
SET XACT_ABORT ON

SET QUOTED_IDENTIFIER OFF 


GO
