USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [sp_contabiliza_si] ( @cd_unid_neg char(2), @dt_inicio datetime, @dt_fim datetime, @tp_contab char(1), @cd_usuario char(4)/*, @nr_cont char(4)*/ ) AS

/*  
SET XACT_ABORT ON  
BEGIN TRAN  

DECLARE @cd_unid_neg char(2)  
DECLARE @dt_inicio datetime  
DECLARE @dt_fim datetime  
DECLARE @tp_contab char(1)  
DECLARE @cd_usuario char(4)  
DECLARE @nr_cont char(4)   
  
SELECT @cd_unid_neg = '01'  
SELECT @dt_inicio = CONVERT( datetime, '01/04/2009', 103 )  
SELECT @dt_fim = CONVERT( datetime, '30/04/2009', 103 )  
SELECT @tp_contab = 'C'  
SELECT @cd_usuario = '1630'  
*/
  
-- Variáveis nova versão  
DECLARE @cd_coligada     char(2)  
DECLARE @cd_produto      char(2)  
DECLARE @dt_movimento    datetime  
DECLARE @nr_lanc_caixa   char(5)  
DECLARE @tp_lancamento   char(1)  
DECLARE @in_cancelado    char(1)  
DECLARE @in_restitui    char(1)  
DECLARE @nm_historico    varchar(190)  
DECLARE @vl_lancamento   numeric(14,2)  
DECLARE @tp_pagamento    char(1)  
DECLARE @tp_natureza     char(1)  
DECLARE @tp_procedencia  char(1)  
DECLARE @cd_banco    char(3)  
DECLARE @nr_cheque    char(6)  
DECLARE @cd_ct_contabil  char(12)  
DECLARE @cd_ct_outros    char(12)  
DECLARE @nr_processo    char(18)  
DECLARE @cd_item     char(3)  
DECLARE @nr_lancamento   char(5)  
DECLARE @cd_ct_deb    char(12)  
DECLARE @cd_ct_cre    char(12)  
DECLARE @cd_ct_item    char(12)  
DECLARE @cd_filial    char(3)  
DECLARE @nm_favorecido   varchar(50)  
DECLARE @nm_apelido_item char(10)  
DECLARE @vl_tot_cre      float  
DECLARE @vl_tot_deb      float  
DECLARE @cd_simbologia   char(2)  
DECLARE @cd_cliente      char(5)  
DECLARE @vl_liquidacao   numeric(14,2)  
DECLARE @cd_ct_custo     char(4)  
DECLARE @CODIGO_CTAAPAGAR_LANC int
DECLARE @vL_rateado	 float
DECLARE @cd_ct_custo_rateio char(12)
DECLARE @FlagRateio	char(1)
DECLARE @IN_LANC_PROVISIONADO char(1)
DECLARE @NR_CTAAPAGAR   char(3)
DECLARE @cd_forma_pagto char(1)
DECLARE @nr_cont char(4)

  
SELECT @nr_cont = SUBSTRING( CONVERT( char(10), @dt_inicio, 103 ), 1, 2 ) +  
                  SUBSTRING( CONVERT( char(10), @dt_inicio, 103 ), 4, 2 ) 
SELECT @nr_lancamento = '00000'  
  
SELECT @vl_tot_cre = 0   
SELECT @vl_tot_deb = 0   
  
--INSERT TCONTABILIZACAO_SI  
--VALUES ( @nr_cont, @dt_inicio, @cd_usuario, @tp_contab, @cd_unid_neg, '', 0, 0, 0, 0 )  
  
SELECT @cd_filial = CD_FILIAL  
FROM   TUNID_NEG (NOLOCK)  
WHERE  CD_UNID_NEG = @cd_unid_neg  

set @cd_filial=@cd_unid_neg


-- Numerários, Devoluções de Numerário, Recebto Saldo, Pagto Saldo  
DECLARE @cd_item_receb_num char(3)  
DECLARE @cd_item_extor_num char(3)  
DECLARE @cd_item_devol_num char(3)  
DECLARE @cd_item_receb_sd char(3)  
DECLARE @cd_item_ext_receb char(3)  
DECLARE @cd_item_pagto_sd char(3)  
DECLARE @cd_item_ext_pagto char(3)  
  
SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM,  
       @cd_item_extor_num = CD_ITEM_EXTOR_NUM,  
       @cd_item_devol_num = CD_ITEM_DEVOL_NUM,  
       @cd_item_receb_sd  = CD_ITEM_RECEB_SD,  
       @cd_item_ext_receb = CD_ITEM_EXT_RECEB,  
       @cd_item_pagto_sd  = CD_ITEM_PAGTO_SD,  
       @cd_item_ext_pagto = CD_ITEM_EXT_PAGTO  
FROM   TPARAMETROS (NOLOCK)
  
--(1)***********************************************************************************************************************  
-- Cheques/TED Adm  
-- Lançamentos ( Conta Contábil contra Ch. Pagtos. Div. )  
DECLARE c_ch_adm_lanc CURSOR FOR  
  SELECT C.DT_MOVIMENTO, C.NM_HISTORICO, SUM( ISNULL( C.VL_LANCAMENTO, 0 ) ) VL_LANCAMENTO,   
         C.CD_BANCO, C.NR_CHEQUE, C.CD_CT_CONTABIL, C.IN_RESTITUI, SUBSTRING( F.NM_FAVORECIDO, 1, 35) NM_FAVORECIDO, C.TP_PAGAMENTO,  
         right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO, ISNULL(C.CODIGO_CTAAPAGAR_LANC,0) CODIGO_CTAAPAGAR_LANC, C.NR_CTAAPAGAR
  FROM   TCAIXA C (NOLOCK), TFAVORECIDO F (NOLOCK), TCT_CONTABIL T (NOLOCK)  
  WHERE  C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.CD_CT_CONTABIL = T.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = T.ANO_CONTA AND
         T.IN_CONTABILIZA = '1' AND  
         C.IN_CONTABILIZA = '1' AND  
--         C.DT_MOVIMENTO BETWEEN '01/01/2008' AND '31/01/2008' AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
         C.IN_CANCELADO = '0' AND  
--	 C.CD_UNID_NEG  = '01' AND
         C.CD_UNID_NEG = @CD_UNID_NEG AND  
         C.TP_PAGAMENTO IN ( 'C', 'T' )  AND -- Cheque/TED  
         C.TP_LANCAMENTO = 'C' AND -- Contábil (Adm)  
         C.TP_PROCEDENCIA = '2' AND -- Adm  
         ISNULL( C.NR_CHEQUE, '' ) <> '' AND  
         ISNULL( C.CD_BANCO, '' ) <> '018'   
  GROUP BY C.DT_MOVIMENTO, C.NM_HISTORICO, C.CD_BANCO, C.NR_CHEQUE, C.CD_CT_CONTABIL, C.IN_RESTITUI, F.NM_FAVORECIDO, 
C.TP_PAGAMENTO, C.CD_CT_CUSTO, C.CODIGO_CTAAPAGAR_LANC, C.NR_CTAAPAGAR
OPEN c_ch_adm_lanc  
FETCH c_ch_adm_lanc INTO   
     @dt_movimento, @nm_historico, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @in_restitui, @nm_favorecido, @tp_pagamento, @cd_ct_custo, 
@CODIGO_CTAAPAGAR_LANC, @NR_CTAAPAGAR
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @FlagRateio = '0'
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  IF @in_restitui = '0'   
  BEGIN  
    SELECT @cd_ct_deb = @cd_ct_contabil  

    SELECT @cd_ct_cre = CD_CT_CH_PAGTOS_DIV   
    FROM   TPARAMETROS (NOLOCK)  
    SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  END   
  ELSE   
  BEGIN  
    SELECT @cd_ct_deb = CD_CT_CH_PAGTOS_DIV   
    FROM   TPARAMETROS (NOLOCK)  
    SELECT @cd_ct_cre = @cd_ct_contabil  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END  
  
  IF @tp_pagamento = 'T'      
    SELECT @cd_simbologia = 'TD'  
  ELSE  
     SELECT @cd_simbologia = 'CH'  
  
--verifica se o lançamento é PROVISIONADO, caso NÃO seja então fazer o rateio 
  select @IN_LANC_PROVISIONADO = IN_LANC_PROVISIONADO  from TCTAAPAGAR 
  where DT_CTAAPAGAR = (select DT_CTAAPAGAR from TCTAAPAGAR_LANC where CODIGO = @CODIGO_CTAAPAGAR_LANC ) and 
	NR_CTAAPAGAR = @NR_CTAAPAGAR and 
	CD_UNID_NEG = @cd_unid_neg


--  select @IN_LANC_PROVISIONADO = IN_LANC_PROVISIONADO  from TCTAAPAGAR 
--  where DT_CTAAPAGAR = @dt_movimento and NR_CTAAPAGAR = @NR_CTAAPAGAR and CD_UNID_NEG = @cd_unid_neg



  if @IN_LANC_PROVISIONADO = 0  --provisionado = NÃO
  begin
    if @CODIGO_CTAAPAGAR_LANC <> 0
    begin
      DECLARE c_Rateio CURSOR FOR
    	select
      	  substring ( A.CD_CT_CONTABIL, 1,5) +
          LEFT(replace(b.CD_CT_CUSTO,'.','') + '000',3) +
          substring ( A.CD_CT_CONTABIL, 9,5) CD_CT_CONTABIL,
      	  B.VALOR_RATEIO
    	from
      	  TCTAAPAGAR_LANC A, TCTAAPAGAR_RATEIO B
        where
      	  A.CODIGO = @CODIGO_CTAAPAGAR_LANC and 
          B.CODIGO = A.CODIGO

      OPEN c_Rateio  
      FETCH c_Rateio INTO   
        @cd_ct_custo_rateio, @vl_rateado

      WHILE @@fetch_status = 0  
      BEGIN  
        select @FlagRateio = '1'

        INSERT TCONTABILIZACAO_LANC_SI  
        ( NR_CONTAB, NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO, NM_HISTORICO, CD_FILIAL, 
NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO )
        VALUES 
         ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
         @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_custo_rateio, @cd_ct_cre, @vL_rateado, @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 
), @cd_simbologia, @cd_ct_custo )  


        FETCH C_RATEIO INTO   
        @cd_ct_custo_rateio, @vL_rateado     
      END
      CLOSE C_RATEIO  
      DEALLOCATE C_RATEIO
    end
  end

  if @FlagRateio = '0'  --se não houve o rateio, então fazer a inserção normal
  begin
     print 'sem rateio'
	INSERT TCONTABILIZACAO_LANC_SI  
	 ( NR_CONTAB,  
	   NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
	   NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO )  
	VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
	   @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
	   @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )  
  end  

  FETCH c_ch_adm_lanc INTO   
     @dt_movimento, @nm_historico, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @in_restitui, @nm_favorecido, @tp_pagamento, @cd_ct_custo, 
@CODIGO_CTAAPAGAR_LANC, @NR_CTAAPAGAR  
END  
CLOSE c_ch_adm_lanc  
DEALLOCATE c_ch_adm_lanc  
  
--(2)***********************************************************************************************************************  
--Total dos Cheques ( Ch. Pagtos. Div. contra Bco )  
DECLARE c_ch_adm_tot CURSOR FOR  
  SELECT MAX( C.DT_MOVIMENTO ), 'Pagamentos Diversos' NM_HISTORICO, SUM( ISNULL( C.VL_LANCAMENTO, 0 ) ) VL_LANCAMENTO,   
         C.CD_BANCO, C.NR_CHEQUE, C.IN_RESTITUI, MAX( SUBSTRING( F.NM_FAVORECIDO, 1, 35 ) ) NM_FAVORECIDO, C.TP_PAGAMENTO,  
         right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO, C.CODIGO_CTAAPAGAR_LANC, C.NR_CTAAPAGAR
  FROM   TCAIXA C (NOLOCK), TFAVORECIDO F (NOLOCK), TCT_CONTABIL T (NOLOCK)  
  WHERE  C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.CD_CT_CONTABIL = T.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = T.ANO_CONTA AND
         T.IN_CONTABILIZA = '1' AND  
         C.IN_CONTABILIZA = '1' AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
	 C.CD_UNID_NEG = @CD_UNID_NEG AND  
         C.IN_CANCELADO = '0' AND  
         C.TP_PAGAMENTO IN ( 'C', 'T' ) AND  -- Cheque/TED  
         C.TP_LANCAMENTO = 'C' AND  
         C.TP_PROCEDENCIA = '2' AND  
         ISNULL( C.NR_CHEQUE, '' ) <> '' AND  
         ISNULL( C.CD_BANCO, '' ) <> '018'   
  GROUP BY C.CD_BANCO, C.NR_CHEQUE, C.IN_RESTITUI, C.TP_PAGAMENTO, C.CD_CT_CUSTO, C.CODIGO_CTAAPAGAR_LANC, C.NR_CTAAPAGAR
OPEN c_ch_adm_tot  
FETCH c_ch_adm_tot INTO   
  @dt_movimento, @nm_historico, @vl_lancamento, @cd_banco, @nr_cheque, @in_restitui, @nm_favorecido, @tp_pagamento, @cd_ct_custo, 
@CODIGO_CTAAPAGAR_LANC, @NR_CTAAPAGAR
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @FlagRateio = '0'
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  --Total dos Cheques ( Ch. Pagtos. Div. contra Bco )  
  IF @in_restitui = '0'   
  BEGIN  
    SELECT @cd_ct_deb = CD_CT_CH_PAGTOS_DIV   
    FROM   TPARAMETROS (NOLOCK)  
    SELECT @cd_ct_cre = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END  
  ELSE   
  BEGIN  
    SELECT @cd_ct_deb = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    SELECT @cd_ct_cre = CD_CT_CH_PAGTOS_DIV   
    FROM   TPARAMETROS (NOLOCK)  
    SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  END  
  
  IF @tp_pagamento = 'T'  
     SELECT @cd_simbologia = 'TD'  
  ELSE  
     SELECT @cd_simbologia = 'CH'  

  select @IN_LANC_PROVISIONADO = 1  --pagtos diversos - SEM RATEIO

--verifica se o lançamento é PROVISIONADO, caso NÃO seja então fazer o rateio 
/*  select @IN_LANC_PROVISIONADO = IN_LANC_PROVISIONADO  from TCTAAPAGAR 
  where DT_CTAAPAGAR = (select DT_CTAAPAGAR from TCTAAPAGAR_LANC where CODIGO = @CODIGO_CTAAPAGAR_LANC ) and 
	NR_CTAAPAGAR = @NR_CTAAPAGAR and 
	CD_UNID_NEG = @cd_unid_neg */

/*  select @IN_LANC_PROVISIONADO = IN_LANC_PROVISIONADO  from TCTAAPAGAR 
  where DT_CTAAPAGAR = @dt_movimento and NR_CTAAPAGAR = @NR_CTAAPAGAR and CD_UNID_NEG = @cd_unid_neg */


  if @IN_LANC_PROVISIONADO = 0  --provisionado = NÃO
  begin
    if @CODIGO_CTAAPAGAR_LANC <> 0
    begin
      DECLARE c_Rateio CURSOR FOR
        select
          substring ( A.CD_CT_CONTABIL, 1,5) +
          LEFT(replace(b.CD_CT_CUSTO,'.','') + '000',3) +
              substring ( A.CD_CT_CONTABIL, 9,5) CD_CT_CONTABIL,
          B.VALOR_RATEIO
        from
          TCTAAPAGAR_LANC A, TCTAAPAGAR_RATEIO B
        where
          A.CODIGO = @CODIGO_CTAAPAGAR_LANC and
          B.CODIGO = A.CODIGO

      OPEN c_Rateio
      FETCH c_Rateio INTO
        @cd_ct_custo_rateio, @vl_rateado

      WHILE @@fetch_status = 0
      BEGIN
        select @FlagRateio = '1'
        INSERT TCONTABILIZACAO_LANC_SI
               ( NR_CONTAB,
                 NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                 NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )
        VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),
                 @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_custo_rateio, @cd_ct_cre, @vL_rateado,
                 @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )

        FETCH C_RATEIO INTO
        @cd_ct_custo_rateio, @vL_rateado
      END
      CLOSE C_RATEIO
      DEALLOCATE C_RATEIO
    end
  end


  if @FlagRateio = '0'  --se não houve o rateio, então fazer a inserção normal
  begin
    INSERT TCONTABILIZACAO_LANC_SI  
           ( NR_CONTAB,  
             NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
             NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
    VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
             @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
             @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )  
  end

  
  FETCH c_ch_adm_tot INTO   
    @dt_movimento, @nm_historico, @vl_lancamento, @cd_banco, @nr_cheque, @in_restitui, @nm_favorecido, @tp_pagamento, @cd_ct_custo, 
@CODIGO_CTAAPAGAR_LANC, @NR_CTAAPAGAR  
END  
CLOSE c_ch_adm_tot  
DEALLOCATE c_ch_adm_tot  
  
--(3)***********************************************************************************************************************  
-- Movimentos Contábeis - DOC - Dinheiro   
DECLARE c_cont CURSOR FOR  
  SELECT C.DT_MOVIMENTO, C.NM_HISTORICO, SUM( ISNULL( C.VL_LANCAMENTO, 0 ) ) VL_LANCAMENTO,   
         C.CD_BANCO, C.NR_CHEQUE, C.CD_CT_CONTABIL, C.TP_NATUREZA, C.TP_PAGAMENTO, SUBSTRING( F.NM_FAVORECIDO, 1, 35) NM_FAVORECIDO,  
         right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO, C.CODIGO_CTAAPAGAR_LANC, C.NR_CTAAPAGAR
  FROM   TCAIXA C (NOLOCK), TFAVORECIDO F (NOLOCK), TCT_CONTABIL T (NOLOCK)  
  WHERE  C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.CD_CT_CONTABIL = T.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = T.ANO_CONTA AND
         T.IN_CONTABILIZA = '1' AND  
         C.IN_CONTABILIZA = '1' AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
--         C.DT_MOVIMENTO BETWEEN '01/01/2008' AND '31/01/2008' AND  
         C.IN_CANCELADO = '0' AND  
         C.CD_UNID_NEG = @CD_UNID_NEG AND  
         C.TP_PAGAMENTO <> 'C' AND -- Doc/Dinheiro  
         C.TP_LANCAMENTO = 'C' AND -- Contábil   
         C.TP_PROCEDENCIA <> '2' AND -- Não provem de Adm  
         ISNULL( C.CD_BANCO, '' ) <> '018' 
  GROUP BY C.DT_MOVIMENTO, C.NM_HISTORICO, C.CD_BANCO, C.NR_CHEQUE, C.CD_CT_CONTABIL, C.TP_NATUREZA, C.TP_PAGAMENTO, 
F.NM_FAVORECIDO, C.CD_CT_CUSTO, C.CODIGO_CTAAPAGAR_LANC, C.NR_CTAAPAGAR
OPEN c_cont  
FETCH c_cont INTO   
  @dt_movimento, @nm_historico, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @tp_natureza, @tp_pagamento, @nm_favorecido, @cd_ct_custo, 
@CODIGO_CTAAPAGAR_LANC, @NR_CTAAPAGAR
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @FlagRateio = '0'
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  

  IF @tp_natureza = 'D'   
  BEGIN  
    SELECT @cd_simbologia = 'DB'  
    SELECT @cd_ct_deb = @cd_ct_contabil  
    IF @tp_pagamento = '$' -- Dinheiro  
    BEGIN  
      SELECT @cd_ct_cre = CD_CT_CAIXA       FROM   TPARAMETROS (NOLOCK)  
    END  
    ELSE IF @tp_pagamento = 'D'  
    BEGIN  
      SELECT @cd_ct_cre = CD_CT_CONTABIL  
      FROM   TBANCO  
      WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    END 
    ELSE IF @tp_pagamento = 'T'  
    BEGIN  
      SELECT @cd_ct_cre = CD_CT_CONTABIL  
      FROM   TBANCO  
      WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    END      
    SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  END  
  ELSE   
  BEGIN  
    SELECT @cd_simbologia = 'CR'  
    IF @tp_pagamento = '$' -- Dinheiro  
    BEGIN  
      SELECT @cd_ct_deb = CD_CT_CAIXA  
      FROM   TPARAMETROS (NOLOCK)  
    END  
    ELSE IF @tp_pagamento = 'D'  
    BEGIN  
      SELECT @cd_ct_deb = CD_CT_CONTABIL  
      FROM   TBANCO  
      WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    END
    --acrescentado andressa trasnferencias nao pegavam o banco correto
    ELSE IF @tp_pagamento = 'T'  
    BEGIN  
      SELECT @cd_ct_deb = CD_CT_CONTABIL  
      FROM   TBANCO  
      WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    END          
    SELECT @cd_ct_cre = @cd_ct_contabil  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END 

--verifica se o lançamento é PROVISIONADO, caso NÃO seja então fazer o rateio 

  select @IN_LANC_PROVISIONADO = IN_LANC_PROVISIONADO  from TCTAAPAGAR 
  where DT_CTAAPAGAR = (select DT_CTAAPAGAR from TCTAAPAGAR_LANC where CODIGO = @CODIGO_CTAAPAGAR_LANC ) and 
	NR_CTAAPAGAR = @NR_CTAAPAGAR and 
	CD_UNID_NEG = @cd_unid_neg



/*select * from TCTAAPAGAR_LANC where CODIGO = 16138

  select IN_LANC_PROVISIONADO  from TCTAAPAGAR 
  where DT_CTAAPAGAR = (select DT_CTAAPAGAR from TCTAAPAGAR_LANC where CODIGO = 16138 ) and 
	NR_CTAAPAGAR = '017' and 
	CD_UNID_NEG = '01'

*/
--  select IN_LANC_PROVISIONADO  from TCTAAPAGAR 
--  where DT_CTAAPAGAR = '02/01/2008' and NR_CTAAPAGAR = '017' and CD_UNID_NEG = '01'



  if @IN_LANC_PROVISIONADO = 0  --provisionado = NÃO
  begin
    if @CODIGO_CTAAPAGAR_LANC <> 0
    begin

      DECLARE c_Rateio CURSOR FOR
          select
            substring ( A.CD_CT_CONTABIL, 1,5) +
            LEFT(replace(b.CD_CT_CUSTO,'.','') + '000',3) +
            substring ( A.CD_CT_CONTABIL, 9,5) CD_CT_CONTABIL, B.VALOR_RATEIO
          from
            TCTAAPAGAR_LANC A, TCTAAPAGAR_RATEIO B
          where
           A.CODIGO = @CODIGO_CTAAPAGAR_LANC and
           B.CODIGO = A.CODIGO

      OPEN c_Rateio
      FETCH c_Rateio INTO
        @cd_ct_custo_rateio, @vL_rateado

      WHILE @@fetch_status = 0
      BEGIN
        select @FlagRateio = '1'
        INSERT TCONTABILIZACAO_LANC_SI
               ( NR_CONTAB,
                 NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, cd_ct_devEDORA, CD_CT_CREDORA, VL_LANCAMENTO,
                 NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO )
        VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),
                 @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_custo_rateio, @cd_ct_cre, @vL_rateado,
                 @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )


        FETCH C_RATEIO INTO
        @cd_ct_custo_rateio, @vL_rateado
      END
      CLOSE C_RATEIO
      DEALLOCATE C_RATEIO
    end
  end

  if @FlagRateio = '0'  --se não houve o rateio, então fazer a inserção normal
  begin
       INSERT TCONTABILIZACAO_LANC_SI  
	     ( NR_CONTAB,  
	       NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, cd_ct_devEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
	       NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO )  
       VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
               @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
	       @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )  
  end
  
  FETCH c_cont INTO   
    @dt_movimento, @nm_historico, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @tp_natureza, @tp_pagamento, @nm_favorecido, @cd_ct_custo, 
@CODIGO_CTAAPAGAR_LANC, @NR_CTAAPAGAR 
END  
CLOSE c_cont  
DEALLOCATE c_cont  
  
--(4)******************************************************************************************************************  
-- Cheques/TED Operacionais  
-- Lançamentos ( Conta Contábil do item contra Ch. Pagtos. Div. )  
DECLARE c_ch_oper_lanc CURSOR FOR  
  SELECT C.DT_MOVIMENTO, SUM( ISNULL( C.VL_LANCAMENTO, 0 ) ) VL_LANCAMENTO, C.CD_BANCO, C.NR_CHEQUE, I.CD_CT_CONTABIL,   
         C.IN_RESTITUI, SUBSTRING( F.NM_FAVORECIDO, 1, 35 ) NM_FAVORECIDO, LTRIM( RTRIM( I.NM_APELIDO ) ) NM_ITEM, C.NR_PROCESSO, 
C.TP_PAGAMENTO,  
         right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO
  FROM   TCAIXA C (NOLOCK), TITEM I (NOLOCK), TFAVORECIDO F (NOLOCK)  
  WHERE  C.CD_ITEM = I.CD_ITEM AND  
         C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
         C.IN_CANCELADO = '0' AND  
         C.IN_CONTABILIZA = '1' AND  
         C.CD_UNID_NEG = @cd_unid_neg AND  
         C.TP_PAGAMENTO IN ( 'C', 'T' ) AND -- Cheque/TED  
         C.TP_LANCAMENTO = 'F' AND -- Faturamento  
         C.TP_PROCEDENCIA <> '2' AND -- Todos menos Adm  
         ISNULL( C.CD_BANCO, '' ) <> '018' AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS (NOLOCK) )  AND
         C.CD_ITEM NOT IN ( @cd_item_receb_sd, @cd_item_ext_receb)
  GROUP BY C.DT_MOVIMENTO, C.NR_PROCESSO, C.NM_HISTORICO, C.CD_BANCO, C.NR_CHEQUE, I.CD_CT_CONTABIL, C.CD_ITEM, C.IN_RESTITUI, 
F.NM_FAVORECIDO, I.NM_APELIDO, C.TP_PAGAMENTO, C.CD_CT_CUSTO  
  
OPEN c_ch_oper_lanc  
FETCH c_ch_oper_lanc INTO   
  @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @in_restitui, @nm_favorecido, @nm_apelido_item, @nr_processo, @tp_pagamento, 
@cd_ct_custo  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  IF @in_restitui = '0'   
  BEGIN  
    SELECT @cd_ct_deb = @cd_ct_contabil  
    SELECT @cd_ct_cre = CD_CT_CH_PAGTOS_DIV   
    FROM   TPARAMETROS (NOLOCK)  
    SELECT @nm_historico = LTRIM( RTRIM( @nm_apelido_item ) ) + ' - Proc: ' + @nr_processo  --andré
    SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  END  
  ELSE   
  BEGIN  
    SELECT @cd_ct_deb = CD_CT_CH_PAGTOS_DIV   
    FROM   TPARAMETROS (NOLOCK)  
    SELECT @cd_ct_cre = @cd_ct_contabil  
    SELECT @nm_historico = 'Estorno - ' + LTRIM( RTRIM( @nm_apelido_item ) ) + ' - Proc: ' + @nr_processo  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END  
  
  IF @tp_pagamento = 'T'  
     SELECT @cd_simbologia = 'TD'  
  ELSE  
     SELECT @cd_simbologia = 'CH'  
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )  
  
  FETCH c_ch_oper_lanc INTO   
    @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @in_restitui, @nm_favorecido, @nm_apelido_item, @nr_processo, @tp_pagamento, 
@cd_ct_custo  
END  
CLOSE c_ch_oper_lanc  
DEALLOCATE c_ch_oper_lanc  
  
--(5)******************************************************************************************************************  
--Total dos Cheques ( Ch. Pagtos. Div. contra Bco )  
DECLARE c_ch_oper_tot CURSOR FOR  
  SELECT MAX( C.DT_MOVIMENTO ), SUM( ISNULL( C.VL_LANCAMENTO, 0 ) ) VL_LANCAMENTO, C.CD_BANCO, C.NR_CHEQUE,   
         C.IN_RESTITUI, MAX( SUBSTRING( F.NM_FAVORECIDO, 1, 35 ) ) NM_FAVORECIDO, C.TP_PAGAMENTO,  
         right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO
  FROM   TCAIXA C (NOLOCK), TITEM I (NOLOCK), TFAVORECIDO F (NOLOCK)  
  WHERE  C.CD_ITEM = I.CD_ITEM AND  
         C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
         C.IN_CANCELADO = '0' AND  
         C.IN_CONTABILIZA = '1' AND  
  
         C.CD_UNID_NEG = @cd_unid_neg AND  
         C.TP_PAGAMENTO IN ( 'C', 'T' ) AND -- Cheque/TED  
         C.TP_LANCAMENTO = 'F' AND -- Faturamento  
         C.TP_PROCEDENCIA <> '2' AND -- Todos menos Adm  
         ISNULL( C.CD_BANCO, '' ) <> '018' AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS (NOLOCK) ) AND
         C.CD_ITEM NOT IN ( @cd_item_receb_sd, @cd_item_ext_receb) 
  GROUP BY C.CD_BANCO, C.NR_CHEQUE, C.IN_RESTITUI, C.TP_PAGAMENTO, C.CD_CT_CUSTO  
  
OPEN c_ch_oper_tot  
FETCH c_ch_oper_tot INTO   
  @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @in_restitui, @nm_favorecido, @tp_pagamento, @cd_ct_custo  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  IF @in_restitui = '0'   
  BEGIN  
    SELECT @cd_ct_deb = CD_CT_CH_PAGTOS_DIV   
    FROM   TPARAMETROS (NOLOCK)  
    SELECT @cd_ct_cre = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END  
  ELSE   
  BEGIN  
    SELECT @cd_ct_deb = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    SELECT @cd_ct_cre = CD_CT_CH_PAGTOS_DIV   
    FROM   TPARAMETROS (NOLOCK)  
    SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  END  
    
  SELECT @nm_historico = ''  
  
  DECLARE c_item CURSOR FOR  
    SELECT DISTINCT ISNULL( LTRIM( RTRIM( I.NM_APELIDO ) ) , '' )  
    FROM   TCAIXA C, TITEM I (NOLOCK)  
    WHERE  C.CD_ITEM *= I.CD_ITEM AND  
           NR_CHEQUE = @nr_cheque  
  OPEN c_item   
  FETCH c_item INTO @nm_apelido_item  
  WHILE @@fetch_status = 0  
  BEGIN  
    IF @nm_apelido_item <> ''  
    BEGIN  
       SELECT @nm_historico = LTRIM( RTRIM( @nm_historico ) ) + ( LTRIM( RTRIM( ISNULL( @nm_apelido_item, '' ) ) ) + '/' )  
    END  
    FETCH c_item INTO @nm_apelido_item  
  END  
  CLOSE c_item  
  DEALLOCATE c_item  
  
  IF LEN( LTRIM( RTRIM( @nm_historico ) ) ) > 0   
     SELECT @nm_historico = SUBSTRING( @nm_historico, 1, ( LEN( LTRIM( RTRIM( @nm_historico ) ) ) - 1 ) )  
  
  IF @tp_pagamento = 'T'  
     SELECT @cd_simbologia = 'TD'  
  ELSE  
     SELECT @cd_simbologia = 'CH'  
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,   
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )  
  
  FETCH c_ch_oper_tot INTO   
    @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @in_restitui, @nm_favorecido, @tp_pagamento, @cd_ct_custo  
END  
CLOSE c_ch_oper_tot  
DEALLOCATE c_ch_oper_tot  
  
--(6)******************************************************************************************************************  
-- Dinheiro (com exceção a liquidações) / L&P / PisCofins / IRRF / Outros - Operacionais  
-- Lançamentos ( Conta Contábil do item contra Caixa / L&P / Contra Partida )  
--CAPRA
DECLARE c_din_lp_oper CURSOR FOR  
  SELECT C.DT_MOVIMENTO, SUM( ISNULL( C.VL_LANCAMENTO, 0 ) ) VL_LANCAMENTO, C.CD_BANCO, C.NR_CHEQUE, I.CD_CT_CONTABIL,   
         C.IN_RESTITUI, SUBSTRING( F.NM_FAVORECIDO, 1, 35 ) NM_FAVORECIDO, LTRIM( RTRIM( I.NM_APELIDO ) ) NM_ITEM, C.NR_PROCESSO,   
         C.TP_PAGAMENTO, ISNULL( C.CD_CT_CONTABIL, '' ) CD_CT_CONTABIL, 
	 right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO, ISNULL(C.CODIGO_CTAAPAGAR_LANC,0) CODIGO_CTAAPAGAR_LANC
  FROM   TCAIXA C (NOLOCK), TITEM I (NOLOCK), TFAVORECIDO F (NOLOCK)  
  WHERE  C.CD_ITEM = I.CD_ITEM AND  
         C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
--         C.DT_MOVIMENTO BETWEEN '02/01/2008' AND '02/01/2008' AND  
         C.IN_CANCELADO = '0' AND  
         C.IN_CONTABILIZA = '1' AND  
--         C.CD_UNID_NEG    = '01' AND  
         C.CD_UNID_NEG    = @CD_UNID_NEG AND  
         C.TP_PAGAMENTO IN ( '$', 'L', 'O', 'P', 'I' ) AND -- Dinheiro, L&P, PisCofins, IRRF ou Outros  
         C.TP_LANCAMENTO = 'F' AND -- Faturamento  
         C.TP_PROCEDENCIA <> '2' AND  
         ISNULL( C.CD_BANCO, '' ) <> '018' AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS (NOLOCK) )    
   GROUP BY C.DT_MOVIMENTO, C.NR_PROCESSO, C.NM_HISTORICO, C.CD_BANCO, C.NR_CHEQUE, I.CD_CT_CONTABIL, C.CD_ITEM, C.IN_RESTITUI, 
F.NM_FAVORECIDO, I.NM_APELIDO, C.TP_PAGAMENTO, ISNULL( C.CD_CT_CONTABIL, '' ), C.CD_CT_CUSTO  , C.CODIGO_CTAAPAGAR_LANC
OPEN c_din_lp_oper  
FETCH c_din_lp_oper INTO   				--item											
	--caixa conta contabil
  @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @in_restitui, @nm_favorecido, @nm_apelido_item, @nr_processo, @tp_pagamento, 
@cd_ct_outros, @cd_ct_custo, @CODIGO_CTAAPAGAR_LANC
  
WHILE @@fetch_status = 0  
BEGIN  
  select @FlagRateio = '0'

  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  IF @in_restitui = '0'   
  BEGIN  
    SELECT @cd_simbologia = 'DB'  
    SELECT @cd_ct_deb = @cd_ct_contabil  
    IF @tp_pagamento = '$' -- Dinheiro  
    BEGIN  
      SELECT @cd_ct_cre = CD_CT_CAIXA       FROM   TPARAMETROS (NOLOCK)  
    END  
    ELSE IF @tp_pagamento = 'L' -- L&P  
    BEGIN  
      SELECT @cd_ct_cre = CD_CT_LP_SALDUS       FROM   TPARAMETROS (NOLOCK)  
    END      
    ELSE IF @tp_pagamento = 'O' -- Outros  
    BEGIN  
      SELECT @cd_ct_cre = @cd_ct_outros     
--      SELECT @CODIGO_CTAAPAGAR_LANC = 0   --SE for OUTROS, então não tem RATEIO
--      SELECT @FlagRateio = '0'
    END      
    ELSE 
	BEGIN  
	  IF @tp_pagamento = 'P' -- PisCofins  
      BEGIN  
        SELECT @cd_ct_cre = E.CD_CT_CONTABIL_PIS  
        FROM   TPROCESSO P (NOLOCK)  
        INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )  
        WHERE P.NR_PROCESSO = @nr_processo   
      END      
	  ELSE IF @tp_pagamento = 'I' -- IRRF
      BEGIN  
        SELECT @cd_ct_cre = '020110000003'
		/*I.CD_CT_CONTABIL
        FROM   TPARAMETROS P (NOLOCK)  
        INNER JOIN TITEM I (NOLOCK) ON (I.CD_ITEM = P.CD_ITEM_IRRF )*/
      END
	END      

    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
    SELECT @nm_historico = LTRIM( RTRIM( @nm_apelido_item ) ) + ' - Proc: ' + @nr_processo  
    SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  END  
  ELSE   
  BEGIN  
--in restitui = S então inverter o credito/debito e o rateio vai ser no débito e pegar a conta do ITEM    SELECT @cd_simbologia = 'CR'  
    IF @tp_pagamento = '$' -- Dinheiro  
    BEGIN  
      SELECT @cd_ct_deb = CD_CT_CAIXA       FROM   TPARAMETROS (NOLOCK)  
    END  
    ELSE IF @tp_pagamento = 'L' -- L&P  
    BEGIN  
      SELECT @cd_ct_deb = CD_CT_LP_SALDUS       FROM   TPARAMETROS (NOLOCK)  
    END      
    ELSE IF @tp_pagamento = 'O' -- Outros  
    BEGIN  
      SELECT @cd_ct_deb = @cd_ct_outros     END      
    ELSE
    BEGIN
      IF @tp_pagamento = 'P' -- PisCofins  
      BEGIN  
        SELECT @cd_ct_deb = E.CD_CT_CONTABIL_PIS  
        FROM   TPROCESSO P (NOLOCK)  
        INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )  
        WHERE P.NR_PROCESSO = @nr_processo   
      END      
	  ELSE IF @tp_pagamento = 'I' -- IRRF
      BEGIN  
        SELECT @cd_ct_deb = I.CD_CT_CONTABIL
        FROM   TPARAMETROS P (NOLOCK)  
        INNER JOIN TITEM I (NOLOCK) ON (I.CD_ITEM = P.CD_ITEM_IRRF )
      END
    END

    SELECT @cd_ct_cre = @cd_ct_contabil  
  
    SELECT @nm_historico = 'Estorno - ' + LTRIM( RTRIM( @nm_apelido_item ) ) + ' - Proc: ' + @nr_processo  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END  

  
  if @CODIGO_CTAAPAGAR_LANC <> 0 
  begin
  --conta crédito tem que ser rateada somente qdo o início dela for '06'
    if SUBSTRING(@cd_ct_outros,1,2) = '06'
    begin    
	    DECLARE c_Rateio CURSOR FOR  

		select --in restitui = S então inverter o credito/debito e o rateio vai ser no débito e pegar a conta do ITEM
		  substring ( A.CD_CT_CONTABIL, 1,5) +  LEFT(replace(b.CD_CT_CUSTO,'.','') + '000',3) + substring ( A.CD_CT_CONTABIL, 9,5) CD_CT_CONTABIL, 
		  B.VALOR_RATEIO, C.CD_CT_CONTABIL --Aqui foi guardada a conta do item para ser usada qdo houver restituição 
		from 
		  TCAIXA A, TCAIXA_RATEIO B, TITEM C
		where
 		  A.CODIGO_CTAAPAGAR_LANC = @CODIGO_CTAAPAGAR_LANC and 
	 	  A.DT_MOVIMENTO = B.DT_MOVIMENTO and
		  B.CD_RATEIO_CAIXA = A.CODIGO_CTAAPAGAR_LANC and 
 		  C.CD_ITEM = A.CD_ITEM 
	
	    OPEN c_Rateio  
	    FETCH c_Rateio INTO   
	      @cd_ct_custo_rateio, @vl_rateado, @cd_ct_item
	
-- se In_Restitui for Sim, 
	--Inverter o credito/debito, 
	--O rateio vai ser no débito(@cd_ct_custo_rateio)
	--Pegar a conta do ITEM e jogar na conta credora

	    WHILE @@fetch_status = 0  
	    BEGIN  
	      select @FlagRateio = '1'

			
	      if @in_restitui = '0' --NÃO 
	      begin
		      INSERT TCONTABILIZACAO_LANC_SI  
			         ( NR_CONTAB,   
			           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
			           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
		      VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 
103 ), 4, 2) ),  
			           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_custo_rateio, @vL_rateado,   
			           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )  
	      end
	      else  --SIM
	      begin
		      INSERT TCONTABILIZACAO_LANC_SI  
			         ( NR_CONTAB,   
			           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
			           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
		      VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 
103 ), 4, 2) ),  
			           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_custo_rateio, @cd_ct_item, @vl_rateado,   
			           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )  
	      end

	
	    FETCH C_RATEIO INTO   
	    @cd_ct_custo_rateio, @vL_rateado, @cd_ct_item     
	    END
	    CLOSE C_RATEIO  
	    DEALLOCATE C_RATEIO  
    end
  end
  

  if @FlagRateio = '0'  --se não houve o rateio, então fazer a inserção normal
  begin

	  INSERT TCONTABILIZACAO_LANC_SI  
	         ( NR_CONTAB,   
	           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
	           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
	  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
	           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
	           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), @cd_simbologia, @cd_ct_custo )  
  end  

  FETCH c_din_lp_oper INTO      @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @in_restitui, @nm_favorecido, @nm_apelido_item, 
@nr_processo, @tp_pagamento, @cd_ct_outros, @cd_ct_custo, @CODIGO_CTAAPAGAR_LANC
END  
CLOSE c_din_lp_oper  
DEALLOCATE c_din_lp_oper  
  
--(7)******************************************************************************************************************  
-- DOCs Operacionais  
-- Lançamentos ( Conta Contábil do item contra Bco )  
DECLARE c_doc_oper CURSOR FOR  
  SELECT C.DT_MOVIMENTO, SUM( ISNULL( C.VL_LANCAMENTO, 0 ) ) VL_LANCAMENTO, C.CD_BANCO, C.NR_CHEQUE, I.CD_CT_CONTABIL,   
         C.IN_RESTITUI, SUBSTRING( F.NM_FAVORECIDO, 1, 35 ) NM_FAVORECIDO, LTRIM( RTRIM( I.NM_APELIDO ) ) NM_ITEM, C.NR_PROCESSO,  
         right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO
  FROM   TCAIXA C (NOLOCK), TITEM I (NOLOCK), TFAVORECIDO F (NOLOCK)  
  WHERE  C.CD_ITEM = I.CD_ITEM AND  
         C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
         C.IN_CANCELADO = '0' AND  
         C.IN_CONTABILIZA = '1' AND  
         C.CD_UNID_NEG = @cd_unid_neg AND  
         C.TP_PAGAMENTO = 'D' AND -- DOCS  
         C.TP_LANCAMENTO = 'F' AND -- Faturamento  
         C.TP_PROCEDENCIA <> '2' AND  
         ISNULL( C.CD_BANCO, '' ) <> '018' AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD  FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD  FROM TPARAMETROS (NOLOCK) ) AND  
         C.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS (NOLOCK) )  
  GROUP BY C.DT_MOVIMENTO, C.NR_PROCESSO, C.NM_HISTORICO, C.CD_BANCO, C.NR_CHEQUE, I.CD_CT_CONTABIL, C.CD_ITEM, C.IN_RESTITUI, 
F.NM_FAVORECIDO, I.NM_APELIDO, C.CD_CT_CUSTO  
  
OPEN c_doc_oper  
FETCH c_doc_oper INTO   
  @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @in_restitui, @nm_favorecido, @nm_apelido_item, @nr_processo, @cd_ct_custo  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  IF @in_restitui = '0'   
  BEGIN  
    SELECT @cd_ct_deb = @cd_ct_contabil  
    SELECT @cd_ct_cre = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  
    SELECT @nm_historico = LTRIM( RTRIM( @nm_apelido_item ) ) + ' - Proc: ' + @nr_processo  
    SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  END  
  ELSE   
  BEGIN  
    SELECT @cd_ct_deb = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    SELECT @cd_ct_cre = @cd_ct_contabil  
    SELECT @nm_historico = 'Estorno - ' + LTRIM( RTRIM( @nm_apelido_item ) ) + ' - Proc: ' + @nr_processo  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END  
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,             NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'DO', @cd_ct_custo )  
  
  FETCH c_doc_oper INTO   
    @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @cd_ct_contabil, @in_restitui, @nm_favorecido, @nm_apelido_item, @nr_processo, @cd_ct_custo  
END  
CLOSE c_doc_oper  
DEALLOCATE c_doc_oper  
  
--(8)******************************************************************************************************************  
-- Numerários  
DECLARE c_num CURSOR FOR  
  SELECT C.DT_MOVIMENTO,   
         ISNULL( SUM( CASE C.CD_ITEM  
                        WHEN @cd_item_receb_num THEN ISNULL( VL_LANCAMENTO, 0 )  
                        WHEN @cd_item_extor_num THEN ISNULL( VL_LANCAMENTO, 0 ) * ( -1 )  
                      END ), 0 ) AS VL_LANCAMENTO,   
         C.CD_BANCO, ISNULL( C.NR_CHEQUE, '' ), SUBSTRING( F.NM_FAVORECIDO, 1, 35 ) NM_FAVORECIDO, C.NR_PROCESSO, 
	 right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO
  FROM   TCAIXA C (NOLOCK), TFAVORECIDO F (NOLOCK)  
  WHERE  C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
         C.IN_CANCELADO = '0' AND  
         C.IN_CONTABILIZA = '1' AND  
         C.CD_UNID_NEG = @cd_unid_neg AND  
         C.TP_LANCAMENTO = 'F' AND -- Faturamento  
         ISNULL( C.CD_BANCO, '' ) <> '018' AND  
         ( C.CD_ITEM = @cd_item_receb_num OR  
           C.CD_ITEM = @cd_item_extor_num )  
  GROUP BY C.DT_MOVIMENTO, C.NR_PROCESSO, C.CD_BANCO, ISNULL( C.NR_CHEQUE, '' ), ISNULL( C.CD_CT_CONTABIL, '' ), ISNULL( C.CD_FAVORECIDO, '' ), 
F.NM_FAVORECIDO, C.CD_CT_CUSTO  
  HAVING ISNULL( SUM( CASE C.CD_ITEM  
                        WHEN @cd_item_receb_num THEN ISNULL( VL_LANCAMENTO, 0 )  
                        WHEN @cd_item_extor_num THEN ISNULL( VL_LANCAMENTO, 0 ) * ( -1 )  
                      END ), 0 ) <> 0   
  
OPEN c_num   
FETCH c_num INTO   
  @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @nm_favorecido, @nr_processo, @cd_ct_custo  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  IF @vl_lancamento >= 0  
  BEGIN  
    SELECT @cd_ct_deb = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
      
    SELECT @cd_ct_cre = '000000000001'  
    SELECT @cd_ct_cre = C.CD_CT_CONTABIL  
    FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
    WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
      AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
      AND  P.NR_PROCESSO = @nr_processo  
  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END  
  ELSE   
  BEGIN  
    SELECT @cd_ct_deb = '000000000001'  
    SELECT @cd_ct_deb = C.CD_CT_CONTABIL  
    FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
    WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
      AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
      AND  P.NR_PROCESSO = @nr_processo  
      
    SELECT @cd_ct_cre = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    SELECT @vl_tot_deb = @vl_tot_deb + ABS( @vl_lancamento )  
  END  
    
  SELECT @nm_historico =   
           CASE   
             WHEN @vl_lancamento >= 0 THEN 'REMESSA ' + @nr_processo  
             ELSE 'DEVOL. REMESSA ' + @nr_processo  
           END  
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, ABS(@vl_lancamento),   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'DO', @cd_ct_custo )  
  
  FETCH c_num INTO   
    @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @nm_favorecido, @nr_processo, @cd_ct_custo  
END  
CLOSE c_num  
DEALLOCATE c_num  
  
--(9)***********************************************************************************************************************  
-- Devoluções de Numerário  
DECLARE c_dev_num CURSOR FOR  
  SELECT C.DT_MOVIMENTO, ISNULL( SUM( CASE IN_RESTITUI  
                                        WHEN '0' THEN ISNULL( VL_LANCAMENTO, 0 )  
                                        WHEN '1' THEN ISNULL( VL_LANCAMENTO, 0 ) * (-1)   
                                      END ), 0 ) AS VL_LANCAMENTO,   
         C.CD_BANCO, ISNULL( C.NR_CHEQUE, '' ), SUBSTRING( F.NM_FAVORECIDO, 1, 35 ) NM_FAVORECIDO, C.NR_PROCESSO, 
	 right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO  
  FROM   TCAIXA C (NOLOCK), TFAVORECIDO F (NOLOCK)  
  WHERE  C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
         C.IN_CANCELADO = '0' AND  
         C.IN_CONTABILIZA = '1' AND  
         C.CD_UNID_NEG = @cd_unid_neg AND  
         C.TP_LANCAMENTO = 'F' AND -- Faturamento  
         ISNULL( C.CD_BANCO, '' ) <> '018' AND  
         C.CD_ITEM = @cd_item_devol_num   
  GROUP BY C.DT_MOVIMENTO, C.NR_PROCESSO, C.CD_BANCO, ISNULL( C.NR_CHEQUE, '' ), ISNULL( C.CD_CT_CONTABIL, '' ), ISNULL( C.CD_FAVORECIDO, '' ), 
F.NM_FAVORECIDO, C.CD_CT_CUSTO  
  HAVING ISNULL( SUM( CASE IN_RESTITUI  
                        WHEN '0' THEN ISNULL( VL_LANCAMENTO, 0 )  
                        WHEN '1' THEN ISNULL( VL_LANCAMENTO, 0 ) * (-1)   
                      END ), 0 ) <> 0  
  
OPEN c_dev_num  
FETCH c_dev_num INTO   
  @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @nm_favorecido, @nr_processo, @cd_ct_custo  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  IF @vl_lancamento >= 0  
  BEGIN  
    SELECT @cd_ct_deb = '000000000001'  
    SELECT @cd_ct_deb = C.CD_CT_CONTABIL  
    FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
    WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
      AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
      AND  P.NR_PROCESSO = @nr_processo  
  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  
    SELECT @cd_ct_cre = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
  END  
  ELSE   
  BEGIN  
    SELECT @cd_ct_cre = '000000000001'  
    SELECT @cd_ct_cre = C.CD_CT_CONTABIL  
    FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
    WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
      AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
      AND  P.NR_PROCESSO = @nr_processo  
  
    SELECT @cd_ct_deb = CD_CT_CONTABIL  
    FROM   TBANCO (NOLOCK)  
    WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
    SELECT @vl_tot_deb = @vl_tot_deb + ABS( @vl_lancamento )  
  END  
    
  SELECT @nm_historico =   
           CASE   
             WHEN @vl_lancamento >= 0 THEN 'DEVOLUÇÃO DE REMESSA ' + @nr_processo  
             ELSE 'ESTORNO DE DEVOLUÇÃO DE REMESSA ' + @nr_processo  
           END  
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, ABS(@vl_lancamento),   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'CH', @cd_ct_custo )  
  
  FETCH c_dev_num INTO   
    @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @nm_favorecido, @nr_processo, @cd_ct_custo  
END  
CLOSE c_dev_num  
DEALLOCATE c_dev_num  
  
--(10)******************************************************************************************************************  
-- Recebto Saldo  
DECLARE c_rec_saldos CURSOR FOR  
  SELECT C.DT_MOVIMENTO,   
         ISNULL( SUM( CASE C.CD_ITEM  
                        WHEN @cd_item_receb_sd THEN   
      CASE C.IN_RESTITUI WHEN '0' THEN ISNULL( VL_LANCAMENTO, 0 ) ELSE ISNULL( VL_LANCAMENTO, 0 ) * (-1) END  
                        WHEN @cd_item_ext_receb THEN   
                          CASE C.IN_RESTITUI WHEN '0' THEN ISNULL( VL_LANCAMENTO, 0 ) * ( -1 ) ELSE ISNULL( VL_LANCAMENTO, 0 ) END  
                      END ), 0 ) AS VL_LANCAMENTO,   
         C.CD_BANCO, ISNULL( C.NR_CHEQUE, '' ), SUBSTRING( F.NM_FAVORECIDO, 1, 35 ) NM_FAVORECIDO, C.NR_PROCESSO, C.TP_PAGAMENTO, 
	 right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO
  FROM   TCAIXA C (NOLOCK), TFAVORECIDO F (NOLOCK)  
  WHERE  C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
         C.IN_CANCELADO = '0' AND  
         C.IN_CONTABILIZA = '1' AND  
         C.CD_UNID_NEG = @cd_unid_neg AND  
         C.TP_LANCAMENTO = 'F' AND -- Faturamento  
         ISNULL( C.CD_BANCO, '' ) <> '018' AND  
         ( C.CD_ITEM = @cd_item_receb_sd OR  
           C.CD_ITEM = @cd_item_ext_receb )  
  GROUP BY C.DT_MOVIMENTO, C.NR_PROCESSO, C.CD_BANCO, ISNULL( C.NR_CHEQUE, '' ), ISNULL( C.CD_CT_CONTABIL, '' ), ISNULL( C.CD_FAVORECIDO, '' ), 
F.NM_FAVORECIDO, C.TP_PAGAMENTO, C.CD_CT_CUSTO  
  HAVING ISNULL( SUM( CASE C.CD_ITEM  
                        WHEN @cd_item_receb_sd THEN ISNULL( VL_LANCAMENTO, 0 )  
                        WHEN @cd_item_ext_receb THEN ISNULL( VL_LANCAMENTO, 0 ) * ( -1 )  
                      END ), 0 ) <> 0  
  
OPEN c_rec_saldos  
FETCH c_rec_saldos INTO   
  @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @nm_favorecido, @nr_processo, @tp_pagamento, @cd_ct_custo  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  IF @vl_lancamento >= 0  
  BEGIN  
    IF @tp_pagamento = 'L' -- L&P  
    BEGIN  
      SELECT @cd_ct_deb = CD_CT_LP_SALDUS       FROM   TPARAMETROS (NOLOCK)  
    END      
    ELSE   
    IF @tp_pagamento = '$' -- Dinheiro  
    BEGIN  
      SELECT @cd_ct_deb = CD_CT_CAIXA       FROM   TPARAMETROS (NOLOCK)  
    END  
    ELSE
    BEGIN   
      IF @tp_pagamento = 'P' -- PisCofins  
      BEGIN  
        SELECT @cd_ct_deb = E.CD_CT_CONTABIL_PIS  
        FROM   TPROCESSO P (NOLOCK)  
        INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )  
        WHERE P.NR_PROCESSO = @nr_processo   
      END  
	  ELSE IF @tp_pagamento = 'I' -- IRRF
      BEGIN  
        SELECT @cd_ct_deb = I.CD_CT_CONTABIL
        FROM   TPARAMETROS P (NOLOCK)  
        INNER JOIN TITEM I (NOLOCK) ON (I.CD_ITEM = P.CD_ITEM_IRRF )
      END
	  ELSE 
      BEGIN  
        SELECT @cd_ct_deb = CD_CT_CONTABIL  
        FROM   TBANCO  
        WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
      END  
	END
  
    SELECT @cd_ct_cre = '000000000001'  
    SELECT @cd_ct_cre = C.CD_CT_CONTABIL  
    FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
    WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
      AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
      AND  P.NR_PROCESSO = @nr_processo  
  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END  
  ELSE   
  BEGIN  
  
    SELECT @cd_ct_deb = '000000000001'  
    SELECT @cd_ct_deb = C.CD_CT_CONTABIL  
    FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
    WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
      AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
      AND  P.NR_PROCESSO = @nr_processo  
  
    IF @tp_pagamento = 'L' -- L&P  
    BEGIN  
      SELECT @cd_ct_cre = CD_CT_LP_SALDUS       FROM   TPARAMETROS (NOLOCK)  
    END      
    ELSE
    BEGIN
      IF @tp_pagamento = 'P' -- PisCofins  
      BEGIN  
        SELECT @cd_ct_cre = E.CD_CT_CONTABIL_PIS  
        FROM   TPROCESSO P (NOLOCK)  
        INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )  
        WHERE P.NR_PROCESSO = @nr_processo   
      END
	  ELSE IF @tp_pagamento = 'I' -- IRRF
      BEGIN  
        SELECT @cd_ct_cre = '020110000003'
		/*I.CD_CT_CONTABIL
        FROM   TPARAMETROS P (NOLOCK)  
        INNER JOIN TITEM I (NOLOCK) ON (I.CD_ITEM = P.CD_ITEM_IRRF )*/
      END  
      ELSE  
      BEGIN  
        SELECT @cd_ct_cre = CD_CT_CONTABIL  
        FROM   TBANCO (NOLOCK)  
        WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
      END  
    END
    SELECT @vl_tot_deb = @vl_tot_deb + ABS( @vl_lancamento )  
  END  
    
  SELECT @nm_historico =   
           CASE   
             WHEN @vl_lancamento >= 0 THEN 'REMESSA ' + @nr_processo  
             ELSE 'DEVOL. REMESSA ' + @nr_processo  
           END  
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, ABS(@vl_lancamento),   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'DO', @cd_ct_custo )  
  
  FETCH c_rec_saldos INTO   
    @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @nm_favorecido, @nr_processo, @tp_pagamento, @cd_ct_custo  
END  
CLOSE c_rec_saldos  
DEALLOCATE c_rec_saldos  
  
--(11)******************************************************************************************************************  
-- Pagto Saldo  select cd_item_pagto_sd from tparametros
DECLARE c_pag_saldos CURSOR FOR  
  SELECT C.DT_MOVIMENTO,   
         ISNULL( SUM( CASE C.CD_ITEM  
                        WHEN @cd_item_pagto_sd THEN   
                          CASE C.IN_RESTITUI WHEN '0' THEN ISNULL( VL_LANCAMENTO, 0 ) ELSE ISNULL( VL_LANCAMENTO, 0 ) * ( -1 ) END                         WHEN 
@cd_item_ext_pagto THEN   
                          CASE C.IN_RESTITUI WHEN '0' THEN ISNULL( VL_LANCAMENTO, 0 ) * ( -1 ) ELSE ISNULL( VL_LANCAMENTO, 0 ) END  
                      END ), 0 ) AS VL_LANCAMENTO,   
         C.CD_BANCO, ISNULL( C.NR_CHEQUE, '' ), SUBSTRING( F.NM_FAVORECIDO, 1, 35 ) NM_FAVORECIDO, C.NR_PROCESSO, C.TP_PAGAMENTO, 
	 right('0000'+ replace(C.CD_CT_CUSTO,'.',''),4) CD_CT_CUSTO  
  FROM   TCAIXA C (NOLOCK), TFAVORECIDO F (NOLOCK)  
  WHERE  C.CD_FAVORECIDO *= F.CD_FAVORECIDO AND  
         C.DT_MOVIMENTO BETWEEN @dt_inicio AND @dt_fim AND  
         C.IN_CANCELADO = '0' AND  
         C.IN_CONTABILIZA = '1' AND  
         C.CD_UNID_NEG = @cd_unid_neg AND  
         C.TP_LANCAMENTO = 'F' AND -- Faturamento  
         ISNULL( C.CD_BANCO, '' ) <> '018' AND  
         ( C.CD_ITEM = @cd_item_pagto_sd OR  
           C.CD_ITEM = @cd_item_ext_pagto )  
  GROUP BY C.DT_MOVIMENTO, C.NR_PROCESSO, C.CD_BANCO, ISNULL( C.NR_CHEQUE, '' ), ISNULL( C.CD_CT_CONTABIL, '' ), ISNULL( C.CD_FAVORECIDO, '' ), 
F.NM_FAVORECIDO, C.TP_PAGAMENTO, C.CD_CT_CUSTO  
  HAVING ISNULL( SUM( CASE C.CD_ITEM  
                        WHEN @cd_item_pagto_sd  THEN   
                          CASE C.IN_RESTITUI WHEN '0' THEN ISNULL( VL_LANCAMENTO, 0 ) ELSE ISNULL( VL_LANCAMENTO, 0 ) * ( -1 ) END  
                        WHEN @cd_item_ext_pagto THEN  
                          CASE C.IN_RESTITUI WHEN '0' THEN ISNULL( VL_LANCAMENTO, 0 ) * ( -1 ) ELSE ISNULL( VL_LANCAMENTO, 0 ) END  
                      END ), 0 ) <> 0  
  
OPEN c_pag_saldos  
FETCH c_pag_saldos INTO   
  @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @nm_favorecido, @nr_processo, @tp_pagamento, @cd_ct_custo  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  IF @vl_lancamento < 0  
  BEGIN  
    IF @tp_pagamento = 'L' -- L&P  
    BEGIN  
      SELECT @cd_ct_deb = CD_CT_LP_SALDUS       FROM   TPARAMETROS (NOLOCK)  
    END      
    ELSE  
    IF @tp_pagamento = '$' -- Dinheiro  
    BEGIN  
      SELECT @cd_ct_deb = CD_CT_CAIXA       FROM   TPARAMETROS (NOLOCK)  
    END  
    ELSE
    BEGIN  
      IF @tp_pagamento = 'P' -- PisCofins  
      BEGIN  
        SELECT @cd_ct_deb = E.CD_CT_CONTABIL_PIS  
        FROM   TPROCESSO P (NOLOCK)  
        INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )  
        WHERE P.NR_PROCESSO = @nr_processo   
      END
	  ELSE IF @tp_pagamento = 'I' -- IRRF
      BEGIN  
        SELECT @cd_ct_deb = I.CD_CT_CONTABIL
        FROM   TPARAMETROS P (NOLOCK)  
        INNER JOIN TITEM I (NOLOCK) ON (I.CD_ITEM = P.CD_ITEM_IRRF )
      END
      ELSE  
      BEGIN  
        SELECT @cd_ct_deb = CD_CT_CONTABIL  
        FROM   TBANCO (NOLOCK)  
        WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
      END  
    END
      
    SELECT @cd_ct_cre = '000000000001'  
    SELECT @cd_ct_cre = C.CD_CT_CONTABIL  
    FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
    WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
      AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
      AND  P.NR_PROCESSO = @nr_processo  
  
    SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  END  
  ELSE   
  BEGIN  
    SELECT @cd_ct_deb = '000000000001'  
    SELECT @cd_ct_deb = C.CD_CT_CONTABIL  
    FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
           INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
    WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
      AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
      AND  P.NR_PROCESSO = @nr_processo  
  
    IF @tp_pagamento = 'L' -- L&P  
    BEGIN  
      SELECT @cd_ct_cre = CD_CT_LP_SALDUS       FROM   TPARAMETROS (NOLOCK)  
    END      
    ELSE  
    IF @tp_pagamento = '$' -- Dinheiro  
    BEGIN  
      SELECT @cd_ct_cre = CD_CT_CAIXA       FROM   TPARAMETROS (NOLOCK)  
    END  
    ELSE
	BEGIN  
      IF @tp_pagamento = 'P' -- PisCofins  
      BEGIN  
        SELECT @cd_ct_cre = E.CD_CT_CONTABIL_PIS  
        FROM   TPROCESSO P (NOLOCK)  
        INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )  
        WHERE P.NR_PROCESSO = @nr_processo   
      END  
	  ELSE IF @tp_pagamento = 'I' -- IRRF
      BEGIN  
        SELECT @cd_ct_cre = '020110000003'
		/*I.CD_CT_CONTABIL
        FROM   TPARAMETROS P (NOLOCK)  
        INNER JOIN TITEM I (NOLOCK) ON (I.CD_ITEM = P.CD_ITEM_IRRF )*/
      END
      ELSE  
      BEGIN  
        SELECT @cd_ct_cre = CD_CT_CONTABIL  
        FROM   TBANCO (NOLOCK)  
        WHERE  ISNULL( CD_BANCO, '' ) = @cd_banco  
      END  
	END
    SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  END  
    
  SELECT @nm_historico =   
           CASE   
             WHEN @vl_lancamento >= 0 THEN 'DEVOLUÇÃO A CLIENTE ' + @nr_processo  
             ELSE 'ESTORNO DE DEVOL. A CLIENTE ' + @nr_processo  
           END  
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA, CD_CUSTO  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, ABS(@vl_lancamento),   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'CH', @cd_ct_custo )  
  
  FETCH c_pag_saldos INTO   
    @dt_movimento, @vl_lancamento, @cd_banco, @nr_cheque, @nm_favorecido, @nr_processo, @tp_pagamento, @cd_ct_custo  
END  
CLOSE c_pag_saldos  
DEALLOCATE c_pag_saldos  
  
--(12)***********************************************************************************************************************  
-- Faturas  
DECLARE c_fat CURSOR FOR  
  SELECT F.CD_PRODUTO, MAX( F.DT_FATURA), F.NR_NOTA_FATURA, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_FAVORECIDO,  
         ISNULL(  
         ( SELECT SUM(   
                  CASE FAT.IN_RESTITUI   
                    WHEN '0' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) )  
                    WHEN '1' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) ) * (-1)  
                  END )   
           FROM   TFATURAMENTO_CC FAT (NOLOCK)  
           WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
                  F.CD_PRODUTO = FAT.CD_PRODUTO AND  
                  F.NR_SOLICITACAO = FAT.NR_SOLIC_FAT AND  
                  FAT.IN_CANCELADO = '0' AND  
                  FAT.IN_FATURADO = '1' AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS (NOLOCK) ) AND  
                 FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_COFINS_RETENCAO FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK) ) AND  
                  ISNULL( FAT.CD_ITEM_NAO_FAT, '' ) <> '*' ), 0 ) VL_NOTA_FATURA  
  FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)  
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND  
         F.CD_PRODUTO = FP.CD_PRODUTO AND  
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND  
         FP.NR_PROCESSO = P.NR_PROCESSO AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         ( ( F.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND  
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         F.IN_CANCELADO = '0' AND  
         F.TP_TIPO_FAT = 'F' AND  
         ISNULL( F.NR_NOTA_FATURA, '' ) <> ''  
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_NOTA_FATURA, F.NR_SOLICITACAO  
  
OPEN c_fat  
FETCH c_fat INTO   
  @cd_produto, @dt_movimento, @nr_cheque, @nr_processo, @nm_favorecido, @vl_lancamento  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  IF @cd_produto IN ( '01', '03' ) SELECT @nm_historico = 'FATURA IMPORTACAO Nº ' + @nr_cheque + ' REF. PROC.: ' + @nr_processo  
  IF @cd_produto IN ( '02', '10' ) SELECT @nm_historico = 'FATURA EXPORTACAO Nº ' + @nr_cheque + ' REF. PROC.: ' + @nr_processo  
  
  SELECT @cd_ct_deb = '000000000001'  
  SELECT @cd_ct_deb = C.CD_CT_CONTABIL  
  FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
         INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
  WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
    AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
    AND  P.NR_PROCESSO = @nr_processo  
  
  SELECT @cd_ct_cre = CD_CT_FAT_A_CLASSIF     FROM   TPARAMETROS (NOLOCK)  
  
  SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA  )    VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + 
SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, ABS(@vl_lancamento),   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'FT' )  
  
  FETCH c_fat INTO   
    @cd_produto, @dt_movimento, @nr_cheque, @nr_processo, @nm_favorecido, @vl_lancamento  
END  
CLOSE c_fat  
DEALLOCATE c_fat    
--(13)***********************************************************************************************************************  
--Notas de Débito Operacionais  
DECLARE c_nota_deb_oper CURSOR FOR  
  SELECT F.CD_PRODUTO, MAX( F.DT_FATURA ), F.NR_NOTA_FATURA, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_CLI_FAV,  
         ISNULL(  
         ABS ( ( SELECT SUM(   
                        CASE FAT.IN_RESTITUI   
                          WHEN '0' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) )  
                          WHEN '1' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) ) * (-1)  
                        END )   
                 FROM   TFATURAMENTO_CC FAT (NOLOCK)  
                 WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
                        F.CD_PRODUTO = FAT.CD_PRODUTO AND  
                        F.NR_SOLICITACAO = FAT.NR_SOLIC_FAT AND  
                        FAT.IN_CANCELADO = '0' AND  
                        FAT.IN_FATURADO = '1' AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_COFINS_RETENCAO FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS (NOLOCK) ) AND  
                        FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK) ) AND  
                        ISNULL( FAT.CD_ITEM_NAO_FAT, '' ) <> '*' ) ), 0 ) VL_NOTA_FATURA  
  FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P (NOLOCK), TEMPRESA_NAC E (NOLOCK)  
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND  
         F.CD_PRODUTO = FP.CD_PRODUTO AND  
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND  
         FP.NR_PROCESSO = P.NR_PROCESSO AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         ( ( F.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND  
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         F.IN_CANCELADO = '0' AND  
         F.TP_TIPO_FAT = 'N' AND  
         ISNULL( F.NR_NOTA_FATURA, '' ) <> '' AND  
         ISNULL(  
         ( SELECT SUM( CASE FAT.IN_RESTITUI   
                         WHEN '0' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) )  
                         WHEN '1' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) ) * (-1)  
                       END )   
           FROM   TFATURAMENTO_CC FAT (NOLOCK)  
           WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
                  F.CD_PRODUTO = FAT.CD_PRODUTO AND  
                  F.NR_SOLICITACAO = FAT.NR_SOLIC_FAT AND  
                  FAT.IN_CANCELADO = '0' AND  
                  FAT.IN_FATURADO = '1' AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) AND  
                 FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_COFINS_RETENCAO FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK) ) AND   
                  ISNULL( FAT.CD_ITEM_NAO_FAT, '' ) <> '*' ), 0 ) >= 0  
/*  
         EXISTS( SELECT F2.CD_ITEM   
                 FROM   TFATURAMENTO_CC F2  
                 WHERE  F.NR_SOLICITACAO = F2.NR_SOLIC_FAT AND  
                        F.CD_UNID_NEG = F2.CD_UNID_NEG AND  
                        F.CD_PRODUTO = F2.CD_PRODUTO AND   
                        F2.IN_CANCELADO = '0' AND  
                        F2.IN_FATURADO = '1' AND  
                        F2.CD_ITEM = ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) )  
*/  
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_NOTA_FATURA, F.NR_SOLICITACAO  
  
OPEN c_nota_deb_oper  
FETCH c_nota_deb_oper INTO   
  @cd_produto, @dt_movimento, @nr_cheque, @nr_processo, @nm_favorecido, @vl_lancamento  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  IF @cd_produto IN ( '01', '03' ) SELECT @nm_historico = 'NOTA DÉBITO IMPORTACAO Nº ' + @nr_cheque  
  IF @cd_produto IN ( '02', '10' ) SELECT @nm_historico = 'NOTA DÉBITO EXPORTACAO Nº ' + @nr_cheque  
  
  SELECT @cd_ct_deb = '000000000001'  
  SELECT @cd_ct_deb = C.CD_CT_CONTABIL  
  FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
         INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
  WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
    AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
    AND  P.NR_PROCESSO = @nr_processo  
  
  SELECT @cd_ct_cre = CD_CT_FAT_A_CLASSIF   
  FROM   TPARAMETROS  
  
  SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'ND' )  
  
  FETCH c_nota_deb_oper INTO   
    @cd_produto, @dt_movimento, @nr_cheque, @nr_processo, @nm_favorecido, @vl_lancamento  
END  
CLOSE c_nota_deb_oper  
DEALLOCATE c_nota_deb_oper  
  
--(14)***********************************************************************************************************************  
--Notas de Crédito Operacionais  
DECLARE c_nota_cre_oper CURSOR FOR  
  SELECT MAX( F.DT_FATURA ), F.NR_NOTA_FATURA, MAX( FP.NR_PROCESSO ) NR_PROCESSO, MAX( E.NM_EMPRESA ) NM_CLI_FAV,  
         ISNULL(  
         ABS( ( SELECT SUM(   
                       CASE FAT.IN_RESTITUI   
                         WHEN '0' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) )  
                         WHEN '1' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) ) * (-1)  
                       END )   
                FROM   TFATURAMENTO_CC FAT (NOLOCK)  
                WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
                       F.CD_PRODUTO = FAT.CD_PRODUTO AND  
                       F.NR_SOLICITACAO = FAT.NR_SOLIC_FAT AND  
                       FAT.IN_CANCELADO = '0' AND  
                       FAT.IN_FATURADO = '1' AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK)) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_COFINS_RETENCAO FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS (NOLOCK) ) AND  
                       FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK) ) AND  
                       ISNULL( FAT.CD_ITEM_NAO_FAT, '' ) <> '*' ) ), 0 ) VL_NOTA_FATURA  
  FROM   TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TPROCESSO P(NOLOCK) , TEMPRESA_NAC E (NOLOCK)  
  WHERE  F.CD_UNID_NEG = FP.CD_UNID_NEG AND  
         F.CD_PRODUTO = FP.CD_PRODUTO AND  
         F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND  
         FP.NR_PROCESSO = P.NR_PROCESSO AND  
         P.CD_CLIENTE = E.CD_EMPRESA AND  
         ( ( F.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND  
         F.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND  
         F.IN_CANCELADO = '0' AND  
         F.TP_TIPO_FAT = 'N' AND  
         ISNULL( F.NR_NOTA_FATURA, '' ) <> '' AND  
         ISNULL( F.NR_NOTA_FATURA, '' ) <> '' AND  
         ISNULL(  
         ( SELECT SUM( CASE FAT.IN_RESTITUI   
                         WHEN '0' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) )  
                         WHEN '1' THEN ( ISNULL( FAT.VL_ITEM, 0 ) + ISNULL( FAT.VL_ASSIST, 0 ) - ISNULL( FAT.VL_IR, 0 ) ) * (-1)  
                       END )   
           FROM   TFATURAMENTO_CC FAT (NOLOCK)  
           WHERE  F.CD_UNID_NEG = FAT.CD_UNID_NEG AND  
                  F.CD_PRODUTO = FAT.CD_PRODUTO AND  
                  F.NR_SOLICITACAO = FAT.NR_SOLIC_FAT AND  
                  FAT.IN_CANCELADO = '0' AND  
                  FAT.IN_FATURADO = '1' AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_SD FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGTO_SD FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_RECEB FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_EXT_PAGTO FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_NAO_FAT FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_COFINS_RETENCAO FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS (NOLOCK) ) AND  
                  FAT.CD_ITEM NOT IN ( SELECT CD_ITEM_PIS_COFINS FROM TPARAMETROS (NOLOCK) ) AND    
                  ISNULL( FAT.CD_ITEM_NAO_FAT, '' ) <> '*' ), 0 ) < 0  
/*  
         EXISTS( SELECT F2.CD_ITEM   
                 FROM   TFATURAMENTO_CC F2  
                 WHERE  F.NR_SOLICITACAO = F2.NR_SOLIC_FAT AND  
                       F.CD_UNID_NEG = F2.CD_UNID_NEG AND  
                        F.CD_PRODUTO = F2.CD_PRODUTO AND   
                        F2.IN_CANCELADO = '0' AND  
                        F2.IN_FATURADO = '1' AND  
                        F2.CD_ITEM = ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) )  
*/  
  GROUP BY F.CD_UNID_NEG, F.CD_PRODUTO, F.NR_NOTA_FATURA, F.NR_SOLICITACAO  
  
OPEN c_nota_cre_oper  
FETCH c_nota_cre_oper INTO   
  @dt_movimento, @nr_cheque, @nr_processo, @nm_favorecido, @vl_lancamento  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  SELECT @nm_historico = 'NOTA CRÉDITO Nº ' + @nr_cheque  
  
  SELECT @cd_ct_deb = CD_CT_FAT_A_CLASSIF   
  FROM   TPARAMETROS  
  
  SELECT @cd_ct_cre = '000000000001'  
  SELECT @cd_ct_cre = C.CD_CT_CONTABIL  
  FROM   TCLIENTE_CONTA_CONTABIL C (NOLOCK)  
         INNER JOIN TPROCESSO P (NOLOCK) ON ( P.CD_CLIENTE = C.CD_CLIENTE )  
  WHERE  C.CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )  
    AND  C.CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )  
    AND  P.NR_PROCESSO = @nr_processo  
  
  SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'NC' )  
  
  FETCH c_nota_cre_oper INTO   
    @dt_movimento, @nr_cheque, @nr_processo, @nm_favorecido, @vl_lancamento  
END  
CLOSE c_nota_cre_oper  
DEALLOCATE c_nota_cre_oper  
  
--(15)***********************************************************************************************************************  
--Notas de Débito Administrativas  
DECLARE c_nota_deb_adm CURSOR FOR  
  SELECT MAX( A.DT_PAGTO ), A.NR_DOCTO, MAX( E.CD_CT_CONTABIL ), MAX( E.NM_EMPRESA ) NM_CLI_FAV,  
         ABS( SUM( ( ROUND( ISNULL( A.VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ), 2 ) ) ) ) VL_NOTA_FATURA  
  FROM   TADM A (NOLOCK),  
         TFAVORECIDO F (NOLOCK),   
         TEMPRESA_NAC E (NOLOCK)  
  WHERE  A.CD_FAVORECIDO = F.CD_FAVORECIDO AND  
         F.CGC_EMPRESA = E.CGC_EMPRESA AND  
         A.CD_STATUS_ADM IN ( '18' ) AND  
         A.TP_NATUREZA = 'C' AND  
         ( ( A.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND  
         A.DT_PAGTO BETWEEN @dt_inicio AND @dt_fim AND  
         A.TP_LANCAMENTO = 'N' AND  
         ISNULL( A.NR_DOCTO, '' ) <> '' AND  
         ISNULL( A.CD_BANCO, '' ) <> '018'   
  GROUP BY A.CD_UNID_NEG, A.NR_DOCTO   

OPEN c_nota_deb_adm  
FETCH c_nota_deb_adm INTO   
  @dt_movimento, @nr_cheque, @cd_ct_contabil, @nm_favorecido, @vl_lancamento  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  SELECT @nm_historico = 'NOTA DÉBITO Nº ' + @nr_cheque  
  
  SELECT @cd_ct_deb = @cd_ct_contabil  
  SELECT @cd_ct_cre = CD_CT_FAT_A_CLASSIF   
  FROM   TPARAMETROS (NOLOCK)  
  
  SELECT @vl_tot_deb = @vl_tot_deb + @vl_lancamento   
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'ND' )  
  
  FETCH c_nota_deb_adm INTO   
    @dt_movimento, @nr_cheque, @cd_ct_contabil, @nm_favorecido, @vl_lancamento  
END  
CLOSE c_nota_deb_adm  
DEALLOCATE c_nota_deb_adm  
  
--(16)***********************************************************************************************************************  
--Notas de Crédito Administrativas  
DECLARE c_nota_cre_adm CURSOR FOR  
  SELECT MAX( A.DT_PAGTO ), A.NR_DOCTO, MAX( E.CD_CT_CONTABIL ), MAX( E.NM_EMPRESA ) NM_CLI_FAV,  
         ABS( SUM( ( ROUND( ISNULL( A.VL_LANCTO, 0 ) - ISNULL( VL_DESCONTO, 0 ), 2 ) ) ) ) VL_NOTA_FATURA  
  FROM   TADM A (NOLOCK),  
         TFAVORECIDO F (NOLOCK),   
         TEMPRESA_NAC E (NOLOCK)  
  WHERE  A.CD_FAVORECIDO = F.CD_FAVORECIDO AND  
         F.CGC_EMPRESA = E.CGC_EMPRESA AND  
         A.CD_STATUS_ADM IN ( '7' ) AND  
         A.TP_NATUREZA = 'D' AND  
         ( ( A.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND  
         A.DT_PAGTO BETWEEN @dt_inicio AND @dt_fim AND  
         A.TP_LANCAMENTO = 'N' AND  
         ISNULL( A.NR_DOCTO, '' ) <> '' AND  
         ISNULL( A.CD_BANCO, '' ) <> '018'   
  GROUP BY A.CD_UNID_NEG, A.NR_DOCTO   
  
OPEN c_nota_cre_adm  
FETCH c_nota_cre_adm INTO   
  @dt_movimento, @nr_cheque, @cd_ct_contabil, @nm_favorecido, @vl_lancamento  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  SELECT @nm_historico = 'NOTA CRÉDITO Nº ' + @nr_cheque  
  
  SELECT @cd_ct_deb = CD_CT_FAT_A_CLASSIF   
  FROM   TPARAMETROS  
  SELECT @cd_ct_cre = @cd_ct_contabil  
  
  SELECT @vl_tot_cre = @vl_tot_cre + @vl_lancamento   
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(10), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'NC' )  
  
  FETCH c_nota_cre_adm INTO   
    @dt_movimento, @nr_cheque, @cd_ct_contabil, @nm_favorecido, @vl_lancamento  
END  
CLOSE c_nota_cre_adm  
DEALLOCATE c_nota_cre_adm  
  
--(17)***********************************************************************************************************************  
--PIS/COFINS e IRRF Liquidação  
DECLARE c_piscofins CURSOR FOR  
  SELECT L.DT_LIQUIDACAO, E.NM_EMPRESA, L.CD_FORMA_PAGTO, 
         ABS( ROUND( L.VL_LIQUIDACAO, 2 ) ) VL_NOTA_FATURA, ISNULL( F.NR_NOTA_FATURA, '' ), P.CD_CLIENTE, ROUND( L.VL_LIQUIDACAO, 2 )  
  FROM   TLIQUIDACAO L (NOLOCK)  
         INNER JOIN TPROCESSO P (NOLOCK) ON ( L.NR_PROCESSO = P.NR_PROCESSO )    
         INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )  
         INNER JOIN TS_FATURA_PROCESSO FP (NOLOCK) ON ( L.NR_PROCESSO = FP.NR_PROCESSO_LIQ AND L.NR_SOLIC_FAT = FP.NR_SOLICITACAO)   
         INNER JOIN TS_FATURA F (NOLOCK) ON ( F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO = FP.CD_PRODUTO )  
  WHERE  @cd_unid_neg IN ( P.CD_UNID_NEG, '' ) AND  
         L.DT_LIQUIDACAO BETWEEN @dt_inicio AND @dt_fim AND  
         L.CD_FORMA_PAGTO in ('P', 'I') AND  
         F.TP_TIPO_FAT = 'F' AND   
         L.IN_CANCELADO = '0'  
  
OPEN c_piscofins  
FETCH c_piscofins INTO   
  @dt_movimento, @nm_favorecido, @cd_forma_pagto, @vl_lancamento, @nr_cheque, @cd_cliente, @vl_liquidacao  
  
WHILE @@fetch_status = 0  
BEGIN  
  SELECT @nr_lancamento = RIGHT( '00000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 5 )  
  
  IF @cd_forma_pagto = 'P'
  BEGIN
    SELECT @nm_historico = 'PIS / COFINS'  
  
    IF @vl_liquidacao > 0  
    BEGIN  
      -- Débito Conta PIS  
      SELECT @cd_ct_cre = CD_CT_CONTABIL, @cd_ct_deb = CD_CT_CONTABIL_PIS  
      FROM TEMPRESA_NAC (NOLOCK)  
      WHERE CD_EMPRESA = @cd_cliente   
    END  
    ELSE  
    BEGIN  
      -- Crédito Conta PIS  
      SELECT @cd_ct_cre = CD_CT_CONTABIL_PIS, @cd_ct_deb = CD_CT_CONTABIL  
      FROM TEMPRESA_NAC (NOLOCK)  
      WHERE CD_EMPRESA = @cd_cliente   
    END  
  END
  ELSE
  BEGIN
    SELECT @nm_historico = 'IRRF'  
  
    IF @vl_liquidacao > 0  
    BEGIN  
      -- Débito Conta IRRF  
      SELECT @cd_ct_cre = '020110000003', @cd_ct_deb = I.CD_CT_CONTABIL  
        FROM   TPARAMETROS P (NOLOCK)  
      INNER JOIN TITEM I (NOLOCK) ON (I.CD_ITEM = P.CD_ITEM_IRRF )
    END  
    ELSE  
    BEGIN  
      -- Crédito Conta IRRF
      SELECT @cd_ct_cre = I.CD_CT_CONTABIL  , @cd_ct_deb = '020110000003'
      FROM   TPARAMETROS P (NOLOCK)  
      INNER JOIN TITEM I (NOLOCK) ON (I.CD_ITEM = P.CD_ITEM_IRRF )
    END  
  END
  
  INSERT TCONTABILIZACAO_LANC_SI  
         ( NR_CONTAB,  
           NR_LANCAMENTO, DT_LANCAMENTO, NR_DOCTO, CD_CT_DEVEDORA, CD_CT_CREDORA, VL_LANCAMENTO,   
           NM_HISTORICO, CD_FILIAL, NM_FORNECEDOR, CD_SIMBOLOGIA  )  
  VALUES ( ( SUBSTRING( CONVERT( VARCHAR(10), @dt_movimento, 103 ), 1, 2) + SUBSTRING( CONVERT( VARCHAR(20), @dt_movimento, 103 ), 4, 2) ),  
           @nr_lancamento, @dt_movimento, @nr_cheque, @cd_ct_deb, @cd_ct_cre, @vl_lancamento,   
           @nm_historico, @cd_filial, SUBSTRING( @nm_favorecido, 1, 35 ), 'PC' )  
  
  FETCH c_piscofins INTO   
    @dt_movimento, @nm_favorecido, @cd_forma_pagto, @vl_lancamento, @nr_cheque, @cd_cliente, @vl_liquidacao  
END  
CLOSE c_piscofins  
DEALLOCATE c_piscofins  
  
-- Tabela TCONTABILIZACAO_SI não está sendo utilizada - 08/12/2006  
UPDATE TCONTABILIZACAO_SI  
SET    VL_DEBITO = @vl_tot_deb,  
       VL_CREDITO = @vl_tot_cre  
WHERE  NR_CONTAB = @nr_cont  
  
-- Grava na TCONTABILIZACAO_LANC_SI os valores de despesa por grupo  
EXEC sp_despesa_grupo @cd_unid_neg, @dt_inicio, @dt_fim, @cd_filial, @nr_lancamento  
  
--DELETE TEMPO001.DBO.LANCTO   
--DELETE TEMPO002.DBO.LANCTO  


/*       SELECT NR_Contab, NR_Lancamento, DT_Lancamento, ISNULL( CD_Simbologia, '' ), ISNULL( NR_Docto, '' ),  
              CONVERT(FLOAT, CD_CT_Devedora),0,   
              CONVERT(FLOAT, CD_CT_Credora), 0,  
--              CONVERT(FLOAT, SUBSTRING( CD_CT_Devedora, 1, 9 )),CONVERT(FLOAT, SUBSTRING( CD_CT_Devedora, 10, 1 )),   
--              CONVERT(FLOAT, SUBSTRING( CD_CT_Credora, 1, 9 )),CONVERT(FLOAT, SUBSTRING( CD_CT_Credora, 10, 1 )),  
              VL_Lancamento, ISNULL( CD_CUSTO, 0 ), '*', 'FT', ISNULL( NM_Historico, '' ), 'MY', 'N'  
       FROM   TCONTABILIZACAO_LANC_SI  
       WHERE  DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim   */
  
--***********************************************************************************************************************  
-- Alimenta banco Tempo001 ou Tempo002  
--IF @cd_unid_neg = '01'   
--BEGIN  
--  INSERT INTO TEMPO001.DBO.LANCTO (lctlote, lctlancto, lctdata, lctsimb, lctdoc,  
--              lctctadeb, lctdigctadeb,   
--              lctctacred, lctdigctacred,  
--              lctvalor, lctccusto, lctatual, lctct, lcthistor, lctorigem, lctflag )  
--       SELECT NR_Contab, NR_Lancamento, DT_Lancamento, ISNULL( CD_Simbologia, '' ), ISNULL( NR_Docto, '' ),  
--              CONVERT(FLOAT, CD_CT_Devedora),0,   
--              CONVERT(FLOAT, CD_CT_Credora), 0,  
--              VL_Lancamento, ISNULL( CD_CUSTO, 0 ), '*', 'FT', ISNULL( NM_Historico, '' ), 'MY', 'N'  
--       FROM   TCONTABILIZACAO_LANC_SI  
--       WHERE  DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim   
--END  
--ELSE  
--BEGIN  
--  INSERT INTO TEMPO002.DBO.LANCTO (lctlote, lctlancto, lctdata, lctsimb, lctdoc,  
--              lctctadeb, lctdigctadeb,   
--              lctctacred, lctdigctacred,  
--              lctvalor, lctccusto, lctatual, lctct, lcthistor, lctorigem, lctflag )  
--       SELECT NR_Contab, NR_Lancamento, DT_Lancamento, ISNULL( CD_Simbologia, '' ), ISNULL( NR_Docto, '' ),  
--              CONVERT(FLOAT, CD_CT_Devedora),0,   
--              CONVERT(FLOAT, CD_CT_Credora), 0,  
----              CONVERT(FLOAT, SUBSTRING( CD_CT_Devedora, 1, 9 )),CONVERT(FLOAT, SUBSTRING( CD_CT_Devedora, 10, 1 )),   
----              CONVERT(FLOAT, SUBSTRING( CD_CT_Credora, 1, 9 )),CONVERT(FLOAT, SUBSTRING( CD_CT_Credora, 10, 1 )),  
--              VL_Lancamento, ISNULL( CD_CUSTO, 0 ), '*', 'FT', ISNULL( NM_Historico, '' ), 'MY', 'N'  
--       FROM   TCONTABILIZACAO_LANC_SI  
--       WHERE  DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim   
--END  
  

--SELECT * FROM TEMPO002.DBO.LANCTO WHERE LCTdata = @dt_inicio
--SELECT * FROM TEMPO001.DBO.LANCTO WHERE LCTdata = @dt_inicio

/*  
COMMIT TRAN  
SET XACT_ABORT OFF  
*/













GO
