USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/*
CREATE PROC [SP_MAIL_PENDENTES] @UNIDADE VARCHAR(2), @PRODUTO VARCHAR(2), @EVENTO VARCHAR(3), @AREA VARCHAR(2), @SUBAREA VARCHAR(2), 
                                      @CLIENTE VARCHAR(5), @GRUPO VARCHAR(3), @ATENDENTE VARCHAR(4), @CELULA VARCHAR(2), @MODAL VARCHAR(2) AS 
--*/
  
  /********************************************************************************************************************/  
  /* NOME      : SP_MAIL_PENDENTES                    */  
  /* AUTOR     : VÍTOR ZANIN                         */  
  /* DATA      : 22/02/2005                         */  
  /* DESCRIÇÃO : STORED CHAMADA PELO JOB, PARA SEPARAR OS PROCESSOS E CHAMAR O MYSENDMAIL, QUE ENVIARA O REL POR MAIL */  
  /********************************************************************************************************************/    

/*
BEGIN TRAN    
  DECLARE @UNIDADE   VARCHAR(2) = ''
  DECLARE @PRODUTO   VARCHAR(2) = '01'
  DECLARE @EVENTO    VARCHAR(3) = '234'
  DECLARE @AREA      VARCHAR(2) = ''
  DECLARE @SUBAREA   VARCHAR(2) = ''
  DECLARE @CLIENTE   VARCHAR(5) = ''
  DECLARE @GRUPO     VARCHAR(3) = ''
  DECLARE @ATENDENTE VARCHAR(4) = ''
  DECLARE @CELULA    VARCHAR(2)  = ''
  DECLARE @MODAL     VARCHAR(2) = ''
--*/    
  
  --LIMPA A TABELA DE PENDENCIAS - by CARLOS 06/01/2011
  DELETE FROM TMAIL_PENDENTES

  -- SELECIONANDO REGISTROS PARA O TAL EVENTO  
  BEGIN
	  INSERT INTO TMAIL_PENDENTES ( NR_PROCESSO, PREVISAO, ATRASO, SALDO_PROC, VALOR_SERVICO, CLIENTE, STATUS, AREA ,DT_EVENTO_BASE , CD_REFERENCIA, LOCAL_DESEMBARQUE,NM_EVENTO_BASE, LOCAL_EMBARQUE)  
	  SELECT DISTINCT PR.NR_PROCESSO, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, 0 VL_NUM_TAXA, 0 VALOR_SERVICO, LEFT(EN.NM_EMPRESA, 50), '-', A.NM_AREA,
	   (SELECT DT_REALIZACAO FROM TFOLLOWUP (NOLOCK) WHERE CD_EVENTO IN (SELECT CD_EV_BASICO
	                                                                     FROM TFOLLOWUP SE (NOLOCK) 
                                                                         WHERE SE.NR_PROCESSO = F2.NR_PROCESSO
                                                                           AND SE.CD_EVENTO = @EVENTO)
                                                                           AND NR_PROCESSO = PR.NR_PROCESSO) DT_EVENTO_BASE,
     --by Carlos 20/08/2010 - REFERENCIA CLIENTE
	 --( SELECT MASTER.DBO.RowConcatLeft(DISTINCT RTRIM(R.CD_REFERENCIA)) FROM TREF_CLIENTE R (NOLOCK) WHERE R.NR_PROCESSO=PR.NR_PROCESSO AND R.TP_REFERENCIA = CASE WHEN SUBSTRING(R.NR_PROCESSO,3,2)<>'02' THEN '01' ELSE ( SELECT ISNULL(g.TP_PEDIDO_BUSCA,'01') FROM TGRUPO g (NOLOCK) WHERE g.CD_GRUPO = ( SELECT e.CD_GRUPO FROM TEMPRESA_NAC e (NOLOCK) WHERE e.CD_EMPRESA = R.CD_EMPRESA ) ) END  ) CD_REFERENCIA,
     ( SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.RowConcatLeft(DISTINCT RTRIM(R.CD_REFERENCIA) + ', '), ', ') FROM TREF_CLIENTE R (NOLOCK) WHERE R.NR_PROCESSO=PR.NR_PROCESSO AND R.TP_REFERENCIA = ( SELECT CASE WHEN SUBSTRING(R.NR_PROCESSO,3,2)<>'02' THEN G.TP_PEDIDO_BUSCA_IMP ELSE ISNULL(g.TP_PEDIDO_BUSCA,'01') END FROM TGRUPO g (NOLOCK) WHERE g.CD_GRUPO = ( SELECT e.CD_GRUPO FROM TEMPRESA_NAC e (NOLOCK) WHERE e.CD_EMPRESA = R.CD_EMPRESA ) )) CD_REFERENCIA,
     --by Carlos 23/08/2010 - LOCAL DESEMBARQUE
	  ISNULL((SELECT DESCRICAO FROM TLOCAL_EMBARQUE (NOLOCK) WHERE CODIGO=PR.CD_LOCAL_DESEMBARQUE ),'-') LOCAL_DESEMBARQUE,
	  (SELECT NM_EVENTO FROM TEVENTO WHERE CD_EVENTO IN (SELECT CD_EV_BASICO
	                                                     FROM TFOLLOWUP SE (NOLOCK) 
                                                         WHERE SE.NR_PROCESSO = F2.NR_PROCESSO AND SE.CD_EVENTO = @EVENTO)) NM_EVENTO_BASE,
	  -- Michel
	  ISNULL((SELECT DESCRICAO FROM TLOCAL_EMBARQUE (NOLOCK) WHERE CODIGO=PR.CD_LOCAL_EMBARQUE ),'-') LOCAL_EMBARQUE
	  FROM TPROCESSO PR (NOLOCK)
		INNER JOIN TFOLLOWUP F2    (NOLOCK) ON F2.NR_PROCESSO =  PR.NR_PROCESSO AND CONVERT(INT, F2.CD_EVENTO) = @EVENTO AND F2.IN_APLICAVEL = '1' AND F2.IN_BLOQUEADO = '0'  AND F2.DT_REALIZACAO IS NULL
		INNER JOIN TFOLLOWUP F     (NOLOCK) ON F.NR_PROCESSO  =  F2.NR_PROCESSO 
		INNER JOIN TAREA A		   (NOLOCK) ON A.CD_AREA	  =  PR.CD_AREA
		INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON EN.CD_EMPRESA  =  PR.CD_CLIENTE		
		--Comentado abaixo para utilizar a tabela de serviço novo - Eric 27/09/2012
		LEFT JOIN VW_SERVICO_GERAL S      (NOLOCK) ON S.CD_SERVICO   =  PR.CD_SERVICO
		INNER JOIN TCLIENTE_HABILITACAO CH (NOLOCK) ON CH.CD_CLIENTE = PR.CD_CLIENTE AND CH.CD_UNID_NEG = PR.CD_UNID_NEG AND CH.CD_PRODUTO = PR.CD_PRODUTO
        LEFT  JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON EP.NR_PROCESSO_DES = PR.NR_PROCESSO		
      WHERE ((PR.CD_UNID_NEG = @UNIDADE) OR (@UNIDADE = ''))
        AND ((PR.CD_PRODUTO = @PRODUTO)  OR (@PRODUTO = ''))
    	AND ((PR.CD_CLIENTE = @CLIENTE)  OR (@CLIENTE = ''))
    	AND ((PR.CD_GRUPO  = @GRUPO)     OR (@GRUPO   = '')) --AND @GRUPO   IN (CONVERT(INT, PR.CD_GRUPO), 0)		
    	AND ((PR.CD_CELULA = @CELULA)    OR (@CELULA   = ''))
        AND ((S.CD_VIA_TRANSPORTE = @MODAL) OR (@MODAL = ''))       	
        AND (((SELECT TOP 1 CASE ISNULL(EP.NR_PROCESSO_ADM, '') WHEN '' THEN PR.CD_ANALISTA_COMISSARIA ELSE CH.CD_ATENDENTE END
               FROM TESTAGIO_PROCESSO EP (NOLOCK) WHERE EP.NR_PROCESSO_DES = PR.NR_PROCESSO) = @ATENDENTE) OR (@ATENDENTE = ''))    	
	    AND ((PR.CD_AREA = @SUBAREA)     OR (@SUBAREA = ''))
    	AND ((@AREA IN ( SELECT NM_GRUPO FROM TAREA (NOLOCK) WHERE @SUBAREA IN (CONVERT(INT, PR.CD_AREA), 0))) OR @AREA = 0)
		AND PR.IN_CANCELADO = '0'  		
		AND CONVERT(INT, F.CD_EVENTO) = (SELECT CONVERT(INT, CD_EV_BASICO)
		                                 FROM TFOLLOWUP SE (NOLOCK)
		                                 WHERE SE.NR_PROCESSO = F2.NR_PROCESSO
		                                   AND CONVERT(INT, SE.CD_EVENTO) = CONVERT(INT, @EVENTO))  
		AND F.DT_REALIZACAO IS NOT NULL  
		AND ISNULL(F.IN_APLICAVEL, '1') <> '0'
		AND F2.DT_PREVISTA > convert(datetime,'01/01/2008',103)          
		AND DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) > -1            
	  ORDER  BY ATRASO DESC   
  END
     
  IF (SELECT COUNT(*) FROM TMAIL_PENDENTES (NOLOCK) ) > 0
  BEGIN
    -- RODA TODA A PREVIA FEITA ANTERIORMENTE, PARA FILTRAR SOMENTE PELOS DIAS UTEIS        
    DECLARE @NR_PROCESSO CHAR(15)  
    DECLARE @ATRASO      INT
    DECLARE @DT_HOJE     DATETIME  
    DECLARE @PREVISAO    DATETIME  
    SELECT  @DT_HOJE = CONVERT(DATETIME,GETDATE(),103)  

    DECLARE CCURSOR CURSOR FOR
    SELECT DISTINCT NR_PROCESSO, CONVERT(DATETIME, PREVISAO, 103), ATRASO 
    FROM TMAIL_PENDENTES (NOLOCK)
    open cCursor
    fetch cCursor into @NR_PROCESSO, @PREVISAO, @ATRASO 
    while @@fetch_status = 0
    BEGIN       
      -- VERIFICAÇÃO DE DIAS UTEIS  
      if isnull(@PREVISAO, '') <> ''
      begin      
        WHILE DATEDIFF( D, @PREVISAO, @DT_HOJE ) > 0  
        BEGIN  
          IF DATEPART( dw, @PREVISAO ) IN ( 1, 7 )  
            SELECT @ATRASO = @ATRASO - 1  
          ELSE  
            IF CONVERT( datetime, @PREVISAO, 103 ) IN ( SELECT CONVERT( datetime, DT_FERIADO, 103 )  FROM   TFERIADO (NOLOCK) )  
              SELECT @ATRASO = @ATRASO - 1  
          SELECT @PREVISAO = @PREVISAO + 1  
        END  
        UPDATE TMAIL_PENDENTES  SET ATRASO = @ATRASO WHERE NR_PROCESSO = @NR_PROCESSO       
      end  
      
      FETCH CCURSOR INTO @NR_PROCESSO, @PREVISAO, @ATRASO
    END
    CLOSE CCURSOR
    DEALLOCATE CCURSOR       
  END  

  -- PROCESSOS REALIZADOS HOJE   
  INSERT INTO TMAIL_PENDENTES ( NR_PROCESSO, PREVISAO, ATRASO, SALDO_PROC, VALOR_SERVICO, CLIENTE, STATUS, AREA, DT_EVENTO_BASE, CD_REFERENCIA, LOCAL_DESEMBARQUE,NM_EVENTO_BASE, LOCAL_EMBARQUE)  
  SELECT  DISTINCT  F2.NR_PROCESSO PROCESSO, F2.DT_PREVISTA PREVISAO, DATEDIFF( D, F2.DT_PREVISTA, GETDATE() ) ATRASO, 0 VL_NUM_TAXA, 0 VALOR_SERVICO, EN.NM_EMPRESA, '+', A.NM_AREA,
   (SELECT DT_REALIZACAO FROM TFOLLOWUP (NOLOCK) WHERE CD_EVENTO IN (SELECT CD_EV_BASICO
                                                                     FROM TFOLLOWUP SE (NOLOCK) 
                                                                     WHERE SE.NR_PROCESSO = F2.NR_PROCESSO
                                                                       AND SE.CD_EVENTO = @EVENTO)
                                                                       AND NR_PROCESSO = PR.NR_PROCESSO) DT_EVENTO_BASE,									
     --by Carlos 23/08/2010 - LOCAL DE DESEMBARQUE
	 --( SELECT MASTER.DBO.RowConcatLeft(DISTINCT RTRIM(R.CD_REFERENCIA)) FROM TREF_CLIENTE R (NOLOCK) WHERE R.NR_PROCESSO=PR.NR_PROCESSO AND R.TP_REFERENCIA = CASE WHEN SUBSTRING(R.NR_PROCESSO,3,2)<>'02' THEN '01' ELSE ( SELECT ISNULL(g.TP_PEDIDO_BUSCA,'01') FROM TGRUPO g (NOLOCK) WHERE g.CD_GRUPO = ( SELECT e.CD_GRUPO FROM TEMPRESA_NAC e (NOLOCK) WHERE e.CD_EMPRESA = R.CD_EMPRESA ) ) END  ) CD_REFERENCIA,
	 ( SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.RowConcatLeft(DISTINCT RTRIM(R.CD_REFERENCIA) + ', '), ', ') FROM TREF_CLIENTE R (NOLOCK) WHERE R.NR_PROCESSO=PR.NR_PROCESSO AND R.TP_REFERENCIA = ( SELECT CASE WHEN SUBSTRING(R.NR_PROCESSO,3,2)<>'02' THEN G.TP_PEDIDO_BUSCA_IMP ELSE ISNULL(g.TP_PEDIDO_BUSCA,'01') END FROM TGRUPO g (NOLOCK) WHERE g.CD_GRUPO = ( SELECT e.CD_GRUPO FROM TEMPRESA_NAC e (NOLOCK) WHERE e.CD_EMPRESA = R.CD_EMPRESA ) )) CD_REFERENCIA,
	  ISNULL((SELECT DESCRICAO FROM TLOCAL_EMBARQUE (NOLOCK) WHERE CODIGO=PR.CD_LOCAL_DESEMBARQUE ),'-') LOCAL_DESEMBARQUE,
	  (SELECT NM_EVENTO FROM TEVENTO WHERE CD_EVENTO IN (SELECT CD_EV_BASICO
	                                                     FROM TFOLLOWUP SE (NOLOCK) 
                                                         WHERE SE.NR_PROCESSO = F2.NR_PROCESSO
                                                           AND SE.CD_EVENTO = @EVENTO)) NM_EVENTO_BASE,
     ISNULL((SELECT DESCRICAO FROM TLOCAL_EMBARQUE (NOLOCK) WHERE CODIGO=PR.CD_LOCAL_EMBARQUE ),'-') LOCAL_EMBARQUE
  FROM TPROCESSO PR (NOLOCK)
	INNER JOIN TFOLLOWUP F2    (NOLOCK) ON F2.NR_PROCESSO =  PR.NR_PROCESSO AND F2.CD_EVENTO = @EVENTO
	INNER JOIN TAREA A		   (NOLOCK) ON A.CD_AREA	  =  PR.CD_AREA
	INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON EN.CD_EMPRESA  =  PR.CD_CLIENTE
    --Comentado abaixo para utilizar a tabela de serviço novo - Eric 27/09/2012
    LEFT JOIN VW_SERVICO_GERAL S      (NOLOCK) ON S.CD_SERVICO   =  PR.CD_SERVICO		
    INNER JOIN TCLIENTE_HABILITACAO CH (NOLOCK) ON CH.CD_CLIENTE = PR.CD_CLIENTE AND CH.CD_UNID_NEG = PR.CD_UNID_NEG AND CH.CD_PRODUTO = PR.CD_PRODUTO
    LEFT  JOIN TESTAGIO_PROCESSO EP (NOLOCK) ON EP.NR_PROCESSO_DES = PR.NR_PROCESSO			
  WHERE ((PR.CD_UNID_NEG = @UNIDADE) OR (@UNIDADE = ''))
    AND ((PR.CD_PRODUTO = @PRODUTO)  OR (@PRODUTO = ''))
	AND ((PR.CD_CLIENTE = @CLIENTE)  OR (@CLIENTE = ''))
	AND ((PR.CD_GRUPO  = @GRUPO)     OR (@GRUPO   = '')) --AND @GRUPO   IN (CONVERT(INT, PR.CD_GRUPO), 0)		
   	AND ((PR.CD_CELULA = @CELULA)    OR (@CELULA   = ''))
    AND ((S.CD_VIA_TRANSPORTE = @MODAL) OR (@MODAL = ''))      	
    AND (((SELECT TOP 1 CASE ISNULL(EP.NR_PROCESSO_ADM, '') WHEN '' THEN PR.CD_ANALISTA_COMISSARIA ELSE CH.CD_ATENDENTE END
           FROM TESTAGIO_PROCESSO EP (NOLOCK) WHERE EP.NR_PROCESSO_DES = PR.NR_PROCESSO) = @ATENDENTE) OR (@ATENDENTE = ''))    		
	AND ((PR.CD_AREA = @SUBAREA)     OR (@SUBAREA = ''))
	AND ((@AREA IN ( SELECT NM_GRUPO FROM TAREA (NOLOCK) WHERE @SUBAREA IN (CONVERT(INT, PR.CD_AREA), 0))) OR @AREA = 0)
	AND PR.IN_CANCELADO = '0'  	
	AND  F2.DT_REALIZACAO BETWEEN CONVERT(DATETIME,GETDATE()-1,103) AND CONVERT(DATETIME,GETDATE()+1,103)  		
  ORDER  BY ATRASO DESC   
          
/*    
  SELECT * FROM TMAIL_PENDENTES    
  ROLLBACK TRAN    
--*/





GO
