USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_loop_campo] (@CAMPO VARCHAR(8000), @TABELA VARCHAR(8000), @WHERE VARCHAR(8000), @RETORNO VARCHAR(8000) OUTPUT) AS
BEGIN TRAN

DECLARE @CAMPO_RETORNO VARCHAR(8000)
DECLARE @SQL VARCHAR(8000)

/*
DECLARE @CAMPO VARCHAR(8000)
DECLARE @RETORNO VARCHAR(8000)
DECLARE @WHERE VARCHAR(8000)
DECLARE @TABELA VARCHAR(8000)
SELECT @RETORNO = ''
SELECT @CAMPO = ' CD_REFERENCIA'
SELECT @TABELA = ' TREF_CLIENTE'
SELECT @WHERE = ' NR_PROCESSO = ''0101IM-2261-09'' '*/

SELECT CONVERT(VARCHAR(8000), '') A INTO #TABELA 
SET @SQL = ' INSERT INTO #TABELA SELECT DISTINCT ' + @CAMPO + ' FROM ' + @TABELA + ' WHERE ' +@WHERE
DELETE #TABELA 
EXEC(@SQL)
SET @RETORNO = ''

DECLARE CCURSOR CURSOR FOR
SELECT * FROM #TABELA

OPEN CCURSOR
FETCH CCURSOR INTO @CAMPO_RETORNO
WHILE @@FETCH_STATUS = 0
BEGIN
  SELECT @RETORNO = LTRIM(RTRIM(@CAMPO_RETORNO)) + ', ' + LTRIM(RTRIM(@RETORNO))
FETCH CCURSOR INTO @CAMPO_RETORNO
END
DROP TABLE #TABELA 
CLOSE CCURSOR
DEALLOCATE CCURSOR 

SET @RETORNO = LEFT(@RETORNO, LEN(@RETORNO)-1)
COMMIT TRAN
GO
