USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_atz_devolucao    Script Date: 02/09/1999 08:58:57 AM ******/
CREATE PROCEDURE [sp_rel_fluxo_caixa_op] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente cHar(5), 
                                         @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT  ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int
SELECT @cd_unid_neg = ''
SELECT @cd_grupo   = ''
SELECT @cd_cliente = ''
SELECT @dt_inicio = CONVERT( datetime, '01/01/2001', 103 )
SELECT @dt_fim = CONVERT( datetime, '11/01/2001', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @cd_unid_neg = ISNULL( @cd_unid_neg, '' )
SELECT @cd_grupo = ISNULL( @cd_grupo, '' )
SELECT @cd_cliente = ISNULL( @cd_cliente, '' )

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_FLUXO_CAIXA_OP

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

SELECT @nr_identificador NR_IDENTIFICADOR, P.CD_UNID_NEG, P.CD_CLIENTE, S.NR_PROCESSO, SUM( ISNULL( VL_SOLICITADO, 0 ) ) VL_SOLICITADO, SUM( ISNULL( VL_RECEBIDO, 0 ) ) VL_RECEBIDO, SUM( ISNULL( VL_UTILIZADO, 0 ) ) VL_UTILIZADO,  SUM( ISNULL( VL_RECEBIDO, 0 ) ) - SUM( ISNULL( VL_UTILIZADO, 0 ) ) VL_SALDO
INTO #tmp_rel_fluxo_caixa_op
FROM   TNUMERARIO_SALDO_POR_ITEM S, TPROCESSO P, TEMPRESA_NAC E
WHERE  S.NR_PROCESSO = P.NR_PROCESSO AND
       P.IN_CANCELADO = '0' AND
       P.IN_LIBERADO = '1' AND
       P.CD_CLIENTE = E.CD_EMPRESA AND
       ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
       ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = '' ) ) AND
       ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = '' ) ) AND
       S.NR_PROCESSO NOT IN ( SELECT F.NR_PROCESSO
                              FROM   TFATURAMENTO_CC F
                              WHERE  ( F.CD_ITEM IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) OR
		              	       F.CD_ITEM IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) ) ) AND
      S.NR_PROCESSO IN ( SELECT NR_PROCESSO
                         FROM   TNUMERARIO
                         WHERE  DT_SOLICITACAO BETWEEN @dt_inicio AND @dt_fim AND
                                IN_CANCELADO = '0' )
GROUP BY P.CD_UNID_NEG, P.CD_CLIENTE, S.NR_PROCESSO
ORDER BY P.CD_UNID_NEG, P.CD_CLIENTE, S.NR_PROCESSO

INSERT TREL_FLUXO_CAIXA_OP ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_CLIENTE, NR_PROCESSO, VL_SOLICITADO, VL_RECEBIDO, VL_UTILIZADO, VL_SALDO )
SELECT NR_IDENTIFICADOR, CD_UNID_NEG, CD_CLIENTE, NR_PROCESSO, VL_SOLICITADO, VL_RECEBIDO, VL_UTILIZADO, VL_SALDO
FROM   #tmp_rel_fluxo_caixa_op
WHERE  NR_IDENTIFICADOR = @nr_identificador

DROP TABLE #tmp_rel_fluxo_caixa_op


GO
