USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [sp_unid_medida] @nm_un_med_comerc char(20), @cd_unid_medida char(3) OUTPUT AS 

DECLARE @ult_cd_unid_medida int
SELECT @cd_unid_medida = ISNULL(CD_UNID_MEDIDA, '')
FROM   TUNID_MEDIDA_BROKER
WHERE  LTRIM( RTRIM( NM_UNID_MEDIDA ) ) = LTRIM( RTRIM( @nm_un_med_comerc ) )

IF @@rowcount = 0 -- Unidade nao existe portanto cadastra
BEGIN
  SELECT @ult_cd_unid_medida = CONVERT( int, MAX( ISNULL( CD_UNID_MEDIDA, '000' ) ) ) + 1
  FROM   TUNID_MEDIDA_BROKER (TABLOCK HOLDLOCK)
  SELECT @cd_unid_medida = RIGHT( '000' + CONVERT( varchar, ISNULL ( @ult_cd_unid_medida, 1 ) ), 3 )

  INSERT TUNID_MEDIDA_BROKER ( CD_UNID_MEDIDA, NM_UNID_MEDIDA, IN_ATIVO  )
  VALUES ( @cd_unid_medida, @nm_un_med_comerc, '1' )
END
GO
