USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_rel_processo_po] ( @nr_processo char(18), @nr_identificador int output ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @nr_identificador int
SELECT @nr_processo = '0101AE-0032-00'

ROLLBACK TRAN
SET XACT_ABORT OFF

*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_PROCESSO_PO

INSERT TREL_PROCESSO_PO ( NR_IDENTIFICADOR, NR_PROCESSO, NR_PO, NR_CONHECIMENTO, DT_CHEGADA, DT_EMBARQUE, 
                          DT_PREVISTA_FABRICA, CD_LOCAL_EMBARQUE, NM_EMB_VOO, CD_IMPORTADOR, 
                          CD_LOCAL_DESEMBARQUE, CD_EXPORTADOR, CD_AGENTE, CD_MOEDA )
  SELECT DISTINCT @nr_identificador NR_IDENTIFICADOR, @nr_processo NR_PROCESSO, I.NR_PROC_PO NR_PO, P.NR_CONHECIMENTO,
         ( SELECT F.DT_REALIZACAO
           FROM   TFLP_PO F
           WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                  F.CD_EVENTO IN ( SELECT CD_EV_CHEGADA FROM TPARAMETROS ) ) DT_CHEGADA,
         ( SELECT F.DT_REALIZACAO
           FROM   TFLP_PO F
           WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                  F.CD_EVENTO IN ( SELECT CD_EV_EMBARQUE FROM TPARAMETROS ) ) DT_EMBARQUE,
         ( SELECT F.DT_REALIZACAO
           FROM   TFLP_PO F
           WHERE  F.NR_PROCESSO = PO.NR_PROCESSO AND 
                  F.CD_EVENTO IN ( SELECT CD_EV_ENTREGA_MERC FROM TPARAMETROS ) ) DT_PREVISTA,
          PO.CD_LOCAL_EMBARQUE, 
          CASE ISNULL( CD_EMBARCACAO, '' )
             WHEN '' THEN P.NR_VOO
             ELSE ( SELECT EMB.NM_EMBARCACAO 
                    FROM   TEMBARCACAO EMB
                    WHERE  EMB.CD_EMBARCACAO = P.CD_EMBARCACAO )
          END NM_EMB_VOO, 
          PO.CD_IMPORTADOR, PO.CD_LOCAL_DESEMBARQUE, PO.CD_EXPORTADOR, CD_AGENTE, CD_MOEDA_NEG
  FROM   TDETALHE_MERCADORIA I, TPROCESSO P, TPO PO 
  WHERE  I.NR_PROCESSO = P.NR_PROCESSO AND
         I.NR_PROCESSO = @nr_processo AND
         I.NR_PROC_PO = PO.NR_PROCESSO AND
         ISNULL( PO.NR_DA, '' ) = ''
 
INSERT TREL_PROCESSO_PO_ITEM ( NR_IDENTIFICADOR, NR_PROCESSO, NR_PO, NR_ITEM, CD_MERCADORIA, CD_MODALIDADE, CD_NCM,
       PL_ITEM, QT_BAIXADA, QT_INICIAL, QT_DISPONIVEL, VL_UNITARIO, VL_TOTAL_ITEM, TX_MERCADORIA )
  SELECT @nr_identificador NR_IDENTIFICADOR, @nr_processo NR_PROCESSO, I.NR_PROC_PO NR_PO, NR_ITEM_PO, I.CD_MERCADORIA,
         POI.CD_MODALIDADE, I.CD_NCM_SH, I.PL_MERCADORIA, I.QT_MERC_UN_COMERC QT_BAIXADA, POI.QT_INICIAL, POI.QT_DISPONIVEL,
         I.VL_UNITARIO, I.VL_MLE_ITEM, I.TX_DESC_DET_MERC
  FROM   TDETALHE_MERCADORIA I, TPROCESSO P, TPO PO, TPO_ITEM POI
  WHERE  I.NR_PROCESSO = P.NR_PROCESSO AND
         I.NR_PROCESSO = @nr_processo AND
         I.NR_PROC_PO = PO.NR_PROCESSO AND
         PO.NR_PROCESSO = POI.NR_PROCESSO AND
         I.NR_ITEM_PO = POI.NR_ITEM AND
         ISNULL( PO.NR_DA, '' ) = ''


GO
