USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_integracao] ( @nr_identificador int, @ident int OUTPUT ) 
AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador int
DECLARE @ident int

SELECT @nr_identificador = 1

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SET NOCOUNT ON

DECLARE @bl_005             char(20)
DECLARE @cnpj_005           char(18)
DECLARE @chpres_005         char(36)
DECLARE @dtpres_005         datetime
DECLARE @cd_cliente         char(5)
DECLARE @ngravados          integer
DECLARE @dt_pres            datetime
DECLARE @cd_cliente_proc    char(5)
DECLARE @nr_processo        char(18) 
DECLARE @bl_009             char(20)
DECLARE @chpres_009         char(36)
DECLARE @cntr_009           char(12)
DECLARE @dtdesova_009       datetime
DECLARE @dtcarregamento_009 datetime
DECLARE @dtatracacao_009    datetime
DECLARE @dtretfabrica_009   datetime
DECLARE @dtdevcntr_009      datetime
DECLARE @tpcntr_009         char(4)
DECLARE @dt_desova          datetime
DECLARE @dt_carregamento    datetime
DECLARE @dt_atracacao       datetime
DECLARE @dt_ent_fabrica     datetime
DECLARE @dt_devolucao_cntr  datetime
DECLARE @tp_cntr            char(4)
DECLARE @dt_realizacao      datetime
DECLARE @dt_ent_patio_009   datetime
DECLARE @dt_ent_patio	    datetime
DECLARE @dt_ret_fabrica     datetime
DECLARE @dtentfabrica_009   datetime
DECLARE @bl_007  	    char(20)
DECLARE @nr_sequencia_007   char(3)
DECLARE @chpres_007         char(36)
DECLARE @embalagem_007      char(12)
DECLARE @qtde_007	    float
DECLARE @saldo_007	    float
DECLARE @peso_007           float
DECLARE @obs_avaria_007     char(30)
DECLARE @nm_especie         char(100)
DECLARE @in_avaria_007      char(1)
DECLARE @vl_qtde	    float
DECLARE @saldo              float
DECLARE @peso		    float
DECLARE @obs_avaria         char(30)	
DECLARE @obs_avaria_009 varchar(300)

SELECT @ngravados = 0

SELECT @ident = ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1
FROM   TDIVERGENCIA

-- Se a tabela já existe na base, apago (pode ter ocorrido algum erro na 
-- integração anterior que impediu de o processo ser concluído)
/*
IF EXISTS ( SELECT NAME FROM sysobjects WHERE type = 'U' and NAME = 'TMENSAGEM_AUX' )
BEGIN
  DROP TABLE dbo.TMENSAGEM_AUX
END

IF EXISTS (SELECT NAME FROM sysobjects WHERE type = 'U' and NAME = 'TPROCESSO_AVARIA')
BEGIN
  DROP TABLE dbo.TPROCESSO_AVARIA
END
*/
-- Cria as tabelas auxiliares
SELECT CAST('' AS CHAR(4)) AS CD_ANALISTA_COMISSARIA, CAST('' AS CHAR(500))AS DS_TEXT
INTO #TPROCESSO_AVARIA

/*
SELECT CAST('' AS CHAR(500))AS DS_TEXT
INTO dbo.TMENSAGEM_AUX

CREATE TABLE dbo.TMENSAGEM_AUX
(DS_TEXT char(500))
*/

-- NAVIO - VIAGEM
/* Cursor Tabela TINT_MESQUITA005 */
DECLARE c_int005 CURSOR FOR
  SELECT NR_BL, NR_CNPJ, ISNULL(CH_PRESENCA, ''), ISNULL(DT_PRESENCA, '')
  FROM   TINT_MESQUITA005
  WHERE  NR_IDENTIFICADOR = @nr_identificador

OPEN c_int005 
FETCH c_int005 INTO @bl_005, @cnpj_005, @chpres_005, @dtpres_005
WHILE @@fetch_status = 0
BEGIN
  -- Pega nº Cliente 
  SELECT @cd_cliente = '0'
  IF NOT EXISTS( SELECT CD_EMPRESA
                 FROM   TEMPRESA_NAC
                 WHERE  CGC_EMPRESA = @cnpj_005 )
  BEGIN
    SELECT @ngravados = 1
    INSERT INTO TDIVERGENCIA
    VALUES (@ident, 'DIV;2;Cliente não cadastrado:;' + @cnpj_005 + ' BL: ' + @bl_005 + ' CH Pres ' + @chpres_005 )
  END 
  ELSE
  BEGIN
    SELECT @cd_cliente = ISNULL(CD_EMPRESA, '')
    FROM   TEMPRESA_NAC
    WHERE  CGC_EMPRESA = @cnpj_005

    -- Procura o processo na TPROCESSO 
    IF NOT EXISTS( SELECT NR_PROCESSO
                   FROM   TPROCESSO
                   WHERE  NR_CONHECIMENTO = @bl_005
                     AND  NR_PRESENCA_CARGA = @chpres_005 )
    BEGIN
      SELECT @ngravados = 1  
      INSERT INTO TDIVERGENCIA
      VALUES (@ident, 'DIV;4;Processo não encontrado ;BL:;' + @bl_005 + ';CH PRES:;' + @chpres_005 )
    END
    ELSE
    BEGIN
      SELECT @dt_pres = ISNULL(DT_PRESENCA_CARGA, ''), @cd_cliente_proc = ISNULL(CD_CLIENTE, ''), @nr_processo = NR_PROCESSO
      FROM   TPROCESSO
      WHERE  NR_CONHECIMENTO = @bl_005
        AND  NR_PRESENCA_CARGA = @chpres_005

      -- Grava Data da Presença 
      IF @dtpres_005 <> '' -- se dt do arquivo txt não for nula
      BEGIN
        IF @dt_pres = ''   -- se dt do bco for nula
        BEGIN 
          UPDATE TPROCESSO
          SET    DT_PRESENCA_CARGA = @dtpres_005
          WHERE  NR_CONHECIMENTO = @bl_005
            AND  NR_PRESENCA_CARGA = @chpres_005 
        END   
        ELSE
        BEGIN 
          IF @dtpres_005 <> @dt_pres
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;3;Data da presença de carga divergente ' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_005 + ';Presença:;' + @chpres_005 +
                           ';no Banco:;' + CONVERT( CHAR(10), @dt_pres, 103 ) + ';no TXT:;' + CONVERT( CHAR(10), @dtpres_005, 103 )) 
          END
        END
      END   

      -- Grava Cliente 
      IF @cd_cliente <> ''       -- se cliente do arquivo txt não for nulo
      BEGIN
        IF @cd_cliente_proc = '' -- se cliente do banco for nulo
        BEGIN
          UPDATE TPROCESSO
          SET    CD_CLIENTE = @cd_cliente
          WHERE  NR_CONHECIMENTO = @bl_005
          AND  NR_PRESENCA_CARGA = @chpres_005 
        END
        ELSE
        BEGIN
          IF @cd_cliente_proc <> @cd_cliente
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;14;Código do Cliente divergente ' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_005 + ';Presença:;' + @chpres_005 +
                           ';no Banco:;' + @cd_cliente_proc + ';no TXT:;' + @cd_cliente ) 
          END
        END
      END       
    END
  END

  -- Se CH Pres = '', grava no arq. divergência 
  IF @chpres_005 = ''
  BEGIN
    SELECT @ngravados = 1
    INSERT INTO TDIVERGENCIA
    VALUES (@ident,'DIV;5;Campo CH Pres branco:; BL:; ' + @bl_005 )
  END

  FETCH c_int005 INTO @bl_005, @cnpj_005, @chpres_005, @dtpres_005
END
CLOSE c_int005
DEALLOCATE c_int005

-- CONTEINER
/* TINT_MESQUITA009 */
DECLARE c_int009 CURSOR FOR
  SELECT NR_BL, CH_PRESENCA, RTRIM( NR_CNTR ) , ISNULL( DT_DESOVA, ''), ISNULL( DT_CARREGAMENTO, ''), 
         ISNULL( DT_ATRACACAO, ''), ISNULL( DT_RET_FABRICA, ''), ISNULL( DT_DEV_CNTR, ''),
         ISNULL( TP_CNTR, ''), ISNULL( DT_ENT_FABRICA, ''), ISNULL( DT_ENT_PATIO, ''), ISNULL( TX_OBS_AVARIA, '')
  FROM   TINT_MESQUITA009
  WHERE  NR_IDENTIFICADOR = @nr_identificador

OPEN c_int009 
FETCH c_int009 INTO @bl_009, @chpres_009, @cntr_009, @dtdesova_009, @dtcarregamento_009, @dtatracacao_009, 
      @dtretfabrica_009, @dtdevcntr_009, @tpcntr_009, @dtentfabrica_009, @dt_ent_patio_009, @obs_avaria_009
WHILE @@fetch_status = 0
BEGIN
  -- Procura o processo na TPROCESSO 
  IF NOT EXISTS( SELECT NR_PROCESSO
                 FROM   TPROCESSO
                 WHERE  NR_CONHECIMENTO = @bl_009
                   AND  NR_PRESENCA_CARGA = @chpres_009 )
  BEGIN
    SELECT @ngravados = 1  
    INSERT INTO TDIVERGENCIA
    VALUES ( @ident, 'DIV;6;Processo não encontrado ( 009 ) ;BL:;' + @bl_009 +
                     ';CH PRES:;' + @chpres_009 )
  END
  ELSE
  BEGIN
    SELECT @nr_processo = NR_PROCESSO
    FROM   TPROCESSO
    WHERE  NR_CONHECIMENTO = @bl_009
      AND  NR_PRESENCA_CARGA = @chpres_009

    IF NOT EXISTS( SELECT NR_PROCESSO
                   FROM   TPROCESSO_CNTR
                   WHERE  NR_PROCESSO = @nr_processo
                     AND  NR_CNTR = @cntr_009 ) 
    BEGIN
      INSERT INTO TPROCESSO_CNTR( NR_PROCESSO, NR_CNTR, DT_DESOVA, TP_CNTR, DT_DEVOLUCAO_CNTR, DT_ENT, DT_ENTREGA_FABRICA, DT_RET_CNTR_FABRICA, DT_CARREGAMENTO, DT_ENTRADA_PATIO_TRANSP, TX_OBS_AVARIA, IN_MESQUITA )
      VALUES ( @nr_processo, @cntr_009, @dtdesova_009, @tpcntr_009, @dtdevcntr_009, @dtatracacao_009, @dtentfabrica_009, @dtretfabrica_009, @dtcarregamento_009, @dt_ent_patio_009, CAST( @obs_avaria_009 as text), '1' )
    END
    ELSE
    BEGIN
      SELECT @dt_desova = ISNULL(DT_DESOVA, ''), @dt_carregamento = ISNULL(DT_CARREGAMENTO, ''),
             @dt_atracacao = ISNULL(DT_ENT, ''), @dt_ent_fabrica = ISNULL(DT_ENTREGA_FABRICA, ''),
             @dt_devolucao_cntr = ISNULL(DT_DEVOLUCAO_CNTR, ''), @tp_cntr = ISNULL(TP_CNTR, ''),
	     @dt_ent_patio = ISNULL( DT_ENTRADA_PATIO_TRANSP, ''), @dt_ent_fabrica = ISNULL( DT_ENTREGA_FABRICA ,'') ,
             @dt_ret_fabrica = ISNULL(DT_RET_CNTR_FABRICA,''), @obs_avaria = ISNULL( TX_OBS_AVARIA, '')
      FROM   TPROCESSO_CNTR
      WHERE  NR_PROCESSO = @nr_processo
        AND  NR_CNTR = @cntr_009  
      
      --  Data DESOVA
      IF @dtdesova_009 <> ''
      BEGIN
        IF @dt_desova = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_DESOVA = @dtdesova_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtdesova_009 <> @dt_desova
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;7;Data da Desova divergente ' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_009 + ';Presença:;' + @chpres_009 +
                           ';CNTR:;' +  @cntr_009 + 
                           ';no Banco:;' + CONVERT( CHAR(10), @dt_desova, 103 ) + ';no TXT:;' + CONVERT( CHAR(10), @dtdesova_009, 103 )) 
          END  
        END
      END

      --  Data CARREGAMENTO
      IF @dtcarregamento_009 <> ''
      BEGIN
        IF @dt_carregamento = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_CARREGAMENTO = @dtcarregamento_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtcarregamento_009 <> @dt_carregamento
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;8;Data do Carregamento divergente ' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_009 + ';Presença:;' + @chpres_009 +
                           ';CNTR:;' +  @cntr_009 + ';no Banco:;' + CONVERT( CHAR(10), @dt_carregamento, 103 ) + 
                           ';no TXT:;' + CONVERT( CHAR(10), @dtcarregamento_009, 103 )) 
          END  
        END
      END

      --  Data ENTRADA/ATRACAÇÃO
      IF @dtatracacao_009 <> ''
      BEGIN
        IF @dt_atracacao = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_ENT = @dtatracacao_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtatracacao_009 <> @dt_atracacao
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;9;Dt Entrada/Atracação divergente' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_009 + ';Presença:;' + @chpres_009 +
                           ';CNTR:;' +  @cntr_009 + ';no Banco:;' + CONVERT( CHAR(10), @dt_atracacao, 103 ) + 
                           ';no TXT:;' + CONVERT( CHAR(10), @dtatracacao_009, 103) )
          END  
        END
      END

      --  Data ENTREGA FÁBRICA
      IF @dtentfabrica_009 <> ''
      BEGIN
        IF @dt_ent_fabrica = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_ENTREGA_FABRICA = @dtentfabrica_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtretfabrica_009 <> @dt_ent_fabrica
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;10;Dt Entrega Fábrica divergente' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_009 + ';Presença:;' + @chpres_009 +
                           ';CNTR:;' +  @cntr_009 + ';no Banco:;' + CAST( @dt_ent_fabrica AS CHAR(10) ) + 
                           ';no TXT:;' + CONVERT( CHAR(10), @dtentfabrica_009, 103) ) 
          END  
        END
      END

      --  Data DEVOLUÇÃO CNTR
      IF @dtdevcntr_009 <> ''
      BEGIN
        IF @dt_devolucao_cntr = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_DEVOLUCAO_CNTR = @dtdevcntr_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtdevcntr_009 <> @dt_devolucao_cntr
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;11;Dt Devolução CNTR divergente' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_009 + ';Presença:;' + @chpres_009 +
                           ';CNTR:;' +  @cntr_009 + ';no Banco:;' + CONVERT( CHAR(10), @dt_devolucao_cntr,103 ) + 
                           ';no TXT:;' + CONVERT( CHAR(10), @dtdevcntr_009, 103 ) ) 
          END  
        END
      END

      --  Tipo CNTR
      IF @tpcntr_009 <> ''
      BEGIN
        IF @tp_cntr = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    TP_CNTR = @tpcntr_009
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @tpcntr_009 <> @tp_cntr
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;12;Tipo de CNTR divergente ' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_009 + ';Presença:;' + @chpres_009 +
                           ';CNTR:;' + @cntr_009 + ';no Banco:;' + @tp_cntr + 
                           ';no TXT:;' + @tpcntr_009 ) 
          END  
        END
      END

      --  Data REALIZAÇÃO POR PROCESSO
      IF @dtatracacao_009 <> ''
      BEGIN
        SELECT @dt_realizacao = DT_REALIZACAO
        FROM   TFOLLOWUP
        WHERE  NR_PROCESSO = @nr_processo
          AND  IN_APLICAVEL = 1
          AND  CD_EVENTO = 162

        IF @dt_realizacao = ''
        BEGIN
          UPDATE TFOLLOWUP
          SET    DT_REALIZACAO = @dtatracacao_009
          WHERE  NR_PROCESSO = @nr_processo
            AND IN_APLICAVEL = 1
            AND CD_EVENTO = 162
        END
        ELSE
        BEGIN
          IF @dtatracacao_009 <> @dt_realizacao
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;13;Data de Realização divergente ' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_009 + ';Presença:;' + @chpres_009 +
                           ';CNTR:;' +  @cntr_009 + ';no Banco:;' + CONVERT( CHAR(10), @dt_realizacao, 103 ) + 
                           ';no TXT:;' + CONVERT( CHAR(10), @dtatracacao_009, 103) ) 
          END  
        END
      END

      -- Data RETIRADA FÁBRICA
      IF @dtretfabrica_009 <> ''
      BEGIN
        IF @dt_ret_fabrica = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_RET_CNTR_FABRICA = @dtretfabrica_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dtretfabrica_009 <> @dt_ret_fabrica
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;14;Dt Retirada Fábrica divergente' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_009 + ';Presença:;' + @chpres_009 +
                           ';CNTR:;' +  @cntr_009 + ';no Banco:;' + CONVERT( CHAR(10), @dt_ret_fabrica, 103 ) + 
                           ';no TXT:;' + CONVERT( CHAR(10), @dtretfabrica_009, 103) ) 
          END  
        END
      END

      -- Data ENTRADA PÁTIO
      IF @dt_ent_patio_009 <> ''
      BEGIN
        IF @dt_ent_patio = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    DT_ENTRADA_PATIO_TRANSP = @dt_ent_patio_009,
		 IN_MESQUITA = 1
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 
        END
        ELSE
        BEGIN
          IF @dt_ent_patio_009 <> @dt_ent_patio
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;15;Dt Entrada Pátio divergente' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_009 + ';Presença:;' + @chpres_009 +
                           ';CNTR:;' +  @cntr_009 + ';no Banco:;' + CONVERT( CHAR(10), @dt_ent_patio, 103) + 
                           ';no TXT:;' + CONVERT( CHAR(10),  @dt_ent_patio_009, 103 ) ) 
          END  
        END
      END

      -- Avaria
      IF @obs_avaria_009 <> ''
      BEGIN
        IF @obs_avaria = ''
        BEGIN
          UPDATE TPROCESSO_CNTR
          SET    TX_OBS_AVARIA = @obs_avaria_009
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_CNTR = @cntr_009 

          INSERT INTO #TPROCESSO_AVARIA ( CD_ANALISTA_COMISSARIA, DS_TEXT )
	  SELECT P.CD_ANALISTA_COMISSARIA, 'N° Processo: ' + RIGHT( @nr_processo, LEN(@nr_processo) - 4 ) + ' N° Conteiner: ' + LEFT( @cntr_009, 4 ) + '-' + 
	  RIGHT( LEFT( @cntr_009, 7 ), 3 ) + '-' + RIGHT( LEFT( @cntr_009, 10 ), 3 ) + '-' + RIGHT( RTRIM( @cntr_009), 1) +
	    ' Avaria: ' + RTRIM( @obs_avaria_009 )
	  FROM TPROCESSO P
	  WHERE P.NR_PROCESSO = @nr_processo

        END
      END   
    END  
  END

  FETCH c_int009 INTO @bl_009, @chpres_009, @cntr_009, @dtdesova_009, @dtcarregamento_009, @dtatracacao_009, 
	@dtretfabrica_009, @dtdevcntr_009, @tpcntr_009, @dtentfabrica_009, @dt_ent_patio_009, @obs_avaria_009
END
CLOSE c_int009
DEALLOCATE c_int009


-- CARGA SOLTA
/*TINT_MESQUITA007*/

DECLARE c_int007 CURSOR FOR
  SELECT NR_BL, CH_PRESENCA, NR_SEQUENCIA, ISNULL(EMBALAGEM, ''), ISNULL(QTDE, 0), 
         ISNULL(SALDO, 0), ISNULL(PESO, 0), ISNULL(LTRIM(RTRIM(OBS_AVARIA)), '')
  FROM   TINT_MESQUITA007
  WHERE  NR_IDENTIFICADOR = @nr_identificador AND LEFT(EMBALAGEM, 9) <> 'CONTEINER'

OPEN c_int007
FETCH c_int007 INTO @bl_007, @chpres_007, @nr_sequencia_007, @embalagem_007, @qtde_007, @saldo_007, @peso_007, @obs_avaria_007
WHILE @@fetch_status = 0
BEGIN
  -- Procura o processo na TPROCESSO 
  IF NOT EXISTS( SELECT NR_PROCESSO
                 FROM   TPROCESSO
                 WHERE  NR_CONHECIMENTO = @bl_007
                   AND  NR_PRESENCA_CARGA = @chpres_007 )
  BEGIN
    SELECT @ngravados = 1  
    INSERT INTO TDIVERGENCIA
    VALUES ( @ident, 'DIV;16;Processo não encontrado ( 007 ) ;BL:;' + @bl_007 +
                     ';CH PRES:;' + @chpres_007 )
  END
  ELSE
  BEGIN
    SELECT @nr_processo = NR_PROCESSO
    FROM   TPROCESSO
    WHERE  NR_CONHECIMENTO = @bl_007
      AND  NR_PRESENCA_CARGA = @chpres_007

    IF NOT EXISTS( SELECT NR_PROCESSO
                   FROM   TPROCESSO_CARGA_SOLTA
                   WHERE  NR_PROCESSO = @nr_processo and NR_SEQUENCIA = @nr_sequencia_007) 
    BEGIN
      INSERT INTO TPROCESSO_CARGA_SOLTA ( NR_PROCESSO, NR_SEQUENCIA, VL_QTDE, NM_ESPECIE, SALDO, PESO, IN_AVARIA, OBS_AVARIA )
      VALUES (  @nr_processo, @nr_sequencia_007, @qtde_007, @embalagem_007, @saldo_007, @peso_007, @in_avaria_007, @obs_avaria_007 )
    END
    ELSE
    BEGIN
      SELECT @vl_qtde = ISNULL(VL_QTDE, 0), @nm_especie = ISNULL(NM_ESPECIE, ''), @saldo = ISNULL(SALDO, 0), 
        @peso = ISNULL(PESO, 0), @obs_avaria = ISNULL(OBS_AVARIA, '')
    FROM   TPROCESSO_CARGA_SOLTA
      WHERE NR_PROCESSO = @nr_processo
        AND  NR_SEQUENCIA = @nr_sequencia_007
      
      --  QUANTIDADE
      IF @qtde_007 <> 0 
      BEGIN
        IF @vl_qtde = 0
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    VL_QTDE = @qtde_007
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007
        END
        ELSE
        BEGIN
          IF @qtde_007 <> @vl_qtde
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;17;Quantidade de mercadoria divergente ' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_007 + ';Presença:;' + @chpres_007 +
                           ';NR_SEQUENCIA:;' +  @nr_sequencia_007 + 
                           ';no Banco:;' + CAST(@vl_qtde as CHAR(10)) + ';no TXT:;' + CAST(@qtde_007 as CHAR(10)) ) 
          END  
        END
      END

      --  NM_ESPECIE
      IF @embalagem_007 <> ''
      BEGIN
        IF @nm_especie = ''
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    NM_ESPECIE = @embalagem_007
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007
        END
      END

      -- SALDO
      IF @saldo_007 <> 0
      BEGIN
        IF @saldo = 0
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    SALDO = @saldo_007
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007
        END
        ELSE
        BEGIN
          IF @dtatracacao_009 <> @dt_atracacao
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;19;Saldo divergente' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_007 + ';Presença:;' + @chpres_007 +
                           ';NR_SEQUENCIA:;' +  @nr_sequencia_007 + 
			   ';no Banco:;' + CAST( @saldo as CHAR(10)) + 
                           ';no TXT:;' +  CAST( @saldo_007 as CHAR(10)) )
          END  
        END
      END

      -- PESO
      IF @peso_007 <> 0
      BEGIN
        IF @peso = 0
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    PESO =  @peso_007
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007
        END
        ELSE
        BEGIN
          IF @peso_007 <> @peso
          BEGIN
            SELECT @ngravados = 1
            INSERT INTO TDIVERGENCIA
            VALUES (@ident,'DIV;20;Dt Peso divergente' + ';Processo:;' + @nr_processo +
                           ';BL:;' + @bl_007 + ';Presença:;' + @chpres_007 +
                           ';NR_SEQUENCIA:;' +  @nr_sequencia_007 + ';no Banco:;' + CAST( @peso AS CHAR(10) ) + 
                           ';no TXT:;' + CAST( @peso_007 AS CHAR(10) ) ) 
          END  
        END
      END

      --  OBS_AVARIA
      IF @obs_avaria_007 <> ''
      BEGIN
        IF @obs_avaria = ''
        BEGIN
          UPDATE TPROCESSO_CARGA_SOLTA 
          SET    OBS_AVARIA = @obs_avaria_007,
		 IN_AVARIA = '1' 
          WHERE  NR_PROCESSO = @nr_processo
            AND  NR_SEQUENCIA = @nr_sequencia_007

          INSERT INTO #TPROCESSO_AVARIA ( CD_ANALISTA_COMISSARIA, DS_TEXT )
	  SELECT P.CD_ANALISTA_COMISSARIA, 'N° Processo: ' + RIGHT( @nr_processo, LEN(@nr_processo) - 4 ) + ' N° Sequencia: ' + @nr_sequencia_007 + 
	  ' Avaria: ' + @obs_avaria_007
	  FROM TPROCESSO P
	  WHERE P.NR_PROCESSO = @nr_processo

        END
      END
    END  
  END

  FETCH c_int007 INTO @bl_007, @chpres_007, @nr_sequencia_007, @embalagem_007, @qtde_007, @saldo_007, @peso_007, 
      @obs_avaria_007
END
CLOSE c_int007
DEALLOCATE c_int007

IF @ngravados = 0 
BEGIN
  SELECT @ident = 0
END

-- script para envio de e-mails
declare @cd_analista_comissaria char(4),
	@nm_email varchar(255),	
	@new_email	varchar(255),
	@nm_arquivo varchar (50), 
	@query_result varchar(500)

-- Abre o cursor
DECLARE c_EnviaMsg CURSOR FOR
SELECT DISTINCT CD_ANALISTA_COMISSARIA
FROM #TPROCESSO_AVARIA
ORDER BY CD_ANALISTA_COMISSARIA

OPEN c_EnviaMsg
FETCH c_EnviaMsg INTO @cd_analista_comissaria
WHILE @@fetch_status = 0
  BEGIN

    SET @nm_arquivo = 'Processo-Avaria_' + REPLACE(CONVERT(CHAR(10), GETDATE(), 103), '/', '') + '_' + 
      REPLACE(CONVERT(CHAR(5), GETDATE(), 108), ':', 'h') + '.txt'

    SET @nm_email = ( SELECT ISNULL( NM_EMAIL, 'suporte@indaialogistica.com.br')
   	       	      FROM TUSUARIO
		      WHERE CD_USUARIO = @cd_analista_comissaria )
    
    -- Insere na temporária a mensagem de cada analista
    INSERT INTO TMENSAGEM_AUX
    SELECT DS_TEXT	         
    FROM #TPROCESSO_AVARIA
    WHERE CD_ANALISTA_COMISSARIA = @cd_analista_comissaria 

   -- Envia o e-mail com as avarias do processo para o analista
    EXEC master.dbo.xp_sendmail @nm_email /*'cristiane.damasceno@indaialogistica.com.br'*/, 
	 @query = 'SELECT DS_TEXT FROM TMENSAGEM_AUX', @no_header= 'TRUE', @subject = 'Processo - Avaria',
	 @attachments = @nm_arquivo, @attach_results = 'TRUE', @width = 250

   
    -- Limpa a tabela depois de enviar o e-mail de cada analista
--    DELETE TMENSAGEM_AUX

  FETCH c_EnviaMsg INTO @cd_analista_comissaria
END
CLOSE c_EnviaMsg
DEALLOCATE c_EnviaMsg

-- Limpa as tabelas auxiliares
DROP TABLE #TPROCESSO_AVARIA
--DROP TABLE TMENSAGEM_AUX




















GO
