USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_rel_est_volumes] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                      @cd_agente char(4), @dt_ini datetime, @dt_fim datetime, @in_cntr char(1),
                                      @in_carga_solta char(1), @nr_identificador int output ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_agente char(4)
DECLARE @dt_ini datetime
DECLARE @dt_fim datetime
DECLARE @in_cntr char(1)
DECLARE @in_carga_solta char(1)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = 'X' 
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @cd_agente = 'X'
SELECT @dt_ini = CONVERT( datetime, '01/01/2001', 103 )
SELECT @dt_fim = CONVERT( datetime, '10/02/2002', 103 )
SELECT @in_cntr = '1'
SELECT @in_carga_solta = '1'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = ISNULL( MAX( NR_IDENTIFICADOR), 0 ) + 1
FROM   TREL_EST_VOLUMES (TABLOCK HOLDLOCK)

IF @in_cntr = '1' 
BEGIN
  INSERT TREL_EST_VOLUMES ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NM_VOLUME, CD_AGENTE, CD_CLIENTE, CD_LOCAL_ORIGEM, CD_EMP_EST, 
                            CD_TRANSPORTADOR, CD_ARMAZEM_DESCARGA, CD_ARMAZEM_ATRACACAO, DT_DESEMB, DT_ENVIO_NF_TRANSP,
                            TP_FRETE, CD_MOEDA_FRETE, VL_QTDE, VL_FRETE_MNEG, VL_FRETE_MN, VL_PESO_BRUTO, VL_M3, VL_CIF_DOLAR, VL_CIF_MN, CD_PAIS_DESTINO,
                            CD_MOEDA_MLE, VL_MLE_MNEG, VL_MLE_MN )
    SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, ISNULL( T.NM_TP_CNTR, '' ) AS NM_VOLUME, MAX( P.CD_AGENTE ) AS CD_AGENTE, 
           MAX( P.CD_CLIENTE ) AS CD_CLIENTE,
           MAX( P.CD_LOCAL_EMBARQUE ) AS CD_LOCAL_ORIGEM, MAX( P.CD_EMP_EST ) AS CD_EMP_EST, 
           MAX( ISNULL( P.CD_TRANSPORTADOR, '' ) ), 
           MAX( ISNULL( P.CD_ARMAZEM_DESCARGA, '' ) ),
           MAX( ISNULL( P.CD_ARMAZEM_ATRACACAO, '' ) ),
           ( SELECT DT_REALIZACAO
             FROM   TFOLLOWUP F
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) AND
                    IN_APLICAVEL = '1' ) AS DT_DESEMB, 
           ( SELECT DT_REALIZACAO
             FROM   TFOLLOWUP F
             WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) AND
                    IN_APLICAVEL = '1' ) AS DT_NF_TRANSP,
           MAX( ISNULL( P.TP_FRETE, '' ) ) AS TP_FRETE, MAX( P.CD_MOEDA_FRETE ) AS CD_MOEDA_FRETE, 
           COUNT( ISNULL( C.TP_CNTR, '' ) ) AS VL_QTDE, 
           MAX(
           CASE P.TP_FRETE
              WHEN '0' THEN ISNULL( VL_FRETE_COLLECT_MNEG, 0 )
              WHEN '1' THEN ISNULL( VL_FRETE_PREPAID_MNEG, 0 )
           END ) AS VL_FRETE_MNEG,
           MAX( ISNULL( P.VL_FRETE_MN, 0 ) ) AS VL_FRETE_MN,
           CASE P.CD_PRODUTO
             WHEN '01' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '02' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
             WHEN '03' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '10' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
           END AS VL_PESO_BRUTO,
           MAX( ISNULL( P.VL_M3, 0 ) ) AS VL_M3,
           P.VL_CIF_DOLAR, P.VL_CIF_MN, MAX( P.CD_PAIS_DESTINO ) AS CD_PAIS_DESTINO,
           MAX( P.CD_MOEDA_MLE ), MAX( P.VL_MLE_MNEG ), MAX( P.VL_MLE_MN )
    FROM   TPROCESSO_CNTR C, TPROCESSO P, TEMPRESA_NAC EN, TDECLARACAO_IMPORTACAO DI, TTP_CNTR T, TPROCESSO_EXP EX
    WHERE  C.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_CLIENTE = EN.CD_EMPRESA AND
           P.NR_PROCESSO *= DI.NR_PROCESSO AND
           P.NR_PROCESSO *= EX.NR_PROCESSO AND
           C.TP_CNTR = T.TP_CNTR AND
           P.IN_CANCELADO = '0' AND
           ISNULL( C.TP_CNTR, '' ) NOT IN ( '', '01' ) AND
           ISNULL( P.TP_FRETE, '' ) <> '' AND
           ISNULL( P.CD_EMP_EST, '' ) <> '' AND
           ISNULL( P.CD_AGENTE, '' ) <> '' AND
           ISNULL( P.CD_LOCAL_EMBARQUE, '' ) <> '' AND
           ISNULL( P.CD_MOEDA_FRETE, '' ) <> '' AND
           ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )AND
           ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) )AND
           ( ( P.CD_AGENTE = @cd_agente ) OR ( @cd_agente = 'X' ) ) AND
           ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
           ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
           P.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim
    GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.NR_PROCESSO, ISNULL( T.NM_TP_CNTR, '' ),
             P.VL_CIF_DOLAR, P.VL_CIF_MN, P.CD_PAIS_DESTINO
    ORDER BY P.NR_PROCESSO
END

IF @in_carga_solta = '1'
BEGIN
  INSERT TREL_EST_VOLUMES ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, NR_PROCESSO, NM_VOLUME, CD_AGENTE, CD_CLIENTE, CD_LOCAL_ORIGEM, CD_EMP_EST, 
                            CD_TRANSPORTADOR, CD_ARMAZEM_DESCARGA, CD_ARMAZEM_ATRACACAO, DT_DESEMB, DT_ENVIO_NF_TRANSP,
                            TP_FRETE, CD_MOEDA_FRETE, VL_QTDE, VL_FRETE_MNEG, VL_FRETE_MN, VL_PESO_BRUTO, VL_M3, VL_CIF_DOLAR, VL_CIF_MN, CD_PAIS_DESTINO,
                            CD_MOEDA_MLE, VL_MLE_MNEG, VL_MLE_MN )
    SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, CS.NR_PROCESSO, ISNULL( CS.NM_ESPECIE, '' ) AS NM_VOLUME, MAX( P.CD_AGENTE ) AS CD_AGENTE, 
           MAX( P.CD_CLIENTE ) AS CD_CLIENTE, MAX( P.CD_LOCAL_EMBARQUE ) AS CD_LOCAL_ORIGEM, MAX( P.CD_EMP_EST ) AS CD_EMP_EST, 
           MAX( ISNULL( P.CD_TRANSPORTADOR, '' ) ), 
           MAX( ISNULL( P.CD_ARMAZEM_DESCARGA, '' ) ),
           MAX( ISNULL( P.CD_ARMAZEM_ATRACACAO, '' ) ),
           ( SELECT DT_REALIZACAO
             FROM   TFOLLOWUP F
             WHERE  F.NR_PROCESSO = CS.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_DESEMB FROM TPARAMETROS ) AND
                    IN_APLICAVEL = '1' ) AS DT_DESEMB, 
           ( SELECT DT_REALIZACAO
             FROM   TFOLLOWUP F
             WHERE  F.NR_PROCESSO = CS.NR_PROCESSO AND
                    F.CD_EVENTO IN ( SELECT CD_EV_NF_TRANSP FROM TPARAMETROS ) AND
                    IN_APLICAVEL = '1' ) AS DT_EV_NF_TRANSP, 
           MAX( ISNULL( P.TP_FRETE, '' ) ) AS TP_FRETE, MAX( P.CD_MOEDA_FRETE ) AS CD_MOEDA_FRETE, 
           COUNT( ISNULL( CS.NM_ESPECIE, '' ) ) AS VL_QTDE,
           MAX(
           CASE P.TP_FRETE
              WHEN '0' THEN ISNULL( VL_FRETE_COLLECT_MNEG, 0 )
              WHEN '1' THEN ISNULL( VL_FRETE_PREPAID_MNEG, 0 )
           END ) AS VL_FRETE_MNEG,
           MAX( ISNULL( P.VL_FRETE_MN, 0 ) ) AS VL_FRETE_MN,
           CASE P.CD_PRODUTO
             WHEN '01' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '02' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
             WHEN '03' THEN MAX( ISNULL( DI.PB_CARGA, 0 ) ) 
             WHEN '10' THEN MAX( ISNULL( EX.VL_PESO_BRUTO, 0 ) ) 
           END AS VL_PESO_BRUTO,
           MAX( ISNULL( P.VL_M3, 0 ) ) AS VL_M3,
           P.VL_CIF_DOLAR, P.VL_CIF_MN, MAX( P.CD_PAIS_DESTINO ) AS CD_PAIS_DESTINO,
           MAX( P.CD_MOEDA_MLE ), MAX( P.VL_MLE_MNEG ), MAX( P.VL_MLE_MN )
    FROM   TPROCESSO P, TEMPRESA_NAC EN, TDECLARACAO_IMPORTACAO DI, TPROCESSO_CARGA_SOLTA CS, TPROCESSO_EXP EX
    WHERE  CS.NR_PROCESSO IN ( SELECT C.NR_PROCESSO
                               FROM   TPROCESSO_CNTR C
                               WHERE  ISNULL( C.TP_CNTR, '' ) IN ( '', '01' ) ) AND
           CS.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_CLIENTE = EN.CD_EMPRESA AND
           P.NR_PROCESSO *= DI.NR_PROCESSO AND
           P.NR_PROCESSO *= EX.NR_PROCESSO AND
           P.IN_CANCELADO = '0' AND
           ISNULL( P.TP_FRETE, '' ) <> '' AND
           ISNULL( P.CD_EMP_EST, '' ) <> '' AND
           ISNULL( P.CD_AGENTE, '' ) <> '' AND
           ISNULL( P.CD_LOCAL_EMBARQUE, '' ) <> '' AND
           ISNULL( P.CD_MOEDA_FRETE, '' ) <> '' AND
           ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )AND
           ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) )AND
           ( ( P.CD_AGENTE = @cd_agente ) OR ( @cd_agente = 'X' ) ) AND
           ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
           ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
           P.DT_ABERTURA BETWEEN @dt_ini AND @dt_fim
    GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, CS.NR_PROCESSO, CS.NM_ESPECIE,
             P.VL_CIF_DOLAR, P.VL_CIF_MN, P.CD_PAIS_DESTINO
    ORDER BY CS.NR_PROCESSO
END

-- Valores Faturamento
UPDATE TREL_EST_VOLUMES
SET    VL_AFRMM = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                            FROM   TFATURAMENTO_CC F
                            WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                   F.IN_CANCELADO = '0' AND 
                                   F.CD_ITEM IN ( '160' ) ), 0 ),
       VL_LIB_BL = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                             FROM   TFATURAMENTO_CC F
                             WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                    F.IN_CANCELADO = '0' AND 
                                    F.CD_ITEM IN ( '076' ) ), 0 ),
       VL_TX_DESC = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                              FROM   TFATURAMENTO_CC F
                              WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                     F.IN_CANCELADO = '0' AND 
                                     F.CD_ITEM IN ( '060' ) ), 0 ),
       VL_HANDLING = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                               FROM   TFATURAMENTO_CC F
                               WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                      F.IN_CANCELADO = '0' AND 
                                      F.CD_ITEM IN ( '377' ) ), 0 ),
       VL_CAPATAZIA = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                                FROM   TFATURAMENTO_CC F
                                WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                       F.IN_CANCELADO = '0' AND 
                                       F.CD_ITEM IN ( '040' ) ), 0 ),
       VL_THC_TERMINAL = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                                   FROM   TFATURAMENTO_CC F
                                   WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                          F.IN_CANCELADO = '0' AND 
                                          F.CD_ITEM IN ( '110' ) ), 0 ),
       VL_MOV_CARREGAMENTO = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                                       FROM   TFATURAMENTO_CC F
                                       WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                              F.IN_CANCELADO = '0' AND 
                                              F.CD_ITEM IN ( '083', '305' ) ), 0 ),
       VL_ARMAZENAGEM = ISNULL( ( SELECT ROUND( SUM( ISNULL( CASE F.IN_RESTITUI WHEN '0' THEN VL_ITEM ELSE - VL_ITEM END, 0 ) ), 2 )
                                  FROM   TFATURAMENTO_CC F
                                  WHERE  F.NR_PROCESSO = R.NR_PROCESSO AND
                                         F.IN_CANCELADO = '0' AND 
                                         F.CD_ITEM IN ( '015', '041' ) ), 0 )
FROM   TREL_EST_VOLUMES R
WHERE  NR_IDENTIFICADOR = @nr_identificador

UPDATE TREL_EST_VOLUMES
SET    TX_MERCADORIA = P.TX_MERCADORIA
FROM   TREL_EST_VOLUMES R, TPROCESSO P
WHERE  R.NR_PROCESSO = P.NR_PROCESSO


GO
