USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* Calculo de Capatazias do processo */
/**/
CREATE PROCEDURE [sp_calc_capatazias](
  @nr_processo char(18),
  @cd_item     char(3),
  @resultado   float output
) AS
--*/
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE
  @nr_processo char(18),
  @cd_item     char(3),
  @resultado   float

SET @nr_processo   = '0101I0-0006-06'
--*/
SET @resultado = 0

DECLARE
  @cd_agente       char(4),
  @cd_produto      char(2),
  @cd_taxa         char(4),
  @qt_cntr20       float,
  @qt_cntr40       float,
  @vl_peso_bruto   float,
  @vl_cptz_cntr_20 float,
  @vl_cptz_cntr_40 float,
  @vl_cptz_c_solta float,
  @vl_resultado    numeric(13,3)

-- SELECIONA O PROCESSO
SELECT
  @cd_agente  = CD_AGENTE,
  @cd_produto = CD_PRODUTO
FROM TPROCESSO (NOLOCK)
WHERE NR_PROCESSO = @nr_processo

IF @@rowcount = 0
  -- Processo nao encontrado'
  RETURN(1)
ELSE
BEGIN
  -- SELECIONA O AGENTE
  SELECT
    @cd_taxa = CASE @cd_produto 
                 WHEN '01' THEN CD_TAXA_IMP 
                 WHEN '02' THEN CD_TAXA_EXP 
                 WHEN '03' THEN CD_TAXA_IMP 
                 WHEN '10' THEN CD_TAXA_EXP 
                 ELSE 0
               END
  FROM TAGENTE (NOLOCK)
  WHERE CD_AGENTE = @cd_agente
  
  IF @@rowcount = 0
    -- Agente nao encontrado
    RETURN(2)
  ELSE
  BEGIN
    SET @cd_taxa = RIGHT(('0000' + RTRIM(@cd_taxa)), 4)
    SELECT
      @vl_cptz_cntr_20 = VL_CPTZ_CNTR_20,
      @vl_cptz_cntr_40 = VL_CPTZ_CNTR_40,
      @vl_cptz_c_solta = VL_CPTZ_C_SOLTA
    FROM TAGENTE_TAXA (NOLOCK)
    WHERE CD_TAXA = @cd_taxa
    
    IF @@rowcount = 0
      -- Taxa nao encontrada
      RETURN(3)
    ELSE
    BEGIN
      -- PESQUISA EMBALAGEM
      SELECT @qt_cntr20 = ISNULL(SUM(P.QT_EMBALAGEM), 0)
      FROM TPROCESSO_EMBALAGEM P (NOLOCK), TEMBALAGEM E (NOLOCK)
      WHERE P.NR_PROCESSO  = @nr_processo
        AND P.CD_EMBALAGEM = E.CD_EMBALAGEM
        AND E.CD_TIPO IN ('2','4')
      
      SELECT @qt_cntr40 = ISNULL(SUM(P.QT_EMBALAGEM), 0)
      FROM TPROCESSO_EMBALAGEM P (NOLOCK), TEMBALAGEM E (NOLOCK)
      WHERE P.NR_PROCESSO  = @nr_processo
        AND P.CD_EMBALAGEM = E.CD_EMBALAGEM
        AND E.CD_TIPO IN ('3','5')

      SELECT @vl_peso_bruto = ISNULL(SUM(P.QT_EMBALAGEM), 0) 
      FROM TPROCESSO_EMBALAGEM P (NOLOCK), TEMBALAGEM E (NOLOCK)
      WHERE P.NR_PROCESSO  = @nr_processo
        AND P.CD_EMBALAGEM = E.CD_EMBALAGEM
        AND E.CD_TIPO IN ('1','6')

      IF (@qt_cntr20 + @qt_cntr40) = 0
      BEGIN
        SET @vl_resultado = ROUND(((@vl_peso_bruto / 1000) * @vl_cptz_c_solta), 2)
      END
      ELSE
      BEGIN
        SET @vl_resultado = ROUND(((@qt_cntr20 * @vl_cptz_cntr_20) + (@qt_cntr40 * @vl_cptz_cntr_40)), 2)
      END
      -- RETORNA O CALCULO
      SELECT @resultado = @vl_resultado
      RETURN(0)
    END
  END
END
/*
print @resultado

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
