USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_LISTA_EVENTOS_PROCESSO](@NR_PROCESSO CHAR(18), @IN_GRAVA_FATORES CHAR(1) = '0') AS
BEGIN
    /*
    DECLARE @NR_PROCESSO      CHAR(18) = '0102EM-7838-13'
    DECLARE @IN_GRAVA_FATORES CHAR(1) = '0'
    --*/
    DECLARE @RETORNO AS TABLE (
        CD_EVENTO        CHAR(3),
        CD_EVENTO_BASE   CHAR(3),
        PZ_EVENTO_BASE   INT,
        NR_ORDEM         INT,
        IN_PRAZO_UTIL    CHAR(1),
        IN_PRAZO_FERIADO CHAR(1)
    )

    DECLARE @CD_UNID_NEG       CHAR(2)
    DECLARE @CD_PRODUTO        CHAR(2)
    DECLARE @CD_GRUPO          CHAR(3)
    DECLARE @CD_SERVICO        INT
    DECLARE @CD_SERVICO_EVENTO INT
    
    SELECT @CD_UNID_NEG = CD_UNID_NEG,
           @CD_PRODUTO  = CD_PRODUTO,
           @CD_GRUPO    = CD_GRUPO,
           @CD_SERVICO  = CD_SERVICO
    FROM TPROCESSO
    WHERE NR_PROCESSO = @NR_PROCESSO

    INSERT INTO @RETORNO
    SELECT SEN.CD_EVENTO, SEN.CD_EV_BASICO, SEN.PZ_DO_EV_BASICO, SEN.NR_ORDEM, SEN.IN_PRAZO_UTIL, SEN.IN_PRAZO_FERIADO
    FROM TSERVICO_EVENTO_NOVO SEN (NOLOCK)
       INNER JOIN TPROCESSO P (NOLOCK) ON P.CD_SERVICO = SEN.CD_SERVICO
    WHERE P.NR_PROCESSO = @NR_PROCESSO

    DECLARE @FATORES AS TABLE (
        CD_FATOR                INT,
        NM_CAMPO_PROCESSO       VARCHAR(100),
        NM_TABELA               VARCHAR(100),
        NM_CAMPO_CHAVE_TABELA   VARCHAR(100),
        NM_CAMPO_RETORNO_TABELA VARCHAR(100),
        CD_COMPARADOR           CHAR(2),
        NM_SQL                  NVARCHAR(MAX),
        NM_RETORNO              VARCHAR(1000)
    )
    DECLARE @CD_FATOR                INT
    DECLARE @NM_CAMPO_PROCESSO       VARCHAR(100)
    DECLARE @NM_TABELA               VARCHAR(100)
    DECLARE @NM_CAMPO_CHAVE_TABELA   VARCHAR(100)
    DECLARE @NM_CAMPO_RETORNO_TABELA VARCHAR(100)
    DECLARE @CD_COMPARADOR           CHAR(2)
    DECLARE @NM_SQL                  NVARCHAR(MAX)
    DECLARE @NM_RETORNO              VARCHAR(1000)
    DECLARE @IN_FATOR_OK             INT

    DECLARE @FATOR_EVENTOS AS TABLE (
        CD_EVENTO          CHAR(3),
        CD_EVENTO_ANTERIOR CHAR(3),
        CD_EVENTO_BASE     CHAR(3),
        PZ_EVENTO_BASE     INT,
        IN_PRAZO_UTIL      CHAR(1),
        IN_PRAZO_FERIADO   CHAR(1),
        IN_ALTERAR         CHAR(1),
        IN_EXCLUIR         CHAR(1),
        CD_SERVICO         INT
    )

    INSERT INTO @FATORES
    SELECT DISTINCT F.CD_FATOR,
                    F.NM_CAMPO_PROCESSO,
                    F.NM_TABELA,
                    F.NM_CAMPO_CHAVE_TABELA,
                    F.NM_CAMPO_RETORNO_TABELA,
                    F.CD_COMPARADOR,
                    F.NM_SQL,
                    F.NM_RETORNO
    FROM TFATORES F
       INNER JOIN TFATORES_SERVICOS FS ON FS.CD_FATOR = F.CD_FATOR
    WHERE F.CD_UNID_NEG IN ('XX', @CD_UNID_NEG)
      AND F.CD_PRODUTO  IN ('XX', @CD_PRODUTO)
      AND F.CD_GRUPO    IN ('XXX', @CD_GRUPO)
      AND FS.CD_SERVICO IN (@CD_SERVICO, 0)

    DECLARE @CD_EVENTO          CHAR(3)
    DECLARE @CD_EVENTO_ANTERIOR CHAR(3)
    DECLARE @CD_EVENTO_BASE     CHAR(3)
    DECLARE @PZ_EVENTO_BASE     INT
    DECLARE @NR_ORDEM           INT
    DECLARE @IN_PRAZO_UTIL      CHAR(1)
    DECLARE @IN_PRAZO_FERIADO   CHAR(1)
    DECLARE @IN_ALTERAR         CHAR(1)
    DECLARE @IN_EXCLUIR         CHAR(1)

    DECLARE @NM_DESCRICAO       VARCHAR(1000)
    DECLARE @CD_OPERACAO        CHAR(1)

    SET @IN_GRAVA_FATORES = ISNULL(@IN_GRAVA_FATORES, '0')
    IF @IN_GRAVA_FATORES = '1'
    BEGIN
        DELETE TPROCESSO_FATORES_EVENTO
        WHERE NR_PROCESSO = @NR_PROCESSO

        INSERT INTO TPROCESSO_FATORES_EVENTO(NR_PROCESSO, CD_FATOR, CD_EVENTO, CD_SERVICO, CD_OPERACAO, NR_ORDEM, DT_OPERACAO)
        SELECT @NR_PROCESSO, NULL, CD_EVENTO, @CD_SERVICO, '-', NR_ORDEM, GETDATE()
        FROM @RETORNO
    END

    WHILE (SELECT COUNT(*) FROM @FATORES) > 0
    BEGIN
        SELECT TOP 1 @CD_FATOR                = CD_FATOR,
                     @NM_CAMPO_PROCESSO       = NM_CAMPO_PROCESSO,
                     @NM_TABELA               = NM_TABELA,
                     @NM_CAMPO_CHAVE_TABELA   = NM_CAMPO_CHAVE_TABELA,
                     @NM_CAMPO_RETORNO_TABELA = NM_CAMPO_RETORNO_TABELA,
                     @CD_COMPARADOR           = CD_COMPARADOR,
                     @NM_SQL                  = NM_SQL,
                     @NM_RETORNO              = NM_RETORNO
        FROM @FATORES
        ORDER BY CD_FATOR

        SET @IN_FATOR_OK = 0
        EXEC @IN_FATOR_OK = SP_VALIDA_RETORNO_FATOR @CD_FATOR, @NR_PROCESSO, @NM_CAMPO_PROCESSO, @NM_TABELA, @NM_CAMPO_CHAVE_TABELA, @NM_CAMPO_RETORNO_TABELA,
           @CD_COMPARADOR, @NM_SQL, @NM_RETORNO

        PRINT 'Fator: ' + CONVERT(VARCHAR, @CD_FATOR)
        PRINT 'Ok: ' + CONVERT(VARCHAR, @IN_FATOR_OK)

        IF ISNULL(@IN_FATOR_OK, 0) = 1
        BEGIN
            INSERT INTO @FATOR_EVENTOS
            SELECT CD_EVENTO,
                   CD_EVENTO_ANTERIOR,
                   CD_EVENTO_BASE,
                   PZ_EVENTO_BASE,
                   IN_PRAZO_UTIL,
                   IN_PRAZO_FERIADO,
                   ISNULL(IN_ALTERAR, '0'),
                   ISNULL(IN_EXCLUIR, '0'),
                   CD_SERVICO
            FROM TFATORES_EVENTO
            WHERE CD_FATOR = @CD_FATOR
              AND CD_SERVICO IN (0, @CD_SERVICO)
            ORDER BY NR_PRIORIDADE

            WHILE (SELECT COUNT(*) FROM @FATOR_EVENTOS) > 0
            BEGIN
                SELECT TOP 1 @CD_EVENTO          = CD_EVENTO,
                             @CD_EVENTO_ANTERIOR = CD_EVENTO_ANTERIOR,
                             @CD_EVENTO_BASE     = CD_EVENTO_BASE,
                             @PZ_EVENTO_BASE     = PZ_EVENTO_BASE,
                             @IN_PRAZO_UTIL      = ISNULL(IN_PRAZO_UTIL, '0'),
                             @IN_PRAZO_FERIADO   = ISNULL(IN_PRAZO_FERIADO, '0'),
                             @IN_ALTERAR         = ISNULL(IN_ALTERAR, '0'),
                             @IN_EXCLUIR         = ISNULL(IN_EXCLUIR, '0'),
                             @CD_SERVICO_EVENTO  = CD_SERVICO
                FROM @FATOR_EVENTOS

                IF @@ROWCOUNT > 0
                BEGIN
                    SET @NR_ORDEM = NULL
                    SET @NM_DESCRICAO = ''

                    IF /*(@IN_ALTERAR = '0') AND */(@IN_EXCLUIR = '0')
                    BEGIN
                        IF @CD_EVENTO_ANTERIOR IS NOT NULL
                        BEGIN
                            SELECT @NR_ORDEM   = NR_ORDEM +1
                            FROM @RETORNO
                            WHERE CD_EVENTO = @CD_EVENTO_ANTERIOR
                        
                            IF @NR_ORDEM IS NULL
                                SET @NM_DESCRICAO = 'Evento ' + @CD_EVENTO_ANTERIOR + ' não foi encontrado.'
                            ELSE
                                SET @NM_DESCRICAO = 'Evento ' + @CD_EVENTO_ANTERIOR + ' encontrado na ordem ' + CONVERT(VARCHAR, @NR_ORDEM -1) + '.'
                        END

                        IF @NR_ORDEM IS NULL
                            SELECT @NR_ORDEM = NR_ORDEM
                            FROM @RETORNO
                            WHERE CD_EVENTO = @CD_EVENTO

                        IF @NR_ORDEM IS NULL
                            SELECT @NR_ORDEM = ISNULL(MAX(NR_ORDEM), 0)
                            FROM @RETORNO

                        UPDATE @RETORNO
                        SET NR_ORDEM = NR_ORDEM + 2
                        WHERE NR_ORDEM >= @NR_ORDEM
                    END

                    IF @IN_ALTERAR = '1'
                    BEGIN
                        IF (SELECT COUNT(*) FROM @RETORNO WHERE CD_EVENTO = @CD_EVENTO) > 0
                            SELECT @NM_DESCRICAO = @NM_DESCRICAO + ' Evento ' + @CD_EVENTO + ' alterado: ' + CASE ISNULL(@CD_EVENTO_BASE, CD_EVENTO_BASE)
                                                                                                                 WHEN CD_EVENTO_BASE THEN ''
                                                                                                             ELSE 'Evento Base=' + CD_EVENTO_BASE + '->' + @CD_EVENTO_BASE + '; '
                                                                                                             END + CASE ISNULL(@PZ_EVENTO_BASE, PZ_EVENTO_BASE)
                                                                                                                       WHEN PZ_EVENTO_BASE THEN ''
                                                                                                                   ELSE 'Prazo=' + CONVERT(VARCHAR, PZ_EVENTO_BASE) + '->' + CONVERT(VARCHAR, @PZ_EVENTO_BASE) + '; '
                                                                                                                   END + CASE ISNULL(@NR_ORDEM, NR_ORDEM)
                                                                                                                             WHEN NR_ORDEM THEN ''
                                                                                                                         ELSE 'Ordem=' + CONVERT(VARCHAR, NR_ORDEM) + '->' + CONVERT(VARCHAR, @NR_ORDEM) + '; '
                                                                                                                         END + CASE ISNULL(@IN_PRAZO_UTIL, IN_PRAZO_UTIL)
                                                                                                                                   WHEN IN_PRAZO_UTIL THEN ''
                                                                                                                               ELSE 'Descontar Final de Semana=' + CASE IN_PRAZO_UTIL
                                                                                                                                                                       WHEN '1' THEN 'Sim'
                                                                                                                                                                   ELSE 'Não'
                                                                                                                                                                   END + '->' + CASE @IN_PRAZO_UTIL
                                                                                                                                                                                    WHEN '1' THEN 'Sim'
                                                                                                                                                                                ELSE 'Não'
                                                                                                                                                                                END + '; '
                                                                                                                               END + CASE ISNULL(@IN_PRAZO_FERIADO, IN_PRAZO_FERIADO)
                                                                                                                                         WHEN IN_PRAZO_FERIADO THEN ''
                                                                                                                                     ELSE 'Descontar Feriados=' + CASE IN_PRAZO_FERIADO
                                                                                                                                                                      WHEN '1' THEN 'Sim'
                                                                                                                                                                  ELSE 'Não'
                                                                                                                                                                  END + '->' + CASE @IN_PRAZO_FERIADO
                                                                                                                                                                                   WHEN '1' THEN 'Sim'
                                                                                                                                                                               ELSE 'Não'
                                                                                                                                                                               END + '; '
                                                                                                                                     END
                            FROM @RETORNO
                            WHERE CD_EVENTO = @CD_EVENTO
                        ELSE
                            SET @NM_DESCRICAO = @NM_DESCRICAO + ' Evento ' + @CD_EVENTO + ' não encontrado para atualizar.'

                        UPDATE @RETORNO
                        SET CD_EVENTO_BASE    = ISNULL(@CD_EVENTO_BASE, CD_EVENTO_BASE),
                            PZ_EVENTO_BASE    = ISNULL(@PZ_EVENTO_BASE, PZ_EVENTO_BASE),
                            NR_ORDEM          = ISNULL(@NR_ORDEM, NR_ORDEM),
                            IN_PRAZO_UTIL     = ISNULL(@IN_PRAZO_UTIL, IN_PRAZO_UTIL),
                            IN_PRAZO_FERIADO  = ISNULL(@IN_PRAZO_FERIADO, IN_PRAZO_FERIADO)
                        WHERE CD_EVENTO = @CD_EVENTO

                        SET @CD_OPERACAO = '1'
                    END
                    ELSE IF @IN_EXCLUIR = '1'
                    BEGIN
                        IF (SELECT COUNT(*) FROM @RETORNO WHERE CD_EVENTO = @CD_EVENTO) > 0
                            SET @NM_DESCRICAO = @NM_DESCRICAO + ' Evento ' + @CD_EVENTO + ' excluído.'
                        ELSE
                            SET @NM_DESCRICAO = @NM_DESCRICAO + ' Evento ' + @CD_EVENTO + ' não encontrado para excluir.'

                        DELETE @RETORNO
                        WHERE CD_EVENTO = @CD_EVENTO

                        SET @CD_OPERACAO = '2'
                    END
                    ELSE IF (SELECT COUNT(*) FROM @RETORNO WHERE CD_EVENTO = @CD_EVENTO) = 0
                    BEGIN
                        INSERT INTO @RETORNO(CD_EVENTO, CD_EVENTO_BASE, PZ_EVENTO_BASE, NR_ORDEM, IN_PRAZO_UTIL, IN_PRAZO_FERIADO)
                        VALUES(@CD_EVENTO, @CD_EVENTO_BASE, @PZ_EVENTO_BASE, @NR_ORDEM, @IN_PRAZO_UTIL, @IN_PRAZO_FERIADO)

                        SET @CD_OPERACAO = '0'
                        SET @NM_DESCRICAO = @NM_DESCRICAO + ' Evento ' + @CD_EVENTO + ' inserido na ordem ' + CONVERT(VARCHAR, @NR_ORDEM) + '.'
                    END

                    IF @IN_GRAVA_FATORES = '1'
                        INSERT INTO TPROCESSO_FATORES_EVENTO(NR_PROCESSO, CD_FATOR, CD_EVENTO, CD_SERVICO, CD_OPERACAO, NR_ORDEM, DT_OPERACAO, CD_EVENTO_ANTERIOR, NM_DESCRICAO)
                        SELECT @NR_PROCESSO, @CD_FATOR, @CD_EVENTO, @CD_SERVICO_EVENTO, @CD_OPERACAO, ISNULL(MAX(NR_ORDEM), 0) +1, GETDATE(), @CD_EVENTO_ANTERIOR, @NM_DESCRICAO
                        FROM TPROCESSO_FATORES_EVENTO
                        WHERE NR_PROCESSO = @NR_PROCESSO
                END

                DELETE @FATOR_EVENTOS
                WHERE CD_EVENTO = @CD_EVENTO

                /*
                IF @CD_EVENTO = '113'
                BEGIN
                    SELECT @CD_EVENTO, @CD_EVENTO_ANTERIOR, @CD_EVENTO_BASE, @CD_FATOR, @IN_ALTERAR, @IN_EXCLUIR, @NR_ORDEM

                    SELECT CD_EVENTO,
                           CD_EVENTO_BASE,
                           PZ_EVENTO_BASE,
                           IN_PRAZO_UTIL,
                           IN_PRAZO_FERIADO,
                           DENSE_RANK() OVER(ORDER BY NR_ORDEM) AS NR_ORDEM
                    FROM @RETORNO
                    ORDER BY NR_ORDEM

                    RETURN
                END --*/
            END
        END

        DELETE @FATORES
        WHERE CD_FATOR = @CD_FATOR
    END

    SELECT CD_EVENTO,
           CD_EVENTO_BASE,
           PZ_EVENTO_BASE,
           IN_PRAZO_UTIL,
           IN_PRAZO_FERIADO,
           DENSE_RANK() OVER(ORDER BY NR_ORDEM) AS NR_ORDEM
    FROM @RETORNO
    ORDER BY NR_ORDEM

    /*
    SELECT *
    FROM TPROCESSO_FATORES_EVENTO
    WHERE NR_PROCESSO = @NR_PROCESSO
    ORDER BY NR_ORDEM
    --*/
END

GO
