USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [sp_rel_rent_proc]  ( @cd_unid_neg char(2), @cd_produto char(2),  @cd_grupo char(3),
                                     @cd_cliente char(5), @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char (5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = '00002'
SELECT @dt_inicio = CONVERT( datetime, '14/04/2003', 103 )
SELECT @dt_fim = CONVERT( datetime, '20/04/2003', 103 )
*/

DECLARE @cd_item_ir              char(3)
DECLARE @cd_item_comissao        char(3)
DECLARE @cd_item_logistica       char(3)
DECLARE @cd_item_cofins          char(3) 
DECLARE @cd_item_cofins_retencao char(3)

SELECT @cd_item_ir              = CD_ITEM_IR,
       @cd_item_comissao        = CD_ITEM_COMISSAO, 
       @cd_item_logistica       = CD_ITEM_LOGISTICA,
       @cd_item_cofins          = CD_ITEM_COFINS,
       @cd_item_cofins_retencao = CD_ITEM_COFINS_RETENCAO
FROM   TPARAMETROS

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR,0 ) ) + 1
FROM  TREL_RENT_PROC_CAPA

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 ) 

INSERT TREL_RENT_PROC_CAPA ( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, NR_FATURA, DT_FATURA )
SELECT @nr_identificador, FC.NR_PROCESSO, P.CD_UNID_NEG, FC.CD_PRODUTO, P.CD_CLIENTE, MAX (F.NR_NOTA_FATURA), MAX(F.DT_FATURA)
FROM   TFATURAMENTO_CC FC (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TS_FATURA F (NOLOCK), TPROCESSO P (NOLOCK), 
       TEMPRESA_NAC EN (NOLOCK), TITEM I (NOLOCK)
WHERE  FC.NR_PROCESSO = P.NR_PROCESSO AND
       FC.CD_UNID_NEG = P.CD_UNID_NEG AND
       FC.CD_PRODUTO = P.CD_PRODUTO AND
       FC.NR_PROCESSO = FP.NR_PROCESSO AND
       FC.NR_SOLIC_FAT = FP.NR_SOLICITACAO AND
       FC.CD_UNID_NEG = FP.CD_UNID_NEG AND
       FC.CD_PRODUTO = FP.CD_PRODUTO AND
       FP.CD_UNID_NEG = F.CD_UNID_NEG AND
       FP.CD_PRODUTO = F.CD_PRODUTO AND
       FP.NR_SOLICITACAO = F.NR_SOLICITACAO AND
       P.CD_CLIENTE = EN.CD_EMPRESA AND
       P.CD_GRUPO = EN.CD_GRUPO AND
       FC.CD_ITEM = I.CD_ITEM AND
       I.CD_TIPO_ITEM IN ( 'R', 'D' ) AND
       ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR (  @cd_unid_neg = 'X' ) ) AND
       ( ( P.CD_PRODUTO =  @cd_produto ) OR (  @cd_produto = 'X' ) ) AND
       ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       F.DT_FATURA BETWEEN  CONVERT( datetime, @dt_inicio, 103 ) AND  CONVERT( datetime, @dt_fim, 103 ) AND
       FC.IN_FATURADO <> '0' AND
       FC.CD_ITEM IN ( @cd_item_logistica )
GROUP BY  FC.NR_PROCESSO, P.CD_UNID_NEG, FC.CD_PRODUTO, P.CD_CLIENTE


SELECT DISTINCT @nr_identificador AS NR_IDENTIFICADOR, PC.NR_PROCESSO, I.CD_ITEM,
       SUM( CASE FC.IN_RESTITUI 
              WHEN '0' THEN ISNULL( FC.VL_ITEM, 0 )
              WHEN '1' THEN ISNULL( FC.VL_ITEM, 0 ) * (-1)
            END ) AS VL_ITEM,
       ( CASE 
           WHEN ( FC.IN_FATURADO = '2' OR FC.CD_ITEM = @cd_item_ir OR I.CD_TIPO_ITEM = 'R' ) THEN '1'
           WHEN FC.IN_FATURADO = '1' THEN '2'
         END ) AS CD_COLUNA
INTO   #TREL_RENT_PROC_ITEM
FROM   TREL_RENT_PROC_CAPA PC (NOLOCK), TFATURAMENTO_CC FC (NOLOCK), TITEM I (NOLOCK)
WHERE  PC.NR_PROCESSO = FC.NR_PROCESSO AND
       I.CD_TIPO_ITEM IN ( 'R', 'D' ) AND
       FC.CD_ITEM = I.CD_ITEM AND
       PC.NR_IDENTIFICADOR = @nr_identificador  AND
       FC.IN_FATURADO <> '0' AND
       FC.IN_CANCELADO = '0' AND
       ISNULL( FC.CD_ITEM_NAO_FAT, '' ) <> '*' AND
       FC.CD_ITEM <> @cd_item_comissao AND
       FC.CD_ITEM <> @cd_item_ir       AND 
       FC.CD_ITEM <> @cd_item_cofins   AND
       FC.CD_ITEM <> @cd_item_cofins_retencao AND 
	   FC.CD_ITEM <> '998'
GROUP BY PC.NR_PROCESSO, I.CD_ITEM, ( CASE 
                                        WHEN ( FC.IN_FATURADO = '2' OR FC.CD_ITEM = @cd_item_ir OR I.CD_TIPO_ITEM = 'R' ) THEN '1'
                                        WHEN FC.IN_FATURADO = '1' THEN '2'
                                      END )


INSERT INTO TAUX_REL_RENT_PROC 
SELECT @nr_identificador as NR_IDENTIFICADOR, FC.NR_PROCESSO, CD_REFERENCIA, CD_MERCADORIA
FROM   TFATURAMENTO_CC FC (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), TS_FATURA F (NOLOCK), TPROCESSO P (NOLOCK), 
       TEMPRESA_NAC EN (NOLOCK), TITEM I (NOLOCK), TREF_CLIENTE REF, TDETALHE_MERCADORIA DM
WHERE  FC.NR_PROCESSO = P.NR_PROCESSO AND
       FC.CD_UNID_NEG = P.CD_UNID_NEG AND
       FC.CD_PRODUTO = P.CD_PRODUTO AND
       FC.NR_PROCESSO = FP.NR_PROCESSO AND
       FC.NR_SOLIC_FAT = FP.NR_SOLICITACAO AND
       FC.CD_UNID_NEG = FP.CD_UNID_NEG AND
       FC.CD_PRODUTO = FP.CD_PRODUTO AND
       FP.CD_UNID_NEG = F.CD_UNID_NEG AND
       FP.CD_PRODUTO = F.CD_PRODUTO AND
       FP.NR_SOLICITACAO = F.NR_SOLICITACAO AND
       P.CD_CLIENTE = EN.CD_EMPRESA AND
       P.CD_GRUPO = EN.CD_GRUPO AND
       FC.CD_ITEM = I.CD_ITEM AND
       P.NR_PROCESSO = REF.NR_PROCESSO AND
       DM.NR_PROCESSO = REF.NR_PROCESSO AND
       DM.NR_PROC_PO = REF.CD_REFERENCIA AND
       I.CD_TIPO_ITEM IN ( 'R', 'D' ) AND
       ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR (  @cd_unid_neg = 'X' ) ) AND
       ( ( P.CD_PRODUTO =  @cd_produto ) OR (  @cd_produto = 'X' ) ) AND
       ( ( EN.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) AND
       ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) ) AND
       F.DT_FATURA BETWEEN  CONVERT( datetime, @dt_inicio, 103 ) AND  CONVERT( datetime, @dt_fim, 103 ) AND
       FC.IN_FATURADO <> '0' AND
       FC.CD_ITEM IN ( @cd_item_logistica )
GROUP BY  FC.NR_PROCESSO, P.CD_UNID_NEG, FC.CD_PRODUTO, P.CD_CLIENTE, REF.CD_REFERENCIA, DM.CD_MERCADORIA


INSERT TREL_RENT_PROC_ITEM ( NR_IDENTIFICADOR, NR_PROCESSO, CD_ITEM, CD_COLUNA, VL_ITEM ) 
SELECT DISTINCT TMP1.NR_IDENTIFICADOR , TMP1.NR_PROCESSO, TMP1.CD_ITEM, TMP1.CD_COLUNA,
       ( SELECT SUM( TMP.VL_ITEM ) 
           FROM #TREL_RENT_PROC_ITEM TMP
          WHERE TMP.NR_PROCESSO = TMP1.NR_PROCESSO AND
                TMP.CD_ITEM     = TMP1.CD_ITEM     AND
                TMP.CD_COLUNA   = TMP1.CD_COLUNA )
FROM   #TREL_RENT_PROC_ITEM TMP1


DROP TABLE #TREL_RENT_PROC_ITEM


GO
