USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_nac_calculo]( @nr_processo char(18) ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18) 
SELECT @nr_processo = '0101DD-0001-02'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_moeda_mle       char(3)
DECLARE @cd_moeda_frete     char(3)
DECLARE @cd_incoterm        char(3)
DECLARE @in_embut_frt_itens char(1)
DECLARE @nr_di              char(10)
DECLARE @tx_mle             numeric(14, 7)
DECLARE @tx_frete           numeric(14, 7)
DECLARE @tx_dolar           numeric(14, 7)
DECLARE @vl_mle_mneg        numeric(16, 2)
DECLARE @vl_mld_mneg        numeric(16, 2)
DECLARE @vl_mle_dolar       numeric(16, 2)
DECLARE @vl_mld_dolar       numeric(16, 2)
DECLARE @vl_frete_mneg      numeric(16, 2)
DECLARE @vl_frete_dolar     numeric(16, 2)
DECLARE @vl_unitario        numeric(16, 7)
DECLARE @pl_nac             numeric(16, 5)
DECLARE @pl_ref             numeric(16, 5)
DECLARE @nr_tot_nac         int
DECLARE @nr_processo_da     char(18)
DECLARE @nr_ref             varchar(15) 
DECLARE @nr_lote            varchar(12) 
DECLARE @cd_mercadoria      varchar(30)
DECLARE @cd_unid_neg        char(2)
DECLARE @cd_produto         char(2)

SELECT @tx_mle    = 0
SELECT @tx_frete  = 0
SELECT @tx_dolar  = 0

SELECT @cd_unid_neg = SUBSTRING( @nr_processo, 1, 2 )
SELECT @cd_produto  = SUBSTRING( @nr_processo, 3, 2 )

SELECT @pl_nac = SUM( ISNULL( PL_NAC, 0 ) )
FROM   TNAC_ITEM 
WHERE  NR_PROCESSO = @nr_processo

-- Traz os valores para variáveis de trabalho
EXEC sp_nac_atz_taxa_cambio @nr_processo

SELECT @cd_incoterm = ISNULL( CD_INCOTERM, '' )
FROM   TNAC ( PAGLOCK HOLDLOCK )
WHERE  NR_PROCESSO = @nr_processo

DECLARE c_nac CURSOR FOR
  SELECT NR_PROCESSO_DA, NR_REF, CD_MERCADORIA, NR_LOTE
  FROM   TNAC_ITEM
  WHERE  NR_PROCESSO = @nr_processo

OPEN c_nac
FETCH c_nac INTO @nr_processo_da, @nr_ref, @cd_mercadoria, @nr_lote
WHILE @@fetch_status = 0
BEGIN
  SELECT @vl_frete_mneg = VL_FRETE_MNEG,
         @pl_ref        = PL_REF
  FROM   TDA_REF ( PAGLOCK HOLDLOCK )
  WHERE  NR_PROCESSO    = @cd_unid_neg + @cd_produto + @nr_processo_da AND
         NR_REF         = @nr_ref         AND
         CD_MERCADORIA  = @cd_mercadoria

  SELECT @cd_moeda_mle       = CD_MOEDA_MLE,
         @cd_moeda_frete     = CD_MOEDA_FRETE,
         @tx_mle             = ISNULL( TX_MLE, 0 ),
         @tx_frete           = ISNULL( TX_FRETE, 0 ),
         @tx_dolar           = ISNULL( TX_DOLAR, 0 ),
         @vl_unitario        = ISNULL( VL_UNITARIO, 0 ),
         @pl_nac             = ISNULL( PL_NAC, 0 ),
         @in_embut_frt_itens = IN_EMBUT_FRT_ITENS
  FROM   TNAC_ITEM ( PAGLOCK HOLDLOCK )
  WHERE  NR_PROCESSO    = @nr_processo    AND
         NR_PROCESSO_DA = @nr_processo_da AND
         NR_REF         = @nr_ref         AND
         CD_MERCADORIA  = @cd_mercadoria  AND
         NR_LOTE        = @nr_lote

  SELECT @vl_mle_mneg   = ROUND( ( @vl_unitario * @pl_nac ), 2 )
  SELECT @vl_mld_mneg   = @vl_mle_mneg 
  SELECT @vl_frete_mneg = ROUND( ( ( @vl_frete_mneg / @pl_ref ) * @pl_nac ), 5 )

  IF @in_embut_frt_itens = '1'
  BEGIN
    IF @cd_moeda_mle <> @cd_moeda_frete
      SELECT @vl_mle_mneg = @vl_mle_mneg - ( ( @vl_frete_mneg * @tx_frete ) / @tx_mle )
    ELSE
      SELECT @vl_mle_mneg = @vl_mle_mneg - @vl_frete_mneg
  END

  IF @cd_incoterm NOT IN ( 'EXW', 'FOB' )
  BEGIN
    IF @cd_moeda_mle <> @cd_moeda_frete
      SELECT @vl_mld_mneg = @vl_mld_mneg + ( ( @vl_frete_mneg * @tx_frete ) / @tx_mle )
    ELSE
      SELECT @vl_mld_mneg = @vl_mld_mneg + @vl_frete_mneg
  END

  IF @in_embut_frt_itens = '1'
  BEGIN
    IF @cd_moeda_mle <> @cd_moeda_frete
      SELECT @vl_mld_mneg = @vl_mld_mneg - ( ( @vl_frete_mneg * @tx_frete ) / @tx_mle )
    ELSE
      SELECT @vl_mld_mneg = @vl_mld_mneg - @vl_frete_mneg
  END

  IF @cd_moeda_mle = '220'
  BEGIN
    SELECT @vl_mle_dolar = @vl_mle_mneg
    SELECT @vl_mld_dolar = @vl_mld_mneg
  END
  ELSE
  BEGIN
    SELECT @vl_mle_dolar = ROUND( ( ROUND( @vl_mle_mneg * @tx_mle, 2 ) / @tx_dolar ), 7 )
    SELECT @vl_mld_dolar = ROUND( ( ROUND( @vl_mld_mneg * @tx_mle, 2 ) / @tx_dolar ), 7 )
  END

  IF @cd_moeda_frete = '220'
  BEGIN
    SELECT @vl_frete_dolar = @vl_frete_mneg
  END
  ELSE
  BEGIN
    SELECT @vl_frete_dolar = ROUND( ( ROUND( @vl_frete_mneg * @tx_frete, 2 ) / @tx_dolar ), 7 )
  END

  UPDATE TNAC_ITEM
  SET    CD_MOEDA_FRETE = @cd_moeda_frete,
         VL_MLE_MNEG    = @vl_mle_mneg,
         VL_MLD_MNEG    = @vl_mld_mneg,
         VL_MLE_DOLAR   = @vl_mle_dolar,
         VL_MLD_DOLAR   = @vl_mld_dolar,
         VL_FRETE_MNEG  = @vl_frete_mneg
  WHERE  CURRENT OF c_nac

  FETCH c_nac INTO @nr_processo_da, @nr_ref, @cd_mercadoria, @nr_lote
END

CLOSE c_nac
DEALLOCATE c_nac

SELECT @vl_mle_mneg   = SUM( ISNULL( VL_MLE_MNEG, 0 ) ),
       @vl_mld_mneg   = SUM( ISNULL( VL_MLD_MNEG, 0 ) ),
       @vl_mle_dolar  = SUM( ISNULL( VL_MLE_DOLAR, 0 ) ),
       @vl_mld_dolar  = SUM( ISNULL( VL_MLD_DOLAR, 0 ) )
FROM   TNAC_ITEM 
WHERE  NR_PROCESSO = @nr_processo

UPDATE TNAC
SET    VL_MLE_MNEG  = @vl_mle_mneg,
       VL_MLD_MNEG  = @vl_mld_mneg,
       VL_MLE_DOLAR = @vl_mle_dolar,
       VL_MLD_DOLAR = @vl_mld_dolar
WHERE  NR_PROCESSO  = @nr_processo


IF ( SELECT DISTINCT COUNT( NR_PROCESSO_DA )
     FROM   TNAC_ITEM
     WHERE  NR_PROCESSO = @nr_processo ) = 1
BEGIN
  SELECT @nr_processo_da = @cd_unid_neg + @cd_produto + @nr_processo_da
  EXEC sp_atz_da_di @nr_processo_da, @nr_processo
END

RETURN 0



GO
