USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_integra_jump]( @dt_inicio datetime, @dt_fim datetime) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @DT_INICIO DATETIME
DECLARE @DT_FIM DATETIME

SELECT @DT_INICIO = CONVERT( DATETIME, '01/08/2001', 103 )
SELECT @DT_FIM    = CONVERT( DATETIME, '31/08/2001', 103 )
*/

DELETE FROM MOV_BKB
DELETE FROM NF_DGB
DELETE FROM NF_ITB

--------------------------------------------------------------
-- TINTEGRA_JUMP_CAIXA
--------------------------------------------------------------
SELECT C.CD_UNID_NEG AS CD_EMPRESA, C.CD_UNID_NEG AS CD_FILIAL, B.NR_BANCO, C.CD_BANCO, B.NR_CONTA, C.DT_MOVIMENTO, C.NR_LANCAMENTO, 
       CASE TP_LANCAMENTO 
          WHEN 'F' THEN SUBSTRING( I.NM_ITEM, 1, 25 )
          ELSE SUBSTRING( H.NM_HISTORICO, 1, 25 ) 
       END AS NM_HISTORICO, C.TP_NATUREZA, C.NR_CHEQUE, CONVERT( float, C.VL_LANCAMENTO ) VL_LANCAMENTO, C.IN_CANCELADO, C.DT_CANCELADO, 
       CASE TP_NATUREZA
         WHEN 'C' THEN C.CD_ACESSO+C.CD_AUX 
         ELSE 
           CASE TP_LANCAMENTO 
             WHEN 'C' THEN CC.CD_ACESSO+CC.CD_AUX 
             ELSE I.CD_ACESSO+I.CD_AUX
           END
       END AS CD_RED_CONTA_CRED, 
       CASE TP_NATUREZA
         WHEN 'D' THEN C.CD_ACESSO+C.CD_AUX 
         ELSE 
           CASE TP_LANCAMENTO 
             WHEN 'C' THEN CC.CD_ACESSO+CC.CD_AUX 
             ELSE I.CD_ACESSO+I.CD_AUX
           END
       END AS CD_RED_CONTA_DEB
INTO   #TINTEGRA_JUMP_CAIXA
FROM   TCAIXA C, TBANCO B, THIST_PADRAO H, TITEM I, TCT_CONTABIL CC
WHERE  C.CD_COLIGADA = '01' AND 
       C.DT_MOVIMENTO >= @dt_inicio AND
       C.DT_MOVIMENTO <= @dt_fim AND
       C.CD_BANCO = B.CD_BANCO AND B.IN_ATIVO = '1' AND
       C.CD_HISTORICO *= H.CD_HISTORICO AND
       C.CD_ITEM *= I.CD_ITEM AND
       B.CD_CT_CONTABIL = CC.CD_CT_CONTABIL AND year(C.DT_MOVIMENTO) = CC.ANO_CONTA
--------------------------------------------------------------
-- TINTEGRA_JUMP_NFI
--------------------------------------------------------------
SELECT F.CD_UNID_NEG AS CD_EMPRESA, F.CD_UNID_NEG AS CD_FILIAL, F.NR_NOTA_FATURA AS NR_NF, FI.CD_ITEM, SUBSTRING( I.NM_ITEM,1,30) AS NM_ITEM, 
       CASE I.CD_TIPO_ITEM  
          WHEN 'R' THEN '2'
          WHEN 'A' THEN '3'
          WHEN 'V' THEN '3'
          WHEN 'T' THEN '3'
          ELSE '1'
       END AS TP_LANCAMENTO, 
       CASE FI.IN_RESTITUI
          WHEN '1' THEN 'C'
          ELSE 'D'
       END AS TP_NATUREZA, 
       CASE FI.IN_RESTITUI
          WHEN '0' THEN VL_ITEM
          ELSE VL_ITEM * (-1)
       END AS VL_ITEM, ISNULL( I.CD_ACESSO, '' ) + ISNULL( I.CD_AUX, '' ) AS CD_RED_CONTA,
       FI.NR_PROCESSO, FI.CD_PRODUTO
INTO   #TINTEGRA_JUMP_NFI_TEMP
FROM   TS_FATURA F, TFATURAMENTO_CC FI, TITEM I
WHERE  F.CD_UNID_NEG = FI.CD_UNID_NEG AND
       F.CD_PRODUTO = FI.CD_PRODUTO AND
       F.NR_SOLICITACAO = FI.NR_SOLIC_FAT AND
       FI.CD_ITEM = I.CD_ITEM AND
       ( FI.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_CRE FROM TPARAMETROS ) AND
         FI.CD_ITEM NOT IN ( SELECT CD_ITEM_SALDO_DEB FROM TPARAMETROS ) AND
         FI.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) AND
         FI.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS ) AND
         FI.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS ) ) AND
       ISNULL( FI.VL_ITEM, 0 ) > 0 AND
       ISNULL( FI.CD_ITEM_NAO_FAT, '' ) <> '*' AND
       ISNULL( F.NR_NOTA_FATURA, '' ) <> '' AND
       F.DT_FATURA >= @dt_inicio AND
       F.DT_FATURA <= @dt_fim

SELECT CD_EMPRESA, CD_FILIAL, NR_NF, CD_ITEM, NM_ITEM, 'X' TP_NATUREZA, TP_LANCAMENTO, SUM( VL_ITEM ) VL_ITEM, CD_RED_CONTA, NR_PROCESSO, CD_PRODUTO
INTO   #TINTEGRA_JUMP_NFI
FROM   #TINTEGRA_JUMP_NFI_TEMP
GROUP BY CD_EMPRESA, CD_FILIAL, NR_NF, CD_ITEM, NM_ITEM, TP_LANCAMENTO, CD_RED_CONTA, NR_PROCESSO, CD_PRODUTO

UPDATE #TINTEGRA_JUMP_NFI
SET    TP_NATUREZA = 'C'
WHERE  VL_ITEM < 0

UPDATE #TINTEGRA_JUMP_NFI
SET    TP_NATUREZA = 'D'
WHERE  VL_ITEM >= 0

--------------------------------------------------------------
-- TINTEGRA_JUMP_NF
--------------------------------------------------------------

DECLARE @cd_empresa char(2)
DECLARE @cd_filial char(2)
DECLARE @nr_nf char(6)
DECLARE @nCredito float
DECLARE @nDebito float
DECLARE @nAdiantamento float
DECLARE @nSDA float 
DECLARE @nr_processo char(18)

DECLARE fatura CURSOR FOR
  SELECT CD_EMPRESA, CD_FILIAL, NR_NF
  FROM   #TINTEGRA_JUMP_NFI 
  GROUP BY CD_EMPRESA, CD_FILIAL, NR_NF

SELECT @cd_empresa AS CD_EMPRESA, @cd_filial AS CD_FILIAL, @nr_nf AS NR_NOTA_EMITIDA, DT_IMPRESSAO AS DT_EMISSAO, VL_FATURA AS VL_CREDITO,
       VL_FATURA AS VL_DEBITO, 
       CASE WHEN (VL_FATURA > 0) THEN VL_FATURA
       ELSE (VL_FATURA * -1)
       END AS VL_FATURA, 
       VL_FATURA AS VL_ADIANTAMENTO, VL_FATURA AS VL_SDA, IN_CANCELADO, DT_CANCELAMENTO
INTO   #TINTEGRA_JUMP_NF
FROM   TS_FATURA 
WHERE  1 = 0 

OPEN fatura
FETCH fatura INTO @cd_empresa, @cd_filial, @nr_nf
WHILE @@fetch_status = 0
BEGIN
  SELECT @nDebito = 0
  SELECT @nCredito = 0
  SELECT @nAdiantamento = 0 
  SELECT @nSDA = 0

  SELECT @nDebito = ISNULL( SUM( VL_ITEM ), 0 )
  FROM   #TINTEGRA_JUMP_NFI 
  WHERE  CD_EMPRESA = @cd_empresa AND 
         CD_FILIAL = @cd_filial AND 
         NR_NF = @nr_nf AND 
         TP_NATUREZA = 'D' AND 
         TP_LANCAMENTO <> '3'

  SELECT @nCredito = ISNULL( SUM( VL_ITEM ), 0 )
  FROM   #TINTEGRA_JUMP_NFI 
  WHERE  CD_EMPRESA = @cd_empresa AND 
         CD_FILIAL = @cd_filial AND 
         NR_NF = @nr_nf AND 
         TP_LANCAMENTO = '2'

  SELECT @nAdiantamento = ISNULL( VL_ITEM, 0 )
  FROM   #TINTEGRA_JUMP_NFI A, TPARAMETROS B
  WHERE  A.CD_EMPRESA = @cd_empresa AND 
         A.CD_FILIAL = @cd_filial AND 
         A.NR_NF = @nr_nf AND 
         A.CD_ITEM = B.CD_ITEM_RECEB_NUM

  SELECT @nAdiantamento = @nAdiantamento - ISNULL( VL_ITEM, 0 )
  FROM   #TINTEGRA_JUMP_NFI A, TPARAMETROS B
  WHERE  A.CD_EMPRESA = @cd_empresa AND 
         A.CD_FILIAL = @cd_filial AND 
         A.NR_NF = @nr_nf AND 
         A.CD_ITEM = B.CD_ITEM_EXTOR_NUM

  SELECT @nAdiantamento = @nAdiantamento - ISNULL( VL_ITEM, 0 )
  FROM   #TINTEGRA_JUMP_NFI A, TPARAMETROS B
  WHERE  A.CD_EMPRESA = @cd_empresa AND 
         A.CD_FILIAL = @cd_filial AND 
         A.NR_NF = @nr_nf AND 
         A.CD_ITEM = B.CD_ITEM_DEVOL_NUM

  DECLARE Processo CURSOR FOR
     SELECT DISTINCT NR_PROCESSO 
     FROM   #TINTEGRA_JUMP_NFI
     WHERE  CD_EMPRESA = @cd_empresa AND
            CD_FILIAL = @cd_filial AND
            NR_NF = @nr_nf
  OPEN Processo
  FETCH Processo INTO @nr_processo 
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @nSDA = @nSDA + VL_SDA + VL_CONTR_ASSIST + VL_COMPL_SDA
    FROM   TPROCESSO P
    WHERE  P.NR_PROCESSO = @nr_processo AND
           EXISTS( SELECT *
                   FROM   TFATURAMENTO_CC F
                   WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
                          F.CD_ITEM IN ( SELECT CD_ITEM_SDA FROM TPARAMETROS ) AND
                          F.IN_CANCELADO = '0' )

    IF @nSDA = 0 AND
       EXISTS( SELECT *
               FROM   TFATURAMENTO_CC F
               WHERE  F.NR_PROCESSO = @nr_processo AND
                      F.CD_ITEM IN ( SELECT CD_ITEM_SDA FROM TPARAMETROS ) AND
                      F.IN_CANCELADO = '0' ) 
    BEGIN
      SELECT @nSDA = @nSDA + SUM( ROUND( VL_ITEM + VL_ASSIST, 2 ) )
      FROM   TFATURAMENTO_CC F
      WHERE  F.NR_PROCESSO = @nr_processo AND
             F.CD_ITEM IN ( SELECT CD_ITEM_SDA FROM TPARAMETROS ) AND
             F.IN_CANCELADO = '0'
    END

    FETCH Processo INTO @nr_processo
  END
  CLOSE Processo
  DEALLOCATE Processo

  INSERT INTO #TINTEGRA_JUMP_NF (CD_EMPRESA, CD_FILIAL, NR_NOTA_EMITIDA, DT_EMISSAO, VL_CREDITO, VL_DEBITO, 
		                 VL_FATURA, VL_ADIANTAMENTO, VL_SDA, IN_CANCELADO, DT_CANCELAMENTO)    
    SELECT @cd_empresa AS CD_EMPRESA, @cd_filial AS CD_FILIAL, @nr_nf AS NR_NOTA_EMITIDA, DT_IMPRESSAO, 
           @nCredito AS VL_CREDITO, @nDebito AS VL_DEBITO, 
           ( @nDebito - @nCredito ) AS VL_FATURA, 
           @nAdiantamento AS VL_ADIANTAMENTO, @nSDA AS VL_SDA, IN_CANCELADO, DT_CANCELAMENTO
    FROM   TS_FATURA
    WHERE  CD_UNID_NEG = @cd_empresa AND
           NR_NOTA_FATURA = @nr_nf
  
  FETCH fatura INTO @cd_empresa, @cd_filial, @nr_nf
END

CLOSE fatura
DEALLOCATE fatura

DECLARE @cd_empresa2 integer
DECLARE @cd_filial2 integer
DECLARE @cd_banco char(3)
DECLARE @nr_banco char(3)
DECLARE @nr_ctbk char(10)
DECLARE @dt_movto datetime
DECLARE @sg_nat_conta char(1)
DECLARE @nr_documento char(10)
DECLARE @vl_lanc decimal(9)
DECLARE @cd_status char(2)
DECLARE @dt_cancel datetime
DECLARE @cd_red_conta_c decimal(5)
DECLARE @cd_red_conta_d decimal(5)
DECLARE @data_controle datetime
DECLARE @nr_lanc integer
DECLARE @ds_lanc varchar(25)

DECLARE cCaixa CURSOR FOR
  SELECT CONVERT( INT, CD_EMPRESA ) AS CD_EMPRESA, 
         CONVERT( INT, CD_FILIAL ) AS CD_FILIAL,
         CD_BANCO, NR_BANCO, NR_CONTA, DT_MOVIMENTO,
         NM_HISTORICO, TP_NATUREZA, NR_CHEQUE, 
         ROUND( ISNULL(VL_LANCAMENTO,0), 2 ), 
         IN_CANCELADO, DT_CANCELADO, 
         CONVERT( INT, CD_RED_CONTA_CRED ),
         CONVERT( INT, CD_RED_CONTA_DEB )
  FROM   #TINTEGRA_JUMP_CAIXA

SELECT @nr_lanc = 0

OPEN cCaixa
FETCH cCaixa INTO @cd_empresa2, @cd_filial2, @cd_banco, @nr_banco, @nr_ctbk, @dt_movto, @ds_lanc, @sg_nat_conta, @nr_documento, @vl_lanc, @cd_status, 
                  @dt_cancel, @cd_red_conta_c, @cd_red_conta_d
WHILE @@fetch_status = 0
BEGIN
 
  IF LTRIM( RTRIM( ISNULL( @nr_banco, '' ) ) ) = ''
     SELECT @nr_banco = '999'

  IF LTRIM( RTRIM( ISNULL( @nr_ctbk, '' ) ) ) = ''
  BEGIN
    SELECT @nr_ctbk  = '9999999999'
    SELECT @nr_banco = '9999999999'
  END

  IF @dt_movto <> @data_controle
     SELECT @nr_lanc = 1
  ELSE
     SELECT @nr_lanc = @nr_lanc + 1
  
  INSERT INTO MOV_BKB (CD_EMPRESA, CD_FILIAL, CD_BANCO, NR_CTBK, DT_MOVTO, NR_LANC, DS_LANC, SG_NAT_CONTA, NR_DOCUMENTO, VL_LANC, CD_STATUS, 
                       DT_CANCEL, CD_RED_CONTA_C, CD_RED_CONTA_D)
    VALUES (@cd_empresa, @cd_filial, @nr_banco, @nr_ctbk, @dt_movto, @nr_lanc, @ds_lanc, @sg_nat_conta, @nr_documento, @vl_lanc, @cd_status, 
            @dt_cancel, @cd_red_conta_c, @cd_red_conta_d)

  SELECT @data_controle = @dt_movto

  FETCH cCaixa INTO @cd_empresa2, @cd_filial2, @cd_banco, @nr_banco, @nr_ctbk, @dt_movto, @ds_lanc, @sg_nat_conta, @nr_documento, @vl_lanc, @cd_status, 
                    @dt_cancel, @cd_red_conta_c, @cd_red_conta_d
END
CLOSE cCaixa
DEALLOCATE cCaixa  

INSERT INTO NF_DGB
  SELECT CONVERT( INT, CD_EMPRESA ), 
         CONVERT( INT, CD_FILIAL ), 
         CONVERT( INT, NR_NOTA_EMITIDA ), 
         DT_EMISSAO, 
         '', '', ROUND( ISNULL(VL_CREDITO,0), 2 ), 
         ROUND( ISNULL(VL_FATURA,0), 2 ),
         ROUND( ISNULL(VL_DEBITO,0), 2 ),
         ROUND( ISNULL(VL_ADIANTAMENTO,0), 2 ), 
         ROUND( ISNULL(VL_SDA,0), 2 ), 
         CONVERT( INT, IN_CANCELADO ), 
         DT_CANCELAMENTO
  FROM #TINTEGRA_JUMP_NF

INSERT INTO NF_ITB
  SELECT CONVERT( INT, CD_EMPRESA ),
         CONVERT( INT, CD_FILIAL ), 
         CONVERT( INT, NR_NF ), 
         CONVERT( INT, CD_ITEM ), 
         NM_ITEM, 
         CONVERT( INT, TP_LANCAMENTO ),
         TP_NATUREZA, 
         ROUND( ISNULL(VL_ITEM,0), 2 ), 
         CONVERT( INT, CD_RED_CONTA )
  FROM #TINTEGRA_JUMP_NFI 
  WHERE CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
        CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
        CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS )

DROP TABLE #TINTEGRA_JUMP_CAIXA
DROP TABLE #TINTEGRA_JUMP_NFI
DROP TABLE #TINTEGRA_JUMP_NF

/*
SELECT * FROM MOV_BKB
SELECT * FROM NF_DGB
SELECT * FROM NF_ITB

ROLLBACK TRAN
SET XACT_ABORT OFF

select * from ts_fatura_processo_item where nr_solicitacao = '010193'
select * from ts_fatura where nr_nota_fatura = '000046'
select * from ts_fatura_processo where nr_solicitacao = '010193'

select * from tintegra_jump_nfi
select * from tcaixa
*/




GO
