USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_RE_CLASSIFICA_ANEXO_NOVOEX](@NR_PROCESSO CHAR(18), @NR_PROCESSO_COMPLEMENTO CHAR(3)) AS
BEGIN
    /*
    DECLARE @NR_PROCESSO             CHAR(18)
    DECLARE @NR_PROCESSO_COMPLEMENTO CHAR(3)

    SET @NR_PROCESSO             = '0102EM-7411-12'
    SET @NR_PROCESSO_COMPLEMENTO = '001'

    BEGIN TRAN

    /*
    UPDATE TRE_ANEXO_PURO
    SET NR_ATO = 'A2'
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
      AND ID_ANEXO = 160572

    UPDATE TRE_ANEXO_PURO
    SET CD_FABRICANTE = '00000', NR_ATO = 'A4'
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
      AND ID_ANEXO = 160574

    UPDATE TRE_CAPA
    SET IN_AGRUPAR = '1',
        IN_QUEBRA_POR_FABRICANTE = '1'
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
      --*/
    --*/

    -- Variáveis de constante
    DECLARE @MAX_QTD_MERCADORIAS      INT -- Máximo de mercadorias em uma adição
    SET @MAX_QTD_MERCADORIAS          = 5
    DECLARE @MAX_MERCADORIA_TXT_MULT  INT -- Tamanho máximo de texto para adição com várias mercadorias
    SET @MAX_MERCADORIA_TXT_MULT      = 130
    DECLARE @MAX_MERCADORIA_TXT_UNICA INT -- Tamanho máximo de texto para adição com apenas uma mercadoria
    SET @MAX_MERCADORIA_TXT_UNICA     = 730


    DECLARE @IN_AGRUPAR               CHAR(1)
    DECLARE @IN_QUEBRA_POR_VALOR      CHAR(1)
    DECLARE @IN_QUEBRA_POR_FABRICANTE CHAR(1)

    DECLARE @CD_RE_ANEXO              INT
    DECLARE @ID_ANEXO                 INT
    DECLARE @CD_RE_ANEXO_FABRIC       INT
    DECLARE @QTD_ITENS                INT

    DECLARE @CD_NCM                   VARCHAR(10)
    DECLARE @CD_FABR_EXPO             VARCHAR(1)
    DECLARE @CD_FABRICANTE            VARCHAR(5)
    DECLARE @CD_UNID_MEDIDA           VARCHAR(3)
    DECLARE @CD_MERCADORIA            VARCHAR(40)
    DECLARE @TX_MERCADORIA            VARCHAR(730)
    DECLARE @TX_MERCADORIA_ITEM_ANT   VARCHAR(730)
    DECLARE @VL_MLE                   DECIMAL(28, 2)
    DECLARE @VL_UNITARIO              DECIMAL(28, 2)
    DECLARE @VL_TOT_PESO_LIQ          DECIMAL(28, 5)
    DECLARE @VL_TOT_PESO_BRUTO        DECIMAL(28, 5)
    DECLARE @VL_FRETE                 DECIMAL(28, 2)
    DECLARE @VL_SEGURO                DECIMAL(28, 2)
    DECLARE @VL_COND_VENDA            DECIMAL(28, 2)
    DECLARE @VL_LOCAL_VENDA           DECIMAL(28, 2)
    DECLARE @QUANTIDADE               DECIMAL(28, 5)
    DECLARE @QT_MERCADORIA            DECIMAL(28, 5)
    DECLARE @NR_ATO                   VARCHAR(13)
    DECLARE @IN_IMPORTADO             VARCHAR(1)
    DECLARE @CD_UF_PRODUTOR           VARCHAR(2)
    DECLARE @CD_NALADI                VARCHAR(20)
    DECLARE @CD_FINALIDADE_MERC       VARCHAR(3)
    DECLARE @CD_UNID_MEDIDA_ESTAT     VARCHAR(3)

    DECLARE @CD_NCM_ANT               VARCHAR(10)
    DECLARE @CD_FABR_EXPO_ANT         VARCHAR(1)
    DECLARE @CD_FABRICANTE_ANT        VARCHAR(5)
    DECLARE @CD_UNID_MEDIDA_ANT       VARCHAR(3)
    DECLARE @IN_IMPORTADO_ANT         VARCHAR(1)
    DECLARE @CD_UF_PRODUTOR_ANT       VARCHAR(2)
    DECLARE @CD_NALADI_ANT            VARCHAR(20)
    DECLARE @CD_FINALIDADE_MERC_ANT   VARCHAR(3)
    DECLARE @NR_ATO_ANT               VARCHAR(13)
    DECLARE @CD_UNID_MEDIDA_ESTAT_ANT VARCHAR(3)

    DECLARE @TX_MERCADORIA_TOT        VARCHAR(MAX)

    DECLARE @CD_ENQUAD1               VARCHAR(5)
    DECLARE @CD_ENQUAD2               VARCHAR(5)
    DECLARE @CD_ENQUAD3               VARCHAR(5)
    DECLARE @CD_ENQUAD4               VARCHAR(5)
    DECLARE @VL_TOTAL                 DECIMAL(28, 2)
    DECLARE @VL_TOTAL_COM_COB         DECIMAL(28, 2)
    DECLARE @VL_TOTAL_SEM_COB         DECIMAL(28, 2)
    DECLARE @PL_TOTAL                 FLOAT

    DECLARE @TX_OBSERVACAO_EXPORTADOR VARCHAR(1000)
    DECLARE @CD_GRUPO                 CHAR(3)
    DECLARE @CD_URF_DESPACHO          VARCHAR(10)

    SELECT @TX_OBSERVACAO_EXPORTADOR = P.TX_DECL_EXPORTADOR,
           @CD_GRUPO                 = E.CD_GRUPO,
           @CD_URF_DESPACHO          = R.CD_URF_DESPACHO
    FROM TRE_CAPA R (NOLOCK)
       LEFT JOIN TPROCESSO_EXP P (NOLOCK) ON P.NR_PROCESSO = R.NR_PROCESSO
       LEFT JOIN TEMPRESA_NAC E (NOLOCK) ON E.CD_EMPRESA = R.CD_EXPORTADOR
    WHERE R.NR_PROCESSO = @NR_PROCESSO
      AND R.NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    SET @CD_GRUPO = ISNULL(@CD_GRUPO, '')

    IF @CD_GRUPO = '986'
        SELECT @TX_OBSERVACAO_EXPORTADOR = TX_DESCRICAO
        FROM TOBSERVACOES
        WHERE CD_OBS = CASE @CD_URF_DESPACHO
                           WHEN '0817700' THEN '0224'
                           WHEN '0811100' THEN '0223'
                       END

    SET @TX_OBSERVACAO_EXPORTADOR = LTRIM(RTRIM(ISNULL(@TX_OBSERVACAO_EXPORTADOR, '')))

    DECLARE @TB_RE_ITENS AS TABLE (
        ID_ANEXO             INT,
        CD_NCM               CHAR(10),
        CD_FABR_EXPO         CHAR(1),
        CD_FABRICANTE        CHAR(5),
        CD_UNID_MEDIDA       CHAR(3),
        CD_MERCADORIA        VARCHAR(40),
        TX_MERCADORIA        VARCHAR(MAX),
        VL_MLE               DECIMAL(28, 2),
        VL_UNITARIO          DECIMAL(28, 2),
        VL_TOT_PESO_LIQ      DECIMAL(28, 5),
        VL_TOT_PESO_BRUTO    DECIMAL(28, 5),
        VL_FRETE             DECIMAL(28, 2),
        VL_SEGURO            DECIMAL(28, 2),
        VL_COND_VENDA        DECIMAL(28, 2),
        VL_LOCAL_VENDA       DECIMAL(28, 2),
        QT_MERCADORIA        DECIMAL(28, 5),
        NR_ATO               CHAR(13),
        IN_IMPORTADO         CHAR(1),
        CD_UF_PRODUTOR       CHAR(2),
        CD_NALADI            VARCHAR(20),
        CD_FINALIDADE_MERC   VARCHAR(3),
        CD_UNID_MEDIDA_ESTAT VARCHAR(3)
    )

    INSERT INTO @TB_RE_ITENS
    SELECT ID_ANEXO,
           ISNULL(LTRIM(RTRIM(CD_NCM)) + ISNULL(CD_SULF_NCM, '00'), ''),
           ISNULL(CD_FABR_EXPO, ''),
           ISNULL(CD_FABRICANTE, ''),
           ISNULL(CD_UNID_MEDIDA, ''),
           ISNULL(CD_MERCADORIA, ''),
           CONVERT(VARCHAR(MAX), ISNULL(TX_MERCADORIA_ITEM, '')),
           ISNULL(VL_MLE, ''),
           ISNULL(VL_UNITARIO, ''),
           ISNULL(VL_TOT_PESO_LIQ, ''),
           ISNULL(VL_TOT_PESO_BRUTO, ''),
           ISNULL(VL_FRETE, ''),
           ISNULL(VL_SEGURO, ''),
           ISNULL(VL_LOCAL_VENDA, ''),
           ISNULL(VL_MCV, ''),
           ISNULL(QT_MERCADORIA, ''),
           ISNULL(NR_ATO, ''),
           /*CASE CHARINDEX('IMP', ISNULL(TX_MERCADORIA_ITEM, ''))
               WHEN 0 THEN '0'
           ELSE '1'
           END*/
           CASE WHEN RIGHT(RTRIM(TX_MERCADORIA_ITEM), 3) = 'IMP' THEN '1'
           ELSE '0'
           END,
           ISNULL(CD_UF_PRODUTOR, ''),
           ISNULL(CD_NALADI_SH, ''),
           ISNULL(CD_FINALIDADE_MERC, ''),
           CD_UNID_MEDIDA_ESTAT
    FROM TRE_ANEXO_PURO
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    SELECT @IN_AGRUPAR               = ISNULL(IN_AGRUPAR, '0'),
           @IN_QUEBRA_POR_VALOR      = ISNULL(IN_QUEBRA_POR_VALOR, '0'),
           @IN_QUEBRA_POR_FABRICANTE = ISNULL(IN_QUEBRA_POR_FABRICANTE, '0')
    FROM TRE_CAPA
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    DELETE FROM TRE_ANEXO
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    DELETE TRE_ANEXO_FABRIC
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    DELETE TRE_ANEXO_DRAWBACK
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    DELETE AD
    FROM TRE_ANEXO_DRAWBACK AD
       LEFT JOIN TRE_CAPA AC ON AC.NR_PROCESSO = AD.NR_PROCESSO
                            AND AC.NR_PROCESSO_COMPLEMENTO = AD.NR_PROCESSO_COMPLEMENTO
       LEFT JOIN TEMPRESA_NAC EN ON EN.CD_EMPRESA = AC.CD_EXPORTADOR
    WHERE AD.NR_PROCESSO = @NR_PROCESSO
      AND AD.NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
      AND AD.CNPJ <> EN.CGC_EMPRESA

    SET @CD_NCM                 = ''
    SET @CD_FABR_EXPO           = ''
    SET @CD_FABRICANTE          = ''
    SET @CD_UNID_MEDIDA         = ''
    SET @IN_IMPORTADO           = ''
    SET @TX_MERCADORIA          = ''
    SET @TX_MERCADORIA_TOT      = ''
    SET @CD_NALADI              = ''
    SET @CD_FINALIDADE_MERC     = ''
    SET @TX_MERCADORIA_ITEM_ANT = ''
    SET @NR_ATO                 = ''
    SET @CD_UNID_MEDIDA_ESTAT   = ''

    SET @CD_RE_ANEXO = 0
    SET @QTD_ITENS   = 1
    WHILE (SELECT COUNT(*) FROM @TB_RE_ITENS) > 0
    BEGIN
        SET @CD_NCM_ANT               = @CD_NCM
        SET @CD_FABR_EXPO_ANT         = @CD_FABR_EXPO
        SET @CD_FABRICANTE_ANT        = @CD_FABRICANTE
        SET @CD_UNID_MEDIDA_ANT       = @CD_UNID_MEDIDA
        SET @IN_IMPORTADO_ANT         = @IN_IMPORTADO
        SET @CD_UF_PRODUTOR_ANT       = @CD_UF_PRODUTOR
        SET @CD_NALADI_ANT            = @CD_NALADI
        SET @CD_FINALIDADE_MERC_ANT   = @CD_FINALIDADE_MERC
        SET @TX_MERCADORIA_ITEM_ANT   = @TX_MERCADORIA
        SET @NR_ATO_ANT               = @NR_ATO
        SET @CD_UNID_MEDIDA_ESTAT_ANT = @CD_UNID_MEDIDA_ESTAT

        SELECT TOP 1 @ID_ANEXO             = ID_ANEXO,
                     @CD_NCM               = CD_NCM,
                     @CD_FABR_EXPO         = CD_FABR_EXPO,
                     @CD_FABRICANTE        = CD_FABRICANTE,
                     @CD_UNID_MEDIDA       = CD_UNID_MEDIDA,
                     @CD_MERCADORIA        = CD_MERCADORIA,
                     @TX_MERCADORIA        = TX_MERCADORIA,
                     @VL_MLE               = VL_MLE,
                     @VL_UNITARIO          = VL_UNITARIO,
                     @VL_TOT_PESO_LIQ      = VL_TOT_PESO_LIQ,
                     @VL_TOT_PESO_BRUTO    = VL_TOT_PESO_BRUTO,
                     @VL_FRETE             = VL_FRETE,
                     @VL_SEGURO            = VL_SEGURO,
                     @VL_LOCAL_VENDA       = VL_LOCAL_VENDA,
                     @VL_COND_VENDA        = VL_LOCAL_VENDA,
                     @QT_MERCADORIA        = QT_MERCADORIA,
                     @NR_ATO               = NR_ATO,
                     @IN_IMPORTADO         = IN_IMPORTADO,
                     @CD_UF_PRODUTOR       = CD_UF_PRODUTOR,
                     @CD_NALADI            = CD_NALADI,
                     @CD_FINALIDADE_MERC   = CD_FINALIDADE_MERC,
                     @CD_UNID_MEDIDA_ESTAT = CD_UNID_MEDIDA_ESTAT
        FROM @TB_RE_ITENS
        ORDER BY IN_IMPORTADO, CD_UF_PRODUTOR, CD_NCM, CD_UNID_MEDIDA, CD_FABRICANTE, ID_ANEXO

        IF @IN_AGRUPAR = '0'
        BEGIN
            SET @CD_RE_ANEXO = @CD_RE_ANEXO + 1
            SET @TX_MERCADORIA_TOT = @TX_MERCADORIA
            SET @QTD_ITENS = 1
        END
        ELSE IF (@CD_FINALIDADE_MERC_ANT <> @CD_FINALIDADE_MERC) OR (@CD_UF_PRODUTOR_ANT <> @CD_UF_PRODUTOR) OR 
                (@CD_NALADI_ANT <> @CD_NALADI) OR (@CD_NCM_ANT <> @CD_NCM) OR (@CD_UNID_MEDIDA_ANT <> @CD_UNID_MEDIDA) OR 
                (@IN_IMPORTADO_ANT <> @IN_IMPORTADO) OR (@CD_FABR_EXPO_ANT <> @CD_FABR_EXPO) OR (@NR_ATO_ANT <> @NR_ATO) OR
                (@CD_UNID_MEDIDA_ESTAT_ANT <> @CD_UNID_MEDIDA_ESTAT)
        BEGIN
            SET @CD_RE_ANEXO = @CD_RE_ANEXO + 1
            SET @TX_MERCADORIA_TOT = @TX_MERCADORIA
            SET @QTD_ITENS = 1
        END
        ELSE IF (@IN_QUEBRA_POR_FABRICANTE = '1') AND (@CD_FABRICANTE <> @CD_FABRICANTE_ANT)
        BEGIN
            SET @CD_RE_ANEXO = @CD_RE_ANEXO + 1
            SET @TX_MERCADORIA_TOT = @TX_MERCADORIA
            SET @QTD_ITENS = 1
        END
        ELSE IF (LEN(@TX_MERCADORIA) > @MAX_MERCADORIA_TXT_MULT) OR (LEN(@TX_MERCADORIA) > @MAX_MERCADORIA_TXT_UNICA) OR (LEN(@TX_MERCADORIA_ITEM_ANT) > @MAX_MERCADORIA_TXT_MULT)
        BEGIN
            SET @CD_RE_ANEXO = @CD_RE_ANEXO + 1
            SET @TX_MERCADORIA_TOT = @TX_MERCADORIA
            SET @QTD_ITENS = 1
        END
        ELSE IF (@QTD_ITENS = @MAX_QTD_MERCADORIAS)
        BEGIN
            SET @CD_RE_ANEXO = @CD_RE_ANEXO + 1
            SET @TX_MERCADORIA_TOT = @TX_MERCADORIA
            SET @QTD_ITENS = 1
        END
        ELSE
        BEGIN
            SET @TX_MERCADORIA_TOT = ISNULL(@TX_MERCADORIA_TOT, '') + @TX_MERCADORIA
            SET @QTD_ITENS = @QTD_ITENS + 1
        END

        IF @CD_RE_ANEXO = 0
            SET @CD_RE_ANEXO = 1

        UPDATE TRE_ANEXO_PURO
        SET CD_RE_ANEXO = @CD_RE_ANEXO
        WHERE ID_ANEXO = @ID_ANEXO

        DELETE FROM @TB_RE_ITENS
        WHERE ID_ANEXO = @ID_ANEXO
    END

    INSERT TRE_ANEXO(NR_PROCESSO, NR_PROCESSO_COMPLEMENTO, CD_RE_ANEXO, CD_NALADI, CD_NCM, CD_SULF_NCM, CD_NBM, CD_UNID_MEDIDA,
                     IN_EXPORTADOR_FABRICANTE, PESO_LIQUIDO, QT_UNIDADE_COMERCIAL, QT_MEDIA_NBM, VL_FRETE_RATEADO, VL_SEGURO_RATEADO,
                     PESO_BRUTO_RATEADO, DT_DATA, VL_COND_VENDA, VL_LOCAL_VENDA, CD_FINALIDADE, CD_UF_PRODUTOR, PC_COMISSAO,
                     CD_FORMA_PGTO_REBATE, VL_COM_AG_EFET, QTD_PRAZO_PAGAMENTO, TX_DESC_MERCADORIA, IN_OBS_EXPORTADOR, CD_FORMA_PGTO,
                     VL_SEM_COBERTURA, CD_UNID_MEDIDA_ESTAT)
    SELECT A.NR_PROCESSO, A.NR_PROCESSO_COMPLEMENTO, CD_RE_ANEXO, CD_NALADI_SH, CD_NCM, CD_SULF_NCM, CD_NCM, A.CD_UNID_MEDIDA,
           CASE ISNULL(CD_FABR_EXPO, '0')
               WHEN '1' THEN '1'
           ELSE '0'
           END, SUM(CONVERT(DECIMAL(28, 5), VL_TOT_PESO_LIQ)), SUM(CONVERT(DECIMAL(28, 5), QT_MERCADORIA)),
           --SUM(CASE WHEN (U.NM_UNID_MEDIDA LIKE 'QUILO%') OR (U.NM_UNID_MEDIDA LIKE 'KG%') OR (U.NM_UNID_MEDIDA LIKE 'KILO%') THEN CONVERT(DECIMAL(28, 5), VL_TOT_PESO_LIQ)
           --    ELSE CONVERT(DECIMAL(28, 5), QT_MERCADORIA)
           --    END),
           CONVERT(DECIMAL(28, 5), SUM(A.QT_UNID_MEDIDA_ESTAT)),
           SUM(CONVERT(DECIMAL(28, 2), A.VL_FRETE)), SUM(CONVERT(DECIMAL(28, 2), A.VL_SEGURO)), SUM(CONVERT(DECIMAL(28, 5), VL_TOT_PESO_BRUTO)), CONVERT(DATETIME, GETDATE(), 103),
           SUM(CONVERT(DECIMAL(28, 2), VL_MCV)), SUM(CONVERT(DECIMAL(28, 2), VL_MLE)), ISNULL(CD_FINALIDADE_MERC, ''), ISNULL(CD_UF_PRODUTOR, ''), A.PC_COMISSAO, ISNULL(CD_FORMA_PGTO, ''),
           SUM((CONVERT(DECIMAL(28, 2), VL_MLE * PC_COMISSAO)) / 100),CASE @CD_GRUPO
                                                                          WHEN '986' THEN 180
                                                                      ELSE T.NR_PERIODICIDADE
                                                                      END, @TX_OBSERVACAO_EXPORTADOR, CASE LEN(@TX_OBSERVACAO_EXPORTADOR)
                                                                                                          WHEN 0 THEN '0'
                                                                                                      ELSE '1'
                                                                                                      END, CASE ISNULL(A.CD_FORMA_PGTO, '')
                                                                                                               WHEN 'G' THEN '1'
                                                                                                               WHEN 'R' THEN '3'
                                                                                                               WHEN 'F' THEN '2'
                                                                                                           ELSE NULL
                                                                                                           END, SUM(ISNULL(A.VL_SEM_COBERTURA, 0)), A.CD_UNID_MEDIDA_ESTAT
    FROM TRE_ANEXO_PURO              A (NOLOCK)
       LEFT JOIN TNCM                N (NOLOCK) ON N.CODIGO = A.CD_NCM --AND UNIDADE_MEDIDA IN ('104','121','100','149','024','010','129','141')
       LEFT JOIN TUNID_MEDIDA_BROKER U (NOLOCK) ON U.CD_UNID_MEDIDA = N.UNIDADE_MEDIDA
       LEFT JOIN TPROCESSO_EXP       P (NOLOCK) ON P.NR_PROCESSO = A.NR_PROCESSO
       LEFT JOIN TTERMO_PAGTO        T (NOLOCK) ON T.CD_TERMO_PAGTO = P.CD_TERMO_PAGTO
    WHERE A.NR_PROCESSO             = @NR_PROCESSO
      AND A.NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
    GROUP BY A.NR_PROCESSO, NR_PROCESSO_COMPLEMENTO, CD_RE_ANEXO, CD_NALADI_SH, CD_NCM, CD_SULF_NCM, CD_NCM, A.CD_UNID_MEDIDA,
             CD_FABR_EXPO, ISNULL(CD_FINALIDADE_MERC, ''), ISNULL(CD_UF_PRODUTOR, ''), PC_COMISSAO, ISNULL(CD_FORMA_PGTO, ''), T.NR_PERIODICIDADE, ISNULL(NR_ATO, ''), A.CD_UNID_MEDIDA_ESTAT

    INSERT INTO TRE_ANEXO_FABRIC(NR_PROCESSO, NR_PROCESSO_COMPLEMENTO, CD_RE_ANEXO, CD_RE_ANEXO_FABRIC, CD_FABRICANTE, NR_ATO, QT_MERCADORIA, VL_TOTAL, PL_TOTAL, TX_OBSERVACAO, UF, NM_UNID_MEDIDA, NM_FABRICANTE, CNPJ_FABRICANTE)
    SELECT AP.NR_PROCESSO, AP.NR_PROCESSO_COMPLEMENTO, AP.CD_RE_ANEXO, DENSE_RANK() OVER(ORDER BY AP.CD_RE_ANEXO), C.CD_EXPORTADOR, NULL, CONVERT(DECIMAL(28, 5), SUM(CASE A.QT_MEDIA_NBM
                                                                                                                                                                          WHEN A.QT_UNIDADE_COMERCIAL THEN CONVERT(DECIMAL(28, 5), AP.QT_MERCADORIA)
                                                                                                                                                                      ELSE CONVERT(DECIMAL(28, 5), AP.VL_TOT_PESO_LIQ)
                                                                                                                                                                      END)), SUM(CONVERT(DECIMAL(28, 2), AP.VL_LOCAL_VENDA)), SUM(CONVERT(DECIMAL(28, 5), AP.VL_TOT_PESO_LIQ)), '', EN.END_UF, U.NM_UNID_MEDIDA, RTRIM(EN.NM_EMPRESA), EN.CGC_EMPRESA
    FROM TRE_ANEXO_PURO AP INNER JOIN TRE_CAPA C ON C.NR_PROCESSO             = AP.NR_PROCESSO
                                                AND C.NR_PROCESSO_COMPLEMENTO = AP.NR_PROCESSO_COMPLEMENTO
                           INNER JOIN TRE_ANEXO A ON A.NR_PROCESSO             = AP.NR_PROCESSO
                                                 AND A.NR_PROCESSO_COMPLEMENTO = AP.NR_PROCESSO_COMPLEMENTO
                                                 AND A.CD_RE_ANEXO             = AP.CD_RE_ANEXO
                           LEFT  JOIN TEMPRESA_NAC EN ON EN.CD_EMPRESA = C.CD_EXPORTADOR
                           --LEFT  JOIN TNCM N ON N.CODIGO = AP.CD_NCM
                           --LEFT  JOIN TUNID_MEDIDA_BROKER U ON U.CD_UNID_MEDIDA = N.UNIDADE_MEDIDA
                           LEFT  JOIN TUNID_MEDIDA_BROKER U ON U.CD_UNID_MEDIDA = AP.CD_UNID_MEDIDA_ESTAT
    WHERE AP.NR_PROCESSO             = @NR_PROCESSO
      AND AP.NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
      --AND ISNULL(A.IN_EXPORTADOR_FABRICANTE, '0') = '1'
    GROUP BY AP.NR_PROCESSO, AP.NR_PROCESSO_COMPLEMENTO, AP.CD_RE_ANEXO, C.CD_EXPORTADOR, EN.END_UF, U.NM_UNID_MEDIDA, EN.NM_EMPRESA, EN.CGC_EMPRESA

    /*
    INSERT INTO TRE_ANEXO_DRAWBACK
    SELECT A.NR_PROCESSO, A.NR_PROCESSO_COMPLEMENTO, A.CD_RE_ANEXO, E.CGC_EMPRESA, A.CD_NCM, A.NR_ATO, NULL, NULL, NULL, NULL, NULL, SUM(A.QT_MERCADORIA), NULL, NULL, NULL, NULL
    FROM TRE_ANEXO_PURO A
       LEFT JOIN TEMPRESA_NAC E ON E.CD_EMPRESA = A.CD_FABRICANTE
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
      AND ISNULL(A.NR_ATO, '')    <> ''
    GROUP BY A.NR_PROCESSO, A.NR_PROCESSO_COMPLEMENTO, A.CD_RE_ANEXO, E.CGC_EMPRESA, A.CD_NCM, A.NR_ATO
    --*/

    SELECT @VL_TOTAL = SUM(VL_MCV)
    FROM TRE_ANEXO_PURO
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    -- Só se tiver apenas um enquadramento
    IF (SELECT CASE ISNULL(CD_ENQUAD1, '') WHEN '' THEN 0 ELSE 1 END +
               CASE ISNULL(CD_ENQUAD2, '') WHEN '' THEN 0 ELSE 1 END +
               CASE ISNULL(CD_ENQUAD3, '') WHEN '' THEN 0 ELSE 1 END +
               CASE ISNULL(CD_ENQUAD4, '') WHEN '' THEN 0 ELSE 1 END
        FROM TRE_CAPA
        WHERE NR_PROCESSO             = @NR_PROCESSO
          AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO) > 0
    BEGIN
        SELECT @CD_ENQUAD1 = CD_ENQUAD1,
               @CD_ENQUAD2 = CASE ISNULL(CD_ENQUAD2, '')
                                 WHEN '' THEN CD_ENQUAD1
                             ELSE CD_ENQUAD2
                             END,
               @CD_ENQUAD3 = CASE ISNULL(CD_ENQUAD3, '')
                                 WHEN '' THEN CD_ENQUAD1
                             ELSE CD_ENQUAD3
                             END,
               @CD_ENQUAD4 = CASE ISNULL(CD_ENQUAD4, '')
                                 WHEN '' THEN CD_ENQUAD1
                             ELSE CD_ENQUAD4
                             END,
               @VL_TOTAL_COM_COB = ISNULL(VL_VALOR_COBER_CAMBIAL, 0),
               @VL_TOTAL_SEM_COB = ISNULL(VL_SEM_COB_CAMBIAL, 0)
        FROM TRE_CAPA
        WHERE NR_PROCESSO             = @NR_PROCESSO
          AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

        IF LEFT(@CD_ENQUAD1, 1) = '8' AND LEFT(@CD_ENQUAD1, 1) = LEFT(@CD_ENQUAD2, 1) AND LEFT(@CD_ENQUAD1, 1) = LEFT(@CD_ENQUAD3, 1) AND LEFT(@CD_ENQUAD1, 1) = LEFT(@CD_ENQUAD4, 1)
            SET @VL_TOTAL_COM_COB = @VL_TOTAL
        --ELSE
        --    SET @VL_TOTAL_COM_COB = 0

        IF LEFT(@CD_ENQUAD1, 1) = '9' AND LEFT(@CD_ENQUAD1, 1) = LEFT(@CD_ENQUAD2, 1) AND LEFT(@CD_ENQUAD1, 1) = LEFT(@CD_ENQUAD3, 1) AND LEFT(@CD_ENQUAD1, 1) = LEFT(@CD_ENQUAD4, 1)
            SET @VL_TOTAL_SEM_COB = @VL_TOTAL
        --ELSE
        --    SET @VL_TOTAL_SEM_COB = 0

        IF ABS((SELECT SUM(VL_LOCAL_VENDA)
                FROM TRE_ANEXO_PURO
                WHERE NR_PROCESSO             = @NR_PROCESSO
                  AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO) - (ISNULL(@VL_TOTAL_COM_COB, 0) + ISNULL(@VL_TOTAL_SEM_COB, 0))) > 0
            SET @VL_TOTAL_COM_COB = ISNULL(@VL_TOTAL_COM_COB, 0) - ISNULL(@VL_TOTAL_SEM_COB, 0)

        -- Só se o enquadramento não for Drawback... se começar com 8 preenche Cobertura, se começar com 9 preenche Sem Cobertura
        --IF NOT '81101' IN (@CD_ENQUAD1, @CD_ENQUAD2, @CD_ENQUAD3, @CD_ENQUAD4)
        /*
            UPDATE RC
            SET VL_VALOR_COBER_CAMBIAL = @VL_TOTAL_COM_COB,
                VL_SEM_COB_CAMBIAL     = @VL_TOTAL_SEM_COB
            FROM TRE_CAPA RC
            WHERE NR_PROCESSO             = @NR_PROCESSO
              AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
        */
    END
    
    SELECT @PL_TOTAL = SUM(VL_TOT_PESO_LIQ)
    FROM TRE_ANEXO_PURO
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    INSERT INTO TRE_ANEXO_DRAWBACK(NR_PROCESSO, NR_PROCESSO_COMPLEMENTO, CD_RE_ANEXO, CNPJ, NCM, NR_ATO_CONCESSORIO, NR_ITEM_ATO_CONCESSORIO,
                                   VL_MOEDA_RE_COM_COBERTURA, VL_MOEDA_RE_SEM_COBERTURA, QT_MERCADORIA)
    SELECT AP.NR_PROCESSO, AP.NR_PROCESSO_COMPLEMENTO, AP.CD_RE_ANEXO, REPLACE(REPLACE(EN.CGC_EMPRESA, '/', ''), '-', ''), AP.CD_NCM, AP.NR_ATO, 1,
           SUM(AP.VL_LOCAL_VENDA - ISNULL(AP.VL_SEM_COBERTURA, 0)), SUM(ISNULL(AP.VL_SEM_COBERTURA, 0)),
           SUM(CASE WHEN @CD_GRUPO = 'B31' THEN A.QT_UNIDADE_COMERCIAL
               ELSE CASE A.QT_MEDIA_NBM
                        WHEN A.QT_UNIDADE_COMERCIAL THEN CONVERT(DECIMAL(28, 5), AP.QT_MERCADORIA)
                    ELSE CONVERT(DECIMAL(28, 5), AP.VL_TOT_PESO_LIQ)
                    END
               END)
    FROM TRE_ANEXO_PURO AP INNER JOIN TRE_CAPA C ON C.NR_PROCESSO             = AP.NR_PROCESSO
                                                AND C.NR_PROCESSO_COMPLEMENTO = AP.NR_PROCESSO_COMPLEMENTO
                           INNER JOIN TRE_ANEXO A ON A.NR_PROCESSO             = AP.NR_PROCESSO
                                                 AND A.NR_PROCESSO_COMPLEMENTO = AP.NR_PROCESSO_COMPLEMENTO
                                                 AND A.CD_RE_ANEXO             = AP.CD_RE_ANEXO
                           LEFT  JOIN TEMPRESA_NAC EN ON EN.CD_EMPRESA = C.CD_EXPORTADOR
                           --LEFT  JOIN TNCM N ON N.CODIGO = AP.CD_NCM
                           --LEFT  JOIN TUNID_MEDIDA_BROKER U ON U.CD_UNID_MEDIDA = N.UNIDADE_MEDIDA
                           LEFT  JOIN TUNID_MEDIDA_BROKER U ON U.CD_UNID_MEDIDA = AP.CD_UNID_MEDIDA_ESTAT
    WHERE AP.NR_PROCESSO             = @NR_PROCESSO
      AND AP.NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
      AND ISNULL(AP.NR_ATO, '') <> ''
      --AND ISNULL(A.IN_EXPORTADOR_FABRICANTE, '0') = '1'
    GROUP BY AP.NR_PROCESSO, AP.NR_PROCESSO_COMPLEMENTO, AP.CD_RE_ANEXO, EN.CGC_EMPRESA, AP.CD_NCM, AP.NR_ATO, C.VL_VALOR_COBER_CAMBIAL, C.VL_SEM_COB_CAMBIAL

    /*
    /*
    SELECT CD_ENQUAD1, VL_VALOR_COBER_CAMBIAL, VL_SEM_COB_CAMBIAL
    FROM TRE_CAPA RC
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    SELECT *
    FROM TRE_ANEXO
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    SELECT *
    FROM TRE_ANEXO_PURO
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    SELECT *
    FROM TRE_ANEXO_FABRIC
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    SELECT *
    FROM TRE_ANEXO_DRAWBACK
    WHERE NR_PROCESSO             = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO
    --*/

    SELECT *--SUM(VL_LOCAL_VENDA) AS VL_LOCAL_VENDA, SUM(VL_COND_VENDA) AS VL_COND_VENDA, SUM(QT_MERCADORIA) AS QT_MERCADORIA, SUM(VL_TOT_PESO_LIQ) AS VL_TOT_PESO_LIQ, SUM(VL_SEM_COBERTURA) AS VL_SEM_COBERTURA
    FROM TRE_ANEXO_PURO
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    SELECT *--VL_LOCAL_VENDA, VL_COND_VENDA, QT_UNIDADE_COMERCIAL, PESO_LIQUIDO, VL_SEM_COBERTURA
    FROM TRE_ANEXO
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND NR_PROCESSO_COMPLEMENTO = @NR_PROCESSO_COMPLEMENTO

    ROLLBACK
    --COMMIT
    --*/
END

GO
