USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/****** Object:  Stored Procedure dbo.sp_ult_sequencia    Script Date: 02/09/1999 08:58:12 AM ******/
CREATE PROCEDURE [sp_ult_sequencia] @identificador char(2), @chave varchar(120), @nr_sequencia int OUTPUT AS 
SELECT @nr_sequencia = 1
IF @identificador = '1'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1)
  FROM TCARGA_ARMAZEM
  WHERE rtrim(NR_PROCESSO) = @chave
  SELECT @nr_sequencia = ISNULL( @NR_SEQUENCIA, 1)
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END
IF @identificador = '2'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1)
  FROM TDOCUMENTO_INSTRUCAO
  WHERE rtrim(NR_PROCESSO) = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END
IF @identificador = '3'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1)
  FROM TEMBALAGEM_CARGA
  WHERE rtrim(NR_PROCESSO) = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END
IF @identificador = '4'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1)
  FROM TPROCESSO_DI
  WHERE rtrim(NR_PROCESSO) = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END
IF @identificador = '5'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1)
  FROM TDESTAQUE_NCM
  WHERE rtrim(NR_PROCESSO)+NR_ADICAO = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END
IF @identificador = '6'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1)
  FROM TDOCUMENTO_VINCULADO
  WHERE rtrim(NR_PROCESSO)+NR_ADICAO = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END
IF @identificador = '7'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1)
  FROM TPAGAMENTO_PREVISTO
  WHERE rtrim(NR_PROCESSO)+NR_ADICAO = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END
IF @identificador = '8'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1)
  FROM TPAGAMENTO_VINCULADO
  WHERE rtrim(NR_PROCESSO)+NR_ADICAO+CD_FORMA_PAGAMENTO = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END
IF @identificador = '9'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1 )
  FROM TPROCESSO_CARGA_SOLTA
  WHERE RTRIM(NR_PROCESSO) = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END
IF @identificador = '10'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1 )
  FROM TREF_CLIENTE
  WHERE RTRIM(NR_PROCESSO) = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END

IF @identificador = '11'
BEGIN
  SELECT @nr_sequencia = ISNULL( ( MAX( NR_SEQUENCIA ) + 1 ), 1 )
  FROM TPREVISAO_EMBALAGEM_CARGA
  WHERE RTRIM(NR_PROCESSO) = @chave
  IF @@rowcount = 0 SELECT @nr_sequencia = 1
END



GO
