USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [SP_CREATE_FILE_OPTIONS] AS    
SET ARITHABORT ON    

DECLARE @CHAVE  VARCHAR(20)    
DECLARE @DESCRICAO VARCHAR(200)    
DECLARE @FILENAME VARCHAR(100)    
DECLARE @execstr1 VARCHAR(8000) 
DECLARE @TB_CURSOR AS TABLE (CHAVE VARCHAR(8000), DESCRICAO VARCHAR(8000))   
    
/* FAMILIA PRODUTOS EXP *****************************************************************************/    
SET @FILENAME = 'option_familia_prod_exp.txt'    

INSERT @TB_CURSOR
SELECT CD_FAMILIA_PROD, NM_FAMILIA_PROD        
  FROM TFAMILIA_PROD (NOLOCK)   
 WHERE IN_ATIVO = '1'    
   AND CD_PRODUTO = '02'    
 ORDER BY LTRIM(NM_FAMILIA_PROD)    
 
EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR

    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
    
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END
    
/* FAMILIA PRODUTOS IMP *****************************************************************************/    
SET @FILENAME = 'option_familia_prod_imp.txt'    

INSERT @TB_CURSOR
SELECT CD_FAMILIA_PROD, NM_FAMILIA_PROD        
  FROM TFAMILIA_PROD (NOLOCK)   
 WHERE IN_ATIVO = '1'    
   AND CD_PRODUTO = '01'    
 ORDER BY LTRIM(NM_FAMILIA_PROD)   

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
    
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END

/* PLANEJADORES**************************************************************************************/
SET @FILENAME = 'option_planejadores.txt'    

INSERT @TB_CURSOR  
SELECT CD_PLANEJADOR, NM_PLANEJADOR        
  FROM TPLANEJADORES (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_PLANEJADOR)
 
EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR

    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
    
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END
    
/* AGENTE *******************************************************************************************/    
SET @FILENAME = 'option_agente.txt'   
 
INSERT @TB_CURSOR    
SELECT CD_AGENTE, NM_AGENTE    
  FROM TAGENTE (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_AGENTE)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END

    
/* ANALISTA CLIENTE *********************************************************************************/    
SET @FILENAME = 'option_analista_cliente.txt'    

INSERT @TB_CURSOR   
SELECT CD_USUARIO, NM_USUARIO    
  FROM TUSUARIO (NOLOCK)    
 WHERE IN_ATIVO = '1'    
   AND CD_CARGO = '040'    
 ORDER BY LTRIM(NM_USUARIO)

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END
    
/* ANALISTA INDAIA **********************************************************************************/    
SET @FILENAME = 'option_analista_indaia.txt'    

INSERT @TB_CURSOR  
SELECT CD_USUARIO, NM_USUARIO    
  FROM TUSUARIO (NOLOCK)    
 WHERE IN_ATIVO = '1'    
   AND CD_CARGO <> '040'    
 ORDER BY LTRIM(NM_USUARIO)

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END    
    
/* AREA *********************************************************************************************/    
SET @FILENAME = 'option_area.txt'    

INSERT @TB_CURSOR       
SELECT CD_AREA, NM_AREA          
  FROM TAREA (NOLOCK)   
 ORDER BY LTRIM(NM_AREA)

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END 
    
/* ARMAZEM ATRACACAO ********************************************************************************/    
SET @FILENAME = 'option_armazem_atracacao.txt'   
 
INSERT @TB_CURSOR       
SELECT CD_ARMAZEM, NM_ARMAZEM          
  FROM TARMAZEM (NOLOCK)    
 WHERE IN_ATRACACAO = '1'    
 ORDER BY LTRIM(NM_ARMAZEM)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END     
    
/* ARMAZEM DESCARGA *********************************************************************************/    
SET @FILENAME = 'option_armazem_descarga.txt'    

INSERT @TB_CURSOR           
SELECT CD_ARMAZEM, NM_ARMAZEM          
  FROM TARMAZEM (NOLOCK)   
 WHERE IN_DESCARGA = '1'    
 ORDER BY LTRIM(NM_ARMAZEM)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END       
    
/* ARMAZEM ESTOCAGEM ********************************************************************************/    
SET @FILENAME = 'option_armazem_estocagem.txt'    

INSERT @TB_CURSOR 
SELECT CD_ARMAZEM, NM_ARMAZEM          
  FROM TARMAZEM (NOLOCK)   
 WHERE IN_ESTOCAGEM = '1'    
 ORDER BY LTRIM(NM_ARMAZEM)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END    
    
/* BANCO EST ****************************************************************************************/    
SET @FILENAME = 'option_banco_est.txt'    

INSERT @TB_CURSOR 
SELECT CD_EMPRESA, NM_EMPRESA          
  FROM TEMPRESA_EST (NOLOCK)   
 WHERE IN_BANCO = '1'    
 ORDER BY LTRIM(NM_EMPRESA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END    
    
/* CELULA *******************************************************************************************/    
SET @FILENAME = 'option_celula.txt'    

INSERT @TB_CURSOR 
SELECT CD_CELULA, NM_CELULA          
  FROM TCELULA (NOLOCK)   
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_CELULA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      
    
/* CLIENTE ******************************************************************************************/    
SET @FILENAME = 'option_cliente.txt'    

INSERT @TB_CURSOR   
SELECT CD_EMPRESA, NM_EMPRESA + ' ( CNPJ: ' + SUBSTRING(CGC_EMPRESA,1,2)+'.'+SUBSTRING(CGC_EMPRESA,3,3)+'.'+SUBSTRING(CGC_EMPRESA,6,3)+'/'+SUBSTRING(CGC_EMPRESA,9,4)+'-'+SUBSTRING(CGC_EMPRESA,13,2) + ' )'        
  FROM TEMPRESA_NAC (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_EMPRESA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      
    
/* DESPACHANTES *************************************************************************************/    
SET @FILENAME = 'option_despachantes.txt'    

INSERT @TB_CURSOR  
SELECT CD_DESPACHANTE, NM_DESPACHANTE        
  FROM TDESPACHANTE (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_DESPACHANTE)

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      

/* EMBARCACAO ***************************************************************************************/    
SET @FILENAME = 'option_embarcacao.txt'   
 
INSERT @TB_CURSOR  
SELECT CD_EMBARCACAO, NM_EMBARCACAO        
  FROM TEMBARCACAO (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_EMBARCACAO)

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END       
    
/* EXPORT NAC ***************************************************************************************/    
SET @FILENAME = 'option_export_nac.txt'   
 
INSERT @TB_CURSOR  
SELECT CD_EMPRESA, NM_EMPRESA        
  FROM TEMPRESA_NAC (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_EMPRESA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END        
    
/* EXPORTADORES *************************************************************************************/    
SET @FILENAME = 'option_exportador.txt' 
   
INSERT @TB_CURSOR      
SELECT CD_EMPRESA, NM_EMPRESA        
  FROM TEMPRESA_EST (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_EMPRESA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      

/* FORNECEDORES IMP *********************************************************************************/    
SET @FILENAME = 'option_fornec_imp.txt'  
  
INSERT @TB_CURSOR    
SELECT CD_EMPRESA, NM_EMPRESA    
  FROM TEMPRESA_EST (NOLOCK)   
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_EMPRESA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END        
    
/* GRUPO CLIENTES ***********************************************************************************/    
SET @FILENAME = 'option_grupo_cliente.txt' 
  
INSERT @TB_CURSOR   
SELECT CD_GRUPO, NM_GRUPO        
  FROM TGRUPO (NOLOCK)   
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_GRUPO)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END            
    
/* IMPORTADOR NAC ***********************************************************************************/    
SET @FILENAME = 'option_import_nac.txt'    

INSERT @TB_CURSOR 
SELECT CD_EMPRESA, NM_EMPRESA        
  FROM TEMPRESA_NAC (NOLOCK)    
 WHERE IN_ATIVO = '1'    
   AND IN_IMPORTADOR = '1'    
 ORDER BY LTRIM(NM_EMPRESA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END          

/* IMPORTADOR (EXP) *********************************************************************************/    
SET @FILENAME = 'option_exp_importador.txt'   
 
INSERT @TB_CURSOR      
SELECT CD_EMPRESA, NM_EMPRESA        
  FROM TEMPRESA_EST (NOLOCK)    
 WHERE IN_ATIVO = '1'    
   AND IN_IMPORTADOR = '1'    
 ORDER BY LTRIM(NM_EMPRESA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      

/* FORNECEDOR (IMP) *********************************************************************************/    
SET @FILENAME = 'option_imp_fornecedor.txt'    

INSERT @TB_CURSOR 
      SELECT CD_EMPRESA, NM_EMPRESA        
      FROM TEMPRESA_EST (NOLOCK)    
      WHERE IN_ATIVO = '1'    
        AND IN_EXPORTADOR = '1' 
      ORDER BY LTRIM(NM_EMPRESA)

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      

/* IMPORTADOR (IMP) *********************************************************************************/    
SET @FILENAME = 'option_imp_importador.txt'    

INSERT @TB_CURSOR     
SELECT CD_EMPRESA, NM_EMPRESA        
  FROM TEMPRESA_NAC (NOLOCK)  
 WHERE IN_ATIVO = '1'    
   AND IN_IMPORTADOR = '1'    
 ORDER BY LTRIM(NM_EMPRESA)

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      
    
/* LOCAL DE EMBARQUE ********************************************************************************/    
SET @FILENAME = 'option_local_embarque.txt' 
   
INSERT @TB_CURSOR   
SELECT CODIGO, DESCRICAO        
  FROM TLOCAL_EMBARQUE (NOLOCK)    
 ORDER BY LTRIM(DESCRICAO)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END         
    
/* PAISES *******************************************************************************************/    
SET @FILENAME = 'option_paises.txt'    

INSERT @TB_CURSOR      
SELECT CD_PAIS, NM_PAIS        
  FROM TPAIS_BROKER (NOLOCK)   
 ORDER BY LTRIM(NM_PAIS)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END        

/* REPRESENTANTES ***********************************************************************************/    
SET @FILENAME = 'option_representante.txt'  
  
INSERT @TB_CURSOR 
SELECT CD_EMPRESA, NM_EMPRESA     
  FROM TEMPRESA_NAC (NOLOCK)   
 WHERE IN_REPRESENTANTE = '1'    
 ORDER BY LTRIM(NM_EMPRESA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END        
    
/* SUB-AREA *****************************************************************************************/    
SET @FILENAME = 'option_subarea.txt'  
  
INSERT @TB_CURSOR  
SELECT CD_AREA, NM_AREA     
  FROM TAREA (NOLOCK)    
 WHERE ISNULL(NM_GRUPO,'') <> ''    
 ORDER BY LTRIM(NM_AREA)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      
    
/* TERMO DE PAGAMENTO *******************************************************************************/    
SET @FILENAME = 'option_termo_pagto.txt'   
 
INSERT @TB_CURSOR   
SELECT CD_TERMO_PAGTO, NM_TERMO_PAGTO     
  FROM TTERMO_PAGTO (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_TERMO_PAGTO)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END          
    
/* TRANSPORTADOR ROD ********************************************************************************/    
SET @FILENAME = 'option_transp_rod.txt'    

INSERT @TB_CURSOR  
SELECT CD_TRANSP_ROD, NM_TRANSP_ROD     
  FROM TTRANSP_ROD (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_TRANSP_ROD)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      
    
/* TRANSPORTADOR ************************************************************************************/    
SET @FILENAME = 'option_transportador.txt'   
 
INSERT @TB_CURSOR     
SELECT CODIGO, DESCRICAO     
  FROM TTRANSPORTADOR_ITL (NOLOCK)     
 ORDER BY LTRIM(DESCRICAO)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      
    
/* UNIDADES DE NEGOCIO ******************************************************************************/    
SET @FILENAME = 'option_unid_neg.txt'   
 
INSERT @TB_CURSOR 
SELECT CD_UNID_NEG, NM_UNID_NEG     
  FROM TUNID_NEG (NOLOCK)       
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_UNID_NEG)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END       
    
/* URF **********************************************************************************************/    
SET @FILENAME = 'option_urf.txt'   
 
INSERT @TB_CURSOR  
SELECT CODIGO, DESCRICAO     
  FROM TURF (NOLOCK)   
 ORDER BY LTRIM(DESCRICAO)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      
    
/* USUARIO ******************************************************************************************/    
SET @FILENAME = 'option_usuario.txt'    

INSERT @TB_CURSOR 
SELECT CD_USUARIO, NM_USUARIO     
  FROM TUSUARIO (NOLOCK)    
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_USUARIO)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      

/* SERVICOS *****************************************************************************************/
SET @FILENAME = 'option_servico.txt'    

INSERT @TB_CURSOR 
SELECT CD_SERVICO, NM_SERVICO        
  FROM VW_SERVICO_GERAL (NOLOCK)       
 WHERE IN_ATIVO = '1'    
 ORDER BY LTRIM(NM_SERVICO)    

EXEC spWriteStringToFile '', '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 1    
WHILE (SELECT COUNT(*) FROM @TB_CURSOR) > 0		
BEGIN
	SELECT TOP 1 @CHAVE = CHAVE, @DESCRICAO = DESCRICAO FROM @TB_CURSOR
	  
    SET @execstr1 = '<option value='+RTRIM(LTRIM(@CHAVE))+'>'+RTRIM(LTRIM(@DESCRICAO))+'</option>'
    EXEC spWriteStringToFile @execstr1, '\\indaiaweb\Sites\myindaia\selects', @FILENAME, 0
      
    DELETE @TB_CURSOR WHERE CHAVE = @CHAVE  
END      

GO
