USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_reordena_selecionados] (@tabela char(1), @dt_chave datetime, @cd_unid_neg char(2), @nr_lanc varchar(6)) AS

DECLARE @CONT INT
DECLARE @SELEC CHAR(1)
DECLARE @LANC VARCHAR(6)
DECLARE @LANC_SELEC VARCHAR(6)

--caixa
if @tabela = '1'
begin


 DECLARE c_caixa CURSOR FOR
  SELECT NR_LANCAMENTO, ISNULL(IN_SELECIONADO, '0') AS IN_SELECIONADO
    FROM TCAIXA
   WHERE DT_MOVIMENTO = @dt_chave
     AND NR_LANCAMENTO >= @nr_lanc
  ORDER BY DT_MOVIMENTO, NR_LANCAMENTO 
   OPEN c_caixa
  FETCH c_caixa INTO @lanc, @selec

  SELECT @LANC_SELEC = RIGHT( '000000' + CONVERT( VARCHAR,ISNULL( CONVERT(INT, MAX(ISNULL(NR_LANCAMENTO_SELECIONADO, '0'))), 0) + 1 ), 6 )
    FROM TCAIXA
   WHERE DT_MOVIMENTO = @dt_chave
    AND NR_LANCAMENTO < @nr_lanc

  WHILE @@fetch_status = 0 
  BEGIN

    IF @SELEC = '1'
    BEGIN    

      UPDATE TCAIXA SET NR_LANCAMENTO_SELECIONADO = @LANC_SELEC
       WHERE NR_LANCAMENTO = @LANC AND DT_MOVIMENTO = @dt_chave

      SET @LANC_SELEC = RIGHT( '000000' + CONVERT( VARCHAR,ISNULL( CONVERT(INT, MAX(ISNULL(@LANC_SELEC, '0'))), 0) + 1 ), 6 )
 
    END   
    ELSE
    BEGIN

      UPDATE TCAIXA SET NR_LANCAMENTO_SELECIONADO = Null
       WHERE NR_LANCAMENTO = @LANC AND DT_MOVIMENTO = @dt_chave


    END

    FETCH c_caixa INTO @lanc, @selec
  END 

  CLOSE c_caixa
  DEALLOCATE c_caixa

end 
else if @tabela = '2' --adm
begin


 DECLARE c_adm CURSOR FOR
  SELECT NR_LANCAMENTO, ISNULL(IN_SELECIONADO, '0') AS IN_SELECIONADO
    FROM TADM
   WHERE DT_LANCTO = @dt_chave
     AND CD_UNID_NEG = @cd_unid_neg
     AND NR_LANCAMENTO >= @nr_lanc
  ORDER BY DT_LANCTO, CD_UNID_NEG, NR_LANCAMENTO 
   OPEN c_adm
  FETCH c_adm INTO @lanc, @selec



  SELECT @LANC_SELEC = RIGHT( '000' + CONVERT( VARCHAR,ISNULL( CONVERT(INT, MAX(ISNULL(NR_LANCAMENTO_SELECIONADO, '0'))), 0) + 1 ), 3 )
    FROM TADM
   WHERE DT_LANCTO = @dt_chave
     AND CD_UNID_NEG  = @cd_unid_neg
     AND NR_LANCAMENTO < @nr_lanc

  WHILE @@fetch_status = 0
  BEGIN

    IF @SELEC = '1'
    BEGIN   

      UPDATE TADM SET NR_LANCAMENTO_SELECIONADO = @LANC_SELEC
      WHERE NR_LANCAMENTO = @LANC 
        AND DT_LANCTO = @dt_chave 
        AND CD_UNID_NEG = @cd_unid_neg

      SET @LANC_SELEC = RIGHT( '000' + CONVERT( VARCHAR,ISNULL( CONVERT(INT, MAX(ISNULL(@LANC_SELEC, '0'))), 0) + 1 ), 3 )   
 
    END
    ELSE
    BEGIN

      UPDATE TADM SET NR_LANCAMENTO_SELECIONADO = Null
      WHERE NR_LANCAMENTO = @LANC 
        AND DT_LANCTO = @dt_chave 
        AND CD_UNID_NEG = @cd_unid_neg


    END


    FETCH c_adm INTO @lanc, @selec
  END
  CLOSE c_adm
  DEALLOCATE c_adm


end
else if @tabela = '3'
begin


 DECLARE c_ctaapagar CURSOR FOR
  SELECT  NR_CTAAPAGAR, ISNULL(IN_SELECIONADO, '0')  AS IN_SELECIONADO
    FROM TCTAAPAGAR
   WHERE DT_CTAAPAGAR = @dt_chave
     AND CD_UNID_NEG = @cd_unid_neg
     AND NR_CTAAPAGAR >= @nr_lanc
   ORDER BY DT_CTAAPAGAR, CD_UNID_NEG, NR_CTAAPAGAR 
    OPEN c_ctaapagar
   FETCH c_ctaapagar INTO @lanc, @selec


  SELECT @LANC_SELEC = RIGHT( '000' + CONVERT( VARCHAR,ISNULL( CONVERT(INT, MAX(ISNULL(NR_CTAAPAGAR_SELECIONADO, '0'))), 0) + 1 ), 3 )
    FROM TCTAAPAGAR
   WHERE DT_CTAAPAGAR = @dt_chave
    AND CD_UNID_NEG  = @cd_unid_neg
    AND NR_CTAAPAGAR < @nr_lanc

  WHILE @@fetch_status = 0 
  BEGIN

    IF @SELEC = '1'
    BEGIN

      UPDATE TCTAAPAGAR SET NR_CTAAPAGAR_SELECIONADO = @LANC_SELEC
       WHERE NR_CTAAPAGAR = @LANC
         AND DT_CTAAPAGAR = @dt_chave
         AND CD_UNID_NEG  = @cd_unid_neg

      SET @LANC_SELEC = RIGHT( '000' + CONVERT( VARCHAR,ISNULL( CONVERT(INT, MAX(ISNULL(@LANC_SELEC, '0'))), 0) + 1 ), 3 )

    END
    ELSE
    BEGIN

      UPDATE TCTAAPAGAR SET NR_CTAAPAGAR_SELECIONADO = Null
       WHERE NR_CTAAPAGAR = @LANC
         AND DT_CTAAPAGAR = @dt_chave
         AND CD_UNID_NEG  = @cd_unid_neg

    END

    FETCH c_ctaapagar INTO @lanc, @selec
  END
  CLOSE c_ctaapagar
  DEALLOCATE c_ctaapagar




end



GO
