USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_atz_solic_pagto] @nr_processo CHAR(18) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
SELECT @nr_processo = '0301MY-0011-05'
--*/

DECLARE @cd_usuario	      char(4)
DECLARE @cd_item              char(3)
DECLARE @nr_lancamento        char(3)
DECLARE @in_item_di           char(1)
DECLARE @vl_solicitado        numeric(14,2)
--DECLARE @vl_saldo_item        numeric(14,2)
DECLARE @erro                 int
DECLARE @nm_stored_procedure  varchar(30)
DECLARE @vl_calculado         numeric(14,2)
DECLARE @in_calcular          bit
DECLARE @incluir	      bit
DECLARE @cd_calculo 	      char(3)
DECLARE @tp_destino 	      char(1)

DECLARE @in_di_existente      bit
DECLARE @in_di_registrada     bit
DECLARE @in_di_calculada      bit
DECLARE @in_di_calculada_hoje bit
DECLARE @retornar	      bit

SELECT @retornar = 0

SELECT @in_di_existente = 
( SELECT COUNT(*)
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo )

SELECT @in_di_registrada =
( SELECT COUNT(*)
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo AND
         ( ( NR_DECLARACAO_IMP IS NOT NULL ) AND ( LTRIM( RTRIM( NR_DECLARACAO_IMP ) ) <> '' ) ) )

SELECT @in_di_calculada =
( SELECT COUNT(*)
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo AND
         DT_CALCULO IS NOT NULL )

SELECT @in_di_calculada_hoje =
( SELECT COUNT(*)
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo AND
         DT_CALCULO IS NOT NULL AND
         CONVERT( datetime, CONVERT( char(10), DT_CALCULO, 103 ), 103 ) =
         CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ) )

DECLARE c_itens CURSOR FOR
  SELECT S.CD_ITEM, ISNULL( I.IN_ITEM_DI, '0' ), ISNULL(S.VL_SOLICITADO, 0) VL_SOLICITADO --, ISNULL(S.VL_SALDO_ITEM, 0) VL_SALDO_ITEM
  FROM   TNUMERARIO_NOTIFICA_ITEM S, TITEM I
  WHERE  NR_PROCESSO = @nr_processo AND
         S.CD_ITEM = I.CD_ITEM AND
         S.VL_SOLICITADO > 0
         
SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

DELETE TLOG_ERRO_CALCULO 
WHERE CD_USUARIO = @cd_usuario 

OPEN c_itens
FETCH c_itens INTO @cd_item, @in_item_di, @vl_solicitado--, @vl_saldo_item
WHILE @@fetch_status <> -1
BEGIN
  SELECT @in_calcular  = 0
  SELECT @incluir      = 0
  SELECT @nm_stored_procedure = ''
  SELECT @cd_calculo   = ''
  SELECT @vl_calculado = 0

  SELECT @tp_destino   = TP_DESTINO
  FROM   TNUMERARIO_NOTIFICA_ITEM I, TTP_DESTINO T
  WHERE  I.TP_DESTINO  = T.CD_TP_DESTINO AND 
         I.NR_PROCESSO = @nr_processo    AND
         I.CD_ITEM     = @cd_item

  IF ( @tp_destino <> '1' ) and ( @tp_destino <> '4' ) and ( @tp_destino <> '0' )
  BEGIN
    IF ( SELECT COUNT(*)
         FROM   TSOLIC_PAGTO
         WHERE  NR_PROCESSO = @nr_processo AND
                CD_ITEM = @cd_item AND 
                CD_STATUS NOT IN ( '4', '17', '18' )  ) > 0 -- Item já existe
    BEGIN
      
      PRINT 'JA EXISTE'

      IF ( SELECT COUNT(*)
           FROM   TSOLIC_PAGTO S, TITEM I
           WHERE  S.CD_ITEM = I.CD_ITEM AND
                  S.NR_PROCESSO = @nr_processo AND
                  S.CD_ITEM = @cd_item AND
                  S.CD_STATUS NOT IN ( '4', '17', '18' ) AND
                  I.IN_ITEM_DI = '1' AND
                  S.IN_CALCULADO = '0' ) > 0 -- Item não foi calculado
      BEGIN
        -- Calcular item
        SELECT @nm_stored_procedure = ISNULL( C.NM_STORED_PROCEDURE, ''), 
               @cd_calculo   = ISNULL( C.CD_CALCULO, '')
        FROM   TSOLIC_PAGTO S, TCALCULO C
        WHERE  S.CD_CALCULO  = C.CD_CALCULO AND
               S.NR_PROCESSO = @nr_processo AND
               S.CD_ITEM     = @cd_item AND
               S.CD_STATUS NOT IN ( '4', '17', '18' )
        IF ( @nm_stored_procedure <> '' ) AND ( @cd_calculo <> '' ) SELECT @in_calcular = 1
      END
    END
    ELSE
    BEGIN
      IF @in_item_di = '0'
      BEGIN
        SELECT @nr_lancamento = ISNULL( MAX( NR_LANCAMENTO ), '000' )
        FROM   TSOLIC_PAGTO
        WHERE  NR_PROCESSO = @nr_processo

        SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar(3), ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

	PRINT 'ANTES DO INSERT'

        INSERT  TSOLIC_PAGTO ( NR_PROCESSO, NR_LANCAMENTO, CD_ITEM, VL_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI,
                DT_SOLIC_PAGTO, HM_SOLIC_PAGTO, IN_CALCULADO, TP_DESTINO )
        VALUES( @nr_processo, @nr_lancamento, @cd_item, @vl_solicitado, '0', '0', '0',
                CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ), 
                RIGHT( '0' + CONVERT( varchar(2), DATEPART( hh , GETDATE() ) ), 2) + ':' +
                RIGHT( '0' + CONVERT( varchar(2), DATEPART( mi , GETDATE() ) ), 2), '1', @tp_destino )
      END
      ELSE
      BEGIN
        SELECT @incluir = 1

        SELECT @nm_stored_procedure = ISNULL( MAX(C.NM_STORED_PROCEDURE), '' ),
               @cd_calculo          = ISNULL( MAX(C.CD_CALCULO), '' )
        FROM   TPROCESSO P, TCLIENTE_NUMERARIO N, TCALCULO C
        WHERE  P.CD_CLIENTE     = N.CD_CLIENTE     AND
               P.CD_UNID_NEG    = N.CD_UNID_NEG    AND
               P.CD_PRODUTO     = N.CD_PRODUTO     AND
               P.CD_SERVICO     = N.CD_SERVICO     AND
               N.TP_CALCULO     = C.CD_CALCULO     AND
               P.NR_PROCESSO    = @nr_processo     AND
               N.CD_ITEM        = @cd_item

        IF @nm_stored_procedure <> '' SELECT @in_calcular = 1
      END
    END

    IF @in_calcular = 1
    BEGIN
      IF /*( @in_item_di = '1'         ) AND */
         ( @in_di_existente = 1      ) AND
         /*( @in_di_registrada = 0     ) AND*/
         ( @in_di_calculada = 1      ) /*AND
         ( @in_di_calculada_hoje = 1 )*/
      BEGIN
        EXEC @erro = @nm_stored_procedure @nr_processo, @cd_item, @vl_calculado output
        IF @erro > 0 
        BEGIN
          -- Gravar erro    
          INSERT INTO TLOG_ERRO_CALCULO VALUES ( @cd_usuario, @nm_stored_procedure, @erro, @cd_item )
        END
        ELSE
        BEGIN
          IF @incluir = 1
          BEGIN

	    PRINT 'INCLUIR...'	

            SELECT @nr_lancamento = ISNULL( MAX( NR_LANCAMENTO ), '000' )
            FROM   TSOLIC_PAGTO
            WHERE  NR_PROCESSO = @nr_processo

            SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar(3), ( CONVERT( int, @nr_lancamento ) + 1 ) ), 3 )

            INSERT  TSOLIC_PAGTO ( NR_PROCESSO, NR_LANCAMENTO, CD_ITEM, VL_PAGTO, CD_STATUS, IN_SOLICITADO, IN_RESTITUI,
 	            DT_SOLIC_PAGTO, HM_SOLIC_PAGTO, CD_CALCULO, IN_CALCULADO, TP_DESTINO )
            VALUES( @nr_processo, @nr_lancamento, @cd_item, ISNULL( @vl_calculado, 0 ), '0', '0', '0',
                    CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ), 
                    RIGHT( '0' + CONVERT( varchar(2), DATEPART( hh , GETDATE() ) ), 2) + ':' +
                    RIGHT( '0' + CONVERT( varchar(2), DATEPART( mi , GETDATE() ) ), 2), @cd_calculo, '1', @tp_destino )
          END
          ELSE
          BEGIN

	    PRINT 'UPDATE'	

            UPDATE TSOLIC_PAGTO 
            SET    VL_PAGTO       = @vl_calculado, 
                   DT_SOLIC_PAGTO = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ),
                   HM_SOLIC_PAGTO = RIGHT( '0' + CONVERT( varchar(2), DATEPART( hh , GETDATE() ) ), 2 ) + ':' +
                       	            RIGHT( '0' + CONVERT( varchar(2), DATEPART( mi , GETDATE() ) ), 2 ),
                   CD_CALCULO     =  @cd_calculo,
                   IN_CALCULADO   = '1' 
            WHERE NR_PROCESSO = @nr_processo AND CD_ITEM = @cd_item AND CD_STATUS NOT IN ( '4', '17', '18' )
          END
        END
      END
      ELSE
      BEGIN
        IF @in_item_di = '1' SELECT @retornar = 1
      END
    END
  END
  FETCH c_itens INTO @cd_item, @in_item_di, @vl_solicitado--, @vl_saldo_item
END
CLOSE c_itens
DEALLOCATE c_itens

IF @retornar = 1
BEGIN
  IF @in_di_existente = 0      RETURN(1)
  IF @in_di_registrada = 1     RETURN(2)
  IF @in_di_calculada = 0      RETURN(3)
  IF @in_di_calculada_hoje = 0 RETURN(4)
  RETURN(0)
END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/



GO
