USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/****** Object:  Stored Procedure dbo.sp_exclui_di    Script Date: 02/09/1999 08:58:11 AM ******/
CREATE procedure [sp_exclui_di]( @nr_processo char(18) ) AS
BEGIN TRANSACTION
  delete from TDECLARACAO_IMPORTACAO  where (nr_processo = @nr_processo)
  delete from TCARGA_ARMAZEM          where (nr_processo = @nr_processo)
  delete from TCOMPENSACAO_CREDITO    where (nr_processo = @nr_processo)
  --esta comentado pois foi solicitado pela Analista Andrea para não apagar mais a fatura da manutenção do processo
  --erik 02/2004
  --delete from TDOCUMENTO_INSTRUCAO    where (nr_processo = @nr_processo)
  delete from TEMBALAGEM_CARGA        where (nr_processo = @nr_processo)
  delete from TPAGAMENTO_TRIBUTOS     where (nr_processo = @nr_processo)
  delete from TPROCESSO_DI            where (nr_processo = @nr_processo)
  delete from TADICAO_DE_IMPORTACAO   where (nr_processo = @nr_processo)
  delete from TACRESCIMO_VALORACAO    where (nr_processo = @nr_processo)
  delete from TATO_VINCULADO          where (nr_processo = @nr_processo)
  delete from TDEDUCAO_VALORACAO      where (nr_processo = @nr_processo)
  delete from TDESTAQUE_NCM           where (nr_processo = @nr_processo)
  delete from TDOCUMENTO_VINCULADO    where (nr_processo = @nr_processo)
  delete from TPAGAMENTO_PREVISTO     where (nr_processo = @nr_processo)
  delete from TPAGAMENTO_VINCULADO    where (nr_processo = @nr_processo)
  delete from TRIBUTO                 where (nr_processo = @nr_processo)
  delete from TVALORACAO_NCM          where (nr_processo = @nr_processo)
  delete from TDETALHE_MERCADORIA     where (nr_processo = @nr_processo)
  delete from TDI_NVE          where (nr_processo = @nr_processo)
  if @@error != 0
  begin
    ROLLBACK TRANSACTION
    Return (1)
  end
COMMIT TRANSACTION
Return (0)





GO
