USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [sp_rel_desp] ( @cd_unid_neg char(2), @cd_produto char(2), @nr_processo char(18), @cd_grupo char(3), @cd_cliente char(5), @tp_despesa char(1), 
                          @dt_inicial datetime, @dt_final datetime, @nr_rel_desp int OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto  char(2)
DECLARE @nr_processo char(18)
DECLARE @cd_cliente  char(5)
DECLARE @cd_grupo    char(3)
DECLARE @tp_despesa  char(1)
DECLARE @dt_inicial  datetime
DECLARE @dt_final    datetime
DECLARE @nr_rel_desp int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'
SELECT @nr_processo = 'X'
SELECT @cd_cliente  = 'X'
SELECT @cd_grupo    = '070'
SELECT @tp_despesa  = '3'
SELECT @dt_inicial  = CONVERT( datetime,'01/01/2001',103 )
SELECT @dt_final    = CONVERT( datetime,'23/10/2001',103 )
--*/

DECLARE @nr_processo1 char(18)
DECLARE @cd_item      char(03)
DECLARE @cd_banco     char(03)
DECLARE @vl_item      FLOAT

SELECT @nr_rel_desp = MAX ( ISNULL( NR_REL_DESP,0 ) ) + 1
FROM TREL_DESP

IF @tp_despesa = '0'
BEGIN

  DECLARE c_rel_desp CURSOR FOR 
  SELECT P.NR_PROCESSO, F.CD_ITEM, F.CD_BANCO, F.VL_ITEM
  FROM   TFATURAMENTO_CC F, TPROCESSO P, TEMPRESA_NAC E
  WHERE  F.CD_ITEM_NAO_FAT = '*' AND       
     ( ( P.CD_UNID_NEG     = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) AND
     ( ( P.CD_PRODUTO      = @cd_produto  ) OR ( @cd_produto  = 'X' ) ) AND 
     ( ( P.NR_PROCESSO     = @nr_processo ) OR ( @nr_processo = 'X' ) ) AND
     ( ( E.CD_EMPRESA      = @cd_cliente  ) OR ( @cd_cliente  = 'X' ) ) AND
     ( ( E.CD_GRUPO        = @cd_grupo    ) OR ( @cd_grupo    = 'X' ) ) AND        
         P.NR_PROCESSO     = F.NR_PROCESSO AND
         P.CD_CLIENTE      = E.CD_EMPRESA  AND
         F.DT_LANCAMENTO BETWEEN ( @dt_inicial ) AND ( @dt_final )

END
ELSE IF @tp_despesa = '1' 
BEGIN

  DECLARE c_rel_desp CURSOR FOR 
  SELECT F.NR_PROCESSO, F.CD_ITEM, F.CD_BANCO, F.VL_ITEM
  FROM   TFATURAMENTO_CC F, TPROCESSO P, TEMPRESA_NAC E
  WHERE  CD_ITEM       = ( SELECT CD_ITEM_SDA FROM TPARAMETROS )     AND
     ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )  AND
     ( ( P.CD_PRODUTO  = @cd_produto  ) OR ( @cd_produto  = 'X' ) )  AND
     ( ( P.NR_PROCESSO = @nr_processo ) OR ( @nr_processo = 'X' ) )  AND 
     ( ( E.CD_EMPRESA  = @cd_cliente  ) OR ( @cd_cliente  = 'X' ) )  AND
     ( ( E.CD_GRUPO    = @cd_grupo    ) OR ( @cd_grupo    = 'X' ) )  AND            
         P.NR_PROCESSO = F.NR_PROCESSO AND 
         P.CD_CLIENTE  = E.CD_EMPRESA  AND
         F.DT_LANCAMENTO BETWEEN ( @dt_inicial ) AND ( @dt_final )

END
ELSE IF @tp_despesa = '2'
BEGIN

  DECLARE c_rel_desp CURSOR FOR   
  SELECT F.NR_PROCESSO, F.CD_ITEM, F.CD_BANCO, F.VL_ITEM
  FROM   TFATURAMENTO_CC F, TPROCESSO P, TEMPRESA_NAC E
  WHERE  cd_item       = ( SELECT CD_ITEM_ICMS FROM TPARAMETROS )    AND 
     ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )  AND
     ( ( P.CD_PRODUTO  = @cd_produto  ) OR ( @cd_produto  = 'X' ) )  AND
     ( ( P.NR_PROCESSO = @nr_processo ) OR ( @nr_processo = 'X' ) )  AND
     ( ( E.CD_EMPRESA  = @cd_cliente  ) OR ( @cd_cliente  = 'X' ) )  AND
     ( ( E.CD_GRUPO    = @cd_grupo    ) OR ( @cd_grupo    = 'X' ) )  AND
         P.NR_PROCESSO = F.NR_PROCESSO AND  
         P.CD_CLIENTE  = E.CD_EMPRESA  AND
         F.dt_lancamento BETWEEN ( @dt_inicial ) AND ( @dt_final )

END
ELSE IF @tp_despesa = '3'
BEGIN
  DECLARE c_rel_desp CURSOR FOR 
  SELECT F.NR_PROCESSO, F.CD_ITEM, F.CD_BANCO, F.VL_ITEM
  FROM   TFATURAMENTO_CC F, TPROCESSO P, TEMPRESA_NAC E
  WHERE( F.CD_ITEM <> ( SELECT CD_ITEM_SDA  FROM TPARAMETROS ) AND
         F.CD_ITEM <> ( SELECT CD_ITEM_ICMS FROM TPARAMETROS ) AND
         ISNULL( F.CD_ITEM_NAO_FAT,'' ) <> '*' ) AND
     ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) )  AND
     ( ( P.CD_PRODUTO  = @cd_produto  ) OR ( @cd_produto  = 'X' ) )  AND
     ( ( P.NR_PROCESSO = @nr_processo ) OR ( @nr_processo = 'X' ) )  AND
     ( ( E.CD_EMPRESA  = @cd_cliente  ) OR ( @cd_cliente  = 'X' ) )  AND
     ( ( E.CD_GRUPO    = @cd_grupo    ) OR ( @cd_grupo    = 'X' ) )  AND       
         P.NR_PROCESSO = F.NR_PROCESSO AND 
         P.CD_CLIENTE  = E.CD_EMPRESA  AND
         F.DT_LANCAMENTO BETWEEN ( @dt_inicial ) and ( @dt_final )
END

OPEN c_rel_desp
FETCH c_rel_desp INTO @nr_processo1, @cd_item, @cd_banco, @vl_item
WHILE @@fetch_status = 0
BEGIN

  INSERT TREL_DESP VALUES ( @nr_rel_desp, @nr_processo1, @cd_item, @cd_banco, @vl_item ) 

  FETCH c_rel_desp INTO @nr_processo1, @cd_item, @cd_banco, @vl_item

END

CLOSE c_rel_desp
DEALLOCATE c_rel_desp

/*
SELECT * FROM TREL_DESP WHERE NR_REL_DESP = @nr_rel_desp

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/


GO
