USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

--esta Stored Procedure tem a finalidade de separar o processo do item do campo cd_referencia da tabela tref_cliente


/****** Object:  Stored Procedure dbo.sp_funcao_trata_processo_tref_cliente Script Date: 12/07/2004 ******/
/******             criado por erik alves de matos - 2004 - projeto myindaia                        ******/

CREATE PROCEDURE  [sp_funcao_trata_processo_tref_cliente] ( @processo_tref_cliente varchar(18), @processo varchar(18) OUTPUT, @item char(3) OUTPUT ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON

DECLARE @processo_tref_cliente varchar(18)
DECLARE @processo varchar(18)
DECLARE @item     char(3)

SELECT  @processo_tref_cliente = '4580210615/99'
--SELECT  @processo_tref_cliente = 'iti-1545'
--SELECT  @processo_tref_cliente = '4Q4127/10'
--SELECT  @processo_tref_cliente = 'iti-1545'
*/


DECLARE @tamanho  int


SELECT @tamanho = LEN( @processo_tref_cliente )

IF SUBSTRING( @processo_tref_cliente, LEN( @processo_tref_cliente ) - 1, 1 ) = '/'
BEGIN
  SELECT @tamanho = ( LEN( @processo_tref_cliente ) - 2 )
  SELECT @item = '00' + SUBSTRING( @processo_tref_cliente, LEN( @processo_tref_cliente ), 1 )
END
ELSE
BEGIN
  IF SUBSTRING( @processo_tref_cliente, LEN( @processo_tref_cliente ) - 2, 1 ) = '/'
  BEGIN
    SELECT @tamanho = len( @processo_tref_cliente ) - 3
    SELECT @item = '0' + SUBSTRING( @processo_tref_cliente, LEN( @processo_tref_cliente ) - 1, 2 )
  END
  ELSE
  BEGIN
    IF SUBSTRING( @processo_tref_cliente, LEN( @processo_tref_cliente ) - 3, 1 ) = '/'
    BEGIN
      SELECT @tamanho = LEN( @processo_tref_cliente ) - 4
      SELECT @item = SUBSTRING( @processo_tref_cliente, LEN( @processo_tref_cliente ) - 2, 3 )
    END
    ELSE
    BEGIN
      SELECT @item = '001'
    END
  END
END

SELECT @processo = SUBSTRING( @processo_tref_cliente, 1, @tamanho)



/*

SELECT @processo, @item

ROLLBACK TRAN
SET XACT_ABORT OFF
*/






GO
