USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_rel_ensaio] ( @cd_cliente char(5), @cd_unid_neg char(2), @cd_produto char(2),
     @dt_ini datetime, @dt_fim datetime, 
     @cd_item1 char(3), @cd_item2 char(3), @cd_item3 char(3) ) AS
/*
DECLARE @cd_cliente char(5)
DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @dt_ini datetime
DECLARE @dt_fim datetime
DECLARE @cd_item1 char(3)
DECLARE @cd_item2 char(3)
DECLARE @cd_item3 char(3)
SELECT @cd_cliente = '00128'
SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @dt_ini = CONVERT(datetime, '01/03/1999', 103)
SELECT @dt_fim = CONVERT(datetime, '01/07/1999', 103)
SELECT @cd_item1 = '822'
SELECT @cd_item2 = '818'
SELECT @cd_item3 = 'XXX'
*/
DECLARE @nm_stored_proc   varchar(30)
DECLARE @cd_item          char(3)
DECLARE @cd_item_atual          char(3)
DECLARE @cd_usuario  char(4)
DECLARE @nr_processo   char(18)
DECLARE @cd_servico  char(3)
DECLARE @tp_calculo  char(3)
DECLARE @vl_item  float
DECLARE @vl_atual1      numeric(14,2)
DECLARE @vl_atual2      numeric(14,2)
DECLARE @vl_atual3      numeric(14,2)
DECLARE @vl_proj1      numeric(14,2)
DECLARE @vl_proj2      numeric(14,2)
DECLARE @vl_proj3      numeric(14,2)
DECLARE @dt_fatura  datetime
DECLARE @erro      int
-- Verifica o produto e selecion Stored Procedure correspondente
IF @cd_produto IN ( '01', '03' ) SELECT @nm_stored_proc = 'sp_calc_ensaios_imp'
IF @cd_produto IN ( '02', '10' ) SELECT @nm_stored_proc = 'sp_calc_ensaios_exp'
-- Verifica o usu rio que est  emitindo o relat¢rio
SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_NAME()
-- Limpa TREL_ENSAIO para este Usu rio
DELETE TREL_ENSAIO
WHERE CD_USUARIO = @cd_usuario
-- Proje+ao emitida para os itens especificados por servi+o
-- Carrega os itens solicitados que foram faturados por servi+o
SELECT F.NR_PROCESSO, F.CD_ITEM, P.CD_SERVICO,
  CASE F.IN_RESTITUI
    WHEN '0' THEN SUM( (F.VL_ITEM+F.VL_ASSIST) )
    WHEN '1' THEN SUM( (F.VL_ITEM+F.VL_ASSIST) * (-1) )
  END VL_ITEM
INTO #tmp_fat_cc
FROM  TFATURAMENTO_CC F, 
      TPROCESSO P (TABLOCK HOLDLOCK)
WHERE P.NR_PROCESSO = F.NR_PROCESSO AND
      P.NR_PROCESSO IN
      ( SELECT FP.NR_PROCESSO 
        FROM   TS_FATURA_PROCESSO FP,
               TS_FATURA FAT
        WHERE  FAT.CD_UNID_NEG = FP.CD_UNID_NEG AND
        FAT.CD_PRODUTO = FP.CD_PRODUTO AND
        FAT.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
               FAT.DT_FATURA BETWEEN @dt_ini AND @dt_fim AND
               FAT.IN_CANCELADO = '0') AND
      P.CD_CLIENTE  = @cd_cliente AND
      P.CD_UNID_NEG = @cd_unid_neg AND
      P.CD_PRODUTO  = @cd_produto AND
      F.IN_CANCELADO = '0'
GROUP BY F.NR_PROCESSO, F.CD_ITEM, P.CD_SERVICO, F.IN_RESTITUI
DECLARE c_proc CURSOR FOR
  SELECT DISTINCT NR_PROCESSO
  FROM  #tmp_fat_cc
OPEN c_proc
FETCH c_proc INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN
  SELECT @vl_atual1 = 0
  SELECT @vl_atual2 = 0
  SELECT @vl_atual3 = 0
  SELECT @vl_proj1  = 0
  SELECT @vl_proj2  = 0
  SELECT @vl_proj3  = 0
  -- Carrega os valores dos itens solicitados que foram faturados
  DECLARE c_itens CURSOR FOR
    SELECT CD_SERVICO, CD_ITEM, SUM(VL_ITEM) VL_ITEM
    FROM   #tmp_fat_cc
    WHERE  NR_PROCESSO = @nr_processo
    GROUP BY CD_SERVICO, CD_ITEM
  OPEN c_itens
  FETCH c_itens INTO @cd_servico, @cd_item_atual, @vl_item
  WHILE @@fetch_status = 0
  BEGIN
    IF @cd_item_atual = @cd_item1 SELECT @vl_atual1 = @vl_item
    IF @cd_item_atual = @cd_item2 SELECT @vl_atual2 = @vl_item
    IF @cd_item_atual = @cd_item3 SELECT @vl_atual3 = @vl_item
    FETCH c_itens INTO @cd_servico, @cd_item_atual, @vl_item
  END
  CLOSE c_itens 
  DEALLOCATE c_itens
  -- Verifica a data do 1§ Faturamento para este processo
  SELECT @dt_fatura = MIN(FAT.DT_FATURA)
  FROM   TS_FATURA_PROCESSO FP,
         TS_FATURA FAT
  WHERE  FAT.CD_UNID_NEG    = FP.CD_UNID_NEG AND
  FAT.CD_PRODUTO     = FP.CD_PRODUTO AND
  FAT.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
  FAT.DT_FATURA BETWEEN @dt_ini AND @dt_fim AND
  FAT.IN_CANCELADO   = '0' AND
  FP.NR_PROCESSO     = @nr_processo
  -- Calculando valores nas novas projecoes
  -- Item 1
  IF (
    SELECT COUNT(*)
    FROM   TCLIENTE_PROJECAO
    WHERE  CD_CLIENTE     = @cd_cliente  AND
           CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto  AND
           CD_SERVICO     = @cd_servico  AND
           CD_ITEM   = @cd_item1 ) > 0
    EXEC   @erro = @nm_stored_proc @nr_processo, @cd_item1, @vl_proj1 OUTPUT
  -- Item 2
  IF (
    SELECT COUNT(*)
    FROM   TCLIENTE_PROJECAO
    WHERE  CD_CLIENTE     = @cd_cliente  AND
           CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto  AND
           CD_SERVICO     = @cd_servico  AND
           CD_ITEM   = @cd_item2 ) > 0
    EXEC   @erro = @nm_stored_proc @nr_processo, @cd_item2, @vl_proj2 OUTPUT
  -- Item 3
  IF (
    SELECT COUNT(*)
    FROM   TCLIENTE_PROJECAO
    WHERE  CD_CLIENTE     = @cd_cliente  AND
           CD_UNID_NEG    = @cd_unid_neg AND
           CD_PRODUTO     = @cd_produto  AND
           CD_SERVICO     = @cd_servico  AND
           CD_ITEM   = @cd_item3 ) > 0
    EXEC   @erro = @nm_stored_proc @nr_processo, @cd_item3, @vl_proj3 OUTPUT
  IF ( @vl_atual1 <> 0 ) OR ( @vl_atual2 <> 0 ) OR ( @vl_atual3 ) <> 0
    INSERT TREL_ENSAIO VALUES
      (@cd_usuario, @cd_servico, @nr_processo, @dt_fatura, @vl_atual1, @vl_atual2, @vl_atual3, @vl_proj1, @vl_proj2, @vl_proj3)
  FETCH c_proc INTO @nr_processo
END
CLOSE c_proc
DEALLOCATE c_proc
DROP TABLE #tmp_fat_cc




GO
