USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [sp_saldo_flx_cx] AS

DECLARE @dt_calc     datetime,   @cd_unid_neg char(2)
DECLARE @vl_rec_r_desemb  float, @vl_rec_r_ft float, @vl_rec_r_fi float, @vl_saldo_rec float
DECLARE @vl_des_g_da      float, @vl_des_g_dp float, @vl_des_g_ps float, @vl_des_g_hd  float
DECLARE @vl_des_g_cd      float, @vl_des_g_i  float, @vl_des_g_cs float, @vl_des_g_af  float
DECLARE @vl_des_g_as      float, @vl_des_g_ae float, @vl_des_g_au float, @vl_des_g_ef  float
DECLARE @vl_des_g_es      float, @vl_des_g_sg float, @vl_des_g_or float
DECLARE @vl_entradas      float, @vl_saidas   float, @vl_saldo    float
DECLARE @vl_saldo_inicial float

DECLARE @vl_des_g_da1  float, @vl_des_g_da2  float, @vl_des_g_dp1  float, @vl_des_g_dp2  float
DECLARE @vl_des_g_ps1  float, @vl_des_g_ps2  float, @vl_des_g_hd1  float, @vl_des_g_hd2  float
DECLARE @vl_des_g_cd1  float, @vl_des_g_cd2  float, @vl_des_g_i1   float, @vl_des_g_i2   float
DECLARE @vl_des_g_cs1  float, @vl_des_g_cs2  float, @vl_des_g_af1  float, @vl_des_g_af2  float
DECLARE @vl_des_g_as1  float, @vl_des_g_as2  float, @vl_des_g_ae1  float, @vl_des_g_ae2  float
DECLARE @vl_des_g_au1  float, @vl_des_g_au2  float, @vl_des_g_ef1  float, @vl_des_g_ef2  float
DECLARE @vl_des_g_es1  float, @vl_des_g_es2  float, @vl_des_g_sg1  float, @vl_des_g_sg2  float
DECLARE @vl_des_g_or1  float, @vl_des_g_or2  float

-- Seleciona a data corrente
SELECT @dt_calc = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )
  
DECLARE c_unid CURSOR FOR
  SELECT CD_UNID_NEG
  FROM TUNID_NEG (NOLOCK)

OPEN c_unid
FETCH c_unid INTO @cd_unid_neg
WHILE @@fetch_status <> -1
BEGIN

  SELECT @vl_rec_r_desemb = 0, @vl_rec_r_ft = 0, @vl_rec_r_fi = 0, @vl_saldo_rec = 0
  SELECT @vl_des_g_da     = 0, @vl_des_g_dp = 0, @vl_des_g_ps = 0, @vl_des_g_hd  = 0 
  SELECT @vl_des_g_cd     = 0, @vl_des_g_i  = 0, @vl_des_g_cs = 0, @vl_des_g_af  = 0
  SELECT @vl_des_g_as     = 0, @vl_des_g_ae = 0, @vl_des_g_au = 0, @vl_des_g_ef  = 0 
  SELECT @vl_des_g_es     = 0, @vl_des_g_sg = 0, @vl_des_g_or = 0
  SELECT @vl_entradas     = 0, @vl_saidas   = 0, @vl_saldo    = 0, @vl_saldo_inicial = 0

  -- Seleciona o valor do saldo do dia anterior
  SELECT @vl_saldo_inicial = ISNULL( VL_SALDO, 0 )
  FROM TSALDO_FLX_CX (NOLOCK)
  WHERE CD_UNID_NEG = @cd_unid_neg
    AND DT_MOVIMENTO = DATEADD( day, -1, @dt_calc )

  -- ENTRADAS
  -- Receita Recebida Desembaraço
  SELECT @vl_rec_r_desemb = ISNULL( SUM( FP.VL_INFORMADO ), 0 )
    FROM TS_FATURA F (NOLOCK)
         INNER JOIN TS_FATURA_PROCESSO_ITEM FP (NOLOCK) ON ( F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO = FP.CD_PRODUTO AND F.NR_SOLICITACAO = FP.NR_SOLICITACAO ) 
         INNER JOIN TITEM I (NOLOCK) ON ( FP.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
   WHERE F.DT_FATURA = @dt_calc AND
         F.CD_PRODUTO IN ( '01', '02' ) AND
         F.IN_CANCELADO = '0' AND
         F.CD_UNID_NEG = @cd_unid_neg AND 
        SUBSTRING( FP.NR_PROCESSO, 5, 2 ) <> 'FT'

  
  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  -- Receita Recebida Terceirização (FT)
  SELECT @vl_rec_r_ft = ( SELECT ISNULL( SUM( FC.VL_ITEM ), 0 )
                            FROM TS_FATURA F (NOLOCK)
                                 INNER JOIN TFATURAMENTO_CC FC (NOLOCK) ON ( FC.CD_UNID_NEG = F.CD_UNID_NEG AND F.CD_PRODUTO = FC.CD_PRODUTO AND F.NR_SOLICITACAO = FC.NR_SOLIC_FAT )
                                 INNER JOIN TITEM I (NOLOCK) ON ( FC.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
                           WHERE SUBSTRING( FC.NR_PROCESSO, 5, 2 ) = ('FT') AND
                                 F.DT_FATURA = @dt_calc AND  
                                 F.IN_CANCELADO = '0' AND
                                 F.CD_UNID_NEG = @cd_unid_neg AND
                                 FC.IN_RESTITUI = '0' ) - 
                        ( SELECT ISNULL( SUM( FC.VL_ITEM ), 0 )
                            FROM TS_FATURA F (NOLOCK)
                                 INNER JOIN TFATURAMENTO_CC FC (NOLOCK) ON ( FC.CD_UNID_NEG = F.CD_UNID_NEG AND F.CD_PRODUTO = FC.CD_PRODUTO AND F.NR_SOLICITACAO = FC.NR_SOLIC_FAT )
                                 INNER JOIN TITEM I (NOLOCK) ON ( FC.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
                           WHERE SUBSTRING( FC.NR_PROCESSO, 5, 2 ) = ('FT') AND
                                 F.DT_FATURA = @dt_calc AND
                                 F.IN_CANCELADO = '0' AND
                                 F.CD_UNID_NEG = @cd_unid_neg AND
                                 FC.IN_RESTITUI = '1' )

  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  -- Receita Recebida F.I.
  SELECT @vl_rec_r_fi = ( SELECT ISNULL( SUM( VL_ITEM ), 0 )
                            FROM TS_FATURA F (NOLOCK)
                                 INNER JOIN TFATURAMENTO_CC FC (NOLOCK) ON ( FC.CD_UNID_NEG = F.CD_UNID_NEG AND F.CD_PRODUTO = FC.CD_PRODUTO AND F.NR_SOLICITACAO = FC.NR_SOLIC_FAT )
                                 INNER JOIN TITEM I (NOLOCK) ON ( FC.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
                           WHERE F.DT_FATURA = @dt_calc AND 
                                 F.CD_PRODUTO IN ( '03', '10' ) AND 
                                 F.IN_CANCELADO = '0' AND
                                 F.CD_UNID_NEG = @cd_unid_neg AND 
                                 FC.IN_RESTITUI = '0' ) - 
                        ( SELECT ISNULL( SUM( VL_ITEM ), 0 )
                            FROM TS_FATURA F (NOLOCK)
                                 INNER JOIN TFATURAMENTO_CC FC (NOLOCK) ON ( FC.CD_UNID_NEG = F.CD_UNID_NEG AND F.CD_PRODUTO = FC.CD_PRODUTO AND F.NR_SOLICITACAO = FC.NR_SOLIC_FAT )
                                 INNER JOIN TITEM I (NOLOCK) ON ( FC.CD_ITEM = I.CD_ITEM AND I.IN_TRIBUTAVEL = '1' )
                           WHERE F.DT_FATURA = @dt_calc AND
                                 F.CD_PRODUTO IN ( '03', '10' ) AND 
                                 F.IN_CANCELADO = '0' AND
                                 F.CD_UNID_NEG = @cd_unid_neg AND
                                 FC.IN_RESTITUI = '1' )

  SELECT @vl_saldo_rec = @vl_rec_r_desemb + @vl_rec_r_ft + @vl_rec_r_fi

  -- SAÍDAS
  -- DESPESAS ADMINISTRATIVAS  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -- Pago - Direto Caixa
    SELECT @vl_des_g_da1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100001' and  year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_da2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410100001' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_da = @vl_des_g_da1 + @vl_des_g_da2   

  -- DESPESAS C/ PESSOAL  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   -- Pago - Direto Caixa
    SELECT @vl_des_g_dp1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300000' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_dp2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410300000' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_dp = @vl_des_g_dp1 + @vl_des_g_dp2   

  -- PRESTAÇÃO DE SERVIÇOS  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -- Pago - Direto Caixa
    SELECT @vl_des_g_ps1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6110100005' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA)
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_ps2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6110100005' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_ps = @vl_des_g_ps1 + @vl_des_g_ps2   

  -- HONORÁRIOS DIRETORIA  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    -- Pago - Direto Caixa
    SELECT @vl_des_g_hd1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410200005' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_hd2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410200005' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA)
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_hd = @vl_des_g_hd1 + @vl_des_g_hd2   

  -- CRED. E DEV. SÓCIO / PARENT  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    -- Pago - Direto Caixa
    SELECT @vl_des_g_cd1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2111100005' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_cd2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2111100005' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_cd = @vl_des_g_cd1 + @vl_des_g_cd2   

  -- IMPOSTOS  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -- Pago - Direto Caixa
    SELECT @vl_des_g_i1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6210100007' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_i2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6210100007' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_i = @vl_des_g_i1 + @vl_des_g_i2   

  -- CUSTO DOS SERV. PRESTADOS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -- Pago - Direto Caixa
    SELECT @vl_des_g_cs1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6310100009' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_cs2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6310100009' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_cs = @vl_des_g_cs1 + @vl_des_g_cs2   

  -- ADTO A FORNECEDOR  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -- Pago - Direto Caixa
    SELECT @vl_des_g_af1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121100007' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_af2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121100007' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_af = @vl_des_g_af1 + @vl_des_g_af2   

  -- ADIANT 13º SALÁRIO  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    -- Pago - Direto Caixa
    SELECT @vl_des_g_as1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120400007' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_as2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120400007' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_as = @vl_des_g_as1 + @vl_des_g_as2   

  -- ADIANT DE FÉRIAS  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    -- Pago - Direto Caixa
    SELECT @vl_des_g_ae1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120500001' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_ae2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120500001' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA)
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_ae = @vl_des_g_ae1 + @vl_des_g_ae2   

  -- ADIANT FUNCIONÁRIO  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    -- Pago - Direto Caixa
    SELECT @vl_des_g_au1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120300002' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_au2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1120300002' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_au = @vl_des_g_au1 + @vl_des_g_au2   

  -- EMPRÉSTIMO A FUNCIONÁRIO  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -- Pago - Direto Caixa
    SELECT @vl_des_g_ef1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121300006' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_ef2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '1121300006' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_ef = @vl_des_g_ef1 + @vl_des_g_ef2   

  -- ENCARGOS SOCIAIS  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -- Pago - Direto Caixa
    SELECT @vl_des_g_es1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410400004' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA)
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_es2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6410400004' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_es = @vl_des_g_es1 + @vl_des_g_es2   

  -- SAL. GRAT. HONORÁRIOS A PAGAR  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -- Pago - Direto Caixa
    SELECT @vl_des_g_sg1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2110800003' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc
       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_sg2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '2110800003' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_sg = @vl_des_g_sg1 + @vl_des_g_sg2   

  -- OUTRAS RECEITAS FINANCEIRAS  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -- Pago - Direto Caixa
    SELECT @vl_des_g_or1 = ISNULL( SUM( C.VL_LANCAMENTO ), 0 )
      FROM TCAIXA C (NOLOCK)
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( C.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6120200002' AND year(C.DT_MOVIMENTO) = CT.ANO_CONTA )
     WHERE DT_MOVIMENTO = @dt_calc       AND ISNULL( NR_PROCESSO, '' ) = '' 
    -- Pago - Provisionado 
    SELECT @vl_des_g_or2 = ISNULL( SUM( C.VL_LIQUIDO ), 0 )
    FROM   TCTAAPAGAR C (NOLOCK)
           INNER JOIN TCTAAPAGAR_LANC L (NOLOCK) ON ( C.DT_CTAAPAGAR = L.DT_CTAAPAGAR AND C.NR_CTAAPAGAR = L.NR_CTAAPAGAR AND C.CD_UNID_NEG = L.CD_UNID_NEG )
           INNER JOIN TCT_CONTABIL CT (NOLOCK) ON ( L.CD_CT_CONTABIL = CT.CD_CT_CONTABIL AND CT.CD_CT_CONTABIL_PAI = '6120200002' AND year(C.DT_CTAAPAGAR) = CT.ANO_CONTA )
    WHERE C.DT_PAGAMENTO = @dt_calc

    SELECT @vl_des_g_or = @vl_des_g_or1 + @vl_des_g_or2   


  -- TOTAIS
  SELECT @vl_entradas = @vl_saldo_inicial + @vl_saldo_rec 
  SELECT @vl_saidas = ( @vl_des_g_da + @vl_des_g_dp + @vl_des_g_ps + @vl_des_g_hd + @vl_des_g_cd + @vl_des_g_i +
     @vl_des_g_cs + @vl_des_g_af + @vl_des_g_as + @vl_des_g_ae + @vl_des_g_au + @vl_des_g_ef + @vl_des_g_es + @vl_des_g_sg + @vl_des_g_or )
  SELECT @vl_saldo = @vl_entradas - @vl_saidas

  INSERT TSALDO_FLX_CX 
         ( CD_UNID_NEG,  DT_MOVIMENTO, VL_ENTRADAS, VL_SAIDAS,  VL_SALDO  )
  VALUES ( @cd_unid_neg, @dt_calc,  @vl_entradas,@vl_saidas, @vl_saldo  )

  FETCH c_unid INTO @cd_unid_neg

END

CLOSE c_unid
DEALLOCATE c_unid







GO
