USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/****** Object:  Stored Procedure dbo.sp_di_atz_taxa_cambio    Script Date: 02/09/1999 08:58:10 AM ******/
CREATE PROCEDURE [sp_rel_exp_flp] ( @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5), 
                                  @cd_area char(2), @cd_via_transporte char(2), @cd_analista_comissaria char(4),
                                  @cd_contato char(3), @in_obs char(1), @in_conclusor char(1), @dt_inicio datetime,
                                  @dt_fim datetime, @nr_identificador int OUTPUT ) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_via_transporte char(2)
DECLARE @cd_analista_comissaria char(4)
DECLARE @cd_area char(2)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @cd_contato char(3)
DECLARE @in_obs char(1)
DECLARE @in_conclusor char(1)
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = '002'
SELECT @cd_cliente = 'X'
SELECT @cd_via_transporte = '01'
SELECT @cd_analista_comissaria = 'X'
SELECT @cd_area = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/08/2004', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/08/2004', 103 )
SELECT @cd_contato = 'X'
SELECT @in_obs = '1'	-- Observação = True
SELECT @in_conclusor = '1'	-- 0 - Averbação   1 - Retirada BL     2 - Saque Bordero

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_ev_prev_embarque       char(3),		@cd_ev_liberacao           char(3),
        @cd_ev_insp_ok             char(3),		@cd_ev_desemb              char(3),
        @cd_ev_embarque            char(3),		@cd_ev_envio_saque_bordero char(3),
        @cd_ev_envio_doc_cli       char(3),		@cd_ev_envio_doc           char(3),
        @cd_ev_averbacao           char(3),		@cd_ev_bl                  char(3),
        @cd_ev_dd_imo	           char(3),		@cd_ev_dd_dde              char(3),
        @cd_ev_dd_cc               char(3),		@cd_ev_booking             char(3),
        @cd_ev_dd_draft            char(3),		@cd_ev_dd_cc_1             char(3)

-- Pega número do Identificador
SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_EXP_FLP
SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

-- Coloca em variáveis os códigos dos eventos que serão utilizados
SELECT @cd_ev_prev_embarque       = CD_EV_PREV_EMBARQUE,
       @cd_ev_liberacao           = CD_EV_LIBERACAO,
       @cd_ev_insp_ok             = CD_EV_INSP_OK,
       @cd_ev_desemb              = CD_EV_DESEMB,
       @cd_ev_embarque            = CD_EV_EMBARQUE,
       @cd_ev_envio_saque_bordero = CD_EV_ENVIO_SAQUE_BORDERO,
       @cd_ev_envio_doc_cli       = CD_EV_ENVIO_DOC_CLI,
       @cd_ev_averbacao           = CD_EV_AVERBACAO,
       @cd_ev_envio_doc           = CD_EV_ENVIO_DOC,
       @cd_ev_bl                  = CD_EV_CONHECIMENTO,
       @cd_ev_dd_imo		  = CD_DEAD_LINE,
       @cd_ev_dd_dde              = CD_EV_DEAD_LINE_DDE,
       @cd_ev_dd_cc               = CD_EV_DEAD_LINE_CC,
       @cd_ev_booking             = CD_EV_CONF_BOOK,
       @cd_ev_dd_draft		  = CD_EV_DEAD_DRAFT,
       @cd_ev_dd_cc_1             = CD_EV_DEAD_LINE_CC_1
FROM   TPARAMETROS (NOLOCK)

-- Seleciona registros - e suas informações - que respeitem as condições abaixo

-- AVERBAÇÃO
IF @in_conclusor = '0'
BEGIN
INSERT TREL_EXP_FLP( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_CLIENTE, CD_AREA, CD_VIA_TRANSPORTE, 
                     CD_ANALISTA_COMISSARIA, NR_FATURA, CD_EMBARCACAO, CD_PAIS_DESTINO, CD_TRANSPORTADOR, CD_AGENTE, 
                     TX_OBS, DT_PREV_EMBARQUE, DT_LIBERACAO, DT_INSP_OK, DT_DESEMB, DT_EMBARQUE,
                     DT_ENVIO_SAQUE_BORDERO, DT_ENVIO_DOC_CLI, DT_AVERBACAO, NM_CONTATO, DT_RET_BL,
                     DT_DD_IMO, DT_DD_DDE, DT_DD_CC, NR_BOOKING, DT_BOOKING, DT_DD_DRAFT  )
  SELECT @nr_identificador, P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CLIENTE, P.CD_AREA, S.CD_VIA_TRANSPORTE, 
         P.CD_ANALISTA_COMISSARIA, E.NR_FATURA, P.CD_EMBARCACAO, P.CD_PAIS_DESTINO, P.CD_TRANSP_NAC, P.CD_AGENTE, 
         CASE @in_obs
           WHEN '1' THEN P.TX_OBSERVACOES
           ELSE NULL
         END,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_prev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_PREV_EMBARQUE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_liberacao AND
                  IN_APLICAVEL = '1' ) AS DT_LIBERACAO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_insp_ok AND
                  IN_APLICAVEL = '1' ) AS DT_INSP_OK,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_desemb AND
                  IN_APLICAVEL = '1' ) AS DT_DESEMB,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_EMBARQUE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_envio_saque_bordero AND
                  IN_APLICAVEL = '1' ) AS DT_ENVIO_SAQUE_BORDERO,
         ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc_cli AND
                         IN_APLICAVEL = '1' ) AS DT_ENVIO_DOC_CLI,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_averbacao AND
                  IN_APLICAVEL = '1' ) AS DT_AVERBACAO, 
         C.NM_CONTATO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_bl AND
                  IN_APLICAVEL = '1' ) AS DT_RET_BL,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_imo AND
                  IN_APLICAVEL = '1' ) AS DT_DD_IMO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_dde AND
                  IN_APLICAVEL = '1' ) AS DT_DD_DDE,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc AND
                         IN_APLICAVEL = '1' ) <> '' THEN DT_REALIZACAO 
           ELSE ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc_1 AND
                         IN_APLICAVEL = '1' ) 
         END AS DT_DD_CC,
         ( SELECT MAX(CD_REFERENCIA)
           FROM   TREF_CLIENTE (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO
             AND  TP_REFERENCIA = '05' ) AS NR_BOOKING,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_booking AND
                  IN_APLICAVEL = '1' ) AS DT_BOOKING,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_draft AND
                  IN_APLICAVEL = '1' ) AS DT_DD_DRAFT
  FROM   TPROCESSO P (NOLOCK), TPROCESSO_EXP E (NOLOCK), TFOLLOWUP F (NOLOCK),
         TEMPRESA_NAC EN (NOLOCK), VW_SERVICO_GERAL S (NOLOCK), TCLIENTE_CONTATO C (NOLOCK)
  WHERE  P.NR_PROCESSO *= E.NR_PROCESSO 
    AND  P.CD_PRODUTO = '02' 
    AND  P.NR_PROCESSO = F.NR_PROCESSO 
    AND  P.CD_CLIENTE = EN.CD_EMPRESA 
    AND  P.CD_SERVICO = S.CD_SERVICO 
    AND  C.CD_CLIENTE = P.CD_CLIENTE
    AND  C.CD_UNID_NEG = P.CD_UNID_NEG
    AND  C.CD_PRODUTO = '02'
    AND  C.CD_CONTATO = P.CD_CONTATO
    AND  F.CD_EVENTO = @cd_ev_averbacao 
    AND  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) 
    AND  @cd_grupo IN ( EN.CD_GRUPO, 'X' ) 
    AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
    AND  @cd_area IN ( P.CD_AREA, 'X' ) 
    AND  @cd_via_transporte IN ( S.CD_VIA_TRANSPORTE, 'X' )
    AND  @cd_analista_comissaria IN ( P.CD_ANALISTA_COMISSARIA, 'X' ) 
    AND  ( ( @cd_contato = 'X' ) OR ( C.CD_CLIENTE = @cd_cliente AND C.CD_UNID_NEG = @cd_unid_neg 
                                      AND C.CD_PRODUTO = '02' AND C.CD_CONTATO = @cd_contato ) ) 
    AND  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim 
    AND  F.DT_REALIZACAO IS NULL 
    AND  P.IN_CANCELADO = '0'
END

-- RETIRADA BL
IF @in_conclusor = '1'
BEGIN
INSERT TREL_EXP_FLP( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_CLIENTE, CD_AREA, CD_VIA_TRANSPORTE, 
                     CD_ANALISTA_COMISSARIA, NR_FATURA, CD_EMBARCACAO, CD_PAIS_DESTINO, CD_TRANSPORTADOR, CD_AGENTE, 
                     TX_OBS, DT_PREV_EMBARQUE, DT_LIBERACAO, DT_INSP_OK, DT_DESEMB, DT_EMBARQUE,
                     DT_ENVIO_SAQUE_BORDERO, DT_ENVIO_DOC_CLI, DT_AVERBACAO, NM_CONTATO, DT_RET_BL,
                     DT_DD_IMO, DT_DD_DDE, DT_DD_CC, NR_BOOKING, DT_BOOKING, DT_DD_DRAFT  )
  SELECT @nr_identificador, P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CLIENTE, P.CD_AREA, S.CD_VIA_TRANSPORTE, 
         P.CD_ANALISTA_COMISSARIA, E.NR_FATURA, P.CD_EMBARCACAO, P.CD_PAIS_DESTINO, P.CD_TRANSP_NAC, P.CD_AGENTE, 
         CASE @in_obs
           WHEN '1' THEN P.TX_OBSERVACOES
           ELSE NULL
         END,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_prev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_PREV_EMBARQUE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_liberacao AND
                  IN_APLICAVEL = '1' ) AS DT_LIBERACAO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_insp_ok AND
                  IN_APLICAVEL = '1' ) AS DT_INSP_OK,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_desemb AND
                  IN_APLICAVEL = '1' ) AS DT_DESEMB,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_EMBARQUE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_envio_saque_bordero AND
                  IN_APLICAVEL = '1' ) AS DT_ENVIO_SAQUE_BORDERO,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc_cli AND
                         IN_APLICAVEL = '1' ) <> '' THEN DT_REALIZACAO 
           ELSE ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc AND
                         IN_APLICAVEL = '1' ) 
         END AS DT_ENVIO_DOC_CLI,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_averbacao AND
                  IN_APLICAVEL = '1' ) AS DT_AVERBACAO, 
         C.NM_CONTATO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_bl AND
                  IN_APLICAVEL = '1' ) AS DT_RET_BL,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_imo AND
                  IN_APLICAVEL = '1' ) AS DT_DD_IMO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_dde AND
                  IN_APLICAVEL = '1' ) AS DT_DD_DDE,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc AND
                         IN_APLICAVEL = '1' ) <> '' THEN DT_REALIZACAO 
           ELSE ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc_1 AND
                         IN_APLICAVEL = '1' ) 
         END AS DT_DD_CC,
         ( SELECT MAX(CD_REFERENCIA)
           FROM   TREF_CLIENTE (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO
             AND  TP_REFERENCIA = '05' ) AS NR_BOOKING,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_booking AND
                  IN_APLICAVEL = '1' ) AS DT_BOOKING,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_draft AND
                  IN_APLICAVEL = '1' ) AS DT_DD_DRAFT
  FROM   TPROCESSO P (NOLOCK), TPROCESSO_EXP E (NOLOCK), TFOLLOWUP F (NOLOCK),
         TEMPRESA_NAC EN (NOLOCK), VW_SERVICO_GERAL S (NOLOCK), TCLIENTE_CONTATO C (NOLOCK)
  WHERE  P.NR_PROCESSO *= E.NR_PROCESSO 
    AND  P.CD_PRODUTO = '02' 
    AND  P.NR_PROCESSO = F.NR_PROCESSO 
    AND  P.CD_CLIENTE = EN.CD_EMPRESA 
    AND  P.CD_SERVICO = S.CD_SERVICO 
    AND  C.CD_CLIENTE = P.CD_CLIENTE
    AND  C.CD_UNID_NEG = P.CD_UNID_NEG
    AND  C.CD_PRODUTO = '02'
    AND  C.CD_CONTATO = P.CD_CONTATO
    AND  F.CD_EVENTO = @cd_ev_bl 
    AND  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) 
    AND  @cd_grupo IN ( EN.CD_GRUPO, 'X' ) 
    AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
    AND  @cd_area IN ( P.CD_AREA, 'X' ) 
    AND  @cd_via_transporte IN ( S.CD_VIA_TRANSPORTE, 'X' )
    AND  @cd_analista_comissaria IN ( P.CD_ANALISTA_COMISSARIA, 'X' ) 
    AND  ( ( @cd_contato = 'X' ) OR ( C.CD_CLIENTE = @cd_cliente AND C.CD_UNID_NEG = @cd_unid_neg 
                                      AND C.CD_PRODUTO = '02' AND C.CD_CONTATO = @cd_contato ) ) 
    AND  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim 
    AND  F.DT_REALIZACAO IS NULL 
    AND  P.IN_CANCELADO = '0'
END

-- SAQUE/BORDERO
IF @in_conclusor = '2'
BEGIN
INSERT TREL_EXP_FLP( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_CLIENTE, CD_AREA, CD_VIA_TRANSPORTE, 
                     CD_ANALISTA_COMISSARIA, NR_FATURA, CD_EMBARCACAO, CD_PAIS_DESTINO, CD_TRANSPORTADOR, CD_AGENTE, 
                     TX_OBS, DT_PREV_EMBARQUE, DT_LIBERACAO, DT_INSP_OK, DT_DESEMB, DT_EMBARQUE,
                     DT_ENVIO_SAQUE_BORDERO, DT_ENVIO_DOC_CLI, DT_AVERBACAO, NM_CONTATO, DT_RET_BL,
                     DT_DD_IMO, DT_DD_DDE, DT_DD_CC, NR_BOOKING, DT_BOOKING, DT_DD_DRAFT  )
  SELECT @nr_identificador, P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CLIENTE, P.CD_AREA, S.CD_VIA_TRANSPORTE, 
         P.CD_ANALISTA_COMISSARIA, E.NR_FATURA, P.CD_EMBARCACAO, P.CD_PAIS_DESTINO, P.CD_TRANSP_NAC, P.CD_AGENTE, 
         CASE @in_obs
           WHEN '1' THEN P.TX_OBSERVACOES
           ELSE NULL
         END,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_prev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_PREV_EMBARQUE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_liberacao AND
                  IN_APLICAVEL = '1' ) AS DT_LIBERACAO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_insp_ok AND
                  IN_APLICAVEL = '1' ) AS DT_INSP_OK,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_desemb AND
                  IN_APLICAVEL = '1' ) AS DT_DESEMB,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_EMBARQUE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_envio_saque_bordero AND
                  IN_APLICAVEL = '1' ) AS DT_ENVIO_SAQUE_BORDERO,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc_cli AND
                         IN_APLICAVEL = '1' ) <> '' THEN DT_REALIZACAO 
           ELSE ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc AND
                         IN_APLICAVEL = '1' ) 
         END AS DT_ENVIO_DOC_CLI,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_averbacao AND
                  IN_APLICAVEL = '1' ) AS DT_AVERBACAO, 
         C.NM_CONTATO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_bl AND
                  IN_APLICAVEL = '1' ) AS DT_RET_BL,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_imo AND
                  IN_APLICAVEL = '1' ) AS DT_DD_IMO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_dde AND
                  IN_APLICAVEL = '1' ) AS DT_DD_DDE,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc AND
                         IN_APLICAVEL = '1' ) <> '' THEN DT_REALIZACAO 
           ELSE ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc_1 AND
                         IN_APLICAVEL = '1' ) 
         END AS DT_DD_CC,
         ( SELECT MAX(CD_REFERENCIA)
           FROM   TREF_CLIENTE (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO
             AND  TP_REFERENCIA = '05' ) AS NR_BOOKING,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_booking AND
                  IN_APLICAVEL = '1' ) AS DT_BOOKING,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_draft AND
                  IN_APLICAVEL = '1' ) AS DT_DD_DRAFT
  FROM   TPROCESSO P (NOLOCK), TPROCESSO_EXP E (NOLOCK), TFOLLOWUP F (NOLOCK),
         TEMPRESA_NAC EN (NOLOCK), VW_SERVICO_GERAL S (NOLOCK), TCLIENTE_CONTATO C (NOLOCK)
  WHERE  P.NR_PROCESSO *= E.NR_PROCESSO 
    AND  P.CD_PRODUTO = '02' 
    AND  P.NR_PROCESSO = F.NR_PROCESSO 
    AND  P.CD_CLIENTE = EN.CD_EMPRESA 
    AND  P.CD_SERVICO = S.CD_SERVICO 
    AND  C.CD_CLIENTE = P.CD_CLIENTE
    AND  C.CD_UNID_NEG = P.CD_UNID_NEG
    AND  C.CD_PRODUTO = '02'
    AND  C.CD_CONTATO = P.CD_CONTATO
    AND  F.CD_EVENTO = @cd_ev_envio_saque_bordero 
    AND  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) 
    AND  @cd_grupo IN ( EN.CD_GRUPO, 'X' ) 
    AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
    AND  @cd_area IN ( P.CD_AREA, 'X' ) 
    AND  @cd_via_transporte IN ( S.CD_VIA_TRANSPORTE, 'X' )
    AND  @cd_analista_comissaria IN ( P.CD_ANALISTA_COMISSARIA, 'X' ) 
    AND  ( ( @cd_contato = 'X' ) OR ( C.CD_CLIENTE = @cd_cliente AND C.CD_UNID_NEG = @cd_unid_neg 
                                      AND C.CD_PRODUTO = '02' AND C.CD_CONTATO = @cd_contato ) ) 
    AND  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim 
    AND  F.DT_REALIZACAO IS NULL 
    AND  P.IN_CANCELADO = '0'
END


-- Inibido em 15/09/2004 a pedido de Fernando Reis. Rotina inclui para serem listados os processos que foram
-- averbados, etc mas tem alguma data NULA.
/*
DECLARE @nr_processo            char(18), @cd_unid_neg_av    char(2),  @cd_cliente_av char(5),  @cd_area_av       char(2), 
        @cd_via_transp          char(2),  @cd_analista_comis char(1),  @nr_fatura     char(15), @cd_embarcacao    char(4), 
        @cd_pais_destino        char(3),  @cd_transportador  char(4),  @cd_agente     char(4),  @dt_prev_embarque datetime, 
        @dt_liberacao           datetime, @dt_insp_ok        datetime, @dt_desemb     datetime, @dt_embarque      datetime, 
        @dt_envio_saque_bordero datetime, @dt_envio_doc_cli  datetime, @dt_averbacao  datetime, @nm_contato       char(50),
        @dt_ret_bl              datetime, @dt_dd_imo         datetime, @dt_dd_dde     datetime, @dt_dd_cc         datetime, 
        @nr_booking             char(15), @dt_booking        datetime, @dt_dd_draft   datetime

DECLARE @grava_reg   char(1)

-- Cursor para registros do Select
-- Seleciona registros - e suas informações - que possuem saque/bordero
-- Será verificado se existe alguma data (para o relatório) não preenchida
DECLARE c_reg CURSOR FOR
  SELECT P.NR_PROCESSO, P.CD_UNID_NEG, P.CD_CLIENTE, P.CD_AREA, S.CD_VIA_TRANSPORTE, 
         P.CD_ANALISTA_COMISSARIA, E.NR_FATURA, P.CD_EMBARCACAO, P.CD_PAIS_DESTINO, P.CD_TRANSP_NAC, P.CD_AGENTE, 
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_prev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_PREV_EMBARQUE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_liberacao AND
                  IN_APLICAVEL = '1' ) AS DT_LIBERACAO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_insp_ok AND
                  IN_APLICAVEL = '1' ) AS DT_INSP_OK,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_desemb AND
                  IN_APLICAVEL = '1' ) AS DT_DESEMB,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_embarque AND
                  IN_APLICAVEL = '1' ) AS DT_EMBARQUE,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_envio_saque_bordero AND
                  IN_APLICAVEL = '1' ) AS DT_ENVIO_SAQUE_BORDERO,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc_cli AND
                         IN_APLICAVEL = '1' ) <> '' THEN DT_REALIZACAO 
           ELSE ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_envio_doc AND
                         IN_APLICAVEL = '1' ) 
         END AS DT_ENVIO_DOC_CLI,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_averbacao AND
                  IN_APLICAVEL = '1' ) AS DT_AVERBACAO, 
         C.NM_CONTATO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_bl AND
                  IN_APLICAVEL = '1' ) AS DT_RET_BL,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_imo AND
                  IN_APLICAVEL = '1' ) AS DT_DD_IMO,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_dde AND
                  IN_APLICAVEL = '1' ) AS DT_DD_DDE,
         CASE
           WHEN ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc AND
                         IN_APLICAVEL = '1' ) <> '' THEN DT_REALIZACAO 
           ELSE ( SELECT DT_REALIZACAO
                  FROM   TFOLLOWUP (NOLOCK)
                  WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                         CD_EVENTO = @cd_ev_dd_cc_1 AND
                         IN_APLICAVEL = '1' ) 
         END AS DT_DD_CC,
         ( SELECT MAX(CD_REFERENCIA)
           FROM   TREF_CLIENTE (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO
             AND  TP_REFERENCIA = '05' ) AS NR_BOOKING,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_booking AND
                  IN_APLICAVEL = '1' ) AS DT_BOOKING,
         ( SELECT DT_REALIZACAO
           FROM   TFOLLOWUP (NOLOCK)
           WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                  CD_EVENTO = @cd_ev_dd_draft AND
                  IN_APLICAVEL = '1' ) AS DT_DD_DRAFT
  FROM   TPROCESSO P (NOLOCK), TPROCESSO_EXP E (NOLOCK), TFOLLOWUP F (NOLOCK),
         TEMPRESA_NAC EN (NOLOCK), VW_SERVICO_GERAL S (NOLOCK), TCLIENTE_CONTATO C (NOLOCK)
  WHERE  P.NR_PROCESSO *= E.NR_PROCESSO 
    AND  P.CD_PRODUTO = '02' 
    AND  P.NR_PROCESSO = F.NR_PROCESSO 
    AND  P.CD_CLIENTE = EN.CD_EMPRESA 
    AND  P.CD_SERVICO = S.CD_SERVICO 
    AND  C.CD_CLIENTE = P.CD_CLIENTE
    AND  C.CD_UNID_NEG = P.CD_UNID_NEG
    AND  C.CD_PRODUTO = '02'
    AND  C.CD_CONTATO = P.CD_CONTATO
    AND  F.CD_EVENTO = @cd_ev_envio_saque_bordero 
    AND  @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) 
    AND  @cd_grupo IN ( EN.CD_GRUPO, 'X' ) 
    AND  @cd_cliente IN ( P.CD_CLIENTE, 'X' )
    AND  @cd_area IN ( P.CD_AREA, 'X' ) 
    AND  @cd_via_transporte IN ( S.CD_VIA_TRANSPORTE, 'X' )
    AND  @cd_analista_comissaria IN ( P.CD_ANALISTA_COMISSARIA, 'X' ) 
    AND  ( ( @cd_contato = 'X' ) OR ( C.CD_CLIENTE = @cd_cliente AND C.CD_UNID_NEG = @cd_unid_neg 
                                      AND C.CD_PRODUTO = '02' AND C.CD_CONTATO = @cd_contato ) ) 
    AND  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim 
    AND  F.DT_REALIZACAO IS NOT NULL 
    AND  P.IN_CANCELADO = '0'

OPEN c_reg
FETCH c_reg INTO @nr_processo, @cd_unid_neg_av, @cd_cliente_av, @cd_area_av, @cd_via_transp, 
                      @cd_analista_comis, @nr_fatura, @cd_embarcacao, @cd_pais_destino, @cd_transportador, 
                      @cd_agente, @dt_prev_embarque, @dt_liberacao, @dt_insp_ok, @dt_desemb, @dt_embarque,
                      @dt_envio_saque_bordero, @dt_envio_doc_cli, @dt_averbacao, @nm_contato, @dt_ret_bl,
                      @dt_dd_imo, @dt_dd_dde, @dt_dd_cc, @nr_booking, @dt_booking, @dt_dd_draft
WHILE @@fetch_status = 0   
BEGIN
  -- Verifica se há datas nulas
  SET @grava_reg = '0'
  IF ( @dt_prev_embarque IS NULL ) OR ( @dt_liberacao IS NULL ) OR ( @dt_insp_ok IS NULL ) OR ( @dt_desemb IS NULL ) 
  BEGIN
    SET @grava_reg = '1'
  END
  IF ( @dt_embarque IS NULL ) OR ( @dt_envio_saque_bordero IS NULL ) OR ( @dt_envio_doc_cli IS NULL ) OR ( @dt_ret_bl IS NULL )
  BEGIN
    SET @grava_reg = '1'
  END
  IF (@dt_dd_imo IS NULL) OR (@dt_dd_dde IS NULL) OR (@dt_dd_cc IS NULL) OR (@dt_booking IS NULL) OR (@dt_dd_draft IS NULL)
  BEGIN
    SET @grava_reg = '1'
  END

  -- grava registro que tem saque/bordero mas possui alguma data nula
  IF @grava_reg = '1'
  BEGIN
    INSERT TREL_EXP_FLP( NR_IDENTIFICADOR, NR_PROCESSO, CD_UNID_NEG, CD_CLIENTE, CD_AREA, CD_VIA_TRANSPORTE, 
           CD_ANALISTA_COMISSARIA, NR_FATURA, CD_EMBARCACAO, CD_PAIS_DESTINO, CD_TRANSPORTADOR, CD_AGENTE, 
           TX_OBS, DT_PREV_EMBARQUE, DT_LIBERACAO, DT_INSP_OK, DT_DESEMB, DT_EMBARQUE,
           DT_ENVIO_SAQUE_BORDERO, DT_ENVIO_DOC_CLI, DT_AVERBACAO, NM_CONTATO, DT_RET_BL,
           DT_DD_IMO, DT_DD_DDE, DT_DD_CC, NR_BOOKING, DT_BOOKING, DT_DD_DRAFT  )
    SELECT @nr_identificador, @nr_processo, @cd_unid_neg_av, @cd_cliente_av, @cd_area_av, @cd_via_transp, 
           @cd_analista_comis, @nr_fatura, @cd_embarcacao, @cd_pais_destino, @cd_transportador, @cd_agente,
           CASE @in_obs
             WHEN '1' THEN PR.TX_OBSERVACOES
             ELSE NULL
           END,
           @dt_prev_embarque, @dt_liberacao, @dt_insp_ok, @dt_desemb, @dt_embarque,
           @dt_envio_saque_bordero, @dt_envio_doc_cli, @dt_averbacao, @nm_contato, @dt_ret_bl,
           @dt_dd_imo, @dt_dd_dde, @dt_dd_cc, @nr_booking, @dt_booking, @dt_dd_draft    
    FROM   TPROCESSO PR
    WHERE  NR_PROCESSO = @nr_processo
  END


FETCH c_reg INTO @nr_processo, @cd_unid_neg_av, @cd_cliente_av, @cd_area_av, @cd_via_transp, 
                      @cd_analista_comis, @nr_fatura, @cd_embarcacao, @cd_pais_destino, @cd_transportador, 
                      @cd_agente, @dt_prev_embarque, @dt_liberacao, @dt_insp_ok, @dt_desemb, @dt_embarque,
                      @dt_envio_saque_bordero, @dt_envio_doc_cli, @dt_averbacao, @nm_contato, @dt_ret_bl,
                      @dt_dd_imo, @dt_dd_dde, @dt_dd_cc, @nr_booking, @dt_booking, @dt_dd_draft

END

CLOSE c_reg
DEALLOCATE c_reg
*/



GO
