USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_li_dupl_nve]( @nr_processo char(18), @nr_item char(3), @nr_item_new  char(3) ) AS

DECLARE @nr_item_fetch char(3)
DECLARE @cd_nivel_fetch char(3)
DECLARE @cd_atrib_fetch char(2)
DECLARE @cd_espec_fetch char(4)

IF  (SELECT COUNT(*) 
     FROM    TLICENCA_NVE
     WHERE (NR_PROCESSO = @nr_processo ) and (NR_ITEM = @nr_item) )  > 0
BEGIN

    DECLARE c_processo CURSOR FOR
         SELECT NR_ITEM,CD_NIVEL_NVE,CD_ATRIBUTO_NCM,CD_ESPECIF_NCM 
         FROM TLICENCA_NVE
         WHERE (NR_PROCESSO = @nr_processo) and (NR_ITEM = @nr_item) 

     OPEN c_processo 
     FETCH c_processo INTO @nr_item_fetch, @cd_nivel_fetch, @cd_atrib_fetch, @cd_espec_fetch
     WHILE @@fetch_status <> -1
     BEGIN
         INSERT INTO TLICENCA_NVE  VALUES ( @nr_processo, @nr_item_new, @cd_nivel_fetch, @cd_atrib_fetch, @cd_espec_fetch )

         FETCH c_processo INTO @nr_item_fetch, @cd_nivel_fetch, @cd_atrib_fetch, @cd_espec_fetch
     END

     CLOSE c_processo
     DEALLOCATE c_processo

END

RETURN(0)
GO
