USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_imp_ctaapagar    Script Date: 02/12/1999 17:34:11 ******/
CREATE PROCEDURE [sp_imp_ctaapagar] ( @dt_movimento datetime, @cd_unid_neg char(2),
                                    @cd_coligada char(2),   @qt_imp int output) AS

DECLARE @nr_ult_lanc 		int
DECLARE @ult_lanc 		char(6)
DECLARE @nm_historico           varchar(180)
DECLARE @dt_ctaapagar 		datetime
DECLARE @nr_ctaapagar 		char(3)
DECLARE @cd_fornecedor 		char(5)
DECLARE @cd_banco 		char(3)
DECLARE @nr_cheque 		char(6)
DECLARE @tp_pagamento 		char(1)
DECLARE @in_cancelado		char(1)
DECLARE @vl_pagto 		float
DECLARE @cd_ct_ctaapagar	char(10)
DECLARE @compl_hist		varchar(180)
DECLARE @cd_ct_contabil		char(10)
DECLARE @cd_filial		char(3)
DECLARE @vl_lancamento		float

SELECT @cd_ct_ctaapagar = CD_CT_CTAAPAGAR
FROM   TPARAMETROS

DECLARE c_imp CURSOR FOR 
SELECT  P.DT_CTAAPAGAR, P.NR_CTAAPAGAR, P.CD_FORNECEDOR, P.NM_HISTORICO,        P.TP_PAGAMENTO, P.CD_BANCO, P.NR_CHEQUE, P.IN_CANCELADO,
        ISNULL( P.VL_DESPESA, 0)  + ISNULL( P.VL_ACRESCIMO, 0) - 
        ISNULL( P.VL_DESCONTO, 0) - ISNULL( P.VL_IR, 0) - 
        ISNULL( P.VL_INSS, 0) VL_PAGTO,
        (F.AP_FAVORECIDO + ' ' +
        CASE CD_TIPO_PESSOA
          WHEN '1' THEN 
                   ('CNPJ - ' + 
                    SUBSTRING(F.CGC_EMPRESA,1,2) + '.' + 
                    SUBSTRING(F.CGC_EMPRESA,3,3) + '.' +
                    SUBSTRING(F.CGC_EMPRESA,6,3) + '/' + 
                    SUBSTRING(F.CGC_EMPRESA,9,4) + '-' + 
                    SUBSTRING(F.CGC_EMPRESA,13,2))
          ELSE     ('CPF - ' + 
                    SUBSTRING(F.CPF_EMPRESA,1,3) + '.' +
                    SUBSTRING(F.CPF_EMPRESA,4,3) + '.' +
                    SUBSTRING(F.CPF_EMPRESA,7,3) + '-' +
                    SUBSTRING(F.CPF_EMPRESA,10,2))
        END ) COMPL_HIST
FROM    TCTAAPAGAR P (TABLOCK HOLDLOCK)
JOIN    TFAVORECIDO F
  ON    (P.CD_FORNECEDOR = F.CD_FAVORECIDO)
WHERE   --P.CD_COLIGADA  =  @cd_coligada AND
        P.DT_PAGAMENTO <= @dt_movimento AND
        P.IN_TRANSFERIDO =  '0' AND
        P.IN_LIBERADO  =  '1'

SELECT @qt_imp  = 0
SELECT @nr_ult_lanc = CONVERT( int, MAX( ISNULL( NR_LANCAMENTO, '000000' ) ) ) FROM   TCAIXA (TABLOCK HOLDLOCK)WHERE  DT_MOVIMENTO = @dt_movimento AND       
       CD_COLIGADA  = @cd_coligada

SELECT @nr_ult_lanc = ISNULL( @nr_ult_lanc, 0 )
OPEN c_imp
FETCH c_imp INTO 
  @dt_ctaapagar, @nr_ctaapagar, @cd_fornecedor, @nm_historico, 
  @tp_pagamento, @cd_banco, @nr_cheque, @in_cancelado, @vl_pagto, @compl_hist
WHILE @@fetch_status <> -1
BEGIN

  IF (SELECT COUNT(*)
      FROM TCTAAPAGAR_LANC
      WHERE --CD_COLIGADA  = @cd_coligada  AND
            DT_CTAAPAGAR = @dt_ctaapagar AND
            NR_CTAAPAGAR = @nr_ctaapagar AND
            SUBSTRING( CD_CT_CONTABIL, 1, 1) IN ('1', '2') ) = 0
  BEGIN

    SELECT @qt_imp = @qt_imp + 1

    SELECT @nm_historico = @nm_historico + ' ' + @compl_hist

    SELECT @nr_ult_lanc = @nr_ult_lanc + 1

    SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, @nr_ult_lanc ), 6 )

    IF @in_cancelado = '0'
      INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, 
                      IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_CHEQUE, 
                      CD_CT_CONTABIL, CD_FAVORECIDO, VL_IR, VL_ASSIST, IN_RESTITUI )
      VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'C', '9', '0', '0',                @nm_historico, @vl_pagto, @tp_pagamento, 'C', @cd_banco, @nr_cheque, 
               @cd_ct_ctaapagar, @cd_fornecedor, 0, 0, '0' )
    ELSE
      INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, 
                      IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_CHEQUE, 
                      CD_CT_CONTABIL, CD_FAVORECIDO, VL_IR, VL_ASSIST, IN_RESTITUI )
      VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'C', '9', '0', '0',                @nm_historico, @vl_pagto, @tp_pagamento, 'D', @cd_banco, @nr_cheque, 
               @cd_ct_ctaapagar, @cd_fornecedor, 0, 0, '0' )
  END
  ELSE
  BEGIN

    DECLARE c_lanc CURSOR FOR
    SELECT CD_CT_CONTABIL, CD_FILIAL, VL_LANCAMENTO
      FROM TCTAAPAGAR_LANC
      WHERE --CD_COLIGADA  = @cd_coligada  AND
            DT_CTAAPAGAR = @dt_ctaapagar AND
            NR_CTAAPAGAR = @nr_ctaapagar AND
            SUBSTRING( CD_CT_CONTABIL, 1, 1) IN ('1', '2') 

    OPEN c_lanc
    FETCH c_lanc INTO @cd_ct_contabil, @cd_filial, @vl_lancamento
    WHILE @@fetch_status <> -1
    BEGIN

      SELECT @qt_imp = @qt_imp + 1
  
      SELECT @nm_historico = @nm_historico + ' ' + @compl_hist

      SELECT @nr_ult_lanc = @nr_ult_lanc + 1

      SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, @nr_ult_lanc ), 6 )

      IF @in_cancelado = '0'
        INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, 
                        IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_CHEQUE, 
                        CD_CT_CONTABIL, CD_FAVORECIDO, VL_IR, VL_ASSIST, IN_RESTITUI )
        VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'C', '9', '0', '0',                  @nm_historico, @vl_lancamento, @tp_pagamento, 'C', @cd_banco, @nr_cheque, 
                 @cd_ct_contabil, @cd_fornecedor, 0, 0, '0' )
      ELSE
        INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, 
                        IN_TRANSFERIDO, NM_HISTORICO, VL_LANCAMENTO, TP_PAGAMENTO, TP_NATUREZA, CD_BANCO, NR_CHEQUE, 
                        CD_CT_CONTABIL, CD_FAVORECIDO, VL_IR, VL_ASSIST, IN_RESTITUI )
        VALUES ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'C', '9', '0', '0',                  @nm_historico, @vl_lancamento, @tp_pagamento, 'D', @cd_banco, @nr_cheque, 
                 @cd_ct_contabil, @cd_fornecedor, 0, 0, '0' )

      FETCH c_lanc INTO @cd_ct_contabil, @cd_filial, @vl_lancamento
    END

    CLOSE c_lanc
    DEALLOCATE c_lanc

  END
           FETCH c_imp INTO 
    @dt_ctaapagar, @nr_ctaapagar, @cd_fornecedor, @nm_historico, 
    @tp_pagamento, @cd_banco, @nr_cheque, @in_cancelado, @vl_pagto, @compl_hist
END
CLOSE c_imp
DEALLOCATE c_imp

UPDATE TCTAAPAGAR
SET    IN_TRANSFERIDO = '1'
WHERE  --CD_COLIGADA    =  @cd_coligada AND
       DT_PAGAMENTO   <= @dt_movimento AND
       IN_TRANSFERIDO = '0' AND
       IN_LIBERADO    = '1'

DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco
EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa



GO
