USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_duplica_item_area] ( @cd_item_fonte char(3), @cd_item_destino char(3) ) AS 

INSERT  TITEM_AREA( CD_ITEM, CD_AREA, TP_RATEIO_DESP, VL_NUN_INDICE, VL_DEN_INDICE, CD_MOEDA_INDICE )
    SELECT @cd_item_destino, CD_AREA, TP_RATEIO_DESP, VL_NUN_INDICE, VL_DEN_INDICE, CD_MOEDA_INDICE
    FROM   TITEM_AREA
    WHERE  CD_ITEM = @cd_item_fonte 







GO
