USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/****** Object:  Stored Procedure dbo.sp_mercadorias_drawback ******/
CREATE  PROCEDURE [sp_mercadorias_drawback]  ( @in_ato_drawback char(1), @nr_forecast char(14) ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

SET NOCOUNT ON

DECLARE @in_ato_drawback  char(1)
DECLARE @nr_forecast      char(6) 
 
SELECT  @in_ato_drawback = '1'
SELECT  @nr_forecast     = '00603'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @cd_mercadoria char(40)
DECLARE @cd_mat_pri    char(15)


-- Atualiza o cadastro de mercadoria da exportação
DECLARE cursor_mercadoria CURSOR FOR
  SELECT DISTINCT CD_MERCADORIA
    FROM TFORECAST_EXP
   WHERE NR_FORECAST = @nr_forecast 

  OPEN cursor_mercadoria
  FETCH cursor_mercadoria INTO @cd_mercadoria

  WHILE @@fetch_status = 0
  BEGIN
    UPDATE TMERCADORIA_EXP 
       SET IN_DRAWBACK_INDAIA = @in_ato_drawback 
     WHERE CD_MERCADORIA = @cd_mercadoria  

    FETCH cursor_mercadoria INTO @cd_mercadoria
  END
  CLOSE cursor_mercadoria
  DEALLOCATE cursor_mercadoria



-- Atualiza o cadastro de mercadoria da importação
DECLARE cursor_mat_pri CURSOR FOR
  SELECT DISTINCT CD_MAT_PRI
    FROM TFORECAST_IMP
   WHERE NR_FORECAST = @nr_forecast 

  OPEN cursor_mat_pri
  FETCH cursor_mat_pri INTO @cd_mat_pri

  WHILE @@fetch_status = 0
  BEGIN
    UPDATE TMERCADORIA 
       SET IN_DRAWBACK_INDAIA = @in_ato_drawback 
     WHERE CD_MERCADORIA = @cd_mat_pri  

    FETCH cursor_mat_pri INTO @cd_mat_pri
  END
  CLOSE cursor_mat_pri
  DEALLOCATE cursor_mat_pri


-- Atualiza o forecast 
  UPDATE TFORECAST 
     SET IN_VALIDADO = @in_ato_drawback
   WHERE NR_FORECAST = @nr_forecast



GO
