USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.sp_calc_arm_teca    Script Date: 02/09/1999 08:58:58 AM ******/
CREATE PROCEDURE [sp_calc_arm_teca]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @vl_cif_dolar        float
DECLARE @vl_cif_mn       float
DECLARE @vl_cif_ton          float
DECLARE @dt_estocagem       datetime
DECLARE @dt_hoje      datetime
DECLARE @vl_arm_05  float
DECLARE @vl_arm_10  float
DECLARE @vl_arm_20  float
DECLARE @vl_arm_99  float
DECLARE @nr_dias  int
DECLARE @qt_periodo          int
DECLARE @vl_resultado        numeric(13,3)
SELECT  @vl_resultado        = 0
SELECT  @Resultado          = 0
SELECT  @dt_hoje = convert(datetime, convert(char(10), getdate(), 103), 103)
-- SELECIONA OS VALORES PARA CALCULO
IF ISNULL( @Resultado, 0 ) = 0
BEGIN
  SELECT @vl_cif_mn            = ISNULL( VL_CIF_MN, 0 )
    FROM   TPROCESSO 
    WHERE  ( NR_PROCESSO = @nr_processo )
END
ELSE
BEGIN
  SELECT @vl_cif_mn            = ISNULL( VL_MLE_MN, 0 ) + ISNULL( VL_FRETE_MN, 0 ) + ISNULL( VL_SEGURO_MN, 0 )
    FROM   TPREVISAO
    WHERE  ( NR_PROCESSO = @nr_processo )
END
IF @@rowcount = 0
  -- Processo nao cadastrado
  RETURN(1)
ELSE
BEGIN
  SELECT @dt_estocagem = ISNULL( (
    SELECT DT_REALIZACAO 
    FROM VW_DT_CHEGADA
    WHERE NR_PROCESSO = @nr_processo ), @dt_hoje)
  -- PESQUISA TAXA TECA
  SELECT @vl_arm_05 = ISNULL( VL_ARM_05, 0),
         @vl_arm_10 = ISNULL( VL_ARM_10, 0),
         @vl_arm_20 = ISNULL( VL_ARM_20, 0),
         @vl_arm_99 = ISNULL( VL_ARM_99, 0)
  FROM TTAXA_TECA
  IF @@rowcount = 0
  BEGIN
    -- Taxa TECA nao informado
    RETURN(2)
  END
  ELSE
  BEGIN
    -- CALCULA ARMAZENAGEM CODESP
    SELECT @nr_dias = DATEDIFF( day, @dt_estocagem, @dt_hoje ) + 1
    IF @nr_dias <= 5 
      SELECT @vl_resultado = ( @vl_cif_mn * @vl_arm_05 / 100 )
    ELSE
      IF @nr_dias <= 10 
        SELECT @vl_resultado = ( @vl_cif_mn * @vl_arm_10 / 100 )
      ELSE
        IF @nr_dias <= 20 
          SELECT @vl_resultado = ( @vl_cif_mn * @vl_arm_20 / 100 )
        ELSE
        BEGIN
          SELECT @qt_periodo = ( ( @nr_dias - 20 ) / 10 ) + 1
          SELECT @vl_resultado = ROUND( ( @vl_cif_mn * ( ( @vl_arm_20 / 100 ) + ( @qt_periodo * @vl_arm_05 / 100) ) ), 2)
        END
    -- RETORNA O CALCULO
    SELECT @Resultado = @vl_resultado
    RETURN(0)
  END
END



GO
