USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_calc_armazenagem    Script Date: 02/09/1999 08:58:58 AM ******/
CREATE PROCEDURE [sp_calc_armazenagem]( @nr_processo char(18), @cd_item char(3), @Resultado float output ) AS
DECLARE @cd_armazem         char(4)
DECLARE @tp_taxa            char(1)
DECLARE @erro               int
SELECT  @Resultado          = 0
-- SELECIONA OS VALORES PARA CALCULO
SELECT @cd_armazem   = CD_ARMAZEM_DESCARGA
FROM TPROCESSO WHERE ( NR_PROCESSO = @nr_processo ) 
IF @@rowcount = 0
  -- Processo nao localizado
  RETURN(1)
ELSE
BEGIN
  SELECT @tp_taxa = TP_TAXA
  FROM TARMAZEM
  WHERE CD_ARMAZEM = @cd_armazem
  IF @@rowcount = 0
    -- Armaz'm nao cadastrado
    RETURN(2)
  ELSE
  BEGIN
    IF @tp_taxa = '1'
    BEGIN
      EXEC @erro = sp_calc_arm_codesp @nr_processo, @cd_item, @Resultado output
      -- peso bruto nao informado
      IF @erro = 2 RETURN(3)
      -- Taxa CODESP nao cadastrada
      IF @erro = 3 RETURN(4)
      -- Taxa de Câmbio nao cadastrada
      IF @erro = 4 RETURN(5)
    END
    IF @tp_taxa = '2'
    BEGIN
      EXEC @erro = sp_calc_arm_tra @nr_processo, @cd_item, @Resultado output
      -- Taxa TRA nao cadastrada
      IF @erro = 2 RETURN(6)
    END
    IF @tp_taxa = '3'
    BEGIN
      EXEC @erro = sp_calc_arm_teca @nr_processo, @cd_item, @Resultado output
      -- Taxa TECA nao cadastrada
      IF @erro = 2 RETURN(7)
    END
    IF @tp_taxa = '4'
    BEGIN
      EXEC @erro = sp_calc_arm_padrao @nr_processo, @cd_item, @Resultado output
      -- Taxa Padrao nao cadastrada
      IF @erro = 2 RETURN(8)
    END
    RETURN(0)
  END
END




GO
