USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_recalcula_adicoes    Script Date: 02/09/1999 08:58:12 AM ******/
/****** Object:  Stored Procedure dbo.sp_recalcula_adicoes    Script Date: 01/07/1998 15:45:40 ******/
create procedure [sp_recalcula_adicoes]( @nr_processo char(18) ) AS
declare @s_adicao char(3)
declare c_adicao cursor for select nr_adicao from tadicao_de_importacao where (nr_processo = @nr_processo) 
/* verifica se existem adicoes a serem renumeradas */
If  ( select count(*) from tadicao_de_importacao where (nr_processo = @nr_processo) ) > 0
begin
  open c_adicao
  fetch next from c_adicao into @s_adicao
  while @@fetch_status <> -1
  begin
 
    Execute sp_di_gera_base_calc  @nr_processo, @s_adicao 
    Print @s_adicao
    fetch next from c_adicao into @s_adicao
  end
  close c_adicao
end
deallocate c_adicao
Return (0)



GO
