USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_MUDA_SERVICO_PO_ITEM](@NR_PROCESSO CHAR(18), @CD_EMPRESA  CHAR(5)) AS
BEGIN
    -- Criado por Michel em 23/08/2010 para atualizar o followup com os eventos do novo serviço, mantendo as informações dos eventos do serviço anterior
    /*
    DECLARE @NR_PROCESSO CHAR(18)
    DECLARE @CD_EMPRESA  CHAR(5)

    SET @NR_PROCESSO = '8000359250'
    SET @CD_EMPRESA  = '00309'

    BEGIN TRAN
    --*/

    DECLARE @CD_SERVICO       CHAR(3)
    DECLARE @IN_NOVO_FOLLOWUP CHAR(1)
    DECLARE @DT_ABERTURA      DATETIME

    DECLARE @TMP_FLP_PO_ITEM AS TABLE (
        NR_PROCESSO           CHAR(18),
        NR_ITEM               CHAR(3),
        CD_EVENTO             CHAR(3),
        IN_APLICAVEL          CHAR(1),
        CD_RESP_REALIZACAO    CHAR(4),
        DT_REALIZACAO         DATETIME,
        DT_PREVISTA           DATETIME,
        DT_LIMITE             DATETIME,
        NR_ORDEM              SMALLINT,
        TX_OBS                TEXT,
        CD_STATUS             CHAR(1),
        CD_UNID_NEG           CHAR(2),
        CD_PRODUTO            CHAR(2),
        NR_PROCESSO_INDAIA    CHAR(18),
        NR_ITEM_CLIENTE       CHAR(4),
        NR_PARCIAL            INT,
        CD_EMPRESA            CHAR(5),
        DT_REALIZACAO_EFETIVA DATETIME
    )

    INSERT INTO @TMP_FLP_PO_ITEM
    SELECT *
    FROM TFLP_PO_ITEM
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_EMPRESA  = @CD_EMPRESA

    SELECT @CD_SERVICO  = CD_SERVICO,
           @DT_ABERTURA = DT_ABERTURA
    FROM TPO
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_EMPRESA  = @CD_EMPRESA

    SELECT @IN_NOVO_FOLLOWUP = CASE WHEN ISNULL(@DT_ABERTURA, GETDATE()) > ISNULL(DT_NOVO_FOLLOWUP_IMP, DATEADD(YEAR, 1, GETDATE())) THEN '0'
                               ELSE '0'
                               END
    FROM TGRUPO G (NOLOCK)
       INNER JOIN TEMPRESA_NAC EN (NOLOCK) ON EN.CD_GRUPO = G.CD_GRUPO
    WHERE EN.CD_EMPRESA = @CD_EMPRESA

    DELETE FROM TFLP_PO_ITEM
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_EMPRESA  = @CD_EMPRESA

    IF ISNULL(@IN_NOVO_FOLLOWUP, '0') = '0'
        INSERT INTO TFLP_PO_ITEM
        SELECT POI.NR_PROCESSO,
               POI.NR_ITEM,
               SE.CD_EVENTO,
               '1',
               TMP.CD_RESP_REALIZACAO,
               TMP.DT_REALIZACAO,
               TMP.DT_PREVISTA,
               TMP.DT_LIMITE,
               SE.NR_ORDEM,
               TMP.TX_OBS,
               TMP.CD_STATUS,
               TMP.CD_UNID_NEG,
               TMP.CD_PRODUTO,
               TMP.NR_PROCESSO_INDAIA,
               POI.NR_ITEM_CLIENTE,
               POI.NR_PARCIAL,
               POI.CD_EMPRESA,
               TMP.DT_REALIZACAO_EFETIVA
        FROM TSERVICO_EVENTO          SE  (NOLOCK)
           INNER JOIN TPO_ITEM         POI (NOLOCK) ON POI.NR_PROCESSO     = @NR_PROCESSO
                                                   AND POI.CD_EMPRESA      = @CD_EMPRESA
           LEFT  JOIN @TMP_FLP_PO_ITEM TMP          ON TMP.CD_EVENTO       = SE.CD_EVENTO
                                                   AND TMP.NR_ITEM_CLIENTE = POI.NR_ITEM_CLIENTE
        WHERE SE.CD_SERVICO = @CD_SERVICO
    ELSE
        INSERT INTO TFLP_PO_ITEM
        SELECT POI.NR_PROCESSO,
               POI.NR_ITEM,
               SE.CD_EVENTO,
               '1',
               TMP.CD_RESP_REALIZACAO,
               TMP.DT_REALIZACAO,
               TMP.DT_PREVISTA,
               TMP.DT_LIMITE,
               SE.NR_ORDEM,
               TMP.TX_OBS,
               TMP.CD_STATUS,
               TMP.CD_UNID_NEG,
               TMP.CD_PRODUTO,
               TMP.NR_PROCESSO_INDAIA,
               POI.NR_ITEM_CLIENTE,
               POI.NR_PARCIAL,
               POI.CD_EMPRESA,
               TMP.DT_REALIZACAO_EFETIVA
        FROM TSERVICO_EVENTO_NOVO      SE  (NOLOCK)
           INNER JOIN TPO_ITEM         POI (NOLOCK) ON POI.NR_PROCESSO     = @NR_PROCESSO
                                                   AND POI.CD_EMPRESA      = @CD_EMPRESA
           LEFT  JOIN @TMP_FLP_PO_ITEM TMP          ON TMP.CD_EVENTO       = SE.CD_EVENTO
                                                   AND TMP.NR_ITEM_CLIENTE = POI.NR_ITEM_CLIENTE
        WHERE SE.CD_SERVICO = @CD_SERVICO

    /*
    SELECT *
    FROM TFLP_PO_ITEM
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_EMPRESA  = @CD_EMPRESA
    ORDER BY NR_ITEM, NR_ORDEM

    ROLLBACK
    --COMMIT

    SELECT *
    FROM TFLP_PO_ITEM
    WHERE NR_PROCESSO = @NR_PROCESSO
      AND CD_EMPRESA  = @CD_EMPRESA
    ORDER BY NR_ITEM, NR_ORDEM
    --*/
END
GO
