USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_gera_receb    Script Date: 02/09/1999 08:59:01 AM ******/
CREATE PROCEDURE [sp_gera_receb] ( @nr_processo char(18), @cd_item char(3), @cd_banco char(3), @vl_lancamento float, 
     @cd_usuario char(4), @in_fav_sm char(1), @dt_solic_ch char(10), @nr_solic_ch char(3) ) AS
DECLARE @nr_solicitacao  char(3)
DECLARE @nr_lancamento  char(3)
DECLARE @nr_recebimento  char(3)
DECLARE @nr_lanc_receb  char(3)
DECLARE @dt_recebimento  datetime
DECLARE @vl_solicitado  float
DECLARE @vl_recebido  float
DECLARE @vl_recebido_n  numeric(14,2)
IF ( SELECT COUNT(*)
     FROM   TNUMERARIO_ITEM_SOLIC
     WHERE  NR_PROCESSO = @nr_processo AND
            CD_ITEM     = @cd_item     AND
            CD_STATUS IN ('A','B') ) = 0
BEGIN
  SELECT @nr_solicitacao = MAX( NR_SOLICITACAO )
  FROM   TNUMERARIO_ITEM_SOLIC
  WHERE  NR_PROCESSO = @nr_processo AND
         NR_SOLICITACAO < '999'
       
  IF @nr_solicitacao = NULL
  BEGIN
    SELECT @nr_solicitacao = '001'
    INSERT TNUMERARIO 
    VALUES ( @nr_processo, @nr_solicitacao, CONVERT( datetime, CONVERT( char(10), GETDATE() ), 103 ), @cd_usuario, 'A', NULL, NULL, 0, 0, NULL, '0', NULL, '0' )
  END
  SELECT @nr_lancamento = RIGHT( ( '000' + CONVERT( char(3), ( ISNULL( CONVERT( integer,
    ( SELECT MAX( NR_LANCAMENTO )
      FROM   TNUMERARIO_ITEM_SOLIC
      WHERE  NR_PROCESSO    = @nr_processo and
             NR_SOLICITACAO = @nr_solicitacao ) ), 0 ) + 1 ) ) ), 3 )
  INSERT TNUMERARIO_ITEM_SOLIC
  VALUES ( @nr_processo, @nr_solicitacao, @nr_lancamento, @cd_item, NULL, NULL, NULL, 0, 0, 'A', 0, 0, NULL )
END 
SELECT @nr_recebimento = RIGHT( ( '000' + CONVERT( char(3), ( ISNULL( CONVERT( integer,
                         ( SELECT MAX( NR_RECEBIMENTO ) 
                           FROM   TRECEBIMENTO 
                           WHERE  NR_PROCESSO = @nr_processo ) ), 0 ) + 1 ) ) ), 3 )
SELECT @dt_recebimento = CONVERT( datetime, CONVERT( char(10), GETDATE() ), 103 )
INSERT TRECEBIMENTO
VALUES ( @nr_processo, @nr_recebimento, @dt_recebimento, @cd_usuario,
         @cd_banco, 0, '0', NULL, NULL, '0', NULL, NULL, '0', 0, @in_fav_sm, @dt_solic_ch, @nr_solic_ch )
 
DECLARE c_num CURSOR FOR
SELECT I.NR_SOLICITACAO, I.NR_LANCAMENTO, I.VL_SOLICITADO, I.VL_RECEBIDO
FROM   TNUMERARIO_ITEM_SOLIC I,
       TNUMERARIO N
WHERE  N.NR_PROCESSO    = I.NR_PROCESSO AND
       N.NR_SOLICITACAO = I.NR_SOLICITACAO AND
       N.NR_PROCESSO    = @nr_processo AND
       N.CD_STATUS IN ('A', 'B') AND
       I.CD_ITEM        = @cd_item AND
       I.CD_STATUS IN ('A', 'B') 
ORDER  BY I.CD_STATUS DESC
           
OPEN c_num
FETCH c_num INTO @nr_solicitacao, @nr_lancamento, @vl_solicitado, @vl_recebido
WHILE @@fetch_status <> -1
BEGIN
  IF ( ( @vl_solicitado - @vl_recebido ) > 0 ) AND ( @vl_lancamento > 0 )
  BEGIN
    SELECT @vl_recebido_n = ROUND( ( @vl_solicitado - @vl_recebido ), 2 )
    IF @vl_recebido_n > @vl_lancamento 
      SELECT @vl_recebido_n = @vl_lancamento
    SELECT @nr_lanc_receb = RIGHT( ( '000' + CONVERT( char(3), ( CONVERT( integer, @nr_lanc_receb ) + 1 ) ) ), 3 )
    INSERT TRECEBIMENTO_ITEM_RECEB 
    VALUES ( @nr_processo, @nr_recebimento, @nr_lanc_receb, @nr_solicitacao, @nr_lancamento,
             @cd_item, @vl_recebido_n, @vl_recebido_n, '0', 0, 0 )
    SELECT @vl_lancamento = ( @vl_lancamento - @vl_recebido_n )
  END
  FETCH c_num INTO @nr_solicitacao, @nr_lancamento, @vl_solicitado, @vl_recebido
END
IF @vl_lancamento > 0
BEGIN
  SELECT @nr_lanc_receb = RIGHT( ( '000' + CONVERT( char(3), ( CONVERT( integer, @nr_lanc_receb ) + 1 ) ) ), 3 )
  INSERT TRECEBIMENTO_ITEM_RECEB 
  VALUES ( @nr_processo, @nr_recebimento, @nr_lanc_receb, @nr_solicitacao, @nr_lancamento,
           @cd_item, 0, @vl_lancamento ,'0', 0, 0 )
END
CLOSE c_num
DEALLOCATE c_num
UPDATE TRECEBIMENTO 
SET VL_RECEBIMENTO = 
    ( SELECT SUM( I.VL_RECEBIDO )
      FROM   TRECEBIMENTO_ITEM_RECEB I
      WHERE  R.NR_PROCESSO    = I.NR_PROCESSO AND
             R.NR_RECEBIMENTO = I.NR_RECEBIMENTO ) 
FROM TRECEBIMENTO R
WHERE NR_PROCESSO = @nr_processo
 
EXEC sp_atz_recebimento @nr_processo, @nr_recebimento
RETURN(0)



GO
