USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [sp_fat_calc_item_complementar] (@cd_unid_neg char(2), @cd_produto char(2), @nr_solicitacao char(6) ) AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @nr_solicitacao char(6) 

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @nr_solicitacao = '000314'
*/

DECLARE @nr_processo       char(18)
DECLARE @tp_tipo_fat       char(1)
DECLARE @dt_fatura         datetime
DECLARE @dt_pagto_item datetime
DECLARE @nr_lanc           char(4)
DECLARE @cd_item           char(3)
DECLARE @cd_favorecido     char(5)
DECLARE @vl_informado      float
DECLARE @vl_aliq_ir        float
DECLARE @cd_item_ir        char(3)
DECLARE @cd_item_cpmf      char(3)
DECLARE @cd_item_saldo_cre char(3)
DECLARE @cd_item_saldo_deb char(3)
DECLARE @cd_item_saldo     char(3)
DECLARE @cd_item_nao_fat   char(3)
DECLARE @cd_item_nfat      char(3)
DECLARE @cd_item_pago_cli  char(3)
DECLARE @in_restitui       char(1)
DECLARE @in_restitui_cpmf  char(1)
DECLARE @in_cobrar_cpmf    char(1)
DECLARE @in_cpmf_item      char(1)
DECLARE @in_cpmf_cliente   char(1)
DECLARE @in_nao_fat    	   char(1)
DECLARE @in_demonstrado    char(1)
DECLARE @vl_calc_ir        numeric (14,3)
DECLARE @vl_tot_ir         numeric (14,2)
DECLARE @vl_item           float
DECLARE @vl_ir             float
DECLARE @vl_assist         float
DECLARE @vl_min_ir         float
DECLARE @vl_base_ir        numeric (14,2)
DECLARE @vl_saldo_cre      numeric (14,2)
DECLARE @vl_saldo_deb      numeric (14,2)
DECLARE @vl_saldo_tot      numeric (14,2)
DECLARE @vl_saldo_fat      numeric (14,2)
DECLARE @vl_cpmf           numeric (14,7)
DECLARE @cd_usuario        char(4)
DECLARE @in_nvocc          char(1)
DECLARE @in_sd_fat_zero    char(1)
DECLARE @in_sd_nota_zero   char(1)
DECLARE @vl_pago_cli       numeric (14,2)
DECLARE @cd_ir_fat         char(1)

SELECT  @vl_pago_cli      = 0
SELECT  @vl_saldo_fat     = 0
SELECT  @vl_tot_ir   = 0
/*** Atualizando parametros ***/
SELECT @vl_aliq_ir        = VL_ALIQ_IR,
       @cd_item_ir        = CD_ITEM_IR,
       @cd_item_cpmf      = CD_ITEM_CPMF,
       @cd_item_saldo_cre = CD_ITEM_SALDO_CRE,
       @cd_item_saldo_deb = CD_ITEM_SALDO_DEB,
       @cd_item_nao_fat   = CD_ITEM_NAO_FAT,
       @vl_min_ir         = VL_MIN_IR,
       @cd_item_pago_cli  = CD_ITEM_PAGO_CLI
FROM   TPARAMETROS

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO = SUSER_NAME()

SELECT @tp_tipo_fat  = TP_TIPO_FAT,
       @dt_fatura    = DT_FATURA,
       @dt_pagto_item = DT_PAGTO_ITEM
FROM   TS_FATURA
WHERE  CD_UNID_NEG    = @cd_unid_neg AND
       CD_PRODUTO     = @cd_produto  AND
       NR_SOLICITACAO = @nr_solicitacao

IF @tp_tipo_fat = 'D' SELECT @in_demonstrado = '1'
ELSE SELECT @in_demonstrado = '0'

DECLARE c_fat CURSOR FOR
  SELECT NR_PROCESSO 
  FROM   TS_FATURA_PROCESSO
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLICITACAO = @nr_solicitacao
OPEN c_fat
FETCH c_fat INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN
  IF @tp_tipo_fat <> 'D'
  BEGIN
    IF ( ( SELECT COUNT(*)
           FROM   TFATURAMENTO_CC F
           WHERE  NR_PROCESSO   = @nr_processo AND
                  DT_LANCAMENTO <= @dt_fatura AND
                  IN_CANCELADO  = '0' AND
                  IN_SEL_FAT    = '1' AND
                  IN_FATURADO   = '0' ) < = 0 ) AND
       ( ( SELECT COUNT(*)
           FROM   TS_FATURA_PROCESSO_ITEM F
           WHERE  CD_UNID_NEG    = @cd_unid_neg AND 
                  CD_PRODUTO     = @cd_produto  AND
                  NR_SOLICITACAO = @nr_solicitacao ) <= 0 ) 
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat
      -- Não existem itens a faturar
      RETURN(1)
    END
  END

  IF ( ( ( SELECT COUNT(*) 
           FROM   TFATURAMENTO_CC F, TITEM I
           WHERE  F.NR_PROCESSO   = @nr_processo AND
                  F.DT_LANCAMENTO <= @dt_fatura AND
                  F.IN_SEL_FAT    = '1' AND
                  F.IN_CANCELADO  = '0' AND
                  F.IN_FATURADO   = '0' AND
                  F.CD_ITEM       = I.CD_ITEM AND
                  I.CD_TIPO_ITEM  = 'R' AND
                  F.IN_RESTITUI   = '0' ) <= 0 ) AND 
       ( @tp_tipo_fat = 'F') ) AND
     ( ( ( SELECT COUNT(*) 
           FROM   TS_FATURA_PROCESSO_ITEM F, TITEM I
           WHERE  F.CD_UNID_NEG    = @cd_unid_neg AND
                  F.CD_PRODUTO     = @cd_produto  AND
                  F.NR_SOLICITACAO = @nr_solicitacao AND
                  F.NR_PROCESSO    = @nr_processo AND
                  F.CD_ITEM        = I.CD_ITEM AND
                  I.CD_TIPO_ITEM   = 'R' AND
                  F.IN_RESTITUI    = '0' ) <= 0 ) AND 
       ( @tp_tipo_fat = 'F') )
  BEGIN
    IF ( SELECT ISNULL( TP_FAT_SEM_RECEITA, 0 )
         FROM   TPRODUTO 
         WHERE  CD_PRODUTO = @cd_produto ) = 0
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat

      -- Tipo de Faturamento Nota Fiscal/Fatura deve possuir um item do tipo Receitas
      RETURN(2)
    END
  END           

  IF ( ( ( SELECT COUNT(*) 
           FROM   TFATURAMENTO_CC F, TITEM I
           WHERE  F.NR_PROCESSO   = @nr_processo AND
                  F.CD_ITEM       = I.CD_ITEM   AND
                  F.DT_LANCAMENTO <= @dt_fatura  AND
                  F.IN_SEL_FAT    = '1' AND
                  F.IN_CANCELADO  = '0'   AND
                  F.IN_FATURADO   = '0'   AND 
                  I.CD_TIPO_ITEM  = 'R'   AND
                  F.IN_RESTITUI   = '0' AND 
                  ( @tp_tipo_fat = 'N' ) ) > 0 ) ) OR
     ( ( ( SELECT COUNT(*) 
           FROM TS_FATURA_PROCESSO_ITEM F, TITEM I
           WHERE  F.CD_UNID_NEG    = @cd_unid_neg    AND
                  F.CD_PRODUTO     = @cd_produto     AND
                  F.NR_SOLICITACAO = @nr_solicitacao AND
                  F.NR_PROCESSO    = @nr_processo    AND
                  F.CD_ITEM        = I.CD_ITEM       AND
                  I.CD_TIPO_ITEM   = 'R'             AND
                  F.IN_RESTITUI    = '0' ) > 0 )     AND 
       ( @tp_tipo_fat = 'N') )
  BEGIN
    CLOSE c_fat
    DEALLOCATE c_fat
    -- Tipo de Faturamento Nota Crédito/Débito deve possuir um item do tipo Receitas
    RETURN(3)
  END           
  FETCH c_fat INTO @nr_processo
END
CLOSE c_fat
DEALLOCATE c_fat

SELECT NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, 
       CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, 
       NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL, IN_DEMONSTRADO
INTO   #TMP_IR
FROM   TFATURAMENTO_CC
WHERE  NR_PROCESSO = NULL

/***** TUDO OK - INICIAR CALCULO ****/
DECLARE c_fat CURSOR FOR
  SELECT NR_PROCESSO 
  FROM   TS_FATURA_PROCESSO
  WHERE  CD_UNID_NEG    = @cd_unid_neg AND
         CD_PRODUTO     = @cd_produto  AND
         NR_SOLICITACAO = @nr_solicitacao
OPEN c_fat
FETCH c_fat INTO @nr_processo
WHILE @@fetch_status = 0
BEGIN
  -- Trocar Demonstrativo p/ Cobrança
  UPDATE TFATURAMENTO_CC
  SET    NR_SOLIC_FAT = @nr_solicitacao,
         IN_FATURADO = '1'
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_PROCESSO = @nr_processo AND
         ISNULL( NR_SOLIC_DEM, '' ) <> '' AND
         IN_DEMONSTRADO = '1' AND
         IN_CANCELADO = '0' 

  SELECT @nr_lanc = ISNULL( MAX(NR_LANCAMENTO), '0000') 
  FROM   TFATURAMENTO_CC 
  WHERE  NR_PROCESSO = @nr_processo
 
  DECLARE c_fat_item CURSOR FOR
    SELECT CD_ITEM, VL_INFORMADO, IN_RESTITUI, CD_FAVORECIDO, IN_NAO_FAT
    FROM   TS_FATURA_PROCESSO_ITEM
    WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
           CD_PRODUTO     = @cd_produto     AND
           NR_SOLICITACAO = @nr_solicitacao AND
           NR_PROCESSO    = @nr_processo    AND
           VL_INFORMADO <> 0 

  OPEN c_fat_item
  FETCH c_fat_item INTO @cd_item, @vl_informado, @in_restitui, @cd_favorecido, @in_nao_fat
  WHILE @@fetch_status <> -1
  BEGIN
    /*** TRANSFERINDO PARA TFATURAMENTO_CC ***/
  
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4)
    IF @in_nao_fat = '1'
      SELECT @cd_item_nfat = @cd_item_nao_fat
    ELSE IF @in_nao_fat = '*'
      SELECT @cd_item_nfat = '*'
    ELSE
      SELECT @cd_item_nfat = NULL
     
    INSERT INTO TFATURAMENTO_CC 
       ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, 
         VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, 
         IN_CONTABIL, CD_ITEM_NAO_FAT, IN_DEMONSTRADO )
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_favorecido, @cd_item, 'S', '6', @vl_informado, 
             0, 0, '0', '0', @nr_solicitacao, @in_restitui, @cd_unid_neg, @cd_produto, '0', @cd_item_nfat, @in_demonstrado )
    FETCH c_fat_item INTO @cd_item, @vl_informado, @in_restitui, @cd_favorecido, @in_nao_fat
  END
  CLOSE c_fat_item
  DEALLOCATE c_fat_item

  /*** CALCULAR CPMF ***/
  IF ( SELECT COUNT(*)
       FROM   TS_FATURA_PROCESSO_ITEM
       WHERE  CD_UNID_NEG    = @cd_unid_neg    AND
              CD_PRODUTO     = @cd_produto     AND
              NR_SOLICITACAO = @nr_solicitacao AND
              NR_PROCESSO    = @nr_processo    AND
              CD_ITEM        = @cd_item_cpmf ) = 0 AND
     ( SELECT COUNT(*)
       FROM   TCLIENTE_HABILITACAO H
       JOIN   TPROCESSO P
         ON  (P.CD_UNID_NEG    = H.CD_UNID_NEG AND
              P.CD_PRODUTO     = H.CD_PRODUTO  AND
              P.CD_CLIENTE     = H.CD_CLIENTE )
       WHERE  P.NR_PROCESSO    = @nr_processo  AND
              H.IN_COBRAR_CPMF = '1') > 0
  BEGIN
    SELECT @vl_cpmf = 0
    DECLARE c_fat_cc CURSOR FOR
      SELECT F.CD_ITEM, ROUND( ((ISNULL(VL_ITEM,0) + ISNULL(VL_ASSIST,0)) * X.PC_TAXA / 100 ), 2 ), IN_CPMF, F.IN_RESTITUI
      FROM   TFATURAMENTO_CC F, 
             TITEM I, 
             TTIPO_ITEM T, 
             TTAXA_CPMF X, 
             TBANCO B
      WHERE  F.NR_PROCESSO   = @nr_processo  AND
             F.DT_LANCAMENTO <= @dt_fatura  AND
             F.IN_CANCELADO  = '0' AND
             F.IN_SEL_FAT    = '1' AND
             F.IN_FATURADO   = '0' AND
             F.CD_ITEM       = I.CD_ITEM AND
--             F.IN_RESTITUI   = '0' AND
             I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM AND
             T.TP_NATUREZA   = 'D' AND
             T.IN_FATURAR    = '1' AND
             F.CD_BANCO      *= B.CD_BANCO AND
             F.DT_LANCAMENTO BETWEEN X.DT_INICIO AND X.DT_FIM AND
             ( ( ( F.DT_LANCAMENTO = @dt_pagto_item ) AND ( @dt_pagto_item IS NOT NULL ) ) OR
             ( @dt_pagto_item IS NULL ) ) AND
             @tp_tipo_fat    IN ( 'F', 'N' ) AND 
             LTRIM( RTRIM( ISNULL( F.CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
             F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS )
          
    OPEN c_fat_cc
    FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item, @in_restitui_cpmf
    WHILE @@fetch_status <> -1
    BEGIN

      SELECT @in_cpmf_cliente = NULL

      SELECT @in_cpmf_cliente = IN_CPMF
      FROM   TPROCESSO P, 
             TCLIENTE_CPMF C
      WHERE  P.NR_PROCESSO = @nr_processo  AND
             P.CD_UNID_NEG = C.CD_UNID_NEG AND
             P.CD_PRODUTO  = C.CD_PRODUTO  AND
             P.CD_CLIENTE  = C.CD_CLIENTE  AND
             C.CD_ITEM     = @cd_item

      SELECT @in_cpmf_cliente = ISNULL( @in_cpmf_cliente, '1' ) 

      IF ( @in_cpmf_item = '1' ) AND ( @in_cpmf_cliente = '1' )
      BEGIN
         IF @in_restitui_cpmf = '0' SELECT @vl_cpmf = @vl_cpmf + @vl_item 
         ELSE SELECT @vl_cpmf = @vl_cpmf - @vl_item 
      END

      FETCH c_fat_cc INTO @cd_item, @vl_item, @in_cpmf_item, @in_restitui_cpmf
    END     
    CLOSE c_fat_cc
    DEALLOCATE c_fat_cc
    if @vl_cpmf > 0
    BEGIN
      SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4 )
      IF @dt_pagto_item IS NULL 
        INSERT INTO TFATURAMENTO_CC 
           ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
             VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL,
             IN_DEMONSTRADO )
        VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_cpmf, 'S', '6', @vl_cpmf, 0, 0, '0', '0', 
                 @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0', @in_demonstrado )
      ELSE
        INSERT INTO TFATURAMENTO_CC 
           ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM,
             VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL,
             IN_DEMONSTRADO )
        VALUES ( @nr_processo, @nr_lanc, @dt_pagto_item, @cd_usuario, @cd_item_cpmf, 'S', '6', @vl_cpmf, 0, 0, '0', '0', 
                 @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0', @in_demonstrado )
    END
  END
  /*** CALCULAR I.R.R.F. ***/
  SELECT @vl_base_ir = ISNULL( SUM( ISNULL(F.VL_ITEM, 0) + ISNULL(F.VL_ASSIST, 0) ), 0)
  FROM   TFATURAMENTO_CC F, 
         TITEM I
  WHERE  F.IN_FATURADO  = '0'  AND
         F.IN_SEL_FAT = '1'   AND
         F.DT_LANCAMENTO <= @dt_fatura  AND
         F.NR_PROCESSO  = @nr_processo  AND
         F.IN_CANCELADO  = '0'  AND
         F.CD_ITEM  = I.CD_ITEM  AND
         I.CD_TIPO_ITEM  = 'R'  AND 
         F.IN_RESTITUI  = '0' AND
         @tp_tipo_fat = 'F' AND
         I.IN_CALCULA_IR = '1' AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS )

  SELECT @vl_base_ir = @vl_base_ir - ISNULL( SUM( ISNULL(F.VL_ITEM, 0) + ISNULL(F.VL_ASSIST, 0) ), 0)
  FROM   TFATURAMENTO_CC F, 
         TITEM I
  WHERE  F.IN_FATURADO   = '0'  AND
         F.IN_SEL_FAT = '1'   AND
         F.DT_LANCAMENTO  <= @dt_fatura  AND
         F.NR_PROCESSO   = @nr_processo  AND
         F.IN_CANCELADO  = '0'   AND
         F.CD_ITEM  = I.CD_ITEM  AND
         I.CD_TIPO_ITEM  = 'R'   AND 
         F.IN_RESTITUI  = '1' AND
         @tp_tipo_fat = 'F' AND 
         I.IN_CALCULA_IR = '1' AND 
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS )

  SELECT @vl_calc_ir = ROUND ( ( @vl_base_ir * @vl_aliq_ir / 100 ), 2)
  SELECT @vl_ir = @vl_calc_ir
  IF @vl_ir > 0
  BEGIN
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4)
    INSERT INTO #TMP_IR
         VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_ir, 
                  'S', '6', @vl_ir, 0, 0, '0', '0', @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0', '0')
    SELECT @vl_tot_ir = @vl_tot_ir + @vl_ir
  END
  FETCH c_fat INTO @nr_processo
END
CLOSE c_fat
DEALLOCATE c_fat
/*** VERIFICANDO I.R.R.F. ***/
-- Não verifica valor mínimo temporariamente
--IF ( @vl_tot_ir ) >= @vl_min_ir
--BEGIN
  INSERT TFATURAMENTO_CC ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, 
       CD_FORMA_PAGTO, CD_ORIGEM_LANC, VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, 
       NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, IN_CONTABIL, IN_DEMONSTRADO )
    SELECT * 
    FROM #TMP_IR
--END

/*** VERIFICANDO SALDO DO PROCESSO ***/         
DECLARE c_fat CURSOR FOR
  SELECT  NR_PROCESSO
  FROM    TS_FATURA_PROCESSO
  WHERE   CD_UNID_NEG    = @cd_unid_neg AND
          CD_PRODUTO     = @cd_produto  AND
          NR_SOLICITACAO = @nr_solicitacao 
  GROUP BY NR_PROCESSO
OPEN c_fat
FETCH c_fat INTO @nr_processo
WHILE @@fetch_status <> -1
BEGIN
  SELECT @vl_saldo_cre = 
         ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0)
  FROM   TFATURAMENTO_CC F, TITEM I, TTIPO_ITEM T
  WHERE  F.NR_PROCESSO    = @nr_processo   AND
         F.DT_LANCAMENTO  <= @dt_fatura   AND
         F.IN_CANCELADO  = '0'    AND
         F.IN_SEL_FAT = '1'   AND
         ( ( F.IN_FATURADO = '0' AND @tp_tipo_fat <> 'D' )/* OR
           ( F.IN_DEMONSTRADO = '0' AND @tp_tipo_fat = 'D' )*/ ) AND
         F.CD_ITEM        = I.CD_ITEM   AND
         I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA  = 'C' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA  = 'D' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR  = '1' AND 
         ( ( ( F.DT_LANCAMENTO = @dt_pagto_item ) AND ( @dt_pagto_item IS NOT NULL ) ) OR
           ( @dt_pagto_item IS NULL ) ) AND
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS ) AND 
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_DEVOL_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_EXTOR_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS )

  SELECT @vl_saldo_deb = 
         ISNULL( SUM( ISNULL( F.VL_ITEM, 0 ) + ISNULL( F.VL_ASSIST, 0 ) ), 0 )
  FROM   TFATURAMENTO_CC F, TITEM I, TTIPO_ITEM T
  WHERE  F.NR_PROCESSO  = @nr_processo   AND
         F.DT_LANCAMENTO  <= @dt_fatura   AND
         F.IN_CANCELADO  = '0' AND
         F.IN_SEL_FAT = '1' AND
         ( ( F.IN_FATURADO = '0' AND @tp_tipo_fat <> 'D' ) /*OR
           ( F.IN_DEMONSTRADO = '0' AND @tp_tipo_fat = 'D' ) */) AND
         F.CD_ITEM   = I.CD_ITEM AND
         I.CD_TIPO_ITEM  = T.CD_TIPO_ITEM AND
         ( ( T.TP_NATUREZA  = 'D' AND F.IN_RESTITUI = '0' ) OR
           ( T.TP_NATUREZA  = 'C' AND F.IN_RESTITUI = '1' ) ) AND
         T.IN_FATURAR  = '1' AND 
         ( ( ( F.DT_LANCAMENTO = @dt_pagto_item ) AND ( @dt_pagto_item IS NOT NULL ) ) OR
           ( @dt_pagto_item IS NULL ) ) AND
         LTRIM( RTRIM( ISNULL( CD_ITEM_NAO_FAT, '0' ) ) ) <> '*' AND 
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_ISS FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_RECEB_NUM FROM TPARAMETROS ) AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS )  AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_IR FROM TPARAMETROS )

  /*** VERIFICA IR A CRÉDITO/DÉBITO/DEMONSTRATIVO ***/
  SELECT @cd_ir_fat  = CD_IR_FAT
  FROM   TCLIENTE_HABILITACAO
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO  = @cd_produto  AND
         CD_CLIENTE  = ( SELECT CD_CLIENTE FROM TPROCESSO WHERE NR_PROCESSO = @nr_processo )

  IF @cd_ir_fat = '1' SELECT @vl_saldo_cre = @vl_saldo_cre + @vl_ir
  IF @cd_ir_fat = '2' SELECT @vl_saldo_deb = @vl_saldo_deb + @vl_ir

  IF ISNULL( @vl_saldo_cre, 0 ) > ISNULL( @vl_saldo_deb, 0 )
     SELECT @cd_item_saldo = @cd_item_saldo_cre
  ELSE
     SELECT @cd_item_saldo = @cd_item_saldo_deb

  SELECT @vl_saldo_tot = ABS( @vl_saldo_cre - @vl_saldo_deb )

  IF @vl_saldo_tot <> 0
  BEGIN
    SELECT @in_sd_fat_zero  = IN_SD_FAT_ZERO,
           @in_sd_nota_zero = IN_SD_NOTA_ZERO
    FROM   TCLIENTE_HABILITACAO
    WHERE  CD_UNID_NEG = @cd_unid_neg AND
           CD_PRODUTO  = @cd_produto  AND
           CD_CLIENTE  = ( SELECT CD_CLIENTE FROM TPROCESSO WHERE NR_PROCESSO = @nr_processo )
    IF ( ( @tp_tipo_fat = 'F' ) AND ( @in_sd_fat_zero = '1' ) )
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat
      /*** SALDO DA FATURA DEVE SER ZERO ***/
      RETURN(4)
    END
    IF ( ( @tp_tipo_fat = 'N' ) AND ( @in_sd_nota_zero = '1' ) )
    BEGIN
      CLOSE c_fat
      DEALLOCATE c_fat
      /*** SALDO DA NOTA DE CRÉDITO/DÉBITO DEVE SER ZERO ***/
      RETURN(5)
    END
  END

  IF @tp_tipo_fat <> 'D'
  BEGIN
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, MAX( NR_LANCAMENTO ) ) + 1 ) ) ) , 4)
    FROM   TFATURAMENTO_CC
    WHERE  NR_PROCESSO = @nr_processo

    INSERT INTO TFATURAMENTO_CC 
       ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_ITEM, CD_FORMA_PAGTO, CD_ORIGEM_LANC,
         VL_ITEM, VL_IR, VL_ASSIST, IN_FATURADO, IN_CANCELADO, NR_SOLIC_FAT, IN_RESTITUI, CD_UNID_NEG, CD_PRODUTO, 
         IN_CONTABIL, IN_DEMONSTRADO )
    VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, @cd_item_saldo, 'S', '6', @vl_saldo_tot, 0, 0, '1', '0', 
             @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0', @in_demonstrado )
  END

  IF @tp_tipo_fat <> 'N' 
  BEGIN
    UPDATE TFATURAMENTO_CC
    SET    IN_FATURADO  ='1', 
           IN_SEL_FAT = '0',
           CD_UNID_NEG  = @cd_unid_neg,
           CD_PRODUTO   = @cd_produto,
           NR_SOLIC_FAT = @nr_solicitacao
    WHERE  NR_PROCESSO = @nr_processo AND
           IN_FATURADO = '0' AND
           IN_SEL_FAT = '1'   AND
           @tp_tipo_fat <> 'D' AND
           DT_LANCAMENTO <= @dt_fatura
  END
  ELSE 
  BEGIN
    IF  @dt_pagto_item is not NULL
    BEGIN
      UPDATE TFATURAMENTO_CC
      SET    IN_FATURADO  ='1', 
             IN_SEL_FAT = '0',
             CD_UNID_NEG  = @cd_unid_neg,
             CD_PRODUTO   = @cd_produto,
             NR_SOLIC_FAT = @nr_solicitacao
      WHERE  NR_PROCESSO = @nr_processo AND
             IN_FATURADO = '0' AND
             IN_SEL_FAT = '1'   AND
             @tp_tipo_fat <> 'D' AND
             DT_LANCAMENTO <= @dt_fatura AND
             DT_LANCAMENTO = @dt_pagto_item

      UPDATE TFATURAMENTO_CC
      SET    IN_FATURADO  ='1' 
      WHERE  CD_UNID_NEG  = @cd_unid_neg AND
             CD_PRODUTO   = @cd_produto AND
             NR_SOLIC_FAT = @nr_solicitacao AND
             NR_PROCESSO = @nr_processo AND 
             CD_ITEM IN ( SELECT CD_ITEM_CPMF FROM TPARAMETROS )
    END
    ELSE
    BEGIN
      UPDATE TFATURAMENTO_CC
      SET    IN_FATURADO  ='1', 
             IN_SEL_FAT = '0',
             CD_UNID_NEG  = @cd_unid_neg,
             CD_PRODUTO   = @cd_produto,
             NR_SOLIC_FAT = @nr_solicitacao
      WHERE  NR_PROCESSO = @nr_processo AND
             IN_FATURADO = '0' AND
             IN_SEL_FAT = '1'   AND
             @tp_tipo_fat <> 'D' AND
             DT_LANCAMENTO <= @dt_fatura
    END 
  END

  UPDATE TFATURAMENTO_CC
  SET    IN_DEMONSTRADO = '1', 
         IN_SEL_FAT = '0',
         CD_UNID_NEG  = @cd_unid_neg,
         CD_PRODUTO   = @cd_produto,
         NR_SOLIC_FAT = @nr_solicitacao,
         NR_SOLIC_DEM = @nr_solicitacao
  WHERE  NR_PROCESSO = @nr_processo AND
         IN_FATURADO = '0' AND
         IN_SEL_FAT = '1' AND
         @tp_tipo_fat = 'D' AND
         DT_LANCAMENTO <= @dt_fatura 

  UPDATE TS_FATURA_PROCESSO
  SET    VL_FATURA = ( ISNULL( @vl_saldo_cre, 0 ) - ISNULL( @vl_saldo_deb, 0 ) )
  WHERE  NR_SOLICITACAO = @nr_solicitacao and
         CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         NR_PROCESSO    = @nr_processo

  SELECT @vl_saldo_fat = @vl_saldo_fat + ISNULL( @vl_saldo_cre, 0 ) - ISNULL( @vl_saldo_deb, 0 )

/*
  SELECT @vl_pago_cli = ISNULL( SUM ( CASE F.IN_RESTITUI
                          WHEN '0' THEN ( F.VL_ITEM + F.VL_ASSIST )
                          WHEN '1' THEN ( F.VL_ITEM + F.VL_ASSIST ) * (-1)
                          ELSE 0
                       END ), 0 ) 
  FROM TFATURAMENTO_CC F, TITEM I
  WHERE F.NR_PROCESSO = @nr_processo AND
  F.CD_ITEM = I.CD_ITEM AND
  F.CD_FORMA_PAGTO= 'S' AND
  I.CD_TIPO_ITEM = 'D' AND
  F.CD_ORIGEM_LANC = '7' AND
  F.IN_CANCELADO = '0'   AND
  F.IN_FATURADO = '0'

  IF @vl_pago_cli > 0 
  BEGIN
    SELECT @nr_lanc = RIGHT( ( '0000' + RTRIM( CONVERT(char(4), CONVERT( int, @nr_lanc ) + 1 ) ) ) , 4)

    INSERT INTO TFATURAMENTO_CC
      VALUES ( @nr_processo, @nr_lanc, @dt_fatura, @cd_usuario, NULL, NULL, @cd_item_pago_cli, 
               NULL, NULL, 'S', '6', NULL, NULL, ( ( @vl_pago_cli ) * (-1) ), 0, 0, NULL, '1', NULL,
               NULL, '0', @nr_solicitacao, '0', @cd_unid_neg, @cd_produto, '0', NULL)

    UPDATE TFATURAMENTO_CC
    SET IN_FATURADO = '1'
    FROM TFATURAMENTO_CC F, TITEM I
    WHERE F.NR_PROCESSO = @nr_processo AND
    F.CD_ITEM = I.CD_ITEM AND
    F.CD_FORMA_PAGTO= 'S' AND
    I.CD_TIPO_ITEM = 'D' AND
    F.CD_ORIGEM_LANC = '7' AND
    F.IN_CANCELADO = '0'   AND
    F.IN_FATURADO = '0'
  END
*/
  FETCH c_fat INTO @nr_processo
END
CLOSE c_fat
DEALLOCATE c_fat

DROP TABLE #TMP_IR

IF ( SELECT COUNT(*) 
     FROM   TS_FATURA_PROCESSO P,
            TFATURAMENTO_CC C,
            TITEM I
      WHERE P.NR_PROCESSO    = C.NR_PROCESSO   AND
            P.CD_UNID_NEG    = C.CD_UNID_NEG   AND
            P.CD_PRODUTO     = C.CD_PRODUTO    AND
            P.NR_SOLICITACAO = C.NR_SOLIC_FAT  AND
            P.CD_UNID_NEG    = @cd_unid_neg    AND
            P.CD_PRODUTO     = @cd_produto     AND
            P.NR_SOLICITACAO = @nr_solicitacao AND
            C.IN_SEL_FAT     = '1'             AND
            C.CD_ITEM        = I.CD_ITEM       AND
            C.IN_CANCELADO   = '0'             AND
            I.CD_TIPO_ITEM   = 'N' ) > 0
  SELECT @in_nvocc = '0'
ELSE
  SELECT @in_nvocc = '*'

/*** ATUALIZACOES ***/
UPDATE TS_FATURA
SET    IN_CALCULADO    = '1', 
       DT_CALCULO      = CONVERT( datetime, convert(varchar(12), GETDATE() ), 103),
       VL_FATURA       = @vl_saldo_fat,
       IN_RECIBO_NVOCC = @in_nvocc
WHERE  CD_UNID_NEG     = @cd_unid_neg AND
       CD_PRODUTO      = @cd_produto  AND
       NR_SOLICITACAO  = @nr_solicitacao

--Inserindo documentos
DECLARE @cd_cliente char(5)
DECLARE @cd_documento char(3)
DECLARE @cd_forma_doc char(1)

DECLARE c_docto CURSOR FOR
  SELECT CD_CLIENTE, CD_DOCUMENTO, CD_FORMA_DOC
  FROM   TCLIENTE_DOCUMENTO
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         CD_CLIENTE IN ( SELECT DISTINCT P.CD_CLIENTE
                         FROM   TS_FATURA_PROCESSO FP, TPROCESSO P
                         WHERE  FP.CD_UNID_NEG = @cd_unid_neg AND
                                FP.CD_PRODUTO = @cd_produto AND
                                FP.NR_SOLICITACAO = @nr_solicitacao AND
                                FP.NR_PROCESSO = P.NR_PROCESSO )

OPEN c_docto

FETCH c_docto INTO @cd_cliente, @cd_documento, @cd_forma_doc
WHILE @@fetch_status = 0
BEGIN
  IF NOT EXISTS( SELECT *
                 FROM   TS_FATURA_DOCUMENTO
                 WHERE  CD_UNID_NEG = @cd_unid_neg AND
                        CD_PRODUTO = @cd_produto AND
                        NR_SOLICITACAO = @nr_solicitacao AND
                        CD_DOCUMENTO = @cd_documento )
  BEGIN
    INSERT TS_FATURA_DOCUMENTO ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, CD_DOCUMENTO, CD_FORMA_DOC )    
      SELECT @cd_unid_neg, @cd_produto, @nr_solicitacao, CD_DOCUMENTO, CD_FORMA_DOC
      FROM   TCLIENTE_DOCUMENTO
      WHERE  CD_CLIENTE = @cd_cliente AND
             CD_UNID_NEG = @cd_unid_neg AND 
             CD_PRODUTO = @cd_produto AND
             CD_DOCUMENTO = @cd_documento
  END

  FETCH c_docto INTO @cd_cliente, @cd_documento, @cd_forma_doc
END

CLOSE c_docto
DEALLOCATE c_docto

RETURN(0)

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/




GO
