USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_canc_receb_filtro] (@nr_recebimento char(6), @cd_cliente char(5), @cd_unid_neg char(2), @dt_recebimento datetime) AS

DECLARE @nr_processo char(18)

SELECT NR_PROCESSO
  INTO #CANC_RECEB
  FROM TRECEBIMENTO_PROCESSO_ITEM  (NOLOCK)
 WHERE 1 = 0

INSERT #CANC_RECEB (NR_PROCESSO)
 SELECT NR_PROCESSO
   FROM TRECEBIMENTO_PROCESSO (NOLOCK)
  WHERE NR_RECEBIMENTO = @nr_recebimento
    AND CD_CLIENTE     = @cd_cliente
    AND CD_UNID_NEG    = @cd_unid_neg 

WHILE (SELECT COUNT(*) FROM #CANC_RECEB (NOLOCK)) > 0 
BEGIN
   SELECT TOP 1 @nr_processo = NR_PROCESSO FROM #CANC_RECEB (NOLOCK)

   UPDATE TFATURAMENTO_CC 
     SET IN_CANCELADO = '1'
   WHERE NR_PROCESSO  = @nr_processo
     AND NR_CHEQUE    = @nr_recebimento
     AND IN_CANCELADO = '0' 
     AND IN_FILTRO    = '1'

   UPDATE TFATURAMENTO_CC 
     SET IN_CANCELADO = '1'
   WHERE NR_PROCESSO  = @nr_processo
     AND NR_CHEQUE    = @nr_recebimento
     AND IN_CANCELADO = '0' 
     AND IN_FILTRO    = '2'

  DELETE FROM #CANC_RECEB WHERE NR_PROCESSO = @nr_processo
 END
DROP TABLE #CANC_RECEB




GO
