USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored Procedure dbo.sp_ev_prev_fabrica  Script Date: 26/11/1998 19:07:06 ******/
CREATE PROCEDURE [sp_ev_prev_fabrica](@nr_processo char(18), @cd_evento char(3)) AS
/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo char(18)
DECLARE @cd_evento char(3)

SELECT @nr_processo = '0101DD-0001-03'
SELECT @cd_evento   = '162'

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

DECLARE @dt_realizacao      datetime
DECLARE @dt_temp            datetime
DECLARE @dt_fim             datetime
DECLARE @dt_ent             datetime
DECLARE @dt_reg_di          datetime
DECLARE @dt_ci              datetime
DECLARE @dt_nf_transp       datetime
DECLARE @dt_prev_fabrica    datetime
DECLARE @dt_espera_navio    datetime
DECLARE @dt_hoje            datetime

DECLARE @controle           int
DECLARE @nr_dias            int
DECLARE @nr_dias_ent        int
DECLARE @nr_dias_reg_di     int
DECLARE @nr_dias_ci         int
DECLARE @nr_dias_nf_transp  int
DECLARE @cd_ev_ent          char(3)
DECLARE @cd_ev_reg_di       char(3)
DECLARE @cd_ev_nf_transp    char(3)
DECLARE @cd_ev_ci           char(3)
DECLARE @cd_ev_prev_fabrica char(3)
DECLARE @cd_ev_espera_navio char(3)

SELECT @cd_ev_espera_navio = CD_EV_ESPERA_NAVIO,
       @cd_ev_ent          = CD_EV_ENT,
       @cd_ev_reg_di       = CD_EV_REG_DI,
       @cd_ev_ci           = CD_EV_CI,
       @cd_ev_nf_transp    = CD_EV_NF_TRANSP,
       @cd_ev_prev_fabrica = CD_EV_PREV_FABRICA
FROM TPARAMETROS

IF SUBSTRING(@nr_processo, 3, 2) IN ('01', '03')
    SET @cd_ev_prev_fabrica = ''

SELECT @controle	        = 33000
SELECT @nr_dias_ent         = 5
SELECT @nr_dias_reg_di      = 3
SELECT @nr_dias_ci          = 2
SELECT @nr_dias_nf_transp   = 1
SELECT @nr_dias             = 1

-- Rotina noturna
IF @cd_evento = 'X'
BEGIN 
    SELECT @dt_hoje = CONVERT(DATETIME, GETDATE() - 1, 103)
    WHILE (DATEPART(dw, @dt_hoje) IN (1, 7))
       OR CONVERT(DATETIME, CONVERT(VARCHAR, @dt_hoje, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                      FROM TFERIADO)
        SELECT @dt_hoje = @dt_hoje - 1

    DECLARE c_prev_fabrica CURSOR FOR
        SELECT DISTINCT P.NR_PROCESSO
        FROM TPROCESSO P (NOLOCK), VW_SERVICO_GERAL S, TFOLLOWUP F (NOLOCK)
        WHERE P.NR_PROCESSO = F.NR_PROCESSO
          AND P.CD_SERVICO = S.CD_SERVICO
          AND F.CD_EVENTO = S.CD_EVENTO_CONCLUSOR
          AND F.IN_APLICAVEL = '1'
          AND P.IN_CANCELADO = '0'
          AND ISNULL( F.DT_REALIZACAO, 0 ) = 0
        ORDER BY P.NR_PROCESSO
    OPEN c_prev_fabrica
    FETCH c_prev_fabrica INTO @nr_processo
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SELECT @dt_espera_navio = ISNULL(DT_REALIZACAO, 0)
        FROM TFOLLOWUP (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_espera_navio

        SELECT @dt_ent = ISNULL(DT_REALIZACAO, 0)
        FROM TFOLLOWUP (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_ent

        SELECT @dt_reg_di = ISNULL(DT_REALIZACAO, 0)
        FROM TFOLLOWUP (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_reg_di

        SELECT @dt_ci = ISNULL(DT_REALIZACAO, 0)
        FROM TFOLLOWUP (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_ci

        SELECT @dt_nf_transp = ISNULL(DT_REALIZACAO, 0)
        FROM TFOLLOWUP (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_nf_transp

        SELECT @dt_prev_fabrica = ISNULL(DT_REALIZACAO, 0)
        FROM TFOLLOWUP (NOLOCK)
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_prev_fabrica

        -- Envio da Nota Fiscal para o Transportador
        IF SUBSTRING(@nr_processo, 3, 2) IN ('01', '03') AND
           ISNULL(@dt_ent, 0)       <> 0 AND
           ISNULL(@dt_reg_di, 0)    <> 0 AND
           ISNULL(@dt_ci, 0)        <> 0 AND
           ISNULL(@dt_nf_transp, 0) =  0 AND
           (@dt_hoje - 1)           >= @dt_ci
        BEGIN
            -- Somar dias úteis
            SELECT @dt_prev_fabrica = @dt_prev_fabrica + 1
            WHILE (DATEPART(dw, @dt_prev_fabrica) IN (1, 7)) OR
                  CONVERT(DATETIME, CONVERT(VARCHAR, @dt_prev_fabrica, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                      FROM TFERIADO (NOLOCK))
                SELECT @dt_prev_fabrica = @dt_prev_fabrica + 1
    
            UPDATE TFOLLOWUP
            SET DT_REALIZACAO = (CASE
                                     WHEN (CONVERT (INT, @dt_prev_fabrica) < @controle) THEN NULL
                                 ELSE @dt_prev_fabrica
                                 END )
            WHERE NR_PROCESSO = @nr_processo
              AND CD_EVENTO   = @cd_ev_prev_fabrica
        END
        -- Recebimento da CI
        ELSE 
            IF SUBSTRING(@nr_processo, 3, 2) IN ('01', '03') AND
               ISNULL(@dt_ent, 0)    <> 0 AND
               ISNULL(@dt_reg_di, 0) <> 0 AND
               ISNULL(@dt_ci, 0)     =  0 AND
               (@dt_hoje - 1)        >= @dt_reg_di
            BEGIN
                -- Somar dias úteis
                SELECT @dt_prev_fabrica = @dt_prev_fabrica + 1
                WHILE (DATEPART(dw, @dt_prev_fabrica) IN (1, 7)) OR
                      CONVERT(DATETIME, CONVERT(VARCHAR, @dt_prev_fabrica, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                          FROM TFERIADO (NOLOCK))
                    SELECT @dt_prev_fabrica = @dt_prev_fabrica + 1

                UPDATE TFOLLOWUP
                SET DT_REALIZACAO = CASE
                                        WHEN (CONVERT(INT, @dt_prev_fabrica) < @controle) THEN NULL
                                    ELSE @dt_prev_fabrica
                                    END
                WHERE NR_PROCESSO = @nr_processo
                  AND CD_EVENTO   = @cd_ev_prev_fabrica
            END
            -- Reg.DI
            ELSE 
                IF SUBSTRING(@nr_processo, 3, 2) IN ('01', '03') AND
                   ISNULL(@dt_ent, 0)    <> 0 AND
                   ISNULL(@dt_reg_di, 0) = 0 AND
--       SUBSTRING( @nr_processo, 5, 2 ) IN ( 'IN', 'IT' ) AND 
                  (@dt_hoje - 2)         >= @dt_ent
                BEGIN
                    -- Somar dias úteis
                    SELECT @dt_prev_fabrica = @dt_prev_fabrica + 1
                    WHILE (DATEPART(dw, @dt_prev_fabrica) IN (1, 7)) OR
                          CONVERT(DATETIME, CONVERT(VARCHAR, @dt_prev_fabrica, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                              FROM TFERIADO)
                        SELECT @dt_prev_fabrica = @dt_prev_fabrica + 1

                    UPDATE TFOLLOWUP
                    SET DT_REALIZACAO = CASE
                                            WHEN (CONVERT(INT, @dt_prev_fabrica) < @controle) THEN NULL
                                        ELSE @dt_prev_fabrica
                                        END
                    WHERE NR_PROCESSO = @nr_processo
                      AND CD_EVENTO   = @cd_ev_prev_fabrica
                END

        FETCH c_prev_fabrica INTO @nr_processo
    END
    CLOSE c_prev_fabrica
    DEALLOCATE c_prev_fabrica
END
ELSE
BEGIN
    SELECT @dt_realizacao = ISNULL(DT_REALIZACAO, 0)
    FROM TFOLLOWUP (NOLOCK)
    WHERE NR_PROCESSO = @nr_processo
      AND CD_EVENTO   = @cd_evento

    -- Previsão de Chegada do Navio
    IF @cd_evento = @cd_ev_espera_navio AND
       SUBSTRING(@nr_processo, 3, 2) IN ('01', '03') AND
       ISNULL(@dt_realizacao, 0) <> 0
    BEGIN
        -- Somar dias úteis
        SELECT @nr_dias = 1
        WHILE DATEPART(dw, @dt_realizacao) IN (1, 7) OR
              CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                FROM TFERIADO (NOLOCK)) OR @nr_dias <= @nr_dias_ent
        BEGIN
            SELECT @dt_realizacao = @dt_realizacao + 1
            IF NOT (DATEPART(dw, @dt_realizacao) IN (1, 7) OR
               CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                 FROM TFERIADO (NOLOCK)))
                SELECT @nr_dias = @nr_dias + 1
        END

        UPDATE TFOLLOWUP
        SET DT_REALIZACAO = CASE
                                WHEN (CONVERT(INT, @dt_realizacao) < @controle) THEN NULL
                            ELSE @dt_realizacao
                            END
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_prev_fabrica
    END

    -- Entrada do Navio
    IF @cd_evento = @cd_ev_ent AND
       SUBSTRING(@nr_processo, 3, 2) IN ('01', '03') AND
       ISNULL(@dt_realizacao, 0) <> 0
    BEGIN
        -- Somar dias úteis
        SELECT @nr_dias = 1
        WHILE DATEPART(dw, @dt_realizacao) IN (1, 7) OR
              CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                FROM TFERIADO (NOLOCK)) OR @nr_dias <= @nr_dias_ent
        BEGIN
            SELECT @dt_realizacao = @dt_realizacao + 1
            IF NOT (DATEPART(dw, @dt_realizacao) IN (1, 7) OR
               CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                 FROM TFERIADO (NOLOCK) ))
                SELECT @nr_dias = @nr_dias + 1
        END

        UPDATE TFOLLOWUP
        SET DT_REALIZACAO = CASE
                                WHEN (CONVERT(INT, @dt_realizacao) < @controle) THEN NULL
                            ELSE @dt_realizacao
                            END
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_prev_fabrica
    END

    -- Registro da DI
    IF @cd_evento = @cd_ev_reg_di AND
       SUBSTRING(@nr_processo, 3, 2) IN ('01', '03') AND
       ISNULL(@dt_realizacao, 0) <> 0
    BEGIN
        -- Somar dias úteis
        SELECT @nr_dias = 1
        WHILE DATEPART(dw, @dt_realizacao) IN (1, 7) OR
              CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                FROM TFERIADO (NOLOCK)) OR @nr_dias <= @nr_dias_reg_di
        BEGIN
            SELECT @dt_realizacao = @dt_realizacao + 1
            IF NOT (DATEPART(dw, @dt_realizacao) IN (1, 7) OR
               CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                 FROM TFERIADO (NOLOCK)))
                SELECT @nr_dias = @nr_dias + 1
        END

        UPDATE TFOLLOWUP
        SET DT_REALIZACAO = CASE
                                WHEN (CONVERT(INT, @dt_realizacao) < @controle) THEN NULL
                            ELSE @dt_realizacao
                            END
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_prev_fabrica
    END

    -- Recebimento da CI
    IF @cd_evento = @cd_ev_ci AND
       SUBSTRING(@nr_processo, 3, 2) IN ('01', '03') AND
       ISNULL(@dt_realizacao, 0) <> 0
    BEGIN
        -- Somar dias úteis
        SELECT @nr_dias = 1
        WHILE DATEPART(dw, @dt_realizacao) IN (1, 7) OR
              CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                FROM TFERIADO (NOLOCK)) OR @nr_dias <= @nr_dias_ci
        BEGIN
            SELECT @dt_realizacao = @dt_realizacao + 1
            IF NOT (DATEPART(dw, @dt_realizacao) IN (1, 7) OR
               CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                 FROM TFERIADO (NOLOCK)))
                SELECT @nr_dias = @nr_dias + 1
        END

        UPDATE TFOLLOWUP
        SET DT_REALIZACAO = CASE
                                WHEN (CONVERT(INT, @dt_realizacao) < @controle) THEN NULL
                            ELSE @dt_realizacao
                            END
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_prev_fabrica
    END

    -- Envio da Nota Fiscal para o Transportador
    IF @cd_evento = @cd_ev_nf_transp AND
       SUBSTRING(@nr_processo, 3, 2) IN ('01', '03') AND
       ISNULL(@dt_realizacao, 0) <> 0
    BEGIN
        -- Somar dias úteis
        SELECT @nr_dias = 1
        WHILE DATEPART(dw, @dt_realizacao) IN (1, 7) OR
              CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                FROM TFERIADO) OR @nr_dias <= @nr_dias_nf_transp
        BEGIN
            SELECT @dt_realizacao = @dt_realizacao + 1
            IF NOT (DATEPART(dw, @dt_realizacao) IN (1, 7) OR
               CONVERT(DATETIME, CONVERT(VARCHAR, @dt_realizacao, 103), 103) IN (SELECT CONVERT(DATETIME, DT_FERIADO, 103)
                                                                                 FROM TFERIADO))
                SELECT @nr_dias = @nr_dias + 1
        END

        UPDATE TFOLLOWUP
        SET DT_REALIZACAO = CASE
                                WHEN (CONVERT(INT, @dt_realizacao) < @controle) THEN NULL
                            ELSE @dt_realizacao
                            END
        WHERE NR_PROCESSO = @nr_processo
          AND CD_EVENTO   = @cd_ev_prev_fabrica
    END
END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
