USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_po_exclui]( @nr_processo char(18) ) AS
  DELETE FROM TPO WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TPO_ITEM WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TPO_NVE WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TREF_CLIENTE WHERE ( NR_PROCESSO = @nr_processo )
  DELETE FROM TPREPARA_PO WHERE ( NR_PROC_OLD = @nr_processo )
  DELETE FROM TPREPARA_PO_ITEM WHERE ( NR_PROC_OLD = @nr_processo )


GO
