USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_distribui_numerario_AG] (@dt_movimento datetime, @cd_unid_neg char(2), 
                                        @nr_recebimento char(6), @cd_cliente char(5), @in_maior char(1), @in_cancelamento char(1) )AS

--SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

/*

BEGIN TRAN

DECLARE @dt_movimento datetime
DECLARE @cd_unid_neg char(2)
DECLARE @nr_recebimento char(3)
DECLARE @cd_cliente char(5)
DECLARE @in_maior char(1)

SET @dt_movimento = CONVERT(DATETIME,'12/04/2004',103)
SET @CD_UNID_NEG = '01'
SET @nr_recebimento = '073'
SET @cd_cliente = '00019'
SET @in_maior = '0'

--*/

DECLARE @nr_ult_lanc        int
DECLARE @ult_lanc   	    char(6)
DECLARE @cd_item   	    char(3)
DECLARE @cd_item_receb_num  char(3)
DECLARE @cd_item_extor_num  char(3)
DECLARE @cd_item_devol_num  char(3)
DECLARE @nr_processo   	    char(18)
DECLARE @cd_banco           char(3)
DECLARE @nr_fp              char(10)
DECLARE @vl_recebimento     float
DECLARE @in_transferido     char(1)
DECLARE @in_cancelado       char(1)
DECLARE @nr_devolucao       char(3)
DECLARE @vl_devolucao       float
DECLARE @cd_coligada        char(2)
DECLARE @vl_caixa           float
DECLARE @vl_recebido        FLOAT
DECLARE @vl_adicional       FLOAT
DECLARE @cd_favorecido      char(5)
DECLARE @nr_solicitacao     char(3)
DECLARE @nr_processo_vinc   char(18)
DECLARE @cd_usuario 	    CHAR(4)
DECLARE @ult_devolucao      CHAR(3)

SET  @cd_coligada = '01'

SELECT @in_cancelado = IN_CANCELADO, @cd_usuario = CD_USUARIO, @nr_fp = NR_FP
  FROM TRECEBIMENTO_AG (NOLOCK) WHERE NR_RECEBIMENTO = @nr_recebimento AND CD_UNID_NEG = @cd_unid_neg 
     AND CD_CLIENTE = @cd_cliente 

set @in_cancelado = @in_cancelamento

--SELECT @cd_favorecido = CD_FAVORECIDO FROM TFAVORECIDO F, TEMPRESA_NAC E
--   WHERE (F.CGC_EMPRESA = E.CGC_EMPRESA) OR (F.CPF_EMPRESA = E.CPF_EMPRESA)
--      AND E.CD_EMPRESA = @cd_cliente

SET @CD_FAVORECIDO = ''

SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM, 
       @cd_item_extor_num = CD_ITEM_EXTOR_NUM,
       @cd_item_devol_num = CD_ITEM_DEVOL_NUM
FROM   TPARAMETROS (NOLOCK)

SET @cd_item = @cd_item_receb_num
 IF @in_cancelado = 1   
     SET @cd_item = @cd_item_extor_num


SELECT @nr_ult_lanc = CONVERT( int, ISNULL( MAX( NR_LANCAMENTO), '000'  ) ) + 1
 FROM   TCAIXA  (NOLOCK)
  WHERE  DT_MOVIMENTO = @dt_movimento 

print @nr_ult_lanc

SELECT  TRI.NR_PROCESSO ,TRI.CD_BANCO_ITEM, 
  TRI.VL_RECEBIDO AS VL_TOT_RECEBIDO, 
  TRI.VL_ADICIONAL_ITEM AS VL_TOT_ADICIONAL_ITEM
INTO   #TM_PROCESSO
FROM   TRECEBIMENTO_PROCESSO_ITEM TRI (NOLOCK)
WHERE  1 = 0


INSERT #TM_PROCESSO ( NR_PROCESSO, CD_BANCO_ITEM, VL_TOT_RECEBIDO, VL_TOT_ADICIONAL_ITEM)
  SELECT TRI.NR_PROCESSO ,TRI.CD_BANCO_ITEM, sum(VL_RECEBIDO), SUM(TRI.VL_ADICIONAL_ITEM)
       FROM TRECEBIMENTO_PROCESSO_ITEM TRI (NOLOCK)
       WHERE NR_RECEBIMENTO = @nr_recebimento AND CD_UNID_NEG = @cd_unid_neg AND CD_CLIENTE = @cd_cliente
         AND VL_RECEBIDO > 0   
  GROUP BY TRI.NR_PROCESSO , TRI.CD_BANCO_ITEM 

WHILE (SELECT COUNT(*) FROM #TM_PROCESSO (NOLOCK))> 0
BEGIN

  SELECT TOP 1 @nr_processo = NR_PROCESSO , @cd_banco = CD_BANCO_ITEM,
               @vl_recebido = VL_TOT_RECEBIDO, @vl_adicional = VL_TOT_ADICIONAL_ITEM
    FROM #TM_PROCESSO (NOLOCK)

  SET @vl_caixa = @vl_recebido + @vl_adicional

  IF @in_maior = '1' 
    SET @vl_caixa = @vl_recebido

  SELECT @ult_lanc = RIGHT( '000000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 6 )

  if @cd_item = '991' or @cd_item = '993' or @cd_item = '992' 
    set @nr_recebimento = null

  INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, 
                  TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO,
                  CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, IN_RESTITUI, TP_NATUREZA, 
                  NR_FP, NR_CHEQUE, CD_FAVORECIDO, IN_FILTRO, IN_FATURADO )
        VALUES        ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', 
                  '3', '0', '0', @vl_caixa, 'S', 
                  @cd_banco, @nr_processo, @cd_item, 0, 0, '0',  
                CASE @cd_item 
              WHEN @cd_item_receb_num THEN 'C'
                  WHEN @cd_item_extor_num THEN 'D'
         ELSE 'C'
                END, @nr_fp,@nr_recebimento, @cd_favorecido, '0', '0' )   

  IF @cd_item = '993'
  BEGIN
    UPDATE TCAIXA 
    SET IN_CANCELADO = '0'
    WHERE CD_COLIGADA = @cd_coligada AND 
          NR_PROCESSO = @nr_processo AND
          CD_UNID_NEG = @cd_unid_neg AND 
          CD_ITEM     = '991' AND 
          CD_BANCO    = @cd_banco --AND --         NR_CHEQUE = @nr_recebimento       
  END 
  
  SELECT @nr_ult_lanc = @nr_ult_lanc + 1

  exec sp_atz_evento  @nr_processo, 'CD_EV_REC_IMP',  @dt_movimento

  DELETE FROM #TM_PROCESSO WHERE NR_PROCESSO =@nr_processo
                            AND ISNULL(CD_BANCO_ITEM,'') = @cd_banco
END


IF @in_maior = '1'
BEGIN

  SELECT @VL_ADICIONAL = SUM(VL_ADICIONAL_ITEM) FROM TRECEBIMENTO_PROCESSO_ITEM (NOLOCK) WHERE NR_PROCESSO = @NR_PROCESSO
  SELECT @ult_devolucao = CONVERT( int, ISNULL( MAX( NR_DEVOLUCAO), '000'  ) ) + 1 FROM TDEVOLUCAO (NOLOCK) WHERE NR_PROCESSO = @nr_processo 
  SET @ult_devolucao = RIGHT( ( '000' + RTRIM( CONVERT(CHAR,@ult_devolucao) ) ), 3 )
  INSERT INTO TDEVOLUCAO VALUES (@nr_processo, @ult_devolucao, getdate(), @cd_usuario, @vl_adicional, '0', null, '', '0', null, null, null, null)
  UPDATE TRECEBIMENTO_AG SET VL_DEVOLVIDO = @vl_adicional WHERE CD_CLIENTE = @cd_cliente AND CD_UNID_NEG = @cd_unid_neg AND NR_RECEBIMENTO = @nr_recebimento

END


DROP TABLE #TM_PROCESSO


DECLARE @cd_ct_caixa char(3)
SELECT @cd_ct_caixa = CD_CONTA FROM   TCONTA_CAIXA (NOLOCK) where  CD_COLIGADA = @cd_coligada AND CD_BANCO = @cd_banco
EXEC sp_atz_saldos_caixa @cd_coligada, @cd_unid_neg, @dt_movimento, @cd_ct_caixa

-- Atualiza FATURAMENTO
EXEC sp_atz_fat_cc_ag @cd_coligada, @dt_movimento


-- ROLLBACK TRAN



GO
