USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_fat_item_complementar] ( @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5),
                                            @cd_servico char(3), @cd_item char(3), @dt_inicio datetime, @dt_fim datetime ) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_servico char(3)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @cd_item char(3)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = '01'
SELECT @cd_servico = '001'
SELECT @cd_grupo = ''
SELECT @cd_cliente = '00022'
SELECT @cd_item = '001'
SELECT @dt_inicio = CONVERT( datetime, '01/06/2001', 103 )
SELECT @dt_fim = CONVERT( datetime, '10/06/2001', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF

*/

DECLARE @nr_solicitacao char(6)
DECLARE @dt_movimento   datetime
DECLARE @dt_vencto_fatura datetime
DECLARE @cd_usuario char(4)
DECLARE @cd_cli_grupo char(5)
DECLARE @nr_processo char(18)
DECLARE @vl_item float
DECLARE @nr_dias_vencto_fat int
DECLARE @in_dia_util_emissao_fat char(1)
DECLARE @Valida bit

SELECT @cd_unid_neg = ISNULL( @cd_unid_neg, '' )
SELECT @cd_produto  = ISNULL( @cd_produto, '' )
SELECT @cd_servico  = ISNULL( @cd_servico, '' )
SELECT @cd_grupo    = ISNULL( @cd_grupo, '' )
SELECT @cd_cliente  = ISNULL( @cd_cliente, '' )
SELECT @cd_item     = ISNULL( @cd_item, '' )

SELECT @nr_solicitacao = MAX( NR_SOLICITACAO )
FROM   TS_FATURA
WHERE  CD_UNID_NEG = @cd_unid_neg AND
       CD_PRODUTO = @cd_produto AND
       SUBSTRING( NR_SOLICITACAO, 1, 2 ) = SUBSTRING ( CONVERT( char(10), GETDATE(), 103 ), 9, 2 )

SELECT @nr_solicitacao = ISNULL( @nr_solicitacao, SUBSTRING ( CONVERT( char(10), GETDATE(), 103 ), 9, 2 ) + '0000' )

SELECT @nr_solicitacao = SUBSTRING( @nr_solicitacao, 1, 2 ) + RIGHT( '0000' + CONVERT( varchar, CONVERT( int, SUBSTRING( @nr_solicitacao, 3, 4 ) ) + 1 ), 4 )

SELECT @cd_usuario = CD_USUARIO 
FROM   TUSUARIO 
WHERE  AP_USUARIO = SUSER_NAME() 

IF @cd_grupo = ''
BEGIN
  SELECT @nr_dias_vencto_fat = NR_DIAS_VENCTO_FATURA, 
         @in_dia_util_emissao_fat = IN_DIA_UTIL_EMISSAO_FAT 
  FROM   TCLIENTE_HABILITACAO 
  WHERE  CD_CLIENTE = @cd_cliente AND 
         CD_UNID_NEG = @cd_unid_neg AND 
         CD_PRODUTO = @cd_produto
END
ELSE
BEGIN
  SELECT @cd_cli_grupo = MAX( CD_EMPRESA ) 
  FROM   TEMPRESA_NAC 
  WHERE  CD_GRUPO = @cd_grupo

  SELECT @nr_dias_vencto_fat = NR_DIAS_VENCTO_FATURA, 
         @in_dia_util_emissao_fat = IN_DIA_UTIL_EMISSAO_FAT 
  FROM   TCLIENTE_HABILITACAO 
  WHERE  CD_CLIENTE = @cd_cli_grupo AND 
         CD_UNID_NEG = @cd_unid_neg AND 
         CD_PRODUTO = @cd_produto
END

SELECT @dt_vencto_fatura = CONVERT( datetime, CONVERT( char(10), GETDATE() + @nr_dias_vencto_fat, 103 ), 103 )

IF @in_dia_util_emissao_fat = '1'
BEGIN
  SELECT @valida = 1
  WHILE @valida = 1
  BEGIN
    IF ( DATENAME( dw, @dt_vencto_fatura ) = 'Saturday' ) OR ( DATENAME( dw, @dt_vencto_fatura ) = 'sábado' )
       SELECT @dt_vencto_fatura = @dt_vencto_fatura + 2
    ELSE IF ( DATENAME( dw, @dt_vencto_fatura ) = 'Sunday' ) OR ( DATENAME( dw, @dt_vencto_fatura ) = 'domingo' )
       SELECT @dt_vencto_fatura = @dt_vencto_fatura + 1

    IF EXISTS( SELECT * 
               FROM   TFERIADO
               WHERE  DT_FERIADO = @dt_vencto_fatura )
       SELECT @dt_vencto_fatura = @dt_vencto_fatura + 1
    ELSE
       SELECT @valida = 0
  END
END

IF NOT EXISTS( SELECT MAX( DT_MOVIMENTO )
               FROM   TS_FATURA_CONTROLE
               WHERE  CD_UNID_NEG = @cd_unid_neg AND
                      CD_PRODUTO = @cd_produto AND
                      IN_FECHADO = '0' )
BEGIN
  SELECT @dt_movimento = MAX( DT_MOVIMENTO ) + 1
  FROM   TS_FATURA_CONTROLE
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         IN_FECHADO = '1'

  IF @dt_movimento < CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )
     SELECT @dt_movimento = CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 )

  INSERT TS_FATURA_CONTROLE ( CD_UNID_NEG, CD_PRODUTO, DT_MOVIMENTO, IN_FECHADO, CD_USUARIO )
  VALUES ( @cd_unid_neg, @cd_produto, @dt_movimento, '0', @cd_usuario )
END
ELSE
BEGIN
  SELECT @dt_movimento = MAX( DT_MOVIMENTO )
  FROM   TS_FATURA_CONTROLE
  WHERE  CD_UNID_NEG = @cd_unid_neg AND
         CD_PRODUTO = @cd_produto AND
         IN_FECHADO = '0'
END

INSERT TS_FATURA( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, DT_SOLICITACAO, CD_USUARIO, TP_TIPO_FAT, DT_FATURA, 
                  IN_CALCULADO, IN_CANCELADO, IN_IMPRESSO, IN_LIQUIDADO, VL_FATURA, DT_VENCTO_FATURA, IN_IMP_NF_SERV )
VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ), @cd_usuario,
         'F', @dt_movimento, '0', '0', '0', '0', 0, @dt_vencto_fatura, '0' )

DECLARE c_fat CURSOR FOR 
  SELECT F.NR_PROCESSO, SUM( ISNULL( F.VL_ITEM, 0 ) )
  FROM   TFATURAMENTO_CC F, TPROCESSO P, TEMPRESA_NAC E
  WHERE  F.NR_PROCESSO = P.NR_PROCESSO AND
         P.CD_CLIENTE = E.CD_EMPRESA AND
         ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = '' ) ) AND
         ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = '' ) ) AND
         ( ( P.CD_SERVICO = @cd_servico ) OR ( @cd_servico = '' ) ) AND
         ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = '' ) ) AND
         ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = '' ) ) AND
         F.CD_ITEM = @cd_item AND
         F.DT_LANCAMENTO BETWEEN @dt_inicio AND @dt_fim AND
         F.IN_FATURADO = '0' AND
         F.IN_CANCELADO = '0' AND
         F.CD_ITEM IN ( SELECT CD_ITEM
                        FROM   TCLIENTE_FAT_ITEM_COMPLEMENTAR FI, TPROCESSO P
                        WHERE  NR_PROCESSO = P.NR_PROCESSO AND
                               P.CD_CLIENTE = FI.CD_CLIENTE AND
                               P.CD_UNID_NEG = FI.CD_UNID_NEG AND
                               P.CD_PRODUTO = FI.CD_PRODUTO AND
                               P.CD_SERVICO = FI.CD_SERVICO AND
                               FI.IN_ATIVO = '1' )
  GROUP BY F.NR_PROCESSO

OPEN c_fat

FETCH c_fat INTO @nr_processo, @vl_item
WHILE @@fetch_status = 0 
BEGIN
  UPDATE TFATURAMENTO_CC
  SET    IN_SEL_FAT = '0'
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM <> @cd_item  

  UPDATE TFATURAMENTO_CC
  SET    IN_SEL_FAT = '1'
  WHERE  NR_PROCESSO = @nr_processo AND
         CD_ITEM = @cd_item  

  INSERT TS_FATURA_PROCESSO ( CD_UNID_NEG, CD_PRODUTO, NR_SOLICITACAO, NR_PROCESSO, VL_FATURA, IN_LIQUIDADO )
  VALUES ( @cd_unid_neg, @cd_produto, @nr_solicitacao, @nr_processo, @vl_item, '0' )

  FETCH c_fat INTO @nr_processo, @vl_item
END

CLOSE c_fat
DEALLOCATE c_fat

EXEC sp_fat_calc_item_complementar @cd_unid_neg, @cd_produto, @nr_solicitacao

GRANT  EXECUTE  ON [dbo].[sp_fat_item_complementar] TO [public]


GO
