USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [sp_proc_pagto] @nr_processo CHAR(18), @nr_lancamento CHAR(3), @cd_item CHAR(3), @cd_calculo CHAR(3), @vl_calculado numeric(14,2) output AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_processo CHAR(18)
DECLARE @nr_lancamento CHAR(3)
DECLARE @cd_item CHAR(3)
DECLARE @cd_calculo CHAR(3)
DECLARE @vl_calculado numeric(14,2) 

SELECT @nr_processo = '0101IN-0207-00'
SELECT @nr_lancamento = '011'
SELECT @cd_item = '027'
SELECT @cd_calculo = '003'

*/

DECLARE @cd_usuario	      char(4) 
DECLARE @in_item_di           char(1)
DECLARE @vl_solicitado        numeric(14,2)
DECLARE @vl_saldo_item        numeric(14,2)
DECLARE @erro                 int
DECLARE @nm_stored_procedure  varchar(30)
DECLARE @in_calcular          bit
DECLARE @incluir	      bit
DECLARE @tp_destino 	      char(1)

DECLARE @in_di_existente      bit
DECLARE @in_di_registrada     bit
DECLARE @in_di_calculada      bit
DECLARE @in_di_calculada_hoje bit
DECLARE @retornar	      bit

SELECT @cd_usuario = CD_USUARIO
FROM   TUSUARIO
WHERE  AP_USUARIO  = SUSER_NAME()

SELECT @in_calcular         = 0
SELECT @incluir             = 0
SELECT @nm_stored_procedure = ''
SELECT @vl_calculado        = 0

IF ( SELECT COUNT(*)
     FROM   TNUMERARIO_SALDO_POR_ITEM S, TITEM I
     WHERE  NR_PROCESSO = @nr_processo AND
            S.CD_ITEM = @cd_item AND
            S.CD_ITEM = I.CD_ITEM ) <= 0
BEGIN
  INSERT INTO TNUMERARIO_SALDO_POR_ITEM 
  VALUES( @nr_processo, @cd_item, 0, 0, 0, 0, 0 )
END

SELECT @in_di_existente = 
( SELECT COUNT(*)
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo )

SELECT @in_di_registrada =
( SELECT COUNT(*)
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo AND
         ( ( NR_DECLARACAO_IMP IS NOT NULL ) AND ( LTRIM( RTRIM( NR_DECLARACAO_IMP ) ) <> '' ) ) )

SELECT @in_di_calculada =
( SELECT COUNT(*)
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo AND
         DT_CALCULO IS NOT NULL )

SELECT @in_di_calculada_hoje =
( SELECT COUNT(*)
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo AND
         DT_CALCULO IS NOT NULL AND
         CONVERT( datetime, CONVERT( char(10), DT_CALCULO, 103 ), 103 ) =
         CONVERT( datetime, CONVERT( char(10), GETDATE(), 103 ), 103 ) )

SELECT @in_item_di = I.IN_ITEM_DI, @vl_solicitado = ISNULL( S.VL_SOLICITADO, 0 ), 
       @vl_saldo_item = ISNULL( S.VL_SALDO_ITEM, 0 )
FROM   TNUMERARIO_SALDO_POR_ITEM S, TITEM I
WHERE  NR_PROCESSO = @nr_processo AND
       S.CD_ITEM = @cd_item AND
       S.CD_ITEM = I.CD_ITEM

SELECT @tp_destino   = MAX( TP_DESTINO )
FROM   TNUMERARIO_ITEM_SOLIC I, TTP_DESTINO T
WHERE  I.TP_DESTINO  = T.CD_TP_DESTINO AND 
       I.NR_PROCESSO = @nr_processo    AND
       I.CD_ITEM     = @cd_item

IF ( SELECT COUNT(*)
     FROM   TSOLIC_PAGTO
     WHERE  NR_PROCESSO = @nr_processo AND
            NR_LANCAMENTO = @nr_lancamento AND
            CD_ITEM = @cd_item ) > 0 -- Item já existe
BEGIN
  IF ( SELECT COUNT(*)
       FROM   TSOLIC_PAGTO S, TITEM I
       WHERE  S.CD_ITEM = I.CD_ITEM AND
              S.NR_PROCESSO = @nr_processo AND
              S.NR_LANCAMENTO = @nr_lancamento AND
              S.CD_ITEM = @cd_item AND
              I.IN_ITEM_DI = '1' AND
              S.IN_CALCULADO = '0' ) > 0 -- Item não foi calculado
  BEGIN
    -- Calcular item
    SELECT @nm_stored_procedure = ISNULL( C.NM_STORED_PROCEDURE, ''), 
           @cd_calculo   = ISNULL( C.CD_CALCULO, '')
    FROM   TSOLIC_PAGTO S, TCALCULO C
    WHERE  S.CD_CALCULO  = C.CD_CALCULO AND
           S.NR_PROCESSO = @nr_processo AND
           S.NR_LANCAMENTO = @nr_lancamento AND
           S.CD_ITEM     = @cd_item
    IF ( @nm_stored_procedure <> '' ) AND ( @cd_calculo <> '' ) SELECT @in_calcular = 1
  END
END
ELSE
BEGIN
  SELECT @nm_stored_procedure = ISNULL( MAX(C.NM_STORED_PROCEDURE), '' )
  FROM   TCALCULO C
  WHERE C.CD_CALCULO = @cd_calculo
  IF @nm_stored_procedure <> '' SELECT @in_calcular = 1
END

IF @in_calcular = 1
BEGIN
  IF ( ( @in_item_di = '1'         ) AND 
       ( @in_di_existente = 1      ) AND
       ( @in_di_registrada = 0     ) AND
       ( @in_di_calculada = 1      ) AND
       ( @in_di_calculada_hoje = 1 ) ) OR
     @cd_item IN ( SELECT CD_ITEM_IPI FROM TPARAMETROS ) OR
     @cd_item IN ( SELECT CD_ITEM_II FROM TPARAMETROS ) OR
     @cd_item IN ( SELECT CD_ITEM_ICMS FROM TPARAMETROS ) OR
     @cd_item IN ( SELECT CD_ITEM_SISCOMEX FROM TPARAMETROS )
  BEGIN
    EXEC @erro = @nm_stored_procedure @nr_processo, @cd_item, @vl_calculado output
    IF @erro > 0
    BEGIN
      -- Gravar erro    
      INSERT INTO TLOG_ERRO_CALCULO VALUES ( @cd_usuario, @nm_stored_procedure, @erro, @cd_item )
    END
    RETURN(0)
  END
  ELSE
  BEGIN
    IF @in_item_di = '1'
    BEGIN
      IF @in_di_existente = 0      RETURN(1)
      IF @in_di_registrada = 1     RETURN(2)
      IF @in_di_calculada = 0      RETURN(3)
      IF @in_di_calculada_hoje = 0 RETURN(4)
    END
  END
END

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/





GO
