USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [sp_ddimport_custo] @cd_unid_neg char(2), @cd_grupo char(3), @cd_cliente char(5),
                 @dt_inicio datetime, @dt_fim datetime, @cd_produto char(2), @nr_processo_custo char(18),
                 @tot_ddimport tinyint OUTPUT, @nr_identificador int OUTPUT AS

/* Alimenta tabela TDDIMPORT_CUSTO que é a origem para integração DDIMPORT - BROKER arquivo saída custo




SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int
DECLARE @tot_ddimport tinyint
DECLARE @cd_produto char(2)
DECLARE @nr_processo_custo char(18)

SELECT @cd_unid_neg = '01'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/01/2004', 103 )
SELECT @dt_fim = CONVERT( datetime, '11/03/2004', 103 )
SELECT @cd_produto = '01'
SELECT @nr_processo_custo = 'DT-0005-04'
*/


DECLARE @nr_fatura      varchar(50)
DECLARE @dt_vencto_nota datetime,@dt_nota          datetime

DECLARE @sigla           char(3), @nr_processo      char(18), @nr_nota          char(6)
DECLARE @tp_frete        char(1), @nr_pedido        char(10), @nr_item_po       char(5)
DECLARE @cd_moeda_mle    char(3), @nr_adicao        char(3) , @cd_frete         char(1) 
DECLARE @moeda_neg       char(3), @cd_mercadoria    varchar(30), @cd_item_frete    char(3)
DECLARE @cd_item_irrf    char(3), @cd_item_sda      char(3),  @cd_item_cpmf     char(3)
DECLARE @cd_item_afrmm   char(3), @cd_item_cofins   char(3),  @cd_item_siscomex char(3)
DECLARE @nr_nota_entrada char(10)

DECLARE @vl_nota        float, @vl_irrf            float, @vl_sda             float
DECLARE @qtde           float, @vl_merc            float, @vl_item            float
DECLARE @vl_fob	        float, @pl_merc            float, @vl_peso            float
DECLARE @vl_cpmf        float, @vl_despf           float, @vl_arm             float
DECLARE @vl_frete_rd    float, @vl_marinha         float, @vl_multa           float
DECLARE @vl_capat       float, @vl_txlibbl         float, @vl_txdesc          float
DECLARE @vl_comissao    float, @vl_decex           float, @vl_laudo           float
DECLARE @vl_movtopri    float, @vl_ccntr           float, @vl_outras_desp     float
DECLARE @vl_txsisx      float, @vl_frete           float, @vl_thc_terminal    float
DECLARE @vl_pis		float, @vl_cofins	   float



SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TDDIMPORT_CUSTO

SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

IF @nr_processo_custo <> 'X'
  SELECT @nr_processo_custo = @cd_unid_neg + @cd_produto + @nr_processo_custo

SELECT @cd_item_irrf     = '415',            -- item imposto de renda
       @cd_item_sda      = CD_ITEM_SDA,      -- item sda
       @cd_item_cpmf     = CD_ITEM_CPMF,     -- item cpmf
       @cd_item_afrmm    = CD_ITEM_AFRMM,    -- item marinha mercante
       @cd_item_siscomex = CD_ITEM_SISCOMEX, -- item siscomex
       @cd_item_cofins   = CD_ITEM_COFINS    -- item cofins
FROM TPARAMETROS

-- ITEM FRETE
SELECT @cd_item_frete = CD_ITEM    
  FROM TITEM
 WHERE CD_ITEM = '001'


DECLARE c_proc CURSOR FOR
  SELECT P.NR_PROCESSO, DM.NR_PROC_PO, DM.NR_ITEM_PO, A.CD_MOEDA_NEGOCIADA, DM.CD_MERCADORIA,
         DM.QT_MERC_UN_COMERC, A.NR_ADICAO, P.TP_FRETE, DM.VL_MLE_ITEM, DM.PL_MERCADORIA
  FROM   TPROCESSO P, TEMPRESA_NAC E,TDETALHE_MERCADORIA DM, TADICAO_DE_IMPORTACAO A
  WHERE  P.CD_CLIENTE = E.CD_EMPRESA 
    AND  P.NR_PROCESSO = DM.NR_PROCESSO
    AND  P.NR_PROCESSO = A.NR_PROCESSO
    AND  DM.NR_ADICAO = A.NR_ADICAO
    AND  P.IN_CANCELADO = '0' 
    AND  P.CD_PRODUTO IN ( '01', '03' )
    AND  P.DT_ABERTURA BETWEEN @dt_inicio AND @dt_fim 
    AND  ( ( P.CD_UNID_NEG = @cd_unid_neg ) OR ( @cd_unid_neg = 'X' ) ) 
    AND  ( ( E.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = 'X' ) ) 
    AND  ( ( P.CD_CLIENTE = @cd_cliente ) OR ( @cd_cliente = 'X' ) )
    AND  ( ( P.CD_PRODUTO = @cd_produto ) OR ( @cd_produto = 'X' ) ) 
    AND  ( ( P.NR_PROCESSO = @nr_processo_custo ) OR ( @nr_processo_custo = 'X' ) ) 
  ORDER BY P.NR_PROCESSO

OPEN c_proc
FETCH c_proc INTO @nr_processo, @nr_pedido, @nr_item_po, @moeda_neg, @cd_mercadoria,
                  @qtde, @nr_adicao, @cd_frete, @vl_item, @pl_merc
WHILE @@fetch_status = 0
BEGIN

  -- FOB na moeda
  SELECT @vl_fob = ISNULL( ( VL_TOTAL_MLE_MN / TX_MLE ), 0 )
  FROM   TDECLARACAO_IMPORTACAO
  WHERE  NR_PROCESSO = @nr_processo

  -- Coeficiente do Valor da Mercadoria
  SET @vl_merc = @vl_fob / @vl_item

  -- Coeficiente de Peso
  SELECT @vl_peso = ISNULL( ( PL_CARGA / @pl_merc ), 0 )
    FROM TDECLARACAO_IMPORTACAO
   WHERE NR_PROCESSO = @nr_processo

  -- Número da Fatura
  SELECT @nr_fatura = NR_FATURA
    FROM TPO_ITEM
   WHERE NR_PROCESSO  = @nr_pedido
         AND NR_ITEM = @nr_item_po

  SELECT @cd_moeda_mle = CD_MOEDA_MLE
    FROM TDECLARACAO_IMPORTACAO
   WHERE NR_PROCESSO = @nr_processo
  
  -- Sigla da Moeda
  SELECT @sigla = AP_MOEDA
    FROM TMOEDA_BROKER
   WHERE CD_MOEDA = @cd_moeda_mle

  -- Data NFServiço / No NFServico / Valor NFServico / Dt Vencto NFServico
  SELECT @dt_nota = DT_FATURA, @nr_nota = NR_NOTA_FATURA, @vl_nota = ISNULL( VL_LIQUIDACAO, 0 ),
         @dt_vencto_nota = DT_VENCTO_FATURA
  FROM   TS_FATURA
  WHERE  CD_UNID_NEG = SUBSTRING( @nr_processo, 1, 2 )
         AND CD_PRODUTO = SUBSTRING( @nr_processo, 3, 2 )
         AND NR_SOLICITACAO = ( SELECT TOP 1 NR_SOLIC_FAT
                                  FROM TFATURAMENTO_CC
                                 WHERE NR_PROCESSO = @nr_processo )  

  -- IRRF
  SET @vl_irrf = 0
  SELECT @vl_irrf = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_irrf

  -- SDA
  SET @vl_sda = 0
  SELECT @vl_sda = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_sda

  -- CPMF
  SET @vl_cpmf = 0
  SELECT @vl_cpmf = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_cpmf

  -- Despesas Financeira
  SET @vl_despf = 0
  SELECT @vl_despf = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = '230'

  -- Armazenagem
  SET @vl_arm = 0
  SELECT @vl_arm = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = '015'

  -- Frete Rodoviário
  SET @vl_frete_rd = 0
  SELECT @vl_frete_rd = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = '421'

  -- Marinha Mercante
  SET @vl_marinha = 0
  SELECT @vl_marinha = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO  = @nr_processo 
         AND  CD_ITEM = @cd_item_afrmm

  -- Multa
  SET @vl_multa = 0
  SELECT @vl_multa = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '074'

  -- Capatazia
  SET @vl_capat = 0
  SELECT @vl_capat = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND  CD_ITEM = '040'

  -- Tx Lib BL
  SET @vl_txlibbl = 0
  SELECT @vl_txlibbl = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND  CD_ITEM = '076'
  
  -- Tx Desconsolidação
  SET @vl_txdesc = 0
  SELECT @vl_txdesc = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '060'

  -- Serviço Aduaneiro ( Comissão )
  SET @vl_comissao = 0
  SELECT @vl_comissao = SUM( VL_ITEM )
    FROM TFATURAMENTO_CC 
   WHERE NR_PROCESSO = @nr_processo AND
         CD_ITEM IN ( SELECT CD_ITEM FROM TITEM WHERE CD_TIPO_ITEM = 'R' )

  -- DECEX (LI)
  SET @vl_decex = 0
  SELECT @vl_decex = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '115'

  -- Laudo Técnico
  SET @vl_laudo = 0
  SELECT @vl_laudo = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '148'

  -- Movto Zona Primária ( Movimentação )
  SET @vl_movtopri = 0
  SELECT @vl_movtopri = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '305'

  -- Caução Conteiner ( Depósito Conteiner )
  SET @vl_ccntr = 0
  SELECT @vl_ccntr = ISNULL( VL_ITEM, 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
    AND  CD_ITEM = '044'

  -- Taxa Siscomex
  SET @vl_txsisx = 0
  SELECT @vl_txsisx = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_siscomex

  -- THC ( TERMINAL )
  SET @vl_thc_terminal = 0
  SELECT @vl_thc_terminal = ISNULL( VL_ITEM, 0 )
    FROM TFATURAMENTO_CC
   WHERE NR_PROCESSO = @nr_processo
         AND CD_ITEM = '110'

  -- Tipo de Frete
  SELECT @tp_frete = SUBSTRING( DESCRICAO, 1, 1 )
  FROM   TTP_FRETE
  WHERE  CODIGO = @cd_frete

  -- Valor do Frete
  SET    @vl_frete = 0  
  IF @tp_frete = 'C'
  BEGIN
    SELECT @vl_frete   = ISNULL( VL_ITEM, 0 )
      FROM TFATURAMENTO_CC 
     WHERE NR_PROCESSO = @nr_processo
           AND CD_ITEM = @cd_item_frete
  END
  ELSE
  BEGIN
    SELECT @vl_frete = ( ISNULL( VL_TOTAL_FRETE_MN ,0 ) * @vl_peso ) 
      FROM TDECLARACAO_IMPORTACAO
     WHERE NR_PROCESSO = @nr_processo
  END

  -- Outras Despesa ( COFINS )
  SELECT @vl_outras_desp = ISNULL( SUM( VL_ITEM ), 0 )
  FROM   TFATURAMENTO_CC
  WHERE  NR_PROCESSO = @nr_processo 
         AND CD_ITEM = @cd_item_cofins

  --Nota Fiscal Entrada
  SELECT TOP 1 @nr_nota_entrada = ISNULL( NR_NOTA, '' )
    FROM TPROCESSO_NF
   WHERE NR_PROCESSO  = @nr_processo AND 
         IN_CANCELADO = '0'
 
  --Base de cálculo do PIS / COFINS
  
  --Valor do PIS
  SELECT @vl_pis = VL_PIS_ITEM
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo
  --SELECT * FROM TDETALHE_MERCADORIA WHERE VL_COFINS_ITEM <> '0'

  --Valor do COFINS
  SELECT @vl_cofins = VL_COFINS_ITEM
  FROM   TDETALHE_MERCADORIA
  WHERE  NR_PROCESSO = @nr_processo
  
  --Valor do PIS sobre armazenagem
  
  --Valor do COFINS sobre armazenagem


  INSERT TDDIMPORT_CUSTO
       ( NR_IDENTIFICADOR, NR_DI, NR_PEDIDO, TX_CAMBIO_REG_DI, NR_ITEM_PEDIDO,                             -- 1
  	 NR_FATURA, CD_PRODUTO, QTDE, VL_FOB_ITEM_MNEG,	RESERVA_1, VL_SEGURO,                              -- 2
	 VL_CPMF, RESERVA_2, RESERVA_3, RESERVA_4, VL_II, VL_IPI, VL_ICMS,                                 -- 3
	 VL_FRETE, RESERVA_5, VL_DESPESAS_FIN, RESERVA_6, RESERVA_7,                                       -- 4
  	 DT_FATURA, SL_MOEDA, DT_NF_SERVICO_DESP, NR_NF_SERVICO_DESP,                                      -- 5
  	 VL_NF_SERVICO_DESP, DT_VENCTO_NF_SERVICO_DESP, VL_IRRF_DESP,                                      -- 6
  	 RESERVA_8, RESERVA_9, NR_ADICAO_DI, RESERVA_10, REF_DESP, RESERVA_11,                             -- 7   
  	 VL_TX_SISCOMEX, VL_ARMAZENAGEM, VL_SDA, NR_NF_ENTRADA, RESERVA_12,                                -- 8
	 VL_MULTA, TP_FRETE, REF_EMB_DDIMPORT, VL_FRETE_ROD, VL_MARINHA,                                   -- 9
	 VL_CAPATAZIA, VL_REMOCAO_DAP, VL_TX_LIB_BL, VL_TX_DESC, VL_SERV_ADUAN,                            -- 10
	 VL_DECEX_LI, VL_FITP, VL_LAUDO_TECN, VL_MOV_PRI, VL_MOV_RETRO, VL_CAUCAO_CNTR,                    -- 11
	 VL_DESPESA_1, VL_DESPESA_2, VL_DESPESA_3, VL_OUTRAS_DESPESA, VL_TX_CAMBIO_FRETE_DI,               -- 12
	 VL_TX_CAMBIO_SEGURO_DI, VL_TX_CAMBIO_DOLAR_DI, DT_FECHAMENTO, NR_ITEM_EMBARQUE,                   -- 13
	 CD_DELIVERY_NOTE,  VL_BASE_CALCULO_PIS_COFINS, VL_PIS, VL_COFINS, VL_PIS_ARMAZENAGEM, VL_COFINS_ARMAZENAGEM ) -- 14
   SELECT @nr_identificador, NR_DECLARACAO_IMP, @nr_pedido, DI.TX_MLE, @nr_item_po,                                 -- 1
          @nr_fatura, @cd_mercadoria, @qtde, @vl_item, ( @vl_thc_terminal  * @vl_merc ), ( DI.VL_TOT_SEGURO_MNEG * @vl_merc ),                     -- 2 
          (@vl_cpmf * @vl_merc), 0, 0, 0, (ISNULL(DI.VL_TOTAL_II,0) * @vl_merc), (ISNULL(DI.VL_TOTAL_IPI,0) * @vl_merc), (ISNULL(DI.VL_TOT_ICMS,0) * @vl_merc),-- 3 
          @vl_frete, 0, ( @vl_despf * @vl_merc ), 0, 0,                         -- 4
          @dt_nota, @sigla, @dt_nota, @nr_nota,                                                                     -- 5 
          @vl_nota, @dt_vencto_nota, ( @vl_irrf * @vl_merc ),                                                       -- 6  
          '', '', @nr_adicao, '', SUBSTRING( P.NR_PROCESSO, 5, 10 ) , '',                                           -- 7
          ( @vl_txsisx * @vl_merc ), ( @vl_arm * @vl_merc ),( @vl_sda * @vl_merc ), @nr_nota_entrada, '',                         -- 8 
          ( @vl_multa * @vl_merc ), @tp_frete, @nr_pedido, ( @vl_frete_rd * @vl_merc ), ( @vl_marinha * @vl_merc ), -- 9
          (@vl_capat * @vl_merc), 0, (@vl_txlibbl * @vl_merc), (@vl_txdesc * @vl_merc), (@vl_comissao * @vl_merc),  -- 10
          (@vl_decex * @vl_merc), 0, (@vl_laudo * @vl_merc), (@vl_movtopri * @vl_merc), 0, (@vl_ccntr * @vl_merc),  -- 11  
          0, 0, 0, ( @vl_outras_desp * @vl_merc ), ISNULL( DI.TX_FRETE, 0 ),                                        -- 12
          ISNULL( DI.TX_SEGURO, 0 ), ISNULL( DI.TX_DOLAR, 0 ), NULL, SUBSTRING( @nr_item_po, 1, 4 ),                -- 13
          '', 0, isnull(@vl_pis,0), isnull(@vl_cofins,0), 0, 0                                                                                                         -- 14
    FROM  TPROCESSO P, TDECLARACAO_IMPORTACAO DI
    WHERE P.NR_PROCESSO     = DI.NR_PROCESSO 
          AND P.NR_PROCESSO = @nr_processo


    FETCH c_proc INTO @nr_processo, @nr_pedido, @nr_item_po, @moeda_neg, @cd_mercadoria,
                      @qtde, @nr_adicao, @cd_frete, @vl_item, @pl_merc

END
CLOSE c_proc
DEALLOCATE c_proc

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/



GO
