USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_di_renumera_itens_adicao]( @nr_processo char(18), @nr_adicao char(3) ) AS

DECLARE @i_adicao      int
DECLARE @i_item        int
DECLARE @s_adicao      char(3)
DECLARE @s_item        char(3)
DECLARE @nr_item       char(3)
DECLARE @s_adicao_old  char(3)
DECLARE @s_teste       char(3)
DECLARE c_itens CURSOR FOR 
   SELECT NR_ITEM 
   FROM   TDETALHE_MERCADORIA
   WHERE  ( NR_PROCESSO = @nr_processo ) AND 
          ( NR_ADICAO = @nr_adicao ) 
   ORDER BY NR_PROCESSO, NR_ADICAO, NR_ITEM

DECLARE c_adicao CURSOR FOR 
   SELECT NR_ADICAO
   FROM   TADICAO_DE_IMPORTACAO
   WHERE  ( NR_PROCESSO = @nr_processo ) 
   ORDER BY NR_PROCESSO, NR_ADICAO

SELECT @s_adicao = @nr_adicao
/* verifica se a adicao a ser numerada tem itens a serem renumerados */
IF ( SELECT COUNT(*) 
     FROM   TDETALHE_MERCADORIA 
     WHERE  ( NR_PROCESSO = @nr_processo ) AND 
            ( NR_ADICAO = @s_adicao ) ) > 0
BEGIN 
  /* inicializa o contador de itens para numerar a adicao atual */
  SELECT @i_item = 0
  OPEN c_itens 
  FETCH c_itens INTO @nr_item
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @i_item = @i_item + 1
    SELECT @s_item = CONVERT( char(3), @i_item )
    SELECT @s_item = RIGHT( ( '000' + RTRIM( @s_item ) ), 3 )

    UPDATE TDETALHE_MERCADORIA 
    SET    NR_ITEM = @s_item 
    WHERE  ( NR_PROCESSO = @nr_processo ) AND 
           ( NR_ADICAO = @s_adicao ) AND 
           ( NR_ITEM = @nr_item ) 

    UPDATE TDI_NVE 
    SET    NR_ITEM = @s_item 
    WHERE  ( NR_PROCESSO = @nr_processo ) AND 
           ( NR_ADICAO = @s_adicao ) AND 
           ( NR_ITEM = @nr_item ) 

    FETCH c_itens INTO @nr_item
  END

  UPDATE TADICAO_DE_IMPORTACAO 
  SET    QT_ITENS_ADICAO = @i_item
  WHERE  ( NR_PROCESSO = @nr_processo ) AND 
         ( NR_ADICAO = @s_adicao )
  CLOSE c_itens 
END
ELSE 
BEGIN
  /*  Para renumerar todas as adicoes chamar processo com adicao = '000'  */ 
  /*  Caso a adicao atual nao tenha itens o procedimento e apagar a adicao */
  DELETE FROM TADICAO_DE_IMPORTACAO  WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) 
  DELETE FROM TACRESCIMO_VALORACAO   WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) 
  DELETE FROM TATO_VINCULADO   	     WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao ) 
  DELETE FROM TDEDUCAO_VALORACAO     WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
  DELETE FROM TDESTAQUE_NCM          WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
  DELETE FROM TDOCUMENTO_VINCULADO   WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
  DELETE FROM TPAGAMENTO_PREVISTO    WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
  DELETE FROM TPAGAMENTO_VINCULADO   WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
  DELETE FROM TRIBUTO                WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
  DELETE FROM TVALORACAO_NCM         WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
  DELETE FROM TDI_NVE                WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @nr_adicao )
END

/* verifica se existem adicoes a serem renumeradas */
SELECT @i_adicao = 0
IF ( SELECT COUNT(*) 
     FROM   TADICAO_DE_IMPORTACAO 
     WHERE  ( NR_PROCESSO = @nr_processo ) ) > 0
BEGIN
  OPEN c_adicao
  FETCH NEXT FROM c_adicao INTO @s_adicao_old
  WHILE @@fetch_status <> -1
  BEGIN
    SELECT @i_adicao = @i_adicao + 1
    SELECT @s_adicao = CONVERT( char(3), @i_adicao )
    SELECT @s_adicao = RIGHT( ( '000' + RTRIM( @s_adicao ) ), 3 )
    UPDATE TDI_NVE               SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TDETALHE_MERCADORIA   SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TACRESCIMO_VALORACAO  SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TATO_VINCULADO        SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TDEDUCAO_VALORACAO    SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TDESTAQUE_NCM         SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TDOCUMENTO_VINCULADO  SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TPAGAMENTO_PREVISTO   SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TPAGAMENTO_VINCULADO  SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TRIBUTO               SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TVALORACAO_NCM        SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )
    UPDATE TADICAO_DE_IMPORTACAO SET NR_ADICAO = @s_adicao WHERE ( NR_PROCESSO = @nr_processo ) AND ( NR_ADICAO = @s_adicao_old )

    FETCH NEXT FROM c_adicao INTO @s_adicao_old
  END
  CLOSE c_adicao
  UPDATE TDECLARACAO_IMPORTACAO 
  SET    qt_adicoes = @i_adicao
  WHERE  ( NR_PROCESSO = @nr_processo )
END
ELSE
BEGIN
  UPDATE TDECLARACAO_IMPORTACAO 
  SET    qt_adicoes = 0 
  WHERE  ( NR_PROCESSO = @nr_processo )
END
DEALLOCATE c_itens 
DEALLOCATE c_adicao

RETURN '0'


GO
