USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_gera_solic_ch_liq    Script Date: 02/09/1999 08:59:01 AM ******/
/****** Object:  Stored Procedure dbo.sp_gera_solic_ch_liq    Script Date: 02/02/1999 6:04:06 PM ******/
CREATE PROCEDURE [sp_gera_solic_ch_liq] ( @dt_solic_ch char(10), @nr_solic_ch char(3), @cd_cliente char(5), 
                                        @cd_banco char(3), @dt_liquidacao datetime) AS
DECLARE @nr_lancamento  char(3)
DECLARE @nr_processo  char(18)
DECLARE @nr_liquidacao   char(3)
DECLARE @vl_liquidacao  float
DECLARE @tp_liquidacao  char(1)
DECLARE @cd_item_pagto_sd   char(3)
DECLARE @cd_item_receb_sd   char(3)
DECLARE @cd_item    char(3)
DECLARE @cd_fornecedor  char(5)
SELECT @cd_item_pagto_sd = CD_ITEM_PAGTO_SD,
       @cd_item_receb_sd = CD_ITEM_RECEB_SD
FROM   TPARAMETROS (TABLOCK HOLDLOCK)
IF @@rowcount > 0 and 
   @dt_solic_ch IS NOT null and 
   @nr_solic_ch IS NOT null
BEGIN
  SELECT @cd_fornecedor = CD_FAVORECIDO
  FROM   TSOLIC_CHEQUE (TABLOCK HOLDLOCK)
  WHERE  DT_SOLIC_CH = @dt_solic_ch AND
         NR_SOLIC_CH = @nr_solic_ch
  SELECT @nr_lancamento = MAX( NR_LANCAMENTO )
  FROM   TSOLIC_CHEQUE_ITENS (TABLOCK HOLDLOCK)
  WHERE  DT_SOLIC_CH = @dt_solic_ch AND
         NR_SOLIC_CH = @nr_solic_ch
  
  DECLARE c_liq CURSOR FOR
    SELECT L.NR_PROCESSO, L.NR_LIQUIDACAO, L.VL_LIQUIDACAO, L.TP_LIQUIDACAO
    FROM   TLIQUIDACAO L (TABLOCK HOLDLOCK),
           TPROCESSO P (TABLOCK HOLDLOCK)
    WHERE  L.NR_PROCESSO = P.NR_PROCESSO AND
           P.CD_CLIENTE = @cd_cliente AND
           L.IN_CANCELADO = '0' AND
    L.CD_FORMA_PAGTO = 'C' AND
    L.CD_BANCO = @cd_banco AND
           L.DT_SOLIC_CH IS NULL AND
           L.DT_LIQUIDACAO = @dt_liquidacao
  OPEN c_liq
  FETCH c_liq INTO @nr_processo, @nr_liquidacao, @vl_liquidacao, @tp_liquidacao
  WHILE @@fetch_status = 0
  BEGIN
    SELECT @nr_lancamento = RIGHT( '000' + CONVERT( varchar, ISNULL ( ( CONVERT( int, @nr_lancamento) + 1 ), 1 ) ), 3 )
    IF @tp_liquidacao = 'P' 
      SELECT @cd_item = @cd_item_pagto_sd
    ELSE 
      SELECT @cd_item = @cd_item_receb_sd
    INSERT TSOLIC_CHEQUE_ITENS 
    VALUES ( @dt_solic_ch, @nr_solic_ch, @nr_lancamento, @nr_processo, @cd_item,
             @vl_liquidacao, 0, 0, '0', null, @cd_cliente, '0', @cd_fornecedor, '0')
    UPDATE TLIQUIDACAO 
    SET    DT_SOLIC_CH     = @dt_solic_ch,
           NR_SOLIC_CH     = @nr_solic_ch,
           IN_TRANSFERIDO  = '1'
    WHERE  NR_PROCESSO     = @nr_processo AND
           NR_LIQUIDACAO   = @nr_liquidacao
    EXEC sp_proc_itens_solic_ch @dt_solic_ch, @nr_solic_ch, @nr_lancamento, '+'
    FETCH c_liq INTO @nr_processo, @nr_liquidacao, @vl_liquidacao, @tp_liquidacao
  END
  CLOSE c_liq
  DEALLOCATE c_liq
END
ELSE
BEGIN
  RETURN(2)
END




GO
