USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_deleta_chave    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_deleta_chave] (@nm_banco varchar(10), @nm_tabela varchar(30), @cd_chave varchar(120), @nm_chave varchar(120) ) AS
DECLARE @comando  varchar(255)
-- Carregando informa+oes sobre a tabela a ser alterada
IF ISNULL(@nm_chave, '') <> ''
BEGIN
  SELECT @comando = 'DELETE ' + @nm_tabela + ' WHERE ' + @nm_chave + ' = "' + @cd_chave + '"'
  EXEC (@comando)
END


GO
