USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_ATZ_DASHBOARDS] AS
BEGIN
    RETURN
    DELETE TATZ_DASHBOARD
    WHERE NR_PROCESSO IS NULL

    DECLARE @NR_PROCESSO CHAR(18)
    DECLARE @TB_PROCESSOS AS TABLE (
        NR_PROCESSO CHAR(18)
    )
    INSERT INTO @TB_PROCESSOS
    SELECT TOP 500 ISNULL(NR_PROCESSO, '')
    FROM TATZ_DASHBOARD
    ORDER BY DT_ENTRADA

    WHILE (SELECT COUNT(*) FROM @TB_PROCESSOS) > 0
    BEGIN
        SELECT TOP 1 @NR_PROCESSO = NR_PROCESSO
        FROM @TB_PROCESSOS

        EXEC SP_ATUALIZA_DASHBOARD @NR_PROCESSO

        DELETE @TB_PROCESSOS
        WHERE NR_PROCESSO = @NR_PROCESSO

        DELETE TATZ_DASHBOARD
        WHERE NR_PROCESSO = @NR_PROCESSO
    END
END

GO
