USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [sp_mercadoria]( @cd_importador CHAR(5), @cd_grupo CHAR(3), @nr_identificador INT OUTPUT ) AS

SELECT @nr_identificador = ( SELECT ISNULL( MAX( NR_IDENTIFICADOR ), 0 ) + 1 FROM TAUX_MERCADORIA )
SELECT @cd_grupo = ISNULL( @cd_grupo, '' )
SELECT @cd_importador = ISNULL( @cd_importador, '' )

INSERT INTO TAUX_MERCADORIA 
SELECT   @nr_identificador, M.CD_MERCADORIA, M.AP_MERCADORIA, E.NM_EMPRESA, G.NM_GRUPO, M.CD_PAIS_AQUISICAO, 
                 M.CD_PAIS_ORIGEM, M.CD_IMPORTADOR, M.CD_GRUPO, M.CD_NCM_SH, PA.DESCRICAO, PO.DESCRICAO
FROM TMERCADORIA M
LEFT JOIN TEMPRESA_NAC E ON ( M.CD_IMPORTADOR = E.CD_EMPRESA )
LEFT JOIN TGRUPO G ON ( M.CD_GRUPO = G.CD_GRUPO )
LEFT JOIN TPAIS PA ON ( M.CD_PAIS_AQUISICAO = PA.CODIGO )
LEFT JOIN TPAIS PO ON ( M.CD_PAIS_ORIGEM = PO.CODIGO )
WHERE (( M.CD_IMPORTADOR = @cd_importador ) OR ( @cd_importador = '' )) AND
              (( M.CD_GRUPO = @cd_grupo ) OR ( @cd_grupo = '' ))


GO
