USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/* Verifica a integridade dos nas tabelas de estagio de processo da internet com a base local */
CREATE PROCEDURE [sp_web_verifica_processo](@nrAnoProc int = 0) AS
/*
SET XACT_ABORT ON
BEGIN TRAN
DECLARE @nrAnoProc int
--*/
SET NOCOUNT ON
DECLARE @nrRowProc int

IF ISNULL(@nrAnoProc, 0) = 0 SET @nrAnoProc = YEAR(GETDATE())-2
SET @nrRowProc = 0

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT PR.NR_PROCESSO, 'TPROCESSO'
FROM TPROCESSO PR (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO (NOLOCK) WHERE NR_PROCESSO = PR.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_CARGA_SOLTA'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_CARGA_SOLTA P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_CARGA_SOLTA (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_CNTR'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_CNTR P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_CNTR (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_EMBALAGEM'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_EMBALAGEM P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_EMBALAGEM (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_LI'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_LI P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND ISNULL(P.IN_CANCELADO, '0') = '0'
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_LI (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_NF'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_NF P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND ISNULL(P.IN_CANCELADO, '0') = '0'
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_NF (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_RE'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_RE P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_RE (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_SDA'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_SDA P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_SDA (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT PR.NR_PROCESSO, 'TPROCESSO_EXP'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_EXP P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_EXP (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_EXP_ITEM'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_EXP_ITEM P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_EXP_ITEM (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_EXP_DDE_NF'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_EXP_DDE_NF P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_EXP_DDE_NF (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_EXP_DDE_RE'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_EXP_DDE_RE P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_EXP_DDE_RE (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_EXP_NF'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_EXP_NF P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_EXP_NF (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_EXP_RE'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_EXP_RE P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_EXP_RE (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPROCESSO_EXP_SAQUE'
FROM TPROCESSO PR (NOLOCK), TPROCESSO_EXP_SAQUE P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPROCESSO_EXP_SAQUE (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TADICAO_DE_IMPORTACAO'
FROM TPROCESSO PR (NOLOCK), TADICAO_DE_IMPORTACAO P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TADICAO_DE_IMPORTACAO (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TDECLARACAO_IMPORTACAO'
FROM TPROCESSO PR (NOLOCK), TDECLARACAO_IMPORTACAO P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TDECLARACAO_IMPORTACAO (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TDETALHE_MERCADORIA'
FROM TPROCESSO PR (NOLOCK), TDETALHE_MERCADORIA P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TDETALHE_MERCADORIA (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TDOCUMENTO_INSTRUCAO'
FROM TPROCESSO PR (NOLOCK), TDOCUMENTO_INSTRUCAO P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TDOCUMENTO_INSTRUCAO (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TFATURAMENTO_CC'
FROM TPROCESSO PR (NOLOCK), TFATURAMENTO_CC P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFATURAMENTO_CC (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TFATURAMENTO_CC_CLIENTE'
FROM TPROCESSO PR (NOLOCK), TFATURAMENTO_CC_CLIENTE P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFATURAMENTO_CC_CLIENTE (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TFAT_CALCULO_RATEIO_DESP'
FROM TPROCESSO PR (NOLOCK), TFAT_CALCULO_RATEIO_DESP P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TFAT_CALCULO_RATEIO_DESP (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TLICENCA_IMPORTACAO'
FROM TPROCESSO PR (NOLOCK), TLICENCA_IMPORTACAO P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = SUBSTRING(P.NR_PROCESSO, 1, 14)
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TLICENCA_IMPORTACAO (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TLICENCA_ITENS'
FROM TPROCESSO PR (NOLOCK), TLICENCA_ITENS P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = SUBSTRING(P.NR_PROCESSO, 1, 14)
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TLICENCA_ITENS (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TPAGAMENTO_TRIBUTOS'
FROM TPROCESSO PR (NOLOCK), TPAGAMENTO_TRIBUTOS P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TPAGAMENTO_TRIBUTOS (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TREF_CLIENTE'
FROM TPROCESSO PR (NOLOCK), TREF_CLIENTE P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TREF_CLIENTE (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT DISTINCT PR.NR_PROCESSO, 'TRIBUTO'
FROM TPROCESSO PR (NOLOCK), TRIBUTO P (NOLOCK)
WHERE YEAR(PR.DT_ABERTURA) > @nrAnoProc
  AND ISNULL(PR.IN_CANCELADO, '0') = '0'
  AND PR.NR_PROCESSO = P.NR_PROCESSO
  AND NOT EXISTS (SELECT * FROM MYINDAIA.DBO.TRIBUTO (NOLOCK) WHERE NR_PROCESSO = P.NR_PROCESSO)

--compacta os registros selecionados
SELECT DISTINCT NR_PROCESSO, NM_TABELA
INTO #TMP_PROCESSO
FROM TATZ_MYINDAIA_PROCESSO (NOLOCK)
WHERE SUBSTRING(NR_PROCESSO,5,2) NOT IN ('EW','FT','IF','IW','PO','TE','TS')

TRUNCATE TABLE TATZ_MYINDAIA_PROCESSO

INSERT INTO TATZ_MYINDAIA_PROCESSO (NR_PROCESSO, NM_TABELA)
SELECT NR_PROCESSO, NM_TABELA
FROM #TMP_PROCESSO
--numero de linhas recuperadas no cadastro
SET @nrRowProc = @nrRowProc + @@rowcount

DROP TABLE #TMP_PROCESSO

PRINT 'Registros encontrados: '+CAST(@nrRowProc as varchar)
RETURN(@nrRowProc)
SET NOCOUNT OFF
/*
ROLLBACK TRAN
SET XACT_ABORT OFF
--*/
GO
