USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_exclui_servico_evento    Script Date: 02/09/1999 08:57:47 AM ******/
CREATE PROCEDURE [sp_exclui_servico_evento] ( @cd_servico char(3), @cd_evento char(3), @in_consiste bit ) AS
DECLARE @nr_ordem int
IF @in_consiste = 1
BEGIN
  IF ( SELECT COUNT(*) 
       FROM   TSERVICO_EVENTO
       WHERE  CD_SERVICO = @cd_servico  AND
              ( CD_EV_BASICO = @cd_evento OR
                CD_EV_FUTURO = @cd_evento ) ) > 0
     RETURN (1)
END
SELECT @nr_ordem = nr_ordem
FROM   TSERVICO_EVENTO
WHERE  CD_SERVICO = @cd_servico AND
       CD_EVENTO  = @cd_evento
DELETE TSERVICO_EVENTO
WHERE  CD_SERVICO = @cd_servico AND
       CD_EVENTO  = @cd_evento
UPDATE TSERVICO_EVENTO
SET    NR_ORDEM   = NR_ORDEM - 1
WHERE  CD_SERVICO = @cd_servico AND
       NR_ORDEM > @nr_ordem
RETURN (0)


GO
