USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [sp_atz_liq_vl_acresc]( @cd_unid_neg char(2), @nr_processo char(18), @vl_desconto float, @tp_pagamento char(1), @cd_banco char(3) ) AS

/*
SET BEGIN TRAN
SET XACT_ABORT ON

DECLARE @nr_processo char(18)
DECLARE @vl_desconto float
DECLARE @cd_unid_neg char(2)
DECLARE @dt_movimento datetime


SELECT @nr_processo = '0101AE-0171-00'
SELECT @vl_desconto = 123.00
SELECT @cd_unid_neg = '01'
SELECT @dt_movimento = convert( datetime, '06/12/2001', 103 )
*/

DECLARE @nr_lancamento char(6)
DECLARE @nr_cgc_cpf char(14)
DECLARE @cd_favorecido char(5)
DECLARE @cd_ct_contabil char(10)
DECLARE @cd_acesso char(1)
DECLARE @cd_aux char(3)
DECLARE @tipo_contabil char(1)

SELECT @nr_cgc_cpf = CASE LTRIM(RTRIM( CGC_EMPRESA ))
		        WHEN '' THEN CPF_EMPRESA
		        ELSE CGC_EMPRESA 
                        END 
  FROM TEMPRESA_NAC A, TPROCESSO B 
  WHERE B.NR_PROCESSO = @nr_processo AND 
        B.CD_CLIENTE = A.CD_EMPRESA

SELECT @cd_favorecido = CD_FAVORECIDO
  FROM TFAVORECIDO 
  WHERE (CGC_EMPRESA = @nr_cgc_cpf) OR
        (CPF_EMPRESA = @nr_cgc_cpf)


SELECT @nr_lancamento = ISNULL(MAX(NR_LANCAMENTO),0)
  FROM TCAIXA
  WHERE CD_COLIGADA = '01' AND 
        DT_MOVIMENTO = getdate()

SELECT @nr_lancamento = RIGHT( '000000' + CONVERT( varchar, ( CONVERT( int, @nr_lancamento ) + 1 ) ), 6 )
SELECT @cd_ct_contabil = CD_CT_CONTABIL_JUROS, @tipo_contabil = CD_SISTEMA_CONTABIL
  FROM TPARAMETROS 

SELECT @cd_acesso = ''
SELECT @cd_aux = ''

IF @tipo_contabil <> '0' 
BEGIN
  SELECT @cd_acesso =  ISNULL(CD_ACESSO,''), @cd_aux = ISNULL(CD_AUX,'')
    FROM TCT_CONTABIL
    WHERE CD_CT_CONTABIL  = @cd_ct_contabil
END

INSERT INTO TCAIXA
  (CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_FAVORECIDO, CD_UNID_NEG, CD_CT_CONTABIL, CD_ACESSO, CD_AUX, TP_LANCAMENTO, TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_NATUREZA, TP_PAGAMENTO, CD_BANCO )
VALUES
  ('01', getdate(), @nr_lancamento, @cd_favorecido, @cd_unid_neg, @cd_ct_contabil, @cd_acesso, @cd_aux, 'C', '0', '0', '0', @vl_desconto, 'C', @tp_pagamento , @cd_banco )

/*
ROLLBACK TRAN
SET XACT_ABORT OFF
*/










GO
