USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_rel_fat_pago_cli] @cd_unid_neg char(2), @cd_produto char(2), @cd_grupo char(3), @cd_cliente char(5), 
		                     @dt_inicio datetime, @dt_fim datetime, @nr_identificador int OUTPUT AS 

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @cd_unid_neg char(2)
DECLARE @cd_produto char(2)
DECLARE @cd_grupo char(3)
DECLARE @cd_cliente char(5)
DECLARE @dt_inicio datetime
DECLARE @dt_fim datetime
DECLARE @nr_identificador int

SELECT @cd_unid_neg = '01'
SELECT @cd_produto = 'X'
SELECT @cd_grupo = 'X'
SELECT @cd_cliente = 'X'
SELECT @dt_inicio = CONVERT( datetime, '01/03/2001', 103 )
SELECT @dt_fim = CONVERT( datetime, '31/03/2001', 103 )

ROLLBACK TRAN
SET XACT_ABORT OFF
*/

SELECT @nr_identificador = MAX ( ISNULL( NR_IDENTIFICADOR, 0 ) ) + 1
FROM   TREL_FAT_PAGO_CLI
SELECT @nr_identificador = ISNULL( @nr_identificador, 1 )

INSERT TREL_FAT_PAGO_CLI ( NR_IDENTIFICADOR, CD_UNID_NEG, CD_PRODUTO, CD_CLIENTE, NR_PROCESSO, NR_NOTA_FATURA, VL_CLIENTE )
  SELECT @nr_identificador, P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, F.NR_PROCESSO, FAT.NR_NOTA_FATURA,
         SUM( 
           CASE F.IN_RESTITUI 
             WHEN '0' THEN ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 )
             ELSE ISNULL( VL_ITEM, 0 ) + ISNULL( VL_ASSIST, 0 ) - ISNULL( VL_IR, 0 ) * ( -1 )
           END ) AS VL_CLIENTE
  FROM   TFATURAMENTO_CC F (NOLOCK)
         INNER JOIN TS_FATURA FAT (NOLOCK) ON ( F.CD_UNID_NEG = FAT.CD_UNID_NEG AND F.CD_PRODUTO = FAT.CD_PRODUTO AND F.NR_SOLIC_FAT = FAT.NR_SOLICITACAO )
         INNER JOIN TPROCESSO P (NOLOCK) ON ( F.NR_PROCESSO = P.NR_PROCESSO )
         INNER JOIN TEMPRESA_NAC E (NOLOCK) ON ( P.CD_CLIENTE = E.CD_EMPRESA )
  WHERE  ISNULL( F.CD_ITEM_NAO_FAT, '' ) = '*' AND
         ISNULL( FAT.NR_NOTA_FATURA, '' ) <> '' AND
         F.IN_CANCELADO = '0' AND
         FAT.IN_CANCELADO = '0' AND
         @cd_unid_neg IN ( P.CD_UNID_NEG, 'X' ) AND
         @cd_produto IN ( P.CD_PRODUTO, 'X' ) AND
         @cd_cliente IN ( P.CD_CLIENTE, 'X' ) AND
         @cd_grupo IN ( E.CD_GRUPO, 'X' ) AND
         FAT.DT_FATURA BETWEEN @dt_inicio AND @dt_fim AND
         F.CD_ITEM NOT IN ( SELECT CD_ITEM_PAGO_CLI FROM TPARAMETROS (NOLOCK) )
  GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, P.CD_CLIENTE, F.NR_PROCESSO, FAT.NR_NOTA_FATURA
  ORDER BY FAT.NR_NOTA_FATURA




GO
