USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  Stored Procedure dbo.sp_reg_modif    Script Date: 02/09/1999 08:58:32 AM ******/
CREATE PROCEDURE [sp_reg_modif] (@cd_tabela char(3)) AS
DECLARE @nm_banco  varchar(10)
DECLARE @nm_tabela  varchar(30)
DECLARE @nm_chave  varchar(120)
DECLARE @comando varchar(200)
SELECT @nm_banco  = NM_BANCO,
       @nm_tabela = NM_TABELA,
       @nm_chave = NM_CHAVE
  FROM TTABELA (NOLOCK)
  WHERE CD_TABELA = @cd_tabela
SELECT @comando = 'SELECT * FROM ' + @nm_tabela +
                  ' (TABLOCK HOLDLOCK) WHERE (' + @nm_chave + ') IN ' + 
                  '(SELECT CD_CHAVE FROM VW_REG_MODIF WHERE CD_TABELA = "' + @cd_tabela + '")'
SELECT @COMANDO
EXEC (@comando)


GO
