USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sp_gerar_master](@cd_unid_neg char(2), @cd_produto char(2), 
                           @cd_via_transp char(2), @cd_transp char(4), @cd_agente char(4),  
                           @cd_origem char(4), @cd_destino char(4), @cd_moeda char(3), @nr_master char(20),   
                           @tp_master char(1), @cd_usuario char(4), @cd_master varchar(15) output)AS  

/*
declare @cd_unid_neg    char(2)
declare @cd_produto     char(2)
declare @cd_via_transp  char(2)
declare @cd_transp      char(4)
declare @cd_agente      char(4)
declare @cd_origem      char(4)
declare @cd_destino     char(4)
declare @cd_moeda       char(3)
declare @nr_master      char(20)
declare @tp_master      char(1)
declare @cd_usuario     char(4)
declare @cd_master varchar(15)

set @cd_unid_neg    = '01'
set @cd_produto     = '03'
set @cd_via_transp  = '01'
set @cd_transp      = '0054'
set @cd_agente      = '0232'
set @cd_origem      = '0005'
set @cd_destino     = '0001'
set @cd_moeda       = '978' 
set @nr_master      = '390/03/45/0050'
set @tp_master      = '1'
set @cd_usuario     = '0732'
*/

DECLARE @ult_cd_master char(20)  
DECLARE @dt_movimento varchar(10)  
DECLARE @fl_cd_master float  
DECLARE @cd_prefixo char(2)  
DECLARE @tp_frete char(1)  
DECLARE @TP_ESTUFAGEM CHAR(1)
DECLARE @cd_veiculo CHAR(4)
DECLARE @nr_voo CHAR(15)
DECLARE @DT_PREV_CHEGADA DATETIME
DECLARE @DT_CHEGADA DATETIME
DECLARE @DT_MASTER DATETIME

 SET @dt_movimento = SUBSTRING(CONVERT(CHAR(10), GETDATE(), 103),9,2)  
  
 SELECT @cd_prefixo =
          CASE
            WHEN ( TP_PRODUTO = '01' ) AND ( @cd_via_transp = '04' ) THEN 'IA'
            WHEN ( TP_PRODUTO = '01' ) AND ( @cd_via_transp = '01' ) THEN 'IM'
            WHEN ( TP_PRODUTO = '02' ) AND ( @cd_via_transp = '04' ) THEN 'EA'
            WHEN ( TP_PRODUTO = '02' ) AND ( @cd_via_transp = '01' ) THEN 'EM'
            ELSE 'DD' --DESCONHECIDO
          END
   FROM TPRODUTO
  WHERE CD_PRODUTO = @cd_produto
  
 SELECT @ult_cd_master = ISNULL(MAX(SUBSTRING(cd_master,8,4)), '0000' ) 
   FROM TMASTER   
  WHERE CD_UNID_NEG    = @cd_unid_neg  
    AND CD_PRODUTO     = @cd_produto  
    AND CD_VIA_TRANSP  = @cd_via_transp  
  
 SET @fl_cd_master  = @ult_cd_master + 1  
  
 SET @ult_cd_master = @cd_unid_neg + @cd_produto + @cd_prefixo + 'M' +   
                      RIGHT( '0000' + CONVERT( varchar, @fl_cd_master  ), 4 ) + '/' + @dt_movimento  
  
 SET @cd_master     = @ult_cd_master  
  
 SELECT @tp_frete = P.TP_FRETE, @tp_estufagem = P.TP_ESTUFAGEM, @cd_veiculo = CD_EMBARCACAO, @nr_voo = NR_VIAGEM
   FROM TPROCESSO P   
  WHERE P.NR_PROCESSO IN (SELECT H.NR_PROCESSO   
                            FROM TTEMP_HOUSE H   
                           WHERE H.CD_USUARIO = @cd_usuario)  


 SELECT @DT_PREV_CHEGADA = DT_ESPERADA, @DT_CHEGADA = DT_ENT, @DT_MASTER = DT_PREVISTA_ORIGEM_DESTINO
   FROM TVIAGEM 
  WHERE CD_EMBARCACAO = @cd_veiculo 
    AND NR_VIAGEM = @nr_voo
    AND CD_UNID_NEG = @cd_unid_neg
    AND CD_PRODUTO = '01'
  
INSERT INTO TMASTER_CARGA(CD_MASTER,CD_CARGA,QTDE,VL_COMPR,VL_LARG,VL_ALT,PESO_KG,CUBAGEM_VENDA,PESO_VOLUMETRICO,TP_ESTUFAGEM,TP_EMBALAGEM,TP_CNTR,PESO_TON,VL_COMPRA,VL_COMPRA_ARMADOR)
     SELECT @ult_cd_master, CD_CARGA, QTDE, VL_COMPR, VL_LARG, VL_ALT, PESO_KG, CUBAGEM_VENDA, PESO_VOLUMETRICO, TP_ESTUFAGEM, TP_EMBALAGEM, TP_CNTR, PESO_TON, VL_COMPRA, VL_COMPRA
       FROM TINSTRUCAO_CARGA
      WHERE NR_PROCESSO = (SELECT TOP 1 NR_PROCESSO 
			     FROM TTEMP_HOUSE)

DECLARE @TONELADA FLOAT
DECLARE @CUBAGEM  FLOAT
DECLARE @QTDE     FLOAT
DECLARE @CHARG_MASTER FLOAT

 SELECT @TONELADA = SUM(PESO_TON), @CUBAGEM = SUM(PESO_VOLUMETRICO), @QTDE = SUM(QTDE)
   FROM TMASTER_CARGA
  WHERE CD_MASTER = @ult_cd_master

 IF @CUBAGEM > ( @TONELADA / 1000 )
   SET @CHARG_MASTER = @CUBAGEM
 ELSE SET @CHARG_MASTER = ( @TONELADA / 1000 )

INSERT INTO TMASTER(CD_MASTER, CD_UNID_NEG, CD_PRODUTO, CD_VIA_TRANSP, NR_MASTER, IN_CALC_PROFIT, TP_FRETE_MASTER,  
                    TP_MASTER, CD_AGENTE, CD_CIA_TRANSP, CD_ARMADOR, CD_MOEDA, CD_ORIGEM, CD_DESTINO, TP_ESTUFAGEM,
		    VL_CUBAGEM, GROSS_MASTER, CHARG_MASTER, VOL_MASTER, CD_VEICULO, NR_VOO, DT_PREV_CHEGADA, DT_CHEGADA,
		    DT_MASTER, DT_EMBARQUE)  
     VALUES(@ult_cd_master, @cd_unid_neg, @cd_produto, @cd_via_transp, @nr_master, '0', @tp_frete, @tp_master,  
            @cd_agente, CASE @cd_via_transp WHEN '04' THEN @cd_transp ELSE NULL END,  
            CASE @cd_via_transp WHEN '01' THEN @cd_transp ELSE NULL END, @cd_moeda, @cd_origem, 
	    @cd_destino, @tp_estufagem, @CUBAGEM, @TONELADA, @CHARG_MASTER, @QTDE, @cd_veiculo, @nr_voo, @DT_PREV_CHEGADA, @DT_CHEGADA,
	    @DT_MASTER, @DT_MASTER)  

INSERT INTO THOUSE(CD_MASTER, NR_MASTER, CD_HOUSE, NR_PROCESSO, NR_HOUSE, IN_ESTORNO)  
     SELECT substring(@ult_cd_master,1,15), substring(@nr_master,1,14), substring((@ult_cd_master + '/'+ H.CODIGO ),1,20) CD_HOUSE,  
            substring(H.NR_PROCESSO,1,15), substring(H.NR_HOUSE,1,14), '0'  
       FROM TTEMP_HOUSE H 
      WHERE H.CD_USUARIO = @cd_usuario  


-- INSERINDO FRETE

INSERT INTO TPROCESSO_DESPESAS ( NR_PROCESSO, CD_ITEM, TP_BASE_CALCULO, CD_DESP, VL_VENDA, VL_BASE_AG, VL_BASE_CLI )   
     SELECT TOP 1 TH.NR_PROCESSO, '001', '3', '0', PR.VL_FRETE, PR.VL_FRETE, PR.VL_FRETE
       FROM TTEMP_HOUSE TH, TPROCESSO PR
      WHERE PR.NR_PROCESSO = TH.NR_PROCESSO

-- INSERINDO OUTRAS DESPESAS

INSERT INTO TPROCESSO_DESPESAS (NR_PROCESSO, CD_ITEM, TP_BASE_CALCULO, TP_ORIGEM_DESPESA, VL_BASE_DESPESA,   
                                VL_COMPRA_AG, VL_COMPRA_CIA, VL_VENDA, IN_DESPESA, IN_MENCIONADO, CD_TAB_REF, TP_FRETE,   
                                TP_ESTUFAGEM, CD_DESP, IN_REPASSA, VL_INTERVALO_INICIAL, VL_INTERVALO_FINAL, 
				VL_BASE_AG, VL_BASE_CLI,IN_PROFIT, CD_MOEDA_VENDA, CD_MOEDA)           
            SELECT P.NR_PROCESSO, F.CD_ITEM, F.TP_BASE_CALCULO, F.TP_ORIGEM_DESPESA, F.VL_BASE_DESPESA,  
	    CASE   
	      WHEN (F.TP_BASE_CALCULO = '3') THEN F.VL_BASE_AG  
	      WHEN (F.TP_BASE_CALCULO = '10') THEN F.VL_BASE_AG * (SELECT COUNT(ISNULL(TP.TP_CNTR,0))   
						                     FROM TPROCESSO_CNTR TP 
   								    WHERE TP.NR_PROCESSO = P.NR_PROCESSO )
	      WHEN (F.TP_BASE_CALCULO = '11') THEN F.VL_BASE_AG * (SELECT COUNT(ISNULL(TP.TP_CNTR,0))   
						                     FROM TPROCESSO_CNTR TP 
   								    WHERE TP.NR_PROCESSO = P.NR_PROCESSO 
						                      AND TP.TP_CNTR IN ( SELECT TC.TP_CNTR 
									    		    FROM TTP_CNTR TC 
										           WHERE TC.TP_PESO = '2') )  
	      WHEN (F.TP_BASE_CALCULO = '12') THEN F.VL_BASE_AG * (SELECT COUNT(ISNULL(TP.TP_CNTR,0))   
						                     FROM TPROCESSO_CNTR TP 
								    WHERE TP.NR_PROCESSO = P.NR_PROCESSO  
						                      AND TP.TP_CNTR IN ( SELECT TC.TP_CNTR 
											    FROM TTP_CNTR TC 
										           WHERE TC.TP_PESO = '4') )  
	      WHEN (F.TP_BASE_CALCULO = '14') AND ( (P.VL_PESO_BRUTO/1000) > P.CUBAGEM) THEN ((P.VL_PESO_BRUTO/1000) * F.VL_BASE_AG)
	      WHEN (F.TP_BASE_CALCULO = '14') AND ( (P.VL_PESO_BRUTO/1000) < P.CUBAGEM) THEN (P.CUBAGEM * F.VL_BASE_AG)  
	      ELSE 0  
	    END,   
	    F.VL_BASE_AG,   
	    CASE   
	      WHEN (F.TP_BASE_CALCULO = '3') THEN F.VL_VENDA  
	      WHEN (F.TP_BASE_CALCULO = '10') THEN F.VL_VENDA *  (SELECT COUNT(ISNULL(TP.TP_CNTR,0))   
						                    FROM TPROCESSO_CNTR TP 
   								   WHERE TP.NR_PROCESSO = P.NR_PROCESSO )
	      WHEN (F.TP_BASE_CALCULO = '11') THEN F.VL_VENDA *  (SELECT COUNT(ISNULL(TP.TP_CNTR,0))   
						                    FROM TPROCESSO_CNTR TP 
						  	           WHERE TP.NR_PROCESSO = P.NR_PROCESSO  
								     AND TP.TP_CNTR IN (SELECT TC.TP_CNTR 
							        			  FROM TTP_CNTR TC 
							 				 WHERE TC.TP_PESO = '2') )  
	      WHEN (F.TP_BASE_CALCULO = '12') THEN F.VL_VENDA *  (SELECT COUNT(ISNULL(TP.TP_CNTR,0))   
						                    FROM TPROCESSO_CNTR TP 
							           WHERE TP.NR_PROCESSO = P.NR_PROCESSO  
								     AND TP.TP_CNTR IN (SELECT TC.TP_CNTR 
											  FROM TTP_CNTR TC 
								  			 WHERE TC.TP_PESO = '4') )  
	      WHEN ( (F.TP_BASE_CALCULO = '14') AND ( (P.VL_PESO_BRUTO/1000) > P.CUBAGEM) ) THEN ((P.VL_PESO_BRUTO/1000) * F.VL_VENDA)
	      WHEN ( (F.TP_BASE_CALCULO = '14') AND ( (P.VL_PESO_BRUTO/1000) < P.CUBAGEM) ) THEN (P.CUBAGEM * F.VL_VENDA)  
	      ELSE 0  
	    END,  
	    F.IN_DESPESA, F.IN_MENCIONADO, F.CD_TAB_REF, F.TP_FRETE,   
	    F.TP_ESTUFAGEM, RIGHT( '0000' + CONVERT( varchar, F.CODIGO  ), 4 ),   
	    '6', F.VL_INTERVALO_INICIAL, F.VL_INTERVALO_FINAL, F.VL_BASE_AG, F.VL_VENDA, '0',  F.CD_MOEDA, F.CD_MOEDA    
      FROM TPROPOSTA_FRETE_DESPESA F, 
	   TPROCESSO P, 
	   TTEMP_HOUSE H   
     WHERE F.CD_TAB_FRETE = P.CD_TAB_FRETE_VENDA 
       AND F.NR_PROPOSTA = P.NR_PROPOSTA 
       AND F.CD_PRODUTO = P.CD_PRODUTO   
       AND P.NR_PROCESSO  = H.NR_PROCESSO   
  
UPDATE TPROCESSO   
   SET VL_OTHER_CHARGE = (SELECT SUM(D.VL_VENDA)
			    FROM TPROCESSO_DESPESAS D 
  			   WHERE D.NR_PROCESSO = P.NR_PROCESSO  
                             AND D.IN_MENCIONADO='1' AND IN_DESPESA = '4'),  
       VL_HOUSE        = VL_FRETE + (SELECT SUM(D.VL_VENDA)
				       FROM TPROCESSO_DESPESAS D 
				      WHERE D.NR_PROCESSO = P.NR_PROCESSO  
                                        AND D.IN_MENCIONADO='1' AND IN_DESPESA = '4')  
  FROM TPROCESSO P, TTEMP_HOUSE H  
 WHERE H.CD_USUARIO = @cd_usuario  
   AND H.NR_PROCESSO = P.NR_PROCESSO  
  
DELETE FROM TTEMP_HOUSE WHERE CD_USUARIO = @cd_usuario  




GO
