USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE    PROC [sp_canc_recebimento_vinculado](@dt_movimento datetime, @cd_unid_neg char(2), 
                                        @nr_recebimento char(6), @cd_cliente char(5), 
                                        @in_maior char(1)) AS

DECLARE @nr_ult_lanc        int
DECLARE @ult_lanc   	    char(3)
DECLARE @cd_item   	    char(3)
DECLARE @cd_item_receb_num  char(3)
DECLARE @cd_item_extor_num  char(3)
DECLARE @cd_item_devol_num  char(3)
DECLARE @nr_processo   	    char(18)
DECLARE @cd_banco           char(3)
DECLARE @nr_fp              char(10)
DECLARE @vl_recebimento     float
DECLARE @in_transferido     char(1)
DECLARE @in_cancelado       char(1)
DECLARE @nr_devolucao       char(3)
DECLARE @vl_devolucao       float
DECLARE @cd_coligada        char(2)
DECLARE @vl_caixa           float
DECLARE @vl_recebido        FLOAT
DECLARE @vl_adicional       FLOAT
DECLARE @cd_favorecido      char(5)
DECLARE @nr_solicitacao     char(3)
DECLARE @nr_processo_vinc   char(18)
DECLARE @nr_receb_processo  char(6)
DECLARE @nr_solic_processo  char(3)
DECLARE @nr_processo_ant    char(18)
SET  @cd_coligada = '01'


SELECT @cd_favorecido = CD_FAVORECIDO FROM TFAVORECIDO F, TUNID_NEG U
   WHERE (F.CGC_EMPRESA = U.CGC_UNID_NEG) 
      AND U.CD_UNID_NEG = @cd_unid_neg

SELECT @cd_item_receb_num = CD_ITEM_RECEB_NUM, 
       @cd_item_extor_num = CD_ITEM_EXTOR_NUM,
       @cd_item_devol_num = CD_ITEM_DEVOL_NUM
FROM   TPARAMETROS

SET @cd_item = @cd_item_extor_num

SELECT @nr_ult_lanc = CONVERT( int, ISNULL( MAX( NR_LANCAMENTO), '000'  ) ) + 1
 FROM   TCAIXA 
  WHERE  DT_MOVIMENTO = @dt_movimento 

SELECT P.NR_PROCESSO_VINC, RP.NR_RECEBIMENTO AS NR_RECEB_PROC, RP.NR_SOLICITACAO AS NR_SOLIC_PROCESSO
INTO #TM_PROCESSO_VINC
 FROM TRECEBIMENTO_PROCESSO R, TPROCESSO P, TRECEBIMENTO_PROCESSO RP
 WHERE R.NR_RECEBIMENTO   = @nr_recebimento 
         AND R.CD_UNID_NEG      = @cd_unid_neg 
         AND R.CD_CLIENTE       = @cd_cliente 
         AND R.NR_PROCESSO      = P.NR_PROCESSO
         AND P.NR_PROCESSO_VINC = RP.NR_PROCESSO
         AND ISNULL(P.NR_PROCESSO_VINC,'') <> '' 
         AND (R.NR_RECEBIMENTO + 1 ) =  RP.NR_RECEBIMENTO  

SET @nr_processo_ant = ''

WHILE (SELECT COUNT(*) FROM #TM_PROCESSO_VINC)> 0
 BEGIN
 SELECT TOP 1 @nr_processo_vinc = NR_PROCESSO_VINC, @nr_receb_processo = NR_RECEB_PROC,
              @nr_solic_processo = NR_SOLIC_PROCESSO
 FROM #TM_PROCESSO_VINC
 
--ATUALIZA O RECEBIMENTO DO PROCESSO DE AGENCIAMENTO
  UPDATE TRECEBIMENTO_AG 
    SET IN_ABERTO = 'C'
    WHERE NR_RECEBIMENTO = @nr_receb_processo 
      AND CD_UNID_NEG    = @cd_unid_neg 
      AND CD_CLIENTE     = @cd_cliente 

  UPDATE TRECEBIMENTO_PROCESSO 
     SET CD_STATUS = 'C'
   WHERE NR_RECEBIMENTO = @nr_receb_processo 
     AND CD_UNID_NEG    = @cd_unid_neg 
     AND CD_CLIENTE     = @cd_cliente 
--     AND NR_PROCESSO    = @nr_processo_vinc

--ATUALIZA A NOTIFICAO DO PROCESSO
  UPDATE TNUMERARIO_NOTIFICA 
     SET VL_RECEBIDO    = 0, 
         CD_STATUS      = 'A'
   WHERE NR_PROCESSO    = @nr_processo_vinc 
     AND NR_SOLICITACAO = @nr_solic_processo 

  UPDATE TNUMERARIO_NOTIFICA_ITEM 
     SET VL_RECEBIDO    = 0, 
         CD_STATUS      = 'A'
   WHERE NR_PROCESSO    = @nr_processo_vinc 
     AND NR_SOLICITACAO = @nr_solic_processo 

--FIM DA ATUALIZACAO DA NOTIFICACAO
 IF @nr_processo_ant <> @nr_processo_vinc
 BEGIN
  SELECT @vl_recebido = SUM(VL_RECEBIDO), @vl_adicional =  SUM (VL_ADICIONAL_ITEM) 
  FROM TRECEBIMENTO_PROCESSO_ITEM 
   WHERE NR_RECEBIMENTO = @nr_receb_processo 
    AND CD_UNID_NEG     = @cd_unid_neg 
    AND CD_CLIENTE      = @cd_cliente 
    AND NR_PROCESSO     = @nr_processo_vinc

  SET @vl_caixa = @vl_recebido + @vl_adicional

  IF @in_maior = '1' 
     SET @vl_caixa = @vl_recebido

  SELECT @ult_lanc = RIGHT( '000' + CONVERT( varchar, ISNULL ( @nr_ult_lanc, 1 ) ), 3 )
  
  INSERT TCAIXA ( CD_COLIGADA, DT_MOVIMENTO, NR_LANCAMENTO, CD_UNID_NEG, TP_LANCAMENTO, 
                  TP_PROCEDENCIA, IN_CANCELADO, IN_TRANSFERIDO, VL_LANCAMENTO, TP_PAGAMENTO,
                  CD_BANCO, NR_PROCESSO, CD_ITEM, VL_IR, VL_ASSIST, IN_RESTITUI, TP_NATUREZA, 
                  NR_FP, NR_CHEQUE, CD_FAVORECIDO )
        VALUES        ( @cd_coligada, @dt_movimento, @ult_lanc, @cd_unid_neg, 'F', 
                  '3', @in_cancelado, '0', @vl_caixa, 'D', 
                  @cd_banco, @nr_processo_vinc, @cd_item, 0, 0, '0',  
                CASE @cd_item 
                  WHEN @cd_item_receb_num THEN 'C'
                  WHEN @cd_item_extor_num THEN 'D'
                  ELSE 'C'
                END, @nr_fp, @nr_receb_processo, @cd_favorecido )   
  IF @cd_item = '993'
   BEGIN
   UPDATE TCAIXA 
   SET IN_CANCELADO = '1'
   WHERE CD_COLIGADA = @cd_coligada AND 
         NR_PROCESSO = @nr_processo AND
         CD_UNID_NEG = @cd_unid_neg AND 
         CD_ITEM     = '991' AND 
         CD_BANCO    = @cd_banco AND 
         NR_CHEQUE = @nr_recebimento       
   END 
  
  SELECT @nr_ult_lanc  = @nr_ult_lanc + 1
  SET @nr_processo_ant = @nr_processo_vinc
 END
  --atz solicitacao de pagto
  exec sp_atz_status_solic_pagto_ag @nr_processo_vinc

 DELETE FROM #TM_PROCESSO_VINC WHERE NR_PROCESSO_VINC  = @nr_processo_vinc 
                                 AND NR_SOLIC_PROCESSO = @nr_solic_processo 
 END

DROP TABLE #TM_PROCESSO_VINC






GO
