USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [sp_atz_avisos_web] AS                         

--SOLICITACOES USUÁRIOS INATIVOS
DECLARE @TB_SUPERIORES AS TABLE (CD_USUARIO CHAR(4)) 
DECLARE @TB_USUARIOS   AS TABLE (CODIGO CHAR(4), DESCRICAO VARCHAR(50), DATA VARCHAR(50))   
DECLARE @CODIGO        CHAR(4),    
        @DESCRICAO     VARCHAR(50), 
        @DATA          VARCHAR(50), 
        @CD_AVISO      INT,
        @TX_AVISO      VARCHAR(MAX),
        @TX_TITULO     VARCHAR(MAX),
        @TX_ANEXO      VARCHAR(200),
        @CD_USUARIO    CHAR(4),
        @TX_BTN_1      VARCHAR(200),
        @TX_ACAO_1     VARCHAR(MAX),
        @TX_BTN_2      VARCHAR(200),
        @TX_ACAO_2     VARCHAR(MAX),
        @TX_BTN_3      VARCHAR(200),
        @TX_ACAO_3     VARCHAR(MAX),
        @IN_BTN_FIXO   CHAR(1),
        @CD_OCORRENCIA CHAR(7)

INSERT INTO @TB_SUPERIORES
SELECT CD_USUARIO
  FROM TUSUARIO
  WHERE IN_MANAGER_SITE = '1'

WHILE (SELECT COUNT(*) FROM @TB_SUPERIORES) > 0		
BEGIN
  SELECT TOP 1 @CD_USUARIO = CD_USUARIO FROM @TB_SUPERIORES 
    
  INSERT INTO @TB_USUARIOS
  SELECT CD_USUARIO, NM_USUARIO, CONVERT(VARCHAR, DT_ULTIMA_ACAO, 103) 
  FROM TUSUARIO 
  WHERE CD_SUPERIOR_DIRETO = @CD_USUARIO
    AND IN_ATIVO = '1'
    AND DT_ULTIMA_ACAO < DATEADD(DAY, -15,GETDATE())

  SET @TX_ANEXO = NULL 
  SET @IN_BTN_FIXO = '1'
  SET @TX_BTN_2 = 'Mantê-lo Ativo'
  SET @TX_BTN_3 = NULL
  
  WHILE (SELECT COUNT(*) FROM @TB_USUARIOS) > 0		
  BEGIN
    SELECT TOP 1 @CODIGO = CODIGO, @DESCRICAO = DESCRICAO, @DATA = DATA FROM @TB_USUARIOS
	
    SELECT @CD_AVISO = ISNULL(MAX(CD_AVISO), 0) + 1 
      FROM MYINDAIA.DBO.TAVISOS_WEB 
      WHERE CD_USUARIO = @CD_USUARIO	
	
	SET @TX_TITULO = 'Usuário sem acesso recente!'
    SET @TX_AVISO  = '<b>' + @TX_TITULO + '</b><br> O último acesso do usuário <b>' + LTRIM(RTRIM(@DESCRICAO)) + '</b> ocorreu no dia <b>' + LTRIM(RTRIM(@DATA)) + '</b>.<br>Este usuário deve permanecer ativo em nosso sistema?'    
    SET @TX_ACAO_2 = 'UPDATE BROKER.DBO.TUSUARIO SET DT_ULTIMA_ACAO = GETDATE() WHERE CD_USUARIO = ''' + @CODIGO + ''' '
    SET @TX_ACAO_1 = @TX_ACAO_2 + ' INSERT INTO SUPORTE.DBO.TOCORRENCIA(CD_OCORRENCIA, CD_USUARIO, DT_ABERTURA, CD_CAMINHO_1, CD_CAMINHO_2, CD_CAMINHO_3, CD_CAMINHO_4, NM_MOTIVO, CD_STATUS, CD_DELEGADO) 
      SELECT RIGHT(''00000'' + ISNULL(CONVERT(VARCHAR, MAX(LEFT(CD_OCORRENCIA, 5)) +1), 1), 5) + RIGHT(CONVERT(VARCHAR, YEAR(GETDATE())), 2), 
      ''' + @CD_USUARIO + ''', GETDATE(), ''01'', ''001'', ''0002'', ''00205'', ''Desativar usuario ' + LTRIM(RTRIM(@DESCRICAO)) + ''', ''0013'', ''0013'' 
      FROM SUPORTE.DBO.TOCORRENCIA WHERE YEAR(DT_ABERTURA) = YEAR(GETDATE())'
    SET @TX_ACAO_3 = @TX_ACAO_2 + ' INSERT INTO SUPORTE.DBO.TOCORRENCIA(CD_OCORRENCIA, CD_USUARIO, DT_ABERTURA, CD_CAMINHO_1, CD_CAMINHO_2, CD_CAMINHO_3, CD_CAMINHO_4, NM_MOTIVO, CD_STATUS, CD_DELEGADO) 
      SELECT RIGHT(''00000'' + ISNULL(CONVERT(VARCHAR, MAX(LEFT(CD_OCORRENCIA, 5)) +1), 1), 5) + RIGHT(CONVERT(VARCHAR, YEAR(GETDATE())), 2), 
      ''' + @CD_USUARIO + ''', GETDATE(), ''01'', ''001'', ''0002'', ''00205'', ''Usuario desconhecido (' + LTRIM(RTRIM(@DESCRICAO)) + ')'', ''0013'', ''0013'' 
      FROM SUPORTE.DBO.TOCORRENCIA WHERE YEAR(DT_ABERTURA) = YEAR(GETDATE())' 
    SET @TX_BTN_1 = 'Desativar ' + SUBSTRING(@DESCRICAO, 1, CHARINDEX(' ', @DESCRICAO, 1))
    SET @TX_BTN_3 = 'Não conheço'
            
    IF LEN(@TX_BTN_1) > 25
      SET @TX_BTN_1 = LEFT(@TX_BTN_1, 25) + '...'    
	
	IF (SELECT COUNT(*) FROM MYINDAIA.DBO.TAVISOS_WEB 
	    WHERE CD_USUARIO = @CD_USUARIO
	      AND (TX_AVISO LIKE '%'+ @TX_TITULO +'%' AND TX_AVISO LIKE '%'+LTRIM(RTRIM(@DESCRICAO))+'%')) = 0 
	BEGIN      
      INSERT INTO MYINDAIA.DBO.TAVISOS_WEB (TX_AVISO, TX_ANEXO, IN_VISUALIZADO, CD_USUARIO,
                  TX_BTN_1, TX_ACAO_1, TX_BTN_2, TX_ACAO_2, TX_BTN_3, TX_ACAO_3, CD_AVISO, BTN_ESCOLHIDO, IN_BTN_FIXO)
        VALUES (@TX_AVISO, @TX_ANEXO, 0, @CD_USUARIO, @TX_BTN_1, @TX_ACAO_1, 
	            @TX_BTN_2, @TX_ACAO_2, @TX_BTN_3, @TX_ACAO_3, @CD_AVISO, NULL, @IN_BTN_FIXO)
	END            

    DELETE @TB_USUARIOS WHERE CODIGO = @CODIGO  
  END
  DELETE @TB_SUPERIORES WHERE CD_USUARIO = @CD_USUARIO 
END    

GO
