USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


--DROP PROCEDURE sp_rel_req_pagtos

CREATE PROCEDURE [sp_rel_req_pagtos] ( @cd_unid_neg CHAR(02), @cd_produto CHAR(02), @nr_docto CHAR(06), @dt_pagto DATETIME, 
                                     @nr_identificador INT output) AS

/*
SET XACT_ABORT ON
BEGIN TRAN

DECLARE @nr_identificador INT
DECLARE @cd_unid_neg      CHAR(02)
DECLARE @cd_produto       CHAR(02)
DECLARE @nr_docto         CHAR(06)
DECLARE @dt_pagto         VARCHAR(10)

SELECT @cd_unid_neg = '01'
SELECT @cd_produto  = '01'
SELECT @nr_docto    = '000016'
SELECT @dt_pagto    = '28/09/2001'
--*/

DECLARE @nr_cheque       CHAR(06)
DECLARE @nr_processo     CHAR(18)
DECLARE @cd_item         CHAR(03)
DECLARE @nr_conhecimento CHAR(18)
DECLARE @cd_referencia   CHAR(15)
DECLARE @cd_embarcacao   CHAR(04)
DECLARE @vl_item         FLOAT
DECLARE @cd_favorecido   CHAR(5)

SELECT @nr_identificador =  ( SELECT MAX( NR_IDENTIFICADOR ) FROM TREL_REQ_PAGTO )

IF ISNULL( @nr_identificador,0 ) = 0 
  SELECT @nr_identificador = 1
ELSE
  SELECT @nr_identificador = @nr_identificador + 1

DECLARE c_req_pagto CURSOR FOR
SELECT S.NR_DOCTO, S.CD_ITEM, S.NR_PROCESSO, P.NR_CONHECIMENTO, R.CD_REFERENCIA, P.CD_EMBARCACAO, S.VL_PAGTO, S.CD_FAVORECIDO
FROM   TSOLIC_PAGTO S, TPROCESSO P, TREF_CLIENTE R
WHERE  R.NR_SEQUENCIA = '001'         AND
       P.CD_UNID_NEG  = @cd_unid_neg  AND   
       ( ( P.CD_PRODUTO  = @cd_produto ) OR ( @cd_produto = 'X' ) ) AND
       ( ( S.NR_DOCTO    = @nr_docto )   OR ( @nr_docto   = 'X' ) ) AND
       S.DT_PAGTO     = @dt_pagto AND
       S.TP_DESTINO   = '2'       AND /* Comisária */
       S.CD_STATUS NOT IN ( '4','17' ) AND
       P.NR_PROCESSO  = S.NR_PROCESSO AND
       P.NR_PROCESSO *= R.NR_PROCESSO 

OPEN c_req_pagto
FETCH c_req_pagto INTO @nr_cheque, @cd_item, @nr_processo, @nr_conhecimento, @cd_referencia, 
                       @cd_embarcacao, @vl_item, @cd_favorecido 
WHILE @@fetch_status = 0
BEGIN

INSERT TREL_REQ_PAGTO VALUES( @nr_identificador, @nr_cheque, @cd_item, @nr_processo, @cd_referencia, @nr_conhecimento,
                              @cd_embarcacao, @vl_item, @cd_favorecido )

FETCH c_req_pagto INTO @nr_cheque, @cd_item, @nr_processo, @nr_conhecimento, @cd_referencia, 
                       @cd_embarcacao, @vl_item, @cd_favorecido 

END

CLOSE c_req_pagto
DEALLOCATE c_req_pagto


/*
SELECT * FROM TREL_REQ_PAGTO WHERE NR_IDENTIFICADOR = @nr_identificador

ROLLBACK TRAN
SET XACT_ABORT OFF
--*/




GO
