USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--begin tran  
  
CREATE   PROC [sp_pagto_faturamento](@nr_processo char(18)) AS  

DECLARE @nr_lanc_fat       int  
DECLARE @dt_movimento      datetime  
DECLARE @cd_usuario        char(4)  
DECLARE @cd_item_pagto_sd  char(3)  
--declare @nr_processo char(18)  
  
  
--select @nr_processo = '0101da-0078-04'  
  
SET @dt_movimento = CONVERT(DATETIME,CONVERT(VARCHAR(10), GETDATE(), 103) , 103)  
  
SELECT @cd_usuario FROM TUSUARIO WHERE AP_USUARIO = SUSER_SNAME()  
  
SELECT @cd_item_pagto_sd = CD_ITEM_PAGTO_SD   
FROM   TPARAMETROS  
  
SELECT @nr_lanc_fat =RIGHT( '000' + CONVERT( varchar, ISNULL (MAX(NR_LANCAMENTO)+ 1 , 1 ) ), 3 )   
 FROM TFATURAMENTO_CC   
    WHERE NR_PROCESSO = @nr_processo  
  
  
INSERT INTO TFATURAMENTO_CC    
    ( NR_PROCESSO, NR_LANCAMENTO, DT_LANCAMENTO, CD_USUARIO, CD_FAVORECIDO, CD_BANCO, CD_ITEM,   
      CD_FORMA_PAGTO, CD_ORIGEM_LANC, /*NR_DOCTO_FAV,*/ VL_ITEM,-- IN_FATURADO,   
      IN_CANCELADO, IN_RESTITUI, IN_CONTABIL, IN_DEMONSTRADO, CD_UNID_NEG, CD_PRODUTO,    
       NR_SOLIC_FAT,   
      IN_FILTRO, VL_TARIFA, CD_MOEDA, VL_MOEDA )  
  SELECT  @nr_processo, RIGHT( '000' + CONVERT( varchar(3),   
         (SELECT COUNT(*) FROM TSOLIC_PAGTO F2   
                          WHERE F2.NR_LANCAMENTO < S.NR_LANCAMENTO  
                            AND F2.NR_PROCESSO = S.NR_PROCESSO   
                            AND S.TP_DESTINO = '4'  
                            AND S.IN_SELECIONADO = '1'  
                            AND S.IN_SOLICITADO = '1'  
                            -- AND S.IN_FATURADO = '0'  
                           ) + @nr_lanc_fat ), 3 ) AS NR_LANC,  
           @dt_movimento, @cd_usuario, S.CD_FAVORECIDO, S.CD_BANCO, S.CD_ITEM,  
           'D', '1', /*SUBSTRING(S.NR_DOCTO_FAV,1,6), */ S.VL_PAGTO, /* '0',*/ '0', '0', '0',  '0',    
           CASE S.CD_ITEM WHEN @cd_item_pagto_sd THEN SUBSTRING( @nr_processo, 1, 2 ) ELSE NULL END,  
           CASE S.CD_ITEM WHEN @cd_item_pagto_sd THEN SUBSTRING( @nr_processo, 3, 2 ) ELSE NULL END,  
           NULL, '5', S.VL_PARIDADE, S.CD_MOEDA, S.VL_COMPRA  
   FROM TSOLIC_PAGTO S  
   WHERE S.NR_PROCESSO = @nr_processo  
     AND S.TP_DESTINO = '4'  
     AND S.IN_SELECIONADO = '1'  
     AND S.IN_SOLICITADO = '1'  
--     AND S.IN_FATURADO = '0'  
/*  
UPDATE TSOLIC_PAGTO SET IN_FATURADO = '1'  
   WHERE NR_PROCESSO = @nr_processo  
     AND TP_DESTINO = '4'  
     AND IN_SELECIONADO = '1'  
     AND IN_SOLICITADO = '1'  
     AND IN_FATURADO = '0'  
*/  
--rollback tran  
  

 
 


GO
