USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.sp_fat_extrato    Script Date: 29/01/1999 17:19:45 ******/
CREATE PROCEDURE [sp_fat_extrato] ( @cd_unid_neg char(2), @cd_cliente char(5), 
                                  @dt_inicio datetime, @dt_fim datetime, 
                                  @cd_usuario char(4) ) AS
/* VERIFICAR SE EXISTEM OCORRENCIAS DESTE USUARIO, SE EXISTIR RETORNAR*/
IF ( SELECT COUNT(*) 
     FROM TEXTRATO
     WHERE CD_USUARIO = @cd_usuario ) > 0 
BEGIN
  DELETE TEXTRATO
  WHERE  CD_USUARIO = @cd_usuario 
END

SELECT c.nr_processo, c.nr_lancamento, c.dt_lancamento,
       isnull(
       (SELECT sum(
               case 
                 when (t.tp_natureza = 'C') and 
                      (i.cd_tipo_item in ('+','-','B','C')) then convert(money,(a.vl_item))
                 when (t.tp_natureza = 'D') and
                      (i.cd_tipo_item in ('+','-','B','C')) then convert(money,((a.vl_item)*(-1)))
                 else convert(money,1)
               end )
          FROM TFATURAMENTO_CC A,
               TITEM I,
               TTIPO_ITEM T
          WHERE a.cd_item = i.cd_item and
                i.cd_tipo_item = t.cd_tipo_item and
                a.nr_processo = c.nr_processo and
                a.nr_lancamento <= c.nr_lancamento and
                a.in_cancelado = '0' and
                ((i.cd_tipo_item in ('+','-','B','C')) or 
                 ((t.in_faturar = '1') and
                  (a.in_faturado = '0')))),0) liquidado
INTO #TMP_LIQUIDADO
FROM TFATURAMENTO_CC C, 
     TPROCESSO P,
     TITEM I
WHERE (P.NR_PROCESSO = C.NR_PROCESSO) and
      ( (P.CD_UNID_NEG = @cd_unid_neg) OR ( @cd_unid_neg = '*') ) AND 
      ( (P.CD_CLIENTE = @cd_cliente) OR ( @cd_cliente = '*') ) AND 
      (c.cd_item = i.cd_item) and
      (((i.cd_tipo_item in ('-','+')) or
        (i.cd_tipo_item in ('B','C') and c.vl_item = 0))) and
      (c.dt_lancamento < @dt_inicio)
SELECT F.NR_PROCESSO, F.NR_LANCAMENTO, @cd_usuario CD_USUARIO,
  isnull (
  (SELECT MAX(L.NR_LANCAMENTO)
   FROM #TMP_LIQUIDADO L
   WHERE P.NR_PROCESSO = L.NR_PROCESSO AND
         L.LIQUIDADO = 0 AND
         L.DT_LANCAMENTO < @dt_inicio), '000') MAX_LANCAMENTO
INTO #TMP_EXTRATO
FROM TFATURAMENTO_CC F, 
     TPROCESSO P
WHERE F.NR_PROCESSO =  P.NR_PROCESSO AND
      ( (P.CD_UNID_NEG = @cd_unid_neg) OR ( @cd_unid_neg = '*') ) AND 
      ( (P.CD_CLIENTE = @cd_cliente) OR ( @cd_cliente = '*') ) AND 
      F.DT_LANCAMENTO <= @dt_fim 
INSERT INTO TEXTRATO
  SELECT NR_PROCESSO, NR_LANCAMENTO, null, null, @cd_usuario
  FROM #TMP_EXTRATO
  WHERE NR_LANCAMENTO > MAX_LANCAMENTO
DROP TABLE #TMP_LIQUIDADO
DROP TABLE #TMP_EXTRATO
RETURN(0)



GO
