USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_PEDIDO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PEDIDO] [char](30) NOT NULL,
	[NR_FATURA] [char](30) NULL,
	[TX_MARCACAO_VOLUME] [text] NULL,
	[TX_INF_EMBALAGEM] [text] NULL,
	[VL_DESCONTO] [float] NULL,
	[VL_FRETE] [float] NULL,
	[TX_MERCADORIA] [text] NULL,
	[VL_SEGURO] [float] NULL,
	[VL_ACRESCIMO] [float] NULL,
	[VL_PESO_LIQUIDO] [float] NULL,
	[VL_PESO_BRUTO] [float] NULL,
	[VL_CUBAGEM] [float] NULL,
	[IN_INTEGRADO] [char](1) NULL DEFAULT ('0'),
	[VL_INLAND_FREIGHT] [float] NULL DEFAULT ((0)),
 CONSTRAINT [PK_TPROCESSO_EXP_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
