USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_SISCOMEX](
	[NR_ADICAO] [int] NOT NULL,
	[TX_ADICAO] [float] NULL CONSTRAINT [DF_TTAXA_SISC_TX_ADICAO_1__11]  DEFAULT (0),
 CONSTRAINT [PK_TTAXA_SISCOMEX] PRIMARY KEY CLUSTERED 
(
	[NR_ADICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
