USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [VW_PAGAMENTOS_NESTLE] AS

SELECT NR_PROCESSO [Processo],
       PEDIDO [Pedido],
       EXPORTADOR [Exportador],
       PEDIDO_EASY [Easy],
       CONVERT(VARCHAR,NR_EMISSAO) +'/'+ CONVERT(VARCHAR,ANO_EMISSAO) [ORDEM],
       CD_ITEM [Código Item],
       NM_ITEM [Nome Item],
       SUM(VALOR) [Valor],
       DT_CAIXA [Data Pagamento],
       MONTH(DT_CAIXA) [Mês Pagamento],
       YEAR(DT_CAIXA) [Ano Pagamento] ,
       NM_FAVORECIDO [Favorecido],
       NM_TRANSP_ROD [Transportador],
       ARMAZEM [Armazem],
       LOCAL_DESEMBARQUE [Local Desembarque]
    FROM   
    (SELECT 2 AS ROTINA, C.NR_CAIXA, CONVERT(DATE, C.DT_CAIXA, 103) DT_CAIXA,EM.NR_EMISSAO,EM.ANO_EMISSAO,
        CASE ISNULL(EM.NR_DOCUMENTO,0) WHEN 0 THEN EM.NR_EMISSAO ELSE EM.NR_DOCUMENTO END NR_DOCUMENTO,    
        R.NM_ROTINA, F.NM_FAVORECIDO,
        L.NR_PROCESSO AS NR_PROCESSO, E.NM_CLIENTE, L.CD_ITEM, I.NM_ITEM, NM_AGENTE,   
        (CASE WHEN C.CD_MOVIMENTO = 0 THEN LC.VL_LANCTO_CAIXA ELSE LC.VL_LANCTO_CAIXA * -1 END) VALOR,     
        CASE WHEN ISNULL(EM.DT_CONCILIACAO, '') = '' THEN 'NÃO' ELSE 'SIM' END IN_CONCILIADO, B.NM_BANCO,
        (SELECT CONVERT(VARCHAR(2000), MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(RC.CD_REFERENCIA)+' '))FROM BROKER.DBO.TREF_CLIENTE RC                                                       
            WHERE RC.NR_PROCESSO = L.NR_PROCESSO AND RC.TP_REFERENCIA = '01') PEDIDO,
      (SELECT CONVERT(VARCHAR(2000), MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(RC.CD_REFERENCIA)+' '))FROM BROKER.DBO.TREF_CLIENTE RC                                                       
            WHERE RC.NR_PROCESSO = L.NR_PROCESSO AND RC.TP_REFERENCIA = '08') PEDIDO_EASY,
      NM_TRANSP_ROD,AR.NM_ARMAZEM   ARMAZEM,
        DESEMBARQUE.DESCRICAO LOCAL_DESEMBARQUE, E.NM_CLIENTE EXPORTADOR
      FROM MYMONEY.DBO.TB_CAIXA C (NOLOCK)     
      INNER JOIN MYMONEY.DBO.TB_LANCTO_CAIXA LC (NOLOCK) ON LC.NR_CAIXA = C.NR_CAIXA AND LC.ANO_CAIXA = C.ANO_CAIXA     
      INNER JOIN MYMONEY.DBO.TB_LANCTO L (NOLOCK) ON L.NR_LANCTO = LC.NR_LANCTO AND L.ANO_LANCTO = LC.ANO_LANCTO     
      INNER JOIN MYMONEY.DBO.VW_ITEM I ON I.CD_ITEM = L.CD_ITEM
      INNER JOIN MYMONEY.DBO.TB_LANCTO_FUP FUP (NOLOCK) ON FUP.NR_LANCTO = L.NR_LANCTO AND FUP.ANO_LANCTO = L.ANO_LANCTO AND FUP.NR_LANCTO_FUP = LC.NR_LANCTO_FUP     
      INNER JOIN MYMONEY.DBO.VW_BANCO B        ON B.CD_BANCO = C.CD_BANCO     
      INNER JOIN MYMONEY.DBO.TB_MOVIMENTO M (NOLOCK)    ON M.CD_MOVIMENTO = C.CD_MOVIMENTO     
      INNER JOIN MYMONEY.DBO.VW_ROTINA R                ON R.CD_ROTINA = FUP.CD_ROTINA     
      LEFT JOIN MYMONEY.DBO.TB_EMISSAO_DETALHE ED (NOLOCK) ON ED.NR_LANCTO = L.NR_LANCTO AND ED.ANO_LANCTO = L.ANO_LANCTO AND ED.NR_EMISSAO = FUP.NR_EMISSAO AND ED.ANO_EMISSAO = FUP.ANO_EMISSAO     
      LEFT JOIN MYMONEY.DBO.TB_EMISSAO EM (NOLOCK)     ON EM.NR_EMISSAO = ED.NR_EMISSAO AND EM.ANO_EMISSAO = ED.ANO_EMISSAO
      LEFT JOIN BROKER.DBO.TFAVORECIDO F (NOLOCK)   ON F.CD_FAVORECIDO = EM.CD_FAVORECIDO          
      INNER JOIN BROKER.DBO.TPROCESSO P ON P.NR_PROCESSO = L.NR_PROCESSO     
      INNER JOIN MYMONEY.DBO.VW_EMPRESA_NAC E ON E.CD_CLIENTE = P.CD_CLIENTE   
      LEFT JOIN BROKER.DBO.TAGENTE A ON A.CD_AGENTE = P.CD_AGENTE  
      LEFT JOIN BROKER.DBO.TTRANSP_ROD ROD (NOLOCK) ON ROD.CD_TRANSP_ROD=P.CD_TRANSP_NAC
      LEFT JOIN BROKER.DBO.TLOCAL_EMBARQUE LEFRONTEIRA ON LEFRONTEIRA.CODIGO = P.CD_FRONTEIRA
      LEFT JOIN BROKER.DBO.TLOCAL_EMBARQUE DESEMBARQUE (NOLOCK) ON  DESEMBARQUE.CODIGO=P.CD_LOCAL_DESEMBARQUE
      LEFT JOIN BROKER.DBO.TARMAZEM AR ON AR.CD_ARMAZEM=P.CD_ARMAZEM_DESCARGA      
      WHERE FUP.CD_ROTINA IN (402, 403, 404)   
            AND P.CD_GRUPO = '155' 
            AND P.CD_PRODUTO = '02'
            --AND YEAR(DT_CAIXA) = 2015
      GROUP BY NM_AGENTE,I.CD_ITEM,I.NM_ITEM,L.NR_PROCESSO, E.NM_CLIENTE, EM.NR_EMISSAO,EM.ANO_EMISSAO, C.NR_CAIXA, C.DT_CAIXA, EM.NR_DOCUMENTO, EM.DT_CONCILIACAO, 
      R.NM_ROTINA, F.NM_FAVORECIDO, C.CD_MOVIMENTO, C.VL_CAIXA, L.CD_ITEM, LC.VL_LANCTO_CAIXA, B.NM_BANCO,DESEMBARQUE.DESCRICAO,NM_TRANSP_ROD,AR.NM_ARMAZEM, E.NM_CLIENTE) AS TABELA  
    WHERE   VALOR <> 0  
            AND  NR_EMISSAO NOT IN (SELECT NR_EMISSAO FROM MYMONEY.DBO.TB_EMISSAO WHERE ANO_EMISSAO= TABELA.ANO_EMISSAO AND IN_CANCELADO=1)  
    GROUP BY NM_AGENTE,PEDIDO, PEDIDO_EASY, CD_ITEM,NM_ITEM,NR_EMISSAO,ANO_EMISSAO,ROTINA, NR_CAIXA, DT_CAIXA, NR_DOCUMENTO,  NM_ROTINA, NR_PROCESSO, 
    NM_CLIENTE, IN_CONCILIADO, NM_BANCO,NM_TRANSP_ROD,ARMAZEM,NM_FAVORECIDO,LOCAL_DESEMBARQUE, EXPORTADOR


GO
