USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABILIZA](
	[CD_CONTABILIZACAO] [char](2) NOT NULL,
	[CD_TIPO_ITEM] [char](12) NOT NULL,
	[CD_FORMA_PAGTO] [char](4) NOT NULL,
	[IN_FAVORECIDO] [char](1) NULL,
	[TP_CT_DEVEDORA] [char](1) NOT NULL,
	[CD_CT_DEVEDORA] [char](8) NULL,
	[TP_CT_CREDORA] [char](1) NOT NULL,
	[CD_CT_CREDORA] [char](8) NULL,
	[CD_NATUREZA] [char](1) NOT NULL,
	[TP_TOTALIZACAO] [char](1) NOT NULL,
	[TP_VALOR] [char](1) NOT NULL,
	[CD_FATOR] [char](1) NOT NULL,
	[NM_HISTORICO] [varchar](80) NOT NULL,
	[CD_CT_CUSTO] [char](3) NULL,
	[IN_CANCELADO] [char](1) NULL,
	[TP_CONTAB] [char](1) NULL
) ON [PRIMARY]

GO
