USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PREV_PO_NACION](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_REFERENCIA] [char](30) NULL,
	[NR_ITEM_CLIENTE] [char](4) NULL,
	[VL_MERC_DOLAR] [float] NULL,
	[VL_MERC_REAL] [float] NULL,
	[VL_ALIQ_II] [float] NULL,
	[VL_II] [float] NULL,
	[VL_ALIQ_IPI] [float] NULL,
	[VL_IPI] [float] NULL,
	[VL_ICMS] [float] NULL,
	[DT_PREV_NACION] [datetime] NULL,
	[DT_NACIONALIZACAO] [datetime] NULL,
	[IN_MOEDA_NEG] [char](1) NULL,
	[IN_PREV_STATUS] [char](1) NULL,
	[VL_PIS] [float] NULL,
	[VL_COFINS] [float] NULL,
	[VL_ALIQ_PIS] [float] NULL,
	[VL_ALIQ_COFINS] [float] NULL
) ON [PRIMARY]

GO
