USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TABELA_TESTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEXTO] [nchar](10) NULL,
	[DATA] [timestamp] NULL
) ON [PRIMARY]

GO
