USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TITEM_RECEITAS](
	[CD_ITEM_RECEITA] [char](3) NOT NULL,
 CONSTRAINT [PK_TITEM_RECEITAS] PRIMARY KEY CLUSTERED 
(
	[CD_ITEM_RECEITA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
