USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KEYTABLE](
	[imalock] [int] NULL,
	[nodeid] [int] IDENTITY(1,1) NOT NULL,
	[parentid] [int] NULL,
	[highhash] [int] NULL,
	[lowhash] [int] NULL,
	[uidhost] [int] NULL,
	[uidtype] [int] NULL,
	[uidid] [int] NULL,
	[contextid] [int] NULL,
	[rdn] [varbinary](255) NULL,
 CONSTRAINT [c1] PRIMARY KEY CLUSTERED 
(
	[nodeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY],
 CONSTRAINT [c2] UNIQUE NONCLUSTERED 
(
	[parentid] ASC,
	[rdn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [READBYCONTEXTID] ON [KEYTABLE]
(
	[contextid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [READBYNAME] ON [KEYTABLE]
(
	[parentid] ASC,
	[highhash] ASC,
	[lowhash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [READBYUID] ON [KEYTABLE]
(
	[uidhost] ASC,
	[uidtype] ASC,
	[uidid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
