USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TYES_NO](
	[CD_YESNO] [char](1) NOT NULL,
	[TX_YESNO] [char](3) NULL,
	[IN_YESNO] [bit] NOT NULL,
 CONSTRAINT [PK_TYES_NO] PRIMARY KEY CLUSTERED 
(
	[CD_YESNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
