USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FAT_PAGO_CLI](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_NOTA_FATURA] [char](6) NOT NULL,
	[VL_CLIENTE] [float] NOT NULL,
 CONSTRAINT [PK_TREL_FAT_PAGO_CLI] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_CLIENTE] ASC,
	[NR_PROCESSO] ASC,
	[NR_NOTA_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FAT_PAGO_CLI] ADD  CONSTRAINT [DF_TREL_FAT_PAGO_CLI_VL_CLIENTE]  DEFAULT (0) FOR [VL_CLIENTE]
GO
