USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_VENCTO_DDE](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NM_SERVICO] [varchar](50) NULL,
	[NR_DDE] [char](11) NULL,
	[DT_VENCTO_DDE] [datetime] NULL,
	[NR_DIAS_VENCTO_DDE] [int] NULL
) ON [PRIMARY]

GO
