USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [VW_PROC_SIT_FAT] AS
SELECT P.NR_PROCESSO, 
       SUM(CASE F.IN_FATURADO WHEN '0' THEN 1 ELSE 0 END) A_FATURAR,
       SUM(CASE F.IN_FATURADO WHEN '1' THEN 1 ELSE 0 END) FATURADO,
       ISNULL((SELECT SUM(FP.VL_FATURA + FP.VL_LIQUIDACAO)
                 FROM TS_FATURA_PROCESSO FP (NOLOCK),
                      TS_FATURA A (NOLOCK)
                 WHERE FP.CD_UNID_NEG    = A.CD_UNID_NEG    AND  
                       FP.CD_PRODUTO     = A.CD_PRODUTO     AND  
                       FP.NR_SOLICITACAO = A.NR_SOLICITACAO AND
                       A.IN_CANCELADO    = '0'              AND
                       FP.NR_PROCESSO    = P.NR_PROCESSO ),0) LIQUIDADO
FROM TPROCESSO P (NOLOCK),
     TFATURAMENTO_CC F (NOLOCK),
     TITEM I (NOLOCK),
     TTIPO_ITEM T (NOLOCK)
WHERE P.NR_PROCESSO = F.NR_PROCESSO AND
      F.CD_ITEM = I.CD_ITEM AND
      F.IN_CANCELADO = '0' AND
      I.CD_TIPO_ITEM = T.CD_TIPO_ITEM AND
      T.IN_FATURAR = '1' AND
      P.IN_PRODUCAO = '1' AND
      P.IN_CANCELADO = '0'
GROUP BY P.NR_PROCESSO




GO
