USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_SIT_ATO_CONC](
	[TP_SIT_ATO_CONC] [char](1) NOT NULL,
	[NM_TP_SIT_ATO_CONC] [varchar](20) NULL,
 CONSTRAINT [PK_TTP_SIT_ATO_CONC] PRIMARY KEY CLUSTERED 
(
	[TP_SIT_ATO_CONC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
