USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_FATURAMENTO_FAIXA_EXP](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[QTD_DE] [float] NOT NULL,
	[QTD_ATE] [float] NOT NULL,
	[VL_FAIXA] [float] NULL,
 CONSTRAINT [PK_TCLIENTE_FATURAMENTO_FAIXA_EXP] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC,
	[CD_ITEM] ASC,
	[QTD_DE] ASC,
	[QTD_ATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TCLIENTE_FATURAMENTO_FAIXA_EXP]  WITH CHECK ADD  CONSTRAINT [FK_TCLIENTE_FATURAMENTO_FAIXA_EXP_TRECEITAS_EXP] FOREIGN KEY([CD_CLIENTE], [CD_UNID_NEG], [CD_PRODUTO], [CD_SERVICO], [CD_ITEM])
REFERENCES [TRECEITAS_EXP] ([CD_CLIENTE], [CD_UNID_NEG], [CD_PRODUTO], [CD_SERVICO], [CD_ITEM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [TCLIENTE_FATURAMENTO_FAIXA_EXP] CHECK CONSTRAINT [FK_TCLIENTE_FATURAMENTO_FAIXA_EXP_TRECEITAS_EXP]
GO
