USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDDIMPORT](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PO] [char](18) NOT NULL,
	[TP_REGISTRO] [char](2) NULL,
	[DT_CHEGADA] [datetime] NULL,
	[DT_RECEB_DOC] [datetime] NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[CD_AGENTE] [char](4) NULL,
	[DT_PAG_IMP] [datetime] NULL,
	[NR_DI] [char](10) NULL,
	[TX_MLE] [float] NULL,
	[DT_DESEMB] [datetime] NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[VL_FRETE_MNEG] [float] NULL,
	[TX_FRETE] [float] NULL,
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[VL_SEGURO_MNEG] [float] NULL,
	[TX_SEGURO] [float] NULL,
	[TX_DOLAR] [float] NULL,
	[NR_CONHECIMENTO_MASTER] [char](30) NULL,
	[CD_TIPO_DECLARACAO] [char](2) NULL,
	[CD_URF_DESPACHO] [char](7) NULL,
	[CD_URF_ENTRADA] [char](7) NULL,
	[CD_RECINTO_ALFANDEGADO] [char](7) NULL,
	[CD_MODALIDADE_DESP] [char](1) NULL,
	[CD_TIPO_MANIFESTO] [char](1) NULL,
	[CD_TIPO_DCTO_CARGA] [char](2) NULL,
	[CD_UTIL_DCTO_CARGA] [char](1) NULL,
	[NR_MANIFESTO] [char](15) NULL,
	[VL_PESO_BRUTO] [float] NULL,
	[VL_MLE_MN] [float] NULL,
	[NR_NF] [char](6) NOT NULL,
	[NR_NF_ENT] [varchar](20) NULL,
	[DT_NF_ENTRADA] [datetime] NULL,
	[VL_NF_ENT] [float] NULL,
	[DT_ENTREGA_MERC] [datetime] NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[DT_REG_DI] [datetime] NULL,
	[DT_FATURA] [datetime] NULL,
	[VL_FATURA] [float] NULL,
	[DT_PAGTO_FATURA] [datetime] NULL,
	[QT_CNTR_20] [tinyint] NULL,
	[QT_CNTR_40] [tinyint] NULL,
	[QT_CNTR_TANK] [tinyint] NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_PREV_CHEGADA] [datetime] NULL,
	[DT_PREV_ENTREGA] [datetime] NULL,
	[CD_CANAL] [char](1) NULL,
	[VL_MLE_DOLAR] [float] NULL,
	[VL_FRETE_DOLAR] [float] NULL,
	[VL_SEGURO_DOLAR] [float] NULL,
	[VL_CIF_DOLAR] [float] NULL,
 CONSTRAINT [PK_TDDIMPORT] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[NR_PO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_TX_MLE]  DEFAULT (0) FOR [TX_MLE]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_VL_FRETE_MNEG]  DEFAULT (0) FOR [VL_FRETE_MNEG]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_TX_FRETE]  DEFAULT (0) FOR [TX_FRETE]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_VL_SEGURO_MNEG]  DEFAULT (0) FOR [VL_SEGURO_MNEG]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_TX_SEGURO]  DEFAULT (0) FOR [TX_SEGURO]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_TX_DOLAR]  DEFAULT (0) FOR [TX_DOLAR]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_VL_PESO_BRUTO]  DEFAULT (0) FOR [VL_PESO_BRUTO]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_VL_MLE_MN]  DEFAULT (0) FOR [VL_MLE_MN]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_VL_NF_ENT]  DEFAULT (0) FOR [VL_NF_ENT]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_QT_CNTR_20]  DEFAULT (0) FOR [QT_CNTR_20]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_QT_CNTR_40]  DEFAULT (0) FOR [QT_CNTR_40]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_QT_CNTR_TANK]  DEFAULT (0) FOR [QT_CNTR_TANK]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_VL_MLE_DOLAR]  DEFAULT (0) FOR [VL_MLE_DOLAR]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_VL_FRETE_DOLAR]  DEFAULT (0) FOR [VL_FRETE_DOLAR]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_VL_SEGURO_DOLAR]  DEFAULT (0) FOR [VL_SEGURO_DOLAR]
GO
ALTER TABLE [TDDIMPORT] ADD  CONSTRAINT [DF_TDDIMPORT_VL_CIF_DOLAR]  DEFAULT (0) FOR [VL_CIF_DOLAR]
GO
