USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CC_CLI](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[DT_LANCAMENTO] [datetime] NOT NULL,
	[NM_ITEM] [char](70) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_DOCTO] [char](8) NOT NULL,
	[VL_DEBITO] [float] NULL,
	[VL_CREDITO] [float] NULL,
	[VL_SALDO] [float] NULL,
	[CD_GRUPO] [char](3) NULL,
 CONSTRAINT [PK_TREL_CC_CLI] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[DT_LANCAMENTO] ASC,
	[NM_ITEM] ASC,
	[NR_PROCESSO] ASC,
	[NR_DOCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_CC_CLI] ADD  CONSTRAINT [DF_TREL_CC_CLI_VL_DEBITO]  DEFAULT (0) FOR [VL_DEBITO]
GO
ALTER TABLE [TREL_CC_CLI] ADD  CONSTRAINT [DF_TREL_CC_CLI_VL_CREDITO]  DEFAULT (0) FOR [VL_CREDITO]
GO
ALTER TABLE [TREL_CC_CLI] ADD  CONSTRAINT [DF_TREL_CC_CLI_VL_SALDO]  DEFAULT (0) FOR [VL_SALDO]
GO
