USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSALDO_DRAWBACK](
	[NR_ATO_DRAWBACK] [char](13) NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_ITEM] [char](3) NULL,
	[NR_LI] [char](10) NULL,
	[DT_TRANSM_LI] [datetime] NULL,
	[VENCTO_LI] [datetime] NULL,
	[STATUS_LI] [char](1) NULL,
	[SALDO_TRANSM_LI] [float] NULL,
	[DT_REGISTRO_LI] [datetime] NULL,
	[QTD_TRANSM_LI] [float] NULL,
	[CD_MERCADORIA] [varchar](30) NULL,
	[NR_DI] [char](10) NULL,
	[DT_TRANSM_DI] [datetime] NULL,
	[SALD0_TRANSM_DI] [float] NULL,
	[QTD_DI_TRANSM] [float] NULL,
	[STATUS_DI] [char](1) NULL,
	[SALDO_REALIZ_ATO] [float] NULL,
	[NR_ADICAO] [char](3) NULL,
	[CD_MAT_PRI] [char](15) NULL,
	[PL_MAT_PRI] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[NR_PEDIDO] [char](15) NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_REGISTRO_DI] [datetime] NULL,
	[VL_UNITARIO] [float] NULL,
	[VL_FRETE] [float] NULL,
	[VL_SEGURO] [float] NULL,
	[VL_CIF] [float] NULL,
	[VL_FOB] [float] NULL,
	[NR_NOTA_FISCAL] [char](10) NULL,
	[DT_NOTA_FISCAL] [datetime] NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[DI_INDAIA] [char](1) NULL,
	[VL_ALIQ_SEGURO] [float] NULL,
	[IN_COB_CAMBIAL] [char](1) NULL CONSTRAINT [DF_TSALDO_DRAWBACK_IN_COB_CAMBIAL]  DEFAULT ('S'),
	[TX_MLE] [float] NULL
) ON [PRIMARY]

GO
