USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFAVORECIDO](
	[CD_FAVORECIDO] [char](5) NOT NULL,
	[NM_FAVORECIDO] [varchar](50) NULL,
	[AP_FAVORECIDO] [varchar](10) NULL,
	[END_FAVORECIDO] [varchar](50) NULL,
	[END_NUMERO] [varchar](6) NULL,
	[END_CIDADE] [varchar](30) NULL,
	[END_BAIRRO] [varchar](30) NULL,
	[END_UF] [char](2) NULL,
	[END_CEP] [char](8) NULL,
	[NR_FONE] [varchar](15) NULL,
	[NR_FAX] [varchar](15) NULL,
	[NM_CONTATO] [varchar](50) NULL,
	[TX_CARGO] [varchar](25) NULL,
	[TX_DEPARTAMENTO] [varchar](50) NULL,
	[CD_TIPO_PESSOA] [char](1) NULL,
	[CGC_EMPRESA] [char](14) NULL,
	[CPF_EMPRESA] [char](11) NULL,
	[IE_EMPRESA] [varchar](20) NULL,
	[DT_INCLUSAO] [datetime] NULL,
	[IN_CONTROLA_IR] [bit] NOT NULL CONSTRAINT [DF_TFAVORECID_IN_CONTROLA2__16]  DEFAULT (0),
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TFAVORECID_IN_ATIVO_1__16]  DEFAULT ('1'),
	[CD_CT_CONTABIL] [char](12) NULL,
	[CD_RECOL] [char](4) NULL,
	[NR_INSS] [char](11) NULL,
	[IN_TRANSP] [char](1) NULL CONSTRAINT [DF_TFAVORECID_IN_TRANSP_1__149]  DEFAULT ('0'),
	[NR_BANCO] [char](3) NULL,
	[NR_AGENCIA] [char](5) NULL,
	[NR_CONTA] [char](12) NULL,
	[NR_DAC] [char](2) NULL,
	[END_COMPLEMENTO] [varchar](20) NULL,
	[CD_BANCO] [char](3) NULL,
	[CD_ACESSO] [char](1) NULL,
	[CD_AUX] [char](3) NULL,
	[ALIQ_IRFF] [float] NULL,
	[ALIQ_INSS] [float] NULL,
	[ALIQ_PISCOFINS] [float] NULL,
	[NR_CONTA_CONTABIL] [varchar](40) NULL,
	[TP_FAVORECIDO] [char](1) NULL,
	[ALIQ_ISS] [float] NULL,
	[IM_EMPRESA] [varchar](20) NULL,
	[CD_CT_CONTABIL_NOVO] [char](15) NULL,
	[CD_CT_CONTABIL_REDUZIDA_NOVO] [char](7) NULL,
 CONSTRAINT [PK_TFAVORECIDO] PRIMARY KEY CLUSTERED 
(
	[CD_FAVORECIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_AP_FAVORECIDO] ON [TFAVORECIDO]
(
	[AP_FAVORECIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
