USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TROBO_HISTORICO](
	[CD_ROBO] [int] NULL,
	[DT_REINICIO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL
) ON [PRIMARY]

GO
ALTER TABLE [TROBO_HISTORICO]  WITH CHECK ADD  CONSTRAINT [FK_TROBO_TROBO_HISTORICO] FOREIGN KEY([CD_ROBO])
REFERENCES [TROBO] ([CD_ROBO])
GO
ALTER TABLE [TROBO_HISTORICO] CHECK CONSTRAINT [FK_TROBO_TROBO_HISTORICO]
GO
