USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUNID_NEG_PRODUTO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TUNID_NEG__IN_ATIVO_1__25]  DEFAULT ('1'),
	[NR_ULT_FATURA] [numeric](6, 0) NULL CONSTRAINT [DF_TUNID_NEG__NR_ULT_FATU2__25]  DEFAULT (0),
	[NR_ULT_NOTA] [numeric](6, 0) NULL CONSTRAINT [DF_TUNID_NEG__NR_ULT_NOTA3__25]  DEFAULT (0),
	[NR_ULT_PROCESSO] [numeric](6, 0) NULL CONSTRAINT [DF_TUNID_NEG__NR_ULT_PROC4__25]  DEFAULT (0),
	[NR_ULT_PREVISAO] [char](6) NULL CONSTRAINT [DF_TUNID_NEG__NR_ULT_PREV1__77]  DEFAULT (0),
	[TX_NUMERARIO_OBS] [text] NULL,
	[TX_NUMERARIO_ASS] [text] NULL,
	[CD_CT_GERENCIAL] [char](4) NULL,
 CONSTRAINT [PK_TUNID_NEG_PRODUTO_2__10] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [ID_UN_PD] ON [TUNID_NEG_PRODUTO]
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
