USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFAMILIA_DOCS](
	[CD_FAMILIA_PROD] [char](8) NOT NULL,
	[CD_PAIS] [char](3) NULL,
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[TP_LOCAL] [char](1) NULL,
	[TX_INSTRUCAO] [text] NULL,
	[CD_USUARIO] [char](4) NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[NR_SEQUENCIAL] [int] NOT NULL,
	[CD_IMPORTADOR] [char](5) NULL,
 CONSTRAINT [PK_TFAMILIA_DOCS] PRIMARY KEY CLUSTERED 
(
	[CD_FAMILIA_PROD] ASC,
	[NR_SEQUENCIAL] ASC,
	[CD_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
