USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TETAPA_PRODUTO](
	[CD_ETAPA] [int] IDENTITY(1,1) NOT NULL,
	[NM_ETAPA] [varchar](255) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[IN_ATIVO] [char](1) NULL,
 CONSTRAINT [PK_TETAPA_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[CD_ETAPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TETAPA_PRODUTO] ADD  DEFAULT ('1') FOR [IN_ATIVO]
GO
ALTER TABLE [TETAPA_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_TETAPA_PRODUTO_TPRODUTO] FOREIGN KEY([CD_PRODUTO])
REFERENCES [TPRODUTO] ([CD_PRODUTO])
GO
ALTER TABLE [TETAPA_PRODUTO] CHECK CONSTRAINT [FK_TETAPA_PRODUTO_TPRODUTO]
GO
