USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAJUSTE_IMPRESSAO_NF_SERV_INDAIA](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[L_EMISSAO] [char](3) NULL,
	[C_EMISSAO] [char](3) NULL,
	[C_VENCIMENTO] [char](3) NULL,
	[L_N_REFERENCIA] [char](3) NULL,
	[C_N_REFERENCIA] [char](3) NULL,
	[L_RAZAO_SOCIAL] [char](3) NULL,
	[C_RAZAO_SOCIAL] [char](3) NULL,
	[C_CODIGO] [char](3) NULL,
	[L_ENDERECO] [char](3) NULL,
	[C_ENDERECO] [char](3) NULL,
	[L_MUNICIPIO] [char](3) NULL,
	[C_MUNICIPIO] [char](3) NULL,
	[C_BAIRRO] [char](3) NULL,
	[C_UF] [char](3) NULL,
	[C_CEP] [char](3) NULL,
	[L_CNPJ] [char](3) NULL,
	[C_CNPJ] [char](3) NULL,
	[C_IE] [char](3) NULL,
	[L_AREA] [char](3) NULL,
	[C_AREA] [char](3) NULL,
	[C_ANALISTA] [char](3) NULL,
	[L_S_REFERENCIA] [char](3) NULL,
	[C_S_REFERENCIA] [char](3) NULL,
	[L_NAT_DESPACHO] [char](3) NULL,
	[C_NAT_DESPACHO] [char](3) NULL,
	[C_MODAL] [char](3) NULL,
	[L_VEICULO] [char](3) NULL,
	[C_VEICULO] [char](3) NULL,
	[C_ORIGEM] [char](3) NULL,
	[C_DESTINO] [char](3) NULL,
	[L_VOLUMES] [char](3) NULL,
	[C_VOLUMES] [char](3) NULL,
	[C_PESO_BRUTO] [char](3) NULL,
	[C_PESO_LIQUIDO] [char](3) NULL,
	[L_VALOR_FOB] [char](3) NULL,
	[C_VALOR_FOB] [char](3) NULL,
	[C_VALOR_CIF] [char](3) NULL,
	[L_DI] [char](3) NULL,
	[C_DI] [char](3) NULL,
	[NR_LINHAS] [int] NULL,
	[L_DESCRICAO] [char](3) NULL,
	[C_DESCRICAO] [char](3) NULL,
	[C_CLIENTE] [char](3) NULL,
	[C_INDAIA] [char](3) NULL,
	[C_SERVICOS] [char](3) NULL,
	[L_OBS] [char](3) NULL,
	[C_OBS] [char](3) NULL,
	[L_NAO_TRIBUTAVEL] [char](3) NULL,
	[C_NAO_TRIBUTAVEL] [char](3) NULL,
	[C_SUB_TOTAL_TRIBUTAVEL] [char](3) NULL,
	[L_COMISSAO] [char](3) NULL,
	[C_COMISSAO] [char](3) NULL,
	[L_TOTAL_GERAL] [char](3) NULL,
	[C_TOTAL_GERAL] [char](3) NULL,
	[L_TOTAL_TRIBUTAVEL] [char](3) NULL,
	[C_TOTAL_TRIBUTAVEL] [char](3) NULL,
	[L_ISS] [char](3) NULL,
	[C_ISS] [char](3) NULL,
	[L_IRRF] [char](3) NULL,
	[C_IRRF] [char](3) NULL,
	[L_DESTAQUE] [char](3) NULL,
	[C_DESTAQUE] [char](3) NULL,
	[L_RETENCAO] [char](3) NULL,
	[C_RETENCAO] [char](3) NULL,
	[C_COFINS] [char](3) NULL,
	[L_COFINS] [char](3) NULL,
	[CGC_UNID_NEG] [char](14) NULL,
	[NR_ULT_NF_SERV] [char](6) NULL,
	[NR_ULT_NOTA_DEB] [char](6) NULL,
	[NR_ULT_NF_FATURA] [char](6) NULL,
 CONSTRAINT [PK_TAJUSTE_IMPRESSAO_NF_SERV_INDAIA] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
