USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGESTAO_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_LOCAL_DESEMBARQUE] [char](4) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[NR_VIAGEM] [char](15) NULL,
	[NR_VOO] [char](18) NULL,
	[IN_CONSOLIDADO] [char](1) NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[IN_URGENTE] [char](1) NULL,
	[IN_SEGURO] [char](1) NULL,
 CONSTRAINT [PK_TGESTAO_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
