USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCOMPARADORES_FATOR](
	[CD_COMPARADOR] [char](2) NOT NULL,
	[NM_COMPARADOR] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TCOMPARADORES_FATOR] PRIMARY KEY NONCLUSTERED 
(
	[CD_COMPARADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
