USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPAGAMENTO_VINCULADO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[CD_FORMA_PAGAMENTO] [char](1) NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[IN_PAGAMENTO_MN] [char](1) NOT NULL CONSTRAINT [DF_TPAGAMENTO_IN_PAGAMENT2__35]  DEFAULT ('0'),
	[CD_BANCO_PAGAMENTO] [char](5) NULL,
	[CD_PRACA_PAGAMENTO] [char](4) NULL,
	[NR_OP_CAMBIO] [char](8) NULL,
	[VL_VINC_MD_CAMBIO] [float] NOT NULL CONSTRAINT [DF_TPAGAMENTO_VL_VINC_MD_1__35]  DEFAULT (0),
	[NR_COMPR_CAMBIO] [char](14) NULL,
	[CD_TP_COMPR_CAMBIO] [char](1) NULL,
 CONSTRAINT [PK_TPAGAMENTO_VINCULADO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[CD_FORMA_PAGAMENTO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
