USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TS_FATURA_PROCESSO_ITEM](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_CALCULADO] [float] NULL CONSTRAINT [DF_TS_FATURA__VL_CALCULAD2__20]  DEFAULT (0),
	[VL_INFORMADO] [float] NULL CONSTRAINT [DF_TS_FATURA__VL_INFORMAD3__20]  DEFAULT (0),
	[IN_RESTITUI] [char](1) NULL CONSTRAINT [DF_TS_FATURA__IN_RESTITUI1__20]  DEFAULT ('0'),
	[CD_FAVORECIDO] [char](5) NULL,
	[IN_NAO_FAT] [char](1) NULL CONSTRAINT [DF_TS_FATURA__IN_NAO_FAT_1__13]  DEFAULT ('0'),
	[INDICE] [char](1) NULL CONSTRAINT [DF__TS_FATURA__INDIC__006D4D87]  DEFAULT ('1'),
	[IN_MANUAL] [char](1) NULL CONSTRAINT [DF__TS_FATURA__IN_MA__32057472]  DEFAULT ('0'),
	[CD_CT_CUSTO] [char](25) NULL,
 CONSTRAINT [PK_TS_FATURA_PROCESSO_ITEM] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC,
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_PADRAO] ON [TS_FATURA_PROCESSO_ITEM]
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
