USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOG_FLAG](
	[DATA] [datetime] NULL,
	[TABELA] [char](30) NULL,
	[PROCESSO] [char](18) NULL,
	[USUARIO] [char](40) NULL,
	[FLAG] [char](20) NULL,
	[ROTINA] [char](30) NULL,
	[ACAO] [char](30) NULL
) ON [PRIMARY]

GO
