USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCAIXA_SALDOS](
	[CD_COLIGADA] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[CD_CT_CAIXA] [char](3) NOT NULL,
	[VL_SALDO_ANT] [float] NULL,
	[VL_TOT_CRE] [float] NULL,
	[VL_TOT_DEB] [float] NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
 CONSTRAINT [PK_TCAIXA_SALDOS] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_UNID_NEG] ASC,
	[DT_MOVIMENTO] ASC,
	[CD_CT_CAIXA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
