USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTROLE_ACESSO](
	[CD_CARGO] [char](3) NOT NULL,
	[CD_MODULO] [char](2) NOT NULL,
	[CD_ROTINA] [char](4) NOT NULL,
	[IN_ACESSO] [bit] NOT NULL,
	[IN_INCLUIR] [bit] NOT NULL,
	[IN_MODIFICAR] [bit] NOT NULL,
	[IN_EXCLUIR] [bit] NOT NULL,
 CONSTRAINT [PK_TCONTROLE_ACESSO] PRIMARY KEY CLUSTERED 
(
	[CD_CARGO] ASC,
	[CD_MODULO] ASC,
	[CD_ROTINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
