USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREPARA_PE_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[NR_PROC_OLD] [char](18) NULL,
	[NR_ITEM_OLD] [char](3) NULL,
	[CD_MERCADORIA] [char](20) NULL,
	[DT_BAIXA] [datetime] NULL,
	[IN_PREPARACAO] [char](1) NULL CONSTRAINT [DF_TPREPARA_PE_ITEM_IN_PREPARACAO]  DEFAULT ('0'),
	[QT_BAIXADA] [float] NULL CONSTRAINT [DF_TPREPARA_PE_ITEM_QT_BAIXADA]  DEFAULT (0),
	[VL_BAIXADO] [float] NULL,
	[IN_MONTADO] [char](1) NULL CONSTRAINT [DF_TPREPARA_PE_ITEM_IN_MONTADO]  DEFAULT ('0'),
 CONSTRAINT [PK_TPREPARA_PE_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
