USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_LEAD_TIME_PO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_MERCADORIA] [varchar](30) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[DT_REC_PO] [datetime] NULL,
	[DT_EMB] [datetime] NULL,
	[DT_DOCTOS_ORIG] [datetime] NULL,
	[DT_CHEGADA] [datetime] NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_ENTR_MERC] [datetime] NULL,
	[DT_REC_PO_DT_EMB] [int] NULL,
	[DT_EMB_DT_DOCTOS_ORIG] [int] NULL,
	[DT_DOCTOS_ORIG_DT_CHEG] [int] NULL,
	[DT_CHEG_DT_DESEMB] [int] NULL,
	[DT_REC_PO_DT_ENTR_MERC] [int] NULL,
	[DT_EMB_DT_ENTR_MERC] [int] NULL,
	[DT_CHEG_DT_ENTR_MERC] [int] NULL,
 CONSTRAINT [PK_TREL_LEAD_TIME_PO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
