USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_GROUP_SERVICES](
	[CD_GROUP_SERVICES] [char](4) NOT NULL,
	[NM_GROUP_SERVICES] [char](20) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_UNID_NEG] [char](2) NULL,
 CONSTRAINT [PK_TTP_GROUP_SERVICES] PRIMARY KEY CLUSTERED 
(
	[CD_GROUP_SERVICES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
