USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TETAPA_PRODUTO_EVENTO](
	[CD_ETAPA] [int] NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
 CONSTRAINT [PK_TETAPA_PRODUTO_EVENTO] PRIMARY KEY CLUSTERED 
(
	[CD_ETAPA] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TETAPA_PRODUTO_EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_TETAPA_PRODUTO_EVENTO_TETAPA_PRODUTO] FOREIGN KEY([CD_ETAPA])
REFERENCES [TETAPA_PRODUTO] ([CD_ETAPA])
GO
ALTER TABLE [TETAPA_PRODUTO_EVENTO] CHECK CONSTRAINT [FK_TETAPA_PRODUTO_EVENTO_TETAPA_PRODUTO]
GO
