USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFATORES_EVENTO](
	[CD_FATOR] [int] NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[CD_EVENTO_ANTERIOR] [char](3) NULL,
	[CD_EVENTO_BASE] [char](3) NULL,
	[PZ_EVENTO_BASE] [int] NULL,
	[NR_PRIORIDADE] [int] NULL,
	[IN_ALTERAR] [char](1) NULL DEFAULT ('0'),
	[IN_EXCLUIR] [char](1) NULL DEFAULT ('0'),
	[CD_SERVICO] [int] NOT NULL DEFAULT ((0)),
	[IN_PRAZO_UTIL] [char](1) NULL DEFAULT ('0'),
	[IN_PRAZO_FERIADO] [char](1) NULL DEFAULT ('0'),
 CONSTRAINT [PK_TFATORES_EVENTO] PRIMARY KEY CLUSTERED 
(
	[CD_FATOR] ASC,
	[CD_EVENTO] ASC,
	[CD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TFATORES_EVENTO]  WITH CHECK ADD  CONSTRAINT [TEVENTO_TFATORES_SERVICO_EVENTO_CD_EVENTO] FOREIGN KEY([CD_EVENTO])
REFERENCES [TEVENTO] ([CD_EVENTO])
GO
ALTER TABLE [TFATORES_EVENTO] CHECK CONSTRAINT [TEVENTO_TFATORES_SERVICO_EVENTO_CD_EVENTO]
GO
ALTER TABLE [TFATORES_EVENTO]  WITH CHECK ADD  CONSTRAINT [TFATORES_TFATORES_SERVICO_EVENTO] FOREIGN KEY([CD_FATOR])
REFERENCES [TFATORES] ([CD_FATOR])
GO
ALTER TABLE [TFATORES_EVENTO] CHECK CONSTRAINT [TFATORES_TFATORES_SERVICO_EVENTO]
GO
