USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_CLASSIF_AT_BASF](
	[TP_CLASSIF_AT_BASF] [char](2) NOT NULL,
	[NM_TP_CLASSIF_AT_BASF] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TTP_CLASSIF_AT_BASF] PRIMARY KEY CLUSTERED 
(
	[TP_CLASSIF_AT_BASF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
