USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_OUTRAS_REF] [char](30) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[CD_MOEDA] [char](3) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[CD_TRANSPORTADORA] [char](4) NULL,
	[CD_SEGURADORA] [char](5) NULL,
	[CD_REPRESENTANTE] [char](5) NULL,
	[CD_LOCAL_ORIGEM] [char](4) NULL,
	[CD_LOCAL_DESTINO] [char](4) NULL,
	[CD_URF_DESPACHO] [char](7) NULL,
	[CD_URF_DESTINO] [char](7) NULL,
	[CD_TERMO_PAGTO] [char](6) NULL,
	[CD_FORMA_PAGTO] [char](1) NULL,
	[CD_LINGUA_PEDIDO] [char](1) NULL,
	[CD_TIPO_FRETE] [char](1) NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_CARTA_CREDITO] [char](15) NULL,
	[CD_INST_NEGOC] [char](5) NULL,
	[CD_CONSIGNATARIO] [char](5) NULL,
	[CD_NOTIFY1] [char](5) NULL,
	[CD_NOTIFY2] [char](5) NULL,
	[DT_REGISTRO_PEDIDO] [datetime] NULL,
	[DT_FATURA] [datetime] NULL,
	[IN_DRAWBACK] [bit] NOT NULL CONSTRAINT [DF_TPROCESSO_EXP_IN_DRAWBACK]  DEFAULT (0),
	[NR_LI] [char](10) NULL,
	[NR_FATURA] [varchar](15) NULL,
	[QT_TOTAL_ITENS] [char](3) NULL,
	[TX_INF_EMBALAGEM] [text] NULL,
	[TX_MARCACAO_VOLUME] [text] NULL,
	[TX_TERMO_PAGTO] [text] NULL,
	[TX_DECL_ADICIONAL] [text] NULL,
	[TX_DECL_EXPORTADOR] [text] NULL,
	[TP_NOTIFY1] [char](1) NULL,
	[TP_NOTIFY2] [char](1) NULL,
	[TP_CONSIGNATARIO] [char](1) NULL,
	[VL_FRETE] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_FRTE]  DEFAULT (0),
	[VL_SEGURO] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_SEGURO]  DEFAULT (0),
	[VL_PESO_BRUTO] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_PESO_BRUTO]  DEFAULT (0),
	[VL_PESO_LIQUIDO] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_PESO_LIQUIDO]  DEFAULT (0),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_DESCONTO]  DEFAULT (0),
	[VL_COMISSAO_PERCENT] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_COMISSAO_PERCENT]  DEFAULT (0),
	[VL_TOT_ORIGEM] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_ORIGEM]  DEFAULT (0),
	[VL_TOT_CUBAGEM] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_CUBAGEM]  DEFAULT (0),
	[VL_TOT_FOB] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_FOB]  DEFAULT (0),
	[VL_TOT_COM_AGENTE] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_COM_AGENTE]  DEFAULT (0),
	[VL_TOT_QTDE_PROD] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_QTDE]  DEFAULT (0),
	[VL_TOT_QTDE_EMBALAGEM] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_QTDE_EMBALAGEM]  DEFAULT (0),
	[VL_TOT_MCV] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_MCV]  DEFAULT (0),
	[VL_TOT_EXW] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_EXW]  DEFAULT (0),
	[VL_TX_CAMBIO] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TX_CAMBIO]  DEFAULT (0),
	[VL_TOT_CONTAINER] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_CONTAINER]  DEFAULT (0),
	[VL_TOT_PALLETS] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_PALLETS]  DEFAULT (0),
	[VL_TOT_DESPESA] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_TOT_DESPESA]  DEFAULT (0),
	[NR_SD] [char](11) NULL,
	[NR_CERTIFICADO] [char](12) NULL,
	[CD_LOCAL_EMISSAO] [char](3) NULL,
	[CD_ACORDO] [char](10) NULL,
	[CD_NORMAS] [char](10) NULL,
	[TX_OBSERVACAO] [text] NULL,
	[TX_CABECALHO] [text] NULL,
	[IN_ACORDO_ITENS] [bit] NOT NULL CONSTRAINT [DF_TPROCESSO_EXP_IN_ACORDO_ITENS]  DEFAULT (0),
	[IN_NORMAS_ITENS] [bit] NOT NULL CONSTRAINT [DF_TPROCESSO_EXP_IN_NORMAS_ITENS]  DEFAULT (0),
	[DT_SD] [datetime] NULL,
	[IN_FABR_EXPO] [char](1) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[TP_COPIA] [char](1) NULL,
	[CD_COPIA] [char](5) NULL,
	[TP_DOCUMENTO] [char](1) NULL,
	[CD_DOCUMENTO] [char](5) NULL,
	[IN_ACORDO2_ITENS] [bit] NOT NULL CONSTRAINT [DF__TPROCESSO__IN_AC__3E157A45]  DEFAULT (0),
	[IN_NORMAS2_ITENS] [bit] NOT NULL CONSTRAINT [DF__TPROCESSO__IN_NO__3F099E7E]  DEFAULT (0),
	[CD_ACORDO2] [char](10) NULL,
	[CD_NORMAS2] [char](10) NULL,
	[CD_PAIS_ORIG] [char](3) NULL,
	[IN_VENDA_INCOTERM] [bit] NOT NULL CONSTRAINT [DF__TPROCESSO__IN_VE__30716664]  DEFAULT (0),
	[TX_MERCADORIA_BL] [text] NULL,
	[IN_DECL_AD_INSTR_EMB] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_DE__40339838]  DEFAULT ('1'),
	[IN_DECL_AD_PACKING_LIST] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_DE__4127BC71]  DEFAULT ('1'),
	[CD_BANCO_SAQUE_BORDERO] [char](5) NULL,
	[NR_DDE] [char](11) NULL,
	[IN_REFERENCIA_FAT_INST] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_RE__19C3D68D]  DEFAULT ('0'),
	[DT_REG_DDE] [datetime] NULL,
	[IN_ETIQUETA] [char](1) NULL,
	[CD_ENQUAD_OP] [char](5) NULL,
	[VL_SEM_COBERTURA_CAMBIAL] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_SE__323B49F3]  DEFAULT (0),
	[TX_DECL_ADIC_INST_EMB] [text] NULL,
	[TX_CRIT_ORIG_FORM_A] [text] NULL,
	[CD_LOCAL_DESPACHO] [char](4) NULL,
	[VL_ACRESCIMO] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_AC__48406502]  DEFAULT (0),
	[DT_AVISO_EMBARQUE] [datetime] NULL,
	[TP_POS_AD] [char](1) NULL CONSTRAINT [DF__TPROCESSO__TP_PO__3CD99F4E]  DEFAULT ('1'),
	[in_num_fat_auto] [char](1) NULL CONSTRAINT [DF__TPROCESSO__in_nu__07BD6247]  DEFAULT ('0'),
	[IN_MONTADO] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_MO__3AE99740]  DEFAULT ('0'),
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_SE__3CD1DFB2]  DEFAULT ('0'),
	[VL_FRETE_INT] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_VL_FRETE_INT]  DEFAULT (0),
	[TX_LOGOMARCA] [varchar](25) NULL,
	[CD_BANCO_SAQUE] [char](5) NULL,
	[VL_INLAND_FREIGHT] [float] NULL,
 CONSTRAINT [PK_TPROCESSO_EXP] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TPROCESSO_EXP_5_211388418__K32_K1] ON [TPROCESSO_EXP]
(
	[NR_FATURA] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TPROCESSO_EXP_7_211388418__K32_K1] ON [TPROCESSO_EXP]
(
	[NR_FATURA] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
