USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMOEDAS_ISO](
	[CD_SIGLA] [char](3) NOT NULL,
	[CD_MOEDA] [char](3) NULL,
	[NM_MOEDA] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_SIGLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
