USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMPRESA_NAC](
	[CD_EMPRESA] [char](5) NOT NULL,
	[NM_EMPRESA] [varchar](80) NULL,
	[AP_EMPRESA] [varchar](10) NULL,
	[END_EMPRESA] [varchar](50) NULL,
	[END_NUMERO] [varchar](6) NULL,
	[END_CIDADE] [varchar](30) NULL,
	[END_BAIRRO] [varchar](30) NULL,
	[END_UF] [char](2) NULL,
	[END_CEP] [char](8) NULL,
	[CD_TIPO_PESSOA] [char](1) NULL,
	[CGC_EMPRESA] [char](14) NULL,
	[CPF_EMPRESA] [char](11) NULL,
	[IE_EMPRESA] [varchar](20) NULL,
	[OUTRO_DOC] [varchar](20) NULL,
	[DT_INCLUSAO] [datetime] NULL,
	[IN_FATURAMENTO] [char](1) NULL,
	[IN_ATIVO] [char](1) NULL,
	[IN_RESTRICAO] [char](1) NULL,
	[IN_EVENTUAL] [char](1) NULL,
	[CD_TIPO_REF] [char](1) NULL,
	[CD_TAB_SDA] [char](3) NULL,
	[IN_CLIENTE] [bit] NOT NULL,
	[IN_IMPORTADOR] [bit] NOT NULL,
	[IN_EXPORTADOR] [bit] NOT NULL,
	[IN_OUTROS] [bit] NOT NULL,
	[NR_AG_BANCO_IMPOSTOS] [char](5) NULL,
	[CD_SDA] [varchar](4) NULL,
	[NR_CAE] [char](10) NULL,
	[CD_GRUPO] [char](3) NULL CONSTRAINT [DF_TEMPRESA_N_CD_GRUPO_1__67]  DEFAULT (' '),
	[IN_REPRESENTANTE] [bit] NOT NULL,
	[NM_INDICADO_POR] [varchar](50) NULL,
	[CD_CT_CONTABIL] [char](12) NULL,
	[TX_OBS] [text] NULL,
	[CD_PAIS_IMPORTADOR] [char](3) NULL,
	[CD_ATIV_ECONOMICA] [char](4) NULL,
	[IN_SEGURADORA] [bit] NOT NULL CONSTRAINT [DF_TEMPRESA_NAC_IN_SEGURADORA]  DEFAULT (0),
	[CD_ACESSO] [char](1) NULL,
	[CD_AUX] [char](3) NULL,
	[NR_TELEFONE] [varchar](15) NULL,
	[NR_FAX] [varchar](15) NULL,
	[CD_MOEDA_JUROS] [char](3) NULL,
	[IN_LIBERA_DI] [char](1) NULL CONSTRAINT [DF__TEMPRESA___IN_LI__658F3A19]  DEFAULT ('0'),
	[CD_CT_GERENCIAL] [char](4) NULL,
	[CD_INDICADO_POR] [char](3) NULL,
	[PATH_LOGO] [varchar](100) NULL,
	[IN_COMPRADOR] [bit] NULL CONSTRAINT [DF__TEMPRESA___IN_CO__696161AB]  DEFAULT (0),
	[IM_EMPRESA] [varchar](20) NULL,
	[TP_DEM_EMAIL] [char](1) NULL CONSTRAINT [DF__TEMPRESA___TP_DE__3A13D7EA]  DEFAULT ('0'),
	[NR_RG] [char](15) NULL,
	[TP_RECOLHE_MP164] [char](1) NULL,
	[IN_COMERCIAL] [bit] NULL,
	[PROTECAO_MOEDA] [float] NULL,
	[FREE_TIME_DEMURRAGE] [int] NULL,
	[NR_ACCOUNT] [char](14) NULL,
	[END_COMPL] [char](50) NULL,
	[IN_PO_DESEMB] [char](1) NULL CONSTRAINT [DF_TEMPRESA_NAC_IN_PO_DESEMB]  DEFAULT (1),
	[CD_ACESSO_PIS] [char](1) NULL,
	[CD_AUX_PIS] [char](3) NULL,
	[CD_CT_CONTABIL_PIS] [char](12) NULL,
	[IN_REF_ACEITA_BARRA] [char](1) NULL,
	[IN_CAT63] [char](1) NULL CONSTRAINT [DF_TEMPRESA_NAC_IN_CAT63]  DEFAULT ('0'),
	[IN_UTILIZAR_MP252] [char](1) NULL,
	[CD_TOTAL_NF_DDNOTA] [char](6) NULL,
	[IN_CONFERE_NF] [char](1) NULL DEFAULT ('0'),
	[IN_PRENCHE_FATURA] [char](1) NULL DEFAULT ('1'),
	[IN_VERIF_ICMS_TRANSM] [char](1) NULL DEFAULT ('0'),
	[IN_REGIME_ESP] [char](1) NULL DEFAULT ('0'),
	[CD_FUND_LEGAL_ICMS] [char](3) NULL,
	[TX_SENHA_FIESP] [char](6) NULL,
	[IN_COTACAO] [char](1) NULL,
	[NM_HOMEPAGE] [varchar](200) NULL,
	[IN_PAGAR_SEM_NUMERARIO] [char](1) NULL,
	[IN_MARINHA_MERCANTE_ICMS] [char](1) NULL CONSTRAINT [DF_TEMPRESA_NAC_IN_MARINHA_MERCANTE_ICMS]  DEFAULT ((0)),
	[IN_ENVIA_BOLETO_DDA] [char](1) NULL CONSTRAINT [DF_TEMPRESA_NAC_IN_ENVIA_BOLETO_DDA]  DEFAULT ((0)),
	[IN_ORGAO_PUBLICO] [char](1) NULL,
	[END_ID_LOCALIDADE] [int] NULL,
	[COD_INTERNO] [varchar](20) NULL,
	[END_COMPLEMENTO] [varchar](60) NULL,
 CONSTRAINT [PK_TEMPRESA_NAC] PRIMARY KEY CLUSTERED 
(
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_GRUPO] ON [TEMPRESA_NAC]
(
	[CD_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [TEMPRESA_NAC]  WITH CHECK ADD  CONSTRAINT [FK_TEMPRESA_NAC_LOCALIDADE] FOREIGN KEY([END_ID_LOCALIDADE])
REFERENCES [LOCALIDADE] ([ID])
GO
ALTER TABLE [TEMPRESA_NAC] CHECK CONSTRAINT [FK_TEMPRESA_NAC_LOCALIDADE]
GO
