USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSISTEMAS_DICAS](
	[CD_SISTEMAS_DICAS] [int] NOT NULL,
	[CD_SISTEMAS] [int] NULL,
	[CD_MODULO] [char](2) NULL,
	[CD_ROTINA] [char](4) NULL,
	[TX_TITULO_DICA] [varchar](1000) NULL,
	[TX_TEXTO_DICA] [varchar](max) NULL,
	[NM_PATH_MANUAL] [varchar](400) NULL,
	[CD_USUARIO_CRIADOR] [char](4) NULL,
	[DT_INCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_CD_SISTEMAS_DICAS] PRIMARY KEY CLUSTERED 
(
	[CD_SISTEMAS_DICAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
