USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CONTROLE_EXP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_AREA] [char](2) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NOT NULL,
	[NR_FATURA] [varchar](15) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_TRANSPORTADOR] [char](4) NULL,
	[TX_OBS] [text] NULL,
	[DT_PREV_EMBARQUE] [datetime] NULL,
	[DT_LIBERACAO] [datetime] NULL,
	[IN_LIBERACAO] [char](1) NULL,
	[DT_DESEMB] [datetime] NULL,
	[IN_DESEMB] [char](1) NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_ENVIO_DOC_CLI] [datetime] NULL,
	[IN_ENVIO_DOC_CLI] [char](1) NULL,
	[DT_ENVIO_SAQUE_BORDERO] [datetime] NULL,
	[IN_ENVIO_SB] [char](1) NULL,
	[DT_AVERBACAO] [datetime] NULL,
	[NM_CONTATO] [varchar](50) NULL,
	[DT_RET_BL] [datetime] NULL,
	[IN_RET_BL] [char](1) NULL,
	[DT_DD_IMO] [datetime] NULL,
	[IN_DD_IMO] [char](1) NULL,
	[DT_DD_DDE] [datetime] NULL,
	[IN_DD_DDE] [char](1) NULL,
	[DT_DD_CC] [datetime] NULL,
	[IN_DD_CC] [char](1) NULL,
	[NR_BOOKING] [char](15) NULL,
	[DT_BOOKING] [datetime] NULL,
	[IN_BOOKING] [char](1) NULL,
	[DT_DD_DRAFT] [datetime] NULL,
	[IN_DD_DRAFT] [char](1) NULL,
	[DT_ENT_IMO] [datetime] NULL,
	[IN_ENT_IMO] [char](1) NULL,
	[DT_ENT_DDE] [datetime] NULL,
	[IN_ENT_DDE] [char](1) NULL,
	[DT_INSPECAO] [datetime] NULL,
	[IN_INSPECAO] [char](1) NULL,
	[DT_FUMIGACAO] [datetime] NULL,
	[IN_FUMIGACAO] [char](1) NULL,
	[DT_ENT_MERCAD] [datetime] NULL,
	[IN_ENT_MERCAD] [char](1) NULL,
	[DT_ENT_DRAFT_BL] [datetime] NULL,
	[IN_ENT_DRAFT_BL] [char](1) NULL,
	[DT_PREV_CARREGAMENTO] [datetime] NULL,
	[DT_CHEGADA_FRONTEIRA] [datetime] NULL,
	[IMPORTADOR] [char](20) NULL,
	[NR_CAMINHAO] [char](4) NULL,
	[ORDEM] [char](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
