USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNUMERARIO_NOTIFICA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[DT_SOLICITACAO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_STATUS] [char](1) NULL,
	[TX_NUMERARIO_OBS] [text] NULL,
	[TX_NUMERARIO_ASS] [text] NULL,
	[VL_SOLICITADO] [float] NULL,
	[VL_RECEBIDO] [float] NULL,
	[QT_ITENS_SOLIC] [int] NULL,
	[IN_EMITIDO] [char](1) NULL,
	[DT_EMISSAO] [datetime] NULL,
	[CD_BASE_CALCULO] [char](1) NULL,
	[DT_PARIDADE] [datetime] NULL,
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF__TNUMERARI__IN_SE__30E73307]  DEFAULT ('0'),
	[NR_SOLIC_VINC] [char](3) NULL,
	[IN_SEL_IMPRESSAO] [char](1) NULL CONSTRAINT [DF__TNUMERARI__IN_SE__6486D29E]  DEFAULT ('0'),
	[DT_NOTIFICACAO] [datetime] NULL,
 CONSTRAINT [PK_TNUMERARIO_NOTIFICA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TNUMERARIO_NOTIFICA_7_1037767300__K5_K8_K12_K1_2_3_9_11_15] ON [TNUMERARIO_NOTIFICA]
(
	[CD_STATUS] ASC,
	[VL_SOLICITADO] ASC,
	[DT_EMISSAO] ASC,
	[NR_PROCESSO] ASC
)
INCLUDE ( 	[NR_SOLICITACAO],
	[DT_SOLICITACAO],
	[VL_RECEBIDO],
	[IN_EMITIDO],
	[IN_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TNUMERARIO_NOTIFICA] ON [TNUMERARIO_NOTIFICA]
(
	[NR_PROCESSO] ASC,
	[NR_SOLICITACAO] ASC,
	[IN_SEL_IMPRESSAO] ASC,
	[IN_EMITIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
