USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EMBALAGEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_EMBALAGEM] [char](2) NOT NULL,
	[PB_EMBALAGEM] [float] NOT NULL CONSTRAINT [DF_TPROCESSO__QT_EMBALAGE3__83]  DEFAULT (0),
	[QT_EMBALAGEM] [int] NOT NULL CONSTRAINT [DF_TPROCESSO__PB_EMBALAGE2__83]  DEFAULT (0),
 CONSTRAINT [PK_TPROCESSO_EMBALAGEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_EMBALAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
