USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMAIL_PROC_NAO_FAT](
	[NR_PROCESSO] [char](15) NULL,
	[PREVISAO] [datetime] NULL,
	[ATRASO] [int] NULL,
	[SALDO_PROC] [decimal](15, 2) NULL,
	[VALOR_SERVICO] [decimal](15, 2) NULL,
	[CLIENTE] [char](50) NULL,
	[STATUS] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TMAIL_PROC_NAO_FAT] ON [TMAIL_PROC_NAO_FAT]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
