USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCHEQUE_BRANCO_ITEM](
	[CD_BANCO] [char](3) NOT NULL,
	[NR_CHEQUE] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_ITEM] [float] NOT NULL CONSTRAINT [DF_TCHEQUE_BA_VL_ITEM_6__14]  DEFAULT (0),
	[VL_IR] [float] NULL CONSTRAINT [DF_TCHEQUE_BA_VL_IR_5__14]  DEFAULT (0),
	[CD_DESPACHANTE] [char](3) NULL,
	[VL_ASSIST] [float] NULL CONSTRAINT [DF_TCHEQUE_BA_VL_ASSIST_3__14]  DEFAULT (0),
	[VL_BONIFICACAO] [float] NULL CONSTRAINT [DF_TCHEQUE_BA_VL_BONIFICA4__14]  DEFAULT (0),
 CONSTRAINT [PK___2__14] PRIMARY KEY CLUSTERED 
(
	[CD_BANCO] ASC,
	[NR_CHEQUE] ASC,
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
