USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DEMO_CC_NUM](
	[NR_RELATORIO] [char](6) NOT NULL,
	[DT_EMISSAO] [datetime] NOT NULL,
	[CD_USUARIO_IMP] [char](4) NULL,
 CONSTRAINT [PK_TREL_DEMO_CC_NUM] PRIMARY KEY NONCLUSTERED 
(
	[NR_RELATORIO] ASC,
	[DT_EMISSAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
