USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP_REL_CC_CLI](
	[DT_LANCAMENTO] [datetime] NULL,
	[NM_ITEM] [varchar](8000) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_DOCTO] [varchar](8) NULL,
	[VL_DEBITO] [float] NULL,
	[VL_CREDITO] [float] NULL
) ON [PRIMARY]

GO
