USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TERROS_SQL](
	[CD_ERRO] [int] NOT NULL,
	[NM_ERRO] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [ID_ERROS_SQL] ON [TERROS_SQL]
(
	[CD_ERRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
