USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_PROCESSOS](
	[CD_PROCESSO] [int] IDENTITY(1,1) NOT NULL,
	[NR_SD] [char](18) NULL,
	[CD_TIPO_PROCESSO] [int] NULL,
	[NR_PROCESSO] [varchar](50) NULL,
	[NM_PROCESSO] [varchar](50) NULL,
 CONSTRAINT [PK_TSD_PROCESSOS] PRIMARY KEY CLUSTERED 
(
	[CD_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
