USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_ERRO_RESUMO_FAT](
	[NR_IDENTIFICADOR] [int] NULL,
	[CD_ITEM] [char](3) NULL,
	[NM_DESPESA] [varchar](50) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[VL_LANCAMENTO] [float] NULL,
	[NR_PROCESSO] [char](18) NULL
) ON [PRIMARY]

GO
