USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMODELO_DOC](
	[CD_UNID_NEG] [char](2) NULL,
	[CD_MODULO] [char](4) NULL,
	[CODIGO] [char](3) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[DESCRIAO] [char](50) NULL,
	[NM_PATH] [char](100) NULL,
	[DT_DOCUMENTO] [datetime] NULL,
	[IN_DAFAULT] [char](1) NULL,
	[IN_PROCESSO] [char](1) NULL,
	[IN_EMP_NAC] [char](1) NULL,
	[IN_EMP_EST] [char](1) NULL,
	[IN_AGENTE] [char](1) NULL,
	[IN_CIA] [char](1) NULL,
	[IN_ARMADOR] [char](1) NULL,
	[IN_COMISSARIA] [char](1) NULL,
	[CD_EMP_NAC] [char](5) NULL,
	[CD_EMP_EST] [char](5) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_CIA] [char](4) NULL,
	[CD_ARMADOR] [char](4) NULL,
	[CD_COMISSARIA] [char](3) NULL,
	[CD_GRUPO] [char](3) NULL,
	[IN_GRUPO] [char](1) NULL,
	[CD_TIPO_DOCTO] [int] NULL,
	[IN_ESTUFAGEM] [char](1) NULL,
	[CD_ESTUFAGEM] [char](1) NULL,
	[CD_SISTEMA] [int] NULL
) ON [PRIMARY]

GO
