USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DI_REG_DESEMB](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_DI] [char](10) NOT NULL,
	[CD_AREA] [char](2) NULL,
	[TX_DOLAR] [float] NULL CONSTRAINT [DF_TREL_DI_REG_DESEMB_TX_DOLAR]  DEFAULT (0),
	[VL_CIF_MN] [float] NULL CONSTRAINT [DF_TREL_DI_REG_DESEMB_VL_CIF_MN]  DEFAULT (0),
	[VL_CIF_DOLAR] [float] NULL CONSTRAINT [DF_TREL_DI_REG_DESEMB_VL_CIF_DOLAR]  DEFAULT (0),
	[VL_TOT_II_MN] [float] NULL CONSTRAINT [DF_TREL_DI_REG_DESEMB_VL_TOT_II_MN]  DEFAULT (0),
	[VL_TOT_II_DOLAR] [float] NULL CONSTRAINT [DF_TREL_DI_REG_DESEMB_VL_TOT_II_DOLAR]  DEFAULT (0),
	[VL_TOT_IPI_MN] [float] NULL CONSTRAINT [DF_TREL_DI_REG_DESEMB_VL_TOT_IPI_MN]  DEFAULT (0),
	[VL_TOT_IPI_DOLAR] [float] NULL CONSTRAINT [DF_TREL_DI_REG_DESEMB_VL_TOT_IPI_DOLAR]  DEFAULT (0),
	[VL_TOT_ICMS_MN] [float] NULL CONSTRAINT [DF_TREL_DI_REG_DESEMB_VL_TOT_ICMS_MN]  DEFAULT (0),
	[VL_TOT_ICMS_DOLAR] [float] NULL CONSTRAINT [DF_TREL_DI_REG_DESEMB_VL_TOT_ICMS_DOLAR]  DEFAULT (0),
	[NM_OBSERVACAO] [varchar](100) NULL,
	[NM_REFERENCIA] [varchar](8000) NULL,
	[NM_MERCADORIA] [varchar](8000) NULL,
	[VL_TX_SISCOMEX] [float] NULL CONSTRAINT [DF__TREL_DI_R__VL_TX__7355AB90]  DEFAULT (0),
	[DT_DI] [datetime] NULL,
	[DT_DESEMB] [datetime] NULL,
	[QT_ITENS_DI] [varchar](512) NULL,
	[VL_TOT_PIS_MN] [float] NULL,
	[VL_TOT_COFINS_MN] [float] NULL,
 CONSTRAINT [PK_TREL_DI_REG_DESEMB] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
