USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TOUTROS_GRAFICOS](
	[CD_GRAFICO] [int] NULL,
	[NM_GRAFICO] [varchar](200) NOT NULL,
	[IN_ATIVO] [char](1) NULL
) ON [PRIMARY]

GO
