USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [VW_REL_SAINT_GOBAIN]
AS
SELECT     TOP (100) PERCENT P.CD_UNID_NEG, P.CD_PRODUTO, E.NM_EMPRESA, P.NR_PROCESSO, 
(SELECT master.dbo.RowConcat(DISTINCT LTRIM(RTRIM(R.CD_REFERENCIA)) + ', ') FROM dbo.VW_REFERENCIAS AS R WHERE R.NR_PROCESSO = P.NR_PROCESSO) AS REFERENCIA, 
SUBSTRING(DI.NR_DECLARACAO_IMP, 1, 2) + '/' + SUBSTRING(DI.NR_DECLARACAO_IMP, 3, 7) + '-' + SUBSTRING(DI.NR_DECLARACAO_IMP, 10, 2) AS NR_DI, 
F.NR_NOTA_FATURA AS NR_NOTA, CONVERT(VARCHAR, F.DT_FATURA, 103) AS DT_FATURA, CONVERT(VARCHAR, 
F.DT_VENCTO_FATURA, 103) AS DT_VENCTO_FATURA,
(SELECT TOP (1) ISNULL(CONVERT(VARCHAR, DT_LANCAMENTO, 103), '') AS Expr1 
 FROM dbo.TFATURAMENTO_CC AS FAT WITH (NOLOCK)
 WHERE      (IN_FATURADO = '1') 
 AND (CD_ITEM NOT IN (SELECT CD_ITEM FROM  dbo.TFATURAMENTO_CC_CLIENTE AS FATCC
                      WHERE (NR_PROCESSO = FAT.NR_PROCESSO) AND (CD_ITEM = FAT.CD_ITEM) AND (ROUND(VL_ITEM, 2) = ROUND(FAT.VL_ITEM, 2)))) 
 AND (NR_PROCESSO = P.NR_PROCESSO) AND (NR_SOLIC_FAT = F.NR_SOLICITACAO) AND (CD_ITEM = '991') AND (IN_CANCELADO = '0')
 ORDER BY DT_LANCAMENTO DESC) AS DT_ADTO_NUM,
(SELECT ISNULL(SUM(VL_ITEM), 0) AS Expr1 FROM dbo.TFATURAMENTO_CC AS FAT WITH (NOLOCK)
 WHERE  (CD_ITEM NOT IN (SELECT CD_ITEM FROM  dbo.TFATURAMENTO_CC_CLIENTE AS FATCC
                         WHERE (NR_PROCESSO = FAT.NR_PROCESSO) AND (CD_ITEM = FAT.CD_ITEM) AND (ROUND(VL_ITEM, 2) = ROUND(FAT.VL_ITEM, 2))))
 AND (IN_FATURADO = '1') AND (NR_PROCESSO = P.NR_PROCESSO) AND (NR_SOLIC_FAT = F.NR_SOLICITACAO) AND (CD_ITEM = '991') AND (IN_CANCELADO = '0')) -
 (SELECT ISNULL(SUM(VL_ITEM), 0) AS Expr1 FROM dbo.TFATURAMENTO_CC AS FAT WITH (NOLOCK)
  WHERE (CD_ITEM NOT IN (SELECT CD_ITEM FROM  dbo.TFATURAMENTO_CC_CLIENTE AS FATCC
                         WHERE (NR_PROCESSO = FAT.NR_PROCESSO) AND (CD_ITEM = FAT.CD_ITEM) AND (ROUND(VL_ITEM, 2) = ROUND(FAT.VL_ITEM, 2)))) 
   AND (IN_FATURADO = '1') AND (NR_PROCESSO = P.NR_PROCESSO) AND (NR_SOLIC_FAT = F.NR_SOLICITACAO) AND (CD_ITEM = '993') AND (IN_CANCELADO = '0')) AS ADTO_NUM,
 ISNULL ((SELECT SUM(ISNULL(VL_ITEM, 0)) AS Expr1 FROM dbo.TNF_SERV_OP_ITEM AS CLI WHERE  (P.CD_UNID_NEG = CD_UNID_NEG) AND (P.CD_PRODUTO = CD_PRODUTO) AND (F.NR_SOLICITACAO = NR_SOLICITACAO) AND  (IN_COLUNA = '3')), 0) + 
 ISNULL ((SELECT ISNULL(SUM(CASE IN_RESTITUI WHEN 1 THEN VL_ITEM * - 1 ELSE VL_ITEM END), 0) AS Expr1 FROM dbo.TFATURAMENTO_CC AS FAT WITH (NOLOCK) 
          WHERE (IN_FATURADO = '1') AND (NR_PROCESSO = P.NR_PROCESSO) AND (NR_SOLIC_FAT = F.NR_SOLICITACAO) AND (IN_CANCELADO = '0') AND (CD_ITEM = '822')), 0) AS RECEITAS,
 (SELECT SUM(ISNULL(VL_ITEM, 0)) AS Expr1 FROM dbo.TNF_SERV_OP_ITEM AS CLI WHERE (P.CD_UNID_NEG = CD_UNID_NEG) AND (P.CD_PRODUTO = CD_PRODUTO) AND (F.NR_SOLICITACAO = NR_SOLICITACAO) AND (IN_COLUNA = '2')) AS DESPESAS,
 (SELECT ISNULL(SUM(CASE IN_RESTITUI WHEN 1 THEN VL_ITEM * - 1 ELSE VL_ITEM END), 0) AS Expr1 FROM dbo.TFATURAMENTO_CC AS FAT WITH (NOLOCK)
  WHERE (CD_ITEM NOT IN (SELECT CD_ITEM FROM dbo.TFATURAMENTO_CC_CLIENTE AS FATCC WHERE (NR_PROCESSO = FAT.NR_PROCESSO) AND (CD_ITEM = FAT.CD_ITEM) AND (ROUND(VL_ITEM, 2) = ROUND(FAT.VL_ITEM, 2)))) 
  AND (IN_FATURADO = '1') AND (NR_PROCESSO = P.NR_PROCESSO) AND (NR_SOLIC_FAT = F.NR_SOLICITACAO) AND (IN_CANCELADO = '0') AND (CD_ITEM IN ('994', '578'))) AS IMPOSTOS, 
  ISNULL(OP.VL_TOT_GERAL, 0) - (SELECT ISNULL(SUM(CASE IN_RESTITUI WHEN 1 THEN VL_ITEM * - 1 ELSE VL_ITEM END), 0) AS Expr1
                                FROM dbo.TFATURAMENTO_CC AS FAT WITH (NOLOCK)
                                WHERE (CD_ITEM NOT IN (SELECT CD_ITEM
                                                       FROM dbo.TFATURAMENTO_CC_CLIENTE AS FATCC
                                                       WHERE (NR_PROCESSO = FAT.NR_PROCESSO) AND (CD_ITEM = FAT.CD_ITEM) AND (ROUND(VL_ITEM, 2) = ROUND(FAT.VL_ITEM, 2)))) 
                                                       AND (IN_FATURADO = '1') AND (NR_PROCESSO = P.NR_PROCESSO) AND (NR_SOLIC_FAT = F.NR_SOLICITACAO) AND (IN_CANCELADO = '0') AND (CD_ITEM IN ('994', '578'))) AS TOTAL_INDAIA,
 (SELECT SUM(ISNULL(VL_ITEM, 0)) AS Expr1
  FROM dbo.TNF_SERV_OP_ITEM AS CLI
  WHERE (P.CD_UNID_NEG = CD_UNID_NEG) AND (P.CD_PRODUTO = CD_PRODUTO) AND (F.NR_SOLICITACAO = NR_SOLICITACAO) AND (IN_COLUNA = '1') AND (CD_ITEM <> '027')) AS CLIENTE,
 (SELECT SUM(ISNULL(VL_ITEM, 0)) AS Expr1
  FROM dbo.TNF_SERV_OP_ITEM AS CLI
  WHERE (P.CD_UNID_NEG = CD_UNID_NEG) AND (P.CD_PRODUTO = CD_PRODUTO) AND (F.NR_SOLICITACAO = NR_SOLICITACAO) AND  (CD_ITEM = '027')) AS ICMS,
 (SELECT SUM(ISNULL(VL_ITEM, 0)) AS Expr1 
  FROM dbo.TNF_SERV_OP_ITEM AS CLI
  WHERE (P.CD_UNID_NEG = CD_UNID_NEG) AND (P.CD_PRODUTO = CD_PRODUTO) AND (F.NR_SOLICITACAO = NR_SOLICITACAO) AND (IN_COLUNA = '1')) AS TOTAL_CLIENTE, 
 F.VL_FATURA AS SALDO, FP.VL_FATURA VL_FATURA_PROCESSO
FROM dbo.TPROCESSO AS P WITH (NOLOCK) 
INNER JOIN dbo.TEMPRESA_NAC AS E WITH (NOLOCK) ON E.CD_EMPRESA = P.CD_CLIENTE 
INNER JOIN dbo.TS_FATURA_PROCESSO AS FP WITH (NOLOCK) ON FP.NR_PROCESSO = P.NR_PROCESSO 
INNER JOIN dbo.TS_FATURA AS F WITH (NOLOCK) ON F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND F.CD_UNID_NEG = FP.CD_UNID_NEG AND F.CD_PRODUTO = FP.CD_PRODUTO 
LEFT OUTER JOIN dbo.TDECLARACAO_IMPORTACAO AS DI ON DI.NR_PROCESSO = P.NR_PROCESSO 
LEFT OUTER JOIN dbo.TNF_SERV_OP AS OP WITH (NOLOCK) ON OP.NR_SOLICITACAO = F.NR_SOLICITACAO AND OP.CD_UNID_NEG = F.CD_UNID_NEG AND OP.CD_PRODUTO = F.CD_PRODUTO 
WHERE (P.CD_GRUPO = '028') AND (F.IN_CANCELADO = '0') AND (P.IN_CANCELADO = '0') AND (F.VL_LIQUIDACAO = 0) 
GROUP BY P.CD_UNID_NEG, P.CD_PRODUTO, E.NM_EMPRESA, P.NR_PROCESSO, DI.NR_DECLARACAO_IMP, F.NR_SOLICITACAO, F.NR_NOTA_FATURA, F.DT_FATURA, F.DT_VENCTO_FATURA, OP.VL_TOT_GERAL, F.VL_FATURA, FP.VL_FATURA
ORDER BY E.NM_EMPRESA, F.NR_SOLICITACAO






GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "P"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 285
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "E"
            Begin Extent = 
               Top = 6
               Left = 323
               Bottom = 114
               Right = 547
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FP"
            Begin Extent = 
               Top = 6
               Left = 585
               Bottom = 114
               Right = 791
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "F"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 261
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DI"
            Begin Extent = 
               Top = 114
               Left = 299
               Bottom = 222
               Right = 534
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "OP"
            Begin Extent = 
               Top = 114
               Left = 572
               Bottom = 222
               Right = 783
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "R"
            Begin Extent = 
               Top = 6
               Left = 829
               Bottom = 84
               Right = 992
            End
            DisplayFlags = 280
            TopColumn = 0
         End
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_REL_SAINT_GOBAIN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'     End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 20
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_REL_SAINT_GOBAIN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_REL_SAINT_GOBAIN'
GO
