USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_RETENCAO](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_EMPRESA] [char](5) NULL,
	[AP_EMPRESA] [char](15) NULL,
	[CNPJ_EMPRESA] [char](14) NULL,
	[CD_GRUPO_CLIENTE] [char](3) NULL,
	[NR_NOTA_FATURA] [char](8) NULL,
	[DT_FATURA] [datetime] NULL,
	[VL_NUMERARIO] [float] NULL,
	[VL_COMISSAO] [float] NULL,
	[VL_ITEM_COFINS_RETENCAO] [float] NULL,
	[VL_IRRF] [float] NULL,
	[VL_NAO_TRIBUTAVEL] [float] NULL,
	[VL_TRIBUTAVEL] [float] NULL,
	[VL_SALDO_FAT] [float] NULL,
	[VL_TOTAL_FATURA] [float] NULL,
	[VL_ISS] [float] NULL,
	[DT_VENCTO_FATURA] [datetime] NULL
) ON [PRIMARY]

GO
