USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNF_SERV_ADM](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[NR_DOCTO] [char](6) NOT NULL,
	[DT_EMISSAO] [datetime] NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[NR_RELATORIO] [char](3) NULL,
	[NR_ANO] [char](4) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[TX_OBS] [text] NULL,
	[VL_TOT_NAO_TRIBUTAVEL] [float] NULL CONSTRAINT [DF_TNF_SERV_ADM_VL_TOT_NAO_TRIBUTAVEL]  DEFAULT (0),
	[VL_TOT_GERAL] [float] NULL CONSTRAINT [DF_TNF_SERV_ADM_VL_SUB_TOT_TRIBUTAVEL]  DEFAULT (0),
	[VL_TOT_TRIBUTAVEL] [float] NULL CONSTRAINT [DF_TNF_SERV_ADM_VL_TOT_TRIBUTAVEL]  DEFAULT (0),
	[VL_ISS] [float] NULL CONSTRAINT [DF_TNF_SERV_ADM_VL_ISS]  DEFAULT (0),
	[VL_IR] [float] NULL CONSTRAINT [DF_TNF_SERV_ADM_VL_IR]  DEFAULT (0),
	[CD_EMISSOR] [char](4) NULL,
 CONSTRAINT [PK_TNF_SERV_ADM] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[NR_DOCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
