USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_STATUS_DB](
	[CD_STATUS_DB] [char](1) NOT NULL,
	[NM_STATUS_DB] [char](35) NULL,
 CONSTRAINT [PK_TTP_STATUS_DB] PRIMARY KEY CLUSTERED 
(
	[CD_STATUS_DB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
