USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABIL_HISTORICO](
	[CD_COLIGADA] [char](2) NOT NULL,
	[CD_HISTORICO] [char](8) NOT NULL,
	[NM_HISTORICO] [varchar](58) NULL,
	[IN_COMPLEMENTO] [char](1) NULL,
 CONSTRAINT [PK_TCONTABIL_HISTORICO_1__14] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_HISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
