USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCTAAPAGAR_VENCTO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_CTAAPAGAR] [char](3) NOT NULL,
	[DT_VENCTO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL
) ON [PRIMARY]

GO
