USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDP_CONTABIL_NOVO](
	[TX_OLD] [char](12) NOT NULL,
	[TX_NEW] [char](7) NOT NULL,
 CONSTRAINT [PK_TDP_CONTABIL_NOVO] PRIMARY KEY CLUSTERED 
(
	[TX_OLD] ASC,
	[TX_NEW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
