USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EST_CNTR_VL_CIF](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[TP_CNTR] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_ARM_ATRACACAO] [char](4) NULL,
	[VL_QTDE] [int] NULL,
	[VL_CIF_MN] [float] NOT NULL,
	[VL_PESO_LIQUIDO] [float] NOT NULL,
	[CD_ARM_DESCARGA] [char](4) NULL,
 CONSTRAINT [PK_TREL_EST_CNTR_VL_CIF] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC,
	[TP_CNTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_EST_CNTR_VL_CIF] ADD  CONSTRAINT [DF_TREL_EST_CNTR_VL_CIF_VL_QTDE]  DEFAULT (0) FOR [VL_QTDE]
GO
ALTER TABLE [TREL_EST_CNTR_VL_CIF] ADD  CONSTRAINT [DF_TREL_EST_CNTR_VL_CIF_VL_CIF_MN]  DEFAULT (0) FOR [VL_CIF_MN]
GO
ALTER TABLE [TREL_EST_CNTR_VL_CIF] ADD  CONSTRAINT [DF_TREL_EST_CNTR_VL_CIF_VL_PESO_LIQUIDO]  DEFAULT (0) FOR [VL_PESO_LIQUIDO]
GO
