USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRE_ANEXO_PURO](
	[NR_PROCESSO] [char](18) NULL,
	[NR_PROCESSO_COMPLEMENTO] [char](3) NULL,
	[ID_ANEXO] [int] IDENTITY(1,1) NOT NULL,
	[NR_PEDIDO_IMP] [char](15) NULL,
	[CD_MERCADORIA] [char](40) NULL,
	[CD_NCM] [char](11) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_UNID_MEDIDA] [char](3) NULL,
	[CD_EMBALAGEM] [char](4) NULL,
	[CD_CLASSIF_EMBALAGEM] [varchar](30) NULL,
	[CD_FABR_EXPO] [char](1) NULL,
	[QT_POR_EMB] [float] NULL,
	[QT_EMBALAGEM] [float] NULL,
	[QT_MERCADORIA] [float] NULL,
	[VL_POR_EMB] [float] NULL,
	[VL_UNITARIO] [float] NULL,
	[VL_PESO_LIQ_UNIT] [float] NULL,
	[VL_COMPRIMENTO_EMB] [float] NULL,
	[VL_LARGURA_EMB] [float] NULL,
	[VL_ALTURA_EMB] [float] NULL,
	[VL_PESO_EMB] [float] NULL,
	[VL_TOT_ITEM] [float] NULL,
	[VL_TOT_PESO_LIQ] [float] NULL,
	[VL_TOT_PESO_BRUTO] [float] NULL,
	[VL_CUBAGEM] [float] NULL,
	[VL_MLE] [float] NULL,
	[VL_MCV] [float] NULL,
	[VL_SEGURO] [float] NULL,
	[VL_FRETE] [float] NULL,
	[VL_DESPESA] [float] NULL,
	[VL_DESCONTO] [float] NULL,
	[TX_MERCADORIA] [text] NULL,
	[NR_PROC_PE] [char](18) NULL,
	[NR_ITEM_PE] [char](6) NULL,
	[CD_EMBALAGEM_SUP] [char](4) NULL,
	[CD_CLASSIF_EMBALAGEM_SUP] [char](30) NULL,
	[QT_POR_EMB_SUP] [float] NULL,
	[QT_EMBALAGEM_SUP] [float] NULL,
	[VL_POR_EMB_SUP] [float] NULL,
	[CD_EMBALAGEM_CLIENTE] [char](10) NULL,
	[CD_RMAS] [char](10) NULL,
	[IN_ACORDO] [bit] NULL,
	[NR_SEQ_NALADI] [int] NULL,
	[NR_SEQ_NCM] [int] NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[NR_PEDIDO] [char](18) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[TP_ACORDO] [char](1) NULL,
	[CD_NCM_DOC] [char](8) NULL,
	[CD_NALADI_DOC] [char](8) NULL,
	[CD_ACORDO] [char](10) NULL,
	[NR_SEQ_NCM_DOC] [int] NULL,
	[NR_SEQ_NALADI_DOC] [int] NULL,
	[NR_ORDEM_CERT_ORIGEM] [char](3) NULL,
	[NR_ATO] [char](13) NULL,
	[IN_RATEADO] [char](1) NULL,
	[CD_UF_PRODUTOR] [char](2) NULL,
	[CD_FINALIDADE_MERC] [char](3) NULL,
	[PC_COMISSAO] [float] NULL,
	[CD_FORMA_PGTO] [char](1) NULL,
	[VL_COND_VENDA] [float] NULL,
	[VL_LOCAL_VENDA] [float] NULL,
	[CD_SULF_NCM] [char](2) NULL,
	[CD_RE_ANEXO] [int] NULL,
	[TX_MERCADORIA_ITEM] [varchar](1000) NULL,
	[VL_SEM_COBERTURA] [float] NULL,
	[CD_UNID_MEDIDA_ESTAT] [char](3) NULL,
	[QT_UNID_MEDIDA_ESTAT] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TRE_ANEXO_PURO] ON [TRE_ANEXO_PURO]
(
	[NR_PROCESSO] ASC,
	[NR_PROCESSO_COMPLEMENTO] ASC,
	[ID_ANEXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
