USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNCM_EXP_BKP](
	[CODIGO] [char](8) NOT NULL,
	[DESCRICAO] [varchar](255) NOT NULL,
	[NR_SEQ] [int] NOT NULL,
	[TX_NCM_FATURA] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
