USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_PEND](
	[CD_PEND] [char](1) NOT NULL,
	[NM_PEND] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TTP_PEND] PRIMARY KEY CLUSTERED 
(
	[CD_PEND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
