USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABIL_PLANO](
	[CD_COLIGADA] [char](2) NOT NULL,
	[CD_CT_CONTABIL] [char](12) NOT NULL,
	[NM_CT_CONTABIL] [varchar](40) NULL,
	[IN_DISTRIBUI] [char](1) NOT NULL,
 CONSTRAINT [PK_TCONTABIL_PLANO_2__46] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_CT_CONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
