USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DOCTO_VINC](
	[CD_TIPO_DOCTO_VINC] [char](1) NOT NULL,
	[DESCRICAO] [varchar](30) NULL,
 CONSTRAINT [PK_TTP_DOCTO_VINC] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_DOCTO_VINC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
