USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPAIS_BROKER](
	[CD_PAIS] [char](3) NOT NULL,
	[NM_PAIS] [char](120) NULL,
	[NM_PAIS_PORT] [char](50) NULL CONSTRAINT [DF__TPAIS_BRO__NM_PA__77F80317]  DEFAULT (''),
	[NM_PAIS_ING] [char](50) NULL CONSTRAINT [DF__TPAIS_BRO__NM_PA__78EC2750]  DEFAULT (''),
	[NM_PAIS_ESP] [char](50) NULL CONSTRAINT [DF__TPAIS_BRO__NM_PA__79E04B89]  DEFAULT (''),
	[CD_SCX_EXP] [char](4) NULL,
	[NM_SIGLA_CRT] [char](2) NULL,
	[IN_NALADI_FATURA] [char](1) NULL CONSTRAINT [DF__TPAIS_BRO__IN_NA__3616C7CF]  DEFAULT ('0'),
	[IN_NCM_FATURA] [char](1) NULL CONSTRAINT [DF__TPAIS_BRO__IN_NC__370AEC08]  DEFAULT ('0'),
	[IN_ALADI] [char](1) NULL,
	[IN_FUMIGACAO] [char](1) NULL,
	[IN_ALADI_EXP] [char](1) NULL CONSTRAINT [DF_TPAIS_BROKER_IN_ALADI_EXP]  DEFAULT (0),
	[IN_FUMIGACAO_EXP] [char](1) NULL CONSTRAINT [DF_TPAIS_BROKER_IN_FUMIGACAO_EXP]  DEFAULT (0),
	[NM_CONTINENTE] [char](20) NULL,
	[NM_SIGLA_2L] [char](2) NULL,
	[NM_SIGLA_3L] [char](3) NULL,
	[COD_BACEN] [varchar](5) NULL,
 CONSTRAINT [PK_TPAIS_BROKER] PRIMARY KEY CLUSTERED 
(
	[CD_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
