USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREPARA_RE_CAPA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_OUTRAS_REF] [char](30) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[CD_MOEDA] [char](3) NULL,
	[CD_LOCAL_ORIGEM] [char](4) NULL,
	[CD_LOCAL_DESTINO] [char](4) NULL,
	[CD_URF_DESPACHO] [char](7) NULL,
	[CD_URF_DESTINO] [char](7) NULL,
	[CD_TERMO_PAGTO] [char](6) NULL,
	[CD_FORMA_PAGTO] [char](1) NULL,
	[CD_LINGUA_PEDIDO] [char](1) NULL,
	[CD_TIPO_FRETE] [char](1) NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_INST_NEGOC] [char](5) NULL,
	[QT_TOTAL_ITENS] [char](3) NULL,
	[VL_FRETE] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_FRTE]  DEFAULT (0),
	[VL_SEGURO] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_SEGURO]  DEFAULT (0),
	[VL_PESO_BRUTO] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_PESO_BRUTO]  DEFAULT (0),
	[VL_PESO_LIQUIDO] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_PESO_LIQUIDO]  DEFAULT (0),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_DESCONTO]  DEFAULT (0),
	[VL_COMISSAO_PERCENT] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_COMISSAO_PERCENT]  DEFAULT (0),
	[VL_TOT_ORIGEM] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_ORIGEM]  DEFAULT (0),
	[VL_TOT_FOB] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_FOB]  DEFAULT (0),
	[VL_TOT_COM_AGENTE] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_COM_AGENTE]  DEFAULT (0),
	[VL_TOT_QTDE_PROD] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_QTDE]  DEFAULT (0),
	[VL_TOT_QTDE_EMBALAGEM] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_QTDE_EMBALAGEM]  DEFAULT (0),
	[VL_TOT_MCV] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_MCV]  DEFAULT (0),
	[VL_TOT_EXW] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_EXW]  DEFAULT (0),
	[VL_TX_CAMBIO] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TX_CAMBIO]  DEFAULT (0),
	[VL_TOT_CONTAINER] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_CONTAINER]  DEFAULT (0),
	[VL_TOT_PALLETS] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_PALLETS]  DEFAULT (0),
	[VL_TOT_DESPESA] [float] NULL CONSTRAINT [DF_TPREPARA_RE_CAPA_VL_TOT_DESPESA]  DEFAULT (0),
	[TX_OBSERVACAO] [text] NULL,
	[IN_FABR_EXPO] [char](1) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_PAIS_ORIG] [char](3) NULL,
	[VL_SEM_COBERTURA_CAMBIAL] [float] NULL CONSTRAINT [DF__TPREPARA___VL_SE__4089694A]  DEFAULT (0),
 CONSTRAINT [PK_TPREPARA_RE_CAPA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
