USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAJUSTE_IMPRESSAO_DARF](
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[L_PERIODO] [char](3) NULL,
	[C_PERIODO] [char](3) NULL,
	[L_CPF_CNPJ] [char](3) NULL,
	[C_CPF_CNPJ] [char](3) NULL,
	[L_N_REF] [char](3) NULL,
	[C_N_REF] [char](3) NULL,
	[C_CD_RECEITA] [char](3) NULL,
	[L_NR_REF] [char](3) NULL,
	[C_NR_REF] [char](3) NULL,
	[L_S_REF] [char](3) NULL,
	[C_S_REF] [char](3) NULL,
	[L_IMPORTADOR] [char](3) NULL,
	[C_IMPORTADOR] [char](3) NULL,
	[L_TEL_UNIDADE] [char](3) NULL,
	[C_TEL_UNIDADE] [char](3) NULL,
	[L_MASTER] [char](3) NULL,
	[C_MASTER] [char](3) NULL,
	[C_FILHOTE] [char](3) NULL,
	[C_VL_PRINC] [char](3) NULL,
	[L_LINHA_MOTIVO1] [char](3) NULL,
	[C_LINHA_MOTIVO1] [char](3) NULL,
	[L_LINHA_MOTIVO2] [char](3) NULL,
	[C_LINHA_MOTIVO2] [char](3) NULL,
	[L_VL_JUROS] [char](3) NULL,
	[C_VL_JUROS] [char](3) NULL,
	[L_VL_TOTAL] [char](3) NULL,
	[C_VL_TOTAL] [char](3) NULL,
	[C_VL_MULTA] [char](3) NULL,
	[L_DT_VENCTO] [char](3) NULL,
	[C_DT_VENCTO] [char](3) NULL,
 CONSTRAINT [PK_TAJUSTE_IMPRESSAO_DARF] PRIMARY KEY CLUSTERED 
(
	[CD_DOCUMENTO] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
