USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATZ_MYINDAIA_PEDIDO](
	[CD_ATUALIZACAO] [int] IDENTITY(1,1) NOT NULL,
	[NR_REFERENCIA] [char](30) NULL,
	[NR_ITEM] [char](3) NULL,
	[NM_TABELA] [varchar](50) NULL,
	[AP_USUARIO] [char](15) NULL,
	[NR_PARCIAL] [int] NULL,
	[CD_EMPRESA] [char](5) NULL,
	[DT_ATUALIZACAO] [datetime] NULL,
 CONSTRAINT [PK_TATZ_MYINDAIA_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[CD_ATUALIZACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_PEDIDO] ON [TATZ_MYINDAIA_PEDIDO]
(
	[NR_REFERENCIA] ASC,
	[NR_ITEM] ASC,
	[NR_PARCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TATZ_MYINDAIA_ESTAGIO] ON [TATZ_MYINDAIA_PEDIDO]
(
	[NR_REFERENCIA] ASC,
	[NR_ITEM] ASC,
	[NR_PARCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
