USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_MOD_SDA](
	[CD_MOD_SDA] [char](2) NOT NULL,
	[NM_MOD_SDA] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TTP_MOD_SDA] PRIMARY KEY CLUSTERED 
(
	[CD_MOD_SDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
