USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CANAL_MES_MOD2](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[MES] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_AREA] [char](2) NOT NULL,
	[NM_GRUPO_AREA] [char](3) NULL,
	[QT_PROC_VERMELHO] [int] NULL,
	[QT_PROC_AMARELO] [int] NULL,
	[QT_PROC_VERDE] [int] NULL,
	[QT_PROC_CINZA] [int] NULL,
	[MEDIA_DIAS_VERMELHO] [int] NULL,
	[MEDIA_DIAS_AMARELO] [int] NULL,
	[MEDIA_DIAS_VERDE] [int] NULL,
	[MEDIA_DIAS_CINZA] [int] NULL,
	[QT_PROC_TOTAL_AREA] [int] NULL,
	[QT_TOTAL_MEDIA_DIAS] [int] NULL,
	[QT_PROC_TOTAL_VERMELHO] [int] NULL,
	[QT_PROC_TOTAL_AMARELO] [int] NULL,
	[QT_PROC_TOTAL_VERDE] [int] NULL,
	[QT_PROC_TOTAL_CINZA] [int] NULL,
	[QT_TOTAL_PROCESSO] [int] NULL
) ON [PRIMARY]

GO
