USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_RE_OUTROS](
	[NR_PROCESSO] [char](18) NULL,
	[NR_RE] [char](15) NULL,
	[IN_BAIXADO] [char](1) NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[NM_DESPACHANTE] [varchar](255) NULL,
	[CPF_DESPACHANTE] [char](11) NULL,
	[NM_SENHA_DESPACHANTE] [varchar](30) NULL,
	[TX_OBSERVACAO] [varchar](1000) NULL
) ON [PRIMARY]

GO
