USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_BOL_PORT](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[NR_BOLETO] [char](10) NOT NULL,
	[NR_FATURA] [char](6) NOT NULL,
	[DT_GERACAO] [datetime] NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[VL_BOLETO] [float] NULL,
	[CD_REFERENCIA] [char](30) NULL,
 CONSTRAINT [PK_TREL_BOL_PORT] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_CLIENTE] ASC,
	[NR_BOLETO] ASC,
	[NR_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
