USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ttp_destino_bkp](
	[CD_TP_DESTINO] [char](1) NOT NULL,
	[NM_TP_DESTINO] [char](20) NULL,
	[AP_TP_DESTINO] [char](10) NULL
) ON [PRIMARY]

GO
