USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCST_PISCOFINS](
	[CD_CST_PISCOFINS] [varchar](2) NULL,
	[CD_TIPO_BENEF_PIS_COFINS] [varchar](10) NULL
) ON [PRIMARY]

GO
