USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMBARCACAO_SEMAFORICO](
	[NM_EMBARCACAO] [varchar](40) NULL,
	[ID_EMBARCACAO] [int] NULL
) ON [PRIMARY]

GO
