USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EST_CNTR_VL_CIF_MERC](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_MERCADORIA] [char](20) NULL,
	[VL_CIF_MN] [float] NULL,
 CONSTRAINT [PK_TREL_EST_CNTR_VL_CIF_MERC] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_EST_CNTR_VL_CIF_MERC] ADD  CONSTRAINT [DF_TREL_EST_CNTR_VL_CIF_MERC_VL_CIF_MN]  DEFAULT (0) FOR [VL_CIF_MN]
GO
