USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINT_MESQUITA007_JOB](
	[NM_CNPJ] [varchar](20) NULL,
	[NM_NAVIO] [varchar](20) NULL,
	[VIAGEM] [varchar](14) NULL,
	[NR_BL] [varchar](22) NULL,
	[NM_PORTO] [varchar](22) NULL,
	[NM_ARMADOR] [varchar](20) NULL,
	[NR_SEQUENCIA] [varchar](5) NULL,
	[NM_MERCADORIA] [varchar](57) NULL,
	[TP_MERCADORIA] [varchar](22) NULL,
	[EMBALAGEM] [varchar](14) NULL,
	[QTDE] [varchar](12) NULL,
	[SALDO] [varchar](12) NULL,
	[PESO] [varchar](17) NULL
) ON [PRIMARY]

GO
