USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUSUARIO](
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_SENHA] [char](10) NULL,
	[CD_CARGO] [char](3) NOT NULL,
	[NM_USUARIO] [char](50) NOT NULL,
	[AP_USUARIO] [char](15) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TUSUARIO_IN_ATIVO_2__12]  DEFAULT ('1'),
	[CD_INSTALACAO] [char](1) NULL CONSTRAINT [DF_TUSUARIO_CD_INSTALACA1__108]  DEFAULT ('1'),
	[NM_EMAIL] [varchar](2000) NULL,
	[IN_AVISO_PO] [char](1) NULL CONSTRAINT [DF__TUSUARIO__IN_AVI__06B298C7]  DEFAULT ('0'),
	[CD_CELULA] [char](2) NULL,
	[CD_TRANSP_ROD] [char](4) NULL,
	[IN_SELECIONADO] [char](1) NULL,
	[CD_IDIOMA] [int] NULL CONSTRAINT [DF_TUSUARIO_CD_IDIOMA]  DEFAULT ('0'),
	[DT_ULT_ALT_SENHA] [datetime] NULL,
	[IN_ALT_STATUS_RECEB] [char](1) NULL,
	[CD_EMPRESA] [char](5) NULL,
	[CD_CHEFIA] [char](4) NULL,
	[IN_MODO_PREVIEW] [char](1) NULL,
	[IN_FECHAR_MOV_FINANC] [char](1) NULL,
	[IN_PERMITE_FATURAMENTO] [char](1) NULL,
	[IN_PERMITE_ALTERA_REG_DDE] [char](1) NULL,
	[CD_COMPUTADOR] [int] NULL,
	[EXIBE_RESUMO] [char](1) NULL,
	[EXIBE_DETALHE] [char](1) NULL,
	[IN_ZERA_LIQUIDACAO] [char](1) NULL,
	[GRUPO_RAP] [char](3) NULL,
	[SUPERVISA_PENDENCIAS] [char](1) NULL,
	[NM_SENHA_INICIAL] [varchar](20) NULL,
	[IN_MANAGER] [char](1) NULL,
	[IN_ONLINE] [char](1) NULL,
	[DT_ULT_ACESSO] [datetime] NULL,
	[CD_TEMA] [char](1) NULL CONSTRAINT [DF_TUSUARIO_CD_TEMA]  DEFAULT ('1'),
	[CD_GRUPO_DETALHES] [char](3) NULL CONSTRAINT [DF_TUSUARIO_CD_GRUPO_DETALHES]  DEFAULT ((28)),
	[IN_MANAGER_SITE] [char](1) NULL CONSTRAINT [DF_TUSUARIO_IN_MANAGER_SITE]  DEFAULT ('0'),
	[CD_SUPERIOR_DIRETO] [char](4) NULL,
	[DT_ACESSO_AGORA] [datetime] NULL,
	[DT_ULTIMA_ACAO] [datetime] NULL,
	[NR_SERVER_MONEY] [int] NULL,
 CONSTRAINT [PK_TUSUARIO] PRIMARY KEY CLUSTERED 
(
	[CD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_AP_USUARIO] ON [TUSUARIO]
(
	[AP_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_CARGO] ON [TUSUARIO]
(
	[CD_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
