USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMOTIVO_RETIF](
	[CD_MOTIVO_RETIF] [char](2) NOT NULL,
	[NM_MOTIVO_RETIF] [char](100) NOT NULL,
 CONSTRAINT [PK_TMOTIVO_RETIF] PRIMARY KEY CLUSTERED 
(
	[CD_MOTIVO_RETIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
