USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMPRESA_EST](
	[CD_EMPRESA] [char](5) NOT NULL,
	[NM_EMPRESA] [varchar](100) NULL,
	[AP_EMPRESA] [varchar](10) NULL,
	[END_EMPRESA] [varchar](100) NULL,
	[END_NUMERO] [varchar](6) NULL,
	[END_COMPL] [char](41) NULL,
	[END_CIDADE] [varchar](30) NULL,
	[END_ESTADO] [varchar](30) NULL,
	[CD_PAIS] [char](3) NULL,
	[NR_TELEFONE] [varchar](15) NULL,
	[NR_FAX] [varchar](15) NULL,
	[DT_INCLUSAO] [datetime] NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TEMPRESA_E_IN_ATIVO_1__10]  DEFAULT ('1'),
	[IN_AGENTE] [bit] NOT NULL CONSTRAINT [DF_TEMPRESA_EST_IN_AGENTE]  DEFAULT (0),
	[IN_BANCO] [bit] NOT NULL CONSTRAINT [DF_TEMPRESA_EST_IN_BANCO]  DEFAULT (0),
	[IN_IMPORTADOR] [bit] NOT NULL CONSTRAINT [DF_TEMPRESA_EST_IN_IMPORTADOR]  DEFAULT (0),
	[IN_SEGURADORA] [bit] NOT NULL CONSTRAINT [DF_TEMPRESA_EST_IN_SEGURADORA]  DEFAULT (0),
	[TX_OBS_AGENTE] [text] NULL,
	[TX_OBS_BANCO] [text] NULL,
	[TX_OBS_IMP] [text] NULL,
	[TX_OBS_SEG] [text] NULL,
	[IN_EXPORTADOR] [bit] NOT NULL CONSTRAINT [DF__TEMPRESA___IN_EX__2455A842]  DEFAULT (0),
	[NR_CLIENTE] [char](15) NULL,
	[NM_CONTATO] [char](50) NULL,
	[IN_COMPRADOR] [bit] NOT NULL CONSTRAINT [DF_TEMPRESA_EST_IN_COMPRADOR]  DEFAULT (0),
	[CGC_EMPRESA] [char](14) NULL,
	[IN_PO_TRANS] [char](1) NULL CONSTRAINT [DF_TEMPRESA_EST_IN_PO_TRANS]  DEFAULT (0),
	[NR_RUC] [char](25) NULL,
	[NR_NIT] [char](25) NULL,
	[NR_CUIT] [char](25) NULL,
	[IN_DECLARACAO_DETENTOR] [char](1) NULL,
 CONSTRAINT [PK_TEMPRESA_EST] PRIMARY KEY CLUSTERED 
(
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_EXP] ON [TEMPRESA_EST]
(
	[CD_EMPRESA] ASC,
	[IN_EXPORTADOR] ASC,
	[IN_ATIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_IMP] ON [TEMPRESA_EST]
(
	[CD_EMPRESA] ASC,
	[IN_IMPORTADOR] ASC,
	[IN_ATIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
