USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREPARA_PO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PROC_OLD] [char](18) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_PAIS_TRANSBORDO] [char](3) NULL,
	[CD_PAGTO_CAMBIO] [char](4) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_PAIS_PROCEDENCIA] [char](3) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[CD_URF_DESPACHO] [char](7) NULL,
	[CD_URF_ENTRADA] [char](7) NULL,
	[DT_REC_FAX_DOCS] [datetime] NULL,
	[DT_REC_DOCS] [datetime] NULL,
	[DT_PREV_CHEGADA_FABR] [datetime] NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_TRANSBORDO] [datetime] NULL,
	[DT_CONH_EMBARQUE] [datetime] NULL,
	[NR_CONH_EMBARQUE] [char](18) NULL,
	[NR_MANIFESTO] [char](15) NULL,
	[NR_CONH_TRANSBORDO] [char](15) NULL,
	[NM_IDENT_TRANSBORDO] [char](30) NULL,
	[QT_BAIXADA] [float] NULL CONSTRAINT [DF_TPREPARA_PO_QT_BAIXADA]  DEFAULT (0),
	[TP_EMBARQUE] [char](1) NULL CONSTRAINT [DF_TPREPARA_PO_TP_EMBARQUE]  DEFAULT ('0'),
	[TP_CALC_RAT_DESPESA] [char](1) NULL CONSTRAINT [DF_TPREPARA_PO_TP_CALC_RAT_DESPESA]  DEFAULT ('0'),
	[VL_TOT_BAIXADO] [float] NULL,
	[VL_TOT_FRETE] [float] NULL CONSTRAINT [DF_TPREPARA_PO_VL_FRETE]  DEFAULT (0),
	[VL_TOT_SEGURO] [float] NULL CONSTRAINT [DF_TPREPARA_PO_VL_SEGURO]  DEFAULT (0),
	[IN_PREPARACAO] [char](1) NULL CONSTRAINT [DF_TPREPARA_PO_IN_PREPARARACAO]  DEFAULT ('0'),
	[QT_TOTAL_ITEM] [char](3) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[IN_MONTADO] [char](1) NULL CONSTRAINT [DF_TPREPARA_PO_IN_MONTADO]  DEFAULT ('0'),
	[CD_USUARIO_MONTA] [char](4) NULL,
	[TP_PROCESSO] [char](1) NOT NULL CONSTRAINT [DF__TPREPARA___TP_PR__0A0C91B1]  DEFAULT (1),
 CONSTRAINT [PK_TPREPARA_PO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[TP_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
