USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_AND_PROCESSO_EXP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [char](2) NOT NULL,
	[TX_OBS] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
