USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDIAGNOSTICO_HABILITACAO](
	[CD_DIAGNOSTICO] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
 CONSTRAINT [PK_TDIAGNOSTICO_HABILITACAO] PRIMARY KEY NONCLUSTERED 
(
	[CD_DIAGNOSTICO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_GRUPO] ASC,
	[CD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TDIAGNOSTICO_HABILITACAO]  WITH CHECK ADD  CONSTRAINT [FK_TDIAGNOSTICO_TDIAGNOSTICO_HABILITACAO] FOREIGN KEY([CD_DIAGNOSTICO])
REFERENCES [TDIAGNOSTICO] ([CD_DIAGNOSTICO])
GO
ALTER TABLE [TDIAGNOSTICO_HABILITACAO] CHECK CONSTRAINT [FK_TDIAGNOSTICO_TDIAGNOSTICO_HABILITACAO]
GO
