USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TS_FATURA_CONTROLE](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[IN_FECHADO] [char](1) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[DT_FECHAMENTO] [datetime] NULL,
	[IN_CONTABILIZADO] [char](1) NULL,
	[DT_CONTABILIZACAO] [datetime] NULL,
	[CD_CONTABILIZADOR] [char](4) NULL,
 CONSTRAINT [PK_TS_FATURA_CONTROLE] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[DT_MOVIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
