USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_LIQ_SALDOS_PENDENTES](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[DT_FATURA] [datetime] NULL,
	[TP_TIPO_FAT] [char](1) NULL,
	[NR_NOTA_FATURA] [char](6) NULL,
	[VL_FATURA] [float] NOT NULL CONSTRAINT [DF_TREL_LIQ_SALDOS_PENDENTES_VL_FATURA]  DEFAULT (0),
	[VL_LIQUIDACAO] [float] NOT NULL CONSTRAINT [DF_TREL_LIQ_SALDOS_PENDENTES_VL_LIQUIDACAO]  DEFAULT (0),
	[VL_SALDO_PENDENTE] [float] NOT NULL CONSTRAINT [DF_TREL_LIQ_SALDOS_PENDENTES_VL_SALDO_PENDENTE]  DEFAULT (0),
	[DT_LIQUIDACAO] [datetime] NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[NR_DIAS_VENC_EMISSAO] [int] NULL,
	[CD_GRUPO] [char](3) NULL,
	[NM_GRUPO] [char](50) NULL,
 CONSTRAINT [PK_TREL_LIQ_SALDOS_PENDENTES] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
