USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVIAGEM](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_EMBARCACAO] [char](4) NOT NULL,
	[NR_VIAGEM] [char](4) NOT NULL,
	[DT_ESPERADA] [datetime] NULL,
	[DT_ENT] [datetime] NULL,
	[CD_ARMAZEM_ATRACACAO] [char](4) NULL,
	[NR_MANIFESTO] [char](15) NULL,
	[IN_TRANSBORDO] [char](1) NULL,
	[CD_LOCAL] [char](4) NOT NULL,
	[CD_CIDADE] [varchar](20) NULL,
	[CD_UF] [varchar](2) NULL,
	[CD_PAIS] [varchar](20) NULL,
	[TX_BANDEIRA] [varchar](20) NULL,
	[NR_FONTE] [int] NULL,
	[DT_DEADLINE_BL] [datetime] NULL,
	[DT_DEADLINE_CARGA] [datetime] NULL,
	[NR_TRANSIT_TIME] [float] NULL,
	[DT_ABERTURA_GATE] [datetime] NULL,
	[DT_PREVISTA_ORIGEM_DESTINO] [datetime] NULL,
	[NR_VIAGEM_ARMADOR] [char](15) NULL,
	[DT_DEADLINE_IMO] [datetime] NULL,
	[DT_DEADLINE_CARTA_TEMP] [datetime] NULL,
	[HR_DEADLINE_CARTA_TEMP] [char](10) NULL,
	[HR_DEADLINE_BL] [char](10) NULL,
	[HR_DEADLINE_CARGA] [char](10) NULL,
	[HR_DEADLINE_IMO] [char](10) NULL,
	[HR_ABERTURA_GATE] [char](10) NULL,
	[CD_CRIADOR_VIAGEM] [char](4) NULL,
	[DT_CRIACAO_VIAGEM] [datetime] NULL CONSTRAINT [DF_TVIAGEM_DT_CRIACAO_VIAGEM]  DEFAULT (getdate()),
 CONSTRAINT [PK_TVIAGEM] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_EMBARCACAO] ASC,
	[NR_VIAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
