USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_SERVICO_IW_EW_BKP](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
	[NR_DPS] [char](8) NULL,
	[DT_CAPTACAO] [datetime] NULL,
	[PZ_PROPOSTA] [int] NULL,
	[IN_INCIDE_SDA] [char](1) NOT NULL,
	[DT_AUTORIZACAO] [datetime] NULL,
	[CD_PREFIXO] [char](2) NULL,
	[CD_BANCO_DEB_CC] [char](3) NULL,
	[CD_BANCO_COM] [char](3) NULL,
	[CD_BANCO_DEB_COM] [char](3) NULL,
	[IN_CPMF_NUM] [char](1) NULL,
	[CD_TAB_SDA] [char](3) NULL,
	[IN_REL_VOL_MOD2] [char](1) NULL,
	[IN_LANCA_SOLIC] [char](1) NULL
) ON [PRIMARY]

GO
