USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAJUSTE_IMPRESSAO_BOLETO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[NR_BANCO] [char](3) NOT NULL,
	[L_LOCAL_PAGTO] [char](3) NULL,
	[C_LOCAL_PAGTO] [char](3) NULL,
	[C_DT_VENCTO] [char](3) NULL,
	[L_DT_DOCTO] [char](3) NULL,
	[C_DT_DOCTO] [char](3) NULL,
	[C_NR_DOCTO] [char](3) NULL,
	[L_VL_DOCTO] [char](3) NULL,
	[C_VL_DOCTO] [char](3) NULL,
	[L_TX_INSTR] [char](3) NULL,
	[C_TX_INSTR] [char](3) NULL,
	[L_NR_FATURA] [char](3) NULL,
	[C_NR_FATURA] [char](3) NULL,
	[L_SACADO] [char](3) NULL,
	[C_SACADO] [char](3) NULL,
 CONSTRAINT [PK_TAJUSTE_IMPRESSAO_BOLETO] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[NR_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
