USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCTAAPAGAR_GER](
	[DT_CTAAPAGAR] [datetime] NOT NULL,
	[NR_CTAAPAGAR] [char](3) NOT NULL,
	[CD_CT_CONTABIL] [char](12) NOT NULL,
	[CD_FILIAL] [char](3) NOT NULL,
	[CD_CT_GERENCIAL] [char](4) NOT NULL,
	[CD_CT_CUSTO] [char](4) NOT NULL,
	[VL_LANCAMENTO] [float] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
 CONSTRAINT [PK_TCTAAPAGAR_GER_1__119] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[DT_CTAAPAGAR] ASC,
	[NR_CTAAPAGAR] ASC,
	[CD_CT_CONTABIL] ASC,
	[CD_CT_GERENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
