USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDA_VENCTO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[DT_VENCTO_DA] [datetime] NOT NULL,
	[NR_PROTOCOLO] [varchar](20) NULL,
	[DT_PROTOCOLO] [datetime] NULL,
	[DT_DEFERIMENTO] [datetime] NULL,
 CONSTRAINT [PK_TDA_VENCTO] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC,
	[DT_VENCTO_DA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
