USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_REQ_PAGTO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_CHEQUE] [char](6) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[NR_CONHECIMENTO] [char](18) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[VL_ITEM] [float] NULL,
	[CD_FAVORECIDO] [char](5) NULL,
 CONSTRAINT [PK_TREL_REQ_PAGTO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_CHEQUE] ASC,
	[CD_ITEM] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
