USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUNID_PROD_DESPACH](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_DESPACHANTE] [char](3) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TUNID_PROD_IN_ATIVO_2__16]  DEFAULT ('1'),
	[DT_ANO_MES] [char](6) NULL CONSTRAINT [DF_TUNID_PROD_DT_ANO_MES_1__12]  DEFAULT ('000000'),
	[VL_SDA_MES] [float] NULL CONSTRAINT [DF_TUNID_PROD_VL_SDA_MES_2__12]  DEFAULT (0),
 CONSTRAINT [PK_TUNID_PROD_DESPACH_1__16] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_DESPACHANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
