USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOCAL_EMISSAO](
	[CODIGO] [char](3) NOT NULL,
	[NOME] [char](50) NULL,
	[ESTADO] [char](2) NULL,
	[PAIS] [char](3) NULL,
 CONSTRAINT [PK_TLOCAL_EMISSAO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
