USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMSGS_DIAGNOSTICO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCR_MSG] [char](255) NULL,
	[STATUS] [char](1) NULL
) ON [PRIMARY]

GO
