USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_LEAD_TIME](
	[NR_IDENTIFICADOR] [smallint] NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[QT_TOT_PROC] [smallint] NULL,
	[NR_META] [float] NULL,
	[QT_ABAIXO_META] [smallint] NULL,
	[NR_DIAS_ABAIXO_META] [smallint] NULL,
	[MEDIA_ABAIXO_META] [smallint] NULL,
	[QT_ACIMA_META] [smallint] NULL,
	[NR_DIAS_ACIMA_META] [smallint] NULL,
	[MEDIA_ACIMA_META] [smallint] NULL,
	[MEDIA_GRUPO] [float] NULL,
 CONSTRAINT [PK_TREL_LEAD_TIME] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_GRUPO] ASC,
	[CD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
