USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPRIEDADE_COMPONENTE](
	[NM_PROPRIEDADE] [char](50) NOT NULL,
	[CD_TIPO_PROPRIEDADE] [int] NOT NULL,
	[CD_TIPO_COMPONENTE] [int] NOT NULL,
 CONSTRAINT [PK_TPROPRIEDADE_COMPONENTE] PRIMARY KEY CLUSTERED 
(
	[NM_PROPRIEDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [FK_TTP_COMPONENTE_TPROPRIEDADE_COMPONENTE] ON [TPROPRIEDADE_COMPONENTE]
(
	[CD_TIPO_COMPONENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [FK_TTP_PROPRIEDADE_TPROPRIEDADE_COMPONENTE] ON [TPROPRIEDADE_COMPONENTE]
(
	[CD_TIPO_PROPRIEDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [TPROPRIEDADE_COMPONENTE]  WITH CHECK ADD  CONSTRAINT [FK_TTP_COMPONENTE_TPROPRIEDADE_COMPONENTE] FOREIGN KEY([CD_TIPO_COMPONENTE])
REFERENCES [TTP_COMPONENTE] ([CD_TIPO_COMPONENTE])
GO
ALTER TABLE [TPROPRIEDADE_COMPONENTE] CHECK CONSTRAINT [FK_TTP_COMPONENTE_TPROPRIEDADE_COMPONENTE]
GO
ALTER TABLE [TPROPRIEDADE_COMPONENTE]  WITH CHECK ADD  CONSTRAINT [FK_TTP_PROPRIEDADE_TPROPRIEDADE_COMPONENTE] FOREIGN KEY([CD_TIPO_PROPRIEDADE])
REFERENCES [TTP_PROPRIEDADE] ([CD_TIPO_PROPRIEDADE])
GO
ALTER TABLE [TPROPRIEDADE_COMPONENTE] CHECK CONSTRAINT [FK_TTP_PROPRIEDADE_TPROPRIEDADE_COMPONENTE]
GO
