USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TB_EMPRESA_NAC_LOG](
	[CD_EMPRESA] [char](5) NULL,
	[TX_OBS] [varchar](8000) NULL,
	[TIPO_OPERACAO] [char](1) NULL
) ON [PRIMARY]

GO
