USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_NAO_DESEMB_DI_EV](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[DT_REALIZACAO] [datetime] NULL,
	[TX_OBS] [text] NULL,
	[NR_ORDEM] [smallint] NULL,
 CONSTRAINT [PK_TREL_NAO_DESEMB_DI_EV] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
