USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSOLIC_CHEQUE](
	[DT_SOLIC_CH] [char](10) NOT NULL,
	[NR_SOLIC_CH] [char](3) NOT NULL,
	[HM_SOLIC_CH] [char](5) NOT NULL,
	[CD_STATUS_SOLIC_CH] [char](1) NULL,
	[VL_SOLIC_CH] [float] NULL CONSTRAINT [DF_TSOLIC_CHE_VL_SOLIC_CH2__25]  DEFAULT (0),
	[CD_USUARIO] [char](4) NULL,
	[CD_BANCO] [char](3) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[QT_LANCAMENTOS] [int] NULL,
	[NR_CHEQUE] [char](6) NULL,
	[CD_STATUS_CHEQUE] [char](1) NULL,
	[IN_TRANSFERIDO] [char](1) NULL CONSTRAINT [DF_TSOLIC_CHE_IN_TRANSFER1__25]  DEFAULT ('0'),
	[CD_LIBERADOR] [char](4) NULL,
	[DT_LIBERACAO] [char](10) NULL,
	[HM_LIBERACAO] [char](5) NULL,
	[CD_TIPO_LANC] [char](1) NULL,
	[CD_CANCELADOR] [char](4) NULL,
	[DT_CANCELAMENTO] [char](10) NULL,
	[IN_EMITIR] [char](1) NULL CONSTRAINT [DF_TSOLIC_CHE_IN_EMITIR_1__33]  DEFAULT ('0'),
 CONSTRAINT [PK_TSOLIC_CHEQUE] PRIMARY KEY CLUSTERED 
(
	[DT_SOLIC_CH] ASC,
	[NR_SOLIC_CH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
