USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEBIMENTO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RECEBIMENTO] [char](3) NOT NULL,
	[DT_RECEBIMENTO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_BANCO] [char](3) NULL,
	[VL_RECEBIMENTO] [float] NULL CONSTRAINT [DF_TRECEBIMEN_VL_RECEBIME4__33]  DEFAULT (0),
	[IN_CANCELADO] [char](1) NOT NULL CONSTRAINT [DF_TRECEBIMEN_IN_CANCELAD2__33]  DEFAULT ('0'),
	[DT_CANCELAMENTO] [datetime] NULL,
	[CD_USUARIO_CANC] [char](4) NULL,
	[IN_TRANSFERIDO] [char](1) NOT NULL CONSTRAINT [DF_TRECEBIMEN_IN_TRANSFER3__33]  DEFAULT ('0'),
	[CD_CLIENTE] [char](5) NULL,
	[QT_ITENS_RECEB] [int] NULL,
	[IN_TRANSF_CANC] [char](1) NULL CONSTRAINT [DF_TRECEBIMEN_IN_TRANSF_C1__21]  DEFAULT ('0'),
	[VL_DEVOLVIDO] [float] NULL CONSTRAINT [DF_TRECEBIMEN_VL_DEVOLVID1__18]  DEFAULT (0),
	[IN_FAV_SM] [char](1) NULL CONSTRAINT [DF_TRECEBIMEN_IN_FAV_SM_1__26]  DEFAULT ('0'),
	[DT_SOLIC_CH] [char](10) NULL,
	[NR_SOLIC_CH] [char](3) NULL,
	[NR_FP] [char](10) NULL,
 CONSTRAINT [PK_TRECEBIMENTO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_RECEBIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
