USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [JoinIndexSearch]
  @contextid int,
  @parentid  int,
  @attrnameid int,
  @attrvalue varchar(255)
AS
SELECT KEYTABLE.imalock, KEYTABLE.nodeid, 
       KEYTABLE.uidhost,KEYTABLE.uidtype,KEYTABLE.uidid, 
       KEYTABLE.contextid, 
       KEYTABLE.rdn,DATATABLE.partno, DATATABLE.partcount,
       DATATABLE.datapart
FROM INDEXTABLE 
INNER JOIN	KEYTABLE ON (KEYTABLE.nodeid = INDEXTABLE.nodeid)
INNER JOIN	DATATABLE ON (KEYTABLE.nodeid = DATATABLE.nodeid)
WHERE INDEXTABLE.contextid=@contextid AND INDEXTABLE.parentid=@parentid 
    AND INDEXTABLE.attrnameid=@attrnameid AND INDEXTABLE.attrvalue=@attrvalue
ORDER BY DATATABLE.nodeid, DATATABLE.partno

GO
