USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNUMERO_FATURA](
	[NR_FATURA] [char](6) NULL,
	[CD_USUARIO] [char](4) NULL,
	[DT_ABERTURA] [datetime] NULL
) ON [PRIMARY]

GO
