USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUSUARIO_SENHAS](
	[CD_USUARIO] [char](4) NULL,
	[DT_SENHA] [datetime] NULL,
	[NM_SENHA] [varchar](50) NULL
) ON [PRIMARY]

GO
