USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEBIMENTO_TARIFARIO](
	[NR_RECEBIMENTO] [char](6) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_TARIFARIO] [float] NULL,
	[VL_MANUAL] [float] NULL,
	[CD_UNID_NEG] [char](2) NULL
) ON [PRIMARY]

GO
