USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_MOV_CENTRO_CUSTO_TOTAIS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_CT_CONTABIL] [char](10) NOT NULL,
	[VL_TOTAL] [float] NULL,
 CONSTRAINT [PK_TREL_MOV_CENTRO_CUSTO_TOTAIS] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_CT_CONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
