USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTOT_SERV_CLI_PERIODO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[SERV1] [int] NOT NULL,
	[SERV2] [int] NOT NULL,
	[SERV3] [int] NOT NULL,
	[SERV4] [int] NOT NULL,
	[SERV5] [int] NOT NULL,
	[SERV6] [int] NOT NULL,
	[OUTROS] [int] NOT NULL,
	[TOT_PROC] [int] NOT NULL,
	[DT_ULT_PROC] [datetime] NOT NULL,
 CONSTRAINT [PK_TTOT_SERV_CLI_PERIODO] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
