USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_REC_LIQ](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_GRUPO] [char](3) NULL,
	[NM_GRUPO] [char](15) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[NM_CLIENTE] [char](10) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[VL_RECEITA] [float] NULL,
	[VL_SALDO] [float] NULL,
	[DT_MOVIMENTO] [datetime] NULL,
	[CD_BANCO] [char](3) NULL
) ON [PRIMARY]

GO
