USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRETENCAO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_NOTA] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[DT_FATURA] [datetime] NOT NULL,
	[CD_CLIENTE] [char](8) NULL,
	[VL_TRIBUTAVEL] [float] NULL,
	[VL_RETENCAO] [float] NULL,
	[IN_JA_RETIDO] [char](1) NULL,
	[NR_SOLICITACAO] [char](6) NULL,
	[IN_RETIDO_TOTAL] [char](1) NULL,
	[VL_IR] [float] NULL,
	[IN_RETIDO_IR] [char](1) NULL,
	[IN_IR_RETIDO_ATUAL] [char](1) NULL,
	[VL_IR_RETIDO] [float] NULL
) ON [PRIMARY]

GO
