USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDT_BASE_MOEDA_IND](
	[CD_DT_BASE] [char](1) NOT NULL,
	[NM_DT_BASE] [char](20) NOT NULL,
 CONSTRAINT [PK_TDT_BASE_MOEDA_IND_1__26] PRIMARY KEY CLUSTERED 
(
	[CD_DT_BASE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
