USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDDIMPORT_CUSTO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_DI] [char](12) NULL,
	[NR_PEDIDO] [char](10) NULL,
	[TX_CAMBIO_REG_DI] [float] NULL,
	[NR_ITEM_PEDIDO] [char](5) NULL,
	[NR_FATURA] [char](16) NULL,
	[CD_PRODUTO] [char](18) NULL,
	[QTDE] [float] NULL,
	[VL_FOB_ITEM_MNEG] [float] NULL,
	[RESERVA_1] [float] NULL,
	[VL_SEGURO] [float] NULL,
	[VL_CPMF] [float] NULL,
	[RESERVA_2] [float] NULL,
	[RESERVA_3] [float] NULL,
	[RESERVA_4] [float] NULL,
	[VL_II] [float] NULL,
	[VL_IPI] [float] NULL,
	[VL_ICMS] [float] NULL,
	[VL_FRETE] [float] NULL,
	[RESERVA_5] [float] NULL,
	[VL_DESPESAS_FIN] [float] NULL,
	[RESERVA_6] [float] NULL,
	[RESERVA_7] [float] NULL,
	[DT_FATURA] [datetime] NULL,
	[SL_MOEDA] [char](4) NULL,
	[DT_NF_SERVICO_DESP] [datetime] NULL,
	[NR_NF_SERVICO_DESP] [char](8) NULL,
	[VL_NF_SERVICO_DESP] [float] NULL,
	[DT_VENCTO_NF_SERVICO_DESP] [datetime] NULL,
	[VL_IRRF_DESP] [float] NULL,
	[RESERVA_8] [char](10) NULL,
	[RESERVA_9] [char](10) NULL,
	[NR_ADICAO_DI] [char](3) NULL,
	[RESERVA_10] [char](25) NULL,
	[REF_DESP] [char](15) NULL,
	[RESERVA_11] [char](15) NULL,
	[VL_TX_SISCOMEX] [float] NULL,
	[VL_ARMAZENAGEM] [float] NULL,
	[VL_SDA] [float] NULL,
	[NR_NF_ENTRADA] [char](16) NULL,
	[RESERVA_12] [char](10) NULL,
	[VL_MULTA] [float] NULL,
	[TP_FRETE] [char](1) NULL,
	[REF_EMB_DDIMPORT] [char](15) NULL,
	[VL_FRETE_ROD] [float] NULL,
	[VL_MARINHA] [float] NULL,
	[VL_CAPATAZIA] [float] NULL,
	[VL_REMOCAO_DAP] [float] NULL,
	[VL_TX_LIB_BL] [float] NULL,
	[VL_TX_DESC] [float] NULL,
	[VL_SERV_ADUAN] [float] NULL,
	[VL_DECEX_LI] [float] NULL,
	[VL_FITP] [float] NULL,
	[VL_LAUDO_TECN] [float] NULL,
	[VL_MOV_PRI] [float] NULL,
	[VL_MOV_RETRO] [float] NULL,
	[VL_CAUCAO_CNTR] [float] NULL,
	[VL_DESPESA_1] [float] NULL,
	[VL_DESPESA_2] [float] NULL,
	[VL_DESPESA_3] [float] NULL,
	[VL_OUTRAS_DESPESA] [float] NULL,
	[VL_TX_CAMBIO_FRETE_DI] [float] NULL,
	[VL_TX_CAMBIO_SEGURO_DI] [float] NULL,
	[VL_TX_CAMBIO_DOLAR_DI] [float] NULL,
	[DT_FECHAMENTO] [datetime] NULL,
	[NR_ITEM_EMBARQUE] [char](4) NULL,
	[CD_DELIVERY_NOTE] [char](50) NULL,
	[VL_BASE_CALCULO_PIS_COFINS] [float] NULL,
	[VL_PIS] [float] NULL,
	[VL_COFINS] [float] NULL,
	[VL_COFINS_ARMAZENAGEM] [float] NULL,
	[VL_PIS_ARMAZENAGEM] [float] NULL,
	[NR_SOLIC_FAT] [char](6) NULL
) ON [PRIMARY]

GO
