USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TS_FATURA_DOCUMENTO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[CD_FORMA_DOC] [char](1) NOT NULL CONSTRAINT [DF__TS_FATURA__CD_FO__790C22E1]  DEFAULT ('0'),
	[NR_DOCTO] [char](30) NOT NULL CONSTRAINT [DF_TS_FATURA_DOCUMENTO_NR_DOCTO]  DEFAULT (' '),
 CONSTRAINT [PK_TS_FATURA_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC,
	[CD_DOCUMENTO] ASC,
	[NR_DOCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
