USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCAD_CONFIG_STATUS_DETAIL](
	[NR_CAD_CONFIG_STATUS] [int] NOT NULL,
	[CD_ETAPA] [int] NOT NULL,
	[CD_EVENTO] [char](3) NULL,
 CONSTRAINT [PK_TCAD_CONFIG_STATUS_DETAIL] PRIMARY KEY CLUSTERED 
(
	[NR_CAD_CONFIG_STATUS] ASC,
	[CD_ETAPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
