USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPERMISSAO_EMPRESA_EST](
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_EMPRESA] [char](5) NOT NULL,
	[IN_ATIVO] [char](1) NULL,
 CONSTRAINT [PK_TPERMISSAO_EMPRESA_EST] PRIMARY KEY CLUSTERED 
(
	[CD_USUARIO] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
