USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TURF_SCX_EXP](
	[CD_URF] [char](7) NOT NULL,
	[NM_URF] [varchar](30) NOT NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
 CONSTRAINT [PK_TURF_SCX_EXP] PRIMARY KEY NONCLUSTERED 
(
	[CD_URF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
