USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCTAAPAGAR_LANC](
	[DT_CTAAPAGAR] [datetime] NOT NULL,
	[NR_CTAAPAGAR] [char](3) NOT NULL,
	[CD_CT_CONTABIL] [char](12) NULL,
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CD_FILIAL] [char](2) NOT NULL,
	[CD_CT_CUSTO] [char](25) NULL,
	[VL_LANCAMENTO] [float] NOT NULL CONSTRAINT [DF_TCTAAPAGAR_VL_LANCAME2__119]  DEFAULT (0),
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_ACESSO] [char](1) NULL,
	[CD_AUX] [char](3) NULL,
	[CD_ITEM] [char](3) NULL,
	[NM_HISTORICO] [text] NULL,
	[NR_LANC_CAIXA] [char](6) NULL,
	[DT_MOVIMENTO_CAIXA] [datetime] NULL,
	[CD_RATEIO] [char](4) NULL,
 CONSTRAINT [PK_TCTAAPAGAR_LANC] PRIMARY KEY CLUSTERED 
(
	[DT_CTAAPAGAR] ASC,
	[NR_CTAAPAGAR] ASC,
	[CODIGO] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
