USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTA_CAIXA](
	[CD_COLIGADA] [char](2) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_CONTA] [char](3) NOT NULL,
	[NM_CONTA] [varchar](20) NOT NULL,
	[TP_CONTA] [char](1) NOT NULL,
	[CD_BANCO] [char](3) NULL,
	[CT_CONTABIL] [char](8) NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TCONTA_CAI_IN_ATIVO_1__46]  DEFAULT ('1'),
	[IN_BAIXA_ACERTO] [char](1) NULL CONSTRAINT [DF_TCONTA_CAI_IN_BAIXA_AC2__46]  DEFAULT ('0'),
	[IN_EXIBE] [char](1) NULL CONSTRAINT [DF_TCONTA_CAI_IN_EXIBE_1__112]  DEFAULT ('0'),
	[CD_ACESSO] [char](1) NULL,
	[CD_AUX] [char](3) NULL,
	[CD_CT_CONTABIL] [char](10) NULL,
	[NR_CONTA_CONTABIL] [char](40) NULL,
 CONSTRAINT [PK_TCONTA_CAIXA_1__46] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_UNID_NEG] ASC,
	[CD_CONTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
