USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMARGEM](
	[CD_MARGEM] [char](1) NOT NULL,
	[NM_MARGEM] [char](8) NULL,
 CONSTRAINT [PK_TMARGEM] PRIMARY KEY CLUSTERED 
(
	[CD_MARGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
