USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEXPURGO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[VL_CNTR_20] [float] NOT NULL,
	[VL_CNTR_40] [float] NOT NULL,
 CONSTRAINT [PK___10__10] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TEXPURGO] ADD  CONSTRAINT [DF_TEXPURGO_VL_CNTR_20_11__10]  DEFAULT (0) FOR [VL_CNTR_20]
GO
ALTER TABLE [TEXPURGO] ADD  CONSTRAINT [DF_TEXPURGO_VL_CNTR_40_12__10]  DEFAULT (0) FOR [VL_CNTR_40]
GO
