USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [FILE_EXISTS](@FILE_NAME VARCHAR(1000)) RETURNS BIT
BEGIN
    /*
    DECLARE @FILE_NAME VARCHAR(1000)
    SET @FILE_NAME = '\\indaia19\digitalizacao\TPROCESSO\0701JA-0381-11\BLC01.PDF'
    --*/
    DECLARE @RETURN BIT
    DECLARE @COMMAND VARCHAR(2000)

    SET @COMMAND = 'DIR ' + LTRIM(RTRIM(@FILE_NAME))

    EXEC @RETURN = XP_CMDSHELL @COMMAND, NO_OUTPUT

    --/* Comente esta linha para usar o SELECT ao inves do RETURN
    RETURN ABS(@RETURN - 1) --*/SELECT ABS(@RETURN - 1)
END

GO
