USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCARGO_DESCENDENTE](
	[CD_CARGO] [char](3) NOT NULL,
	[CD_DESCENDENTE] [char](3) NOT NULL,
	[NR_NIVEL] [int] NULL,
 CONSTRAINT [PK___1__41] PRIMARY KEY CLUSTERED 
(
	[CD_CARGO] ASC,
	[CD_DESCENDENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
