USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FatoImpo](
	[CdGrupo] [char](3) NOT NULL,
	[CdCliente] [char](5) NOT NULL,
	[Processo] [char](18) NOT NULL,
	[CdArea] [char](2) NOT NULL,
	[CdProduto] [char](2) NOT NULL,
	[CdUnidNeg] [char](2) NOT NULL,
	[CdExportador] [char](5) NOT NULL,
	[CdAgente] [char](4) NOT NULL,
	[CdEmbarcacao] [char](4) NOT NULL,
	[CdArmazemAtracacao] [char](4) NOT NULL,
	[CdArmazemDescarga] [char](4) NOT NULL,
	[CdCanal] [char](1) NOT NULL,
	[CdTransportador] [char](4) NOT NULL,
	[CdPaisOrigem] [char](3) NOT NULL,
	[CdPaisDestino] [char](3) NOT NULL,
	[CdEstufagem] [varchar](1) NOT NULL,
	[CdLocalEmbarque] [char](4) NOT NULL,
	[CdLocalDesembarque] [char](4) NOT NULL,
	[CdURFDespacho] [char](7) NOT NULL,
	[CdIncoterm] [char](3) NOT NULL,
	[DtAbertura] [datetime] NULL,
	[DtEntradaProtocoAnvisa] [datetime] NULL,
	[DtEnvioProcessoAnvisa] [datetime] NULL,
	[DtCriacaoFatura] [datetime] NULL,
	[DtAnaliseDocumental] [datetime] NULL,
	[DtRecepCopiasDocumento] [datetime] NULL,
	[DtRecepBLOriginal] [datetime] NULL,
	[DtRecepFaturaOriginal] [datetime] NULL,
	[DtRecepPackingListOriginal] [datetime] NULL,
	[DtDocsCompletosAnalise] [datetime] NULL,
	[DtChegadaNavioAviaoCaminhao] [datetime] NULL,
	[DtPresencaCarga] [datetime] NULL,
	[DtRegistroDi] [datetime] NULL,
	[DtDesembaraco] [datetime] NULL,
	[DtRecebimentoDanfe] [datetime] NULL,
	[DtLibProcessoTransportadora] [datetime] NULL,
	[DtPendenciaOK] [datetime] NULL,
	[DtDeferimentoLI] [datetime] NULL,
	[DtRetiradaIsencaoSuspensaoDMM] [datetime] NULL,
	[DtProcessoIsencaoSuspensaoDMM] [datetime] NULL,
	[DtAverbacaoApresentacaoTerminal] [datetime] NULL,
	[DtProcessoEnviadoFaturamento] [datetime] NULL,
	[DtProcessoEnviadoPreFaturamento] [datetime] NULL,
	[DtEntregaReceitaFederal] [datetime] NULL,
	[DtLiberacaoConhecimentoMaritimo] [datetime] NULL,
	[DtPagamentoBL] [datetime] NULL,
	[DtEnvioDocumentosDespachante] [datetime] NULL,
	[DtRegistroLISiscomex] [datetime] NULL,
	[DtRecepcaoFaturaProForma] [datetime] NULL,
	[DtSolicitacaoNumerarioDespesas] [datetime] NULL,
	[DtRecebimentoNumerarioDespesas] [datetime] NULL,
	[DtPedidoSAP] [datetime] NULL,
	[DtEnvioShippingInstruction] [datetime] NULL,
	[DtEmbarqueSolicitada] [datetime] NULL,
	[DtRecepcaoDocumentosOriginais] [datetime] NULL,
	[DtSolicitacaoDANFE] [datetime] NULL,
	[DtEntregaProgramada] [datetime] NULL,
	[DtMercadoriaFabrica] [datetime] NULL,
	[DtNecessidadeFabrica] [datetime] NULL,
	[DtEntregaFabrica] [datetime] NULL,
	[DtEnvioDocumentosCambio] [datetime] NULL,
	[DtChegadaFabricaUltContainer] [datetime] NULL,
	[DtFaturamentoIndaia] [datetime] NULL,
	[DtFaturamentoIndaiaDespesas] [datetime] NULL,
	[DtPrevisaoChegadaNavioVooCaminhao] [datetime] NULL,
	[DtEmissaoLI] [datetime] NULL,
	[DtProtocoloMAPA] [datetime] NULL,
	[DtAutorizacaoEmbarqueLI] [datetime] NULL,
	[DtRecepcaoCopiaBL] [datetime] NULL,
	[DtEnviopendencia] [datetime] NULL,
	[DtDoctosOkImpressao] [datetime] NULL,
	[DtChegadaVSDtLibProcessoTransp_Uteis] [int] NULL,
	[DtDocsCompAnaliseVSDtChegada_Uteis] [int] NULL,
	[DtDocsCompAnaliseVSDtAnaliseDoc_Uteis] [int] NULL,
	[DtChegadaNavioVSDtPresencaCarga_Uteis] [int] NULL,
	[DtPresencaCargaVSDtRegDi_Uteis] [int] NULL,
	[DtRegDiVSDtLibProcessoTransp_Uteis] [int] NULL,
	[DtRegDiVSDtRecebDanfe_Uteis] [int] NULL,
	[DtDocsCompAnaliseVSDtCriacaoFat_Uteis] [int] NULL,
	[DtRecepFatProFormaVSDtRegLISiscomex_Uteis] [int] NULL,
 CONSTRAINT [PK_FatoImpo] PRIMARY KEY CLUSTERED 
(
	[Processo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
