USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRIBUTO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[CD_RECEITA_IMPOSTO] [char](4) NOT NULL,
	[CD_TIPO_ALIQ_IPT] [char](1) NULL,
	[VL_BASE_CALC_ADVAL] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_VL_BASE_CALC_A8__21]  DEFAULT (0),
	[PC_ALIQ_NORM_ADVAL] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_PC_ALIQ_NORM_A2__21]  DEFAULT (0),
	[VL_CALC_IPT_ADVAL] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_VL_CALC_IPT_A10__21]  DEFAULT (0),
	[NM_UN_ALIQ_ESP_IPT] [char](15) NULL,
	[CD_TIPO_RECIPIENTE] [char](2) NULL,
	[QT_ML_RECIPIENTE] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_QT_ML_RECIPIEN6__21]  DEFAULT (0),
	[QT_MERC_UN_ALIQ_ES] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_QT_MERC_UN_ALI5__21]  DEFAULT (0),
	[VL_ALIQ_ESPEC_IPT] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_VL_ALIQ_ESPEC_7__21]  DEFAULT (0),
	[VL_CALC_IPT_ESPEC] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_VL_CALC_IPT_E11__21]  DEFAULT (0),
	[CD_TIPO_BENEF_IPI] [char](1) NULL,
	[PC_ALIQ_REDUZIDA] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_PC_ALIQ_REDUZI3__21]  DEFAULT (0),
	[PC_REDUCAO_IPT_BLI] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_PC_REDUCAO_IPT4__21]  DEFAULT (0),
	[PC_ALIQ_ACOR_TARIF] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_PC_ALIQ_ACOR_T1__21]  DEFAULT (0),
	[VL_CALC_II_AC_TARI] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_VL_CALC_II_AC_9__21]  DEFAULT (0),
	[VL_IMPOSTO_DEVIDO] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_VL_IMPOSTO_DE12__21]  DEFAULT (0),
	[VL_IPT_A_RECOLHER] [float] NOT NULL CONSTRAINT [DF_TRIBUTO_VL_IPT_A_RECO13__21]  DEFAULT (0),
	[CD_TIPO_DIREITO] [char](1) NULL,
	[NR_NOTA_COMPL_TIPI] [char](2) NULL,
 CONSTRAINT [PK_TRIBUTO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[CD_RECEITA_IMPOSTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
