USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSERVICO_EVENTO](
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[NR_ORDEM] [float] NOT NULL,
	[CD_EV_BASICO] [char](3) NULL,
	[PZ_DO_EV_BASICO] [float] NULL,
	[CD_EV_FUTURO] [char](3) NULL,
	[PZ_ATE_EV_FUTURO] [float] NULL,
	[CD_TIPO_EVENTO] [char](2) NULL,
	[IN_DASHBOARD] [bit] NULL,
	[IN_PRAZO_UTIL] [char](1) NULL,
	[IN_PRAZO_FERIADO] [char](1) NULL,
 CONSTRAINT [PK_TSERVICO_EVENTO] PRIMARY KEY CLUSTERED 
(
	[CD_SERVICO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_EVENTO] ON [TSERVICO_EVENTO]
(
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_SERVICO] ON [TSERVICO_EVENTO]
(
	[CD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_SV_EV_SQ] ON [TSERVICO_EVENTO]
(
	[CD_SERVICO] ASC,
	[CD_EVENTO] ASC,
	[NR_ORDEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
