USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREF_CLIENTE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [char](5) NOT NULL,
	[CD_REFERENCIA] [char](30) NOT NULL,
	[CD_REF_EXP] [varchar](15) NULL,
	[DT_REFERENCIA] [datetime] NULL,
	[TP_REFERENCIA] [char](2) NULL,
	[CD_AREA] [char](2) NULL,
	[NR_ITEM_PO] [char](4) NULL,
	[NR_PARCIAL] [int] NULL,
	[IN_FLAG_LI] [char](1) NULL,
	[CD_EMPRESA] [char](5) NOT NULL,
 CONSTRAINT [PK_TNR_SEQUENCIA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_REFERENCIA] ON [TREF_CLIENTE]
(
	[CD_REFERENCIA] ASC,
	[NR_ITEM_PO] ASC,
	[NR_PARCIAL] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
