USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_BANCO](
	[CD_BANCO_ADIANTAMENTO] [int] NOT NULL,
	[CD_BANCO_ICMS] [int] NOT NULL,
	[CD_BANCTO_PAGTO_DESPESAS_INDAIA] [int] NOT NULL,
	[CD_BANCTO_PAGTO_DESPESAS_CLIENTE] [int] NOT NULL,
	[CD_BANCO_PAGTO_IMPOSTOS] [int] NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_CLIENTE] [int] NOT NULL,
	[CD_UNID_NEG] [int] NOT NULL,
	[CD_PRODUTO] [int] NOT NULL,
	[CD_SERVICO] [int] NOT NULL,
	[CD_AREA] [char](3) NOT NULL,
	[ICMS_ATE] [float] NOT NULL CONSTRAINT [DF_TCLIENTE_BANCO_ICMS_ATE]  DEFAULT ((0)),
	[CD_BANCO_IMP_CLIENTE] [int] NULL,
	[CD_BANCO_IMP_INDAIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_GRUPO] ASC,
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC,
	[CD_AREA] ASC,
	[ICMS_ATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
