USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_FATURA_AG](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_FATURA] [char](15) NOT NULL,
	[CD_FATURA] [char](2) NULL,
	[TP_FATURA] [char](1) NULL,
	[IN_FATURA] [char](1) NULL,
	[DT_FATURA] [datetime] NULL,
	[VL_FATURA] [float] NULL,
	[VL_PROFIT_AG] [float] NULL,
	[VL_OVER] [float] NULL,
	[VL_IATA] [float] NULL,
	[VL_PROFIT_BR] [float] NULL,
	[VL_CRE_AGENTE] [decimal](15, 4) NULL,
	[VL_DEB_AGENTE] [decimal](15, 4) NULL,
	[VL_CRE_BRASIL] [decimal](15, 4) NULL,
	[VL_DEB_BRASIL] [decimal](15, 4) NULL,
	[VL_AJUSTE] [decimal](15, 4) NULL,
	[IN_SELECIONADO] [char](1) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[CD_MOEDA] [char](3) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[IN_COMPLEMENTAR] [char](1) NULL,
	[CD_MASTER] [char](15) NULL,
 CONSTRAINT [PK_TPROCESSO_FATURA_AG] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
