USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPAIS_BR_ING](
	[PAIS_ID] [int] NULL,
	[NOME] [varchar](50) NULL,
	[NAME] [varchar](50) NULL
) ON [PRIMARY]

GO
