USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRUPO_ITEM](
	[CD_GRUPO_ITEM] [char](2) NOT NULL,
	[NM_GRUPO_ITEM] [char](30) NOT NULL,
	[CD_ACESSO_CRE] [char](1) NULL,
	[CD_AUX_CRE] [char](3) NULL,
	[CD_CT_CONTABIL_CRE] [char](10) NULL,
	[CD_ACESSO_DEB] [char](1) NULL,
	[CD_AUX_DEB] [char](3) NULL,
	[CD_CT_CONTABIL_DEB] [char](10) NULL,
	[NM_DESC_CONTABIL] [char](50) NULL,
 CONSTRAINT [PK_TGRUPO_ITEM] PRIMARY KEY CLUSTERED 
(
	[CD_GRUPO_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_TGRUPO_ITEM_NM_GRUPO_ITEM] ON [TGRUPO_ITEM]
(
	[NM_GRUPO_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
