USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNUMERARIO_IMP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_ITEM] [float] NOT NULL CONSTRAINT [DF_TNUMERARIO_VL_ITEM_2__18]  DEFAULT (0),
	[VL_ITEM_USD] [float] NOT NULL CONSTRAINT [DF_TNUMERARIO_VL_ITEM_USD3__18]  DEFAULT (0),
	[IN_USD] [char](1) NOT NULL,
	[CD_BANCO] [char](3) NOT NULL,
	[VL_TAXA_USD] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_TAXA_USD4__18]  DEFAULT (0),
	[TP_DESTINO] [char](1) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
 CONSTRAINT [PK_TNUMERARIO_IMP] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_CLIENTE] ASC,
	[NR_PROCESSO] ASC,
	[NR_SOLICITACAO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
