USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINSTRUCAO_CARGA](
	[NR_PROCESSO] [char](20) NOT NULL,
	[CD_CARGA] [char](3) NOT NULL,
	[QTDE] [float] NULL,
	[VL_COMPR] [float] NULL,
	[VL_LARG] [float] NULL,
	[VL_ALT] [float] NULL,
	[PESO_KG] [float] NULL,
	[CUBAGEM_VENDA] [float] NULL,
	[PESO_VOLUMETRICO] [float] NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[TP_ESTUFAGEM] [char](1) NULL,
	[TP_EMBALAGEM] [char](4) NULL,
	[TP_CNTR] [char](2) NULL,
	[PESO_TON] [float] NULL,
	[VL_VENDA] [float] NULL,
	[VL_COMPRA] [float] NULL
) ON [PRIMARY]

GO
