USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINST_NEGOC](
	[CD_INST_NEGOC] [char](5) NOT NULL,
	[NM_INST_NEGOC] [varchar](60) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TINST_NEGOC_IN_ATIVO]  DEFAULT ('1'),
 CONSTRAINT [PK_TINST_NEGOC] PRIMARY KEY CLUSTERED 
(
	[CD_INST_NEGOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
