USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CC_CLI_RESUMO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[DT_LANCAMENTO] [datetime] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_DEBITO] [float] NOT NULL,
	[VL_CREDITO] [float] NOT NULL,
	[VL_SALDO] [float] NOT NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[INDICE] [char](1) NOT NULL,
 CONSTRAINT [PK_TREL_CC_CLI_RESUMO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[DT_LANCAMENTO] ASC,
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_CC_CLI_RESUMO] ADD  CONSTRAINT [DF_TREL_CLI_CC_RESUMO_VL_DEBITO]  DEFAULT (0) FOR [VL_DEBITO]
GO
ALTER TABLE [TREL_CC_CLI_RESUMO] ADD  CONSTRAINT [DF_TREL_CLI_CC_RESUMO_VL_CREDITO]  DEFAULT (0) FOR [VL_CREDITO]
GO
ALTER TABLE [TREL_CC_CLI_RESUMO] ADD  CONSTRAINT [DF_TREL_CLI_CC_RESUMO_VL_SALDO]  DEFAULT (0) FOR [VL_SALDO]
GO
ALTER TABLE [TREL_CC_CLI_RESUMO] ADD  CONSTRAINT [DF_TREL_CC_CLI_RESUMO_INDICE]  DEFAULT ('1') FOR [INDICE]
GO
