USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAB_FRETE_ITEM](
	[CD_TAB_FRETE] [char](6) NOT NULL,
	[CD_ITEM_TAB_FRETE] [char](4) NOT NULL,
	[PESO_TAB_FRETE] [float] NULL,
	[VOLUME_TAB_FRETE] [char](2) NULL,
	[TTIPO_SIMBOLO_TAB_FRETE] [varchar](15) NULL,
	[VL_COMPRA_TAB_FRETE] [float] NULL,
	[VL_VENDA_TAB_FRETE] [float] NULL,
	[PERC_VENDA_TAB_FRETE] [float] NULL,
	[VL_DIFERENCA] [float] NULL,
	[VL_COMPRA_CIA_ARMADOR] [float] NULL,
	[TP_FRETE] [char](1) NULL,
	[CD_TAB_REF] [char](6) NULL,
	[TP_ESTUFAGEM] [char](1) NULL,
	[VL_INTERVALO_INICIAL] [float] NULL,
	[VL_INTERVALO_FINAL] [float] NULL,
 CONSTRAINT [PK_TTAB_FRETE_ITEM] PRIMARY KEY NONCLUSTERED 
(
	[CD_TAB_FRETE] ASC,
	[CD_ITEM_TAB_FRETE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
