USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRUPO_REF_COMPLEM](
	[CD_GRUPO] [char](3) NOT NULL,
	[TP_REFERENCIA] [char](2) NOT NULL,
	[NR_ORDEM] [int] NULL,
 CONSTRAINT [PK_TGRUPO_REF_COMPLEM] PRIMARY KEY CLUSTERED 
(
	[CD_GRUPO] ASC,
	[TP_REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
