USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_REPRESENTANTE](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_REPRESENTANTE] [char](5) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL CONSTRAINT [DF__TCLIENTE___CD_SE__3E013703]  DEFAULT (''),
	[IN_DEST_NUM] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_DE__3EF55B3C]  DEFAULT ('1'),
	[IN_DEST_FAT] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_DE__3FE97F75]  DEFAULT ('1'),
	[IN_DEST_NF] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_DE__40DDA3AE]  DEFAULT ('1'),
 CONSTRAINT [PK_TCLIENTE_REPRESENTANTE] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_REPRESENTANTE] ASC,
	[CD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
