USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_ICMS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NM_EMPRESA] [varchar](50) NULL,
	[END_EMPRESA] [varchar](50) NULL,
	[END_CIDADE] [varchar](30) NULL,
	[END_UF] [char](2) NULL,
	[NR_TELEFONE] [varchar](15) NULL,
	[NR_CAE] [varchar](20) NULL,
	[IE_EMPRESA] [varchar](20) NULL,
	[CGC_EMPRESA] [char](14) NULL,
	[MES_REFERENCIA] [char](7) NULL,
	[NR_DI] [char](14) NULL,
	[DT_VENC] [datetime] NULL,
	[VL_ICMS] [float] NULL,
	[TX_OBS] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
