USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_ACE39](
	[NR_IDENTIFICADOR] [char](1) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_MERCADORIA] [char](20) NULL,
	[VL_UNITARIO] [float] NULL,
	[NR_ITEM] [char](3) NULL,
	[TX_MERCADORIA] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
