USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRUPO_SERVICO](
	[CD_GRUPO] [char](3) NOT NULL,
	[NM_GRUPO] [varchar](60) NULL,
	[NR_META] [float] NULL,
 CONSTRAINT [PK_TGRUPO_SERVICO] PRIMARY KEY CLUSTERED 
(
	[CD_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
