USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_BASE_CALC_FRETE](
	[CD_TP_BASE_CALC_FRETE] [char](2) NOT NULL,
	[NM_TP_BASE_CALC_FRETE] [varchar](100) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
 CONSTRAINT [PK_TTP_BASE_CALC_FRETE] PRIMARY KEY CLUSTERED 
(
	[CD_TP_BASE_CALC_FRETE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
