USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFATORES_CAMPOS](
	[CD_FATOR] [int] NOT NULL,
	[NM_CAMPO_PROCESSO] [varchar](100) NOT NULL,
	[NM_FATOR_CAMPO] [varchar](100) NULL,
	[NM_LOOKUP_TABELA] [varchar](100) NULL,
	[NM_LOOKUP_SQL] [varchar](1000) NULL,
	[NM_LOOKUP_CAMPO_CHAVE] [varchar](100) NULL,
	[NM_LOOKUP_CAMPO_RETORNO] [varchar](100) NULL,
 CONSTRAINT [PK8] PRIMARY KEY NONCLUSTERED 
(
	[CD_FATOR] ASC,
	[NM_CAMPO_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TFATORES_CAMPOS]  WITH CHECK ADD  CONSTRAINT [RefTFATORES8] FOREIGN KEY([CD_FATOR])
REFERENCES [TFATORES] ([CD_FATOR])
GO
ALTER TABLE [TFATORES_CAMPOS] CHECK CONSTRAINT [RefTFATORES8]
GO
