USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DEM_CLIENTE](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[VL_REMESSA] [float] NULL,
	[DT_REMESSA] [datetime] NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[VL_DESPESA] [float] NULL
) ON [PRIMARY]

GO
