USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_LEAD_TIME](
	[TP_LEAD_TIME] [char](1) NOT NULL,
	[NM_TP_LEAD_TIME] [char](5) NOT NULL,
 CONSTRAINT [PK_TTP_LEAD_TIME] PRIMARY KEY CLUSTERED 
(
	[TP_LEAD_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
