USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_TRANSFER_PRICING_895] AS
    SELECT LEFT(NR_PROCESSO, 2) AS [Código Unidade],
           SUBSTRING(NR_PROCESSO, 3, 2) AS [Código Processo],
           RTRIM(SUBSTRING(NR_PROCESSO, 5, 14)) AS [NR PROCESSO],
           REFERENCIA_CLIENTE AS [REFERENCIA CLIENTE],
           ITEM_CLIENTE AS [ITEM CLIENTE],
           NCM AS [NCM],
           CFOP AS [CFOP],
           EXPORTADOR AS [EXPORTADOR],
           PAIS_ORIGEM AS [PAIS ORIGEM],
           CONSIGNATARIO AS [CONSIGNATARIO],
           CNPJ_CLIENTE AS [CNPJ CLIENTE],
           CODIGO_MERCADORIA AS [CODIGO MERCADORIA],
           NOME_MERCADORIA AS [NOME MERCADORIA],
           INCOTERM AS [INCOTERM],
           VIA_TRANSPORTE AS [VIA TRANSPORTE],
           DATA_INVOICE AS [DATA INVOICE],
           RTRIM(NUMERO_INVOICE) AS [NUMERO INVOICE],
           NUMERO_DI AS [NUMERO DI],
           DATA_REGISTRO_DI AS [DATA REGISTRO DI],
           DATA_CONHECIMENTO AS [DATA CONHECIMENTO],
           DATA_CHEGADA AS [DATA CHEGADA],
           NOTA_FISCAL AS [NOTA FISCAL],
           DATA_NOTA_FISCAL AS [DATA NOTA FISCAL],
           CONVERT(DECIMAL(28, 2), QUANTIDADE) AS [QUANTIDADE],
           UNIDADE_MEDIDA AS [UNIDADE MEDIDA],
           SIGLA_MOEDA_MLE AS [SIGLA MOEDA MLE],
           CONVERT(DECIMAL(28, 4), PARIDADE) AS [PARIDADE],
           CONVERT(DECIMAL(28, 2), VL_CIF_ITEM) AS [VL CIF ITEM],
           CONVERT(DECIMAL(28, 2), VL_FOB_ITEM) AS [VL FOB ITEM],
           CONVERT(DECIMAL(28, 2), VL_CFR_ITEM) AS [VL CFR ITEM],
           CONVERT(DECIMAL(28, 2), VL_UNITARIO) AS [VL UNITARIO],
           CONVERT(DECIMAL(28, 2), VL_FRETE_ITEM) AS [VL FRETE ITEM],
           CONVERT(DECIMAL(28, 2), VL_SEGURO_ITEM) AS [VL SEGURO ITEM],
           CONVERT(DECIMAL(28, 2), PC_II) AS [PC II],
           CONVERT(DECIMAL(28, 2), VL_II_ITEM) AS [VL II ITEM],
           CONVERT(DECIMAL(28, 2), PC_IPI) AS [PC IPI],
           CONVERT(DECIMAL(28, 2), VL_IPI_ITEM) AS [VL IPI ITEM],
           CONVERT(DECIMAL(28, 2), VL_PIS_ITEM) AS [VL PIS ITEM],
           CONVERT(DECIMAL(28, 2), VL_COFINS_ITEM) AS [VL COFINS ITEM],
           CONVERT(DECIMAL(28, 2), VL_ICMS_ITEM) AS [VL ICMS ITEM],
           CONVERT(DECIMAL(28, 2), VL_AFRMM_ITEM) AS [VL AFRMM ITEM],
           CONVERT(DECIMAL(28, 2), VL_ARMAZENAGEM_ITEM) AS [VL ARMAZENAGEM ITEM],
           CONVERT(DECIMAL(28, 2), VL_THC_ITEM) AS [VL THC ITEM],
           CONVERT(DECIMAL(28, 2), VL_DESPACHANTE_ITEM) AS [VL DESPACHANTE ITEM],
           CONVERT(DECIMAL(28, 2), VL_SISCOMEX_ITEM) AS [VL SISCOMEX ITEM],
           CONVERT(DECIMAL(28, 2), VL_DESCONSOLIDACAO_ITEM) AS [VL DESCONSOLIDACAO ITEM],
           CONVERT(DECIMAL(28, 2), VL_LI_ITEM) AS [VL LI ITEM],
           CONVERT(DECIMAL(28, 2), VL_SDA_ITEM) AS [VL SDA ITEM],
           CONVERT(DECIMAL(28, 2), ROUND(VL_AFRMM_ITEM + VL_ARMAZENAGEM_ITEM + VL_THC_ITEM + VL_DESPACHANTE_ITEM + VL_SISCOMEX_ITEM + VL_DESCONSOLIDACAO_ITEM + VL_LI_ITEM + VL_SDA_ITEM +
              VW.VL_II_ITEM + VW.VL_IPI_ITEM + VW.VL_PIS_ITEM + VW.VL_COFINS_ITEM + VW.VL_ICMS_ITEM, 2)) AS [VL TOTAL DESPESAS],
           CONVERT(DECIMAL(28, 2), ROUND(VL_AFRMM_ITEM + VL_ARMAZENAGEM_ITEM + VL_THC_ITEM + VL_DESPACHANTE_ITEM + VL_SISCOMEX_ITEM + VL_DESCONSOLIDACAO_ITEM + VL_LI_ITEM + VL_SDA_ITEM, 2)) AS [VL TOTAL CUSTOS],
           CONVERT(DECIMAL(28, 2), ROUND((VL_AFRMM_ITEM + VL_ARMAZENAGEM_ITEM + VL_THC_ITEM + VL_DESPACHANTE_ITEM + VL_SISCOMEX_ITEM + VL_DESCONSOLIDACAO_ITEM + VL_LI_ITEM + VL_SDA_ITEM +
              VL_CIF_ITEM + VL_II_ITEM) / QUANTIDADE, 2)) AS [VL CUSTOS QUANTIDADE],
           CONVERT(DECIMAL(28, 2), ROUND((VL_AFRMM_ITEM + VL_ARMAZENAGEM_ITEM + VL_THC_ITEM + VL_DESPACHANTE_ITEM + VL_SISCOMEX_ITEM + VL_DESCONSOLIDACAO_ITEM + VL_LI_ITEM + VL_SDA_ITEM +
              VL_CIF_ITEM + VW.VL_II_ITEM + VW.VL_IPI_ITEM + VW.VL_PIS_ITEM + VW.VL_COFINS_ITEM + VW.VL_ICMS_ITEM + VL_FRETE_NAC_ITEM), 2)) AS [VL CUSTO FINAL QUANTIDADE],
           DATA_PRESTACAO_CONTAS AS [DATA PRESTACAO CONTAS],
           DATA_ENTREGA_PLANTA AS [DATA ENTREGA PLANTA],
           DATA_DESEMBARACO AS [DATA DESEMBARACO],
           DAY(DATA_DESEMBARACO) AS [DIA DESEMBARACO],
           MONTH(DATA_DESEMBARACO) AS [MES DESEMBARACO],
           YEAR(DATA_DESEMBARACO) AS [ANO DESEMBARACO]
    FROM (SELECT PR.NR_PROCESSO,
                 DM.CD_NCM_SH AS NCM,
                 ' ' + LEFT(AI.CD_CFOP, 1) + '.' + RIGHT(AI.CD_CFOP, 3) AS CFOP,
                 RTRIM(EE.AP_EMPRESA) AS EXPORTADOR,
                 RTRIM(PB.NM_PAIS) AS PAIS_ORIGEM,
                 (SELECT RTRIM(NM_EMPRESA) FROM BROKER.DBO.TEMPRESA_NAC ENC (NOLOCK) WHERE ENC.CD_EMPRESA = DI.CD_IMPORTADOR) AS CONSIGNATARIO,
                 --xx.xxx.xxx/xxxx-xx
                 (SELECT LEFT(CGC_EMPRESA, 2) + '.' + SUBSTRING(CGC_EMPRESA, 3, 3) + '.' + SUBSTRING(CGC_EMPRESA, 6, 3) + '/' + SUBSTRING(CGC_EMPRESA, 9, 4) + '-' + RIGHT(RTRIM(CGC_EMPRESA), 2)
                  FROM BROKER.DBO.TEMPRESA_NAC ENC (NOLOCK)
                  WHERE ENC.CD_EMPRESA = PR.CD_CLIENTE) AS CNPJ_CLIENTE,
                 RTRIM(DM.NR_PROC_PO) AS REFERENCIA_CLIENTE,
                 DM.NR_ITEM_PO AS ITEM_CLIENTE,
                 RTRIM(DM.CD_MERCADORIA) AS CODIGO_MERCADORIA,
                 RTRIM(ME.AP_MERCADORIA) AS NOME_MERCADORIA,
                 DI.CD_INCOTERM AS INCOTERM,
                 VT.NM_VIA_TRANSP AS VIA_TRANSPORTE,
                 (SELECT TOP 1 CONVERT(DATE, DCI.DT_FATURA, 103) FROM BROKER.DBO.TDOCUMENTO_INSTRUCAO DCI (NOLOCK) WHERE DCI.NR_PROCESSO = PR.NR_PROCESSO AND DCI.CD_TIPO_DCTO_INSTR = '01') AS DATA_INVOICE,
                 (SELECT TOP 1 DCI.NR_DCTO_INSTRUCAO FROM BROKER.DBO.TDOCUMENTO_INSTRUCAO DCI (NOLOCK) WHERE DCI.NR_PROCESSO = PR.NR_PROCESSO AND DCI.CD_TIPO_DCTO_INSTR = '01') AS NUMERO_INVOICE,
                 PR.NR_DI AS NUMERO_DI,
                 LEFT(DI.DT_REGISTRO_DI, 2) + '/' + SUBSTRING(DI.DT_REGISTRO_DI, 3, 2) + '/' + SUBSTRING(DI.DT_REGISTRO_DI, 5, 4) AS DATA_REGISTRO_DI,
                 CONVERT(DATE, PR.DT_CONHECIMENTO, 103) AS DATA_CONHECIMENTO,
                 (SELECT CONVERT(DATE, F.DT_REALIZACAO, 103) FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = PR.NR_PROCESSO AND F.CD_EVENTO = '162') AS DATA_CHEGADA,
                 (SELECT TOP 1 PNF.NR_NOTA FROM BROKER.DBO.TPROCESSO_NF PNF (NOLOCK) WHERE PNF.NR_PROCESSO = PR.NR_PROCESSO) AS NOTA_FISCAL,
                 (SELECT TOP 1 CONVERT(DATE, PNF.DT_NOTA, 103) FROM BROKER.DBO.TPROCESSO_NF PNF (NOLOCK) WHERE PNF.NR_PROCESSO = PR.NR_PROCESSO) AS DATA_NOTA_FISCAL,
                 DM.QT_MERC_UN_COMERC AS QUANTIDADE,
                 UM.NM_SIGLA AS UNIDADE_MEDIDA,
                 CASE DI.CD_MOEDA_MLE
                     WHEN '790' THEN 'BRL'
                     WHEN '220' THEN 'USD'
                     WHEN '978' THEN 'EURO'
                 ELSE (SELECT AP_MOEDA FROM BROKER.DBO.TMOEDA_BROKER MB (NOLOCK) WHERE MB.CD_MOEDA = DI.CD_MOEDA_MLE)
                 END AS SIGLA_MOEDA_MLE,
                 DI.TX_MLE AS PARIDADE,
                 ISNULL(DM.VL_BASE_CALC_II, 0) AS VL_CIF_ITEM,
                 ISNULL(DM.VL_MLE_ITEM_MN, 0) - CASE ISNULL(DI.IN_EMBUT_FRT_ITENS, '0')
                                                    WHEN '1' THEN ISNULL(DM.VL_FRETE_ITEM_MN, 0)
                                                ELSE 0
                                                END - CASE ISNULL(DI.IN_EMBUT_SEG_ITENS, '0')
                                                          WHEN '1' THEN ISNULL(DM.VL_SEGURO_ITEM_MN, 0)
                                                      ELSE 0
                                                      END AS VL_FOB_ITEM,
                 ISNULL(DM.VL_MLE_ITEM_MN, 0) - CASE ISNULL(DI.IN_EMBUT_FRT_ITENS, '0')
                                                    WHEN '1' THEN ISNULL(DM.VL_FRETE_ITEM_MN, 0)
                                                ELSE 0
                                                END AS VL_CFR_ITEM,
                 ISNULL(DM.VL_UNITARIO, 0) AS VL_UNITARIO,
                 ISNULL(ROUND(DM.VL_FRETE_ITEM_MN, 2), 0) AS VL_FRETE_ITEM,
                 ISNULL(ROUND(DM.VL_SEGURO_ITEM_MN, 2), 0) AS VL_SEGURO_ITEM,
                 (SELECT TR.PC_ALIQ_NORM_ADVAL FROM BROKER.DBO.TRIBUTO TR (NOLOCK) WHERE TR.NR_PROCESSO = PR.NR_PROCESSO AND TR.CD_RECEITA_IMPOSTO = '0001' AND TR.NR_ADICAO = DM.NR_ADICAO) AS PC_II,
                 ISNULL(ROUND(DM.VL_II_ITEM, 2), 0) AS VL_II_ITEM,
                 (SELECT TR.PC_ALIQ_NORM_ADVAL FROM BROKER.DBO.TRIBUTO TR (NOLOCK) WHERE TR.NR_PROCESSO = PR.NR_PROCESSO AND TR.CD_RECEITA_IMPOSTO = '0002' AND TR.NR_ADICAO = DM.NR_ADICAO) AS PC_IPI,
                 ISNULL(ROUND(DM.VL_IPI_ITEM, 2), 0) AS VL_IPI_ITEM,
                 ISNULL(ROUND(DM.VL_PIS_ITEM, 2), 0) AS VL_PIS_ITEM,
                 ISNULL(ROUND(DM.VL_COFINS_ITEM, 2), 0) AS VL_COFINS_ITEM,
                 ISNULL(ROUND(DM.VL_ICMS_ITEM, 2), 0) AS VL_ICMS_ITEM,
                 ISNULL((SELECT SUM(ROUND(F.VL_ITEM_AREA, 2))
                         FROM BROKER.DBO.TFAT_CALCULO_RATEIO_DESP_MONEY F (NOLOCK)
                         INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.NR_EMISSAO = F.NR_EMISSAO 
                                               AND E.ANO_EMISSAO = F.ANO_EMISSAO
                                               AND E.CD_ROTINA_EMISSAO <> 614
                         WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                           AND F.CD_REFERENCIA LIKE RTRIM(DM.NR_PROC_PO) + '/' + DM.NR_ITEM_PO + '/' + PR.CD_CLIENTE + '/' + CONVERT(VARCHAR, DM.NR_PARCIAL) + '%'
                           AND F.CD_ITEM = '160'), 0) AS VL_AFRMM_ITEM,
                 ISNULL((SELECT SUM(ROUND(F.VL_ITEM_AREA, 2))
                         FROM BROKER.DBO.TFAT_CALCULO_RATEIO_DESP_MONEY F (NOLOCK)
                         INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.NR_EMISSAO = F.NR_EMISSAO 
                                               AND E.ANO_EMISSAO = F.ANO_EMISSAO
                                               AND E.CD_ROTINA_EMISSAO <> 614
                         WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                           AND F.CD_REFERENCIA LIKE RTRIM(DM.NR_PROC_PO) + '/' + DM.NR_ITEM_PO + '/' + PR.CD_CLIENTE + '/' + CONVERT(VARCHAR, DM.NR_PARCIAL) + '%'
                           AND F.CD_ITEM = '514'), 0) AS VL_ARMAZENAGEM_ITEM,
                 ISNULL((SELECT SUM(ROUND(F.VL_ITEM_AREA, 2))
                         FROM BROKER.DBO.TFAT_CALCULO_RATEIO_DESP_MONEY F (NOLOCK)
                         INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.NR_EMISSAO = F.NR_EMISSAO 
                                               AND E.ANO_EMISSAO = F.ANO_EMISSAO
                                               AND E.CD_ROTINA_EMISSAO <> 614
                         WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                           AND F.CD_REFERENCIA LIKE RTRIM(DM.NR_PROC_PO) + '/' + DM.NR_ITEM_PO + '/' + PR.CD_CLIENTE + '/' + CONVERT(VARCHAR, DM.NR_PARCIAL) + '%'
                           AND F.CD_ITEM = '040'), 0) AS VL_THC_ITEM,
                 ISNULL((SELECT SUM(ROUND(F.VL_ITEM_AREA, 2))
                         FROM BROKER.DBO.TFAT_CALCULO_RATEIO_DESP_MONEY F (NOLOCK)
                         INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.NR_EMISSAO = F.NR_EMISSAO 
                                               AND E.ANO_EMISSAO = F.ANO_EMISSAO
                                               AND E.CD_ROTINA_EMISSAO <> 614
                         WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                           AND F.CD_REFERENCIA LIKE RTRIM(DM.NR_PROC_PO) + '/' + DM.NR_ITEM_PO + '/' + PR.CD_CLIENTE + '/' + CONVERT(VARCHAR, DM.NR_PARCIAL) + '%'
                           AND F.CD_ITEM = '822'), 0) AS VL_DESPACHANTE_ITEM,
                 ISNULL(DM.VL_TX_SCX_ITEM, 0) AS VL_SISCOMEX_ITEM,
                 ISNULL((SELECT SUM(ROUND(F.VL_ITEM_AREA, 2))
                         FROM BROKER.DBO.TFAT_CALCULO_RATEIO_DESP_MONEY F (NOLOCK)
                         INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.NR_EMISSAO = F.NR_EMISSAO 
                                               AND E.ANO_EMISSAO = F.ANO_EMISSAO
                                               AND E.CD_ROTINA_EMISSAO <> 614
                         WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                           AND F.CD_REFERENCIA LIKE RTRIM(DM.NR_PROC_PO) + '/' + DM.NR_ITEM_PO + '/' + PR.CD_CLIENTE + '/' + CONVERT(VARCHAR, DM.NR_PARCIAL) + '%'
                           AND F.CD_ITEM = '060'), 0) AS VL_DESCONSOLIDACAO_ITEM,
                 ISNULL((SELECT SUM(ROUND(F.VL_ITEM_AREA, 2))
                         FROM BROKER.DBO.TFAT_CALCULO_RATEIO_DESP_MONEY F (NOLOCK)
                         INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.NR_EMISSAO = F.NR_EMISSAO 
                                               AND E.ANO_EMISSAO = F.ANO_EMISSAO
                                               AND E.CD_ROTINA_EMISSAO <> 614
                         WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                           AND F.CD_REFERENCIA LIKE RTRIM(DM.NR_PROC_PO) + '/' + DM.NR_ITEM_PO + '/' + PR.CD_CLIENTE + '/' + CONVERT(VARCHAR, DM.NR_PARCIAL) + '%'
                           AND F.CD_ITEM = '114'), 0) AS VL_LI_ITEM,
                 ISNULL((SELECT SUM(ROUND(F.VL_ITEM_AREA, 2))
                         FROM BROKER.DBO.TFAT_CALCULO_RATEIO_DESP_MONEY F (NOLOCK)
                         INNER JOIN MYMONEY.DBO.TB_EMISSAO E (NOLOCK) ON E.NR_EMISSAO = F.NR_EMISSAO 
                                               AND E.ANO_EMISSAO = F.ANO_EMISSAO
                                               AND E.CD_ROTINA_EMISSAO <> 614
                         WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                           AND F.CD_REFERENCIA LIKE RTRIM(DM.NR_PROC_PO) + '/' + DM.NR_ITEM_PO + '/' + PR.CD_CLIENTE + '/' + CONVERT(VARCHAR, DM.NR_PARCIAL) + '%'
                           AND F.CD_ITEM = '008'), 0) AS VL_SDA_ITEM,
                 ISNULL(((DI.VL_FRETE_TNAC_MNEG * DI.TX_FRETE) / (SELECT SUM(DM2.PL_MERCADORIA) FROM BROKER.DBO.TDETALHE_MERCADORIA DM2 (NOLOCK) WHERE DM2.NR_PROCESSO  = PR.NR_PROCESSO)) * DM.PL_MERCADORIA, 0) AS VL_FRETE_NAC_ITEM,
                 (SELECT CONVERT(DATE, DT_REALIZACAO, 103)
                  FROM BROKER.DBO.TFOLLOWUP F
                  WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                    AND F.CD_EVENTO = '092') AS DATA_PRESTACAO_CONTAS,
                 (SELECT CONVERT(DATE, DT_REALIZACAO, 103)
                  FROM BROKER.DBO.TFOLLOWUP F
                  WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                    AND F.CD_EVENTO = '164') AS DATA_ENTREGA_PLANTA,
                 (SELECT CONVERT(DATE, DT_REALIZACAO, 103)
                  FROM BROKER.DBO.TFOLLOWUP F
                  WHERE F.NR_PROCESSO = PR.NR_PROCESSO
                    AND F.CD_EVENTO = '088') AS DATA_DESEMBARACO
          FROM BROKER.DBO.TPROCESSO                       PR (NOLOCK)
             INNER JOIN BROKER.DBO.TDECLARACAO_IMPORTACAO DI (NOLOCK) ON (DI.NR_PROCESSO = PR.NR_PROCESSO)
             INNER JOIN BROKER.DBO.TDETALHE_MERCADORIA    DM (NOLOCK) ON (DM.NR_PROCESSO = PR.NR_PROCESSO)
             INNER JOIN BROKER.DBO.TADICAO_DE_IMPORTACAO  AI (NOLOCK) ON (AI.NR_PROCESSO = DM.NR_PROCESSO AND AI.NR_ADICAO = DM.NR_ADICAO)
             INNER JOIN BROKER.DBO.TMERCADORIA            ME (NOLOCK) ON (ME.CD_MERCADORIA = DM.CD_MERCADORIA)
             INNER JOIN BROKER.DBO.TPROCESSO_SDA          SD (NOLOCK) ON (SD.NR_PROCESSO = PR.NR_PROCESSO)
             LEFT  JOIN BROKER.DBO.TEMPRESA_EST           EE (NOLOCK) ON (EE.CD_EMPRESA = DM.CD_EXPORTADOR)
             INNER JOIN BROKER.DBO.VW_SERVICO_GERAL       SV (NOLOCK) ON (SV.CD_SERVICO = PR.CD_SERVICO)
             LEFT  JOIN BROKER.DBO.TPAIS_BROKER           PB (NOLOCK) ON (PB.CD_PAIS = CASE ISNULL(DM.CD_FABR_EXPO, '0')
                                                                                           WHEN '1' THEN DM.CD_PAIS_AQUISICAO
                                                                                       ELSE DM.CD_PAIS_ORIGEM
                                                                                       END)
             LEFT  JOIN BROKER.DBO.TUNID_MEDIDA_BROKER    UM (NOLOCK) ON (UM.CD_UNID_MEDIDA = DM.CD_UN_MED_COMERC)
             LEFT  JOIN BROKER.DBO.TVIA_TRANSP_BROKER     VT (NOLOCK) ON (VT.CD_VIA_TRANSP = DI.CD_VIA_TRANSP_CARG)
             INNER JOIN BROKER.DBO.TFOLLOWUP F (NOLOCK) ON F.NR_PROCESSO = PR.NR_PROCESSO
          WHERE PR.IN_CANCELADO = '0'
            AND PR.CD_PRODUTO = '01'
            AND F.CD_EVENTO = '088'
            AND PR.CD_GRUPO = '895'      
            AND F.DT_REALIZACAO IS NOT NULL
            --AND F.DT_REALIZACAO BETWEEN CONVERT(DATETIME, '01/09/2013', 103) AND CONVERT(DATETIME, '05/09/2013', 103)
      ) AS VW

GO
