USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCT_CONTABIL](
	[CD_CT_CONTABIL] [char](12) NOT NULL,
	[NM_CT_CONTABIL] [char](40) NOT NULL,
	[IN_DISTRIBUI] [char](1) NOT NULL CONSTRAINT [DF_TCT_CONTABIL_IN_DISTRIBUI]  DEFAULT ('0'),
	[CD_ACESSO] [char](1) NULL,
	[CD_AUX] [char](3) NULL,
	[CD_GRAU] [char](1) NOT NULL,
	[CD_IDENTIFICADOR] [char](1) NOT NULL CONSTRAINT [DF_TCT_CONTABIL_CD_IDENTIFICADOR]  DEFAULT ('A'),
	[CD_CT_CONTABIL_PAI] [char](12) NULL,
	[IN_EMBARQUE] [char](1) NULL CONSTRAINT [DF_TCT_CONTABIL_IN_EMBARQUE]  DEFAULT ('0'),
	[IN_CONTABILIZA] [char](1) NULL CONSTRAINT [DF_TCT_CONTABIL_IN_CONTABILIZA]  DEFAULT ('1'),
	[IN_REEMBOLSO] [char](1) NULL CONSTRAINT [DF__TCT_CONTA__IN_RE__73485C93]  DEFAULT ('0'),
	[CD_CT_CONTABIL_FLUXO] [char](12) NULL,
	[CD_RATEIO] [char](4) NULL,
	[ANO_CONTA] [char](4) NOT NULL,
	[IN_FLUXO_CAIXA_FLUXO] [char](1) NULL,
	[IN_FLUXO_CAIXA_BANCO] [char](1) NULL,
	[IN_EXIGE_RATEIO] [char](1) NULL,
	[IN_IMPOSTO] [char](1) NULL,
 CONSTRAINT [PK_TCT_CONTABIL] PRIMARY KEY CLUSTERED 
(
	[CD_CT_CONTABIL] ASC,
	[ANO_CONTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCT_CONTABIL_5_1758537944__K1_2] ON [TCT_CONTABIL]
(
	[CD_CT_CONTABIL] ASC
)
INCLUDE ( 	[NM_CT_CONTABIL]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCT_CONTABIL_5_1758537944__K14_1_2_4_5] ON [TCT_CONTABIL]
(
	[ANO_CONTA] ASC
)
INCLUDE ( 	[CD_CT_CONTABIL],
	[NM_CT_CONTABIL],
	[CD_ACESSO],
	[CD_AUX]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCT_CONTABIL_5_1758537944__K7_K1_2_4_5] ON [TCT_CONTABIL]
(
	[CD_IDENTIFICADOR] ASC,
	[CD_CT_CONTABIL] ASC
)
INCLUDE ( 	[NM_CT_CONTABIL],
	[CD_ACESSO],
	[CD_AUX]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
