USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_RE_NESTLE](
	[NR_PROCESSO_DDE] [char](18) NULL,
	[NR_PROCESSO_RE] [char](18) NULL,
	[NR_RE] [char](20) NULL,
	[IN_RE_AVERBADO] [char](1) NULL,
	[TX_OBSERVACAO] [varchar](500) NULL,
	[CPF_DESPACHANTE] [char](11) NULL,
	[NM_SENHA_DESPACHANTE] [char](30) NULL
) ON [PRIMARY]

GO
