USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEBIMENTO_IATA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[NR_REF] [char](3) NOT NULL,
	[DT_MONTAGEM] [datetime] NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_CIA] [char](4) NOT NULL,
	[VL_ITEM] [float] NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[CD_STATUS] [char](2) NULL,
	[DT_RECEB] [datetime] NULL,
	[COD_MASTER] [char](18) NULL,
	[IN_CANCELADO] [char](1) NULL,
	[CD_USUARIO_MONTA] [char](4) NULL,
	[CD_USUARIO_CANC] [char](4) NULL,
	[DT_CANCELADO] [datetime] NULL,
	[IN_FATURADO] [char](1) NULL,
	[IN_RESTITUI] [char](1) NULL,
	[NR_RELATORIO] [char](6) NULL,
	[CD_BANCO] [char](3) NULL,
 CONSTRAINT [PK__TRECEBIMENTO_IATA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TRECEBIMENTO_IATA] ADD  CONSTRAINT [DF__TRECEBIME__IN_CA__529D2C8D]  DEFAULT ('0') FOR [IN_CANCELADO]
GO
ALTER TABLE [TRECEBIMENTO_IATA] ADD  CONSTRAINT [DF__TRECEBIME__IN_FA__539150C6]  DEFAULT ('0') FOR [IN_FATURADO]
GO
