USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TBCO](
	[CD_BCO] [char](3) NOT NULL,
	[NM_BCO] [char](50) NOT NULL,
 CONSTRAINT [PK___1__158] PRIMARY KEY CLUSTERED 
(
	[CD_BCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
