USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFOLLOWUP_TMP](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[IN_APLICAVEL] [char](1) NOT NULL,
	[CD_RESP_APLICACAO] [char](4) NULL,
	[CD_RESP_REALIZACAO] [char](4) NULL,
	[CD_RESP_INSPECAO] [char](4) NULL,
	[DT_APLICACAO] [datetime] NULL,
	[DT_REALIZACAO] [datetime] NULL,
	[DT_INSPECAO] [datetime] NULL,
	[CD_RESULT_INSPECAO] [char](1) NULL,
	[NR_RNC] [varchar](8) NULL,
	[DT_PREVISTA] [datetime] NULL,
	[DT_LIMITE] [datetime] NULL,
	[NR_ORDEM] [smallint] NULL,
	[TX_OBS] [text] NULL,
	[IN_BLOQUEADO] [char](1) NULL,
	[IN_ALERTA_ENVIADO] [char](1) NULL,
	[QT_DIAS_DESVIO] [int] NULL,
	[DT_REALIZACAO_EFETIVA] [datetime] NULL,
	[DT_ALERTA_ENVIADO] [datetime] NULL,
	[IN_EDI_ENVIADO] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
