USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMASTER_FATURA_AG](
	[CD_MASTER] [char](18) NOT NULL,
	[NR_FATURA] [char](15) NOT NULL,
	[CD_FATURA] [char](2) NOT NULL,
	[TP_FATURA] [char](1) NULL,
	[IN_FATURA] [char](1) NULL,
	[DT_FATURA] [datetime] NULL,
	[VL_FATURA] [float] NULL,
	[VL_CRE_AGENTE] [decimal](15, 4) NULL,
	[VL_DEB_AGENTE] [decimal](15, 4) NULL,
	[VL_CRE_BRASIL] [decimal](15, 4) NULL,
	[VL_DEB_BRASIL] [decimal](15, 4) NULL,
	[VL_AJUSTE] [decimal](15, 4) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[CD_MOEDA] [char](3) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_STATUS] [char](1) NULL,
	[CD_USUARIO_CANC] [char](4) NULL,
	[DT_CANCELADO] [datetime] NULL,
	[DT_CONTABILIZACAO] [datetime] NULL,
	[TX_OBS] [text] NULL,
	[IN_COMPLEMENTAR] [char](1) NULL CONSTRAINT [DF__TMASTER_F__IN_CO__17475C95]  DEFAULT ('0'),
 CONSTRAINT [PK_TMASTER_FATURA_AG] PRIMARY KEY CLUSTERED 
(
	[CD_MASTER] ASC,
	[CD_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
