USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLAUDO](
	[CD_MERCADORIA] [char](15) NOT NULL,
	[NR_LAUDO] [char](5) NOT NULL,
	[NR_DESCR_MERC] [varchar](50) NULL,
 CONSTRAINT [PK_TLAUDO] PRIMARY KEY CLUSTERED 
(
	[CD_MERCADORIA] ASC,
	[NR_LAUDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
