USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSOLIC_CHEQUE_ITENS](
	[DT_SOLIC_CH] [char](10) NOT NULL,
	[NR_SOLIC_CH] [char](3) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_ITEM] [char](3) NULL,
	[VL_ITEM] [float] NULL,
	[VL_IR] [float] NULL,
	[VL_ASSIST] [float] NULL,
	[CD_STATUS] [char](1) NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[IN_TRANSF] [char](1) NULL,
	[CD_FORNECEDOR] [char](5) NULL,
	[IN_RESTITUI] [char](1) NULL,
 CONSTRAINT [PK_TSOLIC_CHEQUE_ITENS] PRIMARY KEY CLUSTERED 
(
	[DT_SOLIC_CH] ASC,
	[NR_SOLIC_CH] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_NR_PROCESSO] ON [TSOLIC_CHEQUE_ITENS]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [TSOLIC_CHEQUE_ITENS] ADD  CONSTRAINT [DF_TSOLIC_CHE_VL_ITEM_3__25]  DEFAULT (0) FOR [VL_ITEM]
GO
ALTER TABLE [TSOLIC_CHEQUE_ITENS] ADD  CONSTRAINT [DF_TSOLIC_CHE_VL_IR_2__25]  DEFAULT (0) FOR [VL_IR]
GO
ALTER TABLE [TSOLIC_CHEQUE_ITENS] ADD  CONSTRAINT [DF_TSOLIC_CHE_VL_ASSIST_1__25]  DEFAULT (0) FOR [VL_ASSIST]
GO
ALTER TABLE [TSOLIC_CHEQUE_ITENS] ADD  CONSTRAINT [DF_TSOLIC_CHE_IN_TRANSF_1__15]  DEFAULT ('0') FOR [IN_TRANSF]
GO
ALTER TABLE [TSOLIC_CHEQUE_ITENS] ADD  CONSTRAINT [DF_TSOLIC_CHE_IN_RESTIRU1__113]  DEFAULT ('0') FOR [IN_RESTITUI]
GO
