USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TABRE_PROCESSO_EXP_DDE_RE](
	[NR_REGISTRO] [int] NOT NULL,
	[NR_RE] [char](12) NOT NULL,
	[NR_ANEXO_INI] [char](3) NOT NULL,
	[NR_ANEXO_FIM] [char](3) NOT NULL,
 CONSTRAINT [PK_TABRE_PROCESSO_EXP_DDE_RE] PRIMARY KEY NONCLUSTERED 
(
	[NR_REGISTRO] ASC,
	[NR_RE] ASC,
	[NR_ANEXO_INI] ASC,
	[NR_ANEXO_FIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
