USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPOSTA](
	[NR_PROPOSTA] [char](20) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_EMPRESA] [char](5) NOT NULL,
	[TP_PROPOSTA] [char](1) NULL,
	[CD_VENDEDOR] [char](4) NULL,
	[DT_ABERTURA] [datetime] NULL,
	[DT_SOLICITADA] [datetime] NULL,
	[HR_SOLICITADA] [float] NULL,
	[DT_ENVIADA] [datetime] NULL,
	[HR_ENVIADA] [float] NULL,
	[DT_VALIDADE] [datetime] NULL,
	[CD_STATUS] [char](15) NULL,
	[DT_STATUS] [datetime] NULL,
	[TX_STATUS] [varchar](255) NULL,
	[NM_RESPONSAVEL] [varchar](20) NULL,
	[NR_PROC_COMERC] [char](18) NULL,
	[TX_OBS] [text] NULL,
	[TX_OBS_INDAIA] [text] NULL,
	[TX_DESC_PORT] [varchar](255) NULL,
	[TX_DESC_INGL] [varchar](255) NULL,
	[TX_INFORM_COMPL] [text] NULL,
	[CD_USUARIO] [char](4) NULL,
	[PESO_TAXADO] [float] NULL,
	[IN_DUPLICA] [char](1) NULL,
	[NM_CLIENTE_TEMP] [varchar](80) NULL,
 CONSTRAINT [PK_TPROPOSTA] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROPOSTA] ASC,
	[CD_UNID_NEG] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'esta coluna serve para guardar o motivo do status em especial quando o status for "REJEITADO"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TPROPOSTA', @level2type=N'COLUMN',@level2name=N'TX_STATUS'
GO
