USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PROCESSO_PO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PO] [char](10) NOT NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[DT_CHEGADA] [datetime] NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_PREVISTA_FABRICA] [datetime] NULL,
	[CD_LOCAL_EMBARQUE] [char](4) NULL,
	[NM_EMB_VOO] [char](40) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_LOCAL_DESEMBARQUE] [char](4) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_MOEDA] [char](3) NULL,
 CONSTRAINT [PK_TREL_PROCESSO_PO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[NR_PO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
