USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_RE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RE] [char](12) NOT NULL,
	[DT_RE] [datetime] NULL,
	[CD_NBM_SH] [char](11) NULL,
	[VL_FOB] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_FO__2549CC7B]  DEFAULT (0),
	[QT_PESO_LIQ] [float] NULL CONSTRAINT [DF__TPROCESSO__QT_PE__263DF0B4]  DEFAULT (0),
	[AP_MOEDA] [char](3) NULL,
	[AP_UNID_MED] [char](3) NULL,
	[NR_TRANSM_RE] [char](10) NULL,
	[CD_CANAL] [char](1) NULL,
	[IN_RE_AVERBADO] [char](1) NULL,
	[DT_EXTRATO_AVERBADO] [datetime] NULL,
	[CD_REFERENCIA] [varchar](30) NULL,
 CONSTRAINT [PK_TPROCESSO_EXP_RE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_RE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
