USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_OP_INDUST_DB](
	[TP_OP_INDUST_DB] [char](1) NOT NULL,
	[NM_TP_OP_INDUST_DB] [varchar](40) NOT NULL,
 CONSTRAINT [PK_TTP_OP_INDUST_DB] PRIMARY KEY CLUSTERED 
(
	[TP_OP_INDUST_DB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
