USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRE_ANEXO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PROCESSO_COMPLEMENTO] [char](3) NOT NULL,
	[CD_RE_ANEXO] [int] NOT NULL,
	[CD_NALADI] [varchar](8) NULL,
	[CD_NCM] [varchar](10) NULL,
	[CD_NBM] [varchar](10) NULL,
	[CD_UF_PRODUTOR] [varchar](2) NULL,
	[CD_EMBALAGEM] [varchar](10) NULL,
	[CD_UNID_MEDIDA] [varchar](3) NULL,
	[CD_FINALIDADE] [varchar](3) NULL,
	[CD_FORMA_PGTO] [varchar](1) NULL,
	[TX_CATEGORIA_TEXTIL] [varchar](30) NULL,
	[IN_EXPORTADOR_FABRICANTE] [varchar](1) NULL CONSTRAINT [DF_TRE_ANEXO_IN_EXPORTADOR_FABRICANTE]  DEFAULT (1),
	[IN_OBS_EXPORTADOR] [varchar](1) NULL CONSTRAINT [DF_TRE_ANEXO_IN_OBS_EXPORTADOR]  DEFAULT (0),
	[DT_VALIDADE_EMBARQUE] [datetime] NULL,
	[PESO_LIQUIDO] [float] NULL,
	[QT_UNIDADE_COMERCIAL] [float] NULL,
	[QT_MEDIA_NBM] [float] NULL,
	[VL_COND_VENDA] [float] NULL,
	[VL_LOCAL_VENDA] [float] NULL,
	[PC_COMISSAO] [float] NULL,
	[VL_COMISSAO] [float] NULL,
	[VL_FRETE_RATEADO] [float] NULL,
	[VL_SEGURO_RATEADO] [float] NULL,
	[PESO_BRUTO_RATEADO] [float] NULL,
	[CD_USUARIO] [varchar](4) NULL,
	[DT_DATA] [datetime] NULL,
	[TM_HORA] [datetime] NULL,
	[TX_OBSERVACAO_EXPORTADOR] [text] NULL,
	[CD_ORIGEM_REGISTRO] [varchar](1) NULL,
	[TX_PENDENCIA] [varchar](80) NULL,
	[TX_OBSERVACOES] [varchar](500) NULL,
	[TX_MENS_ADVERTENCIA1] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA2] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA3] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA4] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA5] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA6] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA7] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA8] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA9] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA10] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA11] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA12] [varchar](75) NULL,
	[TX_MENS_ADVERTENCIA13] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT1] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT2] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT3] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT4] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT5] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT6] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT7] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT8] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT9] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT10] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT11] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT12] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT13] [varchar](75) NULL,
	[TX_OBSERV_ORG_ANUENT14] [varchar](75) NULL,
	[QT_EMBARCADA] [float] NULL,
	[VL_EMBARCADO] [float] NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[VL_CAMB_PROVIS_RE] [float] NULL,
	[DT_PROVIS] [datetime] NULL,
	[VL_CAMB_APLIC_RE] [float] NULL,
	[DT_APLICACAO] [datetime] NULL,
	[VL_CAMB_LIQ_DESP] [float] NULL,
	[DT_EMB_EF_COB_CAMB] [datetime] NULL,
	[NR_SD_SISCOMEX] [varchar](12) NULL,
	[VL_COM_AG_EFET] [float] NULL,
	[DT_EMISSAO_CONHEC_EMB] [datetime] NULL,
	[PESO_LIQUIDO_KG_REBATE] [float] NULL,
	[QT_COMERC_REBATE] [float] NULL,
	[CD_UNIDADE_COMERC_REBATE] [varchar](15) NULL,
	[QT_NBM_SH_REBATE] [float] NULL,
	[CD_UNIDADE_NBM_SH_REBATE] [varchar](15) NULL,
	[VL_TOTAL_COND_VENDA_REBATE] [float] NULL,
	[VL_TOTAL_LOCAL_EMB_REBATE] [float] NULL,
	[VL_COMISSAO_AGENTE_REBATE] [float] NULL,
	[CD_FORMA_PGTO_REBATE] [varchar](1) NULL,
	[DT_AVERBACAO] [datetime] NULL,
	[IN_TRANSMISSAO_CONCLUIDA] [varchar](1) NULL CONSTRAINT [DF_TRE_ANEXO_IN_TRANSMISSAO_CONCLUIDA]  DEFAULT (0),
	[TX_DESC_MERCADORIA] [text] NULL,
	[CD_SULF_NCM] [char](2) NULL,
	[QTD_PRAZO_PAGAMENTO] [int] NULL,
	[IN_CCPTC] [bit] NULL,
	[IN_INSUMO_CCPTC] [bit] NULL,
	[IN_CCROM] [bit] NULL,
	[NR_RE] [varchar](15) NULL,
	[TX_REGISTRO_NOVOEX] [text] NULL,
	[IN_RE_AVERBADO] [bit] NULL DEFAULT ((0)),
	[VL_SEM_COBERTURA] [float] NULL,
	[CD_UNID_MEDIDA_ESTAT] [char](3) NULL,
	[DT_EXTRATO_AVERBADO] [datetime] NULL,
 CONSTRAINT [PK_TRE_ANEXO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_PROCESSO_COMPLEMENTO] ASC,
	[CD_RE_ANEXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
