USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCOMPENSACAO_CREDITO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_RECEITA_CREDITO] [char](4) NOT NULL,
	[VL_COMPENSAR_CRED] [float] NULL,
	[NR_DCTO_GERADOR_CR] [char](15) NULL,
 CONSTRAINT [PK_TCOMPENSACAO_CREDITO_1__10] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_RECEITA_CREDITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [ID_NR_PROCESSO] ON [TCOMPENSACAO_CREDITO]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [TCOMPENSACAO_CREDITO] ADD  CONSTRAINT [DF_TCOMPENSAC_VL_COMPENS1__122]  DEFAULT (0) FOR [VL_COMPENSAR_CRED]
GO
