USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_IMP_DEMURRAGE](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_CNTR] [char](20) NOT NULL,
	[TP_CNTR] [char](2) NULL,
	[IN_DEMURRAGE] [char](1) NULL,
	[DT_DEVOLUCAO_CNTR] [datetime] NULL,
	[CD_TRANSPORTADOR] [char](4) NULL,
	[CD_ARMAZEM_ATRACACAO] [char](4) NULL,
	[CD_ARMAZEM_DESCARGA] [char](4) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_CANAL] [char](1) NULL,
	[CD_TRANSP_NAC] [char](4) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[DT_DOCTOS_OK] [datetime] NULL,
	[DT_ENT] [datetime] NULL,
	[DT_ENT_TERMINAL] [datetime] NULL,
	[DT_PRES_CARGA] [datetime] NULL,
	[DT_LIB_BL] [datetime] NULL,
	[DT_REG_DI] [datetime] NULL,
	[DT_AVERBACAO] [datetime] NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_CI] [datetime] NULL,
	[DT_INSP_MA] [datetime] NULL,
	[DT_NF_TRANSP] [datetime] NULL,
	[DT_ENTR_FABRICA] [datetime] NULL,
	[TX_MERCADORIA] [text] NULL,
 CONSTRAINT [PK_TREL_IMP_DEMURRAGE] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[NR_CNTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
