USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TENQUAD_OP](
	[CD_ENQUAD_OP] [char](5) NOT NULL,
	[NM_ENQUAD_OP] [varchar](60) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
 CONSTRAINT [PK_TENQUAD_OP] PRIMARY KEY NONCLUSTERED 
(
	[CD_ENQUAD_OP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
