USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_CTRL_VENCTO](
	[TP_CTRL_VENCTO] [char](1) NOT NULL CONSTRAINT [DF_TTP_CTRL_VENCTO_TP_CTRL_VENCTO]  DEFAULT ('0'),
	[NM_TP_CTRL_VENCTO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TTP_CTRL_VENCTO] PRIMARY KEY CLUSTERED 
(
	[TP_CTRL_VENCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
