USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVIAGEM_DEADLINE](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_EMBARCACAO] [char](4) NOT NULL,
	[NR_VIAGEM] [char](4) NOT NULL,
	[CD_AGENTE] [char](4) NOT NULL,
	[TP_ESTUFAGEM] [char](1) NOT NULL,
	[HR_DEADLINE_BL] [char](10) NULL,
	[DT_DEADLINE_CARGA] [datetime] NULL,
	[HR_DEADLINE_CARGA] [char](10) NULL,
	[DT_DEADLINE_IMO] [datetime] NULL,
	[HR_DEADLINE_IMO] [char](10) NULL,
	[DT_ABERTURA_GATE] [datetime] NULL,
	[HR_ABERTURA_GATE] [char](10) NULL,
	[DT_DEADLINE_CARTA_TEMP] [datetime] NULL,
	[HR_DEADLINE_CARTA_TEMP] [char](10) NULL,
	[DT_DEADLINE_BL] [datetime] NULL,
	[CD_RESP_ALTERACAO] [char](4) NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[VIAGEMDOAGENTE] [varchar](30) NULL,
 CONSTRAINT [PK_TVIAGEM_DEADLINE] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_EMBARCACAO] ASC,
	[NR_VIAGEM] ASC,
	[CD_AGENTE] ASC,
	[TP_ESTUFAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
