USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCARTAS_CONFIG_BKP](
	[CD_CARTAS_CONFIG] [int] NOT NULL,
	[TX_CARTAS_CONFIG] [char](50) NOT NULL,
	[NM_CAMPO] [char](50) NULL,
	[NM_TABELA] [char](50) NULL,
	[NM_JOIN] [char](80) NULL,
	[IN_TABELA] [char](1) NULL,
	[IN_VARIOS_REGISTROS] [char](1) NULL,
	[TP_PRODUTO] [char](2) NULL,
	[NM_SQL_MANUAL] [text] NULL,
	[CD_DIRECAO] [char](1) NULL,
	[TX_MASCARA] [varchar](50) NULL,
	[TEXT_HIPERLINK] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
