USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [JoinReadEntryByUid]
    @uidhost int,
    @uidtype int,
    @uidid int
AS
    SELECT KEYTABLE.imalock, KEYTABLE.nodeid,
         KEYTABLE.contextid,KEYTABLE.rdn, 
         DATATABLE.partno, DATATABLE.partcount, 
     		         DATATABLE.datapart
    FROM KEYTABLE INNER JOIN	DATATABLE
    ON (KEYTABLE.nodeid = DATATABLE.nodeid)
    WHERE uidhost=@uidhost AND uidtype=@uidtype AND uidid=@uidid
    ORDER BY DATATABLE.nodeid, DATATABLE.partno

GO
