USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCD_RECOL_IR](
	[CD_RECOL] [char](4) NOT NULL,
	[VL_ALIQ] [float] NULL,
	[NM_NATUREZA] [char](40) NULL,
	[CD_LAYOUT_IR] [char](1) NULL,
 CONSTRAINT [PK_TCD_RECOL_IR_1__10] PRIMARY KEY CLUSTERED 
(
	[CD_RECOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
