USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNALADISH_EXP](
	[CODIGO] [char](8) NOT NULL,
	[NR_SEQ] [int] NOT NULL,
	[DESCRICAO] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TNALADISH_EXP] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC,
	[NR_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
