USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUSUARIO_HABILITACAO](
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[DT_HABILITACAO] [datetime] NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TUSUARIO_H_IN_ATIVO_1__12]  DEFAULT ('1'),
	[IN_DEFAULT] [char](1) NULL CONSTRAINT [DF_TUSUARIO_H_IN_DEFAULT_2__12]  DEFAULT ('0'),
	[IN_ACESSO_SITE] [char](1) NULL DEFAULT ('0'),
	[IN_DIREITOS] [char](1) NULL,
 CONSTRAINT [PK_THABILITACAO_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CD_USUARIO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TUSUARIO_HABILITACAO_5_223756300__K5] ON [TUSUARIO_HABILITACAO]
(
	[IN_ATIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TUSUARIO_HABILITACAO_7_223756300__K1_K5_K2_3] ON [TUSUARIO_HABILITACAO]
(
	[CD_USUARIO] ASC,
	[IN_ATIVO] ASC,
	[CD_UNID_NEG] ASC
)
INCLUDE ( 	[CD_PRODUTO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
