USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDECLARACAO_IMPORTACAO_DE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_DE_MERCOSUL] [char](16) NOT NULL,
	[NR_RE_INICIAL] [char](4) NOT NULL,
	[NR_RE_FINAL] [char](4) NOT NULL,
 CONSTRAINT [PK_TDECLARACAO_IMPORTACAO_DE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_DE_MERCOSUL] ASC,
	[NR_RE_INICIAL] ASC,
	[NR_RE_FINAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
