USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_FORMA_PAGTO](
	[CD_FORMA_PAGTO] [char](1) NOT NULL,
	[NM_FORMA_PAGTO] [char](20) NOT NULL,
 CONSTRAINT [PK_TTP_FORMA_PAGTO] PRIMARY KEY CLUSTERED 
(
	[CD_FORMA_PAGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
