USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPOSTA_FRETE_ITEM](
	[NR_PROPOSTA] [char](20) NOT NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_TAB_FRETE] [char](5) NOT NULL,
	[CD_PROPOSTA_FRETE_ITEM] [char](20) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[PESO_TAB_FRETE] [float] NULL,
	[VOLUME_TAB_FRETE] [char](2) NULL,
	[TTIPO_SIMBOLO_TAB_FRETE] [varchar](15) NULL,
	[VL_COMPRA_TAB_FRETE] [float] NULL,
	[VL_VENDA_TAB_FRETE] [float] NULL,
	[PERC_VENDA_TAB_FRETE] [float] NULL,
	[TP_ESTUFAGEM] [char](1) NULL,
	[TP_FRETE] [char](1) NULL,
	[VL_VENDA_MINIMA] [float] NULL,
	[NR_ITEM_PROPOSTA] [int] NOT NULL,
 CONSTRAINT [PK_TPROPOSTA_FRETE_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROPOSTA] ASC,
	[CD_TAB_FRETE] ASC,
	[CD_PROPOSTA_FRETE_ITEM] ASC,
	[CD_PRODUTO] ASC,
	[NR_ITEM_PROPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
