USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_AVARIA](
	[CD_ANALISTA_COMISSARIA] [char](4) NULL,
	[DS_TEXT] [varchar](500) NULL
) ON [PRIMARY]

GO
