USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDA_LIB_AVARIA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_REF] [varchar](15) NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[NR_LOTE] [varchar](12) NOT NULL,
	[DT_LIB] [datetime] NOT NULL,
	[QT_LIB] [int] NOT NULL,
	[PL_LIB] [float] NULL,
	[CD_USUARIO_LIB] [char](4) NULL,
	[TX_MOTIVO_LIB] [text] NULL,
 CONSTRAINT [PK_TDA_LIB_AVARIA] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_REF] ASC,
	[CD_MERCADORIA] ASC,
	[NR_LOTE] ASC,
	[DT_LIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [TDA_LIB_AVARIA] ADD  CONSTRAINT [DF_TDA_LIB_AVARIA_QT_LIB]  DEFAULT ((0)) FOR [QT_LIB]
GO
ALTER TABLE [TDA_LIB_AVARIA] ADD  CONSTRAINT [DF_TDA_LIB_AVARIA_PL_LIB]  DEFAULT ((0)) FOR [PL_LIB]
GO
