USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCAIXA_CHEQUES](
	[CD_COLIGADA] [char](2) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[CD_BANCO] [char](3) NOT NULL,
	[NR_CHEQUE] [char](6) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[VL_CHEQUE] [float] NOT NULL,
	[IN_CANCELADO] [char](1) NOT NULL,
 CONSTRAINT [PK_TCAIXA_CHEQUES_1__10] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_UNID_NEG] ASC,
	[DT_MOVIMENTO] ASC,
	[CD_BANCO] ASC,
	[NR_CHEQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
