USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREFERENCIA_RECEB](
	[CD_REFERENCIA] [char](4) NOT NULL,
	[TX_REFERENCIA] [text] NOT NULL,
	[CD_USUARIO] [char](4) NULL,
 CONSTRAINT [PK_TREFERENCIA_RECEB] PRIMARY KEY CLUSTERED 
(
	[CD_REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
