USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [THISTORICO_CALCULO_DI](
	[NR_PROCESSO] [char](18) NOT NULL,
	[DT_OPERACAO] [datetime] NULL DEFAULT (getdate()),
	[CD_USUARIO] [char](4) NULL,
	[ID_USUARIO] [int] NULL,
	[VL_TOTAL_AD] [float] NULL,
	[DT_CALCULO] [datetime] NULL,
	[TX_DOLAR] [float] NULL,
	[VL_CIF_MN] [float] NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[TX_MLE] [float] NULL,
	[VL_MLE_MN] [float] NULL,
	[VL_MLE_MNEG] [float] NULL,
	[VL_II] [float] NULL,
	[VL_IPI] [float] NULL,
	[VL_PIS] [float] NULL,
	[VL_COFINS] [float] NULL,
	[VL_ICMS] [float] NULL,
	[VL_FUNDO_POBREZA] [float] NULL,
	[VL_TRIBUTO_PAGO] [float] NULL,
	[VL_SDA] [float] NULL,
	[VL_DESPS_MN] [float] NULL,
	[VL_ACRESCIMOS_MN] [float] NULL,
	[VL_DESPS_MNEG] [float] NULL,
	[VL_DEDUCOES_MN] [float] NULL,
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[TX_SEGURO] [float] NULL,
	[VL_SEG_MN] [float] NULL,
	[VL_SEGURO_MNEG] [float] NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[TX_FRETE] [float] NULL,
	[VL_FRETE_MN] [float] NULL,
	[VL_FRETE_MNEG] [float] NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_RECINTO_ALFAND] [char](7) NULL,
	[CD_SETOR_ARMAZENAM] [char](3) NULL,
	[CD_URF_ENTR_CARGA] [char](7) NULL,
	[CD_APLICACAO] [char](1) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_TRANSP_NAC] [char](4) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[DT_CHEG_NAVIO] [datetime] NULL
) ON [PRIMARY]

GO
