USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TBOLETO_FATURA](
	[NR_BOLETO] [char](10) NOT NULL,
	[NR_FATURA] [char](6) NOT NULL,
	[DT_GERACAO] [datetime] NULL,
	[CD_CLIENTE] [char](5) NULL,
	[NR_REMESSA] [char](4) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[IN_CANCELADO] [char](1) NULL,
	[VL_BOLETO] [float] NULL,
	[IN_IMPRESSO] [char](1) NULL,
	[CD_BANCO] [char](3) NULL,
 CONSTRAINT [PK_TBOLETO_FATURA] PRIMARY KEY NONCLUSTERED 
(
	[NR_BOLETO] ASC,
	[NR_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TBOLETO_FATURA] ADD  CONSTRAINT [DF__TBOLETO_F__IN_CA__47208CE9]  DEFAULT ('0') FOR [IN_CANCELADO]
GO
ALTER TABLE [TBOLETO_FATURA] ADD  CONSTRAINT [DF__TBOLETO_F__VL_BO__4814B122]  DEFAULT ('0') FOR [VL_BOLETO]
GO
ALTER TABLE [TBOLETO_FATURA] ADD  CONSTRAINT [DF_TBOLETO_FATURA_IN_IMPRESSO]  DEFAULT ('0') FOR [IN_IMPRESSO]
GO
