USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_AGENTE](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_AGENTE] [char](4) NOT NULL,
	[NR_DIAS_FREE_TIME] [int] NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TCLIENTE_AGENTE_IN_ATIVO]  DEFAULT ('1'),
	[CD_TRANSPORTADOR] [char](4) NOT NULL,
 CONSTRAINT [PK_TCLIENTE_AGENTE] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_AGENTE] ASC,
	[CD_TRANSPORTADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
