USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FOLLOWUP_NAVIO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[NM_EMBARCACAO] [char](40) NULL,
	[NM_URGENCIA] [char](3) NULL,
	[NM_EMPRESA] [char](50) NULL,
	[NM_AGENTE] [char](60) NULL,
	[ARM_ATRAC] [char](50) NULL,
	[ARM_DESC] [char](50) NULL,
	[DT_ESPERA_NAVIO] [datetime] NULL,
	[DT_ENT] [datetime] NULL,
	[DT_DESOVA] [datetime] NULL,
	[DT_LIB_BL] [datetime] NULL,
	[DT_REC_DOC] [datetime] NULL,
	[DT_DOC_OK] [datetime] NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_CAMBIO] [datetime] NULL,
	[DT_REG_DI] [datetime] NULL,
	[DT_ENT_MERC] [datetime] NULL,
	[DT_CI] [datetime] NULL,
	[DT_PRES_CARGA] [datetime] NULL,
	[TX_OBS] [text] NULL,
	[NR_VIAGEM] [char](15) NULL,
	[NM_AREA] [char](50) NULL,
	[DT_NF_TRANSP] [datetime] NULL,
	[DT_PREV_FABRICA] [datetime] NULL,
	[CD_CANAL] [char](1) NULL,
	[TX_MERC] [text] NULL,
	[CD_SERVICO] [char](3) NULL,
	[NM_AREA_SUB] [char](50) NULL,
	[DT_SOL_NUM_DESP] [datetime] NULL,
	[DT_SOL_NUM_IMP] [datetime] NULL,
	[DT_REC_NUM_DESP] [datetime] NULL,
	[DT_REC_NUM_IMP] [datetime] NULL,
	[DT_ENV_PED_TRI] [datetime] NULL,
	[DT_AUT_DESP] [datetime] NULL,
	[DT_VINC_CE] [datetime] NULL,
	[DT_SOL_NF] [datetime] NULL,
 CONSTRAINT [PK_TFLLOWUP_EV] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
