USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPO_ITEM_CONTAINER](
	[NR_PROCESSO] [char](30) NOT NULL,
	[NR_ITEM_CLIENTE] [char](4) NOT NULL,
	[NR_PARCIAL] [int] NOT NULL,
	[CD_EMPRESA] [char](5) NOT NULL,
	[NR_CNTR] [char](20) NOT NULL,
	[QTD_CONTAINER] [float] NULL,
	[CD_LOCAL_ENTREGA] [char](15) NULL,
 CONSTRAINT [PK_TPO_ITEM_CONTAINER] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ITEM_CLIENTE] ASC,
	[NR_PARCIAL] ASC,
	[CD_EMPRESA] ASC,
	[NR_CNTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TPO_ITEM_CONTAINER_01] ON [TPO_ITEM_CONTAINER]
(
	[NR_PROCESSO] ASC,
	[NR_ITEM_CLIENTE] ASC,
	[NR_PARCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TPO_ITEM_CONTAINER_02] ON [TPO_ITEM_CONTAINER]
(
	[NR_PROCESSO] ASC,
	[NR_ITEM_CLIENTE] ASC,
	[NR_PARCIAL] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
