USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_FORMA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PAGINA] [int] NOT NULL,
 CONSTRAINT [PK_TPROCESSO_FORMA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_PAGINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
