USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLUXO_CAIXA_ANALITICO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[CD_FAVORECIDO] [char](5) NOT NULL,
	[NM_DESCRICAO] [char](100) NOT NULL,
	[VL_LANCAMENTO] [float] NOT NULL,
	[TP_NATUREZA] [char](1) NOT NULL,
 CONSTRAINT [PK_TREL_FLUXO_CAIXA_ANALITICO] PRIMARY KEY NONCLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[DT_MOVIMENTO] ASC,
	[CD_FAVORECIDO] ASC,
	[NM_DESCRICAO] ASC,
	[TP_NATUREZA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FLUXO_CAIXA_ANALITICO] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_ADM_VL_LANCAMENTO]  DEFAULT (0) FOR [VL_LANCAMENTO]
GO
