USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRELACAO_CLIENTE](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[FREQUENCIA] [char](2) NULL,
	[DT_ABERTURA] [datetime] NULL,
	[LP] [smallint] NOT NULL CONSTRAINT [DF_TRELACAO_C_LP_2__17]  DEFAULT (0),
	[NLP] [smallint] NOT NULL CONSTRAINT [DF_TRELACAO_C_NLP_3__17]  DEFAULT (0),
	[IN_ATIVO] [smallint] NOT NULL CONSTRAINT [DF_TRELACAO_C_IN_ATIVO_1__17]  DEFAULT (0),
	[MOV] [char](24) NULL,
 CONSTRAINT [PK_TRELACAO_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
