USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARMAZEM_DESPESAS_BASICAS](
	[CD_ARMAZEM] [char](4) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_DESPESA_BASICA] [int] NOT NULL,
	[TX_DESCRICAO_DESPESA] [char](200) NULL,
	[TX_VALOR_LIMITE] [char](20) NULL,
	[CD_MARGEM] [char](1) NULL,
	[TX_PERIODO] [char](10) NULL,
	[QT_DIAS] [int] NULL,
	[TX_TIPO_CALCULO] [char](10) NULL,
	[VL_PRINCIPAL] [float] NULL,
	[VL_MINIMO_20] [float] NULL,
	[VL_MINIMO_40] [float] NULL,
	[VL_DESP_CIF] [char](50) NULL,
	[VL_DESP_VALOR] [char](50) NULL,
	[CD_TABELA] [int] NOT NULL,
	[IN_POR_DIA] [char](1) NULL,
	[TP_REGISTRO] [char](2) NULL,
	[TP_TAMANHO] [char](1) NULL,
	[IN_MARGEM] [char](1) NULL,
 CONSTRAINT [PK_TARMAZEM_DESPESAS_BASICAS] PRIMARY KEY CLUSTERED 
(
	[CD_ARMAZEM] ASC,
	[CD_ITEM] ASC,
	[CD_DESPESA_BASICA] ASC,
	[CD_TABELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
