USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFATORES_TRIGGERS](
	[CD_FATOR] [int] NOT NULL,
	[NM_TABELA] [char](100) NOT NULL,
	[NM_CAMPOS_CHAVE] [varchar](1000) NOT NULL,
	[NM_CAMPOS_UPDATE] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_TFATORES_TRIGGERS] PRIMARY KEY CLUSTERED 
(
	[CD_FATOR] ASC,
	[NM_TABELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
