USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNF_RETENCAO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[DT_FATURA] [datetime] NULL,
	[NR_NOTA] [char](6) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_GRUPO] [char](3) NULL,
	[VL_TRIBUTAVEL] [decimal](18, 2) NULL,
	[VL_RETENCAO] [decimal](10, 2) NULL,
	[IN_STATUS] [char](1) NULL,
	[NR_NOTA_ACUMULADA] [char](6) NULL,
	[NR_NOTA_ACUMULADA_CANC] [char](6) NULL,
	[CD_UNID_NEG_ACUMULADA] [char](2) NULL,
	[CD_PRODUTO_ACUMULADA] [char](2) NULL,
	[NR_SOLICITACAO_ACUMULADA] [char](6) NULL,
	[CD_USUARIO_CANC] [char](4) NULL,
	[DT_CANC] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TNF_RETENCAO] ON [TNF_RETENCAO]
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TNF_RETENCAO_5_335808754__K1_K5_K7_K11] ON [TNF_RETENCAO]
(
	[CD_UNID_NEG] ASC,
	[DT_FATURA] ASC,
	[CD_CLIENTE] ASC,
	[IN_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
