USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_AGENTE_DEMURRAGE](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_AGENTE] [char](4) NOT NULL,
	[NR_PERIODO] [char](3) NOT NULL,
	[NR_DIAS_PERIODO] [int] NOT NULL,
	[VL_DIARIA] [float] NULL CONSTRAINT [DF_TCLIENTE_AGENTE_DEMURRAGE_VL_DIARIA]  DEFAULT (0),
	[CD_MOEDA] [char](3) NULL,
	[TP_CNTR] [char](2) NOT NULL,
	[IN_ISENTO] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_IS__4ADCDA8B]  DEFAULT ('0'),
	[DT_INI_VIG] [datetime] NULL,
	[DT_FIM_VIG] [datetime] NULL,
	[CD_TRANSPORTADOR] [char](4) NOT NULL,
 CONSTRAINT [PK_TCLIENTE_AGENTE_DEMURRAGE] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_CLIENTE] ASC,
	[CD_AGENTE] ASC,
	[NR_PERIODO] ASC,
	[CD_TRANSPORTADOR] ASC,
	[TP_CNTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
