USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_TAB_SDA](
	[CD_TP_TAB_SDA] [char](1) NOT NULL,
	[NM_TP_TAB_SDA] [varchar](30) NULL,
 CONSTRAINT [PK_TTP_TAB_SDA] PRIMARY KEY CLUSTERED 
(
	[CD_TP_TAB_SDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
