USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMASTER](
	[CD_MASTER] [char](15) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_MASTER] [char](25) NULL,
	[CD_VIA_TRANSP] [char](2) NOT NULL,
	[TP_MASTER] [char](1) NULL,
	[CD_AGENTE] [char](4) NULL,
	[DT_EMISSAO_DTA] [datetime] NULL,
	[CD_MOEDA] [char](3) NULL,
	[CD_CIA_TRANSP] [char](4) NULL,
	[DT_CHEGADA] [datetime] NULL,
	[CD_ORIGEM] [char](4) NULL,
	[DT_PREV_SAIDA] [datetime] NULL,
	[NR_VOO] [char](14) NULL,
	[CD_DESTINO] [char](4) NULL,
	[DT_PREV_CHEGADA] [datetime] NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[ESCALA1] [char](4) NULL,
	[DT_PREV_ESCALA1] [datetime] NULL,
	[TT_DESPESA_MASTER] [float] NULL,
	[ESCALA2] [char](4) NULL,
	[DT_PREV_ESCALA2] [datetime] NULL,
	[ESCALA1_NR_VOO] [char](14) NULL,
	[ESCALA2_NR_VOO] [char](14) NULL,
	[DT_ABERTURA] [datetime] NULL,
	[TP_FRETE_MASTER] [char](1) NULL,
	[VOL_MASTER] [float] NULL,
	[GROSS_MASTER] [float] NULL,
	[CHARG_MASTER] [float] NULL,
	[CD_VEICULO] [char](4) NULL,
	[CD_ARMADOR] [char](4) NULL,
	[CD_NOTIFICADOR] [char](4) NULL,
	[CD_VEIC_TRANSBORDO] [char](4) NULL,
	[CD_PORTO_TRANSBORDO] [char](4) NULL,
	[NR_VIAGEM_TRANSBORDO] [char](15) NULL,
	[DT_TRANSBORDO] [datetime] NULL,
	[DT_SAIDA] [datetime] NULL,
	[TARIFA_MASTER] [float] NULL,
	[TT_FRETE_MASTER] [float] NULL,
	[DT_PAGTO_FEE] [datetime] NULL,
	[TARIFA_AUX] [float] NULL,
	[TARIFA_CUSTO] [float] NULL,
	[TARIFA_CUSTO_CIA] [float] NULL,
	[CD_ARMAZEM_ATRACACAO] [char](4) NULL,
	[CD_ARMAZEM_DESCARGA] [char](4) NULL,
	[VL_TARIFA_NETNET] [float] NULL,
	[nr_booking] [char](30) NULL,
	[CD_AG_COMISSAO] [char](4) NULL,
	[VL_TARIFA_NET_NET] [float] NULL,
	[VL_CUBAGEM] [float] NULL,
	[CD_TAB_FRETE] [char](5) NULL,
	[IN_CALC_PROFIT] [char](1) NULL DEFAULT ('0'),
	[TP_ESTUFAGEM] [char](1) NULL DEFAULT ('0'),
	[IN_COMISSAO] [char](1) NULL DEFAULT ('0'),
	[IN_ACCOUNT] [char](1) NULL DEFAULT ('0'),
	[IN_SOLICITADO] [char](1) NULL,
	[TEXTO] [text] NULL,
	[DT_DEAD_LINE] [datetime] NULL,
	[DT_MASTER] [datetime] NULL,
	[NR_VIAGEM_ARMADOR] [char](15) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
