USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_CNTR](
	[TP_CNTR] [char](2) NOT NULL,
	[NM_TP_CNTR] [char](20) NOT NULL,
	[IN_ATIVO] [char](1) NULL,
	[TP_PESO] [char](1) NULL,
 CONSTRAINT [PK_TTP_CNTR] PRIMARY KEY CLUSTERED 
(
	[TP_CNTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
