USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_FUND_LEGAL](
	[CD_REGIME_TRIB] [char](1) NOT NULL,
	[CD_FUND_LEGAL] [char](2) NOT NULL,
 CONSTRAINT [PK_TTP_FUND_LEGAL] PRIMARY KEY CLUSTERED 
(
	[CD_REGIME_TRIB] ASC,
	[CD_FUND_LEGAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
