USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_ESTAGIOS](
	[NR_PROCESSO] [char](18) NULL,
	[CD_TIPO] [int] NULL,
	[IN_CONCLUIDO] [char](1) NULL,
	[DT_CONCLUSAO] [datetime] NULL,
	[NM_ESTAGIO_BROKER] [char](50) NULL,
	[NM_ESTAGIO_SISCOMEX] [char](50) NULL,
	[IN_POSSUI_DOCUMENTO] [char](1) NULL,
	[NM_BSL] [char](20) NULL,
	[TX_DOCUMENTO_SISCOMEX] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
