USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_TRANSP_ROD](
	[CD_TRANSP_ROD] [char](4) NOT NULL,
	[CD_TAXA] [char](3) NOT NULL,
	[NM_TAXA] [varchar](30) NOT NULL,
	[VL_CNTR_20_MD] [float] NULL,
	[VL_CNTR_20_ME] [float] NULL,
	[VL_CNTR_20_MD_RORO] [float] NULL,
	[VL_CNTR_20_ME_RORO] [float] NULL,
	[VL_CNTR_40_MD] [float] NULL,
	[VL_CNTR_40_ME] [float] NULL,
	[VL_CNTR_40_MD_RORO] [float] NULL,
	[VL_CNTR_40_ME_RORO] [float] NULL,
	[VL_C_SOLTA_MD] [float] NULL,
	[VL_C_SOLTA_ME] [float] NULL,
	[VL_C_SOLTA_MD_RORO] [float] NULL,
	[VL_C_SOLTA_ME_RORO] [float] NULL,
	[IN_ATIVO] [char](1) NULL,
 CONSTRAINT [PK_TTAXA_TRANSP_ROD] PRIMARY KEY CLUSTERED 
(
	[CD_TRANSP_ROD] ASC,
	[CD_TAXA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
