USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDECLARACOES_FIESP_TESTE](
	[CD_EMPRESA] [char](5) NULL,
	[CD_ACORDO_FIESP] [char](2) NULL,
	[CD_ACORDO_BROKER] [char](10) NULL,
	[CD_DECLARACAO] [char](10) NULL,
	[CD_NCM_NALADI] [char](10) NULL,
	[DT_VALIDADE] [datetime] NULL,
	[DT_ATUALIZACAO] [datetime] NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TDECLARACOES_FIESP_TESTE_IN_ATIVO]  DEFAULT ((1)),
	[IN_RENOVA_WS] [char](1) NULL CONSTRAINT [DF_TDECLARACOES_FIESP_TESTE_IN_RENOVA_WS]  DEFAULT ('0'),
	[NM_DECLARACAO] [varchar](3000) NULL
) ON [PRIMARY]

GO
