USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFORMS](
	[NM_FORM] [char](50) NOT NULL,
	[CD_SISTEMA] [int] NOT NULL,
	[NM_EXIBICAO] [varchar](100) NULL,
 CONSTRAINT [PK_TFORMS] PRIMARY KEY CLUSTERED 
(
	[NM_FORM] ASC,
	[CD_SISTEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [FK_TSISTEMAS_TFORMS] ON [TFORMS]
(
	[CD_SISTEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
