USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TROBO](
	[CD_ROBO] [int] IDENTITY(1,1) NOT NULL,
	[NM_ROBO] [varchar](255) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[DT_REINICIO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[NR_INTERVALO] [int] NULL,
	[NM_SERVIDOR] [varchar](255) NULL,
	[IN_REINICIAR] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_ROBO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
