USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATZ_MYINDAIA_PROCESSO](
	[CD_ATUALIZACAO] [int] IDENTITY(1,1) NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NM_TABELA] [varchar](50) NULL,
	[AP_USUARIO] [char](15) NULL,
	[DT_ATUALIZACAO] [datetime] NULL,
 CONSTRAINT [PK_TATZ_MYINDAIA_PROCESSO] PRIMARY KEY CLUSTERED 
(
	[CD_ATUALIZACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TATZ_MYINDAIA_PROCESSO] ON [TATZ_MYINDAIA_PROCESSO]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
