USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LEAIUTE_GRID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASSE] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[TITULO_REL] [varchar](100) NULL,
	[LEIAUTE] [text] NULL,
 CONSTRAINT [PK_LEAIUTE_GRID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
