USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_SDA_EXTRATO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_DESPACHANTE] [char](3) NOT NULL,
	[DT_PAGTO] [datetime] NOT NULL,
	[VL_SDA] [float] NOT NULL,
	[VL_COMPL] [float] NOT NULL,
	[VL_TOTAL] [float] NOT NULL,
 CONSTRAINT [PK_TREL_SDA_EXTRATO] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_SDA_EXTRATO] ADD  CONSTRAINT [DF_TREL_SDA_EXTRATO_VL_SDA]  DEFAULT (0) FOR [VL_SDA]
GO
ALTER TABLE [TREL_SDA_EXTRATO] ADD  CONSTRAINT [DF_TREL_SDA_EXTRATO_VL_COMPL]  DEFAULT (0) FOR [VL_COMPL]
GO
