USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_INDICADOR_PERIODO](
	[TP_INDICADOR] [char](1) NOT NULL,
	[NM_INDICADOR] [char](20) NOT NULL,
 CONSTRAINT [PK_TTP_INDICADOR_PERIODO] PRIMARY KEY CLUSTERED 
(
	[TP_INDICADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
