USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMBF_INFO](
	[CD_MBF] [int] NOT NULL,
	[NM_MBF] [varchar](50) NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_GRUPO] [char](3) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[IN_MODAL] [bit] NULL CONSTRAINT [DF_TMBF_IN_MODAL]  DEFAULT ((0)),
	[IN_CNPJ] [bit] NULL CONSTRAINT [DF_TMBF_IN_CNPJ]  DEFAULT ((0)),
	[IN_AREA] [bit] NULL CONSTRAINT [DF_TMBF_IN_AREA]  DEFAULT ((0)),
	[IN_ESTUFAGEM] [bit] NULL CONSTRAINT [DF_TMBF_IN_ESTUFAGEM]  DEFAULT ((0)),
	[IN_DESVIOS] [bit] NULL CONSTRAINT [DF_TMBF_IN_DESVIOS]  DEFAULT ((0)),
	[IN_DECIMAL] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_DECIMAL]  DEFAULT ((0)),
	[TP_AGRUPAMENTO] [char](1) NULL CONSTRAINT [DF_TMBF_INFO_TP_AGRUPAMENTO]  DEFAULT ((1)),
	[CD_USUARIO_CRIADOR] [char](4) NULL,
	[CD_MBF_CRIADOR] [int] NULL,
	[IN_LEGENDA_META] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_LEGENDA_META]  DEFAULT ((0)),
	[IN_META] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_LEGENDA_META1]  DEFAULT ((0)),
	[QTDE_MESES_GRAFICO] [int] NULL CONSTRAINT [DF_TMBF_INFO_QTDE_MESES_GRAFICO]  DEFAULT ((12)),
	[IN_ATIVO] [bit] NULL,
	[IN_LI] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_LI]  DEFAULT ((0)),
	[IN_PAIS_ORIGEM] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_PAIS_ORIGEM]  DEFAULT ((0)),
	[IN_PREFIXO] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_PREFIXO]  DEFAULT ((0)),
	[IN_TERMINAL] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_PREFIXO1]  DEFAULT ((0)),
	[IN_CANAL] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_TERMINAL1]  DEFAULT ((0)),
	[IN_GRAFICO_PROC_ABERTOS] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_GRAFICO_PROC_ABERTOS]  DEFAULT ((0)),
	[IN_UTEIS_CORRIDOS] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_UTEIS_CORRIDOS]  DEFAULT ((0)),
	[IN_COM_SEM_DESVIOS] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_COM_SEM_DESVIOS]  DEFAULT ((0)),
	[CD_CLIENTE] [char](5) NULL,
	[IN_SERVICO] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_CANAL1]  DEFAULT ((0)),
	[CD_AREA] [char](2) NULL,
	[IN_LOCAL_DES] [bit] NULL CONSTRAINT [DF_TMBF_INFO_IN_SERVICO1]  DEFAULT ((0)),
	[CD_ATENDENTE] [char](4) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TMBF_INFO_IDX01] ON [TMBF_INFO]
(
	[CD_MBF] ASC,
	[CD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
