USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [VW_DT_DESOVA] AS
SELECT NR_PROCESSO, CD_SERVICO, DT_REALIZACAO
FROM TFOLLOWUP
WHERE CD_EVENTO = ( SELECT CD_EV_DESOVA FROM TPARAMETROS ) AND
      IN_APLICAVEL = '1'



GO
