USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREPARA_PO_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[NR_PROC_OLD] [char](18) NULL,
	[NR_ITEM_OLD] [char](3) NULL,
	[CD_MERCADORIA] [varchar](15) NULL,
	[DT_BAIXA] [datetime] NULL,
	[IN_PREPARACAO] [char](1) NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_IN_PREPARACAO]  DEFAULT ('0'),
	[QT_BAIXADA] [float] NULL,
	[NR_SEGURO_DEFINITIVO] [char](12) NULL,
	[VL_DESPESA] [float] NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_VL_DESPESA]  DEFAULT (0),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_VL_DESCONTO]  DEFAULT (0),
	[VL_SEGURO] [float] NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_VL_SEGURO]  DEFAULT (0),
	[VL_ACRESCIMO] [float] NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_VL_ACRESCIMO]  DEFAULT (0),
	[VL_DEDUCAO] [float] NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_VL_DEDUCAO]  DEFAULT (0),
	[VL_FRETE_NACIONAL] [float] NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_VL_FRETE_NACIONAL]  DEFAULT (0),
	[VL_FRETE_PREPAID] [float] NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_VL_FRETE_PREPAID]  DEFAULT (0),
	[VL_FRETE_COLLECT] [float] NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_VL_FRETE_COLLECT]  DEFAULT (0),
	[VL_BAIXADO] [float] NULL,
	[VL_BAIXADO_RATEIO] [float] NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_VL_UNIT_COMPLETO]  DEFAULT (0),
	[IN_MONTADO] [char](1) NULL CONSTRAINT [DF_TPREPARA_PO_ITEM_IN_MONTADO]  DEFAULT ('0'),
	[CD_USUARIO_MONTA] [char](4) NULL,
	[TP_PROCESSO] [char](1) NOT NULL CONSTRAINT [DF__TPREPARA___TP_PR__09186D78]  DEFAULT (1),
 CONSTRAINT [PK_TPREPARA_PO_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ITEM] ASC,
	[TP_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
