USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_MOD_FAT](
	[CD_MOD_FAT] [char](1) NOT NULL,
	[NM_MOD_FAT] [char](20) NOT NULL,
 CONSTRAINT [PK_TTP_MOD_FAT] PRIMARY KEY CLUSTERED 
(
	[CD_MOD_FAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
