USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_RELEASE](
	[TP_RELEASE] [char](1) NOT NULL,
	[NM_TP_RELEASE] [char](20) NULL,
 CONSTRAINT [PK_TP_RELEASE] PRIMARY KEY CLUSTERED 
(
	[TP_RELEASE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
