USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPOSTA_FRETE](
	[NR_PROPOSTA] [char](20) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_TAB_FRETE] [char](5) NOT NULL,
	[CD_TAB_FRETE_COMPRA] [char](6) NULL,
	[CD_STATUS] [char](1) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_CIA_TRANSP] [char](4) NULL,
	[CD_ARMADOR] [char](4) NULL,
	[TP_FREQUENCIA] [char](1) NULL,
	[CD_MOEDA] [char](3) NULL,
	[TRASMIT_TIME] [varchar](3) NULL,
	[CD_ORIGEM] [char](4) NULL,
	[CD_DESTINO] [char](4) NULL,
	[VL_VENDA] [float] NULL,
	[VL_COMPRA] [float] NULL,
	[TP_ESTUFAGEM] [char](1) NULL,
	[VL_PESO_KG] [float] NULL,
	[VL_PESO_TON] [float] NULL,
	[VL_CUBAGEM] [float] NULL,
	[VL_CHARGEABLE] [float] NULL,
	[VL_FRETE_VENDA] [float] NULL,
	[VL_FRTE_COMPRA] [float] NULL,
	[VL_CUSTO] [float] NULL,
	[OTHER_CUSTO] [float] NULL,
	[OTHER_VENDA] [float] NULL,
	[QTDE] [float] NULL,
	[TP_CARGA] [char](1) NULL,
	[NR_ITEM_PROPOSTA] [int] NOT NULL,
	[CD_PORTO_TRANSBORDO] [char](4) NULL,
	[CD_PORTO_TRANSBORDO_2] [char](4) NULL,
	[NR_FREE_TIME_DEMURRAGE] [varchar](3) NULL,
 CONSTRAINT [PK_TPROPOSTA_FRETE] PRIMARY KEY CLUSTERED 
(
	[NR_PROPOSTA] ASC,
	[CD_PRODUTO] ASC,
	[CD_TAB_FRETE] ASC,
	[NR_ITEM_PROPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
