USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FAT_LIVRO_FISCAL_GISS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_NF_INICIO] [char](10) NOT NULL,
	[NR_NF_FIM] [char](10) NULL,
	[DT_NF] [datetime] NULL,
	[VL_TRIB] [float] NULL,
	[CD_CLIENTE] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_NF_INICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
