USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDE_PARA](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_TABELA] [char](2) NOT NULL,
	[CD_DDBROKER] [char](10) NOT NULL,
	[CD_EXTERNO] [char](100) NOT NULL,
	[CD_GRUPO] [char](3) NULL,
 CONSTRAINT [PK_TDE_PARA] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_TABELA] ASC,
	[CD_DDBROKER] ASC,
	[CD_EXTERNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
