USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEBIMENTO_PROCESSO_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RECEBIMENTO] [char](6) NOT NULL,
	[NR_LANC_RECEB] [char](4) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_ITEM] [char](3) NULL,
	[VL_SOLICITADO] [float] NULL,
	[VL_RECEBIDO] [float] NULL,
	[IN_CANCELADO] [char](1) NULL,
	[VL_UTILIZADO] [float] NULL,
	[VL_DEVOLVIDO] [float] NULL,
	[CD_MOEDA_VENDA] [char](3) NULL,
	[VL_VENDA] [float] NULL,
	[CD_MOEDA_COMPRA] [char](3) NULL,
	[VL_COMPRA] [float] NULL,
	[VL_TARIFARIO] [float] NULL,
	[CD_BANCO_ITEM] [char](3) NULL,
	[VL_ADICIONAL_ITEM] [float] NULL,
 CONSTRAINT [PK_TRECEBIMENTO_PROCESSO_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_RECEBIMENTO] ASC,
	[CD_CLIENTE] ASC,
	[NR_LANC_RECEB] ASC,
	[NR_LANCAMENTO] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
