USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_RE_ITENS_NOVOEX](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RE] [char](12) NOT NULL,
	[NR_NCM] [char](11) NULL,
	[TX_ENQUADRAMENTO] [varchar](max) NULL,
	[NR_ITEM] [int] NOT NULL,
	[TX_MERCADORIA] [varchar](max) NULL,
	[VL_COND_VENDA] [float] NOT NULL,
	[VL_LOCAL_EMB] [float] NULL,
	[QT_UNID_COMERC] [float] NULL,
	[TX_UNID_COMERC] [varchar](max) NULL,
	[QT_UNID_ESTAT] [float] NULL,
	[TX_UNID_ESTAT] [varchar](max) NULL,
	[QT_PESO_LIQ] [float] NULL,
	[IN_ITEM_CO] [bit] NULL CONSTRAINT [DF_TPROCESSO_RE_ITENS_NOVOEX_IN_ITEM_CO]  DEFAULT ((1)),
	[IN_RE_CO] [bit] NULL CONSTRAINT [DF_TPROCESSO_RE_ITENS_NOVOEX_IN_RE_CO]  DEFAULT ((0)),
	[CD_USUARIO_CO] [char](4) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
