USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMERCADORIA](
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[NM_MERCADORIA] [text] NOT NULL,
	[AP_MERCADORIA] [char](50) NOT NULL,
	[VL_UNITARIO] [float] NULL,
	[CD_UN_MED_COMERC] [char](3) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_NALADI_NCCA] [char](7) NULL,
	[PL_MERCADORIA] [float] NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_FABR_EXPO] [char](1) NULL,
	[CD_TIPO_CALCULO] [char](1) NULL,
	[CD_MATERIAL] [char](10) NULL,
	[IN_NECESSITA_LI] [bit] NOT NULL CONSTRAINT [DF_TMERCADORIA_IN_NECESSITA_LI]  DEFAULT ((0)),
	[CD_FAMILIA_PROD] [char](8) NULL,
	[CD_MOEDA] [char](3) NULL,
	[CD_EMBALAGEM] [char](4) NULL,
	[QT_POR_EMBALAGEM] [float] NULL,
	[CD_CATEGORIA_TEXTIL] [char](4) NULL,
	[CD_FINALIDADE_MERC] [char](3) NULL,
	[CD_UF_PRODUTOR] [char](2) NULL,
	[TX_DESC_INGLES] [text] NULL,
	[TX_DESC_ESP] [text] NULL,
	[PB_MERCADORIA] [float] NULL,
	[CD_ONU] [char](4) NULL,
	[CD_CLASSE] [char](3) NULL,
	[CD_AREA] [char](2) NULL,
	[IN_ATO_DRAWBACK] [char](1) NULL CONSTRAINT [DF__TMERCADOR__IN_AT__5E39C7C2]  DEFAULT ('0'),
	[CD_PROPRIETARIO] [char](3) NULL,
	[CD_EMBALAGEM_SCX] [char](2) NULL,
	[IN_DRAWBACK_INDAIA] [char](1) NULL,
	[NM_MERC_RESUMIDA] [char](60) NULL,
	[DESTAQUE_NCM] [char](3) NULL,
	[IN_TIPO_M_E] [char](1) NULL,
	[IN_CAT63] [char](1) NULL CONSTRAINT [DF_TMERCADORIA_IN_CAT63]  DEFAULT ('0'),
	[CD_USUARIO_CRIACAO] [char](4) NULL,
	[DT_CRIACAO] [datetime] NULL,
	[CD_USUARIO_ULT_ALTERACAO] [char](4) NULL,
	[DT_ULT_ALTERACAO] [datetime] NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF__TMERCADOR__IN_AT__6AEE7B74]  DEFAULT ('1'),
	[CD_TRIBUTACAO_ICMS] [char](1) NULL,
	[PC_ICMS] [float] NULL,
	[CD_FUND_LEGAL_ICMS] [char](3) NULL,
	[IN_ALIQ_DIF] [char](1) NULL CONSTRAINT [DF__TMERCADOR__IN_AL__32751827]  DEFAULT ('0'),
	[IN_NECESSITA_LI_SISCOMEX] [char](1) NULL,
	[CD_PLANEJADOR] [int] NULL,
	[IN_DRAWBACK] [char](1) NULL,
	[PC_PIS] [float] NULL,
	[PC_COFINS] [float] NULL,
	[IN_ALIQ_DIF_PIS] [char](1) NULL,
	[IN_ALIQ_DIF_COFINS] [char](1) NULL,
	[CD_REG_TRIB_PIS_COFINS] [char](1) NULL,
	[CD_FUND_LEG_PIS_COFINS] [char](2) NULL,
	[IN_ANTIDUMPING] [char](1) NULL DEFAULT ('0'),
	[DIV_MERC] [char](2) NULL,
 CONSTRAINT [PK_TMERCADORIA] PRIMARY KEY CLUSTERED 
(
	[CD_MERCADORIA] ASC,
	[CD_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TMERCADORIA_5_1022535322__K1_3_4_6_32] ON [TMERCADORIA]
(
	[CD_MERCADORIA] ASC
)
INCLUDE ( 	[AP_MERCADORIA],
	[VL_UNITARIO],
	[CD_NCM_SH],
	[CD_AREA]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TMERCADORIA_7_1022535322__K1_3_4_6_32] ON [TMERCADORIA]
(
	[CD_MERCADORIA] ASC
)
INCLUDE ( 	[AP_MERCADORIA],
	[VL_UNITARIO],
	[CD_NCM_SH],
	[CD_AREA]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TMERCADORIA] ON [TMERCADORIA]
(
	[CD_MERCADORIA] ASC,
	[AP_MERCADORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [TMERCADORIA]  WITH CHECK ADD  CONSTRAINT [FK_TMERCADORIA_TPLANEJADORES] FOREIGN KEY([CD_PLANEJADOR])
REFERENCES [TPLANEJADORES] ([CD_PLANEJADOR])
GO
ALTER TABLE [TMERCADORIA] CHECK CONSTRAINT [FK_TMERCADORIA_TPLANEJADORES]
GO
