USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_ARMAZENAGEM](
	[NR_PROCESSO] [char](18) NULL,
	[NR_PERIODO] [int] NULL,
	[DT_VENCTO] [datetime] NULL,
	[DT_PAGTO] [datetime] NULL,
	[IN_PRORROG] [char](1) NULL,
	[CD_TABELA] [char](3) NULL,
	[CD_ARMAZEM] [char](4) NULL,
	[IN_AUTOM] [char](1) NULL
) ON [PRIMARY]

GO
