USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TBASE_CALCULO](
	[CD_BASE_CALCULO] [char](1) NOT NULL,
	[NM_BASE_CALCULO] [char](30) NOT NULL,
	[IN_IMP] [char](1) NULL,
	[IN_EXP] [char](1) NULL,
 CONSTRAINT [PK_TBASE_CALCULO_1__26] PRIMARY KEY CLUSTERED 
(
	[CD_BASE_CALCULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
