USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TADICAO_DE_IMPORTACAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[CD_ACORDO_ALADI] [char](3) NULL,
	[CD_AGENC_AGENT_IMP] [char](4) NULL,
	[CD_APLICACAO_MERC] [char](1) NULL,
	[CD_AUSENCIA_FABRIC] [char](1) NULL,
	[CD_BANC_AGENTE_IMP] [char](5) NULL,
	[CD_COBERT_CAMBIAL] [char](1) NULL CONSTRAINT [DF_TADICAO_DE_CD_COBERT_C1__10]  DEFAULT ('1'),
	[CD_FABRICANTE] [char](5) NULL,
	[CD_FORNECEDOR] [char](5) NULL,
	[CD_FUND_LEG_REGIME] [char](2) NULL,
	[CD_INCOTERMS_VENDA] [char](3) NULL,
	[CD_LOC_COND_VENDA] [char](4) NULL,
	[CD_MD_FRETE_MERC] [char](3) NULL,
	[CD_MERC_NALADI_NCC] [char](7) NULL,
	[CD_MERC_NALADI_SH] [char](8) NULL,
	[CD_MERC_NBM_SH] [char](8) NULL,
	[CD_NCM_SH] [char](8) NULL,
	[CD_MERCADORIA_NCM] [char](11) NULL,
	[CD_METOD_VALORACAO] [char](2) NULL,
	[CD_MODALIDADE_PGTO] [char](2) NULL,
	[CD_MOEDA_NEGOCIADA] [char](3) NULL,
	[CD_MOEDA_SEG_MERC] [char](3) NULL,
	[CD_MOEDAS_DESPESAS] [char](3) NULL,
	[CD_MOTIVO_ADM_TEMP] [char](2) NULL,
	[CD_MOTIVO_SEM_COB] [char](2) NULL,
	[CD_ORGAO_FIN_INTER] [char](2) NULL,
	[CD_PAIS_AQUIS_MERC] [char](3) NULL,
	[CD_PAIS_ORIG_MERC] [char](3) NULL,
	[CD_PAIS_PROC_MERC] [char](3) NULL,
	[CD_PERIOD_PGTO_360] [char](1) NULL,
	[CD_REGIME_TRIBUTAR] [char](1) NULL,
	[CD_TAXA_JUROS] [char](4) NULL,
	[CD_TIPO_ACORDO_TAR] [char](1) NULL,
	[CD_TIPO_AGENTE_IMP] [char](1) NULL,
	[CD_URF_ENTR_MERC] [char](7) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[CD_VINC_IMPO_EXPO] [char](1) NULL,
	[ED_CIDAD_FABRIC] [char](25) NULL,
	[ED_CIDAD_FORN_ESTR] [char](25) NULL,
	[ED_COMPL_FABRIC] [char](21) NULL,
	[ED_COMPL_FORN_ESTR] [char](21) NULL,
	[ED_ESTAD_FORN_ESTR] [char](25) NULL,
	[ED_ESTADO_FABRIC] [char](25) NULL,
	[ED_LOGR_FABRIC] [char](40) NULL,
	[ED_LOGR_FORN_ESTR] [char](40) NULL,
	[ED_NR_FABRIC] [char](6) NULL,
	[ED_NR_FORN_ESTR] [char](6) NULL,
	[IN_BEM_ENCOMENDA] [bit] NOT NULL CONSTRAINT [DF_TADICAO_DE_IN_BEM_ENCO1__10]  DEFAULT (0),
	[IN_IPI_NAO_TRIBUT] [bit] NOT NULL CONSTRAINT [DF_TADICAO_DE_IN_IPI_NAO_2__10]  DEFAULT (0),
	[IN_JUROS_ATE_360] [bit] NOT NULL CONSTRAINT [DF_TADICAO_DE_IN_JUROS_AT3__10]  DEFAULT (0),
	[IN_MATERIAL_USADO] [bit] NOT NULL CONSTRAINT [DF_TADICAO_DE_IN_MATERIAL4__10]  DEFAULT (0),
	[IN_MULTIMODAL] [bit] NOT NULL CONSTRAINT [DF_TADICAO_DE_IN_MULTIMOD5__10]  DEFAULT (0),
	[IN_PGTO_VARIAV_360] [bit] NOT NULL CONSTRAINT [DF_TADICAO_DE_IN_PGTO_VAR6__10]  DEFAULT (0),
	[NM_FABRICANTE_MERC] [char](60) NULL,
	[NM_FORN_ESTR] [char](60) NULL,
	[NR_AGENTE_IMP] [char](14) NULL,
	[NR_DCTO_REDUCAO] [char](8) NULL,
	[NR_OPER_TRAT_PREV] [char](10) NULL,
	[NR_ROF] [char](8) NULL,
	[PC_COEF_REDUC_II] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_PC_COEF_RED7__10]  DEFAULT (0),
	[PC_COMISSAO_AG_IMP] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_PC_COMISSAO8__10]  DEFAULT (0),
	[PC_TAXA_JUROS] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_PC_TAXA_JUR9__10]  DEFAULT (0),
	[PL_MERCADORIA] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_PL_MERCADO10__10]  DEFAULT (0),
	[QT_ITENS_ADICAO] [int] NOT NULL CONSTRAINT [DF_TADICAO_DE_QT_ITENS_A11__10]  DEFAULT (0),
	[QT_PARC_FINANC_360] [int] NOT NULL CONSTRAINT [DF_TADICAO_DE_QT_PARC_FI12__10]  DEFAULT (0),
	[QT_PERIOD_PGTO_360] [int] NOT NULL CONSTRAINT [DF_TADICAO_DE_QT_PERIOD_13__10]  DEFAULT (0),
	[QT_UN_ESTATISTICA] [float] NULL CONSTRAINT [DF_TADICAO_DE_QT_UN_ESTA14__10]  DEFAULT (0),
	[TX_COMPL_VL_ADUAN] [char](250) NULL,
	[VL_ACRESCIMOS_MN] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_ACRESCI15__10]  DEFAULT (0),
	[vl_base_calculo_mn] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_vl_base_ca16__10]  DEFAULT (0),
	[VL_CALC_DCR_DOLAR] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_VL_CALC_DC17__10]  DEFAULT (0),
	[VL_COMISSAO_AG_IMP] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_VL_COMISSA18__10]  DEFAULT (0),
	[VL_DEDUCOES_MN] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_DEDUCOE19__10]  DEFAULT (0),
	[VL_DESPESAS_MN] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_DESPESA20__10]  DEFAULT (0),
	[VL_DESPESAS_MNEG] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_DESPESA21__10]  DEFAULT (0),
	[VL_FINANC_SUP_360] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_VL_FINANC_22__10]  DEFAULT (0),
	[VL_FRETE_MERC_MN] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_FRETE_M23__10]  DEFAULT (0),
	[VL_FRETE_MERC_MNEG] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_FRETE_M24__10]  DEFAULT (0),
	[VL_II_A_REC_ZFM] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_VL_II_A_RE25__10]  DEFAULT (0),
	[VL_II_CALC_DCR_MN] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_VL_II_CALC26__10]  DEFAULT (0),
	[VL_II_DEVIDO_ZFM] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_VL_II_DEVI27__10]  DEFAULT (0),
	[VL_MERC_COND_VENDA] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_MERC_CO28__10]  DEFAULT (0),
	[VL_MERC_EMB_MN] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_VL_MERC_EM29__10]  DEFAULT (0),
	[vl_merc_loc_emb_mn] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_vl_merc_lo30__10]  DEFAULT (0),
	[VL_MERC_VENDA_MN] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_MERC_VE31__10]  DEFAULT (0),
	[VL_SEG_MERC_MN] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_SEG_MER32__10]  DEFAULT (0),
	[VL_SEG_MERC_MNEG] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_SEG_MER33__10]  DEFAULT (0),
	[VL_TOT_FINANC_360] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_VL_TOT_FIN34__10]  DEFAULT (0),
	[VL_UNID_LOC_EMP] [float] NOT NULL CONSTRAINT [DF_TADICAO_DE_VL_UNID_LO35__10]  DEFAULT (0),
	[IN_ADICAO_CALCULADA] [bit] NOT NULL CONSTRAINT [DF_TADICAO_DE_IN_ADICAO_C1__12]  DEFAULT (0),
	[PC_ICMS] [float] NULL CONSTRAINT [DF_TADICAO_DE_PC_ICMS_1__31]  DEFAULT (0),
	[PC_REDUCAO_ICMS] [float] NULL CONSTRAINT [DF_TADICAO_DE_PC_REDUCAO_2__31]  DEFAULT (0),
	[VL_ICMS_CALCULADO] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_ICMS_CAL4__31]  DEFAULT (0),
	[VL_ICMS_A_RECOLHER] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_ICMS_A_R3__31]  DEFAULT (0),
	[vl_merc_loc_emb_mneg] [float] NULL CONSTRAINT [DF_TADICAO_DE_vl_merc_loc1__23]  DEFAULT (0),
	[CD_MOEDA_MLE] [char](3) NULL,
	[TX_MLE] [float] NULL CONSTRAINT [DF_TADICAO_DE_TX_MLE_3__23]  DEFAULT (0),
	[TX_FRETE] [float] NULL CONSTRAINT [DF_TADICAO_DE_TX_FRETE_2__23]  DEFAULT (0),
	[TX_SEGURO] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_SEGURO_5__23]  DEFAULT (0),
	[TX_DOLAR] [float] NULL CONSTRAINT [DF_TADICAO_DE_VL_DOLAR_4__23]  DEFAULT (0),
	[CD_TRIBUTACAO_ICMS] [char](1) NULL,
	[CD_FUND_LEGAL_ICMS] [char](3) NULL,
	[VL_DESPESAS] [float] NULL,
	[VL_BASE_CALC_II] [float] NULL CONSTRAINT [DF__TADICAO_D__VL_BA__1E67C4C2]  DEFAULT (0),
	[VL_BASE_CALC_IPI] [float] NULL CONSTRAINT [DF__TADICAO_D__VL_BA__1F5BE8FB]  DEFAULT (0),
	[VL_BASE_CALC_ICMS] [float] NULL CONSTRAINT [DF__TADICAO_D__VL_BA__20500D34]  DEFAULT (0),
	[NR_DESTAQUE_NCM] [char](3) NULL,
	[NR_ATO_DRAWBACK] [char](13) NULL,
	[VL_TX_SCX_AD] [float] NULL CONSTRAINT [DF__TADICAO_D__VL_TX__571A2AEC]  DEFAULT (0),
	[ALIQ_PIS] [float] NULL,
	[ALIQ_COFINS] [float] NULL,
	[VL_BASE_PIS] [float] NULL,
	[VL_PIS] [float] NULL,
	[VL_COFINS] [float] NULL,
	[TX_PIS_COFINS] [text] NULL,
	[CD_TIPO_BENEF_PIS_COFINS] [char](1) NULL,
	[PC_REDUCAO_PIS_COFINS] [float] NULL,
	[IN_MANUAL_NCM] [char](1) NULL CONSTRAINT [DF_TADICAO_DE_IMPORTACAO_IN_MANUAL_NCM]  DEFAULT ('0'),
	[CD_CFOP] [char](4) NULL,
	[PC_REDUCAO_IPT_II] [decimal](18, 2) NULL,
	[PC_REDUCAO_IPT_IPI] [decimal](18, 2) NULL,
	[PB_MERCADORIA] [decimal](18, 2) NULL,
	[IN_PERMITE_CAT63] [char](1) NULL CONSTRAINT [DF_TADICAO_DE_IMPORTACAO_IN_PERMITE_CAT63]  DEFAULT ('0'),
	[CD_FUND_LEGAL_PISCOFINS] [char](2) NULL,
	[VL_BASE_CALC_ICMS_AFRMM] [float] NULL,
	[VL_ICMS_A_RECOLHER_AFRMM] [float] NULL,
	[VL_ICMS_DEVIDO_AFRMM] [float] NULL,
	[IN_FUNDO_POBREZA] [char](1) NULL,
	[QT_MESES_ADM_TEMP] [int] NULL,
	[VL_PIS_CALCULADO] [float] NULL,
	[VL_COFINS_CALCULADO] [float] NULL,
	[VL_ALIQUOTA_ESPECIFICA_PIS] [float] NULL,
	[VL_ALIQUOTA_ESPECIFICA_COFINS] [float] NULL,
	[QTD_UNID_ESPECIFICA_PIS] [float] NULL,
	[QTD_UNID_ESPECIFICA_COFINS] [float] NULL,
	[CD_UNIDADE_MEDIDA_PIS] [char](3) NULL,
	[CD_UNIDADE_MEDIDA_COFINS] [char](3) NULL,
	[IN_SUSPENDE_II_RETIFIC] [bit] NULL,
	[IN_SUSPENDE_IPI_RETIFIC] [bit] NULL,
	[IN_SUSPENDE_PIS_COFINS_RETIFIC] [bit] NULL,
	[VL_AFRMM] [float] NULL,
	[ALIQ_PIS_REDUZIDA] [float] NULL,
	[ALIQ_COFINS_REDUZIDA] [float] NULL,
	[VL_MULTA_II] [float] NULL,
	[VL_JUROS_II] [float] NULL,
	[VL_MULTA_IPI] [float] NULL,
	[VL_JUROS_IPI] [float] NULL,
	[VL_MULTA_PIS] [float] NULL,
	[VL_JUROS_PIS] [float] NULL,
	[VL_MULTA_COFINS] [float] NULL,
	[VL_JUROS_COFINS] [float] NULL,
 CONSTRAINT [PK_TADICAO_DE_IMPORTACAO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TADICAO_DE_IMPORTACAO_5_706570051__K109_K1_K2] ON [TADICAO_DE_IMPORTACAO]
(
	[NR_ATO_DRAWBACK] ASC,
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TADICAO_DE_IMPORTACAO_7_706570051__K109_K1] ON [TADICAO_DE_IMPORTACAO]
(
	[NR_ATO_DRAWBACK] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [TADICAO_DE_IMPORTACAO]  WITH CHECK ADD  CONSTRAINT [FK_TADICAO_DE_IMPORTACAO_CFOP] FOREIGN KEY([CD_CFOP])
REFERENCES [TCFOP] ([CD_CFOP])
GO
ALTER TABLE [TADICAO_DE_IMPORTACAO] CHECK CONSTRAINT [FK_TADICAO_DE_IMPORTACAO_CFOP]
GO
