USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCARGA_ARMAZEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[NM_ARMAZEM_CARGA] [varchar](10) NULL,
 CONSTRAINT [PK_TCARGA_ARMAZEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
