USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLIQUIDACAO_BKP](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LIQUIDACAO] [char](6) NOT NULL,
	[DT_LIQUIDACAO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_FORMA_PAGTO] [char](1) NULL,
	[CD_BANCO] [char](3) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[NR_SOLIC_FAT] [char](6) NULL,
	[TP_LIQUIDACAO] [char](1) NULL,
	[VL_LIQUIDACAO] [float] NULL,
	[IN_CANCELADO] [char](1) NULL,
	[CD_CANCELADOR] [char](4) NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[IN_TRANSFERIDO] [char](1) NULL,
	[DT_TRANSFERENCIA] [datetime] NULL,
	[IN_CHEQUE] [char](1) NULL,
	[DT_SOLIC_CH] [char](10) NULL,
	[NR_SOLIC_CH] [char](3) NULL,
	[IN_TRANSF_CANC] [char](1) NULL,
	[DT_TRANSF_CANC] [datetime] NULL,
	[NR_RELATORIO] [char](3) NULL,
	[NR_ANO] [char](4) NULL,
	[NR_GRUPO_LIQUIDACAO] [char](3) NULL,
	[VL_DESCONTO] [float] NULL,
	[VL_PERC_DESCONTO] [float] NULL,
	[VL_ACRESCIMO] [float] NULL,
	[VL_PERC_ACRESCIMO] [float] NULL,
	[NR_PROCESSO_LIQ] [char](18) NULL,
	[NR_LIQUIDACAO_LIQ] [char](6) NULL,
	[VL_RECEITA] [float] NULL,
	[VL_SALDO_OP] [float] NULL,
	[VL_TOT_LIQUIDACAO] [float] NULL
) ON [PRIMARY]

GO
