USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEITAS_IMP_BKP](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_REGIME_TRIB] [char](1) NOT NULL,
	[TP_DT_BASE] [char](1) NOT NULL,
	[VL_NUM_TAXA] [float] NULL,
	[VL_DEN_TAXA] [float] NULL,
	[TP_BASE_CALC_TAXA] [char](1) NULL,
	[CD_MOEDA_TAXA] [char](3) NULL,
	[VL_NUM_ACR] [float] NULL,
	[VL_DEN_ACR] [float] NULL,
	[TP_BASE_CALC_ACR] [char](1) NULL,
	[CD_MOEDA_ACR] [char](3) NULL,
	[VL_NUM_FORA_REGIAO] [float] NULL,
	[VL_DEN_FORA_REGIAO] [float] NULL,
	[TP_BASE_CALC_FORA_REGIAO] [char](1) NULL,
	[CD_MOEDA_FORA_REGIAO] [char](3) NULL,
	[VL_NUM_MIN] [float] NULL,
	[VL_DEN_MIN] [float] NULL,
	[TP_BASE_CALC_MIN] [char](1) NULL,
	[CD_MOEDA_MIN] [char](3) NULL,
	[VL_NUM_MAX] [float] NULL,
	[VL_DEN_MAX] [float] NULL,
	[TP_BASE_CALC_MAX] [char](1) NULL,
	[CD_MOEDA_MAX] [char](3) NULL,
	[IN_ATIVO] [char](1) NOT NULL
) ON [PRIMARY]

GO
