USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDDIMPORT_DESP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_REGISTRO] [char](2) NOT NULL,
	[DT_PAGAMENTO] [datetime] NULL,
	[VL_ITEM] [float] NULL CONSTRAINT [DF_TDDIMPORT_DESP_VL_ITEM]  DEFAULT (0),
	[IN_RESP] [char](1) NULL,
 CONSTRAINT [PK_TDDIMPORT_DESP] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
