USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLEAD_TIME_EXP](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_LOCAL_DESEMBARQUE] [char](4) NOT NULL,
	[VL_LEAD_TIME] [int] NOT NULL,
	[CD_USUARIO] [char](4) NULL,
	[NR_PROCESSO_CRIACAO] [char](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_LOCAL_DESEMBARQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
