USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DEM_EMAIL](
	[TP_DEM_EMAIL] [char](1) NOT NULL,
	[NM_TP_DEM_EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_TTP_DEM_EMAIL] PRIMARY KEY CLUSTERED 
(
	[TP_DEM_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
