USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TIR_FAT](
	[CD_IR_FAT] [char](1) NOT NULL,
	[NM_IR_FAT] [char](20) NOT NULL,
 CONSTRAINT [PK_TIR_FAT] PRIMARY KEY NONCLUSTERED 
(
	[CD_IR_FAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
