USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDOCUMENTO_VINCULADO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[CD_TIPO_DCTO_VINC] [char](1) NOT NULL,
	[NR_DCTO_VINCULADO] [char](15) NULL,
 CONSTRAINT [PK_TDOCUMENTO_VINCULADO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
