USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_LI](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LI] [char](10) NOT NULL,
	[DT_REGISTRO] [datetime] NULL,
	[DT_DEFERIMENTO] [datetime] NULL,
	[DT_VENCTO] [datetime] NULL,
	[IN_SUBSTITUIDA] [char](1) NULL DEFAULT ('0'),
	[NR_SUBSTITUIDA] [char](10) NULL,
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_LI_IN_CANCELADO_1]  DEFAULT (0),
	[TX_OBS_CANC] [text] NULL,
	[IN_UTILIZADO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_LI_IN_UTILIZADO]  DEFAULT ('0'),
	[IN_SEM_REPRESENTACAO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_LI_IN_SEM_REPRESENTACAO]  DEFAULT ('0'),
	[IN_LI_PRE_JA_EMBARCADO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_LI_IN_LI_PRE_JA_EMBARCADO]  DEFAULT ('0'),
	[DT_CONSULTA_SCX] [datetime] NULL,
	[IN_FILA_RECUPERAR] [char](1) NULL,
	[NR_INMETRO] [int] NULL,
 CONSTRAINT [PK_TPROCESSO_LI] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_LI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
