USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_PADRAO_FI](
	[CD_PRODUTO] [char](2) NOT NULL,
	[TP_ESTUFAGEM] [char](1) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_ORIGEM_DESPESA] [char](1) NOT NULL,
	[TP_BASE_CALCULO] [char](2) NOT NULL,
 CONSTRAINT [PK_TTAXA_PADRAO_FI] PRIMARY KEY CLUSTERED 
(
	[CD_PRODUTO] ASC,
	[TP_ESTUFAGEM] ASC,
	[CD_ITEM] ASC,
	[TP_ORIGEM_DESPESA] ASC,
	[TP_BASE_CALCULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
