USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATO_CONC_ADITIVO](
	[NR_FORECAST] [char](14) NOT NULL,
	[NR_ADITIVO] [char](3) NOT NULL,
	[DT_VENCTO] [datetime] NULL,
	[NR_ATO_CONCESSORIO] [char](13) NULL,
	[IN_ATIVO] [char](1) NULL,
 CONSTRAINT [PK_TATO_CONC_ADITIVO] PRIMARY KEY CLUSTERED 
(
	[NR_FORECAST] ASC,
	[NR_ADITIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
