USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRE_CAPA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PROCESSO_COMPLEMENTO] [char](3) NOT NULL,
	[NR_OUTRA_REF] [varchar](30) NULL,
	[NR_RE_SISCOMEX] [varchar](30) NULL,
	[NR_REG_VENDA] [varchar](9) NULL,
	[NR_REG_CREDITO] [varchar](12) NULL,
	[NR_RE_VINCULADA] [varchar](13) NULL,
	[NR_DI_VINCULADA] [varchar](15) NULL,
	[CD_ENQUAD1] [varchar](5) NULL,
	[CD_ENQUAD2] [varchar](5) NULL,
	[CD_ENQUAD3] [varchar](5) NULL,
	[CD_ENQUAD4] [varchar](5) NULL,
	[CD_ENQUAD5] [varchar](5) NULL,
	[CD_ENQUAD6] [varchar](5) NULL,
	[CD_INST_NEGO] [varchar](5) NULL,
	[CD_ACESSO] [varchar](10) NULL,
	[CD_URF_EMBARQUE] [varchar](7) NULL,
	[CD_URF_DESPACHO] [varchar](7) NULL,
	[IN_MARCA_ATUAL_FABRICANTE] [varchar](1) NULL,
	[IN_CONTROLE_RATEIO] [varchar](1) NULL,
	[DT_DATA_RE] [datetime] NULL,
	[DT_LIMITE_OPERACAO] [datetime] NULL,
	[VL_MARGEM_NAO_SACADA] [float] NULL,
	[VL_VALOR_CONSIGNACAO] [float] NULL,
	[VL_VALOR_COBER_CAMBIAL] [float] NULL,
	[VL_VALOR_FINANCEIRO_RC] [float] NULL,
	[VL_TOTAL_COND_VENDA_ACUM] [float] NULL,
	[VL_TOTAL_LOCAL_VENDA_ACUM] [float] NULL,
	[CD_ULTIMO_ANEXO_TRANSMITIDO] [int] NULL,
	[IN_CONTROLE_TRANSMISSAO] [varchar](1) NULL,
	[IN_MARCA_TRANSMISSAO] [varchar](1) NULL,
	[DT_DATA_TRANSMISSAO] [datetime] NULL,
	[CD_NUMERO_TRANSMISSAO] [int] NULL,
	[VL_ESQUE_PG_TOTAL] [float] NULL,
	[VL_VALOR_NBM_INCLUIDAS] [float] NULL,
	[CD_STATUS_RE] [varchar](1) NULL,
	[TX_SITUACAO_RE] [char](150) NULL,
	[CD_SUARIO] [varchar](6) NULL,
	[DT_DATA] [datetime] NULL,
	[TM_HORA] [datetime] NULL,
	[CD_PROPRIETARIO] [varchar](6) NULL,
	[IN_ORIGEM_REG] [varchar](1) NULL,
	[NR_MASTER] [varchar](20) NULL,
	[NR_HOUSE] [varchar](20) NULL,
	[DT_DATA_AVERBACAO] [datetime] NULL,
	[DT_DATA_MASTER] [datetime] NULL,
	[CD_PAIS_FINAL] [varchar](3) NULL,
	[CD_TIPO_IMPORTADOR] [varchar](3) NULL,
	[CD_IMPORTADOR] [varchar](6) NULL,
	[DT_DATA_TRANSP_IBERNAT] [datetime] NULL,
	[TM_HORA_TRANSP_IBERNAT] [datetime] NULL,
	[CD_SITUACAO_RE] [varchar](2) NULL,
	[TX_SITUACAO_SISBACEN] [varchar](20) NULL,
	[CD_USUARIO_EXTERNO] [varchar](6) NULL,
	[TX_CPF_SISCOMEX] [varchar](11) NULL,
	[TX_SENHA_SISCOMEX] [varchar](10) NULL,
	[NM_ARQUIVO_TRANSMISSAO] [varchar](100) NULL,
	[IN_TRANSMISSAO_CONCLUIDA] [varchar](1) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[IN_ORIGEM_RE] [char](1) NULL,
	[QT_ANEXOS] [int] NULL,
	[CD_MOEDA] [char](3) NULL,
	[IN_AGRUPAR] [char](1) NULL,
	[IN_QUEBRA_POR_VALOR] [char](1) NULL,
	[IN_QUEBRA_POR_FABRICANTE] [char](1) NULL,
	[IN_DESC_TIPO_RECOF] [char](1) NULL,
	[IN_NAO_QUEBRAR_LINHAS] [char](1) NULL,
	[TP_NAO_QUEBRAR_LINHAS_SEPARADOR] [char](1) NULL,
	[NR_PARCELAS] [char](3) NULL,
	[NR_PERIODICIDADE] [char](3) NULL,
	[CD_MODALIDADE_TRANS] [char](3) NULL,
	[VL_CONSIGN] [float] NULL,
	[VL_SEM_COB_CAMBIAL] [float] NULL,
	[VL_FINANC_RC] [float] NULL,
	[VL_PAGT_VISTA] [float] NULL,
	[VL_PARCELA] [float] NULL,
	[PC_MARGEM_NAO_SACADA] [float] NULL,
	[VL_ESQ_PAG_TOT] [float] NULL,
	[VL_PAGTO_ANTEC] [float] NULL,
	[CD_INCOTERM] [char](3) NULL,
	[TP_INDICADOR] [char](1) NULL,
	[PESO_LIQUIDO_TOTAL] [float] NULL,
	[VL_FRETE_TOTAL] [float] NULL,
	[VL_SEGURO_TOTAL] [float] NULL,
	[DT_ULT_CONSULTA] [datetime] NULL,
	[TX_DOCUMENTO_SISCOMEX] [text] NULL,
	[TX_END_IMPORTADOR] [text] NULL,
	[CD_PAIS_IMPORTADOR] [char](3) NULL,
	[IN_SELECIONADO] [char](1) NULL,
	[IN_DESCRICAO_MERCADORIA] [char](1) NULL,
	[VL_PESO_NBM_INCLUIDAS] [float] NULL,
	[IN_NOVOEX] [bit] NULL DEFAULT ((1)),
	[ID_ARQUIVO_NOVOEX] [char](9) NULL,
	[NR_LOTE] [varchar](20) NULL,
	[TX_TRANSMISSAO_NOVOEX] [varchar](255) NULL,
	[CD_USUARIO_TRANSMISSAO] [char](4) NULL,
	[NR_DSI_VINCULADA] [char](10) NULL,
	[IN_RE_ENVIADO] [char](1) NULL,
	[IN_AVERBADO_ENVIADO] [char](1) NULL,
	[IN_BAIXA_EXTRATO_DEFERIDO] [bit] NULL,
 CONSTRAINT [PK_TRE_CAPA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_PROCESSO_COMPLEMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
