USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FOLLOWUP_AUT](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[DT_CHEGADA] [datetime] NULL,
	[DT_RECEB_DOC] [datetime] NULL,
	[NR_DI] [char](10) NULL,
	[DT_REG_DI] [datetime] NULL,
	[NM_CANAL] [char](10) NULL,
	[DT_DESEMB] [datetime] NULL,
	[TX_OBS] [text] NULL,
 CONSTRAINT [PK_TREL_FOLLOWUP_AUT] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
