USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRELATORIO_MAIL_PENDENTE](
	[CD_RELATORIO] [char](5) NOT NULL,
	[HR_AGENDA] [char](5) NULL,
	[NM_ARQUIVO] [varchar](1000) NULL,
	[DT_ARQUIVO] [datetime] NULL DEFAULT (getdate()),
 CONSTRAINT [PK_TRELATORIO_MAIL_PENDENTE] PRIMARY KEY CLUSTERED 
(
	[CD_RELATORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
