USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGASTOS_ARMAZENAGEM](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_PORTO] [char](4) NOT NULL,
	[VL_DESPESAS] [float] NOT NULL,
	[VL_FOB] [float] NOT NULL,
	[PESO_BRUTO] [float] NOT NULL,
	[DESP_FOB] [float] NOT NULL,
	[DESP_PESO] [float] NOT NULL
) ON [PRIMARY]

GO
