USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATZ_TABELAS_SISCOMEX](
	[CD_TABELA] [int] IDENTITY(1,1) NOT NULL,
	[NM_TABELA] [varchar](255) NULL,
	[NM_SISCOMEX] [varchar](255) NULL,
	[NM_TABELA_DB] [varchar](255) NULL,
	[NM_CAMPOS_DB] [varchar](1000) NULL,
	[NR_CAMPOS_TXT] [varchar](1000) NULL,
	[IN_ATIVO] [bit] NULL,
	[IN_APAGA_DADOS] [bit] NULL,
	[IN_ATUALIZAR] [bit] NULL,
	[IN_DOMINGO] [bit] NULL,
	[IN_SEGUNDA] [bit] NULL,
	[IN_TERCA] [bit] NULL,
	[IN_QUARTA] [bit] NULL,
	[IN_QUINTA] [bit] NULL,
	[IN_SEXTA] [bit] NULL,
	[IN_SABADO] [bit] NULL,
	[HR_ATUALIZAR] [char](5) NULL,
	[DT_ATUALIZACAO] [datetime] NULL
) ON [PRIMARY]

GO
