USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DEMO_CC](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_PAGINA] [char](1) NOT NULL,
	[NR_NOTA_FATURA] [char](6) NOT NULL,
	[NR_RELATORIO] [char](6) NOT NULL,
	[CD_BANCO_CLIENTE] [char](3) NOT NULL,
	[CD_BANCO_COMISSARIA] [char](3) NOT NULL,
	[NR_FP] [char](10) NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[NM_VEICULO] [char](40) NULL,
	[NR_SOLIC_FAT] [char](6) NULL,
	[VL_RECEB_NUM] [float] NULL,
	[VL_IR] [float] NULL,
	[VL_ALIQ_IR] [float] NULL,
	[VL_NOTA_FATURA] [float] NULL,
	[VL_SALDO] [float] NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
 CONSTRAINT [PK_TREL_DEMO_CC] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_PAGINA] ASC,
	[NR_NOTA_FATURA] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_DEMO_CC] ADD  CONSTRAINT [DF_TREL_DEMO_CC_VL_RECEB_NUM]  DEFAULT (0) FOR [VL_RECEB_NUM]
GO
ALTER TABLE [TREL_DEMO_CC] ADD  CONSTRAINT [DF_TREL_DEMO_CC_VL_IR]  DEFAULT (0) FOR [VL_IR]
GO
ALTER TABLE [TREL_DEMO_CC] ADD  CONSTRAINT [DF_TREL_DEMO_CC_VL_ALIQ_IR]  DEFAULT (0) FOR [VL_ALIQ_IR]
GO
ALTER TABLE [TREL_DEMO_CC] ADD  CONSTRAINT [DF_TREL_DEMO_CC_VL_NOTA_FATURA]  DEFAULT (0) FOR [VL_NOTA_FATURA]
GO
ALTER TABLE [TREL_DEMO_CC] ADD  CONSTRAINT [DF_TREL_DEMO_CC_VL_SALDO]  DEFAULT (0) FOR [VL_SALDO]
GO
ALTER TABLE [TREL_DEMO_CC] ADD  CONSTRAINT [DF__TREL_DEMO__NR_PR__5BDBB2AD]  DEFAULT ('') FOR [NR_PROCESSO]
GO
