USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAJUSTE_IMPRESSAO](
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[L_NR_CGC_CPF] [char](3) NULL,
	[C_NR_CGC_CPF] [char](3) NULL,
	[L_NM_CONTRIBUINTE] [char](3) NULL,
	[C_NM_CONTRIBUINTE] [char](3) NULL,
	[C_DT_REFERENCIA] [char](3) NULL,
	[L_NM_ENDERECO] [char](3) NULL,
	[C_NM_ENDERECO] [char](3) NULL,
	[L_CD_CEP] [char](3) NULL,
	[C_CD_CEP] [char](3) NULL,
	[C_NR_TELEFONE] [char](3) NULL,
	[C_DT_VENCIMENTO] [char](3) NULL,
	[L_NR_REGISTRO] [char](3) NULL,
	[C_NR_REGISTRO] [char](3) NULL,
	[L_TX_TEXTO] [char](3) NULL,
	[C_TX_TEXTO] [char](3) NULL,
	[C_CD_RECEITA] [char](3) NULL,
	[C_VL_ICMS] [char](3) NULL,
	[L_NR_ESPEC_RECEITA] [char](3) NULL,
	[C_NR_ESPEC_RECEITA] [char](3) NULL,
	[L_VL_TOTAL_ICMS] [char](3) NULL,
	[C_VL_TOTAL_ICMS] [char](3) NULL,
 CONSTRAINT [PK_TAJUSTE_IMPRESSAO] PRIMARY KEY CLUSTERED 
(
	[CD_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
