USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMERCADORIA_LCC](
	[CD_LCC] [char](2) NULL,
	[DESCRICAO] [varchar](100) NULL,
	[CD_GRUPO] [char](3) NULL
) ON [PRIMARY]

GO
