USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPERMISSAO](
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TPERMISSAO_IN_ATIVO]  DEFAULT ('0'),
 CONSTRAINT [PK_TPERMISSAO] PRIMARY KEY CLUSTERED 
(
	[CD_USUARIO] ASC,
	[CD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
