USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PO_SALDO_MERCADORIA](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[NR_PO] [char](10) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_AREA] [char](2) NULL,
	[QT_BAIXADA] [float] NULL,
	[DT_CHEGADA] [datetime] NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_PREVISTA_FABRICA] [datetime] NULL,
 CONSTRAINT [PK_TREL_PO_SALDO_MERCADORIA] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_MERCADORIA] ASC,
	[NR_PO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_PO_SALDO_MERCADORIA] ADD  CONSTRAINT [DF_TREL_PO_SALDO_MERCADORIA_QT_BAIXADA]  DEFAULT ((0)) FOR [QT_BAIXADA]
GO
