USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PAGTO_RAZAO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[NR_CHEQUE] [char](6) NOT NULL,
	[DT_PAGTO] [datetime] NOT NULL,
	[IN_RESTITUI] [char](1) NOT NULL,
	[CD_BANCO] [char](3) NOT NULL,
	[VL_LANCAMENTO] [float] NULL,
 CONSTRAINT [PK_TREL_FAT_RAZAO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_CLIENTE] ASC,
	[CD_ITEM] ASC,
	[NR_CHEQUE] ASC,
	[DT_PAGTO] ASC,
	[IN_RESTITUI] ASC,
	[CD_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_PAGTO_RAZAO] ADD  CONSTRAINT [DF_TREL_FAT_RAZAO_VL_LANCAMENTO]  DEFAULT (0) FOR [VL_LANCAMENTO]
GO
