USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [THOUSE_CONHECIMENTOS](
	[NR_CONHEC_HOUSE] [char](15) NULL,
	[DIG_FINAL] [char](1) NULL,
	[CD_USUARIO] [char](10) NULL,
	[DT_RETIRADA] [datetime] NULL,
	[DAC] [char](4) NULL
) ON [PRIMARY]

GO
