USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_CNTR_NF](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_NF] [char](10) NOT NULL,
	[NR_CNTR] [char](20) NOT NULL,
 CONSTRAINT [PK_TPROCESSO_CNTR_NF] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_NF] ASC,
	[NR_CNTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
