USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_CPMF](
	[DT_INICIO] [datetime] NOT NULL,
	[DT_FIM] [datetime] NOT NULL,
	[PC_TAXA] [float] NULL CONSTRAINT [DF_TTAXA_CPMF_PC_TAXA_6__10]  DEFAULT (0),
 CONSTRAINT [PK_TTAXA_CPMF] PRIMARY KEY CLUSTERED 
(
	[DT_INICIO] ASC,
	[DT_FIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
