USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSDA](
	[CD_SDA] [char](3) NOT NULL,
	[TX_DESCRICAO] [char](50) NOT NULL,
	[PC_TAXA] [float] NULL,
	[VL_MINIMO] [float] NULL,
	[VL_MAXIMO] [float] NULL,
	[PC_ASSIST_SOCIAL] [float] NULL,
	[IN_CALC_FOB] [char](1) NULL CONSTRAINT [DF__TSDA__IN_CALC_FO__71B5E533]  DEFAULT ('0'),
 CONSTRAINT [PK_TSDA] PRIMARY KEY CLUSTERED 
(
	[CD_SDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TX_DESCRICAO] ON [TSDA]
(
	[TX_DESCRICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
