USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_ARMAZENAGEM](
	[CD_TAXA] [char](3) NOT NULL,
	[NM_DESCRICAO] [varchar](30) NOT NULL,
	[VL_CNTR_20_MD_PALLET] [float] NULL,
	[VL_CNTR_20_MD_OUTROS] [float] NULL,
	[VL_CNTR_40_MD_PALLET] [float] NULL,
	[VL_CNTR_40_MD_OUTROS] [float] NULL,
	[VL_C_SOLTA_MD] [float] NULL,
	[VL_CNTR_20_ME_PALLET] [float] NULL,
	[VL_CNTR_20_ME_OUTROS] [float] NULL,
	[VL_CNTR_40_ME_PALLET] [float] NULL,
	[VL_CNTR_40_ME_OUTROS] [float] NULL,
	[VL_C_SOLTA_ME] [float] NULL,
	[VL_MINIMO] [float] NULL,
	[IN_ATIVO] [char](1) NULL,
 CONSTRAINT [PK_TTAXA_ARMAZENAGEM] PRIMARY KEY CLUSTERED 
(
	[CD_TAXA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TTAXA_ARMAZENAGEM] ADD  CONSTRAINT [DF_TTAXA_ARMA_IN_ATIVO_1__12]  DEFAULT ('1') FOR [IN_ATIVO]
GO
