USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_REFERENCIA](
	[CD_REFERENCIA] [char](2) NOT NULL,
	[NM_REFERENCIA] [varchar](30) NULL,
 CONSTRAINT [PK_TTP_REFERENCIA] PRIMARY KEY CLUSTERED 
(
	[CD_REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
