USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDESPACHANTE](
	[CD_DESPACHANTE] [char](3) NOT NULL,
	[NM_DESPACHANTE] [varchar](50) NULL,
	[AP_DESPACHANTE] [varchar](10) NULL,
	[VL_MIN_SDA] [float] NULL CONSTRAINT [DF_TDESPACHAN_VL_MIN_SDA_2__14]  DEFAULT (0),
	[VL_MAX_SDA] [float] NULL CONSTRAINT [DF_TDESPACHAN_VL_MAX_SDA_1__14]  DEFAULT (0),
	[CD_RISC] [char](3) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TDESPACHAN_IN_ATIVO_1__10]  DEFAULT ('1'),
	[CD_FAVORECIDO] [char](5) NULL,
	[CD_MOD_SDA] [char](2) NULL,
	[NR_REGISTRO] [char](9) NULL,
	[CPF_DESPACHANTE] [char](11) NULL,
	[NR_CONTA_CORRENTE] [char](10) NULL,
	[NR_DIGITO_CONTA_CORRENTE] [char](1) NULL,
	[CD_DESP_SDA] [varchar](12) NULL,
	[CD_PRODUTO] [char](2) NULL DEFAULT ('00'),
	[NM_SENHA] [char](12) NULL,
	[IN_CONSULTA_SISCOMEX] [char](1) NULL DEFAULT ('1'),
	[CD_USUARIO] [char](4) NULL,
	[DT_SENHA] [datetime] NULL,
 CONSTRAINT [PK___3__18] PRIMARY KEY CLUSTERED 
(
	[CD_DESPACHANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
