USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAUX_EXP_REF](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NM_REFERENCIA] [text] NULL,
	[NM_REF] [text] NULL,
 CONSTRAINT [PK_TAUX_EXP_REF] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
