USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDA_REF](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_REF] [varchar](15) NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[IN_CERT_ANALISE] [char](1) NULL CONSTRAINT [DF_TDA_REF_IN_CERT_ANALISE]  DEFAULT ('0'),
	[QT_REF] [int] NULL CONSTRAINT [DF_TDA_REF_QT_REF]  DEFAULT ((0)),
	[PL_REF] [float] NULL CONSTRAINT [DF_TDA_REF_VL_PESO_REF]  DEFAULT ((0)),
	[CD_UNID_MEDIDA] [char](3) NULL,
	[VL_UNITARIO] [float] NULL CONSTRAINT [DF_TDA_REF_VL_UNITARIO]  DEFAULT ((0)),
	[CD_MOEDA_MLE] [char](3) NULL,
	[VL_FRETE_MNEG] [float] NULL CONSTRAINT [DF_TDA_REF_VL_FRET_MNEG]  DEFAULT ((0)),
	[IN_EMBUT_FRT_ITENS] [char](1) NULL CONSTRAINT [DF_TDA_REF_IN_EMBUT_FRET_ITENS]  DEFAULT ('0'),
	[VL_SEGURO_MNEG] [float] NULL CONSTRAINT [DF_TDA_REF_VL_SEGURO_MNEG]  DEFAULT ((0)),
	[IN_EMBUT_SEG_ITENS] [char](1) NULL CONSTRAINT [DF_TDA_REF_IN_EMBUT_SEG_ITENS]  DEFAULT ('0'),
	[VL_MLE_MNEG] [float] NULL CONSTRAINT [DF_TDA_REF_VL_MLE_MNEG]  DEFAULT ((0)),
	[VL_MLE_DOLAR] [float] NULL CONSTRAINT [DF_TDA_REF_VL_MLE_DOLAR]  DEFAULT ((0)),
	[TX_MLE] [float] NULL CONSTRAINT [DF_TDA_REF_TX_MLE]  DEFAULT ((0)),
	[TX_DOLAR] [float] NULL CONSTRAINT [DF_TDA_REF_TX_DOLAR]  DEFAULT ((0)),
	[VL_MLD_MNEG] [float] NULL CONSTRAINT [DF_TDA_REF_VL_MLD_MNEG]  DEFAULT ((0)),
	[VL_MLD_DOLAR] [float] NULL CONSTRAINT [DF_TDA_REF_VL_MLD_DOLAR]  DEFAULT ((0)),
	[ALIQUOTA_II] [char](6) NULL,
	[ALIQUOTA_IPI] [char](6) NULL,
	[NM_MERCADORIA] [text] NULL,
 CONSTRAINT [PK_TDA_REF] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_REF] ASC,
	[CD_MERCADORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
