USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_STATUS_ICMS](
	[NR_PROCESSO] [char](18) NULL,
	[IN_EXONERACAO] [char](1) NULL,
	[IN_ICMS_EMITIDO] [char](1) NULL,
	[IN_ICMS_PAGO] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TPROCESSO_STATUS_ICMS] ON [TPROCESSO_STATUS_ICMS]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
