USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tmerc_exp_acordo_backup](
	[CD_MERCADORIA] [char](20) NOT NULL,
	[CD_ACORDO] [char](10) NOT NULL,
	[CD_NORMA] [char](10) NOT NULL,
	[CD_NCM_DOC] [char](8) NULL,
	[CD_NALADI_SH_DOC] [char](8) NULL,
	[CD_NALADI_NCCA_DOC] [char](7) NULL,
	[TX_MERCADORIA] [text] NULL,
	[NR_SEQ_NCM] [int] NULL,
	[NR_SEQ_NALADI] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
