USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDOCUMENTO_INSTRUCAO_TEMP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[CD_TIPO_DCTO_INSTR] [char](2) NULL,
	[NR_DCTO_INSTRUCAO] [char](25) NULL,
	[DT_DOCUMENTO] [datetime] NULL,
 CONSTRAINT [PK_TDOCUMENTO_INSTRUCAO_TEMP] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
