USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DEM_GERENCIAL2](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_CNTR] [char](20) NOT NULL,
	[TP_CNTR] [char](2) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_ARMAZEM_DESCARGA] [char](4) NULL,
	[NR_FREE_TIME] [int] NULL,
	[DT_ENT] [datetime] NULL,
	[NR_DIAS_CORRIDOS] [int] NULL,
	[NR_DIAS_A_PAGAR] [int] NULL,
	[DT_DEVOLUCAO_CNTR] [datetime] NULL,
	[CD_TRANSP_NAC_DOC] [char](4) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[VL_PAGAR_NA_MOEDA] [float] NULL,
	[VL_DIARIA] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_PAGAR_REAIS] [float] NULL,
	[DESCONTO] [float] NULL,
	[DESCONTO_MOEDA] [float] NULL,
	[VL_PAGO] [float] NULL,
	[DT_PAGTO] [datetime] NULL,
	[IN_PARCIAL] [char](1) NULL,
	[TX_CAMBIO] [float] NULL
) ON [PRIMARY]

GO
