USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_LIQ_SALDOS_PENDENTES_TOTAIS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[VL_FATURA] [float] NOT NULL CONSTRAINT [DF_TREL_LIQ_SALDOS_PENDENTES_TOTAIS_VL_FATURA]  DEFAULT (0),
	[VL_LIQUIDACAO] [float] NOT NULL CONSTRAINT [DF_TREL_LIQ_SALDOS_PENDENTES_TOTAIS_VL_LIQUIDACAO]  DEFAULT (0),
	[VL_SALDO_PENDENTE] [float] NOT NULL CONSTRAINT [DF_TREL_LIQ_SALDOS_PENDENTES_TOTAIS_VL_SALDO_PENDENTE]  DEFAULT (0),
 CONSTRAINT [PK_TREL_LIQ_SALDOS_PENDENTES_TOTAIS] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
