USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNAC_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PROCESSO_DA] [char](18) NOT NULL,
	[NR_REF] [varchar](15) NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[NR_LOTE] [varchar](12) NOT NULL,
	[QT_NAC] [int] NULL CONSTRAINT [DF_TNAC_ITEM_QT_NAC]  DEFAULT ((0)),
	[VL_MLE_MNEG] [float] NULL CONSTRAINT [DF_TNAC_ITEM_VL_MLE_MNEG]  DEFAULT ((0)),
	[CD_MOEDA_MLE] [char](3) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[PL_NAC] [float] NULL CONSTRAINT [DF_TNAC_ITEM_VL_PESO_LIQ]  DEFAULT ((0)),
	[VL_MLD_MNEG] [float] NULL CONSTRAINT [DF_TNAC_ITEM_VL_MLD_MNEG]  DEFAULT ((0)),
	[VL_MLE_DOLAR] [float] NULL CONSTRAINT [DF_TNAC_ITEM_VL_MLE_DOLAR]  DEFAULT ((0)),
	[VL_MLD_DOLAR] [float] NULL CONSTRAINT [DF_TNAC_ITEM_VL_MLD_DOLAR]  DEFAULT ((0)),
	[VL_UNITARIO] [float] NULL CONSTRAINT [DF_TNAC_ITEM_VL_UNITARIO]  DEFAULT ((0)),
	[TX_MLE] [float] NULL CONSTRAINT [DF_TNAC_ITEM_TX_MLE]  DEFAULT ((0)),
	[TX_DOLAR] [float] NULL CONSTRAINT [DF_TNAC_ITEM_TX_DOLAR]  DEFAULT ((0)),
	[PL_UNIT] [float] NULL CONSTRAINT [DF_TNAC_ITEM_PL_UNIT]  DEFAULT ((0)),
	[VL_FRETE_MNEG] [float] NULL CONSTRAINT [DF_TNAC_ITEM_VL_FRETE]  DEFAULT ((0)),
	[IN_EMBUT_FRT_ITENS] [char](1) NULL CONSTRAINT [DF_TNAC_ITEM_IN_EMBUT_FRT_ITENS]  DEFAULT ('0'),
	[TX_FRETE] [float] NULL CONSTRAINT [DF__TNAC_ITEM__TX_FR__13E276B3]  DEFAULT ((0)),
 CONSTRAINT [PK_TNAC_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_PROCESSO_DA] ASC,
	[NR_REF] ASC,
	[CD_MERCADORIA] ASC,
	[NR_LOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
