USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMOD_FOLLOW_UP_EVENTO](
	[CD_FOLLOW_UP] [char](2) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[NR_ORDEM] [int] NULL CONSTRAINT [DF_TMOD_FOLLO_NR_ORDEM_1__10]  DEFAULT (0),
 CONSTRAINT [PK_TMOD_FOLLOW_UP_EVENTO] PRIMARY KEY CLUSTERED 
(
	[CD_FOLLOW_UP] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
