USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_MIC_DTA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_MIC_DTA] [char](15) NOT NULL,
	[NR_LACRE] [char](10) NULL,
	[DT_FRACIONAMENTO] [datetime] NULL,
	[HR_FRACIONAMENTO] [char](4) NULL,
	[NR_PLACA_VEICULO] [char](15) NULL,
 CONSTRAINT [PK_TPROCESSO_MIC_DTA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_MIC_DTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
