USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [VW_TRANSIT_TIME_SIMPLES] AS
    SELECT VL_TRANSIT_TIME,
           NM_LOCAL_EMBARQUE,
           NM_LOCAL_DESEMBARQUE,
           NM_LOCAL_TRANSBORDO,
           NM_AGENTE,
           NM_USUARIO
    FROM VW_TRANSIT_TIME_COMPLETO
GO
