USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_SAQUE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SAQUE] [char](10) NOT NULL,
	[CD_TERMO_PAGTO] [char](6) NULL,
	[DT_VCTO_SAQUE] [datetime] NULL,
	[DT_EMISSAO] [datetime] NULL,
	[DT_INICIAL] [datetime] NULL,
	[QT_DIAS_PAGTO] [int] NULL CONSTRAINT [DF_TPROCESSO_EXP_SAQUE_NR_DIAS_PAGTO]  DEFAULT (0),
	[TP_VCTO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_EXP_SAQUE_TP_VCTO]  DEFAULT ('0'),
	[TP_EMPRESA_PAGTO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_EXP_SAQUE_TP_EMPRESA_PAGTO]  DEFAULT ('0'),
	[TX_VALUE] [text] NULL,
	[TX_OBSERVACAO] [text] NULL,
	[VL_TOT_SAQUE] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_SAQUE_VL_TOT_SAQUE]  DEFAULT (0),
	[NR_PARCELAS] [char](3) NULL,
	[TP_INDICADOR] [char](1) NULL,
	[NR_FATURA] [varchar](80) NULL,
 CONSTRAINT [PK_TPROCESSO_EXP_SAQUE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SAQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
