USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_DI](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[CD_TIPO_PROCESSO] [char](1) NULL,
	[NR_PROCESSO_INSTR] [char](20) NULL,
 CONSTRAINT [PK_TPROCESSO_DI] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
