USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_CODESP](
	[NR_PERIODO] [int] NOT NULL CONSTRAINT [DF_TTAXA_CODE_NR_PERIODO_1__10]  DEFAULT (0),
	[VL_ARM_GERAL_05_1] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GERA3__10]  DEFAULT (0),
	[VL_ARM_GERAL_05_2] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GERA4__10]  DEFAULT (0),
	[VL_ARM_GERAL_05_3] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GERA5__10]  DEFAULT (0),
	[VL_ARM_GERAL_10_1] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GERA6__10]  DEFAULT (0),
	[VL_ARM_GERAL_10_2] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GERA7__10]  DEFAULT (0),
	[VL_ARM_GERAL_10_3] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GERA8__10]  DEFAULT (0),
	[VL_ARM_GERAL_15_1] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GERA9__10]  DEFAULT (0),
	[VL_ARM_GERAL_15_2] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GER10__10]  DEFAULT (0),
	[VL_ARM_GERAL_15_3] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GER11__10]  DEFAULT (0),
	[VL_ARM_GERAL_99_1] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GER12__10]  DEFAULT (0),
	[VL_ARM_GERAL_99_2] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GER13__10]  DEFAULT (0),
	[VL_ARM_GERAL_99_3] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GER14__10]  DEFAULT (0),
	[VL_ARM_GERAL_MIN] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GER15__10]  DEFAULT (0),
	[VL_ARM_GRANEL_1_1] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GRA16__10]  DEFAULT (0),
	[VL_ARM_GRANEL_1_2] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GRA17__10]  DEFAULT (0),
	[VL_ARM_GRANEL_1_3] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GRA18__10]  DEFAULT (0),
	[VL_ARM_GRANEL_9_1] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GRA19__10]  DEFAULT (0),
	[VL_ARM_GRANEL_9_2] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GRA20__10]  DEFAULT (0),
	[VL_ARM_GRANEL_9_3] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_ARM_GRA21__10]  DEFAULT (0),
	[VL_MOV_ATE_5] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_MOV_ATE23__10]  DEFAULT (0),
	[VL_MOV_ACIMA_5] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_MOV_ACI22__10]  DEFAULT (0),
	[VL_MOV_GRANEL] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_MOV_GRA25__10]  DEFAULT (0),
	[VL_MOV_CNTR] [float] NULL CONSTRAINT [DF_TTAXA_CODE_VL_MOV_CNT24__10]  DEFAULT (0),
	[PC_ISS] [float] NULL CONSTRAINT [DF_TTAXA_CODE_PC_ISS_2__10]  DEFAULT (0)
) ON [PRIMARY]

GO
