USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCALCULO_RATEIO_DESP_MONEY](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_AREA] [char](2) NOT NULL,
	[TP_RATEIO_DESP] [char](1) NULL,
	[OBS] [char](50) NULL,
	[NR_PROC_PO_NR_ITEM_PO] [char](21) NOT NULL,
	[CD_REFERENCIA] [char](30) NOT NULL
) ON [PRIMARY]

GO
