USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMESES](
	[CD_MES] [char](2) NOT NULL,
	[NM_MES] [char](10) NOT NULL,
 CONSTRAINT [PK_TMESES] PRIMARY KEY NONCLUSTERED 
(
	[CD_MES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
