USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFATURAMENTO_CC_BKP_ANDRE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LANCAMENTO] [char](6) NOT NULL,
	[DT_LANCAMENTO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[CD_BANCO] [char](3) NULL,
	[CD_ITEM] [char](3) NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[CD_TIPO_LANC] [char](1) NULL,
	[CD_FORMA_PAGTO] [char](1) NULL,
	[CD_ORIGEM_LANC] [char](1) NULL,
	[CD_STATUS_LANC] [char](1) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[VL_ITEM] [float] NULL,
	[VL_IR] [float] NULL,
	[VL_ASSIST] [float] NULL,
	[NM_ITEM_COMPLEMENTO] [varchar](20) NULL,
	[IN_FATURADO] [char](1) NULL,
	[CD_CANCELADOR] [char](4) NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[IN_CANCELADO] [char](1) NULL,
	[NR_SOLIC_FAT] [char](6) NULL,
	[IN_RESTITUI] [char](1) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[IN_CONTABIL] [char](1) NULL,
	[CD_ITEM_NAO_FAT] [char](3) NULL,
	[IN_DEMONSTRADO] [char](1) NULL,
	[INDICE] [char](1) NULL,
	[IN_SEL_FAT] [char](1) NULL,
	[NR_SOLIC_DEM] [char](6) NULL,
	[NR_FP] [char](10) NULL,
	[NR_LANCAMENTO_CAIXA] [char](6) NULL,
	[IN_FILTRO] [char](1) NULL,
	[VL_TARIFA] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_MOEDA] [float] NULL
) ON [PRIMARY]

GO
