USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mercadoria](
	[Codigo] [varchar](255) NULL,
	[Descricao Reduzida em Portugues] [varchar](255) NULL,
	[Descricao Completa em Portugues] [varchar](255) NULL,
	[Descricao Completa em Ingles] [varchar](255) NULL,
	[Descricao Completa em Espanhol] [varchar](255) NULL,
	[Unidade de Medida Comercializada] [varchar](255) NULL,
	[NCM] [varchar](255) NULL,
	[NALADI] [varchar](255) NULL,
	[Col009] [varchar](255) NULL
) ON [PRIMARY]

GO
