USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TETAPA_AUTOMATICA_ORDENA](
	[NR_ORDEM] [int] NULL,
	[CD_ETAPA_AUTOMATICA] [int] NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL
) ON [PRIMARY]

GO
