USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRAT_AREA_IMP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_AREA] [char](2) NOT NULL,
	[NR_PROC_PO_NR_ITEM_PO] [varchar](49) NOT NULL,
	[CD_REFERENCIA] [char](30) NOT NULL,
 CONSTRAINT [PK_TRAT_AREA_IMP] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_AREA] ASC,
	[NR_PROC_PO_NR_ITEM_PO] ASC,
	[CD_REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
