USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FAT_LIVRO_FISCAL](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_NF] [datetime] NOT NULL,
	[NR_NF_INICIO] [char](10) NOT NULL,
	[NR_NF_FIM] [char](10) NOT NULL,
	[VL_TRIB] [float] NOT NULL,
 CONSTRAINT [PK_TREL_FAT_LIVRO_FISCAL] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_NF_INICIO] ASC,
	[NR_NF_FIM] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FAT_LIVRO_FISCAL] ADD  CONSTRAINT [DF_TREL_FAT_LIVRO_FISCAL_VL_NF]  DEFAULT (0) FOR [VL_TRIB]
GO
