USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFAT_ITENS](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LANCAMENTO] [char](6) NOT NULL,
	[DT_LANCAMENTO] [char](10) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[CD_BANCO] [char](3) NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[CD_TIPO_LANC] [char](1) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[CD_ITEM] [char](3) NULL,
	[VL_ITEM] [float] NULL,
	[VL_IR] [float] NULL,
	[VL_ASSIST] [float] NULL,
	[VL_BONIFICACAO] [float] NULL,
	[CD_FORMA_PAGTO] [char](1) NULL,
	[CD_ORIGEM_LANC] [char](1) NULL,
	[CD_STATUS_LANC] [char](1) NULL,
	[IN_FATURADO] [char](1) NULL
) ON [PRIMARY]

GO
