USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLAUDO_TECNICO_EXP](
	[CD_MERCADORIA] [char](15) NOT NULL,
	[NR_LAUDO] [char](5) NOT NULL,
	[NR_RE] [char](12) NULL,
	[DT_EMBARQUE] [char](8) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[DESCRICAO] [varchar](4000) NULL,
	[PL_MERCADORIA] [float] NULL,
	[PL_MERCADORIA_ORIGINAL] [float] NULL,
	[QT_MERCADORIA] [float] NULL,
	[QT_MERCADORIA_ORIGINAL] [float] NULL,
	[CD_UN_MEDIDA] [char](3) NULL,
	[VL_MLE_ITEM] [float] NULL,
	[VL_MLE_ITEM_ORIGINAL] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_MLE_MNEG] [float] NULL,
	[PC_COMISSAO] [float] NULL,
	[VL_COMISSAO] [float] NULL,
	[VL_MLE_ITEM_MN] [float] NULL,
	[VL_ENQUADRAMENTO] [float] NULL
) ON [PRIMARY]

GO
