USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TERRO_PAG_AUTONOMOS](
	[CD_ERRO] [char](1) NOT NULL,
	[NM_ERRO] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TERRO_PAG_AUTONOMOS_1__92] PRIMARY KEY CLUSTERED 
(
	[CD_ERRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
