USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSOLIC_PAGTO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_PAGTO] [float] NULL CONSTRAINT [DF_TSOLIC_PAGTO_VL_PAGTO]  DEFAULT (0),
	[CD_DESTINO] [char](4) NULL,
	[DT_PAGTO] [datetime] NULL,
	[CD_STATUS] [char](2) NULL,
	[IN_SOLICITADO] [char](1) NULL CONSTRAINT [DF_TSOLIC_PAGTO_IN_SOLICITADO]  DEFAULT ('0'),
	[IN_RESTITUI] [char](1) NULL CONSTRAINT [DF_TSOLIC_PAGTO_IN_RESTITUI]  DEFAULT ('0'),
	[DT_SOLIC_PAGTO] [datetime] NULL,
	[HM_SOLIC_PAGTO] [char](5) NULL,
	[CD_CALCULO] [char](3) NULL,
	[IN_CALCULADO] [char](1) NULL CONSTRAINT [DF_TSOLIC_PAGTO_IN_CALCULADO]  DEFAULT ('0'),
	[CD_FAVORECIDO] [char](5) NULL,
	[CD_BANCO] [char](3) NULL,
	[NR_DOCTO] [char](10) NULL,
	[NR_REF] [char](3) NULL,
	[CD_USUARIO_SOLIC] [char](4) NULL,
	[CD_USUARIO_MONTA] [char](4) NULL,
	[CD_STATUS_CHEQUE] [char](1) NULL CONSTRAINT [DF_TSOLIC_PAGTO_CD_STATUS_CHEQUE]  DEFAULT ('0'),
	[TP_DESTINO] [char](1) NULL,
	[IN_TRANSF_FIN] [char](1) NULL CONSTRAINT [DF_TSOLIC_PAGTO_IN_TRANSF_CAIXA]  DEFAULT ('0'),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TSOLIC_PAGTO_VL_DESCONTO]  DEFAULT (0),
	[VL_PERC_DESCONTO] [float] NULL CONSTRAINT [DF_TSOLIC_PAGTO_VL_PERC_DESCONTO]  DEFAULT (0),
	[DT_CANCELAMENTO] [datetime] NULL,
	[CD_CANCELADOR] [char](4) NULL,
	[IN_TED] [char](1) NULL CONSTRAINT [DF__TSOLIC_PA__IN_TE__0B0C6E39]  DEFAULT ('0'),
	[CD_MOEDA] [char](3) NULL,
	[VL_COMPRA] [float] NULL,
	[CD_MOEDA_VENDA] [char](3) NULL,
	[VL_VENDA] [float] NULL,
	[DT_MONTAGEM] [datetime] NULL,
	[TP_SOLICITACAO] [char](1) NULL,
	[IN_SELECIONADO] [char](1) NULL,
	[NR_RD] [char](8) NULL,
	[DT_IMPR_TXT] [datetime] NULL,
	[DT_IMPR_RD] [datetime] NULL,
	[DT_PARIDADE] [datetime] NULL,
	[VL_PARIDADE] [float] NULL,
	[IN_CONVERSAO] [char](1) NULL,
	[VL_COMPRA_EFETIVA] [float] NULL,
	[IN_MONTAR] [char](1) NULL,
	[CD_MONTADOR] [char](4) NULL,
	[VL_BBPAG] [float] NULL,
	[IN_RECIBO] [char](1) NULL,
	[CD_RESP_RECIBO] [char](4) NULL,
 CONSTRAINT [PK_TSOLIC_PAGTO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_LANCAMENTO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [IX_DT_PAGTO] ON [TSOLIC_PAGTO]
(
	[DT_PAGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_NR_REF] ON [TSOLIC_PAGTO]
(
	[NR_REF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
