USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_BANCO_bkp](
	[CD_BANCO_ADIANTAMENTO] [int] NOT NULL,
	[CD_BANCO_ICMS] [int] NOT NULL,
	[CD_BANCTO_PAGTO_DESPESAS_INDAIA] [int] NOT NULL,
	[CD_BANCTO_PAGTO_DESPESAS_CLIENTE] [int] NOT NULL,
	[CD_BANCO_PAGTO_IMPOSTOS] [int] NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_CLIENTE] [int] NOT NULL,
	[CD_UNID_NEG] [int] NOT NULL,
	[CD_PRODUTO] [int] NOT NULL,
	[CD_SERVICO] [int] NOT NULL
) ON [PRIMARY]

GO
