USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRELATORIOS_MAIL_AUT_USUARIOS](
	[CD_RELATORIO] [char](5) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[TX_HORARIOS_ENVIO] [varchar](200) NULL,
 CONSTRAINT [PK_TRELATORIOS_MAIL_AUT_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[CD_RELATORIO] ASC,
	[CD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
