USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCAIXA_RATEIO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[NR_LANCAMENTO] [char](6) NOT NULL,
	[CD_CT_CUSTO] [char](25) NOT NULL,
	[VALOR_RATEIO] [float] NULL,
	[CD_RATEIO] [char](4) NOT NULL,
	[CD_RATEIO_CAIXA] [int] NULL,
 CONSTRAINT [PK_TCAIXA_RATEIO] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[DT_MOVIMENTO] ASC,
	[NR_LANCAMENTO] ASC,
	[CD_CT_CUSTO] ASC,
	[CD_RATEIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [IDX_CD_RATEIO_CAIXA] ON [TCAIXA_RATEIO]
(
	[CD_RATEIO_CAIXA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
