USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINT_MESQUITA007](
	[NR_IDENTIFICADOR] [int] NULL,
	[NM_CNPJ] [char](18) NULL,
	[NM_NAVIO] [char](18) NULL,
	[NR_VIAGEM] [char](12) NULL,
	[NR_BL] [char](20) NULL,
	[NM_PORTO] [char](20) NULL,
	[NM_ARMADOR] [char](18) NULL,
	[NR_SEQUENCIA] [char](3) NULL,
	[CH_PRESENCA] [char](36) NULL,
	[EMBALAGEM] [char](12) NULL,
	[QTDE] [int] NULL,
	[SALDO] [int] NULL,
	[PESO] [float] NULL,
	[OBS_AVARIA] [char](30) NULL
) ON [PRIMARY]

GO
