USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFORMA_PAGAR](
	[CODIGO] [char](1) NOT NULL,
	[DESCRICAO] [char](30) NULL,
	[NM_SIGLA_SCX] [char](1) NULL,
	[CD_FORMA_PGTO_REBATE] [char](1) NULL,
 CONSTRAINT [PK_TFORMA_PAGAR] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
