USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEXP_CARTA_CRED](
	[NR_PROCESSO] [char](18) NOT NULL,
	[TX_IMPORTADOR] [text] NULL,
	[TX_EXPORTADOR] [text] NULL,
	[TX_CONSIGNATARIO] [text] NULL,
	[TX_NOTIFY1] [text] NULL,
	[TX_NOTIFY2] [text] NULL,
	[TX_DOCTO] [text] NULL,
	[TX_COPIA] [text] NULL,
	[TX_SAQUE] [text] NULL,
	[NM_UNID_MED_PL] [varchar](6) NULL,
	[NM_UNID_MED_PB] [varchar](6) NULL,
	[NM_LOCAL_DESTINO] [varchar](50) NULL,
	[NM_LOCAL_ORIGEM] [varchar](50) NULL,
	[NM_PAIS_DESTINO] [varchar](120) NULL,
	[NM_PAIS_ORIGEM] [varchar](120) NULL,
	[TX_TERMO_PAGTO] [text] NULL,
 CONSTRAINT [PK_TEXP_CARTA_CREDITO] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
