USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRUPO_DESPESAS_BASE_ICMS](
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL
) ON [PRIMARY]

GO
