USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEXTRATO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LANCAMENTO] [char](6) NOT NULL,
	[TP_TIPO_FAT] [char](1) NULL,
	[NR_NOTA_FATURA] [char](6) NULL,
	[CD_USUARIO] [char](4) NOT NULL,
 CONSTRAINT [PK_TEXTRATO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_LANCAMENTO] ASC,
	[CD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
