USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [look_ct_custo_rm](
	[CODREDUZIDO] [char](25) NOT NULL,
	[NOME] [char](40) NULL,
	[CODCCUSTO] [char](25) NULL
) ON [PRIMARY]

GO
