USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFINALIDADE_MERC](
	[CD_FINALIDADE_MERC] [char](3) NOT NULL,
	[NM_FINALIDADE_MERC] [varchar](30) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
 CONSTRAINT [PK_TFINALIDADE_MERC] PRIMARY KEY CLUSTERED 
(
	[CD_FINALIDADE_MERC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
