USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_NUMERARIO_BKP](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_CALCULO] [char](3) NOT NULL,
	[CD_BANCO] [char](3) NULL,
	[TP_DESTINO] [char](1) NOT NULL
) ON [PRIMARY]

GO
