USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_FATORES_EVENTO](
	[NR_PROCESSO] [char](18) NULL,
	[CD_FATOR] [int] NULL,
	[CD_EVENTO] [char](3) NULL,
	[CD_SERVICO] [int] NULL,
	[CD_OPERACAO] [char](1) NULL,
	[NR_ORDEM] [int] NULL,
	[DT_OPERACAO] [datetime] NULL,
	[CD_EVENTO_ANTERIOR] [char](3) NULL,
	[NM_DESCRICAO] [varchar](1000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TPROCESSO_FATORES_EVENTO_IDX01] ON [TPROCESSO_FATORES_EVENTO]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
