USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOG_ERRO_CALCULO](
	[CD_USUARIO] [char](4) NOT NULL,
	[NM_STORED_PROCEDURE] [char](30) NOT NULL,
	[CD_ERRO] [smallint] NOT NULL,
	[CD_ITEM] [char](3) NOT NULL
) ON [PRIMARY]

GO
