USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLUXO_CAIXA](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[VL_SALDO] [float] NULL,
	[NR_CONTA] [char](12) NULL,
	[TP_MOVIMENTO] [char](10) NULL,
	[NM_CONTA] [char](40) NULL
) ON [PRIMARY]

GO
