USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTRANSPORTADOR_ITL](
	[CODIGO] [char](4) NOT NULL,
	[DESCRICAO] [varchar](60) NULL,
	[APELIDO] [varchar](20) NULL,
	[CD_PAIS] [char](3) NULL,
	[CD_IATA_CIA_TRANSP] [char](3) NULL,
	[END_CIA_TRANSP] [varchar](100) NULL,
	[END_COMPL_CIA_TRANSP] [varchar](100) NULL,
	[NM_HOME_PAGE_CIA_TRANSP] [varchar](50) NULL,
	[CD_CIDADE] [char](4) NULL,
	[CEP_END_VIA_TRANSP] [char](8) NULL,
	[PERC_IRRF_CIA_TRANSP] [float] NULL,
	[PERC_COMISSAO_CIA_TRANSP] [float] NULL,
	[SIGLA_CIA_TRANSP] [char](3) NULL,
	[ST_CALCULO_IATA] [char](100) NULL,
	[TP_COMISSAO] [char](1) NULL,
	[TP_TRANSPORTADOR] [char](1) NULL,
	[DIAS_DEMURRAGE] [int] NULL,
	[TP_TARIFA] [char](1) NULL,
	[PERC_TARIFA] [float] NULL,
	[VL_DEMURRAGE] [float] NULL,
	[CD_MOEDA_DEMURRAGE] [char](3) NULL,
	[CGC_TRANSPORTADOR] [char](14) NULL,
	[UF] [char](2) NULL,
	[NR_ACCOUNT] [char](14) NULL,
	[NR_CONTA_CONTABIL] [varchar](40) NULL,
	[IN_IRRF_MIN] [char](1) NULL,
	[IN_IRRF_FATURA] [char](1) NULL,
	[TP_FATURA] [char](1) NULL,
	[IN_CALC_IR_IATA] [char](1) NULL,
	[IN_CALC_IR_OVER] [char](1) NULL,
	[IN_IRRF_TOTAL] [char](1) NULL,
	[TX_OBS] [text] NULL,
	[IN_CONVERSAO_IATA] [char](1) NULL,
 CONSTRAINT [PK_TTRANSPORTADOR_ITL] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_TTRANSPORTADOR_ITL] ON [TTRANSPORTADOR_ITL]
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 80) ON [PRIMARY]
GO
