USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EST_MERCADORIA](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_NCM_SH] [char](11) NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[NR_DI] [char](10) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[NR_PEDIDO] [char](18) NOT NULL,
	[NR_ITEM_PEDIDO] [char](3) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RE] [char](12) NOT NULL,
	[NR_ANEXO] [char](3) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[NR_ATO_DRAWBACK] [char](13) NULL,
	[CD_ENQUAD_OP] [char](5) NOT NULL,
	[VL_QTDE] [float] NULL,
	[VL_FOB] [float] NULL,
	[VL_FRETE] [float] NULL,
	[VL_SEGURO] [float] NULL,
	[VL_PESO_LIQUIDO] [float] NULL,
	[CD_REG_TRIB_II] [char](1) NULL,
	[VL_ALIQ_II] [float] NULL,
	[VL_II] [float] NULL,
	[CD_REG_TRIB_IPI] [char](1) NULL,
	[VL_ALIQ_IPI] [float] NULL,
	[VL_IPI] [float] NULL,
	[CD_REG_TRIB_ICMS] [char](1) NULL,
	[VL_ALIQ_ICMS] [float] NULL,
	[VL_ICMS] [float] NULL,
	[VL_COM_AGENTE] [float] NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[TX_CAMBIO_MLE] [float] NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[TX_CAMBIO_FRETE] [float] NULL,
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[TX_CAMBIO_SEGURO] [float] NULL,
	[TX_CAMBIO_DOLAR] [float] NULL,
	[DT_REGISTRO_DI] [datetime] NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[CD_AREA] [char](2) NULL,
 CONSTRAINT [PK_TREL_EST_MERCADORIA] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_CLIENTE] ASC,
	[CD_NCM_SH] ASC,
	[CD_MERCADORIA] ASC,
	[NR_DI] ASC,
	[NR_ADICAO] ASC,
	[NR_PEDIDO] ASC,
	[NR_ITEM_PEDIDO] ASC,
	[CD_ENQUAD_OP] ASC,
	[NR_RE] ASC,
	[NR_PROCESSO] ASC,
	[NR_ANEXO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_EST_MERCADORIA] ADD  CONSTRAINT [DF_TREL_EST_PRODUTO_VL_QTDE]  DEFAULT ((0)) FOR [VL_QTDE]
GO
ALTER TABLE [TREL_EST_MERCADORIA] ADD  CONSTRAINT [DF_TREL_EST_PRODUTO_VL_FOB]  DEFAULT ((0)) FOR [VL_FOB]
GO
ALTER TABLE [TREL_EST_MERCADORIA] ADD  CONSTRAINT [DF_TREL_EST_PRODUTO_VL_FRETE]  DEFAULT ((0)) FOR [VL_FRETE]
GO
ALTER TABLE [TREL_EST_MERCADORIA] ADD  CONSTRAINT [DF_TREL_EST_PRODUTO_VL_SEGURO]  DEFAULT ((0)) FOR [VL_SEGURO]
GO
ALTER TABLE [TREL_EST_MERCADORIA] ADD  CONSTRAINT [DF_TREL_EST_PRODUTO_VL_PESO_LIQUIDO]  DEFAULT ((0)) FOR [VL_PESO_LIQUIDO]
GO
ALTER TABLE [TREL_EST_MERCADORIA] ADD  CONSTRAINT [DF_TREL_EST_PRODUTO_VL_II]  DEFAULT ((0)) FOR [VL_II]
GO
ALTER TABLE [TREL_EST_MERCADORIA] ADD  CONSTRAINT [DF_TREL_EST_PRODUTO_VL_IPI]  DEFAULT ((0)) FOR [VL_IPI]
GO
