USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_MANTRA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_CONSULTA] [int] IDENTITY(1,1) NOT NULL,
	[DT_CONSULTA] [datetime] NULL,
	[TX_SITUACAO] [char](50) NULL,
	[DT_SITUACAO] [datetime] NULL,
	[TX_TELA_SITUACAO] [text] NULL,
	[NR_QTDE_PAGINAS] [int] NULL,
 CONSTRAINT [PK_TPROCESSO_MANTRA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_CONSULTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
