USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_DDE_RE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RE] [char](12) NOT NULL,
	[NR_ANEXO_INI] [char](3) NOT NULL,
	[NR_ANEXO_FIM] [char](3) NOT NULL,
	[DT_REGISTRO] [datetime] NULL,
 CONSTRAINT [PK_TPROCESSO_EXP_DDE_RE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_RE] ASC,
	[NR_ANEXO_INI] ASC,
	[NR_ANEXO_FIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
