USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCT_CONTABIL_GERENCIAL](
	[CD_CT_CONTABIL] [char](12) NOT NULL,
	[CD_CT_GERENCIAL] [char](4) NOT NULL,
	[VL_PORCENTAGEM] [float] NULL CONSTRAINT [DF_TCT_CONTABIL_GERENCIAL_VL_PORCENTAGEM]  DEFAULT (0),
	[CD_ANO] [char](4) NOT NULL,
	[CD_MES] [char](2) NOT NULL,
 CONSTRAINT [PK_TCT_CONTABIL_GERENCIAL] PRIMARY KEY NONCLUSTERED 
(
	[CD_ANO] ASC,
	[CD_MES] ASC,
	[CD_CT_CONTABIL] ASC,
	[CD_CT_GERENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
