USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAJUSTE_IMPRESSAO_ICMS](
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[L_NR_CGC_CPF] [char](3) NULL,
	[C_NR_CGC_CPF] [char](3) NULL,
	[L_NM_CONTRIBUINTE] [char](3) NULL,
	[C_NM_CONTRIBUINTE] [char](3) NULL,
	[C_DT_REFERENCIA] [char](3) NULL,
	[L_NM_ENDERECO] [char](3) NULL,
	[C_NM_ENDERECO] [char](3) NULL,
	[L_CD_CEP] [char](3) NULL,
	[C_CD_CEP] [char](3) NULL,
	[C_NR_TELEFONE] [char](3) NULL,
	[C_DT_VENCIMENTO] [char](3) NULL,
	[L_NR_REGISTRO] [char](3) NULL,
	[C_NR_REGISTRO] [char](3) NULL,
	[L_TX_TEXTO] [char](3) NULL,
	[C_TX_TEXTO] [char](3) NULL,
	[C_CD_RECEITA] [char](3) NULL,
	[C_VL_ICMS] [char](3) NULL,
	[L_NR_ESPEC_RECEITA] [char](3) NULL,
	[C_NR_ESPEC_RECEITA] [char](3) NULL,
	[L_VL_TOTAL_ICMS] [char](3) NULL,
	[C_VL_TOTAL_ICMS] [char](3) NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[L_DT_VENCIMENTO] [char](3) NULL,
	[C_NR_INSCR_EST] [char](3) NULL,
	[L_NM_MUNICIPIO] [char](3) NULL,
	[C_NM_MUNICIPIO] [char](3) NULL,
	[L_NM_UF] [char](3) NULL,
	[C_NM_UF] [char](3) NULL,
	[C_NR_CAE] [char](3) NULL,
	[L_NR_INSCR_DIV_ATIVA] [char](3) NULL,
	[C_NR_INSCR_DIV_ATIVA] [char](3) NULL,
	[L_DT_REFERENCIA] [char](3) NULL,
	[L_NR_AIIM] [char](3) NULL,
	[C_NR_AIIM] [char](3) NULL,
	[L_VL_ICMS] [char](3) NULL,
	[L_VL_JUROS] [char](3) NULL,
	[C_VL_JUROS] [char](3) NULL,
	[L_VL_MULTA] [char](3) NULL,
	[C_VL_MULTA] [char](3) NULL,
	[L_VL_ACRESCIMO] [char](3) NULL,
	[C_VL_ACRESCIMO] [char](3) NULL,
	[L_VL_HONORARIO] [char](3) NULL,
	[C_VL_HONORARIO] [char](3) NULL,
	[L_NR_REGISTRO2] [char](3) NULL,
	[C_NR_REGISTRO2] [char](3) NULL,
 CONSTRAINT [PK_TAJUSTE_IMPRESSAO_ICMS] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
