USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABIL_GERENCIAL](
	[CD_COLIGADA] [char](2) NOT NULL,
	[CD_CT_GERENCIAL] [char](4) NOT NULL,
	[NM_CT_GERENCIAL] [varchar](20) NULL,
 CONSTRAINT [PK_TCONTABIL_GERENCIAL_1__46] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_CT_GERENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
