USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPOSTA_ITEM](
	[NR_PROPOSTA] [char](20) NOT NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[TP_ESTUFAGEM] [char](1) NULL,
	[VL_PESO_KG] [float] NULL,
	[VL_PESO_TON] [float] NULL,
	[VL_CUBAGEM] [float] NULL,
	[VL_CUBADO] [float] NULL,
	[VL_CHARGEABLE] [float] NULL,
	[VL_FRETE_VENDA] [float] NULL,
	[VL_FRETE_CUSTO] [float] NULL,
	[VL_VENDA] [float] NULL,
	[VL_CUSTO] [float] NULL,
	[OTHER_CUSTO] [float] NULL,
	[OTHER_VENDA] [float] NULL,
	[QTDE_VOL] [float] NULL,
	[IN_MINIMO] [char](1) NULL,
	[IN_FIXO] [char](1) NULL,
	[NR_ITEM_PROPOSTA] [int] NOT NULL,
	[VL_VENDA_UNIT_LCL] [float] NULL,
	[VL_CUSTO_UNIT_LCL] [float] NULL,
	[VL_FOB] [float] NULL,
	[CD_MOEDA_FOB] [char](3) NULL,
	[tx_semanal] [varchar](50) NULL,
 CONSTRAINT [PK_TPROPOSTA_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROPOSTA] ASC,
	[CD_PRODUTO] ASC,
	[CD_UNID_NEG] ASC,
	[NR_ITEM_PROPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
