USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_CARGA_SOLTA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [char](3) NOT NULL,
	[VL_QTDE] [float] NULL CONSTRAINT [DF_TPROCESSO_CARGA_SOLTA_VL_QTDE]  DEFAULT (0),
	[NM_ESPECIE] [varchar](100) NULL,
	[SALDO] [float] NULL,
	[PESO] [float] NULL,
	[IN_AVARIA] [char](1) NULL,
	[OBS_AVARIA] [varchar](500) NULL,
	[DT_ENT_ARM] [datetime] NULL,
	[DT_SAIDA_ARM] [datetime] NULL,
	[VL_CUBAGEM_M3] [float] NULL,
	[TP_ESTUFAGEM] [char](2) NULL,
	[CD_LOCAL_ENTREGA] [char](10) NULL,
 CONSTRAINT [PK_TPROCESSO_CARGA_SOLTA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
