USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTEMP_DIAGN_DB_SUSP](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NR_PROCESSO] [varchar](18) NULL,
	[STATUS] [char](1) NULL,
	[DESCRICAO] [varchar](200) NULL,
	[LIBERADO] [char](1) NULL
) ON [PRIMARY]

GO
