USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PROC_ANDAMENTO](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO_INDAIA] [char](18) NULL,
	[NR_PROC_PO] [char](30) NULL,
	[NR_ITEM_PO] [char](3) NULL,
	[AP_MERCADORIA] [char](25) NULL,
	[QT_MERC_UN_COMERC] [float] NULL,
	[NM_EMPRESA] [varchar](60) NULL,
	[DT_RECEB_PO] [datetime] NULL,
	[DT_RECEB_COPIAS] [datetime] NULL,
	[NM_EMBARCACAO] [varchar](60) NULL,
	[DT_CHEGADA_EMBARCACAO] [datetime] NULL,
	[DT_CAMBIO] [datetime] NULL,
	[DT_SOL_NUMERARIO] [datetime] NULL,
	[DT_RECEB_NUMERARIO] [datetime] NULL,
	[DT_SOL_NUMERARIO_IMP] [datetime] NULL,
	[DT_RECEB_DOCUMENTOS] [datetime] NULL,
	[DT_REGISTRO_DI] [datetime] NULL,
	[NM_CANAL] [char](10) NULL,
	[DT_SOL_NF] [datetime] NULL,
	[DT_REC_NF] [datetime] NULL,
	[DT_CI] [datetime] NULL,
	[DT_ENTERGA_NF_TRANSP] [datetime] NULL,
	[DT_EMISSAO_LI] [datetime] NULL,
	[DT_REFERIMENTO_LI] [datetime] NULL,
	[NR_DIAS_DESP] [int] NULL,
	[TX_OBSERVACOES] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
