USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_VINC_EXPO_IMPO](
	[CD_VINC_EXPO_IMPO] [char](1) NOT NULL,
	[DESCRICAO] [varchar](50) NULL,
 CONSTRAINT [PK_TTP_VINC_EXPO_IMPO] PRIMARY KEY CLUSTERED 
(
	[CD_VINC_EXPO_IMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
