USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRELATORIOS](
	[NOME_REL] [char](8) NOT NULL,
	[DESC_REL] [char](50) NOT NULL,
	[NM_PROGRAMADOR] [char](30) NULL,
 CONSTRAINT [PK_TRELATORIOS] PRIMARY KEY CLUSTERED 
(
	[NOME_REL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
