USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTATO_AG](
	[CD_AGENTE] [char](4) NOT NULL,
	[CD_CONTATO] [char](4) NOT NULL,
	[NM_CONTATO] [varchar](50) NOT NULL,
	[NR_FONE_CONTATO] [char](20) NULL,
	[DS_EMAIL_CONTATO] [varchar](40) NULL,
	[DS_CARGO_CONTATO] [varchar](20) NULL,
	[DS_DEPTO_CONTATO] [varchar](20) NULL
) ON [PRIMARY]

GO
