USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_SITUACOES_ESPECIAIS](
	[CD_TP_SITUACOES_ESPECIAIS] [int] NULL,
	[NM_TP_SITUACOES_ESPECIAIS] [varchar](50) NULL
) ON [PRIMARY]

GO
