USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_RESUMO_DI] AS
SELECT *,
       ISNULL(VL_TOTAL_II, 0) + ISNULL(VL_TOTAL_IPI, 0) + ISNULL(VL_PIS, 0)+ ISNULL(VL_COFINS, 0) + CASE ISNULL(IN_MARINHA_MERCANTE_ICMS, '0') 
                                                                                                        WHEN '0' THEN ISNULL(VL_TOT_ICMS, 0)
                                                                                                    ELSE ISNULL (VL_ICMS_A_RECOLHER_AFRMM, 0)
                                                                                                    END + ISNULL(VL_FUNDO_POBREZA, 0) + ISNULL(VL_TRIBUTO_PAGO, 0) AS VL_IMPOSTOS,
       VL_TOT_ICMS + ISNULL(VL_TOTAL_ACRESCIMOS_MN, 0) + ISNULL(VL_AFRMM, 0) AS VL_ICMS_ACRESCIMOS
FROM (SELECT SUBSTRING(P.NR_PROCESSO, 5, 14) AS NR_PROCESSO,
               SV.CD_SERVICO AS CD_SERVICO,
               SV.NM_SERVICO AS NM_SERVICO,
               D.CD_INCOTERM,
               D.CD_MOEDA_FRETE,
               D.CD_MOEDA_MLE,
               D.CD_MOEDA_SEGURO,
               D.VL_FRETE_TNAC_MNEG,
               D.VL_TOT_DESPS_MN,
               D.VL_TOT_DESPS_MNEG,
               D.VL_TOT_FRT_COLLECT,
               D.VL_TOT_FRT_PREPAID,
               D.VL_TOT_MLE_MNEG,
               D.VL_TOT_SEGURO_MNEG,
               D.PB_CARGA,
               D.PL_CARGA, 
               D.QT_ADICOES, 
               D.VL_TOT_DESPS_MN AS VL_TOT_DESPS_MN_1,
               D.VL_TOT_DESPS_MNEG AS VL_TOT_DESPS_MNEG_1,
               D.VL_TOT_MLE_MNEG AS VL_TOT_MLE_MNEG_1,
               D.VL_TOT_SEGURO_MNEG AS VL_TOT_SEGURO_MNEG_1,
               D.VL_TOTAL_FRETE_MN,
               D.VL_TOTAL_MLE_MN,
               D.VL_TOTAL_SEG_MN,
               D.VL_TOTAL_II,
               D.VL_TOTAL_IPI,
               D.VL_TOTAL_AD,
               D.TX_MLE,
               D.TX_FRETE,
               D.TX_SEGURO,
               D.TX_DOLAR,
               D.DT_CALCULO,
               D.VL_TOTAL_ACRESCIMOS_MN,
               D.VL_TOTAL_DEDUCOES_MN,
               D.VL_TOT_ICMS,
               (S.VL_SDA + S.VL_CONTR_ASSIST + S.VL_COMPL) AS VL_SDA,
               P.VL_CONTR_ASSIST,
               T.VL_TRIBUTO_PAGO,
               T.CD_RECEITA_PGTO,
               D.IN_EMBUT_FRT_ITENS,
               D.IN_EMBUT_SEG_ITENS,
               P.VL_CIF_DOLAR,
               EN.CD_EMPRESA,
               EN.NM_EMPRESA,
               (D.VL_TOT_FRT_COLLECT + D.VL_TOT_FRT_PREPAID - D.VL_FRETE_TNAC_MNEG) AS VL_FRETE_MOEDA,
               (D.VL_TOTAL_IPI + D.VL_TOTAL_II + D.VL_TOTAL_AD) AS VL_TOTAL_TRIBUTOS,
               CD_VIA_TRANSP_CARG,
               (SELECT B.NM_MOEDA
                FROM TMOEDA_BROKER B
                WHERE D.CD_MOEDA_FRETE = B.CD_MOEDA ) AS NM_MOEDA_FRETE,
               (SELECT B.NM_MOEDA
                FROM TMOEDA_BROKER B
                WHERE D.CD_MOEDA_MLE = B.CD_MOEDA ) AS NM_MOEDA_MLE,
               (SELECT B.NM_MOEDA
                FROM TMOEDA_BROKER B
                WHERE D.CD_MOEDA_SEGURO = B.CD_MOEDA ) AS NM_MOEDA_SEGURO,
               (SELECT SUM(ISNULL(A.VL_BASE_CALC_ICMS ,0))
                FROM TADICAO_DE_IMPORTACAO A
                WHERE A.NR_PROCESSO = D.NR_PROCESSO ) AS VL_BASE_CALC_ICMS,
               (SELECT SUM(ISNULL(A.VL_BASE_CALC_ICMS_AFRMM ,0))
                FROM TADICAO_DE_IMPORTACAO A
                WHERE A.NR_PROCESSO = D.NR_PROCESSO ) AS VL_BASE_CALC_ICMS_AFRMM,
               (SELECT SUM(ISNULL(A.VL_PIS,0))
                FROM TADICAO_DE_IMPORTACAO A
                WHERE A.NR_PROCESSO = D.NR_PROCESSO AND ((ISNULL(A.CD_TIPO_BENEF_PIS_COFINS, 0) IN ('1', '2')) OR
                   ((ISNULL(A.CD_FUND_LEGAL_PISCOFINS, '') = '42') AND (P.CD_SERVICO = '706')))) AS VL_PIS,
               (SELECT SUM(ISNULL(A.VL_COFINS,0))
                FROM TADICAO_DE_IMPORTACAO A
                WHERE A.NR_PROCESSO = D.NR_PROCESSO AND ((ISNULL(A.CD_TIPO_BENEF_PIS_COFINS, 0) IN ('1', '2')) OR
                   ((ISNULL(A.CD_FUND_LEGAL_PISCOFINS, '') = '42') AND (P.CD_SERVICO = '706')))) AS VL_COFINS,
               (SELECT SUM(ISNULL(TR.VL_BASE_CALC_ADVAL,0))
                FROM TRIBUTO TR
                WHERE TR.NR_PROCESSO = D.NR_PROCESSO AND TR.CD_RECEITA_IMPOSTO = '0001' ) AS VL_CIF_MN ,
               CASE SV.CD_VIA_TRANSPORTE
                   WHEN '04' THEN (SELECT NM_ARMAZEM
                                   FROM TARMAZEM
                                   WHERE CD_ARMAZEM = P.CD_ARMAZEM_DESCARGA)
               ELSE (SELECT NOME
                     FROM TRECINTO_SETORES_IMPORTACAO
                     WHERE ORGAO = D.CD_URF_ENTR_CARGA
                       AND RECINTO = D.CD_RECINTO_ALFAND
                       AND SETOR = D.CD_SETOR_ARMAZENAM)
                END AS RECINTO,
               (CASE D.CD_APLICACAO_MERC
                      WHEN '1' THEN 'Consumo'
                      WHEN '2' THEN 'Revenda'
                   END) AS APLICACAO,
                EMB.NM_EMBARCACAO,
                (SELECT DT_REALIZACAO
                 FROM TFOLLOWUP
                 WHERE NR_PROCESSO = P.NR_PROCESSO
                   AND CD_EVENTO = '162') AS DT_CHEG_NAVIO,
                TR.NM_TRANSP_ROD,
                  (SELECT SUM(VL_ICMS_A_RECOLHER_AFRMM)
                   FROM TADICAO_DE_IMPORTACAO AD
                   WHERE AD.NR_PROCESSO = D.NR_PROCESSO) AS VL_ICMS_A_RECOLHER_AFRMM,
                P.NR_PROCESSO AS NR_PROCESSO_COMPLETO,
                P.CD_AREA,
                AR.NM_AREA,
                CASE (SELECT COUNT(*)
                      FROM TADICAO_DE_IMPORTACAO AD
                      WHERE AD.NR_PROCESSO = D.NR_PROCESSO
                        AND ISNULL(AD.IN_FUNDO_POBREZA, '0') = '1')
                    WHEN 0 THEN '0'
                ELSE '1'
                END AS IN_FUNDO_POBREZA,
                CASE ISNULL(EN.IN_MARINHA_MERCANTE_ICMS, '0')
                    WHEN '1' THEN (SELECT ROUND(SUM(CASE ISNULL(AD.IN_FUNDO_POBREZA, '0')
                                                        WHEN '1' THEN CASE ISNULL(AD.CD_TRIBUTACAO_ICMS, '0')
                                                                          WHEN '7' THEN 0
                                                                       ELSE (AD.VL_BASE_CALC_ICMS_AFRMM / 100) * PA.PC_FUNDO_POBREZA_RJ
                                                                       END
                                                    ELSE 0
                                                    END), 2)
                                     FROM TADICAO_DE_IMPORTACAO AD, TPARAMETROS PA
                                     WHERE AD.NR_PROCESSO = D.NR_PROCESSO)
                ELSE (SELECT ROUND(SUM(CASE ISNULL(AD.IN_FUNDO_POBREZA, '0')
                                                        WHEN '1' THEN CASE ISNULL(AD.CD_TRIBUTACAO_ICMS, '0')
                                                                          WHEN '7' THEN 0
                                                                       ELSE (AD.VL_BASE_CALC_ICMS / 100) * PA.PC_FUNDO_POBREZA_RJ
                                                                       END
                                                    ELSE 0
                                                    END), 2)
                                     FROM TADICAO_DE_IMPORTACAO AD, TPARAMETROS PA
                                     WHERE AD.NR_PROCESSO = D.NR_PROCESSO)
                END AS VL_FUNDO_POBREZA,
                EN.IN_MARINHA_MERCANTE_ICMS,
                CASE ISNULL(EN.IN_MARINHA_MERCANTE_ICMS, '0')
                    WHEN '0' THEN 0
                ELSE (SELECT ROUND(SUM(CASE ISNULL(AD.IN_FUNDO_POBREZA, '0')
                                           WHEN '0' THEN CASE ISNULL(AD.CD_TRIBUTACAO_ICMS, '0')
                                                             WHEN '7' THEN 0
                                                        ELSE ((AD.VL_BASE_CALC_ICMS_AFRMM - AD.VL_BASE_CALC_ICMS) / 100) * AD.PC_ICMS
                                                        END
                                       ELSE 0
                                       END), 2)
                      FROM TADICAO_DE_IMPORTACAO AD
                      WHERE AD.NR_PROCESSO = D.NR_PROCESSO)
                END AS VL_AFRMM,
                (SELECT TOP 1 RTRIM(CD_REFERENCIA)
                 FROM TREF_CLIENTE 
                 WHERE NR_PROCESSO = P.NR_PROCESSO
                   AND TP_REFERENCIA = '04'
                   AND P.CD_GRUPO = 'B40') AS CD_REF_OUTROS,
                P.CD_GRUPO,
                (SELECT ISNULL(SUM(VL_IPT_A_RECOLHER), 0)
                 FROM TRIBUTO
                 WHERE NR_PROCESSO = D.NR_PROCESSO
                   AND CD_RECEITA_IMPOSTO = '0003') AS VL_TOTAL_ANTIDUMPING
        FROM TDECLARACAO_IMPORTACAO         D   (NOLOCK)
           INNER JOIN TPROCESSO             P   (NOLOCK) ON P.NR_PROCESSO = D.NR_PROCESSO
           LEFT JOIN TPAGAMENTO_TRIBUTOS    T   (NOLOCK) ON T.NR_PROCESSO = D.NR_PROCESSO
                                                        AND T.CD_RECEITA_PGTO = '7811'
           JOIN TPROCESSO_SDA               S   (NOLOCK) ON S.NR_PROCESSO = D.NR_PROCESSO
           INNER JOIN TEMPRESA_NAC          EN  (NOLOCK) ON EN.CD_EMPRESA = P.CD_CLIENTE
           INNER JOIN TADICAO_DE_IMPORTACAO AI  (NOLOCK) ON AI.NR_PROCESSO = D.NR_PROCESSO
           LEFT  JOIN TMOEDA_BROKER         MB  (NOLOCK) ON MB.CD_MOEDA = D.CD_MOEDA_FRETE --by carlos (left) ocorrencia vivian, não tem moeda do frete.Disse ser um caso atipico.
           INNER JOIN VW_SERVICO_GERAL      SV  (NOLOCK) ON SV.CD_SERVICO = P.CD_SERVICO
           LEFT  JOIN TEMBARCACAO           EMB (NOLOCK) ON EMB.CD_EMBARCACAO = P.CD_EMBARCACAO
           LEFT  JOIN TTRANSP_ROD           TR  (NOLOCK) ON TR.CD_TRANSP_ROD  = P.CD_TRANSP_NAC
           LEFT  JOIN TAREA                 AR  (NOLOCK) ON AR.CD_AREA = P.CD_AREA) AS VW
--WHERE NR_PROCESSO_COMPLETO = '0101IM-003658-14'

GO
