USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TWEB_GRUPO](
	[CD_GRUPO] [int] IDENTITY(1,1) NOT NULL,
	[NM_GRUPO] [varchar](50) NOT NULL,
	[NM_DESCRICAO] [varchar](50) NULL,
	[NM_PAGINA] [varchar](20) NULL,
	[NR_ORDEM] [tinyint] NULL,
 CONSTRAINT [PK_TWEB_GRUPO] PRIMARY KEY NONCLUSTERED 
(
	[CD_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
