USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_MOV_CENTRO_CUSTO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[DT_LANCAMENTO] [datetime] NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[CD_CT_CONTABIL] [char](10) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[CD_BANCO] [char](3) NULL,
	[TX_HISTORICO] [text] NULL,
	[VL_ITEM] [float] NULL,
 CONSTRAINT [PK_TREL_MOV_CENTRO_CUSTO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[DT_LANCAMENTO] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
