USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPE_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[NR_PEDIDO_IMP] [char](18) NULL,
	[CD_MERCADORIA] [char](20) NULL,
	[CD_NCM] [char](11) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_UNID_MEDIDA] [char](3) NULL,
	[CD_EMBALAGEM] [char](4) NULL,
	[CD_CLASSIF_EMBALAGEM] [varchar](30) NULL,
	[CD_FABR_EXPO] [char](1) NULL,
	[CD_EMBALAGEM_SUP] [char](4) NULL,
	[CD_CLASSIF_EMBALAGEM_SUP] [char](30) NULL,
	[QT_POR_EMB] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_QTDE_POR_EMB]  DEFAULT (0),
	[QT_EMBALAGEM] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_QTDE_EMB]  DEFAULT (0),
	[QT_MERCADORIA] [float] NULL CONSTRAINT [DF_TPE_ITEM_QT_MERCADORIA]  DEFAULT (0),
	[QT_POR_EMB_SUP] [float] NULL CONSTRAINT [DF_TPE_ITEM_QT_POR_EMB_SUP]  DEFAULT (0),
	[QT_EMBALAGEM_SUP] [float] NULL CONSTRAINT [DF_TPE_ITEM_QT_EMBALAGEM_SUP]  DEFAULT (0),
	[VL_POR_EMB] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_QTDE]  DEFAULT (0),
	[VL_UNITARIO] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_UNITARIO]  DEFAULT (0),
	[VL_PESO_LIQ_UNIT] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_PESO_LIQ_UNIT]  DEFAULT (0),
	[VL_COMPRIMENTO_EMB] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_COMPRIMENTO_EMB]  DEFAULT (0),
	[VL_LARGURA_EMB] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_LARGURA_EMB]  DEFAULT (0),
	[VL_ALTURA_EMB] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_ALTURA_EMB]  DEFAULT (0),
	[VL_PESO_EMB] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_PESO_EMB]  DEFAULT (0),
	[VL_TOT_ITEM] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_TOT_ITEM]  DEFAULT (0),
	[VL_TOT_PESO_LIQ] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_TOT_PESO_LIQ]  DEFAULT (0),
	[VL_TOT_PESO_BRUTO] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_TOT_PESO_BRUTO]  DEFAULT (0),
	[VL_CUBAGEM] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_CUBAGEM]  DEFAULT (0),
	[VL_MLE] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_MLE]  DEFAULT (0),
	[VL_MCV] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_MCV]  DEFAULT (0),
	[VL_POR_EMB_SUP] [float] NULL CONSTRAINT [DF_TPE_ITEM_VL_POR_EMB_SUP]  DEFAULT (0),
	[TX_MERCADORIA] [text] NULL,
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF_TPE_ITEM_IN_SELECIONADO]  DEFAULT ('0'),
	[IN_MONTADO] [char](1) NULL CONSTRAINT [DF_TPE_ITEM_IN_MONTADO]  DEFAULT ('0'),
	[QT_BAIXADA] [float] NULL CONSTRAINT [DF_TPE_ITEM_QT_BAIXADA]  DEFAULT (0),
	[QT_BAIXAR] [float] NULL CONSTRAINT [DF_TPE_ITEM_QT_BAIXAR]  DEFAULT (0),
	[QT_DISPONIVEL] [float] NULL CONSTRAINT [DF_TPE_ITEM_QT_DISPONIVEL]  DEFAULT (0),
	[CD_EMBALAGEM_CLIENTE] [char](10) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[NR_PEDIDO] [char](18) NULL,
	[VL_FRETE] [float] NULL,
 CONSTRAINT [PK_TPE_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ITEM] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
