USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTABELA](
	[CD_TABELA] [char](3) NOT NULL,
	[NM_BANCO] [varchar](10) NOT NULL,
	[NM_TABELA] [varchar](30) NOT NULL,
	[DT_ATZ] [datetime] NULL,
	[NM_CHAVE] [varchar](120) NULL,
 CONSTRAINT [PK_TTABELA] PRIMARY KEY CLUSTERED 
(
	[CD_TABELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TTABELA] ON [TTABELA]
(
	[NM_TABELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
