USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TBID](
	[CONTRACT_ID] [int] NULL,
	[CARRIER] [varchar](2000) NULL,
	[COMMODITY] [varchar](10) NULL,
	[AREA] [varchar](50) NULL,
	[UNIQUE_IDENTIFIER] [varchar](12) NULL,
	[ORIGIN_SERVICE] [varchar](5) NULL,
	[DESTINATION_SERVICE] [varchar](5) NULL,
	[CD_ORIG_COUNTRY] [char](3) NULL,
	[ORIG_COUNTRY] [char](120) NULL,
	[CD_DEST_COUNTRY] [char](3) NULL,
	[DEST_COUNTRY] [char](120) NULL,
	[CD_ORIGIN_CITY] [char](4) NULL,
	[ORIGIN_CITY] [varchar](50) NULL,
	[CD_DEST_CITY] [char](3) NULL,
	[DEST_CITY] [char](120) NULL,
	[CD_PORT_LOAD] [char](4) NULL,
	[PORT_LOAD] [varchar](50) NULL,
	[CD_PORT_DISCHARGE] [char](4) NULL,
	[PORT_DISCHARGE] [varchar](50) NULL,
	[CD_EQUIPMENT] [char](2) NULL,
	[EQUIPMENT] [char](20) NULL,
	[TOTAL_PRICE] [float] NULL,
	[PRICE_CURRENCY] [varchar](10) NULL,
	[BASE_RATE] [float] NULL,
	[BASE_RATE_CURRENCY] [float] NULL,
	[TRANSIT_TIME] [int] NULL,
	[CD_DEST_NEST] [char](3) NULL,
	[DEST_NEST] [char](120) NULL,
	[CD_ORIG_NEST] [char](3) NULL,
	[ORIG_NEST] [char](120) NULL,
	[PRODUCT] [varchar](2000) NULL,
	[SHIPPING_TERMS] [varchar](10) NULL,
	[TRAFFIC_TYPE] [varchar](2000) NULL,
	[CARRIER_AWARD] [float] NULL,
	[CARRIER_ALLOCATION] [int] NULL,
	[CD_CARRIER] [char](4) NULL
) ON [PRIMARY]

GO
