USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREVISAO_EMBALAGEM_CARGA](
	[NR_PROCESSO] [varchar](18) NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[CD_TIPO_EMBALAGEM] [char](2) NOT NULL,
	[QT_VOLUME_CARGA] [char](5) NULL,
 CONSTRAINT [PK_TPREVISAO_EMBALAGEM_CARGA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
