USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_BASE_CALC_VENDEDOR](
	[CD_TP_BASE_CALC_VEND] [char](2) NOT NULL,
	[NM_TP_BSE_CALC_VEND] [char](15) NULL,
 CONSTRAINT [PK_TTP_BASE_CALC_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[CD_TP_BASE_CALC_VEND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
