USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_CONTATO](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CONTATO] [char](3) NOT NULL,
	[NM_CONTATO] [varchar](50) NOT NULL,
	[TX_CARGO] [varchar](25) NULL,
	[TX_DEPARTAMENTO] [varchar](50) NULL,
	[NR_FONE] [varchar](15) NULL,
	[NR_FAX] [varchar](15) NULL,
	[IN_CONTAS] [bit] NOT NULL CONSTRAINT [DF_TCLIENTE_C_IN_CONTAS_1__13]  DEFAULT (0),
	[IN_FATURAMENTO] [bit] NOT NULL CONSTRAINT [DF_TCLIENTE_C_IN_FATURAME2__13]  DEFAULT (0),
	[IN_NUMERARIO] [bit] NOT NULL CONSTRAINT [DF_TCLIENTE_C_IN_NUMERARI3__13]  DEFAULT (0),
	[IN_OPERACIONAL] [bit] NOT NULL CONSTRAINT [DF_TCLIENTE_C_IN_OPERACIO4__13]  DEFAULT (0),
	[CD_AREA] [char](2) NULL,
	[NM_EMAIL] [char](50) NULL,
	[TP_FOLLOWUP] [char](2) NULL,
	[IN_DOC] [bit] NULL CONSTRAINT [DF__TCLIENTE___IN_DO__27A71639]  DEFAULT (0),
	[IN_XLS] [bit] NULL CONSTRAINT [DF__TCLIENTE___IN_XL__289B3A72]  DEFAULT (0),
	[IN_HTML] [bit] NULL CONSTRAINT [DF__TCLIENTE___IN_HT__298F5EAB]  DEFAULT (0),
	[IN_FAX] [bit] NULL CONSTRAINT [DF__TCLIENTE___IN_FA__2A8382E4]  DEFAULT (0),
	[IN_COM_EXTERIOR] [bit] NULL CONSTRAINT [DF__TCLIENTE___IN_CO__35C02B66]  DEFAULT (0),
	[IN_DRAWBACK] [bit] NULL CONSTRAINT [DF__TCLIENTE___IN_DR__02772838]  DEFAULT (0),
	[IN_DEMURRAGE] [bit] NULL CONSTRAINT [DF__TCLIENTE___IN_DE__4DB94736]  DEFAULT (0),
	[IN_EDI] [bit] NULL DEFAULT (0),
	[CD_USUARIO] [char](4) NULL,
	[TX_CARGO_ING] [varchar](25) NULL,
	[TX_CARGO_ESP] [varchar](25) NULL,
	[TX_DEPARTAMENTO_ING] [varchar](25) NULL,
	[TX_DEPARTAMENTO_ESP] [varchar](25) NULL,
 CONSTRAINT [PK_TCLIENTE_CONTATO] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_CONTATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
