USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNORMAS](
	[CODIGO] [char](10) NOT NULL,
	[NOME] [char](50) NULL,
	[TX_DESCRICAO] [text] NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TNORMAS_IN_ATIVO]  DEFAULT ('1'),
	[NM_DESCRICAO] [varchar](200) NULL CONSTRAINT [DF_TNORMAS_NM_DESCRICAO]  DEFAULT (''),
	[CD_PAIS] [char](3) NULL,
 CONSTRAINT [PK_TNORMAS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
