USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [JoinEnumerateEntry]
  @parentid int
AS
SELECT KEYTABLE.imalock, KEYTABLE.nodeid, 
       KEYTABLE.uidhost,KEYTABLE.uidtype,KEYTABLE.uidid, 
       KEYTABLE.contextid, 
       KEYTABLE.rdn,DATATABLE.partno, DATATABLE.partcount,
       DATATABLE.datapart
FROM KEYTABLE INNER JOIN	DATATABLE 
ON (KEYTABLE.nodeid = DATATABLE.nodeid)
WHERE KEYTABLE.parentid=@parentid
ORDER BY DATATABLE.nodeid, DATATABLE.partno

GO
