USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEVENTO_PO](
	[CD_EVENTO] [char](3) NOT NULL,
	[NR_ORDEM] [int] NOT NULL,
	[CD_EV_BASICO] [char](3) NULL,
	[PZ_DO_EV_BASICO] [float] NULL,
	[CD_EV_FUTURO] [char](3) NULL,
	[PZ_ATE_EV_FUTURO] [float] NULL,
 CONSTRAINT [PK_TEVENTO_PO_1__18] PRIMARY KEY CLUSTERED 
(
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
