USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_ARMAZ_REM](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NM_EMPRESA] [char](10) NULL,
	[NM_ARM_DESCARGA] [char](20) NULL,
	[VL_ARMAZENAGEM] [float] NULL,
	[NM_AGENTE] [char](20) NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[VL_FUMIGACAO] [float] NULL,
	[NM_ARM_ATRACACAO] [char](20) NULL,
	[AP_TRANSP_ROD] [char](20) NULL,
	[NM_VOLUME] [char](11) NULL,
	[NM_EMBALAGEM] [varchar](250) NULL,
	[VL_QTDE] [float] NULL,
	[NM_EMP_FUMIGACAO] [char](20) NULL
) ON [PRIMARY]

GO
