USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMBALAGEM](
	[CD_EMBALAGEM] [char](4) NOT NULL,
	[NM_EMBALAGEM_S] [char](50) NULL,
	[NM_EMBALAGEM_P] [char](50) NULL,
	[CD_TIPO] [char](1) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TEMBALAGEM_IN_ATIVO_17__10]  DEFAULT ('1'),
	[NR_COMPRIMENTO] [float] NULL,
	[NR_ALTURA] [float] NULL,
	[NR_PESO] [float] NULL,
	[NR_LARGURA] [float] NULL,
	[CD_CLASSIF] [float] NULL,
	[CD_EMBALAGEM_SUP] [char](4) NULL,
	[QT_EMBALAGEM_SUP] [float] NULL CONSTRAINT [DF_TEMBALAGEM_QT_EMBALAGEM]  DEFAULT (0),
	[CD_EMBALAGEM_CLIENTE] [char](10) NULL,
	[NM_DESCR_DETALHADA] [char](50) NULL,
	[NM_DESCR_DETALHADA_INGLES] [char](50) NULL,
	[NM_DESCR_DETALHADA_ESPANHOL] [char](50) NULL,
	[CD_UNID_MED_EMB] [char](3) NULL,
	[QT_MERC_EMB] [float] NULL CONSTRAINT [DF__TEMBALAGE__QT_ME__08E5C553]  DEFAULT (0),
 CONSTRAINT [PK_TEMBALAGEM] PRIMARY KEY CLUSTERED 
(
	[CD_EMBALAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TEMBALAGEM] ON [TEMBALAGEM]
(
	[CD_EMBALAGEM_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
