USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCT_GERENCIAL](
	[CD_CT_GERENCIAL] [char](4) NOT NULL,
	[NM_CT_GERENCIAL] [char](20) NOT NULL,
 CONSTRAINT [PK_TCT_GERENCIAL] PRIMARY KEY NONCLUSTERED 
(
	[CD_CT_GERENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
