USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bkp_TCONFIG_PAIS_ACORDO_NORMA_PADRAO](
	[CD_PAIS] [char](3) NULL,
	[CD_ACORDO] [char](10) NULL,
	[CD_NORMA] [char](10) NULL,
	[CD_IDIOMA] [char](1) NULL
) ON [PRIMARY]

GO
