USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNAC](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_COMPRADOR] [char](5) NULL,
	[IN_NAC_EXTERNA] [char](1) NULL CONSTRAINT [DF_TNAC_IN_NAC_EXTERNA]  DEFAULT ('0'),
	[IN_EXPORTACAO] [char](1) NULL CONSTRAINT [DF_TNAC_IN_EXPORTACAO]  DEFAULT ('0'),
	[IN_IMP_DIRETA] [char](1) NULL CONSTRAINT [DF_TNAC_IN_IMP_DIRETA]  DEFAULT ('0'),
	[CD_MOEDA_MLE] [char](3) NULL,
	[VL_MLE_MNEG] [float] NULL CONSTRAINT [DF_TNAC_VL_MLE_MNEG]  DEFAULT (0),
	[NR_DI] [char](10) NULL,
	[DT_DI] [datetime] NULL,
	[VL_MLE_DOLAR] [float] NULL CONSTRAINT [DF_TNAC_VL_MLE_DOLAR]  DEFAULT (0),
	[VL_MLD_MNEG] [float] NULL CONSTRAINT [DF_TNAC_VL_MLD_MNEG]  DEFAULT (0),
	[VL_MLD_DOLAR] [float] NULL CONSTRAINT [DF_TNAC_VL_MLD_DOLAR]  DEFAULT (0),
	[DT_CALCULO] [datetime] NULL,
	[CD_INCOTERM] [char](3) NULL,
	[DT_VENDA] [datetime] NULL,
 CONSTRAINT [PK_TNAC] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
