USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVEICULO_ROTA](
	[CD_VEICULO_ROTA] [char](2) NULL,
	[CD_VEICULO] [char](4) NULL,
	[CD_ORIGEM] [char](4) NULL,
	[CD_DESTINO] [char](4) NULL
) ON [PRIMARY]

GO
