USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [VW_FORMA_PAGAMENTO] AS
    SELECT NULL AS CD_FORMA_PAGAMENTO, NULL AS NM_FORMA_PAGAMENTO
    UNION
    SELECT '1' AS CD_FORMA_PAGAMENTO, '1-G - Gráfica' AS NM_FORMA_PAGAMENTO
    UNION
    SELECT '2' AS CD_FORMA_PAGAMENTO, '2-F - Fatura' AS NM_FORMA_PAGAMENTO
    UNION
    SELECT '3' AS CD_FORMA_PAGAMENTO, '3-R - Remessa' AS NM_FORMA_PAGAMENTO

GO
