USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEITAS_IMP](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_REGIME_TRIB] [char](1) NOT NULL,
	[TP_DT_BASE] [char](1) NOT NULL,
	[VL_NUM_TAXA] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_NUM_TAXA2__25]  DEFAULT (0),
	[VL_DEN_TAXA] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_DEN_TAXA1__25]  DEFAULT (1),
	[TP_BASE_CALC_TAXA] [char](1) NULL,
	[CD_MOEDA_TAXA] [char](3) NULL,
	[VL_NUM_ACR] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_NUM_ACR_7__25]  DEFAULT (0),
	[VL_DEN_ACR] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_DEN_ACR_3__25]  DEFAULT (1),
	[TP_BASE_CALC_ACR] [char](1) NULL,
	[CD_MOEDA_ACR] [char](3) NULL,
	[VL_NUM_FORA_REGIAO] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_NUM_FORA8__25]  DEFAULT (0),
	[VL_DEN_FORA_REGIAO] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_DEN_FORA4__25]  DEFAULT (1),
	[TP_BASE_CALC_FORA_REGIAO] [char](1) NULL,
	[CD_MOEDA_FORA_REGIAO] [char](3) NULL,
	[VL_NUM_MIN] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_NUM_MIN10__25]  DEFAULT (0),
	[VL_DEN_MIN] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_DEN_MIN_6__25]  DEFAULT (1),
	[TP_BASE_CALC_MIN] [char](1) NULL,
	[CD_MOEDA_MIN] [char](3) NULL,
	[VL_NUM_MAX] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_NUM_MAX_9__25]  DEFAULT (0),
	[VL_DEN_MAX] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_DEN_MAX_5__25]  DEFAULT (1),
	[TP_BASE_CALC_MAX] [char](1) NULL,
	[CD_MOEDA_MAX] [char](3) NULL,
	[IN_ATIVO] [char](1) NOT NULL,
 CONSTRAINT [PK_TRECEITAS_IMP] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC,
	[CD_ITEM] ASC,
	[CD_REGIME_TRIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
