USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDEM_FAT](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[NR_FATURA] [char](20) NOT NULL,
	[DT_VENCTO] [datetime] NOT NULL,
	[DT_PAGTO] [datetime] NULL,
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TDEM_FAT_VL_DESCONTO]  DEFAULT (0),
	[VL_ACRESCIMO] [float] NULL CONSTRAINT [DF_TDEM_FAT_VL_ACRESCIMO]  DEFAULT (0),
	[VL_DEPOSITO] [float] NULL CONSTRAINT [DF_TDEM_FAT_VL_DEPOSITO]  DEFAULT (0),
	[VL_FATURA] [float] NULL CONSTRAINT [DF_TDEM_FAT_VL_FATURA]  DEFAULT (0),
	[VL_FATURA_TOTAL] [float] NULL CONSTRAINT [DF_TDEM_FAT_VL_FATURA_TOTAL]  DEFAULT (0),
	[IN_RECIBO] [char](1) NULL CONSTRAINT [DF_TDEM_FAT_IN_RECIBO]  DEFAULT ('0'),
	[IN_FATURADO] [char](1) NULL CONSTRAINT [DF_TDEM_FAT_IN_FATURADO]  DEFAULT ('0'),
	[DT_FATURA] [datetime] NULL,
	[NR_NF] [varchar](10) NULL,
	[TP_FAT_DEM] [char](1) NULL CONSTRAINT [DF__TDEM_FAT__TP_FAT__0939FFB7]  DEFAULT ('1'),
	[IN_ACORDO] [char](1) NULL CONSTRAINT [DF_TDEM_FAT_IN_ACORDO]  DEFAULT ('0'),
 CONSTRAINT [PK_TDEM_FAT] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[NR_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
