USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNOTA_FILHOTE](
	[NR_PROCESSO] [varchar](18) NOT NULL,
	[CD_CFOP] [char](10) NOT NULL CONSTRAINT [DF_TNOTA_FILHOTE_CD_CFOP]  DEFAULT ('TODOS'),
	[CD_ITEM] [int] NOT NULL,
	[CD_MERCADORIA] [varchar](30) NULL,
	[AP_MERCADORIA] [char](25) NULL,
	[PL_MERCADORIA] [float] NULL,
	[QTDE_COMERC] [float] NULL,
	[QTDE_BAIXADA] [float] NULL,
	[NM_UNID_MEDIDA] [char](50) NULL,
	[NR_PROC_PO] [char](30) NULL,
	[NR_ITEM_PO] [char](4) NULL,
	[NR_ADICAO] [char](3) NULL,
	[NR_PARCIAL] [int] NULL,
	[PL_BAIXADA] [float] NULL,
 CONSTRAINT [PK_TNOTA_FILHOTE_1] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_CFOP] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
