USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDE_PARA_GARIMPAR](
	[CD_TABELA] [char](2) NOT NULL,
	[CD_MYINDAIA] [char](5) NULL,
	[CD_GARIMPAR] [char](70) NOT NULL,
	[IN_GRAVAR_VIAGEM] [char](1) NOT NULL
) ON [PRIMARY]

GO
