USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TB_CONTROLE_ACESSO](
	[CD_CARGO] [char](3) NOT NULL,
	[CD_ROTINA] [int] NOT NULL,
	[CD_SISTEMA] [int] NOT NULL,
	[CD_MODULO] [int] NOT NULL,
	[IN_ATIVO] [bit] NOT NULL,
	[IN_VISIVEL] [bit] NOT NULL,
 CONSTRAINT [PK_TB_CONTROLE_ACESSO] PRIMARY KEY CLUSTERED 
(
	[CD_CARGO] ASC,
	[CD_ROTINA] ASC,
	[CD_SISTEMA] ASC,
	[CD_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
