USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLP_IND](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_PROCESSO_PO] [char](18) NULL,
	[NR_ITEM_PO] [char](3) NULL,
	[CD_SERVICO] [char](3) NULL,
	[FLAG_DT_SOLIC_ORD_VENDA] [char](1) NULL,
	[DT_SOLIC_ORD_VENDA] [datetime] NULL,
	[FLAG_DT_EMISSAO_ORD_VENDA] [char](1) NULL,
	[DT_EMISSAO_ORD_VENDA] [datetime] NULL,
	[FLAG_DT_SOLIC_ORD_REMESSA] [char](1) NULL,
	[DT_SOLIC_ORD_REMESSA] [datetime] NULL,
	[FLAG_DT_EMISSAO_ORD_REMESSA] [char](1) NULL,
	[DT_EMISSAO_ORD_REMESSA] [datetime] NULL,
	[FLAG_DT_EMAIL_LIB] [char](1) NULL,
	[DT_EMAIL_LIB] [datetime] NULL,
	[FLAG_DT_ABERTURA] [char](1) NULL,
	[DT_ABERTURA] [datetime] NULL,
	[FLAG_DT_RECEB_INST_EMB] [char](1) NULL,
	[DT_RECEB_INST_EMB] [datetime] NULL,
	[FLAG_DT_CK_LIST_OK] [char](1) NULL,
	[DT_CK_LIST_OK] [datetime] NULL,
	[FLAG_DT_CK_LIST_NC] [char](1) NULL,
	[DT_CK_LIST_NC] [datetime] NULL,
	[FLAG_DT_CK_LIST_NOTA] [char](1) NULL,
	[DT_CK_LIST_NOTA] [datetime] NULL,
	[FLAG_DT_SOLIC_NUM] [char](1) NULL,
	[DT_SOLIC_NUM] [datetime] NULL,
	[FLAG_DT_RECEB_NUM] [char](1) NULL,
	[DT_RECEB_NUM] [datetime] NULL,
	[NM_ARMADOR] [varchar](60) NULL,
	[FLAG_DT_SOLIC_BOOKING] [char](1) NULL,
	[DT_SOLIC_BOOKING] [datetime] NULL,
	[FLAG_DT_CONF_BOOKING] [char](1) NULL,
	[DT_CONF_BOOKING] [datetime] NULL,
	[NM_CONHECIMENTO] [varchar](40) NULL,
	[FLAG_DT_DEAD_LINE_IMO] [char](1) NULL,
	[DT_DEAD_LINE_IMO] [datetime] NULL,
	[FLAG_DT_DEAD_LINE_BL] [char](1) NULL,
	[DT_DEAD_LINE_BL] [datetime] NULL,
	[FLAG_DT_DEAD_LINE_CARGA] [char](1) NULL,
	[DT_DEAD_LINE_CARGA] [datetime] NULL,
	[FLAG_DT_DEAD_LINE_DESEMB] [char](1) NULL,
	[DT_DEAD_LINE_DESEMB] [datetime] NULL,
	[FLAG_DT_PROG_RET_CNTR_VAZIO] [char](1) NULL,
	[DT_PROG_RET_CNTR_VAZIO] [datetime] NULL,
	[FLAG_DT_PROG_CARREG_FABRICA] [char](1) NULL,
	[DT_PROG_CARREG_FABRICA] [datetime] NULL,
	[FLAG_DT_PROG_ENTREGA_TERM] [char](1) NULL,
	[DT_PROG_ENTREGA_TERM] [datetime] NULL,
	[FLAG_DT_PROG_PREV_EMB_CARREG] [char](1) NULL,
	[DT_PROG_PREV_EMB_CARREG] [datetime] NULL,
	[FLAG_DT_PROG_ENTREGA] [char](1) NULL,
	[DT_PROG_ENTREGA] [datetime] NULL,
	[FLAG_DT_ATUAL_RET_CNTR_VAZIO] [char](1) NULL,
	[DT_ATUAL_RET_CNTR_VAZIO] [datetime] NULL,
	[FLAG_DT_ATUAL_CARREG_FABRICA] [char](1) NULL,
	[DT_ATUAL_CARREG_FABRICA] [datetime] NULL,
	[FLAG_DT_ATUAL_ENTREGA_TERM] [char](1) NULL,
	[DT_ATUAL_ENTREGA_TERM] [datetime] NULL,
	[FLAG_DT_ATUAL_EMB_CARREG] [char](1) NULL,
	[DT_ATUAL_EMB_CARREG] [datetime] NULL,
	[FLAG_DT_ATUAL_ENTREGA] [char](1) NULL,
	[DT_ATUAL_ENTREGA] [datetime] NULL,
	[FLAG_DT_ENV_INFO_CLI] [char](1) NULL,
	[DT_ENV_INFO_CLI] [datetime] NULL,
	[FLAG_DT_INSPECAO_EMB] [char](1) NULL,
	[DT_INSPECAO_EMB] [datetime] NULL,
	[FLAG_DT_SOLIC_FUMIG] [char](1) NULL,
	[DT_SOLIC_FUMIG] [datetime] NULL,
	[FLAG_DT_CONF_FUMIG] [char](1) NULL,
	[DT_CONF_FUMIG] [datetime] NULL,
	[FLAG_DT_EMISSAO_CONFEC_DOCS] [char](1) NULL,
	[DT_EMISSAO_CONFEC_DOCS] [datetime] NULL,
	[FLAG_DT_CONF_CONFEC_DOCS] [char](1) NULL,
	[DT_CONF_CONFEC_DOCS] [datetime] NULL,
	[FLAG_DT_CERT_ORIGEM] [char](1) NULL,
	[DT_CERT_ORIGEM] [datetime] NULL,
	[FLAG_DT_DIGITALIZACAO] [char](1) NULL,
	[DT_DIGITALIZACAO] [datetime] NULL,
	[FLAG_DT_EMISSAO_RE] [char](1) NULL,
	[DT_EMISSAO_RE] [datetime] NULL,
	[FLAG_DT_LIB_RE] [char](1) NULL,
	[DT_LIB_RE] [datetime] NULL,
	[FLAG_DT_RECEB_NF] [char](1) NULL,
	[DT_RECEB_NF] [datetime] NULL,
	[FLAG_DT_EMISSAO_DDE] [char](1) NULL,
	[DT_EMISSAO_DDE] [datetime] NULL,
	[FLAG_DT_LIB_DDE] [char](1) NULL,
	[DT_LIB_DDE] [datetime] NULL,
	[FLAG_DT_EMISSAO_DOCS] [char](1) NULL,
	[DT_EMISSAO_DOCS] [datetime] NULL,
	[FLAG_DT_REEMISSAO_DOCS] [char](1) NULL,
	[DT_REEMISSAO_DOCS] [datetime] NULL,
	[FLAG_DT_PREV_CHEGADA_DEST] [char](1) NULL,
	[DT_PREV_CHEGADA_DEST] [datetime] NULL,
	[FLAG_DT_LEGAL_CONSUL] [char](1) NULL,
	[DT_LEGAL_CONSUL] [datetime] NULL,
	[FLAG_DT_RET_REC_DOCS] [char](1) NULL,
	[DT_RET_REC_DOCS] [datetime] NULL,
	[FLAG_DT_EMISSAO_FORM_A] [char](1) NULL,
	[DT_EMISSAO_FORM_A] [datetime] NULL,
	[FLAG_DT_LIB_FORM_A] [char](1) NULL,
	[DT_LIB_FORM_A] [datetime] NULL,
	[FLAG_DT_AVISO_EMB_CLI] [char](1) NULL,
	[DT_AVISO_EMB_CLI] [datetime] NULL,
	[FLAG_DT_SAQUE_BORDERO] [char](1) NULL,
	[DT_SAQUE_BORDERO] [datetime] NULL,
	[FLAG_DT_ENVIO_COURRIER] [char](1) NULL,
	[DT_ENVIO_COURRIER] [datetime] NULL,
	[FLAG_DT_RECEB_COURRIER] [char](1) NULL,
	[DT_RECEB_COURRIER] [datetime] NULL,
	[FLAG_DT_AVERBACAO] [char](1) NULL,
	[DT_AVERBACAO] [datetime] NULL,
	[FLAG_DT_ALT_RE] [char](1) NULL,
	[DT_ALT_RE] [datetime] NULL,
	[FLAG_DT_ENVIO_FAT] [char](1) NULL,
	[DT_ENVIO_FAT] [datetime] NULL,
	[FLAG_DT_EMISSAO_FAT] [char](1) NULL,
	[DT_EMISSAO_FAT] [datetime] NULL,
	[FLAG_DT_CONF_FAT] [char](1) NULL,
	[DT_CONF_FAT] [datetime] NULL,
	[NR_PROCESSO_PO_BOOK] [char](18) NULL,
	[NM_PAIS_DESTINO] [char](30) NULL,
	[NM_AREA] [char](30) NULL
) ON [PRIMARY]

GO
