USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_NUMERARIO](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_CALCULO] [char](3) NOT NULL,
	[CD_BANCO] [char](3) NULL,
	[TP_DESTINO] [char](1) NOT NULL CONSTRAINT [DF_TCLIENTE_NUMERARIO_TP_DESTINO]  DEFAULT ('2')
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TCLIENTE_NUMERARIO] ON [TCLIENTE_NUMERARIO]
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC,
	[NR_SOLICITACAO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
