USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Results](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_REF] [varchar](15) NOT NULL,
	[CD_MERCADORIA] [char](15) NOT NULL,
	[NR_LOTE] [varchar](12) NOT NULL,
	[QT_LOTE] [int] NULL,
	[PL_UNIT] [float] NULL,
	[PL_LOTE] [float] NULL,
	[DT_FABRICACAO] [datetime] NULL,
	[DT_VALIDADE] [datetime] NULL,
	[TX_AVARIA] [text] NULL,
	[QT_AVARIA] [int] NULL,
	[QT_AVARIA_LIB] [int] NULL,
	[QT_DISPONIVEL] [int] NULL,
	[QT_NAC] [int] NULL,
	[QT_AG_DESEMB] [int] NULL,
	[QT_TRANSITO] [int] NULL,
	[QT_AG_DESOVA] [int] NULL,
	[QT_FISICA] [int] NULL,
	[QT_AG_REGISTRO] [int] NULL,
	[PL_AVARIA] [float] NULL,
	[PL_AVARIA_LIB] [float] NULL,
	[PL_DISPONIVEL] [float] NULL,
	[PL_NAC] [float] NULL,
	[PL_AG_DESEMB] [float] NULL,
	[PL_AG_DESOVA] [float] NULL,
	[PL_TRANSITO] [float] NULL,
	[PL_FISICA] [float] NULL,
	[PL_AG_REGISTRO] [float] NULL,
	[IN_ETIQ_FABR] [char](1) NULL,
	[IN_ETIQ_VALID] [char](1) NULL,
	[TP_LOCAL_ETIQ_FABR] [char](1) NULL,
	[TP_LOCAL_ETIQ_VALID] [char](1) NULL,
	[IN_SOLIC_ETIQ_FABR] [char](1) NULL,
	[IN_SOLIC_ETIQ_VALID] [char](1) NULL,
	[IN_REVALIDADO] [char](1) NULL,
	[DT_VALIDADE_ANT] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
