USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNUMERARIO_SALDO_POR_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_SOLICITADO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_SOLICITA4__25]  DEFAULT (0),
	[VL_RECEBIDO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_RECEBIDO1__25]  DEFAULT (0),
	[VL_UTILIZADO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_UTILIZAD5__25]  DEFAULT (0),
	[VL_SALDO_ITEM] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_SALDO_IT2__25]  DEFAULT (0),
	[VL_SALDO_PROCESSO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_SALDO_PR3__25]  DEFAULT (0),
 CONSTRAINT [PK_TNUMERARIO_SALDO_POR_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
