USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_ARMAZEM](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_ARMAZEM] [char](4) NOT NULL,
 CONSTRAINT [PK_TCLIENTE_ARMAZEM] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_ARMAZEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
