USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCAIXA_CONTABIL_DISTR](
	[CD_COLIGADA] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[NR_LANCAMENTO] [char](6) NOT NULL,
	[CD_CT_GERENCIAL] [char](4) NOT NULL,
	[VL_DISTRIBUICAO] [float] NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
 CONSTRAINT [PK_TCAIXA_CONTABIL_DISTR] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[DT_MOVIMENTO] ASC,
	[NR_LANCAMENTO] ASC,
	[CD_CT_GERENCIAL] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
