USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DIREITOS_SITE](
	[CD_DIREITO] [char](1) NOT NULL,
	[NM_DIREITO] [varchar](25) NULL,
 CONSTRAINT [PK_TTP_DIREITOS_SITE] PRIMARY KEY CLUSTERED 
(
	[CD_DIREITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
