USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMODALIDADE_TRANS](
	[CD_MODALIDADE_TRANS] [char](3) NOT NULL,
	[NM_MODALIDADE_TRANS] [varchar](30) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
 CONSTRAINT [PK_TMODALIDADE_TRANS] PRIMARY KEY CLUSTERED 
(
	[CD_MODALIDADE_TRANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
