USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINSTRUCAO_DESEMBARACO](
	[ID_CODIGO] [char](13) NOT NULL,
	[CD_USUARIO] [char](4) NULL,
	[DT_CRIACAO] [datetime] NULL,
	[IN_AUTORIZADO] [char](1) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[DT_AUTORIZACAO] [datetime] NULL,
	[CD_USUARIO_AUTORIZACAO] [char](4) NULL,
	[CD_RESPONSAVEL] [char](4) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[CD_EMPRESA] [char](5) NULL,
	[TX_OBSERVACOES] [varchar](2000) NULL,
	[IN_WEB] [char](1) NULL,
	[CD_MODAL] [char](2) NULL,
	[DT_CONHECIMENTO] [datetime] NULL,
	[CD_PAIS_PROCEDENCIA] [char](3) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[VL_FRETE_PREPAID_MNEG] [float] NULL,
	[VL_FRETE_COLLECT_MNEG] [float] NULL,
	[VL_FRETE_MN] [float] NULL,
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[VL_SEGURO_MNEG] [float] NULL,
	[VL_SEGURO_MN] [float] NULL,
	[CD_LOCAL_EMBARQUE] [char](4) NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DIAS_CONDICAO_PAGTO] [char](3) NULL,
	[CONDICAO_PAGTO] [char](1) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_TIPO_FRETE] [char](1) NULL,
	[ID_CLIENTE] [varchar](20) NULL,
	[NR_PLANTA] [char](4) NULL,
 CONSTRAINT [PK_TINSTRUCAO_DESEMBARACO] PRIMARY KEY CLUSTERED 
(
	[ID_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
