USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TACESSO_EXTERNO](
	[CD_ACESSO] [int] IDENTITY(1,1) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NM_SITE] [varchar](200) NULL,
	[NM_LOGIN] [varchar](50) NULL,
	[NM_SENHA] [char](20) NULL,
	[NM_GRUPO_EMAIL] [varchar](max) NULL,
 CONSTRAINT [PK_ACESSO_EXTERNO] PRIMARY KEY CLUSTERED 
(
	[CD_ACESSO] ASC,
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
