USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEXIGENCIAS_INMETRO](
	[CD_EXIGENCIAS] [int] IDENTITY(1,1) NOT NULL,
	[CD_EMPRESA] [char](5) NULL,
	[DATA_HORA_LOTE] [datetime] NULL,
	[DATA_HORA_EXPIRA] [datetime] NULL,
	[DESCRICAO] [varchar](50) NULL,
	[NUMERO] [int] NULL,
	[LINK_] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_EXIGENCIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
