USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEITAS_EXP_FAIXA](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[NR_FAIXA] [char](2) NOT NULL,
	[VL_INICIO_FAIXA] [float] NULL,
	[VL_FIM_FAIXA] [float] NULL,
	[VL_NUM_FAIXA] [float] NULL,
	[VL_DEN_FAIXA] [float] NULL,
	[TP_BASE_CALC_FAIXA] [char](1) NULL,
	[CD_MOEDA_FAIXA] [char](3) NULL,
	[TP_POR_BASE_CALC] [char](1) NULL,
 CONSTRAINT [PK_TRECEITAS_EXP_FAIXA] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC,
	[CD_ITEM] ASC,
	[NR_FAIXA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TRECEITAS_EXP_FAIXA] ADD  CONSTRAINT [DF_TRECEITAS__VL_FAIXA_IN5__34]  DEFAULT (0) FOR [VL_INICIO_FAIXA]
GO
ALTER TABLE [TRECEITAS_EXP_FAIXA] ADD  CONSTRAINT [DF_TRECEITAS__VL_FAIXA_FI4__34]  DEFAULT (0) FOR [VL_FIM_FAIXA]
GO
ALTER TABLE [TRECEITAS_EXP_FAIXA] ADD  CONSTRAINT [DF_TRECEITAS__VL_FAIXA_NU6__34]  DEFAULT (0) FOR [VL_NUM_FAIXA]
GO
ALTER TABLE [TRECEITAS_EXP_FAIXA] ADD  CONSTRAINT [DF_TRECEITAS__VL_FAIXA_DE3__34]  DEFAULT (0) FOR [VL_DEN_FAIXA]
GO
ALTER TABLE [TRECEITAS_EXP_FAIXA] ADD  CONSTRAINT [DF_TRECEITAS__TP_POR_UNID1__18]  DEFAULT ('N') FOR [TP_POR_BASE_CALC]
GO
