USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFUND_LEG_REG_TRIBUT](
	[Codigo] [char](2) NULL,
	[Descricao] [char](120) NULL,
	[Reg_Tribut_1] [char](1) NULL,
	[Reg_Tribut_2] [char](1) NULL,
	[Reg_Tribut_3] [char](1) NULL,
	[Reg_Tribut_4] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE CLUSTERED INDEX [PrimaryKey] ON [TFUND_LEG_REG_TRIBUT]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
