USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE VIEW [VW_DOCS_ANEXOS_C] AS
  SELECT TOP 6 A.CD_DOCUMENTO, A.NR_SOLICITACAO, A.CD_UNID_NEG, A.CD_PRODUTO, T.DESCRICAO
  FROM TS_FATURA_DOCUMENTO A (NOLOCK)
  INNER JOIN TTP_DOCUMENTO T (NOLOCK) ON ( A.CD_DOCUMENTO = T.CODIGO AND A.CD_UNID_NEG = T.CD_UNID_NEG AND A.CD_PRODUTO = T.CD_PRODUTO )
  WHERE A.CD_DOCUMENTO NOT IN ( SELECT TOP 6 B.CD_DOCUMENTO FROM TS_FATURA_DOCUMENTO B (NOLOCK) WHERE A.NR_SOLICITACAO = B.NR_SOLICITACAO ORDER BY B.CD_UNID_NEG, B.CD_PRODUTO,B.NR_SOLICITACAO, B.CD_DOCUMENTO )
  ORDER BY A.CD_UNID_NEG, A.CD_PRODUTO, A.NR_SOLICITACAO, A.CD_DOCUMENTO





GO
