USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DESP_PAGTO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[NM_EMPRESA] [char](50) NULL,
	[NM_EMBARCACAO] [char](40) NULL,
	[NM_ARMAZEM] [char](50) NULL,
	[NM_URGENCIA] [char](3) NULL,
	[DT_REG_DI] [datetime] NULL,
	[DT_DESOVA] [datetime] NULL,
	[DT_ENT] [datetime] NULL,
	[DT_LIB_BL] [datetime] NULL,
	[NR_CONHECIMENTO] [char](18) NULL,
	[CD_AREA] [char](2) NULL,
	[NM_AREA] [char](50) NULL,
	[CD_ANALISTA_COMISSARIA] [char](4) NULL,
	[NM_ANALISTA_COMISSARIA] [char](50) NULL,
 CONSTRAINT [PK_TREL_DESP_PAGTO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
