USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTRANSP_ROD](
	[CD_TRANSP_ROD] [char](4) NOT NULL,
	[NM_TRANSP_ROD] [varchar](60) NOT NULL,
	[AP_TRANSP_ROD] [varchar](20) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TTRANSPORT_IN_ATIVO_1__18]  DEFAULT ('1'),
	[CNPJ_TRANSP_ROD] [char](14) NULL,
	[NM_EMAIL] [varchar](2000) NULL,
	[END_TRANSP_ROD] [varchar](50) NULL,
	[END_CIDADE] [varchar](30) NULL,
	[END_UF] [varchar](2) NULL,
	[IE_TRANSP_ROD] [varchar](20) NULL,
	[CPF_TRANSP_ROD] [char](11) NULL,
	[CD_PAIS_TRANSP] [char](3) NULL,
	[CD_TRANSP_ARMAZEM_FABRICA] [char](4) NULL,
 CONSTRAINT [PK_TTRANSPORTADOR_RODOV_1__18] PRIMARY KEY CLUSTERED 
(
	[CD_TRANSP_ROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
