USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFILA_LOG](
	[CD_FILA] [int] NOT NULL,
	[ORIGEM] [char](1) NULL,
	[TP_OPERACAO] [char](1) NULL,
	[NM_PATH_EDI] [char](100) NULL,
	[EDI] [char](1) NULL,
	[DT_INIPROC] [datetime] NULL,
	[DT_FIMPROC] [datetime] NULL,
	[RESOLVIDA] [char](1) NULL,
	[PROGRESSO] [int] NULL,
	[TX_LOG] [text] NULL,
	[TX_FILTRO] [text] NULL,
	[IR] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
CREATE CLUSTERED INDEX [IX_TFILA_LOG] ON [TFILA_LOG]
(
	[CD_FILA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
