USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TBCO_ITL](
	[CD_BANCO] [char](3) NOT NULL,
	[NM_BANCO] [char](50) NULL,
	[END_BANCO] [char](255) NULL,
	[END_UF] [char](5) NULL,
	[END_ZIP_CODE] [char](10) NULL,
	[CD_CIDADE] [char](4) NULL,
	[CD_PAIS] [char](3) NULL,
	[IN_ATIVO] [char](1) NULL
) ON [PRIMARY]

GO
