USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_CANAL](
	[CD_CANAL] [char](1) NOT NULL,
	[NM_CANAL] [char](10) NULL,
 CONSTRAINT [PK_TTP_CANAL] PRIMARY KEY CLUSTERED 
(
	[CD_CANAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
