USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_IMDG_CLASS](
	[NR_IMDG_CLASS] [char](3) NOT NULL,
	[TX_PORTUGUES] [varchar](400) NOT NULL,
	[TX_INGLES] [varchar](400) NULL,
	[TX_ESPANHOL] [varchar](400) NULL,
 CONSTRAINT [PK_TTP_IMDG_CLASS] PRIMARY KEY CLUSTERED 
(
	[NR_IMDG_CLASS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
