USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTIPO_PESSOA](
	[CD_TIPO_PESSOA] [char](1) NOT NULL,
	[NM_TIPO_PESSOA] [varchar](30) NULL,
	[IN_FAVORECIDO] [char](1) NULL,
 CONSTRAINT [PK_TTIPO_PESSOA] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_PESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
