USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PROC_DESEMBARACADOS](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO_INDAIA] [char](18) NULL,
	[NR_PROC_PO] [char](30) NULL,
	[AP_MERCADORIA] [char](25) NULL,
	[QT_MERC_UN_COMERC] [varchar](25) NULL,
	[NM_EMPRESA] [varchar](60) NULL,
	[NM_EMBARCACAO] [varchar](60) NULL,
	[DT_CHEGADA_EMBARCACAO] [datetime] NULL,
	[DT_REG_DI] [datetime] NULL,
	[TX_CAMBIO] [float] NULL,
	[DT_SOL_NF] [datetime] NULL,
	[DT_RECEB_NF] [datetime] NULL,
	[DT_CI] [datetime] NULL,
	[DT_ENTERGA_NF_TRANSP] [datetime] NULL,
	[DT_FATURAMENTO] [datetime] NULL,
	[NR_DIAS_DESP] [int] NULL,
	[NR_ITEM] [char](3) NULL,
	[NM_UNID_MEDIDA] [char](50) NULL
) ON [PRIMARY]

GO
