USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDIAGNOSTICO_FATORES](
	[CD_FATOR] [int] IDENTITY(1,1) NOT NULL,
	[CD_DIAGNOSTICO] [int] NOT NULL,
	[NM_FATOR] [varchar](100) NOT NULL,
	[DS_FATOR] [varchar](1000) NULL,
	[IN_ATIVO] [bit] NULL DEFAULT ((1)),
	[NM_SQL] [varchar](max) NULL,
 CONSTRAINT [PK_TDIAGNOSTICO_FATORES] PRIMARY KEY NONCLUSTERED 
(
	[CD_FATOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [TDIAGNOSTICO_FATORES]  WITH CHECK ADD  CONSTRAINT [FK_TDIAGNOSTICO_TDIAGNOSTICO_FATORES] FOREIGN KEY([CD_DIAGNOSTICO])
REFERENCES [TDIAGNOSTICO] ([CD_DIAGNOSTICO])
GO
ALTER TABLE [TDIAGNOSTICO_FATORES] CHECK CONSTRAINT [FK_TDIAGNOSTICO_TDIAGNOSTICO_FATORES]
GO
