USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_PAIS_INSPECAO_MADEIRA] AS
    SELECT CD_PAIS
    FROM TPAIS_BROKER
    WHERE (NM_CONTINENTE = 'ASIA' AND CD_PAIS NOT IN ('053', '080', '163', '240', '827', '244', '357', '383', '372', '369', '403', '198', '431', '556', '627', '744', '013'))
       OR (CD_PAIS IN ('776', '249', '001', '756', '361'))
GO
