USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_RE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RE] [char](12) NOT NULL CONSTRAINT [DF_TPROCESSO__NR_RE_2__108]  DEFAULT (' '),
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TPROCESSO__IN_ATIVO_1__216]  DEFAULT ('1'),
	[IN_RE_AVERBADO] [char](1) NULL,
 CONSTRAINT [PK_TPROCESSO_RE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_RE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
