USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_IN50](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_EMBALAGEM] [char](4) NOT NULL,
	[QT_EMBALAGEM] [int] NULL,
 CONSTRAINT [PK_TPROCESSO_IN50] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_EMBALAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
