USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_TIPO_ESTUFAGEM] AS
	SELECT '0' AS TP_ESTUFAGEM, 'LCL' AS NM_ESTUFAGEM
	UNION
	SELECT '1' AS TP_ESTUFAGEM, 'FCL' AS NM_ESTUFAGEM
	UNION
	SELECT '2' AS TP_ESTUFAGEM, 'CARGA SOLTA' AS NM_ESTUFAGEM


--select * from VW_TIPO_ESTUFAGEM
GO
