USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONCILIACAO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_BANCO] [char](3) NULL,
	[NR_LANCAMENTO] [char](4) NULL,
	[VL_LANCAMENTO] [float] NULL,
	[DT_LANCAMENTO] [datetime] NULL,
	[NM_HISTORICO] [char](25) NULL,
	[NR_DOCUMENTO] [char](6) NULL,
	[NM_CATEGORIA] [int] NULL,
	[TP_NATUREZA] [char](1) NULL,
	[IN_CPMF] [char](1) NULL,
	[IN_CONCILIADO] [char](1) NULL
) ON [PRIMARY]

GO
