USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATZ_PO_ITEM_DES](
	[NR_REFERENCIA] [char](30) NOT NULL,
	[NR_ITEM_CLIENTE] [char](4) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_EVENTO] [char](3) NULL,
	[NR_PARCIAL] [int] NULL,
	[CD_EMPRESA] [char](5) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TATZ_PO_ITEM_DES] ON [TATZ_PO_ITEM_DES]
(
	[NR_REFERENCIA] ASC,
	[NR_ITEM_CLIENTE] ASC,
	[NR_PROCESSO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
