USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FIN_CONTROLE](
	[NR_RELATORIO] [char](3) NOT NULL,
	[DT_EMISSAO] [datetime] NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[NR_ANO] [char](4) NOT NULL,
	[VL_REEMBOLSO] [float] NULL CONSTRAINT [DF_TREL_FIN_CONTROLE_VL_REEMBOLSO]  DEFAULT (0),
	[VL_JUROS] [float] NULL CONSTRAINT [DF__TREL_FIN___VL_JU__6CFB51B7]  DEFAULT (0),
	[VL_CPMF] [float] NULL CONSTRAINT [DF__TREL_FIN___VL_CP__6DEF75F0]  DEFAULT (0),
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
 CONSTRAINT [PK_TREL_FIN_CONTROLE] PRIMARY KEY NONCLUSTERED 
(
	[NR_RELATORIO] ASC,
	[CD_GRUPO] ASC,
	[CD_CLIENTE] ASC,
	[NR_ANO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
