USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TITEM_AREA](
	[CD_ITEM] [char](3) NOT NULL,
	[CD_AREA] [char](2) NOT NULL,
	[TP_RATEIO_DESP] [char](1) NULL,
	[VL_NUN_INDICE] [float] NULL CONSTRAINT [DF_TITEM_AREA_VL_NUN_INDICE]  DEFAULT ('0'),
	[VL_DEN_INDICE] [float] NULL CONSTRAINT [DF_TITEM_AREA_VL_DEN_INDICE]  DEFAULT ('1'),
	[CD_MOEDA_INDICE] [char](3) NULL,
	[IN_LI] [char](1) NULL CONSTRAINT [DF__TITEM_ARE__IN_LI__00CFA23F]  DEFAULT ('0'),
 CONSTRAINT [PK_TITEM_AREA] PRIMARY KEY CLUSTERED 
(
	[CD_ITEM] ASC,
	[CD_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
