USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEBIMENTO_PROCESSO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RECEBIMENTO] [char](6) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[NR_LANC_RECEB] [char](4) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[VL_SOLICITADO] [float] NULL,
	[VL_RECEBIDO] [float] NULL,
	[IN_CANCELADO] [char](1) NULL,
	[VL_UTILIZADO] [float] NULL,
	[VL_DEVOLVIDO] [float] NULL,
	[CD_STATUS] [char](1) NULL,
	[DT_TARIFARIO] [datetime] NULL,
	[VL_ADICIONAL] [float] NULL,
	[NR_PRIORIDADE] [int] NULL,
 CONSTRAINT [PK_TRECEBIMENTO_PROCESSO] PRIMARY KEY CLUSTERED 
(
	[NR_RECEBIMENTO] ASC,
	[CD_CLIENTE] ASC,
	[NR_LANC_RECEB] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TRECEBIMENTO_PROCESSO_7_406865112__K1_K5] ON [TRECEBIMENTO_PROCESSO]
(
	[NR_PROCESSO] ASC,
	[NR_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
