USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMOVIMENTO](
	[CD_USUARIO] [char](4) NOT NULL,
	[DT_ACAO] [datetime] NOT NULL,
	[HR_ACAO] [datetime] NOT NULL,
	[CD_MODULO] [char](2) NOT NULL,
	[NM_ACAO] [char](50) NULL
) ON [PRIMARY]

GO
