USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_BORD](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[DT_FATURA] [datetime] NULL,
	[DT_ENVIO] [datetime] NULL,
	[NR_FATURA] [varchar](15) NOT NULL,
	[NR_PROTOCOLO] [varchar](30) NULL,
	[TX_OBSERVACAO] [text] NULL,
 CONSTRAINT [PK_TPROCESSO_EXP_BORD] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
