USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [VW_TNUMERARIO_USD] AS
SELECT N.NR_PROCESSO, N.NR_SOLICITACAO, 
       CASE N.CD_BASE_CALCULO
         WHEN '0' THEN
           ( SELECT TX_CAMBIO 
             FROM   TTAXA_CAMBIO (NOLOCK)
             WHERE  CD_MOEDA = '220' AND
                    N.DT_SOLICITACAO BETWEEN DT_INICIO_VIGENCIA AND
                    DT_TERMINO_VIGENCIA ) 
         WHEN '1' THEN
           ( SELECT TX_CAMBIO 
             FROM   TTAXA_CAMBIO T (NOLOCK), TNUMERARIO N2 (NOLOCK), TPREVISAO P (NOLOCK)
             WHERE  CD_MOEDA = '220' AND
                    P.DT_CALCULO BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA AND
                    N2.NR_PROCESSO = N.NR_PROCESSO AND
                    N2.NR_SOLICITACAO = N.NR_SOLICITACAO AND
                    N2.NR_PROCESSO = P.NR_PROCESSO ) 
       END TX_DOLAR
FROM TNUMERARIO N (NOLOCK)



GO
