USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE VIEW [VW_FAT_CC_SM] AS
SELECT F.*, 
  ISNULL(
  ( SELECT ISNULL( TX_CAMBIO, 0 ) AS TX_CAMBIO 
    FROM   TTAXA_CAMBIO (NOLOCK)
    WHERE  CD_MOEDA = '001' AND
           F.DT_LANCAMENTO BETWEEN DT_INICIO_VIGENCIA AND
           DT_TERMINO_VIGENCIA ), 0 ) TX_CAMBIO
FROM TFATURAMENTO_CC F (NOLOCK)





GO
