USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNUMERARIO_NOTIFICA_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NULL,
	[NR_PRIORIDADE] [int] NULL,
	[CD_TIPO_CALCULO] [char](3) NULL,
	[CD_BANCO] [char](3) NULL,
	[VL_ITEM_CALCULADO] [float] NULL,
	[VL_SOLICITADO] [float] NULL,
	[CD_STATUS] [char](1) NULL,
	[VL_RECEBIDO] [float] NULL,
	[VL_UTILIZADO] [float] NULL,
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF_TNUMERARIO_NOTIFICA_ITEM_IN_CANCELADO]  DEFAULT ('0'),
	[TP_DESTINO] [char](1) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[CD_MOEDA_COMPRA] [char](3) NULL,
	[CD_MOEDA_VENDA] [char](3) NULL,
	[VL_COMPRA] [float] NULL,
	[VL_VENDA] [float] NULL,
	[NR_SOLIC_VINC] [char](3) NULL,
 CONSTRAINT [PK_TNUMERARIO_NOTIFICA_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SOLICITACAO] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
