USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_CONSULTA_NUM_IMP_BASF] AS
    SELECT NR_PROCESSO AS [Processo],
           DOC_SOLIC AS [Documento],
           CONVERT(DATE, DT_EMISSAO, 103) AS [Data Emissão],
           CONVERT(VARCHAR, DT_EMISSAO,108) AS [Hora Emissão],
           VL_SOLICITADO AS [Valor Solicitado],
           CD_CLIENTE AS [Código Cliente],
           NM_CLIENTE AS [Nome Cliente],
           CNPJ_CLIENTE AS [CNPJ Cliente],
           CD_GRUPO AS [Código Grupo],
           REFERENCIA AS [Referência]
    FROM  (SELECT DISTINCT L.NR_PROCESSO,E.NR_EMISSAO DOC_SOLIC,E.DT_EMISSAO,SUM(ED.VL_EMISSAO) VL_SOLICITADO,
                           P.CD_CLIENTE,P.CD_GRUPO,LTRIM(RTRIM(EM.NM_CLIENTE)) NM_CLIENTE, EM.CNPJ_CLIENTE,
                           (SELECT REPLACE(REPLACE(MASTER.DBO.RowConcatLeft(DISTINCT LTRIM(RTRIM(CD_REFERENCIA)) + '/' + NR_ITEM_PO + ', ') + '??', ', ??', ''), '??', '')
                            FROM MYMONEY.DBO.VW_REFERENCIAS REF
                            WHERE REF.NR_PROCESSO = P.NR_PROCESSO
                              AND REF.TP_REFERENCIA = CASE P.CD_PRODUTO
                                                          WHEN 1 THEN TG.TP_PEDIDO_BUSCA_IMP
                                                      ELSE TG.TP_PEDIDO_BUSCA
                                                      END) REFERENCIA
           FROM MYMONEY.DBO.TB_EMISSAO E
              INNER JOIN MYMONEY.DBO.TB_EMISSAO_DETALHE ED ON E.NR_EMISSAO = ED.NR_EMISSAO
                                                          AND E.ANO_EMISSAO=ED.ANO_EMISSAO
              INNER JOIN MYMONEY.DBO.TB_LANCTO L ON L.NR_LANCTO = ED.NR_LANCTO
                                                AND L.ANO_LANCTO = ED.ANO_LANCTO AND CD_DESTINO = 1
              INNER JOIN MYMONEY.DBO.VW_PROCESSO P ON P.NR_PROCESSO = L.NR_PROCESSO
              INNER JOIN BROKER.DBO.TGRUPO TG ON TG.CD_GRUPO = P.CD_GRUPO
              INNER JOIN MYMONEY.DBO.VW_EMPRESA_NAC EM ON EM.CD_CLIENTE = P.CD_CLIENTE
              LEFT JOIN MYMONEY.DBO.TB_EMISSAO_AMARRADA EA ON EA.NR_EMISSAO_N = E.NR_EMISSAO
                                                          AND EA.ANO_EMISSAO_N = E.ANO_EMISSAO
              LEFT JOIN MYMONEY.DBO.TB_EMISSAO EAMARRADA ON EAMARRADA.NR_EMISSAO = EA.NR_EMISSAO
                                                        AND EAMARRADA.ANO_EMISSAO=EA.ANO_EMISSAO
                                                        AND EAMARRADA.IN_EMITIDO = 1
                                                        AND EAMARRADA.IN_CANCELADO = 0
              LEFT JOIN MYMONEY.DBO.TB_EMISSAO_DETALHE EDAMARRADA ON EDAMARRADA.NR_EMISSAO = EA.NR_EMISSAO
                                                                 AND EDAMARRADA.ANO_EMISSAO = EA.ANO_EMISSAO
           WHERE E.CD_ROTINA_EMISSAO = '601'
             AND E.IN_EMITIDO = 1
             AND E.IN_CANCELADO = 0
             AND TG.CD_GRUPO = '002'
             AND SUBSTRING(L.NR_PROCESSO, 3, 2) = '01'
           GROUP BY L.NR_PROCESSO,E.NR_EMISSAO,E.DT_EMISSAO,EM.CD_CLIENTE,EM.NM_CLIENTE,CNPJ_CLIENTE,P.CD_CLIENTE,P.CD_GRUPO,EDAMARRADA.VL_EMISSAO,  
                    EAMARRADA.NR_EMISSAO,EAMARRADA.ANO_EMISSAO, P.NR_PROCESSO, P.CD_PRODUTO, TG.TP_PEDIDO_BUSCA, TG.TP_PEDIDO_BUSCA_IMP) AS TABELA

GO
