USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [JoinReadEntryByName]
    @parentid int,
    @highhash int,
    @lowhash int
 AS
    SELECT KEYTABLE.imalock, KEYTABLE.nodeid,
         KEYTABLE.contextid,KEYTABLE.rdn, 
         DATATABLE.partno, DATATABLE.partcount, 
     		         DATATABLE.datapart
    FROM KEYTABLE INNER JOIN	DATATABLE
    ON (KEYTABLE.nodeid = DATATABLE.nodeid)
    WHERE parentid=@parentid AND highhash=@highhash AND lowhash=@lowhash 
    ORDER BY DATATABLE.nodeid, DATATABLE.partno

GO
