USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMPRESA_ARMAZEM_DISTANCIA](
	[CD_EMPRESA] [char](5) NOT NULL,
	[CD_TERMINAL] [char](4) NOT NULL,
	[NM_DISTANCIA] [varchar](50) NULL,
	[NM_TEMPO] [varchar](50) NULL,
 CONSTRAINT [PK_TEMPRESA_ARMAZEM_DISTANCIA] PRIMARY KEY CLUSTERED 
(
	[CD_EMPRESA] ASC,
	[CD_TERMINAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
