USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLUXO_CAIXA_GERENCIAL_ITENS](
	[CD_UNID_NEG] [char](2) NULL,
	[CD_CT_CONTABIL] [char](10) NULL,
	[NM_CT_CONTABIL] [char](50) NULL,
	[CD_AUX] [char](3) NULL
) ON [PRIMARY]

GO
