USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMERC_EXP_ACORDO](
	[CD_MERCADORIA] [char](20) NOT NULL,
	[CD_ACORDO] [char](10) NOT NULL,
	[CD_NORMA] [char](10) NOT NULL,
	[CD_NCM_DOC] [char](8) NULL,
	[CD_NALADI_SH_DOC] [char](8) NULL,
	[CD_NALADI_NCCA_DOC] [char](7) NULL,
	[TX_MERCADORIA] [text] NULL,
	[NR_SEQ_NCM] [int] NULL CONSTRAINT [DF__TMERC_EXP__NR_SE__034A8589]  DEFAULT (0),
	[NR_SEQ_NALADI] [int] NULL CONSTRAINT [DF__TMERC_EXP__NR_SE__043EA9C2]  DEFAULT (0),
 CONSTRAINT [PK_TMERC_EXP_ACORDO] PRIMARY KEY CLUSTERED 
(
	[CD_MERCADORIA] ASC,
	[CD_ACORDO] ASC,
	[CD_NORMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
