USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREC_DESP_OPERACIONAIS](
	[Identificador] [int] NOT NULL,
	[chave] [float] NOT NULL,
	[cd_cliente] [char](5) NOT NULL,
	[tot_receita] [float] NOT NULL,
	[tot_processo] [int] NOT NULL,
	[tot_media] [float] NOT NULL,
 CONSTRAINT [PK_TREC_DESP_OPERACIONAIS] PRIMARY KEY CLUSTERED 
(
	[Identificador] ASC,
	[chave] ASC,
	[cd_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
