USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDIAGNOSTICO_SALDO](
	[NR_FORECAST] [char](14) NULL,
	[CD_MAT_PRI] [char](20) NULL,
	[QT_IMP] [float] NULL,
	[NR_ATO_DRAWBACK] [char](13) NULL
) ON [PRIMARY]

GO
