USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_TRANSIT_TIME_COMPLETO] AS
    SELECT TTE.VL_TRANSIT_TIME,
           TTE.CD_LOCAL_EMBARQUE,
           LE.DESCRICAO AS NM_LOCAL_EMBARQUE,
           TTE.CD_LOCAL_DESEMBARQUE,
           LD.DESCRICAO AS NM_LOCAL_DESEMBARQUE,
           TTE.CD_LOCAL_TRANSBORDO,
           LT.DESCRICAO AS NM_LOCAL_TRANSBORDO,
           TTE.CD_AGENTE,
           A.NM_AGENTE,
           TTE.CD_USUARIO,
           U.NM_USUARIO
    FROM TTRANSIT_TIME_EXP       TTE (NOLOCK)
       LEFT JOIN TLOCAL_EMBARQUE LE  (NOLOCK) ON LE.CODIGO    = TTE.CD_LOCAL_EMBARQUE
       LEFT JOIN TLOCAL_EMBARQUE LD  (NOLOCK) ON LD.CODIGO    = TTE.CD_LOCAL_DESEMBARQUE
       LEFT JOIN TLOCAL_EMBARQUE LT  (NOLOCK) ON LT.CODIGO    = TTE.CD_LOCAL_TRANSBORDO
       LEFT JOIN TAGENTE         A   (NOLOCK) ON A.CD_AGENTE  = TTE.CD_AGENTE
       LEFT JOIN TUSUARIO        U   (NOLOCK) ON U.CD_USUARIO = TTE.CD_USUARIO

GO
