USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSERVICO](
	[CD_SERVICO] [char](3) NOT NULL CONSTRAINT [DF_TSERVICO_CD_SERVICO]  DEFAULT ((0)),
	[NM_SERVICO] [char](50) NOT NULL,
	[CD_CLASSIFICACAO] [char](2) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TSERVICO_IN_ATIVO_1__10]  DEFAULT ('1'),
	[NR_DIAS_CONCLUSAO] [int] NULL,
	[CD_EVENTO_CONCLUSOR] [char](3) NULL,
	[IN_FOLLOWUP] [char](1) NULL,
	[IN_ADM_TEMP] [char](1) NULL CONSTRAINT [DF__TSERVICO__IN_ADM__5E6E0695]  DEFAULT ('0'),
	[IN_INDENT] [char](1) NULL CONSTRAINT [DF__TSERVICO__IN_IND__6A5585E4]  DEFAULT ('0'),
	[CD_EV_INI] [char](3) NULL,
	[CD_EV_FIM] [char](3) NULL,
	[CD_GRUPO] [char](3) NULL,
	[TP_CTRL_VENCTO] [char](1) NULL CONSTRAINT [DF__TSERVICO__TP_CTR__56CE7B7B]  DEFAULT ('0'),
	[IN_CHECK] [char](1) NOT NULL DEFAULT ('1'),
	[TP_SERVICO] [char](1) NULL CONSTRAINT [DF_TSERVICO_TP_SERVICO]  DEFAULT ((0)),
	[CD_CT_CUSTO_1] [varchar](25) NULL,
	[CD_CT_CUSTO_2] [varchar](25) NULL,
	[CD_CT_CUSTO_3] [varchar](25) NULL,
	[CD_CT_CUSTO_4] [varchar](25) NULL,
	[CD_CT_CUSTO_5] [varchar](25) NULL,
	[CD_CT_CUSTO_6] [varchar](25) NULL,
	[CD_CT_CUSTO_7] [varchar](25) NULL,
	[CD_CT_CUSTO_8] [varchar](25) NULL,
	[CD_CT_CUSTO_9] [varchar](25) NULL,
	[CD_CT_CUSTO_10] [varchar](25) NULL,
	[CD_CT_CUSTO_11] [varchar](25) NULL,
	[IN_ALADI] [char](1) NULL,
	[IN_FUMIGACAO] [char](1) NULL,
	[NR_CAD_CONFIG_STATUS] [int] NULL,
	[IN_SUBSTITUI] [char](1) NULL CONSTRAINT [DF_TSERVICO_IN_SUBSTITUI_1]  DEFAULT ('0'),
	[IN_LI] [char](1) NULL CONSTRAINT [DF_TSERVICO_IN_LI]  DEFAULT ('0'),
 CONSTRAINT [PK_TSERVICO] PRIMARY KEY CLUSTERED 
(
	[CD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TSERVICO_5_316280632__K1_2] ON [TSERVICO]
(
	[CD_SERVICO] ASC
)
INCLUDE ( 	[NM_SERVICO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TSERVICO_5_316280632__K15] ON [TSERVICO]
(
	[IN_CHECK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TSERVICO_7_316280632__K1_2] ON [TSERVICO]
(
	[CD_SERVICO] ASC
)
INCLUDE ( 	[NM_SERVICO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_NM_SERVICO] ON [TSERVICO]
(
	[NM_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
