USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFAMILIA_PROD](
	[CD_FAMILIA_PROD] [char](8) NOT NULL,
	[NM_FAMILIA_PROD] [varchar](50) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TFAMILIA_PROD_IN_ATIVO]  DEFAULT ('0'),
	[CD_USUARIO] [char](4) NULL,
	[DT_ALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_TFAMILIA_PROD] PRIMARY KEY CLUSTERED 
(
	[CD_FAMILIA_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
