USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_PEDIDO](
	[CD_PEDIDO] [char](2) NOT NULL,
	[NM_PEDIDO] [char](30) NULL,
 CONSTRAINT [PK_TTP_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[CD_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
