USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEXP_CO_NCM](
	[NR_NCM_MERCADORIA] [char](10) NOT NULL,
	[NR_NALADI_MERCADORIA] [char](10) NOT NULL,
	[TX_NCM] [text] NULL,
 CONSTRAINT [PK_TEXP_CO_NCM] PRIMARY KEY CLUSTERED 
(
	[NR_NCM_MERCADORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
