USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TACRESCIMO_VALORACAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[CD_MET_ACRES_VALOR] [char](3) NOT NULL,
	[VL_ACRESCIMO_MOEDA] [float] NULL,
	[CD_MD_NEGOC_ACRES] [char](3) NULL,
	[VL_ACRESCIMO_MN] [float] NULL,
 CONSTRAINT [PK_TACRESCIMO_VALORACAO_1__10] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[CD_MET_ACRES_VALOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TACRESCVALIndex1] ON [TACRESCIMO_VALORACAO]
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[CD_MET_ACRES_VALOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
