USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATZ](
	[NR_SEQUENCIA] [int] IDENTITY(1,1) NOT NULL,
	[CD_TABELA] [char](3) NOT NULL,
	[CD_MOVIMENTO] [char](1) NOT NULL,
	[CD_CHAVE] [varchar](30) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL
) ON [PRIMARY]

GO
CREATE CLUSTERED INDEX [IN_tatz] ON [TATZ]
(
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
