USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CANAL_GRAF](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NM_CANAL] [char](10) NOT NULL,
	[QT_PROC_CANAL] [int] NULL,
	[QT_PROC_TOTAL] [int] NULL,
	[QT_MEDIA_DIAS_TOTAL] [float] NULL,
	[QT_MEDIA_DIAS_CANAL] [float] NULL,
	[NR_ORDEM] [int] NULL
) ON [PRIMARY]

GO
