USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCIA_CONHECIMENTOS](
	[CODIGO] [char](4) NOT NULL,
	[CD_SERIE] [char](4) NOT NULL,
	[NR_CONHECIMENTO] [char](15) NOT NULL,
	[CD_REGISTRO] [int] NULL,
	[IN_DISPONIVEL] [char](1) NULL,
	[CD_USUARIO_RETIRADA] [char](4) NULL,
	[DT_RETIRADA] [datetime] NULL
) ON [PRIMARY]

GO
