USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create VIEW [VW_PRE_CALCULO_ADICAO]
AS
SELECT 
NR_PROCESSO, 
NR_ADICAO, 
ROUND(ISNULL(VL_CIF_REAIS, 0), 2) VL_CIF_REAIS, 
PC_ALIQUOTA_II, 
ROUND(ISNULL(VL_II_REAIS, 0), 2) VL_II_REAIS, 
PC_ALIQUOTA_IPI , 
ROUND(ISNULL(VL_IPI_REAIS, 0), 2) VL_IPI_REAIS, 
PC_ALIQUOTA_PIS, 
ROUND(ISNULL(VL_PIS_REAIS, 0), 2) VL_PIS_REAIS, 
PC_ALIQUOTA_COFINS, 
ROUND(ISNULL(VL_COFINS_REAIS, 0), 2) VL_COFINS_REAIS, 
PC_ALIQUOTA_ICMS, 
ROUND(ISNULL(VL_ICMS_REAIS, 0), 2) VL_ICMS_REAIS, 
ROUND(ISNULL(VL_OUTRAS_DESP_REAIS, 0), 2) VL_OUTRAS_DESP_REAIS, 
ROUND(ISNULL(VL_DESP_ADUAN_REAIS, 0), 2) VL_DESP_ADUAN_REAIS, 
ROUND(ISNULL(VL_BASE_PIS_COFINS, 0), 2) VL_BASE_PIS_COFINS, 
ROUND(ISNULL(VL_BASE_ICMS, 0), 2) VL_BASE_ICMS, 
VL_ALIQUOTA_ESPECIFICA_PIS, 
VL_ALIQUOTA_ESPECIFICA_COFINS, 
QTD_UNID_ESPECIFICA_PIS, 
QTD_UNID_ESPECIFICA_COFINS
FROM BROKER.dbo.TPRE_CALCULO_ADICAO (NOLOCK)



GO
