USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNUMERARIO_ITEM_SOLIC](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NULL,
	[NR_PRIORIDADE] [int] NULL,
	[CD_TIPO_CALCULO] [char](3) NULL,
	[CD_BANCO] [char](3) NULL,
	[VL_ITEM_CALCULADO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_ITEM_CAL1__13]  DEFAULT (0),
	[VL_SOLICITADO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_SOLICITA3__13]  DEFAULT (0),
	[CD_STATUS] [char](1) NULL,
	[VL_RECEBIDO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_RECEBIDO2__13]  DEFAULT (0),
	[VL_UTILIZADO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_UTILIZAD4__13]  DEFAULT (0),
	[IN_CANCELADO] [char](1) NULL,
	[TP_DESTINO] [char](1) NOT NULL CONSTRAINT [DF_TNUMERARIO_ITEM_SOLIC_TP_DESTINO]  DEFAULT ('2'),
	[CD_FAVORECIDO] [char](5) NULL,
 CONSTRAINT [PK_TNUMERARIO_ITEM_SOLIC] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SOLICITACAO] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
