USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLIQUIDACAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LIQUIDACAO] [char](6) NOT NULL,
	[DT_LIQUIDACAO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_FORMA_PAGTO] [char](1) NULL,
	[CD_BANCO] [char](3) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[NR_SOLIC_FAT] [char](6) NULL,
	[TP_LIQUIDACAO] [char](1) NULL,
	[VL_LIQUIDACAO] [float] NULL CONSTRAINT [DF_TLIQUIDACA_VL_LIQUIDAC5__18]  DEFAULT (0),
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF_TLIQUIDACA_IN_CANCELAD2__18]  DEFAULT ('0'),
	[CD_CANCELADOR] [char](4) NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[IN_TRANSFERIDO] [char](1) NULL CONSTRAINT [DF_TLIQUIDACA_IN_TRANSFER4__18]  DEFAULT ('0'),
	[DT_TRANSFERENCIA] [datetime] NULL,
	[IN_CHEQUE] [char](1) NULL CONSTRAINT [DF_TLIQUIDACA_IN_CHEQUE_3__18]  DEFAULT ('0'),
	[DT_SOLIC_CH] [char](10) NULL,
	[NR_SOLIC_CH] [char](3) NULL,
	[IN_TRANSF_CANC] [char](1) NULL CONSTRAINT [DF_TLIQUIDACA_IN_TRANSF_C1__22]  DEFAULT ('0'),
	[DT_TRANSF_CANC] [datetime] NULL,
	[NR_RELATORIO] [char](3) NULL,
	[NR_ANO] [char](4) NULL,
	[NR_GRUPO_LIQUIDACAO] [char](3) NULL,
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF__TLIQUIDAC__VL_DE__4FB5D2EA]  DEFAULT ('0'),
	[VL_PERC_DESCONTO] [float] NULL CONSTRAINT [DF__TLIQUIDAC__VL_PE__50A9F723]  DEFAULT ('0'),
	[VL_ACRESCIMO] [float] NULL CONSTRAINT [DF__TLIQUIDAC__VL_AC__519E1B5C]  DEFAULT ('0'),
	[VL_PERC_ACRESCIMO] [float] NULL CONSTRAINT [DF__TLIQUIDAC__VL_PE__52923F95]  DEFAULT ('0'),
	[NR_PROCESSO_LIQ] [char](18) NULL,
	[NR_LIQUIDACAO_LIQ] [char](6) NULL,
	[VL_RECEITA] [float] NULL,
	[VL_SALDO_OP] [float] NULL,
	[VL_TOT_LIQUIDACAO] [float] NULL,
 CONSTRAINT [PK_TLIQUIDACAO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_LIQUIDACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_NR_PROCESSO] ON [TLIQUIDACAO]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TLIQUIDACAO] ON [TLIQUIDACAO]
(
	[NR_PROCESSO] ASC,
	[NR_LIQUIDACAO] ASC,
	[DT_LIQUIDACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
