USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FAT_LIVRO_FISCAL_ISS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_NF] [char](10) NOT NULL,
	[DT_NF] [datetime] NOT NULL,
	[VL_NF] [float] NOT NULL,
	[VL_ISS] [float] NOT NULL,
 CONSTRAINT [PK_TREL_FAT_LIVRO_FISCAL_ISS] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_NF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FAT_LIVRO_FISCAL_ISS] ADD  CONSTRAINT [DF_TREL_FAT_LIVRO_FISCAL_ISS_VL_NF]  DEFAULT (0) FOR [VL_NF]
GO
ALTER TABLE [TREL_FAT_LIVRO_FISCAL_ISS] ADD  CONSTRAINT [DF_TREL_FAT_LIVRO_FISCAL_ISS_VL_ISS]  DEFAULT (0) FOR [VL_ISS]
GO
