USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cliente](
	[Codigo] [varchar](255) NULL,
	[Razao Social] [varchar](255) NULL,
	[Nome Reduzido] [varchar](255) NULL,
	[Pais] [varchar](255) NULL,
	[Endereco] [varchar](255) NULL,
	[Numero] [varchar](255) NULL,
	[Complemento] [varchar](255) NULL,
	[Cidade] [varchar](255) NULL,
	[Estado] [varchar](255) NULL,
	[Telefone] [varchar](255) NULL,
	[Col011] [varchar](255) NULL
) ON [PRIMARY]

GO
