USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTRANSPORTADOR_RODOV](
	[CODIGO] [char](4) NULL,
	[DESCRICAO] [varchar](60) NULL,
	[APELIDO] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
