USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFILA_ERP](
	[TP_FILA] [char](1) NULL,
	[NR_CHAVE] [varchar](20) NULL,
	[DT_FILA] [datetime] NULL
) ON [PRIMARY]

GO
