USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRE_INFO_XML](
	[QTDE_PROPOSTAS] [varchar](4000) NULL,
	[NR_RE] [varchar](4000) NULL,
	[NR_PROCESSO_EXPORTADOR] [varchar](4000) NULL,
	[CNPJ_EXPORTADOR] [varchar](4000) NULL,
	[TX_JUSTIFICATIVA] [varchar](4000) NULL,
	[NR_ATO_CONCESSORIO] [varchar](4000) NULL,
	[TP_OPERACAO_ATO_CONCESSORIO] [varchar](4000) NULL,
	[IN_AUTORIZA_ALTERACAO_AC] [varchar](4000) NULL,
	[CD_ENQUADRAMENTO] [varchar](4000) NULL,
	[CNPJ] [varchar](4000) NULL,
	[CD_NCM] [varchar](4000) NULL,
	[ITEM_ATO_CONCESSORIO] [varchar](4000) NULL,
	[VL_MOEDA_RE_COM_COBERTURA_CAMBIAL] [varchar](4000) NULL,
	[VL_MOEDA_RE_SEM_COBERTURA_CAMBIAL] [varchar](4000) NULL,
	[QUANTIDADE] [varchar](4000) NULL,
	[NUMERO] [varchar](4000) NULL,
	[DATA] [varchar](4000) NULL,
	[QUANTIDADE_EXPORTADA] [varchar](4000) NULL,
	[VALOR] [varchar](4000) NULL,
	[IN_XML] [bit] NULL,
	[CD_RE_INFO_XML] [int] NULL
) ON [PRIMARY]

GO
