USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CANAL_MES](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[MES] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_CANAL] [char](1) NOT NULL,
	[CD_AREA] [char](2) NOT NULL,
	[NM_GRUPO_AREA] [char](3) NULL,
	[QT_PROCESSOS] [int] NULL,
	[MEDIA_DIAS] [int] NULL,
 CONSTRAINT [PK_TREL_CANAL_MES] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[MES] ASC,
	[CD_UNID_NEG] ASC,
	[CD_CANAL] ASC,
	[CD_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
