USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_QT_PROCESSOS](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[DT_ABERTURA] [char](10) NULL
) ON [PRIMARY]

GO
