USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRELATORIO_BASICO](
	[CD_RELATORIO] [int] IDENTITY(1,1) NOT NULL,
	[NM_RELATORIO] [varchar](255) NOT NULL,
	[TX_SQL] [text] NOT NULL,
	[NM_CAMPO_FILTRO] [varchar](255) NULL,
 CONSTRAINT [PK_TRELATORIO_BASICO] PRIMARY KEY CLUSTERED 
(
	[CD_RELATORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
