USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TB_ROTINA](
	[CD_ROTINA] [int] NOT NULL,
	[NM_ROTINA] [char](50) NOT NULL,
	[CD_MODULO] [int] NOT NULL,
	[CD_SISTEMA] [int] NULL,
 CONSTRAINT [PK__TROTINA__7C8480AE] PRIMARY KEY NONCLUSTERED 
(
	[CD_ROTINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
