USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDDIMPORT_FLP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_DI] [char](10) NULL,
	[DT_REG_DI] [datetime] NULL,
	[DT_PREV_CHEGADA] [datetime] NULL,
	[REF_DESPACHANTE] [char](20) NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_CHEGADA] [datetime] NULL,
	[DT_PREV_EMBARQUE] [datetime] NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_PRESENCA_CARGA] [datetime] NULL,
	[CD_TIPO_DCTO_CARGA] [char](2) NULL,
	[NR_DCTO_CARGA] [char](20) NULL,
	[NR_MASTER] [char](20) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[QT_CNTR_20] [tinyint] NULL,
	[QT_CNTR_40] [tinyint] NULL,
	[QT_CNTR_TANK] [tinyint] NULL,
	[CD_CARGA_SOLTA] [char](1) NULL,
	[CD_CANAL] [char](10) NULL,
	[QT_VOLUMES] [char](3) NULL,
	[VL_PESO_BRUTO] [float] NULL,
	[VL_CHAR_WEIGHT] [float] NULL,
	[VL_TARIFA_FRETE] [float] NULL,
	[VL_FRETE_REAL] [float] NULL,
	[DT_NF_ENTRADA] [datetime] NULL,
	[DT_BL_MASTER] [datetime] NULL,
	[DT_DCTO_CARGA] [datetime] NULL,
	[DT_REMOCAO] [datetime] NULL,
	[CD_RECINTO_ALFANDEGADO] [char](7) NULL,
	[DT_AUT_EMBARQUE] [datetime] NULL,
	[DT_RECEB_DCTO_FAT] [datetime] NULL,
	[DT_PREV_CHEGADA_IMP] [datetime] NULL,
	[DT_PAG_IMPOSTOS] [datetime] NULL,
	[DT_DESOVA] [datetime] NULL,
	[DT_AVISO_AVARIA] [datetime] NULL,
	[DT_ANUENCIA_LI] [datetime] NULL,
	[DT_CHEGADA_ARM] [datetime] NULL,
	[DT_PRESENCA_CARGA_EADI] [datetime] NULL,
	[NR_DTA] [char](20) NULL,
	[DT_REG_DTA] [datetime] NULL,
	[CD_TIPO_DTA] [char](1) NULL,
	[CD_CANAL_DTA] [char](10) NULL,
	[DT_PARAM_DTA] [datetime] NULL,
	[NR_MANIFESTO] [char](15) NULL,
	[NR_VOO] [char](15) NULL,
	[NR_VIAGEM_NAVIO] [char](15) NULL,
	[NR_CI] [char](15) NULL
) ON [PRIMARY]

GO
