USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSERVICO_NOVO](
	[CD_SERVICO] [int] IDENTITY(1,1) NOT NULL,
	[NM_SERVICO] [char](50) NOT NULL,
	[CD_CLASSIFICACAO] [char](2) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[IN_ATIVO] [char](1) NULL DEFAULT ('1'),
	[NR_DIAS_CONCLUSAO] [int] NULL,
	[CD_EVENTO_CONCLUSOR] [char](3) NULL,
	[IN_FOLLOWUP] [char](1) NULL,
	[IN_ADM_TEMP] [char](1) NULL DEFAULT ('0'),
	[IN_INDENT] [char](1) NULL DEFAULT ('0'),
	[CD_EV_INI] [char](3) NULL,
	[CD_EV_FIM] [char](3) NULL,
	[CD_GRUPO] [char](3) NULL,
	[TP_CTRL_VENCTO] [char](1) NULL DEFAULT ('0'),
	[IN_CHECK] [char](1) NOT NULL DEFAULT ('1'),
	[TP_SERVICO] [char](1) NULL DEFAULT ('0'),
	[CD_CT_CUSTO_1] [varchar](25) NULL,
	[CD_CT_CUSTO_2] [varchar](25) NULL,
	[CD_CT_CUSTO_3] [varchar](25) NULL,
	[CD_CT_CUSTO_4] [varchar](25) NULL,
	[CD_CT_CUSTO_5] [varchar](25) NULL,
	[CD_CT_CUSTO_6] [varchar](25) NULL,
	[CD_CT_CUSTO_7] [varchar](25) NULL,
	[CD_CT_CUSTO_8] [varchar](25) NULL,
	[CD_CT_CUSTO_9] [varchar](25) NULL,
	[CD_CT_CUSTO_10] [varchar](25) NULL,
	[CD_CT_CUSTO_11] [varchar](25) NULL,
	[IN_ALADI] [char](1) NULL,
	[IN_FUMIGACAO] [char](1) NULL,
	[NR_CAD_CONFIG_STATUS] [int] NULL,
	[IN_SUBSTITUI] [char](1) NULL DEFAULT ('0'),
	[IN_LI] [char](1) NULL DEFAULT ('0'),
 CONSTRAINT [PK_TSERVICO_NOVO] PRIMARY KEY NONCLUSTERED 
(
	[CD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
