USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_RELATORIOS_MAIL_AUT](
	[CD_TIPO_RELATORIO] [char](3) NOT NULL,
	[NM_TIPO_RELATORIO] [char](50) NULL,
 CONSTRAINT [PK_TTP_RELATORIOS_MAIL_AUT] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_RELATORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
