USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TENVIA_EXP_SISCOMEX](
	[ID_CHAVE] [char](15) NULL,
	[PALAVRA] [varchar](100) NULL,
	[LINHA_PALAVRA] [int] NULL,
	[COLUNA_PALAVRA] [int] NULL,
	[TAMANHO] [int] NULL,
	[TIPO] [char](15) NULL
) ON [PRIMARY]

GO
