USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFORECAST_EXP](
	[NR_FORECAST] [char](14) NOT NULL,
	[CD_MERCADORIA] [char](20) NOT NULL,
	[NR_LAUDO] [char](5) NOT NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_UNITARIO] [float] NULL CONSTRAINT [DF_TFORECAST_EXP_VL_UNITARIO]  DEFAULT (0),
	[VL_FRETE_UNIT] [float] NULL CONSTRAINT [DF_TFORECAST_EXP_VL_FRETE_UNIT]  DEFAULT (0),
	[QT_EXP] [float] NULL CONSTRAINT [DF_TFORECAST_EXP_QT_EXP]  DEFAULT (0),
	[PL_EXP] [float] NULL CONSTRAINT [DF_TFORECAST_EXP_PL_EXP]  DEFAULT (0),
	[VL_COM_AGENTE] [float] NULL CONSTRAINT [DF__TFORECAST__VL_CO__0CAB693F]  DEFAULT (0),
	[VL_FOB] [float] NULL CONSTRAINT [DF__TFORECAST__VL_FO__3484506F]  DEFAULT (0),
	[VL_FRETE] [float] NULL CONSTRAINT [DF__TFORECAST__VL_FR__357874A8]  DEFAULT (0),
	[PL_UNIT_EXP] [float] NULL CONSTRAINT [DF__TFORECAST__PL_UN__366C98E1]  DEFAULT (0),
	[VL_FOB_LIQ] [float] NULL,
	[NR_RE] [char](12) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[ANEXO] [char](3) NULL,
	[DT_EMBARQUE] [datetime] NULL,
 CONSTRAINT [PK_TFORECAST_EXP] PRIMARY KEY CLUSTERED 
(
	[NR_FORECAST] ASC,
	[CD_MERCADORIA] ASC,
	[NR_LAUDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
