USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCTAAPAGAR_RATEIO](
	[DT_CTAAPAGAR] [datetime] NOT NULL,
	[NR_CTAAPAGAR] [char](3) NOT NULL,
	[CD_CT_CUSTO] [char](25) NOT NULL,
	[VALOR_RATEIO] [float] NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_RATEIO] [char](4) NOT NULL,
	[CODIGO] [int] NOT NULL,
 CONSTRAINT [PK_TCTAAPAGAR_RATEIO] PRIMARY KEY NONCLUSTERED 
(
	[DT_CTAAPAGAR] ASC,
	[NR_CTAAPAGAR] ASC,
	[CD_CT_CUSTO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_RATEIO] ASC,
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [_dta_index_TCTAAPAGAR_RATEIO_c_5_1906014467__K1_K5_K2_K7] ON [TCTAAPAGAR_RATEIO]
(
	[DT_CTAAPAGAR] ASC,
	[CD_UNID_NEG] ASC,
	[NR_CTAAPAGAR] ASC,
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
