USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_OPERACAO_FATOR_EVENTO] AS
    SELECT '0' AS CD_OPERACAO, 'Inserido' AS NM_OPERACAO
    UNION ALL
    SELECT '1' AS CD_OPERACAO, 'Alterado' AS NM_OPERACAO
    UNION ALL
    SELECT '2' AS CD_OPERACAO, 'Excluído' AS NM_OPERACAO

GO
