USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_VL_RETENCAO](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_SOLICITACAO] [char](6) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[AP_CLIENTE] [char](20) NULL,
	[CD_GRUPO] [char](3) NULL,
	[NR_NOTA] [char](6) NULL,
	[DT_FATURA] [datetime] NULL,
	[VL_TRIBUTAVEL] [float] NULL,
	[VL_RETENCAO] [float] NULL,
	[NR_NOTA_ACUMULADA] [char](6) NULL,
	[IN_STATUS] [char](1) NULL,
	[NM_USUARIO_CANC] [char](20) NULL,
	[DT_CANC] [datetime] NULL
) ON [PRIMARY]

GO
