USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_HABILITACAO_BKP](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[DT_VALID_CRED_RF] [datetime] NULL,
	[DT_CAPTACAO] [datetime] NULL,
	[IN_ATIVO] [char](1) NULL,
	[TX_NUMERARIO_OBS] [text] NULL,
	[QT_ADIANTAMENTO] [numeric](6, 0) NULL,
	[CD_DT_BASE_CAMBIO] [char](1) NULL,
	[CD_TAB_SDA] [char](3) NULL,
	[CD_EQUIPE] [char](2) NULL,
	[CD_FOLLOW_UP] [char](2) NULL,
	[CD_NUMERARIO] [char](2) NULL,
	[IN_LIBERACAO] [char](1) NULL,
	[CD_TP_FOLLOW_UP] [char](2) NULL,
	[IN_SD_FAT_ZERO] [char](1) NULL,
	[IN_SD_NOTA_ZERO] [char](1) NULL,
	[IN_COBRAR_CPMF] [char](1) NULL,
	[CD_RESPONSAVEL] [char](1) NULL,
	[IN_BOLETO] [char](1) NULL,
	[NR_DIAS_VENCTO_FATURA] [int] NULL,
	[IN_COMP_SDA] [char](1) NULL,
	[IN_QUADRO_TOTAL_FAT] [char](1) NULL,
	[CD_IR_FAT] [char](1) NULL,
	[IN_DIVERSOS] [char](1) NULL,
	[IN_CC_NUM] [char](1) NULL,
	[IN_OBS_UNICA] [char](1) NULL,
	[IN_OBS_POR_DATA] [char](1) NULL,
	[IN_DIA_UTIL_EMISSAO_FAT] [char](1) NULL,
	[TP_PORTADOR] [char](1) NULL,
	[CD_BANCO_PORTADOR] [char](3) NULL,
	[IN_CPMF_SALDO_CREDOR] [char](1) NULL,
	[IN_CALCULA_IRRF_VL_MIN] [char](1) NULL,
	[IN_NOTA_LIQ] [char](1) NULL,
	[IN_FAT_REC] [char](1) NULL,
	[TP_TAB_SDA] [char](1) NULL,
	[IN_EXP_NF] [char](1) NULL,
	[NR_CONTRATO_SEGURO] [varchar](10) NULL,
	[IN_COBRAR_ISS] [char](1) NULL,
	[NR_ALT_LINHA_FAT_EXP] [int] NULL,
	[IN_CPMF_TOTAL] [char](1) NULL,
	[NR_PROT_MERCANTE] [char](10) NULL,
	[VL_MIN_DI] [float] NULL,
	[IN_FAT_SEM_DESP] [char](1) NULL,
	[IN_NUM_FAT_EXP_AUT] [char](1) NULL,
	[IN_TX_SCX_ICMS] [char](1) NULL,
	[IN_COBRAR_COFINS] [char](1) NULL,
	[VL_ALIQ_COFINS_CLIENTE] [float] NULL,
	[CD_RET_FAT] [char](1) NULL,
	[IN_ND] [char](1) NULL,
	[IN_AVISO_RETENCAO] [char](1) NULL,
	[IN_REMESSA] [char](1) NULL,
	[IN_REF_ACEITA_BARRA] [char](1) NULL,
	[NR_TAMANHO_REF] [int] NULL,
	[IN_BORDERO] [char](1) NULL,
	[IN_DOCTO_SOLIC] [char](1) NULL,
	[IN_ENVIA_PDF] [char](1) NULL,
	[IN_AUTO_MERC_FABR] [char](1) NULL,
	[DT_VALID_ANVISA] [datetime] NULL,
	[IN_TP_RETENCAO_IR] [char](1) NULL,
	[IN_TP_RETENCAO_COFINS] [char](1) NULL,
	[NR_DIA_VENCTO] [char](2) NULL,
	[NR_DIA_VENCTO_BASE] [char](2) NULL,
	[CD_ATENDENTE] [char](4) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
