USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPRIETARIO_MERC](
	[CD_PROPRIETARIO] [char](3) NOT NULL,
	[NM_PROPRIETARIO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TPROPRIETARIO_MERC] PRIMARY KEY CLUSTERED 
(
	[CD_PROPRIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
