USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVIAGEM_TESTE](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_EMBARCACAO] [char](4) NOT NULL,
	[NR_VIAGEM] [char](4) NOT NULL,
	[DT_ESPERADA] [datetime] NULL,
	[DT_ENT] [datetime] NULL,
	[CD_ARMAZEM_ATRACACAO] [char](4) NULL,
	[NR_MANIFESTO] [char](15) NULL,
	[IN_TRANSBORDO] [char](1) NULL,
	[CD_LOCAL] [char](4) NOT NULL,
	[CD_CIDADE] [varchar](20) NULL,
	[CD_UF] [varchar](2) NULL,
	[CD_PAIS] [varchar](20) NULL,
	[TX_BANDEIRA] [varchar](20) NULL,
	[NR_FONTE] [int] NULL,
	[STATUS] [char](1) NULL
) ON [PRIMARY]

GO
