USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCAD_CONFIG_STATUS](
	[NR_CAD_CONFIG_STATUS] [int] IDENTITY(1,1) NOT NULL,
	[TX_CAD_CONFIG_STATUS] [char](100) NULL,
 CONSTRAINT [PK_TCAD_CONFIG_STATUS] PRIMARY KEY CLUSTERED 
(
	[NR_CAD_CONFIG_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
