USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPAIS_BROKER_OFICIAL](
	[CD_PAIS] [char](3) NOT NULL,
	[NM_PAIS] [char](120) NULL,
	[NM_PAIS_PORT] [char](50) NULL CONSTRAINT [DF_TPAIS_BROKER_OFICIAL_NM_PAIS_PORT]  DEFAULT (''),
	[NM_PAIS_ING] [char](50) NULL CONSTRAINT [DF_TPAIS_BROKER_OFICIAL_NM_PAIS_ING]  DEFAULT (''),
	[NM_PAIS_ESP] [char](50) NULL CONSTRAINT [DF_TPAIS_BROKER_OFICIAL_NM_PAIS_ESP]  DEFAULT (''),
	[CD_SCX_EXP] [char](4) NULL,
	[NM_SIGLA_CRT] [char](2) NULL,
	[IN_NALADI_FATURA] [char](1) NULL CONSTRAINT [DF_TPAIS_BROKER_OFICIAL_IN_NALADI_FATURA]  DEFAULT ('0'),
	[IN_NCM_FATURA] [char](1) NULL CONSTRAINT [DF_TPAIS_BROKER_OFICIAL_IN_NCM_FATURA]  DEFAULT ('0'),
	[IN_ALADI] [char](1) NULL,
	[IN_FUMIGACAO] [char](1) NULL,
	[IN_ALADI_EXP] [char](1) NULL CONSTRAINT [DF_TPAIS_BROKER_OFICIAL_IN_ALADI_EXP]  DEFAULT ((0)),
	[IN_FUMIGACAO_EXP] [char](1) NULL CONSTRAINT [DF_TPAIS_BROKER_OFICIAL_IN_FUMIGACAO_EXP]  DEFAULT ((0)),
	[NM_CONTINENTE] [char](20) NULL,
 CONSTRAINT [PK_TPAIS_BROKER_OFICIAL] PRIMARY KEY CLUSTERED 
(
	[CD_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
