USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFORECAST_IMP](
	[NR_FORECAST] [char](15) NOT NULL,
	[CD_MERCADORIA] [char](15) NOT NULL,
	[NR_LAUDO] [char](5) NOT NULL,
	[CD_MAT_PRI] [char](15) NOT NULL,
	[QT_IMP] [float] NOT NULL,
	[VL_UNITARIO] [float] NULL,
	[VL_FRETE_UNIT] [float] NULL,
	[CD_NCM] [char](11) NULL,
	[VL_ALIQ_II] [float] NULL,
	[VL_II] [float] NULL,
	[VL_ALIQ_IPI] [float] NULL,
	[VL_IPI] [float] NULL,
	[VL_ALIQ_ICMS] [float] NULL,
	[VL_ICMS] [float] NULL,
	[VL_ALIQ_AFRMM] [float] NULL,
	[VL_AFRMM] [float] NULL,
	[VL_TOTAL] [float] NULL,
	[VL_TOTAL_GERAL] [float] NULL,
	[VL_SEGURO] [float] NULL,
	[VL_CIF] [float] NULL,
	[VL_FOB] [float] NULL,
	[VL_FRETE] [float] NULL,
	[VL_PIS] [float] NULL,
	[VL_COFINS] [float] NULL,
	[VL_ALIQ_SEGURO] [float] NULL,
	[PERC_PERDA] [float] NULL,
	[CD_UN_MED_COMERC] [char](3) NULL,
	[VL_ALIQ_PIS] [float] NULL,
	[VL_ALIQ_COFINS] [float] NULL,
	[VL_DESP_ADUAN] [float] NULL,
	[IN_COB_CAMBIAL] [char](1) NULL,
 CONSTRAINT [PK_TFORECAST_IMP] PRIMARY KEY CLUSTERED 
(
	[NR_FORECAST] ASC,
	[CD_MERCADORIA] ASC,
	[NR_LAUDO] ASC,
	[CD_MAT_PRI] ASC,
	[QT_IMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_QT_IMP]  DEFAULT (0) FOR [QT_IMP]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_UNITARIO]  DEFAULT (0) FOR [VL_UNITARIO]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_FRETE_UNIT]  DEFAULT (0) FOR [VL_FRETE_UNIT]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_ALIQ_II]  DEFAULT (0) FOR [VL_ALIQ_II]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_II]  DEFAULT (0) FOR [VL_II]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_ALIQ_IPI]  DEFAULT (0) FOR [VL_ALIQ_IPI]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_IPI]  DEFAULT (0) FOR [VL_IPI]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_ALIQ_ICMS]  DEFAULT (0) FOR [VL_ALIQ_ICMS]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_ICMS]  DEFAULT (0) FOR [VL_ICMS]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_ALIQ_AFRMM]  DEFAULT (0) FOR [VL_ALIQ_AFRMM]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_AFRMM]  DEFAULT (0) FOR [VL_AFRMM]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_TOTAL]  DEFAULT (0) FOR [VL_TOTAL]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_VL_TOTAL_GERAL]  DEFAULT (0) FOR [VL_TOTAL_GERAL]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF__TFORECAST__VL_SE__3760BD1A]  DEFAULT (0) FOR [VL_SEGURO]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF__TFORECAST__VL_CI__3854E153]  DEFAULT (0) FOR [VL_CIF]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF__TFORECAST__VL_FO__3949058C]  DEFAULT (0) FOR [VL_FOB]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF__TFORECAST__VL_FR__3A3D29C5]  DEFAULT (0) FOR [VL_FRETE]
GO
ALTER TABLE [TFORECAST_IMP] ADD  CONSTRAINT [DF_TFORECAST_IMP_IN_COB_CAMBIAL]  DEFAULT ('S') FOR [IN_COB_CAMBIAL]
GO
