USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUF_EXCECOES](
	[CD_UF] [char](2) NOT NULL,
	[CD_UF_EXCECOES] [char](5) NOT NULL,
	[DESC_EXCECAO] [char](30) NULL,
	[VL_ALIQ_ICMS] [float] NULL,
	[SCRIPT_SELECT] [text] NULL,
	[RESULT_SELECT] [char](20) NULL,
	[CD_REGIME_TRIB] [char](1) NULL,
	[CD_PRIORIDADE] [int] NULL,
	[IN_CONTEMPLA_ADICAO] [char](1) NULL,
	[IN_EXCECAO_VALE_MAIS] [char](1) NULL,
	[CD_DISPOSITIVO_LEGAL] [char](3) NULL,
	[PC_PIS] [float] NULL,
	[PC_COFINS] [float] NULL,
	[CD_REG_TRIB_PIS_COFINS] [char](1) NULL,
	[CD_FUND_LEG_PIS_COFINS] [char](2) NULL,
 CONSTRAINT [PK_TUF_EXCECOES] PRIMARY KEY CLUSTERED 
(
	[CD_UF] ASC,
	[CD_UF_EXCECOES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
