USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAJUSTE_IMPRESSAO_GNRE](
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[L_UF_FAV] [char](3) NULL,
	[C_UF_FAV] [char](3) NULL,
	[L_VENC] [char](3) NULL,
	[C_VENC] [char](3) NULL,
	[L_CD_UF_FAV] [char](3) NULL,
	[C_CD_UF_FAV] [char](3) NULL,
	[L_CD_RECEITA] [char](3) NULL,
	[C_CD_RECEITA] [char](3) NULL,
	[L_IMP_EXP] [char](3) NULL,
	[C_IMP_EXP] [char](3) NULL,
	[L_INSC_EST] [char](3) NULL,
	[C_INSC_EST] [char](3) NULL,
	[L_CNPJ] [char](3) NULL,
	[C_CNPJ] [char](3) NULL,
	[L_END] [char](3) NULL,
	[C_END] [char](3) NULL,
	[L_DOCTO_ORIGEM] [char](3) NULL,
	[C_DOCTO_ORIGEM] [char](3) NULL,
	[L_MUNICIPIO] [char](3) NULL,
	[C_MUNICIPIO] [char](3) NULL,
	[L_UF] [char](3) NULL,
	[C_UF] [char](3) NULL,
	[L_CEP] [char](3) NULL,
	[C_CEP] [char](3) NULL,
	[L_TEL] [char](3) NULL,
	[C_TEL] [char](3) NULL,
	[L_REF] [char](3) NULL,
	[C_REF] [char](3) NULL,
	[L_VL_PRINC] [char](3) NULL,
	[C_VL_PRINC] [char](3) NULL,
	[L_NR_REF] [char](3) NULL,
	[C_NR_REF] [char](3) NULL,
	[L_NM_BANCO] [char](3) NULL,
	[C_NM_BANCO] [char](3) NULL,
	[L_CONTA] [char](3) NULL,
	[C_CONTA] [char](3) NULL,
	[L_AGENCIA] [char](3) NULL,
	[C_AGENCIA] [char](3) NULL,
	[L_NR_BANCO] [char](3) NULL,
	[C_NR_BANCO] [char](3) NULL,
	[L_TOTAL] [char](3) NULL,
	[C_TOTAL] [char](3) NULL,
 CONSTRAINT [PK_TAJUSTE_IMPRESSAO_GNRE] PRIMARY KEY CLUSTERED 
(
	[CD_DOCUMENTO] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
