USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAUX_PROC_AB_FAT](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LANCAMENTO] [char](6) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[NM_UNID_NEG] [char](50) NULL,
	[NM_PRODUTO] [char](40) NULL,
	[NM_EMPRESA] [varchar](50) NULL,
	[DT_LANCAMENTO] [datetime] NULL,
	[CD_ITEM] [char](3) NULL,
	[VL_ITEM] [float] NULL,
	[IN_FATURADO] [char](1) NULL,
	[NR_SOLIC_FAT] [char](6) NULL,
	[NM_ITEM] [char](30) NULL,
	[TP_NATUREZA] [char](1) NULL,
	[CD_GRUPO] [char](3) NULL,
	[NM_GRUPO] [char](50) NULL
) ON [PRIMARY]

GO
