USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_SDA_LOG](
	[NR_IDENTIFICADOR] [int] IDENTITY(1,1) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[TP_OPERACAO] [char](1) NOT NULL,
	[DT_OPERACAO] [datetime] NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[CD_STATUS] [char](1) NULL,
	[VL_BASE_CALCULO] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_LOG_VL_BASE_CALCULO]  DEFAULT (0),
	[VL_SDA] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_LOG_VL_SDA]  DEFAULT (0),
	[VL_CONTR_ASSIST] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_LOG_VL_CONTR_ASSIST]  DEFAULT (0),
	[VL_COMPL] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_LOG_VL_COMPL]  DEFAULT (0),
	[VL_PAGTO] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_LOG_VL_PAGTO]  DEFAULT (0),
	[IN_DISTR] [char](1) NULL CONSTRAINT [DF_TPROCESSO_SDA_LOG_IN_DISTR]  DEFAULT ('0'),
	[IN_EMITE] [char](1) NULL CONSTRAINT [DF_TPROCESSO_SDA_LOG_IN_EMITE]  DEFAULT ('0'),
	[IN_CANCEL] [char](1) NULL CONSTRAINT [DF_TPROCESSO_SDA_LOG_IN_CANCEL]  DEFAULT ('0'),
	[CD_USUARIO_DISTR] [char](4) NULL,
	[CD_USUARIO_EMITE] [char](4) NULL,
	[CD_USUARIO_CANCEL] [char](4) NULL,
	[DT_DISTRIBUICAO] [datetime] NULL,
	[DT_EMISSAO] [datetime] NULL,
	[DT_CANCEL] [datetime] NULL,
	[DT_PAGTO] [datetime] NULL,
	[CD_DISTRIBUIDOR] [char](4) NULL,
	[CD_EMISSOR] [char](4) NULL,
	[CD_CANCELADOR] [char](4) NULL,
 CONSTRAINT [PK_TPROCESSO_SDA_LOG] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_USUARIO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
