USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  View dbo.VW_TS_FAT_PROC    Script Date: 02/09/1999 09:04:23 AM ******/
/****** Object:  View dbo.VW_TS_FAT_PROC    Script Date: 01/02/1999 5:01:19 PM ******/
CREATE VIEW [VW_TS_FAT_PROC] AS
SELECT F.*, P.NR_PROCESSO
FROM TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO P (NOLOCK)
WHERE F.CD_UNID_NEG = P.CD_UNID_NEG AND
      F.CD_PRODUTO = P.CD_PRODUTO AND
    F.NR_SOLICITACAO = P.NR_SOLICITACAO


GO
