USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARM_REC](
	[CD_RECINTO] [char](7) NOT NULL,
	[QT_DIAS] [char](2) NULL,
	[IN_FERIADO] [char](1) NULL,
	[IN_SABDOM] [char](1) NULL,
 CONSTRAINT [PK_TARM_REC] PRIMARY KEY NONCLUSTERED 
(
	[CD_RECINTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
