USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPAGAMENTO_TRIBUTOS](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_RECEITA_PGTO] [char](4) NOT NULL,
	[CD_BANCO_PGTO_TRIB] [char](3) NULL,
	[NR_AGENC_PGTO_TRIB] [char](5) NULL,
	[VL_TRIBUTO_PAGO] [float] NULL CONSTRAINT [DF_TPAGAMENTO_VL_TRIBUTO3__122]  DEFAULT (0),
	[DT_PGTO_TRIBUTO] [char](8) NULL,
	[VL_MULTA_PGTO_TRIB] [float] NULL CONSTRAINT [DF_TPAGAMENTO_VL_MULTA_P2__122]  DEFAULT (0),
	[VL_JUROS_PGTO_TRIB] [float] NULL CONSTRAINT [DF_TPAGAMENTO_VL_JUROS_P1__122]  DEFAULT (0),
 CONSTRAINT [PK_TPAGAMENTO_TRIBUTOS] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_RECEITA_PGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
