USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TETAPA](
	[CD_ETAPA] [int] NOT NULL,
	[NM_ETAPA] [varchar](200) NULL,
	[NM_INGLES] [varchar](50) NULL,
	[NM_ESPANHOL] [varchar](50) NULL,
	[IN_ATIVO] [int] NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_EVENTO] [char](3) NULL,
	[IN_ETAPA_AUTOMATICA] [char](1) NULL CONSTRAINT [DF_TETAPA_IN_ETAPA_AUTOMATICA]  DEFAULT ('0'),
	[IN_RETRABALHO] [char](1) NULL,
 CONSTRAINT [PK_TETAPA] PRIMARY KEY CLUSTERED 
(
	[CD_ETAPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TETAPA_IDX01] ON [TETAPA]
(
	[NM_ETAPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
