USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TICMS_SUL](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQ] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_CALCULO] [char](3) NULL,
	[VL_ITEM] [float] NULL,
 CONSTRAINT [PK_TICMS_SUL] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQ] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
