USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOG_TPROCESSO](
	[NR_PROCESSO] [char](18) NULL,
	[USER_ID] [int] NULL,
	[USER_NAME] [varchar](100) NULL,
	[DT_OPERACAO] [datetime] NULL,
	[CD_STATUS] [char](1) NULL,
	[CD_EMBARCACAO_OLD] [char](4) NULL,
	[CD_EMBARCACAO_NEW] [char](4) NULL,
	[NR_VOO_OLD] [char](18) NULL,
	[NR_VOO_NEW] [char](18) NULL,
	[NR_CONHECIMENTO_OLD] [char](30) NULL,
	[NR_CONHECIMENTO_NEW] [char](30) NULL,
	[NR_CONHECIMENTO_MASTER_OLD] [char](30) NULL,
	[NR_CONHECIMENTO_MASTER_NEW] [char](30) NULL,
	[NR_PRESENCA_CARGA_OLD] [char](36) NULL,
	[NR_PRESENCA_CARGA_NEW] [char](36) NULL,
	[NR_VIAGEM_OLD] [char](15) NULL,
	[NR_VIAGEM_NEW] [char](15) NULL,
	[NR_VIAGEM_ARMADOR_OLD] [char](15) NULL,
	[NR_VIAGEM_ARMADOR_NEW] [char](15) NULL
) ON [PRIMARY]

GO
