USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_CONTAINER_INTTRA](
	[CD_TIPO_CONTAINER] [char](4) NOT NULL,
	[VL_TAMANHO_CONTAINER] [int] NOT NULL,
	[VL_PESO_CONTAINER] [float] NULL,
	[NM_TIPO_CONTAINER] [varchar](255) NULL,
	[TP_CNTR] [char](2) NULL,
 CONSTRAINT [PK4] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_CONTAINER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
