USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFATURAMENTO_CC](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LANCAMENTO] [char](6) NOT NULL,
	[DT_LANCAMENTO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[CD_BANCO] [char](3) NULL,
	[CD_ITEM] [char](3) NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[CD_TIPO_LANC] [char](1) NULL,
	[CD_FORMA_PAGTO] [char](1) NULL,
	[CD_ORIGEM_LANC] [char](1) NULL,
	[CD_STATUS_LANC] [char](1) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[VL_ITEM] [float] NULL CONSTRAINT [DF_TFATURAMEN_VL_ITEM_8__75]  DEFAULT (0),
	[VL_IR] [float] NULL CONSTRAINT [DF_TFATURAMEN_VL_IR_7__75]  DEFAULT (0),
	[VL_ASSIST] [float] NULL CONSTRAINT [DF_TFATURAMEN_VL_ASSIST_6__75]  DEFAULT (0),
	[NM_ITEM_COMPLEMENTO] [varchar](20) NULL,
	[IN_FATURADO] [char](1) NULL CONSTRAINT [DF_TFATURAMEN_IN_FATURADO4__75]  DEFAULT ('0'),
	[CD_CANCELADOR] [char](4) NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF_TFATURAMEN_IN_CANCELAD2__75]  DEFAULT ('0'),
	[NR_SOLIC_FAT] [char](6) NULL,
	[IN_RESTITUI] [char](1) NULL CONSTRAINT [DF_TFATURAMEN_IN_RESTITUI5__75]  DEFAULT ('0'),
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[IN_CONTABIL] [char](1) NULL CONSTRAINT [DF_TFATURAMEN_IN_CONTABIL3__75]  DEFAULT ('0'),
	[CD_ITEM_NAO_FAT] [char](3) NULL,
	[IN_DEMONSTRADO] [char](1) NULL CONSTRAINT [DF_TFATURAMENTO_CC_IN_DEMONSTRADO]  DEFAULT ('0'),
	[INDICE] [char](1) NULL CONSTRAINT [DF__TFATURAME__INDIC__1A2D1F8A]  DEFAULT ('1'),
	[IN_SEL_FAT] [char](1) NULL CONSTRAINT [DF__TFATURAME__IN_SE__34AC0B9C]  DEFAULT ('1'),
	[NR_SOLIC_DEM] [char](6) NULL,
	[NR_FP] [char](10) NULL,
	[NR_LANCAMENTO_CAIXA] [char](6) NULL,
	[IN_FILTRO] [char](1) NULL,
	[VL_TARIFA] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_MOEDA] [float] NULL,
 CONSTRAINT [PK_TFATURAMENTO_CC] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TFATURAMENTO_CC_5_238324309__K1_K3_K21_K24_K25_K22_K30_K7_2_14_16_17_18_23] ON [TFATURAMENTO_CC]
(
	[NR_PROCESSO] ASC,
	[DT_LANCAMENTO] ASC,
	[IN_CANCELADO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLIC_FAT] ASC,
	[IN_SEL_FAT] ASC,
	[CD_ITEM] ASC
)
INCLUDE ( 	[NR_LANCAMENTO],
	[VL_ITEM],
	[VL_ASSIST],
	[NM_ITEM_COMPLEMENTO],
	[IN_FATURADO],
	[IN_RESTITUI]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TFATURAMENTO_CC_7_238324309__K18_K21_K7_K1_2_14_15_16_22_23_24_25_27] ON [TFATURAMENTO_CC]
(
	[IN_FATURADO] ASC,
	[IN_CANCELADO] ASC,
	[CD_ITEM] ASC,
	[NR_PROCESSO] ASC
)
INCLUDE ( 	[NR_LANCAMENTO],
	[VL_ITEM],
	[VL_IR],
	[VL_ASSIST],
	[NR_SOLIC_FAT],
	[IN_RESTITUI],
	[CD_UNID_NEG],
	[CD_PRODUTO],
	[CD_ITEM_NAO_FAT]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TFATURAMENTO_CC_7_238324309__K22_K24_K25_K7_K21_K18_K1_K2_14_15_16_23_27] ON [TFATURAMENTO_CC]
(
	[NR_SOLIC_FAT] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_ITEM] ASC,
	[IN_CANCELADO] ASC,
	[IN_FATURADO] ASC,
	[NR_PROCESSO] ASC,
	[NR_LANCAMENTO] ASC
)
INCLUDE ( 	[VL_ITEM],
	[VL_IR],
	[VL_ASSIST],
	[IN_RESTITUI],
	[CD_ITEM_NAO_FAT]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_ITEM] ON [TFATURAMENTO_CC]
(
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_PRODUTO] ON [TFATURAMENTO_CC]
(
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_UNID_NEG] ON [TFATURAMENTO_CC]
(
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 80) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IDX_DT_LANC] ON [TFATURAMENTO_CC]
(
	[DT_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_NR_SOLIC_FAT] ON [TFATURAMENTO_CC]
(
	[NR_SOLIC_FAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_FATCC_PROC] ON [TFATURAMENTO_CC]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_FATCC_PROC_ITEM] ON [TFATURAMENTO_CC]
(
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TFAT_CC_FATURA] ON [TFATURAMENTO_CC]
(
	[NR_SOLIC_FAT] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
