USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_DDE_NF](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_NF_INI] [char](10) NOT NULL,
	[NR_NF_FIM] [char](10) NOT NULL,
	[SERIE_NF] [char](3) NULL,
	[DT_NF] [datetime] NULL,
	[VL_NF] [float] NULL,
 CONSTRAINT [PK_TPROCESSO_EXP_DDE_NF] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_NF_INI] ASC,
	[NR_NF_FIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
