USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSERVICO_EVENTO_NOVO](
	[CD_SERVICO] [int] NOT NULL DEFAULT ((0)),
	[CD_EVENTO] [char](3) NOT NULL DEFAULT ((0)),
	[NR_ORDEM] [float] NOT NULL,
	[CD_EV_BASICO] [char](3) NULL,
	[PZ_DO_EV_BASICO] [float] NULL,
	[CD_EV_FUTURO] [char](3) NULL,
	[PZ_ATE_EV_FUTURO] [float] NULL,
	[CD_TIPO_EVENTO] [char](2) NULL,
	[IN_DASHBOARD] [bit] NULL DEFAULT ((0)),
	[IN_PRAZO_UTIL] [char](1) NULL,
	[IN_PRAZO_FERIADO] [char](1) NULL,
 CONSTRAINT [PK_TSERVICO_EVENTO_NOVO] PRIMARY KEY NONCLUSTERED 
(
	[CD_SERVICO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TSERVICO_EVENTO_NOVO]  WITH CHECK ADD  CONSTRAINT [TEVENTO_TSERVICO_EVENTO_NOVO] FOREIGN KEY([CD_EVENTO])
REFERENCES [TEVENTO] ([CD_EVENTO])
GO
ALTER TABLE [TSERVICO_EVENTO_NOVO] CHECK CONSTRAINT [TEVENTO_TSERVICO_EVENTO_NOVO]
GO
ALTER TABLE [TSERVICO_EVENTO_NOVO]  WITH CHECK ADD  CONSTRAINT [TSERVICO_NOVO_TSERVICO_EVENTO_NOVO] FOREIGN KEY([CD_SERVICO])
REFERENCES [TSERVICO_NOVO] ([CD_SERVICO])
GO
ALTER TABLE [TSERVICO_EVENTO_NOVO] CHECK CONSTRAINT [TSERVICO_NOVO_TSERVICO_EVENTO_NOVO]
GO
