USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_INDICADO](
	[CD_CLIENTE_INDICADO] [char](3) NOT NULL,
	[NM_CLIENTE_INDICADO] [varchar](30) NULL,
	[NM_EMAIL] [varchar](30) NULL,
	[CD_DEPTO] [char](3) NULL,
	[CD_CARGO] [char](3) NULL,
 CONSTRAINT [PK_TCLIENTE_INDICADO] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE_INDICADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
