USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EV_NAO_REAL](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_EMPRESA] [char](5) NOT NULL,
	[NM_EMPRESA] [varchar](50) NOT NULL,
	[NR_PROCESSO] [char](14) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[NM_EVENTO] [char](50) NULL,
	[DT_PREVISTA] [datetime] NULL,
	[DT_LIMITE] [datetime] NULL,
	[NM_RESPONSAVEL] [varchar](50) NULL,
 CONSTRAINT [PK_TREL_EV_NAO_REAL] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TREL_EV_NAO_REAL] ON [TREL_EV_NAO_REAL]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
