USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_ACORDO_TARIF](
	[CD_TIPO_ACORDO_TAR] [char](1) NOT NULL,
	[DESCRICAO] [varchar](20) NULL,
 CONSTRAINT [PK_TTP_ACORDO_TARIF] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_ACORDO_TAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
