USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRELATORIOS_MAIL_AUT](
	[CD_RELATORIO] [char](5) NOT NULL,
	[NM_RELATORIO] [char](100) NULL,
	[TX_RELATORIO] [varchar](500) NULL,
	[TX_MODELO] [varchar](200) NULL,
	[CD_TIPO_RELATORIO] [char](3) NULL,
	[TX_CONFIGURACAO] [text] NULL,
	[IN_ATIVO] [char](1) NULL,
	[IN_FIMDESEMANA] [char](1) NULL,
	[TP_IDIOMA] [char](1) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[VARIAVEL_CARTAS_CONFIG] [varchar](200) NULL,
	[IN_SABADO] [bit] NULL,
	[IN_DOMINGO] [bit] NULL,
 CONSTRAINT [PK_TRELATORIOS_MAIL_AUT] PRIMARY KEY CLUSTERED 
(
	[CD_RELATORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
