USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_SERVICO](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
	[NR_DPS] [char](8) NULL,
	[DT_CAPTACAO] [datetime] NULL,
	[PZ_PROPOSTA] [int] NULL,
	[IN_INCIDE_SDA] [char](1) NOT NULL,
	[DT_AUTORIZACAO] [datetime] NULL,
	[CD_PREFIXO] [char](2) NULL,
	[CD_BANCO_DEB_CC] [char](3) NULL,
	[CD_BANCO_COM] [char](3) NULL,
	[CD_BANCO_DEB_COM] [char](3) NULL,
	[IN_CPMF_NUM] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_CP__7A6B26C5]  DEFAULT ('0'),
	[CD_TAB_SDA] [char](3) NULL,
	[IN_REL_VOL_MOD2] [char](1) NULL DEFAULT ('0'),
	[IN_LANCA_SOLIC] [char](1) NULL,
	[IN_HORA_EVENTOS] [bit] NULL,
 CONSTRAINT [PK_TCLIENTE_SERVICO] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
