USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_LOCAL_ETIQ](
	[TP_LOCAL_ETIQ] [char](1) NOT NULL,
	[NM_LOCAL_ETIQ] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TTP_LOCAL_ETIQ] PRIMARY KEY CLUSTERED 
(
	[TP_LOCAL_ETIQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
