USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_PROJECAO](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_CALCULO] [char](3) NULL,
 CONSTRAINT [PK_TCLIENTE_PROJECAO] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
