USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFORMA_RATEIO](
	[CD_FORMA_RATEIO] [char](1) NOT NULL,
	[NM_FORMA_RATEIO] [char](20) NOT NULL,
 CONSTRAINT [PK_TFORMA_RATEIO] PRIMARY KEY CLUSTERED 
(
	[CD_FORMA_RATEIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
