USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCOMPONENTES](
	[NM_COMPONENTE] [char](50) NOT NULL,
	[NM_FORM] [char](50) NOT NULL,
	[CD_SISTEMA] [int] NOT NULL,
	[IN_ATIVO] [char](1) NULL,
	[NM_EXIBICAO] [varchar](100) NULL,
	[CD_TIPO_COMPONENTE] [int] NOT NULL,
 CONSTRAINT [PK_TCOMPONENTE] PRIMARY KEY CLUSTERED 
(
	[NM_COMPONENTE] ASC,
	[NM_FORM] ASC,
	[CD_SISTEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [FK_TFORMS_TCOMPONENTE] ON [TCOMPONENTES]
(
	[CD_SISTEMA] ASC,
	[NM_FORM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Ref1014] ON [TCOMPONENTES]
(
	[CD_TIPO_COMPONENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [TCOMPONENTES]  WITH CHECK ADD  CONSTRAINT [FK_TFORMS_TCOMPONENTE] FOREIGN KEY([NM_FORM], [CD_SISTEMA])
REFERENCES [TFORMS] ([NM_FORM], [CD_SISTEMA])
GO
ALTER TABLE [TCOMPONENTES] CHECK CONSTRAINT [FK_TFORMS_TCOMPONENTE]
GO
ALTER TABLE [TCOMPONENTES]  WITH CHECK ADD  CONSTRAINT [RefTTP_COMPONENTE14] FOREIGN KEY([CD_TIPO_COMPONENTE])
REFERENCES [TTP_COMPONENTE] ([CD_TIPO_COMPONENTE])
GO
ALTER TABLE [TCOMPONENTES] CHECK CONSTRAINT [RefTTP_COMPONENTE14]
GO
