USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [THOUSE](
	[CD_MASTER] [char](15) NOT NULL,
	[NR_MASTER] [char](14) NULL,
	[CD_HOUSE] [char](20) NOT NULL,
	[NR_HOUSE] [char](15) NULL,
	[NR_PROCESSO] [char](14) NOT NULL,
	[IN_ESTORNO] [char](1) NULL DEFAULT ('0')
) ON [PRIMARY]

GO
