USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUNID_MEDIDA_BROKER](
	[CD_UNID_MEDIDA] [char](3) NOT NULL,
	[NM_UNID_MEDIDA] [char](50) NOT NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TUNID_MEDI_IN_ATIVO_1__37]  DEFAULT ('1'),
	[CD_GIPLITE] [char](2) NULL,
	[NM_SIGLA] [char](3) NULL,
	[CD_SCX_EXP] [char](2) NULL,
	[NM_UNID_MEDIDA_ING] [varchar](50) NULL,
	[NM_UNID_MEDIDA_ESP] [varchar](50) NULL,
	[NM_SIGLA_ING] [char](3) NULL,
	[NM_SIGLA_ESP] [char](3) NULL,
 CONSTRAINT [PK_TUNID_MEDIDA_1__89] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_MEDIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
