USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMASTER_DESPESAS](
	[CD_MASTER] [char](15) NOT NULL,
	[CD_REGISTRO] [char](4) NOT NULL,
	[CD_ITEM] [char](3) NULL,
	[TP_BASE_CALCULO] [char](2) NULL,
	[CD_MOEDA] [char](3) NULL,
	[TP_ORIGEM_DESPESA] [char](1) NULL,
	[VL_BASE_DESPESA] [float] NULL,
	[VL_COMPRA_AG] [float] NULL,
	[IN_DESPESA] [char](1) NULL,
	[TP_FRETE] [char](1) NULL,
	[CD_FRETE] [char](1) NULL,
	[TP_RESP_PAGTO] [char](1) NULL,
	[VL_INTERVALO_INICIAL] [float] NULL,
	[VL_INTERVALO_FINAL] [float] NULL,
	[VL_CUSTO_EST] [float] NULL,
	[VL_BASE_VENDA] [float] NULL,
	[VL_VENDA] [float] NULL,
	[CD_MOEDA_VENDA] [char](3) NULL,
	[TP_DUE] [char](1) NULL,
	[VL_VENDA_EST] [float] NULL
) ON [PRIMARY]

GO
