USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TBOLETO_RETORNO](
	[NR_REMESSA] [char](6) NOT NULL,
	[NR_BOLETO] [char](10) NOT NULL,
	[OCORRENCIAS] [char](10) NULL,
	[NR_NOSSO] [char](20) NULL,
	[VL_TARIFA] [float] NULL,
	[MOTIVO_OCORRE] [char](10) NULL,
	[VL_ACRECIMOS] [float] NULL,
	[VL_DESCONTOS] [float] NULL,
	[VL_LIQUIDO] [float] NULL,
	[VL_PAGO] [float] NULL,
	[VL_DESPESAS] [float] NULL,
	[VL_CREDITOS] [float] NULL,
	[DT_OCORRENCIA] [datetime] NULL,
	[DT_CREDITO] [datetime] NULL,
	[CD_OCORRE] [char](4) NULL,
	[DT_OCORRE] [datetime] NULL,
	[VL_OCORRE] [float] NULL,
	[COMPL_OCORRE] [char](30) NULL,
	[COMENTARIOS] [char](30) NULL,
	[IN_LIQUIDA] [char](1) NULL,
 CONSTRAINT [PK_TBOLETO_RETORNO] PRIMARY KEY NONCLUSTERED 
(
	[NR_REMESSA] ASC,
	[NR_BOLETO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
