USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_CONTATO2](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NM_CONTATO] [varchar](50) NOT NULL,
	[TX_CARGO] [varchar](25) NULL,
	[TX_DEPARTAMENTO] [varchar](50) NULL,
	[NR_FONE] [varchar](15) NULL,
	[NR_FAX] [varchar](15) NULL,
	[IN_CONTAS] [bit] NOT NULL,
	[IN_FATURAMENTO] [bit] NOT NULL,
	[IN_NUMERARIO] [bit] NOT NULL,
	[IN_OPERACIONAL] [bit] NOT NULL,
	[CD_CONTATO] [char](3) NOT NULL,
	[CD_AREA] [char](2) NULL,
	[NM_EMAIL] [char](50) NULL,
	[TP_FOLLOWUP] [char](2) NULL,
	[IN_DOC] [bit] NULL,
	[IN_XLS] [bit] NULL,
	[IN_HTML] [bit] NULL,
	[IN_FAX] [bit] NULL,
	[IN_COM_EXTERIOR] [bit] NULL
) ON [PRIMARY]

GO
