USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_ACOMP_PROC](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO_INDAIA] [char](18) NULL,
	[NR_PROC_PO] [char](30) NULL,
	[NM_SIGLA_PO] [char](2) NULL,
	[NR_ITEM_PO] [char](4) NULL,
	[CD_CIAFILIAL] [char](20) NULL,
	[TP_MERC] [char](2) NULL,
	[CFI] [char](1) NULL,
	[AP_MERCADORIA] [char](25) NULL,
	[CD_NCM] [char](11) NULL,
	[QT_EMBARCADA] [float] NULL,
	[QT_RECEBIDA] [float] NULL,
	[CD_UNID_MED_COMERC] [char](3) NULL,
	[TP_EMBALAGEM] [varchar](50) NULL,
	[NR_CNTR] [int] NULL,
	[TP_VIA_TRANSP] [char](20) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[AP_FABRICANTE] [char](25) NULL,
	[NM_PAIS] [char](30) NULL,
	[AP_FORNECEDOR] [char](25) NULL,
	[NR_FATURA] [char](40) NULL,
	[VL_FOB_MNEG] [float] NULL,
	[CD_MOEDA_FOB_MNEG] [char](3) NULL,
	[VL_UNITARIO_FOB_MNEG] [float] NULL,
	[CD_MOEDA_UNITARIO_FOB_MNEG] [char](3) NULL,
	[VL_FRETE_MNEG] [float] NULL,
	[CD_MOEDA_FRETE_MNEG] [char](3) NULL,
	[VL_UNITARIO_FRETE_MNEG] [float] NULL,
	[CD_MOEDA_UNITARIO_FRETE_MNEG] [char](3) NULL,
	[VL_CFR_MNEG] [float] NULL,
	[CD_MOEDA_CFR_MNEG] [char](3) NULL,
	[VL_UNITARIO_CFR_MNEG] [float] NULL,
	[CD_MOEDA_UNITARIO_CFR_MNEG] [char](3) NULL,
	[VL_SEGURO_MNEG] [float] NULL,
	[CD_MOEDA_SEGURO_MNEG] [char](3) NULL,
	[VL_CIF_MNEG] [float] NULL,
	[VL_CIF] [float] NULL,
	[TP_DRAWBACK] [char](1) NULL,
	[AP_PORTO_AERO_ORIGEM] [char](25) NULL,
	[AP_PAIS_PROCEDENCIA] [char](25) NULL,
	[AP_PORTO_AERO_DESTINO] [char](25) NULL,
	[AP_NAVIO] [char](30) NULL,
	[AP_TRANSBORDO] [char](30) NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_CHEGADA] [datetime] NULL,
	[DT_DESEMBARACO] [datetime] NULL,
	[TX_OBSERVACOES] [text] NULL,
	[NM_DIAS] [int] NULL,
	[NM_CANAL] [char](10) NULL,
	[PR_PAGAMENTO] [char](15) NULL,
	[NR_DI] [char](12) NULL,
	[VL_ADIANTAMENTO_1] [float] NULL,
	[DT_ADIANTAMENTO_1] [datetime] NULL,
	[VL_ADIANTAMENTO_2] [float] NULL,
	[DT_ADIANTAMENTO_2] [datetime] NULL,
	[VL_ACERTO] [float] NULL,
	[DT_ACERTO] [datetime] NULL,
	[TP_ACERTO] [char](15) NULL,
	[VL_SALDO_ACERTO] [float] NULL,
	[TP_STATUS_ACERTO] [datetime] NULL,
	[VL_HONORARIO] [decimal](15, 2) NULL,
	[NR_NOTA_HONORARIO] [char](10) NULL,
	[DT_PAGAMENTO] [datetime] NULL,
	[VL_SDA] [decimal](15, 2) NULL,
	[VL_DESPACHANTES] [float] NULL,
	[NM_DETALHAMENTO] [char](25) NULL,
	[VL_CPMF] [decimal](15, 2) NULL,
	[VL_TAXA_DI] [float] NULL,
	[VL_ICMS] [decimal](15, 2) NULL,
	[VL_ICMS_MNEG] [float] NULL,
	[NM_BANCO] [char](25) NULL,
	[DT_PAGTO_BCO] [datetime] NULL,
	[PC_IPI] [float] NULL,
	[VL_IPI] [decimal](15, 2) NULL,
	[VL_IPI_MNEG] [float] NULL,
	[PC_II] [float] NULL,
	[VL_II] [decimal](15, 2) NULL,
	[VL_II_MNEG] [float] NULL,
	[VL_AFRMM] [decimal](15, 2) NULL,
	[VL_TX_SICOMEX] [decimal](15, 2) NULL,
	[VL_TX_REG_LI] [float] NULL,
	[VL_FUNDAF] [decimal](15, 2) NULL,
	[VL_MULTAS] [float] NULL,
	[NM_MOTIVO] [char](30) NULL,
	[VL_TAXI_ENG] [float] NULL,
	[NM_LANCHA] [char](30) NULL,
	[VL_LANCHA] [float] NULL,
	[NM_LAUDO_TEC] [char](30) NULL,
	[VL_LAUDO_TEC] [float] NULL,
	[NM_MINISTERIO] [char](30) NULL,
	[VL_LAUDO_MINISTERIO] [float] NULL,
	[VL_RECEITA_FED] [float] NULL,
	[VL_TUP_SOP] [float] NULL,
	[VL_CAPATAZIA] [float] NULL,
	[VL_MOVIMENTACAO] [float] NULL,
	[VL_ATRACACAO] [float] NULL,
	[VL_DRAGAGEM] [float] NULL,
	[VL_DESCONSOLIDACAO] [float] NULL,
	[VL_DESP_AERO] [float] NULL,
	[VL_DESP_AERO_MNEG] [float] NULL,
	[VL_ARMAZENAGEM] [decimal](15, 2) NULL,
	[NM_TERMINAL] [char](25) NULL,
	[NM_AGENCIA] [char](25) NULL,
	[VL_FRETE] [float] NULL,
	[DT_PAGTO_FR] [datetime] NULL,
	[VL_FRETE_TX_AGENCIA] [float] NULL,
	[VL_TX_LIB_BL] [decimal](15, 2) NULL,
	[VL_TX_LIB_BL_MNEG] [float] NULL,
	[NM_FUMIGACAO] [char](25) NULL,
	[VL_FUMIGACAO] [decimal](15, 2) NULL,
	[VL_DEMURRAGE] [decimal](15, 2) NULL,
	[VL_DEMURRAGE_MNEG] [float] NULL,
	[DT_PAGTO_DEM] [datetime] NULL,
	[PC_PIS] [float] NULL,
	[VL_PIS] [decimal](15, 2) NULL,
	[VL_PIS_MNEG] [float] NULL,
	[PC_COFINS] [float] NULL,
	[VL_COFINS] [decimal](15, 2) NULL,
	[VL_COFINS_MNEG] [float] NULL,
	[SIGLA_MOEDA_FOB_TOTAL] [char](3) NULL,
	[SIGLA_MOEDA_FOB_UNIT] [char](3) NULL,
	[SIGLA_MOEDA_FRETE_TOTAL] [char](3) NULL,
	[SIGLA_MOEDA_FRETE_UNIT] [char](3) NULL,
	[SIGLA_MOEDA_CFR_TOTAL] [char](3) NULL,
	[DT_EMISSAO_INT_1] [datetime] NULL,
	[VL_RECEBIDO_INT_1] [decimal](15, 2) NULL,
	[DT_EMISSAO_INT_2] [datetime] NULL,
	[VL_RECEBIDO_INT_2] [decimal](15, 2) NULL,
	[DT_DI] [char](8) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
