USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNF_SERV_OP_NUM](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[DT_NUM] [datetime] NOT NULL,
	[VL_NUM] [float] NULL CONSTRAINT [DF_TNF_SERV_NUM_VL_NUM]  DEFAULT (0),
	[NR_FP] [char](10) NOT NULL,
 CONSTRAINT [PK_TNF_SERV_OP_NUM] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC,
	[DT_NUM] ASC,
	[NR_FP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
