USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDEM_FAT_CNTR](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[NR_FATURA] [varchar](20) NOT NULL,
	[NR_CNTR] [char](20) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PERIODO] [char](3) NOT NULL,
	[NR_DIAS_CORRIDOS] [tinyint] NULL,
	[NR_DIAS_COBRADOS] [int] NULL,
	[VL_DIARIA] [float] NULL CONSTRAINT [DF_TDEM_FAT_CNTR_VL_DIARIA]  DEFAULT (0),
	[VL_FATURA_MNEG] [float] NULL CONSTRAINT [DF_TDEM_FAT_CNTR_VL_FATURA_MNEG]  DEFAULT (0),
	[CD_MOEDA_FATURA] [char](3) NULL,
	[TX_FATURA] [float] NULL CONSTRAINT [DF_TDEM_FAT_CNTR_TX_FATURA]  DEFAULT (0),
	[VL_FATURA_MN] [float] NULL CONSTRAINT [DF_TDEM_FAT_CNTR_VL_FATURA_MN]  DEFAULT (0),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TDEM_FAT_CNTR_VL_DESCONTO]  DEFAULT (0),
	[VL_DEPOSITO] [float] NULL CONSTRAINT [DF_TDEM_FAT_CNTR_VL_DEPOSITO]  DEFAULT (0),
	[VL_TOTAL] [float] NULL CONSTRAINT [DF_TDEM_FAT_CNTR_VL_TOTAL]  DEFAULT (0),
	[IN_PARCIAL] [char](1) NULL CONSTRAINT [DF_TDEM_FAT_CNTR_IN_PARCIAL]  DEFAULT ('0'),
	[DT_INICIO] [datetime] NULL,
	[DT_FIM] [datetime] NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[DT_PAGAMENTO] [datetime] NULL,
	[NR_SOLIC_PAGTO] [char](3) NULL,
	[IN_RECIBO] [char](1) NULL CONSTRAINT [DF_TDEM_FAT_CNTR_IN_RECIBO]  DEFAULT ('0'),
	[IN_FATURADO] [char](1) NULL CONSTRAINT [DF_TDEM_FAT_CNTR_IN_FATURADO]  DEFAULT ('0'),
	[DT_FATURA] [datetime] NULL,
	[VL_DESCONTO_MNEG] [float] NULL CONSTRAINT [DF__TDEM_FAT_CNTR_VL_DE__558F7328]  DEFAULT (0),
	[VL_ACRESCIMO_MNEG] [float] NULL CONSTRAINT [DF__TDEM_FAT_CNTR_VL_AC__56839761]  DEFAULT (0),
	[VL_ACRESCIMO] [float] NULL CONSTRAINT [DF__TDEM_FAT_CNTR_VL_AC__5777BB9A]  DEFAULT (0),
	[DT_INICIO_DEMURRAGE] [datetime] NULL,
	[DT_FIM_DEMURRAGE] [datetime] NULL,
 CONSTRAINT [PK_TDEM_FAT_CNTR] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[NR_FATURA] ASC,
	[NR_CNTR] ASC,
	[NR_PROCESSO] ASC,
	[NR_PERIODO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
