USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCOMPUTADORES](
	[CD_COMPUTADOR] [int] IDENTITY(1,1) NOT NULL,
	[NM_COMPUTADOR] [char](30) NULL,
	[IP_COMPUTADOR] [char](15) NULL
) ON [PRIMARY]

GO
