USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAB_ESPECIF_VALORACAO_NVE](
	[CD_NOMENC_NCM] [char](8) NOT NULL,
	[CD_ATRIBUTO_NCM] [char](2) NOT NULL,
	[CD_ESPECIF_NCM] [char](4) NOT NULL,
	[CD_NIVEL_NCM] [char](3) NULL,
	[NM_ESPECIF_NCM] [char](249) NULL,
 CONSTRAINT [PK_TAB_ESPECIF_VALORACAO_NVE] PRIMARY KEY NONCLUSTERED 
(
	[CD_NOMENC_NCM] ASC,
	[CD_ATRIBUTO_NCM] ASC,
	[CD_ESPECIF_NCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
