USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTRANSIT_TIME_EXP](
	[CD_LOCAL_EMBARQUE] [char](4) NOT NULL,
	[CD_LOCAL_DESEMBARQUE] [char](4) NOT NULL,
	[CD_LOCAL_TRANSBORDO] [char](4) NOT NULL,
	[CD_AGENTE] [char](4) NOT NULL,
	[CD_VIA_TRANSPORTE] [char](2) NOT NULL,
	[VL_TRANSIT_TIME] [int] NOT NULL,
	[CD_USUARIO] [char](4) NULL,
	[NR_PROCESSO_CRIACAO] [char](18) NULL,
 CONSTRAINT [PK_TTRANSIT_TIME_EXP] PRIMARY KEY CLUSTERED 
(
	[CD_LOCAL_EMBARQUE] ASC,
	[CD_LOCAL_DESEMBARQUE] ASC,
	[CD_LOCAL_TRANSBORDO] ASC,
	[CD_AGENTE] ASC,
	[CD_VIA_TRANSPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
