USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TS_FATURA](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[DT_SOLICITACAO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[TP_TIPO_FAT] [char](1) NULL,
	[NR_NOTA_FATURA] [char](6) NULL,
	[DT_FATURA] [datetime] NULL,
	[TX_OBSERVACOES] [text] NULL,
	[IN_CALCULADO] [char](1) NULL CONSTRAINT [DF_TS_FATURA_IN_CALCULADO1__10]  DEFAULT ('0'),
	[DT_CALCULO] [datetime] NULL,
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF_TS_FATURA_IN_CANCELADO2__10]  DEFAULT ('0'),
	[DT_CANCELAMENTO] [datetime] NULL,
	[CD_CANCELADOR] [char](4) NULL,
	[IN_IMPRESSO] [char](1) NULL CONSTRAINT [DF_TS_FATURA_IN_IMPRESSO_3__10]  DEFAULT ('0'),
	[DT_IMPRESSAO] [datetime] NULL,
	[IN_RECIBO] [char](1) NULL CONSTRAINT [DF_TS_FATURA_IN_RECIBO_5__10]  DEFAULT ('0'),
	[DT_RECIBO] [datetime] NULL,
	[IN_LIQUIDADO] [char](1) NULL CONSTRAINT [DF_TS_FATURA_IN_LIQUIDADO4__10]  DEFAULT ('0'),
	[DT_LIQUIDACAO] [datetime] NULL,
	[VL_FATURA] [float] NULL CONSTRAINT [DF_TS_FATURA_VL_FATURA_1__40]  DEFAULT (0),
	[VL_LIQUIDACAO] [float] NULL CONSTRAINT [DF_TS_FATURA_VL_LIQUIDACA2__40]  DEFAULT (0),
	[IN_RECIBO_NVOCC] [char](1) NULL CONSTRAINT [DF_TS_FATURA_IN_RECIBO_N1__112]  DEFAULT ('0'),
	[DT_VENCTO_FATURA] [datetime] NULL,
	[NR_RELATORIO] [char](3) NULL,
	[NR_ANO] [char](4) NULL,
	[NR_NF_SERV] [char](6) NULL,
	[IN_IMP_NF_SERV] [char](1) NULL CONSTRAINT [DF__TS_FATURA__IN_IM__32C3C32A]  DEFAULT ('0'),
	[DT_NF_SERV] [datetime] NULL,
	[CD_USUARIO_IMP] [char](4) NULL,
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF__TS_FATURA__IN_SE__37887847]  DEFAULT ('0'),
	[NR_BOLETO] [char](10) NULL,
	[DT_PAGTO_ITEM] [datetime] NULL,
	[CD_BANCO] [char](3) NULL,
	[IN_REFATURADO] [char](1) NULL CONSTRAINT [DF__TS_FATURA__IN_RE__660F285D]  DEFAULT ('0'),
	[CD_UNID_NEG_FAT] [char](2) NULL,
	[IN_LIQ_AUT] [char](1) NULL CONSTRAINT [DF__TS_FATURA__IN_LI__541B60AB]  DEFAULT ('0'),
	[TX_OBS] [text] NULL,
	[IN_PREVIEW] [char](1) NULL,
	[CD_USUARIO_SELECIONADO] [char](4) NULL,
 CONSTRAINT [PK_TS_FATURA] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_POR_FATURA] ON [TS_FATURA]
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_NOTA_FATURA] ASC,
	[DT_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_POR_SOLIC] ON [TS_FATURA]
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[DT_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
