USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_NAO_DESEMB_DI](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NM_EMPRESA] [char](50) NOT NULL,
	[DT_REG_DI] [datetime] NOT NULL,
	[NR_DI] [char](10) NOT NULL,
	[NM_ARMAZEM] [char](50) NULL,
	[NM_URGENTE] [char](3) NOT NULL,
	[NM_CANAL] [char](10) NULL,
	[DT_ENT_REC_FED] [datetime] NULL,
	[NM_ANALISTA_COMISSARIA] [varchar](50) NULL,
	[NM_CELULA] [varchar](30) NULL,
 CONSTRAINT [PK_TREL_NAO_DESEMB_DI] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
