USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRELATORIOS_MAIL_AUT_ENVIO](
	[CD_RELATORIO] [char](5) NOT NULL,
	[HR_RELATORIO] [char](5) NOT NULL,
	[DT_GERACAO] [datetime] NOT NULL,
	[NM_REMETENTE] [varchar](255) NULL,
	[NM_PARA] [varchar](4000) NULL,
	[NM_COPIA] [varchar](4000) NULL,
	[NM_COPIA_OCULTA] [varchar](4000) NULL,
	[NM_ARQUIVOS] [varchar](1000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TRELATORIOS_MAIL_AUT_ENVIO_01] ON [TRELATORIOS_MAIL_AUT_ENVIO]
(
	[CD_RELATORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TRELATORIOS_MAIL_AUT_ENVIO_02] ON [TRELATORIOS_MAIL_AUT_ENVIO]
(
	[CD_RELATORIO] ASC,
	[HR_RELATORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
