USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVENDEDOR](
	[CD_VENDEDOR] [char](4) NOT NULL,
	[NM_VENDEDOR] [varchar](50) NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DS_ENDERECO] [varchar](80) NULL,
	[CD_CIDADE] [char](4) NOT NULL,
	[NM_UF] [char](2) NULL,
	[CD_PAIS] [char](3) NOT NULL,
	[DS_EMAIL] [varchar](40) NULL,
	[DS_HOMEPAGE] [varchar](80) NULL,
	[DS_TIPO_CALCULO] [varchar](20) NULL,
	[DS_VALOR] [char](20) NULL,
	[NR_FAX] [char](20) NULL,
	[NR_COMPLEM] [char](10) NULL,
	[NM_BAIRRO] [varchar](30) NULL,
	[NR_CEP] [char](10) NULL,
	[TP_CALC_COMIS_IMP_AEREA] [char](2) NULL,
	[TP_CALC_COMIS_IMP_MARITIMA] [char](2) NULL,
	[TP_CALC_COMIS_EXP_AEREA] [char](2) NULL,
	[TP_CALC_DESEMBARACO] [char](2) NULL,
	[TP_CALC_COMIS_EXP_MARITIMA] [char](2) NULL,
	[VL_CALC_IMP_AEREA] [float] NULL,
	[VL_CALC_IMP_MARITIMA] [float] NULL,
	[VL_CALC_EXP_AEREA] [float] NULL,
	[VL_CALC_EXP_MARITIMA] [float] NULL,
	[VL_CALC_DESEMBARACO] [float] NULL
) ON [PRIMARY]

GO
