USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFLP_PO_ITEM_ETAPA](
	[NR_PROCESSO] [char](30) NOT NULL,
	[NR_ITEM] [char](18) NOT NULL,
	[CD_FLP_PO_ITEM_ETAPA] [int] NOT NULL,
	[CD_ETAPA] [int] NULL,
	[CD_USUARIO] [char](4) NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[CD_EMPRESA] [char](5) NOT NULL,
 CONSTRAINT [PK_TFLP_PO_ITEM_ETAPA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ITEM] ASC,
	[CD_FLP_PO_ITEM_ETAPA] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
