USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAUX_EXP_NORMAS](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQ_NORMAS_NAL] [char](100) NULL,
	[NR_SEQ_NORMAS_NCM] [char](100) NULL,
	[NM_DESC_NAL] [varchar](200) NULL CONSTRAINT [DF_TAUX_EXP_NORMAS_NM_DESC_NAL]  DEFAULT (''),
	[NM_DESC_NCM] [varchar](200) NULL CONSTRAINT [DF_TAUX_EXP_NORMAS_NM_DESC_NALADI]  DEFAULT (''),
	[CD_ACORDO] [char](10) NULL CONSTRAINT [DF_TAUX_EXP_NORMAS_CD_ACORDO]  DEFAULT (''),
	[NR_PAGINA] [int] NULL
) ON [PRIMARY]

GO
