USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_STATUS_PROPOSTA](
	[CD_STATUS_PROPOSTA] [char](10) NOT NULL,
	[NM_STATUS_PROPOSTA] [char](20) NULL,
 CONSTRAINT [PK_TTP_STATUS_PROPOSTA] PRIMARY KEY CLUSTERED 
(
	[CD_STATUS_PROPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
