USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABILIZACAO_LANC_SI](
	[NR_CONTAB] [varchar](4) NOT NULL,
	[NR_LANCAMENTO] [varchar](5) NOT NULL,
	[DT_LANCAMENTO] [datetime] NOT NULL,
	[NR_DOCTO] [varchar](6) NULL,
	[CD_CT_DEVEDORA] [char](12) NULL,
	[CD_CT_CREDORA] [char](12) NULL,
	[VL_LANCAMENTO] [float] NULL,
	[CD_HISTORICO] [varchar](3) NULL,
	[NM_HISTORICO] [varchar](190) NULL,
	[CD_FILIAL] [varchar](3) NULL,
	[CD_CUSTO] [varchar](4) NULL,
	[NM_FORNECEDOR] [varchar](35) NULL,
	[CD_SIMBOLOGIA] [varchar](3) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_NR_CONTAB_LANC] ON [TCONTABILIZACAO_LANC_SI]
(
	[NR_CONTAB] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
