USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_IMO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQ_IMO] [int] NOT NULL,
	[NR_TIPO_IMO] [int] NOT NULL,
	[TX_CNTR_TYPE] [varchar](200) NULL,
	[TX_OUTER_PACK] [varchar](200) NULL,
	[TX_INNER_PACK] [varchar](200) NULL,
	[NM_PROPER_SHIPPING] [varchar](500) NULL,
	[NM_CHEMICAL] [varchar](500) NULL,
	[VL_FLASH_POINT] [varchar](15) NULL,
	[FL_MARINE_POLLUTANT] [char](1) NULL,
	[FL_PACKING_GROUP] [char](3) NULL,
	[NR_EMS_MFAG] [int] NULL,
	[TX_PHONE] [varchar](15) NULL,
	[NM_RESPONSIBLE_PERSON] [varchar](50) NULL,
	[FL_STATE_AGGREGATE] [char](1) NULL,
	[DT_LAST_INSPECION] [datetime] NULL,
	[DT_NEXT_INSPECION] [datetime] NULL,
	[VL_GROSS_WEIGHT] [float] NULL,
	[VL_NET_WEIGHT] [float] NULL,
	[FL_POISON_HAZARD] [char](1) NULL,
	[VL_LIMITED_QUANTITIES] [float] NULL,
	[VL_CONTROL_TEMP] [varchar](15) NULL,
	[VL_EMERGENCY_TEMP] [varchar](15) NULL,
	[VL_ELEVATED_TEMP] [varchar](15) NULL,
	[TX_DESCRIPTION_GOODS] [text] NULL,
	[NR_FREIGHT_FORWARDERS_REF] [varchar](30) NULL,
	[NM_COMPANY] [varchar](100) NULL,
	[TX_PLACE_DATE] [varchar](150) NULL,
	[CD_CONSIGNEE] [char](5) NULL,
	[TP_CONSIGNEE] [char](1) NULL,
	[NR_CNTR] [varchar](150) NULL,
	[TP_CNTR] [char](2) NULL,
	[NR_LACRE] [char](20) NULL,
	[VL_TARE] [float] NULL,
	[VL_CNTR] [float] NULL,
	[TX_COMBINATION_PACK] [varchar](50) NULL,
	[TX_SINGLE_PACK] [varchar](200) NULL,
	[TX_REMARKS] [varchar](500) NULL,
 CONSTRAINT [PK_TPROCESSO_IMO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQ_IMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
