USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNOTIFICADOR](
	[CD_NOTIFICADOR] [char](4) NOT NULL,
	[NM_NOTIFICADOR] [char](50) NULL,
	[END_NOTIFICADOR] [char](30) NULL,
	[END_NUMERO] [char](5) NULL,
	[CD_CIDADE] [char](4) NULL,
	[CD_PAIS] [char](3) NULL,
	[END_FONE] [char](10) NULL,
	[END_FAX] [char](10) NULL,
	[NM_CONTATO] [char](20) NULL,
	[END_EMAIL] [char](30) NULL,
	[END_COMPL] [char](20) NULL,
	[IN_ATIVO] [char](1) NULL,
	[CGC_NOTIFICADOR] [char](18) NULL
) ON [PRIMARY]

GO
