USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREPARA_RE_FABRIC](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ANEXO] [char](3) NOT NULL,
	[NR_SEQ] [char](3) NOT NULL,
	[CD_NCM] [char](11) NULL,
	[CGC_EMPRESA] [char](14) NULL,
	[QT_MERCADORIA] [float] NULL,
	[VL_ITEM] [float] NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[NR_ATO_CONCESSORIO] [varchar](13) NULL,
 CONSTRAINT [PK_TPREPARA_RE_FABRIC] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ANEXO] ASC,
	[NR_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
