USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_FAT_ITEM_COMPLEMENTAR](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
 CONSTRAINT [PK_TCLIENTE_FAT_ITEM_COMPLEMENTAR] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TCLIENTE_FAT_ITEM_COMPLEMENTAR] ADD  CONSTRAINT [DF_TCLIENTE_FAT_ITEM_COMPLEMENTAR_IN_ATIVO]  DEFAULT ('1') FOR [IN_ATIVO]
GO
