USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFAVORECIDO_CONTAS](
	[CD_FAVORECIDO] [char](5) NOT NULL,
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CD_CT_CONTABIL] [char](12) NOT NULL,
	[ALIQ_IRFF] [float] NULL,
	[ALIQ_INSS] [float] NULL,
	[ALIQ_ISS] [float] NULL,
	[ALIQ_PISCOFINS] [float] NULL,
	[CD_RATEIO] [char](4) NULL,
 CONSTRAINT [PK_TFAVORECIDO_CONTAS] PRIMARY KEY CLUSTERED 
(
	[CD_FAVORECIDO] ASC,
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_CD_CT_CONTABIL] ON [TFAVORECIDO_CONTAS]
(
	[CD_CT_CONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_CD_FAVORECIDO] ON [TFAVORECIDO_CONTAS]
(
	[CD_FAVORECIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
