USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EST_VOLUMES_MOD2](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_REFERENCIA] [char](30) NOT NULL,
	[NR_SEQUENCIA] [char](3) NOT NULL,
	[NM_VOLUME] [varchar](100) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[CD_AGENTE] [char](4) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_SERVICO] [char](3) NULL,
	[TP_FRETE] [char](1) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[VL_QTDE] [float] NULL,
	[VL_FRETE_MNEG] [float] NULL,
	[VL_FRETE_MN] [float] NULL,
	[VL_PESO_BRUTO] [float] NULL,
	[VL_AFRMM] [float] NULL,
	[VL_LIB_BL] [float] NULL,
	[VL_TX_DESC] [float] NULL,
	[VL_HANDLING] [float] NULL,
	[VL_CAPATAZIA] [float] NULL,
	[VL_THC_TERMINAL] [float] NULL,
	[VL_MOV_CARREGAMENTO] [float] NULL,
	[VL_ARMAZENAGEM] [float] NULL,
	[TX_MERCADORIA] [text] NULL,
	[VL_CIF_DOLAR] [float] NULL,
	[VL_CIF_MN] [float] NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[CD_TRANSPORTADOR] [char](4) NULL,
	[CD_ARMAZEM_DESCARGA] [char](4) NULL,
	[CD_ARMAZEM_ATRACACAO] [char](4) NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_ENVIO_NF_TRANSP] [datetime] NULL,
	[VL_MLE_MN] [float] NULL,
	[VL_MLE_MNEG] [float] NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[CD_AREA] [char](2) NULL,
	[VL_ALIQUOTA_II] [char](40) NULL,
	[VL_II_MN] [float] NULL,
	[VL_ALIQUOTA_IPI] [char](40) NULL,
	[VL_IPI_MN] [float] NULL,
	[CD_CANAL] [char](1) NULL,
	[DT_CHEGADA_NAVIO] [datetime] NULL,
	[DT_REGISTRO] [datetime] NULL,
	[DT_DESEMBARACO] [datetime] NULL,
	[DT_LIB_NF_TRANSP] [datetime] NULL,
	[CD_REGIME_TRIBUTAR] [char](1) NULL,
	[DT_PRES_CARGA] [datetime] NULL,
	[CD_PAIS_ORIG] [char](3) NULL,
 CONSTRAINT [PK_TREL_EST_VOLUMES_MOD2] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC,
	[CD_REFERENCIA] ASC,
	[NR_SEQUENCIA] ASC,
	[NM_VOLUME] ASC,
	[NR_ADICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
