USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DEM_GERENCIAL](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_CNTR] [char](20) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[TX_MERCADORIA] [text] NULL,
	[NR_FREE_TIME] [int] NULL,
	[DT_ENT] [datetime] NULL,
	[NR_DIAS_CORRIDOS] [int] NULL,
	[DT_DEVOLUCAO_CNTR] [datetime] NULL,
	[CD_TRANSP_MAR] [char](4) NULL,
	[VL_PAGTO] [float] NULL,
	[NM_MERCADORIA] [varchar](250) NULL,
 CONSTRAINT [PK_TREL_DEM_GERENCIAL] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[NR_CNTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
