USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEXP_CO_CAPA](
	[NR_FATURA] [char](10) NOT NULL,
	[EXPORTADOR_NOME] [varchar](200) NULL,
	[EXPORTADOR_ENDERECO_NUM] [varchar](200) NULL,
	[EXPORTADOR_END_CIDADE_UF_CEP] [varchar](200) NULL,
	[IMPORTADOR_NOME] [varchar](200) NULL,
	[IMPORTADOR_ENDERECO_NUM] [varchar](200) NULL,
	[IMPORTADOR_CIDADE_PAIS] [varchar](200) NULL,
	[CONSIGNATARIO_NOME] [varchar](200) NULL,
	[CONSIGNATARIO_NM_PAIS] [varchar](200) NULL,
	[PORTO_DESCRICAO] [varchar](200) NULL,
	[NM_VIA_TRANSPORTE] [varchar](200) NULL,
	[NM_PAIS_DESTINO] [varchar](200) NULL,
	[DT_FATURA] [datetime] NULL,
	[TX_NORMA_ORIGEM] [varchar](max) NULL,
	[TX_OBS] [varchar](max) NULL,
	[TX_OBS_1] [varchar](max) NULL,
	[TX_OBS_2] [varchar](max) NULL,
 CONSTRAINT [PK_TEXP_CO_CAPA] PRIMARY KEY CLUSTERED 
(
	[NR_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
