USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATO_CONC_SUSP_EXP_NF](
	[NR_FORECAST] [char](14) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_NF] [char](10) NOT NULL,
	[NR_SERIE] [char](3) NOT NULL,
	[DT_NF] [datetime] NULL,
 CONSTRAINT [PK_TATO_CONC_SUSP_EXP_NF] PRIMARY KEY CLUSTERED 
(
	[NR_FORECAST] ASC,
	[NR_PROCESSO] ASC,
	[NR_NF] ASC,
	[NR_SERIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
