USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFATORES](
	[CD_FATOR] [int] IDENTITY(1,1) NOT NULL,
	[NM_FATOR] [varchar](1000) NOT NULL,
	[DS_FATOR] [varchar](1000) NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[IN_OPCIONAL] [char](1) NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[NM_CAMPO_PROCESSO] [varchar](100) NULL,
	[NM_TABELA] [varchar](100) NULL,
	[NM_CAMPO_CHAVE_TABELA] [varchar](100) NULL,
	[NM_CAMPO_RETORNO_TABELA] [varchar](100) NULL,
	[CD_COMPARADOR] [char](2) NOT NULL,
	[NM_SQL] [varchar](4000) NULL,
	[NM_RETORNO] [varchar](1000) NULL,
 CONSTRAINT [PK_TFATORES] PRIMARY KEY NONCLUSTERED 
(
	[CD_FATOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TFATORES]  WITH CHECK ADD  CONSTRAINT [TCOMPARADORES_FATOR_TFATORES] FOREIGN KEY([CD_COMPARADOR])
REFERENCES [TCOMPARADORES_FATOR] ([CD_COMPARADOR])
GO
ALTER TABLE [TFATORES] CHECK CONSTRAINT [TCOMPARADORES_FATOR_TFATORES]
GO
