USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CONT_EMB](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PAGINA] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_EMBALAGEM] [char](4) NULL,
	[CD_CLIENTE] [char](5) NULL
) ON [PRIMARY]

GO
