USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  View dbo.VW_CARGO    Script Date: 02/09/1999 09:03:48 AM ******/
CREATE VIEW [VW_CARGO] AS
SELECT * FROM TCARGO (NOLOCK)


GO
