USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP_MERCADORIA_ENT](
	[e01recnum] [int] NULL,
	[e01codcliente] [varchar](15) NULL,
	[e01id] [varchar](100) NULL
) ON [PRIMARY]

GO
