USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PO_EMB](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[DT_EMBARQUE] [datetime] NOT NULL,
	[TP_REL] [char](1) NOT NULL,
	[QT_MERCADORIA] [float] NOT NULL,
 CONSTRAINT [PK_TREL_PO_EMB] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_MERCADORIA] ASC,
	[DT_EMBARQUE] ASC,
	[TP_REL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_PO_EMB] ADD  CONSTRAINT [DF_TREL_PO_EMB_QT_MERCADORIA]  DEFAULT ((0)) FOR [QT_MERCADORIA]
GO
