USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRUPO](
	[CD_GRUPO] [char](3) NOT NULL,
	[NM_GRUPO] [char](50) NOT NULL,
	[DT_INCLUSAO] [datetime] NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TGRUPO_IN_ATIVO_2__10]  DEFAULT ('1'),
	[CNPJ_GRUPO] [char](14) NULL,
	[IN_RATEIO] [char](1) NULL CONSTRAINT [DF_TGRUPO_IN_RATEIO]  DEFAULT ((0)),
	[CD_LAYOUT_BORDERO] [int] NULL,
	[IN_OBRIGAR_INVOICE] [char](1) NULL,
	[IN_MARINHA_MERCANTE_ICMS] [char](1) NULL,
	[IN_CONFERE_REFERENCIA] [char](1) NULL,
	[IN_EXIBE_PEDIDO_SITE] [char](1) NULL,
	[NR_REL_FAT_CONSOLIDADO] [char](5) NULL,
	[TP_PEDIDO_BUSCA] [char](2) NULL,
	[TP_DESC_BUSCA] [char](50) NULL,
	[IN_DECLARACAO_AUTOMATICA] [char](1) NULL,
	[IN_EMAIL_CRIACAO] [char](1) NULL,
	[EMAIL_CRIACAO] [varchar](200) NULL,
	[IN_EMAIL_AUTORIZACAO] [char](1) NULL,
	[EMAIL_AUTORIZACAO] [varchar](200) NULL,
	[IN_EMAIL_PRE_AUTORIZACAO] [char](1) NULL,
	[EMAIL_PRE_AUTORIZACAO] [varchar](200) NULL,
	[IN_INTEGRA_FORNECIMENTO] [char](1) NULL,
	[IN_INTEGRA_PACKING_LIST] [char](1) NULL,
	[IN_MODO_SIMPLES] [char](1) NULL,
	[IN_RAP_SEQUENCIAL] [char](1) NULL,
	[IN_ENVIA_ARQUIVOS] [char](1) NULL,
	[IN_MOSTRA_FATURADOS] [char](1) NULL,
	[IN_DIVIDE_EMBARCADOS] [char](1) NULL,
	[IN_MOSTRA_FOLLOWUP] [char](1) NULL,
	[IN_CONFERENCIA] [char](1) NULL,
	[IN_PENDENCIAS] [char](1) NULL,
	[PC_ALIQUOTAS_SEM_FUNDO_POBREZA] [varchar](1000) NULL,
	[IN_ALERTA_E01_NAO_GENERICO] [char](1) NULL,
	[IN_PREENCHE_EVENTO_387_COM_021] [char](1) NULL,
	[IN_RATEIA_PEDIDO] [char](1) NULL,
	[EMAIL_MYINTEGRA_TRANSP] [varchar](200) NULL,
	[IN_ENVIA_COMO_TI] [char](1) NULL,
	[NM_EMAIL_CONTATO_DAILY] [varchar](200) NULL,
	[IN_DESBLOQUEIA_DRAFT] [char](1) NULL,
	[IN_TRANSP_PROGRAMACAO] [char](1) NULL,
	[TP_PEDIDO_BUSCA_IMP] [char](2) NULL,
	[IN_EXW_AGENTE] [char](1) NULL CONSTRAINT [DF_TGRUPO_IN_EXW_AGENTE]  DEFAULT ((1)),
	[CD_BANCO_CC] [int] NULL,
	[IN_EMITE_BOLETO] [int] NULL CONSTRAINT [DF_TGRUPO_IN_EMITE_BOLETO]  DEFAULT ((1)),
	[TX_LUCRO_ESTIMADO] [float] NULL CONSTRAINT [DF_TGRUPO_TX_LUCRO_ESTIMADO]  DEFAULT ((0)),
	[CD_CC_CONTAS_RECEBER] [char](15) NULL,
	[CD_CC_CONTAS_RECEBER_REDUZIDA] [char](7) NULL,
	[CD_CC_DESPACHOS_ANDAMENTO] [char](15) NULL,
	[CD_CC_DESPACHOS_ANDAMENTO_REDUZIDA] [char](7) NULL,
	[CD_CC_DESPACHOS_FATURAR] [char](15) NULL,
	[CD_CC_DESPACHOS_FATURAR_REDUZIDA] [char](7) NULL,
	[DT_NOVO_FOLLOWUP_IMP] [datetime] NULL,
	[DT_NOVO_FOLLOWUP_EXP] [datetime] NULL,
	[CD_VIA_TRANSP_CC] [varchar](60) NULL,
	[IN_OUTRAS_DESPESAS_NF] [char](1) NULL DEFAULT ('0'),
	[NM_EMAIL_CONTATO_FOLLOWUP] [varchar](200) NULL,
	[IN_EXTRATO_AVERBADO_RESUMIDO] [bit] NULL DEFAULT ((1)),
	[IN_EXIGE_CFOP_EXP] [char](1) NULL,
	[IN_PLANILHA_CUSTOS] [char](1) NULL CONSTRAINT [DF_TGRUPO_IN_PLANILHA_CUSTOS]  DEFAULT ((0)),
	[IN_CICLO_FINANCEIRO] [int] NULL,
 CONSTRAINT [PK_TGRUPO] PRIMARY KEY CLUSTERED 
(
	[CD_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_NM_GRUPO] ON [TGRUPO]
(
	[NM_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
