USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINT_MESQUITA005](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NM_CNPJ] [char](18) NULL,
	[NM_NAVIO] [char](18) NULL,
	[NR_VIAGEM] [char](12) NULL,
	[NR_BL] [char](20) NOT NULL,
	[NM_PORTO] [char](20) NULL,
	[NM_ARMADOR] [char](18) NULL,
	[NR_CNPJ] [char](18) NULL,
	[CH_PRESENCA] [char](36) NULL,
	[DT_PRESENCA] [datetime] NULL
) ON [PRIMARY]

GO
