USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD](
	[NR_SD] [char](18) NOT NULL,
	[NR_REGISTRO_SD] [char](12) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[VL_TOTAL_PESO_LIQUIDO] [float] NULL,
	[VL_TOTAL_PESO_BRUTO] [float] NULL,
	[VL_TOTAL_COND_VENDA] [float] NULL,
	[QT_ESTAB_DESPACHO] [float] NULL,
	[CD_PROPRIETARIO] [char](4) NULL,
	[TX_REGIMES_ADUANEIROS] [varchar](100) NULL,
	[IN_INF_REPRESENTANTE_LEGAL] [char](1) NULL,
	[IN_INF_DESPACHO_POSTERIOR] [char](1) NULL CONSTRAINT [DF_TSD_IN_INF_DESPACHO_POSTERIOR]  DEFAULT ('0'),
	[IN_INF_DESP_CARGA_FRACIONADA] [char](1) NULL CONSTRAINT [DF_TSD_IN_INF_DESP_CARGA_FRACIONADA]  DEFAULT ('0'),
	[IN_OUTROS_DOCS_INF_RECEPCAO] [char](1) NULL,
	[IN_INF_PRESENCA_CARGA] [char](1) NULL,
	[IN_INF_DADOS_EMBARQUE] [char](1) NULL,
	[CD_URF_EMBARQUE] [char](7) NULL,
	[CD_URF_DESPACHO] [char](7) NULL,
	[CD_RECINTO] [char](10) NULL,
	[CD_SETOR] [char](5) NULL,
	[DT_VALIDADE_EMBARQUE] [datetime] NULL,
	[TX_NACIONALIDADE_EMBARCACAO] [char](30) NULL,
	[CD_RECINTO_ALFANDEG] [char](10) NULL,
	[TX_IDENT_VEIC_TRANSP] [char](25) NULL,
	[TX_NUMERO_ESTABELECIMENTO] [char](4) NULL,
	[DT_DATA_SD] [datetime] NULL,
	[TX_LOCAL_NAO_ALFANDEG] [char](11) NULL,
	[QT_TOTAL_VOLUMES] [float] NULL,
	[NR_SUFIXO_CGC] [char](6) NULL,
	[IN_SELECIONADO] [char](1) NULL,
	[TX_SITUCAO_DDE] [varchar](60) NULL,
	[CPF_USUARIO] [char](11) NULL,
	[IN_FILA] [char](1) NULL,
	[IN_REALIZA_TRANSITO] [bit] NULL,
	[TX_COMPLEMENTAR] [varchar](500) NULL,
	[IN_PROC_ADM] [bit] NULL,
	[NR_PROC_ADM] [varchar](20) NULL,
	[IN_NF_DISPENSADA] [bit] NULL,
	[TP_DETALHE_OPERACAO] [int] NULL,
	[TP_OPERACAO] [int] NULL,
	[CD_TP_SITUACOES_ESPECIAIS] [int] NULL,
	[NM_PERIODO_CONFERENCIA] [varchar](2000) NULL,
	[END_CONFERENCIA] [varchar](2000) NULL,
	[NM_JUSTIFICATIVA_CONFERENCIA] [varchar](2000) NULL,
	[TX_OBS_CONFERENCIA] [varchar](2000) NULL,
	[TX_BASE_LEGAL] [varchar](2000) NULL,
	[DT_CRIACAO_SD] [datetime] NULL,
	[IN_EXTRATO_BAIXADO] [bit] NULL,
	[IN_WEB] [bit] NULL,
	[IN_CE_BAIXADO] [bit] NULL,
	[TX_STATUS_CAPA] [varchar](2000) NULL,
	[TX_ERRO] [varchar](2000) NULL,
	[CD_STATUS] [int] NULL,
	[IN_URGENTE] [bit] NULL,
	[IN_EXTERNA] [bit] NULL,
	[IN_CONSULTA_STATUS] [bit] NULL,
 CONSTRAINT [PK_TSD] PRIMARY KEY CLUSTERED 
(
	[NR_SD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [idx_cpf_usuario] ON [TSD]
(
	[CPF_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
