USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNALADISH_EXP_BKP](
	[CODIGO] [char](8) NOT NULL,
	[NR_SEQ] [int] NOT NULL,
	[DESCRICAO] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
