USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_EMBALAGEM_INTTRA](
	[CD_EMBALAGEM] [int] NOT NULL,
	[NM_EMBALAGEM] [varchar](100) NULL,
	[CD_EDIFACT] [char](2) NULL,
	[CD_ANSI] [char](3) NULL
) ON [PRIMARY]

GO
