USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLICENCA_IDENT_TRANSMISSAO](
	[NR_PROCESSO] [char](20) NULL,
	[NR_IDENT_TRANSMISSAO] [int] NULL
) ON [PRIMARY]

GO
