USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDEVOLUCAO_ITENS](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_DEVOLUCAO] [char](3) NOT NULL,
	[NR_LANC_DEVOL] [char](3) NOT NULL,
	[NR_RECEBIMENTO] [char](3) NOT NULL,
	[NR_LANC_RECEB] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_DEVOLVIDO] [float] NOT NULL,
	[NR_SOLINUM] [char](3) NULL,
	[NR_LANC_SOLINUM] [char](3) NULL,
	[IN_CANCELADO] [char](1) NULL,
 CONSTRAINT [PK_TDEVOLUCAO_ITENS_1__71] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_DEVOLUCAO] ASC,
	[NR_LANC_DEVOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
