USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TS_FATURA_BKP](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[DT_SOLICITACAO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[TP_TIPO_FAT] [char](1) NULL,
	[NR_NOTA_FATURA] [char](6) NULL,
	[DT_FATURA] [datetime] NULL,
	[TX_OBSERVACOES] [text] NULL,
	[IN_CALCULADO] [char](1) NULL,
	[DT_CALCULO] [datetime] NULL,
	[IN_CANCELADO] [char](1) NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[CD_CANCELADOR] [char](4) NULL,
	[IN_IMPRESSO] [char](1) NULL,
	[DT_IMPRESSAO] [datetime] NULL,
	[IN_RECIBO] [char](1) NULL,
	[DT_RECIBO] [datetime] NULL,
	[IN_LIQUIDADO] [char](1) NULL,
	[DT_LIQUIDACAO] [datetime] NULL,
	[VL_FATURA] [float] NULL,
	[VL_LIQUIDACAO] [float] NULL,
	[IN_RECIBO_NVOCC] [char](1) NULL,
	[DT_VENCTO_FATURA] [datetime] NULL,
	[NR_RELATORIO] [char](3) NULL,
	[NR_ANO] [char](4) NULL,
	[NR_NF_SERV] [char](6) NULL,
	[IN_IMP_NF_SERV] [char](1) NULL,
	[DT_NF_SERV] [datetime] NULL,
	[CD_USUARIO_IMP] [char](4) NULL,
	[IN_SELECIONADO] [char](1) NULL,
	[NR_BOLETO] [char](10) NULL,
	[DT_PAGTO_ITEM] [datetime] NULL,
	[CD_BANCO] [char](3) NULL,
	[IN_REFATURADO] [char](1) NULL,
	[CD_UNID_NEG_FAT] [char](2) NULL,
	[IN_LIQ_AUT] [char](1) NULL,
	[TX_OBS] [text] NULL,
	[IN_PREVIEW] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
