USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFAT_CALCULO_RATEIO_DESP_MONEY](
	[NR_EMISSAO] [int] NOT NULL,
	[ANO_EMISSAO] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_REFERENCIA] [char](30) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_AREA] [char](2) NOT NULL,
	[VL_ITEM] [float] NULL,
	[PL_MERCADORIA] [float] NULL,
	[VL_ITEM_AREA] [float] NULL,
	[TP_RATEIO_DESP] [int] NULL,
	[NR_NOTA_FATURA] [char](6) NULL,
	[CD_USUARIO] [char](4) NULL,
 CONSTRAINT [PK_TFAT_CALCULO_RATEIO_DESP_MONEY] PRIMARY KEY CLUSTERED 
(
	[NR_EMISSAO] ASC,
	[ANO_EMISSAO] ASC,
	[NR_PROCESSO] ASC,
	[CD_REFERENCIA] ASC,
	[CD_ITEM] ASC,
	[CD_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
