USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDEVOLUCAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_DEVOLUCAO] [char](3) NOT NULL,
	[DT_DEVOLUCAO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[VL_DEVOLUCAO] [float] NULL,
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF_TDEVOLUCAO_IN_CANCELAD2__71]  DEFAULT ('0'),
	[DT_CANCELAMENTO] [datetime] NULL,
	[CD_USUARIO_CANC] [char](4) NULL,
	[IN_TRANSFERIDO] [char](1) NULL CONSTRAINT [DF_TDEVOLUCAO_IN_TRANSFER1__25]  DEFAULT ('0'),
	[DT_SOLIC_CH] [char](10) NULL,
	[NR_SOLIC_CH] [char](3) NULL,
	[NR_SOLINUM] [char](3) NULL,
	[NR_LANC_SOLINUM] [char](3) NULL,
 CONSTRAINT [PK_TDEVOLUCAO_1__71] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_DEVOLUCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
