USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TBANCO](
	[CD_BANCO] [char](3) NOT NULL,
	[NM_BANCO] [varchar](40) NOT NULL,
	[AP_BANCO] [varchar](10) NULL,
	[NR_CONTA] [varchar](10) NULL,
	[CD_AGENCIA] [varchar](5) NULL,
	[CD_CT_CONTABIL] [char](12) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TBANCO_IN_ATIVO_3__17]  DEFAULT ('1'),
	[TP_CONTA] [char](1) NULL,
	[IN_FINANCEIRO] [char](1) NULL,
	[NR_BANCO] [char](3) NULL,
	[LVALOR] [int] NULL,
	[CVALOR] [int] NULL,
	[LEXTENSO] [int] NULL,
	[CEXTENSO] [int] NULL,
	[LFAVOR] [int] NULL,
	[CFAVOR] [int] NULL,
	[LCIDADE] [int] NULL,
	[CCIDADE] [int] NULL,
	[CDIA] [int] NULL,
	[CANO] [int] NULL,
	[ANOMASK] [char](4) NULL CONSTRAINT [DF_TBANCO_ANOMASK_2__33]  DEFAULT ('9999'),
	[FORMCONT] [bit] NOT NULL CONSTRAINT [DF_TBANCO_FORMCONT_1__33]  DEFAULT (1),
	[LEXTENSO2] [int] NULL,
	[CEXTENSO2] [int] NULL,
	[CMES] [int] NULL,
	[LCHEQUE] [int] NULL,
	[CCHEQUE] [int] NULL,
	[CBANCO] [int] NULL,
	[IN_SM] [char](1) NULL CONSTRAINT [DF_TBANCO_IN_SM_1__123]  DEFAULT ('0'),
	[DAC_AGENCIA] [char](1) NULL,
	[CD_ACESSO] [char](1) NULL,
	[CD_AUX] [char](3) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[TX_INSTRUCAO] [varchar](250) NULL,
	[PATH_COB_AUT_IMP] [varchar](255) NULL,
	[PATH_COB_AUT_TRANS] [varchar](255) NULL,
	[NR_REMESSA] [char](6) NULL,
	[IN_EXTRA_CAIXA] [char](1) NULL,
	[IN_IMPOSTOS] [char](1) NULL,
	[NR_DOC] [char](6) NULL,
	[IN_BCO_FLUXO_OP] [char](1) NULL,
	[IN_INDAIA] [int] NULL CONSTRAINT [DF_TBANCO_IN_INDAIA]  DEFAULT ((0)),
	[IN_CC_CLIENTE] [int] NULL DEFAULT ((0)),
	[VL_AVISO_SALDO_MINIMO] [float] NULL,
	[EMAIL_AVISO_SALDO_MINIMO] [varchar](1000) NULL DEFAULT (''),
	[LENTRE_CHEQUES] [int] NULL,
	[CD_CC] [char](15) NULL,
	[CD_CC_REDUZIDA] [char](7) NULL,
 CONSTRAINT [PK_TBANCO_4__17] PRIMARY KEY CLUSTERED 
(
	[CD_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TBANCO_5_289800490__K1_2] ON [TBANCO]
(
	[CD_BANCO] ASC
)
INCLUDE ( 	[NM_BANCO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TBANCO_5_289800490__K1_K2] ON [TBANCO]
(
	[CD_BANCO] ASC,
	[NM_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TBANCO_5_289800490__K1_K2_39] ON [TBANCO]
(
	[CD_BANCO] ASC,
	[NM_BANCO] ASC
)
INCLUDE ( 	[IN_IMPOSTOS]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [ID_AP_BANCO] ON [TBANCO]
(
	[AP_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TBANCO_ID_CD_BANCO] ON [TBANCO]
(
	[CD_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
