USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_POS_AD](
	[TP_POS_AD] [char](1) NOT NULL CONSTRAINT [DF_TTP_POS_AD_TP_POS_AD]  DEFAULT ('0'),
	[NM_TP_POS_AD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TTP_POS_AD] PRIMARY KEY CLUSTERED 
(
	[TP_POS_AD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
