USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSALDO_DRAWBACK_EXP](
	[NR_ATO_DRAWBACK] [char](13) NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_ITEM] [char](3) NULL,
	[NR_RE] [char](12) NULL,
	[DT_TRANSM_RE] [datetime] NULL,
	[VENCTO_RE] [datetime] NULL,
	[STATUS_RE] [char](1) NULL,
	[SALDO_TRANSM_RE] [float] NULL,
	[DT_REGISTRO_RE] [datetime] NULL,
	[QTD_TRANSM_RE] [float] NULL,
	[CD_MERCADORIA] [char](20) NULL,
	[NR_PEDIDO] [char](15) NULL,
	[VL_UNITARIO] [float] NULL,
	[VL_CIF] [float] NULL,
	[VL_FOB] [float] NULL,
	[NR_NOTA_FISCAL] [char](10) NULL,
	[DT_NOTA_FISCAL] [datetime] NULL,
	[NR_DDE] [char](11) NULL,
	[DT_DDE] [datetime] NULL,
	[PL_UNIT_MERC] [float] NULL,
	[PERC_COM_AGENTE] [float] NULL,
	[RE_INDAIA] [char](1) NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[VL_FOB_LIQ] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_FOB_USD] [float] NULL,
	[NR_LAUDO] [char](5) NULL
) ON [PRIMARY]

GO
