USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDISP_REMESSA](
	[DT_DISP] [datetime] NOT NULL,
	[CD_BANCO] [char](3) NULL,
	[VL_DISP] [float] NULL,
	[VL_UTILIZADO] [float] NULL
) ON [PRIMARY]

GO
