USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TADM_GERENCIAL](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_LANCTO] [datetime] NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[CD_CT_GERENCIAL] [char](4) NOT NULL,
	[VL_LANCTO] [float] NOT NULL,
 CONSTRAINT [PK_TADM_GERENCIAL] PRIMARY KEY NONCLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[DT_LANCTO] ASC,
	[NR_LANCAMENTO] ASC,
	[CD_CT_GERENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TADM_GERENCIAL] ADD  CONSTRAINT [DF_TADM_GERENCIAL_VL_LANCTO]  DEFAULT (0) FOR [VL_LANCTO]
GO
