USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRE_ANEXO_FABRIC](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PROCESSO_COMPLEMENTO] [char](3) NOT NULL,
	[CD_RE_ANEXO] [int] NOT NULL,
	[CD_RE_ANEXO_FABRIC] [int] NOT NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[NR_ATO] [char](13) NULL,
	[QT_MERCADORIA] [float] NULL,
	[VL_TOTAL] [float] NULL,
	[PL_TOTAL] [float] NULL,
	[TX_OBSERVACAO] [varchar](200) NULL,
	[UF] [char](2) NULL,
	[NM_UNID_MEDIDA] [varchar](100) NULL,
	[NM_FABRICANTE] [varchar](80) NULL,
	[CNPJ_FABRICANTE] [char](14) NULL,
 CONSTRAINT [PK_TRE_ANEXO_FABRIC] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_PROCESSO_COMPLEMENTO] ASC,
	[CD_RE_ANEXO] ASC,
	[CD_RE_ANEXO_FABRIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
