USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPOSTA_FATURAMENTO](
	[NR_PROPOSTA] [char](14) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_CALCULO] [char](3) NULL,
	[CD_SDA] [char](3) NULL,
	[CD_STATUS] [char](1) NULL,
	[NR_ITEM_PROPOSTA] [int] NOT NULL,
 CONSTRAINT [PK_TPROPOSTA_FATURAMENTO] PRIMARY KEY CLUSTERED 
(
	[NR_PROPOSTA] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_ITEM] ASC,
	[NR_ITEM_PROPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
