USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPAGAMENTO_PREVISTO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[DT_PREV_PGTO_360] [char](6) NULL,
	[VL_PREV_PGTO_360] [float] NULL CONSTRAINT [DF_TPAGAMENTO_VL_PREV_PG2__148]  DEFAULT (0),
 CONSTRAINT [PK_TPAGAMENTO_PREVISTO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
