USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TABRE_PROCESSO_EXP_DDE_NF](
	[NR_REGISTRO] [int] NOT NULL,
	[NR_NF_INI] [char](10) NOT NULL,
	[NR_NF_FIM] [char](10) NOT NULL,
	[SERIE_NF] [char](3) NULL,
 CONSTRAINT [PK_TABRE_PROCESSO_EXP_DDE_NF] PRIMARY KEY NONCLUSTERED 
(
	[NR_REGISTRO] ASC,
	[NR_NF_INI] ASC,
	[NR_NF_FIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
