USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUNID_NEG](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[NM_UNID_NEG] [char](50) NOT NULL,
	[AP_UNID_NEG] [char](10) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
	[VL_ALIQ_ISS] [float] NULL,
	[CGC_UNID_NEG] [char](14) NULL,
	[CD_FILIAL] [char](3) NULL,
	[END_UNID_NEG] [char](50) NULL,
	[END_NUMERO] [char](6) NULL,
	[END_COMPL] [char](20) NULL,
	[END_BAIRRO] [char](30) NULL,
	[END_CIDADE] [char](30) NULL,
	[END_UF] [char](2) NULL,
	[IE_UNID_NEG] [char](20) NULL,
	[IM_UNID_NEG] [char](20) NULL,
	[NR_FONE] [varchar](20) NULL,
	[END_CEP] [char](8) NULL,
	[NR_FAX1] [varchar](20) NULL,
	[NR_FAX2] [varchar](20) NULL,
	[NM_SLOGAN] [char](100) NULL,
	[NR_NOTA_FATURA] [char](6) NULL,
	[NM_EMAIL] [char](100) NULL,
	[PATH_RELATORIOS] [varchar](100) NULL,
	[PATH_SISCOMEX] [varchar](100) NULL,
	[PATH_REI] [varchar](100) NULL,
	[NM_DIRETOR] [char](50) NULL,
	[NR_CPF_DIRETOR] [char](11) NULL,
	[NM_CONTADOR] [char](50) NULL,
	[NR_CRC_CONTADOR] [char](15) NULL,
	[NM_PROCURADOR] [char](50) NULL,
	[NR_CPF_PROCURADOR] [char](11) NULL,
	[CD_PAIS] [char](3) NULL,
	[NR_PROC_NF_PREF] [varchar](20) NULL,
	[NR_LIVRO] [varchar](5) NULL,
	[NM_SIGLA] [char](3) NULL,
	[VL_PERC_ISS] [float] NULL,
	[CD_BANCO_CONCILIACAO] [char](3) NULL,
	[CD_DAC] [char](20) NULL,
	[CD_CT_CUSTO] [char](4) NULL,
	[ID_ARQUIVO_NOVOEX] [varchar](10) NULL,
 CONSTRAINT [PK_TUNID_NEG] PRIMARY KEY NONCLUSTERED 
(
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
