USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CONTROLE_EMB](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_PO] [char](18) NULL,
	[NM_AGENTE] [char](20) NULL,
	[NM_EXPORTADOR] [char](20) NULL,
	[TX_MERCADORIA] [text] NULL,
	[IMO] [char](20) NULL,
	[QT_PESO] [float] NULL,
	[NM_MODALIDADE] [char](3) NULL,
	[NR_CNTR] [varchar](250) NULL,
	[QT_EMBALAGEM] [varchar](250) NULL,
	[NM_NAVIO] [char](20) NULL,
	[DT_ETD] [datetime] NULL,
	[NM_ETD] [char](20) NULL,
	[DT_ETA] [datetime] NULL,
	[NM_ETA] [char](20) NULL,
	[NR_MASTER] [char](25) NULL,
	[NR_HOUSE] [char](20) NULL,
	[VL_FRETE] [float] NULL,
	[DT_ENV_DOC] [char](3) NULL,
	[TX_OBSERVACAO] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
