USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_BORD_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [char](5) NOT NULL,
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[NR_REFERENCIA] [char](30) NULL CONSTRAINT [DF_TPROCESSO_EXP_BORD_ITEM_NR_REFERENCIA]  DEFAULT (''),
	[QT_ORIGINAIS] [int] NULL CONSTRAINT [DF_TPROCESSO_EXP_BORD_ITEM_QT_ORIGINAIS]  DEFAULT (0),
	[QT_COPIAS] [int] NULL CONSTRAINT [DF_TPROCESSO_EXP_BORD_ITEM_QT_COPIAS]  DEFAULT (0),
	[TX_OBSERVACAO] [text] NULL,
	[NR_FATURA] [varchar](15) NOT NULL,
 CONSTRAINT [PK_TPROCESSO_EXP_BORD_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC,
	[CD_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
