USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[NR_PEDIDO_IMP] [char](15) NULL,
	[CD_MERCADORIA] [char](40) NULL,
	[CD_NCM] [char](11) NULL,
	[CD_SULF_NCM] [char](2) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_UNID_MEDIDA] [char](3) NULL,
	[CD_EMBALAGEM] [char](4) NULL,
	[CD_CLASSIF_EMBALAGEM] [varchar](30) NULL,
	[CD_FABR_EXPO] [char](1) NULL,
	[QT_POR_EMB] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_QT_MERCADORIA]  DEFAULT ((0)),
	[QT_EMBALAGEM] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_QTDE]  DEFAULT ((0)),
	[QT_MERCADORIA] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_UNITARIO]  DEFAULT ((0)),
	[VL_POR_EMB] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_PESO_LIQ_UNIT]  DEFAULT ((0)),
	[VL_UNITARIO] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_QTDE_POR_EMB]  DEFAULT ((0)),
	[VL_PESO_LIQ_UNIT] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_QTDE_EMB]  DEFAULT ((0)),
	[VL_COMPRIMENTO_EMB] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_COMPRIMENTO_EMB]  DEFAULT ((0)),
	[VL_LARGURA_EMB] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_LARGURA_EMB]  DEFAULT ((0)),
	[VL_ALTURA_EMB] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_ALTURA_EMB]  DEFAULT ((0)),
	[VL_PESO_EMB] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_PESO_EMB]  DEFAULT ((0)),
	[VL_TOT_ITEM] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_TOT_ITEM]  DEFAULT ((0)),
	[VL_TOT_PESO_LIQ] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_TOT_PESO_LIQ]  DEFAULT ((0)),
	[VL_TOT_PESO_BRUTO] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_TOT_PESO_BRUTO]  DEFAULT ((0)),
	[VL_CUBAGEM] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_CUBAGEM]  DEFAULT ((0)),
	[VL_MLE] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_MLE]  DEFAULT ((0)),
	[VL_MCV] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_MCV]  DEFAULT ((0)),
	[VL_SEGURO] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_SEGURO]  DEFAULT ((0)),
	[VL_FRETE] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_FRETE]  DEFAULT ((0)),
	[VL_DESPESA] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_DESPESA]  DEFAULT ((0)),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_DESCONTO]  DEFAULT ((0)),
	[TX_MERCADORIA] [text] NULL,
	[NR_PROC_PE] [char](18) NULL,
	[NR_ITEM_PE] [char](6) NULL,
	[CD_EMBALAGEM_SUP] [char](4) NULL,
	[CD_CLASSIF_EMBALAGEM_SUP] [char](30) NULL,
	[QT_POR_EMB_SUP] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_QT_POR_EMB_SUP]  DEFAULT ((0)),
	[QT_EMBALAGEM_SUP] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_QT_EMBALAGEM_SUP]  DEFAULT ((0)),
	[VL_POR_EMB_SUP] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_POR_EMB_SUP]  DEFAULT ((0)),
	[CD_EMBALAGEM_CLIENTE] [char](10) NULL,
	[CD_NORMAS] [char](10) NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_CD_NORMAS]  DEFAULT (''),
	[IN_ACORDO] [bit] NOT NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_IN_ACORDO]  DEFAULT ((0)),
	[NR_SEQ_NALADI] [int] NULL,
	[NR_SEQ_NCM] [int] NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[NR_PEDIDO] [varchar](30) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[TP_ACORDO] [char](1) NULL,
	[CD_NCM_DOC] [char](8) NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_CD_NCM_DOC]  DEFAULT (''),
	[CD_NALADI_DOC] [char](8) NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_CD_NALADI_DOC]  DEFAULT (''),
	[CD_ACORDO] [char](10) NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_CD_ACORDO]  DEFAULT (''),
	[NR_SEQ_NCM_DOC] [int] NULL,
	[NR_SEQ_NALADI_DOC] [int] NULL,
	[NR_ORDEM_CERT_ORIGEM] [char](3) NULL,
	[NR_ANEXO] [char](3) NULL,
	[NR_ATO_CONCESSORIO] [varchar](13) NULL,
	[VL_COM_AGENTE] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_CO__21F9F532]  DEFAULT ((0)),
	[IN_TRANSFERIDO] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_TR__1C0C11B2]  DEFAULT ('0'),
	[VL_SEM_COBERTURA_CAMBIAL] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_SE__332F6E2C]  DEFAULT ((0)),
	[VL_ACRESCIMO] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_AC__4934893B]  DEFAULT ((0)),
	[DT_REMESSA] [datetime] NULL,
	[NR_ORDER] [char](30) NULL,
	[NM_EMB_PACKING] [char](15) NULL,
	[VL_FRETE_INT] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_VL_FRETE_INT]  DEFAULT ((0)),
	[QT_BAIXADA] [float] NULL CONSTRAINT [DF_TPROCESSO_EXP_ITEM_QT_BAIXADA]  DEFAULT ((0)),
	[NR_NF] [char](10) NULL,
	[TX_BILLING_DOC] [char](10) NULL,
	[TX_DELIVERY_NOTE] [char](10) NULL,
	[CD_UNID_MEDIDA_ESTAT] [char](3) NULL,
	[QT_UNID_MEDIDA_ESTAT] [float] NULL,
	[CD_CFOP] [char](4) NULL,
	[NR_FATURA] [char](10) NULL,
 CONSTRAINT [PK_TPROCESSO_EXP_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
