USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVALORES_CIF_FOB](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[VL_TOT_ABERTO] [int] NULL CONSTRAINT [DF_TVALORES_C_VL_TOT_ABE5__147]  DEFAULT (0),
	[VL_TOT_PAGO] [int] NULL CONSTRAINT [DF_TVALORES_C_VL_TOT_PAG8__147]  DEFAULT (0),
	[VL_TOT_DESEMB] [int] NULL CONSTRAINT [DF_TVALORES_C_VL_TOT_DES6__147]  DEFAULT (0),
	[VL_TOT_FAT] [int] NULL CONSTRAINT [DF_TVALORES_C_VL_TOT_FAT7__147]  DEFAULT (0),
	[VL_CIF_FOB] [float] NULL CONSTRAINT [DF_TVALORES_C_VL_CIF_FOB2__147]  DEFAULT (0),
	[VL_COMISSAO] [float] NULL CONSTRAINT [DF_TVALORES_C_VL_COMISSA3__147]  DEFAULT (0),
	[VL_EXPEDIENTE] [float] NULL CONSTRAINT [DF_TVALORES_C_VL_EXPEDIE4__147]  DEFAULT (0),
 CONSTRAINT [PK_TVALORES_CIF_FOB] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
