USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_RE_MERCADORIA_PERIGOSA](
	[NR_SD] [char](18) NOT NULL,
	[NR_RE_SISCOMEX] [char](30) NOT NULL,
	[NR_ANEXO] [char](3) NULL,
	[CD_CLASSE] [int] NULL,
	[CD_INDICADOR] [int] NULL,
	[CD_MERC_PERIGOSA] [int] NULL,
	[CD_TIPO_CARGA] [int] NULL,
	[ADICAO_XML] [int] NULL
) ON [PRIMARY]

GO
