USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINT_MESQUITA009_JOB](
	[NM_CNPJ] [varchar](20) NULL,
	[NM_NAVIO] [varchar](20) NULL,
	[VIAGEM] [varchar](14) NULL,
	[NR_BL] [varchar](22) NULL,
	[NM_PORTO] [varchar](22) NULL,
	[NM_ARMADOR] [varchar](20) NULL,
	[NR_CNTR] [varchar](14) NULL,
	[NR_DTE] [varchar](15) NULL,
	[NR_DTA] [varchar](13) NULL,
	[CD_REPARTICAO] [varchar](12) NULL,
	[TARA] [varchar](14) NULL,
	[PESO_LIQ] [varchar](13) NULL,
	[FUMIGACAO] [varchar](5) NULL,
	[DT_FUMIGACAO] [varchar](12) NULL,
	[TERMO_CNTR] [varchar](7) NULL,
	[AVARIAS_PRAXE] [varchar](5) NULL,
	[DT_DESOVA] [varchar](12) NULL,
	[TERMO_DESOVA] [varchar](12) NULL,
	[DIMENSAO] [varchar](4) NULL,
	[PESO_LIQ_MANIF] [varchar](13) NULL,
	[TP_CNTR] [varchar](6) NULL,
	[DT_PREVISAO] [varchar](12) NULL,
	[HR_PREVISAO] [varchar](7) NULL,
	[DT_AUTORIZACAO] [varchar](12) NULL,
	[HR_AUTORIZACAO] [varchar](7) NULL,
	[DT_CARREGAMENTO] [varchar](12) NULL,
	[HR_CARREGAMENTO] [varchar](7) NULL,
	[DT_ENT_FABRICA] [varchar](12) NULL,
	[DT_RET_FABRICA] [varchar](12) NULL,
	[DT_ENT_PATIO] [varchar](12) NULL,
	[DT_DEV_CNTR] [varchar](12) NULL
) ON [PRIMARY]

GO
