USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  View dbo.VW_PROC_FAT    Script Date: 02/09/1999 09:04:23 AM ******/
CREATE VIEW [VW_PROC_FAT] AS
SELECT P.NR_PROCESSO, 
       ( SELECT COUNT(*)
         FROM TS_FATURA F (NOLOCK), 
              TS_FATURA_PROCESSO FP
         WHERE F.CD_UNID_NEG    = FP.CD_UNID_NEG    AND
               F.CD_PRODUTO     = FP.CD_PRODUTO     AND
               F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND
               P.NR_PROCESSO    = FP.NR_PROCESSO    AND
               F.TP_TIPO_FAT    = 'F'               AND
               F.IN_CANCELADO   = '0'               AND
               F.IN_CALCULADO   = '1' ) NR_FATURAS
  FROM TPROCESSO P (NOLOCK)


GO
