USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREVISAO_CUSTO](
	[NR_SEQUENCIA] [int] IDENTITY(1,1) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NULL,
	[VL_CALCULADO] [float] NULL,
	[VL_INFORMADO] [float] NULL,
	[DT_LANCAMENTO] [datetime] NULL,
	[VL_TAXA] [float] NULL,
	[IN_TRANSF] [char](1) NULL,
 CONSTRAINT [PK_TPREVISAO_CUSTO] PRIMARY KEY CLUSTERED 
(
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
