USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLUXO_CAIXA_GERENCIAL_CT_CONTABIL](
	[CD_CT_CONTABIL] [char](10) NOT NULL,
 CONSTRAINT [PK_TREL_FLUXO_CAIXA_GERENCIAL_CT_CONTABIL] PRIMARY KEY NONCLUSTERED 
(
	[CD_CT_CONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
