USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP_EXPORTACAO](
	[NR_PROCESSO] [char](10) NULL,
	[CD_EMPRESA] [char](5) NULL,
	[AP_EMPRESA] [varchar](20) NULL,
	[FATURA] [varchar](20) NULL,
	[NR_DDE] [varchar](20) NULL,
	[DT_REG_DDE] [datetime] NULL,
	[ORDEM] [varchar](20) NULL,
	[REMESSA] [varchar](20) NULL,
	[DT_REALIZACAO] [datetime] NULL,
	[NOTA_FISCAL] [varchar](120) NULL
) ON [PRIMARY]

GO
