USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLASSE_MERCADORIA_PERIGOSA](
	[CD_CLASSE] [int] NOT NULL,
	[NM_CLASSE] [varchar](2000) NULL,
 CONSTRAINT [PK_TCLASSE_MERCADORIA_PERIGOSA] PRIMARY KEY CLUSTERED 
(
	[CD_CLASSE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
