USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_MOEDAS_DI] AS
SELECT TOP (100) PERCENT U.NR_PROCESSO,
                         U.CD_MOEDA,
                         M.AP_MOEDA, 
                         CASE U.CD_MOEDA
                             WHEN '055' THEN 'COROA'
                             WHEN '065' THEN 'COROA'
                             WHEN '070' THEN 'COROA'
                             WHEN '150' THEN 'DOLAR'
                             WHEN '165' THEN 'DOLAR'
                             WHEN '195' THEN 'DOLAR'
                             WHEN '220' THEN 'DOLAR'
                             WHEN '395' THEN 'FRANCO'
                             WHEN '425' THEN 'FRANCO'
                             WHEN '470' THEN 'IENE'
                             WHEN '540' THEN 'LIBRA'
                             WHEN '595' THEN 'LIRA'
                             WHEN '610' THEN 'MARCO'
                             WHEN '700' THEN 'PESETA'
                             WHEN '741' THEN 'PESO'
                             WHEN '790' THEN 'REAL'
                             WHEN '860' THEN 'RUPIA'
                             WHEN '975' THEN 'ZLOTY'
                             WHEN '978' THEN 'EURO'
                         ELSE (M.NM_MOEDA)
                         END AS NM_MOEDA,
                         (SELECT TX_CAMBIO
                          FROM TTAXA_CAMBIO
                          WHERE ((SELECT DT_CALCULO
                                  FROM TDECLARACAO_IMPORTACAO
                                  WHERE NR_PROCESSO = U.NR_PROCESSO) BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA)
                            AND CD_MOEDA = U.CD_MOEDA) AS TX_MOEDA
FROM (SELECT DISTINCT DI.NR_PROCESSO, TMP.CD_MOEDA
      FROM TDECLARACAO_IMPORTACAO AS DI INNER JOIN (SELECT NR_PROCESSO, '220' AS CD_MOEDA
                                                    FROM TDECLARACAO_IMPORTACAO AS TDECLARACAO_IMPORTACAO_DOLAR
                                                    UNION ALL
                                                    SELECT NR_PROCESSO, CD_MOEDA_MLE AS CD_MOEDA
                                                    FROM TDECLARACAO_IMPORTACAO AS TDECLARACAO_IMPORTACAO_3
                                                    UNION ALL
                                                    SELECT NR_PROCESSO, CD_MOEDA_FRETE AS CD_MOEDA
                                                    FROM TDECLARACAO_IMPORTACAO AS TDECLARACAO_IMPORTACAO_2
                                                    UNION ALL
                                                    SELECT NR_PROCESSO, CD_MOEDA_SEGURO AS CD_MOEDA
                                                    FROM TDECLARACAO_IMPORTACAO AS TDECLARACAO_IMPORTACAO_1
                                                    UNION ALL
                                                    SELECT DISTINCT NR_PROCESSO, CD_MOEDA_MLE AS CD_MOEDA
                                                    FROM TADICAO_DE_IMPORTACAO) AS TMP ON TMP.NR_PROCESSO = DI.NR_PROCESSO) AS U
   INNER JOIN TMOEDA_BROKER AS M ON M.CD_MOEDA = U.CD_MOEDA
UNION ALL
SELECT TOP (100) PERCENT PC.NR_PROCESSO,
                         PC.CD_MOEDA,
                         M.AP_MOEDA, 
                         CASE PC.CD_MOEDA
                             WHEN '055' THEN 'COROA'
                             WHEN '065' THEN 'COROA'
                             WHEN '070' THEN 'COROA'
                             WHEN '150' THEN 'DOLAR'
                             WHEN '165' THEN 'DOLAR'
                             WHEN '195' THEN 'DOLAR'
                             WHEN '220' THEN 'DOLAR'
                             WHEN '395' THEN 'FRANCO'
                             WHEN '425' THEN 'FRANCO'
                             WHEN '470' THEN 'IENE'
                             WHEN '540' THEN 'LIBRA'
                             WHEN '595' THEN 'LIRA'
                             WHEN '610' THEN 'MARCO'
                             WHEN '700' THEN 'PESETA'
                             WHEN '741' THEN 'PESO'
                             WHEN '790' THEN 'REAL'
                             WHEN '860' THEN 'RUPIA'
                             WHEN '975' THEN 'ZLOTY'
                             WHEN '978' THEN 'EURO'
                         ELSE (M.NM_MOEDA)
                         END AS NM_MOEDA,
                         PC.TX_MOEDA AS TX_MOEDA
FROM (SELECT DISTINCT PCC.NR_PROCESSO, TMPPC.CD_MOEDA, TMPPC.TX_MOEDA
      FROM TPRE_CALCULO_CAPA PCC INNER JOIN (SELECT NR_PROCESSO, '220' AS CD_MOEDA, TX_DOLAR AS TX_MOEDA
                                             FROM TPRE_CALCULO_CAPA TPRE_CALCULO_CAPA_DOLAR
                                             UNION ALL
                                             SELECT NR_PROCESSO, CD_MOEDA_MLE AS CD_MOEDA, TX_MLE AS TX_MOEDA
                                             FROM TPRE_CALCULO_CAPA TPRE_CALCULO_CAPA_MLE
                                             UNION ALL
                                             SELECT NR_PROCESSO, CD_MOEDA_FRETE AS CD_MOEDA, TX_FRETE AS TX_MOEDA
                                             FROM TPRE_CALCULO_CAPA TPRE_CALCULO_CAPA_FRETE
                                             UNION ALL
                                             SELECT NR_PROCESSO, CD_MOEDA_SEGURO AS CD_MOEDA, TX_SEGURO AS TX_MOEDA
                                             FROM TPRE_CALCULO_CAPA TPRE_CALCULO_CAPA_SEGURO) AS TMPPC ON TMPPC.NR_PROCESSO = PCC.NR_PROCESSO) AS PC
   INNER JOIN TMOEDA_BROKER AS M ON M.CD_MOEDA = PC.CD_MOEDA
WHERE PC.NR_PROCESSO NOT IN (SELECT NR_PROCESSO
                             FROM TDECLARACAO_IMPORTACAO)
ORDER BY NR_PROCESSO
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "U"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 84
               Right = 192
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "M"
            Begin Extent = 
               Top = 6
               Left = 230
               Bottom = 114
               Right = 451
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_MOEDAS_DI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_MOEDAS_DI'
GO
