USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTRIBUTACAO_ICMS](
	[CD_TRIBUTACAO_ICMS] [char](1) NOT NULL,
	[NM_TRIBUTACAO_ICMS] [char](20) NOT NULL,
	[IN_FUND_LEGAL] [char](1) NULL CONSTRAINT [DF_TTRIBUTACA_IN_FUND_LEG1__42]  DEFAULT ('0'),
 CONSTRAINT [PK___2__21] PRIMARY KEY CLUSTERED 
(
	[CD_TRIBUTACAO_ICMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
