USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRESPONSAVEL](
	[CD_RESPONSAVEL] [char](1) NOT NULL,
	[NM_RESPONSAVEL] [varchar](15) NULL,
	[NM_COR] [varchar](15) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_CD_RESPONSAVEL] ON [TRESPONSAVEL]
(
	[CD_RESPONSAVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
