USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_RE](
	[NR_SD] [char](18) NOT NULL,
	[NR_PROCESSO_RE] [char](18) NULL,
	[NR_RE_SISCOMEX] [char](30) NOT NULL,
	[VL_SOMA_PESO_LIQUIDO] [float] NULL,
	[VL_SOMA_COND_VENDA] [float] NULL,
	[NR_ANEXO_INICIAL] [char](3) NULL,
	[NR_ANEXO_FINAL] [char](3) NULL,
	[NR_SEQUENCIA] [int] IDENTITY(1,1) NOT NULL,
	[IN_RE_AVERBADO] [char](1) NULL DEFAULT ('0'),
	[DT_EXTRATO_AVERBADO] [datetime] NULL,
 CONSTRAINT [PK_TSD_RE] PRIMARY KEY CLUSTERED 
(
	[NR_SD] ASC,
	[NR_RE_SISCOMEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]

GO
