USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCAIXA_CONTROLE](
	[CD_COLIGADA] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
 CONSTRAINT [PK_TCAIXA_CONTROLE_1__46] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_UNID_NEG] ASC,
	[DT_MOVIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_CONTROLE_5_433801003__K4_2] ON [TCAIXA_CONTROLE]
(
	[CD_UNID_NEG] ASC
)
INCLUDE ( 	[DT_MOVIMENTO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
