USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [sea_sp_processo_new] (@canal char(2)) as
  SELECT P.NR_PROCESSO, ( SELECT M.AP_MERCADORIA
                          FROM   TDETALHE_MERCADORIA DM ( NOLOCK ), TMERCADORIA M ( NOLOCK )
                          WHERE  DM.NR_PROCESSO = P.NR_PROCESSO AND
                                 DM.CD_MERCADORIA = M.CD_MERCADORIA AND
                                 DM.NR_ADICAO = '001' AND
                                 DM.NR_ITEM = '001' ) AS NM_MERCADORIA_IMP,
         P.CD_CLIENTE, P.CD_EMP_EST, P.CD_ANALISTA_COMISSARIA,
         P.CD_USUARIO, P.CD_CONTATO, ISNULL( P.CD_CANAL, 4 ) AS CD_CANAL,
         P.CD_AGENTE, P.CD_ARMAZEM_DESCARGA, P.CD_ARMAZEM_ATRACACAO,
         P.CD_TRANSP_NAC,  
         CASE 
           WHEN P.CD_PRODUTO IN ( '02', '10' ) THEN
             ( SELECT E.VL_PESO_LIQUIDO
               FROM   TPROCESSO_EXP E ( NOLOCK )
               WHERE  E.NR_PROCESSO = P.NR_PROCESSO )
           ELSE
             ( SELECT D.PL_CARGA
               FROM   TDECLARACAO_IMPORTACAO D ( NOLOCK )
               WHERE  D.NR_PROCESSO = P.NR_PROCESSO )
         END AS VL_PESO_LIQ, 
         CASE 
           WHEN P.CD_PRODUTO IN ( '02', '10' ) THEN
             ( SELECT E.VL_PESO_BRUTO
               FROM   TPROCESSO_EXP E ( NOLOCK )
               WHERE  E.NR_PROCESSO = P.NR_PROCESSO )
           ELSE
             ( SELECT D.PB_CARGA
               FROM   TDECLARACAO_IMPORTACAO D ( NOLOCK )
               WHERE  D.NR_PROCESSO = P.NR_PROCESSO )
         END AS VL_PESO_BRUTO,
         ( SELECT DM.QT_MERC_UN_COMERC
           FROM   TDETALHE_MERCADORIA DM ( NOLOCK )
           WHERE  DM.NR_PROCESSO = P.NR_PROCESSO AND
                  DM.NR_ADICAO = '001' AND
                  DM.NR_ITEM = '001' ) AS QT_PRODUTO,
         P.VL_M3, 
         P.IN_MERC_PERIGOSA AS IMO,
         P.IN_ENTREPOSTO AS ENTREPOSTO,
         P.IN_URGENTE AS URGENTE,
         P.CD_EMBARCACAO AS CD_EMBARCACAO, 
         NR_CONHECIMENTO_MASTER AS MBL, NR_CONHECIMENTO AS HBL,
         ( SELECT TOP 1 NR_CNTR
           FROM   TPROCESSO_CNTR CNTR ( NOLOCK )
           WHERE  CNTR.NR_PROCESSO = P.NR_PROCESSO ) AS NR_CNTR,
         P.CD_UNID_NEG AS CD_UNID_NEG, 
         P.CD_PRODUTO AS CD_PRODUTO, 
         P.CD_SERVICO AS CD_SERVICO, 
         P.CD_AREA AS CD_AREA, 
         P.DT_ABERTURA AS DT_ABERTURA,
         P.TX_MERCADORIA AS TX_MERCADORIA,
         P.NR_VIAGEM AS NR_VIAGEM, 
         P.NR_VOO AS NR_VOO,
         P.NR_DI AS NR_DI, 
         P.DT_CONHECIMENTO AS DT_CONHECIMENTO,
         P.NR_PRESENCA_CARGA AS NR_PRESENCA_CARGA,
         P.DT_PRESENCA_CARGA AS DT_PRESENCA_CARGA,
         P.NR_MANIFESTO AS NR_MANIFESTO,
         P.CD_LOCAL_EMBARQUE AS CD_LOCAL_EMBARQUE,
         P.CD_LOCAL_DESEMBARQUE AS CD_LOCAL_DESEMBARQUE,
         P.CD_TRANSPORTADOR AS CD_TRANSPORTADOR,
         P.TX_OBSERVACOES AS TX_OBSERVACOES,
         P.NR_DA AS NR_DA,
         P.NR_DTA AS NR_DTA
  FROM   TPROCESSO P ( NOLOCK )
  where CD_CANAL = @canal;

GO
