USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DESVIOS](
	[NR_IDENTIFICADOR] [smallint] NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[QT_TOT_PROC] [smallint] NULL,
	[NR_META] [tinyint] NULL,
	[QT_ABAIXO_META] [smallint] NULL,
	[NR_DIAS_ABAIXO_META] [smallint] NULL,
	[MEDIA_ABAIXO_META] [smallint] NULL,
	[QT_ACIMA_META] [smallint] NULL,
	[NR_DIAS_ACIMA_META] [smallint] NULL,
	[MEDIA_ACIMA_META] [smallint] NULL,
	[MEDIA_GRUPO] [float] NULL
) ON [PRIMARY]

GO
