USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DRAWBACK](
	[TP_DRAWBACK] [char](1) NOT NULL,
	[NM_TP_DRAWBACK] [varchar](40) NOT NULL,
 CONSTRAINT [PK_TTP_DRAWBACK] PRIMARY KEY CLUSTERED 
(
	[TP_DRAWBACK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
