USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TACORDO_PAIS](
	[CD_ACORDO] [char](10) NOT NULL,
	[CD_PAIS] [char](3) NOT NULL,
 CONSTRAINT [PK_TACORDO_PAIS] PRIMARY KEY NONCLUSTERED 
(
	[CD_ACORDO] ASC,
	[CD_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
