USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCOMPRADOR](
	[CD_COMPRADOR] [int] IDENTITY(1,1) NOT NULL,
	[NM_COMPRADOR] [varchar](50) NOT NULL,
	[CD_EMPRESA] [char](5) NULL,
	[QT_COMPRADOR] [int] NULL,
	[IN_NACIONAL] [char](1) NULL,
 CONSTRAINT [PK_TCOMPRADOR] PRIMARY KEY CLUSTERED 
(
	[CD_COMPRADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
