USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RB_FIELD](
	[TABLE_NAME] [varchar](60) NOT NULL,
	[FIELD_NAME] [varchar](60) NOT NULL,
	[FIELD_ALIAS] [varchar](60) NULL,
	[DATATYPE] [varchar](60) NULL,
	[SELECTABLE] [char](1) NULL,
	[SEARCHABLE] [char](1) NULL,
	[SORTABLE] [char](1) NULL,
	[AUTOSEARCH] [char](1) NULL,
	[MANDATORY] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME] ASC,
	[FIELD_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE NONCLUSTERED INDEX [RB_TABLE_FIELD_ALIAS_IDX] ON [RB_FIELD]
(
	[TABLE_NAME] ASC,
	[FIELD_ALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE NONCLUSTERED INDEX [RB_TABLE_FIELD_NAME_IDX] ON [RB_FIELD]
(
	[TABLE_NAME] ASC,
	[FIELD_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
