USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TABRE_PROCESSO](
	[NR_REGISTRO] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[NR_CONHECIMENTO_MASTER] [char](30) NULL,
	[CD_TRANSP_NAC] [char](4) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[TX_MERCADORIA] [text] NULL,
	[VL_PESO_LIQUIDO] [float] NULL,
	[VL_PESO_BRUTO] [float] NULL,
	[VL_MLE] [float] NULL,
	[CD_INCOTERM] [char](3) NULL,
	[VL_FRETE_PREPAID] [float] NULL,
	[VL_FRETE_COLLECT] [float] NULL,
	[VL_FRETE_TER_NAC] [float] NULL,
	[IN_VINC] [bit] NULL,
	[CD_UNID_NEG_VINC] [char](2) NULL,
	[CD_PRODUTO_VINC] [char](2) NULL,
	[NR_PROCESSO_VINC] [char](14) NULL,
	[CD_AREA] [char](2) NULL,
	[DT_ABERTURA] [datetime] NULL,
	[DT_RECEB_DOC] [datetime] NULL,
	[DT_CONHECIMENTO] [datetime] NULL,
	[TX_VOLUMES] [char](100) NULL,
	[CD_EMP_EST] [char](5) NULL,
	[VL_SEGURO] [float] NULL,
 CONSTRAINT [PK_TABRE_PROCESSO] PRIMARY KEY NONCLUSTERED 
(
	[NR_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [TABRE_PROCESSO] ADD  CONSTRAINT [DF_CONHECIMENTO]  DEFAULT ('') FOR [NR_CONHECIMENTO]
GO
ALTER TABLE [TABRE_PROCESSO] ADD  CONSTRAINT [DF__TABRE_PRO__IN_VI__36951F65]  DEFAULT (0) FOR [IN_VINC]
GO
