USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDELEGACIA](
	[CD_DELEGACIA] [char](2) NOT NULL,
	[NM_DELEGACIA] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TDELEGACIA] PRIMARY KEY CLUSTERED 
(
	[CD_DELEGACIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
