USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_TRA](
	[CD_TAXA_TRA] [char](3) NOT NULL,
	[NM_DESCRICAO] [varchar](30) NOT NULL,
	[VL_THC_CNTR_20] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_THC_CNTR42__10]  DEFAULT (0),
	[VL_THC_CNTR_40] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_THC_CNTR44__10]  DEFAULT (0),
	[VL_THC_C_SOLTA] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_THC_C_SO40__10]  DEFAULT (0),
	[VL_THC_CNTR_20_RORO] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_THC_CNTR43__10]  DEFAULT (0),
	[VL_THC_CNTR_40_RORO] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_THC_CNTR45__10]  DEFAULT (0),
	[VL_THC_C_SOLTA_RORO] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_THC_C_SO41__10]  DEFAULT (0),
	[VL_THC_MIN] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_THC_MIN_46__10]  DEFAULT (0),
	[VL_CARR_CNTR_20_MM] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_CARR_CNT32__10]  DEFAULT (0),
	[VL_CARR_CNTR_20_MO] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_CARR_CNT33__10]  DEFAULT (0),
	[VL_CARR_CNTR_40_MM] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_CARR_CNT34__10]  DEFAULT (0),
	[VL_CARR_CNTR_40_MO] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_CARR_CNT35__10]  DEFAULT (0),
	[VL_CARR_C_SOLTA_MM] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_CARR_C_S30__10]  DEFAULT (0),
	[VL_CARR_C_SOLTA_MO] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_CARR_C_S31__10]  DEFAULT (0),
	[VL_CARR_MIN] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_CARR_MIN36__10]  DEFAULT (0),
	[PC_ACR_CARR_PERIGO] [float] NULL CONSTRAINT [DF_TTAXA_TRA_PC_ACR_CARR16__10]  DEFAULT (0),
	[NR_PERIODO_ARM] [int] NULL CONSTRAINT [DF_TTAXA_TRA_NR_PERIODO_14__10]  DEFAULT (0),
	[VL_ARM_CNTR_1P] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_CNTR25__10]  DEFAULT (0),
	[VL_ARM_CNTR_DP] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_CNTR28__10]  DEFAULT (0),
	[VL_ARM_CNTR_20_MIN] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_CNTR26__10]  DEFAULT (0),
	[VL_ARM_CNTR_40_MIN] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_CNTR27__10]  DEFAULT (0),
	[VL_ARM_CNTR_REIMP] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_CNTR29__10]  DEFAULT (0),
	[VL_ARM_C_SOLTA_1P] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_C_SO18__10]  DEFAULT (0),
	[VL_ARM_C_SOLTA_2P] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_C_SO19__10]  DEFAULT (0),
	[VL_ARM_C_SOLTA_3P] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_C_SO20__10]  DEFAULT (0),
	[VL_ARM_C_SOLTA_DP] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_C_SO22__10]  DEFAULT (0),
	[VL_ARM_C_SOLTA_MIN] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_C_SO23__10]  DEFAULT (0),
	[VL_ARM_C_SOLTA_BAGAGEM] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_C_SO21__10]  DEFAULT (0),
	[VL_ARM_C_SOLTA_REIMP] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ARM_C_SO24__10]  DEFAULT (0),
	[PC_ACR_ARM_PERIGO] [float] NULL CONSTRAINT [DF_TTAXA_TRA_PC_ACR_ARM_15__10]  DEFAULT (0),
	[VL_ENERGIA_CNTR_FIXO] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ENERGIA_39__10]  DEFAULT (0),
	[VL_ENERGIA_CNTR_20] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ENERGIA_37__10]  DEFAULT (0),
	[VL_ENERGIA_CNTR_40] [float] NULL CONSTRAINT [DF_TTAXA_TRA_VL_ENERGIA_38__10]  DEFAULT (0),
	[PC_ISS] [float] NULL CONSTRAINT [DF_TTAXA_TRA_PC_ISS_17__10]  DEFAULT (0),
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TTAXA_TRA_IN_ATIVO_1__10]  DEFAULT ('1'),
 CONSTRAINT [PK_TTAXA_TRA] PRIMARY KEY CLUSTERED 
(
	[CD_TAXA_TRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
