USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABIL_CUSTO](
	[CD_COLIGADA] [char](2) NOT NULL,
	[CD_CT_CUSTO] [char](25) NOT NULL,
	[NM_CT_CUSTO] [varchar](40) NULL,
	[IN_ATIVO] [char](1) NULL,
 CONSTRAINT [PK_TCONTABIL_CUSTO] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_CT_CUSTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
