USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDECLARACAO_IMPORTACAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_IDENT_USUARIO] [char](15) NULL,
	[CD_APLICACAO_MERC] [char](1) NULL,
	[CD_BANDEIRA_TRANSP] [char](3) NULL,
	[CD_COBERTURA_CAMBIAL] [char](1) NULL CONSTRAINT [DF_TDECLARACA_CD_COBERTUR6__10]  DEFAULT ('1'),
	[CD_DESTAQUE_NCM] [char](3) NULL,
	[CD_FORMA_PAGAMENTO] [char](1) NULL CONSTRAINT [DF_TDECLARACA_CD_FORMA_PA1__25]  DEFAULT ('1'),
	[CD_FUND_LEGAL_II] [char](2) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_LOCAL_EMBARQUE] [char](4) NULL,
	[CD_METODO_VALORACAO] [char](2) NULL CONSTRAINT [DF_TDECLARACA_CD_METODO_V1__10]  DEFAULT ('01'),
	[CD_MODALIDADE_DESP] [char](1) NULL,
	[CD_MODALIDADE_PAGTO] [char](2) NULL,
	[CD_MOEDA_DESPESAS] [char](3) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[CD_MOTIVO_SEM_COBERTURA] [char](2) NULL,
	[CD_MOTIVO_TRANS] [char](1) NULL,
	[CD_PAIS_IMPORTADOR] [char](3) NULL,
	[CD_PAIS_PROC_CARGA] [char](3) NULL,
	[CD_RECINTO_ALFAND] [char](7) NULL,
	[CD_REG_TRIB_II] [char](1) NULL,
	[CD_REG_TRIB_IPI] [char](1) NULL,
	[CD_SETOR_ARMAZENAM] [char](3) NULL,
	[CD_TIPO_AG_CARGA] [char](1) NULL,
	[CD_TIPO_CONSIG] [char](1) NULL CONSTRAINT [DF_TDECLARACAO_IMPORTACAO_CD_TIPO_CONSIG]  DEFAULT ('1'),
	[CD_TIPO_DCTO_CARGA] [char](2) NULL,
	[CD_TIPO_DECLARACAO] [char](2) NULL CONSTRAINT [DF_TDECLARACA_CD_TIPO_DEC1__11]  DEFAULT ('01'),
	[CD_TIPO_IMPORTADOR] [char](1) NULL,
	[CD_TIPO_MANIFESTO] [char](1) NULL,
	[CD_TRANSPORTADOR] [char](4) NULL,
	[CD_URF_DESPACHO] [char](7) NULL,
	[CD_URF_ENTR_CARGA] [char](7) NULL,
	[CD_UTIL_DCTO_CARGA] [char](1) NULL CONSTRAINT [DF_TDECLARACA_CD_UTIL_DCT1__17]  DEFAULT ('1'),
	[CD_VIA_TRANSP_CARG] [char](2) NULL,
	[CD_VINC_IMPO_EXPO] [char](1) NOT NULL CONSTRAINT [DF_TDECLARACA_CD_VINC_IMP2__10]  DEFAULT ('1'),
	[DT_CHEGADA_CARGA] [char](8) NULL,
	[DT_EMBARQUE] [char](8) NULL,
	[DT_PROCESSAMENTO] [char](8) NULL,
	[DT_REGISTRO_DI] [char](8) NULL,
	[DT_TRANSMISSAO] [char](8) NULL,
	[IN_BEM_ENCOMENDA] [bit] NOT NULL CONSTRAINT [DF_TDECLARACA_IN_BEM_ENCO1__13]  DEFAULT (0),
	[IN_MATERIAL_USADO] [bit] NOT NULL CONSTRAINT [DF_TDECLARACA_IN_MATERIAL2__13]  DEFAULT (0),
	[IN_MOEDA_NACIONAL] [char](1) NOT NULL CONSTRAINT [DF_TDECLARACA_IN_MOEDA_NA7__10]  DEFAULT ('0'),
	[IN_MOEDA_UNICA] [bit] NOT NULL CONSTRAINT [DF_TDECLARACA_IN_MOEDA_UN1__10]  DEFAULT (0),
	[IN_MULTIMODAL] [bit] NOT NULL CONSTRAINT [DF_TDECLARACA_IN_MULTIMOD2__10]  DEFAULT (0),
	[IN_OPERACAO_FUNDAP] [bit] NOT NULL CONSTRAINT [DF_TDECLARACA_IN_OPERACAO3__10]  DEFAULT (0),
	[IN_RATEAR_FRETE_ITENS] [bit] NOT NULL CONSTRAINT [DF_TDECLARACA_IN_RATEAR_F1__16]  DEFAULT (1),
	[IN_RATEAR_SEGURO_ITENS] [bit] NOT NULL CONSTRAINT [DF_TDECLARACA_IN_RATEAR_S2__16]  DEFAULT (1),
	[IN_REPASSA_DADOS_ADICAO] [bit] NOT NULL CONSTRAINT [DF_TDECLARACA_IN_REPASSA_3__10]  DEFAULT (0),
	[IN_REPASSA_DADOS_CAMBIO] [bit] NOT NULL CONSTRAINT [DF_TDECLARACA_IN_REPASSA_8__10]  DEFAULT (0),
	[NM_CONSIGNATARIO] [char](60) NULL,
	[NM_VEICULO_TRANSP] [char](30) NULL,
	[NR_AGENTE_CARGA] [char](14) NULL,
	[NR_BANCO_COM] [char](5) NULL,
	[NR_BANCO_PAGAMENTO] [char](5) NULL,
	[NR_COMPRADOR_ME] [char](14) NULL,
	[NR_CONSIGNATARIO] [char](14) NULL,
	[NR_CONTRATO_CAMBIO] [char](8) NULL,
	[NR_CPF_REPR_LEGAL] [char](11) NULL,
	[NR_DCTO_CARGA] [char](30) NULL,
	[NR_DCTO_CARGA_MAST] [char](30) NULL,
	[NR_DECL_IMP_PROT] [char](10) NULL,
	[NR_DECLARACAO_IMP] [char](10) NULL,
	[NR_IDENTIFICACAO_COM] [char](14) NULL,
	[NR_MANIFESTO] [char](15) NULL,
	[NR_PRACA_COM] [char](4) NULL,
	[NR_PRACA_PAGAMENTO] [char](5) NULL,
	[NR_ROF] [char](8) NULL,
	[NR_VEICULO_TRANSP] [char](15) NULL,
	[PB_CARGA] [float] NULL CONSTRAINT [DF_TDECLARACA_PB_CARGA_1__10]  DEFAULT (0),
	[PC_COMISSAO] [float] NOT NULL CONSTRAINT [DF_TDECLARACA_PC_COMISSAO9__10]  DEFAULT (0),
	[PC_ICMS] [float] NOT NULL CONSTRAINT [DF_TDECLARACA_PC_ICMS_4__10]  DEFAULT (0),
	[PC_REDUCAO_ICMS] [float] NOT NULL CONSTRAINT [DF_TDECLARACA_PC_REDUCAO_5__10]  DEFAULT (0),
	[PL_CARGA] [float] NULL CONSTRAINT [DF_TDECLARACA_PL_CARGA_2__10]  DEFAULT (0),
	[QT_ADICOES] [int] NOT NULL CONSTRAINT [DF_TDECLARACA_QT_ADICOES_1__10]  DEFAULT (0),
	[TX_INFO_COMPL] [text] NULL,
	[VL_FRETE_TNAC_MNEG] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_FRETE_TN3__10]  DEFAULT (0),
	[VL_TOT_DESPS_MN] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOT_DESP4__10]  DEFAULT (0),
	[VL_TOT_DESPS_MNEG] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOT_DESP5__10]  DEFAULT (0),
	[VL_TOT_FRT_COLLECT] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOT_FRT_6__10]  DEFAULT (0),
	[VL_TOT_FRT_PREPAID] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOT_FRT_7__10]  DEFAULT (0),
	[VL_TOT_MLE_MNEG] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOT_MLE_8__10]  DEFAULT (0),
	[VL_TOT_SEGURO_MNEG] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOT_SEGU9__10]  DEFAULT (0),
	[VL_TOTAL_FRETE_MN] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOTAL_F10__10]  DEFAULT (0),
	[VL_TOTAL_MLE_MN] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOTAL_ML1__10]  DEFAULT (0),
	[VL_TOTAL_SEG_MN] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOTAL_S11__10]  DEFAULT (0),
	[PC_SEGURO_MLE] [float] NULL CONSTRAINT [DF_TDECLARACA_PC_SEGURO_M1__18]  DEFAULT (0),
	[VL_TOTAL_II] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOTAL_II2__14]  DEFAULT (0),
	[VL_TOTAL_IPI] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOTAL_IP3__14]  DEFAULT (0),
	[VL_TOTAL_AD] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOTAL_AD1__14]  DEFAULT (0),
	[DT_ULTIMA_ALTERACAO] [datetime] NULL,
	[IN_RISC_ATUALIZADO] [char](1) NULL CONSTRAINT [DF_TDECLARACA_IN_RISC_ATU1__13]  DEFAULT ('0'),
	[CD_TIPO_BASE_SEGURO] [char](1) NULL CONSTRAINT [DF_TDECLARACA_CD_TIPO_BAS1__13]  DEFAULT ('2'),
	[IN_REB] [char](1) NULL CONSTRAINT [DF_TDECLARACA_IN_REB_1__12]  DEFAULT ('0'),
	[VL_TOT_ICMS] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOT_ICMS1__31]  DEFAULT (0),
	[CD_TIPO_PGTO_TRIB] [char](1) NULL CONSTRAINT [DF_TDECLARACA_CD_TIPO_PGT1__16]  DEFAULT ('1'),
	[NR_CONTA_PGTO_TRIB] [varchar](19) NULL,
	[TX_MLE] [float] NULL CONSTRAINT [DF_TDECLARACA_TX_MLE_3__23]  DEFAULT (0),
	[TX_FRETE] [float] NULL CONSTRAINT [DF_TDECLARACA_TX_FRETE_2__23]  DEFAULT (0),
	[TX_SEGURO] [float] NULL CONSTRAINT [DF_TDECLARACA_TX_SEGURO_4__23]  DEFAULT (0),
	[TX_DOLAR] [float] NULL CONSTRAINT [DF_TDECLARACA_TX_DOLAR_1__23]  DEFAULT (0),
	[NR_REF_CLI] [varchar](15) NULL,
	[IN_SISCOMEX] [char](1) NULL CONSTRAINT [DF_TDECLARACA_IN_SISCOMEX1__22]  DEFAULT ('0'),
	[CD_TIPO_ICMS] [char](1) NULL CONSTRAINT [DF_TDECLARACA_CD_TIPO_ICM1__30]  DEFAULT ('1'),
	[IN_ICMS_IMPRESSO] [char](1) NULL CONSTRAINT [DF_TDECLARACA_IN_ICMS_IMP2__30]  DEFAULT ('0'),
	[DT_ICMS_IMPRESSO] [datetime] NULL,
	[VL_TOTAL_ACRESCIMOS_MN] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOTAL_AC1__23]  DEFAULT (0),
	[VL_TOTAL_DEDUCOES_MN] [float] NULL CONSTRAINT [DF_TDECLARACA_VL_TOTAL_DE2__23]  DEFAULT (0),
	[DT_CALCULO] [datetime] NULL,
	[VL_DESPESA_ITEM] [decimal](18, 0) NULL,
	[VL_DESPESA_ITEM_MN] [float] NULL,
	[CD_ORGAO_FIN_INTER] [char](2) NULL,
	[CD_PRESENCA_CARGA] [char](36) NULL,
	[NR_SEQ_RETIFICACAO] [char](2) NULL,
	[CD_MOTIVO_RETIF] [char](2) NULL,
	[DT_RETIFICACAO] [datetime] NULL,
	[DT_EXON_IMPRESSO] [datetime] NULL,
	[IN_EXON_IMPRESSO] [char](1) NULL CONSTRAINT [DF_TDECLARACAO_IMPORTACAO_IN_EXON_IMPRESSO]  DEFAULT ('0'),
	[CD_TRIBUTACAO_ICMS] [char](1) NULL,
	[CD_FUND_LEGAL_ICMS] [char](3) NULL,
	[VL_TOTAL_CAMBIO] [float] NULL CONSTRAINT [DF_TDECLARACAO_IMPORTACAO_VL_TOTAL_CAMBIO]  DEFAULT (0),
	[CD_AUSENCIA_FABRIC] [char](1) NULL,
	[CD_FORNECEDOR] [char](5) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_PAIS_AQUIS_MERC] [char](3) NULL,
	[CD_PAIS_ORIG_MERC] [char](3) NULL,
	[QT_PARC_FINANC_360] [int] NULL,
	[QT_PERIOD_PGTO_360] [int] NULL,
	[CD_PERIOD_PGTO_360] [char](1) NULL,
	[IN_EMBUT_FRT_ITENS] [bit] NOT NULL CONSTRAINT [DF__TDECLARAC__IN_EM__6EEDBBCA]  DEFAULT (0),
	[IN_EMBUT_SEG_ITENS] [bit] NOT NULL CONSTRAINT [DF__TDECLARAC__IN_EM__6FE1E003]  DEFAULT (0),
	[VL_TOTAL_ACRESCIMOS_MNEG] [float] NULL CONSTRAINT [DF__TDECLARAC__VL_TO__1B8B5817]  DEFAULT (0),
	[VL_TOTAL_DEDUCOES_MNEG] [float] NULL CONSTRAINT [DF__TDECLARAC__VL_TO__1C7F7C50]  DEFAULT (0),
	[VL_TOTAL_FRETE_MNEG] [float] NULL CONSTRAINT [DF__TDECLARAC__VL_TO__1D73A089]  DEFAULT (0),
	[NR_PROCESSO_SISCOMEX] [char](8) NULL,
	[IN_PGTO_VARIAV_360] [bit] NOT NULL CONSTRAINT [DF__TDECLARAC__IN_PG__74FC6632]  DEFAULT (0),
	[CD_VEICULO_TRANSP] [char](4) NULL,
	[PC_REDUCAO_IPT_BLI] [float] NULL CONSTRAINT [DF_TDECLARACAO_IMPORTACAO_PC_REDUCAO_IPT_BLI]  DEFAULT (0),
	[DT_DI] [datetime] NULL,
	[VL_TOTAL_TX_SCX] [float] NULL DEFAULT (0),
	[VL_TOT_PIS_COFINS] [numeric](15, 2) NULL,
	[VL_TOTAL_SEGURO_MN] [float] NULL CONSTRAINT [DF_TDECLARACAO_IMPORTACAO_VL_TOT_SEGURO_MN]  DEFAULT (0),
	[IN_CALCULOU_COM_AFRMM] [char](1) NULL,
	[HR_DI] [char](8) NULL,
	[HR_CALCULO] [char](8) NULL,
	[VL_TOTAL_II_SEM_SEGURO] [float] NULL,
	[VL_TOTAL_IPI_SEM_SEGURO] [float] NULL,
	[VL_TOT_ICMS_SEM_SEGURO] [float] NULL,
	[NR_TRANSMISSAO] [char](15) NULL,
	[CD_USUARIO_TRANSMISSAO] [char](4) NULL,
	[IN_FMA] [char](1) NULL,
	[DT_PAGAMENTO_DARF] [datetime] NULL,
 CONSTRAINT [PK_TDECLARACAO_IMPORTACAO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TDECLARACAO_IMPORTACAO_IDX01] ON [TDECLARACAO_IMPORTACAO]
(
	[CD_VIA_TRANSP_CARG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TDECLARACAO_IMPORTACAO_IDX02] ON [TDECLARACAO_IMPORTACAO]
(
	[CD_MOEDA_MLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
