USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEBIMENTO_ITEM_RECEB](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RECEBIMENTO] [char](3) NOT NULL,
	[NR_LANC_RECEB] [char](6) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NULL,
	[VL_SOLICITADO] [float] NULL CONSTRAINT [DF_TRECEBIMEN_VL_SOLICITA5__33]  DEFAULT (0),
	[VL_RECEBIDO] [float] NULL CONSTRAINT [DF_TRECEBIMEN_VL_RECEBIDO4__33]  DEFAULT (0),
	[IN_CANCELADO] [char](1) NOT NULL CONSTRAINT [DF_TRECEBIMEN_IN_CANCELAD3__33]  DEFAULT ('0'),
	[VL_UTILIZADO] [float] NULL CONSTRAINT [DF_TRECEBIMEN_VL_UTILIZAD1__49]  DEFAULT (0),
	[VL_DEVOLVIDO] [float] NULL CONSTRAINT [DF_TRECEBIMEN_VL_DEVOLVID2__18]  DEFAULT (0),
 CONSTRAINT [PK_TRECEBIMENTO_ITEM_RECEB] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_RECEBIMENTO] ASC,
	[NR_LANC_RECEB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
