USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DIAS](
	[TP_DIAS] [char](1) NOT NULL,
	[NM_TP_DIAS] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TTP_DIAS] PRIMARY KEY CLUSTERED 
(
	[TP_DIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
