USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TESTAGIO_PROCESSO_INDAIA05](
	[NR_REFERENCIA] [char](30) NOT NULL,
	[NR_ITEM_CLIENTE] [char](4) NOT NULL,
	[DT_ULT_ALTERACAO] [datetime] NOT NULL,
	[NR_PROCESSO_ADM] [char](18) NULL,
	[NR_PROCESSO_DES] [char](18) NULL,
	[NR_PROCESSO_FI] [char](18) NULL,
	[IN_SUBSTITUIDO] [char](1) NULL
) ON [PRIMARY]

GO
