USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FIN_DESP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[NM_ITEM] [char](30) NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[NM_EMBARCACAO] [char](40) NULL,
	[VL_ITEM] [float] NULL CONSTRAINT [DF_TREL_FIN_DESP_VL_ITEM]  DEFAULT (0),
	[VL_CPMF] [float] NULL CONSTRAINT [DF_TREL_FIN_DESP_VL_CPMF]  DEFAULT (0),
	[VL_REEMBOLSO] [float] NULL CONSTRAINT [DF_TREL_FIN_DESP_VL_REEMBOLSO]  DEFAULT (0),
	[DT_FATURA] [datetime] NULL,
	[DT_PAGTO] [datetime] NOT NULL,
	[NR_DIAS] [int] NULL,
	[NR_FATURA] [char](6) NULL,
	[IN_RESTITUI] [char](1) NULL,
	[PC_TAXA] [float] NULL,
	[DT_LANCTO] [datetime] NULL,
	[NR_CHEQUE] [char](6) NULL,
	[NM_AREA] [char](10) NULL,
	[NR_ITEM_PO] [char](4) NULL
) ON [PRIMARY]

GO
