USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMERCAD_NVE](
	[CD_MERCADORIA] [char](30) NOT NULL,
	[CD_NIVEL_NVE] [char](3) NOT NULL,
	[CD_ATRIBUTO_NCM] [char](2) NOT NULL,
	[CD_ESPECIF_NCM] [char](4) NOT NULL,
	[CD_NCM_ATRIBUTO] [char](8) NULL,
	[CD_NCM_ESPECIF] [char](8) NULL,
 CONSTRAINT [PK_TMERCAD_NVE] PRIMARY KEY CLUSTERED 
(
	[CD_MERCADORIA] ASC,
	[CD_NIVEL_NVE] ASC,
	[CD_ATRIBUTO_NCM] ASC,
	[CD_ESPECIF_NCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
