USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [VW_FATO_IMPO] AS



SELECT top 10     iSNULL(p.CD_GRUPO,'') CdGrupo, 
			ISNULL(P.CD_CLIENTE,'') cdCliente,
			ISNULL(p.NR_PROCESSO,'') Processo,
			ISNULL(P.CD_AREA,'') CdArea,
			ISNULL(P.CD_PRODUTO,'') CdProduto,
			ISNULL(P.CD_UNID_NEG,'') CdUnidNeg,
			ISNULL(P.CD_EXPORTADOR,'') CdExportador,
			ISNULL(p.CD_AGENTE,'') CdAgente,
			ISNULL(P.CD_EMBARCACAO,'') CdEmbarcacao,
			ISNULL(P.CD_ARMAZEM_ATRACACAO,'') CdArmazemAtracacao,
			ISNULL(P.CD_ARMAZEM_DESCARGA,'') CdArmazemDescarga,
			ISNULL(P.CD_CANAL,'') CdCanal,
			ISNULL(p.CD_TRANSPORTADOR,'') CdTransportador,
			ISNULL(P.CD_PAIS_ORIGEM,'') CdPaisOrigem,
			ISNULL(P.CD_PAIS_DESTINO,'') CdPaisDestino,
			ISNULL(p.TP_ESTUFAGEM,'') cdEstufagem,
			ISNULL(p.CD_LOCAL_EMBARQUE,'') cdLocalEmbarque,
			ISNULL(P.CD_LOCAL_DESEMBARQUE,'') cdLocalDesembarque,
			ISNULL(DI.CD_URF_DESPACHO,'') CdURFDespacho,
			ISNULL(DI.CD_INCOTERM,'') CdIncoterm,
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '003'),103),'') AS DtAbertura, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '896'),103),'') AS DtEntradaProtocoAnvisa,
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '947'),103),'') AS DtEnvioProcessoAnvisa,
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '600'),103),'') AS DtCriacaoFatura,
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '416'),103),'') AS DtAnaliseDocumental, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '001'),103),'') AS DtRecepCopiasDocumento, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '522'),103),'') AS DtRecepBLOriginal, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '216'),103),'') AS DtRecepFaturaOriginal, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '381'),103),'') AS DtRecepPackingListOriginal, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '082'),103),'') AS DtDocsCompletosAnalise, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '162'),103),'') AS DtChegadaNavioAviaoCaminhao, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '012'),103),'') AS DtPresencaCarga, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '021'),103),'') AS DtRegistroDi, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '088'),103),'') AS DtDesembaraco, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '616'),103),'') AS DtRecebimentoDanfe, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '041'),103),'') AS DtLibProcessoTransportadora,
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '391'),103),'') AS DtPendenciaOK,                                
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '397'),103),'') AS DtDeferimentoLI,                                
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '056'),103),'') AS DtRetiradaIsencaoSuspensaoDMM,                    
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '049'),103),'') AS DtProcessoIsencaoSuspensaoDMM,                
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '032'),103),'') AS DtAverbacaoApresentacaoTerminal,               
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '114'),103),'') AS DtProcessoEnviadoFaturamento,                   
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '289'),103),'') AS DtProcessoEnviadoPreFaturamento,              
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '034'),103),'') AS DtEntregaReceitaFederal,                        
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '017'),103),'') AS DtLiberacaoConhecimentoMaritimo,                
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '013'),103),'') AS DtPagamentoBL,                                  
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '197'),103),'') AS DtEnvioDocumentosDespachante,     
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '379'),103),'') AS DtRegistroLISiscomex,                             
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '186'),103),'') AS DtRecepcaoFaturaProForma,                     
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '018'),103),'') AS DtSolicitacaoNumerarioDespesas,     
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '076'),103),'') AS DtRecebimentoNumerarioDespesas,        
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '168'),103),'') AS DtPedidoSAP,
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '425'),103),'') AS DtEnvioShippingInstruction, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '486'),103),'') AS DtEmbarqueSolicitada, 
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '045'),103),'') AS DtRecepcaoDocumentosOriginais,             
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '387'),103),'') AS DtSolicitacaoDANFE,
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '838'),103),'') AS DtEntregaProgramada,      
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '164'),103),'') AS DtMercadoriaFabrica,
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '798'),103),'') AS DtNecessidadeFabrica,  
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '574'),103),'') AS DtEntregaFabrica,   
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '342'),103),'') AS DtEnvioDocumentosCambio,     
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '621'),103),'') AS DtChegadaFabricaUltContainer,  
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '092'),103),'') AS DtFaturamentoIndaia,   
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '721'),103),'') AS DtFaturamentoIndaiaDespesas,   
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '161'),103),'') AS DtPrevisaoChegadaNavioVooCaminhao,  
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '050'),103),'') AS DtEmissaoLI,        
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '444'),103),'') AS DtProtocoloMAPA,    
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '351'),103),'') AS DtAutorizacaoEmbarqueLI,   
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '605'),103),'') AS DtRecepcaoCopiaBL,  
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '601'),103),'') AS DtEnviopendencia,    
			isnull(convert(datetime,(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '602'),103),'') AS DtDoctosOkImpressao,
			
			isnull((DBO.FN_KPI_UTEIS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '162'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '041'))),'') DtChegadaVSDtLibProcessoTransp_Uteis,
			isnull((DBO.FN_KPI_UTEIS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '082'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '162'))),'') DtDocsCompAnaliseVSDtChegada_Uteis,
			isnull((DBO.FN_KPI_UTEIS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '082'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '416'))),'') DtDocsCompAnaliseVSDtAnaliseDoc_Uteis,
			isnull((DBO.FN_KPI_UTEIS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '162'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '012'))),'') DtChegadaNavioVSDtPresencaCarga_Uteis,
			isnull((DBO.FN_KPI_UTEIS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '012'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '021'))),'') DtPresencaCargaVSDtRegDi_Uteis,
			isnull((DBO.FN_KPI_UTEIS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '021'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '041'))),'') DtRegDiVSDtLibProcessoTransp_Uteis,
			isnull((DBO.FN_KPI_UTEIS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '021'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '616'))),'') DtRegDiVSDtRecebDanfe_Uteis,
			isnull((DBO.FN_KPI_UTEIS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '082'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '600'))),'') DtDocsCompAnaliseVSDtCriacaoFat_Uteis,
			isnull((DBO.FN_KPI_UTEIS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '186'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '379'))),'') DtRecepFatProFormaVSDtRegLISiscomex_Uteis,
			
			isnull((DBO.FN_KPI_CORRIDOS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '162'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '041'))),'') DtChegadaVSDtLibProcessoTransp_Corridos,
			isnull((DBO.FN_KPI_CORRIDOS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '082'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '162'))),'') DtDocsCompAnaliseVSDtChegada_Corridos,
			isnull((DBO.FN_KPI_CORRIDOS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '082'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '416'))),'') DtDocsCompAnaliseVSDtAnaliseDoc_Corridos,
			isnull((DBO.FN_KPI_CORRIDOS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '162'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '012'))),'') DtChegadaNavioVSDtPresencaCarga_Corridos,
			isnull((DBO.FN_KPI_CORRIDOS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '012'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '021'))),'') DtPresencaCargaVSDtRegDi_Corridos,
			isnull((DBO.FN_KPI_CORRIDOS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '021'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '041'))),'') DtRegDiVSDtLibProcessoTransp_Corridos,
			isnull((DBO.FN_KPI_CORRIDOS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '021'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '616'))),'') DtRegDiVSDtRecebDanfe_Corridos,
			isnull((DBO.FN_KPI_CORRIDOS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '082'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '600'))),'') DtDocsCompAnaliseVSDtCriacaoFat_Corridos,
			isnull((DBO.FN_KPI_CORRIDOS ((SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '186'),(SELECT   F.DT_REALIZACAO FROM BROKER.DBO.TFOLLOWUP F (NOLOCK) WHERE F.NR_PROCESSO = P.NR_PROCESSO AND F.CD_EVENTO = '379'))),'') DtRecepFatProFormaVSDtRegLISiscomex_Corridos
			
FROM            TPROCESSO AS P 
INNER JOIN TGRUPO AS G ON G.CD_GRUPO = P.CD_GRUPO
LEFT JOIN TDECLARACAO_IMPORTACAO DI ON DI.NR_PROCESSO = P.NR_PROCESSO						  
WHERE  IN_CANCELADO=0 AND P.CD_PRODUTO='01' AND YEAR(DT_ABERTURA) >= 2014 AND P.CD_GRUPO='002' and SUBSTRING(P.NR_PROCESSO,5,2) ='IM'


GO
