USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_ESTAB_NF](
	[NR_PROCESSO] [char](18) NULL,
	[NR_ESTABELECIMENTO] [char](2) NULL,
	[NR_SUFIXO_CGC] [char](6) NULL
) ON [PRIMARY]

GO
