USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  View dbo.VW_PROC_PESO_BRUTO    Script Date: 02/09/1999 09:04:23 AM ******/
CREATE VIEW [VW_PROC_PESO_BRUTO] AS
SELECT NR_PROCESSO, SUM(PB_EMBALAGEM) / 1000 AS PESO_BRUTO
FROM TPROCESSO_EMBALAGEM (NOLOCK)
GROUP BY NR_PROCESSO


GO
