USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PROCESSO_PO_ITEM](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PO] [char](10) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[CD_MODALIDADE] [char](1) NULL,
	[CD_NCM] [char](11) NULL,
	[PL_ITEM] [float] NULL,
	[QT_BAIXADA] [float] NULL,
	[QT_INICIAL] [float] NULL,
	[QT_DISPONIVEL] [float] NULL,
	[VL_UNITARIO] [float] NULL,
	[VL_TOTAL_ITEM] [float] NULL,
	[TX_MERCADORIA] [text] NULL,
 CONSTRAINT [PK_TREL_PROCESSO_PO_ITEM] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[NR_PO] ASC,
	[NR_ITEM] ASC,
	[CD_MERCADORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [TREL_PROCESSO_PO_ITEM] ADD  CONSTRAINT [DF_TREL_PROCESSO_PO_ITEM_PL_ITEM]  DEFAULT ((0)) FOR [PL_ITEM]
GO
ALTER TABLE [TREL_PROCESSO_PO_ITEM] ADD  CONSTRAINT [DF_TREL_PROCESSO_PO_ITEM_QT_BAIXADA]  DEFAULT ((0)) FOR [QT_BAIXADA]
GO
ALTER TABLE [TREL_PROCESSO_PO_ITEM] ADD  CONSTRAINT [DF_TREL_PROCESSO_PO_ITEM_QT_INICIAL]  DEFAULT ((0)) FOR [QT_INICIAL]
GO
ALTER TABLE [TREL_PROCESSO_PO_ITEM] ADD  CONSTRAINT [DF_TREL_PROCESSO_PO_ITEM_QT_DISPONIVEL]  DEFAULT ((0)) FOR [QT_DISPONIVEL]
GO
ALTER TABLE [TREL_PROCESSO_PO_ITEM] ADD  CONSTRAINT [DF_TREL_PROCESSO_PO_ITEM_VL_UNITARIO]  DEFAULT ((0)) FOR [VL_UNITARIO]
GO
ALTER TABLE [TREL_PROCESSO_PO_ITEM] ADD  CONSTRAINT [DF_TREL_PROCESSO_PO_ITEM_VL_TOTAL_ITEM]  DEFAULT ((0)) FOR [VL_TOTAL_ITEM]
GO
