USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_RESUMO_FAT_TOTAIS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_PAGINA] [char](2) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[VIA_TRANSP] [char](2) NOT NULL,
	[VL_DESPESA] [float] NOT NULL
) ON [PRIMARY]

GO
