USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMERCADORIA_EXP_BKP](
	[CD_MERCADORIA] [char](15) NOT NULL,
	[NM_MERCADORIA] [text] NULL,
	[AP_MERCADORIA] [char](25) NOT NULL,
	[VL_UNITARIO] [float] NULL,
	[CD_UN_MED_COMERC] [char](3) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_NALADI_NCCA] [char](7) NULL,
	[PL_MERCADORIA] [float] NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_GRUPO] [char](3) NULL,
	[CD_FABR_EXPO] [char](1) NULL,
	[CD_TIPO_CALCULO] [char](1) NULL,
	[CD_MATERIAL] [varchar](15) NULL,
	[IN_NECESSITA_LI] [bit] NOT NULL,
	[CD_FAMILIA_PROD] [char](8) NULL,
	[CD_MOEDA] [char](3) NULL,
	[CD_EMBALAGEM] [char](4) NULL,
	[QT_POR_EMBALAGEM] [float] NULL,
	[CD_CATEGORIA_TEXTIL] [char](4) NULL,
	[CD_FINALIDADE_MERC] [char](3) NULL,
	[CD_UF_PRODUTOR] [char](2) NULL,
	[TX_DESC_INGLES] [text] NULL,
	[TX_DESC_ESP] [text] NULL,
	[PB_MERCADORIA] [float] NULL,
	[NR_LINHA] [char](10) NULL,
	[CD_COR] [char](10) NULL,
	[CD_AREA] [char](2) NULL,
	[IN_DRAWBACK_INDAIA] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
