USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOG_ERRO_SQL](
	[NR_LINE] [int] NULL,
	[TX_MESSAGE] [varchar](4000) NULL,
	[CD_ERROR] [int] NULL,
	[NM_DATABASE] [varchar](255) NULL DEFAULT (db_name()),
	[NM_PROC] [varchar](255) NULL,
	[NR_SEVERITY] [int] NULL,
	[NR_STATE] [int] NULL,
	[NM_USUARIO] [varchar](255) NULL DEFAULT (suser_name()),
	[NM_HOST] [varchar](255) NULL DEFAULT (host_name()),
	[DT_ERRO] [datetime] NULL DEFAULT (getdate())
) ON [PRIMARY]

GO
