USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_CNTR](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_CNTR] [char](20) NULL,
	[DT_ENT_ARM] [datetime] NULL,
	[DT_DESOVA] [datetime] NULL,
	[DT_DEMURRAGE] [datetime] NULL,
	[IN_DESOVA] [char](1) NULL CONSTRAINT [DF_TPROCESSO_CNTR_IN_DESOVA]  DEFAULT ('0'),
	[IN_DEMURRAGE] [char](1) NULL CONSTRAINT [DF_TPROCESSO_CNTR_IN_DEMURRAGE]  DEFAULT ('0'),
	[NR_LACRE] [char](20) NULL,
	[TP_CNTR] [char](2) NULL CONSTRAINT [DF_TPROCESSO_CNTR_TP_CNTR]  DEFAULT ('01'),
	[NR_FREE_TIME] [int] NULL,
	[DRREG] [int] NULL,
	[IN_REPARO_CNTR] [char](1) NULL,
	[IN_PAGTO_EFETIVADO] [bit] NULL CONSTRAINT [DF__TPROCESSO__IN_PA__60F56D85]  DEFAULT (0),
	[NR_CHEQUE_CAUCAO] [char](7) NULL,
	[VL_CHEQUE_CAUCAO] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_CH__61E991BE]  DEFAULT (0),
	[DT_EMISSAO_CNTR] [datetime] NULL,
	[TX_ESTUFAGEM] [char](10) NULL,
	[DT_DEVOLUCAO_CNTR] [datetime] NULL,
	[DT_ENT] [datetime] NULL,
	[TP_DIAS] [char](1) NULL,
	[CD_STATUS_CNTR] [char](2) NULL,
	[CD_BANCO_CAUCAO] [char](3) NULL,
	[DT_EMISSAO_CAUCAO] [datetime] NULL,
	[CD_MOEDA_DEPOSITO] [char](3) NULL,
	[TX_DEPOSITO] [float] NULL CONSTRAINT [DF__TPROCESSO__TX_DE__39084313]  DEFAULT (0),
	[VL_DEPOSITO] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_DE__39FC674C]  DEFAULT (0),
	[IN_DEPOSITADO] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_DE__3AF08B85]  DEFAULT ('0'),
	[IN_DEVOLVIDO] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_DE__3BE4AFBE]  DEFAULT ('0'),
	[IN_AVARIA] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_AV__3CD8D3F7]  DEFAULT ('0'),
	[TX_OBS_AVARIA] [text] NULL,
	[VL_AVARIA] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_AV__3DCCF830]  DEFAULT (0),
	[IN_LAVAGEM] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_LA__3EC11C69]  DEFAULT ('0'),
	[VL_LAVAGEM] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_LA__3FB540A2]  DEFAULT (0),
	[DT_ENTREGA_FABRICA] [datetime] NULL,
	[DT_RET_CNTR_FABRICA] [datetime] NULL,
	[DT_ENTRADA_PATIO_TRANSP] [datetime] NULL,
	[DT_CARREGAMENTO] [datetime] NULL,
	[IN_MESQUITA] [char](1) NULL CONSTRAINT [DF_TPROCESSO_CNTR_IN_MESQUITA]  DEFAULT ('0'),
	[NM_MOTIVO_DEM] [char](255) NULL,
	[NM_RESP_DEM] [char](100) NULL,
	[NM_APROV_POR_DEM] [char](100) NULL,
	[DT_SAIDA_ARM] [datetime] NULL,
	[VL_PESO_TON] [float] NULL,
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[VL_VENDA] [float] NULL,
	[TP_FRETE] [char](1) NULL,
	[VL_CUSTO_TOTAL] [float] NULL,
	[VL_CUBAGEM] [float] NULL,
	[NR_LACRE_SIF] [char](11) NULL,
	[TARA_CNTR] [float] NULL,
	[IN_PARTE_LOTE] [char](1) NULL,
	[DT_CHEGADA_FABR] [datetime] NULL,
	[DT_ENTR_TERMINAL] [datetime] NULL,
	[DT_PRE_STACKING] [datetime] NULL,
	[DT_SOLIC_RET_VAZIO] [datetime] NULL,
	[DT_RET_VAZIO] [datetime] NULL,
	[DT_SAIDA_FABR] [datetime] NULL,
	[CD_CARRETA] [char](2) NULL,
	[CD_LOCAL_RET_CNTR] [char](4) NULL,
	[CNPJ_LOCAL_ENTREGA] [char](14) NULL,
	[NR_CTRC] [varchar](20) NULL,
	[IN_ARMAZEM_FABRICA] [char](1) NULL,
	[IN_REUTILIZA_EXP] [char](1) NULL,
	[TX_LOCAL_DEVOLUCAO_CNTR] [varchar](100) NULL,
	[NM_MOTORISTA] [varchar](100) NULL,
	[DT_PRIMEIRA_INTEGRACAO] [datetime] NULL,
	[DT_ULTIMA_INTEGRACAO] [datetime] NULL,
	[DT_PROGRAMACAO] [datetime] NULL,
	[NM_MOTORISTA_DESCIDA] [varchar](100) NULL,
	[DT_SAIDA_K10] [datetime] NULL,
	[DT_RETIRADA_PORTO] [datetime] NULL,
	[DT_PREV_CHEGADA_FABR] [datetime] NULL,
	[CD_LOCAL_ENTREGA] [char](10) NULL,
 CONSTRAINT [PK_TPROCESSO_CNTR] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TPROCESSO_CNTR_7_235720488__K2_K1] ON [TPROCESSO_CNTR]
(
	[NR_CNTR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_TPROCESSO_CNTR] ON [TPROCESSO_CNTR]
(
	[NR_PROCESSO] ASC,
	[NR_CNTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
