USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** Object:  View dbo.VW_DESPACHANTES_EXP    Script Date: 02/09/1999 09:03:48 AM ******/
CREATE VIEW [VW_DESPACHANTE_CLIENTE] AS
select distinct 
 d.CD_DESPACHANTE CD_ACESSO
,d.NM_DESPACHANTE NM_USUARIO
,d.AP_DESPACHANTE AP_USUARIO
,d.CPF_DESPACHANTE CPF_USUARIO
,d.NM_SENHA CD_SENHA_SCX
,d.IN_ATIVO
,dc.TIPO
,dc.CD_EMPRESA
from tdespachante d
join  TDESPACHANTE_CLIENTE dc on dc.CD_DESPACHANTE=d.CD_DESPACHANTE  and d.IN_ATIVO in (1,4)

GO
