USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EXP_EMB_AVERB](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NM_UNID_NEG] [varchar](50) NULL,
	[NM_CLIENTE] [varchar](50) NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_AVERBACAO] [datetime] NULL,
	[DELTA] [int] NULL,
	[NM_AGENTE] [varchar](60) NULL,
	[NM_BL] [char](30) NULL,
 CONSTRAINT [PK_TREL_EXP_EMB_AVERB] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_EXP_EMB_AVERB] ADD  CONSTRAINT [DF_TREL_EXP_EMB_AVERB_DELTA]  DEFAULT (0) FOR [DELTA]
GO
