USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EST_ARMZ_CARGA](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_GRUPO] [char](3) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_ARM_DESCARGA] [char](4) NULL,
	[CD_AREA] [char](2) NULL,
	[NR_MES] [char](2) NULL,
	[NR_ANO] [char](4) NULL,
	[VL_QTDE] [float] NULL,
	[VL_ARMAZENAGEM] [float] NULL,
	[DT_FINAL] [datetime] NULL
) ON [PRIMARY]

GO
