USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_DESPESAS](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_DESP] [char](4) NOT NULL,
	[CD_ITEM] [char](3) NULL,
	[TP_BASE_CALCULO] [char](2) NULL,
	[CD_MOEDA] [char](3) NULL,
	[TP_ORIGEM_DESPESA] [char](1) NULL CONSTRAINT [DF_TPROCESSO_DESPESAS_TP_ORIGEM_DESPESA]  DEFAULT ('8'),
	[VL_BASE_DESPESA] [float] NULL,
	[VL_COMPRA_AG] [float] NULL,
	[VL_COMPRA_CIA] [float] NULL,
	[VL_VENDA] [float] NULL,
	[IN_DESPESA] [char](1) NULL,
	[IN_MENCIONADO] [char](1) NULL,
	[CD_TAB_REF] [char](6) NULL,
	[TP_FRETE] [char](1) NULL,
	[TP_ESTUFAGEM] [char](1) NULL,
	[IN_REPASSA] [char](1) NULL,
	[VL_INTERVALO_INICIAL] [float] NULL,
	[VL_INTERVALO_FINAL] [float] NULL,
	[VL_BASE_AG] [float] NULL,
	[VL_BASE_CLI] [float] NULL,
	[IN_PROFIT] [char](1) NULL,
	[VL_VENDA_EST] [float] NULL,
	[VL_CUSTO_EST] [float] NULL,
	[TP_DUE] [char](1) NULL,
	[CD_MOEDA_VENDA] [char](3) NULL,
	[CD_FRETE] [char](1) NULL,
	[NR_NOTIFICACAO] [char](3) NULL CONSTRAINT [DF__TPROCESSO__NR_NO__2FF30ECE]  DEFAULT ('0'),
	[IN_SOLICITADO] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_SO__40297697]  DEFAULT ('0'),
	[IN_RECEITA_AGENTE] [char](1) NULL CONSTRAINT [DF_TPROCESSO_DESPESAS_IN_RECEITA_AGENTE]  DEFAULT ('0'),
 CONSTRAINT [PK_TPROCESSO_DESPESAS] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_DESP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
