USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_DDE_EXTERNO](
	[NR_PROCESSO] [char](18) NULL,
	[NR_DDE] [char](15) NULL,
	[IN_BAIXADO] [bit] NULL,
	[TX_OBSERVACAO] [varchar](1000) NULL,
	[CPF_DESPACHANTE] [char](11) NULL,
	[NM_SENHA_DESPACHANTE] [char](30) NULL
) ON [PRIMARY]

GO
