USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_FAT_DEM](
	[TP_FAT_DEM] [char](1) NOT NULL,
	[NM_TP_FAT_DEM] [char](20) NOT NULL,
 CONSTRAINT [PK_TTP_FAT_DEM] PRIMARY KEY CLUSTERED 
(
	[TP_FAT_DEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
