USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDI_NVE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_NIVEL_NVE] [char](3) NOT NULL,
	[CD_ATRIBUTO_NCM] [char](2) NOT NULL,
	[CD_ESPECIF_NCM] [char](4) NOT NULL,
	[CD_NCM_ATRIBUTO] [char](8) NULL,
	[CD_NCM_ESPECIF] [char](8) NULL,
 CONSTRAINT [PK_TDI_NVE] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[NR_ITEM] ASC,
	[CD_NIVEL_NVE] ASC,
	[CD_ATRIBUTO_NCM] ASC,
	[CD_ESPECIF_NCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
