USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARMADOR](
	[CD_ARMADOR] [char](4) NOT NULL,
	[NM_ARMADOR] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_ARMADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
