USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_IMP_DEMURRAGE_PAGTO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[DT_PAGAMENTO] [datetime] NOT NULL,
	[VL_PAGAMENTO] [float] NOT NULL CONSTRAINT [DF_TREL_IMP_DEMURRAGE_PAGTO_VL_PAGAMENTO]  DEFAULT (0),
 CONSTRAINT [PK_TREL_IMP_DEMURRAGE_PAGTO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[DT_PAGAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
