USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPARAMETROS](
	[INDICE] [char](1) NOT NULL,
	[DT_SOLIC_CH] [datetime] NULL,
	[NR_SOLIC_CH] [int] NOT NULL,
	[HM_PARA_SOLIC_CH] [char](5) NULL,
	[PATH_RISC] [varchar](100) NULL,
	[CD_INSTALACAO] [char](1) NULL,
	[NM_SERVIDOR] [varchar](15) NULL,
	[NM_CID_CHEQUE] [char](20) NULL,
	[CD_ITEM_SDA] [char](3) NULL,
	[CD_ITEM_RECEB_NUM] [char](3) NULL,
	[CD_ITEM_DEVOL_NUM] [char](3) NULL,
	[CD_ITEM_EXTOR_NUM] [char](3) NULL,
	[CD_ITEM_SALDO_CRE] [char](3) NULL,
	[CD_ITEM_SALDO_DEB] [char](3) NULL,
	[CD_ITEM_RECEB_SD] [char](3) NULL,
	[CD_ITEM_PAGTO_SD] [char](3) NULL,
	[CD_ITEM_IR] [char](3) NULL,
	[VL_ALIQ_IR] [float] NULL,
	[VL_MIN_IR] [float] NULL,
	[CD_ITEM_CPMF] [char](3) NULL,
	[CD_EV_REG_DI] [char](3) NULL,
	[CD_EV_DESEMB] [char](3) NULL,
	[CD_EV_PAGTO_LI] [char](3) NULL,
	[CD_EV_ENT] [char](3) NULL,
	[CD_EV_CHEGADA] [char](3) NULL,
	[CD_EV_ENT_SETPIN] [char](3) NULL,
	[CD_EV_SAI_SETPIN] [char](3) NULL,
	[CD_EV_DESCARGA] [char](3) NULL,
	[CD_ITEM_COMISSAO] [char](3) NULL,
	[CD_ITEM_EXPED] [char](3) NULL,
	[CD_EV_PREV_CHEGADA] [char](3) NULL,
	[CD_EV_ETD] [char](3) NULL,
	[CD_EV_PREV_DESEMB] [char](3) NULL,
	[CD_EV_CONHECIMENTO] [char](3) NULL,
	[CD_EV_RECEB_DOC] [char](3) NULL,
	[CD_ITEM_II] [char](3) NULL,
	[CD_ITEM_IPI] [char](3) NULL,
	[CD_ITEM_ICMS] [char](3) NULL,
	[CD_ITEM_FRETE_AEREO] [char](3) NULL,
	[CD_ITEM_FRETE_MAR] [char](3) NULL,
	[CD_ITEM_SEGURO] [char](3) NULL,
	[CD_ITEM_VMLE] [char](3) NULL,
	[CD_ITEM_ACRESC] [char](3) NULL,
	[CD_ITEM_DED] [char](3) NULL,
	[CD_ITEM_SISCOMEX] [char](3) NULL,
	[CD_ITEM_AFRMM] [char](3) NULL,
	[CD_GRP_ITEM_FRETE] [char](2) NULL,
	[CD_GRP_ITEM_ARM] [char](2) NULL,
	[CD_GRP_ITEM_CAP] [char](2) NULL,
	[PATH_CONTABIL] [char](100) NULL,
	[PATH_GSM_SERVER] [char](100) NULL,
	[PATH_GSM_CLIENT] [char](100) NULL,
	[CD_ITEM_DESP_ORIG] [char](3) NULL,
	[CD_EV_EMBARQUE] [char](3) NULL,
	[CD_FAV_SM] [char](5) NULL,
	[PATH_NF_DBF] [char](100) NULL,
	[CD_EV_DIG_DI] [char](3) NULL,
	[CD_EV_ENTREGA_MERC] [char](3) NULL,
	[CD_GRP_ITEM_DESP_DESPACHO] [char](2) NULL,
	[CD_EV_AVERBACAO] [char](3) NULL,
	[CD_EV_NUM_IMP] [char](3) NULL,
	[CD_EV_REC_IMP] [char](3) NULL,
	[CD_EV_PAG_ICMS] [char](3) NULL,
	[CD_EV_PAG_ARM] [char](3) NULL,
	[CD_EV_NUM_FRETE] [char](3) NULL,
	[CD_EV_REC_FRETE] [char](3) NULL,
	[CD_EV_ABRE_PROC] [char](3) NULL,
	[CD_EV_NUM_EXP] [char](3) NULL,
	[CD_EV_PAG_SDA] [char](3) NULL,
	[CD_GRP_ITEM_ARM_IE] [char](2) NULL,
	[CD_EV_RECEP_ANALISE] [char](3) NULL,
	[CD_EV_PREV_CHEG_EE] [char](3) NULL,
	[CD_ITEM_NVOCC] [char](3) NULL,
	[CD_ITEM_EXT_RECEB] [char](3) NULL,
	[CD_ITEM_EXT_PAGTO] [char](3) NULL,
	[CD_EV_REC_EXP] [char](3) NULL,
	[CD_BANCO_CHEQUE] [char](3) NULL,
	[CD_HIST_NCH] [char](8) NULL,
	[CD_HIST_FRETE] [char](8) NULL,
	[CD_HIST_TRANSPORTE] [char](8) NULL,
	[CD_HIST_IR] [char](8) NULL,
	[CD_HIST_ISSQN] [char](8) NULL,
	[CD_HIST_SEST_SENAT] [char](8) NULL,
	[CD_CT_FRETE] [char](10) NULL,
	[CD_CT_TRANSPORTE] [char](10) NULL,
	[CD_CT_IR] [char](12) NULL,
	[CD_CT_ISSQN] [char](10) NULL,
	[CD_CT_SEST_SENAT] [char](10) NULL,
	[CD_CT_CTAAPAGAR] [char](12) NULL,
	[CD_CT_INSS] [char](12) NULL,
	[CD_MOEDA_CORRENTE] [char](3) NULL,
	[CD_ITEM_NAO_FAT] [char](3) NULL,
	[CD_EV_PAG_DEMUR] [char](3) NULL,
	[CD_EV_PRES_CARGA] [char](3) NULL,
	[CD_EV_VENCTO_LI] [char](3) NULL,
	[CD_ITEM_PAGO_CLI] [char](3) NULL,
	[CD_SISTEMA_CONTABIL] [char](1) NULL CONSTRAINT [DF_TPARAMETROS_CD_SISTEMA_CONTABIL]  DEFAULT ('1'),
	[CD_EV_DESOVA] [char](3) NULL,
	[CD_EV_LIB_BL] [char](3) NULL,
	[CD_EV_PAGTO_ICMS] [char](3) NULL,
	[CD_EV_ENVIO_FAT] [char](3) NULL,
	[CD_EV_ESPERA_NAVIO] [char](3) NULL,
	[CD_EV_CAMBIO_OK ] [char](3) NULL,
	[CD_EV_CI] [char](3) NULL,
	[VL_TX_CONTR_SOCIAL_SDA] [float] NULL,
	[CD_ITEM_ISS] [char](3) NULL,
	[PC_SEGURO_EXP] [float] NULL,
	[CD_EV_PREV_EMBARQUE] [char](3) NULL,
	[NR_ULT_NOTA] [char](6) NULL,
	[NR_ULT_FATURA] [char](6) NULL,
	[TP_NCM] [char](1) NULL CONSTRAINT [DF__TPARAMETR__TP_NC__23EB93EE]  DEFAULT ('0'),
	[TP_NALADI] [char](1) NULL CONSTRAINT [DF__TPARAMETR__TP_NA__24DFB827]  DEFAULT ('0'),
	[CD_MOD_FAT] [char](1) NULL,
	[NR_ULT_NF_SERV] [char](6) NULL,
	[CD_MOD_NF_SERV] [char](1) NULL,
	[CD_EV_ENT_REC_FED] [char](3) NULL,
	[CD_MOD_FLP_AUT] [char](2) NULL,
	[PATH_EXCEL] [varchar](255) NULL,
	[PATH_WORD] [varchar](255) NULL,
	[PATH_COB_AUT_IMP] [varchar](255) NULL,
	[PATH_COB_AUT_TRANS] [varchar](255) NULL,
	[NR_BOLETO_INICIAL] [char](10) NULL,
	[NR_REMESSA_COB_AUT_INICIAL] [char](4) NULL,
	[PATH_DDMAP] [varchar](100) NULL,
	[NR_CARTEIRA_COB_AUT] [char](3) NULL,
	[VL_PERC_MORA_DIA_COB_AUT] [float] NULL,
	[CD_EMPRESA_COB_AUT] [char](20) NULL,
	[CD_BANCO_COB_AUT] [char](3) NULL,
	[CD_EV_REMOCAO] [char](3) NULL,
	[IN_LIBERA_DI] [char](2) NULL CONSTRAINT [DF__TPARAMETR__IN_LI__5FD660C3]  DEFAULT ('0'),
	[NR_DIAS_CONCLUSAO_PO] [int] NULL,
	[CD_EVENTO_CONCLUSOR_PO] [char](3) NULL,
	[CD_CT_CH_PAGTOS_DIV] [char](12) NULL,
	[CD_CT_FAT_A_CLASSIF] [char](12) NULL,
	[CD_CT_CAIXA] [char](12) NULL,
	[CD_EV_PREV_CARREGAMENTO] [char](3) NULL,
	[CD_LOCAL_EMISSAO_SP] [char](3) NULL,
	[CD_ITEM_SERVICO_COMISSARIA] [char](3) NULL,
	[IN_EXP_QUEBRA_VL_UNITARIO] [char](1) NULL,
	[IN_CANC_CH_ADM] [char](1) NULL,
	[IN_CANC_CH_OP] [char](1) NULL,
	[CD_EV_ABERT_DI] [char](3) NULL,
	[CD_EV_NF_ENTRADA] [char](3) NULL,
	[CD_EV_PREV_ENTR_MERC] [char](3) NULL,
	[NR_BCO_COB_AUT] [char](3) NULL,
	[CD_EV_NF_TRANSP] [char](3) NULL,
	[CD_CT_LP_SALDUS] [char](12) NULL,
	[CD_EV_CRUZE] [char](3) NULL,
	[CD_EV_APRESENTACAO] [char](3) NULL,
	[IN_GESTAO_VINCULADOS] [char](1) NULL,
	[CD_DOC_RE_IMP] [char](3) NULL,
	[CD_DOC_FAT_IMP] [char](3) NULL,
	[CD_DOC_NF_IMP] [char](3) NULL,
	[CD_DOC_RE_EXP] [char](3) NULL,
	[CD_DOC_FAT_EXP] [char](3) NULL,
	[CD_DOC_NF_EXP] [char](3) NULL,
	[CD_EV_PREV_FABRICA] [char](3) NULL,
	[CD_DOC_CERT_ORIGEM] [char](3) NULL,
	[IN_EXP_AGRUPA_ITENS] [char](1) NULL CONSTRAINT [DF__TPARAMETR__IN_EX__7DE6B1EE]  DEFAULT ('0'),
	[CD_EV_REG_DDE] [char](3) NULL,
	[CD_EV_REG_RE] [char](3) NULL,
	[CD_EV_EMISSAO_ETIQUETA] [char](3) NULL,
	[IN_EXP_QUEBRA_FABRIC] [char](1) NULL CONSTRAINT [DF__TPARAMETR__IN_EX__2D95C510]  DEFAULT ('0'),
	[CD_CT_CONTABIL_JUROS] [char](12) NULL,
	[CD_CT_CONTABIL_DESCONTO] [char](12) NULL,
	[CD_ITEM_DESCONTO] [char](3) NULL,
	[CD_COB_CARTEIRA] [char](3) NULL,
	[CD_COB_FORMA_CADASTRO] [char](3) NULL,
	[CD_COB_TIPO_DOCTO] [char](3) NULL,
	[CD_COB_EMISSAO] [char](3) NULL,
	[CD_COB_DISTRIBUI] [char](3) NULL,
	[CD_ITEM_XEROX] [char](3) NULL,
	[CD_CT_CTAARECEBER] [char](12) NULL,
	[CD_CT_GER_CTAARECEBER] [char](4) NULL,
	[CD_CT_GER_DESCONTO] [char](4) NULL,
	[CD_CT_GER_FINANCEIRO] [char](4) NULL,
	[IN_ARREDONDA_CPMF_ITEM] [char](1) NULL CONSTRAINT [DF__TPARAMETR__IN_AR__29E52FBD]  DEFAULT ('1'),
	[CD_EV_CANAL] [char](3) NULL,
	[CD_EV_SOLIC_CAMBIO] [char](3) NULL,
	[CD_EV_SOLIC_SEGURO] [char](3) NULL,
	[CD_EV_RECEB_SEGURO] [char](3) NULL,
	[CD_EV_SOLIC_MINISTERIO] [char](3) NULL,
	[CD_EV_RECEB_MINISTERIO] [char](3) NULL,
	[CD_EV_LIBERACAO] [char](3) NULL,
	[IN_EV_CANAL] [char](1) NULL,
	[IN_EV_SOLIC_CAMBIO] [char](1) NULL,
	[IN_EV_SOLIC_SEGURO] [char](1) NULL,
	[IN_EV_RECEB_SEGURO] [char](1) NULL,
	[IN_EV_SOLIC_MINISTERIO] [char](1) NULL,
	[IN_EV_RECEB_MINISTERIO] [char](1) NULL,
	[IN_EV_LIBERACAO] [char](3) NULL,
	[CD_EV_ATRACACAO] [char](3) NULL,
	[IN_EV_REG_DI] [char](1) NULL,
	[IN_EV_DESEMB] [char](1) NULL,
	[IN_EV_PAGTO_LI] [char](1) NULL,
	[IN_EV_ENT] [char](1) NULL,
	[IN_EV_CHEGADA] [char](1) NULL,
	[IN_EV_ENT_SETPIN] [char](1) NULL,
	[IN_EV_SAI_SETPIN] [char](1) NULL,
	[IN_EV_DESCARGA] [char](1) NULL,
	[IN_EV_PREV_CHEGADA] [char](1) NULL,
	[IN_EV_ETD] [char](1) NULL,
	[IN_EV_PREV_DESEMB] [char](1) NULL,
	[IN_EV_CONHECIMENTO] [char](1) NULL,
	[IN_EV_RECEB_DOC] [char](1) NULL,
	[IN_EV_EMBARQUE] [char](1) NULL,
	[IN_EV_DIG_DI] [char](1) NULL,
	[IN_EV_ENTREGA_MERC] [char](1) NULL,
	[IN_EV_AVERBACAO] [char](1) NULL,
	[IN_EV_NUM_IMP] [char](1) NULL,
	[IN_EV_REC_IMP] [char](1) NULL,
	[IN_EV_PAG_ICMS] [char](1) NULL,
	[IN_EV_PAG_ARM] [char](1) NULL,
	[IN_EV_NUM_FRETE] [char](1) NULL,
	[IN_EV_REC_FRETE] [char](1) NULL,
	[IN_EV_ABRE_PROC] [char](1) NULL,
	[IN_EV_NUM_EXP] [char](1) NULL,
	[IN_EV_PAG_SDA] [char](1) NULL,
	[IN_EV_RECEP_ANALISE] [char](1) NULL,
	[IN_EV_PREV_CHEG_EE] [char](1) NULL,
	[IN_EV_REC_EXP] [char](1) NULL,
	[IN_EV_PAG_DEMUR] [char](1) NULL,
	[IN_EV_PRES_CARGA] [char](1) NULL,
	[IN_EV_VENCTO_LI] [char](1) NULL,
	[IN_EV_DESOVA] [char](1) NULL,
	[IN_EV_LIB_BL] [char](1) NULL,
	[IN_EV_PAGTO_ICMS] [char](1) NULL,
	[IN_EV_ENVIO_FAT] [char](1) NULL,
	[IN_EV_ESPERA_NAVIO] [char](1) NULL,
	[IN_EV_CAMBIO_OK ] [char](1) NULL,
	[IN_EV_CI] [char](1) NULL,
	[IN_EV_PREV_EMBARQUE] [char](1) NULL,
	[IN_EV_ENT_REC_FED] [char](1) NULL,
	[IN_EV_REMOCAO] [char](1) NULL,
	[IN_EV_CONCLUSOR_PO] [char](1) NULL,
	[IN_EV_PREV_CARREGAMENTO] [char](1) NULL,
	[IN_EV_ABERT_DI] [char](1) NULL,
	[IN_EV_NF_ENTRADA] [char](1) NULL,
	[IN_EV_PREV_ENTR_MERC] [char](1) NULL,
	[IN_EV_CRUZE] [char](1) NULL,
	[IN_EV_APRESENTACAO] [char](1) NULL,
	[IN_EV_NF_TRANSP] [char](1) NULL,
	[IN_EV_PREV_FABRICA] [char](1) NULL,
	[IN_EV_REG_DDE] [char](1) NULL,
	[IN_EV_REG_RE] [char](1) NULL,
	[IN_EV_EMISSAO_ETIQUETA] [char](1) NULL,
	[IN_EV_ATRACACAO] [char](1) NULL,
	[PATH_WORK_IMAGE] [varchar](100) NULL,
	[NR_DIAS_ENTRE_VIAGENS] [int] NULL,
	[CD_EV_ENVIO_SAQUE_BORDERO] [char](3) NULL,
	[IN_EV_ENVIO_SAQUE_BORDERO] [char](1) NULL,
	[VL_MINIMO_TED] [float] NULL CONSTRAINT [DF__TPARAMETR__VL_MI__52C81516]  DEFAULT ((0)),
	[CD_EV_INSP_MA] [char](3) NULL,
	[CD_ITEM_DEMURRAGE] [char](3) NULL,
	[CD_EV_INSP_OK] [char](3) NULL,
	[CD_EV_ENVIO_DOC_CLI] [char](3) NULL,
	[NR_DIAS_DESEMB] [tinyint] NULL,
	[NR_DIAS_NF_TRANSP] [tinyint] NULL,
	[NR_DIAS_RET_CNTR] [tinyint] NULL,
	[NR_DIAS_DEMURRAGE] [tinyint] NULL,
	[IN_AVISO_DEMURRAGE] [char](1) NULL,
	[CD_USUARIO_DEMURRAGE] [char](4) NULL,
	[CD_EV_VENDA_NAC] [char](3) NULL,
	[CD_EV_ENVIO_DOC_NAC] [char](3) NULL,
	[CD_GRUPO_BASF] [char](3) NULL,
	[PC_MAX_SEGURO_DI] [float] NULL,
	[CD_EV_ENV_COMEXT] [char](3) NULL,
	[CD_EV_LIB_EST] [char](3) NULL,
	[CD_EV_FORM_DT] [char](3) NULL,
	[CD_EV_LIB_FAB] [char](3) NULL,
	[CD_EV_REC_DHL] [char](3) NULL,
	[CD_EV_EMAIL_LIB] [char](3) NULL,
	[CD_EV_CONF_DOCS] [char](3) NULL,
	[CD_EV_SOLIC_DESOVA] [char](3) NULL,
	[NR_DIAS_VENCTO_ENT_NAVIO] [tinyint] NULL,
	[CD_ITEM_LOGISTICA] [char](3) NULL,
	[VL_VIABILIDADE_DB] [float] NULL CONSTRAINT [DF__TPARAMETR__VL_VI__0E5EA787]  DEFAULT ((0)),
	[VL_VAR_CAMBIAL_DB] [float] NULL CONSTRAINT [DF__TPARAMETR__VL_VA__0F52CBC0]  DEFAULT ((0)),
	[PC_SEGURO_DB] [float] NULL CONSTRAINT [DF__TPARAMETR__PC_SE__1046EFF9]  DEFAULT ((0)),
	[VL_ALIQ_AFRMM] [float] NULL CONSTRAINT [DF__TPARAMETR__VL_AL__6062D2AD]  DEFAULT ((0)),
	[CD_EV_CERT_ORIGEM] [char](3) NULL,
	[CD_EV_PED_REC] [char](3) NULL,
	[CD_EV_ENTR_MERC_FABR] [char](3) NULL,
	[CD_EV_NECESSIDADE] [char](3) NULL,
	[CD_GRUPO_BSG] [char](3) NULL,
	[CD_EV_ENVIO_DOC] [char](3) NULL,
	[CD_EV_ENTR_EADI] [char](3) NULL,
	[CD_GRUPO_OXITENO] [char](3) NULL,
	[CD_EV_PRES_CARGA_EADI] [char](3) NULL,
	[CD_EV_PARAM_DTA] [char](3) NULL,
	[CD_EV_RECEB_PED] [char](3) NULL,
	[CD_EV_SOLIC_OV] [char](3) NULL,
	[CD_EV_SOLIC_REM] [char](3) NULL,
	[CD_EV_DT_CONSOLIDACAO] [char](3) NULL,
	[CD_ITEM_COFINS] [char](3) NULL,
	[CD_ITEM_COFINS_RETENCAO] [char](3) NULL,
	[VL_ALIQ_COFINS] [float] NULL,
	[VL_ALIQ_COFINS_RETENCAO] [float] NULL,
	[CD_EV_DTA_TRANSP] [char](3) NULL,
	[CD_EV_INSTRUCAO] [char](3) NULL,
	[CD_DEAD_LINE] [char](3) NULL,
	[CD_EV_REG_DTA] [char](3) NULL,
	[CD_ITEM_MP164] [char](3) NULL,
	[IN_CALC_MP164] [char](1) NULL,
	[IN_TX_SISC_DESP] [char](1) NULL,
	[CD_EV_RECEB_COPIAS] [char](3) NULL,
	[CD_EV_SOLIC_NF] [char](3) NULL,
	[CD_EV_RECEB_NF] [char](3) NULL,
	[CD_EV_SOLIC_NUM_IMP] [char](3) NULL,
	[CD_ITEM_PIS_IMP] [char](3) NULL,
	[CD_ITEM_COFINS_IMP] [char](3) NULL,
	[VL_MIN_COFINS] [float] NULL,
	[CD_EV_DEAD_LINE_CC] [char](3) NULL,
	[CD_EV_DEAD_LINE_DDE] [char](3) NULL,
	[CD_EV_CONF_BOOK] [char](3) NULL,
	[CD_EV_DEAD_DRAFT] [char](3) NULL,
	[CD_EV_DEAD_LINE_CC_1] [char](3) NULL,
	[CD_EV_ENTREGA_IMO] [char](3) NULL,
	[CD_EV_ENTREGA_DDE] [char](3) NULL,
	[CD_EV_INSPECAO] [char](3) NULL,
	[CD_EV_FUMIGACAO] [char](3) NULL,
	[CD_EV_ENTREGA_MERCAD] [char](3) NULL,
	[CD_EV_ENTREGA_DRAFT_BL] [char](3) NULL,
	[CD_EV_IDENTIFICA_NOVO_PO] [char](3) NULL CONSTRAINT [DF__TPARAMETR__CD_EV__083D508B]  DEFAULT (NULL),
	[IN_REMESSA] [char](1) NULL,
	[VL_FATURA] [float] NULL,
	[VL_CORRETORA_AG] [float] NULL,
	[VL_BANCO_AG] [float] NULL,
	[VL_PERC_MIN] [float] NULL,
	[IN_FORMA_RATEIO] [char](1) NULL,
	[IN_CONSOLIDACAO_LOCAL_DIF] [char](1) NULL,
	[VL_MIN_DI_DIRETOR] [float] NULL,
	[VL_REMESSA] [float] NULL,
	[VL_AUTOCLOSER] [int] NULL,
	[NR_DIAS_VENCTO_DDE] [int] NULL,
	[CD_CT_PISCOFINS] [char](10) NULL,
	[DT_ALTER_FECH] [datetime] NULL,
	[DT_CONTABILIZACAO] [datetime] NULL,
	[IN_INTEGRACAO_CONTABIL] [char](1) NULL,
	[CD_ITEM_PIS_COFINS] [char](3) NULL,
	[QT_DIAS_CAT63] [int] NULL,
	[CD_GRUPO_VALTRA] [char](3) NULL,
	[CD_GRUPO_VALSPAR] [char](3) NULL,
	[CD_GRUPO_CRODA] [char](3) NULL,
	[CD_GRUPO_SAINTG] [char](3) NULL,
	[CD_GRUPO_BSH] [char](3) NULL,
	[CD_GRUPO_SOLVAY] [char](3) NULL,
	[CD_GRUPO_SOLVAYP] [char](3) NULL,
	[CD_GRUPO_SOLVAYQ] [char](3) NULL,
	[CD_GRUPO_WHITE] [char](3) NULL,
	[CD_GRUPO_MAKENI] [char](3) NULL,
	[TP_EMULADOR] [char](10) NULL,
	[TIME_WAIT_EMULADOR] [int] NULL,
	[EXE_EMULADOR] [char](40) NULL,
	[PARAM_EMULADOR] [char](40) NULL,
	[TX_NOME_SESSION] [char](40) NULL,
	[NR_ULT_RD] [char](8) NULL,
	[NR_ULT_DEM] [char](6) NULL,
	[NR_DIAS_CONS_PROC] [int] NULL,
	[IN_EXP_CALCULOS_RE] [char](1) NULL,
	[CD_EV_DT_ENT_FABR] [char](3) NULL,
	[PC_FUNDO_POBREZA_RJ] [decimal](5, 2) NULL,
	[CD_ITEM_DESP_BANCO] [char](3) NULL,
	[CD_CREDIT_NOTE] [char](3) NULL,
	[CD_DEBIT_NOTE] [char](3) NULL,
	[VL_PC_PROTEC_CAMBIAL] [float] NULL,
	[CD_BCO_FLUXO_CX] [char](3) NULL,
	[VL_TOLERANCIA_NF] [float] NULL,
	[QT_DIAS_SENHA] [int] NULL,
	[CD_EV_DT_DEAD_LINE_TEMP] [char](3) NULL,
	[VL_TX_UTILIZACAO_AFRMM] [float] NULL,
	[CD_ITEM_IRRF] [char](3) NULL,
	[PATH_DIGITALIZACAO] [varchar](1000) NULL,
	[CD_ITEM_FRT_MAR_FI] [char](3) NULL,
	[CD_ITEM_FRT_AER_FI] [char](3) NULL,
	[CD_ITEM_FRT_ROD_FI] [char](3) NULL,
	[CD_ITEM_FRT_SEGURO] [char](3) NULL,
	[tx_email_cotacao_aprovada] [varchar](8000) NULL,
	[NR_DIAS_VENCTO_NUMERARIO] [int] NULL,
	[EMAIL_HOST_NAME] [varchar](100) NULL,
	[EMAIL_NR_PORTA] [int] NULL,
	[EMAIL_NM_LOGIN] [varchar](100) NULL,
	[EMAIL_NM_SENHA] [varchar](100) NULL,
	[EMAIL_ALERTAS_WEB_HOST_NAME] [varchar](100) NULL,
	[EMAIL_ALERTAS_WEB_NR_PORTA] [int] NULL,
	[EMAIL_ALERTAS_WEB_NM_LOGIN] [varchar](100) NULL,
	[EMAIL_ALERTAS_WEB_NM_SENHA] [varchar](100) NULL,
	[PATH_DIGITALIZACAO_ANTIGOS] [varchar](1000) NULL,
	[CD_BANCO_SDA] [char](3) NULL,
	[CD_FAVORECIDO_SDA] [int] NULL,
	[EMAIL_TLS] [bit] NULL,
	[EMAIL_WEB_TLS] [bit] NULL,
 CONSTRAINT [PK_TPARAMETROS] PRIMARY KEY CLUSTERED 
(
	[INDICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
