USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_PARAMETRIZACAO](
	[NR_DI] [char](10) NOT NULL,
	[DATA_CONSULTA] [datetime] NOT NULL,
	[HORA_CONSULTA] [char](4) NOT NULL,
	[CD_PORTO] [char](6) NULL,
	[CD_CANAL] [char](1) NULL,
	[TX_ETAPA] [char](60) NULL,
	[TX_FISCAL] [char](20) NULL,
	[DATA_SITUACAO] [datetime] NULL,
	[TX_SITUACAO] [char](65) NULL,
	[TX_AFRMM] [char](123) NULL,
	[TX_ICMS] [char](123) NULL,
	[TX_DIR_IMAGEM] [char](50) NULL,
	[DATA_EXAME] [datetime] NULL,
	[TX_EXAME] [text] NULL,
	[DATA_RETIFICA] [datetime] NULL,
	[TX_RETIFICA] [text] NULL,
 CONSTRAINT [PK_TPROCESSO_PARAMETRIZACAO] PRIMARY KEY CLUSTERED 
(
	[NR_DI] ASC,
	[DATA_CONSULTA] ASC,
	[HORA_CONSULTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
