USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABILIZACAO_LANC_RM_TITO](
	[CD_COLIGADA] [char](2) NOT NULL,
	[NR_CONTAB] [char](4) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[CD_CT_DEVEDORA] [char](10) NULL,
	[CD_CT_CREDORA] [char](10) NULL,
	[VL_LANCAMENTO] [float] NULL,
	[CD_HISTORICO] [char](8) NULL,
	[NM_HISTORICO] [char](186) NULL,
	[CD_FILIAL] [char](3) NULL,
	[CD_CUSTO] [char](3) NULL,
	[DT_MOVIMENTO] [datetime] NULL,
 CONSTRAINT [PK_TCONTABILIZACAO_LANC_RM_TITO] PRIMARY KEY NONCLUSTERED 
(
	[CD_COLIGADA] ASC,
	[NR_CONTAB] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TCONTABILIZACAO_LANC_RM_TITO] ADD  CONSTRAINT [DF_TCONTABILI_VL_LANCAMEN3_99]  DEFAULT (0) FOR [VL_LANCAMENTO]
GO
