USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DETALHE_MERC_COM_TRATAMENTO](
	[NR_OPER_TRAT_PREV] [char](10) NOT NULL,
	[NR_SEQ_PRODUTO] [char](2) NOT NULL,
	[QT_MERC_UN_COMERC] [varchar](14) NULL,
	[NM_UN_MEDID_COMER] [varchar](20) NULL,
	[VL_UNID_COND_VENDA] [varchar](21) NULL,
	[TX_DESC_DET_MERC] [text] NULL CONSTRAINT [DF_DETALHE_MERC_COM_TRATAMENTO_TX_DESC_DET_MERC]  DEFAULT (''),
	[CD_PRODUTO] [varchar](15) NULL,
	[NR_ITEM_DRAWBACK] [char](3) NULL,
	[QT_PROD_DRAWBACK] [char](14) NULL,
	[VL_PROD_DRAWBACK] [char](15) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
