USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_BANCO_EXP](
	[TP_BANCO_EXP] [char](1) NOT NULL,
	[NM_BANCO_EXP] [char](20) NULL,
 CONSTRAINT [PK_TTP_BANCO_EXP] PRIMARY KEY CLUSTERED 
(
	[TP_BANCO_EXP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
