USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEXP_CO_ITENS](
	[NR_FATURA] [char](10) NULL,
	[NR_NCM_MERCADORIA] [varchar](200) NULL,
	[NR_NALADI_MERCADORIA] [varchar](200) NULL,
	[TX_MERCADORIA] [varchar](max) NULL,
	[PL_MERCADORIA] [float] NULL,
	[VL_MERCADORIA] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
