USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRUPO_ITEM_ITEM](
	[CD_GRUPO_ITEM] [char](2) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
 CONSTRAINT [PK_TGRUPO_ITEM_ITEM] PRIMARY KEY CLUSTERED 
(
	[CD_GRUPO_ITEM] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
