USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINT_MESQUITA009](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NM_CNPJ] [char](18) NULL,
	[NM_NAVIO] [char](18) NULL,
	[NR_VIAGEM] [char](12) NULL,
	[NR_BL] [char](20) NOT NULL,
	[NM_PORTO] [char](20) NULL,
	[NM_ARMADOR] [char](18) NULL,
	[NR_CNPJ] [char](18) NULL,
	[CH_PRESENCA] [char](36) NULL,
	[NR_CNTR] [char](12) NULL,
	[TP_CNTR] [char](4) NULL,
	[DT_DESOVA] [datetime] NULL,
	[DT_CARREGAMENTO] [datetime] NULL,
	[DT_RET_FABRICA] [datetime] NULL,
	[DT_DEV_CNTR] [datetime] NULL,
	[DT_ATRACACAO] [datetime] NULL,
	[DT_PRESENCA] [datetime] NULL,
	[DT_ENT_FABRICA] [datetime] NULL,
	[DT_ENT_PATIO] [datetime] NULL,
	[TX_OBS_AVARIA] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
