USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLUXO_CAIXA_OP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[VL_SOLICITADO] [float] NOT NULL,
	[VL_RECEBIDO] [float] NOT NULL,
	[VL_UTILIZADO] [float] NOT NULL,
	[VL_SALDO] [float] NOT NULL,
 CONSTRAINT [PK_TREL_FLUXO_CAIXA_OP] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_CLIENTE] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FLUXO_CAIXA_OP] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_OP_VL_SOLICITADO]  DEFAULT (0) FOR [VL_SOLICITADO]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_OP] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_OP_VL_RECEBIDO]  DEFAULT (0) FOR [VL_RECEBIDO]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_OP] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_OP_VL_UTILIZADO]  DEFAULT (0) FOR [VL_UTILIZADO]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_OP] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_OP_VL_SALDO]  DEFAULT (0) FOR [VL_SALDO]
GO
