USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_MAPA_ANALITICO_OXITENO](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[AP_EMPRESA] [varchar](50) NULL,
	[AP_MERCADORIA] [char](25) NULL,
	[QT_PESO_LIQ] [float] NULL,
	[NM_EMBARCACAO] [varchar](40) NULL,
	[DT_PREV_CHEGADA] [datetime] NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_SAIDA] [datetime] NULL,
	[NR_RE] [char](12) NULL,
	[NR_SD] [char](11) NULL,
	[IN_RE] [varchar](30) NULL,
	[DT_ETA] [datetime] NULL,
	[DT_CI] [varchar](30) NULL,
	[DESCRICAO] [varchar](50) NULL,
	[NM_AGENTE] [varchar](60) NULL,
	[QT_CNTR] [varchar](70) NULL
) ON [PRIMARY]

GO
