USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAREA](
	[CD_AREA] [char](2) NOT NULL,
	[NM_AREA] [char](50) NOT NULL,
	[NM_GERENTE] [varchar](50) NULL,
	[NM_ANALISTA] [varchar](50) NULL,
	[NM_EMAIL_GERENTE] [varchar](100) NULL,
	[NM_EMAIL_ANALISTA] [varchar](100) NULL,
	[NM_GRUPO] [char](3) NULL,
	[DIV_MERC] [char](2) NULL,
 CONSTRAINT [PK_TAREA] PRIMARY KEY CLUSTERED 
(
	[CD_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
