USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOCAL_ENTREGA_SAMSUNG](
	[CD_LOCAL_ENTREGA] [char](10) NOT NULL,
	[NM_LOCAL_ENTREGA] [varchar](255) NULL,
	[DS_LOCAL_ENTREGA] [varchar](500) NULL,
	[CD_LOCAL_ENTREGA_INDAIA] [int] NULL
) ON [PRIMARY]

GO
