USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNUM_SR_TOTAL_BANCO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_BANCO] [char](3) NOT NULL,
	[VL_SOLIC] [float] NOT NULL,
	[VL_SOLIC_USD] [float] NOT NULL,
 CONSTRAINT [PK_TNUM_SR_TOTAL_BANCO] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_CLIENTE] ASC,
	[CD_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TNUM_SR_TOTAL_BANCO] ADD  CONSTRAINT [DF_TNUM_SR_TO_VL_SOLIC_1__90]  DEFAULT (0) FOR [VL_SOLIC]
GO
ALTER TABLE [TNUM_SR_TOTAL_BANCO] ADD  CONSTRAINT [DF_TNUM_SR_TO_VL_SOLIC_US2__90]  DEFAULT (0) FOR [VL_SOLIC_USD]
GO
