USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEVENTO](
	[CD_EVENTO] [char](3) NOT NULL,
	[NM_EVENTO] [char](50) NOT NULL,
	[NM_INGLES] [varchar](500) NULL,
	[NM_ESPANHOL] [varchar](500) NULL,
	[IN_INSPECIONAVEL] [char](1) NULL,
	[PRZ_INSPECAO] [smallint] NULL,
	[CD_RESPONSAVEL] [char](1) NULL,
	[CD_ETAPA] [char](3) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TEVENTO_IN_ATIVO_1__25]  DEFAULT ('1'),
	[AP_EVENTO] [char](15) NULL,
	[AP_EVENTO_ESPANHOL] [char](15) NULL,
	[AP_EVENTO_INGLES] [char](15) NULL,
	[CD_PREST_SERV] [char](2) NULL,
	[PRZ_INSPECAO2] [smallint] NULL,
	[PRZ_INSPECAO3] [smallint] NULL,
	[IN_INSPECIONAVEL_IMP] [char](1) NULL,
	[PRZ_INSPECAO1_IMP] [smallint] NULL,
	[PRZ_INSPECAO2_IMP] [smallint] NULL,
	[PRZ_INSPECAO3_IMP] [smallint] NULL,
	[IN_INSPECIONAVEL_GP] [char](1) NULL,
	[PRZ_INSPECAO1_GP] [smallint] NULL,
	[PRZ_INSPECAO2_GP] [smallint] NULL,
	[PRZ_INSPECAO3_GP] [smallint] NULL,
	[IN_MOSTRAR_WEB_IMP] [char](1) NULL,
	[IN_MOSTRAR_WEB_EXP] [char](1) NULL,
	[IN_MOSTRAR_WEB_IMP_FILTRO] [char](1) NULL,
	[IN_MOSTRAR_WEB_EXP_FILTRO] [char](1) NULL,
	[IN_ACEITA_DESVIOS] [char](1) NULL,
	[IN_INSPECIONAVEL_FI_IMP] [char](1) NULL,
	[PRZ_INSPECAO1_FI_IMP] [smallint] NULL,
	[PRZ_INSPECAO2_FI_IMP] [smallint] NULL,
	[PRZ_INSPECAO3_FI_IMP] [smallint] NULL,
	[IN_INSPECIONAVEL_FI_EXP] [char](1) NULL,
	[PRZ_INSPECAO1_FI_EXP] [smallint] NULL,
	[PRZ_INSPECAO2_FI_EXP] [smallint] NULL,
	[PRZ_INSPECAO3_FI_EXP] [smallint] NULL,
	[IN_OBS_AUT] [char](1) NULL,
	[NM_OBS_AUT] [varchar](500) NULL,
	[NM_DASHBOARD] [varchar](35) NULL,
 CONSTRAINT [PK_TEVENTO] PRIMARY KEY CLUSTERED 
(
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [ID_CD_EVENTO] ON [TEVENTO]
(
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
