USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDESPACHANTE_CLIENTE](
	[CD_EMPRESA] [char](5) NOT NULL,
	[CD_DESPACHANTE] [char](3) NOT NULL,
	[TIPO] [char](5) NOT NULL,
 CONSTRAINT [PK_TDESPACHANTE_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CD_EMPRESA] ASC,
	[CD_DESPACHANTE] ASC,
	[TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
