USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [VW_CONFIG_MAIL] AS
    SELECT 
    EMAIL_HOST_NAME AS NM_HOST, 
    EMAIL_NR_PORTA AS NR_PORTA, 
    EMAIL_NM_LOGIN AS NM_LOGIN, 
    EMAIL_NM_SENHA AS NM_SENHA,
    EMAIL_TLS,
    EMAIL_ALERTAS_WEB_HOST_NAME AS NM_HOST_WEB, 
    EMAIL_ALERTAS_WEB_NR_PORTA AS NR_PORTA_WEB, 
    EMAIL_ALERTAS_WEB_NM_LOGIN AS NM_LOGIN_WEB, 
    EMAIL_ALERTAS_WEB_NM_SENHA AS NM_SENHA_WEB,
    EMAIL_WEB_TLS
    FROM TPARAMETROS


GO
