USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMBF_KPI](
	[CD_MBF] [int] NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_KPI] [char](12) NULL,
	[NM_KPI] [varchar](max) NULL,
	[IN_MODAL] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_MODAL]  DEFAULT ((0)),
	[IN_CNPJ] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_CNPJ]  DEFAULT ((0)),
	[IN_AREA] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_CNPJ1]  DEFAULT ((0)),
	[IN_ESTUFAGEM] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_AREA1]  DEFAULT ((0)),
	[IN_LI] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_ESTUFAGEM1]  DEFAULT ((0)),
	[IN_PAIS_ORIGEM] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_LI1]  DEFAULT ((0)),
	[IN_PREFIXO] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_PAIS_ORIGEM1]  DEFAULT ((0)),
	[ID_KPI] [int] NULL,
	[IN_TERMINAL] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_PREFIXO1]  DEFAULT ((0)),
	[IN_CANAL] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_TERMINAL1]  DEFAULT ((0)),
	[IN_SERVICO] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_CANAL1]  DEFAULT ((0)),
	[IN_LOCAL_DES] [bit] NULL CONSTRAINT [DF_TMBF_KPI_IN_SERVICO1]  DEFAULT ((0))
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TMBF_KPI_IDX01] ON [TMBF_KPI]
(
	[CD_MBF] ASC,
	[CD_USUARIO] ASC,
	[CD_KPI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
