USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_CNTR_BKP](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_CNTR] [char](20) NOT NULL,
	[DT_ENT_ARM] [datetime] NULL,
	[DT_DESOVA] [datetime] NULL,
	[DT_DEMURRAGE] [datetime] NULL,
	[IN_DESOVA] [char](1) NULL,
	[IN_DEMURRAGE] [char](1) NULL,
	[NR_LACRE] [char](20) NULL,
	[TP_CNTR] [char](2) NULL,
	[NR_FREE_TIME] [int] NULL,
	[DRREG] [int] IDENTITY(1,1) NOT NULL,
	[IN_REPARO_CNTR] [char](1) NULL,
	[IN_PAGTO_EFETIVADO] [bit] NULL,
	[NR_CHEQUE_CAUCAO] [char](7) NULL,
	[VL_CHEQUE_CAUCAO] [float] NULL,
	[DT_EMISSAO_CNTR] [datetime] NULL,
	[TX_ESTUFAGEM] [char](10) NULL,
	[DT_DEVOLUCAO_CNTR] [datetime] NULL,
	[DT_ENT] [datetime] NULL,
	[TP_DIAS] [char](1) NULL,
	[CD_STATUS_CNTR] [char](2) NULL,
	[CD_BANCO_CAUCAO] [char](3) NULL,
	[DT_EMISSAO_CAUCAO] [datetime] NULL,
	[CD_MOEDA_DEPOSITO] [char](3) NULL,
	[TX_DEPOSITO] [float] NULL,
	[VL_DEPOSITO] [float] NULL,
	[IN_DEPOSITADO] [char](1) NULL,
	[IN_DEVOLVIDO] [char](1) NULL,
	[IN_AVARIA] [char](1) NULL,
	[TX_OBS_AVARIA] [text] NULL,
	[VL_AVARIA] [float] NULL,
	[IN_LAVAGEM] [char](1) NULL,
	[VL_LAVAGEM] [float] NULL,
	[DT_ENTREGA_FABRICA] [datetime] NULL,
	[DT_RET_CNTR_FABRICA] [datetime] NULL,
	[DT_ENTRADA_PATIO_TRANSP] [datetime] NULL,
	[DT_CARREGAMENTO] [datetime] NULL,
	[IN_MESQUITA] [char](1) NULL,
	[NM_MOTIVO_DEM] [char](255) NULL,
	[NM_RESP_DEM] [char](100) NULL,
	[NM_APROV_POR_DEM] [char](100) NULL,
	[DT_SAIDA_ARM] [datetime] NULL,
	[VL_PESO_TON] [float] NULL,
	[CODIGO] [char](3) NULL,
	[VL_VENDA] [float] NULL,
	[TP_FRETE] [char](1) NULL,
	[VL_CUSTO_TOTAL] [float] NULL,
	[VL_CUBAGEM] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
