USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DOCTO_COMEX](
	[CD_COMEX] [varchar](2) NOT NULL,
	[TX_ARQUIVO] [char](30) NOT NULL,
	[NM_AMIGAVEL] [char](30) NULL,
 CONSTRAINT [PK_TTP_DOCTO_COMEX] PRIMARY KEY CLUSTERED 
(
	[CD_COMEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
