USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_RESUMO_FAT](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_PAGINA] [char](2) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_CT_CONTABIL] [char](12) NOT NULL,
	[NM_DESPESA] [varchar](50) NOT NULL,
	[VL_DESPESA] [float] NOT NULL CONSTRAINT [DF_TREL_RESUMO_FAT_VL_DESPESA]  DEFAULT (0),
	[INDICE] [char](1) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
 CONSTRAINT [PK_TREL_RESUMO_FAT] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_PAGINA] ASC,
	[CD_ITEM] ASC,
	[CD_CT_CONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
