USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EST_QT_CNTR](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_CLIENTE] [varchar](50) NOT NULL,
	[CD_MARGEM] [char](1) NOT NULL,
	[TP_CNTR] [char](2) NOT NULL,
	[QT_CNTR] [int] NOT NULL,
 CONSTRAINT [PK_TREL_EST_QT_CNTR] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_CLIENTE] ASC,
	[CD_MARGEM] ASC,
	[TP_CNTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_EST_QT_CNTR] ADD  CONSTRAINT [DF_TREL_EST_QT_CNTR_QT_CNTR]  DEFAULT (0) FOR [QT_CNTR]
GO
