USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_SELIC](
	[CODIGO] [char](3) NOT NULL,
	[DT_INICIO_VIGENCIA] [datetime] NOT NULL,
	[DT_TERMINO_VIGENCIA] [datetime] NOT NULL,
	[TX_SELIC] [float] NOT NULL,
 CONSTRAINT [PK_TTAXA_SELIC] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC,
	[DT_INICIO_VIGENCIA] ASC,
	[DT_TERMINO_VIGENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
