USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TS_FATURA_PROCESSO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[VL_FATURA] [float] NULL CONSTRAINT [DF_TS_FATURA__VL_FATURA_2__40]  DEFAULT (0),
	[VL_LIQUIDACAO] [float] NULL CONSTRAINT [DF_TS_FATURA__VL_LIQUIDAC3__40]  DEFAULT (0),
	[IN_LIQUIDADO] [char](1) NULL CONSTRAINT [DF_TS_FATURA__IN_LIQUIDAD1__40]  DEFAULT ('0'),
	[DT_LIQUIDACAO] [datetime] NULL,
	[IN_NVOCC] [char](1) NULL CONSTRAINT [DF_TS_FATURA__IN_NVOCC_1__80]  DEFAULT ('0'),
	[NR_GRUPO_LIQUIDACAO] [char](3) NULL,
	[CD_USUARIO_LIQ] [char](4) NULL,
	[NR_PROCESSO_LIQ] [char](18) NULL,
	[NR_LIQUIDACAO] [char](6) NULL,
	[VL_NUMERARIO] [float] NULL,
	[ALTERADO_PELO_SCRIPT] [char](1) NULL,
 CONSTRAINT [PK_TS_FATURA_PROCESSO] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_NR_SOLICITACAO] ON [TS_FATURA_PROCESSO]
(
	[NR_SOLICITACAO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 85) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IDX_VL_FATURA] ON [TS_FATURA_PROCESSO]
(
	[VL_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 85) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IDX_VL_LIQUIDACAO] ON [TS_FATURA_PROCESSO]
(
	[VL_LIQUIDACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_LIQUIDACAO] ON [TS_FATURA_PROCESSO]
(
	[NR_PROCESSO_LIQ] ASC,
	[NR_LIQUIDACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TS_FATURA_PROCESSO_IDX01] ON [TS_FATURA_PROCESSO]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
