USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFATURAMENTO_CC_CLIENTE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[DT_LANCAMENTO] [datetime] NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_ITEM] [float] NULL CONSTRAINT [DF_TFATURAMENTO_CC_CLIENTE_VL_ITEM]  DEFAULT (0),
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF_TFATURAMENTO_CC_CLIENTE_IN_CANCELADO]  DEFAULT ('0'),
	[IN_FATURA] [char](1) NULL CONSTRAINT [DF__TFATURAME__IN_FA__59C94D09]  DEFAULT ('0'),
 CONSTRAINT [PK_TFATURAMENTO_CC_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
