USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTRANSP_ROD_DNER](
	[CD_TRANSP_ROD] [char](4) NOT NULL,
	[CD_TRANSP_ROD_DNER] [char](4) NOT NULL,
 CONSTRAINT [PK_TTRANSP_ROD_DNER_1__23] PRIMARY KEY CLUSTERED 
(
	[CD_TRANSP_ROD] ASC,
	[CD_TRANSP_ROD_DNER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TTRANSP_ROD_DNER]  WITH CHECK ADD  CONSTRAINT [FK_TTRANSP_ROD_DNER_TTRANSP_ROD] FOREIGN KEY([CD_TRANSP_ROD])
REFERENCES [TTRANSP_ROD] ([CD_TRANSP_ROD])
GO
ALTER TABLE [TTRANSP_ROD_DNER] CHECK CONSTRAINT [FK_TTRANSP_ROD_DNER_TTRANSP_ROD]
GO
