USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFOLLOWUP](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[IN_APLICAVEL] [char](1) NOT NULL CONSTRAINT [DF_TFOLLOWUP_IN_APLICAVEL1__22]  DEFAULT (1),
	[CD_RESP_APLICACAO] [char](4) NULL,
	[CD_RESP_REALIZACAO] [char](4) NULL,
	[CD_RESP_INSPECAO] [char](4) NULL,
	[DT_APLICACAO] [datetime] NULL,
	[DT_REALIZACAO] [datetime] NULL,
	[DT_INSPECAO] [datetime] NULL,
	[CD_RESULT_INSPECAO] [char](1) NULL,
	[NR_RNC] [varchar](8) NULL,
	[DT_PREVISTA] [datetime] NULL,
	[DT_LIMITE] [datetime] NULL,
	[NR_ORDEM] [smallint] NULL,
	[TX_OBS] [text] NULL,
	[IN_BLOQUEADO] [char](1) NULL CONSTRAINT [DF_TFOLLOWUP_IN_BLOQUEADO]  DEFAULT ('0'),
	[IN_ALERTA_ENVIADO] [char](1) NULL CONSTRAINT [DF_TFOLLOWUP_IN_ALERTA_ENVIADO]  DEFAULT ('0'),
	[QT_DIAS_DESVIO] [int] NULL,
	[DT_REALIZACAO_EFETIVA] [datetime] NULL,
	[DT_ALERTA_ENVIADO] [datetime] NULL,
	[IN_EDI_ENVIADO] [char](1) NULL,
	[CD_EV_BASICO] [char](3) NULL,
	[PZ_DO_EV_BASICO] [int] NULL,
 CONSTRAINT [PK_TFOLLOWUP] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_SERVICO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TFOLLOWUP_7_334324651__K3_K9_1] ON [TFOLLOWUP]
(
	[CD_EVENTO] ASC,
	[DT_REALIZACAO] ASC
)
INCLUDE ( 	[NR_PROCESSO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_NR_PROCESSO] ON [TFOLLOWUP]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 85) ON [PRIMARY]
GO
ALTER TABLE [TFOLLOWUP]  WITH NOCHECK ADD CHECK  ((isnull([DT_REALIZACAO],(0))<=(getdate()+(400))))
GO
