USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [VW_PROC_FAT_VENCTO]
AS
SELECT F.DT_VENCTO_FATURA, P.NR_PROCESSO, 
    F.NR_SOLICITACAO
FROM TS_FATURA F (NOLOCK), TS_FATURA_PROCESSO FP (NOLOCK), 
    TPROCESSO P (NOLOCK)
WHERE F.CD_UNID_NEG = FP.CD_UNID_NEG AND 
    F.CD_PRODUTO = FP.CD_PRODUTO AND 
    F.NR_SOLICITACAO = FP.NR_SOLICITACAO AND 
    P.NR_PROCESSO = FP.NR_PROCESSO AND 
    F.IN_CANCELADO = '0'




GO
