USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_CARGA_SOLTA_BKP](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [char](3) NOT NULL,
	[VL_QTDE] [float] NULL,
	[NM_ESPECIE] [varchar](100) NULL,
	[SALDO] [float] NULL,
	[PESO] [float] NULL,
	[IN_AVARIA] [char](1) NULL,
	[OBS_AVARIA] [char](30) NULL,
	[DT_ENT_ARM] [datetime] NULL,
	[DT_SAIDA_ARM] [datetime] NULL
) ON [PRIMARY]

GO
