USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPOSTA_RECEITA_EXP](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROPOSTA] [char](14) NOT NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_DT_BASE] [char](1) NOT NULL,
	[TP_FAIXA] [char](1) NOT NULL,
	[TP_FAIXA_VALOR] [char](1) NOT NULL,
	[VL_NUM_TAXA] [float] NULL,
	[VL_DEN_TAXA] [float] NULL,
	[TP_BASE_CALC_TAXA] [char](1) NULL,
	[CD_MOEDA_TAXA] [char](3) NULL,
	[VL_NUM_MIN] [float] NULL,
	[VL_DEN_MIN] [float] NULL,
	[TP_BASE_CALC_MIN] [char](1) NULL,
	[CD_MOEDA_MIN] [char](3) NULL,
	[VL_NUM_MAX] [float] NULL,
	[VL_DEN_MAX] [float] NULL,
	[TP_BASE_CALC_MAX] [char](1) NULL,
	[CD_MOEDA_MAX] [char](3) NULL,
	[PC_REDUC_RE_CANC] [float] NULL,
	[NR_ITEM_PROPOSTA] [int] NULL
) ON [PRIMARY]

GO
