USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEBIMENTO_AG](
	[NR_RECEBIMENTO] [char](6) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_RECEBIMENTO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_BANCO] [char](3) NULL,
	[VL_RECEBIMENTO] [float] NULL,
	[IN_CANCELADO] [char](1) NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[CD_USUARIO_CANC] [char](4) NULL,
	[IN_TRANSFERIDO] [char](1) NULL,
	[QT_ITENS_RECEB] [int] NULL,
	[IN_TRANSF_CANC] [char](1) NULL,
	[VL_DEVOLVIDO] [float] NULL,
	[IN_FAV_SM] [char](1) NULL,
	[DT_SOLIC_CH] [char](10) NULL,
	[NR_SOLIC_CH] [char](3) NULL,
	[NR_FP] [char](10) NULL,
	[IN_CAMBIO] [char](1) NULL,
	[IN_UNIFICADO] [char](1) NULL,
	[VL_TOT_RECEBIDO] [float] NULL,
	[IN_MAIOR] [char](1) NULL,
	[IN_ABERTO] [char](1) NULL,
	[VL_TT_ADICIONAL] [float] NULL,
	[TP_RECEBIMENTO] [char](1) NULL,
	[VL_TOT_UTILIZADO] [float] NULL,
	[IN_FATURADO] [char](1) NULL,
	[NR_FATURA] [char](6) NULL,
	[NR_RECIBO] [char](6) NULL,
	[IN_EMITIDO_FAT] [char](1) NULL,
	[DT_FATURA] [datetime] NULL,
 CONSTRAINT [PK_TRECEBIMENTO_AG] PRIMARY KEY CLUSTERED 
(
	[NR_RECEBIMENTO] ASC,
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TRECEBIMENTO_AG_7_374864998__K23_K1_K2_K3_4] ON [TRECEBIMENTO_AG]
(
	[IN_ABERTO] ASC,
	[NR_RECEBIMENTO] ASC,
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC
)
INCLUDE ( 	[DT_RECEBIMENTO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
