USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABILIZACAO_GERENCIAL](
	[CD_COLIGADA] [char](2) NOT NULL,
	[NR_CONTAB] [char](4) NOT NULL,
	[NR_LANCAMENTO] [char](6) NOT NULL,
	[CT_GERENCIAL] [char](4) NOT NULL,
	[VL_GERENCIAL] [float] NULL CONSTRAINT [DF_TCONTABILI_VL_GERENCIA4__35]  DEFAULT (0)
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IND_CONTAB_GER] ON [TCONTABILIZACAO_GERENCIAL]
(
	[CD_COLIGADA] ASC,
	[NR_CONTAB] ASC,
	[NR_LANCAMENTO] ASC,
	[CT_GERENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
