USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMAIL_PENDENTES](
	[NR_PROCESSO] [varchar](50) NULL,
	[PREVISAO] [datetime] NULL,
	[ATRASO] [int] NULL,
	[SALDO_PROC] [decimal](15, 2) NULL,
	[VALOR_SERVICO] [decimal](15, 2) NULL,
	[CLIENTE] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[AREA] [varchar](50) NULL,
	[DT_EVENTO_BASE] [datetime] NULL,
	[CD_REFERENCIA] [varchar](100) NULL,
	[LOCAL_DESEMBARQUE] [varchar](50) NULL,
	[NM_EVENTO_BASE] [char](50) NULL,
	[LOCAL_EMBARQUE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TMAIL_PENDENTES] ON [TMAIL_PENDENTES]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
