USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREF_CLIENTE_EMBARQUE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [char](2) NOT NULL,
	[PB_REFERENCIA] [float] NULL,
	[CD_COMPRADOR] [char](5) NULL,
	[QT_CNTR_20] [int] NULL,
	[QT_CNTR_40] [int] NULL,
 CONSTRAINT [PK_TREF_CLIENTE_EMBARQUE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
