USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTIPO_REF](
	[CD_TIPO_REF] [char](1) NOT NULL,
	[NM_TIPO_REF] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TTIPO_REF] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_REF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
