USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFOLLOWUP_ETAPA](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_FOLLOWUP_ETAPA] [int] NOT NULL,
	[CD_ETAPA] [int] NULL,
	[CD_USUARIO] [char](4) NULL,
	[DT_ALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_TFOLLOWUP_ETAPA] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC,
	[CD_FOLLOWUP_ETAPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TFOLLOWUP_ETAPA_IDX01] ON [TFOLLOWUP_ETAPA]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
