USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_COMPONENTE](
	[CD_TIPO_COMPONENTE] [int] IDENTITY(1,1) NOT NULL,
	[NM_TIPO_COMPONENTE] [varchar](100) NULL,
 CONSTRAINT [PK_TTP_COMPONENTE] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_COMPONENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
