USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EST_DESP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[VL_QTDE] [int] NOT NULL,
	[NM_ESPECIE] [varchar](100) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[VL_PESO_LIQUIDO] [float] NULL,
	[CD_MERCADORIA] [varchar](30) NULL,
	[VL_MLE_MNEG] [float] NULL,
	[VL_FRETE_MNEG] [float] NULL,
	[VL_SEGURO_MNEG] [float] NULL,
	[VL_CIF_MN] [float] NULL,
	[CD_ARMAZEM_ATRACACAO] [float] NULL,
	[VL_IMP] [float] NULL,
	[VL_DESP] [float] NULL,
	[VL_CIF_IMP] [float] NULL,
	[VL_PERC_DESP_CIF] [float] NULL,
	[VL_PERC_DESP_CIF_IMP] [float] NULL,
	[VL_FRETE_MN] [float] NULL,
	[VL_DESP_FRETE] [float] NULL,
	[VL_MLE_MN] [float] NULL,
	[VL_DESP_FRETE_IMP] [float] NULL,
	[VL_PERC_DESP_FRETE_IMP_FOB] [float] NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[NM_CAMBIO] [varchar](10) NULL,
	[VL_PESO_BRUTO] [float] NULL,
	[CD_LOCAL_EMBARQUE] [char](4) NULL,
	[VL_DESP_FRETE_PESO_LIQ] [float] NULL,
 CONSTRAINT [PK_TREL_EST_DESP] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC,
	[VL_QTDE] ASC,
	[NM_ESPECIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_EST_DESP] ADD  CONSTRAINT [DF__TREL_EST___VL_FR__107041D4]  DEFAULT ((0)) FOR [VL_FRETE_MN]
GO
ALTER TABLE [TREL_EST_DESP] ADD  CONSTRAINT [DF__TREL_EST___VL_DE__1164660D]  DEFAULT ((0)) FOR [VL_DESP_FRETE]
GO
ALTER TABLE [TREL_EST_DESP] ADD  CONSTRAINT [DF__TREL_EST___VL_ML__59FF228A]  DEFAULT ((0)) FOR [VL_MLE_MN]
GO
ALTER TABLE [TREL_EST_DESP] ADD  CONSTRAINT [DF__TREL_EST___VL_DE__60AC2019]  DEFAULT ((0)) FOR [VL_DESP_FRETE_IMP]
GO
ALTER TABLE [TREL_EST_DESP] ADD  CONSTRAINT [DF__TREL_EST___VL_PE__61A04452]  DEFAULT ((0)) FOR [VL_PERC_DESP_FRETE_IMP_FOB]
GO
ALTER TABLE [TREL_EST_DESP] ADD  CONSTRAINT [DF__TREL_EST___VL_PE__6941661A]  DEFAULT ((0)) FOR [VL_PESO_BRUTO]
GO
ALTER TABLE [TREL_EST_DESP] ADD  CONSTRAINT [DF__TREL_EST___VL_DE__73BEF48D]  DEFAULT ((0)) FOR [VL_DESP_FRETE_PESO_LIQ]
GO
