USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLX_CX](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[VL_SALDO_INICIAL] [float] NULL,
	[VL_REC_R_DESEMB] [float] NULL,
	[VL_REC_R_FT] [float] NULL,
	[VL_REC_R_FI] [float] NULL,
	[VL_REC_P_DESEMB] [float] NULL,
	[VL_REC_P_FT] [float] NULL,
	[VL_REC_P_FI] [float] NULL,
	[VL_SALDO_REC] [float] NULL,
	[VL_SALDO_PREV] [float] NULL,
	[VL_DES_P_DA] [float] NULL,
	[VL_DES_G_DA] [float] NULL,
	[VL_DES_T_DA] [float] NULL,
	[VL_DES_P_DP] [float] NULL,
	[VL_DES_G_DP] [float] NULL,
	[VL_DES_T_DP] [float] NULL,
	[VL_DES_P_PS] [float] NULL,
	[VL_DES_G_PS] [float] NULL,
	[VL_DES_T_PS] [float] NULL,
	[VL_DES_P_HD] [float] NULL,
	[VL_DES_G_HD] [float] NULL,
	[VL_DES_T_HD] [float] NULL,
	[VL_DES_P_CD] [float] NULL,
	[VL_DES_G_CD] [float] NULL,
	[VL_DES_T_CD] [float] NULL,
	[VL_DES_P_I] [float] NULL,
	[VL_DES_G_I] [float] NULL,
	[VL_DES_T_I] [float] NULL,
	[VL_DES_P_CS] [float] NULL,
	[VL_DES_G_CS] [float] NULL,
	[VL_DES_T_CS] [float] NULL,
	[VL_DES_P_AF] [float] NULL,
	[VL_DES_G_AF] [float] NULL,
	[VL_DES_T_AF] [float] NULL,
	[VL_DES_P_AS] [float] NULL,
	[VL_DES_G_AS] [float] NULL,
	[VL_DES_T_AS] [float] NULL,
	[VL_DES_P_AE] [float] NULL,
	[VL_DES_G_AE] [float] NULL,
	[VL_DES_T_AE] [float] NULL,
	[VL_DES_P_AU] [float] NULL,
	[VL_DES_G_AU] [float] NULL,
	[VL_DES_T_AU] [float] NULL,
	[VL_DES_P_EF] [float] NULL,
	[VL_DES_G_EF] [float] NULL,
	[VL_DES_T_EF] [float] NULL,
	[VL_DES_P_ES] [float] NULL,
	[VL_DES_G_ES] [float] NULL,
	[VL_DES_T_ES] [float] NULL,
	[VL_DES_P_SG] [float] NULL,
	[VL_DES_G_SG] [float] NULL,
	[VL_DES_T_SG] [float] NULL,
	[VL_DES_P_OR] [float] NULL,
	[VL_DES_G_OR] [float] NULL,
	[VL_DES_T_OR] [float] NULL,
	[VL_TOT_ENT] [float] NULL,
	[VL_TOT_ENT_PREV] [float] NULL,
	[VL_TOT_DISP_REAL] [float] NULL,
	[VL_TOT_DISP_PREV] [float] NULL,
	[VL_SAIDA_REAL_PREV] [float] NULL,
	[VL_SAIDA_REAL] [float] NULL,
	[VL_DES_P_COR] [float] NULL,
	[VL_DES_R_COR] [float] NULL,
	[VL_DES_P_DDS] [float] NULL,
	[VL_DES_R_DDS] [float] NULL,
	[VL_DES_P_SAL] [float] NULL,
	[VL_DES_R_SAL] [float] NULL,
	[VL_DES_P_FAB] [float] NULL,
	[VL_DES_R_FAB] [float] NULL,
	[VL_DES_P_FIN] [float] NULL,
	[VL_DES_R_FIN] [float] NULL,
	[VL_DES_P_DEC] [float] NULL,
	[VL_DES_R_DEC] [float] NULL,
	[VL_TOT_P_ADM] [float] NULL,
	[VL_TOT_R_ADM] [float] NULL,
	[VL_TOT_P_PES] [float] NULL,
	[VL_TOT_R_PES] [float] NULL
) ON [PRIMARY]

GO
