USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_DETALHE_OPERACAO](
	[CD_DETALHE_OPERACAO] [int] NULL,
	[NM_DETALHE_OPERACAO] [varchar](50) NULL
) ON [PRIMARY]

GO
