USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_ADITIVO](
	[CD_CAMPO] [char](2) NOT NULL,
	[NM_CAMPO] [char](20) NULL,
 CONSTRAINT [PK_TTP_ADITIVO] PRIMARY KEY CLUSTERED 
(
	[CD_CAMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
