USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tservico_evento_backup](
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[NR_ORDEM] [float] NOT NULL,
	[CD_EV_BASICO] [char](3) NULL,
	[PZ_DO_EV_BASICO] [float] NULL,
	[CD_EV_FUTURO] [char](3) NULL,
	[PZ_ATE_EV_FUTURO] [float] NULL,
	[CD_TIPO_EVENTO] [char](2) NULL,
	[IN_DASHBOARD] [bit] NULL,
	[IN_PRAZO_UTIL] [char](1) NULL,
	[IN_PRAZO_FERIADO] [char](1) NULL
) ON [PRIMARY]

GO
