USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FAT_PEND_BOLETO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[NR_NF] [char](6) NULL,
	[VL_FATURA] [float] NOT NULL,
	[DT_EMISSAO] [datetime] NULL,
	[CD_CLIENTE] [char](5) NULL,
 CONSTRAINT [PK_TREL_FAT_PEND_BOLETO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FAT_PEND_BOLETO] ADD  CONSTRAINT [DF_TREL_FAT_PEND_BOLETO_VL_FATURA]  DEFAULT (0) FOR [VL_FATURA]
GO
