USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARMAZEM_DESPESAS_CLIENTE_SERVICO](
	[CD_ARMAZEM] [char](4) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_DESPESA] [int] NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_TABELA] [int] NOT NULL,
 CONSTRAINT [PK_TARMAZEM_DESPESAS_CLIENTE_SERVICO] PRIMARY KEY CLUSTERED 
(
	[CD_ARMAZEM] ASC,
	[CD_ITEM] ASC,
	[CD_CLIENTE] ASC,
	[CD_DESPESA] ASC,
	[CD_SERVICO] ASC,
	[CD_TABELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
