USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_ESPEC](
	[NR_SD] [char](18) NULL,
	[NR_SEQ_ESPEC] [int] IDENTITY(1,1) NOT NULL,
	[CD_ESPECIE] [char](2) NULL,
	[QT_ESPECIE] [decimal](15, 2) NULL,
	[TX_MARCACAO_VOLUME] [varchar](60) NULL,
	[DT_DATA] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[PB_ESPECIE] [float] NULL,
	[NR_SEQUENCIAL] [int] NULL,
	[CD_MERC_PERIGOSA] [int] NULL
) ON [PRIMARY]

GO
