USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TITEM](
	[CD_ITEM] [char](3) NOT NULL,
	[NM_ITEM] [char](30) NOT NULL,
	[CD_TIPO_ITEM] [char](1) NOT NULL,
	[CD_TIPO_LANC_FAT] [char](1) NULL CONSTRAINT [DF_TITEM_CD_TIPO_LANC_FAT2__70]  DEFAULT ('0'),
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TITEM_IN_ATIVO_1__28]  DEFAULT ('0'),
	[IN_CPMF] [char](1) NULL CONSTRAINT [DF_TITEM_IN_CPMF_3__28]  DEFAULT ('1'),
	[CD_CT_CONTABIL] [char](12) NULL,
	[CD_CT_CUSTO] [char](3) NULL,
	[IN_CONSOLIDA] [char](1) NULL CONSTRAINT [DF_TITEM_IN_CONSOLIDA_2__28]  DEFAULT ('0'),
	[CD_FORMA_RATEIO] [char](1) NULL CONSTRAINT [DF_TITEM_CD_FORMA_RATEIO_1__70]  DEFAULT ('1'),
	[CD_TIPO_AVON] [char](1) NULL CONSTRAINT [DF_TITEM_CD_TIPO_AVON_1__36]  DEFAULT ('3'),
	[IN_DOLAR] [char](1) NULL CONSTRAINT [DF_TITEM_IN_DOLAR_4__28]  DEFAULT ('0'),
	[IN_FAV_SM] [char](1) NULL CONSTRAINT [DF_TITEM_IN_FAV_SM_3__70]  DEFAULT ('0'),
	[CD_CT_GERENCIAL] [char](4) NULL,
	[CD_FILIAL] [char](3) NULL,
	[NM_APELIDO] [char](10) NULL,
	[NM_ITEM_INGLES] [char](30) NULL,
	[NM_ITEM_ESPANHOL] [char](30) NULL,
	[IN_ITEM_DI] [char](1) NULL CONSTRAINT [DF_TITEM_IN_ITEM_DI]  DEFAULT ('0'),
	[CD_ACESSO] [char](1) NULL,
	[CD_AUX] [char](3) NULL,
	[IN_REEMBOLSO] [char](1) NULL CONSTRAINT [DF__TITEM__IN_REEMBO__7254385A]  DEFAULT ('1'),
	[IN_DIVERSOS] [char](1) NULL CONSTRAINT [DF__TITEM__IN_DIVERS__78CC2BBF]  DEFAULT ('0'),
	[IN_CALCULA_IR] [char](1) NULL CONSTRAINT [DF__TITEM__IN_CALCUL__1844D718]  DEFAULT ('0'),
	[NR_ORDEM_FAT] [int] NULL,
	[IN_TRIBUTAVEL] [char](1) NULL CONSTRAINT [DF__TITEM__IN_TRIBUT__5DEEE3A8]  DEFAULT ('0'),
	[IN_SOLIC_PAGTO] [char](1) NULL,
	[IN_DESP_ALF] [char](1) NULL CONSTRAINT [DF__TITEM__IN_DESP_A__09A5AAB9]  DEFAULT ('0'),
	[IN_REEMB_FINANC] [char](1) NULL CONSTRAINT [DF__TITEM__IN_REEMB___478DCE99]  DEFAULT ('0'),
	[TP_ITEM] [char](1) NULL,
	[CD_IATA] [char](2) NULL,
	[CD_ITEM_CONTABIL] [char](3) NULL,
	[CD_HIST_CONTABIL] [char](40) NULL,
	[IN_CALC_IN381] [char](1) NULL,
	[TP_FRETE] [char](1) NULL,
	[TP_BASE_CALCULO] [char](2) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[TP_ITEM_SG] [char](1) NULL,
	[TP_ITEM_SGA] [char](1) NULL,
	[IN_RECIBO] [char](1) NULL,
	[IN_ITEM_GRUPO] [char](1) NULL,
	[CD_ITEM_GRUPO] [char](3) NULL,
 CONSTRAINT [PK_TITEM] PRIMARY KEY CLUSTERED 
(
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TITEM_5_463197296__K2_1] ON [TITEM]
(
	[NM_ITEM] ASC
)
INCLUDE ( 	[CD_ITEM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TITEM_5_463197296__K5_1_2_3] ON [TITEM]
(
	[IN_ATIVO] ASC
)
INCLUDE ( 	[CD_ITEM],
	[NM_ITEM],
	[CD_TIPO_ITEM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TITEM_5_463197296__K5_1_2_3_4_30] ON [TITEM]
(
	[IN_ATIVO] ASC
)
INCLUDE ( 	[CD_ITEM],
	[NM_ITEM],
	[CD_TIPO_ITEM],
	[CD_TIPO_LANC_FAT],
	[TP_ITEM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TITEM_5_463197296__K5_1_2_30] ON [TITEM]
(
	[IN_ATIVO] ASC
)
INCLUDE ( 	[CD_ITEM],
	[NM_ITEM],
	[TP_ITEM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TITEM_7_463197296__K1_26] ON [TITEM]
(
	[CD_ITEM] ASC
)
INCLUDE ( 	[IN_TRIBUTAVEL]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
