USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAB_ASSOCIACAO_DEDUCAO](
	[COD_INCOTERMS] [varchar](3) NOT NULL,
	[COD_ACR_DECR] [varchar](3) NOT NULL,
 CONSTRAINT [PK_TAB_ASSOCIACAO_DEDUCAO1__10] PRIMARY KEY CLUSTERED 
(
	[COD_INCOTERMS] ASC,
	[COD_ACR_DECR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [ID_ASSOCIACAO_DEDUCAO] ON [TAB_ASSOCIACAO_DEDUCAO]
(
	[COD_INCOTERMS] ASC,
	[COD_ACR_DECR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
