USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_HABILITACAO](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[DT_VALID_CRED_RF] [datetime] NULL,
	[DT_CAPTACAO] [datetime] NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TCLIENTE_H_IN_ATIVO_1__12]  DEFAULT ('1'),
	[TX_NUMERARIO_OBS] [text] NULL,
	[QT_ADIANTAMENTO] [numeric](6, 0) NULL,
	[CD_DT_BASE_CAMBIO] [char](1) NULL,
	[CD_TAB_SDA] [char](3) NULL,
	[CD_EQUIPE] [char](2) NULL,
	[CD_FOLLOW_UP] [char](2) NULL,
	[CD_NUMERARIO] [char](2) NULL,
	[IN_LIBERACAO] [char](1) NULL CONSTRAINT [DF_TCLIENTE_H_IN_LIBERACA2__12]  DEFAULT ('0'),
	[CD_TP_FOLLOW_UP] [char](2) NULL,
	[IN_SD_FAT_ZERO] [char](1) NULL CONSTRAINT [DF_TCLIENTE_H_IN_SD_FAT_Z1__19]  DEFAULT ('0'),
	[IN_SD_NOTA_ZERO] [char](1) NULL CONSTRAINT [DF_TCLIENTE_H_IN_SD_NOTA_2__19]  DEFAULT ('0'),
	[IN_COBRAR_CPMF] [char](1) NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_IN_COBRAR_CPMF]  DEFAULT ('0'),
	[CD_RESPONSAVEL] [char](1) NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_CD_RESPONSAVEL]  DEFAULT ('D'),
	[IN_BOLETO] [char](1) NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_IN_BOLETO]  DEFAULT ('0'),
	[NR_DIAS_VENCTO_FATURA] [int] NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_NR_DIAS_VENCTO_FATURA]  DEFAULT ('0'),
	[IN_COMP_SDA] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_CO__5E8249D7]  DEFAULT ('0'),
	[IN_QUADRO_TOTAL_FAT] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_QU__79C04FF8]  DEFAULT ('0'),
	[CD_IR_FAT] [char](1) NULL CONSTRAINT [DF__TCLIENTE___CD_IR__7AB47431]  DEFAULT ('0'),
	[IN_DIVERSOS] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_DI__7BA8986A]  DEFAULT ('0'),
	[IN_CC_NUM] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_CC__578B3385]  DEFAULT ('0'),
	[IN_OBS_UNICA] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_OB__01816D51]  DEFAULT ('1'),
	[IN_OBS_POR_DATA] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_OB__4F9FF8FA]  DEFAULT ('0'),
	[IN_DIA_UTIL_EMISSAO_FAT] [char](1) NULL,
	[TP_PORTADOR] [char](1) NULL CONSTRAINT [DF__TCLIENTE___TP_PO__434FFC05]  DEFAULT ('1'),
	[CD_BANCO_PORTADOR] [char](3) NULL,
	[IN_CPMF_SALDO_CREDOR] [char](1) NULL,
	[IN_CALCULA_IRRF_VL_MIN] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_CA__5EC30C50]  DEFAULT ('0'),
	[IN_NOTA_LIQ] [char](1) NULL,
	[IN_FAT_REC] [char](1) NULL,
	[TP_TAB_SDA] [char](1) NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_TP_TAB_SDA]  DEFAULT ('0'),
	[IN_EXP_NF] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_EX__582BE8B1]  DEFAULT ('0'),
	[NR_CONTRATO_SEGURO] [varchar](10) NULL,
	[IN_COBRAR_ISS] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_CO__273E9893]  DEFAULT ('0'),
	[NR_ALT_LINHA_FAT_EXP] [int] NULL CONSTRAINT [DF__TCLIENTE___NR_AL__4F177FC3]  DEFAULT ((100)),
	[IN_CPMF_TOTAL] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_CP__7AF60201]  DEFAULT ('0'),
	[NR_PROT_MERCANTE] [char](10) NULL,
	[VL_MIN_DI] [float] NULL CONSTRAINT [DF__TCLIENTE___VL_MI__0F5CED61]  DEFAULT ((250000)),
	[IN_FAT_SEM_DESP] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_FA__7F1176FF]  DEFAULT ('0'),
	[IN_NUM_FAT_EXP_AUT] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_NU__52FDEA97]  DEFAULT ('0'),
	[IN_TX_SCX_ICMS] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_TX__3895A3CC]  DEFAULT ('0'),
	[IN_COBRAR_COFINS] [char](1) NULL,
	[VL_ALIQ_COFINS_CLIENTE] [float] NULL,
	[CD_RET_FAT] [char](1) NULL,
	[IN_ND] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_ND__37824F59]  DEFAULT ('0'),
	[IN_AVISO_RETENCAO] [char](1) NULL CONSTRAINT [DF__TCLIENTE___IN_AV__14F82D2B]  DEFAULT ('0'),
	[IN_REMESSA] [char](1) NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_IN_REMESSA]  DEFAULT ('0'),
	[IN_REF_ACEITA_BARRA] [char](1) NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_IN_REF_ACEITA_BARRA]  DEFAULT ('1'),
	[NR_TAMANHO_REF] [int] NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_NR_TAMANHO_REF]  DEFAULT ((0)),
	[IN_BORDERO] [char](1) NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_IN_BORDERO]  DEFAULT ('0'),
	[IN_DOCTO_SOLIC] [char](1) NULL,
	[IN_ENVIA_PDF] [char](1) NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_IN_ENVIA_PDF]  DEFAULT ('0'),
	[IN_AUTO_MERC_FABR] [char](1) NULL CONSTRAINT [DF_TCLIENTE_HABILITACAO_IN_AUTO_MERC_FABR]  DEFAULT ('0'),
	[DT_VALID_ANVISA] [datetime] NULL,
	[IN_TP_RETENCAO_IR] [char](1) NULL,
	[IN_TP_RETENCAO_COFINS] [char](1) NULL,
	[NR_DIA_VENCTO] [char](2) NULL,
	[NR_DIA_VENCTO_BASE] [char](2) NULL,
	[CD_ATENDENTE] [char](4) NULL,
	[NM_EMAILS] [varchar](2000) NULL,
	[DT_RADAR] [datetime] NULL,
	[DT_REAJUSTE_IMP] [datetime] NULL,
	[DT_REAJUSTE_EXP] [datetime] NULL,
 CONSTRAINT [PK_TCLIENTE_HABILITACAO] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
