USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DIAGNOSTICO_ERROS](
	[NR_DECL_IMP_PROT] [char](10) NOT NULL,
	[NR_OP_IMP_MICRO] [char](3) NOT NULL,
	[IN_RESTRICAO_ERRO] [char](1) NOT NULL,
	[TX_MENSAGEM_ERRO] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [ID_DIAG_ERROS] ON [DIAGNOSTICO_ERROS]
(
	[NR_DECL_IMP_PROT] ASC,
	[NR_OP_IMP_MICRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
