USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCAIXA](
	[CD_COLIGADA] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[NR_LANCAMENTO] [char](6) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[TP_LANCAMENTO] [char](1) NULL,
	[TP_PROCEDENCIA] [char](1) NULL,
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF_TCAIXA_IN_CANCELADO_1__21]  DEFAULT ('0'),
	[IN_TRANSFERIDO] [char](1) NULL CONSTRAINT [DF_TCAIXA_IN_TRANSFERIDO_2__21]  DEFAULT ('0'),
	[CD_HISTORICO] [varchar](8) NULL,
	[NM_HISTORICO] [varchar](180) NULL,
	[VL_LANCAMENTO] [float] NULL CONSTRAINT [DF_TCAIXA_VL_LANCAMENTO_5__21]  DEFAULT (0),
	[TP_PAGAMENTO] [char](1) NULL,
	[TP_NATUREZA] [char](1) NULL,
	[CD_BANCO] [char](3) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[CD_CT_ACERTO] [char](3) NULL,
	[DT_ACERTO] [datetime] NULL,
	[NR_ACERTO] [char](3) NULL,
	[CD_CT_CONTABIL] [char](12) NULL,
	[CD_CT_CUSTO] [char](4) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_ITEM] [char](3) NULL,
	[VL_IR] [float] NULL CONSTRAINT [DF_TCAIXA_VL_IR_4__21]  DEFAULT (0),
	[VL_ASSIST] [float] NULL CONSTRAINT [DF_TCAIXA_VL_ASSIST_3__21]  DEFAULT (0),
	[CD_DESPACHANTE] [char](3) NULL,
	[IN_RESTITUI] [char](1) NULL CONSTRAINT [DF_TCAIXA_IN_RESTITUI_1__20]  DEFAULT ('0'),
	[CD_ACESSO] [char](1) NULL,
	[CD_AUX] [char](3) NULL,
	[CD_HIST_PADRAO] [char](3) NULL,
	[DT_CANCELADO] [datetime] NULL,
	[IN_CONTABILIZA] [char](1) NULL CONSTRAINT [DF__TCAIXA__IN_CONTA__7C536F37]  DEFAULT ('1'),
	[IN_OPERACIONAL] [char](1) NULL CONSTRAINT [DF_TCAIXA_IN_OPERACIONAL]  DEFAULT ('0'),
	[NR_FP] [char](10) NULL,
	[VL_INSS] [float] NULL,
	[VL_PISCOFINS] [float] NULL,
	[VL_ISS] [float] NULL,
	[IN_CONCILIACAO] [char](1) NULL CONSTRAINT [DF_TCAIXA_IN_CONCILIACAO]  DEFAULT ('0'),
	[DT_CONCILIACAO] [datetime] NULL,
	[IN_FILTRO] [char](1) NULL,
	[NR_SOLIC_FAT] [char](3) NULL,
	[VL_MOEDA] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_TARIFA] [float] NULL,
	[IN_FATURADO] [char](1) NULL,
	[CD_USUARIO_CONCILIACAO] [char](4) NULL,
	[IN_CONCILIACAO_AUTOM] [char](1) NULL CONSTRAINT [DF_TCAIXA_IN_CONCILIACAO_AUTOM]  DEFAULT ('0'),
	[NR_SEQ_CONCILIACAO] [int] NULL,
	[CD_CT_CONTABIL_CTAAPAGAR] [char](12) NULL,
	[IN_SELECIONADO] [char](1) NULL,
	[NR_CTAAPAGAR] [char](3) NULL,
	[CODIGO_CTAAPAGAR_LANC] [int] NULL,
	[NR_LANCAMENTO_SELECIONADO] [char](6) NULL,
	[CD_RATEIO] [char](4) NULL,
 CONSTRAINT [PK_TCAIXA] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[DT_MOVIMENTO] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_5_385800832__K1_K2_K5_K4_3_6_7_8_9_10_11_12_13_14_15_19_20_21_24_28_29_30_31_32_35_36_37_38_39_46_47_48_54] ON [TCAIXA]
(
	[CD_COLIGADA] ASC,
	[DT_MOVIMENTO] ASC,
	[TP_LANCAMENTO] ASC,
	[CD_UNID_NEG] ASC
)
INCLUDE ( 	[NR_LANCAMENTO],
	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[CD_HISTORICO],
	[NM_HISTORICO],
	[VL_LANCAMENTO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[CD_BANCO],
	[NR_CHEQUE],
	[CD_CT_CONTABIL],
	[CD_CT_CUSTO],
	[CD_FAVORECIDO],
	[VL_IR],
	[CD_ACESSO],
	[CD_AUX],
	[CD_HIST_PADRAO],
	[DT_CANCELADO],
	[IN_CONTABILIZA],
	[VL_INSS],
	[VL_PISCOFINS],
	[VL_ISS],
	[IN_CONCILIACAO],
	[DT_CONCILIACAO],
	[CD_USUARIO_CONCILIACAO],
	[IN_CONCILIACAO_AUTOM],
	[NR_SEQ_CONCILIACAO],
	[CD_RATEIO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_5_385800832__K1_K2_K5_K4_K22_3_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_23_24_25_26_27_28_29_30_31_32_33_] ON [TCAIXA]
(
	[CD_COLIGADA] ASC,
	[DT_MOVIMENTO] ASC,
	[TP_LANCAMENTO] ASC,
	[CD_UNID_NEG] ASC,
	[NR_PROCESSO] ASC
)
INCLUDE ( 	[NR_LANCAMENTO],
	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[CD_HISTORICO],
	[NM_HISTORICO],
	[VL_LANCAMENTO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[CD_BANCO],
	[NR_CHEQUE],
	[CD_CT_ACERTO],
	[DT_ACERTO],
	[NR_ACERTO],
	[CD_CT_CONTABIL],
	[CD_CT_CUSTO],
	[CD_FAVORECIDO],
	[CD_ITEM],
	[VL_IR],
	[VL_ASSIST],
	[CD_DESPACHANTE],
	[IN_RESTITUI],
	[CD_ACESSO],
	[CD_AUX],
	[CD_HIST_PADRAO],
	[DT_CANCELADO],
	[IN_CONTABILIZA],
	[IN_OPERACIONAL],
	[NR_FP],
	[VL_INSS],
	[VL_PISCOFINS],
	[VL_ISS],
	[IN_CONCILIACAO],
	[DT_CONCILIACAO],
	[IN_FILTRO],
	[NR_SOLIC_FAT],
	[VL_MOEDA],
	[CD_MOEDA],
	[VL_TARIFA],
	[IN_FATURADO],
	[CD_USUARIO_CONCILIACAO],
	[IN_CONCILIACAO_AUTOM],
	[NR_SEQ_CONCILIACAO],
	[CD_CT_CONTABIL_CTAAPAGAR],
	[IN_SELECIONADO],
	[NR_CTAAPAGAR],
	[CODIGO_CTAAPAGAR_LANC],
	[NR_LANCAMENTO_SELECIONADO],
	[CD_RATEIO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_5_385800832__K4_K5_K2_K1_K3_K11_6_7_8_10_12_13_14_15_19_20_21_24_28_29_30_31_32_39_50_53] ON [TCAIXA]
(
	[CD_UNID_NEG] ASC,
	[TP_LANCAMENTO] ASC,
	[DT_MOVIMENTO] ASC,
	[CD_COLIGADA] ASC,
	[NR_LANCAMENTO] ASC,
	[VL_LANCAMENTO] ASC
)
INCLUDE ( 	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[NM_HISTORICO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[CD_BANCO],
	[NR_CHEQUE],
	[CD_CT_CONTABIL],
	[CD_CT_CUSTO],
	[CD_FAVORECIDO],
	[VL_IR],
	[CD_ACESSO],
	[CD_AUX],
	[CD_HIST_PADRAO],
	[DT_CANCELADO],
	[IN_CONTABILIZA],
	[DT_CONCILIACAO],
	[IN_SELECIONADO],
	[NR_LANCAMENTO_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_5_385800832__K5_K4_K11_K22_K2_1_3_6_7_8_10_12_13_14_15_19_21_23_24_25_26_27_39_50_53] ON [TCAIXA]
(
	[TP_LANCAMENTO] ASC,
	[CD_UNID_NEG] ASC,
	[VL_LANCAMENTO] ASC,
	[NR_PROCESSO] ASC,
	[DT_MOVIMENTO] ASC
)
INCLUDE ( 	[CD_COLIGADA],
	[NR_LANCAMENTO],
	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[NM_HISTORICO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[CD_BANCO],
	[NR_CHEQUE],
	[CD_CT_CONTABIL],
	[CD_FAVORECIDO],
	[CD_ITEM],
	[VL_IR],
	[VL_ASSIST],
	[CD_DESPACHANTE],
	[IN_RESTITUI],
	[DT_CONCILIACAO],
	[IN_SELECIONADO],
	[NR_LANCAMENTO_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_5_385800832__K5_K4_K15_K2_K22_1_3_6_7_8_10_11_12_13_14_19_21_23_24_25_26_27_39_50_53] ON [TCAIXA]
(
	[TP_LANCAMENTO] ASC,
	[CD_UNID_NEG] ASC,
	[NR_CHEQUE] ASC,
	[DT_MOVIMENTO] ASC,
	[NR_PROCESSO] ASC
)
INCLUDE ( 	[CD_COLIGADA],
	[NR_LANCAMENTO],
	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[NM_HISTORICO],
	[VL_LANCAMENTO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[CD_BANCO],
	[CD_CT_CONTABIL],
	[CD_FAVORECIDO],
	[CD_ITEM],
	[VL_IR],
	[VL_ASSIST],
	[CD_DESPACHANTE],
	[IN_RESTITUI],
	[DT_CONCILIACAO],
	[IN_SELECIONADO],
	[NR_LANCAMENTO_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_5_385800832__K5_K4_K19_K14_1_2_3_6_7_8_10_11_12_13_15_20_21_24_28_29_30_31_32_39_50_53] ON [TCAIXA]
(
	[TP_LANCAMENTO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_CT_CONTABIL] ASC,
	[CD_BANCO] ASC
)
INCLUDE ( 	[CD_COLIGADA],
	[DT_MOVIMENTO],
	[NR_LANCAMENTO],
	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[NM_HISTORICO],
	[VL_LANCAMENTO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[NR_CHEQUE],
	[CD_CT_CUSTO],
	[CD_FAVORECIDO],
	[VL_IR],
	[CD_ACESSO],
	[CD_AUX],
	[CD_HIST_PADRAO],
	[DT_CANCELADO],
	[IN_CONTABILIZA],
	[DT_CONCILIACAO],
	[IN_SELECIONADO],
	[NR_LANCAMENTO_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_5_385800832__K5_K4_K2_K22_1_3_6_7_8_10_11_12_13_14_15_19_21_23_24_25_26_27_39_50_53] ON [TCAIXA]
(
	[TP_LANCAMENTO] ASC,
	[CD_UNID_NEG] ASC,
	[DT_MOVIMENTO] ASC,
	[NR_PROCESSO] ASC
)
INCLUDE ( 	[CD_COLIGADA],
	[NR_LANCAMENTO],
	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[NM_HISTORICO],
	[VL_LANCAMENTO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[CD_BANCO],
	[NR_CHEQUE],
	[CD_CT_CONTABIL],
	[CD_FAVORECIDO],
	[CD_ITEM],
	[VL_IR],
	[VL_ASSIST],
	[CD_DESPACHANTE],
	[IN_RESTITUI],
	[DT_CONCILIACAO],
	[IN_SELECIONADO],
	[NR_LANCAMENTO_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_7_385800832__K11_K5_K4_K2_K22_1_3_6_7_8_10_12_13_14_15_19_20_21_23_24_25_26_27_28_29_30_31_32_39_50_53] ON [TCAIXA]
(
	[VL_LANCAMENTO] ASC,
	[TP_LANCAMENTO] ASC,
	[CD_UNID_NEG] ASC,
	[DT_MOVIMENTO] ASC,
	[NR_PROCESSO] ASC
)
INCLUDE ( 	[CD_COLIGADA],
	[NR_LANCAMENTO],
	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[NM_HISTORICO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[CD_BANCO],
	[NR_CHEQUE],
	[CD_CT_CONTABIL],
	[CD_CT_CUSTO],
	[CD_FAVORECIDO],
	[CD_ITEM],
	[VL_IR],
	[VL_ASSIST],
	[CD_DESPACHANTE],
	[IN_RESTITUI],
	[CD_ACESSO],
	[CD_AUX],
	[CD_HIST_PADRAO],
	[DT_CANCELADO],
	[IN_CONTABILIZA],
	[DT_CONCILIACAO],
	[IN_SELECIONADO],
	[NR_LANCAMENTO_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_7_385800832__K4_K5_K2_K1_K3_K11_6_7_8_10_12_13_14_15_19_20_21_24_28_29_30_31_32_39_50_53] ON [TCAIXA]
(
	[CD_UNID_NEG] ASC,
	[TP_LANCAMENTO] ASC,
	[DT_MOVIMENTO] ASC,
	[CD_COLIGADA] ASC,
	[NR_LANCAMENTO] ASC,
	[VL_LANCAMENTO] ASC
)
INCLUDE ( 	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[NM_HISTORICO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[CD_BANCO],
	[NR_CHEQUE],
	[CD_CT_CONTABIL],
	[CD_CT_CUSTO],
	[CD_FAVORECIDO],
	[VL_IR],
	[CD_ACESSO],
	[CD_AUX],
	[CD_HIST_PADRAO],
	[DT_CANCELADO],
	[IN_CONTABILIZA],
	[DT_CONCILIACAO],
	[IN_SELECIONADO],
	[NR_LANCAMENTO_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCAIXA_7_385800832__K5_K4_K2_K22_1_3_6_7_8_10_11_12_13_14_15_19_21_23_24_25_26_27_39_50_53] ON [TCAIXA]
(
	[TP_LANCAMENTO] ASC,
	[CD_UNID_NEG] ASC,
	[DT_MOVIMENTO] ASC,
	[NR_PROCESSO] ASC
)
INCLUDE ( 	[CD_COLIGADA],
	[NR_LANCAMENTO],
	[TP_PROCEDENCIA],
	[IN_CANCELADO],
	[IN_TRANSFERIDO],
	[NM_HISTORICO],
	[VL_LANCAMENTO],
	[TP_PAGAMENTO],
	[TP_NATUREZA],
	[CD_BANCO],
	[NR_CHEQUE],
	[CD_CT_CONTABIL],
	[CD_FAVORECIDO],
	[CD_ITEM],
	[VL_IR],
	[VL_ASSIST],
	[CD_DESPACHANTE],
	[IN_RESTITUI],
	[DT_CONCILIACAO],
	[IN_SELECIONADO],
	[NR_LANCAMENTO_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IDX_CODIGO_CTAAPAGAR_LANC] ON [TCAIXA]
(
	[CODIGO_CTAAPAGAR_LANC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_NR_PROCESSO] ON [TCAIXA]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_CD_UNID_NEG] ON [TCAIXA]
(
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TP_LANCAMENTO] ON [TCAIXA]
(
	[TP_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
