USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_IN50](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_EMBALAGEM] [char](4) NOT NULL,
	[QT_SALDO] [int] NULL,
	[QT_SALDO_INICIAL] [int] NULL,
 CONSTRAINT [PK_TCLIENTE_IN50] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_EMBALAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
