USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVARIAVEL_IATA](
	[CD_CAMPO] [char](30) NULL,
	[NM_VARIAVEL] [char](3) NULL,
	[NM_CAMPO] [char](30) NULL
) ON [PRIMARY]

GO
