USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPE_TERMO_PAGTO](
	[ID_TERMO] [int] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_TERMO_PAGTO] [char](6) NULL,
	[VL_PERCENTUAL] [decimal](9, 0) NULL,
	[NR_PROCESSO_EXP] [char](18) NULL
) ON [PRIMARY]

GO
