USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMPRESA_EST_GRUPO](
	[CD_EMPRESA] [char](5) NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
 CONSTRAINT [PK_TEMPRESA_EST_GRUPO] PRIMARY KEY CLUSTERED 
(
	[CD_EMPRESA] ASC,
	[CD_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
