USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_SDA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[CD_STATUS] [char](1) NULL,
	[VL_BASE_CALCULO] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_VL_BASE_CALCULO]  DEFAULT (0),
	[VL_SDA] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_VL_SDA]  DEFAULT (0),
	[VL_CONTR_ASSIST] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_VL_CONTR_ASSIST]  DEFAULT (0),
	[VL_COMPL] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_VL_COMPL]  DEFAULT (0),
	[VL_PAGTO] [float] NULL CONSTRAINT [DF_TPROCESSO_SDA_VL_PAGTO]  DEFAULT (0),
	[IN_DISTR] [char](1) NULL CONSTRAINT [DF_TPROCESSO_SDA_IN_DISTR]  DEFAULT ('0'),
	[IN_EMITE] [char](1) NULL CONSTRAINT [DF_TPROCESSO_SDA_IN_EMITE]  DEFAULT ('0'),
	[IN_CANCEL] [char](1) NULL CONSTRAINT [DF_TPROCESSO_SDA_IN_CANCEL]  DEFAULT ('0'),
	[CD_USUARIO_DISTR] [char](4) NULL,
	[CD_USUARIO_EMITE] [char](4) NULL,
	[CD_USUARIO_CANCEL] [char](4) NULL,
	[DT_DISTRIBUICAO] [datetime] NULL,
	[DT_EMISSAO] [datetime] NULL,
	[DT_CANCEL] [datetime] NULL,
	[DT_PAGTO] [datetime] NULL,
	[CD_DISTRIBUIDOR] [char](4) NULL,
	[CD_EMISSOR] [char](4) NULL,
	[CD_CANCELADOR] [char](4) NULL,
 CONSTRAINT [PK_TPROCESSO_SDA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TPROCESSO_SDA_5_2114523012__K1] ON [TPROCESSO_SDA]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TPROCESSO_SDA_5_2114523012__K15_K2_K3_K1_4_5_6_7_10] ON [TPROCESSO_SDA]
(
	[DT_DISTRIBUICAO] ASC,
	[CD_DESPACHANTE] ASC,
	[CD_STATUS] ASC,
	[NR_PROCESSO] ASC
)
INCLUDE ( 	[VL_BASE_CALCULO],
	[VL_SDA],
	[VL_CONTR_ASSIST],
	[VL_COMPL],
	[IN_EMITE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TPROCESSO_SDA_5_2114523012__K15_K3_K1_K2] ON [TPROCESSO_SDA]
(
	[DT_DISTRIBUICAO] ASC,
	[CD_STATUS] ASC,
	[NR_PROCESSO] ASC,
	[CD_DESPACHANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TPROCESSO_SDA_5_2114523012__K3] ON [TPROCESSO_SDA]
(
	[CD_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
