USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_EXONERACAO](
	[CD_EX] [char](3) NOT NULL,
	[NM_EX] [char](30) NOT NULL,
	[CD_TRIB] [char](1) NOT NULL,
	[NM_FUND_LEGAL] [varchar](240) NULL,
 CONSTRAINT [PK_TTP_EXONERACAO] PRIMARY KEY CLUSTERED 
(
	[CD_EX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
