USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_CARGA](
	[CD_TIPO_CARGA] [int] NOT NULL,
	[NM_TIPO_CARGA] [varchar](2000) NULL,
 CONSTRAINT [PK_TTP_CARGA] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_CARGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
