USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMASTER_FATURA_AG_ITEM](
	[CD_MASTER] [char](18) NOT NULL,
	[NR_FATURA] [char](6) NOT NULL,
	[CODIGO] [char](2) NOT NULL,
	[CD_ITEM] [char](3) NULL,
	[VL_ITEM] [decimal](15, 4) NULL
) ON [PRIMARY]

GO
