USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DESTAQUE_NCM](
	[NR_OPER_TRAT_PREV] [char](10) NOT NULL,
	[NR_DESTAQUE_NCM] [varchar](3) NOT NULL
) ON [PRIMARY]

GO
