USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLP_AUT_CONTROLE](
	[NR_GERACAO] [int] NOT NULL,
	[DT_GERACAO] [datetime] NOT NULL,
	[IN_GERACAO] [bit] NOT NULL,
 CONSTRAINT [PK_TREL_FLP_AUT_CONTROLE] PRIMARY KEY NONCLUSTERED 
(
	[NR_GERACAO] ASC,
	[DT_GERACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FLP_AUT_CONTROLE] ADD  CONSTRAINT [DF_TREL_FLP_AUT_CONTROLE_IN_GERACAO]  DEFAULT (0) FOR [IN_GERACAO]
GO
