USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_REQUERIMENTO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_REQUERIMENTO] [char](10) NOT NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[NR_LI] [char](10) NULL,
	[DT_EMISSAO_LI] [datetime] NULL,
	[QT_FISICA_LI] [float] NULL,
	[QT_ACUMULADA] [float] NULL CONSTRAINT [DF_TPROCESSO_REQUERIMENTO_QT_ACUMULADA]  DEFAULT (0),
	[DT_DESPACHO] [datetime] NULL,
	[TX_OBS] [text] NULL,
	[IN_DEFERIDO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_REQUERIMENTO_IN_DEFERIDO]  DEFAULT (0),
	[IN_INDEFERIDO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_REQUERIMENTO_IN_INDEFERIDO]  DEFAULT (0),
	[DT_REQUERIMENTO] [datetime] NULL,
 CONSTRAINT [PK_TPROCESSO_REQUERIMENTO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_REQUERIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
