USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFORECAST_VIAB](
	[NR_FORECAST] [char](15) NOT NULL,
	[NR_LAUDO] [char](5) NOT NULL,
	[CD_MERCADORIA] [char](15) NOT NULL,
	[CD_MAT_PRI] [char](15) NOT NULL,
	[VL_II] [float] NULL CONSTRAINT [DF_TFORECAST_VIAB_VL_II]  DEFAULT (0),
	[VL_IPI] [float] NULL CONSTRAINT [DF_TFORECAST_VIAB_VL_IPI]  DEFAULT (0),
	[VL_ICMS] [float] NULL CONSTRAINT [DF_TFORECAST_VIAB_VL_ICMS]  DEFAULT (0),
	[VL_AFRMM] [float] NULL CONSTRAINT [DF_TFORECAST_VIAB_VL_AFRMM]  DEFAULT (0),
	[VL_TOTAL] [float] NULL CONSTRAINT [DF_TFORECAST_VIAB_VL_TOTAL]  DEFAULT (0),
	[VL_TOTAL_GERAL] [float] NULL CONSTRAINT [DF_TFORECAST_VIAB_VL_TOTAL_GERAL]  DEFAULT (0),
	[VL_VAR_CAMBIAL] [float] NULL CONSTRAINT [DF_TFORECAST_VIAB_VL_VAR_CAMBIAL]  DEFAULT (0),
	[IN_VIAVEL] [char](1) NULL CONSTRAINT [DF_TFORECAST_VIAB_IN_VIAVEL]  DEFAULT ('1'),
	[VL_CIF] [float] NULL CONSTRAINT [DF__TFORECAST__VL_CI__661BAC03]  DEFAULT (0),
	[VL_FOB] [float] NULL CONSTRAINT [DF__TFORECAST__VL_FO__670FD03C]  DEFAULT (0),
 CONSTRAINT [PK_TFORECAST_VIAB] PRIMARY KEY CLUSTERED 
(
	[NR_FORECAST] ASC,
	[NR_LAUDO] ASC,
	[CD_MERCADORIA] ASC,
	[CD_MAT_PRI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
