USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PO_FLP_EV](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[DT_REALIZACAO] [datetime] NULL,
	[DT_PREVISTA] [datetime] NULL,
	[DT_LIMITE] [datetime] NULL,
	[CD_RESPONSAVEL] [char](1) NULL,
	[CD_STATUS] [char](1) NULL,
	[NR_LEAD_TIME] [int] NULL,
	[NR_ORDEM] [float] NULL,
	[TX_OBS] [text] NULL,
	[IN_OBS] [char](1) NULL,
 CONSTRAINT [PK_TREL_PO_FLP_EV] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [TREL_PO_FLP_EV] ADD  CONSTRAINT [DF__TREL_PO_F__IN_OB__7EFB9D0F]  DEFAULT ('0') FOR [IN_OBS]
GO
