USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMOV_AUTONOMOS](
	[ANO] [char](4) NOT NULL,
	[CD_COLIGADA] [char](2) NOT NULL,
	[CD_RECOL] [char](4) NOT NULL,
	[CD_FAVORECIDO] [char](5) NOT NULL,
	[VL_REND_01] [float] NULL,
	[VL_REND_02] [float] NULL,
	[VL_REND_03] [float] NULL,
	[VL_REND_04] [float] NULL,
	[VL_REND_05] [float] NULL,
	[VL_REND_06] [float] NULL,
	[VL_REND_07] [float] NULL,
	[VL_REND_08] [float] NULL,
	[VL_REND_09] [float] NULL,
	[VL_REND_10] [float] NULL,
	[VL_REND_11] [float] NULL,
	[VL_REND_12] [float] NULL,
	[VL_REND_TRIB_01] [float] NULL,
	[VL_REND_TRIB_02] [float] NULL,
	[VL_REND_TRIB_03] [float] NULL,
	[VL_REND_TRIB_04] [float] NULL,
	[VL_REND_TRIB_05] [float] NULL,
	[VL_REND_TRIB_06] [float] NULL,
	[VL_REND_TRIB_07] [float] NULL,
	[VL_REND_TRIB_08] [float] NULL,
	[VL_REND_TRIB_09] [float] NULL,
	[VL_REND_TRIB_10] [float] NULL,
	[VL_REND_TRIB_11] [float] NULL,
	[VL_REND_TRIB_12] [float] NULL,
	[VL_IR_01] [float] NULL,
	[VL_IR_02] [float] NULL,
	[VL_IR_03] [float] NULL,
	[VL_IR_04] [float] NULL,
	[VL_IR_05] [float] NULL,
	[VL_IR_06] [float] NULL,
	[VL_IR_07] [float] NULL,
	[VL_IR_08] [float] NULL,
	[VL_IR_09] [float] NULL,
	[VL_IR_10] [float] NULL,
	[VL_IR_11] [float] NULL,
	[VL_IR_12] [float] NULL,
 CONSTRAINT [PK_TMOV_AUTONOMOS] PRIMARY KEY CLUSTERED 
(
	[ANO] ASC,
	[CD_COLIGADA] ASC,
	[CD_RECOL] ASC,
	[CD_FAVORECIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_0115__35]  DEFAULT (0) FOR [VL_REND_01]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_0216__35]  DEFAULT (0) FOR [VL_REND_02]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_0317__35]  DEFAULT (0) FOR [VL_REND_03]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_0418__35]  DEFAULT (0) FOR [VL_REND_04]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_0519__35]  DEFAULT (0) FOR [VL_REND_05]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_0620__35]  DEFAULT (0) FOR [VL_REND_06]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_0721__35]  DEFAULT (0) FOR [VL_REND_07]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_0822__35]  DEFAULT (0) FOR [VL_REND_08]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_0923__35]  DEFAULT (0) FOR [VL_REND_09]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_1024__35]  DEFAULT (0) FOR [VL_REND_10]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_1125__35]  DEFAULT (0) FOR [VL_REND_11]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_1226__35]  DEFAULT (0) FOR [VL_REND_12]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR27__35]  DEFAULT (0) FOR [VL_REND_TRIB_01]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR28__35]  DEFAULT (0) FOR [VL_REND_TRIB_02]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR29__35]  DEFAULT (0) FOR [VL_REND_TRIB_03]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR30__35]  DEFAULT (0) FOR [VL_REND_TRIB_04]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR31__35]  DEFAULT (0) FOR [VL_REND_TRIB_05]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR32__35]  DEFAULT (0) FOR [VL_REND_TRIB_06]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR33__35]  DEFAULT (0) FOR [VL_REND_TRIB_07]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR34__35]  DEFAULT (0) FOR [VL_REND_TRIB_08]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR35__35]  DEFAULT (0) FOR [VL_REND_TRIB_09]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR36__35]  DEFAULT (0) FOR [VL_REND_TRIB_10]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR37__35]  DEFAULT (0) FOR [VL_REND_TRIB_11]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_REND_TR38__35]  DEFAULT (0) FOR [VL_REND_TRIB_12]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_01_3__35]  DEFAULT (0) FOR [VL_IR_01]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_02_4__35]  DEFAULT (0) FOR [VL_IR_02]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_03_5__35]  DEFAULT (0) FOR [VL_IR_03]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_04_6__35]  DEFAULT (0) FOR [VL_IR_04]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_05_7__35]  DEFAULT (0) FOR [VL_IR_05]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_06_8__35]  DEFAULT (0) FOR [VL_IR_06]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_07_9__35]  DEFAULT (0) FOR [VL_IR_07]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_08_10__35]  DEFAULT (0) FOR [VL_IR_08]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_09_11__35]  DEFAULT (0) FOR [VL_IR_09]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_10_12__35]  DEFAULT (0) FOR [VL_IR_10]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_11_13__35]  DEFAULT (0) FOR [VL_IR_11]
GO
ALTER TABLE [TMOV_AUTONOMOS] ADD  CONSTRAINT [DF_TMOV_AUTON_VL_IR_12_14__35]  DEFAULT (0) FOR [VL_IR_12]
GO
