USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTERMO_PAGTO](
	[CD_TERMO_PAGTO] [char](6) NOT NULL,
	[NM_TERMO_PAGTO] [varchar](50) NOT NULL,
	[CD_EXPORTADOR] [char](5) NOT NULL,
	[NR_PERIODICIDADE] [int] NULL,
	[TP_INDICADOR] [char](1) NULL,
	[NR_PARCELAS] [int] NULL,
	[CD_MODALIDADE_TRANS] [char](3) NULL,
	[CD_ENQUAD_OP] [char](5) NULL,
	[TX_TERMO_PORT] [text] NULL,
	[TX_TERMO_INGLES] [text] NULL,
	[TX_TERMO_ESP] [text] NULL,
	[IN_ATIVO] [char](1) NOT NULL,
 CONSTRAINT [PK_TTERMO_PAGTO] PRIMARY KEY CLUSTERED 
(
	[CD_TERMO_PAGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [CD_ENQUAD_OP] ON [TTERMO_PAGTO]
(
	[CD_ENQUAD_OP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [CD_EXPORTADOR] ON [TTERMO_PAGTO]
(
	[CD_EXPORTADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [CD_MODALIDADE_TRANS] ON [TTERMO_PAGTO]
(
	[CD_MODALIDADE_TRANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [NM_TERMO_PAGTO] ON [TTERMO_PAGTO]
(
	[NM_TERMO_PAGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
