USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP_TATZ_MYINDAIA_ESTAGIO](
	[CD_ATUALIZACAO] [int] IDENTITY(1,1) NOT NULL,
	[NR_REFERENCIA] [char](30) NULL,
	[NR_ITEM_CLIENTE] [char](4) NULL,
	[DT_ULT_ALTERACAO] [datetime] NULL,
	[NR_PROCESSO_ADM] [char](18) NULL,
	[NR_PROCESSO_DES] [char](18) NULL,
	[AP_USUARIO] [char](15) NULL,
	[NR_PARCIAL] [int] NULL,
	[CD_EMPRESA] [char](5) NULL
) ON [PRIMARY]

GO
