USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TB_DI_SISCOMEX](
	[CGC_EMPRESA] [varchar](50) NULL,
	[NR_DI] [varchar](20) NULL,
	[IN_RECUPERADO] [char](1) NULL
) ON [PRIMARY]

GO
