USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_RESUMO_FAT_ITENS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_PAGINA] [char](2) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_CT_CONTABIL] [char](10) NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[DT_LANCTO] [datetime] NULL,
	[NR_LANCAMENTO] [char](3) NULL,
	[NM_DESPESA] [varchar](50) NOT NULL,
	[VL_DESPESA] [float] NOT NULL CONSTRAINT [DF_TREL_RESUMO_FAT_ITENS_VL_DESPESA]  DEFAULT (0),
	[INDICE] [char](1) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL
) ON [PRIMARY]

GO
