USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP_FATURAMENTO](
	[CD_BANCO] [char](3) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[VL_ITEM] [float] NULL
) ON [PRIMARY]

GO
