USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [VW_ENQUADRAMENTOS] AS
    SELECT CD_ENQUAD_OP, NM_ENQUAD_OP
    FROM TENQUAD_OP
    /*
    SELECT '80000' AS CD_ENQUAD_OP, 'EXPORTACAO NORMAL' AS NM_ENQUAD_OP
    SELECT '80001' AS CD_ENQUAD_OP, 'REGISTRO SIMPLIFICADO' AS NM_ENQUAD_OP
    SELECT '80101' AS CD_ENQUAD_OP, 'CONSUMO E USO A BORDO-MOEDA ESTRANGEIRA' AS NM_ENQUAD_OP
    SELECT '80102' AS CD_ENQUAD_OP, 'EXPORTACAO EM CONSIGNACAO' AS NM_ENQUAD_OP
    SELECT '80103' AS CD_ENQUAD_OP, 'EXP. SUJEITA A LAUDO DE ANALISE-SEM RETENCAO' AS NM_ENQUAD_OP
    SELECT '80104' AS CD_ENQUAD_OP, 'EXP. COM MARGEM NAO SACADA' AS NM_ENQUAD_OP
    SELECT '80106' AS CD_ENQUAD_OP, 'EXPORTACAO DE MATERIAL USADO, EXCETO AS OPERACOES ENQUADRADASNO CODIGO 80120.' AS NM_ENQUAD_OP
    SELECT '80107' AS CD_ENQUAD_OP, 'DEPOSITO ALFANDEGADO CERTIFICADO - DAC' AS NM_ENQUAD_OP
    SELECT '80111' AS CD_ENQUAD_OP, 'VENDA MERC.INT.NAO RESID.PAIS-CAP.71 NBM/SH- SOMENTE PROD.CAP71 DA NBM/SH MENC. PORT SCE 02/92, ALTER.PELA PORT.SECEX 2/' AS NM_ENQUAD_OP
    SELECT '80112' AS CD_ENQUAD_OP, 'PRODUTOS CAP.71 DA NBM/SH-VENDAS EM LOJAS FRANCAS A PASSAG. COM DESTINO AO EXTERIOR' AS NM_ENQUAD_OP
    SELECT '80113' AS CD_ENQUAD_OP, 'COTA HILTON-CARNE BOVINA #IN NATURA# P/A UNIAO EUROPEIA' AS NM_ENQUAD_OP
    SELECT '80114' AS CD_ENQUAD_OP, 'EXP.CONSIGNACAO P/CAP.NBM/SH 6, 7, 8 E SUBITEM 0910.10.0000' AS NM_ENQUAD_OP
    SELECT '80115' AS CD_ENQUAD_OP, 'VENDA PRAZO MERC.INTERNO CAP.71 DA NBM/SH' AS NM_ENQUAD_OP
    SELECT '80116' AS CD_ENQUAD_OP, 'SGP - SISTEMA GERAL DE PREFERENCIA' AS NM_ENQUAD_OP
    SELECT '80117' AS CD_ENQUAD_OP, 'DEVOLUCAO DE MERCAD.ESTRANG.ANTES REGISTRO DI-SOMENTE VEIC. AUTOMOTORES (DEC 1623/95, PORT MF 217, IN SRF 41/95)' AS NM_ENQUAD_OP
    SELECT '80118' AS CD_ENQUAD_OP, 'DEVOLUCAO MERCAD.ESTRANG.ANTES REGISTRO DI-OUTRAS MERC, EXCE-TO VEIC.AUTOM.(DEC.1623, PORT MF 217, IN SRF 41/95)' AS NM_ENQUAD_OP
    SELECT '80119' AS CD_ENQUAD_OP, 'REGIME AUTOMOTIVO-PORT.MICT/MF1,DE 05/01/96 E DEC.1761,DE 26/12/95' AS NM_ENQUAD_OP
    SELECT '80120' AS CD_ENQUAD_OP, 'EXPORTACAO DE MATERIAL NACIONALIZADO (NOVO OU USADO)' AS NM_ENQUAD_OP
    SELECT '80130' AS CD_ENQUAD_OP, 'MEDIDA PREVISORIA N.1990-28(ART.17)E ISTRUCAO NORMATIVA N.17DE 16.02.2000, DA SRF.' AS NM_ENQUAD_OP
    SELECT '80140' AS CD_ENQUAD_OP, 'REPETRO-EXPORTACAO COM COBERTURA CAMBIAL' AS NM_ENQUAD_OP
    SELECT '80150' AS CD_ENQUAD_OP, 'VENDA COM PAGAMENTO EM MOEDA ESTRANGEIRA DE LIVRE CONVERSIBILIDADE REALIZADA A EMPRESA ETC. LEI 9826 ART 6 INCISO II' AS NM_ENQUAD_OP
    SELECT '80160' AS CD_ENQUAD_OP, 'VENDA COM PAGAMENTO EM MOEDA ESTRANGEIRA DE LIVRE CONVERSIBILIDADE REALIZADA A ORGAO ETC. LEI 9826 ARTIGO 6 INCISO III.' AS NM_ENQUAD_OP
    SELECT '80170' AS CD_ENQUAD_OP, 'EXPORTACAO DEFINITIVA DE BENS (NOVOS OU USADOS) QUE SAIRAM DOPAIS AO AMPARO DE REGISTRO DE EXPORTACAO TEMPORARIA.' AS NM_ENQUAD_OP
    SELECT '80180' AS CD_ENQUAD_OP, 'EXPORTAÇÃO DE PRODUTOS ORGANICOS' AS NM_ENQUAD_OP
    SELECT '80190' AS CD_ENQUAD_OP, 'ENERGIA ELETRICA' AS NM_ENQUAD_OP
    SELECT '80200' AS CD_ENQUAD_OP, 'COTA FRANGO - UNIAO EUROPEIA' AS NM_ENQUAD_OP
    SELECT '80280' AS CD_ENQUAD_OP, 'PRODUTO NAO GENETICAMENTE MODIFICADO, EXCLUSIVAMENTE PARA SOJA, MILHO E SEUS DERIVADOS.' AS NM_ENQUAD_OP
    SELECT '80300' AS CD_ENQUAD_OP, 'COTA 30 - FRANGO UNIAO EUROPEIA' AS NM_ENQUAD_OP
    SELECT '81101' AS CD_ENQUAD_OP, 'DRAWBACK SUSPENSAO COMUM' AS NM_ENQUAD_OP
    SELECT '81102' AS CD_ENQUAD_OP, 'DRAWBACK SUSPENSAO GENERICO' AS NM_ENQUAD_OP
    SELECT '81103' AS CD_ENQUAD_OP, 'DRAWBACK SUSPENSAO INTERMEDIARIO' AS NM_ENQUAD_OP
    SELECT '81104' AS CD_ENQUAD_OP, 'DRAWBACK SUSPENSAO SOLIDARIO' AS NM_ENQUAD_OP
    SELECT '81301' AS CD_ENQUAD_OP, 'EXPORTACAO SUJEITA A REGISTRO DE VENDA' AS NM_ENQUAD_OP
    SELECT '81501' AS CD_ENQUAD_OP, 'PROEX/EQUALIZACAO (BANCO DO BRASIL)' AS NM_ENQUAD_OP
    SELECT '81502' AS CD_ENQUAD_OP, 'PROEX/FINACIAMENTO (BANCO DO BRASIL)' AS NM_ENQUAD_OP
    SELECT '81503' AS CD_ENQUAD_OP, 'FINANCIAMENTO COM RECURSOS PROPRIOS(DTIC)' AS NM_ENQUAD_OP
    SELECT '81600' AS CD_ENQUAD_OP, 'ENERGIA ELETRICA/POTENCIA' AS NM_ENQUAD_OP
    SELECT '81700' AS CD_ENQUAD_OP, 'MERCADORIA OBJETO DE AUTORIZACÃO DE MOVIMENTACÃO DE BENS SUBMETIDOS AO RECOF (AMBRA), NA FORMA DA IN SRF 417 DE 20/04/04' AS NM_ENQUAD_OP
    SELECT '90001' AS CD_ENQUAD_OP, 'S/COBERTURA-RECIPIENTE EMBALAGEM REUTILIZAVEIS' AS NM_ENQUAD_OP
    SELECT '90002' AS CD_ENQUAD_OP, 'S/COBERTURA-EMPRESTIMO OU ALUGUEL' AS NM_ENQUAD_OP
    SELECT '90003' AS CD_ENQUAD_OP, 'S/COBERTURA-FEIRAS E EXPOSICOES' AS NM_ENQUAD_OP
    SELECT '90005' AS CD_ENQUAD_OP, 'S/COBERTURA-MATERIAL NACIONAL OU NACIONALIZADO ENVIADO PARA CONSERTO' AS NM_ENQUAD_OP
    SELECT '90006' AS CD_ENQUAD_OP, 'S/COBERTURA-EXPORTACAO DE MATERIAS PRIMAS OU INSUMOS PARA FINS DE BENEFICIAMENTO OU TRANSFORMACAO' AS NM_ENQUAD_OP
    SELECT '90007' AS CD_ENQUAD_OP, 'S/COBERTURA-MINERIOS E METAIS ENVIADOS PARA O EXTERIOR PARA FINS DE RECUPERACAO OU BENEFICIAMENTO' AS NM_ENQUAD_OP
    SELECT '90008' AS CD_ENQUAD_OP, 'S/COBERTURA-ANIMAIS REPRODUTORES P/COBRICAO' AS NM_ENQUAD_OP
    SELECT '90009' AS CD_ENQUAD_OP, 'S/COBERTURA-EXPORTACAO DE OBRAS DE ARTE' AS NM_ENQUAD_OP
    SELECT '90010' AS CD_ENQUAD_OP, 'S/COBERTURA-EXPORTACAO DE MATERIAL DESTINADO A TESTES, EXAMESOU PESQUISAS COM FINALIDADE INDUSTRIAL CIENTIFICA' AS NM_ENQUAD_OP
    SELECT '90011' AS CD_ENQUAD_OP, 'S/COB.-ARREND.OPER.PZ.&gt;360D. AMORT.&lt;75% - C/RETORNO' AS NM_ENQUAD_OP
    SELECT '90012' AS CD_ENQUAD_OP, 'S/COB. ARREND.OPER. PZ.ATE 360D. AMORT.&lt;75%- C/RETORNO' AS NM_ENQUAD_OP
    SELECT '90013' AS CD_ENQUAD_OP, 'EXP.DE FERRAMENTAS DESTINADAS AS ATIVIDADES DE MANUTENCAO E ASSIS.TECNICA DE AERON.EXP.DE FAB.NACIONAL.EST.NO EXTERIOR.' AS NM_ENQUAD_OP
    SELECT '90014' AS CD_ENQUAD_OP, 'S/COBERTURA-EXPORTACAO DE MATERIAS-PRIMAS OU INSUMOS PARA FINS DE BENEFICIAMENTO OU TRANSFORMACAO-COMMODITIES AGRICOLAS' AS NM_ENQUAD_OP
    SELECT '90099' AS CD_ENQUAD_OP, 'S/COBERTURA-OUTRAS EXPORTACOES SEM COBERTURA CAMBIAL,COM RETORNO, NAO ENQUADRADAS EM OUTROS CODIGOS (CITAR AMPARO LEGAL)' AS NM_ENQUAD_OP
    SELECT '90115' AS CD_ENQUAD_OP, 'AERONAVE OU MATERIAL AERONAUTICO A SER SUBMETIDO A CONSERTO,MANUTENCAO, REPARO, REVISAO OU INSPECAO NO EXTERIOR.' AS NM_ENQUAD_OP
    SELECT '99101' AS CD_ENQUAD_OP, 'S/COBERTURA-MERC.FINS DIVULG.COML.E TESTE NO EXTERIOR' AS NM_ENQUAD_OP
    SELECT '99103' AS CD_ENQUAD_OP, 'COMPLEMENTACAO (PESO/QUANTIDADE)' AS NM_ENQUAD_OP
    SELECT '99104' AS CD_ENQUAD_OP, 'S/COBERTURA-DOACOES' AS NM_ENQUAD_OP
    SELECT '99106' AS CD_ENQUAD_OP, 'S/COBERTURA-INDENIZ.EM MERCAD, SEM DEVOL.DA EXPORTADA ORIGINALMENTE' AS NM_ENQUAD_OP
    SELECT '99107' AS CD_ENQUAD_OP, 'S/COBERTURA-BENS DE HERANCA' AS NM_ENQUAD_OP
    SELECT '99108' AS CD_ENQUAD_OP, 'S/COBERTURA-REEXP.MERCAD.ADMISSAO TEMPORARIA,EXCETO COD.99123' AS NM_ENQUAD_OP
    SELECT '99109' AS CD_ENQUAD_OP, 'PARTES E PECAS DESTINADAS A REPARO DE NAVIOS DE BANDEIRA BRASILEIRA NO EXTERIOR' AS NM_ENQUAD_OP
    SELECT '99110' AS CD_ENQUAD_OP, 'S/COBERTURA-MATERIAL PARA MANUTENCAO DE ROTA DE VOO DE EMPRESA AEREA BRASILEIRA NO EXTERIOR' AS NM_ENQUAD_OP
    SELECT '99111' AS CD_ENQUAD_OP, 'S/COBERTURA-SOBRESSALENTE (CONTRATO DE GARANTIA)' AS NM_ENQUAD_OP
    SELECT '99112' AS CD_ENQUAD_OP, 'S/COBERTURA-INVESTIMENTO DE CAPITAL BRASILEIRO NO EXTERIOR' AS NM_ENQUAD_OP
    SELECT '99114' AS CD_ENQUAD_OP, 'S/COBERTURA-INDENIZACAO EM MERCADORIA, COM DEVOL.DA EXPORTADAORIGINALMENTE' AS NM_ENQUAD_OP
    SELECT '99115' AS CD_ENQUAD_OP, 'S/COBERTURA-COMBUST.E OLEOS LUBRIF.DESTINADOS SUPRIR EVENTUALNECESS.EMBARC.E AERON.EMPR.BRASIL.MANTENHAM LINHAS INTERN.R' AS NM_ENQUAD_OP
    SELECT '99116' AS CD_ENQUAD_OP, 'S/COBERTURA-FILMES CINEMATOGRAFICOS E VIDEOTEIPES NACIONAIS PARA EXIBICAO NO EXTERIOR A BASE DE #ROYALTY#' AS NM_ENQUAD_OP
    SELECT '99121' AS CD_ENQUAD_OP, 'S/COBERTURA-CONSUMO E USO A BORDO-MOEDA NACIONAL. EXCLUSIVA-MENTE EMB.E AERON.BAND.BRASILEIRA DE TRAFEGO INTERNACIONAL' AS NM_ENQUAD_OP
    SELECT '99122' AS CD_ENQUAD_OP, 'S/COBERTURA-DEVOL.MERCAD.ESTRANGEIRA-PORT.MF 150/82, 326/83 E240/86' AS NM_ENQUAD_OP
    SELECT '99123' AS CD_ENQUAD_OP, 'S/COB. REEXPORTACAO DE AERONAVES E/OU MATERIAL AERONAUTICO ADMITIDOS TEMPORARIAMENTE, INCLUSIVE P/CONSERTO E REVISAO.' AS NM_ENQUAD_OP
    SELECT '99124' AS CD_ENQUAD_OP, 'S/COBERTURA-REEXP.MERCAD.ADM.ENTREP.ADUAN.,ENTREP.INDL.,DEA, DEP.AFIANCADO E DEP.ADUAN.DISTRIB.' AS NM_ENQUAD_OP
    SELECT '99125' AS CD_ENQUAD_OP, 'S/COBERTURA-DEVOL.MERCAD.ESTRANG.ANTES REGISTRO DI - SOMENTE VEIC.AUTOMOTORES (DEC 1623/95, PORT.MF 217/95 E IN SRF 41/9' AS NM_ENQUAD_OP
    SELECT '99127' AS CD_ENQUAD_OP, 'S/COBERTURA-DEVOL.MERCAD.ESTRANG.ANTES REGISTRO DI -- OUTRAS MERC, EXCETO VEIC.AUTOM.(DEC 1623, PORT MF 217, IN SRF 41/9' AS NM_ENQUAD_OP
    SELECT '99128' AS CD_ENQUAD_OP, 'S/COB.-ARREND.FINANC.PZ.&gt;360D. AMORT.&gt;= 75% - S/RETORNO' AS NM_ENQUAD_OP
    SELECT '99129' AS CD_ENQUAD_OP, 'S/COB. -ARREND.FINANC. PZ.ATE 360D AMORT.&gt;=75% - S/COBERTURA' AS NM_ENQUAD_OP
    SELECT '99130' AS CD_ENQUAD_OP, 'S/COBERTURA - MEDIDA PROVISORIA N.1990-28 (ART.17) E INSTRU-CAO NORMATIVA N.017, DE 16.02.2000, DA SRF.' AS NM_ENQUAD_OP
    SELECT '99131' AS CD_ENQUAD_OP, 'EXP.PARTES,PECAS,COMPON. ACESSORIOS,DESTIN.AS ATIV.DE MANUT.E ASSIST.DE AERONAVES EXP.DE FAB.NAC.ESTACION.NO EXTERIOR.' AS NM_ENQUAD_OP
    SELECT '99132' AS CD_ENQUAD_OP, 'S/COBERTURA - REEXPORTAÇÃO DE RECIPIENTE/EMBALAGEM REUTILIZÁVEIS ADMITIDOS TEMPORARIAMENTE.' AS NM_ENQUAD_OP
    SELECT '99199' AS CD_ENQUAD_OP, 'S/COBERTURA-OUTRAS EXPORTACOES SEM COBERTURA CAMBIAL, SEM RETORNO, NAO ENQUADRADAS EM OUTROS CODIGOS (CITAR AMPARO LEGAL' AS NM_ENQUAD_OP
    */

GO
