USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE VIEW [VW_DOC_ANEXO] AS
  SELECT D.CD_DOCUMENTO AS CD_DOCUMENTO, D.NR_SOLICITACAO, D.CD_UNID_NEG, D.CD_PRODUTO, T.DESCRICAO
  FROM TS_FATURA_DOCUMENTO D (NOLOCK)
       INNER JOIN TTP_DOCUMENTO T (NOLOCK) ON ( D.CD_DOCUMENTO = T.CODIGO AND D.CD_UNID_NEG = T.CD_UNID_NEG AND D.CD_PRODUTO = T.CD_PRODUTO )












GO
