USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TESTAGIO_PROCESSO_FI](
	[NR_PROCESSO_FI] [char](18) NOT NULL,
	[NR_PROCESSO_DES] [char](18) NOT NULL,
	[DT_ULT_ALTERACAO] [datetime] NOT NULL,
	[IN_ATIVO] [char](1) NULL
) ON [PRIMARY]

GO
