USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CC_CLI_RESUMO_TOTAIS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_ITEM] [float] NOT NULL,
 CONSTRAINT [PK_TREL_CC_CLI_RESUMO_TOTAIS] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_CC_CLI_RESUMO_TOTAIS] ADD  CONSTRAINT [DF_TREL_CC_CLI_RESUMO_TOTAIS_VL_ITEM]  DEFAULT (0) FOR [VL_ITEM]
GO
