USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDETALHE_MERCADORIA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_EXPORTADOR] [char](5) NULL CONSTRAINT [DF_TDETALHE_M_CD_EXPORTAD2__37]  DEFAULT (' '),
	[CD_FABR_EXPO] [char](1) NULL,
	[CD_FABRICANTE] [char](5) NULL CONSTRAINT [DF_TDETALHE_M_CD_FABRICAN3__37]  DEFAULT (' '),
	[CD_MERCADORIA] [varchar](30) NULL,
	[CD_NALADI_NCCA] [char](7) NULL CONSTRAINT [DF_TDETALHE_M_CD_NALADI_N4__37]  DEFAULT (' '),
	[CD_NALADI_SH] [char](8) NULL CONSTRAINT [DF_TDETALHE_M_CD_NALADI_S5__37]  DEFAULT (' '),
	[CD_NCM_SH] [char](11) NULL CONSTRAINT [DF_TDETALHE_M_CD_NCM_SH_6__37]  DEFAULT (' '),
	[CD_PAIS_AQUISICAO] [char](3) NULL CONSTRAINT [DF_TDETALHE_M_CD_PAIS_AQU7__37]  DEFAULT (' '),
	[CD_PAIS_ORIGEM] [char](3) NULL CONSTRAINT [DF_TDETALHE_M_CD_PAIS_ORI8__37]  DEFAULT (' '),
	[CD_TIPO_CALCULO_ITEM] [char](1) NULL,
	[CD_UN_MED_COMERC] [char](3) NULL,
	[NR_FATURA] [varchar](25) NULL,
	[PC_DESCONTO_MERC] [float] NULL CONSTRAINT [DF_TDETALHE_M_PC_DESCONTO9__37]  DEFAULT (0),
	[PL_MERCADORIA] [float] NULL CONSTRAINT [DF_TDETALHE_M_PL_MERCADO10__37]  DEFAULT (0),
	[QT_MERC_UN_COMERC] [float] NULL CONSTRAINT [DF_TDETALHE_M_QT_MERC_UN11__37]  DEFAULT (0),
	[QT_MERC_UN_ESTAT] [float] NULL CONSTRAINT [DF_TDETALHE_M_QT_MERC_UN12__37]  DEFAULT (0),
	[TX_DESC_DET_MERC] [text] NULL,
	[VL_DESCONTO_MERC] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_DESCONT18__37]  DEFAULT (0),
	[VL_FRETE_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_FRETE_I21__37]  DEFAULT (0),
	[VL_MCV_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_MCV_ITE26__37]  DEFAULT (0),
	[VL_MLE_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_MLE_ITE28__37]  DEFAULT (0),
	[VL_SEGURO_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_SEGURO_30__37]  DEFAULT (0),
	[VL_UNID_COND_VENDA] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_UNID_CO32__37]  DEFAULT (0),
	[VL_UNITARIO] [float] NOT NULL CONSTRAINT [DF_TDETALHE_M_VL_UNITARI34__37]  DEFAULT (0),
	[NR_OPER_TRAT_PREV] [char](10) NULL,
	[NR_PEDIDO] [char](10) NULL,
	[VL_II_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_II_ITEM24__37]  DEFAULT (0),
	[VL_IPI_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_IPI_ITE25__37]  DEFAULT (0),
	[VL_AD_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_AD_ITEM15__37]  DEFAULT (0),
	[VL_ICMS_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_ICMS_IT23__37]  DEFAULT (0),
	[VL_MLE_ITEM_MN] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_MLE_ITE29__37]  DEFAULT (0),
	[VL_FRETE_ITEM_MN] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_FRETE_I22__37]  DEFAULT (0),
	[VL_SEGURO_ITEM_MN] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_SEGURO_31__37]  DEFAULT (0),
	[VL_MCV_ITEM_MN] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_MCV_ITE27__37]  DEFAULT (0),
	[VL_UNID_COND_VENDA_MN] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_UNID_CO33__37]  DEFAULT (0),
	[VL_ACRESCIMO_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_ACRESCI13__37]  DEFAULT (0),
	[VL_DEDUCAO_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_DEDUCAO16__37]  DEFAULT (0),
	[VL_ACRESCIMO_ITEM_MN] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_ACRESCI14__37]  DEFAULT (0),
	[VL_DEDUCAO_ITEM_MN] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_DEDUCAO17__37]  DEFAULT (0),
	[VL_DESPESA_ITEM] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_DESPESA19__37]  DEFAULT (0),
	[VL_DESPESA_ITEM_MN] [float] NULL CONSTRAINT [DF_TDETALHE_M_VL_DESPESA20__37]  DEFAULT (0),
	[NR_ORDEM] [smallint] NULL,
	[NR_ITEM_PO] [char](4) NULL,
	[NR_PROC_PO] [char](30) NULL,
	[VL_DESPESAS_ITEM] [float] NULL,
	[VL_DED_CPT_MNEG] [float] NULL CONSTRAINT [DF__TDETALHE___VL_DE__0F113DF0]  DEFAULT (0),
	[NR_DESTAQUE_NCM] [char](3) NULL,
	[IN_PROVEM_PO] [bit] NULL CONSTRAINT [DF__TDETALHE___IN_PR__1C4C08D4]  DEFAULT (0),
	[VL_TX_SCX_ITEM] [float] NULL CONSTRAINT [DF__TDETALHE___VL_TX__1423392C]  DEFAULT (0),
	[VL_PIS_ITEM] [float] NULL,
	[VL_COFINS_ITEM] [float] NULL,
	[VL_BASE_CALC_II] [float] NULL,
	[FRETE_COLLECT_ITEM] [decimal](18, 2) NULL,
	[FRETE_PREPAID_ITEM] [decimal](18, 2) NULL,
	[FRETE_TNAC_ITEM] [decimal](18, 2) NULL,
	[FRETE_COLLECT_ITEM_REAL] [decimal](18, 2) NULL,
	[FRETE_PREPAID_ITEM_REAL] [decimal](18, 2) NULL,
	[FRETE_TNAC_ITEM_REAL] [decimal](18, 2) NULL,
	[FRETE_COLLECT_ITEM_DOLAR] [decimal](18, 2) NULL,
	[FRETE_PREPAID_ITEM_DOLAR] [decimal](18, 2) NULL,
	[FRETE_TNAC_ITEM_DOLAR] [decimal](18, 2) NULL,
	[PB_MERCADORIA] [decimal](18, 2) NULL,
	[VL_BASE_ICMS_ITEM] [decimal](16, 2) NULL,
	[NR_PARCIAL] [int] NULL,
	[CD_EMPRESA] [char](5) NULL,
	[NR_DANFE] [char](10) NULL,
	[NR_CNTR] [char](20) NULL,
	[ID_CLIENTE] [varchar](50) NULL,
	[CD_CFOP] [char](4) NULL,
	[VL_BASE_PIS_COFINS] [float] NULL,
	[VL_AFRMM_ITEM] [float] NULL,
	[VL_UNITARIO_FOB] [float] NULL,
 CONSTRAINT [PK_TDETALHE_MERCADORIA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TDETALHE_MERCADORIA] ON [TDETALHE_MERCADORIA]
(
	[NR_PROC_PO] ASC,
	[NR_ITEM_PO] ASC,
	[NR_PARCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TDETALHE_MERCADORIA_IDX01] ON [TDETALHE_MERCADORIA]
(
	[CD_EXPORTADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
