USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPRE_CALCULO_ADICAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [int] NOT NULL,
	[VL_CIF_REAIS] [float] NULL,
	[PC_ALIQUOTA_II] [float] NULL,
	[VL_II_REAIS] [float] NULL,
	[PC_ALIQUOTA_IPI] [float] NULL,
	[VL_IPI_REAIS] [float] NULL,
	[PC_ALIQUOTA_PIS] [float] NULL,
	[VL_PIS_REAIS] [float] NULL,
	[PC_ALIQUOTA_COFINS] [float] NULL,
	[VL_COFINS_REAIS] [float] NULL,
	[PC_ALIQUOTA_ICMS] [float] NULL,
	[VL_ICMS_REAIS] [float] NULL,
	[VL_OUTRAS_DESP_REAIS] [float] NULL,
	[VL_DESP_ADUAN_REAIS] [float] NULL,
	[VL_BASE_PIS_COFINS] [float] NULL,
	[VL_BASE_ICMS] [float] NULL,
	[VL_ALIQUOTA_ESPECIFICA_PIS] [float] NULL,
	[VL_ALIQUOTA_ESPECIFICA_COFINS] [float] NULL,
	[QTD_UNID_ESPECIFICA_PIS] [float] NULL,
	[QTD_UNID_ESPECIFICA_COFINS] [float] NULL,
 CONSTRAINT [PK_TPRE_CALCULO_ADICAO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TPRE_CALCULO_ADICAO]  WITH CHECK ADD  CONSTRAINT [FK_PRE_CALCULO_ADICAO_NR_PROCESSO] FOREIGN KEY([NR_PROCESSO])
REFERENCES [TPRE_CALCULO_CAPA] ([NR_PROCESSO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [TPRE_CALCULO_ADICAO] CHECK CONSTRAINT [FK_PRE_CALCULO_ADICAO_NR_PROCESSO]
GO
