USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_CALC_NUM](
	[CD_TP_CALC] [char](1) NOT NULL,
	[NM_TP_CALC] [varchar](10) NULL,
 CONSTRAINT [PK_TTP_CALC_NUM] PRIMARY KEY CLUSTERED 
(
	[CD_TP_CALC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
