USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINSTRUCAO_DESEMBARACO_PEDIDO](
	[ID_CODIGO] [char](13) NOT NULL,
	[NR_REFERENCIA] [char](30) NOT NULL,
	[NR_ITEM_PO] [char](4) NOT NULL,
	[NR_PARCIAL] [int] NOT NULL,
	[DT_INCLUSAO] [datetime] NULL,
 CONSTRAINT [PK_TINSTRUCAO_DESEMBARACO_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_CODIGO] ASC,
	[NR_REFERENCIA] ASC,
	[NR_ITEM_PO] ASC,
	[NR_PARCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]

GO
