USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_BANCO_LIBERADO](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_BANCO] [char](3) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TCLIENTE_B_IN_ATIVO_2__17]  DEFAULT ('1'),
 CONSTRAINT [PK_TCLIENTE_BANCO_LIBERADO] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
