USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_LEAD_TIME2](
	[NR_IDENTIFICADOR] [int] NULL,
	[CD_REFERENCIA] [varchar](500) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NM_CLIENTE] [varchar](50) NULL,
	[NM_EMBARCACAO] [varchar](40) NULL,
	[DT_CHEGADA_NAVIO] [datetime] NULL,
	[ARMZ_ATRACACAO] [varchar](50) NULL,
	[NM_MARGEM] [char](8) NULL,
	[DT_REGISTRO_DI] [datetime] NULL,
	[DT_ENT_ARM] [datetime] NULL,
	[DT_DESEMBARACO] [datetime] NULL,
	[TEMPO_DESEMBARACO] [int] NULL,
	[NM_CANAL] [char](10) NULL,
	[VL_COMISSAO] [float] NULL,
	[VL_SDA] [float] NULL,
	[VL_CIF] [float] NULL,
	[ARMZ_DESCARGA] [varchar](50) NULL,
	[PERIODO_ARMAZENAGEM] [int] NULL,
	[VL_ARMZ_TERMINAL] [float] NULL,
	[VL_ARMZ_NORMAL] [float] NULL,
	[DT_ENVIO_NF] [datetime] NULL,
	[QT_VOLUMES] [varchar](20) NULL,
	[NM_ESPECIE] [varchar](100) NULL,
	[DT_PRESENCA_CARGA] [datetime] NULL,
	[DT_DOCTOS_TRANSPORT] [datetime] NULL,
	[NM_AGENTE_CARGA] [varchar](60) NULL,
	[NM_ARMAZEM_DESCARGA] [varchar](50) NULL
) ON [PRIMARY]

GO
