USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFORECAST_DIS](
	[NR_FORECAST] [char](14) NOT NULL,
	[NR_DI] [char](10) NOT NULL,
	[QTD_MERCADORIA] [float] NULL,
 CONSTRAINT [PK_TFORECAST_DIS] PRIMARY KEY CLUSTERED 
(
	[NR_FORECAST] ASC,
	[NR_DI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
