USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPOSTA_FRETE_DESPESA](
	[NR_PROPOSTA] [char](20) NOT NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_TAB_FRETE] [char](5) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CODIGO] [int] NOT NULL,
	[TP_BASE_CALCULO] [char](2) NULL,
	[CD_MOEDA] [char](3) NULL,
	[TP_ORIGEM_DESPESA] [char](1) NULL,
	[VL_BASE_DESPESA] [float] NULL,
	[VL_COMPRA_AG] [float] NULL,
	[VL_COMPRA_CIA] [float] NULL,
	[VL_VENDA] [float] NULL,
	[IN_DESPESA] [char](1) NULL,
	[IN_MENCIONADO] [char](1) NULL,
	[CD_TAB_REF] [char](6) NULL,
	[TP_FRETE] [char](1) NULL,
	[TP_ESTUFAGEM] [char](1) NULL,
	[VL_INTERVALO_INICIAL] [float] NULL,
	[VL_INTERVALO_FINAL] [float] NULL,
	[VL_BASE_AG] [float] NULL,
	[IN_PROFIT] [char](1) NULL,
	[NR_ITEM_PROPOSTA] [int] NOT NULL,
	[VL_MINIMO] [float] NULL,
	[VL_MINIMO_COMPRA] [float] NULL,
	[VL_VENDA_TOTAL] [float] NULL,
	[VL_COMPRA_TOTAL] [float] NULL,
	[VL_RESULTADO] [float] NULL,
 CONSTRAINT [PK_TPROPOSTA_FRETE_DESPESA] PRIMARY KEY CLUSTERED 
(
	[NR_PROPOSTA] ASC,
	[CD_PRODUTO] ASC,
	[CD_TAB_FRETE] ASC,
	[CD_ITEM] ASC,
	[CODIGO] ASC,
	[NR_ITEM_PROPOSTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
