USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_DESEMB_MIC_DTA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[DT_DESEMBARACO] [datetime] NOT NULL,
	[HR_DESEMBARACO] [char](4) NOT NULL,
	[QT_DESEMBARACO] [int] NULL,
	[PL_DESEMBARACO] [float] NULL,
 CONSTRAINT [PK_TPROCESSO_DESEMB_MIC_DTA] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[DT_DESEMBARACO] ASC,
	[HR_DESEMBARACO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TPROCESSO_DESEMB_MIC_DTA] ADD  CONSTRAINT [DF_TPROCESSO_DESEMB_MIC_DTA_QT_DESEMBARACO]  DEFAULT (0) FOR [QT_DESEMBARACO]
GO
ALTER TABLE [TPROCESSO_DESEMB_MIC_DTA] ADD  CONSTRAINT [DF_TPROCESSO_DESEMB_MIC_DTA_PL_DESEMBARACO]  DEFAULT (0) FOR [PL_DESEMBARACO]
GO
