USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARMAZEM](
	[CD_ARMAZEM] [char](4) NOT NULL,
	[NM_ARMAZEM] [varchar](50) NOT NULL,
	[NM_SIGLA] [char](10) NULL,
	[CD_SETOR] [char](3) NULL,
	[CD_RECINTO] [char](7) NULL,
	[CD_URF] [char](7) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[IN_ATRACACAO] [char](1) NULL,
	[IN_DESCARGA] [char](1) NULL,
	[IN_ESTOCAGEM] [char](1) NULL,
	[CD_MARGEM] [char](1) NULL,
	[TP_TAXA] [char](1) NULL,
	[CD_TAXA] [char](3) NULL,
	[IN_ATIVO] [char](1) NULL,
	[NM_SIGLA_CONT] [char](10) NULL,
	[NM_LOCAL_DESP] [char](20) NULL,
	[CD_UF] [char](2) NULL,
	[END_ARMAZEM] [varchar](80) NULL,
	[NR_TELEFONE] [char](15) NULL,
	[NR_CONTATO] [varchar](50) NULL,
	[NR_FAX] [char](15) NULL,
	[CD_CIDADE] [char](4) NULL,
	[NM_CONTATO] [varchar](50) NULL,
	[CGC_ARMAZEM] [char](14) NULL,
	[CD_ULTIMO_ALTERADOR] [char](4) NULL,
	[DT_ULTIMA_ALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_TARMAZEM_1__10] PRIMARY KEY CLUSTERED 
(
	[CD_ARMAZEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
