USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLUXO_CAIXA_RECEITAS](
	[DT_LIQUIDACAO] [datetime] NOT NULL,
	[VL_RECEB_DESEMB] [float] NULL,
	[VL_RECEB_FT] [float] NULL,
	[VL_RECEB_FI] [float] NULL,
	[VL_PREV_DESEMB] [float] NULL,
	[VL_PREV_FT] [float] NULL,
	[VL_PREV_FI] [float] NULL,
	[NR_IDENTIFICADOR] [int] NOT NULL
) ON [PRIMARY]

GO
