USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATO_VINCULADO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[CD_ASSUNTO_VINCUL] [char](1) NOT NULL,
	[SG_TIPO_ATO_VINCUL] [char](5) NULL,
	[SG_ORG_ATO_VINCUL] [char](6) NULL,
	[DT_ANO_ATO_VINCUL] [char](4) NULL,
	[NR_ATO_VINCULADO] [char](6) NULL,
	[NR_EX_ATO_VINCUL] [char](3) NULL,
 CONSTRAINT [PK_TATO_VINCULADO_1__10] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[CD_ASSUNTO_VINCUL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TATO_VINCIndex1] ON [TATO_VINCULADO]
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
