USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAUX_PROC_PAG_DES_DI](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_SERVICO] [char](3) NULL,
	[NR_DI] [char](10) NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[NR_DECLARACAO_IMPORTACAO] [char](10) NULL,
	[VL_TOT_MLE_MNEG] [float] NULL,
	[VL_TOTAL_MLE_MN] [float] NULL,
	[TX_DOLAR] [float] NULL,
	[CD_EMPRESA] [char](5) NULL,
	[NM_EMPRESA] [varchar](50) NULL,
	[CD_GRUPO] [char](3) NULL,
	[DT_DESEMBARACO] [datetime] NULL,
	[DT_REGISTRO_DI] [datetime] NULL,
 CONSTRAINT [PK_TAUX_PROC_PAG_DES_DI] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
