USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAGENTE_TAXA](
	[CD_TAXA] [char](4) NOT NULL,
	[NM_TAXA] [varchar](30) NOT NULL,
	[VL_CPTZ_CNTR_20] [float] NULL,
	[VL_CPTZ_CNTR_40] [float] NULL,
	[VL_CPTZ_C_SOLTA] [float] NULL,
	[VL_CPTZ_MINIMA] [float] NULL,
	[VL_LIBERACAO_BL] [float] NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TAGENTE_TA_IN_ATIVO_1__14]  DEFAULT ('1'),
 CONSTRAINT [PK_TAGENTE_TAXA_1__22] PRIMARY KEY CLUSTERED 
(
	[CD_TAXA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
