USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLASSE_CARGA_PERIGOSA_ISO](
	[CD_CLASSE] [char](5) NOT NULL,
	[DS_CLASSE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_CLASSE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
