USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAB_FRETE_DESPESA](
	[CD_TAB_FRETE] [char](6) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_BASE_CALCULO] [char](2) NULL,
	[CD_MOEDA] [char](3) NULL,
	[TP_ORIGEM_DESPESA] [char](1) NULL,
	[VL_BASE_DESPESA] [float] NULL,
	[VL_COMPRA_AG] [float] NULL,
	[VL_COMPRA_CIA] [float] NULL,
	[VL_VENDA] [float] NULL,
	[IN_DESPESA] [char](1) NULL,
	[IN_MENCIONADO] [char](1) NULL,
	[CD_TAB_REF] [char](6) NULL,
	[TP_FRETE] [char](1) NULL,
	[VL_INTERVALO_INICIAL] [float] NULL,
	[VL_INTERVALO_FINAL] [float] NULL,
	[CODIGO] [char](3) NOT NULL,
	[TP_ESTUFAGEM] [char](1) NULL DEFAULT ('0'),
	[TP_CNTR] [char](2) NULL CONSTRAINT [DF_TTAB_FRETE_DESPESA_TP_CNTR]  DEFAULT (''),
 CONSTRAINT [PK_TTAB_FRETE_DESPESA] PRIMARY KEY NONCLUSTERED 
(
	[CD_TAB_FRETE] ASC,
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
