USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCTAAPAGAR](
	[DT_CTAAPAGAR] [datetime] NOT NULL,
	[NR_CTAAPAGAR] [char](3) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_FORNECEDOR] [char](5) NOT NULL,
	[NM_HISTORICO] [varchar](180) NULL,
	[VL_DESPESA] [float] NOT NULL CONSTRAINT [DF_TCTAAPAGAR_VL_DESPESA_9__46]  DEFAULT (0),
	[VL_DESCONTO] [float] NOT NULL CONSTRAINT [DF_TCTAAPAGAR_VL_DESCONTO8__46]  DEFAULT (0),
	[VL_ACRESCIMO] [float] NOT NULL CONSTRAINT [DF_TCTAAPAGAR_VL_ACRESCIM7__46]  DEFAULT (0),
	[VL_IR] [float] NOT NULL CONSTRAINT [DF_TCTAAPAGAR_VL_IR_11__46]  DEFAULT (0),
	[VL_INSS] [float] NOT NULL CONSTRAINT [DF_TCTAAPAGAR_VL_INSS_10__46]  DEFAULT (0),
	[DT_VENCIMENTO] [datetime] NOT NULL,
	[DT_PAGAMENTO] [datetime] NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[TP_PAGAMENTO] [char](1) NOT NULL,
	[CD_BARRAS] [char](44) NULL,
	[CD_BANCO] [char](3) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[NR_DOC_BCO] [char](15) NULL,
	[IN_IMP_CHEQUE] [char](1) NULL CONSTRAINT [DF_TCTAAPAGAR_IN_IMP_CHEQ4__46]  DEFAULT ('1'),
	[CD_STATUS_CHEQUE] [char](1) NULL CONSTRAINT [DF_TCTAAPAGAR_CD_STATUS_C1__46]  DEFAULT ('0'),
	[IN_CANCELADO] [char](1) NOT NULL CONSTRAINT [DF_TCTAAPAGAR_IN_CANCELAD2__46]  DEFAULT ('0'),
	[CD_CANCELADOR] [char](4) NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[IN_LIBERADO] [char](1) NOT NULL CONSTRAINT [DF_TCTAAPAGAR_IN_LIBERADO5__46]  DEFAULT ('0'),
	[CD_LIBERADOR] [char](4) NULL,
	[DT_LIBERACAO] [datetime] NULL,
	[IN_TRANSFERIDO] [char](1) NOT NULL CONSTRAINT [DF_TCTAAPAGAR_IN_TRANSFER6__46]  DEFAULT ('0'),
	[CD_USUARIO_GER] [char](4) NULL,
	[IN_DISTRIBUICAO] [char](1) NOT NULL CONSTRAINT [DF_TCTAAPAGAR_IN_DISTR_GE3__46]  DEFAULT ('0'),
	[TP_CD_BARRAS] [char](1) NULL CONSTRAINT [DF_TCTAAPAGAR_TP_CD_BARRA1__61]  DEFAULT ('0'),
	[IN_CONTABILIZADO] [char](1) NULL CONSTRAINT [DF_TCTAAPAGAR_IN_CONTABIL1__55]  DEFAULT ('0'),
	[CD_LT_CONTAB] [char](4) NULL,
	[CD_LT_CONTAB_EXT] [char](4) NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[IN_OPERACIONAL] [char](1) NULL CONSTRAINT [DF_TCTAAPAGAR_IN_OPERACIONAL]  DEFAULT ('0'),
	[NR_REF] [char](3) NULL,
	[NR_TITULO] [char](15) NULL,
	[CD_COLIGADA] [char](2) NULL,
	[DT_MONTAGEM] [datetime] NULL,
	[VL_PISCOFINS] [float] NULL,
	[VL_ISS] [float] NULL,
	[VL_LIQUIDO] [float] NULL,
	[STATUS] [char](2) NULL,
	[DT_EMISSAO_DOC] [datetime] NULL,
	[IN_PISCOFINS] [char](1) NULL,
	[IN_LANC_PROVISIONADO] [char](1) NULL CONSTRAINT [DF_TCTAAPAGAR_IN_LANC_PROVISIONADO]  DEFAULT ('1'),
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF__TCTAAPAGA__IN_SE__052D7064]  DEFAULT ('0'),
	[NR_CTAAPAGAR_SELECIONADO] [char](3) NULL,
 CONSTRAINT [PK_TCTAAPAGAR] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[DT_CTAAPAGAR] ASC,
	[NR_CTAAPAGAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCTAAPAGAR_5_481241315__K34_36_39] ON [TCTAAPAGAR]
(
	[CD_UNID_NEG] ASC
)
INCLUDE ( 	[NR_REF],
	[DT_MONTAGEM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCTAAPAGAR_5_481241315__K34_K1_K4_K2_K13_K11_12_14_16_21_24_29_36_37_39_42_43_46_47_48] ON [TCTAAPAGAR]
(
	[CD_UNID_NEG] ASC,
	[DT_CTAAPAGAR] ASC,
	[CD_FORNECEDOR] ASC,
	[NR_CTAAPAGAR] ASC,
	[CD_FAVORECIDO] ASC,
	[DT_VENCIMENTO] ASC
)
INCLUDE ( 	[DT_PAGAMENTO],
	[TP_PAGAMENTO],
	[CD_BANCO],
	[IN_CANCELADO],
	[IN_LIBERADO],
	[IN_DISTRIBUICAO],
	[NR_REF],
	[NR_TITULO],
	[DT_MONTAGEM],
	[VL_LIQUIDO],
	[STATUS],
	[IN_LANC_PROVISIONADO],
	[IN_SELECIONADO],
	[NR_CTAAPAGAR_SELECIONADO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCTAAPAGAR_5_481241315__K34_K13_K36_K39_K12_K14_K24_K43_K1_11_42] ON [TCTAAPAGAR]
(
	[CD_UNID_NEG] ASC,
	[CD_FAVORECIDO] ASC,
	[NR_REF] ASC,
	[DT_MONTAGEM] ASC,
	[DT_PAGAMENTO] ASC,
	[TP_PAGAMENTO] ASC,
	[IN_LIBERADO] ASC,
	[STATUS] ASC,
	[DT_CTAAPAGAR] ASC
)
INCLUDE ( 	[DT_VENCIMENTO],
	[VL_LIQUIDO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TCTAAPAGAR_5_481241315__K4_K45_6] ON [TCTAAPAGAR]
(
	[CD_FORNECEDOR] ASC,
	[IN_PISCOFINS] ASC
)
INCLUDE ( 	[VL_DESPESA]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
