USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PROCESSO_MOD1](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_MOEDA_FOB] [char](3) NULL,
	[VL_FOB_MNEG] [float] NULL,
 CONSTRAINT [PK_TREL_PROCESSO_MOD1] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_PROCESSO_MOD1] ADD  CONSTRAINT [DF_TREL_PROCESSO_MOD1_VL_FOB_MNEG]  DEFAULT (0) FOR [VL_FOB_MNEG]
GO
