USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUSUARIO_UNIDADE](
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_HABILITACAO] [datetime] NULL,
	[IN_ATIVO] [char](1) NULL,
 CONSTRAINT [PK_TUSUARIO_UNIDADE] PRIMARY KEY CLUSTERED 
(
	[CD_USUARIO] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
