USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FAT_LIVRO_FISCAL_CANC](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_NF_CANC] [varchar](800) NULL,
 CONSTRAINT [PK_TREL_FAT_LIVRO_FISCAL_CANC] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
