USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_INSTAL](
	[CD_INSTAL] [char](1) NOT NULL,
	[NM_INSTAL] [varchar](15) NOT NULL,
 CONSTRAINT [PK_TTP_INSTAL] PRIMARY KEY CLUSTERED 
(
	[CD_INSTAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
