USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TESTAGIO_PROCESSO](
	[NR_REFERENCIA] [char](30) NOT NULL,
	[NR_ITEM_CLIENTE] [char](4) NOT NULL,
	[DT_ULT_ALTERACAO] [datetime] NOT NULL,
	[NR_PARCIAL] [int] NOT NULL,
	[NR_PROCESSO_ADM] [char](18) NULL,
	[NR_PROCESSO_DES] [char](18) NULL,
	[NR_PROCESSO_FI] [char](18) NULL,
	[IN_SUBSTITUIDO] [char](1) NULL CONSTRAINT [DF_TESTAGIO_PROCESSO_IN_SUBSTITUIDO_1]  DEFAULT ('0'),
	[CD_EMPRESA] [char](5) NOT NULL,
 CONSTRAINT [PK_TESTAGIO_PROCESSO] PRIMARY KEY CLUSTERED 
(
	[NR_REFERENCIA] ASC,
	[NR_ITEM_CLIENTE] ASC,
	[DT_ULT_ALTERACAO] ASC,
	[NR_PARCIAL] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TESTAGIO_PROCESSO_7_2103535123__K5] ON [TESTAGIO_PROCESSO]
(
	[NR_PROCESSO_DES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_NR_PROCESSO_ADM] ON [TESTAGIO_PROCESSO]
(
	[NR_PROCESSO_ADM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_TESTAGIO_PROCESSO] ON [TESTAGIO_PROCESSO]
(
	[NR_REFERENCIA] ASC,
	[NR_ITEM_CLIENTE] ASC,
	[NR_PARCIAL] ASC,
	[NR_PROCESSO_ADM] ASC,
	[NR_PROCESSO_DES] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
