USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_LEAD_TIME_WEB](
	[NR_IDENTIFICADOR] [smallint] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_AREA] [char](2) NULL,
	[NR_DIAS] [int] NULL,
	[NR_META] [float] NULL,
	[NR_ABAIXO_META] [int] NULL,
	[NR_DIAS_ABAIXO_META] [int] NULL,
	[NR_ACIMA_META] [int] NULL,
	[NR_DIAS_ACIMA_META] [int] NULL
) ON [PRIMARY]

GO
