USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVIA_TRANSP_BROKER](
	[CD_VIA_TRANSP] [char](2) NOT NULL,
	[NM_VIA_TRANSP] [varchar](20) NOT NULL,
	[CD_VIA_TRANSP_SISCOMEX] [char](2) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TVIA_TRANS_IN_ATIVO_1__10]  DEFAULT ('1'),
	[NM_VIA_TRANSP_INGLES] [varchar](20) NULL,
	[NM_VIA_TRANSP_ESP] [varchar](20) NULL,
	[CONSTANTE_CUBAGEM] [float] NULL,
	[IN_FCL] [char](1) NULL,
	[IN_LCL] [char](1) NULL,
	[IN_CS] [char](1) NULL,
 CONSTRAINT [PK___1__10] PRIMARY KEY CLUSTERED 
(
	[CD_VIA_TRANSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
