USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DESVIOS_EVENTOS](
	[NR_IDENTIFICADOR] [smallint] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[MERCADORIA] [char](30) NULL,
	[AP_EMPRESA] [char](20) NULL,
	[REFERENCIA] [char](20) NULL,
	[EVENTOS] [char](40) NULL,
	[PRESTADORES] [char](40) NULL,
	[LEAD_TIME] [char](2) NULL,
	[CANAL] [char](10) NULL
) ON [PRIMARY]

GO
