USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROPOSTA_MERCADORIA](
	[NR_PROPOSTA] [char](20) NOT NULL,
	[CD_PROPOSTA_EMB_ITEM] [int] NOT NULL,
	[TP_ESTUFAGEM] [varchar](3) NULL,
	[CD_EMBALAGEM] [char](4) NULL,
	[QTD_VOLUMES] [int] NULL,
	[QTD_EMBALAGEM] [int] NULL,
	[VL_CUBAGEM_M3] [float] NULL,
	[CD_MERCADORIA] [char](15) NULL,
	[CD_NCM] [char](8) NULL,
	[VL_LARGURA] [float] NULL,
	[VL_COMPR] [float] NULL,
	[VL_ALTURA] [float] NULL,
	[VL_PESO_KG] [float] NULL,
	[VL_PESO_KG_LIQ] [float] NULL,
	[VL_PESO_TON] [float] NULL,
	[TP_CNTR] [char](2) NULL,
	[VL_VENDA] [float] NULL,
	[VL_CUSTO] [float] NULL,
	[TX_MERCADORIA] [varchar](255) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TPROPOSTA_MERCADORIA_IN_ATIVO]  DEFAULT ('1'),
	[VL_VENDA_TOTAL] [float] NULL,
	[VL_COMPRA_TOTAL] [float] NULL,
	[VL_RESULTADO] [float] NULL,
 CONSTRAINT [PK_TPROPOSTA_MERCADORIA] PRIMARY KEY CLUSTERED 
(
	[NR_PROPOSTA] ASC,
	[CD_PROPOSTA_EMB_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
