USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_DEFINICAO_TABELA] AS
SELECT TB.NAME AS NM_TABELA,
       CL.NAME AS NM_COLUNA,
       UPPER(TP.NAME) + CASE CL.IS_ANSI_PADDED
                            WHEN 1 THEN '(' + CONVERT(VARCHAR, CL.MAX_LENGTH) + ')'
                        ELSE CASE
                                 WHEN CL.PRECISION IN (0, TP.PRECISION) THEN ''
                             ELSE CASE
                                      WHEN CL.SCALE IN (0, TP.SCALE) THEN '(' + CONVERT(VARCHAR, CL.PRECISION) + ')'
                                  ELSE '(' + CONVERT(VARCHAR, CL.PRECISION) + ',' + CONVERT(VARCHAR, CL.SCALE) + ')'
                                  END
                             END
                        END AS DS_TIPO,
       CL.IS_NULLABLE AS IS_PERMITE_NULO
FROM SYS.COLUMNS CL INNER JOIN SYS.TABLES TB ON TB.OBJECT_ID = CL.OBJECT_ID
   INNER JOIN SYS.TYPES TP ON TP.USER_TYPE_ID = CL.USER_TYPE_ID

GO
