USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABILIZACAO_GERENCIAL_RM_TITO](
	[CD_COLIGADA] [char](2) NOT NULL,
	[NR_CONTAB] [char](4) NOT NULL,
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[CT_GERENCIAL] [char](4) NOT NULL,
	[VL_GERENCIAL] [float] NULL,
 CONSTRAINT [PK_TCONTABILIZACAO_GERENCIAL_RM_TITO] PRIMARY KEY NONCLUSTERED 
(
	[CD_COLIGADA] ASC,
	[NR_CONTAB] ASC,
	[NR_LANCAMENTO] ASC,
	[CT_GERENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TCONTABILIZACAO_GERENCIAL_RM_TITO] ADD  CONSTRAINT [DF_TCONTABILI_VL_GERENCIA4__99]  DEFAULT (0) FOR [VL_GERENCIAL]
GO
