USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNF_SERV_OP](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[DT_EMISSAO] [datetime] NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[NR_RELATORIO] [char](3) NULL,
	[NR_ANO] [char](4) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_ANALISTA] [char](3) NULL,
	[NM_REFERENCIA] [varchar](200) NULL,
	[NM_NAT_DESPACHO] [varchar](15) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[NM_VEICULO] [varchar](40) NULL,
	[CD_LOCAL_ORIGEM] [char](4) NULL,
	[CD_LOCAL_DESTINO] [char](4) NULL,
	[QT_EMBALAGEM] [int] NULL,
	[CD_EMBALAGEM] [char](2) NULL,
	[VL_PESO_BRUTO] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_PESO_BRUTO]  DEFAULT (0),
	[VL_PESO_LIQUIDO] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_PESO_LIQUIDO]  DEFAULT (0),
	[VL_FOB] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_FOB]  DEFAULT (0),
	[VL_CIF] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_CIF]  DEFAULT (0),
	[NR_DI] [char](15) NULL,
	[VL_TOT_NUM] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_TOT_NUM]  DEFAULT (0),
	[VL_TOT_NAO_TRIBUTAVEL] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_TOT_NAO_TRIBUTAVEL]  DEFAULT (0),
	[VL_SUB_TOT_TRIBUTAVEL] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_SUB_TOT_TRIBUTAVEL]  DEFAULT (0),
	[VL_COMISSAO] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_COMISSAO]  DEFAULT (0),
	[VL_TOT_GERAL] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_TOT_GERAL]  DEFAULT (0),
	[VL_TOT_TRIBUTAVEL] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_TOT_TRIBUTAVEL]  DEFAULT (0),
	[NM_IR] [varchar](25) NULL,
	[VL_IR] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_IR]  DEFAULT (0),
	[VL_ISS] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_ISS]  DEFAULT (0),
	[NM_SALDO] [varchar](10) NULL,
	[VL_SALDO] [float] NULL CONSTRAINT [DF_TNF_SERV_OP_VL_SALDO]  DEFAULT (0),
	[CD_EMISSOR] [char](4) NULL,
	[IN_QUADRO_TOTAL] [char](1) NULL CONSTRAINT [DF_TNF_SERV_OP_IN_DIVERSOS]  DEFAULT (1),
	[TX_HISTORICO] [text] NULL,
	[NM_ESPECIE] [varchar](100) NULL,
	[TX_OBS] [text] NULL,
	[CD_EMP_EST] [char](5) NULL,
	[NM_RETENCAO] [varchar](30) NULL,
	[VL_RETENCAO] [float] NULL,
	[NM_COFINS_PREVIEW] [char](50) NULL,
 CONSTRAINT [PK_TNF_SERV_OP] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TNF_SERV_OP_5_432473065__K36_1_2_3_4] ON [TNF_SERV_OP]
(
	[CD_EMISSOR] ASC
)
INCLUDE ( 	[CD_UNID_NEG],
	[CD_PRODUTO],
	[NR_SOLICITACAO],
	[NR_PROCESSO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
