USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARMAZEM_TABELAS_BASICAS](
	[CD_ARMAZEM] [char](4) NOT NULL,
	[CD_TABELA] [int] NOT NULL,
	[TX_DESCRICAO_TABELA] [char](100) NULL,
	[DT_VALIDADE] [datetime] NULL,
	[CD_USUARIO_ATIVACAO] [char](4) NULL,
	[IN_ATIVO] [char](1) NULL,
 CONSTRAINT [PK_TARMAZEM_TABELAS_BASICAS] PRIMARY KEY CLUSTERED 
(
	[CD_ARMAZEM] ASC,
	[CD_TABELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
