USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROC_VENDEDOR](
	[CD_VENDEDOR] [char](4) NOT NULL,
	[NR_PROC_COMERC] [char](18) NOT NULL,
	[TP_CALC_COMIS_IMP_AEREA] [char](2) NULL,
	[TP_CALC_COMIS_IMP_MARITIMA] [char](2) NULL,
	[TP_CALC_COMIS_EXP_AEREA] [char](2) NULL,
	[TP_CALC_COMIS_EXP_MARITIMA] [char](2) NULL,
	[TP_CALC_DESEMBARACO] [char](2) NULL,
	[VL_CALC_IMP_AEREA] [float] NULL,
	[VL_CALC_IMP_MARITIMA] [float] NULL,
	[VL_CALC_EXP_AEREA] [float] NULL,
	[VL_CALC_EXP_MARITIMA] [float] NULL,
	[VL_CALC_DESEMBARACO] [float] NULL,
 CONSTRAINT [PK_TPROC_VENDEDOR] PRIMARY KEY NONCLUSTERED 
(
	[CD_VENDEDOR] ASC,
	[NR_PROC_COMERC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
