USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_REGS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SOLIC_FAT] [char](6) NOT NULL,
	[DT_LANCAMENTO] [datetime] NULL,
	[CD_ITEM] [char](3) NULL,
	[NM_ITEM] [char](30) NULL,
	[VL_LANC_DEBITO] [float] NULL,
	[VL_LANC_CREDITO] [float] NULL
) ON [PRIMARY]

GO
