USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAGENTE](
	[CD_AGENTE] [char](4) NOT NULL,
	[NM_AGENTE] [varchar](60) NOT NULL,
	[CD_TAXA_IMP] [char](4) NULL,
	[CD_TAXA_EXP] [char](4) NULL,
	[IN_ATIVO] [char](1) NULL,
	[NR_CGC_AGENTE] [char](14) NULL,
	[NM_AGENTE_REDUZIDO] [varchar](30) NULL,
	[NR_SIGLA] [char](8) NULL,
	[DS_ENDERECO] [varchar](260) NULL,
	[CD_CIDADE] [char](4) NULL,
	[NR_ZIP_CODE] [char](8) NULL,
	[NR_IATA] [char](16) NULL,
	[NR_FONE] [char](20) NULL,
	[NR_FAX] [char](20) NULL,
	[DS_EMAIL] [varchar](40) NULL,
	[DS_HOMEPAGE] [char](60) NULL,
	[DS_PROFIT] [char](8) NULL,
	[NR_PRAZO_PAGTO] [char](3) NULL,
	[NM_BANCO_INTERN] [varchar](30) NULL,
	[DS_OBS_AGENTE] [varchar](260) NULL,
	[DS_TIPO_AGENTE] [char](1) NULL,
	[CD_PAIS] [char](3) NULL,
	[CD_BCO] [char](3) NULL,
	[CD_ACCOUNT] [char](4) NULL,
	[TP_AG] [char](1) NULL,
	[END_UF] [char](2) NULL,
	[CD_MOEDA_CONTA_1] [char](3) NULL,
	[CD_MOEDA_CONTA_2] [char](3) NULL,
	[NR_CONTA_1] [char](25) NULL,
	[NR_CONTA_2] [char](25) NULL,
	[ST_ROUTING_INF] [char](25) NULL,
	[TX_OBX] [varchar](255) NULL,
	[CD_BCO_2] [char](3) NULL,
	[CD_MOEDA_CONTA_3] [char](3) NULL,
	[CD_MOEDA_CONTA_4] [char](3) NULL,
	[NR_CONTA_3] [char](25) NULL,
	[NR_CONTA_4] [char](25) NULL,
	[ST_ROUTING_INF_2] [char](25) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[ST_SWIFT_1] [varchar](50) NULL,
	[ST_SWIFT_2] [varchar](50) NULL,
 CONSTRAINT [PK_TAGENTE_1__22] PRIMARY KEY CLUSTERED 
(
	[CD_AGENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
