USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPAG_AUTONOMOS](
	[NR_RPA] [char](6) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[DT_IMP_CHEQUE] [datetime] NULL,
	[CD_FAVORECIDO] [char](5) NOT NULL,
	[VL_FRETE] [float] NOT NULL,
	[VL_TRANSPORTE] [float] NOT NULL,
	[VL_IR] [float] NOT NULL,
	[VL_ISSQN] [float] NOT NULL,
	[VL_SEST_SENAT] [float] NOT NULL,
	[CD_BANCO] [char](3) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[IN_IMP_CHEQUE] [char](1) NULL,
	[CD_STATUS_CHEQUE] [char](1) NULL,
	[IN_TRANSF_FIN] [char](1) NULL,
	[IN_TRANSF_AUT] [char](1) NULL,
 CONSTRAINT [PK_TPAG_AUTONOMOS] PRIMARY KEY CLUSTERED 
(
	[NR_RPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TPAG_AUTONOMOS] ADD  CONSTRAINT [DF_TPAG_AUTON_CD_FAVORECI2__16]  DEFAULT (0) FOR [CD_FAVORECIDO]
GO
ALTER TABLE [TPAG_AUTONOMOS] ADD  CONSTRAINT [DF_TPAG_AUTON_VL_FRETE_7__16]  DEFAULT (0) FOR [VL_FRETE]
GO
ALTER TABLE [TPAG_AUTONOMOS] ADD  CONSTRAINT [DF_TPAG_AUTON_VL_TRANSPO10__16]  DEFAULT (0) FOR [VL_TRANSPORTE]
GO
ALTER TABLE [TPAG_AUTONOMOS] ADD  CONSTRAINT [DF_TPAG_AUTON_VL_IR_8__16]  DEFAULT (0) FOR [VL_IR]
GO
ALTER TABLE [TPAG_AUTONOMOS] ADD  CONSTRAINT [DF_TPAG_AUTON_VL_ISSQN_9__16]  DEFAULT (0) FOR [VL_ISSQN]
GO
ALTER TABLE [TPAG_AUTONOMOS] ADD  CONSTRAINT [DF_TPAG_AUTON_IN_IMP_CHEQ4__16]  DEFAULT ('1') FOR [IN_IMP_CHEQUE]
GO
ALTER TABLE [TPAG_AUTONOMOS] ADD  CONSTRAINT [DF_TPAG_AUTON_CD_STATUS_C3__16]  DEFAULT ('0') FOR [CD_STATUS_CHEQUE]
GO
ALTER TABLE [TPAG_AUTONOMOS] ADD  CONSTRAINT [DF_TPAG_AUTON_IN_TRANSF_F6__16]  DEFAULT ('0') FOR [IN_TRANSF_FIN]
GO
ALTER TABLE [TPAG_AUTONOMOS] ADD  CONSTRAINT [DF_TPAG_AUTON_IN_TRANSF_A5__16]  DEFAULT ('0') FOR [IN_TRANSF_AUT]
GO
