USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_PALETIZACAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_CAMINHO] [int] NOT NULL,
	[TX_CAMINHO] [varchar](500) NULL,
	[NR_ITEM] [char](3) NULL,
	[VL_QTDE] [float] NULL CONSTRAINT [DF_TPROCESSO_PALETIZACAO_VL_QTDE]  DEFAULT (0),
	[CD_MERCADORIA] [char](20) NULL,
	[VL_PESO_BRUTO] [decimal](16, 7) NULL,
	[VL_PESO_LIQUIDO] [decimal](16, 7) NULL,
	[VL_M3] [decimal](16, 7) NULL,
 CONSTRAINT [PK_TPROCESSO_PALETIZACAO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_CAMINHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]

GO
