USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMBF_OUTROS](
	[CD_MBF] [int] NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_GRAFICO] [char](12) NULL,
	[NM_GRAFICO] [varchar](max) NULL,
	[IN_MODAL] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_MODAL]  DEFAULT ((0)),
	[IN_CNPJ] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_CNPJ]  DEFAULT ((0)),
	[IN_AREA] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_CNPJ1]  DEFAULT ((0)),
	[IN_ESTUFAGEM] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_AREA1]  DEFAULT ((0)),
	[IN_LI] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_ESTUFAGEM1]  DEFAULT ((0)),
	[IN_PAIS_ORIGEM] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_LI1]  DEFAULT ((0)),
	[IN_PREFIXO] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_PAIS_ORIGEM1]  DEFAULT ((0)),
	[IN_TERMINAL] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_PREFIXO1]  DEFAULT ((0)),
	[ID_GRAFICO] [int] NULL,
	[IN_CANAL] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_TERMINAL1]  DEFAULT ((0)),
	[IN_SERVICO] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_CANAL1]  DEFAULT ((0)),
	[IN_LOCAL_DES] [bit] NULL CONSTRAINT [DF_TMBF_OUTROS_IN_SERVICO1]  DEFAULT ((0))
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
