USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DelIndexEntry] 
                    @varnodeid     int
                  AS
                     DELETE FROM INDEXTABLE
                          WHERE nodeid=@varnodeid

GO
