USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINT_MESQUITA013_JOB](
	[NM_CNPJ] [varchar](20) NULL,
	[NM_NAVIO] [varchar](20) NULL,
	[VIAGEM] [varchar](14) NULL,
	[NR_BL] [varchar](22) NULL,
	[NM_PORTO] [varchar](22) NULL,
	[NM_ARMADOR] [varchar](20) NULL,
	[NR_CONTEINER] [varchar](14) NULL,
	[LOCAL_AVARIA_CNTR] [varchar](14) NULL,
	[AVARIA_CNTR] [varchar](32) NULL,
	[COMPL_AVARIA_CNTR] [varchar](32) NULL,
	[OBS_AVARIA_CNTR] [varchar](102) NULL
) ON [PRIMARY]

GO
