USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARMADOR_NOTIFICADOR](
	[CD_NOTIFICADOR] [char](4) NOT NULL,
	[CD_ARMADOR] [char](4) NOT NULL
) ON [PRIMARY]

GO
