USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCARGO](
	[CD_CARGO] [char](3) NOT NULL,
	[NM_CARGO] [char](40) NULL,
	[CD_NIVEL] [int] NULL,
	[CD_CARGO_PAI] [char](3) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TCARGO_IN_ATIVO_2__12]  DEFAULT ('1'),
	[IN_SELECIONADO] [char](1) NULL,
	[IN_MANAGER] [char](1) NULL,
	[DOC_PREFERENCIAL] [int] NULL,
	[IN_INTERNO] [char](1) NULL CONSTRAINT [DF_TCARGO_IN_INTERNO]  DEFAULT ((1)),
	[IN_DASHBOARD_WEB] [char](1) NULL,
	[CD_SETOR] [int] NULL,
	[IN_LIBERA_TRANSMISSAO_DI] [char](1) NULL,
 CONSTRAINT [PK_TCARGO_1__12] PRIMARY KEY CLUSTERED 
(
	[CD_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
