USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [VW_CLIENTE_BANCO]
AS
SELECT     CD_BANCO_ADIANTAMENTO, CD_BANCO_ICMS, CD_BANCTO_PAGTO_DESPESAS_INDAIA, CD_BANCTO_PAGTO_DESPESAS_CLIENTE, 
           CD_BANCO_PAGTO_IMPOSTOS, CD_GRUPO, CD_CLIENTE, CD_UNID_NEG, CD_PRODUTO, CD_SERVICO, ISNULL(CD_AREA, '000') AS CD_AREA,ICMS_ATE,
           CD_BANCO_IMP_INDAIA,CD_BANCO_IMP_CLIENTE
FROM         BROKER.dbo.TCLIENTE_BANCO (NOLOCK)





GO
