USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNUMERARIO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SOLICITACAO] [char](3) NOT NULL,
	[DT_SOLICITACAO] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_STATUS] [char](1) NULL,
	[TX_NUMERARIO_OBS] [text] NULL,
	[TX_NUMERARIO_ASS] [text] NULL,
	[VL_SOLICITADO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_SOLICITA2__13]  DEFAULT (0),
	[VL_RECEBIDO] [float] NULL CONSTRAINT [DF_TNUMERARIO_VL_RECEBIDO1__13]  DEFAULT (0),
	[QT_ITENS_SOLIC] [int] NULL,
	[IN_EMITIDO] [char](1) NULL CONSTRAINT [DF_TNUMERARIO_IN_EMITIDO_1__25]  DEFAULT ('0'),
	[DT_EMISSAO] [datetime] NULL,
	[CD_BASE_CALCULO] [char](1) NULL CONSTRAINT [DF_TNUMERARIO_CD_BASE_CA1__103]  DEFAULT ('0'),
 CONSTRAINT [PK_TNUMERARIO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TNUMERARIO] ON [TNUMERARIO]
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
