USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCALCULO_ERRO](
	[NM_STORED_PROCEDURE] [char](30) NOT NULL,
	[CD_ERRO] [smallint] NOT NULL,
	[NM_MENSAGEM] [varchar](255) NULL,
 CONSTRAINT [PK_TCALCULO_ERRO_1__112] PRIMARY KEY CLUSTERED 
(
	[NM_STORED_PROCEDURE] ASC,
	[CD_ERRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
