USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP_PO_ITEM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_MERCADORIA] [varchar](30) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[CD_NALADI_NCCA] [char](7) NULL,
	[CD_MET_VALOR_ADUANEIRA] [char](2) NULL,
	[CD_DISP_LEGAL_EXONERA] [char](4) NULL,
	[CD_MOEDA_NEGOCIADA] [char](3) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_ACORDO_ALADI] [char](3) NULL,
	[CD_REG_TRIB_II] [char](6) NULL,
	[CD_FUND_LEGAL_II] [char](2) NULL,
	[CD_UNID_MEDIDA] [char](3) NULL,
	[CD_UNID_MED_II] [char](3) NULL,
	[CD_UNID_MED_IPI] [char](3) NULL,
	[CD_UNID_MED_AD] [char](3) NULL,
	[CD_AGENTE_CAMBIO] [char](4) NULL,
	[CD_MOD_PAGTO] [char](2) NULL,
	[CD_TX_JUROS] [char](4) NULL,
	[CD_INSTITUICAO_FINANC] [char](2) NULL,
	[CD_MOT_SEM_COBERT_CAMBIAL] [char](2) NULL,
	[CD_EX_II] [char](3) NULL,
	[CD_EX_IPI] [char](3) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[CD_PAIS_PROCEDENCIA] [char](3) NULL,
	[CD_URF_ENTRADA] [char](7) NULL,
	[IN_NECESSITA_LI] [bit] NOT NULL,
	[IN_INDICADOR_COND_MERC] [bit] NOT NULL,
	[IN_COND_MERC] [char](1) NULL,
	[IN_APLIC_MERC] [char](1) NULL,
	[NM_ORGAO_EMISSOR_AL_EX_NALADI] [char](9) NULL,
	[NM_AL_EX_NALADI] [char](9) NULL,
	[NM_ORGAO_EMISSOR_AL_NCM] [char](9) NULL,
	[NM_AL_EX_NALADI_NCCA] [char](9) NULL,
	[NM_ORG_EMISSOR_EX_NALADI_NCCA] [char](9) NULL,
	[NM_AL_II] [char](9) NULL,
	[NM_ORGAO_EMISSOR_II] [char](9) NULL,
	[NM_ORGAO_EMISSOR_IPI] [char](9) NULL,
	[NM_AL_IPI] [char](9) NULL,
	[NM_AL_AD] [char](9) NULL,
	[NM_ORGAO_EMISSOR_AD] [char](9) NULL,
	[NM_IDENTIFICACAO] [char](9) NULL,
	[NR_ANO_EMISSAO_AL_EX_NALADI] [char](4) NULL,
	[NR_AL_EX_NALADI] [char](6) NULL,
	[NR_EX_NCM] [char](3) NULL,
	[NR_AL_EX_NCM] [char](9) NULL,
	[NR_ANO_EMISSAO_AL] [char](4) NULL,
	[NR_ATO_LEGAL] [char](6) NULL,
	[NR_EX_NALADI] [char](3) NULL,
	[NR_EX_NALADI_NCCA] [char](3) NULL,
	[NR_ANO_EMISSAO_EX_NALADI_NCCA] [char](4) NULL,
	[NR_AL_EX_NALADI_NCCA] [char](6) NULL,
	[NR_ANO_II] [char](4) NULL,
	[NR_AL_II] [char](6) NULL,
	[NR_ALIQ_NORMAL_II] [char](10) NULL,
	[NR_ALIQ_ACORDO_II] [char](10) NULL,
	[NR_ALIQ_REDUZIDA_II] [char](10) NULL,
	[NR_ALIQ_PERC_RED_II] [char](10) NULL,
	[NR_ANO_IPI] [char](4) NULL,
	[NR_AL_IPI] [char](6) NULL,
	[NR_NOTA_COMPL_IPI] [char](2) NULL,
	[NR_ALIQ_NORMAL_IPI] [char](10) NULL,
	[NR_ALIQ_REDUZIDA_IPI] [char](10) NULL,
	[NR_ALIQ_PERC_RED_IPI] [char](10) NULL,
	[NR_PROC_LI] [char](18) NULL,
	[NR_EX_AD] [char](3) NULL,
	[NR_ANO_AD] [char](4) NULL,
	[NR_AL_AD] [char](6) NULL,
	[NR_ALIQ_AD] [char](10) NULL,
	[NR_BASE_CALC_AD] [float] NULL,
	[NR_PARCELAS] [char](3) NULL,
	[NR_PERIODICIDADE] [char](3) NULL,
	[NR_ROF_BACEN] [char](8) NULL,
	[NR_FATURA] [varchar](50) NULL,
	[PC_DESCONTO] [float] NULL,
	[PC_ICMS] [float] NULL,
	[PC_ICMS_REDUCAO] [float] NULL,
	[PC_COMISSAO] [float] NULL,
	[PL_ITEM] [float] NULL,
	[QT_INICIAL] [float] NULL,
	[QT_BAIXADA_DI] [float] NULL,
	[QT_BAIXADA_LI] [float] NULL,
	[QT_ESPEC_II] [float] NULL,
	[QT_ESPEC_IPI] [float] NULL,
	[QT_AD] [float] NULL,
	[QT_MED_ESTATISTICA] [float] NULL,
	[TP_CALCULO] [char](1) NULL,
	[TP_COMISSAO] [char](1) NULL,
	[TP_ACORDO_TARIFARIO] [char](1) NULL,
	[TP_TRIBUTACAO_IPI] [char](1) NULL,
	[TP_CAMBIO] [char](1) NULL,
	[TP_IND_TX_JUROS] [bit] NOT NULL,
	[TP_IND_PERIODICIDADE] [char](1) NULL,
	[TP_RECIPIENTE] [char](2) NULL,
	[TP_IND_MULTIMODAL] [char](1) NULL,
	[TX_MERCADORIA] [text] NULL,
	[TX_JUROS_CAMBIO] [float] NULL,
	[VL_DESPESA_MOEDA] [float] NULL,
	[VL_DESCONTO_MOEDA] [float] NULL,
	[VL_UNITARIO] [float] NULL,
	[VL_TOTAL] [float] NULL,
	[VL_DESCONTO] [float] NULL,
	[VL_COMISSAO] [float] NULL,
	[VL_ESPEC_II] [float] NULL,
	[VL_ESPEC_IPI] [float] NULL,
	[VL_ESPEC_AD] [float] NULL,
	[VL_TOTAL_PARCELAS] [float] NULL,
	[VL_COBERT_ACIMA_360] [float] NULL,
	[VL_PAGTO_ANTECIPADO] [float] NULL,
	[VL_PAGTO_AVISTA] [float] NULL,
	[VL_FRETE_NAC_MOEDA] [float] NULL,
	[VL_SEGURO_MOEDA] [float] NULL,
	[VL_ACRESC_MOEDA] [float] NULL,
	[VL_DEDUC_MOEDA] [float] NULL,
	[VL_FRETE_PREPAID_MOEDA] [float] NULL,
	[VL_FRETE_COLLECT] [float] NULL,
	[IN_SELECIONADO] [char](1) NULL,
	[QT_BAIXAR] [float] NULL,
	[QT_DISPONIVEL] [float] NULL,
	[IN_MONTADO] [char](1) NULL,
	[IN_FABR_EXP_PROD] [char](1) NULL,
	[NR_ANO_EX_NCM] [char](4) NULL,
	[NR_NUM_EX_NCM] [char](6) NULL,
	[IN_IND_COND_MERC] [bit] NOT NULL,
	[NM_LOCAL_INCOTERM] [char](10) NULL,
	[NM_TIPO_AL_AD] [char](10) NULL,
	[IN_IND_PERIODICIDADE] [char](1) NULL,
	[IN_REG_TRIB_IPI] [char](1) NULL,
	[QT_INICIAL_EST] [float] NULL,
	[CD_USUARIO_MONTA] [char](4) NULL,
	[CD_MODALIDADE] [char](1) NULL,
	[NR_ATO_DRAWBACK] [char](13) NULL,
	[IN_AVISO_DB] [char](1) NULL,
	[NR_ITEM_CLIENTE] [char](4) NULL,
	[TX_OBSERVACAO] [text] NULL,
	[IN_REEIMPORTACAO] [char](1) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_LOCAL_DESEMBARQUE] [char](4) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[CD_AGENTE] [char](4) NULL,
	[NR_VIAGEM] [char](15) NULL,
	[NR_VOO] [char](18) NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[NR_COURRIER] [varchar](15) NULL,
	[IN_CONSOLIDADO] [char](1) NULL,
	[IN_URGENTE] [char](1) NULL,
	[IN_SEGURO] [char](1) NULL,
	[CD_MERC_FORNEC] [varchar](30) NULL,
	[TP_DRAWBACK] [char](1) NULL,
	[IN_UTILIZADO_INSTR_DESEMB] [char](1) NULL,
	[ID_CODIGO_INSTR_DESEMB] [char](13) NULL,
	[DT_FATURA] [datetime] NULL,
	[DT_ABERTURA_ITEM] [datetime] NULL,
	[NR_PARCIAL] [int] NULL,
	[IN_CORRECAO] [char](1) NULL,
	[CD_EMPRESA] [char](5) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
