USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INDEXTABLE](
	[nodeid] [int] NULL,
	[contextid] [int] NULL,
	[parentid] [int] NULL,
	[attrnameid] [int] NULL,
	[attrvalue] [varchar](255) NULL,
	[dummyid] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [c4] PRIMARY KEY CLUSTERED 
(
	[dummyid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [INDEXTABLEINDEX] ON [INDEXTABLE]
(
	[attrnameid] ASC,
	[parentid] ASC,
	[attrvalue] ASC,
	[contextid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [INDEXTABLE]  WITH CHECK ADD FOREIGN KEY([nodeid])
REFERENCES [KEYTABLE] ([nodeid])
GO
