USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_TIPO_EVENTO](
	[CD_TIPO_EVENTO] [char](2) NOT NULL,
	[NM_TIPO_EVENTO] [char](20) NULL,
 CONSTRAINT [PK_TTP_TIPO_EVENTO] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
