USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTABELA_DIGITALIZACAO](
	[ID_TABELA] [int] NOT NULL,
	[ID_CAMPO] [int] NULL,
	[NM_EXIBICAO] [varchar](100) NULL,
	[ID_CAMPO_PROCESSO] [int] NULL,
	[NM_SQL_LOOKUP] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TABELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
