USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRATEIO_CONTAS](
	[CD_RATEIO] [char](4) NOT NULL,
	[CD_CT_CUSTO] [char](25) NOT NULL,
	[PERC] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_RATEIO] ASC,
	[CD_CT_CUSTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
