USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMOD_FOLLOW_UP](
	[CD_FOLLOW_UP] [char](2) NOT NULL,
	[NM_FOLLOW_UP] [varchar](30) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TMOD_FOLLO_IN_EMBARCAC9__10]  DEFAULT ('1'),
	[IN_ARM_DESC] [char](1) NULL CONSTRAINT [DF_TMOD_FOLLO_IN_ARM_DESC8__10]  DEFAULT ('0'),
	[IN_MERCADORIA] [char](1) NULL CONSTRAINT [DF_TMOD_FOLLO_IN_MERCADO10__10]  DEFAULT ('0'),
	[IN_NR_DI] [char](1) NULL CONSTRAINT [DF_TMOD_FOLLO_IN_NR_DI_11__10]  DEFAULT ('0'),
	[IN_OBS] [char](1) NULL CONSTRAINT [DF_TMOD_FOLLO_IN_OBS_12__10]  DEFAULT ('0'),
	[IN_EMBARCACAO] [char](1) NULL CONSTRAINT [DF_TMOD_FOLLO_IN_EMBARCAC1__10]  DEFAULT ('0'),
 CONSTRAINT [PK_TMOD_FOLLOW_UP] PRIMARY KEY CLUSTERED 
(
	[CD_FOLLOW_UP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
