USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREGISTRO_EXPORT](
	[NR_RE] [char](10) NOT NULL,
	[DT_REGISTRO] [datetime] NULL,
	[NR_ADICOES] [int] NULL,
	[IN_ATIVO] [char](1) NULL,
	[NR_SD] [char](10) NULL,
 CONSTRAINT [PK_TREGISTRO_EXPORT] PRIMARY KEY CLUSTERED 
(
	[NR_RE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
