USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMAIL_PENDENTES_PO](
	[NR_PO] [char](15) NULL,
	[NR_ITEM] [char](15) NULL,
	[AREA] [char](15) NULL,
	[PREVISAO] [datetime] NULL,
	[ATRASO] [int] NULL,
	[CLIENTE] [char](50) NULL,
	[STATUS] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TMAIL_PENDENTES_PO] ON [TMAIL_PENDENTES_PO]
(
	[NR_PO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
