USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLICENCA_IMPORTACAO](
	[NR_PROCESSO] [char](20) NOT NULL,
	[NR_IDENT_USUARIO] [char](15) NULL,
	[NR_ATO_DRAWBACK] [varchar](13) NULL,
	[NR_COMUNICADO_COMPRA] [varchar](13) NULL,
	[NR_REGISTRO_LI] [varchar](10) NULL,
	[CD_MOD_PAGAMENTO] [char](2) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_ACORDO_ALADI] [char](3) NULL,
	[CD_REGIME_TRIBUTACAO] [char](1) NULL,
	[CD_FUND_LEGAL] [char](2) NULL,
	[CD_AGENCIA_SECEX] [char](4) NULL,
	[CD_PAIS_PROCEDENCIA] [char](3) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_INSTITUICAO_FINANC] [char](2) NULL,
	[CD_MOT_SEM_COBERTURA] [char](2) NULL,
	[CD_CONDICAO_MERC] [char](1) NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_CD_CONDICAO_MERC]  DEFAULT (N'0'),
	[CD_MOEDA_FOB] [char](3) NULL,
	[CD_URF_DESPACHO] [char](7) NULL,
	[CD_URF_ENTRADA] [char](7) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[CD_TIPO_IMPORTADOR] [char](1) NULL,
	[CD_SERVICO] [char](3) NULL,
	[DT_PROCESSO_LI] [datetime] NULL,
	[DT_REGISTRO_LI] [datetime] NULL,
	[QT_DIAS_COBERTURA] [int] NULL,
	[QT_TOTAL_PES_LIQ] [float] NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_QT_TOTAL_PES_LIQ]  DEFAULT (0),
	[QT_MED_ESTATISTICA] [float] NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_QT_MED_ESTATISTICA]  DEFAULT (0),
	[QT_TOTAL_ITEM] [char](3) NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_QT_TOTAL_ITEM]  DEFAULT (0),
	[TP_CAMBIO] [char](1) NULL,
	[TP_ACORDO_ALADI] [char](1) NULL,
	[TX_INFO_COMPLEMENTAR] [text] NULL,
	[VL_FRETE_MOEDA] [float] NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_VL_FRETE_MOEDA]  DEFAULT (0),
	[VL_SEGURO_MOEDA] [float] NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_VL_SEGURO_MOEDA]  DEFAULT (0),
	[VL_DESPESA_MOEDA] [float] NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_VL_DESPESA_MOEDA]  DEFAULT (0),
	[VL_DESCONTO_MOEDA] [float] NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_VL_DESCONTO_MOEDA]  DEFAULT (0),
	[VL_TOTAL_MOEDA] [float] NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_VL_TOTAL_MOEDA]  DEFAULT (0),
	[NR_PROCESSO_SISCOMEX] [char](8) NULL,
	[IN_MONTADA] [char](1) NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_IN_MONTADA]  DEFAULT ('0'),
	[NR_LI_SUBSTITUIDO] [char](10) NULL,
	[TP_RATEIO_PESO_LIQ] [char](1) NULL,
	[IN_RATEIO_PESO_LIQ] [char](1) NULL,
	[IN_EMBUT_FRT_ITENS] [char](1) NULL CONSTRAINT [DF_TLICENCA_IMPORTACAO_IN_EMBUT_FRT_ITENS]  DEFAULT (0),
	[IN_SOLIC_TRANSMISSAO] [char](1) NULL,
	[DT_TRANSMISSAO] [datetime] NULL,
	[CD_USUARIO_TRANSMISSAO] [char](4) NULL,
	[NR_IDENT_TRANSMISSAO] [int] NULL,
	[CD_USUARIO_REGISTRO] [char](4) NULL,
	[ENQ_MAT_USADO] [int] NULL,
	[OP_NACIONALIZACAO] [varchar](2) NULL,
 CONSTRAINT [PK_TLICENCA_IMPORTACAO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
