USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOCALIDADE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[NOME] [varchar](60) NULL,
	[COD_IBGE] [int] NULL,
 CONSTRAINT [PK_LOCALIDADE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [LOCALIDADE]  WITH CHECK ADD  CONSTRAINT [FK_LOCALIDADE_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [ESTADO] ([ID])
GO
ALTER TABLE [LOCALIDADE] CHECK CONSTRAINT [FK_LOCALIDADE_ESTADO]
GO
