USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TWEB_CAMPO](
	[CD_CAMPO] [int] IDENTITY(1,1) NOT NULL,
	[NM_PAGINA] [varchar](20) NOT NULL,
	[NR_ORDEM] [tinyint] NOT NULL,
	[NM_CAMPO] [varchar](255) NOT NULL,
	[NM_DESCRICAO] [varchar](70) NULL,
 CONSTRAINT [PK_TCAMPOS_PAG] PRIMARY KEY NONCLUSTERED 
(
	[CD_CAMPO] ASC,
	[NM_PAGINA] ASC,
	[NR_ORDEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
