USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNCM_EXP](
	[CODIGO] [char](8) NOT NULL,
	[DESCRICAO] [varchar](255) NOT NULL,
	[NR_SEQ] [int] NOT NULL,
	[TX_NCM_FATURA] [text] NULL,
 CONSTRAINT [PK_TNCM_EXP] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC,
	[NR_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
