USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PESSOA](
	[IDPESSOA] [int] NOT NULL,
	[MAXFORCODE] [int] NULL,
	[CDPESSOA] [varchar](6) NULL,
	[INDCLIENTE] [varchar](1) NULL,
	[INDIMPORTADOR] [varchar](1) NULL,
	[INDEXPORTADOR] [varchar](1) NULL,
	[INDAGENTE] [varchar](1) NULL,
	[INDTRANSPORTADOR] [varchar](1) NULL,
	[INDCOMISSARIA] [varchar](1) NULL,
	[INDFABRICANTE] [varchar](1) NULL,
	[INDREPRESENTANTE] [varchar](1) NULL,
	[INDBANCO] [varchar](1) NULL,
	[INDFAVORECIDO] [varchar](1) NULL,
	[INDSEGURADORA] [varchar](1) NULL,
	[INDCOURIER] [varchar](1) NULL,
	[INDAGENTEINTERNACIONAL] [varchar](1) NULL,
	[INDCORRETORA] [varchar](1) NULL,
	[INDARMADOR] [varchar](1) NULL,
	[INDPARCEIRO] [varchar](1) NULL,
	[INDUNIDADEOPERACIONAL] [varchar](1) NULL,
	[INDFIADOR] [varchar](1) NULL,
	[NMPESSOA] [varchar](160) NULL,
	[APPESSOA] [varchar](160) NULL,
	[TPPESSOA] [varchar](1) NULL,
	[CNPJ] [varchar](14) NULL,
	[CPF] [varchar](11) NULL,
	[OUTRODOCUMENTO] [varchar](20) NULL,
	[INSCRICAOESTADUAL] [varchar](16) NULL,
	[ENDERECO] [varchar](100) NULL,
	[NRENDERECO] [varchar](6) NULL,
	[BAIRRO] [varchar](30) NULL,
	[COMPLEMENTOENDERECO] [varchar](60) NULL,
	[IDCIDADE] [int] NULL,
	[ENDERECOCOBRANCA] [varchar](100) NULL,
	[NRENDERECOCOBRANCA] [varchar](6) NULL,
	[BAIRROCOBRANCA] [varchar](30) NULL,
	[COMPLEMENTOENDERECOCOBRANCA] [varchar](60) NULL,
	[IDCIDADECOBRANCA] [int] NULL,
	[HOMEPAGEPESSOA] [varchar](150) NULL,
	[TELEFONE] [varchar](40) NULL,
	[FAX] [varchar](40) NULL,
	[CEP] [varchar](10) NULL,
	[CEPCOBRANCA] [varchar](10) NULL,
	[IDMODELONF] [int] NULL,
	[IDVENDEDOR] [int] NULL,
	[IDDOCUMENTOCONHECIMENTOAEREO] [int] NULL,
	[IDCONHECIMENTOAEREOPAPELCOMUM] [int] NULL,
	[CDATIVO] [varchar](1) NULL,
	[MMOBSERVCOES] [varchar](4000) NULL,
	[IDREPRESENTANTE] [int] NULL,
	[IDNFSERVICOIMPORTACAO] [int] NULL,
	[IDNFSERVICOEXPORTACAO] [int] NULL,
	[IDNFSERVICOAGIMPORTACAO] [int] NULL,
	[IDNFSERVICOAGEXPORTACAO] [int] NULL,
	[IDNFSERVICOOUTROS] [int] NULL,
	[IDNFSERVICOLI] [int] NULL,
	[INDDESPACHANTE] [varchar](1) NULL,
	[INDNAOCLIENTE] [varchar](1) NULL,
	[INDCOMPANHIAAEREA] [varchar](1) NULL,
	[VLALIQUOTAISS] [numeric](18, 6) NULL,
	[MASCARAPROCESSO] [varchar](10) NULL,
	[VLLIMITECREDITO] [numeric](18, 6) NULL,
	[INDEMPRESAESTRANGEIRA] [varchar](1) NULL,
	[INSCRICAOMUNICIPAL] [varchar](16) NULL,
	[EMAILNFELETRONICA] [varchar](50) NULL,
	[SNRESTRICAOFINANCEIRA] [varchar](1) NULL,
	[VLLIMITERETENCAOIN381] [numeric](18, 6) NULL,
	[TPRATEIOTAXASISCOMEX] [varchar](1) NULL,
	[VLPERCENTUALFECP] [numeric](18, 6) NULL,
	[SNLIBERADIAUTOMATICAMENTE] [varchar](1) NULL,
	[SNPISCOFINSICMS] [varchar](1) NULL,
	[SNDESPESAPISCOFINS] [varchar](1) NULL,
	[SNTAXASISCOMEXICMS] [varchar](1) NULL,
	[SNPISCOFINSVALORINTEGRALICMS] [varchar](1) NULL,
	[IDGRUPOCLIENTE] [int] NULL,
	[TPCONTROLERADAR] [varchar](1) NULL,
	[SNLIMITEDISTRIBUICAO] [varchar](1) NULL,
	[VLMAXIMODISTRIBUICAO] [numeric](18, 6) NULL,
	[DDDTELEFONE] [varchar](2) NULL,
	[TPREDUCAOICMS] [varchar](1) NULL,
	[INTEGRAITRACKING] [varchar](1) NULL,
	[DDDFAX] [varchar](2) NULL,
	[VLSALDOSDA] [numeric](18, 6) NULL,
	[IDCONTACONTABIL] [int] NULL,
	[CDCNAE] [varchar](7) NULL,
	[ARQUIVOLOGOTIPO] [varchar](300) NULL,
	[IDIMAGEM] [int] NULL,
	[TPACCOUNT] [varchar](1) NULL,
	[SNINTERCOMPANY] [varchar](1) NULL,
	[SNPARAISOFISCAL] [varchar](1) NULL,
	[IDAGENTEACCOUNT] [int] NULL,
	[TPBASECALCULOIMPAEREA] [varchar](1) NULL,
	[TPBASECALCULOIMPMARITIMO] [varchar](1) NULL,
	[TPBASECALCULOEXPAEREA] [varchar](1) NULL,
	[TPBASECALCULOEXPMARITIMO] [varchar](1) NULL,
	[TPDIVISAOIMPAEREA] [varchar](1) NULL,
	[TPDIVISAOEXPAEREA] [varchar](1) NULL,
	[TPDIVISAOIMPMARITIMO] [varchar](1) NULL,
	[TPDIVISAOEXPMARITIMO] [varchar](1) NULL,
	[VLIMPAEREA] [numeric](18, 6) NULL,
	[VLEXPAEREA] [numeric](18, 6) NULL,
	[VLIMPMARITIMO] [numeric](18, 6) NULL,
	[VLEXPMARITIMO] [numeric](18, 6) NULL,
	[IDMODELODESCRICAORE] [int] NULL,
	[SNNAOAGRUPARITENSRE] [varchar](1) NULL,
	[TPFORMULAOVER] [varchar](1) NULL,
	[VLCOMISSAOIATA] [numeric](18, 6) NULL,
	[TPCALCULOIATA] [varchar](1) NULL,
	[TPTARIFA] [varchar](1) NULL,
	[TPCONVERSAOIATA] [varchar](1) NULL,
	[TPIRRFFATURA] [varchar](1) NULL,
	[SNIRRFMINIMO] [varchar](1) NULL,
	[SNIRRFIATA] [varchar](1) NULL,
	[SNIRRFOVER] [varchar](1) NULL,
	[SNIRRFDUEAGENTE] [varchar](1) NULL,
	[TPFATURAMENTOIATA] [varchar](1) NULL,
	[CODIGOSCAC] [varchar](4) NULL,
	[CODIGOIATA] [varchar](15) NULL,
	[CODIGOINTRA] [varchar](5) NULL,
	[ACCOUNTNUMBER] [varchar](14) NULL,
	[SIGLA] [varchar](8) NULL,
	[TPFORMACOMPLEMENTARES] [varchar](1) NULL,
	[CDMAPA] [varchar](15) NULL,
	[NRREGISTRO] [varchar](15) NULL,
	[TPRPS] [varchar](2) NULL,
	[TPTRANSMISSAOSISCOMEX] [varchar](1) NULL,
	[TPCALCULOISS] [varchar](1) NULL,
	[RG] [varchar](20) NULL,
	[SNDIFERENCABASEFECP] [varchar](1) NULL,
	[IDCONTACONTABILPASSIVO] [int] NULL,
	[IDCONTACONTABILAUXILIAR] [int] NULL,
	[IDMODELODESCRICAODSE] [int] NULL,
	[SNNAOAGRUPARITENSDSE] [varchar](1) NULL,
	[SNSUBSTITUIRUNIDADEITENSDSE] [varchar](1) NULL,
	[CDPORTE] [varchar](4) NULL,
	[IDCLASSIFICACAOCLIENTES] [int] NULL,
	[SNDESPESASLOCOMOCAOCLIENTE] [varchar](1) NULL,
	[INDADQUIRENTE] [varchar](1) NULL,
	[PATHCERTIFICADO] [varchar](150) NULL,
	[SENHACERTIFICADO] [varchar](25) NULL,
	[NRSERIECERTIFICADO] [varchar](30) NULL,
	[INDGARANTIDOR] [varchar](1) NULL,
	[TPPROSPECCAO] [varchar](1) NULL,
	[TPREPETRO] [varchar](1) NULL,
	[SNIDENTIFICACAOANVISA] [varchar](40) NULL,
	[SNIN459] [varchar](1) NULL,
	[TPREGIMETRIBUTAVEL] [varchar](1) NULL,
	[TPSITUACAOPROSPECCAO] [varchar](1) NULL,
	[NOMECERTIFICADORPS] [varchar](200) NULL,
	[TPLOGRADOURO] [varchar](3) NULL,
	[IDGRUPOUNIDADEOPERACIONAL] [int] NULL,
	[TPREGIMETRIBSEFAZICMS] [varchar](1) NULL,
	[INSCRICAOINSS] [varchar](15) NULL,
	[TPMETODOCONTROLERETENCAO] [varchar](1) NULL,
	[IDCONTACONTABILFORNECEDOR] [int] NULL,
	[SNINSOBRETOTAL] [varchar](1) NULL,
	[NRMATRICULASDA] [int] NULL,
	[ULTIMOAWB] [varchar](20) NULL,
	[DVULTIMOAWB] [varchar](2) NULL,
	[CODIGOIATAAGENCIAMENTO] [varchar](17) NULL,
	[DAC] [varchar](5) NULL,
	[ACCOUNTNUMBERAGENCIAMENTO] [varchar](15) NULL,
	[TPCOMPOSICAOSEGURO] [varchar](1) NULL,
	[URLWEBSERVICERPS] [varchar](400) NULL,
	[EMAILANVISA] [varchar](50) NULL,
	[INDAGENCIAMARITIMA] [varchar](1) NULL,
	[PRODUTORRURAL] [varchar](1) NULL,
	[IDPROSPECTOR] [int] NULL,
	[SNIMPOSTOSFINANCEIRO] [varchar](1) NULL,
	[VLBASEMINIMAISS] [numeric](18, 6) NULL,
	[IDQUEBRAAUXILIARRE] [int] NULL,
	[SNPISCOFINSVALORADUANEIRO] [varchar](1) NULL,
	[DTVENCCARTAAPONTAMENTO] [datetime] NULL,
	[NRREGISTRONACTRANSPRODOV] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
