USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCARGO_SISTEMAS_COMPONENTE](
	[CD_SISTEMA] [int] NOT NULL,
	[NM_COMPONENTE] [char](50) NOT NULL,
	[NM_FORM] [char](50) NOT NULL,
	[CD_CARGO] [char](3) NOT NULL,
	[NM_PROPRIEDADE] [char](50) NOT NULL,
	[NM_VALOR] [varchar](50) NULL,
 CONSTRAINT [PK_TCARGO_SISTEMAS_COMPONENTE] PRIMARY KEY CLUSTERED 
(
	[CD_SISTEMA] ASC,
	[NM_COMPONENTE] ASC,
	[NM_FORM] ASC,
	[CD_CARGO] ASC,
	[NM_PROPRIEDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [FK_TCARGO_TCARGO_SISTEMAS_COMPONENTE] ON [TCARGO_SISTEMAS_COMPONENTE]
(
	[CD_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [FK_TCOMPONENTE_TCARGO_SISTEMAS_COMPONENTE] ON [TCARGO_SISTEMAS_COMPONENTE]
(
	[NM_COMPONENTE] ASC,
	[CD_SISTEMA] ASC,
	[NM_FORM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [FK_TPROPRIEDADE_COMPONENTE_T_CARGO_SISTEMAS_COMPONENTE] ON [TCARGO_SISTEMAS_COMPONENTE]
(
	[NM_PROPRIEDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [TCARGO_SISTEMAS_COMPONENTE]  WITH CHECK ADD  CONSTRAINT [FK_TCOMPONENTE_TCARGO_SISTEMAS_COMPONENTE] FOREIGN KEY([NM_COMPONENTE], [NM_FORM], [CD_SISTEMA])
REFERENCES [TCOMPONENTES] ([NM_COMPONENTE], [NM_FORM], [CD_SISTEMA])
GO
ALTER TABLE [TCARGO_SISTEMAS_COMPONENTE] CHECK CONSTRAINT [FK_TCOMPONENTE_TCARGO_SISTEMAS_COMPONENTE]
GO
ALTER TABLE [TCARGO_SISTEMAS_COMPONENTE]  WITH CHECK ADD  CONSTRAINT [FK_TPROPRIEDADE_COMPONENTE_T_CARGO_SISTEMAS_COMPONENTE] FOREIGN KEY([NM_PROPRIEDADE])
REFERENCES [TPROPRIEDADE_COMPONENTE] ([NM_PROPRIEDADE])
GO
ALTER TABLE [TCARGO_SISTEMAS_COMPONENTE] CHECK CONSTRAINT [FK_TPROPRIEDADE_COMPONENTE_T_CARGO_SISTEMAS_COMPONENTE]
GO
