USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE VIEW [VW_DT_PAGTO_SDA] AS
SELECT NR_PROCESSO, DT_PAGTO 
FROM (
SELECT L.NR_PROCESSO, C.CD_MOVIMENTO, MAX(C.DT_CAIXA) DT_PAGTO
FROM MYMONEY.DBO.TB_LANCTO L (NOLOCK)
JOIN MYMONEY.DBO.TB_LANCTO_CAIXA LC (NOLOCK) ON LC.NR_LANCTO     = L.NR_LANCTO
JOIN MYMONEY.DBO.TB_CAIXA C         (NOLOCK) ON LC.NR_CAIXA      = C.NR_CAIXA
JOIN MYMONEY.DBO.TB_LANCTO_FUP F    (NOLOCK) ON LC.NR_LANCTO_FUP = F.NR_LANCTO_FUP AND LC.NR_LANCTO=F.NR_LANCTO AND F.DT_REALIZACAO IS NOT NULL
WHERE L.CD_ITEM=8 
AND F.CD_ROTINA NOT IN (102,310)
--AND L.NR_PROCESSO='0202ER-0027-11' 
AND C.DT_CAIXA IN
( 
SELECT MAX(C1.DT_CAIXA) 
FROM MYMONEY.DBO.TB_LANCTO L1        (NOLOCK)
JOIN MYMONEY.DBO.TB_LANCTO_CAIXA LC1 (NOLOCK) ON LC1.NR_LANCTO     = L1.NR_LANCTO
JOIN MYMONEY.DBO.TB_CAIXA C1         (NOLOCK)        ON LC1.NR_CAIXA      = C1.NR_CAIXA
JOIN MYMONEY.DBO.TB_LANCTO_FUP F1    (NOLOCK)   ON LC1.NR_LANCTO_FUP = F1.NR_LANCTO_FUP AND LC1.NR_LANCTO=F1.NR_LANCTO AND F1.DT_REALIZACAO IS NOT NULL
WHERE L1.CD_ITEM=8 
AND F1.CD_ROTINA NOT IN (102,310)
AND L1.NR_PROCESSO=L.NR_PROCESSO 
GROUP BY L1.NR_PROCESSO
) 
GROUP BY L.NR_PROCESSO, C.CD_MOVIMENTO 

UNION

SELECT SD.NR_PROCESSO,'1',SD.DT_PAGTO 
FROM TPROCESSO_SDA SD (NOLOCK)
WHERE SD.DT_PAGTO IS NOT NULL 
--AND SD.NR_PROCESSO IN (SELECT NR_PROCESSO FROM TPROCESSO_NOT_MONEY)
AND SD.NR_PROCESSO IN ( SELECT NR_PROCESSO FROM TPROCESSO WHERE IsNull(IN_MONEY,0) = 0 ) 


) AS TMP_VIEW

WHERE CD_MOVIMENTO=1




GO
