USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TJUROS_REEMB](
	[CD_MOEDA_JUROS] [char](3) NOT NULL,
	[DT_JUROS] [datetime] NOT NULL,
	[VL_INDICE] [float] NOT NULL CONSTRAINT [DF_TJUROS_REEMB_VL_INDICE]  DEFAULT (0),
	[VL_JUROS] [float] NOT NULL CONSTRAINT [DF_TJUROS_REEMB_VL_JUROS]  DEFAULT (0),
	[VL_ACUMULADO] [float] NOT NULL CONSTRAINT [DF_TJUROS_REEMB_VL_ACUMULADO]  DEFAULT (0),
 CONSTRAINT [PK_TJUROS_REEMB] PRIMARY KEY CLUSTERED 
(
	[CD_MOEDA_JUROS] ASC,
	[DT_JUROS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
