USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAUX_MERCADORIA_EXP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_MERCADORIA] [char](20) NULL,
	[AP_MERCADORIA] [char](25) NULL,
	[NM_EMPRESA] [varchar](50) NULL,
	[NM_GRUPO] [char](50) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_GRUPO] [char](3) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[NM_MERCADORIA] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
