USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCFOP](
	[CD_CFOP] [char](4) NOT NULL,
	[NM_CFOP] [varchar](350) NULL,
	[AP_CFOP] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_CFOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
