USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSISTEMA_CONTABIL](
	[CD_SISTEMA_CONTABIL] [char](1) NOT NULL,
	[NM_SISTEMA_CONTABIL] [char](40) NOT NULL,
 CONSTRAINT [PK_TSISTEMA_CONTABIL] PRIMARY KEY CLUSTERED 
(
	[CD_SISTEMA_CONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
