USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TACRESCIMO_DEDUCAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_DESPESA] [char](2) NOT NULL,
	[CD_MOEDA] [char](3) NOT NULL,
	[VL_MOEDA] [float] NOT NULL,
	[TP_BASE] [char](5) NOT NULL,
	[TP_DESPESA] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_DESPESA] ASC,
	[TP_DESPESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
