USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_NF](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_NF] [char](10) NOT NULL,
	[DT_NOTA] [datetime] NULL,
	[VL_NOTA] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_NO__27DCEBBA]  DEFAULT (0),
	[NF_SERIE] [char](3) NULL,
	[VL_TAXA] [float] NULL,
	[NR_RE] [char](12) NULL,
	[CHAVE_NOTA] [varchar](44) NULL,
 CONSTRAINT [PK_TPROCESSO_EXP_NF] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_NF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
