USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TORIGEM_DESPESA](
	[CD_ORIGEM_DESP] [char](1) NOT NULL,
	[NM_ORIGEM_DESP] [char](20) NOT NULL,
	[TP_DESCRICAO] [char](1) NULL,
 CONSTRAINT [PK_TORIGEM_DESPESA] PRIMARY KEY CLUSTERED 
(
	[CD_ORIGEM_DESP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
