USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_REFERENCIA](
	[NR_PROCESSO] [char](18) NULL,
	[REFERENCIAS] [varchar](255) NULL
) ON [PRIMARY]

GO
