USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [VW_FAT_CC_CAMBIO] AS
SELECT NR_PROCESSO, NR_LANCAMENTO, CD_MOEDA, TX_CAMBIO
FROM TFATURAMENTO_CC (NOLOCK),
     TTAXA_CAMBIO (NOLOCK)
WHERE DT_LANCAMENTO BETWEEN DT_INICIO_VIGENCIA AND DT_TERMINO_VIGENCIA




GO
