USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREMESSA_PROCESSO](
	[NR_REMESSA] [char](10) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LINHA] [int] NULL,
	[NR_PAGINA] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TREMESSA_PROCESSO] ON [TREMESSA_PROCESSO]
(
	[NR_REMESSA] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
