USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [TESTE1] ( @nr_processo char(18)) AS    

    
SELECT @nr_processo = '0101ia-0045-10'    

IF (SELECT COUNT(*) FROM TPROCESSO_NOT_MONEY WHERE NR_PROCESSO = @nr_processo) > 0 
BEGIN
  PRINT 'MICHABICHA'
  --RETURN 0
END  

PRINT 'ANDRE ESTÁ CERTO'



GO
