USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DEM_EST](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_AREA] [char](2) NULL,
	[TX_MERCADORIA] [text] NULL,
	[CD_TRANSP_NAC] [char](4) NULL,
	[DT_ENVIO_NF_TRANSP] [datetime] NULL,
 CONSTRAINT [PK_TREL_DEM_EST] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
