USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [VW_PROCESSO]
AS
SELECT     CONVERT(INT, P.CD_UNID_NEG) AS CD_UNID_NEG, CONVERT(INT, P.CD_PRODUTO) AS CD_PRODUTO, P.NR_PROCESSO, CONVERT(INT, 
                      P.CD_CLIENTE) AS CD_CLIENTE, P.CD_GRUPO, CONVERT(INT, P.CD_SERVICO) AS CD_SERVICO, CONVERT(INT, P.CD_USUARIO) AS CD_USUARIO, 
                      P.DT_ABERTURA, CONVERT(INT, P.CD_CONTATO) AS CD_CONTATO, P.TX_MERCADORIA, P.CD_MOEDA_MLE, P.VL_MLE_MNEG, P.VL_MLE_MN, 
                      P.CD_MOEDA_FRETE, P.CD_MOEDA_SEGURO, P.VL_FRETE_PREPAID_MNEG, P.VL_FRETE_COLLECT_MNEG, P.VL_FRETE_MN, 
                      P.VL_FRETE_TNAC_MNEG, P.VL_SEGURO_MNEG, P.VL_SEGURO_MN, P.CD_AGENTE, P.VL_TAXA_FRETE, P.VL_CIF_DOLAR, P.VL_CIF_MN, 
                      P.VL_II_MN, P.VL_IPI_MN, P.VL_ICMS_MN, P.CD_ARMAZEM_ATRACACAO, P.CD_ARMAZEM_DESCARGA, P.CD_ARMAZEM_ESTOCAGEM, 
                      P.CD_TRANSP_NAC, P.CD_EMBARCACAO, P.NR_VOO, P.NR_CONHECIMENTO, P.NR_CONHECIMENTO_MASTER, P.CD_PAIS_ORIGEM, 
                      P.CD_PAIS_DESTINO, P.CD_LOCAL_EMBARQUE, P.CD_LOCAL_DESEMBARQUE, P.CD_IMPORTADOR, P.CD_EXPORTADOR, P.CD_AREA, 
                      P.NR_PLACA_VEICULO, P.VL_PESO_BRUTO, P.VL_PESO_LIQUIDO, SUBSTRING(P.NR_DI, 1, 2) + '/' + SUBSTRING(P.NR_DI, 3, 7) 
                      + '-' + SUBSTRING(P.NR_DI, 10, 3) AS NR_DI, G.CNPJ_GRUPO, F.CD_FAVORECIDO
FROM         broker.dbo.TPROCESSO AS P INNER JOIN
                      broker.dbo.TGRUPO AS G ON G.CD_GRUPO = P.CD_GRUPO LEFT OUTER JOIN
                      broker.dbo.TFAVORECIDO AS F ON G.CNPJ_GRUPO = F.CGC_EMPRESA INNER JOIN
                      broker.dbo.TFOLLOWUP AS FO ON FO.NR_PROCESSO = P.NR_PROCESSO AND FO.CD_EVENTO = '092' AND ISNULL(FO.DT_REALIZACAO, '') = ''
WHERE     (P.IN_CANCELADO = '0') AND (P.DT_ABERTURA > CONVERT(VARCHAR, '01/01/2010', 103))


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "P"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 285
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "G"
            Begin Extent = 
               Top = 6
               Left = 323
               Bottom = 114
               Right = 599
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "F"
            Begin Extent = 
               Top = 6
               Left = 637
               Bottom = 114
               Right = 828
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FO"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PROCESSO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PROCESSO'
GO
