USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TITEM_GROUP_SERVICES](
	[CD_ITEM] [char](3) NOT NULL,
	[CD_GROUP_SERVICES] [char](4) NOT NULL,
 CONSTRAINT [PK_TITEM_GROUP_SERVICES] PRIMARY KEY CLUSTERED 
(
	[CD_ITEM] ASC,
	[CD_GROUP_SERVICES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
