USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCARGO_SISTEMAS](
	[CD_SISTEMA] [int] NOT NULL,
	[CD_CARGO] [char](3) NOT NULL,
	[IN_ATIVO] [char](1) NULL DEFAULT ('1'),
 CONSTRAINT [PK_SISTEMA_CARGO] PRIMARY KEY CLUSTERED 
(
	[CD_SISTEMA] ASC,
	[CD_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TCARGO_SISTEMAS]  WITH CHECK ADD  CONSTRAINT [FK_CD_CARGO] FOREIGN KEY([CD_CARGO])
REFERENCES [TCARGO] ([CD_CARGO])
GO
ALTER TABLE [TCARGO_SISTEMAS] CHECK CONSTRAINT [FK_CD_CARGO]
GO
ALTER TABLE [TCARGO_SISTEMAS]  WITH CHECK ADD  CONSTRAINT [FK_CD_SISTEMA] FOREIGN KEY([CD_SISTEMA])
REFERENCES [TSISTEMAS] ([CD_SISTEMA])
GO
ALTER TABLE [TCARGO_SISTEMAS] CHECK CONSTRAINT [FK_CD_SISTEMA]
GO
