USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_IMO_IMDG](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQ_IMO] [int] NOT NULL,
	[NR_SEQ] [int] NOT NULL,
	[NR_IMDG_CLASS] [char](3) NULL,
	[NR_UN] [int] NULL,
 CONSTRAINT [PK_TPROCESSO_IMO_IMDG] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQ_IMO] ASC,
	[NR_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
