USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ind_fat](
	[nr_solicitacao] [char](6) NULL,
	[nr_processo] [char](18) NULL,
	[nm_empresa] [varchar](50) NULL,
	[nm_grupo] [char](50) NULL,
	[cd_item] [char](3) NULL,
	[nm_item] [char](30) NULL,
	[cd_unid_neg] [char](2) NULL,
	[cd_produto] [char](2) NULL,
	[gr_produto] [varchar](20) NULL,
	[nm_produto] [varchar](20) NULL,
	[valor] [real] NULL,
	[dt_fatura] [datetime] NULL,
	[nm_via_transp] [varchar](20) NULL,
	[GrupoServices] [varchar](20) NULL
) ON [PRIMARY]

GO
