USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARM_REC_PER](
	[CD_RECINTO] [char](7) NOT NULL,
	[NR_PERIODO] [int] NULL,
	[QT_DIAS] [int] NULL,
	[NR_PERCENT] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [PK_TARM_REC_PER] ON [TARM_REC_PER]
(
	[CD_RECINTO] ASC,
	[NR_PERIODO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
