USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMOEDA_BROKER](
	[CD_MOEDA] [char](3) NOT NULL,
	[NM_MOEDA] [varchar](30) NOT NULL,
	[AP_MOEDA] [varchar](6) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TMOEDA_IN_ATIVO_1__10]  DEFAULT ('1'),
	[CD_MOEDA_SCX] [char](3) NULL,
	[NM_MOEDA_SING] [char](20) NULL CONSTRAINT [DF__TMOEDA_BR__NM_MO__65EE6175]  DEFAULT (''),
	[NM_MOEDA_PLURAL] [char](20) NULL CONSTRAINT [DF__TMOEDA_BR__NM_MO__66E285AE]  DEFAULT (''),
	[NM_CENTAVOS_SING] [char](20) NULL CONSTRAINT [DF__TMOEDA_BR__NM_CE__67D6A9E7]  DEFAULT (''),
	[NM_CENTAVOS_PLURAL] [char](20) NULL CONSTRAINT [DF__TMOEDA_BR__NM_CE__68CACE20]  DEFAULT (''),
	[AP_MOEDA_INGLES] [varchar](6) NULL,
	[NM_MOEDA_SING_ING] [char](20) NULL,
	[NM_MOEDA_PLURAL_ING] [char](20) NULL,
	[NM_CENTAVOS_SING_ING] [char](20) NULL,
	[NM_CENTAVOS_PLURAL_ING] [char](20) NULL,
	[NM_MOEDA_SING_ESP] [char](20) NULL,
	[NM_MOEDA_PLURAL_ESP] [char](20) NULL,
	[NM_CENTAVOS_SING_ESP] [char](20) NULL,
	[NM_CENTAVOS_PLURAL_ESP] [char](20) NULL,
 CONSTRAINT [PK_TMOEDA_BROKER] PRIMARY KEY CLUSTERED 
(
	[CD_MOEDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
