USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_DOCTOS](
	[NR_PROCESSO] [varchar](18) NULL,
	[CD_TIPO_DOCTO] [int] NULL,
	[NM_DESCRICAO] [varchar](200) NULL,
	[NM_ARQUIVO] [char](15) NOT NULL,
	[CD_USUARIO_CRIACAO] [char](4) NULL,
	[DT_CRIACAO] [datetime] NULL DEFAULT (getdate()),
	[CD_USUARIO_ALT] [char](4) NULL,
	[DT_ALT] [datetime] NULL,
	[IN_ATIVO] [char](1) NULL DEFAULT ('1'),
	[NM_ARQUIVO_PAI] [char](15) NULL,
	[NM_MOTIVO_ALTERACAO] [varchar](255) NULL,
	[ID_TABELA] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_TPROCESSO_DOCTOS_NR_PROCESSO_CD_TIPO_DOCTO] ON [TPROCESSO_DOCTOS]
(
	[NR_PROCESSO] ASC,
	[CD_TIPO_DOCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
