USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATZ_TABELAS_RELATORIOS](
	[NM_TABELA] [varchar](255) NULL,
	[NM_FILTRO] [varchar](1000) NULL,
	[CD_OPERACAO] [char](1) NULL,
	[DT_OPERACAO] [datetime] NULL
) ON [PRIMARY]

GO
