USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [VW_IN_EDITA_EVENTO] AS
SELECT [IN_EV_REG_DI] IN_EDITA   , [CD_EV_REG_DI] CD_EVENTO  FROM [TPARAMETROS]
UNION
SELECT [IN_EV_DESEMB]            , [CD_EV_DESEMB]            FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PAGTO_LI]          , [CD_EV_PAGTO_LI]          FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ENT]               , [CD_EV_ENT]               FROM [TPARAMETROS]
UNION
SELECT [IN_EV_CHEGADA]           , [CD_EV_CHEGADA]           FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ENT_SETPIN]        , [CD_EV_ENT_SETPIN]        FROM [TPARAMETROS]
UNION
SELECT [IN_EV_SAI_SETPIN]        , [CD_EV_SAI_SETPIN]        FROM [TPARAMETROS]
UNION
SELECT [IN_EV_DESCARGA]          , [CD_EV_DESCARGA]          FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PREV_CHEGADA]      , [CD_EV_PREV_CHEGADA]      FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ETD]               , [CD_EV_ETD]               FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PREV_DESEMB]       , [CD_EV_PREV_DESEMB]       FROM [TPARAMETROS]
UNION
SELECT [IN_EV_CONHECIMENTO]      , [CD_EV_CONHECIMENTO]      FROM [TPARAMETROS]
UNION
SELECT [IN_EV_RECEB_DOC]         , [CD_EV_RECEB_DOC]         FROM [TPARAMETROS]
UNION
SELECT [IN_EV_EMBARQUE]          , [CD_EV_EMBARQUE]          FROM [TPARAMETROS]
UNION
SELECT [IN_EV_DIG_DI]            , [CD_EV_DIG_DI]            FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ENTREGA_MERC]      , [CD_EV_ENTREGA_MERC]      FROM [TPARAMETROS]
UNION
SELECT [IN_EV_AVERBACAO]         , [CD_EV_AVERBACAO]         FROM [TPARAMETROS]
UNION
SELECT [IN_EV_NUM_IMP]           , [CD_EV_NUM_IMP]           FROM [TPARAMETROS]
UNION
SELECT [IN_EV_REC_IMP]           , [CD_EV_REC_IMP]           FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PAG_ICMS]          , [CD_EV_PAG_ICMS]          FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PAG_ARM]           , [CD_EV_PAG_ARM]           FROM [TPARAMETROS]
UNION
SELECT [IN_EV_NUM_FRETE]         , [CD_EV_NUM_FRETE]         FROM [TPARAMETROS]
UNION
SELECT [IN_EV_REC_FRETE]         , [CD_EV_REC_FRETE]         FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ABRE_PROC]         , [CD_EV_ABRE_PROC]         FROM [TPARAMETROS]
UNION
SELECT [IN_EV_NUM_EXP]           , [CD_EV_NUM_EXP]           FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PAG_SDA]           , [CD_EV_PAG_SDA]           FROM [TPARAMETROS]
UNION
SELECT [IN_EV_RECEP_ANALISE]     , [CD_EV_RECEP_ANALISE]     FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PREV_CHEG_EE]      , [CD_EV_PREV_CHEG_EE]      FROM [TPARAMETROS]
UNION
SELECT [IN_EV_REC_EXP]           , [CD_EV_REC_EXP]           FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PAG_DEMUR]         , [CD_EV_PAG_DEMUR]         FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PRES_CARGA]        , [CD_EV_PRES_CARGA]        FROM [TPARAMETROS]
UNION
SELECT [IN_EV_VENCTO_LI]         , [CD_EV_VENCTO_LI]         FROM [TPARAMETROS]
UNION
SELECT [IN_EV_DESOVA]            , [CD_EV_DESOVA]            FROM [TPARAMETROS]
UNION
SELECT [IN_EV_LIB_BL]            , [CD_EV_LIB_BL]            FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PAGTO_ICMS]        , [CD_EV_PAGTO_ICMS]        FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ENVIO_FAT]         , [CD_EV_ENVIO_FAT]         FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ESPERA_NAVIO]      , [CD_EV_ESPERA_NAVIO]      FROM [TPARAMETROS]
UNION
SELECT [IN_EV_CAMBIO_OK ]        , [CD_EV_CAMBIO_OK ]        FROM [TPARAMETROS]
UNION
SELECT [IN_EV_CI]                , [CD_EV_CI]                FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PREV_EMBARQUE]     , [CD_EV_PREV_EMBARQUE]     FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ENT_REC_FED]       , [CD_EV_ENT_REC_FED]       FROM [TPARAMETROS]
UNION
SELECT [IN_EV_REMOCAO]           , [CD_EV_REMOCAO]           FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PREV_CARREGAMENTO] , [CD_EV_PREV_CARREGAMENTO] FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ABERT_DI]          , [CD_EV_ABERT_DI]          FROM [TPARAMETROS]
UNION
SELECT [IN_EV_NF_ENTRADA]        , [CD_EV_NF_ENTRADA]        FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PREV_ENTR_MERC]    , [CD_EV_PREV_ENTR_MERC]    FROM [TPARAMETROS]
UNION
SELECT [IN_EV_CRUZE]             , [CD_EV_CRUZE]             FROM [TPARAMETROS]
UNION
SELECT [IN_EV_APRESENTACAO]      , [CD_EV_APRESENTACAO]      FROM [TPARAMETROS]
UNION
SELECT [IN_EV_NF_TRANSP]         , [CD_EV_NF_TRANSP]         FROM [TPARAMETROS]
UNION
SELECT [IN_EV_PREV_FABRICA]      , [CD_EV_PREV_FABRICA]      FROM [TPARAMETROS]
UNION
SELECT [IN_EV_REG_DDE]           , [CD_EV_REG_DDE]           FROM [TPARAMETROS]
UNION
SELECT [IN_EV_REG_RE]            , [CD_EV_REG_RE]            FROM [TPARAMETROS]
UNION
SELECT [IN_EV_EMISSAO_ETIQUETA]  , [CD_EV_EMISSAO_ETIQUETA]  FROM [TPARAMETROS]
UNION
SELECT [IN_EV_ATRACACAO]         , [CD_EV_ATRACACAO]         FROM [TPARAMETROS]

GO
