USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TOBSERVACOES](
	[CD_OBS] [char](4) NOT NULL,
	[CD_PRODUTO] [char](2) NULL,
	[TX_DESCRICAO] [char](60) NULL,
	[TX_OBS] [text] NULL,
 CONSTRAINT [PK_TOBSERVACOES] PRIMARY KEY CLUSTERED 
(
	[CD_OBS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
