USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_EXP_DESP](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [char](5) NOT NULL,
	[CD_ITEM] [char](3) NULL,
	[VL_DESPESA] [float] NULL,
 CONSTRAINT [PK_TPROCESSO_EXP_DESP] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
