USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNF_SERV_ADM_ITEM](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[NR_DOCTO] [char](6) NOT NULL,
	[CD_CT_CONTABIL] [char](10) NOT NULL,
	[TX_HISTORICO] [text] NULL,
	[VL_ITEM] [float] NOT NULL CONSTRAINT [DF_TNF_SERV_ADM_ITEM_VL_ITEM]  DEFAULT (0),
	[IN_COLUNA] [char](1) NULL CONSTRAINT [DF_TNF_SERV_ADM_ITEM_IN_COLUNA]  DEFAULT ('2'),
 CONSTRAINT [PK_TNF_SERV_ADM_ITEM] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[NR_DOCTO] ASC,
	[CD_CT_CONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
