USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_MODULO_CONTABIL](
	[CD_MOD_CONTABIL] [char](2) NOT NULL,
	[NM_MOD_CONTABIL] [varchar](100) NULL,
	[TP_MOD_CONTABIL] [char](1) NULL,
 CONSTRAINT [PK_TTP_MODULO_CONTABIL] PRIMARY KEY CLUSTERED 
(
	[CD_MOD_CONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
