USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TIMP_NACIONALIZADOS](
	[CD_MAT_PRI] [char](15) NULL,
	[NR_DI] [char](10) NULL,
	[NR_PEDIDO] [char](15) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_NOTA_FISCAL] [char](10) NULL,
	[DT_NOTA_FISCAL] [datetime] NULL,
	[DT_DI] [datetime] NULL,
	[DT_DESEMB] [datetime] NULL,
	[QTD_NAC] [float] NULL,
	[PL_MAT_PRI] [float] NULL,
	[VL_ALIQ_SEGURO] [float] NULL,
	[VL_SEGURO] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_UNITARIO] [float] NULL,
	[VL_FOB] [float] NULL,
	[VL_CIF] [float] NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[VL_FRETE] [float] NULL,
	[CD_MERCADORIA] [char](15) NULL,
	[NR_ATO_DRAWBACK] [char](18) NULL,
	[PC_ICMS] [float] NULL,
	[PC_REDUCAO_ICMS] [float] NULL,
	[PC_PIS] [float] NULL,
	[PC_COFINS] [float] NULL,
	[PC_II] [float] NULL,
	[PC_IPI] [float] NULL,
	[PC_AFRMM] [float] NULL,
	[VL_MORA_FED] [float] NULL,
	[VL_MORA_EST] [float] NULL,
	[VL_TX_SELIC] [float] NULL,
	[PC_SELIC] [float] NULL,
	[VL_MULTA_OFICIO] [float] NULL,
	[VL_ICMS] [float] NULL,
	[VL_PIS] [float] NULL,
	[VL_COFINS] [float] NULL,
	[VL_II] [float] NULL,
	[VL_IPI] [float] NULL,
	[VL_AFRMM] [float] NULL,
	[VL_DESP_ADUAN] [float] NULL
) ON [PRIMARY]

GO
