USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPERAÇÃO_COM_TRATAMENTO](
	[NR_OPER_TRAT_PREV] [char](10) NOT NULL,
	[NR_IDENT_USUARIO] [varchar](18) NULL,
	[NR_OPER_TRAT_PROT] [varchar](10) NULL,
	[CD_AUTORIZ_TRANSM] [varchar](1) NULL,
	[NR_TRAT_IMP_MICRO] [varchar](8) NOT NULL,
	[NR_LI_SUBSTITUIDO] [varchar](10) NULL,
	[CD_ORIGEM_LI] [varchar](1) NULL,
	[NR_DECL_IMP_VINC] [varchar](10) NULL,
	[NR_ADI_IMP_VINC] [varchar](3) NULL,
	[NR_SEQ_RETI_VINC] [varchar](2) NULL,
	[CD_TIPO_IMPORTADOR] [varchar](1) NULL,
	[NR_IMPORTADOR] [varchar](14) NULL,
	[CD_PAIS_IMPORTADOR] [varchar](3) NULL,
	[NM_IMPORTADOR] [varchar](60) NULL,
	[NR_TEL_IMPORTADOR] [varchar](15) NULL,
	[ED_LOGR_IMPORTADOR] [varchar](40) NULL,
	[ED_NR_IMPORTADOR] [varchar](6) NULL,
	[ED_COMPL_IMPO] [varchar](21) NULL,
	[ED_BA_IMPORTADOR] [varchar](25) NULL,
	[ED_MUN_IMPORTADOR] [varchar](25) NULL,
	[ED_UF_IMPORTADOR] [varchar](2) NULL,
	[ED_CEP_IMPORTADOR] [varchar](8) NULL,
	[CD_ATIV_ECON_IMPO] [varchar](4) NULL,
	[NR_CPF_REPR_LEGAL] [varchar](11) NULL,
	[CD_URF_ENTR_MERC] [varchar](7) NULL,
	[NM_FORN_ESTR] [varchar](60) NULL,
	[ED_LOGR_FORN_ESTR] [varchar](40) NULL,
	[ED_NR_FORN_ESTR] [varchar](6) NULL,
	[ED_COMPL_FORN_ESTR] [varchar](21) NULL,
	[ED_CIDAD_FORN_ESTR] [varchar](25) NULL,
	[ED_ESTAD_FORN_ESTR] [varchar](25) NULL,
	[CD_PAIS_AQUIS_MERC] [varchar](3) NULL,
	[CD_MERCADORIA_NCM] [varchar](8) NULL,
	[CD_PAIS_PROC_MERC] [varchar](3) NULL,
	[CD_AUSENCIA_FABRIC] [varchar](1) NULL,
	[NM_FABRICANTE_MERC] [varchar](60) NULL,
	[ED_LOGR_FABRIC] [varchar](40) NULL,
	[ED_NR_FABRIC] [varchar](6) NULL,
	[ED_COMPL_FABRIC] [varchar](21) NULL,
	[ED_CIDAD_FABRIC] [varchar](25) NULL,
	[ED_ESTADO_FABRIC] [varchar](25) NULL,
	[CD_PAIS_ORIG_MERC] [varchar](3) NULL,
	[CD_MERC_NALADI_NCC] [varchar](7) NULL,
	[CD_MERC_NALADI_SH] [varchar](8) NULL,
	[PL_MERCADORIA] [varchar](15) NULL,
	[QT_UN_ESTATISTICA] [varchar](15) NULL,
	[CD_MOEDA_NEGOCIADA] [varchar](3) NULL,
	[QT_DIA_LIMITE_PGTO] [varchar](3) NULL,
	[CD_INCOTERMS_VENDA] [varchar](3) NULL,
	[VL_MERC_MNEG_EMB] [char](15) NULL,
	[VL_TOT_DOLAR_EMB] [varchar](11) NULL,
	[CD_TIPO_ACORDO_TAR] [varchar](1) NULL,
	[CD_ACORDO_ALADI] [varchar](3) NULL,
	[CD_REGIME_TRIBUTAR] [varchar](1) NULL,
	[CD_FUND_LEG_REGIME] [varchar](2) NULL,
	[CD_COBERT_CAMBIAL] [varchar](1) NULL,
	[CD_MODALIDADE_PGTO] [varchar](2) NULL,
	[CD_ORGAO_FIN_INTER] [varchar](2) NULL,
	[CD_MOTIVO_SEM_COB] [varchar](2) NULL,
	[CD_AGENCIA_SECEX] [varchar](5) NULL,
	[CD_URF_DESPACHO] [varchar](7) NULL,
	[IN_REST_DATA_EMB_LI] [varchar](1) NULL,
	[IN_MATERIAL_USADO] [bit] NOT NULL,
	[IN_BEM_ENCOMENDA] [bit] NOT NULL,
	[NR_ATO_DRAWBACK] [varchar](13) NULL,
	[NR_COMUNIC_COMPRA] [varchar](13) NULL,
	[DT_REG_OPER_TRAT] [varchar](10) NULL,
	[DT_ATU_OPER_MICRO] [varchar](10) NULL,
	[IN_SALVO_DIAG] [bit] NOT NULL,
	[IN_SELECAO_DIAG] [bit] NOT NULL,
	[TX_INFO_COMPL] [text] NULL,
	[CD_SITUAC_OP_TRAT] [varchar](2) NULL,
	[DT_SITUAC_OP_TRAT] [varchar](10) NULL,
	[DT_VALID_OP_TRAT] [varchar](10) NULL,
	[CD_CANCEL_OP_TRAT] [varchar](1) NULL,
	[DT_CANCEL_OP_TRAT] [varchar](10) NULL,
	[NR_CPF_CANC_ANUENC] [varchar](11) NULL,
	[NR_LI_SUBSTITUTIVO] [varchar](10) NULL,
	[IN_REG_DRAWBACK] [char](1) NULL,
	[NR_REG_DRAWBACK] [char](11) NULL,
	[IN_LI_INCLUIDA] [char](1) NULL CONSTRAINT [DF_OPERAÇÃO_COM_TRATAMENTO_IN_LI_INCLUIDA]  DEFAULT ('0'),
 CONSTRAINT [PK_OPERA_AO_COM_TRATAMENT1__10] PRIMARY KEY CLUSTERED 
(
	[NR_OPER_TRAT_PREV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
