USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTROLE_ACESSO_DIGITALIZACAO](
	[CD_CARGO] [char](3) NOT NULL,
	[ID_TABELA] [int] NOT NULL,
	[CD_TIPO_DOCTO] [int] NOT NULL,
	[IN_VISUALIZACAO] [char](1) NULL,
	[IN_ALTERACAO] [char](1) NULL,
 CONSTRAINT [PK_CONTROLE_ACESSO_DIGITALIZACAO] PRIMARY KEY CLUSTERED 
(
	[CD_CARGO] ASC,
	[ID_TABELA] ASC,
	[CD_TIPO_DOCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
