USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDIAGNOSTICO_FATOR_HABILITACAO](
	[CD_FATOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
 CONSTRAINT [PK_TDIAGNOSTICO_FATOR_HABILITACAO] PRIMARY KEY NONCLUSTERED 
(
	[CD_FATOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_GRUPO] ASC,
	[CD_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TDIAGNOSTICO_FATOR_HABILITACAO]  WITH CHECK ADD  CONSTRAINT [FK_TDIAGNOSTICO_FATORES_TDIAGNOSTICO_FATOR_HABILITACAO] FOREIGN KEY([CD_FATOR])
REFERENCES [TDIAGNOSTICO_FATORES] ([CD_FATOR])
GO
ALTER TABLE [TDIAGNOSTICO_FATOR_HABILITACAO] CHECK CONSTRAINT [FK_TDIAGNOSTICO_FATORES_TDIAGNOSTICO_FATOR_HABILITACAO]
GO
