USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSERVICO_CLASSIFICACAO](
	[CD_CLASSIFICACAO] [char](2) NOT NULL,
	[NM_CLASSIFICACAO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TSERVICO_CLASSIFICACAO] PRIMARY KEY CLUSTERED 
(
	[CD_CLASSIFICACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
