USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_COM_IND_POR](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_CLIENTE_INDICADO] [char](3) NOT NULL,
	[CD_DEPTO] [char](3) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CONTATO] [char](3) NOT NULL,
	[NM_CONTATO] [varchar](50) NULL,
	[TX_CARGO] [varchar](25) NULL,
	[NM_EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_TREL_COM_IND_POR] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_CLIENTE_INDICADO] ASC,
	[CD_DEPTO] ASC,
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_CONTATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
