USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DOCUMENTO](
	[CODIGO] [char](3) NOT NULL,
	[DESCRICAO] [char](50) NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[IN_EMAIL] [char](1) NULL CONSTRAINT [DF__TTP_DOCUM__IN_EM__65BAEDF9]  DEFAULT ('0'),
 CONSTRAINT [PK_TTP_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
