USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNF_SERV_OP_ITEM](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[NM_ITEM] [char](50) NULL,
	[VL_ITEM] [float] NULL CONSTRAINT [DF_TNF_SERV_ITEM_VL_ITEM]  DEFAULT (0),
	[IN_COLUNA] [char](1) NULL CONSTRAINT [DF_TNF_SERV_ITEM_IN_COLUNA]  DEFAULT ('2'),
	[NR_ORDEM_FAT] [int] NULL,
	[CD_ITEM_NAO_FAT] [char](1) NOT NULL,
 CONSTRAINT [PK_TNF_SERV_OP_ITEM] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC,
	[CD_ITEM] ASC,
	[CD_ITEM_NAO_FAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
