USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAJUSTE_IMPRESSAO_EXONERACAO](
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[L_UF_SEC] [char](3) NULL,
	[C_UF_SEC] [char](3) NULL,
	[L_EMPRESA] [char](3) NULL,
	[C_EMPRESA] [char](3) NULL,
	[C_PROCESSO] [char](3) NULL,
	[C_NR_DI] [char](3) NULL,
	[C_DT_REG_DI] [char](3) NULL,
	[L_INSC_EST] [char](3) NULL,
	[C_INSC_EST] [char](3) NULL,
	[C_CNPJ_CPF] [char](3) NULL,
	[C_CAE] [char](3) NULL,
	[C_DESEMB] [char](3) NULL,
	[C_UFARM] [char](3) NULL,
	[L_END] [char](3) NULL,
	[C_END] [char](3) NULL,
	[C_BAIRRO] [char](3) NULL,
	[L_CEP] [char](3) NULL,
	[C_CEP] [char](3) NULL,
	[C_MUNICIPIO] [char](3) NULL,
	[C_UF_EMP] [char](3) NULL,
	[C_TEL] [char](3) NULL,
	[C_VL_CIF] [char](3) NULL,
	[L_ADICAO] [char](3) NULL,
	[C_ADICAO] [char](3) NULL,
	[C_CLASSE] [char](3) NULL,
	[C_TRAT] [char](3) NULL,
	[C_FUND_LEGAL] [char](3) NULL,
	[C_VL_MCV] [char](3) NULL,
	[L_DATA] [char](3) NULL,
	[C_DATA] [char](3) NULL,
	[C_REPRESENTANTE] [char](3) NULL,
	[L_OBS] [char](3) NULL,
	[C_OBS] [char](3) NULL,
 CONSTRAINT [PK_TAJUSTE_IMPRESSAO_EXONERACAO] PRIMARY KEY CLUSTERED 
(
	[CD_DOCUMENTO] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
