USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DATATABLE](
	[dummyid] [int] IDENTITY(1,1) NOT NULL,
	[nodeid] [int] NULL,
	[partno] [int] NULL,
	[partcount] [int] NULL,
	[datapart] [varbinary](4096) NULL
) ON [PRIMARY]

GO
