USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROC_COMERC_HISTORICO](
	[CD_HIST_PROC_COMERC] [int] NOT NULL,
	[NR_PROC_COMERC] [char](18) NOT NULL,
	[DT_HISTORICO] [datetime] NULL,
	[HR_HISTORICO] [datetime] NULL,
	[NM_HISTORICO] [char](50) NULL,
	[NM_CONTATO] [varchar](50) NULL,
	[TX_OBS_HISTORICO] [text] NULL,
	[CD_AGENDA] [int] NULL,
	[IN_PERIODO] [char](1) NULL,
	[NM_HIST_REDUZIDO] [char](20) NULL,
 CONSTRAINT [PK_TPROC_COMERC_HISTORICO] PRIMARY KEY NONCLUSTERED 
(
	[CD_HIST_PROC_COMERC] ASC,
	[NR_PROC_COMERC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
