USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFERIADO](
	[DT_FERIADO] [datetime] NOT NULL,
	[NM_FERIADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TFERIADO] PRIMARY KEY CLUSTERED 
(
	[DT_FERIADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
