USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [VW_MODALIDADE_PAGAMENTO] AS
    SELECT NULL AS CD_MODALIDADE, NULL AS NM_MODALIDADE
    UNION
    SELECT '1' AS CD_MODALIDADE, 'CREDITO' AS NM_MODALIDADE
    UNION
    SELECT '3' AS CD_MODALIDADE, 'COBRANCA' AS NM_MODALIDADE
    UNION
    SELECT '5' AS CD_MODALIDADE, 'PAGAMENTO ANTECIPADO' AS NM_MODALIDADE
    UNION
    SELECT '7' AS CD_MODALIDADE, 'REMESSAS' AS NM_MODALIDADE
    UNION
    SELECT '6' AS CD_MODALIDADE, 'SEM COBERTURA CAMBIAL' AS NM_MODALIDADE


GO
