USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_DOCTOS](
	[NR_SD] [char](18) NULL,
	[CD_TIPO_DOCTO] [int] NULL,
	[NR_DOCTO] [varchar](50) NULL,
	[CD_DOCTO] [int] NULL,
	[NM_CAMINHO] [varchar](2000) NULL
) ON [PRIMARY]

GO
