USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABIL_DISTRIBUICAO](
	[CD_COLIGADA] [char](2) NOT NULL,
	[CD_CT_CONTABIL] [char](8) NOT NULL,
	[CD_CT_GERENCIAL] [char](4) NOT NULL,
	[PC_TAXA] [numeric](6, 2) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
 CONSTRAINT [PK_TCONTABIL_DISTRIBUICAO1__46] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_UNID_NEG] ASC,
	[CD_CT_CONTABIL] ASC,
	[CD_CT_GERENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
