USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRETENCAO_COFINS](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CGC_EMPRESA] [char](8) NULL,
	[NR_NOTA] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[DT_FATURA] [datetime] NOT NULL,
	[VL_TRIBUTAVEL] [float] NULL,
	[VL_COFINS] [float] NULL,
	[IN_COFINS_RETIDO] [char](1) NULL,
	[IN_COFINS_RETIDO_ATUAL] [char](1) NULL,
	[VL_COFINS_RETIDO] [float] NULL,
	[CGC_UNID_NEG] [char](14) NULL,
 CONSTRAINT [PK_TRETENCAO_COFINS] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC,
	[NR_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
