USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_LIQUIDACAO_FATURAS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO_LIQ] [char](18) NOT NULL,
	[NR_LIQUIDACAO] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[VL_LIQUIDACAO] [float] NOT NULL CONSTRAINT [DF_TREL_LIQUIDACAO_FATURAS_VL_LIQUIDACAO]  DEFAULT (0),
	[CD_REFERENCIA] [char](30) NULL,
	[TP_LIQUIDACAO] [char](1) NULL,
	[DT_FATURA] [datetime] NULL,
	[NR_NOTA_FATURA] [char](6) NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[NR_DIAS] [int] NULL,
 CONSTRAINT [PK_TREL_LIQUIDACAO_FATURAS] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO_LIQ] ASC,
	[NR_LIQUIDACAO] ASC,
	[NR_PROCESSO] ASC,
	[NR_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
