USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_MERCADORIA_PERIGOSA](
	[CD_ID_MERCADORIA] [int] NOT NULL,
	[NM_ID_MERCADORIA] [varchar](2000) NULL,
	[CD_CLASSE] [int] NULL,
 CONSTRAINT [PK_TTP_MERCADORIA_PERIGOSA] PRIMARY KEY CLUSTERED 
(
	[CD_ID_MERCADORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
