USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EV_CRITICO](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_DIAS] [int] NOT NULL,
	[DT_INICIO] [datetime] NULL CONSTRAINT [DF__TREL_EV_C__DT_IN__624CB1CD]  DEFAULT (null),
	[DT_FIM] [datetime] NULL CONSTRAINT [DF__TREL_EV_C__DT_FI__6340D606]  DEFAULT (null),
	[IN_ATRAZADO] [char](1) NOT NULL CONSTRAINT [DF__TREL_EV_C__IN_AT__6434FA3F]  DEFAULT ('1'),
	[IN_REALIZADO] [char](1) NOT NULL CONSTRAINT [DF_TREL_EV_CRITICO_IN_REALIZADO]  DEFAULT ('0'),
	[NR_PRAZO] [float] NULL
) ON [PRIMARY]

GO
