USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FAT_LIVRO_FISCAL_TOTAIS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[VL_ISS_TOTAL] [float] NOT NULL,
	[VL_ISS_RETIDO] [float] NOT NULL,
	[VL_ISS_SALDO] [float] NOT NULL,
 CONSTRAINT [PK_TREL_FAT_LIVRO_FISCAL_TOTAIS] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FAT_LIVRO_FISCAL_TOTAIS] ADD  CONSTRAINT [DF_TREL_FAT_LIVRO_FISCAL_TOTAIS_VL_ISS_TOTAL]  DEFAULT (0) FOR [VL_ISS_TOTAL]
GO
ALTER TABLE [TREL_FAT_LIVRO_FISCAL_TOTAIS] ADD  CONSTRAINT [DF_TREL_FAT_LIVRO_FISCAL_TOTAIS_VL_ISS_RETIDO]  DEFAULT (0) FOR [VL_ISS_RETIDO]
GO
ALTER TABLE [TREL_FAT_LIVRO_FISCAL_TOTAIS] ADD  CONSTRAINT [DF_TREL_FAT_LIVRO_FISCAL_TOTAIS_VL_ISS_SALDO]  DEFAULT (0) FOR [VL_ISS_SALDO]
GO
