USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCOMISSARIA](
	[CD_COMISSARIA] [char](3) NOT NULL,
	[NM_COMISSARIA] [char](50) NULL,
	[END_COMISSRIA] [char](50) NULL,
	[FONE_COMISSARIA] [char](12) NULL,
	[EMAIL_COMISSARIA] [char](30) NULL,
	[FAX_COMISSARIA] [char](12) NULL,
	[IN_ATIVO] [char](1) NULL
) ON [PRIMARY]

GO
