USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_ENSAIO](
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[DT_FATURA] [datetime] NOT NULL,
	[VL_ATUAL1] [float] NULL,
	[VL_ATUAL2] [float] NULL,
	[VL_ATUAL3] [float] NULL,
	[VL_PROJ1] [float] NULL,
	[VL_PROJ2] [float] NULL,
	[VL_PROJ3] [float] NULL,
 CONSTRAINT [PK_TREL_ENSAIO_7__101] PRIMARY KEY CLUSTERED 
(
	[CD_USUARIO] ASC,
	[CD_SERVICO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_ENSAIO] ADD  CONSTRAINT [DF_TREL_ENSAI_VL_ATUAL1_1__101]  DEFAULT (0) FOR [VL_ATUAL1]
GO
ALTER TABLE [TREL_ENSAIO] ADD  CONSTRAINT [DF_TREL_ENSAI_VL_ATUAL2_2__101]  DEFAULT (0) FOR [VL_ATUAL2]
GO
ALTER TABLE [TREL_ENSAIO] ADD  CONSTRAINT [DF_TREL_ENSAI_VL_ATUAL3_3__101]  DEFAULT (0) FOR [VL_ATUAL3]
GO
ALTER TABLE [TREL_ENSAIO] ADD  CONSTRAINT [DF_TREL_ENSAI_VL_PROJ1_4__101]  DEFAULT (0) FOR [VL_PROJ1]
GO
ALTER TABLE [TREL_ENSAIO] ADD  CONSTRAINT [DF_TREL_ENSAI_VL_PROJ2_5__101]  DEFAULT (0) FOR [VL_PROJ2]
GO
ALTER TABLE [TREL_ENSAIO] ADD  CONSTRAINT [DF_TREL_ENSAI_VL_PROJ3_6__101]  DEFAULT (0) FOR [VL_PROJ3]
GO
