USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP_TATZ_MYINDAIA_FOLLOWUP](
	[CD_ATUALIZACAO] [int] IDENTITY(1,1) NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NM_TABELA] [varchar](50) NULL,
	[AP_USUARIO] [char](15) NULL
) ON [PRIMARY]

GO
