USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EXTRATO_CC](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_LANCAMENTO] [char](5) NOT NULL,
	[CD_BANCO] [char](3) NULL,
	[DT_LANCAMENTO] [datetime] NULL,
	[NR_DOCTO] [char](6) NULL,
	[NR_CHEQUE] [char](6) NULL,
	[NM_HISTORICO] [varchar](200) NULL,
	[VL_LANCAMENTO] [float] NULL,
	[VL_SALDO] [float] NULL,
	[IN_SALDO] [char](1) NULL,
	[IN_CONCILIACAO] [char](1) NULL,
	[IN_CANCELADO] [char](1) NULL,
	[VL_CONC] [float] NULL,
	[VL_NCONC] [float] NULL,
	[CD_UNID_NEG] [char](2) NULL,
 CONSTRAINT [PK_TREL_EXTRATO_CC] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
