USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAB_FRETE](
	[CD_TAB_FRETE] [char](5) NOT NULL,
	[DESC_TAB_FRETE] [varchar](80) NOT NULL,
	[DT_TAB_FRETE] [datetime] NULL,
	[CD_EMPRESA] [char](5) NULL,
	[QTD_DIAS_TAB_FRETE] [float] NULL,
	[CD_AGENTE_TAB_FRETE] [char](4) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_CIA_TRANSP_TAB_FRETE] [char](4) NULL,
	[CD_MOEDA_TAB_FRETE] [char](3) NULL,
	[NR_FRQUENCIA] [float] NULL,
	[TP_FREQUENCIA_TAB_FRETE] [char](1) NULL,
	[TRANSIT_TIME_TAB_FRETE] [varchar](3) NULL,
	[NR_TRANSIT_TIME] [float] NULL,
	[PERC_VENDA_TAB_FRETE] [float] NULL,
	[CD_ORIGEM_TAB_FRETE] [char](4) NULL,
	[CD_DESTINO_TAB_FRETE] [char](4) NULL,
	[TX_OBS_TAB_FRETE] [varchar](255) NULL,
	[TP_VL_CALCULO] [char](1) NULL,
	[TP_EMP_FRETE] [char](1) NULL,
	[CD_ARMADOR] [char](4) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[TP_FRETE] [char](1) NULL,
	[TP_CARGA] [char](1) NULL,
	[VL_OTHER_CHARGE] [float] NULL,
	[TP_TARIFA] [char](1) NULL,
	[IN_ATIVO] [char](1) NULL,
	[IN_DESEMBARACO] [int] NULL CONSTRAINT [DF_TTAB_FRETE_IN_DESEMBARACO]  DEFAULT (0)
) ON [PRIMARY]

GO
