USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMOD_NUMERARIO](
	[CD_NUMERARIO] [char](2) NOT NULL,
	[NM_NUMERARIO] [varchar](30) NOT NULL,
	[IN_USD] [char](1) NULL CONSTRAINT [DF_TMOD_NUMERARIO_IN_USD]  DEFAULT ('0'),
 CONSTRAINT [PK_TMOD_NUMERARIO] PRIMARY KEY CLUSTERED 
(
	[CD_NUMERARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
