USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDESTAQUE_NCM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[NR_DESTAQUE_NCM] [char](3) NULL,
 CONSTRAINT [PK_TDESTAQUE_NCM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]

GO
