USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EMITIDO_CANCELADO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[TP_NOTA] [char](1) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_NOTA_FATURA] [char](6) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[DT_EMISSAO] [datetime] NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NM_CLI_FAV] [char](50) NULL,
	[VL_NOTA_FATURA] [float] NULL CONSTRAINT [DF_TREL_EMITIDO_CANCELADO_VL_NOTA_FATURA]  DEFAULT (0),
 CONSTRAINT [PK_TREL_EMITIDO_CANCELADO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[TP_NOTA] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_NOTA_FATURA] ASC,
	[NR_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
