USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [VW_DT_RECEB_DOC] AS
SELECT NR_PROCESSO, CD_SERVICO, DT_REALIZACAO
FROM TFOLLOWUP (NOLOCK)
WHERE CD_EVENTO = ( SELECT CD_EV_RECEB_DOC FROM TPARAMETROS (NOLOCK) ) AND
      IN_APLICAVEL = '1'




GO
