USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TBI_ESTATISTICO](
	[NR_PROCESSO] [char](18) NULL,
	[NM_TABELA] [varchar](255) NULL,
	[DT_OPERACAO] [datetime] NULL
) ON [PRIMARY]

GO
