USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDA_LOTE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_REF] [varchar](15) NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[NR_LOTE] [varchar](12) NOT NULL,
	[QT_LOTE] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_INICIAL]  DEFAULT ((0)),
	[PL_UNIT] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_UNIT]  DEFAULT ((0)),
	[PL_LOTE] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_LOTE]  DEFAULT ((0)),
	[DT_FABRICACAO] [datetime] NULL,
	[DT_VALIDADE] [datetime] NULL,
	[TX_AVARIA] [text] NULL,
	[QT_AVARIA] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_AVARIA]  DEFAULT ((0)),
	[QT_AVARIA_LIB] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_AVARIA_LIB]  DEFAULT ((0)),
	[QT_DISPONIVEL] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_DISPONIVEL]  DEFAULT ((0)),
	[QT_NAC] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_NAC]  DEFAULT ((0)),
	[QT_AG_DESEMB] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_AG_DESEMB]  DEFAULT ((0)),
	[QT_TRANSITO] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_TRANSITO]  DEFAULT ((0)),
	[QT_AG_DESOVA] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_AG_DESOVA]  DEFAULT ((0)),
	[QT_FISICA] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_FISICA]  DEFAULT ((0)),
	[QT_AG_REGISTRO] [int] NULL CONSTRAINT [DF_TDA_LOTE_QT_AG_REGISTRO]  DEFAULT ((0)),
	[PL_AVARIA] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_AVARIA]  DEFAULT ((0)),
	[PL_AVARIA_LIB] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_AVARIA_LIB]  DEFAULT ((0)),
	[PL_DISPONIVEL] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_DISPONIVEL]  DEFAULT ((0)),
	[PL_NAC] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_NAC]  DEFAULT ((0)),
	[PL_AG_DESEMB] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_AG_DESEMB]  DEFAULT ((0)),
	[PL_AG_DESOVA] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_AG_DESOVA]  DEFAULT ((0)),
	[PL_TRANSITO] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_TRANSITO]  DEFAULT ((0)),
	[PL_FISICA] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_FISICA]  DEFAULT ((0)),
	[PL_AG_REGISTRO] [float] NULL CONSTRAINT [DF_TDA_LOTE_VL_PESO_LIQ_AG_REGISTRO]  DEFAULT ((0)),
	[IN_ETIQ_FABR] [char](1) NULL CONSTRAINT [DF_TDA_LOTE_IN_ETIQ_FABR]  DEFAULT ('0'),
	[IN_ETIQ_VALID] [char](1) NULL CONSTRAINT [DF_TDA_LOTE_IN_ETIQ_VALID]  DEFAULT ('0'),
	[TP_LOCAL_ETIQ_FABR] [char](1) NULL CONSTRAINT [DF_TDA_LOTE_TP_LOCAL_ETIQ_FABR]  DEFAULT ('0'),
	[TP_LOCAL_ETIQ_VALID] [char](1) NULL CONSTRAINT [DF_TDA_LOTE_TP_LOCAL_ETIQ_VALID]  DEFAULT ('0'),
	[IN_SOLIC_ETIQ_FABR] [char](1) NULL CONSTRAINT [DF_TDA_LOTE_IN_SOLIC_ETIQ_FABR]  DEFAULT ('0'),
	[IN_SOLIC_ETIQ_VALID] [char](1) NULL CONSTRAINT [DF_TDA_LOTE_IN_SOLIC_ETIQ_VALID]  DEFAULT ('0'),
	[IN_REVALIDADO] [char](1) NULL CONSTRAINT [DF_TDA_LOTE_IN_REVALIDADO]  DEFAULT ('0'),
	[DT_VALIDADE_ANT] [datetime] NULL,
	[VL_MLD_DOLAR] [float] NULL CONSTRAINT [DF__TDA_LOTE__VL_MLD__0BC231FE]  DEFAULT ((0)),
 CONSTRAINT [PK_TDA_LOTE] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_REF] ASC,
	[CD_MERCADORIA] ASC,
	[NR_LOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
