USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCOLIGADA](
	[CD_COLIGADA] [char](2) NOT NULL,
	[NM_COLIGADA] [varchar](20) NULL,
	[IN_FATURAMENTO] [char](1) NULL,
	[CGC_COLIGADA] [char](14) NULL,
	[NM_RAZ_SOCIAL] [char](70) NULL,
	[END_COLIGADA] [char](50) NULL,
	[END_NUMERO] [char](6) NULL,
	[END_COMPL] [char](20) NULL,
	[END_BAIRRO] [char](20) NULL,
	[END_CIDADE] [char](20) NULL,
	[END_UF] [char](2) NULL,
	[END_CEP] [char](8) NULL,
	[TEL_COLIGADA] [char](15) NULL,
	[DDD_COLIGADA] [char](3) NULL,
	[FAX_COLIGADA] [char](8) NULL,
	[EMAIL_COLIGADA] [char](50) NULL,
 CONSTRAINT [PK_TCOLIGADA_1__28] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
