USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE VIEW [VW_LI_STATUS] AS
select  L.NR_PROCESSO,L.NR_LI, L.CD_ORGAO_ANUENTE, MAX(L.DT_STATUS) DT_STATUS, MAX(L.DT_STATUS_EFETIVA) DT_STATUS_EFETIVA,
(SELECT top 1 TX_STATUS FROM TPROCESSO_LI_STATUS L2 (NOLOCK)
                        WHERE L2.NR_PROCESSO = l.NR_PROCESSO AND L2.CD_ORGAO_ANUENTE = l.CD_ORGAO_ANUENTE AND L2.NR_LI = l.NR_LI 
                        order by l2.DT_CONSULTA desc) TX_STATUS
from TPROCESSO_LI_STATUS l (NOLOCK) , TPROCESSO_LI PL (NOLOCK), TPROCESSO P (NOLOCK)
where PL.NR_PROCESSO=L.NR_PROCESSO AND PL.NR_LI=L.NR_LI AND L.NR_PROCESSO=P.NR_PROCESSO AND P.IN_CANCELADO<>1
   AND ISNULL(PL.IN_CANCELADO,'0')<>'1'  AND ISNULL(PL.IN_UTILIZADO,'0')<>'1' AND ISNULL(PL.IN_LI_PRE_JA_EMBARCADO,'0')<>'1'
   AND CONVERT(INT, REPLACE( SUBSTRING(l.NR_LI,1,2), '\','0')) BETWEEN 10 And 25      
group by  L.NR_PROCESSO,L.NR_LI,L.CD_ORGAO_ANUENTE


/*

SELECT * FROM VW_LI_STATUS




*/

GO
