USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_CLIENTE_LOCAL_SENIOR] AS
    SELECT DISTINCT EN.CD_EMPRESA,

                    '' [user], -- String
                    '' [password], --String
                    0 [encryption], --Integer
                    
                    --DADOS GERAIS DO CLIENTE
                    0 codCli_DGC, -- (Obrigatório) - Number(009) - Código do cliente
                    ISNULL(LEFT(EN.NM_EMPRESA, 100), '') nomCli_DGC, -- (Obrigatório) - String(100) - Nome do cliente
                    ISNULL(LEFT(EN.AP_EMPRESA, 50), '') apeCli_DGC, -- (Obrigatório) - String(050) - Nome fantasia do cliente
                    CASE EN.CD_TIPO_PESSOA WHEN '1' THEN 'J' ELSE 'F' END tipCli_DGC, -- (Obrigatório) - String(001) - Tipo do cliente - Lista : J= Jurídica, F = Física
                    '' tipEmp_DGC, -- (?) Tipo de empresa
                    '' tipMer_DGC, -- (?) (Obrigatório) - String(001) - Tipo de mercado do cliente - Lista: I = Interno (Nacional), E = Externo (Internacional), P = Prospect.)
                    '' cliCon_DGC, -- (?) (Obrigatório) - String(001) - Indicativo se o cliente é contribuinte de ICMS - Lista S = Sim, N = Não
                    ISNULL(LEFT(CASE UPPER(RTRIM(EN.IE_EMPRESA)) WHEN '' THEN 'ISENTO' WHEN 'ISENTA' THEN 'ISENTO' ELSE EN.IE_EMPRESA END, 25), 'ISENTO') insEst_DGC, -- (Opcional) - String(025) - Inscrição estadual do cliente
                    ISNULL(LEFT(CASE UPPER(RTRIM(EN.IM_EMPRESA)) WHEN '' THEN 'ISENTO' WHEN 'ISENTA' THEN 'ISENTO' ELSE EN.IM_EMPRESA END, 25), 'ISENTO') insMun_DGC, -- (Opcional) - String(016) - Inscrição municipal do cliente
                    ISNULL(LEFT(EN.CGC_EMPRESA, 14), '') cgcCpf_DGC, -- (Obrigatório) - Number(014) - Número do CNPJ ou CPF do cliente
                    '' zonFra_DGC, -- (?) (Opcional) - Number(001) - Indicativo de qual é o benefício fiscal do cliente - Lista: 1 = Zona Franca de Manaus, 2 = Zona Franca, 3 = Área de livre comércio, 4 = Amazônia Ocidental
                    '' codSuf_DGC, -- (?) (Opcional) - String(010) - Número do cliente junto a Suframa
                    ISNULL(LEFT(EN.END_EMPRESA, 100), '') endCli_DGC, -- (Obrigatório) - String(100) - Endereço do cliente.
                    ISNULL(LEFT(EN.END_NUMERO, 60), '') nenCli_DGC, -- (Opcional) - String(060) - Número do Endereço do Cliente
                    ISNULL(LEFT(EN.END_COMPL, 20), '') cplEnd_DGC, -- (Opcional) - String(020) - Complemento do endereço do cliente (sala, andar, etc.)
                    '' cliPrx_DGC, -- (Opcional) - String(120) - Ponto de referência ou proximidade do cliente
                    '' zipCod_DGC, -- (Opcional) - String(014) - Código da cidade do cliente externo - ZIP CODE
                    ISNULL(CONVERT(INT, REPLACE(REPLACE(EN.END_CEP,'-',''),' ','')), '') cepCli_DGC, -- (Opcional) - Number(008) - CEP do cliente
                    ISNULL(CONVERT(INT, REPLACE(REPLACE(LEFT(EN.END_CEP,5),'-',''),' ','')), '') cepIni_DGC, -- (Opcional) - Number(008) - Faixa inicial do CEP da cidade do cliente
                    ISNULL(LEFT(EN.END_BAIRRO, 75), '') baiCli_DGC, -- (Opcional) - String(075) - Bairro do cliente
                    ISNULL(LEFT(EN.END_CIDADE, 60), '') cidCli_DGC, -- (Opcional) - String(060) - Cidade do cliente
                    ISNULL(LEFT(EN.END_UF, 2), '') sigUfs_DGC, -- (Obrigatório) - String(002) - Sigla do estado do cliente
                    ISNULL(LEFT(EN.CD_PAIS_IMPORTADOR, 4), '') codPai_DGC, -- (Opcional) - String(004) - Código do país do cliente
                    ISNULL(LEFT(EN.NR_TELEFONE, 20), '') fonCli_DGC, -- (Opcional) - String(020) - Número do telefone - 1
                    '' fonCl2_DGC, -- (Opcional) - String(020) - Número do telefone - 2
                    '' fonCl3_DGC, -- (Opcional) - String(020) - Número do telefone - 3
                    '' fonCl4_DGC, -- (Opcional) - String(020) - Número do telefone - 4
                    '' fonCl5_DGC, -- (Opcional) - String(020) - Número do telefone - 5
                    ISNULL(LEFT(EN.NR_FAX, 20), '') faxCli_DGC, -- (Opcional) - String(020) - Número do FAX do cliente
                    '' cxaPst_DGC, -- (Opcional) - Number(006) - Número da caixa postal do cliente
                    '' intNet_DGC, -- (Opcional) - String(100) - Endereço eletrônico (E-Mail)
                    CASE EN.IN_ATIVO WHEN '1' THEN 'A' ELSE 'I' END sitCli_DGC, -- (Obrigatório) - String(001) - Situação do cliente - Lista: A = Ativo, I = Inativo
                    '' obsMot_DGC, -- (Opcional) - String(250) - Observação do motivo da situação do cliente
                    '' triIcm_DGC, -- (?) (Opcional) - String(001) - Indicativo se o cliente tem tributação de ICMS ou não - Lista: S = Sim, N = Não
                    '' triIpi_DGC, -- (?) (Opcional) - String(001) - Indicativo se o cliente tem tributação de IPI ou não - Lista: S = Sim, N = Não
                    EN.CD_EMPRESA ideCli_DGC, -- (Opcional) - String(020) - Código para identificação do cliente
                    '' triPis_DGC, -- (?) (Opcional) - String(001) - Indicativo se o cliente tem tributação de PIS ou não - Lista: S = Sim, N = Não
                    '' triCof_DGC, -- (?) (Opcional) - String(001) - Indicativo se o cliente tem tributação de COFINS ou não - Lista: S = Sim, N = Não
                    CASE CH.IN_TP_RETENCAO_COFINS WHEN '0' THEN 'N' ELSE 'S' END  retCof_DGC, -- (?) (Opcional) - String(001) - Indicativo se as notas fiscais poderão ter retenção de Cofins - Lista: S = Sim, N = Não
                    '' retCsl_DGC, -- (?) (Opcional) - String(001) - Indicativo se as notas fiscais poderão ter retenção de CSLL - Lista: S = Sim, N = Não
                    CASE CH.IN_TP_RETENCAO_COFINS WHEN '0' THEN 'N' ELSE 'S' END retPis_DGC, -- (?) (Opcional) - String(001) - Indicativo se as notas fiscais poderão ter retenção de PIS - Lista: S = Sim, N = Não
                    '' retOur_DGC, -- (?) (Opcional) - String(001) - Indicativo se as notas fiscais poderão ter Outras Retenções - Lista: S = Sim, N = Não
                    '' retPro_DGC, -- (?) (Opcional) - String(001) - Indicativo se o cliente controla retenções de PIS, Cofins, CSLL, IRRF, e Outras Retenções por produto - Lista: S = Sim, N = Não
                    '' retIrf_DGC, -- (?) (Opcional) - String(001) - Indicativo se as notas fiscais poderão ter retenção de IRRF - Lista: S = Sim, N = Não
                    '' calFun_DGC, -- (?) (Opcional) - String(001) - Indicativo se calcula Funrural nas notas fiscais de saídas. - Lista: S = Sim, N = Não
                    '' emaNfe_DGC, -- (?) (Opcional) - String(100) - Endereço eletrônico (E-mail) para envio de arquivos de notas fiscais eletrônicas.
                        --DEFINIÇÕES DO CLIENTE
                        '' codEmp_DC, -- (?) (Obrigatório) - Number(004) - Código da empresa
                        '' codFil_DC, -- (?) (Obrigatório) - Number(004) - Código da filial
                        '' datLim_DC, -- (?) (Opcional) - Date - Data da última atualização do limite de crédito do cliente
                        '' vlrLim_DC, -- (?) (Opcional) - Number(015,2) - Valor do limite de crédito do cliente
                        '' limApr_DC, -- (?) (Opcional) - String(001) - Indicativo se o limite de crédito do cliente esta ou não aprovado - Lista: S = Sim, N = Não
                        '' perDs1_DC, -- (?) (Opcional) - Number(005,2) - Percentual de desconto - 1 para o cliente
                        '' perDs2_DC, -- (?) (Opcional) - Number(005,2) - Percentual de desconto - 2 para o cliente
                        '' perDs3_DC, -- (?) (Opcional) - Number(005,2) - Percentual de desconto - 3 para o cliente
                        '' perDs4_DC, -- (?) (Opcional) - Number(005,2) - Percentual de desconto - 4 para o cliente
                        '' perDs5_DC, -- (?) (Opcional) - Number(005,2) - Percentual de desconto - 5 para o cliente
                        '' codRep_DC, -- (?) (Obrigatório) - Number(004) - Código do representante padrão para o cliente. Somente permitido representantes com a situação ativa.
                        '' codTpr_DC, -- (?) (Opcional) - String(004) - Código da tabela de preço padrão para o cliente
                        '' codCpg_DC, -- (?) (Opcional) - String(006) - Código da condicao de pagamento padrão para o cliente
                        '' codFpg_DC, -- (?) (Opcional) - Number(002) - Código da forma de pagamento
                        '' codTra_DC, -- (? temos mais de uma) (Opcional) - Number(006) - Código da transportadora padrão para o cliente
                        '' codRed_DC, -- (Opcional) - Number(009) - Código da transportadora de redespacho padrão para o cliente
                        '' recJmm_DC, -- (Opcional) - Number(005,2) - Percentual de juros de mora mês para o contas a receber
                        '' recDtj_DC, -- (Opcional) - Number(004) - Dias de tolerância para calculo de juros de mora
                        '' recMul_DC, -- (Opcional) - Number(005,2) - Percentual de multa para atraso contas a receber
                        '' recDtm_DC, -- (Opcional) - Number(004) - Dias de tolerância para multa do contas a receber
                        '' perDsc_DC, -- (Opcional) - Number(004,2) - Percentual padrão de desconto para os títulos gerados
                        '' tolDsc_DC, -- (Opcional) - Number(004) - Quantidade padrão de dias de tolerância para desconto
                        '' perFre_DC, -- (Opcional) - Number(005,2) - Percentual de Frete
                        '' perSeg_DC, -- (Opcional) - Number(005,2) - Percentual de Seguro
                        '' perEmb_DC, -- (Opcional) - Number(005,2) - Percentual de Embalagens
                        '' perEnc_DC, -- (Opcional) - Number(005,2) - Percentual de Encargos
                        '' perOut_DC, -- (Opcional) - Number(005,2) - Percentual de Outras Despesas
                        '' perIss_DC, -- (Opcional) - Number(004,2) - Percentual do ISS para os serviços prestados ao cliente
                        '' cifFob_DC, -- (Opcional) - String(001) - Indicativo se o frete para o cliente e CIF ou FOB. Lista: C= Por conta do cliente, F = Por conta do destinatário, T = Por conta de terceiros, X = Sem frete
                        '' codTab_DC, -- (Opcional) - String(004) - Código da tabela de preço frete
                        '' diaMe1_DC, -- (Opcional) - Number(002) - Primeiro dia especial do mês para vencimento das parcelas do cliente
                        '' diaEsp_DC, -- (Opcional) - String(001) - Indicativo do dia da semana para vencimento parcelas para o cliente. Lista: 1 = Normal - Qualquer dia, 2 = Segunda-Feira, 3 = terça-Feira, 4 = Quarta-Feira, 5 = Quinta-Feira, 6 = Sexta-Feira, 7 = Fora semana antes, 8 = Fora decêndio antes, 9 = Fora quinzena antes, A = Fora mês antes, S = Fora semana depois, D = Fora decêndio depois, Q = Fora quinzena depois, M = Fora mês depois
                        '' diaMe2_DC, -- (Opcional) - Number(002) - Segundo dia especial do mês para vencimento das parcelas do cliente
                        '' diaMe3_DC,-- (Opcional) - Number(002) - Terceiro dia especial do mês para vencimento das parcelas do cliente
                        '' cnpjFilial_DC, -- (Opcional) - CNPJ da Filial - Condição: Obrigatório quando não informado os campos CodEmp e CodFil
                        '' qtdDcv_DC, -- (Opcional) - Number(003) - Quantidade de dias para cálculo de vencimento - Condição: Obrigatório quando o campo "Critério Vencimento" estiver definido como "U" (Só dias úteis) na tela Cadastros > Filiais > Parâmetros por Gestão > Contas a Receber (F070FRE).
                        ISNULL(CONVERT(INT, LEFT(G.CD_CC_CONTAS_RECEBER_REDUZIDA, 7)), '') ctaRed_DC, -- (Opcional) - Number(007) - Conta contábil reduzida
                        '' ctaAux_DC, -- (Opcional) - Number(007) - Número reduzido da conta de composição auxiliar - 1
                        '' ctaAad_DC, -- (Opcional) - Number(007) - Número reduzido da conta de composição auxiliar - 2
                        '' catCli_DC, -- (Opcional) - Number(003) - Categoria do cliente (prioridade para faturamento)
                        '' acePar_DC, -- AcePar - (Opcional) - String(001) - Indicativo se o cliente aceita faturamento parcial de pedidos - Lista: N = Não, S = Sim
                        '' perAqa_DC, -- (Opcional) - Number(005,2) - Percentual acima da quantidade do pedido aceito no faturamento pelo cliente
                        '' codCrp_DC, -- (Opcional) - String(003) - Código de grupo do contas a receber
                        '' codVen_DC, -- (Opcional) - Number(009) - Código do Vendedor do Cliente. Somente permitido vendedores com a situação ativa.
                        '' perCom_DC, -- (Opcional) - Number(005,2) - Percentual de comissão nas vendas para o cliente (+ ou -)
                        '' codRve_DC, -- (Opcional) - String(003) - Código da região de venda do cliente
                        '' recTjr_DC, -- RecTjr - (Opcional) - String(001) - Tipo de juros para contas a receber - Lista: S = Juros Simples, C = Juros Compostos
                        '' prdDsc_DC, -- PrdDsc - (Opcional) - String(001) - Indicativo do período para cálculo do desconto antecipado - Lista: D = Diário, M = Mensal
                        '' antDsc_DC, -- AntDsc - (Opcional) - String(001) - Indicativo se calcula desconto por antecipação de recebimento - Lista: N = Não, S = Sim
                        '' porSi1_DC, -- (Opcional) - String(004) - Código do primeiro portador aceito pelo cliente
                        '' porSi2_DC, -- (Opcional) - String(004) - Código do segundo portador aceito pelo cliente
                        '' codCrt_DC, -- (Opcional) - String(002) - Código da carteira padrão para o cliente
                        '' porNa1_DC, -- (Opcional) - String(004) - Código do primeiro portador não aceito pelo cliente
                        '' porNa2_DC, -- (Opcional) - String(004) - Código do segundo portador não aceito pelo cliente
                        '' codIn1_DC, -- (Opcional) - String(003) - Código da primeira instrução bancária
                        '' codIn2_DC, -- (Opcional) - String(003) - Código da segunda instrução bancária
                        LEFT(ISNULL(CB.CD_BANCO_IMP_CLIENTE, ''), 3) codBan_DC, -- (Opcional) - String(003) - Código do banco onde o cliente mantém conta corrente
                        '' codAge_DC, -- (Opcional) - String(007) - Código da agência bancária onde o cliente mantém conta corrente
                        '' ccbCli_DC, -- (Opcional) - String(014) - Número da conta corrente bancária do cliente
                        '' perOf1_DC, -- (Opcional) - Number(005,2) - Percentual de oferta 1 para o cliente
                        '' perOf2_DC, -- (Opcional) - Number(005,2) - Percentual de oferta 2 para o cliente
                        '' datPmr_DC, -- (Opcional) - Date - Data de ínicio de contagem para cálculo do prazo médio de recebimento dos títulos
                        '' criEdv_DC, -- CriEdv - (Opcional) - String(001) - Critério para escolha do dia de vencimento das parcelas e títulos - Lista: A = Dias Corridos - Antecipa, S = Dias Corridos - Mantém, N = Dias Corridos - Posterga, U = Só Dias Úteis
                        '' codFrj_DC, -- (Opcional) - String(003) - Código da fórmula de reajuste do título a receber
                        ISNULL(CONVERT(INT, LEFT(G.CD_CC_DESPACHOS_ANDAMENTO_REDUZIDA, 7)), '') ctaRcr_DC, -- (?) (Opcional) - Number(007) - Conta contábil reduzida - 2
                        ISNULL(CONVERT(INT, LEFT(G.CD_CC_DESPACHOS_FATURAR_REDUZIDA, 7)), '') ctaFdv_DC, -- (?) (Opcional) - Number(007) - Conta contábil reduzida - 3
                        '' ctaFcr_DC, -- (Opcional) - Number(007) - Conta contábil reduzida - 4
                        'N' exiLcp_DC, -- (Obrigatório) - String(001) - Indicativo se o cliente exige ligação de cliente X produto/derivação - Lista: N = Não, S = Sim
                        '' fveTns_DC, -- (Opcional) - String(010) - Hierarquia da Forma de Venda. Só é assumido se na tela Cadastros > Filiais > Parâmetros por Gestão > Vendas e Faturamento, aba Vendas 2 o campo "Utiliza Forma de Venda" estiver definido como "S".
                        '' fveFpg_DC, -- (Opcional) - String(010) - Hierarquia da Forma de Venda. Só é assumido se na tela Cadastros > Filiais > Parâmetros por Gestão > Vendas e Faturamento, aba Vendas 2 o campo "Utiliza Forma de Venda" estiver definido como "S".
                        '' fveCpg_DC, -- (Opcional) - String(010) - Hierarquia da Forma de Venda. Só é assumido se na tela Cadastros > Filiais > Parâmetros por Gestão > Vendas e Faturamento, aba Vendas 2 o campo "Utiliza Forma de Venda" estiver definido como "S".
                        '' codMar_DC, -- (Opcional) - String(010) - Código da Marca/Etiqueta padrão do cliente
                        '' gerTcc_DC, -- (Opcional) - String(001) - Indicativo se, no momento do faturamento de um contrato, gera título para o cliente do contrato, e não do faturamento - Lista: N = Não, S = Sim
                        '' ctrPad_DC, -- (Opcional) - Number(009) - Número do contrato padrão
                        '' ecpCnp_DC, -- (Opcional) - String(001) - Exige código do produto do cliente no pedido - Lista: N = Não, S = Sim
                        '' exiAge_DC, -- (Opcional) - String(001) - Indicativo se o cliente exige o agendamento da entrega - Lista: N = Não, S = Sim
                        '' codFcr_DC, -- (Opcional) - String(003) - Código da moeda ou índice como fator de correção dos contratos
                        '' seqCob_DC, -- (Opcional) - Number(005) - Sequência do endereço de cobrança padrão do cliente
                        '' seqEnt_DC, -- (Opcional) - Number(005) - Sequência do endereço de entrega padrão do cliente
                        '' indOrf_DC, -- (Opcional) - String(001) - Indica se o cliente obriga o recebimento do recibo para cobrança via fatura automática - Lista: N = Não, S = Sim
                        '' codTic_DC, -- (Opcional) - String(003) - Código do ICMS especial
                        '' codTrd_DC, -- (Opcional) - String(003) - Código de redução de impostos
                        '' perCcr_DC, -- (Opcional) - String(001) - Origem do percentual de comissão - Lista: R = Representante, C = Cliente
                        '' dscPrd_DC, -- (Opcional) - String(001) - Desconsidera percentual de perda do componente utilizado para industrialização - Lista: N = Não, S = Sim
                        '' avaVlr_DC, -- (Opcional) - Number(015,2) - Valor total para avalizar
                        '' avaVlu_DC, -- (Opcional) - Number(015,2) - Valor avalizado no atual momento
                        '' avaVls_DC, -- (Opcional) - Number(015,2) - Valor disponível para avalizar
                        '' avaAti_DC, -- (Opcional) - String(001) - Determina se o cliente pode ser usado como avalista - Lista: N = Não, S = Sim
                        '' avaMot_DC, -- (Opcional) - Number(006) - Código do motivo usado para justificar porque o avalista está inativo
                        '' avaObs_DC, -- (Opcional) - String(250) - Observação do motivo da inativação do avalista
                        '' qtdChs_DC, -- (Opcional) - Number(004) - Quantidade de cheques sem fundo do cliente
                        '' qtdPrt_DC, -- (Opcional) - Number(004) - Quantidade de protestos do cliente
                        '' vlrPrt_DC, -- (Opcional) - Number(015,2) - Valor total de protestos do cliente
                        '' acrDia_DC, -- (Opcional) - Number(005) - Percentual de acréscimo na diária paga ao motorista
                        '' vlrAcr_DC, -- (Opcional) - Number(015,2) - Valor de acréscimo na diária paga ao motorista

                        --ENDEREÇOS DE ENTREGA
                        '' seqEnt_EE, -- (Obrigatório) - Number(004) - Sequencia de enderecos de entrega
                        '' nomCli_EE, -- (Opcional) - String(100) - Nome do cliente de entrega
                        '' endEnt_EE, -- (Obrigatório) - String(100) - Endereço de entrega do cliente
                        '' cplEnt_EE, -- (Opcional) - String(020) - Complemento do endereço de entrega do cliente
                        '' prxEnt_EE, -- (Opcional) - String(120) - Ponto de referencia ou proximidade do endereço de entrega
                        '' cepEnt_EE, -- (Opcional) - Number(008) - CEP do endereço de entrega do cliente
                        '' iniEnt_EE, -- (Opcional) - Number(008) - Faixa inicial do CEP do endereço de entrega do cliente
                        '' cidEnt_EE, -- (Opcional) - String(060) - Cidade do endereço de entrega do cliente
                        '' estEnt_EE, -- (Opcional) - String(002) - estádo do endereço de entrega do cliente
                        '' insEnt_EE, -- (Opcional) - String(025) - Inscricao estádual do endereço de entrega
                        '' baiEnt_EE, -- (Opcional) - String(075) - Bairro de entrega do cliente
                        '' cgcEnt_EE, -- (Opcional) - Number(014) - Numero do CNPJ/CPF de entrega
                        '' sitReg_EE, -- (Opcional) - String(001) - Situação do registro. - Lista : A = Ativo, I = Inativo
                        '' nenEnt_EE, -- (Opcional) - String(060) - Numero do Endereço de Entrega do Cliente

                        --CLIENTE PESSOA FISICA
                        '' estCiv_CPF, -- (Opcional) - Number(001) - Estado civil do cliente - Lista: 1 = Solteiro, 2 = Casado, 3 = Desquitado, 4 = Divorciado, 5 = Viúvo, 6 = Concubinado, 7 = Separado Judicialmente, 9 = Outros
                        '' codSex_CPF, -- (Opcional) - String(003) - Código do sexo
                        '' datNas_CPF, -- (Opcional) - Date - Data do nascimento do cliente
                        '' cidNat_CPF, -- (Opcional) - String(060) - Nome da cidade de naturalidade
                        '' numRge_CPF, -- (Opcional) - String(013) - Número do RG (Identidade)
                        '' orgRge_CPF, -- (Opcional) - String(005) - Órgão emissor do RG
                        '' datRge_CPF, -- (Opcional) - Date - Data de emissão do RG
                        '' nomPai_CPF, -- (Opcional) - String(030) - Nome do pai do cliente
                        '' nomMae_CPF, -- (Opcional) - String(030) - Nome da mãe do cliente
                        '' refCm1_CPF, -- (Opcional) - String(060) - Referência comercial - 1

                    EN.CD_EMPRESA ideExt_DGC, -- (Opcional) - String(030) - Identificação externa do cliente. Este código é util quando este serviço é utilizado para incluir vários clientes numa única requisição. O código fornecido neste elemento é devolvido na mensagem de retorno, caso o registro não possa ser incluído ou atualizado. Com isso, é possível relacionar os dados enviados na requisição com a mensagem de retorno

                        --CADASTRO CEP
                        '' cepIni_CC, -- (Obrigatório) - Number(008) - CEP Inicial
                        '' cepFim_CC, -- (Obrigatório) - Number(008) - CEP final
                        '' codRai_CC, -- (Opcional) - Number(007) - Código da cidade para o RAIS
                        '' nomCid_CC, -- (Obrigatório) - String(060) - Nome da cidade
                        '' baiCid_CC, -- (Opcional) - String(075) - Bairro
                        '' endCid_CC, -- (Opcional) - String(100) - Endereço referente ao CEP (quando faixa de apenas um CEP)
                        '' cepPol_CC, -- (Opcional) - Number(008) - CEP da Cidade Polo

                    '' codFor_DGC, -- (Opcional) - Number(009) - Código do cliente no cadastro de fornecedores. Utilizar somente quando for desejado vincular o cliente a um fornecedor específico ou remover o vínculo do cliente com o fornecedor, preenchendo o campo com o valor 0
                    '' codGre_DGC, -- (Opcional) - Number(004) - Código do grupo de empresas
                    '' datSuf_DGC, -- (Opcional) - Date - Data de validade do registro do SUFRAMA
                    '' eenCli_DGC, -- (Opcional) - String(018) - Código do endereço do cliente
                    '' eenEnt_DGC, -- (Opcional) - String(018) - Código do endereço de entrega do cliente
                    '' endEnt_DGC, -- (Opcional) - String(100) - Endereço de entrega do cliente
                    '' nenEnt_DGC, -- (Opcional) - String(060) - Número do endereço de entrega do cliente
                    '' cplEnt_DGC, -- (Opcional) - String(200) - Complemento do endereço de entrega do cliente
                    '' cepEnt_DGC, -- (Opcional) - Number(008) - CEP do endereço de entrega do cliente
                    '' baiEnt_DGC, -- (Opcional) - String(075) - Bairro de Entrega do cliente
                    '' cidEnt_DGC, -- (Opcional) - String(060) - Cidade do endereço de entrega do cliente
                    '' estEnt_DGC, -- (Opcional) - String(002) - Estado do endereço de entrega do cliente
                    '' insEnt_DGC, -- (Opcional) - String(025) - Inscrição estadual do endereço de entrega
                    '' cgcEnt_DGC, -- (Opcional) - Number(014) - Número do CNPJ de Entrega
                    '' eenCob_DGC, -- (Opcional) - String(018) - Código do endereço de cobrança do cliente
                    ISNULL(LEFT(EN.END_NUMERO, 60), '') nenCob_DGC, -- (Opcional) - String(060) - Número do endereço de cobrança do cliente
                    ISNULL(LEFT(EN.END_EMPRESA, 100), '') endCob_DGC, -- (Opcional) - String(100) - Endereço de cobrança do cliente
                    ISNULL(LEFT(EN.END_COMPL, 200), '')  cplCob_DGC, -- (Opcional) - String(200) - Complemento do endereço de cobrança do cliente
                    ISNULL(LEFT(EN.END_CEP, 8), '') cepCob_DGC, -- (Opcional) - Number(008) - CEP do endereço de cobrança do cliente
                    ISNULL(LEFT(EN.END_BAIRRO, 75), '') baiCob_DGC, -- (Opcional) - String(075) - Bairro de Cobrança do cliente
                    ISNULL(LEFT(EN.END_CIDADE, 60), '') cidCob_DGC, -- (Opcional) - String(060) - Cidade do endereço de cobrança do cliente
                    ISNULL(LEFT(EN.END_UF, 2), '') estCob_DGC, -- (Opcional) - String(002) - Estado do endereço de cobrança do cliente
                    ISNULL(LEFT(EN.CGC_EMPRESA, 14), '') cgcCob_DGC, -- (Opcional) - Number(014) - Número do CNPJ de cobrança
                    '' cepFre_DGC, -- (Opcional) - Number(008) - Faixa inicial do CEP para cálculo do frete no pedido
                    'C' entCor_DGC, -- (Opcional) - String(001) - Indicativo do endereço de entrega de correspondências - Lista: N = Endereço Normal, E = Endereço de Entrega, C = Endereço de Cobrança
                    'C' cliFor_DGC, -- (Opcional) - String(001) - Indicativo se o registro representa um cliente ou um fornecedor ou ambos - Lista: C = Cliente, F = Fornecedor, A = Cliente/Fornecedor
                    '' cliRep_DGC, -- (Opcional) - Number(009) - Código do cliente como representante
                    '' cliTra_DGC, -- (Opcional) - Number(009) - Código do cliente como transportadora
                    '' marCli_DGC, -- (Opcional) - String(020) - Marca do cliente
                    '' codMot_DGC, -- (Opcional) - Number(006) - Código do motivo da situação do cliente
                    '' codCnv_DGC, -- (Opcional) - Number(004) - Código do convênio
                    '' perAin_DGC, -- (Opcional) - Number(004) - Percentual adicional do INSS
                    2 tipAce_DGC, -- (Obrigatório) - Number(001) - Tipo de acerto(arredondamento) do cliente - Lista: 1 = Arredonda, 2 = Trunca
                    '' insAnp_DGC, -- (Opcional) - Number(007) - Código da instalação conforme cadastro da ANP
                    '' indCoo_DGC, -- IndCoo - (Opcional) - String(001) - Indicativo se cliente/fornecedor é cooperado. - Lista: N = Não, S = Sim
                    '' codRtr_DGC, -- CodRtr - (Opcional) - Number(001) - Código do Regime Tributário - Lista: S = Simples Nacional, 2 = Simples Nacional - excesso de sublimite de receita bruta, 3 = Regime Normal
                    '' regEst_DGC, -- RegEst - (Opcional) - Number(001) - Regime Especial de Tributação (Meramente Informativo para NF-e) - Lista: 1 = Microempresa municipal, 2 = Estimativa, 3 = Sociedade de profissionais, 4 = Cooperativa, 5 = Microempresário Individual (MEI), 6 = Microempresário e Empresa de Pequeno Porte (ME EPP)
                    '' natRet_DGC, -- NatRet - (Opcional) - Number(002) - Indicador de natureza da retenção na fonte de PIS e Cofins - Lista: 01 = Retenção por órgãos, autarquias e fundações federais, 02 = Retenção por outras entidades da administração pública federal, 03 = Retenção por pessoas jurídicas de direito privado, 04 = Recolhimento por sociedade cooperativa, 05 = Retenção por fabricante de máquinas e veículos, 99 = Outras retenções
                    '' natPis_DGC, -- Opcional - Number(005) - Natureza da receita do PIS
                    '' natCof_DGC, -- Opcional - Number(005) - Natureza da receita do COFINS
                    '' codRam_DGC, -- Opcional - String(005) - Código do ramo de atividade
                    '' codRoe_DGC, -- Opcional - String(003) - Código da Rota ou Localidade do Cliente
                    '' seqRoe_DGC, -- Opcional - Number(004) - Sequência da rota ou localidade
                    '' codSro_DGC, -- Opcional - String(003) - Código da Sub Rota
                    'S' limRet_DGC, -- (Opcional) - String(001) - Indicativo de como é utilizado o valor limite para cálculos de retenção para o cliente nas notas fiscais de saída - Lista: P = Produto, E = Serviço, S = Ambos, N = Não Utiliza
                    '' numIdf_DGC, -- (Opcional) - String(040) - Número de identificação fiscal
                    '' tipEmc_DGC, -- (Opcional) - Number(001) - Tipo Empresa do cliente para geração de título de COFINS

                    '' dataBuild, -- Mantido por compatibilidade.
                    '' sigInt, -- (Opcional) - String(15) - Sigla do Sistema de Integração
                    '' idtReq -- (Opcional) - String(20) - Identificação da Requisição
    FROM BROKER.DBO.TEMPRESA_NAC EN
      INNER JOIN BROKER.DBO.TGRUPO G ON G.CD_GRUPO = EN.CD_GRUPO
      INNER JOIN BROKER.DBO.TCLIENTE_HABILITACAO CH ON CH.CD_CLIENTE = EN.CD_EMPRESA
      LEFT JOIN BROKER.DBO.TCLIENTE_BANCO CB ON CB.CD_CLIENTE = EN.CD_EMPRESA

GO
