USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGESTAO_PO_NEC_LI](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_REFERENCIA] [char](30) NOT NULL,
	[NR_ITEM_CLIENTE] [char](3) NOT NULL,
	[CD_MERCADORIA] [char](15) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[IN_NECESSIDADE_LI] [char](1) NULL CONSTRAINT [DF_TGESTAO_PO_NEC_LI_IN_NECESSIDADE_LI]  DEFAULT (0),
 CONSTRAINT [PK_TGESTAO_PO_NEC_LI] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_REFERENCIA] ASC,
	[NR_ITEM_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
