USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNALADINCCA_EXP](
	[CODIGO] [char](7) NOT NULL,
	[DESCRICAO] [varchar](120) NOT NULL,
	[NR_SEQ] [int] NULL,
 CONSTRAINT [PK_TNALADINCCA_EXP] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC,
	[DESCRICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
