USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTEMP_ICMS_SUL](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_RECEITA] [char](3) NULL,
	[DT_REF_INICIAL] [datetime] NULL,
	[DT_REF_FINAL] [datetime] NULL,
	[VL_DESPESAS] [float] NULL,
	[NM_OBSERVACAO] [varchar](50) NULL,
 CONSTRAINT [PK_TTEMP_ICMS_SUL] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
