USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRUPO_PORTO](
	[CD_GRUPO_PORTO] [char](4) NOT NULL,
	[NM_GRUPO_PORTO] [varchar](50) NULL,
 CONSTRAINT [PK_TGRUPO_PORTO] PRIMARY KEY CLUSTERED 
(
	[CD_GRUPO_PORTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
