USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [VW_DT_EMB_DESEMB] AS
SELECT P.NR_PROCESSO, P.CD_SERVICO, F.DT_REALIZACAO
FROM TPROCESSO P (NOLOCK),
     TFOLLOWUP F (NOLOCK)
WHERE P.NR_PROCESSO = F.NR_PROCESSO AND
      CD_EVENTO = ( SELECT CASE P.CD_PRODUTO
                             WHEN '01' THEN CD_EV_DESEMB
                             WHEN '02' THEN CD_EV_EMBARQUE
                             ELSE '000'
                           END
                           FROM TPARAMETROS (NOLOCK) ) AND
      IN_APLICAVEL = '1'



GO
