USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  View dbo.VW_ARM_PER    Script Date: 02/09/1999 09:03:11 AM ******/
CREATE VIEW [VW_ARM_PER] AS
SELECT CD_ARMAZEM, NM_ARMAZEM, NM_SIGLA, CD_SETOR, CD_RECINTO, CD_URF, CD_UNID_NEG, IN_ATRACACAO, IN_DESCARGA, IN_ESTOCAGEM, CD_MARGEM, TP_TAXA, CD_TAXA, IN_ATIVO, NM_SIGLA_CONT, NM_LOCAL_DESP, CD_UF, 
       (SELECT NR_PERIODO
        FROM TTAXA_CODESP (NOLOCK)
        WHERE A.TP_TAXA = '1') NR_PERIODO_CODESP,
       (SELECT NR_PERIODO_ARM
        FROM TTAXA_TRA (NOLOCK)
        WHERE A.TP_TAXA = '2' AND
              A.CD_TAXA = CD_TAXA_TRA) NR_PERIODO_TRA
FROM TARMAZEM A (NOLOCK)



GO
