USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_FRETE](
	[CD_MOEDA] [char](3) NOT NULL,
	[DT_INICIO] [datetime] NOT NULL,
	[DT_FIM] [datetime] NULL,
	[VL_TAXA] [float] NULL,
	[VL_TAXA_UTIL] [float] NULL,
	[VL_COMPRA] [float] NULL
) ON [PRIMARY]

GO
