USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TACERTO](
	[CD_COLIGADA] [char](2) NOT NULL,
	[CD_CT_ACERTO] [char](3) NOT NULL,
	[NR_ACERTO] [char](3) NOT NULL,
	[DT_ACERTO] [datetime] NOT NULL,
	[NM_ACERTO] [varchar](180) NULL,
	[VL_ACERTO] [float] NULL,
	[TP_NATUREZA] [char](1) NULL,
	[IN_BAIXADO] [char](1) NULL,
	[CD_UNID_NEG] [char](2) NULL,
 CONSTRAINT [PK_TACERTO_2__83] PRIMARY KEY CLUSTERED 
(
	[CD_COLIGADA] ASC,
	[CD_CT_ACERTO] ASC,
	[NR_ACERTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TACERTO] ADD  CONSTRAINT [DF_TACERTO_VL_ACERTO_3__24]  DEFAULT (0) FOR [VL_ACERTO]
GO
ALTER TABLE [TACERTO] ADD  CONSTRAINT [DF_TACERTO_IN_BAIXADO_2__24]  DEFAULT ('0') FOR [IN_BAIXADO]
GO
