USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMAIL_CLIENTE](
	[CD_EMAIL_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NM_EMAIL_CLIENTE] [varchar](50) NULL,
	[NM_EMAIL] [varchar](70) NULL
) ON [PRIMARY]

GO
