USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DESP_ARM](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_DI] [char](10) NOT NULL,
	[NM_URGENCIA] [char](3) NOT NULL,
	[NM_ARMAZEM] [char](50) NOT NULL,
 CONSTRAINT [PK_TREL_DESP_ARM] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
