USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABILIZACAO_CONTMASTER](
	[NR_CONTAB] [char](4) NOT NULL,
	[DT_CONTAB] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[TP_CONTAB] [char](1) NULL,
	[DT_MOVIMENTO] [datetime] NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[CD_CT_CTAAPAGAR] [char](10) NULL,
	[CD_CT_INSS] [char](8) NULL,
 CONSTRAINT [PK_TCONTABILIZACAO_CONTMASTER] PRIMARY KEY NONCLUSTERED 
(
	[NR_CONTAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
