USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE VIEW [VW_LI_UM] AS
  SELECT NR_PROCESSO, NR_OPER_TRAT_PREV
  FROM   TADICAO_DE_IMPORTACAO ( NOLOCK )
  WHERE  NR_ADICAO = '001'



GO
