USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_ITEM_POR_TON](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[VL_NUM] [float] NOT NULL CONSTRAINT [DF_TCLIENTE_I_VL_NUM_3__13]  DEFAULT (0),
	[VL_DEN] [float] NOT NULL CONSTRAINT [DF_TCLIENTE_I_VL_DEN_2__13]  DEFAULT (1),
	[CD_MOEDA] [char](3) NOT NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TCLIENTE_I_IN_ATIVO_1__79]  DEFAULT ('1'),
 CONSTRAINT [PK_TCLIENTE_ITEM_POR_TON] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
