USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMERCADORIA_EXP](
	[CD_MERCADORIA] [char](40) NOT NULL,
	[NM_MERCADORIA] [text] NULL,
	[AP_MERCADORIA] [char](40) NOT NULL,
	[VL_UNITARIO] [float] NULL,
	[CD_UN_MED_COMERC] [char](3) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[CD_SULF_NCM] [char](2) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_NALADI_NCCA] [char](7) NULL,
	[PL_MERCADORIA] [float] NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_GRUPO] [char](3) NULL,
	[CD_FABR_EXPO] [char](1) NULL,
	[CD_TIPO_CALCULO] [char](1) NULL,
	[CD_MATERIAL] [varchar](15) NULL,
	[IN_NECESSITA_LI] [bit] NOT NULL CONSTRAINT [DF_TMERCADORIA_EXP_IN_NECESSITA_LI]  DEFAULT ((0)),
	[CD_FAMILIA_PROD] [char](8) NULL,
	[CD_MOEDA] [char](3) NULL,
	[CD_EMBALAGEM] [char](4) NULL,
	[QT_POR_EMBALAGEM] [float] NULL,
	[CD_CATEGORIA_TEXTIL] [char](4) NULL,
	[CD_FINALIDADE_MERC] [char](3) NULL,
	[CD_UF_PRODUTOR] [char](2) NULL,
	[TX_DESC_INGLES] [text] NULL,
	[TX_DESC_ESP] [text] NULL,
	[PB_MERCADORIA] [float] NULL,
	[NR_LINHA] [char](10) NULL,
	[CD_COR] [char](10) NULL,
	[CD_AREA] [char](2) NULL,
	[IN_DRAWBACK_INDAIA] [char](1) NULL,
	[CD_USUARIO_CRIACAO] [char](4) NULL,
	[DT_CRIACAO] [datetime] NULL,
	[CD_USUARIO_ULT_ALTERACAO] [char](4) NULL,
	[DT_ULT_ALTERACAO] [datetime] NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF__TMERCADOR__IN_AT__6BE29FAD]  DEFAULT ('1'),
	[CD_IMPORTACAO] [varchar](20) NULL,
	[CD_DECLARACAO_PREFERENCIAL] [varchar](10) NULL,
	[IN_IMPORTADO] [char](1) NULL DEFAULT ('0'),
	[NM_PROCEDENCIA_ING] [varchar](max) NULL,
	[NM_PROCEDENCIA_ESP] [varchar](max) NULL,
 CONSTRAINT [PK_TMERCADORIA_EXP] PRIMARY KEY CLUSTERED 
(
	[CD_MERCADORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TMERCADORIA_EXP] ON [TMERCADORIA_EXP]
(
	[CD_MERCADORIA] ASC,
	[AP_MERCADORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
