USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDEPARA_CLIENTE](
	[CD_CLIENTE_GSM] [char](5) NOT NULL,
	[CD_CLIENTE_RISC] [char](7) NOT NULL,
 CONSTRAINT [PK_TDEPARA_CLIENTE_1__10] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE_GSM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
