USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARM_TABELA](
	[CD_ARMAZEM] [char](4) NOT NULL,
	[CD_TABELA] [char](3) NOT NULL,
	[NM_TABELA] [char](50) NULL,
	[IN_PADRAO] [char](1) NULL,
	[IN_SABDOM] [char](1) NULL,
	[IN_FERIADO] [char](1) NULL,
	[IN_ATIVO] [char](1) NULL,
	[DT_VIGENCIA_INI] [datetime] NULL,
	[DT_VIGENCIA_FIM] [datetime] NULL,
	[TP_CNTR] [char](2) NULL,
	[VL_MINIMO] [float] NULL
) ON [PRIMARY]

GO
