USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SERVICO_EVENTO_GERAL] AS  
    SELECT CD_SERVICO, CD_EVENTO, NR_ORDEM, CD_EV_BASICO, PZ_DO_EV_BASICO, CD_EV_FUTURO, PZ_ATE_EV_FUTURO, CD_TIPO_EVENTO IN_DASHBOARD, IN_PRAZO_UTIL, IN_PRAZO_FERIADO, CD_TIPO_EVENTO
    FROM TSERVICO_EVENTO  
    UNION ALL  
    SELECT CONVERT(VARCHAR, CD_SERVICO) AS CD_SERVICO, CD_EVENTO, NR_ORDEM, CD_EV_BASICO, PZ_DO_EV_BASICO, CD_EV_FUTURO, PZ_ATE_EV_FUTURO, CD_TIPO_EVENTO IN_DASHBOARD, IN_PRAZO_UTIL, IN_PRAZO_FERIADO, CD_TIPO_EVENTO
    FROM TSERVICO_EVENTO_NOVO
GO
