USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_SERVICO_GERAL] AS
    SELECT CD_SERVICO, NM_SERVICO, CD_CLASSIFICACAO, CD_VIA_TRANSPORTE, IN_ATIVO, NR_DIAS_CONCLUSAO, CD_EVENTO_CONCLUSOR,
           IN_FOLLOWUP, IN_ADM_TEMP, IN_INDENT, CD_EV_INI, CD_EV_FIM, CD_GRUPO, TP_CTRL_VENCTO, IN_CHECK, TP_SERVICO, CD_CT_CUSTO_1, CD_CT_CUSTO_2,
           CD_CT_CUSTO_3, CD_CT_CUSTO_4, CD_CT_CUSTO_5, CD_CT_CUSTO_6, CD_CT_CUSTO_7, CD_CT_CUSTO_8, CD_CT_CUSTO_9, CD_CT_CUSTO_10, CD_CT_CUSTO_11, IN_ALADI,
           IN_FUMIGACAO, NR_CAD_CONFIG_STATUS, IN_SUBSTITUI, IN_LI, 0 AS IN_NOVO_SERVICO
    FROM TSERVICO (NOLOCK)
    UNION ALL
    SELECT CONVERT(VARCHAR, CD_SERVICO) AS CD_SERVICO, NM_SERVICO, CD_CLASSIFICACAO, CD_VIA_TRANSPORTE, IN_ATIVO, NR_DIAS_CONCLUSAO, CD_EVENTO_CONCLUSOR,
           IN_FOLLOWUP, IN_ADM_TEMP, IN_INDENT, CD_EV_INI, CD_EV_FIM, CD_GRUPO, TP_CTRL_VENCTO, IN_CHECK, TP_SERVICO, CD_CT_CUSTO_1, CD_CT_CUSTO_2,
           CD_CT_CUSTO_3, CD_CT_CUSTO_4, CD_CT_CUSTO_5, CD_CT_CUSTO_6, CD_CT_CUSTO_7, CD_CT_CUSTO_8, CD_CT_CUSTO_9, CD_CT_CUSTO_10, CD_CT_CUSTO_11, IN_ALADI,
           IN_FUMIGACAO, NR_CAD_CONFIG_STATUS, IN_SUBSTITUI, IN_LI, 1 AS IN_NOVO_SERVICO
    FROM TSERVICO_NOVO (NOLOCK)
GO
