USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVALORACAO_NCM](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[CD_NIVEL_NVE] [char](3) NOT NULL,
	[CD_ATRIBUTO_NCM] [char](2) NOT NULL,
	[CD_ESPECIF_NCM] [char](4) NOT NULL,
 CONSTRAINT [PK_TVALORACAO_NCM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[CD_NIVEL_NVE] ASC,
	[CD_ATRIBUTO_NCM] ASC,
	[CD_ESPECIF_NCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]

GO
