USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RB_JOIN](
	[TABLE_NAME1] [varchar](60) NOT NULL,
	[TABLE_NAME2] [varchar](60) NOT NULL,
	[JOIN_TYPE] [varchar](60) NULL,
	[FIELD_NAMES1] [varchar](255) NULL,
	[OPERATORS] [varchar](60) NULL,
	[FIELD_NAMES2] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME1] ASC,
	[TABLE_NAME2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE NONCLUSTERED INDEX [RB_TABLE1_TABLE2_IDX] ON [RB_JOIN]
(
	[TABLE_NAME1] ASC,
	[TABLE_NAME2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
