USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TITENS_PARAMETRO](
	[CD_TIPO] [char](3) NOT NULL,
	[CD_PARAMETRO] [char](3) NOT NULL,
	[CD_BANCO] [char](3) NOT NULL,
	[NM_PARAMETRO] [varchar](50) NULL,
 CONSTRAINT [PK_TITENS_PARAMETRO] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO] ASC,
	[CD_PARAMETRO] ASC,
	[CD_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TITENS_PARAMETRO]  WITH NOCHECK ADD  CONSTRAINT [FK_TITENS_PARAMETRO_TBANCO] FOREIGN KEY([CD_BANCO])
REFERENCES [TBANCO] ([CD_BANCO])
NOT FOR REPLICATION 
GO
ALTER TABLE [TITENS_PARAMETRO] NOCHECK CONSTRAINT [FK_TITENS_PARAMETRO_TBANCO]
GO
