USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNATUREZA_OPERACAO_BASF](
	[CD_NATUREZA_OP] [char](6) NOT NULL,
	[NM_NATUREZA_OP] [char](30) NOT NULL,
 CONSTRAINT [PK_TNATUREZA_OPERACAO] PRIMARY KEY CLUSTERED 
(
	[CD_NATUREZA_OP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
