USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [VW_CALCULO_PROFIT] AS
select NR_PROPOSTA, CD_ITEM, IN_PROFIT, CD_MOEDA, AP_MOEDA
, isnull(sum(VL_VENDA_TOTAL),0)        total_VENDA_GERAL
, isnull(sum(VL_COMPRA_TOTAL),0) total_COMPRA_GERAL
, case in_profit 
     when '1' then isnull((sum(VL_VENDA_TOTAL)-sum(VL_COMPRA_TOTAL) ),0) * ( convert(float,100-PROFIT_AGENTE)/100 ) 
     else 
     isnull(sum(VL_VENDA_TOTAL)-sum(VL_COMPRA_TOTAL),0)
  end total_indaia
  
, isnull(sum(VL_VENDA_TOTAL)-sum(VL_COMPRA_TOTAL),0)  total_geral


  from

(
SELECT PFD.NR_PROPOSTA, PFD.CD_ITEM, PFD.IN_PROFIT, PFD.CD_MOEDA,
       CASE PFD.CD_MOEDA
         WHEN '220' THEN 'USD'
         WHEN '790' THEN 'BRL'
         ELSE (SELECT M.AP_MOEDA FROM TMOEDA_BROKER M (NOLOCK) WHERE M.CD_MOEDA = PFD.CD_MOEDA)
       END AS AP_MOEDA, 
       PFD.VL_VENDA,  VL_VENDA_TOTAL  ,VL_BASE_AG VL_COMPRA,  VL_COMPRA_TOTAL, 
       case when pf.CD_AGENTE IS NULL  then 0 else
       ISNULL(A.DS_PROFIT,50) end PROFIT_AGENTE  


FROM TPROPOSTA_FRETE_DESPESA PFD (NOLOCK)
join TPROPOSTA_FRETE PF on PF.NR_PROPOSTA=pfd.NR_PROPOSTA
LEFT JOIN TAGENTE A  ON  A.CD_AGENTE  =PF.CD_AGENTE

union


select  PF.NR_PROPOSTA,'000' cd_item ,'1' in_profit, PF.CD_MOEDA,
       CASE PF.CD_MOEDA
          WHEN '220' THEN 'USD'
          WHEN '790' THEN 'BRL'
          ELSE (SELECT M.AP_MOEDA FROM TMOEDA_BROKER M (NOLOCK) WHERE M.CD_MOEDA = PF.CD_MOEDA)
       END AS AP_MOEDA,       
       
       case i.tp_estufagem 
          WHEN '1' THEN PM.VL_VENDA 
          ELSE i.VL_VENDA_UNIT_LCL
       end VL_CALCULADO,       
       
       case i.tp_estufagem 
         when '1' then (PM.QTD_VOLUMES * PM.VL_VENDA)
         else (i.VL_VENDA_UNIT_LCL * ( case i.IN_FIXO when '1' then 1 else i.VL_CHARGEABLE end ) )
       end,

       case i.tp_estufagem 
         when '1' then  PM.VL_CUSTO
         else i.VL_CUSTO_UNIT_LCL
       end VL_CALCULADO_COMPRA,

       case i.tp_estufagem 
         when '1' then (PM.QTD_VOLUMES * PM.VL_CUSTO)
         else  (i.VL_CUSTO_UNIT_LCL * ( case i.IN_FIXO when '1' then 1 else i.VL_CHARGEABLE end ) )
       end,
       case when pf.CD_AGENTE IS NULL  then 0 else
       ISNULL(A.DS_PROFIT,50) end PROFIT_AGENTE  


       FROM  TPROPOSTA_FRETE PF
       JOIN TPROPOSTA_MERCADORIA PM ON PF.NR_PROPOSTA=PM.NR_PROPOSTA
       JOIN TPROPOSTA_ITEM i        ON PF.NR_PROPOSTA= i.NR_PROPOSTA
       LEFT JOIN TAGENTE A          ON  A.CD_AGENTE  =PF.CD_AGENTE

) view_geral


--where nr_proposta='100/10RI'


GROUP BY nr_proposta, cd_item, in_profit, cd_moeda, ap_moeda, PROFIT_AGENTE





GO
