USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PAIS] [int] NOT NULL,
	[NOME] [varchar](60) NULL,
	[SIGLA] [varchar](5) NULL,
	[COD_IBGE] [int] NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [ESTADO]  WITH CHECK ADD  CONSTRAINT [FK_ESTADO_PAIS] FOREIGN KEY([ID_PAIS])
REFERENCES [PAIS] ([ID])
GO
ALTER TABLE [ESTADO] CHECK CONSTRAINT [FK_ESTADO_PAIS]
GO
