USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREPARA_RE_ANEXO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ANEXO] [char](3) NOT NULL,
	[CD_NCM] [char](11) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_UNID_MEDIDA] [char](2) NULL,
	[CD_FABR_EXPO] [char](1) NULL,
	[QT_MERCADORIA] [float] NULL,
	[VL_UNITARIO] [float] NULL,
	[VL_PESO_LIQ] [float] NULL,
	[VL_ITEM] [float] NULL,
	[IN_MAIOR_50] [char](1) NULL,
	[TX_MERCADORIA] [text] NULL,
	[NR_LINHAS] [int] NULL,
	[VL_PESO_BRUTO] [float] NULL,
	[VL_MLE] [float] NULL,
	[VL_MCV] [float] NULL,
	[VL_FRETE] [float] NULL,
	[VL_SEGURO] [float] NULL,
	[CD_MERCADORIA] [char](20) NULL,
	[VL_SEM_COBERTURA_CAMBIAL] [float] NULL CONSTRAINT [DF__TPREPARA___VL_SE__4271B1BC]  DEFAULT (0)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TPREPARA_RE_ANEXO] ON [TPREPARA_RE_ANEXO]
(
	[NR_PROCESSO] ASC,
	[NR_ANEXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
