USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_RENT_PROC_ITEM](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_COLUNA] [char](1) NOT NULL,
	[VL_ITEM] [float] NULL,
 CONSTRAINT [PK_TREL_RENT_PROC_ITEM] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC,
	[CD_COLUNA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_RENT_PROC_ITEM] ADD  CONSTRAINT [DF_TREL_RENT_PROC_ITEM_VL_ITEM]  DEFAULT (0) FOR [VL_ITEM]
GO
