USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFILA_AGENDA](
	[CD_AGENDA] [int] NOT NULL,
	[EDI] [char](1) NULL,
	[NM_PATH_EDI] [char](100) NULL,
	[ATIVO] [char](1) NULL,
	[MINUTOS] [int] NULL,
	[HORAS] [char](200) NULL,
	[PROXIMA_EXEC] [char](8) NULL,
	[METODO_AGEND] [char](1) NULL,
	[ULTIMA_EXEC] [char](8) NULL,
	[DT_ULTIMA_EXEC] [datetime] NULL,
 CONSTRAINT [PK_TFILA_AGENDA] PRIMARY KEY CLUSTERED 
(
	[CD_AGENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
