USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRUPO_MERCADORIA](
	[CD_MERCADORIA] [varchar](30) NULL,
	[CD_GRUPO] [char](3) NULL,
	[DIVISAO] [char](2) NULL
) ON [PRIMARY]

GO
