USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSALDO_FLX_CX](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_MOVIMENTO] [datetime] NOT NULL,
	[VL_ENTRADAS] [float] NULL,
	[VL_SAIDAS] [float] NULL,
	[VL_SALDO] [float] NULL
) ON [PRIMARY]

GO
