USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTIPO_ITEM](
	[CD_TIPO_ITEM] [char](1) NOT NULL,
	[NM_TIPO_ITEM] [char](30) NOT NULL,
	[TP_NATUREZA] [char](1) NULL,
	[IN_FATURAR] [char](1) NULL CONSTRAINT [DF_TTIPO_ITEM_IN_FATURAR_1__20]  DEFAULT ('0'),
	[IN_RESTITUI] [char](1) NULL CONSTRAINT [DF_TTIPO_ITEM_IN_RESTITUI2__20]  DEFAULT ('0'),
	[CD_CONTABILIZACAO] [char](2) NULL,
	[TP_OPERACAO] [char](1) NULL,
	[IN_SOLIC_NUM] [char](1) NULL CONSTRAINT [DF_TTIPO_ITEM_IN_SOLIC_NU1__46]  DEFAULT ('0'),
	[IN_RECEB_NUM] [char](1) NULL CONSTRAINT [DF_TTIPO_ITEM_IN_RECEB_NU2__46]  DEFAULT ('0'),
	[IN_SOLIC_CHQ] [char](1) NULL CONSTRAINT [DF_TTIPO_ITEM_IN_SOLIC_CH3__46]  DEFAULT ('0'),
	[IN_FINANCEIRO] [char](1) NULL CONSTRAINT [DF_TTIPO_ITEM_IN_FINANCEI4__46]  DEFAULT ('0'),
	[IN_FAT_CC] [char](1) NULL CONSTRAINT [DF_TTIPO_ITEM_IN_FAT_CC_1__127]  DEFAULT ('0'),
	[IN_FAT_SOLIC] [char](1) NULL CONSTRAINT [DF_TTIPO_ITEM_IN_FAT_SOLI1__78]  DEFAULT ('0'),
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TTIPO_ITEM_IN_ATIVO_1__22]  DEFAULT ('0'),
 CONSTRAINT [PK_TTIPO_ITEM] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
