USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPAGTO_PREVISTO_CAMBIO_DI](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [char](2) NOT NULL,
	[DT_PREV_PGTO_360] [char](6) NULL,
	[VL_PREV_PGTO_360] [float] NULL,
 CONSTRAINT [PK_TPAGTO_PREVISTO_CAMBIO_DI] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
