USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRE_ANEXO_DRAWBACK](
	[NR_PROCESSO] [char](18) NULL,
	[NR_PROCESSO_COMPLEMENTO] [char](3) NULL,
	[CD_RE_ANEXO] [int] NULL,
	[CNPJ] [char](14) NULL,
	[NCM] [char](10) NULL,
	[NR_ATO_CONCESSORIO] [char](11) NOT NULL,
	[NR_ITEM_ATO_CONCESSORIO] [int] NULL,
	[VL_MOEDA_RE_COM_COBERTURA] [float] NULL,
	[VL_MOEDA_RE_SEM_COBERTURA] [float] NULL,
	[VL_DOLAR_RE_COM_COBERTURA] [float] NULL,
	[VL_DOLAR_RE_SEM_COBERTURA] [float] NULL,
	[QT_MERCADORIA] [float] NULL,
	[NR_NF] [int] NULL,
	[DT_NF] [datetime] NULL,
	[QTD_NF] [float] NULL,
	[VL_NF] [float] NULL
) ON [PRIMARY]

GO
