USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLAUDO_TECNICO_IMP](
	[CD_MERCADORIA] [char](15) NOT NULL,
	[NR_LAUDO] [char](5) NOT NULL,
	[CD_MAT_PRI] [char](15) NOT NULL,
	[NR_DI] [char](10) NULL,
	[NR_ADICAO] [char](3) NULL,
	[NR_ITEM] [char](3) NULL,
	[DT_REGISTRO_DI] [char](8) NULL,
	[DT_DESEMBARACO] [char](8) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[DESCRICAO] [varchar](4000) NULL,
	[PL_MERCADORIA] [float] NULL,
	[PL_MERCADORIA_ORIGINAL] [float] NULL,
	[QT_MERCADORIA] [float] NULL,
	[QT_MERCADORIA_ORIGINAL] [float] NULL,
	[CD_UN_MEDIDA] [char](3) NULL,
	[VL_MLE_ITEM] [float] NULL,
	[VL_MLE_ITEM_ORIGINAL] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_MLE_MNEG] [float] NULL,
	[VL_FRETE_MNEG] [float] NULL,
	[VL_SEGURO_MNEG] [float] NULL,
	[VL_TAXA_X] [float] NULL,
	[VL_TAXA_DOLAR] [float] NULL
) ON [PRIMARY]

GO
