USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_REQUERIMENTO](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_REQUERIMENTO] [char](10) NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[NR_LI] [char](10) NULL,
	[DT_EMISSAO_LI] [datetime] NULL,
	[QT_FISICA_LI] [float] NULL,
	[QT_ACUMULADA] [float] NULL,
	[DT_DESPACHO] [datetime] NULL,
	[IN_DEFERIDO] [char](1) NULL,
	[IN_INDEFERIDO] [char](1) NULL,
	[DT_REQUERIMENTO] [datetime] NULL
) ON [PRIMARY]

GO
