USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_LIQUIDACAO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO_LIQ] [char](18) NOT NULL,
	[NR_LIQUIDACAO] [char](6) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[DT_LIQUIDACAO] [datetime] NULL,
	[CD_FORMA_PAGTO] [char](1) NULL,
	[CD_BANCO] [char](3) NULL,
	[TP_LIQUIDACAO] [char](1) NULL,
	[VL_LIQUIDACAO] [float] NOT NULL CONSTRAINT [DF_TREL_LIQUIDACAO_VL_LIQUIDACAO]  DEFAULT (0),
	[IN_CANCELADO] [char](1) NOT NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
 CONSTRAINT [PK_TREL_LIQUIDACAO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO_LIQ] ASC,
	[NR_LIQUIDACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
