USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREGIME_TRIB](
	[CD_REGIME_TRIB] [char](1) NOT NULL,
	[NM_REGIME_TRIB] [char](20) NOT NULL,
 CONSTRAINT [PK_TREGIME_TRIB] PRIMARY KEY CLUSTERED 
(
	[CD_REGIME_TRIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
