USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCOND_VENDA_ENT](
	[CD_COND_VENDA_ENT] [char](1) NOT NULL,
	[NM_COND_VENDA_ENT] [varchar](50) NULL,
 CONSTRAINT [PK_TCOND_VENDA_ENT] PRIMARY KEY CLUSTERED 
(
	[CD_COND_VENDA_ENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
