USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDOCUMENTO_INSTRUCAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[CD_TIPO_DCTO_INSTR] [char](2) NOT NULL,
	[NR_DCTO_INSTRUCAO] [char](25) NULL,
	[DT_FATURA] [datetime] NULL,
	[CD_COND_VENDA_ENT] [char](1) NULL,
	[NR_DIAS] [int] NULL,
	[DT_VENCTO_FATURA] [datetime] NULL,
	[DT_VENCTO_EADI] [datetime] NULL,
	[DT_VENCTO_NAC] [datetime] NULL,
	[IN_AVISO_EADI] [char](2) NULL DEFAULT ('0'),
	[IN_ABERTURA_PROC] [char](1) NULL DEFAULT ('0'),
 CONSTRAINT [PK_TDOCUMENTO_INSTRUCAO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TDOCUMENTO_INSTRUCAO_5_1985806532__K4_K3] ON [TDOCUMENTO_INSTRUCAO]
(
	[NR_DCTO_INSTRUCAO] ASC,
	[CD_TIPO_DCTO_INSTR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TDOCUMENTO_INSTRUCAO_7_1985806532__K3_K4_K1] ON [TDOCUMENTO_INSTRUCAO]
(
	[CD_TIPO_DCTO_INSTR] ASC,
	[NR_DCTO_INSTRUCAO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TDOCUMENTO_INSTRUCAO_7_1985806532__K3_K4_K1_2_5_6_7_8_9_10_11_12] ON [TDOCUMENTO_INSTRUCAO]
(
	[CD_TIPO_DCTO_INSTR] ASC,
	[NR_DCTO_INSTRUCAO] ASC,
	[NR_PROCESSO] ASC
)
INCLUDE ( 	[NR_SEQUENCIA],
	[DT_FATURA],
	[CD_COND_VENDA_ENT],
	[NR_DIAS],
	[DT_VENCTO_FATURA],
	[DT_VENCTO_EADI],
	[DT_VENCTO_NAC],
	[IN_AVISO_EADI],
	[IN_ABERTURA_PROC]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
