USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CLIENTE_ARM](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ARMAZEM] [char](4) NULL,
	[CD_SERVICO] [char](3) NULL,
	[VL_DESPESA] [float] NULL,
	[QT_LEAD_TIME] [int] NULL,
	[TOTAL_1] [int] NULL,
	[TOTAL_2] [int] NULL,
	[TOTAL_3] [int] NULL,
	[TOTAL_4] [int] NULL,
	[TOTAL_5] [int] NULL,
	[DT_ENTRADA] [datetime] NULL,
	[DT_EV_CONCLUSOR] [datetime] NULL,
 CONSTRAINT [PK_TREL_CLIENTE_ARM] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
