USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPRODUTO](
	[CD_PRODUTO] [char](2) NOT NULL,
	[NM_PRODUTO] [char](40) NOT NULL,
	[AP_PRODUTO] [char](10) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
	[CD_VIATRANSP] [char](1) NULL,
	[CD_CT_GERENCIAL] [char](4) NULL,
	[TP_FAT_SEM_RECEITA] [char](1) NULL,
	[TP_PRODUTO] [char](2) NULL,
 CONSTRAINT [PK_TPRODUTO] PRIMARY KEY CLUSTERED 
(
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
