USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPAIS](
	[CODIGO] [char](3) NULL,
	[DESCRICAO] [char](120) NULL,
	[IN_INSP_PRE_EMBARQUE] [char](1) NULL,
	[NR_TRANSIT_TIME] [int] NULL,
	[CD_IDIOMA_PADRAO] [char](1) NULL CONSTRAINT [DF_TPAIS_CD_IDIOMA_PADRAO]  DEFAULT ((1)),
	[IN_MERCOSUL] [char](1) NULL DEFAULT ('0'),
	[COD_BACEN] [varchar](5) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE CLUSTERED INDEX [PrimaryKey] ON [TPAIS]
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
