USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFATORES_SERVICOS](
	[CD_FATOR] [int] NOT NULL,
	[CD_SERVICO] [int] NOT NULL,
 CONSTRAINT [PK_TFATORES_SERVICOS] PRIMARY KEY NONCLUSTERED 
(
	[CD_FATOR] ASC,
	[CD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TFATORES_SERVICOS]  WITH CHECK ADD  CONSTRAINT [TFATORES_SERVICOS_TFATORES] FOREIGN KEY([CD_FATOR])
REFERENCES [TFATORES] ([CD_FATOR])
GO
ALTER TABLE [TFATORES_SERVICOS] CHECK CONSTRAINT [TFATORES_SERVICOS_TFATORES]
GO
ALTER TABLE [TFATORES_SERVICOS]  WITH CHECK ADD  CONSTRAINT [TFATORES_SERVICOS_TSERVICO_NOVO] FOREIGN KEY([CD_SERVICO])
REFERENCES [TSERVICO_NOVO] ([CD_SERVICO])
GO
ALTER TABLE [TFATORES_SERVICOS] CHECK CONSTRAINT [TFATORES_SERVICOS_TSERVICO_NOVO]
GO
