USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TB_MODULO](
	[CD_MODULO] [int] NOT NULL,
	[CD_SISTEMA] [int] NOT NULL,
	[NM_MODULO] [varchar](50) NOT NULL,
 CONSTRAINT [PK34] PRIMARY KEY NONCLUSTERED 
(
	[CD_MODULO] ASC,
	[CD_SISTEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
