USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_STATUS_NUMER](
	[CD_STATUS] [char](1) NOT NULL,
	[NM_STATUS] [varchar](20) NULL,
 CONSTRAINT [PK_TTP_STATUS_NUMER] PRIMARY KEY CLUSTERED 
(
	[CD_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
