USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMUNICIPIO](
	[CD_UF] [char](2) NOT NULL,
	[CD_MUNICIPIO] [char](7) NOT NULL,
	[NM_MUNICIPIO] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_UF] ASC,
	[CD_MUNICIPIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
