USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCTAAPAGAR_LANC_PROCESSO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_CTAAPAGAR] [datetime] NOT NULL,
	[NR_CTAAPAGAR] [char](3) NOT NULL,
	[CD_CT_CONTABIL] [char](10) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LANC_SOLIC_PAGTO] [char](3) NOT NULL,
	[CD_ITEM_SOLIC_PAGTO] [char](3) NOT NULL,
	[NR_LANC_FAT_CC] [char](3) NULL,
	[VL_ITEM] [float] NULL,
	[CD_STATUS_SOLIC_PAGTO] [char](2) NULL,
 CONSTRAINT [PK_TCTAAPAGAR_LANC_PROCESSO] PRIMARY KEY NONCLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[DT_CTAAPAGAR] ASC,
	[NR_CTAAPAGAR] ASC,
	[CD_CT_CONTABIL] ASC,
	[NR_PROCESSO] ASC,
	[NR_LANC_SOLIC_PAGTO] ASC,
	[CD_ITEM_SOLIC_PAGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
