USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTRANSP_ROD_CONTATO](
	[CD_TRANSP_ROD] [char](4) NOT NULL,
	[CD_GRUPO] [char](3) NOT NULL,
	[CD_EMPRESA] [char](5) NOT NULL CONSTRAINT [DF_TTRANSP_ROD_CONTATO_CD_EMPRESA]  DEFAULT (''),
	[CD_VIA_TRANSP] [char](2) NOT NULL,
	[NM_EMAIL] [varchar](3000) NULL
) ON [PRIMARY]

GO
