USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRANK_RECEITA_SR](
	[nr_identificador] [int] NOT NULL,
	[cd_unidade] [char](2) NOT NULL,
	[cd_item] [char](3) NOT NULL,
	[vl_periodo_anterior] [float] NOT NULL,
	[media_anterior] [float] NOT NULL,
	[vl_periodo_atual] [float] NOT NULL,
	[media_atual] [float] NOT NULL,
	[variacao_total] [float] NOT NULL,
	[variacao_media] [float] NOT NULL,
 CONSTRAINT [PK_TRANK_RECEITA_SR] PRIMARY KEY CLUSTERED 
(
	[nr_identificador] ASC,
	[cd_unidade] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
