USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDESTINO](
	[CD_DESTINO] [char](4) NOT NULL,
	[NM_DESTINO] [char](50) NOT NULL,
	[AP_DESTINO] [char](10) NOT NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TDESTINO_IN_ATIVO]  DEFAULT ('0'),
 CONSTRAINT [PK_TDESTINO] PRIMARY KEY NONCLUSTERED 
(
	[CD_DESTINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
