USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [THIST_PADRAO](
	[CD_HISTORICO] [char](3) NOT NULL,
	[NM_HISTORICO] [char](50) NOT NULL,
	[TX_HISTORICO] [text] NULL,
 CONSTRAINT [PK_THIST_PADRAO] PRIMARY KEY CLUSTERED 
(
	[CD_HISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
