USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATO_CONC_ADITIVO_RESUM](
	[NR_IDENTIFICADOR] [int] IDENTITY(1,1) NOT NULL,
	[NR_ATO_CONCESSORIO] [char](13) NULL,
	[NR_FORECAST] [char](14) NULL,
	[NR_ITEM] [char](3) NULL,
	[CD_PRODUTO] [char](20) NULL,
	[CD_CAMPO] [char](2) NULL,
	[VL_NOVO] [char](10) NULL,
	[VL_ANTERIOR] [char](10) NULL,
	[CD_TIPO_ITEM] [char](2) NULL,
	[DT_ALTERACAO] [datetime] NULL,
 CONSTRAINT [PK__TATO_CONC_ADITIV__6335E90E] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
