USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EST_VOLUMES](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NM_VOLUME] [varchar](100) NOT NULL,
	[CD_AGENTE] [char](4) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_LOCAL_ORIGEM] [char](4) NULL,
	[CD_EMP_EST] [char](5) NULL,
	[TP_FRETE] [char](1) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[VL_QTDE] [float] NULL,
	[VL_FRETE_MNEG] [float] NULL,
	[VL_FRETE_MN] [float] NULL,
	[VL_PESO_BRUTO] [float] NULL,
	[VL_M3] [float] NULL,
	[VL_AFRMM] [float] NULL,
	[VL_LIB_BL] [float] NULL,
	[VL_TX_DESC] [float] NULL,
	[VL_HANDLING] [float] NULL,
	[VL_CAPATAZIA] [float] NULL,
	[VL_THC_TERMINAL] [float] NULL,
	[VL_MOV_CARREGAMENTO] [float] NULL,
	[VL_ARMAZENAGEM] [float] NULL,
	[TX_MERCADORIA] [text] NULL,
	[VL_CIF_DOLAR] [float] NULL,
	[VL_CIF_MN] [float] NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[CD_TRANSPORTADOR] [char](4) NULL,
	[CD_ARMAZEM_DESCARGA] [char](4) NULL,
	[CD_ARMAZEM_ATRACACAO] [char](4) NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_ENVIO_NF_TRANSP] [datetime] NULL,
	[VL_MLE_MN] [float] NULL,
	[VL_MLE_MNEG] [float] NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
 CONSTRAINT [PK_TREL_EST_VOLUMES] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC,
	[NM_VOLUME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_QTDE]  DEFAULT (0) FOR [VL_QTDE]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_FRETE_MNEG]  DEFAULT (0) FOR [VL_FRETE_MNEG]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_FRETE_MN]  DEFAULT (0) FOR [VL_FRETE_MN]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_PESO_BRUTO]  DEFAULT (0) FOR [VL_PESO_BRUTO]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_M3]  DEFAULT (0) FOR [VL_M3]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_AFRMM]  DEFAULT (0) FOR [VL_AFRMM]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_LIB_BL]  DEFAULT (0) FOR [VL_LIB_BL]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_TX_DESC]  DEFAULT (0) FOR [VL_TX_DESC]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_HANDLING]  DEFAULT (0) FOR [VL_HANDLING]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_CAPATAZIA]  DEFAULT (0) FOR [VL_CAPATAZIA]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_THC_TERMINAL]  DEFAULT (0) FOR [VL_THC_TERMINAL]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_MOV_CARREGAMENTO]  DEFAULT (0) FOR [VL_MOV_CARREGAMENTO]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF_TREL_EST_VOLUMES_VL_ARMAZENAGEM]  DEFAULT (0) FOR [VL_ARMAZENAGEM]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF__TREL_EST___VL_ML__3049AB37]  DEFAULT (0) FOR [VL_MLE_MN]
GO
ALTER TABLE [TREL_EST_VOLUMES] ADD  CONSTRAINT [DF__TREL_EST___VL_ML__313DCF70]  DEFAULT (0) FOR [VL_MLE_MNEG]
GO
