USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATO_CONC_ADITIVO_IMP](
	[NR_ATO_CONCESSORIO] [char](13) NOT NULL,
	[NR_FORECAST] [char](14) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_MAT_PRI] [char](15) NOT NULL,
	[CD_MERCADORIA] [char](15) NOT NULL,
	[NR_LAUDO] [char](5) NULL,
	[CD_MOEDA] [char](3) NULL,
	[QT_IMPORT] [float] NULL,
	[VL_FOB_UNIT] [float] NULL,
	[VL_SEGURO] [float] NULL,
	[VL_FRETE_UNIT] [float] NULL,
 CONSTRAINT [PK_TATO_CONC_ADITIVO_IMP] PRIMARY KEY CLUSTERED 
(
	[NR_ATO_CONCESSORIO] ASC,
	[NR_FORECAST] ASC,
	[NR_ITEM] ASC,
	[CD_MAT_PRI] ASC,
	[CD_MERCADORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
