USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPRE_CALCULO_CAPA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_MOEDA_FOB] [char](3) NULL,
	[VL_FOB_MOEDA] [float] NULL,
	[TX_FOB] [float] NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[VL_FRETE_MOEDA] [float] NULL,
	[TX_FRETE] [float] NULL,
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[VL_SEGURO_MOEDA] [float] NULL,
	[TX_SEGURO] [float] NULL,
	[VL_CIF_DOLAR] [float] NULL,
	[TX_DOLAR] [float] NULL,
	[VL_ACRESCIMOS_REAIS] [float] NULL,
	[VL_DEDUCOES_REAIS] [float] NULL,
	[VL_MLE_MOEDA] [float] NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[TX_MLE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
