USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAGENDA_COMERC](
	[CD_AGENDA] [int] NOT NULL,
	[CD_VENDEDOR] [char](4) NULL,
	[IN_PERIODO] [char](1) NULL,
	[DT_AGENDA] [smalldatetime] NOT NULL,
	[NR_PROC_COMERC] [char](18) NULL,
	[IN_CANCELADO] [char](1) NULL,
	[OBS_AGENDA] [text] NULL,
	[TP_AGENDA] [char](1) NULL,
	[NM_CONTATO] [char](30) NULL,
	[HR_AGENDA] [datetime] NULL,
	[IN_PARTICULAR] [char](1) NULL,
 CONSTRAINT [PK_TAGENDA_COMERC] PRIMARY KEY NONCLUSTERED 
(
	[CD_AGENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
