USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_PROPRIEDADE](
	[CD_TIPO_PROPRIEDADE] [int] NOT NULL,
	[NM_TIPO_PROPRIEDADE] [varchar](100) NULL,
 CONSTRAINT [PK_TTP_PROPRIEDADE] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_PROPRIEDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
