USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMBF_SELECIONADO](
	[CD_SELECIONADO] [int] NULL,
	[CD_MBF] [int] NULL,
	[CD_USUARIO] [char](4) NULL,
	[MES_SELECIONADO] [int] NULL,
	[ANO_SELECIONADO] [int] NULL,
	[IN_GERADO] [bit] NULL,
	[DT_GERADO] [datetime] NULL,
	[DT_SOLICITADO] [datetime] NULL,
	[IN_URGENTE] [bit] NULL,
	[CD_EVENTO] [char](3) NULL
) ON [PRIMARY]

GO
