USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DOCTO_DIGITALIZADO](
	[CD_TIPO_DOCTO] [int] NOT NULL,
	[NM_TIPO_DOCTO] [varchar](255) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[IN_MULTIPLOS_ARQ] [int] NULL CONSTRAINT [DF__TTP_DOCTO__IN_MU__41232A31]  DEFAULT ((0)),
	[NM_PREFIXO_ARQ] [varchar](4) NULL,
	[IN_ENVIA_WEB] [char](1) NULL CONSTRAINT [DF__TTP_DOCTO__IN_EN__42174E6A]  DEFAULT ('0'),
	[ID_TABELA] [int] NOT NULL,
 CONSTRAINT [PK_TTP_DOCTO_DIGITALIZADO] PRIMARY KEY CLUSTERED 
(
	[ID_TABELA] ASC,
	[CD_TIPO_DOCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
