USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DOCTO_INSTRUTIVO](
	[CD_TIPO_DOCTO] [int] NOT NULL,
	[NM_TIPO_DOCTO] [varchar](120) NULL,
	[CD_DIGITALIZACAO] [int] NULL,
 CONSTRAINT [PK_TTP_DOCTO_INSTRUTIVO] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_DOCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
