USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DESP](
	[NR_REL_DESP] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_BANCO] [char](3) NULL,
	[VL_ITEM] [float] NULL
) ON [PRIMARY]

GO
