USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCIA_SERIE](
	[CODIGO] [char](4) NOT NULL,
	[CD_SERIE] [char](4) NOT NULL,
	[DT_ABERTURA] [datetime] NULL,
	[CONHEC_INICIAL] [char](20) NULL,
	[CONHEC_FINAL] [char](20) NULL,
	[IN_INCLUSAO] [char](1) NULL,
	[IN_IATA] [char](1) NULL,
	[QTDE_CONHEC] [int] NULL,
	[DIG_INICIAL] [char](1) NULL,
	[DIG_FINAL] [char](1) NULL
) ON [PRIMARY]

GO
