USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCELULA](
	[CD_CELULA] [char](2) NOT NULL,
	[NM_CELULA] [varchar](30) NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TCELULA_IN_ATIVO_1__10]  DEFAULT ('1'),
	[CD_ANALISTA] [char](4) NULL,
 CONSTRAINT [PK_TCELULA] PRIMARY KEY CLUSTERED 
(
	[CD_CELULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
