USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [VW_REG_MODIF] AS
SELECT DISTINCT A.CD_CHAVE, T.CD_TABELA
FROM TATZ A (NOLOCK),
     TTABELA T (NOLOCK)
WHERE A.CD_TABELA = T.CD_TABELA AND
      A.DT_MOVIMENTO > ISNULL(T.DT_ATZ, CONVERT(datetime,'01/01/1900', 103))




GO
