USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CONT_AVERB](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_ANALISTA] [char](4) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[NR_DDE] [char](11) NULL,
	[TX_OBS] [text] NULL,
 CONSTRAINT [PK_TREL_CONT_AVERB] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
