USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DTA](
	[CD_TP_DTA] [char](1) NOT NULL,
	[NM_TP_DTA] [char](15) NOT NULL,
 CONSTRAINT [PK_TTP_DTA] PRIMARY KEY CLUSTERED 
(
	[CD_TP_DTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
