USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSD_NF](
	[NR_SD] [char](18) NULL,
	[NR_SEQ_NF] [int] IDENTITY(1,1) NOT NULL,
	[NR_NF_INICIAL] [char](20) NULL,
	[NR_NF_FINAL] [char](20) NULL,
	[NR_SERIE_NF] [char](5) NULL,
	[DT_DATA] [datetime] NULL,
	[CD_USUARIO] [char](4) NULL,
	[NR_ESTABELECIMENTO] [char](2) NULL,
	[NR_CHAVE_ACESSO] [varchar](44) NULL,
	[CGC_EMPRESA_NF] [char](14) NULL,
	[ANO_EMISSAO_NF] [int] NULL,
	[NR_NF] [int] NULL,
	[CD_TP_NF] [int] NULL
) ON [PRIMARY]

GO
