USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [XLS_SGA_MERC_EXP](
	[Material] [nvarchar](255) NULL,
	[MaterialOld] [char](100) NULL,
	[IN_ANTIGO_CADASTRADO] [char](1) NULL
) ON [PRIMARY]

GO
