USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_NF](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_NOTA] [char](10) NOT NULL,
	[DT_NOTA] [datetime] NULL,
	[VL_NOTA] [float] NULL,
	[DT_ENTREGA_FABR] [datetime] NULL,
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_CA__4F2D59B3]  DEFAULT ('0'),
	[CD_CFOP] [char](4) NULL,
	[IN_COMPLEMENTAR] [char](1) NULL,
	[NR_DOCUMENTO] [char](15) NULL,
	[SERIE] [varchar](3) NULL,
 CONSTRAINT [PK_TPROCESSO_NF] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_NOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
