USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PO_EMB_WEB](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[DT_EMBARQUE] [datetime] NOT NULL,
	[TP_REL] [char](1) NULL,
	[QT_MERCADORIA] [float] NULL,
	[DATA_GRAF] [datetime] NULL,
	[AP_MERC_ANO] [varchar](35) NULL,
 CONSTRAINT [PK_TREL_PO_EMB_WEB] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_MERCADORIA] ASC,
	[DT_EMBARQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
