USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREVISAO_ADICAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[CD_NCM_SH] [char](11) NULL,
	[QUANTIDADE] [float] NULL CONSTRAINT [DF_TPREVISAO__QUANTIDAD10__103]  DEFAULT (0),
	[VL_MLE_MNEG_TOT] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_MLE_MN16__103]  DEFAULT (0),
	[VL_MLE_MNEG_UNIT] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_MLE_MN17__103]  DEFAULT (0),
	[PC_ALIQ_II] [float] NULL CONSTRAINT [DF_TPREVISAO__PC_ALIQ_II3__103]  DEFAULT (0),
	[PC_ALIQ_IPI] [float] NULL CONSTRAINT [DF_TPREVISAO__PC_ALIQ_IP4__103]  DEFAULT (0),
	[PC_ALIQ_ICMS] [float] NULL CONSTRAINT [DF_TPREVISAO__PC_ALIQ_IC1__103]  DEFAULT (0),
	[PC_ALIQ_ICMS_RED] [float] NULL CONSTRAINT [DF_TPREVISAO__PC_ALIQ_IC2__103]  DEFAULT (0),
	[VL_II] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_II_14__103]  DEFAULT (0),
	[VL_IPI] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_IPI_15__103]  DEFAULT (0),
	[VL_ICMS] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_ICMS_13__103]  DEFAULT (0),
	[CD_REG_TRIB_II] [char](1) NULL,
	[CD_REG_TRIB_IPI] [char](1) NULL,
	[VL_ALIQ_ESPEC_IPT] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_ALIQ_E11__103]  DEFAULT (0),
	[QT_MERC_UN_ALIQ_ES] [float] NULL CONSTRAINT [DF_TPREVISAO__QT_MERC_UN9__103]  DEFAULT (0),
	[PC_ALIQ_REDUZIDA_II] [float] NULL CONSTRAINT [DF_TPREVISAO__PC_ALIQ_RE5__103]  DEFAULT (0),
	[PC_ALIQ_REDUZIDA_IPI] [float] NULL CONSTRAINT [DF_TPREVISAO__PC_ALIQ_RE6__103]  DEFAULT (0),
	[PC_REDUCAO_IPT_BLI] [float] NULL CONSTRAINT [DF_TPREVISAO__PC_REDUCAO7__103]  DEFAULT (0),
	[IN_IPI_NAO_TRIBUT] [bit] NOT NULL,
	[PL_MERCADORIA] [float] NULL CONSTRAINT [DF_TPREVISAO__PL_MERCADO8__103]  DEFAULT (0),
	[VL_FRETE] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_FRETE_12__103]  DEFAULT (0),
	[VL_SEGURO] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_SEGURO18__103]  DEFAULT (0),
	[VL_MLE] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_MLE_19__103]  DEFAULT (0),
	[VL_BASE_CALC_II] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_BASE_C20__103]  DEFAULT (0),
	[VL_BASE_CALC_IPI] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_BASE_C21__103]  DEFAULT (0),
	[VL_BASE_CALC_ICMS] [float] NULL CONSTRAINT [DF_TPREVISAO__VL_BASE_C22__103]  DEFAULT (0),
	[VL_DESPESAS] [float] NULL CONSTRAINT [DF__TPREVISAO__VL_DE__737FC8C2]  DEFAULT (0),
	[VL_ACRESCIMO] [float] NULL CONSTRAINT [DF__TPREVISAO__VL_AC__03B6308B]  DEFAULT (0),
	[VL_DEDUCAO] [float] NULL CONSTRAINT [DF__TPREVISAO__VL_DE__04AA54C4]  DEFAULT (0),
	[PC_ALIQ_ACORDO] [float] NULL CONSTRAINT [DF__TPREVISAO__PC_AL__096F09E1]  DEFAULT (0),
	[CD_MOEDA_MLE] [char](3) NULL,
	[ALIQ_PIS] [float] NULL,
	[ALIQ_COFINS] [float] NULL,
	[VL_BASE_PIS] [float] NULL,
	[VL_PIS] [float] NULL,
	[VL_COFINS] [float] NULL,
	[PC_REDUCAO_PIS_COFINS] [float] NULL,
	[CD_TRIBUTACAO_ICMS] [char](1) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_FUND_LEGAL_ICMS] [char](3) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_FUND_LEG_REGIME] [char](2) NULL,
	[CD_VINC_IMPO_EXPO] [char](1) NULL,
	[CD_APLICACAO_MERC] [char](1) NULL,
	[CD_INCOTERMS_VENDA] [char](3) NULL,
	[CD_CFOP] [char](4) NULL,
	[CD_TIPO_ACORDO_TAR] [char](1) NULL,
	[CD_TIPO_BENEF_PIS_COFINS] [char](1) NULL,
	[CD_FUND_LEGAL_PISCOFINS] [char](2) NULL,
	[IN_FUNDO_POBREZA] [char](1) NULL,
	[QT_MESES_ADM_TEMP] [int] NULL,
	[VL_PIS_CALCULADO] [float] NULL,
	[VL_COFINS_CALCULADO] [float] NULL,
	[VL_ALIQUOTA_ESPECIFICA_PIS] [float] NULL,
	[VL_ALIQUOTA_ESPECIFICA_COFINS] [float] NULL,
	[QTD_UNID_ESPECIFICA_PIS] [float] NULL,
	[QTD_UNID_ESPECIFICA_COFINS] [float] NULL,
	[CD_UNIDADE_MEDIDA_PIS] [char](3) NULL,
	[CD_UNIDADE_MEDIDA_COFINS] [char](3) NULL,
	[IN_SUSPENDE_II_RETIFIC] [bit] NULL,
	[IN_SUSPENDE_IPI_RETIFIC] [bit] NULL,
	[IN_SUSPENDE_PIS_COFINS_RETIFIC] [bit] NULL,
	[CD_PAIS_FABRICANTE] [varchar](3) NULL,
	[PC_NORMAL_ANTIDUMPING] [float] NULL,
	[VL_BASE_CALC_ANTIDUMPING] [float] NULL,
	[PC_ESPEC_ANTIDUMPING] [float] NULL,
	[NM_UNID_ESPEC_ANTIDUMPING] [varchar](100) NULL,
	[QT_UNID_ESPEC_ANTIDUMPING] [float] NULL,
	[VL_BASE_CALC_ICMS_AFRMM] [float] NULL,
	[VL_ICMS_A_RECOLHER_AFRMM] [float] NULL,
	[VL_ICMS_DEVIDO_AFRMM] [float] NULL,
	[CD_ACORDO_ALADI] [char](3) NULL,
	[ALIQ_PIS_REDUZIDA] [float] NULL,
	[ALIQ_COFINS_REDUZIDA] [float] NULL,
 CONSTRAINT [PK_TPREVISAO_ADICAO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TPREVISAO_ADICAO]  WITH CHECK ADD  CONSTRAINT [FK_TPREVISAO_ADICAO_CFOP] FOREIGN KEY([CD_CFOP])
REFERENCES [TCFOP] ([CD_CFOP])
GO
ALTER TABLE [TPREVISAO_ADICAO] CHECK CONSTRAINT [FK_TPREVISAO_ADICAO_CFOP]
GO
