USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDEPTO](
	[CD_DEPTO] [char](3) NOT NULL,
	[NM_DEPTO] [varchar](30) NULL,
 CONSTRAINT [PK_TDEPTO] PRIMARY KEY NONCLUSTERED 
(
	[CD_DEPTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
