USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_NATUREZA](
	[CD_NATUREZA] [char](1) NOT NULL,
	[NM_NATUREZA] [char](10) NOT NULL,
 CONSTRAINT [PK_TTP_NATUREZA] PRIMARY KEY CLUSTERED 
(
	[CD_NATUREZA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
