USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDA](
	[NR_PROCESSO] [char](18) NOT NULL,
	[TX_MERCADORIA] [text] NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[NR_VIAGEM] [char](4) NULL,
	[CD_ARMAZEM_ATRACACAO] [char](4) NULL,
	[CD_ARMAZEM_DESCARGA] [char](4) NULL,
	[NR_CONHECIMENTO] [varchar](30) NULL,
	[NR_CONHECIMENTO_MASTER] [varchar](30) NULL,
	[DT_CONHECIMENTO] [datetime] NULL,
	[CD_LOCAL_EMBARQUE] [char](4) NULL,
	[CD_LOCAL_DESEMBARQUE] [char](4) NULL,
	[IN_ENTREPOSTO] [char](1) NULL CONSTRAINT [DF_TDA_IN_ENTREPOSTO]  DEFAULT ('1'),
	[CD_AGENTE] [char](4) NULL,
	[CD_TRANSPORTADOR] [char](4) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[VL_MLE_MNEG] [float] NULL CONSTRAINT [DF_TDA_VL_MLE_MNEG]  DEFAULT (0),
	[VL_MLE_DOLAR] [float] NULL CONSTRAINT [DF_TDA_VL_MLE_DOLAR]  DEFAULT (0),
	[IN_EMBUT_FRT_ITENS] [char](1) NULL CONSTRAINT [DF_TDA_IN_EMBUT_FRT_ITENS]  DEFAULT ('0'),
	[TP_FRETE] [char](1) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[VL_FRETE_MNEG] [float] NULL CONSTRAINT [DF_TDA_VL_FRETE_MNEG]  DEFAULT (0),
	[IN_EMBUT_SEG_ITENS] [char](1) NULL CONSTRAINT [DF_TDA_IN_EMBUT_SEG_ITENS]  DEFAULT ('0'),
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[VL_SEGURO_MNEG] [float] NULL CONSTRAINT [DF_TDA_VL_SEGURO_MNEG]  DEFAULT (0),
	[NR_DA] [char](10) NULL,
	[DT_DA] [datetime] NULL,
	[DT_VENCTO_DA] [datetime] NULL,
	[DT_CALCULO] [datetime] NULL,
	[CD_TIPO_BASE_SEGURO] [char](1) NULL CONSTRAINT [DF_TDA_CD_TIPO_BASE_SEGURO]  DEFAULT ('2'),
	[PC_SEGURO_MLE] [float] NULL CONSTRAINT [DF_TDA_PC_SEGURO_MLE]  DEFAULT (0),
	[VL_MLD_MNEG] [float] NULL CONSTRAINT [DF_TDA_VL_MLD_MNEG]  DEFAULT (0),
	[VL_MLD_DOLAR] [float] NULL CONSTRAINT [DF_TDA_VL_MLD_DOLAR]  DEFAULT (0),
	[TX_MLE] [float] NULL CONSTRAINT [DF_TDA_TX_MLE]  DEFAULT (0),
	[TX_FRETE] [float] NULL CONSTRAINT [DF_TDA_TX_FRETE]  DEFAULT (0),
	[TX_SEGURO] [float] NULL CONSTRAINT [DF_TDA_TX_SEGURO]  DEFAULT (0),
	[TX_DOLAR] [float] NULL CONSTRAINT [DF_TDA_TX_DOLAR]  DEFAULT (0),
	[IN_MIGRADO] [char](1) NULL CONSTRAINT [DF__TDA__IN_MIGRADO__5DFA9BF7]  DEFAULT ('0'),
 CONSTRAINT [PK_TDA] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
