USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCHEQUE_BRANCO](
	[CD_BANCO] [char](3) NOT NULL,
	[NR_CHEQUE] [char](6) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[DT_ENTREGA] [datetime] NOT NULL,
	[IN_CANCELADO] [char](1) NOT NULL CONSTRAINT [DF_TCHEQUE_BR_IN_CANC_2__14]  DEFAULT ('0'),
	[IN_TRANSFERIDO] [char](1) NOT NULL CONSTRAINT [DF_TCHEQUE_BR_IN_TRANSFER2__32]  DEFAULT ('0'),
	[IN_BAIXADO] [char](1) NOT NULL CONSTRAINT [DF_TCHEQUE_BR_IN_BAIXADO_1__32]  DEFAULT ('0'),
	[CD_CANCELADOR] [char](4) NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[DT_BAIXA] [datetime] NULL,
	[DT_PAGAMENTO] [datetime] NULL,
 CONSTRAINT [PK___1__14] PRIMARY KEY CLUSTERED 
(
	[CD_BANCO] ASC,
	[NR_CHEQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
