USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFAMILIA_DOCS_BKP](
	[CD_FAMILIA_PROD] [char](8) NOT NULL,
	[CD_PAIS] [char](3) NULL,
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[TP_LOCAL] [char](1) NULL,
	[TX_INSTRUCAO] [text] NULL,
	[CD_USUARIO] [char](4) NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[NR_SEQUENCIAL] [int] NOT NULL,
	[CD_IMPORTADOR] [char](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
