USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FIN_RESUMO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[VL_ANTECIPADO] [float] NULL CONSTRAINT [DF_TREL_FIN_RESUMO_VL_ANTECIPADO]  DEFAULT (0),
	[VL_ITEM] [float] NULL CONSTRAINT [DF_TREL_FIN_RESUMO_VL_ITEM]  DEFAULT (0),
	[VL_CPMF] [float] NULL CONSTRAINT [DF_TREL_FIN_RESUMO_VL_CPMF]  DEFAULT (0),
	[VL_REEMBOLSO] [float] NULL CONSTRAINT [DF_TREL_FIN_RESUMO_VL_REEMBOLSO]  DEFAULT (0),
	[VL_COMISSAO] [float] NULL CONSTRAINT [DF_TREL_FIN_RESUMO_VL_COMISSAO]  DEFAULT (0),
	[NR_FATURA] [char](6) NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
 CONSTRAINT [PK_TREL_FIN_RESUMO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_SOLICITACAO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
