USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FLUXO_CAIXA_GERENCIAL](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_TIPO] [char](1) NOT NULL,
	[CD_PERIODO] [char](2) NOT NULL,
	[CD_CT_CONTABIL] [char](10) NOT NULL,
	[NM_PERIODO] [char](10) NOT NULL,
	[VL_LANCAMENTO] [float] NULL,
	[VL_PER1] [float] NULL,
	[VL_PER2] [float] NULL,
	[VL_PER3] [float] NULL,
	[VL_PER4] [float] NULL,
	[VL_PER5] [float] NULL,
	[VL_PER6] [float] NULL,
	[VL_PER7] [float] NULL,
	[VL_PER8] [float] NULL,
	[VL_PER9] [float] NULL,
	[VL_TOTAL_DESPESAS] [float] NULL,
 CONSTRAINT [PK_TREL_FLUXO_CAIXA_GERENCIAL] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_TIPO] ASC,
	[CD_PERIODO] ASC,
	[CD_CT_CONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_LANCAMENTO]  DEFAULT (0) FOR [VL_LANCAMENTO]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_PER1]  DEFAULT (0) FOR [VL_PER1]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_PER2]  DEFAULT (0) FOR [VL_PER2]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_PER3]  DEFAULT (0) FOR [VL_PER3]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_PER4]  DEFAULT (0) FOR [VL_PER4]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_PER5]  DEFAULT (0) FOR [VL_PER5]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_PER6]  DEFAULT (0) FOR [VL_PER6]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_PER7]  DEFAULT (0) FOR [VL_PER7]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_PER8]  DEFAULT (0) FOR [VL_PER8]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_PER9]  DEFAULT (0) FOR [VL_PER9]
GO
ALTER TABLE [TREL_FLUXO_CAIXA_GERENCIAL] ADD  CONSTRAINT [DF_TREL_FLUXO_CAIXA_GERENCIAL_VL_TOTAL_DESPESAS]  DEFAULT (0) FOR [VL_TOTAL_DESPESAS]
GO
