USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEMBARCACAO](
	[CD_EMBARCACAO] [char](4) NOT NULL,
	[NM_EMBARCACAO] [varchar](40) NOT NULL,
	[IN_RORO] [char](1) NULL,
	[IN_ATIVO] [char](1) NULL,
	[CD_BANDEIRA] [char](3) NULL,
	[IRIN] [char](15) NULL,
 CONSTRAINT [PK_TEMBARCACAO] PRIMARY KEY CLUSTERED 
(
	[CD_EMBARCACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
