USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFILA_REG_EXP](
	[CD_FILA] [int] IDENTITY(1,1) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[DT_FILA] [datetime] NOT NULL CONSTRAINT [DF_TFILA_REG_EXP_DT_FILA]  DEFAULT (getdate()),
	[DT_STATUS] [datetime] NULL,
	[TX_STATUS] [varchar](60) NULL,
	[IN_ATIVO] [char](1) NOT NULL CONSTRAINT [DF_TFILA_REG_EXP_IN_ATIVO]  DEFAULT ((1)),
 CONSTRAINT [PK_TFILA_REG_EXP] PRIMARY KEY CLUSTERED 
(
	[CD_FILA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
