USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_IMO](
	[NR_TIPO_IMO] [int] NOT NULL,
	[TX_TIPO_IMO] [char](20) NOT NULL,
 CONSTRAINT [PK_TTP_IMO] PRIMARY KEY CLUSTERED 
(
	[NR_TIPO_IMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
