USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_ICMS_ADICAO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_ADICAO] [char](3) NULL,
	[CD_NCM] [char](8) NULL,
	[VL_ALIQUOTA] [varchar](15) NULL,
	[VL_ICMS_ADICAO] [float] NULL
) ON [PRIMARY]

GO
