USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAUX_REL_RENT_PROC](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[CD_MERCADORIA] [varchar](50) NULL
) ON [PRIMARY]

GO
