USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TBASF_TEMPORARIA](
	[DI] [char](10) NULL,
	[DT_DESEMBARACO] [varchar](10) NULL,
	[UF] [char](2) NULL,
	[TRANSP] [char](3) NULL
) ON [PRIMARY]

GO
