USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EXP_RE](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_RE] [char](12) NOT NULL,
	[DT_RE] [datetime] NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_IMPORTADOR] [char](5) NOT NULL,
	[CD_AREA] [char](2) NULL,
	[VL_TOT_MCV] [float] NOT NULL,
 CONSTRAINT [PK_TREL_EXP_RE] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[NR_RE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_EXP_RE] ADD  CONSTRAINT [DF_TREL_EXP_RE_VL_TOT_MCV]  DEFAULT (0) FOR [VL_TOT_MCV]
GO
