USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_OBS_ACE39](
	[DESCRICAO] [text] NULL,
	[NR_IDENTIFICADOR] [char](1) NULL,
	[ITEM] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
