USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSISTEMAS](
	[CD_SISTEMA] [int] IDENTITY(1,1) NOT NULL,
	[NM_SISTEMA] [varchar](50) NULL,
	[NM_APLICATIVO] [varchar](1000) NULL,
	[NM_PROCESSO] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_SISTEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
