USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_EXP_FLP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_AREA] [char](2) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NOT NULL,
	[CD_ANALISTA_COMISSARIA] [char](4) NULL,
	[NR_FATURA] [varchar](15) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_TRANSPORTADOR] [char](4) NULL,
	[TX_OBS] [text] NULL,
	[DT_PREV_EMBARQUE] [datetime] NULL,
	[DT_LIBERACAO] [datetime] NULL,
	[DT_INSP_OK] [datetime] NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_EMBARQUE] [datetime] NULL,
	[DT_ENVIO_DOC_CLI] [datetime] NULL,
	[DT_ENVIO_SAQUE_BORDERO] [datetime] NULL,
	[DT_AVERBACAO] [datetime] NULL,
	[NM_CONTATO] [varchar](50) NULL,
	[DT_RET_BL] [datetime] NULL,
	[DT_DD_IMO] [datetime] NULL,
	[DT_DD_DDE] [datetime] NULL,
	[DT_DD_CC] [datetime] NULL,
	[NR_BOOKING] [char](15) NULL,
	[DT_BOOKING] [datetime] NULL,
	[DT_DD_DRAFT] [datetime] NULL,
 CONSTRAINT [PK_TREL_EXP_FLP] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
