USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TALTER_LOG](
	[ID_LOG] [int] IDENTITY(1,1) NOT NULL,
	[NM_USUARIO] [varchar](50) NULL,
	[NM_COMPUTADOR] [varchar](50) NULL,
	[DS_SCRIPT] [text] NULL,
	[DT_OPERACAO] [datetime] NULL DEFAULT (getdate()),
	[NM_DATABASE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
