USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_COBR_CARTEIRA](
	[NR_RELATORIO] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_SOLICITACAO] [char](6) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[NR_NF] [char](6) NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[VL_SALDO] [float] NOT NULL,
	[DT_GERACAO] [datetime] NULL,
	[DT_VENCIMENTO] [datetime] NULL,
	[IN_CANCELADO] [char](1) NULL,
 CONSTRAINT [PK_TREL_COBR_CARTEIRA] PRIMARY KEY NONCLUSTERED 
(
	[NR_RELATORIO] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_SOLICITACAO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_COBR_CARTEIRA] ADD  CONSTRAINT [DF_TREL_COBR_CARTEIRA_VL_SALDO]  DEFAULT (0) FOR [VL_SALDO]
GO
ALTER TABLE [TREL_COBR_CARTEIRA] ADD  CONSTRAINT [DF__TREL_COBR__IN_CA__5FB73089]  DEFAULT ('0') FOR [IN_CANCELADO]
GO
