USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAJUSTE_IMPRESSAO_SDA](
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[L_NR_DOCUMENTO] [char](3) NULL,
	[C_NR_DOCUMENTO] [char](3) NULL,
	[C_NR_OPERACAO] [char](3) NULL,
	[L_NM_IMP_EXP] [char](3) NULL,
	[C_NM_IMP_EXP] [char](3) NULL,
	[L_NM_DESP] [char](3) NULL,
	[C_NM_DESP] [char](3) NULL,
	[C_NR_CPF] [char](3) NULL,
	[L_VL_SDA] [char](3) NULL,
	[C_VL_SDA] [char](3) NULL,
	[C_DT_EMISSAO] [char](3) NULL,
	[L_VL_TAXA] [char](3) NULL,
	[C_VL_TAXA] [char](3) NULL,
	[L_VL_TOTAL] [char](3) NULL,
	[C_VL_TOTAL] [char](3) NULL,
	[L_NR_PROCESSO] [char](3) NULL,
	[C_NR_PROCESSO] [char](3) NULL,
	[L_NR_CONHECIMENTO] [char](3) NULL,
	[C_NR_CONHECIMENTO] [char](3) NULL,
	[L_URF_DESPACHO] [char](3) NULL,
	[C_URF_DESPACHO] [char](3) NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[C_OPER_IMP] [char](3) NULL,
	[L_OPER_IMP] [char](3) NULL,
	[C_OPER_EXP] [char](3) NULL,
	[L_OPER_EXP] [char](3) NULL,
	[L_NR_CPF] [char](3) NULL,
	[L_VL_CIF] [char](3) NULL,
	[L_VEIC] [char](3) NULL,
	[L_DT_ENT] [char](3) NULL,
	[L_REF] [char](3) NULL,
	[L_MASTER] [char](3) NULL,
	[C_REF] [char](3) NULL,
	[TP_DOCUMENTO] [char](1) NULL CONSTRAINT [DF__TAJUSTE_I__TP_DO__62098D4F]  DEFAULT ('0'),
	[C_NM_COMPL_SDA] [char](3) NULL,
	[C_VL_CIF] [char](3) NULL,
	[C_CNPJ] [char](3) NULL,
	[L_NM_COMPL_SDA] [char](3) NULL,
	[L_OBS] [char](3) NULL,
	[C_OBS] [char](3) NULL,
	[NR_LINHA_GUIA] [char](3) NULL,
	[L_CNPJ] [char](3) NULL,
	[L_DT_EMISSAO] [char](3) NULL,
	[L_NR_CONTA_CORRENTE] [char](3) NULL,
	[C_NR_CONTA_CORRENTE] [char](3) NULL,
	[C_CD_DESP_SDA] [char](3) NULL,
 CONSTRAINT [PK_TAJUSTE_IMPRESSAO_SDA] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
