USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPO_ITEM](
	[NR_PROCESSO] [char](30) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_MERCADORIA] [varchar](30) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[CD_NALADI_NCCA] [char](7) NULL,
	[CD_MET_VALOR_ADUANEIRA] [char](2) NULL,
	[CD_DISP_LEGAL_EXONERA] [char](4) NULL,
	[CD_MOEDA_NEGOCIADA] [char](3) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_ACORDO_ALADI] [char](3) NULL,
	[CD_REG_TRIB_II] [char](6) NULL,
	[CD_FUND_LEGAL_II] [char](2) NULL,
	[CD_UNID_MEDIDA] [char](3) NULL,
	[CD_UNID_MED_II] [char](3) NULL,
	[CD_UNID_MED_IPI] [char](3) NULL,
	[CD_UNID_MED_AD] [char](3) NULL,
	[CD_AGENTE_CAMBIO] [char](4) NULL,
	[CD_MOD_PAGTO] [char](2) NULL,
	[CD_TX_JUROS] [char](4) NULL,
	[CD_INSTITUICAO_FINANC] [char](2) NULL,
	[CD_MOT_SEM_COBERT_CAMBIAL] [char](2) NULL,
	[CD_EX_II] [char](3) NULL,
	[CD_EX_IPI] [char](3) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[CD_PAIS_PROCEDENCIA] [char](3) NULL,
	[CD_URF_ENTRADA] [char](7) NULL,
	[IN_NECESSITA_LI] [bit] NOT NULL CONSTRAINT [DF_TPO_ITEM_IN_NECESSITA_LI]  DEFAULT ((0)),
	[IN_INDICADOR_COND_MERC] [bit] NOT NULL CONSTRAINT [DF_TPO_ITEM_IN_COND_MERCADORIA]  DEFAULT ((0)),
	[IN_COND_MERC] [char](1) NULL,
	[IN_APLIC_MERC] [char](1) NULL,
	[NM_ORGAO_EMISSOR_AL_EX_NALADI] [char](9) NULL,
	[NM_AL_EX_NALADI] [char](9) NULL,
	[NM_ORGAO_EMISSOR_AL_NCM] [char](9) NULL,
	[NM_AL_EX_NALADI_NCCA] [char](9) NULL,
	[NM_ORG_EMISSOR_EX_NALADI_NCCA] [char](9) NULL,
	[NM_AL_II] [char](9) NULL,
	[NM_ORGAO_EMISSOR_II] [char](9) NULL,
	[NM_ORGAO_EMISSOR_IPI] [char](9) NULL,
	[NM_AL_IPI] [char](9) NULL,
	[NM_AL_AD] [char](9) NULL,
	[NM_ORGAO_EMISSOR_AD] [char](9) NULL,
	[NM_IDENTIFICACAO] [char](9) NULL,
	[NR_ANO_EMISSAO_AL_EX_NALADI] [char](4) NULL,
	[NR_AL_EX_NALADI] [char](6) NULL,
	[NR_EX_NCM] [char](3) NULL,
	[NR_AL_EX_NCM] [char](9) NULL,
	[NR_ANO_EMISSAO_AL] [char](4) NULL,
	[NR_ATO_LEGAL] [char](6) NULL,
	[NR_EX_NALADI] [char](3) NULL,
	[NR_EX_NALADI_NCCA] [char](3) NULL,
	[NR_ANO_EMISSAO_EX_NALADI_NCCA] [char](4) NULL,
	[NR_AL_EX_NALADI_NCCA] [char](6) NULL,
	[NR_ANO_II] [char](4) NULL,
	[NR_AL_II] [char](6) NULL,
	[NR_ALIQ_NORMAL_II] [char](10) NULL,
	[NR_ALIQ_ACORDO_II] [char](10) NULL,
	[NR_ALIQ_REDUZIDA_II] [char](10) NULL,
	[NR_ALIQ_PERC_RED_II] [char](10) NULL,
	[NR_ANO_IPI] [char](4) NULL,
	[NR_AL_IPI] [char](6) NULL,
	[NR_NOTA_COMPL_IPI] [char](2) NULL,
	[NR_ALIQ_NORMAL_IPI] [char](10) NULL,
	[NR_ALIQ_REDUZIDA_IPI] [char](10) NULL,
	[NR_ALIQ_PERC_RED_IPI] [char](10) NULL,
	[NR_PROC_LI] [char](18) NULL,
	[NR_EX_AD] [char](3) NULL,
	[NR_ANO_AD] [char](4) NULL,
	[NR_AL_AD] [char](6) NULL,
	[NR_ALIQ_AD] [char](10) NULL,
	[NR_BASE_CALC_AD] [float] NULL,
	[NR_PARCELAS] [char](3) NULL,
	[NR_PERIODICIDADE] [char](3) NULL,
	[NR_ROF_BACEN] [char](8) NULL,
	[NR_FATURA] [varchar](50) NULL,
	[PC_DESCONTO] [float] NULL CONSTRAINT [DF_TPO_ITEM_PC_DESCONTO]  DEFAULT ((0)),
	[PC_ICMS] [float] NULL CONSTRAINT [DF_TPO_ITEM_PC_ICMS]  DEFAULT ((0)),
	[PC_ICMS_REDUCAO] [float] NULL CONSTRAINT [DF_TPO_ITEM_PC_ICMS_REDUCAO]  DEFAULT ((0)),
	[PC_COMISSAO] [float] NULL CONSTRAINT [DF_TPO_ITEM_PC_COMISSAO]  DEFAULT ((0)),
	[PL_ITEM] [float] NULL CONSTRAINT [DF_TPO_ITEM_PL_ITEM]  DEFAULT ((0)),
	[QT_INICIAL] [float] NULL CONSTRAINT [DF_TPO_ITEM_QT_INICIAL]  DEFAULT ((0)),
	[QT_BAIXADA_DI] [float] NULL CONSTRAINT [DF_TPO_ITEM_QT_BAIXADA_DI]  DEFAULT ((0)),
	[QT_BAIXADA_LI] [float] NULL CONSTRAINT [DF_TPO_ITEM_QT_BAIXADA_LI]  DEFAULT ((0)),
	[QT_ESPEC_II] [float] NULL CONSTRAINT [DF_TPO_ITEM_QT_ESPEC_II]  DEFAULT ((0)),
	[QT_ESPEC_IPI] [float] NULL CONSTRAINT [DF_TPO_ITEM_QT_ESPEC_IPI]  DEFAULT ((0)),
	[QT_AD] [float] NULL CONSTRAINT [DF_TPO_ITEM_QT_AD]  DEFAULT ((0)),
	[QT_MED_ESTATISTICA] [float] NULL CONSTRAINT [DF_TPO_ITEM_QT_MED_ESTATISTICA]  DEFAULT ((0)),
	[TP_CALCULO] [char](1) NULL,
	[TP_COMISSAO] [char](1) NULL,
	[TP_ACORDO_TARIFARIO] [char](1) NULL,
	[TP_TRIBUTACAO_IPI] [char](1) NULL,
	[TP_CAMBIO] [char](1) NULL,
	[TP_IND_TX_JUROS] [bit] NOT NULL CONSTRAINT [DF_TPO_ITEM_TP_IND_TX_JUROS]  DEFAULT ((0)),
	[TP_IND_PERIODICIDADE] [char](1) NULL,
	[TP_RECIPIENTE] [char](2) NULL,
	[TP_IND_MULTIMODAL] [char](1) NULL,
	[TX_MERCADORIA] [text] NULL,
	[TX_JUROS_CAMBIO] [float] NULL CONSTRAINT [DF_TPO_ITEM_TX_JUROS_CAMBIO]  DEFAULT ((0)),
	[VL_DESPESA_MOEDA] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_DESPESA_MOEDA]  DEFAULT ((0)),
	[VL_DESCONTO_MOEDA] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_DESCONTO_MOEDA]  DEFAULT ((0)),
	[VL_UNITARIO] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_UNITARIO]  DEFAULT ((0)),
	[VL_TOTAL] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_TOTAL]  DEFAULT ((0)),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_DESCONTO]  DEFAULT ((0)),
	[VL_COMISSAO] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_COMISSAO]  DEFAULT ((0)),
	[VL_ESPEC_II] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_ESPEC_II]  DEFAULT ((0)),
	[VL_ESPEC_IPI] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_ESPEC_IPI]  DEFAULT ((0)),
	[VL_ESPEC_AD] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_ESPEC_AD]  DEFAULT ((0)),
	[VL_TOTAL_PARCELAS] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_TOTAL_PARCELAS]  DEFAULT ((0)),
	[VL_COBERT_ACIMA_360] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_COBERT_ACIMA_360]  DEFAULT ((0)),
	[VL_PAGTO_ANTECIPADO] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_PAGTO_ANTECIPADO]  DEFAULT ((0)),
	[VL_PAGTO_AVISTA] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_PAGTO_AVISTA]  DEFAULT ((0)),
	[VL_FRETE_NAC_MOEDA] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_FRETE_NAC_MOEDA]  DEFAULT ((0)),
	[VL_SEGURO_MOEDA] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_SEGURO_MOEDA]  DEFAULT ((0)),
	[VL_ACRESC_MOEDA] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_ACRESC_MOEDA]  DEFAULT ((0)),
	[VL_DEDUC_MOEDA] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_DEDUC_MOEDA]  DEFAULT ((0)),
	[VL_FRETE_PREPAID_MOEDA] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_FRETE_PREPAID_MOEDA]  DEFAULT ((0)),
	[VL_FRETE_COLLECT] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_FRETE_COLLECT]  DEFAULT ((0)),
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF_TPO_ITEM_IN_SELECIONADO]  DEFAULT ('0'),
	[QT_BAIXAR] [float] NULL CONSTRAINT [DF_TPO_ITEM_VL_QT_BAIXAR]  DEFAULT ((0)),
	[QT_DISPONIVEL] [float] NULL CONSTRAINT [DF_TPO_ITEM_QT_DISPONIVEL]  DEFAULT ((0)),
	[IN_MONTADO] [char](1) NULL CONSTRAINT [DF_TPO_ITEM_IN_MONTADO]  DEFAULT ('0'),
	[IN_FABR_EXP_PROD] [char](1) NULL CONSTRAINT [DF_TPO_ITEM_IN_FABR_EXP_PROD]  DEFAULT ('0'),
	[NR_ANO_EX_NCM] [char](4) NULL,
	[NR_NUM_EX_NCM] [char](6) NULL,
	[IN_IND_COND_MERC] [bit] NOT NULL CONSTRAINT [DF_TPO_ITEM_IN_IND_COND_MERC]  DEFAULT ((0)),
	[NM_LOCAL_INCOTERM] [char](10) NULL,
	[NM_TIPO_AL_AD] [char](10) NULL,
	[IN_IND_PERIODICIDADE] [char](1) NULL CONSTRAINT [DF_TPO_ITEM_IN_IND_PERIODICIDADE]  DEFAULT ('0'),
	[IN_REG_TRIB_IPI] [char](1) NULL CONSTRAINT [DF_TPO_ITEM_IN_REG_TRIB_IPI]  DEFAULT ('0'),
	[QT_INICIAL_EST] [float] NULL CONSTRAINT [DF_TPO_ITEM_QT_INICIAL_EST]  DEFAULT ((0)),
	[CD_USUARIO_MONTA] [char](4) NULL,
	[CD_MODALIDADE] [char](1) NULL CONSTRAINT [DF__TPO_ITEM__CD_MOD__0A419BDB]  DEFAULT ('0'),
	[NR_ATO_DRAWBACK] [char](13) NULL,
	[IN_AVISO_DB] [char](1) NULL CONSTRAINT [DF__TPO_ITEM__IN_AVI__0F12D49E]  DEFAULT ('0'),
	[NR_ITEM_CLIENTE] [char](4) NULL,
	[TX_OBSERVACAO] [text] NULL CONSTRAINT [DF__TPO_ITEM__TX_OBS__630BCBDC]  DEFAULT (''),
	[IN_REEIMPORTACAO] [char](1) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_LOCAL_DESEMBARQUE] [char](4) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[CD_AGENTE] [char](4) NULL,
	[NR_VIAGEM] [char](15) NULL,
	[NR_VOO] [char](18) NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[NR_COURRIER] [varchar](15) NULL,
	[IN_CONSOLIDADO] [char](1) NULL,
	[IN_URGENTE] [char](1) NULL,
	[IN_SEGURO] [char](1) NULL,
	[CD_MERC_FORNEC] [varchar](30) NULL,
	[TP_DRAWBACK] [char](1) NULL CONSTRAINT [DF_TPO_ITEM_TP_DRAWBACK]  DEFAULT ('0'),
	[IN_UTILIZADO_INSTR_DESEMB] [char](1) NULL,
	[ID_CODIGO_INSTR_DESEMB] [char](13) NULL,
	[DT_FATURA] [datetime] NULL,
	[DT_ABERTURA_ITEM] [datetime] NULL,
	[NR_PARCIAL] [int] NULL,
	[IN_CORRECAO] [char](1) NULL,
	[CD_EMPRESA] [char](5) NOT NULL,
	[IN_DRAWBACK] [char](1) NULL,
	[IN_WEB] [char](1) NULL,
	[CD_APLICACAO_MERCADORIA] [char](1) NULL,
	[NR_LI] [varchar](20) NULL,
	[NR_ORDEM] [varchar](18) NULL,
	[TP_STATUS_CRODA] [int] NULL CONSTRAINT [DF_TPO_ITEM_TP_STATUS_CRODA]  DEFAULT ((0)),
	[NR_PROC_ID] [varchar](30) NULL,
	[NR_CNTR] [varchar](20) NULL,
	[TP_CNTR] [char](2) NULL,
	[NR_PLANTA] [char](4) NULL,
	[QT_CAPA] [float] NULL,
	[CD_CFOP] [varchar](6) NULL,
	[NR_PEDIDO_COMPRAS] [varchar](15) NULL,
	[CD_NCM_SH_NEW] [varchar](16) NULL,
 CONSTRAINT [PK_TPO_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ITEM] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_PEDIDO_ITEM_PARCIAL] ON [TPO_ITEM]
(
	[NR_PROCESSO] ASC,
	[NR_ITEM_CLIENTE] ASC,
	[NR_PARCIAL] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
