USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CUSTOS_BSH](
	[NR_IDENTIFICADOR] [int] NULL,
	[NR_PROCESSO_INDAIA] [char](18) NULL,
	[NM_IMPORTADOR] [varchar](60) NULL,
	[NR_PROCESSO_CLIENTE] [varchar](15) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[NM_FABRICANTE] [varchar](50) NULL,
	[CD_LOCAL_DESTINO] [char](4) NULL,
	[LOCAL_DESTINO] [varchar](50) NULL,
	[NM_CONTATO] [varchar](50) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[QT_TOTAL_PRODUTO] [float] NULL,
	[AP_MERCADORIA] [char](25) NULL,
	[DS_INF_GERAL_EMB] [varchar](500) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[NM_EMBARCACAO] [varchar](40) NULL,
	[DT_ETA] [datetime] NULL,
	[DT_CARREGAMENTO] [datetime] NULL,
	[DT_FATURAMENTO] [datetime] NULL,
	[DT_INSTRUCAO] [datetime] NULL,
	[DT_DEAD_LINE] [datetime] NULL,
	[DT_ETD] [datetime] NULL,
	[DS_OBS] [varchar](800) NULL,
	[CD_MOEDA] [char](3) NULL,
	[NM_MOEDA] [varchar](30) NULL,
	[VL_INVOICE_MOEDA] [float] NULL,
	[VL_NF] [float] NULL,
	[TP_FRETE] [char](30) NULL,
	[VL_FRETE] [float] NULL,
	[CD_ITEM] [char](3) NULL,
	[NM_ITEM] [char](30) NULL,
	[VL_ITEM] [float] NULL,
	[CD_LINHA_IMPRESSAO_ITEM] [int] NULL
) ON [PRIMARY]

GO
