USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TITEM_CUSTO](
	[CD_UNIDADE] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CT_CUSTO] [char](25) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
 CONSTRAINT [PK__TITEM_CUSTO__6DCAE81F] PRIMARY KEY CLUSTERED 
(
	[CD_UNIDADE] ASC,
	[CD_PRODUTO] ASC,
	[CD_CT_CUSTO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
