USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINSTALACAO_BANCO](
	[CD_INSTALACAO] [char](1) NOT NULL,
	[NM_BANCO] [char](10) NOT NULL,
 CONSTRAINT [PK_TINSTALACAO_BANCO] PRIMARY KEY CLUSTERED 
(
	[CD_INSTALACAO] ASC,
	[NM_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
