USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_REL_DFF] AS
    SELECT PR.CD_UNID_NEG, PR.CD_PRODUTO, EN.CD_GRUPO, PR.CD_CLIENTE,
           (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(R.CD_REFERENCIA) + ', '), ', ')
            FROM TREF_CLIENTE R (NOLOCK)
            WHERE R.NR_PROCESSO=PR.NR_PROCESSO
              AND R.TP_REFERENCIA = CASE SUBSTRING(R.NR_PROCESSO, 3, 2)
                                        WHEN '01' THEN ISNULL(G.TP_PEDIDO_BUSCA_IMP, '01')
                                    ELSE ISNULL(G.TP_PEDIDO_BUSCA, '01')
                                    END) CD_REFERENCIA,
           RTRIM(PR.NR_PROCESSO) AS NR_PROCESSO,
           RTRIM(EN.NM_EMPRESA) AS NM_CLIENTE,
           (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(R.CD_REFERENCIA) + ', '), ', ')
            FROM TREF_CLIENTE R (NOLOCK)
            WHERE R.NR_PROCESSO=PR.NR_PROCESSO
              AND R.TP_REFERENCIA = '02') NR_ORDEM,
           PR.CD_IMPORTADOR,
           RTRIM(EE.NM_EMPRESA) AS NM_IMPORTADOR,
           S.CD_VIA_TRANSPORTE,
           RTRIM(VT.NM_VIA_TRANSP) AS NM_VIA_TRANSPORTE,
           RTRIM(CONVERT(VARCHAR(MAX), PR.TX_MERCADORIA)) AS TX_MERCADORIA,
           PR.CD_AREA,
           RTRIM(AR.NM_AREA) AS NM_AREA,
           (SELECT RTRIM(DESCRICAO)
            FROM TPAIS (NOLOCK)
            WHERE CODIGO = PR.CD_PAIS_DESTINO) AS NM_PAIS_DESTINO,
           RTRIM(CASE SUBSTRING(PR.NR_PROCESSO, 5, 2)
                     WHEN 'ER' THEN ISNULL(TR.AP_TRANSP_ROD, '')
                 ELSE ISNULL(A.NM_AGENTE_REDUZIDO, A.NM_AGENTE)
                 END) NM_AGENTE,
           ISNULL(RTRIM(E.NM_EMBARCACAO), '') AS NM_EMBARCACAO,
           (SELECT RTRIM(DESCRICAO)
            FROM TLOCAL_EMBARQUE (NOLOCK)
            WHERE CODIGO=PR.CD_LOCAL_DESEMBARQUE) AS NM_PORTO_DESTINO,
           (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(R.CD_REFERENCIA) + ', '), ', ')
            FROM TREF_CLIENTE R (NOLOCK)
            WHERE R.NR_PROCESSO=PR.NR_PROCESSO
              AND R.TP_REFERENCIA = '05') AS NR_BOOKING,
           (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCAT(CONVERT(VARCHAR, QT_TIPO) + ' ' + NM_TIPO + CHAR(10)), CHAR(10))
            FROM (SELECT COUNT(*) AS QT_TIPO, RTRIM(TC.NM_TP_CNTR) AS NM_TIPO
                  FROM TPROCESSO_CNTR PC
                     INNER JOIN TTP_CNTR TC ON TC.TP_CNTR = PC.TP_CNTR
                  WHERE PC.NR_PROCESSO = PR.NR_PROCESSO
                  GROUP BY TC.NM_TP_CNTR) AS VW) AS TP_CONTAINERS,
           (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCAT(CONVERT(VARCHAR, QT_TIPO) + ' ' + NM_TIPO + CHAR(10)), CHAR(10))
            FROM (SELECT COUNT(*) AS QT_TIPO, RTRIM(TC.NM_CARRETA) AS NM_TIPO
                  FROM TPROCESSO_CNTR PC
                     INNER JOIN TTP_CARRETA TC ON TC.CD_CARRETA = PC.CD_CARRETA
                  WHERE PC.NR_PROCESSO = PR.NR_PROCESSO
                  GROUP BY TC.NM_CARRETA) AS VW) AS TP_CARRETA,
           RTRIM(TR.AP_TRANSP_ROD) AS NM_TRANSP_ROD,
           ISNULL(RTRIM(AA.NM_ARMAZEM), '') AS NM_ARMAZEM_ATRACACAO,
           (SELECT MASTER.DBO.FN_RETIRA_CARACTER(MASTER.DBO.ROWCONCAT(DISTINCT RTRIM(R.CD_REFERENCIA) + ', '), ', ')
            FROM TREF_CLIENTE R (NOLOCK)
            WHERE R.NR_PROCESSO=PR.NR_PROCESSO
              AND R.TP_REFERENCIA = '04') NR_OUTROS
    FROM TPROCESSO                   PR   (NOLOCK)
       INNER JOIN TFOLLOWUP          F314 (NOLOCK) ON (PR.NR_PROCESSO = F314.NR_PROCESSO AND F314.CD_EVENTO = '314')
       LEFT  JOIN TEMPRESA_NAC       EN   (NOLOCK) ON EN.CD_EMPRESA = PR.CD_CLIENTE
       LEFT  JOIN TGRUPO             G    (NOLOCK) ON G.CD_GRUPO = EN.CD_GRUPO
       LEFT  JOIN TEMBARCACAO        E    (NOLOCK) ON PR.CD_EMBARCACAO = E.CD_EMBARCACAO
       LEFT  JOIN TAGENTE            A    (NOLOCK) ON A.CD_AGENTE = PR.CD_AGENTE
       LEFT  JOIN TTRANSP_ROD        TR   (NOLOCK) ON  PR.CD_TRANSP_NAC = TR.CD_TRANSP_ROD
       LEFT  JOIN TEMPRESA_EST       EE   (NOLOCK) ON EE.CD_EMPRESA = PR.CD_IMPORTADOR
       INNER JOIN VW_SERVICO_GERAL   S    (NOLOCK) ON S.CD_SERVICO = PR.CD_SERVICO
       LEFT  JOIN TVIA_TRANSP_BROKER VT   (NOLOCK) ON VT.CD_VIA_TRANSP = S.CD_VIA_TRANSPORTE
       LEFT  JOIN TAREA              AR   (NOLOCK) ON AR.CD_AREA = PR.CD_AREA
       LEFT  JOIN TARMAZEM           AA   (NOLOCK) ON AA.CD_ARMAZEM = PR.CD_ARMAZEM_ATRACACAO
    WHERE (F314.DT_REALIZACAO IS NULL OR CONVERT(DATE, F314.DT_REALIZACAO, 103) >= CONVERT(DATE, CONVERT(VARCHAR, GETDATE() -3, 103), 103))
      AND PR.IN_CANCELADO = '0'
      AND PR.IN_LIBERADO = '1'
      AND ISNULL(E.NM_EMBARCACAO, '') NOT IN ('* PROCESSO CANCELADO', 'TBN', 'AGUARDANDO NAVIO' )

GO
