USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAUX_ADICAO_ITENS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[DESCRICAO] [char](120) NULL,
	[NM_EMPRESA] [varchar](50) NULL,
	[TX_DESC_DET_MERC] [text] NULL,
	[ALIQ_II_ADVAL] [float] NULL,
	[ALIQ_II_ACORDO] [float] NULL,
	[ALIQ_II_REDUZIDA] [float] NULL,
	[ALIQ_IPI_ADVAL] [float] NULL,
	[ALIQ_IPI_ACORDO] [float] NULL,
	[ALIQ_IPI_REDUZIDA] [float] NULL,
	[QT_ITENS_ADICAO] [int] NULL,
	[CD_UN_MED_COMERC] [char](3) NULL,
	[PL_MERCADORIA] [float] NULL,
	[VL_MERC_COND_VENA] [float] NULL,
	[VL_MERC_EMB_MN] [float] NULL,
	[CD_MOEDA_NEGOCIADA] [char](3) NULL,
	[NM_MOEDA] [varchar](30) NULL,
	[NM_UNID_MEDIDA] [char](50) NULL,
 CONSTRAINT [PK_TAUX_ADICAO_ITENS] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
