USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREPARA_PE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PROC_OLD] [char](18) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[QT_BAIXADA] [float] NULL CONSTRAINT [DF_TPREPARA_PE_QT_BAIXADA]  DEFAULT (0),
	[VL_TOT_BAIXADO] [float] NULL,
	[IN_PREPARACAO] [char](1) NULL CONSTRAINT [DF_TPREPARA_PE_IN_PREPARACAO]  DEFAULT ('0'),
	[QT_TOTAL_ITEM] [char](3) NULL,
	[IN_MONTADO] [char](1) NULL CONSTRAINT [DF_TPREPARA_PE_IN_MONTADO]  DEFAULT ('0'),
 CONSTRAINT [PK_TPREPARA_PE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
