USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [VW_CIDADES_IBGE] AS
    --Favor incluir as novas cidades por ordem alfabética de UF e Cidade
    SELECT 'AL' AS CD_UF, 'MACEIO' AS NM_CIDADE, '270430' AS CD_IBGE
    UNION
    SELECT 'AM' AS CD_UF, 'MANAUS' AS NM_CIDADE, '130260' AS CD_IBGE
    UNION
    SELECT 'BA' AS CD_UF, 'CAMAÇARI' AS NM_CIDADE, '290570' AS CD_IBGE
    UNION
    SELECT 'BA' AS CD_UF, 'CANDEIAS' AS NM_CIDADE, '290650' AS CD_IBGE
    UNION
    SELECT 'BA' AS CD_UF, 'FEIRA DE SANTANA' AS NM_CIDADE, '291080' AS CD_IBGE
    UNION
    SELECT 'BA' AS CD_UF, 'ITABUNA' AS NM_CIDADE, '291480' AS CD_IBGE
    UNION
    SELECT 'BA' AS CD_UF, 'SALVADOR' AS NM_CIDADE, '292740' AS CD_IBGE
    UNION
    SELECT 'BA' AS CD_UF, 'SIMÕES FILHO' AS NM_CIDADE, '293070' AS CD_IBGE
    UNION
    SELECT 'BA' AS CD_UF, 'VALENTE' AS NM_CIDADE, '293300' AS CD_IBGE
    UNION
    SELECT 'CE' AS CD_UF, 'FORTALEZA' AS NM_CIDADE, '230440' AS CD_IBGE
    UNION
    SELECT 'CE' AS CD_UF, 'FOTALEZA' AS NM_CIDADE, '230440' AS CD_IBGE
    UNION
    SELECT 'CE' AS CD_UF, 'MARACANAU' AS NM_CIDADE, '230765' AS CD_IBGE
    UNION
    SELECT 'CE' AS CD_UF, 'PARAÍPABA' AS NM_CIDADE, '231025' AS CD_IBGE
    UNION
    SELECT 'DF' AS CD_UF, 'BRASILIA' AS NM_CIDADE, '530010' AS CD_IBGE
    UNION
    SELECT 'DF' AS CD_UF, 'SOBRADINHO' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'ES' AS CD_UF, 'ARACRUZ' AS NM_CIDADE, '320060' AS CD_IBGE
    UNION
    SELECT 'ES' AS CD_UF, 'CACHOEIRO DE ITAPEMIRIM' AS NM_CIDADE, '320120' AS CD_IBGE
    UNION
    SELECT 'ES' AS CD_UF, 'Cariacica' AS NM_CIDADE, '320130' AS CD_IBGE
    UNION
    SELECT 'ES' AS CD_UF, 'Rio Novo do Sul' AS NM_CIDADE, '320440' AS CD_IBGE
    UNION
    SELECT 'ES' AS CD_UF, 'SERRA' AS NM_CIDADE, '320500' AS CD_IBGE
    UNION
    SELECT 'ES' AS CD_UF, 'VELHA SERRA' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'ES' AS CD_UF, 'VITÓRIA' AS NM_CIDADE, '320530' AS CD_IBGE
    UNION
    SELECT 'GO' AS CD_UF, 'APARECIDA DE GOIANIA' AS NM_CIDADE, '520140' AS CD_IBGE
    UNION
    SELECT 'GO' AS CD_UF, 'Goiania' AS NM_CIDADE, '520870' AS CD_IBGE
    UNION
    SELECT 'GO' AS CD_UF, 'ITUMBIARA' AS NM_CIDADE, '521150' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'BARBACENA' AS NM_CIDADE, '310560' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'Betim' AS NM_CIDADE, '310670' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'CAMANDUCAI' AS NM_CIDADE, '311050' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'CARATINGA' AS NM_CIDADE, '311340' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'CATAGUASES' AS NM_CIDADE, '311530' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'CONTAGEM' AS NM_CIDADE, '311860' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'EXTREMA' AS NM_CIDADE, '312510' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'Ibia' AS NM_CIDADE, '312950' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'ITAUNA' AS NM_CIDADE, '313380' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'JUIZ DE FORA' AS NM_CIDADE, '313670' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'PAPAGAIOS' AS NM_CIDADE, '314690' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'SAO LOURENCO' AS NM_CIDADE, '316370' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'TIMOTEO' AS NM_CIDADE, '316870' AS CD_IBGE
    UNION
    SELECT 'MG' AS CD_UF, 'UBERABA' AS NM_CIDADE, '317010' AS CD_IBGE
    UNION
    SELECT 'MN' AS CD_UF, 'CNPJ GENERICO' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'MS' AS CD_UF, 'TRES LAGOAS' AS NM_CIDADE, '500830' AS CD_IBGE
    UNION
    SELECT 'MS' AS CD_UF, 'TRÊS LAGOS' AS NM_CIDADE, '500830' AS CD_IBGE
    UNION
    SELECT 'MT' AS CD_UF, 'ALTA FLORESTA' AS NM_CIDADE, '510025' AS CD_IBGE
    UNION
    SELECT 'MT' AS CD_UF, 'CUIABA' AS NM_CIDADE, '510340' AS CD_IBGE
    UNION
    SELECT 'MT' AS CD_UF, 'CUIBÁ' AS NM_CIDADE, '510340' AS CD_IBGE
    UNION
    SELECT 'PA' AS CD_UF, 'ANANINDEUA' AS NM_CIDADE, '150080' AS CD_IBGE
    UNION
    SELECT 'PA' AS CD_UF, 'BENEVIDES' AS NM_CIDADE, '150150' AS CD_IBGE
    UNION
    SELECT 'PB' AS CD_UF, 'Alhandra' AS NM_CIDADE, '250060' AS CD_IBGE
    UNION
    SELECT 'PB' AS CD_UF, 'Boa Vista' AS NM_CIDADE, '250215' AS CD_IBGE
    UNION
    SELECT 'PB' AS CD_UF, 'Campina Grande' AS NM_CIDADE, '250400' AS CD_IBGE
    UNION
    SELECT 'PB' AS CD_UF, 'João Pessoa' AS NM_CIDADE, '250750' AS CD_IBGE
    UNION
    SELECT 'PE' AS CD_UF, 'CABO DE SANTO AGOSTINHO' AS NM_CIDADE, '260290' AS CD_IBGE
    UNION
    SELECT 'PE' AS CD_UF, 'IGARASSÚ' AS NM_CIDADE, '260680' AS CD_IBGE
    UNION
    SELECT 'PE' AS CD_UF, 'IPOJUCA' AS NM_CIDADE, '260720' AS CD_IBGE
    UNION
    SELECT 'PE' AS CD_UF, 'JABOATAO DOS GUARARAPES' AS NM_CIDADE, '260790' AS CD_IBGE
    UNION
    SELECT 'PE' AS CD_UF, 'PAULISTA' AS NM_CIDADE, '261070' AS CD_IBGE
    UNION
    SELECT 'PE' AS CD_UF, 'VITÓRIA DE SANTO ANTAO' AS NM_CIDADE, '261640' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'APUCARANA' AS NM_CIDADE, '410140' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'Araucária' AS NM_CIDADE, '410180' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, ' ASsai' AS NM_CIDADE, '410190' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'CAMBE' AS NM_CIDADE, '410370' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'CAMPO LARGO' AS NM_CIDADE, '410420' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'CASCAVEL' AS NM_CIDADE, '410480' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'CURITIBA' AS NM_CIDADE, '410690' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'Ibipora' AS NM_CIDADE, '410980' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'MARINGA' AS NM_CIDADE, '411520' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'Marmeleiro' AS NM_CIDADE, '411540' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'PALMEIRA' AS NM_CIDADE, '411770' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'PINHAIS' AS NM_CIDADE, '411915' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'São José dos Pinhais' AS NM_CIDADE, '412550' AS CD_IBGE
    UNION
    SELECT 'PR' AS CD_UF, 'TURVO' AS NM_CIDADE, '412796' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'ANGRA DOS REIS' AS NM_CIDADE, '330010' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'BARRA MANSA' AS NM_CIDADE, '330040' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'Carmo' AS NM_CIDADE, '330120' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'Duque de Caixas' AS NM_CIDADE, '330170' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'DUQUE DE CAIXIAS' AS NM_CIDADE, '330170' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'DUQUE DE CAXIAS' AS NM_CIDADE, '330170' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'ITATIAIA' AS NM_CIDADE, '330225' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'PARATI' AS NM_CIDADE, '330380' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'PETROPOLIS' AS NM_CIDADE, '330390' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'PORTO REAL' AS NM_CIDADE, '330411' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'RESENDE' AS NM_CIDADE, '330420' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'Rio de Janeiro' AS NM_CIDADE, '330455' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'São Francisco de Itabapoana' AS NM_CIDADE, '330475' AS CD_IBGE
    UNION
    SELECT 'RJ' AS CD_UF, 'TRES RIOS' AS NM_CIDADE, '330600' AS CD_IBGE
    UNION
    SELECT 'RN' AS CD_UF, 'MOSSORO' AS NM_CIDADE, '240800' AS CD_IBGE
    UNION
    SELECT 'RO' AS CD_UF, 'PORTO VELHO' AS NM_CIDADE, '110020' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'CAMPO BOM' AS NM_CIDADE, '430390' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'CANOAS' AS NM_CIDADE, '430460' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'CARAZINHO' AS NM_CIDADE, '430470' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'CARLOS BARBOSA' AS NM_CIDADE, '430480' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'CAXIAS DO SUL' AS NM_CIDADE, '430510' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'CHUÍ' AS NM_CIDADE, '430543' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'DOIS IRMAOS' AS NM_CIDADE, '430640' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'Esteio' AS NM_CIDADE, '430770' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'FARROUPILHA' AS NM_CIDADE, '430790' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'Flores da Cunha' AS NM_CIDADE, '430820' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'Gravataí' AS NM_CIDADE, '430920' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'Guaiba' AS NM_CIDADE, '430930' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'NOVO HAMBURGO' AS NM_CIDADE, '431340' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'PICADA CAFÉ' AS NM_CIDADE, '431442' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'PORTAO' AS NM_CIDADE, '431480' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'Porto Alegre' AS NM_CIDADE, '431490' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'Santana do Livramento' AS NM_CIDADE, '431710' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'SÃO JOSÉ DO NORTE' AS NM_CIDADE, '431850' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'SÃO LEOPOLDO' AS NM_CIDADE, '431870' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'SAPUCAIA DO SUL' AS NM_CIDADE, '432000' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'URUGUAIANA' AS NM_CIDADE, '432240' AS CD_IBGE
    UNION
    SELECT 'RS' AS CD_UF, 'VENANCIO AIRES' AS NM_CIDADE, '432260' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'JOINVVILLE' AS NM_CIDADE, '420910' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'BARRA VELHA' AS NM_CIDADE, '420210' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'BLUMENAU' AS NM_CIDADE, '420240' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'CENTRO' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'CHAPECO' AS NM_CIDADE, '420420' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'CRICIUMA' AS NM_CIDADE, '420460' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'CURITIBANOS' AS NM_CIDADE, '420480' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'FLORIANÓPOLIS' AS NM_CIDADE, '420540' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'GASPAR' AS NM_CIDADE, '420590' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'GUARAMIRIM' AS NM_CIDADE, '420650' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'ITAIOPOLIS' AS NM_CIDADE, '420810' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'ITAJAÍ' AS NM_CIDADE, '420820' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'JARAGUÁ DO SUL' AS NM_CIDADE, '420890' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'Joinville' AS NM_CIDADE, '420910' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'MAFRA' AS NM_CIDADE, '421010' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'POMARODE' AS NM_CIDADE, '421320' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'POMERODE' AS NM_CIDADE, '421320' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'SÃO BENTO DO SUL' AS NM_CIDADE, '421580' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'São Bernado do Sul' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'SÃO FRANCISCO DO SUL' AS NM_CIDADE, '421620' AS CD_IBGE
    UNION
    SELECT 'SC' AS CD_UF, 'São Ludgero' AS NM_CIDADE, '421700' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Americana' AS NM_CIDADE, '350160' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Aracariguama' AS NM_CIDADE, '350275' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Araçatuba' AS NM_CIDADE, '350280' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Araraquara' AS NM_CIDADE, '350320' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Araras' AS NM_CIDADE, '350330' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Araras LOGLILOG' AS NM_CIDADE, '350330' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'ARUJA' AS NM_CIDADE, '350390' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'ATIBAIA' AS NM_CIDADE, '350410' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Barueri' AS NM_CIDADE, '350570' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'BAURU' AS NM_CIDADE, '350600' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'BRAGANCA PAULISTA' AS NM_CIDADE, '350760' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Caçapava' AS NM_CIDADE, '350850' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'CAIEIRAS' AS NM_CIDADE, '350900' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Cajamar' AS NM_CIDADE, '350920' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'CAMBUI' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'CAMPINAS' AS NM_CIDADE, '350950' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'COPACABANA' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'CORDEIRÓPOLIS' AS NM_CIDADE, '351240' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'COSMOPOLIS' AS NM_CIDADE, '351280' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Cotia' AS NM_CIDADE, '351300' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'CRAVINHOS' AS NM_CIDADE, '351310' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'CRUZEIRO' AS NM_CIDADE, '351340' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Cubatão' AS NM_CIDADE, '351350' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Diadema' AS NM_CIDADE, '351380' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'EMBU' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'FARROUPILHA' AS NM_CIDADE, '430790' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'FEIRA DE SANTANA' AS NM_CIDADE, '291080' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Ferraz de Vasconcelos' AS NM_CIDADE, '351570' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Guaratinguetá' AS NM_CIDADE, '351840' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Guarujá' AS NM_CIDADE, '351870' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Guarulhos' AS NM_CIDADE, '351880' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'HORTOLANDIA' AS NM_CIDADE, '351907' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Indaiatuba' AS NM_CIDADE, '352050' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Itapevi' AS NM_CIDADE, '352250' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Itu' AS NM_CIDADE, '352390' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Itupeva' AS NM_CIDADE, '352400' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'JACAREI' AS NM_CIDADE, '352440' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Jandira' AS NM_CIDADE, '352500' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'JARAGUÁ DO SUL' AS NM_CIDADE, '420890' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'JUNDIAI' AS NM_CIDADE, '352590' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Lança os impostos sempre.' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Laranjal Paulista' AS NM_CIDADE, '352640' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Limeira' AS NM_CIDADE, '352690' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'LINS' AS NM_CIDADE, '352710' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'LORENA' AS NM_CIDADE, '352720' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'MACAE' AS NM_CIDADE, '330240' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'MAIRIPORÃ' AS NM_CIDADE, '352850' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'MANDURI' AS NM_CIDADE, '352860' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'MAUÁ' AS NM_CIDADE, '352940' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'MIRASSOL' AS NM_CIDADE, '353030' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Mogi das Cruzes' AS NM_CIDADE, '353060' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'MONCOES' AS NM_CIDADE, '353100' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Osasco' AS NM_CIDADE, '353440' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'PARANA' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'PAULINIA' AS NM_CIDADE, '353650' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'PINDAMONHANGABA' AS NM_CIDADE, '353800' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'POA' AS NM_CIDADE, '353980' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'PORTO ALEGRE' AS NM_CIDADE, '431490' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Porto Ferreira' AS NM_CIDADE, '354070' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'RIBEIRAO PRETO' AS NM_CIDADE, '354340' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'RIO CLARO' AS NM_CIDADE, '354390' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'RIO COTIA' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'RIO DAS PEDRAS' AS NM_CIDADE, '354400' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'RIO DE JANEIRO' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'S. BERNARDO DO CAMPO' AS NM_CIDADE, '354870' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'S¦o Paulo' AS NM_CIDADE, '355030' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'São Paulo' AS NM_CIDADE, '355030' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SANTA BARBARA D''OESTE' AS NM_CIDADE, '354580' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SANTA GERTRUDES' AS NM_CIDADE, '354670' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Santana da Parnaíba' AS NM_CIDADE, '354730' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SANTANA DE PARNAÍBA' AS NM_CIDADE, '354730' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SANTO ANDRE' AS NM_CIDADE, '354780' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Santos' AS NM_CIDADE, '354850' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Santos Antonio de Posse' AS NM_CIDADE, '354800' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Santo Antonio de Posse' AS NM_CIDADE, '354800' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Santos.' AS NM_CIDADE, '354850' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SÃO BERNADO DO CAMPO' AS NM_CIDADE, '354870' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SAO BERNARDO DO CAMPO' AS NM_CIDADE, '354870' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'São Caetano do Sul' AS NM_CIDADE, '354880' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'São José do Rio Pardo' AS NM_CIDADE, '354970' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'São Jose dos Campos' AS NM_CIDADE, '354990' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SAO PAULO' AS NM_CIDADE, '355030' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SÃO ROQUE' AS NM_CIDADE, '355060' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SAO VICENTE' AS NM_CIDADE, '355100' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SERTAOZINHO' AS NM_CIDADE, '355170' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'SOROCABA' AS NM_CIDADE, '355220' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Sumaré' AS NM_CIDADE, '355240' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Suzano' AS NM_CIDADE, '355250' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'TABOAO DA SERRA' AS NM_CIDADE, '355280' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'TAUBATÉ' AS NM_CIDADE, '355410' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'TOLEDO' AS NM_CIDADE, '412770' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'UMRANIYE/ISTANBUL' AS NM_CIDADE, '' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'VARGEM GRANDE PAULISTA' AS NM_CIDADE, '355645' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Várzea Paulista' AS NM_CIDADE, '355650' AS CD_IBGE
    UNION
    SELECT 'SP' AS CD_UF, 'Vinhedo' AS NM_CIDADE, '355670'

GO
