USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TARM_TAB_PERIODO](
	[CD_ARMAZEM] [char](4) NOT NULL,
	[CD_TABELA] [char](3) NOT NULL,
	[NR_PERIODO] [int] NOT NULL,
	[QT_DIAS] [int] NULL,
	[VL_PERCENTUAL] [float] NULL,
	[VL_TX_ADICIONAL] [float] NULL
) ON [PRIMARY]

GO
