USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCALCULO](
	[CD_CALCULO] [char](3) NOT NULL,
	[NM_CALCULO] [varchar](40) NOT NULL,
	[NM_STORED_PROCEDURE] [varchar](30) NULL,
	[CD_TABELA] [char](1) NULL,
 CONSTRAINT [PK___3__10] PRIMARY KEY CLUSTERED 
(
	[CD_CALCULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
