USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNAC_RET_MERC](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_PROCESSO_DA] [char](18) NOT NULL,
	[NR_REF] [varchar](15) NOT NULL,
	[CD_MERCADORIA] [varchar](30) NOT NULL,
	[NR_LOTE] [varchar](12) NOT NULL,
	[DT_RET] [datetime] NOT NULL,
	[QT_RET] [int] NULL CONSTRAINT [DF_TNAC_RET_MERC_QT_RET]  DEFAULT ((0)),
	[PL_RET] [float] NULL CONSTRAINT [DF_TNAC_RET_MERC_PL_RET]  DEFAULT ((0)),
 CONSTRAINT [PK_TNAC_RET_MERC] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_PROCESSO_DA] ASC,
	[NR_REF] ASC,
	[CD_MERCADORIA] ASC,
	[NR_LOTE] ASC,
	[DT_RET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
