USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVIA_TRANSPORTE](
	[CD_VIA_TRANSPORTE] [char](2) NOT NULL,
	[NM_VIA_TRANSPORTE] [varchar](20) NULL,
 CONSTRAINT [PK_TVIA_TRANSPORTE] PRIMARY KEY CLUSTERED 
(
	[CD_VIA_TRANSPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
