USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_CPMF](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[IN_CPMF] [char](1) NULL CONSTRAINT [DF_TCLIENTE_C_IN_CPMF_1__33]  DEFAULT ('0'),
 CONSTRAINT [PK_TCLIENTE_CPMF] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
