USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PAGTO](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_FAVORECIDO] [char](5) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[NR_CHEQUE] [char](6) NOT NULL,
	[DT_PAGTO] [datetime] NOT NULL,
	[CD_BANCO] [char](3) NULL,
	[VL_LANCAMENTO] [float] NULL CONSTRAINT [DF_TREL_PAGTO_VL_LANCAMENTO]  DEFAULT (0),
	[CD_USUARIO] [char](4) NULL,
 CONSTRAINT [PK_TREL_PAGTO] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC,
	[CD_CLIENTE] ASC,
	[CD_FAVORECIDO] ASC,
	[CD_ITEM] ASC,
	[NR_CHEQUE] ASC,
	[DT_PAGTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
