USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROC_COMERC](
	[NR_PROC_COMERC] [char](18) NOT NULL,
	[DT_ABERTURA] [datetime] NULL,
	[TP_CLIENTE] [varchar](20) NULL,
	[TP_SALES] [char](1) NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_EMPRESA] [char](5) NULL,
	[CD_VENDEDOR] [char](4) NULL,
	[NM_EMAIL] [varchar](50) NULL,
	[NM_CONTATO] [varchar](50) NULL,
	[CD_USUARIO] [char](4) NULL,
 CONSTRAINT [PK_TPROC_COMERC] PRIMARY KEY NONCLUSTERED 
(
	[NR_PROC_COMERC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
