USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEVENTO_AUTOMATICO](
	[CD_PRODUTO] [char](2) NULL,
	[CD_EVENTO] [char](3) NULL,
	[TX_DOCUMENTACAO] [varchar](500) NULL,
	[IN_BLOQUEAR] [char](1) NULL,
	[TX_PREFIXO] [char](2) NULL,
	[IN_BLOQUEAR_EVENTO_BASE] [char](1) NULL
) ON [PRIMARY]

GO
