USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMBF_RESULTADO](
	[CD_MBF] [int] NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_KPI] [char](12) NULL,
	[NM_KPI] [varchar](200) NULL,
	[TP_KPI] [char](1) NULL,
	[CD_EVENTO_1] [char](3) NULL,
	[CD_EVENTO_2] [char](3) NULL,
	[DIAS_KPI] [int] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[MES_RESULTADO] [int] NULL,
	[ANO_RESULTADO] [int] NULL,
	[CD_MODAL] [char](2) NULL,
	[CD_CNPJ] [char](5) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_ESTUFAGEM] [char](1) NULL,
	[NR_META] [int] NULL,
	[CD_RESULTADO] [int] NULL,
	[NM_QUEBRAS] [varchar](200) NULL,
	[NM_COMPLETO] [varchar](200) NULL,
	[TX_OBS_DESVIO] [varchar](200) NULL,
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF_TMBF_RESULTADO_IN_SELECIONADO]  DEFAULT ((1)),
	[NM_TP_KPI] [varchar](200) NULL,
	[CD_TP_KPI] [char](1) NULL,
	[CD_LI] [char](1) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_PREFIXO] [char](2) NULL,
	[ID_KPI] [int] NULL,
	[CD_TERMINAL] [char](4) NULL,
	[CD_CANAL] [char](1) NULL,
	[DIAS_KPI_CORRIDOS] [int] NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_LOCAL_DES] [char](4) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TMBF_RESULTADO_IDX01] ON [TMBF_RESULTADO]
(
	[CD_MBF] ASC,
	[CD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TMBF_RESULTADO_IDX02] ON [TMBF_RESULTADO]
(
	[CD_MBF] ASC,
	[CD_USUARIO] ASC,
	[MES_RESULTADO] ASC,
	[ANO_RESULTADO] ASC,
	[NM_COMPLETO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
