USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEXONERACAO](
	[CD_EXONERACAO] [char](1) NOT NULL,
	[NM_EXONERACAO] [char](30) NOT NULL,
 CONSTRAINT [PK_TEXONERACAO] PRIMARY KEY NONCLUSTERED 
(
	[CD_EXONERACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
