USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFORECAST](
	[NR_FORECAST] [char](14) NOT NULL CONSTRAINT [DF_TFORECAST_NR_FORECAST]  DEFAULT ('0'),
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_AREA] [char](2) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[NM_FORECAST] [varchar](50) NOT NULL,
	[TP_MODAL_DB] [char](1) NULL,
	[TP_DRAWBACK] [char](1) NULL,
	[TP_EMPRESA_DB] [char](1) NULL,
	[TP_OP_INDUST] [char](1) NULL,
	[IN_COB_CAMBIAL] [char](1) NULL CONSTRAINT [DF__TFORECAST__IN_CO__1B78AB83]  DEFAULT ('1'),
	[NR_ATO_CONC] [varchar](13) NULL,
	[DT_ATO_CONC] [datetime] NULL,
	[DT_ABERTURA] [datetime] NULL,
	[IN_VALIDADO] [char](1) NULL CONSTRAINT [DF_TFORECAST_IN_VALIDADO]  DEFAULT ('0'),
	[CD_PRODUTO] [char](2) NULL,
	[CD_SERVICO] [char](3) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[STATUS] [char](1) NULL,
	[PC_GANHO] [smallint] NULL,
 CONSTRAINT [PK_TFORECAST] PRIMARY KEY CLUSTERED 
(
	[NR_FORECAST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
