USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TITEM_CONTABIL](
	[CD_ITEM_CONTABIL] [char](3) NULL,
	[NM_ITEM_CONTABIL] [varchar](100) NULL,
	[IN_CONTABILIZA] [char](1) NULL,
	[IN_PAGTO_DEB_PROVISAO] [char](1) NULL,
	[IN_PAGTO_CRE_PROVISAO] [char](1) NULL,
	[IN_PAGTO_DEB_BAIXA] [char](1) NULL,
	[IN_PAGTO_CRE_BAIXA] [char](1) NULL,
	[IN_RECEB_DEB_PROVISAO] [char](1) NULL,
	[IN_RECEB_CRE_PROVISAO] [char](1) NULL,
	[IN_RECEB_DEB_BAIXA] [char](1) NULL,
	[IN_RECEB_CRE_BAIXA] [char](1) NULL,
	[CD_MODULO_RECEB_PROV] [char](2) NULL,
	[CD_MODULO_RECEB_BAIX] [char](2) NULL,
	[CD_MODULO_PAGTO_PROV] [char](2) NULL,
	[CD_MODULO_PAGTO_BAIX] [char](2) NULL,
	[CD_HIST_CONTABIL] [varchar](10) NULL,
	[NM_HIST_COMPLEMENTAR] [varchar](250) NULL,
	[NR_OUTRO_PAGTO_CRE_PROVISAO] [varchar](40) NULL,
	[NR_OUTRO_PAGTO_CRE_BAIXA] [varchar](40) NULL,
	[NR_OUTRO_PAGTO_DEB_PROVISAO] [varchar](40) NULL,
	[NR_OUTRO_PAGTO_DEB_BAIXA] [varchar](40) NULL,
	[NR_OUTRO_RECEB_CRE_PROVISAO] [varchar](40) NULL,
	[NR_OUTRO_RECEB_CRE_BAIXA] [varchar](40) NULL,
	[NR_OUTRO_RECEB_DEB_PROVISAO] [varchar](40) NULL,
	[NR_OUTRO_RECEB_DEB_BAIXA] [varchar](40) NULL,
	[CD_HIST_RECEB_PROVISAO] [varchar](10) NULL,
	[CD_HIST_RECEB_BAIXA] [varchar](10) NULL,
	[CD_HIST_PAGTO_PROVISAO] [varchar](10) NULL,
	[CD_HIST_PAGTO_BAIXA] [varchar](10) NULL,
	[NM_HIST_RECEB_PROVISAO] [varchar](250) NULL,
	[NM_HIST_RECEB_BAIXA] [varchar](250) NULL,
	[NM_HIST_PAGTO_PROVISAO] [varchar](250) NULL,
	[NM_HIST_PAGTO_BAIXA] [varchar](250) NULL,
	[CD_HIST_RECEB_PROVISAOII] [varchar](10) NULL,
	[CD_HIST_RECEB_BAIXAII] [varchar](10) NULL,
	[CD_HIST_PAGTO_PROVISAOII] [varchar](10) NULL,
	[CD_HIST_PAGTO_BAIXAII] [varchar](10) NULL,
	[NM_HIST_RECEB_PROVISAOII] [varchar](250) NULL,
	[NM_HIST_RECEB_BAIXAII] [varchar](250) NULL,
	[NM_HIST_PAGTO_PROVISAOII] [varchar](250) NULL,
	[NM_HIST_PAGTO_BAIXAII] [varchar](250) NULL
) ON [PRIMARY]

GO
