USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOG_TRANSMISSAO](
	[NR_SEQUENCIA] [int] IDENTITY(1,1) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_TRANSMISSAO] [char](1) NOT NULL,
	[DT_GERACAO] [datetime] NOT NULL,
	[IN_TRANSMISSAO] [char](1) NULL,
	[NR_TRANSMISSAO] [char](10) NULL,
	[IN_DIAGNOSTICO] [char](1) NULL,
	[NR_REGISTRO] [char](10) NULL,
	[DT_ATUALIZACAO] [datetime] NULL
) ON [PRIMARY]

GO
