USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATZ_MYINDAIA_PEDIDO_AUX](
	[CD_ATUALIZACAO] [int] NOT NULL,
	[NR_REFERENCIA] [char](30) NULL,
	[NR_ITEM] [char](3) NULL,
	[NM_TABELA] [varchar](50) NULL,
	[AP_USUARIO] [char](15) NULL,
	[NR_PARCIAL] [int] NULL,
	[CD_EMPRESA] [char](5) NULL,
	[DT_ATUALIZACAO] [datetime] NULL
) ON [PRIMARY]

GO
