USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRAFICO_SUSPENSAO](
	[NR_IDENTIFICADOR] [int] NULL,
	[PREVISTO_EXP] [float] NULL,
	[REALIZADO_EXP] [float] NULL,
	[FALTANDO_EXP] [float] NULL,
	[PREVISTO_IMP] [float] NULL,
	[REALIZADO_IMP] [float] NULL,
	[FALTANDO_IMP] [float] NULL,
	[PREVISTO_ATO] [float] NULL,
	[REALIZADO_ATO] [float] NULL
) ON [PRIMARY]

GO
