USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCT_CUSTO](
	[CD_CT_CUSTO] [char](3) NOT NULL,
	[NM_CT_CUSTO] [char](40) NOT NULL,
 CONSTRAINT [PK_TCT_CUSTO] PRIMARY KEY NONCLUSTERED 
(
	[CD_CT_CUSTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
