USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TACESSO_SCX_EXP](
	[CD_ACESSO] [char](10) NOT NULL,
	[NM_USUARIO] [varchar](30) NOT NULL,
	[CD_SENHA_SCX] [varchar](30) NOT NULL,
	[CPF_USUARIO] [char](11) NULL,
	[CNPJ_REPRES] [char](14) NULL,
	[CPF_REPRES] [char](11) NULL,
	[IN_ATIVO] [char](1) NOT NULL,
 CONSTRAINT [PK_TACESSO_SCX_EXP] PRIMARY KEY NONCLUSTERED 
(
	[CD_ACESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
