USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOCALIDADES](
	[CD_LOCALIDADE] [char](5) NOT NULL,
	[NM_PAIS] [varchar](255) NULL,
	[CD_PAIS] [char](2) NULL,
	[NM_ESTADO] [varchar](255) NULL,
	[CD_ESTADO] [char](15) NULL,
	[NM_CIDADE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_LOCALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
