USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPO](
	[NR_PROCESSO] [char](30) NOT NULL,
	[NR_IDENT_USUARIO] [char](15) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_CONSIGNATARIO] [char](5) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[CD_REPRESENTANTE] [char](5) NULL,
	[CD_MOD_PAGAMENTO] [char](2) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_REGIME_TRIB] [char](1) NULL,
	[CD_PAIS_PROCEDENCIA] [char](3) NULL,
	[CD_MOEDA_NEG] [char](3) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_TP_DECLARACAO] [char](2) NULL,
	[CD_URF_DESPACHO] [char](7) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_TRANSP_INTERN] [char](4) NULL,
	[CD_BANDEIRA_VEIC] [char](3) NULL,
	[CD_SETOR_ARMAZENAGEM] [char](3) NULL,
	[CD_LOCAL_EMBARQUE] [char](4) NULL,
	[CD_AGENTE_CARGA] [char](4) NULL,
	[CD_URF_ENTRADA] [char](7) NULL,
	[CD_RECINTO_ALFAND] [char](7) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[CD_MOEDA_CARGA] [char](3) NULL,
	[CD_LOCAL_INCOTERM] [char](10) NULL,
	[CD_TX_JUROS] [char](4) NULL,
	[CD_INSTIT_FINANC] [char](2) NULL,
	[CD_MOTIVO_CAMBIO_SEM_COBERT] [char](2) NULL,
	[CD_BARRA] [char](11) NULL,
	[CD_MET_VALORACAO_ADUAN] [char](2) NULL,
	[DT_ABERTURA] [datetime] NULL,
	[DT_EMISSAO_DOC_CARGA] [datetime] NULL,
	[DT_CHEGADA_CARGA] [datetime] NULL,
	[DT_FATURA] [datetime] NULL,
	[IN_APLICACAO_MERC] [char](1) NULL,
	[IN_COMISSAO] [bit] NOT NULL CONSTRAINT [DF_TPO_IN_COMISSAO]  DEFAULT (0),
	[IN_DESCONTO] [bit] NOT NULL CONSTRAINT [DF_TPO_IN_DESCONTO]  DEFAULT (0),
	[IN_TP_COMISSAO] [char](1) NULL,
	[IN_TP_DESCONTO] [char](1) NULL,
	[IN_INDICADOR_CONSIG_IMPORT] [bit] NOT NULL CONSTRAINT [DF_TPO_IN_CONSIG_IMPORT]  DEFAULT (0),
	[IN_INDICADOR_PROC] [char](1) NULL,
	[IN_VINC_IMPO_EXPO] [char](1) NULL,
	[IN_COND_MERCADORIA] [char](1) NULL,
	[IN_FABR_EXPOR_IMP] [char](1) NULL,
	[IN_INDIC_MULTMODAL] [bit] NOT NULL CONSTRAINT [DF_TPO_IN_INDIC_MULTMODAL]  DEFAULT (0),
	[IN_FUNDAP] [bit] NOT NULL CONSTRAINT [DF_TPO_IN_FUNDAP]  DEFAULT (0),
	[IN_UTILIZ_CARGA] [char](1) NULL,
	[IN_INDIC_TX_JUROS] [bit] NOT NULL CONSTRAINT [DF_TPO_IN_INDIC_TX_JUROS]  DEFAULT (0),
	[IN_SEGURO] [char](1) NULL CONSTRAINT [DF_TPO_IN_SEGURO]  DEFAULT (0),
	[NR_PLACA_VEICULO] [varchar](15) NULL,
	[NR_MANIFESTO] [char](15) NULL,
	[NR_DOC_MASTER] [char](30) NULL,
	[NR_DOC_HOUSE] [char](30) NULL,
	[NR_BACEN] [char](8) NULL,
	[NR_FATURA] [varchar](15) NULL,
	[NM_IDENT_CRT] [char](11) NULL,
	[NM_VEICULO] [varchar](30) NULL,
	[PC_COMISSAO] [float] NULL CONSTRAINT [DF_TPO_PC_COMISSAO]  DEFAULT (0),
	[PC_DESCONTO] [float] NULL CONSTRAINT [DF_TPO_PC_DESCONTO]  DEFAULT (0),
	[PC_SEGURO] [float] NULL CONSTRAINT [DF_TPO_PC_SEGURO]  DEFAULT (0),
	[PC_COMISSAO_AGENTE] [float] NULL CONSTRAINT [DF_TPO_PC_COMISSAO_AGENTE]  DEFAULT (0),
	[PL_PO] [float] NULL CONSTRAINT [DF_TPO_PL_PO]  DEFAULT (0),
	[PB_PO] [float] NULL CONSTRAINT [DF_TPO_PB_PO]  DEFAULT (0),
	[QT_TOTAL_PESO] [float] NULL CONSTRAINT [DF_TPO_QT_TOTAL_PESO]  DEFAULT (0),
	[QT_PORC_ICMS] [float] NULL CONSTRAINT [DF_TPO_QT_PORC_ICMS]  DEFAULT (0),
	[QT_TOTAL_ITENS] [char](3) NULL CONSTRAINT [DF_TPO_QT_TOTAL_ITENS]  DEFAULT (0),
	[QT_PORC_RED_ICMS] [float] NULL CONSTRAINT [DF_TPO_QT_PORC_RED_ICMS]  DEFAULT (0),
	[QT_PERIODICIDADE] [char](3) NULL,
	[TP_COBERT_CAMBIO] [char](1) NULL,
	[TP_CAMBIO] [bit] NOT NULL CONSTRAINT [DF_TPO_TP_CAMBIO]  DEFAULT (0),
	[TP_DOC_CARGA] [char](2) NULL,
	[TP_FRETE] [char](1) NULL,
	[TP_SEGURO] [char](1) NULL,
	[TP_MOD_DESPACHO] [char](1) NULL,
	[TP_MANIFESTO] [char](1) NULL,
	[TX_JUROS] [float] NULL CONSTRAINT [DF_TPO_TX_JUROS]  DEFAULT (0),
	[TX_OBSERVACAO] [text] NULL,
	[VL_COMISSAO] [float] NULL CONSTRAINT [DF_TPO_VL_COMISSAO]  DEFAULT (0),
	[VL_CARGA] [float] NULL CONSTRAINT [DF_TPO_VL_CARGA]  DEFAULT (0),
	[VL_CAMBIO] [float] NULL CONSTRAINT [DF_TPO_VL_CAMBIO]  DEFAULT (0),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TPO_VL_DESCONTO]  DEFAULT (0),
	[VL_FRETE_PREPAID] [float] NULL CONSTRAINT [DF_TPO_VL_FRETE_PREPAID]  DEFAULT (0),
	[VL_FRETE_COLLECT] [float] NULL CONSTRAINT [DF_TPO_VL_FRETE_COLLECT]  DEFAULT (0),
	[VL_FRETE_TERRIT_NAC] [float] NULL CONSTRAINT [DF_TPO_VL_FRETE_TERRIT_NAC]  DEFAULT (0),
	[VL_SEGURO] [float] NULL CONSTRAINT [DF_TPO_VL_SEGURO]  DEFAULT (0),
	[VL_TOTAL] [float] NULL CONSTRAINT [DF_TPO_VL_TOTAL]  DEFAULT (0),
	[VL_TOTAL_PARCELA] [float] NULL CONSTRAINT [DF_TPO_VL_TOTAL_PARCELA]  DEFAULT (0),
	[VL_PAGTO_ANTECIPADO] [float] NULL CONSTRAINT [DF_TPO_VL_PAGTO_ANTECIPADO]  DEFAULT (0),
	[VL_PAGTO_VISTA] [float] NULL CONSTRAINT [DF_TPO_VL_PAGTO_VISTA]  DEFAULT (0),
	[VL_PERIODIC_MENSAL] [float] NULL CONSTRAINT [DF_TPO_VL_PERIODIC_MENSAL]  DEFAULT (0),
	[VL_DESPESAS] [float] NULL CONSTRAINT [DF_TPO_VL_DESPESAS]  DEFAULT (0),
	[VL_DESCONTOS] [float] NULL CONSTRAINT [DF_TPO_VL_DESCONTOS]  DEFAULT (0),
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF_TPO_IN_SELECIONADO]  DEFAULT ('0'),
	[IN_MONTADO] [char](1) NULL CONSTRAINT [DF_TPO_IN_MONTADO]  DEFAULT ('0'),
	[IN_IND_COND_MERC] [bit] NOT NULL CONSTRAINT [DF_TPO_IN_IND_COND_MERC]  DEFAULT (0),
	[IN_IND_CAMBIO_ITENS] [bit] NOT NULL CONSTRAINT [DF_TPO_IN_IND_CAMBIO_ITENS]  DEFAULT (0),
	[NR_PARCELAS] [char](3) NULL,
	[IN_PERIODICIDADE] [char](1) NULL,
	[QT_TOTAL_DISPONIVEL] [float] NULL CONSTRAINT [DF__TPO__QT_TOTAL_DI__7C12ACBE]  DEFAULT (0),
	[CD_USUARIO_MONTA] [char](4) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_COMPRADOR] [char](4) NULL,
	[CD_TERMO_PAGTO] [char](6) NULL,
	[DT_NECESSIDADE] [datetime] NULL,
	[CD_TIPO_FRETE] [char](1) NULL,
	[CD_LOCAL_DESEMBARQUE] [char](4) NULL,
	[IN_ENTREPOSTO] [char](1) NULL CONSTRAINT [DF__TPO__IN_ENTREPOS__01AC55DA]  DEFAULT ('0'),
	[IN_FATURADO] [char](1) NULL CONSTRAINT [DF__TPO__IN_FATURADO__02A07A13]  DEFAULT ('0'),
	[IN_IMEDIATO] [char](1) NULL CONSTRAINT [DF__TPO__IN_IMEDIATO__03949E4C]  DEFAULT ('0'),
	[VL_FRETE_INTERNO] [float] NULL CONSTRAINT [DF__TPO__VL_FRETE_IN__0488C285]  DEFAULT (0),
	[VL_EMBALAGEM] [float] NULL CONSTRAINT [DF__TPO__VL_EMBALAGE__057CE6BE]  DEFAULT (0),
	[TX_OBS_INTERNO] [text] NULL,
	[VL_PB_EMBALAGEM] [float] NULL CONSTRAINT [DF__TPO__VL_PB_EMBAL__1F27AA28]  DEFAULT (0),
	[VL_PL_EMBALAGEM] [float] NULL CONSTRAINT [DF__TPO__VL_PL_EMBAL__201BCE61]  DEFAULT (0),
	[NR_DA] [char](10) NULL CONSTRAINT [DF__TPO__NR_DA__5D79E25C]  DEFAULT (''),
	[CD_SERVICO] [char](3) NULL,
	[TX_VOLUMES] [text] NULL,
	[TX_INF_ENTREPOSTO] [text] NULL,
	[TP_NEGOCIACAO] [char](3) NULL,
	[NR_ARTICULO] [char](15) NULL,
	[NR_ORDEM] [varchar](18) NULL,
	[CD_USUARIO_INT] [char](4) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_BANCO] [char](5) NULL,
	[CD_USUARIO] [char](4) NULL,
	[TX_OBS] [text] NULL,
	[CD_CANAL] [char](1) NULL,
	[IN_CARGA_PERIGOSA] [char](1) NULL DEFAULT ('0'),
	[VL_M3] [float] NULL DEFAULT (0),
	[NM_EMPRESA_BASF] [char](4) NULL,
	[IN_CALCULADO] [char](1) NULL,
	[DT_CONHECIMENTO] [datetime] NULL,
	[CD_TRANSP_INTERNAC] [char](4) NULL,
	[NR_VIAGEM] [char](4) NULL,
	[DT_VIAGEM] [datetime] NULL,
	[CD_LOCAL_DESTINO] [char](4) NULL,
	[CD_EMPRESA] [char](5) NOT NULL,
	[IN_WEB] [char](1) NULL,
	[CD_TP_MANIFESTO] [char](1) NULL,
	[CD_TIPO_DOCTO_CARGA] [char](1) NULL,
	[NR_DOCTO_CARGA_MASTER] [varchar](30) NULL,
	[NR_DOCTO_CARGA_HOUSE] [varchar](30) NULL,
	[CD_UTILIZACAO_CARGA] [char](1) NULL,
	[NR_HOUSE] [varchar](30) NULL,
	[NR_MASTER] [varchar](30) NULL,
 CONSTRAINT [PK_TPO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_NR_DA] ON [TPO]
(
	[NR_DA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_TPO] ON [TPO]
(
	[NR_PROCESSO] ASC,
	[CD_SERVICO] ASC,
	[CD_IMPORTADOR] ASC,
	[CD_EXPORTADOR] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
