USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSALDO_CC_CLI](
	[CD_CLIENTE] [char](5) NOT NULL,
	[DT_SALDO] [datetime] NOT NULL,
	[VL_SALDO] [float] NOT NULL CONSTRAINT [DF_TSALDO_CC_CLI_VL_SALDO]  DEFAULT (0),
	[CD_UNID_NEG] [char](2) NOT NULL,
 CONSTRAINT [PK_TSALDO_CC_CLI] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[CD_CLIENTE] ASC,
	[DT_SALDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
