USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_ARMAZEM_DESPESAS_CANCELADAS](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
 CONSTRAINT [PK_TPROCESSO_ARMAZEM_DESPESAS_CANCELADAS] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
