USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREMESSA](
	[NR_REMESSA] [char](10) NOT NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_MOEDA] [char](3) NULL,
	[IN_EMISSAO] [char](1) NULL,
	[VL_BANCO] [float] NULL,
	[VL_CORRETORA] [float] NULL,
	[VL_TOTAL] [float] NULL,
	[VL_MOEDA] [float] NULL,
	[VL_TOTAL_REAL] [float] NULL,
	[DT_REMESSA] [datetime] NULL,
	[DT_ENVIO_REMESSA] [datetime] NULL,
	[NR_CONTRATO_CAMBIO] [char](20) NULL,
	[CD_BANCO] [char](3) NULL,
	[CD_VIA_TRANSP] [char](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE CLUSTERED INDEX [IX_TREMESSA] ON [TREMESSA]
(
	[NR_REMESSA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
