USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CTRL_DEMURRAGE](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_GRUPO] [char](3) NULL,
	[NR_CNTR] [char](20) NULL,
	[DT_ENTRADA_ARM] [datetime] NULL,
	[NR_CONHECIMENTO] [char](18) NULL,
	[VL_CHEQUE_CAUCAO] [float] NULL,
	[NR_CHEQUE_CAUCAO] [char](7) NULL,
	[DT_EMISSAO] [datetime] NULL,
	[NM_NAVIO] [char](15) NULL
) ON [PRIMARY]

GO
