USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFUND_LEG_TRIB_PIS_COFINS](
	[CODIGO] [char](2) NOT NULL,
	[DESCRICAO] [char](120) NULL,
	[REG_TRIBUT_1] [char](1) NULL,
	[REG_TRIBUT_2] [char](1) NULL,
	[REG_TRIBUT_3] [char](1) NULL,
	[REG_TRIBUT_4] [char](1) NULL,
 CONSTRAINT [PK_TFUND_LEG_TRIB_PIS_COFINS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
