USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROC_ANUENTES](
	[NR_PROCESSO] [char](20) NOT NULL,
	[ORGAO] [varchar](16) NOT NULL,
	[PROCESSO] [varchar](120) NULL,
	[CGC] [char](18) NULL
) ON [PRIMARY]

GO
