USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCALCULO_RATEIO_DESP](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[CD_AREA] [char](2) NOT NULL,
	[TP_RATEIO_DESP] [char](1) NULL,
	[OBS] [char](50) NULL,
	[NR_PROC_PO_NR_ITEM_PO] [char](21) NOT NULL,
	[CD_REFERENCIA] [char](30) NOT NULL,
 CONSTRAINT [PK_TCALCULO_RATEIO_DESP] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC,
	[CD_AREA] ASC,
	[NR_PROC_PO_NR_ITEM_PO] ASC,
	[CD_REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
