USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOCAL_EMBARQUE](
	[CODIGO] [char](4) NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
	[CD_UNID_NEG_LOCAL] [char](2) NULL,
	[CD_PAIS] [char](3) NULL,
	[CD_UF] [char](2) NULL,
	[CD_SIGLA] [char](3) NULL,
	[NM_CIDADE] [varchar](50) NULL,
 CONSTRAINT [PK_TLOCAL_EMBARQUE] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
