USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATO_CONC_SUSP](
	[NR_FORECAST] [char](14) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
	[CD_DELEGACIA] [char](2) NULL,
	[TP_SIT_ATO_CONC] [char](1) NULL,
	[QT_ADITIVOS] [int] NULL,
	[NR_ATO_CONC] [varchar](13) NULL,
	[DT_EMISSAO] [datetime] NULL,
	[DT_VENCTO_FINAL] [datetime] NULL,
	[IN_BAIXA_FINAL] [char](1) NULL CONSTRAINT [DF_TATO_CONC_SUSP_IN_BAIXA_FINAL]  DEFAULT ('0'),
	[DT_BAIXA_FINAL] [datetime] NULL,
	[IN_PROD_EXP] [char](1) NULL CONSTRAINT [DF_TATO_CONC_SUSP_IN_PROD_EXP]  DEFAULT ('0'),
	[IN_PROD_FORN] [char](1) NULL CONSTRAINT [DF_TATO_CONC_SUSP_IN_PROD_FORN]  DEFAULT ('0'),
	[VL_IMP_FORECAST] [float] NULL CONSTRAINT [DF_TATO_CONC_SUSP_VL_IMP_FORECAST]  DEFAULT (0),
	[VL_IMP_REALIZADO] [float] NULL CONSTRAINT [DF_TATO_CONC_SUSP_VL_IMP_REALIZADO]  DEFAULT (0),
	[VL_IMP_VAR_CAMBIAL] [float] NULL CONSTRAINT [DF_TATO_CONC_SUSP_VL_IMP_VAR_CAMBIAL]  DEFAULT (0),
	[VL_EXP_FORECAST] [float] NULL CONSTRAINT [DF_TATO_CONC_SUSP_VL_EXP_FORECAST]  DEFAULT (0),
	[VL_EXP_REALIZADO] [float] NULL CONSTRAINT [DF_TATO_CONC_SUSP_VL_EXP_REALIZADO]  DEFAULT (0),
	[VL_EXP_VAR_CAMBIAL] [float] NULL CONSTRAINT [DF_TATO_CONC_SUSP_VL_EXP_VAR_CAMBIAL]  DEFAULT (0),
	[IN_AVISO_ADITIVO] [char](1) NULL,
	[IN_STATUS_DB] [char](1) NULL,
	[DT_VIGENCIA] [datetime] NULL,
	[TP_DRAWBACK] [char](1) NULL CONSTRAINT [DF_TATO_CONC_SUSP_TP_DRAWBACK]  DEFAULT ('0'),
 CONSTRAINT [PK_TATO_CONC_SUSP] PRIMARY KEY CLUSTERED 
(
	[NR_FORECAST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
