USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_FOLLOW_UP](
	[CD_TP_FOLLOW_UP] [char](2) NOT NULL,
	[NM_TP_FOLLOW_UP] [varchar](20) NULL,
	[IN_MOD_FOLLOW_UP] [char](1) NULL CONSTRAINT [DF_TTP_FOLLOW_IN_MOD_FOLL2__10]  DEFAULT ('0'),
 CONSTRAINT [PK_TTP_FOLLOW_UP] PRIMARY KEY CLUSTERED 
(
	[CD_TP_FOLLOW_UP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
