USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_FAIXA_VALOR](
	[TP_FAIXA_VALOR] [char](1) NOT NULL,
	[NM_TP_FAIXA_VALOR] [char](20) NOT NULL,
 CONSTRAINT [PK_TTP_FAIXA_VALOR] PRIMARY KEY CLUSTERED 
(
	[TP_FAIXA_VALOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
