USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DESTINO](
	[CD_TP_DESTINO] [char](1) NOT NULL,
	[NM_TP_DESTINO] [char](20) NULL,
	[AP_TP_DESTINO] [char](10) NULL,
 CONSTRAINT [PK_TTP_DESTINO] PRIMARY KEY CLUSTERED 
(
	[CD_TP_DESTINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
