USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONVERSAO_CAMBIO](
	[Codigo] [char](3) NULL,
	[Descricao] [char](120) NULL,
	[Taxa_Conversao] [char](9) NULL,
	[Vigencia_Inicio_Taxa] [char](10) NULL,
	[Vigencia_Fim_Taxa] [char](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE NONCLUSTERED INDEX [PrimaryKey] ON [TCONVERSAO_CAMBIO]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
