USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRANK_RECEITA](
	[nr_identificador] [int] NOT NULL,
	[cd_unid_neg] [char](2) NOT NULL,
	[soma_receitas] [float] NOT NULL,
	[cd_cliente] [char](5) NOT NULL,
	[nr_abertos] [int] NOT NULL,
	[nr_faturas] [int] NOT NULL,
	[media_faturas] [float] NOT NULL,
	[classificacao_abertos] [int] NOT NULL,
	[porcentagem] [float] NOT NULL,
	[CD_PRODUTO] [char](2) NULL,
 CONSTRAINT [PK_TRANK_RECEITA] PRIMARY KEY CLUSTERED 
(
	[nr_identificador] ASC,
	[cd_unid_neg] ASC,
	[soma_receitas] ASC,
	[cd_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
