USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDEDUCAO_VALORACAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ADICAO] [char](3) NOT NULL,
	[CD_MET_DEDUC_VALOR] [char](3) NOT NULL,
	[VL_DEDUCAO_MNEG] [float] NULL CONSTRAINT [DF_TDEDUCAO_V_VL_DEDUCAO2__122]  DEFAULT (0),
	[CD_MD_NEGOC_DEDUC] [char](3) NULL,
	[VL_DEDUCAO_MN] [float] NULL CONSTRAINT [DF_TDEDUCAO_V_VL_DEDUCAO1__122]  DEFAULT (0),
 CONSTRAINT [PK_TDEDUCAO_VALORACAO_1__10] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[CD_MET_DEDUC_VALOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE NONCLUSTERED INDEX [PrimaryKey] ON [TDEDUCAO_VALORACAO]
(
	[NR_PROCESSO] ASC,
	[NR_ADICAO] ASC,
	[CD_MET_DEDUC_VALOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
