USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATRIB_VALORACAO_NVE](
	[CD_NOMENC_NCM] [char](8) NOT NULL,
	[CD_ATRIBUTO_NCM] [char](2) NOT NULL,
	[IN_MULTIPLA_ESPECIF] [char](1) NULL,
	[CD_NIVEL_NCM] [char](3) NULL,
	[NM_ATRIBUTO] [char](249) NULL,
 CONSTRAINT [PK_TATRIB_VALORACAO_NVE_1__10] PRIMARY KEY CLUSTERED 
(
	[CD_NOMENC_NCM] ASC,
	[CD_ATRIBUTO_NCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE NONCLUSTERED INDEX [PrimaryKey] ON [TATRIB_VALORACAO_NVE]
(
	[CD_NOMENC_NCM] ASC,
	[CD_ATRIBUTO_NCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
