USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRETIFICA_DI](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[IN_GERAL] [char](1) NULL,
	[NR_ADICAO] [char](3) NULL,
	[TX_MOTIVO] [char](500) NULL,
	[NR_PROTOCOLO] [char](25) NULL,
	[DT_PROCOTOLO] [datetime] NULL,
	[VL_MULTA] [float] NULL,
	[IN_INICIATIVA_PROPRIA] [char](1) NULL,
 CONSTRAINT [PK_TRETIFICA_DI] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
