USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PO_PLANILHA](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_REFERENCIA] [char](30) NULL,
	[NR_ITEM] [char](3) NULL,
	[NR_ORDEM] [varchar](30) NULL,
	[CD_MERCADORIA] [varchar](15) NULL,
	[AP_MERCADORIA] [varchar](25) NULL,
	[NM_IMPORTADOR] [varchar](50) NULL,
	[CD_REF_IMP] [varchar](15) NULL,
	[NM_MODALIDADE] [varchar](20) NULL,
	[NM_CLIENTE] [varchar](50) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[NM_PORTO] [varchar](50) NULL,
	[NM_NAVIO_VOO] [varchar](40) NULL,
	[NM_AREA] [varchar](50) NULL,
	[IN_NEC_LI] [char](3) NULL,
	[DT_EMISSAO] [datetime] NULL,
	[DT_NECESSIDADE] [datetime] NULL,
	[DT_ALOCADO] [datetime] NULL,
	[DT_RESERVA] [datetime] NULL,
	[DT_ETD] [datetime] NULL,
	[DT_ETA] [datetime] NULL,
	[DT_DOC] [datetime] NULL,
	[DT_AUT_EMBARQUE] [datetime] NULL,
	[DT_VENC_LI] [datetime] NULL,
	[DT_DEF_LI] [datetime] NULL,
	[TX_OBS] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
