USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREF_CLIENTE_LWW](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_SEQUENCIA] [char](2) NOT NULL,
	[QT_MERCADORIA] [float] NULL,
	[NM_MERCADORIA] [varchar](30) NULL,
	[CD_MERCADORIA] [varchar](15) NULL,
	[VL_MLE_MN] [float] NULL,
	[PL_REFERENCIA] [float] NULL,
 CONSTRAINT [PK_TREF_CLIENTE_LWW] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
