USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_USUARIO] [char](4) NULL,
	[DT_ABERTURA] [datetime] NULL,
	[CD_RESTRICAO] [char](1) NULL,
	[CD_LIBERADOR] [char](4) NULL,
	[DT_LIBERACAO] [datetime] NULL,
	[IN_CANCELADO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_CANCELADO1__50]  DEFAULT ('0'),
	[CD_CANCELADOR] [char](4) NULL,
	[DT_CANCELAMENTO] [datetime] NULL,
	[CD_REPRESENTANTE] [char](5) NULL,
	[NR_PROC_RISC] [char](5) NULL,
	[NR_PROC_PARCEIRO] [char](8) NULL,
	[TX_MERCADORIA] [text] NULL,
	[IN_MERC_PERIGOSA] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_MERC_PERI2__50]  DEFAULT ('0'),
	[TX_OBSERVACOES] [text] NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[VL_MLE_MNEG] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_MLE_MNEG26__50]  DEFAULT (0),
	[VL_MLE_MN] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_MLE_MN_25__50]  DEFAULT (0),
	[CD_MOEDA_FRETE] [char](3) NULL,
	[VL_FRETE_PREPAID_MNEG] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_FRETE_PR20__50]  DEFAULT (0),
	[VL_FRETE_COLLECT_MNEG] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_FRETE_CO17__50]  DEFAULT (0),
	[VL_FRETE_MN] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_FRETE_MN19__50]  DEFAULT (0),
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[VL_SEGURO_MNEG] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_SEGURO_M29__50]  DEFAULT (0),
	[VL_SEGURO_MN] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_SEGURO_M28__50]  DEFAULT (0),
	[CD_AGENTE] [char](4) NULL,
	[VL_TAXA_FRETE] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_TAXA_FRE30__50]  DEFAULT (0),
	[VL_CIF_DOLAR] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_CIF_DOLA14__50]  DEFAULT (0),
	[VL_CIF_MN] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_CIF_MN_15__50]  DEFAULT (0),
	[VL_II_MN] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_II_MN_23__50]  DEFAULT (0),
	[VL_IPI_MN] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_IPI_MN_24__50]  DEFAULT (0),
	[VL_ICMS_MN] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_ICMS_MN_22__50]  DEFAULT (0),
	[CD_ARMAZEM_ATRACACAO] [char](4) NULL,
	[CD_ARMAZEM_DESCARGA] [char](4) NULL,
	[CD_ARMAZEM_ESTOCAGEM] [char](4) NULL,
	[CD_TRANSP_NAC] [char](4) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[NR_VOO] [char](18) NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[NR_CONHECIMENTO_MASTER] [char](30) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_LOCAL_EMBARQUE] [char](4) NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[CD_LOCAL_DESEMBARQUE] [char](4) NULL,
	[NR_DI] [char](10) NULL,
	[QT_REF_CLIENTE] [int] NULL CONSTRAINT [DF_TPROCESSO_QT_REF_CLIE12__50]  DEFAULT (0),
	[QT_SOLINUM] [int] NULL CONSTRAINT [DF_TPROCESSO_QT_SOLINUM_13__50]  DEFAULT (0),
	[QT_RECEBIMENTO] [int] NULL CONSTRAINT [DF_TPROCESSO_QT_RECEBIME11__50]  DEFAULT (0),
	[QT_DEVOLUCOES] [int] NULL CONSTRAINT [DF_TPROCESSO_QT_DEVOLUCOE9__50]  DEFAULT (0),
	[QT_LANC_FAT] [int] NULL CONSTRAINT [DF_TPROCESSO_QT_LANC_FAT10__50]  DEFAULT (0),
	[BASE_CALCULO_SDA] [float] NULL CONSTRAINT [DF_TPROCESSO_BASE_CALCULO3__50]  DEFAULT (0),
	[VL_SDA] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_SDA_27__50]  DEFAULT (0),
	[VL_CONTR_ASSIST] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_CONTR_AS16__50]  DEFAULT (0),
	[DT_DISTRIBUICAO] [datetime] NULL,
	[CD_DESPACHANTE_SDA] [char](3) NULL,
	[CD_STATUS_SDA] [char](1) NULL CONSTRAINT [DF_TPROCESSO_CD_STATUS_SD4__50]  DEFAULT ('0'),
	[VL_FRETE_INTERNO] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_FRETE_IN18__50]  DEFAULT (0),
	[NM_LOCAL_NF_LWW] [varchar](20) NULL,
	[DT_CONTABIL_LWW] [datetime] NULL,
	[TX_OBS_LWW] [text] NULL,
	[DT_ATRACACAO] [datetime] NULL,
	[DT_DESCARGA] [datetime] NULL,
	[DT_ESTOCAGEM] [datetime] NULL,
	[DT_CONHECIMENTO] [datetime] NULL,
	[DT_DESEMBARACO] [datetime] NULL,
	[IN_LIBERADO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_LIBERADO_6__50]  DEFAULT ('0'),
	[DT_EMBARQUE] [datetime] NULL,
	[CD_REGIME_TRIB] [char](1) NULL,
	[IN_CHEQUE_SDA] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_CHEQUE_SD5__50]  DEFAULT ('0'),
	[IN_LIQUIDADO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_LIQUIDADO7__50]  DEFAULT ('0'),
	[VL_FRETE_TNAC_MNEG] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_FRETE_TN21__50]  DEFAULT (0),
	[IN_PRODUCAO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_PRODUCAO_8__50]  DEFAULT ('1'),
	[NR_DDE] [char](11) NULL,
	[IN_SDA_PAGO] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_SDA_PAGO_1__12]  DEFAULT ('0'),
	[TX_OBS_INT] [text] NULL,
	[CD_CANAL] [char](1) NULL,
	[IN_URGENTE] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_URGENTE]  DEFAULT ('0'),
	[CD_ANALISTA_CLIENTE] [char](4) NULL,
	[CD_ANALISTA_COMISSARIA] [char](4) NULL,
	[NR_PRESENCA_CARGA] [char](36) NULL,
	[DT_PRESENCA_CARGA] [datetime] NULL,
	[IN_POR_VEICULO] [char](1) NULL,
	[CD_USUARIO_REPASSA] [char](4) NULL,
	[NR_VIAGEM] [char](15) NULL,
	[IN_IMP_ARM] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_IMP_ARM]  DEFAULT ('0'),
	[CD_TRANSP_NAC_DOC] [char](4) NULL,
	[IN_DI_LIBERADA] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_DI_LIBERADA]  DEFAULT ('0'),
	[CD_LIBERADOR_DI] [char](4) NULL,
	[NR_AVERBACAO] [char](10) NULL,
	[VL_PREMIO_SEGURO] [float] NULL CONSTRAINT [DF_TPROCESSO_VL_PREMIO_SEGURO]  DEFAULT (0),
	[TP_BANCO_EXP] [char](1) NULL,
	[CD_BANCO_EXP] [char](5) NULL,
	[CD_AGENTE_SEGURO] [char](5) NULL,
	[VL_COMPL_SDA] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_CO__074F5540]  DEFAULT (0),
	[NR_DA] [char](10) NULL,
	[CD_CONTATO] [char](3) NULL,
	[CD_AREA] [char](2) NULL,
	[NR_MANIFESTO] [char](15) NULL,
	[NM_CONEXAO] [char](18) NULL,
	[NR_PROCESSO_EXP_TEMP] [char](5) NULL,
	[DT_VENC_PROCESSO_EXP_TEMP] [datetime] NULL,
	[NR_DI_RETORNO] [char](10) NULL,
	[VL_PESO_LIQUIDO] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_PE__3D421CF4]  DEFAULT (0),
	[VL_PESO_BRUTO] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_PE__3E36412D]  DEFAULT (0),
	[CD_INCOTERM] [char](3) NULL,
	[NR_PROCESSO_VINC] [char](14) NULL,
	[TP_MIC_DTA] [char](1) NULL CONSTRAINT [DF__TPROCESSO__TP_MI__3F2A6566]  DEFAULT ('T'),
	[TP_DESEMB_MIC_DTA] [char](1) NULL CONSTRAINT [DF__TPROCESSO__TP_DE__401E899F]  DEFAULT ('T'),
	[CD_UNID_NEG_VINC] [char](2) NULL,
	[CD_PRODUTO_VINC] [char](2) NULL,
	[NR_DESPACHO] [char](10) NULL,
	[DT_CHEGADA] [datetime] NULL,
	[DT_APRESENTACAO] [datetime] NULL,
	[DT_CRUZE] [datetime] NULL,
	[DT_SOL_NUM] [datetime] NULL,
	[DT_REC_NUM] [datetime] NULL,
	[DT_RECEB_DOC] [datetime] NULL,
	[TP_PROCESSO] [char](1) NULL,
	[NM_ATO_DECLARATORIO] [varchar](40) NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[DT_REG_DDE] [datetime] NULL,
	[IN_ETIQUETA] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_ETIQUETA1__50]  DEFAULT ('0'),
	[TP_FRETE] [char](1) NULL,
	[NR_FATURA] [varchar](30) NULL,
	[CD_EMP_EST] [char](5) NULL,
	[NR_PLACA_VEICULO] [char](15) NULL,
	[NR_PERIODO_ARMAZENAGEM] [int] NULL,
	[DT_VENCTO_ARMAZENAGEM] [datetime] NULL,
	[VL_FRETE_CUSTO] [float] NULL,
	[VL_M3] [float] NULL CONSTRAINT [DF__TPROCESSO__VL_M3__2011ACC0]  DEFAULT (0),
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[IN_ENTREPOSTO] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_EN__6BDDDBA3]  DEFAULT ('0'),
	[NR_PROCESSO_OR_ENTREPOSTO] [char](18) NULL,
	[CD_TRANSPORTADOR] [char](4) NULL,
	[CD_GRUPO] [char](3) NULL,
	[CD_CELULA] [char](2) NULL,
	[NR_DTA] [varchar](10) NULL,
	[IN_REL_LEAD_TIME] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_RE__55E5443A]  DEFAULT ('1'),
	[CD_TAB_SDA] [char](3) NULL,
	[IN_IMPORTANTE] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_IM__5D5D1427]  DEFAULT ('0'),
	[NR_CAMINHAO] [char](4) NULL,
	[CD_TP_DTA] [char](1) NULL,
	[NR_REFERENCIA] [char](30) NULL,
	[DT_PEDIDO] [datetime] NULL,
	[HR_PEDIDO] [datetime] NULL,
	[HR_ABERTURA] [datetime] NULL,
	[NM_EMPRESA_BASF] [char](4) NULL,
	[CD_TP_PEDIDO] [char](3) NULL,
	[NR_REF_EXPORTADOR] [char](30) NULL,
	[NM_PLANTA] [char](30) NULL,
	[NR_ORDEM] [char](30) NULL,
	[IN_CONSOLIDADO] [char](1) NULL,
	[IN_SEGURO] [char](1) NULL,
	[IN_EDI_BASF] [char](3) NULL,
	[CD_REF_IMP] [varchar](15) NULL,
	[IN_DADOS_IGUAIS_ITENS] [char](1) NULL,
	[CD_IMP_EXP_FI] [char](5) NULL,
	[NR_PROPOSTA] [char](20) NULL,
	[TP_CARGA] [char](1) NULL,
	[CD_ORIGEM] [char](4) NULL,
	[CD_DESTINO] [char](4) NULL,
	[DESCR_INGLES] [varchar](50) NULL,
	[CD_TAB_FRETE_VENDA] [char](6) NULL,
	[CD_TAB_FRETE_COMPRA] [char](6) NULL,
	[CD_CIA_TRANSP] [char](4) NULL,
	[TP_FREQUENCIA] [char](1) NULL,
	[CD_ARMADOR] [char](4) NULL,
	[IN_ROUTING] [char](1) NULL,
	[QTD_VOLUME] [float] NULL,
	[CUBAGEM] [float] NULL,
	[CHARGEABLE] [float] NULL,
	[CD_ESTUFAGEM] [char](1) NULL,
	[IN_CUBAGEM] [char](1) NULL,
	[TX_DESCR] [varchar](255) NULL,
	[VL_TARIFA_FRETE] [float] NULL,
	[VL_OTHER_CHARGE] [float] NULL,
	[VL_FRETE] [float] NULL,
	[VL_HOUSE] [float] NULL,
	[VL_RATEIO] [float] NULL,
	[VL_OTHER_CHARGE_CUSTO] [float] NULL,
	[OUTRA_TAXA] [float] NULL,
	[VL_RATEIO_DESPESA] [float] NULL,
	[VL_TT_VENDA] [float] NULL,
	[VL_TT_CUSTO] [float] NULL,
	[VL_DESP_MASTER] [float] NULL,
	[VL_PROFIT_AGENTE] [float] NULL,
	[VL_PROFIT_BRASIL] [float] NULL,
	[VL_DIVISAO] [float] NULL,
	[TP_DIVISAO] [char](1) NULL,
	[VL_DESP_BRASIL] [float] NULL,
	[VL_PROFIT_LIQUIDO] [float] NULL,
	[VL_PROFIT_HOUSE] [float] NULL,
	[VL_MERCADORIA] [float] NULL,
	[TP_ESTUFAGEM] [char](1) NULL,
	[VL_DESP_AG] [float] NULL,
	[IN_PEDIDO] [char](1) NULL,
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_SE__30A047A0]  DEFAULT ('0'),
	[VL_OVER] [float] NULL,
	[VL_COMISS_IATA] [float] NULL,
	[IN_ACCOUNT] [char](1) NULL CONSTRAINT [DF__TPROCESSO__IN_AC__31946BD9]  DEFAULT ('0'),
	[VL_ACCOUNT] [float] NULL,
	[OUTRA_TAXA_CUSTO] [float] NULL,
	[VL_REC_AG] [float] NULL,
	[VL_REC_BR] [float] NULL,
	[VL_TT_PROF_BR] [float] NULL,
	[VL_TT_PROF_AG] [float] NULL,
	[VL_VENDA_BRASIL] [float] NULL,
	[VL_DESP_REAL] [float] NULL,
	[VL_VENDA_CIA] [float] NULL,
	[VL_CUSTO_CIA] [float] NULL,
	[NR_CONTA_CONTABIL] [varchar](40) NULL,
	[CD_CT_LUCRO] [varchar](25) NULL,
	[CD_LOCAL_CONSOLIDACAO] [char](4) NULL,
	[IN_AS_AGREED] [char](1) NULL,
	[VL_FAT_COMPLEMENTAR] [float] NULL,
	[DT_RECEBIMENTO] [datetime] NULL,
	[DESCR_MERCADORIA] [varchar](100) NULL,
	[REF_CLIENTE] [char](20) NULL,
	[CD_USUARIO_ALTEROU_CANAL] [char](4) NULL,
	[CD_LINGUA_PEDIDO] [char](1) NULL,
	[NR_COURRIER] [varchar](15) NULL,
	[CD_ARMAZEM_TABELA_CLIENTE] [int] NULL,
	[IN_TRANSMITE_SEM_PREVISAO] [char](1) NULL,
	[VL_OTHER_CHARGE_CC] [float] NULL,
	[CD_TAB_FRETE] [char](5) NULL,
	[NR_VIAGEM_ARMADOR] [char](15) NULL,
	[CD_FRONTEIRA] [char](4) NULL,
	[IN_COURRIER] [char](1) NULL,
	[NUM_CE] [char](20) NULL,
	[CD_PRIMEIRO_PORTO_ATRAC] [char](4) NULL,
	[ID_CODIGO_INSTR_DESEMB] [char](13) NULL,
	[CD_TERMO_PAGTO] [char](6) NULL,
	[DIAS_CONDICAO_PAGTO] [char](3) NULL,
	[CONDICAO_PAGTO] [char](1) NULL,
	[CD_LOCAL_TRANSBORDO] [char](4) NULL,
	[IN_PRODUTO_IMPORTADO] [char](1) NULL DEFAULT ('0'),
	[CD_CONTATO_AG] [char](4) NULL,
	[VL_TRANSIT_TIME] [int] NULL,
	[VL_AFRMM] [float] NULL,
	[CD_CONSIGNEE] [char](5) NULL,
	[TP_CONSIGNEE] [char](1) NULL,
	[IN_DSE] [char](1) NULL,
	[CD_LOCAL_ENTREGA] [char](4) NULL,
	[CD_ACORDO] [char](10) NULL,
	[QNTD_ACORDO] [float] NULL,
	[TP_CERTIFICADO] [varchar](100) NULL,
	[DOCS_ENVIADO_PARA] [char](5) NULL,
	[TP_ENVIO_CERTIFICADO] [varchar](30) NULL,
	[IN_WEB] [char](1) NULL,
	[CD_ANALISTA_CRIADOR] [char](4) NULL,
	[NR_PRAZO_VENCTO_ARM] [int] NULL,
	[CD_RESP_DRAFT] [char](4) NULL,
	[CD_RESP_DESEMB] [char](4) NULL,
	[IN_MONEY] [int] NULL DEFAULT ((1)),
	[IN_PROCESSO_MAPA] [char](1) NULL DEFAULT ('0'),
	[IN_APENAS_EMISSAO_DOCTOS] [char](1) NULL DEFAULT ('0'),
	[IN_DRAWBACK_ALADI] [char](1) NULL DEFAULT ('0'),
	[IN_MBF] [char](1) NULL,
	[VL_LEAD_TIME] [int] NULL,
	[QT_MERC_UN_COMERC] [float] NULL,
	[VL_FOB] [float] NULL,
	[CD_UNID_MEDIDA] [char](3) NULL,
	[DT_NAVIO_ALTERADO] [datetime] NULL,
	[IN_CE_ENVIADO] [char](1) NULL,
	[IN_COBRANCA_DTA] [char](1) NULL CONSTRAINT [DF_TPROCESSO_IN_COBRANCA_DTA]  DEFAULT ((0)),
	[TB_ARMAZENAGEM] [varchar](20) NULL,
	[CD_USUARIO_LIB_TRANS_DI] [char](4) NULL,
	[DT_LIB_TRANS_DI] [datetime] NULL,
	[CD_LOCAL_TRANSBORDO2] [char](4) NULL,
	[CD_LOCAL_TRANSBORDO3] [char](4) NULL,
	[IN_EXTRATO_DDE_ENVIADO] [char](1) NULL,
	[NR_DEPOT] [char](4) NULL,
	[CD_ERP] [int] NULL,
	[SEQ_POSYSTEM] [int] NULL,
 CONSTRAINT [PK_TPROCESSO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_GRUPO] ON [TPROCESSO]
(
	[CD_GRUPO] ASC,
	[CD_CLIENTE] ASC,
	[CD_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IDX_IN_MONEY] ON [TPROCESSO]
(
	[IN_MONEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_NR_DI] ON [TPROCESSO]
(
	[NR_DI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_NR_REFERENCIA] ON [TPROCESSO]
(
	[NR_REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE NONCLUSTERED INDEX [IDX_TPROCESSO] ON [TPROCESSO]
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TPROCESSO_IDX_04] ON [TPROCESSO]
(
	[IN_CANCELADO] ASC,
	[CD_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TPROCESSO_IDX01] ON [TPROCESSO]
(
	[CD_PRODUTO] ASC,
	[CD_EMBARCACAO] ASC,
	[NR_VIAGEM] ASC,
	[CD_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TPROCESSO_IDX02] ON [TPROCESSO]
(
	[CD_PRODUTO] ASC,
	[CD_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TPROCESSO_IDX03] ON [TPROCESSO]
(
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_EMBARCACAO] ASC,
	[NR_VIAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [TPROCESSO_IDX05] ON [TPROCESSO]
(
	[NR_PROCESSO] ASC,
	[DT_ABERTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
