USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRECEITAS_EXP](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[TP_DT_BASE] [char](1) NOT NULL,
	[TP_FAIXA] [char](1) NOT NULL,
	[TP_FAIXA_VALOR] [char](1) NOT NULL,
	[VL_NUM_TAXA] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_NUM_8__34]  DEFAULT (0),
	[VL_DEN_TAXA] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_DEN_3__34]  DEFAULT (1),
	[TP_BASE_CALC_TAXA] [char](1) NULL,
	[CD_MOEDA_TAXA] [char](3) NULL,
	[VL_NUM_MIN] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_MIN_NUN_7__34]  DEFAULT (0),
	[VL_DEN_MIN] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_MIN_DEN_6__34]  DEFAULT (1),
	[TP_BASE_CALC_MIN] [char](1) NULL,
	[CD_MOEDA_MIN] [char](3) NULL,
	[VL_NUM_MAX] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_MAX_NUM_5__34]  DEFAULT (0),
	[VL_DEN_MAX] [float] NULL CONSTRAINT [DF_TRECEITAS__VL_MAX_DEN_4__34]  DEFAULT (1),
	[TP_BASE_CALC_MAX] [char](1) NULL,
	[CD_MOEDA_MAX] [char](3) NULL,
	[PC_REDUC_RE_CANC] [float] NULL CONSTRAINT [DF_TRECEITAS__PC_REDUC_RE2__34]  DEFAULT (0),
	[IN_ATIVO] [char](1) NOT NULL,
 CONSTRAINT [PK_TRECEITAS_EXP] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_SERVICO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
