USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_MODAL_DB](
	[TP_MODAL_DB] [char](1) NOT NULL,
	[NM_TP_MODAL_DB] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TTP_MODAL_DB] PRIMARY KEY CLUSTERED 
(
	[TP_MODAL_DB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
