USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINSTALACAO](
	[CD_INSTALACAO] [char](1) NOT NULL,
	[NM_INSTALACAO] [varchar](30) NOT NULL,
	[NM_SERVIDOR_ORIGEM] [varchar](15) NOT NULL,
	[NM_SERVIDOR_DESTINO] [varchar](15) NOT NULL,
	[AP_INSTALACAO] [char](10) NULL,
 CONSTRAINT [PK_TINSTALACAO] PRIMARY KEY CLUSTERED 
(
	[CD_INSTALACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
