USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINSTRUCAO_DESEMBARACO_DESPESAS](
	[ID_CODIGO] [char](13) NOT NULL,
	[NM_ITEM] [char](30) NOT NULL,
	[NR_FATURA] [varchar](50) NULL,
	[VL_ITEM] [float] NULL,
	[CD_DESPESA] [int] NULL
) ON [PRIMARY]

GO
