USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_AJUSTE_IMPRESSAO_NF_SERV_INDAIA] AS
SELECT U.CD_UNID_NEG, NF.NR_ULT_NF_SERV, NR_ULT_NOTA_DEB, NR_ULT_NF_FATURA, U.CGC_UNID_NEG
FROM TAJUSTE_IMPRESSAO_NF_SERV_INDAIA NF
  INNER JOIN BROKER.DBO.TUNID_NEG U ON CASE WHEN U.CD_UNID_NEG = '07' THEN '01' ELSE U.CD_UNID_NEG END = NF.CD_UNID_NEG

GO
