USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAT_BASF](
	[NR_PEDIDO] [char](15) NOT NULL,
	[CD_AREA] [char](2) NOT NULL,
	[TP_AT_BASF] [char](1) NOT NULL,
	[CD_VIA_TRANSP] [char](2) NOT NULL,
	[DT_PEDIDO] [datetime] NULL,
	[IN_TRANSMISSAO] [char](1) NOT NULL CONSTRAINT [DF_TAT_BASF_IN_TRANSMISSAO]  DEFAULT ('0'),
	[IN_FOLLOWUP] [char](1) NOT NULL CONSTRAINT [DF_TAT_BASF_IN_FOLLOWUP]  DEFAULT ('0'),
	[VL_TRANSMISSAO] [float] NOT NULL CONSTRAINT [DF_TAT_BASF_VL_TRANSMISSAO]  DEFAULT (0),
	[VL_FOLLOWUP] [float] NOT NULL CONSTRAINT [DF_TAT_BASF_VL_FOLLOWUP]  DEFAULT (0),
	[IN_REVISAO_FAT] [char](1) NOT NULL CONSTRAINT [DF__TAT_BASF__IN_REV__42534CD9]  DEFAULT ('0'),
	[IN_DEMURRAGE] [char](1) NOT NULL CONSTRAINT [DF__TAT_BASF__IN_DEM__43477112]  DEFAULT ('0'),
	[IN_ENT_BASF] [char](1) NOT NULL CONSTRAINT [DF__TAT_BASF__IN_ENT__443B954B]  DEFAULT ('0'),
	[IN_ENT_BSG] [char](1) NOT NULL CONSTRAINT [DF__TAT_BASF__IN_ENT__452FB984]  DEFAULT ('0'),
	[IN_CHEC_DOC] [char](1) NOT NULL CONSTRAINT [DF__TAT_BASF__IN_CHE__4623DDBD]  DEFAULT ('0'),
	[VL_REVISAO_FAT] [float] NOT NULL CONSTRAINT [DF__TAT_BASF__VL_REV__471801F6]  DEFAULT (0),
	[VL_DEMURRAGE] [float] NOT NULL CONSTRAINT [DF__TAT_BASF__VL_DEM__480C262F]  DEFAULT (0),
	[VL_ENT_BASF] [float] NOT NULL CONSTRAINT [DF__TAT_BASF__VL_ENT__49004A68]  DEFAULT (0),
	[VL_ENT_BSG] [float] NOT NULL CONSTRAINT [DF__TAT_BASF__VL_ENT__49F46EA1]  DEFAULT (0),
	[VL_CHEC_DOC] [float] NOT NULL CONSTRAINT [DF__TAT_BASF__VL_CHE__4AE892DA]  DEFAULT (0),
 CONSTRAINT [PK_TAT_BASF] PRIMARY KEY CLUSTERED 
(
	[NR_PEDIDO] ASC,
	[IN_TRANSMISSAO] ASC,
	[IN_FOLLOWUP] ASC,
	[IN_REVISAO_FAT] ASC,
	[IN_DEMURRAGE] ASC,
	[IN_CHEC_DOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
