USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_DESVIOS_GRAF](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [varchar](18) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[DIAS] [int] NULL,
	[AP_EVENTO] [char](15) NULL,
	[NM_PREST_SERV] [char](30) NULL,
 CONSTRAINT [PK_TREL_DESVIOS_GRAF] PRIMARY KEY CLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
