USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCONTABIL_CUSTO_AUX](
	[CODCCUSTO] [char](25) NOT NULL,
	[NOME] [char](80) NULL,
	[CODREDUZIDO] [char](25) NULL
) ON [PRIMARY]

GO
