USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMASTER_CARGA](
	[CD_CARGA] [char](3) NOT NULL,
	[QTDE] [float] NULL,
	[VL_COMPR] [float] NULL,
	[VL_LARG] [float] NULL,
	[VL_ALT] [float] NULL,
	[PESO_KG] [float] NULL,
	[CUBAGEM_VENDA] [float] NULL,
	[PESO_VOLUMETRICO] [float] NULL,
	[TP_ESTUFAGEM] [char](1) NULL,
	[TP_EMBALAGEM] [char](4) NULL,
	[TP_CNTR] [char](2) NULL,
	[PESO_TON] [float] NULL,
	[CD_MASTER] [char](15) NOT NULL,
	[VL_COMPRA] [float] NULL,
	[VL_COMPRA_ARMADOR] [float] NULL
) ON [PRIMARY]

GO
