USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINT_MESQUITA005_JOB](
	[NM_CNPJ] [varchar](20) NULL,
	[NM_NAVIO] [varchar](20) NULL,
	[VIAGEM] [varchar](14) NULL,
	[NR_BL] [varchar](22) NULL,
	[NM_PORTO] [varchar](22) NULL,
	[NM_ARMADOR] [varchar](20) NULL,
	[REG_ARMAZENAGEM_BL] [varchar](32) NULL,
	[NM_OPERADORA] [varchar](17) NULL,
	[NR_LOTE] [varchar](13) NULL,
	[DT_ENTRADA] [varchar](12) NULL,
	[DT_FMA] [varchar](12) NULL,
	[SITUACAO_ENTRADA] [varchar](9) NULL,
	[CH_PRESENCA] [varchar](38) NULL,
	[DT_AVERBACAO] [varchar](12) NULL,
	[NR_DOCUMENTO] [varchar](37) NULL,
	[VENC_ARMAZENAGEM] [varchar](12) NULL,
	[VL_ARMAZENAGEM] [varchar](16) NULL,
	[DT_BLOQUEIO] [varchar](12) NULL,
	[TERMO_CARGA_SOLTA] [varchar](7) NULL,
	[DTE_CARGA_SOLTA] [varchar](15) NULL,
	[DTA_CARGA_SOLTA] [varchar](13) NULL,
	[CD_REPARTICAO_DTA] [varchar](12) NULL,
	[NR_CNPJ] [varchar](20) NULL,
	[DT_PRESENCA] [varchar](12) NULL,
	[DT_RETIRADA] [varchar](12) NULL
) ON [PRIMARY]

GO
