USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VW_RESTRICOES_ACESSO_SISTEMAS] AS
    SELECT RTRIM(SIS.NM_APLICATIVO) AS NM_APLICATIVO,
           CONVERT(INT, CSC.CD_CARGO) CD_CARGO,
           RTRIM(CSC.NM_FORM) AS NM_FORM,
           RTRIM(CSC.NM_COMPONENTE) AS NM_COMPONENTE,
           RTRIM(PC.NM_PROPRIEDADE) AS NM_PROPRIEDADE,
           PC.CD_TIPO_PROPRIEDADE,
           CSC.NM_VALOR
    FROM TCARGO_SISTEMAS_COMPONENTE CSC INNER JOIN TCOMPONENTES CMP ON CMP.NM_COMPONENTE = CSC.NM_COMPONENTE AND CMP.NM_FORM = CSC.NM_FORM
           INNER JOIN TFORMS FRM ON FRM.NM_FORM = CMP.NM_FORM AND FRM.CD_SISTEMA = CMP.CD_SISTEMA
           INNER JOIN TSISTEMAS SIS ON SIS.CD_SISTEMA = FRM.CD_SISTEMA
           INNER JOIN TPROPRIEDADE_COMPONENTE PC ON PC.NM_PROPRIEDADE = CSC.NM_PROPRIEDADE
    WHERE CMP.IN_ATIVO = '1'
     AND CSC.CD_SISTEMA = CMP.CD_SISTEMA AND CSC.NM_COMPONENTE = CMP.NM_COMPONENTE AND CSC.NM_FORM = CMP.NM_FORM
GO
