USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TABRE_PROCESSO_DOCUMENTO](
	[NR_REGISTRO] [int] NOT NULL,
	[NR_SEQUENCIA] [int] NOT NULL,
	[CD_DOCUMENTO] [char](3) NOT NULL,
	[CD_REFERENCIA] [char](30) NULL,
	[NR_SERIE] [char](10) NULL,
 CONSTRAINT [PK_TABRE_PROCESSO_DOCUMENTO] PRIMARY KEY NONCLUSTERED 
(
	[NR_REGISTRO] ASC,
	[NR_SEQUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TABRE_PROCESSO_DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_TABRE_PROCESSO_DOCUMENTO_TABRE_PROCESSO] FOREIGN KEY([NR_REGISTRO])
REFERENCES [TABRE_PROCESSO] ([NR_REGISTRO])
GO
ALTER TABLE [TABRE_PROCESSO_DOCUMENTO] CHECK CONSTRAINT [FK_TABRE_PROCESSO_DOCUMENTO_TABRE_PROCESSO]
GO
