USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FAT_SALDOS](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_PAGINA] [char](1) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_NOTA_FATURA] [char](6) NOT NULL,
	[NR_SOLIC_FAT] [char](6) NULL,
	[NM_VEICULO] [varchar](50) NULL,
	[CD_BANCO_CLIENTE] [char](3) NULL,
	[CD_BANCO_COMISSARIA] [char](3) NULL,
	[VL_RECEB_NUM] [float] NOT NULL,
	[VL_IR] [float] NOT NULL,
	[VL_ALIQ_IR] [float] NOT NULL,
	[VL_NOTA_FATURA] [float] NOT NULL,
	[VL_SALDO] [float] NOT NULL,
 CONSTRAINT [PK_TREL_FAT_SALDOS] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_PAGINA] ASC,
	[NR_PROCESSO] ASC,
	[NR_NOTA_FATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_FAT_SALDOS] ADD  CONSTRAINT [DF_TREL_FAT_SALDOS_VL_RECEB_NUM]  DEFAULT (0) FOR [VL_RECEB_NUM]
GO
ALTER TABLE [TREL_FAT_SALDOS] ADD  CONSTRAINT [DF_TREL_FAT_SALDOS_VL_IR]  DEFAULT (0) FOR [VL_IR]
GO
ALTER TABLE [TREL_FAT_SALDOS] ADD  CONSTRAINT [DF_TREL_FAT_SALDOS_VL_ALIQ_IR]  DEFAULT (0) FOR [VL_ALIQ_IR]
GO
ALTER TABLE [TREL_FAT_SALDOS] ADD  CONSTRAINT [DF_TREL_FAT_SALDOS_VL_NOTA_FATURA]  DEFAULT (0) FOR [VL_NOTA_FATURA]
GO
ALTER TABLE [TREL_FAT_SALDOS] ADD  CONSTRAINT [DF_TREL_FAT_SALDOS_VL_SALDO]  DEFAULT (0) FOR [VL_SALDO]
GO
