USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_KPI_EXPORTACAO](
	[NR_IDENTIFICADOR] [int] NULL,
	[CD_UNID_NEG] [char](2) NULL,
	[CD_CLIENTE] [char](5) NULL,
	[NR_REF_PEDIDO] [char](15) NULL,
	[DT_REF_PEDIDO] [datetime] NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[CD_AREA] [char](2) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[DT_ENV_COMEXT] [datetime] NULL,
	[NR_REF_ORDEM] [char](15) NULL,
	[DT_REF_ORDEM] [datetime] NULL,
	[DT_LIB_EST] [datetime] NULL,
	[NR_REF_REMESSA] [char](15) NULL,
	[DT_REF_REMESSA] [datetime] NULL,
	[DT_CONSOLIDACAO] [datetime] NULL,
	[DT_LIB_FAB] [datetime] NULL,
	[DT_LIB_PROC] [datetime] NULL,
	[NR_NF] [char](10) NULL,
	[DT_NF] [datetime] NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[NR_CAMINHAO] [char](4) NULL,
	[CD_EMBARCACAO] [char](4) NULL,
	[CD_TRANSP_NAC] [char](4) NULL,
	[DT_PREV_EMB] [datetime] NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_EMB] [datetime] NULL,
	[DT_ENV_DOC] [datetime] NULL,
	[DT_ENT_DOC] [datetime] NULL,
	[DT_AVERBACAO] [datetime] NULL,
	[DT_CHEGADA_DOC] [datetime] NULL,
	[DT_CH_MERC] [datetime] NULL,
	[CD_MOEDA] [char](3) NULL,
	[VL_TOTAL] [float] NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_CONTATO] [char](3) NULL,
	[DT_REC_PEDIDO] [datetime] NULL,
	[DT_SOLIC_OV] [datetime] NULL,
	[DT_SOLIC_REMESSA] [datetime] NULL,
	[NR_DIAS_REC_PED] [int] NULL,
	[NR_DIAS_LIB_REC] [int] NULL,
	[NR_DIAS_SOLIC_LIB] [int] NULL,
	[NR_DIAS_OR_SOLIC] [int] NULL,
	[NR_DIAS_REM_SOLIC] [int] NULL,
	[NR_DIAS_SOLIC_REM] [int] NULL,
	[NR_DIAS_LIB_REM] [int] NULL,
	[NR_DIAS_NF_LIB] [int] NULL,
	[NR_DIAS_DES_NF] [int] NULL,
	[NR_DIAS_EMB_DES] [int] NULL,
	[NR_DIAS_AV_EMB] [int] NULL,
	[NR_DIAS_EMB_DOCS] [int] NULL,
	[NR_DIAS_EMB_REC] [int] NULL,
	[NR_DIAS_EMB_PED] [int] NULL,
	[NR_DIAS_LIB_LIB] [int] NULL,
	[NR_DIAS_EMB_NF] [int] NULL,
	[NR_DIAS_CON_NF] [int] NULL,
	[NR_DIAS_EMB_CON] [int] NULL,
	[NR_DIAS_DES_EMB] [int] NULL,
	[NR_DIAS_AV_DES] [int] NULL,
	[NR_DIAS_CH_DES] [int] NULL,
	[NR_DIAS_EMB_LIB] [int] NULL,
	[NR_DIAS_DES_LIB] [int] NULL,
	[DT_REC_NF] [datetime] NULL,
	[NR_DIAS_DES_REC] [int] NULL,
	[DT_DL_DRAFT] [datetime] NULL,
	[DT_RET_BL] [datetime] NULL,
	[DT_DL_CARGA] [datetime] NULL,
	[NR_DIAS_LIB_DLD] [int] NULL,
	[NR_DIAS_LIB_DLC] [int] NULL,
	[NR_DIAS_LIB_DESEMB] [int] NULL,
	[NR_DIAS_LIB_NF] [int] NULL,
	[NR_DIAS_LIB_EMB] [int] NULL,
	[NR_DIAS_NF_DLD] [int] NULL,
	[NR_DIAS_EMB_BL] [int] NULL,
	[NR_DIAS_EMB_DOC] [int] NULL
) ON [PRIMARY]

GO
