USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTAXA_TECA](
	[VL_ARM_05] [float] NULL CONSTRAINT [DF_TTAXA_TECA_VL_ARM_05_1__10]  DEFAULT (0),
	[VL_ARM_10] [float] NULL CONSTRAINT [DF_TTAXA_TECA_VL_ARM_10_2__10]  DEFAULT (0),
	[VL_ARM_20] [float] NULL CONSTRAINT [DF_TTAXA_TECA_VL_ARM_20_3__10]  DEFAULT (0),
	[VL_ARM_99] [float] NULL CONSTRAINT [DF_TTAXA_TECA_VL_ARM_99_4__10]  DEFAULT (0),
	[VL_CPTZ] [float] NULL CONSTRAINT [DF_TTAXA_TECA_VL_CPTZ_5__10]  DEFAULT (0),
	[VL_CPTZ_PESO_MIN] [float] NULL CONSTRAINT [DF_TTAXA_TECA_VL_CPTZ_PES6__10]  DEFAULT (0)
) ON [PRIMARY]

GO
