USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TVIAGEM_GARIMPAR](
	[CD_EMBARCACAO] [varchar](20) NULL,
	[CD_SIGLA_EMBARCACAO] [varchar](20) NULL,
	[CD_VIAGEM_GARIMPAR] [varchar](20) NULL,
	[DT_ESPERADO] [datetime] NULL,
	[DT_EFETIVO] [datetime] NULL,
	[TX_TIPO] [varchar](1) NULL,
	[CD_DIRECAO] [varchar](20) NULL,
	[CD_ARMAZEM] [varchar](10) NULL,
	[CD_PORTO] [varchar](10) NULL,
	[CD_SIGLA_PORTO] [varchar](20) NULL,
	[CD_CIDADE] [varchar](8) NULL,
	[CD_UF] [varchar](2) NULL,
	[CD_PAIS] [varchar](20) NULL,
	[TX_BANDEIRA] [varchar](20) NULL,
	[NR_PREVMOVDESC] [varchar](20) NULL,
	[NR_PREVMOVEMB] [varchar](20) NULL,
	[SN_TBA] [bit] NULL,
	[SN_CANCELADO] [bit] NULL,
	[NR_FONTE] [int] NULL,
	[NR_MANIFESTO] [varchar](20) NULL,
	[DT_PCHEGADA] [datetime] NULL,
	[DT_CHEGADA] [datetime] NULL,
	[NR_VIAGEM] [char](4) NULL
) ON [PRIMARY]

GO
