USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_LI_ORGAO_ANUENTE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_LI] [char](10) NOT NULL,
	[CD_ORGAO_ANUENTE] [char](16) NOT NULL,
	[DT_DEFERIMENTO] [datetime] NULL,
	[DT_VENCTO] [datetime] NULL,
	[DT_ENTR_PROCESSO] [datetime] NULL,
	[DT_ENTR_PROC] [datetime] NULL,
 CONSTRAINT [PK_TPROCESSO_LI_ORGAO_ANUENTE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[NR_LI] ASC,
	[CD_ORGAO_ANUENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
