USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDADOS_FORMS](
	[NM_FORM] [char](50) NOT NULL,
	[NM_DATA_MODULE] [varchar](50) NOT NULL,
	[NM_QUERY] [varchar](50) NOT NULL,
	[ID_TABELA] [int] NULL,
	[NM_CAMPO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NM_FORM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
