USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_PO_FLP_ITEM](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_MERCADORIA] [varchar](30) NULL,
	[QT_INICIAL] [float] NULL,
 CONSTRAINT [PK_TREL_PO_FLP_ITEM] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_PO_FLP_ITEM] ADD  CONSTRAINT [DF_TREL_PO_FLP_ITEM_QT_INICIAL]  DEFAULT ((0)) FOR [QT_INICIAL]
GO
