USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_PROCESSO](
	[CD_TP_PROCESSO] [char](1) NOT NULL,
	[NM_TP_PROCESSO] [char](25) NULL,
 CONSTRAINT [PK_TTP_PROCESSO] PRIMARY KEY CLUSTERED 
(
	[CD_TP_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
