USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TADM](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[DT_LANCTO] [datetime] NOT NULL,
	[CD_CT_CONTABIL] [char](12) NOT NULL,
	[TP_NATUREZA] [char](1) NOT NULL CONSTRAINT [DF_TADM_TP_NATUREZA]  DEFAULT ('D'),
	[NR_LANCAMENTO] [char](3) NOT NULL,
	[NR_REF] [char](3) NULL,
	[CD_FAVORECIDO] [char](5) NULL,
	[CD_ACESSO] [char](1) NULL,
	[CD_AUX] [char](3) NULL,
	[CD_BANCO] [char](3) NULL,
	[NR_DOCTO] [char](6) NULL,
	[VL_LANCTO] [float] NULL,
	[CD_STATUS_ADM] [char](2) NULL,
	[CD_USUARIO_SOLIC] [char](4) NULL,
	[CD_USUARIO_MONTA] [char](4) NULL,
	[IN_SOLICITADO] [char](1) NOT NULL CONSTRAINT [DF_TADM_IN_SOLICITADO]  DEFAULT ('0'),
	[DT_VENCTO] [datetime] NULL,
	[DT_PAGTO] [datetime] NULL,
	[CD_HISTORICO] [char](3) NULL,
	[CD_STATUS_CHEQUE] [char](1) NULL CONSTRAINT [DF_TADM_CD_STATUS_CHEQUE]  DEFAULT ('0'),
	[IN_TRANSF_FIN] [char](1) NULL CONSTRAINT [DF_TADM_IN_TRANSF_FIN]  DEFAULT ('0'),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TADM_VL_DESCONTO]  DEFAULT (0),
	[VL_PERC_DESCONTO] [float] NULL CONSTRAINT [DF_TADM_VL_PERC_DESCONTO]  DEFAULT (0),
	[CD_USUARIO_IMP] [char](4) NULL,
	[TX_HISTORICO] [text] NULL,
	[NR_RELATORIO] [char](3) NULL,
	[NR_ANO] [char](4) NULL,
	[TP_LANCAMENTO] [char](1) NULL,
	[NR_NF_SERV] [char](6) NULL,
	[IN_IMP_NF_SERV] [char](1) NULL CONSTRAINT [DF__TADM__IN_IMP_NF___33B7E763]  DEFAULT ('0'),
	[DT_NF_SERV] [datetime] NULL,
	[NR_GRUPO_LIQUIDACAO] [char](3) NULL,
	[NR_CTAAPAGAR] [char](3) NULL,
	[IN_OPERACIONAL] [char](1) NULL CONSTRAINT [DF_TADM_IN_OPERACIONAL]  DEFAULT ('0'),
	[TX_OBS] [text] NULL,
	[IN_TED] [char](1) NULL CONSTRAINT [DF__TADM__IN_TED__0C009272]  DEFAULT ('0'),
	[CD_CT_CUSTO] [char](4) NULL,
	[DT_EMISSAO] [datetime] NULL,
	[DT_MONTAGEM] [datetime] NULL,
	[CD_CT_CONTABIL_CTAAPAGAR] [char](12) NULL,
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF_TADM_IN_SELECIONADO]  DEFAULT ('0'),
	[CODIGO_CTAAPAGAR_LANC] [int] NULL,
	[NR_LANCAMENTO_SELECIONADO] [char](3) NULL,
 CONSTRAINT [PK_TADM] PRIMARY KEY NONCLUSTERED 
(
	[CD_UNID_NEG] ASC,
	[DT_LANCTO] ASC,
	[CD_CT_CONTABIL] ASC,
	[TP_NATUREZA] ASC,
	[NR_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TADM_5_1534537146__K1_K28_K4_K36_K18_K6_K10_K7_K13_K11_K20_2_12_22] ON [TADM]
(
	[CD_UNID_NEG] ASC,
	[TP_LANCAMENTO] ASC,
	[TP_NATUREZA] ASC,
	[IN_TED] ASC,
	[DT_PAGTO] ASC,
	[NR_REF] ASC,
	[CD_BANCO] ASC,
	[CD_FAVORECIDO] ASC,
	[CD_STATUS_ADM] ASC,
	[NR_DOCTO] ASC,
	[CD_STATUS_CHEQUE] ASC
)
INCLUDE ( 	[DT_LANCTO],
	[VL_LANCTO],
	[VL_DESCONTO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TADM_5_1534537146__K1_K4_K18_K36_K28_K6_K2_K10_K7_K13_K11_K20_12_22] ON [TADM]
(
	[CD_UNID_NEG] ASC,
	[TP_NATUREZA] ASC,
	[DT_PAGTO] ASC,
	[IN_TED] ASC,
	[TP_LANCAMENTO] ASC,
	[NR_REF] ASC,
	[DT_LANCTO] ASC,
	[CD_BANCO] ASC,
	[CD_FAVORECIDO] ASC,
	[CD_STATUS_ADM] ASC,
	[NR_DOCTO] ASC,
	[CD_STATUS_CHEQUE] ASC
)
INCLUDE ( 	[VL_LANCTO],
	[VL_DESCONTO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TADM_5_1534537146__K18_K36_K10_K1_K28_K4_K6_K7_K2_K13_K11_K20_12_22] ON [TADM]
(
	[DT_PAGTO] ASC,
	[IN_TED] ASC,
	[CD_BANCO] ASC,
	[CD_UNID_NEG] ASC,
	[TP_LANCAMENTO] ASC,
	[TP_NATUREZA] ASC,
	[NR_REF] ASC,
	[CD_FAVORECIDO] ASC,
	[DT_LANCTO] ASC,
	[CD_STATUS_ADM] ASC,
	[NR_DOCTO] ASC,
	[CD_STATUS_CHEQUE] ASC
)
INCLUDE ( 	[VL_LANCTO],
	[VL_DESCONTO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TADM_5_1534537146__K6_K1_K2_K4_K10_K7_K18_K36_K28_K13_K11_K20_12_22] ON [TADM]
(
	[NR_REF] ASC,
	[CD_UNID_NEG] ASC,
	[DT_LANCTO] ASC,
	[TP_NATUREZA] ASC,
	[CD_BANCO] ASC,
	[CD_FAVORECIDO] ASC,
	[DT_PAGTO] ASC,
	[IN_TED] ASC,
	[TP_LANCAMENTO] ASC,
	[CD_STATUS_ADM] ASC,
	[NR_DOCTO] ASC,
	[CD_STATUS_CHEQUE] ASC
)
INCLUDE ( 	[VL_LANCTO],
	[VL_DESCONTO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [_dta_index_TADM_5_1534537146__K6_K7_K11_K20_K18_K36_K10_K1_K28_K4_K13_2_12_22] ON [TADM]
(
	[NR_REF] ASC,
	[CD_FAVORECIDO] ASC,
	[NR_DOCTO] ASC,
	[CD_STATUS_CHEQUE] ASC,
	[DT_PAGTO] ASC,
	[IN_TED] ASC,
	[CD_BANCO] ASC,
	[CD_UNID_NEG] ASC,
	[TP_LANCAMENTO] ASC,
	[TP_NATUREZA] ASC,
	[CD_STATUS_ADM] ASC
)
INCLUDE ( 	[DT_LANCTO],
	[VL_LANCTO],
	[VL_DESCONTO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_BANCO] ON [TADM]
(
	[CD_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_CD_FAVORECIDO] ON [TADM]
(
	[CD_FAVORECIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_NR_REF] ON [TADM]
(
	[NR_REF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_TP_LANCAMENTO] ON [TADM]
(
	[TP_LANCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IDX_TP_NATUREZA] ON [TADM]
(
	[TP_NATUREZA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
