USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RB_ITEM](
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOLDER_ID] [int] NOT NULL,
	[ITEM_NAME] [varchar](60) NOT NULL,
	[ITEM_SIZE] [int] NULL,
	[ITEM_TYPE] [int] NOT NULL,
	[MODIFIED] [float] NOT NULL,
	[DELETED] [float] NULL,
	[TEMPLATE] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[FOLDER_ID] ASC,
	[ITEM_TYPE] ASC,
	[ITEM_NAME] ASC,
	[MODIFIED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [FOLDER_ITEM_NAME_IDX] ON [RB_ITEM]
(
	[FOLDER_ID] ASC,
	[ITEM_TYPE] ASC,
	[ITEM_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ITEM_ID_IDX] ON [RB_ITEM]
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
