USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_EMS_MFAG](
	[NR_EMS_MFAG] [int] NOT NULL,
	[TX_EMS_MFAG] [char](10) NOT NULL,
 CONSTRAINT [PK_TTP_EMS_MFAG] PRIMARY KEY CLUSTERED 
(
	[NR_EMS_MFAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
