USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_DE_PARA](
	[CD_DE_PARA] [char](2) NOT NULL,
	[NM_DE_PARA] [char](20) NULL CONSTRAINT [DF_TTP_DE_PARA_NM_DE_PARA]  DEFAULT (''),
	[NM_TABELA] [varchar](75) NULL,
	[NM_CHAVE] [varchar](75) NULL,
	[NM_RETORNO] [varchar](75) NULL,
	[NM_FILTRO] [varchar](250) NULL
) ON [PRIMARY]

GO
