USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLICENCA_ITENS_bkp](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[NR_DESTAQUE_NCM] [char](3) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_FABR_EXPO] [char](1) NULL,
	[CD_FABRICANTE] [char](5) NULL,
	[CD_MERCADORIA] [varchar](30) NULL,
	[CD_NALADI_NCCA] [char](7) NULL,
	[CD_NALADI_SH] [char](8) NULL,
	[CD_NCM_SH] [char](11) NULL,
	[CD_PAIS_AQUISICAO] [char](3) NULL,
	[CD_PAIS_ORIGEM] [char](3) NULL,
	[CD_UN_MED_COMERC] [char](3) NULL,
	[CD_UN_MED_ESTAT] [char](3) NULL,
	[PL_MERCADORIA] [float] NOT NULL,
	[QT_MERC_UN_COMERC] [float] NOT NULL,
	[QT_MERC_UN_ESTAT] [float] NOT NULL,
	[TX_DESC_DET_MERC] [text] NULL,
	[VL_UNIT_MLE] [float] NULL,
	[VL_TOTAL_MLE] [float] NOT NULL,
	[VL_UNIT_MCV] [float] NOT NULL,
	[CD_PAIS_PROCEDENCIA] [char](3) NULL,
	[VL_RAT_FRETE] [float] NULL,
	[VL_RAT_SEGURO] [float] NULL,
	[VL_RAT_DESPESA] [float] NULL,
	[VL_RAT_DESCONTO] [float] NULL,
	[NR_ITEM_PO] [char](4) NULL,
	[NR_PROC_PO] [char](30) NULL,
	[NR_ATO_DRAWBACK] [char](13) NULL,
	[CD_REGIME_TRIBUTACAO] [char](1) NULL,
	[CD_FUND_LEGAL] [char](2) NULL,
	[NR_ITEM_DRAWBACK] [char](3) NULL,
	[NR_REG_DRAWBACK] [char](11) NULL,
	[IN_REG_DRAWBACK] [char](1) NULL,
	[NR_LI_SUBSTITUIDO] [char](10) NULL,
	[IN_DRAWBACK_AUTOMATICO] [char](1) NULL,
	[QT_PRODUTO_DRAWBACK] [float] NULL,
	[VL_PRODUTO_DRAWBACK] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
