USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPLANEJADORES](
	[CD_PLANEJADOR] [int] IDENTITY(1,1) NOT NULL,
	[NM_PLANEJADOR] [varchar](100) NULL,
	[CD_GRUPO] [char](3) NULL,
	[CD_USUARIO_MY] [char](4) NULL,
	[IN_ATIVO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_PLANEJADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
