USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRE_ANEXO_INSUMO_CCPTC](
	[NR_PROCESSO] [char](18) NULL,
	[NR_PROCESSO_COMPLEMENTO] [char](3) NULL,
	[CD_RE_ANEXO] [int] NULL,
	[NM_CERTIFICADO] [varchar](24) NULL,
	[QTD_ESTATISTICA] [float] NULL
) ON [PRIMARY]

GO
