USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TCLIENTE_REPASSE](
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_REPRESENTANTE] [char](5) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[PC_REPASSE] [float] NOT NULL,
	[IN_ATIVO] [char](1) NOT NULL,
	[CD_SERVICO] [char](3) NOT NULL CONSTRAINT [DF__tcliente___CD_SE__3B24CA58]  DEFAULT (''),
 CONSTRAINT [PK_TCLIENTE_REPASSE] PRIMARY KEY CLUSTERED 
(
	[CD_CLIENTE] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_REPRESENTANTE] ASC,
	[CD_ITEM] ASC,
	[CD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
