USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TFLP_PO_ITEM](
	[NR_PROCESSO] [char](30) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[CD_EVENTO] [char](3) NOT NULL,
	[IN_APLICAVEL] [char](1) NOT NULL CONSTRAINT [DF_TFLP_PO_ITEM_IN_APLICAVEL]  DEFAULT ('1'),
	[CD_RESP_REALIZACAO] [char](4) NULL,
	[DT_REALIZACAO] [datetime] NULL,
	[DT_PREVISTA] [datetime] NULL,
	[DT_LIMITE] [datetime] NULL,
	[NR_ORDEM] [smallint] NULL,
	[TX_OBS] [text] NULL,
	[CD_STATUS] [char](1) NULL CONSTRAINT [DF_TFLP_PO_ITEM_CD_STATUS]  DEFAULT ('3'),
	[CD_UNID_NEG] [char](2) NULL,
	[CD_PRODUTO] [char](2) NULL,
	[NR_PROCESSO_INDAIA] [char](18) NULL,
	[NR_ITEM_CLIENTE] [char](4) NULL,
	[NR_PARCIAL] [int] NOT NULL,
	[CD_EMPRESA] [char](5) NOT NULL,
	[DT_REALIZACAO_EFETIVA] [datetime] NULL,
 CONSTRAINT [PK_TFLP_PO_ITEM] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_EVENTO] ASC,
	[NR_ITEM] ASC,
	[CD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_DT_REALIZACAO] ON [TFLP_PO_ITEM]
(
	[DT_REALIZACAO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED INDEX [IX_NR_PROCESSO] ON [TFLP_PO_ITEM]
(
	[NR_PROCESSO] ASC,
	[CD_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
GO
