USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLCC](
	[CD_ITEM] [char](3) NULL,
	[LCC] [char](4) NULL,
	[SUB_LCC] [nchar](3) NULL,
	[CD_GRUPO] [char](3) NULL,
	[CD_ARMAZEM_DESCARGA] [char](4) NULL
) ON [PRIMARY]

GO
