USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_FUP_DIA](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[NR_PO] [char](200) NULL,
	[NR_FATURA] [char](200) NULL,
	[NR_CONHECIMENTO] [char](30) NULL,
	[NR_CERTIFICADO] [char](200) NULL,
	[TX_MERCADORIA] [char](250) NULL,
	[VL_QTDE] [float] NULL,
	[NM_VOLUME] [char](250) NULL,
	[NR_FREE] [int] NULL,
	[NM_ARM_DESCARGA] [char](20) NULL,
	[NR_VOO] [char](18) NULL,
	[DT_VOO] [datetime] NULL,
	[NM_EMBARCACAO] [char](20) NULL,
	[DT_CHEGADA_NAVIO] [datetime] NULL,
	[DT_PRES_CARGA] [datetime] NULL,
	[DT_SOLIC_NUM] [datetime] NULL,
	[DT_REC_NUM] [datetime] NULL,
	[NR_DI] [varchar](20) NULL,
	[DT_DI] [datetime] NULL,
	[CANAL] [char](20) NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_ENT_TRANSP] [datetime] NULL,
	[DT_TRANSP] [datetime] NULL,
	[OBS] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
