USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPREVISAO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_VIA_TRANSP] [char](2) NULL,
	[DT_ENTRADA] [datetime] NULL,
	[CD_MOEDA_MLE] [char](3) NULL,
	[CD_MOEDA_FRETE] [char](3) NULL,
	[CD_MOEDA_SEGURO] [char](3) NULL,
	[VL_MLE_MNEG] [float] NULL,
	[VL_MLE_MN] [float] NULL,
	[VL_DESP_MNEG] [float] NULL,
	[VL_DESP_MN] [float] NULL,
	[VL_FRETE_MNEG] [float] NULL,
	[VL_FRETE_MN] [float] NULL,
	[VL_SEGURO_MNEG] [float] NULL,
	[VL_SEGURO_MN] [float] NULL,
	[CD_BASE_SEGURO] [char](1) NULL,
	[PC_SEGURO] [float] NULL,
	[IN_REB] [char](1) NULL,
	[PB_PREVISAO] [float] NULL,
	[PL_PREVISAO] [float] NULL,
	[QT_EMBALAGEM] [float] NULL,
	[CD_EMBALAGEM] [char](2) NULL,
	[CD_USUARIO] [char](4) NULL,
	[DT_PREVISAO] [datetime] NULL,
	[QT_ADICOES] [int] NULL,
	[VL_TAXA_MLE] [float] NULL CONSTRAINT [DF_TPREVISAO_VL_TAXA_MLE_2__15]  DEFAULT (0),
	[VL_TAXA_FRETE] [float] NULL CONSTRAINT [DF_TPREVISAO_VL_TAXA_FRET1__15]  DEFAULT (0),
	[VL_TAXA_SEGURO] [float] NULL CONSTRAINT [DF_TPREVISAO_VL_TAXA_SEGU3__15]  DEFAULT (0),
	[DT_CALCULO] [datetime] NULL,
	[VL_TX_SISCOMEX] [float] NULL CONSTRAINT [DF__TPREVISAO__VL_TX__728BA489]  DEFAULT (0),
	[VL_CIF_MN] [float] NULL,
	[CD_INCOTERM] [char](3) NULL,
	[IN_EMBUT_FRT_ITENS] [bit] NULL CONSTRAINT [DF__TPREVISAO__IN_EM__765C356D]  DEFAULT (0),
	[IN_EMBUT_SEG_ITENS] [bit] NULL CONSTRAINT [DF__TPREVISAO__IN_EM__12F8741B]  DEFAULT (0),
	[VL_ACRESCIMO_MN] [float] NULL CONSTRAINT [DF__TPREVISAO__VL_AC__2423001D]  DEFAULT (0),
	[VL_DEDUCAO_MN] [float] NULL CONSTRAINT [DF__TPREVISAO__VL_DE__25172456]  DEFAULT (0),
	[IN_MOEDA_UNICA] [bit] NULL CONSTRAINT [DF__TPREVISAO__IN_MO__6AB57897]  DEFAULT (1),
	[VL_ACRESCIMO] [float] NULL,
	[VL_DEDUCAO] [float] NULL,
	[VL_FRETE_INTERNO] [float] NULL,
	[CD_VINC_IMPO_EXPO] [char](40) NULL,
	[VL_FRETE_TNAC_MNEG] [float] NULL,
 CONSTRAINT [PK_TPREVISAO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
