USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRELEASE](
	[NR_VERSAO] [varchar](8) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[PATH_TELA] [varchar](200) NULL,
	[TP_RELEASE] [char](1) NULL,
	[TX_PENDENCIA] [text] NULL,
	[TX_ALTERACOES] [text] NULL,
	[TX_RELEASE] [text] NULL,
 CONSTRAINT [PK_TRELEASE] PRIMARY KEY CLUSTERED 
(
	[NR_VERSAO] ASC,
	[NR_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
