USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRATEIO](
	[CD_RATEIO] [char](4) NOT NULL,
	[NM_RATEIO] [char](30) NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TRATEIO_IN_ATIVO]  DEFAULT (0),
	[CD_CC_NOVO] [char](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_RATEIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
