USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TDIAGNOSTICO](
	[CD_DIAGNOSTICO] [int] IDENTITY(1,1) NOT NULL,
	[NM_DIAGNOSTICO] [varchar](100) NOT NULL,
	[QTD_REGISTROS] [int] NULL,
	[IN_ATIVO] [bit] NULL DEFAULT ((1)),
 CONSTRAINT [PK_TDIAGNOSTICO] PRIMARY KEY NONCLUSTERED 
(
	[CD_DIAGNOSTICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
