USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPORTO](
	[CD_PORTO] [char](4) NOT NULL,
	[CD_SIGLA] [char](3) NULL,
	[NM_PORTO] [varchar](50) NULL,
	[CD_CIDADE] [char](4) NULL,
	[CD_PAIS] [char](3) NULL,
	[CD_URF] [char](7) NULL,
	[CD_GRUPO_PORTO] [char](4) NOT NULL,
	[TP_PORTO] [char](1) NULL,
	[CD_SIGLA_CIDADE] [char](3) NULL
) ON [PRIMARY]

GO
