USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TGRUPO_NUMERARIO_FORNECEDOR](
	[CD_GRUPO] [char](3) NOT NULL,
	[NR_FORNECEDOR] [varchar](20) NOT NULL,
	[NM_FORNECEDOR] [varchar](50) NULL,
	[TP_FORNECEDOR] [char](1) NULL,
 CONSTRAINT [PK_TGRUPO_NUMERARIO_FORNECEDOR] PRIMARY KEY CLUSTERED 
(
	[CD_GRUPO] ASC,
	[NR_FORNECEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
