USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CNTR_ORIGEM](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[CD_AGENTE] [char](4) NOT NULL,
	[CD_CLIENTE] [char](5) NOT NULL,
	[CD_LOCAL_ORIGEM] [char](4) NOT NULL,
	[CD_EMP_EST] [char](5) NOT NULL,
	[TP_CNTR] [char](2) NOT NULL,
	[TP_FRETE] [char](1) NOT NULL,
	[CD_MOEDA_FRETE] [char](3) NOT NULL,
	[QTDE] [int] NULL,
	[VL_FRETE_MNEG] [float] NULL,
 CONSTRAINT [PK_TREL_CNTR_ORIGEM] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[CD_AGENTE] ASC,
	[CD_CLIENTE] ASC,
	[CD_LOCAL_ORIGEM] ASC,
	[CD_EMP_EST] ASC,
	[TP_CNTR] ASC,
	[TP_FRETE] ASC,
	[CD_MOEDA_FRETE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TREL_CNTR_ORIGEM] ADD  CONSTRAINT [DF_TREL_CNTR_ORIGEM_QTDE]  DEFAULT (0) FOR [QTDE]
GO
ALTER TABLE [TREL_CNTR_ORIGEM] ADD  CONSTRAINT [DF_TREL_CNTR_ORIGEM_VL_FRETE_MNEG]  DEFAULT (0) FOR [VL_FRETE_MNEG]
GO
