USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TUF](
	[CD_UF] [char](2) NOT NULL,
	[CD_VIA_TRANSPORTE] [char](2) NOT NULL,
	[NM_UF] [char](30) NOT NULL,
	[CD_BCO] [char](3) NOT NULL,
	[CD_AGENCIA] [char](6) NOT NULL,
	[CD_CONTA] [char](12) NOT NULL,
	[CD_COD] [char](4) NULL,
	[VL_ALIQ_ICMS] [float] NULL CONSTRAINT [DF__TUF__VL_ALIQ_ICM__5D866602]  DEFAULT (0),
	[CD_IBGE] [int] NULL,
 CONSTRAINT [PK_TUF] PRIMARY KEY NONCLUSTERED 
(
	[CD_UF] ASC,
	[CD_VIA_TRANSPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
