USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TREL_CNTR_NAO_DEV](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_PRODUTO] [char](2) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_CNTR] [char](20) NOT NULL,
	[CODIGO] [int] NOT NULL,
	[DT_ENT] [datetime] NULL,
	[CD_CLIENTE] [char](5) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_TRANSP_NAC] [char](4) NULL,
	[DT_NF_TRANSP] [datetime] NULL,
 CONSTRAINT [PK_TREL_CNTR_NAO_DEV] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[CD_UNID_NEG] ASC,
	[CD_PRODUTO] ASC,
	[NR_PROCESSO] ASC,
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
