USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLAUDO_MAT_PRI](
	[CD_MERCADORIA] [char](15) NOT NULL,
	[NR_LAUDO] [char](5) NOT NULL,
	[CD_MAT_PRI] [char](15) NOT NULL CONSTRAINT [DF_TLAUDO_MAT_PRI_CD_MAT_PRI]  DEFAULT (0),
	[VL_INDICE] [float] NOT NULL CONSTRAINT [DF_TLAUDO_MAT_PRI_VL_PERCENT]  DEFAULT (0),
	[CD_UN_MED_COMERC] [char](8) NULL,
	[VL_CALCULADO] [float] NULL,
	[PERC_PERDA] [float] NULL,
	[NR_PALAVRAS_CHAVE] [varchar](50) NULL,
 CONSTRAINT [PK_TLAUDO_MAT_PRI] PRIMARY KEY CLUSTERED 
(
	[CD_MERCADORIA] ASC,
	[NR_LAUDO] ASC,
	[CD_MAT_PRI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
