USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TNCM](
	[CODIGO] [char](8) NOT NULL,
	[DESCRICAO] [char](120) NULL,
	[UNIDADE_MEDIDA] [char](4) NULL,
	[ALIQUOTA_II] [char](6) NULL,
	[DATA_INICIO_VIG_II] [char](10) NULL,
	[DATA_FIM_VIG_II] [char](10) NULL,
	[ALIQUOTA_II_MERCOSUL] [char](6) NULL,
	[DATA_INICIO_VIG_II_MSUL] [char](10) NULL,
	[DATA_FIM_VIG_II_MSUL] [char](10) NULL,
	[ALIQUOTA_IPI] [char](6) NULL,
	[DATA_INICIO_VIG_IPI] [char](10) NULL,
	[DATA_FIM_VIG_IPI] [char](10) NULL,
	[ALIQUOTA_PIS_ADVAL] [char](6) NULL,
	[DATA_INI_VIG_PIS_ADVAL] [char](10) NULL,
	[DATA_FIM_VIG_PIS_ADVAL] [char](10) NULL,
	[ALIQUOTA_COFINS_ADVAL] [char](6) NULL,
	[DATA_INI_VIG_COFINS_ADVAL] [char](10) NULL,
	[DATA_FIM_VIG_COFINS_ADVAL] [char](10) NULL,
	[IN_NECESSITA_LI] [char](1) NULL,
	[ALIQUOTA_GATT] [char](6) NULL CONSTRAINT [DF__TNCM__ALIQUOTA_G__4E1310FB]  DEFAULT (''),
	[DATA_INICIO_VIG_GATT] [char](10) NULL CONSTRAINT [DF__TNCM__DATA_INICI__4F073534]  DEFAULT (CONVERT([varchar],getdate(),(103))),
	[DATA_FIM_VIG_GATT] [char](10) NULL CONSTRAINT [DF__TNCM__DATA_FIM_V__4FFB596D]  DEFAULT ('31/12/9999'),
	[IN_ANUENCIA_EXERCITO] [char](1) NULL,
 CONSTRAINT [PK_TNCM] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
CREATE UNIQUE NONCLUSTERED INDEX [PrimaryKey] ON [TNCM]
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
