USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_LI_STATUS](
	[NR_PROCESSO] [char](18) NULL,
	[NR_LI] [char](10) NOT NULL,
	[DT_STATUS] [datetime] NULL,
	[TX_STATUS] [char](60) NULL,
	[TX_DIR_EXTRATO] [varchar](200) NULL,
	[CD_ORGAO_ANUENTE] [char](16) NULL,
	[DT_CONSULTA] [datetime] NULL,
	[DT_STATUS_EFETIVA] [datetime] NULL CONSTRAINT [DF_TPROCESSO_LI_STATUS_DT_STATUS_EFETIVA]  DEFAULT (getdate())
) ON [PRIMARY]

GO
