USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TACORDO](
	[CODIGO] [char](10) NOT NULL,
	[NOME] [char](50) NULL,
	[TX_DESCRICAO] [text] NULL,
	[IN_ATIVO] [char](1) NULL CONSTRAINT [DF_TACORDO_IN_ATIVO]  DEFAULT ('0'),
 CONSTRAINT [PK_TACORDO] PRIMARY KEY NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
