USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTP_AT_BASF](
	[TP_AT_BASF] [char](2) NOT NULL,
	[NM_TP_AT_BASF] [varchar](30) NOT NULL,
	[VL_TRANSMISSAO] [float] NOT NULL CONSTRAINT [DF_TTP_AT_BASF_VL_TRANSMISSAO]  DEFAULT (0),
	[VL_FOLLOWUP] [float] NOT NULL CONSTRAINT [DF_TTP_AT_BASF_VL_FOLLOWUP]  DEFAULT (0),
	[VL_REVISAO_FAT] [float] NOT NULL CONSTRAINT [DF__TTP_AT_BA__VL_RE__4BDCB713]  DEFAULT (0),
	[VL_DEMURRAGE] [float] NOT NULL CONSTRAINT [DF__TTP_AT_BA__VL_DE__4CD0DB4C]  DEFAULT (0),
	[VL_ENT_BASF] [float] NOT NULL CONSTRAINT [DF__TTP_AT_BA__VL_EN__4DC4FF85]  DEFAULT (0),
	[VL_ENT_BSG] [float] NOT NULL CONSTRAINT [DF__TTP_AT_BA__VL_EN__4EB923BE]  DEFAULT (0),
	[VL_CHEC_DOC] [float] NOT NULL CONSTRAINT [DF__TTP_AT_BA__VL_CH__4FAD47F7]  DEFAULT (0),
 CONSTRAINT [PK_TTP_AT_BASF] PRIMARY KEY CLUSTERED 
(
	[TP_AT_BASF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
