USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPROCESSO_POR_VEICULO](
	[NR_PROCESSO] [char](18) NOT NULL,
	[NM_CLIENTE] [char](50) NOT NULL,
	[NM_SERVICO] [char](50) NOT NULL,
	[IN_POR_VEICULO] [char](1) NOT NULL,
	[CD_USUARIO] [char](4) NOT NULL,
 CONSTRAINT [PK_TPROCESSO_POR_VEICULO] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
