USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TPE](
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_UNID_NEG] [char](2) NOT NULL,
	[CD_EXPORTADOR] [char](5) NULL,
	[CD_IMPORTADOR] [char](5) NULL,
	[CD_DESPACHANTE] [char](3) NULL,
	[CD_AGENTE] [char](4) NULL,
	[CD_INCOTERM] [char](3) NULL,
	[CD_PAIS_DESTINO] [char](3) NULL,
	[CD_MOEDA] [char](3) NULL,
	[CD_VIA_TRANSPORTE] [char](2) NULL,
	[CD_SEGURADORA] [char](5) NULL,
	[CD_REPRESENTANTE] [char](5) NULL,
	[CD_LOCAL_ORIGEM] [char](4) NULL,
	[CD_LOCAL_DESTINO] [char](4) NULL,
	[CD_URF_DESPACHO] [char](7) NULL,
	[CD_URF_DESTINO] [char](7) NULL,
	[CD_TERMO_PAGTO] [char](6) NULL,
	[CD_FORMA_PAGTO] [char](1) NULL,
	[CD_LINGUA_PEDIDO] [char](1) NULL,
	[CD_TIPO_FRETE] [char](1) NULL,
	[CD_USUARIO] [char](4) NULL,
	[CD_CARTA_CREDITO] [char](15) NULL,
	[CD_INST_NEGOC] [char](5) NULL,
	[CD_CONSIGNATARIO] [char](5) NULL,
	[CD_NOTIFY1] [char](5) NULL,
	[CD_NOTIFY2] [char](5) NULL,
	[DT_REGISTRO_PEDIDO] [datetime] NULL,
	[DT_FATURA] [datetime] NULL,
	[IN_DRAWBACK] [bit] NOT NULL CONSTRAINT [DF_TPE_IN_DRAWBACK]  DEFAULT (0),
	[NR_LI] [char](10) NULL,
	[NR_FATURA] [varchar](15) NULL,
	[VL_FRETE] [float] NULL CONSTRAINT [DF_TPE_VL_FRETE]  DEFAULT (0),
	[VL_SEGURO] [float] NULL CONSTRAINT [DF_TPE_VL_SEGURO]  DEFAULT (0),
	[VL_PESO_BRUTO] [float] NULL CONSTRAINT [DF_TPE_VL_PESO_BRUTO]  DEFAULT (0),
	[VL_PESO_LIQUIDO] [float] NULL CONSTRAINT [DF_TPE_VL_PESO_LIQUIDO]  DEFAULT (0),
	[VL_DESCONTO] [float] NULL CONSTRAINT [DF_TPE_VL_DESCONTO]  DEFAULT (0),
	[VL_COMISSAO_PERCENT] [float] NULL CONSTRAINT [DF_TPE_VL_COMISSAO_PERCENT]  DEFAULT (0),
	[VL_TOT_ORIGEM] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_ORIGEM]  DEFAULT (0),
	[VL_TOT_CUBAGEM] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_CUBAGEM]  DEFAULT (0),
	[VL_TOT_FOB] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_FOB]  DEFAULT (0),
	[VL_TOT_COM_AGENTE] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_COM_AGENTE]  DEFAULT (0),
	[VL_TOT_QTDE_PROD] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_QTDE]  DEFAULT (0),
	[VL_TOT_QTDE_EMBALAGEM] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_QTDE_EMBALAGEM]  DEFAULT (0),
	[VL_TOT_MCV] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_MCV]  DEFAULT (0),
	[VL_TX_CAMBIO] [float] NULL CONSTRAINT [DF_TPE_VL_TX_CAMBIO]  DEFAULT (0),
	[VL_TOT_CONTAINER] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_CONTAINER]  DEFAULT (0),
	[VL_TOT_PALLETS] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_PALLETS]  DEFAULT (0),
	[VL_TOT_EXW] [float] NULL CONSTRAINT [DF_TPE_VL_TOT_EXW]  DEFAULT (0),
	[TX_INF_EMBALAGEM] [text] NULL,
	[TX_MARCACAO_VOLUME] [text] NULL,
	[TX_DECL_EXPORTADOR] [text] NULL,
	[TX_DECL_ADICIONAL] [text] NULL,
	[TX_TERMO_PAGTO] [text] NULL,
	[CD_TRANSPORTADORA] [char](4) NULL,
	[TP_CONSIGNATARIO] [char](1) NULL,
	[TP_NOTIFY1] [char](1) NULL,
	[TP_NOTIFY2] [char](1) NULL,
	[QT_TOTAL_ITENS] [char](3) NULL,
	[IN_SELECIONADO] [char](1) NULL CONSTRAINT [DF_TPE_IN_SELECIONADO]  DEFAULT ('0'),
	[IN_MONTADO] [char](1) NULL CONSTRAINT [DF_TPE_IN_MONTADO]  DEFAULT ('0'),
	[CD_FABRICANTE] [char](5) NULL,
 CONSTRAINT [PK_TPE] PRIMARY KEY CLUSTERED 
(
	[NR_PROCESSO] ASC,
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
