USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAJUSTE_IMPRESSAO_NF_SERVICO](
	[CD_UNID_NEG] [char](2) NOT NULL,
	[L_CLIENTE] [char](3) NULL,
	[C_CLIENTE] [char](3) NULL,
	[C_N_REF] [char](3) NULL,
	[L_END] [char](3) NULL,
	[C_END] [char](3) NULL,
	[L_CIDADE] [char](3) NULL,
	[C_CIDADE] [char](3) NULL,
	[C_UF] [char](3) NULL,
	[C_S_REF] [char](3) NULL,
	[L_CNPJ] [char](3) NULL,
	[C_CNPJ] [char](3) NULL,
	[C_CEP] [char](3) NULL,
	[L_IE] [char](3) NULL,
	[C_IE] [char](3) NULL,
	[C_DIA] [char](3) NULL,
	[C_MES] [char](3) NULL,
	[C_ANO] [char](3) NULL,
	[NR_L_OBS] [char](3) NULL,
	[L_OBS] [char](3) NULL,
	[C_OBS] [char](3) NULL,
	[L_MOEDA] [char](3) NULL,
	[C_MOEDA] [char](3) NULL,
	[NR_L_SERVICOS] [char](3) NULL,
	[L_SERVICOS] [char](3) NULL,
	[C_SERVICOS] [char](3) NULL,
	[C_VALORES] [char](3) NULL,
	[L_VL_TRIBUT] [char](3) NULL,
	[C_VL_TRIBUT] [char](3) NULL,
	[C_VL_ISS] [char](3) NULL,
	[C_VL_SUB_TOTAL] [char](3) NULL,
	[L_COMISSAO] [char](3) NULL,
	[C_COMISSAO] [char](3) NULL,
	[L_ADIANTA] [char](3) NULL,
	[C_ADIANTA] [char](3) NULL,
	[C_EXPEDIENTE] [char](3) NULL,
	[L_DT_ADIANT] [char](3) NULL,
	[C_DT_ADIANT] [char](3) NULL,
	[C_PAG_REC] [char](3) NULL,
	[C_XEROX] [char](3) NULL,
	[L_SALDO] [char](3) NULL,
	[C_SALDO] [char](3) NULL,
	[C_TOT_DESP] [char](3) NULL,
	[L_IRRF] [char](3) NULL,
	[C_IRRF] [char](3) NULL,
	[L_VENCIMENTO] [char](3) NULL,
	[C_VENCIMENTO] [char](3) NULL,
	[C_BASE_CALC] [char](3) NULL,
	[C_BASE_CALC_VL] [char](3) NULL,
	[L_DATAS] [char](3) NULL,
	[C_DATAS] [char](3) NULL,
	[C_TOT] [char](3) NULL,
 CONSTRAINT [PK_TAJUSTE_IMPRESSAO_NF_SERVICO] PRIMARY KEY CLUSTERED 
(
	[CD_UNID_NEG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
