USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TLOG_FOLLOWUP](
	[CD_REGISTRO] [int] IDENTITY(1,1) NOT NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CD_SERVICO] [char](3) NULL,
	[CD_EVENTO] [char](3) NULL,
	[CD_MOVIMENTO] [char](1) NULL,
	[DT_REALIZACAO_OLD] [datetime] NULL,
	[DT_REALIZACAO_NEW] [datetime] NULL,
	[DT_MOVIMENTACAO] [datetime] NULL,
	[DS_USUARIO] [varchar](20) NULL
) ON [PRIMARY]

GO
ALTER TABLE [TLOG_FOLLOWUP] ADD  DEFAULT (getdate()) FOR [DT_MOVIMENTACAO]
GO
ALTER TABLE [TLOG_FOLLOWUP] ADD  DEFAULT (user_name()) FOR [DS_USUARIO]
GO
