USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSTATUS_FLP](
	[CD_STATUS_FLP] [char](1) NOT NULL,
	[NM_STATUS_FLP] [char](20) NOT NULL,
 CONSTRAINT [PK_TSTATUS_FLP] PRIMARY KEY CLUSTERED 
(
	[CD_STATUS_FLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
