USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMODULO_ROTINA](
	[CD_MODULO] [char](2) NOT NULL,
	[CD_ROTINA] [char](4) NOT NULL,
	[NM_ROTINA] [char](50) NOT NULL,
	[NM_MENU] [varchar](50) NULL,
	[NM_FORM] [varchar](50) NULL,
 CONSTRAINT [PK_TMODULO_ROTINA] PRIMARY KEY CLUSTERED 
(
	[CD_MODULO] ASC,
	[CD_ROTINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
