USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTEMP_HOUSE](
	[CD_USUARIO] [char](4) NULL,
	[NR_PROCESSO] [char](18) NULL,
	[CODIGO] [char](2) NULL,
	[NR_HOUSE] [varchar](15) NULL
) ON [PRIMARY]

GO
