USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TTEMP_PREV_FAT_ITEM](
	[NR_IDENTIFICADOR] [int] NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[CD_ITEM] [char](3) NOT NULL,
	[NM_ITEM] [varchar](30) NULL,
	[VL_ITEM] [float] NULL,
	[IN_RESTITUI] [char](1) NULL,
	[CD_TIPO_ITEM] [char](1) NULL,
	[NR_SOLICITACAO] [char](6) NULL,
	[NR_ORDEM_FAT] [int] NULL,
 CONSTRAINT [PK_TTEMP_PREV_FAT_ITEM] PRIMARY KEY NONCLUSTERED 
(
	[NR_IDENTIFICADOR] ASC,
	[NR_PROCESSO] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
