USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TATO_CONC_SUSP_IMP](
	[NR_FORECAST] [char](14) NOT NULL,
	[NR_PROCESSO] [char](18) NOT NULL,
	[NR_ITEM] [char](3) NOT NULL,
	[NR_ADICAO] [char](4) NOT NULL,
	[CD_MAT_PRI] [char](15) NOT NULL,
	[CD_MERCADORIA] [char](15) NOT NULL,
	[PL_MAT_PRI] [float] NULL,
	[CD_MOEDA] [char](3) NULL,
	[QT_IMP] [float] NULL,
	[NR_PEDIDO] [char](15) NULL,
	[NR_DI] [char](10) NULL,
	[DT_DESEMB] [datetime] NULL,
	[DT_DI] [datetime] NULL,
	[VL_UNITARIO] [float] NULL,
	[VL_FRETE] [float] NULL,
	[VL_SEGURO] [float] NULL,
	[VL_CIF] [float] NULL,
	[VL_FOB] [float] NULL,
	[NR_NOTA_FISCAL] [char](10) NULL,
	[DT_NOTA_FISCAL] [datetime] NULL,
 CONSTRAINT [PK_TATO_CONC_SUSP_IMP] PRIMARY KEY CLUSTERED 
(
	[NR_FORECAST] ASC,
	[NR_PROCESSO] ASC,
	[NR_ITEM] ASC,
	[NR_ADICAO] ASC,
	[CD_MAT_PRI] ASC,
	[CD_MERCADORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [TATO_CONC_SUSP_IMP] ADD  CONSTRAINT [DF_TATO_CONC_SUSP_IMP_VL_UNITARIO]  DEFAULT (0) FOR [VL_UNITARIO]
GO
ALTER TABLE [TATO_CONC_SUSP_IMP] ADD  CONSTRAINT [DF_TATO_CONC_SUSP_IMP_VL_FRETE]  DEFAULT (0) FOR [VL_FRETE]
GO
ALTER TABLE [TATO_CONC_SUSP_IMP] ADD  CONSTRAINT [DF_TATO_CONC_SUSP_IMP_VL_SEGURO]  DEFAULT (0) FOR [VL_SEGURO]
GO
ALTER TABLE [TATO_CONC_SUSP_IMP] ADD  CONSTRAINT [DF_TATO_CONC_SUSP_IMP_VL_CIF]  DEFAULT (0) FOR [VL_CIF]
GO
ALTER TABLE [TATO_CONC_SUSP_IMP] ADD  CONSTRAINT [DF_TATO_CONC_SUSP_IMP_VL_FOB]  DEFAULT (0) FOR [VL_FOB]
GO
