USE [BROKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [TR_ALTER_TABLE] ON DATABASE FOR DDL_DATABASE_LEVEL_EVENTS AS 
/*
<EVENT_INSTANCE>
	<EventType>type</EventType>
	<PostTime>date-time</PostTime>
	<SPID>spid</SPID>
	<ServerName>name</ServerName>
	<LoginName>name</LoginName>
	<UserName>name</UserName>
	<DatabaseName>name</DatabaseName>
	<SchemaName>name</SchemaName>
	<ObjectName>name</ObjectName>
	<ObjectType>type</ObjectType>
	<TSQLCommand>command</TSQLCommand>
</EVENT_INSTANCE>
*/

DECLARE @DATA XML
SET @DATA = EVENTDATA()

--/*
DECLARE @SCRIPT NVARCHAR(1000)
SET @SCRIPT = UPPER(LTRIM(RTRIM(@DATA.value('(/EVENT_INSTANCE/TSQLCommand)[1]', 'varchar(1000)'))))

DECLARE @TABELA      VARCHAR(100)
DECLARE @COLUNA      VARCHAR(100)
DECLARE @TIPO        VARCHAR(100)
DECLARE @POSITION    INT
DECLARE @IN_MYINDAIA INT

BEGIN TRAN 
INSERT INTO TALTER_LOG(NM_USUARIO, NM_COMPUTADOR, DS_SCRIPT, NM_DATABASE)
VALUES(SUSER_NAME(), HOST_NAME(), @SCRIPT, DB_NAME())
COMMIT

SET @IN_MYINDAIA = 0

-- ALTER
IF LEFT(@SCRIPT, 5) = 'ALTER'
BEGIN
	SET @SCRIPT = LTRIM(RIGHT(@SCRIPT, LEN(@SCRIPT) -5))
	-- ALTER TABLE
	IF LEFT(@SCRIPT, 5) = 'TABLE'
	BEGIN
		SET @SCRIPT = LTRIM(RIGHT(@SCRIPT, LEN(@SCRIPT) -5))
		-- PROCURA POR INÍCIO DE LINHA APÓS O NOME DA TABELA
		SET @POSITION = CHARINDEX(NCHAR(13), @SCRIPT)
		-- SE NÃO ENCONTRAR O INÍCIO DE LINHA PROCURA POR ESPAÇO
		IF @POSITION = 0
			SET @POSITION = CHARINDEX(' ', @SCRIPT)
		-- COPIA O NOME DA TABELA
		SET @TABELA = RTRIM(LEFT(@SCRIPT, @POSITION -1))
		-- SE TEM DBO NA FRENTE DO NOME DA TABELA, REMOVE DEIXANDO APENAS O NOME
		SET @POSITION = CHARINDEX('.', @TABELA)
		IF @POSITION > 0
			SET @TABELA = RIGHT(@TABELA, LEN(@TABELA) - @POSITION)
		SET @SCRIPT = LTRIM(RIGHT(@SCRIPT, LEN(@SCRIPT) - LEN(@TABELA)))
		-- ALTER
		IF LEFT(@SCRIPT, 5) = 'ALTER'
		BEGIN
			SET @SCRIPT = LTRIM(RIGHT(@SCRIPT, LEN(@SCRIPT) -5))
			-- ALTER COLUMN
			IF LEFT(@SCRIPT, 6) = 'COLUMN'
			BEGIN
				SET @SCRIPT = LTRIM(RIGHT(@SCRIPT, LEN(@SCRIPT) -6))
				-- PROCURA PELO ESPAÇO APÓS O NOME DA COLUNA
				SET @POSITION = CHARINDEX(' ', @SCRIPT)
				-- COPIA O NOME DA COLUNA
				SET @COLUNA = RTRIM(LEFT(@SCRIPT, @POSITION -1))
				SET @SCRIPT = REPLACE(LTRIM(RIGHT(@SCRIPT, LEN(@SCRIPT) -6)), ' ', '')
				-- COPIA O TIPO QUE FOI DEFINIDO
				SET @TIPO = @SCRIPT
				-- VERIFICAR SE A TABELA E O CAMPO EXISTEM NO MYINDAIA
				SELECT @IN_MYINDAIA = COUNT(*)
				FROM MYINDAIA.DBO.VW_DEFINICAO_TABELA
				WHERE NM_TABELA = @TABELA
				  AND NM_COLUNA = @COLUNA
			END -- ALTER COLUMN
		END -- ALTER ^
	END -- ALTER TABLE
END -- ALTER ^
ELSE
BEGIN
	IF LEFT(@SCRIPT, 6) = 'CREATE'
	BEGIN
		SET @SCRIPT = LTRIM(RIGHT(@SCRIPT, LEN(@SCRIPT) -6))
		-- CREATE TABLE
		IF LEFT(@SCRIPT, 5) = 'TABLE'
		BEGIN
			SET @SCRIPT = LTRIM(RIGHT(@SCRIPT, LEN(@SCRIPT) -5))
			-- PROCURA POR INÍCIO DE LINHA APÓS O NOME DA TABELA
			SET @POSITION = CHARINDEX(NCHAR(13), @SCRIPT)
			-- SE NÃO ENCONTRAR O INÍCIO DE LINHA PROCURA POR ESPAÇO
			IF @POSITION = 0
				SET @POSITION = CHARINDEX(' ', @SCRIPT)
			-- COPIA O NOME DA TABELA
			SET @TABELA = RTRIM(LEFT(@SCRIPT, @POSITION -1))
			-- SE TEM DBO NA FRENTE DO NOME DA TABELA, REMOVE DEIXANDO APENAS O NOME
			SET @POSITION = CHARINDEX('.', @TABELA)
			IF @POSITION > 0
				SET @TABELA = RIGHT(@TABELA, LEN(@TABELA) - @POSITION)
			-- VERIFICAR SE A TABELA COMEÇA COM TMP_
			IF LEFT(@TABELA, 4) = 'TMP_'
			BEGIN
				SET @TABELA = RIGHT(@TABELA, LEN(@TABELA) - 4)
				SELECT @IN_MYINDAIA = COUNT(*)
				FROM MYINDAIA.DBO.VW_DEFINICAO_TABELA
				WHERE NM_TABELA = @TABELA
			END -- TABELA COMEÇA COM TMP_
		END -- ALTER TABLE
	END -- ALTER ^
END

-- VERIFICA SE FOI ENCONTRADO REGISTRO NO MYINDAIA
IF @IN_MYINDAIA > 0
BEGIN
	UPDATE MSDB.DBO.SYSJOBS
	SET ENABLED = 1
	WHERE Name IN ('Atualiza MyIndaia Novo', 'Atualiza MyIndaia Verifica', 'Atualiza MyIndaia Auxiliares')
	
	DECLARE @COMANDOSHELL VARCHAR(1000)
	SET @COMANDOSHELL = CASE ISNULL(@COLUNA, '')
	                        WHEN '' THEN 'Alteração na tabela <b>' + @TABELA + '</b> pelo modo Design.'
						ELSE 'Alteração no campo <b>' + @COLUNA + '</b> da tabela <b>' + @TABELA + '</b> pelo modo Script.'
						END
	SET @COMANDOSHELL = 'C:\MySendMail.exe ' + '"programadores@myindaia.com.br;programadores@myindaia.com.br;Alteração de campos no BROKER;' + @COMANDOSHELL + '"'
	EXEC xp_cmdshell @COMANDOSHELL
	--INSERT INTO TALTER_LOG(DS_SCRIPT) VALUES(@COMANDOSHELL)
END

--*/


GO
ENABLE TRIGGER [TR_ALTER_TABLE] ON DATABASE
GO
